[2022-04-27 06:30] shamasis commented on #10759
Hi. Thanks for writing in. We are working hard to add the essential request released features for the new protocols. Once we have the most requested ones covered, we will draw our attention to this.

we also have a hunch that when we work on features that work with locally saved protofiles, there will be a tonne of improvements that will all together impact decisions.

[2022-04-27 06:35] shamasis commented on #10640
Hi there.

This might be something we will visit mid to long term. Current focus is to enable as many features as we can at the request sending and debugging level.

[2022-04-27 10:50] DannyDainton commented on #10866
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9615

[2022-04-27 10:51] #10866 closed, assigned to nobody

[2022-04-27 11:07] abhinaba-ghosh commented on #5203
Hi @saurabhranjansingh,

Thank you for raising the issue.

We have refreshed the user experience around scrolling and we hope you will like the experience. Kindly upgrade to the latest Postman app. Please re-open/create an (/the) issue if you have any more feedback around the same.

![Screenshot 2022-04-27 at 4 32 36 PM](https://user-images.githubusercontent.com/23141842/165505058-3cad9aa4-fd03-40

[2022-04-27 11:07] #5203 closed, assigned to nobody

[2022-04-27 11:23] abhinaba-ghosh commented on #5677
Hey @abhijitkane ,

We have added the copy button for the published documentation in the latest Postman app.
![Screenshot 2022-04-27 at 4 51 43 PM](https://user-images.githubusercontent.com/23141842/165507682-e8cb2d9a-e054-496d-9000-a9ebf83ebe46.png)

[2022-04-27 11:23] #5677 closed, assigned to sankalp0o

[2022-04-27 11:31] DannyDainton commented on #10810
Hey @bascomb

I'm closing this out due to inactivity, if more details and clear reproducible steps are provided we can look at opening this again.

[2022-04-27 11:31] #10810 closed, assigned to nobody

[2022-04-27 11:47] abhinaba-ghosh commented on #5889
Hey @joeminicucci

I'm going to close out this issue for now but we can open it up again if you/other users are facing the same issue.

[2022-04-27 11:47] #5889 closed, assigned to nobody

[2022-04-27 11:50] DannyDainton commented on #10818
Hey @shitchell

I've imported the schema and saw this happening locally - I've raised an issue with the team.

We'll update this thread once we have some more information to share.

[2022-04-27 11:54] KBulmer commented on #10340
Updated to v9.16.1 and it seems the issue is fixed again. 🙂

[2022-04-27 11:54] RaisinTen commented on #10340
Thanks for the confirmation, closing! :)

[2022-04-27 11:54] #10340 closed, assigned to dsanders11

[2022-04-27 11:59] amrit9326 opened #10867 "Postman Incorrectly read csv file"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I'm trying to automate in postman and there's one issue I'm struggling with...

Suppose csv file has duplicate column as below

C,A,A,A
x,1,4,7
y,3,5,8
z,3,6,9
Now when I'm trying to upload my csv file to run the collection in pr

[2022-04-27 12:06] RaisinTen commented on #9832
Hey @nbon12, could you please test out the latest Postman version (v9.16.x) and let us know if this is still an outstanding issue?

[2022-04-27 12:07] RaisinTen commented on #6347
Hey folks, could y'all please test out the latest Postman version (v9.16.x) and let us know if this is still an outstanding issue?

[2022-04-27 12:13] RaisinTen commented on #2833
Hey folks, could y'all please test out the latest Postman version (v9.16.x) and let us know if this is still an outstanding issue?

[2022-04-27 12:15] DannyDainton commented on #10867
Hey @amrit9326

The way that data files work within the runner is that it uses those column headers (C, A, A, A) as the variable name, this is the name you reference in your Collections.

Those would need to be _unique_ titles for the runner to know, which Column you wanted to get the values for in each iteration. If you were to use `{{A}}` in a request, which value do you want to use?

The same s

[2022-04-27 12:29] RollingHog commented on #285
+1
And so on!

[2022-04-27 12:32] fjuza1 commented on #10861
I am closing this issue, I had to save request as request and delte old request.

[2022-04-27 12:32] #10861 closed, assigned to nobody

[2022-04-27 12:33] amrit9326 commented on #10867
Hi @DannyDainton ,

Yes I believe the same but is there any solution for this ?
Below is my requirement .

My request payload suppose looks as below -

{
"name" : "amrit"
"department" : ["IT","CSE","ECE"]
}

as you can see department is array in my request payload so I was preparing the data like below in excel

name, department, department, department
amrit, IT             ,   CSE,

[2022-04-27 12:41] #5949 closed, assigned to nobody

[2022-04-27 12:43] AtricoSoftware opened #10868 "Allow "local" variables to be defined for single request from the GUI"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

A complex request makes repeated use of a given value ("version" is a good example).  To change the version, the value needs changed in a number of places (url, filename parameter, etc).  This is an ideal use case for variables
H

[2022-04-27 12:57] DannyDainton commented on #10867
You could do something like this:

CSV file
[code]

Request Body
[code]

Preview

![image](https://user-images.githubusercontent.com/17089546/165522960-481271d7-62ac-4300-ba27-8293569613c9.png)

Request body in the Runner
![image](https://user-images.githubusercontent.com/17089546/165522845-cc5615f5-4e37-405e-8aea-fbfa206cc633.png)

[2022-04-27 12:59] DannyDainton commented on #10821
Hey @Soundman32

Is this still an issue for you in the latest version?

Are you able to provide some screenshots or a short recording of the problem you're facing? It will help us to recreate this on our side.

[2022-04-27 12:59] abhinaba-ghosh commented on #6082
Hi @vdespa , thanks for raising this issue.
We have recently refreshed the contents to add more insights regarding the scope of the variables. Let us know if you have any feedback on the same.
https://learning.postman.com/docs/sending-requests/variables/

[2022-04-27 12:59] #6082 closed, assigned to SueSmith

[2022-04-27 13:04] DannyDainton commented on #4254
Hey @ed-mak , @Mahonnant, @thepeej-pwhite6

Is this still an issue for you in the latest version of the platform?

If so, is it possible to provide some reproducible steps in a newer version - I understand it's been a while and the platform has moved on since then but I wanted to revisit the issue.

[2022-04-27 13:06] DannyDainton commented on #6339
Closing the issue due to inactivity.

[2022-04-27 13:06] #6339 closed, assigned to dhineshwiz, Raja-Simha

[2022-04-27 13:21] amrit9326 commented on #10867
Hi @DannyDainton  , apologies I didn't explained the issue in more deep , the above will work but the real issue is explained as below ---

 request payload looks as below -
{
    "name": "amrit",
    "department": [
     {
          "deptName" : "IT"
           "deptID" : 1
     },
      {
          "deptName" : "CSE"
           "deptID" : 2
     }
]
}

Here I want to get the department in iterat

[2022-04-27 13:33] DannyDainton commented on #6709
This is the latest tabs experience in version 9.16.1 of the platform

<img width="2027" alt="Screenshot 2022-04-27 at 14 30 28" src="https://user-images.githubusercontent.com/17089546/165530021-fa270c2e-354e-4937-9a0a-59aa13d30a2e.png">

[2022-04-27 13:46] DannyDainton commented on #10867
Hey @amrit9326

This feels like it's moving more towards a Javascript code tutorial within the sandbox, rather than being a Postman product issue. I don't think that we're going to fix anything in the product based on this issue.

In an effort to reduce the number of these issues in the repo, I'm going to close this out and ask you to raise this as a new topic on the Postman Community forum, pleas

[2022-04-27 13:46] #10867 closed, assigned to nobody

[2022-04-27 13:49] #6775 closed, assigned to abhijitkane

[2022-04-27 13:53] DannyDainton commented on #6824
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/10410

[2022-04-27 13:53] #6824 closed, assigned to ritwijsinha

[2022-04-27 13:55] abhinaba-ghosh commented on #6367
Hey @coto ,  Thank you for raising this improvement request.

We will keep this thread updated with more information, once we have any to share.

Thanks

[2022-04-27 14:39] DannyDainton commented on #9568
Closing this due to inactivity.

[2022-04-27 14:39] #9568 closed, assigned to nobody

[2022-04-27 14:41] DannyDainton commented on #9545
Closing this due to inactivity. The notion of archiving Collections is also no longer part of the latest Postman platform.

[2022-04-27 14:41] #9545 closed, assigned to nobody

[2022-04-27 14:44] DannyDainton commented on #9535
Closing this out due to inactivity - If this is still causing you problems in the latest version of the platform, we can look at reopening it.

[2022-04-27 14:44] #9535 closed, assigned to giridharvc7

[2022-04-27 14:51] #9533 closed, assigned to nobody

[2022-04-27 14:59] moon-sam commented on #10773
The variables issue seems to have been flagged in https://github.com/postmanlabs/postman-app-support/issues/10806

[2022-04-27 15:09] brandonmaul commented on #10571
Hello! Here's an possible workaround for those on macOS or Linux:
`printf "\x1e" | pbcopy`

This will copy that 0x1E ASCII (Record Separator) character to your clipboard, you can then paste it at the end of the request.

[2022-04-27 15:10] giridharvc7 commented on #6719
Closing this ticket as the feature is rolled out to all the users. Read more about it [here](https://blog.postman.com/introducing-automatic-schema-imports-for-graphql-requests/)

[2022-04-27 15:10] #6719 closed, assigned to akshaydeo

[2022-04-27 16:15] adandy91 opened #10869 "Bootcamp: Environment Variables tutorial is broken"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Environment Variables Boot camp tutorial is broken.
Tutorial stops at 20%/Adding Variable name.

### Steps To Reproduce

1. Click on Bootcamp -> Debugging and manual testing -> Environment Variables
2. Complete the steps up to ad

[2022-04-27 16:41] timbochamp commented on #10799
Hi @nishakazmi12, we're going to close this due to inactivity. Please feel free to reopen with the answers to Danny's questions and we can investigate if you feel this is more a Postman issue than a server-side problem

[2022-04-27 17:23] Carson-JG commented on #8195
+1

[2022-04-27 19:25] ramrochan commented on #7201
At Postman, we are concentrating on Performance and recently a lot of Performance improvements have been made and we will be continuing the effort.

[2022-04-28 02:10] timbochamp commented on #7568
I'm going to close this out where migrations from v6 to v7 for teams happened in January this year, so I don't think this link is accessible anymore.

For the second issue, the publish documentation flow uses Postman for Web now, and the "Learn more about version tags" link was working for me when testing on Windows 10.

Please feel free to reopen this if I'm mistaken here!

[2022-04-28 02:10] #7568 closed, assigned to nobody

[2022-04-28 02:34] timbochamp commented on #7949
Hi @milititskiy, sorry to have this fall off our radar! Are you still able to reproduce this on the latest v9.16.1 version? It doesn't look like that Google Drive link is accessible anymore to see the chaining you used. I tried a chain of pm.sendRequests like so

![Screen Shot 2022-04-27 at 11 32 25 PM](https://user-images.githubusercontent.com/4521134/165664796-faf4cec1-615a-42a2-aa94-35298cdd415

[2022-04-28 02:38] timbochamp commented on #8324
I'm closing this out due to inactivity, but if this is still an issue for you in the latest v9.16.1, we can look to reopen it again!

[2022-04-28 02:38] #8324 closed, assigned to giridharvc7

[2022-04-28 05:05] #6657 closed, assigned to giridharvc7, preethammavin

[2022-04-28 06:13] ArchanaDontula commented on #4058
Yes much needed feature

[2022-04-28 08:53] nick4u commented on #285
+1

[2022-04-28 09:36] kamalaknn commented on #9739
Hey @Yuvashkenazi @ICCTest @Arthi93

Could you share a sample collection/request that is causing Postman to crash? And, could you confirm if you are still seeing this issue on the latest version of Postman 9.16.1?

I have been testing the latest version of Postman with a large response size with `https://postman-echo.com/bytes/60/mb` and I am not able to reproduce the crash.

[2022-04-28 09:45] kamalaknn commented on #8977
We have made several improvements to how Postman loads the collections in your workspaces in the recent releases. This should fix issues that might have caused sluggishness during the app launch. Do try out the latest version of Postman and let us know if you are still seeing any issues.

[2022-04-28 09:45] #8977 closed, assigned to nobody

[2022-04-28 09:48] kamalaknn commented on #8436
@AnvarNazar We have removed the intermediary loading screen and made many performance improvements to the desktop app recently.

Do try out the latest version and let us know if you are still seeing any issues.

[2022-04-28 09:48] #8436 closed, assigned to nobody

[2022-04-28 09:55] kamalaknn commented on #8328
@David-A-Anderson I could not recreate the issues you have reported with multiple Postman windows on the latest version. I am closing this issue since we do not have enough information to replicate this from our side.

[2022-04-28 09:55] #8328 closed, assigned to nobody

[2022-04-28 10:00] kamalaknn commented on #8269
We've released many improvements to how Postman loads collections and history in workspaces. Do try out the [latest version](https://www.postman.com/downloads/) and let us know if you are still facing any issues.

[2022-04-28 10:00] #8269 closed, assigned to nobody

[2022-04-28 10:01] #7830 closed, assigned to giridharvc7, saswatds

[2022-04-28 10:07] kamalaknn commented on #6941
We've made several improvements to how Postman loads history and collections in workspaces. This should improve the UI experience during app startup and switching workspaces, even for large workspaces.

[2022-04-28 10:07] #6941 closed, assigned to coditva

[2022-04-28 10:45] DannyDainton commented on #5539
Closing this due to inactivity - If you're still having issues in identified areas, on the latest version of the platform, please raise a new issue with the information.

[2022-04-28 10:45] #5539 closed, assigned to vkaegis

[2022-04-28 10:59] DannyDainton commented on #10705
I'm going to close this issue as a duplicate and link it to https://github.com/postmanlabs/postman-app-support/issues/6354

[2022-04-28 10:59] #10705 closed, assigned to nobody

[2022-04-28 11:03] akshay-kulkarni-03 commented on #6181
Hi @udginvr , with the most recent release this should be fixed. As of today you can't move requests specifically but if you move your collection the comments also get moved!

Feel free to re-open this issue if you face it again.

[2022-04-28 11:03] #6181 closed, assigned to nobody

[2022-04-28 11:03] DannyDainton commented on #10214
Closing this out as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6354

[2022-04-28 11:03] #10214 closed, assigned to nobody

[2022-04-28 11:05] DannyDainton commented on #10259
Closing this due to inactivity.

[2022-04-28 11:05] #10259 closed, assigned to postman-staff

[2022-04-28 11:07] ICCTest commented on #9739
Hi!

Yes I still see the crash!

BR,
ICCTest

Från: Kamalakannan ***@***.***>
Skickat: den 28 april 2022 11:37
Till: postmanlabs/postman-app-support ***@***.***>
Kopia: Naser Khodabin ***@***.***>; Mention ***@***.***>
Ämne: Re: [postmanlabs/postman-app-support] Postman crashes on large response size (>50MB) (#9739)

Hey @Yuvashkenazi [github.com]<https://urldefense.com/v3/__https:/github.com/Yuva

[2022-04-28 11:07] DannyDainton commented on #10167
Closing this due to inactivity, if you're still facing the issue in the latest version of the platform, please raise a new issue with the relevant contextual information.

[2022-04-28 11:07] #10167 closed, assigned to postman-staff

[2022-04-28 11:08] akshay-kulkarni-03 commented on #6445
Hi @nagarjun , you can copy the link from the request tab in the left hand side bar! Let us know if you face any issue.

[2022-04-28 11:08] #6445 closed, assigned to sankalp0o, preethammavin

[2022-04-28 11:30] DannyDainton commented on #10869
Hey @adandy91

This looks like it's been captured here too https://github.com/postmanlabs/postman-app-support/issues/10684#issuecomment-1063141573

I'm going to close this issue to help centralise the information.

[2022-04-28 11:30] #10869 closed, assigned to nobody

[2022-04-28 11:35] DannyDainton commented on #10263
Hey @lobbin

I'm going to close this out due to inactivity, if you're still facing the issue in the latest version, we can look at reopening and investigating further.

[2022-04-28 11:35] #10263 closed, assigned to nobody

[2022-04-28 11:37] DannyDainton commented on #10135
Closing this due to inactivity

[2022-04-28 11:37] #10135 closed, assigned to nobody

[2022-04-28 11:39] DannyDainton commented on #10225
Closing this out due to inactivity, if you're still facing the issue in the latest version of the platform, please open a new issue with the relevant information.

[2022-04-28 11:39] #10225 closed, assigned to nobody

[2022-04-28 11:40] DannyDainton commented on #10285
Closing this issue due to inactivity

[2022-04-28 11:40] #10285 closed, assigned to postman-staff

[2022-04-28 11:52] DannyDainton commented on #10858
Hey @Pricilla09 👋🏻

Would you be able to clarify the steps you're taking and the area of the platform that you were in when this occurred?

You mention adding and removing members from a _Team Workspace_ but the image shows members being removed from a Team, which is something different.

[2022-04-28 11:56] DannyDainton commented on #8332
Hey @OrdinaPoolAuto

I'm closing this out due to inactivity, if you're still facing the issue in the latest version, we can look to reopen this again and investigate further.

[2022-04-28 11:56] #8332 closed, assigned to nobody

[2022-04-28 12:04] DannyDainton commented on #8346
Hey @daswass,

Is this still an issue for you?

I've used something like this in the past to clear out the variables, based on a specific naming convention that I had.

[code]

[2022-04-28 12:40] kamalaknn commented on #9739
@ICCTest

1. Would it be possible to share an API that we can use to replicate the issue?
2. Could you share the logs from `View -> Developer -> View Logs In Finder` to `help@postman.com`?

[2022-04-28 13:45] DannyDainton commented on #9456
Closing this out due to it showing the correct validation for trailing spaces, as per the previous comment.

[2022-04-28 13:45] #9456 closed, assigned to nobody

[2022-04-28 13:48] DannyDainton commented on #9457
The `export` is part of the Collection context menu in the latest version. Closing this issue.

[2022-04-28 13:48] #9457 closed, assigned to nobody

[2022-04-28 14:06] #9367 closed, assigned to nobody

[2022-04-28 14:11] timbochamp commented on #9472
Closing this where the option to close the Scratch Pad banner is available as of v8.0.3. Tracking the issue to disable the banner from reappearing in #9488

[2022-04-28 14:11] #9472 closed, assigned to nobody

[2022-04-28 14:42] DannyDainton commented on #9602
There have many performance-based improvements since this was reported. Check out the latest version of the platform.

Closing this issue out for now, due to this being related to older versions.

[2022-04-28 14:42] #9602 closed, assigned to nobody

[2022-04-28 14:49] DannyDainton commented on #9605
Hey @praveendvd

Is this still an issue for you in the latest version of the platform? Trying to recreate this and I'm unable to on 9.16.1

[2022-04-28 16:37] DannyDainton commented on #6822
Hey @BrandonGordon126 👋🏻

This area of the platform has been updated in the latest versions and no longer shows this on the button.

I'm going to close this out.

[2022-04-28 16:37] #6822 closed, assigned to abhijitkane

[2022-04-28 16:39] DannyDainton commented on #6855
Hey @danteay

This looks like an issue with an earlier version of the platform - I'm going to close this out but if you're still having issues with the latest version we can reopen and investigate further.

[2022-04-28 16:39] #6855 closed, assigned to nobody

[2022-04-28 16:54] DannyDainton commented on #7423
Hey @robskrob / Anyone else who reacted to the issue

Is this something that you're still having issue with?

[2022-04-28 16:59] DannyDainton commented on #7343
Hey @SegarJJ

It's difficult to know which area you're explaining from this information and the platform has changed a lot recently.

I'm going to close this now but if you're still having issues in the latest version we can look to reopen this again.

[2022-04-28 16:59] #7343 closed, assigned to vkaegis

[2022-04-28 19:21] robjewell-ibotta commented on #7423
Hi, @DannyDainton thank you for your message. This was some time ago, and I am not too sure if I can presently recreate the issue, seeing as the use case is pretty old for me.

[2022-04-28 19:36] DannyDainton commented on #7423
I appreciate the response and apologies that this has been around for so long.

I'm going to close this for now but I we can look to reopen it again if others respond.

Thanks again.

[2022-04-28 19:36] #7423 closed, assigned to nobody

[2022-04-28 21:00] #8113 closed, assigned to saswatds

[2022-04-28 21:11] rochanram commented on #7775
@wpata, @cmonroeEIS @testerncoder Are you still facing this issue?

[2022-04-28 21:17] rochanram commented on #7790
I tried all the steps in the original comment and was not able to reproduce it.
@ebookerd1 , @brunomoreira86, @rwilliams3 Is this still happening?

[2022-04-28 21:20] wpata commented on #7775
After using postman.setNextRequest(...) and chaining my request I am able to run collection. With out that I can not run my collection.

[2022-04-28 21:27] rochanram commented on #7775
@wpata Can you remove all the pm.setNextRequest() and run the collection and share anything which shows up in the postman app console?

[2022-04-28 21:28] RafaelTaleroWL commented on #7775
The only way that worked for me was adding delay in the collection setup, i put 300ms and everything worked successfully

[2022-04-28 21:29] rochanram commented on #7775
yeah, @wpata can you also try the @RafaelTaleroWL solution, please?

[2022-04-28 22:42] sunilvp commented on #4254
Saw this error in mac , but even if we are getting this error can we catch it programatically and not fail the runner altogether ?

[2022-04-29 01:16] ahdung commented on #9456
Ok, let users turn off the fucking checking is you can do.

[2022-04-29 03:03] shubhbhargav commented on #6001
@pamelawilson65 We understand the frustration. Can you please share your system details and a screen recording of the issue? We will get it resolved ASAP for you.

[2022-04-29 07:37] Zabuzard commented on #6347
Works now, thanks :)

[2022-04-29 07:38] deepakaggarwal7 commented on #5502
in my case I want useremail to be passed as header so that an email could be sent to the actual user who triggered it. having a variable like {{userEmail}} will make it error-prone as users don't need to remember updating request email to their email id everytime a different user runs request

[2022-04-29 07:44] RaisinTen commented on #6347
Thanks for the confirmation, closing! :)

[2022-04-29 07:44] #6347 closed, assigned to nobody

[2022-04-29 08:51] DannyDainton commented on #7961
Hey @glpunk / @navneetgarggate6

As you are the most recent users to comment could either of you share more details of the issue you're facing, please? Screenshots of a short video of this happening in the latest version will help visualise the issue and allow us to debug further.

[2022-04-29 08:54] DannyDainton commented on #8013
Closing this issue due to inactivity - If you're still facing this issue we can look to reopen this again.

[2022-04-29 08:54] #8013 closed, assigned to nobody

[2022-04-29 08:59] DannyDainton commented on #8182
This section of the platform has been updated since the issue was raised with several of the items mentioned being removed.

I'm going to close this out but if this is still a confusing area for users we can look to reopen this again.

[2022-04-29 08:59] #8182 closed, assigned to nobody

[2022-04-29 09:08] DannyDainton commented on #8695
Hey @jackpeeples

Did you get this working in the end, we did make some changes to the Circle CI Orb recently. If this is no longer an issue, could we close this out?

[2022-04-29 09:09] DannyDainton commented on #8623
Closing this due to inactivity.

[2022-04-29 09:09] #8623 closed, assigned to nobody

[2022-04-29 11:16] Soundman32 commented on #10821
It's still an issue.  Not sure what more I can add for repro steps.

I've got several different accounts on Chrome (work/home etc), so maybe it's something to do with not clearing the cookies for the right Chrome account?

I've got a work around by clearing the cookies manually in Chrome.

![image](https://user-images.githubusercontent.com/8759223/165934098-d1a123dc-c50b-4026-9f1f-0174fdf3f56a.png

[2022-04-29 11:47] postman-support commented on #8088
Hi there,

Apologies but it is not available for collaboration, as the Postman team internally uses the team domain "postman".

via @Swapnil-getpostman | Postman Support

[2022-04-29 12:24] DannyDainton commented on #8625
Hey @marcojsa

I'm going to close this issue - If you're still experiencing this in the new version of the platform, we can look at reopening it again.

[2022-04-29 12:24] #8625 closed, assigned to nobody

[2022-04-29 12:48] #8653 closed, assigned to giridharvc7

[2022-04-29 12:52] DannyDainton commented on #8706
Hey @vivekpatel111

I'm unable to reproduce this in the latest version on the platform (9.16.1) - I'm going to close this now but if you are still experiencing the issue then we can look to reopen it again.

[2022-04-29 12:52] #8706 closed, assigned to nobody

[2022-04-29 12:56] DannyDainton commented on #8517
Hey @ashwinchalaka

I'm going to close this issue due to inactivity, if you're still facing this issue in the latest version of the platform, we can look to reopen it again.

[2022-04-29 12:56] #8517 closed, assigned to giridharvc7, codenirvana

[2022-04-29 12:59] DannyDainton commented on #8491
Hey @Madhusudanpatidar

I'm unable to reproduce the issue given the information you have provided. If this is still an issue on the latest version of the platform, we can look to reopen it again.

[2022-04-29 12:59] #8491 closed, assigned to nobody

[2022-04-29 13:19] DannyDainton commented on #6877
In the latest version of the platform I can see the GraphQL body in the documentation:

<img width="1545" alt="image" src="https://user-images.githubusercontent.com/17089546/165951883-069168b8-0586-41c8-931d-dcc33e4817e8.png">

This has been extracted from this Collection https://www.postman.com/devrel/workspace/graphql-examples/documentation/13191452-8892708a-95d0-40d2-902f-c3f22b7d4af0

I'm goin

[2022-04-29 13:19] #6877 closed, assigned to godfrzero, Raja-Simha

[2022-04-29 13:22] #6890 closed, assigned to coditva

[2022-04-29 14:19] hveiga opened #10870 "gRPC request tab crashes when trying to paste Bearer token the second time"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When sending requests using the new grpc requests I normally need to paste a bearer token multiple times as those expire over time. First time it always works, however when I double click on the value to paste the new value, the

[2022-04-29 14:46] appurva21 commented on #10870
Hey @hveiga!

Thanks for writing in and sorry that you are facing the issue. Could you please share:
1.  A screen recording of the above issue to help us reproduce it (I tried the above-mentioned steps, but couldn't reproduce it on our end)
2. Logs from `View -> Developer -> View Logs In Finder` to [help@postman.com](mailto:help@postman.com)?

[2022-04-29 16:20] DannyDainton commented on #10303
Closing this issue due to inactivity.

[2022-04-29 16:20] #10303 closed, assigned to postman-staff

[2022-04-29 16:22] DannyDainton commented on #10361
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9752

[2022-04-29 16:22] #10361 closed, assigned to postman-staff

[2022-04-29 16:23] DannyDainton commented on #10378
Closing due to inactivity

[2022-04-29 16:23] #10378 closed, assigned to nobody

[2022-04-29 16:34] nishakazmi12 commented on #10799
Hello,

Sorry, @DannyDainton. I usually don't open my Gmail account so, I couldn't reply to you earlier.

- Are you recreating the request after that time or trying to run the same request again?
  I am trying to run the same request.

- Have any of the originally sent headers changed?
   Not really, except for the Authentication parameter I change it after a month.

- Has the file been changed or

[2022-04-29 16:37] DannyDainton commented on #10147
@giridharvc7 - Need some clarification 🙏🏻, is the number shown next to the `Headers`, just the number of rows in the table?

It appears as though the number isn't impacted by headers that are overridden by others or if headers in the table are disabled. 🤔

[2022-04-29 16:53] DannyDainton commented on #8718
I'm going to close this issue - I'm unable to reproduce it on the latest version. If the select is selected, the backspace is a shortcut to delete the element. This will always display a confirmation modal before anything is deleted.

[2022-04-29 16:53] #8718 closed, assigned to nobody

[2022-04-29 16:54] DannyDainton commented on #8722
I'm going to close this issue due to inactivity - If you're still facing the issue on the latest version, we can look at reopening it again.

[2022-04-29 16:54] #8722 closed, assigned to nobody

[2022-04-29 16:55] #8733 closed, assigned to nobody

[2022-04-29 18:27] Yuvashkenazi commented on #9739
Sorry @kamalaknn, since making this post I have switched jobs and no longer have access to the database that was causing this issue.

[2022-04-29 20:54] praveendvd commented on #9605
@DannyDainton  sure Danny will look into it next week, will be away for weekend

[2022-04-29 21:52] CodyBontecou opened #10871 "SQL highlighting works in Documentation edit view but disappears once it is saved."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

SQL highlighting works in Documentation edit view but disappears once it is saved.

Edit view:
<img width="616" alt="Screen Shot 2022-04-29 at 11 49 36 AM" src="https://user-images.githubusercontent.com/20440899/166073547-51511fe

[2022-04-30 05:39] mayur-tendulkar opened #10872 "Embed Video in Documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Postman Editor for documentation is in BETA. It either allows embedding images or using Markdown mode.  However, it doesn't allow embedding videos in the documentation.

### Describe the

[2022-04-30 08:08] spythewhite opened #10873 "Please support using the postman agent in Brave"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I can't use the Postman agent with Brave - I need to use the Postman windows application instead

### Describe the solution you'd like

I'd like Brave to support using the Postman agent (

[2022-04-30 15:30] ouribeb930 commented on #2086
+1

[2022-04-30 19:04] princebillyGK commented on #285
Still no update on this?

[2022-04-30 19:36] Eptagone commented on #9605
Me too

[2022-05-01 15:17] umeshp7 commented on #10648
@GeorgeExplorer @brandsr prioritizing this. We'll have an update for you in a week. Thanks for understanding.

Meanwhile, as a workaround to unblock you. Please copy-paste the content from the link through "Raw text" and import your WSDL in postman. 🙇🏼

[2022-05-01 16:46] DanRos84 commented on #10648
@umeshp7 Hi, I have the same error shown by @GeorgeExplorer. In a localhost App. I can't import either on the desktop or on the web page.
what can I do?

[2022-05-01 17:43] DanRos84 commented on #10648
Hello everyone! I have the same issue...and I will be wating for your update!! Thanks in advance.

[2022-05-02 00:54] charbel-z commented on #4753
+1

[2022-05-02 01:03] noskcaja-gmail commented on #4690
Hi there, I just found that I'd love this feature too please.

[2022-05-02 04:25] shubhbhargav commented on #9469
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1066

[2022-05-02 04:25] #9469 closed, assigned to nobody

[2022-05-02 05:46] ianmenethil commented on #4818
I can't believe something as basic as this is not available in postman... Sadge

[2022-05-02 06:01] abhijitkane commented on #10817
Thanks @robbopatterson - AWS CodeCommit is on our roadmap. Is your stack completely based on AWS, or do you use other products for your repo/CI use-cases? Feel free to reply over email if you want to include more info about your stack/use-case. Thanks.

[2022-05-02 06:05] abhijitkane commented on #10749
@Raj-postman Can you expand on the use-case you mentioned re. the collection being created post-sync? The collection generation capability is available in Postman. We can explore the deployment flow, and are happy to chat with engineers who own this part of the flow from the end-user's team.

[2022-05-02 10:11] gedankennebel commented on #7254
+1

[2022-05-02 10:26] muarachmann commented on #4968
+1 on this. Any ETA?

[2022-05-02 13:52] LarisaMocu commented on #6001
I'm having the same problem. Trying to save environments variables, with pm.environment.set(), and it's not working.
Example: I'm setting "token" variable, pm.environment.set("token", pm.response.text()), and I see the "token" variable in the environment, but it's empty. If I run the entire collection (right-click -> Run collection) it works fine, but I really need to run requests individually. Pl

[2022-05-02 14:15] robbopatterson commented on #10817
RE:Is your stack completely based on AWS, or do you use other products for
your repo/CI use-cases?

Thanks.  Our stack is completely AWS based.

On Mon, May 2, 2022 at 12:01 AM Abhijit Kane ***@***.***>
wrote:

[2022-05-02 15:00] Coding-Means-Always-Learning commented on #8433
We would like this feature as well. Appreciate collection is running all the requests within a folder. However when we allow the option to check / select certain requests it is will be helpful for Postman to remember that setting unless it is changed again by the user.
This allows us to run the collection with same setting in future

I appreciate there is also an option to do this through history

[2022-05-02 15:43] malvikach commented on #8433
@Coding-Means-Always-Learning Thanks for your feedback.

I definitely understand how it might be confusing to get this achieved using history if you are running different settings.

However, I would love to understand your use case better. How do you utilize the setting and what use cases does it enable you with? We are looking at improving the runner experience and your feedback will definitely h

[2022-05-02 16:48] KijkmaarFF opened #10874 "Feature: Make 'send' request button placement configurable to be either left or right side of URL bar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

The send button disappears when the window is smaller than ~3/5 monitor width (1080p, scaling 100%) while the URL bar still is half empty. This c

[2022-05-02 18:34] ga250182 commented on #3646
When we can expect crypto lib made available in postman

[2022-05-02 20:43] ramji367 commented on #10858
@ArjunSingh-PM - FYI, I ran into this same issue a couple of weeks ago.

[2022-05-03 04:24] atirach-in opened #10875 "Postman doesn't load items inside a collection on the sidebar"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman version 9.17.1 can not fetch file API in folder my workspace please fix issue

### Steps To Reproduce

1. Open postman
2. Can not fetch file API in folder my workspace

### Screenshots or Videos

![image](https://user-ima

[2022-05-03 04:33] abhijitkane commented on #10875
@atirach-in Can you provide additional context about what your workflow is? Are you using the Postman API on api.postman.com, or trying to upload a file while sending a request?

[2022-05-03 04:39] abhijitkane commented on #10820
@helloint This should be fixed now. Feel free to reopen if you're still seeing inconsistencies in the indentation.

[2022-05-03 04:49] atirach-in commented on #10875
No, I opened windows postman, then went to my workspace and opened the project folder, it didn't load my APIs in that folder.
![Screenshot_1](https://user-images.githubusercontent.com/52520152/166405721-f6a80415-10ce-4802-8e9b-1f1ef2612941.png)

[2022-05-03 06:59] atirach-in commented on #10875
I clear cache and reload is fixed issue thanks

[2022-05-03 10:19] gomesdigital commented on #7046
I have this problem too! it's been a couple weeks since I tried to export my collection and its status is still stuck on zipping...

For anyone else, @cyrielle-hada 's mention above did what I needed.

[2022-05-03 13:37] bpedro commented on #8213
Hey everyone, thanks for all your comments and patience with this issue.

We have been working on a new way of updating individual collection items (requests, folders, responses).

Please let me know if you'd be interested in testing the new endpoint.

[2022-05-03 13:40] gbarmashiahflir commented on #8213
I'll be happy to

[2022-05-03 15:44] damianh opened #10876 "AWS Signature - support credential files and profiles."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently one can specify an AccessKey, SecretKey etc :
![image](https://user-images.githubusercontent.com/57436/166478906-95476343-217d-4a4c-984c-3b685d53aee5.png)

However, when using t

[2022-05-03 15:59] roobee15 commented on #10836
https://user-images.githubusercontent.com/91977660/166490358-79c0411e-3395-4630-b3dc-390b07ae8c8a.mp4

[2022-05-03 16:07] Experlogix-DEV opened #10877 "Postman Duplicate Tab exhibits bizarre behavior"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the Postman app, when I duplicate a tab, it creates more like Siamese twins, forever conjoined, that always remain mirror images of each other. After duplicating a tab I wanted to change the JSON payload of the duplicated one

[2022-05-03 16:24] trajano opened #10878 "OpenAPI request body Examples are not loaded when imported"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I am trying to use openapi to define my API and I'd like Postman to use the values there rather than manually repeating in postman.

Here is a openapi spec doc.

[code]

### Describe the

[2022-05-03 16:25] angelofan commented on #3126
Most browsers have translation capabilities, but they are not a complete replacement for app-level localization support.

Some words are proper nouns in a specific application/programming language, for example, in any case, "postman" will not be translated into the language of other countries, in any language it should remain displayed "postman", if translated, would be ambiguous and might be cons

[2022-05-03 16:27] sciamano89 commented on #10862
I've only seen this happen in this collection, but I have mostly been using this one. Note that this collection was automatically created as a Test Suite with the API tool.

 I'm not sure where to get these.

[2022-05-03 17:16] arlemi commented on #3126
@angelofan I was definitely not offering the in-browser translation as a solution for that, more a workaround until we have a better option. 🙂

Thank you for the suggestion to use crowdin, I'll forward that to the team!

[2022-05-03 18:21] jitusinghdagar commented on #8768
![Screenshot (76)](https://user-images.githubusercontent.com/77379465/166517530-a2c19586-738c-4fbd-b639-2ab1338c1cb2.png)

[2022-05-03 18:21] jitusinghdagar commented on #8768
where is the problem

[2022-05-03 19:26] DannyDainton commented on #10877
Hey @SouthJordanDev ,

There's a difference between duplicating a request tab and duplicating a request.

https://learning.postman.com/docs/getting-started/navigating-postman/#tabs

[2022-05-03 19:28] andywgarcia opened #10879 "New Integration Request - Apollo Client + Mock Postman Server"
### Describe your current workflow

I am using React + Apollo Client to hit a mock Postman server with a graphql body. Right now, we are using a JSON body payload with the `x-mock-match-request-body: true` header in the requests in order to have different queries return different responses since all graphql requests go to the same endpoint.

[Here](https://stackoverflow.com/questions/71886715/how-

[2022-05-03 21:51] lougeo commented on #4818
I would also like to see this functionality - there's already a dropdown that can switch between 'No Environment' and the added environment... doesn't seem like a stretch.

[2022-05-03 23:17] lougeo opened #10880 "OpenAPI Contact Info Poor Formatting"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Contact info imported via OpenAPI 3.0 spec is formatted poorly. I am uploading auto generated OpenAPI spec, so manually fixing this every time I reupload my spec is a pain and unnecessary.

Contact info is formatted in Postmans d

[2022-05-04 02:44] percyvega commented on #10317
+1
I check for this feature on the other thread every year. I am amazed by that comment that says that "this has been implemented". FALSE.
I would use any other rest client that has this feature. Unbelievable.
Thanks :)

[2022-05-04 04:39] giridharvc7 commented on #10875
@atirach-in We are taking this up as a bug. Will keep this thread for future updates and reference.

[2022-05-04 05:49] godfrzero commented on #7037
I tried recreating this issue again using the latest app version (9.16.0/9.17.1, Desktop) by importing a ~50MB collection. The issue looks like it's resolved. Closing this ticket.

[2022-05-04 05:49] #7037 closed, assigned to saswatds

[2022-05-04 09:32] JWATSU commented on #9826
Is this being worked on? @giridharvc7

[2022-05-04 09:37] JWATSU opened #10881 "The possibility of stopping the collection runner at a given step and manually continuing when you are ready"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have a collection of 100 requests. Sometimes I want to run the first 50, stop and do some manual checking on the responses I have gotten before I do the next 50. This isn't possible rig

[2022-05-04 09:53] kian99 opened #10882 "How to remove headers in websocket request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Unable to remove hidden headers in a websocket request as below.

![image](https://user-images.githubusercontent.com/46668016/166660131-39411d82-c15a-40a4-b9de-ac52ca7bd11a.png)

### Desc

[2022-05-04 11:03] giridharvc7 commented on #10794
Thank you for getting in touch, is there a screenshot or a recording you can provide so that we understand this use case better?

Do you get a token after clicking on the "Get a new access token" and following the steps in the pop-up?

[2022-05-04 11:45] ebuter9292 commented on #10112
Is there a new ETA available on this feature?

[2022-05-04 13:42] brandonkirsch opened #10883 "Postman Editor Beta Mangles Markdown, Can't Be Disabled"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I write Postman documentation using the Classic Markdown editor.  Every time I begin to edit documentation, I am dropped into the new Postman Editor Beta by force.  Then I have to make two clicks to revert back to the Classic Mar

[2022-05-04 15:02] CarrieRaglan commented on #10076
I'm still not seeing this in the Published Documentation that Postman generates?

[2022-05-04 16:30] DannyDainton commented on #8782
Closing was moved back to the left in a previous version. If you're still having problems in the latest version we can reopen the issue.

[2022-05-04 16:30] #8782 closed, assigned to vkaegis, coditva

[2022-05-04 16:32] DannyDainton commented on #8814
Closing this due to inactivity.

[2022-05-04 16:32] #8814 closed, assigned to nobody

[2022-05-04 16:36] DannyDainton commented on #8798
Hey @vdespa

I'm unable to reproduce this issue in the latest version of the platform. If you're still able to recreate the problem we can look at reopening the issue but I'm closing this one for now.

[2022-05-04 16:36] #8798 closed, assigned to coditva

[2022-05-04 16:41] DannyDainton commented on #8807
Closing this due to inactivity.

[2022-05-04 16:41] #8807 closed, assigned to nobody

[2022-05-04 16:44] DannyDainton commented on #8901
Closing this due to inactivity, if you're still facing the same issue on the latest version of the platform we can look to reopen and investigate further.

[2022-05-04 16:44] #8901 closed, assigned to nobody

[2022-05-04 16:47] DannyDainton commented on #8964
Hey @pwyss0

I'm going to close this issue due to inactivity. If you're still facing these issues in the latest version of the platform we can look at reopening the issue.

[2022-05-04 16:47] #8964 closed, assigned to nobody

[2022-05-04 16:49] DannyDainton commented on #7996
Closing this due to inactivity.

[2022-05-04 16:49] #7996 closed, assigned to abhijitkane, vvs11

[2022-05-04 16:57] jblayter commented on #9544
Yes please! We need a way to disable the console logging 100%. If we could do this via JavaScript API that would be best so we can control it as needed. I use this for some testing of flows that can be up to 24,000 requests and the console just dies a slow and painful death.

[2022-05-04 17:08] #10877 closed, assigned to nobody

[2022-05-04 17:16] DannyDainton commented on #8125
Closing this due to inactivity. If you're still seeing this problem in the latest version of the platform, we can look to reopen this again.

[2022-05-04 17:16] #8125 closed, assigned to appurva21

[2022-05-04 19:11] wolph opened #10884 "Column content is cropped/trimmed when using variables in value"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

As you can see in the video, the content of the columns is cropped long before the column is at its maximum. It crops too soon with normal values as well, but if you introduce variables it becomes even worse.

https://user-images

[2022-05-04 19:43] akakani9 commented on #5970
It is actually working for me. Make sure your path to get the environment variable is correct depending on tag your json field is under.
For example: Instead of directly using response.id , if your field is under Data section we will need to provide
pm.environment.set(“testid”, response.data.id)

[2022-05-04 20:23] praveendvd commented on #9605
@DannyDainton  i see the issue still but works if i change the working directory from settings and then restart postman. ning

also now there is no warning icon being displayed also:

![image](https://user-images.githubusercontent.com/45095911/166819605-0e58e0a1-8f15-4b69-b9b5-ecace899541e.png)

[2022-05-04 23:46] sameerpremji opened #10885 "Postman doesn't remember the screen/monitor it was last displayed on"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

With dual monitors, whenever I launch Postman Desktop application, it always goes to the wrong screen/monitor regardless of how many times I move it to the other screen.

### Describe the

[2022-05-05 01:09] jviotti commented on #8809
Thanks a lot for reporting! I'll close this one so we can focus the discussion on https://github.com/postmanlabs/postman-app-support/issues/9598

[2022-05-05 01:09] #8809 closed, assigned to dsanders11

[2022-05-05 01:09] jviotti commented on #10885
Hey @sameerpremji ,

Thanks for reporting! On what operating system are you experiencing this?

[2022-05-05 02:28] babonales commented on #4946
Thanks for the very helpful and wonderful postman. It will be very nice to have feature like [https://jsoneditoronline.org/](url) filter or transform function for json result/response. Keep it up and more power!

[2022-05-05 05:06] kamalaknn commented on #8072
@Jgerardopine @matthewcoxx Could you confirm if you are still seeing the crashes on the latest version of Postman?

[2022-05-05 05:16] kamalaknn commented on #4881
@Krgopal We have pushed some performance improvements that help if you are working with large responses or large number of history in your workspace. Do try the latest version of Postman and let us know if you are still facing issues.

[2022-05-05 05:16] #4881 closed, assigned to kamalaknn

[2022-05-05 05:20] kamalaknn commented on #10453
Duplicate of #10410

[2022-05-05 05:20] #10453 closed, assigned to nobody

[2022-05-05 05:22] kamalaknn commented on #9906
Duplicate of #9014

[2022-05-05 05:22] #9906 closed, assigned to nobody

[2022-05-05 08:34] mishalalex commented on #1066
+1

[2022-05-05 08:51] fathur commented on #8122
any answer for this question, it has been two years?

[2022-05-05 09:01] wesleyel opened #10886 "Postman Proxy to can't capture https requests with port other than 443"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I use a proxy to capture Android application traffic, https requests to ports other than the default 443 do not appear in the result list.

Only find `https://example.com/api/endpoint?query=example`,

but no `https://example

[2022-05-05 09:54] DannyDainton commented on #7774
Closing this due to inactivity, If this is still an issue in the latest version of the platform we can look at reopening it again.

[2022-05-05 09:54] #7774 closed, assigned to abhijitkane

[2022-05-05 10:25] mayur-tendulkar opened #10887 "Published Docs: Collapsible Items in Main Documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When documentation is generated from Postman Collection, there is a sidebar that lists folders and APIs from Postman Collection. This sidebar has a collapsible feature. This feature is no

[2022-05-05 10:32] mayur-tendulkar opened #10888 "Published Docs: Allow customization of header"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

After documentation is published from API Collection, the customization options are fewer.

### Describe the solution you'd like

If not custom CSS, allow customization of documentation h

[2022-05-05 10:37] mayur-tendulkar opened #10889 "Published Docs: Allow Themes"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Current documentation doesn't support themes (Light, Dark).

### Describe the solution you'd like

Allow users (and publishers) to select themes for their documentation.

### Describe alt

[2022-05-05 10:48] DannyDainton commented on #9938
Closing this due to inactivity - If this is still an issue in the latest version of the platform, we can look at reopening this issue.

[2022-05-05 10:48] #9938 closed, assigned to nobody

[2022-05-05 10:50] DannyDainton commented on #9950
Closing this due to inactivity.

[2022-05-05 10:50] #9950 closed, assigned to nobody

[2022-05-05 10:59] DannyDainton commented on #9969
Hey @Duduxs

I'm going to close this issue for now - This appears to be working as intended.

Do you have an example, in a different application, of copying a masked password and this showing unmasked when pasted?

[2022-05-05 10:59] #9969 closed, assigned to nobody

[2022-05-05 11:00] DannyDainton commented on #9972
Hey @lflucasferreira

Is this still an issue for you on the latest version of the platform?

[2022-05-05 11:07] DannyDainton commented on #10043
Closing as duplicate of #2646

[2022-05-05 11:07] #10043 closed, assigned to nobody

[2022-05-05 11:14] DannyDainton commented on #7227
Closing as I'm unable to recreate this issue on the latest version of the platform.

[2022-05-05 11:14] #7227 closed, assigned to ArjunSingh-PM

[2022-05-05 11:42] malvikach commented on #8433
@caedmonm thanks for your note. I am trying to understand if you have thought about creating different collections to achieve the above test scenarios capability. Let me know if this makes sense.

Marking @matt-ball to also look into this and provide his thoughts.

As mentioned over email, it will help if we can do a  quick discussion on this to understand your use case.

[2022-05-05 12:14] sameerpremji commented on #10885
Windows 10 latest build. I’m sure it is also happening with Windows 11 but haven’t tested it.

____________
Sameer Premji

[2022-05-05 12:47] caedmonm commented on #8433
@malvikach creating new collections might work, although it would also mean we'd have to keep them all updated every time we add a new request. It doesn't seem like an ideal solution - but maybe a workaround. Just seen your email - I'll get back to you about a call. Thanks :)

[2022-05-05 13:16] kamalaknn commented on #6907
@HarkinsDave Can you try this on the latest version of Postman and let us know if you're still facing the issue?

[2022-05-05 13:27] #8695 closed, assigned to nobody

[2022-05-05 13:30] #7949 closed, assigned to saswatds

[2022-05-05 13:31] #7790 closed, assigned to codenirvana

[2022-05-05 13:34] DannyDainton commented on #7248
Closing this issue due to inactivity, we can look to reopen this if you're still facing the issue in the latest version of the platform.

[2022-05-05 13:34] #7248 closed, assigned to abhijitkane

[2022-05-05 13:35] DannyDainton commented on #7204
Closing this due to inactivity, if this is still an issue that you're facing with the latest version, we can look at reopening it again.

[2022-05-05 13:35] #7204 closed, assigned to abhijitkane

[2022-05-05 13:36] #7198 closed, assigned to nobody

[2022-05-05 13:38] #7961 closed, assigned to nobody

[2022-05-05 13:41] DannyDainton commented on #10796
Closing this out for now but can look to reopen it again once more information is provided.

[2022-05-05 13:41] #10796 closed, assigned to nobody

[2022-05-05 13:53] jolsen71 opened #10890 "Pressing {shift}+{tab} when editing query parameters does not move focus to previous field, as expected"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

All well designed apps that have multiple input fields on a dialog/page have an established tab order for the fields. Normal/expected behavior is when on a field, pressing the {tab} key will advance focus to the next field in the

[2022-05-05 14:18] mj-h opened #10891 "Variable not replaced in body unless followed by a space"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I use a variable in the request body, then the variable is not replaced with its content, unless the variable is followed by a space. This behavior only appears, if the variable is set inside the prerequest script.

Prereque

[2022-05-05 14:21] mj-h commented on #10891
I just found an important piece of information. Please wait a few minutes for me to update the issue

[2022-05-05 14:27] malvikach commented on #8433
I see your point! let's build up on this when we talk.
Cheers!

[2022-05-05 14:30] DannyDainton commented on #10891
Hey @mj-h

You're saving that variable _with_ a space at the end of the name `pm.environment.set("test ", "some-string")` and it looks like it's working as expected.

Here's an example with 2 different variables `{{test }}` and `{{test}}`:
<img width="1335" alt="image" src="https://user-images.githubusercontent.com/17089546/166945775-e567c32e-4a2f-4226-b9db-dd1d0f6ddb17.png">

[2022-05-05 14:35] #10891 closed, assigned to nobody

[2022-05-05 14:56] malvikach commented on #10881
@JWATSU It seems like you are interested to add break points in between, validate something and then move the execution forward.

This [feature request](https://github.com/postmanlabs/postman-app-support/issues/8060) suggests the same. Please feel free to add any further thoughts on this ticket.

I am closing this ticket as it is similar to the above feature request.

[2022-05-05 14:56] #10881 closed, assigned to malvikach

[2022-05-05 16:29] OliverP10 commented on #1066
+1

[2022-05-05 17:19] VaishnaviChallaPostman commented on #10317
Hey @percyvega 👋
Sorry for the confusion!
This is indeed implemented. But, during some other new changes, a bug crept in taking this feature back 🐛 :/
We are sending out a fix for this soon!
Sorry for the inconvenience caused.
Have a great day :)

[2022-05-05 17:51] bpetty-interlace commented on #6354
Would it be possible for Postman to provide more verbose information as to why?
We ran into this on a customer site and I used postman to confirm it, even though Chrome said it was a valid cert.
Being a developer and not necessarily an expert in cert management, I didn't know if Postman could more eloquently state why it felt the cert was invalid so that I could bubble up more information.

[2022-05-05 18:29] sgstuart commented on #285
+1

[2022-05-05 21:46] etsyachristensen opened #10892 "Select Files on file type inputs not working"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have an endpoint I'm attempting to send a POST to. This endpoint calls for an input called "image" that is a file type. When I added the "image" key and selected "File" from the drop down the "Select Files" button appears. But

[2022-05-05 21:51] DannyDainton commented on #10892
Hey @etsyachristensen

This should be opening `Finder` on your machine, did it open behind the app or on a different screen?

Do you see the same thing happened on the Web version?

https://go.postman.co

[2022-05-05 21:58] lpendergrass opened #10893 "OAuth2.0 Config with Proxy"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The OAuth2.0 auth config launches a built in browser if  "Authorize using browser" is unchecked. It does not appear to adhere to configured proxy settings.

### Steps To Reproduce

Configure Proxy Settings in Preferences...

Coll

[2022-05-05 22:06] MerryCello opened #10894 "ALL SCRIPTS (test and pre-request) DELETED from request when new postman window is opened in the same workspace as previous"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I open a new postman window in the same workspace as previous window, all my scripts (test and pre-request) disappear from request tabs (saved in a collection) I had opened. I had taken the time to learn how to make tests wi

[2022-05-05 22:08] MerryCello commented on #10894
I have reproduced the issue, and those were the steps for the bug. I tried it again, and can't figure out how to reproduce it anymore with those steps.

[2022-05-05 22:25] etsyachristensen commented on #10892
No the web version worked fine. I looked for popups and windows but found nothing. I completely quit the desktop app after using the web version. Upon restarting it worked again.

[2022-05-05 22:25] #10892 closed, assigned to nobody

[2022-05-06 03:03] helloint commented on #10820
@abhijitkane I tested today and it doesn't seem to be fixed.
1. I tried the github integration sync. the indent is still 2 spaces, no way to change it.
2. I download the latest Postman App v9.16, export the collection using v2, the indent is still Tab.

[2022-05-06 03:55] vermaat commented on #10605
I agree too. When opening a Request my main focus of interest if on the Param's Key and Value column, but the description column (Which I never use) takes up most space by default.

[2022-05-06 06:13] DefCon-007 commented on #10886
Hi @magicwenli!

Thank you for reporting this, can you please confirm that without proxy, the https requests to port other than 443 are working on Android?

Also, can you once try out the same URL on desktop once with and without proxy and check if it works? This will allow us scope the issue better.

Thanks.

[2022-05-06 06:26] prashantRaghu commented on #10820
@helloint Could you describe what you did in step 1. ?
Did you push a new relation/collection to Github via the integration sync flow?

[2022-05-06 07:28] hunainkapadia commented on #3694
much needed

[2022-05-06 08:06] HenrikHolmIT opened #10895 "You should get a warning when duplicating a request with unsaved data"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When you duplicate a request with unsaved data you are getting a copy of the 'old' request.

This is the problem.

### Describe the solution you'd like

I should receive a warning that Im

[2022-05-06 08:34] magicwenli commented on #10886
I used `mkcert` to test the local server, but the proxy program cannot connect https traffic other than 443 port.

![image](https://user-images.githubusercontent.com/48174882/167090004-bdccd4ef-470d-47b1-a59c-40611c07199c.png)

Here's my test file, need to add '127.0.0.1 postman.test' to `/etc/hosts`

[postman-test.zip](https://github.com/postmanlabs/postman-app-support/files/8638657/postman-test.

[2022-05-06 11:12] postman-support commented on #10886
Hi there,
Thanks a lot for attaching the file that you used to test this.

We will try to replicate the behavior and reach you back with an update.
via @nasco-a | Postman Support

[2022-05-06 16:02] IanLamon commented on #10602
In addition to filtering for variables, it would be great to be able to sort variables alphabetically.

[2022-05-06 16:06] IanLamon commented on #8985
Is this feature being worked on? I don't this it is a duplicate of #3078. Being able to sort variables alphabetically within an environment would be really helpful.

[2022-05-06 18:39] dsanders11 commented on #2833
This should be fixed from Postman version v9.16.0 and onwards, so we're going to go ahead and close this issue. Please comment (and feel free to ping me) if you're still seeing this, with a description of your setup. Thanks!

[2022-05-06 18:39] #2833 closed, assigned to jviotti

[2022-05-06 18:48] dsanders11 commented on #9598
This should be fixed in Postman version v9.16.0 and newer, so I'm going to close this issue. If you're still seeing the problem on the latest versions of Postman, please comment and feel free to ping me and we'll take a look. Thanks!

[2022-05-06 18:48] #9598 closed, assigned to dsanders11

[2022-05-06 18:50] dsanders11 commented on #10834
This should be fixed in Postman version v9.16.0 and newer, so I'm closing this. If you're still seeing the issue on the latest version of Postman, leave a comment and feel free to ping me, thanks!

[2022-05-06 18:50] #10834 closed, assigned to nobody

[2022-05-06 18:53] dsanders11 commented on #10885
Hi @sameerpremji. I'm not able to reproduce this. Could you provide more detailed reproduction steps? Are your monitors side-by-side horizontally or vertically? Is either one using display scaling, and if so what scaling values are you using? Thanks!

[2022-05-06 18:54] Beckfield commented on #9598
Currently on 9.17.2, and it does indeed appear to be fixed.  Thanks!

[2022-05-06 19:01] dsanders11 commented on #9832
This should be fixed in Postman version v9.16.0 and newer, so I'm closing this issue. If you still see this problem, please leave a comment and feel free to ping me. Thanks!

[2022-05-06 19:01] #9832 closed, assigned to dsanders11, postman-staff

[2022-05-06 20:12] sameerpremji commented on #10885
Hi David,

I have 2 monitors side-by-side horizontally. Attached are 2 screenshots of
my Display settings.in Win 10.

In pic 1, you see that my right monitor is my primary monitor (Number 1)
and every time I launch Postman application, it appears in my secondary
monitor (Number 2).

In pic 2, are my scaling settings.

Sameer

On Fri, May 6, 2022 at 12:54 PM David Sanders ***@***.***>
wrote:

[2022-05-06 20:38] dsanders11 commented on #10885
Hi @sameerpremji. Thanks for the info! Unfortunately it doesn't look like your screenshots made it to the GitHub comment, so I can't view them.

[2022-05-06 20:40] sameerpremji commented on #10885
That is because I was corresponding directly by replying via email and not on this website. I have uploaded the images now.

[2022-05-06 21:46] dsanders11 commented on #10885
@sameerpremji, unfortunately I am still unable to reproduce.

Let's check if the app is remembering its position at all. If you place the app at a certain size and position (for example, small and in the bottom left corner) of monitor number 2, then close it and open it again, does it open in that same size and position?

[2022-05-06 21:51] sameerpremji commented on #10885
I launched the app and by default, it always goes to Number 2 monitor in maximum full sized window. Then, I re-sized the app window to a small box and moved it to the bottom left, as per your instructions. Then, I closed it and relaunched it. It appeared on Number 1 monitor instead of Number 2 and also, its size and placement in Number 1 monitor was not maintained as I had resized it earlier in Nu

[2022-05-07 07:24] nathando commented on #8275
Hi, on latest Postman desktop version (v9.17.2), I cannot deselect Import as API if I've signed in. If I didn't sign in, the default is import as Collection and this works fine.

[2022-05-07 12:04] mrcaidev commented on #10684
Same issue with Postman Desktop v9.17.2 on Windows 11. Many of the bootcamp tutorials stop their instructions in the middle, and I clicked around the app with no further information found.

[2022-05-07 14:28] owk444 commented on #10834
Yes, it fixed, the Postman save correct position in both modes, windowed and maximized. All works fine, thank you!

[2022-05-07 16:30] rajeshisnepali commented on #9510
Not working in Postman for Linux
Version 9.17.2

[2022-05-07 18:44] rajeshisnepali opened #10896 "Wrong directory while selecting files in form-data"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If I try to send a file in from-data, I'm redirected to some random directory and from there I've go to my original directory to select a file.

### Steps To Reproduce

1. Open a new request tab
2. Select the Body tab
3. Select t

[2022-05-08 03:19] Pricilla09 commented on #10858
Hi @DannyDainton, Adding the team members is not an issue. Once added, if I am trying to remove them, there are two different messages on the screen.

I am using a Team workspace with a limit of 15 members - Professional plan (Monthly)

[2022-05-08 04:22] deveshXm commented on #10030
Problem persists in Ubuntu 22.04 LTS

[2022-05-08 06:13] DannyDainton commented on #10858
The screenshot shown looks like the one from the _Manage team_ area. Are you removing them from a Team and not the Team Workspace?

Removing members from a Team **Workspace**, from the Workspace Settings tab, is a different action that wouldn't lead to this page.

Can you add a short recording of this behaviour, if you're still seeing this please.

[2022-05-08 07:58] postman-support commented on #10894
Hey @MerryCello 👋
I have tried to replicate this behaviour but was unable to, unfortunately.
May I request to know if you are able to replicate this actively or is specific to certain requests?

Also, If you have been using this request recently, that is, if you have sent this request recently, it will be saved in History, which you can filter with keywords. The history record will contain the scr

[2022-05-08 13:17] MerryCello commented on #10894
That's the word part, was able to reproduce it only once after the
incident. I don't know what triggered it. Oh thank you, I didn't know about
the history!

On Sun, May 8, 2022, 01:59 Postman Support ***@***.***> wrote:

[2022-05-08 15:39] helloint commented on #10820
Hi @prashantRaghu ,
I first delete the old GitHub integration, and then created a new one, via personal access token. After it is done, the integration will automatically push the collection configuration into the specific branch.
<img width="773" alt="image" src="https://user-images.githubusercontent.com/4143533/167303785-51bb8ac9-7e99-4d0e-bff4-10ef71164b37.png">
you see, the indent is still 2 s

[2022-05-08 23:12] dsanders11 commented on #10885
@sameerpremji, interesting, thanks for the extra information. Since we know the app does remember position and sizing on most systems, we need to determine what is different to cause that to not work on your system. Could you try disconnecting your second monitor (just turning it off doesn't remove it from the system) and retry the test you did for the app remembering its position and size? This w

[2022-05-09 01:59] Elizraa commented on #1066
+1

[2022-05-09 04:35] postman-support commented on #10894
Hey @MerryCello,
Thanks for the revert and confirmation.
I am going ahead and closing this thread as you are unblocked, but will make sure to keep an eye on any related issues.
Please feel free to reopen if you are facing this issue again.
Have a great day :)

via @VaishnaviChallaPostman | Postman Support

[2022-05-09 04:36] #10894 closed, assigned to postman-staff

[2022-05-09 05:57] J-Cake opened #10897 "Postman on Chromium doesn't detect the desktop agent"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman is great - it works wonderfully - on Firefox. I have the desktop agent installed, running etc (done all the basic sanity checks), but no matter what I try, the web app refuses to find the desktop agent on Chromium (I'm ac

[2022-05-09 06:08] rajesh-kg-20089 opened #10898 "Could not import openAPI v3 as collection #517"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi,

We have an OpenAPI v3 file that's around 5mb in size with 300+ endpoints. When we try to import this as a collection, the following error is shown.  However, we are able to successfully import this in Swagger Editor.

Is the

[2022-05-09 08:20] prashantRaghu commented on #10820
@helloint Deleting an integration and doing a reintegration would show a conflict if a collection file exists in both the places and if remote files are selected to be kept it will not push and rather just link those as the same.
What would actually change the indentation is any further pushes to the repository from Postman eg,
1. Adding a new collection to the repository.
2. Editing a synced coll

[2022-05-09 08:21] DefCon-007 commented on #10886
Hi @magicwenli

Thanks a lot for providing the detailed steps, it looks like `mkcert` uses its own local root CA certificate for signing `postman.test` domain and when Postman receives the request from that domain it is unable to create a new SSL certificate for it and hence it is not able to capture the request.

We found that this behaviour is replicable with other proxy clients like mitmproxy t

[2022-05-09 12:11] Famosi commented on #3438
Will this feature be implemented? Is it in the todo list?

[2022-05-09 12:29] #10470 closed, assigned to giridharvc7

[2022-05-09 13:06] sameerpremji commented on #10885
I disconnected Monitor 2 completely and launched the application, which appeared in Monitor 1 fully maxed sized. Then I resized it to a small box and positioned it at the bottom left. Then closed it and launched it again, which displayed it in a window that was in the center of the screen (2 inches from all sides) and it did not respect the position that it was closed from (at the bottom left) and

[2022-05-09 14:34] dsanders11 commented on #10885
Understood! The two are related, though - the app remembers the screen where it was last launched in the same way that it remembers the last position and sizing. If it can't remember the size and position at all (which appears to be the case) then it can't remember the screen it was closed on.

Just to confirm, since I don't see it in this issue so far - you're using the latest version of Postman

[2022-05-09 15:12] Saurabh703 commented on #8455
I am getting a similar issue did you get the solution? If yes, can you please help me to resolve it?

[2022-05-09 15:29] sameerpremji commented on #10885
Yes, I'm using the latest version 9.18.1 (it would be nice if this was easily available under Help --> About menu rather than going into settings, then About tab). Majority of applications have a Help --> About.

File is attached -- I had to rename it with a file extension as GitHub doesn't allow to upload a file without a file extension.
[window.txt](https://github.com/postmanlabs/postman-app-sup

[2022-05-09 19:07] lougeo commented on #3117
This is a requirement for the company I work for as well. OAS supports this syntax so it should be an easy lift to get something other than just raw json as the request parameter documentation.

[2022-05-09 20:36] ghughal commented on #1066
If it's been already developed, can you tell us how to do it?

[2022-05-09 21:14] isolative commented on #8455
Saurabh703,

Did you tried what I suggested in [my post](https://github.com/postmanlabs/postman-app-support/issues/8455#issuecomment-1086752465), which right prior yours?
Go to request Settings tab and set "Follow original HTTP Method" to "TRUE". Fixed the issue for me.

[2022-05-10 04:01] Saurabh703 commented on #8455
Okay

[2022-05-10 12:20] miqui commented on #8020
Currently my environments are locked to a workspace, the only option I have is to share to another workspace, but that doesnt share the current values. It would be helpful to have an option to use the same CURRENT environment variables values across all workspaces.

Yes...thanks for sharing...I have the same problem - wish I could have define an environment and share it across workspaces.

[2022-05-10 12:20] miqui commented on #8020
@sankalp0o  - is there a way to up vote this feature?

[2022-05-10 13:06] Xhoii commented on #10112
Any news ?

[2022-05-10 13:34] ShilpaNidoniGit opened #10899 "Add to favorites is missing for Postman version 9.18.1 Linux"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Add to favourites is missing for Postman version 9.18.1 Linux

### Describe the solution you'd like

Add to favorites is missing for Postman version 9.18.1 Linux. So cannot pin on taskbar

[2022-05-10 13:48] harmonf13 commented on #10898
Seeing the same error on with a version 2.0 file as well in Windows Postman version v9.18.1.

[2022-05-10 14:06] dragon-pearl opened #10900 "Request body of examples lost during import"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When our collection is imported the examples created are missing the request raw body, even though the JSON has everything listed as expected.

###

### Steps To Reproduce

1. Open a new request
2. Select the body tab
3. Select t

[2022-05-10 14:42] dmrickey commented on #1066
It's been an issue for ~7 years. It's been worked on for a few months and has not yet been released.

[2022-05-10 16:01] Mepecbe commented on #8544
Проверьте, точно ли вы используете порт 443 для HTTPS запросов

[2022-05-10 16:23] figchutney opened #10901 "Interceptor debug sessions do not show URLs for captured cookies in the Cookies tab"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

#### Context

When capturing cookies using the interceptor method, Postman displays an `Interceptor debug session` tab in the UI. Under this tab, there's the option to view either `Requests` or `Cookies` captured during the inter

[2022-05-10 17:47] jeblackburnvmw commented on #6188
I can report that the signature generated from within the Postman UI does not match the one in the generated bash/Python code, even without the Postman Token being sent.

An example from my environment on May 10, 2022:

Postman Headers (that worked, despite the date being wrong???):
AWS4-HMAC-SHA256 Credential=ASIA3WXUD756T3LJG37K/20200915/us-east-1/execute-api/aws4_request,SignedHeaders=host;x-am

[2022-05-10 18:00] steverawlins-zebra opened #10902 "Status code: 14 UNAVAILABLE, but no Error Message, no Response Metadata, no Result"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Valid gRPC request, hitting a valid service, always returns "14 UNAVAILABLE"

### Steps To Reproduce

1. Create  new gRPC request
2. Service is running on localhost:9090
3. Import the protobuf from the local file system
4. Execut

[2022-05-11 01:01] gwsampso commented on #2833
Cant move in Postman v9.18.1

[2022-05-11 04:00] codenirvana commented on #10902
@steverawlins-zebra from the error message, it looks like there’s no service running at `localhost:9090`.

I am not able to reproduce this issue, can you verify that the service is running locally at port `9090`?

[2022-05-11 05:10] helloint commented on #10820
@prashantRaghu
i created a new collection, created a new repo, public one, just for this indent test.
https://github.com/helloint/postman/blob/sync/postman/indent-test.postman_collection.json
still space as indent.
there are 2 branches:
1.` main` is the default one, and I suppose to do manually change here and the automation will checkout and run. The config comes from Postman App export (v9.16).

[2022-05-11 05:53] dishonoreded commented on #4968
+1

[2022-05-11 06:35] prashantRaghu commented on #10820
@helloint Could you describe the flow you went through to bring your collection from Postman into the Repository after adding it as a relation to the API Version?

I tried reproducing the steps you mentioned and this is what the [format is like](https://github.com/prashantRaghu/indent-test/blob/dev/postman/collections/indent-test_46185845-cac3-4474-8402-e3ce3004982a.json)

[2022-05-11 06:38] shashankawasthi88 commented on #10901
@figchutney thanks for raising this. We are fixing this and would update the thread once the issue is fixed.

[2022-05-11 08:21] cvietor commented on #8231
+1
any updates on this one?

[2022-05-11 09:30] stagefright5 opened #10903 "Start up time is around 30s"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

- Click on the postman icon
- It takes around 30s to open

### Steps To Reproduce

1. Click on the "Postman" app icon
2. Wait

### Screenshots or Videos

_No response_

### Operating System

Windows

### Postman Version

9.18.1

[2022-05-11 09:39] wnagelx commented on #3360
Any updates on this issue?

[2022-05-11 10:25] VaishnaviChallaPostman opened #10904 "Data export yields data dump with truncated collection files"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Upon importing an exported data dump, it is noticed that a considerable number of collections are missing.

### Steps To Reproduce

1. Head to https://go.postman.co/me/export
2. Create an export
3. Re-import the exported files.

[2022-05-11 10:31] neerajashetty opened #10905 "postman latest version (9.18.0) variables in the environment file are not updating .With ths same script session-id variable is updating in the postman version 9.09 and below"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

postman latest version (9.18.0) variables in the script are not updating .With the same script ,session-id is updating in the postman version 9.09 and below version . facing problem with the latest version 9.18.0 and 9.17 as well

[2022-05-11 10:43] helloint commented on #10820
@prashantRaghu I see the github commit log, looks like you commit yourself, not via integration.
if the commit comes from integration, the comment format should be '[user_id] updated [collection name]'

[2022-05-11 10:45] VaishnaviChallaPostman opened #10906 "Secret variable shows value in clear text for headers and params"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When you select the variable type secret it masks as you would expect in the environment table, however it is visible in the UI if set as query param or header using the Auth helper.

### Steps To Reproduce

1. Create a Variable

[2022-05-11 10:51] prashantRaghu commented on #10820
@helloint  What do you mean by 'integration' here? which integration flow are we talking about

[2022-05-11 13:07] davecader commented on #8383
This is still an issue with v9.18.0

[2022-05-11 13:17] helloint commented on #10820
@prashantRaghu ok, let me describe it step by step.
1. I have a collection for testing this indent issue, the name is 'indent-test'
<img width="569" alt="image" src="https://user-images.githubusercontent.com/4143533/167857429-96ba7b74-3091-4dbb-94df-b0010b4dfc28.png">

2. I created a GitHub repo named `postman`, and in the default `main` branch, I upload the collection configuration I export from

[2022-05-11 13:23] tiago-depop commented on #6926
+1

[2022-05-11 13:24] harryKont commented on #10902
I am facing the same issue with a gRPC service running on localhost. I have added the localhost certificate under Settings -> Certificates. From the gRPC service logs I can see a connections is established using Tls12 but right after that the client sends a FIN  and  the connection is closed.

[2022-05-11 14:44] harryKont commented on #10902
I can also confirm it works for the same server using grpcurl but not with Postman. In my case they both establish a Tls connectio but postman closed the connection right after and call was performed.

[2022-05-11 15:47] garg-priyanka opened #10907 "cannot edit the keys for form-data body"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

when sending requests with multipart/form-data in the body, the visible key File/Text is not included in request. UI does not let you edit the keys.

### Steps To Reproduce

1. On the body tab select form-data from content type d

[2022-05-11 17:47] Smaruthi28 opened #10908 "File>Import and Ctrl+O not responding on Postman v9.18.2/v9.16.0/ v 9.17.1"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have just installed the latest Postman v9.18.2. When I try to File-> Import or even try Ctrl+O no Import screen pops up. I have checked and confirmed that all other options except import is working fine. I have uninstalled and

[2022-05-11 20:12] LucasEThomas commented on #5552
My team is feeling this one right now. Someone accidentally saved an old environment state over the current one, wiping several days of new keys. The entire team is now blocked for the day while we fix it because there's no way revert changes.

[2022-05-11 20:58] walidklai commented on #4581
Hello, if the httpOnly cookie is secure postman will not set it again after deleting it manually, i'm facing this issue when working locally .

i have to set it to not secure in order to get this fixed .

_npm package used for cookie management in node server : coockie-session v2
postman v 9.18_

[2022-05-12 00:53] Aliaksei-Tatarynchyk commented on #5394
I'm also looking for this feature. Some APIs that I call require proxy, some APIs don't require, I have to constantly enable/disable proxy in settings, which is frustrating. Also I cannot automate such requests, I cannot connect output of one request to the input of another request and make them runnable together as a single one, because one request requires proxy and another requires absence of p

[2022-05-12 06:01] appurva21 commented on #10815
Hey @toddlindner @sohenk !

Looks like there is an incorrect import in the concerned Protobuf. Could you try replacing `"google/protobuf/Empty.proto"` with `"google/protobuf/empty.proto"` and see if that fixes the issue?

[2022-05-12 06:30] malvikach commented on #9590
@jonkrantz Thanks for your feedback.

Glad to inform you that the Skipped Tests tab has been implemented in the latest postman release (9.19.1). Now, you can check your skipped tests both under the `All Tests` tab and the `Skipped Tests` tab in the runner details.

Let us know if you have any other feedback or suggestions on this.

[2022-05-12 06:30] #9590 closed, assigned to malvikach

[2022-05-12 06:35] malvikach commented on #8512
Duplicate of [this](https://github.com/postmanlabs/postman-app-support/issues/9590)

P.S: Original issue has been fixed

[2022-05-12 06:35] #8512 closed, assigned to giridharvc7, vkaegis

[2022-05-12 07:26] malvikach commented on #6001
@LarisaMocu Could you try console.log(pm.response.text()) to check the value in this field before setting it in the `token` variable in the single request.

It is possible that the response is empty due to which you see an empty value assigned to the environment variable.
Let me know if this helps.

[2022-05-12 09:58] Qaz3xsw commented on #4079
++

[2022-05-12 10:20] aladendorf commented on #8480
Uplaoding files is a common case? PLease let us know if there is a plan to fix this :)

[2022-05-12 12:06] davecader commented on #7307
Also experiencing this issue with Find and Replace not being reflected in Collection Runs. This is a show stopping bug IMHO.

[2022-05-12 12:19] jviotti commented on #10903
Hi @stagefright5 ,

Can you provide a video of what you see? Being able to see that would allow us to better pin-point which part is slow for you.

[2022-05-12 12:27] davecader commented on #9038
This is a hugely impactful defect, making Search and Replace not only useless but dangerous to use. I have wasted many hours trying to work around this bug and it's a showstopper IMHO. Needs to be resolved ASAP.

[2022-05-12 12:43] stagefright5 commented on #10903
I can. It will take some time for me to do that.

But, it is actually pretty simple.
The **loader screen** does not appear for a long time (30s or so) after I click on the app icon.

[2022-05-12 13:18] #9758 closed, assigned to nobody

[2022-05-12 13:24] malvikach commented on #9735
@juvarebkaplan @amishad02  thanks for your feedback.

I would like to understand this use-case slightly better. Why are you looking to run the specific 25 failures again and what do you do next.  When running in CI/CD, would you only want to re-run the failed tests?

[2022-05-12 13:37] malvikach commented on #8669
@sredxny thanks for your feedback. On the runner results page, you can view the average response time for each request as shown in the below screenshot. I would love to understand if this helps in benchmarking API performance.

![Screenshot 2022-05-12 at 7 01 40 PM](https://user-images.githubusercontent.com/89449769/168087762-7f6a217a-4fb7-4b4f-af37-4f185aa1073e.png)

Further, would love to unders

[2022-05-12 13:39] malvikach commented on #8816
Tracking this on Duplicate ticket: [8433](https://github.com/postmanlabs/postman-app-support/issues/8433)

[2022-05-12 13:39] #8816 closed, assigned to giridharvc7, saswatds

[2022-05-12 13:53] timbochamp commented on #10884
Thanks for reporting @WoLpH. I added a feature label to have Product take a look and determine whether this is something we'll take on to have more content displayed in the resizing of a column, and have consistency between variable values and regular text.

[2022-05-12 14:00] timbochamp commented on #10893
Thanks for submitting, @lpendergrass. This sounds similar to #10010. Can you confirm whether it is and whether the suggested workaround helps unblock you?

[2022-05-12 14:18] juvarebkaplan commented on #9735
Hopefully this example makes it clear...

Let's say I have a CSV which contains a list of orderIDs that I am hitting against an API. Each orderID tests a specific use case in my application. Due to throttling at the WAF, lag on the system, some other condition, etc... I might get a few failed runs over the course of hitting thousands of orderIDs. In its current form, I haev to wait for the test to

[2022-05-12 14:59] #10893 closed, assigned to nobody

[2022-05-12 15:00] samip5 opened #10909 "Postman seems to ignore AAAA records of hosts"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

It seems that when DNS hostname has both A and AAAA records, Postman chooses A despite having working IPv6 connectivity.

### Steps To Reproduce

1. Create a new request with type GET
2. Try to hit up an DS endpoint, like `https:

[2022-05-12 15:01] timbochamp commented on #10890
Thanks for raising this @jolsen71. I logged the feature label to have this looked into by Product where shift+tab is a common hotkey for sure.

Our current implementation is to use the arrow keys for navigation through key-value cells. I realize this isn't ideal sometimes to have to use the arrow keys to go all the way to the beginning of the input with the left arrow key to access the next left c

[2022-05-12 15:32] toddlindner commented on #10815
@appurva21 - Thanks.  I actually cant reproduce the issue anymore after upgrading to 9.18.2.  So, good news?

[2022-05-12 15:32] #10815 closed, assigned to codenirvana

[2022-05-12 15:54] helloint commented on #10820
Hi @smartron1, yeah the indent issue seem to be resolved.
Just I noticed another new difference between the export and the sync version. See:
<img width="1619" alt="image" src="https://user-images.githubusercontent.com/4143533/168116208-5bf618d0-e3df-428f-b9f0-4cbd0a03d92f.png">
I tried Import the file from sync, and export again, I still get the same file as before.
I hope these 2 files can be th

[2022-05-12 15:58] jonkrantz commented on #9590
This is FANTASTIC - Thank you!

- jon

[code]

[2022-05-12 16:09] ehaspulat commented on #10406
I think I am experiencing a similar issue.

I send a request to a server `bar.foo.local` that responds with a `Set-Cookie` that includes the following anonymized value:

`cookieName=cookie-value; Path=/api; Domain=foo.local; Max-Age=36000; Expires=Fri, 13 May 2022 01:33:15 GMT; Secure; HttpOnly; SameSite=Strict`

- I see the Set-Cookie header in the response headers.
- When I click on Cookies I se

[2022-05-12 16:23] BrutalSimplicity commented on #4209
This was asked requested almost 4 years ago! 🙄

In general it seems Postman is _slow_ to adopt commonly used features. Does Postman offer plugin/extension support. I'm sure the community would've already take care of this for you by now.

[2022-05-12 17:37] jcwoos opened #10910 "Option to reload the request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Sometimes, after closing Postman with several tabs opened, it can't reopen some requests and it display the screen telling it wasn't able to find the request.

But if I click on the reque

[2022-05-12 17:46] jcwoos commented on #9448
To avoid create another issue related to this feature, I would like to add my +1 here.
In my case, I already have some collections stared to be on the top of my collections tree and I just can't reorder the desired request to the top because the request is in one collection with several folders and, even when all these folders are collapsed, the request is almost on the bottom of my screen.
It wou

[2022-05-12 18:01] TheInvoker commented on #6219
So is this possible to do? I want to make a global variable, and then in the environment variables tab, I want to set the default value as a variable pointing to a global variable.

[2022-05-12 19:20] DannyDainton commented on #6219
You would need to provide more context and examples, for us to understand your usecase @TheInvoker

As this is a closed issue, can you create a new thread, with that information, on the Postman community fourm please.

https://community.postman.com

[2022-05-12 19:40] TheInvoker commented on #6219
Ok done https://community.postman.com/t/how-to-create-reference-to-global-variables-from-environment-variables/35261

[2022-05-12 21:40] sheldonj commented on #8322
+++++++

[2022-05-12 22:07] cmonroeEIS commented on #7775
Hi. Sorry for the delay my notifications were going to spam.
My issue appeared to be certain requests in the collection had stale hostnames (converted to an environment var since) in the "middle" of the collection. That apparently stopped it from proceeding to the last part of the collection that was still configured and functioning properly.

[2022-05-12 22:20] testerncoder commented on #7775
@rochanram @giridharvc7
Sorry, my emails were going to spam too.
No, I am not facing the issue anymore. Thanks everyone for the solution and taking this up to help us all who were facing this issue.

Thanks,
Nidhi (testerncoder)

[2022-05-13 05:28] Mds92 commented on #5039
I have the same issue, version 9.18.2

[2022-05-13 06:41] sy-huss commented on #10591
I've found that most of the code generated by Postman is now obsolete. For beginners using Postman they need to be careful not to use the code generation tool as it is not maintained.

[2022-05-13 09:16] CuiZhicheng commented on #4079
++

[2022-05-13 09:24] vizakgh opened #10911 "Desktop 9.16 rendering issue - gray screen"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

only menu bar and gray screen are visible

hardware acceleration disabled

### Steps To Reproduce

1. open history tab or wait ~1-3 mins on any request tab
2. menu bar and gray screen are visible

### Screenshots or Videos

![Scr

[2022-05-13 10:05] Robstaa commented on #8260
+1 for the feature request! Really want to quickly visually see when I have prod selected as environment. Similar to most SQL tools

[2022-05-13 10:13] Seayon commented on #3694
I recently used a tools similar to postman called apifox,and the have a "save run as test case" feature that works very well.

[2022-05-13 11:23] neerajashetty commented on #10905
733ms

[2022-05-13 11:37] pmalecka commented on #10905
@neerajashetty I am getting similar issues, when the API responds between 500ms and 1500ms. Any chance you could test this with an API that responds in 500ms or less?

[2022-05-13 12:10] pmalecka commented on #10905
@neerajashetty any API that responds in more than 1500ms, that you could test this on?

[2022-05-13 12:13] neerajashetty commented on #10905
@pmalecka  Tested for that as well ,No  API that responds in  more than 1500ms.

[2022-05-13 13:16] jviotti commented on #10911
Thanks a lot for the report. I'll merge this ticket with https://github.com/postmanlabs/postman-app-support/issues/5980 so we can continue to discussion there!

[2022-05-13 13:16] #10911 closed, assigned to nobody

[2022-05-13 13:16] jviotti commented on #5980
Another one reported here: https://github.com/postmanlabs/postman-app-support/issues/10911. This is the GPU:

[2022-05-13 16:06] gaberogan commented on #9656
Same with the right sidebar for requests:
1. Click on a request in a collection
2. Open the documentation sidebar
3. Click on another request
Expected: The sidebar stays open
Actual: The sidebar disappears

If a user opens the sidebar, they probably want to keep it open until they close it. This behavior is standard in other applications such as XCode.

[2022-05-13 17:07] timbochamp commented on #10898
Thanks for reporting this. I've logged an issue for the team to investigate these errors when importing an openAPI v3 file with a large number of endpoints. We'll be in touch should we need more information!

[2022-05-13 17:26] timbochamp commented on #10900
Thanks for reporting, @dragonspearl. I'm unable to reproduce this on v9.18.2 where I see my request's body of type raw and language JSON imported correctly. Are you consistently able to reproduce this? I'm wondering if you could send us some logs if so?

You can refer to these articles on how to collect the logs:

https://support.postman.com/hc/en-us/articles/360038234154-How-to-generate-a-HAR-fil

[2022-05-13 17:58] timbochamp commented on #10908
Hi @Smaruthi28 , thanks for reporting; sorry to hear about this. I tried an update on Windows to v9.18.2 and wasn't able to reproduce. Could you try clearing your local data and see if that resolves the issue with the import modal not appearing? Steps are here:

https://support.postman.com/hc/en-us/articles/4410785125271-How-to-remove-local-data

Linking #9520 as well where this follows a similar

[2022-05-13 18:39] timbochamp commented on #10897
Hi @J-Cake, thanks for reporting. I tried reproducing on Edge 101.0.1210.47 and Ubuntu 20.04.2 and I'm able to use the Postman Desktop Agent correctly when trying to access localhost.

![Screen Shot 2022-05-13 at 3 35 16 PM](https://user-images.githubusercontent.com/4521134/168346355-6c501d09-8b3f-4d16-a558-0d1ab9b61453.png)

From your second screenshot, it looks like there's a warning icon in the

[2022-05-13 18:50] timbochamp commented on #10909
Thanks for reporting! I've added a feature label for Product to take a look if this is something we'll look at implementing

[2022-05-13 18:51] swmech commented on #8985
Agreed.  I'm working with an environment with about 150 variables (don't ask...) and it's a nightmare to find the one that I need to update.  Somebody mentioned above that "There is already a header for `Variable` name. Click on it and it sorts" - except that it doesn't.  Clicking on it (on Mac, in this case) does absolutely nothing.  Please fix this.

[2022-05-13 18:56] timbochamp commented on #10907
Hi @garg-priyanka, thanks for reporting. I'm not sure I follow the issue: are you not able to click the Key cell and enter text like so?

https://user-images.githubusercontent.com/4521134/168355678-8f83ca8a-f4ff-4ae4-b2c3-6491895e2f56.mov

If that's the case, are you able to update to v9.18.2 and revalidate if it's still an issue?

[2022-05-13 20:16] rajeshisnepali commented on #10896
Unfortunately, It didn't work 😞 even changing the working location.

I've disabled minor updates in `/etc/hosts`. Do you think that caused the problem?

[2022-05-13 22:40] IanLamon commented on #8985
One workaround while we wait for this feature is to export your environment and sort the JSON by key. There are online tools to sort JSON by key if you don’t want to write the code to do it.

[2022-05-14 12:47] vizakgh commented on #5980
RTX2060 updated to 512.59 - the same issue.

[2022-05-14 19:16] luisjimenez6245 commented on #6682
+1

[2022-05-15 05:41] andres-loyola commented on #3466
+1

[2022-05-16 01:02] dgallego58 commented on #4581
this happened to me when i set on my app Secure to false (like the top comment in this issue), the cookies tab does not grab them from the response.

i did reproduce this in a Spring Boot Application i was just creating.

![licecap-test](https://user-images.githubusercontent.com/42015175/168503110-cde47ef3-0ae1-4fb4-9f51-2bdc323a9180.gif)

[2022-05-16 01:06] dgallego58 commented on #10185
Related to #4581

  Version 9.18.2
  UI Version 9.18.2-ui-220511-0750
  Desktop Platform Version 9.16.0
  Architecture x64
  OS Platform win32 10.0.22000

[2022-05-16 05:39] yuranich commented on #3099
@Mahmud989 it is not obvious, but to see a proper result on export you just need to save every request inside a collection.
Initially I thought they are saved automatically but turned out they are not.

[2022-05-16 05:43] malvikach opened #10912 "Add better debugging for issues with variable resolution"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

If users use the following template to represent variables:
`{{ jsonObj }}`

instead of
`{{jsonObj}}`

It doesn't resolve the variable and it might take considerable amount of time to und

[2022-05-16 05:45] malvikach commented on #5039
@Mds92 Oh, I see!

I think Postman could help identify problems like this so you do not spend that much time debugging errors like above. I have logged this as a feature request [here](https://github.com/postmanlabs/postman-app-support/issues/10912).

Please feel free to add your thoughts to it. And thanks for your feedback.

[2022-05-16 06:09] CholongFather commented on #2701
+1

[2022-05-16 06:52] aakash3771 opened #10913 "Text is black in Changelog in Dark theme"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Reading Black text in changelog with Postman is impossible with Dark theme on

### Steps To Reproduce

1. Set dark theme on Postman.
2. Open changelog for a collection.
3. try to read

### Screenshots or Videos

_No response_

##

[2022-05-16 07:02] #8843 closed, assigned to webholik, SahilChoudhary22

[2022-05-16 07:25] shashankawasthi88 commented on #10901
@figchutney this should be fixed on the latest version of the application. Feel free to reopen the thread if you still face the issue.

[2022-05-16 07:25] #10901 closed, assigned to nobody

[2022-05-16 08:15] HenrikHolmIT commented on #9758
The first PostMan 8 did not 'follow' when it first came out. There were other new 'features' that I didn't like on 8 that have also been fixed in the meantime. So on version 9.18.2 now. All good. It is alright to close this.

[2022-05-16 08:37] postman-support commented on #10903
Hi **@****stagefright5****,**

As requested can you please send us the screen record along with the logs.

Please navigate to View → Developer → Show Devtools (current view) and logging `pm.appLaunchMetrics` should dump the breakdown of the slow steps.

Look forward to your response. Thank you!

via @ash007-postman | Postman Support

[2022-05-16 11:40] malvikach commented on #9758
@HenrikHolmIT thanks for your response. Glad that you checked this out on the new version.

Appreciate your feedback. Feel free to let us know if you have any other suggestions or if you face some other problems while running tests.

[2022-05-16 13:09] viveksoundrapandy commented on #3731
@postman team, your support team advises to follow this thread but we don't see this in the roadmap. Kindly advise

[2022-05-16 15:17] pmalecka commented on #10905
We have reported a similar issue to help@postman.com, under ticket # 106078.

In our case, the environment variables are not saved, when both pre-request script and test script contain `pm.environment.set` clause and the API takes between 1000ms and 1200ms to respond (in some cases the range is greater). This looks like a timing issue/race condition in Postman itself.

[2022-05-16 16:10] #9033 closed, assigned to giridharvc7

[2022-05-16 16:11] giridharvc7 commented on #10773
This is fixed with v9.18.2. Feel free to open this if you still face this issue

[2022-05-16 16:11] #10773 closed, assigned to giridharvc7

[2022-05-16 16:12] giridharvc7 commented on #10806
This issue is fixed with 9.18.2. Feel free to reopen this issue in case you see it

[2022-05-16 17:06] nacengineer commented on #8870
For the record pretty sure the OP was requesting white space minificatio, basically the opposite of Beautify, not folding. It would be a useful feature. Why? e.g. using to create one-liners in bash for a curl POST in a script

[2022-05-16 19:19] timbochamp commented on #10913
Thanks for reporting, @aakash3771. I've logged a bug for this to have the text colour corrected while in dark mode. We'll relay an update here once it's fixed!

[2022-05-16 19:32] daltontouch commented on #10775
I would also like to see this, would add a lot of value to the product for my team.

[2022-05-16 20:03] timbochamp commented on #10896
Looking at this a bit closer between Linux, Windows and macOS; I'll log a bug to see if we can resolve this. I do see that Windows and macOS have the last file directory I select persist in subsequent times that I open the file picker, while Linux does not and stays stuck on Recents in my case, and that demo project folder in yours

[2022-05-16 20:09] cinchy-m commented on #10773
@giridharvc7 The [download page](https://www.postman.com/downloads/) displays `Version 9.18.2` but both Mac download options (https://dl.pstmn.io/download/latest/osx_arm64 and https://dl.pstmn.io/download/latest/osx_64) download `v9.16.0` which is actually skipping 3 versions, according to the [release notes](https://www.postman.com/downloads/release-notes/).

How can we download `9.18.2`?

[2022-05-16 20:40] timbochamp commented on #10799
Thanks for the clarification, @nishakazmi12. I'm able to reproduce what you mentioned when closing the app and reloading it that the file I sent in my POST request doesn't persist and needs to be re-added. Logging a bug and we'll post updates here, or if we need more information!

[2022-05-16 21:12] timbochamp commented on #10910
Hi @jcwoos, thanks for reporting. I tagged the team responsible for this feature request.

Out of curiosity, are you on the latest Postman version? Not found messages within tabs should hopefully only show if that entity has been deleted, or permissions around that entity being changed to name a couple of scenarios, so I'm hoping this isn't bugged behaviour. Could you give some reproducible steps

[2022-05-17 00:25] Shereef commented on #10773
I updated what I had installed and it worked after that
I had to check for update manually

[2022-05-17 02:49] lsyxin commented on #2701
+1

[2022-05-17 03:17] renier-p opened #10914 "DELETE Method"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi i have an issue using postman, im taking classes and one of the assigments is do an endpoint using the "delete method" but i cant find it in the method menu. here i add a img of my problem. im new on this and  if you could hel

[2022-05-17 03:30] crutley commented on #8301
I had already been using Interceptor with Chrome, but wanted to switch to Chromium.  I found a file `com.postman.postmanapp.json` in `~/.config/google-chrome`, and simply copied it into `~/.config/chromium`, and that got things working!  So, in one command, `cp ~/.config/google-chrome/com.postman.postmanapp.json ~/.config/chromium/com.postman.postmanapp.json`.

But alternately, I think the `ln` me

[2022-05-17 03:38] J-Cake commented on #10897
It looks like that hasn't done much.

I've tried various other thinks like restarting Chrome, my laptop, checking basic network connectivity, etc. Not sure what's goin' on to be honest.

[2022-05-17 03:58] ankitjaggi commented on #10504
We launched the ability to use Pull Requests for Environments with the latest version.  You can find all the information in this [blog post](https://blog.postman.com/introducing-environment-forking-and-pull-requests/).

[2022-05-17 03:58] #10504 closed, assigned to ankitjaggi

[2022-05-17 04:46] DannyDainton commented on #10914
Hey @rainer991

If you type the word `DELETE` in the area where you have `GET` highlighted, you will get an option to add it to the list again.

This list is editable and it must have been previously removed.

[2022-05-17 05:08] #10914 closed, assigned to nobody

[2022-05-17 07:25] postman-support commented on #10903
Hi **@****stagefright5****,**

We just made a Canary release which includes performance fixes hence could you please download the latest canary version https://www.postman.com/downloads/canary/ and see if that helps.

Let us know how it goes.

via @ash007-postman | Postman Support

[2022-05-17 09:40] #10875 closed, assigned to giridharvc7, abhijeetborole

[2022-05-17 09:41] qfyra commented on #9114
Found this issue today. I find it very peculiar that this is still an issue.

[2022-05-17 09:56] vdcardenas commented on #10905
I have the same problem even using previously the pm.environment.unset to force the update

Postman: Version 9.18.2
Script: pm.environment.set

[2022-05-17 13:12] cinchy-m commented on #10773
Thanks @Shereef, manual update check from within the app worked.

[2022-05-17 13:20] sageTimNewton commented on #8701
I was getting this error, however after removing and re-adding the same certificate it worked ok.....?

[2022-05-17 13:40] vizakgh commented on #5980
Postman v9.19.0 - the same issue.

[2022-05-17 14:19] uschwag opened #10915 "GRPC - Import protobuf definition from local file isn't saved permanently"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If we select and save a protobuf definition as file and have used and saved it, the selection is gone after a restart of the Postman app.
The import path selection is still present but there is another is another problem here. We

[2022-05-17 14:27] pprotas commented on #285
I would love this. We have a pre-request script that gets an MFA token on our localhost environment and calls the requested endpoint.

The problem is, our test/acceptation/production environments require users to log in using 2FA, so we can not use Postman to call endpoints in those environments.

It would be nice if we could make Postman prompt for the 2FA code (which would have to be entered man

[2022-05-17 14:33] gbarmashiahflir commented on #8213
@bpedro Can I get access to the new endpoint? Our API is large and is suffering from serious issues when trying to update the whole collection.

[2022-05-17 14:36] dragonspearl commented on #10900
@timbochamp Thank you for your reply. I am able to replicate the issue every time on my account and other users. I have submitted the logs requested through the ticket system #107189. Please let me know if there is any other assistance I can provide.

Thank you,

[2022-05-17 14:42] Ian1971 commented on #285
I'm really hoping they don't do it soon so this issue can get to its 10th anniversary next year.

[2022-05-17 15:00] vdespa commented on #7430
This is a valid point.

If you have an external data file (CSV or JSON) with a large data set, if one set of data fails, it is a bit tricky to identify it in the reports.

It would be great to have the possibility to rename the iteration name, as this is the first thing being displayed.

[2022-05-17 15:32] jdorecae commented on #2515
Any update on that? I am surprised that almost 6 years later it is not supported yet!

[2022-05-17 15:42] jaytavares commented on #5970
@numaanashraf Any response to this? See [the tooltip comment above](https://github.com/postmanlabs/postman-app-support/issues/5970#issuecomment-621388197). This is broken functionality.

[2022-05-17 16:05] gaberogan commented on #9060
Can we reopen this? Or is this a "won't fix"? My use case is dealing with old data providers whose security consists of a domain whitelist, so any requests in Postman must be proxied through specific servers.

[2022-05-17 16:27] Zefiro commented on #285
I've done something similar. A nodejs script running on localhost (on the dev machine) which is called via a pre-request script. It then opens a prompt for the user to enter their 2FA token interactively, which then gets put into the Postman environment.

This worked fine for my use case, though of course only if you have nodejs and this script installed, and remember to start it before.

[2022-05-17 16:30] boylec opened #10916 "Automatically applying changes to collections doesn't clear API validation issues"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

This has been happening to me for months.

I have an OpenAPI definition and connected Documentation and Test collections to that definition.

When I run validation against either collection Postman indicates that there are issues

[2022-05-17 16:31] philCryoport commented on #9490
We are paid subscribers.  We would love to use Postman's team-collaboration features with a MQTT API collection. Please add soon!

[2022-05-17 16:38] philCryoport commented on #7366
The request for MQTT support is apparently covered by https://github.com/postmanlabs/postman-app-support/issues/9490

[2022-05-17 16:40] philCryoport commented on #10636
MQTT feature request is here: https://github.com/postmanlabs/postman-app-support/issues/9490

@shamasis @andre-ss6 @PericlesFeltrin please thumbs up it?

[2022-05-17 17:01] codenirvana commented on #9490
@philCryoport 💯

As you may have already noticed, Postman now supports testing [WebSocket](https://blog.postman.com/postman-supports-websocket-apis/), [Socket.IO](https://blog.postman.com/postman-now-supports-socket-io/) and [gRPC](https://blog.postman.com/postman-now-supports-grpc/) APIs!

We are currently working on enabling collaboration features for these new protocols along with connecting th

[2022-05-17 17:36] garg-priyanka commented on #10907
Hi @timbochamp, this issue is resolved in v19.18.2 . thankyou

[2022-05-17 17:36] #10907 closed, assigned to nobody

[2022-05-17 17:45] saim80 opened #10917 "Map Local file as response"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

There is no way to mock a one-off response along with the actually server responses. As a mobile frontend engineer, I need something similar to Charles's map local feature to replace the

[2022-05-17 18:32] danieladougan commented on #7201
This happens to me as well. I'm on v9.18.2, which is the latest version. Whenever I try to run a large collection, I can get delays for HOURS sometimes before the run begins, or Postman will just crash completely.

What's odd is that my colleagues running the same collections are not experiencing anything like this.

[2022-05-17 18:43] boylec opened #10918 "Parameter value reverting to blank when request saved"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Up until this morning (the last few months) I've had a request in a collection that has a path/parameter set.

The value has always been set to 1.
<img width="1531" alt="image" src="https://user-images.githubusercontent.com/81481

[2022-05-17 18:48] boylec commented on #10918
Note:

Exporting the collection, fixing the parameter up in the raw JSON and reimporting as a new collection allowed the parameter to be set. This is not a solution that unblocks however because this is a collection connection to an API so I can't have that connection be detached.

Note 2:
There is also a situation with this collection where the collection variables that I save sometimes revert ev

[2022-05-17 20:28] kellymenzel commented on #3019
We're patiently awaiting non-enterprise plan support for MSI deployments as well.

[2022-05-17 23:09] blackathol opened #10919 "Allow comments in Request Body"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

In a request Body, particularly for 'raw' / 'JSON' format content, please allow comments. For example:

{
    "field_name": "field_value",
    //

[2022-05-18 01:02] ifbarrera commented on #9877
Any update on when generated API documentation will support OpenAPI 3.1? Is there a new issue for that or should we continue to follow this issue?

[2022-05-18 05:59] bavulapati commented on #10851
This should now be fixed with the latest update. Please update your app and feel free to open this issue in case you still see it.

[2022-05-18 05:59] #10851 closed, assigned to bavulapati

[2022-05-18 06:45] Wurstnase commented on #10010
The system proxy is not working in my amazon linux workspace.

I'm trying to use OAuth2.0 -> Authorization Code (With PKCE).

**Environment Information**
- Platform Type: Desktop App
- Postman Version: 9.16.0
- OS: Amazon Linux 2

[2022-05-18 07:03] dhwaneetbhatt commented on #10919
The Postman does allow comments in the request body but sends the payload as-is to your server. The app does not show an invalid JSON or give linting errors after adding comments.

But the JSON spec does not allow comments in the body so maybe your server is rejecting the payload?

[2022-05-18 07:05] uschwag commented on #10915
Hello, as our proto contains reference to additional files we are forced to
"Use without Importing".

Gesendet mit der Telekom Mail App

--- Original-Nachricht ---
Von: Udit Vasu
Betreff: Re: [postmanlabs/postman-app-support] GRPC - Import protobuf
definition from local file isn't saved permanently (Issue #10915)
Datum: 17. Mai 2022, 16:52
An: postmanlabs/postman-app-support
Cc: uschwag, Mention

[2022-05-18 08:51] lucaslov commented on #5502
My usecase is similar, I have some collections in which I'd like to include name or email of the currently logged in user so that we don't have to manually write it down every time someone wants to update/create some data as we have a requirement to have an information about who creator/modifier. I'd love this feature to be there for us

[2022-05-18 09:44] olekstomek opened #10920 "Select opened request - locate currect request in collections"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Having a dozen collections, I would like to be able to quickly find my request in the collection tree.

### Describe the solution you'd like

The idea is to allow you to quickly find the

[2022-05-18 10:18] vonckm-kadaster commented on #8929
+1 please :)

[2022-05-18 10:53] ThomasGugler opened #10921 "new request: cannot enable Authentification: "this request does not use any authorization""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

setup a new grpc call and want to set jwt bearer token:
Type of Authorization is greyed out..

### Steps To Reproduce

1. New grpc Request
2. Click Authorization Tab
3. Try to Change Authorization: not possible

### Screenshots o

[2022-05-18 11:11] k1th opened #10922 "Schema auto fetch for GraphQL does not send Authentication header when authentication is set to OAuth2."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Schema auto fetch for GraphQL does not send Authentication header when authentication is set to OAuth2.
It does not matter, if it's set in the request or inherited from the collection.
In both cases no auth header is sent.

### S

[2022-05-18 11:35] NightHunterSV commented on #5817
Hi, @numaanashraf, so probably any news on this?

And one more thing: after I've switched from the dark theme to the light, I still have a dark glitch on switching to the Postman from another app:
![image](https://user-images.githubusercontent.com/5138333/169028661-eeb2aeaa-6fe2-440a-ae4e-17bbcb3d9ba7.png)
But in the darkroom, when the dark theme was applied in my OS and manually applied the dark

[2022-05-18 11:50] stlr00 opened #10923 "macOS application type"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

macOS think, that m1 Postman application is a IOS application.

### Steps To Reproduce

1. Open "about this mac"
2. Storage
3. Programs section

### Screenshots or Videos

<img width="1073" alt="image" src="https://user-images.gi

[2022-05-18 12:21] vinothkrstatiq opened #10924 "WebSocket subprotocol option is not available can you add this feature to the current version"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

https://github.com/mobilityhouse/ocpp
in the above link
async def main():
   async with websockets.connect(
       'ws://localhost:9000/CP_1',
        subprotocols=['ocpp2.0.1']
   ) as w

[2022-05-18 12:34] vinothkrstatiq commented on #9997
hey everyone ,
I am using one of the ocpp  sub protocols it not connecting can anyone help me with this
ocpp1.6
ocpp2.0
ocpp2.0.1

[2022-05-18 12:41] vinothkrstatiq commented on #9997
hi people it is working now
u can also refer my screenshot
<img width="1056" alt="ocpp working" src="https://user-images.githubusercontent.com/96102600/169040936-ae088e9f-3223-4902-b9b9-5b46d907e5d5.png">

[2022-05-18 12:54] PaulSinnema commented on #4578
Same here, Starting Postman takes very long. Still no solution?

[2022-05-18 13:15] Fahim-c opened #10925 "Creating code snippet for Python Requests error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When creating code for Python Requests in the headers it adds a space inside the value quotes at the start which needs to be removed otherwise it doesn't run. I have attached a piece of code below. Before "gzip" there is a space.

[2022-05-18 13:22] jviotti commented on #10923
Very interesting! Thanks for catching this. I can indeed reproduce:

<img width="1073" alt="Screen Shot 2022-05-18 at 09 21 36" src="https://user-images.githubusercontent.com/2192773/169048626-2bb63e0c-eab0-4555-932c-b79315bc7228.png">

Not sure what causes the OS to think this. It seems like it also thinks that some apps I have, like VLC, are also iOS apps, while correctly detects other ones as A

[2022-05-18 14:07] z0d1ac-RU commented on #10851
Site states that latest version is 9.18.2, however version 9.16.0 is being downloaded from https://dl.pstmn.io/download/latest/win64
Hence can't verify that issue is being fixed or not :(

[2022-05-18 15:52] OlivierMary opened #10926 "CA Certificate for proxy feature is not valid for golang"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The certificate generated for proxy feature is not valid for golang.

Cause it's not valid for asn1 RFC.

### Steps To Reproduce

You can checks the step in my thread in golang repository: https://github.com/golang/go/issues/5296

[2022-05-18 18:35] ErnandesAJr commented on #8747
same for me ... stil the same problem, I have not found a workaround

[2022-05-18 19:38] OGoodness commented on #5372
+1

[2022-05-18 21:47] timbochamp commented on #10918
Hi @boylec, thanks for reporting. This sounds similar to #10862, so I'm going to close and open a bug there. Could you submit logs and a HAR file if you're able to reproduce this again?

You can refer to these articles on how to collect the logs:

https://support.postman.com/hc/en-us/articles/360038234154-How-to-generate-a-HAR-file-
https://support.postman.com/hc/en-us/articles/360047765713-Where-

[2022-05-18 21:47] #10918 closed, assigned to nobody

[2022-05-18 21:49] timbochamp commented on #10862
@sciamano89 please refer to these docs to send us logs along if you're able to reproduce the issue.

You can refer to these articles on how to collect the logs:

https://support.postman.com/hc/en-us/articles/360038234154-How-to-generate-a-HAR-file-
https://support.postman.com/hc/en-us/articles/360047765713-Where-can-I-find-logs-for-the-Postman-Application-

and where to send them:
https://support.

[2022-05-18 21:52] czhou-lightbox opened #10927 "When download 500MB file makes Postman quit"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When download 500MB file makes Postman quit

### Steps To Reproduce

use GET Method to download a file which is 500MB
clicked "Send" or "Send and Download"
after waiting for some time the Postman quit

### Screenshots or Videos

[2022-05-18 21:52] timbochamp commented on #10897
Sorry to hear. I'm wondering if logs could help us identify anything going on that shouldn't be. You can refer to these articles on how to collect the logs:

https://support.postman.com/hc/en-us/articles/360038234154-How-to-generate-a-HAR-file-
https://support.postman.com/hc/en-us/articles/360047765713-Where-can-I-find-logs-for-the-Postman-Application-

and where to send them:
https://support.post

[2022-05-18 21:54] timbochamp commented on #10910
Thanks for the info, @jcwoos. I'm thinking capturing some logs might be helpful. You can refer to these articles on how to collect the logs:

https://support.postman.com/hc/en-us/articles/360038234154-How-to-generate-a-HAR-file-
https://support.postman.com/hc/en-us/articles/360047765713-Where-can-I-find-logs-for-the-Postman-Application-

and where to send them:
https://support.postman.com/hc/en-us

[2022-05-18 22:20] timbochamp commented on #10924
Hi @vinothkrstatiq, from https://github.com/postmanlabs/postman-app-support/issues/9997#issuecomment-867541855 in #9997, subprotocols should be implemented. I believe you can use the `Sec-WebSocket-Protocol` header with value to negotiate the subprotocol with the server.

If that still isn't working, can you outline with reproducible steps your use case?

[2022-05-19 00:46] srmn-ict commented on #10794
@giridharvc7 : Sorry for delay in response, yes thats correct , after clicking on "Get a new access token" , I am getting a new token with expiration time , along with that a GET request is sent in consule, which is disabled saying “ This request was triggered by an authentication helper “ can we access this request?

[2022-05-19 02:39] vinothkrstatiq commented on #10924
@timbochamp  i found the answer thanks a lot

[2022-05-19 02:39] #10924 closed, assigned to nobody

[2022-05-19 07:26] uschwag commented on #10860
@akshaydeo please recognise that this behaviour, the password shows up in documentation, isn't only the case for NTML but even classic basic auth.

[2022-05-19 10:09] bo55vxr commented on #10773
Did this fix resolve the `{{variable}}` substitution issue

[2022-05-19 10:18] bo55vxr commented on #10806
@giridharvc7 - I use variables for the Authorization token but these do not seem working as expected.

For the scenario below, the Authorization Header is NOT sent to the API and the Schema Fetch fails
![image](https://user-images.githubusercontent.com/1264998/169270144-e58be0c4-b5bd-49f4-a3d9-9ec25e1f2ada.png)

However, if you send an explicit value, then the Authorization header is sent to the A

[2022-05-19 11:00] riyayay commented on #10806
@bo55vxr it seems to be working with `9.18.2`. Can you share the app version you're on and update if it's below `9.18.2`?

[2022-05-19 11:12] bo55vxr commented on #10806
I did explicitly do the update when this issue was resolved ... however, it seems I have transported to the future as it appears that I have 9.**19**.2
![image](https://user-images.githubusercontent.com/1264998/169279914-653a91e6-5a19-460f-a09d-2292b84a3b78.png)

POSTMAN Console shows Authorization Header is NOT being sent

![image](https://user-images.githubusercontent.com/1264998/169280188-7f452

[2022-05-19 11:46] akshaydeo commented on #10860
@uschwag let me know if this helps you solve the issue 🙇

[2022-05-19 11:55] jviotti commented on #10896
Hi @rajeshisnepali ,

Are you using the Linux tarball or the Snap?

[2022-05-19 12:02] bo55vxr commented on #10806
I would open as a new issue, but it appears that I am not able to

[2022-05-19 13:23] jaysonsosweet commented on #6889
Thought it was default behavior the first time I used Postman.
Quite disappointed when I figured out it was not.

It'd be a great feature ! Would make Postman more easy to use...

[2022-05-19 13:39] giridharvc7 commented on #10806
Reopened this issue, thanks for reporting this. We've found the root cause and we'll push out a fix soon.

[2022-05-19 13:41] timbochamp commented on #10921
Thanks for reporting, @ThomasGugler. I'll log an issue to investigate if this is bugged or something that needs more effort with grpc still being in beta. We'll report back with an update!

[2022-05-19 13:45] umnex opened #10928 "Error: Too many levels of nesting to fake this schema"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I use nesting in my OpenAPI definition and generate collection. The generated examples where nesting has been used show the following error:

<Error: Too many levels of nesting to fake this schema>

Sample generated Example:

[2022-05-19 14:26] timbochamp commented on #10927
tagging #9739 as well where the two seem somewhat related

[2022-05-19 14:37] onakitoki commented on #5431
Same here,
Ubuntu 20.04
Postman Version 9.18.3
OS Platform linux 5.13.0-41-generic
UI Version 9.18.3-ui-220518-0837
Desktop Platform Version 9.16.0

Really really annoying, after 1 hour of working, it breaks all the pages i have open

[2022-05-19 15:36] kamalaknn commented on #5431
@onakitoki Could you share the application logs with us at `help@postman.com` so we can take a deeper look at the issue? You can find the logs from `View -> Developer -> View logs in File Manager`.

[2022-05-19 15:46] mariuskuehnast opened #10929 ""Design an API in a minute" Bootcamp lesson suddenly stops"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When you get to 56% of the "Design an API in a minute" lesson, the lesson does not continue at the "Switch the environment" step after you have switched the environment to the "App Status Checker" environment. There are no more p

[2022-05-19 17:28] timbochamp commented on #10928
Hi @umnex , thanks for reporting. I'm not able to reproduce using your example when importing when using path or tags folder organization. It looks at first glance like the 10 stack limit nesting level hasn't been reached either.
<img width="1779" alt="Screen Shot 2022-05-19 at 11 39 12 AM" src="https://user-images.githubusercontent.com/4521134/169360831-40fbbe03-afe2-40f9-89b4-10e960b9b30e.png">

[2022-05-19 17:31] timbochamp commented on #10929
Thanks for reporting, @AnonymousOctopus235. I'm able to reproduce the same and have logged a bug for the team to investigate. We'll relay updates here!

[2022-05-19 17:44] timbochamp commented on #10925
Thanks for reporting, @Fahim-c. I'm able to see the same and logged a bug for the team to investigate. We'll relay any updates here!

[2022-05-19 17:56] timbochamp commented on #10926
Thanks for reporting, @OlivierMary. I've logged a bug for the team to investigate. We'll relay any updates or should we need any other information!

[2022-05-19 18:50] IvanKonon commented on #5980
Postman 9.18.3 on Mac - same issue.

[2022-05-20 04:11] kamalaknn commented on #5980
@IvanKonon @vizakgh Could you share the application logs and crash logs with us at `help@postman.com` so we can take a deeper look at what's happening here?

1. You can get the application logs by going to `View -> Developer -> View logs in Explorer` (Windows) or `View -> Developer -> View logs in Finder` (macOS)?
2. You can find the crash logs on `C:\Users\admin\AppData\Roaming\postman\crashpad`

[2022-05-20 05:03] vedkribhu commented on #10905
@neerajashetty @pmalecka @vdcardenas  fix for this is deployed with 9.18.3(app) and on web as well. @pmalecka a special thanks for all the insights you provided, it helped us find the root cause.

[2022-05-20 06:29] VaishnaviChallaPostman commented on #10317
Hey @percyvega 👋
This is now fixed in the web version and will be out in the desktop version soon :)

[2022-05-20 07:12] umnex commented on #10928
Sorry I attached the spec where i solved the issue by removing the nesting. Here is the spec sample that generates issues.
[spec_with_issues.txt](https://github.com/postmanlabs/postman-app-support/files/8737203/spec_with_issues.txt)

[2022-05-20 07:29] svenmeys commented on #7083
+1 bumpity bump bump bump

[2022-05-20 08:22] Levon770 commented on #2086
+1

[2022-05-20 08:37] tbettermann commented on #2086
+1

[2022-05-20 09:32] giacomotontini commented on #6033
any update on this?

[2022-05-20 13:32] SahilChoudhary22 commented on #10854
Hi @cblavier

Can you share a screenshot or video showing the configuration you're getting and the expected behaviour?

[2022-05-20 13:41] cblavier commented on #10854
Hey @SahilChoudhary22

Here is what happens when I import my spec:
[https://share.cleanshot.com/OrGUM1](https://share.cleanshot.com/OrGUM1)

And here is what it is supposed to look like (with grant type & access token url correctly filled in)
[https://share.cleanshot.com/hXZna5](https://share.cleanshot.com/hXZna5)

Best,
Christian

[2022-05-20 14:36] timbochamp commented on #10925
Hi again, @Fahim-c, we dug a bit deeper and I was mistaken in being able to reproduce where I was looking at the wrong spacing. We're not able to see that space being added where you described within Postman or when copying the Python snippet to an editor:
![Screen Shot 2022-05-20 at 11 33 09 AM](https://user-images.githubusercontent.com/4521134/169550928-b280fdf8-cc0d-4988-b606-10137608a450.png)

[2022-05-20 14:40] #10905 closed, assigned to nobody

[2022-05-20 14:58] flycal6 commented on #9835
As long as there's no toggle to completely disable sync, this program will not be allowed to be installed.  Will this ever be added?

[2022-05-20 15:11] braveheart55 commented on #6610
The description of a collection variable doesn't jive with the behavior in this bug.

[2022-05-20 15:16] braveheart55 commented on #5053
Since this is a duplicate of 6610, could a doc change be made to the description of collectionVariables? collectionVariables are **_NOT_** "available throughout the requests" within a collection.

'Collection variables are available throughout the requests in a collection and are independent of environments. Collection variables don't change based on the selected environment. Collection variables

[2022-05-20 16:24] vizakgh commented on #5980
Win11 logs
[logs.zip](https://github.com/postmanlabs/postman-app-support/files/8741925/logs.zip)

[2022-05-20 16:26] vizakgh commented on #5980
Winn11 logs sent to email

[2022-05-20 17:09] MojoMoe opened #10930 "Graph API request in Postman App"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

This Graph API request fails in postman (some other Graph API requests are working fine in postman) whereas it works fine in Graph Explorer:

GET https://graph.microsoft.com/v1.0/users?$filter=Department eq 'Finance'

{
    "erro

[2022-05-20 19:05] uprg commented on #3411
I am having the same problem but in my python script . postman runs nicely

[2022-05-20 19:32] jjkirby opened #10931 "Adding New API to a Branch with Existing APIs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

So in my personal workspace, I have set up a Github connection where I import some existing OpenAPI files into the workspace.

Next, I want to use the Postman editor to create a new API i

[2022-05-20 22:30] jmaslibre-pp commented on #6323
From the link:

Thanks Pham and @myahl-uncomn

[2022-05-21 07:26] rajeshisnepali commented on #10896
I'm using tarball @jviotti

[2022-05-21 19:08] boctulus commented on #5872
I've tried [dakujem](https://github.com/dakujem) solution but not working for Windows 11 (my case)

[2022-05-21 22:36] jaredcollier commented on #4753
I came here hoping for at least a discussion on the topic.  Radio silence from the dev team for 4 years is pretty disheartening.  This is obviously a very real problem for many of us, sad to see no action whatsoever on it.

[2022-05-22 13:31] EmilAlipiev commented on #10835
wow nobody respond to this more than a month. It is still hapening. For me I login on the browser it is successful, i select open in Postman and this popup is appearing again. So it goes to a loop. This should be prio high bug but looks like nobody cares.

<img width="294" alt="image" src="https://user-images.githubusercontent.com/10422347/169697661-5c41cf23-bc4c-4f36-9b09-a45eb4395c8a.png">

[2022-05-22 16:44] mariuskuehnast opened #10932 "Workspace overview shows wrong information"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When returning to a workspace of your team after viewing a public workspace, the "Workspace details" window (info icon at top right of workspace overview) shows the creator of the public workspace under "Created by" on your own w

[2022-05-23 01:14] dellams opened #10933 "Postman responds with “Error: aborted message” Could not get a response when a response IS sent"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Our API use to respond with a “Not logged in” kind of error if they were not authenticated or the JWT token had expired but now we get a Error: aborted message instead (could not get a response).

But the API has not changed and

[2022-05-23 05:08] kamalaknn commented on #5980
@vizakgh I can see a lot of errors in the logs from corrupted collections on the application logs you've attached. Would you mind getting on a call with us? It will help us debug the root cause of the issue you are facing faster.

[2022-05-23 06:15] akshaydeo commented on #3117
Hi everyone, thank you for your patience. We have released support for Open API 3.0 schema documentation support in March 2022. You can learn more about [here](https://blog.postman.com/open-api-3-0-documentation/).

Let us know your feedback 🙇‍♂️

[2022-05-23 06:36] bavulapati commented on #10851
@z0d1ac-RU We have fixed the issue where the version reflected on the release notes and the artefact downloaded was different.
Can you please take another look.? The latest on the website should have the fix. Please update your app and feel free to open this issue in case you still see it.

[2022-05-23 07:49] vizakgh commented on #5980
Hi. Collection does not look corrupted, but it has many (10-20) big requests – with base64 file body inside (~1-3MB). We can have a call on Thursday, 1PM  (10PM UTC). Regards,Victor From: KamalakannanSent: 23 травня 2022 р. 8:09To: postmanlabs/postman-app-supportCc: vizak; MentionSubject: Re: [postmanlabs/postman-app-support] Gray/blank screen after some seconds ***@***.*** I can see a lot of erro

[2022-05-23 09:34] cnjack opened #10934 "gRPC does not support the proxy"
### Is there an existing issue for this?

- [ ] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Can not use the proxy when call a gRPC service

### Steps To Reproduce

N/A

### Screenshots or Videos

_No response_

### Operating System

macOS

### Postman Version

Version 9.19.3

### Postman Platform

Postman App

### Addit

[2022-05-23 10:36] #6749 closed, assigned to akshay-kulkarni-03

[2022-05-23 11:14] seregagl commented on #8920
+1

[2022-05-23 11:17] rwxzig opened #10935 "Save All modified requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

It is just annoying that I need to go to each request and click save rather than having a button that allows to save all modified requests with one click.

### Describe the solution you'd

[2022-05-23 11:25] uschwag commented on #10860
@akshaydeo that is not a solution as the Learning Center explicitly says:

Secret type masks the [initial and current values](https://learning.postman.com/docs/sending-requests/variables/#specifying-variable-detail) for all workspace members and can be used to prevent unintentional disclosure of sensitive data, including API secrets, passwords, tokens, and keys.

There is no reason why just the do

[2022-05-23 14:51] lougeo commented on #3117
This does not solve the issue. When the request parameters are query string parameters they are labelled nicely with all of the supporting information that can be provided in the OAS specification (type, and !description). However when the request parameters are body parameters, they are just formatted as a json blob. They need to be formatted the same as the query string parameters - with a descr

[2022-05-23 15:26] Neutrino-Sunset commented on #4671
I don't even know what the current implementation is.

I have a green cloud icon at the top of my workspace telling me all my data is synced to the cloud, while at the same time I have 15 tabs open all with orange dots in telling me they are unsaved.

What the hell does that even mean!

[2022-05-23 15:32] imamrb commented on #8195
+1 for this
It's annoying to click on save or typing CTRL+S every time.

[2022-05-23 15:44] kvnpttrsn commented on #10860
I definitely upvote the previous comments: this is not a solution. As a corporate user with strict requirements to protect login credential secrets, I feel betrayed by Postman revealing what its own documentation says the application will protect “unintentional disclosure of sensitive data, including API secrets, passwords, tokens, and keys.”

—
KEVIN PATTERSON
Corgan

D — 214-757-1893

From: usch

[2022-05-23 16:54] dmetzler1988 opened #10936 "Import from Code Repository (GitHub)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I watched today a [video](https://www.postman.com/events/postman-space-camp/api-lifecycle-part-1-build-and-test-an-api/) about API Lifecycle from our learning center (Space Camp) and followed the steps - but can't import the exam

[2022-05-23 17:47] abhijitkane commented on #10936
@dmetzler1988 Thanks for reporting this. We're investigating and will get back to you.

[2022-05-23 17:52] petkostas commented on #3117
@akshaydeo No it is not, the request body documentation is still not rendered in the collection documentation.

[2022-05-23 17:59] schonhoff commented on #3117
Yep, it is still not possible to show the api documentation to a client without sharing the api. I would love to get the api documentation to the client through the collection documentation. Maybe with an extra site or something but the current state isn't even the feature that is requested here.

[2022-05-23 21:10] M4dskill2 opened #10937 "Monitor option continues failed request notifications and single successful request notification"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Let's say you have a large collection of monitors, a bunch of them start going off and you are working on fixing them but you've already received the 3 failure notifications, you've been

[2022-05-24 00:05] DetachHead opened #10938 "unhandled promise rejections in pre-request scripts silently fail"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

if a promise is rejected in a pre-request script, it will fail silently with no error being outputted to the console

### Steps To Reproduce

1. create a pre request script with the following code:
[code]
2. open the console
3. c

[2022-05-24 00:13] DetachHead commented on #2912
there are type definitions for the postman-sandbox package [here](https://github.com/postmanlabs/postman-sandbox/blob/develop/types/index.d.ts) but they aren't exported properly, which i fixed in https://github.com/postmanlabs/postman-sandbox/pull/826

however the types in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/15691 seem to be completely different. regardless, the name `@types/po

[2022-05-24 00:58] DetachHead opened #10939 "typescript check for pre-request scripts is incorrectly including `@types/node`"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

as far as i can tell, pre-request scripts do not run in a nodejs environment, but typescript seems to check them with the `@types/node` package included

i suspect it may be caused by this:

https://github.com/DefinitelyTyped/Def

[2022-05-24 02:11] ketony commented on #1066
A workaround for me, was to export the collection as JSON, delete the requests from the JSON (luckily those I wanted to delete are all at the bottom of the json), and import again as a new Collection.

[2022-05-24 06:15] DetachHead opened #10940 "publish typescript type definitions for pre-request scripts"
### Describe your current workflow

i am writing a fairly convoluted pre-request script which has led me to deciding to write in typescript and store it in a git repo. however, i can't seem to find any existing type definitions that match the `pm` object available in pre-request scripts. i found the types in [`postman-sandbox`](https://github.com/postmanlabs/postman-sandbox/blob/develop/types/inde

[2022-05-24 06:42] Simon-Wong-hjz opened #10941 "Blue screen on Windows10 corelates with Postman"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I've been using Postman for a while and have run into some blue screen several times. The error code was always KERNEL_SECURITY_CHECK_FAILURE. I didn't connect it to Postman initially, assuming it was a hardware issue. But then I

[2022-05-24 07:28] romanmeister commented on #4193
Please add this functionality.. This is really useful. Don't want to make a messy hacky solution.
Came back from insomnia because it lacked other features i liked abt postman.
But this seems so basic.

I want to fill some variable (body, header, anything) with response content from another pre-built request, like a login request / authentication request.

We can access `environment variables`, `gl

[2022-05-24 07:43] bpedro commented on #8213
Hi @gbarmashiahflir, thanks for your patience.

We are getting in touch with you privately with information about the individual collection items operations.

[2022-05-24 08:05] JohanRyberg commented on #4079
Yes, both zlib and gzip compression would be a nice feature

[2022-05-24 08:24] thundron commented on #10941
Hi! A BSOD on Windows is likely sign of outdated drivers or corrupt file systems. I would strongly suggest doing a check-up with Windows diagnostic tools (sfc, dism, chkdsk and such) and verifying the system integrity overall

[2022-05-24 09:21] abhijitkane commented on #10931
@jjkirby Thanks for the detailed explanation. This is a workflow we're reviewing, and I'll try to share an update soon.

[2022-05-24 09:46] Autuan opened #10942 "Is "Save Response" could decode the filename?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The response header :
Content-Disposition :  attachment;filename=Hello%20World.txt

When I use the "Save Response " or "Send and Download", the file's name is `Hello%20World.txt`.

### De

[2022-05-24 14:12] Uckpa opened #10943 "Ability to save response to environment in the WebSocket requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Usual response after sending a message via using WebSocket request:
[code]
It willl be great to save data/session_id/transaction to environment variables. Like it was done for usual POST/

[2022-05-24 14:17] #10943 closed, assigned to nobody

[2022-05-24 15:59] argylearson commented on #10933
I'm having the same issue. I have custom JWT handlers that throw custom 401 messages. While I'm dubugging, the 401 shows:
![image](https://user-images.githubusercontent.com/10134258/170079899-fa1c2aa5-3b8d-47ba-8066-296a165016a1.png)
However, once I let the application run through, I get the same "Could not get response. Error: aborted"

This worked as late as a week or two ago, and no changes hav

[2022-05-24 16:34] timbochamp commented on #10928
Sorry for the delay, @umnex. I've added a feature tag here for our Product team to review this as a feature request where the implementation will likely take time. It is a fixed limit of 10 levels of nesting I believe.

As mentioned in my last post, to get around these limits, I'd recommend checking out the openapi-to-postman project and this thread in particular where these limits are discussed f

[2022-05-24 16:38] umnex commented on #10928
Thanks for the update. I don't think I passed the 10 levels limit in my spec. Can you confirm it please?

[2022-05-24 18:42] giridharvc7 commented on #4753
@jaredcollier  @hbertsch @ryanharmaning folks, I'd love to understand this problem you are facing a bit deeper. If its okay for you, can we have a call? You can use [this](https://calendly.com/giridhar-vc-postman/hello) to schedule a meeting with me.

[2022-05-24 18:56] trunkafunk opened #10944 "Unable to issue GRPC requests to service"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

gpcurl works but postman can't connect

### Steps To Reproduce

I'm able to use grpcurl command without issues to introspect a service:
gray@grayco ~ % grpcurl [redacted]:443 list
grpc.reflection.v1alpha.ServerReflection
[redacte

[2022-05-24 19:08] TKnapp8743 commented on #8480
This seems like this would be a super common use case. My requests require this and as such, I can't use the monitors. Please address soon, ty

[2022-05-24 19:59] ededdneddie opened #10945 "Ability to restrict users assigned to an environment from seeing the values to variables while still allowing them to use the variables<title>"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently, my team is able to see the values to API token variables that are highly sensitive. I need to be able to restrict visibility to these variable values to a single user while sti

[2022-05-24 22:58] adamatkinso opened #10946 "New Integration Request - <product name>"
### Describe your current workflow

integrating various app apis

### Describe your ideal workflow

clickup > aircall > clickup

### Describe alternatives you've considered

airtable, hubspot, freshsales, agilecrm, monday

### Additional context

the clickup api is crap

[2022-05-24 23:10] trunkafunk commented on #10915
+1

[2022-05-24 23:11] trunkafunk commented on #10902
+1 I can also confirm that hitting a public server endpoint, grpcurl works fine, however postman gives Error 14.

[2022-05-24 23:13] trunkafunk commented on #10944
Dupe of GRPC issue 10902

[2022-05-25 02:19] DetachHead commented on #10940
so i found https://github.com/postmanlabs/postman-sandbox/blob/develop/types/sandbox/prerequest.d.ts which seems to be more accurate but there's still some stuff missing such as `pm.variables.replaceIn`

[2022-05-25 03:49] DetachHead commented on #10940
so it turns out there were two problems:

-  i was using the wrong types (`index.d.ts` instead of [`sandbox/prerequest.d.ts`](https://github.com/postmanlabs/postman-sandbox/blob/develop/types/sandbox/prerequest.d.ts))
- `postman-sandbox` was using outdated `postman-collection` types, which i've since fixed in https://github.com/postmanlabs/postman-sandbox/pull/826 and https://github.com/postmanlab

[2022-05-25 06:11] giridharvc7 commented on #10112
We have picked up this feature. We will post updates as we get closer to release.
Also this is a duplicate of #2452 , closing the ticket here - please use the other issue.

[2022-05-25 06:11] #10112 closed, assigned to giridharvc7, shubhbhargav

[2022-05-25 06:11] giridharvc7 commented on #2452
We are picking up this feature. Will keep this thead updated.

[2022-05-25 07:55] lkeijmel commented on #7648
@codenirvana any news on this? The documentation does not state it is a shim nor does it says it only has v4 support but you are linking to the complete uuid package.

[2022-05-25 09:16] iamkarlson commented on #9424
@coditva if you can provide any other way to have a link constructed with a response data - it would be more than enough. maybe let postman use some system hooks, idk

[2022-05-25 15:01] serendipiri opened #10947 "Sign In Problem - "Not allowed to use the browser: Google Chrome (91.x)" error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I encountered **Something went wrong** error page when I opened the postman desktop app. I couldn't reach my workspace.
- Then I saw there was an error about failure of update (**Screenshot-1**) and clicked **"Update failed, view

[2022-05-25 17:20] STK1321 commented on #10648
Hello I replicated the same issue :C

[2022-05-25 18:20] togiles opened #10948 "Allow import of a gRPC service proto through Postman APIs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

We have built automation around publishing open API specs to our postman workspaces, and would like to automat publishing gRPC apis as well.

### Describe the solution you'd like

I'd lik

[2022-05-25 18:26] togiles opened #10949 "Allow updating an existing api when importing via import/openapi."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

We have built automation around publishing APIs via the https://api.getpostman.com/import/openapi endpoint, however the existing APIs only allow importing new APIs and do not support upda

[2022-05-25 19:17] umeshp7 commented on #10648
@STK1321 @DanRos84 We have recently merged a fix for this in the recent app. Could try to update the app and try it out again and let us know if you are still facing any issues?

cc @sairam459

[2022-05-26 02:22] RobertoPeredo commented on #10764
You can add the properties  "maxItems" "minItems", under the line " type: array"
Something like that
` type : array,
  maxItems: 1,
   minItems: 0,`
With this way you ensure that the arrangement only has one element, and therefore the fields are not repeated

[2022-05-26 04:58] shashankawasthi88 commented on #10937
@M4dskill2 what channel (Slack, Webhooks, email, MS Teams, etc)are you watching these notifications on?

[2022-05-26 05:00] shashankawasthi88 commented on #10946
@adamatkinso please reopen the ticket with additional details. Postman integrations are usually for sending data to and fro from Postman to complete your developer workflows involving Postman and some other tool.

[2022-05-26 05:00] #10946 closed, assigned to abhijitkane

[2022-05-26 05:24] kamalaknn commented on #3379
Hey @HebeHH

Could you share the application logs from `View -> Developer -> View logs in Finder` with us through `help@postman.com`?

We're working on some performance improvements and would love to understand the workflows that are causing trouble for you.

[2022-05-26 05:47] jsnhsu opened #10950 "Allow searching/sorting variable lists"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have over a hundred variables defined in either Global or each Environment variable list which shows chronologically but alphabetically.  It's hard to find a single variable to review o

[2022-05-26 05:51] numaanashraf commented on #10947
@serendipiri Looks like your IT team enforces a minimum version of Chrome to be used.

Could you elaborate on where you got the error in Screenshot-3? Was it on your browser?

[2022-05-26 06:18] akshaydeo commented on #10860
Thanks @kvnpttrsn @uschwag for your feedback. We are working on a fix. Will update this ticket as soon as we have the fix deployed 🙇‍♂️

[2022-05-26 06:55] sairam459 commented on #10648
@STK1321 @DanRos84 Please update postman app to the latest version (Version 9.20.1). We have recently released a fix for this issue. Please let us if you are facing the issue after updating the app.

[2022-05-26 12:06] anvarius94 opened #10951 "Entered XML code example in Collection Documentation Codeblock shown incorrect"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If you will add Codeblock in collection doumentation and fill it by some XML example - this data will be saved incorrectly after saving.

Before saving:
![image](https://user-images.githubusercontent.com/106316102/170483894-9d012

[2022-05-26 12:11] Maghil commented on #9498
+1

[2022-05-26 12:23] asoltesz commented on #3358
+1 to this feature, badly needed.

In Postman, there is no good feature to document the request, so everybody would like to do it in the body.

The Documentation panel is mostly useless. Is is very hard to notice / read anything you put in there because it displays a lot of other contents which is not about documenting the request.

The Comments panel can only be used with Workspaces (which is a n

[2022-05-26 12:36] Bowske commented on #9997
getting
`
Error: Invalid WebSocket frame: RSV1 must be clear
`
after setting  graphql-transport-ws value of Sec-WebSocket-Protocol. Is there any way to bypass it?

[2022-05-26 13:14] timbochamp commented on #10950
Duplicate of #10602

[2022-05-26 13:14] #10950 closed, assigned to nobody

[2022-05-26 17:16] mljstx commented on #10936
I'm also seeing this against our org repos - Postman 9.19.3 on Windows.

[2022-05-26 19:42] serendipiri commented on #10947
Hi, I got the error in Screenshot-3 when I click the Sign In button inside Postman desktop app. It's happening inside the app.
I only know that the chromium version that postman uses might have some security vulnerabilities.

[2022-05-26 20:14] zenkiben opened #10952 "Error when launching"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

How to fix this issue?
![image](https://user-images.githubusercontent.com/33957533/170572220-28e12c7f-7e93-4d16-8fbe-4281fa6ea8d0.png)

### Steps To Reproduce

launching postman

### Screenshots or Videos

_No response_

### Oper

[2022-05-26 20:43] zenkiben commented on #10952
This issue happen when update new latest version

[2022-05-27 02:46] numaanashraf commented on #10947
@serendipiri Postman v9.19.0 upgrades the internal Chrome version to 94. Could you download the latest version from https://www.postman.com/downloads/ and try if that works for you?

[2022-05-27 03:08] kamalaknn commented on #10952
Hey @zenkiben

We are unable to replicate this issue from our end. We would need more information to understand the root cause of this issue. Would it be possible to do a debugging session over a call to help us address the issue faster?

[2022-05-27 06:58] ankitjaggi commented on #9720
This is now available on the desktop app.

![Screenshot 2022-05-27 at 12 27 22 PM](https://user-images.githubusercontent.com/6972850/170647734-549039f2-a90a-4f70-a8f4-c5b038ae2517.png)

[2022-05-27 06:58] #9720 closed, assigned to ankit-m

[2022-05-27 07:45] snelling-a commented on #7083
bump

[2022-05-27 07:46] snelling-a commented on #8322
+1 🙏

[2022-05-27 08:22] ZenwalkerD commented on #2761
+1 this thread is long open.
Its unfortunate that a simple feature from postman is not being supported. It helps alot to share specific stuffs with respective individual.

[2022-05-27 08:43] corsair400r commented on #6452
add 2 step auth via codes, SMS anything

[2022-05-27 08:56] numaanashraf commented on #10947
@serendipiri Thanks. We are working on an upgrade and we should be able to Chrome v100 soon.

In the meantime, we suggest giving 'Postman for Web' a try. It has almost all the features of 'Postman for Desktop' and rums on your browser - https://go.postman.co

[2022-05-27 10:08] yosefham commented on #10605
Same feeling here, the Description column is barely used.
I guess the change is super simple: make it disabled by default (like the Content-Type column in form-data).

[2022-05-27 10:56] serendipiri commented on #10947
I can't use web version of postman, but I'm looking forward to new upgrades of postman app then. Thank you.

[2022-05-27 11:06] akshay-kulkarni-03 commented on #10388
@SanthanaRamaraj can you please raise ticket at [https://postman.com/support] !

[2022-05-27 11:06] #10388 closed, assigned to nobody

[2022-05-27 11:16] akshay-kulkarni-03 commented on #9749
@nrmartell can you check out this learning center [documentation] (https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/managing-workspaces/#managing-workspace-roles)? You should be able to give permissions to users at a workspace level and it will automatically trickle down to the respective elements/models inside it (E.g. collections, APIs etc).

Feel free to re-open this

[2022-05-27 11:16] #9749 closed, assigned to nobody

[2022-05-27 11:21] akshay-kulkarni-03 commented on #9631
@Swapnil-getpostman before v9.1 app version, we used to allow sharing of environments/collections across workspaces. However, with v9.1 & later version we moved towards a container model where-in this capability is no longer supported and you can only have environment/collection belonging to only one workspace. Closing this issue, since this is no longer applicable.

[2022-05-27 11:21] #9631 closed, assigned to nobody

[2022-05-27 11:29] zenkiben commented on #10952
You can see step by step from video.
https://youtu.be/ghQbhqblGJk

[2022-05-27 11:29] akshay-kulkarni-03 commented on #8916
@ShahinKohan could you tell us what exactly is the issue here so we can triage this better?

[2022-05-27 12:04] aranya0 commented on #10717
[ITEM.wsdl.txt](https://github.com/postmanlabs/postman-app-support/files/8786482/ITEM.wsdl.txt)

Hi

I have the same problem with the wsdl in the attachment. Is there already a solution available?

Thank you.

[2022-05-27 12:16] postman-support commented on #10952
Hi @zenkiben,

Sorry that you are facing issues while updating the desktop application.

Let me know if you have tried clearing the cache and then re-installing the application?
If not, **I'd first recommend ensuring your work is synced:** **https://go.postman.co/me/collections** **before trying the following**

- https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-

[2022-05-27 12:45] akshay-kulkarni-03 commented on #8665
@sagewall the purpose of workspace activity in to provide information to other users on what things have changed in the workspace from the last time they visit. It essentially acts as a mechanism for users to understand what happened in a workspace and how they can collaborative work upon. Could you elaborate a little bit more on why you would turn off logging of activity?

[2022-05-27 12:45] zenkiben commented on #10952
It's run ok.

[2022-05-27 12:45] #10952 closed, assigned to postman-staff

[2022-05-27 12:48] akshay-kulkarni-03 commented on #9806
@kedigby the request limits as a feature is removed now. On a side note, we will think about this feature request and see if we can have the downgrade functionality in the future.

[2022-05-27 12:55] akshay-kulkarni-03 commented on #7392
@Ramya-From-Postman the request limit is no longer applicable.

[2022-05-27 12:55] #7392 closed, assigned to Raja-Simha

[2022-05-27 12:58] akshay-kulkarni-03 commented on #7265
@cyrielle-hada a user can view all of their personal workspaces by going to Workspace Switcher -> View all Workspaces -> Filter by visibility (Personal).

Is this issue still present?

[2022-05-27 14:04] cyrielle-hada commented on #7265
@akshay-kulkarni-03 the UX has changed completely since I logged this issue. Also, it's not relevant anymore since we have removed the "remove entity" feature. Closing this! :)

[2022-05-27 14:04] #7265 closed, assigned to abhijitkane

[2022-05-27 14:30] GeorgeExplorer commented on #10648
Hi, Sairam. Tell me pls, how can i install this version? My postman desktop client shows me the latest version as 19.9.3 (look at screen)
![image](https://user-images.githubusercontent.com/99310998/170720008-bbcd7a71-9263-4754-b0da-2b0789d55e1f.png)

[2022-05-27 16:51] dsm2005 commented on #2701
+1

[2022-05-27 18:21] k98kurz opened #10953 "Documentation Generated from an OpenAPI Specification Fails Validation and Has Incorrect Indentation; Issue Resolution Creates Negative Integer Values"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When Documentation is generated from or synchronized to an OenAPI Specification document, integer path variables and schema attributes generate negative values like "-10968727" despite having examples like "1". Request bodies als

[2022-05-27 18:32] k98kurz opened #10954 "OpenAPI Documentation Validation Indicates Issues Exist but Shows None"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Documentation for APIs specified with OpenAPI will show "Issues found" in the Overview tab, even after hitting "Validate Again", but then there are 0 issues shown after clicking "Review Issues".

### Steps To Reproduce

1. Create

[2022-05-27 18:50] marekmasek commented on #5816
Any update on this? I would like to use Postman on Kali ARM on my M1 mac...

[2022-05-27 18:53] keithhilen commented on #1983
I'm having the same issue. Postman creates two connections, sends the request on the second one, and appears to leave the first one open until the server times it out. It doesn't happen with curl. There's another twist. It only occurs if the url is localhost, not 127.0.0.1. Something about the name lookup? I am running Postman version 9.19.0, MacOS Monterey, version 12.1 (21C52).
`
GET localhost:1

[2022-05-27 18:54] timbochamp commented on #10928
Let me check with our team just to be sure!

[2022-05-27 19:30] M4dskill2 commented on #10937
I'm using it to post in Microsoft teams, in Microsoft Teams I'm using the incoming web hooks and in Postman I'm using the Microsoft Teams integration.

[2022-05-27 19:31] M4dskill2 commented on #10937
@shashankawasthi88 I'm using it to post in Microsoft teams, in Microsoft Teams I'm using the incoming web hooks and in Postman I'm using the Microsoft Teams integration.

[2022-05-27 19:32] MirandaBrawnerSavannah opened #10955 "Please stop using racist language in the postman interface."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I noticed that Postman uses the term "whitelist" in the "Manage Cookies" interface. This term, and its opposite, "blacklist" should not be used. Terms like this are harmful because they associate white with good and Black with ba

[2022-05-27 19:44] jviotti commented on #5816
Hi everybody, we are actively working on Linux for ARM64 support! We have internal builds and we hope to start rolling this out as soon as it is stable.

[2022-05-27 20:52] DannyDainton commented on #10955
Hey @MirandaBrawnerSavannah

This has been addressed in the later versions of the platform, I can see that you're using version 7 which is two major version behind the latest one.

Here's the latest documentation for that area of the product.

https://learning.postman.com/docs/sending-requests/cookies/#accessing-cookies-in-scripts

[2022-05-27 20:52] ChristianReese opened #10956 "Add ability to send Websocket pings"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

It seems there isn't a way to send pings on a Websocket connection in Postman. Messages can be sent in text/JSON/Binary, but it would seem pings (WebSocket opcode 0x9 per RFC 6455) cannot

[2022-05-27 20:53] #10944 closed, assigned to nobody

[2022-05-27 21:01] cgontario commented on #9409
Any updates on fixing this regression? It's preventing us from using Postman with all of our Azure AD-protected APIs and, more critically with Microsoft Graph API. We've settled on Auth Code with PKCE and Delegated permissions (so no Client Secrets) and I don't see that changing, so we're in a bit of a bind; may need to look for alternatives to Postman and that's not ideal given how prolific it is

[2022-05-28 03:12] PostmanPeteB commented on #9185
It seems that the order of the params is currently driven by alphabetical order?

In "ArgsOutOfOrder" you can see that I have rearranged the params however my order of params is not honoured in the args list?

![ArgsInOrder](https://user-images.githubusercontent.com/106415828/170807581-9647ba70-8f05-4b80-a87c-7548af836e49.png)
![ArgsOutOfOrder](https://user-images.githubusercontent.com/106415828/1

[2022-05-28 13:01] nadlukk commented on #8929
+1, please

[2022-05-29 06:15] petru-motrescu commented on #8298
Hey 👋

Just downloaded Postman on my new MacBook with Apple silicon and I can reproduce this issue.

Installed from Postman v9.19.3 for macOS (arm64)
Postman version 9.19.0
macOS Monterey version 12.4

[2022-05-29 06:34] petru-motrescu commented on #4586
Hey 👋

Just downloaded Postman on my new MacBook with Apple silicon and I can reproduce this issue.

Postman installed from **Postman v9.19.3 for macOS (arm64).zip**
macOS Monterey version 12.4

[2022-05-29 12:00] Eugeny commented on #9488
Postman is a VC horse, they case about the workspace signup numbers, not your convenience.

[2022-05-29 12:54] minlaxz commented on #9021
+1 here, also for Edge.

[2022-05-29 16:37] rohit-wowmedia commented on #2086
+1

[2022-05-29 22:37] yurii-kysel commented on #10933
We are also faced with the same issue. It's failing with using .NET 6 with Kestrel+nginx (same as localhost on Kestrel), but working fine on .NET 6 with IIS.

I checked the response in Fiddler - both responses are reachable there and look pretty the same:

Example which is not working:
<img width="734" alt="image" src="https://user-images.githubusercontent.com/62063811/170893705-f5d7f8b8-2b1f-4baa

[2022-05-30 05:16] DetachHead commented on #10938
duplicate of #4131

[2022-05-30 05:16] DetachHead commented on #9714
duplicate of #4131

[2022-05-30 05:17] DetachHead commented on #8073
duplicate of #4131?

[2022-05-30 05:22] DetachHead commented on #4131
i found that the `setTimeout` workaround still works, but only if the number is <= max 32bit integer.

what i've found works best for my pre-request scripts is to wrap my code in an IIFE and a `try`/`catch`/`finally` block like so:

[code]

i agree with @dalepo, `async`/`await` is essential in javascript now, nobody should be using callbacks anymore so fixing this should be a high priority

[2022-05-30 05:23] #10938 closed, assigned to nobody

[2022-05-30 05:31] postman-support commented on #10952
Hi **@**zenkiben,

Super glad that all works now as expected!
Thank you for letting us know.

To identify what caused the problem, we would like to have a look and check with the logs.
Could you please submit a support request with a copy of your app logs?

via @Lincimary | Postman Support

[2022-05-30 06:53] DetachHead commented on #4131
it also seems that the `clearTimeout`/`clearInterval` workaround doesn't work properly if a promise rejects before any asynchronous code actually runs (which seems to be the case for some of the `pm` methods when promisifying them), for example:

[code]

adding an `await new Promise(setImmediate)` at the start of your code seems to fix it:

[code]

[2022-05-30 07:55] kamaraju-p commented on #10951
hi @anvarius94, thanks for reporting this issue. This is a known issue where we sanitise any un-allowed html tags due to security concerns. We are working on this to better accommodate valid use-cases. Will keep you posted after discussing with the security team.

[2022-05-30 09:08] malvikach commented on #10945
@ededdneddie noted! We are tracking this as a feature request.

[2022-05-30 09:11] #10955 closed, assigned to nobody

[2022-05-30 11:44] coditva commented on #9424
@iamkarlson I think this might be possible using the [Visualizer](https://learning.postman.com/docs/sending-requests/visualizer) in Postman. The constructed link can be opened in a new tab using "Open link in new tab" option on right click.

<img width="1015" alt="image" src="https://user-images.githubusercontent.com/8445768/170984902-26cf90c1-9257-44c7-bbfb-5013996eb2ac.png">

Here's the script t

[2022-05-30 12:01] MatanKoby commented on #9429
Still happening on mac, on macos Monterey 12.1

[2022-05-30 12:12] ruben-treams opened #10957 "Run pre-request scripts when auto-fetching GraphQL schema"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Our API requires an extra header to be sent with all requests when an auth-header is sent. When an auth-header is set in the Postman collection, we also need to send that additional heade

[2022-05-30 12:15] Siddhant125 opened #10958 "Postman Environment Variables are not being Sync properly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Update in Environment Variables are not being sync properly in our team.

Example:
Environment  variable on my desktop application:
![image](https://user-images.githubusercontent.com/44401619/170989243-729021ce-0e26-418a-9b9d-f24

[2022-05-30 12:20] Siddhant125 commented on #10958
Correct screenshot for my teammates desktop application
![image](https://user-images.githubusercontent.com/44401619/170991086-07306dcf-ceab-499b-9956-43f6d493754a.png)

[2022-05-30 12:47] giridharvc7 commented on #10958
@Siddhant125 did you press the `Save` button on the Global environment?

[2022-05-30 12:48] wenmin92 opened #10959 "New version of Postman's Visualize is missing the `navigator.clipborad` API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I used to use the `navigator.clipboard` API in the "Visualize" tab, at that time version 9.13.0, recently upgraded to 9.20.3, and found that this API is not available, `navigator.clipboard = undefined`.

### Steps To Reproduce

1

[2022-05-30 12:50] Siddhant125 commented on #10958
Yes, only then it was synced to web application. I first made the change on my desktop application, then synced that change with web application. After that when my teammate clicked on his sync button in desktop application, he cannot see the changes in Global Variables.

[2022-05-30 13:08] tomaszwojciechowski opened #10960 "Include HTTP status code in entries under History tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Sending request with same method several times, but with different HTTP status codes in responses.

### Describe the solution you'd like

It will be easier to find wanted request while un

[2022-05-30 13:53] timbochamp commented on #10913
This should be fixed as of the app version 9.19.3. Thanks again for reporting!

[2022-05-30 13:53] #10913 closed, assigned to nobody

[2022-05-30 14:43] jviotti commented on #9429
@MatanKoby @oliverwh What do you get if you open Postman through the `Postman` executable directly rather than through the `*.app`? i.e. on a Terminal do:

[code]

[2022-05-30 15:23] bombillazo opened #10961 "Option to set default tab that opens when selecting a Request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When opening a Request, it defaults to the params or query depending on the type of HTTP method. This makes editing or using multiple requests very tedious if the tab one uses most of the

[2022-05-30 16:42] abhijitkane commented on #10948
@togiles The Postman API lets you:
1. Create APIs (https://www.postman.com/postman/workspace/postman-public-workspace/example/12959542-84071d33-c55a-4e21-912c-902b05151774)
2. Create versions within APIs (https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-9285095f-857c-4c6e-8274-508086fff766)
3. Add an API definition to a version (https://www.postman.com/postman/wo

[2022-05-30 17:38] timbochamp commented on #10928
@umnex sorry to be mistaken on my part! I spoke with @VShingala and the "Too many levels of nesting to fake this schema" problems are due to how big the spec is where there are only six layers of nesting.

As a workaround, you can turn off Optimize Conversion setting, which should prevent the deeper layers of nesting from being populated with "Too many levels of nesting to fake this schema". I ver

[2022-05-30 18:20] Kanika637 commented on #10961
I would like to work on this, could you please guide me toward it @bombillazo

[2022-05-30 18:54] tomasatisocco commented on #7648
Find any solution?

[2022-05-30 21:38] rotorboy opened #10962 "step-debugging"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

step debugging is the right way to debug scripting errors; using console logs is inefficient and often misses the ability to readily and efficiently find the issue.

### Describe the solu

[2022-05-30 22:59] wompeter commented on #7150
Is this still on track for mid-2022?

[2022-05-31 01:42] stephanefv opened #10963 "Monitors timeout at 60s"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Starting ~12:00 GMT on 30 May 2022, all Postman monitor runs usually lasting >60s are failing by timing-out at the 60s mark with a console error: **"Error: callback timed out"**

Previously, monitors would not timeout even when r

[2022-05-31 01:46] DivyaMoryani commented on #10963
Facing the same issue. Please fix it ASAP.
Version 9.20.3-220527-0752

Console Log:
<img width="539" alt="image" src="https://user-images.githubusercontent.com/65155227/171076642-677294f5-7256-4bda-9b57-e0625c736359.png">

[2022-05-31 03:33] jasonycw commented on #7052
Any update on this? I think this is a compulsory feature to create some collection like the following
Why would I want to group requests like file explorer
[code]

[2022-05-31 04:01] aman-postman commented on #10963
Hi @stephanefv and @DivyaMoryani,

Thanks for reporting the issue. We acknowledge the issue and are working on a fix at the moment. We will update this thread once the issue is resolved.

[2022-05-31 05:39] lovelycas commented on #8929
+1 :)

[2022-05-31 05:50] aman-postman commented on #10963
The issue should be fixed now. Please feel free to message on thread if the issue still persists on your end for new monitor runs. Thanks again for reporting the issue!

[2022-05-31 06:14] pankajkumar005 commented on #7150
@wompeter Yes. The team is actively working on this. We hope to start the slow rollout by end of June or the beginning of July.

[2022-05-31 08:45] giridharvc7 commented on #10958
Just to be clear, i'm referring to the button over here
<img width="1016" alt="Screenshot 2022-05-31 at 2 15 33 PM" src="https://user-images.githubusercontent.com/1040583/171132240-a60d55f1-2d77-4a3b-aa4e-891db2017b54.png">

[2022-05-31 09:40] yvoitovych-perfectial commented on #5817
+1

[2022-05-31 10:15] cGiesen opened #10964 "User local cache in case of no internet connection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

In my case I lost in my internet connection base on an provider problem.
I start Postman, but none of my content is avabiale.
But there is a local cache based on our company values.

I li

[2022-05-31 10:52] RaisinTen commented on #10700
@dsanders11 I think this got fixed a while back. Could you please test out the latest Postman version and confirm?

[2022-05-31 12:00] jelen07 commented on #10648
Hi, I have an issue when trying to import http://167.71.46.104:8888/api/v1/openapi with the toast `Error while fetching data from link`. Other links work well (https://petstore.swagger.io/v2/swagger.json).

[code]

<img width="648" alt="Snímek obrazovky 2022-05-31 v 12 58 22" src="https://user-images.githubusercontent.com/2346295/171167932-f8e2f48f-dc40-411d-a9df-42fb722f4fcf.png">

[2022-05-31 12:57] Samraw003 opened #10965 "Very heavy battery usage!!"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman app is draining my battery very very fast!!!

### Steps To Reproduce

Just run the app

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/13114616/171178399-83c2e4f6-5839-4327-b04d-b9e2c967a1e0

[2022-05-31 13:52] mitchhf opened #10966 "Clicking on a Request in Workspace does nothing on M1 Macbook Pro"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed
Could be a dupe of: https://github.com/postmanlabs/postman-app-support/issues/10460

*Canary build does work!*
[code]
-
### Describe the Issue

On a brand new M1 Macbook Pro attempting to bring the editing part of the screen doesn't work.  Here's a scree

[2022-05-31 13:57] kamalaknn commented on #10965
Hey @Samraw003

Could share give us some more details to help us understand what could be causing this? Are you working on a workspace that has many or large collections? Are you using collection runner in the background while you are seeing this?

It would be helpful if you could capture a screen recording of what the Postman app is doing while you are experiencing high battery usage. Please atta

[2022-05-31 14:18] timbochamp commented on #10928
Going to close this out but feel free to reopen it if this issue is persisting! I'll log a ticket internally to try to better this error messaging where it's not intuitive to know to disable this Optimize conversion setting I realize.

[2022-05-31 15:02] togiles commented on #10948
Thanks @abhijitkane at first glance this looks like everything we need - we got caught up in the import API, this interface looks much better.  Quick follow-up question, can one have both an openapi schema and a grpc schema for the same API in postman?  I ask - as we expose grpc end-points via grpc-gateway with an accompanying openapi schema, however we'd like to expose the underlying grpc endpoin

[2022-05-31 15:38] stephanefv commented on #10963
Fixed, thank you!  Closing issue now.

[2022-05-31 15:38] #10963 closed, assigned to nobody

[2022-05-31 16:34] kavthetester commented on #7307
I am also experiencing this bug, when I run my collection the params are not updated from when I have found and replaced.

[2022-05-31 23:33] helloint opened #10967 "Inconsistent content format between syncing vs exporting collections"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I noticed some difference between the exported postman_collection.json and the GitHub Integration auto sync one.
Please see the screenshot for the difference:
<img width="1775" alt="image" src="https://user-images.githubuserconte

[2022-06-01 00:49] cdbyrd opened #10968 "Feature Request : Support for mock gRPC server and stubs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I can define mock servers and stub responses for REST endpoints, but I cannot for gRPC.  I end up needing a separate tool to mock gRPC endpoints, despite the fact that we have an enterpri

[2022-06-01 06:55] appurva21 commented on #10629
Hey @NatGra ! This is now supported in the latest version of the Postman app.

[2022-06-01 06:55] #10629 closed, assigned to appurva21

[2022-06-01 07:41] appurva21 commented on #10968
Hey @cdbyrd! Thanks for sharing your use case in detail. We have already started work on this and should have some updates soon. Stay tuned!

[2022-06-01 08:03] appurva21 commented on #10915
Hey @uschwag!  We are working on it. Please follow the thread [here](https://github.com/postmanlabs/postman-app-support/issues/10767) for more updates.

Duplicate of #10767

[2022-06-01 08:03] #10915 closed, assigned to codenirvana

[2022-06-01 08:47] GeorgeExplorer commented on #10648
Could you answer me pls on the question above? I can't find the version 9.20.1

Regards you

[2022-06-01 10:51] giridharvc7 commented on #8985
@PovilasAtPoq thank you for bringing this to notice. I've changed the tags and we'll add this to our product backlog!

[2022-06-01 11:39] mnabe commented on #6565
@preethammavin @postman-support I would also like to add my voice in support for reopening this. I would assume that you at least as often (if not more often) accidentially delete a single request, rather than a whole collection.

So it would be nice to have requests available in the trash-folder for a day or something like that, just like is the case for collections.

This issue is still gaining

[2022-06-01 12:25] Siddhant125 commented on #10958
Let me try to reproduce the issue one more time, I will get back to you.

[2022-06-01 12:57] jelen07 commented on #10648
@umeshp7 Thanks for the info. Maybe some better error message would be more appropriate. Already imported via raw text 👍

[2022-06-01 13:04] Siddhant125 commented on #10958
Ok, we have tried again and here are findings.

Test 1:
I update environment variable, current value in my Desktop application, clicked on Save and clicked on Sync.
![image](https://user-images.githubusercontent.com/44401619/171407627-d77b8a06-9f1e-4868-b909-c4dcccabd3c3.png)

The update was not reflected in Postman Web Application - Environment Variables.
![image](https://user-images.githubuserco

[2022-06-01 14:03] VeryArine opened #10969 "Prescript cannot set the "false" value for a variable"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I am declaring variables in pre-scripts, they cannot set the "false" value.

### Steps To Reproduce

1. Create a new variable in collection. for example, x.
2. Open a new request tab.
3. Open a pre-script. Use this : pm.coll

[2022-06-01 14:43] #9750 closed, assigned to nobody

[2022-06-01 15:16] abhijitkane commented on #10948
@togiles Not in the way you're describing, but in this flow what we'd recommend is creating two versions in the same API. Versions are what consumers of your API can self-select into, so if consumers can choose between using the lower-level gRPC interface or the ones exposed over OpenAPI, the version construct might help. You will need to separate out the collections/tests etc. for the two version

[2022-06-01 15:16] abhijitkane commented on #10948
@lennrt Yep - we're on it :). Thanks for the update.

[2022-06-01 15:18] #10948 closed, assigned to shashankawasthi88, raghumurthy-jayandran

[2022-06-01 17:05] byrdman commented on #10692
Any news on this?  Need anything else from me?

[2022-06-01 19:16] mitchhf commented on #10460
Seems like I have the same issue:

### Describe the Issue

On a brand new M1 Macbook Pro attempting to bring the editing part of the screen doesn't work.  Here's a screenshot that shows the page.  Clicking on a request (i.e. List Users) doesn't do anything.   Clicking on "Open Workspace Overview" or "Get"  or the other 2 icons' do anything either.

<img width="1171" alt="Screen Shot 2022-05-31 at

[2022-06-02 01:09] hungdao-testing opened #10970 "Mock server doesn't invoke correct example if calling from non-postman app"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The Mock server doesn't invoke correct example if called from the non-postman app, which is the browser or 3rd party service

### Steps To Reproduce

**Precondition**
- I have a collection with 2 requests, each has at least 3 exa

[2022-06-02 02:25] hungdao-testing commented on #10970
@DannyDainton ,
I don't/cannot configure the `x-mock-response-name` header in the 3rd party service (because of out of control). The team just provide the configuration page for me to configure 3rd-party service. Then, I replace the REAL url by the `postman mock url`.

To simulate the 3rd-party I used the public postman `https://postman-echo.com/get?test=124` just for more information for you to i

[2022-06-02 04:10] Harsh-Bansal commented on #10692
@byrdman apologies for the delay.

The issue here is performance. Incase the collections to be imported are too large, the server ends up taking a long time and the client assumes the request failed, propagating the timeout error to the user.

Do note the collection will get imported after some time and will show up on the UI (as you have already mentioned)

We have made performance improvements t

[2022-06-02 04:12] Harsh-Bansal commented on #10692
@deigratia86 in continuation with the above comment can you please share your issue information at `help@postman.com` so we can look into enabling the optimised flow for your team too, thanks.

[2022-06-02 08:11] vishnu-vardhan-sankarapu commented on #10902
Looking to add an option like below in Postman GRPC requests
grpcurl --insecure
Even though SSL certificate verification is disabled in general settings, GRPC request is showing error, status code 14 Unavailable

[2022-06-02 08:16] dsanders11 commented on #10700
@RaisinTen, confirmed as fixed when testing on v9.21.0, closing. Thanks for the reminder.

[2022-06-02 08:16] #10700 closed, assigned to dsanders11

[2022-06-02 08:37] dberchtold commented on #6682
+1

[2022-06-02 12:58] nandishss opened #10971 "Postman throws error as Could not complete OAuth 2.0 login for the valid request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am trying to get token using oauth2 with valid details, and successfully authenticated via browser, but while callback is throwing error.
![1](https://user-images.githubusercontent.com/3646275/171630006-38d23a70-9514-41d9-8f13-

[2022-06-02 13:09] VShingala commented on #10752
@ericdehmel This issue should now be fixed. Feel free to reopen if you face any further problems.

[2022-06-02 13:09] #10752 closed, assigned to akshaydeo, umeshp7

[2022-06-02 13:45] littleironical commented on #9097
I was the exact same issue but when I tried to run it in a different browser as mentioned by @Sbadibanga it worked ✅
I was using Brave(didn't work) then switched to Chrome, and it worked!

[2022-06-02 14:49] aneeshmohan0 commented on #2701
+1

[2022-06-02 16:12] daniel-commure opened #10972 "Content from Pre-Request Script and Test tabs of request vanished"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Issue https://github.com/postmanlabs/postman-app-support/issues/10894 reported problems with the content of Pre-Request Script and Test scripts vanishing in a certain condition.

For the last ~ month, I've witnessed content from

[2022-06-02 17:16] bfoura commented on #8180
We are also facing this issue with Postman. Any plan to solve this issue ?

[2022-06-02 19:28] DSinghXM opened #10973 "X-mock-match-request-body not matching examples - not working with Content-Type = application/x-www-form-urlencoded"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

This issue is similar to closed issue https://github.com/postmanlabs/postman-app-support/issues/8335#issue-600146124
but as disused in the closed issue it only works for Content-Type= 'Content-Type: application/json; charset=utf-

[2022-06-02 19:32] varun-dc commented on #8598
I can across this issue while trying to determine this error in another application and completely different context (not postman).

If it's of use to anyone else or helps anyone else out, in my case the issue came down to MacOS's openssl/libressl (I think?) not supporting the cipher algorithm. To solve the issue I generated my private key using the `-v2 aes-256-cbc` and I not longer ran into this

[2022-06-02 19:39] jviotti commented on #10460
@mitchhf Do you get the same issue with other Electron-based applications like VS Code, Skype, WhatsApp, etc?

[2022-06-02 19:40] jviotti commented on #10966
Thanks a lot for reporting this! Let's keep the discussion focused on the other ticket, as they are similar enough to risk discussing the same things twice!

I see you already linked this issue to the other one, which is great, as we will be able to see this one in there too!