[2021-09-09 10:28] postman-support commented on #10250
@urmi-patel1905 We are hoping that the information last shared was helpful. Let us know if the issue persists.

via @Raj-postman | Postman Support

[2021-09-09 11:16] fuma-nama opened #10285 "The add button in cookies dialog isn't working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm new to postman, I want to test my cookie auth system but
when I clicked on the add button nothing happened
Is it a bug or something?

### Steps To Reproduce

1. Open a request
2. Click on the Cookies button
3. Click on "Add"

### Screenshots or Videos

![image](https://user-images.githu

[2021-09-09 11:26] Tilogorn opened #10286 "App crashes when adding a file to the request body with wrong permissions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I `$ sudo cp /var/log/apache2/error.log ~/Desktop/` to send it as request body with postman. I forgot to adapt the permissions, Postman crashes a few moments after hitting "Send". Details see in "Steps To Reproduce".

### Steps To Reproduce

1. Open a new request tab, PUT to http://localhos

[2021-09-09 11:58] Gibbz commented on #9021
Yes please!

[2021-09-09 13:51] clarkwang opened #10287 "Don't expand and show the request's examples when clicking a request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

It's a bit annoying when requests have examples which would take quite some screen space. It better expand the examples only when clicking the `>` icon to the left of the request.

### Steps To Reproduce

1. Create a request
2. Save a few examples for the request
3. Quit Postman
4. Start Po

[2021-09-09 13:54] clarkwang commented on #10287
Seems like dup of #9614.

[2021-09-09 13:54] #10287 closed, assigned to nobody

[2021-09-09 14:55] postman-support commented on #10265
Hey @0xtavi 👋​ To start with, `Ctrl + Space` will provide suggestions whereas `Ctrl +Enter` sends the request.
Just wanted to confirm you are not comparing `Ctrl + Space`, and the **Send button. **
If not, then could you try our web version to check if you are seeing the same behavior - go.postman.co ?
I have tried replicating this as well but works fine for me. Attaching a screen record for your

[2021-09-09 15:14] shahargl commented on #6242
+1 for http/2

[2021-09-09 15:53] 0xtavi commented on #10265
Hello...

Yes I was sending CTRL + Space instead of CTRL + Enter. I feel stupid now.

Any way I can bind the send request from CTRL + Enter to CTRL + Space?

Thanks for the support!

[2021-09-09 16:31] postman-support commented on #10265
Hey @0xtavi 👋
Unfortunately, shortcuts cannot be modified at this time, but you can view the full list of shortcuts currently supported in the app settings.
https://learning.postman.com/docs/getting-started/settings/#shortcuts
 Please let me know if there is anything else I can help you with :)
via @VaishnaviChallaPostman | Postman Support

[2021-09-09 16:33] Mon-Blaza commented on #10271
Thanks for the update, @abhijitkane!

[2021-09-09 16:43] donrolling opened #10288 "Allow Collection to define multiple Authorization methods"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

My application has several login scenarios with different headers and auth/token endpoints for each of the methods. I can currently only define one auth method per collection.

### Describe the solution you'd like

The collection

[2021-09-09 17:06] agnoster commented on #9346
Unfortunately if your team/company has standardized on Postman, the switching costs are high. I'm in the camp of "still using the old M1 Canary version", myself, and I do hope eventually the Postman team builds universal binaries as part of their standard pipeline. I understand these things take time sometimes, but to the degree user feedback matters I guess I'd like to give this a +1 as a "paying

[2021-09-09 18:43] scdrill-hydrogen commented on #8216
Sign me up! :)

[2021-09-09 19:40] AliAkberAakash commented on #2671
Is is possible to develop a plugin for postman? Any hints on where to get started? I have no idea about web technologies.

[2021-09-09 19:50] 6Hat commented on #2671
@gianlazz You know I never did get into Electron... let alone with .Net. However this last year I've had the pleasure of picking up Blazor... which back when this was posted didn't exist yet... or at least I hadn't heard of it. I must admit I have been loving Blazor and have been wondering if you've had a chance to tinker with it yet? If so, how does is it compare with .Net Electron?

[2021-09-09 20:11] kavanozkafa commented on #4172
+1

[2021-09-09 20:32] 5thdimensional commented on #10161
@ffffionn thanks for your request. I understand that changing the auth header in each request after generating a collection would be very annoying. Fortunately, there is a work around that will address most of what you've described.

All requests in a generated collection will default to "inherit from parent" when the OpenAPI document uses the global scope for the security keyword. This would invo

[2021-09-09 21:55] postman-support commented on #10285
Hello @SonMooSans

Thanks for reaching out! Glad to hear about your interest in Postman. From the screenshot provided it doesn't look like you've added a domain for your cookie. Can you add a domain and let me know if you're still not able to add a cookie.

Here's a quick screencast for adding a domain:

​ ![](https://postman.zendesk.com/attachments/token/qh6oO0CbMLhCAZgQdvA9IRTlv/?name=Large+GIF+

[2021-09-09 22:52] br-tyler-milner opened #10289 "Duplicate collection generated when creating new API version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When creating a new API version, adding existing API elements like a documentation collection causes duplicates of those collections to be generated.
![image](https://user-images.githubusercontent.com/78233128/132769774-5eb3a0fb-5b69-4634-9695-a151bc278057.png)

The duplicate collection tha

[2021-09-09 23:04] rochanram commented on #10289
This will be the behaviour going forward. Whenever a new version is created, you can either choose not to carry forward any of the changes. And in case you choose to carry forward any of the relations from the previous version, it will be duplicated.

[2021-09-09 23:25] br-tyler-milner commented on #10289
@rochanram can you common on why this change in behavior was decided? It's now going to create significant problems with regard to collection bloat as an API is designed/built from the ground-up (i.e. API-first approach). It's not hard to imagine this leading to 10's or even 100's of collections being added to a workspace over time, which will undoubtably cause slowdowns, confusion, and frustratio

[2021-09-09 23:36] thomasinc commented on #8622
Have trouble reliably using Client Certificates

I have got two seperate MACS I set up a client cert to a known endpoint on one and it works but exactly the same steps on the other device fails. But I have managed to get each of my two devices working with certs against different environments.

That is why I use the word reliably. When it works it is simple, when it does not there is no additional

[2021-09-09 23:42] thomasinc opened #10290 "Collection Documentation not saving reliably"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In postman desktop for MAC (Version 8.12.1 (8.12.1))
and earlier versions as well

Attempts to save changes to collection documentation are not always successful

Seems to recover after restart of postman but is fustrating

### Steps To Reproduce

Attempt updating collection documentation

[2021-09-10 01:51] faggionluca opened #10291 "Github integration not working on branches containing forward slashes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Enabling the two way sync github integration doesn't not work if the specified branch name contains a forwards slash
example : `feature/api-feature`. Every other branch name works

The file get updated only on github when a change happens in postman but the other way around

### Steps To Re

[2021-09-10 06:07] VladimirCatrici commented on #7870
Whoa, just had the same issue

[2021-09-10 06:11] nadavmov commented on #9544
I'm having the same problem running Postman v8.12.2 on windows.
I'm running a collections with about 800 commands and wait a long while between each execution just to allow console log complete its task. I'm using the log while debugging a new collection but and when it's stabke enough. the log is redundant so I'd like to disable it. Furher more, if I try to run more than 800 commands in a single

[2021-09-10 06:32] sunlongv587 opened #10292 "After find and replace, the request in the runner still uses the old data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After using the find and replace function, when the runner executes, the data in the request is still the data before replace. I think this may be a bug

### Steps To Reproduce

1. Create a new collection;

2. Create a request;

3. Replace the existing text of the request with find and repl

[2021-09-10 07:30] DannyDainton commented on #10292
Hey @sunlongv587

You would need to save any requests that have changes in them (you will see an orange dot in the request tab), for the runner to pick up those new details.

[2021-09-10 07:49] alishtory commented on #1603
mark

[2021-09-10 08:40] OlivierMartineau commented on #8260
I too use different configuration for local testing, dev testing and prod testing.
A feature that would make the UI totally RED when I choose the prod environment would definitely make my day: I deleted the prod data twice yesterday 😅

[2021-09-10 12:57] khanimranraza commented on #6534
still the issue is not solved

[2021-09-10 14:50] etienne-sf commented on #8920
Hello,

Thank you guys for this great tool !

The implementation of the #6614 is really a great thing too
I just found bugs in my own openAPI thanks to this... ;)

Then integrating this validation in API tests is the next step, that will help to secuze all this: +1 for me too

Etienne

[2021-09-10 14:53] darrencapner commented on #10283
Going through all API versions and removing the Contract Test collection allowed me to add the collection to the 1.4.2 API version. Functionality must have changed to make a Collection a 1:1 mapping to an API as my other versions of API were associated to the same collection (which I now removed).

[2021-09-10 14:54] darrencapner commented on #10283
Is the intention to always have a duplicate collection created when a new API version is created? This other done manually or done automatically when carrying over collections from a previous version when a new API version is created?

[2021-09-10 15:11] pjopaul commented on #4671
It looks if the "save all" feature is not there then  I need to stop updating the Postman.
After the postman update without saving all the requests then my already opened requests are showing as [CONFLICT]

[2021-09-10 16:25] epilburus commented on #3684
My team would also be grateful if we could have this feature.

[2021-09-10 18:21] thedocbwarren commented on #9346
You are absolutely correct and I agree completely.  My point that the web version works (also as a software dev) tells me there is some other reason for massive delay.

[2021-09-11 00:43] dissolved commented on #350
I mean, this is why I don't pay for a subscription. It is absurd that this wasn't a feature years ago.

[2021-09-11 02:03] adrianteixeira commented on #10125
@dmtomczyk same issue here; Have you resolved? I'm trying to make a GET with form-data in pre-requests script, but it's not working. Probably, the lib (pm) don't accept get with body.

[Image of pre-request script. It will not work.](https://i.stack.imgur.com/6V7HL.png)

[2021-09-11 03:39] eaccmk commented on #10252
Not anymore working anymore in **8.12.2** on REHL **8.x**
$snap list | grep postman
postman  8.12.2    147    v8/stable      postman-inc*  -
[code]

[2021-09-11 03:44] eaccmk commented on #10252
even after adding **DISABLE_WAYLAND=1 ** still does not work.
Shouldn't it be as simple as  `$snap run postman` :thinking: @postman-support

:warning:  This issue has started surfacing in latest release :exclamation, failing in **REHL 8.x**

[code]

and **postman** version `postman  8.12.2`
[code]

[2021-09-11 06:21] Fazzani commented on #7870
I noticed the same thing yesterday

[2021-09-11 10:57] ghost opened #10293 "Postman response preview always changing to HTML"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

Preview dropdown is changing to HTML every new request after clicking "SEND" button.
Not critical, but it is annoying.
![Screenshot_1](https://user-images.githubusercontent.com/68637510/132945505-e10bfb65-671a-45e4-8731-24edb4776993.jpg)
![Screenshot_2](https://user-images.githubusercontent

[2021-09-11 17:22] michalc commented on #8441
I have written a small pre-request script that adds this functionality: https://gist.github.com/michalc/b3f03e9234a2916810af12fa1d6c44af

[2021-09-12 03:05] amitw-vmware commented on #6682
+1

[2021-09-12 15:48] cipherwizard9 commented on #10179
Hi,

In the latest release 8.12.2, release notes mentioned this bug to be fixed. But I am still seeing the same issue. I tried to import the WSDL, which contained external references and sample requests and responses show below.

[code]
Link to WSDL: https://www.crcind.com/csp/samples/SOAP.Demo.cls?WSDL

I have even tried to create local file references, still it failed. Can you please check and h

[2021-09-13 00:54] sunlongv587 commented on #10292
I'm sure I saved the modified request, but it still has problems. And I can still reproduce it now. I think you can follow my steps to reproduce the bug.

[2021-09-13 01:15] xk0der commented on #10284
Hey @nstekelenburg 👋   your initial message contained sensitive information which I've edited and removed. **I strongly suggest your rotate your secrets and passwords just in case, to be safe**. In the future make sure to sanitize the information before posting it on public forums 🙌

[2021-09-13 01:17] 2stash commented on #9346
Hi, just downloaded for macpro 13in M1, postman will not open. Shows up in the activity monitor, but no windows open up and I don't get an error of any kind.

[2021-09-13 01:41] postman-support commented on #10284
Hey @nstekelenburg,

Thanks for reaching out!
Really sorry to hear you are getting an error after updating the app to v8.12.1, which you are not seeing on v8.11.

You mentioned you are behind proxy - may I ask you if your API is behind proxy as well? Also, we seem to have had a similar issue in the past. Would you please check if this issue is the same problem you are facing?

Also, can you please

[2021-09-13 01:44] xk0der commented on #10293
@cyberfrogg as the first step to troubleshoot, I would recommend checking the response headers.
Look for `Content-Type` and see what the value is. It must be `text/html` for Postman to auto select HTML.

![Screen Shot 2021-09-13 at 1 41 21 PM](https://user-images.githubusercontent.com/21366/133011883-4fd29e20-4da6-4ec5-94c4-ba82ce189b80.png)

If things are still not working - do provide a screensh

[2021-09-13 02:26] xk0der commented on #10282
Closing as there was no further follow-up!

[2021-09-13 02:26] #10282 closed, assigned to nobody

[2021-09-13 02:28] xk0der commented on #10258
Closing as there was no further follow-up!

[2021-09-13 02:28] #10258 closed, assigned to nobody

[2021-09-13 02:34] xk0der commented on #9159
@rosibaj I'm closing this thread for now, but do let us know if you still face this issue on the latest versions: https://postman.com/download

[2021-09-13 02:34] #9159 closed, assigned to nobody

[2021-09-13 04:26] postman-support commented on #10266
Hi @MattA48
Hope all is well at your end!

I have escalated this issue to our engineering team to look into it with priority. I will keep you posted on any updates from the team.

Thanks for your patience while we’re fixing this issue.
Please let me know if there is anything else I can do to help you in the meantime.

via @Lincimary | Postman Support

[2021-09-13 04:56] charlie-postman commented on #10275
@kcthota Thanks for the query and feature request. Today our monitoring product doesn't support the capability but we will evaluate the request in the future.

[2021-09-13 06:23] dengshenkk commented on #6722
What is the status of this case ?

[2021-09-13 06:25] ash007-postman commented on #10248
Hi @malvikach It was 8.6.1.

[2021-09-13 07:54] nstekelenburg commented on #10284
Hi @taehoshino,

Thanks for picking this up.
I saw the issue that you are referring to. The error shown there was different then ours. Also that issue had to do with the password containing other characters then digits and letters. The password we use in Postman to connect to the services is only containing digits and letters.

Our rest services are created by our supplier and hosted in the azure

[2021-09-13 08:02] postman-support commented on #10292
@sunlongv587 Just tested this from my end and we were unable to replicate it from our end. Here is the screen recording for reference. Could you check and let us know if this is how you have been attempting to use this?

You may also try to check this on Postman Web: https://go.postman.co/home and see if that helps.

via @Raj-postman | Postman Support

[2021-09-13 08:14] airoasis commented on #9508
I'm having the same issue with the syncWithSchema API...

[2021-09-13 08:31] nstekelenburg commented on #10284
Hi @taehoshino,

Replay of our supplier:
Our service are running in Azure VMs and we have an Application Gateway configured for handling the HHTPS calls.
The access to the application is not public as we offer access via NSG inbound rules.
Is the new version (8.12) doing any IP mapping or masking?

[2021-09-13 08:37] ffffionn commented on #10161
@5thdimensional   Thanks for the reply, this seems suitable and generates the collections as I'd like.

I have a mix of open and protected endpoints, which I think the solution is to have no security field for the protected endpoints (so that they inherit the global like you say), and the following security in the unprotected endpoints:

[code]

And my security section on the bottom looks like:
[c

[2021-09-13 09:17] postman-support commented on #10252
@eaccmk Could you share a screenshot of the window you see during launch? Is it grayed out blank space after opening the application?

Although this one is for windows, can you check this article here and see if this helps in any way?

via @Raj-postman | Postman Support

[2021-09-13 09:56] postman-support commented on #10265
Hey @0xtavi 👋
Closing this thread here. Feel free to re-open if you have any further queries.
Happy developing! Have a good one :)

via @VaishnaviChallaPostman | Postman Support

[2021-09-13 10:47] ngmmartins opened #10294 "Path parameter defined in APIs module not replaced with example value in collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Created an API (OpenAPI 3.0) using yaml file and I have a path parameter with an example value defined. When I generate a collection the value is not replaced with my example.

I have uploaded the relevant screenshoots. As you can see in the generated collection the Path Variable organizati

[2021-09-13 10:52] #10265 closed, assigned to postman-staff

[2021-09-13 12:59] guillep2k commented on #9510
The issue is fixed for me. Since there's no further feedback, I'm closing the issue.

[2021-09-13 12:59] #9510 closed, assigned to nobody

[2021-09-13 18:45] PedroBarcha commented on #8195
+1
PLOX

[2021-09-13 19:05] stondini commented on #10179
Hi @cipherwizard9,

I got the same behaviour as you. It seems the release 8.12.2 doesn't fix this issue.

[2021-09-13 20:07] sciamano89 commented on #8468
Hello! This is related, but not exactly the same issue. I'm getting the same error message, but I'm sending a request with `x-www-form-urlencoded` body, and setting my field to string, and the actual value I use is this:  `["one", "two", "three"]`. Why can't Postman treat it like a string? My server successfully decodes it with json. Thanks

[2021-09-13 20:46] dmtomczyk commented on #10125
@adrianteixeira Sorry, nope. I just use https://github.com/Kong/insomnia now instead. Not sure what the status of it is on the Postman side of things.

[2021-09-13 21:35] eaccmk commented on #10252
After a reboot it worked.

I had no issues with the launch, it was about the error messages
[code]

from my side its solved now :white_check_mark:

[2021-09-13 23:08] formariz commented on #5905
@shashankawasthi88

can u help me?

[code]

[2021-09-14 02:25] mhmacleod commented on #7870
Same here. up to 5gb without signs of stopping, force-closed it, restarted and it straight popped back to 6g and climbing...and i'm not even doing anything. I can't believe the last response to 'look at this' was a full year ago and no one's been assigned to it since.

[2021-09-14 03:59] postman-support commented on #10252
@eaccmk Thank you!
Glad to know you are all set now :)

via @Raj-postman | Postman Support

[2021-09-14 04:45] postman-support commented on #10256
Hi @raghav19,

I'll be closing this from our end as we haven't heard back. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support ​to investigate further. Have a nice day.

via @ash007-postman | Postman Support

[2021-09-14 04:46] #10256 closed, assigned to postman-staff

[2021-09-14 05:03] postman-support commented on #10250
@urmi-patel1905 We will be closing this from our end as we haven't heard back. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support ​to investigate further.

Have a nice day.

via @Raj-postman | Postman Support

[2021-09-14 05:46] VShingala commented on #10179
@stondini There is a restriction while importing folder where we restrict more than one WSDL root files (By root files I mean files with `<definitions>` tag at top level). To successfully import, In files provided by you, you can try removing `registration.wsdl` and `registration-messages.xsd` from the folder and then import it.

Also if you would be fine with it, wanted to understand use-case of

[2021-09-14 06:19] lobbin opened #10295 "Syncing documentation with schema disregards from parameters and responses"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When syncing an API with documentation, it doesn't see changes in parameters and responses.

### Steps To Reproduce

1. Create an API
2. Create documentation from API
3. Change a parameter and/or response on an API method
4. Validate the changes

In this case, Postman will say that everythi

[2021-09-14 07:22] postman-support commented on #10273
@awasall Just following up here to see if the issue persists. Let us know if the steps provided in our earlier response helped.

via @Raj-postman | Postman Support

[2021-09-14 08:17] chrberSTO opened #10296 "TypeError: Cannot read property 'split' of undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Trying to post a request I get 400 and TypeError: Cannot read property 'split' of undefined

I can not understand where this comes from, as the error is so generic.

### Steps To Reproduce

1. Send POST request: {{url}}/services/oauth2/token

### Screenshots or Videos

![image](https://user

[2021-09-14 08:24] DannyDainton commented on #10296
Hey @chrberSTO

Do you have any scripts in the Pre-request or Tests tabs? This could be at the Collection, Folder or Request level.

[2021-09-14 09:32] shashankawasthi88 commented on #10291
@darkimage thanks for bringing this up. We are looking into the issue.

[2021-09-14 09:39] chrberSTO commented on #10296
Hi Danny, you are right, this is where it originates from:

since I have a authentication failure, the response i most likely empty or none existent. I copied the request way back from some SalesForce Set and did not know that they had put scripts into the requests.
Thank you for your help.

This ticket can be closed.

I do not know how to fix this script, but that has nothing to do with this issu

[2021-09-14 09:39] #10296 closed, assigned to postman-staff

[2021-09-14 09:47] benjamin-Keller opened #10297 "Requests ignoring localhost endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

`GET` requests seem to just jump over our `localhost` environment endpoint, resulting in an immediate `404` status code.
`POST` requests seem to not have this issue as we've seen so far.

The `GET` request does work since after we tested the exact same endpoint in the browser it hit our bre

[2021-09-14 10:19] arlemi commented on #6722
@dengshenkk This is already released, check out this comment: https://github.com/postmanlabs/postman-app-support/issues/6722#issuecomment-647667330

@JerryChin What do you mean there's no way to update the linked collection? Are you not seeing the "Click to Validate" option? Giving a bit more details would help.

[2021-09-14 10:48] vineetydv opened #10298 "Not able to import wsdl file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Even though Postman support the import of wsdl files now, I am not able to import the wsdl file for my webservice. The same wsdl file can be imported successfully in other tools like SOAP UI. Please check the error i get below,

"Error while importing WSDL 1.1: Converting circular structure

[2021-09-14 11:23] Raj-postman opened #10299 "No ca-files are listed on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Attempting to capture requests and cookies but we do not see any ca-files listed under `%APPDATA%\Postman\proxy` even though the OpenSSL has been installed and verified.

### Steps To Reproduce

1) Navigate to `%APPDATA%\Postman\proxy` to find the certificate files.

![image](https://user-i

[2021-09-14 15:11] sciamano89 commented on #8468
I actually had it as an array originally, the only difference is that I used a `ref` to a string component instead of the inline `type: string`, and I didn’t have an example, but an example in my string reference. I believe the warning was exactly the same though, saying it expected a string, which I thought was odd since it was an array

[2021-09-14 16:25] postman-support commented on #10285
Hello @SonMooSans,

I just wanted to follow up here and see if the provided resources helped or if you still needed assistance. If not, can you please provide a quick screencast or screenshots of the complete workflow when trying to add a cookie.

Thank you!

via @nrmartell | Postman Support

[2021-09-14 17:59] chrismyers81 commented on #1066
+1, getting ready to merge about 150 requests in dozens of folders into one main folder. Would be awesome to have been able to just drag and drop the folders and call it good.

[2021-09-14 20:24] stondini commented on #10179
@VShingala I don't have the hand on the WSDLs. They come from a third party provider (I've just simplifed them).
So, I don't want to change them by hand.
This [article](https://blog.postman.com/postman-now-supports-wsdl) from Postman official blog says that WSDL is supported. No restriction is mentionned.
Could you provide all the restrictions please ?

[2021-09-14 22:30] AbdullahDiaa commented on #9346
Canary version is M1 ready and works perfectly with M1 Macs:
https://isapplesiliconready.com/app/Postman

[2021-09-14 22:37] thomasinc opened #10300 "Show context of postman window in app launcher"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

NO

### Describe the solution you'd like

When multiple postman windows are open ( this seems to be a feature available for both MAC and Windows) it would be good to see the context of the postman window when swapping between pos

[2021-09-14 23:03] jacktose commented on #8911
I have this problem too (`Content-Type` auto-generated but not in code snippet), and it caused some consternation here. If a GET/POST works in Postman, I expect it to work the same way when I copy out the code snippet and use it—that's the whole point for me. I'm happy to lose auto headers like Postman-Token and User-Agent, but not ones that affect functionality.

Fails:
![postman header no](https

[2021-09-15 03:34] sunlintong commented on #5194
+1

[2021-09-15 04:14] postman-support commented on #10284
Hey @nstekelenburg,

Thanks for your response and clarifying the issue is different from the previously reported issue.

I will consult with our internal team if there has been any change in v8.12 from v8.11.

In the meantime, would you please try sending a request using cURL command (https://en.wikipedia.org/wiki/CURL) from terminal window and see if the response is returned without any issue?

W

[2021-09-15 05:25] shashankawasthi88 commented on #10280
@sundipnair Thanks for raising the request, we would be considering Azure DevOps integration soon. Will post on this thread for updates.

[2021-09-15 07:47] postman-support commented on #10284
Hey @nstekelenburg,

I am currently consulting with our engineering team and could I please confirm one more thing?

Do you need proxy configured for you to be able to send requests? (i.e. Is it possible to bypass proxy?)

via @taehoshino | Postman Support

[2021-09-15 08:17] Activity00 commented on #5194
+1

[2021-09-15 09:33] nstekelenburg commented on #10284
Hi @taehoshino,

I tried the web version with desktop agent installed. When calling our API, I get the same error as in 8.12: Error: tunneling socket could not be established, cause=connect EACCES <url>:<port>

I now see 8.12 is removed from Postman Website and I am on 8.11. So I cannot call https://en.wikipedia.org/wiki/CURL from 8.12 desktop version. I did it from the web version and I received

[2021-09-15 10:13] Siddhant125 opened #10301 "Description field is not updated for query parameters from 2nd time onwards."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Description field is not updated for query parameters based on description provided in API, after the first update is done.

For example, generate a test collection from the API, there the description mentioned in the API for query parameters will be updated correctly. Now, when that descri

[2021-09-15 12:33] DavydeVries commented on #9566
@giridharvc7 / @vvs11 do we have an update on this?

[2021-09-15 12:43] VShingala commented on #10179
@stondini No restrictions as such for single file import. But for specification split across multiple files, we only are importing one collection from one multi-file specification at a time.

So what we have built the conversion process for these WSDL specs is there should be one root document with `<definitions>` tag which will have imports/includes statements per generated collection. As I menti

[2021-09-15 13:18] kwolfy commented on #3117
+1

[2021-09-15 13:53] braveheart55 commented on #1603
Using shell environment variables  is a  and long standing programatic solution to the problem of requiring variables to be written where they can be shared.  I have been searching for this feature in postman and I have come to this feature request (I see it is implemented in Newman). Is there any movement on this issue?  This is desperately needed.

[2021-09-15 16:21] postman-support commented on #10292
@sunlongv587 Just following up here to see if the issue persists. Let us know if Postman Web helped identify the error in this case.

via @Raj-postman | Postman Support

[2021-09-15 19:05] alexmbrown opened #10302 "Monitor Environment Selection Does Not Display Fork Name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When selecting an environment from the dropdown while creating/editing a monitor the fork name is not displayed. This can be confusing for end users because they will see multiple entries for the same environment and not be able to distinguish between them.

### Steps To Reproduce

1. Creat

[2021-09-16 00:20] postman-support commented on #10284
Hey @nstekelenburg,

Thanks for your response and clarifying that you need proxy configured.

Our engineering team is currently trying to reproduce the behaviour. I will be in touch as soon as I hear any updates from them.

via @taehoshino | Postman Support

[2021-09-16 01:14] thehappycoder commented on #7072
This feature would be a game changer for Postman as competitors don't seem to have this feature.

[2021-09-16 07:06] andrewsleeman24 commented on #10252
I had the same problem running in ubuntu 20.04
[code]
 I followed **aleskiewicz** advice above.
[code]
I now seem to be working but when started from the command line I get stuff like the following

[code]
It means nothing to me but it might help someone debug some issues. MAYBE
PS. **postman** is a nice package. **thanks**

[2021-09-16 09:58] ponmuthu5990 commented on #10133
@giridharvc7 is there any update for this one ? I know you have lot of issues in your line, but I'm really looking forward to have this feature. Can I have any milestone for this issue.

[2021-09-16 10:27] awasall commented on #10273
Hello i fixed the problem by trying to delete the parent directory and recreate it and it worked and thanks for air help too

[2021-09-16 12:24] postman-support commented on #10273
@awasall Awesome! Thanks for letting us know.

via @Raj-postman | Postman Support

[2021-09-16 12:56] timbochamp commented on #10286
Hi @Tilogorn , thanks for reporting. I'm not able to reproduce this by making a small error.log file with a test string and copying it so its permissions match what you specified
![Screen Shot 2021-09-16 at 9 49 47 AM](https://user-images.githubusercontent.com/4521134/133615600-8d05113c-6e83-4b7e-987b-1a0b74fd5208.png)

Can you share any other details about the PUT request you're using if you're a

[2021-09-16 13:14] Tilogorn commented on #10286
Hi @timbochamp, not sure if you reproduced that correctly as I can see

1. Windows-like menu buttons in your Postman UI, but that may be due to your custom linux theming or network setup
2. That you have set `644` as file permissions, while I reported the problem with `640`

If you're still not able to reproduce I'll share the same screenshots as you and/or make a gif of the crash. Your request se

[2021-09-16 13:25] timbochamp commented on #10286
Whoops, my mistake. I'm able to reproduce after setting 640 permissions to the file on that Linux virtual machine I was using. I'll triage and we'll provide updates with a fix here. Thanks again for the catch!

[2021-09-16 13:50] krislipscombe commented on #8179
+1 Would be an incredibly useful feature

[2021-09-16 14:04] liguoqinjim commented on #6928
Also want this feature!
It's very useful when test a query API which has a lot of params.

[2021-09-16 17:18] LTGallagher commented on #10274
This would definitely make Postman more valuable to my QE and Dev teams.

[2021-09-16 18:59] JacobDoug commented on #7399
Fixed on windows by doing the following:

Go to %appdata%\Roaming\Postman
Open the window file
Delete the content
Restart postman.

I can now open requests/folders with a single click again.

[2021-09-16 19:11] stondini commented on #10179
@VShingala I tested SoapUI and it imports these WSDLs correctly.
Here the specifications: https://www.w3.org/TR/wsdl/#imports

Anyway, I will follow the Postman WSDL support improvements.
Thank you.

[2021-09-16 20:17] FernandoAndrade83 commented on #8195
+1

[2021-09-16 20:23] susan-shu-c commented on #9542
I can't even uncheck the "Authorize using browser" because there's no such option for me.

<img width="583" alt="Screen Shot 2021-09-16 at 4 22 08 PM" src="https://user-images.githubusercontent.com/23287722/133680648-a390e90b-c59e-4db8-b821-a61b0dcdb31b.png">

[2021-09-16 22:26] shannonbux commented on #7922
I am curious to learn more about this! I'm a product designer working on making it easier to share documentation.

Have you tried the new live Run in Postman button that takes people to the live collection? https://blog.postman.com/new-run-in-postman/

Does that new button help with your use case? If not, why not?

Your answers will help us improve our designs :)

[2021-09-17 02:39] Paul-Schroeder commented on #8433
This would be a nice feature to have - please add my vote to this request!

[2021-09-17 03:57] rosennej commented on #10254
This day and age attention should be given to cyber security aspects. We do not want to expose internal APIs to the network.

[2021-09-17 08:24] #10292 closed, assigned to postman-staff

[2021-09-17 08:58] chxiaowu commented on #3803
Please impl ASAP.

[2021-09-17 09:15] nstekelenburg commented on #10284
Hi @taehoshino,

I do not know where version 8.12 went, but I saw that version 9.0.1., is launched today. I installed that and tried to call our rest services. I still get the tunneling socket error so Postman still cannot reach our rest services.

After that I tried the curl command in 9.0.1.. That worked smoothly, I received a response.

Checking our network connections I found the following.
Fr

[2021-09-17 11:02] #10273 closed, assigned to postman-staff

[2021-09-17 11:03] postman-support commented on #10222
Hi @Pricilla09,

Thank you so much for your patience. Sorry for the radio silence.

The reported issue is now fixed and deployed into production. Update the application to the latest version (v9.0) to check and see if that works for you.

 As of now, I'm going ahead and closing this conversation, but I’m still here so feel free to give me a shout if you have any further queries :)

Thank you for s

[2021-09-17 11:54] ScottJAditazz opened #10303 "Postman 9.0.1 crashes during load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman uses a large amount of memory when loading (7 -8 GB), takes a long time, then crashes most of the time.    I have 29 collections in My Workspace.

It sometimes loads successfully.  Once it took 3 attempts to load, usually it takes 20-30 attempt to get a successful program load.

###

[2021-09-17 11:58] abhijitkane commented on #10303
@ScottJAditazz is the previous version (v8.x) working for you while signed in to the same user account?

[2021-09-17 12:02] ScottJAditazz opened #10304 "Post 9.0.1 x64 fails to export collection details"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Export acts like it works.  However, the content of the json file has empty or null entries for every item.

### Steps To Reproduce

1. Click ... after selecting a collection in the tree
2. Export using default option 2.1.  (same results with 2.0 option)
3. Examine contents of json file

##

[2021-09-17 12:10] 5ox commented on #8612
Postman randomly fails on Amazon's API Gateway when using SSL. This makes using Postman with the Amazon API gateway challenging.  (Postman Version 8.11.1 / PostmanRuntime/7.28.4)

Error: write EPROTO 140207169435704:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242

I read every single comment and hope this extra datapoint on a

[2021-09-17 12:13] giridharvc7 commented on #10304
@ScottJAditazz can you confirm if you have saved the requests in your collection?

[2021-09-17 12:58] rogeruiz commented on #3789
Hey folks, I'm curious if there is a better place to track progress on this feature?

I am currently researching other solutions using the Postman SDK, but am still getting familiar with Postman. I'm set to watch this Issue, but if there is another place I should be listening for updates on this topic, please let me know. Thank you.

@postman-support

[2021-09-17 13:26] franchyze923 commented on #3789
I'm in need of a way to use a smart card with Postman as well.

[2021-09-17 13:36] #10222 closed, assigned to postman-staff

[2021-09-17 14:14] tomar3 commented on #4968
+100

[2021-09-17 15:58] jehanjazz commented on #9857
@taehoshino this is still not working it seems.

Made a new request here : https://support.postman.com/hc/en-us/requests/84715

[2021-09-17 16:03] DanNYSPD commented on #10252
@1bitphoenix  workaround works in fedora as well

[2021-09-17 16:39] jehanjazz commented on #9857
Update : https://github.com/postmanlabs/postman-app-support/issues/10299

Seems like this is already open. My above comment can be ignored.

[2021-09-17 17:05] arlemi commented on #3563
Hey everyone! We've added native Git support for Bitbucket and GitHub in Postman v9. Please[ check this blog post](https://blog.postman.com/announcing-new-postman-api-platform/) for more info, and update your app to try it out!

[2021-09-17 18:20] abhijitkane commented on #10271
Everyone - the latest release (Postman v9) changes this flow a little bit. Versions now represent parallel lines of development for an API, and releases represent the state of the API version at a point in time. You can also "view" releases (this will show you snapshots of the API definition and any collections in the release).

For the workflows discussed above, you'll need to create a release on

[2021-09-17 18:46] arlemi commented on #8245
Hey everyone! We've added native Git support (Bitbucket and GitHub for now, more to come) in Postman v9. Please[ check this blog post](https://blog.postman.com/announcing-new-postman-api-platform/) for more info, and update your app to try it out!

[2021-09-17 18:48] arlemi commented on #9204
Hey! We've updated the Git integration and now have native Git support (Bitbucket and GitHub for now, more to come) in Postman v9. Please[ check this blog post](https://blog.postman.com/announcing-new-postman-api-platform/) for more info, and update your app to try it out!

Let us know if this fixes your issue. 🙏

[2021-09-17 18:51] cmbarnett87 commented on #8626
Still an issue in v9.0.2

[2021-09-17 19:02] VShingala commented on #9936
@amatmv Thanks for reporting the issue. We are working on a fix and will update the thread once it's fixed.

[2021-09-18 01:04] nelsonprsousa commented on #5258
This option disappeared. How can we do it now? 😓

[2021-09-18 01:31] nelsonprsousa commented on #6719
While there's no way to get this feature in Postman, can you recommend us good alternatives?

We are actively changing and increasing our schema, we need a way to get that synced.

Thank you

[2021-09-18 01:32] nelsonprsousa opened #10305 "Uncomment shortcut also uppercase everything"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Ctrl + K -> Comment selected lines
Ctrl + K + U -> Uncomment selected line BUT also uppercase everything's selected.

### Steps To Reproduce

1. Select some piece of code that you want to comment
2. Ctrl + K to comment
3. Ctrl + K + U to uncomment (+ uppercase everything)

### Screenshots o

[2021-09-18 03:03] OmgImAlexis commented on #6719
https://github.com/postmanlabs/postman-app-support/issues/6719#issuecomment-905583642

[2021-09-18 03:40] rogeruiz commented on #3789
Thanks @codenirvana it seems I missed this earlier comment but PFX support exists in Postman. So I should be able to solve my issues. I'll post something in this thread about how to do it if that helps future folks, but I think closing this ticket might be a good idea for future folks digging around Support requests.

👀 https://github.com/postmanlabs/postman-app-support/issues/2494#issuecomment-48

[2021-09-18 06:29] Unit2795 commented on #6719
https://www.electronjs.org/apps/graphiql

Another option that I like. Nicer documentation that can be searched. Can't really chain requests though. If I find something nicer I'll share it.

Really disappointed, Postman. Manually fetching a schema is a horrid idea for CI/CD. Get your sh*t together.

[2021-09-18 08:14] huyz commented on #8245
@arlemi Thanks for the news.  Are you working on adding support for GitHub Enterprise?

[2021-09-18 11:21] navneetgarggate6 commented on #7961
same issue

[2021-09-18 16:50] NathanDuma commented on #10299
I'm getting the same issue as well.

[2021-09-18 17:30] realchoubey commented on #6889
Any update on this issue?

[2021-09-19 00:35] stalemartyr commented on #1066
Requested 6 years ago and Postman team still haven't implemented this quality of life improvement yet. :(

[2021-09-19 16:54] arcziby commented on #6682
+1

[2021-09-19 20:30] filiptrplan commented on #3694
Still waiting on this. I would love to choose from multiple different bodies for my requests. Would help a lot with debugging.

[2021-09-19 20:45] undevable commented on #3694
Yeah. It should be relatively simple to implement this.

[2021-09-19 21:36] samseen commented on #8455
I wouldn't know if this makes sense but I pasted my body text from someplace and after trying to figure out what the issue was, **clicking on beautify made it work**.

[2021-09-19 22:37] LeShino commented on #7881
Hello, i have the same issue. When i launch it with terminal
i get this message:

LeShino@ThinkPad:~$ postman
The disableGPU setting is set to undefined
Not disabling GPU
(postman:8814): Gtk-WARNING **: 22:34:30.255: cannot open display: :0

[2021-09-20 00:16] postman-support commented on #10284
Hey @nstekelenburg,

Thanks for your response! Really sorry to hear the issue is still persisting with v9.0.1.

I have shared the information with our engineering team and asking for the next step.

I will be in touch with you as soon as I hear back from our team.

via @taehoshino | Postman Support

[2021-09-20 00:17] timbochamp commented on #10305
Duplicate of #9114

[2021-09-20 00:17] #10305 closed, assigned to nobody

[2021-09-20 03:41] anapeksha commented on #9346
@AbdullahDiaa We know about that already! But, we are waiting for the stable Apple Silicon build of Postman!

[2021-09-20 06:24] abhijitkane commented on #10289
@br-tyler-milner The latest release (Postman v9) changes this flow a little bit. Versions now represent parallel lines of development for an API, and releases represent the state of the API version at a point in time. You can also "view" releases (this will show you snapshots of the API definition and any collections in the release).

For the workflow you discussed above, you'll need to create a r

[2021-09-20 06:43] hiradhu commented on #8911
The previous response clearly points out the issue.

Thanks,
Radha Jayaraman

On Wed, Sep 15, 2021 at 4:33 AM Jack Haden-Enneking <
***@***.***> wrote:

[2021-09-20 07:44] AlthalusDGr8 opened #10306 "New Integration Request - Azure DevOps"
### Describe your current workflow

Similar to the colleciton backup to GitLab and DropBox, it would be nice to have the option to have the abiilit to save to Azure DevOps

### Describe your ideal workflow

Ideally this backup is done automatically :)

### Describe alternatives you've considered

Backup is currently done with a manual export

### Additional context

_No response_

[2021-09-20 07:49] ffffionn commented on #8950
@arlemi   I dont see how to do this in Postman 9.0

[2021-09-20 08:51] bpedro commented on #10162
Thanks for sharing, @VaishnaviChallaPostman!

[2021-09-20 09:31] arlemi commented on #8245
@huyz You can integrate with GitHub Enterprise on the Postman Enterprise plan. More info on this plan here: https://www.postman.com/postman-enterprise/
![image](https://user-images.githubusercontent.com/5029719/133981655-db92775d-9fbd-4e49-98f9-1550fd2bb1c5.png)

[2021-09-20 09:41] arlemi opened #10307 "Can't update mock from schema from v9"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

As of Postman v9 there isn't an option to valide, then update a mock server from a schema.

### Steps To Reproduce

1. Create a new API
2. Add a schema
3. Generate a mock (from schema) in the Overview tab of the API
4. Notice that there is no option to Validate the mock anymore

### Screens

[2021-09-20 09:42] arlemi commented on #8950
@ffffionn Good catch, looks like the new UI doesn't allow to update a mock from a schema. I've opened #10307 to track it.

In the meantime, you can generate a Test collection, then mock that collection. You can then update the Test collection and the mock will be updated subsequently.
![Screenshot 2021-09-20 103744](https://user-images.githubusercontent.com/5029719/133982364-df2f615d-5b63-4fea-b31

[2021-09-20 10:52] fkromer opened #10308 "Add auto-update of WebSocket view"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Received messages are listed in the "Messages" area of the WebSocket Request building block. In many situations it's important to beeing able to investigate message payload content over time. This is not possible ATM.

### Descri

[2021-09-20 11:16] codenirvana commented on #10308
@fkromer from "auto-update" do you mean displaying the entire message payload instead of the current collapsed state in the message stream?

[2021-09-20 11:20] shashankawasthi88 commented on #10306
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/10280

[2021-09-20 11:20] #10306 closed, assigned to abhijitkane

[2021-09-20 13:48] slang25 commented on #8724
I ran into the same issue over a year later, googled it and found my own issue 😆

I've discovered what I'm doing wrong, I've left the option `Add authorization data to` as `Request Headers`, but it should be `Request URL` for this service (API Gateway in my instance).

User error! Nothing to see here 😆  Hopefully this will be useful for anyone else running into the same problem.

[2021-09-20 15:39] RichardRadford opened #10309 "Update the embedded Chrome version from v87"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Our IT infrastructure blocks old versions of Chrome and we cannot use the anymore

### Describe the solution you'd like

Keep the embedded chrome more up todate

### Describe alternatives you've considered

_No response_

### Add

[2021-09-20 15:49] agnoster commented on #9346
@AbdullahDiaa Actually the live canary build available at https://www.postman.com/downloads/canary/ is _not_ universal/native - you have to download the one specific M1 canary build linked in this thread, and it's very old at this point. I'd actually be pretty happy if there was an option to download an ARM build, similar to how the Windows canary build has 32-bit and 64-bit builds - and I assume

[2021-09-20 16:17] linhobs commented on #10252
This fixed my issue

[2021-09-20 16:30] postman-support commented on #10285
Hello @SonMooSans,

I just wanted to check in here and see if you still needed any assistance.

via @nrmartell | Postman Support

[2021-09-20 16:32] StrohmyerTR opened #10310 "Upon Launching Postman, All Collection Variables Are Enabled By Default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When Postman is closed and reopened, collection variables are automatically enabled (checkboxes are checked).

I maintain a collection in which the variables act as a sort of configuration file. There are a number of variables which I would like to remain disabled (un-checked) unless I manu

[2021-09-20 17:03] fkromer commented on #10308
@codenirvana Yes, and that the location of the view showing the message payload is kept static.

[2021-09-20 17:43] 2stash commented on #9346
@postman and friends.
I just wanted to give feedback on what I saw with the M1. I am a new user to mac, and got the M1 because I needed a laptop, and wanted to work more in react-native, and the m1 was the cheapest.  Coming from windows I think setting a mac is really hard, but I love using postman. However I don't want to try and mess around with installing something else as a workaround, so unti

[2021-09-20 20:52] zackheil commented on #5502
@a85 I believe the followup comments have made the use case clear and it would be a great addition. Especially since shared Postman Collections in an enterprise team allow anyone to send requests. I want to know exactly who fired (or misfired) a request that made a database change. If you don't think this is a good change, then please provide advice of what you think a better practice would be. Be

[2021-09-21 06:56] AngelikaSk92 commented on #9097
Wow thank you very much ! I was troubling with the issue and can not find solution. :)

[2021-09-21 07:08] charlie-postman commented on #10302
@alexmbrown Thank you so much for reporting the issue. We are aware of the UX improvement opportunity that fork labels are missing in the environment dropdown list in the monitor creation/editing flow. We will triage and prioritize the fix for the issue.

[2021-09-21 07:11] kevinadhiguna opened #10311 "HTTP method labels are not correctly displayed in collections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi, I created a number of requests that I save in a collection in Postman.
However, in my opinion, labels which describes methods are incorrectly displayed.

Expected behavior :
`POST` requests are labelled as `POST`, not `GET`. Same goes to `PUT` requests.

### Steps To Reproduce

1. Downl

[2021-09-21 07:17] DannyDainton commented on #10311
Hey @kevinadhiguna

The requests in the Collection are in a _saved_ state, you have made changes to those requests in the builder and currently, have _unsaved_ changes (the orange dots)

Once saved, the requests will all match.

[2021-09-21 07:35] kevinadhiguna commented on #10311
My bad, big thanks to @DannyDainton ! It worked :

![image](https://user-images.githubusercontent.com/43397636/134130453-5dc801f1-6064-4661-a84e-f11c00322ea8.png)

[2021-09-21 07:35] #10311 closed, assigned to nobody

[2021-09-21 07:39] pawelkuznik commented on #6719
Hey, maybe It will be helpful for someone:
https://github.com/gridsome/gridsome/issues/150#issuecomment-720014356, to synchronized graphql schemas/playground etc, all it takes is install` npm install` and change url/auth in App.js and run by `npm start`
It contain very useful graphql explorer

[2021-09-21 08:11] quydox commented on #2096
Great reply, thanks bro :D

[2021-09-21 09:49] Spaum145 commented on #7895
Still have problems, version 9.0.2.
Trying to import curl for post request with multipart/form-data request
[code]
and got no body parsed

[2021-09-21 11:11] malvikach commented on #10310
@StrohmyerTR thanks for the raising this issue and for the details to replicate the issue. I am able to reproduce it at my end and our engineering team will look into this.

For the other issue that you mentioned where postman doesn't load the folders and collections on opening- It would help if you could create a separate issue for the same and provide some more details around it.

[2021-09-21 12:20] zamai commented on #8599
Just faced the same issue

- Native App
- Postman for Mac
- Version 9.0.2
- OS X 20.6.0 / x64

[2021-09-21 14:57] lepinay opened #10312 "pm.response.timings is always undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

pm.response.timings is always empty but based on the documentation http://www.postmanlabs.com/postman-collection/Response.html we should be able to extract timingPhases for responses.

### Steps To Reproduce

The following test will show that timing information is always undefined:

[code]

[2021-09-21 15:10] ErikPilsits-RJW opened #10313 "Cookie values in Request and History overwritten by value from Response, v9.0.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

A cookie set by a Response will overwrite the value in the Request and _all_ History entries. So, it is impossible to compare any historical Request / Response cookie values, or even the Request value from the current Request, after a Response is received.

### Steps To Reproduce

Send a Re

[2021-09-21 15:35] ethcservaes commented on #10067
Hello,

I have the same issue with the following WSDL
- From Sage => CAdx.txt
[CAdx.txt](https://github.com/postmanlabs/postman-app-support/files/7204404/CAdx.txt)
- VIES Eu Vat vérification : https://ec.europa.eu/taxation_customs/vies/checkVatTestService.wsdl

Thanks in advance if you can resolve theses issues !

[2021-09-21 19:07] shivaprasadmohanrao opened #10314 "Postman Mobile App"
### Describe your current workflow

I am using postman from so many years, its really wonderful tool. I had a kind of idea or thought which can actually make developers life more easy, not sure if your team has already thought about it or if its already out there some thing like this, but still i will bring it up.

The idea is, the registered user who has api’s/collections saved, can get a chance

[2021-09-21 21:15] victorvhpg commented on #2701
Any update?

[2021-09-21 21:24] brandonkirsch commented on #4253
The price keeps going up but the features keep being removed. What gives?

[2021-09-21 21:29] ajlive commented on #363
same: can't reorder collections on macOS 11.6, Postman 9.0.3. Is there a workaround?

[2021-09-21 22:11] AndreyBespamyatnov commented on #2701
Hello, I don't think that feature request is on their priority list, I'm using other tools like "insomnia rest" or vs code. Sorry, and sad(

[2021-09-22 02:58] chxiaowu opened #10315 "Can not set path variable value in pre-request script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

example url :  /api/:userId/detail

get： pm.request.url.variables.get('userId');

but no function pm.request.url.variables.set("userId" , "123456") to dynamic set userId in script.

### Steps To Reproduce

N/A

### Screenshots or Videos

_No response_

### Environment Information

[code]

#

[2021-09-22 03:21] jdgarcia1381 commented on #9346
Right now you can install most dependencies/software using Homebrew. It will automatically install ARM version for you. For Postman, you can use the installer posted on [this comment](https://github.com/postmanlabs/postman-app-support/issues/9346#issuecomment-858367418). For dual (or more) monitors, you can use DisplayLink. I was also new to Mac with my M1 and I'm loving it 🙂

[2021-09-22 03:46] kitkatsim commented on #10252
will there be a permanent fix for this?

[2021-09-22 05:25] chxiaowu commented on #10315
find a way but complex to use.
    `var path_var_item = {
        "key": "userId",
        "value" : pm.environment.get("userId"),
        "type": "string"
    };
    pm.request.url.variables.upsert(path_var_item);`

[2021-09-22 05:34] Raj-postman opened #10316 "Variable suggestions are prompted only for the first attempt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The variable suggestions tooltip does not show up until the tab is closed and re-opened again.

In params tab or headers, whenever you click on the value of a key then type {{ you can see environments or variables prompted. After clicking out of the box and upon re-attempting to enter varia

[2021-09-22 06:49] ryemyer commented on #9487
Worked for me!

[2021-09-22 07:13] blockpit-einicher commented on #7814
Is there a solution for this now?
Seems very buggy altogether. Needed to repeat login 3 times until it worked, then everything was gone. WHen i logout everything is back. So why would I login ever again?

[2021-09-22 08:24] esbenbach commented on #10280
An Azure Devops integration similar to your github integration would be very welcome indeed, this would allow us to keep postman collections (and APIs) versioned together with the code being developed instead of relying on manual export/import and the rather poor fork/merge support.

[2021-09-22 08:43] sundipnair commented on #10280
@shashankawasthi88 , thanks for the response. When you have more information on at least a proposed ETA, it would be gret if you can share this.

[2021-09-22 09:05] nicolasiensen commented on #3694
I find myself copying the body of the examples and pasting it in the body of the request so I can send it 😅

[2021-09-22 09:58] cristian-pirnog commented on #3976
Another use case: we're sending the same HTTP request to different stages (dev, acceptance, production). The URL and other properties for the different stages are configured via environment variables. I would like to add a prompt to the pre-request script that warns before sending the request to production, in order to make sure that one doesn't do this by mistake.

[2021-09-22 10:22] twitharshil commented on #10252
Hey Everyone,
The proper fix was out with Postman **8.12** releases. Thanks for letting us know that the workaround & the fix works. I am going ahead & closing this ticket

[2021-09-22 10:22] #10252 closed, assigned to postman-staff

[2021-09-22 11:17] sunilmhta commented on #7666
I am also facing this issue for around 3 weeks now. Haven't found anything which works for me. I don't see any patten. On web postman, I see my status as "Syncing" but on the desktop app, it says I am offline. I am also on Windows 10, postman version 9.0.3

[2021-09-22 13:22] VShingala commented on #10067
@massimoforni-turboden  @ethcservaes Thanks for reporting the issue. We are working on the fix and will share future updates soon.

[2021-09-22 13:58] VaishnaviChallaPostman opened #10317 "Need a setting to configure the default request tab when creating new requests."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Clicking any request tab will save it as the "last opened" one and the next time you open the request it will default to it.
[This](https://github.com/postmanlabs/postman-app-support/issues/2086) is a GitHub thread where we had a

[2021-09-22 14:39] pragun-sharma commented on #6815
Hi, I am new to postman and I was looking for a library that allows to work with files in javascript. And got to know about 'fs'. Why has the postman removed 'fs' and introduced a more complex mechanism of writing to a file. Currently, you have to run a local server in the background, and then send data to this server by sending a post request.

[2021-09-22 14:46] umeshp7 commented on #10294
@ngmmartins Thank you for reporting this.
We were able to reproduce this. We'll update here as soon as we release a fix for this.

[2021-09-22 15:48] chrisdeso commented on #6554
Hey Folks!

Closing this out as it is no longer an issue 😬

[2021-09-22 15:48] #6554 closed, assigned to godfrzero, Raja-Simha, ArjunSingh-PM

[2021-09-22 17:24] OrganicCat opened #10318 "Passing an unknown query param will not correctly match on the known query param examples for a mock server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

If I have two examples matching the same path with different query params, and I don't know the query param value of one of  the params, but I DO know the other, the matching algo does not correctly select the "most correct" example. It will ALWAYS select the most basic one, unless I add th

[2021-09-22 17:25] Siddhant125 opened #10319 "Parameter Changes are not being saved in the Collection."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I change the parameter value for my request in Collection, it is not saving the changes after click on Save button.

Initial State
![image](https://user-images.githubusercontent.com/44401619/134390900-f44a0885-e065-4475-a783-c53a0920d132.png)

Changed the value, ran the request and cli

[2021-09-22 17:26] shashankawasthi88 commented on #10280
@sundipnair we will definitely share the information as soon as we have dates available. Ill keep this thread open for now and will post the updates on this thread itself.

[2021-09-22 19:07] Altair-Bueno commented on #3117
Yet this has been open **4 years**... Definitely using another tool for my next API

[2021-09-22 19:28] OMA2k commented on #3117
Suggestions for an alternative tool to Postman?

[2021-09-22 19:51] raCerIMA commented on #7399
For me, the following worked.

Edit->Settings
Turn on "Always open requests in new tab"

[2021-09-22 20:30] pearlp-123 opened #10320 "Not receiving Postman API Monitor dailySummary/weekly Summary notification"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Not receiving Postman API Monitor dailySummary/weeklySummary notification.

Though I have the Notification Preferences set correctly in my Postman Account, I am not receiving the API Monitor dailySummary/weekly Summary notification to my email.

I am receiving the error/failure emails , whe

[2021-09-22 20:34] dennis-thomas-o commented on #7221
This the error message I’m getting. The response didn’t time out, the sending of the request itself timed out.

![image](https://user-images.githubusercontent.com/36053409/134417280-7b7494d1-1dba-4cbf-a794-3364e4a700b1.png)

#### Text Format
Could not send request
Error: Request timed out

[2021-09-22 21:38] jsuddsjr opened #10321 "Example snapshot saved with spaces instead of tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman converts JSON returned from the server with Tab formatting into Spaces when saving as an Example. I have confirmed that both Pretty and Raw views of the original response contain tab characters. (I have also selected Tabs in the Settings > General dialog for Postman.) However, when

[2021-09-22 22:28] undevable commented on #3694
Yeah, I do the same right now, but it's very inconvenient.

[2021-09-22 22:48] nlusskin opened #10322 "OpenAPI recursive references fail to resolve"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Valid OpenAPI schema (check at https://editor.swagger.io/):

[code]

Raises an error when imported into Postman as an API definition:
![image](https://user-images.githubusercontent.com/2939846/134431886-ababf528-dad8-4097-ac65-2ad2f5a2d9c1.png)

### Steps To Reproduce

1. Go to `APIs`
2. Cr

[2021-09-22 22:59] scott-nordicwi commented on #7399
Just commenting that I saw this issue in Postman. Updated to latest version (9.0.3) today. Resolved it by following steps above.

[2021-09-22 23:53] qudo-lucas commented on #3657
Still haven't been able to find this feature so I am guessing it doesn't exist yet. This would be useful since I am trying to generate an md5 hash from the attached file contents in a pm request.

[2021-09-23 04:36] lydengit commented on #9176
I solved it by setting the writeHead eg: response.writeHead(statusCode)
OR
response.writeHead(statusCode, {'Content-Type': 'application/json'})

[2021-09-23 06:03] SpaceMiao opened #10323 "Support the size of Json Array"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I got a JSON response from the HTTP request, which included an array list. It will be formatted in the window below. But it is not easy to know the size of the list, because it is not displayed intuitively.
![image](https://user-

[2021-09-23 08:24] Altair-Bueno commented on #3117
From what i have seen there is a plugin for vscode that works like postman called Thunder Client. Also yesterday i found these guys https://swagger.io/tools/. I haven't tried it yet but looks promising

[2021-09-23 09:02] tomikmar commented on #9488
It is really annoying :(

[2021-09-23 09:22] TigerBeanst commented on #10299
Same.
HTTP requests can be captured, but not HTTPS requests as there is not postman-proxy-ca files.

[2021-09-23 10:12] arturkuchynski commented on #8480
@charlie-postman Are there any updates regarding this issue? Looks like It was postponed for a 3 months without any changes.

[2021-09-23 11:06] arlemi commented on #7221
@dennis-thomas-o Can you open the Console and let us know what's in there?

[2021-09-23 11:08] arlemi commented on #7666
@sunilmhta Are you using a firewall (personal or company one)? Are you seeing the same on different machines?

[2021-09-23 11:39] pranav8494 commented on #7078
I am facing an issue with postman which looks similar to this one. Is there a new ticket open for this??

[2021-09-23 12:43] alxoldman opened #10324 "Cookies are not deleted programmatically via the pre-request/test script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Cookies are not deleted programmatically via the pre-request/test script

### Steps To Reproduce

1. Import the collection that is attached to the ticket.
2. On the "Manage cookies" module, whitelist acx-brillium-v2.auth.us-east-2.amazoncognito.com.
3. On the "Manage cookies" screen, inspec

[2021-09-23 12:48] mar-schmidt commented on #10027
+1

[2021-09-23 13:07] bilalelmahdaoui commented on #8612
I used **http** instead of **https** and it worked for me.

[2021-09-23 13:17] cwdabba commented on #10315
@chxiaowu You made my day. I was literally struggling to do this.

It would be nice if the Postman Team had the following way to set the Query Params / Path Variables

pm.request.url.variables.set("variable to override" , "value")

[2021-09-23 13:35] sunilmhta commented on #7666
Yes, my remote machine(inside the office) is working fine but in my laptop I am facing this issue. The issue is quite random in the laptop. Like just now, it's showing "Syncing" but just a couple of hours ago, it was showing "Offline". There is no firewall issue, otherwise it won't work randomly. I have closed all the other instances of my postman on remote machines.

[2021-09-23 14:12] govindrai commented on #3117
I think the reason these guys have lagged on this is because documenting APIs has already been solved with OpenAPI. You guys should document the api using OAS (open api specification). There’s also alternatives like RAML but I suggest using OAS3.0. Postman supports importing those OAS files.

[2021-09-23 14:27] vikasg603 commented on #10323
Just the same feature I was going to add to Github issues.
There's no way to visualize the JSON in terms of size and the number of fields in the object.

[2021-09-23 14:28] likunyan commented on #9274
我也是

[2021-09-23 15:13] fazligungor opened #10325 "Getting "null" error during postman variable assignment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm trying to assign variables while writing tests on Postman. While I can assign some variables, I get "null" in others. How can I solve this problem?

### Steps To Reproduce

1) https://restful-booker.herokuapp.com/booking

2) let response=pm.response.json;

pm.environment.set("BookID" ,

[2021-09-23 16:08] DannyDainton commented on #10325
Hey @fazligungor

The response is an _array_ so you would need to specify which object, with `bookingid` within it, you require.

[code]

Hopefully that helps :D

[2021-09-23 16:11] ZeeshanAhmadKhalil commented on #2564
@madebysid  im using `{{token}}` in header but i am getting `{{token}} string` in the console instead of its value

[2021-09-23 18:19] GearGit opened #10326 "Generate Fake/Mock Data based on a schema"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, there is no method of creating Mock data based on a given schema in Postman.

Creating fake data to test out Mock servers or even creating API examples is necessary. Developers usually rely on external websites for the

[2021-09-23 19:00] pjdjr opened #10327 "Ability to dynamically populate an environment variable value in a Postman attachment"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I need to use a value from an API response in my next API request. The trick is that the request is a multi-part message with an XML attachment, and the value from the response must be placed inside the XML file.

Many of the API

[2021-09-23 19:29] chrisdeso commented on #6618
Thanks @godfrzero – closing this out!

[2021-09-23 19:29] #6618 closed, assigned to godfrzero, charlie-postman

[2021-09-23 22:34] leonsegal commented on #4690
could l make a request that the keyboard shortcut be ctrl + L, the same as in bash terminals and the browser?

[2021-09-23 22:45] efbgirotto commented on #4898
Params, Headers and Body grids have bulk edit feature and works like a charm. Only env's grid doesn't have it... whyyyyyyy?

[2021-09-24 04:12] postman-support commented on #10303
Hi @ScottJAditazz
Hope you are doing good!

We just wanted to follow up on this issue to get the requested details on our previous message and check if you are still facing issues?

Let me know if there is anything else that I can assist with.

via @Lincimary | Postman Support

[2021-09-24 08:17] arlemi commented on #7666
@sunilmhta Next time this happens please get the logs (see how: https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs-) and open a ticket through postman.com/support. The support team will be able to look into it in more details.

[2021-09-24 08:24] deresh commented on #9845
Same here, sync button says it's in sync. but collection list view is loading for minutes, and i can see that Postman isn't loading anything from network.

[2021-09-24 10:12] iamsush commented on #8929
+1, this request is very much in demand. @postman-support Please have a look.

[2021-09-24 10:23] DannyDainton commented on #10325
Hey @fazligungor

This doesn't feel like a question relating to a specific product issue - Can I ask that you raise a question over on our Community forum, please?

https://community.postman.com

I'm going to close this issue out and continue the conversation over there.

[2021-09-24 10:23] #10325 closed, assigned to nobody

[2021-09-24 11:04] madodig commented on #9910
The problem is that Postman is installed in the location where users have no write permissions (ex: /opt/Postman). So when users run Postman, auto upgrader is unable to download the new release (to ex: /opt/Postman/Postman-1632470662491.tar.gz).

Postman upgrader process should be improved so that it asks you for password in such case, once new version is available (if you want to perform the upgr

[2021-09-24 12:01] sebainones commented on #8701
Is there any update on this or any hint on how to solve it. I'm not expert on this matter, so any help is always more than welcome.

[2021-09-24 13:57] ajopjo opened #10328 "Consolidate environment and collection variable"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have more than 60+ collections managing with my account. Considering each collection has three environments, the environment variable list grows to 180+, and the drop-down list keeps on growing. Along with that, each collection

[2021-09-24 14:04] ajopjo commented on #10328
btw this approach will help me to export the environments variables as part of the collection.

[2021-09-24 15:07] bridavis commented on #9612
This would be extremely helpfull.

[2021-09-24 16:59] scottashipp commented on #1603
@saswatds I have a similar use case to @mhowlesb

1. Postman can already be configured to read conventional environment variables like HTTP_PROXY, HTTPS_PROXY, and NO_PROXY. I already configure these variables in my environment in order to be able to reach a given environment where my service runs.
2. In addition to having the proxy configured, I need a couple of tokens to access my service. These

[2021-09-24 21:38] chrisdeso commented on #6442
@fvilches17 This is available on Postman on the web no too!

* go.postman.co
* `Settings > Themes`

<img width="1020" alt="Screen Shot 2021-09-24 at 4 36 23 PM" src="https://user-images.githubusercontent.com/4734306/134742326-dace5e53-0df3-42f5-af8f-b08150a81afc.png">

Closing this out but feel free to reopen if needed :)

[2021-09-24 21:38] #6442 closed, assigned to sankalp0o

[2021-09-24 21:40] postman-support commented on #10285
Hello @SonMooSans,

Just letting you know that I'm going ahead and closing this conversation for now as we haven't heard back. If you still need help, just respond to this thread or reach out to us at https://support.postman.com/.

Have a great day!

via @nrmartell | Postman Support

[2021-09-24 22:05] taipeicruz commented on #6926
+1

[2021-09-25 09:08] NawbC commented on #8195
+1 Any update?

[2021-09-25 09:47] ajeets1978 commented on #4407
This still seems to be an issue, I have more than 20 records in my database returning in one of the api, but postman doesn't show all of them. it only shows around array of 20 records.

[2021-09-25 09:55] ajeets1978 commented on #4407
--- Seems like that was mistake at my end, didn't realize that the api's, I am using automatically does the pagination, realized when checked the response headers.

[2021-09-25 22:31] milovangudelj commented on #10299
I'm having the same issue with OpenSSL v3.0.0.7 and Postman v9.0.3

[2021-09-26 15:36] sciamano89 commented on #675
+1 Definitely would be useful and a time saver. Or even better, have a way for us to create a global class (or even function) that we can reference in any test or pre-request script! I wonder if this would even be possible, not too familiar with js...

[2021-09-26 23:13] postman-support commented on #10284
Hey @nstekelenburg,

Thanks for your patience.

Our engineer would like you to re-configure the proxy settings on the app and see if the issue persists?

Also, would you please tell me the app version (v9.0.x) you are currently using where you see the issue?

Thanks for your cooperation on this.
I am looking forward to hearing back from you!

via @taehoshino | Postman Support

[2021-09-27 07:10] wyskens commented on #7348
Any news on this?

[2021-09-27 08:04] #9389 closed, assigned to nobody

[2021-09-27 09:10] nstekelenburg commented on #10284
Hi @taehoshino,

I have installed latest version of Postman for Windows, 9.0.3. Tunneling error still occurs.
Tried Postman for web version 9.0.4-210922-1300. Tunneling error still occurs.
In both apps I re-configured the proxy settings.
I have enabled and disabled all functions under Default Proxy Configuration and  Proxy configurations for sending requests.
In all cases Postman is not able to re

[2021-09-27 10:22] riione opened #10329 "AZURE ADO"
### Describe your current workflow

Need to integrate postman tool with ADO Azure dev ops

### Describe your ideal workflow

Need to integrate postman tool with Azure Devops

### Describe alternatives you've considered

_No response_

### Additional context

Can v have direct integration of Postman tool with Azure Devops

[2021-09-27 11:50] shashankawasthi88 commented on #10329
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/10280

[2021-09-27 11:52] shashankawasthi88 commented on #10329
@riione can you subscribe to this issue - https://github.com/postmanlabs/postman-app-support/issues/10280. We shall be posting updates on the Azure DevOps Integration on the same. It would also be great if you could explain your exact use case on that thread itself.

[2021-09-27 11:52] #10329 closed, assigned to abhijitkane

[2021-09-27 15:37] Lohkrii opened #10330 "Postman monitor fails without running."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Error Message:
    Error: The run appears to have hung. Retrying...
    Error: Aborted the run because it appears to have hung.

### Steps To Reproduce

Set Postman monitor to run daily at 2 and 3 AM
Collections take less than 5 minutes each.

### Screenshots or Videos

Screenshot of
![imag

[2021-09-27 16:26] 14geronimo commented on #10092
This would come quite handy for me when I'm demonstrating executing a query in front of an audience: I will have run it just before presenting to make sure everything was hunky dory; I want to re-execute it “live” without the previous run showing in the Response pane already.

My suggestion for implementation would be to add a third icon "Clear" to the right of the "Copy" and "Find" icons in the r

[2021-09-27 19:38] danpmoss commented on #3897
Similar to Citrix user above we use Vmware Horizon and have the same issue. We need to be able to specify the directory.

[2021-09-27 19:50] wrooot commented on #3897
Hehe, i started watching this thread a year or so ago after we ran into same problem in our VMware Horizon environment. I don't have hope though. So many versions since and no solution for this. What we are doing, is installing Postman somewhere else, then copying files from AppData and putting them into Programs Files in VDI image/appstack with a shortcut on the desktop..

[2021-09-27 20:17] revzman123 commented on #3897
I use the squirrel uninstall/copy/install workaround I found in another
forum.

On Mon, Sep 27, 2021 at 3:50 PM wroot ***@***.***> wrote:

[2021-09-27 20:49] Clopma commented on #8612
Please people, stop saying that using http instead of https works, **of course** a SSL-related problem doesn't occur with http.

[2021-09-27 23:16] postman-support commented on #10284
Hey @nstekelenburg,

Thanks so much for testing out different versions and I am really sorry that the issue still exists in v9.0.3. or 9.0.4 on web.

I will share that information and I will reach out to you as soon as the issue gets fixed.

Again apologies for the inconvenience.

via @taehoshino | Postman Support

[2021-09-28 00:11] postman-support commented on #10284
Hey @nstekelenburg,

Sorry for my multiple responses. To speed up our investigation, we would like to request for additional information.

As it may contain sensitive information, would you please submit a support request from the following link?
https://support.postman.com/hc/en-us/requests/new

In the request, please mention this GitHub issue number (https://github.com/postmanlabs/postman-app-su

[2021-09-28 05:18] abhijitkane commented on #10289
@br-tyler-milner Yep, the workflow you described makes sense. The tagging is now automatic - all collections and the schema within the API version are tagged when the release is created. Releases can be created as often as necessary, of course (and the 0.1.0 vs 0.1.1 convention for breaking-vs-nonbreaking makes sense).

Happy to chat more about this to understand your workflow better. We want to m

[2021-09-28 08:08] marvin-SL opened #10331 "Error “Cannot find protocol in those namespaces”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello,
I tried to import some WSDL file but I’ve got this error: Cannot find protocol in those namespace
Some ppl resolved this issue by updating, but for me it doesn’t work. The WSDL files work in SOAPUi.

Do you have an idea ?
thanks

### Steps To Reproduce

It seems that some WSDL file w

[2021-09-28 08:43] simlf commented on #4795
Hello, yeah this would definetely be a very good shortcut to have, to be able to cycle through the last used tabs with just Ctrl + Tab instead of Ctrl + Shift + Tab (like in Firefox), could you please implement that feature ?

[2021-09-28 09:55] inertnet commented on #9910
@madodig Your solution worked for me with a minor tweak:
`sudo /opt/Postman/app/Postman --no-sandbox` instead of `sudo /opt/Postman/app/postman --no-sandbox`
And indeed you have to start this twice from the terminal.

[2021-09-28 10:03] coditva commented on #10312
@lepinay `pm.response.timings` is not valid API. The documentation that you've linked to is for `postman-collection` package. This is not exactly the same as the `pm` API provided in the Pre-request and Tests scripts. The documentation for `pm` API is [Postman Learning Center > Postman JavaScript Reference](https://learning.postman.com/docs/writing-scripts/script-references/postman-sandbox-api-ref

[2021-09-28 10:03] #10312 closed, assigned to nobody

[2021-09-28 10:13] coditva commented on #10315
@chxiaowu @chxiaowu There is a way to do this. Simply set the value to be a variable. Then in the pre-request script you can simply write:
[code]

![image](https://user-images.githubusercontent.com/8445768/135068170-dbb56739-e02e-4477-a4dc-66f7e0fdd7ef.png)

Let me know if there are any more doubts. 🙂

[2021-09-28 10:13] #10315 closed, assigned to nobody

[2021-09-28 10:20] coditva commented on #10319
@Siddhant125 I'm unable to replicate this issue. Can you share logs from Chrome DevTools Console with sensitive information removed or drop an email with the logs to help@postman.com mentioning this ticket ID?

[2021-09-28 10:27] coditva commented on #10323
@SpaceMiao Thanks for writing in. We'll track this as a feature request and will post any updates on this ticket. 🙂

[2021-09-28 10:37] coditva commented on #10313
@ErikPilsits-RJW I'm not sure I understand the issue. Do you mean that the `Cookie` header in the request headers is changed in all tabs? This is expected because this header is calculated at the time of sending the request.

The cookie that was received in the response does not seem to change in my case:
![image](https://user-images.githubusercontent.com/8445768/135071590-bee3edbe-c237-498a-82df-

[2021-09-28 10:38] cwdabba commented on #10315
@coditva Hi one query. Using **pm.variables** it sets the variable on the **local level** right?

[2021-09-28 10:50] coditva commented on #10324
@alxoldman I was able to replicate this issue. Can you add "https://" to the cookies clear command and try if that fixes the issue?

[code]

[2021-09-28 11:03] abhijitkane commented on #10314
@shivaprasadmohanrao The Postman interface is available on the web (https://go.postman.co/), and should be usable on most browsers. We'll continue to work on mobile usability, and would love any feedback you have.

[2021-09-28 11:04] Siddhant125 commented on #10319
[Requests Changed.log](https://github.com/postmanlabs/postman-app-support/files/7243329/Requests.Changed.log)
[After Refresh.log](https://github.com/postmanlabs/postman-app-support/files/7243330/After.Refresh.log)

Here I have attached the 2 files - one when changes were made, saved and request was executed successfully. And the other after refresh where the changes were undone automatically.

[2021-09-28 11:22] poddubitskya commented on #1180
A real blocker to plan some real investments into this tool
Especially considering the age of this ticket

[2021-09-28 11:32] MarkRK commented on #7350
Issue still present on v9.0.3

[2021-09-28 11:36] coditva commented on #10319
@Siddhant125 Does this happen only with params or with auth/headers/scripts/body too? Are the changes made to auth/headers/scripts/body reflected after refresh?

[2021-09-28 11:40] Siddhant125 commented on #10319
Yes, the issue is happening only with Params tab, all the other tabs work fine with save and refresh.

[2021-09-28 11:43] giridharvc7 commented on #9202
We've pushed an update that should fix this.
Irrespective of the theme chosen, Visualizer will render the canvas in the default white background.

[2021-09-28 11:43] #9202 closed, assigned to giridharvc7, vkaegis

[2021-09-28 12:36] coditva commented on #10319
@Siddhant125 Got it. I would need a few more things:
1. Is this happening for only this request? Or all requests in this collection? Or all requests in Postman?
2. Can you send me the network logs? To find these:
	- open network tab in Chrome DevTools.
	- refresh the page.
	- perform replication steps.
	- click on the "Export HAR" button (the download icon) in header.
![image](https://user-images.

[2021-09-28 12:43] Siddhant125 commented on #10319
This is happening for 2 requests in the same collection, but they are under the same folder. There 2 more requests in the collection which are not under the same folder and there we don't observe this issue.

I have sent the HAR file on help@postman.com

[2021-09-28 12:46] Dentrax opened #10332 "Postman 9.0.3 generated cURL does not work on terminal (--data-urlencode)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Copy the following [consul catalog](https://www.consul.io/api-docs/catalog) URL into Postman:
[code]
**Generated cURL code snippet returns different response status in terminal.**

It generates:
[code]

But I expect something like:
[code]

### Steps To Reproduce

1. Open a new request tab
2

[2021-09-28 13:34] ErikPilsits-RJW commented on #10313
I'll try to walk through what I'm seeing. Initial state, I have no cookies.
![image](https://user-images.githubusercontent.com/68246095/135095721-951a7b9e-0305-4adb-b14e-dd42fa30c17b.png)
![image](https://user-images.githubusercontent.com/68246095/135095745-ace80fa8-6955-4af8-b8b3-01fc49e6ba53.png)

After I send a Login request, you can see the session response cookie is now present in both the re

[2021-09-28 14:47] shekar523 opened #10333 "Can't able to make a request only once before and after running the collection/folders/sub folders"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes, we wanted to adopt a feature something like we have in many test frameworks, example - [ClassInitialize] and [ClassCleanup] in MSTest framework. We wanted to use this to either collections or folders under collections or sub

[2021-09-28 16:15] thinh090 commented on #9346
Postman was slow for native support on m1 mac

[2021-09-28 16:26] bkromhout commented on #2934
Yeah, I agree with the other recent comments, this feature wasn't done well. For my own case, using Auth0, it's expected that the audience is sent as an `audience` query parameter on the `/authorize` call, not as a body property in the `/token` call, so...back to adding it to the Auth URL as a query parameter manually I guess

[2021-09-28 18:28] YasuroNN commented on #3897
hi, any news? It will be usefulle

[2021-09-29 00:15] danpmoss commented on #3897
Thank you for this, this solved the problem straight away for us. Many thanks

[2021-09-29 01:18] 0x78f1935 commented on #9542
I'm working with Oauth2 for a while now and used Postman to test it. I used the following configuration:
![image](https://user-images.githubusercontent.com/14298262/135186247-da0ac86a-7969-41a7-8c32-7e59eb358ee1.png)
Notice the access token. It worked before.

Suddenly Postman gets stuck the moment I click the orange button "Get New Access Token".
![image](https://user-images.githubusercontent.com

[2021-09-29 05:03] coditva commented on #10319
@Siddhant125 Thanks for the quick responses and sending the logs. I've identified the issue in the logs. We'll be tracking this as a bug and will post any updates on this thread. 🙂

[2021-09-29 05:10] godfrzero commented on #10330
The logs indicate that the monitor didn't complete execution within a 5 minute window even after 3 tries: 3:05 - 3:10, 3:10 - 3:16, 3:16 - 3:22. The agent which is running your monitor likely has fewer resources (CPU, memory) available than your local machine, so a quick run on your machine doesn't necessarily translate to a quick run in the cloud.

To debug this problem, you could try adding more

[2021-09-29 07:26] postman-support commented on #10266
Hi @MattA48
Hope you are doing good!

Thank you for your patience, and sorry for the radio silence.

We have good news from our engineers that the fix is deployed and is now available in Beta for testing. It will soon be released to production.

I will keep you posted once the deployed version gets released.
Thank you for your cooperation.

via @Lincimary | Postman Support

[2021-09-29 08:28] MattA48 commented on #10266
Thanks, it seems this problem has disappeared again for us with further schema updates, but good to hear it's fixed

[2021-09-29 08:44] xaviergm opened #10334 "Importing Collections and Environments into freshly created Workspace not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When importing existing collections and environments into a freshly created Workspace, some of the files appear to be imported but later disappear (apparently when backing the data up to Postman cloud).

### Steps To Reproduce

1. Export all files from existing workspace one by one.
2. Crea

[2021-09-29 09:26] dominicfarr commented on #4636
I ran into this one today.  😞 with the rudeness from some in this thread.

+1 for this feature

[2021-09-29 09:38] shblhy commented on #9274
+1 同样的问题

[2021-09-29 10:46] bUxEE commented on #8179
+1 super useful

[2021-09-29 11:25] my1795 commented on #6926
+1 please add this

[2021-09-29 11:28] githubaja opened #10335 "Custom data type as GraphQL variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Storing custom data type as a Graphql variable is not possible.
GraphQL variables in format:
`{
"key": "value"
}`

cannot store anything but primitive types in "value" (string, int, bool...), but not JSON-like structures.

### Steps To Reproduce

If I define a GraphQL variable
`{
"request":

[2021-09-29 11:33] arakis opened #10336 "Proxy does not work: ERR_EMPTY_RESPONSE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When enable Proxy (not Interceptor) for logging requests, it does not work. Not in program code (for example WebClient in .NET) or in Google Chrome (when enabled in System settings.

### Steps To Reproduce

- Enable Proxy, listening on Port 5555.
- Setup this proxy in Operating System Setti

[2021-09-29 11:54] postman-support commented on #10266
Hi @MattA48

Thank you for working with us to identify the underlying cause.

Just want to update you that I will keep you posted once this feature gets shipped into production. As of now, I'm going ahead and closing this conversation, but I’m still here so feel free to give me a shout if you have any further queries :)

Thank you for sharing your feedback.

via @Lincimary | Postman Support

[2021-09-29 12:18] arakis commented on #10336
I figured out, it happens only on HTTPS requests. (HTTP requests will work). So i followed the instructions here: https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests

But in Folder `%appdata%\Roaming\Postman\proxy\certificates` there's only a `cert.json` an nothing more.

[2021-09-29 12:31] aliciadavis commented on #3789
I need a way to select a certificate from my smart card with postman. I cannot export the private key. I need a way to be prompted to select my certificate.

[2021-09-29 12:49] jbradley311 commented on #10334
Can confirm this is also happening to me on Mac

Environment Information
- Operating System: Mac OS Mojave
- Platform Type: Native App
- Postman Version: 9.0.3

[2021-09-29 13:30] emreeay commented on #3312
Hitting the same issue as @elburro1887 and @swasthik8 . I noticed that, if the cookie has "httpOnly" or "secure", you can't delete them via script. `jar.clear` clears all the cookies except these httpOnly and secure ones.

[2021-09-29 14:28] MikeCongdon1 commented on #1744
+1

[2021-09-29 14:34] marshmn commented on #1744
+1

[2021-09-29 15:49] ArnieGA commented on #5600
Any updates on this? I'm looking for the very same feature in JSON responses.

[2021-09-29 17:02] shashankawasthi88 commented on #8245
Hey Everyone, while we are planning to add more repository Integrations soon (GitLab, Azure, etc.), we would want to gain some feedback on the recent release (API Platform with Integrations with repository Integrations). We would love to know how well the release caters to your use cases. People asking for Integrations not yet introduced may also schedule as the flow would remain the same irrespec

[2021-09-29 17:04] shashankawasthi88 commented on #8844
Hey Everyone, while we are planning to add GitLab integration soon, we would want to gain some feedback on the recent release (API Platform with Integrations with repository Integrations). We would love to know how well the release caters to your use cases. For GitLab, the flows will remain exactly the same, hence you could try out the flows with existing providers. This will help us plan any chan

[2021-09-29 17:10] shashankawasthi88 commented on #10129
Hey @jgraham8524, while we are planning to add more repository Integrations soon (GitLab, Azure, etc.) we would want to gain some feedback on the recent release (API Platform with Integrations with repository Integrations). Please check this blog post for more info, and update your app to try it out! We would love to know how well the release caters to your use cases. People asking for Integration

[2021-09-29 17:15] shashankawasthi88 commented on #10280
Hey @sundipnair , while we are planning to add Azure repository Integrations soon we would want to gain some feedback on the recent release (API Platform with Integrations with repository Integrations). Please check this [blog post](https://blog.postman.com/announcing-new-postman-api-platform/) for more info, and update your app to try it out! The Azure flow would remain the same as GitHub, BitBuc

[2021-09-29 17:18] shashankawasthi88 commented on #5964
@johnhiggs this feature is now available with the latest Postman release. Please check out this [blog post](https://blog.postman.com/announcing-new-postman-api-platform/) to know in depth how the Integration works. We would also love to have feedback on the release and see how well we cater to your use cases. Feel free to schedule a call with us using this link - https://calendly.com/shashank-awas

[2021-09-29 17:23] KittyGarrison opened #10337 "Everlasting Reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

While making a fork of a collection while doing the 30 days of Postman Challenge I noticed that sometime I would end up in a redirect loop. I found I was able to reproduce the bug only when I clicked on the "Fork Collection" button. I was NOT able to reproduce by hitting the enter key while

[2021-09-29 17:24] KittyGarrison commented on #10337
This seems to only happen when a user click the fork collection with the mouse but not the enter button

[2021-09-29 17:59] acevos01 commented on #3780
this issue is still happening with v9.0.3 as of 2021.09.29. What I did was close the browser and postman. Opening them again and doing the same requests worked. Hope it helps

[2021-09-29 20:28] undevable commented on #3694
Yeah, I agree.

[2021-09-30 05:08] postman-support commented on #10337
Hi @KittyGarrison

Thank you for reporting this to us. We are able to replicate this issue from our end and will keep you posted in this thread as soon as we have any updates on the same.

While testing this, I observed that the issue occurs only when we try to fork collection to a Public workspace. Hence, if the page refresh doesn't help you - please try switching this workspace to either "Team o

[2021-09-30 06:48] coditva commented on #10313
@ErikPilsits-RJW I see. The request headers are **auto-generated** based on the current state. The cookie value in the old history request's **response** headers would be the one which was **received**.

[2021-09-30 07:56] Swapnil-getpostman commented on #10334
Hi @xaviergm , @jbradley311

Thanks for writing and sharing your feedback.

I tried to replicate it over my Desktop/Native app v8.12.1 and it worked as expected for me. I'm sharing the screen record with this response please do have a look for your reference.

To investigate further, could you share the below details, please?
1. Since how long you're facing this issue? Is it with the latest versio

[2021-09-30 07:59] florianpasquereau commented on #4157
Still not supporting ?

Regarding the amount of comments, it's can be a good feature I guess  ....

[2021-09-30 08:26] goldlil commented on #974
this one is must have, I can't believe that this simple shortcut takes years to implement

[2021-09-30 09:04] xaviergm commented on #10334
_**This seems to be happening since this week. As part of our formal testing we re-import the environments and collections from our BitBucket server, which is the authoritative source for the configuration to be used in testing. We ran some tests last week and the issue did not seem to appear. However, this week it happens every time to all of our test team**_

_**I signed out and back in as part

[2021-09-30 09:17] postman-support commented on #10336
Hello @arakis
I have tried to replicate the issue, but I was unable to.

Since you mentioned that the problem only occurs with HTTPS requests, this most likely happens because the proxy certificate was not installed. Without that certificate, Postman won't be able to capture HTTPS traffic

According to what you mentioned you are not seeing the postman-proxy-ca.crt file on your end.

Can you please

[2021-09-30 09:20] lepinay commented on #10312
Hi @coditva,

Yes, this same documentation  then refers to this link for further details: https://www.postmanlabs.com/postman-collection/Response.html

![image](https://user-images.githubusercontent.com/2689930/135424921-6bbaf23b-234b-43d4-a1ba-3f775a70ac8e.png)

But basically I'm just trying to access the firstByte response time for my tests, I guess it should be possible to get this information

[2021-09-30 09:38] bazmandude commented on #9877
Lack of OpenAPI 3.1 support is a blocker for us using Postman. We are especially keen on 3.1 as it has support for defining webhooks. An update on when/if Postman will support OAS 3.1 would be much appreciated.

[2021-09-30 10:18] malvikach commented on #10333
Hi @shekar523 thanks for raising the issue and discussing it in details. I had a look at your use-case and including anything in the pre-request script will indeed be executed once every request. <img width="377" alt="Screenshot 2021-09-30 at 3 47 08 PM" src="https://user-images.githubusercontent.com/89449769/135437439-73182d06-be86-4669-bc48-9b6cc41c19b9.png">
I would request you to try including

[2021-09-30 11:32] MrBenGriffin commented on #8231
Erm - when would that be?
It's a feature we've needed for a few years now.

[2021-09-30 11:56] postman-support commented on #10334
Hi there,

Thanks for the update and for writing us over the support channel.

Just letting you know that I'm working on your support request but feel free to respond to me on this Github thread if you have any other queries.

via @Swapnil-getpostman | Postman Support

[2021-09-30 12:45] Bencor29 commented on #8349
Same problem with Win 10, I tried `10.0.0.0/8`, `10/8`, `10.*` and `10.*.*.*`.
None worked... :/

[2021-09-30 14:02] ErikPilsits-RJW commented on #10313
I wouldn't expect history entries to be modified in any way, it's history. Shouldn't it have a record of what was _actually_ sent and received? Note I don't currently save responses in the history.

[2021-09-30 14:50] felipeabou commented on #8589
I am facing this issue right now. Postman says the SLL certificate is expired, but it's not:
![image](https://user-images.githubusercontent.com/78875782/135478561-221bf4e8-6cc8-46c3-8d89-82bf1b444b72.png)

[2021-09-30 14:55] dcatpegs commented on #8589
@felipeabou - Your issuer R3 is "Let's Encrypt" which had a root expiration this week I believe.  I'm thinking Postman may have its own cert store or your OS cert store is dated and has an expired root.  But I'd open a new ticket on this as this was has been closed for over a year.

[2021-09-30 14:59] bratanon commented on #8589
Same issue for we aswell now. With R3.

[2021-09-30 15:07] bratanon commented on #8589
Using the app from snap.

Postman for Linux
Version 9.0.4

[2021-09-30 15:17] adamsommer commented on #8589
I'm having the same issue today as well. I had the issue BEFORE upgrading to 9.0.3 and the issue persists AFTER upgrading to 9.0.3

This is still a problem

[2021-09-30 15:17] felipeabou opened #10338 "'Certificate has expired' error for Let's Encrypt certificates (DST Root CA X3 issued)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I've seen that this problem has happened before: https://github.com/postmanlabs/postman-app-support/issues/8589

The problem started today. Postman says the SLL certificate is expired, but it's not:
![image](https://user-images.githubusercontent.com/78875782/135486097-ea7b0eaa-fba1-42ab-a4c

[2021-09-30 15:18] adamsommer commented on #10338
+1

[code]

[2021-09-30 15:23] numaanashraf commented on #10338
Postman v8 and v9 seems to be impacted by the recent cert expiry https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/. We are investigating this now.

[2021-09-30 15:24] numaanashraf commented on #10338
As a workaround, please turn off SSL verification via Settings > General.

<img width="721" alt="Screenshot 2021-09-30 at 8 53 58 PM" src="https://user-images.githubusercontent.com/3295568/135484638-9c1eb64f-55ca-4c91-aa30-4ecdac69cad3.png">

[2021-09-30 15:27] numaanashraf commented on #8589
We are investigating this and further updates will be posted on https://github.com/postmanlabs/postman-app-support/issues/10338

[2021-09-30 15:43] amurrell commented on #10338
+1

also using lets encrypt and valid certs till nov 1st - acting up today. Upgraded to latest postman version and it's still not working. Disabled ssl verification for now.

[2021-09-30 15:47] mandyWW commented on #8195
+1

[2021-09-30 16:07] taconi commented on #10338
+1

- OS: Ubuntu 21.04
- Kernel Release: 5.11.0-37-generic
- Postman Version: 8.12.2

[2021-09-30 17:44] diaztech commented on #6224
Worked for me. Solved my panic attack

[2021-09-30 17:48] Ray-B commented on #10338
+1

- OS: Big Sur 11.6
- Postman: 9.0.3

[2021-09-30 17:51] duilio92 commented on #186
A quick fix I used to see the 302 redirect is the following:

* Get the code of the request with the cURL option
* Add the **--head** option to that command

When running it from the command line, you will see the 302 redirect that occurred.

[2021-09-30 17:59] numaanashraf commented on #10338
Thanks for your patience everyone. We have identified the issue and are testing out a potential fix internally. Once we have the fix verified, we'll release a patch on our v8.x and v9.x release lines.

[2021-09-30 18:10] trixie88 commented on #10338
+1

[2021-09-30 18:14] mikeamcbrien commented on #10338
+1

- OS: Big Sur 11.6
- Postman: 9.0.3

[2021-09-30 18:37] danielgelling commented on #10338
Also on:
- Postman Version 8.12.1
- OS X 20.6.0 / x64

[2021-09-30 18:48] Freyert commented on #10338
The LetsEncrypt expiration is a bit confusing because the expired certificate is left in the chain for backwards compatibility purposes from what we've read on their blog.

So there are two paths for the certificates, the new shorter valid path, and the longer expired path.

[2021-09-30 19:26] numaanashraf commented on #10338
@Freyert Postman uses Electron, which has a non-standard Node + BoringSSL integration. We believe this is happening cuz boringSSL is not configured to prefer the shorter part by default. We have patched this internally and is also working on upstreaming this.

https://github.com/electron/electron/pull/31213

[2021-09-30 19:28] Freyert commented on #10338
@numaanashraf thanks for the transparency! I was a bit in the dark from the older issues on what was fixed last time. Thank you all for the quick turn around :)

[2021-10-01 01:21] felipeabou commented on #10338
Thanks, guys, for the fast response!

[2021-10-01 03:41] postman-support commented on #10303
Hi @ScottJAditazz
Good day!

Just letting you know I’m still here so feel free to give me a shout if you’re still running into any issues.

via @Lincimary | Postman Support

[2021-10-01 07:36] cfecherolle commented on #10338
+1 !
OS : Big Sur 11.2.2
Postman : 9.0.3
Indeed, the problem occurs when hitting URLs from domains with Let's Encrypt certificates.

[2021-10-01 08:01] Siddhant125 commented on #10319
Is there a workaround in the meantime while you are working on permanent fix for this bug?

[2021-10-01 08:13] kabadabra commented on #10338
+1
- OS: Big Sur 11.6
- Postman: 9.0.3
- Let's Encrypt Certificate

&
- OS: Windows 10 21H1 Build 19043.1237
- Postman: 9.0.3
- Let's Encrypt Certificate

[2021-10-01 08:28] coditva commented on #10319
@Siddhant125 I'm not 100% sure if this would work, but you can try duplicating the folder which has these requests.

![image](https://user-images.githubusercontent.com/8445768/135589630-75df5b78-c848-4613-9627-3ad243ad216a.png)

Let me know how this works out. 🙂

[2021-10-01 08:45] karelbilek commented on #10338
You don't need to keep adding +1 folks, the error is already fixed on master and will get released

[2021-10-01 09:56] DellaMoraWalter commented on #9544
Same problem for me. I have very long collections and some are used to seed the environment so they are executed many times. After some time the calls to my backend become out of sync with the console log, than the execution of calls stops and finally postman crash.
This happens on mac.
If the console log is the cause of that and I can turn it of, for me is a good feature becouse in that situation

[2021-10-01 10:00] DellaMoraWalter commented on #9544
An alternative can be a circular buffer with a configurable window of X messages traced and showed in console log.

[2021-10-01 10:08] jony1993 commented on #9877
Lack of OpenAPI 3.1 support is a blocker for our company moving to Postman. Are there any plans when it will be integrated?

[2021-10-01 10:45] abhijitkane commented on #10283
@darrencapner Apologies for the delayed response. The latest release (Postman v9) changes this flow a little bit. Versions now represent parallel lines of development for an API, and **releases** (new construct) represent the state of the API version at a point in time. You can also "view" releases (this will show you snapshots of the API definition and any collections in the release).

For the wo

[2021-10-01 11:36] CleverHosting commented on #10338
9.04 still facing the problem

[2021-10-01 13:16] aadityahasiyan commented on #7240
Any timelines when this feature would be available?

[2021-10-01 13:44] tomswinkels commented on #10338
+1

macOS Big Sur 11.5
Postman 9.0.3

[2021-10-01 14:02] numaanashraf commented on #10338
The fix for this issue is available now on v9.0.5 version. If you are on Postman v9.0 and above, do 'Check for Updates' to get access to this version. Looking forward to hearing if the issue is resolved at your end.

If you are on Postman v8, a fix for this release line will be available in the next few hours.

[2021-10-01 14:05] goran-insby commented on #10338
Wow this was fast, installed and works perfect.

[2021-10-01 14:09] libalex commented on #10338
+1
OS: Windows 10
Postman: 9.0.3

[2021-10-01 14:44] postman-support commented on #10266
Hi @MattA48

Happy news! The fix is delopyed and released in production.

You can try updating to the latest version(9) and confirm if it works fine.
Win 32: https://dl.pstmn.io/download/version/9.0.4/win32
Win 64: https://dl.pstmn.io/download/version/9.0.4/win64
Mac: https://dl.pstmn.io/download/version/9.0.4/osx
Linux: https://dl.pstmn.io/download/version/9.0.4/linux

Looking forward to your rep

[2021-10-01 14:55] felipeabou commented on #10338
Wow, you guys were really fast with this! Thank you very much!
Using version 9.0.5 and everything is working perfectly.

[2021-10-01 15:08] cretara commented on #10338
Thanks for fix, now works great in Postman v.9.0.5

[2021-10-01 15:29] numaanashraf commented on #10338
The fix is now available on both v9 & v8 release lines via v9.0.5 & v8.12.4. Closing this issue.

[2021-10-01 15:29] #10338 closed, assigned to numaanashraf

[2021-10-01 15:43] luhova commented on #10271
Hello, today I tried to create a new release. I added a new endpoint to the API, updated the documentation and now I want to update the published one. I tried creating a new release, but I got this error

![Screenshot from 2021-10-01 18-42-06](https://user-images.githubusercontent.com/7593768/135649105-72921111-68fc-43b3-adbf-6191e9de9afd.png)

[2021-10-02 01:04] Cyral commented on #6001
+1, I used environments for the first time today and couldn't figure out why variables weren't being picked up. Re-created it and it works.

[2021-10-02 08:53] umeshp7 commented on #9884
@neglectedvalue Thank you for reporting this. We have recently fixed this issue and you should now be able to generate collection from that GraphQL specification.

[2021-10-02 14:27] alilibx commented on #1066
+1 This would be a great feature

[2021-10-03 10:50] madhead commented on #7349
I had the same issue in Slack for a while, and recently it began to behave this way in Postman.

- App Type: Desktop, version 9.0.5
- OS: Manjaro Linux
- DM: KDE

I think it's something related to OS / Electron (do you use Electron?) and, probably, could not be solved on the application level. Although it really makes it impossible to use the app in a multi-language environment. Check the video wi

[2021-10-04 02:07] 51LV3R258 commented on #6926
+1

[2021-10-04 05:22] #9982 closed, assigned to nobody

[2021-10-04 05:52] postman-support commented on #10266
Hi @MattA48,

I'm going ahead and closing this conversation since the fix is released but I’m still here so feel free to give me a shout if you have any further queries :)

Thank you for sharing your feedback.
Have a great day:)

via @Lincimary | Postman Support

[2021-10-04 06:15] MattA48 commented on #10266
Thanks,

Not in a position to test it right now, but as I said the error went away with further schema changes on our side, so I don't think I can do anything other than test against the original. I'll let you know if there's any problems post upgrade.

On 4 Oct 2021, 08:52, at 08:52, Postman Support ***@***.***> wrote:

[2021-10-04 07:09] tebissi opened #10339 "failed {"message":"Forbidden"} | AssertionError: expected 403 to be one of [ 200, 201, 202 ]<title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Having this error in postman

 {"message":"Forbidden"} | AssertionError: expected 403 to be one of [ 200, 201, 202 ]

When running https://postman-echo.com/get

can someone please help

### Steps To Reproduce

 {"message":"Forbidden"} | AssertionError: expected 403 to be one of [ 200, 201,

[2021-10-04 07:12] postman-support commented on #10266
Hi @MattA48,
Sure, I understand your concern, Thank you for letting us know and sharing your feedback!

Feel free to respond to this thread, to reopen the ticket.
Otherwise, reach out again later in time.

Have a nice day:)

via @Lincimary | Postman Support

[2021-10-04 07:44] KBulmer opened #10340 "Postman no longer remembers that window was maximized after restarting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Title. It started in some v8 version right before v9 was released.

### Steps To Reproduce

1. Maximize window
2. Restart Postman

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

_No response_

[2021-10-04 10:17] alxoldman commented on #10324
Yep, it works for the attached collection. But it was only one request from the original huge collection, and I made sure that the full URL (with https://) was used there. And for the original collection, it still does not works.

[2021-10-04 13:00] alxoldman commented on #10324
Seems, something goes wrong with async actions. Because when I try to flush cookies inside in-line requests, everything works fine. But when the same code is, e.g., in Pre-request Script, the cookies are not flushed.

[2021-10-04 13:04] jparram commented on #8433
This would be amazing to have.  I have currently defined different collections for each scenario I want to test... this is cumbersome, and it would be amazing to define test run scenarios built off the collection, and not have to reconfigure them for each run.

[2021-10-04 14:03] postman-support commented on #10336
Hello @arakis,

Just checking in if you were able to go through my previous reply - if yes did it yield any positive results

Please let us know in case you continue to face the issue even after following the steps listed earlier.
via @nasco-a | Postman Support

[2021-10-04 14:33] scott-wi commented on #4898
I've basically stopped using Postman because of this, we now use Swagger, which is a couple clicks more to test with, but easier to maintain sample data for since it can be stored in a repo or a wiki. Very unfortunate.

[2021-10-04 19:03] mapalagama93 commented on #4193
Why this is even a discussion? IMO this feature should be a MUST.

[2021-10-04 19:46] dgobaud opened #10341 "Incorrectly says SSL Error: Certificate has expired"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

incorrectly gives SSL expired error for https://api.facilitafx.com/ but it is not expired

Expires: Thursday, December 9, 2021 at 2:03:12 AM Eastern Standard Time

### Steps To Reproduce

make request to https://api.facilitafx.com

### Screenshots or Videos

![image](https://user-images.git

[2021-10-04 19:53] igor9silva commented on #6354
For everyone setting `SSL Certificate Verification` to `OFF`, this is **NOT** a solution. You're just telling Postman to accept an insecure connection!

The root case is a misconfigured web server.

[2021-10-04 23:18] xk0der commented on #10341
@dgobaud I checked and found that the site is using LetsEncrypt generated cert. LetsEncrypt's root cert had expired on 30th Sep causing the issue.

Upgrading to [8.12.4](https://www.postman.com/downloads/) should fix the issue.
Refer: https://github.com/postmanlabs/postman-app-support/issues/10338#issuecomment-932330968

Closing this as duplicate of #10338

[2021-10-04 23:18] #10341 closed, assigned to nobody

[2021-10-05 00:09] xk0der commented on #10339
Hey @tebissi 👋 !

Looks like you may be using a Proxy or VPN while trying to access https://postman-echo.com/get
Make sure that access to `postman-echo.com` is not blocked by your Proxy/VPN or by Firewall
If you are using a corporate device, check with your IT Team to make sure access to `postman-echo.com` is not blocked.

**Try out the following for troubleshooting:**
* Try opening https://postma

[2021-10-05 00:49] ShyanFung commented on #8929
+1. I've tried throwing an Error in the pre-request script to get the iteration to skip and it works for a small set, but it eventually crashes postman after it runs about 100+ iterations.

[2021-10-05 01:40] postman-support commented on #10284
Hey @nstekelenburg,

I hope all is well! I just wanted to follow up on my previous message.

Please do let us know if the issue is still persisting. We'd be happy to troubleshoot further.

Thanks so much for your cooperation. We are looking forward to receiving your support request.

via @taehoshino | Postman Support

[2021-10-05 03:53] jose1574 commented on #6723
hola, tenia este mismo problema con la versión 8, desinstalé e instale la versión 7 y funciono.

[2021-10-05 06:25] Kirill commented on #6354
@igor9silva this not misconfigured web-server. It's problem in Electron and other for root certificates witch use Let's Encrypt... Browser work with this certificates well.

[2021-10-05 06:45] megaacheyounes commented on #8195
+1

[2021-10-05 07:06] esbenbach opened #10342 "[Feature Request] : Option to disable Request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Often i find myself writing requests that i want to temporarily disable from accidental execution by other team members.

I don't like the fork/merge workflow, and for single requests this is rather cumbersome regardless.

In SOA

[2021-10-05 08:06] coditva commented on #10324
@alxoldman Does this mean that adding `https://` does not work for the entire collection? Or is it not possible to add `https://` for each request in the collection?

I'm not sure I understand. What do you mean by in-line requests? The "Manage Cookies" modal?

[2021-10-05 08:15] coditva commented on #10313
@ErikPilsits-RJW I understand where you're coming from. Let me track this as a feature request/improvement. I'll post any updates on this thread.

[2021-10-05 10:04] LeilaPostman opened #10343 "Problème d'installation de postman"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Bonjour à tous,
L'installation de Postman-win64-8.12.4-Setup  n'a pas abouti sur mon PC. Merci de voir le fichier log contenant des erreurs sur Microsoft Teams que j'ai désinstallé. J'ai essayé d'installé Microsoft Teams de nouveau mais l'installation n'aboutit pas aussi (voir log). Votre a

[2021-10-05 10:05] LeilaPostman commented on #10343
[log MTeams.txt](https://github.com/postmanlabs/postman-app-support/files/7284815/log.MTeams.txt)
[log Postman.log](https://github.com/postmanlabs/postman-app-support/files/7284816/log.Postman.log)

[2021-10-05 10:05] #10343 closed, assigned to nobody

[2021-10-05 10:10] verzada commented on #3019
Any news to share about it?

[2021-10-05 11:02] deco-dev opened #10344 "Issues using Postman agent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I ran the postman agent, it does not work well.
I am sure the version 0.3.9 or 11.4.7.  Because I checked the version file, that is 11.4.7
[code]
[code]

### Steps To Reproduce

1. Run Postman Agent

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Add

[2021-10-05 12:41] igor9silva commented on #6354
@Kirill even though, turning off certificate verification isn't a solution!

The most common cause is:
![image](https://user-images.githubusercontent.com/3062866/136024293-651ec735-7767-4f67-9762-312dbc4c5d39.png)
(from https://www.npmjs.com/package/ssl-root-cas)

[2021-10-05 12:47] postman-support commented on #10304
Hey @ScottJAditazz
Just checking here to see if you are still facing any issues :)

via @VaishnaviChallaPostman | Postman Support

[2021-10-05 13:28] shekar523 commented on #10333
Hi, I know this work around but I would love to have something what I have requested.

[2021-10-05 13:38] luhova commented on #10271
@abhijitkane could you help me with the aforementioned issue? How could I create a new release and therefore be able to republish my updated documentation?

[2021-10-05 13:56] jovenntann commented on #9346
this is true hopefully they can fix it on the next update

[2021-10-05 14:26] OblongLongjohns commented on #2452
anything?

[2021-10-05 14:38] compwron commented on #7553
This is happening to me also
osx 11.6
postman 8.6.2 (latest on the website download link)
It is just hung forever on "preparing your workspaces" :(

[2021-10-05 14:43] numaanashraf commented on #7553
@compwron Could you try installing v8.12.4 from the website?

<img width="478" alt="Screenshot 2021-10-05 at 8 10 55 PM" src="https://user-images.githubusercontent.com/3295568/136045644-11231d14-211b-481f-a429-e3048631cfac.png">

[2021-10-05 16:03] drcharlie92 commented on #9114
This is becoming quite annoying that it still hasn't been fixed.
Ctrl + / doesn't work. It just opens settings on my end.

[2021-10-05 16:20] br-tyler-milner commented on #10289
The new workflow described above using API "releases" rather than explicit API "versions" is working for me now. Closing issue...

[2021-10-05 16:20] #10289 closed, assigned to nobody

[2021-10-05 18:24] nirmal070125 commented on #1066
+1 for this.

[2021-10-05 18:50] gdams opened #10345 "https://dl.pstmn.io/download/latest/osx not serving `9.0.5`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Looking at the [release notes](https://www.postman.com/downloads/release-notes/) the latest version is `9.0.5` but https://dl.pstmn.io/download/latest/osx is still serving `8.12.4`

See https://github.com/Homebrew/homebrew-cask/pull/112110 for context

### Steps To Reproduce

[code]

### Sc

[2021-10-05 19:39] josemiguelCalvache commented on #8226
have you find any answer about it?

[2021-10-05 22:12] voltuer opened #10346 "are you ever going to care about M1?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

you said you were going to add support early 2021, however you haven't

### Describe the solution you'd like

to have postman run natively on M1

### Describe alternatives you've considered

switching to another app

### Addition

[2021-10-05 22:12] br-tyler-milner opened #10347 "View model schema details in rendered API documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We're practicing API-first development and using Postman as the "source of truth" for all things API-related on a new project. Unfortunately, we've run into showstoppers with regard to how Postman renders documentation generated

[2021-10-06 05:08] ExaltedA commented on #3694
A feature which would make lives easier

[2021-10-06 07:30] anudeepmedicharla opened #10348 "Be able to pause or stop a flow"
### Is there an existing request for this feature?

- [x] #10349

### Is your feature request related to a problem?

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/55?

### Describe the solution you'd like

Be able to stop or pause a flow in the middle

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-06 07:30] anudeepmedicharla opened #10349 "I have searched the existing issues for this feature request"

[2021-10-06 07:31] #10349 closed, assigned to nobody

[2021-10-06 07:38] anudeepmedicharla opened #10350 "A calculate block"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/56?u=anudeep

### Describe the solution you'd like

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-06 07:47] anudeepmedicharla opened #10351 "An accumulate block"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

### Describe the solution you'd like

An accumulate block maybe? That keeps collecting data as and when you pass variables or data to it.

### Describe alternatives you've considered

Combine block, but it is ineffective with mor

[2021-10-06 07:51] anudeepmedicharla opened #10352 "“create variables” step only offers variables that are explicitly used in the request."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/54?u=anudeep

### Describe the solution you'd like

I should be able to send variables to the collection if a request is inheriting auth

### Describ

[2021-10-06 07:56] anudeepmedicharla opened #10353 "Parse xml to JSON"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/62?u=anudeep

### Describe the solution you'd like

Be able to convert XML data to JSON and vice-versa

### Describe alternatives you've considered

[2021-10-06 08:00] anudeepmedicharla opened #10354 "Issues with the 'create variable' block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/60?u=anudeep

### Steps To Reproduce

Refer to the description

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

_No response_

[2021-10-06 08:03] anudeepmedicharla opened #10355 "Unable to validate 'null/undefined' values"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/61?u=anudeep

![image](https://user-images.githubusercontent.com/16399370/136163680-a5b6d048-4c4a-42a5-915b-e6e2e5c0c4b1.png)

### Describe the solut

[2021-10-06 08:07] anudeepmedicharla opened #10356 "Export to external files from Flows"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Created from:
https://community.postman.com/t/user-feedback-postman-flows/28121/55?u=anudeep
https://community.postman.com/t/user-feedback-postman-flows/28121/64?u=anudeep

### Describe the solution you'd like

Be able to export

[2021-10-06 08:28] the-docta commented on #10352
thx for picking up my request

[2021-10-06 08:35] anudeepmedicharla opened #10357 "Be able to import a folder/collection as a single unit"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Created from: https://community.postman.com/t/user-feedback-postman-flows/28121/25?u=anudeep

### Describe the solution you'd like

Be able to select folders/collections that can execute as a single unit within a flow

### Descri

[2021-10-06 11:37] abhijitkane commented on #10271
@luhova Releases can be created from the "create release" link in changelog on the right side. This should be visible if you've selected the API version

![Screenshot 2021-10-06 at 5 06 29 PM](https://user-images.githubusercontent.com/681190/136195162-321d2e1f-645c-46d5-83b8-b62fc1336412.png)

We're looking at the `No revisions found` error - let me get back to you on that.

[2021-10-06 11:39] luhova commented on #10271
@abhijitkane Yes, I see the "create release" link, but then I get this erro
![Screenshot from 2021-10-06 14-39-02](https://user-images.githubusercontent.com/7593768/136195551-08d02e18-fb41-4d2c-aeb5-9c1dcd51366c.png)
r.

[2021-10-06 12:55] luhova commented on #10271
@abhijitkane I just sent the email.

[2021-10-06 13:08] nacho85 commented on #9566
Somene from Postman please solve this. Is terribly annoying for developers... downgrading version to 7.x.
I don't know why they do such things... or at least give me the option to get the history on demand (or not), but don't apply that by default... Hope this get solved soon

[2021-10-06 13:46] #8245 closed, assigned to jotsarup

[2021-10-06 14:58] Relequestual opened #10358 "OpenAPI 3.1 incorrectly imported as OpenAPI 3.0 specification definition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Attempting to import an API using raw JSON of an OpenAPI specification document which signifies it is OpenAPI version 3.1 results in incorrect identification as version 3.

OpenAPI 3.1 introduced breaking changes, so it's not permissable to treat an OpenAPI spec document that identifies as

[2021-10-06 15:43] drissfoo commented on #10338
Still have this issue for the last version v9.0.5 for macOS Big Sur 11.4
Certificate is valid til 31 October. Seems like a random issue happening only to me and not my colleagues.
<img width="301" alt="Screenshot 2021-10-06 at 17 38 36" src="<img width="445" alt="Screenshot 2021-10-06 at 17 40 50" src="https://user-images.githubusercontent.com/667058/136237379-4f0314ef-8ced-46ab-a7c2-cbf76330a8bb.

[2021-10-06 16:20] OtherLeadingBrand opened #10359 "Postman Flows does not run Test javascript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman Flows does not execute the javascript in the Test tab of a request. Consequently this is preventing me from creating environmental variables shared between requests when using the new flow feature.

### Steps To Reproduce

1. Open a new request tab and configure it.
2. Click the Tes

[2021-10-06 16:49] fthyildirim opened #10360 "Unable to reach to local server via Postman, browser works fine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

{
"card":[
    {"buttons": "'SEPETTE %30 İNDİRİM 69,90 TL'",
    "content": "Erkek Standart Kalıp Basic 3'lü Paket T-shirt 1000.",
    "icons": "star','star', 'star', 'star', 'star",
    "imageUrl": "https://productimages.hepsiburada.net/s/120/300-400/110000069562350.jpg/format:webp",
    "

[2021-10-06 17:44] antoniovivalda commented on #1066
+1 we have thousands of requests, it's really needed thanks

[2021-10-06 18:19] saswatds commented on #10359
Hi @OtherLeadingBrand , thanks for reaching out.
Could you confirm if tests are not running or just updating environment is not working. In the latest version, you will notice a new `test` port to also be present on the Send Request block.

Currently, Flows only uses environment in a ReadOnly mode, so updating environment from requests within flows will not work. The reason behind this decision is

[2021-10-06 20:22] #10359 closed, assigned to nobody

[2021-10-06 21:15] antoniovivalda opened #10361 "Interceptor not capturing PATCH body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello,

Using the Interceptor in conjunction with Google Chrome plugin, does not record the Body of PATCH requests
It works fine with the other types of methods

Thanks

### Steps To Reproduce

1. Start Interceptor
2. Capture Requests
3. Open Google Chrome
4. Navigate on a site and record a

[2021-10-06 21:20] davequested commented on #2452
+1 on handling the refresh_token with the OAuth2 Authorization code flow. Or even be able to store the refresh_token/expires_in values after the flow in the collection variables so we can create a pre-request script to handle the refresh. Currently we have to manually copy the refresh_token/expires_in out, and then paste into the collection variables.

[2021-10-06 21:45] junior opened #10362 "getPathWithQuery() return extra `?` when there is unchecked params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Using the getPathWithQuery() returns the path with `?`, even if there's no params checked. This affects pre-processing of the correct url and paths for operations like http-signatures.

The behavior only happens if there's unchecked params. If there's no params at all, the issue does not ha

[2021-10-06 23:22] Djelibeybi commented on #5645
@junior nifty, thanks!

[2021-10-07 01:47] xk0der commented on #10360
Hey @fthyildirim  👋
This doesn't look like a Postman bug.
you seem to be using different ports from what I see in the screenshots.

In your browser the port is `4200` while in Postman you used `3000`
Check your server configuration (and code) to make sure you are using the right port for your API calls.

Such how-to questions are better suited for our Postman Community Forum https://community.post

[2021-10-07 01:47] #10360 closed, assigned to nobody

[2021-10-07 04:34] saswatds commented on #10359
@OtherLeadingBrand
1. The desktop version of the app is updated very slowly. You can try out http://go.postman.co/ which is the web version of postman. We try to update and push to Flows everyday in web.
3. Yup you are right. There is also a small bug in Parse JSON block because of which it is not able to create the schema for the data, but we will fix it asap and let you know.

[2021-10-07 07:58] serge-portima commented on #3930
This feature would really be handy for team which share settings as file.

[2021-10-07 07:59] semangard commented on #10112
@giridharvc7: do you have any news ?

[2021-10-07 11:17] m3dbedb opened #10363 "add variable pm.info.collectionname"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Many string of code may be optimized.

### Describe the solution you'd like

I have code templates, like
try {
    console.log('Finishing scenarioname');
    var jsonData = JSON.parse(responseBody);
		if(jsonData.code==0) {consol

[2021-10-07 12:21] lucianobustos commented on #6354
@igor9silva
I know the risks and I want to connect anyway. (Is a development server). What can I do?? I'm facing this issue with Postman v9.0.5.
I've installed the Self Signed Certificate and Chrome works properly.
I think something is not working in postman. (also I've try to use the certs inside postman)

[2021-10-07 12:44] lucianobustos commented on #6354
Yes that options prompt automatically. I need to restart windows 😏
Thanks!

[2021-10-07 13:30] maratismodest commented on #8195
+1

[2021-10-07 18:11] 1Const1 commented on #8288
8.10 Postman Canary 1310 crashes on response 700mb

I think the limitation here is electron app that after 4gb memory consumption stop growing and fault user interface but processes Postman stay working in memory

Can you please increase memory limit of 4gb electron app?

Memory of computer not a problem in my case. 64GB RAM, Free about 40GB

[2021-10-07 21:19] ericalderman-emilio opened #10364 "Can't open workspaces in Mac app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

For some reason, I can no longer open my workspaces using the Mac app (v9.0.5).  Everything else seems to work, but when I click on either one of my two workspaces (one is personal, one is team), nothing happens.  If I use the web app, they open fine.

### Steps To Reproduce

1. Open the Ma

[2021-10-07 21:27] #10364 closed, assigned to nobody

[2021-10-07 22:21] billrob opened #10365 "Selective SSL Certificate Validation Bypass"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I am working with ngrok to test my webhooks and for some reason their certificate is coming up expired in postman, but not any of my browsers.  I am concerned about turning off SSL validation fully, rather than a white list of th

[2021-10-08 00:52] #10250 closed, assigned to postman-staff

[2021-10-08 02:16] aksbenz commented on #7373
@codenirvana , @postman-support, @shamasis , @abhijitkane

Hey,

I believe adding this feature would be really helpful, and possibly quite straightforward.

Allow a 4th optional parameter "helpers" in pm.visualizer.set()

When invoking the [template(context, options)](https://handlebarsjs.com/api-reference/runtime-options.html), just need to pass this in the "options" as
{ helpers: <OBJECT_FROM_VI

[2021-10-08 18:07] jmajoor opened #10366 "OpenAPI with x-www-form-urlencoded request body fails with complex types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When you have a requestBody with application/x-www-form-urlencoded (in an OpenAPI v3 file) and use a sub-schema reference for one of the properties, then all the properties of the sub-schema are pulled up to the request body.
The original property is replaced.
It should however stay in plac

[2021-10-08 19:12] pranav-davar opened #10367 ""View collection in the public workspace first if you'd like to." not working when using run in Postman Button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After creating a live Run in Postman button from Public workspace for a collection, it is redirecting to JSON error response as below
{"name":"paramMissingError","level":"verbose","event":"Request query param should have entityType and entityId","timestamp":1633719797587,"entity.name":"run-

[2021-10-08 20:34] AramilRey opened #10368 "pm.request.authorizeUsing not updating headers correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Using `pm.request.authorizeUsing` in the pre-request script doesn't change the request authorization

It updates the value for `pm.request.auth.type` but the request headers don't change

### Steps To Reproduce

1. Create a request with any auth (i.e.: bearer)
2. Use `pm.request.authorizeUs

[2021-10-09 16:47] sematgt commented on #6255
Its not a duplicate.

I disabled all shortcuts in Postman and still have focus on top bar menu on Alt.

[2021-10-09 20:55] Ferdzzzzzzzz commented on #8541
@brittneykernan, unfortunately I haven't been working in Flutter for a while, never got around to trying this. I might give it a go and let you know :)

[2021-10-10 15:48] KrishnaST opened #10369 "Proxy CA certificate missing X509 Basic Constraint CA:TRUE"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

Android 11 devices are not accepting CA certificates with missing X509 CA Basic Constraint.  Android 11 will show error "**private key required to install a certificate**" when tried to install certificate.

[Reference ](https://android.stackexchange.com/a/238859/353913)

Postman certificat

[2021-10-10 18:37] vinitshahdeo commented on #10361
Hello @antoniovivalda,

This issue seems similar to #9752. We'll keep you posted there.
(cc: @Swapnil-getpostman)

[2021-10-11 02:44] nitty8585 commented on #6999
We make Postman available to our customers through an MDM. End users do not have admin rights, so they are prompted to update, which then obviously fails. Why would you give an option to disable updates, then force them anyway? An update is an update - major or minor is irrelevant.

[2021-10-11 04:42] 2shrestha22 commented on #4795
If I need to go to previous request I need to search in whole collection and tabs. It should be nice to have a setting to change the behavior of ctrl+tab

[2021-10-11 06:21] Stevemoretz commented on #6999
You can easily disable it, check out the updated workaround:

https://stackoverflow.com/a/65966655/10268067

[2021-10-11 06:35] Stevemoretz commented on #6999
I'm using it on macos myself, it works on macos windows and Linux, please read the answer completely at https://stackoverflow.com/a/65966655/10268067

[2021-10-11 06:40] shashankawasthi88 commented on #10369
@KrishnaST thanks for raising this. We are aware of this issue and rolling out a fix very soon. Will keep this thread updated for the same.

[2021-10-11 14:37] ritwijsinha opened #10370 "Unable to see resolved/unresolved variables while editing in Key-Value Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

There are two issues with the UI of variable resolution:

1. The color for the variable highlight is that of an unresolved variable (red) while I'm not editing, however it's fine the first time I click it and go to the editing mode.
2. If I go to the editing mode the second time, it's not h

[2021-10-11 17:01] Git0503 opened #10371 "像fiddler一样自动设置代理"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

手动设置代理会导致部分网页无法访问，还要打开Internet选项，取消勾选“为 LAN 使用代理服务器”。每次都这样设置一遍非常的麻烦。

### Describe the solution you'd like

像fiddler一样，启动即自动设置代理，无需手动设置

### Describe alternatives you've considered

_No response_

### Additional context

_No resp

[2021-10-12 06:10] vamosdalian opened #10372 "if postman suport chinese?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

if postman will support chinese?

### Describe the solution you'd like

if postman will support chinese?

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-12 13:11] ntloi95 commented on #5194
+1

[2021-10-12 16:07] thirumalaicb opened #10373 "Global variable values not reflecting after save"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The values entered or modified for any global variables are does not show/reflect the value and resets to the old one.
https://www.loom.com/share/82dc8e3cc29c44c883af772210d8d452

### Steps To Reproduce

1. Open Globals environment variables.
2. Add global variables and values.
3. Save it.

[2021-10-12 16:59] jmajoor commented on #10366
Apparently explicit encoding information if required.
I need to add the encoding for all the complex types as follows:
[code]
This will prevent the pull up of the properties and the request will work.

[2021-10-12 17:00] #10366 closed, assigned to nobody

[2021-10-13 07:50] poonman commented on #5194
+1

[2021-10-13 09:20] CatalinVoineag opened #10374 "Collaborator unable to merge changes after the PR has been approved once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

We have a main collection that our team raises pull requests against and we want to allow every collaborator to merge his/her own changes if the PR has been approved at least once.

The main collection has the `Approve once` checkbox checked under the `Merge Checks` section. But our collabo

[2021-10-13 09:37] DannyDainton commented on #10374
As the user doesn't have Editor access on the destination Collection, they would have permission to change it. This is shown here in the PR flow but the same would be if that User tried to directly edit the destination Collection.

I think the copy on the _Set merge checks_ can be improved here to reflect which role can merge the changes.

For that Collection, you could set the Team role to Editor

[2021-10-13 10:45] DannyDainton commented on #10373
Hey @thirumalaicb,

I've been able to recreate this on my side and have raised an internal issue with the team.

Thank you for reporting! 🏆

[2021-10-13 11:35] #10373 closed, assigned to giridharvc7

[2021-10-13 11:49] NirajCricket commented on #9390
setting the uri in oauth consent worked for me

[2021-10-13 17:22] vkoivula commented on #9346
@numaanashraf when is Postman releasing Apple Silicon version? Is it impossible to communicate schedules for us or have you set a goal of being the last Intel-only application?

[2021-10-13 18:51] numaanashraf commented on #9346
We are adding the finishing touches to it now and Apple Silicon support for Postman will be available by end of next week.

<img width="1259" alt="Screenshot 2021-10-14 at 12 16 14 AM" src="https://user-images.githubusercontent.com/3295568/137194562-402aa097-c199-47ab-b1a3-a956c490da0d.png">

[2021-10-14 06:52] m3dbedb commented on #10345
Same issue for windows 32

[2021-10-14 07:01] m3dbedb commented on #10180
There is a feature request https://github.com/postmanlabs/postman-app-support/issues/6603

[2021-10-14 10:06] DivyaMoryani opened #10375 "Error in Monitoring: Binary file load error: file resolver not supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have searched , Its already raised by other users but closed without fixing ( Reference -> https://github.com/postmanlabs/postman-app-support/issues/5439) hence raising it again:

Requirement : I have a PUT Request endpoint and a file in Binary Request body, When I run the Monitoring Job

[2021-10-14 10:20] DivyaMoryani opened #10376 "Monitoring Error : Binary file load error: file resolver not supported"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes, This feature is related to the problem I raised here : https://github.com/postmanlabs/postman-app-support/issues/10375.

### Describe the solution you'd like

The file in the binary Request body should be able to Upload  and

[2021-10-14 13:31] m3dbedb opened #10377 "Ask user to stop runer when closing runner tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

User may close runner tab while collection execution. You may still see execution output in log. If something went wrong and execution went in unstoppable loop, you cant termitate it with GUI.

### Steps To Reproduce

1.Select collection with unconditional transition to previous step (to im

[2021-10-14 14:59] schindld commented on #4391
@giridharvc7 Did the resource field get removed in a recent release? I'm using the latest, and don't see it anywhere. And now I can't get a valid access token from ADFS.

![image](https://user-images.githubusercontent.com/1659632/137343419-f6583679-71c5-47cc-8ace-5c47415a7c6a.png)

![image](https://user-images.githubusercontent.com/1659632/137343543-c8a0979d-d181-4af5-95de-f7310c3adad3.png)

[2021-10-14 16:20] EricPezzulo opened #10378 "Nested JSON data not sending in POST request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm having a new problem sending nested JSON data in Postman. None of the nested data is being sent. Now when I go into the client side app and make the request from there all the data gets sent, but if i try to make a post request, none of the nested data makes it to the database. This was

[2021-10-14 16:49] Anapier22 opened #10379 "Collection Runner Crashes even though Newman does not"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

I have tried the below steps on Mac and Windows and it crashes in the postman app for both platforms.

I have setup a collection of 7 requests. When I run the collection in the postman app, the app will crash and I am not seeing any error messages. I can however run the same collection via

[2021-10-14 20:19] nlusskin commented on #10322
@postman-support

[2021-10-14 23:26] lucidlips commented on #3694
+1 seems like an obvious missing feature.

[2021-10-15 00:26] angoothachap commented on #2701
+1

[2021-10-15 09:14] m3dbedb commented on #9950
I have recorded the video. When I press backspace or del buttons nothing happens. When I press some letters, editor works. If I use virtual keyboard to delete letters in editor, it works. Hardware keyboard either works in other applications (also backspace and delete). Current postman version 8.6.0 for windows 32 (newer version does not work, I have reported it in related issues).

[2021-10-15 10:30] tjveldhuizen commented on #2452
See also #10112

[2021-10-15 11:21] glebsam commented on #10027
For me, websocket support feature without saving option is almost useless (( sad to see the feature in semi-finished state while reading about other shiny new features in the changelog. There's no **decent** websocket GUI client currently on the market with that functionality, so it would be a great opportunity to attract more customers to postman.

[2021-10-15 14:42] clarkritchie opened #10380 "Public API for Integrations"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The workflow for managing integrations is cumbersome.

### Describe the solution you'd like

Today, one must manually create and maintain integrations -- an _integration_ being the glue that connects monitor's output (which is ba

[2021-10-15 16:11] #10200 closed, assigned to giridharvc7, malvikach

[2021-10-16 04:51] wiskaso opened #10381 "Empty path variable changes from a "" to null value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The issue occurs when I update the name of the path variable with no value in a duplicated request, save it and export the collection.  This causes the duplicated request's value to change from "" to null.

Example:

`https://api.service.com/builds/:buildId`
- I create the following request

[2021-10-16 11:00] goforgold commented on #7596
+1

[2021-10-17 13:12] axnostic commented on #3897
Thanks @ WhiteAutumn

Just uninstalled postman. Don't want it in my profile anymore.
Unbelievable that this thread is open for several years now.
For something as basic as this.

[2021-10-18 03:07] #10375 closed, assigned to nobody

[2021-10-18 03:08] #10376 closed, assigned to nobody

[2021-10-18 07:33] Raj-postman commented on #8541
@brittneykernan Feel free to let us know if you need any assistance on this.

[2021-10-18 08:21] postman-support commented on #10381
Hello @wiskaso,
Thanks for flagging this.
I have tried to replicate the behaviour but I was unable to, each time I tried I ended up with "**null**" value for the unset path variables, and there was consistency in the results.

Those are the steps I followed: Create a new request -> add path variable -> Duplicate the request -> Change the path variable of the duplicated request -> Export the collec

[2021-10-18 10:35] madalinignisca commented on #6471
Any update on this feature?

[2021-10-18 11:58] xk0der commented on #10339
Hey @tebissi  I'm closing this issues, since we did not hear back from you. Feel free to log a new ticket if find any other bug.

[2021-10-18 11:58] #10339 closed, assigned to postman-staff

[2021-10-18 15:06] xolghadr opened #10382 "If clear the Console, it logs the request for multiple times."
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

When sending a request it will log the request into console. But when I clear the console, new requests get logged twice and if I clear the Console again they will get logged three times and so on.

### Steps To Reproduce

1. Open the request tab.
2. enter required data.
3. send the request

[2021-10-18 18:45] ThisNoName commented on #3007
And if possible, make the OAuth2 process local to each collection.  Now it's not only global but also does not require save, so touch it you lose it.

[2021-10-18 21:05] Boffice commented on #9021
+1

[2021-10-18 22:58] johnnyman727 opened #10383 "Request URLs intermittently getting truncated upon request send"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Intermittently, I've noticed that HTTP requests will get sent with a portion of the URL I entered truncated. A subsequent request sent to the same URL (nothing changed except hitting "Send" again will use the entire URL.

My server was responding with 404 errors and I thought there was a se

[2021-10-19 05:15] #10304 closed, assigned to postman-staff

[2021-10-19 05:55] shashankawasthi88 commented on #10336
Closing this issue as the solution has been provided. The iPhone issue is being handled via the support route.

[2021-10-19 05:55] #10336 closed, assigned to postman-staff

[2021-10-19 07:10] shashankawasthi88 commented on #10280
@sundipnair @esbenbach and others following this thread, can you please confirm what AzureDevOps deployment do you folks have DevOps Services (MS Cloud Hosted) or DevOps Server / TFS (Self Hosted)

[2021-10-19 07:36] sweethuman commented on #8844
Gitlab Hosted

[2021-10-19 09:22] hellopandaxx commented on #6877
Guys, do we have any updates on it? We currently have the same issue on the web version. Generated collection appears with missing body for some GraphQL requests...

[2021-10-19 12:44] Anapier22 commented on #10379
I was unable to replicate the crash for Postman on Web, however I can replicate as many times as needed for the native app. I will open a support request as you have advised.

[2021-10-19 16:23] Cody-at-Benjamin commented on #1603
+1

[2021-10-19 20:57] FreeFlight-Code commented on #8433
Also would love to see this!

[2021-10-20 00:59] zleroy commented on #8844
Gitlab self hosted is what we use.

On Tue, Oct 19, 2021, 2:13 AM Shashank Awasthi ***@***.***>
wrote:

[2021-10-20 05:14] #10027 closed, assigned to codenirvana

[2021-10-20 08:17] Cap-JaTu commented on #5920
This duplicate-feature which won't duplicate is really weird. Take it out, rename it to reflect the operation better or fix the damn thing!

[2021-10-20 08:34] arlemi commented on #8697
@bernardgut `entityType` is one of  documentation, contracttest, integrationtest, testsuite, mock, monitor.

That API doc is indeed out of date! I'll see if we can get it replaced with the latest one that can be found here: api.postman.com

[2021-10-20 11:25] twitharshil commented on #9346
Hey everyone !!

We have our first public build of Postman for Desktop that runs natively on Apple Silicon. You can download it via [this link](https://dl.pstmn.io/download/version/9.0.7/osx_arm64). This build has auto-updates enabled and new versions of Postman will be pushed via auto-updates.

Do let us know what you think and report any issues on this thread.

[2021-10-20 12:19] Lincimary opened #10384 "Hide specific API's from Documentation."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We have a few endpoints that we don’t want to share with clients, it would be a very useful feature if we have an option to hide specific API to the documentation.

### Describe the solution you'd like

Ability to set “Private” o

[2021-10-20 12:25] #10367 closed, assigned to nobody

[2021-10-20 13:42] timothyk0908 commented on #9616
Hello @VShingala, any updates on this issue ? hanks

[2021-10-20 18:19] ngohungphuc commented on #9346
When do you guys intend to update this on [web](https://www.postman.com/downloads/) ?

[2021-10-20 22:51] daahlia commented on #5681
Following the steps below resolved the issue for me
1. Install a previous version of Postman, as an example, Download Postman v7 for Windows `64-bit [https://learning.postman.com/docs/administration/upgrading/#downloading-postman-v8](url)

2. After successful installation of an older bversion upgrade to the latest version.

[2021-10-20 23:27] hari-hlubovac-carvana commented on #9060
@DannyDainton, could this be filed as a feature request (to make its way to "Settings" tab that's within each request definition)?

[2021-10-21 00:24] jarogers opened #10385 "file import via API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When attempting to import an exported file using the "Import exported data" documentation shown here:
https://www.postman.com/postman/workspace/postman-public-workspace/documentation/12959542-c8142d51-e97c-46b6-bd77-52bb66712c9a

the request fails with an 'invalidParamsError' indicating tha

[2021-10-21 05:57] rishirdua commented on #4671
Sorry for leaving a +1 comment but we would really love to have this feature.

The idea of _saving_ things is becoming less and less common with apps these days.
It's so non-intuitive that it's making it hard to onboard new postman users on our team. People forget to save before exporting and sharing collections because they don't know collections need to be saved etc. Almost feels like a bug fix

[2021-10-21 06:09] cipherwizard9 commented on #10367
Thank you @VaishnaviChallaPostman, it is working now. Sorry for the delayed response.

[2021-10-21 06:26] Raja-Simha commented on #10231
@gerhardvr-finclude @Sebaroni @kwolfy Could you guys briefly explain how your team expects to use documentation to develop and manage your internal and public APIs (if applicable) - from Open API definition to eventual API consumption. This will really help us understand your team's workflows better.

We are currently designing a solution to this problem and would like validate it. Thanks for your

[2021-10-21 06:33] snasim-cvlt commented on #10039
Hello @abhijitkane ,
Do we have any update on this? I have been facing similar issue and reached out to postman team where I was pointed to this link.

[2021-10-21 06:40] NanGuoWang opened #10386 "全局变量保存失败 (Global variable saving failed)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

在编辑全局变量时第一次保存不生效,第二次生效

### Steps To Reproduce

1.设置全局变量页面,编辑某一个变量的值
2.点击保存,仍显示上一次的值
3.再次编辑,点击保存  才会保存

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

_No response_

[2021-10-21 07:00] ghabre commented on #9566
I also reported the same issue at some point and ended up downgrading to version 7

I even figured out a way in version 7 to copy my history across PCs, this quick all history search is one my most used features in postman

The latest postman 7 can be downloaded from: [https://dl.pstmn.io/download/version/7.36.5/win64](https://dl.pstmn.io/download/version/7.36.5/win64)

[2021-10-21 17:00] gerhardvr-finclude commented on #10231
Hi Raja, On a whole, Postman already does 90% of what I require from the document management side of things. There are however a number of crucial missing features.  To start of I’ll give an high level overview of how I use Postman to design and manage the API and documentation. The API specification document is first written as part of the design process. We make use of YAML because it allows for

[2021-10-21 18:25] Mortagne opened #10387 "Remove Credentials in Export mode"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

If you share an export file, the json contains all key (bearer token) or user/pass in clear text.

### Describe the solution you'd like

remove the value, keep it blank

### Describe alternatives you've considered

_No response_

[2021-10-21 19:54] michael-volynets commented on #5194
+1

[2021-10-22 01:36] SanthanaRamaraj opened #10388 "Couldn't access this workspace You don’t have permission to access this workspace."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I use to access my workspace without any issues. But i had play around the team workspace and changed my setting and edit role permission accidentley. after some time i lost my enitire workspaces and trying access my old workspace i am getting  fllowing message. Can you please someone help

[2021-10-22 04:13] Swapnil-getpostman opened #10389 "Link from request response should open new browser tab upon clicking with Follow link tooltip."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman Web App doesn't open a new browser tab when a "link" from the response body is clicked by holding (ctrl+click). As per the tooltip that appears when hovering the link, which says "Follow Link - Ctrl+Click". This is what doesn't work correctly.

![Postman-Follow-link-highlight](https

[2021-10-22 14:24] wbuijsman opened #10390 "Add support for Find and Replace in GraphQL Query"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I am trying to update a bunch of GraphQL requests in a large collection, but the find and replace functionality does not seem to be able to find anything inside of the Query textbox of a GraphQL request.

### Describe the solutio

[2021-10-22 17:27] markbullock-mbo opened #10391 "Run Collection stops after errors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I tried to run a collection and some requests failed due to connection refused or request url is empty. This stops the run.

### Describe the solution you'd like

Either don't ever stop the collection run until all requests compl

[2021-10-23 06:21] shamasis opened #10392 "Support for manually fragmenting websocket frames"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Allow a user to manually fragment frames (or enable it after a certain number of bytes in a message).

### Steps To Reproduce

Na

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

Filed on behalf of https://community.postman.com/t/user-

[2021-10-23 06:24] shamasis opened #10393 "Schema support for validating websocket responses"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I want to validate my websocket messages

### Describe the solution you'd like

This could be really useful beyond just sending and receiving on WebSockets. We have an event monitoring stream using WS and I would love to be able

[2021-10-23 06:27] shamasis opened #10394 "Duplicate tab option is buggy for websockets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Duplicate Tab option is not working for websocket as expected, it creates new blank connection tab.

### Steps To Reproduce

-

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

Filed for https://community.postman.com/t/user-feedback-web

[2021-10-23 13:23] #10023 closed, assigned to nobody

[2021-10-23 13:39] sakiyo opened #10395 "win10 64版本无法打开个人工作空间 ，测试网页版正常打开。"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

点击Workspaces->My Workspace 控制台就报错了。

### Steps To Reproduce

1.click Workspaces
2.click My Workspace

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

![Screenshot_4](https://user-images.githubusercontent.com/13010515/138558785-155df9ee

[2021-10-25 05:59] galvao opened #10396 "Two emphasized words next to each other render incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

If you type two emphasized words next to each other in the documentation pane they show up without the blank space between them in the preview.

### Steps To Reproduce

1. Open the documentation pane for a request;
2. Type two emphasized words next to each other, separated by a blank space,

[2021-10-25 06:27] #10369 closed, assigned to nobody

[2021-10-25 13:11] zsoltbosco opened #10397 "Pause/Resume Monitor changes configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

There is an active monitor in my workspace with the setting 'Retry if run fails' -> 'Retry 2 times'.
If I go to the 'View more actions' (three dots) and choose 'Pause', then anytime later 'Resume' the monitor, the setting 'Retry if run fails' is cleared in the 'Edit' section.

The behavior

[2021-10-25 14:35] rscipher001 opened #10398 "Add an option to disable history sync"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Technically not related to a problem

### Describe the solution you'd like

It would be good if I can disable history syncing or history option completely, I don't want it and I don't need it but there is no way to pause it or co

[2021-10-26 07:48] patstrom opened #10399 "Websocket handshake body for non 101 responses"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

If the [WebSocket handshake fails then we are still using HTTP](https://datatracker.ietf.org/doc/html/rfc6455#section-1.3), which means that the server can respond with a status code and response body explaining why the handshake

[2021-10-26 11:08] ankitce opened #10400 "Postman Web Platform Shows Offline"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

https://web.postman.co/workspaces shows the user offline. Although, the user is online.

### Steps To Reproduce

Access the https://web.postman.co/workspaces after logging in. It shows 'you are offline' message.
There are some requests going to localhost domain by the postman web app. It is

[2021-10-26 15:57] vlad88sv opened #10401 "Import files (upload) in Kubuntu 21.10"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

`File -> Import -> Upload files` results in fonts being rendered incorrectly.

Note: file selector works fine in other apps.

### Steps To Reproduce

1. File
2. Import
3. Upload files

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/91489/138915680-4ae53a75-62e

[2021-10-26 22:15] nrmartell opened #10402 "New user SSO login flow and username generation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

At the moment when new users who don't have a Postman Account join a team via SSO, they would expect the username in Postman to be the one they use for SSO.

Right now we randomly generate the username for these users automatical

[2021-10-26 23:33] dragonfire2018 opened #10403 "Import Routes From Android Studio Retrofit Interface Files"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No.

### Describe the solution you'd like

Allow importing of routes with parameters from Android Studio Interface Files.

For example see routes like this

[code]

[code]

These routes should be importable by uploading the inter

[2021-10-27 11:03] #8506 closed, assigned to nobody

[2021-10-27 16:41] #8505 closed, assigned to chughmayank

[2021-10-27 16:42] #4772 closed, assigned to VShingala

[2021-10-27 16:44] #10068 closed, assigned to nobody

[2021-10-27 16:46] #10294 closed, assigned to nobody

[2021-10-27 16:50] #9936 closed, assigned to VShingala

[2021-10-27 16:53] #10251 closed, assigned to VShingala, chughmayank

[2021-10-27 19:03] #10386 closed, assigned to nobody

[2021-10-27 22:41] nanandn opened #10404 "Interceptor: Not sending cookies."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When interceptor is turned on, cookies are not set in the request. I am using postman version Version 9.1.2 (9.1.2) and interceptor chrome extension version 1.1.2.

### Steps To Reproduce

1. Enable cookie capture.
2. Add domain
3. Send request.

### Screenshots or Videos

_No response_

##

[2021-10-27 23:02] #10404 closed, assigned to nobody

[2021-10-28 08:11] #10396 closed, assigned to postman-staff

[2021-10-28 09:05] Ciloe opened #10405 "GraphQl interfaces now can implement interfaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I past a graphql Schema, I have a error on implements. Postman say that implement can't be on interface.

**BUT**

Since the spec in October 2021, it's now possible :
https://spec.graphql.org/October2021/#sec-Interfaces
https://github.com/graphql/graphql-spec/blame/October2021/spec/Sec

[2021-10-28 09:19] #10334 closed, assigned to postman-staff

[2021-10-28 14:57] #4301 closed, assigned to a85, vkaegis

[2021-10-28 15:44] TridentTrue opened #10406 "Postman is unable to handle cookies with .local domain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When trying to set a cookie via the Set-Cookie response header, Postman will trim leading '.' characters from the domain field meaning the cookie does not work for subsequent requests. e.g. ".mywebsite.com" will become "mywebsite.com"

Additionally, when trying to set a cookie manually in t

[2021-10-28 17:10] cdanielsen opened #10407 "[Feature Request] - Allow syncing to private GHE instance & reading environment variables from local file system"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

**Problem** I find Postman very valuable, but I find the collaboration features lacking for two key reasons. Like most software developers, I work on a team of several other devs, in an organization made up of several teams. It w

[2021-10-29 12:02] rscipher001 opened #10408 "App being literally useless in slow connections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

It only shows unable to fetch data and shows Sign Out button

### Steps To Reproduce

Open app in slow internet connection or open with moderate connection when some large high speed file download is going on

### Screenshots or Videos

![Screenshot_20211029_172547](https://user-images.gith

[2021-10-29 12:49] obroomhall opened #10409 "Make request default submit method configurable (`Send` or `Send and Download` by default)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

I would like to be able to configure whether to `Send` or `Send and Download` per request, so that my selected option remains after export/import of a collection.

### Describe alternativ

[2021-10-29 13:06] KeenJelly opened #10410 "Postman runner crashes with large runs - Mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When running large test runs (2000+ iterations) postman will always crash. This seems to be a memory issue, as the memory use as reported by activity monitor will balloon up to 4gb, then the application will crash.

### Steps To Reproduce

1. Create a request using variables
2. create a csv

[2021-10-29 23:28] Sebaroni commented on #10231
Hi, @Raja-Simha . Sorry it took me a while to reply: basically what @kago-dk and @gerhardvr-finclude said above: the development team generates OAS3 files as part of the API development process and these files are the source of truth, in a way, so I want to port these files to Postman to automatically generate the documentation for our public APIs. However, Postman does not automatically render bo

[2021-10-30 00:54] apozeus opened #10411 "OpenAPI 3.0 schema validation runs only once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Upon making collection request, schema validation issues only show on first run. Subsequent requests will not show any issue.
Need to restart postman for issues to show again.

### Steps To Reproduce

1. Generate collection with API definition (OpenAPI 3.0, yaml).
2. Run request
3. Validati

[2021-10-30 01:06] apozeus commented on #10411
Postman 9.1.1 does not have this issue.

[2021-10-30 09:16] gareth41 commented on #10189
I would like exactly the same, to use the certificates configured for HTTP requests for Websocket requests also

[2021-10-30 14:30] xar3f commented on #3774
this article and solution save me in 2021.

[2021-10-30 17:48] cipherwizard9 commented on #10179
@VShingala,

Thank you for the update. Now I am able to import WSDL. But as you mentioned in the above comment, there is still an issue when we have multiple nested XSDs.

[2021-10-30 19:33] vivekmittal commented on #10338
+1

[2021-10-30 20:19] Lardpower commented on #2801
Would be great to use protobuf in Postman!

[2021-10-31 07:09] Aniwesh-0904 commented on #10409
Please assign this work to me.

[2021-10-31 09:20] abhinavg267 commented on #10030
Is there any update for this issue?

[2021-10-31 10:29] KarimMaged97 commented on #8322
@vvs11
Hello, Anything new about the "GraphQL Beautify" feature?
We all will be so appreciated if you can manage to do it ^^
Thanks in advance.

[2021-11-01 06:14] stefania-santimbrean commented on #10280
I am also looking forward to integration with DevOps Repos (cloud in my case). Do you happen to have an approximate timeline/release date for when it's going to be available?

[2021-11-01 07:10] NikoFarrelly commented on #9021
+1

[2021-11-01 09:56] superboyiii commented on #10338
https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/
See here. It's a dependency issue. Please update your OS dependency to the latest, then make POST or GET to the server with `DST Root CA X3`

[2021-11-01 11:58] xaamt commented on #9488
like a shart pencil in the a s s.

[2021-11-01 12:32] joshjo opened #10412 "Lost all my request endpoints on changing folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I had all my endpoints inside one folder. Then I decided to organize them and create some folders. I moved the endpoints to different folders and start using them, they worked normally. Today I open Postman, and all the endpoints I moved to new folders were gone. The tabs were open saying t

[2021-11-01 14:27] timbochamp commented on #10382
This should now be resolved on the latest Postman for Web and on the app v9.1.3 with no duplicate console logs appearing as a result of having multiple Postman Flows tabs open!

[2021-11-01 14:27] #10382 closed, assigned to giridharvc7

[2021-11-01 15:04] feeeei commented on #10068
@VShingala Thx very much

[2021-11-01 16:56] Fydon opened #10413 "Latest Canary is a major version behind Stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The latest Canary release for Windows 10 is v8.12.0-canary210820-1135. The latest Canary download for all platforms is at most v8.10.0. The latest stable download is v8.12.5, but it updates to v9.1.3. Has Canary been abandoned? If not, would it be possible to have it updated to at least the

[2021-11-01 17:14] R-Lamberson opened #10414 "New Integration Request - Azure DevOps Git integration"
### Describe your current workflow

we use azure devops git repos as our primary code repositories

as part of the code storage we hold the api specifications in the repository in a folder structure as outline below

source
-- domain a
---- version
------ api-spec
-------- file name
-- domain b
---- version
------ api-spec
-------- file name
-- domain c
---- version
------ api-spec
-------- file n

[2021-11-01 18:52] bmckinle commented on #9769
Export collection appears broken in 9.1.3.  This is not fixed, apparently.

[2021-11-01 19:01] bmckinle opened #10415 "Export collection version to filesystem fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Previous related issue closed.

Export collection appears broken in 9.1.3. This is not fixed, apparently. Collection ... -> Export gives choice of export v2 or v2.1 (recommended). Selecting 2.1, as I've always done for over a year now, no longer results in a pop-up to select an output file

[2021-11-01 19:07] DannyDainton commented on #9769
Hey @bmckinle

Does this still happen after closing and reopening the app?

On occasions the file explorer has opened behind the app, could you do a quick check to see if that's happening.

As for Newman, using the Postman API to get the most up to date Collection is a more efficient way of doing this, than exporting each time.

The Postman API URL to the collection can be used in the Newman comma

[2021-11-01 19:48] timbochamp commented on #10415
Thanks for reporting, @bmckinle ! I'm not able to reproduce this after upgrading to v9.1.3 on Catalina v10.15.7 with the file path to save window opening up when exporting a collection.

This sounds similar to #9750 with loss of functionality after upgrading. I'll log a bug and we'll investigate.

If this happens again, could you please send your logs to help@postman.com as per https://support.pos

[2021-11-01 21:54] graphei opened #10416 "GraphQL Introspection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have to also use Insomnia to get GraphQL Schema Documentation.

### Describe the solution you'd like

Add Introspection schema fetching.

[2021-11-02 00:07] bmckinle commented on #10415
Sure

On Mon, Nov 1, 2021, 2:48 PM Tim Beauchamp ***@***.***> wrote:

[2021-11-02 00:08] bmckinle commented on #9769
Checked for hidden windows but found none.  After reboot, the problem
resolved.

On Mon, Nov 1, 2021, 2:07 PM Danny Dainton ***@***.***> wrote:

[2021-11-02 05:52] shashankawasthi88 commented on #10414
@R-Lamberson thanks for raising this request. We are tracking the Azure DevOps Git request [here](https://github.com/postmanlabs/postman-app-support/issues/10280). Please follow the thread and also comment if your repository is cloud-hosted or self-hosted.

[2021-11-02 05:52] shashankawasthi88 commented on #10414
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/10280

[2021-11-02 05:52] #10414 closed, assigned to abhijitkane

[2021-11-02 06:08] shashankawasthi88 commented on #9021
@NikoFarrelly @brandonmlusk @bengaudiosi-toast @Boffice - [Proxy](https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/) should be able to capture the requests from Firefox. Any particular reason why we prefer Interceptor over proxy or is it just the ease of configuration?

[2021-11-02 08:19] kszafran commented on #10277
After investigating this problem, it seems that it only happens if we PUT on the same collection multiple times concurrently. While the Postman team is working on this, I have modified our CI pipeline to prevent such concurrent updates.

[2021-11-02 12:48] SajjadArifGul commented on #3438
we need this feature ASAP

[2021-11-02 13:57] kavdiev commented on #5502
in my case i would like to override the value of header "User-Agent"  to have PostmanRuntime/{{loged_user}}
fo in my logs i can easily make a distinction between my calls and from others tester.
thanks

[2021-11-02 16:55] R-Lamberson commented on #10280
MS Azure DevOps cloud hosted

[2021-11-02 17:38] scottashipp commented on #6134
Arrived here by looking for the same feature in Postman support site. Count me as an additional vote

[2021-11-02 18:15] giridharvc7 commented on #10398
@SecureSnowball Can you help us understand why you need this feature?

[2021-11-02 18:17] giridharvc7 commented on #10391
Duplicate of #3360 . Closing this here to track it there.

[2021-11-02 18:17] #10391 closed, assigned to giridharvc7, malvikach

[2021-11-02 18:20] giridharvc7 commented on #10387
@Mortagne
Have you tried using variables? More info here https://learning.postman.com/docs/sending-requests/variables/

[2021-11-02 18:29] giridharvc7 commented on #9409
@stringy05 you can leave `client_secret` blank and we wont add this as a key to the OAuth request

[2021-11-03 03:16] fishcharlie commented on #9346
Is https://dl.pstmn.io/download/version/9.0.7/osx_arm64 that @twitharshil linked a stable version? When going to https://www.postman.com/downloads/?utm_source=postman-home it downloads a 8.12.5 version that isn't Apple Silicon native.

[2021-11-03 08:39] postman-support commented on #10412
Hi @joshjo,

We are unable to replicate the issue from our end. May I request you to please update the app to the latest version and let me know if this is still an issue?  Also, can you navigate to the web version- https://go.postman.co/ and check if it's working as expected? Thanks!

via @ash007-postman | Postman Support

[2021-11-03 09:38] cirelli94 commented on #6928
@giridharvc7 I usually import my API from an OpenAPI specification file.
While I import them I have all checkboxes enabled, but I usually don't need all query params enabled together because they filter data, I often don't need any of them, but the default value is enabled!

So I'd like to have a checkbox in the header of the query params as draw by @AstroARTY  with this possible values:
![image](

[2021-11-03 09:43] ahmadelmalah commented on #3694
Yeah, it's a missing feature!

[2021-11-03 09:46] hlmd opened #10417 "The New Editor style is bad in the Documention description editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The New Editor style is bad in the Documention description editor.

### Steps To Reproduce

1. Switch to Scratch Pad
2. Open an existing Collection|folder|request
3. Open the Documentation on the right sidebar
4. Clieck the Edit icon to Edit description
5. Use the New editor

### Screenshot

[2021-11-03 11:09] Boffice commented on #9021
@shashankawasthi88 Proxy is an amazing tool for use cases were you need to work on request sent by various apps, but in my case i need browser traffic only and :

⌃
 That, and also:

1. There is no way to filter browser traffic, "URL must contain" is not good idea when i want to check all the traffic sent from browser.
2. I simply do not need all the traffic to be routed to postman.
3. I have to r

[2021-11-03 12:40] TienBui1996 commented on #5384
I tried adding query parameter as number value and Postman sends that value as string value. How do I can add query parameter as number value?

[2021-11-03 14:12] dsverdlo commented on #4671
I'm not sorry for leaving a +1 comment.
With multiple collections containings multiple requests, it takes forever to save all the changes.

If the argument is "could lead to conflicts", just make it an option in the settings for those who want to save all their work in one go.

Please consider picking up this feature request again.

[2021-11-03 15:33] stlr00 commented on #2701
2021 november its funny now

[2021-11-03 16:49] nstekelenburg commented on #10284
Hi @postman-support,

Sorry for not responding so long. It has been a bit hectic around here.
The problem is still not solved on our side, but because we are still able to use version 8.11.1 we can still continue working.
We found out that in can possibly be a problem on our side. Maybe one of our firewalls is not allowing traffic from certain application to pass through. It is still strange that

[2021-11-03 16:52] jtabone16 commented on #1066
Almost worth $6B and can't implement the simplest and most standard feature...

[2021-11-03 19:33] siaalpha opened #10418 "New Integration Request - JIRA"
### Describe your current workflow

    Jira intergation - would like to be able to dump all postman runs to jira for reporting options

### Describe your ideal workflow

Jira intergation - would like to be able to dump all postman runs to jira for reporting options

### Describe alternatives you've considered

none

### Additional context

_No response_

[2021-11-03 20:55] arakis commented on #6999
I'm working with a metered connection too, and i the automatic minor updates are absolutly not acceptable. as @Stevemoretz  mentioned, you simply can block the download domains of postman, just add to your hosts file:

0.0.0.0         dl.pstmn.io
0.0.0.0         sync-v3.getpostman.com
0.0.0.0         getpostman.com
0.0.0.0         go.pstmn.io

As you see, this is not a nice way, and have disadvant

[2021-11-04 04:22] shashankawasthi88 commented on #10418
@siaalpha can you expand your workflows a bit more? Do these runs happen in Postman? What information do you foresee being put into JIRA? How will that streamline your flows?
This would help us plan the Integration better.

[2021-11-04 07:39] YiXiaoCuoHuaiFenZi commented on #2701
any update for this feature?

[2021-11-04 08:08] AndreyBespamyatnov commented on #2701
Do you still believe? really? Just start using something else, like insomnia or VS code.

[2021-11-04 08:45] TomDeVlaminck commented on #8038
Our company uses a strict security policy, only NTLMv2 is allowed, so we are not able to use Postman for dev / uat / prod environment. Any update when this will be supported? It can't be that difficult?

[2021-11-04 11:01] tmcentee commented on #8433
This isn't the most ideal solution but I just resolved this same issue for myself by manually ordering the requests within the collection folders. That way, when I go to run a collection's tests, they're already in the order I want. We also leverage local variables to persist generated IDs along the way (for basic CRUD flow testing).

Caveat: We have separate collections for pure API tests versus

[2021-11-04 13:15] hlemmur commented on #5194
+100

[2021-11-04 14:15] ibajrami commented on #2833
Still happening in November 2021. Opened Slack on my second monitor at work and was unable to get it back on my screen when I got back home, I solved it by plugging a second monitor and move it back to the main screen and then unplug the second monitor.

[2021-11-04 16:00] pmathur21 opened #10419 "Postman email alert does not work for Distribution list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

when setting up the monitor for postman, the alerts do not send emails to a distribution list, but sends it for individual ids.

### Steps To Reproduce

1. create monitor for a collection
2. put DL in email alerts
3. run monitor

### Screenshots or Videos

_No response_

### Environment Inf

[2021-11-04 16:05] Dmdv commented on #3518
The issue still persist on Mac OS BigSur

[2021-11-04 16:11] appcypher commented on #8195
Auto save. Duh.

[2021-11-04 18:47] andrewcarretta commented on #8231
Shocking that this is not implemented. +1 for this feature.

[2021-11-04 19:11] amishad02 commented on #9735
I was looking for similar feature which will really help will be great for CICD pipeline for filly Automation Postman Collection.

[2021-11-04 19:55] Kingy14 commented on #6782
Also having trouble importing a RAML file which references mock payloads in schema/example folders. Be great if this could be resolved. Looking at using Postman for our API testing.

[2021-11-05 01:19] qibaoyuan opened #10420 "duplicate request should contain all parameters!!"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

no

### Describe the solution you'd like

when duplicate an existed request, all params should be copied to the new one for saving time.

### Describe alternatives you've considered

when duplicate an existed request, all params

[2021-11-05 01:26] #10420 closed, assigned to nobody

[2021-11-05 01:34] postman-support commented on #10284
Hey @nstekelenburg,

Thanks for getting back to us!
Sure, please let us know how it goes!

In case the issue still persists even after troubleshooting by your IT team, please submit a support request from the following link so that we can look into this more closely by analysing logs etc:
https://support.postman.com/hc/en-us/requests/new

In the request, please mention this GitHub issue number (ht

[2021-11-05 01:43] xk0der commented on #10419
Hey @pmathur21  👋  make sure the Distribution-List alias is externally available. You should be able to test this by sending an email from your personal email ID to the DL. If that doesn't work, you would need your IT team to enable it to accept emails from external sources.

If the DL is externally available and is accepting emails from external sources, do raise a ticket with us here: https://po

[2021-11-05 01:51] gcsizmadia commented on #2751
Is there any progress regarding this?
Currently I copy the JSON response to Visual Studio to get its properties sorted.
It would be really great if sorting properties was available inside Postman.

[2021-11-05 04:30] jtc267 commented on #1066
+1

[2021-11-05 07:58] antoniovivalda commented on #1066
It's over 6 years this feature is requested..  I'm using the proxy to capture requests and perform regression tests, dozens I've to move one by one, thanks

[2021-11-05 10:39] SRJ1324 commented on #2849
HI There,
How can we achieve certification authentication through scripting in Postman?

[2021-11-05 12:53] edegaudenzi commented on #9072
Currently running Postman 9.1.3 on Windows10. It happened to me exactly the same, and actually, it comes grey after a few seconds. Your offline workaround still works but I also needed, in those few seconds that Postman allowed me to run before the grey screen, to 'Sign out' from my Postman account (orange astronaut icon -> Sign Out)

So far, on Linux (Xubuntu 18.04) it does not give any problem.

[2021-11-05 14:30] br-tyler-milner opened #10421 "API changelog not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The API changelog is not working. When trying to load or refresh it, I get a `There was a problem loading the changelog` error (see attached screenshot and video).

![image](https://user-images.githubusercontent.com/78233128/140526010-d84b1bd1-9d9e-4e21-b082-73af8eef1705.png)

In Postman fo

[2021-11-05 14:53] zoom-scott-sancetta opened #10422 "selecting a tab should not update the currently open collection/folder"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When I close a tab, a new tab gets selected.
When that happens, the collection/folder display opens up to that tab's location in the collection/folder hierarchy.
Usually I have opened to a particular place in the hierarchy on pur

[2021-11-05 16:18] insomniac12 commented on #10421
@br-tyler-milner Thanks for reporting the issue. Could you confirm the following -

1. Is it still happening?
2. Is it reproducible for multiple APIs or just this one?

Could you also share the API and API version id here or send them to help@getpostman.com?

[2021-11-05 17:09] br-tyler-milner commented on #10421
Yes, it is still happening for me. I first noticed it yesterday.

It is reproducible for multiple APIs across multiple workspaces. Here is the information for the Demo API that I just created that is having this issue:
https://bottlerocket.postman.co/workspace/Demo-Workspace~629eaa22-271b-4bf5-9eee-e3252c92dffe/api//version/

- API id: f6bfed83-b833-4a10-815b-60bf8cd02848
- Version id: 80dc6c82-e4

[2021-11-05 20:39] mitchell-garcia commented on #8231
+1 for this. It's a blocker for using OAuth 2.0 as an authorization type for any API Secured by Auth0 which is a bummer.

Postman is able to get the token it's just not accessible in request. `Access Token` value is taken, and there's no way to access it programmatically (i.e. `managedTokens.id_token`).

[2021-11-05 20:52] thedocbwarren commented on #9346
It can be updated as well to latest.  Brew needs an update but this is the latest.

[2021-11-06 10:37] vibs2006 commented on #10408
I'm also facing this issue. My Connection speed is even good but still getting this error in windows app!

![image](https://user-images.githubusercontent.com/18658498/140606658-b2c9dc72-a325-4197-bec9-1c7aae23303b.png)

My Platform is Windows 10 (Latest Microsoft Windows [Version 10.0.19043.1288])

[2021-11-07 14:15] tilney-Intelliflo-dev opened #10423 "Unable to open multiple tabs<<REPLACE WITH ISSUE TITLE>>"
-

[2021-11-07 14:16] #10423 closed, assigned to nobody

[2021-11-07 14:20] rjprmr opened #10424 "No longer able to open more tabs after viewing "Globals"."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I click to view "Globals", subsequent items in the collection tree only open in the same tab instead of opening in a new tab. This now prevents opening further tabs.

### Steps To Reproduce

1. Navigate to "Globals" in the "Environments" section and click to view, should open in a new

[2021-11-07 15:09] YahyaOukharta commented on #4671
Come on, give the people what they want !

[2021-11-08 05:36] walfridosp commented on #5326
+1

[2021-11-08 08:36] AliRehman7141 commented on #4977
I'm facing this on the latest version of postman

![Screenshot 2021-11-08 at 1 35 18 PM](https://user-images.githubusercontent.com/33172988/140709631-ed0828a1-2867-4341-aab0-909a3b41d341.png)
n

[2021-11-08 09:52] TamasSzalisznyi commented on #9544
+1, it was a massive load test performed by postman really well, but logs are still coming, even more than an hour ago the test are finished.

https://user-images.githubusercontent.com/55410553/140720835-9b93aedc-4c9a-4a43-ab0d-6bfecd499c73.mp4

[2021-11-08 11:42] shashankawasthi88 commented on #9021
Hi @Boffice thanks for a detailed reply. While we address the issues that you pointed out, there is a way for you to get only the browser traffic in Postman via proxy.
Firefox allows you to set a proxy host/ port just at the browser level, that ways only the browser traffic goes through Postman and not the traffic from other applications in the system.

[2021-11-08 14:57] eap-nutanix opened #10425 ""Save Response" seems to ignore case of filename in specific conditions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When trying to save a from "Save Response", Postman seems to ignore case, at least when the first letter is uppercase.

### Steps To Reproduce

1. Send a HTTP command that generates some output
2. Use Save Response -> Save to file with filename "True.json"
3. Use Save Response -> Save to fi