[2017-02-06 20:25] hlubovac commented on #166
Any ETA?

[2017-02-06 21:14] tariqghalib opened #2679 "[Feature Request] - Ability to add pre-execution delay to individual requests"
**Description:**
Currently we have ability to add delay to a folder, that puts a delay between each request for a complete folder for that collection run. It would be nice to have the ability to add a permanent delay to individual requests in a folder.

**Version/App Information:**

 1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Windows professional x64
 4.

[2017-02-06 22:59] cnsdjy1212 opened #2680 "www"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-02-07 07:36] #2680 closed, assigned to nobody

[2017-02-07 08:03] vegetableman commented on #2674
@pintux Imported the swagger through `Import File`, `Import From Link` and by pasting Raw text on `Paste Raw Text` on the import dialog. In all the cases, the issue was not reproducible. Could you elaborate more?

[2017-02-07 08:59] 5yx opened #2681 "Postman to code headers case"
Version/App Information:
 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome 55.0.2883.87
 3. OS details: win / x86-64
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: seems like always
 6. Expected behavior: right headers

when converting Postman requests to code, it sets http headers to _lowercase_ style,

[2017-02-07 10:01] ghost commented on #2013
Same here. I don't want to sync as the data can be confidential. A way to set a password for and use it to encrypt at the client side before syncing would be ideal. Or you could provide some container (part of postman enterprise or something) which I can put on a private cloud, point the URL to sync it?

[2017-02-07 10:11] cnsdjy1212 opened #2682 "gg"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-02-07 10:21] #2682 closed, assigned to nobody

[2017-02-07 11:46] SamvelRaja commented on #2530
@solody
We found the issue and fixed the same from our end, just cross check the same, attaching the gif before and after the fix.
![chinese_old](https://cloud.githubusercontent.com/assets/5114052/22689677/ffa032dc-ed57-11e6-9059-a7a54e246df7.gif)
![chinese_new](https://cloud.githubusercontent.com/assets/5114052/22689923/21c13b44-ed59-11e6-8ca6-9516f31cd0e8.gif)

[2017-02-07 16:58] blilienthal opened #2683 "Environment variable converts '~' when using the Runner"
Hello Postman team!

Sometimes the `~` (tilde) in an environment variable changes to a combination of letters `\x7e`.
Seemes to me, that it occurs while syncing.

I changed it back to '~' several times, but it happens almost every second day.

 1. Postman Version: v4.9.3
 2. App (Chrome app or Mac app): Linux
 3. OS details: OpenSuse
 4. Is the Interceptor on and enabled in the app: ?
 5. Did you

[2017-02-07 18:59] manas-mukherjee opened #2684 "Intuit's QBO API Collection is not working in the Collection-Runner"
Hello,

Intuit's QBO collection which uses with OAuth1 tokens is not working in 'Collection Runner'. When we try individual call then it works in the expected way.

1. Postman Version: Version 4.9.3 (4.9.3)
2. App : Mac

1. Postman Version:Version 4.9.3 (4.9.3)
 2. App (Chrome app or Mac app): Mac
 3. OS details: OS X 10.9
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter

[2017-02-07 21:40] mhertogs commented on #2517
@SamvelRaja The canary link you gave does solve my encoding problem when using Postman directly (I am using OSX). However, when I generate cURL requests, it seems you are URL encoding in the actual URL path as well which is messing up our REST resource paths.

Example: /v1/phones/+19998887777 becomes /v1/phones/%2B19998887777

According to RFC 1738:
"Thus, only alphanumerics, the special character

[2017-02-08 03:09] SamvelRaja commented on #2517
@mhertogs Thanks for your valuable feedback on the canary app.
Right now  i came to the fact that + needs to be encoded in the path of the URL in cURL code generator as %2B and it needs to be either encoded as %20 or left as it is as + in the query params.  I will keep the issue open for further discussions and ideas from the users and community.

[2017-02-08 06:13] Emmachen commented on #1263
Looking forward to see this function rolled out to chrome, I'm using Postman 4.9.2, and can't right click on the delete icon

[2017-02-08 08:34] sdnts commented on #2683
@blilienthal Thanks for reporting this. We're aware of this, and this appears to happen when you sync back environments from the Collection Runner. The fix is ready, and we'll push it out with our next release, which should be relatively soon. Will keep you informed here.

[2017-02-08 08:40] sdnts commented on #1228
Work on making cookies manageable from pre-request / test scripts is underway, I'll let you guys know here when we have something :)

[2017-02-08 08:44] sdnts commented on #2676
@samudurand That's a good idea. I'm adding this as a feature request :)

[2017-02-08 08:46] sdnts commented on #2013
Guys, client side encryption is on our radar. I'll let you guys know here when we have something

[2017-02-08 09:44] sdnts commented on #2372
@nmaxcom The original request was for requests that are saved in a collection. We currently do not store responses for history requests, but I'll add this as a feature request.
If you find yourself visiting the same URL a lot of times, you should consider making a collection and saving a response to it. I'm linking docs for [collections](https://www.getpostman.com/docs/collections) & [saved respon

[2017-02-08 12:52] joaquin-becerra commented on #283
In Magento you need this two parameters to get the tokens to use the rest API.

Is very important!

I can insert the oauth_callback in the Oauth header an it work, but when I do the same with the oauth_verifier the sign seems to be broken

[2017-02-08 13:13] polimreis commented on #2668
It doesn't occur in chrome version , because chrome version is on 4.9.2 , and as I told, This start happen on 4.9.3 version

[2017-02-08 13:13] polimreis commented on #2669
It doesn't occur in chrome version , because chrome version is on 4.9.2 ,
and as I told, This start happen on 4.9.3 version.

2017-02-02 16:10 GMT-02:00 walterfawcett <notifications@github.com>:

--

[]'s
Poliana Reis

[2017-02-08 14:17] hamid-elaosta commented on #2538
@SamvelRaja Apologies for the delay, just finally had the chance to test and I can confirm it's fixed in the canary build you linked.

[2017-02-08 15:37] dhiva opened #2685 "[Feature Request] - Ability to add description to individual variables and parameters."
I would like to add individual description to the parameters of the request and display those description as part of the docs against each parameters. In certain scenarios the query parameters are not self explanatory and I want to add further description to explain the purpose of the parameter. The V2 JSON Schema supports description attribute for query parameters but there is no way to add these

[2017-02-08 17:00] cgamache commented on #2637
Temporary workaround to clear all OAuth2 tokens (for the Chrome App at least):

In chrome
visit **chrome://inspect/#extensions**
click `inspect` under Postman
find the `Application` tab
expand IndexedDB -> postman -> oauth2_access_tokens
right-click -> Clear
restart

If you know how to use IndexedDB you'll know how to be more targeted with your deletes.

HTH!

[2017-02-08 17:02] dalejbrittain opened #2686 "Postman Chrome App crashes and will not launch: Windows 7"
Postman Chrome App will not launch any more.

I have been using the Postman Extension to chrome for over a year and recently it stopped launching.

Unfortunately, I have not been using Syncing feature so I have a few hundred calls and dozens of collections that I am hoping not to loose.

Version/App Information:
-->
 1. Postman Version: 4.9.2
 2. Chrome App
 3. OS details: **Windows 7**
 4. Is the

[2017-02-08 18:25] cappslock opened #2687 "Can't import this file, no useful error message"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: file imports
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for th

[2017-02-08 20:49] rzizza opened #2688 "Native Windows App 4.9.3 Collection Runner inserts old login cookie with new one, causes 400 Bad Request and all requests stop"
**Postman Version:** 4.9.3, win32 6.1.7601 / x64
 **App:** Windows Native Client
 **OS details:** Windows 7 Enterprise

I am running a Collection that includes a Login Request.

**When I run this request in the **_Postman Window_**:**
It creates a session cookie, which I can view in the "Cookies" (found under "Save"). If I send a Log Out Request, this session cookie is removed.
If I send a Login R

[2017-02-08 21:01] devjamie commented on #2214
I'm having this issue too 4.9.3

[2017-02-09 00:40] stevemcmillen commented on #1441
Yup. I'm on postman 4.9.3 and its been a few weeks since I used this API but now seems that Content-Length is not added to the request.  Specifically if Body is "binary" then POSTMan not adding Content-Length as it should.

Note: As workaround, get the curl command from postman and where it has -d '', change to -d '@<path to your file>'

[2017-02-09 06:15] sdnts commented on #2685
@dhiva Thanks for the request! This is actually on our roadmap, I'll keep you informed if its progress here.

[2017-02-09 07:32] adkathuria opened #2689 "Add configuration to disable temporary headers"
I see the response headers as Content-Encoding: gzip even without specifying the Accept-Encoding: gzip as the input. Is it the Chrome code that inserts the header "Accept-Encoding: gzip" during the request?

[2017-02-09 10:44] pintux commented on #2674
@vegetableman Please, try importing the swagger from this URL: https://m3.vivocha.com/a/antonio/api/v2/swagger.json

Again, I'm experiencing the same error. Thanks.

[2017-02-09 13:16] sdnts commented on #2684
@uno19 From your screenshot, I see that your request tab is dirty. Is your auth helper saved with the request? Can you try saving the request and retrying?

[2017-02-09 13:31] gswilcox01 commented on #285
+1 would love to have an option to ALWAYS prompt for password, or to atleast NEVER store password in a collection or saved postman data

[2017-02-09 14:59] NinnOgTonic opened #2690 "Multipart form-data content type is incorrectly encoded in Postman"
1. Postman Version:4.9.2 OS X / x86-64 Chrome 56.0.2924.87
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: macOS Sierra
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Probably always
 6. Expected behaviour: Use correct multipart/form-data header when posting form-data
 7. Console logs: Not relevant
 8. Screen

[2017-02-09 16:25] dalejbrittain commented on #2686
After creating this ticket, I also emailed help@getpostman.com and got a the following response:

Hi Brittain,
Postman stores all its data locally in an application-specific indexedDB file. You could go to the url: chrome://indexeddb-internals, search for the text "chrome-extension://fhbjgbiflinjbdggehcddcbncdddomop" and copy the files listed out under paths for the extension, and move them back i

[2017-02-09 16:43] dalejbrittain commented on #2686
My first thought to fix the crash problem was that I should just remove Postman and add it back. But I didn't do so because I didn't want to loose my collections. At the time I was not able to back up them up and without knowing the location where they are stored locally I was stuck.

In the above response Vignesh, shows the location, this was very helpful, because I was concerned about loosing my

[2017-02-09 16:44] #2686 closed, assigned to nobody

[2017-02-09 17:42] xmeng1 opened #2691 "Is there any method to export a collection from postman by using the command line tool(such as Linux bash shell script)?"
Feature enquire

Is there any method to export a collection from postman by using the command line tool(such as Linux bash shell script)?

[2017-02-09 18:19] dlopuch commented on #882
+1

[2017-02-09 19:44] Ofer-Gal opened #2692 "Please Add a feature to pre populate headers to new requests"
A feature to pre populate headers to new requests would be a time saver to most of us.
Numaan Ashraf (Postman) wrote:
There are plans to add collection/folder-level features that would allow all the requests under the said collection/folder to have the same format.

But I would like this option to be available before I save a request in a folder or collection.

Thanks in advance

[2017-02-09 20:13] dlopuch commented on #882
Here's a kludge template I've developed that works until this feature is supported.  The kludge design goals are:

1) Have shared functions accessible to entire test suite defined in one place
2) Minimize the amount of initialization and typing per-test

The general idea is since functions put into global vars are stringified, you can define all your helpers inside a single auto-executing closure

[2017-02-09 22:07] ozarka30 opened #2693 "Test Results repeated for all posts in collection in Collection Runner"
1. Postman Version: 4.92
 2. App (Chrome app or Mac app): Desktop
 3. OS details: Windows
 4. Is the Interceptor on and enabled in the app: Enabled
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behavior: Results should show the correct tests per call
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postma

[2017-02-10 03:04] bluesky139 commented on #1263
Even right click is not work on chrome, I think a normal button or menu item could be added, so chrome users can also use this function too.

[2017-02-10 05:28] scenage opened #2694 "[Feature Request] - Nested json driving variables in the body section of a request"
Version/App Information:
 1. Postman Version: v4.9.3 Pro version
 2. App (Chrome app or Mac app): Windows client
 3. OS details: Windows 10

Currently, I'm trying to data drive a fair amount of requests; for POST requests particularly in the body using json. Now, with a flat structure (no nesting) it works perfectly fine. However, if I'm calling multiple requests in a collection, from a json point

[2017-02-10 06:35] nmaxcom commented on #2372
I'll definitely wait for that feature, as the design stands right now it doesn't make much sense without it.

Thanks.

[2017-02-10 06:38] skhatei opened #2695 "Add support to fetch specific user required information output from large api response."
It would be better if postman can provide selective rendering of response on the app/ support to filter out the data or a set of data that a user is looking for from api response which displays a huge amount of data.
At present its not that friendly to filter the contents one by one since sometimes the data are related to each other and to verify and relate them i need to copying them in notepad a

[2017-02-10 07:07] vegetableman commented on #2674
Thanks for sharing the link @pintux. Will get back to you with more details.

[2017-02-10 07:38] mikehedman commented on #1996
I have noticed this for quite some time.  Postman is very often the most active app running on my Mac (even when I haven't touched it for hours).

![image](https://cloud.githubusercontent.com/assets/1550290/22818212/ccb2d3dc-ef20-11e6-9c32-f0c8190bfa4f.png)

That screenshot is pretty common for me.  I used Postman for a few minutes earlier in the day, but hours later it's still chugging along at 1

[2017-02-10 08:50] sdnts commented on #2691
@xmeng1 Postman's app doesn't have a CLI export method, but you could take a look at [postman-collection](https://github.com/postmanlabs/postman-collection). Could you elaborate a little about what you're trying to do?

[2017-02-10 09:00] sdnts commented on #2679
@tariqghalib Just to make sure I understood this request correctly, do you mean separate delay values for each request in a collection when you run a collection?

[2017-02-10 09:26] sdnts commented on #1831
@mchavarriae Which URL are you using? You can leave out sensitive info from it, I'm only interested in the overall URL structure.

[2017-02-10 09:31] sdnts commented on #1850
@alecemckinley Im pretty sure I misunderstood, but I can see the urlencoded parameters in the `payload` variable on line 7. Is this not what you expect?

[2017-02-10 09:32] sdnts commented on #2668
@polimreis Thanks for reporting this, I'm taking a look at this. Will report here when I make progress :)

[2017-02-10 09:40] sdnts commented on #2666
@maciekdragan The native apps are built on top of [Postman Runtime](https://github.com/postmanlabs/postman-runtime). We're looking into what might be causing your problem.

[2017-02-10 10:21] xmeng1 commented on #2691
OK thank, I will check this SDK.

According to my research on the JSON of the collection, I found that the collection JSON download by my API key (JSON-Remote) is different with the JSON export from the Packaged App (JSON-Local).

Apart from the size of files (JSON-Remote > JSON-Local, such as my collection: 6M>1M), the value of `file` key is also different. In JSON-Remote, the value of `src` of t

[2017-02-10 10:28] sdnts commented on #2671
@chrisiek Glad to hear you like the app!
The Postman native app is built on top Electron, with the view layer written in React. Some parts use Redux for data management, while others use good ol' Backbone :D

[2017-02-10 10:28] #2671 closed, assigned to nobody

[2017-02-10 10:52] sdnts commented on #2665
@s20307 We've made some changes to the input editor that should fix your issue as well. The fix will go out with 4.10, I'll let you know here when it is out.

[2017-02-10 10:56] sdnts commented on #2667
@macro-dadt Since the data reaches the server properly, I'd recommend looking at your server code to figure out why a parse is failing.

[2017-02-10 10:56] #2667 closed, assigned to nobody

[2017-02-10 14:13] bcodermicro commented on #2316
I second this ability...

[2017-02-10 15:05] xi-ao opened #2696 "Invalid OAuth 1.0 signature with Postman 4.9.3 on Linux"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Linux
 3. OS details: Archlinux x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Only on 4.9.3

Postman 4.9.3 seems to generate an invalid OAuth 1.0 signature.
Tested with an empty GET and POST request, with just OAuth fields filled in.
Same values in the Chrom

[2017-02-10 17:16] tariqghalib commented on #2679
@madebysid Yes thats correct! I think that will be a very handy feature to make each test independent and will be helpful for runner performance by only adding delays where required. Also, will save an effort to add delay separately to individual requests (which BTW hangs postman windows client a lot, if we use JS sleep or wait)

[2017-02-10 20:26] darl0026 opened #2697 "Windows Authentication Broken"
Postman for Windows
Version 4.9.3
win32 6.1.7601 / x64

Windows authentication no longer works in this version.  When i make a call in chrome it works, but the same url does not work in Postman because the authentication is broken.  This was not the case in previous versions

[2017-02-10 21:15] coreyog commented on #482
I'm pretty sure this should be reopened.

I've added certs in every way I can imagine and postman simply doesn't work with them.

I've added PEM certs, DER certs, PFX files, and PEM cert/key in the same file and all I get is `400 The SSL certificate error` from Nginx. I know the certs are set up properly because Fiddler can point to the exact same files (DER+key or PEM+key, doesn't matter) and wor

[2017-02-10 21:16] airs0urce commented on #2214
This is what I see in console when get that error:
https://dl.dropboxusercontent.com/u/1875424/Screen%20Shot%202017-02-11%20at%2012.08.10%20AM.png

I have same error when I send request from node.js application written by me.
I suppose Postman uses node.js too.
In my app I have a little more debug information, and I see "HPE_INVALID_CONSTANT":

which means there is issue with parsing response. May

[2017-02-10 21:55] dlopuch opened #2698 "Ability to mark test as "skipped""
Test runners typically have three outcomes of a test: passed, failed, and skipped.

The "Skipped" state is typically used to mark partial/incomplete tests or tests that are currently failing but the failure shouldn't stop your CI system from marking the entire thing as failure. The key idea though is the "Skip" still shows up in your test report, so in a lot of workflows, the report line item acts

[2017-02-11 05:05] a85 commented on #482
@coreyog We are looking into this. We have a big release planned around authentication options.

[2017-02-11 05:07] a85 commented on #1263
All: I'd request you to move to native apps. Google will close off the Chrome app platform soon and hence we are focusing our efforts on native apps.

[2017-02-11 05:08] a85 commented on #1785
@vkaegis Can we have the new icon please! :)

[2017-02-11 05:08] a85 commented on #2426
Available in 4.9.3!

[2017-02-11 05:10] a85 commented on #2566
@czardoz Valid bug?

[2017-02-12 06:58] Chobicus commented on #2214
Postman's response is confusing.
I was getting no response because I had one of the header names with quotes.
Postman would respond with:

The console output is:

Header name must be a valid HTTP Token [""Invheader""]

[2017-02-12 07:08] dewdad opened #2699 "Environment variables not falling back to global variable values on pre-request script"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Yes in the past few weeks
 6. Expected behaviour: getEnvironmentVariable("APPNAME") should use global value from global variable of the same name when not defined for a selected

[2017-02-12 09:58] jensraaby opened #2700 "Load Client certificates from macOS keychain"
Since version 4.6 (IIRC) we've had to manually supply the CRT/KEY files for client SSL authentication. This previously used the MacOS keychain, which is still used in the Chrome app.

I work in an organisation that uses client certs for virtually every web API, and I like to access these through Postman. Unfortunately, the Postman desktop app has now become impractical to use because I manually ha

[2017-02-12 18:42] citizenrich opened #2701 "HTTP/2 support"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac
 3. OS details: 10.12.3
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: HTTP2

[2017-02-12 22:55] oferze commented on #1137
All of you writing +1 haven't obviously read [this comment](https://github.com/postmanlabs/postman-app-support/issues/1137#issuecomment-250112777)...

[2017-02-13 00:51] stevemcmillen commented on #1159
@madebysid, Thanks. I got it working.

[2017-02-13 07:06] sdnts commented on #2697
@darl0026 Which auth spec are you using? (Basic, Digest etc.)
Also, could you elaborate a little on what seems broken? Is it the signature?

[2017-02-13 07:21] sdnts commented on #2214
The native Postman apps do run on a NodeJS sandbox, so that could be a possibility.
@Chobicus @airs0urce Is this misbehaviour only observed with `localhost` and not `127.0.0.1`?

[2017-02-13 07:29] sdnts commented on #2699
@dewdad I'm not able to reproduce this on the Chrome App.

Here's my pre-request script:
[code]

Can you open up the environment preview tooltip (the eye icon next to the environment name) and see if you can see your global variable there? Can you also make sure it isn't being overridden? (Overridden global variables are struck through)

Can you reliably reproduce this?

[2017-02-13 08:27] sdnts commented on #2691
@xmeng1 Which version of the app are you on? This used to be an issue with an older version, but we've fixed this since.
Can you try updating to the latest version of the app and retrying?

[2017-02-13 08:42] sdnts commented on #2693
@ozarka30 I'm unable to reproduce this in the Chrome app. Would it be possible for you to share your collection (not your environment) with help@getpostman.com? If not, can you make a little dummy collection that I can reproduce this with?

This is very weird. Do you have multiple requests with the same name that might give the illusion that the tests are being shared?

[2017-02-13 09:25] sdnts commented on #2692
@Ofer-Gal You can also make use of Header presets.
To do so, head over to the `Headers` tab and click on the dropdown to the right that says `Presets`.

[2017-02-13 11:08] sunill-yadav commented on #1966
I am running Postman collection through #newman using #VSTS build. I created #multiple collections for set of APIs as per functionality and thinking to run them all at a time and also running them individual when ever any of them get failed.

I am using postman v4.9.3, Is there any way to #run multiple collections?
Even from #newman command line?

[2017-02-13 11:10] airs0urce commented on #2214
@madebysid It's not only on localhost. As I got an API (private), and saw there is "Parse Error" when I implemented that API in node.js. Then I decided to test it in Postman and saw same error. I also tried "Rested" HTTP client for macOS, and it returned response without issues. So, issue happens only in node.js and error message is "Parse Error".
This module solves the issue: https://www.npmjs.co

[2017-02-13 11:49] vegetableman commented on #2690
@NinnOgTonic The issue happens when switching from `x-www-form-urlencoded` to `form-data`, retaining the previous `Content-Type` header and it's value `application/x-www-form-urlencoded`, as such, the app does not add any `Content-Type` for `form-data`.

[2017-02-13 11:58] vegetableman commented on #2690
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2636

[2017-02-13 11:58] #2690 closed, assigned to vegetableman

[2017-02-13 13:03] xmeng1 commented on #2691
OK, I will update to 4.9.3 and try again.

[2017-02-13 13:14] vegetableman commented on #2674
@pintux The issue has been fixed internally. And will be part of the upcoming release ^_^.

[2017-02-13 13:31] pintux commented on #2674
@vegetableman cool! ;) Thank you.

[2017-02-13 14:10] sdnts commented on #1966
@sunill-yadav Using the app, not right now.

[2017-02-13 14:38] yuri-martynov commented on #1137
+1

[2017-02-13 14:53] sunill-yadav commented on #1966
@madebysid
ok, Any other ways to do the same?

I was thinking to have all the tests in the same collection and run it as single collection but it will mash up all my tests.

[2017-02-13 17:52] guymaor86 commented on #1160
I have the same issue, my request is being redirected to AWS, and I don't want to stop automatic redirects. I just want the redirects not to happen with the original headers I sent to the first call.
Am I doing something wrong?

[2017-02-13 19:23] Ofer-Gal commented on #2692
That's good too! Thanks

On Mon, Feb 13, 2017 at 3:25 AM, Siddhant Sinha <notifications@github.com>
wrote:

--
Ofer Gal

---------------------------------------------------------------------
לפני הפצת שרשרת, נא מחקו את שמי וכתובתי מהדוא"ל,
 כדי שהפרטים לא יגיעו לחורשי מרעין בישין ברחבי האינטרנט

[2017-02-13 22:43] richard-chivers commented on #166
Would be really useful for us too, with Varnish etc.

[2017-02-13 22:51] gitfool commented on #1475
👍

[2017-02-13 23:06] dagrooms52 commented on #2386
Did not work for me, for example the request I discovered this bug with:
`id eq 3D51FF02CBACFD4A480901 and `
after being saved in Postman turns into
`id%20eq%203D51FF02CBACFD4A480901%20and%20`.

[2017-02-13 23:59] serkand commented on #1180
+1

[2017-02-14 05:38] SamvelRaja commented on #2386
@dagrooms52 Can you test the same in our canary version? We had fixed this recently in our canary build.
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_64
Linux 32-bit: https://dl.pstmn.io/download/channel/canary/linux_32
Linux 64-bit: https://dl.pstmn

[2017-02-14 08:14] Vishal-Joshi commented on #2225
Whenever I set proxy in Google Chrome, any requests I make from Postman app hangs forever.

I am using Postman Version 4.9.3 (4.9.3) on Mac OS v10.11.6

@numaanashraf Any update on the fix? Meanwhile do you have a workaround?

[2017-02-14 09:56] xmeng1 commented on #2691
I try the new version and the result is same, I think my issue can be same with [#2331](https://github.com/postmanlabs/postman-app-support/issues/2331), the file parameter in form-data cannot save. And I will and new comment at that issue.

[2017-02-14 10:01] xmeng1 commented on #2331
According to my research on the JSON of the collection, I found that the collection JSON download by my API key (JSON-Remote) is different with the JSON export from the Packaged App (JSON-Local).

Apart from the size of files (JSON-Remote > JSON-Local, such as my collection: 6M>1M), the value of `file` key is also different. In JSON-Remote, the value of `src` of type `file` is an object which cont

[2017-02-14 11:46] otoniel-isidoro commented on #1966
+1

[2017-02-14 13:40] shamasis commented on #2619
We should not actually trim it since it may interfere with testing.

- We could show one-time warning when pasting in such input boxes.
- Furthermore, we could start showing whitespaces like most editors do
- We should make issues like this easy to debug, but definitely not trim inout automatically.

[2017-02-14 13:49] shamasis commented on #808
This should tackled by making auth to async send requests. need to formulate async authorise function @czardoz with the ability to *replay original request on auth failure*.

[2017-02-14 13:50] shamasis commented on #1287
To be solved with common auth definitions and re-use at folder/collection level

[2017-02-14 13:51] shamasis commented on #1376
Requests should be made immutable and as such handle this scenario.

[2017-02-14 13:55] shamasis commented on #2292
@gsteinbacher you mean NTLM auth right?

[2017-02-14 13:57] shamasis commented on #2239
@madebysid or anyone else, can this be reproduced?

[2017-02-14 14:02] shamasis commented on #494
@abhijitkane can this be closed?

[2017-02-14 15:00] zikolach commented on #1465
I noticed even more strange behaviour. Float numbers are rendered as objects in Pretty mode. E.g. `"latitude":48.20838051106268` is rendered as
[code]

[2017-02-14 16:53] Npscholar commented on #2579
@SamvelRaja Thanks for working on this @vgorloff thanks for raising this. Where can I get the canary build or is it more advisable to downgrade to the last working version (what version is that?)

[2017-02-14 17:18] musiKk opened #2702 "Unable to open more than one tab from a particular saved call in the collection"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Ubuntu Linux 16.10
 4. Is the Interceptor on and enabled in the app: does not matter
 5. Did you encounter this recently, or has this bug always been there: a few versions ago I think
 6. Expected behaviour: see below
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-p

[2017-02-14 17:34] vgorloff commented on #2579
@Serotonin7 Last working version 4.8.3.
Seems this version is not available for Download from official website.
By the luck I found it on one of office laptops .)

[2017-02-14 18:18] WhyNotHugo commented on #574
Any ETA on this? There only seem to be binaries available currently.

[2017-02-14 19:36] dagrooms52 commented on #2386
That works, thanks @SamvelRaja

[2017-02-14 19:54] carymrobbins opened #2703 "Pretty JSON doesn't output numeric literals properly which exceed 15 characters"
1. Postman Version: Version 4.10.0
 2. App (Chrome app or Mac app): Chrome and Mac
 3. OS details: Reproduced consistently on Mac and Linux
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Output numeric literals in their original form.

## Steps to Reproduce

From a terminal, create a dumm

[2017-02-14 20:38] ehrlich-b commented on #2697
Not darl, but I am having the same issue. In Postman for Chrome you can make NTLM requests with "Authorization = No Auth". Chrome automatically does NTLM authentication based on your configured internet options.

This doesn't seem to work in Postman for Windows, making it basically unusable for us.

[2017-02-14 22:27] grayrod commented on #2468
Looks good in the new Mac app version 4.10.0. Thanks!

[2017-02-14 22:27] #2468 closed, assigned to SamvelRaja

[2017-02-14 22:47] ghost opened #2704 "Not able to SSL Cert in Chrome App on Fedora"
1. Postman Version: 4.10.0
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Fedora 25
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: First seen on 14 Feb 2017
 6. Expected behaviour: I expect to see a Certificates tab in the settings as per https://www.getpostman.com/docs/working_with_client_certificates
 7. S

[2017-02-15 02:56] bronthulke commented on #733
I'm having this issue right now, and am sad to say I've spent hours trying to find the source of the blame in my JSON or the web service, before realising it was POSTMAN not sending the full body. 524,288 is the magic number for me, too.

[2017-02-15 06:01] SamvelRaja commented on #2703
@carymrobbins Thanks for bringing this to our notice, its been identified and will update the thread once it is released 😄

[2017-02-15 07:05] vsethi13 commented on #2703
I faced the same issue. Spent good 30 minutes debugging my code just to realize the problem is with rendering in Postman. Reverted back to postman v4.9.3

[2017-02-15 08:52] mike-code commented on #697
+1 same as jasontrublu -- gotta fetch token before other requests

[2017-02-15 09:10] PFarrell89 commented on #2598
@vegetableman Do you know when the next release due to be released to the public?

[2017-02-15 09:32] aiden56 commented on #2195
+1 for "Close all tabs".

[2017-02-15 10:01] PFarrell89 opened #2705 "[Bug] - When renaming a test, Copying and Pasting the name actually Copy and Pastes the Test Item"
I'm using the Postman Chrome Application Version 4.10.0. (Ideally I'd be using the Windows Client but #2598 is still a big issue that hasn't been fixed yet - which was reported nearly 2 months ago)

**Issue:**
Copy and Pasting the name of the test item, actually copy and pastes the test item rather than the name.

**Steps to Recreate:**
Attempt to rename a test.
Select all of the text and Copy thi

[2017-02-15 10:17] SamvelRaja commented on #2598
@PFarrell89 at present you can switch to our Canary app which has the fix.
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_64

[2017-02-15 12:05] adam-sanchez commented on #2703
same issues this morning so have had to revert back to Version 4.9.3 in the meantime yes

[2017-02-15 12:40] BenSlabbert opened #2706 "Cannot save to Collection from History"
1. Postman Version:
4.10.0
 2. App (Chrome app or Mac app):
 Linux (KDE (5.5.5) + Ubuntu (16.04))
 3. OS details:
linux / x86-64
 4. Is the Interceptor on and enabled in the app:
yes
 5. Did you encounter this recently, or has this bug always been there:
recently

Steps to reproduce the problem:

1.) enable interceptor in app and browser
2.) navigate to a URL in the browser
3.) in the "History" ta

[2017-02-15 13:33] sdnts commented on #2704
Hi @bkimbrou, the `Certificates` tab is only available in the native apps. This is because all Chrome apps will automatically use any certificates saved with Chrome.
If you want to send a certificate with the Chrome App, you'll need to add your certificate to Chrome, and then select it when you send your request.
On the native apps, you can add it from the `Certificates` tab. Feel free to reopen i

[2017-02-15 13:33] #2704 closed, assigned to nobody

[2017-02-15 14:38] reger commented on #2703
Having same problem with v4.10.0 on mac, and like @vsethi13 wasted a bunch of time trying to track down a code issue before realizing it was Postman... Will be reverting back to an earlier version as well.

[2017-02-15 14:49] tiagomsmagalhaes opened #2707 "Shortcuts conflicting with keyboard layouts"
1. Postman Version: 4.10.0
 2. App (Chrome app or Mac app): Postman for Chrome - Chrome 58.0.3007.0
 3. OS details: win / x86-64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Today
 6. Expected behaviour: Being able to use AltGr+2 to insert the @ sign. I use pt-PT keyboard
 7. Console logs (http://blog.getpostman.com/20

[2017-02-15 15:14] apazzolini opened #2708 "Incorrect JSON pretty-printing of floating point numbers"
1. Postman Version: 4.10.0
 2. App (Chrome app or Mac app): Mac App
 3. OS details: 10.11.6
 4. Is the Interceptor on and enabled in the app: n/a
 5. Did you encounter this recently, or has this bug always been there: Recent (a couple of days)
 6. Expected behaviour: Pretty JSON printing should render floating point numbers properly

Make a request to a server that returns a floating point number

[2017-02-15 15:22] iamareebjamal commented on #2708
Issue does not exist for only floating point numbers, but also for integers

Raw Data :
[code]

Pretty Printed :
[code]

[2017-02-15 15:47] ghost commented on #2704
Hi @madebysid, thank you for explaining why I cannot see the Certificates tab. However my main issue is that I cannot modify the certificate I selected for a particular domain once one has been selected, or if there is a way, I do not know how.

[2017-02-15 17:01] mmckillion-r7 opened #2709 "Exporting postman collection without permissions to directory."
1. Postman Version: Version 4.10.0
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Linux
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always been there, only found root cause today.
 6. Expected behaviour: Should either save or give warning.

Export a collection to a directory that does not have write acce

[2017-02-15 17:19] SamvelRaja commented on #2708
@apazzolini @iamareebjamal Tracking it here #2703.. Will be fixed and released in sometime from now.

[2017-02-15 17:19] #2708 closed, assigned to SamvelRaja

[2017-02-15 18:33] zmorris commented on #2703
Had this same issue, when I went to `Postman->Code->Shell cURL` and ran the request from console, the output was correct.  Thankfully a coworker had me try Raw instead of Pretty or I would have been here all day thinking it was some subtle debug feature in the backend codebase.  For now I am just pasting the output into JSON Editor to see it pretty printed:

Online:
http://www.jsoneditoronline.org

[2017-02-15 18:48] ben-reilly commented on #2703
Wish someone had suggested the same thing to me: I _did_ spend all day thinking it was something in our backend code. 😄

I hope someone creates a test for this.

[2017-02-15 18:51] SamvelRaja commented on #2703
Here all, the fix has been released with native mac and Linux 4.10.1. Native windows and chrome will be updated with the fix soon

[2017-02-15 18:56] robertkuhar commented on #2703
This is definitely NOT FREAKING FIXED on OS X!??!?!?!  @SamvelRaja The churn on Postman is becoming untenable for me.  How do I downgrade Postman?  This is starting to feel like "amateur hour" to me.

This fails always for me with actual backend services that are emitting proper JSON at version Version 4.10.1 (4.10.1)

[2017-02-15 19:03] hn3000 commented on #2703
While @robertkuhar is the best kind of correct (technically correct), the situation has improved. Instead of a hot garbled mess I now see strings instead of numbers.

Actual JSON:
<img width="563" alt="screen shot 2017-02-15 at 20 01 16" src="https://cloud.githubusercontent.com/assets/133752/22990494/adee0640-f3b9-11e6-9a5c-dd3275d53a06.png">

Pretty-Printed JSON:
<img width="416" alt="screen shot

[2017-02-15 19:05] unruthless commented on #2447
Has the fix been rolled out yet? I have just run into this same problem.

[code]

JSON response to call made with httpie running in iTerm:
<img width="292" alt="screen shot 2017-02-15 at 11 07 28 am" src="https://cloud.githubusercontent.com/assets/142906/22990773/0ec62222-f36f-11e6-80b1-2e9bdcf6a74e.png">

JSON response to identical call made with Postman, pretty printed:
<img width="282" alt="scr

[2017-02-15 19:07] sdnts commented on #2447
@unruthless Chrome apps take some time to reflect the updated package, it should be up in a couple of hours at the latest.

[2017-02-15 19:09] sdnts commented on #2703
@robertkuhar Can you upload a screenshot of what you see (with sensitive data redacted) here?

[2017-02-15 19:11] unruthless commented on #2447
@madebysid Cool, thanks! Can you point me at the commit that fixed this issue?

[2017-02-15 19:41] robertkuhar commented on #2703
@madebysid

Pretty is WRONG!  ![pretty_is_wrong](https://cloud.githubusercontent.com/assets/190304/22992085/702c8c14-f373-11e6-82f6-0b775be56cf8.png)
Raw is Correct.  ![raw_is_correct](https://cloud.githubusercontent.com/assets/190304/22992092/79989bda-f373-11e6-8c7a-865c722a971b.png)
Standalone cURL agrees.  ![standalone_curl_agrees_with_raw](https://cloud.githubusercontent.com/assets/190304/2299

[2017-02-15 20:02] robertkuhar commented on #2703
The problem is not just arrays.  Numbers at the top level are incorrectly changed to strings on the Pretty display.   The latitude and longitude emitted on these screenshots came out of a java service as doubles.

![pretty_is_wrong 2](https://cloud.githubusercontent.com/assets/190304/22993097/9e410f64-f376-11e6-9d50-824033871663.png)
![raw_is_correct 2](https://cloud.githubusercontent.com/assets/1

[2017-02-15 20:54] SamvelRaja commented on #2703
@robertkuhar @hn3000  thanks for pointing me to this edge case which came out while solving this issue. We had updated the fix and released in 4.10.2

[2017-02-15 21:11] robertkuhar commented on #2703
@SamvelRaja I do not share the opinion that this is an "edge case".  Failure to correctly render the JSON sent by an the endpoint is a really big deal.  I really do remain shocked that there doesn't appear to be adequate testing of these code paths that could have detected this discrepancy.  I hope there is now.  A Number in one view must always be rendered as a Number in another.

My faith in Pos

[2017-02-15 21:19] loesak commented on #1465
+1. we're seen the same issue as @zikolach has reported

[2017-02-15 21:22] chuckwade opened #2710 "Pretty view not displaying integers correctly for json if length is greater than 15 digits"
1. Postman Version:  4.10.0
 2. App (Chrome app or Mac app):  Chrome App
 3. OS details:  Windows 7
 4. Is the Interceptor on and enabled in the app:  No
 5. Did you encounter this recently, or has this bug always been there:  Not sure
 6. Expected behaviour:  display json correctly "packageId:"5431254321111111"
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tool

[2017-02-15 21:25] turbokat opened #2711 "Weird character display (Elasticsearch query results)"
1. Postman Version: 4.10.0
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: recently, haven't tried before
 6. Expected behaviour: normal display
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-02-15 23:41] whippet-rider commented on #2596
+1

[2017-02-15 23:54] tpnick opened #2712 "JSON isn't automatically detected if content-type header is text/javascript"
1. Postman Version: Version 4.10.2 (4.10.2)
 2. App (Chrome app or Mac app): Mac App
 3. OS details: OS X El Capitan 10.11.6
 4. Is the Interceptor on and enabled in the app: No, is it needed for the standalone app?
 5. Did you encounter this recently, or has this bug always been there: always been there
 6. Expected behaviour: JSON should be automatically selected when the response comes through

[2017-02-16 02:02] KozhevnikovDmitry commented on #1137
+1

[2017-02-16 02:18] testingProjectBangalore commented on #1228
Any Updates on this ?

[2017-02-16 04:12] hn3000 opened #2713 "checking for updates does not finish / dl.pstmn.io certificate expired"
1. Postman Version: 4.10.1
 2. App (Chrome app or Mac app): Mac app
 3. OS details: Mac OS X 10.11.6
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: only today
 6. Expected behaviour: Check for Update should report an available update or that none are available.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enab

[2017-02-16 04:49] SamvelRaja commented on #2713
@hn3000 We are on it.. thanks for the heads up.

[2017-02-16 06:14] hn3000 commented on #2711
duplicate of #2710

[2017-02-16 07:55] SamvelRaja commented on #2713
@hn3000 The issue has been fixed you can update without a problem now.

[2017-02-16 07:55] #2713 closed, assigned to nobody

[2017-02-16 08:01] sdnts commented on #2711
@gdiwakar Is this happening for you on the latest version? (4.10.2)?

[2017-02-16 08:02] sdnts commented on #2710
@chuckwade This was fixed in a recent patch release (4.10.2). Feel free to reopen if an update does not solve your issue :)

[2017-02-16 08:02] #2710 closed, assigned to nobody

[2017-02-16 08:02] sdnts commented on #2706
@BenSlabbert Can you reproduce this in the latest version (4.10.2)?

[2017-02-16 08:03] sdnts commented on #2702
@musiKk This is the intended behaviour. However, since 4.10, we've added a new option in the request dropdown to allow you to open the request in a new tab. Can you update to the latest version (4.10.2) and see if that's what you expect?

[2017-02-16 08:08] sdnts commented on #2700
@jensraaby Understandable. Tagging this as a feature request :)

[2017-02-16 08:27] vegetableman commented on #2674
@pintux Checkout the latest update. feel free to reopen if the issue still exists ^_^.

[2017-02-16 08:27] #2674 closed, assigned to vegetableman

[2017-02-16 08:28] vegetableman commented on #2322
@janeklb Checkout the latest update. feel free to reopen if the issue still exists ^_^.

[2017-02-16 08:28] #2322 closed, assigned to vegetableman

[2017-02-16 08:32] vegetableman commented on #1412
@mdaloia @A570343 The latest update handles the issue you mentioned, by saving the state of the tabs before quitting. Feel free to reopen this issue, if it does not solve your use-case ^_^.

[2017-02-16 08:32] #1412 closed, assigned to vegetableman

[2017-02-16 09:04] scameron opened #2714 "Feature request: allow user-defined request/response interceptors"
This is a request for a new feature to be able to intercept requests/responses and modify them via code (say, JavaScript) before they get sent to the server (request) or displayed in the UI (response).

 In my case, I am using an OData API that represents complex properties as serialized JSON strings.  It would be nice if I could write my request body (in the Postman UI) as normal expanded JSON, a

[2017-02-16 09:28] hn3000 commented on #2711
at that time it should have been impossible to have 4.10.2, because of #2713

[2017-02-16 09:52] SamvelRaja commented on #2163
This issue needs a further discussion of removing the Enter key shortcut for saving/summiting the pop up screen.

[2017-02-16 10:48] sdnts commented on #2683
@blilienthal Can you try updating to the latest version (4.10.2) and verify if this was fixed?

[2017-02-16 10:49] sdnts commented on #2600
@scoful We made changes to the way chinese inputs are handled. Can you try updating and check if the behaviour is as expected?

[2017-02-16 10:50] sdnts commented on #2530
@solody Is this still reproducible in the latest version (4.10.2)?

[2017-02-16 10:50] sdnts commented on #2662
@TheNate v4.10.2 should fix this problem. Can you try to update and verify?

[2017-02-16 10:51] vegetableman commented on #1205
Closing this, since the current release `4.10` supports inline editing of request names.

[2017-02-16 10:51] #1205 closed, assigned to nobody

[2017-02-16 10:55] sdnts commented on #2665
@s20307 Can you see if this is still a problem with 4.10.2?

[2017-02-16 10:58] sdnts commented on #1966
@sunill-yadav Have you tried out the native app? The native app has a redesigned runner that should help solve your issue.

[2017-02-16 11:00] sdnts commented on #2239
@JBrace1990 Closing this. Please feel free to reopen if you're still seeing this with the latest version (4.10.2)

[2017-02-16 11:00] #2239 closed, assigned to nobody

[2017-02-16 11:00] sdnts commented on #2355
@vgadolin Can you retry with the latest version (4.10.2) and verify if this is fixed?

[2017-02-16 11:01] SamvelRaja commented on #2579
@vgorloff @Serotonin7 the latest 4.10.2 app has the fix for double encoding happening for %2B present in the query param.

[2017-02-16 11:01] sdnts commented on #2637
@Fjandin @cgamache 4.10.2 should fix this. Can you guys try updating and verifying this?

[2017-02-16 11:02] sdnts commented on #2629
@dphillipsprosper 4.10.2 includes a fix for this. Can you try updating and verifying?

[2017-02-16 11:02] sdnts commented on #2596
Guys, 4.10.2 includes a fix for this. Can you try updating and verifying?

[2017-02-16 11:04] vegetableman commented on #2598
@PFarrell89 The current release `4.10` supports `0` and empty strings.
@Dmytro-Komaryst,  Would be great if you could create an issue for `[]` and `null` to allow better tracking ^_^.

[2017-02-16 11:04] #2598 closed, assigned to nobody

[2017-02-16 11:09] sdnts commented on #2587
@joaqo 4.10.2 has support for Ctrl + L. Can you try updating and verifying?

[2017-02-16 11:09] sdnts commented on #2176
Guys, test / pre-request snippets can now be hidden starting version 4.10.2. Can you guys verify if this solves this issue?

[2017-02-16 11:11] sdnts commented on #2447
@unruthless Unfortunately, the Postman apps (chrome or native) aren't open source, so I cannot do that right now. This, however, should be fixed now (you may have to force update extensions in Chrome). Can you verify and let me know? :)

[2017-02-16 11:11] sdnts commented on #2502
@Huachao Updating to 4.10.2 should solve this. Can you verify please?

[2017-02-16 11:12] vegetableman commented on #1582
@z3ntu Assuming you are using the native app, could you update to the latest version which supports right click context menu. Let me know if that doesn't solve your use-case.

[2017-02-16 11:13] Workom2016 commented on #1535
+1

Please let us know when such ability will be available.

[2017-02-16 11:21] vegetableman commented on #2395
@iredmail You could update to the latest version, which supports renaming as an action on the menu and right-click native context menu.

[2017-02-16 11:21] #2395 closed, assigned to nobody

[2017-02-16 11:22] sdnts commented on #2714
@scameron That's an interesting idea.

If I understood your request correctly, I believe you should already be able to do this using the pre-request and test scripts in conjunction with environment variables.

You can use the pre-request scripts (written in JS) to serialize your properties and set an environment variable. Then, use this environment variable in your request body (or URL, anywhere r

[2017-02-16 11:25] whippet-rider commented on #2596
was 4.10.2 only just released? I tried the check for updates this afternoon but nothing was available. Updating now, can let you know tomorrow. Thanks...

[2017-02-16 11:27] sdnts commented on #1535
Guys, we're working on collection level scripts, which I believe should solve all your issues. Will let you know here when we make progress :)

[2017-02-16 11:36] pschmidt88 commented on #739
+1

[2017-02-16 11:46] sdnts commented on #2704
@bkimbrou Are you talking about Chrome? Chrome caches certificates once you use them, so clearing this cache should help. I found [this](http://stackoverflow.com/questions/27848786/chrome-certificate-selection-appears-multiple-times/27859775#27859775), which might be able to help.

[2017-02-16 12:21] ryan1st commented on #2665
Though not being original author, I also have been experiencing this issue and watching this thread!
So excited with the fix!  So far, it seems the issue is gone now!  I can write Korean freely as English now. Thank you so much!  👍 💯

[2017-02-16 12:44] #2665 closed, assigned to nobody

[2017-02-16 14:13] vegetableman commented on #2636
@koreyba @scr The fix is not part of the current release, as there are plans to allow further customisation for the same.

[2017-02-16 14:43] nullco opened #2715 "[Bug] - Pretty JSON formatting float numbers wrongly"
1. Postman Version: 4.10.0
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Ubuntu 16.04
 4. Is the Interceptor on and enabled in the app: Disabled
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Pretty JSON response should respect number format as it comes from the server
 7. Console logs (http://blog.getpostman.com/2014/01/27/en

[2017-02-16 14:43] mstaalesen commented on #2176
Confirmed :)

[2017-02-16 14:44] sdnts commented on #2715
@nullco We released a fix for this in 4.10.2. Can you try updating to verify that this is fixed?

[2017-02-16 14:53] mthoreso commented on #2176
Booyah!  Nicely done.  On to [#882](https://github.com/postmanlabs/postman-app-support/issues/882)

[2017-02-16 15:43] vgadolin commented on #2355
I will test this as soon as I can.  We are in the process of finishing up our sprint.  Once that is done, I will let you know how the testing went.

[2017-02-16 16:06] jjspace opened #2716 "Two-Pane Layout Improvements"
I just discovered the two-pane layout added in 4.9 and I really like it. It really increases the screen usage and reduces scrolling and allows me to see more of very long responses. However I think it still needs a little adjustment. The biggest thing I noticed was that the url bar got shrunk way down so it was hard to read the entirety of long request urls (as shown in picture 1).

I would propos

[2017-02-16 17:08] joaqo commented on #2587
Hey @madebysid its working awesomely! Just one small detail, right after I select an environment on the drop down menu in the top right, I lose the ability to use the keyboard shortcuts. I have to click somewhere in the app before I can use keyboard shortcuts again.

[2017-02-16 17:34] ghost commented on #2437
Disabling 3D Acceleration for the whole vbox cannot considered as a SOLUTION!

Disabling 3D Acceleration lead to have 100% of CPU used on the host!  just for the Ubuntu rendering.

For Example Visual Studio Code has a flag in which you can start it without the GPU acceleration...  but just for this process.    Why do not use the same approach so that we can still use 3D acceleration for the rest o

[2017-02-16 20:50] nelsjm commented on #2715
@madebysid I ran into this issue on 4.10.0 and updated to 4.10.2 and it went away.

[2017-02-16 20:59] jb08 opened #2717 "unable to save post (see image)"
1. Postman Version: 4.10.0 (4.10.0)
 2. App (Chrome app or Mac app): Mapp app
 3. OS details: 10.11.6 (15G1108)
 4. Is the Interceptor on and enabled in the app: ?
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour: be able to save
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App,

[2017-02-16 21:00] dvkwong commented on #2195
Another +1 for 'Close all tabs' for people who know what they are doing. At the same time can we get the option to not reopen tabs on opening postman.

[2017-02-16 21:03] scameron commented on #2714
Hello @madebysid,

This is close, but using environment variables is not dynamic enough.  I need to be able to apply a transform on the request body before it is sent and the response body before it is displayed.  If possible, I'd like to be able to run this same dynamic transform snippet of JS for every request/response.

At the moment, if I use Postman to demo our API, I am copying requests/resp

[2017-02-16 21:21] efenderbosch commented on #2681
Also experiencing this using:

Postman for Chrome
Version 4.10.2
OS X / x86-64
Chrome 56.0.2924.87

[2017-02-16 21:58] jermahs opened #2718 "Pretty Print is Modifying Coordinates"
1. Postman Version: 4.10.0 (4.10.0)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: Sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: nope
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour:

I'm hitting an API that returns JSON containing coordinates. For some reason the pretty print view of the returned data is modifyin

[2017-02-16 22:01] jstell commented on #2447
Still seems to be an issue in:

Text view is

` "val": 0.089331540527343739,`

Whereas Pretty JSON is:

`"val": {
    "s": 1,
    "e": -2,
    "c": [
      8,
      9,
      3,
      3,
      1,
      5,
      4,
      0,
      5,
      2,
      7,
      3,
      4,
      3,
      7,
      3,
      9
    ]
  },`

[2017-02-16 22:07] whippet-rider commented on #2596
Looks good to me @madebysid :) Much appreciated...

[2017-02-16 22:08] tmack8001 commented on #2596
Will update when I get back to my Mac. If it does as promised i would be much appreciated!

[2017-02-16 22:37] jaskarangump opened #2719 "Feature Request: Ability to change favicon in postman docs"
We have a pro account and planning to use postman docs. We have already changed the logo and domain.
Can you add the ability to change the favicon as well.

[2017-02-16 22:59] jaskarangump opened #2720 "Feature Request: Ability to make logo as a link in API Docs"
We have been able to change the logo in generated API docs. But it would be great to navigate back to the developer portal from the docs. Making logo as a customizable link will be helpful.

[2017-02-17 00:35] Huachao commented on #2502
@madebysid verified, it's solved, thanks

[2017-02-17 00:35] #2502 closed, assigned to SamvelRaja

[2017-02-17 01:53] sdnts commented on #2447
@jstell That was a regression on our part, sorry about that. Force updating all extensions should get you 4.10.2, which works as expected.

[2017-02-17 01:54] sdnts commented on #2714
@scameron Ah understood. Adding this as a feature request the :)

[2017-02-17 01:59] sdnts commented on #2195
Guys, `Close All Tabs` as well as `Close All Other Tabs` is available on our native apps. It is unlikely that it'll come to the Chrome app, since the platform does not allow for context sensitive context menus. I'd recommend shifting to the native apps anyway, since all Chrome Apps will stop updating this July and will be discontinued later this year. (in regard to Google's [announcement](https://

[2017-02-17 02:04] sdnts commented on #2718
@jpgilchrist That was a regression on our part, sorry about that. Checking for updates from the Mac app should get you 4.10.2, which works as expected. Let me know if it does.

[2017-02-17 02:17] sdnts commented on #2717
@jb08 We're aware of this. This is caused when you're zoomed in. We're working on a fix for this. You can also use the shortcut `Cmd/Ctrl+Enter` to save your request.
Closing this as duplicate of https://github.com/postmanlabs/postman-app-support/issues/2354
Will let you know when the fix is released, which should be soon.

[2017-02-17 02:17] #2717 closed, assigned to nobody

[2017-02-17 02:18] #2715 closed, assigned to nobody

[2017-02-17 02:20] sdnts commented on #2716
@jjspace Thanks for the suggestion :) We'll look into this

[2017-02-17 02:21] sdnts commented on #2596
Closing this. Please let me know if it doesn't and I'll reopen this :)

[2017-02-17 02:21] #2596 closed, assigned to vegetableman

[2017-02-17 03:48] jstell commented on #2447
@madebysid  Pretty JSON is correct  in 4.10.2.
`"val": 0.089331540527343739,`
 Thanks!

[2017-02-17 03:50] #2447 closed, assigned to nobody

[2017-02-17 03:56] #2703 closed, assigned to SamvelRaja

[2017-02-17 03:58] SamvelRaja commented on #2720
Thanks for the valuable suggestion. We shall let you know about the progress in this thread 🙂

[2017-02-17 04:11] bveenvliet commented on #2687
I think the problem is with the line:

    "in": "formData",

when I remove it then it imports fine.

[2017-02-17 05:00] pushkard opened #2721 "Restoring postman collection on a different machine after original machine crash"
I am using the Windows Postman app and had bunch of collections saved in the app. My machine crashed and now I have a new windows machine and have access to the original data (mapped as different drive)

Is there a way to restore the collections by copying files from the old hard disk?

 1. Postman Version: 4.9.3
 2. App: Windows App
 3. OS details: Windows 10

[2017-02-17 06:40] TiepB5518 commented on #2686
hi  dalejbrittain, i got the exact issue you had. i followed your instruction but i m a bit lost at where you said you renamed log file. which log file is it? there are 6 files in that chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.leveldb folders

[2017-02-17 07:40] Telaran commented on #2707
The Issue are the new Shortcuts.
They use several Shortcuts with "CTRL + Alt +" which is equivalent to "AltGr". As seen on the Wikipedia Page (https://en.wikipedia.org/wiki/QWERTZ) they now made several conflicting shortcuts depend on the Layout someone use.

My suggestion:
Fast: Remove all "CTRL+ALT" Shortcuts and replace them by something Like CTRL+Shift.
Long Term: Make them editable

[2017-02-17 07:57] vegetableman commented on #2721
@pushkard You could replace the folder `Postman` on the path `C:\Users\<User>\AppData\Roaming` with the one from the older machine.
Also, to avoid such issues, you could enable sync which will help you maintain and sync your collections across different machines.

[2017-02-17 08:17] vegetableman commented on #2712
@tpnick Could you elaborate on why you need the type `JSON` set for a `text/javascript` content type?

[2017-02-17 08:24] vegetableman commented on #2705
@PFarrell89 Issue #2598 has been fixed. As to the "copying the name" issue, could you elaborate more on it with a screenshot perhaps?

[2017-02-17 09:08] vegetableman commented on #2696
@xi-ao Would be great if you could share the collection causing the issue?. You could drop a mail to help@getpostman.com.

[2017-02-17 09:18] xi-ao commented on #2696
Fixed with Postman 4.10.0, so I would say this bug can be closed.

[2017-02-17 09:18] PFarrell89 commented on #2705
I've clicked the "..." icon next to a Test Item.
Clicked Rename (The whole name is automatically highlighted)
I press Ctrl + C to copy the name
![image](https://cloud.githubusercontent.com/assets/8641826/23059485/879b95fa-f4f1-11e6-83cf-1ca5e4f66be4.png)

I then press Ctrl + V to paste the copied name into a Test Item
The Test Item is then Copied tothe bottom of the Collection.

![image](https://c

[2017-02-17 09:19] #2696 closed, assigned to SamvelRaja

[2017-02-17 09:28] vegetableman commented on #2709
@mmckillion-r7 Thanks for creating this issue 👍 . Will keep you posted.

[2017-02-17 09:29] vegetableman commented on #2706
@BenSlabbert Closing this issue. Feel free to reopen if this issue still exists ^_^.

[2017-02-17 09:29] #2706 closed, assigned to vegetableman

[2017-02-17 09:36] vegetableman commented on #2677
@kujenga Thanks for letting us know about the state parameter ^_^. Will keep you posted on this thread.

[2017-02-17 10:18] Fjandin commented on #2637
The issue is fixed for me, i can now delete tokens 👍

[2017-02-17 10:32] vegetableman commented on #2675
@bripkens Thanks for letting us know about this issue 👍 . Will keep you posted ^_^.

[2017-02-17 11:13] vgorloff commented on #2579
Hello,

I checked version 4.10.2. Here is results:

- When in "Bulk Edit" mode query parameter defined as "+" (user+test@example.com).
   Then request sent as " " (user test@example.com). Expected.

- When in "Bulk Edit" mode query parameter defined as "%2B" (user%2Btest@example.com).
   Then request sent as "+" (user+test@example.com). Expected.

Thank you!

[2017-02-17 11:14] #2579 closed, assigned to SamvelRaja

[2017-02-17 12:20] jbauerrfid opened #2722 "Postman always follows redirects, ignores setting Follow Redirects = off"
1. Postman Version:
Postman for Chrome
Version 4.10.2
linux / x86-64
Chrome 50.0.2661.86
 2. App (Chrome app or Mac app):
Chrome app
 3. OS details:
Ubuntu 16.04 LTS
 4. Is the Interceptor on and enabled in the app:
all interceptor settings are off
 5. Did you encounter this recently, or has this bug always been there:
100% reproducable
 6. Expected behaviour:
Display the 307 response in the respo

[2017-02-17 12:33] vegetableman commented on #2722
@jbauerrfid You need to enable the interceptor to disable redirect ^_^.

[2017-02-17 12:33] l0rb commented on #966
while it does work, providing the post/get param is not a very clean solution. Especially when working in a team and not everyone wants to trigger xdebug.

[2017-02-17 12:37] jbauerrfid commented on #2722
I am on "Automatically follow redirects" in the "General" tab. It redirects in both settings ON or OFF.
Is there an other location to configure the interceptor?

[2017-02-17 12:47] vegetableman commented on #2722
@jbauerrfid The interceptor needs to be turned on, in order to stop the redirection. You could refer this doc to enable the interceptor: https://www.getpostman.com/docs/capture.

[2017-02-17 12:51] jbauerrfid commented on #2722
I have moved to Postman for Linux which solved the problem for me.

[2017-02-17 13:53] OtterlyOlive commented on #697
+1

[2017-02-17 14:11] electrotiti commented on #697
+1

[2017-02-17 14:26] madebysid commented on #2637
-

[2017-02-17 14:26] #2637 closed, assigned to sdnts

[2017-02-17 14:38] yael-lorenzo commented on #1429
+1

[2017-02-17 14:45] musiKk commented on #2702
Of course I would've preferred it like I suggested but your solution works as well. :wink: Thanks!

[2017-02-17 14:45] #2702 closed, assigned to nobody

[2017-02-17 15:54] sebastien-savalle opened #2723 "variable with local / collection visibility"
Hello,

We are using global variables for chaining request of a collection.
For example, those variables can contains a specific identifier on which we are working temporarily. Would it be possible to add a new type of variable for such purpose ?

Some interesting requirements:
- Set an expiration date on the variable.
- Limit the scope of the variable to a collection or a window.
- Clear the vari

[2017-02-17 15:56] blilienthal commented on #2683
@madebysid Everything's working perfectly now! Thx!

[2017-02-17 16:32] DirtyJerz commented on #1850
Generate code only works for cURL
cURL:
![image](https://cloud.githubusercontent.com/assets/896643/23073839/c5167798-f504-11e6-9c99-128d4666d17b.png)

Python:
![image](https://cloud.githubusercontent.com/assets/896643/23073791/9c4dd748-f504-11e6-8c0a-b706114b84d3.png)

Disable then re-enable of a parameter by way of checkbox adds key but not value to payload:
![image](https://cloud.githubuserconte

[2017-02-17 16:36] #2721 closed, assigned to nobody

[2017-02-17 16:36] pushkard commented on #2721
It worked. Thanks.

[2017-02-17 17:33] dalejbrittain commented on #2686
I am sorry I didn't really post all the steps so I am not surprised that you are a bit lost.

Window 7 (not sure if these steps will work on any other OS)

Steps:
1) chrome://indexeddb-internals
2) Look for: chrome-extension://fhbjgbiflinjbdggehcddcbncdddomop
3) Under the "Paths:" section note the location of the "chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.leveldb" folder
4) Nav

[2017-02-17 18:40] stevemcmillen commented on #2195
@madebysid,  understood.  I use the native app and have seen the "close all" option.  But what I was asking for is " close all *w/o prompt for saving*".  Make sense?

But i agree, the thread became a "+1 for close all tabs" which is NOT what I meant.

Actually, what I REALLY want is the "don't prompt to save changes" preference that was there long long ago.  I almost exclusively use the POSTMan fo

[2017-02-17 19:57] jfneis commented on #2589
Has anyone found a solution for this? My Postman just started behaving the same way. I'm not sure it's not application fault, but I have no other clue right now instead of Postman.

[2017-02-17 20:11] Celadora commented on #1946
4.10.2 (Windows 7) crashes whenever we try to upload a file of about 420mb through form-data

[2017-02-17 22:26] aguilera51284 commented on #2476
+1

[2017-02-17 22:29] aguilera51284 commented on #2153
+1

[2017-02-17 22:57] sautumn opened #2724 "Feature Request: Adding JS Fetch as an option in the generate code snippets section."
It would be great if you could add [JS fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) support in the 'generate code snippets' section of Postman.

Awesome product!
Thanks so much!

[2017-02-17 23:45] 4everqa opened #2725 "Postman fails to load large (1MB sized) 3rd party javascript lib (pdf2txt), and often (but not always) crashes after load fail."
1. Postman Version:  4.9.2   win / x86-32    browser app, native not tested (yet)
 2. App (Chrome app or Mac app): Chrome 55.0.2883.87
 3. OS details: Windows 7 64bit,  20 GB RAM free.
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there:  Crash always have happened  , tested on many machines.
 6. Expected behavior:
 6.1. Succe

[2017-02-18 01:49] RangerDan opened #2726 "Bulk Edit of Headers doesn't load until second attempt"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app, Chrome 56.0.2924.87
 3. OS details: Fedora linux / x86-64
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Recent encounter
 6. Expected behaviour: If I have the Header bulk edit selected and I move from test to test, I expect the headers to load succe

[2017-02-18 02:06] trivial-search opened #2727 "Postman 4.10.2 : Can not enable in-app proxy on Windows native app"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 8.1
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: ONly after upgrade to 4.10.2
 6. Expected behaviour:
The in-app proxy should be succesfully set on clicking "connect" on the Proxy settings dialog in the Windows native app
 7. Conso

[2017-02-18 16:56] clarketm commented on #2727
I experienced the same issue on Mac.

**file:** Postman.app/Contents/Resources/app/js/requester.js

**lines:** 163430-163430
![image](https://cloud.githubusercontent.com/assets/9957358/23094970/2f459114-f5b7-11e6-9bea-bf257e094975.png)

**error:**
![image](https://cloud.githubusercontent.com/assets/9957358/23095014/d0e487be-f5b7-11e6-8313-5ef68919bb88.png)

[2017-02-18 21:56] janeklb commented on #2322
Thanks @vegetableman looks good to me :)

[2017-02-19 07:50] smileatom opened #2728 "Pretty printer cant handle long decimal values in output"
1. Postman Version: 4.10.0
 2. App (Chrome app or Mac app): mac
 3. OS details:  10.12.3
 4. Is the Interceptor on and enabled in the app: dunno
 5. Did you encounter this recently, or has this bug always been there: just now
 6. Expected behaviour: JSON pretty printer misinterprets lat lng as objects and spews junk
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-

[2017-02-19 11:27] SamvelRaja commented on #2728
@rendion Hey this has been fixed in our 4.10.2 version, can you kindly update your app and check the same? Also feel free to reopen the issue if it recurs.

[2017-02-19 11:27] #2728 closed, assigned to nobody

[2017-02-19 11:28] smileatom commented on #2728
Will do.

[2017-02-19 11:29] SamvelRaja commented on #2727
@sunjeet-khokhar @clarketm This has been identified and the fix has been released in our canary channel, Can you guys switch to that app to continue using without any trouble. You can download them here,
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_6

[2017-02-19 11:31] #2711 closed, assigned to SamvelRaja

[2017-02-19 11:32] #2683 closed, assigned to sdnts

[2017-02-19 11:34] SamvelRaja commented on #2529
@sburtonctr  @dubiousdavid This has been released with our 4.10.2 release, can you guys check the same from your end 😄

[2017-02-19 11:35] SamvelRaja commented on #2538
Closing this, as the fix is rolled out in the 4.10.2 version of the app 😄

[2017-02-19 11:35] #2538 closed, assigned to SamvelRaja

[2017-02-19 11:36] smileatom commented on #2728
works ty

[2017-02-19 11:36] #2176 closed, assigned to numaanashraf

[2017-02-20 10:14] vasanthdharmaraj commented on #697
+1

[2017-02-20 10:51] scoful commented on #2600
@madebysid it's worked ! thanks very much!

[2017-02-20 10:51] #2600 closed, assigned to SamvelRaja

[2017-02-20 11:33] sergionalin opened #2729 "Feature request: allow GET requests to have a body"
While this is a tad controversial, some pretty widespread services do work with GET requests w/ a JSON body (elasticsearch to name one). One of the reasons is to bypass the max header length restrictions imposed by many servers/proxies/loadbalancers.

See also:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html
http://stackoverflow.com/questions/978061/http-ge

[2017-02-20 12:10] OBonio commented on #1429
+1

[2017-02-20 13:02] sturlath commented on #2553
When will this be available? I´m trying to post random data with {{$randomInt}} and would like to have access to the variable in the test.

`{
  "amount": {{$randomInt}},
  "currency": "ISK"
}`

And then something easy like
`var a = postman.getEnvironmentVariable("amount");
console.log("Amount:  " + a);`

I´m going to look at what you proposed @Ernesto-Maserati-CH to try to access the request body

[2017-02-20 13:18] stephan-nordnes-eriksen opened #2730 "S3 upload fails with 501 NotImplemented in osx app, not in chrome app"
Version/App Information:

 1. Postman Version: 4.10.2 (4.10.2)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.12.4 Beta
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: 200 OK
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insid

[2017-02-20 15:11] sashberd commented on #1831
+1

[2017-02-20 15:12] newbray commented on #1104
+1

[2017-02-20 15:58] toneplex opened #2731 "Request rename + paste duplicates request"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: recent
 6. Expected behaviour: When renaming a request, the request should not be duplicated

**Steps to reproduce the problem:**
1. Duplicate a collection folder
1. In the new fold

[2017-02-20 17:06] sburtonctr commented on #2529
@SamvelRaja Everything is working for me on my end.  Thanks

[2017-02-20 19:05] #2529 closed, assigned to SamvelRaja

[2017-02-20 20:54] TiepB5518 commented on #2686
hi dalejbrittain, thank you for detail instruction. really appreciated! i followed your instruction above but unfortunately that i still cannot open postman after copy the file (DB file and the "MANIFEST" and rename the .log file that match the old file i have (000224.log). not sure what else i do wrong but i tried this a few times and made sure postman can be opened after fresh reinstalled.

[2017-02-20 21:49] dalejbrittain commented on #2686
If you just paste in the DB file, does Postman open, but without your old collections?

[2017-02-20 23:08] TiepB5518 commented on #2686
hi Dale, that is correct. if i just past in the DB, Postman open just fine but no old collection. and DB file got removed once i open Postman.

if i replaced new Manifest file with old file that Postman won't open, just spinning

[2017-02-20 23:18] dalejbrittain commented on #2686
Okay, try pasting in everything, except the .log file from the "old" folder
and rename the .log file to match what it was in the "old" folder.

[2017-02-20 23:20] dalejbrittain commented on #2686
when you paste in in the "Old" files choose the windows option to "overwrite/replace" existing files.

[2017-02-20 23:48] TiepB5518 commented on #2686
hi Dale,

that still does not let me open Postman

[2017-02-21 02:24] jaskarangump opened #2732 "Feature Request: Sticky Header in Postman docs"
It will be great to have the header stick on the top even when a user scrolls.
This will allow to -
- change the language from any place
- Click the 'Run in Postman' link

It is generally the pattern we have seen. It will be great if this could be implemented.

[2017-02-21 03:00] clarketm commented on #2727
Sure thing @SamvelRaja. Thank you for the quick feedback and resolution.

[2017-02-21 05:13] vegetableman commented on #2705
@PFarrell89 Thanks for sharing the screenshot 👍 . Tagging this as a bug.

[2017-02-21 05:14] vegetableman commented on #2731
@toneplex Thanks for posting this issue along with screenshots 👍  . Will keep you posted.

[2017-02-21 07:02] vegetableman commented on #2730
@stephan-nordnes-eriksen You could open up the `Postman Console` by `View -> Show Postman Console` or `Cmd + Alt + C` to view the correct request headers being sent.

[2017-02-21 07:05] chimit commented on #2418
The problem is still there. Postman has a confusing behavior on `204: No Content` server response. It doesn't show the response body and even HTTP status. It only displays an error:

[code]

Please, make Postman able to display at least HTTP response status 204 or better along with a response body.

[2017-02-21 08:39] KumG commented on #2679
+1

[2017-02-21 09:07] unifreak opened #2733 "[feature]workspace"
I hope that new version Postman can haave workspace feature. so I can save currently opened tabs into one workspace, next time I open a workspace, those tabs&request params are there. something like sublimt-text's workspace.

[2017-02-21 10:20] sdnts commented on #2733
@UniFreak Thanks for the suggestion! This is on our radar, will let you know here when we make progress :)

[2017-02-21 10:38] GriffinOSI opened #2734 "Runner Removes leading 0's from .csv data"
Postman Runner Removes leading "0" from values in .csv spreadsheet.

This causes tests to fail unless I create a new var, append a 0 then test against the new var.

![excelview](https://cloud.githubusercontent.com/assets/10963335/23161300/85e65eb0-f821-11e6-8bc5-20ba03414391.JPG)
![preiviewvie](https://cloud.githubusercontent.com/assets/10963335/23161310/8df5a052-f821-11e6-9988-0aab51dc7371.JPG)

[2017-02-21 11:10] sdnts commented on #733
@bayssmekanique @bronthulke This is the default character limit set for HTML inputs.
We've since fixed this by replacing these inputs with custom ones. While this change is not available to everyone right now, we've released a Canary version. Can you guys try this build to see if this fixes your issue?

OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/dow

[2017-02-21 11:12] #2530 closed, assigned to SamvelRaja

[2017-02-21 11:12] #2662 closed, assigned to SamvelRaja

[2017-02-21 11:12] #2355 closed, assigned to vegetableman

[2017-02-21 11:38] avachnis commented on #2686
hi Dale.
I faced with the same issue on ubuntu 15.10 and applied your suggested steps (the 14 steps post) and it works for me.
Thanks!

[2017-02-21 12:42] eheinen opened #2735 "Global Variables is not being recognised inside the JSON Body"
When I just defined a Global Variable and tried to use it into my JSON Raw Body. It came as undefined. But when I change the variable to environment, it works.

Example:

{
  "name" : "Name - {{RANDOM_UUID}}"
}

 1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Chrome 56.0.2924.87
 3. OS details: OS X / x86-64
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter t

[2017-02-21 12:45] sdnts commented on #2735
@eheinen In your case, since `{{variable}}` is inside double quotes, it is treated as a String, hence not modified. You should include `Name - ` in the global variable and then use it as such:

[code]

Please feel free to reopen if I misunderstood :)

[2017-02-21 12:45] #2735 closed, assigned to nobody

[2017-02-21 13:15] #2629 closed, assigned to vegetableman

[2017-02-21 13:48] jbnok opened #2736 "POSTMAN is rounding long integer values where it shouldn't"
1. Postman Version: **4.10.2**
 2. App (Chrome app or Mac app): **Chrome App**
 3. OS details: **Windows 7 Professional x64**
 4. Is the Interceptor on and enabled in the app: **No**
 5. Did you encounter this recently, or has this bug always been there: **Unclear, I have only discovered it recently**
 6. Expected behaviour: **I should be able to have the number I want as it is a resourceId from a

[2017-02-21 14:04] nerdoza commented on #733
I gave it a try and it actually wasn't able to finish the request.  I gave it 10 minutes to run and it seemed to be frozen the entire time.  I don't see it actually making it to the server either (though I did not look to see if there was a connection opened during that time, just the log files).

[2017-02-21 14:20] eheinen commented on #2735
After I restarted the Postman it started to work as "Name - {{RANDOM_UUID}}"

[2017-02-21 14:28] edint commented on #675
+1

[2017-02-21 14:49] kidager opened #2737 "oAuth 1.0a nonce_used"
**_oAuth 1.0a_** does not regenerate the **_nonce_** value on the first request

 1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra 10.12.3 (16D32)
[code]
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: Regenerate nonce key and then send the req

[2017-02-21 14:52] ataraxus commented on #2225
Proxy settings are not considered with postman:

[code]

[2017-02-21 16:14] efenderbosch commented on #2736
This is likely because javascript numbers are 64 bit, with 53 bits reserved for the integer part.

You can duplicate this in Chrome and Firefox by opening the console and simply using `alert(1003200000000001759)` it will echo back 1003200000000001780. For large integers you need to treat them like strings.

http://www.2ality.com/2012/07/large-integers.html

[2017-02-21 16:18] jbnok commented on #2736
@efenderbosch Thanks for the quick response to this. I was hoping to avoid having to do additional parsing and have support out of the box..

Thanks again

[2017-02-21 16:35] efenderbosch commented on #2736
No, problem. I just came to check on an issue I was interested in and happened to know what was causing yours!

[2017-02-21 17:36] giuliocaccin commented on #2292
Is this a duplicate of #1137 ?

[2017-02-21 20:57] FM-96 opened #2738 ""Close Window" closes all windows instead of only the current one"
Version/App Information:

 1. Postman Version: v4.10.2
 2. App: Windows app
 3. OS details: Windows 10 Home
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: Unknown; I only just installed the Windows app.
 6. Expected behaviour: Only the one window closes, all others stay open.
 7. Console logs: Not possible, as the app c

[2017-02-21 21:59] lestevaos commented on #1368
+1

Same situation here. I'm using the `Swashbuckle.AspNetCore` to generate the `swagger.json` schema in real time and I'm not able to use it.

Thinking about downloading it in a Jenkins pipeline and use the `swagger.json` file as data file to run the collection. Will I be able to use the data file content in the tests panel to `JSON.parse` it to a schema object?

[2017-02-22 00:18] bronthulke commented on #733
Thanks @madebysid this worked for me (it took 40 seconds to process the request, but I'd expect that as it was a large file I was pushing, and I've confirmed that on my local server it received the request from Postman almost instantly).

Having said that, I did change my web service since originally logging this issue, so that I pass my JSON now in the body as raw application/json, rather than as

[2017-02-22 06:12] Dareen commented on #2729
+1

[2017-02-22 09:07] krizka commented on #448
Hi all! Have any updates on this?) how to do it with "Bulk Edit" editor??

[2017-02-22 09:22] cawoodm opened #2739 "Current Tab is overwritten when clicking on a saved Request"
Sometimes, when opening a saved Request it overwrites the current request tab instead of opening a new tab. It seems to always replace the currently selected tab. I'm sure it's supposed to make a new tab and does this sometimes correctly.

 1. v4.10.2
 2. Chrome app
 3. Windows 7
 4. Interceptor is off

[2017-02-22 09:22] SORC3r3r opened #2740 "feature request: 'master collection' to sync changes in calls to multiple 'normal' collection"
It would be nice to have a kind of 'master' collections which contains a library of REST calls. This master collection would not be designated for newman tests or postman runner, it rather serves as area to modify your REST calls.

For my application I have different test cases which need to be tested with different collections. The collections basically contain the same REST calls but differ in t

[2017-02-22 09:53] stevaaa commented on #1475
+1

[2017-02-22 10:18] ManishaUni opened #2741 "{{GUID}} can not be used as a GLOBAL VARIABLE as an INT"
Hi Guys,

I am trying to do a test for creation of a product, wherein for one of the variable i am using the {{GUID}} value. For Example : A={{GUID}}. The response returns a value for the {{GUID}}. I want to store this value as a GLOBAL variable so that the value can be used in other tests as well. I want to store the value as a INT value because in the other requests (Get requests), i would be ju

[2017-02-22 10:23] stephan-nordnes-eriksen commented on #2730
Content-Length is not being set in the native app when uploading the file. Is the expected behaviour, or is it a mistake?

Headers:

[code]

[2017-02-22 12:28] sdnts commented on #2688
@rzizza Thanks for letting us know. I'll take a look at this.

[2017-02-22 12:39] madebysid commented on #2740
@SORC3r3r That's an interesting idea. Now I don't know what your setup looks like exactly, but do environments not help in such situations?
I'm thinking out loud here, but maybe you could have an environment variable that governs the order of requests? Let me know if I misunderstood, though.

[2017-02-22 12:46] sdnts commented on #2740
@SORC3r3r That's an interesting idea. While collections are usually meant to be independent, I'm guessing you're talking about some sort of inheritance right?

[2017-02-22 12:49] sdnts commented on #2729
@sergionalin @Dareen This is on our immediate roadmap. Will keep you guys posted!

[2017-02-22 13:05] SORC3r3r commented on #2740
@madebysid Yes, thats right. I think of a master/base collection which will pass on the properties of the included calls to calls in other collections which maybe are linked or directly derived from the master/base collection. It would be nice to derive the calls just like duplicating, but the derived ones properties would depend on the master/base collection calls whilst the duplicated are indepe

[2017-02-22 13:17] sdnts commented on #733
@bronthulke That's great to hear! The body type shouldn't make a difference though. With the new Canary build, your file should work properly even if you try `x-www-form-urlencoded`.
@bayssmekanique I was able to send a string of 10M characters to a local server using the Canary app. Can you check your server logs to make sure the request was received by the server correctly?

[2017-02-22 13:24] vegetableman commented on #2741
@ManishaUni Since the `guid` value is returned as part of the response. You could do `JSON.parse(responseBody)` and then set the value as a global variable using `postman.setGlobalVariable(variableName, variableValue)`. You could refer the doc: https://www.getpostman.com/docs/sandbox for more info on the api supported.

[2017-02-22 13:31] vegetableman commented on #2739
@cawoodm If the current tab is not having any unsaved changes, any request, you open, would replace the existing request, unless, you check the option `Always open requests in new tab` on the `Settings` dialog which will take care of your use-case.

[2017-02-22 13:37] vegetableman commented on #2738
@FM-96 Thanks for posting this issue 👍 . Will keep you posted ^_^.

[2017-02-22 13:47] sdnts commented on #2724
@sautumn Thanks for the suggestion! Are you trying to make a request from within another request? If so, you can also look into setNextRequest to accomplish what you want. [Docs](https://www.getpostman.com/docs/workflows), [Example](http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/)

[2017-02-22 13:51] sdnts commented on #2589
@jfneis Is the Chrome app working fine for you too?

[2017-02-22 13:53] vegetableman commented on #2553
@sturlath @Ernesto-Maserati-CH You could update to the latest version and access the values directly using `request.data`. Let me know if it works.

[2017-02-22 13:53] sdnts commented on #2195
@stevemcmillen Ah, understood. Tagging this a feature request. @a85

[2017-02-22 13:56] bennetone commented on #798
+1

[2017-02-22 14:09] sdnts commented on #2723
@ellavas We're working on something similar, i.e. collection level variables. Will let you know here when we make progress!

[2017-02-22 14:58] jfneis commented on #2589
@madebysid yeap, just fine! it was a silent bug in our API, everything is OK right now!

[2017-02-22 17:28] mcanepa opened #2742 "App is blank after fresh install"
1. Postman Version: 4.10.2 win64
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 10 Home x64
 4. Is the Interceptor on and enabled in the app: Don't think so
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: See the app
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-02-22 17:37] vgadolin commented on #2355
Please REopen this.

This still exists.  The first line in test with large numbers running in the runner works properly, but when you get to the next line in tests where there are large number running in the runner fails.  Example. tests["Body matches string-42214562.94487466"] = responseBody.has("42214562.94487466");  - this line works fine.  However if I have a similar line like tests["Body matc

[2017-02-22 17:39] vgadolin commented on #2355
Note:  If I run through the collection runner, this seems to work.  However when I run through newman, it does not.

[2017-02-22 17:44] vgadolin commented on #2355
I was able to test this.  This is working now.  Thanks so much for fixing.

[2017-02-22 18:53] matt-tingen opened #2743 "HTML entities are copied as their respective characters"
**Version/App Information:**
 1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Mac App
 3. OS details: macOS 10.12.3
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Noticed recently, but may have been there a while
 6. Expected behavior: Copying a response with HTML entities copies the raw response.
 7. Console

[2017-02-22 19:29] cawoodm commented on #2739
That's crazy. Please change this absurd behaviour. Respectfully.

[2017-02-22 19:33] cawoodm commented on #2739
I don't see how the current behaviour can be useful, certainly not as a default setting. Are there many users who click through a bunch of requests and want them all to open in the same tab?? I know I never changed the setting so maybe "open in new tab" should be the default?

[2017-02-22 19:56] vegetableman commented on #2739
@cawoodm Hence, the toggle option ^_^. We can't please everyone, but we can give options.

[2017-02-22 20:57] cidthecoatrack commented on #697
+ 1 - this would be super useful.

[2017-02-22 21:10] vgadolin opened #2744 "Environment variables being overwritten in JSON body when running a collection or doing an export"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Recently but just starting using environment variables in a JSON body
 6. Expected behaviour: Environment variables should stay in the json and NOT be replaced by what the var

[2017-02-22 21:15] vgadolin opened #2745 "Feature Request - Need a button to close All tabs and the ability to not save/save the data"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: Click a button that closes all tabs and the ability for a pop-up or something to save or not save the data from the tabs
 7. Console logs

[2017-02-22 22:08] Zero3 commented on #2739
@vegetableman My personal opinion/experience with this issue:

This default behaviour has caused me great frustration multiple times, and has caused me to lose carefully crafted requests in the writing. These were not saved anywhere, and I was not able to find any functionality for re-opening the closed tabs. So Postman threw away my work just because I wanted to open a saved request in a new tab

[2017-02-22 22:33] blarzHernandez commented on #2214
http://localhost:3100/dishes fails
http://127.0.0.1:3100/dishes works good

[2017-02-22 22:45] joelhellman opened #2746 "Accidentally sending of requests when editing URI"
I find it way too easy to accidentally send off a request, when all I wanted was to edit URI.

![image](https://cloud.githubusercontent.com/assets/3614135/23236001/e2e04e46-f957-11e6-870f-211f07b3782f.png)

So if I press ENTER while the URI field is in focus (because I'm editing it), my Postman sends the request right away. Unlike for example when I edit rename in either of these dialogs, where EN

[2017-02-23 00:52] davidmorabito commented on #2494
In order to use PFX in OSX (El Capitan), I did the following:

1. Create a CRT and KEY file out of your PFX following this tutorial: https://www.markbrilman.nl/2011/08/howto-convert-a-pfx-to-a-seperate-key-crt-file/
2. In Settings, disable SSL Verification
3. In Settings, add new certificate. Add your host without protocol, and pick your CRT file AND also pick your KEY file. Provide a passphrase t

[2017-02-23 01:04] jayasimharr opened #2747 "Getting the slow response"
1. Postman Version:v4.10.2
 2. App (Chrome app or Mac app):Chrome app
 3. OS details:Windows 7 p
 4. Is the Interceptor on and enabled in the app: NO
 5. Did you encounter this recently, or has this bug always been there: from last 2 weeks
 6. Expected behaviour: response should come very quickly
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman

[2017-02-23 06:33] MALATHI02 commented on #482
I'm using MAC, Postman 4.10, SSL is turned off , uploaded the self signed certs and private key under certificates. When I make https request, I get error "Could not get any response
There was an error connecting to https://127.0.0.1:8000/api/. Checked postman console displays "Error:
socket hang up" . What could be the issue. Appreciate your help!

[2017-02-23 08:21] SORC3r3r opened #2748 "Editing duplicated environment edits the environment duplicated from too"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows Download
 3. OS details: Windows NT 6.1
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: editing duplicated environment only changes properties of environment which is edited, not the environment duplicated from too

Steps to re

[2017-02-23 10:28] SORC3r3r commented on #2739
At first I had issues with this behaviour too and I tried using the 'always open requests in new tab'.
This led to a high number of open tabs and an annoying search for the right one, so you open it again in a new tab and the number of open tabs increases.
At least I turned the 'always open requests in new tab' off again.
In my experience postman never discarded one of my open unsaved tabs. It jus

[2017-02-23 11:52] bmmathe commented on #843
Any update on this?  In the current version when I import a Swagger spec (2.0) the body contains the description of the object not stubbed out JSON.  My spec is Swagger YAML and I define my Response objects in the "definitions" section.

[2017-02-23 13:45] eprice-rw commented on #907
+1

[2017-02-23 14:58] JohnArrowwood opened #2749 "Request ability to create collection nodes that do not make a request and only execute JavaScript"
I use collections as a series of requests intended to complete a process.

For example:

My requests are generic and reusable, so they make heavy use of environment variables.  In order to complete the example above, I insert requests that clearly communicate what is going on:

The only thing that the "-- server A --" and "-- server B --" request does is execute JavaScript.

I much prefer this ove

[2017-02-23 16:57] gjsduarte commented on #739
+1

[2017-02-23 16:59] vegetableman commented on #2739
@Zero3 @SORC3r3r @cawoodm  Thanks guys for the valuable feedback 👍 . We are planning to up the ante to ensure data in the tabs are not lost. For instance, let's say you have an _unsaved tab with a response_, any request that would be opened from the sidebar would instead open in a new tab. Do note, the tab needs to have a response for it to be considered non-overwritable. Thoughts?

[2017-02-23 22:00] kdcarlisle42 commented on #2727
I grabbed the OSX version and am now able to connect the proxy.  However, nothing appears in postman.  The postman proxy settings are port 5555 and target History.  I also updated my network (thunderbolt ethernet) proxy settings.  I select both HTTP and HTTPS and listed the web proxy server as 127.0.0.1 on port 5555.

I feel like I am overlooking something obvious, but cannot figure it out.  Is th

[2017-02-23 22:10] SonofNun15 commented on #2260
Having an issue with 4.10.0. At the moment it is hard to even diagnose exactly what the problem is. Would like to fallback to 4.4.2 in the meantime, at least to compare. 👍 to the idea of making older versions accessible. Can't find 4.4.2 anywhere.

[2017-02-23 22:13] SonofNun15 commented on #2260
Did get a copy from a coworker who had it archived.

[2017-02-23 23:05] Pr1Smiley opened #2750 "Postman Application on Windows 10 throws Parse: Parse Error -Reopened"
1. Postman Version:
Postman for Windows
Version 4.10.2
win32 10.0.14393 / x64
 2. App (Chrome app or Mac app):
Windows Application
 3. OS details:
Windows 10 Professional
 4. Is the Interceptor on and enabled in the app:
No
 5. Did you encounter this recently, or has this bug always been there:

 6. Expected behaviour:
Return result
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-

[2017-02-24 05:28] chbussler opened #2751 "Sort properties in JSON result body on demand alphabetically (e.g., sort button)"
The JSON results I am working with a rather large and often it is cumbersome to use the search function to search for a specific property, esp. if there are several that have the same prefix in the name.

It would help the efficiency a lot if the properties in a body could be sorted alphabetically (and recursively) on demand. E.g. unsorted:

{"b":1, "a": 2}

Sorted:

{"a":2, "b":1}

Pretty print t

[2017-02-24 07:58] SORC3r3r commented on #2739
Sounds good, makes sense.
How about saving the responses in the history or create a seperate 'response history' with request and response details including time stamp?

[2017-02-24 08:25] isaklafleur commented on #2707
I have the same issue with swedish keyboard layout. When I switch to US keyboard layout then it works...

to get @ on Swedish keyboard is AltGr + 2

[2017-02-24 10:36] sandeepbantode commented on #2749
I am also looking forward to get this feature sooner, to solve my automation juggling.

[2017-02-24 12:09] prem911 commented on #2082
I m on 4.10.2 and still get the same result response.pdf.pdf

[2017-02-24 12:51] SORC3r3r commented on #2748
It works fine with the Chrome App.

[2017-02-24 12:55] aripalo opened #2752 ""Copy to Clipboard"-button on "Pretty" HTML breaks inline scripts"
1. Postman Version:
`4.10.2`
 2. App (Chrome app or Mac app):
App
 3. OS details:
macOS Sierra `10.12.2 (16C67)`
 4. Is the Interceptor on and enabled in the app:
Off.
 5. Did you encounter this recently, or has this bug always been there:
Recently.
 6. Expected behaviour:
  Copy the response HTML as pretty printed, but do not insert newline characters into JavaScript strings and by doing so break

[2017-02-24 13:48] Bartvds commented on #166
+1 for custom methods

Seriously what is going on here? Most of the crappy low effort browser addons we'd hoped to replace with something professional like postman can do this.

Says here on the website this postman app is "A powerful GUI platform to make your API development faster & easier"  but it cannot change the HTTP verb to whatever we want to test with? What is this "power" that was mentio

[2017-02-24 14:10] aku246 commented on #2082
try send and download.

[2017-02-24 15:53] bennetone commented on #727
+1

[2017-02-24 16:22] hlubovac commented on #166
If you control the service, a work-around for this problem is to add support to the service for processing `X-HTTP-Method-Override` request header accompanying a regular `HTTP POST` - or, check with service provider if that feature is supported - or, simply try.

So, instead of
[code]

... do:
[code]

The convention is, then, for the service receiving this request to simply replace the method with

[2017-02-24 16:30] hlubovac opened #2753 "Feature requests"
- Close all tabs; close tabs to the left/right of current; close all but this - it's very frustrating to close them individually, especially after the "feature" of restoring them after the app is restarted has been added.

- Renaming variables so that all **available** occurrences are replaced (I do understand that some request items may not even be loaded within Postman and easily updatable). Eve

[2017-02-24 17:38] jreim commented on #2242
I am having the same issue with a new install of post man. I try to do a get and hit a proxy authentication issue. I could not find where to set up the proxy. I am trying the interceptor.

[2017-02-24 18:16] adegroff commented on #2082
Update on issue:

running Postman for Chrome
Version 4.10.2
win / x86-32
Chrome 56.0.2924.87

performing a 'Send and Download'
`Cache-Control →no-cache
Content-Disposition →attachment; filename="another file name.pdf"
Content-Length →1391192
Content-Type →application/pdf`

Result is still saving the file as "_**response**_.pdf" and not "_**another file name**_.pdf"

[2017-02-24 20:53] Olf42bur opened #2754 "While Postman Chrome extension can GET an url, Postman Windows app cannot"
Hello, I'm stuck with an issue, I can't figure out what the heck could be happening in the ridiculous simple scenario :/

1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes (in chrome extension)

 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour:

[2017-02-25 04:39] johntiror commented on #1180
+1

[2017-02-25 04:39] johntiror commented on #882
+1

[2017-02-25 20:06] a85 commented on #2582
@madebysid Is this going in 4.10.3?

[2017-02-25 22:27] dealharris opened #2755 "postman chrome and windows app API request to azure with bearer"
GET request with Bearer fails

 1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: recently, only on requests made with bearer
 6. Expected behaviour:
 7. Console logs - see below:

Blocked script execution in 'filesystem:chrome-ex

[2017-02-25 23:06] dealharris commented on #2755
checked in both chrome and windows app, same error

[2017-02-26 02:45] stevemcmillen opened #2756 "Upload using binary body type fails in POSTMan Mac App due to missing Content-Length header"
Version/App Information:
 1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Mac App  (Issue DOES NOT occur for Chrome app
 3. OS details: Sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Not sure. I think it was working before but can't say when.
 6. Expected behavior:  Add Content-Length header an

[2017-02-26 02:46] stevemcmillen commented on #1441
I'm running Version 4.10.2 and its still not working.  It does work in the Chrome POSTMan App but since Chrome app is being deprecated I hope this bug can be fixed soon. This is a blocking issue for uploading files thru our APIs since we have a few that just use binary data method.

I'll log a more specific bug here: https://github.com/postmanlabs/postman-app-support/issues/2756

[2017-02-26 21:40] jayonsoftware commented on #697
+1

[2017-02-26 22:40] lgo opened #2757 "When saving a request after adding Authorization options, URL becomes [object Object]"
1. Postman Version: 4.10.2 (4.10.2)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 4.10.2 (4.10.2)
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Yes, just encountered
 6. Expected behaviour:

Expect it to save the request. To reproduce this:
- Create a request, e.g. `{{base_url}}/v2/users/:user_id`
- Save

[2017-02-27 04:54] vanquang9387 commented on #2369
Same issue with Postman App on Windows

[2017-02-27 06:11] hkgill commented on #1669
+1

[2017-02-27 07:10] vegetableman commented on #2751
@chbussler Thanks for posting this issue 👍 .  Support for a custom JSON viewer that would allow sorting, is part of the roadmap.

[2017-02-27 08:18] cawoodm opened #2758 "AltGr+2 Hotkey prevents @ symbol on German Keyboards"
On German keyboards `AltGr+2` is how you enter the `@` symbol. This seems to be blocked or otherwise assigned in Postman so that when you press the key combination the input box loses focus and no `@` key is entered. This makes it really problematic since `@` can be used in usernames for authentication or in URL parameters. Workaround is to copy the symbol to the clipboard and use `Ctrl+V` to past

[2017-02-27 08:18] vegetableman commented on #2737
@kidager This could be a conflict of interest with other users using oAuth. As, some users prefer sending the stored `nonce` when the request is loaded for the first time. cc @a85, @SamvelRaja.

[2017-02-27 08:21] sdnts commented on #2582
@a85 Yep.

[2017-02-27 09:28] bhawna2109 commented on #1518
Hey guys, we have an exciting update for you- postman now supports variable highlighting, along with autocomplete and tooltips for variables! It's out on our canary channel, and will hit our stable builds in March.

Latest Canary builds are available here-
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit:

[2017-02-27 09:30] bhawna2109 commented on #461
Hey guys, we have an exciting update for you- postman now supports variable highlighting, along with autocomplete and tooltips for variables! It's out on our canary channel, and will hit our stable builds in March.

Latest Canary builds are available here-
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit:

[2017-02-27 09:36] bhawna2109 commented on #2007
Hey @lee5i3, we have an exciting update for you- postman now supports autocomplete and tooltips for variables! It's out on our canary channel, and will hit our stable builds in March.

Latest Canary builds are available here-
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/ch

[2017-02-27 09:40] bhawna2109 commented on #1912
Hey @danielpigan , we have an exciting update for you- postman now supports tooltips which let you view the current value of a variable, along with variable highlighting and autocomplete! It's out on our canary channel, and will hit our stable builds in March.

Latest Canary builds are available here-
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/downl

[2017-02-27 10:12] vegetableman commented on #2742
@mcanepa Could you open the app directly through the command prompt and share the screenshot or logs from there?
Path for the same: `C:\Users\<User>\AppData\Local\Postman\app.4.10.2\Postman.exe`

[2017-02-27 10:33] vegetableman commented on #2743
Thanks for posting this issue 👍 . We were able to reproduce this issue. Will keep you posted.

[2017-02-27 10:35] cesarbmx commented on #907
+1, although one level is ok. I just want the resources properly grouped:
- comments
- comments likes
- ...

[2017-02-27 11:31] vegetableman commented on #2744
@vgadolin Could you elaborate on the issue with screenshots? and does the exported collection JSON file have the environment variable `{{DataDir}}` or the value of `{{DataDir}}`. The former should be the case.

[2017-02-27 12:13] vegetableman commented on #2754
@Olf42bur The issue was not reproducible with the url shared. Could you let us know if you are behind a proxy?.

[2017-02-27 12:13] LokizFenrir opened #2759 "Markdown ignored on requests viewdocs"
**_Version/App Information:_**
Postman v4.10.2
Win 7 Professional SP1
Interceptor disabled
Always been there

**_Expected behaviour:_**
**Given** description is added in markdown to either sub collection folders or requests themselves
**then** markdown should be applied
**when** viewing the collection "ViewDocs"

**_Steps to reproduce the problem:_**
Add markdown description to any sub collection

[2017-02-27 12:27] vegetableman commented on #2747
@jayasimharr Could you share a screenshot of the `Timing` tab from the network panel of the devtools?. To open up the devtools, you could refer: https://www.getpostman.com/docs/errors.

[2017-02-27 12:30] vegetableman commented on #2746
@joelhellman Thanks for letting us know about this issue ^_^. However, this might cause issue for existing users, who are used to the edit and enter flow.

[2017-02-27 12:37] vegetableman commented on #2750
@Pr1Smiley Thanks for posting this issue 👍 . Could you share screenshots of the `Postman Console` (Native app) and devtools (Chrome app) for the request?. To access those tools, you could refer: https://www.getpostman.com/docs/errors

[2017-02-27 12:40] yasmeenhashem opened #2760 "Postman does not send any request... not working at all"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-02-27 12:52] vegetableman commented on #2748
@SORC3r3r Could you reload the app and check if the changes made to the duplicate environment are persisted on the original environment?

[2017-02-27 13:02] SORC3r3r commented on #2748
@vegetableman If I create a duplicate, do changes in the duplicate, close the application and restart it - the changes are not persisted to the original.

[2017-02-27 13:06] vegetableman commented on #2748
@SORC3r3r The issue is quite intermittent. Tagging this as a bug. Will keep you posted.

[2017-02-27 14:02] Structed commented on #739
+1

[2017-02-27 14:06] vegetableman commented on #2760
@yasmeenhashem Could you fill in the details above? so that we could help you better ^_^.

[2017-02-27 15:22] vegetableman commented on #2759
@LokizFenrir Could you elaborate on the issue with screenshots?. We are not able to reproduce it.

[2017-02-27 15:42] SORC3r3r opened #2761 "feature request: export sub folders"
feature request:
It would be nice to directly export sub folders as a collection.
I think the only way to do this now would be to duplicate the sub folder and move it to a 1st lvl folder and then export the 1st lvl folder.

Another useful feature would be the possibility to move a 1st lvl folder to another folder - to make it a sub folder of another 1st lvl folder.

[2017-02-27 19:18] joelhellman commented on #2746
Perhaps as an option if others prefer how it works today, then? Like `[x] Use ctrl-enter instead of enter to send requests`.

While you will get used to how it currently works, if that means first firing off a unintentional request or two, I would prefer a less 'eager' default shortcut.  When I shared my library with my colleague (who didn't use Postman) he triggered a POST request right away when

[2017-02-27 19:57] vaishnavidesai opened #2762 "No support for WSSE authorization type"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Chrome App
 3. OS details:  x86-64
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Feature not present in postman at all.
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chro

[2017-02-27 20:55] thurt opened #2763 "Duplicating request does not properly select it"
1. Postman Version: v4.10.2
 2. App (Chrome app or Mac app): mac app
 3. OS details: osx el capitan v10.11.6
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: since the duplicate request becomes highlighted after performing a duplication, i expect that the neighboring panel would be updated

[2017-02-27 22:31] heathgr opened #2764 "Can't capture requests in mac native app because I can't start a proxy server."
Version/App Information:

 1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 10.11.6
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: It has always been there.
 6. Expected behaviour: I'd expect a proxy server to start, and to get a notification that it has started as described in thi

[2017-02-28 01:13] Olf42bur commented on #2754
Hello @vegetableman ! Thank you for your answer.

I don't think I'm behind any proxy.

I have no clue how this can happens; But well, after the weekend, everything works good !

I'm lost about what could have happened, but we can close this ticket, for the moment :)

[2017-02-28 02:49] ios7hash commented on #285
+1 Needed since before 2013!  Including a custom Authorization Type that sets variables with Test scripts that clear them would be sufficient and seems straight forward.

[2017-02-28 05:15] SamvelRaja commented on #2764
Hey @heathgr the issue had been identified before, we are in track of it. You could continue working in our canary app which can be downloaded from [here](https://dl.pstmn.io/download/channel/canary/osx_64).

Duplicate of #2727

[2017-02-28 07:04] heathgr commented on #2764
The canary app works like a charm.  Thanks for you help @SamvelRaja.

[2017-02-28 08:51] tobeorla commented on #2369
Yep, happens to me too. Windows 10. Guess it's time to uninstall it and keep using the extension.

[2017-02-28 10:14] stianlagstad commented on #2517
I'm having some problems parsing dates in the ISO8601 format. My request looks like this:
`{{url}}?departure=2017-03-01T12:05:00+01:00`
When I fire this off in the postman app, debugging my app shows the incoming string as "2017-03-01T12:05:00 01:00". This is not what I want - I want to keep the `+` sign.

But if I generate a cURL request I get this:
`curl -X GET "http://myUrl?departure=2017-03-01

[2017-02-28 10:21] SamvelRaja commented on #2517
@stianlagstad Can you provide the version of the app you face this?
I am testing in the current 4.10.2 version of the Mac app and it sends the %2B as expected.
<img width="813" alt="screen shot 2017-02-28 at 3 46 33 pm" src="https://cloud.githubusercontent.com/assets/5114052/23401401/921def3e-fdcd-11e6-9baa-6d907488b5c4.png">

[2017-02-28 11:02] stianlagstad commented on #2517
I'm getting the same as you for the `url`, but look at `args.departure` above. That contains a space, which is not what I want. I want `args.departure` to be "2017-03-01T12:05:00+01:00", not "2017-03-01T12:05:00 01:00".

Again: The generated cURL request works:
`curl -X GET "http://echo.getpostman.com/get?departure=2017-03-01T12:05:00%2B01:00"`

Also:

[2017-02-28 11:15] SamvelRaja commented on #2517
@stianlagstad My bad, Attached a wrong screen shot, yes i am getting the '+' in the args.departure, if i send the `departure=2017-03-01T12:05:00%2B01:00`  as query param.

![screen shot 2017-02-28 at 4 43 02 pm](https://cloud.githubusercontent.com/assets/5114052/23403210/119a7140-fdd5-11e6-8996-4a9167ce329d.png)

[2017-02-28 11:22] stianlagstad commented on #2517
Then there's a difference between the behaviour in your app and in mine. This is what I see:
![screenshot from 2017-02-28 12-21-09](https://cloud.githubusercontent.com/assets/4340859/23403450/7aa0487e-fdb0-11e6-9a9d-1b863f8a46a9.png)

Can I fix this somehow?

I'm using Postman v4.10.2 on Ubuntu 16.04.

[2017-02-28 14:46] NekoKikoushi opened #2765 "RAML 1.0 Folder Import Bug Due to Typed Fragments"
Hi guys! Thanks for such a great product! First time reporter here!

While making a collection for the company I work for as a QA Engineer (via Windows 10 64bit on Postman v4.10.2) I noticed RAML folder imports are supported (which we're using already for our API documentation). However it doesn't appear that Postman supports Typed Fragments as defined in the RAML 1.0 specification. Specifically w

[2017-02-28 14:49] MrJ0rdan commented on #2765
![](https://files.slack.com/files-tmb/T025D81RC-F4B695WDQ-58de020767/pasted_image_at_2017_02_27_06_05_pm_1024.png)

[2017-02-28 16:48] gavinr commented on #1850
I am having same issue as @DirtyJerz above.

[code]

[2017-02-28 17:04] alan-givati opened #2766 "Option to remove close buttons from tabs"
The close button takes up a large amount of space on each tab, and most importantly its very easy to click on accidentally.  Please add an option to disable close buttons.  Obviously this works only if there is another mechanism to close tabs (like a keyboard shortcut or middle-click).

[2017-02-28 17:13] planux commented on #285
+1. Now that Chrome Apps are deprecated and Postman will be made available exclusively as a native(ish) app, it seems like the limitations mentioned above about not being able to throw an alert, etc. should be a non-issue...?

[2017-02-28 21:26] mdsimpson commented on #932
`{{echo_digest_nonce}}` doesn't work for me either.

Work-around: I put the following code in the "Tests" tab to grab the nonce value and set it in the environment. Your request fails the first time, then the nonce is set and it succeeds after that. When the nonce expires, then you'll see it fail once on the next request when it resets the nonce.

[code]

[2017-02-28 21:35] dvishniakov opened #2767 "Chrome extension appends GET parameters on every request when OAuth 1.0 helper is used"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Chrome affected. Mac version is not affected
 3. OS details: OS X El Capitan 10.11.6
 4. Is the Interceptor on and enabled in the app: Tried both. No difference
 5. Did you encounter this recently, or has this bug always been there: I didn't use Postman before
 6. Expected behaviour: OAuth parameters from the helper should replace themsel

[2017-02-28 22:28] harryjday commented on #1235
Any update on this?

[2017-03-01 04:21] theGhostJW commented on #1180
+1

[2017-03-01 05:57] urishalit commented on #1818
This happened to me constantly
Version: 4.10.2 Chrome Version 54.0.2840.71 (64-bit). My OS is Ubuntu 16

I had something like 15 tabs open, after each crash it would resume all the tabs, and then after about 2-4 requests it would crash again. I am guessing somehow it got to an illegal state or something of the sort.

Seems like closing all the tabs has resolved the issue (or made it more scarce)

[2017-03-01 06:04] romanwozniak commented on #1104
+1

[2017-03-01 07:15] tfchen2400 opened #2768 "problem about httpresponse code 304 costs too long"
1. Postman Version:4.10.2
 2. App (Chrome app or Mac app):Chrome app
 3. OS details:win10
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[2017-03-01 08:21] bhawna2109 commented on #285
Hey guys, our canary build now supports variable highlighting, along with autocomplete menus and tooltips for variables!

Latest Canary builds are available here-
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_64
Linux 32-bit: https://dl.pstmn.io/downl

[2017-03-01 08:36] SamvelRaja commented on #2517
@stianlagstad  This seems really odd :(
I would like you to open the app in debug mode to find the underlying request sent.

for that close the postman app if already opened, then you need to run the following command in your terminal

`NODE_DEBUG=request /PATH_TO_THE_APP/Postman.app/Contents/MacOS/Postman`

where **PATH_TO_THE_APP** would be either to your `/Downloads/` folder or `/Applications/

[2017-03-01 09:09] stianlagstad commented on #2517
Like this?

[code]

I removed what was in `jar.RequestJar._jar.CookieJar.store`, because that looked like my own unrelated data.

What I see in postman is the same as before:
![screenshot from 2017-03-01 10-12-39](https://cloud.githubusercontent.com/assets/4340859/23453188/a74b1860-fe67-11e6-86b2-16149482ff7e.png)

[2017-03-01 09:23] stianlagstad commented on #2517
It must have to do with how the Postman app sends the request, because if I do the cURL-call it works as expected:

[code]

The response there is what I want.

[2017-03-01 09:36] LokizFenrir commented on #2759
Seems there was a caching issue on my local machine on chrome viewdocs ended up with not decorating the markdown descriptions properly.

Can confirm is working properly.

[2017-03-01 09:36] #2759 closed, assigned to nobody

[2017-03-01 09:37] Silviu-Surcica commented on #2727
SamvelRaja I have downloaded the version from canary for win64 and the issue is not fixed.

[2017-03-01 10:16] cdraeger commented on #285
@bhawna2109 That looks really nice, and I like the features! However, it unfortunately does not solve what this ticket was created for. We would need an input prompt, e.g. at the time of request sending, for any variable that is currently not defined.

Assume you have 3 environments: development, stage, production. There's a `password` variable defined for dev and stage, but not for production. If

[2017-03-01 11:16] SamvelRaja commented on #2727
@Silviu-Surcica Can you give me some more details on your issue?
Just make sure your are in 4.10.3-canary01 version of the app.

[2017-03-01 11:36] Silviu-Surcica commented on #2727
@SamvelRaja Apparently i have Version 4.10.2 (Postman for windows) but I have downloaded it from the above links that you posted.

My issue is that I can't select Target History and when I click connect, nothing happens.
**The download links for windows versions are for version 4.10.2, not for 4.10.3-canary01.**
I managed to download the canary version, and it is working.
Thank you!

[2017-03-01 12:19] SamvelRaja commented on #2517
@stianlagstad The log you shared ensures that postman actually sending the %2B as it is to the server 😢  I am still wondering why it is showing differently for you in the response UI.
can you make sure that app sends the request in the format  as you expected even to your server as well ? through your app server logs.
And cURL, yeah app should behave in the same way.

[2017-03-01 13:13] SamvelRaja commented on #2727
@Silviu-Surcica there was an issue with our release server in serving the canary apps, now you can download the canary app through the link provided. Let me know if you still gets downloaded the 4.10.2 version instead pf PostmanCanary 4.10.3-canary01 app.

[2017-03-01 13:38] mcanepa commented on #2742
The same...

Can I do something else?

![postman20170301](https://cloud.githubusercontent.com/assets/25961439/23462088/3a5ac4cc-fe6b-11e6-8752-1fddb1490421.jpg)

[2017-03-01 13:47] stianlagstad commented on #2517
I'm not sure if that is right. There's clearly a difference between what reaches my server when I send the request from within the postman app (there's a space in the date), versus if I generate cURL and send the request through the command line (`%2B` instead of a space in the date). I'd stretch it as far as to wonder whether the logs that you asked me to check are correct? If the same error is o

[2017-03-01 16:02] ghost commented on #1137
+1...this would be really nice to have for testing our internal-use API's!

[2017-03-01 16:39] PFarrell89 commented on #2763
Confirmed in Windows client

[2017-03-01 17:20] lachaib opened #2769 "Loosing json body when opening saved response"
1. Version 4.10.2
 2. Chrome app
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: I got it only since my last update (previous version unknown but rather recent
 6. Expected behaviour:
When opening a saved response from a request, the body content of the request gets emptied, which is not expected

[2017-03-01 18:30] JeanFrancoeur opened #2770 "Feature Request : Enable/Disable toggle for each request in the collection"
Hi!

We need a way to enable or disable any request in a collection.  This way, it will be easier to build/test our request chain.

Thank you in advance,
Jean

[2017-03-01 18:36] JeanFrancoeur opened #2771 "Feature Request : Able to prepare the body inside the Pre-request Script tab"
Hi!

Actually, we need to prepare our body request inside the previous request by using a global or an environment variable.  It could be more useful to be able to prepare the body inside the Pre-request Script tab of the current request.  This way each request can be independently prepared, even in a complex workflow collection.

Thank you in advance,
Jean

[2017-03-01 19:31] kovacs commented on #1885
+1 I'm trying to migrate our services from depending upon using an embedded swagger UI to using Postman and this is just about a deal breaker because of how painful it is to not be able to easily construct payload objects. Is there a timeline for adding this? I can't imagine what could possibly be higher priority than such a fundamental feature outage.

[2017-03-01 20:03] yelena1 opened #2772 "Tests- JSON.parse(responseBody) extracted value doesn't correspond with the value in the response body"
Hello, I have 2 variables for the environment.
token
accountId

I have 2 APIs. API1 generates token in Tests:
var data = JSON.parse(responseBody);
postman.setEnvironmentVariable("token", data.token);

API2 generates accountId in Tests and uses the token from API1:
var data = JSON.parse(responseBody);
postman.setEnvironmentVariable("accountId", data.accountId);

I checked  The dynamically generated

[2017-03-01 20:05] #2754 closed, assigned to nobody

[2017-03-01 21:38] oferze commented on #1137
@yuri-martynov @KozhevnikovDmitry @Stealth22 you're trolling right? :)

[2017-03-01 21:55] mbuquet opened #2773 "Option to disable tabs / Only a single tab"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10 Pro 64-bit
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: For a while
 6. Expected behaviour: Opening requests (even if a change was made) shouldn't open a new tab

Hello,

I want to request an option to remove tabs altoget

[2017-03-01 23:07] sinaa2000 opened #2774 "Shared team collections URL"
Hi,

I've been using Postman for a while now and just upgraded to Pro to have the team sharing capability.
I very much like it but there's an issue that I haven't been able to find any way around it, I read through the issues here but haven't found my specific issue and a solution for it.
Since we have an app that has access to collection URLs online to run them as they get updated, I just wanted

[2017-03-02 00:11] kmix commented on #1228
Any updates on giving us the ability to manage cookies from pre-request scripts?

[2017-03-02 02:51] democraci commented on #2369
Same issue on my windows 7, curl not honoring host file too

[2017-03-02 04:41] adamtickner commented on #2501
We are running a trial now and access control rights are important for us.

Not the specific scenario above but we would like to have control over who can publish, based on roles.

[2017-03-02 04:44] adamtickner commented on #824
Is this a possibility? I appreciate the difficulty but some sort of secure config value option similar to azure would be incredibly helpful for us.

[2017-03-02 08:04] Daszczu opened #2775 "Cannot change headers without deleting them first"
Hello,
When I choose Presets in Headers values aren't replaced but appended.

Version/App Information:
 1. Postman Version: **Postman for Chrome Version 4.10.2**
 2. App (Chrome app or Mac app): **Chrome 56.0.2924.87**
 3. OS details: **win / x86-64**
 4. Is the Interceptor on and enabled in the app: **yes**
 5. Did you encounter this recently, or has this bug always been there: **always**
 6. Exp

[2017-03-02 08:09] Daszczu opened #2776 "Cannot change name of saved response"
Hello,
I just want to rename my saved responses. That's all.

Version/App Information:
 1. Postman Version: **Postman for Chrome Version 4.10.2**
 2. App (Chrome app or Mac app): **Chrome 56.0.2924.87**
 3. OS details: **win / x86-64**
 4. Is the Interceptor on and enabled in the app: **yes**
 5. Did you encounter this recently, or has this bug always been there: **always**
 6. Expected behaviour:

[2017-03-02 08:36] vegetableman commented on #2776
@Daszczu Thanks for posting this issue 👍 . The feature is part of the roadmap, will keep you posted ^_^.

[2017-03-02 08:54] Daszczu commented on #2707
I've got the same issue. My keyboard is Polish and only 'ALT + E' doesn't work, so I cannot type 'ę'.

[2017-03-02 10:30] KumG opened #2777 "Asynchronous Javascript in tests"
Hello,

I have a request that returns file (CSV) as binary string.

I'm trying to check the content of the file in my tests. The problem is that I use a FileReader that is asynchronous and works with events.

Is there any way to wait for an event before continuing ? Or a workaround ?

The code is working with the Chrome console, but I can't do a test with the result...

Thanks

`

	getCsv(myBlob);

[2017-03-02 10:57] bhawna2109 commented on #285
@cdraeger thanks for reiterating your use case, and I agree that this is a pretty common scenario. Improving the workflow around variables is a part of our [near term roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers), so you will soon have the ability to test your request against different values for a variable in a quick and easy manner. We're planning to do this by introduci

[2017-03-02 11:14] KINFOO opened #2778 "Unable to install Postman from Chrome Web Store"
1. Postman Version: __4.10.2__
 2. App: __Chrome App__
    - I try to install from __Chromium 56.0.2924.76__.
 3. OS details: Debian
    - `Linux hendrix 4.9.0-1-amd64 #1 SMP Debian 4.9.6-3 (2017-01-28) x86_64 GNU/Linux`
 4. Is the Interceptor on and enabled in the app: __No__
 5. Did you encounter this recently, or has this bug always been there: __Recently__
 6. Expected behaviour:
    - Being a

[2017-03-02 11:17] hsteele-sonovate commented on #682
Throwing my support in for being able to order folders without having to change the name. Given the fact that the test-runner enforces execution by order, being able to set that order without workarounds is essential.

[2017-03-02 12:05] ppragnya commented on #1818
Postman has been crashing a lot constantly on my system recently too.
Version  4.10.2 & Chrome Version 56.0.2924.87 (64-bit) . My OS is a 64-bit OS of Windows 7 Enterprise Edition .

Even if I have a few (i.e. 2-3) tabs open but 2 windows of the postman open, it still keeps crashing for me.
I am sure it has been working well with multiple windows & tabs opened before.  Has there been any recent up

[2017-03-02 12:09] marlarius opened #2779 "Proxy not working in Linux app"
The built-in proxy in the Linux app does not work. When you press Connect, nothing happens. No error message, just nothing.

Postman-linux-x64-4.10.2 on Linux Mint 17.3 on Cinnamon, 64-bit

[2017-03-02 13:13] sdnts commented on #2779
@marlarius This is a known issue, and we released a fix for this with 4.10.3. Can you try updating and confirm?

[2017-03-02 13:18] vegetableman commented on #2745
@vgadolin The latest version `4.10.3` supports closing all tabs. You just have to right click on the tab to see the options.
![screen shot 2017-03-02 at 6 46 56 pm](https://cloud.githubusercontent.com/assets/1330851/23508651/bacbf8ac-ff78-11e6-8c28-5fe388780e24.png)

[2017-03-02 13:18] sdnts commented on #2778
Hi Kevin!

Does this machine have permissions to install Chrome extensions? I've seen some companies that disable this. Can you confirm if this is not the case with you?
In any case, you can also try out our [native apps](https://getpostman.com/apps). Google will end support for Chrome apps soon.

[2017-03-02 13:19] vegetableman commented on #2731
@toneplex You could update to latest version `4.10.3` which takes care of the issue ^_^.

[2017-03-02 13:19] #2731 closed, assigned to vegetableman

[2017-03-02 13:19] vegetableman commented on #2705
@PFarrell89 You could update to latest version 4.10.3 which takes care of the issue ^_^.

[2017-03-02 13:19] #2705 closed, assigned to vegetableman

[2017-03-02 13:19] sdnts commented on #2779
Closing, as this is being tracked here too: https://github.com/postmanlabs/postman-app-support/issues/2727 :)

[2017-03-02 13:19] #2779 closed, assigned to nobody

[2017-03-02 13:32] toneplex commented on #2731
Thanks @vegetableman, that fix works great!

[2017-03-02 14:01] mvkrish commented on #1050
is it possible to update the request.data?, for example say usually i send 10 input but for a quick test i need to send only one.

[2017-03-02 14:52] tobtesting commented on #697
+1

[2017-03-02 17:15] planux commented on #285
Prompt... we just want a prompt. A popup (or other UI affordance) that lets a Postman user enter a value -- at run-time -- for an Environment or Global variable that they previously created (and, maybe, marked as "prompt at run time"). The value for the variable that is entered in the prompt should not be retained -- meaning it should not be stored on disk, nor synced with the Postman cloud back-e

[2017-03-02 18:01] jutley-hiya commented on #2195
I would really like this feature as well. Most of my collections remain static, and I intentionally make one-off modifications, knowing that I don't want the changes to be saved. If I could turn off this dialog, I'd certainly lose some work I wanted, but I'm positive that I'd get way more time back than having to tediously close and confirm each individual tab.

[2017-03-02 21:43] marlarius commented on #2779
Yes, it works!

[2017-03-02 22:37] Voxis commented on #1137
@oferze probably not I guess :). see when I get into this thread and I see a lot of +1s I would want to add a comment "+1" to support this idea as I did. It could be a "sad" move from some people's perspective. It is totally fine from my perspective, however.

But in the end, no one should tell others what to do what not to do. "Oh you should jump off the bus at this stop not that one so you walk

[2017-03-02 23:48] nlwillia opened #2780 "Generate Code Snippets does not encode HTTP request line correctly"
Postman for Chrome 4.10.3 on Windows 10

If you click the Code link to preview your request or generate a code snippet, the HTTP format does not encode the query parameters in the URI of the request line correctly.

[code]
It should be:
[code]
None of the other formats have the problem.

[2017-03-03 00:07] oferze commented on #1137
@Voxis nice psychological observation! Including the _nobody cares lol_. Quote from Metallica: Sad But True.

I guess GitHub wasted their time developing this feature in response to users saying "It's better to aggregate support signals for tickets rather than having eveyone +1'ing like it's a social network"

[2017-03-03 05:07] SamvelRaja commented on #2764
@heathgr the fix has been rolledout in our 4.10.3 app. kindly update and verify the same 😄

[2017-03-03 05:09] SamvelRaja commented on #2727
@sunjeet-khokhar  @Silviu-Surcica  @clarketm  @kdcarlisle42  the fix has been rolledout in our 4.10.3 app. kindly update and verify the same 😄

[2017-03-03 05:27] SamvelRaja commented on #2771
@JeanFrancoeur you can always set the environment or global  value with the body you generated in the  pre request script which is been used in your request body. Attaching you the GIF with the use
![env in pr script](https://cloud.githubusercontent.com/assets/5114052/23539267/257c51a6-0000-11e7-93bc-ad0c6eab6bf4.gif)
case, kindly let me know if i miss something

[2017-03-03 06:29] vegetableman commented on #2653
@gregjan Could you update to the latest version `4.10.3` and check if the issue still exists?. Also, You could zoom in and out, even if the dialog is open.

[2017-03-03 07:02] #2763 closed, assigned to nobody

[2017-03-03 07:09] sdnts commented on #2742
@mcanepa Something else looks off here. AFAIK, Windows uses a forward slash (`/`) to separate file paths, not a backslash(`\`). Your path seems to have a weird combination of both. Have you tried completely removing and reinstalling? (4.10.3 is the latest version as of now)

[2017-03-03 07:17] sdnts commented on #2767
@dvishniakov Can you try force updating to 4.10.3? I'm unable to reproduce this on 4.10.3

[2017-03-03 07:23] sdnts commented on #2766
Hi @alan-givati! Do you have tons of tabs open? The close button, currently, is visible only when you hover over a tab, but stays invisible other times, mimicking the behaviour of most modern browsers. Is this not ideal?

[2017-03-03 07:24] sdnts commented on #2765
Hi @MrJ0rdan Thanks for letting us know! We'll look into this!

[2017-03-03 07:29] bhawna2109 commented on #285
@planux yes, that's correct, we're working on this. Will update this thread once it hits our canary build.

[2017-03-03 09:20] KINFOO commented on #2778
@madebysid I am administrator of my machine.

[2017-03-03 10:13] sandropons opened #2781 "[Feature] Request: Ability to apply conversions to param values in Key-value edit"
Hello!
I'm currently using Postman for Chrome V.4.10.3 on win 10 / x86-64.
Usually I have to enter processed strings in params or headers key-pair values.
I think it would be cool to have some string processing functions to convert string values so i can insert human-readable values and have postman convert it on sending.
In fact, i have to convert values into md5, base64, sha1 and the like before

[2017-03-03 10:18] KINFOO commented on #2778
Just switched to __native app__.

Thanks

[2017-03-03 10:18] #2778 closed, assigned to nobody

[2017-03-03 12:59] vegetableman commented on #2773
@mbuquet Thanks for letting us know about this issue 👍  . `Close all tabs` is still around on the right click of tab name ^_^.

To summarise your issue :
- Reopen tabs on startup - This could be a toggle-able setting. The performance impact of multiple tabs should be negligible, unless you have way too much request data on these tabs.
- Single tab / No Multiple tabs - This will take us some time t

[2017-03-03 13:20] vegetableman commented on #2753
@hlubovac The native app allows close all tabs, close all but this. You just need to right click on the tab name.

Subfolder support is being tracked here: https://github.com/postmanlabs/postman-app-support/issues/907 and is being worked on.

Could you create two issues for : Close tabs to the left/right and rename variable occurrences?, so that it's easy for us to keep track of.

[2017-03-03 13:24] vegetableman commented on #2657
@vgadolin You could right click on the tab name to close all tabs.
![screen shot 2017-03-02 at 6 46 56 pm](https://cloud.githubusercontent.com/assets/1330851/23552598/c217e704-0042-11e7-8aea-fd9ae467799a.png)

[2017-03-03 13:26] vegetableman commented on #1901
@NRaf The issue has been fixed on recent versions of the app. Closing this, feel free to reopen if the issue still exists ^_^.

[2017-03-03 13:26] #1901 closed, assigned to nobody

[2017-03-03 13:39] sdnts commented on #2587
@joaqo 4.10.3 should fix that as well :D Can you try updating and confirming?

[2017-03-03 13:39] #2764 closed, assigned to SamvelRaja

[2017-03-03 13:39] #2727 closed, assigned to SamvelRaja, sdnts

[2017-03-03 13:40] #2587 closed, assigned to sdnts

[2017-03-03 13:40] #2653 closed, assigned to vegetableman

[2017-03-03 14:23] vegetableman commented on #2752
@aripalo You could switch to the Raw mode and then copy, which would give you the desired result. In case of pretty mode, the copy to clipboard applies the same formatting as the response viewer to keep the result same.

[2017-03-03 14:59] NekoKikoushi commented on #2765
Thank you we really appreciate that, keep up the great work!

[2017-03-03 15:01] JeanFrancoeur commented on #2771
Hi!  You are right, my bad.  There was a JSON serialization related issue.  The received body was in JSON string, not in object format, so the modification was just ignored. Thank you for your time.

[2017-03-03 15:01] #2771 closed, assigned to nobody

[2017-03-03 17:32] heathgr commented on #2764
Yep, it's working great!

[2017-03-03 20:26] joaqo commented on #2587
@madebysid Its working perfectly now, thanks!

[2017-03-03 21:31] sutdisi commented on #2617
+1 That would be awesome feature.

[2017-03-03 21:33] sutdisi commented on #843
@bmmathe Seems like there is a separate bug for that https://github.com/postmanlabs/postman-app-support/issues/2617
If you show your support there, maybe it will get done faster :)

[2017-03-03 22:26] JamieDixon commented on #2545
I have this same issue. Unable to paste using `ctrl+v` and paste is greyed out in the context menu.

I just discovered that paste works from the menu bar at the top of OSX. I get the paste option there under "edit" 👍

[2017-03-03 22:38] vgadolin commented on #2657
ok thank you for this information and for adding this!

[2017-03-03 22:54] dvishniakov commented on #2767
@madebysid I was able to reproduce it:
Postman for Chrome  Version 4.10.3
OS X / x86-64
Chrome 56.0.2924.87

[2017-03-03 23:02] soluwalana commented on #1490
I agree with shevyf, this issue should probably be resolved.

[2017-03-04 07:39] S0im opened #2782 "Requests on Postman-win64-4.10.2-Setup.exe dosn`t work"
1. Postman Version:Postman-win64-4.10.2-Setup.exe
 2. App (Chrome app or Mac app):
 3. OS details:win10 x64
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools

[2017-03-04 13:02] starlight54 commented on #783
+1 Would find this very useful too

[2017-03-04 13:34] nadav96 opened #2783 "Cookies tab (under the send button), sometimes showing and sometimes not."
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10 64 bit
 4. Is the Interceptor on and enabled in the app: true
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: cookies tab should always be visible, at least when cookies are set.
 8. Screenshots (if applicable)
![postman_cookie_lack](https://clo

[2017-03-04 17:17] vegetableman commented on #2783
@nadav96 The chrome app doesn't have the cookie manager, only the native app does. I guess you have been switching between the two, too often 😄

[2017-03-04 17:17] #2783 closed, assigned to nobody

[2017-03-04 18:26] Tapppi opened #2784 "Changing environments during a request that writes a variable overwrites environment"
Changing an environment from one to another during a request that writes an environment variable in its tests causes the new environment to be overwritten with the one that was in use started the request. Restarting the app, the wrong values have been persisted.

 1. Postman Version: Version 4.10.2 (4.10.2)
 2. App (Chrome app or Mac app): Native mac app
 3. OS details: macOS v10.12.3 (16D32)
 4.

[2017-03-04 19:10] shubhangi9595 opened #2785 "4.10.3: Proxy setting dialog not prompted on clicking interceptor icon on Windows machine"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Chrome app on Windows
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Using this first time
 6. Expected behaviour: clicking interceptor icon should launch proxy setting dialog
![postman](https://cloud.githubusercontent.com/assets/2618

[2017-03-05 10:26] alan-givati commented on #2766
Hi @madebysid I prefer to middle-click to close tabs.  That way there is no chance I can accidentally close a tab when all I wanted was to select it.  At the moment its easy to accidentally close tabs, especially when there are many open.

[2017-03-05 20:22] JuanDMeGon commented on #2758
Having the same issue. Confirmed on Windows 10 with a Latin keyboard.

[2017-03-06 00:17] nathaniel-holder commented on #1799
Agreed!  This is implemented for request headers.  I'd use this much more often than the existing functionality that exists for headers.
FYI, this is a dup of issue "URL parameters should have a checkbox like header params" #785

[2017-03-06 00:19] nathaniel-holder commented on #785
+1

[2017-03-06 08:52] jeroen256 commented on #166
Would like to use the MERGE http method. I don't control the webservice and it won't accept X-HTTP-Method-Override header. Could you please add support for custom http methods?

[2017-03-06 09:59] lekhnath commented on #785
Checkbox in params section would help a lot

[2017-03-06 10:04] duyanhnp commented on #1167
Hi @abhijitkane,

I'm still getting this error. I specified a variable as null in CSV file but this variable is returned as variable name with its curly braces.

![image](https://cloud.githubusercontent.com/assets/10646367/23605276/8f6c40e0-028e-11e7-9bc8-73ad27ae4f53.png)

![image](https://cloud.githubusercontent.com/assets/10646367/23605329/d23eb7fe-028e-11e7-991a-b31ad298ad6f.png)

[2017-03-06 12:55] vegetableman commented on #2785
@shubhangi9595 The proxy dialog is only available for the native app. In the chrome app, the icon is   related to interceptor which also allows for capturing requests but to do so, you need to install the postman interceptor. https://www.getpostman.com/docs/capture

[2017-03-06 12:55] #2785 closed, assigned to nobody

[2017-03-06 12:59] #2752 closed, assigned to nobody

[2017-03-06 14:12] d-schmidt commented on #2745
@vegetableman I've got no right click menu in 4.10.3. Do I have to activate it somewhere?

[2017-03-06 14:41] mbuquet commented on #2745
@d-schmidt Same here, I do not have a right click menu on 4.10.3 (Windows app). ( @vegetableman )

[2017-03-06 16:41] rchadha commented on #2115
@sobtiankit awesome!! thanks

[2017-03-06 21:53] dvishniakov commented on #2302
+1 for RSA-SHA1
Support for the signature using asymmetric keys would be good. It's supported by OAuth 1.0 and it's also supported in JWT which gained a lot of popularity

[2017-03-06 21:54] dvishniakov commented on #2678
+1 for asymmetric encryption and signatures (OAuth 1.0 and JWS/JWE)

[2017-03-06 21:55] dvishniakov commented on #1607
+1 for asymmetric cryptography

[2017-03-06 21:56] jburrill opened #2786 "White screen due to large memory usage"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): App
 3. OS details: win32 6.1.7601 / x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Since today's update
 6. Expected behavior: No disruption to the UI
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ fo

[2017-03-06 23:54] Zero3 commented on #2739
@vegetableman sounds like an improvement!

[2017-03-07 00:56] danaugrs opened #2787 "Two colons in URL prevents any further requests from completing"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Chrome 56.0.2924.87
 3. OS details: Windows 7 Enterprise
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Noticed it recently.
 6. Expected behaviour: I expect a request to a bad URL (e.g. with two colons) to timeout. I expect that cancelling that bad request sho

[2017-03-07 05:55] laith commented on #697
@shamasis when shall we expect this ?

[2017-03-07 07:35] vegetableman commented on #2786
@jburrill Could you share a screenshot of the devtools console and the app?. To open up the console, you could refer: https://www.getpostman.com/docs/errors.

[2017-03-07 07:55] bartdkmediahuis commented on #824
Any news on this topic ?

[2017-03-07 08:35] ghost commented on #1441
how to send jwt token and file from postman

[2017-03-07 11:23] vegetableman commented on #2782
@S0im Thanks for posting this issue 👍 . It could be an url encoding issue on the native app. Could you share the url with domain name and other sensitive bits redacted?. You could also share a screenshot of the `Postman Console` for the request for us to debug. To open up the Console, you could go to `View -> Show Postman Console`.

[2017-03-07 11:38] vegetableman commented on #2775
@a85 The current behaviour is to merge preset values with the existing headers. Should selecting a preset, instead, replace the current headers entirely with the preset one?

[2017-03-07 11:49] vegetableman commented on #2620
@workabyte Could you verify if the issue is fixed in the latest version `4.10.3`?

[2017-03-07 12:31] hiredgun commented on #1368
+1

[2017-03-07 13:00] hiredgun opened #2788 "Replace tv4 JSON schema validator with Ajv"
Is there any particular reason why tv4 is used as the JSON-schema validator? Its performance seems horrible comparing with [Ajv](https://github.com/epoberezkin/Ajv)  - according to [json-schema-benchmark](https://github.com/ebdrup/json-schema-benchmark). Can tv4 be replaced with [Ajv](https://github.com/epoberezkin/ajv) which is way faster and regularly updated? At the moment Ajv supports even JSO

[2017-03-07 14:21] thurt commented on #2763
@PFarrell89 @madebysid fix appears to be included in v4.10.3

![screen shot 2017-03-07 at 9 16 32 am](https://cloud.githubusercontent.com/assets/8955144/23660616/fbffe2f0-0317-11e7-9139-3a3559e761b5.png)

[2017-03-07 16:24] jburrill commented on #2786
Ummmm.  Sure?  But they are not very descriptive ;-)  Here you go....
![postmanappwhite](https://cloud.githubusercontent.com/assets/19514081/23666288/9642485c-0328-11e7-9991-bab23efba8d7.png)
![postmandevtools](https://cloud.githubusercontent.com/assets/19514081/23666302/9da8706c-0328-11e7-8f6e-b667e5f59d90.png)

[2017-03-07 16:52] plremis commented on #1475
+1

[2017-03-07 16:56] nedkoh commented on #754
Not having nested folders is a big impediment of the product's usability. This makes organizing and working with large apis extremely difficult. Same applies to a few endpoints which support many combinations.

[2017-03-07 17:01] thardy commented on #884
I experience this bug frequently as well, and it's very frustrating.  Postman just completely stops working.

Uninstalling Postman Interceptor and reinstalling is the only reliable way to get it working again.

Please fix.

[2017-03-07 17:46] nedkoh commented on #907
+1 sounds like the insanity keeps going on. We're evaluating moving away from using Postman due to some of its limitations including organization and ACLs.

[2017-03-07 18:23] thardy commented on #884
I just had it start failing again after a handful of calls, placing Postman in paperweight status yet again.  If it's any help in troubleshooting, I'm using Visual Studio 2015 in debug mode and debugging through my api calls.  Not sure if that has anything to do with the problem, but it couldn't hurt to throw that out.

I've installed Advanced Rest Client with ARC cookie exchange, and that has wor

[2017-03-08 02:28] micktion opened #2789 "Windows Native App not capturing cookies"
Postman Native app v4.10.3 win32 10.0.14393 / x64 installed on Windows 10 V1607 OS Build 14393.693 is not capturing cookies.

To replicate...

1. Open Postman
2. Create a new tab
3. Make a request that returns a cookie (I can see 200 OK as the status and Cookies(1) adjacent to the body.
![image](https://cloud.githubusercontent.com/assets/4677284/23687310/f9421c3c-0401-11e7-9caf-9fc298577f4b.png)
4

[2017-03-08 03:15] micktion commented on #2789
My work around has been to uninstall the native app and use the chrome app

[2017-03-08 04:41] bhawna2109 commented on #448
Hey guys, we now have support for this in our new data editor which is out in canary and will hit production soon. Check out the blog to know what you can do with this new editor and get the canary links - http://blog.getpostman.com/2017/02/28/introducing-the-new-data-editor/

**Pressing 'Enter' in a key or value field expands it and takes the cursor to a new line.**

Along with this, the canary b

[2017-03-08 06:46] bobhigs commented on #2232
Has there been any progress on this? I just updated to the latest version and XMLHttpRequest is still broken. There are a lot of use cases for being able to execute one request before another and postman.setNextRequest does not cover this.

Something like postman.executeRequest(requestName) would solve this issue.

[2017-03-08 08:53] vegetableman commented on #2786
@jburrill Not sure what really could be causing this issue. But you would need to keep the devtools open while you are selecting the collection requests, so that we could see the error logs.

[2017-03-08 09:46] vegetableman commented on #2745
@d-schmidt @mbuquet Did you guys right-click on the tab?
![image](https://cloud.githubusercontent.com/assets/1330851/23698604/235e08e0-0412-11e7-8668-32929685f65b.png)

[2017-03-08 09:57] mirfilip opened #2790 "Ability to post-process JSON responses"
Dealing with JSON APIs, I often want to post-process the response. Use cases can be: I'm interested only in particular fields, I want to map/filter/reduce the response etc.

There seems to be no way of directly post-processing the response in Postman. Lack of this feature often forces me to go back to CLI to do a good old `curl ... | jq '...'`.

A competitor product [paw](https://paw.cloud/extensi

[2017-03-08 10:17] vegetableman commented on #2761
@SORC3r3r Support for nested folders (sub folder) with in a collection (1st lvl folder) is being worked on. Could you elaborate on your use-case for nested collections?

[2017-03-08 10:25] vegetableman commented on #2790
@mirfilip You could map/filter/reduce the response on the test script after parsing it using `JSON.parse(responseBody)`.  The sandbox also supports lodash. To know more about the supported api and libraries, you could checkout: https://www.getpostman.com/docs/sandbox

[2017-03-08 10:39] rohanBagchi commented on #362
It works. Just ensure that you have added the interceptor & the app to the correct chrome account. As in, I have two accounts: one for work & one for personal. I added the interceptor in personal and tried to use postman installed for work. You can check by going to chrome webstore from your browser window and searching for `Postman`. If it says `Added to chrome`, it means, you have it in your cur

[2017-03-08 10:50] johntiror commented on #2242
From today I'm also facing this issue from my company network. (Chrome Version 56.0.2924.87 (64-bit)).
The proxy auth workaround it's working, but not the interceptor (that I'd prefer to use), but maybe I'm doing something wrong. I turned on the interceptor in chrome, what do I need to do inside postman?
Thanks

[2017-03-08 11:02] vegetableman commented on #2242
@johntiror You need to first authorise yourself to the proxy server through the chrome browser (a dialog for username and password would appear) and after that, the chrome app (Postman) will pass the header for subsequent requests (the interceptor needs to be turned on).

[2017-03-08 11:11] d-schmidt commented on #2745
@vegetableman Yes. The pointy finger mouse cursor does change into an arrow but the menu doesn't appear.

[2017-03-08 11:13] vegetableman commented on #2745
@d-schmidt Are you on the chrome or native app?. Could you share a screenshot of the app?.

[2017-03-08 11:34] johntiror commented on #2242
Thanks very much, but I'm currently using Chrome with no issue (no dialog), maybe I need to trigger the dialog in some way?

[2017-03-08 11:51] d-schmidt commented on #2745
I'm using the chrome app. I'm starting it using a desktop link created by chrome `chrome://apps/`.

The screenshot doesn't show much:
![postman](https://cloud.githubusercontent.com/assets/3226483/23702965/d38f8aaa-03fd-11e7-9cd6-c1e6232424ee.PNG)

[2017-03-08 11:52] vegetableman commented on #2745
@d-schmidt As of now, the chrome app does not support the tab context menu.

[2017-03-08 11:58] d-schmidt commented on #2745
So there is no way to close all or at least close without save? Closing postman closed all tabs without saving a few versions ago. Could we get this back as a setting?

The popup box asking me to save is annoying. I would also be okay with "never save" option.

[2017-03-08 15:17] nextrevision commented on #1319
Is this still in progress? I see the ability to create environment templates, but that workflow seems largely unidirectional (create an environment template once, and share it). Modifying that after the fact and distributing the changes seems to also be missing. It would be great to have the ability to sync/commit environment variables between members of the team while maintaining local, unsynced

[2017-03-08 16:27] withoutclass commented on #1522
Agree with @PetrusKiendys.  Say I have 2 collections with sub folders already, but I want to merge these two collections into a single collection while keeping them separated in their own sub folder.  This is currently impossible but would be a great feature.

[2017-03-08 16:45] mirfilip commented on #2790
@vegetableman I'm aware of that, but that's not really what I asked for.

What you say is the ability to write a test (meaning, it has a boolean output - passed or not) where you can test the response. What you see on the response window cannot be changed with tests. I can map/filter/reduce in tests, but just to do some assertions.

What I wanted is the ability to mess with the response, so that y

[2017-03-08 17:29] a85 commented on #2790
@shamasis Something to consider for pm.api.

@mirfilip Thanks for the suggestion! We have a bunch of things being worked up for the runtime sandbox. @shamasis can share more thoughts.

[2017-03-08 18:41] pastudan commented on #2401
This would be incredibly useful to me... not only for flow control, but also for linking to specific parts of auto-generated documentation, i.e. https://documenter.getpostman.com/view/321346/imgur-api/6YsWHMa#cd4dd-e8a2-8513-90d2-637c90b3ded5 (@shamasis, from your response it sounds like this id after the `#` is auto-generated)

[2017-03-08 18:42] pastudan commented on #2401
Also, is it possible to have the runner / monitor start at a specific endpoint?

[2017-03-08 19:58] juniorplenty commented on #1535
+1

[2017-03-08 20:35] alondahari commented on #1669
+1

[2017-03-08 21:17] shamasis commented on #2401
Not yet. We will track this as a feature request.

[2017-03-08 22:05] gaieges commented on #2336
Just started to get involved in postman, huge fan so far.

I have this same problem as well though. Is there an update as to where this stands?

Seems as though when I update a collection via the API I can submit a collection with the following format:

[code]

But when I request the object back from the API it basically wiped out all the variables from that clause.  Is that expected given this is

[2017-03-09 00:56] greglockwood opened #2791 "Import of cURL command with escaped single quotes not working"
Version/App Information:

 1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Recently, not sure how long it has been there.
 6. Expected behaviour: Body of request is parsed correctly and is valid JSON.
 7. Console logs (http:

[2017-03-09 06:21] vivek201 opened #2792 "Use checkboxes in the Params section of the URL"
1. Postman Version: Postman for Windows 4.10.3
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows

Feature Request
==
It would be really great if there were checkboxes in the params section just like in the headers sections. Check this [screenshot](http://prntscr.com/ehq6ch)

[2017-03-09 06:23] vivek201 commented on #2519
Yeah, this would be really helpful.

[2017-03-09 08:28] stephan-nordnes-eriksen commented on #2730
Anyone looking into this? I wish I knew how to help on this issue.

[2017-03-09 10:31] vegetableman commented on #2730
@stephan-nordnes-eriksen Am guessing you are uploading the file on binary mode?. Also, could you   confirm whether manually adding the `Content-Length` header solves the issue?

[2017-03-09 10:39] vegetableman commented on #2756
@stevemcmillen Thanks for letting us know about this issue 👍 . We are able to reproduce it and will keep you posted.

[2017-03-09 11:45] sdnts commented on #2115
Guys, closing this as #1678 looks like the same thing. We're working on making this possible. Will update everyone on that thread :)

[2017-03-09 11:45] #2115 closed, assigned to nobody

[2017-03-09 11:46] sdnts commented on #1678
Guys, we're working on something very similar to this. Will keep you guys updated on the progress!

[2017-03-09 12:02] sdnts commented on #2792
Closing as duplicate of #2519. This is on our radar :)

[2017-03-09 12:02] #2792 closed, assigned to nobody

[2017-03-09 13:44] westphalen commented on #2247
+1 Common scripts for all elements in my Collection and/or folders.

[2017-03-09 14:15] jburrill commented on #2786
I am not sure what the Dev Tools will tell you.  It is not recording anything. when the white-out occurs.  I also attach the Postman Console output.  But that is not recording any anomalies, either.

![postmanappwhite](https://cloud.githubusercontent.com/assets/19514081/23753761/a573d774-04a8-11e7-8521-11ddd386547c.png)

![postmandevtools](https://cloud.githubusercontent.com/assets/19514081/237537

[2017-03-09 14:26] jburrill commented on #2786
Definitely looks like a memory issue.  I ran Task Manager, and one Postman.exe process ran up over 3,000,000K (that's GB) of memory before the app went white.

I should note, that I had not closed out of Postman, but found I could open a New Window from the unresponsive and white app.

[2017-03-09 14:37] jburrill commented on #2786
I saw the memory rise, again, this time it continued to rise, long after the response was received.  The memory had crept up to over 3GB, again, but fell dramatically to 2GB when I took this screen shot.  It continued to rise a little more, before it went to white.
![postmanprocesses](https://cloud.githubusercontent.com/assets/19514081/23754708/f5c6d8f4-04ab-11e7-9650-5e783e6a26cb.png)

[2017-03-09 14:42] mmckillion-r7 commented on #1522
I would also like to bump this I posted on twitter also. I currently test my API in folders via newman with a structure like this:

-API Tests (Collection)
---Feature One (Folder)
---Feature Two (Folder)
---Feature Three (Folder)

However there are alot of tests in each folder that are dependant on each other some with 40+ requests. I would like to be able to have folders like this:

-API Tests (C

[2017-03-09 15:37] Gleeble opened #2793 "Basic Authorization "Update Request" Replaces all environment variable references in URL with values"
1. Postman Version:
Version 4.10.3
 2. App (Chrome app or Mac app):
Postman for Mac
 3. OS details:
OS X 16.4.0 / x64
 4. Is the Interceptor on and enabled in the app:
No
 5. Did you encounter this recently, or has this bug always been there:
This happened in a recent update to the application
 6. Expected behaviour:
When you click the "Update Request" button to apply authorization, environment pa

[2017-03-09 18:23] vegetableman commented on #2786
@jburrill Thanks for sharing the screenshots 👍 . Really appreciate your help on debugging this issue. It seems to be a memory crash scenario.

I would like to confirm a few more things:
- Did you run any memory/cpu intensive test script?
- Does the crash only happen after sending a request? or does it happen without? (It's highly likely you are facing this issue after sending any kind of request).

[2017-03-09 18:40] jeffheaton commented on #2177
also running into this issue, the 2nd postman ends up "fastening seat belts" endlessly.  Might be a good place for an error prompt if this is not a supported feature.

[2017-03-09 18:57] smijar opened #2794 "Export of GET request keeps POST body content leading to errors during execution"
1.Postman Version: Version 4.10.3
2. Standalone mac app
3. OS: Mac OS X Version: 10.12.3
4. Interceptor is turned off
5. Bug has Always been there
6. Bug:
When you create a new request, say that you marked it as a POST request and used x-www-form-urlencoded and entered some info in the BODY text box.

Now, change the type to GET request instead.  This should make the BODY section blank and the typ

[2017-03-09 19:51] jburrill commented on #2786
Very well.   I will tyr that.  But while I am thinking of it, I note that the shortcut I have is not to Postman.exe, directly:
`C:\Users\e207507\AppData\Local\Postman\Update.exe --processStart "Postman.exe"`

[2017-03-09 19:57] vegetableman commented on #2786
@jburrill In your case, it should be `C:\Users\e207507\AppData\Local\Postman\app-4.10.3\Postman.exe`

[2017-03-09 19:58] jburrill commented on #2786
Oh, and to answer your questions (while I await what happens from running Postman.exe directly from CLI - as you note above, coincidentlally):

- I am not running any memory intensive script, just standard REST calls
- I believe that the issue happens only after some REST call is made.  But I rarely just open Postman without a purpose.
- The REST responses are often quite large, often 10 records,

[2017-03-09 20:01] jburrill commented on #2786
```Handling of 'wheel' input event was delayed for 3787 ms due to main thread being busy. Consider marking event handler as 'passive' to make the page more responive.```
[sic]

[2017-03-09 20:02] jburrill commented on #2786
That was in the DevTools Console, this time.  However, there is no trace in the terminal window

common.js:14749

[2017-03-09 20:08] vegetableman commented on #2786
That's fine. I am just looking for any error messages on the command prompt, after the crash.
Also, could you let me know the size of those responses? The size value is present right above the response viewer in the rightmost corner (screenshot).

![screen shot 2017-03-10 at 1 37 29 am](https://cloud.githubusercontent.com/assets/1330851/23768489/38631bec-0532-11e7-8b58-b0c059d982d8.png)

[2017-03-09 20:15] gwestwater commented on #2485
Is there an ETA on this I need to scrub some data out of the sample responses we have saved

[2017-03-09 20:24] jburrill commented on #2786
There was no trace in the terminal until I manually closed the app, which had gone to white:
[code]
I was not able to retrieve the response for you, as nothing was visible in the app.  I had to start, again.  In each case, there is nothing in the console.
![baseresponse](https://cloud.githubusercontent.com/assets/19514081/23769164/768f30c8-04dc-11e7-8424-67f57ffd0ae5.png)

[2017-03-09 20:26] jburrill commented on #2786
I was running a second request, of what might be comparable size, and was not able to retrieve the statistics that second time, as the app went white while I was typing :-(.  I have been running such requests for months, with no issue.  It was only after this recent update that the issue showed its head.

[2017-03-09 20:47] SuperScript opened #2795 "Postman/Interceptor duplicates cookies under new path"
Cookie handling in Postman is broken. It requires Interceptor and will not accept a cookie set manually without enabling interceptor. Once interceptor is enabled, cookies are sent, but then they are duplicated onto a new path.

 1. Postman Version:
Postman 4.10.3
Interceptor  0.2.20

 2. App (Chrome app or Mac app):
Chrome app
Same symptoms occur on Mac app

 3. OS details:
Mac OS 10.10.5 and othe

[2017-03-09 21:03] vegetableman commented on #2786
@jburrill The issue seems to be platform-specific, as only few other users have reported a memory crash before. While we investigate it, could you let me know the version number for the earlier working app, you were using (if you remember)?. Also, you could drop a mail to `help@getpostman.com` and we will send you the build for the same.

[2017-03-09 21:41] jburrill commented on #2786
I am not sure of the earlier version number.  I have been allowing Postman to prompt me to update as they come up.  Would I be far from wrong to assume the earlier version was app-4.10.2?  When I look back at the command-line comments above, my AppData includes both app-4.10.2 and app-4.10.3.

[2017-03-09 21:44] jburrill commented on #2786
There is a SquirrelSetup.log in AppData/Local/Postman that seems to have version history in it.  4.10.2 is the likely earlier version from what I can see.  That was installed on 2/16/2017, on top of 4.9.3.  With the current 4.10.3 update coming on 3/6/2017.

[2017-03-09 22:04] ghost commented on #727
+1

[2017-03-09 22:57] Vijayabaskar03 commented on #1880
@a85 I think this is already available. It's working in the Windows native app at least for sure.

[2017-03-09 23:15] scenage opened #2796 "[FEATURE REQUEST] Postman Cloud Documentation - Please add the tests into the documentation"
Be good to have something like below. Just somewhere we can see the tests for each request.

NOTE: I'm by no means a UX'er so please don't judge me :P

![image](https://cloud.githubusercontent.com/assets/8476191/23774957/6636785a-057a-11e7-9dca-88b0b24c7e75.png)

[2017-03-10 05:24] 00dani opened #2797 "Native MacOS app can't be configured to trust particular server-side SSL certificates"
Currently, the only option the Postman app gives for SSL verification is On/Off - since self-signed certificates are very common in development, verification essentially needs to be off when using Postman to query your own API locally. (This might also be true of the Windows and Linux apps, but I've only got a Mac available right now!)

Most applications that use SSL support an alternative, much m

[2017-03-10 07:06] bhawna2109 commented on #2485
@fotoflo @gwestwater We are working on something which will support editing/reordering etc. of saved responses in a neat manner.

There isn't any ETA on this, but will update this thread once it's out in canary.

[2017-03-10 07:33] vegetableman commented on #2786
@jburrill Thanks for sending the mail. I have replied to it. Do Let me know if you are still facing the issue.

[2017-03-10 08:04] emaborsa commented on #2242
I have to call a service which requires Basic Auth. I'm behind a proxy which does not require authentication, but get 407 Error. Chrome Version 57.0.2987.98 (64-bit). Postman Version 4.10.3 win32 10.0.14393 / x64.

[2017-03-10 09:56] Everis commented on #2793
+1 on this. Same happens to me with Linux app.

[2017-03-10 10:09] kamalaknn commented on #2793
Hey @Gleeble,

Thank you for reporting the issue.
We have taken note of this, and fixed it. It will roll out as part of the next version.

Will update here once the next version is out.

[2017-03-10 11:49] ghost commented on #2585
Still not working in v4.10.3 , 204 returns a error .

[2017-03-10 14:31] mbirtwistle commented on #2076
On Windows 10, Hold down SHIFT and right click on the postman taskbar icon. A 'Maximise' option then appears which brings back the application.

[2017-03-10 14:39] mbirtwistle commented on #1508
On Windows 10, hold down SHIFT and right-click the task bar icon. A Maximise option then appears which allows you to restore the UI

[2017-03-10 15:57] a85 commented on #1945
@madebysid @vegetableman Can we review the table once again?

[2017-03-10 15:57] a85 commented on #2501
@godfrzero This is possible now I believe?

[2017-03-10 19:52] workabyte commented on #2620
@vegetableman, based on the JSON that was saved on export i would say this looks to be resolved.
thank you much!

[2017-03-10 19:52] #2620 closed, assigned to vegetableman

[2017-03-11 01:38] Faheetah commented on #697
+1 the problem with setNextRequest is that it's easy to end up with spaghetti trying to track which request is triggering what. It would help each call to be self-contained if we could do something like postman.run('reset foo state') before doing something that relies on foo. Basically I think what's need here is the ability to have setup/teardown without having to path our way through other tests

[2017-03-11 05:40] onesick commented on #1734
I am running version  4.10.3, but still it's not working. I also tried to add X-Amz-Security-Token header, in addition to authorization header signatured using v4 aws. Am I missing something?

[2017-03-11 07:24] godfrzero commented on #2501
Yep. As of Feb. 23rd, anyone with `edit` permissions to the collection can publish, modify and unpublish the associated documentation.

[2017-03-11 14:05] Y-Less opened #2798 "Inaccurate messages on startup"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: I didn't enable it, so it is whatever the default is.
 5. Did you encounter this recently, or has this bug always been there: Always there.
 6. Expected behaviour: Accuracy
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-t

[2017-03-11 14:13] Y-Less opened #2799 "Disable pop-up about automatic updates"
1. Postman Version: 4.10.2
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: Don't know
 5. Did you encounter this recently, or has this bug always been there: Always been there - even after I first downloaded and installed the tool, the first thing it wanted me to do was update it, why was the version I downloaded fromthe website

[2017-03-11 17:14] #2501 closed, assigned to a85

[2017-03-11 17:27] bryantebeek commented on #1669
+1

[2017-03-11 22:22] barryokane commented on #882
+1

[2017-03-12 20:23] tmack8001 opened #2800 "Display of Special Characters in Response Broken"
Version Information:
Postman Version 4.10.2 (4.10.2) Mac OS 10.12.3 (16D32)

Example Request (without the API keys... not going to post those here).
[code]

Example Response (snipped from within Postman, including screenshot):
[code]
![image](https://cloud.githubusercontent.com/assets/2158627/23835573/fc4ee914-0726-11e7-8667-392fc28cad95.png)

Example Curl Command (same resource):
[code]

Example

[2017-03-12 20:41] m-philipp commented on #682
+1

[2017-03-12 22:18] kirugan commented on #966
JFYI postman native app allows you add custom cookies to request easily

[2017-03-13 08:49] Dmytro-Komaryst commented on #2585
So, I found the way how to bypass that problem.
I use "Fiddler 4" before postman, like a proxy.
And use substitution of the SSL certificate on the "Fiddler SSL certificate" http://joxi.ru/D2P3ZDNcVox7m3
Switch-off SSL certificate verification in the Postman http://joxi.ru/5mdvE7KcyOVQA1
After that Postman works correctly http://joxi.ru/KAxbwz0cPEjPm8

Without that bypass, I get error http://joxi.r

[2017-03-13 12:40] nesterov-n opened #2801 "Feature Request : Support for google protobuf"
[google protocol buffers](https://developers.google.com/protocol-buffers/) is popular serialisation method.
It would be great to get support of it in Postman app.
Example scenario for POST requests with protobuf body:
User writes data in protobuf text format. like this:
[code]
Then user specifies FileDescriptorSet describing binary message format (file itself, or better http link to it).
Postman a

[2017-03-13 14:09] dannyhajj opened #2802 "Expand the URL bar to far right when the `two-panes` option is enabled"
1. Postman Version: 4.10.3
 2. OS details: Ubuntu 16.10

This is UX change request to the "two-panes" beta feature. At the moment, when we enable the feature, the URL bar is only visible in the left pane, which holds the Request part.

This issue is about expanding the URL bar to far right, as with the current size, you can barely see the content of the URL bar.

The following are a couple of imag

[2017-03-13 17:08] adnanalawiyat commented on #882
+1

[2017-03-13 17:55] jlundy2 commented on #1535
+1

[2017-03-13 23:36] gordody opened #2803 "'DELETE' method fails while code generated succeeds"
1. Postman Version: Version 4.10.3 (4.10.3)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 10.12.3 (16D32)
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: DELETE succeeds
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2017-03-14 04:12] msmithmis opened #2804 "Collection Runner not using data file variables and not setting token environment variable"
1. Postman Version: Version 4.10.3  win / x86-64
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows10
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: I've only started using collection runner recently, but the problem has always been there for that time.
 6. Expected behaviour: Collection Runner should run t

[2017-03-14 10:12] bhawna2109 commented on #2513
@d4nc00per The app now ([v 4.10](https://www.getpostman.com/apps)) has a tight coupling between the active tab and the request in the sidebar. Thus, the sidebar _always_  highlights the request you're working on, so this should help in identifying its parent folder/collection.

We are working on some features which will involve slight UX changes in the tab, and will definitely consider your sugges

[2017-03-14 12:38] ressabrimirakl opened #2805 "Special characters are not encoded URL"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): win app
 3. OS details: win / x86-32
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: just recently after the last release
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chro

[2017-03-14 20:24] danielcooperxyz commented on #2513
I will check it out, thanks for the update!

[2017-03-15 00:22] NabiKAZ commented on #1228
As @nlwillia said:

It's worked and I thinks this is the great solution.
For example if set a cookie with `PHPSESSID` name every time.
Just add a header with `Cookie` as key and `PHPSESSID=` as name.

[2017-03-15 04:09] vivek201 commented on #1637
Hi everyone. Any updates on this?

[2017-03-15 11:14] Anyqax opened #2806 "Postman Windows App Setup Fails"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Microsoft Windows 8.1 Pro
 4. Is the Interceptor on and enabled in the app: /
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Postman app is sucessfully installed
 7. Console logs: /
 8. Screenshots (if applicable)
![image](https://cloud.githubusercontent.c

[2017-03-15 12:31] Przem83 opened #2807 "User defined "Content-Type" header ignored (Windows app)"
The user set "Content-Type" header is being ignored when using x-www-form-urlencoded Body.

Version/App Information:
 1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Windows 10 Pro
 4. Is the Interceptor on and enabled in the app: N/A
 5. Bug encountered after switching from Chrome app to Windows app.
 6. Expected behavior: User should be able to override th

[2017-03-15 14:25] jphiloon opened #2808 "Put duplicated request below the original"
Feature request
 1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: n/a
 5. Did you encounter this recently, or has this bug always been there:  This is std behavior when duplicating a request
 6. Expected behaviour: Desired behavior is to have the new duplicate item positioned in the list directly below th

[2017-03-15 16:25] LusciousPear commented on #576
Same, this happened to me as well with a few nights of wasted debugging time.

[2017-03-15 18:14] mcanepa commented on #2742
Just download 4.10.3
Still getting a blank window and the error is the same

[2017-03-15 19:09] hughescr commented on #682
+1

[2017-03-15 20:06] udev commented on #1973
+1 for raw response headers!

[2017-03-15 20:16] morganthrapp commented on #184
Was this ever implemented? It doesn't seem to work by default, but I could be missing something.

The [latest comment on the PR](https://github.com/postmanlabs/postman-app-support/pull/187#issuecomment-12582193) seems to mention needing to resubmit. Was this ever done or are there plans to do so?

[2017-03-15 20:31] jlchavis0844 opened #2809 "Truncated Strings on post/put"
1. Postman Version: Version 4.10.3
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows & x86-32
 4. Is the Interceptor on and enabled in the app: disabled
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: fields inside json body are being truncated at 252 characters
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chr

[2017-03-15 20:55] Gleeble commented on #2793
Thanks!

[2017-03-15 21:43] hlubovac opened #2810 "Feature request: File + "application/x-www-form-urlencoded""
I think the subject is clear. File selection is present only for body+form-data ("multipart/form-data").

As a work-around, I use a simple HTML file to test what I want.

[2017-03-15 22:07] jasonwcfan opened #2811 "Parameter state not allowed on access token requests for Google API"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Mac
 3. OS details: MacOS Sierra 10.12.1
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Don't know, first time using the access token helper
 6. Expected behaviour: After authenticating with google, get back an access token
 7. Console logs (http://blog.getpostm

[2017-03-16 03:31] msadasivam commented on #1603
Absolutely necessary to work with secure credentials.

[2017-03-16 04:12] udev opened #2812 "Editor does not decorate parameter description text when an underscore is present"
1. Postman Version: Version 4.10.3
 2. App (Chrome app or Mac app): Chrome 56.0.2924.87
 3. OS details: OSX Sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: Yes and No
 5. Did you encounter this recently, or has this bug always been there: (I'm a new user)
 6. Expected behaviour: parameter description text should be correctly decorated
 7. Console logs (http://blog.getpostman.com/2

[2017-03-16 05:13] Vijayabaskar03 opened #2813 "[Feature Request] Ability to move tabs/request body/response body between multiple windows"
It would be great if there is an option to work with multiple windows of Postman, as in moving tabs from one window to another. Even better if the request can be pinned to one window and the response to another. More like a floating tab of the browsers.

Works great for people like me who use 2 monitors at work.  :)

Thanks

[2017-03-16 06:25] Vijayabaskar03 opened #2814 "[Feature Request] HTML export of Collection Runner results"
An option to export results from Runner in HTML format (similar to Newman's, may be) rather than just the JSON that can only be viewed in a Runner.

[2017-03-16 06:39] LnsooXD commented on #1973
It's very useful for showing a raw HTTP head.

[2017-03-16 06:44] sdnts commented on #2769
Hi @lachaib, thanks for letting us know. I was able to reproduce this, albeit partially.
When opening a saved response, the request is also updated to reflect the loading the saved response. However, this isn't saved (the tab becomes dirty). If you close the tab without saving, and reopen the request, you'll see the body is still there.

However, I can understand how this can become confusing and

[2017-03-16 06:45] sdnts commented on #2770
Hi Jean, that's a valid use case. We'll be looking into this. Will keep you updated :)

[2017-03-16 06:46] sdnts commented on #2768
Hi @tfchen2400! 3xx status code are usually used for redirection. Do you think there's something going wrong with the redirection? Does this happen for all requests in the native app or only 304 status code ones?

[2017-03-16 07:34] frozenrein01 commented on #2686
The SIMPLEST WORKING SOLUTION is to disable POSTMAN in your chrome's extension page.. then RUN the postman app again and it'll automatically open and be enabled in the extensions.

[2017-03-16 07:56] vegetableman commented on #2813
@Vijayabaskar03 The floating tab is a great idea ^_^. As for being able to see request and response, did you try the two-pane layout?

[2017-03-16 08:31] vegetableman commented on #2812
@udev Thanks for posting this issue 👍 . Will keep you posted ^_^.

[2017-03-16 09:42] sdnts commented on #2774
Hi @sinaa2000, each collection has a documentation link associated with it, that can be viewed by anyone who can read the collection (in your case, shared collections with your team). You can share this link with your teammates. If you click on `View Docs` beside the `Share` button, you should be able to share this URL.
Let me know if this isn't very clear or if I misunderstood.

[2017-03-16 09:44] sdnts commented on #2777
@KumG Async JS isn't supported right now, but we're working on something similar. Will keep you updated here :)

[2017-03-16 09:46] sdnts commented on #2780
Hi @nlwillia Thanks for letting us know, we'll look into this.

[2017-03-16 09:48] sdnts commented on #2781
@sandropons We do have very limited ways of doing similar things (mostly encoding and decoding), but that's also a manual process. This is an interesting idea. Tagging this as a feature request :)

[2017-03-16 10:10] sdnts commented on #2789
Hi @micktion, sorry about the delay here.
Can you try a couple of things:
1. After your first request, can you see the set cookie in the Cookie Manager? (`Cookies` button below the URL bar)
2. Before sending the second request, can you open up the Postman Console (Cmd+Alt+C or View > Postman Console) and see if the Cookie header is actually being sent with the second request?

I ask because I was

[2017-03-16 10:13] sdnts commented on #2799
@Y-Less Understandable. You can disable _automatic_ updates on the native apps by heading over to Settings (wrench icon on the top right > Settings), switching over to the `Updates` tab, and changing automatic updates to `None`, so that you never get automatically updated. There isn't a way currently to not show the popover at all, but I understand your concern and we'll look into this.
CC @a85

[2017-03-16 10:14] vegetableman commented on #2798
@Y-Less How you can be so sure that there are no escape pods? 😁

[2017-03-16 10:22] sdnts commented on #2795
@SuperScript Chrome does not allow apps to set cookies directly. This is why the Interceptor comes into play, where the request is actually sent from Chrome itself. Even then, the cookie management is handled by Chrome. Unfortunately, this isn't under our control.

Have you tried on of our [native apps](https://getpostman.com/apps)? It has an inbuilt Cookie Manager that should allow you to add and

[2017-03-16 10:26] sdnts commented on #2796
@scenage The Documenter is supposed to generate a publicly visible page that describes your API, and so it is generally not required (or wise) to show the tests (since tests are supposed to be an internal testing entity).

Think of it this way: You wouldn't want to expose what tests you run on a website, on it's landing page.

Have you looked into Newman's HTML reports? Maybe they'll fit your need

[2017-03-16 10:29] sdnts commented on #2797
@00dani That's a good idea. I'm tagging this as a feature request.
@shamasis @a85 Thoughts?

[2017-03-16 10:31] sdnts commented on #2800
@tmack8001 Thanks for letting us know. We'll look into this :)

[2017-03-16 10:36] pierre0505 opened #2815 "the return message in builder display in Chinese but in Unicode when run in collection runner."
1. Postman Version: Postman v4.10.3
 2. App (Chrome app or Mac app): Native app
 3. OS details: Windows 10 home edtion(x64)
 4. Is the Interceptor on and enabled in the app: NA
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: should return in chinese character
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-too

[2017-03-16 10:47] sdnts commented on #2803
@gordody Since a response is attempted to be rendered, I assume a response is indeed received, but is rendered incorrectly.

Can you try changing the parsing format from `Auto` to something else? This is the dropdown at the top of the response section. Alternatively, the `Raw` tab in the response section should also display the correct response. This usually happens when the Content-Type header re

[2017-03-16 11:00] sdnts commented on #2804
@msmithmis Thanks for reporting this. Unfortunately, I was unable to reproduce this.
There's only one issue I can think if that might be causing your problem. The Runner on the Chrome app does not reflect changes in a collection in real time. If you added the `setEnvironmentVariable` line later, it might not be reflected. Closing and opening the runner again should fix this.

However, if it does n

[2017-03-16 11:07] Martyrer commented on #907
+1

[2017-03-16 11:13] sdnts commented on #2805
@ressabrimirakl I tried sending a request to `httpbin.org/get?a|b=c` and was able to get the correct response. URL encoding was a big issue, but we've since fixed it to follow the WhatWG spec.

Can you also try the Chrome app and let me know if that works properly?

[2017-03-16 11:42] sdnts commented on #2806
@Anyqax An empty log does make it hard to debug. Can you also check `C:\Users\<username>\AppData\Local\Postman\SquirrelSetup.log` and see if you find anything there?

Can you also make sure you're not running a 64-bit setup on a 32-bit machine?

[2017-03-16 11:44] sdnts commented on #2807
@Przem83 Do you have two `Content-Type` headers? If you do, can you try disabling the automatic one and trying again?
Also, are you replying on the Code Generator to determine what request will be sent? The code generator as such, does not have anything to do with the actual request. You can open up the Postman Console (Cmd+Alt+C or View > Postman Console) and resend the request to see which heade

[2017-03-16 14:04] gordody commented on #2803
Hi,

I tried that but I only see the same thing....

Gyuri

On Mar 16, 2017 03:47, "Siddhant Sinha" <notifications@github.com> wrote:

[2017-03-16 15:09] schellem opened #2816 "Windows App Install Creates Shortcut Under 'GitHub, Inc' Programs Group"
I installed the x64 Windows app on Windows 8.1 machine using 'Classic Start Menu' and it created no shortcut nor could I find any trace of in either Program Files. After much investigation I find a shortcut under "Github, Inc".....and a very odd one at that C:\Users\user\AppData\Local\Postman\Update.exe --processStart "Postman.exe"

You should make the app easier to find after the install.

[2017-03-16 16:22] xhdong-umd commented on #1463
I tried to remove the header, update the request then export the collection. However there are still some basic header saved in the json. I have the original collection with header, and a duplicate collection that removed headers. I suspected that it was caused by the same name api calls in the original collection, so I removed the headers in the original collection too. Then I still found some he

[2017-03-16 18:16] sabby62 commented on #739
+1

[2017-03-16 21:43] wolfordj opened #2817 "OAuth 2.0 Not Showing Saved Cookies in Windows Native"
1. Postman Version:
4.10.3

 2. App (Chrome app or Mac app):
Windows Native

 3. OS details:
Windows 10

 4. Is the Interceptor on and enabled in the app:
N/A

 5. Did you encounter this recently, or has this bug always been there:
Recently downloaded native Windows version and it is always present

 6. Expected behaviour:
Use OAuth 2.0 Crendential manager to log into GitHub and provide OAuth perm

[2017-03-16 22:17] jongio commented on #843
+1 - For default parameter support.

    {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string",
            "default": "Bearer {{bearerToken}}"
    }

Imports as:

![image](https://cloud.githubusercontent.com/assets/2163001/24020895/704b6db0-0a5b-11e7-8e50-1fa62570666f.png)

Swagger editor suppor

[2017-03-16 22:47] Y-Less commented on #2798
Because I built my own machine.

[2017-03-17 00:19] fonix232 opened #2818 "Using dashes in JSON variable names in tests"
Version/App Information:

 1. **Postman Version:** 4.10.3
 2. **App:** Chrome
 3. **OS details:** Windows 10 Insider Preview build 15058
 4. **Is the Interceptor on and enabled in the app:** No
 5. **Did you encounter this recently, or has this bug always been there:** Recently, but probably has been there for some time
 6. **Expected behaviour:** PostMan parses the result and allows access to JSO

[2017-03-17 03:30] prashantagarwal commented on #2818
@fonix232 try using
`tests["Port open"] = jsonData.arguments['port-is-open']`.

[2017-03-17 03:51] a85 commented on #2818
This is just invalid javascript.

[2017-03-17 03:52] a85 commented on #2817
We are working on finer control over OAuth 2 modals. Don't think session cookies in the app are related to OAuth 2 based cookies in the auth flows.

[2017-03-17 04:30] rgregg commented on #2523
+1. I'm hitting this issue as well.

[2017-03-17 06:07] jongio commented on #2523
+1. In the meantime, I got it working with this approach: http://blog.jongallant.com/2017/03/azure-active-directory-access-tokens-postman/

I also have a posts to help generate SAS Tokens in the Pre-request Script sandbox: http://blog.jongallant.com/tags/postman/

[2017-03-17 07:06] sdnts commented on #2814
@a85 Maybe we could use Newman's reporters here?

[2017-03-17 07:08] sdnts commented on #2816
@schellem Ah, thanks for pointing this out. We use GitHub's Electron for our native apps, which must be causing this.

[2017-03-17 07:10] sdnts commented on #2767
@dvishniakov Weird, I'm still unable to reproduce this. Could you attach maybe a GIF or a screenshot?

[2017-03-17 07:15] sdnts commented on #2772
Hi @yelena1, are you using this in the Collection Runner or Newman with a data file? The variable name `data` is also used to refer to the data file in the test scripts. In your case, the local `data` would take precedence over the global `data`.

Can you also try doing a `console.log` right after API2's `JSON.parse` and check if this is what you expected? The logs would appear in the Postman Cons

[2017-03-17 07:27] sdnts commented on #184
Hi @morganthrapp! This repo no longer holds the actual app code :D
As for the issue itself, you can select your Raw and press `Cmd+B` to `Beautify`. Note that this depends on the format you have selected from the dropdown on the top of the raw request view.

[2017-03-17 08:33] cyrilchapon commented on #2602
This seems to be pretty much related to postman rather than express.

And [this](http://stackoverflow.com/a/38461398/4578952) is a working workaround.

Need to be reopened

[2017-03-17 08:57] jarad-yadallee commented on #1906
+1

[2017-03-17 09:26] sdnts commented on #2803
![screenshot 2017-03-17 13 31 25](https://cloud.githubusercontent.com/assets/7689783/24036874/973bb6ac-0b21-11e7-8137-65b88376805e.png)
Are you using this dropdown? As you can see in the screenshot, I am getting the same error as you do, but switching it to Text solves it for me.

Can you also put some logs in your server to see if the request actually made it there? Maybe you could attach a few s