[2016-12-15 13:19] sdnts commented on #2525
@sgueniot We released a fix for this in 4.9.2. Can you update and check if this is fixed?

[2016-12-15 13:21] sdnts commented on #2524
@alexzxz Can you try updating to the latest version (4.9.2) and check if this is fixed for you?

[2016-12-15 13:23] sdnts commented on #1794
Guys, this is possible now. v4.9.2 and up should allow you to change the editor font size :)

[2016-12-15 13:23] #1794 closed, assigned to numaanashraf

[2016-12-15 13:24] sdnts commented on #2531
@davecanderson We released a fix for this in our latest version (4.9.2). Can you try updating and verifying?

[2016-12-15 13:25] sdnts commented on #2535
@st-dev Can you try updating to the latest version (4.9.2) and see if your test errors are logged properly now?

[2016-12-15 13:26] sdnts commented on #2542
@Farzadd This was fixed in our latest release (4.9.2). Can you try updating and verifying?

[2016-12-15 13:27] nikhilvibhav commented on #1794
Amazing. Thanks @madebysid!

[2016-12-15 13:29] vegetableman commented on #2415
@grantkemp The issue has been fixed in the latest release of `4.9.2` ^_^. Closing this, feel free to reopen if any issues.

[2016-12-15 13:29] #2415 closed, assigned to vegetableman

[2016-12-15 13:36] stamtesteng commented on #2561
Thank you @madebysid. As you can see I opened a ticket in newman as you proposed:
https://github.com/postmanlabs/newman/issues/821

[2016-12-15 13:36] sgueniot commented on #2525
hello,
It's fixed.
thanks

[2016-12-15 13:36] #2525 closed, assigned to sdnts

[2016-12-15 14:20] carl-ashby commented on #2535
Yes they are. Thank you.

[2016-12-15 14:20] #2535 closed, assigned to sdnts

[2016-12-15 14:27] vegetableman commented on #2462
@phoffer7874 Sorry for the delay. It's fixed in the latest version `4.9.2`. Closing this, feel free to reopen if the issue still exists.

[2016-12-15 14:27] #2462 closed, assigned to nobody

[2016-12-15 15:22] xujialiang opened #2562 "I Can't open Runner"
1. Postman Version:  4.9.2
 2. App (Chrome app or Mac app):Mac app
 3. OS details:10.12.1 (16B2657)
 4. Is the Interceptor on and enabled in the app:where is the interceptor?
 5. Did you encounter this recently, or has this bug always been there:YES
 6. Expected behaviour:Open Runner
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chr

[2016-12-15 15:57] wbartensleben commented on #1603
Would love this feature! 👍

[2016-12-15 15:58] shyamz-22 commented on #1603
Second that, awesome idea.

[2016-12-15 15:59] simonjohansson commented on #1603
I also need this!

[2016-12-15 16:02] ivanboev-vw commented on #1603
me too.

[2016-12-15 17:17] Farzadd commented on #2542
@madebysid Just verified and it worked as expected!

That's great! Thank you very much for the quick support.

[2016-12-15 17:17] #2542 closed, assigned to sdnts

[2016-12-15 17:19] nikolayandr commented on #2544
Hm, I can suggest that postman is crashed when many tabs are opened. In some moment I couldn't open any tabs, postman has been always finished his work suddenly. I closed all tabs and now everything is OK

[2016-12-15 17:21] Farzadd commented on #2558
You can retrieve the request object in test scripts and parse the body (see the snippets for JSON parsing) to retrieve your variables.

The `request.data` variable is what you are looking for.

More info:
https://www.getpostman.com/docs/sandbox#requestresponse-related-properties

[2016-12-15 17:49] rich-blockley-bg opened #2563 "Write to responseBody object in a test? Or a Test Console window for test output?"
Version 4.9.1 (4.9.1)
Mac app - mac version 10.11.6
No interceptor
---

Can I (I don't think I can, but I might be doing it wrong) write to the responseBody object in a Test?

A compelling reason this might be useful:

For a certain GET request in my system, I get back so much JSON data that Cmd-F does not cut it. However I could easily remove a few nodes from the in-memory response and what I wan

[2016-12-15 20:18] avikb commented on #1304
The problem still exists.
When you send a POST request and server return 301 (redirect), Postman follow the new url, but send a GET request...
Problem only with POSTs. (PUT, DELETE... work fine)

[2016-12-15 21:13] GregPK opened #2564 "Enviroment variables don't work in Header values."
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome 53.0.2785.143
 3. OS details: linux / x86-64
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: First time user
 6. Expected behaviour: To Use enviroment variable name in header value
 7. Console logs: [logs.txt](https://github.com/postmanlabs/postman-app-sup

[2016-12-15 21:58] davecanderson commented on #2531
Yes, this issue is resolved.

[2016-12-15 21:58] #2531 closed, assigned to sdnts

[2016-12-16 00:47] jjlambros opened #2565 "Oauth 2 building invalid request for Authoriztion Code grant type"
When using the Authorization tab, Type = OAuth 2.0 to get a new access token using the Authorization Code grant type - the request to exchange the code for a token (from the Postman callback URL to the Access Token URL) fails.  It includes the client is and secret in both an Authorization header and and body of the POST causing the code exchange to fail.

This is not allowed per RFC-6749 / 2.3 whi

[2016-12-16 02:30] robertkuhar opened #2566 "Amazon S3 Signed URLs never work in Postman"
1. Postman Version:  Version 4.9.2 (4.9.2)
 2. App (Chrome app or Mac app):  Mac App
 3. OS details:  El Capitan 10.11.6 (15G1108)
 4. Is the Interceptor on and enabled in the app:  I don't think so.
 5. Did you encounter this recently, or has this bug always been there:  This used to work but hasn't in quite a while.  Maybe as long as I've been working with the Mac App when this came out of chrom

[2016-12-16 05:22] mohamedmubarish-s-19801 commented on #2557
Hi,
 Any update or solution on this. This is of higher importance for us. Any quick response is much appreciable.

[2016-12-16 05:32] 1nfinite9 opened #2567 "Garbled Response (Incorrect encoding)"
I'm using an API that returns data in Japanese encoding (Shift-JIS). Previously, this data was automatically recognized as Shift-JIS and displayed properly but now it's showing up as garbled text.

 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra 10.12.2
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has

[2016-12-16 05:34] fanchongcn opened #2568 "No response when opening runner"
1. Postman Version:4.9.2
 2. App (Chrome app or Mac app):Mac app
 3. OS details:mac OS 10.12.2
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: this bug always been there
 6. Expected behaviour:I want to use runner
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the

[2016-12-16 06:34] vegetableman commented on #2527
@crowcoder @dyymmi The issue is fixed in the latest release ^_^.  Could you guys verify the same?

[2016-12-16 06:40] SamvelRaja commented on #2567
Thanks for bringing this to our notice, we fixed this in our internal build. We shall let you know once it has been released.

Also, possible duplicated of #2502

[2016-12-16 06:41] #2567 closed, assigned to nobody

[2016-12-16 06:42] 1nfinite9 commented on #2567
Thanks for the **fast** reply. Looking forward to the next release.

[2016-12-16 07:05] vegetableman commented on #2557
@SMohamedMubarish You could use environment variables to save the response and then compare with the current one. Check out the docs for the api : https://www.getpostman.com/docs/sandbox

[2016-12-16 07:15] #2524 closed, assigned to vegetableman

[2016-12-16 07:23] vegetableman commented on #2554
Thanks @Ernesto-Maserati-CH for reporting this issue 👍 .  @shamasis Your thoughts on this?.

[2016-12-16 07:37] vegetableman commented on #2554
Thanks @Ernesto-Maserati-CH for reporting this issue 👍 .

The features mentioned are being work on and would be available early next year. For now, as a workaround for BDD, you could refer this article: http://blog.getpostman.com/2015/09/29/writing-a-behaviour-driven-api-testing-environment-within-postman/

[2016-12-16 07:40] vegetableman commented on #2562
@xujialiang The interceptor is part of the chrome app. As for the runner, the issue is fixed internally and will be part of the next release. Thanks for reporting 👍 .

[2016-12-16 07:43] vegetableman commented on #2546
@waynet3 Thanks for reporting this issue 👍 . Will keep you posted on this thread.

[2016-12-16 07:48] vegetableman commented on #2558
@Farzadd 👍  😀

[2016-12-16 07:53] dyymmi commented on #2527
@vegetableman Yes, i can confirm the fix. Thanks for quick reaction ;)

[2016-12-16 07:57] vegetableman commented on #2527
Awesome 👍

[2016-12-16 07:57] #2527 closed, assigned to vegetableman

[2016-12-16 08:11] vegetableman commented on #2556
@excalq Thanks for reporting this issue 👍  and the detailed steps to reproduce the same. Will keep you posted in this thread.

[2016-12-16 08:22] vegetableman commented on #2549
@tariqghalib @JohnArrowwood  Using `xmlhttprequest` on the pre-request scripts is not the recommended or supported way to go about getting data for requests. Instead, you could create a collection and chain the requests, such that the required data is fetched from a request run in an order above the current request.

Related doc : http://blog.getpostman.com/2016/03/23/conditional-workflows-in-post

[2016-12-16 08:53] vegetableman commented on #2553
@Ernesto-Maserati-CH You could use `postman.getEnvironmentVariable` to get the data from variables. I think we could add the related snippet for the same on the snippets section.
Also, you could refer this doc for the api supported on the scripts :- https://www.getpostman.com/docs/sandbox.

[2016-12-16 10:22] cacti77 commented on #1263
Err - how do you invoke 'Close all tabs'? The video isn't very clear. I'm using Postman 4.9.2 on Windows 7 (win / x86-32, Chrome 55.0.2883.87). Or has this feature not rolled out to Chrome yet?

[2016-12-16 11:00] maxgalbu commented on #2238
Would be nice to have it, really :)

[2016-12-16 11:01] excentris commented on #2238
This has become less of an issue with the new experimental 3-pane layout...

[2016-12-16 11:02] vegetableman commented on #2238
This issue has been fixed for quite a while ^_^. Closing this. @abdulkareemnalband Feel free to reopen if the issue still exists.

[2016-12-16 11:02] #2238 closed, assigned to vkaegis

[2016-12-16 11:09] maxgalbu commented on #2238
How can I enable this experimental panel layout? Is it "two panel layout" in the options?

[2016-12-16 11:17] mohamedmubarish-s-19801 commented on #2557
@vegetableman Thank you!
 I know that solution, but i want a solution other than maintaining the old response in Environment or global variable.
In our case, we have 1000s of restapi call and its difficult to maintain and manage all the old responses as environment variable. It would be better, if I am able to maintain with the testscript or  restapi call?
Any other solution is appreciable!

[2016-12-16 11:39] rickmills commented on #2517
How do we downgrade for now @madebysid ? Really cant use postman at all with such a showstopper issue.

[2016-12-16 12:24] tomkerswill commented on #682
Wow, can't believe this isn't in! It wouldn't be an issue, but the collection runner uses this order to decide what order to execute in, so it is really vital

[2016-12-16 12:42] vegetableman commented on #2557
@SMohamedMubarish Thanks for sharing your use-case 👍 . We will take this up as a feature request and will keep you posted on this thread ^_^.

[2016-12-16 15:00] sdnts commented on #2517
@rickmills Could you drop a mail at help@getpostman.com?

[2016-12-16 15:33] sdnts commented on #2546
@waynet3 Do you see any errors in the DevTools console? (Ctrl + Shift + I)

[2016-12-16 16:15] sdnts commented on #2551
@JohnArrowwood This looks like a performance issue. I see you have a pretty large collection (folder). There is no physical limit to the number of requests you can have in a folder.

I do have one suggestion, though. When the Runner runs a collection, it logs out the responses it receives (which stay in memory, and are viewable when you click on the request name), and that might cause memory to ov

[2016-12-16 16:15] alexgalkin commented on #2568
+1
Have the same issue

[2016-12-16 16:17] alexgalkin commented on #2568
Guys, not sure how application was released with such blocker issue. It make it fully unusable. Tests cannot be run at all using new version of the app.

[2016-12-16 16:20] sdnts commented on #2568
@fanchongcn @alexgalkin This seems to happen when some test runs get corrupted. We have a fix ready, it'll be out early next week. Will keep you posted.

[2016-12-16 16:40] Ernesto-Maserati-CH commented on #2553
I don't think that works vegetableman. I have no clue what you mean, really. Did you understand my problem?

As I said, the variable "request.data" returns the request template with variables like {{guid}} inside it. So if you compare that with responseBody it is not equal. I am looking for a built in variable with the effective request data (after the variables in it have been evaluated). Somethi

[2016-12-16 16:41] Ernesto-Maserati-CH commented on #2554
Ok, thanks for working on it!

[2016-12-16 17:58] vegetableman commented on #2553
@Ernesto-Maserati-CH Ah... I see.

Variables, as of now, are not resolved for the request object on test scripts. For now, you could use something like, for instance, `postman.getEnvironmentVariable(request.data[0].value.replace(/\{\{|\}\}/g, ''))`.

It's definitely not elegant, but will get back to you with more details.

[2016-12-16 18:59] viniciusffj commented on #2225
I'm having a problem with proxy in version 4.9.2.

<img width="588" alt="screen shot 2016-12-16 at 1 58 27 pm" src="https://cloud.githubusercontent.com/assets/2095993/21274777/dcd5a2b2-c397-11e6-9acf-28d730e8f14d.png">

[2016-12-16 20:28] numaanashraf commented on #2225
@viniciusffj Thanks for reporting this. We will roll out a fix for this in the coming releases.

[2016-12-17 10:18] waynet3 commented on #2546
@madebysid No, there are no errors in the DevTools console

[2016-12-17 18:49] russianryebread opened #2569 "Ability to add new Code Snippets via template files"
It would be helpful to have the ability to create templates for the code generator feature.  Sometimes I use projects, such as PHP GuzzleHttp, that are not natively supported by Postman's code generator.  It would be nice to write a custom template file in something template language like Handlebars:

[code]

[2016-12-17 22:08] ferronrsmith opened #2570 "Granular sharing"
Is there any plans to support granular sharing ? There are parts of my API that I would like to share with my team, but necessarily make public.

[2016-12-17 22:44] viniciusffj commented on #2225
@numaanashraf Ok, I'll wait for that, thanks

[2016-12-18 03:06] stevemcmillen commented on #1351
Agreed. Working great.  Thanks!

[2016-12-18 14:47] Tskyone opened #2571 "postman can't post JSON to mysql"
I follow the book named sails.jsessentials to develop REST API using sails.js. I used Postman to send JSON to a mysql database. Here are the screenshots:
![Uploading QQ截图20161218224142.png…]()
![qq 20161218224208](https://cloud.githubusercontent.com/assets/24636050/21294252/775056e8-c573-11e6-806a-b2396aa7b563.png)
In the book, the JSON data "email" and "message" should appear in the Body frame be

[2016-12-18 14:51] Tskyone commented on #2571
![qq 20161218224142](https://cloud.githubusercontent.com/assets/24636050/21294284/43abf008-c574-11e6-8872-a983e067f618.png)

This is the first screenshot, if the previous one can not show up.

[2016-12-19 02:27] ferronrsmith opened #2572 "Getting an error when publishing APIs"
[code]

[2016-12-19 07:20] vegetableman commented on #2553
@Ernesto-Maserati-CH It's part of the roadmap. There is no ETA as of yet.

[2016-12-19 07:46] patric-eberle commented on #2551
Can report the same (?) problem. I have a collection with a total of 44 request grouped in 18 folders. When I test the collection in the runner, only ~~one~~ two tests of each folder seems to get tested.

[2016-12-19 09:09] andreujuanc commented on #2282
I just ended up using firefox for this. Only issue is that the debugging window is quite bad, and does not have a scroll. But maximising it "fixes" that, so it actually works better than postman..

[2016-12-19 09:17] sobtiankit commented on #2572
@ferronrsmith replied to you on Intercom. Can you check now?

[2016-12-19 09:24] S33G opened #2573 "Usability concern with Manage Environments"
Version 4.9.2 (4.9.2)
Mac App
OS X EL Capitan 10.11.6 (15G31)

![screen shot 2016-12-19 at 9 20 09 am](https://cloud.githubusercontent.com/assets/655807/21307270/abfdbd82-c5cc-11e6-9c06-72810ab1f24d.png)

This is a fairly small thing and subjective thing, but I noticed a few members of my team struggling with this one.

In order to edit environment variables, the user is required to click the titl

[2016-12-19 10:04] ferronrsmith commented on #2572
Awesome this works now, thanks!

[2016-12-19 10:04] #2572 closed, assigned to nobody

[2016-12-19 10:05] sobtiankit commented on #2572
Perfect!

[2016-12-19 12:04] jvkaam opened #2574 "Validating Export Postman collection with tv4 against its own schema fails"
Hi all,

We are working with:

 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: probable always there
 6. Expected behaviour: valid
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside

[2016-12-19 12:08] sdnts commented on #2570
@ferronrsmith When you share a collection, it gets shared with your team only. No one else can read. To make it public, you have to explicitly Publish your collection.

Do let me know if this is what you want, or if I misunderstood.

[2016-12-19 12:11] sdnts commented on #2571
@Tskyone This looks like the behaviour of your server. Can you try making a request to `https://echo.getpostman.com/post` and see if you data is POSTed correctly?
If yes, then to solve your issue, you should contact the person who wrote the server, as it probably is programmed behaviour, and we do not have control over it :)

Feel free to reopen if I misunderstood.

[2016-12-19 12:11] #2571 closed, assigned to nobody

[2016-12-19 12:16] ferronrsmith commented on #2570
I think you misunderstood the question. Granular sharing/publish meaning..

If i have a collection of

[A, B, C]

C <-- may be a private folder within my API that contains internal endpoints. When I share this, I might share it with the internal team, but when I publish I don't want customers to see it.

Currently the only way to do this is just to create to separate collections, one public-facing

[2016-12-19 12:17] sdnts commented on #2564
Hey @GregPK, when you define an environment variable, you do not need to include the double curly braces in it's name like you have. You can just call it `auth_token` and use it.
However, when using it, you include the `{{}}` to tell the app that you're referring to an environment variable.

So, in essence, you would create a new environment variable called `auth_token`, and give it a value. Then,

[2016-12-19 12:17] #2564 closed, assigned to nobody

[2016-12-19 12:18] vkaegis commented on #2573
Hey @charj-it, thanks for pointing this out! Definitely make sense, we'll have a look at how any explicit edit action affects any navigation flows. Will let you know as soon as any change goes out!

[2016-12-19 12:18] sdnts commented on #2570
Ah, that's not possible right now. You'll have to create separate collection as of now. I'll add this as a feature request, though :)

[2016-12-19 12:23] vkaegis commented on #2358
Hey @rich-blockley-bg, the 4.9 release supports a two-pane view which should fix any double-scrolling problems you have. Hoping this solves your issue!

[2016-12-19 12:33] numaanashraf commented on #2358
The new two-pane view is available in versions 4.9.0 and up. This can be enabled them via Settings > General > Two-pane view or via the keyboard shortcut (Cmd/Ctrl + Alt + V). Closing this issue.

[2016-12-19 12:33] #2358 closed, assigned to vkaegis

[2016-12-19 12:42] pedrocalderon opened #2575 "Omnibar like interface to open saved requests"
Hi, I would really like an shortcut to open my saved routes.

With postman we can navigate effectively with the keyboard when creating new routes, but if you want to use/edit your current routes you need to open the lateral panel and click in it (I think).

I would really appreciate something in the line of the Mac Spotlight (cmd + space) or Atom Editor 'cmd + p'. This could pop open an input that

[2016-12-19 13:08] vkaegis commented on #448
Hey guys, quick update, we're working on a key-value editor which supports multi-line variable values. Will let y'all know as soon as it's out on Canary, so stay tuned!

[2016-12-19 13:09] vkaegis commented on #2532
Hey @davecanderson, thanks for pointing this out! We're working on improvements to the Runner which show both iteration and environment data as part of the run. Will let you know as soon as it's out!

[2016-12-19 13:15] sdnts commented on #2575
@pedrocalderon That's a great idea! We're actually working on improvements to our shortcuts that should make this easier for you. I'll keep you updated here.

[2016-12-19 13:34] GregPK commented on #2564
No idea how I missed that. Thanks!

[2016-12-19 13:37] alexgalkin commented on #2568
@madebysid thanks for the update. Note sure what you mean by "some test runs get corrupted" - collection is executed just fine using newman. Only Postman UI has the issue with Runner.

[2016-12-19 14:12] jvkaam opened #2576 "Having Rest api's for \ in Postman Pro to maintain Postman Collections"
It would be fun to have the ability to be able to maintain your postman collections through api's.

[2016-12-19 14:18] sdnts commented on #2576
@jvkaam Aha, you should check out our [Postman Pro API](https://api.getpostman.com/).

You could then set up collections to manage collections. 😛

[2016-12-19 14:19] Ernesto-Maserati-CH commented on #2553
Ok, I see. Would be really nice to be able to access request data after it has been populated with the actual variable values. Thanks for working on it and providing me a workaround!

[2016-12-19 14:22] #2576 closed, assigned to nobody

[2016-12-19 15:00] #2559 closed, assigned to nobody

[2016-12-19 15:01] sdnts commented on #2559
@zoeker That's weird. Closing, but I'll keep an eye on this.

[2016-12-19 15:05] SamvelRaja commented on #2565
@jjlambros Thanks for bringing this to our notice. We will keep updated this thread regarding the update from our end.

[2016-12-19 15:05] sdnts commented on #2551
@patric-eberle Can you also split up your collection to make it run properly?
Can you guys try running your collection in [Newman](https://github.com/postmanlabs/newman)? It is extremely easy to set up, and will help me isolate where the problem lies.

The Runner and Newman both run on top of Postman Runtime, so you'll just have to export your collection (+ environment, if needed) and run it using

[2016-12-19 15:12] SamvelRaja commented on #2563
@rich-blockley-bg
I hope our postman console will help you in viewing the partial manupulated data you have. All you need to do  the console.log(partialData) from the test Scripts.

Adding a GIF for your use case, Kindly let me know if i miss something.

http://blog.getpostman.com/2016/08/26/the-postman-console/
https://www.getpostman.com/docs/errors

![loginconsole](https://cloud.githubuserconten

[2016-12-19 15:12] sergiorykov commented on #2082
It's still actual for **v4.9.2** :(

[2016-12-19 15:25] sdnts commented on #2546
@waynet3 I was able to reproduce this and a fix is on it's way. I'll keep you updated.

[2016-12-19 16:53] jorbascrumps commented on #2489
Hi @vegetableman, thanks for looking into this. Unfortunately, I'm still experiencing this issue with `v4.9.2-canary.1` :(

[2016-12-19 17:41] jvkaam commented on #2576
I should have known. Top! Good reason tot start the Pro version.

[2016-12-19 19:19] mooglemoogle commented on #2538
Some more info: I'm running Windows 7 and v4.9.2 of the standalone app. When I first attempted to diagnose this issue, I used Fiddler to intercept the requests. Fiddler works by adding a system proxy. When the request went against that proxy, the issue disappeared and the URL was encoded properly.

[2016-12-19 20:07] tariqghalib opened #2577 "[Bug] - POST call to sign in to a page doesnt work on postman windows app but works in postman chrome app"
**Bug Description:**
If I do a post call to login by basically providing username and password it works under the postman chrome app but it fails with postman windows app.

**Version/App Information:**
-->
 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 64 professional
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recen

[2016-12-19 20:28] LouWii commented on #2568
Same issue here. Hope it'll get resolved soon :)

[2016-12-19 22:32] 0xHiteshPatel opened #2578 "Detect requestor/runner/newman in PR/Test scripts"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Mac app
 3. OS details: Mac OS 10.11.6
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: N/A
 6. Expected behaviour: N/A
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tool

[2016-12-19 23:23] Moffmo commented on #2494
Looking forward to this feature :)

[2016-12-20 01:34] dvkwong commented on #2278
Sorry to say but I do NOT like this feature.

I generally do a lot of adhoc queries etc which I do not want to overwrite the defaults. Also previously before if I screwed up the request I could simply click on the request again to go back to the defaults which is no longer the case any more.

Can we either get an option to disable feature or have an option to close all tabs without being prompted

[2016-12-20 06:55] vegetableman commented on #2578
@0xHiteshPatel Thanks for reporting this issue 👍 . Could you elaborate more on the use-case ?. What do you mean by unattended test runs?

[2016-12-20 07:03] vegetableman commented on #2577
@tariqghalib Could you verify and compare the `POST` request being sent through `Postman Console` on the native app and devtools on the chrome app?
Checkout https://www.getpostman.com/docs/errors for more details.

[2016-12-20 08:16] patric-eberle commented on #2551
Removing the folders from the collection did not make a big difference. Still only some of the tests are executed. Interestingly it seems to pick the same requests.
Newman executed all 44 tests.

Side note: I imported my endpoints from Swagger. I included a partial export of the Postman collection for you.

![bildschirmfoto 2016-12-20 um 08 46 00](https://cloud.githubusercontent.com/assets/1057194

[2016-12-20 08:17] vegetableman commented on #2574
@jvkaam Thanks for reporting this issue 👍 . The issue has been identified and will keep you posted ^_^.

[2016-12-20 11:19] GianniBortoloBossini commented on #886
Reading the [issue 337](https://github.com/postmanlabs/newman/issues/377), it suggests that you can generate a guid into pre-request scripts using $guid dynamic variable if you put it into a string.

So:
- if you need a the guid from your URL, header or body you can use `{{$guid}}`;
- if you need the guid into a pre-request script to set an environment variable to use it into your next tests, use

[2016-12-20 12:50] sdnts commented on #2551
@patric-eberle Can you open up the DevTools and see if you see any errors there?

[2016-12-20 14:12] mstaalesen commented on #2176
@abhijitkane This is especially a feature-request I can get behind after the new Two-pane-view was introduced.

[2016-12-20 14:43] sdnts commented on #2546
@waynet3 Can you try updating to the latest version (4.9.3) and verify if you issue is fixed?

[2016-12-20 14:44] sdnts commented on #2562
@xujialiang Can you try updating to the latest version (4.9.3) and see if your issue is resolved?

[2016-12-20 14:45] sdnts commented on #2568
@fanchongcn @alexgalkin @LouWii Can you guys try updating to the latest version (4.9.3) and ceck if your issue is resolved?

[2016-12-20 15:01] waynet3 commented on #2546
@madebysid The issue seems to be resolved, thank you.

[2016-12-20 15:02] #2546 closed, assigned to sdnts

[2016-12-20 15:04] #2558 closed, assigned to nobody

[2016-12-20 15:16] sdnts commented on #2550
@sschlesier I was able to reproduce this with a 307 status code for some servers (not all, though). We'll fix this in an upcoming release and keep you updated here.

[2016-12-20 15:29] AndreJacomeSilva commented on #285
+1

[2016-12-20 15:30] adrian7 commented on #2550
I have the same issue on Mac.

[2016-12-20 15:35] sdnts commented on #2548
@polomsky The interceptor sends your request through Chrome, so that's where the extra header is coming from.
Can you try on of our [native apps](https://getpostman.com/apps) and check if you can reproduce this there?

[2016-12-20 15:37] madebysid commented on #2547
@anupshah I'll investigate this. Will keep you updated here.

[2016-12-20 15:42] sdnts commented on #2547
@anupshah The maximum length of a string inside an input field is 524288 characters, which we do not override at any point. This might be causing the truncation that you observe. I'll add this as a feature request (to increase the maximum allowed limit in text fields)

[2016-12-20 16:26] alexgalkin commented on #2568
@madebysid it works for me now (after upgrade). Thanks.

[2016-12-20 16:38] patric-eberle commented on #2551
No, there are no dev. console error logs.

But good news: I just loaded Postman 4.9.3 and it seems like all 44 tests are executed now. I should be able to do some production tests tomorrow and will report if the lead to the expected result.

[2016-12-20 20:57] vgorloff opened #2579 "After updating to 4.9.x: Character "+" in URL query parameter encoded as '%20' while expected '%2B'."
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): 4.9.3
 3. OS details: macOS 10.12.1 (16B2555)
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: **After updating** to 4.9.x from 4.8.x
 6. Expected behaviour: URL parameter `foo+bar-xyz@gmail.com` encoded as  `foo%2Bbar-xyz@gmail.com`
 7. Console logs (http://blog.g

[2016-12-20 21:01] numaanashraf commented on #2579
@vgorloff Thanks for reporting. We are looking into this and will keep you posted here.

[2016-12-20 21:05] vgorloff commented on #2579
Oh. Seems it is a duplicate of #2517. And related to #2538.

[2016-12-20 21:31] Armanda888 commented on #1038
I tried the Postman Echo, when I send curl command at that page, it delayed a few seconds, and return :
curl --request GET --url https://echo.getpostman.com/delay/3 -H 'content-type: multipart/form-data; boundary=---011000010111000001101001'
{"delay":"3"}
, but when I test with postman, here is the curl command the postman generates:
curl -X GET -H "Content-Type: multipart/form-data" -H "boundary:

[2016-12-21 02:25] Tskyone commented on #2571
@madebysid Seems like It worked when posted to the site you mentioned. This is what I got when clicked Send:
![aaa](https://cloud.githubusercontent.com/assets/24636050/21375252/3ded8984-c767-11e6-99a0-80028c3f410b.png)
So it means data can be POSTed correctly and there is something wrong with the server(I made it with Sails.js)?
I will check it, thank you sir :)

[2016-12-21 03:27] jimmic commented on #2573
@charj-it totally agree with this. nice one.

[2016-12-21 07:53] kolyamba123 opened #2580 "Feature request - Predefined parameters when open new tab"
Version/App Information:
 1. Postman Version: v4.9.3
 2. App (Chrome app or Mac app): Postman for Windows win32 6.1.7601 / x64
 3. OS details: Win 7 x64

When i open a new tab, i should always put headers, URL, arguments, etc. For example, for the header, i can set presets, but whatever to use it I should make at least 3 clicks (go to the form header, click the "Presets" and click on the right).
I

[2016-12-21 08:33] Korayem opened #2581 "[Feature] Use further documentation capability directly in Postman by adding comments"
Would love to see a way to add comments beside each API or attribute in a body.

Also ability to save server response as expected sample for frontend team to answer the timeless question of "what does response look like?"

This way, we can create a documentation of our APIs to be shared between our backend and frontend devs

[2016-12-21 08:46] sdnts commented on #2581
@Korayem You can have descriptions for each request inside a collection. To do this, just hover over a request, click on the three dots to the right, and select `Edit`. Then type in your description (in Markdown) in the Description field of the modal that opens up.
This should help you explain each attribute of the request body (and more, perhaps) to developers.

As for sample responses, for now,

[2016-12-21 08:49] sdnts commented on #2580
@kolyamba123 New tabs are essentially ways to start afresh. They behave much like browser tabs.

If you find yourself repeating the headers etc. for every new request, you could save the request to a collection, and then duplicate it. Then you can open up the duplicated request and change only a small part. That should save you some time :)

[2016-12-21 08:49] #2580 closed, assigned to nobody

[2016-12-21 08:50] hollinwilkins commented on #1104
+1

[2016-12-21 08:55] kolyamba123 commented on #2580
@madebysid I have many requests in collection, but it is much easier to tap "+" button, than find request and dublicate it. Moreover, often i do not need to save the query, so the duplication is unnecessary. As a result, I have to do a lot of extra activities. It is a pity that I could not find a response from you :/

[2016-12-21 10:53] Korayem commented on #2581
Wow never noticed that before. But it needs to show up in the API details
screen too.

In addition to that, attribute level description is also important to
easily communicate, for instance, which attributes are optional. It needs
to be accessible directly where we manage body attributes, don't you think?

Keep up the amazing work. You guys are building an indispensable tool.

 Wed, Dec 21, 2016 a

[2016-12-21 11:02] #2568 closed, assigned to sdnts

[2016-12-21 11:02] #2562 closed, assigned to sdnts

[2016-12-21 12:08] a85 commented on #2513
That's a good idea. We'll think about this more and reply here.

[2016-12-21 12:45] erdemkeren commented on #739
+1

[2016-12-21 13:36] gsirin opened #2582 "Collection Runner ignores "ignored" form-data keys"
- Postman Version 4.9.3 for Windows (win32 10.0.14393 / x64)
- Interceptor disabled

Some of my test kept failing because of the following (maybe) bug.

Steps to reproduce the problem:

1. Create a new Request, select the Body-Tab and add some form-data fields and populate the keys and values with some sample text
2. Disable one form-data row by unchecking the checkbox in the very front
3. Open th

[2016-12-21 13:44] noc2spam commented on #391
Okay as for my problem, it was a redirect indeed!! Please make sure that there isn't a redirect in your case @jasonlav. It is sometimes very tough to figure that out.

[2016-12-21 14:01] patric-eberle commented on #2551
Have used the runner in Postman 4.9.3 again today and all tests seem to be executed now. Was not able to reproduce the bug from two days ago.

[2016-12-21 14:32] sdnts commented on #2551
@patric-eberle Ah that's good to hear.
Just out of curiosity, do you use setNextRequest with a combination of environment variables in your requests?

@JohnArrowwood Is your problem solved as well?

[2016-12-21 14:37] sdnts commented on #2582
@gsirin Thanks for letting us know. We're working on a fix for this. I'll let you know when it is out.

[2016-12-21 14:49] MarkSonghurst opened #2583 "Quickly Duplicate Requests"
I need to efficiently duplicate a number of core Requests between folders/collections.
To ensure a sane test environment for each of my API test cases within Postman, I must issue these Requests:
1. Login as Admin
2. Create a new user with a random email address
3. Verify that user
4. etc...

As it seems I cannot 'link' to an already defined Request from another folder or collection, I need to dup

[2016-12-21 15:06] a85 commented on #2583
Thanks for the request. We are working on exactly these things and we'll starting rolling out new versions of Postman across all platforms pretty soon.:)

[2016-12-21 16:37] a85 commented on #2410
Out now on native apps!
<img width="471" alt="screenshot 2016-12-21 22 07 40" src="https://cloud.githubusercontent.com/assets/653409/21397469/e684a214-c7c9-11e6-8d80-d7f66d3a19cf.png">

[2016-12-21 16:37] #2410 closed, assigned to nobody

[2016-12-21 16:38] a85 commented on #2397
@Aidenir There are multiple viewpoints on this. We put in defaults as the majority opinion. :)

[2016-12-21 16:38] #2397 closed, assigned to nobody

[2016-12-21 16:39] a85 commented on #2372
There is a setting for this now in native apps.

[2016-12-21 16:39] #2372 closed, assigned to nobody

[2016-12-21 16:40] a85 commented on #2290
This is out on native apps!

[2016-12-21 16:40] #2290 closed, assigned to nobody

[2016-12-21 16:41] a85 commented on #2194
Available on native apps now!

[2016-12-21 16:41] #2194 closed, assigned to nobody

[2016-12-21 16:42] a85 commented on #2170
Thanks for the suggestions. We'll have improvements to this flow soon but probably not this exact behavior. Will update the thread if we get back to this after our backlog.

[2016-12-21 16:42] #2170 closed, assigned to numaanashraf

[2016-12-21 16:42] a85 commented on #2071
Activity feed is out on native apps. Revision history will be out pretty soon!

[2016-12-21 16:42] #2071 closed, assigned to sobtiankit

[2016-12-21 16:43] a85 commented on #2008
The Chrome app platform itself is deprecated. Almost all of these issues have been addressed as part of multiple updates to our native apps through the year. We will look at web view based apps in 2017 but right now we can't do anything.

[2016-12-21 16:43] #2008 closed, assigned to nobody

[2016-12-21 16:44] a85 commented on #1924
The orange is gone but we are trying to just get rid of the loading screen altogether! :)

[2016-12-21 16:44] #1924 closed, assigned to nobody

[2016-12-21 16:44] a85 commented on #1797
Two-pane layout is now available on native apps!

[2016-12-21 16:44] #1797 closed, assigned to nobody

[2016-12-21 16:45] a85 commented on #1796
Two-pane layout is now available on native apps!

[2016-12-21 16:45] #1796 closed, assigned to nobody

[2016-12-21 16:45] a85 commented on #1795
@abhijitkane Available in Postman right?

[2016-12-21 16:45] a85 commented on #1784
Presentation mode has been removed and instead you can zoom in/out now with shortcuts!

[2016-12-21 16:45] #1784 closed, assigned to nobody

[2016-12-21 16:48] a85 commented on #1545
This is not on our immediate roadmap in it's current form. However, we are looking at the idea of "workspaces" that will help you create groups of data that might be syncable/non-syncable. We will review this feature request again at that time.

[2016-12-21 16:48] #1545 closed, assigned to nobody

[2016-12-21 16:50] a85 commented on #1404
Postman is an API testing tool and for the time being we don't expect to introduce database connectivity.

[2016-12-21 16:50] #1404 closed, assigned to nobody

[2016-12-21 16:51] a85 commented on #1260
We are working on certain changes to the collection + history combo that should eliminate the need for a feature specifically for this. Will update the thread in the future.

[2016-12-21 16:51] #1260 closed, assigned to nobody

[2016-12-21 16:52] a85 commented on #1098
Closing as duplicate of #903

[2016-12-21 16:52] a85 commented on #1098
Should be solved when we introduce colors for environments.

[2016-12-21 16:52] #1098 closed, assigned to nobody

[2016-12-21 16:53] a85 commented on #855
Should be possible with the native apps and the new Runner. Closing this.

[2016-12-21 16:53] #855 closed

[2016-12-21 16:53] #857 closed

[2016-12-21 16:54] a85 commented on #532
We'll be working on APIs on the client side for our native apps soon that should help with integration of other tools into your workflow. Closing this feature request for now. Will open new requests and share more details as the roadmap on this becomes more concrete.

[2016-12-21 16:54] #532 closed

[2016-12-21 17:19] abhijitkane commented on #1795
@mfulton26 Cmd/Ctrl+B reformats XML and JSON in the request body editor (raw mode only). You'll have to set the correct type for this to work.

[2016-12-21 17:19] #1795 closed, assigned to nobody

[2016-12-21 20:00] a85 commented on #1493
Late in replying this but after thinking a lot about this, we will implement this using the idea of Workspaces. Closing this request for now.

[2016-12-21 20:00] #1493 closed, assigned to nobody

[2016-12-21 21:30] riconegri commented on #1924
Could be simpler, the theme of black color, black background, white theme, white background, because black theme fans consume a white background?

[2016-12-21 23:07] 0xHiteshPatel commented on #2578
I'm working on a framework that allows quick prototyping of polled workflows.  We would like to enable different variations of pass/fail reporting via tests[] based on how the collection is run.  Currently the user has to toggle this via a global/env variable, however, it would be better if we could auto-detect how the user was running the collection.

[2016-12-22 02:03] sudheerj opened #2584 "Graphql dynamic variables usage in POSTMAN"
As per POC on Graphql language I'm trying to test various types of queries in POSTMAN.But I didn't find the way to add below dynamic queries in POSTMAN.If it is not supported by POSTMAN then how can we build local graphiql with our own schema.

Example,

[code]

[2016-12-22 09:40] Dmytro-Komaryst opened #2585 "Could not get any response in Windows, Linux, Mac App for 204, 304 HTTP response without "Body" but with "Header" (Content-Type →application/json; charset=UTF-8)"
Version/App Information:

 1. Postman Version: v4.9.3
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 8.1
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behavior: Windows App shouldn't fall if in the response with Header (Content-Type →application/json; charset=UTF-8)  absent the

[2016-12-22 10:10] jauharibill commented on #1384
thanks for this explaination

[2016-12-22 10:32] ghost commented on #1911
Sorry for delay. Shortcut is working fine in current version (4.9.3).

[2016-12-22 10:32] #1911 closed, assigned to nobody

[2016-12-22 10:42] Sripathi1983 opened #2586 "Some of my collections were accidentally deleted , can it be recovered"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2016-12-22 10:47] sdnts commented on #2586
@Sripathi1983 Can you email us at help@getpostman.com? We'll get this sorted.

[2016-12-22 10:47] #2586 closed, assigned to nobody

[2016-12-22 10:49] ghost commented on #2583
+1
It would be awesome to be able to point to requests outside current directory or to their duplicates in `postman.setNextRequest()` too.

[2016-12-22 15:15] victorbotamedi commented on #697
+1

[2016-12-22 15:48] arashbi commented on #1906
+1

[2016-12-22 16:32] mfulton26 commented on #1795
It works great. Thank you!

[2016-12-22 16:37] anupshah commented on #2547
@madebysid Many thanks for that. Look forward to the feature update!

[2016-12-22 17:26] polomsky commented on #2548
Native app for linux does not send Origin header.
There is unexpected header `Postman-Token` but it does not break anything.

[2016-12-22 19:28] joaqo opened #2587 "Add hotkey for selecting url bar, similar to ctrl + L in web browsers"
It would be great if we could just ctrl + l to select the url bar, as we do in browsers, in order to minimize the use of the mouse

[2016-12-22 20:39] #2483 closed, assigned to vegetableman

[2016-12-22 20:40] abhijitkane commented on #2473
@huixiaoao Feel free to re-open if you see this again.

[2016-12-22 20:40] #2473 closed, assigned to nobody

[2016-12-22 20:42] abhijitkane commented on #2432
@navff Feel free to re-open if you still face this issue.

[2016-12-22 20:42] #2432 closed, assigned to nobody

[2016-12-22 20:43] sdnts commented on #2584
@sudheerj GraphQL queries aren't supported right now, but we've been thinking about adding support for this. We're tracking it here: https://github.com/postmanlabs/postman-app-support/issues/1669.

[2016-12-22 20:43] #2584 closed, assigned to nobody

[2016-12-22 20:43] #2347 closed, assigned to abhijitkane

[2016-12-22 20:44] #2289 closed, assigned to abhijitkane

[2016-12-22 20:45] abhijitkane commented on #2158
@ShawnTalbert Closing this for now. Feel free to re-open if you still face the issue.

[2016-12-22 20:45] #2158 closed, assigned to nobody

[2016-12-22 20:45] #2133 closed, assigned to nobody

[2016-12-22 20:46] #2039 closed, assigned to nobody

[2016-12-22 20:47] #2022 closed, assigned to nobody

[2016-12-22 20:49] abhijitkane commented on #2461
@jeffska @victorhaggqvist You can try use `https://dl.pstmn.io/download/version/:version/:platform`, where platform is one of: `win32`, `win64`, `osx`, `linux32`, or `linux64`.

The fixed URL for v4.2.9 of the 64-bit linux app is `https://dl.pstmn.io/download/version/4.2.9/linux64`.

[2016-12-22 20:49] #2461 closed, assigned to kunagpal

[2016-12-22 20:50] abhijitkane commented on #2461
@jeffska @victorhaggqvist You can use https://dl.pstmn.io/download/version/:version/:platform, where platform is one of: win32, win64, osx, linux32, or linux64.

The fixed URL for v4.9.3 of the 64-bit linux app is https://dl.pstmn.io/download/version/4.9.3/linux64

[2016-12-22 20:51] #1985 closed, assigned to abhijitkane

[2016-12-22 20:52] #1986 closed, assigned to abhijitkane

[2016-12-22 20:52] sdnts commented on #2587
@joaqo We're currently revisiting all shortcuts in the app, and this exact shortcut is what we landed on for jumping to the URL bar. This will be out in our next release. Will keep you updated!

[2016-12-22 20:53] #1960 closed, assigned to abhijitkane

[2016-12-22 20:53] #1935 closed, assigned to nobody

[2016-12-22 20:53] #1879 closed, assigned to nobody

[2016-12-22 20:54] #1877 closed, assigned to nobody

[2016-12-22 21:01] abhijitkane commented on #1775
@gotoraghu Each element in your JSON file will need to look like this:
[code]

and you request body will need to be:
[code]

[2016-12-22 21:01] #1775 closed, assigned to abhijitkane

[2016-12-22 21:01] abhijitkane commented on #1763
@hardikramwani Feel free to re-open if you're still facing this issue.

[2016-12-22 21:01] #1763 closed, assigned to nobody

[2016-12-22 21:03] abhijitkane commented on #1753
@wszydlak Are you still seeing this with the latest versions of the app?

[2016-12-22 21:04] abhijitkane commented on #1743
@anilkonduru Where are you seeing this? A few screenshots would help. Feel free to re-open if you're still facing this.

[2016-12-22 21:04] #1743 closed, assigned to nobody

[2016-12-22 21:04] #1742 closed, assigned to nobody

[2016-12-22 21:05] abhijitkane commented on #1734
@nrdlngr @pchapotet Are you still seeing this issue?

[2016-12-22 21:05] #1728 closed, assigned to czardoz

[2016-12-22 21:05] #1727 closed, assigned to nobody

[2016-12-22 21:06] #1718 closed, assigned to nobody

[2016-12-22 21:06] #1704 closed, assigned to nobody

[2016-12-22 21:07] abhijitkane commented on #1689
@OmgImAlexis Are you still seeing this with the latest versions of the app?

[2016-12-22 21:22] mysteriouss commented on #2290
Great! Thanks!

[2016-12-22 21:32] mirszy commented on #1879
@abhijitkane thanks for your response. Unfortunately I couldn't wait for Postman and I had to start testing my API using other methods. So I didn't have a chance to look closely at the CryptoJS, but it seems it would work. Maybe in some next project I'll check it out.
Thanks and sorry for the late response.

[2016-12-23 01:27] OmgImAlexis commented on #1689
@abhijitkane no, haven't had any issues in the last few days/weeks at all.

[2016-12-23 01:35] sudheerj commented on #2584
POSTMAN will support graphql queries with the header Content-Type:application/graphql.But there is no way to provide dynamic variables just like Graphiql provides.
![image](https://cloud.githubusercontent.com/assets/3127317/21445372/2454cdf6-c8f3-11e6-917d-e23559a629ac.png)

[2016-12-23 07:23] #1643 closed, assigned to nobody

[2016-12-23 07:24] abhijitkane commented on #1621
@debbbbie Sorry for the delay on this. We now support `Cmd/Ctrl +/-` shortcuts to increase/decrease font size. Feel free to re-open if you still face issues.

[2016-12-23 07:24] #1621 closed, assigned to nobody

[2016-12-23 07:25] #1613 closed, assigned to nobody

[2016-12-23 07:25] #1605 closed, assigned to nobody

[2016-12-23 07:25] #1602 closed, assigned to nobody

[2016-12-23 07:26] abhijitkane commented on #1551
@sibalas We've made a number of updates to the way Postman handles file uploads. Are you still seeing this issue?

[2016-12-23 07:26] #1594 closed, assigned to nobody

[2016-12-23 07:27] abhijitkane commented on #1543
@haridak Feel free to re-open if you're still seeing this.

[2016-12-23 07:27] #1543 closed, assigned to nobody

[2016-12-23 07:28] abhijitkane commented on #1540
@jcollum Sorry about the delay on this - are you still facing this problem?

[2016-12-23 07:28] #1539 closed, assigned to nobody

[2016-12-23 07:28] abhijitkane commented on #1538
@heajink Sorry for the delay on this. We now support `Cmd/Ctrl +/-` shortcuts to increase/decrease font size. Feel free to re-open if you still face issues.

[2016-12-23 07:28] #1538 closed, assigned to nobody

[2016-12-23 07:28] #1536 closed, assigned to nobody

[2016-12-23 07:28] sdnts commented on #2548
@polomsky `Postman-Token` is a custom header which you can use to track requests, it shouldn't break anything.
When using the interceptor, requests are actually made though Chrome (which is the primary use case for the Interceptor, so you can use cookies from the browser etc.).

The native apps, however, make requests using a NodeJS environment, so they don't have this problem :)

Closing this, as

[2016-12-23 07:28] #2548 closed, assigned to nobody

[2016-12-23 07:29] #1455 closed, assigned to nobody

[2016-12-23 07:30] abhijitkane commented on #1505
A URL param with `%20` should be interpreted as a space by your server. Feel free to re-open if you still face issues.

[2016-12-23 07:30] #1505 closed, assigned to nobody

[2016-12-23 07:31] abhijitkane commented on #1520
@akapoor47 @kanika9190 This isn't supported yet. We've added this to our roadmap, and will take it up for internal discussion soon.

[2016-12-23 07:31] sdnts commented on #1538
You can also increase the editor font sizes by using the Settings page (Wrench icon > Settings > General Tab)

[2016-12-23 07:32] #1071 closed, assigned to nobody

[2016-12-23 07:33] #1156 closed, assigned to nobody

[2016-12-23 07:33] #1160 closed, assigned to czardoz

[2016-12-23 07:33] #1174 closed, assigned to nobody

[2016-12-23 07:33] #1253 closed, assigned to nobody

[2016-12-23 07:33] #1269 closed, assigned to nobody

[2016-12-23 07:33] #1300 closed, assigned to nobody

[2016-12-23 07:34] #1367 closed, assigned to nobody

[2016-12-23 07:35] abhijitkane commented on #1433
@wirsingj @abtiddle Support for typed variables is coming soon.

[2016-12-23 07:35] #1421 closed, assigned to nobody

[2016-12-23 07:35] #1394 closed, assigned to nobody

[2016-12-23 07:35] #1388 closed, assigned to nobody

[2016-12-23 07:35] #1386 closed, assigned to nobody

[2016-12-23 07:37] abhijitkane commented on #1318
@awright7979 You'll need to use
[code]

Console output will show up as described in https://www.getpostman.com/docs/errors

[2016-12-23 07:37] #1318 closed, assigned to nobody

[2016-12-23 07:38] #1344 closed, assigned to nobody

[2016-12-23 07:38] #1528 closed, assigned to nobody

[2016-12-23 07:39] a85 commented on #1484
@abhijitkane Adding this as part of the pm API project.

[2016-12-23 07:42] a85 commented on #2570
@ferronrsmith We had a discussion here and unfortunately for the time being, the abstraction that you can share right now would have to be a collection. I'd recommend splitting the collection and manage sharing settings at a collection level.

[2016-12-23 07:42] #2570 closed, assigned to nobody

[2016-12-23 08:52] debbbbie commented on #1621
:+1:

[2016-12-23 09:43] loicginoux opened #2588 "Suggestion: Previewing markdown description"
Hi,
I find that describing an endpoint could be improved, here are my suggestions:

- Having like github issues, a preview panel for description text.
- having a wider textarea

At the moment, writing directly in the textarea is painful, I have to first write my text on a markdown editor to check syntax, and then copy/paste it on the postman edition popup.
It would be quicker and easier to being a

[2016-12-23 09:44] sdnts commented on #2588
@loicginoux That's a great idea, adding this as a enhancement request :D
We're working on something very similar, so I'll let you know when this is out!

[2016-12-23 10:51] speedfl commented on #697
+1 @junquera

[2016-12-23 12:07] a85 commented on #2588
@vkaegis @bhawna2109 We should do a prototype design. With the in-tab editors for Markdown, we can think about this.

[2016-12-23 13:57] jcollum commented on #1540
I'm not sure. I uninstalled the app a while ago.

[2016-12-23 14:06] patric-eberle commented on #2551
No. I don't use setNextRequest.

[2016-12-23 14:24] #1540 closed, assigned to nobody

[2016-12-23 16:20] Dmytro-Komaryst commented on #2585
response from the network panel in the chrome app dev tools http://joxi.ru/KAxbwz0c9MVQm8

[2016-12-23 19:05] Afbcary commented on #1038
My collection approaches this problem by using the max delay time on the postman endpoint

https://echo.getpostman.com/delay/10

Then I check if my process has finished running. If it hasn't, I setNextRequest to delay 10 more seconds.

`if (responseData.status === "PENDING_VERIFICATION"){`
   `postman.setNextRequest("Wait 10 seconds for example to process");`
    `}`

After 5 minutes I fail a test

[2016-12-23 19:35] karthikvrao opened #2589 "Could not get any response / Broken pipe"
Version/App Information:

 1. Postman Version: 4.9.1/4.9.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 10.11.1
 4. Is the Interceptor on and enabled in the app: Yes but Not applicable
 5. Did you encounter this recently, or has this bug always been there: Yes, recently after the latest update.
 6. Expected behaviour: Requests should return response with body and status code.
 7.

[2016-12-23 22:50] vegetableman commented on #2589
@karthikvrao Thanks for reporting this issue 👍 . Could you open the devtools on the Mac app and check if there are any errors on the console? You could refer: https://www.getpostman.com/docs/errors

[2016-12-24 00:45] bityardigans commented on #2501
This is actually proving to be a big reason we are hesitant to purchase pro. Seems like a pretty big oversight that we have to have the creator publish. Instructions as mentioned above do not work; button not present.

Is there an ETA on this?

[2016-12-24 01:07] snypelife opened #2590 "macOS 10.12.2 app - empty blue button"
Lowest of priorities, I know. It doesn't even bother me. I just happened to notice it and not see anything in the issue tracker. Perhaps its nothing/intentional?

1. Postman Version: **4.9.3**
2. Mac app
3. macOS **10.12.2**
4. Interceptor is **off**
5. First time I've noticed.
6. For there not to be a empty blue button/element
7. and 8.
![image](https://cloud.githubusercontent.com/assets/1965406/

[2016-12-24 02:56] ajmas opened #2591 "Conten-type header for form-data with file preventing file being accepted in Node.js"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app):  56.0.2924.21 beta (64-bit)
 3. OS details: 10.12.1
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: a few weeks
 6. Expected behaviour: upload should be in a form the server accepts

I am trying to upload a file to a server, which is using NodeJS and express. The

[2016-12-24 03:20] ajmas commented on #2591
Looks like it may be a user error. Closing for now.

[2016-12-24 03:20] #2591 closed, assigned to nobody

[2016-12-24 04:44] karthikvrao commented on #2589
I don't see any errors. I have attached the screenshots of both Console tab and Network tab of DevTools. Let me know if you need anything else.
![postman devtools console tab](https://cloud.githubusercontent.com/assets/20852493/21465265/85b02c8e-c9c1-11e6-9ab1-d402c3657d72.png)
![postman devtools network tab](https://cloud.githubusercontent.com/assets/20852493/21465267/8a149ab2-c9c1-11e6-8a95-5794

[2016-12-24 05:16] sdnts commented on #2590
Hey @snypelife, this is supposed to be an empty state for a new tab, so this is indeed intentional :D

[2016-12-24 05:16] #2590 closed, assigned to nobody

[2016-12-24 10:11] vegetableman commented on #2589
@karthikvrao Could you send a request and check if there are any errors on the devtools console after sending it?

And If there are no errors, could you open the `Postman Console` and share the screenshot of the console for the request being sent on this thread? (`View` -> `Show Postman Console` or `Cmd + Alt + C`)?

[2016-12-24 17:25] karthikvrao commented on #2589
I forgot to mention it but actually I had checked the Postman Console last time itself while was checking DevTools and found it to be blank.

[2016-12-25 13:49] jeronimusus opened #2592 "Feature Request: Allow the "Snippits" panel within the Test tab to be hidden"
Make it possible to hide the **Snippits** panel within the **Test** tab.

The **Snippits** is very handy but it does take up valuable real estate when I am just using my laptop. thanks!

[2016-12-26 03:57] loveiset commented on #2207
ran into the same problem.
Did you have found the solutions?

[2016-12-26 07:11] vegetableman commented on #2589
@karthikvrao I guess you misunderstood. Could you keep the devtools open, while the request is being sent? and check if the are any errors on the devtools console and `Postman Console`?

[2016-12-26 08:42] npadhya opened #2593 "Custom snippets for test code"
Feature request

Currently, Postman's Test tab have the list of Code snippet that helps the beginner.
Can we have a way to add custom snippets so working with tests and helping the team become easier?

[2016-12-26 08:49] npadhya opened #2594 "Auto activate response search input on clicking search icon"
Bug Fix | Feature request

Postman app has the response section where the response body is displayed, It also has a search functionality by clicking on a Search icon. But it's very annoying that upon clicking the search icon the search input box is not auto activated. So after clicking on the search icon, the user will have to click on the input to start typing the search string.

Can postman fix

[2016-12-26 14:37] automatix opened #2595 "How to reset/restore the example Postman collections?"
Hello!

I created a new GET request in Postman and accidentally saved it as one of the example Postman requests (and so overwrote it). How can I restore the standard request set?

I removed Postman and installed it again, hoping, that then I would get the example collections again. But it hasn't worked. Now I cannot access the example requests at all (I only see the collections and the total numbe

[2016-12-26 17:11] sdnts commented on #2595
@automatix If you go to https://echo.getpostman.com/ and click on Run In Postman on the top-right, you should be able to re-import the sample requests

[2016-12-26 17:11] #2595 closed, assigned to nobody

[2016-12-26 18:24] karthikvrao commented on #2589
Ok, I did that and found that DevTools console had no errors but Postman Console had an error(screenshot attached).
![postman console error](https://cloud.githubusercontent.com/assets/20852493/21485263/90e7a274-cbc6-11e6-82b8-d46697bfdb20.png)

[2016-12-26 21:56] automatix commented on #2595
Perfect, thank you very much!

[2016-12-27 13:34] wszydlak commented on #1753
Yes, when You does'nt fill any form-data (key - value pairs) then header with content type is not being sent

[2016-12-27 20:38] sshanks24 opened #2596 "empty environment variables are lost"
1. Postman Version:
4.9.3
 2. App (Chrome app or Mac app):
Mac app
 3. OS details:
 El Capitan (10.11.6)
 4. Is the Interceptor on and enabled in the app:
 No
 5. Did you encounter this recently, or has this bug always been there:
 Recently.  Guessing this was introduced with 4.9.3?
 6. Expected behaviour:
 Empty environment variables should be allowed

Steps to reproduce the problem:

1. Create a

[2016-12-27 22:12] mayeaux commented on #884
Same issue on OS X. I was using a proxy for sniffing endpoints which blew it up I think. Reinstalled Interceptor and it works now.

[2016-12-27 22:30] mayeaux commented on #884
Yup, can confirm, when I turn on Charles Proxy it breaks Interceptor and the only way to fix it is to reinstall it.

[2016-12-27 22:37] shamasis commented on #1978
@a85 present in runtime already.

[2016-12-27 22:39] shamasis commented on #1038
@a85 should be easily addressed using asynchronous scripts and setTimeout

[2016-12-27 22:40] shamasis commented on #2578
@a85 we need to decide whether we should do this since we are trying hard to unify all runtime hosts and difference during run can be confusing.

[2016-12-27 22:42] shamasis commented on #1757
@a85 something like `pm.break()` and `pm.continue()` can aide

[2016-12-27 22:43] shamasis commented on #2291
@a85 pm-api could allow mutating request from an SDK request instance passed to pre-request script.

[2016-12-27 22:44] shamasis commented on #1196
TDD/BDD style will aide this

[2016-12-27 22:47] shamasis commented on #1222
@a85 zlib api equivalent to node can be provided in sandbox, unless there is a blocker running it inside VM.

[2016-12-27 22:47] shamasis commented on #1262
`pm.response` should contain saved responses. if not, it can be exposed some other way.

[2016-12-27 22:49] shamasis commented on #1266
closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/1262

[2016-12-27 22:49] #1266 closed, assigned to nobody

[2016-12-27 22:51] shamasis commented on #1365
@a85 seems like this is exactly how collections work now. am i missing something?

[2016-12-27 22:52] shamasis commented on #1401
duplicate of https://github.com/postmanlabs/postman-app-support/issues/1038

[2016-12-27 22:52] #1401 closed, assigned to nobody

[2016-12-27 22:55] shamasis commented on #1563
This has been implemented in runtime of native apps. Closing.

+ @a85

[2016-12-27 22:55] #1563 closed, assigned to nobody

[2016-12-27 22:56] shamasis commented on #1571
duplicate of https://github.com/postmanlabs/postman-app-support/issues/1038

[2016-12-27 22:56] #1571 closed, assigned to nobody

[2016-12-27 22:58] shamasis commented on #2310
@a85 - seems like a requirement of tighter integration between test result and console logs. like shown in newman.

[2016-12-27 23:02] shamasis commented on #2401
@a85 setting next request by ID is supported, but since ID is mostly auto-generated, the side effects during export and import is out of control at the moment. We could however, track non-autogenerated IDs and retain them beside autogenerated ones.

[2016-12-27 23:03] shamasis commented on #2557
closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/1262

[2016-12-27 23:03] #2557 closed, assigned to nobody

[2016-12-27 23:04] shamasis commented on #2554
duplicate of https://github.com/postmanlabs/postman-app-support/issues/1196

[2016-12-27 23:04] #2554 closed, assigned to nobody

[2016-12-27 23:07] shamasis commented on #1938
@czardoz is there any further scope left to elaborate the SSL failure error message? Does UI show SSL failure messages on response area / like script errors? + @a85

[2016-12-27 23:08] shamasis commented on #1641
If not Jasmine, there will be a similar style.

[2016-12-28 05:44] mohamedmubarish-s-19801 commented on #1262
I tried `pm.response` to get the saved response,  but getting the error message pm is undefined. Any quick solution is much appreciable. Thanks

[2016-12-28 05:44] saurabhg476 commented on #770
On mac osx, `cmd + ~` works if all the windows of the same application are opened in the same workspace.

[2016-12-28 08:45] amadeobrands commented on #1137
+1

[2016-12-28 09:28] czardoz commented on #1938
@Richard-Foo SSL failure details are logged in the Postman Console (View > Postman Console), which contain these details.

[2016-12-28 09:31] Neeerav opened #2597 ""GET", "SEND" and "SAVE" button align to the left of the panel"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Encountered it recently
 6. Expected behaviour: The buttons should be aligned to the right
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insi

[2016-12-28 10:03] SamvelRaja commented on #2597
@Neeerav Thanks for bringing this to our notice. We shall take keep you updated on this progress over here.

[2016-12-28 10:17] sdnts commented on #2597
Hi @Neeerav, can you reliably reproduce this? If so, can you let me know what triggers this?

[2016-12-28 12:22] Neeerav commented on #2597
I cannot reproduce this issue consistently. I am trying to understand what exactly is causing this issue. I will update on the same thread in case I find it out.

[2016-12-28 12:54] GuilhermeMatheus commented on #1137
+1

[2016-12-28 15:51] PFarrell89 opened #2598 "[Bug] Postman does not save Postman Variables if the value is 0"
1. **Postman Version:** Version 4.9.3
 2. **App (Chrome app or Mac app):** Windows App
 3. **OS details:** Windows 10 64 Bit
 5. **Did you encounter this recently, or has this bug always been there:** This was definitely working in the past as our regression tests are now throwing errors in Postman.
 6. **Expected behaviour:** Postman should save Postman Variables regardless of the value returned.

[2016-12-28 15:52] loganbeougher commented on #1825
@abhijitkane Thank you!!!! Best thing I found on google today!!!!

[2016-12-28 16:01] scottwhetzel commented on #1562
allowing this "chrome-extension://postman_extension_id/" as a javascript exception worked very well for me.  thanks to the previous writers for revealing this.  It would have been soo helpful if postman had given any error indication regarding the javascript permissions.

[2016-12-28 16:54] JohnArrowwood commented on #2551
I moved the requests from one folder into 4 folders.  When run as 4
folders, it works.

It was PAINFUL to have to move that many requests (around 500), so unless
there is a way created to move multiple requests at once (highly
desirable), I'm not willing to take the time to move it back to test to see
if the problem is fixed.  I hope you can understand where I'm coming from,
there.

On Wed, Dec 21

[2016-12-29 06:12] kunagpal opened #2599 "https://github.com/postmanlabs/postman-app-support/issues/2598"

[2016-12-29 06:13] #2599 closed, assigned to nobody

[2016-12-29 07:25] kunagpal commented on #2517
Possible duplicate of #2468, related to #2510, #2508

[2016-12-29 08:02] kunagpal commented on #2260
@a85 For the record, this is currently possible.

[2016-12-29 08:05] cvcnsprakash commented on #1538
Struck up with the same issue..app is opened and is shown in taskbar. But when i click it, nothing happens!
Also, if i Press alt+tab, i can see a small rectangle boxed postman window, but when i click it nothing happens. Have tried reinstalling and chrome is uptodate!

Any help is Appreciated!

[2016-12-29 08:18] kunagpal commented on #2592
Duplicate of #2176

[2016-12-29 10:48] scoful opened #2600 "when i edit an api with chinese in description , it's weird"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome 55.0.2883.87
 3. OS details: win 10
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: yes

when i edit an api with chinese in description , it's weird.
please try it.

[2016-12-29 11:00] kunagpal commented on #1412
Related to #810

[2016-12-29 11:11] kunagpal commented on #2593
Duplicate of #675

[2016-12-29 21:46] gigaduck opened #2601 "Postman not saving/recognizing cookies"
1. Postman Version:  v 4.9.3
 2. App (Chrome app or Mac app): Native App (windows)
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently, after running an update.
 6. Expected behaviour:  Expecting cookies to be recognized and saved when doing a POST to an internal network website.  The Cooki

[2016-12-30 11:22] a85 commented on #1407
Try the two-pane layout now in our native apps! :)

[2016-12-30 11:22] #1407 closed, assigned to nobody

[2016-12-30 11:30] baba216 commented on #60
What about this feature:

`how about endoints that deliver other binary files such as .zip?`

when I tried I am getting something as rather the download link:
PK�����I������������(���72b94c01-6b6b-434

[2016-12-30 16:14] ulisesantana opened #2602 "File upload sends undefined request.files"
I was building an image uploading API in Express. When I tried by form-data body and post method request.files always come undefined. If I try with a plain html form, request.files come with all the data and the API works fine.

**Postman Version:** 4.9.2
 **App:** Chrome App (Running on Chrome 54.0.2840.100)
 **OS details:** Ubuntu 16.04 x64
 **Is the Interceptor on and enabled in the app:** No
*

[2016-12-31 12:49] SvenSchoene commented on #2601
I experience the same issue.

However, additionally the issue came up for me in the Chrome app as well. I was always using the Chrome app, even a few days ago, and everything worked regarding cookies/interceptor. However, today it doesn't: the application I am working on always wants me to log in. Something which hasn't happened before.

I tried out the native Windows app today: same issue there.

[2017-01-01 02:44] SCKelemen commented on #2584
What do you mean by 'no way'??

[2017-01-01 12:27] sudheerj commented on #2584
I mean there is no query variable section with in POSTMAN just like GraphiQL

[2017-01-02 19:30] nowucca commented on #855
I'm only seeing test script failures if I open the run summary.  This seems wrong.

[2017-01-03 09:22] SamvelRaja commented on #1051
This has been fixed in the latest app, hence closing it.

[2017-01-03 09:22] #1051 closed, assigned to nobody

[2017-01-03 09:26] SamvelRaja commented on #1211
@kevinvanmierlo I tried reproducing the same in the latest app, it is working fine. Kindly reopen the issue if you are facing it still.

[2017-01-03 09:26] #1211 closed, assigned to nobody

[2017-01-03 09:35] SamvelRaja commented on #1221
@grongor @bartoszj  Overriding the content-type is available in our latest app. Can you guys check the same and let me know if i missed any?
![screen shot 2017-01-03 at 2 59 52 pm](https://cloud.githubusercontent.com/assets/5114052/21603833/f9499eb2-d1c5-11e6-98e7-a2e2e2e87a4b.png)

[2017-01-03 09:35] #1221 closed, assigned to numaanashraf

[2017-01-03 09:47] SamvelRaja commented on #1355
<img width="808" alt="screen shot 2017-01-03 at 3 16 26 pm" src="https://cloud.githubusercontent.com/assets/5114052/21604167/a3ab6114-d1c7-11e6-9a03-2161018fa957.png">
@stevemcmillen @eltone  This has been fixed in the latest app. You can have an empty value for an environment. Kindly check the same.

[2017-01-03 09:47] #1355 closed, assigned to nobody

[2017-01-03 09:54] SamvelRaja commented on #1449
Tracked and fixed in the issue #1980

[2017-01-03 09:54] #1449 closed, assigned to nobody

[2017-01-03 10:21] kevinvanmierlo commented on #1211
@SamvelRaja Yeah it's working fine now, thanks! Forgot to close this.

[2017-01-03 12:08] SamvelRaja commented on #1376
Tracking in #1376

[2017-01-03 12:23] SamvelRaja commented on #1982
@thomasvdbossche Closing this now. Kindly open this if you need to anytime 😄

[2017-01-03 12:23] #1982 closed, assigned to abhijitkane

[2017-01-03 12:24] sdnts commented on #1993
@FredrikTamm Closing this. Feel free to reopen if this isn't resolved yet.

[2017-01-03 12:24] #1993 closed, assigned to nobody

[2017-01-03 13:08] jvkaam commented on #2596
Yes we encountered the same problem.. you could enter a space as a temporary workaround if that works for you but it should be fixed..

[2017-01-03 13:09] ahilsend commented on #1535
+1

Maybe something like a set of request definitions (probably parametrized through env).

And a "test definition" could take several such definitions, and a list in which sequence to execute those. This way requests could be shared across test runs, and one test run could run the same request twice if needed.

[2017-01-03 13:44] St3ffn commented on #2598
+1
same problem on Linux Client

[2017-01-03 16:06] sshanks24 commented on #2596
Unfortunately, the space workaround doesn't work for our use case.  We wind up with the spaces being passed in the url like:
[code]

[2017-01-03 16:06] tariqghalib commented on #2577
@vegetableman I have tried it but on postman chrome I dont get any console data . I have even tried to get some Network data but nothing useful there. On chrome I do get success though but on Windows app, it just fails with error that I mentioned above.
One observation is if I turn OFF interceptor on chrome it doesnt gives me any response back from the login page. Is there anything related to that

[2017-01-03 18:15] shevyf commented on #1490
Hi, just to follow up on this, the HTTP 1.1 RFC actually states that responding with a GET request is an error, and a holdover from HTTP 1.0:

[code]

(from https://www.ietf.org/rfc/rfc2616.txt section 10.3.2)

[2017-01-03 18:15] stevemcmillen commented on #1355
Confirmed fixed

[2017-01-03 20:33] mthoreso commented on #2176
+1

[2017-01-04 06:08] cdax commented on #350
+1

[2017-01-04 07:10] SamvelRaja commented on #1734
@pchapotet @e-nouri @julipur @nrdlngr The Session token support for AWS has been available in the latest version of the app. Kindly check the same from your end 😄

[2017-01-04 07:10] #1734 closed, assigned to nobody

[2017-01-04 07:15] SamvelRaja commented on #1558
@llefkowitz The latest app  will finds its availability and shows up the modal to choose between copy as new or replace with old one while importing it.

[2017-01-04 07:15] #1558 closed, assigned to nobody

[2017-01-04 08:08] vegetableman commented on #2598
@St3ffn @PFarrell89 Thanks for reporting this issue 👍 . The issue has been identified. Will keep you guys posted.

[2017-01-04 09:51] Dmytro-Komaryst commented on #2585
Hello,
I've reproduced this bug in the Node.js

My script:
var request = require("request");
require('request-debug')(request);
request.get('https://bo-qa-02.icecat.biz/restful/v2/multimedia/21021?access_key=XXXXXXXXXXXXXXXX&session_type=rest', function (error, response, body) {
  console.log(error);
  console.log(response);
  console.log(body);
});

Node.js error response:
C:\nodejs\Console2>node

[2017-01-04 10:08] SamvelRaja commented on #1811
@SivaKrishnaKorlam The reason is your corporate proxy needs to allow websocket connection to make sync to work.

[2017-01-04 10:08] #1811 closed, assigned to nobody

[2017-01-04 10:31] SamvelRaja commented on #2352
@pmneve Can you able to install the app?

[2017-01-04 12:38] schmitti123 opened #2603 "setGlobalVariable with value 0 does not work"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS 10.10.2 (sierra)

If i try to set a global variable with value  0 (zero) it does not work.
The variable will not be created if I run the requests manually.

In the Postman-Runner it does work.

The code is like that:

`postman.setGlobalVariable("tmpVersion", 0); `

[2017-01-04 12:43] SamvelRaja commented on #2603
@schmitti123 Tracked here #2598

[2017-01-04 12:43] #2603 closed, assigned to nobody

[2017-01-04 13:40] ferguspl commented on #1263
Same issue as above. When will this be available in Chrome?

[2017-01-04 15:25] tariqghalib commented on #2577
@vegetableman Actually I investigated a bit further by building the whole request through nodejs and playing around with query string parameters and I found that:

1. Our sign in (web app) requires few 302 redirects in the process of authentication
2. Chrome was able to preserve all the query string parameter values during the 302 redirect but windows app actually does not preserve (or changes) th

[2017-01-04 15:47] tariqghalib opened #2604 "[Bug] - Postman Windows app cannot handle 302 redirects properly"
**Description:**
During a sign in to a web app to retrieve the authentication Code, there are few redirects involved and postman windows app fails to preserve all query parameters during the redirects, while the postman chrome app can handle that properly.

**Version/App Information:**
 1. Postman Version: Version 4.9.3
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows Professional

[2017-01-04 16:10] Dmytro-Komaryst commented on #2598
+1
same problem if value = "" or []
Any empty value

[2017-01-04 16:21] LuiSlacker opened #2605 "Header Content-Type Field not updated when switching content type radio buttons"
**Version Info**

 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: macOS Sierra (10.12) OS X / x86-64
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: When selecting the  _x-www-form-urlencoded_ option for POST/PUT request within the body tab, a header f

[2017-01-04 18:35] TomBaxter commented on #495
Didn't lose exactly, but sync hopelessly mangled the collection I've been working on all day. :(

[2017-01-04 19:32] thix1606 commented on #2517
Same problem here. Our system generates authentication keys that users must send in each request. In several API that key is sent as a GET parameter. After updating to 4.9.x the problem began.
When the key has a plus sign (+) the requests do not work.
Is there a solution or workaround for that yet?

[2017-01-04 22:45] tariqghalib commented on #2550
+1 for windows app for 302 redirects

[2017-01-05 01:24] zach-is-my-name commented on #1538
Why was this issue closed? The Op was addressing the inability of the window to appear.  I am having this issue, regardless of an unrelated font matter which is not referenced in the title

[2017-01-05 01:38] zach-is-my-name opened #2606 "Window disappears when attempt to toggle off full screen"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Guess what? Postman also has a Windows version!
 3. OS details: 14393.576
 4. Is the Interceptor on and enabled in the app:  Don't know
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behavior: Ability to not be in full screen
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chr

[2017-01-05 10:30] theythinkimmexican commented on #2049
spent a while looking at this yesterday. clearing the cookies would be nice.

[2017-01-05 10:58] ghost commented on #1210
This issue still exists in v4.9.2

[2017-01-05 12:49] om3rcitak opened #2607 "Missing WebDAV Methods"
Missing WebDAV Methods

1. MOVE
2. MKCOL
3. PROPFIND
4. PROPATCH

details: http://www.webdav.org/specs/rfc2518.html

[2017-01-05 13:11] starchen commented on #1104
+1

[2017-01-05 14:09] rvdfox opened #2611 "Request headers are cached"
Recently i needed to check a set of api which uses authorization from request headers, and for first request it worked , but for subsequent request i was getting error, on further inquiry we got to know that
the postman is sending same headers as was sent in first request.on the counter part SoapUI client worked every time.please have a look into this issue

 1. Postman Version: 4.9.2
 2. App (Chr

[2017-01-05 15:25] ghost commented on #739
@a85 what's up with the assignment removal?

[2017-01-05 15:33] mardawi commented on #2601
I'm facing the same issue with the native app

[2017-01-05 16:06] rajivverma commented on #1658
Same here!

[2017-01-05 16:18] tekoyaki commented on #2402
Also getting similar problem with Chrome version not being able to access an endpoint but the standalone does. Using v4.92 on Chrome and v4.9.3 on standalone.

Generated code snippet is the same other than the postman token.

Standalone (success):

Chrome (400 Bad Request):

[2017-01-05 17:30] shevyf commented on #2604
This has been an ongoing issue - according to the HTTP 1.1 RFC, the redirected requests should use the same method as the original, but Postman developers have commented that they believe it should be handled as a GET per that RFC. In fact, code 303 exists to ask for a different method, while 301 and 302 should use the same method.

[code]

from https://www.ietf.org/rfc/rfc2616.txt in the section

[2017-01-05 18:19] stevemcmillen commented on #2195
Now I've noticed the app re-opened tabs at startup.  So that workaround no longer works.  You have to open a new window and close the previous one.

POSTMan used to have a settings checkbox that allowed you to tell it to close tab w/o prompting for save (much like the "dont ask me again" option suggested above).  It was convenient.  Now its gone.  I wish this option would just be brought back.  I

[2017-01-05 19:33] Vaccano commented on #1137
+1

[2017-01-05 21:37] markSbrandt commented on #495
weird thing i noticed i'm on a mac ... when i used spotlight search and opened postman my history was gone ... when I opened via chrome > apps > postman the history was there ... whooo!

[2017-01-05 21:39] dmumladze commented on #2225
v4.9.3 has the same issue.

[2017-01-06 06:17] #2592 closed, assigned to a85

[2017-01-06 06:21] sdnts commented on #495
@TomBaxter Can you email us at help@getpostman.com?
@markSbrandt If you have both the Chrome & Mac app, maybe you weren't signed in on the Mac App?

[2017-01-06 06:23] sdnts commented on #2596
Guys, this might be related to https://github.com/postmanlabs/postman-app-support/issues/2598, I'll investigate and let you know.

[2017-01-06 06:29] sdnts commented on #739
Guys, we're planning on having a more generalized authorization helper, will take this up as a part of that :)

[2017-01-06 17:30] mattusey-zimperium opened #2612 "Send Referer using Interceptor"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app):Chrome 55.0.2883.95
 3. OS details:OS X 10.11.6
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: first time checking
 6. Expected behaviour: When using interceptor, expect Referer header to be sent out with API calls

Steps: Turn on Interceptor in Postman, navigate

[2017-01-06 18:29] rest17 opened #2613 "Postman Collection Runner Not able To save the responses for all the iteration"
1. Postman Version: 4.9.3 (Free)
 2. App (Chrome app or Mac app): Postman For Mac
 3. OS details: OS X 15.6.0/x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently Started Using Postman and then seeing it.
 6. Expected behaviour:

When the collection runner test result are saved , it should save the request and res

[2017-01-06 19:43] georambo commented on #697
+1.

Still 3 months since last update about considering this :(

[2017-01-06 21:02] mcdan commented on #1368
Not surprisinly trying to get tv4 to include the remote schema also fails, I tried in postman with a test like this:
[code]
The test result is worryingly a pass. So even though it couldn't really fetch the schema it passes the test.

Loading a remote schema or being able to set in the test in some way is really necessary. Reading up on how data variables work I don't think I could even back door t

[2017-01-06 22:33] rest17 commented on #571
@madebysid

I am using currently Postman for Mac version 4.9.3. Does this version runs has concurrent run support.  If collection has an iteration of 10 will all ten request will run concurrently or sequentially.

[2017-01-06 22:49] rest17 opened #2614 "Need Information regarding the concurrent request in Postman"
I running collection for a request with iteration count set to 50.

Are all the 50 request running parallelly or sequentially.

[2017-01-07 05:30] rajcybage opened #2615 "Different response time : original server response time is different than postman rest call response time"
Version/App Information:

 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome App Chrome 55.0.2883.87
 3. OS details: win / x86-64
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: always been there
 6. Expected behaviour: same response time
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-ch

[2017-01-08 05:28] 0xHiteshPatel commented on #2578
For reference the framework is here:

https://github.com/0xHiteshPatel/f5-postman-workflows

[2017-01-08 15:49] kamiwa commented on #907
+1

[2017-01-09 05:36] sdnts commented on #2613
@rest17 The app has no restrictions even if you are not a part of any team.
The requests and responses logged in the Collection Runner are meant to be logs, and as such, they are not exported to prevent security concerns.
Closing this. Feel free to reopen if I misunderstood.

[2017-01-09 05:36] #2613 closed, assigned to nobody

[2017-01-09 05:56] sdnts commented on #571
@rest17 Ah you're talking about concurrent iterations, that isn't possible (yet). By concurrent runs, I meant you can have multiple runs running at the same time.
At this time, iterations are sequential. Hopefully this clears up your doubt.

[2017-01-09 05:58] sdnts commented on #2614
@rest17 As of now, a run is sequential. So, when you start a run with 50 iterations, it'll run sequentially.
I'm guessing you're trying to do some sort of load testing, which isn't possible right now. This is something we're considering, but there isn't an ETA as of now.

[2017-01-09 05:58] #2614 closed, assigned to nobody

[2017-01-09 06:05] sdnts commented on #1658
@anurudda @mmhy2003 @rajivverma I've seen some corporate proxies that disable websocket connections. Sync works majorly on WS, can you guys check if this is the problem?

[2017-01-09 06:18] sdnts commented on #2601
@gigaduck @SvenSchoene @mardawi Cookie Management in the Chrome App is done by Chrome, and as such, if you want to use your Chrome cookies in your request, you'll have to turn on the Interceptor (which will actually make the request from Chrome, so correct Cookies will be attached)

On the native apps, the cookie store is separate from Chrome.

In either case, can you guys try getting / setting co

[2017-01-09 06:22] sdnts commented on #2611
@rvdfox If I understand correctly, you are generating an auth signature using parameters of your request right? What kind of authorization are you using?
Also, a little more detail about the actual request you are making would help us get to the bottom of this. No need for actual parameter values, just placeholders would do.

[2017-01-09 06:23] sdnts commented on #2604
@shevyf We'll definitely look into this in more detail. Will keep you updated here.

[2017-01-09 06:27] sdnts commented on #2577
@tariqghalib We're investigating redirects (Also reported here: https://github.com/postmanlabs/postman-app-support/issues/2604). Will keep you updated.

[2017-01-09 06:29] sdnts commented on #1263
Guys, the Chrome platform does not allow us to have contextual right-click menus (only generic menus), so unfortunately, there isn't much we can do about this as of now. I'd recommend switching to the native apps, where we have more control.

[2017-01-09 06:30] sdnts commented on #2585
@Dmytro-Komaryst Thanks for the detailed report & apologies on the delay. We're looking into this.

[2017-01-09 06:54] sdnts commented on #2606
@zach-is-my-name Are you working on the native Windows app? Could you provide a little more detail on what problem you're facing?

[2017-01-09 07:01] sdnts commented on #2607
@Om3rCitak While we really appreciate the pull request, the actual app code isn't the one you see here. This repository is meant only to be a place to organize issues.

Custom methods is on our roadmap, and we're tracking this here: https://github.com/postmanlabs/postman-app-support/issues/1710.

[2017-01-09 07:01] #2607 closed, assigned to nobody

[2017-01-09 07:05] sdnts commented on #2600
@scoful Could you give me a little more detail on what you weird behaviour you see?

[2017-01-09 09:57] vegetableman commented on #2605
@LuiSlacker Thanks for posting this issue 👍 . Let's keep the discussion on this thread https://github.com/postmanlabs/postman-app-support/issues/2366.

[2017-01-09 09:57] #2605 closed, assigned to nobody

[2017-01-09 11:26] GMolini commented on #907
+1

[2017-01-09 11:35] luispabon opened #2616 "Add software repositories for Linux distros"
As per title; keeping Postman update is a major chore as it requires manual installation instead of integrating with my distro's (Ubuntu) software repositories.

[2017-01-09 14:33] DaRolla opened #2617 "Missing JSON in body when importing from Swagger"
Hi there,

1) I use http://editor.swagger.io and choose File -> Open Example... -> petstore_full.yaml.
2) Then I choose File -> Download YAML.
3) In Postman I choose Import and drag the downloaded YAML file

Right now there are several Folder with the Requests.

For example in the folder "pets" there is the post request "Add a new pet to the store". But opening it and choosing "Body" I only can re

[2017-01-09 14:34] DaRolla commented on #2617
Here's the petstore_full.yaml as ZIP file...

[petstore_full.zip](https://github.com/postmanlabs/postman-app-support/files/693699/petstore_full.zip)

[2017-01-09 14:35] DaRolla commented on #2617
Here's a short documentation how to use Swagger UI...

http://swagger.io/docs/#swagger-ui-documentation-29

[2017-01-09 18:35] robertkuhar commented on #2579
This is happening to me and its kind-of a big deal.  Is Postman incapable of dealing with URL encoded parameters?

[2017-01-09 18:44] robertkuhar commented on #2517
Same problem here.  How do I downgrade or when can this get fixed?  Its kind-of a big deal here as email addressed "tagged" with '+' (user.name+tag@example.com) are really popular on our service.  There's not a test case for URL encoding in Postman?

[2017-01-09 18:50] intacctcoleenho commented on #1603
Second this request!

[2017-01-09 19:00] tobeliketree commented on #2517
I'm the original poster and would love an update.  This has been really disruptive to my work and I see that I'm not alone here.   The status is....?

[2017-01-09 19:06] tobeliketree commented on #2538
Any updates on this?  I logged https://github.com/postmanlabs/postman-app-support/issues/2517 and no movement on that either.  this has been really disruptive to my workflows.   Can someone update?

[2017-01-09 19:28] sixcorners opened #2618 "Trailing 0s don't show when JSON is pretty printed"
1. Postman Version:4.9.2
 2. App (Chrome app or Mac app): chrome app
 3. OS details: mac
 4. Is the Interceptor on and enabled in the app: what is that?
 5. Did you encounter this recently, or has this bug always been there: yes, idk
 6. Expected behaviour: shows the values as they are in the JSON
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postma

[2017-01-09 23:13] sschlesier commented on #2550
@madebysid do you know what the cause is?  Is there something missing/extra in some responses?

[2017-01-10 00:01] PFarrell89 commented on #2598
Also confirmed issue on v4.9.3 on the Chrome App.

[2017-01-10 01:12] garunski commented on #1180
+1

[2017-01-10 01:13] garunski commented on #798
+1

[2017-01-10 01:46] tmack8001 commented on #2596
yes this is plaguing me as well as I have a "port" environment variable switch for all of my postman api requests that under certain circumstances is set to "" meaning use the protocols default value... have a work around that works, but this should be fixed.

[2017-01-10 03:52] dertz commented on #726
I am looking at a response that I know has CRLF in it yet when displayed under the raw response I am not seeing them.  This is confusing and leads one to believe that they are missing in the response. When I go to other tools that display the raw response I see them shown as line separators.

I tried  the Response (formatted) tab but it is not displaying anything, the display area is blank.  The r

[2017-01-10 07:14] czardoz commented on #2604
@shevyf We'd really like to follow the RFC. The problem however, is this: http://stackoverflow.com/questions/17605915/what-is-the-correct-behavior-expected-of-an-http-post-302-redirect-to-get

Basically, when browsers see a 302 to a `POST` request, they make a `GET` request to the URL specified in the `Location` header. A large number of Postman users expect it to behave in the same way as browser

[2017-01-10 07:33] a85 commented on #2501
@bityardigans We missed this and will be changing the behavior pretty soon. Talking to the team.

[2017-01-10 07:34] #2593 closed, assigned to a85

[2017-01-10 10:44] sdnts commented on #2616
@luispabon This is on our roadmap. Although there isn't an ETA right now, I'll keep you updated here.

[2017-01-10 12:07] ysrc26 commented on #2253
You need to set proxy environments within the cmd and run postman from cmd.
This is work for me,
open cmd and set the following:
[code]
And then run the postman by:

`%AppData%\..\Local\Postman\Update.exe --processStart "Postman.exe"`

If your proxy requires authentication, you need to use this:
[code]

[2017-01-10 12:42] kugaevsky commented on #1137
+1

[2017-01-10 14:07] fb-datax commented on #1104
+1

[2017-01-10 16:34] mistersender commented on #1963
@shamasis i think this has been addressed with the recent updates to collection runner?

[2017-01-10 17:07] rajivverma commented on #1658
@madebysid yes you are right, it is a proxy issue. Though the corporate proxy allows the WS at my work place. But the proxy address gets overwritten automatically in windows 10 proxy settings to invalid address I suppose. Check the screen below, if I move the port no. to port no. box and save it, WS works briefly on my machine until something is overwriting the setting back.
![image](https://cloud

[2017-01-10 17:21] nusairi commented on #1137
Is there any news about adding NTLM since this post?

[2017-01-10 18:56] sdnts commented on #1137
We're going to take a look at a more generalized helper for authentication very soon. Will take this up as part of that :)

[2017-01-10 18:57] Vaccano commented on #1137
@madebysid Excellent!

[2017-01-10 20:06] mstaalesen commented on #1963
While to some extent it is solved, if there is a javascript error a red line is posted asking to check dev tools. However, if there are a lot of tests, the error message will be hidden. And if the tester does not scroll down to the bottom, it is is still possible to miss that there was a problem with the tests themselves.

[2017-01-10 20:07] RobbyDeLaet commented on #1137
@madebysid Excellent news indeed!

[2017-01-10 20:35] nlwillia opened #2619 "Authorization tab should trim key values"
Postman 4.9.2 in Chrome 55.0.2883.87 on win / x86-32

The Authorization tab should trim the input fields for values like OAuth keys, tokens and secrets.  These are almost always going to be pasted from somewhere else which makes it easy to pick up stray whitespace.  If trailing whitespace is treated verbatim, it creates an obscure and frustrating failure point when the request doesn't authenticate

[2017-01-10 21:35] workabyte opened #2620 "Enviornment Var as Host is not Resolved Properly With Shared Collection"
1. Postman Version:4.9.2
 2. App (Chrome app or Mac app):Chrome 55.0.2883.87
 3. OS details:win / x86-32
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: prob not new
 6. Expected behaviour:
Url looking like this: GET: http://{{api.url}}/somthine/special/
with Env Values api.url == 'api.someplace.com'
would result with: GE

[2017-01-10 22:29] bajabob commented on #285
+1

[2017-01-11 06:03] sdnts commented on #285
Guys, we're working on something similar that will address this issue. Will keep you updated.

[2017-01-11 06:25] yashwanthreddyg commented on #1137
+1

[2017-01-11 06:37] sdnts commented on #2619
@nlwillia That's a great idea. Adding this as an enhancement, will keep you updated here!

[2017-01-11 10:11] chimit opened #2621 "Nested environments with inherited variables"
Hi!

My list of environments became too big: dev, test, production URLs with a few profiles with different variables in each. So I have to name my environments like `[Project1][Dev] - user1`, `[Project2][Test] - customer2` e.t.c.

It would be much more convenient to use nested environments with inherited variables. Please, consider this proposal.

[2017-01-11 12:46] Rihab opened #2622 "Postman does not unzip automatically gzipped responses"
I needed to gzip all the json responses in our app because of the large amount of data we have. Any browser already unzips automatically the received response into JSON. However Postman returns something like : `H4sIAAAAAAAAAM2POwvCMBSF90L/wyVzB9tmcnZxcLFuIiE0VwikD/IQpOS/20RL1cGt0vW...`
How do I make Postman unzip this automatically ? Is this possible at all ?

NB : I run the Postman 4.9.3 App on

[2017-01-11 13:43] om3rcitak opened #2623 "Why save same every POST request"
Hi,

Why save same every POST requests? I wanna save just 1 request (like GET method)

example : http://prntscr.com/du9bux

[2017-01-11 14:44] sdnts commented on #2623
@Om3rCitak The history, as the name suggests, is meant to be a historical timeline of all your requests. We follow the following ideology when add items to the history:
When you POST data to a service, you're actually changing something server side, so each request in essence is unique, hence they show up as different items in the history
However, a GET is usually a pure operation, which means tha

[2017-01-11 14:44] #2623 closed, assigned to nobody

[2017-01-11 14:46] om3rcitak commented on #2623
@madebysid thank you :)

[2017-01-11 15:31] bquack opened #2624 "Expand Find feature to search entire collection"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 7/10

Currently, in Postman, the Find feature (ctrl+f) only searches the current tab. It would be extremely beneficial to expand the Find to search all tests in a collection. Furthermore, it would be great if Replace functionality was added.

[2017-01-11 18:42] bquack commented on #2624
Just found another ticket (https://github.com/postmanlabs/postman-app-support/issues/1429) that is basically requesting the same thing. Closing this one

[2017-01-11 18:42] #2624 closed, assigned to nobody

[2017-01-11 18:43] bquack commented on #1429
+1
It would be very useful to have Find and Replace across an entire collection.

[2017-01-11 18:47] bhartsfield commented on #1429
+1

[2017-01-11 18:54] benjamw opened #2625 "Make sent request available"
It would be nice to have the request that was sent available to look at somewhere. Maybe along the bar that has the Body, Cookies, Headers, etc... Just add one called Request or something.

Something that has all the variables replaced with their actual values, all cookies sent, all headers sent, all actual POST data, etc. so that bugs (like missing/incorrect variables) can be more easily found.

[2017-01-11 18:59] ArnaudBuchholz commented on #166
+1 for custom methods (we need MERGE)

[2017-01-11 19:02] msilkroad commented on #1429
+1

[2017-01-11 19:10] knowroozi commented on #1429
+1

[2017-01-11 19:13] berpel commented on #1429
+1

[2017-01-11 19:14] jbr3wster commented on #1429
+1

[2017-01-11 19:21] bytebodger commented on #1429
+1

[2017-01-11 19:33] bquack commented on #1180
+1
I have been using the method of loading JS into a global variable and then using eval(), but I don't like the fact that I have to make this a first step in all of my collections. It would be nice if there was a more elegant solution for this such as having an external list of JS resources. It would also be great if external JSON Schemas could have something similar.... maybe even a third variab

[2017-01-11 19:48] chris-bleile commented on #2158
This is a problem for us as well.  We have been asked to do this for a couple of clients so they can test our work before we go live.

[2017-01-11 20:16] georambo commented on #2392
No update on this?  Similar scenario where just want to disable a request, until a bug is fixed.

Using setNextRequest is not intuitive and extra item to manage.

[2017-01-11 20:33] krishnamohanpkm opened #2626 "Digest Authentication is not working and server nonce values are not retried automatically"
Hi,
We have been using Postman Rest Client 0.8.4.19 version and Digest Authentication perfectly works in that version.
Recently we installed Postman 4.9.2 since no support for Postman Rest client v 0.8.4.19.
In latest Postman 4.9.2, we need to manually enter Digest Authentication nonce values that server returns every time.  Ideally it should automatically retry the request with Server returned no

[2017-01-11 21:12] swheeler1974 commented on #1429
+1

[2017-01-11 22:15] artrespa opened #2627 "Variables used in POST requests not properly being substituted by data file values in collection runner"
I am trying to run a collection of requests in the collection runner that utilizes a data file in order to run tests. The bodies of each request is raw JSON using postman variables. An example of this is below:

          {
            "ContactFirstName":"{{ContactFirstName}}",
		"ContactLastName":"{{ContactLastName}}",
		"ContactPhone":"{{ContactPhone}}",
		"Priority":"{{Priority}}",
		"Descripti

[2017-01-11 22:23] dudeofawesome opened #2628 "JSON response parser shows error instead of showing raw response content"
1. Postman Version: 4.9.3
 2. App: Mac app
 3. OS details: macOS 10.12.2 on MacBook Pro 2016
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: I just experienced it
 6. Expected behaviour: Response viewer should fall back to "Raw" if JSON parser fails
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-d

[2017-01-11 23:48] dphillipsprosper opened #2629 "Submitting a request URL with an environment property and a path parameter always fails with error connecting message"
Version/App Information:

 1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: I think it's been there since I switched from the Chrome app to the Windows App
 6. Expected behaviour: I expect a result to be returned. Instead, I g

[2017-01-12 00:12] corbfon commented on #907
+1

[2017-01-12 06:13] sdnts commented on #2621
@chimit We've been experimenting with a few ideas to support use cases with large amounts of data, like yours. I'll let you know here when we have something concrete :)

[2017-01-12 06:15] sdnts commented on #1963
@mstaalesen We're looking into making test script failures more apparent in the updated Runner. Will keep you guys updated here.

[2017-01-12 07:34] sdnts commented on #907
Guys, we're working on support for multi-level folders. Will keep you all updated here :)

[2017-01-12 07:39] sdnts commented on #2625
@benjamw If you are on the native apps, you can do this by using the Postman Console (View > Postman Console). This will show you exactly what was sent to the server.
If you're on the Chrome App, though, you'll have to use the Chrome DevTools to do this. [This](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/) guide should help. I'd recommend switching to the n

[2017-01-12 09:13] VictorPascualV commented on #739
+1

[2017-01-12 09:31] S33G commented on #2573
No problem guys. I really enjoy using Postman as part of my day to day API work, so suggesting little things like this just make it that little bit better.

I'll keep my eyes out for more 👍

[2017-01-12 09:33] kiranwilson commented on #882
Is there any news about this script re usability feature?

[2017-01-12 09:36] S33G commented on #2628
I've also experienced this issue, I receive it when dumping an Array or something.

`Array()`

gives me Unexpected 'A'.

Was super confused the first time it happened.

[2017-01-12 09:37] daniel2xo commented on #634
Any shortcut for "send and download" in the GUI ?

[2017-01-12 09:50] Mah3 commented on #1137
+1

[2017-01-12 10:30] sdnts commented on #634
@daniel2xo As of now, no. But we're working on a release that has buffed shortcuts. I'll add it there. Will let you know here when it is out.

[2017-01-12 10:50] andrefigueira commented on #739
+1

[2017-01-12 12:00] sdnts commented on #2627
@artrespa When you specify a variable in the request body, you do not need to surround it in double quotes. This would turn the variable into an actual string (with value "{{ContactFirstName}}"). Your request body should look like:

[code]

[2017-01-12 12:00] #2627 closed, assigned to nobody

[2017-01-12 14:16] bill-morris opened #2630 "Postman Export/Import Changes OPTIONS Member Body setting; Runner fails to Run with OPTIONS Body Setting of form-data"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome Version 55.0.2883.87 m (64-bit) App
 3. OS details: win/x86-64 (Win 7)
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Just noticed, but only recently attempted this export/import round trip.
 6. Expected behaviour:  1) Saving a collection in postman and i

[2017-01-12 14:27] bquack commented on #2392
+1

[2017-01-12 16:35] dnaniel commented on #882
+1

[2017-01-12 17:10] stepanbokoc commented on #1906
+1

[2017-01-12 18:31] worrel commented on #2563
How do you actually open the console? I'm on Postman 4.9.2 Mac App, and the suggested key sequence of cmd-alt-c doesn't do anything?

[2017-01-12 18:35] sdnts commented on #2563
@worrel I'm on v4.9.3 on the native Mac App, and the Console opens up using the shortcuts for me. You can head over to the View menu on the top and select Postman Console too. If you don't see the View menu, you might be on the Chrome App (they're visually similar). You can check this by opening up Settings (wrench icon on the top right), and switching to the About tab.

[2017-01-12 19:30] worrel commented on #2563
@madebysid thanks, i downloaded the 4.9.3 zip & ran that and it works - I was indeed on the Chrome App, which has now been banished :-)

[2017-01-12 20:32] jeffwesson commented on #2242
The workaround noted in the gif above is no longer working for me on Chrome 55.0.2883.95 (64-bit)

[2017-01-12 22:03] kirkportas commented on #1684
+1

[2017-01-12 22:07] mstaalesen commented on #1684
Any update on this?

[2017-01-12 22:09] mstaalesen commented on #1962
Still present, also in the native app

[2017-01-13 01:29] gcbartlett commented on #1533
I agree with @dewdad that passing `{{varName}}` when the variable is currently undefined is seldom desirable, especially when it's being sent as a _param_, where you can't simply 'uncheck' the parameter to not send it.

Additionally, it appears that trying to programmatically (via a _Pre-request Script_ or a _Test_) set a variable to empty  (e.g. `postman.setGlobalVariable("varName", "")` or `post

[2017-01-13 05:55] sdnts commented on #1533
@gcbartlett That's a known bug. We've fixed this, and it'll be out with the next release. You can track it here: https://github.com/postmanlabs/postman-app-support/issues/2596

[2017-01-13 05:57] sdnts commented on #1684
@roeschjohannes @mstaalesen @kirkportas We're working on having custom authentication in the app, will take this up as a part of that :)

[2017-01-13 07:56] sdnts commented on #2629
@dphillipsprosper We're aware of this issue, and will release a fix for this in an upcoming version. Will keep you updated here.

[2017-01-13 09:10] Spharah commented on #1137
+1

[2017-01-13 11:04] deardooley commented on #2598
Confirmed for `null` values as well.

[2017-01-13 13:42] vegetableman commented on #2628
Thanks guys for reporting this issue 👍 .
@a85 The mode could be changed to `Text` for the editor on such cases. What do you think?

[2017-01-13 14:54] gcbartlett commented on #1533
Thanks @madebysid. I look forward to this next release, or is there a way to get a developer/nightly build earlier than this?

[2017-01-13 15:34] AykutCevik opened #2631 "PHP cURL code generation bug"
Problem:

Postmans PHP cURL code generation sets the raw input for requests directly in the `curl_setopt_array` call, which leads cURL to avoid sending raw input due to a bug in cURL.

You have to set it explicitly after setting the curl option `CURLOPT_CUSTOMREQUEST` with:
`curl_setopt($curl, CURLOPT_POSTFIELDS, "{\"foo\":\"bar\"}");`

To reproduce it, make a custom POST-request with an input jso

[2017-01-13 16:43] dudeofawesome commented on #2628
Yes, that would be perfect

[2017-01-13 21:46] jleung51 commented on #430
Agreed, it's quite annoying to have to copy each individual part of the HTTP response manually and reformat the headers if I want to show someone the full response body I received. This would be incredibly helpful.

[2017-01-14 02:11] iagomls commented on #2544
Same here.
In my case, even if the app doesn't crash, the body type is not kept.

**How to reproduce:**
1. Create a request with a different body type from default (like `application/json`).
2. Close the app.
3. Open it again.
4. Notice the current request is the same you made last time the app was opened. But the custom body type (`application/json`) was replaced by `text`.

It does not apply for

[2017-01-14 14:04] stianlagstad commented on #2446
Sorry for my late reply. I do still experience this. I'll try to reproduce it again when I'm at the office.

[2017-01-14 15:57] amirabiri-odoro commented on #1945
The new behaviour is still not what I was looking for.

I think there are 2 or 3 different ways that folks conceptualise tabs when they don't represent "hard" things such as a file. I think XCode suffers from the same problem.

I think in general there are two basic tab behaviours:
 - Tab is "hard" linked to object being opened, and opening said object again will simply switch to the tab where the

[2017-01-14 16:01] amirabiri commented on #1945
The new behaviour is still not what I was looking for.

I think there are 2 or 3 different ways that folks conceptualise tabs when they don't represent "hard" things such as a file. I think XCode suffers from the same problem.

I think in general there are two basic tab behaviours:
 - Tab is "hard" linked to object being opened, and opening said object again will simply switch to the tab where the

[2017-01-14 16:03] amirabiri opened #2632 "Tab behaviour again"
Sorry for double posting, but I realized I commented on a closed issue, so wasn't sure anyone would notice: https://github.com/postmanlabs/postman-app-support/issues/1945#issuecomment-272632990

[2017-01-14 16:17] a85 commented on #1945
@amirabiri You are right about the issue. There are several ways people try to think about tabs but the current behavior is the most stable so far and we haven't seen any issue from users post 4.9.

Double clicking the request will always open a request in a new tab even if it is open previously - as many times as you want. Have you tried that?

[2017-01-14 16:17] a85 commented on #2632
Just replied to it.

[2017-01-14 16:36] amirabiri commented on #1945
@a85 The new behaviour is exactly the opposite of what I want... I'm a "browser tabs" guy. I want to **always** stay in my current tab, regardless of circumstances. Never open in a new tab or switch to an already open one.

[2017-01-14 16:43] a85 commented on #1945
@amirabiri Ok. If I understand that properly, you want to create a new tab and load things in the tab regardless of what has happened in the tab previously?

[2017-01-14 16:44] amirabiri-odoro commented on #1945
@a85 Exactly. I think of my tabs like browser tabs, and I think of my saved requests like bookmarks.

[2017-01-14 16:45] amirabiri commented on #1945
@a85 Exactly. I think of my tabs like browser tabs, and I think of my saved requests like bookmarks.

[2017-01-14 16:58] a85 commented on #1945
@amirabiri I agree on how you can think of them as browser tabs but Postman is not a browser. Your saved requests have a co-relation with the content that loads in the tab unlike a web browser - which just loads that URL and doesn't care about what you do in it. In Postman, if you want to use requests as templates, just double clicking will ensure that you don't lose your work/responses in the cur

[2017-01-14 17:06] amirabiri commented on #1945
@a85 Citing one's mode of thinking as correct is counter-productive. We should identify the N different modes of thinking and cater to them, not force some users into other users' mode of thinking.

As for your point about the link between the tab and its content, you are right in that it does pose an issue. The indicator and warning about unsaved changes is indeed helpful. However I think that in

[2017-01-14 17:20] a85 commented on #1945
@amirabiri Yeah I agree. I was referring to our existing solutions where we thought we could go with one solution. We changed the behavior and added an option in 4.9. There will always be multiple modes of thinking and as a rule Postman never forces anyone in a particular way. That's the reason Collections can be used as saved request templates, API descriptions, test suites, workflows or just boo

[2017-01-14 23:02] BlueInt32 commented on #1945
This is a very interesting discussion about how postman should behave, I'd personnally never thought there could be people thinking about postman requests just as browser bookmarks.
In my opinion the current behavior is mildly contenting everyone but in the end the danger is that nobody can map postman's behavior to any "mainstream" tab management system (browser bookmark VS IDE file). I think Pos

[2017-01-15 13:43] amirabiri commented on #1945
@BlueInt32 You are right in everything you say, but there is one significant detail here - although postman saved requests are potentially quite complex beasts, some of us use only a small subset of the features thus for us they are closer to bookmarks.

So for example in my personal collection I have a few typical CRUD APIs that I'm developing. So I have a `GET` a `POST` and a `PUT` usually per A

[2017-01-15 16:00] astanciu opened #2633 "Support for Javascript-like JSON object in Body"
Feature request:

It would be super helpful if the Body editor, in Raw > JSON would accept JavaScript-like objects. For ex:

[code]
instead of requiring double quotes around the keys and string values.

I understand technically it's not proper JSON, but it's time consuming and tedious to have to manually do this with result objects you copy/paste from other places, and it would be super trivial fo

[2017-01-15 18:03] mdaloia commented on #1945
With all the respect and appreciation of this really good tool I will give my impressions.

I think that the root of the problems is that the Collections panel has 2 behaviors/purposes:

1. It is a list of saved request / bookmarks / templates / whatever-you-want-to-call-it
2. It is used like an Opened tabs manager (when you click on a saved request it tries opens a new tab or focus to an open ins

[2017-01-16 09:40] qixiaobo commented on #1879
sorry,no rsa

[2017-01-16 13:52] matejar commented on #1079
+1

[2017-01-16 15:54] cunc01 opened #2634 "Postman Collection Runner - subsequent iterations only execute 1st request in the collection"
Good morning.  I've been running into an issue when using the Postman Collection Runner.  When setting the Iteration value so that the collection runs multiple times, I'm finding that after the 1st iteration, the subsequent runs are only executing the 1st request in the collection.

Version/App Information:
 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome 55.0.2883.87
 3. OS deta

[2017-01-16 17:07] eidylon commented on #166
+1 for this too

[2017-01-16 17:09] kitguy commented on #739
+1

[2017-01-16 18:01] DrakaSAN opened #2635 "JSON file are sent as Octet stream in Multipart POST Request"
1. Postman Version: 4.9.2
 2. App: Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Discovered recently.
 6. Expected behaviour: When POSTing a `.json` file in a multipart request, expecting the file's mime type to be `application/json`

Currently, when doing a multipart request conta

[2017-01-16 18:53] benjamw commented on #2625
I am on the native app. I'll check that out. Thank you.

[2017-01-16 19:13] scr opened #2636 "form-data POST sends application/x-www-form-urlencoded header"
When sending a POST with form-data selected, it seems to send the format for multipart/form-data, but application/x-www-form-urlencoded as the Content-Type

Log from akka-http server (See http://doc.akka.io/docs/akka-http/current/scala/http/routing-dsl/index.html)
[code]

 1. Postman Version:  4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: OSX Sierra 10.12.2 (16C67)
 4. Is the I

[2017-01-16 20:24] matejsp commented on #1079
+1

[2017-01-16 22:58] Fjandin opened #2637 "Faulty tokens in oauth2 (can't delete)"
postman version 4.9.3 (Mac App)

I somehow managed to generate some faulty tokens or something but this is what i see now

https://gyazo.com/2a0f203c97a84064a2edd0ab5b25b4bb

When i click of any of the tokens i get nothing neither can i delete them from the list.

[2017-01-17 06:05] matthewsommer opened #2638 "No response for GET to subdomain.localhost:8080 Error: getaddrinfo ENOTFOUND"
I'm trying to send a simple GET request to a subdomain of localhost and I'm getting an error in the Postman console that Error: getaddrinfo ENOTFOUND but the URL is definitely available. I've tried different combinations of including the http protocol and not including it and it doesn't work. Testing the same subdomain for the public site works fine.

Version/App Information:
 1. Postman Version:

[2017-01-17 06:23] sdnts commented on #2637
Thanks for letting us know. A fix will be out with the next release.

[2017-01-17 07:25] vegetableman commented on #2636
@scr Thanks for posting this issue 👍 . This usually happens when you switch from `x-www-form-urlencoded` to `form-data` and the `Content-Type` header of the former is retained. The fix will be out in the next release.

[2017-01-17 09:57] sdnts commented on #2634
Hey @cunc01! Am I correct in assuming that you have a conditional loop in the 5th & 6th requests, and it loops over these two for some number of times, until it exits?
I set up a simple collection that does something similar [here](https://documenter.getpostman.com/view/214062/gh2634/2SLWzG). You can import this to your app. This collection behaves similarly.

I might be wrong here, but are you de

[2017-01-17 10:01] derpoho opened #2639 "Ability to switch between multiple profiles"
Feature Request:

It would be nice to be able to switch between multiple profiles quickly. It's annoying to logout/login again when switching to another profile. If there was a dropdown to switch logged in profiles, it would be awesome! ;)

Keep up the nice work!

Greets Marcus

[2017-01-17 10:04] sdnts commented on #2639
Hey @derpoho! That's a valid concern. We're actually tracking this already here: #2316. I'm closing this one so we can keep things tidy :)

[2017-01-17 10:04] #2639 closed, assigned to nobody

[2017-01-17 10:07] sdnts commented on #2632
Closing this. Will continue discussion on #1945 :)

[2017-01-17 10:07] #2632 closed, assigned to nobody

[2017-01-17 10:17] #2625 closed, assigned to nobody

[2017-01-17 10:21] daniel2xo commented on #634
Thanks @madebysid for reply, actually i dont know how to create a java file to call an api and get save the respond repeatedly, so wish to have a shortcut for that.

[2017-01-17 10:28] vegetableman commented on #2638
@matthewsommer The issue happens when you are sending a GET request to an invalid url. you may need to configure your `hosts` file. Related link which might help you :- http://stackoverflow.com/questions/23259697/error-getaddrinfo-enotfound-in-nodejs-for-get-call

[2017-01-17 10:50] aleemb opened #2640 "Chrome to Postman Workflow missing"
1. Postman Version: 4.8.3
 2. App (Chrome app or Mac app): Mac app

I am not sure how I did this in the past, maybe it was integration but there is no way to copy a network request from Chrome Debugger Tools (copy as curl) and paste it into Postman and have it work.

It's nearly there but the issue is that the CURL request encodes the form data and "Hello World" becomes "Hello+World" which Postman

[2017-01-17 11:02] xmeng1 commented on #682
I think, currently, we can only use the name to order the folder...  :)

[2017-01-17 12:02] vegetableman commented on #2598
@PFarrell89 The `0` bug has been fixed internally and will be part of the next release. As for null and [], support for them is being worked on and will be part of a future release.

[2017-01-17 12:04] albertomr86 commented on #2082
Same problem here!. Version 4.9.2.

[2017-01-17 12:23] vegetableman commented on #2602
@ulisesantana Thanks for letting us know about this issue 👍 .  Am guessing you must have figured this out by now, this issue is not related to Postman, seems to be most likely, an express middleware issue, related link:- http://stackoverflow.com/questions/23114374/file-uploading-with-express-4-0-req-files-undefined.

Closing this, feel free to reopen if that's not the case.

[2017-01-17 13:17] vegetableman commented on #2617
@DaRolla Thanks for reporting this issue 👍 . Will get back to you with more details.

[2017-01-17 14:36] St3ffn commented on #2598
@vegetableman ty

[2017-01-17 15:29] slchorne commented on #1463
yes, add another request to strip these headers from the export.
it is a messy security risk and means we can't share collections anymore.

[2017-01-17 15:39] guboi72 commented on #2067
Where is the documentation for the "Persist Variables" option ? That could be confusing.

[2017-01-17 15:41] guboi72 commented on #2067
Where is the documentation for the "Persist Variables" option ? That could be confusing.

[2017-01-17 16:51] cunc01 commented on #2634
hi @madebysid !

you are correct, the conditional loop is in the 5th and 6th requests.

basically it behaves as such,
- the request (eg. CreateEntity) increments a string value (eg. name = "entity X") on each successive run
-- when complete, sets next request (eg. UpdateEntity)
- then the next request (eg. UpdateEntity) updates other values on the entity, and after the request completes, a test ch

[2017-01-17 17:13] sdnts commented on #2634
The `Persist Variable` option in both Runners is used to configure this behaviour. Basically, when you have it set to ON, any variable changes you make are propagated to the main window (they are persisted) at the end of the run. On the other hand, if it is OFF, variable changes take place during the run only in the Runner window, but as soon as the run completes, variables are back where they wer

[2017-01-17 17:18] proverbguy opened #2641 "CSV values aren't running in Collections"
1. Postman Version:4.9.2 win / x86-32
 2. App (Chrome app or Mac app):Chrome 55.0.2883.87
 3. OS details:
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: not a bug -- probably operator error
 6. Expected behaviour: trying to use a csv file to run a collection of upc codes  -- csv, and upc codes, seem to preview correctly

[2017-01-17 17:21] cunc01 commented on #2634
the Persist Variable option is definitely enabled on the Runner window, but the environment variables as they are displayed in the Builder window are not updated as the Collection runs.

Alternatively, I can grab the response value from the Runner window by clicking the Request>ResponseBody option.

I just found it odd that the variables as they're set in the Runner window, aren't in sync with the

[2017-01-17 17:26] sdnts commented on #2634
Ah, the native app runs your collection in a completely separate NodeJS sandbox. You won't see your environment update in real time on the main window, but they'll be updated once the run is completed. You can verify this by logging out (console.log) your environment variable at the end of each request.

Is the final state of your environment correct?

We're looking into making handling this a lit

[2017-01-17 17:32] sdnts commented on #2641
Hey @proverbguy, the counts in the Runner window are actually the number of tests passed / failed. Since I see you do not have any tests written, these counts aren't updated.
You write tests to verify if the response received from your server is as you expected. You can test stuff like the presence of a value in the response body, the response status code, etc.

[Here](https://www.getpostman.com/d

[2017-01-17 17:35] xmeng1 opened #2642 "Question of setting environment variable in Collection Runner"
May I ask a question that is it possible to set an environment variable in Collection Runner?

such as
`postman.setEnvironmentVariable("admin_id", userData.result.id);`

I try it, but the variable is not set.

[2017-01-17 17:42] sdnts commented on #2067
@guboi72 The `Persist Variables` option will persist your variables from the Runner window to the main Postman window. With this unchecked, all changes to the environment that you make in the Runner window stay there.

Unchecking it has the effect of returning your environment back to the same state it was in before the run started.

Thanks for pointing this out, we'll update our docs to include t

[2017-01-17 17:45] sdnts commented on #2642
Hey @xmeng1, the Collection Runner behaves the same way as the main Postman app. However, by default, any environment changes in the Runner window do not propagate to the main window unless you set the `Persist Variables` to enabled.
This is to make sure any changes to the environment in the Runner window does not corrupt your environment in the main window.

[2017-01-17 18:01] xmeng1 commented on #2642
OK got it.

But I have set the `Persist Variables` enable, the environment in main windows is not modified.

[2017-01-17 18:06] sdnts commented on #2642
Hmm, that's weird. Setting up a simple collection that sets an environment variable works on my end. Are you on the Chrome app or the native app?
Also, is the correct environment selected in the Runner run parameters?

[2017-01-17 18:09] gigaduck commented on #2601
@madebysid   I tested using this endpoint, and it worked fine.  This seems to only be an error with internal endpoints. (as far as I can tell).

Looking over the headers in my request that failed, I see the cookie (example pasted below) :
`**Set-Cookie →icws_81281001=de6a089d-a4a0-465f-a97a-1c995a3f8620|languageId=en-US; Path=/icws/81281001; HttpOnly**`

When I try to set the cookie manually, I am

[2017-01-17 18:13] afrozenpeach commented on #2369
I'm having the same issue on the Windows version of Postman

[2017-01-17 18:37] sdnts commented on #1463
Guys, we're working on streamlining this workflow so problems like these do not occur.

The workflow I have in mind meanwhile is:
1. Populate the auth helper in question with environment variables instead of actual values.
2. Save your request (Do not hit `Update Request`, or else an Authorization header would be generated)

This way, the auth header isn't ever saved with the request, so exporting

[2017-01-17 18:47] sdnts commented on #2601
Weird, I was able to replicate this. Will investigate and get back to you here. Thanks for letting me know!

[2017-01-17 19:22] surfjedi commented on #2596
+1

[2017-01-17 19:28] proverbguy commented on #2641
Thanks @madebysid.  I'm not meaning to test for anything.  I'm trying to use an api get request and UPC code to capture product data.  Is there a way to run a csv containing upc codes with individual get requests and then, export the result?

[2017-01-17 19:34] matthewsommer commented on #2638
@vegetableman, My url is absolutely valid; http://subdomain.localhost:8080 is a valid URL. Modifying the hosts file does not make sense because the hosts file is what resolves the localhost hostname to the local IP loopback address 127.0.0.1. This is most certainly a bug as there are other bugs for Postman version 4 related to not being able to resolve localhost, the difference with this bug to th

[2017-01-17 19:58] vegetableman commented on #2638
@matthewsommer The url is valid but you would have to map the mentioned subdomain to the loopback address `127.0.0.1` in your hosts file (`127.0.0.1       subdomain.localhost`). Also, you could verify whether the mapping is valid by checking the output to `ping subdomain.localhost` on the terminal.

[2017-01-17 20:06] matthewsommer commented on #2638
@vegetableman the issue is the web application I'm testing utilizes wildcard subdomain *.localhost.com so I might be testing many different subdomains. I've added this to the hosts file and verified that gives me a workaround, thanks! If you aren't considering this a bug then shouldn't it be at least a feature request? No modern browser could get away with not resolving subdomain.localhost and Pos

[2017-01-17 20:13] matthewsommer commented on #2638
@vegetableman, also wouldn't this be a fairly easy fix? Just resolve `*.localhost` to whatever IP `localhost` resolves to from the `host` file? I suppose that wouldn't work though if `*.localhost` was mapped to a different IP in the local `host` file

[2017-01-17 22:43] sinaa2000 opened #2643 "API response is not saved correctly"
1. Postman Version: Version 4.9.3
 2. App (Chrome app or Mac app): Windows app
 3. OS details: win32 6.1.7601 / x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Saving a response from API into a environment variable
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome

[2017-01-17 23:16] percyhanna commented on #1463
I'm not sure I completely follow the proposed flow, but to me the acceptance criteria would be:

1. I can use the authentication tab to easily configure authentication for my requests.
2. I can use environment variables in the authentication tab.
3. The generated authentication header value is _NEVER_ saved to the request. It is calculated at run-time and injected as part of the request delivery p

[2017-01-18 00:45] sinaa2000 commented on #2643
here's the log from postman console:

Request Headers:
cache-control:"no-cache"
Postman-Token:"21b81719-10f3-42ed-ac47-b04af22c07d0"
Authorization:"OAuth xxx"
User-Agent:"PostmanRuntime/3.0.9"
Accept:"*/*"
Host:"xxx.com"
accept-encoding:"gzip, deflate"
content-length:""
Response Headers:
server:"rundl"
date:"Wed, 18 Jan 2017 00:41:46 GMT"
content-type:"application/json; charset=utf-8"
content-leng

[2017-01-18 05:20] dalipkumar703 commented on #1831
How to get v4.4.3 @abhijitkane ?
I got same error.

[2017-01-18 06:21] shamasis commented on #1463
Yes. That's in line with our views. Presently the the first two points are exactly what @madebysid suggested. The deviation is in third point and to avoid that, ensure that you remove the authorisation header before saving the request.

[2017-01-18 09:41] vegetableman commented on #2638
@matthewsommer 👍  Tagging this as a feature request. Will keep you posted on this thread.

[2017-01-18 09:56] czardoz opened #2644 "POSTMAN Exporting Collection issue when special characters are in the message body"
Originally created at https://github.com/postmanlabs/newman/issues/865

------------
I've just created a new collection in POSTMAN collecting some POST methods. I've successfully  exported the collection but when i tried to import the new collection the POST method with special characters in the body (i.e *, #) wasn't successfully imported. See in attach the body for further details
![issue-postma

[2017-01-18 14:01] rajparmar commented on #1137
+1

[2017-01-18 16:16] magichair commented on #1180
+1
Our team is storing a handful of js libraries in global environment variables, this is very hacky

[2017-01-18 16:21] gianisegatto opened #2645 "Read collections and environments from file"
Guys,

Could you add a feature that makes postman always be updated from the Collection and Environment file once these files were imported to Postman.

Example:
Lots of times we change Environment files directly from the text editor and we have to remember to remove the environment and import the file again.

I think Postman behavior could be as an IDEA.

[2017-01-18 18:59] msilkroad commented on #2392
+1

[2017-01-18 19:19] matthewsommer commented on #2638
@vegetableman thanks brother! I love Postman and continue to sing its praises :)

[2017-01-18 21:24] jamesyarrington commented on #1463
I agree with @percyhanna 's 3rd point.  For me, the auth header is generated whenever I make the request, even if I do not click the "Update Request" button.
This means that if I've used a request and saved it, it will have the generated auth header when I export it.
This is annoying to deal with.  I would appreciate a workflow that offers an option to opt-in/out of saving auth headers (or never),

[2017-01-18 21:31] shamasis commented on #1463
+1 we hear you.

[2017-01-18 22:06] hlubovac commented on #166
If this is about difficulty to make dropdown/textbox control, then how about a simple comma-delimited list of custom method items for this dropdown is added somewhere in settings, with the note that the user becomes at fault if Chrome blocks their custom method (if that's partially a problem [for some]). Then at startup, add those values to the dropdown, and problem solved. Perhaps also allow typi

[2017-01-18 22:38] sinaa2000 commented on #2643
Any ideas guys?

[2017-01-18 23:07] grantkemp commented on #2415
Thanks @vegetableman

[2017-01-19 02:36] mmichalowicz commented on #2420
Sorry for the delay... Since I am working at Vanguard, a financial institution, sharing log files tends to be scrutinized (as to be expected)...  With that being said there are no logs.

However I did make progress asking for help from within Vanguard. Since this is a Chrome extension, it is really just a hyped up browser instance and is therefore treated as such. Vanguard security policies disall

[2017-01-19 05:26] vivirusdi commented on #2177
Hi there,

Would it possible if I've different Team to share my collections with?

Since I've Team A, Team B, Team C to work with, since with current configuration when I share a collection -or- environments to Team, it would be available to all of them (by subscribing the collections) - how do I manage a specific collection -and- environment only available for a specific Team / Person? Is it poss

[2017-01-19 05:39] sdnts commented on #2643
Hi @sinaa2000, that's a weird one. Are you doing `console.log(responseBody)`? You said `JSON.parse`, `xml2Json` and `parseInt` do not return the correct value? Are you parsing the variable `responseBody`? Could you share your test script with me?

I set up a little server that returns me an integer with a 200 status code, but wasn't able to replicate this. Can you switch over to the Raw tab in the

[2017-01-19 05:53] sinaa2000 commented on #2643
Hi @madebysid,

Thanks for your response.
Yes, I do console.log and "true" is what I get.
Getting the value directly from responseBody gets me "true" as well as parsing it either in Json or XML.
The weird thing is I get the correct expected value which in this case is a number in Postman's response as well as the console inside response.
here's my test script :

if (tests["Preallocated rundl id ob

[2017-01-19 08:25] pylover commented on #166
What's going on, this issue is created at 2012, and this is 2017, what makes it as `wontfix` ?

[2017-01-19 08:46] pseglar commented on #1453
+1

[2017-01-19 09:33] vegetableman commented on #166
@pylover rest assured, it's part of the roadmap and definitely not a `wontfix` :).

[2017-01-19 09:58] ddeshpande commented on #2016
@abhijitkane Would like to suggest an improvement in this feature. Along with being able to search where global or environment variable is being set, would be great if we are able to search where is it being read too.

[2017-01-19 12:09] sdnts commented on #2643
@sinaa2000 I see in your test script, you're doing `responseBody =! ""` in the first line, which is assigning the value `!""` (true) to the variable responseBody, and so you get the output `true` everywhere. I'm guessing this is a typo :P

[2017-01-19 12:19] sinaa2000 commented on #2643
Thats probably not the issue as its just an if condition!?
If it doesnt go in if statement it shouldnt print the console, right?
Its probably just a typo and should not affect the responseBody, right?
Im just printing the responsebody and it doesnt work.

[2017-01-19 12:22] sdnts commented on #2643
Yep it's an `if` condition, but you're doing an assign to the variable `responseBody`.

If you have something like:
[code]

`Hello` would be printed to the console, but `x` would also be assigned the value `true`. This is JavaScript behaviour.

In any case, you should never do an assign on the variable `responseBody`.

[2017-01-19 12:23] #2643 closed, assigned to nobody

[2017-01-19 12:30] sinaa2000 commented on #2643
Oh, right, thanks so much for the help!

[2017-01-19 13:00] sdnts commented on #2177
@vivirusdi Multiple windows can be used when you're working on different collections and need a separate workspace for each. It is more of an organization utility.
Currently, you can only be signed into one team at a time, so to do what you are describing, you'll have to sign out of your current team, then sign in to the new team. In that case, your issue shouldn't occur.

[2017-01-19 13:06] sdnts commented on #2420
@mmichalowicz Unfortunately, there isn't a way to check this beforehand from the browser AFAIK.
You could try out our [native apps](https://getpostman.com/apps) though, which should be able to work properly.

[2017-01-19 13:06] #2420 closed, assigned to nobody

[2017-01-19 15:57] uicosp opened #2646 "Enable JavaScript and forms in response preview"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.12.2
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: N/A
 6. Expected behaviour: N/A
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for t

[2017-01-19 16:18] stepanbokoc commented on #2458
+1

[2017-01-19 16:29] percyhanna commented on #1463
I just want to clarify this point you made. This is what we _currently_ have to do in order to prevent exposing authorization headers. I hope the solution will not require us to do this in the future?

[2017-01-19 16:51] MrMichaelFournier commented on #495
Hi same thing here. I manage to recover the file chrome-extension_fdmmgilgnpjigdojojpjoooidkmcomcm_0.indexeddb.leveldb
and all folders inside it.
How do I restore from such files ?

[2017-01-19 17:00] rickydutton commented on #1906
👍

[2017-01-19 17:11] W1R3D-Code commented on #1906
+1

This isn't really a feature request is it? you can't claim to support RAML if 9 months after they release version 1.0 you don't support it. Especially when the workaround is to use another 3rd party tool to convert RAML 1.0 to Postman 2.0.

[2017-01-19 18:37] topside844 commented on #1663
I was running into the same issue and found that Postman is not updating the 'Host' header value to match the host where the request was sent, and if that value is different, the signature calculation will fail.

Simply deleting the 'Host' header and letting it auto-populate again when sending the next request fixed my issue.

For instance, if you select 'Service Name: s3' and send your request to

[2017-01-19 20:19] wildest commented on #1104
+1 !!

[2017-01-19 22:06] vgadolin commented on #2642
I am having the same issue.  If I setup environment variables to localhosts, everything seems to work fine.  However once I specify a different machine (different web server), this does not seem to work on the Run window.  Running manually works fine.  Trying to use the Run and having the new environment in the selection box does not work.  All tests fail.  I have the persist variables selected -

[2017-01-19 22:17] vgadolin commented on #2355
Any update on this?

[2017-01-20 05:48] sdnts commented on #2355
@vgadolin We've identified the problem, and a fix will be out with the next release. Will keep you updated here :)

[2017-01-20 06:26] mahendranv opened #2647 "[Feature Request] Can we have tool-tip of title on hovering tab title?"
Feature Request:
It would be really helpful to see tab title/URL without clicking on it.

 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10

[2017-01-20 06:36] sdnts commented on #2647
@mahendranv That's a valid concern, adding this as an usability feature :)

[2017-01-20 06:57] Edunga1 opened #2648 "Unexpected character repeat bug."
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OSX Sierra 10.12.2
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: N/A
 6. Expected behaviour: N/A
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev

[2017-01-20 07:14] sdnts commented on #2626
@krishnamohanpkm The main Postman App does not chain any requests right now, even for Digest Auth requests.
However, you can write a test script that does this for you. You can get the header nonce values using the predefined variable `postman.getResponseHeaders`, and set environment variables for these values. You can then use these variables in the next request using the `{{variableName}}`syntax

[2017-01-20 07:14] #2626 closed, assigned to nobody

[2017-01-20 07:18] sdnts commented on #2641
Ah, so you just want the request & responses, while reading variables from a file? In that case, the Postman App wouldn't be the correct tool to use. You should look into [Newman](https://github.com/postmanlabs/newman). Newman is a command line collection runner.
Newman's reporters should be helpful. Since Newman does not log out any responses, what you can do is keep logging out the responses fro

[2017-01-20 07:24] sdnts commented on #1831
@dalip123 If you're on the Chrome App, you should be able to go to `chrome://extensions`, click on `Update Extensions`. This will update all your Chrome Apps.
If you're on the native app, you should open up Settings (wrench icon on the top right), switch over to the `Update` tab, click on `Check for Updates`, and let Postman install the update.

Once you do, you should be able to check your curren

[2017-01-20 07:27] sdnts commented on #2645
Hey @gianisegatto! We're actually tracking this feature request here: #1079
Reading and writing to a file is a difficult problem to solve in a collaborative environment, so we're still thinking of an elegant solution.

You should follow that thread for constant updates :)

Feel free to reopen this if I misunderstood your request.

[2017-01-20 07:27] #2645 closed, assigned to nobody

[2017-01-20 07:32] sdnts commented on #495
@Michaos The file you have, is for the Postman Interceptor extension, not the Chrome App. The Chrome App's ID is `fhbjgbiflinjbdggehcddcbncdddomop`
Do you use Sync? If so, you should be able to log in again and all your collections should be restored.
If not, all data is stored locally on the Chrome app, but we aren't sure what causes Chrome to clear this data sometimes. I'd recommend switching to

[2017-01-20 08:52] sdnts commented on #2642
Hey @vgadolin, when you say it works on `localhost`, are you referring to the request URL?
If I understand correctly, when the URL is `localhost/something`, variables are persisted, but not when the URL changes?
Since you're on Chrome, can you try opening up the DevTools for the Runner ([Instructions](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)) and check

[2017-01-20 08:52] MrMichaelFournier commented on #495
Oh sorry I didn't pay atention to the exact file name. The file I have is named
**chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.leveldb**
I didn't used sync I will now but you think I can restore my collections with that file ?

[2017-01-20 09:10] sdnts commented on #495
Have you tried the solution described [here](https://github.com/postmanlabs/postman-app-support/issues/569#issuecomment-75217738) for OSX or [this](https://github.com/postmanlabs/postman-app-support/issues/569#issuecomment-96316072) for Windows?

[2017-01-20 09:45] MrMichaelFournier commented on #495
Sadly, I don't have any backup of this file.

[2017-01-20 10:02] sandwichesandtoast opened #2649 "Importing v2 Collection has OverWritten Update.exe"
Version/App Information:
1. Version 4.9.3 win32 10.0.14393 / x64
2. Stand-alone Installer
3. Windows 10 Pro
4. I do not believe that "Interceptor" is available
5. Recent bug, but I've not done many imports previously
6. Expected behaviour: Import v2 collection from Desktop into available collections
7. The logs I've found show nothing interesting; is the collection import logged?

Steps to reprodu

[2017-01-20 11:12] octocat-mona commented on #884
I'm unable to download any binary at all.

Steps to reproduce:
* Reinstall Postman Interceptor extension
* In Postman disable and then enable the Interceptor switch
* Do a simple GET [request](http://www.colocenter.nl), works
* Download a [binary](http://www.colocenter.nl/speedtest/100mb.bin) using Send and download, hangs on `loading...` message
* Within 30 seconds Chrome shows a popup saying tha

[2017-01-20 11:16] benc-uk commented on #2296
I'm also having this issue with Postman and Azure. I can manually use Postman to request a token - then copy & paste it, but that's clumsy.
Would be great if Postman properly supported Azure AD OAuth2

[2017-01-20 12:40] gianisegatto opened #2650 "Emacs version allowed"
I'd like to know which version of emacs can I use in my javascript for pre-requests and tests?

Kind regards,
Giani Segatto

[2017-01-20 13:30] koreyba commented on #2636
The same issue is in Windows app in 4.9.3 version. Waiting for the fix, thanks!)

[2017-01-20 15:54] vgadolin commented on #2642
I received an email this morning providing steps to view the debug info.  Here is what I got from that.  I am not sure what to change here in order to make it work.

window.localStorage is not available in packaged apps. Use chrome.storage.local instead.
requester.html:1 beforeunload is not available in packaged apps.
requester.html:1 window.localStorage is not available in packaged apps. Use chro

[2017-01-20 16:20] cpoissonnier commented on #350
+1

[2017-01-20 20:23] comikem commented on #1906
Please add support for 1.0.  Great features for reuse in the spec itself but the external tools are lagging badly on parsing and code gen.

[2017-01-20 21:04] tmack8001 commented on #682
Would really like this to become a thing.

[2017-01-20 23:46] internationalbridgeinc commented on #1316
+1

[2017-01-21 11:21] abotalov commented on #726
From https://tools.ietf.org/html/rfc7231 ("Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content")

[2017-01-21 17:17] mtx62 opened #2651 "Reordering the keys in form-data loses file information"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome
 3. OS details: OS X / x86-64
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: first time
 6. Expected behaviour: you can't know
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View-

[2017-01-22 00:53] stillatmylinux commented on #327
Instead of using "Content-Type:application/json" try using "Accept:application/json"

[2017-01-22 03:47] dxkite opened #2652 "File Post with no content"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10 Pro
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour: can't post  file as usual.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->

[2017-01-22 05:54] sdnts commented on #2650
@gianisegatto The test / pre-request script sections aren't based on a specific version of emacs. They're merely a text editor with JS syntax highlighting.
Feel free to reopen this if I misunderstood :)

[2017-01-22 05:54] #2650 closed, assigned to nobody

[2017-01-22 05:56] sdnts commented on #884
@kpstolk How large is the file you are trying to download?

[2017-01-22 07:40] lemuelf commented on #763
@a85 Any updates on this feature request?  We would love to see this as well.

[2017-01-22 16:00] scaleoutsean commented on #501
@a85 this is still (or again?) a problem.

I'm on Win10 and find it hard (takes 5-10 tries every time I want to scroll) to pinpoint the external scroll bar which is like 1-2% of my screen width.
In the beta mode (two side-by-side panes) the external bar disappears so I have to deal with only the internal (Responses pane) scroll bar, but in the default mode this is a constant problem for me: someti

[2017-01-23 11:25] octocat-mona commented on #884
@madebysid Like the [link](http://www.colocenter.nl/speedtest/100mb.bin) points to, about 100mb 😉

[2017-01-23 16:17] Christoph-Harms commented on #2336
Any update on this? Trying to export API-information from an existing project to postman v2 format, this feature would really help. Thanks in advance!

[2017-01-23 17:32] gianisegatto commented on #2650
Hi Siddhant Sinha,

Thanks for your response. However, my doubt is about the javascript code that I can write in the pre-script.
We had tried to use Map object and the code didn't work in postman.
These are the Map reference
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map
https://tc39.github.io/ecma262/#sec-map-objects

Kind regards,
Giani Segatto

[2017-01-23 17:36] sdnts commented on #2650
Ah, JS code in the pre-request / test scripts is written in ES5. Since Maps are part of the ES6 spec, they won't work right away.

[2017-01-23 17:38] gianisegatto commented on #2650
Cool,

Thanks a lot for your fast answer.
Do you have some idea when does postman will allow ES6?

Kind regards,
Giani Segatto

[2017-01-23 17:39] elmojo commented on #2479
I can also confirm the crash/unresponsiveness for a large response.  It seems to occur if the returned data is over ~15MB.

The data will display but shortly afterward the window goes white and becomes unresponsive.  I then have to close the application.

[2017-01-23 17:51] gregjan opened #2653 "Save dialogs too long (height), buttons invisible."
1. Postman Version:
 2. App (Chrome app or Mac app): 4.9.3 Linux AND 4.9.2 (Chrome App)
 3. OS details: Ubuntu 16.04
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: recently noticed
 6. Expected behaviour: I should be able to see the bottom edge of the dialog window and the buttons near the bottom. Instead the dialog is l

[2017-01-23 19:08] O11o1 commented on #719
thank you, @irhabi, that solution is pretty useful for an API I'm working on. It would be nice to be able to read in JSON Schemas from a file, but for now being able to plug it into the test script of an initial "setup" test should be sufficient for now. It's better than copying it all over the place, at any rate!

[2017-01-23 22:18] vgadolin commented on #2642
Any idea on how to fix the issues with the packaged apps above?  Is this causing the collection running not to work?

[2017-01-24 00:49] Komencanto commented on #1850
Currently in native desktop version 4.9.2 the issue persists.

![capture](https://cloud.githubusercontent.com/assets/10437726/22229257/7eee6a8c-e18b-11e6-9d44-dd3e28b5e5d1.PNG)

![capture2](https://cloud.githubusercontent.com/assets/10437726/22229303/b5ef2698-e18b-11e6-9187-330a2a66a018.PNG)

OS: Windows 10 Home

Let me know if I can upload any additional information to help resolve the isue.

[2017-01-24 07:52] sdnts commented on #2642
@vgadolin Those look like logs from the main window. Can you check logs for the window titled `runner.html` to see if the request there is the same as the request sent from the main window?
Since requests are sent exactly the same way in both cases, I find this behaviour extremely weird.

[2017-01-24 08:09] sdnts commented on #2650
The Chrome app is limited by the version of Chrome you're on. So, you might now be able to use all ES6 features there.
However, on our [native apps](https://getpostman.com/apps), you can use Maps and other ES6 JS. As of v4.9.3, we use Chrome 53 in the native app, so it should support all ES6 syntax.

[2017-01-24 09:52] Nopik opened #2654 "Suboptimal use of space for request urls in 2 pane mode"
When using Postman in 2 columns mode (request on left, response on right), the text input for URL is relatively short, whereas there is a plenty of space to the right:
![image](https://cloud.githubusercontent.com/assets/554841/22242295/1758e8e6-e223-11e6-8608-96770de7b6e2.png)

[2017-01-24 09:58] gianisegatto commented on #2650
Cheers mate, thanks a lot for your help

[2017-01-24 10:57] toburger commented on #1137
+1

[2017-01-24 11:04] vegetableman commented on #2652
@DXkite Could you follow the steps listed on https://www.getpostman.com/docs/errors and verify the network request being sent on the devtools. Also, you could send a POST request to `https://echo.getpostman.com/post` (which will spit out the content on the response) to check whether file upload is working.

[2017-01-24 11:05] mverdier opened #2655 "Postman App crashing upon receiving response"
1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app, Chrome 49.0.2623.87
 3. OS details: linux / x86-64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Started happening about a week ago or so
 6. Expected behaviour: Getting an answer from my API endpoint
 7. Console logs: There's not much being logged u

[2017-01-24 11:06] vegetableman commented on #2653
@gregjan Thanks for posting this issue 👍 . Will keep you posted on this thread.

[2017-01-24 11:07] vegetableman commented on #2617
@DaRolla Tagging this a feature request. Will keep you posted on this thread.

[2017-01-24 11:42] vegetableman commented on #2648
@Edunga1 Thanks for reporting this issue 👍 . We are in the midst of replacing the built-in editor with a better one. Will keep you posted in this thread.

[2017-01-24 12:03] vegetableman commented on #2655
@mverdier Thanks for posting this issue 👍 . The occurrence of this issue on the chrome app is quite intermittent as reported by few others and hard to reproduce. Could you verify if the issue is reproducible on the native app?.

[2017-01-24 13:15] mverdier commented on #2655
@vegetableman I just tried using the same API endpoints on the native Linux x64 app, the issue doesn't seem to be reproducible there.

[2017-01-24 14:26] DanielStoica85 commented on #1966
This would be a very useful feature. It's very strange that it wasn't added until now. I think anyone using Postman would want to run multiple collections at the same time. Any news on this?

[2017-01-24 14:35] DanielStoica85 opened #2656 "Add ability to export test results to html"
Please add the ability to export the collection runner test results in a html page that can be easily shared and read by other team members.

[2017-01-24 18:32] samayamantri commented on #1137
+1

[2017-01-24 22:08] garethtsnapper commented on #1475
+1

[2017-01-24 23:06] tdurden82 commented on #208
I'd like to add my support for this feature. Creating request templates based on WSDL would be excellent.

[2017-01-25 00:46] sd-bnguyen commented on #1535
+1

[2017-01-25 01:43] SamvelRaja commented on #2579
@vgorloff @robertkuhar The issue has been fixed in our latest canary([4.9.4-canary.1](https://dl.pstmn.io/download/latest/osx?channel=canary)) release,
can you guys switch to that version an check the same?
On additional note we are using the whatwg's [url parser algorithm](https://url.spec.whatwg.org/#parsers).

[2017-01-25 02:09] SamvelRaja commented on #2517
@tobeliketree @robertkuhar @mhertogs @rickmills  The issue has been fixed in our latest canary([4.9.4-canary.1](https://dl.pstmn.io/download/latest/osx?channel=canary)) release,
can you guys switch to that version an check the same?
On additional note we are using the whatwg's [url parser algorithm](https://url.spec.whatwg.org/#parsers).

[2017-01-25 02:10] SamvelRaja commented on #2538
@hamid-elaosta @benjamw @albertogiunta @Nirvaner @mooglemoogle @tobeliketree
 The issue has been fixed in our latest canary([4.9.4-canary.1](https://dl.pstmn.io/download/latest/osx?channel=canary)) release,
can you guys switch to that version an check the same?
On additional note we are using the whatwg's [url parser algorithm](https://url.spec.whatwg.org/#parsers).

[2017-01-25 02:11] SamvelRaja commented on #2468
@grayrod @TatyanaMartynyuk
 The issue has been fixed in our latest canary([4.9.4-canary.1](https://dl.pstmn.io/download/latest/osx?channel=canary)) release,
can you guys switch to that version an check the same?
On additional note we are using the whatwg's [url parser algorithm](https://url.spec.whatwg.org/#parsers).

[2017-01-25 05:58] sdnts commented on #1966
@DanielStoica85 In the native apps, you can run multiple collections at the same time, although they'll have to be started individually manually. We're looking into allowing you to select multiple collections to run them parallely :)

[2017-01-25 06:00] sdnts commented on #2656
@DanielStoica85 If you want to get run report in an HTML format, you should also look into [Newman's HTML reports](https://github.com/postmanlabs/newman#html-reporter-options).

Newman is a command line collection runner, so it'll behave exactly the same as the native app's Collection Runner. You can give it a collection and generate an HTML report.

[2017-01-25 06:02] sdnts commented on #1850
@HaydenStanko Looks like you're on the Chrome app. Nevertheless, this is very weird because I can generate the correct code using the Chrome App & the native app for form-data & urlencoded bodies on my end :(
Can you open up the Chrome App's DevTools ([Instructions](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)) to check if you find any errors there? A scre

[2017-01-25 06:04] sdnts commented on #501
@scaleoutsean Is the two pane layout in the app not working as expected for you? That should get rid of the outer sidebar and allow you to scroll easier within the response body. We're also working on making this layout resizable for more customizability. I'll let you know here when it is out, which should be in the next release.

[2017-01-25 06:06] madebysid commented on #2652
@DXkite Could you provide a little more detail as to what the issue is? Can you not POST a file at all? If so, could you try POSTing a simple file to `https://postman-echo.com/post`? This is a test service that should allow you to confirm if the problem lies with the app or with your server.

[2017-01-25 06:09] sdnts commented on #2651
@mtx62 When you say you relocate the form-data keys, do you mean you're reordering the keys or you're relocating the file on your file system?

[2017-01-25 06:10] sdnts commented on #2296
We're looking into a more customizable auth helper, which should help you guys out. Will keep you updated of its progress.

[2017-01-25 06:12] mtx62 commented on #2651
I believe reordering is the right word

On Jan 25, 2017 9:09 AM, "Siddhant Sinha" <notifications@github.com> wrote:

[2017-01-25 06:13] sdnts commented on #2649
Hi @Skeksis! We do not write to the file system from anywhere in the app, so this looks very unlikely. Can you reliably reproduce this or was this a one time thing?
Also, how did you conclude that Update.exe was overwritten? Was it deleted?

[2017-01-25 06:19] benjamw commented on #2538
How do I update to canary if I'm using the standalone app?

[2017-01-25 06:25] solvingj commented on #739
+1

[2017-01-25 06:29] solvingj commented on #739
@a85 Sorry to bother, but can you provide any update?

[2017-01-25 08:10] DanielStoica85 commented on #2656
@madebysid Yes, I did not try Newman yet, I will in the near future, but I still think it would be really useful to be able to generate prettier HTML reports from the collection runner too.

[2017-01-25 08:15] DanielStoica85 commented on #1966
Well, if you run the collections one at a time, then you are not really starting them at the same time. Just to make it clear, I don't want the collections to run parallely, I want to be able to run a suite of collections, like a suite of test cases.

[2017-01-25 08:42] hamid-elaosta commented on #2538
@SamvelRaja thanks for the update, there's not much I can do with the osx binary you linked though, I run Linux.

[2017-01-25 08:54] nagyf opened #2657 "Collapse all folders in one click"
This is a minor problem, but a really annoying one.
Please, add a button to be able to collapse all folders on the collections tab in one click (maybe next to the sorting button?).
I have ~30 folders right now which will increase with time, and it's really hard to find something in the list when a lot of folders are open.
Right now the only option is to collapse them one by one, but I think a "Col

[2017-01-25 09:16] sdnts commented on #2538
Guys, here are links for the Canary builds:

OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_64
Linux 32-bit: https://dl.pstmn.io/download/channel/canary/linux_32
Linux 64-bit: https://dl.pstmn.io/download/channel/canary/linux_64

@benjamw You'll need t

[2017-01-25 09:23] gmanenti commented on #2538
Hi, with this the bug it seems resolved.

Thank you, Gianluca.

2017-01-25 10:16 GMT+01:00 Siddhant Sinha <notifications@github.com>:

--

*Gianluca Manenti*

OverMob Srl
Tel: +39 3489064158
http://www.overmob.com

[2017-01-25 10:07] vgorloff commented on #2579
Thank you!

canary(4.9.4-canary.1) still has an issue.
Here is GET url:

`https://www.example.com/api/customer/login/?email=test+ios-default@xyz.com&password=somePass`

Here what "Code -> Shell cURL" generates:

[code]

But expected:

[code]

So, character "+" in URL query parameter still encoded as '%20' while expected '%2B'.

[2017-01-25 10:11] vgorloff commented on #2579
When i'm trying to login to my server with account which has symbol"+" in e-mail (like `test+ios-default@example.com` the server still returns me authorisation error. So, the build canary(4.9.4-canary.1) still generate example code "Code -> Shell cURL" with mistake as well as encode with mistake URL before executing network request.

While Postman version 4.8.3 working as expected.

[2017-01-25 14:20] cchretien opened #2658 "Update postman-docs to include sandbox library versions"
1. Postman Version: Latest documentation
 2. App (Chrome app or Mac app): Latest
 3. OS details: All platforms
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: Always been around
 6. Expected behaviour: Expect to know what version of libraries Postman loads so we know what library functions are available. Links always ref

[2017-01-25 15:15] aldav82 commented on #2296
Ok. will be much appreciated.

[2017-01-25 16:08] ghost opened #2659 "Saved collection call SOAP Webservice not works in postman-app and works in postman-chrome"
1. Postman Version: Postman for windows: 4.9.3 , Postman chrome: 4.9.2
 2. App (Chrome app or Mac app): Windows App and Chrome App
 3. OS details: Windows 10  win32 10.0.1.4393 / x64    Chrome App: Chrome 55.0.2883.87
 4. Is the Interceptor on and enabled in the app: enabled
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:

 7. Console logs (http://bl

[2017-01-25 17:41] mikehedman commented on #1963
Just a note for the folks working on this - THANKS!!  I really love the new test runner, and this morning had a step fail in the middle, and the drop down that shows the request and response info was super helpful!
Just a little nit - the fact that there is a dropdown isn't very well 'publicized' in the results screen.  I only found it by noticing that when the mouse scrolls over the step descript

[2017-01-25 19:58] TomBaxter opened #2660 "Feature request: indicate folders in "Run Results" in "Collection Runner""
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Linux
 3. OS details: Ubuntu 16.04.01
 4. Is the Interceptor on and enabled in the app: No, I think?
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behavior: Indication of folder when viewing "Collection Runner" "Run Results"

[2017-01-25 21:03] hamid-elaosta commented on #2538
@madebysid Thanks, didn't get a chance to test today but will do as soon as poss.

[2017-01-25 22:35] thizanetti commented on #1038
@shamasis could you provide an example of how to do that? I've been looking all over, but as far as I can tell setTimeout is not available in postman's sandbox.

[2017-01-26 02:43] lateef531 commented on #1013
+1
Any update on the timeline when github sync feature will be available?

Also can you please implement the sync has an option to connect to any github i.e. on premise url's like https://github.xyz.company.com

[2017-01-26 03:24] lateef531 commented on #943
+1

[2017-01-26 05:36] sdnts commented on #2660
@TomBaxter This is something that's on our roadmap. Will keep you updated here :)

[2017-01-26 05:39] sdnts commented on #2336
@Christoph-Harms While there isn't a concrete ETA I can provide right now, rest assured, this is under development :D

[2017-01-26 05:44] sdnts commented on #2622
@Rihab Sorry for the lack of activity here, but can you also reproduce this with `https://postman-echo.com/gzip`, or is this happening just for your server?

[2017-01-26 05:47] sdnts commented on #2635
@D219 Can you also reproduce this with one of our [native apps](https://getpostman.com/apps)?

[2017-01-26 06:15] scaleoutsean commented on #501
Yes, the two pane layout is 50% better (only one "thin" scroll bar to target with mouse).
Sometimes there's no need to scroll (with short request and response combos) but I usually have responses that are longer than one screen and on a 12" notebook with non-HD resolution that happens frequently, so the two pane layout is an improvement compared to the classic layout and as you noted the ability t

[2017-01-26 07:06] Rihab commented on #2622
@madebysid the problem is fixed. Sorry that I did not put any feedback here.
I was doing the compression manually while Vert.x was also doing it for me.
So Postman maybe found a double-gzipped response and could therefore not unzip it.
When I use only the gzip feature of Vert.x I don't have the problem anymore and Postman unzips the reponse correctly.
PS: please please mark this as solved or not a

[2017-01-26 07:08] sdnts commented on #2622
Awesome, that's great to hear!

[2017-01-26 07:08] #2622 closed, assigned to nobody

[2017-01-26 07:13] sdnts commented on #1963
@mikehedman Thanks for the feedback! We'll try making it more apparent :)

[2017-01-26 07:14] sdnts commented on #1013
@lateef531 @mjgp2 GitHub integration is now out for Postman Pro teams as @a85 mentioned. You can find it under the `Integrations` link on your dashboard.

[2017-01-26 07:15] #1013 closed, assigned to nobody

[2017-01-26 10:25] vkaegis commented on #2654
@Nopik Thanks for reporting this! We're considering an alternative where the URL bar extends for the width of the tab. Will keep you updated.

[2017-01-26 12:09] akinom77 opened #2661 "Response doesn't pick up correct language when Auto"
Performing GET command, I get no results back other than Unexpected '<' if the output format is set as Auto. I need to manually change it to XML to see the result. Even if I save the settings then, the next time I run it, it defaults back to Auto. It should either work as default and detect language or allow me to save it as I wish to use it. When I set content type as application or text/XML, it

[2017-01-26 12:41] SamvelRaja commented on #2579
@vgorloff Thanks for your time in testing it out, will update the thread once it is fixed.

[2017-01-26 16:55] DanielStoica85 commented on #2657
Good idea!

[2017-01-26 19:07] tm8747a commented on #697
+1

[2017-01-26 20:02] TheNate-zz opened #2662 "JSON string nested in JSON response being eliminated"
We have a partner returning a JSON string nested **inside** a JSON object.  _Please_ don't ask me why.  All I know is that at least one older version of PostMan still showed the JSON string, and the newest one does not.  Is this a PostMan bug?  Or is this just such _crappy_ JSON from our partner that PostMan refuses to process it?

1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac app

[2017-01-27 05:17] sdnts commented on #2662
@TheNate Can you see the actual value in the `Raw` tab in the response section?

[2017-01-27 10:06] DrakaSAN commented on #2635
No, only on the chrome app. It was a nice news there is a native app too.

[2017-01-27 12:50] vegetableman commented on #2661
@akinom77 the `Content-type` for the response should be `application/xml` for it to work or if the extension of the requested url ends with `.xml`, the correct language would be selected by default.

[2017-01-27 13:12] xmeng1 commented on #2331
By using the App, I found that when I add a file, the file will be made a copy to a folder of Postman.
`~/.config/Postman/IndexedDB/file__0.indexeddb.blob/1/00` So next time, If I don't choose the file, the request will use this file. Is it the improvement by Postman? Where I can find the related document.
I only see [the document](https://www.getpostman.com/docs/requests) said:

[2017-01-27 14:27] TheNate-zz commented on #2662
No, I cannot:
![screen shot 2017-01-27 at 9 26 30 am](https://cloud.githubusercontent.com/assets/5301925/22374130/da4c6caa-e472-11e6-894a-471cad8171f4.png)

[2017-01-27 19:44] rpratsch0936 opened #2663 "API oauth signature not valid"
Using OAuth 1.0 Authorization and I am providing a consumer key and consumer secret (no token is supposed to be required). Trying to use the Talent by Torsh API. It keeps giving me the error : API oauth signature not valid. I am not sure why this is happening.

 1. Postman Version: newest version
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 8.1
 4. Is the Interceptor on and enab

[2017-01-27 22:22] mstaalesen commented on #2099
Thanks for fixing this :)

[2017-01-27 22:22] #2099 closed, assigned to nobody

[2017-01-27 23:07] gregorypease280 commented on #1972
Postman should have the ability to sort requests in a collection. Preferably as an action selectable from a dropdown menu(The collection sort works fine).

[2017-01-28 00:39] adammendoza commented on #495
I just lost about 300 items in my collection. :(

[2017-01-28 01:47] dxkite commented on #2652
The upload file module working at first,But  when  POST  again( Without choose file) ,The POST Request Only has a boundary.

Happy Chinese NewYear!  :small:

[2017-01-29 09:56] easedev commented on #1947
@cen1 look up presets and also environments with variables: https://www.getpostman.com/docs/environments

[2017-01-29 20:23] concordion2k opened #2664 "The + (plus) sign in the params list encodes to %20, not %2B"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Win 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: + sign should be encoded as %2B
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome Ap

[2017-01-30 09:25] grongor commented on #1221
Sorry to reply so late ... I can confirm that in the new app (not the Chrome one) it works just fine. Thank you!

[2017-01-30 09:53] smalekzadeh commented on #2247
any progress on script re use?

[2017-01-30 10:39] hamid-elaosta commented on #2538
@madebysid Downloading Linux 64-bit now.

FYI, you link to the 32bit for both 32/64 Linux versions, it had me tearing my hair out for a while until I realised I was trying to run the 32bit version and I don't have the 32bit libs.

[2017-01-30 11:14] steher commented on #1535
+1

[2017-01-30 12:03] vegetableman commented on #2663
@rpratsch0936 Could you select the option `x-www-form-urlencoded` on the `Body` tab, and then
click on `Update Request`? and check if the `POST` request works.

`form-data` is not a valid conduit for oAuth parameters. This bug is fixed in the native app such that Clicking on `Update Request` will only update  `x-www-form-urlencoded` and not `form-data`.

[2017-01-30 12:58] ghost commented on #2585
Same problem in Postman for Windows Version 4.9.3 win32 10.0.14393 / x64 .

[2017-01-30 13:14] steher commented on #697
+1

[2017-01-30 13:24] rpratsch0936 commented on #2663
Thank you for getting back to me on this. I tried using the option x-www-form-urlencoded but it sill gives me the same error message. See screenshot below. Is there anything else that I can try to solve this? I appreciate your assistance!

![image](https://cloud.githubusercontent.com/assets/14165649/22424675/8db6b7ba-e6c5-11e6-8431-12a90647c478.png)

[2017-01-30 13:57] rpratsch0936 commented on #2663
Ran a few more tests and the issue got resolved. Thank you for your assistance!

[2017-01-30 13:57] #2663 closed, assigned to SamvelRaja

[2017-01-30 14:10] sdnts commented on #2662
@TheNate The Raw tab shows the request as received by Postman, so I'm guessing this isn't sent at all(?). Since this is a string, it shouldn't be treated any different from other strings. Can you see if a cURL request returns the expected body?

[2017-01-30 14:12] sdnts commented on #495
@adammendoza If you have Sync enabled, can you email us at help@getpostman.com?
Without Sync, all your collections are stored locally, so unfortunately, there isn't anything we can do :(

[2017-01-30 14:35] TheNate-zz commented on #2662
In the first screenshot, above, you can see the results of making the call in a web browser - the data not displayed by PostMan **is**, indeed, being returned.  Here's a sample with "Paw"...

![screen shot 2017-01-30 at 9 33 05 am](https://cloud.githubusercontent.com/assets/5301925/22426992/6ccfc4c4-e6cf-11e6-8cfe-408927c42fca.png)

[2017-01-30 15:02] akinom77 commented on #2661
I have set the content type as xml in the header but that didn't make any difference. Also, how do I save the output format for each of my request?

In the results header, it shows it as xml, per below but the display is as Auto and shows no content.

![image](https://cloud.githubusercontent.com/assets/10908246/22427926/f70e3f44-e6fc-11e6-9a5b-f5fab1e24365.png)

![image](https://cloud.githubuserco

[2017-01-30 19:15] coderjoe commented on #1137
So I was having this problem using the Chrome App installed from the web store (not bundled native app). Then I installed "Postman Interceptor" and turned it on. Now all of a sudden NTLM auth is working... wat happen? 😮

[2017-01-30 20:45] Kamil1 commented on #882
+1

[2017-01-30 21:29] CieNTi commented on #285
+1

Thanks :D

[2017-01-30 22:47] mhertogs commented on #2664
This seems to be a duplicate of #2579  . You can follow the progress of this issue there.

[2017-01-31 04:04] workabyte commented on #2620
just curious if there is an update on this.
also wondering if my assessment was accurate?

thanks for such a great product!

ps we are a paid customer :)

[2017-01-31 05:43] SamvelRaja commented on #2538
@hamid-elaosta Thanks for your response. Updated the link aswell. Can you confirm it is fixed 😄

[2017-01-31 05:48] SamvelRaja commented on #2529
@sburtonctr @dubiousdavid This issue has been fixed in out latest canary build can you guys check the same.

OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_64
Linux 32-bit: https://dl.pstmn.io/download/channel/canary/linux_32
Linux 64-bit: https://dl.p

[2017-01-31 06:40] SamvelRaja commented on #2517
@tobeliketree @robertkuhar @mhertogs @rickmills Just a nudge to check whether you guys had chance to test it out in canary build.
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/channel/canary/windows_32
Windows 64-bit: https://dl.pstmn.io/download/channel/canary/windows_64
Linux 32-bit: https://dl.pstmn.io/download/channel/canary/linux_32
Linux

[2017-01-31 06:42] SamvelRaja commented on #2468
@grayrod @TatyanaMartynyuk Just a nudge to check whether you guys had the chance to test it in the latest canary.

[2017-01-31 06:48] SamvelRaja commented on #2620
@workabyte Thanks for contacting us. The issue has been identified and it is been fixed internally. We shall update this thread once it is released.

[2017-01-31 06:50] SamvelRaja commented on #2664
Closing as it is a duplicate of #2579

[2017-01-31 06:50] #2664 closed, assigned to nobody

[2017-01-31 07:12] vegetableman commented on #2661
@akinom77 I am not able to replicate this issue. Could you let me know know the version of the app? and is it a chrome or native app?.

[2017-01-31 07:13] vegetableman commented on #2661
@akinom77 Also, the response header `Content-Type` sent from the server (not the request header which you have set) dictates the format displayed on the response viewer of the app.

[2017-01-31 07:50] vegetableman commented on #2659
@espiatsundiogroup Thanks for posting this issue :+1:. Could you open up the `Postman Console` and check if the the request body sent is valid. To open up the console, you could refer: https://www.getpostman.com/docs/errors

[2017-01-31 09:21] ghost commented on #2659
Hi,

I opened Postman Console from Desktop app amb Console from Chrome add on .

The body are different.

From Chorme Add on:

[cid:image001.png@01D27BAB.C8F2DFF0]

From Desktop Version:
[cid:image002.png@01D27BAB.C8F2DFF0]

I think  a problem is related with how parsing an XML body .

From: Vignesh Anand [mailto:notifications@github.com]
Sent: Tuesday, January 31, 2017 8:51 AM
To: postmanlabs/pos

[2017-01-31 10:08] rickmills commented on #2517
Hi @SamvelRaja

Tested it out this morning and the Canary release does appear to fix the issue on macOS :)

Thanks for that 👍

[2017-01-31 10:42] sdnts commented on #1137
@coderjoe When you use the interceptor, all requests are sent via the Chrome browser instance you launched the app from. You might have had cookies there that allow you to login to your service.

[2017-01-31 11:17] yurieastwood commented on #697
+1

It would be extremely useful to make a pre-request to an endpoint to get a token value and populate a header with it.

[2017-01-31 14:07] vegetableman commented on #2659
@espiatsundiogroup The screenshots are not visible. Could you upload them on this thread?

[2017-01-31 14:12] ghost commented on #2659
[cid:image001.png@01D27BD3.F7859B50]

[cid:image002.png@01D27BD3.F7859B50]
From: Vignesh Anand [mailto:notifications@github.com]
Sent: Tuesday, January 31, 2017 3:07 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Jordi Espinosa <Jordi.Espinosa@sundiogroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] Saved collection

[2017-01-31 14:13] vegetableman commented on #2659
@espiatsundiogroup The attachments are being stripped out. You will need to manually upload them from this thread.

[2017-01-31 14:22] ghost commented on #2659
Desktop Version
![2017-01-31_10h20_50](https://cloud.githubusercontent.com/assets/19286907/22468582/18fffda0-e7c9-11e6-954b-9f646c04fab9.png)

Chrome addon version
![2017-01-31_10h20_03](https://cloud.githubusercontent.com/assets/19286907/22468586/1b53e850-e7c9-11e6-9412-843d897fc3d7.png)

[2017-01-31 14:25] coderjoe commented on #1137
@madebysid ah that makes perfect sense. Thanks for helping clear up my confusion. I guess this is a partial workaround for me then. :)

[2017-01-31 15:08] DanielStoica85 commented on #882
Come on guys, this would also be really useful.

[2017-01-31 17:50] mattbits commented on #1048
can confirm this behavior is happening in Mac native client v4.9.2 and disabling interceptor is workaround.

[2017-01-31 22:44] tariqghalib commented on #2604
@madebysid @czardoz Any update on this guys. This currently doesnt work in the CLI runner (newman) as well. That breaks the nightly builds.

[2017-02-01 06:34] daemin-hwang opened #2665 "LinuxApp Korean Input Method Does Not Work Correctly"
1. Postman Version: Version 4.9.3
 2. App (Chrome app or Mac app): Postman for Linux
 3. OS details: linux 4.4.0-53-generic / x64
 4. Is the Interceptor on and enabled in the app: -
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Duplicate words should not be entered / Korean input method should operate normally.
 7. Console logs (http://blog.

[2017-02-01 06:34] akomba commented on #1966
This is probably the most important missing feature for me as well. Is there any workaround? Running it from the command line with newman?

[2017-02-01 10:56] aumanjoa commented on #1137
+1

[2017-02-01 13:06] DanielStoica85 commented on #697
Any news on this?

[2017-02-01 14:47] sarah-jay-peper commented on #697
+1 need to get token before most other requests

[2017-02-01 15:45] steher commented on #697
As pointed out by shamasis it would be more user friendly if we are able to have kind of a placeholder within a collection pointing to request of another collection.
This way we would be able to build a util collection containing common calls which can be reused as pointers to the actual calls whenever needed.

[2017-02-01 17:49] dkordik commented on #717
Looks like Postman currently lets you save individual History items from Interceptor to a collection... but it would be awesome if I could just save my entire History to a collection in one shot! Then all I'd have to do is get my Postman Interceptor mask right, and I could browse around my site and generate a nice API map.

[2017-02-01 20:21] deanshelton913 commented on #697
+1

[2017-02-01 21:36] junquera commented on #697
Could be great something like request chaining, not necessarily related
with prerequest script!

[2017-02-02 00:17] jknipp commented on #2556
I ran into this same issue and can confirm the workaround using

1. Postman Version: 4.9.3
2. App (Chrome app or Mac app): Mac App
3. OS details: Mac OS X Sierra

[2017-02-02 00:54] robertkuhar commented on #2517
@SamvelRaja I confirmed that the canary does indeed allow me to manually encode the '+' in the GET URLs and generates an HTTP request that works when I click "Send".  That is to say setting a query param like `email=robert.kuhar%2Bprime@climate.com` on the Postman URL (ex.  http://example.com/user/details?email=robert.kuhar%2Bprime@climate.com) works like a champ.

It still strikes me as odd that

[2017-02-02 01:52] maciekdragan opened #2666 "Mac OS - cannot PUT to AWS S3 presigned URL (works in chrome version)"
1. Postman Version:4.9.3
 2. Mac app
 3. OS details: OS X Yosemite 10.10.5
 4. Is the Interceptor on and enabled in the app: don't know
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: send PUT with presigned URL to AWS S3
-----------
1. Get presigned URL from AWS S3
2. Try to upload to the URL some data
3. You will receive
[code]
The best pa

[2017-02-02 03:18] Kamil1 commented on #1906
+1

[2017-02-02 05:25] macro-dadt opened #2667 "issue when i try convert from form-data to raw (JSON)"
i can send a request successfully by form-data, but not work when i try with raw (JSON). Any help is appreciated. it seem data can reach to server, but server can not parse from it
![screen shot 2017-02-02 at 14 15 34](https://cloud.githubusercontent.com/assets/21075652/22538008/ae7733aa-e952-11e6-850a-3bc660ffbdea.png)
![screen shot 2017-02-02 at 14 15 57](https://cloud.githubusercontent.com/asse

[2017-02-02 08:03] DanielStoica85 commented on #697
@junquera Request chaining is possible.

[2017-02-02 08:30] junquera commented on #697
I know @DanielStoica85 , but I say chaining from the request, not from the collection
runner. Something like setting next and previous request (as Spring does
with the filters).

[2017-02-02 14:00] polimreis opened #2668 "When a timeout occur during a test running , postman hangs."
Version/App Information:

 1. Postman Version: 4.93
 2. App (Chrome app or Mac app): Mac app ( Chrome app stil in 4.9.2 version )
 3. OS details: MAC OS X EL Capitain
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: This occur just in this version, on version 4.9.2 this doesn't happen
 6. Expected behaviour: if will occur a t

[2017-02-02 14:24] grayrod commented on #2468
@SamvelRaja I tested it out in Postman Canary v4.9.4 and it looks good now . Thanks!

[2017-02-02 15:27] GDuparquet commented on #2544
Same as iagomelanias.

Juste saved a request in a custom collection. When I close and then launch postman again, the body type is set to "text". Even if the Content-type header is still set to "application/json".

OS : Windows 10
Chrome version : 55.0.2883.87
Postman version: 4.9.2

[2017-02-02 16:35] marceloavan commented on #2242
same issue here

[2017-02-02 16:45] walterfawcett opened #2669 "Send and Download Hangs"
I am trying to download a large file (250mb) using the HTTP Get and the Send and Download option.  When i place the call, i can see data being downloaded (using Perf Mon), but when the download is complete (i.e. the network activity drops), the response still says "Loading ..." and I have a Cancel Request button.

![image](https://cloud.githubusercontent.com/assets/12616015/22558651/512bcb5e-e923-

[2017-02-02 17:00] rzizza commented on #285
+1 ! This would be incredibly useful

[2017-02-02 17:15] TatyanaMartynyuk commented on #2468
Hi!
I did not have chance to test it because I changed a job and at my new
place I do not use Postman (for now).
Anyway, thank you for fixing it!

Tatyana

On Thu, Feb 2, 2017 at 6:24 AM grayrod <notifications@github.com> wrote:

[2017-02-02 18:10] walterfawcett commented on #2669
So I retried running the Chrome App version and it worked.  So it seems to be something specific to the Windows version.

[2017-02-02 20:16] hottes opened #2670 "Debugging from DevTools for Native App"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Postman for Windows
 3. OS details: win32 6.1.7601 / x64
 4. Is the Interceptor on and enabled in the app: Off
 5. Did you encounter this recently, or has this bug always been there: new installation
 6. Expected behaviour: With the DevTools window open, the code execution should pause when hitting the debugger; statement in the Tests scri

[2017-02-02 20:29] chrisiek opened #2671 "What technology is behind postman?"
Perhaps very off topic question but I must ask about it.

What technology was used to program this nice tool?

[2017-02-02 21:38] cy-banfield commented on #285
+1!  Especially useful for passwords that shouldn't be stored.

[2017-02-02 22:10] vgadolin commented on #2657
I agree it is needed.  It would also be great if you could do the same in the builder on the tabs that are opened

[2017-02-02 22:19] vgadolin opened #2672 "Collection Runner - Need total run time of a particular collection"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): App (not Chrome)
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: In Chrome version but not in Installed version
 6. Expected behaviour: In this screenshot, it shows the total run time from your docs:  https://www.getpostman.com/img/v1/d

[2017-02-02 23:42] Romanone opened #2673 "File upload issue when the request is loaded from history"
Hello, here some information about this:
 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10 x64

Steps to reproduce the problem: check video
[Little explanation on YouTube (https://youtu.be/Oc4h0YEf4PU)](https://youtu.be/Oc4h0YEf4PU)

[2017-02-03 05:52] SamvelRaja commented on #2673
@Romanone Thanks for the video 😄  We will provide you the update regarding this issue in the same thread soon.

[2017-02-03 06:24] vkaegis commented on #2672
@vgadolin Thanks for pointing this out! We'll be fixing this in the upcoming versions, will keep you updated.

[2017-02-03 07:34] numaanashraf commented on #2670
Hi @hottes, pre-request and test scripts run in a special sandboxed node process in the native app, and do not support debugger statements at the moment. The recommended way right now is to use `console.log`s to print out debug information and view them on the Postman Console (Ctrl + Alt + C)

[2017-02-03 07:42] SamvelRaja commented on #2517
@robertkuhar Thanks for testing and providing the information, the mismatch between the cURL and the postmanURL is intentional, I will look further into this and will update the thread accordingly.

[2017-02-03 08:09] sdnts commented on #2662
@TheNate We were able to replicate the issue and get to the bottom of this.
We found that some characters in the URL weren't being encoded properly, which was causing this.
We've fixed this internally, and will be rolling out a fix for this soon. Will keep you informed here.

Meanwhile you can download the canary build here, where the fix already went in:

OSX: https://dl.pstmn.io/download/channel

[2017-02-03 09:09] sdnts commented on #2544
@nikolayandr @GDuparquet We've fixed this internally, and will be rolling out a fix for this in an upcoming release. Will keep you informed here.

[2017-02-03 09:15] pintux opened #2674 "Importing a swagger.json from a Link fails."
Importing the attached swagger.json generates an error, while importing the same swagger.json from file it works.

 1. Postman Version: 4.9.2
 2. App (Chrome app or Mac app): Chrome
 3. OS details: macOS Sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: no, it's off.
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour: load the swagger
 7.

[2017-02-03 10:39] koreyba commented on #1048
The same happens for me now on Windows desktop app v. 4.9.3.
I don't know how to disable Interceptor in the desktop version.

I tried to use Chrome app and disable Interceptor but it didn't help too.

[2017-02-03 14:46] TheNate-zz commented on #2662
Great, thanks!

On Fri, Feb 3, 2017 at 12:09 AM Siddhant Sinha <notifications@github.com>
wrote:

[2017-02-03 16:26] DanielStoica85 commented on #364
Still no update on this?

[2017-02-03 19:14] jtrunick commented on #2545
same here, postman now unusable... too much data to enter by hand.

[2017-02-03 21:23] novabe commented on #615
Also Seeing this with PDF, version:
4.9.2
win / x86-32
Chrome 56.0.2924.76

[2017-02-03 21:29] rconrad21 commented on #882
+1

[2017-02-03 23:52] mchavarriae commented on #1831
This is not working on 4.9.3, Anyone has this problem?

[2017-02-04 01:20] a85 commented on #2310
@shamasis Yeah. We have to bring in the console into the app.
@wabiloo For now you can use console.log statements and use the Postman Console to view them. This does not belong in the test fail/pass category

[2017-02-04 01:20] a85 commented on #2291
@shamasis Yeah for sure. pm-api should allow customizing the request as much as possible.

[2017-02-04 01:22] a85 commented on #1945
@mdaloia Thank you so much for the table! Helps a lot. We are cleaning up all these flows with the general principle of not to lose any user data by default.

[2017-02-04 06:43] bripkens opened #2675 "Cookies are listed twice in auto-generated cURL docs"
Cookie headers explicitly set via the headers menu point are listed twice in the auto-generated cURL docs:

<img width="374" alt="screen shot 2017-02-04 at 07 39 45" src="https://cloud.githubusercontent.com/assets/596443/22616433/4f07999e-eaad-11e6-9e11-31015d337366.png">

 1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac
 3. OS details: MacOS Sierra
 4. Is the Interceptor on and ena

[2017-02-05 05:38] nmaxcom commented on #2372
Exactly what says on the title happens to me as well, and it shouldn't.

On the left side, where it says History there's list of items. Basically the requests I run. But they only "remember" what I requested but not the response which is an unnecessary waste of time and resources. I'm forced to re-send my request every time I want to check my history.

[2017-02-05 15:13] alecemckinley commented on #1850
I am using: 4.9.2, linux / x86-64, Chrome 56.0.2924.76 and can confirm that the problem still persists
![postman_screenshot1](https://cloud.githubusercontent.com/assets/10871587/22627171/aeadaa08-eb8b-11e6-8c5f-3666c88bca5e.jpg)
![postman_screenshot2](https://cloud.githubusercontent.com/assets/10871587/22627172/aeb19668-eb8b-11e6-993c-852e440e1903.jpg)

[2017-02-05 16:46] otoniel-isidoro commented on #882
+1

[2017-02-05 16:46] otoniel-isidoro commented on #1180
+1

[2017-02-05 21:43] otoniel-isidoro commented on #1368
+1

[2017-02-06 04:01] stevemcmillen commented on #1159
[This gitlab issue](https://github.com/postmanlabs/postman-app-support/issues/1180) helped me figure things out:

I have a single function that I use across many many APIs.  Updating all APIs every time I make a single change to one of the function gets *REALLY* cumbersome.

You can encapsulate the function in a variable stored in globals and then evaluate that in each API you need to use it in

S

[2017-02-06 04:59] shamasis commented on #2646
This one is tricky. Not everybody will understand the implications like you do. If we do implement this, we've got to make it clear of the security aspects that it breaks down.

Maybe the feature could be a one time thing. That is, in preview tab, a button saying re-render in less secure mode. Thinking aloud.

What's your thought?

[2017-02-06 05:35] uicosp commented on #2646
@shamasis It's a good idea, I agree with you.

[2017-02-06 08:52] DanielStoica85 commented on #1228
@madebysid Any update on this?

[2017-02-06 10:46] SamvelRaja commented on #2579
@vgorloff
Let me just put up the things which are to be sorted out in this issue.

When we generate the cUrl code (shell -> cUrl)

1. In query params '+' needs to be encoded to %2B instead of %20 - This is the expected behavior as + has a special meaning of (space) in query params which needs to encoded as %20 (space).
[source](https://web.archive.org/web/20151218094722/http://blog.lunatech.com/20

[2017-02-06 11:12] vgorloff commented on #2579
Thank you @SamvelRaja !

Sure. In query params "+" needs to encoded as "%20" (space).  What about "Bulk edit mode"?
Should we use "%2B" instead of "+" in "Bulk edit mode"? (see attachments)

[Example when "+" used](http://i.imgur.com/WH8LIeK.png)
[Example when "%2B" used](http://i.imgur.com/NoehKhX.png)

[2017-02-06 11:19] sowjanyaqsg commented on #1535
+1

[2017-02-06 13:01] samudurand opened #2676 "[Feature-Request] Configurable Warning on unsafe environments"
When using Postman for developing an API I always configure several environments (Local, DEV, PROD...). The last environment used is saved and selected by default automatically at each start of Postman (typically when I restart my computer every morning).

What happens very frequently is that I forget that the day before I was testing some requests on the DEV remote environment (or worst on PROD)

[2017-02-06 13:39] SamvelRaja commented on #2579
@vgorloff Thanks for the screenshot.
Yes, you need to use %2B.

Note: The issue 2 of double encoding still happens making it to %252B when you generate the shell->cURL, this will be fixed and released in the canary channel tomorrow.

[2017-02-06 14:21] kujenga opened #2677 "OAuth 2.0 Authorization does not use state parameter"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra 10.12.2 (16C67)
 4. Is the Interceptor on and enabled in the app: I don't think so?
 5. Did you encounter this recently, or has this bug always been there: I assume it has always been there
 6. Expected behaviour: The OAuth 2.0 spec specifies the availability of a "state" parameter [1] in Authorization

[2017-02-06 14:31] sdnts commented on #1159
@stevemcmillen Try this: `eval('(' + postman.getGlobalVariable("HMAC2") + ')')`

[2017-02-06 18:58] cadaniel commented on #2549
+1

I need to support RSA-SHA512 signatures in my requests. Currently I have python scripts to generate data to be imported in the runner. This model is just getting unsupportable.

[2017-02-06 19:02] cadaniel opened #2678 "[Feature] More Crypto Libraries"
the API I'm working with has heavy use of RSA-SHA512 signatures, as well as working with x509 certificates. Without the ability to load a library using an HTTP request, and cryptoJS not supporting asymmetric encryption, postman is not maintainable for me.

Having a way to add a library or an expansion of the current sandbox scripts would allow more usages.