[2018-03-21 11:36] #4328 closed, assigned to nobody

[2018-03-21 11:47] glenpike opened #4363 "Allow auto-update to skip to latest version."
[code]

## Issue Report:
When the system updates in the background, it appears to get the next version rather than the latest.  As a nice-to-have, can we make it jump to the latest version instead?
The use-case/reason for this is because I had manually installed 6.0.8 due to bugs in 6.0.9 and had disabled auto-update until 6.0.10 was released with the fixes.

[2018-03-21 12:21] ghost opened #4364 "Digest Authentication second Request missing"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
The Bug occurs after the first iteration of the collection runner.
The Collection runner sends only one request getting the http status code 401 with WWW-Authentication Header as response but never sends the second one.
Within the first iteration both requests are sendet and it works.

[2018-03-21 12:49] gartmeier commented on #3290
Sadly not a Windows only issue. Experiencing the same issue with macOS as well

[2018-03-21 13:08] januszm commented on #1931
It actually makes sense. @mstaalesen I think what @gpicazo meant is that he wanted to test the server's (API) timeout settings and simulate a "slow client" with Postman.

Let's say that the server read timeout is set to 3 seconds, it'd be cool if we could tell Postman to throttle the request so it takes 5+ seconds. Something that somewhat resembles network throttling in Chrome Dev Tools.

[2018-03-21 14:03] harryi3t commented on #4202
@janAtcontinia Please send the images to `help@getpostman.com`

[2018-03-21 14:15] arzanardi opened #4365 "Access to Read for non Team members"
Hello,

It would be interesting if external users, who did not necessarily need to have Postman accounts, could access the documentation in a restricted way (such as a login screen with email and password or some token)

[2018-03-21 14:15] rfonrouge commented on #2401
Same issue here. I have a collection with one folder by test scenario. These scenarios rely on common requests (same name) to implement some wait and loop mechanisms with setNextRequest.

I wish I could validate the whole collection in one click. But I encounter the same problem : the runner jumps to the last folder containing these common requests.

Being able to specify a folder/hierarchy to set

[2018-03-21 16:05] d4v1dst commented on #1131
Just ensure to backup your collections in your local, then you can import it again.

[2018-03-21 16:25] Pac0o commented on #2729
+1

[2018-03-21 16:31] dbkaynor commented on #4176
I just installed Postman-win64-6.0.10-Setup.exe and after doing so I still have the same problem. I created a collection "Bug test". In the collection is one test called "Test". Under the Bug test collection, I selected Edit/Variables and added three Keys,  NewAccount (12345), NewPassword (abcdef), and State (California). I then clicked Update and created a test with {{NewAccount}}, {{NewPassword}

[2018-03-21 16:42] jacobmetrick opened #4366 "Request hangs at sending"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just recently
 2. Expected behaviour: A request is sent
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): None available, as the request is never sent
 4. Screenshots (if

[2018-03-21 17:20] MarcoCaballero commented on #3405
Hiya! as @artischocke said:

I can add to this, the number of **'unsaved' tabs increases the probability**

Could be high memory usage issue?

Tested on VirtualBox:

[code]

[code]

Cheers!

[2018-03-21 17:33] hongaar commented on #4191
Hi @sivcan, I'll look into this again and update this issue if I still encounter the same problem.

[2018-03-21 19:52] eracle commented on #1744
+1

[2018-03-21 22:22] gthieme commented on #3290
I believe I'm hitting this same issue, but with a different error message. The error I get is:
Error: SSL Error: UNABLE_TO_VERIFY_LEAF_SIGNATURE

The keychain of the cert for the host I'm hitting uses a custom intermediate issuing ca and a custom root ca. Could that be the cause of the different error message?

[2018-03-22 04:38] dmweyek commented on #2392
+1

[2018-03-22 05:00] harryi3t commented on #3781
@Misiu

We use [postman-runtime](https://github.com/postmanlabs/postman-runtime) internally as the execution engine.
Here you can find the list of all supported auths https://github.com/postmanlabs/postman-runtime/tree/develop/lib/authorizer

[2018-03-22 05:23] nickm8 opened #4367 "Undo list isn't cleared if a different request opens in the same tab"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recent
 2. Expected behavior:
Undo list is cleared after swapping to a new request
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
No Logs for this function

[code]

[2018-03-22 05:42] baszczewski commented on #3749
@SamvelRaja
Excuse me but this is not solution. Idea behind Flatpak is not to provide only easy updates or setup process, but also to separate app from other critical system components (run app in own sandbox).
Repositories are nice, but in my opinion only for open source code / maybe system base. They are a far away from perfect to share closed apps like yours.
Other question is, do you have reso

[2018-03-22 05:55] nickm8 opened #4368 "Runner resets the selected folder after Run"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recent (Since new workplaces update)
 2. Expected behavior:
Runner uses the same test location when using Retry button
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
No

[2018-03-22 06:37] sivcan commented on #4368
Hi @nickm8 - Thanks for reporting. We are aware of this issue and are looking into it.
I'll update this thread once we fix this.

[2018-03-22 07:08] devwlw commented on #1607
+1

[2018-03-22 07:14] Peternomous opened #4369 "I POST a request to a url with postman and the result was; { "message": "The Response content must be a string or object implementing __toString(), \"boolean\" given.", "status_code": 500 }. But I did no see any changes on the url destination using Chrome as my browser"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-03-22 07:40] callmeaatrey commented on #4364
@lunicorn-x64 Thanks for letting us know. We will follow up on this and let you know.

[2018-03-22 08:14] callmeaatrey commented on #4366
@jacobmetrick this is really unwonted. Can you help me understand this better by giving steps on how to reproduce this?

[2018-03-22 08:22] clodio commented on #3566
+1 : i can not use postman without this feature

[2018-03-22 08:24] callmeaatrey commented on #4362
@nicholmikey thanks for letting us know. We'll look into this and let you know.

[2018-03-22 08:29] sivcan commented on #4369
@Peternomous - Can you provide the steps to reproduce this issue ?
Also, I suggest you to kindly update to the [latest version of the app](https://www.getpostman.com/apps) and try it.

Thanks.

[2018-03-22 09:04] ChrisYarland-Price commented on #3574
This is not Fixed we are still encountering this problem.

[2018-03-22 09:18] Qu4tro commented on #4359
@sivcan.
Yes. I was using i3 and I got the same message as @stianlagstad

@rokkie
` wmctrl -m | head -1 `

[2018-03-22 09:21] sivcan commented on #3574
@ChrisYarland-Price - You'll have to export the run from the updated version (6.0.10) and then try importing it.

Let me know if it works for you. :)

[2018-03-22 09:42] sivcan commented on #3574
Sorry for the inconvenience caused because of this bug.

I have fixed your exported test run file.
You can diff check it and fix your old runs if you manually want to.

https://pastebin.com/wjanuurw

[2018-03-22 09:54] JanneP80 commented on #2915
I got Postman v6.0.10 and this still occures. :(

[2018-03-22 10:13] jocafi commented on #3566
+1: All big corporation are waiting for the Postman with proxy authentication. At this moment, I am using the old Postman on the company that uses the proxy in the browser.

[2018-03-22 10:27] mistaecko commented on #4052
The documentation is still confusing. No mention of `pm.variables.set(key, value)` which my guess is what the "local" scope refers to.

[2018-03-22 10:32] hadjsaid-taha commented on #2617
+1

[2018-03-22 11:02] mmans opened #4370 "Dashed selection-square appears when selecting text"
## App Details:
Postman for Windows
Version 6.0.10
win32 10.0.16299 / x64

![postman-bug](https://user-images.githubusercontent.com/201741/37766952-d7ae26a0-2dc8-11e8-9073-96ec62ca8989.png)

[code]

[2018-03-22 11:07] ChrisYarland-Price commented on #3574
I have just tried this this morning from the newest version and it is definitely not working for me.

[2018-03-22 11:14] ChrisYarland-Price commented on #4253
This Happens all the time i try to have a backed up version that i can import at all times as i got sick of having to reorder stuff

[2018-03-22 11:30] dinolupo commented on #3810
Hi,
to use that option I need to configure the proxy in the applications.
While, what I was suggesting, is that the application should automatically configure itself as a "System Proxy" to capture the traffic of all applications automatically (without configuring any proxy). Fiddler has also the ability to select an application (using the mouse) and capture only the traffic from that application.

[2018-03-22 11:32] rokkie commented on #4359
@sivcan I'm using Compiz

[2018-03-22 12:48] sivcan commented on #3574
@ChrisYarland-Price - Can you share the exported test run with us through [mail](mailto:help@getpostman.com)
Feel free to redact any sensitive information by manually editing the file.

Thanks

[2018-03-22 12:57] mgohashi opened #4371 "Auth login window is not ignoring certificate errors after disabling ssl certificate verification"
Postman for Mac
Version 6.0.10
OS X 16.4.0 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
After installing the most recent version of Postman

 2. Expected behaviour:
Show auth login page ignoring certificate errors

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Togg

[2018-03-22 14:24] jacobmetrick commented on #4366
Was able to fix by deleting my AUR directory postman-bin and re-cloning, then reinstalling.

[2018-03-22 14:24] #4366 closed, assigned to sdnts

[2018-03-22 14:59] nicholmikey commented on #4362
Thank you @callmeaatrey , if you need any additional info I am happy to provide it. I have had success in the past with using CSV files with the runner but there is just something unique about the shape of this json request that is breaking it.

[2018-03-22 15:33] vinodpy commented on #4361
Here are things I have tried til now
1. Did clean reinstall of v6.0.10
2. Installed the previous v6.0.9 and I did see the same issue(before upgrading to v6.0.10 I am not sure what was my version )
Appreciate any help on this. I had to switch to Swagger to make my requests for now

[2018-03-22 15:44] ddfreiling commented on #1946
I vote for a smaller preview option or one to entirely hide it, for very large responses. Especially for binary responses.

[2018-03-22 16:48] tomkurt commented on #2030
+100000

[2018-03-22 17:21] murthyteja commented on #1060
Thanks, updating the Language Detection setting under General Tab and Request section, did the trick

[2018-03-22 18:34] sourcecodemage commented on #4006
+1 for this feature!

[2018-03-22 19:11] krishnoid commented on #4006
+1 yes, please.  Postman has been a make-or-spend-forever in a couple instances for me.

[2018-03-22 19:20] JustinLavertu-iQ commented on #1066
It's nearing on 3 years of using Postman and not being able to select multiple requests in the collection and move, drag, drop or delete them. There are no bulk actions I can do. Now you have 'Enterprise' Postman. How am I supposed to organize, move and structure over 500 API tests for one service if I have to do it one at a time? This is not an Enterprise solution manually moving tests one by one

[2018-03-22 19:32] schnable commented on #2701
+1

[2018-03-22 21:32] Simbosan commented on #4360
+1 as described above

[2018-03-22 22:02] LucasSteinwalker commented on #4044
+1 on this request. Unfortunately a lot of API implementations don't use a standard authentication token. I just pulled in a Swagger import of 500+ requests on a new project I'm working on and unfortunately will need to add the authorization header to every request, which is a major pain.

Don't mean to seem ungrateful though. Postman is the best!

[2018-03-23 00:55] Gavin-McFall commented on #2833
This issue happens to me all the time on macOS Sierra 10.12.6

[2018-03-23 01:19] a85 commented on #3010
This should be fixed now with the new workspaces release in 6.0+

[2018-03-23 01:19] #3010 closed, assigned to nobody

[2018-03-23 06:21] ravikiran1988 commented on #2331
hi guys,

any news here? i have been using gitlab, newman, jenkins combination for scheduled builds.
i also have a pro version.

each time i export the collection i have to change the formdata section to include file paths and it's a very tedious process.

I want to move away from this and used postman runners...but this feature holds me up from running my entire collection in the runner.

[2018-03-23 06:58] stefring commented on #4092
I‘v run into the same issue, when Runner not using the .json  file, the result is fine, but with the data file upload, and there is a 401 error, have no idea how could this be ?? check in console, the head and the body is correct,  don't know why would this happen, has this been verified as a defect, and will it be fixed on the following release?

[2018-03-23 08:02] Manish082007 opened #4372 "How to convert below request payload of file upload into postman"
Windows 10 X64,

I am uploading pdf file using postman.

![image](https://user-images.githubusercontent.com/30290047/37817966-8ddc1cc2-2e9e-11e8-95b2-0fcb0cd5fb59.png)

I have tried with below parameter but its not working

![image](https://user-images.githubusercontent.com/30290047/37818032-c929183e-2e9e-11e8-9e3a-4fd0a4714f51.png)

[2018-03-23 08:55] Misiu opened #4373 "pre-request script - request.url contains variable name instead of variable value"
## App Details:

[code]

## Issue Report:
 1. I have environment variable that holds base URL of my endpoint:
![snap 2018-03-23 at 09 44 39](https://user-images.githubusercontent.com/1741838/37819807-0f3ebab0-2e7f-11e8-90ef-26c64554b7c8.png)
 2. I'm using that variable as part of my url:
![snap 2018-03-23 at 09 46 52](https://user-images.githubusercontent.com/1741838/37819891-50171686-2e7f-11e8-91

[2018-03-23 09:01] Kalki5 commented on #3390
+1

[2018-03-23 09:10] splio-baptiste-capart commented on #2392
+1 !

[2018-03-23 09:41] sify21 commented on #3331
The json part of the body should also be set as "File" rather then "Text", and put your json data in a json file for example "a.json".
Just find out that this method doesn't work on windows, but works fine on linux.

**NOTE:** _This is an old workaround which I accidentally found out when postman didn't have this feature, and now it has been officially supported, check out  #1104_

[2018-03-23 09:52] sivcan commented on #4373
Hi @Misiu - The urls are not resolved inside the test scripts.
You've to use pm.environment.get / pm.globals.get to use the values inside the test scripts.
Maybe use string interpolation or concatenation.

There's a similar feature request for variables being resolved inside the test script thus I am closing this one.
This is a similar issue : https://github.com/postmanlabs/postman-app-support/iss

[2018-03-23 09:52] #4373 closed, assigned to nobody

[2018-03-23 10:26] zoul commented on #3390
PLEASE, when you are just adding a +1 comment, do realize you are spamming some twenty people with a useless e-mail. (Just as I am doing now – sorry!) There’s an upvote button on the original post for this precise reason. Use it. ❤️

[2018-03-23 10:28] #4372 closed, assigned to nobody

[2018-03-23 10:33] sivcan commented on #4372
@Manish082007 - If you've found a way to solve it / any resource that you've come across then it'll be awesome if you could share the solution also.

It'll help those who'll be coming in later and are struggling to figure out this problem.

Thanks for contributing!

[2018-03-23 10:45] VictorRos opened #4374 "[Postman 6.0.10] [Debian] Postman is not starting stuck in an infinite loop preparing workspaces"
I encountered this issue after upgrading Postman 5.5 to the latest (6.0.10)

Infinite loop while trying to initialize workspace with the following message:
**"Preparing your workspaces ... This might take a few minutes"**

![postman_preparing_workspaces_infinite_loop](https://user-images.githubusercontent.com/6940422/37825253-7221fed4-2e8f-11e8-987a-c343d63a461e.png)

It's related to #4292.

I cou

[2018-03-23 10:58] harryi3t commented on #4374
@VictorRos
Could you try opening the app from command-line and share the logs here? That would help us debug this and fix the issue.

[code]

Also, you asked

On linux the user data is in `~/.config/postman`. You can move/rename this directory to fix the issue. But before that please share the logs :)

[2018-03-23 11:08] aonurdemir commented on #2452
I need refresh button badly since I am testing with multiple accounts using password grant. When one of them is expired and it is not the last one created, I have to enter username and password again. Considering low TTLs, this is getting frustrating.

[2018-03-23 11:10] germancasares commented on #697
+1

[2018-03-23 11:19] VictorRos commented on #4374
It's working when I try opening the app with **Postman** or **Postman &** in command-line.
Logs:
[code]

But when I do **Postman & exit** to close the terminal after starting Postman then I encounter the infinite loop.

I was searching the user data in `~/.cache`.
Thank you by the way ;)

[2018-03-23 11:46] callmeaatrey commented on #4370
@mmans , so this is an expected behaviour. If you move out of the text-box it selects rows instead of values and that helps in moving them around. I would suggest you should restrict the selection within the text-box. I am closing the issue for now. If you have any other queries regarding this feel free to open it again.

[2018-03-23 11:46] #4370 closed, assigned to callmeaatrey

[2018-03-23 12:32] Mefffiu commented on #3312
+1

[2018-03-23 12:41] Aaargh20318 commented on #4360
Same. As far as I know I never even opted-in to syncing and I can't find where I can disable it.

[2018-03-23 12:57] vladare commented on #2302
+

[2018-03-23 13:14] callmeaatrey commented on #4367
@nickm8 so i was able to reproduce the issue. It seems that the undo stack is not getting reset when you switch between requests. Thanks for bringing this into our attention. We'll look into this and will prioritise this in future releases.

[2018-03-23 13:25] stefanmoro commented on #3274
Plus 1 vote

[2018-03-23 13:43] joelclouddistrict commented on #4360
+1

[2018-03-23 13:56] Misiu commented on #3322
@madebysid any update on this?
I'm using variable in URL, so I must manually replace variable with it value.

[2018-03-23 13:56] Misiu commented on #4373
@sivcan thank for such quick reply.
I've upvoted that issue.

[2018-03-23 14:00] vladah opened #4375 "When selecting a large file for upload postman screen goes black"
## App Details:
Postman for Windows
Version 6.0.10
win32 10.0.10586 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just started using postman. No previous history
 2. Expected behaviour: Selection of the file for upload should be ok.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrom

[2018-03-23 14:10] savage4pro opened #4376 "App Settings override?"
## App Details:
[code]

Is it possible to override some application settings (for example, request timeout, follow redirects, proxy settings, etc.) for different workspaces, environments, collections or specific requests?

Although I do not have TOO many collections, but they are still _slightly_ different and inconvenient each time to switch checkboxes and set limits when changing the current tas

[2018-03-23 14:18] savage4pro commented on #1228
+1 for disabling all and certain cookies ability!

[2018-03-23 14:55] adenix commented on #285
+1

[2018-03-23 14:57] adenix commented on #285
Five years later and this still isn't scheduled for a milestone? @postman-admin why?

[2018-03-23 15:04] Misiu opened #4377 "Request.data is object, how to acces is as string and how to access files in request.data"
I'm creating pre-request script that needs to calculate auth header value.
One of elements that I need is hash of request body.
Problem is that when sending `x-www-form-urlencoded` request.data is an object, but when You look at Fiddler it is send as string:

![snap 2018-03-23 at 15 13 42](https://user-images.githubusercontent.com/1741838/37833895-d6f31614-2eac-11e8-8d0e-669201a7b1ae.png)

As You

[2018-03-23 15:09] Misiu commented on #3781
I think it will be hard to support that type of auth.
Mainly because there isn't any standard way of creating hash.
Each implementation can have different order of parts (nonce, timestamp, userId etc).
The easiest way is pre-request script (I've already created one), but I have trouble making it universal - https://github.com/postmanlabs/postman-app-support/issues/4377, mainly because I can't acce

[2018-03-23 15:22] vladah commented on #4375
The same issue appears in postman on Linux with the same file.

Postman for Linux
Version 6.0.10
linux 4.4.0-87-generic / x64

[2018-03-23 16:15] bisoldi opened #4378 "Error when trying to sync"
For the last week or so, I have been periodically getting sync conflicts.  I'm not working on a team and I don't have any other devices connected to the account, but i kept getting these conflicts though the data was an empty string (i.e. "") on both server and local client.

Additionally, it wasn't looking like the sync was actually succeeding.  So, I logged in via the website and killed all sess

[2018-03-23 16:27] bisoldi commented on #4378
Not sure why, but signing out and then signing back in yet again seemed to work.

[2018-03-23 16:27] #4378 closed, assigned to nobody

[2018-03-23 16:48] dbethel commented on #4360
This is happening every few minutes for me at this point with the same version on my mac. Is crazy that you can't even disable the sync.

[2018-03-23 17:39] Ghazibelaam commented on #3127
I was able finally to fix my issue give it a try. In the stand alone version in top right corner, there like a little satellite icon click on on, put 8080 and connect. After that my requests were working

[2018-03-23 17:39] Ghazibelaam commented on #3127
![image](https://user-images.githubusercontent.com/17499311/37844947-41629634-2e97-11e8-8bef-d2c744ac86de.png)

[2018-03-23 17:40] Ghazibelaam commented on #3127
![image](https://user-images.githubusercontent.com/17499311/37844987-572eee0e-2e97-11e8-8d3a-b67e68b3f0ec.png)

[2018-03-23 17:47] harryi3t commented on #4371
duplicate of https://github.com/postmanlabs/postman-app-support/issues/2918

[2018-03-23 17:47] #4371 closed, assigned to harryi3t

[2018-03-23 17:48] #4374 closed, assigned to harryi3t

[2018-03-23 17:59] anreddy018 commented on #3127
Thanks for reply. I clicked satellite icon on top coroner. There is no option to configure 8080 port? Please advise me steps.

From: Ghazibelaam [mailto:notifications@github.com]
Sent: March-23-18 1:40 PM
To: postmanlabs/postman-app-support
Cc: Reddy, An; Comment
Subject: Re: [postmanlabs/postman-app-support] "Could not get any response" on all my api calls (#3127)

I was able finally to fix my is

[2018-03-23 18:04] sivcan commented on #4373
@Misiu - Cool

[2018-03-23 19:41] benoitcerrina commented on #3793
For the same reason mentioned above I have not been able to use the native app.  The app I am working on requires an authenticated session and I can test webservice calls easily with the chrome app, I haven't found how to do it with the native app

[2018-03-23 21:01] RoChess opened #4379 "Node.JS security update"
## App Details:
[code]

Existing node.dll = v7.4.0
Available: v7.10.1 or v8.10.0

Multiple CVE registered security issues have been resolved.

[2018-03-23 21:10] nicholmikey commented on #4362
I'm embarrassed to report it was an issue in our pre-request script. Our script tries to swap in environment variables and when a variable was not found it would hang postman. I'm closing this ticket.

[2018-03-23 21:10] #4362 closed, assigned to sivcan, callmeaatrey

[2018-03-24 01:47] avoitishin commented on #3897
Any progress with this? As OP mentioned, silently dumping, for lack of a better word, an app files into users profile is at least unprofessional.

[2018-03-24 03:53] ghost commented on #4321
This is still present in 6.0.10

I have now seen the behaviour occur in the sync process as follows.

1. I opened Postman 6.0.10 on laptop A whilst connected to my Postman account
2. I hand sorted the collection according to alphabetic order of the request names
3. I opened Postman 6.0.9 on laptop B whilst connected to my Postman account
4. Postman performed an upgrade to 6.0.10
5. I noted that th

[2018-03-24 05:51] brandon-clair commented on #3405
I'm using the Postman for Linux x64 Native App, now. The problem doesn't exist there.

[2018-03-24 10:21] AlbertoP64 commented on #3205
⁣Many thanks Postman team for progressing and finally processing this issue, I'll be back when I test the new feature to give a feedback, eventually!! :-) love your work guys :hugs:

Inviato da TypeApp ​

Il giorno 11:29 01/mar/2018, alle ore 11:29, Ciki <notifications@github.com> ha scritto:

[2018-03-24 10:48] dehart commented on #1710
Since the first request was made back on 11 Dec 2012 . Should we still wait for this to happen?
I wonder why it isn't a priority to make Postman a great tool for DAV developers..  😞

[2018-03-24 19:49] jitendra-1217 commented on #4142
Please have this. 🙏

[2018-03-25 05:02] kasvith commented on #2452
@aonurdemir we can use also pre request on your requests and set environment variable like this on every request you want.

You also can apply pre request to a Folder also

![image](https://user-images.githubusercontent.com/13379595/37871906-b980120a-3017-11e8-9ae9-cf7a087797d4.png)

[2018-03-25 09:29] vimception commented on #2621
@rolfmadsen Paw (paw.cloud) solves this by introducing a 3th level 'Groups', so the hierarchy becomes 'Group' > 'Environment' > 'Variables'. It has nothing to do with having 'large amounts of data' @madebysid, it is a very basic use case. Suppose I have an API which issues OAuth tokens. I would like to independently select the server (development, testing, QA...), the user (admin, testuser1...) an

[2018-03-25 09:35] jnfsmile commented on #1535
+1

[2018-03-25 11:40] Jasonseah opened #4380 "[BUG] Value return undefined"
## App Details:

[code]

## Issue Report:

Hi guys I encounter a very weird bug this afternoon
![image](https://user-images.githubusercontent.com/7570733/37874499-d47f76a4-3062-11e8-9dd1-61d8dbfc8e30.png)

The screenshoot above I have 2 set of fields but the 1st set return value as undefined

![image](https://user-images.githubusercontent.com/7570733/37874508-06d5f3ee-3063-11e8-84d2-644b587e1525.p

[2018-03-25 12:41] LeslieMurphy commented on #4230
This happened to me, too.  Postman was no longer working at all for me.  It came up with a white (empty screen), then after a long while loaded my folders of requests, then showed a black screen of "death".  I have a few POST reqests with Json payload that is Base64 of  large files.  Spelunking into the DevTools (Shared), I see a Console message "Migration bailed out due to: EXCEEDED_ATTEMPT".
(an

[2018-03-25 15:51] pepkin88 commented on #2238
Yes. There is a simple solution to this problem, which doesn't require creating a completely new layout. Lowering the results pane's height is enough for the outer scrollbar to disappear. I suggest to just stretch it until the edge of a window, but not beyond it.

[2018-03-25 15:52] pepkin88 commented on #2238
What? I didn't unassign anyone. What's going on?

[2018-03-25 16:22] pepkin88 commented on #2238
@SamvelRaja Your screenshot shows nicely the issues with the two-panel view:
![unused space issue](https://i.paste.pics/d5c22c7d917965a1cf03b555197d8d3f.png)

I admit, for some requests this view might be better, e.g. for requests with big payloads.
But for GETs with long, parameterized URLs and no payload, the single panel view seems to be better.

So it would be nice to have an option to wrap/tr

[2018-03-25 17:25] LeslieMurphy opened #4381 "Postman.exe crashing on regular basis - KernelBase.dll - 0xE0000008"
## App Details:

[code]

## Issue Report:
 1. Postman has become totally unreliable / unusable for me.  It sometimes gives black screen.  I thought I had fixed that by removing large JSON request payload (Base64 encoded), but it still gives me black screen. Crashes, often after I copy a request, then try to edit the name of the request
 2. App should be reliable.   If there is an error it should c

[2018-03-25 17:29] LeslieMurphy commented on #4128
Postman has now become 100% unusable / unreliable for me.  I have nVidia K1200 and 3 monitors.

[2018-03-25 18:35] prashantagarwal commented on #4267
@psylence303 Thanks for reporting this. Just curious, how were you able to add a line break. Pressing Enter in the URL should send the request.

[2018-03-25 18:39] donbarthel commented on #3960
+1

I'm running Postman-linux-x64-6.0.10.tar.gz (v1.6.16).

Running a separate request from the GUI doesn't show the pm.test() name, just the Chai assertion failure.

Test Results tab: "There was an error in evaluating the test script:  AssertionError: expected true to be false"

Postman Console: "AssertionError | expected true to be false"

[2018-03-25 18:42] #4224 closed, assigned to nobody

[2018-03-25 18:48] prashantagarwal commented on #4178
@Kisong75 Can you update to the latest Postman App. Let me know if issue still persists.

[2018-03-25 18:48] #4178 closed, assigned to nobody

[2018-03-26 07:39] pombuppa commented on #1885
Yet no support with such a simple feature so far.

I am considering use Postman as our testing tool but have to reconsider when even this basic feature is not available.

[2018-03-26 07:51] OsamaNabih opened #4382 "Postman not launching"
I had installed Postman previously and used it once. When I tried opening it again today, it didn't launch. I tried several times (tried running as admin too), but nothing happened. It existed in my system tasks but looked idle
![pm](https://user-images.githubusercontent.com/22377258/37893368-112e505c-30db-11e8-9f0e-502b46408649.jpg)
I uninstalled it and went over to the website and downloaded it

[2018-03-26 08:00] SamvelRaja commented on #4382
@OsamaNabih  can you try opening the app using `cmd`?
You can open it from `C:\\Users\<USERNAME>\AppData\Local\app-6.0.10\Postman.exe` and send us the logs from the cmd window.
If still fails, kindly backup, `C:\\Users\<USERNAME>\AppData\Roaming\Postman` and delete the old one.[This will delete all postman data if it is existed before]

[2018-03-26 08:17] OsamaNabih commented on #4382
![pm2](https://user-images.githubusercontent.com/22377258/37894554-dfccb04a-30de-11e8-9bac-e81e62c663a1.jpg)
Am I doing this properly? This is all I get.

I deleted the Roaming/Postman folder and re-launched, same thing.

[2018-03-26 09:25] hungdao-pyco opened #4383 "The subsequent running requests always get the input value of the prior request, which causes test case failed."
## App Details:

[code]

## Issue Report:
 1. This bug is frequently happened.
 2. Expected behaviour:
- The subsequent requests should not get the value of prior request to run.
 3. Console logs:

 **Precondition:**
- There are 2 GET requests having the same endpoint, but different input data.
- Explanation: the GET request "CheckEmailExisted" is used to check the input email existed on the syste

[2018-03-26 09:34] SamvelRaja commented on #4382
@OsamaNabih  this is odd. can you provide your OS and system information?

[2018-03-26 09:54] zoso200 commented on #4360
Also getting this on Windows v6.0.10 and seeing the Syncing icon stay blue perpetually as noted by GrantCodesCodes

[2018-03-26 09:54] psylence303 commented on #4267
@prashantagarwal it was not in the URL bar but was a part of the environment variable (it is fairly easy to add it there by pressing 'Enter' or copy/pasting from somewhere else).

[2018-03-26 10:08] numediaweb commented on #3504
I have [the latest](https://prnt.sc/iwgw70) Postman version 6.0.10 for Mac 10.13.3 and starting from last week or so I continuously have this syncing issue.
The Syncing[ button is always blue](https://prnt.sc/iwgw38) and the sync conflict pops up every 10 minutes or so: kind of frustrating.
Also in the settings I cannot click on the Re-sync button as it is [grayed out](https://prnt.sc/iwgwam).

[2018-03-26 10:36] kamalaknn commented on #3504
Hi @numediaweb

If you can provide us more data to reproduce it will be helpful. Could you export the logs for the sync process when you face the issue?

You can `View -> Developer -> Show DevTools (Shared)` and `Right Click -> Save as...`. Please send the log file to `help[at]getpostman.com` from your registered email id. This might contain sensitive data, please send them through email.

Thanks.

[2018-03-26 11:28] OsamaNabih commented on #4382
Windows 10
![pm3](https://user-images.githubusercontent.com/22377258/37903788-82311758-30f9-11e8-8c69-81950efccc67.jpg)
I'm working with the chrome extension for now, since the app one isn't working for me.

[2018-03-26 12:20] scheepers commented on #3231
Having the same issue... sometimes it just randomly reorders requests in a collection.
At first I thought it happens when using special characters in the collection title (?*+) but it happens even after renaming and removing the characters.

Not sure what exactly triggers it: most times tests run in order and then something happens and they reorder. Closing and reopening the app then displays this

[2018-03-26 12:57] numediaweb commented on #3504
Hi @kamalaknn

Somehow the sync is working again: I didn't do anything special (maybe I have chosen to use server settings instead of client).
Now the Blue sync icon turns to orange IN SYNC.
Strange though: I have sent the log file.

Thanks

[2018-03-26 13:10] SamvelRaja commented on #4382
@OsamaNabih  can you open the `cmd` as admin and then open the app via that?
Also make sure no Postman process is running in your task manager before opening the app.

[2018-03-26 13:14] edwardgalligan commented on #3819
Can I ask if there's any intent to fix this bug? Not looking for a timeline or intending to pressure development, but simply a brief update of intent would be helpful.

According to @madebysid's description of the issue, it seems there is some logic that artificially cripples the app if it doesn't phone home every 15 days. This means that users must anticipate every instance of working without int

[2018-03-26 14:01] seunzone commented on #4351
Fixed, thanks. So sorry for the late response

[2018-03-26 14:02] #4351 closed, assigned to SamvelRaja

[2018-03-26 14:08] akavato opened #4384 "Base64 wrong data with cyrillic chars"
## App Details:

[code]

## Issue Report:
 1. Constant problem
 2. Basic auth encodes wrong data, if login contains cyrillic chars

[2018-03-26 14:48] loretoparisi opened #4385 "Post Binary Image Encoding Error"
Hi,
I'm using the `binary` option to post an image from my local disk. I'm trying to emulate the same as

[code]

For some reason (I guess encoding) the request fails, since the server does not get right image encoding (or size?).

By defaults when using this option I have a `application/x-www-form-urlencoded` as `Content-Type` header.

Other attempts:

- Using the `form-data` option and setting a

[2018-03-26 16:02] Manish082007 commented on #4372
I found the solution

Look in request payload always key is "name" variable so which is "0", so there are 2 keys with 0 value, one contains the file which application/pdf & another key is json data. so if you have multiple document upload next 2 key names are "1". describe this solution in below screen shot.

![image](https://user-images.githubusercontent.com/30290047/37917734-d5e4c91a-313c-11e8-8

[2018-03-26 17:17] bsmurrell opened #4386 "Cannot connect to localhost"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:  Started on Thu (even with latest 6.0.10 version)
 2. Expected behaviour:  Should be able to connect to localhost (127.0.0.1)
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac ap

[2018-03-26 18:51] loosleef commented on #3968
x-www-form-urlencoded request also seems to be broken on windows native client 6.0.10.   'Broken' meaning the request body is not sent (that is, a blank body) in the HTTP call if you watch through a proxy/Fiddler.

A workaround is to switch request body to `raw` and set the Content-Type header through the Headers tab.

[2018-03-26 20:15] sujitkn opened #4387 "Postman native app collection lost after update version"
I have been using postman since long time and did lot of experiments before buy the lincene and quite happy with so far, few days back I started using native app by importing all collection from existing chrom extension and keep on add and modify to the script in native app but unfortunately all modified script are not sync. Over the weekend my native app got upgrade and I lost all my collection.

[2018-03-26 20:25] Simbosan commented on #4360
Still happening.  I was going to try logging out and back in but the scary warning about deleting all my work put me off

[2018-03-26 20:45] mr-newell opened #4388 "Deleting a request in the sidebar keeps the tab and changes its state to "unsaved""
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
**Started after upgrading to 6.0.10; not sure what my previous version was but it was within the last few.**
 2. Expected behaviour:
**Deleting a request in the sidebar removes the tab as well. Delete means delete.**

Deleting a request from the sidebar should remove the tab containing

[2018-03-26 20:52] Simbosan commented on #4360
Uninstalling and re-installing didn't fix.  Here's how I got it working (version 6.0.10) .

1) Settings Menu.
2) Select Data tab
3) Export Data.  This dumps ALL settings into JSON
4) Log out and let it delete all data
5) Log in again.  It will sync old data from the last time you successfully sync'd
5) Then via the Settings > Data tab, Import data.   You will have the option to replace collections

[2018-03-26 21:42] tzusman commented on #2799
Please please do something about this.  I am constantly being prompted with an update alert about a bug fix that I'm not running into, or a feature that I don't need.  It would be nice if I could ignore all updates except for major versions (like a couple times a year type of upgrades).

[2018-03-26 23:35] aligorji commented on #1947
+1

[2018-03-26 23:53] Mihai1706 opened #4389 "Mac native app stuck with unknown code"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Has happened twice in the last two months
 2. Expected behaviour: Sending an HTTP request uses body and header specified in request by user.

Use mac native app normally changing between different request collections.
All of a sudden using a well known request (that is known to run suc

[2018-03-26 23:59] Mihai1706 commented on #1228
Still no news on this? I have been religiously clearing cookies manually, but recently had to get other developers (including 3rd party) on board. Had to explain them one by one whey they needed to manually clear cookies as they do their requests.

They were all in awe when they heard about why they need to do this and all of them told me "oh but there must be some way to disable them in Postman".

[2018-03-27 00:19] anshul07 commented on #2392
+1

[2018-03-27 00:31] alankchan commented on #3019
This is the best feature to put in for enterprise adoption.

[2018-03-27 01:50] Kisong75 commented on #4178
Current version is v6.0.10 and this bug is still happening.

[2018-03-27 04:19] Granitosaurus commented on #1228
Yup, it's still unbelievable that this feature is not present - it's one of the core basic functionalities.

Also it's so misleading and implicit. I'm sure I'm not the only one who spent hours debugging requests where I explicitly set cookies in headers tab just for them to be ignored and replaced by cached cookies that can only be found in a tiny "Cookies" hyperlink that contain cookies for every

[2018-03-27 04:48] AbdelrahmanHafez commented on #4120
Things have been working fine for me ever since v6, but then again, my team has stopped working with me on the collection.

[2018-03-27 04:55] sivcan commented on #3574
@ChrisYarland-Price - I saw that the export is still having a bug.
Though I have been unable to reproduce it on the latest 6.0.10 version of the app.
But since you're definite that you've exported it using the latest app so I'll dig more into this.
I will update this thread once a fixed patch is released.

Reopening this until a fix is released and confirmed that the bug no longer exists.

[2018-03-27 05:36] bgaillard commented on #2331
Hi, we also encounter problems with this.

For now we've commented all the tests which fail because of file upload problems in our development machines, for example using the URL of our API on localhost.

[code]

Then in our Jenkins Continuous Build we dynamically update the path to the paths to make the tests pass.

We use something like that in our Jenkins build (assuming we use Newmane and `fil

[2018-03-27 07:25] andersoyvind opened #4390 "Navigation bar goes missing"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I started using Postman recently, experienced it three times in a week.
 2. Expected behaviour
The bar    Authorization | Headers | Body | Pre-request Script | Tests
should be available all the time.
3. Actual behaviour
The bar mentioned in 2 go missing, and I don't find a way to get i

[2018-03-27 07:27] savage4pro commented on #1228
@Granitosaurus
Not applicable solution if you want to use runner.

As mentioned earlier there is workaround - "overriding" Cookie header.
BUT adding this header not really overrides to-send cookies - empty values you've added just concatenates with stored cookies and they are sending to server together (explicit keys first).

Of course, only server-side front/backend application decides what to do

[2018-03-27 07:40] aldaris commented on #1228
I've been recently told that the insomnia rest client allows control over cookies, but their user interface takes a while to get used to. Would be great if postman could implement a basic feature requested ~3 years ago.

[2018-03-27 08:27] naikparag commented on #2392
+1

[2018-03-27 08:34] kubalunacek commented on #2476
+1

[2018-03-27 08:45] thecodemill commented on #2476
FYI, I only found out yesterday that [macOS routes requests to .local domains via Multicast DNS (Bonjour)](https://support.apple.com/en-gb/HT201275) rather than standard DNS. I think Windows has a similar policy in place. It is possible to enable standard DNS lookups, but I found this was the case of my 5000ms delays, not Postman. The upgrade to desktop version just happened to coincide with me ex

[2018-03-27 08:53] vdespa commented on #4052
@mistaecko of course it is still confusing 😕

[2018-03-27 10:03] lemex92 commented on #3274
Plus 1 vote

[2018-03-27 10:47] kristian commented on #1228
+1

[2018-03-27 10:51] shrikanth2002 commented on #1429
This will be a more useful feature to replace the URL's...,
Looking for the update.. Any info?

[2018-03-27 11:05] Misiu commented on #1050
@abhijitkane  any news on this?
This is old feature request, but it is still valid and important (I think that not only to me).
I need to access full raw request body to calculate hash (https://stackoverflow.com/questions/49509612/postman-access-full-request-body-to-calculate-hash-in-pre-request-script)

maybe You could add some additional details to request object (that is available in pre-reques

[2018-03-27 11:40] dominicusmento opened #4391 "Authorization (get new access token) helper - can't set resource field, Azure AD returns the wrong token audience"
## App Details:

[code]

## Issue Report:
 1. bug has always been there
 2. Expected behavior: availability to set the optional resource field in authorization helper -> oauth2 -> client credentials form, currently the field is not available
 3. Console logs: no console log needed, actually everything works as expected, only the auth endpoint gives the token with wrong audience because we can't de

[2018-03-27 11:48] Misiu commented on #1050
@abhijitkane I found this:  https://github.com/postmanlabs/postman-request/blob/master/lib/oauth.js#L64
It looks like postman-request can calculate hash from body.
Can this hash be available globally inside request object? or allow us to access request body inside pre-request scripts.

Right now I can't create requests that upload small files, because I can't calculate hash from body 😕

[2018-03-27 12:59] ramnes opened #4392 "Support reStructuredText as a documentation markup language"
That would be an awesome feature to use with [flask2postman](https://github.com/numberly/flask2postman), since it exports endpoints "docstrings", which most Python developers write in rST.

[2018-03-27 13:05] Kars-de-Jong commented on #2476
FYI, same goes for me. In my case it was a NetBIOS name lookup. If an IP number is used instead, it's fast (even faster than the Chrome app).

[2018-03-27 15:30] jamie--stewart commented on #3232
Hi, I'm also seeing this issue when trying to PUT a Swagger schema into an existing API Gateway:

PUT `https://apigateway.eu-west-1.amazonaws.com/restapis/<API_ID>?basepath=prepend&mode=merge`

The Swagger document is JSON in the body of the request.

Any word on a workaround for this?

[2018-03-27 17:05] anishtimila commented on #4301
I have same issue in Postman v6.0.10. Any update on the fixes @thecuriousdev

[2018-03-27 18:32] vmans commented on #4382
I have the exact same issue here. Difference: it never opened, not the first time either.

"The more software you use the more time you lose" so I leave it by that.

[2018-03-27 18:33] Max-Riley commented on #1104
+1

[2018-03-27 19:19] MMasterson commented on #1947
+1

[2018-03-27 19:41] mr-newell opened #4393 "Requests occasionally reorder within a folder when duplicating a request"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
**New as of 6.0.10**
 2. Expected behaviour:
**Requests never reorder themselves**

Unfortunately, I haven't found a way to reliably reproduce the issue, but it's happened to me twice today. Both times, my folder looked like this:
- POST
- DELETE
- POST
- DELETE

After duplicating the

[2018-03-27 19:48] kamalaknn commented on #4393
@mr-newell We had some issues that could lead to request order getting changed after restarting the app. We've pushed the fix to our Sync servers.

Could you log out and log in once and check if you continue to face the issue?

[2018-03-27 19:53] kamalaknn commented on #1050
Hi @Misiu

We have exposed the request body in pre-request script through `pm.request.body`. This is an instance of `http://www.postmanlabs.com/postman-collection/RequestBody.html`.

You can consume this to read the request body. However we do not support mutating the body from script yet.

The `pm.*` API is only supported in the Native apps. Here's the complete documentation - https://www.getpost

[2018-03-27 19:53] #1050 closed, assigned to shamasis

[2018-03-27 19:58] kamalaknn commented on #3231
Hey @scheepers

We had some issues where requests and folders where reordered after restarting the app. We've identified the issue and have fixed it on our Sync servers.

If you have collections that are in the wrong order in your app now I suggest you log out and log in once.

This should not happen again.

[2018-03-27 20:03] kenshin6x commented on #2931
+1 on snap or even deb/rpm package

[2018-03-27 20:20] mr-newell commented on #4393
I've done what you requested; I'll close this by the end of the week if I notice it has stopped.

[2018-03-27 23:02] license2e opened #4394 "[FEATURE] Add node REPL to the tab in the Response > Body area with the data as a variable"
In Response > Body, there are the following tabs: Pretty, Raw, Preview

This feature request calls for another tab to be added: REPL which preloads the response from the api, or just the api call itself so that the response can be interactive.

## App Details:
[code]

[2018-03-28 02:10] chasen-bettinger commented on #3127
@MAPESO

I tried using your suggestion, but it didn't work for me.

Here is my code:

[code]

I keep getting

Any suggestions?

[2018-03-28 06:16] sivcan commented on #4265
Hi @kamalakannanr - The Chrome application has been deprecated.
Kindly download the [latest Postman native application](https://www.getpostman.com/apps) and test out this issue.
If it persists in the native app also, let us know and we'll reopen it and look into it further.

Closing this.

[2018-03-28 06:16] #4265 closed, assigned to nobody

[2018-03-28 06:31] sivcan commented on #4376
Hi @savage4pro - There are no settings override as of now in the app for different workspace.
However, I'll mark this as a feature request.

[2018-03-28 06:42] Misiu commented on #1050
@kamalaknn awesome news :)
I'll modify my pre-request script and hopefully everything will work fine.

[2018-03-28 07:06] sivcan commented on #4375
Hi @vladah - Thanks for reporting this. We'll look into this further and get back to you.

[2018-03-28 07:21] sivcan commented on #4377
This repository is being maintained only for feature requests and bug reports.
Kindly post your query on the [Postman Community](http://community.getpostman.com/)

Posting this will not only engage more people in solving your problem but will also help more people who're looking for a similar solution.

Thanks for contributing!

[2018-03-28 07:21] #4377 closed, assigned to nobody

[2018-03-28 07:23] Misiu commented on #1050
@kamalaknn sadly this isn't working as needed. I need to calculate hash from whole RAW request body.
Please take a look at: https://github.com/postmanlabs/postman-app-support/issues/4377

When I inspect `pm.request.body` for `form-data` request I get JSON tree.

![snap 2018-03-28 at 09 19 12](https://user-images.githubusercontent.com/1741838/38014516-5556d53a-3269-11e8-9ae3-1441e955c42a.png)

I ne

[2018-03-28 07:24] ghost commented on #4321
**Results of further experimentation**

Given two instances of Postman one on laptop A and one on laptop B, I was able to unscramble a collection by signing out and then signing back in again as follows.

1. Observe that collection is scrambled on laptop A and laptop B
2. Sign out on laptop B
3. Sign back in on laptop B
4. Observe that collection is no longer scrambled on laptop B
5. Force a sync

[2018-03-28 07:36] kamalaknn commented on #1050
We don't give access to the contents of the files in `pre-request` scripts, for a few reasons.

1. We want to delay loading file contents to right before the request is sent.
2. The request body is not actually resolved until the `pre request` scripts are completed. So even if we wanted to we can't give the actual body of the request in `pre-request` scripts.

You can post your requirements in the

[2018-03-28 07:40] Nuwangik opened #4395 "How do I send request as a prerequesits for particular request in postmen"
I want send request as a prerequesits for perticular request. Eg:- Lets say I want to test Post Login end point. In order to do that I need to register user which did from different API call.. So for one request how can I script? How do I do this?

[2018-03-28 07:45] sivcan commented on #4395
Hi @Nuwangik - This repository is being maintained only for feature requests and bug reports.
Kindly post your query on the [Postman Community](http://community.getpostman.com/)

Posting this will not only engage more people in solving your problem but will also help more people who're looking for a similar solution.

Thanks for contributing!

[2018-03-28 07:45] #4395 closed, assigned to nobody

[2018-03-28 07:46] Misiu commented on #1050
@kamalaknn I'm in the middle of posting my question in Postman Community.
Currently I've build app in C# to test that endpoint security, but ideally I'd like to avoid creating that app and move everything to Postman.

Custom authentication methods would be awesome. When You implement them please remember that some of them (HMAC) need to calculate hash of full request body, even when You send files

[2018-03-28 08:13] ChrisYarland-Price commented on #3574
Thanks

[2018-03-28 08:16] jonikl commented on #1947
+1

[2018-03-28 08:32] davobutt commented on #622
+1

[2018-03-28 08:34] scheepers commented on #3231
Thanks so much!

On Tue, Mar 27, 2018 at 9:58 PM Kamalakannan <notifications@github.com>
wrote:

[2018-03-28 08:52] sivcan commented on #4335
Hi @Umkus - Thanks for reporting this. We'll look into it and get back to you.

[2018-03-28 08:58] sivcan commented on #4327
Hi @purefan Thanks for reporting this. We'll look into it and get back to you.

[2018-03-28 09:06] Nuwangik commented on #4395
Thanks  @sivcan . I'll address this on Postmen Community.

[2018-03-28 09:06] sivcan commented on #4308
Hi @BenCao2018 - As I can see in the console logs that there was a fatal error when sending the request.
Can you expand that error and share the image here ?
Feel free to blur out any sensitive information.

Also, how much is the size of the JSON data ?
So that we can try to reproduce this on our end.

[2018-03-28 09:31] sivcan commented on #4159
Hi @bartdkmediahuis - I suggest you to kindly update to the [latest version of the app](https://www.getpostman.com/apps) and check the same.

 Let us know if the issue still persists for you, I'll reopen this ticket and we'll investigate further into this.

[2018-03-28 09:31] #4159 closed, assigned to nobody

[2018-03-28 09:44] sivcan commented on #4155
Hi @pawelalikowski - Kindly provide the steps to reproduce this issue and also I suggest you to update to the latest version of the app i.e. (6.0.10 as of writing this comment) and let us know if this issue persists for you and we'll reopen this ticket.

Closing this.

[2018-03-28 09:44] #4155 closed, assigned to nobody

[2018-03-28 09:51] sivcan commented on #4144
Hi @govindrai - Thanks for citing the use case and for the suggestion.
I'll mark this as a feature request.

[2018-03-28 10:12] kamalaknn commented on #3614
Hey @kbuzby @YellowFish085

We've pushed some major improvements in Postman 6.0. This should not happen in the latest version of Postman.

I'm closing this issue. Please do report to us if the issue still exists in Postman 6.0.

[2018-03-28 10:12] #3614 closed, assigned to SamvelRaja

[2018-03-28 10:22] sivcan commented on #4154
Hi @fabianerni @JamesMGreene this feature is already there in postman.
Press 'Cmd + B' (Mac) and 'Ctrl + B' (Windows) and it'll auto-indent JSON for you.
![indent](https://user-images.githubusercontent.com/12631777/38023385-c8cf7446-329f-11e8-87da-cc1a4f6890f5.gif)

[2018-03-28 10:22] #4154 closed, assigned to nobody

[2018-03-28 10:35] fabianerni commented on #4154
Ctrl+B only works in the Pre-req. and Test tabs, but not in the Body tab

[2018-03-28 10:57] sivcan commented on #4154
@fabianerni Are you on the latest version of the native app v6.0.10 (as of writing this comment) ?
![autoindent](https://user-images.githubusercontent.com/12631777/38025072-aa115fec-32a4-11e8-939f-d00b43e2ae7e.gif)

Auto-Indent In the Body^

[2018-03-28 11:03] sivcan commented on #4395
@Nuwangik Postman* 😅

[2018-03-28 11:48] deksden commented on #285
@adenix : see this comment by @a85 for current status: https://github.com/postmanlabs/postman-app-support/issues/285#issuecomment-367538602 (WIP to be short)

[2018-03-28 11:56] JessePelton opened #4396 "Need a way to determine request authorization type in collection pre-request script"
## App Details:
[code]

## Issue Report:
 I’m writing tests for a service that uses either Bearer or Basic authorization but requires slightly different request URLs for the two authorization types. I want to be able to specify authorization at the collection level (except as noted in the next paragraph) and have the requests adjust themselves to match the requirements of the selected authorizatio

[2018-03-28 12:31] sujayvenaik commented on #4388
@mr-newell
When you delete the request from the sidebar in version 6.0.10, the request gets deleted.
But if the request is open in one of the tabs, then it reaches the unsaved state.
If it isn't open in one of the tabs, it will simply get deleted.

[2018-03-28 13:14] fynnlyte commented on #3691
[code]
cmd + c works for pretty and raw; right-click + copy works for raw but not for pretty.

[2018-03-28 14:29] mr-newell commented on #4388
What part of having to confirm my deletion through a popup suggests that I don't actually want to delete the request but instead want to have all the deleted requests pile up in the tab bar? If I have other unsaved requests, this means I now have to guess whether I'm discarding real changes or that-request-I-deleted-but-didn't-really, unless I check the sidebar.

Maybe it would be a good idea to i

[2018-03-28 17:13] ahmad-511 opened #4397 "POST Request not sent if there is key named "constructor" in form-data"
## App Details:
[code]

## Issue Report:
1. I just noticed this today
2. I must be able to send POST request that has a form-data key named "constructor"
3. Nothing in the console is logged

Steps to reproduce the problem
1. Create a new POST request using whatever URL
2. Select form-data option
3. Add a new body key/value and set key name as "constructor" without quotes and assign any value to it

[2018-03-28 17:51] AntoniusGolly commented on #1678
Where to put?

var body = JSON.parse(responseBody);
tests["Posts length is " + body.posts && body.posts.length] = true;

Can I execute custom operations on the returned json? E.g. I only want to display the id's of objects that are returned in an JSON array.

[
{ id : 2,
 ..... tons of information
},
{id: 3,
---- tons of information
}
]

I can write a mapper myself, just wanted to ask if there's a

[2018-03-28 19:04] dbkaynor opened #4398 "Reopen Variables not always being decoded in code view. #4176"
The above issue was closed as fixed but it is not.
My current version is
Postman for Windows
Version 6.0.10
win32 10.0.16299 / x64

If I define variables at the collection level they are not substituted in the code snippet view. After is issue was incorrectly closed I added notes and images to the original issue.

[2018-03-28 19:44] mattdeluco commented on #4368
I've noticed that the pre-request script for the request in the folder I've selected doesn't run when I use "retry" in the runner - would this be related?

[2018-03-28 19:59] SchizoAA opened #4399 "Saved requests (in collection) not loading response but unsaved requests do"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Saved and unsaved requests/tests should run in the same amount of time and display response information and body correctly in Postman UI.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chr

[2018-03-28 20:06] turkoz commented on #1607
+1

[2018-03-29 01:06] occasl commented on #3555
This would be great to have and we're using Okta too. Any movement on this feature?

[2018-03-29 02:19] tristan957 commented on #2931
Why can't people just give an upvote to a comment instead of the +1 bs? I just want to read the actual discussion. If you have nothing to say, don't comment.

[2018-03-29 03:39] kylewill0725 commented on #4323
I seem to be having the same error as well on Windows 10. I have reinstalled v6.0.10 and it still won't connect.

    at SyncRemoteFetcherService._dispatchCallback (requester.js:75398:26)
    at EventEmitter.108.EventEmitter.emit (common.js:17099:17)
    at _dispatch (common.js:24502:14)
    at EventEmitter.<anonymous> (common.js:24512:9)
    at emitTwo (events.js:106:13)
    at EventEmitter.emit

[2018-03-29 03:59] sagarsidana opened #4400 "I am using Postman to monitor a collection but each time, I am getting this error in the Console Error: getaddrinfo ENOTFOUND"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-03-29 04:00] sagarsidana commented on #4400
I am using Postman to monitor a collection and each time the monitor runs and throws an error message in the console: Error: getaddrinfo ENOTFOUND

[2018-03-29 04:34] IrynaRus commented on #4360
I have the same issue.
Unfortunately, I haven't read the last comment earlier, so I tried to log out and in again and lost several days of my work as it appeared not to be synced. So, don't do that.
Now, when I logged in it says "Connecting", but actually can't connect to get what's on the server.
![2018-03-29_14-59-02](https://user-images.githubusercontent.com/37125239/38070190-63fbc1ec-3366-11e8

[2018-03-29 04:35] Garcia107 opened #4401 "Postman is not syncing"
username: juankgarcia1007

Hi there,

I just bought a new computer so I download the latest postman version available, but for some reason is not syncing my collections :(
Don't know what to do.

Please help.

[2018-03-29 04:54] ansharfirman commented on #4401
Me and my friends cannot sync collections, since I update postman application. it's always show connecting, and my Internet is worked perfectly. just cannot sync postman collections on my account

[2018-03-29 04:58] alxtr1bal commented on #4401
Same Here...

[2018-03-29 05:05] FlanderJam commented on #4249
@sivcan Is this an appropriate place to bring this up? I looked elsewhere and this ticket was the closest to the issue I'm encountering. Is there a way we can re-open this issue or clone it?

I am encountering this issue on Windows as well and have not been able to resolve. Occasionally sync will occur but has always returned to failing.

App Details
=======
[code]
Issue Details
========
* I only

[2018-03-29 05:16] sudo-suhas commented on #4401
Developer console shows socket related error - `Error: Could not fetch from sync. Socket not connected`.

Detailed log: [postman-sync-err.log](https://github.com/postmanlabs/postman-app-support/files/1858680/postman-sync-err.log)

Edit: I have no proxy configured in my system. Sync was working correctly before I updated to the latest version.

[2018-03-29 05:32] CN-Zed commented on #4401
same

[2018-03-29 05:34] alxtr1bal commented on #4401
And re-sync button is greyed out in settings.

[2018-03-29 05:34] IrynaRus commented on #4401
I think it's related to #4360

[2018-03-29 06:08] foxted commented on #4401
Same issue here. No particular error in the console, simply warnings. Tried export/import of data and logging out, no success. Did a full uninstall/reinstall, no success there either.

[2018-03-29 06:54] shantanuKaushik commented on #4079
+1

[2018-03-29 07:45] ansharfirman commented on #4401
now it's worked. I dont do anything.

something did by magic out there.. lol

[2018-03-29 07:47] zed76r commented on #4401
but it very slow.

[2018-03-29 08:58] sivcan commented on #4368
@mattdeluco - I tried to reproduce that but it's not happening.
Can you recheck your pre-request script if there's any issue in that ?

[2018-03-29 09:24] loveiset commented on #1607
+1, really need this

[2018-03-29 09:31] sivcan commented on #4249
@kwilmot - We'll take a look into it and get back to you.
However, as a quick fix - can you try logging out and logging in back again ?

Also, disconnecting the Wifi on your machine and reconnecting it might be an even faster temporary fix till we're looking into this issue.

If you've already tried that then let me know if it doesn't help you for now.

[2018-03-29 09:33] kamalaknn commented on #4401
We've been seeing some issues with our Sync servers today. We are working on a fix.

It should be back soon.

[2018-03-29 09:39] kamalaknn commented on #4401
We've pushed a fix to our Sync servers. Things should be back to normal now.

Thanks for understanding.

[2018-03-29 09:39] #4401 closed, assigned to ankitjaggi

[2018-03-29 09:43] kamalaknn commented on #4400
Hey @sagarsidana

A `getaddrinfo ENOTFOUND` usually means a DNS error. Could you check your Proxy configuration?

I can notice that you are on a really old version of Postman. Could you download the latest Postman app from the website - https://www.getpostman.com/apps?

I'm closing this as this is not a bug with the Postman App itself.

Feel free to visit our [community discussion forum](https://c

[2018-03-29 09:43] #4400 closed, assigned to nobody

[2018-03-29 09:48] kamalaknn commented on #4399
Hi @SchizoAA

Could you open you DevTools (View -> Developer -> Show DevTools (Current VIew)) and send us the error logs if any?

[2018-03-29 09:49] kamalaknn commented on #4393
I'm closing this issue as this has been fixed. Feel free to reopen the issue if you're facing similar issues again.

[2018-03-29 09:49] #4393 closed, assigned to kamalaknn

[2018-03-29 09:51] kamalaknn commented on #4391
Hi @tomidix

Thanks for your feedback. I'm marking this as a feature request. We'll take a look at this when we revisit OAuth 2.

[2018-03-29 10:00] joachimaumann commented on #2392
+1

[2018-03-29 10:19] kamalaknn commented on #4397
Thanks for reporting this. We will work on a fix and update the thread here.

[2018-03-29 10:21] v41e commented on #3602
+1

I really need this feature too, have you any idea of a release date with this feature?

[2018-03-29 11:55] astrowalker2013 opened #4402 "testing date value in postman"
I try to compare 2 dates in postman and give the status are

 my date i want  to compare are : 2018-03-14T09:51:42.000Z"

need to converte the date in unix time how to do that.

Thanks in advence

[2018-03-29 12:08] sivcan commented on #4402
Hi @astrowalker2013 - This [answer on Stackoverflow](stackoverflow.com/questions/48314782/how-to-compare-a-string-to-a-date-in-postman-test/48315230#48315230) will help you.

Note: This repository is being maintained only for feature requests and bug reports.
For any further queries related to postman kindly visit the [Postman Community](https://community.getpostman.com/latest)

Thanks

[2018-03-29 12:08] #4402 closed, assigned to nobody

[2018-03-29 12:42] astrowalker2013 commented on #4402
Ok
thanks a lot how ever
the link are in 404 error

[2018-03-29 12:43] abhijitkane commented on #4402
@astrowalker2013 Updated the link - thanks!

[2018-03-29 13:29] ErikUI commented on #4033
I have the same need as OP

[2018-03-29 14:43] Piioupiou commented on #1535
+1

[2018-03-29 14:49] astrowalker2013 commented on #4402
i find the solution about .

i used the methode parse of Date https://www.w3schools.com/jsref/jsref_parse.asp
to convert the string time in unix time to calculate the value

[2018-03-29 15:58] vinodpy commented on #4361
Any update on this?

[2018-03-29 15:59] FlanderJam commented on #4249
@sivcan Thanks for the quick response.

I tried logging out and logging back in. This did not resolve the issue.

However, disconnecting Wifi and then reconnecting seemed to have resolved the issue on both of my computers.

[2018-03-29 16:13] prashantagarwal commented on #4361
Hey @vinodpy ! Can you help me by providing some screenshots and logs.
1) Open devtools
2) Got to **View** -> **Developer** -> Show Devtools (Current View) .
3) In devtools go to **Timeline** tab and click on circle on the top left.
4) Stop after 6-7 sec.

<img width="674" alt="screen shot 2018-03-29 at 9 40 25 pm" src="https://user-images.githubusercontent.com/3762808/38100109-182aa7fe-339a-11e8-

[2018-03-29 17:27] mr-newell opened #4403 "Can't use the mouse to select part of a request name"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
**Always been there**
 2. Expected behaviour:
**The mouse can be used to select part of a request name**

On any request, right-click → 'Rename' → Attempt to select a specific part of the text. Instead of the text being selected, the request is dragged, oftentimes leading to the frustr

[2018-03-29 17:55] Dekorg commented on #622
+1, afterall fiddler does it ...
but I guess it is related to https://github.com/postmanlabs/postman-app-support/issues/146

[2018-03-29 18:06] ghost opened #4404 "pm.sendRequest in collection level global function"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently.
 2. Expected behaviour: Send a request from collection level global function.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

`requester.js:173357 foo`
`reque

[2018-03-29 18:31] wwwillem opened #4405 "new-lines in XML converted to ampersands"
Postman for Mac and Linux
Version 6.0.10
OS X 10.11.6 / x64 and Fedora 27 / x64

Using PostMan to send XML requests to a cgi-bin server written in Perl. This server works fine when using curl, perl or Java as the client, but when sending a POST with PostMan the XML parser fails. It seems that PostMan modifies new-lines in the XML body into ampersands.

Here is why I think this. I created at http:/

[2018-03-30 03:04] Bluscream commented on #350
Hm

[2018-03-30 04:31] kunagpal commented on #4397
Hey @ahmad-511, thanks again for reporting this. A fix for this bug is being worked on here: https://github.com/postmanlabs/postman-runtime/pull/553. We'll update this thread when it becomes generally available in the Postman app. 😄

[2018-03-30 05:03] athulmurali commented on #256
Also, clicking the publish button again will redirect you to the page where you can unpublish the docs

[2018-03-30 06:07] sivcan commented on #4402
@astrowalker2013 - Yes, correct.
Not sure why the Stackoverflow link was giving a 404.

https://stackoverflow.com/questions/48314782/how-to-compare-a-string-to-a-date-in-postman-test/48315230#48315230

[2018-03-30 07:17] ddeshpande commented on #4296
Hi @sivcan, I am seeing this issue in 6.0.10 version for Response Body:

![image](https://user-images.githubusercontent.com/25217651/38128607-e34515e0-3418-11e8-8978-29216d91e850.png)

[2018-03-30 07:47] Josephliao1991 commented on #2302
+1

[2018-03-30 08:35] isaru66 commented on #3312
+1

[2018-03-30 08:40] Broutard commented on #3390
+1

[2018-03-30 09:06] riaadh commented on #3566
+1 i think this should be priorisaed since most of us work in corporate company that have out of the box a proxy.
Thans

[2018-03-30 11:08] andyherd commented on #2185
"When I do a POST to one of our APIs, it would store the parameters I gave to a table and to confirm that the POST actually did it's thing, it would be great to be able to query that table."

Exaclty what I came here to say. Agreed with @annedemata and @paulhilliar that this would be very helpful.

[2018-03-30 11:50] marexv commented on #2392
+1

[2018-03-30 11:52] ahmad-511 commented on #4397
Great 👍

[2018-03-30 12:25] StefH commented on #1228
+1

[2018-03-30 12:49] emxjay commented on #4359
I'm getting the same issue under Windows 7 (Postman **v6.0.10**).

Excerpt from `SquirrelSetup.log`:

[code]

Thanks.

[2018-03-30 18:28] sivcan commented on #4296
@ddeshpande - I guess these are the runs that were ran in the earlier version.
The response was never saved for those thus you're seeing this error.

Can you run a collection in the updated version and let me know if this issue still persists for you ?

[2018-03-30 18:33] AImager commented on #1947
+1

[2018-03-30 20:06] saurabhgupta1233 opened #4406 "Failing to run native app on ubuntu 16.04 LTS"
Failing to run the native app on Ubuntu 16.04 LTS -
Fails on the loading screen

## App Details: (Copied from chrome app as not able to run the native app)
Postman for Chrome
Version 5.5.2
linux / x86-64
Chrome 62.0.3202.94

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently (never tried the native app before)
 2. Expected behavior: Able to open app

[2018-03-30 23:03] heroicefforts commented on #2959
The no-cache header is great, unless you're trying to test ETag behavior.

[2018-03-31 12:28] antidote2 commented on #2984
5.5.2 same issue - cannot use postman for chrome for this reason, but desktop version is 6 where it works

[2018-03-31 18:34] Kanmuri commented on #2556
From my understanding of how environment variables work, no this will not work for my use case.
The value does not vary per environment.
It does look like #2427 is the same issue, however, so I will comment on that ticket as well.

[2018-03-31 18:55] Kanmuri commented on #2427
I have the same issue with path variables that used to work. The variable is in the format ":client.cfc" (e.g. when the variable is set to "someClient", it should render as "someClient.cfc").

From my understanding of how environment variables work, they will not work for my use case, as the value does not vary per environment.

I am currently using the workaround of putting the suffix in the vari

[2018-04-01 00:31] jimmartens commented on #2790
+1

[2018-04-01 13:26] h5tark commented on #3691
[code]
Ctrl + C works for pretty and raw; right-click + copy works for raw but not for pretty too.

[2018-04-01 14:32] prashantagarwal commented on #2920
We have fixed this internally. We will make this available with our next release.

[2018-04-01 18:32] darioseidl commented on #3466
Yes, please! The only workaround right now seems to be using "Close All" in the tab bar and then hitting Enter a dozen times.

[2018-04-01 23:13] Redor commented on #843
@a85 I like Postman in general, but the new converter you mentioned is a joke. The developer who implemented it, probably never used swagger. I liked also that you opensourced it, but you should also go over PR from time to time.

[2018-04-01 23:28] a85 commented on #843
@Redor I don't have the time to go over individual PRs and we don't use Swagger at Postman. The converter is open source so people can contribute to it instead of cribbing about why its interpretation of the format doesn't fit their unique tastes. The Swagger format itself is not exactly a work of art and I don't claim that the converter is either. Feel free to submit a PR and I'll definitely revi

[2018-04-02 05:35] slawa-dev commented on #4070
@harryi3t Just run into this issue as well. Have to create Basic Authorization header manually if the username or password has umlauts.

[2018-04-02 07:59] ddeshpande commented on #4296
@sivcan I ran my collection in updated version (6.0.10) and observed this issue. Checked it again today:
![image](https://user-images.githubusercontent.com/25217651/38188486-d299ab94-3679-11e8-9d31-2ce6adebf3ee.png)

[2018-04-02 08:27] ddeshpande commented on #4296
It started working!

Looks like this was happening because I had sync issues. If you see the screenshot in my previous comment, you will see postman in "Syncing" state. I was being prompted multiple times to "Resync" a collection (which by the way was a different collection, and not the one which I was running in runner). Even after selecting "Resync" multiple times, it was not able to successfull

[2018-04-02 08:31] sivcan commented on #4296
@ddeshpande - Oh great!

Let me know if you experience this issue again (do check the console logs in DevTools and share the same if you see any error).

Thanks

[2018-04-02 12:39] harryi3t commented on #4403
@mr-newell Thanks for reporting this to us. We will update the thread once the fix is out.

[2018-04-02 13:22] harryi3t commented on #4404
Seems to be working fine on my end. Please try this sample collection
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/1822a6e970010915890a)

[code]

### Output
It sent 4 requests as expected
![image](https://user-images.githubusercontent.com/5207331/38197574-89af8138-36a6-11e8-8fda-3c46f01592dd.png)

### Request 1
![mitmproxy_-p_8081_--setheader___q_x

[2018-04-02 13:22] Tzvika-m commented on #2140
@abhijitkane
This feature doesn't exist in the mac app?
As I understand it the chrome app is deprecated, no?

[2018-04-02 13:40] harryi3t commented on #4405
@wwwillem I checked this and found that postman is not converting the new lines to ampersand.
I think the server is not able to parse the newlines correctly.

This is based on following observations, please correct me if I am wrong:

### The response from postman-echo sends '\n' in the response body
![postman](https://user-images.githubusercontent.com/5207331/38198093-fd9400ae-36a8-11e8-929b-e6f43

[2018-04-02 13:40] #4405 closed, assigned to harryi3t

[2018-04-02 13:46] harryi3t commented on #4406
This issue is already being tracked here https://github.com/postmanlabs/postman-app-support/issues/4359
Please subscribe/upvote the original issue for the updates.

[2018-04-02 13:46] #4406 closed, assigned to nobody

[2018-04-02 13:48] harryi3t commented on #4398
Could you post the link to the original issue?

[2018-04-02 13:50] asneya commented on #4079
+1

[2018-04-02 14:06] AmyGao18 commented on #1946
Running postman in latest version v6.0.10, still getting same issue with a large response body,  in a few minutes postman crashes. :-(

[2018-04-02 14:36] dbkaynor commented on #4398
https://github.com/postmanlabs/postman-app-support/issues/4176

[2018-04-02 15:44] dbkaynor commented on #4398
I have done so in issue   #4176 (#4398)

On Mon, Apr 2, 2018 at 6:48 AM, Harendra Singh <notifications@github.com>
wrote:

--
Douglas B Kaynor
doug@kaynor.net

[2018-04-02 15:49] jennaprice commented on #2489
I have the same issue. I am running 5.5.2 from my Applications folder and it asks to install a helper tool and I give it permission and it tries to update and it just downloads, closes and never opens. I will see if some of these things work.

[2018-04-02 17:01] jwbats opened #4407 "Postman Not Displaying Full Request Response Body On Startup"
Whenever I open up Postman, it will show me the request I had last selected when I closed it, and it will also show me the response that it sent back the last time I fired off this request.

The problem is that the response text area isn't showing enough lines, obfuscating the response. It will only show 2 lines of my 3 line response. When I click it, it'll show me only the last line of my respons

[2018-04-02 17:09] wwwillem commented on #4405
Found the root cause of my issues and sorry for putting the blame on PostMan, shame on me!! :-) I thought it was a PostMan error because my Perl and Curl scripts were doing the job fine. However, while investigating deeper I noticed those were not inserting any newlines at all and therefore running fine.

First step was to run tcpdump on the client and I noticed that you were correct, just '0a' co

[2018-04-02 17:12] ghost commented on #4404
@harryi3t Thank you for the sample and quick response.

`pm.sendRequest` will work fine if placed directly into the "Tests" of "Pre-request Scripts" tabs of the Collection. However, the problem is it doesn't work if placed in a global function (not sure if it's possible, though):
![screen shot 2018-04-02 at 10 02 33 am](https://user-images.githubusercontent.com/21000250/38205963-74f2f2d2-365d-11e8

[2018-04-02 17:13] wwwillem commented on #4405
I typed "opening bracket - backslash - asterisk - STDIN - closing bracket". The backslash got formatted away.

[2018-04-02 17:45] dmrickey commented on #2392
+1

[2018-04-02 18:34] donbarthel commented on #3803
Suggested workaround until this issue is addressed: use the second parameter to .expect() which is a "custom error message to show when the assertion fails".

This old code:
`pm.test('Name is a minimum of 3 characters', pm.expect(name).to.have.lengthOf.above(2));`
...fails with cryptic error message "AssertionError: expected 'NA' to have a length above 2 but got 2".

This new code:
`td = 'Name is

[2018-04-02 18:39] donbarthel commented on #3960
Suggested workaround until this issue is addressed: use the second parameter to .expect() which is a "custom error message to show when the assertion fails".

This old code:
`pm.test('Name is a minimum of 3 characters', pm.expect(name).to.have.lengthOf.above(2));`
...fails with cryptic error message "AssertionError: expected 'NA' to have a length above 2 but got 2".

This new code:
`td = 'Name is

[2018-04-02 18:49] harrisonkrat opened #4408 "Enhancement Request: Allow Response Bodies to Return More than 1000 Rows"
## App Details:

[code]

## Issue Report:
 1. I have encountered this bug for the last several months in a GET request.
 2. Expected behaviour: I can return the full response body from my API endpoint, or I can change a setting to allow my responses to have more records. If such a setting existed, I can find how to change it in your docs.
 3. Neither the app nor the console log returns any kind of

[2018-04-02 19:07] aaronshaver commented on #3466
This is badly needed.

[2018-04-02 19:08] pieralexandre commented on #1104
+1

[2018-04-02 20:09] wjohnson000 commented on #4374
I ran into this same issue on Windows-10.  When I attempt to start `Postman` via a short-cut, sometimes it succeeds and sometimes it fails.  So I created an alias in my `cygwin` instance to start it via the command-line, and it works consistently (so far).  At least I have a solution.

[2018-04-02 20:12] lgcassab commented on #1744
+1

[2018-04-02 22:49] santakd commented on #3137
+1 to add support for uploading files specified as file paths in the runner data. This will really help.

[2018-04-02 23:56] robinup1 commented on #2801
+1

[2018-04-03 01:22] TheAllThing commented on #4297
Hi @kamalaknn ,

I may have found a resolution to my syncing issues. I had been logging in via my Google account, using 2 factor authentication. With the consistent problems I've been facing, I decided to try using a new, dedicated user account, and bypass logging in via my Google account. After creating a new user account using my work email, I am able to close/open the app without it having sync

[2018-04-03 05:30] harryi3t commented on #4405
@wwwillem no worries, happy to help 🙂
Also, thanks for putting the explanation. It will help others in future 👍

[2018-04-03 05:55] harryi3t commented on #4404
@andriikhmelkov Now I see what the issue is. Sharing scripts (in this case a global function) across scripts is not supported. It might look like it's working but that is due to an implementation bug.

As mentioned [here](https://github.com/postmanlabs/postman-app-support/issues/4197#issuecomment-366270120)

Related issues
https://github.com/postmanlabs/postman-app-support/issues/4058 (open featur

[2018-04-03 05:55] #4404 closed, assigned to harryi3t

[2018-04-03 05:58] harryi3t commented on #4398
CLosing this and reopening the original issue since that has the complete context.

[2018-04-03 05:58] #4398 closed, assigned to harryi3t

[2018-04-03 06:02] harryi3t commented on #4176
@dbkaynor I was able to reproduce this. Marking this as a bug.

[2018-04-03 07:13] AVGH opened #4409 "I have been getting a 404 for the same request which is successful on another POSTMAN."
I have updated the POSTMAN to the latest version. When I hit the Update option I get 'You are up to date! Postman v6.0.10 is the latest version.'

I have been successful to send a POST from my another POSTMAN and able to get the correct response. However, I have been running into an issue when sending a POST method to the same API from my POSTMAN. Does not seem to be a routing issue, as it works w

[2018-04-03 07:31] javiesses commented on #2392
+1

[2018-04-03 07:32] stianlagstad commented on #4359
@sivcan Sorry, I was not able to try this as I had to format my computer. But the postman app worked when I installed it on a new system. (i.e. no shared window error)

[2018-04-03 09:07] srinikitha09 commented on #2559
I also have the same issue but only with few services, I mean the APIs that I have defined in my node application. Please kindly let me know, why do I have this problem?

[2018-04-03 09:29] nemoo commented on #2253
Using Postman for Windows Version 6.0.10 the issue is also still not fixed. Even when I disable the proxy in the Postman > Proxy settings, Postman still uses the proxy.
Please reopen this issue.

[2018-04-03 10:02] ddeshpande commented on #4296
hi @sivcan I'm seeing this issue again! I don't see any error in console logs in DevTools.
Note: The sync issue is not seen anymore, Postman is "In Sync". But this "Data Unavailable" issue has popped up again.

Thanks,
Deepti

[2018-04-03 10:24] ddeshpande commented on #4296
Could it be because I am using multiple workspaces? After I updated Postman to latest version 6.0.10, I created new workspaces and organized my collections in these workspaces..

[2018-04-03 10:25] sunborn23 commented on #2392
+1

[2018-04-03 10:43] sivcan commented on #4296
Hey, @ddeshpande - If your data is syncing then unfortunately the responses are not synced.
You can view them on your local machine.
If you're logging in / out of the app or using multiple desktops then you won't be able to view the responses.
Switching to multiple workspaces will not be having this issue.

I'll still check this and get back to you.

[2018-04-03 11:02] nadanasser commented on #1066
+1

[2018-04-03 11:26] skyboyer commented on #3835
The same is observed once I put trailing space into header name. Say "Cookie :<cookie value>" leads to the same.

[2018-04-03 11:38] ghost opened #4410 "Can't see all test results in collection runner"
Hi,
I am seeing something weird in Postman. I have some post requests that should return in the response body an array of documents. And I have some tests for these documents. In total there are 15 tests per document.

These are my tests:
[code]

I run the requests in the collection runner and I see the full test results for the first document in the response array. But for subsequent documents I

[2018-04-03 11:40] skyboyer commented on #3835
I see here 2 different issues:
1. it's impossible to notice if values has trailing whitespaces(for Key-Value view - per each row; for Bulk Edit view - for last row)
2. Error during parsing request data(say trailing space(s) in Header Name) is not provided with detailed information(say "SyntaxException while parsing <HeaderName>" would be much more informative)

[2018-04-03 12:01] kristijan-ujevic-typeqast commented on #2082
This needs to be fixed ASAP, people will lose time thinking it's a server problem.

[2018-04-03 12:39] brahambence commented on #2724
+1 It would be a really useful addition

[2018-04-03 12:59] matudelatower commented on #2931
+1 on snap

[2018-04-03 13:52] pjson235 opened #4411 "In Postman saving response XML using Test script."
I started using Postman from last couple of days and I got struck with the below issue.

I have a GET request XML with parameters (no request body) which I have parameterrized and able to send the request with multiple data sets using csv file (using collection runner). But I need to save the responses for each and every request using script (Test, not manually). The response is in XML format and

[2018-04-03 13:56] MBach opened #4412 "Splash Screen is not centered on active monitor"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: IDK
 2. Expected behaviour: the splash screen should be centered on the default monitor (first launch) or latest one if already launched
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for

[2018-04-03 14:33] rustoleum76 commented on #4092
has this been verified as a defect, yet? Should I insert my own Issue report despite my issues appearing to be the same problem as 4092? What can I do to help in the investigation of this?  I'd love to recommend to our management team Pro seats for this tool, but the Runner capability is a key feature that I can't use at the moment.  Thanks!

[2018-04-03 15:43] Oleh-H commented on #3950
+1 for better debugging tools

[2018-04-03 17:27] BlacKCaT27 opened #4413 "Ability to alter request headers in pre-request script?"
## App Details:

[code]

I'm trying to configure a Collection for testing an endpoint which (mostly) supports OAuth 2.0. Thus far, I've successfully obtained tokens via their API through the Authorization tools for Collections in PM.

Unfortunately, the endpoint in question (which I have no control over), doesn't properly support the Authorization header. Instead, they've opted to expect the token

[2018-04-03 17:58] #3907 closed, assigned to a85

[2018-04-03 18:50] petermoser opened #4414 "Swagger Import from API Gateway only works for old chrome extension app"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
just encountered it today
 2. Expected behaviour:
import from swagger file should show request names (it works in the chrome extension)
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for

[2018-04-03 19:22] viniciusCamargo commented on #2082
@kristijan-ujevic-typeqast I spent 2 hours last week debugging an API for this exact reason. :cry:

[2018-04-03 19:48] pmilanez commented on #3117
+2 👍 this will be a game changer

[2018-04-04 04:09] binarymist commented on #4009
How's progress?

[2018-04-04 05:06] WangRongda commented on #285
+1

[2018-04-04 06:51] anayek opened #4415 "Postman not sending request to API after getting idle for longtime"
hi,
When postman is idle for long time, the next request sent from postman seems not actually reaching to the API, and I am getting 401 unauthorized with blank response.
Do you have any suggestion on the same?
regards
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not sure if always there.
 2. Expected behaviour: It should send the

[2018-04-04 07:38] harryi3t commented on #2253
@nemoo You must be having some environment variables set (http_proxy, etc)
Please unset them (using a script) before opening postman.
Check @LordGG's comment https://github.com/postmanlabs/postman-app-support/issues/2253#issuecomment-326564966

[2018-04-04 08:07] nemoo commented on #2253
@harryi3t Currently the Postman GUI suggests that the proxy can be deactivated in the GUI. That is apparently not the case.

 If this workaround is meant to stay would it be possible to add the information about the workaround to the Postman Proxy GUI tab so that users will know about it? As it is now they first have to find this issue on Github to find out how to operate Postman.

[2018-04-04 08:30] michaldemjancuk commented on #2096
Is this issue noticed ? I have trouble with this and this ticket is opened approx. 2 yrs...

[2018-04-04 08:46] gregoirepaqueron commented on #4312
any up on this one ?

[2018-04-04 09:02] liemle3893 commented on #1470
Any work on this issue?
I'm still having problem with Swagger Security.
[code]
Thanks!

[2018-04-04 09:17] tomershay commented on #1429
+1

[2018-04-04 09:24] namgivu commented on #2691
I'm looking for way to export Postman collection from CLI too - it's a tiring job to use mouse clicking and choosing file. Any update on this @madebysid

[2018-04-04 11:02] ghisvail commented on #3749
I second @baszczewski. Flatpak support and auto-updates are orthogonal concerns. Please re-open.

[2018-04-04 11:09] choosen opened #4416 "Postman standalone app mac generates empty x-www-form-urlencoded fields values"
## App Details:
[code]

## Issue Report:
 1. Issue encountered recently, I did not see it before
 2. Expected behaviour:
  send fields with inputted values
 3. Console logs
[code]
 4. Screenshots (if applicable)
cURL:
![obraz](https://user-images.githubusercontent.com/11080848/38303929-dd41d668-3807-11e8-99cd-bf547f95e778.png)
After switching to HTTP:
![obraz](https://user-images.githubusercontent

[2018-04-04 11:49] haraujo83 commented on #2214
hi. i'm having the same problem...
when i use a different port, it show error "Could not get any response"
my postman version is the newest (6.0.10 - windows)
the chrome app version it works fine for me

[2018-04-04 12:39] kpodkalicki commented on #3566
+1 it is a must-have

[2018-04-04 14:12] mindgrub-mmillford commented on #1228
+1

[2018-04-04 15:32] JulienBarlet commented on #3312
+1

[2018-04-04 15:59] slaout commented on #3312
+1

[2018-04-04 16:50] lgroger commented on #1104
+1

[2018-04-04 19:29] ishwarchandratiwari commented on #3827
thanx

[2018-04-05 03:45] maheeka commented on #4401
I was directed to here from https://github.com/postmanlabs/postman-app-support/issues/4360. Can you confirm whether the issue is fixed? I am still coming across continuous sync conflict popups.

[2018-04-05 04:09] IrynaRus commented on #4401
The same for me @maheeka. I'm still getting that sync conflict pop-up and no changes have been synced to the server today.

[2018-04-05 06:49] Skeeve commented on #1321
I'm also eagerly awaiting this feature :(

[2018-04-05 07:17] Florence2016 opened #4417 "Can't send data with the use of POST request from Java to Laravel"
URL url = new URL("http://....../api/......./log");
        Map<String, Object> params = new LinkedHashMap<>();
        params.put("accessid", "asasasasas");
        params.put("uid", "sasasasa");
        params.put("uname", "asasaa");
        params.put("agent", "sasasasasaddd");
        params.put("query", "adewewewe");
        StringBuilder postData = new StringBuilder();
        for (Map.Entry

[2018-04-05 07:26] ZedoAditi commented on #2185
Yes @annendemata, I think this would help us integrating database testing(at least query) and  API testing without any separate tool for database testing.

[2018-04-05 07:34] DanielPetatCes commented on #4407
I've got the same issue.
Windows 10 1709 x64
Postman 6.0.10 x64

I noticed, that the window is not maximized after startup. When I maximize it, the display is correct. So it seems to be a rendering or alignment issue of the textbox after startup.

[2018-04-05 08:27] Skeeve commented on #1321
FTTB I switched to FoxyProxy + RESTClient (both FireFox extensions) to test and debug the webservices I work with.

[2018-04-05 08:33] adequatica commented on #3275
Still a problem (6.0.10).

[2018-04-05 09:39] thirtified commented on #3358
Still open as https://github.com/postmanlabs/postman-app-support/issues/3117.

[2018-04-05 10:12] sivcan commented on #3275
Hi all,
We regret the inconvenience caused.
This has been fixed on our end and I'll update this thread once the change is reflected in an upcoming release.

[2018-04-05 10:31] sivcan commented on #4417
Is this an issue regarding Postman app ?
This repo is only being maintained to report a bug / feature requests for the Postman app.
If you've any how-to questions then kindly check out our [Community](community.getpostman.com/latest)

If the issue is regarding the postman app then kindly provide the app details (Settings > About)
and also the steps to reproduce this.

I'll reopen this issue if it

[2018-04-05 10:31] #4417 closed, assigned to nobody

[2018-04-05 11:57] harryi3t commented on #4416
@choosen So the issue is not reproducible for newly opened tabs? Also, what happens if you close and re-open the same tab?

[2018-04-05 12:02] harryi3t commented on #4415
@anayek Thanks for reporting this issue. We are looking into this and will get back to you once we have a fix.

For this I would need some extra information:
1. You mentioned the first request after a long time results in 401, what happens if you send a second request? Is it still 401?
2. If you quit the app and re-open does the same API works?

[2018-04-05 12:17] harryi3t commented on #4414
@petermoser Please send a minimal collection that can reproduce this to help[at]getpostman.com with the issue number in the subject. This will help us debug this faster.
Also, please do remove any sensitive information in it.

[2018-04-05 12:26] clavergne commented on #3312
+1

[2018-04-05 12:32] harryi3t commented on #4413
@BlacKCaT27

Yes! Use [variables](https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables)

You can use a variable for the header key and another variable for the value
![image](https://user-images.githubusercontent.com/5207331/38365606-90a4e89c-38fa-11e8-90d2-78a2eaa1361b.png)

If this header key is coming from some other request, then you can simply set this variable in the

[2018-04-05 12:35] harryi3t commented on #4412
@MBach
Thanks for reporting this issue. We are looking into this and will get back to you once we have a fix.

[2018-04-05 12:43] harryi3t commented on #4411
@pjson235 Unfortunately, as of now this is not supported in Postman.
But as a workaround you can write a simple node server which when called writes/appends the request body to a file, and the from the test script call that endpoint.

[2018-04-05 12:43] #4411 closed, assigned to harryi3t

[2018-04-05 12:50] harryi3t commented on #4411
@pjson235 I found a good blog post regarding this
http://blog.getpostman.com/2017/09/01/write-to-your-local-file-system-using-a-postman-collection/

[2018-04-05 13:08] BlacKCaT27 commented on #4413
This doesn't directly answer my question though. I know how to use variables in all the various fields; the problem is, in my case, I'm trying to access the token provided through the authentication system in Postman. From what I can tell, no token variable is exported for use such as how you're suggesting. The closest I could come would be to use the authentication system to obtain a token, then

[2018-04-05 13:11] harryi3t commented on #4410
@dani-oprean Can you share a collection to reproduce this? I tried this using hardcoded data and all the tests runs fine.
Check this sample collection that I used for testing
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/39a18f08de45474e2144)

[2018-04-05 13:14] harryi3t commented on #4409
@AVGH What is the version of the other Postman app? Also, can you share the screenshots of both the apps describing the issue?

[2018-04-05 13:19] harryi3t commented on #4408
@harrisonkrat I have marked this as a feature request.

[2018-04-05 13:21] harryi3t commented on #4407
@jwbats @DanielPetatCes This is known issue and we are fixing this. Will update this thread once the fix is released.

[2018-04-05 13:26] bmdatl commented on #3312
+1

[2018-04-05 13:35] ghost commented on #4410
@harryi3t I attached a collection for testing. Variables were not replaced as I can't share that information.

But, as I said before the problem is not that the tests don't run. They do. But not ALL results are displayed in the collection runner window. The same happens when I run this collection in newman in the HTML report. The cli report is complete. All test results are there. Not the html rep

[2018-04-05 13:51] SamvelRaja commented on #2942
@all
We have fixed this issue in our latest canary version. Soon will land in the stable version also.
You can download the canary version from https://www.getpostman.com/canary

[2018-04-05 13:52] SamvelRaja commented on #2742
@all We rolled out the fix for this issue in our canary channel.
Requesting you guys to download and check the same from [here](https://www.getpostman.com/canary)

[2018-04-05 14:02] harryi3t commented on #4413
@BlacKCaT27 My bad, didn't fully understand the context.
Since Postman has to be spec compliant, the header key is hard-coded to be `Authoriazation`.
But using `pm api` you can access the current auth parameters.

Try this workaround

![image](https://user-images.githubusercontent.com/5207331/38370396-a4bb60b0-3907-11e8-9636-1af7987e701d.png)
![image](https://user-images.githubusercontent.com/5207

[2018-04-05 14:02] #4413 closed, assigned to harryi3t

[2018-04-05 14:03] kamalaknn commented on #4297
Hi @TheAllThing

Sorry, the delayed response. We've been working a fix for this.

**The short answer**
We have pushed a fix to our [Canary Channel](http://getpostman.com/canary). With the fix, you should be able to use your existing account with Postman. You do not have to create a new account. This was not an issue with Google login.

**The long answer**
The root cause of the issue is that when t

[2018-04-05 14:13] BlacKCaT27 commented on #4413
Perfect! Exactly what I needed, thanks!

[2018-04-05 14:27] markusfoss commented on #3312
+1

[2018-04-05 15:03] choosen commented on #4416
@harryi3t This occurred once - I have this request (tab) saved.
If I close all tabs, restart Postman and load this tab: the error occur again.
I will create a vid

[2018-04-05 15:04] BlacKCaT27 commented on #4413
One final thing:

It appears this solution only works on a per-request basis. I'm not able to access the auth token using the Authorization and Pre-request Scripts pages of an Environment. It would be great to have this option exposed at that level.

[2018-04-05 15:05] GonzaloTorreras commented on #724
Totally agree,
In my case using the Hubspot API I need to have in the URL some different variables to manage different elements like:
https://api.hubspot.com/content/api/v4/custom-widgets/{{moduleID}}/?portalId={{hsportal}}

Using the pre_scripts means that I need a different request for each different block instead using the same because I can't add a variable there :(

[2018-04-05 15:06] choosen commented on #4416
@harryi3t If I change the content in Bulk Edit it starts to work.
http://recordit.co/u0vEb2FfKv

[2018-04-05 15:28] TheAllThing commented on #4297
Thanks for the explanation, @kamalaknn. That makes sense.

 I just loaded the Canary build and it's already loading everything exactly as one would expect! Thank you! I'll relay this to the rest of the team and get back to you with any details if we see anything out of the ordinary.

I'll keep my eye open for the next stable release with these fixes rolled up into it.

Thanks again!

[2018-04-05 15:31] prashantagarwal commented on #2920
We have released the fix on our Canary app. Can someone please verify it.

[2018-04-05 15:32] prashantagarwal commented on #3506
We have released the fix on our Canary app. Can someone please verify it.

[2018-04-05 15:32] prashantagarwal commented on #3315
We have released the fix on our Canary app. Can someone please verify it.

[2018-04-05 15:35] prashantagarwal commented on #4120
It appears to be fixed for lot of people. Feel free to open another issue if it still persists.

[2018-04-05 15:35] #4120 closed, assigned to prashantagarwal

[2018-04-05 15:37] prashantagarwal commented on #2920
You can download our canary apps from [here](https://www.getpostman.com/canary)

[2018-04-05 15:37] prashantagarwal commented on #3315
You can download our canary apps from [here](https://www.getpostman.com/canary)

[2018-04-05 15:37] prashantagarwal commented on #3506
You can download our canary apps from [here](https://www.getpostman.com/canary)

[2018-04-05 15:37] #4208 closed, assigned to kamalaknn

[2018-04-05 15:43] #4271 closed, assigned to harryi3t

[2018-04-05 15:44] harryi3t commented on #4271
@YuJinLei This is fixed in the latest version of Postman.

[2018-04-05 15:45] #4112 closed, assigned to sdnts

[2018-04-05 15:45] prashantagarwal commented on #4112
@joeyciechanowicz This issue is fixed in latest version of Postman app

[2018-04-05 15:47] jseger commented on #2920
Yeah works good!

[2018-04-05 15:48] prashantagarwal commented on #2920
Awesome.I will close this once we release the fix on our stable channel.

[2018-04-05 15:52] harryi3t commented on #4413
@BlacKCaT27 There's already an open feature request for this here https://github.com/postmanlabs/postman-app-support/issues/4396

[2018-04-05 15:57] harryi3t commented on #4410
@dani-oprean I cannot use the collection the you shared since it does not have a valid end-point (coz of variables)
But if you run the collection I have shared with hard-coded data, you will see that all test results are displayed
<img width="542" alt="image" src="https://user-images.githubusercontent.com/5207331/38377211-08225e78-3918-11e8-9e30-2c89e00f5586.png">

[2018-04-05 15:58] fharper commented on #1669
+1

[2018-04-05 16:03] thetreythomas opened #4418 "Feature Request - Folder structure in Environment drop down for better organizing"
## App Details:
[code]

## Issue Report:
I use Postman in a fairly large lab, with 50+ servers that all have different environments (hardware, OS, IPv4, IPv6, etc..). I have written all my API calls to use the proper {{myVariable)) syntax so they pretty much work with every server.

My issue is now my drop down list for environments is very long. If I'm on my laptop, which has a very low screen re

[2018-04-05 16:45] rdbasu commented on #3956
Any update on this issue?

[2018-04-05 17:16] drjasonharrison commented on #2729
Possible workaround discovered by duplicating a POST request with data in the Body tab, and changing the new request to a GET request.
While the Body tab is disabled, the body will be sent and included in the code output. This is also described in #2794

[2018-04-05 17:18] kamalaknn commented on #4297
Great!

That’s good to hear. We’ll be pushing the fix to the stable channel in the next release.

I’m closing this ticket. You can continue using the canary channel until the next stable release.

Thanks

[2018-04-05 17:18] #4297 closed, assigned to kamalaknn

[2018-04-05 18:32] chandu478 opened #4419 "postman not able to connect and Sync"
## App Details:

Postman helps you develop APIs faster
Postman for Windows
Version 6.0.10
win32 10.0.14393 / x64
Website
Twitter
Licences
Changelog
Documentation
Report an issue
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: was able to sync before
 2. Expected behaviour: should be able to connect and sync
 3. Console logs (http://blog.getpostman.c

[2018-04-05 19:19] Thwar opened #4420 "Nested JSON string not formatting correctly"
## App Details:
Postman for Windows
Version 6.0.10
win32 10.0.16299 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always
 2. Expected behaviour:
Should show string as JSON object
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Sc

[2018-04-05 19:54] finalsnd commented on #1235
+1 👍

[2018-04-05 21:55] ntonyho commented on #3506
Just curious, what is the cause of this bug?

[2018-04-05 23:18] IrynaRus commented on #4401
@kamalaknn Could you please have a look if there are any issues with sync?
I'm still seeing "Syncing" status and no changes synced to the server. The latest record in Activity section is from 04.04.2016. So it hasn't been syncing for two days.
![2018-04-06_9-14-38](https://user-images.githubusercontent.com/37125239/38396428-64903ef6-397b-11e8-832b-86c901616182.png)
![2018-04-06_9-16-44](https://us

[2018-04-05 23:52] a85 commented on #4390
I think the page has just scrolled down?

[2018-04-06 01:16] YeswanthNag5 opened #4421 "Manage Cookies within collection"
HI Team,

I am currently using the below code to retrieve a known cookie value.
postman.getResponseCookie("").value;

Is there any other way I can copy all the response cookies from one api call and use it in another as request cookies?

Reason being some of the cookie names are dynamic.

[2018-04-06 01:23] maheeka commented on #4401
yes @IrynaRus. Mine is last synced on Thu Mar 29 2018, over a week ago. Manual sync is disabled as well.
![image](https://user-images.githubusercontent.com/1029806/38399317-084bf0ce-398d-11e8-9c3a-32dfa3faba2f.png)
@kamalaknn could you please see if the issue still persists.

[2018-04-06 01:45] jareds commented on #3121
Any update on this? All these issues are in both the latest GA build and the canary build I tested with a few days ago. My co-workers would much rather I be able to use Postman instead of providing them with curl commands they need to convert to postman tests. Since Postman appears to be an Electron app general HTML accessibility rules apply.

[2018-04-06 02:08] azharmdk commented on #3960
yes, but I think the thread here is for the case in collection runner which does NOT give any information on the failed test case. It just gives information that the test is failed. Do we have a workaround for this to get some information on what caused the failure when running in collection runner? Thanks!

[2018-04-06 05:18] mlambley commented on #3315
@prashantagarwal No dice mate. I just tried it and it still takes 2-3 Ctrl-Z presses for each undo. Redo (Ctrl-Y) doesn't work either.

[2018-04-06 05:19] prashantagarwal commented on #3315
@mlambley Did you tried it on the latest canary app ?

[2018-04-06 05:21] mlambley commented on #3315
Yes I followed your link and downloaded PostmanCanary-win64-6.1.0-canary01-Setup.exe

[2018-04-06 05:29] prashantagarwal commented on #3315
@mlambley That's weird. Latest one is Canary-6.1.0-canary02. Can you try updating it. I will debug why it didn't downloaded the latest version for you in the first place.

[2018-04-06 05:57] nicklaunches commented on #2489
Same issue version 6.0.8. Tried from terminal didn't help

[2018-04-06 06:34] andersoyvind commented on #4390
No way!
"P.S. In some way, this could be more a user error than a bug..." - HAHAHA!

Long live subtle scrollbars. Thanks!

[2018-04-06 06:34] #4390 closed, assigned to prashantagarwal

[2018-04-06 06:37] mlambley commented on #3315
Aha! So much better. Ctrl+Z and Ctrl+Y behave as expected in canary02. Congrats on the fix.

[2018-04-06 06:59] pwistrand commented on #4312
I wish

[2018-04-06 07:08] pmartella commented on #3312
+1

[2018-04-06 08:20] FezKazi commented on #1066
+1 much needed!

[2018-04-06 09:10] klr8 commented on #3441
Also had this problem with Postman v6.0.10 on Windows 7.
As suggested, setting no_proxy resolved the problem.

[2018-04-06 09:12] adrianboguszewski commented on #3818
The same here. It's really annoying :/

Is it possible to enhance this?

[2018-04-06 09:19] origamium commented on #2030
+5000000000000000

[2018-04-06 09:21] SorokinRed commented on #2801
+1

[2018-04-06 10:45] viiicky commented on #3127
I was facing the same issue. I resolved it by applying the fix no. 2 mentioned in the error message. i.e. Switching off SSL Certificate Verification.

![fix](https://user-images.githubusercontent.com/8790165/38417392-c2e56bae-39b5-11e8-8753-10d87f77c977.png)

[2018-04-06 11:10] Rashmi-Nuviso commented on #1066
Everyday we keep getting the +1 for this feature .

Can anybody seriously take a look at it from postman team .

This feature will add charm to the feathers of postman and make the testers
and developers life easy .

On Fri, Apr 6, 2018 at 1:50 PM, FezKazi <notifications@github.com> wrote:

--
Thanks,
Rashmi B S
Nuviso Networks
Ph: 8904190375

[2018-04-06 12:21] blueelvis opened #4422 "Unable to send a string in header to a URL"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not sure
 2. Expected behaviour: It should send the request to the API Route
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]
 4. Screenshots (if applicable)
![imag

[2018-04-06 12:22] daveh-maShop commented on #2729
Jason,  Ok…  Thanks for the workaround.

From: Jason Harrison <notifications@github.com>
Sent: Thursday, April 5, 2018 1:17 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Dave Howell <DaveH@marketamerica.com>; Comment <comment@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] Feature request: allow GET requests to have a body (#2729)

Possible

[2018-04-06 14:08] nitinet commented on #2672
Also not in the installed version for liinux

[2018-04-06 14:40] shawnsolo commented on #4360
Same issue

[2018-04-06 14:56] ghost opened #4423 "URL path variables are not replaced if followed by a dot"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always

 2. Expected behaviour:
URL parameter is replaced

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]

 4. Screenshots (if applicable)

Enter the URL `https:

[2018-04-06 15:33] tegomass commented on #2392
+1

[2018-04-06 16:23] azeredogab commented on #450
@rogierborst thanks for answer! Remove slash at the end of URL worked for me!

**POST**
[code]
to
[code]

[2018-04-06 17:07] sivaramkjs commented on #2392
+1

This option would be very useful for a wide range of use cases.

[2018-04-06 17:10] NavidEsfahani opened #4424 "Client Certificate for same domain but multiple ports"
Here is the requirement for us, we have one ssl enabled server (domain) but different ports. Right now I am not able to add multiple certificates for same domain but different ports as Postman grab the last one (for same domain).
It seems Postman doesn't count port it just look the domain!!!

Any chance to get this resolved soon?

[2018-04-06 17:36] dbkaynor opened #4425 "Variable are not interpolated into strings."
In the following code samples the environmental variable {{Code}} is not interpolated:
The variable Code may be either global, environmental, or private.

For example
var Code = "Hello"

console.log("Test {{Code}} string")
tests["**** If test fails,  {{Code}} is wrong ****"] = false

I would expect the console to display  "Test Hello string" but it displays "Test {{Code}} string" instead.

[2018-04-06 17:57] kunagpal commented on #4425
@dbkaynor If the variable in question is a non-local environment variable, you'll have to use `pm.variables.get('Code')` to fetch the value of the variable. For the example above,

[code]

[2018-04-06 20:15] jbourdonLFNY commented on #3441
@eap0120 I have the same issue, using HTTPS on port 8443 (Tomcat) and curl is indeed working fine for me as well.

[2018-04-06 20:20] jbourdonLFNY commented on #3472
I was able to make it work by disabling the SSL certificate verification.

[2018-04-06 20:57] igolus commented on #2030
+1

But also from the response headers

[2018-04-06 21:53] jsjoeio commented on #2724
+1 - our team would really love this!

[2018-04-06 22:04] StevenSchlotterbeck commented on #724
+1, this would be a very useful feature (and like intonarumori mentions, quite common of a scenario in API design).

[2018-04-06 22:24] gregarrayent commented on #3888
I am seeing the problem in v6.0.10 -- anyone else?

[2018-04-07 00:55] watsonix commented on #3007
Note here's the modern way to do this inside tests:
`jsonData = pm.response.json();`
`pm.environment.set("token",  jsonData.access_token);`

Make sure you have your environment set (top right of screen). Automatically any other requests you employ will use the same environment. If you need token type, modify as necessary. Tests, by the way, are run automatically at the end of a request.

[2018-04-07 05:30] GIAngles commented on #1066
+1

[2018-04-07 08:04] HakamFostok commented on #3503
In my case just make a get request which you are sure that it will succeed, (for example request http://www.google.com)
and then try again, it could solve the problem

[2018-04-07 08:27] K232 opened #4426 "Extend period for monitoring graph"
Currently the monitoring graph shows only for about 1 day on the screen. Is it possible to get e.g. a whole month on the screen, with average response time per day?
Thanks!

[2018-04-07 20:14] pimsdsigd commented on #3472
Hello, I think I got the same problem, I also think problem is not related to HTTPS but the port which is used by Postman. I'm trying to call http://my.server.ip:5920/ from Postman, it's not working. When I type http://my.server.ip:5920/ in browser (Opera/Chrome), it's fine.
I got this working before I close Postman and reopen it. On my server (linux), when typing 'netstat -ano' to see my open por

[2018-04-08 00:03] qodist commented on #3897
I'm reinstalling all my programs from C: to D: as D: is 8 times the size of C: and relatively unused, whilst C: is virtually at capacity - irrelevant, I know but the point is, everything is allowing me to re/install onto D: except Postman which just doesn't even bother asking - it just unloads on C: just like the rude neighbour who just walks into your house as soon as you open the door, without y

[2018-04-08 13:20] kingwrcy commented on #4264
+1,Please support RSA  encrypt/decrypt/sign/verify。

[2018-04-08 13:22] zersiax commented on #3121
I never heard back about this issue , I filed it about a year ago as can be seen. For as far as I know, things have not improved in the slightest.

[2018-04-08 13:23] kingwrcy commented on #3646
+1,please support RSA  encrypt/decrypt/sign/verify。

[2018-04-08 13:23] kingwrcy commented on #2678
+1,please support RSA  encrypt/decrypt/sign/verify。

[2018-04-08 13:23] kingwrcy commented on #1607
+1,please support RSA  encrypt/decrypt/sign/verify。

[2018-04-08 13:24] kingwrcy commented on #2302
+1,please support RSA  encrypt/decrypt/sign/verify。

[2018-04-08 13:25] kingwrcy commented on #1879
+1,please support RSA  encrypt/decrypt/sign/verify。

[2018-04-08 14:12] AbdelrahmanHafez opened #4427 "App converts arabic to random strings after a while"
## App Details:
[code]

So, I've been using postman for a while now, and one problem that I noticed a couple of months ago was that the collection couldn't keep Arabic strings as is, for some reason it gets converted to a random string instead.
It stays as Arabic for a couple of days (weeks?), then this happens.

![screenshot_605](https://user-images.githubusercontent.com/19984935/38468493-0e70f28

[2018-04-08 15:11] ghost commented on #2452
Better then a refresh token button would be if it just refreshed the token by itself.

[2018-04-08 16:24] danielhammerl commented on #3417
+1

[2018-04-08 19:14] rakeshk1987 opened #4428 "Possibility to JSON Response validation based on a CSV data"
I have a REST service which will give a JSON response as below

{
"id": 1,
"first_name": "George",
"last_name": "Bluth",
"avatar": "Test1"
},

{
"id": 2,
"first_name": "Janet",
"last_name": "Weaver",
"avatar": "Test2"
},

{
"id": 3,
"first_name": "Emma",
"last_name": "Wong",
"avatar": "Test3"
}

I want to compare these response against a SQL/Oracle DB to check the data is coming correctly (Data fr

[2018-04-09 04:18] siddharthpalav commented on #3178
Hi,

Following the above instruction I was able to remove the "\r" but in preview mode my last data is seen without double quotes, still the code is running fine. Please check the below screenshot.

![image](https://user-images.githubusercontent.com/31617295/38479067-87f4c4d2-3bda-11e8-95c4-37608446cdd6.png)

Question here is, why password of last row is not shown in "double quotes"

And I am also

[2018-04-09 06:20] AshfordN commented on #2801
+1

[2018-04-09 06:58] ddeshpande commented on #4296
Hi @sivcan, any update on this issue? It's still reproducible for me. Here's what I have observed:

1. I run a request in postman, it runs successfully. I get the response, my tests have passed and global variables that I have marked to be set upon getting response, get set successfully.
2.  If I run the same request in Runner, it runs successfully, I can see the response and all my tests have pas

[2018-04-09 07:02] sivcan commented on #4296
@ddeshpande - Apologies for the delay.
The switching workspaces had no affect on responses.

Thanks for reporting the other issue.
I was able to reproduce this issue on retrying the run that the data responses are not being stored.
I'll reopen this issue and mark this as a bug.

Will update this thread once the fix is out for the same.

[2018-04-09 07:07] ddeshpande commented on #4296
Thanks @sivcan !

[2018-04-09 08:00] devdavidkarlsson opened #4429 "Setting a environment variable to undefined makes the variable disappear"
## App Details:

[code]

## Issue Report:
 Setting a variable to something that is undefined makes the variable disappear from the list of env variables.

I would expect the variable to stay in the list but with an undefined or empty value.

Is this the expected behaviour.

**Reproduce:**
for jsonData =
[code]
**and in the Test tab:**
[code]

[2018-04-09 09:40] drocx commented on #2082
I also thought that it would have been a server problem...
Maybe someone could try to relieve the team of Postman and try to create a bug fix and submit it by pull request.

[2018-04-09 09:54] inmate37 commented on #2082
Postman on Ubuntu 16.04. Still

 when `Send and Download`

I thought it was my fault and not Postman's. Please fix this problem, it's really confusing !!!

[2018-04-09 10:19] kamalaknn commented on #4428
Hi @rakeshk1987

We keep the GitHub issue tracker for bug reports and feature requests for Postman. You will be able to find help in our [community forum](https://community.getpostman.com/) for questions related to using the Postman app.

Thanks for understanding.

[2018-04-09 10:19] #4428 closed, assigned to nobody

[2018-04-09 10:21] kamalaknn commented on #4426
Hi @K232

Thanks for your feedback. I'm marking this as a feature request. We will keep the thread updated with any news.

[2018-04-09 10:22] #4425 closed, assigned to kunagpal

[2018-04-09 10:24] kamalaknn commented on #4425
Hi @dbkaynor

As @kunagpal mentioned you can use the `pm.variables.get('Code')` to use your variables in test names.

I've closed this issue because this is not a bug/issue with the Postman app itself. You can find more help and discussion with using the Postman app on [our community forum](https://community.getpostman.com/)

Thanks.

[2018-04-09 10:34] kamalaknn commented on #4420
Hi @Thwar

From a quick look at your screenshot I could see that the `InputData` and `InputTranslationData` are actual strings. Hence they are formatted as a single string.

If these are part of the same JSON object they must be used without a wrapping `"` quote to prevent them from being treated as a string.

For example,
[code]
is different from
[code]
'Input' is treated as a JSON value in secon

[2018-04-09 10:34] #4420 closed, assigned to nobody

[2018-04-09 10:47] kamalaknn commented on #4419
Hi @chandu478

From your configuration, I could see that you are on an older version of Postman `4.11.0`. The latest version is `6.0.10` now.

Could you download the latest version of Postman from `https://www.getpostman.com/apps` and give it a try?

I'm closing this issue because this is on a really old version of Postman. Please get back to use if you feel the same issue exists on the latest ver

[2018-04-09 10:47] #4419 closed, assigned to nobody

[2018-04-09 10:59] shriiitk commented on #1744
+1 yes, very much needed

[2018-04-09 11:09] kamalaknn commented on #4383
Hi @hungdao-pyco

I do not have a complete picture of what you're trying to do. I'm guessing you have two requests with `api/v1/users/checkEmailExisted?email={{email}}` and you set the environment variable in your scripts with `pm.environment.set("email", "abc@yopmail.com");`.

The point to note here is that requests are sent before the test script is executed. Which means that if you set an envir

[2018-04-09 11:11] #4323 closed, assigned to kamalaknn

[2018-04-09 11:21] glidester commented on #771
Hi,

I'm also running into issues with this 'auto-magic' url encoding in Postman stand-alone ver 6.0.10.

I have an rql enpoint I'm trying to exercise with Postman. Attempting to send "transactions?eq(date,20170322)" ends up at the server as "transactions?eq%28date,20170322%29".

The parenthesis are being url encoded even though the server does not need them to be but I have no control over Postma

[2018-04-09 12:18] Nahis commented on #1180
+1

[2018-04-09 13:33] prashant-pokhriyal commented on #1947
Please, guys, it's my humble request not to spam here by just commenting **+1**. GitHub has given you emojis to express your emotions. You can make use of thumbs up if you are in motion of the OP. You can see for yourself how awkward it is looking while going over the thread. If possible delete your comments which contains only **+1**.

[2018-04-09 14:14] kobelobster commented on #1947
@prashant-pokhriyal Normally, I'd agree with you, however this issue exists for almost two years already and neither a contributor, nor a maintainer or owner has EVER written a comment in here. This issue doesn't get any attention anyway.

[2018-04-09 14:20] neildocs opened #4430 "Windows client cannot bypass proxy"
## App Details:

[code]

## Issue Report:

I am working within a corporation network where internet access is proxy'd as most organizations. The postman for Chrome works fine.
But the windows client seems having issue with proxy. I chose to disable the proxy and **not** using system proxy either. But when I was trying to access a local URI such as [http://localhost:8080/xxx](http://localhost:8080/

[2018-04-09 15:04] propi commented on #1104
+1

[2018-04-09 15:50] ADTC commented on #1947
@prashant-pokhriyal can you tell me if you got an email notification or GitHub notification for my confused emoticon on your comment? If not, that's the problem with just adding emoticons into the post or existing comments. No one gets notified. At least with an actual comment everyone gets an email unless they turned emails off.  Or they get a notification inside GitHub.

Also, project owners and

[2018-04-09 15:56] desdoades opened #4431 "HTTP OPTIONS request with automatic follow-up GET request only shows one request in Postman"
Postman for Windows
Version 6.0.10
win32 10.0.16299 / x64

When using the HTTP OPTIONS request method in Postman it automatically executes the GET when the OPTIONS was successful. However the GET is not recorded in the history and I can nowhere see that it was executed.

 1. Did you encounter this recently, or has this bug always been there:
-Unsure, this is the first version of Postman I am using

[2018-04-09 16:00] ChristianWilkie commented on #3835
I encountered this same issue, after removing the newline characters my request worked. Annoying :frowning_face:

[2018-04-09 16:06] ddecesare commented on #2689
I know this issue was closed but I'm seeing the same issue. I'm using Postman native app (version Postman for Windows  Version 6.0.10  win32 10.0.16299 / x64).

It appears Postman is automatically sending the header "accept-encoding: gzip, deflate". I noticed this because while that worked for Wildfly 8, it does not work for Wildfly 11. Wildfly 11 needs the header to look like "Accept-Encoding: ap

[2018-04-09 16:28] govindrai commented on #1947
+1 for collection level headers.

[2018-04-09 21:02] StefNewton commented on #1434
The x-postman-meta extension is included in the Swagger document that is generated when exporting with Postman extensions from the AWS APIGateway. I can't for the life of me find documentation or any mention of this extension outside of this one feature request. Is there documentation out there that I am missing or any other updates regarding this feature?

[2018-04-09 22:32] dwrz commented on #3631
I'm having the opposite issue. With ```SSL certificate verification``` on, I got no errors, even though browser and native apps were reporting invalid certificates. This was with both Linux and Mac versions of Postman.

[2018-04-10 00:42] lisadu commented on #2627
We're seeing this issue as well. If we run the collection with a JSON data file that includes `{"Name": "Test"}`. `{{Name}}` will render in the body as Test, but we need it to be "Test".

[2018-04-10 02:32] yali2015 opened #4432 "postman app not work when sign in with google account"
Hi，
 App Details:

Postman for Mac
Version 6.0.10
OS X 10.12.6

postman app can not work when I sign in with google account, the screenshot as follows:
![image](https://user-images.githubusercontent.com/15867526/38533035-ff2a0e7a-3ca9-11e8-9342-279280cb8c06.png)

[2018-04-10 03:25] #4421 closed, assigned to nobody

[2018-04-10 06:22] kamalaknn commented on #4360
Hi everyone,

Sorry for the delayed response. We've identified the issue with conflicts in history. We'll be pushing the fix out on our Canary channel soon.

I'll update this thread when the fix is out.

[2018-04-10 09:16] zhangbin1991 opened #4433 "When Bulk Edit was clicked, Description didn't follow Key and Value. （Postman v6.0.10）"
## App Details:
Postman for Win7
Version Postman v6.0.10
Windows7 ultimate 64 bit
[code]

[2018-04-10 10:43] emersonf commented on #2621
It's way too easy to get an explosion of configuration with the current setup, e.g. one environment for each combination of different end-users, clients, deployment environments, etc.

If you want to keep the concept of "environments", let us specify an ID for each environment, e.g. `qa`, or `x_qa`. Turn the Environment dropdown into a multi-select. Turn `pm.environment.set("variable_key", "variab

[2018-04-10 11:16] DevTard opened #4434 "Unable to set body type to application/json-patch+json"
Please add the ability to set the body type to `application/json-patch+json` or allow us to set a custom value

This is required by a number of Microsoft's api's

Thanks

[2018-04-10 11:17] alexander-khrystych commented on #2931
+1 to `apt-get` - in combination with current way of Postman distribution on Linux, these popups are getting extremely annoying. It's convenient either to click 'Update' then provide a root password and see an updated app on the screen in a few seconds, or don't update at all till some major updates.

I don't want to go through hacking with re-installing the app to update it to get rid of destruct

[2018-04-10 12:45] benoitolbrechts commented on #3786
I also have the same issue with macOS HighSierra running as guestOS in parallels running on a host macOS.
The only way I have to make it work is to do as @cae5ar mentioned: `Postman.app/Contents/MacOS/Postman --disable-gpu` :(

[2018-04-10 13:06] aeropogi opened #4435 "Avro Support"
## App Details:

Postman for Windows
Version 6.0.10
win32 10.0.16299 / x64

## Issue Report:

I'm using the Kafka-Rest-Proxy from Confluent in order to test our Kafka streams with Postman.  For input data that is text or json, this has been simple to do.  For input data that is AVRO, this has not been possible.  I found an article in the postman documentation (https://community.getpostman.com/t/un

[2018-04-10 13:55] smnkgv commented on #2030
+1

[2018-04-10 14:06] TesterSpike commented on #3943
I use the pass/fail states of the tests to determine whether to continue travelling down one path or another.  It's doesn't feel DRY writing the tests to get the messaging and then rewriting them in a slightly different way to get the pass/fail state so I can have a functioning test suite.
Without this feature postman becomes a lot less useful to me.

[2018-04-10 15:48] sheerlox commented on #285
Oh my god someone please do this or I'll do it :sleeping:
Really needed feature :1st_place_medal:

[2018-04-10 15:58] mattdeluco opened #4436 "lodash already declared"
I have a pre-request script as follows:

[code]

When running my request I get the following error:

`There was an error in evaluating the Pre-request Script:  SyntaxError: Identifier '_' has already been declared`

The problem is that the implicitly declared '_' is for lodash 3.10.1 (I think) while using require brings in a later version - one which has a few more features that I need and that I

[2018-04-10 16:43] dudewad commented on #2336
6.0.10
I can also confirm this is fixed. Severe drop in blood pressure. All is right with the world. Good job Postman crew.

[2018-04-10 16:57] thetreythomas commented on #803
Another +1

[2018-04-10 17:05] vfedorin commented on #1536
Hi,
I'm using `{{$randomInt}}` to create a unique Project name.

[code]
"TestProject-316" is successfuly created on my portal.
However, I see the following in Test Results.

How can I solve that? Thanks

[2018-04-10 17:30] sivcan commented on #1536
@vfedorin - The variables don't resolve in the test script.

However, you can replace your code with this and it'll work for your tests.

[code]

[2018-04-10 18:11] safaiyeh commented on #2762
Has this been addressed?

[2018-04-10 18:36] Rob-DeRosia commented on #4092
I am experiencing this same issue when using NTLM authentication and multiple iterations in the Runner. Each of my collections has the Authorization request as the first request in the collection. The first two iterations succeed, but the third iteration fails with a 401 Unauthorized and the Runner immediately ends running the tests, as pictured below.

![thirditeration401](https://user-images.git

[2018-04-10 18:48] Rob-DeRosia commented on #4352
I am able to reproduce this using Notepad++ and adding a blank line at the end of the file. After removing the blank line, the preview window no longer shows the "/r".

[2018-04-10 20:25] jcallin commented on #2905
+1

[2018-04-10 20:27] connorsadlervelo commented on #285
I wrote a little noddy web server that runs on your computer that can prompt for adhoc values
Please see download and instructions here: https://connorsadlervelo.github.io/
Let me know if it works and is useful - and I can put the code on github for people to work on improving it

[2018-04-10 22:02] vishcious commented on #2621
Worked around this issue temporarily by having the "common" variables in an environment file and moving the variables that change to a data file per "environment" with just one iteration... works for now.

But, yeah, supporting multiple environment files is the real solution

[2018-04-10 22:31] jobidocs opened #4437 "Special Characters from CSV and JSON data files are not displayed or sent in the Body correctly"
Postman for Chrome
Version 5.5.2
win / x86-64
Chrome 65.0.3325.181

When i try and load in a CSV/JSON file encoded in UTF-8 with special characters in the string Postman does not recognize the special characters: for example "Bodhráns" appears as below

![image](https://user-images.githubusercontent.com/38262716/38586805-21eab9ba-3d17-11e8-807a-b8b621c008d4.png)

Do you have any ideas of how i can

[2018-04-10 22:40] EgorZotov opened #4438 "Copy pasted fields from params to body not sent."
## App Details:

[code]

## Issue Report:
 1. Copy/pasted params with a select tool are not sent in the body. Never tried this before.
 2. Copy/paste fields from params fields. Get the full body on request send.
 3. Screenshots :
### These fields were not sent in the body, because they were copy/pasted from params. The test added manualy was sent fine.
![image](https://user-images.githubuserconten

[2018-04-10 22:55] vaishnavidesai commented on #2762
No

On Tue, Apr 10, 2018, 11:11 AM Jason Safaiyeh <notifications@github.com>
wrote:

[2018-04-10 23:08] safaiyeh opened #4439 "No support for WSSE authorization type"
Reopening for Visibility:

https://github.com/postmanlabs/postman-app-support/issues/2762

[2018-04-11 00:25] BobGerman commented on #2214
Turning off SSL certificate validation worked for me (debugging w/VS2017 ASP.NET Core 2.0)

[2018-04-11 00:45] mejobloggs commented on #2934
Strange that Postman still doesn't support audience. I can't use Postman with some API's due to needing audience

[2018-04-11 03:28] xiaodin1 commented on #2004
https://github.com/postmanlabs/postman-app-support/issues/131
Reiterating: For people posting about Elastic: You can replace GET with POST and ElasticSearch will work as expected. We are replacing the underlying networking stack in Postman so that we can have more control than XHR. This is still some time away.

A new Node.js based networking stack will be available soon that will help us add bodi

[2018-04-11 05:53] ashishbhangade commented on #3127
This is postman-
![errorpage](https://user-images.githubusercontent.com/22590200/38598572-85c0192c-3d7a-11e8-85d4-41baf56bd18c.png)

This is App.js file where i am set localhost-
![jssidepage](https://user-images.githubusercontent.com/22590200/38598573-889fbf9e-3d7a-11e8-87bc-fddf203420dc.png)

And this is back-end sever.js file-
![serverside](https://user-images.githubusercontent.com/22590200/385

[2018-04-11 06:18] sivcan commented on #4352
That's what was mentioned in this https://github.com/postmanlabs/postman-app-support/issues/4352#issuecomment-374581610, that the data file that is being uploaded has an escape character that has been added in the end of the file by the editor that is being used.

I am closing this issue since it's not an issue with the app itself.

[2018-04-11 06:18] #4352 closed, assigned to sivcan

[2018-04-11 07:43] jobidocs commented on #4437
Also, when i try to send the variable through in the body text, it will send the corrupted character in the string.

[2018-04-11 08:25] vfedorin commented on #1536
Thanks @sivcan. It turned out that solution in my case is `var number = Math.floor(Math.random() * 1000);` provided by @pawanrawal since I send POST request with parameters in body.

So,
Pre-request script is
[code]
and Body is
`{"name":"{{projectName}}","code":"{{projectCode}}","description":"Test Project"}`

Thanks guys!

[2018-04-11 08:32] augustinfla commented on #3754
@prashantagarwal, hi, Do you have a date for this feature?

[2018-04-11 09:38] iuriiismirnov commented on #1607
One for me, please

[2018-04-11 10:05] GuillaumeTroyon commented on #3312
+1

[2018-04-11 10:10] dar88rm commented on #3312
+2

[2018-04-11 10:34] aiannello commented on #3312
+1

[2018-04-11 11:58] makuc commented on #2096
Still nothing.... I guess developers don't really like hearing others about their feedback and just blatantly disregard it... Disappointing indeed...

[2018-04-11 12:01] sdnts commented on #4432
Hi @yali2015, Is this still happening? We had some issues with services yesterday, this should be working now. Please let me know if you're still unable to sign in, and I'll reopen.

[2018-04-11 12:03] sdnts commented on #4433
Hi @zhangbin1991, Descriptions are currently not supported in Bulk Edit mode, as it is meant to be a quick way to work with your key-value pairs. When you switch back to the Key-value editor, descriptions should be restored. Do let me know if restoration is not working, or if I misunderstood your request, and I'll reopen this :)

[2018-04-11 12:03] #4433 closed, assigned to nobody

[2018-04-11 12:05] sdnts commented on #4434
@FLM96, You should be able to do this by selecting `Raw` as the body type and sending over a custom `Content-Type` header with value `application/json-patch+json` in the request headers. Do let me know if this does not work, and I'll reopen :)

[2018-04-11 12:05] #4434 closed, assigned to nobody

[2018-04-11 12:10] sdnts commented on #4436
Hi @mattdeluco, this is intended. While lodash 4 is the latest version of the library, breaking changes were introduced with v4. To avoid Postman scripts breaking, we still ship v3 by default, but give you the option to `require` v4, if you need.

As for your error, you can resolve it by simply renaming your variable from `_` to something else.

I'm closing this, I hope this was helpful! If not, d

[2018-04-11 12:10] #4436 closed, assigned to nobody

[2018-04-11 12:12] sdnts commented on #4439
Hi @JSafaiyeh, we track all features, no matter how old, and are adding new functionality as fast as we can! I'm closing this, since this is a duplicate, please follow that thread for updates, thanks!

[2018-04-11 12:12] #4439 closed, assigned to nobody

[2018-04-11 12:17] sdnts commented on #4437
Hi @jobidocs, Is this just an issue with preview or are these characters actually sent incorrectly with the body?

[2018-04-11 12:29] sdnts commented on #4435
Hi @aeropogi, I agree that an `eval` isn't an ideal way to include a library, we will look into this.
However, the error you're getting looks like a JS error, so there must be some invalid access somewhere in your script. I bet you've done this already, but does a `console.log(avro.Type)` right before the access log `undefined`?

If not, can you also check if the error happens during the `eval`? I

[2018-04-11 12:30] jobidocs commented on #4437
Hi madebysid,
Yes, they are being sent incorrectly with the Body. I can't work out for the life of me why postman isn't loading the characters correctly. The files i'm using are saved in UTF-8 format, so it should be all ok.
Any help would be very much appreciated
Thanks

[2018-04-11 12:32] sdnts commented on #4438
Hi @EgorZotov, I was unable to reproduce this. Can you record a screencast of you doing this or something? That would help me get to the bottom of this faster. Thanks!

[2018-04-11 13:24] roukmoute opened #4440 "Paste Raw Text with URL-encoded query string does not work properly"
## App Details:
[code]

## Issue Report:
 1. I encounter this recently.
This happends when we paste a cURL in `Import` → `Paste Raw Text`.

 2. Expected behaviour: Decodes any %## encoding in the given string

Paste this text in:

[code]

Instead of having:
![image](https://user-images.githubusercontent.com/2140469/38619221-f8839486-3d9b-11e8-8944-ea34d89f1357.png)

We have this trouble:
![image](

[2018-04-11 14:05] scott-davidjones opened #4441 "Feature Request - Seperate Environment for each Workspace tab"
[code]

Hi,

I work with various environments in one postman window. It would be highly beneficial to me to be abel to have 1 tab open connected to my local environment and anther tab open connected to a different environment (say development). At present i have to keep switching tabs and then environments to compare results.

Not a major hassel but would speed up my workflow.

[2018-04-11 14:11] scott-davidjones opened #4442 "Feature Request - Non sync'd variables/env variables."
## App Details:
[code]
Hi,

I currently work as part of a large team at a clients premesis. My Client has control of the Team workspace which I am apart of and I dont wish to have a local/personal copy of their collections.

We are experiencing an issue with multiple developers running messages against a development environment and thus updating various environment variables (unique id's, statuses

[2018-04-11 14:22] mig-1 commented on #2030
+1

[2018-04-11 15:01] griffinwalker commented on #2985
same issue on arch linux 4.15.3-2-ARCH running i3wm

[2018-04-11 15:58] deepthakannan commented on #2392
+1

[2018-04-11 16:50] aeropogi commented on #4435
Siddhant,

I had not done the console.log, so I tried that and it came back as null.  I then put a catch block around the eval to see if there were errors happening during the eval, but there was no return.  Not sure if I did the catch block properly, so here is how I did it.

try {
    var avro = eval(pm.globals.get("avsc"));
} catch (e) {
    console.log(e.message);
}

Going to look at browserif

[2018-04-11 16:53] anodynos commented on #2799
@madebysid I am using the latest (`Postman-linux-x64-6.0.10.tar.gz`) from https://www.getpostman.com/apps - I still can't find `Settings -> Update -> Automatic` updates option :-(

[2018-04-11 18:01] amritajainBeachbody commented on #2425
Yes, we are experiencing similar issue.
For example: A test that asserts "firstName" in response fails via newman and works fine when run from app individually.

- node_modules/.bin/newman run tests/postman/collections/<collectionName>.postman_collection.json --folder <folderName> -e tests/postman/envs/<env>.postman_environment.json

[2018-04-11 19:29] sivcan commented on #4437
@jobidocs - I copied the same string as you've mentioned and tried in both the Chrome App and the [Native App](https://www.getpostman.com/apps) but wasn't able to reproduce this issue.

As you can see the preview here:
![image](https://user-images.githubusercontent.com/12631777/38638445-e48eb186-3deb-11e8-8c5c-722c167cf8d3.png)

Can you download the [Native Postman App](https://www.getpostman.com/

[2018-04-12 00:21] Pablodotnet commented on #2425
Which version of Postman and Newman are you using? and which OS?

[2018-04-12 00:28] amritajainBeachbody commented on #2425
Sure,
newman version = 3.9.3
postman version = 6.0.10
OSX El Capitan

Upon further debugging found that:
The tests are failing because newman is not able to set Postman variables.

postman.setEnvironmentVariable("accessToken", jsonData.accessToken); --> works fine on app
postman.setEnvironmentVariable("accessToken", jsonData.accessToken); --> doesn't work in newman

We generate accessToken in firs

[2018-04-12 01:26] Pablodotnet commented on #2425
Uuuhm I'm doing that in all my tests and aren't failing, this is how my tests looks like when doing that:

[code]

And in the next call I use it on header like this on Headers tab:
[code]

Or if you are going to use it on the route it needs to be like this:
[code]

If you are going to use it on request's body in form-data view you should use it like this:
[code]

If you are going to use it on body

[2018-04-12 02:57] tim-view commented on #3503
I had this issue when there was a trailing white space on a header value. The postman console showed me the error and removing that solved my issue.

[2018-04-12 04:56] aseemgautam commented on #1104
+1

[2018-04-12 07:25] TheNilesh opened #4443 "Repeated sync conflict"
Unknown sync conflict continues to re-appear. Choosing either of Local Value or Server Value doesnt helps.

## App Details:

[code]

## Issue Report:
 1. Encounter this recently since the last update. Since February 2018 (approx).
 2. Expected behaviour: No repeated sync conflict errors.
 3. Console logs ?
 4. Screenshots
![image](https://user-images.githubusercontent.com/5434666/38661532-d37f2a70

[2018-04-12 07:32] yogimishra96 commented on #1473
CTRL + B worked for me (Ubuntu 16.04 LTS )
Postman for Linux Version 5.5.0 Linux 4.4.0-116-generic / x64

*Remember
1. your cursor should be inside text area otherwise it won't work.
2. select  JSON(application/text). huh obviously if you paste json their.

[2018-04-12 08:15] btosic commented on #2030
+1

[2018-04-12 09:01] Ivanello commented on #1429
+1

[2018-04-12 09:03] DanielPetatCes opened #4444 "URLEncode plus sign in query parameters"
## App Details:
[code]

## Issue Report:
I use the "Params" view to enter some query parameters for a GET request.
In my case, I need to send an timestamp in ISO format, which includes a + sign.
So I enter the value ```2018-04-12T10:28:47.4453505+02:00```

But as in
https://en.wikipedia.org/wiki/Query_string#URL_encoding
my server side thinks, the + sign means a whitespace. So I get an Exception w

[2018-04-12 09:28] ghost commented on #4443
Hi Nilesh,
This issue has been reported earlier. #4360
We'll be pushing the fix out on our Canary channel.
Closing this issue.

[2018-04-12 09:28] #4443 closed, assigned to nobody

[2018-04-12 11:37] junejosheeraz commented on #3001
Postman-Interceptor extension was missing. Once installed and enabled in PostMan (as described above for extensions) it works like a charm. Thanks.

[2018-04-12 12:48] jobidocs commented on #4437
Ah great - thanks, it was an encoding error from this end. I've got it working now!
Thanks for your time!

[2018-04-12 12:48] #4437 closed, assigned to sivcan

[2018-04-12 12:54] mjaverto commented on #3014
@a85 is this live? I also have a pro account and am not seeing where I can upload this?

[2018-04-12 14:33] gustavo-almeida commented on #1473
~Stopped working today after update to v6.0.10 (Windows client)~
Back to work on same version. Crazy

[2018-04-12 14:43] vikt0rs commented on #6682
@tegomass it sounds really tricky. Could you please show any example of this approach?

[2018-04-12 15:11] saripr opened #4445 "Difference in behaviour with postman collection runner and newman"
When I run tests from collection runner some tests fails and those pass in newman 3.9.1

## App Details:
Version 6.0.10
newman 3.9.1

Postman for Ubuntu
Version 6.0.10
ubuntu 16.04 LTS
[code]

[2018-04-12 15:45] StefNewton commented on #2691
A CLI interface for Postman would be so helpful, please update on progress!

[2018-04-12 15:53] billxinli commented on #2691
+1 on this, would like to export a collection to git.

[2018-04-12 15:57] rfarinel opened #6683 "Feature Request: Add functionalty to compare PM Response to a saved example"
Version and environment information:

 1. Newman Version: 3.9.3
 2. Windows 10:
 3. Newman Library
 3. Did you encounter this recently, or has this bug always been there: N/A
 4. Expected behaviour: N/A
 5. Command / script used to run Newman: n?A
 6. Sample collection, and auxiliary files (minus the sensitive details): N/A
 7. Screenshots (if applicable): N/A

Hi, I was wondering if the was any w

[2018-04-12 17:13] Rast1234 opened #4446 "Postman fails to display response if multiple Content-Length are present"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: just encountered it
 2. Expected behaviour: display at least response code and headers
 3. Console logs: N/A
 4. Screenshots (if applicable): N/A

Steps to reproduce the problem:

Have some server which responds to you with duplicate Content-Length. Example raw response:

[code]

The l

[2018-04-12 17:54] amberream commented on #1104
+1

[2018-04-12 17:58] amberream commented on #3331
Confirmed it works on Linux, but not on Windows.  Would be great to get it working on Windows...

[2018-04-12 19:48] dangerusslee commented on #4310
I have the same issue - no icon on windows 10.

[2018-04-12 20:01] EgorZotov commented on #4438
Hi, @madebysid
Here is the video of reproducing steps. I got simple endpoint that returns the body of a request.
https://youtu.be/Wun4e4yJhbk
It can be copy/paste or cut/paste it doesn't matter.

[2018-04-12 21:31] HollowayT opened #4447 "New collections not syncing to team workspace without closing and re-opening the app"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently encountered
 2. Expected behaviour: When creating a new collection it should be immediately synced for all on the team workspace to see. Adding, editing and deleting requests of an existing collection are all instantly synced, but not when creating a new collection.
 3. Consol

[2018-04-12 21:53] brugr9 commented on #2678
+1: `crypto.createHmac('sha1', pm.apiToken)`

[2018-04-12 21:54] brugr9 commented on #3646
+1: `crypto.createHmac('sha1', pm.apiToken)`

[2018-04-12 23:22] TommyZG commented on #3596
+1 on this issue in the name of a 100 million South&East Europeans...

[2018-04-13 02:05] JakePenzo commented on #4442
Having the same issue.
There should be a Local set of variables that each user can refer to, for example the "auth token", should be stored in the local set, otherwise dev1 is going to override the token of every other dev working on the same collection with the same env.

[2018-04-13 02:27] hoya1101 commented on #2392
+1

[2018-04-13 03:16] BillWilson opened #4448 "Got error when I try to press the "Run in postman""
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
It's still exist.
 2. Expected behaviour:
Easily share my postman doc with it and open the app
 3. Console logs:
Check the screenshots
 4. Screenshots (if applicable)
![](https://i.imgur.com/Vsq68m7.png)

I got the console error when I have some non-ascii character in my document.

[2018-04-13 03:27] BerkanYildiz commented on #3759
Still an issue, had to restart postman and flush the dns cache.

[2018-04-13 03:37] JakePenzo opened #4449 "Feature Request - Better and easier Variables"
I agree with @vdespa, documentation is confusing and current variables are a limit when you share the collection with a team.

**Current situation:**
In the current version - from my understanding - we have 3 available scopes on where we can store variables:

- global
- collection
- environment

Scopes follow the hierarchy specified in the documentation:

- global
- collection
- environment
- loca

[2018-04-13 03:43] yali2015 commented on #4432
Hi @madebysid I have try it again, but it's still not work like above screenshot.

[2018-04-13 04:13] zhulingbiezhi commented on #3574
I also found that this problem cannot be imported into the test. Can you fix it on native app. Guys. Even the use of official examples does not useful.

[2018-04-13 07:52] K232 opened #4450 "Export Monitoring results"
Hi all,
is it possible to automatically export the results for each scheduled monitoring run so I could build my own summary of response times e.g. in excel? I couldn't find any information in the docs, and #4172 is for manually creating a CSV, so I guess it's currently not possible. Any ideas?
Many thanks

[2018-04-13 08:39] sivcan commented on #4445
Hi @saripr - Are you sure that the globals that you're using in newman also exist in the app ?
Can you check that ?
![image](https://user-images.githubusercontent.com/12631777/38725213-3f0a8f0c-3f24-11e8-9eeb-c77c43490efc.png)

Did you export the globals from newman and imported them into to the app ?

[2018-04-13 08:59] kamalaknn commented on #3952
Hi @Jothay

This should be fixed in our latest version of Postman. Could you update your app and verify if you're still seeing performance issues?

I'm closing this issue, please report to us if the issue persists.

Thanks!

[2018-04-13 08:59] #3952 closed, assigned to numaanashraf

[2018-04-13 09:00] kamalaknn commented on #3727
This has been fixed in the latest version of Postman.

I'm closing this issue, please report to us if this issue still exists.

Thanks

[2018-04-13 09:00] #3727 closed, assigned to kamalaknn

[2018-04-13 09:17] saripr commented on #4445
I have the variables in both app and newman. I have checked it with console log and this is the behaviour:
For this expect(jsonData[environment.decodedNonExistAdSlot][globals.error]).to.equal(globals.keyNotExistsMessage); statement in the code
1. If I check with the string directly like below in console log of postman as below, it displays the correct value:
console.log(jsonData[environment.decode

[2018-04-13 10:29] ronnysteiner commented on #1475
+1

[2018-04-13 10:54] john-dev commented on #843
Can you provide the link to the open source converter?

[2018-04-13 10:59] dhineshwiz commented on #4450
Hi @K232  Currently there is no option to download monitoring reports, thanks for suggestion, I'll be putting it up as a feature request.

[2018-04-13 11:25] sivcan commented on #4445
@saripr - If I got you correctly..

I prepared this request that does a similar thing and you can see in the console log that it works fine.
![image](https://user-images.githubusercontent.com/12631777/38732132-c8b9b1fe-3f3a-11e8-93b8-5d74fa11f12a.png)

Console log after running that request:
![image](https://user-images.githubusercontent.com/12631777/38732153-d7ec92c2-3f3a-11e8-92fa-c8dd2b50ca5a.p

[2018-04-13 11:26] brendanborgelt commented on #2761
+1 for this feature

[2018-04-13 12:03] dhineshwiz commented on #4448
Thanks for reporting the issue, we will look into it

[2018-04-13 12:26] dhineshwiz commented on #4446
Thanks for reporting the issue, we will look into it

[2018-04-13 12:41] dhineshwiz commented on #4449
Hey @JacopoKenzo This is a great feature, Thanks for your suggestion, I'll be putting it up as a feature request.

[2018-04-13 12:54] Tenkasi-Subramanian opened #4451 "XML to HTML response converter not working properly"
## App Details:
Postman for Win64
Version 6.0.10

[code]

[2018-04-13 13:02] Tenkasi-Subramanian opened #4452 "Not able to convert SOAP WSDL API XML Response to Postman REST JSON Response by giving wt=json at end of the endpoint"
## App Details:
Postman for Win64
Version 6.0.10
[code]

[2018-04-13 13:35] AndriiStepura opened #4453 "Postman (v6.0.10) Runner > Run Summary > all calls after 54th marked as failed"
## App Details:
v6.0.10 Win 10

## Issue Report:
 1. In Runner > Run Summary report - all calls after 54th marked as failed
![runnersummaryfailedred](https://user-images.githubusercontent.com/30338636/38737785-96e7e4b6-3f30-11e8-89a6-71f511156515.png)

[2018-04-13 13:35] AndriiStepura commented on #4453
P.s.: not reproduced with Postman v6.1.0-canary02

[2018-04-13 14:31] nlaffey commented on #2140
@abhijitkane echoing what Tzvika-m said... I really want to use Postman but the communication around what to use and how to get interceptor working has been really confusing/frustrating for the past few years.

[2018-04-13 14:33] nlaffey commented on #3793
I've also been frustrated by communication around the how to use the interceptor feature with the Native App. The documentation makes it seem like this is possible but I haven't been successful.

[2018-04-13 14:42] KevinLeigh commented on #2701
+1

[2018-04-13 14:45] godeater commented on #4430
I'm getting the same issue. Despite have the proxy settings in the app turned off - all requests I'm sending are still trying to go via the corporate proxy - meaning tests against internal services are now failing.

On more investigation - this appears to be because postman is picking up the values of http_proxy/https_proxy environment variables.

[2018-04-13 15:47] aggieben commented on #3322
I used this in my pre-request script:

[code]

You can use this on any part of the request that uses environment variables.

[2018-04-13 16:02] Tataraovoleti commented on #3942
Having same issue even though i turned off both settings

![image](https://user-images.githubusercontent.com/4704085/38745442-2e71f3f4-3f62-11e8-9f8e-52c1a2581589.png)

[2018-04-13 16:06] enzod-lgtm commented on #3312
+1

[2018-04-13 17:26] josevavia commented on #2722
I asume that this bug is still present, isnt it?

I have this problem in both chrome extension and linux app

[2018-04-13 17:48] mccannical commented on #1475
+1

[2018-04-13 18:47] BenjaminEHowe opened #4454 "Raspberry Pi support"
It would be great if Postman could support the Raspberry Pi. It's a pretty capable little device for desktop computing. Over [19 million units](https://www.raspberrypi.org/blog/raspberry-pi-3-model-bplus-sale-now-35/) have been sold, making it the [third best-selling computer of all time](https://www.techradar.com/news/the-raspberry-pi-is-now-the-third-best-selling-computer-of-all-time).

I apprec

[2018-04-13 18:52] rfrew commented on #2452
We did the same thing as @kasvith The only other added thing we did is add in a {token_time} Key so we did not go get a new token every time we made a request. @simonhamp that might help you with your timeout situation. I go crazy with variables because I have different environments all of the place that I use the same call for.

The code
[code]

<img width="799" alt="screen shot 2018-04-13 at 1 5

[2018-04-13 19:19] rsweetland commented on #3731
Update (4 months later):

I tried my best to make the Postman docs work without custom css / JS but ended up going elsewhere. The last straw was a lack of named anchors on headings. (All of which is remediable by custom JS / CSS).

After trying various options I just decided to pay $50/mo for readme.io. Postman still serves as the documentation for only REST API endpoints. I would have rather paid

[2018-04-13 20:02] thomdabeast commented on #3703
Still having this issue.

[2018-04-13 21:45] tinghf commented on #2392
+1

[2018-04-14 02:39] windupurnomo commented on #1654
I have an issue when using runner and json file contains array. I got error: "Data file format is not right". Here is my json input file:

[code]

[2018-04-14 04:51] sivcan commented on #1654
Hi @windupurnomo - You're using the deprecated Chrome App for Postman and I can confirm that the [latest native app for Postman](https://www.getpostman.com/apps) is working perfectly fine with this data file.

I advise you to kindly download the latest native apps for your system.

Here's the screenshot for the same:
![image](https://user-images.githubusercontent.com/12631777/38764476-7cf8c7a8-3fc

[2018-04-14 11:18] davideghz opened #4455 "Accessibility: Color Blind friendly theme"
Hi, not sure whether this is the right place to post about this or not, but it would be great to have the possibility to chose which color to use for http verbs in the left sidebar:

To me, the GET & POST labels look like they have exactly the same color and are not easily recognizable at first glance :)
![image](https://user-images.githubusercontent.com/6973157/38767655-a86f79aa-3fe5-11e8-9782-0a

[2018-04-14 14:27] itsjavi commented on #843
@a85 we use Postman at my company with a team license and we use Open API 3.0 too, which is automatically generated from our API. We have in the other hand to maintain Postman manually every time we have new endpoints or changes in our API...

Please understand that being able to import Swagger/Open API (an specification being supported by big companies like Google, Microsoft) is an invaluable and

[2018-04-14 14:33] itsjavi commented on #3390
@a85 we use Postman at my company with a team license and we use Open API 3.0 too, which is automatically generated from our API. We have in the other hand to maintain Postman manually every time we have new endpoints or changes in our API...

Please understand that being able to import Swagger/Open API (an specification being supported by big companies like Google, Microsoft) is an invaluable and

[2018-04-14 15:31] rhysv96 commented on #1947
+1, please add this

[2018-04-14 20:56] kudinov-fedor commented on #1535
There is a possible work around of this problem within postman collection.

You can add some technical requests, which settle list of requests in globals (e.g ["request 1", "request 3", "request 5"] ), and during execution you need to iterate through this list to calculate next request and place it in postman.setNextRequest() dynamicaly in requests "Tests" section.

Here is an example to demonstra

[2018-04-15 03:30] acemrek commented on #4061
+1

[2018-04-15 03:37] crysislinux commented on #4360
What's the status now? I think it's a major problem and should be put on top of the priority list. Is the issue a server side problem or client side problem and do we need to update the client to fix it?

[2018-04-15 11:52] kmelodi opened #4456 "collection is not displayed"
## App Details:

[code]

## Issue Report:
 1. After adding the collection using the url, the collection is not displayed

[2018-04-15 14:25] johncaruso commented on #4079
+1

[2018-04-15 15:11] Syndesi commented on #4079
@thecuriousdev any idea if this feature can be implemented?

[2018-04-15 18:42] sumchat opened #4457 "I am not able to send form-data through POST in windows 10."
I am using windows 10. I cannot use POST.

POST /api/sellers/558/products HTTP/1.1
Host: localhost:8000
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW
Cache-Control: no-cache
Postman-Token: 81886c5f-8a83-d79d-c676-ec348fdb5345

------WebKitFormBoundary7MA4YWxkTrZu0gW
Content-Disposition: form-data; name="name"

Almond1
------WebKitFormBoundary7MA4YWxkTrZu0gW
Cont

[2018-04-16 02:58] centur opened #4458 "Importing Swagger 2.0 without 'summary' field produces broken Postman collection - no names in operations."
## App Details:
[code]

## Issue Report:
**Did you encounter this recently, or has this bug always been there**: Recently, previously no such issue observed.

Issue : If Swagger definition doesn't contain `Summary` field for operation - Postman's collection entry will have empty "Name" and it won't be possible to edit it in an existing entry tab.

Steps to reproduce the problem:
1. Take this [Pets

[2018-04-16 03:32] centur commented on #4414
This issue looks similar to #4458 . I have simple reproduction there.

[2018-04-16 07:16] levinor opened #4459 "Postman APP "Could not get any response" from localhost"
## App Details:
Postman for Windows
Version 6.0.10
win32 10.0.14393 / x64

## Issue Report:

Hi,

I'm new using Postman. I tried to debug a web site using the Postman APP, in Chrome the web loads perfectly but in Postman APP I allways get "Could not get any response". I tried to use

http://localhost:53230/Default.aspx
http://127.0.0.1:53230/Default.aspx
http://[::1]:53230/Default.aspx

With the s

[2018-04-16 08:52] yali2015 commented on #4432
@madebysid HI can you resolve it as soon as possible?

[2018-04-16 09:42] xchopin commented on #793
Problem appears after the new update.

- Version: 6.0.10
- OS: macOS High Sierra
- Size of the response: 19.53MB
- Time of the response: 5896ms
- Description:
     _First of all it looks like it takes more time to load documents_. After loading :
    * If PostMan was in a window and then I enable the full screen on Mac I get a GUI issue (it doesn't resize the client: it just adds a grey background

[2018-04-16 09:55] slim-hmidi opened #4460 "Failed to import collection APItude"
## App Details:

[code]

I'm trying to import APItude in postman so I clicked import from link and I enter this link:
[code]
I got this error :
[code]

I deleted all the environments and everything in postman, however when I import I got this popup:
[code]

How can I fix that?

[2018-04-16 10:05] harryi3t commented on #4457
@sumchat Could you share a screenshot of the app as well as of the Dev Tools

[2018-04-16 10:17] myspringleaf commented on #2392
+1

[2018-04-16 10:29] hafeefshaik commented on #4459
@levinor even I am facing the same issue. Thanks for reporting.

[2018-04-16 11:09] sdnts commented on #4456
Hi @kmelodi, can you provide some more steps to reproduce this? Maybe a screencast or something? If this is happening for only one collection, can you share the collection here? If it contains private info, please redact it, or email it to help@getpostman.com.

[2018-04-16 11:36] sdnts commented on #4460
Hi @slim-hmidi, I've removed the link you posted here because I saw that it had sensitive information in one of its saved responses. I'd advise against that since you might accidentally leak internal data.

I was able to reproduce this, though. It looks like the collection itself is malformed. Do you have access to the original collection (or do you know who the author is?). If so, can you ask the

[2018-04-16 11:40] ChristofferKarlsson commented on #3783
Did anyone of you find out why this is happening?
I'm also on Arch and I am experiencing the same problems. Have tried both `postman` and `postman-bin` from the AUR.

[code]

[2018-04-16 11:42] sdnts commented on #4454
Hi @BenjaminEHowe! It's super interesting that you're trying to run Postman on a Pi. We use Electron to package our native apps, which does not support arm64 yet, which the Pi uses (correct me if I'm wrong).
If, however, you want to run collections on the Pi, I'd recommend installing Node on it, and taking a look at [Newman](https://github.com/postmanlabs/newman), which is a command line collectio

[2018-04-16 11:42] #4454 closed, assigned to nobody

[2018-04-16 11:43] sdnts commented on #4455
Hi @davideghz! This is indeed the right place to post feature requests :)
We're working on customizable themes currently, so when that goes out, you should be able to make one yourself! I'll mark this as a feature request and update this thread when we have more info!

[2018-04-16 11:46] sdnts commented on #4453
@AndriiStepura, this is super weird, however, I'm glad it is fixed on the Canary channel.
Were the Summary and Results page differing? Or were both pages wrong? You might want to check your scripts to see if something was up there.
I'm closing this for now though, since this seems to be fixed!

[2018-04-16 11:46] #4453 closed, assigned to nobody

[2018-04-16 11:50] BenjaminEHowe commented on #4454
At the moment most Raspberry Pi operating systems use the `armv7l` architecture. There are a few 64-bit operating systems (e.g. [SUSE](https://www.suse.com/products/arm/raspberry-pi/)) but at the moment [there are no plans for the "official" operating system (Raspbian) to use 64-bit instructions](https://www.raspberrypi.org/blog/eben-q-a-1/) as this would break backwards-compatibility.

A quick Go

[2018-04-16 11:51] anttikiiveri commented on #1066
+1

[2018-04-16 12:54] saripr commented on #4445
attaching my screenshots for more clarity:

![selection_082](https://user-images.githubusercontent.com/10835735/38810132-1c5f63ec-4186-11e8-82e1-92ccdc94aba0.jpg)
![selection_083](https://user-images.githubusercontent.com/10835735/38810136-1e462ff6-4186-11e8-886a-6a705f3b8da9.jpg)

[2018-04-16 13:25] ejwinter commented on #1744
+1, I can't see investing the time to crafting our API in Postman without this feature and I don't want to post it for transformation to a third party (potential IP).

[2018-04-16 13:43] Tenkasi-Subramanian commented on #4452
![image](https://user-images.githubusercontent.com/38352845/38812536-25e847fc-41aa-11e8-864f-da8b5b7ee7c9.png)

[2018-04-16 13:46] Tenkasi-Subramanian commented on #4452
See the above image. &wt=json at the end of the endpoint converted XML Response to JSON response. I want same type of conversion for post response also which is given in Issue section.

[2018-04-16 15:19] sdnts commented on #4458
Hi @centur, thanks for reporting this, I was able to import this collection and see the empty name. However, I don't understand what you mean by `neither this value can be entered or edited if the entry is open`.
Can you try using the shortcut `Cmd/Ctrl+E` on the sidebar to rename this? There is also a dropdown option to rename. I was able to rename it using both these ways. Can you give them a sh

[2018-04-16 15:21] scottydocs commented on #3731
Any news on this? This could be real deal breaker as to whether we use Postman or another tool.

[2018-04-16 16:16] tomasaschan opened #4461 "Postman does not respect the ordering of multi-part form data fields when POSTing"
## Issue Report:
I'm [having trouble with part-ordering of multi-part requests](https://stackoverflow.com/questions/49771811/postman-ordering-of-fields-in-form-data-request), and it seems that Postman _does_ respect the ordering of text parts, but not for file parts. The server I'm using [requires that files are sent last](https://github.com/jaydenseric/graphql-multipart-request-spec#multipart-for

[2018-04-16 18:57] hongaar commented on #3731
Too bad. I really don't want to setup another documentation project somewhere else and coordinate/automate changes to both of them, and I hate to admit we are considering a similar setup as well - we start to miss this feature too much.

/ping @SamvelRaja @godfrzero

[2018-04-16 19:22] AndriiStepura commented on #4453
@madebysid just in "Summary" (as described in the title and steps for reproducing ;) ), at Run Results all are green.

[2018-04-16 20:26] gurpiarbassi commented on #166
+1 for custom methods

[2018-04-17 01:19] sumchat commented on #4457
I was facing the problem in the  Chrome app. But when I downloaded the windows app it worked fine. Seems like it is a problem only in the Chrome app.

[2018-04-17 01:19] #4457 closed, assigned to harryi3t

[2018-04-17 03:14] nnanda2016 opened #4462 "POSTMan does not support iOS 11 image formats (HEIC/HEIF)"
When using Multipart file upload feature in POSTMan, if I attach an iOS 11 image file (`.heic`/`.heif`), the MIME sent to server is `application/octet-stream`. Ideally, the MIME should be  one of the followings
- `image/heic`
- `image/heif`
- `image/heic-sequence`
- `image/heif-sequence`

[2018-04-17 05:07] centur commented on #4458
Thanks, I forgot about that option (Ctrl+E). It's working, also I can click on triple dots and rename from there.
What I meant is this:
I expect to see empty "Name" control where I can input name when I'm on tab with request. Compare these 2 screenshots:

 Valid Summary (and valid name with that `|>` arrow control to expand it)
![image](https://user-images.githubusercontent.com/720822/38849570-0f3

[2018-04-17 07:47] sabandemirci commented on #2978
+1

[2018-04-17 08:27] tomasaschan commented on #4461
Got some help troubleshooting this with a colleague, who could reproduce the behavior on Mac as well (still version 6.0.10).

With a request body like this:

<img width="1161" alt="postman" src="https://user-images.githubusercontent.com/1550920/38857417-8605bab4-4229-11e8-9254-f8d3490d22b2.png">

the raw HTTP request looks like this:

[code]

I would have expected (and needed) the first part to ha

[2018-04-17 09:01] imranismail commented on #3199
Any update on this?

[2018-04-17 09:42] hiasl commented on #1678
+1 (and PLEASE bertyhell - don't be so berty)

[2018-04-17 10:25] tarcom commented on #4360
This issue is a bit of a pain in the but. Looking forward for a fix, or a way of turning off the sync.

[2018-04-17 12:13] oleksii-lukin opened #4463 "Editing duplicated tab title affects all duplicated tabs"
## App Details:
[code]

## Issue Report:
I only started using Postman so not sure if this worked like this before or not

Reproduce steps:
1. Duplicate tab.
2. Rename new tab.
3. Tab from which you duplicated new tab is also renamed.

Expected behavior
1. Duplicate tab.
2. Rename new tab.
3. Only new tab should be renamed, old tab should keep it's old name

https://imgur.com/a/t9ukb https://imgur.

[2018-04-17 12:15] scott-davidjones commented on #4442
believe this feature is the same as this new feature request:
https://github.com/postmanlabs/postman-app-support/issues/4449

details in the new feature request superceed this request.

[2018-04-17 12:15] #4442 closed, assigned to nobody

[2018-04-17 12:15] scott-davidjones commented on #4449
closed my feature request (https://github.com/postmanlabs/postman-app-support/issues/4442) in favor of this one

[2018-04-17 12:27] kamalaknn commented on #4463
Hi @llamerr

This seems to be an inconsistent behavior. When the same request is edited in two tabs the changes are not propogated to other tabs. But this name update seems to update other tabs as well.

We are working on improving the overall experience with tabs. We will revisist this soon.

Thanks.

[2018-04-17 12:45] Seluj78 commented on #2691
Agreed ! Would love a tool to automate exporting of collections too

[2018-04-17 12:47] kamalaknn commented on #4461
Hi @tlycken

I'm trying to reproduce this, but I always see the form body in the order I've specified. Could you share a collection probably using `https://postman-echo.com/post` so that we take a closer look?

[2018-04-17 13:29] harryi3t commented on #4459
@levinor @hafeefshaik
It's a known issue https://github.com/postmanlabs/postman-app-support/issues/4045, https://github.com/postmanlabs/postman-app-support/issues/3942
Postman will take the proxy settings from some environment variables (http_proxy, HTTPS_PROXY, etc) even if they are turned off from the UI

For now, the workaround is to open the Postman app with these variables unset. For this sim

[2018-04-17 13:29] #4459 closed, assigned to harryi3t

[2018-04-17 13:43] ypolishetty commented on #3747
Any update on the timeline please?

[2018-04-17 14:12] saripr opened #4464 "Accessing elements inside an array for a global variable"
When I run tests from collection runner some tests fails and those pass in newman 3.9.1

App Details:

Version 6.0.10
newman 3.9.1

Postman for Ubuntu
Version 6.0.10
ubuntu 16.04 LTS

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:yes
 2. Expected behaviour:Display the first element of the array
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabli

[2018-04-17 14:13] saripr commented on #4464
![selection_085](https://user-images.githubusercontent.com/10835735/38875276-4febae1c-425a-11e8-8d01-3a4697ecb2f7.jpg)

[2018-04-17 14:15] saripr commented on #4464
![selection_085](https://user-images.githubusercontent.com/10835735/38875411-975101a8-425a-11e8-801b-8620dcc34cdb.jpg)

[2018-04-17 14:17] #4445 closed, assigned to sivcan

[2018-04-17 14:32] sivcan commented on #4464
@saripr - This is because the globals are stored as string in the app.

You're parsing them in the variable b thus it's converted to an array and checking the index - [0] is giving you the actual value at index 0 whereas when you're directly trying to access the value it's returning a string and the `"` is at the 0th index of the string thus you're getting the first character being printed.

The s

[2018-04-17 14:32] #4464 closed, assigned to nobody

[2018-04-17 14:38] erkib commented on #3504
I have also the issue that the connection to sync service is failing. From shared console:
WebSocket connection to 'wss://sync-xi.getpostman.com/socket.io/?__sails_io_sdk_version=0.11.0&__sai…tform=browser&__sails_io_sdk_language=javascript&EIO=3&transport=websocket' failed: Error during WebSocket handshake: Unexpected response code: 202
Postman version: 6.0.10
I can assure the same problem exists

[2018-04-17 15:37] steeveroucaute commented on #3117
+1 not being able to comment and properly document a JSON payload is a blocker for me. Swagger has data models which is way more useful to document complex objects.

[2018-04-17 15:50] atomical commented on #675
+1

[2018-04-17 19:55] narehart opened #4465 "Code snippet for cURL uses incorrect Content-Type when form data includes a file"
## App Details:
[code]

## Issue Report:
**Recent**
This is recent to me

**Expected behaviour**
Generating cURL code from a request that includes a file in the form data should use the content header type `multipart/form-data` but instead uses `multipart/x-www-form-urlencoded`.

**Screenshots**
<img width="578" alt="screenshot 2018-04-17 12 52 15" src="https://user-images.githubusercontent.com/14

[2018-04-17 20:10] bdollard commented on #3506
I have observed this bug in version 6.0.10 on Linux.
I can confirm that the CanaryBuild fixes this issue. It also appears to fix #3849

[2018-04-17 20:23] TylerAHolden opened #4466 "A few NEEDED features for Pro"
## Feature requests:
+ ~~Move folders and requests around - currently you can only duplicate in the current folder or delete.~~
EDIT: I guess I found a bug because I resized my window and then it allowed me to drag and drop the folders. Thank goodness this is a feature!
+ Tag team members on requests. Imagine a particular API call is broken... It'd be nice to tag a team member so he/she can take a

[2018-04-17 21:17] 3ygun commented on #2452
Thanks @rfrew! For a OAuth2 `grant_type=password` I did the following. On a **Collection** added a pre-request script of:

[code]

In **Environment**, setup the following variables: (bulk edit view)
[code]

In a requests, add the following to **Headers**: (bulk edit view)
[code]

[2018-04-17 21:20] mhertogs commented on #4290
Hey any updates on this issue? It is blocking my entire company from moving to Postman 6.0

[2018-04-17 21:55] aggieben commented on #3451
I'm trying to do `require('url')` and getting back an empty object (`{}`).  Here's my script:

[code]

The console shows this:
![image](https://user-images.githubusercontent.com/1321/38900172-1970ab48-4260-11e8-9684-a468dc5d8461.png)

I'm on Postman 6.0.10

[2018-04-17 22:19] ggirard07 commented on #2452
This still does not solve the authorization flow where user needs to manually input its credentials in a web view...

[2018-04-17 23:19] ghost commented on #2755
anyone able to call key vault sign successfully? (https://docs.microsoft.com/en-us/rest/api/keyvault/sign/sign) It would be better if there is an example.

[2018-04-17 23:39] gcphost commented on #3506
Undo takes 2 attempts at ctrl+z for it to work in the URL for me.

Redo works nowhere.

macOS Sierra 10.12.6
Postman 6.0.10

[2018-04-18 03:22] prashantagarwal commented on #3506
@gcphost We have release the fix on our canary app. It will soon be made available to everyone.

[2018-04-18 05:55] akshatprakash commented on #6682
+1

[2018-04-18 06:10] amanautomation commented on #2627
We are also seeing this issue. For now, I can put double quotes in my csv file but that is not a very pretty solution. And it is more painful when I have to validate the data in response json against the data available in csv file as I have to get rid of all the double quotes for the validation to work.

Request the postman team to look into it.

[2018-04-18 06:34] sivcan commented on #4466
@NG-tylerholden - Hey, thanks for suggesting this.
I'll mark this as a feature request.

[2018-04-18 07:19] ecsdigitalih commented on #1104
+1

[2018-04-18 09:07] ghost opened #4467 "Setting menu layout close after check for update"
Hello
Setting menu layout closed when I check for update and there is no any update, When I close update pop up layout then also setting layout close.

**Step to reproduce**
File->Setting->Update (check for update).

**Expected Result:**
If there is no update then setting layout should not close.

[2018-04-18 09:51] nagendraprabhu01 commented on #1499
Hi,
Need the functionality to move entire collection into some other collection.
That would be very helpful.

[2018-04-18 10:24] smurugesh1686 commented on #3171
+1

[2018-04-18 10:54] harryi3t commented on #3696
Closing issue due to inactivity. Please let us know in-case this issue is still present

[2018-04-18 10:54] #3696 closed, assigned to SamvelRaja

[2018-04-18 10:56] harryi3t commented on #3799
@suvaraj Did it work for you? If not, please share the logs as mentioned in the comment above.

[2018-04-18 11:26] pintoko commented on #3999
i also got this issue, i got invalid signature when i empty access token and token secret.

but when i fill the access token and token secret, postman generate the signature correctly

my postman version is
Postman for Mac
Version 6.0.10
OS X 15.2.0 / x64

could you help me?

[2018-04-18 11:29] KingOfSpades commented on #1475
+1

[2018-04-18 12:07] seppestas commented on #2452
IMHO the pre-request script isn't a very sustainable solution. It's quite hard to make it work for all collections, setting all required variables in a collection's variables is kind of a pain and this has to be done every time a collection is added. Also a pre-request script will only be able to automatically refresh the token. AFAIK there is no way to have it display a button (unless maybe a dia

[2018-04-18 13:28] madonahoch commented on #1499
That would be very helpful!

[2018-04-18 13:32] WilliamToro commented on #1987
can i have a negative timestamp in postman?

[2018-04-18 13:46] ggirard07 commented on #2452
Pre request script is also mandatory. When you have a big collection, token may expire during the execution. Having the possibility to refresh it from pre request is crucial in that case.
In the case of the authorization flow, all the information required to refresh the token are stored outside the sandbox used to execute the script. To get it to work it is just a matter of forwarding the appropri

[2018-04-18 14:02] kmelodi commented on #4456
This problem is only for version 6 above Windows and for all my collections.
I tested the collection for Postman-Chrome and versions below 6 and had no problems.

[2018-04-18 14:31] suvaraj commented on #3799
HI ,
I have tried the same.But the behaviour was same. On opening the log file, I do not find any information.
![2018-04-18_10-29-55](https://user-images.githubusercontent.com/17775557/38938470-95d9f868-42f3-11e8-94ef-bbd1df5099b3.png)

[2018-04-18 14:59] andrewpmartinez commented on #4033
Developing a new API that has strict requirements for certificate authentication only. Auth w/ cert, create new users w/ one-time-tokens used to sign certs, which are then used to authenticate.

What a pain. Feels like I'm forcing Postman to work.

[2018-04-18 16:12] lykahb opened #4468 "Settings for POST request body type"
## App Details:

[code]

## Feature request:
When I make a POST request, the body type is always set to `form-data`. Normally I use `raw` and it would be helpful to set it as default.

It would be nice to have a setting for the body type or remember the last type used.

[2018-04-18 18:12] harryi3t commented on #4467
@mayankvadiya Can you provide us more information about your platform, postman version and some relevant screenshots?

[2018-04-18 20:20] HollowayT opened #4469 "New requests saved to collection don't appear if collection is being viewed by filter search"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently encountered
 2. Expected behaviour:  When a collection is selected by using the filter search to find it and a new request is saved to it, the request should immediately appear in the collection. The newly saved request won't appear in the collection until the filter is cleare

[2018-04-18 20:22] prashantagarwal commented on #4469
@HollowayT We have fixed this internally. We will make it available with the next release.

[2018-04-18 20:23] HollowayT commented on #4469
@prashantagarwal Thanks for the quick response! Do you have an idea when the next release will be?

[2018-04-18 20:26] prashantagarwal commented on #4469
Most probably by the end of this month. Also we have already released this fix on our [canary app](https://www.getpostman.com/canary) , incase you want to check it out.

[2018-04-18 21:05] #4469 closed, assigned to nobody

[2018-04-18 22:38] FHoulbreque commented on #2369
I do have a local testing platform and it's like postman attempt to initiate the connection from outside my LAN. I can't get it to work with my self defined hosts through Windows hosts file.

The Chrome extension worked nicely but the stand alone client do not. Make Postman totally useless for my installation.

[2018-04-18 23:52] Jothay commented on #3952
@kamalaknn I have loaded in our endpoints again (10,356 requests according to the folder in the sidebar) and it's still significantly slow with the folder expanded. This is with v6.0.10 and the client says there are no updates.

[2018-04-19 02:17] yjhjstz commented on #2801
+1

[2018-04-19 02:47] sskmail14 opened #4470 "Multiple Client Certificate Same Port but different URL pattern"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: this bug always been there
 2. Expected behaviour: Should support multiple client certificate with same port but different URL pattern

[2018-04-19 06:02] Tyson1986 commented on #3312
+1

[2018-04-19 06:33] czyzu01 commented on #2638
Interesting thing we've found out in our environment, when using 6.0.10 on Windows 10 uses system proxy settings, and you've set ENV variable for  http_proxy and https_proxy, that may cause problems. Setting them to null in batch script, solved problem for us.

[2018-04-19 07:22] erkib commented on #4326
I have also the issue that the connection to sync service is failing on Mac. From shared console:
WebSocket connection to 'wss://sync-xi.getpostman.com/socket.io/?__sails_io_sdk_version=0.11.0&__sai…tform=browser&__sails_io_sdk_language=javascript&EIO=3&transport=websocket' failed: Error during WebSocket handshake: Unexpected response code: 202
Postman version: 6.0.10
I can assure the same problem

[2018-04-19 07:24] kamalaknn commented on #3952
Hi @Jothay

We have made several improvements to our view in the recent releases. We've seen that this has improved the performance with thousands of requests spread across collections, folders, and workspaces. This is the case for a lot of our users.

In your case, you have a huge number of requests all in the same collection and I'm guessing, the same level as well. I'm afraid this is an extreme

[2018-04-19 08:42] yangxikun opened #4471 "sync conflicts cannot resolve"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

<img width="703" alt="image" src="https://user-images.githubusercontent.com/3364160/38980746-39cafd3a-43f0-11e8-99c9-4a010e30cfd1.png">

 2. Expected behaviour:

click resync, then resolve. But the conflicts always show after a while .

 3. Console logs (http://blog.getpostman.com/201

[2018-04-19 08:58] TheSHEEEP commented on #2729
The workaround is fine, but why not implement this simple change in the main app?

[2018-04-19 08:59] S33G commented on #4471
I am also experiencing this on a Mac on High Sierra.
It seems to happen randomly. I can't consistently reproduce it in order to provide steps

But sometimes I will alt-tab back to posman and it'll present me with the Resolve Sync Conflicts window.

This is happening on a local collection which I found rather strange.

[2018-04-19 09:02] SudarshanSMD commented on #3127
Was facing this same issue with native app.
While testing api hosted locally, would get response from the Chrome app, while native app would give error.

Fixed it by disabling the 'SSL certificate verification' in Settings>General.
It is the 2nd option suggested in the fixes by the app itself. I overlooked it. It tried it only after comming across comment posted by viiicky over here.

![image](htt

[2018-04-19 09:03] GarthF commented on #2392
+1

[2018-04-19 09:05] stantond opened #4472 "Remember environment in History (feature request)"
In trying to solve an issue where we need to look back and check which environment a call was made to, we've realised we can't do this in Postman, despite the History feature tracking each request.

Can History be made to remember which environment was used to send a request? I'm not sure if this would be better as a simple reference or a snapshot of the environment variables at that time. Either

[2018-04-19 09:26] Dnowakdn commented on #3312
+1

[2018-04-19 10:43] stianlagstad commented on #4382
Related to https://github.com/postmanlabs/postman-app-support/issues/4359, maybe?

[2018-04-19 11:08] pskrebe commented on #3274
Plus 1 vote

[2018-04-19 11:14] jesbinsoftworks commented on #2392
Hi I want to skip a folder if it's not a certain version, what's the code for this ?

[2018-04-19 11:20] mccannt commented on #2392
@jesbinsoftworks You would want to use the Postman Workflow, so you should be able to do this
using the `setNextRequest()` function.

More info here:
https://www.getpostman.com/docs/v6/postman/collection_runs/building_workflows

[2018-04-19 11:27] jesbinsoftworks commented on #2392
I want a script that is in  javascript and it's used for pre-request Script that will do this way as it skips a folder if it's not verion <= new version , if it's not new version sit should be skiping to a next folder.

[2018-04-19 11:27] mrudul03 opened #4473 "Set Request Parameter value"
## App Details:

[code]

## Feature Request:
 Is it possible to set a POST request parameter with a custom value in pre-request script. For example - I want to set a request parameter with random number.

[2018-04-19 11:36] datha2703 opened #4474 "View Redirect request in Console"
I am using Postman to submit request. Server responds with

HTTP/1.0 302 Found
Location: https://services.****.com/di/***/ed36317f-8d77-4d62-9926-f9700bee9b6c
Server: ****
Connection: Keep-Alive
Content-Length: 0

Postman follows this redirect. I wish to see this new request in Postman console.

[2018-04-19 11:37] nilsk12 commented on #1678
Need this so bad

[2018-04-19 11:37] AndriiStepura commented on #2392
@jesbinsoftworks I'm trying this at this weeks, unfortunately, it does not work for all folder, my way - is set first and last (Set here unic name of las request in your folder) requests as empty calls as example get and add for first pre request script, this is example for each iteration after first (skip second and each next), but if you use runner remember to kill iterationCounter after each ru

[2018-04-19 11:37] mccannt commented on #2392
@jesbinsoftworks You can do this by doing a simple `if` statement to check the version. If its `=` the version you want, do something.
Example:
[code]

[2018-04-19 11:38] sdnts commented on #4470
Hi @sskmail14, This is the same as #4033, right? Please let me know if it isn't, and I'll reopen

[2018-04-19 11:38] #4470 closed, assigned to nobody

[2018-04-19 11:40] sdnts commented on #4471
Hi guys, I believe this is the same as #4360, we're investigating that as we speak. I'll let you know there when we make progress

[2018-04-19 11:40] #4471 closed, assigned to nobody

[2018-04-19 11:47] sdnts commented on #4474
Hi @datha2703, there's a switch called `Automatically follow redirects` in the Settings screen (Cmd/Ctrl+,), which you can disable to see the intermediate request.

<img width="740" alt="screenshot 2018-04-19 17 11 27" src="https://user-images.githubusercontent.com/7689783/38989534-d4b097fc-43f4-11e8-974c-1a171a560652.png">

I do see the value in showing intermediate requests in the Console direct

[2018-04-19 11:48] jesbinsoftworks commented on #2392
I have an environment called 6.4 which  most of my tests run on and there is one folder which only support version 6.5 and up so I want to skip the folder that supports 6.5 by java-script code   using the pre request Script option in tests.

[2018-04-19 11:52] sdnts commented on #4468
Hi @lykahb, thanks for the feature request! I'll add this. Right now, we only remember the body type in a single tab.

[2018-04-19 11:56] dhineshwiz commented on #4473
Hey @mrudul03, yes it is possible, create and set a environmental variable in pre-request script and use the same in request parameter.

<img width="675" alt="screen shot 2018-04-19 at 5 22 16 pm" src="https://user-images.githubusercontent.com/10631268/38990001-4d104598-43f6-11e8-9723-71ec3111fc46.png">

For more information please refer [postman docs](https://www.getpostman.com/docs/v6/postman/en

[2018-04-19 11:56] #4473 closed, assigned to nobody

[2018-04-19 12:01] sdnts commented on #4472
Hi @stantond, thanks for the feature request! This is interesting to think about. I do not think automatically switching the environment is a good idea, as that might have unintended side effects. We will take a deeper look at this!

[2018-04-19 12:03] sdnts commented on #4321
Is this still happening? We've made some changes to make sure this doesn't. Please let me know if this is resolved!

[2018-04-19 12:03] mrudul03 commented on #4473
Yes, I tried that. It works perfectly fine. Thanks a lot.

[2018-04-19 13:32] NicoVerdonk opened #4475 "changing value of a local variable impacts value of environment variable (JSON)"
## App Details:
Postman for Windows
Version 6.0.10
win32 10.0.16299 / x64

## Issue Report:
I'm wondering if I ran into a bug in Postman, or if this is by design.

I have a case in which I have 2 requests:
In request 1, I capture the full responsebody.
In request 2 (put) I need to provide the captured responsebody of request 1 as requestbody for request 2 but with a minimal change in certain boole

[2018-04-19 13:59] sivcan commented on #4302
@sanvipy - Can you test the [latest canary build](https://www.getpostman.com/canary) ?
Does it solve the issue for you?

[2018-04-19 14:28] vinayan3 commented on #4458
Would it be possible to use the `operationId`  if there is no summary? It's required, unique, and often describes the operation. In my case I have an auto-generated swagger sepc from our API codebase and haven't overridden each of the functions to include summaries.

[2018-04-19 14:31] drjasonharrison commented on #2729
#2794 is the issue to follow regarding a code fix.

[2018-04-19 14:33] JulioBorges commented on #2801
+1

[2018-04-19 14:53] NanoPish commented on #4360
Major issue

[2018-04-19 14:55] iscarmario opened #4476 "All collections lost after app got blocked"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This issue happend just after postman got blocked and had to end the task from the windows task manager
 2. Expected behaviour:
All previously stored collections are available in the collections tab
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools

[2018-04-19 15:22] angies91 commented on #166
+1 for custom methods and REPORT

[2018-04-19 16:22] jcezarms commented on #2030
The way Postman handles URLs in its Windows client is awfully misleading to me. It should at least show an 'Open in browser' option if the user clicks on the link with the right button, while its blue "hyperlink highlight" is showing.

[2018-04-19 18:10] prashantagarwal commented on #2030
Hey Everyone, We have fixed this internally and will be made available in next release. Cmd/Ctrl + Click will open the link in default browser.

[2018-04-19 18:27] bdawada commented on #1050
@Misiu  Did you get response in postman community. I am trying to do something similiar.

[2018-04-19 18:53] mkain0 commented on #3232
Anyone knows something about this update?

[2018-04-19 19:23] Misiu commented on #1050
@bdawada unfortunately no.
I'm migrating my collection to [Insomnia](https://insomnia.rest/) for tests, because it is very similar and from what I found it should work there.

[2018-04-19 19:48] rfarinel commented on #1180
+1

[2018-04-19 21:23] dbodow commented on #3466
Lack of this (and even better would be auto-save, or version controlling) makes Postman a very unreliable tool. I either triple save everything just to be sure, or realize that one of the changes I made to a monitored test hasn't stuck around the next day.

Even better than save-all/autosave would be some sort of git-like version controlling where I can see what changes I've made, stage & commit t

[2018-04-20 00:10] StephenGoodall commented on #2030
Great to hear! Look forward to trying it out soon :)

[2018-04-20 01:20] jokrent88 commented on #2030
Thanks for the update @prashantagarwal !

[2018-04-20 05:26] gbabic commented on #285
+1

[2018-04-20 07:11] chakibBH commented on #2030
Thank you  @prashantagarwal, it will be very helpfull

[2018-04-20 09:20] numaanashraf opened #4477 "Cursor mismatch in text editor"
originally reported via tweet - https://twitter.com/desidalek/status/987252394324086784

[2018-04-20 09:31] parth115 commented on #4477
Postman : 6.0.10-1
Kernel : 4.14.34-1
i3wm : 4.15.0.1

Running on Manjaro Linux, postman installed from aur https://aur.archlinux.org/packages/postman/

Infinality patched fontconfig https://aur.archlinux.org/packages/fontconfig-infinality-ultimate