[2019-08-22 10:58] codenirvana commented on #4064
@poisa @Efaq `Content-Length` header is always set irrespective of the request body type.

Can you share more detail about the request, file, and the headers set which cause this issue?
Also, how are you debugging the headers sent for the request (Postman console or anything else)?

[2019-08-22 14:19] ritman-us commented on #7154
Here are the logs from newman:

→ accounts - CP1
GET http://xx.xx.xx.xx:xxx/api/v1.0/xxxx/views/accounts [200 OK, 23.03MB, 2.5s]

<--- Last few GCs --->

[23532:0x2f2aad0] 69272 ms: Mark-sweep 1397.5 (1411.9) -> 1397.5 (1411.9) MB, 631.9 / 0.0 ms allocation failure GC in old space requested
[23532:0x2f2aad0] 69974 ms: Mark-sweep 1397.5 (1411.9) -> 1397.5 (1410.9) MB, 632.3 / 0.0 ms last resort GC

[2019-08-22 15:23] Fleuv opened #7174 "Running a mock service locally"
**Is your feature request related to a problem? Please describe.**
Not really although, running the mock service locally would help me a lot. Because I'm one of those developers who is on the road a lot. Thus my internet connection is not always that up beat. Therefor running my whole development environment locally would be the preferred way.

**Describe the solution you'd like**
Well I could bui

[2019-08-22 15:44] RichardJFoster commented on #7149
While the initial bug report is somewhat lacking, I'm seeing the same thing when running Postman 7.5.0 on Windows 10 attempting to access a url available on a local IIS instance.

The URL I am attempting to access is http://[LocalMachineName]/[VirtualFolder]/api/endpoint.

I can access the URL successfully using a web browser (specifically Chrome, but I imagine it'll work in the other browsers too

[2019-08-22 16:03] poisa commented on #4064
@codenirvana Mind you that it has been over a year and a half since I first posted this. At the time I was using Postman literally every day for my work. Now I barely use it so I can't confirm if this bug is still present.

In this case, what I was doing is creating a PUT request to upload a file to an Amazon S3 bucket. Just an empty request with the URL to the amazon endpoint, chose `Body > Binar

[2019-08-22 19:39] sburina commented on #4546
+1 for this! I need it so badly it hurts! :)

[2019-08-22 20:35] JP-from-Postman opened #7175 "Team logo not updated on docs page"
**Describe the bug**
User updated their team logo, and waited overnight, but the logo reflected on their documentation page still shows the default Postman logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to docs page (see internal notes for link)
2. See default logo still present

**Expected behavior**
Updating logo reflects on published documentation pages within a short time

**Sc

[2019-08-22 20:38] Hajawata commented on #7118
@abhijitkane - Unfortunately the workaround does not work. No requests get captured (Windows 10, x64, 7.5.0). The only "solution" I found so far is to downgrade to 7.3.6 version. Since Postman starts to update immediately, I have to keep it open, so it does not switch to 7.5.0. Frankly speaking, I really do not understand, why it is not possible to disable minor upgrades to be downloaded automatic

[2019-08-22 21:33] utechtzs opened #7176 ""Sending request..." tab animation"
_I tried looking under "is:issue label:tabs label:feature label:user-interface" for a similar request; sorry if I missed it._

# App Details
Postman for Mac
Version 7.5.0
OS X 18.7.0 / x64

# Feature request
For browsers, if there is a request currently pending, there is a spinning circle animation to indicate the request has not completed with a response.

In Postman, my use case is having multip

[2019-08-22 21:53] stcalica commented on #7115
@useful-things I'm trying to follow up on this request.

I'm asking for the range or if we can get one.

Most companies usually just whitelist our domains in their firewall. I understand you are not able to do that so I'm trying to figure out what the range would be.

[2019-08-22 22:18] codenirvana commented on #7154
@ritman-us Thanks for sharing the logs. I can confirm this is because of the large response payload transmitting to script execution sandbox.

This should not happen if you have no test scripts defined.
Please confirm is the collection used for Newman execution have a `script` property defined or not. Something like this:
[code]

[2019-08-22 23:34] JP-from-Postman commented on #7167
This can be turned into a feature request for include Collection deletions in workspace activity feed.

[2019-08-22 23:53] JP-from-Postman opened #7177 "Can't sign in"
**Describe the bug**
User report:

_Using the latest Postman for Windows 64-bit, I signed out, but cannot sign in, using Google email account results in the following error message. Also, unable to sign in using Postman account as some unknown account is showing._

![image (1)](https://user-images.githubusercontent.com/43283131/63555042-50501280-c4f4-11e9-920f-eb32243955a7.png)

Email address on l

[2019-08-23 00:44] nomadme commented on #7116
Experiencing a same issue on Version 7.5.0 (7.5.0)

[2019-08-23 02:00] fapostolo commented on #4009
lol one more bites the dust

[2019-08-23 04:14] adriennn commented on #1946
@saswatds I'm on 7.5.0 and trying to download a 35 MB file from a call to localhost. When the response lands in postman, the app consumes 700 MB, but if I try to save to file, the RAM balloons to 2.5 GB (80% of available memory) then crashes. Is there a memory leak when trying to save the file?
edit: win10 native app

[2019-08-23 06:13] rmharrison commented on #6683
@lexon The issue isn't the comparison: deep vs shallow vs string.

The issue is that examples aren't available from within `pm`

For example, `pm.request`
[code]

I checked the [API reference for `pm`](https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/), [Requests SDK](https://www.postmanlabs.com/postman-collection/Request.html) and [Responses SDK](http://www.postm

[2019-08-23 06:55] ash007-postman commented on #7009
@kartikjain26 Thank you!

[2019-08-23 07:25] m3dbedb commented on #4764
The issue is still actual for Postman 7.5.0 for windows 7 32 bit

[2019-08-23 08:24] Maxeh commented on #7093
@codenirvana thanks for the information. However, why does the pm.variables work across requests then if I run them with the collection runner or from the cli with newman?

So in our case everything worked fine, because we run the postman scripts automatically with our deployment. At some point I wanted to run the tests manually and run into the error. I then changed everything to pm.environment.

[2019-08-23 09:26] piero-b commented on #7099
I would also like this as this becomes very confusing to deal with very large collections.

[2019-08-23 09:34] vikiCoder commented on #4521
Closing this as a duplicate of the following issue:
https://github.com/postmanlabs/postman-app-support/issues/5147

[2019-08-23 09:34] #4521 closed, assigned to saswatds

[2019-08-23 10:35] SmoothwallTester opened #7178 "Min 5 char limit not respected when naming team URL (workspace creation)"
**Describe the bug**
When a user is creating a new team workspace they are informed it is a min of 5 characters.  However, a 5 character string is not accepted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create new workspaces
2. Enter a 5 character team URL (e.g. crmgt)
3. Attempt to save
4. See error

**Expected behavior**
After speaking with Danny Dainton over twitter, neither o

[2019-08-23 12:05] harryi3t commented on #7110
@elyobo
We rely on an environment variable set by snap to detect whether the app type is snap nor not.
Could you let know the output of the following commands:
[code]
Run these commands in the Developer Tools which you can open from `View -> Developer -> Show DevTools (Current View)`. After opening the DevTools switch to the `Console` tab.

![image](https://user-images.githubusercontent.com/520733

[2019-08-23 12:38] ronakkhunt opened #7179 "In Environment, Empty 'current value' should take 'Initial value' for any variale"
**Is your feature request related to a problem? Please describe.**
In environment, any variable should assume 'initial value' when 'current value' field is empty. This helps when you want have some tests with temporary value. Right now, leaving empty 'current values' does not do anything. 'Initial values' has no meaning in this sense, as you always have to have 'current value'.

**Describe the sol

[2019-08-23 12:54] Kalyse commented on #5789
@Raja-Simha

If the issue isn't clear enough, here is a 30 second video narratted video:

https://www.loom.com/share/ae7a5ff4106b47cb86fd254b25de0c75

I'm planning on migrating our documentation away from Postman because of this problem end of September~ I don't expect any movement, but I trust this advise will hopefully help you improve the documentation product over time for future Postman users

[2019-08-23 13:26] danijelk commented on #7118
Would love to hear that a unittest is made for this important function to avoid future issues. 👍

[2019-08-23 13:42] rimas-kudelis opened #7180 "Importing Swagger yaml without host field from URL should set API host name to that used in the URL"
**Describe the bug**
According to [Swagger documentation](https://swagger.io/docs/specification/2-0/api-host-and-base-path/), the `host` field is not mandatory and if "...not specified, it is assumed to be the same host where the API documentation is being served."

However, when Postman imports Swagger JSON definition from a URL, it doesn't set the hostname if it isn't explicitly specified in the

[2019-08-23 13:43] Raja-Simha commented on #5789
@Kalyse thanks a lot for the video. Yes, we are aware of this issue and are in the midst of fixing this and other reported issues around 'click to expand'. You will soon see us push out a fix for this. Appreciate you patience and feedback.

[2019-08-23 13:55] hzlpsd2 opened #7181 "Client certificate rejected"
**Describe the bug**
Client certificate is rejected because ca md is supposedly too weak. The certificate used employs SHA-256 however. The problem crept in with Postman version 7.3.4.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Certificates
2. Add certificate
3. Open Postman Console
4. Send request using the certificate
5. See error in Postman Console: Error: error:140

[2019-08-23 15:21] Jillxm commented on #3563
+1 Very important to us.  Assuming this feature would include Global variables it would allow source control/integrations for functions which need to be stored as variables.

[2019-08-23 18:13] chrisdeso opened #7182 "Logo upload throws 401 error"
**Describe the bug**
Uploading a logo to a team page throws a `Something Went Wrong` error with a `401 - Unauthorized` in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://go.postman.co/settings/team/general`
2. Click on `General`
3. Scroll down to `Logo
4. Use the `Edit` icon to upload a new logo
5. See errors

**Expected behavior**
Logos should be uploaded and/or

[2019-08-23 18:54] JP-from-Postman opened #7183 "Can't login using Google SSO"
**Describe the bug**
User unable to login using Google SSO. After logging in, the startup loading spinner shows indefinitely, but the app never loads the actual UI.

Reseting password via dashboard allows login via email + password (instead of Google SSO), but doesn't resolve the Google login issue. When trying to reset password from app window, no captcha is shown, meaning password reset request

[2019-08-23 19:01] JohnArrowwood commented on #3312
There was a note about this being implemented in 7.3.5-canary.  I'm running 7.5.0 stable.  I still can't delete cookies.  Has this feature been release to stable yet?

[2019-08-23 20:52] JP-from-Postman commented on #7167
Closing. User who deleted collection was identified, and was able to restore Collection.

[2019-08-23 20:52] #7167 closed, assigned to nobody

[2019-08-23 20:55] davidjgonzalez opened #7184 "How to import Swagger with transformed Postman Variable names"
I have a set of Swagger file that define the parameters in the usual manner. For instance..

[code]
Upon importing these file into Postman, the Postman collection is correctly created, however I'd like the Postman variable for the "Authorization" parameter to be "AUTH_TOKEN" instead of "Authorization" (for instance).

Effectively, I want to declare a field (ideally in the swagger file?) that says

[2019-08-23 21:03] JP-from-Postman opened #7185 "Show Collection deletions in workspace history"
**Is your feature request related to a problem? Please describe.**
Collections deletions are not currently displayed in workspace history. This recently affected a large team that was unable to determine who had a deleted a Collection published to a custom domain.

The user who deleted the Collection was also out-of-office, but fortunately was able to respond and restore it from their trash.

**De

[2019-08-23 22:16] alanwill commented on #3820
Can we re-open this? I  don't see a solution provided and it's still a valid feature request imho

[2019-08-23 22:17] alanwill commented on #3007
Can we re-open this? I  don't see a solution provided and it's still a valid feature request imho.

@a85 any update? It's been 2 years since you mentioned "We have updates coming up on authorization flows soon".

[2019-08-23 22:43] elyobo commented on #7110
The environment variables are not set, which probably makes sense - I'm not launching it via the `postman` command (which is a sylink to the `snap` command), because the bug is that that does not work, I'm launching the binary directly - which presumably bypasses snap setting any environment variables :)

So perhaps the incorrect config location and the auto updating behaviour are a red herring -

[2019-08-23 22:43] #7110 closed, assigned to nobody

[2019-08-24 01:00] donovan-middleton opened #7186 "Postman v7.5.0 Windows Start Menu folder location and "Apps & Features" icon"
I have installed the latest version of Postman v7.5.0  using the "Postman-win64-7.5.0-Setup.exe" installer and have now noticed that the Windows Start Menu for Postman is located under "GitHub, Inc" folder making it a bit difficult to locate. I am thinking that maybe a mistake and it should be located under a "Postman" folder instead.

I have also noticed that in Windows "Apps & Features" (and "Pr

[2019-08-24 03:30] ishepherd commented on #3563
Just make the native storage into text files.

We have perfectly good git clients, and so many other tools besides, which are all currently locked out of Postman, due to your legacy practice of keeping the collections in a private database.

[2019-08-24 03:35] ishepherd commented on #3563
While I'm on my soapbox: "text files", plural. The current export generates an entire collection as a single file, this makes large collections extremely difficult for git merging and GitHub pull requests.

[2019-08-24 04:16] lovelock commented on #2689
most important is, because postman sends a request with that header, when the request code is copied from postman and then paste to terminal to run with curl, it would crash and I have to remove the gzip header manually.

[2019-08-24 04:47] Laiteux commented on #1070
+1 Please add this

[2019-08-24 10:41] bugoutfr commented on #3107
I have the same issue here, and the icon is also wrong when the application is running and not pinned to the taskbar. This seems like a recurrent bug, not something that should be fixed manually with the aforementioned workarounds.

[2019-08-24 10:58] rohit-taneja commented on #7100
@preethammavin
I am having the same issue:
Mac, Postman - 7.5.0
When I copy from Postman and paste on any other window it works, but
When I copy from any window other than Postman, it is not pasting by CMD + V in Postman, to paste I have to right click and then paste

[2019-08-24 17:26] budik21 opened #7188 "PATCH request with JSON body is processed as GET"
**Describe the bug**
I try to send PATCH request with JSON body (raw) and I expect, that I get PATCH method on my server, but I don't. It seems, that Postmant doesn't process PATCH request with JSON body as PATCH, but as GET. I have tried the same request in INSOMNIA, and all was OK.

**To Reproduce**
Prepare some request with PATCH method with raw JSON body and send i to the server. Try to detect

[2019-08-24 22:54] judgej commented on #4137
Right at the bottom of the login window, in light grey and an 8px font, is a link to take you to the offline version of the app. You obviously are not meant to us it, but it's there, and you can use it to bypass the login page.

[2019-08-24 23:23] zzFluke commented on #492
I wonder what is the timeline for getting this implemented and released?

[2019-08-25 07:23] rakibulhaq commented on #3438
after two years since the issue opened, is there any update about when this feature may come around?

[2019-08-25 10:51] kirill-kostenetskyi commented on #3117
@a85 Do you have any new estimations when this will roll up?
Thanks

[2019-08-25 23:53] xk0der opened #7189 "Requesting archived data does not complete and provide a download link"
**Describe the bug**
The user started "data export" on 29th July and the dashboard still doesn't show a download link. Clicking on "Request" again shows an error stating that an existing export is already running.

**Expected behaviour**
Existing export should finish and provide a link to download the data.

**Screen Recording attached**
[screencast-saloon.postman.co-2019.08.24-23_01_26.webm.zip](

[2019-08-26 02:29] xk0der opened #7190 "Mark archived collection when downloading data from app"
**Is your feature request related to a problem? Please describe.**
When downloading data from the Postman client, if there are archived collections and some new collection were created with the same name, it becomes difficult to find out which collection was archived and which are the new ones.

The only way it to manually go over the collections and determine which were archived.

**Describe the

[2019-08-26 03:03] Qiqia commented on #7183
我遇到了同意的情况

[2019-08-26 03:05] Qiqia commented on #7183
![TIM图片20190826110446](https://user-images.githubusercontent.com/8153699/63662530-5f370d80-c7f1-11e9-8fa2-50b0015802b0.png)

[2019-08-26 03:07] bytelibs opened #7191 "会不会上线中文版本"

[2019-08-26 03:25] sankalp0o commented on #6972
Hi @suraj-purohit, we've fixed this issue. Can you confirm? If the user is still facing this, please reopen the issue and let us know.

[2019-08-26 03:25] #6972 closed, assigned to sankalp0o

[2019-08-26 03:25] sankalp0o commented on #6704
Hi @chrisdeso , we've fixed this issue. Can you confirm? If the user is still facing this, please reopen the issue and let us know.

[2019-08-26 03:25] #6704 closed, assigned to nobody

[2019-08-26 03:26] preethammavin commented on #7183
@Qiqia can you check if you are able to login via the browser at http://go.postman.co. This looks like your network might be blocking our services. Also do let me know if the issue also happens on other internet network.

[2019-08-26 03:54] Cazaimi commented on #6421
@eprothro , thanks for posting this use case! Really interesting to see collection forks being published to custom domains. Another, simpler workaround is:

1. The current system will dissociate the custom domain from the collection once it realizes that the underlying collection is deleted.
2. For that to happen, simply hit your custom domain/published docs URL. For example, My published doc URL

[2019-08-26 03:55] Qiqia commented on #7183
![image](https://user-images.githubusercontent.com/8153699/63664212-38300a00-c7f8-11e9-8a29-ea417f227990.png)
I can login var via the browser plugin

[2019-08-26 03:59] Cazaimi commented on #6421
@Raja-Simha , This thread can serve as documentation for this particular case, and it's not a bug as it can be solved by the steps mentioned above. Can be marked as closed.

[2019-08-26 04:02] preethammavin commented on #7177
@JP-from-Postman the user tried to login with a different email than the one he was currently working with hence the info, check the ticket again he does confirm two email ids when he was login in.

[2019-08-26 04:02] #7177 closed, assigned to nobody

[2019-08-26 04:05] preethammavin commented on #7130
@tnkteja closing the issue for now, feel free to reopen it with the requested information so that we can get it sorted for you.

[2019-08-26 04:05] #7130 closed, assigned to nobody

[2019-08-26 04:14] preethammavin commented on #7158
@JockDaRock for now you could use our Newman which can be deployed for you to run the collection, but taking this as feature request for our Postman App as well.

[2019-08-26 04:20] preethammavin commented on #7145
@TestOpsFeng closing the issue for now, kindly provide the necessary information and reopen the issue so that we can address it.

[2019-08-26 04:20] #7145 closed, assigned to nobody

[2019-08-26 04:22] preethammavin commented on #7164
@prasanna08cs on hovering on the nodejs listing you should see a nested list of options show up, can you check if they are showing up as clicking on one of them is what generates the code

[2019-08-26 04:29] preethammavin commented on #7171
@fullm3tal can you check if the issue persists on other networks and if your current network is behind a proxy? can you update to our lates application as well?
If you continue to be blocked can you write to us at help@getpostman.com with logs so that we can take a closer look?

[2019-08-26 04:30] preethammavin commented on #7172
@ashwini0529 can you provide details regarding the issue so that we can take a look at it? are you trying to login via the App/Browser, if its the app which version and platform of the App is it.

[2019-08-26 04:34] preethammavin commented on #7183
@Qiqia can you run this collection in the native app and let me know of the results ? https://documenter.getpostman.com/view/6314135/SVfJTB7J?version=latest

[2019-08-26 04:52] Cazaimi commented on #6530
@JP-from-Postman , This was resolved internally. @Raja-Simha , please mark this as closed.

[2019-08-26 05:07] coditva commented on #7188
Hey @budik21, thanks for reaching out! We suspect that there's a redirect happening here. Can you try the request with automatic redirects turned off?

Go to Preferences > General > Headers; and turn off the "Automatically follow redirects" option.

If the problem still persists, we may have to investigate further.

[2019-08-26 05:38] Qiqia commented on #7183
![image](https://user-images.githubusercontent.com/8153699/63667501-9f54bb00-c806-11e9-85f4-c2ff8d2e0bd8.png)
var browser plugin
![image](https://user-images.githubusercontent.com/8153699/63667524-b5fb1200-c806-11e9-8a66-ff9696787835.png)

var app

![image](https://user-images.githubusercontent.com/8153699/63667537-c57a5b00-c806-11e9-9b27-16a65211181b.png)

var browser

[2019-08-26 05:42] Qiqia commented on #7183
![image](https://user-images.githubusercontent.com/8153699/63667667-3d488580-c807-11e9-8f6f-2732f6e76180.png)
![image](https://user-images.githubusercontent.com/8153699/63667701-57826380-c807-11e9-9fd3-0c76c685e7ab.png)

var app without proxy

[2019-08-26 05:54] suraj-purohit commented on #6972
@sankalp0o Ok will do that.

[2019-08-26 05:55] preethammavin commented on #7183
@Qiqia the when you go to the url on the web you should get a collection which you import and run in your app. Sorry for not being clear earlier.

[2019-08-26 05:58] numaanashraf commented on #7186
@donovan-middleton We are looking into this.

[2019-08-26 06:07] budik21 commented on #7188
Hey @coditva, thanks for reply. I have tried it, but the behavior is a bit confusing. The request return 302 status, but a payload contains HTML code fragment. On the server no request has ben detected.

[code]

[2019-08-26 07:50] prasanna08cs commented on #7164
Hi,

Thanks for the response.

I tried to hover/click on nodejs listing but the nested list is not
displayed.
if any  doc or video is available to do the same  will be helpful

Prasanna Kumar K G

On Mon, Aug 26, 2019 at 9:52 AM Preetham <notifications@github.com> wrote:

[2019-08-26 08:43] coditva commented on #7188
@budik21 it is normal to send some response with `302`. Since, there _is_ a redirect, the HTTP request is changed from `PATCH` to `GET` on redirection.

There can be multiple issues for the redirection. Maybe the request is not authenticated and you're being redirected to `https://api.azurable.com/auth`.

Or maybe you're trying to access an API that has indeed moved to `https://api.azurable.com/au

[2019-08-26 08:43] Hajawata commented on #7118
This should definitely be the case, however the possibility to postone updates would also do the job. I found several threads requesting this possibility, but Postman team seems to be really stubborn here, claiming it is to users' best interest to have the newest version installed.

[2019-08-26 09:04] zatziky opened #7192 ""Run in Postman" button doesn't import environment"
**Describe the bug**
I'm able to import a collection but the environment is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the button from FireFox (in Chrome it won't open Postman app at all):
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/319f51422f4252097c0e#?env%5Bamio%5D=W3sia2V5Ijoic2VydmVyX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9hcG

[2019-08-26 10:00] ttristan commented on #2801
+1 definitely needed for protobuf!
Regarding the feature to defined APIs through Schemas I would also like to see the capability for JSON Schema as we are already using it with AJV on our side.

[2019-08-26 10:06] cyrielle-hada opened #7193 "Sync - Collections don't sync after session expires"
**Describe the bug**
No data populate to the app after the session expiration.

**To Reproduce**
Steps to reproduce the behavior:
1. Session expires > automatic log out of the account
2. Reset password for that account
3. Log back into the app for that account
4. The workspace looks empty and collections don't sync.
5. The Sync icon is Red

**Expected behavior**
All synced collections and environm

[2019-08-26 10:12] PunkSage commented on #3089
@vkaegis What an elegant way of showing a middle finger, obviously Postman needs an automated name sorting mechanism. Do you ever want to provide it?

[2019-08-26 10:20] Dhroov7 commented on #5853
Thanks @TopHatCroat for reporting but unfortunately we are blocked to solve this issue as shell-quote isn't aware of using double quote as an escape character.
We have raised the issue on their Github repo. https://github.com/substack/node-shell-quote/issues/38.
We'll resolve this issue as soon as they update this feature.

[2019-08-26 12:03] jGleitz opened #7194 "Collection Import: query parameter and header description object is rendered as [object Object]"
**Describe the bug**
Even though it is documented as valid in the JSON schema, a description object in a query parameter or header is displayed incorrectly when importing a Postman collection. Instead of the actual description, the description reads `[object Object]`.

**To Reproduce**
Steps to reproduce the behavior:
<details>
<summary>Test Postman Collection JSON</summary>
<pre>
<code>
{
  "info

[2019-08-26 12:14] jGleitz commented on #7194
I updated this issue because the bug affects not only query parameters, but also headers.

[2019-08-26 13:28] #1475 closed, assigned to nobody

[2019-08-26 13:29] #2724 closed, assigned to abhijitkane

[2019-08-26 13:29] #3579 closed, assigned to nobody

[2019-08-26 16:55] stcalica opened #7195 "Synced collection throwing 400 Bad Request when signed in as different network credentials"
**Describe the bug**
A user's synced collection is able to complete a collection run on a machine in the same network with different credentials than the user's local machine.

**To Reproduce**
Steps to reproduce the behavior:
1. Login into a local machine and run the collection which returns a 400 bad request
2. Login into other machines on the same network and run the same collection as the same

[2019-08-26 18:01] andremvb opened #7196 "Inviting team members deleted personal collections"
**Describe the bug**
I was trying to add members to add members to my workspace team; and suddently appears a notification that someone removed me from a team (that a I did not be part of ), and then my 3 collections has been removed,
**Screenshots**
My requests history
![image](https://user-images.githubusercontent.com/12978746/63711371-e3dd5800-c800-11e9-9ee6-d69e1cfa94d2.png)

My empty collecti

[2019-08-26 18:38] yoimnik opened #7197 "incorrectly showing scientific notation in Pretty and Raw JSON views"
**Describe the bug**
when i make a GET request to an API via postman, the JSON response shows floating point numbers in scientific notation, ie:

`"event_time": 1.566475228535E9,`

this is both the case when i'm viewing the JSON response in `Pretty` and `Raw`.

i've verified that when i hit the API using python's `requests` library, the JSON response does not show floating point numbers:

`"event_

[2019-08-26 18:40] yoimnik commented on #4908
@kamalaknn
https://github.com/postmanlabs/postman-app-support/issues/7197

[2019-08-26 19:54] labossieresr opened #7198 "Find/Search Functionality Stopped Working"
**Describe the bug**
Within Postman I can no longer find (search) on strings regardless of the scope (i.e. Everything, Open tabs). The search results don't seem to initiate and clicking Find does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any request that has text in one of the tabs (i.e. Tests).
2. Select any word present (i.e. for the string var boolABC=true; select bool

[2019-08-26 20:10] nzulfigarov commented on #7100
@preethammavin
I'm having the same issue too.
[code]

[2019-08-26 20:17] nzulfigarov commented on #7100
@preethammavin @Chronchon @rohit-taneja
Idk why is this happening every time, but i found solution in five minutes after I posted comment...
It's all starts working after disabling (this command was added earlier to "cmd + V" shortcut)

You can found it in your System preferences => Keyboard => Shortcuts => App Shortcuts

Also, i think this is not quite good, this should be fixed in next releases.

[2019-08-26 21:56] llioor commented on #6682
+1

[2019-08-26 23:01] anselmobattisti commented on #4687
The same here :(

[2019-08-27 06:58] max88991 opened #7199 "Enviroment should related to custom ssl ca config"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Make CA as part of environment, make it available when sharing with team workers or could be exported to local package.

[2019-08-27 08:39] harryi3t opened #7200 "Postman app is not syncing; the connection drops and app tries to reconnect repeatedly"
**Describe the bug**
The sync icon is always blue, no collections/environments are being synced. Tried switching to multiple team workspaces.
There are no errors in the console.

Also, tried the Canary app with the same account, but it didn't sync either.

**To Reproduce**
Steps to reproduce the behavior:
1. Try switching to any team workspace
2. Wait for it to sync
3. The sync goes into offline m

[2019-08-27 08:40] ssaintma commented on #1931
I find a way to simulate a client timeout.
Add this pre-request script on your example : `setTimeout(function(){}, 10000); ` to wait 10 seconds before answer.
[Source](https://out-of-memo.blogspot.com/2017/10/postman-set-timeout-think-time-pause.html)

[2019-08-27 09:02] Mahonnant opened #7201 "Large collections slow in runner UI"
**Describe the bug**
Since the introduction of new UI for runner (adding the ability to select / reorder test cases), navigating a folders and subfolders of a large collection (2000+ requests organized with various folders/subfolders) is very slow.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch runner with a large collection
2. Click on collection ==> wait 30+ seconds for the right p

[2019-08-27 09:02] siemvaessen commented on #6736
@Cazaimi any update on this?

[2019-08-27 09:13] lu3ke commented on #7115
Heya, @stcalica -- I'm curious as to how others are doing that, because it is not possible to whitelist based on a domain name on ordinary network firewalls.  Network firewalls work on an entirely different level than DNS does, network firewalls don't even "know about" domain names and instead operate on the IP level.  So in order to open up access from Postman to an internal hosted Gitlab instanc

[2019-08-27 10:23] Ramya-From-Postman opened #7202 "Keeps saying i'm offline on Postman app (Mac)"
**Describe the bug**
Was getting the error message at the top of the screen which says
"**You seem to be offline. Any changes made while offline might not sync properly with other members of this workspace**." However, after disabling the system proxy on the app it is showing some weird message about requiring an active internet connection in another menu.

**To Reproduce**
Steps to reproduce the

[2019-08-27 11:47] LuisBizinelli opened #7203 "black screen after startup on postman app (windows)"
**Describe the bug**
After start up on windows the postman app becomes a black screen

**To Reproduce**
Steps to reproduce the behavior:
1. Start the postman APP
2. wait for it to go black screen.

**Expected behavior**
black screen after a while (10 sec)

**Screenshots**
![image](https://user-images.githubusercontent.com/36868289/63768451-9b787580-c8a6-11e9-88cc-80aa6b487990.png)

**App informati

[2019-08-27 12:43] LuisBizinelli commented on #7203
i did a downgrade for the version 6 in this link https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/#download-latest-postman-v6-app.

it solved the problem.
![image](https://user-images.githubusercontent.com/36868289/63772272-22c9e700-c8af-11e9-8b7a-b17887787209.png)

[2019-08-27 12:45] rverma-nikiai commented on #350
+1

[2019-08-27 13:01] ctalluri commented on #2327
Any update on this?

[2019-08-27 13:59] harryi3t commented on #7152
@chrisdeso Do we know which button is taking to the payment page?
I tried clicking both the `lear more... ` link and the `manually download` button.

[2019-08-27 14:44] brianjaikens opened #7204 "Code generated for c#(RestSharp) Fails"
Hi,

I would love to send you a copy the code that doesn't work, however the connection information is confidential.
So I will try to describe what is going on.
The code generated contains the following line.

`request.AddHeader("Content-Length", "");`

An empty string for content length.
However this causes the error "Input string was not in a correct format".

Changing it to:

`request.AddHeader

[2019-08-27 15:24] Cazaimi commented on #6736
@siemvaessen , we have made changes that fix the initial high payload delivery, which will be released sometime over the next week or so. The optimizations made reduce the initial payload size to a more reasonable amount. I will reply back to this thread when the release is out.

Stay tuned! 😄

[2019-08-27 16:14] schrepfler opened #7205 "Ability to define an environment locally"
**Is your feature request related to a problem? Please describe.**
I'd like to prevent a collection environment to be shared

**Describe the solution you'd like**
When managing an environment, a checkbox would mark an environment as local, this should prevent it from being shared server side.

**Describe alternatives you've considered**

**Additional context**

[2019-08-27 16:31] korada commented on #4079
+1

[2019-08-27 16:38] shamasis commented on #7179
Interesting. I’m adding this to our list and would look into it as soon as we are done with our initial rounds of improvements that we have planned for environments.

[2019-08-27 16:42] shamasis commented on #7197
This should not happen. But let me rope in @kamalaknn and @saswatds who would be able to point out why this could be happening (or if I’m missing some recent change.)

[2019-08-27 16:45] shamasis commented on #7205
Hey. I was wondering whether you have tried setting the “current value” of environment to store your data. The current value is never synced.

[2019-08-27 16:48] stcalica commented on #7115
Did not know that. I think I'm very used to just software on my own laptop or home that lets me blacklist and whitelist domains.

I am talking with what is acceptable information to give out. Thank you for patience guys!

[2019-08-27 16:49] stcalica commented on #7115
https://ip-ranges.amazonaws.com/ip-ranges.json

We run out of the US-EAST regions, might be 1 and 2.

[2019-08-27 17:03] sri-miriyala opened #7206 "Not able to see the Code -v7.5.0"
**Describe the bug**
Am unable to see the code to send the request to others.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a specific request from your collection
2. click on send to execute the result
3. After that click on code to see the code that has been executed to see.
<img width="804" alt="Screen Shot 2019-08-27 at 12 59 21 PM" src="https://user-images.githubusercontent.com/

[2019-08-27 18:26] mjang commented on #6530
What was the resolution? I do not see any option to unpublish a collection created by a different "team admin"

[2019-08-27 18:51] JP-from-Postman commented on #7185
@preethammavin @sankalp0o

Also worth noting about deleted Collections in this scenario:
- A Collection was created by User A, who has the Editor role for it
- User B (who also has the Editor role) deletes this Collection (it goes to their Trash)
- User B restores this Collection from their Trash
- User B is granted the Editor role for the restored Collection, Team is granted Viewer by default.
-

[2019-08-27 18:59] mjang opened #7207 "Allow any admin to publish a collection to a custom URL"
ATM, it's not possible for admins to publish a collection to a custom URL, without the concurrence of the member who published the current collection.

That makes life difficult when the person who published is on vacation or has left the company.

Solution: Allow admins to at least `unpublish` collections that were published by others.

[2019-08-27 20:59] mhornbacher opened #7208 "Reading Cookies: Fictional Documentation"
**Describe the bug**
Documentation does not accurately reflect exposed API, leading to complex issues that are hard to resolve.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learning.getpostman.com/docs/postman/sending_api_requests/cookies/
2. Read the article
3. Attempt to implement

**Expected behavior**
Object returned from `pm.cookies.jar();` should contain `get` and `set

[2019-08-27 21:36] griddyphillip commented on #6131
This doesn't seem like the issue is actually fixed. You still had to provide a .key file even though your SSL verification is OFF

[2019-08-28 00:21] MECLab-Michelle opened #7209 "Handler for Request not found"
**Describe the bug**
I have an existing POST request to an external api. No changes have been made to the request since June. I tried executing the request today, but I'm now receiving a 404 with the error 'Handler for Request not found.'

**To Reproduce**
Steps to reproduce the behavior:
1. Click SEND for an existing api request in postman
Body = form data with three variables
Headers = content t

[2019-08-28 02:36] huytx0909 commented on #3358
+1

[2019-08-28 02:47] Qiqia commented on #7183
It cause by my proxy

[2019-08-28 04:38] basaro-brightcove commented on #6397
@ankitjaggi
update on a fix? I've been using this feature for 2 weeks until tonite, tried multiple times, same error, was fine yesterday. :( What is the cause of this bug?

[2019-08-28 04:40] xk0der commented on #5905
Postman client is binding to two ports for all interfaces when the Interceptor proxy is triggered.

1.  The one which is configured in the app
     <img width="414" alt="Screen Shot 2019-08-28 at 10 06 17 AM" src="https://user-images.githubusercontent.com/21366/63826105-9a803a80-c9b1-11e9-8acc-37fd56d3ddb7.png">
2. And always to 8443

If any of these two ports are already in use the Postman app cr

[2019-08-28 04:59] ankitjaggi commented on #7200
@harryi3t This should be fixed now. Closing the issue.

[2019-08-28 04:59] #7200 closed, assigned to ankitjaggi

[2019-08-28 05:11] kamalaknn commented on #7197
Hi @yoimnik, thanks for reporting this issue.

In the recent versions of Postman, we made some changes to the response rendering section. We *do not parse* the response JSON anymore to format the response. We do this so that we can preserve as much information from the actual response without any loss due to language limitations (e.g. big numbers cannot be represented accurately in JavaScript).

I

[2019-08-28 06:19] ymeunier opened #7210 "Read external files in pre-tests and tests requests"
Hi,
I'm developping a postman collection for do a regression-test on my API.
I'm validating all my responses schemes with tv4.
I run some similar queries whose answers are usually very close. Therefore the validation schemes are the same.
How can I outsource my schemes in order to simplify my collection and simplify the corrections?

Best Regards,
Yann

[2019-08-28 06:25] ymeunier opened #7211 "Get some info on my request in pm.info object"
Hi,

I wish I could get some information (path, fullname) of my request with pm.info object.
ex :
- pm.info.requestPath = /001/002/003
- pm.info.requestName = requesttoexecute (already exist ^^)
- pm.info.request = /001/002/003/requesttoexecute

Best regards,
Yann

[2019-08-28 06:31] sankalp0o commented on #7196
Hi @andremvb
Workspaces are different from teams. There can be multiple workspaces in a team. Workspaces can also be personal.
Can you check if you're looking in the same workspace that your collections were in?

[2019-08-28 07:32] Faz540 opened #7212 "Pressing the shortcut key to use "Two-pane view", does not update the toggle value in the Settings menu"
**Video of Issue:**
https://www.loom.com/share/63e7191407484eee8f7049024d6656e2

**Bug Summary:**
If I press the shortcut key to toggle "Two-pane view" (Command + Option + V), the toggle value in the Settings menu is not updated.

This means the "Two-pane view" toggle in the Settings window can always be shown as "OFF", even though the user can activate this view by using the shortcut key.

**Post

[2019-08-28 07:41] onacit opened #7213 "Add functionality for relocating a collection as a subfolder of another collection"
**Is your feature request related to a problem? Please describe.**
I need to re-organize collections and found I can't relocate a collection as a subfolder of another collection.

**Describe the solution you'd like**
Capable to relocate a collection to a collection as a subfolder.

**Describe alternatives you've considered**
N/A

**Additional context**
Thank you.

[2019-08-28 08:25] milser commented on #2627
Same problem here:
Postman for Linux
Version 6.7.1

[ @texasquiwi](https://github.com/postmanlabs/postman-app-support/issues/2627#issuecomment-474106468)

[2019-08-28 08:25] numaanashraf opened #7214 ""Windows protected your PC" warning while installing Postman for Windows"
From Postman v7.6.0 onwards, we use a new code-signing certificate to digitally sign our Windows installers. Due to a change in the Subject Name in this certificate compared to our previous one, some Windows users will see this blocking warning from "Windows Defender SmartScreen" while installing Postman v7.6.0 and above. This is expected during the initial few weeks while this new application & n

[2019-08-28 09:20] harryi3t commented on #7186
@donovan-middleton Can you try the workaround as mentioned here https://github.com/postmanlabs/postman-app-support/issues/3107#issuecomment-307015494

This might because of an incorrect configuration which we had in Postman v4.x which caused creating the icon in the wrong location. Although the bug was fixed, that shortcut might still be there in GithHub, Inc folder.

Related Issue: https://github

[2019-08-28 09:28] magnusfoldager commented on #3822
I would love to see this implemented as well.

[2019-08-28 10:01] schrepfler commented on #7205
I haven't, good tip!

[2019-08-28 10:03] tamilselvanps commented on #1966
And if possible add the following feature too.
1.Can i get the data from Cdn  URL which may be in json/xlxs format.(i am unable achieve it through javascript code in Tests Tab)
2.And it seems postman supports only list of NPM packages to run through newman option.
Is it possible to make work all the nodejs code(import npm package and use it in Test tab Script) inside postman app itself.

Thanks in

[2019-08-28 10:06] kaustavdm commented on #6962
@BrambleRamble We addressed much of these in postmanlabs/postman-docs#1774. You can see the docs here: https://learning.getpostman.com/docs/postman/scripts/test_examples/#assertion-library-examples

Do you think this is good enough for now? (I know there are a few formatting issues 😞)

[2019-08-28 11:01] RandyAvis commented on #3789
Last comment I saw was from February. Still needing SMART CARD support, not just PFX. Need to be able to pull certificate from a card.  Please don't kill the Google app until you have this working.

[2019-08-28 13:44] idoshilon commented on #3174
+1

[2019-08-28 14:07] underhilllabs commented on #3956
@a85 true it doesn't require signing in. But if you don't sign in, it will delete all of your history and all of the sites that you have set up to test. I know this because it just happened to me.

[2019-08-28 14:24] Ghusar commented on #6397
@basaro-brightcove Are you facing the same kind of issue as described?

[2019-08-28 14:32] MikeCongdon1 commented on #6517
on Ubuntu 18.04.3 LTS >
Postman for Linux
Version 7.5.0
linux 5.0.0-25-generic / x64

it appears that some shortcuts work, but they aren't what is documented in Settings/Shortcuts.
I can use Ctrl + Tab to switch between tabs.
After switching tabs, I need to click in the "body" section (Query Params, Response, etc)  (OR I can toggle the sidebar away Ctrl + \   then Ctrl + L and some other shortcuts

[2019-08-28 14:39] basaro-brightcove commented on #6397
@Ghusar
Yes, we've been using forks with a qa team of 3 for a couple weeks, running 6.7.4 on Windows. Our collection has been merging successfully daily until yesterday, mine does not, I see the above error. Other team member is not having the issue and was able to merge today. I made some changes on my branch which had 289 requests (updated some requests and then added 10 new ones, so now it's 29

[2019-08-28 14:40] andremvb commented on #7196
Yep. I made that collections in my personal workspace. And testing that, I noticed that "History" are also related with the Workspace (I searched other workspaces, and I have only History in my Personal Workspace).
The same day that I reported the bug, I searched in the Trash also, and didn't found my collections.

![image](https://user-images.githubusercontent.com/12978746/63865435-3476c180-c977-

[2019-08-28 15:07] sea-cat commented on #2086
+1

[2019-08-28 15:17] Ghusar commented on #6397
@basaro-brightcove can we move this conversation to help@getpostman.com, so that we can get better understanding of what went wrong in this scenario?

[2019-08-28 15:50] fpierrat opened #7215 "Character "#" in collection variable xxxx breaks rendering {{xxxx}} in request"
Hi,
I'm new to Postman, maybe I just missed something?

I created a collection.
In this collection, variables, within which the "key" variable having initial value="ldkfj@22_7#".

In this collection, a request:
xyz.com/apitest/index.php?key={{key}}&lang={{lang}}

The sent request should be:
xyz.com/apitest/index.php?key=ldkfj@22_7#&lang=FR
but Postman actually sends:
xyz.com/apitest/index.php?key=

[2019-08-28 17:09] cyrielle-hada commented on #7189
@xk0der It looks like it is a duplicate of this issue [#7046](https://github.com/postmanlabs/postman-app-support/issues/7046). Closing this one!

[2019-08-28 17:09] #7189 closed, assigned to nobody

[2019-08-28 17:39] 21anujashah commented on #3438
+1

[2019-08-28 17:49] #7203 closed, assigned to nobody

[2019-08-28 18:10] jedwardsepa commented on #2701
+1 for sure.
(HTTP/2 is gaining importance with all these microservices.)

[2019-08-28 18:26] rmorrise commented on #3599
Agree with @bhartsfield. Returning a boolean that has to be tested to verify that an operation succeeded is a pattern that frequently causes mistakes in client code. A better pattern would be to throw an exception from SNR if the request name is not recognized, and let the caller handle it if they want to do some additional recovery logic.

[2019-08-28 18:28] rmorrise commented on #3599
In the current version, if SNR doesn't recognize the request, the run terminates and appears to be successful in the Runner, skipping any subsequent requests in the collection. This is definitely not expected behavior.

[2019-08-28 18:35] donovan-middleton commented on #7186
The fixes mentioned in #3107 (comment)
<https://github.com/postmanlabs/postman-app-support/issues/3107#issuecomment-307015494>
do
not work. I even tried a bunch of additional things.....
I have done the following:
1. Uninstalled Postman
2. Deleted any instance of the GitHub and Postman folders from:
    C:\Users\[user]\AppData\Local
    C:\Users\[user]\AppData\LocalLow
    C:\Users\[user]\AppData\

[2019-08-28 18:38] rmorrise opened #7216 "setNextRequest: Stop run with an error if there are two requests with the same name"
**Is your feature request related to a problem? Please describe.**
In a long Postman script with lots of requests, I had a copy-and-paste error in my script (two requests with the same name). When calling ```setNextRequest```, the runner jumped to a different request than the one I expected, causing the request to fail with strange symptoms.

I'd like the Postman runner to detect this condition (c

[2019-08-28 18:48] basaro-brightcove commented on #6397
Hi there Ghusar,

What info do you need from me? I am planning to manually merge our versions
tonight because I can't lose another day on this.

Any suggestions or anything else, please let me know.

Thanks

On Wed, Aug 28, 2019 at 11:18 AM Ghusar <notifications@github.com> wrote:

--
Brian Asaro
BGS QA
Brightcove Boston

[2019-08-28 20:12] jacobcravinho commented on #3822
+1

[2019-08-28 20:41] Nmirontsev commented on #7169
I have the same issue. It is reproducible for any collection that has more then 2 iterations in it. Despite number of requests in collection.
My last run was with 6-requests collection with 9 iterations. After scrolling to iteration 3 in "Run Results" screen goes blank. It is very annoying and makes using "Runner" useless. I hope issue will be addressed.
App info and OS is the same as for reporter

[2019-08-28 20:42] squoyster opened #7217 "Show unsaved requests Collections view"
When I have many modified requests, I would like to save some and abandon others.  Often this depends on which collections the changes are in.  Currently, the UI shows that a request is modified in the tabbed main view, but I cannot tell which collection the request belongs to.

1. Show modified requests in the Collections view.
2. Allow save or cancel in that view.
3. Display the collection and f

[2019-08-28 21:24] stcalica opened #7218 "toggle Copy and Paste in Response body so clicking links don't open new request tabs"
Writing on behalf of a user.

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
The ability to toggle off opening links in new request tabs.

**Describe alternatives you've considered**
Opening up the response body in Preview tab but this just creates a wall of text which makes it hard to fish out needed links.

[2019-08-28 21:56] JP-from-Postman commented on #7175
Update: Collection is owned by someone no longer on the team

[2019-08-28 22:08] JP-from-Postman opened #7219 "User receiving status 400 when clicking"
**Describe the bug**
[Reported by Postman Support, on behalf of original user]

**User report:**

_I am trying to view documentation for my collection. When I click the "View in web" button it brings up a "web.postman.co/collection" link that shows the loading icon and spits out the following error continuously in the console:_

_app.8bcaa064ef385673ce2b.js:21 WebSocket connection to 'wss://web.po

[2019-08-28 23:51] akaczinski opened #7220 "Application crashes when sending PUT with image to AWS using AWS Signature Auth"
**Describe the bug**
I have a request which as of v7.5.0 worked. It is a PUT to AWS's s3 server and it uses the AWS Signature type of auth. It utilizes every field, AccessKey, SecretKey, AWS Region, Service Name and Session Token. The request also includes a binary file, a jpg. I have tried with different images and they have the same effect.

I will include the collection json for the request, bu

[2019-08-28 23:53] akaczinski commented on #7220
https://www.getpostman.com/collections/63df0ee8c5fde3d1ba4f
Hopefully that shares alright, I've never tried that before.

[2019-08-29 00:49] Favorlock commented on #3697
I really hope we can get support for this quickly. My work requires us to use security keys and that is the only method of 2FA I can setup on my google account it appears. At this point I simply cannot use the app.

[2019-08-29 04:11] kamalaknn commented on #7218
@stcalica This looks like a duplicate of #6984

This is not intended behavior. We have marked it as a bug and are working on a fix for this.

I'm closing this as a duplicate. Please follow the original thread for updates.

[2019-08-29 04:11] #7218 closed, assigned to nobody

[2019-08-29 04:13] kamalaknn commented on #6984
This seems to have started with our recent changes to the response viewer. We have marked this as a bug. We will keep this thread updated on the status of the fix.

[2019-08-29 04:30] Ranchman42 commented on #3137
Please add this +1!!!

[2019-08-29 04:36] preethammavin commented on #6397
@basaro-brightcove can you write to us at help@getpostman.com from your registered email-id and provide the collection ids of the parent and fork that you are trying to merge, that would enable us to debug to get the root cause.

[2019-08-29 05:11] ankit-m commented on #7219
Postman web dashboard requires a websocket connection to be established between the client (your browser) and our servers. Based on the console logs, it looks like the connection was not established.

This can happen due corporate firewall restrictions, proxy settings or any network issue which disallows websocket connections. Please try switching to a home/mobile internet connection and check you

[2019-08-29 05:11] #7219 closed, assigned to nobody

[2019-08-29 06:29] mbracero opened #7221 "Request timeout despite '0' timeout configuration"
Postman replies with an ETIMEDOUT despite the timeout configuration is set to infinite (value = 0).

![image](https://user-images.githubusercontent.com/4550933/63915056-4e76d980-ca35-11e9-95b5-169277d0f4a1.png)

Postman stops in 20 seconds.

![image](https://user-images.githubusercontent.com/4550933/63914987-25eedf80-ca35-11e9-9071-a717a5f76eb4.png)

The request takes 40sec to reply. I have tried

[2019-08-29 06:40] godfrzero commented on #7192
@zatziky What's the size of the environment here?

[2019-08-29 06:49] mirza-shazif opened #7222 "getting "unrecognized network " code:error 400 in POSTMAN request Post"
**Describe the bug**
i just using Request POST in POSTMAN and sending xml code to test Staples API but i did not get any response i search lot of but did not get solution of problem(Attachment)

![Annotation 2019-08-28 192821](https://user-images.githubusercontent.com/41999877/63916987-fea70b00-ca52-11e9-890a-f46aa4fe135d.png)

[2019-08-29 06:59] tristaneniyan commented on #858
how an request will encrypt the upcoming actual request. it'll execute any encryption mechanism or postman will do the encryption. if postman does the encryption can we change that encryption mechanism by using our own encryption mechanism.

[2019-08-29 07:54] RotterAxel commented on #2049
I think the best option would be to implement this on the Postman Testing API. So pm.login / request authentication token and pm.logout in order to automatically test each scenario.

[2019-08-29 08:23] kartikjain26 commented on #7009
@davidh-zoosk  @ash007-postman  The issue has been fixed in beta. This will be out in production next week.

[2019-08-29 08:26] brianjaikens commented on #7204
The issue described after the bug report has nothing to do with Postman of course. Simply a TLS version difference that party behind the web service I'm trying to use had not documented.

But the bug still stands as an issue and the code generated fails with an internal error to RestSharp. It doesn't throw an exception but the response object it returns has to be examined to see the error.

Perhap

[2019-08-29 08:45] janmarasigan commented on #422
Glad I found this reported issue, I think I wasted half a day trying to figure out where my line breaks have gone to... Trying to build an OData batch request payload using pre-request scripts and I have no choice but to send my request body using the 'raw' option.

I get that OData might be unpopular outside Microsoft and SAP, but I think having this functionality would surely help a lot, OData o

[2019-08-29 08:50] nitram509 opened #7223 "Code generated for curl (and HTTP) is wrong (v7.5.0)"
**Describe the bug**
The code generated for Curl is wrong and contains incorrect Cookie header values. Hence it is not usable to copy&paste or to share with others. The code is broken.

Also, the code generated for "HTTP" is affected. That said, the procedure to reproduce only focusses on the curl code generation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new tab (starting from

[2019-08-29 08:57] leoliew commented on #3358
+1

[2019-08-29 08:58] TzviGK commented on #5611
Experiencing this in version 7.5.0 (Windows)

[2019-08-29 10:07] lkbn opened #7224 "Postman logo is missing"
The Postman logo is missing in the taskbar of Windows 10.
Postman version = 7.5.0

[2019-08-29 10:42] kamalaknn commented on #7224
@lbn2019 Thanks for your feedback. This looks like a duplicate of #6897

I'm closing this issue, please follow the original issue for updates.

Duplicate of #6897

[2019-08-29 10:42] #7224 closed, assigned to nobody

[2019-08-29 10:44] alizahid4004 commented on #6682
+1

[2019-08-29 10:51] lkbn commented on #7224
Thanks

[2019-08-29 11:31] FBO-Testing commented on #3312
I tested the deletion of cookies in V7.6.0 canary05 and it works very well.
when can the function be available in a stable version?

[2019-08-29 12:37] ArjunSingh-PM opened #7225 "Monitoring request name under the 'VIEW' drop-down does not update if request name is changed in the collection"
**Describe the bug**
Monitoring request name under the 'VIEW' drop-down at the monitoring-detail dashboard does not update if request name is changed in the underlining collection

**To Reproduce**
Steps to reproduce the behavior:
1. Go to monitoring-detail dashboard
2. Click on the 'VIEW' drop down to see the list of requests in the collection
3. Change the name of any of these requests from the

[2019-08-29 14:55] JohnArrowwood opened #7226 "pm sandbox needs to be the same instance variable throughout a request"
**Describe the bug**
Every execution context (collection pre-request, folder pre-request, request pre-request, etc.) has a unique value for `pm`.  References to old versions get stored in any closures that survive from one execution context to the next, e.g. when defining reusable code libraries.  But the old versions don't work.  This renders using a shared library to manipulate variables inopera

[2019-08-29 15:00] zatziky commented on #7192
@godfrzero I don't understand your question. How can I measure the size of it? All the items look this way:
![image](https://user-images.githubusercontent.com/2794365/63951674-79395000-ca7e-11e9-8b69-4e3311d1adae.png)
![image](https://user-images.githubusercontent.com/2794365/63951677-79d1e680-ca7e-11e9-9839-335c17db2c22.png)

[2019-08-29 15:06] godfrzero commented on #7192
Could you try exporting the environment? The filesize should give us a handle on the ballpark figure.

The reason I ask is because of https://github.com/postmanlabs/postman-app-support/issues/5209, which has to do with URL length limitations and the way we encode environment variable values. A fix for this has yet to be shipped out, and this affects environments with > N characters, where N depend

[2019-08-29 15:09] britt-k commented on #4186
Experiencing the same issue in version 7.3.5
After trying the suggestion of using environment variable names {{key1}} and {{key2}} for access key and secret key, it is now giving a different error saying that the security token included in the request is invalid.

[2019-08-29 15:18] zatziky commented on #7192
The length of the encoded part behind `?` in the URL address is **2283 chars**. It indeed looks like we have exceeded the URL address length limitations. What workaround do you suggest? I'd suggest that you use some kind of compression on the already encoded string.

@godfrzero Github doesn't allow me to share the file. The file size is:
![image](https://user-images.githubusercontent.com/2794365/6

[2019-08-29 15:50] danielspk commented on #5194
+1

[2019-08-29 18:35] danieljanderson commented on #2489
I am surprised that this is still an issue.  I tried moving it to my users app folder.  That didnt work. I tried @wouter-veeken  solution and that didnt work.

[2019-08-29 20:10] rishabhprakash commented on #3358
+1 for this feature

[2019-08-29 21:20] satishkn commented on #7118
My env is Windows 10 (64 bit). I have also noticed the problem that the requests are not saved with Capture Requests setting 'On'. The workaround suggested seems to work. I had to spend a lot of wasted cycles on this - thinking it could be proxy issue, or firewall blocking in my company's environment and such. The indicator on 'Capture requests and cookies with Postman' doesn't indicate that the C

[2019-08-30 05:13] shamasis commented on #7201
Indeed. We are tracking a performance slowdown of runner and are working on it.

[2019-08-30 05:16] shamasis commented on #7210
Indeed we are considering an api to read files in away similar to how files are read for request body via a working directory.

[2019-08-30 05:19] shamasis commented on #7211
We are considering an asynchronous getter api that would fetch a folder or collection in context from within sandbox.

[2019-08-30 05:23] shamasis commented on #7226
@JohnArrowwood ... I hear you. Retaining context across runs would be very difficult within current constraints. We were thinking of being able to retain references across pm.variables ... thoughts?

[2019-08-30 06:46] tonitagd commented on #7206
I am also experiencing the same issue since the last version update of Postman.

**App information:**

- Windows 10 Enterprise
- Postman Version 7.6.0

[2019-08-30 06:49] cjjohansen commented on #2621
I Would not go for inheritance but for a kind of composition. It exists alot of places for instance Azure Application Configuration. Where they use the concept of labels. So each configuration field can have multiple values based on a label. It looks like this:
![image](https://user-images.githubusercontent.com/465656/63998943-9ca5de80-cb02-11e9-832a-0dd25eed3778.png)

The same thing could be done

[2019-08-30 06:51] abhijitkane commented on #7206
@sri-miriyala @tonitagd Can you check the app's console logs for any errors? These should be visible in View > Developer > Show DevTools (current view)

[2019-08-30 07:08] sankalp0o commented on #6973
@kartikjain26 The fix for this is out in the latest version for the app (v7.6). I'm closing the issue, but feel free to reopen this in case the problem persists.

[2019-08-30 07:08] #6973 closed, assigned to nobody

[2019-08-30 07:16] lucapalano commented on #2489
With last postman releases, this issue looks like to be fixed.

[2019-08-30 07:26] coditva commented on #7221
Hey @mbracero, thanks for reaching out! Unfortunately I've been unable to reproduce this.

I tried sending a request to a local server I setup which sends response after 5 mins. Here's the code for the server:
[code]
Postman was able to get the response just like `curl`.

What kind of service are you using? Is there a chance this got timed out because of a Proxy/server?

Is there any publicly acce

[2019-08-30 07:43] alexnoise79 commented on #6427
I got the same error, when paste a POST curl, the method in the window is not updated remains GET

[2019-08-30 08:00] kamalaknn commented on #6805
@BrandonGordon126 This should be fixed in Postman 7.6.0

[2019-08-30 08:00] #6805 closed, assigned to vkaegis

[2019-08-30 08:01] anudeepmedicharla opened #7227 "Improper redirection after verifying email"
**Describe the bug**
If I click on "head to your profile" once I verified my email, I am taken to "web.postman.co" instead of my team domain. Then I get "you don't have access" error because I am part of a team.

**To Reproduce**
Steps to reproduce the behaviour:
1. Verify your email which is part of a team
2. Click on "Head to your profile"
3. You can see that you are redirected to "web.postman.c

[2019-08-30 08:02] kamalaknn commented on #6989
A fix for this has been released on Postman 7.6.0

[2019-08-30 08:02] #6989 closed, assigned to numaanashraf

[2019-08-30 08:15] ankurdengla commented on #7032
A fix for this has been released on Postman 7.6.0

[2019-08-30 08:15] #7032 closed, assigned to ankurdengla

[2019-08-30 08:28] stacey-sloth commented on #6115
+1

[2019-08-30 08:36] stacey-sloth opened #7228 "In Oauth2, automatically select the token I just created to send with the request"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I create a token and then have to manually select that token to send with my request.

**Reproduction Steps**:
1. Create a new request tab
2. Select the 'Auth' section
3. Select 'OAuth 2.0' from the TYPE menu
4. Click 'Get new access token'
5. Enter your details and request the token
6. Click the X in the

[2019-08-30 08:54] xaviergm commented on #4171
+1
Just stumbled onto this issue.
Our API management platform does not encode the URLs to the backend while Postman does. This was leading to strange test results when a direct call to the backend would fail while calling through our API Manager would work.
In our case the URL seems to be encoded by Postman only when we use http requests.
When using https, everything works fine.
It would be good t

[2019-08-30 09:00] tomsihap commented on #3438
+1 this is becoming urgent for quite a necessary feature

[2019-08-30 09:12] asmittal commented on #2489
Currently on 7.5   . Says 7.6 available > Asked for update and restart > Accepted < Application closed but didn't start.
Manually started the app, and it is still on 7.5

[2019-08-30 09:25] Poovendranavs opened #7229 "Build a Bulk upload requests in Postman"
In Postman, how to Built a Bulk upload requests and get output according to that request?

any one please guide me....

[2019-08-30 09:54] Poovendranavs opened #7230 "How to make multiple request at a time in Postman"
If i make one request from Body-Raw, method of Post and i have got response. But how to make more than one requests in Body-Raw to get output???

[2019-08-30 10:40] shreys7 commented on #7223
Hey @nitram509  In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.
This particular problem has been solved in the experimental codegen mode. Click on the Settings icon on top right -> Settings -> Ex

[2019-08-30 10:46] porfirion opened #7231 "Can't add Cookies when specifying domain with schema and/or port"
**Describe the bug**
Can't add cookies for request ("cookies-management-cookies__actions--add" button doesn't work) when adding domain with schema (http/https) or with port.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new request
2. Click on 'Cookies' link
3. In opened window type host name into 'Type a domain name' input with schema, for example "https://google.com" or "google.co

[2019-08-30 11:40] AuriR commented on #4171
Have you tried right-clicking the parameter fields? There are features “hidden in plain sight” that control encoding… I learned about this at our Indy .NET Consoritum meetup a couple months ago :)

---
“Never confuse motion with action.” -Ben Franklin
Blog: https://auri.net<http://www.auri.net> / Twitter: @Auri

________________________________
From: xaviergm <notifications@github.com>
Sent: Frida

[2019-08-30 11:40] Cazaimi commented on #6530
@mjang , please refer https://github.com/postmanlabs/postman-app-support/issues/6421. If that still does not solve your problem, please post the documentation's public URL on this thread, or (re)open the corresponding support ticket [here](https://www.getpostman.com/support)

[2019-08-30 11:41] Cazaimi commented on #7175
@JP-from-Postman , investigating this. Will post updates on this thread.

[2019-08-30 11:46] kamalaknn commented on #2489
@asmittal Can you share the application logs from `View -> Developer -> View logs in Finder` to us by sending them over email to `help@getpostman.com`? Please provide the GitHub issue id in the mail.

[2019-08-30 12:09] sankalp0o commented on #7196
Thanks for the response @andremvb. This isn't supposed to happen and we will check this out.

[2019-08-30 12:21] mamraz commented on #4171
Those options don't control encoding.  They give you the option to manually encode or decode a specific value.  While better than nothing, that is not really the ideal solution.  One of my requests can have 50 parameters in a format similar to param[23][field]=foo4.  However, since I need to encode it before sending it to the service, they look like param%5B23%5D%5Bfield%5D=foo4.  Looking through

[2019-08-30 12:24] mariefoltynova opened #7232 "Postman crashes while running GET in collection runner (large response)"
**Describe the bug**
The application crashes when running a GET request that has large response (34.42 MB, 518039 lines) in collection runner (there is no other request in the collection).

**To Reproduce**
Steps to reproduce the behavior:
1. In Collection runner, call a request that is expected to receive a large response
* environment is set
* 1 iteration
* 0 dealy
* no data file
* do not log re

[2019-08-30 12:41] abhijitkane commented on #7196
@andremvb Can you contact us at help@getpostman.com (from your registered email) referencing this issue ID (https://github.com/postmanlabs/postman-app-support/issues/7196)? We'll look through our logs and check what went wrong here.

[2019-08-30 12:50] JohnArrowwood commented on #7226
As long as the old variable FUNCTIONS, it's all good.

So if I set a global/environment variable, the variable gets set.  If I call `pm.test()`, the result gets recorded as a test result.  Basically, anything that has a side-effect, that side-effect needs to work regardless of which context the reference to `pm` was captured from.

If those actions with side-effects do their thing immediately, the

[2019-08-30 13:36] shivangibajpai12 opened #7233 "Request tab shows [CONFLICT] for the deleted request on reopening the app"
**Describe the bug**

- Delete the request opened in tab
- Close and reopen the app
- The request tab will show [CONFLICT] instead of [DELETED]

**To Reproduce**
Steps to reproduce the behavior:
1. Open a request in tab
![Screenshot 2019-08-30 at 6 48 09 PM](https://user-images.githubusercontent.com/14205640/64023807-bcff8880-cb56-11e9-9c96-0ab41cad5745.png)

2. Delete the request
![Screenshot 201

[2019-08-30 13:51] vaibhavghevde commented on #6897
![image](https://user-images.githubusercontent.com/52920073/64025852-3ef1b080-cb5b-11e9-8427-26ce38c418f9.png)
I have the same problem on windows 10

[2019-08-30 17:46] VishnuPriyaChandraSekar commented on #4009
+1

[2019-08-30 18:11] mjang commented on #6421
So you're saying that the procedure listed here is part of official Postman documentation?

[2019-08-30 18:30] miyconst commented on #4764
PostMan `6.7.1` on Ubuntu 18.04, the same behavior.

[2019-08-30 19:12] JosephDHenry commented on #6832
ok, so I really got tired of having to install the old version that worked just to have it automatically updated to the new version, so I added this entry to my hosts file:

127.0.0.1 dl.pstmn.io

The update will now fail since it tries to go to localhost.

This is not ideal, but at least I can stay at a version that works until this bug is fixed.

[2019-08-30 19:14] robross0606 commented on #6832
@datacart, I thought about doing something like that or creating a firewall rule, but worried that it would also prevent syncing across devices (history, collections, API, etc.).  I asked @mccannt  this earlier but never got a response.

[2019-08-30 19:17] JosephDHenry commented on #6832
@robross0606, Well I am not 100% sure, but it seems that syncing still works and that only updates are blocked by this. It was either this or continually installing an old version.

[2019-08-30 19:26] JSmythSSG commented on #4814
Same issue for me on  v7.6.0 too

[2019-08-30 19:33] robross0606 commented on #6832
The problem with this approach is that you can't even download the app from a browser at that point.  I was hoping to be more specific with a firewall rule but I'm not sure that's possible either.  What a PITA...

[2019-08-30 19:34] robross0606 commented on #6832
Crap, now they removed the download links for the older versions?!  Is the Postman team actively TRYING to alienate users?!

[2019-08-30 20:41] andycondon commented on #2701
+1
5G is all HTTP/2 services on the backend and that's ramping up

[2019-08-30 20:48] stcalica commented on #4450
+1
would help Support team with helping users on their monitor runs
API endpoint would also be nice to integrate into peoples report systems in their CI/CD general or just automated testing pipelines in general.

[2019-08-30 21:26] Imoriarty commented on #4687
Same issue. Win 7, 8 GB Ram. It's like Chrome and Postman are having a grudge match to see who can eat the most. This is a single instance of postman with two collections, and less than 150 requests between the two.

**Before PM Restart**
![Capture](https://user-images.githubusercontent.com/12206655/64051901-efe75380-cb39-11e9-8541-67f4d1875733.PNG)

**After PM Restart**
![Capture](https://user-im

[2019-08-30 21:27] idevtech opened #7234 "Change close tab keyboard shortcut to CTRL-W to match common usage"
It would be helpful, and more consistent, w/ many other programs, e.g., browsers, if CTRL+W closed a tab.

[2019-08-30 21:29] idevtech opened #7235 "Change rename keyboard shortcut to F2 to match common usage"
It would be helpful, and more consistent, w/ many other programs if F2 was used for rename.

[2019-08-30 21:31] idevtech opened #7236 "Add "Description" field to example"
It would be useful to have a Description field for an example in addition to the title like requests. Since it is an example, it would benefit other developers if a more detailed explanation was included w/ the example.

[2019-08-30 22:04] OMA2k commented on #3117
I can't believe this issue was raised more than 2 years ago, and still nothing has been done about it. It's as simple as adding the contents of the "Params" tab under the "Body" tab even when the "raw" radio button is selected, so the parameters of the raw request can be manually documented under the "raw" code textbox so they appear in the documentation. It's really easy to implement that. Why ha

[2019-08-31 02:09] craigbertf opened #7237 "A set of static IPs to allow for whitelisting for secured APIs"
**Is your feature request related to a problem? Please describe.**
Our APIs are IP whitelisted in order to reduce risk and be more secure.  We would very much like to use the Postman Monitors, but since we can't effectively whitelist the IPs from which the monitors work we can't use them.

**Describe the solution you'd like**
The Monitors should have static IPs so that they can be whitelisted.

[2019-08-31 02:34] asi-postman commented on #7237
@craigbertf This is Anthony from Product Support. We do have this feature available for Enterprise Plans. I have reopened our existing ticket for further discussion regarding the static IP. I also included a link below that highlights differences between each Postman Plan.

https://www.getpostman.com/pricing

[2019-08-31 03:38] glja021 commented on #350
+1

[2019-08-31 04:05] Raj-postman opened #7238 "Issue with Postman Monitor"
**Describe the bug**
Monitor tests keep failing as the variables aren't being resolved. After creating a brand new monitor with the same collection and environment of the failed monitor, it runs as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Monitor for the collection
2. Check test results
3. Environment variables do not resolve which cause monitors to fail
4. Error: I

[2019-08-31 04:07] Raj-postman opened #7239 "Issue viewing monitors in Web - "Something went wrong""
**Describe the bug**
Unable to check monitors from the Monitors Tab

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the specific monitor from Monitor Tab
2. Error: "Something went wrong" + redirection to the "Choose an account to continue"
3. Successful login + redirection to Workspaces
4. Go to the Monitors tab and go back to 1.

**Expected behavior**
Be able to check monitors

**S

[2019-08-31 07:35] dem13 commented on #4029
Same to me. I can upload file using POST method, but PUT method doesn't work.

[2019-08-31 09:11] corydbrown commented on #1070
Would like this. :)

[2019-08-31 13:20] nitram509 commented on #7223
Hi,
thank you for that information - I will give it a try.

May I allowed giving some feedback?
I do propose to rethink the release strategy.
Letting people wait for bug fixes over 3 minor releases (7.3.x , 7.4.x and 7.5.x) causes frustration, IMHO. I understand though, that when you have a feature in beta-test, you want to wait with releasing bug fixes, because you might run into merge issues of

[2019-08-31 13:20] #7223 closed, assigned to nobody

[2019-08-31 16:18] rikr2sanchez opened #7240 "Support for using system proxy"
I need to connect Postman through a corporate proxy which has digest authentication. When I enable the "Use System Proxy" setting on Windows and set the host and port of my proxy, many apps are able to connect, for example Google Chrome, but not Postman, it gives me a 407 Proxy Authentication Required.

[2019-09-01 03:51] shamasis commented on #7199
So, one idea that we are deliberating is the ability to select client certificates as part of request settings. The security aspects of the same is yet to be ascertained.

[2019-09-01 07:35] davepile commented on #810
+1 So annoying. Working on folder Pre Request scripts and have lost my work about five times today

[2019-09-01 11:50] himanshu226 commented on #7222
@mirza-shazif Could you please provide more details of the request and the endpoint you are trying to hit?
I checked for the Staples API, but it looks like their API docs page is not opening.
http://developer.staples.com/apis

[2019-09-01 14:03] HeliosLHD commented on #1946
I'm also on 7.5.0 and recently loading 27MB JSON response, one CPU maxes
consumption and memory expands to 2.5GB if the response is set to Pretty,
it seems that it will eventually load after 1-2 minutes.  Performance is
slightly better if I just leave it on Raw.

I'd say things have improved since the original bug in that the program
doesn't spiral and crash, but still not good.

On Fri, Aug 23, 2

[2019-09-01 15:52] Tomis1 opened #7241 "Postman Update not working correctly"
**Describe the bug**
Postman Update say it's new update avaiable (7.6.0), but on clicking on "update" come one dialog, your version (7.5.0) is the latest version

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'check update'
2. Click on 'update'
4. See error "you have already the latest version (7.5.0)

**Expected behavior**
update to 7.6.0

**Screenshots**
![grafik](https://user-image

[2019-09-01 19:26] codenirvana commented on #7208
@mhornbacher Programmatic cookie access APIs are available in the latest version of the Postman app (v7.6.0).
Looks like the documentation got  updated with the canary release last month, Know more: https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288

I understand your concern and we will make sure to document the availability (stable or canary app version) of the

[2019-09-01 19:26] #7208 closed, assigned to kaustavdm, codenirvana

[2019-09-01 19:53] codenirvana commented on #7231
Duplicate of #6931 #3518

@porfirion As mentioned in the previous issues, Cookie scope is limited to the hostname and not bound to port or protocol information.
RFC: https://tools.ietf.org/html/rfc6265#section-8.5
Refer: https://github.com/postmanlabs/postman-app-support/issues/3518#issuecomment-401298505

Can you share an example for this?

The protocol information is just to filter out `secure`

[2019-09-01 22:38] andreyvolodko1996 commented on #3312
it still doesn't work if there are two cookies for one domain. It just
deletes one cookie and leaves another. Maybe it's only in my case.

[2019-09-01 23:50] sshadmand opened #7242 "I'd like to use the result of one API response, to inform another API using that data"
Problem:
I generate access tokens as part of my API. I would like to keep using those temporary tokens as part of the test cycle. Currently, since each test in discretely independant, I can't generate that token to be used in subsequent tests.

Suggested Solution:
I'd like for one API result to set variables for subsequent tests to be used in the request headers.

[2019-09-02 02:10] vicker commented on #7239
We got the same issue starting today

[2019-09-02 02:53] Noeury opened #7243 "When I updated postman the icon doesn't appear correctly"
When I **updated** postman the program icon doesn't **appear**, it shows the default windows icon.

That happens after the last update

[2019-09-02 04:59] kamalaknn commented on #6832
Hi everyone,

We have pushed a fix for this now on our Canary channel now. You can find the latest Canary app here https://www.getpostman.com/downloads/canary

We will keep this thread updated when this fix is released on the stable channel.

[2019-09-02 06:49] zincsoda commented on #7239
We have the issue too. Any hope of a fix soon?

[2019-09-02 07:21] nlozanoarguelles commented on #7114
I am experiencing the same problem importing [this Swagger 2.0](https://raw.githubusercontent.com/AdobeAtAdobe/kirby_docs/master/acpdr/swagger-specs/decisioning-repository.yaml) definition.

**App information:**
App Type: Native MacOs App
Postman Version 7.5.0
OS: macOS Mojave 10.14.5

[2019-09-02 08:02] camohub opened #7244 "Lines highlighting in result"
It would be handy if is possible to highlight the lines in result. Also in query string.... If user click on the line number this line will have some colored background. Like in Github diffs...
Thank you.

PS: There is something like line highlighting. But when I click somewhere it disappears.

[2019-09-02 08:10] Hajawata commented on #7118
Just checked the newest version (7.6.0). The bug is still there.

[2019-09-02 08:37] harishbarma commented on #5335
Hi @kartikjain26  any news on what might be wrong ?

[2019-09-02 08:50] me-sosa opened #7245 "Export python code snippets"
Since I am running some E2E tests I would find really useful to have all the requests as "exportable/downloadable" Python code snippets in a bulk.

So far I have been exporting all the requests as json and then using newman to run them for me. However handling the response is difficult.

What do you think about this? Is it feasible?

[2019-09-02 09:05] vdespa opened #7246 "Feature request: Store files in the collection"
**Is your feature request related to a problem? Please describe.**
It is always frustrating when you need to work with external files in Postman. For example:

- including a JavaScript library
- referencing a JSON schema
- defining response templates
- comparing responses against an expected response

Storing file contents inside scripts is really suboptimal.

**Describe the solution you'd like**

[2019-09-02 09:35] captain-kark opened #7247 "Local Development Environment, "Watch Mode""
**Is your feature request related to a problem? Please describe.**

I'd like to be able to write more of my collection's postman resources in the editor I'm most comfortable with.

**Describe the solution you'd like**

I'd like to clone a postman collection and have more of my resources split out into dedicated files for:

  - request bodies
  - prerequest scripts
  - test scripts

A local develop

[2019-09-02 10:11] codenirvana commented on #3312
We've added support for programmatic cookie access in the latest version of the Postman app (v7.6.0). Refer https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288 for more details.

[2019-09-02 10:11] #3312 closed, assigned to shamasis, codenirvana

[2019-09-02 10:14] codenirvana commented on #3312
@andreyvolodko1996 can you file a separate issue for this?

@FBO-Testing @JohnArrowwood Shipped in v7.6.0. 🎉

[2019-09-02 10:16] codenirvana commented on #1228
We've added support for programmatic cookie access in the latest version of the Postman app (v7.6.0). Refer https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288 for more details.

[2019-09-02 10:16] #1228 closed, assigned to a85, codenirvana

[2019-09-02 10:18] codenirvana commented on #2638
We've added support for `*.localhost` lookup in the latest version of the Postman app (v7.6.0).

[2019-09-02 10:18] #2638 closed, assigned to codenirvana

[2019-09-02 10:22] codenirvana commented on #6641
We've pushed a fix for this on `v7.6.0`. Can you update your app and confirm if this fixes your issue?

[2019-09-02 10:22] #6641 closed, assigned to coditva

[2019-09-02 10:48] codenirvana commented on #2922
We've added support for the new **`replaceIn`** method in `v7.6.0`.

You can use `pm.variables.replaceIn(<template: String|Object>)` to replace variables in the given template string or object.

Example:
- `pm.variables.replaceIn('{{var1}}')`
returns variable `var1`'s value
- `pm.variables.replaceIn(pm.request.url).toString()`
returns resolved request url
- `pm.variables.replaceIn('{{$randomFirstN

[2019-09-02 10:48] #2922 closed, assigned to codenirvana

[2019-09-02 10:49] codenirvana commented on #5767
We've added support for the new `pm.variables.replaceIn` method in v7.6.0.
Know more: https://github.com/postmanlabs/postman-app-support/issues/2922#issuecomment-527101679

[2019-09-02 10:51] codenirvana commented on #6747
@spoloju Refer https://github.com/postmanlabs/postman-app-support/issues/2922#issuecomment-527101679 for `pm.variables.replaceIn`.

[2019-09-02 10:57] codenirvana commented on #6837
@spoloju We've pushed a fix for this on `v7.6.0`. Can you update your app and confirm if this fixes your issue?

[2019-09-02 10:57] #6837 closed, assigned to coditva

[2019-09-02 11:04] andreyvolodko1996 commented on #3312
Where should I file this issue ?

On Mon, Sep 2, 2019, 13:14 Udit Vasu <notifications@github.com> wrote:

[2019-09-02 11:04] joaoalber commented on #3942
Thanks my brother, u saved my day!

[2019-09-02 11:08] codenirvana commented on #6923
@charliemoriarty We've pushed a fix for this on `v7.6.0`. Can you update your app and confirm if this fixes your issue?

[2019-09-02 11:08] #6923 closed, assigned to coditva, saswatds

[2019-09-02 11:10] codenirvana commented on #6868
Fixed in the latest version of the Postman app v7.6.0.

[2019-09-02 11:10] #6868 closed, assigned to vikiCoder

[2019-09-02 11:12] codenirvana commented on #6783
Fixed in the latest version of the Postman app v7.6.0.

[2019-09-02 11:12] #6783 closed, assigned to coditva

[2019-09-02 11:13] codenirvana commented on #5259
Fixed in the latest version of the Postman app v7.6.0.

[2019-09-02 11:13] #5259 closed, assigned to coditva

[2019-09-02 11:15] charliemoriarty commented on #6923
Thanks @codenirvana ! I can confirm that's fixed the issue in `v7.6.0` 🎉

[2019-09-02 11:17] codenirvana commented on #5251
Fixed in the latest version of the Postman app v7.6.0.

[2019-09-02 11:17] #5251 closed, assigned to nobody

[2019-09-02 11:19] codenirvana commented on #6980
Hey, Everyone 👋
We've pushed a fix for this on `7.6.0`. Please update your app and confirm if that fixes your issue?

[2019-09-02 11:22] codenirvana commented on #5691
Refer https://github.com/postmanlabs/postman-app-support/issues/2922#issuecomment-527101679 for `pm.variables.replaceIn`.

[2019-09-02 11:22] #5691 closed, assigned to codenirvana

[2019-09-02 11:25] codenirvana commented on #1392
We've added support specifying custom `boundary` and  `charset` in the `Content-Type` header in the latest version of the Postman app (v7.6.0).

[2019-09-02 11:25] #1392 closed, assigned to a85, codenirvana

[2019-09-02 12:37] godfrzero commented on #7239
@vicker @zincsoda Are you see this issue with a session that was recently created, or with one older than  2 days ago? In addition, does the issue persist if you clear all cookies on the domains getpostman.com & postman.co and log in again?

[2019-09-02 13:09] pierscin commented on #7239
@godfrzero I tried to access monitors in incognito mode - no success. I also checked this on other computer with which I didn't ever signed in to the postman account (browser was also different - safari).

[2019-09-02 13:12] BrambleRamble commented on #6962
@kaustavdm Thanks for your patience! Yes, I think that looks good. The only suggestion I'd have would be to show the setting of `data1` and `data2` before they're compared, a bit like how @arnitkun set them out in their comment above. That would be helpful context, and would make the example a bit more tangible.

[2019-09-02 14:02] peobrie opened #7248 "Response descriptions, not requestBody examples from imported OpenAPI, shown"
**Describe the bug**
Postman request objects, created by importing an OpenAPI V3 api document, do not show the imported requestBody media type examples correctly. Only the response structures are shown as examples, but there are no example entries for the responses in the API document, just examples for the requestBody.

**To Reproduce**
Steps to reproduce the behavior:
1.  Import the attached
[op

[2019-09-02 14:22] oozman opened #7249 "Weird duplicate request and I can't delete it."
**Describe the bug**
I have a collection in Postman App (Mac) and tried to publish docs. But when I look at the published docs url... I see this weird `forgot password (Copy)` which doesn't exist in my mac app.

**To Reproduce**
I can't reproduce it :(

**Expected behavior**
There should be no duplicate request when publishing it as a doc.

**Screenshots**
![Image](https://narrow-blade.surge.sh/ss

[2019-09-02 14:25] mhornbacher commented on #7208
@codenirvana cool! It seems the documentation is a portal to the future. I guess it is written while driving at 88mph 👍

[2019-09-02 14:36] sshadmand commented on #7242
Doing some reading of Docs. I think it may be possible using Pre-Request Scripts, and Setting Global variables, but haven't put 2 and 2 together yet. Still reading, but if anyone has an example, (or knows if I am headed the wrong way) help would be appreciated :-)

[2019-09-02 16:23] spajak commented on #6641
Yes, its ok now. Thanks

[2019-09-02 17:38] oswee commented on #5194
Yeah... i would like to point Postman to proto file/dir location in remote or local location, so it could read all definitions... somehow... not sure how... So internally Postman could generate protobufs on the fly for its own internal language.
Pointing to already generated protobufs would mean, that Postman need to know how to read C, Go, Java etc protobufs...
Or it could be just Postman constra

[2019-09-02 19:08] n8kolenberg commented on #3358
+1 for this feature

[2019-09-02 23:38] pvdev commented on #3789
Yes, PFX is a file format.  PKCS#11 is the standard for interfacing with hardware type devices. There is some work going on. See [PKCS11.js](https://www.npmjs.com/package/pkcs11js). Once your PKCS11 interface is in place you should be able to use the associated libraries from vendors like ActivIdenity or open source like [OpenSC](https://github.com/OpenSC/OpenSC/wiki).

[2019-09-03 00:02] spdkb commented on #6747
Hi, does same method works in Newman or do we need update Newman ??

[2019-09-03 01:11] vicker commented on #7239
@godfrzero
This issue appears just recently, I believe they are within 2 days.

Tries Chrome incognito and clear all cookies. The issue still reproducible.

[2019-09-03 02:59] codenirvana commented on #6747
@spoloju Yes, update Newman to latest (`v4.5.4`).

[2019-09-03 04:51] Cazaimi commented on #6421
@mjang, I wouldn't call it a documentation on how to deal with this issue, rather a temporary workaround that lets you unblock your flow and _eliminates any impediment._

[2019-09-03 05:11] numaanashraf commented on #7172
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2019-09-03 05:11] #7172 closed, assigned to nobody

[2019-09-03 05:15] abhijitkane commented on #5837
@jsaya01
In the latest Postman version (7.6+), we've introduced bug-fixes around the Python http.client code generation.

The updated code-generation can be seen with the `Global Settings > Experimental Codegen mode` flag set.

[2019-09-03 05:15] #5837 closed, assigned to nobody

[2019-09-03 05:19] abhijitkane opened #7250 "Double-quotes are escaped in generated code snippets, leading to lower readability"
Reported by @berend

Now curl code is generated with " as string delimiter for the -d/--data option. Since I guess most of the people here send json, which also requires " as string delimiter, all " from the json are now escaped via \". The code still works, but it looks ugly.

Without that experimental flag, curl code is generated with ' as string delimiter for curls -d/--data option. json " quot

[2019-09-03 05:20] FBO-Testing commented on #3312
Thanks for the info @codenirvana , that sounds promising ;-)

[2019-09-03 05:20] abhijitkane commented on #6680
@berend I've moved this to https://github.com/postmanlabs/postman-app-support/issues/7250

[2019-09-03 05:22] abhijitkane commented on #7101
Also seen for Python http.client

[2019-09-03 05:25] numaanashraf commented on #7244
@camohub Could you give us some screenshots to help us understand this better?

[2019-09-03 05:43] harryi3t commented on #7243
@Noeury Thank you for reporting this issue. We are tracking this issue here https://github.com/postmanlabs/postman-app-support/issues/6897
You can also find the workaround here https://github.com/postmanlabs/postman-app-support/issues/6897#issuecomment-520352830

Please subscribe to the original thread for any future updates.

[2019-09-03 05:43] #7243 closed, assigned to nobody

[2019-09-03 06:45] vikiCoder commented on #3525
This issue is fixed in the latest version of Postman App (v7.6.0). Now variables in the token name are replaced with their value while generating new tokens.

[2019-09-03 06:45] #3525 closed, assigned to vkaegis, coditva, vikiCoder

[2019-09-03 07:22] oswee opened #7251 "Postman App loader is not positioned in the center of primary screen"
**Describe the bug**
Dual-screen (monitor) setup on Fedora 30 Workstation.
When launching the Postman Linux app, loader (pre-loader) is placed almost on booth monitor bezels and not in the center of primary screen or last used screen.

**To Reproduce**
Just launch the app

**Expected behavior**
Loader should be placed in the center of primary screen at least. Ideally, if app would remember last us

[2019-09-03 07:59] joshua-jingu-lee commented on #4009
+1

[2019-09-03 08:22] thewilli commented on #4009
There was once a platform called GitHub. From time to time somesomeone opened a topic for discussion. And if it happenend that this topc was of high interest, many people shouted `me too`. While it was at first helpful for the recipient to see this was generally recognized, it soon started to get so annoying, that the topic's recipient and sometimes even the topic's creator lost interesent. So Git

[2019-09-03 08:26] codenirvana commented on #5762
Fixed in the latest version of the Postman app (v7.6.0).

[2019-09-03 08:26] #5762 closed, assigned to coditva

[2019-09-03 08:27] codenirvana commented on #6662
Fixed in the latest version of the Postman app (v7.6.0).

[2019-09-03 08:27] #6662 closed, assigned to saswatds

[2019-09-03 08:28] codenirvana commented on #6961
Fixed in the latest version of the Postman app (v7.6.0).

[2019-09-03 08:28] #6961 closed, assigned to saswatds, ritwijsinha

[2019-09-03 08:28] codenirvana commented on #6110
Fixed in the latest version of the Postman app (v7.6.0).

[2019-09-03 08:28] #6110 closed, assigned to saswatds, ritwijsinha

[2019-09-03 08:29] codenirvana commented on #7008
Fixed in the latest version of the Postman app (v7.6.0).

[2019-09-03 08:29] #7008 closed, assigned to ritwijsinha

[2019-09-03 08:34] codenirvana commented on #6210
Fixed in the latest version of the Postman app (v7.6.0).

[2019-09-03 08:34] #6210 closed, assigned to ritwijsinha

[2019-09-03 08:38] preethammavin commented on #7171
We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2019-09-03 08:38] #7171 closed, assigned to pankajkumar005, ArjunSingh-PM

[2019-09-03 08:42] preethammavin commented on #7191
With only the information that is currently in the issue, we don't have enough information to take action please provide the necessary information and reopen it.

[2019-09-03 08:42] #7191 closed, assigned to nobody

[2019-09-03 08:45] kolonuk commented on #285
+1

[2019-09-03 08:46] saswatds commented on #6556
This issue was kept open to track the task of change in messaging around the warning.
In the latest version of app (v7.6.0) we have updated the messaging to reflect accurately what the warning is meant for i.e collaboration. Closing this issue now.

[2019-09-03 08:46] #6556 closed, assigned to vkaegis, saswatds

[2019-09-03 08:48] preethammavin commented on #7193
@cyrielle-hada going through the issue, it looks like the collection that the user was waiting on syncing was still in progress. When a session re-authentication occurs if the users authenticates the session the sync will continue to work as expected, if the user signs-out and signs-in again then his/her collection will be re-synced to the Postman Client and might not be instantaneous.

[2019-09-03 08:48] #7193 closed, assigned to nobody

[2019-09-03 08:55] preethammavin commented on #7198
@labossieresr can you update to the latest version of the app and try it again? I am unable to reproduce the issue on my end.

[2019-09-03 09:18] #5445 closed, assigned to codenirvana

[2019-09-03 09:18] turri87 opened #7252 "Postman crashes when a new token is requested"
**Describe the bug**
The app crashes after requesting a new token

**To Reproduce**
Steps to reproduce the behavior:
1. New Request
2. Click on 'Authorization'
3. Type: OAuth 2.0
4. Add authorization data to: Request URL
5. Click on 'Get New Access Token'
6. Fill the gaps as it shows on the screenshot below
7. Click on 'Request Token'
8. App crashed

**Expected behavior**
Able to create a new toke

[2019-09-03 09:29] yizeruier1 opened #7253 "System error - reset password system did not respond"
I forgot my login password, but when I sent an email to retrieve it, the system did not respond and the console reported an error

[2019-09-03 09:34] bhreinb opened #7254 "Importing A Swagger File To Postman That Requires Authentication"
Hi there,

I'd like to do REST API testing through postman. Ideally I'd like to import the swagger definition from a URL (as that is the source of truth for our ever evolving set of REST APIs) and let postman convert the swagger definition to a postman collection.

That feature already works in circumstances when the swagger definition can be accessed using anonymous authentication. However, due t

[2019-09-03 10:25] dewbjorn commented on #4009
+1

[2019-09-03 10:40] xmaska commented on #4751
My latest postman release, the canary release, the latest newman crashes when receiving big json response in the following format:
{"records":[{valid_json_document1},{valid_json_document2},{valid_json_documentn}]}
The response comes in a single line and the amount of json documents in the array can reach 10 000. The problem is clearly when postman processes the response without running any tests.

[2019-09-03 11:10] ash007-postman commented on #2489
@kamalaknn I have sent you the requested logs from @asmittal

[2019-09-03 11:22] henhal opened #7255 "Can no longer click href links without scheme"
**Describe the bug**

When getting back a response body containing HATEOAS links, I used to be able to click links such as "href": "/some/other/endpoint". Been doing this for years, and it's a crucial part of using postman for API testing or exploration. When starting postman today, it updated (didn't use it for a couple of months) and this ability is gone - only http* schemed links become clickab

[2019-09-03 11:26] DaliborTakac commented on #2353
No you can't, as of 7.6.0, at least on windows 10 right clicking anything that looksl like url opens taht url in new postman tab. If you click and drag to select upon releasing mouse button same happens. I have a feeling that the prettier postman team wants to make the app the less functional its becoming.

PS. Tried also with with "raw" display, same thing :-)

[2019-09-03 12:08] labossieresr commented on #7198
I am on 7.6.0 and I am still encountering the same issue. I did have
another team member check it out and it was working fine for them. They
checked their version and it said they needed to update to 7.6.0 though. So
the shut down the app and fired it back up. They are now on 7.6.0 and they
are still working fine. So it appears to be something with me at this point
in time. Suggestions?

On Tue, S

[2019-09-03 12:32] josteitv commented on #7252
I bumped into the same problem, but managed to work around it by turning off SSL certificate verification. So I suspect the crash is related to Postman not being able to verify the certificate chain.

![image](https://user-images.githubusercontent.com/952413/64173361-6399a100-ce57-11e9-98db-66ef76afffc1.png)

[2019-09-03 13:12] kriggo15 opened #7256 "Session has Expired Error - Failure to Authenticate"
**Describe the bug**
When trying to sign into the desktop app, I'm receiving an error around connecting to the authentication service. When clicking on Retry, I receive the same error. I am able to log into the web portal and see all of my information.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Sign In
2. Postman tries to authenticate and fails.
3. See error

**Expected behavio

[2019-09-03 13:13] labifrancis opened #7257 "504 error when Importing exported data via the Postman API into a workspace"
**Describe the bug**
When a user tries to import an exported data(i.e. collection) using Postman API to a workspace, it gives a 504 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Export any collection and save as a zip file
2. Navigate to any workspace and create a request as described below:
 Method: POST
 Endpoint: https://api.getpostman.com/import/exported

**HEADERS**
[code]

**B

[2019-09-03 13:19] jota-oliveira commented on #576
Thanks a lot!

[2019-09-03 14:01] bscnarola commented on #7252
I have same issue, I turn off the SSL certification verification still, the postman is crashing on Request Token. Any other solution?

[2019-09-03 14:02] AnkitMasand commented on #7239
@Raj-postman @vicker @zincsoda @pierscin Thanks for reporting this issue.
We are looking into this and would like you all to help us with some additional information around this scenario. Can you share logs from the Networks tab (inside your browser's developer tool options)? I am sharing a web link that demonstrates how to go about executing this.
Also, please note that the dump file can contain

[2019-09-03 14:18] nickevansuk commented on #1180
Yes please!

[2019-09-03 14:30] godfrzero commented on #7239
@vicker @zincsoda @pierscin Please send the files to help@getpostman.com instead of posting here. We'll update this thread once we've identified the problem and have an ETA for the fix.

[2019-09-03 14:34] mccannt opened #7258 "Windows - Installation Has Failed"
**Describe the bug**
Some Windows users are experiencing install issues of the v7.6 release of the application.
This is impacting some users on Windows 7 and 10 (32 and 64 bit).

**To Reproduce**
Steps to reproduce the behavior:
1. Download the lates Windows release
2. Click on the EXE to install.

**Expected behavior**
Application will install successfully.

**App information (please complete the

[2019-09-03 14:36] asockett commented on #7239
To confirm, I am also experiencing this issue. Thanks

[2019-09-03 14:42] mccannt opened #7259 "Windows DLL - Login point not found"
Describe the bug:
Windows DLL issues for some users on v7.6 install. The error message "Login point not found" is displayed.
This is impacting some users on Windows 7 and 10 (32 and 64 bit).

To Reproduce
Steps to reproduce the behavior:
1. Download the lates Windows release
2. Click on the EXE to install.

Expected behavior
1. Application will install successfully.

App information (please comple

[2019-09-03 14:54] pierscin commented on #7239
@godfrzero I already did that a few days ago before this issue was created, but I will send it again with this issue's number...

[2019-09-03 15:15] kamalaknn commented on #7255
Hi @henhal

Thanks for reporting the issue. We are tracking this as part of #6832

I'm closing this as a duplicate. Please follow the original issue for updates.

[2019-09-03 15:15] #7255 closed, assigned to nobody

[2019-09-03 15:26] kaustavdm opened #7260 "Selecting Header Preset in Example Response header inserts [object Object]"
**Describe the bug**
Selecting a header preset from the editor in Example response inserts `[object Object]`. Looks like #5443, but for Example response.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new header preset, if you don't have one
2. Create a new Example or choose an existing Example for a request
2. Under Response -> Headers, type in the `Key` field
3. Select a suggestion

[2019-09-03 15:37] ritman-us commented on #7154
for the particular request following is the script property
 "name": "accounts - CP1",
                        "event": [
                                {
                                        "listen": "test",
                                        "script": {
                                                "id": "a274c5b4-eb6e-458f-9051-b2f51ae1a5ee",

[2019-09-03 16:01] pierscin commented on #7239
@ArjunSingh-PM you attached only `product/monitoring` label, but I also mentioned it in the mail (which resulted in this issue creation), that we were not able to submit a support ticket from browser (same issue - "endless login").

[2019-09-03 16:03] kaustavdm commented on #6962
Thanks @BrambleRamble! Those changes were in fact made by @arnitkun :-) I'll add your feedback as a note to improve the docs.

I'll close this issue now. Do write back if there is something new you spot.

[2019-09-03 16:03] #6962 closed, assigned to vkaegis, saswatds

[2019-09-03 18:06] MackeyG commented on #3312
Solved my issue when working with AWS cognito to obtain multiple oauth tokens

[2019-09-03 19:34] allenben746 commented on #2352
Changing the compatibility mode to Windows 7 worked for me.

[2019-09-03 20:37] boajer commented on #7252
Same issue for me, workaround doesn't helped
Standalone Version 7.6.0 (7.6.0)
Macos 10.14.6

[2019-09-03 21:57] AdaptableTester commented on #4898
Need the bulk edit option for managing environments back pls.

[2019-09-03 22:02] tolgabalci opened #7261 "Comments should be exported with the Collection"
When I export a collection, the comments I have added do not appear inside the collection Json. (Needless to say, after importing my exported collections on a different machine, all my request comments are lost)

Steps to reproduce the behavior:
1. Add a Comment to your request
2. From the Collection Menu, select export
3. Click the Import button (perhaps on a different machine)
4. The request whi

[2019-09-04 01:32] tapanp opened #7262 "Native app not rendering properly on windows 10"
**Describe the bug**
Postman native application covers entire screen on windows 10 with no resizing controls on top right corner (min, max, close).

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman application on windows 10
2. After loading/ splash screen is complete app opens in main window.
3. Now the app covers entire screen with no min, max and close controls on top right.
4.

[2019-09-04 01:40] MECLab-Michelle commented on #7209
Hi there,

Is there any update on this one? Do you need any more information. I'm still having the same issue and simply can't use postman to call this api.

Cheers,

[2019-09-04 01:49] vicker commented on #7239
@AnkitMasand @godfrzero Done

[2019-09-04 03:35] kamalaknn commented on #2489
Hi @danieljanderson @asmittal @lucapalano

Can you give the details of the operating system you are using?

1. Type of operating system (macOS/windows)
2. Version (10.14/10.15)

[2019-09-04 04:46] codenirvana commented on #7215
@fpierrat Yes you have to manually escape the `#` character to `%23`.

The problem with `#` is, anything after it is considered as URL's [fragment identifier](https://en.wikipedia.org/wiki/Fragment_identifier) which has special meaning for clients but not supposed to be sent or work similarly on servers.

To unescape in scripts, you can use the `unescape` function like this:
[code]

[2019-09-04 04:46] #7215 closed, assigned to codenirvana

[2019-09-04 05:33] SaltScratch commented on #4137
@judgej I cannot see the link you mentioned. The only link I see at the bottom of the page is the 'Cancel and take me to signed in account' link which just reloads the login page

[2019-09-04 06:52] mbracero commented on #7221
Hi @coditva , They're intranet endpoints, so unfortunatelly I can't shere with you.

They're simple REST API.

As I said, it's extrange becasue with another REST client app, it doesn´t happends. And even I thought that timeout was for the whole request (independently of the layers the request has to go thougth).

[2019-09-04 06:55] ash007-postman commented on #7239
@AnkitMasand I have forwarded you the requested files from the users

[2019-09-04 07:53] mathoosh commented on #7239
@AnkitMasand
Here you go: *.har file from devtools.
[identity.getpostman.com.zip](https://github.com/postmanlabs/postman-app-support/files/3573329/identity.getpostman.com.zip)

[2019-09-04 08:22] coditva commented on #7252
@turri87 @josteitv @bscnarola @boajer

Thanks for reporting! This indeed is an issue and the fix will be out asap! I'll comment here if there are any updates.

[2019-09-04 08:26] camohub commented on #7244
Here is the screenshot. There is line highlighted but it disappears if I click somewhere else.
![Screenshot (3)](https://user-images.githubusercontent.com/8393426/64234917-998e6200-cef7-11e9-9caf-2effde8fcbda.png)

[2019-09-04 09:06] suraj-purohit opened #7263 "Can't delete Monitor: "Something went wrong""
**Describe the bug**
When attempting to delete a monitor from the web dashboard the following error is displayed:
![Screen Shot 2019-08-14 at 9 05 41 PM](https://user-images.githubusercontent.com/51916047/64240332-5a740700-cf1f-11e9-9b66-eaa4a7af91fa.png)

**To Reproduce**
Unknown

**Expected behavior**
Monitor is deleted

**App information (please complete the following information):**
- App Type

[2019-09-04 09:15] vicker commented on #4157
Support this feature request.

There are often times that we organise our requests by folders in a way just to minimise the repetition of test scripts, instead of the structure of the actual request.

e.g.

Module A
- Valid req.
- 401 req.

Module B
- Valid req.
- 401 req.

To avoid repeating test scripts for 401 calls, we have to create a separate folder. It works, but it kind of breaking the ori

[2019-09-04 09:27] ZangeTsune opened #7264 "Response preview print HTML Codes when shouldn't"
The Preview of the response are printing HTML Codes when a string contain some substring equal to an HTML Code but without `;`.

![Selection_080](https://user-images.githubusercontent.com/11486015/64243002-e2014c00-cf06-11e9-8c04-77ad4d7576a9.png)
![Selection_079](https://user-images.githubusercontent.com/11486015/64243008-e594d300-cf06-11e9-821b-6d1973057305.png)

![Selection_081](https://user-im

[2019-09-04 09:34] judgej commented on #4137
It was light grey on a lighter grey background, and I did not notice it at first, so wondering if it only appears after you have cancelled login a few times?

[2019-09-04 09:59] tomshy commented on #4105
having same issue? has it been solved?

[2019-09-04 11:05] sujayvenaik commented on #6463
Hey,
We have put out a fix for this in the latest app release v7.6.0. We do not allow syncing of large example body i.e. body which is greater than 5Mb and hence block that from both saving and syncing.

[2019-09-04 11:12] sankalp0o commented on #6463
@jackson-david We've put a hard limit on syncing of examples with a large request body(5MB) so that the rest of the syncing experience isn't affected.

Please check it on the latest app and let us know if this fixes your issues. I'm closing this issue but feel free to reopen it if there's any feedback or the fix doesn't work for you.

[2019-09-04 11:12] #6463 closed, assigned to kamalaknn

[2019-09-04 11:48] maxim-danilov commented on #3466
I imported 120 curl queries to Postman. Postman doesn't have 'save all' button.
So I did **360 mouse clicks** to save all the open tabs (of course I used an xdotool macro for automating).
Please improve usability by adding 'save all' button.

[2019-09-04 12:09] cyrielle-hada opened #7265 "Dashboard - improve UX flow when looking for individual synced data"
_Filed by Product Support._

**Is your feature request related to a problem? Please describe.**
Collections/Environments/APIs may happen to be missing in the event that it is removed from a workspace.

**Problem 1**
Heading to the page https://go.postman.co/me/collection when a collection is missing _should_ be the first action to take to manage the collection(s) and verify it is synced and not lo

[2019-09-04 12:43] asincole commented on #7252
Hi, I am having the same exact issue, please is there a workaround or something else I can use temporarily as I need to test something urgently?

[2019-09-04 12:46] boajer commented on #7252
@asincole I believe with Postman you can compose proper request for a auth token manually. Then manually apply that token to request you need to sign, at bearer header or whatever is suitable in your case; So you would avoid  using that nice, but currently broken features.

[2019-09-04 12:54] PetraRouvoet commented on #7043
Same problem. Is there any other way to do this else?

[2019-09-04 12:59] asincole commented on #7252
@boajer I'm trying to get the token from auth0 though. Is the manual method possible for this too?

[2019-09-04 14:01] cyrielle-hada commented on #7168
_Reporting the same issue on behalf of a user._

The billing email registered is a different email.
However, the user continues to receive the invoice as if his email was registered as the billing email.

[2019-09-04 14:56] sankalp0o commented on #7261
@tolgabalci This is the expected behaviour. Comments are not part of the collection schema.

I'm marking this issue as a feature request. This is not really something that we anticipated people needing, hence could you help us understand the use case better? For example, what kind of information do you put in comments? How often do you export and import collections and why?

[2019-09-04 15:09] sankalp0o commented on #7242
Hey @sshadmand ! You're right and it is one very common use case using Tests and variables. Generally our Docs should be informative enough to figure this out but if you need help with something particular, perhaps ask the community - https://community.getpostman.com
@kaustavdm are there any other resources that Sean can refer to?

I'm closing the issue since this is neither a bug or a feature req

[2019-09-04 15:09] #7242 closed, assigned to nobody

[2019-09-04 15:46] cyrielle-hada opened #7266 "Dashboard - Update UI when workspace ownership is transferred over to other users"
**Describe the bug**
With RBAC - when we remove a user from the team who is the Workspace Owner - the team workspace continues to exist in the team and **the ownership is transferred to the other members of that workspace.**

The app reflects that change properly. When we go to View Details from my Team Workspace in the Postman app.

![image](https://user-images.githubusercontent.com/47351631/6426

[2019-09-04 16:21] grachovas commented on #4079
+1

[2019-09-04 17:34] shamasis commented on #7264
The preview tab emulates browser rendering and that is how browser behaves. Try creating an HTML with same content and open it in any browser and you should see same output.

Any reason why you're expecting this to work differently?

[2019-09-04 17:34] #7264 closed, assigned to nobody

[2019-09-05 05:11] sankalp0o commented on #7266
Thanks for reporting @cyrielle-hada , we'll take a look at why this is happening.

[2019-09-05 05:40] kkojot commented on #4009
There is an Apic's chrome extension https://chrome.google.com/webstore/detail/apic-complete-api-solutio/ggnhohnkfcpcanfekomdkjffnfcjnjam in which you can test your API with a native WebSocket connection or over STOMP. I know it's a beta version, but for WebSocket, it's still better than Postman...

[2019-09-05 05:48] deepakpathania-zz opened #7267 "Lesson CTA text overflows in empty state in two pane view"
**Describe the bug**
The lesson CTA that appears in the empty state has its text overflowing in the 2 pane view.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app and see the lesson recommendation in the empty state.
2. Switch to 2 pane view in the same state.
3. CTA text will overflow.

**Expected behavior**
CTA text shouldn't overflow.

**Screenshots**
<img width="1042" alt="Scr

[2019-09-05 05:54] asmittal commented on #2489
MAC 10.14.6

Regards,
Amit

[2019-09-05 06:31] cheatmenot commented on #2801
+1

[2019-09-05 07:11] coditva commented on #7252
@asincole Hi,

If you're trying to send request to, for instance, `DOMAIN.com/auth`, try changing that to `http://DOMAIN.com/auth` or `https://DOMAIN.com/auth`.

We're already working on the fix and it will be out soon.

[2019-09-05 08:23] harryi3t commented on #2816
Reopening this since multiple people reported that this is still happening

user reports:
 - Twitter: https://twitter.com/web2033/status/1169500436086317056
 - GitHub: https://github.com/postmanlabs/postman-app-support/issues/7186

[2019-09-05 08:26] cyrielle-hada commented on #6742
**Here is a slightly different scenario.**
1) The team Admin removed the only member that had a Billing role.
2) The team is left with only User/Admin roles
3) The Admin is not able to assign Billing permissions to other user accounts.

**What happens**
When trying to add Billing permissions to another user, the following error message is thrown.
<img width="751" alt="Screen_Shot_2019-09-04_at_16_

[2019-09-05 08:29] physicsLoveJava opened #7268 "Latest Postman crashed, reporting URL malformed"
When I update the app to the latest version, I don't know what a url decode error means. It is just a simple get request: http://xxx.com/solution/getFreeWordList.html. Below is the stack trace.
URIError: URI malformed
    at decodeURIComponent (<anonymous>)
    at Function.ensureEncoded (/Applications/Postman.app/Contents/Resources/app/node_modules/postman-collection/lib/util.js:62:35)
    at Post

[2019-09-05 08:41] physicsLoveJava opened #7269 "How can I disabled minor version auto update? V7.5.0 always update to V7.6.0"
How can I disabled minor version auto update?
V7.5.0 is ok for me, but the postman client is auto update to V7.6.0, which just crash for some unknown reason!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise de

[2019-09-05 08:42] harryi3t commented on #2816
Affected versions: >= v7.3.4

[2019-09-05 10:28] cyrielle-hada opened #7270 "Unable to delete Environments from the web dashboard"
_Filed by Product Support_

**Describe the bug**
When trying to fetch environments with the Postman API and send a GET request to https://api.getpostman.com/environments - it appears that some environments are orphaned and cannot be found in any workspace and hence can't be deleted.

The environments in question are not listed in the Postman dashboard > My workspace > Environments but they can be

[2019-09-05 12:29] numaanashraf commented on #7152
This issue doesn't have enough information for us to reproduce and take action. We are closing this for now.

[2019-09-05 12:29] #7152 closed, assigned to numaanashraf, harryi3t

[2019-09-05 13:11] numaanashraf commented on #7186
We have reopened the original issue and would be tracking this issue there. Closing this as a duplicate of #2816

[2019-09-05 13:11] #7186 closed, assigned to nobody

[2019-09-05 13:32] ZephSibley commented on #283
Adding my support for this feature.
Pushed for Postman to be used for the fairly extensive automated API testing I need to set up for work, but this roadblock is practically fatal.

[2019-09-05 14:11] kyunussov commented on #519
looking fwd to it!

[2019-09-05 15:33] Chealer commented on #903
"it" referring to what? Postman would be open source?

In any case, I wholeheartedly support this.

[2019-09-05 15:34] ravishankarkota2017 commented on #3107
This worked for me and solved the issue, Time saver, Thanks a ton to  nsossonko.
Working Link : https://github.com/postmanlabs/postman-app-support/issues/3107#issuecomment-407789469

[2019-09-05 15:43] Kira-PH commented on #6449
The Snap package is still 6.7.1.

[2019-09-05 16:01] ravitejapendyala commented on #2819
When can this feature be implemented?

[2019-09-05 16:04] unmultimedio opened #7271 "Colored environments"
**Is your feature request related to a problem? Please describe.**
Mostly an UX improvement. Sometimes requests are not what you're expecting because you haven't realized which environment you're using. Or even so, it can get confusing if you switch a lot among environments. The idea is that you clearly know which environment you're on.

**Describe the solution you'd like**
Having a colored enviro

[2019-09-05 16:25] shamasis commented on #2819
This is still a proposed feature. It’s yet to go through appropriate triaging to establish what the end experience would be like and how it would impact rest of the collection running aspects within Postman.

What would really help is if you (and others) elaborate on your use cases. That would strongly influence how this is built out. 😊

[2019-09-05 16:51] jordangottlieb-ych commented on #3438
We need this

[2019-09-05 16:52] codenirvana commented on #6836
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-05 16:52] #6836 closed, assigned to codenirvana

[2019-09-05 16:56] codenirvana commented on #5744
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-05 16:56] #5744 closed, assigned to codenirvana

[2019-09-05 16:56] codenirvana commented on #6418
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-05 16:56] #6418 closed, assigned to codenirvana

[2019-09-05 17:00] codenirvana commented on #5111
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-09-05 17:00] #5111 closed, assigned to codenirvana

[2019-09-05 17:26] MBeran commented on #2701
+1

[2019-09-05 17:37] godfrzero commented on #7239
We've isolated the source of this issue and we're working on pushing out a fix within the next 24 hours. I'll post an update here once it's in production.

[2019-09-05 17:39] davidh-zoosk commented on #7009
Thank you @kartikjain26 ! Any update on when this will be released? The week is coming to a close.

[2019-09-05 17:42] Chealer commented on #7271
This is a duplicate of issue #903.

[2019-09-05 17:57] kartikjain26 commented on #7009
@davidh-zoosk  Its going to be released pretty soon (in a day or two). Will update this thread as soon as it is out on production.

[2019-09-05 18:10] Chealer opened #7272 "form-data POST requests get empty body when viewing raw log in Postman Console"
The entry for a POST request in Postman Console shows no body when it is built with form-data. This only occurs in the Raw view, not in Pretty.

Steps to reproduce the behavior:
1. Set up a POST request with a form-data body.
2. Create a field with key "foo" and value "bar".
3. Address it to - for instance - https://github.com/postmanlabs/postman-app-support/issues/5699.
4. Open the Postman Consol

[2019-09-05 20:00] ojblass commented on #3327
anybody facing this issue should look at the 'Start In' folder for the Postman shortcut.  I corrected it and was able to retain my workspace.  The updater didn't correctly fix it.

[2019-09-05 20:52] unmultimedio commented on #903
Closed #7271 in favor of this. Bringing description over:

**Is your feature request related to a problem? Please describe.**
Mostly an UX improvement. Sometimes requests are not what you're expecting because you haven't realized which environment you're using. Or even so, it can get confusing if you switch a lot among environments. The idea is that you clearly know which environment you're on.

*

[2019-09-05 20:52] unmultimedio commented on #7271
Closed in favor of #903

[2019-09-05 20:52] #7271 closed, assigned to nobody

[2019-09-05 21:00] marcusball opened #7273 "Unable to merge fork due to JS Error"
**Describe the bug**
I am trying to merge a fork, however, when I go to the merge page it begins loading, but then the whole page becomes blank. Two errors are then shown in the console:

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Merge Changes" from the menu on a Collection on either the native app or webapp.
2. Wait for page to try to load.

**Expected behavio

[2019-09-05 21:05] Dangerunicorn commented on #6980
Issue is fixed on my end!

On Mon, Sep 2, 2019 at 4:19 AM Udit Vasu <notifications@github.com> wrote:

[2019-09-05 21:16] godfrzero commented on #7239
We've pushed out a fix to address the issue where attempting to view monitor(s) on the Dashboard would lead to an error page. Please let us know if any of you are still running into this problem.

[2019-09-05 21:28] bagrip opened #7274 "nodejs jar.clear is not a function"
I have tried new feature to clear all cookies and works fine in Postman and in Newman and throwing error when I run it using Nodejs. Error Message below
**jar.clear is not a function**

Please let us know how it can work using Nodejs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Collection using Postman, add below code under test tab
 **const jar = pm.cookies.jar();

jar.clear(pm.r

[2019-09-05 21:49] bagrip commented on #7274
@codenirvana @shamasis Please let me know if I need to update any package or change any syntax under Test tab

[2019-09-05 23:45] msutormin commented on #3646
2 years passed and still no crypto. Sadly it doesn't seem like a high priority feature.

[2019-09-06 01:08] vicker commented on #7239
@godfrzero Awesome. It is working great now. Thank you.

[2019-09-06 02:11] jangshmily opened #7275 "求助，pm在请求数据的时候直接闪退"
这里是日记：
["Main~handleUncaughtError - Uncaught errors",{"name":"URIError","message":"URI malformed","stack":"URIError: URI malformed\n    at decodeURIComponent (<anonymous>)\n    at Function.ensureEncoded (C:\\Users\\Administrator\\AppData\\Local\\Postman\\app-7.6.0\\resources\\app.asar\\node_modules\\postman-collection\\lib\\util.js:62:35)\n    at PostmanCookie.update (C:\\Users\\Administrator\\App

[2019-09-06 04:12] #6980 closed, assigned to ritwijsinha

[2019-09-06 04:16] codenirvana commented on #7275
Duplicate of #7268

@jangshmily Can you share more details about the request on the original thread?

[2019-09-06 04:16] #7275 closed, assigned to codenirvana

[2019-09-06 04:18] codenirvana commented on #7268
@physicsLoveJava Can you share more detail about the request?
Request URL (is it a [Punycode](https://en.wikipedia.org/wiki/Punycode) hostname?), Request and Response headers, etc.?

[2019-09-06 04:28] preethammavin commented on #7229
@Poovendranavs what is the workflow that you are looking to achieve?

Also we have a pretty active community at `https://community.getpostman.com/` , feel free to post any future questions there so that it helps the community as well :)

[2019-09-06 04:30] preethammavin commented on #7230
Closing as duplicate of #7229

[2019-09-06 04:30] #7230 closed, assigned to nobody

[2019-09-06 04:32] preethammavin commented on #7241
@Tomis1 can you restart the app and try again?

[2019-09-06 04:36] preethammavin commented on #7245
@me-sosa can you elaborate on the handling response in newman being difficult part?

[2019-09-06 04:38] preethammavin commented on #7249
@omarusman can you logout and login to the app once and see if it corrects the bug?

[2019-09-06 04:40] preethammavin commented on #7253
@yizeruier1 can you write to us at help@getpostman.com from your registered email id so that we can get it sorted for you

[2019-09-06 04:42] preethammavin commented on #7256
@kriggo15 can you check if it occurs on any other network? We usually see this when the network access is blocked for our client to connect to or servers.

[2019-09-06 05:07] pierscin commented on #7239
@godfrzero It works like a charm now, but I still can't go to the account specific support page :/

[2019-09-06 05:09] bagrip commented on #3312
@codenirvana This is working fine in Postman and Newman and having issues with Nodejs, throwing below error

**jar.clear is not a function                                                                                                                                                  at test-script**

[2019-09-06 06:08] kartikjain26 commented on #7009
@davidh-zoosk  @ash007-postman  This has been released on production today. Can you verify this ?

[2019-09-06 06:08] jangshmily commented on #7275
Thank you！Version 7.6，I think it's the use of personal workspace，now  The old version 6.5 worked fine.

[2019-09-06 06:42] Raj-postman opened #7276 "Unable to submit ticket via support.getpostman"
**Describe the bug**
Unable to submit ticket as prompt to sign-in keeps looping, even after being signed in.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to 'https://support.getpostman.com/hc/en-us/requests/new'
2. Click on 'Sign in to submit a request'
3. Prompts for Sign in
4. After 1-2 seconds, redirected to 'Choose an account' screen once again.

**Expected behavior**
Be able

[2019-09-06 06:43] mike-echo-oscar-whiskey commented on #6888
Any news on this?

[2019-09-06 06:51] hanoisteve opened #7277 "After import of collection allow easy selection of individual requests."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

So I have used Postman on and off for years but I am not experienced with it.  What I find frustrating is how long it has taken me after importing a collection from another user to just pull out the individual requests and use them as a te

[2019-09-06 07:27] hanoisteve commented on #7277
I see the issue I was experiencing is due to having closed the left pane at some point. Using the product intermittently I forgot that I had closed this pane and was not aware of the feature set.  Only suggestion is that it be restored after a period of time or that there be some option above to always be able to access collections even when left side bar is closed. Maybe show context of collectio

[2019-09-06 07:27] #7277 closed, assigned to nobody

[2019-09-06 07:31] hanoisteve opened #7278 "Always allow easy access to collections even when left menu is closed."
**Is your feature request related to a problem? Please describe.**
Ok, I used the product. Closed left window pane and then returned a few weeks later. I forgot I had closed a left pane and struggled to find the collections view because left pane was missing. Did not think to look in lower left for button to restore left hand pane. I would suggest always allowing some type of navigation back to th

[2019-09-06 09:42] saswatds commented on #7012
We were not able to reproduce this issue and as it seems that no other people have encountered this issue. I am closing this issue due to inactivity, but if you are still facing this issue feel free to reopen this.

[2019-09-06 09:42] #7012 closed, assigned to saswatds

[2019-09-06 09:47] saswatds commented on #7129
Hi @npatelmob we recently fixed some issue with scrolling in the runner in app version 7.6.0. Can you update to the latest version and confirm if the issue is fixed for you?

[2019-09-06 09:50] saswatds commented on #7197
Hi @yoimnik , I have performed independent test and verified that current pretty and raw mode are not converting or parsing any values in the JSON. If the server sends scientific notations then the notation is preserved.

Will be closing this issue now.

[2019-09-06 09:50] #7197 closed, assigned to saswatds

[2019-09-06 09:53] me-sosa commented on #7245
Hi @preethammavin,
what I meant with my first comment was, that it would be useful to have those python code snippets downloadable (without having to copy and paste).
Another idea that also sounds attractive, would be a Python 3.7 library able to handle the whole collection in a *.json file.
I am currently calling newman from python with "subprocess.run" but that is not the neatest way to do it.

[2019-09-06 10:06] Dhroov7 commented on #7059
@gongdo Thanks for reporting the issue.
Can you check this again in 7.6.0?
I think it's importing now.

[2019-09-06 10:14] shkrwnd commented on #3358
+1 for this feature.
Well you can show the editor request as well as actual request that will be sent.
It is also good if we are testing multiple key value pairs in patch request having more than 50 fields.
Because of this lacking feature , I have to save request to another editor and copy paste it to postman for testing each subsequent request.
Really this feature will save my time and others too

[2019-09-06 10:19] gongdo commented on #7059
@Dhroov7 I'm using 7.6.0 and my complex OpenAPI yaml imported as expected!

[2019-09-06 12:26] naclma opened #7279 "Proxy system setting including exceptions"
Hello,
I am still unable to use postman because I am behind a proxy and postman doesn't use the system proxy exceptions and I can't set exception in the setting either.

It is working within the chrome app which is deprecated since a long time, because the app is using chrome's proxy setting including the exceptions.

![postman01](https://user-images.githubusercontent.com/49639244/64428067-10bc258

[2019-09-06 12:52] litao09h commented on #4171
+1 for this feature

[2019-09-06 13:11] markstos commented on #903
Maybe this can be implemented in time for the five year anniversary of the feature request, coming up this winter!

[2019-09-06 13:45] godfrzero commented on #4316
This has now been fixed. Path variable descriptions in public docs are rendered and interpreted as markdown.

[2019-09-06 13:45] #4316 closed, assigned to godfrzero, dhineshwiz, Raja-Simha

[2019-09-06 14:00] numaanashraf commented on #7262
@tapanpDoe Looks like you might have accidently made the app window fullscreen. Could you toggle it back via "Top-left menu > View > Full Screen"?

[2019-09-06 14:07] numaanashraf commented on #7269
Could you give us more information regarding this crash? Is the Postman v7.6.0 app crashing while opening or while performing any actions in the app?

[2019-09-06 14:26] JockDaRock commented on #7158
@preethammavin Thank you for your response.  I am familiar with Newman and use that as well ;) .

Thank you for taking this on as a feature request.  Will be super excited to see it in the future.  I believe one of my colleagues from DevNet Stéve from France will be at PostCon this month.  Wish I was going as well.

[2019-09-06 15:02] hungvhau commented on #4603
Was the end of this conversation is that the Access-Control-Allow-Origin will always respond with a * and we cannot override this header with a Mock?

It seems like I am able to override this header when calling it from Postman.

The problem is when we view the website from a browser the header Access-Control-Allow-Origin: * is returned... which Chrome and Firefox blocks...

`Cross-Origin Request

[2019-09-06 15:31] cyrielle-hada commented on #6520
@kamalaknn any idea how to unblock @garrucho? Looks like the problem was addressed with RBAC but the app is still trying to sync the collection. Let us know if you need anything else to debug this issue.

[2019-09-06 16:59] shamasis commented on #7279
Hey... we intend to add this. But this is not high up on our roadmap yet.

[2019-09-06 17:05] ypolishetty opened #7371 "Reorder Collection Versions"
While publishing my collection with multiple versions, right now I'm not able to reorder it. Is there any way to reorder my versions at the time of publishing my collection?

[2019-09-06 17:06] bradwilder opened #7280 "Override existing environment on import"
**Is your feature request related to a problem? Please describe.**
When I import a set of collections and environments, the collections will override existing collections by the same name. However, the environments do not do this. You end up with duplicate environments with the same name, making it difficult to navigate and remember which one is the "current" one. I end up having to remember to go

[2019-09-06 17:57] godfrzero commented on #7239
Closing this issue now that we have confirmation.

@pierscin Could you follow up on the support request regarding the support page issue?

[2019-09-06 17:57] #7239 closed, assigned to godfrzero, ArjunSingh-PM

[2019-09-06 18:18] stcalica opened #7281 "Postman Monitor flatline across workspace"
Filing on behalf of the user.

**Describe the bug**
Postman Monitor dashboard latency graph is showing a flatline across all collections in the workspace.

The user shows data coming in from server with latency has data properly coming in from the server. The client is not properly displaying the graph.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a monitor in a collection
2. Check

[2019-09-06 18:23] aaronbelanger commented on #7281
Thank you @stcalica!

[2019-09-06 18:37] iFreeon opened #7282 "Postman Pro - Lost all request bodies in my shared collection!"
**Describe the bug**
A bug in Postman Pro for Windows deleted all request bodies from my shared test collection containing 427 test cases.

**To Reproduce**
1. Wednesday 9/4 my Postman Pro was stuck in an all-day loop syncing
2. The morning of 9/5 I realized after rebooting Postman Pro was not able to recover and logged out.
3. I was forced to agree to delete all local data as there was no other o

[2019-09-06 19:40] davidh-zoosk commented on #7009
@kartikjain26 I am able to see all our collections now, thank you!

I am however running into an issue where the collection is not being pushed to git even after the integration is in place. But I will reach out to CS if that continues to be an issue.

[2019-09-06 20:21] naclma commented on #7279
Hey,
what can I do to put it high up on your roadmap :p

[2019-09-06 20:52] niikoo commented on #5816
Still using the deprecated Chrome app because of this. Would like to run the new linux app on my chromebook (aarch64)

[2019-09-07 03:18] Pedroo123 commented on #6397
Any updates on this? The issue persists just as described.

[2019-09-07 07:32] hyperclick commented on #4690
I also vote for this feature

[2019-09-07 20:20] dennis-thomas-o opened #7283 "Allow Saving as Example/File Even When Response Body is Empty"
**Describe the issue**
When the response body is empty, the Save Response button is grayed out. Many APIs return an empty response body but there is still important information in the response headers which is useful to save. Even in cases where the headers don’t have useful information, it would still be useful to save the HTTP status code and the request that lead to it.

**To Reproduce**
Steps

[2019-09-07 20:24] sujayvenaik commented on #7283
Hey,
We do allow this. From the screenshot what I can see it's an unsaved request hence not allowing to save response.
Once if you save this request to any collection, then you can go ahead and save responses for this.

[2019-09-07 21:10] dennis-thomas-o commented on #7283
See below, the button is grayed out even after saving.

![image](https://user-images.githubusercontent.com/36053409/64480258-4421b180-d192-11e9-939a-965c7f8a61b4.png)

[2019-09-08 11:58] chadwtaylor commented on #4117
+1

[2019-09-08 13:21] emetcalfputnam commented on #5611
Experiencing this on version 7.6.0 (Linux)

[2019-09-08 20:40] johnmarksilly commented on #2209
I want to also add that the `response_type` should be customizable. For instance, our ID2 server only supports response types of `token id_token` and `token access_token` which is fully available in a client like Insomnia. It would be useful to define what property to search for when Postman is looking for the access token.

[2019-09-08 21:41] oshnew commented on #2701
+1
so i changed tool ...

[2019-09-08 23:38] tapanp commented on #7262
thanks @numaanashraf. It's working normally after toggling full screen mode.

[2019-09-08 23:38] #7262 closed, assigned to numaanashraf

[2019-09-09 04:41] Axzc commented on #2985
Solved this problem in Postman v7.6.0

[2019-09-09 04:58] RobinSmithTHR commented on #6551
Still happening for me - Version 7.6.0 (7.6.0)

[2019-09-09 05:45] jyothihotkar opened #7284 "Body are missing for the POST method"
I am not sure why this is happening.
But have created new Workspace recently.
When ever i migrate from one to another the Body of the POST method requests are missing.
PFA the screenshots.

![image](https://user-images.githubusercontent.com/55076157/64505870-1011d200-d2f3-11e9-850a-a69d6f8971c4.png)
![image](https://user-images.githubusercontent.com/55076157/64505839-e5c01480-d2f2-11e9-80ad-5502c5

[2019-09-09 07:10] xaviergm commented on #4171
@AuriR
FYI - These options do not change how the request is made...

[2019-09-09 07:52] codenirvana commented on #7274
@bagrip How are you executing the collection using Node.js? Using Newman as a library?

[2019-09-09 08:24] vikiCoder commented on #7082
Hi @m3dbedb,

It looks like the content in file `fizdata_tip-5.json.txt` is not a valid JSON data. There is a missing closing quote on `Line No: 52`.

`Line No: 52` in the given file is: `"login": "login23,` while it should be `"login": "login23",` to make it a valid JSON.

Since this is not a problem with Postman App, I am closing this issue. If this comment doesn't solve your query, please feel

[2019-09-09 08:24] #7082 closed, assigned to vikiCoder

[2019-09-09 08:59] saswatds commented on #7283
Hi @dennis-thomas-o, Thanks for reporting this.
I can confirm that this is a bug from our end. We will get it fixed ASAP.

[2019-09-09 09:11] teunis90 opened #7285 "Proxies configurable per collection/folder/request"
**Is your feature request related to a problem? Please describe.**
I work for multiple projects, for some projects I have to use proxies because my own IP-address is not whitelisted. Therefore I have to keep switching my proxy settings.

**Describe the solution you'd like**
It would be handy if we could set proxy settings per collection/folder/request as we can do with pre-request scripts. The mor

[2019-09-09 09:22] teunis90 opened #7286 "Add native JSON-RPC support to Postman"
**Is your feature request related to a problem? Please describe.**
In our organization, we have many JSON-RPC 2.0 over HTTP API's. We use Postman to share collection to improve development speed. Recetly GraphQL was added as HTTP body type which made me wish JSON-RPC would be added as body type too.

**Describe the solution you'd like**
Next to `form-data`, `raw`, `binary` and `GraphQL` we would l

[2019-09-09 09:34] Dobby16 commented on #7286
+1 I would like to have this also.

[2019-09-09 09:57] shivam-postman commented on #7281
Hello @aaronbelanger, we're looking into the issue. The graph shows a flat line if the currently selected region is different from the ones in which the monitor ran. Can you please verify that it's not the case? An easy way to ensure that is to make sure that the region selected in both the region selection drop-downs (the one above the graph and the one below it) is same and the test results show

[2019-09-09 10:14] vikiCoder commented on #5982
@discotroll65 Your problem seems to be related to the following issue: https://github.com/postmanlabs/postman-app-support/issues/6319

@DhonatanWesley Can you please confirm that you are facing the same issue as @discotroll65 described?

[2019-09-09 10:17] 254289211 opened #7287 "I cannot reset my password"
when I click the button which name is "Trouble signing in?" , I get a page which have a input of Email。after this  ,the page do nothing,  I can't reset my password .   Is it because I am in China?

[2019-09-09 10:30] sebastienvermeille commented on #4891
+1

[2019-09-09 10:34] ash007-postman commented on #6532
@ankitjaggi Another user facing the same issue, have tagged the ticket.

[2019-09-09 10:46] andre-exads opened #7288 "Collection Runner does not update cookies"
**Description of the bug**
Headers set in the request, that are being sent when the individual request is sent using the main interface, are being ignored when the request is being sent by the Collection Runner causing the request to fail.

**To Reproduce**
1. Create any request into a new collection to a certain URL;
2. Create a POST request to the same URL with a different path, some form-data b

[2019-09-09 11:19] venkatcc commented on #2985
@Axzc Nope, I still see this after updating to Postman v7.6.0.

[2019-09-09 11:33] aaronbelanger commented on #7281
@shivam-postman Our region selected (US Static IP) is the same as the one we run our tests in. Let me know if you need more details!

[2019-09-09 11:47] turri87 commented on #7252
Hey @coditva , any update on this?

[2019-09-09 12:52] laviua commented on #6967
+1

[2019-09-09 14:11] cyrielle-hada opened #7289 "Published documentation broken and throws an error 403"
_Filed by Product Support_

**Describe the bug**
Accessing the published documentation under the custom domain https://docs.dayuse.io throws an error 403.

- The collection published under the domain is owned by the Admin of the team.
- The collection belongs to a Team workspace.

**Screenshots**
<img width="1407" alt="Screen_Shot_2019-09-09_at_15_57_54" src="https://user-images.githubusercontent.

[2019-09-09 14:27] juanmoyano1 commented on #6980
Issue is fixed on `7.6.0`

[2019-09-09 15:03] BryceMindLab commented on #2833
Thanks @magnusfoldager, this fixed the problem for me on **OSX v10.14.6, Postman v7.6.0**

[2019-09-09 15:38] cyrielle-hada commented on #7287
@254289211 when you go the [trouble sign-in page](https://identity.getpostman.com/trouble-signing-in) - are you able to hit submit and get the below confirmation message?

<img width="414" alt="Screen_Shot_2019-09-09_at_17_35_35" src="https://user-images.githubusercontent.com/47351631/64545066-63eade00-d328-11e9-8aba-3d403301c2f4.png">

Feel free to contact the support and [submit a ticket](https:

[2019-09-09 15:46] ritman-us commented on #7154
Any update ?

[2019-09-09 15:51] cyrielle-hada commented on #7282
@iFreeon sorry to hear about this issue - feel free [to submit a ticket](https://support.getpostman.com/hc/en-us/requests/new?_ga=2.99161561.69164091.1568014662-1387803517.1563368009) or email help@getpostman.com. We'll do our best to help.

[2019-09-09 15:54] cyrielle-hada commented on #7281
@stcalica looks like a duplicate of this issue: https://github.com/postmanlabs/postman-app-support/issues/5378.

[2019-09-09 16:41] teunis90 commented on #7285
The feature would be even more powerful when combined with #4760.

[2019-09-09 16:44] bagrip commented on #7274
@codenirvana Yes, I am using Newman as library.

[code]

[2019-09-09 17:06] shamasis commented on #7284
@jyothihotkar ... which version of app is this? I tried using app 7.6.0 by saving a tiny JSON post body in a collection and shared the same with another personal workspace of mine ... the body moved along with it. Can you do a "view in web" of the collection to see if everything is synced all right.

[2019-09-09 17:38] seelaman commented on #6152
same issue here, I was planning to use this as our reference documentation but the resulting code is not copy-pastable by our clients so I can't really publish this...

Is there a way to edit the generated documentation before publishing it?

also the files dict (this is for a form-data request) has syntax errors:

import requests
url = 'http://localhost:8080/match
payload = {}
`# incorrect line`

[2019-09-09 17:52] seelaman commented on #5919
duplicate of #6152

[2019-09-09 17:54] bdmishra08 commented on #2861
In postman version 7.6.0 and 7.2.2
I am trying to send null as vriable value in data file such as [{
"name":null,
"job":"team lead"
}]
but it takes as {
    "name": "{{name}}",
    "job": "reat"
}

[2019-09-09 19:21] TomFaulkner opened #7290 "Lost all settings due to being logged out"
I had not used the app for some time and was forced to login, when I chose to log out instead everything was deleted on me. Then in frustration I logged in and my settings were still gone. I realize you are trying to make money, but your insistence on the accounts and the consequences of using them removing all local data is ridiculous. I would rather use shell scripts and curl at this point, at l

[2019-09-09 20:06] mcandre opened #7291 "Logs missing from console unless console is opened before HTTP requests sent"
**Describe the bug**

The Postman developer console does not contain any information about errors that were just triggered, unless the console had already been open. Please make sure all errors, such as those triggered by the Get New Access Token form, populate the console, whether it was open or not at the time.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter an invalid access token c

[2019-09-09 21:28] garapa commented on #285
+1

[2019-09-09 21:30] flavio-henrique commented on #285
+1

[2019-09-09 22:03] jorgefdt commented on #350
+1

[2019-09-09 23:27] kaustavdm commented on #7242
@sshadmand You need to use a combination of tests and pre-request scripts with variables to get this done. I recommend going through the article on [APIOps with Postman](https://medium.com/better-practices/apiops-the-art-of-mixing-apis-b0d85de88864) which goes into this in quite detail.

[2019-09-10 01:10] scholid opened #7292 "postman crash after each POST or GET"
**Describe the bug**
when POST to API, it successfully make a call since my server script is executed but POSTMAN is crashed and close the app before i get my response. I re-install the application, problem is solve momentarily and it start to crash again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'collections'
2. select any 'POST' API
3. click on 'SEND'
3. POSTMAN app close itse

[2019-09-10 01:23] Axzc commented on #2985
@venkatcc I modified the postman font, this problem is gone, on ubuntu.

[2019-09-10 04:23] d199 commented on #7292
Exact same problem

[2019-09-10 04:29] smaeda-ks commented on #6585
@vkaegis It seems this bug has been fixed now. Closing this issue, thanks!

[2019-09-10 04:29] #6585 closed, assigned to vkaegis

[2019-09-10 04:51] jyothihotkar commented on #7284
@shamasis Even I have the Version 7.6.0 , but the issue was before it got updated. And not sure if the issue still persists .
And everytime I create an automation suite I do sync all my data.
Is there any way to get back my data which is lost?

[2019-09-10 04:59] wrssmi commented on #285
+1

[2019-09-10 06:15] #7214 closed, assigned to nobody

[2019-09-10 06:34] shreys7 commented on #7164
@prasanna08cs The list is present there but it has become x-scrollable. You need to scroll on the x-axis to get the nested list for the nodejs snippets.
We are working on fixing this. Meanwhile an alternative solution can be to switch the App to full screen mode, and then the nested list would be displayed on hovering.

[2019-09-10 08:03] rivierej commented on #285
+1

[2019-09-10 08:23] cyrielle-hada opened #7293 "Remove option to select Static IP for Free and Pro plans"
**Describe the bug**

When setting up a monitor **from the native app** - free and pro users are able to select US east and west regions, Static IP while this option is available on the Enterprise plan only.

Learning Center article - [Running Postman monitors using static IPs](https://learning.getpostman.com/docs/postman_enterprise/using_static_IPs_to_monitor/?_ga=2.102694342.69164091.1568014662-

[2019-09-10 10:27] ghost commented on #6236
There are people who really resent having things to spare, so please, I would like to delete "Team Workspace"

[2019-09-10 11:14] jperucello opened #7294 "Slow application consuming a lot my memory and system CPU"
**Postman application gets really slow and uses too much of my memory/CPU**

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman app (windows or Mac)
2. Use your collections and send the requests
Result: After a few minutes using the app, it becomes really slow, the calls takes a long time to be opened as a tab

**Expected behavior**
When I click on a request, I need it to open a

[2019-09-10 11:17] ghost opened #7295 "not getting API validation message from docker on postman"
i have created API using plumber.R and  i have added json schema to validate the input request,incase validation fails ,in plumber.R file function json:validator throw the error and error message (eg: 'data.ModelInputData.0.AP_STUS_CD must be an enum value') .

Same i tested locally using RStudio and postman and it worked,but when same code i deployed in docker using dockerfile and when i pushed t

[2019-09-10 11:26] Srb1996 opened #7296 "could not open postman help@getpostman"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-09-10 12:05] er1ck commented on #2302
+1

[2019-09-10 12:48] Cazaimi commented on #7289
@Raja-Simha , investigating.

[2019-09-10 12:56] pidj commented on #285
+1

[2019-09-10 13:26] GuilhermeMLS opened #7297 "Requests could not complete, seeing "socket hang up" errors"
With macOS Mojave, Postman used to stop working sometimes showing the error “Could not get any response” in all requests, however, if I sent lots of identical requests, it came back to working.

Now, with macOS Catalina, Postman has the same error, but isn’t coming back even when I send lots of requests.

![Captura de Tela 2019-09-10 às 09 57 02](https://user-images.githubusercontent.com/17656975/

[2019-09-10 13:54] coditva commented on #7288
Hey @andre-exads, thanks for reaching out!

I tried sending a request in Postman with the information you provided but could not reproduce the issue.

I did observe from your screenshots that `200` was returned for the Request Editor but `404` was returned for the Runner. This could mean that the server redirected the request and this changed the `Referer` header. Could you verify if this is the

[2019-09-10 14:00] coditva commented on #7252
@turri87 the fix is already in Staging! Will be released in the next couple of days...

[2019-09-10 14:14] harryi3t commented on #4310
@antpr @bbrosius @aajjss3
The original issue where the error `InstallHelperImpl: Couldn't write uninstall icon` can be seen should be fixed.
For the other issues where the icon is broken, we are currently tracking 2 issues:
 - https://github.com/postmanlabs/postman-app-support/issues/2816
 - https://github.com/postmanlabs/postman-app-support/issues/6897

Please let us know if you are still facing

[2019-09-10 14:14] #4310 closed, assigned to nobody

[2019-09-10 15:26] turri87 commented on #7252
@coditva thanks for the update

[2019-09-10 16:50] bagrip commented on #7274
@codenirvana Please let me know if there is any solution to this. Currently it is a blocker for me and I am using JMeter as workaround where I need to disable cookies in each request

[2019-09-10 17:33] codenirvana commented on #7274
@bagrip That's odd. Can you try executing `npm list newman` (within the same repository) and share the Newman version you are using locally?

[2019-09-10 17:48] d199 opened #7298 "postman crash on any command send"
**Describe the bug**
Postman app crashes upon send of any request

**To Reproduce**
Steps to reproduce the behavior:
1. Start the App
2. Pick any request
3. Hit Send
4. The App crashes within a second or two.

**Expected behavior**
A response is expected

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does not contain any sensitive info

[2019-09-10 18:01] bagrip commented on #7274
@codenirvana it is 4.5.4

[code]

[2019-09-10 18:37] codenirvana commented on #7298
@d199 Please share more detail about the request.
App version, is it using pre-request or test scripts, etc?

Is it crashing on sending a new request to `postman-echo.com/get` as well?

[2019-09-10 18:52] ravisanwal commented on #4108
Same problem. My observation is that there is a delay of some sort. If you wait long enough after focus, it works.

[2019-09-10 18:53] ravisanwal commented on #4759
This is absolutely not fixed

[2019-09-10 19:40] codenirvana commented on #7292
@scholid That will be tricky to debug. Can you share more detail about the request?
App version, is it using pre-request or test scripts, etc?

Also, what's the average response size for your requests?

[2019-09-10 21:59] adaniels85 opened #7299 "Collection runner uses disabled (unchecked) collection variables"
**Describe the bug**
Disabled collection variables are not ignored by the Collection Runner. However, they are ignored when sending the same request from the main Postman window.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new collection
2. Add a collection variable and disable it by unchecking it.
3. Create a new request
3. In the pre-request script of that request, print the v

[2019-09-10 22:48] yjhidalgoh opened #7300 "404 Error when GET request has accent"
**Describe the bug**
GET Requests using accent (á, é, í, etc...) fails with 404 - Not found error.

**To Reproduce**
Steps to reproduce the behavior:
I'm using IBM OpenPages GRC Platform REST API request to grc/api/security/groups/AccéntTestGroup

The same request using the number ID instead of the name ID works successfully and using other REST API tools like Advance REST Client works successfull

[2019-09-10 23:07] xk0der opened #7301 "Documentation does not show Query Parameters if params are Disabled."
**Describe the bug**
If a request has query params that are disabled, they do not show up in the documentation.
If you view the documentation via the dashboard collection viewer, the same paramters show up - though greyed out to indicate that the params are disabled.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new collection and add a request.
2. Add a couple of query parameter

[2019-09-10 23:34] lenichols commented on #4751
Sadly i downloaded the latest Postman on my mac running MacOS Mojave and no bueno. It wouldn't even start.

<img width="445" alt="Screen Shot 2019-09-10 at 4 33 30 PM" src="https://user-images.githubusercontent.com/5247113/64657549-d6bb8e00-d3e8-11e9-90d9-f3f8338b97cc.png">

[2019-09-11 00:37] devonjs commented on #2369
Postman v7.5.0 on Windows, in Settings was able to point the Global Proxy Configuration to the a specified IP address under Proxy Server

[2019-09-11 01:30] xk0der commented on #4751
@lenichols looks like you ran into some other issue (and looks like it isn't related to the original issue being tracked here). Do try the steps listed here https://support.getpostman.com/hc/en-us/articles/360008601954 and if things still do not work shoot us an email at help@getpostman.com

[2019-09-11 02:13] GitOffice opened #7302 "My Postman Profile Has Been hacked"
I have received this email. It means whether my postman profile has been injected by hackers. Please verify it. Thanks.
-------
Dear Postman User,

This message is to confirm that the Postman profile belonging to 加QQ号359640790领88沅链接982095com, was recently updated.

If you need additional assistance, or you did not make this change, please contact help@getpostman.com.

[2019-09-11 03:23] preethammavin commented on #7256
@kriggo15 with the current information provided we would be unable to help, closing the issue for now please feel free to reopen the issue with the necessary information so that we can get it sorted for you.

[2019-09-11 03:23] #7256 closed, assigned to nobody

[2019-09-11 03:29] preethammavin commented on #7278
@hanoisteve thanks for the feedback, we will look at how we can enable discovery when the collection list view is closed.

[2019-09-11 03:29] codenirvana commented on #7209
@MECLab-Michelle Can you try disabling "Automatically follow redirects" option in settings and check what's the status code of the API response? Is it a 301 or 302?

Possible duplicate of #4001.

[2019-09-11 03:36] preethammavin commented on #7284
@jyothihotkar can you check with the view in web for the collection you mentioned and see if the body was synced to the cloud?

Also please write to us at help@getpostman.com with the github id so that we can take a closer look

[2019-09-11 03:42] preethammavin commented on #7290
@TomFaulkner Wanted to know if you are talking about the synced collection and environments or app settings?

We ask the signed-in users to re-authenticate to ensure safety of the users data, on which you can re-authenticate/choose to logout.
On Logout all the saved data is still synced to the cloud and will available once you login, the only thing that is not available or synced will app settings

[2019-09-11 03:44] preethammavin commented on #7282
@iFreeon were you able to get this sorted out, if not please write to us at help@getpostman.com so that we take a closer look.

[2019-09-11 03:50] preethammavin commented on #7302
@GitOffice can you write to us at help@getpostman.com from the registered email id, so that we can take a closer look?

[2019-09-11 04:28] Ghusar commented on #7273
@marcusball Are you still facing this error?

[2019-09-11 04:53] marcusball commented on #7273
@Ghusar Even though I was encountering it for a week or two, it actually worked fine the morning after I filed this issue. If a new version was deployed that night/morning it may have fixed this.

I only had one branch, which I merged that morning when it started working, so I haven't had any other chances to see if the problem still exists.

[2019-09-11 06:08] prasanna08cs commented on #7164
Hi,

Thanks for the update.

Your suggestion is working fine.

Prasanna Kumar K G

On Tue, Sep 10, 2019 at 12:04 PM Shrey Shah <notifications@github.com>
wrote:

[2019-09-11 06:11] zaha commented on #4391
+1 from me too, would be really useful for working with azure!

[2019-09-11 06:30] kartikjain26 commented on #6952
@JP-from-Postman  This is fixed in production.

[2019-09-11 06:33] sankalp0o commented on #6236
Hey @TsLenMo @mistryvipul2002 @Filipe-Souza @dimacros !
Thanks for the feedback. I'd like to understand your use case better for deleting the default "Team Workspace".

Do you want to do this because -
1. You want to delete/leave the team itself.
2. You do not want ANY workspace which is shared
3. You have other team workspaces which your team uses and this "Team Workspace" is empty and not being

[2019-09-11 07:53] codenirvana commented on #7300
@yjhidalgoh That's because currently, we are not automatically encoding the accent character in URL pathname. Check if changing the path to `/Acc%C3%A9ntTestGroup` fixes the issue.

Closing this issue as we are tracking this and similar URL encoding related issues here: #4555

[2019-09-11 07:53] #7300 closed, assigned to nobody

[2019-09-11 08:47] vikiCoder commented on #7155
Hi @arielbeje

The issue is related to character encoding. Currently, we are not automatically encoding such characters in the URL path. You can manually encode it by right-clicking on the field and selecting `EncodeURIComponent` option as shown in below GIF.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/16588032/64682057-6b33f800-d49e-11e9-88f0-11f48895d2a5.gif)

Closing th

[2019-09-11 08:47] #7155 closed, assigned to nobody

[2019-09-11 08:56] Galand-V opened #7303 "field 'status' in responseBody impossible to focus"
**Describe the bug**

I want to check the result in a field that is named 'status'. The issue is that 'status' is considered as a method in Postman so I cannot target it

## Test :

[code]

 ## ResponseBody
[code]

## Test Result

### Expected

pm.response.status => Does focus the field 'status'

Or add a syntax to override the 'status' as in SQL

### Current
As http returnCode is 200, the test do

[2019-09-11 09:01] andre-exads commented on #7288
Hi @coditva , thanks for the reply.

Yes, if I try to send the request from standalone and I'm not logged in, I get the same 404 and I just checked that the headers change as well, so you're right there is a redirect.

It looks like the main cause is that the collection is not sending the cookie with PHPSESSID with this request.

The request, when standalone, and being run after the successful log

[2019-09-11 09:15] malyalal commented on #3171
Is there a fix or workaround for this problem? It's been 2 years and still I 'm facing the same issue with my collection monitor. Please advice.

[2019-09-11 09:20] vikiCoder commented on #6055
Hi @Consth

I checked for the issue in the latest version of Postan App(v7.6.0), it looks like the latest Postman App is encoding white space characters to `%20` properly. In below GIF, I send a request with a white space character in URL to my local echo server and send the raw request back as a response. You can see the white character being properly encoded to `%20` in the response.

![ezgif co

[2019-09-11 11:27] Duckbringer commented on #7288
It does seem to ignore some kind of cookies..
![image](https://user-images.githubusercontent.com/34427714/64693537-c3b3c700-d497-11e9-9523-7f81673746a6.png)

[2019-09-11 12:33] ghost commented on #6205
Same here - getting ECONNREFUSED from a server that otherwise works (another app is able to connect to the same endpoint). A Postman developer should address this issue!

Edit: SSL verification and proxies are disabled in my Postman settings.

[2019-09-11 13:04] #3630 closed, assigned to vkaegis

[2019-09-11 14:35] wiepretini opened #7304 "Basic Auth inherited from collection is not refreshed when switching to forked workspacece"
**Describe the bug**
When creating a Workspace with requests all inherit Basic Auth a single collection and then forking this collection to different workspace and then switching between the 2 workspaces, postman sometimes tries to use the variable values from the previous workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Workspace 1
2. Create Environment
3. Create Varibale "

[2019-09-11 14:58] DaveC-PCL commented on #4391
+1 please implement this soon.  I was struggling with this thinking I was doing something wrong, then I found this post and am relieved that is we are not able to set the resource value.  For the time being I can setup a separate request setup as ashfondu mentioned.

[2019-09-11 15:09] harryi3t commented on #6888
@youfoundkris Please use the `candidate` channel for now to get the latest updates.
We will update the thread on our plans to roll out the latest updates on the stable channel.

[2019-09-11 17:41] adardesign commented on #6081
Having the same issue, 500 after logging in via google

[2019-09-11 17:48] adardesign opened #7305 "Cannot login google 500"
Trying to log in
via regular username password, and via google.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://identity.getpostman.com/login

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![error](https://user-images.githubusercontent.com/23543/64721509-a46a6900-d49a-11e9-9ce6-4ade0b073258.png)

**App information :**
 -

[2019-09-11 18:17] maknahar opened #7306 "Postman hangs and become unresponsive while showing sign in option"
**Describe the bug**
Postman shows dialog box saying you have been logged out and giving the option to log in or sign out. However, both buttons are non-clickable. If I leave postman open for some time, it starts taking all the CPU. Postman does not become responsive even if I leave it for 10 minutes.

**To Reproduce**
Just open the app in macOS Mojave.

**Expected behavior**
The app opens and doe

[2019-09-11 18:43] CharlieReitzel commented on #7297
I'm seeing this on Windows after a recent update.  It was working fine ....  Note, I know the server application is working fine, because requests sent with curl always come back immediately.  Postman seems to work for 1 or 2 requests before it hangs.  But, after that, a restart of Postman is necessary to get another 1 or 2 requests.   I.e. it has stopped being useful.

[2019-09-11 18:45] CharlieReitzel commented on #7292
On Windows 10, instead of crashing, it starts getting connection timeouts for every request (GET, POST).  But, now that you mention it, it seems to be ok until the 1st POST.

[2019-09-11 19:06] vdespa commented on #6748
I am still having this problem in Postman 7.6. Current works but mocking with a version does not work.

Here is a schema that I am using to generate the collection:

[code]

[2019-09-11 19:16] akaczinski commented on #7220
Any update on when this will be looked at? It's currently blocking some of my automation tasks.
Thanks!

[2019-09-11 19:18] akaczinski commented on #6820
Hi, I'm so sorry I missed your message before, all I saw was that it was closed.

I am in fact still experiencing this issue, and it's been causing some pretty annoying bugs. I will re-open it under the same name/description.
Thanks!

[2019-09-11 19:21] akaczinski opened #7307 "After using find and replace, the changes save in Postman, but will not export with the changes"
**Describe the bug**
I have a collection in my shared workspace, which, if I were to share, would not help showcase this bug, for reasons soon to be explained.

The issue seems to have occurred after I performed a Find & Replace using the built-in Find feature in Postman. I searched for all uses of a certain variable in the request URLs of my tests, and replaced about half of the tests in my colle

[2019-09-11 19:31] wheelerlaw opened #7308 "Exporting collection runner results should optionally include the request and response bodies"
**Is your feature request related to a problem? Please describe.**
Right now, the export results button in the runner results only exports a summary of the results. When I have many iterations of a test and each collection has multiple requests, its a major PITA to grab every request and response body.

**Describe the solution you'd like**
When I press the "Export Results" button on the results fr

[2019-09-11 20:08] hosamhemaily commented on #4401
remove it and setup it again it will work fine

[2019-09-11 20:40] wheelerlaw commented on #6351
This would be great. Currently it's a major PITA getting console message into a text file, where it really shouldn't be.

[2019-09-11 20:56] TomFaulkner commented on #7290
App settings were lost, even after logging back in.

"We ask the signed-in users to re-authenticate to ensure safety of the users data, on which you can re-authenticate/choose to logout."

Presumably if I am able to launch the program I already have access to the filesystem and all locally stored data anyway, this isn't protecting much.

Is there a way to logout without losing anything, so I can g

[2019-09-11 20:56] mcgreevyd commented on #6682
+1

[2019-09-11 21:35] scholid commented on #7292
App version 7.6.0
using reqular POST with environment setup
The response should be just a simple xml, no more than 10 lines,

all POST crash the POSTMAN
some GET crashing and other GET is ok => i can not isolate the problem with GET

[2019-09-11 22:20] vdespa commented on #7303
@Galand-V

Try the following:

[code]

[2019-09-11 22:59] DannyMeister commented on #5462
Just came to report this as an issue, since it led to erroneous results from copy/pasting from the documentation examples.  Still an issue, why was it closed? I presume if it was fixed that the updates would have been published to the public site between May 27 and Sept 11.

In the attached screenshot is one such example.  Correct url on the left, incorrect on the right.
![image](https://user-imag

[2019-09-11 23:42] vdespa commented on #7093
@Maxeh because of this behavior, it is really hard to work with local variables both in Postman as well as in collection runs. For that reason, the use-case for local variables is very limited.

[2019-09-12 01:27] xk0der commented on #6820
Re-opened by @akaczinski here: https://github.com/postmanlabs/postman-app-support/issues/7307

[2019-09-12 02:33] bensullivan commented on #2086
+1

[2019-09-12 04:17] d199 commented on #7298
@codenirvana , postman collections work fine. Postman is the latest version - 7.6.0
To isolate, I did some test and found out, just using the provided in the example below, crashed the app:
https://knowledgecenter.2checkout.com/API-Integration/REST_5.0_Reference#/reference/product/retrieve-product-info-by-code/working-example:-retrieve-product-info-by-code

No pre-script, no test script, no enviro

[2019-09-12 04:23] kamalaknn commented on #7297
@GuilhermeMLS Thanks for reporting this issue.

Unfortunately, we are not able to reproduce this issue on macOS Catalina against endpoints we are testing with. If you could give us the following information, it will help us debug the issue better.

1. Are you seeing failures only for this particular endpoint or all endpoints (e.g. postman-echo.com, google.com)
2. If yes, can you share and endpoint

[2019-09-12 05:11] AmanDhembla commented on #6748
@vdespa we are tracking this issue and the solution is being worked upon. Will keep you updated on this.

[2019-09-12 06:29] shivam-postman commented on #7281
Hi @aaronbelanger, the issue existed only for the static regions and has been fixed. The fixed version will be available in our next release.

[2019-09-12 06:31] anilloutombam opened #7309 "Failed to import collection"
**Getting an error on importing a collection "Failed to import collection <>"**

1. Go to Import
2. Click on Import From Link
3. Click on Import
4. See error "Failed to import collection ***"

 - App Type : Native App
 - Postman Version: 6.7.1
 - OS: Ubuntu 18.04.3 LTS

[2019-09-12 08:42] KONEY opened #7310 "GUI: fonts dont follow Windows ClearType settings"
WINDOWS 10 with antialiasing completely disabled for all application but postman gui does not comply settings and forces antialiased fonts.

**To Reproduce**
1. Disable ClearType globally
2. run postman
3. See blurry fonts

**Expected behavior**
I expect the application to comply with the host settings.

**Screenshots**
![image](https://user-images.githubusercontent.com/5889626/64768338-90ca0b80-d

[2019-09-12 08:43] Millais commented on #3517
Hey @vkaegis is there any progress on this one?

I know our team at PayPal would make big usage of variable autocompletion in the raw request body.

Thanks!

[2019-09-12 09:05] cyrielle-hada commented on #6751
A fix has been applied to avoid the described scenario.
When the last member tries to leave the team he will now be asked to select a personal workspace.
<img width="537" alt="Screen Shot 2019-09-12 at 10 15 21" src="https://user-images.githubusercontent.com/47351631/64770266-21eeb180-d54d-11e9-82f9-1f884ae692f3.png">

In the event the user doesn't select any personal workspace, a default workspac

[2019-09-12 09:05] #6751 closed, assigned to abhijitkane, ankitjaggi, sankalp0o

[2019-09-12 10:35] #7023 closed, assigned to chrisdeso

[2019-09-12 10:36] jagadeeshnv commented on #7023
isssue not reproducable, sorry

[2019-09-12 11:50] numaanashraf commented on #7076
Thank you for your issue!

With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information for us that'll help us reproduce this issue; we'll be happy to reopen the issue.

[2019-09-12 11:50] #7076 closed, assigned to nobody

[2019-09-12 12:47] hhamon commented on #7289
Hi!

Do you have any news to provide please? It's a little complicated for us to experience this problem for a week now...

[2019-09-12 12:52] Cazaimi commented on #7289
Hi @hhamon , sorry to hear that.

We've identified that this documentation was published by a user who's now left your Postman team. As a result, you're getting the error above.

Un-publishing -> republishing the collection should solve this issue. Please feel free to respond to this thread for any further queries.

[2019-09-12 12:55] hhamon commented on #7289
Hi @Cazaimi,

It's back using this trick! Thank you very much ;)

[2019-09-12 12:57] Cazaimi commented on #7289
@hhamon, Happy to help :)

@Raja-Simha please mark this as closed.

[2019-09-12 13:02] marcofiocco opened #7311 "Import schema with Postman variables"
**Describe the bug**
I've tried to import OpenAPI 3 schema but every time I create a collection out of it I have to manually enter again the Postman variables I want to use to parametrize the environments.
Is there a way to define these in the schema?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection out of an OpenAPI 3 schema
2. Select an endpoint in a collection and enter

[2019-09-12 13:51] iFreeon commented on #7282
I had a recent save of the data locally so we manually restored some of it to keep the team going.  I did lose another environment today (meaning it's gone from the shared envs) .. and I don't see a reason why.  Nothing in the audit trail.  I'll email for more help.  Thks.

[2019-09-12 14:59] cyrielle-hada opened #7312 "Unable to invite user to workspace - Something went wrong"
_Filed by Product Support on the behalf of the user_

**Describe the bug**

The admin of the team workspace tries to invite another user.

After hitting the button `Save Changes` - it throws the below `Something went wrong` error.

![image](https://user-images.githubusercontent.com/47351631/64795396-5038b500-d57e-11e9-99bb-8fbead12a296.png)

The user used to be on Enterprise plan and downgraded to

[2019-09-12 15:04] DallasAnderson opened #7313 "Ability to exclude XML Response Headers from XML Response Body in files returned from services"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I'd like the ability to exclude the XML response headers from xml response body in files that are returned.

I have a SOAP/WCF service that re

[2019-09-12 16:03] rofthedeep opened #7314 "Headers with same name are not chained"
**Describe the bug**
The behaviour from Postmans API Call and the CURL request is different.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Headers tab and create Headers with same name
![Bildschirmfoto 2019-09-12 um 17 55 57](https://user-images.githubusercontent.com/2420176/64800327-b32e4a00-d586-11e9-9ce1-3cd10e8a9634.png)
2. Click on Send
3. In the header of the request you can fi

[2019-09-12 16:48] GuilhermeMLS commented on #7297
Sure!

1. All endpoints
2. I'm testing against local endpoints, from an API that I'm developing (PHP + Laravel).

However, when I test with Insomnia/cURL, the endpoints are working properly, so I think it's something with Postman.

I mentioned macOS because my co-workers aren't seeing this issue using Ubuntu with the same endpoints.

[2019-09-12 19:13] skplunkerin opened #7315 "PUT /collections/{{collection_uid}} returns "This collection already exists in the database.""
**Bug:**
a Postman API endpoint returning an undocumented error. There's no info as to what/how to fix this.

**Endpoint:**
`PUT /collections/{{collection_uid}}`

**JSON file:**
the file is too large to add here and has some sensitive data I'll need to scrub. Let me know if the file is needed to identify the problem and I'll scrub it and share where you need it

**Info:**
Our team uses Swagger and

[2019-09-12 19:43] Cazaimi commented on #6152
@seelaman , we’re currently working on fixing this and should be out shortly. Stay tuned! :)

[2019-09-12 19:55] ebinsynup commented on #7252
@coditva is this issue fixed?
Postman is still crashing

[2019-09-12 21:03] rpgomess commented on #2701
+1

[2019-09-12 21:17] brucephenry commented on #2302
OMG. Really. REALLY. You don't support RSA? Le Sigh...

[2019-09-12 22:01] akaczinski commented on #4401
I'm having very large collections that are not saving to the cloud. They will save locally, but if I wipe my Postman installation, some large things will not be saved on the cloud, even though they appeared to be before.

[2019-09-13 04:39] preethammavin commented on #4401
@akaczinski can you write to us at help@getpostman.com with the collection id, and what does the size of the collection look like locally so that we can take a closer look?

[2019-09-13 04:41] d199 commented on #7298
Recreated environments, which stopped the crash. Not sure what it was.

[2019-09-13 04:41] #7298 closed, assigned to nobody

[2019-09-13 05:47] codenirvana commented on #7297
@GuilhermeMLS are you getting the same error i.e, `socket hang up` for `http://postman-echo.com/get`?

Can share the curl verbose (`curl -v http://...`) logs for the failing request (your local endpoint)?

[2019-09-13 07:33] touficSl commented on #3358
+1 for this feature

[2019-09-13 10:13] gryphon2411 commented on #6024
Postman released *stable* version 7.6.0 on 29/08.

Why the most recent *stable* version on snap is 6.7.1? doesn't 7.6.0 is stable enough to be on snap *stable* channel rather than candidate channel?

[2019-09-13 11:21] BeingSujeetK commented on #2050
In OAuth Authorization Code flow, the user fills the form with the client details and clicks the Request Token button, Postman postman prompts the user for login and then generates the token.
In the successive clicks of Request Token button, Postman doesn't prompt the user for login. It remembers.

It would be much convenient for the user if this could be automated through the pre-request scripts.

[2019-09-13 11:54] m3dbedb commented on #6377
I also have the issue in postman 7.6.0 under windows 7 32 bit.  One request to the same server works, another does not. Later I noticed I request unexisting page, and normally server redirects browser to default page.  At the end of workout I have found URL mistake, fixed it, but Postman still gives could not get response. After several attempts useng another web browser app, postman get back to w

[2019-09-13 12:10] Galand-V commented on #7303
Arg, I did not saw that...

That works, thank you !

[2019-09-13 12:10] #7303 closed, assigned to coditva

[2019-09-13 12:11] ghost commented on #6236
@sankalp0o It is for the number 3. At the moment you want to work in a team, you most likely already have a defined name for that team. So "Team Workspace" would only be empty and it bothers not being able to remove it.

[2019-09-13 12:39] msanguineti commented on #4238
Postman for Linux
Version 7.7.0
linux 4.19.0-6-amd64 / x64 (Debian 10)

@numaanashraf, postman is still eating up my CPU after @sivcan closed this more than 1.5 yrs ago :(

[2019-09-13 13:16] etabackman opened #7316 "Environment variable in query param only shows two curly braces but not var"
**Describe the bug**
Sometimes, an environment var in the query params get chopped off in the key value editor so that it only shows two curly braces but not the var.

**To Reproduce**
Steps to reproduce the behavior:
- Create a request with a query param as shown in the screenshot.
- Open the Params tab.
- The value is corrupted.
- The request sent does not include the proper query param.

**Expe

[2019-09-13 13:31] lucastruong commented on #6967
+1

[2019-09-13 14:06] kamalaknn commented on #4238
@msanguineti Are you seeing a constant high CPU usage or is it intermittent? Can you give us more information about your state, for e.g.

1. Are you signed in?
2. If yes, how many user accounts are you logged into?
3. Are you seeing this now in 7.7 or has this been the same in previous versions as well?

If you can share any screenshots, that would be great.

[2019-09-13 15:12] abhisekp commented on #3117
@OMA2K it is easier to document a JSON body using JSON schema.
There are various JSON schema converters available such as https://jsonschema.net/

[2019-09-13 15:31] imikemiller opened #7317 "Published documentation is not syncing"
**Describe the bug**
I am regularly updating my API documentation and distributing the link to share to my team. The shared collection JSON always updates as expected.

I have just checked the published web page version of the documentation and there has been no change to the CURRENT version since 21st June 2019.

**Expected behavior**
When the Postman application syncs my local changes I expect t

[2019-09-13 16:23] akaczinski commented on #4401
I went ahead and sent an email, thanks for taking a look!

[2019-09-13 16:45] jaydorsey commented on #7114
I imported a swagger file about an hour ago, then I updated postman and that same swagger file generates the same error.

I was quite a few versions of postman behind tbh so I don't know what version I _was_ on, but it's 7.7.0 now. Mojave 10.14.6

The logs don't provide any clue as to the problem:

[code]

Edit: I used the [swagger editor](https://editor.swagger.io) to lint my swagger definition a

[2019-09-13 16:46] jaydorsey commented on #7114
@nlozanoarguelles I just tested your definition on 7.7.0 and it imported fine for me, locally

[2019-09-13 18:33] jaydorsey commented on #3418
When I imported a swagger definition using postman latest, it did add `{{baseUrl}}` to every request for me. I _think_ I had to set the `host` in my swagger definition (e.g. `host: null` didn't seem to append it)

[2019-09-13 19:29] ypatel26 opened #7318 "Lates update of postman client updated all post request Body to Text"
All my post requests post body format  is updated to Text. It was Json.

I have to upated all my tests manually now.

I'm non pro version.

Postman for Windows
Version 7.7.0
win32 10.0.17134 / x64

[2019-09-13 19:59] yuanzhou commented on #5093
Same here. Installed on Fedora30 by following the instructions at: https://learning.getpostman.com/docs/postman/launching_postman/installation_and_updates/

Had the same issue with not being able to start the postman.

Did `tar -zxvf Postman-linux-x64-7.6.0.tar.gz` and now it's working.

[2019-09-13 23:20] msanguineti commented on #4238
I couldn't reproduce the issue today. I will try again sometime during the weekend. But the problem was steady, I also killed the process (kill -9) and restarted and still the CPU kept on rising until it maxed out and stayed there.

In any case:

NO

It happened after I've upgraded from 7.x to 7.7 yesterday.

![shot_postman](https://user-images.githubusercontent.com/19243840/64899779-bfed9380-d695

[2019-09-14 00:12] OMA2k commented on #3117
@abhisekp : Thanks for your answer. Where can this resulting schema be added in Postman as documentation for a request?

[2019-09-14 15:19] shivam-postman commented on #7238
The exact behaviour is that whenever there is a toggle in the state of the monitor (paused/resumed), it leads to the environment being unresolved for the subsequent _manual_ runs. The scheduled runs are successful, and after a successful scheduled run, the subsequent manual runs are successful too, until there is a state toggle. Resetting the environment to some other environment/no environment, a

[2019-09-14 15:48] glaucomorais commented on #3247
Here, with the Postman version 7.7.0, I was having the same problem. The request only was sent when I set the "current value" of the Global Variable.
Therefore, if the "current value" is not set, the "inital value" is ignored (at least, in the case of Global).

It is intentional or the "current value" only fallback to "initial value" in Environments/Local variables (not in Globals)?

[2019-09-14 16:31] godfrzero commented on #7238
Could you let us know if the original monitor gets fixed if you run through the following steps?

1. Edit the monitor and switch to a different environment, then save
2. Edit the monitor again, switch back to the original environment, then save
3. Try running the monitor, or let it run on schedule

[2019-09-14 17:19] vahids commented on #4759
Maybe It's randomize bug. I left postman for this bug. I switched to mitmproxy that is far better for my usage.

[2019-09-14 18:31] shamasis commented on #7318
@ypatel26 ... thanks for reaching out. We are looking into it. Our team would get in touch for more information.

[2019-09-14 19:07] jrorke opened #7319 "Better access to History request data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Allow history data to be searched, not just filtered by values in the URL.  I'd like to be able to search for values from the entire request... request date, URL, body, headers, params, response.  Or at

[2019-09-14 19:08] numaanashraf commented on #7310
@KONEY Thanks for reporting this. Our team is looking into this.

[2019-09-14 19:13] #7302 closed, assigned to nobody

[2019-09-14 19:15] numaanashraf commented on #7296
We are tracking this issue at #5591. Closing as duplicate of #5591.

[2019-09-14 19:15] #7296 closed, assigned to nobody

[2019-09-14 19:19] numaanashraf commented on #6186
With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you are still facing this issue, we'll be happy to reopen this.

[2019-09-14 19:19] #6186 closed, assigned to nobody

[2019-09-15 11:12] tony-shannon commented on #3107
I fiddled with those instructions , needing tidy up the Postman properties: Target  & Start In references ...
![image](https://user-images.githubusercontent.com/939996/64920639-edc7fa80-d7b1-11e9-971f-fd46b6b90bbb.png)
... plus also add a new ICO file to the postman folder as well
For those who need a postman ICO file I've zipped  down the one I added myself
[postmanIcofile_zipped.zip](https://git

[2019-09-15 22:29] shamasis commented on #7292
All that is needed to debug this is a shareable collection with a public endpoint or a simple server code that can create this endpoint locally. Right now it’s near impossible to reproduce. But we are still trying. If sharing over public issue tracker isn’t feasible, please reach out to help@getpostman.com and we can try reproduce this.

[2019-09-15 23:45] xk0der opened #7320 "multipart/form-data with Monitor does not set the boundary tag"
**Describe the bug**
When passing POST payload as `multipart/form-data` Postman App correctly adds the `boundary` tag and formats the body payload to use the `boundary` tag to demarcate the data.

Whereas the same request run from Monitor does not add the `boundary` tag, thus the endpoint servers fail to process the requests. (Most likely you would get a HTTP 400)

**To Reproduce**
Steps to reprod

[2019-09-16 02:03] xk0der opened #7321 "Merging a collection back to parent collection results in an error"
**Describe the bug**
Merging a collection back to original/parent collection thrown an error straight-away once you land on the web-dashboard.

**To Reproduce**
I was unable to replicate using my own setup but at the User's following always throws the error.
Steps to reproduce the behaviour:
1. Select the Forked collection
2. Click "merge changes" either from the app or from Web-dashboard
2. You g

[2019-09-16 05:45] Lilly2016 commented on #3529
I'm also experiencing this issue. Is there a solution now?

[2019-09-16 06:55] Piyush1317 opened #7322 "Getting blank vaalue in environment json file after downloading from postman"
1.Create Env var and enter the valu into.
2. Download the environment json file from option,
3.Store the json file in your system,
4. Open environment json file and check the value .
5. No value is coming, all value asre blank.
Like this:
"values": [
		{
			"key": "uname",
			"value": "",
			"description": "",
			"enabled": true
		},
		{
			"key": "pwd",
			"value": "",
			"description": "",
			"e

[2019-09-16 08:21] preethammavin commented on #7287
Closing the issue for now, please feel free to reopen it or reach out to help@getpostman.com so that we can get it resolved for you.

[2019-09-16 08:21] #7287 closed, assigned to nobody

[2019-09-16 08:25] MartinIvison commented on #7238
Yep, that worked.

[2019-09-16 08:26] preethammavin commented on #7290
@TomFaulkner The raw format of the data can ge found in the file system, but there are certain variables which would not be found in the local system and are are held in the session.

The app settings are not synced to the cloud yet, this is something we are working on enabling. While we do encourage you to keep the data backed up into the cloud, as this ensures that there is always a backup of yo

[2019-09-16 08:26] #7290 closed, assigned to vkaegis

[2019-09-16 08:30] preethammavin commented on #7282
@iFreeon while we look into the bug and get about fixing it, if you still see an issue in your production collection you can go to
Collection-> Click on the arrow -> Click on changelog , you would see a set of revisions there you should be able to locate a version of the collection which was there before the body was deleted and restore it.

[2019-09-16 08:40] #7289 closed, assigned to Cazaimi, Raja-Simha

[2019-09-16 08:48] preethammavin commented on #7306
@maknahar can you write to us at help@getpostman.com so that we can take a closer look at it?

[2019-09-16 09:08] steven7mwesigwa opened #7323 "Postman windows native application Postman-win64-7.6.0-Setup installer failed"
**Screenshots**
![postmn-error](https://user-images.githubusercontent.com/24929438/64946017-9f326300-d87a-11e9-962b-c4a32de6b832.PNG)

**App information (please complete the following information):**
 - App Type : Native App
 - Postman Version : Postman-win64-7.6.0-Setup
 - OS: Windows

[2019-09-16 09:26] kgjelsten commented on #6531
Hi, we have just upgraded our team today to the latest version of Postman, and when I now run our collections in Monitor they also encounters the same issue as mentioned in this ticket. I removed one of our team members also, but these collections that we are monitoring was created by my user. Please advise on what to do on this? I would not like to have to set these up again since we then will lo

[2019-09-16 10:12] numaanashraf opened #7324 "UI cutoff in two-pane layout"
**Describe the bug**
While using two pane layout, resizing the pane to the lowest width allowed breaks the tabs and comments UI.

**Screenshots**
<img width="586" alt="Screenshot 2019-09-16 at 1 41 01 PM" src="https://user-images.githubusercontent.com/3295568/64950272-93ee3000-d898-11e9-9721-322837760dcc.png">

**App information (please complete the following information):**
 - App Type: Postman f

[2019-09-16 12:01] maknahar commented on #7306
Sure.

[2019-09-16 12:17] kurtr opened #7325 "Provide ability to skip current request using postman.setNextRequest()"
I've found many related issues that would solve this issue such as request tags etc but non with an identical implementation. Basically it all comes down to running tests for a single collection with multiple enviroment files for dev/uat/prod etc.

Currently we mostly use folders for versioning but it would be great to simple be able to use something like:

    if(env != 'dev'){
       pm.setNextR

[2019-09-16 12:51] harryi3t opened #7326 "[Linux] Not able to open Postman after v7.7.1 update"
We've identified an issue in Postman for Linux versions 7.7.0 and 7.7.1 that impacts Postman's in-built updating functionality. Postman users on this version would notice that, after updating the app from one of these affected versions, the directory that should contain the Postman executable would no longer exist.

*Note: This affects users on Linux who has downloaded the app from the Postman web

[2019-09-16 12:56] oozman commented on #7249
@preethammavin logout and login doesn't correct the issue. :(

[2019-09-16 13:03] preethammavin commented on #7249
@omarusman can you write to us at help@getpostman.com with the collection id and request id of the collection where you see the weird behaviour so that we can take a closer look ?

Also just so that I am conveying it correctly, you logged out and login into Postman App and not the dashboard?

[2019-09-16 13:43] pearlberry commented on #6832
It is shocking that this took over 2 months to fix and be available BUT I am now on Version 7.6.0 and this is, in fact, fixed. A true miracle.