[2018-07-04 07:44] kamalaknn commented on #4767
Hi @markdrury

You are right, the request is not resolved with environments in the `prerequest` scripts. That is because you can update your variables in the `prerequest` scripts, and that update should reflect in your request.

This following snippet allows you to get a snapshot of a resolved request
[code]

This is a bit ugly, we'll see if we can expose a nicer way to get a resolved snapshot of

[2018-07-04 07:44] #4767 closed, assigned to kamalaknn

[2018-07-04 07:44] thecuriousdev commented on #3705
Hey @LeoLozes, Can you update your Postman app to the latest version and verify this once again?

[2018-07-04 07:46] vkaegis commented on #4306
@mattdeluco You read our minds! :) We have a slew of improvements in the works over how variables are portrayed and used in Postman, and will be rolling them out in stages in the coming versions. Totally understand the need for having a single place to see all the variables affecting a request. Stay tuned for updates!

[2018-07-04 07:53] leolozes commented on #3705
@thecuriousdev it looks like it's working fine, I'll let you know if there's a strange behaviour :)

[2018-07-04 07:55] thecuriousdev commented on #3705
@LeoLozes happy to hear that :) I am closing this issue for now, but feel free to reopen this if you are facing any issues.

[2018-07-04 07:55] #3705 closed, assigned to thecuriousdev, preethammavin

[2018-07-04 08:01] Yevhenii-me opened #4770 "Import CURL via "Paste Raw Text" doesn't work for some CURLs"
**Describe the bug**
Import CURL via "Paste Raw Text" doesn't work for some CURLs.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Import"
2. Click on "Paste Raw Text"
3. Put any CURL from example to input form.
4. Click on "Import"

CURL examples: https://gist.github.com/Yevhenii-me/b8335d083198f8cae877b75278e2c42a

**Actual results:**
I see error: "Error while importing Curl: Typ

[2018-07-04 08:07] sivcan commented on #4296
@amitbpal
Couple of questions that would help us to triage this issue faster:

1. So you're not **retrying** the run right? (Since you didn't confirm this before so asking again)
This just started happening on running every run or a few old ones?
2. Are these runs being synced and you're opening them on another machine?
3. Are you facing this issue while running the run or after closing the runner

[2018-07-04 08:09] sujayvenaik commented on #4202
Hey @janAtcontinia
i just tried it out once again,
But this seems to be fine on our latest app.

You can get a latest copy from https://www.getpostman.com/apps

[2018-07-04 08:09] #4202 closed, assigned to sujayvenaik

[2018-07-04 08:12] numaanashraf commented on #4770
@Yevhenii-me Thanks for reporting this.

[2018-07-04 08:16] numaanashraf commented on #4768
Thanks for reporting this @robertoibarra.

[2018-07-04 08:17] kamalaknn commented on #4485
Hi everyone,

I'm leaving my thoughts here.

Newline is not a valid character in a header. That's the reason the request fails. Auto-escaping the header value or trimming it is not an ideal option. We do not want to change any input provided by the user.

However, I can understand that this is not a very ideal experience.

We are doing a couple of things to improve the experience here.

1. The act

[2018-07-04 08:18] shamasis commented on #2418
@igorsantos07 - you are right on target. we should do this. After all, Postman is a debugging tool. @kamalaknn and I are looking into ways to tweak the underlying client to at least return the body.

[2018-07-04 08:36] kamalaknn opened #4771 "Newlines in header values are truncated when converted to curl"
Newline characters in header values are trimmed when converted to curl. See https://github.com/postmanlabs/postman-app-support/issues/4485 for original discussion

[2018-07-04 08:41] abelmokadem commented on #1961
@a85 I'm actually about to start on something similar. A package that does static analysis of a postman collection and swagger API to extract coverage for paths, methods and parameters.

[2018-07-04 09:14] numaanashraf commented on #4756
Please follow issue tracker guidelines detailed here (https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) while filing new issues. We do not provide debugging support for your specific server implementation. If you are not receiving the response you expected, you can debug using Postman Console (View > Show Postman Console) where you can see the actual request sent

[2018-07-04 09:14] #4756 closed, assigned to numaanashraf

[2018-07-04 09:16] numaanashraf commented on #4432
@abigailrose @yali2015 Are you still facing this issue with the latest version of Postman (v6.1.4)?

[2018-07-04 09:19] godfrzero commented on #3335
Okay. I'll keep this thread updated with any sync related fixes we release. In the meantime, using 'Force Sync' should resolve the issue whenever it pops up.

[2018-07-04 09:20] numaanashraf commented on #4422
Thanks for reporting this. We are tracking this at a similar issue #4485.

[2018-07-04 09:20] #4422 closed, assigned to vkaegis

[2018-07-04 09:32] gs-nkumar commented on #4770
there is issue with angular 4 post call in my case. `\n` is appending.when copy as curl
![postman](https://user-images.githubusercontent.com/17634822/42269204-2835a048-7f9b-11e8-8f25-e53f3f1087fd.jpg)

[2018-07-04 09:48] gs-nkumar opened #4772 "Curl imports don't correctly handle escaped characters from the --data-binary field"
![postman](https://user-images.githubusercontent.com/17634822/42269996-6139d3d0-7f9d-11e8-9f03-3bbd7362923a.jpg)

[2018-07-04 09:56] numaanashraf commented on #3136
@TehWardy I'm condensing this discussion and adding our thoughts here.

The original [comment](https://github.com/postmanlabs/postman-app-support/issues/3136#issue-234222426) is related to working with untrusted SSL certificates in `Postman for Chrome`. `Postman for Chrome` apps rely on Chrome to send and receive requests and `Postman app` has no control over SSL certificate verification performed

[2018-07-04 09:58] numaanashraf commented on #3136
@gnchiesa Could you give us more info regarding your issue? Are you working with a self-signed certificate? Have you tried turning the SSL verification setting off in our native apps?

[2018-07-04 10:00] numaanashraf commented on #4772
@gs-nkumar How did you create this request in Postman? Is it via Copy as cURL in Chrome DevTools (Network) and then `Import` in Postman by `pasting raw text`?

[2018-07-04 10:20] numaanashraf commented on #3472
@jacek-s @nbsoftware @SumanKhanra @jbourdonLFNY @flocastera We are unable to replicate this issue on the latest version of Postman (v6.1.4). If you are still facing issues in the latest version, could you open Postman Console (View > Show Postman Console), send the request and let us know if you see any errors there? Also, please bear in mind that if you are working with a self-signed or any unver

[2018-07-04 10:26] gs-nkumar commented on #4772
yes

[2018-07-04 10:26] numaanashraf commented on #3410
@avinash0 Could you verify the implementation of your `api/register` route?. Seems like it's a HTML endpoint that needs a browser to render the page and then redirect via JavaScript, which would explain why it works in the browser. Postman doesn't do JavaScript execution inside your HTML response.

[2018-07-04 10:26] #3410 closed, assigned to numaanashraf

[2018-07-04 10:35] numaanashraf commented on #4772
@gs-nkumar Could you provide the raw text you had pasted into the `import` dialog here?

[2018-07-04 10:42] gs-nkumar commented on #4772
[code]

[2018-07-04 10:46] numaanashraf commented on #4215
Hi @satishchilu, we do not have a library to help you with json to xml conversion within the Postman scripts. All the available libraries are documented [here](https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference). I'm treating this as a feature request - could you explain your use case?

[2018-07-04 10:47] twolpe opened #4773 "Extremely new to postman, and to programming in general, help required"
So I'm trying to make a basic link between the powerlink I use and postman, but it won't respond, I'm probably doing something really basic like an idiot which is what causes this.
Any and all help is appriciated, cheers!
![image](https://user-images.githubusercontent.com/40826557/42273061-b9ddbe00-7f90-11e8-9cc8-6a3ee435423f.png)

[2018-07-04 10:48] numaanashraf commented on #4041
@mattisebastian Are you still facing this issue?

[2018-07-04 10:52] alexgmin commented on #4773
I don't think this is the place for this type of questions, specially when this is about connecting with whatever powerlink is.

However by screen what is easily seen if the response code 401 Unauthorized, so maybe you're sending your credentials wrong.

[2018-07-04 10:56] numaanashraf commented on #4772
@gs-nkumar Thanks. This helps a lot. I'm able to replicate this issue. We'll update here when the fix is out.

[2018-07-04 10:57] sursir commented on #1344
@abhijitkane
Should i have multi collection in one project?

[2018-07-04 11:01] nbsoftware commented on #3472
Hello,
I can confirm that the issue seems to be resolved with latest version of Postman.
Thanks.

[2018-07-04 11:01] numaanashraf commented on #4773
@twolpe Thanks for writing in. We do not provide support for specific APIs here. But from the screenshot, it looks like the JSON you are sending in request body is invalid. You need to wrap keys within double quotes for it to be valid JSON (hence the red x on line 2) - eg.

[code]

[2018-07-04 11:06] numaanashraf commented on #3817
@drahnieR Thanks for reporting this. We'll fix this and make the line ending consistent across the whole HTTP payload.

[2018-07-04 11:18] numaanashraf commented on #3472
@nbsoftware Glad to know that. I'm closing this issue.

[2018-07-04 11:22] gs-nkumar commented on #4772
just added my personal profile to track this.@nbpro

[2018-07-04 11:54] harryi3t commented on #3820
@pburgr

What is the issue that you are facing in this?

For me the token input behaves just like any other input.

#### Auto-completion in access-token field
![postman](https://user-images.githubusercontent.com/5207331/42275704-d98f59f2-7fae-11e8-9bdf-54a2884f4936.png)

#### On-Hover it shows the value of the variable
![postman](https://user-images.githubusercontent.com/5207331/42275689-c89605b0-

[2018-07-04 12:16] amitbpal commented on #4296
@sivcan here are your questions answer below :

1. On Every run .
2.They are syned and I am using same machine.
3.I have close the runner many times and try to run again but no luck for me.

[2018-07-04 13:21] Magdiel commented on #3127
I have the same issue sending request to my API. The funny thing is that if I send a request to another API (https://jsonplaceholder.typicode.com/posts) it works correctly.

I've done all the things that everyone commented on this post and it doesn't seems to work.

Postman Version: 6.1.4
OS: Win7
Started happening after upgrading to version 6.1.4

Postman requesting my API:
![image](https://user-

[2018-07-04 13:31] shamasis commented on #4423
@errorx666 - there is a bug that the path variable with trailing `.` - however there are two issues:

1. The path variable name is free-form (i.e. there is a start identifier, but no end-identifier)
2. There is no definite way to isolate the variable name from URL without making some assumptions.

I suggest we set some assumptions and for anything else recommend using double braces standard that i

[2018-07-04 13:35] numaanashraf commented on #3127
@Magdiel Could you try hitting your localhost API via curl in Command Prompt and send us the logs?
[code]

[2018-07-04 13:46] tychota opened #4774 "Add the possibilities to set custom headers for auth request"
**Is your feature request related to a problem? Please describe.**

I have an *oAuth2* api with *password* grant.
This api expect the header `x-client` to be set (see the redacted curl request under this)

[code]

=> 😵I struggled setting this  `X-Client: blurp.blop.fr_FR` headers.

**Describe the solution you'd like**

I would like to have the possibility to set up custom headers for the auth requ

[2018-07-04 13:57] Magdiel commented on #3127
@numaanashraf

![image](https://user-images.githubusercontent.com/453279/42281107-92cdf20a-7f70-11e8-972f-ab7dd1aeadaa.png)

[2018-07-04 14:07] numaanashraf commented on #3127
Thanks @Magdiel. Is this the response you expected when you used Postman?

[2018-07-04 14:10] Magdiel commented on #3127
@numaanashraf this is the response I expect in Postman.

In the browser the response is as expected

![image](https://user-images.githubusercontent.com/453279/42281762-841e4ca8-7f72-11e8-8368-a25cde814ef8.png)

[2018-07-04 14:27] numaanashraf commented on #3127
@Magdiel Can you try the cURL command once more with follow redirect flag and verify that it is the response you expected?
[code]

[2018-07-04 15:10] santhoshanna opened #4775 "OAuth 2 implicit grant flow ends in error"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.
When initiating OAuth2 implicit grant flow, a pop-up comes up from Azure AD to enter email id, once done entering, it results in an error. The console also shows "Error" & "Uns

[2018-07-04 15:18] Magdiel commented on #3127
@numaanashraf this is the result I'm expecting
Postman for Chrome:
![image](https://user-images.githubusercontent.com/453279/42284884-ddda1c50-7f7b-11e8-98be-23d43b576129.png)

This is what Im getting with curl:
![image](https://user-images.githubusercontent.com/453279/42284611-109b4836-7f7b-11e8-9d81-b5cc967eb7ea.png)

[2018-07-04 15:20] harryi3t commented on #4775
@santhoshanna Can you also check the dev console (view -> developer -> Show devTools (current view)) for any errors and post it here?
Also, try changing the dropdown `client authentication` to header instead of body.

[2018-07-04 15:22] abelmokadem commented on #1961
All it does now is calculate the path coverage, I will expand it with method + parameter coverage and a more detailed report.
https://www.npmjs.com/package/swagger-coverage-postman

[2018-07-04 15:22] a85 commented on #1961
@abelmokadem That's great. Checking it out.

[2018-07-04 15:24] numaanashraf opened #4776 "Postman app doesn't work with system proxy env variables without valid protocol"
Originally reported at https://github.com/postmanlabs/postman-app-support/issues/3127#issuecomment-402477560 by @Magdiel.

[2018-07-04 15:24] numaanashraf commented on #3127
@Magdiel Thanks. Looks like its an issue with how Postman Native app resolves and works with the system proxy configuration. I'm looping in my colleague @harryi3t to take a deeper look at this. Since this is not related to the original issue, we are moving this discussion to #4776.

[2018-07-04 15:30] Magdiel commented on #3127
@numaanashraf thanks.

[2018-07-04 15:32] mark-jacobs commented on #4762
@prashantagarwal Hi, I pasted the contents of the file into the value.

[2018-07-04 15:33] numaanashraf commented on #4774
Thanks for the feature suggestion @tychota.

[2018-07-04 15:38] harryi3t commented on #4776
Hi @Magdiel,
I noticed in the screenshot (that you posted on the other thread) that you have an environment variable `http_proxy='s460proxy:8080'`. Could you try chaning that variable to `http_proxy='http://s460proxy:8080'`

~If you don't want to change this variable permanently, you can open the app with a temporary set variable from command line~

Update:
Sorry, I didn't noticed that you were on

[2018-07-04 15:39] gesslinger opened #4777 "Feature Request: Secure environment variables"
Another cool feature for postman's environment variables:
- add a checkbox for "secure" environment variables (e.g. for credentials)
- encrypt these values in the internal storage
- these variables should be only marked with ******
- when exporting an environment, these variables should be also hidden

[2018-07-04 15:43] Magdiel commented on #4776
Hi @harryi3t ,

It doesn't work either. Got the same response that I got with curl -L -vv

![image](https://user-images.githubusercontent.com/453279/42286021-71254176-7f7f-11e8-923b-6d36fdaf5cd3.png)

[2018-07-04 15:47] harryi3t commented on #4776
@Magdiel
 1. How did you modify the env var `http_proxy`? My previous comment didn't apply since you are on windows.
 2. Does your proxy requires any authentication?

[2018-07-04 15:50] Magdiel commented on #4776
@harryi3t

1. How did you modify the env var http_proxy? My previous comment didn't apply since you are on windows.

2. Does your proxy requires any authentication?

[2018-07-04 16:05] ghost commented on #697
+1

[2018-07-04 17:08] santhoshanna commented on #4775
@harryi3t
![image](https://user-images.githubusercontent.com/9366313/42288965-ac0a0eae-7f82-11e8-805e-7ac4de193662.png)
attached is the dev console capture with "client authentication" set to "send as basic auth header" as adviced

[2018-07-04 18:19] TehWardy commented on #4726
@EasyMilos  as stated ... I have a clean install of windows, and a clean install of postman.
Postman will ONLY work with localhost servers that self sign if you change the setting "SSL Certificate Verification" which you must have obviously done already.

My point was simply given the job of Postman is to be a testing / dev tool to help build and test API's this is a scenario that should be detect

[2018-07-04 18:20] ncpre commented on #3312
+1

[2018-07-04 18:37] TehWardy commented on #3136
Sooooo ... I totally forgot about this issue then ...
After a while i ended up with a broken install of windows on my home machine (you know "reasons", windows update, ect) ... That led me to get some more insight on this problem which I logged in ticket #4726

I've come to the conclusion that postman does support this scenario, it just doesn't want to by default like somehow a local dev environme

[2018-07-04 19:50] jkewley commented on #824
This is a roadblock for enterprise adoption. Try selling your CTO on a subscription to a tool which will have his development teams freely sharing plain-text credentials. Seems like such an obvious feature for a tool which is going to hit APIs, many of which will be secured. Please put this on a roadmap so I can pick up the investment pitch with management again.

[2018-07-04 19:51] jkewley commented on #4777
Dupe of #824

[2018-07-04 22:23] ghost opened #4778 "Scrolling of documentation section in collection when used build mode"
**To Reproduce**
See the screenshot. Add more text to the documentation section.

**Expected behavior**
Scrolling through a large amount of text in documentation section when "Build mode" is used

**Screenshots**
![peek 2018-07-05 00-53](https://user-images.githubusercontent.com/12297432/42294973-7ccd39ec-7fee-11e8-95fb-d47a60e34216.gif)

**App information:**
 - App Type Electron Version 1.8.4
 -

[2018-07-05 02:49] sweepy84 commented on #4239
@thecuriousdev

1. It was an update
2. Same as the original issue post, i just see that screen, never ends loading.
3 . I didn't want to lose settings/cache etc so after some testing i deleted a few files from "C:\Users\Peter\AppData\Roaming\Postman" argh but dont rememebr which i think its was the "Partition" folder and a handful from the root of that folder like "Preferences" and "settings.json"

[2018-07-05 02:54] a85 commented on #824
@jkewley Postman 6.2 will introduce a concept of sessions. A session in a Postman app will keep your information locally and it won't be synced or shared. Only the initial values of variables inside collections/environments will be shared. More details here in this RFC: https://community.getpostman.com/t/sessions-in-postman/1925

[2018-07-05 03:31] HaoNguyen2409 commented on #1678
Simple feature with huge utility, don't know why they still don't support this instead of add many features pretty sure 90% users never used.

[2018-07-05 05:56] #4777 closed, assigned to nobody

[2018-07-05 06:07] harryi3t commented on #4774
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/2523

[2018-07-05 06:07] #4774 closed, assigned to nobody

[2018-07-05 06:35] thecuriousdev commented on #4239
@sweepy84 can you confirm whether all of your data is synced to Postman servers? (You can verify this by going to our dashboard, http://app.getpostman.com/)

If so you can delete `C:\Users\Peter\AppData\Roaming\Postman` and relaunch the application.

[2018-07-05 06:57] prashantagarwal commented on #3027
@butlnor Can you add a screen recording of this flow. It will help us better understand the UX issue.

[2018-07-05 06:59] tychota commented on #4774
@numaanashraf  is it something i can contribute with the open source directories or that ui part is closed source ?

[2018-07-05 07:01] musanas opened #4779 "Ability to sync Environments seperately to GitHub"
Hi,
We have the Postman- Github integration available, which is great
as far as I know it can sync and back up only the postman collections to any Github repository / directory.
I would like to check is it possible to sync and backup **Environments** json files seperately to github.
If not, having that ability will help many teams a lot.

For exampe, if I have a node.js app which I use to run post

[2018-07-05 07:04] numaanashraf commented on #4774
@tychota Postman's core request sending library is open-sourced and we invite contributions there. But the OAuth2.0 flow is implemented outside of this library (As it depends on user interaction) and it is closed source.

[2018-07-05 07:15] tychota commented on #4774
All clear.
Lets wait then.

[2018-07-05 07:17] musanas opened #4780 "Ability to sync postman collections with Atlassians Bitbucket"
Hi,
I know we have Postman-Github real time sync/backup integration available.
A similar integration with Atlassians Bitbucket would help me because Bitbucket is what we use in our company

Thanks & Warm Regards
Musaffir

[2018-07-05 07:32] prashantagarwal commented on #4375
@vladah  So is it going black just by selecting the file or when you actually send the request ?

[2018-07-05 07:59] prashantagarwal commented on #4130
Related to #3463  This is related to variable types in Postman.

[2018-07-05 07:59] #4130 closed, assigned to prashantagarwal

[2018-07-05 08:08] omarrida commented on #3438
Would love to see this feature implemented... any timeline in mind?

[2018-07-05 08:10] kamalaknn commented on #3771
I'm closing this as a duplicate of #4751

We're tracking similar issues related to Postman handling large responses. Please follow the original thread for updates.

[2018-07-05 08:10] #3771 closed, assigned to kamalaknn

[2018-07-05 08:12] tigran-m-dev commented on #4644
I also have same problem, but I am using windows 10 and have the latest application 6.1.4

[2018-07-05 08:12] kamalaknn commented on #4156
I'm closing this as a duplicate of #4751

We're tracking similar issues related to Postman handling large responses. Please follow the original thread for updates.

[2018-07-05 08:12] #4156 closed, assigned to kamalaknn

[2018-07-05 08:16] thecuriousdev commented on #4644
@developer-devPHP are you getting any error in the console? can you share it here

[2018-07-05 08:54] tigran-m-dev commented on #4644
![2018-07-04_2119](https://user-images.githubusercontent.com/3036510/42312755-2e656bbc-8052-11e8-9d82-bb7c55baff0d.png)
![2018-07-04_2120](https://user-images.githubusercontent.com/3036510/42312756-2e898f74-8052-11e8-8982-4e4e30150481.png)
Firs image from Postman Devtools (current view) (2018-07-04_2119)
Secon image from Devtools (shared) (2018-07-04_2120)

[2018-07-05 09:05] numaanashraf commented on #3136
@TehWardy We are working on multiple changes to improve the overall experience of working with secure endpoints, including setting sane defaults to avoid common pitfalls and frustrations and also providing better error info for faster troubleshooting. We are going to track this change at #4726 and let's continue this discussion over at that thread.

[2018-07-05 09:05] #3136 closed, assigned to numaanashraf

[2018-07-05 09:06] Guik commented on #2086
+1

[2018-07-05 09:27] tychota commented on #2523
For people needing to add a `X-Client` header (see #4774), you can work around in between using for instance Charles Proxy (https://www.charlesproxy.com/download/, which is not free but has a demo version)

![image](https://user-images.githubusercontent.com/13785185/42314592-a8b8d078-8045-11e8-9e9f-b6ffc104bd2e.png)

I disabled the Mac OSx proxy not to pollute the navigator by adding / overriding

[2018-07-05 09:30] tychota commented on #4774
I posted a work around in https://github.com/postmanlabs/postman-app-support/issues/2523#issuecomment-402662519.

Basically it is using Charles proxy rewrite rules to add the headers while waiting for the feature to be implemented.
The above comments document my workaround with images so should be easy to follow (max 5 min) and hopefully save people coming to this issue some times.

[2018-07-05 09:37] godfrzero commented on #3438
This isn't an API documentation-specific problem. We're working on importers/exports for the app, which will allow the collection itself to be moved around in various formats. Since the documentation is a part of the collection anyway, this information would also be available in the export. If I'm understanding your problem correctly, this should be a viable solution.

In the meantime, you can try

[2018-07-05 10:06] jayakanth459 opened #4781 "I'm unable to create a Mock in Postman"
I'm unable to create a Mock in Postman, Initially i thought it's my n/w issue. I tried in different networks. yet still I'm unable to create a mock

[2018-07-05 10:08] prashantagarwal commented on #4781
@jayakanth459 What is your app version

[2018-07-05 10:15] jayakanth459 commented on #4781
Postman for Windows
Version 6.1.4
win32 6.1.7601 / x64

[2018-07-05 11:09] mdvdhurk commented on #4382
Ran into the same issue (Server 2008R2). Ran the application in compatibility mode for Windows 8, now it starts fine!

[2018-07-05 11:33] gillwindall commented on #1066
+1

[2018-07-05 12:21] miketonguk commented on #2621
Keep Environment as is (for backward compatibility) and then create 2 more selectable 'groups' of settings that can also be applied. One to select the Product, System or Client you're interacting with and another to select the User, Identity, or Authentication you wish to use.

The 2 new groups can be turned off by default and only added if a team requires it.

[2018-07-05 12:36] gavinclarkeuk commented on #2621
I must be missing something here. I don't understand why you wouldn't just have the generic ability to add multiple environments. Seems to me if you add 2 more variable sets then when someone has 5 different dimensions to their model they will just be asking for this feature again.

If you just made it possible to apply multiple environment files and made it very obvious what would happen in the c

[2018-07-05 12:39] franksands opened #4782 "Better distinction between "Send and Download" and "Save""
One common task in postman is to save the response as a file. However, not only **Send and download** is hidden in the **Send** button, the **Save** button does not do what one initially expects, which is to save the response to a file, since **Save** in most applications means save to a file in the computer the application is running.
I would like to request that the **Send and Download** button

[2018-07-05 13:02] p00j4 commented on #1525
Is it in the roadmap to come as part of app?
Would be great to have a import mechanism so any library could be imported in tests

[2018-07-05 13:17] ChristopherPope commented on #2240
Hi, I've been waiting for Postman to support Kerberos. @a85 , since you self-assigned this ticket can I assume it will be completed soon?

Thanks.

[2018-07-05 13:20] p00j4 commented on #1180
I added the js (moment.js) I wanted in the tester_sandbox.html file and reloaded the native postman MAC app, but it didn't help. I get not found error `ReferenceError: moment is not defined`
Am I missing anything here?

[2018-07-05 13:23] Grzegorzsa commented on #2096
Some shootcuts conflicts with typing language specific characters so it is hard to use this app with non-English text. Right Alt + aszxcnloe should in Polish produce ąśżźćńłóę istead I have some windows opening. These shortcuts cannot be changed from menu.

[2018-07-05 13:27] TheSench commented on #2086
+1

[2018-07-05 13:40] songshenyi opened #4783 ""Body" tab becomes to video player if http response header including "Content-Type: video/mp4""
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
if http response header includes "Content-Type: video/mp4", "Body" tab became to video player.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL Line, enter a url, which http response header includes "Content-Type:

[2018-07-05 14:06] sssahas commented on #2847
+1 for this ask, please.
I've a swagger spec. Creating mock service in Postman, lack of optional vs required request parameters leads to incorrect representation of the spec.

[2018-07-05 14:10] StephenOTT commented on #2847
+1

[2018-07-05 14:11] Malek-Zytoon commented on #350
+1

[2018-07-05 14:13] StephenOTT commented on #2847
The biggest issue that is disabled params dont show up in the Documentation, and if you enable all of the params you have docs that look like complete junk.

At the very least, lets show the disabled params in the documentation

[2018-07-05 14:16] grinderX19 commented on #1180
**p00j4**, this approach doesn't work with native apps.
It seems the only way to use external JS is as follows:

[2018-07-05 14:17] oliverm2112 commented on #1066
They don't know how to do it ;) Only possible explanation. Don't know why they don't Open Source the client. Frustrating...

[2018-07-05 14:25] m3dbedb opened #4784 ""Error reading data file. Error: Could not determine format of file." when uploading JSON file in Runner"
1. Postman Version: 6.1.4
2. App Windows x86 desktop app
3. File system NTFS
4. File format windows formattes ANSI txt
5. Did you encounter this recently, or has this bug always been there: It is my first installation, when uploading JSON file was getting error that app is unable to determine format but could manually select format from dropdown
6. Expected behaviour: JSON file gets uploaded in Ru

[2018-07-05 14:25] m3dbedb commented on #4784
Example file
[users2.txt](https://github.com/postmanlabs/postman-app-support/files/2166961/users2.txt)

[2018-07-05 14:29] Ocsidot commented on #1180
@grinderX19 and @p00j4 , MomentJS can be loaded in postman siince it's one of available internal module (https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference)

To use MomentJs, you just need to do var moment = require("moment");
Then the library is loaded into your variable

Regards

[2018-07-05 15:14] rebeccapowell commented on #2521
I'd like to second this. This is an error condition I need to test.

[2018-07-05 15:21] nicodesh commented on #3608
Hi guys,

I'm experiencing the same issue. My token is valid, and I can see it in "Access token". If a create my own querystring param, it tells me "warning, your param access_token will be overrived by ours" but actually it's the only way to make it work. And if I click on "preview request", I've got the message "Could not update authorization data". I'm on Mac OS X with the latest version of Pos

[2018-07-05 15:29] landonr commented on #2392
+1

[2018-07-05 15:32] numaanashraf commented on #4783
@songshenyi Thanks for writing in. `Content-Type: video/mp4` means the response is a video and hence Postman switches to video player. Could you clarify what you expected to be shown in the Body section?

[2018-07-05 15:53] numaanashraf commented on #4784
@m3dbedb Thanks for writing in. We are tracking this issue at #4591. Closing this as duplicate.

[2018-07-05 15:53] #4784 closed, assigned to nobody

[2018-07-05 16:00] PetrusKiendys opened #4785 "Move collections from a workspace to another (not "add to workspace" (copy) --> delete)"
**Is your feature request related to a problem? Please describe.**
I want to be able to move collections and environments from one workspace to another, not simply add existing stuff (copying) to another, and then go through the old workspace and remove stuff from there.

**Describe the solution you'd like**
A "move" functionality for collections and environments

[2018-07-05 17:43] yspotts commented on #285
Thanks @a85 for the detailed response.
I'd like to pass along my use case, as it seems to cross over between security and Showing alerts.
We use Oauth2 implicit/authorization flow with MFA. So, the Oauth2 security for the apis is not sufficient as we need to be prompted for an MFA access code before obtaining the Oauth2 access token. My thought was to create a pre-request script to generate the ac

[2018-07-05 18:23] satishchilu commented on #4215
Thanks for reply. I have a service which accepts only xml payload. For one of the automation script we are calling multiple services, one service response [comes in Json] we use as input to another service which accepts only xml payload. I feel when we have xml to json conv we should also have reverse.

[2018-07-05 18:42] a85 opened #4786 "Monitoring notifications are not clickable inside the app"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Saw a monitor failure but clicking on the links in the notification did not take me to the monitor page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the notifications dropdown when there is a new notification
2. C

[2018-07-05 18:55] sonaskyla12 opened #4787 "unauthorized user after sending request to postman identity of user is not displayed on console"
===>my code under passport.js
const JwtStrategy = require('passport-jwt').Strategy;
const ExtractJwt = require('passport-jwt').ExtractJwt;
const mongoose = require('mongoose');
const User = mongoose.model('users');
const keys = require('../config/keys');

const opts = {};
opts.jwtFromRequest = ExtractJwt.fromAuthHeaderAsBearerToken();
opts.secretOrKey = keys.secretOrKey;
module.exports = passport

[2018-07-05 18:58] remillc commented on #6682
+1

[2018-07-05 19:06] pgrandje commented on #1429
Where is this feature?  I downloaded Canary, but cannot see how to open Search and Replace.  Am I missing something obvious or is it hidden somewhere?

[2018-07-05 19:10] numaanashraf commented on #4787
Duplicate of #4756. Closing this issue. Please use the original issue for discussions.

[2018-07-05 19:10] #4787 closed, assigned to nobody

[2018-07-05 19:11] numaanashraf commented on #4785
@PetrusKiendys Thanks for the feature suggestion.

[2018-07-05 19:11] prashantagarwal commented on #1429
@pgrandje  click on magnify glass at bottom left in the status bar

[2018-07-05 20:20] coffeeneer commented on #4764
I'm having the same issue. Also Arch, but a different WM. I'm using deepin DDE, which uses deepin-wm which is a fork of mutter (GNOME) if I'm not mistaken.

It seems the issue is not with every field, it seems only text-area's are triggering this issue. When a non-resizable text field is selected it does not go black on lost app focus.

[2018-07-05 20:21] jovistruck commented on #2392
Argh, JMeter just allows you to disable and enable elements. This isn't difficult to do Postman!

[2018-07-05 21:31] pgrandje commented on #1429
Ahh, there it is!  Thank-you.  I'll try this feature in the next couple of
days.  Thanks for the prompt reply.

On Thu, Jul 5, 2018 at 12:11 PM, Prashant Agrawal <notifications@github.com>
wrote:

[2018-07-05 21:53] gsolak commented on #3819
+1. This happened to me yesterday.

Can we please transition this from a "feature" to a critical bug? This also happened to me when I was offline. The entire application might as well be fully bricked because it is useless.

I don't use Postman on a daily basis. So the 15 days since last authentication is not thought very well. I might have not logged into postman for 3+ weeks. And then I'll be tr

[2018-07-05 23:42] gabriel-bronfman commented on #4720
This issue has regressed

[2018-07-06 01:39] bloigge commented on #1321
@avmohan - thanks for sharing. that's the most easy solution. great tool!

[2018-07-06 04:20] preethammavin commented on #4720
@gabriel-bronfman can you share the error logs, so that we can inspect the issue.

[2018-07-06 04:27] preethammavin commented on #3819
Hey, we check for authentication because of security of the users data. But we are visiting this as an improvement to the workflow of the user, will update the thread once we have tackled it.

[2018-07-06 04:29] shamasis opened #4788 "Feature Request: Linking to a request (or other parts) for a better workflow"
Kai pointed out a possible new feature (or some variants of it) to better collaborate within his team. Quoting him:

Maybe we could provide permalink on various places in app and dashboard to deep link them. Coupled with commenting and annotation it can be a slick workflow.

[2018-07-06 05:08] rest17 commented on #3290
Have same issue.There should be support to add selfsigned truststore to have mutal authetication.

[2018-07-06 06:02] abhijitkane opened #4789 "Hitting Resync in the Settings>Sync section reliably produces a conflict window"
**Describe the bug**
Hitting Resync in the Settings>Sync section reliably produces a conflict window. The conflicts are mostly for the "type" and "description" properties of environments/globals, but some are also for the exact same folder description.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings>Sync
2. Click 'Resync'

**Expected behavior**
Conflicts should only show up fo

[2018-07-06 06:39] tigran-m-dev commented on #4644
@SamvelRaja  Do I need to create different issue or you will reopen this one?

@thecuriousdev  Screenshots was added (I mentioned you, in case of you don’t seen it yet)

[2018-07-06 06:51] thecuriousdev commented on #4644
thanks for the information, can you check the state of the sync icon?
![screen shot 2018-07-06 at 12 19 07 pm](https://user-images.githubusercontent.com/22293666/42363960-1ddbc47e-8117-11e8-993f-c8194a9d217c.png)

[2018-07-06 07:21] holgerl commented on #3942
The @abargstaedt trick worked for me! Thanks!

On my machine, I was not able to remove the `http_proxy` environment variable, and this made it impossible to use Postman on localhost. This behaviour is a real pain

[2018-07-06 07:53] prashantagarwal commented on #4781
@jayakanth459 Can you add some screenshots ?

[2018-07-06 08:14] abhijitkane opened #4790 "I have the admin and billing roles, but I'm not able to remove other users from the team"
**Describe the bug**
On the team management page, when attempting to remove a user from the team, I get a spinner that never goes away. The console shows a 'you are not part of this team' error in the WebSockets tab. I only have the admin and billing roles. My colleague, who has the admin, billing, and user roles, does not face this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2018-07-06 08:16] misiekofski commented on #2729
+1

[2018-07-06 08:34] kamalaknn commented on #3732
@protegesolutions From the details you've given me, I'm making some assumptions here, correct me if I'm wrong.

1. You're sending individual requests using postman to test OAuth 2.0 endpoints and no the `OAuth 2.0` Authorization helper provided by Postman.
2. `the first call sees no Request Body`: Postman is not sending a request body you've specified?

I need more information to pinpoint what's h

[2018-07-06 08:49] vkaegis commented on #4785
@PetrusKiendys We think alike! This was actually one of the first suggestions that came up internally once Workspaces were released. We definitely have this on our roadmap. No ETA on this just yet, but we'll keep you updated! :)

[2018-07-06 09:03] deepakpathania-zz commented on #4305
Hey @andreypolyak, sorry for the delayed response. This has been fixed from our end, can you try once and let me know if you are still facing this issue? Thanks.

[2018-07-06 09:12] deepakpathania-zz commented on #4245
Hey @galbarm, sorry for the delayed response. This has been fixed from our end, can you try once and let me know if you are still facing this issue? Thanks.

[2018-07-06 09:51] JacquesLeRoux commented on #4359
Thanks @rokkie
That works for me too!

[2018-07-06 11:20] aalezhnin commented on #1104
+1!!!!

[2018-07-06 12:30] galbarm commented on #4245
hey @deepakpathania
I can confirm this is working now.

Thanks.

[2018-07-06 14:09] jsavidge commented on #2861
I am also having this issue, but it only applies to variables being brought in from a Data File.
In the CSV the fields are left blank and in Postman's Data Preview it sees them correctly as 'nulls'. However when the iteration is run, it is passing the Variable name, please see the screenshots below;

![postmanvariables](https://user-images.githubusercontent.com/40893483/42383169-577fe978-812e-11e8

[2018-07-06 14:21] stantond commented on #4639
@godfrzero unfortunately that doesn't fix this.

[code]

In Postman app:

![screen shot 2018-07-06 at 15 18 59](https://user-images.githubusercontent.com/3207366/42383789-358fb300-8130-11e8-891f-e794b6615f00.png)

Website:

![screen shot 2018-07-06 at 15 18 50](https://user-images.githubusercontent.com/3207366/42383802-4716999a-8130-11e8-9349-4b812f33863a.png)

[2018-07-06 15:06] jonathan-techtwo commented on #4262
The same symptoms as greenais

* boot time ~5 minutes
* busy mouse pointer blinking repeatedly
* several postman instances running according to Task manager (the most hungry one consumes about 30% of CPU)
* empty pale main window for more than 180 seconds (menu is responsive though)

Version : v6.1.4
Windows : 8.1 Pro
Collection size: 150 requests

I already discarded the %user%AppData\Roaming\Pos

[2018-07-06 15:13] SamuelYvon commented on #350
+1!

[2018-07-06 15:34] dhineshwiz commented on #4536
hey @Alextunchii there is an issue with your pre-request script  `_.random` with single argument will return a random number between 0 and given number, and when you try access array index with given number you will get undefined, which is set to environment.

You can use this updated script

`var institutions = ["School", "District", "Library", "Daycare"];
pm.environment.set("arrayInstitutions",

[2018-07-06 17:54] SeaDude commented on #4171
Would love a way to view the FULL CONCATENATED URL that PostMan is sending. I can't seem to find it anywhere in the app.

I'm NOT looking for a view that shows base URL with a list of key:value pairs below. I AM looking for the full concatenated URL.

Am I missing it somewhere in the app?

Thanks

[2018-07-06 18:07] Kevded commented on #6682
+1

[2018-07-06 18:18] wdtracy commented on #2452
+1

We use code flow and none of the work-arounds help.  Is there a way to programatically change the token that the auth processes uses?  The token gets automatically added to the request headers but I don't see it in the environment variables.

[2018-07-06 18:57] tigran-m-dev commented on #4644
@thecuriousdev sync icon is blue and when I am clicking on it it shows message “Connecting”

[2018-07-06 19:52] subwaymatch commented on #1228
+1

[2018-07-06 21:26] dmorrow opened #4791 "Send Request confirmation button"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Having full exposed to a destructive API is dangerous.  An API that does a hard delete on DELETE endpoints is **very** risky.  One wrong click can cause damage.  The actual UIs that

[2018-07-07 04:45] autorecyclab commented on #3779
+1 this feature is important for us, we can't use our file testing

[2018-07-07 04:54] autorecyclab commented on #4320
+1
That's real problem for me because due to this issue, my test team can not use postman but only my developer team (people who can edit and manipulate postman test file)

[2018-07-07 07:22] ayushrawat18 commented on #1663
I am facing the same issue on version - Version: 5.5.3.

[2018-07-07 11:18] alihamidreza commented on #3503
Could not get any response
There was an error connecting to http://localhost:8000/api/v1/courses/s.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General
Proxy configured incorrectly
Ensure that proxy is configured cor

[2018-07-07 11:40] AlexanderTunick commented on #4536
@dhineshwiz yeaah, so obvious, I forgot that the last index is not considered here, of cause it's undefined.

Ok, thanks for the comment!

[2018-07-07 11:54] TheLastWarrior commented on #350
+1

[2018-07-07 14:01] numaanashraf commented on #3503
@alihamidreza Could you open Postman Console (View -> Show Postman Console), resend the request and check if there are any errors shown there?

[2018-07-07 14:01] numaanashraf commented on #4791
Thanks for the feature suggestion @dmorrow.

[2018-07-07 18:15] avinashkandukuri opened #4792 "call one request to other request(as a reusable function )"
Hi,

I am trying to call one request to other as a (reusable function)
for instance, a sample scenario
I have a collection with a list of requests
     Authentication
     Signon
     homePageDetails
     Make payment
     Delete a payment

**In the first Scenario**
 Authentication -> Signon ->  homePageDetails this is possible by using the
Authentication -> postman.setNextRequest("SignOn") -> pos

[2018-07-07 21:11] mpawlow commented on #4360
Thanks @kamalaknn

I was able to work-around the re-sync issues by doing the following:

1. Duplicate conflicted **environment** item type and rename it to something unique
1. Duplicate each conflicted **request** item type and rename it to something unique
1. Delete the old (source) **environment** item type
1. Delete each old (source) **request** item type
1. Go to: `File > Settings > Sync`
1. C

[2018-07-08 12:42] sankalp0o commented on #4345
Thanks for the input @norcino. I see a usage pattern in yours and some other issues here on Github around using multiple environments that isn't currently addressed in Postman. I'm trying to get a better understanding, hence I have some questions so that we can get to the root of this.

* What are the kind of variables that you want to use across multiple environments?
* What are the kind of varia

[2018-07-08 12:58] mattisebastian commented on #4041
Hi @numaanashraf, I have to check. Will get back to you!

[2018-07-08 17:31] Rostanxd commented on #2256
@dmarkowicz96 ty so much!!... 'Troubleshoot compatibility' , it worked for me. I have Windows 8.1.

[2018-07-08 23:24] richbowen commented on #4764
App window goes black for me as well on Arch using the Plasma desktop environment.

Prior to crash:
![before_crash](https://user-images.githubusercontent.com/5672238/42425062-a2345b20-82dc-11e8-8ece-e34114a943f0.png)

After crash:
![after_crash](https://user-images.githubusercontent.com/5672238/42425028-19859758-82dc-11e8-971e-c90751ed44a3.png)

The active input field is the one with the 'New key'

[2018-07-09 02:38] aajjss3 commented on #4310
I have the same problem stated above, after updating to 6.1.4 the  postman icon is missing. I do not have a GitHub folder, just a Postman folder.  I am using Windows 10 (latest patch).
The following is from my SquirrelSetup.log file. (FYI... i do not have a C:\Users\Administrator directory);
2018-07-05 21:31:48> InstallHelperImpl: Couldn't write uninstall icon, don't care: System.Net.WebException:

[2018-07-09 06:35] gitterrost4 commented on #4764
Thank you! That functions as a workaround.

[2018-07-09 06:51] loctb opened #4793 "[Monitor test failure] - "Anomalous test failure" error"
**Describe the bug**
While monitor is running, we got this error: Anomalous test failure.
In this case, we saw that postman will retry to call the APIs, but the biggest problem is we has the duplicate result in our server side.

**To Reproduce**
Steps to reproduce the behavior:
1. Make monitor with Folder's test
2. Monitor it
3. Wait until error happen

**Expected behavior**
If there is any proble

[2018-07-09 07:49] harryi3t commented on #4792
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4024

[2018-07-09 07:49] #4792 closed, assigned to nobody

[2018-07-09 08:05] vkaegis commented on #4791
@dmorrow Thanks for the input! This looks like it could be a pretty useful configuration to have. Out of curiosity, is this a problem you have across several collections? Or just a few important ones. Also, do you work on these APIs with a team?

[2018-07-09 08:17] vkaegis commented on #4690
@angamardhana Thanks for the input! This would be a nifty feature to have while we work on usability improvements around the console. No ETA on this just yet, but we'll keep you updated.

[2018-07-09 08:21] sankalp0o commented on #3227
Hi @RDEFLM ,
I'm trying to understand this better. Do you want to see this information while waiting for the response or after the response is received? Also, do you want timestamps or relative (to when you sent the request) time?

[2018-07-09 08:35] norcino commented on #4345
Hi @sankalp0o, I will reply below to your questions:
1) Strings and integers are the most commonly used, those normally represents set of data is created in those environments, like ID of objects or keywords
3) In our case, except few exceptions related to static data IDs, which acts more like an enumeration stored in the backend, the rest of the data is all dynamic. We use OData and in order to c

[2018-07-09 09:03] kimpettersen commented on #1180
+1!!

I've done something similar to @SuperAL mentioned
`pm.sendRequest("path/to/the/script.js", (err, res) => { eval(res.text()); });`
But when the script grows above a certain size Postman just crashes immediately. Has anyone else experienced this?

[2018-07-09 09:06] WSMathias opened #4794 "After importing environments from folder, not getting listed in environments."
**To Reproduce**
Steps to reproduce the behavior:
1. export environment collection to  folder myCollections
2. delete that collection in the postman
3. select the **import folder** and choose myCollection folder.
4. See message imported successfully
5. now expand the environment list, it will not be listed there.
6. now got to  **Manage environment** and import the same environment.
7. see there w

[2018-07-09 09:38] numaanashraf commented on #4794
Thanks for reporting this @WSMathias. We are looking into this.

[2018-07-09 09:49] anudeepmedicharla opened #4795 "Ctrl+tab to shift between tabs"
I would like to shift between tabs by typing Ctrl+tab, the same way I do in chrome.

[2018-07-09 09:50] numaanashraf commented on #4773
We are closing this due to inactivity. Feel free to reopen.

[2018-07-09 09:50] #4773 closed, assigned to numaanashraf

[2018-07-09 09:51] numaanashraf commented on #4783
We are closing this due to inactivity. Feel free to reopen.

[2018-07-09 09:51] #4783 closed, assigned to numaanashraf

[2018-07-09 10:18] godfrzero commented on #4793
@loctb If a monitor run fails after running successfully for a while, it's re-run internally to make sure that the failure wasn't due to any networking or infrastructure issues. This is the expected behavior. It looks like your monitor succeeded on the next run.

[2018-07-09 10:23] ghost commented on #675
+1

[2018-07-09 11:22] AlexTemina opened #4796 "NTLM Authorization header not sent."
**Describe the bug**
NTLM authorization header is not set and not sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Authorization' tab
2. Select NTLM Authorization
3. Set username and password
4. Click 'send'
5. 401 with correct credentials
6. In developer console:
[code]
No  Authorization.

**Expected behavior**
Authorization tag is sent and I receive 200.

**Screenshots**
![imag

[2018-07-09 11:51] dmorrow commented on #4791
At the moment this issue is only on a single collection, in a case where we don't own the API.  But I can imagine it being useful on many collections.

To clarify my thought, I don't think this is a collection level setting - rather it is set per saved request.  The default is no confirmation, so nothing changes for anyone.  However, if you check the box, you will receive a warning and have to cli

[2018-07-09 12:12] superheri commented on #166
+1

[2018-07-09 12:26] grexe commented on #4235
ok can confirm, seems to have been fixed in the meantime.

[2018-07-09 12:43] heruan commented on #166
@DiegodeOliveira @agoerler @superheri Please do not comment "+1" but rather add your 👍 reaction to the first comment!

This issue is pretty old, but it has *only* 8 👍 reactions, while many other issues has 20 to 200+ 👍 reactions, so Custom HTTP methods figure as one of the less requested features at the moment! Try to order the issue list by 👍 reactions and you'll see.

"+1" or 👍 comments give no

[2018-07-09 12:57] modosteve commented on #3845
+1

[2018-07-09 13:32] dragulceo commented on #3189
Had this issue yesterday (all my history and collections and environments and hopes and dreams were lost) so I'm going to add some info on how I restored it all from backups. In my case I use a mac so my backups are made with Time Machine. Isn't this a good thing to have? 🍀

I have the Postman app installed and I don't have Sync enabled but I have backups...

Steps I took to get the data back:
1.

[2018-07-09 13:37] DewaldDeJager commented on #208
I would also like to add my support for this feature. A lot of corporates still use SOAP APIs and switching between tools is a pain. Postman is way nicer to work with.

[2018-07-09 14:14] jayakanth459 commented on #4781
At "3. Next Steps" section, it'll always browse and at the end it'll show the attached screenshot
![issue](https://user-images.githubusercontent.com/8513982/42455637-70196386-83b0-11e8-814b-c02d8e4126c1.png)

.

[2018-07-09 15:00] regisbsb commented on #3312
+1 💯

[2018-07-09 15:08] M3yo commented on #3977
I have the exact same symptoms as @jmatelet, I'm using Postman v6.1.4, I want to request an OAuth2 token and :

- Blank page when I request token
- No trace on console, or auth server, only "Opening auth login window https://...." when I open from a shell. (url working in my browser)
- Working with postman chome app

I'm using Keycloak as OAuth2 provider, and we are (for tests only) using a self-s

[2018-07-09 15:10] regisbsb commented on #1228
+1

[2018-07-09 15:17] regisbsb commented on #1228
Could somebody hack the https://github.com/postmanlabs/postman-runtime `requester.cookieJar` to false in the native app?

[2018-07-09 15:36] DiegoSuzuki commented on #166
@heruan ok! Thank you.

[2018-07-09 16:02] igatanasov commented on #350
+1

[2018-07-09 16:04] harryi3t commented on #3977
@jmatelet Are you also using a self-signed certificate? Can you confirm that using only HTTP works?

[2018-07-09 16:44] tigran-m-dev commented on #4644
@thecuriousdev
Adding and image
![2018-07-09_2042](https://user-images.githubusercontent.com/3036510/42463965-c1880f4e-83b8-11e8-9507-b324609e6d25.png)

Do you have any thoughts?

[2018-07-09 16:46] Bartvds commented on #166
This issue is older then the voting feature 😞

[2018-07-09 17:19] bibiali99 commented on #2369
Not sure if this will help anyone out there. I thought I had the same issue everyone is having after upgrading to Postman Windows app 6.1.4.
I was using a custom hostname defined in my /etc/hosts file but postman kept returning error hostname cannot be resolved.
Then I realized I had the "Postman Interceptor" button "On".  Once I turned it off the hostname was resolved correctly and my requests we

[2018-07-09 17:44] Postman-Gabriel commented on #4751
I have found reports of this problem specifically pertaining to requests running with NULL values for parameters or headers. One of our users has devised the following work-around. It isn't super useful, as it removes Null values but it still causes runner to lag less if this is your issue.

MyGlobalFunc = {

NullEmpty: function (desc, jsonValue) {

if (jsonValue === null){

cleanValue = "";

}

e

[2018-07-09 18:04] ashishpatel1992 commented on #1228
I am looking to disable only some cookies for the temporary time being. So that I don't need to copy and paste every cookie for a new request.

[2018-07-09 18:51] ggirard07 commented on #2452
Most of the OAuth/OpenIDConnect issues are now almost 2 years old.
Every few months they get labels added/removed but nothing is really moving in that area.

[2018-07-09 19:02] charly37 commented on #3429
I wish I saw this post 2 days ago...

[2018-07-09 19:34] ScrappyXII commented on #3977
@harryi3t the service i am using has a self signed cert and I am still experiencing this same/similar issue as @jmatelet and @M3yo. I can’t validate that only HTTP works as the service does not expose that.

[2018-07-09 19:53] matthijssn commented on #208
I also would like to add my support. My companies product has SOAP and REST services next to each other. It's way nicer to be able to use one tool to maintain requests for all of them.

[2018-07-09 20:34] Robinnnnn commented on #1070
+1 would love this feature!

[2018-07-09 20:55] Postman-Gabriel opened #4797 "Authorization tab takes up too much of the page"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated by how much space the authorization tab takes up on screen, reducing the space I can use to view other parts of the Postman App

**Describe the solution you'd like**
Add the ability to dynamically change the size of the tab by clicking and dragging.

**Describe alternatives you've considered**
Permanently chan

[2018-07-09 21:18] ghost commented on #3127
Just downloaded Postman from https://www.getpostman.com/apps, installed it on Ubuntu 18.04, and I am experiencing this also:

- When querying my localhost API via curl in Command Prompt I'll get the correct response as well
- I can also query my local API with a few other client tools -- Firefox and Chrome
- I tried to change the settings as previously described (SSL certificate verification off,

[2018-07-10 00:21] okonomiyaki3000 commented on #2369
@bibiali99 You mean the interceptor was on in your browser or in the postman app? In the app, it's the button that kind of looks like a satellite dish, right? It's great that it works for you but I never had that turned on and toggling it doesn't seem to help.

[2018-07-10 00:22] gkiely commented on #4797
Thanks @gabriel-bronfman-postman 👍

Here's a screenshot for reference:
![image](https://user-images.githubusercontent.com/1948935/42482477-04fe01b2-842b-11e8-9f8f-d4179a1055c2.png)

[2018-07-10 00:32] avinashkandukuri commented on #4024
Thanks for your updates on this issue @harryi3t

[2018-07-10 04:42] godfrzero commented on #4716
@jdavey1996 The response headers are displayed as a part of the generated snippet, so for example if you're using a cURL snippet it should show up as the `--header`.

Are you not seeing the headers in the snippet?

[2018-07-10 05:17] vkaegis commented on #4716
@jdavey1996 Thanks for writing in! Documentation generated in Postman shows the response headers as part of the "Example Response" section on the right column, under the `--header` part. Could you check and let us know if this is not working for you? Screenshots would be of great help!

[2018-07-10 05:19] vkaegis commented on #4671
@altaraven Thanks for writing in! We would love to do it immediately, but unfortunately this would break the collaborative workflows of a lot of our users. We're pretty sure we're headed in that direction though, so stay tuned for updates.

[2018-07-10 05:21] godfrzero commented on #4539
This is a bug we're actively working on fixing, I'll post an update here once we've pushed a fix for this.

[2018-07-10 05:31] godfrzero commented on #4316
Path variables have been available in documentation since late March.

@liran-co If it's still not showing up for you, I'll need more details. If it's a public doc please share the link or if it's a private doc, screenshots of both the app and documentation will do. If it's something you can't share publicly, you can open a ticket via our help center and I'll get it sorted asap.

[2018-07-10 05:44] godfrzero commented on #4244
No ETA yet, but we're actively working on this feature. I'll post here when I have new updates.

[2018-07-10 05:50] vkaegis commented on #4791
@dmorrow That's super helpful, thanks! Let me discuss this with our team and get back to you on this.

[2018-07-10 06:11] godfrzero commented on #4073
@grrseguin Are you still seeing this issue?

[2018-07-10 06:13] godfrzero commented on #3770
@jonath23 This shouldn't be happening anymore, are you still seeing this problem?

[2018-07-10 06:14] godfrzero commented on #3931
The scrollspy-like behavior was removed because of some UX problems and performance issues. I'll see if this is something we can integrate again.

[2018-07-10 06:17] godfrzero commented on #3681
This isn't a bug, per-se. The first set of CSP errors will show up if you have extensions running which inject any kind of code into the page. We can't turn off CSP, so there's really nothing we can do here.

It should be noted that these errors don't get in the way of any functionality.

[2018-07-10 06:17] #3681 closed, assigned to godfrzero

[2018-07-10 06:18] godfrzero commented on #3632
Logo and URL customization is already available. Favicon customization (a single favicon, for the team) is on the way.

[2018-07-10 06:22] pshoultz commented on #3251
same problem

[2018-07-10 06:48] loctb commented on #4793
The main problem here is the "Anomalous test failure". We don't know why and when this happen.
After this error, monitor run twice, and the result will be incorrect at our server side.

[2018-07-10 06:57] anudeepmedicharla opened #4798 "Monitor summary E-mail is not properly linked to the monitor details page"
In the Monitor summary emails that I get, the footer says "Head on over to the Monitors dashboard to view details". But the "view details" is not linked to the monitor's detail page, rather, I was taken to the main dashboard. I guess this is a bug.

Steps to reproduce the behaviour:
1. Click on the "view details" link in the monitor summary email.

**Expected behaviour**
To take me to the monitor'

[2018-07-10 07:37] GilbertGeliba commented on #422
@JAnderson1122 Have you tried `\r\n` ?

[2018-07-10 07:43] harryi3t commented on #4796
@AlexTemina Can you share the console logs for the response received from the server.
I would like to see the response headers ( want to see if the header `www-authenticate: NTLM` was sent).

[2018-07-10 07:56] loctb commented on #3171
+1 please help us about this issue

[2018-07-10 08:08] anudeepmedicharla commented on #196
Hi @snarglefarg,
Deep linking in the Postman app is on our roadmap. Cannot give you an ETA yet. Stay tuned for updates in the future. :)

[2018-07-10 08:11] godfrzero commented on #4793
Right, so in this case, "Anomalous test failure" means that a test which was passing in the past suddenly failed and we can't be sure that it's a legitimate failure (and not due to ephemeral network issues). In this case, the run is re-attempted. If it fails again, then this is reported as a failure and additional runs are not attempted until the next scheduled time.

Ideally, your requests and fu

[2018-07-10 08:38] jmatelet commented on #3977
I am using a certificate that is signed by the CA of my company.
I tried using HTTP and now postman successfully send the /authorize request to the server.
So this problem is related with SSL

[2018-07-10 08:48] davidoskay commented on #4401
Same issue on mac os

[2018-07-10 09:24] kedu commented on #2302
+1

[2018-07-10 10:19] godfrzero commented on #2997
Issue is no longer reproducible + closing due to inactivity. Re-open is additional details are available or if this is still happening.

[2018-07-10 10:26] wiggisser commented on #4642
Postman 6.0.10 was running fine until today I clicked update to 6.1.4. Postman wouldn't start.

Symptoms:

1. The splashscreen wouldn't show the orbit animation and just stay orange-yellow. After a few seconds it closes and a postman window comes up. A few seconds later the menu appears. But then it's stuck at this stage. Waited for several minutes, no change. I can click menu items, but nothing h

[2018-07-10 10:35] numaanashraf commented on #3127
@programarivm Thanks for writing in. Could you open the Postman Console (View > Show Postman Console), resend the request and check if there are any errors there?

[2018-07-10 10:55] andrergomes commented on #3251
Any idea?

[2018-07-10 11:03] ionutincau commented on #1104
+1

[2018-07-10 11:07] harryi3t commented on #4488
Hi @cuzic4n,
Sorry for the delay. I looked at the RFC again and now can confirm the bug.
We are working on the fix and will update the thread once it's released.
Thank you for using Postman :)

[2018-07-10 11:25] wwaaijer commented on #3900
I get what is going on under the hood. Bud now the kind of requests one can send with Postman are limited. And since you mention yourself Postman is a very generic tool. Not covering these use cases makes it less of a generic tool.

Before it was possible to send the `(` and `)` character without it automatically being encoded in the background. Now there is no way to send these characters anymore

[2018-07-10 11:32] Ustingit commented on #4249
@abdurrahmanarikan  i have this issue a few times per week. Log out and log in again works fine always for desktop client. Synch is quite slow and u have to wait a few minutes after log-in till postman pulls all data.

[2018-07-10 11:45] sumit0k opened #4799 "App and Web are not in Sync."
**Describe the bug**
App is showing orange icon, but still App and Web data are not in sync, Environment data is not updated and requests are shown outside of folder in Web. App has latest data and I have done resolve conflicts multiple times but still data is not up.

**To Reproduce**
Not sure on steps on how to reproduce, I didn't do anything new just regular add and edit requests in a collectio

[2018-07-10 12:20] matpag commented on #4637
The same it's happening on Windows 10 with version 6.1.4

![image](https://user-images.githubusercontent.com/4432213/42509484-5205a3c2-844c-11e8-96be-5d867e31e47c.png)

[2018-07-10 12:33] dennisslavid commented on #4723
Just encountered a similar issue: renamed a collection yesterday, today the old name reappeared. (Together with another issue, but I will start a new issue for that. Could be related though...)

[2018-07-10 12:39] dennisslavid opened #4800 "Freak duplication of requests"
**Description**
Requests are automatically duplicated from time to time. Happens very randomly.

**To Reproduce**
Unfortunately haven't found a way to willingly reproduce the problem.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version: 6.1.4
 - OS: Windows 10

**A

[2018-07-10 13:03] edwinboy0312 commented on #3171
i hope you guys have already ready out ' --timeout-request 25000 ' if not give it a shot.

[2018-07-10 13:30] hongaar commented on #3681
@godfrzero this has nothing to do with running extensions injecting code; you're setting a CSP policy in your response headers and that policy is being violated by your own scripts.

1. the documentation page (button.js) is trying to run this code:

[code]

2. the server which generates the document sends along this header:

[code]

These two are not compatible.

I understand this doesn't affect f

[2018-07-10 13:49] godfrzero commented on #3681
@hongaar That particular part of the script is blocked by CSP _by design_. It's coming from an independent module, namely the Postman Run Button, and the injection of the critical CSS should actually be blocked in this particular case.

As for the font loading, that could be cause by any number of external sources. My guess was an extension, but again, that was a guess.

[2018-07-10 15:03] grrseguin commented on #4073
yep!, why?

[2018-07-10 15:17] hongaar commented on #3681
That explains it then. I'm sure there could be some debate whether violating CSP by design is a good idea, but I'll leave that up to you. ;)

[2018-07-10 17:43] Postman-Gabriel opened #4801 "Postman Canary-6.1.3 fails to install on Windows x64"
After running the installer, it briefly shows an installing gif, after which is crashes and fails to install. Running as admin doesn't seem to fix.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to getpostman.com
2. Download versions 6.1.3-Canary
3. Open Installer
4. Unable to install

**Expected behavior**
Expected the installer to properly install the application

**Screenshots**
Conso

[2018-07-10 18:01] molliejaeron commented on #2978
+1 Gitlab integration is the reason I purchased Postman Pro. Not being able to use it with our privately hosted gitlab is killer.

[2018-07-10 18:26] abhijitkane opened #4802 "Script Id should be unique for a duplicated request"
**Describe the bug**
Duplicating a request with pre/post request scripts does not update the script.id field. This can be observed by checking the v2.1 export for the collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection c1
2. Add a request to the collection, with the pre-request and test scripts populated
3. Duplicate the request
4. Export the collection as v2.1

*

[2018-07-10 19:05] JeffLoo-ong commented on #3171
+1

[2018-07-10 19:20] brpeterman opened #4803 "Response body is taller than the space allocated for it"
**Describe the bug**

The response body section of a request always overflows the space allocated for it, resulting in double scrollbars in the app. Based on #1642, this appears to be unintended. The issue I see is identical to the one recorded in that issue.

The result of this behavior is that I have to use two different scrollbars to get to the bottom of my response body.

This does not happen

[2018-07-10 19:29] chenkirk commented on #3274
I am hoping this can get a bit more attention.

Restricting one owner/admin per collection means multiple admins in a team need to share the login to perform their admin tasks. Sharing login is not good, both from the team's perspective and Postman's revenue model.

[2018-07-10 19:29] ghost commented on #4550
+1 Still the same. Requests not syncing with docs sometimes

[2018-07-10 19:35] ghost commented on #3127
Thank you @numaanashraf for the prompt response. Issue fixed. It was my Vagrant set up modifying the `/etc/hosts` file.

[2018-07-10 20:50] kataqatsi commented on #2978
+1

[2018-07-10 21:08] joeyJsonar commented on #2729
+1

[2018-07-10 21:08] JAnderson1122 commented on #422
@GilbertGeliba Thanks for the reply.  I would think that I would have tried that at the time, along with various attempt to embed as escape sequences, but I honestly don't recall.  At the moment, I can't even remember what the application was that I was working on then.  Racking my brain...

[2018-07-10 21:15] jdavey1996 commented on #4716
They are 'request' headers, not 'response' headers

[2018-07-10 22:25] Postman-Gabriel opened #4804 "URL highlighting causes the URL text to glitch out, unviewable"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When highlighting the request URL in Mac OSX Mojave (Beta), the URL becomes unreadable and turns an odd color

**To Reproduce**
Steps to reproduce the behavior:
1. Download Postman on your Mojave OSX machine
2. Create a new requ

[2018-07-10 22:30] Postman-Gabriel opened #4805 "Entire Standalone App is blank"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Every window, from console to the main Postman window, is blank and unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Install 6.1.4 on a Windows 8.1 x64 machine
2. See the entire application blank

**Expected behav

[2018-07-10 22:47] abhididdigi commented on #4804
I verified this, and this happens if you select your "highlight color" in System Preferences -> General to purple, I think.

[2018-07-10 23:14] bradleyszabo commented on #4631
The Sandbox documentation definitely had me searching for this as a bug, not a feature request.

I think the presence of the following two request objects in the sandbox leads to this confusion:

- **request**

  From https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox:

- **pm.request**

  From https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference:

I too

[2018-07-11 00:03] sudhagarc opened #4806 "SSL certificate verification issues for Corp Internal CA certs?"
**Describe the bug**
When issuing an API request to a SSL/TLS enabled endpoint with "SSL Certificate Verification" turned on in Postman preferences results in:

[code]

When SSL Certificate Verification is turned off, then it works fine. However, the same endpoint from same machine via. Chrome browser and curl command line works fine. In other words, Chrome reports the web site as "SECURE" and Cur

[2018-07-11 00:05] sudhagarc commented on #4806
Hmm! This one seem to be related to https://github.com/postmanlabs/postman-app-support/issues/3152.

[2018-07-11 01:02] Master0rochi commented on #4801
I tried to do this, and I couldn't install it. Even tried with the Canary version and was exactly the same.

[2018-07-11 03:22] loctb commented on #4793
Thanks @godfrzero , i will close this and recheck our side. Big thanks for support.

[2018-07-11 03:22] #4793 closed, assigned to godfrzero

[2018-07-11 03:29] godfrzero commented on #4716
Ah, crap. You're right, my bad. I'll see what I can do to get these added. @vkaegis

[2018-07-11 04:35] numaanashraf commented on #4803
@brpeterman Thanks for reporting this. We are tracking this suggestion at a similar issue that got reported earlier - #4744. Closing this.

[2018-07-11 04:35] #4803 closed, assigned to nobody

[2018-07-11 04:39] numaanashraf commented on #4806
Yes @sudhagarc - this seems related to #3152. Postman doesn't support custom intermediate CA at the moment and hence we can't verify these SSL certs. The quick workaround till we support this is to keep the SSL verification turned off in the Settings. I'm closing this issue as a duplicate. Please follow #3152 for updates.

[2018-07-11 04:39] #4806 closed, assigned to nobody

[2018-07-11 04:42] numaanashraf commented on #4800
@dennisslavid Thanks for reporting this. This seems like a tricky one to reproduce at our end, could you mail us at help@getpostman.com with your account details and the collection/request names where you noticed this issue? We'll check for any anomalies at our end.

[2018-07-11 04:52] abhididdigi commented on #4804
Folks - I upgraded to beta 2 of Mojave, and this is now fixed. Please close the issue.

[2018-07-11 06:10] abhijitkane opened #4807 "Removing a user from a team removes their shared environments without warning"
**Describe the bug**
When removing a user from a team, I see a modal window asking me to transfer their shared collections to someone else. However, environments belonging to the user are removed from team workspaces, and there's no warning that this will happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove a user with shared environments from a team

**Expected behavior**
Either a

[2018-07-11 06:12] snarglefarg commented on #196
Staying tuned!

[2018-07-11 06:21] #4804 closed, assigned to numaanashraf

[2018-07-11 06:37] coder-free opened #4808 "Change request body in pre-request script"
I want crypt the request body.
For example,
request body set to this:
![image](https://user-images.githubusercontent.com/2630290/42554373-32d707e0-8517-11e8-80c0-64726b232b1b.png)

and pre-request script set to this:
![image](https://user-images.githubusercontent.com/2630290/42554480-a3d8c0a0-8517-11e8-9b39-b64d5989df6e.png)

and logged the "encryptData" value is encrypted. But the server received

[2018-07-11 06:41] rmolabanti commented on #2494
+1

[2018-07-11 07:06] numaanashraf commented on #3127
@programarivm Glad to know this is resolved at your end. 😄

[2018-07-11 07:17] numaanashraf commented on #3127
There are several unrelated request sending issues being posted on this thread as they all have the same symptom of 'Could not get any response'. This prevents us from tracking these issues individually, suggest possible workarounds and post updates on bug fixes and rollouts to our stable and canary channels. We are locking this thread to prevent further posts of unrelated issues.

If you get a `C

[2018-07-11 07:26] numaanashraf commented on #4808
@zfavourite99 We do not support changing request.body through scripts at the moment. A possible workaround for your use case is to use environments, and keep unencrypted request body in the script.

<img width="615" alt="screen shot 2018-07-11 at 12 55 36 pm" src="https://user-images.githubusercontent.com/3295568/42556603-bfc8324a-8509-11e8-941b-53d28b7da116.png">
<img width="536" alt="screen shot

[2018-07-11 07:27] numaanashraf commented on #4808
Related to #4631

[2018-07-11 07:39] coder-free opened #4809 "Change response data in test script"
I want decrypt the response data.
For example,
response data from server is:
![image](https://user-images.githubusercontent.com/2630290/42556897-a187b9b6-851f-11e8-8bd7-b423651e9787.png)
and test script set to this:
![image](https://user-images.githubusercontent.com/2630290/42557051-007cf26a-8520-11e8-8ac3-5af81bac617c.png)
and logged the "decryptedData" value is decrypted. But the showing respons

[2018-07-11 08:11] coder-free commented on #4808
I have many request all is this function to encrypt. So, I created a collection for these requests. I hope the encrypt and decrypt scripts in the collection. Like this:
![image](https://user-images.githubusercontent.com/2630290/42558368-926f2d7a-8523-11e8-9cc3-8232013a4303.png)
If use this "possible workaround", then I need modify every request pre-request and test scripts, that is tedious.
So, I

[2018-07-11 08:19] Alonski commented on #2378
I am commenting here even though a long time has passed.
This isn't documented in the Shortcuts section in Postman.

[2018-07-11 08:53] SamvelRaja commented on #3562
Closing in reference to #2378

[2018-07-11 08:53] #3562 closed, assigned to vkaegis

[2018-07-11 08:54] SamvelRaja commented on #4805
Related to #4594
Kindly follow the workaround in the comment https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-07-11 08:54] #4805 closed, assigned to nobody

[2018-07-11 08:56] sivcan commented on #4287
We'll be tracking all the issues related to data file path in here: https://github.com/postmanlabs/postman-app-support/issues/4320

[2018-07-11 08:58] hdjhuang opened #4810 "Tests- JSON.parse(responseBody) extracted value doesn't correspond with the value in the response body"
Hello, I have 2 APIs. API1 get uri's value(i.e: test1234567890), id's value(i.e: test1234567890),requestNumber's value(i.e: 1892),requestedItemName's value(i.e: AAA- test00001), status's value(i.e: Submitted) from API1's response body,
API2 will use those from API1's response body.
I can get value for "href","state","start-date", but I can not get value which I mentioned aboved: uri's value(i.e: t

[2018-07-11 09:19] vkaegis commented on #2378
@Alonski Thanks for the reminder! We'll go one step ahead and actually add a button in the UI for this (along with documenting the shortcut of course).

[2018-07-11 09:20] tid3840 commented on #4635
I downgraded to 5.5.3...shame on Postman team...shame shame shame

[2018-07-11 09:22] tid3840 commented on #4635
I' can't believe it! I've had to downgrade to 5.5.3

[2018-07-11 09:30] johannesschobel commented on #4635
Hey @tid3840

You realize, that you got an **awesome** REST client basically **for free** and you are complaining like this? Come on.. These guys are working hard on a really awesome product, giving it away for free for the community.

Furthermore, you could provide some details / insights into how to solve this issue, how this issue emerge on your system, what your system configuration is, and so

[2018-07-11 09:32] tid3840 commented on #4635
...and they are not testing on windows 10 or 8?

From: Johannes Schobel [mailto:notifications@github.com]
Sent: mercoledì 11 luglio 2018 11:30
To: postmanlabs/postman-app-support
Cc: Alessandro Facchini; Mention
Subject: Re: [postmanlabs/postman-app-support] Blank screen on Windows 10 with Postman 6.1.5 (#4635)

Hey @tid3840<https://github.com/tid3840>

tid3840
I downgraded to 5.5.3...shame on Pos

[2018-07-11 09:37] johannesschobel commented on #4635
you realize that this is a GPU problem, right? So this is not specifically bound to a particular OS, but rather to a hardware configuration..

Again, there are a few options for you:
1) help finding / dealing with the bug <-- this is the preferred option
2) do nothing and wait till it is fixed and continue with a version that works for you
3) search for another REST client and move on

[2018-07-11 09:44] tid3840 commented on #4635
Yes i realize that...i think it’s a very common scenario anyway

Also difficult to find the version to downgrade to, at least for me..

It would have been enough clearly indicate to downgrade among the options available instead of pointing out only the workaround and nobody would have lost hours on this

Are you accusing me of exploiting the fact its’ free….you get the wrong guy: all my software i

[2018-07-11 09:48] numaanashraf commented on #4810
@hdjhuang Looks like your script has an invalid JavaScript. you can access the values you need via the following script.

[code]

Please note that we do not support debugging support for JavaScript here. The best place to reach out for help is via Postman's user community (https://community.getpostman.com)

[2018-07-11 09:49] numaanashraf commented on #4809
@zfavourite99 Thanks for the feature suggestion.

[2018-07-11 09:50] microcipcip commented on #4635
@tid3840 it takes 5 minutes to apply the fix. Basically less time than complaining in this thread.

[2018-07-11 09:55] tid3840 commented on #4635
Oh you are very intelligent indeed...

I’m nothing compared with you

I deeply regret to have bumped into this bug and the community is always on the right

Thank you again very much

My best regards and wished of good luck

From: Salvatore Tedde [mailto:notifications@github.com]
Sent: mercoledì 11 luglio 2018 11:51
To: postmanlabs/postman-app-support
Cc: Alessandro Facchini; Mention
Subject: Re:

[2018-07-11 09:58] microcipcip commented on #4635
@tid3840 is a 4 steps process. [Here are the steps](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621). Apply it and you'll be able to use the new version of Postman. Happy coding :)

[2018-07-11 10:11] tid3840 commented on #4635
Thank you very much

But once i’ve found the old version i downgraded and sorted out immediately

I took more that 1 hour because just approach the idea of workaround  because before finding the post with the workaround I tried many times to disinstall/install…

So it took far more than few minutes.

I’m happy now with the solution I’ve found

I see also there are guys that reply instantly to comm

[2018-07-11 10:32] ildar2 commented on #3234
Year later any progress?

[2018-07-11 11:05] hdjhuang commented on #4810
@numaanashraf . Thanks for your quick response. I also tried to search from Internet but can not find solution.
I tried to use:
var outputParameters = jsonData["output-parameters"];
and got outputParameters is an object, how can I get the values I expected? Could you please give me a  sample? For example: how to get uri's value(i.e: test1234567890)?
Thanks for your great support!

[2018-07-11 11:11] TarasMelnyk commented on #3312
+1

[2018-07-11 11:50] numaanashraf commented on #4810
@hdjhuang you could try
[code]

But it looks like `outputParameters[0].value.string.value` is a stringified JSON value. If that is the case, you need to parse that again.

[code]

[2018-07-11 11:54] aditya-mittal commented on #1991
@abhijitkane @a85 @sobtiankit Any updates? Its long pending now. Probably it seems one of the feature addition.

[2018-07-11 12:00] numaanashraf commented on #1991
@aditya-mittal We are tracking this feature at #1104. But, this isn't on our near-term roadmap, so we don't have an ETA on this yet.

[2018-07-11 12:58] ayushkamadji opened #4811 "Why is Postman only opening an ipv6 based proxy for capturing feature?"
**Describe the bug**
Postman's capturing feature opens a proxy for requesting clients to redirect to. The menu/modal dialog that sets this up does not mention an IP version, only port and target. I expected Postman to open an IPv4 tcp port but it instead opens and IPv6 one (with the correct port number). There is no option to set IP version mode for the capturing proxy in the UI. This behavior is

[2018-07-11 13:54] sumit0k commented on #4799
On clicking manual resync from Preferences in menu, I am getting following logs and both app and web are still not in sync.

Note: I am getting popup for resolving conflicts.

<img width="912" alt="screen shot 2018-07-11 at 7 21 35 pm" src="https://user-images.githubusercontent.com/7878332/42576382-d50f17a0-853f-11e8-8c30-31ad106cf156.png">

[2018-07-11 14:54] microcipcip commented on #4635
@tid3840 I'd apply the fix anyway because from time to time postman asks you to upgrade and if you upgrade by mistake you get the error back, also, is [just 4 easy steps](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621).

[2018-07-11 15:00] abhijitkane opened #4812 "The 'Import Test Run' button text goes out of bounds when the window width is reduced"
**Describe the bug**
The button text doesn't wrap properly

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Runner
2. Reduce window width

**Expected behavior**
Text wraps correctly, or the button min-width is set correctly

<img width="339" alt="screen shot 2018-07-11 at 20 27 58" src="https://user-images.githubusercontent.com/681190/42580902-34fcc028-8549-11e8-98d5-0aa8f791caad.png

[2018-07-11 15:02] Zoheb-hassan commented on #2729
+1

[2018-07-11 16:39] DevFojo commented on #1744
+1

[2018-07-11 17:47] pearsontophergopher commented on #1104
+1

[2018-07-11 17:47] pearsontophergopher commented on #1104
+1

[2018-07-11 20:19] loopDelicious opened #4813 "Exported collection is not valid for Postman API"
**Describe the bug**
Exporting a collection that has a saved response with no headers results in a collection JSON that is not valid for use with Postman API.

**To Reproduce**
1. Create a mock using the +New button.
1. Export the resulting collection (v2.1) from the Postman app
1. The collection’s response headers is `null` when no response headers.
![screen shot 2018-07-11 at 1 07 37 pm](https:/

[2018-07-11 21:14] Postman-Gabriel opened #4814 "App Icon disappears"
**Describe the bug**
When looking at the Postman app, the logo for the shortcut disappears. It becomes the standard white page.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a Windows x64 machines
2. Download Postman 6.1.4
3. See Error

**Expected behavior**
Expected a logo to show

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please

[2018-07-11 21:52] Postman-Gabriel commented on #4814
The issue also is present on Ubuntu 18.04

[2018-07-12 03:58] godfrzero commented on #4216
This should be fixed now, can you let me know if it's still happening?

[2018-07-12 04:01] godfrzero commented on #4073
We had pushed out a fix for this. I'll check again.

[2018-07-12 04:03] godfrzero commented on #4073
This is what I see in your published documentation now:

![capture](https://user-images.githubusercontent.com/2700229/42612027-9887ca76-85b6-11e8-9741-1c827c061342.PNG)

Is this not what you expected?

[2018-07-12 04:08] godfrzero commented on #3417
Status codes have been showing up in documentation for a while now, FYI.

[2018-07-12 04:09] #2997 closed, assigned to godfrzero

[2018-07-12 06:09] yushanhsieh commented on #2801
+1

[2018-07-12 06:09] codenirvana commented on #3988
Hi @PaulZH, `#` has a special meaning in clients but not to the server, so the server strips it off and ignores it.

To solve this just replace `#` with its encoded value `%23`. In your case, something like `query=ASK WHERE {https://id.milieuinfo.be/imjv/observatie/6808/em/8/obs/9/2011%23id ?p ?v.}`

I tried to send `#` as-is in cUrl and other browsers and I had to replace it with `%23` even in th

[2018-07-12 06:20] ravikanth39 commented on #3312
+1

[2018-07-12 06:22] shamasis commented on #3988
I also observed that the data editor does some magic ;-) of stripping `#` from the query param editor and trim it to URL. Maybe we could assist setting some encoding there - but that might be tricky as pre-encoded inputs will get tripped off. However, the intelligent encoding module that @SamvelRaja worked on can handle that situation as well.

[2018-07-12 06:52] grrseguin commented on #4073
It works on our postman doc too :+1:
(see. https://documenter.getpostman.com/view/718322/hl2-panorama-api/7TGkEcB#7c0737f6-ae7e-ffc4-fce3-c402f59a6b59)

Thanks!

[2018-07-12 06:52] #4073 closed, assigned to godfrzero

[2018-07-12 07:54] Jpsy commented on #3566
The workaround of @anserzhang works under Windows 10 too. The CNTLM project is a bit aged, but I could easily install and configure it on Win10. It also solves the same problem for any other local tools that are not able to do NTLM authentication against a proxy.

[2018-07-12 08:45] SamvelRaja commented on #4814
@gabriel-bronfman-postman for Ubuntu can you check this fix https://github.com/postmanlabs/postman-app-support/issues/4637#issuecomment-401349097
?

And for the Windows, does it happened after upgrading to 6.1.4? Can you provide your OS config?

[2018-07-12 08:48] dileephell commented on #391
I'm getting the sameissue as well. I have a problem with POST request, but the server is receiving a GET request.

[2018-07-12 09:07] oussama2507 commented on #3312
+1

[2018-07-12 09:59] jayarjo commented on #285
Would definitely help to have a way to alert/prompt the user from pre-request/test scripts +1

[2018-07-12 10:44] numaanashraf commented on #391
@dileephell This can happen if Postman received a redirect from the API. But default, Postman would follow the redirect and in the process change the POST to GET, to keep the behavior at par with browsers and other user-agents.

https://tools.ietf.org/html/rfc2616#page-62

[2018-07-12 11:01] jayarjo commented on #697
+1

[2018-07-12 11:09] numaanashraf commented on #4707
@abatishchev This is a verified bug. We are working on fixing this.

[2018-07-12 11:10] jayarjo commented on #4193
@harryi3t, In our setup every single request requires preliminary authorisation. At the moment we manually run auth request, that populates global variable and then other requests become functional. Would have been great if request itself invoked a saved auth request (if access token wasn't defined already) and then used an obtained token in authorisation header.

Turning each and every request in

[2018-07-12 11:13] kikkauz commented on #3386
Yes please remove it 👍

[2018-07-12 11:23] xDaizu opened #4815 "POST Raw body not read on 'php://input'"
I found a strange bug or rather, behaviour discrepancy between the Native App (6.1.4) and the Chrome Extension (5.5.3). I'm not sure if this is a bug, intended behaviour or *external forces*.

**Describe the bug**
When using the Native App, the POSTed as "raw" doesn't seem to be read by PHP

Relevant PHP code on the receiving end:

[code]

**Expected behavior**
For the raw body to be read by "php:

[2018-07-12 11:53] numaanashraf commented on #3937
@fxmohammed Are you still facing this issue? We are having trouble replicating this issue at our end, so any sample data you can provide will be helpful.

[2018-07-12 12:10] numaanashraf commented on #4482
Related to #3592.

[2018-07-12 12:10] #4482 closed, assigned to debjeetsarkar

[2018-07-12 12:38] numaanashraf commented on #4423
@errorx666 This seems related to #2427. I'm closing this and let's continue this discussion on the original issue.

[2018-07-12 12:38] #4423 closed, assigned to codenirvana, kamalaknn

[2018-07-12 13:15] aedelbro commented on #4216
It does appear to be fixed. Thanks.

[2018-07-12 13:15] #4216 closed, assigned to godfrzero

[2018-07-12 13:24] vwxyzjn commented on #3970
@megadix I have encountered similar issues. Just so you know, if you use `newman` to run the postman collection, it will show you that error.

[2018-07-12 13:27] PawelKazimirowicz commented on #1180
Is it possible to configure in Postman Adyen secured fields?
https://docs.adyen.com/developers/checkout/api-integration/using-secured-fields

The js file is used to encrypt credit card data and send it to the API endpoint.

What I want to achieve is
1. In Pre-request Script request js filed
2. Parse response and set environment variables
3. Use those variable in the request body

[2018-07-12 13:41] Ocsidot commented on #4629
Still not working on windows

[2018-07-12 13:44] DewaldDeJager commented on #4703
@sivcan I am experiencing this issue in 6.1.4 on Linux 4.14.53-1-MANJARO / x64. It happens intermittently but I can reproduce consistently on some screens such as the login screen (When clicking in an input field).

I have tried using the `POSTMAN_DISABLE_GPU` environment variable and the `--disable-gpu` flag. I have also tested other Electron apps and they work fine. It is just Postman.

Any sugg

[2018-07-12 13:49] Ocsidot commented on #4587
I have the same issue.
Here is a screenshot of the logs

![image](https://user-images.githubusercontent.com/6094145/42637289-141b963e-85eb-11e8-8a6c-1e3a614ee5e5.png)

please do something, this issue is really a blocking point for my team

[2018-07-12 14:34] shivan opened #4816 "Feature: Import from restlet client (DHC)"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to import a restlet export into postman. So all requests have to be recreated in postman.

**Describe the solution you'd like**
Possibility to import a restlet export.

**Describe alternatives you've considered**
manually recreate the requests

[2018-07-12 14:46] gregrobson commented on #2302
+1
2 years and no movement on this?

[2018-07-12 14:57] sankalp0o commented on #4345
Hi @norcino, thanks for replying. I think there are some things we're working on that could solve some of your problems. We are working on a feature that allows conflict resolution of collections (and in future environments too) within Postman. This would solve half your use case of being able to tell how two environments differ from each other. There might also be some workaround possible to edit

[2018-07-12 15:15] dan101ways commented on #2729
+1

[2018-07-12 15:20] sankalp0o commented on #4782
Thanks for the input @franksands. While it might not be possible to move the 'Save response' as it serves a different function that a lot of users might be used to, we will look at bringing out the 'Download' functionality somewhere where you expect it to be.

[2018-07-12 15:20] kobi-l commented on #4401
I'm seeing this same issue on windows machine. My postman is out of sync and the changes I make do not sync to the cloud. Just like it's been previously mentioned here, the 'Sync' icon is blue and the 'Re-Sync' button in the Settings screen is Disabled.

What could I do to sync my changes?

THIS TICKET NEEDS TO BE REOPENED and ISSUE NEEDS TO BE ADDRESSED ASAP.

![2018-07-12 09_18_50-postmansyncing

[2018-07-12 15:45] sankalp0o commented on #763
Hi @PrinceNebulon , @timlewis-promedica , @douglasknudsen , @lemuelf ,
I know this issue has been pending for a long time but better late than never. We are going to have (current) environment and globals directly editable from the quicklook menu dropdown which can be accessed in just a click. This will go out soon in one of the upcoming app releases.

I know this would still require one click to

[2018-07-12 15:59] ogryzek commented on #4629
It was resolved, but does appear to be happening again. Not sure if new issue or re-open is better. I don't see anything mentioned on https://twitter.com/postmanclient as @godfrzero said to monitor above.

[2018-07-12 16:01] harryi3t commented on #3868
Hi @johnmeredith,
I was able to reproduce this issue and we are working on a fix for this.
Also, I found that the same was reported earlier here https://github.com/postmanlabs/postman-app-support/issues/3557. I am closing this issue and will be posting further updates on the original issue

[2018-07-12 16:01] #3868 closed, assigned to harryi3t

[2018-07-12 16:02] harryi3t commented on #3557
@amnoman I was able to reproduce this issue and we are working on the fix.
I will update the thread once the fix is released.

[2018-07-12 16:13] rdemarco08 commented on #4193
I am glad to see there is activity on this subject :)

I have a similar scenario. Our checkout request is dependent on current available inventory. It would be nice to queue up available inventory in the pre-request of the Checkout call. Right now I am aware this can be done with the pm.sendRequest and type out the HTTP request. The workflow would be much more efficient if I could just reference a

[2018-07-12 17:54] harryi3t commented on #3970
@megadix Thanks for the POC collection 👍
I am reopening this issue itself and marking it as a bug.
Once we have a fix will update the thread.

[2018-07-12 18:01] loopDelicious opened #4817 "Postman console won't open sometimes"
**Describe the bug**
Sometimes the Postman console window will not open.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Postman console icon in the bottom left footer
2. or Use the keyboard shortcut (⌥⌘C) on Mac
3. or Select from the Menu > View > Show Postman console

**Expected behavior**
Expect a new window to open and show the console, but nothing happens

**App information

[2018-07-12 18:09] Postman-Gabriel commented on #4814
@SamvelRaja I believe that he is on Windows 10 x64 and only encountered the error once he upgraded. From my experience, it seems that we have an influx of such tickets recently on this issue.

[2018-07-12 18:27] scottysseus commented on #2302
A little-known product called JIRA has a REST API which only supports RSA-SHA1.

[2018-07-12 18:31] science695 opened #4818 "Publish Documentation with Multiple Environments"
I am publishing documentation to a client of mine, and I want to be able to publish both a TESTING and PRODUCTION environment to the client so they have the relvant information about both environments.

When I look at the shared documentation, there is a dropdown that "could" hold more than one environment, but the publish dialog requires me to choose a single environment.

Could you update that p

[2018-07-12 18:36] bond- commented on #3290
+1 on Postman for Mac

[2018-07-12 18:51] vaishrachan opened #4819 "Team workspace - Activity feed - To display the changes made in the activity feed rather than just showing it was edited"
PostMan Pro - Trial version - If a team member makes a change to a test script in one of the shared collection, the others in the team can only see that the request in the collection was edited from the activity feed.

It would be great, if we could have a way to display which lines were edited/added or removed from the test script to better understand the changes made by different people in the t

[2018-07-12 19:56] TomFaulkner commented on #2691
+1 for this. Would love to be able to export and import queries programmatically to save and distribute through git.

[2018-07-12 20:31] voltechs commented on #739
Sending ClientID and SecretID when empty is breaking some things (like `Doorkeeper`). Could we just omit those from the payload if they're `null`?

[2018-07-12 21:14] science695 commented on #2691
Would also like this. I have been exporting and checking my data into a local git server manually on a schedule. And would love to be able to automate it more frequently

[2018-07-12 22:40] chrisdeso opened #4820 "Slack Integration – Monitor Run Results ignoring "Notify for 3 failures and then first success" flag"
**Describe the bug**
The Slack integration ignores the `Notify for 3 failures and then first success` option that's been set in the [dashboard](https://app.getpostman.com/dashboard) and posts multiple successful runs instead of just the one (1) after a series of failures.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Slack integration to a workspace with a monitor
2. During setup,

[2018-07-13 03:26] tanglin0123 opened #4821 "Can we have sock5 proxy in the app? Thanks!"
Hi,

Can we have sock5 proxy in Postman app?
Although I can change the system proxy to workaround, I don't want to always change it as it is shared by other apps.

Thanks!

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-i

[2018-07-13 03:34] xiaweixing commented on #4320
any update for this issue?

[2018-07-13 05:22] SamvelRaja opened #4822 "Creating API documentation using the new button is not working"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Creating API documentation using the new button is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Click the New button on the top left
2. Click on API Documentation
3. Fill the new request details
4. Provide t

[2018-07-13 05:22] DewaldDeJager commented on #4703
Another observation: It only happens when the window loses focus.

[2018-07-13 05:35] SamvelRaja commented on #4821
Duplicate of #1321

[2018-07-13 05:35] #4821 closed, assigned to nobody

[2018-07-13 06:15] SamvelRaja commented on #4819
@vaishrachan  It is available already for the Postman pro/enterprise plan users
https://www.getpostman.com/docs/v6/postman/team_library/activity_feed_and_restoring_collections#breaking-the-event-down

[2018-07-13 07:26] godfrzero commented on #4818
We'll see where we can get this added to the roadmap. I'll post updates here as they become available.

[2018-07-13 08:26] andreicontan commented on #2392
+1 - c'mon guys, you can do it!

[2018-07-13 08:35] kamalaknn commented on #4794
Hi @WSMathias

I was able to replicate this. This seems to be happening when there are multiple updates being made in parallel, in your case a collection import immediately followed by an environment import. In this scenario, the updates are accurately applied on storage but were processed out of order in view. That's why the view corrects itself after any action, or restart.

We've fixed this. We

[2018-07-13 08:36] numaanashraf commented on #4816
@shivan We have rudimentary support for DHC exports. Could you give us a sample DHC file that you tried importing?

[2018-07-13 08:49] shivan commented on #4816
Hi @numaanashraf ,

that's the error I get:
![image](https://user-images.githubusercontent.com/1827692/42682147-045ace5a-868a-11e8-9375-fb545d225213.png)

I attached the simple example
[test.zip](https://github.com/postmanlabs/postman-app-support/files/2191955/test.zip)

Generated via export in Restlet Version: 2.18.0

Import tried in Postman latest version (whatever this is, because there is no "

[2018-07-13 08:57] futie commented on #4401
Same problem here - appears to sync on Win10, no sync on Mac. Same screen/behaviour as for @kobilabok

[2018-07-13 08:58] Undistraction commented on #4401
Same issue on OSX. Nothing syncs -  two iMacs & Macbook Pro.

If I hit 'Sync' I just get 'Connecting …'

Can't share or create workspaces.

[2018-07-13 10:11] seancummins1 commented on #4092
I got around this issue by changing my test.
I was getting the issue when I had my test as the below.

**tests["Status code is 200"] = responseCode.code === 200;**

After changing it to the following I stopped getting the error on the 3rd iteration and all now pass.
**tests["Status code is 200"] = responseCode.code === 200 || responseCode.code === 400;**

[2018-07-13 10:28] elssar commented on #4616
Hey @nithyamuth , we recently pushed out a few changes to the monitoring service that should resolve this issue. Can you verify whether this is fixed or not?

[2018-07-13 11:47] howand commented on #2801
+1

[2018-07-13 11:49] science695 opened #4823 "Publish Multiple Collections to a custom url"
We have documentation for multiple different types of API calls for our clients, and we would like to publish more than 1 collection to a custom url.

It seems like it would be very useful to not be limited to only 1 collection shared per custom url / subdomain.

[2018-07-13 13:24] vaishrachan commented on #4819
@SamvelRaja I did read that, but I still do not get the diff view. I subscribed to a trial version of PostMan Pro plan to experience the diff features of Pro. Is it because I am using the trial version, I dont see it?

[2018-07-13 14:33] 0xlsca commented on #4262
Can add to that, ludicrous startup time.

Setting compat mode to Win Vista solved the problem.

Win 7 Prof 64
HD 6950
24GB 1600 DDR3
FX 8320E

[2018-07-13 15:53] dividendsolo opened #4824 "data from input not populating variables in requests when clicking retry in collection runner after first run"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.
Clicking retry after a first run in collection runner with a data sheet(JSON in my case) is rerunning the requests, but no data is showing in the previously run requests.

Exam

[2018-07-13 15:57] a-marinin commented on #3752
@SamvelRaja sounds good. Thank you guys!

[2018-07-13 17:11] ghost commented on #3937
Unable to replicate this issue at the moment. Will make an addendum to this ticket if I am able to again.

[2018-07-13 18:59] govindrai commented on #2833
Happening on MacOS Sierra 10.13.4 (17E199). Not working even after deleting requester.json.

[2018-07-13 19:22] pavlalexandr commented on #350
+1

[2018-07-13 19:25] Kabal163 commented on #1104
+1

[2018-07-13 19:39] ericdallo opened #4825 "Wrong generated cURL request when request has multiple parameters with same name"
**Describe the bug**
The generated `curl` request is wrong when using multiple query parameters of same name.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request with multiple parameters but different values.
Example:
[code]
2. Click on `Code`
3. Choose `cURL`
4. The generated curl request is using the parameters separated by comma. Example: `/list?codes=1,2,3`

**Screenshots**
![

[2018-07-13 19:47] armyofda12mnkeys commented on #3358
I agree, would be great to allow comments (even if you had to 'opt into' this feature [via a checkbox in the Request Area] on the specific Request that would be fine).

Sometimes I want comments to describe that param,
or to suggest alternate values to copy/paste to test,
or maybe quickly comment out a param or a group of params when testing our web services.

[2018-07-13 19:51] armyofda12mnkeys commented on #3117
I agree, would be great to allow comments (even if you had to 'opt into' this feature [via a checkbox in the Request Area] on the specific Request that would be fine).

Sometimes I want comments to describe that param,
or to suggest alternate values to copy/paste to test,
or maybe quickly comment out a param or a group of params when testing our web services.

@a85 saw you self-assigned to this yo

[2018-07-13 19:56] chefhoobajoob opened #4826 "Support round-trip editing of file upload requests with variable path information"
**Is your feature request related to a problem? Please describe.**
We have test cases that perform multiple file uploads where the path to the files is system dependent and can't be known at design time. The tests are maintained in a Postman collection, then exported and executed using newman. Even if the paths were known at design time, round-trip editing destroys path information in the collecti

[2018-07-13 20:34] nagarajatantry commented on #3103
@DraakUSA @harryi3t  I have come up with a workaround using `Pre-request Scripts`.
- Use below Code snippet in Pre-Request Scripts tab
[code]
- In the Authorization section, set Access Key, Secret Key and Session Token with   `{{acess_key}}` ,  `{{secret_key}}` and  `{{session_token}}`
- `http://localhost:8888/aws_keys/<profile name>` is a simple rest api I developed which responds with the keys f

[2018-07-13 20:56] Postman-Gabriel commented on #4751
I have heard more reports from large request bodies causing the entire app to freeze with a CPU loop

![](https://postman.zendesk.com/attachments/token/TyQcQU8phizci8eToveeO9app/?name=image005.jpg)

The response comes out looking like this

This occurs on the most updated Canary build

[2018-07-14 06:19] karthikraja34 opened #4827 "Cannot select post or get option in new tab"
After clicking new tab in postman i cannot select **post** request from the dropdown box.The dropdown box is opening upwards and options (get,post) gets hidden under title bar.And at this point i have no way of selecting post .I tried scrolling over dropdown box but i doesn't get scrolled.

**Expected behavior**
The dropdown box should expand downwards not upwards.

**Screenshots**
![image](https:

[2018-07-14 06:24] sujayvenaik commented on #4827
Hey @karthikraja34
We have fixed this and released this in our canary app. You can get this here: https://www.getpostman.com/canary

This will soon be udpated on the postman app in the next build

[2018-07-14 06:25] sujayvenaik commented on #4825
Hey @ericdallo
I could reproduce this issue.

Will keep this thread updated as soon as we fix this.

[2018-07-14 06:30] mmunchandersen commented on #4310
On my win10 I updated the properties of the postman link: removed start in folder and pointed get-icon-from to c:\Users\[name]\AppData\Local\Postman\Update.exe

[2018-07-14 09:41] #4827 closed, assigned to nobody

[2018-07-14 15:55] alantallwave commented on #4310
Awesome, that worked. Thank you.

[2018-07-14 19:07] gianlazz commented on #2671
@6Hat I know this is a long time later since your post but I too am a .NET developer and find Electron super exciting. I've made a blog post about setting up an electron app with angular and aspnet core webapi bundled in for the backend running on kestrel.

https://lazz.tech/blog/electron-netcore-2-0-webapi-w-kestrel-server-backend-bundled/

[2018-07-14 23:09] IvoFritsch opened #4828 "Postman is always starting windowed."
Don't know if this is a bug or just an lack of functionality.
In Windows 10, Postman always start as an window with almost the same width and height as the screen, even if I maximize, after restart it starts windowed again.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman
2. Maximize window
3. Restart postman

[2018-07-15 12:20] karlspotcap commented on #3845
+1

[2018-07-15 17:01] ManuelSch commented on #350
+1
is anyone even looking at this? it's been 5 years since the initial request...

[2018-07-16 01:30] ykhodos commented on #4172
+1

[2018-07-16 01:31] ykhodos commented on #2656
+1

[2018-07-16 04:48] SamvelRaja commented on #4828
@IvoFritsch  Thanks for bringing this to our notice, we shall look for the solution and get back to you on this thread on details.

[2018-07-16 04:57] SamvelRaja commented on #4826
We are tracking extensively on this in #4320

[2018-07-16 04:57] #4826 closed, assigned to nobody

[2018-07-16 04:58] SamvelRaja commented on #4814
Thanks @gabriel-bronfman-postman  It is very hard to reproduce this. I will update the thread on the progress soon.

[2018-07-16 06:23] Sraw commented on #3874
So we lose the most important feature?
I just cannot understand at all.

[2018-07-16 06:49] igoratencompass commented on #2978
+1

[2018-07-16 07:25] bhargavkaranam commented on #4815
Hi @xDaizu,
We're unable to reproduce this issue. Could you check what `var_dump($POSTdata)` is outputting? If it's empty, please check if the data is being sent to the server with Fiddler/Wireshark.

[2018-07-16 07:49] prashantagarwal commented on #3874
@Sraw No you won't lose anything. We are actively working on integrating it with our native apps. Things become little tricky with native apps due to security. But to assure you again, we will have interceptor for native apps.

[2018-07-16 08:09] renijangkrik2014 commented on #1104
I would love to understand Http or something else. Because I am currently working on the Internet marketring. To do with my work ... Where can I learn?

[https://www.obat-asam-lambung.com/](https://www.obat-asam-lambung.com/)

[2018-07-16 08:32] Sraw commented on #3874
I... I just hope so.

[2018-07-16 08:35] kamalaknn commented on #4386
I'm closing this due to inactivity. If you this issue continues to exist on the latest version of Postman, please provide us with more details to reproduce this so we can fix this.

[2018-07-16 08:35] #4386 closed, assigned to kamalaknn

[2018-07-16 08:46] SamvelRaja commented on #4754
Tracking this extensively in #4320

[2018-07-16 08:46] #4754 closed, assigned to a85

[2018-07-16 09:24] SamvelRaja commented on #4681
Closing this for now. Feel free to re-open this if you still face this issue.

[2018-07-16 09:24] #4681 closed, assigned to SamvelRaja

[2018-07-16 09:25] SamvelRaja commented on #3449
Closing this due to inactivity. Feel free to reopen this if you face this issue.

[2018-07-16 09:25] #3449 closed, assigned to SamvelRaja

[2018-07-16 09:27] SamvelRaja commented on #4514
Closing this in ref to https://github.com/electron/electron/issues/1518#issuecomment-97708181

[2018-07-16 09:27] #4514 closed, assigned to nobody

[2018-07-16 09:29] SamvelRaja commented on #4535
@romaromaniv  You had a chance to look at this to find the logs for us?

[2018-07-16 09:29] nileshy112 commented on #798
Instead of copy and paste the JSON in body of the request, I would like to read it from JSON file (external source) and then replace all dynamic variables from JSON file.
e.g. Below is my JSON file which I want to read it from my hard disk and replace all variables with valid values before sending it.
{
  "firstName": "{{firstName}}",
  "lastName": "{{lastName}}",
  "age": {{age}},
  "correlationI

[2018-07-16 09:31] nileshy112 opened #4829 "how to import request json and replace dynamic variable at runtime before POST?"
Instead of copy and paste the JSON in body of the request, I would like to read it from JSON file (external source) and then replace all dynamic variables from JSON file.
 e.g. Below is my JSON file which I want to read it from my hard disk and replace all variables with valid values before sending it.
 {
 "firstName": "{{firstName}}",
 "lastName": "{{lastName}}",
 "age": {{age}},
 "correlationIds

[2018-07-16 09:45] realPrimoh commented on #2724
+1 would be fantastic!

[2018-07-16 09:54] Hermholtz opened #4830 "Have an option to not record repeated requests in Postman history"
Hi! Quite often I'm sending multiple requests to an URL one after another, which means clicking "Send" several times. There are various reasons for that - sometimes just to see quickly an average response times (during development, long before proper perf testing takes place), sometimes to see errors popping up from time to time (before starting proper debugging). All these repeated requests get s

[2018-07-16 10:03] romaromaniv commented on #4535
Hi SamvelRaja,

as for today I may say, that issue is obsolete.

I'm using download file per request functionality very often and after one of update (postman or windows) everything works fine. I did not do any spike.  Will use internal logs next time for similar issues, thank you for hint!

Regards,
Roman

[2018-07-16 10:16] SamvelRaja commented on #4535
Thanks @romaromaniv for getting back to us. Closing this issue for now. Feel free re-open the issue when you face again.

[2018-07-16 10:16] #4535 closed, assigned to SamvelRaja

[2018-07-16 11:50] Cazaimi opened #4831 "Long Environment names not fully displayed in drop down menu."
**Long Environment names**
The Environment name is not fully displayed in the app, when choosing between environments in the drop down menu, if the environment name is longer than a certain number of characters. This makes choosing the correct environment difficult, as there can be environments that have names, which differ on the last 5 characters.

The drop down menu:

![image](https://user-imag

[2018-07-16 12:14] p00j4 commented on #3033
@mpluta-airhelp while using postman app, in some of my requests, I want to write some of the key information. What changes I need to make to the approach you described above?
Basically, I want to be able to save
- environment variable value(s)
- variables generated in pre-reqeust scripts/test scripts [random id generated and used to make request]

because **args.response** and **args.request** bot

[2018-07-16 12:27] ghost commented on #3251
I am also facing this issue

[2018-07-16 12:46] romaromaniv commented on #4535
Thanks a lot!

[2018-07-16 13:20] Cazaimi opened #4832 "Adding a search bar/index/text-search in the workspace chooser"
**For teams who have >=30 workspaces**
For users in large teams who have a lot many workspaces, choosing the workspace that a user may want to work in becomes more difficult if the team has an >=30 workspaces. The current flow includes clicking on the workspace chooser, and choosing the workspace among those displayed in the drop down menu:

![image](https://user-images.githubusercontent.com/13660

[2018-07-16 13:40] sujayvenaik commented on #4832
@Cazaimi
Marking this as a feature request.

Will evaluate this internally and update this thread.

[2018-07-16 13:43] anudeepmedicharla opened #4833 "I'm losing my open tabs when I choose to sign in with another account and revert."
**Describe the bug**
When I choose to add another account but for some reason, I decide not to add and exit the process, I am losing all the open tabs that I had.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a few unsaved tabs
2. Click on 'Add a new account'
3. In the sign in page, select 'cancel and take me to signed in account'.
4. You'll see the app starts fresh and you'll lose al

[2018-07-16 13:52] denitsa-cm commented on #1638
@mvelebit even if i add `_method PUT` as part of the form-data - I still cannot access my data on the request. Comes out as `null` (e.g. $request->input('some_key')). Have you encountered this?

[2018-07-16 13:57] d42ohpaz commented on #4726
Postman 6.1.4
macOS High Sierra 10.13.5 (17F77)

Self-signed Certificate for "localhost" utilizing the Subject Alternative Name extension:

[code]

I have installed the `.crt` into Keychain Access and set all of the **Trust** items to `Always Trust`. Viewing any of my configured domains shows the certificate as trusted by the Chrome browser.

In Postman I went to `Settings > Certificates` and I ad

[2018-07-16 14:37] Deele commented on #450
This bug is still existing today in `app-6.1.4`. Why is this issue closed?

[2018-07-16 14:57] rolyv commented on #4186
👍 been seeing this too. I've had to fall back to the chrome app for AWS signed requests.

[2018-07-16 15:55] Sergeyp52 commented on #3999
Same issue here with Version 6.1.4 on Win10 Ent.

Sending the request will cause the Authorization header to appear but in the following manner:
`OAuth oauth_consumer_key="true",oauth_token="true",oauth_signature_method="HMAC-SHA1"...`

The end result will be 401 Unauthorized although the same request works great on the Chrome extension.

Choosing "Inherit" and manually filling out the authorizati

[2018-07-16 16:03] chefhoobajoob commented on #4320
I'd like, in the UI, to be able to type in path info that can include variables within the path, in addition to being able to use the chooser. The execution engine should understand both relative and absolute file paths. Constraining the path to be relative is an irritation on build agents and dev systems where test files are shared across unrelated projects in a completely independent location. I

[2018-07-16 16:21] chefhoobajoob commented on #4826
@SamvelRaja: whoops - missed that. Thanks!

[2018-07-16 16:31] chefhoobajoob commented on #4320
Also, forward slash path separators should work correctly when run on windows systems.

[2018-07-16 16:31] rhapsodixx commented on #3463
just curious whats the update on this request ?

[2018-07-16 19:56] MKindy commented on #2773
+1 from me.  Being stuck doing a bunch of manual testing due to some errors with data not being supplied properly by our client, and though I can just as easily close all tabs after each cycle, I often find myself in the zone and spaced out and ten 15-part collections later, Postman has 150 open tabs and is chugging along like cold molasses.

[2018-07-16 20:14] chrisdeso opened #4834 "Add longer time limits for monitoring runs"
**Describe the solution you'd like**
Some users would benefit from being able to run larger collections, and test suites.

**Describe alternatives you've considered**
Allowing monitors to have a longer time limit – currently [five (5) minutes](https://www.getpostman.com/docs/v6/postman/monitors/intro_monitors) – will allow larger collections and test suites to be run on monitors

[2018-07-16 20:56] Postman-Gabriel opened #4835 "Trying to save/edit/make a global variable fails"
**Describe the bug**
Trying to click on the little eye in the top right corner to manage the global variables pushes the user to the environment tab. This tab will give a small error when trying to create a global variable, insisting the user has to choose an environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the gear for modifying environments
2. Click on globals tab
3. S

[2018-07-16 22:21] loopDelicious opened #4836 "Formatting in the +New modal"
**Describe the bug**
Formatting in the +New modal under Templates and API Network tabs

**To Reproduce**
Steps to reproduce the behavior:
1. Logos in API Network are squished
![screen shot 2018-07-16 at 3 17 27 pm](https://user-images.githubusercontent.com/17693714/42786581-a75b9af2-890b-11e8-8d94-daebe02ac00a.png)
1. Markdown is not rendering (or description includes markdown)
![screen shot 2018-

[2018-07-17 03:58] five-star-reveiws commented on #3312
+1

[2018-07-17 04:26] SamvelRaja commented on #4833
@sujayvenaik  Verify this behavior and get this covered if not available in the current version.

[2018-07-17 04:43] SamvelRaja commented on #4830
Have you tried using our [collections](https://www.getpostman.com/docs/v6/postman/collections/creating_collections#saving-a-request-to-a-collection) feature?  Which helps you to organize requests.

[Runner](https://www.getpostman.com/docs/v6/postman/collection_runs/starting_a_collection_run) - Run the requests in the collection whenever you want to and assert using our [tests](https://www.getpostm

[2018-07-17 04:43] #4830 closed, assigned to nobody

[2018-07-17 04:47] nileshy112 commented on #4829
Does anybody have approach/suggestions??

[2018-07-17 04:48] SamvelRaja commented on #4829
At present we don't have the option of reading `variables` from a data file in the request builder.
But, our runner will help you in achieving the same. [Docs](https://www.getpostman.com/docs/v6/postman/collection_runs/working_with_data_files)

Feel free to re-open this issue, if you have specific use case other than this.

[2018-07-17 04:48] #4829 closed, assigned to nobody

[2018-07-17 04:52] mchaitanyababu opened #4837 "The URL text box in two pane mode is too short"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: It has been there already
 2. Expected behaviour: It must be long enough to show the URL
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): NA
 4. Screenshots (if applicabl

[2018-07-17 04:53] mchaitanyababu commented on #4837
We can make the URL box common to both request and response boxes below

[2018-07-17 04:54] Briones commented on #2762
For the moment you can copy this full script:
https://github.com/vrruiz/wsse-js/blob/master/wsse.js
And add it to the Pre-request script section, then at the end you can do something like this:

`var wsseHeader = wsseHeader(pm.environment.get("wsse-user"), pm.environment.get("wsse-secret"));
pm.environment.set("wsse-header", wsseHeader);`

Assuming that you already created the variables `wsse-user

[2018-07-17 04:55] SamvelRaja commented on #4837
Duplicate of #2716

[2018-07-17 04:55] #4837 closed, assigned to vkaegis

[2018-07-17 05:15] chrisdeso opened #4838 "Auth Helper – Basic Auth not encoding non-ASCII characters correctly"
**Describe the bug**
When on-ASCII characters are used for basic auth, the url encoded auth header is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Set username to `user` and password to `password`. The generated Auth header has value: Basic dXNlcjpwYXNzd29yZA== (decodes successfully)
2. Set username to `user` and password to `passÅword`. The generated Auth header has value: Bas

[2018-07-17 05:19] ShadesOB commented on #3224
sooo is this a thing yet.  What's the point of capturing the calls if we can't run them correctly?

[2018-07-17 06:03] sujayvenaik commented on #4831
![kapture 2018-07-17 at 11 32 25](https://user-images.githubusercontent.com/11532114/42799355-310e45ca-89b5-11e8-9a4a-6c8bbfe1555f.gif)

@Cazaimi You can refer this.

[2018-07-17 06:04] #4831 closed, assigned to vkaegis

[2018-07-17 06:37] mrsi commented on #4753
Also looking to be able to do this. We would like to test an automated method of issuing and later on using client SSL certificates.

[2018-07-17 06:42] cambierr opened #4839 "Two presses of CTRL+Z (or any other "cancel" shortcut) required for any cancel"
**Describe the bug**
When we want to cancel an edit in postman like the request url for instance, two presses of `CTRL+Z` (the cancel shortcut on `azerty` keyboards. Not sure about `qwerty`) are required for any rollback.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Write something in the url field
3. Try to remove the last character you added by pressing `CTRL+Z`

[2018-07-17 06:43] atorma commented on #1656
Still an issue in Postman 6.1.4. Switching tabs reverts the format to the default for the content type. This makes it a pain to work with apis that respond with a wrong content type (text/html instead of application/json).

[2018-07-17 06:45] bbartoni commented on #4820
Looks like the issue started occurring when you guys implemented the restart-logic to your scheduler. I'm observing that the success-notifications are sent to slack only when the monitor runs at a irregular time. Most of my monitors are set with a 30-min interval, and this issue appears if the monitor has lagged and restarted after 15mins. adding screenshot.
![screenshot from 2018-07-17 08-43-51](

[2018-07-17 07:24] kamil-zielinski commented on #1104
+1

[2018-07-17 07:53] thecuriousdev commented on #4813
Hey @loopDelicious, I tried from my end its working fine. Can you share the collection with me?

[2018-07-17 07:59] anudeepmedicharla opened #4840 "Dragging a duplicate key inside environments modal is dragging 2 rows with it."
**Describe the bug**
When I drag a duplicate key inside 'manage environments' modal, the interaction is such that I am dragging 2 rows (they key and the below row).

**To Reproduce**
1. Create a duplication key
2. Try dragging the key.

**Expected behavior**
Only that key should be moving up and down.

[2018-07-17 08:02] ankitjaggi commented on #4820
We're looking into a bug on our Monitoring service, which will prevent the duplicate runs you maybe seeing. I'll keep you updated on the same.

[2018-07-17 08:13] thecuriousdev commented on #4668
Hey @ytang-legion, We made a fix for this and its available in the latest Postman Canary. We are making more improvements in activity feed, stay tuned!

![screen shot 2018-07-17 at 1 41 28 pm](https://user-images.githubusercontent.com/22293666/42804630-2bbf61fa-89c7-11e8-8962-5528bbdac9b8.png)

[2018-07-17 08:43] kamalaknn commented on #4838
Hey @chrisdeso

I tried to replicate this, and I noticed that the encoded header is infact encoded per the input provided. When you use `user:password` you get the header `Basic dXNlcjpwYXNzd29yZA==` and when you use `user:passÅword` you get the header `Basic dXNlcjpwYXNzxXdvcmQ=`, which is different from the previous combination as it should be.

I've also tested this by encoding the combination

[2018-07-17 08:46] SamvelRaja commented on #4432
Closing this as this is fixed from our end. Feel free to re-open it if you face it again.

[2018-07-17 08:46] #4432 closed, assigned to thecuriousdev

[2018-07-17 08:51] SamvelRaja commented on #4239
Closing this for now.
⚠️  Also, We do not recommend deleting files from the app storage. It can lead to unexpected behaviors.

[2018-07-17 08:51] #4239 closed, assigned to nobody

[2018-07-17 08:53] harryi3t commented on #4839
Hey @cambierr,
I just tried this on the latest version of Postman (6.1.4) and it works as expected.
Please see my attached screenshot.

![undo-command-postman](https://user-images.githubusercontent.com/5207331/42806708-ad2d9e6e-89cc-11e8-8956-e9cd8457a1e4.gif)

Can you double check that version is indeed 6.1.4 and share a gif showing the bug?

[2018-07-17 08:58] kamalaknn commented on #4447
Hey @HollowayT

I tried to reproduce this, but couldn't.

We've made a couple of fixes to handle concurrent events applied on the view, see [here](https://github.com/postmanlabs/postman-app-support/issues/4794). This fix will be pushed to the stable channel soon.

I'm closing this as a duplicate. Feel free to reopen if this is unrelated. Any more info to reproduce this would be helpful.

[2018-07-17 08:58] #4447 closed, assigned to kamalaknn

[2018-07-17 09:00] SamvelRaja commented on #4651
Closing this due to inactivity. Feel free to open if you face the issue in the latest version of the app.

[2018-07-17 09:00] #4651 closed, assigned to dhineshwiz

[2018-07-17 09:09] kamalaknn commented on #4646
I'm closing this issue due to inactivity. Feel free to reopen if this issue still exists. Would really appreciate any additional info to triage this.

[2018-07-17 09:09] #4646 closed, assigned to a85, kamalaknn, preethammavin

[2018-07-17 09:17] anudeepmedicharla commented on #2155
@SamvelRaja Can this be closed now? I was not able to replicate the issue.

[2018-07-17 09:43] harryi3t commented on #4835
@gabriel-bronfman-postman Can you share a screenshot of the error that you see?

[2018-07-17 10:03] thecuriousdev commented on #4819
@vaishrachan I was able to reproduce this issue. We made a fix for this and its available in the latest Postman Canary release.

[2018-07-17 10:27] pnatraj commented on #1946
The response was of 176MB and postman app on Mac kept crashing...

du -sh something.log 176M

[postmanbug.txt](https://github.com/postmanlabs/postman-app-support/files/2201247/postmanbug.txt)

[2018-07-17 10:31] cambierr commented on #4839
After completely removing Postman than re-installing the 6.1.4 version, it worked... not sure about what caused this but probably some update issue at some point.

Anyway, thank you for quick reply and sorry about that

[2018-07-17 10:31] #4839 closed, assigned to prashantagarwal

[2018-07-17 10:41] mayur-gauswami commented on #2801
+1

[2018-07-17 11:45] derrickmehaffy commented on #3390
+1 from me on openAPI Spec 3.0.0

[2018-07-17 12:17] robations commented on #3390
@derrickmehaffy Better to use the thumbs up on the original post instead of adding +1 comments, which spams everyone with notifications.

[2018-07-17 12:35] mlovell82 opened #4841 "POST request status 400 "name is required" but name is present in the request"
When I try to make a POST request I am getting a status 400 Bad Request with the message "name is required", but name is the 4th element of "payload".  What might be causing this error.  I have included a screen shot from postman.

Here is the code for the post method:

app.post('/api/projects', (req, res) => {
    const { error } = validateCourse(req.body);
    if (error) return res.status(400).s

[2018-07-17 13:14] dsimoes commented on #2833
Happening to me(Windows 10 1734). Updated to latest version. Nothing I do brings back the Postman screen! help anyone?!

[2018-07-17 13:37] govindrai commented on #2833
Just open up a new window. Then switch to the other hidden window, close it using cmd/ctrl w. Now just use the new window.

Thank you,
Govind Rai
On Jul 17, 2018, 6:14 AM -0700, dsimoes <notifications@github.com>, wrote:

[2018-07-17 13:54] vaishrachan commented on #4819
Thank you @thecuriousdev

[2018-07-17 13:59] grubskim commented on #2978
+1
Any reason why this feature is not on https://community.getpostman.com/?
It seems to get a lot of attention here.

[2018-07-17 14:23] diegolealco commented on #3312
+100

[2018-07-17 15:26] LoZeno opened #4842 "Access cookies and other details when requests are sent using pm.sendRequest within scripts"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I've only noticed it recently, I don't know if it's been there forever
 2. Expected behaviour:
In a pre-request script, I would expect to be able to use pm.sendRequest and access all the parts of the response, including cookies, in order to (for example) retrieve anti forgery keys from

[2018-07-17 15:30] guillaumegarcia13 commented on #285
If not a prompt, what about a sticky toast with a link to the environment settings? (just thinking out loud)

[2018-07-17 16:04] freiguy1 commented on #2985
I'm still seeing this issue - the font being used is NOT picking up the system monospace font. The font in the editor isn't even monospace.

[2018-07-17 16:06] williamnsambu commented on #3503
I am getting the same error below is my Postman Console screenshot. Any help?
![postmanerror](https://user-images.githubusercontent.com/17203487/42830582-75c9a208-89b1-11e8-9754-c5bd8db34879.png)

[2018-07-17 16:12] williamnsambu commented on #3503
I used http as opposed to https and now I get a different error.
![image](https://user-images.githubusercontent.com/17203487/42830838-3a942a4a-89b2-11e8-9ddd-ef74498fed11.png)

[2018-07-17 16:17] williamnsambu commented on #3503
I solved both error by setting the SSL certificate verification to "OFF." You do that by Clicking on File>Settings.
![image](https://user-images.githubusercontent.com/17203487/42831075-f95bdfc2-89b2-11e8-9b06-afb1f51fd57d.png)

[2018-07-17 17:35] ceefour commented on #3585
I second this. BTW in URL it should always be URI-encoded (i.e. `%2B` instead of `+`), however in the Params editor, these should not be URI-encoded, i.e. it should display `+`. This is more intuitive.

[2018-07-17 19:14] bobwirka commented on #2402
Doing a simple POST operation. Identical body, auth, and url for both the app and Chrome.

In my instance, the application fails with "Could not get any response", while the Chrome version works.

Also, the 'cURL' version generated by both seem to be identical, and both work.

Web version:
curl -X POST \
  http://192.168.1.176/cgi-bin/xml-cgi \
  -H 'cache-control: no-cache' \
  -H 'content-type:

[2018-07-17 20:56] a-akimov commented on #3390
@robations sorry, I disagreee. This is a huge problem for everyone who wants to migrate to OpenAPI 3.0 (which is already a year being live now) and benefit from Postman at the same time, So, leaving a comment here shouldn't be considered as spam at all - this is the only possibility for us to show how important it is.

[2018-07-17 21:51] chrsmrtn- commented on #4814
I have this issue too. Let me know if you need info from my environment, Win 10 64bit

[2018-07-17 22:35] ruariobrien commented on #3589
Hi, I am testing an api endpoint in development that returns uncompressed 6.3 MB of json data. Postman hangs with "loading" in its GUI interface on the api call. Console shows "Responses larger than 1MB are not shown" , I had to run the api call again through mitmproxy to confirm the api response was actually returning the expected json data. I think it it a bug for the GUI to hang saying "Loading

[2018-07-18 01:47] SamvelRaja commented on #4814
@chrsmrtn- thanks for jumping in and trying to help. Is this issue happening always or only on certain time.
Also, if it happened from a particular time means is it possible to provide information on this?

[2018-07-18 04:06] SamvelRaja commented on #4841
@mlovell82 I can see that the data is sent to the server from my end.
You can also try sending the data to `http://postman-echo.com/post` endpoint. If the data is not received in the server end please feel free to re-open the issue. I am closing this as this is not the issue on Postman 😄

[2018-07-18 04:06] #4841 closed, assigned to nobody

[2018-07-18 04:13] SamvelRaja commented on #2155
Closing this as both the import via raw text and import via files had been fixed in the latest version of the app.

[2018-07-18 04:13] #2155 closed, assigned to a85

[2018-07-18 04:25] philsturgeon commented on #3390
@a-akimov comments with constructive content is helpful, but comments with only +1 is spam. You can always thumb the PR to show support. Please let’s not keep spamming people. This thread might be here for a while and we don’t want folks to have to mute it.

[2018-07-18 05:21] vdespa opened #4843 "Search and replace does not work properly"
**Describe the bug**
The soon to be introduced functionality does not seem to work as expected.

**To Reproduce**
Steps to reproduce the behavior:
0. You need a collection that has some tests
1. Open the search function, select the collection
2. Search for jsonData
3. Select all the entries inside a request
4. Replace with response
5. Nothing happens (the color of the tab turns orange, but the cod

[2018-07-18 06:15] thecuriousdev commented on #4668
@ytang-legion you can download the Canary build from https://www.getpostman.com/canary

[2018-07-18 06:17] thecuriousdev commented on #4819
@vaishrachan you can download our Canary build from https://www.getpostman.com/canary

[2018-07-18 06:48] suvin241 commented on #4049
try to download x64 or x86  according to ur bit

[2018-07-18 06:55] Pailin-Kotchakorn opened #4844 "c# winform call postman api but value is null"
I call api for send text file to web page for get some link pdf but when i execute my response get null. When response null it make this line (JObject oKeepResponeExecute = JObject.Parse(response.Content);) to be error. I don't understand why response is null?

My code

public void CallAPI(string strTaxID, string strBranchID, string strAPIKey, string strUserCode, string strAccessKey, string strSer

[2018-07-18 07:22] hrobertson commented on #285
A link to the settings isn't appropriate as many of the use cases that have
been described are for variables that must be provided each time.
The most obvious example is a MFA one-time code.

On Tue, 17 Jul 2018, 17:30 GARCIA Guillaume, <notifications@github.com>
wrote:

[2018-07-18 07:29] kamalaknn commented on #4389
Hey @Mihai1706

We would need a bit more information to help fix the problem here. At this point, the issue does not have any specific information for us to reproduce and fix this.

I'm closing this issue now. If you're still seeing this on the latest version of Postman, feel free to reopen with more information to help us reproduce this.

Thanks

[2018-07-18 07:29] #4389 closed, assigned to kamalaknn

[2018-07-18 08:43] thecuriousdev commented on #2833
Looking into this issue, I am able to reproduce this in windows but not in MacOS. @govindrai @Gavin-McFall since you are mac users can you please help me with these questions,
1. Can you confirm whether you are using a multi monitor setup?
2. Can you provide steps to reproduce this issue?

[2018-07-18 09:12] numaanashraf commented on #4738
Closing this due to inactivity and insufficient information. Please reopen with more information detailed in this comment - https://github.com/postmanlabs/postman-app-support/issues/4738#issuecomment-401311042

[2018-07-18 09:12] #4738 closed, assigned to harryi3t

[2018-07-18 09:17] numaanashraf commented on #4431
`OPTIONS` is not supposed to be redirected to `GET` as per HTTP spec. In browsers, when you request a cross-origin GET endpoint, the browser would do an implicit OPTIONS pre-flight request as detailed here (https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), before doing the `GET` call. Postman doesn't enforce CORS and by design doesn't do pre-flight requests.

[2018-07-18 09:17] #4431 closed, assigned to numaanashraf

[2018-07-18 09:22] thecuriousdev commented on #2833
@dsimoes can you help me with these things,
1. Are you using a multi monitor setup?
2. If so you put the postman window in a non main screen? and its `position x` was `0` or the window was maximized?

[2018-07-18 09:24] hdjhuang commented on #4810
@numaanashraf  It works perfectly.
 Thanks for your great support!

[2018-07-18 09:24] #4810 closed, assigned to numaanashraf

[2018-07-18 09:24] kamalaknn commented on #3286
Hey,

In the native Postman Apps, you can use the `pm.info` object to get the name and description of the request. You can find an extensive documentation on the API included in `pm.*` in the scripts on native apps here - https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference

I'm closing this as this is not a bug and an expected behavior. I've provided a working alternat

[2018-07-18 09:24] #3286 closed, assigned to kamalaknn

[2018-07-18 09:25] numaanashraf commented on #3441
@eap0120 Are you still facing this issue?

[2018-07-18 09:30] harryi3t commented on #4596
Closing this issue due to inactivity. Feel free to re-open if the issue still persists on the latest version of the app.

[2018-07-18 09:30] #4596 closed, assigned to harryi3t

[2018-07-18 09:32] uzdik-student commented on #3438
Will it be compatible with GitHub Pages ?

[2018-07-18 11:12] dsimoes commented on #2833
@thecuriousdev

I do use sec. monitor @office (right side).
I was latter at home and got the off-screen issue. I plugged in my sec. monitor @home (Top side, not right) to try to recover the window but no luck.

Eventually what I did to fix it was:
1) Rename the Postman dir on appdata
2) Started up Postman to re-generate my settings
3) Restored my original appdata Postman dir, but used the "window"

[2018-07-18 11:16] thecuriousdev commented on #2833
@dsimoes thanks for the help :) do you remember whether Postman was maximized (or it was in the left most corner of the screen) in your office monitor?

[2018-07-18 11:55] philipstratford commented on #2874
I'm just trying to migrate to using the Native app in Windows 10 (64-bit) and think I might be encountering this same issue. In the Chrome app I get a `400 Bad Request` response and my custom error message is displayed, but in the Native app with the exact same request I get a `401 Unauthorized` response. Screenshots below.

![chrome 2](https://user-images.githubusercontent.com/7631595/42879785-ca

[2018-07-18 12:05] n0v3xx commented on #3874
Guys can you speed up this problem? Over 8 months now and this feature is important.

[2018-07-18 12:10] manoadamro commented on #3503
I have the same problem, just says "Could not get any response" yet both my browser and curl have no problems. Tried the solutions above, but they did not help

[2018-07-18 12:30] dsimoes commented on #2833
@thecuriousdev Maximized.

[2018-07-18 12:50] godfrzero commented on #3438
@algakzru I'm not sure what you mean.

[2018-07-18 13:08] numaanashraf commented on #3503
@manoadamro Could you open the Postman Console (View > Show Postman Console), resend the request and let us know if there are any errors there?

[2018-07-18 13:09] dtsap commented on #1104
+1

[2018-07-18 13:13] kobidadon1 commented on #2833
Hi Guys,

I noticed this issue also happens to me with the YouTube independent window, so maybe it could be a chrome thing?
It's not happening anymore with postman but with the youtube, it's every time I log in&out of my user.
3 screens setup.

[2018-07-18 13:27] govindrai commented on #2833
Yes; I had a multi monitor setup. Unfortunately; I don’t know how to reproduce. It has only happened to me once so far.

Thank you,
Govind Rai
On Jul 18, 2018, 1:44 AM -0700, Akhil CS <notifications@github.com>, wrote:

[2018-07-18 13:30] mb590721 commented on #3706
+1

[2018-07-18 13:32] numaanashraf commented on #4842
Thanks for reporting this @LoZeno

[2018-07-18 14:26] AnkitKabra20 opened #4845 "Calling Request with in Collection Using RequestName Reference."
Is there a way through which I could call an existing request (Already created request within a collection/folders) into a new request as a pre-request or post request. Please provide the suitable recommendation to avoid maintenance.

Current Approach(workaround), I am copying the Request#1 which I need to execute first and place it before the next request Request#2. In this case, if Request#1 cha

[2018-07-18 14:41] p00j4 commented on #4052
@sivcan  having a confusion, how can we define and reuse a collection level variable using the script (pass between requests)?

**Use case:** In a collection, I have multiple requests and want to pass variable value updated from one request to another. Don't want to set in environment variable because they(my variables) are always changing and they are many.

Tried with,  pm.variables.set(key, val

[2018-07-18 14:41] AnkitKabra20 commented on #697
+1

[2018-07-18 14:51] swateek commented on #1104
+1

[2018-07-18 15:01] yishayn commented on #4313
Hi, sorry for the delay.
I don't see it is fixed.
Can you please clarify what should be the condition for "CTRL+B" feature to work at all ?
Sometimes it works, and sometimes its doing nothing.
example: If I take a Request Body, which is already in JSON format, and remove all SPACES ,
then, Paste it on a new TAB which is set to raw-JASON,
the CTRL+B is doing nothing.

Only sometimes, when I click o

[2018-07-18 15:11] wnmurphy commented on #1762
Got same error in Postman without the "Malformed JSON" bit. Clicking on `raw` tab for body showed data was received, turns out it was malformed JSON. If you get this error or something similar, try grabbing the body from the `raw` tab and linting it.

[2018-07-18 16:19] uzdik-student commented on #3438
@godfrzero Will it be possible to use it as a Jekyll template like https://github.com/CloudCannon/aviator-jekyll-template or https://github.com/Wiredcraft/carte ? For publishing it to GitHub Pages of my project, for example http://algakzru.github.io/api

[2018-07-18 16:32] mbniehues commented on #2874
As an update to my previous comment, our issue was a missing intermediate certificate in the chain. Web browsers didn't have a problem with it, but Postman and some other applications seem to be more picky. After we resolved the certificate issue, all of our team is able to run with `SSL certificate verification` enabled.

[2018-07-18 16:43] stephanos opened #4846 "only let the user log errors to console"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**

Yes. We want to use Postman Monitors to run a collection's tests for verifying whether our API works end-to-end. We added a somewhat sophisticated retry mechanism to retry if things

[2018-07-18 16:45] skywalker212 commented on #4836
+1
Facing the same issue
how can I contribute to this issue/is it possible?
![screenshot from 2018-07-18 22-12-54](https://user-images.githubusercontent.com/16351685/42895494-bc9f5368-8ad7-11e8-87de-4570e270c0d5.png)

**App information:**
 - App Type : Native App
 - Postman Version : 6.0.1
 - OS: Ubuntu 18.04 LTS

[2018-07-18 17:01] webbrandon commented on #166
👍

[2018-07-18 17:41] arifioreac commented on #3312
+1

[2018-07-18 17:42] MarkLeMerise opened #4847 "Setting to show request description by default"
**Is your feature request related to a problem? Please describe.**
The problem is primarily a UX and team communication thing. I try to write detailed API descriptions, but since they are collapsed by default, our team usually forgets (even if I tell them) and this might cause a gap in knowledge that would be filled by reading the description.

**Describe the solution you'd like**
When I open the

[2018-07-18 19:07] ytang-legion commented on #4668
Cool! Can't wait to consume it. Thanks!
Yanming

On Tue, Jul 17, 2018 at 11:15 PM, Akhil CS <notifications@github.com> wrote:

[2018-07-18 19:25] ylaguna commented on #1607
+1

[2018-07-18 19:36] kamalaknn commented on #4833
@thecuriousdev It looks like Postman on exit from login a new window is opened instead of restoring the existing window. Can you confirm?

[2018-07-18 19:48] kamalaknn commented on #4838
`password` and `passÅword` are different characters and should be encoded differently. I think this is not a bug with Postman and behaves as it is expected to. I'm closing this issue now.

Feel free to reopen if I've missed anything here.

[2018-07-18 19:48] #4838 closed, assigned to kamalaknn

[2018-07-18 20:11] #3988 closed, assigned to codenirvana, kamalaknn

[2018-07-18 20:12] kamalaknn commented on #3732
Closing this issue due to inactivity.

[2018-07-18 20:12] #3732 closed, assigned to kamalaknn

[2018-07-18 20:23] kamalaknn commented on #2921
Hy @mattdeluco @antonlva

Postman Collections have always treated request body independent of the request method. That means technically you could still have a request body for a `GET` method but they're not used while sending the request.

We've been getting [requests](https://github.com/postmanlabs/postman-app-support/issues/2729) to enable adding body for `GET` requests.

Postman as a tool will

[2018-07-18 20:23] #2921 closed, assigned to a85, kamalaknn, preethammavin

[2018-07-18 20:34] mattdeluco commented on #2921
The body isn't quite independent of the request - if the request is set to GET, the UI disables the body tab.

And while some parts of Postman may not use the body content in a GET request, request.data in the pre-request script will not be empty, which was really the issue here.

[2018-07-18 21:36] gebonadio commented on #1607
+1

[2018-07-18 22:00] stixaw commented on #4799
I can sync through the web on my Win Server 2016 but the app keeps saying enable syncing and just sitting there.  I can run gets etc through it but can't sync

[2018-07-18 23:08] mtpultz opened #4848 "JSON formatter for raw JSON requests"
**Describe the solution you'd like**
It would be great if the raw JSON body automatically (or via button) formatted the JSON so changes could be made quickly to test endpoints that take large JSON objects

**Describe alternatives you've considered**
JSON stringify request data in console, copy it to VSCode, change file type to JSON, format JSON, and copy-paste into Postman

[2018-07-19 01:48] Kirlac opened #4849 "Mouse scroll zones drawing incorrectly w/ HiDPI scaling"
**Describe the bug**
When the Win10 postman app is open on a secondary display the mouse zones are not in the correct place. This looks like an issue with HiDPI scaling - ~~scrolling works as expected on the primary monitor (3840x2160, 250% scale), but when the window is moved to the secondary display (1280x1024, 100% scale)~~ the zones render smaller and off position
EDIT: It is also doing this o

[2018-07-19 03:10] godfrzero commented on #3438
From the _API Documentation export_, I doubt it. I'm assuming that these templates require the data to already be in some specified format. The correct way to approach this would be to use the exported collection (perhaps using the GitHub integration to get it syncing with GitHub), adding an interface/transformer layer between the raw JSON and the template, and using the output of that layer to ge

[2018-07-19 04:16] chrisdeso opened #4850 "Unable to use editor after sending request"
**Describe the bug**
The editor – `Tests / Pre-Request / Body` – is "blocked" after sending a request.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request using the keyboard shortcut `Ctrl + Enter`
2. Attempt to edit the Body / Tests / Pre-Request sections

**Expected behavior**
The text fields should be editable.

**App information (please complete the following information):**

[2018-07-19 06:10] thecuriousdev commented on #4833
@kamalaknn I am able to reproduce this issue. We're loosing the data when we switching the sessions, will look into this.

[2018-07-19 06:35] vkaegis commented on #4847
@MarkLeMerise Thanks for writing in! Amusingly, we've faced this problem ourselves. 😅 We're working on a bunch of improvements on tabs and how the different sections are arranged within it. This makes a lot of sense, and we'll be sure to include an option to do this soon. No ETA just yet, but stay tuned for updates!

[2018-07-19 06:47] vkaegis commented on #4843
@vdespa Thanks for the feedback! Looks like our Find and Replace feature isn't playing pretty with the way we handle dirty tabs. We're working on a bunch of improvements around tabs and how they convey state, and we'll be sure to fix this behavior in the coming versions. No ETA on this just yet, but stay tuned!

[2018-07-19 06:49] wouter-veeken commented on #2489
For me the problem turned out to be **folder permissions**. I had Postman.app installed/running in my `Downloads` folder for some reason. Moved to `Applications`, and update works fine.

If your Postman.app is already in `Applications`, I'd recommend @JRPeq's solution posted above:
[code]

[2018-07-19 06:59] calloc commented on #1535
+1 Changing source template should affect all instances of the template.

[2018-07-19 07:25] sivcan commented on #4052
@p00j4 Collection variables cannot be updated through the scripts.
The only way is to use environment variables/globals.

However, since you've mentioned that your variables keep changing frequently and I suppose you don't want to update them with dirty data, I think the **sessions** in postman might fit your use-case well.
You can read the public RFC here: https://community.getpostman.com/t/sessi

[2018-07-19 07:32] a85 commented on #4843
@vkaegis This should just replace the text right? Why is this an issue with tabs?

[2018-07-19 08:15] vkaegis commented on #4843
@a85 What Replace does not yet do is update instances of the request that were already open as tabs. So these tabs show as dirty, since the underlying request has changed. We do not yet have a way to update the request open in a tab if (for example) it has not been edited, or is in a busy state.

[2018-07-19 08:18] a85 commented on #4843
I think that's a default expectation. We should keep this feature in Canary until then. @vdespa Thank you for reporting.

[2018-07-19 08:25] kamalaknn commented on #3379
Closing this due to inactivity

[2018-07-19 08:25] #3379 closed, assigned to kamalaknn

[2018-07-19 08:56] harryi3t commented on #4536
Hey @Alextunchii,
There is already an open issue for this here https://github.com/postmanlabs/postman-app-support/issues/4199
I am closing this in favor it, please subscribe to that issue for updates.

[2018-07-19 08:56] #4536 closed, assigned to dhineshwiz

[2018-07-19 09:01] kamalaknn commented on #3385
@serkand This is coming the script editor trying to parse your script. There would be no runtime errors while using this though.

We've updated our script editor in the recent releases and I see that there are no warnings now.

I'm closing this issue now. Thanks

[2018-07-19 09:18] stvnwrgs commented on #3706
+1

[2018-07-19 09:19] kamalaknn commented on #2893
Hi @SeameX

We've identified the root cause of the issue. When a request is saved, the did not react to that immediately that it is now a saved request and that's why you are not being able to add examples to it.

We've identified the fix for this. We'll keep the thread updated on the status of this.

[2018-07-19 10:35] danielvaughan opened #4851 "Generated cURL behaves differently to Postman client"
**Describe the bug**
POST request is successful in Postman client but fails when using the generated cURL is run as header is empty.

**To Reproduce**
I have a POST request in Postman that produces the following cURL:
[code]
When I run in Postman I get back the expected result:
[code]
However, when I run the cURL at the command line I get back:
[code]
This is because the describedBy header is seen

[2018-07-19 11:43] jaiswalDilip commented on #3107
I'm using windows 2016. Shortcut file directs me to this location C:\Users\Administrator\AppData\Local\Postman\Update.exe
I dont have _Github, Inc_ folder. Any help is appreciated.

[2018-07-19 12:12] johnnykang opened #4852 "OAuth 1.0 Header Auto Gen is broken"
## App Details:

[code]

## Issue Report:
1. this issue happens recently.
1. The OAuth 1.0 Header autogen value is broken.
1.

[code]

the oauth_consumer_key and oauth_token has generated values of "true" although I have correctly put in the values in the OAuth ConsumerKey and Secret fields.

## How to replicate
1. Select OAuth 1.0 as the Authorization type.
1. Put in any values in the Consumer Ke

[2018-07-19 13:07] MarkLeMerise commented on #4847
That sounds good. Thanks for putting out a quality product!

[2018-07-19 13:08] MondoGao commented on #3623
+1，can't decode a really long curl text copied from chrome

[2018-07-19 13:14] godfrzero commented on #4820
Update: We've isolated the issue and we're working on a fix. I'll update here again once we've pushed the fix.

[2018-07-19 13:32] gabma commented on #2847
Same issue here, we have optional params that we would like to appear in the documentation but not have included by default in the "Example Request” or in the Url

[2018-07-19 14:55] VLbrezee opened #4853 "highlight tabs"
**Is your feature request related to a problem? Please describe.**
When I open a lot of tabs then active tab looking not expressive, so I have the difficulty to find it by eyes.

**Describe the solution you'd like**
My proposition is next - make active tab more bright, or orange point for active tab will change  on point with green color

**Additional context**
![2018-07-19 17-43-56](https://user-

[2018-07-19 14:58] MatthieuPeyrot commented on #3255
The same issue I get ETIMEDOUT to every single request even in POST GET PUT.
My versions of the client on mac is 6.1.4

[2018-07-19 16:30] krigi opened #4854 "Capture and log inbound Mock Server requests, display them in Postman Console"
I would like to be able to see logs for every call to our Mock Servers. It would be useful to be able to see the raw inbound requests in the Postman Console... headers, body, etc.

Context: my developers often send bad requests to our mock servers, but I don't have visibility to their requests. Thus I am unable to troubleshoot where they went wrong (e.g. missed bracket, improper naming of keys, et

[2018-07-19 17:03] Msaini323 opened #4855 "Postman Code Snippet Issue - JSON body to Python Payload"
**Describe the bug**
This is an issue with the Code Snippet Creator, when doing a JSON Body, the Python Payload snippet does not format correctly.

**To Reproduce**
Steps to reproduce the behavior:
Create any method that requires a JSON Body. Then check out how the code snippet for Python looks and you will see the issue.

Json Body:
![image](https://user-images.githubusercontent.com/27297658/4295

[2018-07-19 17:42] loopDelicious commented on #4813
@thecuriousdev this is the exported collection with the response's headers showing `null`.
[Example_for_GitHub.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/2211037/Example_for_GitHub.postman_collection.json.zip)

[2018-07-19 18:14] Postman-Gabriel commented on #4642
This issue is still present on update 6.1.4. My user is using windows 7 x64 with 6.1.4 and they can't open the app at all. It happened all of the sudden after updating from 6.1.3.

This is the screen they are stuck on.

![error](https://user-images.githubusercontent.com/40899145/42961833-d729b468-8b44-11e8-813e-062e014fa929.png)

[2018-07-19 20:05] abhijitkane opened #4856 "In the Upgrade to Pro page on the web dashboard, the 'Pay' button doesn't do anything"
If I have 3 users on my team (my Pro trial expired), and try to upgrade to Pro with 2 users, the Pay button doesn't do anything. The console shows an error in the WebSocket tab saying I need to remove users, but there's no UI feedback.

[2018-07-19 22:40] poisa opened #4857 "Better use of space: Ability to collapse top panel"
Below the URL line there are a bunch of tabs:

    Authorization    Headers    Body    Pre-request Script    Tests

In my use case 99% of the time I can set these and forget about them. I'm interested in the response data but I still have to waste screen real estate with these tabs.

It would be great if these could be collapsed just like you can collapse the collections pane.

PS: Related to #479

[2018-07-19 23:20] claireriley opened #4858 "Slack integration monitor names not populating"
**Describe the bug**
User experiencing issue in web dashboard where monitor names are not being populated when looking at the configured Slack integration (send monitor run results to slack).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [web dashboard](https://app.getpostman.com/)
2. Go to any workspace
3. Click on Integrations
4. Click on Slack
5. Navigate to existing configuration

[2018-07-20 01:37] centur commented on #2833
@govindrai I found that it happens with some other electron apps quite often in the scenario when one has different monitors setup and custom arrangements in office and at home (typical with laptop users):
E.g my work setup was like this:
![image](https://user-images.githubusercontent.com/720822/42978498-79dd9276-8c10-11e8-95f1-d32c20b31e1f.png)
Where
- solid line - laptop with 4k screen
- dotted

[2018-07-20 02:09] johnnykang commented on #4852
It looks like the New Request must be part of the collections to have the Authorization Header populated correctly.

Close for now.

[2018-07-20 02:27] yeoman88 commented on #3623
I am also experiencing this bug using Version v6.1.4

[2018-07-20 05:41] abhijitkane opened #4859 "Invalid sync status when the app's session expires"
**Describe the bug**
Invalid sync status when the session expires

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to app
2. Close app
3. Reset password - this will expire sessions
4. Restart app
5. In the modal that shows up, click Sign Out
6. In the collections-will-be-deleted modal, click 'Cancel'
7. All my data stays editable -> potential security issue, and the sync status stays

[2018-07-20 06:09] abhijitkane opened #4860 "Show license count, active user count, available invites on the manage team page"
In the Pro/Enterprise versions it is really hard to determine how many licenses we have and how many licenses remain.  What we have figured out to do is go to the Manage team page and see how many we have on the left that are active and then click Invite to see how many remain.

It'd be really helpful if that info was on the left of the Manage Team Page.

Something like:
50 users
65 licenses
15 in

[2018-07-20 06:24] sandeepmstar commented on #813
Use - pm.test("Reposne body Does not contains the string - abc", function () {
pm.expect(pm.response.text()).to.not.include("abc");
});

[2018-07-20 06:26] numaanashraf commented on #4849
Thanks for reporting this @Kirlac.

[2018-07-20 06:28] thecuriousdev commented on #2833
Really appreciates your help and feedbacks :) We made a fix for this in our internal builds which prevent this from happening. Will make it available to everyone soon, I'll keep you posted here. Stay tuned!

[2018-07-20 06:30] numaanashraf commented on #4853
Thanks for the feedback @VLbrezee. @vkaegis, what are your thoughts on this?

[2018-07-20 06:34] numaanashraf commented on #4857
Thanks for the feedback @poisa. We are aware of this and are working on few improvements that should help you with this issue. Since this is related to #4797, I'm closing this and will be using #4797 to post updates and track discussions on this issue.

[2018-07-20 06:34] #4857 closed, assigned to nobody

[2018-07-20 06:50] abhijitkane opened #4861 "Integrations > Github repository dropdown only shows 100 repos"
Seen for Pro/Enterprise users:

While trying to add Github Integration to my company Postman account, but I wasn't able to select the proper repository from the dropdown, because it wasn't returned in the list. I looked at the request and it had `?top100` as a parameter, so only 100 repositories were returned. Since my company has over 200 repositories and the one I wanted began with a 'V', I was

[2018-07-20 06:54] abcabc1 commented on #2861
null is passed ok for me when i excuted single request, but it didn't work for collection run with datafile. if i put null value in datafile, the request send {{variable}} which crash my code.

[2018-07-20 07:37] ghost commented on #675
+1

[2018-07-20 08:33] ChubbyArse commented on #2917
Any update on this?

[2018-07-20 09:47] ayazsayyed commented on #2671
its purely built on html css and good ol' Javascript :D

[2018-07-20 11:01] fayt81 commented on #3107
I have no Github, Inc folder, but the icon is not displayed. Shortcut on desktop points to Update.exe as written by jaiswalDilip, and start menu shortcut points to c:\Users\<your username>\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Postman.
Thanks in advance for any advice.

[2018-07-20 11:10] vkaegis commented on #4853
@VLbrezee Thanks for writing in! This seems like a pretty useful accessibility improvement. Just curious, would something like this help in differentiating the active tab?

![screenshot 2018-07-20 16 38 02](https://user-images.githubusercontent.com/6038010/42999473-86c8fa40-8c3b-11e8-909a-976dbee47122.png)

[2018-07-20 11:10] postmanpp commented on #4823
We are also looking for publishing multiple collections per custom url

[2018-07-20 11:20] VLbrezee commented on #4853
@vkaegis Yes  you understood me absolutely correct. At Last  time I have worked a lot of time with Postman, it's great application, and I have a lot of opened tab, so I had problem to find quickly active tab.
So I think If developers highlight active tab more expressiveness, or make green color for point in tab , it would be great improvements ! :)

[2018-07-20 11:27] dietermijle commented on #4079
+1

[2018-07-20 11:50] adrian-kurzeja commented on #4620
I have the same problem!
Everything was working untill:
I tried to mock server... it requested me to login so i logged with my google account... after login i can' save and create tabs.... please repair ;/

[2018-07-20 11:54] adrian-kurzeja opened #4862 "Duplicate "My Workspace" - Can't create requests, folders and collections - user not in workspace error"
I wanted check how mock server works... now i can't do nothing (cant save/create)... I don't want to loose my collection.

Everything was working untill:
-I tried to mock server...
-it requested me to login so
-I logged with my google account
-choosed to make mock server private
-clicked next
-it started to load I canceled it
-Now I can' save and create tabs....
-It seems that the problem is with

[2018-07-20 12:58] felipehummel commented on #2700
Any progress on this? I'm now in the same situation as @jensraaby

[2018-07-20 12:59] vkaegis commented on #4853
@VLbrezee Yep, definitely makes sense. :) We'll be pushing out a fix for this in the coming versions. Stay tuned!

[2018-07-20 14:54] vlott commented on #3331
Thanks, sify21. The workaround of attaching the JSON as a file with a .json extension works on MacOS also.

[2018-07-20 14:56] vlott commented on #1104
+1

[2018-07-20 15:20] efreibe commented on #1104
+1

[2018-07-20 15:23] cjaoude commented on #3604
for anyone trying to call the LinkedIn API, this resolves the `missing 'client_secret'` error after the Auth url response...

Then use the `Bearer Token` authorization option when making API calls.

[2018-07-20 15:36] numaanashraf commented on #4862
@adrian-kurzeja, Could you open the DevTools (View > Developer > Show DevTools (Current View)) & (View > Developer > Show DevTools (Shared)), try saving or creating tabs and let us know if you see any errors there?

[2018-07-20 15:39] numaanashraf commented on #4844
@Pailin-Kotchakorn I'm afraid I don't understand the issue you are facing. Are you sending a request with Postman and not receiving the expected request at the server end?

[2018-07-20 15:51] danielvaughan commented on #4851
This may be an AWS API Gateway rather than Postman. If a request comes from postman the case of the header name is preserved. If the generated cURL is used the header name becomes lower case. However ,the behaviour is different between a request from the app and a request for the generated cURL.

[2018-07-20 15:53] a85 commented on #4851
The curl export has been one of our biggest pain points. Ironic considering that Postman was built in some way to avoid using curl. :(

[2018-07-20 16:08] danielvaughan commented on #4851
Could it be that cURL uses http/2 and postman doesn't? I read somewhere that HTTP/2 converts headers to lower case

[2018-07-20 17:10] norcino commented on #4345
Nice, thank you

[2018-07-20 17:51] iordaz commented on #2801
+1

[2018-07-20 21:01] brianbellon commented on #4388
The frustrating part about all of this is that you can't just click on a side-bar item and delete without having a TAB pop-up for that item.  So these tabs breed like rabbits if you are doing much editing.  The better way to do this is to prompt the user about what they're about to remove.  For instance:
In Scenario #1 - I just click on a side bar item, then having the tab show up, there's no edit

[2018-07-20 21:31] Postman-Gabriel commented on #4862
My user on Windows 10 x64 is experiencing the same issue. He can't save any requests.

[2018-07-21 06:56] timmyz commented on #348
@abhijitkane great secret weapon!!!

[2018-07-21 09:04] baalaZolo opened #4863 "Epoch date in Postman"
I would like to get the current system date in Epoch format. Can you please help me with this ?

[2018-07-21 09:50] anshuljain03 commented on #4863
@baalaZolo You can use ``` Date.now() ``` to get the current timestamp in milliseconds.

[2018-07-21 10:32] baalaZolo commented on #4863
@anshuljain03 thanks for your reply. Is it any ways we can get start time of the current day? Ex Saturday, July 21, 2018 12:00:00 AM GMT+05:30 - 1532111400

[2018-07-21 17:31] adrian-kurzeja commented on #4862
@numaanashraf Yes i can change tabs here.... but now I have another problem.... i cant change enviromental variables, cant change enviroments, cant create enviroments.

I can't do nothing! I had to change REST API client.... i can't work on Postman.... just after login everything "freezed" in way, i can't add/edit/delete requests. Can't add/edit/delete collections. Can't  add/edit/delete enviromen

[2018-07-21 17:31] adrian-kurzeja commented on #4862
@numaanashraf Btw. It is on Xubuntu 17.04

[2018-07-22 16:39] VR-Architect commented on #1104
+1

[2018-07-22 16:40] VR-Architect commented on #1991
+1

[2018-07-22 20:12] anshuljain03 commented on #4863
@baalaZolo The following snippet will give you the start time of the day.
[code]

[2018-07-23 05:53] harryi3t commented on #4742
@mlambley We have released a fix for this on our canary apps.
Can you please verify it?
You can get the canary app from https://www.getpostman.com/canary

[2018-07-23 05:54] harryi3t commented on #3824
@farkass  We have released a fix for this on our canary apps.
Can you please verify it?
You can get the canary app from https://www.getpostman.com/canary

[2018-07-23 05:54] harryi3t commented on #4488
@cuzic4n  We have released a fix for this on our canary apps.
Can you please verify it?
You can get the canary app from https://www.getpostman.com/canary

[2018-07-23 05:54] harryi3t commented on #3557
@amnoman We have released a fix for this on our canary apps.
Can you please verify it?
You can get the canary app from https://www.getpostman.com/canary

[2018-07-23 07:14] p00j4 commented on #1180
thanks @Ocsidot yes this works now.  Wondering why it wasn't working earlier is more scarier 🤦‍♀️

[2018-07-23 07:24] andig opened #4864 "Header key corrupted when duplicating query"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When duplicating a query, the header key gets changed from `x-api-token` to `x-api-key`

**To Reproduce**
Steps to reproduce the behavior:
  1. Go to 'Collections'
  1. Select a request with `x-api-token` header defined:

[2018-07-23 07:40] andig commented on #4864
There is actually a second bug. When the URI contains a variable, that is replaced by the variable's value upon duplicating:

    {{url}}/surveys/{{survey}}

becomes

    {{url}}/surveys/kndvhregoerjglkjern

[2018-07-23 08:45] kamalaknn commented on #4864
Hey @andig

I just followed your steps and could not see any change to the request on duplicating.

Can you verify if the request is updated in the UI on duplicating? Or is the request changing on sending it?

It would be great if you could provide a screen capture reproducing this. You can use https://getkap.co/ to capture your screen.

[2018-07-23 08:47] dionescu10 opened #4865 "The collection fails even if each test works"
Hello,

I have created a collection with tests in Postman. I can run every test and it works in order, but when I try to run the whole collection, I receive 406. I found some pieces of information but nothing useful for me.

I have attached the log file.
![headers](https://user-images.githubusercontent.com/35342107/43066736-1af36e4c-8e6e-11e8-8c35-8344d88b8e09.PNG)
![test_result](https://user-imag

[2018-07-23 08:51] kamalaknn commented on #4863
Hey @baalaZolo

I'm closing this as this not an issue with Postman as such. Please use our community forum - https://community.getpostman.com/ for more help and discussions.

[2018-07-23 08:51] #4863 closed, assigned to nobody

[2018-07-23 09:06] S33G commented on #4651
I can confirm that this no longer seems to be an issue.

[2018-07-23 09:14] SamvelRaja commented on #4854
Thanks for raising over here. We are marking this as a feature and will update the thread on how we intend to solve this.

[2018-07-23 09:25] sivcan commented on #4865
Hey @dionescu10,
Can you open the Postman Console (View > Postman Console) and run the requests.
Can you verify that the data being sent is correct or not? (specifically HEADERS and AUTH)

Finally, is there any environment that you might be using and that's not selected in the runner but in the main request builder view it is selected?

[2018-07-23 09:28] farkass commented on #3824
Hi @harryi3t,
Just tested the canary's windows x64 version and it works fine!
Thanks!

[2018-07-23 09:28] #3824 closed, assigned to harryi3t, vkaegis

[2018-07-23 09:36] sivcan commented on #4696
Hey @ivok,
We've released a fix for this on our canary channel.
Can you download it and try it out if it fixes the issue for you?
Download here: https://www.getpostman.com/canary

Thanks!

[2018-07-23 09:38] sivcan commented on #4541
Hey @AntoniusGolly,
We've released this on our canary channel.
You can download the canary build here: https://www.getpostman.com/canary and test it out.

Thanks!

[2018-07-23 09:39] bhargavkaranam commented on #4815
Hi @xDaizu,
We're closing this issue due to inactivity. Feel free to reopen it if you're still facing the issue.

[2018-07-23 09:39] #4815 closed, assigned to bhargavkaranam

[2018-07-23 09:43] prashantagarwal commented on #3027
Closing due to inactivity

[2018-07-23 09:43] #3027 closed, assigned to a85, prashantagarwal, preethammavin

[2018-07-23 09:43] prashantagarwal commented on #2831
Closing due to inactivity.

[2018-07-23 09:43] #2831 closed, assigned to prashantagarwal

[2018-07-23 09:43] dionescu10 commented on #4865
Hey @sivcan,

This is what I have in the console when I run the collection:
![console_postman](https://user-images.githubusercontent.com/35342107/43068877-2f6e039a-8e5b-11e8-907c-cfb3a7a5f706.PNG)
![fails](https://user-images.githubusercontent.com/35342107/43069308-4893d75e-8e5c-11e8-814a-dcb3d6a2accb.PNG)

The authentication details have to be correct because the tests run in order. I also set th

[2018-07-23 09:46] dionescu10 commented on #4865
Is it possible to have this problem due to the format of the response? Maybe, I have to add a new header. I also tried with Content-type : application/json and Accept: application/json but I still have this issue.

[2018-07-23 09:50] harryi3t commented on #2855
Closing due to inactivity. Feel free to re-open if the issue still persists.

[2018-07-23 09:50] #2855 closed, assigned to harryi3t, preethammavin

[2018-07-23 10:09] harryi3t commented on #3751
Since the bug is in the console UI, I am closing this.
If the issue stills persist even on successful requests, please reopen this.

[2018-07-23 10:09] #3751 closed, assigned to harryi3t

[2018-07-23 10:33] allwynmendes commented on #1070
OMG, I am dying for the reordering feature. I guess its possible if we export the collecting and manually move stuff about but that's so Von Neumann. It looks like its been quiet a while since this feature has been requested, or am I missing something ?
BTW Postman Team, thanks for this awesome tool...looking forward to this new feature.

Thanks

[2018-07-23 11:21] andig commented on #4864
Directly on ~~updating~~ duplicating. I've noticed that I had a lot of open, unsafed tabs.

Apparently what happened was that- when selecting request from the collection- the app would show/open an unsaved tab that had `x-api-token` while the saved version was still `x-api-key`. When duplicating it would then use the saved version, not the selected tab.

Explainable but confusing? Since I have the

[2018-07-23 11:22] ghost opened #4866 "Pre-request Script shows blank, even if the Script is written"
**Describe the bug**
I have a collection of 20-21 requests in a post man collection and each request has its own pre-request script and each request is with in a folder. if i try to open a pre-request script tab from the "..." option by clicking edit, the pre-request script tab is empty. and clicking on the middle of the screen, shows the populated script.

**To Reproduce**
Steps to reproduce the

[2018-07-23 11:31] prashantagarwal commented on #4866
Duplicate of #4755

[2018-07-23 11:31] #4866 closed, assigned to nobody

[2018-07-23 12:09] sankalp0o commented on #4854
Thanks for the suggestions @krigi. This is not in our immediate roadmap but this sounds like something that'll be useful for a lot of people using mock servers. Probably something to think about when we're building reporting for mock servers @a85 .

[2018-07-23 12:15] sankalp0o commented on #4823
@science695 @postmanpp So if I understand you correctly, you want to publish your collections on `www.your-domain.com/collection1` & `www.your-domain.com/collection2`?

[2018-07-23 12:18] postmanpp commented on #4823
My requirement is I want to publish collection1 and collection 2 on www.your-domain.com

[2018-07-23 12:20] sankalp0o commented on #4823
@postmanpp So you expect that the same page to contain documentation for both of the collections one after the other?

[2018-07-23 12:21] postmanpp commented on #4823
yes. that is correct

[2018-07-23 12:24] sankalp0o commented on #4823
Understood. Any reason for having two collections instead of a single one? You can group them in different folders if organisation was your only concern.

[2018-07-23 12:27] postmanpp commented on #4823
We have different teams working on different modules like Finance, Marketing, HR, Integrations etc. Each team will build their own collections. So we want to document all these collections on single page

[2018-07-23 12:31] kamalaknn commented on #4663
This issue has been fixed in our library `postman-collection` we use for parsing URLs. We'll push this fix out on the stable channel soon.

[2018-07-23 12:35] sankalp0o commented on #4823
Ah, makes sense. We don't have any immediate plans for this but there have been a couple of requests around multiple collections and environments for published documentations. I'll keep you posted if and when we take this up.

[2018-07-23 12:38] m4xleb commented on #3822
+1

[2018-07-23 12:40] harryi3t opened #4867 "Issues with Postman console"
There are few issues in Postman console.

1. header keys are lowercased
![postman_console_and_postman](https://user-images.githubusercontent.com/5207331/43076620-65ed5136-8ea2-11e8-964d-bf52f60fc83f.png)

2. Few headers are not shown if the request failed
![pasted_image_23_07_18__6_04_pm](https://user-images.githubusercontent.com/5207331/43076769-e84a7dd4-8ea2-11e8-897a-e203ea307ad6.png)

**App in

[2018-07-23 12:42] harryi3t commented on #3751
I have created a separate issue for postman console here https://github.com/postmanlabs/postman-app-support/issues/4867

[2018-07-23 13:55] shahp00ja commented on #3813
Thanks, everyone on this thread, this has helped a lot.
Any idea, how to send a post request with Authorization "Basic Auth" (username and password combo not token)   [not using token can be a stupid idea but this is just for a sample demo application where I don't have any auth token to access]

**Update**: figured it, just the URL way
url now looks like `http://user:passwd@my_url`

[2018-07-23 14:08] ivok commented on #4696
Yes I confirm that it works. I installed the update and the bug is gone :)

Unfortunately, when I updated the application, it did not run, untill I deleted the user folder. As I sow and other users had this issue also.

[2018-07-23 14:37] nocs00 commented on #6682
+1

[2018-07-23 14:38] ggajews commented on #3013
Is this feature on your roadmap already? Any updates?

[2018-07-23 14:47] vendion commented on #2847
I like this idea and might be an easy way to denote a required param and an optional one. If a param is "disabled" it doesn't show in the example query string but would be in the param table of the generated documentation.

[2018-07-23 14:55] ChadTaljaardt commented on #4320
My team needs this as well, is there any updates on this?

[2018-07-23 14:59] cuzic4n commented on #4488
Just tested it and it works

[2018-07-23 15:55] sujayvenaik commented on #3920
Hey @tanwangzugata @tonyzheng1990
We have released a fix for this and is up on Postman Canary.
Can you verify this once ?

You can get the canary app from : https://www.getpostman.com/canary

[2018-07-23 17:12] bpeake opened #4868 "Postman Not Honoring Proxy Settings"
**Describe the bug**
Postman is attempting to send traffic through my system proxy, even though the use system proxy option is disabled. Sending an API call to localhost is resulting in the call being sent to the proxy. This is resulting in a workflow stoppage since I am unable to debug my APIs as I develop them.

This is a new issue and just started occurring after upgrade to Windows 10 1703 from

[2018-07-23 18:06] simonds commented on #1256
+1

[2018-07-23 18:18] Radnet commented on #2719
Is this feature going to be available soon? We also have a "Postman Pro" account and the release of our product documentation depends on this feature.
Thanks!

[2018-07-23 18:30] #4864 closed, assigned to kamalaknn

[2018-07-23 18:32] kamalaknn commented on #4794
We've pushed a fix for this on the Canary channel. You can download it from - https://www.getpostman.com/canary

We'll be pushing it to the stable channel soon.

[2018-07-23 19:47] SamvelRaja commented on #4822
This fix has been landed in the canary channel.
https://www.getpostman.com/canary

[2018-07-23 20:33] Postman-Gabriel commented on #4862
![](https://postman.zendesk.com/attachments/token/92SVzJkJ4IjSi2VMHyajjKfpq/?name=Screen+Shot+2018-07-22+at+11.56.47.png)

![](https://postman.zendesk.com/attachments/token/h5AqbmGY3W968i2z9n9NmQ2gg/?name=Screen+Shot+2018-07-22+at+12.02.26.png)

additional screenshots about the bug

[2018-07-23 21:59] johnnykang commented on #4852
It looks like if i sign out my current account from Postman, and use a new login, the above works fine !!!

what the ...

did the migration broke my workspace?

[2018-07-23 22:57] mlambley commented on #4742
I'm not sure to be honest. My `Postman OAuth 2.0` window is doing the thing where it opens but just sits there blank. It's happened before. I'll keep trying.

[2018-07-23 23:00] mlambley commented on #4742
Is there any way to debug that window? To see what it's doing? The Postman Console doesn't show any messages.

[2018-07-23 23:21] VitorBrangioni commented on #3232
Same problem, any solution?

[2018-07-24 03:41] prashantagarwal commented on #4862
@gabriel-bronfman-postman If its possible can you try this out on our canary apps and see if it is working there ? You can download it from https://www.getpostman.com/canary

[2018-07-24 04:15] numaanashraf commented on #4868
@bpeake Thanks for reporting this

[2018-07-24 07:07] chimit commented on #2086
Have been waiting for more than 2 years already...

[2018-07-24 07:11] anudeepmedicharla opened #4869 "Fix the position of create new tab"
If we open multiple tabs, the tabs flow into the background including 'create new tab' button. If we fix the position of 'create new button', it would be easier to keep creating multiple tabs without scrolling horizontally.

Concept:
![pixel](https://user-images.githubusercontent.com/16399370/43122469-c38c5944-8f3e-11e8-8a71-b9f493b9ffc2.png)

[2018-07-24 07:38] anudeepmedicharla opened #4870 "Variables are not resolved dynamically"
When you try using a collection variable in an unsaved request, the variable doesn't get resolved, which is expected. Now, when you save the request in the same tab, the variable still gets shown as unresolved. When you send the request, the value is replaced though. I feel this behavior should be dynamic from a UI perspective.

Screenshot:
The variable is {{test}} and the value is "initial".

![s

[2018-07-24 08:21] andig opened #4871 "Code snippets should allow to interpolate vairables"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I need to export requests to curl for sharing with application support. Using code snippets leads to exported request containing variable names (`{{foo}}`)

**Describe the solution y

[2018-07-24 08:25] prashantagarwal commented on #4850
@chrisdeso Can you add a screen recording for this. I am unable to reproduce this with the given steps.

[2018-07-24 08:26] prashantagarwal commented on #4870
@anudeepmedicharla we will be fixing this along with tabs

[2018-07-24 08:34] prashantagarwal commented on #4313
@yishayn Can you share me a sample Json for which it is not working. That will really help in fixing this bug.

[2018-07-24 09:27] Iliyass commented on #4401
Same problem on OS X 10.13.6, Postman Version 6.1.4

[2018-07-24 09:33] Moily commented on #4488
Confirmed as working, so thanks for delivering this fix.  May I propose some improvements to the auth flow?

As it stands expired tokens are left hanging around and need to be deleted manually via the 'Manage Tokens' screen. It would be slicker if the auth tokens were managed by Postman for their lifespan, where they are automatically requested where no valid token is currently assigned to the req

[2018-07-24 10:13] laia89 commented on #1552
+1

[2018-07-24 10:16] fabb opened #4872 "Hide "Authorization/Header" Area"
When working on a small 13" notebook it would be helpful if it was possible to hide the area with "Authorization/Header/etc.".

![header_area](https://user-images.githubusercontent.com/153960/43132234-640b4a82-8f3b-11e8-894f-aa9cc72f8af6.png)

[2018-07-24 10:20] anudeepmedicharla opened #4873 "Postman doesn't remember the search term when I go back in API network"
Steps to reproduce:
1. Go to API network
2. Enter a search term. For eg., 'Paypal'.
3. Click on the collection that appears.
4. Go back.
5. The search term disappears inside the search field.

![screen shot 2018-07-24 at 15 48 31 pm](https://user-images.githubusercontent.com/16399370/43132397-44035d6a-8f59-11e8-8baf-b1fc08e7b75e.png)

[2018-07-24 11:01] guntram commented on #2378
@SamvelRaja using ctrl+B does not do anything in my postman raw json body.
But as a workaround, I can click on "code" on the right side, and there my json data will be shown prettified. I can copy it from there and paste it into the body...

[2018-07-24 11:08] abhijitkane opened #4874 "Create an integration with Atlassian Stride"
Functionality similar to the Slack integration would be very helpful - team activity / monitor run notifications.

[2018-07-24 12:52] Doogiemuc commented on #4785
There is a workaround.  Tested with Postman v6.1.4
Export your collection. Switch workspace. (Re-)import saved .postman_collection.json   Postman will even ask you if you want to copy the collection (into the new workspace) or if you want to overwrite it (meaning move it to the new workspace)

[2018-07-24 13:05] lartie commented on #697
+1

[2018-07-24 13:10] sivcan commented on #4865
@dionescu10 As I can see that you're making post requests through the runner and in the body's form data you're uploading a file.

Files / File paths are never saved in Postman environment and thus the error that's coming up in the console shows that it is unable to upload the form data file.

If the issue is not related to the file data then let me know

[2018-07-24 13:49] JayathmaChathurangani opened #4875 "Check the size of the Request in postman app"
How to check the size of the request in postman app?

When the response is given it mention about the size of the response (body and header separately) which is perfect. Likewise now I want to check the size of the request. Is it possible? If yes, how to do it?

I am using postman app v6.

[2018-07-24 14:33] dionescu10 commented on #4865
Hello,

And how can I solve this issue? Is it possible to work if I change the the type of the variable from “file” to “text” and use the file path?
I already tried this but it doesn’t work. I received an error something like “ You have to select a zip file” but I hope that I have to write the file path in a different way.

Kind regards,
Daniel

From: Sivcan Singh [mailto:notifications@github.com]

[2018-07-24 14:55] alternativ opened #4876 "Cookie Modal removal issue on postman (Prod and Canary)"
**Bug**
When using the cookie manager modal one is able to delete cookies, in previous versions of Postman (6.1.x) it was possible to list all the cookies for a domain and delete them in one go. If I perform this action now and go back to the cookie manager all cookies are still there.

**Reproduce paths**
Steps to reproduce the behavior:

Requirement: Have cookies present in Postman library
1. In

[2018-07-24 16:54] Undistraction commented on #4401
@Iliyass Seems to be an intermittent problem. Some kind of issue with their API. Give it some time and it will probably come back up.

[2018-07-24 16:56] priyalviroja opened #4877 "Detection of pre-existing duplicate collection shall be limited to the workspace in which it is being imported"
**Bug**

While importing a collection in a personal workspace, the app looks for any existing duplicate collection in all workspaces.

**Steps to reproduce the behavior:**
1. Go to 'Team Workspace'
2. Export any 'Collection' created/shared by another team member.
3. Go to "Personal Workspace'
4. Try Import the collection exported in step 2.

**Expected behavior**

On Import, app shall only look fo

[2018-07-24 17:12] priyalviroja opened #4878 "An original collection gets deleted from the App after importing the duplicate collection"
**Bug**

A collection gets deleted from the Team Workspace after exporting and re-importing the same collection in the Personal Workspace.

**Steps to reproduce the behavior:**

1. Go to 'Team Workspace'
2. Export any 'Collection' created/shared by other team member.
3. Go to "Personal Workspace'
4. Try Import the collection exported in step (2)
5. "Replace"
6. Go to "Team Workspace", the collecti

[2018-07-24 17:29] harryi3t commented on #4876
@alternativ Thanks for reporting the issue. I have reproduced the same on my end.
This should be fixed with the next update

[2018-07-24 17:36] tflintio commented on #1535
+1

[2018-07-24 17:59] abhijitkane opened #4879 "No way to go back from the 'Trouble signing in' section in the app"
**Describe the bug**
There's no way to go back from the 'Trouble signing in' section in the app if I accidentally click on it. I can only close the window, go back to the app, and then click 'Add new account' again.

**To Reproduce**
Steps to reproduce the behavior:
1. In the app's signin screen, click 'Trouble signing in'

**Expected behavior**
A back link that takes me back to the signin page

<

[2018-07-24 18:11] harryi3t commented on #4488
@cuzic4n @Moily Thanks for confirming the fix 👍

@Moily This is being tracked here as a feature request https://github.com/postmanlabs/postman-app-support/issues/2452

[2018-07-24 18:17] abhijitkane opened #4880 "Unresolved variable tooltips show a red 'E' icon"
**Describe the bug**
In the URL input, hovering over an undefined variable shows the 'E' icon, even though I have no environment selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Unselect any environment
2. Enter `{{url}}` in the URL input

**Expected behavior**
A `?` icon, perhaps

**Screenshots**
<img width="262" alt="screen shot 2018-07-24 at 23 47 36" src="https://user-images.git

[2018-07-24 18:20] harryi3t commented on #4868
@bpeake This is being tracked here https://github.com/postmanlabs/postman-app-support/issues/3942
Thanks again for reporting, please do subscribe the original issue for updates

[2018-07-24 18:20] #4868 closed, assigned to harryi3t

[2018-07-24 18:21] #4876 closed, assigned to harryi3t

[2018-07-24 18:23] Moily commented on #2452
Now that OAuth2.0 w/ Client Credentials has been fixed this issue will be seen by many more devs.

It would be great to get this implemented. Auto-refresh / Manual refresh (configurable in the Token setup screen, preferably) would be very welcome.

[2018-07-24 18:24] harryi3t commented on #4742
@mlambley You can open the app from command-line. It should show the logs about what's happening.
All the redirections will be logged.
I will also recommend testing the flow in a browser, (use the first URL that you see in the logs).
There is a known issue around handling native prompts. If while testing in a browser you see a native prompt, then it won't work in Postman.

[2018-07-24 20:39] Krgopal opened #4881 "Postman using too much virtual memory in macOs High Sierra"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman is using too much virtual memory in macOS High Sierra (version: 10.13.6). It uses 20 GB of Virtual Memory for the postman. Is it the issue with the collection? I have checked the backup file for the postman,  it is of si

[2018-07-24 20:58] AndreMaz opened #7134 "[Feature Request] - Add CoAP protocol support"
This is a feature request to add support for [CoAP protocol](http://coap.technology/).
CoAP can be seen as a lightweight version of HTTP that is specially designed for Internet of Things.
**Detail**
Since the Web of Things is becoming *the thing* (pun intended) (examples: [W3C](https://www.w3.org/WoT/WG/), [Mozilla IoT](https://iot.mozilla.org/), [OCF](https://openconnectivity.org/)) where even co

[2018-07-24 21:10] tflintio commented on #4078
Is there a work-around for this issue?

[2018-07-25 00:11] davecanderson commented on #4515
We have switched to Let's Encrypt on all our environments now and this problem is making Postman almost unusable.

I think this issue is related to the fact our SSL certificate uses Subject Alternative Name (SAN) entries for the other domains. The api domain where the request succeeds is the Common Name for the cert.

We intend to switch to a wildcard certificate which would probably avoid this is

[2018-07-25 03:57] jayakanth459 commented on #4781
Do you've any update on this? Would you like me to record and share it? please let me know.

[2018-07-25 03:57] fakhrulhilal opened #4882 "App screen doesn't show correctly"
**Describe the bug**
Postman doesn't show correct screen at first load

**To Reproduce**
Just open postman

**Expected behavior**
Postman screen displayed

**Screenshots**
![postman](https://user-images.githubusercontent.com/1755735/43178714-e7ed12dc-8ff8-11e8-8c97-eed1b1eab8f8.jpg)

**App information (please complete the following information):**
 - Native app
 - Postman Version 6.1.4 64bit versi

[2018-07-25 04:12] vebs60719 commented on #4078
work-around for this issue, it is working from Postman Browser App.

[2018-07-25 05:54] kamalaknn commented on #4401
We've made a couple of more changes to the way the Postman app syncs with the Postman servers. This allows the app to sync with the servers in more frequent chunks smaller instead of fewer big chunks. We hope this will increase the overall health of servers which in turn will result in fewer disconnections on the Postman app.

We've started rolling out these starting `6.2` version of Postman. Thes

[2018-07-25 06:08] thecuriousdev commented on #4878
@priyalviroja this is fixed. Available in Postman 6.2.0 or higher.

[2018-07-25 06:11] numaanashraf commented on #4515
@davecanderson Could you try turning off SSL verification via Settings > General and check whether this solves the issue for you?

[2018-07-25 06:21] vkaegis commented on #4880
@prashantagarwal Can we use a red "!" for unresolved variables?
We should probably change the color for the Environment scope from red to something else.