[2018-11-03 15:07] SorenNielsenDK commented on #3706
+1 from me as well. Our API’s require a client certificate in the auth process, and due to security concerns we cannot turn off this feature for testing.

[2018-11-03 16:16] RobinHerzog commented on #1667
+1 need interceptor on Desktop app

[2018-11-04 04:57] prashantagarwal commented on #5391
@Bauerna, this makes a lot of sense. Also, just out of curiosity, is there a particular reason that your application always generates a new collection rather than just updating the existing one. I would also love to know what objective you trying to solve using this. Is it being done as a workaround for versioning for that collection ?

I am just trying to better understand your use case here and

[2018-11-04 05:40] COLTELLAIT commented on #2302
+1

[2018-11-04 07:53] adidaslevy commented on #5469
Thanks,
Disabling hardware GPU acceleration w/a helped.

[2018-11-04 09:14] smamran commented on #2931
https://github.com/linux-bd/ubuntu/blob/master/app/postman.md

[2018-11-04 09:53] MatGarreau commented on #4594
workaround worked for me :-) Thank you @harryi3t

[2018-11-04 11:02] ghisvail commented on #2931
And?

Le dim. 4 nov. 2018 à 10:15, এস এম এমরান <notifications@github.com> a
écrit :

[2018-11-04 13:49] OliverZou opened #5475 "Variable wrong displaying in docs generated by Publish Docs"
## App Details:

[code]

## Issue Report:

 1. Publish Docs any collection
 2. the variables  framed by red rectangle in page are wrong display

[2018-11-04 13:52] #5475 closed, assigned to nobody

[2018-11-04 23:56] apsys commented on #4898
Please bring back Bulk-Edit option. Our team is facing lot of pain to manually copy paste each K,V.

[2018-11-05 00:22] tannermorse commented on #4166
I had the same problem but I found that when generating the code postman defined the global parameters like this: "GlobalParameters": []

Swift is expecting [String : Any] Dictionary.

Defining the Global Parameters as a dictionary like this fixed my problem "GlobalParameters": [:]

I am not sure if you have Global Parameters defined but make sure all your headers are defined as Dictionaries.

[co

[2018-11-05 06:33] dwkrueger2 commented on #882
I couldn't get kamranghiasvand's comment exactly work.  I'm using postman and have collected the information that everyone has provided and wrote a gist for it. Postman is clearly limiting it's data type storage of its environment variables.  This gist exploits the storage of strings as implied above and uses the javascript 'eval'  keyword to load the functions in the scripts where you need it.  I

[2018-11-05 09:15] ankitjaggi commented on #5454
@CloudCray We found an issue with the Github integrations not working correctly from our end. We released a fix last week, which should have solved any updates not going through to Github. Are you still facing issues with this?

[2018-11-05 09:24] sankalp0o commented on #5465
@chrisdeso Why would someone want to have the button disabled?

[2018-11-05 09:38] piltdown64 opened #5476 "Option need to NOT show http verb in tab title"
I was auto-updated to 6.4.4 and found that the http verb now takes pride of place in the tab title to the practical exclusion of everything else so that I pretty much have to guess which tab I want.  Please make a point of having UI changes such as this be able to be switched on/off via settings.

![screen shot 2018-11-05 at 09 32 43](https://user-images.githubusercontent.com/5835423/47990094-8dba

[2018-11-05 10:09] phramusca opened #5477 "Udeletable "My Workspace""
## App Details:

[code]
Note that I have update notifications (6.4.4 (Latest) and 6.4.2) but when I click on Update button, I get a "You are up to date! Postman v6.3.0 is the latest version." popup.

## Issue Report:
After having created an account and logged into PC2, then PC1, on PC1, a new "My Workspace" got added with collections from PC2.
Problem is now on PC1, I have 2 "My Workspace". Only o

[2018-11-05 10:49] ScarellaDev commented on #5448
@numaanashraf

Here there are:
- **CPU:** Intel(R) Core(TM) i7-3720QM CPU @ 2.60GHz
- **RAM:** 2x 8GB @ 1.6GHz

[2018-11-05 11:36] velchev commented on #1499
Much needed feature!

[2018-11-05 11:56] obayit opened #5478 "Show response code on example requests"
Simply show the http response code like it is shown on normal requests.
when the request is set as an example it doesn't show

[2018-11-05 12:36] NikiforosP opened #5479 "Question: How can I iterate a single request?"
## App Details:

[2018-11-05 12:51] science695 commented on #4726
@Rick-Anderson There are 2 ways of getting to settings, both are correct:
- File -> Settings
- Wrench -> Settings

[2018-11-05 13:30] danielmogin commented on #4009
+1

[2018-11-05 14:10] tparikka opened #5480 "Connecting To WCF Service With wshttpbinding"
**Is your feature request related to a problem? Please describe.**
I am trying to connect to a SOAP endpoint. This particular endpoint is hosted by a WCF service and utilizes wshttpbinding, so when connecting to it with a different client and intercepting the request I see it contains all kinds of additional security-related tokens in the headers:

[code]

**Describe the solution you'd like**
I wo

[2018-11-05 14:28] DaviGSilva commented on #3161
If you click in the tab and after use ctrl+tab, the ctrl+enter works. Its a very annoying bug!

[2018-11-05 15:24] migueldiaz66 commented on #3822
+1

[2018-11-05 15:38] douchet-pa commented on #4450
+1
Maybe let export the data through an API to let us get the data in another system (like ElasticSearch).

[2018-11-05 16:22] tintesting commented on #1066
+1

[2018-11-05 16:49] numaanashraf commented on #5479
@NikiforosP Thanks for writing in. We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2018-11-05 16:49] #5479 closed, assigned to nobody

[2018-11-05 18:22] Rick-Anderson commented on #4726
Right, and the instructions omit them.

[2018-11-05 18:31] science695 opened #5481 "Run Example Request in Postman"
I have been saving examples for a request in postman, and I ran into a situation where I wanted to update and re-run the example api request.

Could you add the ability to run/re-run a saved example request?

I'm using:
Postman for Linux
Version 6.2.4

But I'm pretty sure this isn't a bug, but a feature would be a big help.

Thanks!

[2018-11-05 20:09] jrjgh commented on #6682
+1

[2018-11-05 20:21] numaanashraf commented on #5478
@obayit Could you provide a screenshot to clarify your issue? Examples support response codes:
<img width="1124" alt="screenshot 2018-11-05 at 8 20 54 pm" src="https://user-images.githubusercontent.com/3295568/48024362-61cc5780-e138-11e8-9bb5-88597bebdf5f.png">

[2018-11-05 20:23] numaanashraf commented on #5476
Duplicate of #5310

[2018-11-05 20:23] #5476 closed, assigned to nobody

[2018-11-05 20:25] CloudCray commented on #5454
@ankitjaggi - It's working now; manually updating each collection seems to kick off the sync process

[2018-11-05 20:25] #5454 closed, assigned to nobody

[2018-11-05 20:33] numaanashraf commented on #5446
@francesco1119 we are having trouble replicating this at our end. The request succeeds when we send a request to the endpoint mentioned. Could you open Postman Console (View > Show Postman Console), send the request and send us a screenshot of any errors there?

[2018-11-05 21:27] bt-dd commented on #3022
I noticed that the ability to export by Workspace would be possible by recursively calling the Postman API. Made a quick console app to dump Collections/Environments into folders, organized by Workspace.

A little rough around the edges, but here it is for anyone wanting to check it out - https://github.com/bt-dd/Postman_WorkSpace_Downloader

[2018-11-05 22:22] jillpapendick opened #5482 "Version 6.4.4 won't open on Windows 10 machine"
First time download of Postman.  Working on Window10 machine, downloaded the 32 bit and the 64 bit versions.  When I start the app, I get the following screen and nothing opens:

![image](https://user-images.githubusercontent.com/44788971/48030481-0bdebc00-e106-11e8-9e50-2a7108499fc6.png)

I have looked all the other bugs and requests and tried what they suggested with creating environment variabl

[2018-11-05 22:49] jillpapendick commented on #5482
I reboot enough times and removed the AppData\Roaming\Postman folder that it finally opened without issue.

[2018-11-05 22:49] #5482 closed, assigned to nobody

[2018-11-05 23:41] danielmaxsiegel opened #5483 "Searching in Raw and Preview response bodies"
**Is your feature request related to a problem? Please describe.**
A service I work on occasionally returns non-JSON output that's caught in Postman's Raw data section, but not in the Pretty data section. As you can Find in Pretty but not Raw (or Preview), looking for the data we need can be a headache.

**Describe the solution you'd like**
It would be great if we could get the same search feature

[2018-11-06 00:55] MrMatthewDavis commented on #2978
Any update here?

[2018-11-06 01:07] adispennette commented on #4996
I am trying to do something similar to what this thread is describing and having the same issue.  I have looked at the collections that were posted and though they look like they work but unless I am missing something they are not answering the underlying question of why pm.info.iteration is not working.  The documentation says

but the code I am running show a different result:

[code]

The runne

[2018-11-06 07:14] mddanishansari commented on #3822
Any update?

[2018-11-06 08:26] francesco1119 commented on #5446
It now works @numaanashraf .
Not sure why it wasn't working before...
As you can imagine I tried multiple times before opening a ticket with you; you can close it now. Thank you

[2018-11-06 09:04] numaanashraf commented on #5446
@francesco1119 Glad to hear the issue is resolved at your end.

[2018-11-06 09:04] #5446 closed, assigned to nobody

[2018-11-06 09:09] cloverzrg opened #5484 "Option to disable useragent header"
I need post a json without useragent,but when i unset useragent,postman will add a useragent, and when i add useragent in headers, the value is "",but not null.

[2018-11-06 09:49] numaanashraf commented on #5458
@Haeven Thanks for reporting this. This has been fixed in v6.4.4

[2018-11-06 09:49] #5458 closed, assigned to nobody

[2018-11-06 10:01] numaanashraf commented on #5440
Translated:
Post inserting an object using POST
I make a copy of the contents of the body and lap in the body of the PUT
I make some changes, to send to the Update of my system
But does not serialize the object arrives null
as if there were any errors in the uploaded json file
but is the same as the POST inserts

[2018-11-06 10:01] numaanashraf commented on #5440
@EderCascaes could you provide screenshots to explain this issue?

[2018-11-06 10:28] isa56k opened #5485 "Azure AD Microsoft Graph - You can't get there from here - Windows 10 Extension Chrome"
**Describe the bug**
I am trying to read out some o365 calendar data from the Microsoft graph. It appears our domain admins have a policy in place to prevent Chrome from accessing corporate resources without the "Windows 10" extension installed.

**To Reproduce**
Steps to reproduce the behavior:

1. Under Authorization tab set to Type to "OAuth 2.0"
2. Select "Get Access Token"
3. Configure all pa

[2018-11-06 10:31] dejf-js commented on #3331
Seems that Postman is not able to send JSON body together with a multipart attached file.

[2018-11-06 10:36] blackandred opened #5486 "Run all endpoints till selected"
Hi,

I have a feature request, I think it is a nice idea when working with bigger collections. Could potentially save a lot of time.

Given you are on the main view, you browse the list of endpoints.
When you right click on the endpoint you have options such as "Open in new window, duplicate, rename, (...)".
If there would be such feature you could select "Run all endpoints to this moment" - that

[2018-11-06 11:11] ookiisan commented on #3959
Hi! I'm on macOS HighSierra 10.13.6 with Postman 6.4.4 and the issue still persist.

[2018-11-06 11:14] numaanashraf commented on #3959
@ookiisan Could you provide more information? Is this happening for all requests?

[2018-11-06 11:15] numaanashraf commented on #5449
@natarajjk please provide more information on the proxy setting. Is this a system wide proxy config or request proxy config inside Postman?

[2018-11-06 11:27] sivcan commented on #4996
@adispennette
A few things I'd like to point out, I might have misunderstood your use-case so feel free to explain further.

1. `pm.info.iteration === pm.info.iterationCount` will never be equal since `iterationCount` is the number of total iterations whereas `iteration` starts from 0, so it'll always be equal to iterationCount - 1 and not more.
You want to check for `pm.info.iteration === pm.info

[2018-11-06 11:33] natarajjk commented on #5449
Hi Numaan - It is system wide proxy, i have some what solved the issue-doing some regex changes, It is working now. but still loading time for post man is slow via proxy.

[2018-11-06 11:37] sivcan commented on #5486
Hi @blackandred, you might want to look into [pm.setNextRequest](https://www.getpostman.com/docs/v6/postman/collection_runs/building_workflows)

You can basically just run the collection and in the scripts you can define with if statements and basically stop the execution.
You can build really complex workflows around this.

There are multiple issues on github and [Postman Community](https://commu

[2018-11-06 12:21] ZanderZhan commented on #1667
+1 need interceptor on Desktop app

[2018-11-06 14:00] ookiisan commented on #3959
@numaanashraf not all requests. I was trying to execute this simple snippet
<code>
var r = cheerio(responseBody);
console.log(r);
</code>

[2018-11-06 14:16] slawek-survicate commented on #4946
Whats the status? It's the only feature i missing in postman

[2018-11-06 16:39] BuiltInParris opened #5487 "Back and forward arrows for moving through recently accessed tests"
I tried searching the feature requests and couldn't find anything, which was shocking to me. Maybe I just missed it. As a user of postman, I find my biggest gripe is that I often have lots of tests, click off one by accident and want to go back to where I just was. Often, I end up spending a bunch of time clicking through tabs until I find the one I was just on. It would great to be able to have a

[2018-11-06 16:55] g0rd opened #5488 "only /workspaces erroring"
**Description**
/workspaces endpoint throws ESOCKETTIMEDOUT error

**Expected behavior**
Running /environments or /collections works fine with but /workspaces gives this error.

**App information (please complete the following information):**
 - Native App
 - Postman Version 6.4.4
 - OS: MS Windows 10 Pro 64 bit

[2018-11-06 17:42] adispennette commented on #4996
My new code based on your comments
[code]
The resulting console output

The Runner config:

<img width="470" alt="screen shot 2018-11-06 at 9 25 11 am" src="https://user-images.githubusercontent.com/9353714/48081995-3aac6f00-e1a6-11e8-93c6-57d06c768cf0.png">

and the "Run Results" which I stopped manually show:

<img width="164" alt="screen shot 2018-11-06 at 9 32 16 am" src="https://user-images.g

[2018-11-06 19:27] christopherabrooks opened #5489 "Query string values missing from console entry expanded display"
Postman console does not include query string in expanded detail view of log entries.

For example, a request such as "https://www.google.com/search?q=postman" is represented in the expanded console Raw entry as:  "GET /search" without the query string.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman
2. Start Postman Console
3. Create new request definition tab, and paste this

[2018-11-06 20:29] divinebovine commented on #4891
If you want a random guid, you should be able to use `{{$guid}}`.

[2018-11-06 21:00] cphoover commented on #1669
Is this still on the road map??

[2018-11-06 21:48] InsaneDoggo opened #5490 "Search results disappear in Collection Selector UI"
**Action:** saving request to bookmarks.
**Case:** if you enter into folder and reset search it shows weird results

[video example](https://support.getpostman.com/attachments/token/qchk6N6QaYNBpantV47wtjffX/?name=search_bug.mp4)

[2018-11-07 06:07] Bauerna commented on #5391
@prashantagarwal, we have a platform that allows users to identify "flows" within it. We plan on allowing the user to "record" a session within our system and have this be converted to a test suite. This test suite is a test that is run internally but can also be run externally using PostMan (since PostMan allows for scripts). This way, as the user updates the "flow," they are able to test both in

[2018-11-07 07:33] ByPS128 commented on #2452
Hello,
i am using several identity providers that serves access tokens.
When some token expires it is very annoying to refill the fields at "get new access token" dialog. If the dialog will have something like template (via combobox for exampel) and I will have possibility to store dialog as named template or recall template to fill the dialog, I will very appreciate this.
This functionality can b

[2018-11-07 07:45] Ramya-From-Postman opened #5491 "Exporting data from Workspace"
it would be very useful to have the ability to export workspaces. Currently, you can export collections or the entire account. Seems the missing piece is being able to export a workspace.

[2018-11-07 09:22] juewuer opened #5492 "Content-Length calculation error when some key not selected in body"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I use POST method, body select x-www-form-urlencoded, i make 3 key and values, and only select two, but Content-Length should be the two key length, but now it is three total, although the not selected not contained in the body

[2018-11-07 10:05] Ocsidot commented on #3574
I confirm that this issue is still active. Could you please fix this?

Regards

[2018-11-07 10:25] sivcan commented on #4996
@adispennette Import this collection in your postman app and please look at the 'Pre-request' script of 'Sample Request 1'.
I have provided the steps and explanation there.
Collection Link: https://www.getpostman.com/collections/1de22fd02391e6026f7b

Let me know if you still have any confusion.

[2018-11-07 10:34] j-ulrich commented on #4845
A simple way to achieve this would probably be to give access to the current collection (or even all collections by something like `pm.getCollection('Collection 1')`).
Then one can dig out the request using the [collection API](https://www.postmanlabs.com/postman-collection/Collection.html).

[2018-11-07 11:57] skuda opened #5493 "Define temporary folder or disable json response creating"
**Is your feature request related to a problem? Please describe.**
I am frustrated by the constant files with the filename format "${uuid}-response.json" Postman creates in my /tmp directory

**Describe the solution you'd like**
Being  able to disable this behavior

**Describe alternatives you've considered**
Being able to define a different directory to those JSON generated files, I use /tmp a lo

[2018-11-07 12:39] shaunsational commented on #4594
I just got the app for the first time (v6.4.4) and this issue was happening to me as well.  the system variable fixed the issue here too.  I'm running Win 8.1 on a Lenovo Y50-70 laptop if that helps.

Although I didn't have to logout/restart. I just added the variable and ran the app

[2018-11-07 13:32] pfazzino opened #5494 "When switching team workspaces, collections are duplicated"
When switching team workspaces, collections are duplicated.

Postman client 6.4.4. on Ubuntu 18.04.

See video - https://www.dropbox.com/s/fbitfr4rqvw03gg/postman.mp4?dl=0

[2018-11-07 13:38] lorinc commented on #2050
yepp, still open. And while there are tutorials out there how to do this, it is also loud and clear - people are choosing other products, because of the friction Postman adds to this feature

[2018-11-07 13:42] simonvane opened #5495 "Make environment variable editing easier"
- allow edit popup to be resized in all directions
- allow copying to another environment so that when I'm setting up a local, dev. stage etc. I don't make typos or have to open and close environments (allow value change on copy)
- allow environment variables to be grouped (e.g. by application in an environment)
- allow variables to be renamed across environments and usages i.e.. in environments,

[2018-11-07 13:46] simonvane opened #5496 "Allow duplicate params"
I have an endpoint that supports odata filters. I want to add several request params with the key $filter and then enable the one I want to use e.g.
$filter=lastName eq 'Smith'
$filter=ToLower(lastName) eq 'smith'

[2018-11-07 13:49] feizeikesi commented on #4808
+1

[2018-11-07 14:06] lorenzleutgeb commented on #2361
Could you please motivate why the client ID and the client secret have to be known? Maybe I missed something, but I think that just the base URL before the `/.well-known/openid-configuration` is required. Also note that this might not be just a domain name, but really a URL, as exemplified in the referenced spec.

[2018-11-07 14:18] dharezlak commented on #1667
+1 need interceptor on Desktop app

[2018-11-07 14:24] thomaslevesque commented on #2361
The client ID is always a required parameter, in all authentication flows. The client secret is required in some flows (client credentials, authorization code without PKCE). It's not possible to obtain a token without these parameters.

[2018-11-07 14:24] stofte commented on #1014
Would be very nice with a clear button. I have dozens of collections with no idea whats in them (none of this is sync'ed of course). Half of them are "OtherCollection copy", with randomly modified requests that I really have no desire to keep around.

[2018-11-07 14:28] iamVP7 commented on #1667
Would love to see interceptor.. Seems Chrome apps will be stopped soon

[2018-11-07 14:28] Ramya-From-Postman opened #5497 "Incorrect warning being displayed when request URL & name are edited at the same time"
**Describe the bug**
When you edit the request name & URL at the same time & hit save, it should ideally save the changes, instead, it displays a conflict warning as shown below which is irrelevant.

**To Reproduce**
Steps to reproduce the behavior:
1. dirty the request by editing the URL & name then click on save.

**Screenshots**
![image](https://user-images.githubusercontent.com/40994626/481371

[2018-11-07 14:39] cardosomarcos commented on #1669
@cphoover  Yes, it is. You can check the roadmap here:
https://trello.com/c/u4DE4WU8/58-graphql-support

[2018-11-07 14:45] lorenzleutgeb commented on #4636
Pardon me, but with collections that obviously encourage working on multiple projects it seems quite stupid that authentication cannot be configured the same per-collection/per-project way...

[2018-11-07 14:49] lorenzleutgeb commented on #2361
OK, then this was a misunderstanding. It was mentioned since it is required to get a token, not since it is required to get the discovery information...

[2018-11-07 14:53] navid-farjad commented on #1070
its really needed, i would like to show Correct examples first to use and then listing Wrong request examples. but new its a bit mess in my list, people dont understand it as they see bad example first!

[2018-11-07 15:58] bmoyer240 commented on #2096
👍 +1 even a simple implementation [at first] would be awesome e.g. modifying a json file.

[2018-11-07 16:19] matthew-macartney commented on #4172
+1

[2018-11-07 18:01] JP-from-Postman opened #5498 "GitHub integration: Delay in changes to test/pre-request scripts showing in repo"
(user reported)

**Describe the bug**
When using the Postman-GitHub integration, there is a significant delay (from minutes to hours) in edits to pre-request and test scripts being reflected in the repo.

Changes to the following request properties appear to sync in more-or-less realtime:
- URL
- Headers
- Params
- Body

When changes are made to a script, and then to (e.g.) the request URL, the UR

[2018-11-07 18:57] tomershay commented on #4128
@numaanashraf, I thought I'd give the new Canary version a try, but it seems the issue occurs again in the latest version as well.

I thought I would add more information that may help to resolve this issue.
It seems that once I run the collection runner, the memory of the "PostmanCanary Helper" process starts to climb significantly. Once it reaches a few GBs (about 3-4GB), the screen goes black.

[2018-11-07 19:15] yo-epicdavid commented on #5403
It's not only curl, it's all code generated is missing the Authorization header

[2018-11-07 19:18] yo-epicdavid commented on #5453
This isn't only macOS. Same thing happens on windows and on the browser. Here's a link to our [docs](https://docs.paytomorrow.com/), the authentication request is missing the Authorization header. It's confusing some of our users unfortunately.

[2018-11-07 19:41] bargar commented on #3007
@watsonix this would definitely be useful in some cases but not what's being asked for, I believe. The desire here is to be able to automatically set an environment variable from an access token coming back not from a manual Postman call to the access token URL, but from the otherwise quite powerful and streamlined [Postman Oauth 2.0 Auth UI](https://www.getpostman.com/docs/v6/postman/sending_api_

[2018-11-07 19:52] joelgetaction commented on #1669
@cardosomarcos thanks for responding.  I took a look at the Trello card but the last activity was August 2017 when it went to "planning" ... That was more than a year ago.

I would like to move my team to a paid Postman plan, however lack of GraphQL support is holding us back.  Any ETA for when this will be done?  We'd rather stick with Postman than switch to another tool, but we really need Graph

[2018-11-07 20:30] m-stilling commented on #2716
@vkaegis Can't you close this now? Also thanks a ton! :)

[2018-11-07 20:37] travi commented on #2716
@mich356c thanks for the comment. got me to download the latest version and see the update :)

so much better. thank you everyone for getting that taken care of 🎉

[2018-11-07 21:08] bargar commented on #3820
@harryi3t you're mentioning something useful, but it's the reverse of what the feature request is (if I understand correctly).

What would be really nice would be able to leverage the awesome OAuth 2.0 UI that Postman offers, and have it _automatically set the obtained access token as an environment variable_, one usable by any api that refers to that environment variable going forward. In this wa

[2018-11-07 21:48] allenrcochran1 commented on #3022
I got as far as downloading your tool, then found this in Postman:

![image](https://user-images.githubusercontent.com/43894877/48163166-8e9d7d80-e2a4-11e8-995a-63bd9de97ecc.png)

[2018-11-07 21:59] bt-dd commented on #3022
@allenrcochran1 - I ran across that option in settings as well. Issue is, it exports the data flattened. So, when you go to import elsewhere it won't organize things by workspace. All your collections/environments from various workspaces will be imported into the single workspace you are currently under the context of on new account.

If that isn't a deal breaker though, it works fine.

[2018-11-07 22:01] dchBrandify commented on #4631
Is this feature implemented?

[2018-11-07 22:37] allenrcochran1 commented on #3022
Ah, got it. Thanks for the clarification.

[2018-11-07 23:49] JP-from-Postman opened #5499 "Pro Team: Team members report not being able to join workspaces, or publish collections"
**Describe the bug**
User report:

Members of Postman Pro team encounter an error message when attempting to join team workspaces. Issue appears to affect all team members.

<img width="458" alt="edited" src="https://user-images.githubusercontent.com/43283131/48168569-93fac800-e2a4-11e8-8aee-43da1fc73aad.png">

Members also report being unable to publish collections. Unknown if this is related.

*

[2018-11-08 01:26] allyn-psyonix opened #5500 "Updating postman appears as though it did not update"
**Describe the bug**
Initial version: **6.4.4**
Latest available: **6.5.2**
When attempting to update Postman via "Help -> Check for Updates", Postman indicated that 6.5.2 was available. After choosing the option to update it appeared to not update. The app remained open and presented a popup indicating "You are up to date! Postman v6.4.4 is the latest version." This contradicted the earlier note

[2018-11-08 01:27] allyn-psyonix commented on #5500
Given that Postman does appear to have updated successfully this seems to be a minor issue; just the popup and lack of auto-restart are misleading.

[2018-11-08 05:12] arif-arrijal commented on #2819
+1,  this feature will be very helpful

[2018-11-08 09:37] rkeet commented on #5173
How could I force the `Automatically persist variable values` to be turned off for shared Collections though? Is that possible during the pre-request scripts?

When using shared Workspaces with multiple environments, the "Intial values" get shared among people in the workspace. This however causes a need to store the value somewhere. I'm not real keen on sharing production passwords (e.g. for admi

[2018-11-08 09:44] stantond commented on #4639
This is still broken. Why was the work cancelled?

@ethanjcohen still can't get this working. Where exactly did you put these spaces?

[2018-11-08 10:06] claudiodangelis commented on #5500
The homepage link to latest release points to version 6.4.4: https://dl.pstmn.io/download/latest/linux64
[code]

Might be related to this issue?

[2018-11-08 10:18] robin-dongbin commented on #5096
Same bug, And I found that there is no `Content-Type: application/x-www-form-urlencoded` when Add in the Body at least 2 x-www-form-urlencoded parameters

[2018-11-08 10:38] vkaegis commented on #5065
@tijaune Thanks for writing in! Have you considered using environment variables in place of the values? With variables, you can specify "current" values which are local to your machine, while still publishing the actual key (with a blank value if you wish) along with the documentation.

[2018-11-08 11:13] MuizMahdi commented on #6682
+1

[2018-11-08 14:10] kamalaknn commented on #4848
We've fixed this in the latest version of Postman. Please update to the latest app and let us know if the issue still exists.

[2018-11-08 14:10] #4848 closed, assigned to numaanashraf

[2018-11-08 15:09] a85 commented on #166
This feature is available in production now. Rolling out to all users this week!

[2018-11-08 15:10] #166 closed

[2018-11-08 15:11] a85 commented on #1429
This feature is in production now and rolling out to all users!

[2018-11-08 15:11] #1429 closed, assigned to prashantagarwal, vkaegis

[2018-11-08 15:12] a85 commented on #2729
GET methods can have a body now. The feature is out in production with 6.5+
<img width="543" alt="screenshot 2018-11-08 07 11 59" src="https://user-images.githubusercontent.com/653409/48207528-abc66080-e325-11e8-9467-4e291607b99d.png">

[2018-11-08 15:12] #2729 closed, assigned to a85

[2018-11-08 15:14] a85 commented on #622
This feature is out in production now with 6.5+

[2018-11-08 15:14] #622 closed

[2018-11-08 15:19] a85 commented on #1710
This is available in 6.5 now!

[2018-11-08 15:19] #1710 closed, assigned to a85

[2018-11-08 15:35] eidylon commented on #166
This looks awesome! Exactly perfect! Kudos to the team! 😎

[2018-11-08 15:44] aappleton commented on #1475
+1

[2018-11-08 15:51] tijaune commented on #5065
@vkaegis Hello, I already used environment for Authentication settings like ClientId, ClientSecret, ApiUrl. I did considered using environment variables but I had feeling it was wrong. With multiple controllers (collections), each having their section of variables, it seems unnatural to have to dive in environment edit to modify a parameter for the query.

The easiest thing I see on development pe

[2018-11-08 16:05] rejas opened #5501 "Postman wont start for user in domain"
**Describe the bug**
Trying to install the latest (6.4.4) version of postman since the chrome app will be retired soon

**To Reproduce**
Steps to reproduce the behavior:
1. Run installer on Win10

**Expected behavior**
Installer runs through and opens postman automatically. This works when I run as a local Administrator. Files are installed into the Admins AppData/Local/Postman dir though, which I

[2018-11-08 16:12] Tantalor93 commented on #2617
+1

[2018-11-08 16:15] modosteve opened #5502 "Get current postman user name"
Need to get current logged in Postman user name in order to populate a variable used in shared collection. This allows users to search logs for the requests they submitted. This is primarily used for testing purposes.

[2018-11-08 18:00] gibffe opened #5503 "pm.sendRequest scoped settings"
I'm having issues disabling 'follow redirects' when using `pm.sendRequest` - changing this setting globally does the trick, but I have to keep toggling it on/off for different cases.

Is there an easy way to interact with this setting from pre-request script ?

[2018-11-08 20:18] adeane43 opened #5504 "Ability to change a test script and run it again on the same response body"
Many times when writing a test script, I make typos or syntax errors that cause the script to fail. Since in the current version of the application you must send an entirely new request in order to ensure your test script is error-free, this usually ends up with me sending about 5 or 6 different calls for each new test that I write.

What I would like is the ability to rerun the test script for a

[2018-11-08 21:21] GregoryPellegrin commented on #1066
+1

[2018-11-08 21:45] richbowen opened #5505 "Toggling sidebar via keyboard doesn't change 'Show/Hide Sidebar' button state"
**Describe the bug**
When the sidebar is toggled via the keyboard shortcut; `Ctrl+\`; the 'Show/Hide Sidebar' button icon doesn't change state (i.e. whatever changes the active/inactive color for the button doesn't get triggered).

**To Reproduce**
Steps to reproduce the behavior:
1. Click `Ctrl+\` to toggle the sidebar
2. Observe the 'Show\Hide Sidebar' button at the bottom left, it's color chang

[2018-11-08 22:33] allyn-psyonix opened #5506 "Allow moving top-level folders"
**Is your feature request related to a problem? Please describe.**
Apologies ahead of time, I am pretty frustrated because the lack of what I consider a pretty obvious feature lost me some work. **The main issue is that top-level folders cannot be moved.**

We have one folder that is the parent for all of our automated tests to keep them separate from manually-run tests. While preparing a set of n

[2018-11-09 00:14] JP-from-Postman opened #5507 "Response alternates between statuses 401 and 200"
(User reported)

**Summary**
Response alternates between statuses 401 and 200 every other time the request is sent, but only via the Postman client.

Same request via cURL works without issue.

[filed by Postman]

[2018-11-09 00:17] chrisdeso opened #5508 "Blank Dashboard on Windows Explorer & Chrome"
**Describe the bug**
The postman dashboard isn't rendering in the browsers below

* Chrome: Version 68.0.3440.75 (Official Build) (32-bit)
* Internet Explorer 11 Version 11.0.9600.19129CO

**To Reproduce**
Steps to reproduce the behavior:
1. Open browsers (versions) above
2. Navigate to [app.getpostman.com](https://app.getpostman.com)
3. See blank screen :)

**Expected behavior**
Team/User related

[2018-11-09 02:18] godfrzero commented on #5508
Any errors in the console? @chrisdeso

[2018-11-09 05:48] bhargavkaranam commented on #5192
This issue has been fixed in the latest version (6.5.x) of the Postman app.

[2018-11-09 05:48] #5192 closed, assigned to bhargavkaranam

[2018-11-09 05:49] bhargavkaranam commented on #5107
Thank you for reporting this. This issue has been fixed in the latest version (6.5.x) of the Postman app.

[2018-11-09 05:49] #5107 closed, assigned to bhargavkaranam

[2018-11-09 05:49] bhargavkaranam commented on #5031
This issue has been fixed in the latest version (6.5.x) of the Postman app.

[2018-11-09 05:49] #5031 closed, assigned to bhargavkaranam

[2018-11-09 05:49] bhargavkaranam commented on #3885
This issue has been fixed in the latest version (6.5.x) of the Postman app.

[2018-11-09 05:49] #3885 closed, assigned to bhargavkaranam

[2018-11-09 05:54] Ramya-From-Postman opened #5509 "Postman native app keeps failing to open while logging in via SSO"
Hello, I tried to use AD FS as our SSO login. We followed the instructions to set up on both Postman and our AD. When I tried to use the login URL, https://identity.getpostman.com/sso/adfs/$$$$$$$$$$$$$$/init, I received a 500 error. However, we figured out that we had imported an incorrect x.509 certificate. After correcting the x.509 certificate, we managed to login to Postman from our browsers.

[2018-11-09 06:05] harryi3t commented on #4128
@sh-tomer Thanks for your input. Could you let us know what version of Postman (Canary) you are using? Also, if you could give us the following information, that would really help us debug and fix this issue.
 - Total no. of requests sent in one collection-run (If not using [setNextRequest](https://www.getpostman.com/docs/v6/postman/scripts/branching_and_looping) it will be same as the no. of requ

[2018-11-09 07:52] vkaegis commented on #5495
@simonvane Thanks for writing in! We're actively working on a bunch of improvements around working with variables, so watch out for those in the coming versions. That said, have your tried using Find and Replace to rename variables across environments? Just hit Cmd + Shift + F to try it out.

[2018-11-09 08:08] vkaegis commented on #4782
Hey @franksands, closing this for now. Feel free to open another issue if you feel this does not suit your requirement.

[2018-11-09 08:08] #4782 closed, assigned to vkaegis

[2018-11-09 08:26] mattwmj commented on #2853
+1

[2018-11-09 08:38] simonvane commented on #5495
Thanks, that's great to hear. I wasn't aware of the find functionality. That's looks really helpful.

I'm using Windows. I've found the Find functionality using Ctrl + Shift + F and that finds everything. Is replace a manual process that this helps with or is there a way to replace as well. I couldn't see a way to do it.

It would be really helpful if the find was shown in the Edit menu to make it

[2018-11-09 08:40] simonvane commented on #5495
Ignore the replace question. I wasn't on the latest version. I've updated to v6.5.2 and the replace is there.

[2018-11-09 08:51] vkaegis commented on #5495
@simonvane Perfect! I'll keep this issue open as a feature request for the other points you raised.

[2018-11-09 09:02] shadyyx opened #5510 "Left panel missing URLs for all endpoints (collection)"
**Describe the bug**
After downloading the latest version of Postman for Ubuntu 18.04 x64 and adding a collection of endpoints through importing a `swagger.yaml` file, I do not see any URL in the left panel. I tried changing the default light theme to dark, collapsing and expanding the collection, collapsing and expanding the left panel with no change.

**To Reproduce**
I am not sure if the same s

[2018-11-09 09:03] simonvane commented on #5495
Just to reiterate in case it got missed, it would be really helpful if Find and Replace was shown in the Edit menu to make it more discoverable.

[2018-11-09 09:03] vkaegis commented on #5065
@tijaune That makes sense. Another possible avenue to explore is to use collection variables instead, but these don't show in the documentation right now.

Keeping this open as a feature request for now.

[2018-11-09 09:04] vkaegis commented on #2716
Awesome. Feel free to open another issue if you have more feedback around this. Closing this for now.

[2018-11-09 09:04] #2716 closed, assigned to vkaegis, sujayvenaik

[2018-11-09 09:08] harryi3t commented on #5510
@shadyyx Thank you for reporting this bug. Could you post some screenshots showing this issue? Also, if possible, please share a sample swagger.yml file which while importing re-produces this issue consistently.

[2018-11-09 09:34] ash007-postman opened #5511 "Using browser cookies in postman?"
when will be the feature of syncing the cookies from our browsers to postman will be implemented? It was mentioned to be in the plan last year, just following up with it.

[2018-11-09 09:52] vkaegis commented on #4619
Hey @Bopper1892, thanks for writing in. While we work on usability improvements to the authoring flows around environments, we've disabled clicking outside to dismiss a modal. You'll need to explicitly click on the "Close" icon, the "Cancel" or "Update" buttons to dismiss the modal. Closing this issue for now.

[2018-11-09 09:52] #4619 closed, assigned to vkaegis

[2018-11-09 09:58] vkaegis opened #5512 "Add Find and Replace as a context menu option on selecting a set of characters"
**Is your feature request related to a problem? Please describe.**
As mentioned in #5495, the Find and Replace future would be more discoverable and contextual if the right click menu options on selecting a set of characters allowed users to search for that query.

**Describe alternatives you've considered**
The alternative is to open Find and Replace and manually enter the query.

[2018-11-09 10:12] InsaneDoggo opened #5513 "In app link to bug tracker"
Would be nice to have an option like "Report bug" which refers to Github issues page.
P.S. I know about  "Github" item inside "Help" group, but it's unclear that Postman uses Github's tracker not the other.

[2018-11-09 10:15] shadyyx commented on #5510
Sorry, I forgot to attach the screenshot - here it is ![screenshot](https://user-images.githubusercontent.com/1033137/48255851-2a96c880-e40e-11e8-826f-0e1ce1c3c06c.png)

A sample swagger that can be used to reproduce the problem is attached here as well.
[test-swagger.zip](https://github.com/postmanlabs/postman-app-support/files/2565459/test-swagger.zip)

[2018-11-09 10:18] InsaneDoggo commented on #5513
The same about "Request feature" case.

[2018-11-09 10:23] shadyyx commented on #5510
I can confirm the left panel displays the URLs properly when created directly through Postman (New collection -> New Request -> giving a proper name).

I also can confirm the endpoints imported from `swagger.yaml` do not have their names filled in at all, as by editing such and endpoint and giving it a name - proper URL (which is empty in the edit modal window) displays that URL correctly in the l

[2018-11-09 11:02] aynacisevda commented on #4198
Hi sivcan,

I could not multiple run's of a collection / folder in parallel.
<img width="950" alt="potman" src="https://user-images.githubusercontent.com/44896069/48259011-b5d08800-e427-11e8-9a0a-b4bf07922d62.PNG">
What is the problem,could you help me please?
Could you give some details about the parallel execution steps?
Postman for Windows
Version 6.5.2

[2018-11-09 14:12] priyabagee commented on #5508
irrelevant comment removed - sorry about the confusion

[2018-11-09 14:16] godfrzero commented on #5508
@priyabagee Which URL are you trying to access? And do you see any errors in the console?

[2018-11-09 14:30] priyabagee commented on #5508
See this video to understand the behaviour - https://www.useloom.com/share/220c924cc6094f3d8e8d48a33b0a2c0f

Basically i am launching postman app from chrome webstore - it is failing

[2018-11-09 14:31] priyabagee commented on #5508
I am not very sure if that is what the original reporter is trying to say as well. I may be adding wrong details into the bug

[2018-11-09 15:08] sivcan commented on #4198
Hi @aynacisevda,
As explained above here: https://github.com/postmanlabs/postman-app-support/issues/4198#issuecomment-366191980
You cannot have runner execute the requests of a collection in parallel during a SINGLE RUN.
Runner always executes 1 REQUEST PER RUN at any given point of time.

However,
You can run multiple 'runs' of each collection parallely.
As mentioned here https://github.com/postm

[2018-11-09 15:31] ScarellaDev commented on #5448
I tried opening Postman alone, right after restarting my computer and it crashes too while I can have Webstorm & Chrome opened with 39 tabs pinned all day long without any problem.

[2018-11-09 17:55] godfrzero commented on #5508
Looks like a different issue. Can you open a separate ticket for this? @priyabagee

[2018-11-09 19:39] tomershay commented on #4128
Sure @harryi3t, happy to provide more information to help resolve this issue.
Answering with the same order as the questions.

- Version: 6.5.0-canary04 (6.5.0-canary04)
- 249 requests
- Estimating avg response at around 10-50KB. Please note though, that this issue occurs before actually running any tests using the collection. It happens when starting the collection runner.
- No, running only one

[2018-11-09 19:52] breale1008 commented on #2559
I am experiencing a similar issue, but it only occurs when I'm attempting to upload a file. Related endpoints that don't require file upload on the same server work just fine. Also, my coworkers don't experience any issues with the exact same request that hangs for me, so it's got to be something on my side.

As above, postman console doesn't have much of interest (displays a perpetual "Response H

[2018-11-09 22:38] abhijitkane commented on #5499
Additional details: The team has 76 members. The workspace has 46 collections, 4 envs, 2 integrations, and 37 members.

[2018-11-10 00:13] makuc commented on #2096
At let us be able to ***disable*** shortcuts all-together if you can't make it possible to disable only *certain* shortcuts we don't really need (like changing my workspace for no apparent reason... When I try to enter @ character).

[2018-11-10 00:16] makuc commented on #2707
Could you at least let us be able to disable shortcuts or (better yet) disable only a certain shortcut if you have to make the whole thing hard-coded?

[2018-11-10 00:17] makuc commented on #2707
It's been more than a year since you've been made aware of this issue (Alt Gr screwing with us), so the least you could do would post us an update...

[2018-11-10 01:44] Alv3s commented on #7134
What is the status on this? Is it something we could have soon?

[2018-11-10 08:00] shamasis commented on #7134
The addition of new protocols to Postman seems to be best done via a plugin system in Postman. We are working on the plugin abstraction as I type this. That work has been a bit on and off for a while since it requires us to really think through the interface and may even need to overhaul parts of our code. Hence cannot give a timeline yet.

However, as a first cut - are you looking at full CBOR sp

[2018-11-10 08:36] sujayvenaik commented on #5443
Hey @xtevezerickx
Thanks for writing in and for reporting this issue.
This issue has been fixed in the latest version (6.5.x) release of the Postman app.

[2018-11-10 08:36] #5443 closed, assigned to sujayvenaik

[2018-11-10 08:38] sujayvenaik commented on #5310
Hey @AppChris @txdmatthias

We have addressed this and added a configuration using which you can enable/disable tab icons.
This can be found under the UI Section of Settings.

[2018-11-10 08:38] #5310 closed, assigned to vkaegis, sujayvenaik

[2018-11-10 08:39] sujayvenaik commented on #5403
Hey @maclir @Snesi

Thanks for writing in and for reporting this issue.
This issue has been fixed in the latest version (6.5.x) release of the Postman app.

[2018-11-10 08:39] #5403 closed, assigned to sujayvenaik

[2018-11-10 08:40] sujayvenaik commented on #5363
Hey @funketyme

Thanks for writing in and for reporting this issue.
This issue has been fixed in the latest version (6.5.x) release of the Postman app.

[2018-11-10 08:40] #5363 closed, assigned to sujayvenaik

[2018-11-10 08:41] sujayvenaik commented on #5359
Hey @Witti

Thanks for writing in and for reporting this issue.
This issue has been fixed in the latest version (6.5.x) release of the Postman app.

[2018-11-10 08:41] #5359 closed, assigned to sujayvenaik

[2018-11-10 10:54] abelzoltan commented on #4009
+1

[2018-11-10 11:24] natemcintyre commented on #4631
Huge +1 for getting this implemented. Would be fantastic to be able to set a header for all my requests rather than having to remember to set them each time I create a new request in a collection.

[2018-11-10 11:28] AndreMaz commented on #7134
@shamasis thanks for your reply.

CBOR spec could be optional as I can easily test my API with plain text or JSON as content type.

What I'm looking for is a tool that supports the core spec ([CoAP](https://tools.ietf.org/html/rfc7252) + [CoAP Observe](https://tools.ietf.org/html/rfc7641) + [CoAP Block-Wise Transfer](https://tools.ietf.org/html/rfc7959)).

I think that the core spec would be enoug

[2018-11-10 12:53] chforsb commented on #5310
Nice, I just updated, and now I will save a lot of time on not having to randomly tap on taps to get the one I want!

Best Regards,

Chris

From: Sujay Venaik <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Saturday, 10 November 2018 05:38
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Chris Forsberg <chrisforsbe

[2018-11-10 14:55] Alv3s commented on #7134
On my case, we are developing an IoT solution with a REST API gateway, thus we are using json instead of CBOR. We have considered using CBOR but for now we are focusing on Json. We were very keen to use Postman for Integrations Tests, as the team is already familiar with it. As far as we know, there are no tools for integratiosn test for CoAP (neither Json, plain text or CBOR).

[2018-11-10 15:43] yava-ua commented on #4079
+1

[2018-11-10 17:33] dwkrueger2 commented on #1757
I think the best way would be to create an environment variable
pm.environment.set("KeepRunningTests", "true");

then in your script
pm.test(...blah
{
// at begining
pm.environment.set("KeepRunningTests", "false");
   if (pm.environment.get("KeepRunningTests" === "true")
    // run tests
   else
        console.log("Aborting test:  previous tests failed");

// at end -- which will only run on succ

[2018-11-11 13:58] harryi3t commented on #5510
@shadyyx I just checked the behavior with multiple old versions of Postman.
Seems like in version 5.x, the URL was being used as the request name, which is not used after version 6.x

This is a screenshot taken on v.5.5.3 with your collection
<img width="303" alt="postman" src="https://user-images.githubusercontent.com/5207331/48313706-376e1480-e5e6-11e8-8827-d437fc8681c8.png">

Looking at the [ac

[2018-11-11 15:01] firewave-remo opened #5514 "Postman window does not open but is shown in the taskbar when adding flags to chrome"
**Describe the bug**
Postman window does not open but is shown in the taskbar.

This happens since i have added  `--remote-debugging-port=9222` to the target property in the file explorer properties of chrome. When i reinstall Postman i can open postman once until i have shut down all instances of chrome (in task manager) and reopen a normal chrome window. After this it is not possible anymore to

[2018-11-12 01:39] a85 commented on #5377
This seems to be fixed now.

[2018-11-12 01:39] #5377 closed, assigned to godfrzero

[2018-11-12 01:41] a85 commented on #5457
Hmm. Archiving resets the collection request limit automatically so you can continue using team workspaces.

[2018-11-12 02:01] preethammavin commented on #5500
@allyn-psyonix we roll out our versions in a staged manner, hence you might have found a rare time where it was switching between rollout and paused. We will look into making the experience better

[2018-11-12 02:02] #5500 closed, assigned to SamvelRaja, vkaegis

[2018-11-12 04:25] chrisdeso opened #5515 "Dark Mode – Skipped Tests Text Issue"
**Describe the bug**
`Skipped Tests` text in response section is black against dark grey background when using dark theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable dark mode
2. Submit a request with a test
3. Go to Test Results
4. Go to Skipped when no tests have been skipped

**Screenshots**
![image](https://user-images.githubusercontent.com/4734306/48326718-a2701900-e5ef-11e8

[2018-11-12 04:54] eyalzoref commented on #5457
But, it I got to the limit, ot would be helpful to able to open archive and
delete some data so I could continue working with the collected data so far.

בתאריך יום ב׳, 12 בנוב׳ 2018, 03:41, מאת Abhinav Asthana <
notifications@github.com>:

[2018-11-12 05:19] RogerLiNing opened #5516 "Json response formatting and visualization"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I call a resutFul API to get Json data like this:
![image](https://user-images.githubusercontent.com/18111035/48327982-c0378f80-e67c-11e8-9f66-99d5ff6e44a3

[2018-11-12 05:35] kamalaknn commented on #5516
@RogerLiNing If you've selected `Auto` as the language, we try to detect the language based on the content type of the response. Can you check if your content type correlates to JSON? Can you send us a screenshot of the the response headers section?

Also you can manually change the language setting from `Auto` to `JSON` to force format the response in `JSON` format. You can also go to settings an

[2018-11-12 05:47] RogerLiNing commented on #5516
![image](https://user-images.githubusercontent.com/18111035/48328898-36d68c00-e681-11e8-9132-ae7a8e49cbc0.png)

**You are right, that works! Thank you!**

**Postman v6.5.2**

[2018-11-12 06:02] harryi3t commented on #5474
@jaywhar Thanks for reporting this issue.

@codenirvana I was able to reproduce this. Here's a collection that reproduces this
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/1e97cf1b468de7feab9f)

[2018-11-12 06:06] harryi3t commented on #5470
@TikunAPI You can use [variables](https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables) for this purpose

Depending on the use-case, you can put the variable having the token in environment, globals, or collection variables.
After this, you just need to update the token once and then all the requests can use the same token.

[2018-11-12 06:10] kamalaknn commented on #5516
@RogerLiNing Thanks for clarifying this.

As you can see `application/javascript` content type does not map to JSON type and that's why Postman did not auto format the response.

I'm closing this because this is not an issue with the Postman app itself. Thanks.

[2018-11-12 06:10] #5516 closed, assigned to sujayvenaik

[2018-11-12 06:15] RogerLiNing commented on #5516
Thank you! @kamalaknn

[2018-11-12 06:36] jagathjanani95 opened #5517 "Not able to launch postman app 6.5.2 Windows 8"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2018-11-12 06:42] kamalaknn commented on #5517
Hi @jagathjanani95

Can you give us some details to help us debug this issue?

Can you send a screenshot of the error you are seeing? Can you also send the logs from `View -> Developer -> View Logs in Explorer`?

Also which version were you on before updating Postman?

[2018-11-12 06:51] jagathjanani95 commented on #5517
Hi,
 
Please find the below screenshots.
 
Previous version used is 5.5.3 for which am getting the below error and also am not able to find any logs.
 
Error Screenshot for version 5.5.3 
 

 
Error Screenshot for version 6.5.2
 
 

Regards,Janani M
-----Original Message-----From: "Kamalakannan" <notifications@github.com>Sent: Monday, 12 November, 2018 12:12pmTo: "postmanlabs/postman-app-support"

[2018-11-12 06:52] jagathjanani95 commented on #5517
 

-----Original Message-----From: "jagathjanani_manoharan@thbs.com" <jagathjanani_manoharan@thbs.com>Sent: Monday, 12 November, 2018 12:21pmTo: "postmanlabs/postman-app-support" <reply@reply.github.com>Cc: "postmanlabs/postman-app-support" <postman-app-support@noreply.github.com>, "Mention" <mention@noreply.github.com>Subject: Re: [postmanlabs/postman-app-support] Not able to launch postman app.

[2018-11-12 07:00] vkaegis commented on #5487
@BuiltInParris Thanks for writing in! We have a bunch of improvements around working with tabs scheduled for the next few releases. Watch this space for updates!

[2018-11-12 07:01] aynacisevda commented on #4198
Thanks for your help Sivcan.

[2018-11-12 07:22] elssar commented on #5509
@Ramya-From-Postman I'm having trouble reproducing this. It would help if you can provide the app version and platform you are using.

[2018-11-12 07:32] SamvelRaja commented on #5517
Hi @jagathjanani95

Could you zip and send the logs from `C:/Users/[USERNAME]/AppData/Roaming/Postman/logs` folder?

Also, the screenshots are not attached to your previous comment.

[2018-11-12 07:59] vkaegis commented on #4493
@JebediahSpringfield Thanks for the inputs! We've added CTAs to create requests in the empty state for all collection menus. We're working iteratively on improving the experience around working with folders and collections, so stay tuned for more updates! Closing this issue for now, feel free to open another if you have more feedback.

[2018-11-12 07:59] #4493 closed, assigned to vkaegis

[2018-11-12 08:04] jagathjanani95 commented on #5517
![5 5 3](https://user-images.githubusercontent.com/44961505/48334042-540a5b00-e67f-11e8-990d-941acf0d2493.JPG)
![6 5 2](https://user-images.githubusercontent.com/44961505/48334050-5b316900-e67f-11e8-81a0-33b7d0919827.JPG)

[2018-11-12 08:04] jagathjanani95 commented on #5517
Attached the screenshots.

[2018-11-12 08:44] jagathjanani95 commented on #5517
Hi,

Attached the screenshots.

Regards,
Janani

-----Original Message-----
From: "SamvelRaja" <notifications@github.com>
Sent: Monday, 12 November, 2018 1:02pm
To: "postmanlabs/postman-app-support" <postman-app-support@noreply.github.com>
Cc: "jagathjanani95" <jagathjanani_manoharan@thbs.com>, "Mention" <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] Not able to launch

[2018-11-12 08:49] SamvelRaja commented on #5517
@jagathjanani95 can you kindly zip and send the logs from C:/Users/[USERNAME]/AppData/Roaming/Postman/logs folder? to help[at]getpostman[dot]com
?

[2018-11-12 08:51] jagathjanani95 commented on #5517
PFA. [logs.zip](https://github.com/postmanlabs/postman-app-support/files/2571182/logs.zip)

[2018-11-12 08:54] jagathjanani95 commented on #5517
[main.log](https://github.com/postmanlabs/postman-app-support/files/2571204/main.log)
[renderer-shared.log](https://github.com/postmanlabs/postman-app-support/files/2571205/renderer-shared.log)
[renderer-shell.log](https://github.com/postmanlabs/postman-app-support/files/2571206/renderer-shell.log)

[2018-11-12 08:55] SamvelRaja commented on #5501
Could you check whether the app got installed in `C:\Users\[USER]\AppData\Local\Postman` folder?
Also, kindly check the user has access to `C:\Users\[USER]\AppData\` and `C:\Users\[USER]\AppData\` folders

[2018-11-12 09:08] SamvelRaja commented on #5478
@obayit  We are closing this issue for now for inactivity. Feel free to re-open this.

[2018-11-12 09:08] #5478 closed, assigned to nobody

[2018-11-12 09:24] vkaegis commented on #4449
@JacopoKenzo Hey, as of 6.4, you can now set current values for all your shared variables. These values are local to your session and don't affect other users working with the same variable.

Closing this issue for now, feel free to open another if you have more feedback around this.

[2018-11-12 09:24] #4449 closed, assigned to a85, preethammavin

[2018-11-12 10:08] rejas commented on #5501
Yes, the app got installed into that folder. User permissions are set also. Like I wrote: When I switch to a local admin account it works (installing ADN running Postman). But as my normal user I cannot start Postman.exe Are there any logs where program starts are logged that I could send you?

[2018-11-12 10:09] vkaegis commented on #4388
@mr-newell @brianbellon With v6.4, we've added a [DELETED] prefix to tabs whose base request has been deleted. This should help you identify any such requests open in tabs. I'm keeping this feature request open as we're considering adding a configuration which will automatically remove these tabs.

[2018-11-12 10:19] vkaegis commented on #4647
@MikeCook9994 Thanks for writing in! I understand the importance of this feature request, but creating a duplicate makes it harder for us to manage them. :(

As for an update, this is not under active development just yet. We are quite thorough in going through any Github issues around features under active development, so I wouldn't worry about #2494 getting overlooked. Closing this for now.

[2018-11-12 10:19] #4647 closed, assigned to a85

[2018-11-12 10:27] shadyyx commented on #5510
Hi.

I was thinking about this quite a lot. I thought the request URI is what I want to see, as I was used to this from previous versions of Postman (I was using the older Chrome app before).

But the more I was thinking the more I was convincing myself the _summary_ is better. Not only it gives direct information about the request it also makes/teaches us to write better (short self-describing) s

[2018-11-12 10:27] #5510 closed, assigned to harryi3t

[2018-11-12 11:07] vkaegis commented on #4278
@roukmoute Could you verify if this issue still persists? Regarding the top level navigation shortcuts, we've been working on a simpler way of navigating the interface, so we've temporarily disabled these. The shortcuts shown in the Settings modal are the ones we support at the moment. We're also working on making shortcuts customizable.

Closing this for now, feel free to open another issue if yo

[2018-11-12 11:07] #4278 closed, assigned to vkaegis

[2018-11-12 11:08] oooarthur commented on #4687
Same here. Postman consistently increases memory usage even when idle. Have to restart several times a day. infinitely worse when Collection Runner is open. Have tried with just one collection active - no joy.

[2018-11-12 12:36] harryi3t commented on #5467
@raynaldgirard Could you also share the screenshot of the postman console? Is it where you saw the `WebKitFormBoundary7MA4YWxkTrZu0gW--`?
Also, 6.5.2 is out. Please update the App and try this again.

[2018-11-12 12:41] DjGimli commented on #5517
**App Details**
Native App
Version 6.4.4
Operating System: High Sierra (10.13.3)

My app isn't crashing, but is failing to load. When i open the app it gets to the loading page in the screenshot below but then does not go any further.
![image](https://user-images.githubusercontent.com/19625866/48347777-30431700-e677-11e8-880b-fd41ad2404df.png)

Checking the log files in `/Postman/logs` the only er

[2018-11-12 13:04] raynaldgirard commented on #5467
![image](https://user-images.githubusercontent.com/5655593/48349155-708f9e80-e651-11e8-9da5-767185c6080d.png)

Same thing with 6.5.2 version !
Thanks

[2018-11-12 13:28] dannyhajj opened #5518 "Example title is too short in the dropdown list of examples"
### Describe the bug
**The title of saved examples is too short in the Postman application. Can it be larger?**

However, this is not the case in the online documentation. As in the online documentation, it can fit more letters.

### To Reproduce
Steps to reproduce the behavior:
1. Save an example under Postman, and give it a semi-long name.
2. Click on the list of examples in the dropdown inside

[2018-11-12 14:01] HaraldKorneliussen opened #5519 "Let us disable auto-closing of brackets and quotes"
Postman tries to helpfully insert closing brackets and quotes, and swallows them if it thinks you didn't really mean to insert a closing bracket there (usually because it's already inserted one there itself - but not always).

I think this feature gets more in the way than it's helpful. I don't think it's even fully consistent with how automatic brace insertion works in other editors. I'd rather n

[2018-11-12 14:08] dsidirop commented on #2050
Well can't argue with this logic. Man has a point here.

[2018-11-12 17:35] avasenin commented on #5425
right now it's working. looks like it was updates on recaptcha side related to this.

[2018-11-12 17:35] #5425 closed, assigned to nobody

[2018-11-12 18:15] rjpcomputing commented on #5419
Any updates on this? There have been a few releases and this is still broken. Any idea when this is going to be worked on?

Thanks.

[2018-11-12 18:42] g0rd opened #5520 "/environments endpoint sending wrong information"
**Describe the bug**
/environments endpoint is not responding with correct data

**To Reproduce**
1. call /environments endpoint with correct information

**Expected behavior**
1. Should see all the environments available to you. (In my case there are 6 environments as shown in the screenshots)

**Screenshots**
![image](https://user-images.githubusercontent.com/8823811/48368054-a5ffb080-e680-11e8-

[2018-11-12 19:00] abhijitkane commented on #5520
@g0rd The API only returns environments that _belong_ to you (created by you). The environments you see on the app/web are those in your selected workspace, which may have been created by you or someone else in your team. Can you confirm this? We're looking at ways to control what the API returns, but have no ETA yet.

[2018-11-12 19:18] nenad-mitic-bg commented on #1667
+1 for interceptor for desktop app

[2018-11-12 19:41] g0rd commented on #5520
@abhijitkane thanks for a quick reply. You are correct. I have only created 1 of 6 environments and I am only seeing that one. Usually it wouldn't matter if I can or cannot see all the environments but to set-up CI pipelines, I need the info on different environs. It would be a nice middle-of-the-road solution to see the basic info like uid, name etc for all environs.

[2018-11-12 20:45] netosha commented on #1667
+1 need interceptor on Desktop app

[2018-11-12 21:28] abhijitkane commented on #5450
@NeilAttewell Can you contact us at help@getpostman.com, with the URL of the online docs? Mention the Github issue ID in the email - we'll investigate why it's not showing up.

[2018-11-12 21:33] abhijitkane commented on #5459
@JamKage Are you referring to the 'Authorization' header that's added to the request?

The client ID/secret aren't saved with the collection - the OAuth2 flow needs user input to get the access token. We're looking at ways to auto-refresh the tokens (https://github.com/postmanlabs/postman-app-support/issues/2452), and we might be able to persist OAuth data to the collection after that.

[2018-11-12 21:37] abhijitkane commented on #5518
@SamvelRaja Can we add a tooltip to the example if the text is ellipsified?

[2018-11-12 21:37] abhijitkane commented on #5518
@vkaegis Currently marking as a bug - there's no way to see the example's name unless you click on the list item.

[2018-11-12 21:41] abhijitkane commented on #5439
@zootyzoot This is a known limitation. As a workaround, you can use Newman to upload files while running a collection - http://blog.getpostman.com/index.php/2014/11/15/using-newman-to-run-collections-with-file-post-requests/

[2018-11-12 21:41] abhijitkane commented on #5439
Related to https://github.com/postmanlabs/postman-app-support/issues/812

[2018-11-12 21:42] abhijitkane commented on #5520
Understood - we'll work on getting this added to the API

[2018-11-13 00:35] abhijitkane opened #5521 "Unable to add users to workspace"
The user is part of a 15-member Pro team, and is inviting a team member to a team workspace. There's a "There was an error updating the xyz workspace" error notification on the web dashboard. Logging out+in+retry doesn't help.

Postman trace ID: `v=1;t=c75e27f2fb0b228b`

[2018-11-13 03:54] gaohuia commented on #710
I think the redirection should be reflected in the PostMan Console like Chrome Network Panel, so it can be discovered easily. It shows only one rather two for now.

[2018-11-13 03:54] gaohuia opened #5522 "I think the redirection should be reflected in the PostMan Console like Chrome Network Panel, so it can be discovered easily. It shows only one rather two for now."
_Originally posted by @gaohuia in https://github.com/postmanlabs/postman-app-support/issue_comments#issuecomment-438124787_

[2018-11-13 04:30] eastwood commented on #4852
The same here, updated to latest mac version and still receiving this issue :(

[2018-11-13 04:34] johnnykang commented on #4852
@harryi3t perhaps it is time to reopen this issue and investigate further?

[2018-11-13 05:57] sujayvenaik commented on #5451
This is fixed in v6.5.2

[2018-11-13 05:57] #5451 closed, assigned to nobody

[2018-11-13 05:57] sujayvenaik commented on #5452
This is fixed in v6.5.2

[2018-11-13 05:57] #5452 closed, assigned to nobody

[2018-11-13 07:44] DoingLee commented on #1667
+1 need interceptor on Desktop app

[2018-11-13 08:53] d0sse opened #5523 "Native App Mac No Retina Support"
Hello,
In last version of Postman App (6.5.2) on a MacBook Pro, the UI not supporting Retina and all elements Images and Texts are blurry!

<img width="546" alt="screen" src="https://user-images.githubusercontent.com/16508608/48401686-fed75380-e729-11e8-9514-780cbc874940.png">

Can you help me to solve this issue please, I bother my eyes!
Thanks and regards.

[2018-11-13 09:09] bastos71 commented on #1669
Any idea of a release date ?

[2018-11-13 09:50] sivcan commented on #5430
We have released the fix on our stable channel, kindly update your app to the latest version.

[2018-11-13 09:50] #5430 closed, assigned to nobody

[2018-11-13 09:52] sujayvenaik commented on #5411
Hey @guillaumelcv

We have fixed this in the latest v6.5.2
Thanks for writing in and reporting this issue.

[2018-11-13 09:52] #5411 closed, assigned to nobody

[2018-11-13 10:11] manishbhatt94 commented on #1104
Has this feature landed in Postman app? If yes, how to use it?

[2018-11-13 10:13] benschmi commented on #4186
Same issue in 6.5.2
Removing the no-cache and Postman tokens doesn't help.

[2018-11-13 10:25] h5chauhan commented on #3519
I duplicated some folders and then was trying to delete them now I can not delete those folders anymore

[2018-11-13 10:54] jamakal commented on #5459
Hi @abhijitkane, apologies, 'headers' was not the correct term to use - I am referring to the values of all the fields shown in the screenshot above. These do not end up being persisted when the collection is exported.

The problem is that I would like to export all of the field values on the 'Get new access token' screen such that anyone importing my collection will be able to generate new access

[2018-11-13 11:14] diegoventuri7 commented on #3390
+1

[2018-11-13 11:22] kartech11 commented on #4785
agree, would love to have this feature

[2018-11-13 11:52] lukaszflorczak commented on #4703
Hi! I have black screen for some time too. I currently have 6.5.2 version. The black screen appears about 2 minutes after the start. I tried `POSTMAN_DISABLE_GPU` but it doesn't work. When the black screen appears, in the terminal is this info:

<img width="1052" alt="zrzut ekranu 2018-11-13 o 12 41 41" src="https://user-images.githubusercontent.com/1818979/48411761-d14ad400-e742-11e8-9048-f01197f

[2018-11-13 11:53] muhammadbahrami commented on #1947
please add

[2018-11-13 12:10] moonanddoris commented on #1667
+1 need interceptor on Desktop app

[2018-11-13 13:05] Solom00n opened #5524 "Request is not available in the root subtree"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I encounter this recently but it's the first time I try to duplicate a collection.

 2. Expected behaviour:
If I right-click on an entire collection and then click "duplicate", I expect my collection to be duplicated. What really happens: absolutely nothing at first sight. Same behaviou

[2018-11-13 13:14] marczahn opened #5525 "Exeuting examples"
Hi,

this is a feature request/wish:

#### From my point of view it would be nice if I would be able to execute examples as well as the actual request config.

I stored my requests with some sample parameters which I then use on demand. This means that I sometimes need to remove or add parameters - depending on what I need at this moment which is a little annoying with the time.

[2018-11-13 13:23] m3dbedb commented on #2833
Win 7 32 6.5.2 still the same issue, RDP, intel video on host PC, radeon on terminal. Looks like it happens depend on amount of opened collections or there are some collections that works good and other that cause the bug. Note that I launch the app this way: C:\Users\gagarin\AppData\Local\Postman\app-6.5.2\Postman.exe --disable-gpu and POSTMAN_DISABLE_GPU parameter is set "true".
**UPDATE**
Same

[2018-11-13 15:46] qrayven commented on #3390
+1

[2018-11-13 17:13] ddjonline commented on #1667
+1 need interceptor on Desktop app (at least allow us to select the value that the Origin would be set to (ex: localhost, hostname, hostname.domain, etc.) from a set list of values).

Esp. since the Chrome extension isn't available if the desktop version is already installed.

[2018-11-13 17:58] simonvane opened #5526 "Make it easier to delete environment variables"
I am using the Find feature to check if my environment variables are in use. When they aren't I want to delete them.

It would be helpful to either:

1. Allow delete from an environment direct from the find results.
1. Be able to filter the variables in the environment edit screen so that I can easily delete the matching ones so that I don't have to scroll through and find the ones I want to delet

[2018-11-13 18:15] abhijitkane commented on #5509
@elssar  v6.4.4 on Windows

[2018-11-13 18:35] kelsonic commented on #4009
+1

[2018-11-13 19:15] Lavanya1689 commented on #3251
Same issue in 6.5.2

[2018-11-13 21:14] mshauny commented on #3518
This issue is still there on postman v6.5.2 (which is the latest) on windows. omit the port number in localhost, so instead of localhost:5000, you just specify localhost. Which kind of makes sense for postman not to work. Thanks to @adamlc  for recognizing that.

Thanks to @harryi3t  for clarifying, this is the expected behavior

[2018-11-13 21:47] numaanashraf commented on #5331
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2018-11-13 21:48] #5331 closed, assigned to nobody

[2018-11-13 21:48] #5270 closed, assigned to nobody

[2018-11-13 21:49] #5413 closed, assigned to nobody

[2018-11-13 21:51] meatvest commented on #4677
I need TLS 1.2 in order for my existing API through Postman to continue.  Can you please provide an update?

[2018-11-13 22:38] vanessaklee commented on #1066
+1

[2018-11-13 23:47] numaanashraf commented on #4526
Duplicate of #3694

[2018-11-13 23:47] #4526 closed, assigned to vkaegis

[2018-11-13 23:48] numaanashraf commented on #5481
Duplicate of #3694

[2018-11-13 23:48] #5481 closed, assigned to nobody

[2018-11-13 23:49] numaanashraf commented on #5525
Duplicate of #3694

[2018-11-13 23:49] #5525 closed, assigned to nobody

[2018-11-13 23:50] numaanashraf commented on #3116
Duplicate of #3694

[2018-11-13 23:50] #3116 closed, assigned to a85

[2018-11-14 00:09] numaanashraf commented on #5522
Duplicate of #4474

[2018-11-14 00:09] #5522 closed, assigned to nobody

[2018-11-14 00:19] scottanthonymorin commented on #4899
@abhijitkane Any news here?

[2018-11-14 00:38] jimnist commented on #3959
this is happening for me.
whenever i do something with cheerio, then try to `console.log()` a result, it hangs.
os x 10.14 with version 6.5.2

[2018-11-14 02:22] hopeseekr commented on #166
I've waited longer than most of my projects have been alive for this feature!

[2018-11-14 02:51] chrisdeso commented on #4639
@ankit-m Friendly bump!

[2018-11-14 04:13] kamalaknn commented on #5368
Hi @dsouzawilbur

This issue has been fixed in the latest version of Postman - `6.5.2`. Please update to the latest version of Postman and let us know if you are still seeing this.

[2018-11-14 04:13] #5368 closed, assigned to kamalaknn

[2018-11-14 05:08] harryi3t commented on #3518
@mshauny That is not a workaround, that's how it's is supposed to be used. Please see the [comment](https://github.com/postmanlabs/postman-app-support/issues/3518#issuecomment-401298505) for more details.

[2018-11-14 05:14] harryi3t commented on #5467
@raynaldgirard I didn't realize that the output was from a generated snippet. But that should not affect in any way the request that is actually being sent.
You can open the "Postman Console" to see the actual request being sent out.

Also, this looks like an issue with the local server that is parsing the body. To confirm this you can try sending the same body to a different endpoint like `https:

[2018-11-14 05:19] harryi3t commented on #4852
@johnnykang Sure
I was not able to reproduce this the last time. If possible, could someone post a screen recording? That would really help us debug and fix this issue.

[2018-11-14 05:24] harryi3t commented on #3251
@adeniltonbs @dacloutier @Lavanya1689 @barbareek
The error that you see in the Postman Console is actually just a warning. Earlier Postman would not even send the request and error out if one of CRT file or Key file was missing. We fixed it by removing the restriction. Now, if only one file is used, we log the warning and continue sending the request.

If this is not working out for you as expecte

[2018-11-14 06:20] mshauny commented on #3518
@harryi3t  correct, I did recognize that after checking the RFC, hence I said it made sense for postman not work. Apologies, wrong choice of words and thank you for clarifying that.

[2018-11-14 09:08] vkaegis commented on #3998
@jooleeanh @tobiashochguertel This should be fixed now, closing this issue. We've disabled the Esc shortcut to dismiss. As @a85 mentioned, workflows around authoring / editing collections and folders will become much cleaner once they're in tabs. Feel free to open another issue if you have more feedback around this.

[2018-11-14 09:08] #3998 closed, assigned to vkaegis

[2018-11-14 09:43] Ramya-From-Postman opened #5527 "Monitor Scheduling on a weekly & monthly basis"
It would be great if you provide an ability to schedule a monitor run on a weekly, monthly basis or to be able to choose custom date & time range.

[2018-11-14 09:48] benschmi opened #5528 "x-amz-server-side​-encryption header for AWS Signature not recognised"
**Describe the bug**
When using the authentication method "AWS signature" und adding the valid header "x-amz-server-side​-encryption:AES256", a PUT and POST returns the following error (taken from Postman console):

`Error: Header name must be a valid HTTP Token ["x-amz-server-side​-encryption"]`

**To Reproduce**
Steps to reproduce the behavior:
1. Use AWS signature for authentication and use cor

[2018-11-14 10:01] VicKetchup opened #5529 "Postman monitors timing out when run on schedule"
**Describe the bug**
First time happened on 12/11
Some of our scheduled monitors time out during the scheduled run. In console it can clearly be seen that the run has finished, however it takes just over 5 minutes and timeout error is thrown:

[code]

Running the monitor manually will result in successful run that takes ~2 minutes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create multi

[2018-11-14 10:16] StasKharkov commented on #5527
That would be an awesome and very usefull feature, for example, I have a collection which I need to run and monitor every month or every 4 weeks.

Think everyone who uses Postman Monitoring would greatly benefit if a flexible/customizable scheduling for monitoring would exist, **please make it happen Postman Team!**

[2018-11-14 10:26] godfrzero commented on #5527
@StasianQA You can do this directly via the API, even though it's not exposed via the UI. As long as you can specify a CRON pattern to represent the times you want the monitor to run, you can update the monitor to use that pattern via the API.

[2018-11-14 10:29] godfrzero commented on #5529
@VicKetchup At what point is the message `NODE MBaaS - DE (Test) finished` logged? Are there any requests in the collection after this?

[2018-11-14 11:08] apboon commented on #2724
+1
(I am amaziballzed that this is still not included.. would be easy to implement..)

[2018-11-14 11:17] VicKetchup commented on #5529
@godfrzero Those are the last 4 lines of the log, all requests have finished at that point.

[2018-11-14 11:18] godfrzero commented on #5529
Could you shoot us an email at help@getpostman.com with the monitor ID? If you can share the collection as well, that'd speed things up too.

[2018-11-14 11:33] cbillins commented on #4594
The environmental variable workaround worked for me. Currently using v6.5.2, Server 2012 R2.
@harryi3t Thanks!!

[2018-11-14 12:07] vkaegis commented on #3798
Hey guys, this is now available. You can refer to this blog post for more details: http://blog.getpostman.com/2018/10/16/run-in-postman-is-now-available-for-linux/

Feel free to open another issue if you have more feedback around this.

[2018-11-14 12:07] #3798 closed, assigned to SamvelRaja

[2018-11-14 13:16] raynaldgirard commented on #5467
@harryi3t  thanks for your reply. Again, it's working with curl but not with postman
![image](https://user-images.githubusercontent.com/5655593/48484964-92ba2580-e7e5-11e8-8f0f-3fa38f34dfa8.png)

[2018-11-14 13:22] raynaldgirard commented on #5467
![image](https://user-images.githubusercontent.com/5655593/48485311-7cf93000-e7e6-11e8-8aa4-74941f15459e.png)

[2018-11-14 13:29] raynaldgirard commented on #5467
for your echo service, it seem not able to use my Windows identity because I have error 407 on the proxy
![image](https://user-images.githubusercontent.com/5655593/48485626-55569780-e7e7-11e8-8caf-38d9c7e9ba3b.png)

[2018-11-14 14:22] vkaegis commented on #3363
Hey @LouVaiano, you should be able to override initialised values of variables with "current" values now. Closing this issue, feel free to open another if you have more feedback around this.

[2018-11-14 14:22] #3363 closed, assigned to a85

[2018-11-14 14:39] ankitjaggi commented on #5488
@g0rd We found the issue which was causing this. We'll release a fix for this soon and I'll let you know once that happens.

[2018-11-14 14:42] FelixButzbach commented on #4677
1+

[2018-11-14 14:43] wspencer commented on #2086
+1.  Incredibly annoying.  Ever tried using your own product in a production environment?

[2018-11-14 14:48] vkaegis commented on #3269
@saiudayakella @steven-bailey The response section in the builder has been updated so that you can download the response retrospectively once the response has been received. In this case and in the runner, we don't throw a save dialogue anymore. Closing this issue for now, feel free to open another if you have more feedback on this.

P.S. This doesn't automatically download the PDF though, if that

[2018-11-14 14:48] #3269 closed, assigned to vkaegis

[2018-11-14 14:57] meatvest commented on #4677
What does "1+" or "+1" mean?  That you want the same thing, or that the capability will be added?

[2018-11-14 15:10] jaykhimani commented on #4785
Want it (now).

[2018-11-14 16:31] FelixButzbach commented on #4677
@meatvest it means I also would like this to be implemented or looked into.

[2018-11-14 18:26] sankalp0o commented on #3274
@stianlagstad @chenkirk @eastonharvey
We're working on a more elaborate role based access control system. As part of this, we're moving away from users having "ownership" of team resources. Users will be able to have roles on the collection instead. I think this will fit in with everything I've read in this thread.
I'll post updates when we have them. While we're working on this, I'd be interested

[2018-11-14 18:40] slowblow commented on #3525
It is necessary we are able to identify a token through variables in function of environment selected. When will it be enabled variables in Token Name?

[2018-11-14 19:08] eastonharvey commented on #3274
@sankalp0o
Great to know, thank you for the update. My feedback would be to have standard yet robust roles. This would include:
- The owner can make others owners (Owners have read/write access to the shared resources)
- Owners can add users and give users (read only or read/write access to the shared resources)

This would be very useful for the teams I'm on

Thank you again!

[2018-11-14 19:10] jpuck commented on #3390
@vkaegis I'm curious, what is the `ADP` label for? Should I get excited this issue is getting some traction?

[2018-11-14 19:45] FallenGameR commented on #1475
+1

[2018-11-14 22:32] BKnights opened #5530 "Allow Developers with a pro license to be added to a customer's pro workspace at no extra cost."
**Use Case**
I am a developer doing a number of API projects.
I have customers who I get to purchase a Postman Pro license for doing mocking
What ends up happening is that my customer shares their login with me (bad for security) because really they tend to be only 'looking' at the project that I am developing.

My customer doesn't object to their $8/month and as long as it's just me and the custo

[2018-11-15 00:26] rdkls commented on #3390
I just set up docker image to solve by converting v3 => v2

`docker run --rm -v $PWD:/tmp -e OPENAPI_FILE=swagger.yml rdkls/openapi2swagger > swagger.openapiv2.yml`

Also includes free bitcoin miner!
(j/k but pls check dockerfiles before running ...)

(thanks juan-lb on github, and  LucyBot-Inc/api-spec-converter)

[2018-11-15 00:31] stellis commented on #3390
@rdkls Thanks for sharing this, but it's not going to solve the problem for some of us.

v3 has features that can't be converted back down to v2 losslessly. One example is [anyOf](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/).

I recently tried a v3-to-Postman converter and the results were a disaster. There were response headers moved into the request parameters, among

[2018-11-15 03:29] ashwani-kumar04 commented on #1180
Hi,
I also faced this issue as maintaining js code in separate files makes more sense. I created a gulp plugin and a sample project to replace the javascript code in the Json using Gulp build. The plugin is still in its early stage and I am in the process to put together a how-to guide for the same.
It can be found here:

[Npm plugin](https://www.npmjs.com/package/gulp-postcol)
[Sample project](ht

[2018-11-15 03:35] akw123 commented on #3566
+1

[2018-11-15 05:38] mfyz commented on #285
+1

[2018-11-15 06:22] harryi3t commented on #4917
@godfrzero Works in the latest version of Postman 6.5.2

[2018-11-15 06:22] #4917 closed, assigned to nobody

[2018-11-15 08:37] DavydeVries commented on #3525
I guess never, because this issue is over a year old now. And they give evasive answers soo...

[2018-11-15 09:00] vkaegis commented on #3094
@Bharwcb Here's some reference material for setting session values for variables: https://www.getpostman.com/docs/v6/postman/environments_and_globals/sessions

You can also go through this blog post which best explains differences in how these variables values work: http://blog.getpostman.com/2018/08/09/sessions-faq/

Closing this issue, feel free to open another if you have more feedback around t

[2018-11-15 09:00] #3094 closed, assigned to vkaegis

[2018-11-15 10:10] vkaegis commented on #2948
@justux90 @powelski You should be able to open relative URLs from the response in tabs now. Just for clarification, Postman allows you to open relative URLs in the response in a new tab where we automatically append the base URL to it. We also now have variables with which you can reuse these values.

We don't yet have the ability to open it in a browser, but I can mark that as a feature request f

[2018-11-15 10:12] vkaegis commented on #2945
Hey @HaraldNordgren, we intentionally keep the status codes neutral since some users intentionally test their requests for erroneous response codes, where an implementation like this could cause false positives.

I'm keeping this as a feature request for being able to configure how you want to represent the codes though.

[2018-11-15 10:15] justux90 commented on #2948
I think it would be fine to have in app viewer only

Sent from Yahoo Mail on Android

  On Thu, 15 Nov 2018 at 12:10, Vineet Kumar<notifications@github.com> wrote:
@justux90 @powelski You should be able to open relative URLs from the response in tabs now. Just for clarification, Postman allows you to open relative URLs in the response in a new tab where we automatically append the base URL to it.

[2018-11-15 10:28] maudrid commented on #1667
Postman native proxy is useless to me if it does not support HTTPS (And I dont see how this support can be added to the proxy).
Interceptor seems like a great solution to capture secure requests to the native app.
Until there is a solution for this I will keep using the chrome app as long as I possibly can.

[2018-11-15 10:32] maudrid commented on #3013
Please add your votes here:
https://github.com/postmanlabs/postman-app-support/issues/1667

[2018-11-15 10:53] vkaegis commented on #2899
@aroemen @huseyin-kilic The Find and Replace feature is now available on the native apps. You can refer to this blog post for more information: http://blog.getpostman.com/2018/11/13/find-and-replace-text-code-and-variables-in-postman/

Fine tuning your exports is not really on our immediate roadmap, so if you're satisfied with this solution, I'm gonna close this issue. Feel free to open another if

[2018-11-15 10:53] #2899 closed, assigned to a85, vkaegis

[2018-11-15 11:56] nlrcmani commented on #2803
for working with json set header X-Requested-With to XMLHttpRequest

[2018-11-15 12:14] farisfawaaz commented on #4374
i deleted /home/user/.config/Postman folder on ubuntu 18.04.1 and it started working for me and since it synced all my collections i didn't have to worry about them. hope this helps.

[2018-11-15 12:57] jamesfrankman commented on #4300
Postman Chrome is deprecated, but I cannot switch to the Desktop version until this defect is fixed. Can you please provide an ETA on when this will be addressed?

[2018-11-15 15:24] lukeocodes commented on #285
@rlogiacco I wonder if it needs to be a JS prompt? Couldn't it be a modal? They could trigger their own event when variables are unset. I assume they've given it a great deal of thought, given the attention on this issue.

[2018-11-15 15:59] MisinformedDNA commented on #4374
I believe my workaround worked until Postman was updated again. So I would have to perform the workaround each time Postman was upgraded. Sigh.

[2018-11-15 16:18] Crucial2K commented on #1475
+1

[2018-11-15 16:24] gregoirefra commented on #1475
+1

[2018-11-15 19:17] sbrendtro commented on #2978
I think I'm not alone in being a bit frustrated that it's been over a year and a half with no movement on this. I just posted the following feature request in the community forum, as apparently commenting here has zero effect.  I also emailed Postman corporate and tweeted at the CEO.  Hopefully someone somewhere is listening.

https://community.getpostman.com/t/gitlab-private-servers/3294

[2018-11-15 20:40] g0rd opened #5531 "Endpoint returning images times out"
**Describe the bug**
We have an endpoint that returns an image and every time I run it it returns a socket timeout error. I am suspecting that postman is currently not capable of handling such requests. Hence, I am posting this in a feature request.

If you think this is bug and you require more information I will be happy to share

[2018-11-15 21:09] PushyPants commented on #3822
+1

[2018-11-15 21:35] awalakaushik commented on #4862
Hi, In my case, I have a folder inside of a collection. I don't have any requests in it. When I try to delete it, postman says, "**Unable to delete this folder**". Can somebody help?

[2018-11-15 21:43] fdterr commented on #3822
+1 for sure on this

[2018-11-15 22:13] curtisgibby commented on #2716
In the future, it might be helpful to include a comment on an issue like this, saying something along the lines of "Fixed in version 6.5.2, released on November 1, 2018" or whatever, so that people who've been following this issue know that they can now get a new version that resolves their concern.

[2018-11-15 23:01] Psypher9 commented on #5517
I had this problem just today after updating to 6.5.2 yesterday. In my particular case I use a pinned Start menu shortcut so I looked at the Properties for that shortcut. It was still pointing to the `6.4.2` version at:
`<the_rest_of_the_path>\Postman\app-6.4.2\Postman.exe`

So I updated the shortcut path to:
`<the_rest_of_the_path>\Postman\app-6.5.2\Postman.exe`

This made it so that I could laun

[2018-11-15 23:03] powelski opened #5532 "Don't display file paths as hyperlinks"
I'm using Postman mostly to improve my API development workflow. When there are errors, my code displays an error stack, full of file paths. It's annoying that they are clickable. When I want to come back to Postman window and focus it to be able to re-send the Request, I quickly click anywhere and press Cmd+enter. The problem is, far too often I end up clicking on a hyperlink guiding to a file by

[2018-11-15 23:05] ghost opened #5533 "Autogen XHR code causing CORS error."
Creating a mock and autogenerating XHR for a basic GET yields:
[code]

when the code is run via JS in browser (Chrome) the following error comes back:

changing `xhr.withCredentials = true;` to `xhr.withCredentials = false;` fixes the issue.

[2018-11-15 23:53] chrisdeso opened #5534 "Uninstall tool"
**Is your feature request related to a problem? Please describe.**
There are instances where multiple versions of the Postman app are installed on one machine. Having a tool/setting to uninstall the app – and to remove any locally stored data – would be helpful when it comes to troubleshooting.

**Describe the solution you'd like**
An uninstall tool/script

**Additional context**
`[filed by Postma

[2018-11-16 03:36] bhanuvrat commented on #5410
happening with archlinux too.

[2018-11-16 03:52] zanisis opened #5535 "Get error import from link but success from import from file"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.
i got failed import collection from import link but import from file is success

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'view'
2. Click on 'developer'
3. cl

[2018-11-16 05:42] garychapman commented on #5246
+10000000000000 I just wasted 2 hours because of this bug, PLEASE FIX IT

[2018-11-16 05:43] garychapman commented on #4624
Please fix this, I just wasted 2 hours because of this bug.

[2018-11-16 07:48] Sveijk commented on #4898
Please bring Bulk Edit back🙋‍♀️

[2018-11-16 08:16] vkaegis commented on #2654
Hey @Nopik, the URL bar now extends to the full width in the two-pane view. Closing this issue, feel free to open another if you have more feedback around this!

[2018-11-16 08:16] #2654 closed, assigned to vkaegis

[2018-11-16 08:41] andylapping commented on #1667
+1 without Interceptor the Desktop app is useless to me. I love Postman and I rely on the interceptor for authentication - looks like I'll be sticking with the Chrome App for now.

[2018-11-16 09:32] spimentel3 commented on #4665
So I made a team thing because I thought it would be fun to see what it enabled me to do. Surpassed 50 requests, and my project got archived and I was told to upgrade. Well I ended up being the only one using the workspace, can I disband the team thing and get my collection back?

[2018-11-16 09:36] mrukas commented on #1667
+1 It's the same for me. The missing interceptor feature makes the native app useless for me.

[2018-11-16 10:26] razorsharpshady commented on #1947
Was looking to add custom header for collection, but it looks like the postman team isn't really in support of this feature, otherwise it's been 2 years since this issue was first reported they could've added this feature.

[2018-11-16 11:10] beirtipol opened #5536 "Postman 6.5.2 still hanging with GPU issue"
Downloaded the latest version today and Postman wouldn't start up. Process explorer showed that it was crunching through CPU and RAM but the app itself was hanging with a blank screen. I followed the thread on https://github.com/postmanlabs/postman-app-support/issues/4578 and added the environment variable POSTMAN_DISABLE_GPU=true and restarted Postman and it seems to work now.

Raising a new issu

[2018-11-16 12:04] vkaegis commented on #824
Hey guys, hope session values fit the use case for this issue. Closing this for now, feel free to open another if you have more feedback around this.

[2018-11-16 12:04] #824 closed

[2018-11-16 12:08] vkaegis commented on #1593
Hey, looks like we missed closing this issue. Postman supports complete GFM now.

[2018-11-16 12:08] #1593 closed, assigned to abhijitkane

[2018-11-16 12:17] vkaegis commented on #1525
Hey, the Sandbox API supports the Moment library now. You can refer to: https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference

Closing this issue for now since the original request is resolved. Feel free to open another if you have more feedback around this.

@p00j4 We're tracking support for external libraries in #1180

[2018-11-16 12:17] #1525 closed, assigned to a85

[2018-11-16 12:22] vkaegis commented on #1451
Hey, looks like we missed closing this issue. You can now edit current values of variables in the environment quick-look. Feel free to open another issue if you have more feedback around this.

[2018-11-16 12:22] #1451 closed, assigned to a85

[2018-11-16 12:24] vkaegis commented on #1390
Hey guys, looks like we missed closing this issue. This should be working in our native apps now. Feel free to open another issue if you have more feedback around this.

[2018-11-16 12:24] #1390 closed, assigned to a85

[2018-11-16 12:25] vkaegis commented on #1484
Hey guys, looks like we missed closing this. pm.test now supports custom text. Feel free to open another issue if you have more feedback around this.

[2018-11-16 12:25] #1484 closed, assigned to a85

[2018-11-16 15:07] ankit-m commented on #5374
A fix for this has been pushed.

[2018-11-16 15:07] #5374 closed, assigned to dhineshwiz

[2018-11-16 15:12] ankit-m commented on #5137
I was unable to reproduce this issue. Can you please provide more context and screenshot of the console while this error occurs.

[2018-11-16 16:06] StasKharkov commented on #5527
@godfrzero

- Tried to update my monitor with "0 0 1 * *" CRON pattern but in return i get 400 Code with next responce
`{
    "error": {
        "name": "cronPatternNotAllowedError",
        "message": "The specified cron pattern is not allowed. Please check https://monitor.getpostman.com for the allowed schedules.",
        "details": {
            "pattern": "0 0 1 * *"
        }
    }
}`

Your

[2018-11-16 16:08] Emidomenge commented on #3602
Any update ?

[2018-11-16 16:47] brienRosenquist commented on #4594
Workaround fixed the issue for me.
Windows Server 2012 R2
v6.5.2

[2018-11-16 17:48] sasidale commented on #1667
Is There is any specific date or release that is going to include Interceptor feature to desktop version. Since i do not have access to Chrome app any more.
Really appreciate if there is any other alternative to temporarily configure custom proxy to do the same thing.

[2018-11-16 18:04] looqmaan commented on #1667
+1 need interceptor on Desktop app

[2018-11-16 19:35] jgunter7 opened #5537 "DELETE sending as GET"
**Describe the bug**
On the WINDOWS version of the application: All requests seem to be sent as GET, even if DELETE is selected.

When tested using the chrome extension, everything works as expected.

**To Reproduce**
Make a GET request to a URL.
Make a DELETE request.

**Expected behavior**
DELETE should not return a list of results. It should not send a GET request.

**App information (please co

[2018-11-16 19:35] sivcan commented on #4665
@spimentel3 You can follow the answer here https://community.getpostman.com/t/archived-collection/2679

[2018-11-16 19:38] numaanashraf commented on #5536
Duplicate of #4594

[2018-11-16 19:38] #5536 closed, assigned to nobody

[2018-11-16 19:41] numaanashraf commented on #5531
@g0rd Is there a publicly accessible endpoint we could try to replicate this? if not, could you provide a screenshot of Postman Console (Menu > View > Show Postman Console) with this error?

[2018-11-16 19:54] spimentel3 commented on #4665
Oh thank you so much!!!
________________________________
From: Sivcan Singh <notifications@github.com>
Sent: Friday, November 16, 2018 11:36 AM
To: postmanlabs/postman-app-support
Cc: Sean Pimentel; Mention
Subject: Re: [postmanlabs/postman-app-support] Can't leave or delete my own team workspace (#4665)

@spimentel3<https://github.com/spimentel3> You can follow the answer here https://community.g

[2018-11-16 20:21] dakleine commented on #4009
+1

[2018-11-16 20:39] a85 commented on #2195
This is coming up in the next version! I tried this out on our internal channel and it works beautifully. Pretty excited about it.

[2018-11-16 20:39] a85 commented on #4843
This should be fixed in the latest version of the app!

[2018-11-16 20:39] #4843 closed, assigned to vkaegis, kamalaknn

[2018-11-17 00:58] ahakanbaba commented on #4660
see #1014

[2018-11-17 01:17] godfrzero commented on #5386
@XaWin Folders can be nested multiple times, and a markdown limitation doesn't seem like a good enough reasoning to limit folder nesting to 6 levels. @vkaegis Any thoughts?

[2018-11-17 01:28] godfrzero commented on #5419
Note: Renders correctly in public docs, confirmed as a bug in the private docs.

[2018-11-17 01:34] godfrzero commented on #4639
Note: https://github.com/postmanlabs/postman-app-support/issues/3955
Block elements in markdown need to have an empty line before & after. #3955 tracks the correct, expected behavior.

@stantond I tried using the snippet you've posted and it's rendering correctly in both the public and private docs. What do you have in the markdown _after_ the table? Is it broken in both the private and public doc

[2018-11-17 11:14] hussonkevin commented on #2847
+1

[2018-11-17 15:12] FARHANE commented on #4687
same thing on ubuntu 18

[2018-11-17 23:54] gfernandez-me commented on #3405
ubuntu 18. native app crashes system, need to restart everytime I hit wrong endpoint.

[2018-11-17 23:58] joelabate commented on #2494
It's incredibly absurd that this hasn't been addressed in 2 years. If you're unwilling or unable to add this in, at least have the courtesy to tell us so we can stop waiting for it and move on.

[2018-11-18 04:56] WurstCommander commented on #4642
Yesterday the bug was back, I had the close the postman.exe with taskmanager and at last postman started.

[2018-11-18 06:55] godfrzero commented on #5346
Confirmed as fixed, both markdown snippets render consistently now.

![image](https://user-images.githubusercontent.com/2700229/48669559-100ad080-eb2d-11e8-996c-e65fc61a5d3f.png)

[2018-11-18 06:55] #5346 closed, assigned to godfrzero

[2018-11-18 07:03] godfrzero commented on #5291
Closing as this bug seems to have been resolved and I'm unable to recreate it. @GarethJames86 Feel free to re-open if this is still happening for you.

[2018-11-18 07:03] #5291 closed, assigned to godfrzero, sankalp0o

[2018-11-18 12:24] vkaegis commented on #1315
Hey guys, with the last release, you can nor see the user who triggered a history request as well as the timestamp for it. Closing this issue, feel free to open another if you have more feedback around this.

[2018-11-18 12:26] vkaegis commented on #1309
Hey guys, you can now edit the current value of an environment variable from the quick-look window itself. We have some more improvements around this flow scheduled for future releases, so stay tuned. Closing this for now, feel free to open another issue if you have more feedback around this.

[2018-11-18 12:26] #1309 closed, assigned to vkaegis

[2018-11-18 12:41] vkaegis commented on #1030
@llaslo With "current values" for variables, you can now assign a value in the session while keeping the original value of the variable intact. Hope this solves your problem for now. Closing this issue, feel free to open another if you have more feedback around this.

[2018-11-18 12:41] #1030 closed, assigned to a85

[2018-11-18 13:10] vkaegis commented on #763
Hey guys, closing this issue. Feel free to open another if you have more feedback around this.

[2018-11-18 13:10] #763 closed

[2018-11-18 17:34] dvetal commented on #3444
Just to pile on after the fact here. This is pretty critical for us as well and would be a fantastic feature.

[2018-11-18 17:37] a85 commented on #3444
People, this issue is being tracked in multiple places #3390. We have some big improvements here planned. Stay tuned. We'll post details on how we are going to address this and other related items soon.

[2018-11-18 18:11] armengrigoryan84 commented on #4168
@tahmid-hasan  the question was form-data body parser it is different  with "x-www-form-urlencoded" in case if you don't know, your answer will not solve the issue

[2018-11-18 23:01] brendanknowles commented on #3731
+1. Unsure why this is such a challenge to provide but it would really help us out too.

[2018-11-18 23:45] jager1000 commented on #1475
+1

[2018-11-19 00:15] okonomiyaki3000 commented on #2369
Awesome! Postman 6.5.2 is out and look at the improvements:

- Custom HTTP methods because so many people use those!
- You can send a body with GET requests because that's not always a terrible idea!
- Finally you can disable icons in tab titles!

Still no support for the hosts file more than 2 years later but don't worry, I'm sure that's high on the list.

[2018-11-19 06:16] numaanashraf commented on #5537
@jgunter7 Could you open Postman Console (View > Show Postman Console), send the request and give us a screenshot of the Postman Console?

[2018-11-19 07:08] rsweetland commented on #3731
@sankalp0o Is security the main concern?

I'm going out on a limb and assume this is the case. If so, maybe the Postman community can lend a hand in confirming / talking through a secure implementation.

Here are some questions / ideas (again, assuming security is the issue..ignore this comment if that's not the case):

 * Do the Postman-generated docs store / ask for any sensitive information fro

[2018-11-19 07:17] vkaegis commented on #2716
@curtisgibby Thanks for the feedback. This particular fix was released with v6.4.0 of the native apps on the 8th of October, 2018.

[2018-11-19 07:18] vkaegis commented on #2948
@justux90 Awesome, closing this issue for now. Feel free to open another if you have more feedback around this.

[2018-11-19 07:18] #2948 closed, assigned to a85, vkaegis

[2018-11-19 07:27] asmittal commented on #2489
Even with latest version, upgrade doesn't work. :(
Pity a small issue is not resolved even after 2 years.

[2018-11-19 07:58] kartikjain26 commented on #5498
As per the testing done for this task, changes in any of the fields in  collections where almost immediate in github. Let us know if more users report such an issue.

[2018-11-19 08:26] ykh commented on #2694
+1

[2018-11-19 09:26] kartikjain26 commented on #2978
@sbrendtro @anurajsl and others This issue is being currently worked upon. It should be available soon.

[2018-11-19 10:39] npuypalat commented on #1667
+1 I need this app.

[2018-11-19 11:08] AnuragAmbuj opened #5538 "Postman Native App not Working at all"
Postman not starting:

Uncaught Exception:
Error: Cannot find module './services/RuntimeExecutionService'
    at Module._resolveFilename (module.js:485:15)
    at Function.Module._resolveFilename (/home/anuragambuj/tool/Postman/app/resources/electron.asar/common/reset-search-paths.js:35:12)
    at Function.Module._load (module.js:437:25)
    at Module.require (module.js:513:17)
    at require (int

[2018-11-19 12:07] SamvelRaja commented on #5538
@AnuragAmbuj Seems like https://github.com/postmanlabs/postman-app-support/issues/5385#issuecomment-430969435 issue?

Could you cross check this?

[2018-11-19 12:31] Ommonick opened #5539 "Degrading Postman UX with newer app versions"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I find Postman UI and some functionality is getting worser from release to release

Some newcoming changes makes me do additional work.
Some changes result as laggin.

Can describe couple of them:
-(UI functionality) Switching t

[2018-11-19 13:03] kszafran opened #5540 "Missing "method" crashes web view if uploaded via API"
**Describe the bug**
When a collection with a request without the `"method"` attribute is uploaded via the API, web view crashes and does not render anything. When the collection is imported using the desktop app it works just fine.

**To Reproduce**
Upload the following collection (`Crashing.postman_collection.json`):
[code]
using the API, e.g.:
[code]
(`jq` is this utility: https://stedolan.gith

[2018-11-19 15:09] dantench opened #5541 "Postman stores test files as part of collection"
**Is your feature request related to a problem? Please describe.**

Yes, We have multiple endpoints which require files to be posted to them, such as a file upload from a UI, or an image upload etc. These require testing by sending the file with the post, but run in a collection via an automated means - such as via Newman as part of our CI/CD pipeline.

We currently run our API test collections vi

[2018-11-19 15:23] g0rd commented on #5531
![image](https://user-images.githubusercontent.com/8823811/48716330-1f4d5500-ebe5-11e8-9f89-2af3b1b7c7e5.png)
sorry for the late reply, here it is

[2018-11-19 17:39] leonardorb commented on #3519
Same issue happening here. I've duplicated some folders, and now I can't delete them. Not hard to reproduce.

[2018-11-19 18:35] selhuberb commented on #1667
+ 1 since Chrome app shows deprecation warning

[2018-11-19 18:37] sivcan commented on #4969
This has been fixed in v6.3.

[2018-11-19 18:37] #4969 closed, assigned to numaanashraf

[2018-11-19 19:35] Lavanya1689 commented on #3251
I am seeing the below error

`HTTP Basic: Access denied.`

I added my crt file in the Certificates

[2018-11-19 21:27] Edward006 commented on #3274
+1
If it's predefined roles, then 3 roles: Owner/Admin, Editor, Readonly.
Otherwise you can leave role definitions open, and we can manage roles in each team.
Currently it's very problematic when the owner leaves the team/business

[2018-11-19 21:40] dmestetskiy commented on #4852
@harryi3t I don't have a video. but what I am experiencing is this:

1. Existing request from a collection.
2. Send said request, it fails with the old values(possibly worked before, not sure)
3. Update OAuth value with proper credentials and send it again. Looking at "Code", new OAuth values are not being used but the old request values are.

It appears to be an issue with caching or something wh

[2018-11-19 22:06] anandsun commented on #1667
+1, native app is basically useless without this

[2018-11-19 23:23] gekonwi commented on #4525
This may also provide a simple solution for most use cases in #2621!

The absence of this feature may be a deal breaker for my company. I will be pitching Postman to our QA department in a few weeks.

It would also be very helpful to add a description to each drop-down value. In the example below, there is a `{{priority}}` variable which can have the value "0" or "1". "0" stands for "normal" and "

[2018-11-20 00:56] VeronicaHurtado commented on #1667
+1 need interceptor on Desktop app

[2018-11-20 01:54] godfrzero commented on #3731
Security is one concern, but the one that bothers me more than that is maintainability. Allowing the injection of custom CSS is not a challenge at all, when looked at in isolation. While the documentation hasn't changed visually (at least, to a degree worth noting) in years, the underlying HTML has been rewritten multiple times for performance improvements and whatnot.

Any custom CSS which is wri

[2018-11-20 03:13] chimit opened #5542 "Double-click on a request should open/pin a tab instead of preview"
In recent versions of Postman you made tabs behaviour similar to Atom. When you click on a request in a requests list it is opened in a new tab as a preview:

![image](https://user-images.githubusercontent.com/839349/48749104-59395c80-ecb4-11e8-9c16-67b73d13875b.png)

This preview tab is not pinned, so when you click on another request it would be opened in the same tab overriding the previous. Th

[2018-11-20 03:19] toxmc commented on #1667
+1 need interceptor on the Desktop app,
I remove the chrome postman app. When I know interceptor only support on chrome ，I regret to do that...

[2018-11-20 03:49] win5do commented on #3084
macos 10.14
postman native app v6.5.2

still has bug.
I can access google.com in chrome after enable the vpn(socks5, pac).
but  enable the Use System Proxy setting in postman, can't get google.com.
Manual set global proxy configuration in postman can work, this is not pure.

![image](https://user-images.githubusercontent.com/22112659/48750484-41fd6d80-ecba-11e8-93b6-e2b6836f7ad1.png)

[2018-11-20 05:19] SamvelRaja commented on #5538
@AnuragAmbuj  Closing this for now. Kindly re-open this if you still faces the issue.

[2018-11-20 05:19] #5538 closed, assigned to nobody

[2018-11-20 05:19] rsweetland commented on #3731
@godfrzero Thank you for giving us so much context and sharing your thoughts with the community. I get it!

The template idea is awesome.  Appreciate you not deterministically breaking people's themes with updates : )

Regarding security, what if you allow for customizations only on "verified domains" (ie, custom domains the user points to their docs)? This would isolate static docs from the other

[2018-11-20 05:26] godfrzero commented on #3731
It's highly likely that advanced customization (like themes) will be available only on custom domains. We can't allow arbitrary code execution on our domain, for obvious reasons. Limited customization (brand colors, custom logo, some layout controls) will be available to everyone regardless of domain.

[2018-11-20 06:51] avmoengage commented on #1667
+1 need interceptor on desktop app.

[2018-11-20 06:58] ankitjaggi commented on #5488
@g0rd We fixed the issue on our end. Can you verify if it's working now?

[2018-11-20 07:06] kartikjain26 commented on #3555
@alkemann @chickez @larryfinkelstein - Integration for Github enterprise feature where it is hosted elsewhere is being currently worked upon. It should be available soon.

[2018-11-20 07:29] XaWin commented on #5386
@godfrzero Well, limitations was not the main point. The part "A folders nested at level X should receive a markdown of X+1 (or #x(X+1) )". At the moments, the visual of the folders is imposed on h2 level by default, which is not nice to see.

[2018-11-20 09:41] Prussia commented on #4642
I am suffering from the issue too. Version 6.5.2 (6.5.2) on mac
![image](https://user-images.githubusercontent.com/3626983/48764776-9836d480-eceb-11e8-9619-c6d7a2e227d6.png)

[2018-11-20 09:42] StdioA commented on #1667
+1 need interceptor on desktop app.
Otherwise I'd like to continue using the Chrome app.

[2018-11-20 09:55] RRSR commented on #1667
**+1** need interceptor on Desktop app.
Otherwise I'd like to continue using the Chrome app.

[2018-11-20 10:05] zhangbiggs commented on #1667
+1 need interceptor on Desktop app.
Otherwise I'd like to continue using the Chrome app.

[2018-11-20 10:22] ankitjaggi commented on #5499
@JP-from-Postman The workspace join issue has been fixed from your end. Can you verify if it works now?

[2018-11-20 11:23] reyhansofian commented on #675
any update about this feature request? it's been 4 years...

[2018-11-20 11:37] m3dbedb commented on #4105
Same issue in Postman 6.5.2 for windows 7 x86.
I have initial collection variable named "serviceid". Initially I used environment variables and everything worked. Now I'm trying to use collection variables.
I can access it via

    console.log(pm.variables.get("serviceid"));

but setting collection variable fails:

    pm.variables.set("serviceid", jsonData.data[0].iname);

    pm.variables.set("s

[2018-11-20 12:06] sivcan commented on #4105
@MikeNicholsPoints Apologies for the late reply, can you provide us with more information and possibly the code snippet?
It probably looks like a different issue. Also, read further below in case you're facing the same thing.

@m3dbedb
Collection variables are read-only in the scripts.
You can only define (or edit) them only when you're manually editing the collection.
That's why 'get' works and '

[2018-11-20 12:07] Ramya-From-Postman opened #5543 "Response doesn't render \r\n"
**Describe the bug**
When you make a Post request to an API that has the body in the text format, the response data is not rendering in the new line. See the below screenshot for your reference.

![image](https://user-images.githubusercontent.com/40994626/48772600-ea2b2a80-ecea-11e8-9cf4-e34f98337d5f.png)

[2018-11-20 12:33] m3dbedb commented on #5456
It is not said directly, that collection variables are read-only. It would be better to let user edit them.

[2018-11-20 13:23] NaveenThiyagarajan commented on #3358
+1 It would be great if we have this feature.

[2018-11-20 13:26] AltarBeastiful opened #5544 "Autocomplete hard to trigger when there is surrounding text"
**Describe the bug**
When trying to add a variable in a field, say an URL, the autocomplete doesn't trigger if there is text before or after. Moreover, I would expect the aucotomplete to trigger for partial input like `{{Varia`

Currently the only way to trigger autocomplete is by typing a bracket followed by a space`{ `.
This forces me to add spaces when adding a variable inside an exisiting text

[2018-11-20 14:30] godfrzero opened #5545 "Incorrect spacing when rendering markdown"
**Describe the bug**
Markdown descriptions rendered within the Postman App has crowded spacing. For example, consider the markdown snippet:

[code]

This renders like so in the Postman App:

<img width="336" alt="screenshot 2018-11-20 at 7 55 07 pm" src="https://user-images.githubusercontent.com/2700229/48779888-9c202200-ecfe-11e8-807a-ab182dd5ba48.png">

This is inconsistent with the expected spa

[2018-11-20 14:36] m3dbedb commented on #4105
It's not stated crear, may I ask you to change the documentation, or where I may ask for it?

[2018-11-20 14:40] m3dbedb commented on #5159
On version 6.5.2 it is still present on tab switching.

[2018-11-20 14:45] TehBakker commented on #2621
Wants to have an env with url and non sensible variable and another with sensible data that should not be shared

[2018-11-20 14:47] MikeNicholsPoints commented on #4105
@m3dbedb My issue was unrelated. I had a pre-request script that was trying to generate a nonce token based on the body of the POST, but it was hanging when trying to deal with the collection variables. It was user error.

[2018-11-20 15:30] tobikl1 commented on #5093
I am experiencing the same on Fedora 28 with
- Postman 6.4.4
- Postman 6.5.2

followed the installation instructions on the homepage, yet got this exception. Since it appears to be a nodejs app, i tried to navigate to Postman/app/resources/app and called npm i, trying to resolve missing dependencies. For this i get the exception

``npm WARN deprecated circular-json@0.3.0: CircularJSON is in mainte

[2018-11-20 15:47] g0rd commented on #5488
@ankitjaggi it works. closing the issue

[2018-11-20 15:47] #5488 closed, assigned to ankitjaggi

[2018-11-20 16:09] adropofilm opened #5546 "Feature to track changes in API response body"
I work QA on my team, and the current problem is that each time the API developers make changes to the API call response bodies, I am not able to tell in Postman unless I manually run the collections and insert a post-request test script to check if response body has changed. This makes it difficult for me to update documentation.

To fix this, I would like a feature that tracks changes in the API

[2018-11-20 16:37] richardsondx-symbility commented on #2512
+1

[2018-11-20 16:43] WadeWare commented on #4574
Dunno why this is closed when it's still an issue. Postman is unusable to me in this state as it creates too much overhead and unnecessary traffic for just testing. Not to mention by keeping the connection alive, a new connection is never initiated, so no handshaking never occurs again (TLS in my case). Hard to troubleshoot a handshake issue if the only way to create a new connection is to close P

[2018-11-20 16:45] CodeFuentes commented on #4009
+1 its a shame having to switch applications when testing apis/ws, would love to do it all in postman.

[2018-11-20 17:00] numaanashraf commented on #4574
@WadeWare Could you try sending a `Connection: close` request header in your request? That should trigger a connection close after the request completes.

[2018-11-20 17:27] hongaar commented on #3731
Appreciate the update.

Unfortunately it doesn't give me a very comfortable feeling, as it feels customisation options are even farther out then they might have been if CSS customization was still on the table (creating a theming system definitely sounds more involved to implement).

Personally, I'd be absolutely fine with breaking changes to the DOM structure as it will be unlikely to result in a

[2018-11-20 20:39] zacacollier commented on #4186
6.5.2 doesn't work for me on Linux either. Also tried removing the no-cache and postman headers to no avail. Guess I'll switch to Insomnia?

[2018-11-20 21:05] corganfuzz commented on #3884
same situation here. can't use postman cuz corporate firewall,

[2018-11-20 21:39] JP-from-Postman opened #5547 "Single-pane layout doesn't save Body (raw) editor length"
**Is your feature request related to a problem? Please describe.**
When in single-pane layout, resizing the length of the Body (raw) editor doesn't persist when closing and restarting the app.

See screenshots below for example.

**Describe the solution you'd like**
Body editor length persists as set by the user

**Additional context**
Before closing app:
<img width="1919" alt="before" src="https:

[2018-11-21 00:22] Lambeaux commented on #4413
Indeed ☝️ when you have hundreds of requests across multiple collections, and you need to toggle N headers based on the context (for instance, CSRF protection) there seems to be no good solution short of exporting everything, programmatically modifying the JSON, and re-importing. Definitely not ideal.

You simply cannot preempt all the variables that you might need ahead of time.

[2018-11-21 00:39] Lambeaux commented on #4631
+1

[2018-11-21 01:41] CKAtGitHub commented on #1667
+1 need interceptor on desktop app.

[2018-11-21 06:44] AndriiPlotnikov commented on #6682
+1

[2018-11-21 06:48] ash007-postman opened #5548 "Add support for JWT authentication"
Would like you to provide support for JWT decoding and verification.

[2018-11-21 07:50] Ramya-From-Postman opened #5549 "Generating Code Snippets for objective-c or swift is not working"
When you try generating objective-c or swift code for a request in the attached collection the system does nothing.
However, the code generation works fine if you remove the content-type header of this request.

Below collection can be used to reproduce the issue:
https://www.getpostman.com/collections/473e58b7faaa5fe425e5

[2018-11-21 08:07] mfaux opened #5550 "Dashboard: show if collections have published docs or not"
**Feature request**
From Postman Dashboard, I'd like a way to see which collections (in a workspace) have published documentation without having to visit them individually.

**Mockup**
For example, you could surface the **Publish** button to the **Collections** page:

![image](https://user-images.githubusercontent.com/1324114/48827212-e93add00-ed6c-11e8-9400-fa2d390ffa7c.png)

[2018-11-21 08:10] dietermijle commented on #493
+1

[2018-11-21 08:13] Ramya-From-Postman opened #5551 "Using Runner data variables not working as expected - "Double quote" is getting replaced with Slash (/)"
I have a csv file with the following content - when I preview the data from Runner I don't see the value verbatim. For my post payload I do need it to contain \" as referenced below.

skil
Skill (\"fixmobile\") >=1 & Skill (\"en_chat\") =1 & Skill (\"ts\") =1 & Skill (\"telus\") =1 & Skill (\"wireless\") =1
Skill (\"fixtv\") >=1 & Skill (\"en_chat\") =1 & Skill (\"ts\") =1 & Skill (\"telus\") =1 &

[2018-11-21 08:45] RuggeriLuca commented on #4709
+1 it will helpfull

[2018-11-21 09:00] ankitjaggi commented on #5521
@abhijitkane We have fixed this issue from our side. Can you verify if it works for you now?

[2018-11-21 09:15] Ben-Mark commented on #3358
+1 A must feature

[2018-11-21 10:16] ItachiSan commented on #5000
I'm also affected.
My personal suggestion would be to use the initial value of the variables for the documentation and add a small section in the documentation reporting such variables.

[2018-11-21 11:19] vandana7 commented on #4296
I was also facing the same issue but clearing the recent Runs works for me as If there are many runs through the collection runner it only stores the recent runs Data. (deleting recent runs is a temp fix :P)

[2018-11-21 11:50] runev commented on #3646
This - or at least something which allows us to create RSA-SHA256 signatures based on draft-cavage-http-signatures-10 has to be added.

We've currently had to develop a minor _reverse proxy app_ in Node, which we use to dispatch all Postman requests through to be able to set the Signature header - only because Postman doesn't support RSA-SHA256 using CryptoJS.

It's a pain.

[2018-11-21 12:17] logiiiiiiiii commented on #3646
+1

[2018-11-21 12:29] steffenschebesta commented on #4912
@godfrzero any updates?

[2018-11-21 12:30] steffenschebesta commented on #4244
@sankalp0o @madebysid @godfrzero any updates on this issue?

[2018-11-21 12:33] steffenschebesta commented on #5209
@godfrzero any updates on this issue?

[2018-11-21 12:35] Ramya-From-Postman opened #5552 "Log the changes made to an environment variable."
Like how we track the changes made to a collection under activity feed, It would be nice to have a feature to track or log the changes made to an environment variable so that we can keep track of what was changed, who made the change & when was it changed.

[2018-11-21 12:51] igorveremsky commented on #4631
+1

[2018-11-21 13:35] lord5et commented on #3358
+1 Would be great to have this feature

[2018-11-21 13:50] tejkweku commented on #4852
This is how the issue manifests on my system

![temp](https://user-images.githubusercontent.com/7029109/48845353-30889400-ed94-11e8-9254-cf5248905ade.gif)

Sorry for the poor quality. Github does not permit the upload of video files so I had to convert the video into a gif.

[2018-11-21 14:00] hakonhw commented on #3646
+1

[2018-11-21 14:47] andreyvolodko1996 commented on #3312
hi there

can you tell me, how do you get your cookies that are sent to the cookie
manager and prevents you to automate tests?

On Fri, Nov 2, 2018 at 4:53 PM Andrei Valadzko <andreivaladzko3@gmail.com>
wrote:

[2018-11-21 15:02] bdavies commented on #2847
+1

[2018-11-21 15:41] adrianknight89 commented on #2750
I'm getting this issue all of a sudden.

[2018-11-21 16:27] silverqx commented on #2512
I tried latest __v6.5.2__ now and __application/vnd.api+json__ header is still missing.

Here is link, which describes differences between __application/vnd.api+json__ and __application/json__ headers, in short __application/vnd.api+json__ is for jsonapi requests ( https://jsonapi.org/ ) and it has been properly registered with IANA.

https://stackoverflow.com/questions/28055526/header-value-appli

[2018-11-21 17:33] gekonwi commented on #553
Simple solution: add a global pre-request script!

We have a well defined hierarchy of variables: global > environment > collection > local.

And we have pre-request scripts for: collection, folder, and local. We could consistently add pre-request scripts for the two missing levels: global and environment.

Having that, we could define the timestamp as needed in the global pre-request script once,

[2018-11-21 17:38] lazarporter commented on #4679
Thank you, this worked like a charm!

[2018-11-21 17:58] prateeksarda opened #5553 "Programatically provide x-www-form-urlencoded data"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I am trying to create a collection with POSTing requests with x-www-form-urlencoded data.
The next request body is formed by parsing form data from previous response.
This form data

[2018-11-21 18:02] nilskp commented on #2512
This ticket should address any `application/<whatever>+json` content types, as they're all JSON, and should be formatted such.

[2018-11-21 18:02] prateeksarda commented on #5553
I saw a similar feature request for the change in format
I think this would help in that case if implemented.

https://github.com/postmanlabs/postman-app-support/issues/4261

[2018-11-21 18:28] matt-ball commented on #5553
It is possible to do this by using the `raw` setting on your `Body`, setting a `Content-Type: application/x-www-form-urlencoded` header and manipulating your data appropriately:

Headers:
![image](https://user-images.githubusercontent.com/8490181/48861299-193bad80-ed78-11e8-8e87-5ae624765471.png)

Body:
![image](https://user-images.githubusercontent.com/8490181/48861322-25276f80-ed78-11e8-846b-13d

[2018-11-21 18:33] bartdk-be commented on #2050
@dsidirop / @pratiks : I'm using a pre-request script at the collection level. This works fine, and prevents a maintenance nightmare. Any particular reason this is not an option for your scenario ?

[2018-11-21 19:51] science695 commented on #4525
I suppose you could have a header:
[code]

And then the pre-request script:

[code]

But a built in UI feature for this would be ultimately better and more stable.

[2018-11-21 19:53] science695 commented on #2621
You can do that with the current normal environments. Make an environment in your Team or public workspace with the test data in it. And when you publish that, include the test data environment.

[2018-11-21 21:40] g0rd commented on #5531
@numaanashraf any movement on this?

[2018-11-22 05:42] imjehoon commented on #1667
+1 need interceptor on Desktop app.

[2018-11-22 06:19] sujayvenaik commented on #5542
Hey @chimit

For a quick workaround you can press command+shift+click which will always open in a new tab i.e. it will not open in the preview tab.

[2018-11-22 08:09] vkaegis commented on #5541
@dantench Thanks for writing in! Marking this as a feature request for better workflows around data files, definitely have a few things planned in our roadmap around this. No ETA on it just yet, but stay tuned!

[2018-11-22 08:26] sivcan commented on #4105
@m3dbedb Yes, we're currently actively working on improving our docs around this and I'd appreciate any feedback you have for us!

We already have a ticket around improving docs for variables which you can follow here: https://github.com/postmanlabs/postman-docs/issues/1442

Thanks!

[2018-11-22 08:47] PFaz540 opened #5554 "Sending a request quickly after it has been selected causes 'Request URL is empty' error"
**Describe the bug**
- If the user selects a request were the URL/header etc. contains env/global variables, sending that request after selecting can return 'Request URL is empty'
- After opening a request that has variables in the URL, they are red and quickly become orange to say "Yes, I know this variable exists in Postman"
- It seems the request is sent before Postman confirms that the variabl

[2018-11-22 10:28] prateeksarda commented on #5553
Thank you @matt-ball the methodology works

[2018-11-22 10:28] #5553 closed, assigned to nobody

[2018-11-22 11:01] rchurianov commented on #3161
**Describe the bug**
Can not execute request with "Ctrl + Enter" after switching to a new tab (request) with "Ctrl + Tab" in Windows native app.

**To Reproduce**
Steps to reproduce the behavior:
1. Have at least two requests in Windows native app
2. Change to a different tab with "Ctrl + Tab"
3. Hit "Ctrl + Enter"
4. Nothing happens

**Expected behavior**
After I switch to a new tab with Ctrl + T

[2018-11-22 11:27] manukoshe commented on #4631
+1

[2018-11-22 11:28] manukoshe commented on #4631
this is actually a bug as noted by bradszabo

[2018-11-22 11:47] harryi3t commented on #4852
@tej-kweku Can you also post the screenshots of the following:
1. After sending the request, open the headers tab
2. Open Postman Console, clear the logs, send the request, expand all the sections in the console

[2018-11-22 12:08] RobbyDeLaet commented on #4092
@susikka Any progression on this issue?

I can run a collection with 2 requests with NTLM authentication. When I add a third request, this request will fail with a 401.

In the developers console I see:
 three http calls for the first request
 two http calls for the second request
 one http call for the third request

[2018-11-22 13:07] tejkweku commented on #4852
![postman_oauth_issue_reboot_1](https://user-images.githubusercontent.com/7029109/48904797-778b8d80-ee57-11e8-924e-12ad2aca8180.gif)

[2018-11-22 13:07] sylann commented on #4703
I just installed postman (6.5.2) on linux Manjaro and I have the black screen systematically when I try to sign in with google.
It also appears randomly after a tab switch or after about a minute running, but it really is a bit random.

[2018-11-22 14:04] nac0n commented on #3566
+1 Same problem here... Since i can't add my username and password for the proxy in the native-app i see no way to go over from the webapp.
I tried to do @furick1 's suggestion as a workaround but it didn't work using v6.5.2. So i'm just testing my API using chrome or the (now deprecated) webapp...

[2018-11-22 14:30] zenonwch commented on #4009
+1

[2018-11-22 14:34] gabrieltaets opened #5555 "Native App is very slow compared to deprecated Chrome App"
**Describe the bug**
Running a request on the native app is very slow in comparison with the native app.
My API is returning about 2MB in data. The Chrome App makes the request and receives the response effortlessly, and the Runner runs the tests 10 times in less than 20 seconds.
Seeing the new features available on the native app I decided to give it a try, but is so slow that it's not viable to

[2018-11-22 15:09] amartinezmena commented on #882
When i try to execute with postmanrunner ( https://github.com/poynt/postman-runner) a postman collection with test:

2018-11-22 13:11:13.577 INFO c.p.p.PostmanRequestRunner : [587ms]
org.mozilla.javascript.EcmaError: TypeError: Cannot call method "json" of undefined (---------------------> POSTMAN test#1)
at org.mozilla.javascript.ScriptRuntime.constructError(ScriptRuntime.java:3785)
at org.mozill

[2018-11-22 15:13] pookdeveloper commented on #882
it seems that you
 
It seems that your request don't return anything

[2018-11-22 15:14] pookdeveloper commented on #882
@abhijitkane (https://github.com/postmanlabs/postman-app-support/issues/882#issuecomment-441057742)
It seems that your request don't return anything

[2018-11-22 15:29] MrSquaare opened #5556 "Postman v6.5.2 Update for snapcraft"
Hello,

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Lastest update (v6.5.2) for snapcraft

**Describe alternatives you've considered**

**Additional context**

[2018-11-22 15:31] antoinecfmws commented on #4594
Disabling GPU worked for me as well.  Solved using @RyanGonet.
Modify the shorcut on Windows and add the following at the end:
`Postman\Update.exe --processStart "Postman.exe"` **--process-start-args="--disable-gpu**"

[2018-11-22 15:59] StanisF opened #5557 "Permissions for "Remove from workspace""
When user in team has only View permissions for collection he can still remove entire collection from team workspace using "Remove from workspace".

Steps to reproduce the behavior:
1. Create Team Workspace
2. Add user with View permissions on collection
3. Log in as this user and try to delete collection

**Expected behavior**
Button is not availible for this user.

**Screenshots**
ReadOnly icon

[2018-11-22 16:26] Bradeskojest commented on #6682
+1

[2018-11-22 17:04] jane-hnatiuk commented on #1667
+1 - I really need interceptor on Postman desktop app for macOs

[2018-11-22 19:49] migueldiaz66 commented on #2701
+1

[2018-11-22 20:35] dio-gh commented on #4594
I've also encountered this exact issue, having updated after a really **really** long time. Setting an envvar fixed it for me as well, though I find it mind-boggling how such an issue could remain unresolved for ~six months. It's also a relatively severe one, as without the workaround the program won't properly open up for ~5 minutes in my experience.

@numaanashraf Are you guys still waiting for

[2018-11-22 21:02] shaunsational commented on #4594
@nitrohigito @numaanashraf agreed, seems like the default should be to have the gpu disabled and have the envvar for enabling (not disabling) it, when so many are encountering the same issue with the same fix.

[2018-11-22 21:05] ghost opened #5558 "Postman Linux sets itself a default application for html (Nautilus File Manager)"
**Describe the bug**
On Ubuntu, when Postman starts it is set as default application to handle html files

**To Reproduce**
1. In Nautilus(filemanager), right click on any html file and in "Properties"->"Open With" check if default application is set to Firefox or change it to Firefox if needed. Close properties and with double clicking the file check its correct behavior.
2. Start Postman
3. In N

[2018-11-22 21:49] laitnee commented on #3136
@techwardy just go to setting > general and turn off ssl certificate.

[2018-11-22 22:31] ghost commented on #697
+1

[2018-11-23 00:07] LA commented on #3566
+1 RIP

[2018-11-23 02:46] leiguorui opened #5559 "Setup app.getpostman.com server on local machine"
**Is your feature request related to a problem? Please describe.**
I do not want to share postman collections on the public internet.

**Describe the solution you'd like**
I can setup a app.getpostman.com server on my local machine.

[2018-11-23 03:39] idevChandra6 commented on #4409
I have same problem. On Insomnia Rest Client, curl, and browser, I get successful 200 OK. But on Postman, I get 404. What might be the problem?

[2018-11-23 03:51] codenirvana commented on #4409
@idevChandra6 can you share a sample request or curl (minus the sensitive details) to reproduce this behavior?
Also, What version of the Postman app you are using?

[2018-11-23 03:57] Jpsy commented on #3566
Remember that there is a workaround using CNTLM local proxy. We use it all the time with Postman and it works well.

[2018-11-23 04:49] fbukevin commented on #1667
+1 need interceptor on Desktop app.

[2018-11-23 05:54] idevChandra6 commented on #4409
Ah, that was my mistake! Postman has wrong env variable. Sorry! You have a good thanksgiving.

[2018-11-23 08:52] vincepeng commented on #5213
thanks

[2018-11-23 09:13] mkbrv commented on #1667
+1 need interceptor on Desktop app.

[2018-11-23 09:35] dderjoel commented on #3025
I can confirm that until restarting the Runner, the settings are not propagated.
Postman version 6.5.2, OS: Windows 10

[2018-11-23 10:52] mvrska opened #5560 "Postman fails to install and launch"
**Describe the bug**
I used to use postman normally and then at some point, probably after an update, I stopped being able to do so. After several hours of googling, I wasnt able to make it work.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch any postman installer
2. just a tiny window blinks and postman AppData/Local + AppData/Roaming folders are created and probably correctly popul

[2018-11-23 13:31] PFaz540 commented on #5515
I'd also like to point out that the text in the 'skipped' button is practically impossible to read

![image](https://user-images.githubusercontent.com/44571878/48945937-036aeb80-ef24-11e8-94cf-c5a5de2a2e3c.png)

![image](https://user-images.githubusercontent.com/44571878/48945944-082f9f80-ef24-11e8-9a0d-e461db21bd12.png)

[2018-11-23 13:37] ghost commented on #2418
I found a number of related issues:

- https://github.com/nodejs/node-v0.x-archive/issues/7019
- https://github.com/request/request/issues/1713
- https://stackoverflow.com/questions/34769824/what-does-this-error-mean-hpe-invalid-constant/42346053
- https://github.com/nodejs/node/issues/21000
- https://github.com/nodejs/node-v0.x-archive/issues/4863

And so on. They seem to be related to @shamasis

[2018-11-23 14:01] masterl1983 commented on #4636
Any update on this issue? Facing the same problem right now as I have two Azure Tenants where I need to work with and I always have to chnage the oAuth2 Settings which is really not nice :-)

[2018-11-23 15:51] matouel opened #5561 "Application stuck on startup"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been there but I was able to get around it by resintalling. But for some reasons, workaround don't work anymore.
 2. Expected behaviour: Application start and workspace is loaded properly with all collections savec on the cloud.
 3. Console logs (http://blog.getpostman.com/2014/

[2018-11-23 16:19] adrianmarino commented on #4764
@rgb-one `local/postman-bin 6.5.2-1` doesn't have this issue.

Thank you!

[2018-11-23 20:09] RustyDev commented on #1667
+1 need interceptor on Desktop app.

[2018-11-24 02:36] a85 commented on #3390
Everyone, We are testing out OpenAPI 3 support in our Canary builds (getpostman.com/canary). It might not be perfect but help us test it out! We are also building a plug-in model that will help us update OpenAPI and schema support independently of releasing a new version of the app. The development of the plug-in system is what has resulted in seemingly no visible progress on this but we see that

[2018-11-24 03:37] philsturgeon commented on #3390
Amazing! Thank you so much.

Totally understandable that building an entire add on system slowed you down. If a similar situation pops up maybe you could post a link to an issue for “Add-on System” and folks could follow that progress, then folks know what you’re up to and don’t feel like they’re being ignored. :)

I’ll check it out soon. Thanks again!

[2018-11-24 05:45] hjkl950217 commented on #3755
Also hope to support zh-cn

[2018-11-24 18:53] sudheerkaushik commented on #4679
For those who don't understand what these guys are talking about, here is the link : https://github.com/postmanlabs/postman-app-support/issues/4594

for steps to resolve with screenshots.

[2018-11-24 19:10] junbaor commented on #1667
+1 need interceptor on Desktop app.

[2018-11-25 01:33] vgosai86 opened #5562 "Re-Usable Scripts"
I have a use-case where I'll be using few of the API multiple times in multiple collections. So, It’ll be good to have a way to load scripts(pre/post) from file. If possible at environmental level. It is easier to have scripts in one place, so you don't need to change all other places where it is being used. Saving scripts part of variables doesn't seem to be a good option. Though It’d be helpful

[2018-11-25 01:36] vgosai86 commented on #5053
+1
This will be definitely a good feature to have.

[2018-11-25 01:43] vgosai86 opened #5563 "Clear all cookies using script"
**Problem statement**
I have a use-case where I have to login for different users. without clearing cookies, it'll fail. Currently, I have been doing it manually clearing all cookies but using this way I can not run in a runner.

**Describe the solution you'd like**
Need a way to clear all cookies via pre/post request scripts.

[2018-11-25 01:47] vgosai86 commented on #4898
+1

[2018-11-25 01:55] vgosai86 opened #5564 "Get order or sequence number of the request within collection or folder"
I know there is a way to get testcaseId using script which is unique. But if there is a script way to get order or sequence number of the testcase in a collection or folder then it’d be helpful.

[2018-11-25 01:59] vgosai86 opened #5565 "Ability to have 'Warning' as one of the assertion status along with Pass/Fail"
It’d good to have ‘Warning’ test status along with Passed/Failed for the test which may be less important. For ex. I want to throw a warning and not fail it if the API response time is more than 5s.

[2018-11-25 02:05] vgosai86 commented on #493
+1

[2018-11-25 02:12] vgosai86 opened #5566 "Select & Execute requests from collection or folder"
We can run requests from folder or collection in a runner. It'd good to have a GUI based option to not run all requests within folder/collection and have checkbox to select or unselect request. For ex. I want to run only failed requests. I know I can do it runner but due to dependency with other request I'd have to run other requests which are passed. So, It'll be good to have an checkbox where I

[2018-11-25 02:17] vgosai86 commented on #5193
+1.
This is definitely a useful use case. Currently, It is giving status on test level but we should be able to request Pass/Fail. For ex. If a request has 3 tests. Until all 3 are Passed, request should be considered as Failed.

[2018-11-25 02:21] vgosai86 opened #5567 "Get Chaining request test data reported separately instead of combined."
when you export a collection run, if the testcase has chaining, the final result is of the last set but it’ll be really helpful to get status of each data set ran through chaining separately instead of combined. There is one usecase where user may want to get unified result which is retry case(looping) in case of failure. So, if there is a way to differentiate these 2 usecases, It'll be awesome.

[2018-11-25 03:16] DarkHonin commented on #4009
This thread is a beautiful mess to my sleep deprived eyes at 5:15 am trying to find a way to test these whisps of the web

[2018-11-25 11:52] pankajbsn commented on #5433
Thanks a lot. I tried this solution with Postman 6.5.2 and it worked. Many thanks.

[2018-11-25 11:52] #5433 closed, assigned to nobody

[2018-11-25 19:44] WesSec commented on #1667
+1 need interceptor in native app

[2018-11-25 20:33] sengopal commented on #3566
@nac0n I add a  "Proxy-Authentication" .  header for every request with Basic authentication which works for mac app

[2018-11-25 21:02] mmornati opened #5568 "Wrong value read from response.json()"
**Describe the bug**
When accessing a value from response.json() into the test script, the value is not corresponding to the one you can read on the response body into the web interface (which is the correct one).

You can see what is happening checking the following screenshots.
I tried to change the way I'm parsing the Json body (pm.response.json() or JSON.parse(responseBody) but the result is t

[2018-11-25 21:13] tribals commented on #5034
I'm using Postman a lot in my day-to-day work. It is great tool, after all. But I just can't remain silent.

There is such ideas flying in the air - about state of programming nowadays. No one bothers about memory usage, size of distributions, performance - there is no need, they think. Indeed, why to bother? Tomorrow there will be a CPU with even greater frequency, memory manufacturers make modul

[2018-11-26 05:45] allicanseenow commented on #4171
Has this been fixed? It seems I can still meet this bug now and then

[2018-11-26 05:50] raysefo opened #5569 "Pre-request script problem"
Hello,
I am using v6.5.2. I am trying to send body-raw-json request.

Here is my sample json body:
{
    "referenceId": "700078925111",
    "productCode": "001002461285",
    "quantity": "1",
    "version": "V1",
    "signature": {{Signature}},
    "applicationCode": "52e7cf966b724749a7c4efadc3727ed7"
}
In my pre-request script I have this script;
var ApplicationCode = request.data["applicationCod

[2018-11-26 05:56] allicanseenow opened #5570 "Automatic URL encoding (not entire URL)"
**Describe the bug**
API is:
[https://email@gmail.com:someChars@my-store.spotify.com/a.json](https://email@gmail.com:someChars@my-store.spotify.com/a.json)

**To Reproduce**
1. Open postman
2. Send a GET request with this URL
3. Console says this URL is sent in its expected form, but in fact, the first "@" in the email@gmail.com (not the second "@" as this one is kept intact) is encoded into %40
4

[2018-11-26 07:28] ankitjaggi commented on #4107
Hey @daverondell! Sorry for the delay on this issue, but we have fixed this from our end. Could you verify if it's working for you?

[2018-11-26 08:16] nac0n commented on #3566
It appears i did something wrong to work during my first try with the "Proxy-authentication" suggestion as now it's working perfectly fine.

@furick1 's example did work.

[2018-11-26 08:28] ushnr commented on #5467
Same happens to me as well. One thing I've noticed is, this only happens with an https endpoint. For testing purposes, same service exposes another http endpoint and same request works fine with that. When I switched to https, Postman seems to be adding an unexpected "------WebKitFormBoundary..." line at the end of JSON body.

[2018-11-26 08:41] ushnr commented on #5467
I have to correct one thing; it seems same line is also added to http request, too. But somehow http interface ignores that line while https responds back with 400.

[2018-11-26 09:47] hellboy81 opened #5571 "Unable to sync reponse body despite activated Save responses"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is:

There are 2 Postman installations with acivated syncing.

Both collection and History are synced properly. But the saved JSON reponse body cannot be synced.

Is it bug or stil

[2018-11-26 10:04] chrisketelaar commented on #3825
👍 from me, gonna need this feature in the near future.

[2018-11-26 11:02] ash007-postman opened #5572 "Issue with importing Swagger swagger v2 file with Examples"
The keyword "example" is existing in swagger v2, but after importing our swagger v2 file (with some examples) into Postman, examples seem to be omitted.

[2018-11-26 12:53] Wimmmmm opened #5573 "ONE request should have ONE tab"
My request is very simple: ONE request should have ONE tab.
Do not allow multiple tabs per request.

I did some fieldwork before posting this request:

- I read many other request related to tabs
- I also read the general dev team desire to "save as much work" as possible, therefore doing tricks when deleting a request

but I think that in terms of UX, you made one fundamental decision, which is n

[2018-11-26 13:31] therealalbundy commented on #4375
So what's the verdict on this one folks?
For me it occurs when I paste large JSON blob (>100MB) into body tab for a POST request.
Postman window goes black, but drop down menus are available, though non-functional.
Windows 10, Postman 6.5.2.

[2018-11-26 13:33] sabatesduran opened #5574 "Snap can't upgrade"
**Describe the bug**
Postman automatic upgrade doesn't work in v6.4.4 as a `snap`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Update available'
3. Click on 'Update'
4. See update error in the console

**Expected behavior**
Upgrade the app

**Screenshots**
![postman](https://user-images.githubusercontent.com/5699145/49016875-aff8d780-f187-11e8-9fb8-87bf232cad

[2018-11-26 14:19] yyh-gl commented on #3519
## Report
I have the same issue.

I did the below.

1. I duplicated same folders.
2. I tried delete these folders.

As the result, I cannot delete these folders.

## My environment
- macOS High Sierra 10.13.6
- Postman 6.5.2

[2018-11-26 14:43] mihaimorcov commented on #1321
Any plans to have this feature implemented? Will the existent Chrome app stay functional or should we expect it to be unusable after a point?

[2018-11-26 14:50] csm-noahjahn commented on #4940
We recently reset the MacBook Pro we were experiencing this issue on and it seems to have resolved the issue.

[2018-11-26 14:54] tbatista commented on #1667
+1 need interceptor on Desktop app.

[2018-11-26 15:08] emmanuellmota commented on #4009
+1

[2018-11-26 17:20] luketlancaster commented on #3390
Just tried the import OpenAPI 3 situation, and it worked really well! Our docs are only so good (and I'm personally only the tiniest bit knowledgeable about all of this 😬), as we're getting things converted over, but it's a great start. Thanks for working on it!

[2018-11-26 17:30] zparizek commented on #4898
working without the bulk change is really painful.
Multiple select doesn't work if you need to select more than one page of variables. Is there at least a way how to edit the underlying json file?

[2018-11-26 17:46] jeremylima commented on #4891
+1

[2018-11-26 17:54] ledzep3012 commented on #493
+1

[2018-11-26 18:40] WadeWare commented on #4574
Adding a Connection: close req header does indeed trigger the close and keep-alive cease. I am kinda on the fence about this though. Meaning, the presence of the header is not a bad thing, but having to 'know' to add the header is quite different. Meaning, an option setting that says something like: 'Close connection after send' would in effect add the header in the message.

In one sense I don't

[2018-11-26 18:41] matt-ball commented on #5563
Dependent on the complexity of what you need to do, you could set the [Cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie) header manually:

Pre-request Script:
![image](https://user-images.githubusercontent.com/8490181/49034618-57b1dd80-f167-11e8-8bc0-b8ae00729b9c.png)

Headers + result:
![image](https://user-images.githubusercontent.com/8490181/49035092-a3b15200-f168-11e8-8

[2018-11-26 19:12] denebgarza commented on #2611
Also running into this issue on 6.4.4 (6.4.4)

[2018-11-26 20:02] ryanhoward1988 commented on #4092
Has any else noticed that this issue appears to have gotten worse. I used to see this issue on the third iteration of a collection and then everything after that. I now seem to see it on third request of the first iteration and then everything after that...

i am using v 6.5.2

[2018-11-26 20:48] viperidae commented on #5124
It would be nice if you didn't deprecate the Chrome Extension until you supported all the authentication schemes.

[2018-11-26 21:11] tijaune commented on #5065
I just notice some web changes which I think is a very elegant solution. So I think you guys can close this feature request as it doesn't need anymore:

![image](https://user-images.githubusercontent.com/17985627/49042225-82b32600-f195-11e8-9214-a2c18c56a883.png)

Well done

[2018-11-26 21:40] a85 commented on #3390
@philsturgeon Thanks! I agree with the suggestion. We are getting better at managing the tracker in general but it's hard for to deal with the volume of comments + issues (all great feedback of course). The team will update other threads too. Lots coming up in 2019.

[2018-11-26 22:26] bondjw07 commented on #4898
This was a huge feature that is very painful not to have anymore.  Looks like there is no chance it's coming back with is a shame.  I understand the bugs that were coming in due to people putting in data with different formatting, but at least give us an override with a "use at your own risk" option.  Even an option to edit the background json file.  Anything would be better than the individual te

[2018-11-27 00:55] JeffLoo-ong commented on #1070
+1 Would love this feature as well <3

[2018-11-27 05:40] sivcan commented on #5569
Duplicate of  https://community.getpostman.com/t/raw-json-body-how-to-add-variable/3396/2

[2018-11-27 05:40] #5569 closed, assigned to nobody

[2018-11-27 07:32] sai-github commented on #3566
[Postman help center](https://support.getpostman.com/hc/en-us/articles/360008893713-How-do-I-configure-Postman-to-work-through-a-proxy-)

These steps on windows worked for me.
Create a `.bat` file with following and run it. Disable global proxy and system proxy in postman application
[code]

[2018-11-27 08:22] yurii-github commented on #4359
i didn't use postman too often, but got this problem too.
what i've noticed that it creates copy of itself on each run

![image](https://user-images.githubusercontent.com/1162656/49067823-c5c0d800-f22d-11e8-8800-986930595034.png)

as i remember i've ignored link App and run postamn directry from ./app/Postman
Anyway, I also had to

1. redownload new version
1. rename ./config/Postman dir
1. run it

[2018-11-27 10:00] markmooibroek commented on #3390
Good to hear this is actively worked on! Tested the function with the Canary build, but got an undefined error. Maybe you can improve things with my json file. Good luck!

[open_api_3_test.json.txt](https://github.com/postmanlabs/postman-app-support/files/2619286/open_api_3_test.json.txt)

[2018-11-27 10:01] jsobeslav commented on #3596
I support this feature: in order to write `&`, or `@` characters I have to open notepad, write it there, and copy the character to Postman. It's anoying.

Simple off switch is all we need.

[2018-11-27 10:09] drake1979 commented on #3596
Created this issue a year ago.
Since than Postman updated itself many times.
Disabling all (but Toggle) hotkeys would be a trivial development.
Please, send us the source and we, or any of us will add (remove) this feature.

[2018-11-27 10:12] drake1979 commented on #3596
1 year have passed. Still no idea when this 2h development will be scheduled for release?
Postman was a very good tool, but instead of refining it You choose to stuff with all the bells & whistles most users do not need in most of their time. This screams for modularity...
But anyway, just put an if before keyboard event handlers please.

[2018-11-27 12:34] SamvelRaja commented on #3390
@markmooibroek  Thanks for providing the Test file.
 We could reproduce the issue. We shall update this thread once it gets fixed from our end.

[2018-11-27 12:43] nadjib commented on #4687
Same with MacOS High Sierra 10.13.3
<img width="367" alt="screen shot 2018-11-27 at 13 42 33" src="https://user-images.githubusercontent.com/7357519/49082587-691fe600-f24a-11e8-9e6b-ee14b753f243.png">

[2018-11-27 13:15] YuliaLoyko commented on #3358
+1 looking for it as well

[2018-11-27 14:01] geniusit opened #5575 "Impossible to install / run postman"
I used postman for about two months with none problems. When suddenlty postman crashes. Then it's no longer possible to run the application. I tried to uninstall / reinstall with no success. The installation process crashes after one second.

Impossible to install / run postan

Download the last postman version for x64 windows user.
Try to install it.
Installation crashes after 3-4 seconds. (1 sec

[2018-11-27 14:14] harryi3t commented on #5467
@raynaldgirard Looks like you have an authenticated proxy in between which we do not support as of now.
There's an open feature request here https://github.com/postmanlabs/postman-app-support/issues/3566
Please upvote/subscribe to this issue for any future updates.

[2018-11-27 15:02] derrickmehaffy commented on #3390
@SamvelRaja I am also getting an undefined error, I do have a bit of redocs x-data stuff in mine as well, your welcome to use it as a test case also: (Warning it is quite large and it is very possible that it could be user error 😛 ) https://github.com/canonn-science/CAPIv2-Strapi/blob/development/public/openapi.yaml

[2018-11-27 15:11] tnatanael commented on #2931
+1

[2018-11-27 15:26] FrenchMigVaz commented on #4262
When it happens to me, I kill every PostMan process and restart, usually the app then opens instantly.

[2018-11-27 15:30] hezisayar commented on #1667
+1 - would be highly appreciated

[2018-11-27 16:43] jasonrakers opened #5576 "50 request limit in Collection"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

First time experiencing it, but have no other collections with 50 requests.   I noticed issue #1515 had a 50 request issue, but.  Screenshot attached.

 2. Expected behaviour:

Just trying to plan for my collection.  If 50 requests is the limit I will create a smaller collection type.

[2018-11-27 17:34] mcataldo-gr8 commented on #4818
Any update on this improvement?  This would be valuable for my organization as well.

[2018-11-27 20:14] digital-q commented on #2970
Looks like this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2861

Check out a workaround for this issue at: https://github.com/postmanlabs/postman-app-support/issues/2861#issuecomment-443241417

[2018-11-27 21:15] mtpultz commented on #4848
Works great!  Just copied in the raw JSON and hit Beautify.

[2018-11-27 22:34] gekonwi commented on #5404
Similarly, the Collection Runner converts the CSV value `0001` to `1`. This caused false-negatives for us, where "0001" was a phone extension and our back-end couldn't find any contacts with the phone extension "1".

[2018-11-27 23:42] agrawald commented on #3631
+1

[2018-11-28 00:47] akshah123 opened #5577 "Support vault integration for secrets management"
At present, we are storing credentials for authorization in environments and sharing it with team members.  This makes it difficult to deal with management of api credentials.  It would be great if postman integrated with a service like Vault so that we can better manage access to them as devs join and leave the company.

**Describe the solution you'd like**
Support pulling credentials from vault:

[2018-11-28 00:50] akshah123 commented on #5577
Node package that can be used within an electron app: https://www.npmjs.com/package/node-vault
An electron app that is operating on vault: https://github.com/jonsavage/VaultGUI

[2018-11-28 02:12] gekonwi commented on #5357
The idea of "Scenarios" is genius!! Just like a row in a CSV file, but named and available as a drop-down in the app (e.g. right next to the Environments drop-down).

We also often have the need to establish relationships between variables. E.g. our API supports different types of payload. It is the same XML request body, but the content of the <payload> tag can be plain text, like:
[code]
Or pipe

[2018-11-28 02:38] gekonwi opened #5578 "Collection Runner: select which requests to run within the same folder"
**Is your feature request related to a problem?**
We often need to run load tests, e.g. sending the same request 200 times and checking whether all 200 alerts reach the iOS app. We use the Collection Runner but we cannot run single requests, only collections / folders.

**Describe the solution you'd like**
In the Collection Runner, in the top section, where it says "choose a collection or folder",

[2018-11-28 03:15] SamvelRaja commented on #5575
@geniusit could you try opening the installer from command. This gives additional logs to debug issue.

[2018-11-28 08:07] geniusit commented on #5575
Here you are :

018-11-28 09:04:56> Program: Starting Squirrel Updater: --install . --rerunningWithoutUAC
2018-11-28 09:04:56> Program: Starting install, writing to C:\Users\S843993\AppData\Local\SquirrelTemp
2018-11-28 09:04:56> Program: About to install to: C:\Users\S843993\AppData\Local\Postman
2018-11-28 09:04:56> Program: Install path C:\Users\S843993\AppData\Local\Postman already exists, bur

[2018-11-28 08:18] geniusit commented on #5575
2018-11-28 09:15:56> Program: Starting Squirrel Updater: --install .
2018-11-28 09:15:56> Program: Starting install, writing to C:\Users\S843993\AppData\Local\SquirrelTemp
2018-11-28 09:15:56> Program: About to install to: C:\Users\S843993\AppData\Local\Postman
2018-11-28 09:15:56> Program: Install path C:\Users\S843993\AppData\Local\Postman already exists, burning it to the ground
2018-11-28 09:1

[2018-11-28 08:34] RaymsDev commented on #1667
+1 need interceptor on Desktop app.
Otherwise I'd like to continue using the Chrome app.

[2018-11-28 09:25] geniusit commented on #5575
I tried to install postman-portable-win64-6.5.3-11-setup.exe. The installation process was successfully done without error.
When I double click on postman-portable.exe nothing happens.
Here you are my log :
INFO : 2018/11/28 10:23:36.173993 main.go:51: --------
INFO : 2018/11/28 10:23:36.276993 main.go:52: Starting Postman...
INFO : 2018/11/28 10:23:36.276993 main.go:53: Current path: C:\portapps\

[2018-11-28 09:26] SamvelRaja commented on #5575
@geniusit  can you open the app from cmd it is in `C:\portapps\postman-portable\app\app-6.5.3\Postman.exe`

[2018-11-28 09:27] SamvelRaja commented on #3390
@derrickmehaffy  Thanks for providing the test case JSON.

[2018-11-28 09:30] geniusit commented on #5575
Nothing happens, i don't get back the promp command line as you can in the postman-portable.png
![postman-portable](https://user-images.githubusercontent.com/3659037/49142209-8dd29700-f2f8-11e8-812a-81b62b9ca9e3.png)

[2018-11-28 09:30] jdvegmond commented on #4977
This bug is getting very troublesome. When will it be fixed?

[2018-11-28 10:09] SamvelRaja commented on #5575
@geniusit  Could you check logs from `%APPDATA%\Postman\logs`

Also, make sure no postman process running behind before you start the Postman.exe

[2018-11-28 10:12] geniusit commented on #5575
C:\Users\S843993\AppData\Roaming\Postman\logs folder is empty...
There isn't any postman process running. I tried to restart my computer.

C:\Users\S843993\AppData\Local\Postman\SquirrelSetup.log
I got this :
2018-11-28 09:37:52> Program: Starting Squirrel Updater: --processStart Postman.exe
2018-11-28 09:37:52> Program: Want to launch 'C:\Users\S843993\AppData\Local\Postman\app-6.5.3\Postman.exe'

[2018-11-28 10:14] EralpB commented on #1228
please give us an option to disable cookies.

[2018-11-28 10:17] SamvelRaja commented on #5575
Squirrel trying to launch the app from `C:\Users\S843993\AppData\Local\Postman\app-6.5.3\Postman.exe`
But your screenshot shows that that app is in `C:\Users\portapps\AppData\Local\Postman\app-6.5.3\Postman.exe` could you clarify what am I missing here?

[2018-11-28 10:26] geniusit commented on #5575
Logs from `C:\Users\S843993\AppData\Local\Postman\SquirrelSetup.log` aren't related to the portable apps. You can see that with the timestamp (2018-11-28 09:37:52) I tried to use the portable apps at 2018/11/28 10:23:36/ The  `C:\Users\S843993\AppData\Local\Postman\SquirrelSetup.log` file isn't updated by the portable apps. Both applications (I mean the no-portable and the portable one) have the s

[2018-11-28 10:28] geniusit commented on #5575
Portable apps only displays these logs :
INFO : 2018/11/28 11:21:34.834177 main.go:51: --------
INFO : 2018/11/28 11:21:34.967230 main.go:52: Starting Postman...
INFO : 2018/11/28 11:21:34.967230 main.go:53: Current path: C:\portapps\postman-portable
INFO : 2018/11/28 11:21:34.967230 sys.go:197: Create folder C:\portapps\postman-portable\data...
INFO : 2018/11/28 11:21:34.967230 electron.go:10: Lo

[2018-11-28 11:39] SamvelRaja commented on #5575
@geniusit
Sorry for the continuous questions, we are having a hard time reproducing the issue.
Could you check you are running the compatible arch of Postman.

https://www.getpostman.com/download?platform=win64  for Windows 64 (64bit)
https://www.getpostman.com/download?platform=win32 for Windows x86(32bit)

Also, delete the `C:\portapps\postman-portable\app` and `%APPDATA%\Postman` folders before

[2018-11-28 11:44] momotaro98 commented on #1475
+1

[2018-11-28 11:49] jdvegmond opened #5579 "'Duplicate request' creates empty request"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Found in Postman 6.5.3.
When duplicating a request a new request is created with the same name + 'Copy', but none of the contents of the original request is copied to the new request.

**To Reproduce**
Steps to reproduce the beh

[2018-11-28 11:53] jdvegmond commented on #5579
Sorry, my mistake. Wasn't doing what I thought I was doing.

[2018-11-28 11:53] #5579 closed, assigned to nobody

[2018-11-28 12:45] geniusit commented on #5575
After doing it (win64) i got :

In `C:\Users\S843993\AppData\Local\SquirrelTemp\SquirrelSetup.log` :
2018-11-28 13:46:44> Program: Starting Squirrel Updater: --install .
2018-11-28 13:46:44> Program: Starting install, writing to C:\Users\S843993\AppData\Local\SquirrelTemp
2018-11-28 13:46:44> Program: About to install to: C:\Users\S843993\AppData\Local\Postman
2018-11-28 13:46:44> CheckForUpdateIm

[2018-11-28 13:15] SamvelRaja commented on #5575
@geniusit Could you verify is that any Anti-virus program in your system blocking it to run?

[2018-11-28 14:18] geniusit commented on #5575
I tried to disable Endpoint Symantec Protection  but I still have the same behaviour. It's a professional computer so I can't fully remove the antivirus

[2018-11-28 14:58] custompro12 commented on #2086
+1

[2018-11-28 15:20] ElGatoLoco commented on #1667
+1 for interceptor on Desktop app.
If anyone cares about these comments.

[2018-11-28 15:30] chrisdeso commented on #4922
Friendly bump 😄

[2018-11-28 16:27] patthiel commented on #3390
@SamvelRaja I experienced the same error as @markmooibroek  while attempting to import our OpenAPI 3 spec. In case you need another 10000+ line spec to reproduce from 😄:

https://developers.linode.com/api/v4/openapi.yaml

[2018-11-28 16:38] hello-gsn commented on #1667
+1 need interceptor on Desktop app.

[2018-11-28 17:56] ddjonline commented on #1667
+1K if you want me to use this app (desktop app is my only option as the Chrome extension is no longer available). Is this just a way to placate us so we keep our crying for help in one place or is anyone from the product team even listening?

[2018-11-28 18:32] djedi commented on #1667
+1

[2018-11-28 18:46] JP-from-Postman opened #5580 "Update failed message when app is launched manually while updating"
**Describe the bug**
Updating from 5.2 to 5.3 in-app fails with the following warning:
<img width="480" alt="screen shot 2018-11-28 at 10 23 33 am" src="https://user-images.githubusercontent.com/43283131/49173564-f3bf1e80-f2f8-11e8-8305-c2bf02c8fe99.png">

DevTools logs and Postman/logs/ files attached. The relevant error in the logs appears to be:

`
vendor-shared.js:119189 Error in update flow:

[2018-11-28 19:24] simonds commented on #4441
@prashantagarwal I would like to see this feature without having to open a second (or third, or fourth, etc.) window. Any chance this request can be re-opened?

[2018-11-28 20:02] eshack94 commented on #675
4 years later.....

[2018-11-28 20:58] ankit-m commented on #5339
A fix for this has been pushed.

[2018-11-28 20:58] #5339 closed, assigned to ankit-m

[2018-11-28 21:00] ankit-m commented on #5137
Closing this issue as there was no response. Please reopen if you are still facing this issue.

[2018-11-28 21:00] #5137 closed, assigned to ankit-m

[2018-11-28 21:11] loopDelicious opened #5581 "Bad response in Postman API documentation"
In the Postman API documentation, the example response for [this request](https://docs.api.getpostman.com/#09886971-e1e2-4a62-8f59-f7abfd79ff5e) is a 400 Bad Request. Can we include an example of a successful response?

<img width="1475" alt="screen shot 2018-11-28 at 1 08 32 pm" src="https://user-images.githubusercontent.com/17693714/49182331-dbf29500-f30e-11e8-8ece-8f93c4407994.png">

[2018-11-28 21:12] brihulse commented on #3274
I would agree with @Edward006
Owner/Admin that can manage permissions on the collection as well as Editor and Readonly
Editor which can CRUD everything except collection name and doesn't have access to change user access.
Readonly which can use collections, but can't make any changes.

[2018-11-28 21:23] loopDelicious opened #5582 "Know when my imported collection is out of date"
**Is your feature request related to a problem? Please describe.**
When I import a collection using the Run in Postman button (or other non-auto-updating means), I am referencing that particular version of the collection. When the provider makes updates to the collection, I am unaware of these updates.

For example, when I import a collection of the Postman API, I'm happily working with it in the

[2018-11-29 01:48] sunilphilip commented on #1966
Hey @vkaegis : It would be useful if we can assign attach multiple data files to the set of collections. To make it more clear, if we can assign separate data files for each collection.

[2018-11-29 01:50] qiuliliang commented on #4079
+1

[2018-11-29 02:45] mon0051 commented on #1667
+1 Postman is pointless without being able to inspect real requests and alter them. The overhead of building a request from scratch with all the Auth headers and cookies working correctly means that it's actually easier to just hack away with chrome for most things otherwise.

[2018-11-29 03:45] gekonwi commented on #5290
I would like the variables in the request body to behave just like the variables in the URL box - what @norcino said + mouse-over popups which shows the initial / current value and the scope.

[2018-11-29 03:57] gekonwi commented on #5133
I think the "Example Request" part of the generated documentation should replace all variables by their values at execution time. In any documentation I've seen so far, "examples" always have concrete values.

[2018-11-29 04:31] gekonwi opened #5583 "edit variable's current value from mouse-over popup / tooltip window"
**Is your feature request related to a problem? Please describe.**
Our requests are full of variables defined in different scopes - global, environment, and collection. Thus, wehenever we need to change a variable's current value, we need to:
1. hover over the variable
2. remember the scope
3. remember the variable name
4. remember that global and environment variables can be edited in the "enviro

[2018-11-29 05:19] cloudersjun commented on #1667
+1 need interceptor on Desktop app

[2018-11-29 05:22] cloudersjun commented on #3874
we need  this feature

[2018-11-29 07:28] vdcardenas opened #5584 "Request Post/Put/Delete processes as GET"
**Describe the bug**
A POST, PUT, DELETE request is always processed as GET. When I try to create, modify or delete a record, all requests are processed as get, obtaining all records. I have used the swagger of the API service and an alternative tool to process the request, both behave as expected.

**Screenshots**
POST request from Swagger --> OK
![imagen](https://user-images.githubusercontent.co

[2018-11-29 08:05] chimit opened #5585 "Wrong HTTP request code generation"
This request:

![image](https://user-images.githubusercontent.com/839349/49207336-95c13280-f3ef-11e8-99f7-91cd82d8e44c.png)

Generates this HTTP code:

![image](https://user-images.githubusercontent.com/839349/49207374-b4bfc480-f3ef-11e8-80be-430510c0115d.png)

But should be:
[code]

Problems:

1. No ampersand separators between key-value pairs in the body;
2. `undefined=undefined`?
3. AFAIK body

[2018-11-29 08:32] emilianobonassi commented on #5335
@kartikjain26 repeating your steps not work for our account.

We reset the repository and configured again the integration but none is pushed on gitlab side.

Consider the issue close, we will try to backup collections in another way.

[2018-11-29 08:57] ankitjaggi commented on #5335
@emilianobonassi Is it possible that the user whose token was used to create the integration does not have enough permissions to push to the specified branch? If that's case, Gitlab won't allow any changes to be pushed to the branch.

[2018-11-29 09:08] eriadam commented on #3117
@a85 @vkaegis Any update from you guys would be much appreciated.

[2018-11-29 09:57] timdmackey commented on #2427
As I have explained in response to [Issue #1428](https://github.com/postmanlabs/postman-docs/issues/1428#issuecomment-442773070), the recommendation of using environment, global, or collection variables does not cover certain situations where path variables would be necessary.

[2018-11-29 10:24] janAtcontinia commented on #4594
Adding the enviroment variable did not help me in version 6.5.3/windows 10.
Logging out of Postman and logging in again solved the problem.

[2018-11-29 10:29] matt-usurp opened #5586 "App keeps skipping between Offline"
**Describe the bug**
I get the "Looks like you are offline" banner appearing continuously on-and-off through out the day, usually on an interval of around every minute. Most of the time it is for a few seconds and sometimes it can persist the entire day until the app gets a restart.

This causes the banner (of which is fixed height) to make the page jump up and down all day long. This is what I wo

[2018-11-29 11:04] hxflove521 commented on #2701
+1

[2018-11-29 12:03] edo9k commented on #5574
Similar problem here.

[2018-11-29 12:05] franklanganke opened #5587 "Option to disable daily monitoring summary"
**Is your feature request related to a problem? Please describe.**
We use a specific alert email to as a notification for failed API monitors. The daily email "Postman Monitors - Your Summary" creates a false alarm.

**Describe the solution you'd like**
An option to disable the "Postman Monitors - Your Summary" altogether.

https://support.getpostman.com/hc/en-us/articles/115003222305-Is-there-a-w

[2018-11-29 12:20] chrisdeso opened #5588 "Maintain collection UUID on transfer"
**Is your feature request related to a problem? Please describe.**
When removing a user from a paid team, the administrator(s) are prompted to transfer ownership of any shared collections to another user. When the transfer is made, the UUID of the collection(s) transferred changes to reflect the new owner. If a team is leveraging Newman – and these specific collections – for continuous integration

[2018-11-29 12:21] wmurphycs commented on #5588
+1, it would be very useful if the UUIDs stayed constant

[2018-11-29 12:33] #5587 closed, assigned to nobody

[2018-11-29 12:47] ilya-investing commented on #5424
remove "--compressed" from the string and postman import proceeds.

[2018-11-29 13:32] mateusfccp commented on #1947
I confirm the need of this feature.

[2018-11-29 13:58] mikatuo commented on #5034
How come? It even keeps updating (and making this mess) when "Automatically download major updates" is disabled. Please fix this. Or at least provide an option to disable auto-updates!

[2018-11-29 14:09] kopach commented on #3312
Hi there. Until this issue is still not fixed, @rj93, could you please explain in more details your workaround, please?

[2018-11-29 14:12] rgasioro commented on #3312
In my case, I have to go to Cookie Manager and manually delete all cookies before each set of tests or after long period of inactivity.

[2018-11-29 14:32] kopach commented on #3312
Thanks @rgasioro, this way I know. But this is a manual way. As far as I understood from @rj93's response - there is some automated workaround by using global variables and headers.

[2018-11-29 14:43] andreyvolodko1996 commented on #3312
Hi again
in my case, I have to send GET request to obtain
request_verification_token, after that I need to send POST request to
obtain my access_token (cookie is equal to access token in my case) (I past
my username, password and  request_verification_token in the request body).
and when I perform all this actions, cookies fall into cookie manager. but
I have several roles in my website, and I nee

[2018-11-29 14:50] andreyvolodko1996 commented on #3312
Hi again
in my case, I have to send GET request to obtain
request_verification_token, after that I need to send POST request to
obtain my access_token (cookie is equal to access token in my case) (I past
my username, password and  request_verification_token in the request body).
and when I perform all this actions, cookies fall into cookie manager. but
I have several roles in my website, and I nee

[2018-11-29 14:53] rgasioro commented on #3312
My problem is that we use dynamic cookie names, so I never know what the name will be.

[2018-11-29 15:35] felixmuecke commented on #3822
+1

[2018-11-29 15:57] kopach commented on #3312
Hi @andreyvolodko1996. Unfortunately screenshots you've added doesn't show up, so it's not really clear what is your first workaround. Could you edit your comment and update screenshots? And as for second workaround - [newman](https://www.npmjs.com/package/newman) also stores cookies between requests within same collection, so not sure how does it work for you.

[2018-11-29 16:11] vdcardenas commented on #5584
I have deactivated the "Automatically follow redirects" option and it still does not work. However the solutions turns out to be to use HTTPS instead of HTTP.

https://stackoverflow.com/questions/17605915/what-is-the-correct-behavior-expected-of-an-http-post-302-redirect-to-get

[2018-11-29 16:11] #5584 closed, assigned to nobody

[2018-11-29 16:16] jrumbinas commented on #4922
Please note there are multiple use cases:

1. **Quarantined and ignored tests**. This would prevent item (request or folder with all it's scripts) from being executed while still allowing it to rest within the collection. Postman Collection v2.1 doesn't have any fields to support that. Any of the following fields on _Item_ and _Folder_ types would work: enabled, disabled, ignored, etc.

2. **Condi

[2018-11-29 16:21] bt-dd commented on #3976
@saelfaer - we ran into this exact same issue. The solution came up with was to throw an error object, which Postman will print the message for. -

`if (!pm.environment.get("some_variable")) {
    throw new Error("Some Variable Not Set");
}`

[2018-11-29 16:30] DylanTackoor commented on #2724
+1 :)

[2018-11-29 16:38] Deus-Rex commented on #5574
Likewise, also a snap.

[2018-11-29 17:41] andreyvolodko1996 commented on #3312
if requests in the contractions locates in separate folders, Newman doesn't
store cookie.

On Thu, Nov 29, 2018, 18:57 Ihor <notifications@github.com wrote:

[2018-11-29 19:28] jifka opened #5589 "API stops responding on custom domain"
**Describe the bug**
We have an API published on Postman using a custom domain. So our API documentation can be seen at restapi.mycompany.com (not the real address, but the subdomain is the same).

Occasionally, we check the API docs and we get a 404 error coming from the Postman server. This is not a 404 from the browser, and not a DNS issue because we're getting to the Postman server and seeing

[2018-11-29 19:40] kopach commented on #3312
Unfortunately it doesn't work for me in this way. Anyway, could you, please, describe your step 2 from first workaround, please?

request doesn't work. It's confusing) but look at the screenshot

Could you share, please, some code example you put in Tests section? And what do yo put as url for main request?

[2018-11-29 19:59] aweeks17 opened #5590 "Customize request id on published documentation URL"
It would helpful if we were able to customize the request id's on the published documentation URLs rather than have a string of random numbers/letters for each one. This would make sharing the URLs easier.

For example, instead of apidocs.example.com/#e7a7ffb0-ce3d-4a56-8f92-1b7121edf17, it could be apidocs.example.com/#numbers.

[2018-11-29 20:18] mariobenuzzi opened #5591 "Error: "Could not open Postman" while opening the app"
1. Update to 6.5.3
2. Launch App
You get this:
<img width="551" alt="screenshot 2018-11-29 20 39 34" src="https://user-images.githubusercontent.com/23181390/49249373-3cbbc380-f41c-11e8-979a-11b7f8eba013.png">

[2018-11-29 20:21] kopach commented on #3312
Thank you @andreyvolodko1996 a lot. I finally managed to execute multiple requests at once without cookies sharing. The workaround with separate folders works for me now. As it appeared the key thing for this workaround to work - was to put cookies sensitive requests in separate **root** folders inside collection. What I was doing wrong at first - was separating request in sub-folders inside anoth

[2018-11-29 20:29] SFarageNIS commented on #1667
+1 would love interceptor on desktop app

[2018-11-29 22:12] andreyvolodko1996 commented on #3312
that sounds great)
should still I explain you my step 2 from first workaround or that's enough
for you to run your collections in postman?

On Thu, Nov 29, 2018 at 11:21 PM Ihor <notifications@github.com> wrote:

[2018-11-29 22:40] trev commented on #4677
@prashantagarwal Is this still accurate. e.g Postman still can't connect with TLS1.2?

[2018-11-29 22:46] shisapian commented on #1603
+1

[2018-11-29 22:54] kopach commented on #3312
For me this is totally enough, at least for now :). Thanks once again 👍

[2018-11-29 23:39] chadbr commented on #2694
+1

If I have a data file like this:

[code]

I want to be able to use {{createdUser}} and {{giddy}} as url parameters, json bodies, etc.

If I use  {{giddy}} today it sends `Object[Object]` to the server... not so useful.

While you're at it - why not allow `data.giddy.up` (everywhere please!)

[2018-11-29 23:54] Y-Less opened #5592 "Auto update broke start menu shortcut"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

I'm not sure how I got an update, as per #2799 I mostly ignore them.  However, it seems one did, and at the same time updated the start menu shortcut to point to the new versi

[2018-11-30 00:29] JP-from-Postman opened #5593 "Bug in release notes dialog in Postman desktop app"
**[reported on behalf of @jaysardhara by Postman Support]**

Steps to reproduce bug:
1. Let Postman auto-download new version
2. Restart Postman
3. Check Release Notes
4. Release Notes dialog would show a link to release notes and nothing else
5. Close dialog and click Release Notes again
6. Now dialog would properly render all details of changelog instead of showing link

[2018-11-30 00:44] rysbilinski commented on #1669
+1

[2018-11-30 02:35] qq283335746 commented on #1667
+1 need interceptor on Desktop app! i need it show view website page history! postman native app not work for view website page history now!

[2018-11-30 02:43] jamie-lloyd commented on #3555
Is there a rough ETA for supporting github enterprise integration? I just bought a pro license today, assuming it would work.

[2018-11-30 03:04] dream891117 commented on #1654
set environment :
![image](https://user-images.githubusercontent.com/3175825/49265986-5fd38b00-f48f-11e8-9023-dffb18c0d29e.png)
body :
![image](https://user-images.githubusercontent.com/3175825/49266008-74b01e80-f48f-11e8-97a2-666a793f0484.png)
runner :
![image](https://user-images.githubusercontent.com/3175825/49266027-885b8500-f48f-11e8-9860-5af133c57cfd.png)

How to use array?

[2018-11-30 03:18] godfrzero commented on #5589
Are you publishing using an environment? What's the error message displayed on the 404 page?

[2018-11-30 03:24] jifka commented on #5589
I'm not sure I understand the first question. I'm using the Postman web-based Dashboard and publishing a Collection within a Workspace. From the Publish screen I'm using a custom URL.

As for the 404 message, it's the page you get on Postman when your API isn't published. It's the same page you get when you hit an invalid URL like this:  https://www.getpostman.com/foobar/

Every time this happens,

[2018-11-30 03:34] godfrzero commented on #5589
A published documentation can be a collection, or a collection + environment combo. If you have an environment published as well, and the environment is deleted or removed from the team, the public documentation will display a 404 since it can't find one of the published elements. This is something that can be fixed by "republishing" since a new environment or no environment will be used.

If a cu

[2018-11-30 03:40] paul-headington commented on #1667
Really need this feature, Have gone back to using Charles.

[2018-11-30 04:24] jifka commented on #5589
Ah, I do have environments set up in the workspace, but do not believe any of them were deleted or removed form the team.

[2018-11-30 04:41] utherpally commented on #1667
+1 need interceptor on Desktop app

[2018-11-30 05:35] andreyvolodko1996 commented on #3312
cool

can you tell me, you use Jenkins either on the localhost or on the server?

On Fri, Nov 30, 2018 at 1:54 AM Ihor <notifications@github.com> wrote:

[2018-11-30 06:11] kartikjain26 commented on #3555
@jamie-lloyd Hey, Github enterprise integration will be available soon. Its in beta. Is your custom domain intranet ?

[2018-11-30 06:15] BAMSDK commented on #3555
If by "custom domain intranet" you mean a self hosted enterprise version of GitHub than yes

[2018-11-30 06:17] jamie-lloyd commented on #3555
If by "custom domain intranet" you mean a self hosted enterprise version of GitHub then yes

[2018-11-30 08:28] Flangvik commented on #697
+2

[2018-11-30 08:45] kopach commented on #3312
I don't use newman on jenkins, there is no need for this in my case yet. I do run my postman collection locally for now.

[2018-11-30 08:48] andreyvolodko1996 commented on #3312
oh, got it. I was thinking you use jenkins, but as I understood, you just
run your collections in cmd with the help of newman
On Fri, Nov 30, 2018 at 11:45 AM Ihor <notifications@github.com> wrote:

[2018-11-30 08:59] Nomeyho commented on #2701
+1

[2018-11-30 09:03] ash007-postman opened #5594 "Test filter is not working when retrying the run in collection runner"
When you perform several tests within the runner and you press the red block to show only the failed tests. Then the red block has gray around it to indicate that it is selected.
And you retry the set of tests.
Then the red block is still gray to indicate that it is selected
But the list also shows the passed tests.(x)
And I also can’t select the failing tests again, as this is already selected.(x

[2018-11-30 11:40] abhijitkane commented on #3390
@patthiel @derrickmehaffy - Your specs should import in the latest version of Postman Canary - `6.6.0-canary02`
@markmooibroek - Your spec should import as well. We're tracking an issue where example URLs for requests with path variables in the URL aren't being imported correctly, and we expect a fix to be out in a few days. -  https://github.com/postmanlabs/postman-collection/issues/740

[2018-11-30 12:00] chrisdeso opened #5595 "Populate collection-level auth in generated code snippets"
**Is your feature request related to a problem? Please describe.**
When authorization is defined on the collection-level, it doesn't populate in the generated code snippets.

**Describe the solution you'd like**
Populate collection-level authorization in generated code snippets 😄.

**Additional context**
[filed by postman]

[2018-11-30 12:06] FelixButzbach commented on #4677
Just wanted to let you know that the error was actually on my side, a missing chain certificate :/ Sorry.

[2018-11-30 12:47] magnusnn commented on #1667
+1 for interceptor on desktop app

[2018-11-30 12:51] chrisdeso opened #5596 "Indicate when a collection doesn't belong to a workspace"
**Is your feature request related to a problem? Please describe.**
Currently, when a collection is removed from the only workspace it belongs to, the only way to restore access is to `Share` the collection in question to an active workspace via the `View all collections` view in the online dashboard – [https://the.postman.co/team/elements](https://the.postman.co/team/elements).

There isn't any in

[2018-11-30 13:14] mennopot opened #5597 "Certain user settings are "defaulted" after you logout and login again in Postman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
In case you logout and login again, the following settings are defaulted (in case they did not have these setting yet)

The selection to not show the “building blocks” start screen on startup is defaulted to on

“Trim Keys and v

[2018-11-30 13:20] xdjinnx commented on #1667
+1 need interceptor on Desktop app

[2018-11-30 14:15] sivcan commented on #1654
@dream891117 Right now, arrays are not supported
You'll have to stringify your appointment list.
[code]

[2018-11-30 14:30] jcstanaway commented on #3390
6,6,0-canary02 appears to have an issue with forward references.  I had a $ref to an element defined later in the file and the import failed with an error that it couldn't find that referenced element.  I moved things around so that the element was before the reference and the import succeeded.

I can't post the spec due to proprietary reasons, but if needed I can try to mock something up.

[2018-11-30 15:35] digital-q commented on #2861
I can confirm that null values being replaced by their variable name is still an issue with runner. JP in Postman support has come up with a great workaround, which I'll post here:

**Add the following to the Pre-request script**
`var iterationData = pm.iterationData.toObject();
					var keys = Object.keys(iterationData);
					for(var i = 0; i < keys.length; i++)
					{
					    if(iterationData[k

[2018-11-30 16:17] jasonrakers commented on #5576
As an update.  I believe this was a client/connectivity issue, I began having additional issues moving requests to other locations or even trying to delete requests/collections.  I opened Postman on another client without those same issues.  When I returned to the original client, my workspace updated successfully.  I do not appear to be having the issue any longer.  I now have 51 requests in the

[2018-11-30 16:17] #5576 closed, assigned to nobody

[2018-11-30 18:34] sberczuk commented on #2906
Our workflow is to keep the canonical versions of collections in Git, and push then to the cloud in CI, using the IDs as keys. And the Postman Editor _is_ the nicest way to edit collections. So being able to import, edit, export without having to manually revert the ID change would be helpful. So for us "keeping the ID" is useful. Deleting it is not.

[2018-11-30 19:19] kyledavelaar opened #5598 "After installing update postman app does not load"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I updated postman yesterday and now when I open the app, the app never loads.  The spinners just keep spinning.

**To Reproduce**
see above

**Expected behavior**
The app should load so I can use it.

**Screenshots**
<img width=

[2018-11-30 23:56] jengwood opened #5599 "Double // in route causes POST and PUT to be sent as GET"
The double "//" in the first part of the route below causes all requests to be sent as a GET. Technically, the URL is invalid, but the request should not go through as a GET

POST //[]/[] HTTP/1.1
Host: api-public-stage.[].com

This request from the HTPP code gets sent as a GET through Postman. When looking at the cURL code, it gets converted correctly into only one "/" in the route.

 - App Type:

[2018-12-01 00:13] dcc635 commented on #2676
Absolutely agree. Our team can't accept this risk, so we purposely don't include a Production environment in Postman and use curl commands instead. This is of course inconvenient and we lose the benefits that Postman provides

[2018-12-01 05:26] dpritos commented on #5591
Same here. Application not responding on fresh install. Tried both 6.5.2 and 6.5.3.

[2018-12-01 05:35] preethammavin commented on #5521
@abhijitkane is this fixed now?

[2018-12-01 07:30] stanislavkozlovski opened #5600 "Collapse all JSON bodies' specific fields"
Hey there,
I have a response body like this:
[code]

Would it be possible to implement a feature such that I can minimize every object's `"b"` field?
I realize this is not as trivial as it sounds as we have no type validation in JSON and you can't be sure what to collapse. I suggest we make in the most basic form, that is if the path to the object is the same, collapse it.
e.g
[code]
Here, if we w

[2018-12-01 07:45] abhijitkane commented on #5521
@preethammavin Waiting on user confirmation

[2018-12-01 14:42] mfaheemakhtar commented on #5598
Not sure if I'm facing the same problem but when I started the Postman today, it got stuck on the loading screen. I have recently installed some updates for Ubuntu 16.04 so the Postman may have got updated.

I tried running Postman from the terminal and saw that there was a permission error, I ran the Postman command with sudo and it worked.

[2018-12-01 17:51] verglor opened #5601 "All data lost"
Once Postman app freezes for whatever reason, the workspace is totally wiped out without any chance to recover !

If user doesn't want to send all his API passwords to postman server, he has to frequently export all collections and backup them.

This bug should be either fixed or at least there should be a big bold red warning that without sync whole workspace can vanish anytime.

[2018-12-01 19:40] nivle commented on #4361
I had kind of the same issue? though for me it just spiked the cpu to 70+% when I started it,
causing it to kinda break, and take forever to start.
I just enabled compability to be set to windows 8(since I use windows 8) and it fixed that problem.

![image](https://user-images.githubusercontent.com/16451772/49332211-3eff5880-f5a9-11e8-8746-63cd6db29eda.png)

[2018-12-02 09:22] mariobenuzzi commented on #5591
I've solved it by deleting Postman cache. Make sure you have saved your work elsewhere or in the cloud.

This is the original message I received from postman support.

Deleting your local app cache is a good place to start, and often resolves problems like this.

________________________________
!!!! PLEASE NOTE !!!!

If you were not logged in before this issue occurred (or, had sync disabled in a

[2018-12-02 09:30] dpritos commented on #5591
Mine is a fresh install, not sure if that's still applicable.

[2018-12-02 11:25] aravinthkumar commented on #1667
This is one of the important features in postman. How can this be missing in the native application?
I migrated to the native application thinking I would get some value-add but it looks like we missing some features.