[2017-08-15 09:29] gauravcanon commented on #3146
@homerepope un-install current postman,
Go to chrome and find for extension Postman Interceptor, After installing in postman then click option **Postman chrome app** it will open postman application which is compatible with Postman Interceptor. Your problem can be solved with this.
<img width="202" alt="screenshot 2017-08-15 11 25 40" src="https://user-images.githubusercontent.com/897747/29310127-

[2017-08-15 10:06] gauravcanon commented on #3146
I am using this version of the postman, I am on Mac OS X version 10.12.6 (16G29).
<img width="777" alt="screenshot 2017-08-15 11 43 26" src="https://user-images.githubusercontent.com/897747/29310752-55f5eb4a-81af-11e7-8dc4-fbec873b3bc8.png">
<img width="336" alt="screenshot 2017-08-15 11 44 53" src="https://user-images.githubusercontent.com/897747/29310753-56758b5c-81af-11e7-89dc-66405f4e6d9a.png"

[2017-08-15 13:00] dnipser commented on #1947
+1

[2017-08-15 13:21] ahmetildirim commented on #675
+1

[2017-08-15 15:33] poisa opened #3388 "Feature request: Cross-pane drag and drop"
**Problem:**
When a collection grows to an unmanageable size it is useful to create folders and organize endpoints a bit. Unfortunately when you need to drag an endpoint that is at the bottom of the list to a folder that is at the top it is very hard and slow to scroll all the way while dragging the endpoint.

**Proposed solution:**
I think this problem is _almost_ solved in the latest version. Th

[2017-08-15 16:48] joelpresence commented on #2736
Hi @prashantagarwal - I noticed that you closed https://github.com/postmanlabs/postman-app-support/issues/3368 ... The reason I created *that* issue in favor of this issue is that it seems like *this* issue hasn't gotten any updates or attention since February 21, almost 7 months ago.  That worries me because we need to make a decision very soon about whether to pay for Postman or pay for Paw for

[2017-08-15 16:51] dgofman commented on #3365
I am fine with a dialog. It's better than have no option avoiding creating duplicated properties.

[2017-08-15 17:07] prashantagarwal commented on #2736
@joelpresence . Pre request script and Test scripts inside Postman are written in Javascript. And as of yet Javascript does not support integers greater than 2^53. But this is under serious consideration by TC39 (https://github.com/tc39/proposal-bigint). So until it is supported by node, it is not possible for us to support this by default. That being said I can suggest you a work around that migh

[2017-08-15 17:09] joelpresence commented on #2736
Thanks @prashantagarwal !  I will try the json-bigint and let you know how it works.  :-)

[2017-08-15 18:08] yishayn opened #3389 "Feature request: Collection - View the "Body" instead of "Auth" by default"
First, I have to say that I love using Postman!. Thank you!
In any case, I would like to ask you for the following.

**Problem Description**
-----------------------
I have a collection of ~50 POST API requests.
And this collection is duplicated 10 times for different environments.
Each time, I selected an API POST request from the relevant collection,
and I only need to EDIT the values of the requ

[2017-08-15 18:58] cjlotz commented on #1906
+1

[2017-08-15 19:16] dancrumb opened #3390 "Support for swagger v3.0.0/OpenAPI"
## App Details:

[code]

## Feature Request

Currently, Swagger import is limited to v1 and v2 of the swagger schema.

With the release of swagger v3.0.0, AKA OpenAPI, is support for this on the roadmap?

[2017-08-15 20:10] a85 commented on #3374
@beast I like this idea. Thank you for posting on the tracker! We have some long term goals for templating + custom CSS and I'm guessing this might fit in better. We'll need to have a discussion here first though. We'll keep this thread updated with progress.

[2017-08-15 20:17] jamesyarrington commented on #3386
+1
My previous workaround was to right click a tab and select `Close All Tabs`, then hit spacebar for each popup.  This worked because `Don't Save` was selected by default.
I've now just noticed that `Save` is now the default selection, so my spacebar workaround no longer works.
I'm not looking forward to the next few weeks where I find all the changes that I did not mean to save!

[2017-08-15 21:58] abhijitkane commented on #3384
@markkimsal Can you mention what version/platform of the app you're seeing this with (Chrome app or the native app)? If you're using the Chrome app, you can try switching to the native version (https://www.getpostman.com/apps) - we have greater control over the OAuth2 flows there.

Is there a publicly-accessible URL we can try to reproduce this with?

[2017-08-15 23:23] KeynesYouDigIt commented on #682
I am now working with multi level folders (thanks!!) but cannot reorder tests by anything but created date. Is there any way to resequence tests in a way that is obvious to my whole team? (ie, without using NextRequest())

[2017-08-16 00:47] JumpyKitten opened #3391 "S3 SignatureDoesNotMatch if port number present in URL"
## App Details:
Postman for Linux
Version 5.1.3
linux 4.10.0-32-generic / x64

## Issue Report:
When I send this request to AWS it succeeds:
http://mybucket.s3.amazonaws.com/Hello.txt
By just adding the port number, it fails with SignatureDoesNotMatch:
http://mybucket.s3.amazonaws.com:80/Hello.txt

This make Postman unusable with S3-compatible service that does not use the default port number.

[2017-08-16 01:28] voycey opened #3392 "Feature Request: Reinstate Postman Interceptor applying cookies automatically (Xdebug)"
I use Postman along with Xdebug in PHPStorm and have done for at least a year now, however following recent updates Postman interceptor doesn't seem to be working to send the Xdebug cookies so my debugger can latch on to the request from Postman.

I can manually start the debugger and then enter the cookie value into the new Cookie Manager functionality but as XDebug generates a new cookie for eac

[2017-08-16 01:57] Yardglass commented on #3387
@prashantagarwal
If I get the Postman Echo collection this way:

1. Go to https://docs.postman-echo.com/
2. Click [>Run in Postman]

I get different tests which fail. The Delete Cookies URL still contains params to delete foo1 & foo2 (https://postman-echo.com/cookies/delete?foo1&foo2).

The (failing) tests from the above location are:

    tests["Body contains cookie foo1"] = 'foo1' in body.cookie

[2017-08-16 03:11] kamalaknn commented on #3385
Hey @serkand

I don't think the Postman Sandbox is warning you on lint errors. That could have been a call stack overload or a memory overload. Could you share a sample script, a minimal version of it, where you are seeing this? So we can reproduce this. Thanks.

[2017-08-16 03:19] kamalaknn commented on #3387
@Yardglass Ah yes, the tests should have been the other way. We'll take a look at it. Thanks for letting us know.

[2017-08-16 03:33] kamalaknn commented on #3379
Hey @rawaludin

That is bad. Could you share some more details to help us narrow down on the issue?

Does this happen every time or at random times?
Could you share the size of payload that crashed the app, also the nature of the content (plain text/zip etc)?
Were you able to see this right after you start the app for the first time, or does it happen after you have the app open for a long time?

[2017-08-16 03:39] kamalaknn commented on #3388
@poisa Thanks for sending your feedback. I am including our design team in this thread. We'll see how we can make reordering easier in any way.

Chears!

[2017-08-16 03:46] rawaludin commented on #3379
Yes, it happen after I open postman for a long time.
On Wed, Aug 16, 2017 at 10:34 AM Kamalakannan <notifications@github.com>
wrote:

[2017-08-16 03:52] kamalaknn commented on #3389
Hey @yishayn

Thanks for sending in your feedback. We'll take a look at this. Chears!

[2017-08-16 05:16] serkand commented on #3385
Here is a screen shot from Postman:

![image](https://user-images.githubusercontent.com/22509908/29348249-8cab0b66-8295-11e7-910f-3483021ead0c.png)

[2017-08-16 05:17] serkand commented on #3385
Let me know if you require the script in a text format.

[2017-08-16 05:22] kamalaknn commented on #3385
@serkand the text format would really help to look at the code once.

[2017-08-16 05:53] dmladek opened #3393 "Postman doesn't know to compare NULLs from Response Body and CSV file"
## App Details:
[code]

## Issue Report:
1. My test tries to compare extracted value of an element from the JSON response body.
The value of interest can be **null**. I'm using CSV file to store there expected results, so
I can compare data in responses with expected date prepared in CSV file.

## Steps to reproduce the problem
I've attached my CSV file.
[PostMan-EPIC-SF-VALIDATION.csv.txt](https:

[2017-08-16 06:15] ratpik commented on #3323
@Rashid-007 - This bug has been fixed. You requests should match as you expect them to match.

[2017-08-16 06:25] ratpik commented on #3246
@bicanc - We have introduced two new optional headers `x-mock-response-name` and `x-mock-response-id` either of which can be specified while calling a mock to specify the exact response you want by name or by the uid of the saved example respectively. This lets you custom match arbitrary responses to your mock request.

Eg. For your POST query above if you have examples that differ only in the bod

[2017-08-16 07:21] harryi3t commented on #3391
Hi @JumpyKitten
I tried to repro this.
I have created a bucket on AWS and uploaded an image with public read access
But I am able to see the image using both URLs from Postman
[code]

![image](https://user-images.githubusercontent.com/5207331/29351776-c9c70798-8281-11e7-93c3-1df38b76737e.png)

Could you try these on your end? It will help us to narrow down the issue.

[2017-08-16 08:41] mairo744 opened #3394 "Postman tests problem with header Content-Type"
My many tests crash on "Content-Type" because it was changed on "content-type" (lowercase).
Is it bug or new feature?
Can i simple rewrite this for all tests?

Postman fails:
tests["Content-Type is present"] = responseHeaders.hasOwnProperty("Content-Type");

Postman passes:
tests["Content-Type is present"] = responseHeaders.hasOwnProperty("content-type");

Postman for Chrome
Version 5.1.3
win / x8

[2017-08-16 08:52] TheCodeDestroyer commented on #1470
Is it possible to have anything in schemes I would like to import that as a variable.

Example:

[code]

I know this is not a valid swagger file but it's easier for me to change it here than after the import for 100+ endpoints

[2017-08-16 09:58] prashantagarwal commented on #3390
@dancrumb Thanks. We will review this request and get back to you with an update on this.

[2017-08-16 10:00] prashantagarwal commented on #3392
@voycey Thanks for reporting this. We will investigate this issue and get back to you.

[2017-08-16 10:02] prashantagarwal commented on #3394
@mairo744 Thanks for reporting this. We will investigate this issue and get back to you.

[2017-08-16 10:06] d-schmidt commented on #2843
We got a "close all" in the chrome app now. good enough for me.

[2017-08-16 10:06] #2843 closed, assigned to nobody

[2017-08-16 10:07] d-schmidt commented on #2842
We got a "close all" in the chrome app now. good enough for me.

[2017-08-16 10:07] #2842 closed, assigned to nobody

[2017-08-16 11:14] Telaran opened #3395 "Feature Request: API Documentation : Request with Params-List"
Hello together, maybe it's a possible duplicate on [#3346](https://github.com/postmanlabs/postman-app-support/issues/3346) but I'd like to clarify my feature request.

### Story
We have some requests (like search/filter) which can have several params and many of them are optional.
![paramsdocs_ex001](https://user-images.githubusercontent.com/2278266/29356291-11a26458-8274-11e7-9eaa-36041591e146.pn

[2017-08-16 11:25] loskael commented on #1850
[code]
bug still not be fixed.

when i `bulk edit` it, the item will be right, but the others still wrong.

[2017-08-16 11:32] harryi3t commented on #3357
@mcfedr I have reproduced and confirmed the issue.
Our server is indeed setting the Basic auth header and setting the values in the body as well.

Unfortunately, we can't remove support for one of these from the server side, coz it may cause other customer's server to break (which may support only one of these.)

We are thinking (not finalized yet) to solve this issue from front-end, giving the us

[2017-08-16 11:44] prashantagarwal commented on #3395
@Telaran . Yes we will support query parameters in new version of documentation and it is going to be released very soon. Right now we don't support optional query parameters but you can very easily solve your use case by describing them as optional in description. But yeah they have to be enabled in your request.

[2017-08-16 11:44] prashantagarwal commented on #3395
@Telaran I am closing this as duplicate in favour of #3346

[2017-08-16 11:44] #3395 closed, assigned to nobody

[2017-08-16 11:45] Telaran commented on #3395
@prashantagarwal
Thanks for your feedback. Looking forward for the upcoming release

[2017-08-16 12:19] prashantagarwal commented on #3393
@dmladek Thanks for reporting this issue. We will investigate and update you about this issue.

[2017-08-16 12:45] mcfedr commented on #3357
Choosing would make most sense. Like I said, my server is rejecting the
request because it uses both.

On Wed, 16 Aug 2017, 14:32 Harendra Singh <notifications@github.com> wrote:

[2017-08-16 14:32] mortac8 commented on #2842
How can I close all tabs from the Windows app?  I have 50 tabs open and it asks me to save each one in Postman 5.1.3.

[2017-08-16 14:35] d-schmidt commented on #2842
I got a [...] button next to the tabs. It has an close all option. There is still a "save?" dialog but you can click a few times on the same spot and everything is gone.

edit: the Windows App has a right click menu on the tabs, I think?

[2017-08-16 15:52] harryi3t commented on #3357
@mcfedr Can you try __un-checking__ the `Request access token locally` <img src= 'https://user-images.githubusercontent.com/5207331/29372418-aa89146a-82c8-11e7-9965-75dbdda990c0.png' height=500px/>

When it's checked the App makes the second request using both authentication methods
When it's unchecked our server is used which only sends the credentials in the body

[2017-08-16 16:28] ataylor12 opened #3396 "Bug - Cannot reorder calls in collection v5.1.3"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Encountered only since update to 5.1.3
 2. Expected behaviour:
Should be able to reorder calls by dragging a call above/below other calls or into other folders in the side panel.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-08-16 17:09] JumpyKitten commented on #3391
You used "No Auth" for anonymous access. I am using "AWS Signature" which causes Postman to generate S3 Signature V4. Also, you used path-style access, while I use virtual hosted-style access.

[2017-08-16 17:30] joseph4tw commented on #1180
+1

[2017-08-16 17:37] JumpyKitten commented on #3391
Here are screenshots:
![image](https://user-images.githubusercontent.com/13560014/29376735-65b40534-826e-11e7-8bc2-5ce3080185b5.png)
![image](https://user-images.githubusercontent.com/13560014/29376745-6be7e010-826e-11e7-97c0-cfc4518b8a8d.png)

Note that since request header X-Amz-Content-Sha256 is required, I have to add it manually for a zero-byte body, which is "e3b0c44298fc1c149afbf4c8996fb924

[2017-08-16 17:54] zagirhmm opened #3397 "Not printing logs on the console"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-08-16 19:53] robolivable commented on #3386
It seems unnecessary for the "Do you want to save?" popup to be default behavior in the first place.

I would rather just have a little floppy disk button that takes me directly to the "Save request" prompt instead.

Edit:
Oh..
![screen shot 2017-08-16 at 3 57 35 pm](https://user-images.githubusercontent.com/7831876/29382790-c721803a-829b-11e7-9da0-f7a26131711c.png)

[2017-08-16 21:25] brempusz commented on #3127
I disabled "Send Postman Token Header" in options and the issue is gone. I use custom header 'X-Auth-Token' - I guess there is some kind of conflict with 'Postman-Token' header. My Postman version: v5.1.3, Windows 10.

[2017-08-17 00:33] serkand commented on #3385
@kamalaknn i've emailed you the text version

[2017-08-17 02:58] Yardglass commented on #3387
Thanks @kamalaknn, happy to help.

[2017-08-17 04:09] njLT commented on #3386
+1
My coworkers and I really hate this dialog box

[2017-08-17 04:37] kamalaknn commented on #3394
Hey @mairo744

We've seen that the newer version of Chrome has been lower casing response headers in XHRs. We understand that this could be annoying to you, but this is something out of our control since it is coming out of Chrome.

You can try out our native apps where this would not happen(since we have more control over requests than the Chrome app) and we have a lot of other features as well.

[2017-08-17 04:42] kamalaknn commented on #3397
Hey @zagirhmm

We would need more information to help you out here. Please let us know when and how this happens.

Also, you are on an older version of the app. Please update your app to the latest version and check if you are still seeing this. If you are having troubles updating your app, try downloading the latest version from https://www.getpostman.com/apps

I'm closing this for now. Please re

[2017-08-17 04:42] #3397 closed, assigned to nobody

[2017-08-17 04:51] beast commented on #3374
@a85 Thanks for considering this. I really enjoy working with Postman for the past 2 years and hope it becomes better each day. Is there any ETA on when the improvement might be release? Just want to understand the timeline. Thanks.

[2017-08-17 05:01] bhawna2109 commented on #3386
Hi everyone - sorry for the trouble 😓  . We understand how this can be annoying, and are actively working on some improvements there. Thanks so much for all the suggestions and patience - we'll post an update here once we push out a usability fix for this very soon :)

[2017-08-17 05:09] mlambley opened #3398 "Need to press Ctrl+Z many times to undo changes in the url box"
## App Details:
[code]

## Issue Report:
When I change text in the URL box, and then press Ctrl+Z to undo the changes, it takes 2-3 presses before the undo operation happens.

For example:
![postman url](https://user-images.githubusercontent.com/17264636/29396817-b4a94010-835d-11e7-8dc4-690612606e8a.png)

If I were to change "46" to "46393" and then Ctrl+Z to undo the changes back to "46", I need

[2017-08-17 05:18] prashantagarwal commented on #3398
@mlambley Thanks for reporting this we are already tracking this issue #3315 . I am closing this as duplicate issue.

[2017-08-17 05:18] #3398 closed, assigned to nobody

[2017-08-17 05:19] mlambley commented on #3386
Thank you for your attention to this matter, Bhawna. I look forward to seeing the fix in the future.

[2017-08-17 06:03] SamvelRaja commented on #3396
Thanks for bringing this to our notice, we are actively looking into this issue. We shall update the same thread asap.

[2017-08-17 06:25] mairo744 commented on #3394
Thanks for answer in native apps Content-Type works fine but is more difficult to manage cookies.
Is any way to share PHPSESSID between chrome and postman?
I can manage manual but it is complicated.

[2017-08-17 06:44] tomershay commented on #1263
+1

[2017-08-17 07:04] kamalaknn commented on #3394
@mairo744 umm actually no. The only possible option now is to manually add the cookies to the native app. We are looking into ways we can make cookies easier in the native apps n the long term.

I'm closing this issue. Feel free to continue any discussion here.

[2017-08-17 07:04] #3394 closed, assigned to kamalaknn

[2017-08-17 07:35] shankyty commented on #6682
*bump*

[2017-08-17 07:56] andreassiegel opened #3399 "Feature Request: Support Request Body for GET Requests"
I know that GET requests usually don't have (and probably shouldn't have) a request body.

However, the [RFC 2616 Hypertext Transfer Protocol -- HTTP/1.1](https://tools.ietf.org/html/rfc2616) doesn't explicitly state that GET requests must not have a body, but section [9.3 GET](https://tools.ietf.org/html/rfc2616#section-9.3) only refers to the request URI or message headers.

Roy T. Fielding clar

[2017-08-17 08:50] candyan opened #3400 "nginx proxy_pass `Unable to authenticate using access token` error"
## App Details:

[code]
proxy_pass to mock api server and proxy_set_header x-api-key

and then return

[code]

[2017-08-17 09:10] prashantagarwal commented on #3399
@andreassiegel We are already tracking this issue here #2729. I am closing this as duplicate

[2017-08-17 09:10] #3399 closed, assigned to nobody

[2017-08-17 09:12] andreassiegel commented on #3399
@prashantagarwal Thank you! Sorry for missing the existing feature request.

[2017-08-17 10:00] Faz540 opened #3401 "[Bug] - Deleted environments that were shared are still shown under the Manage Environments > Environment Templates window"
**Postman Windows App using Windows 10 x64.**

**Steps To Reproduce:**
Create and Share an environment with your team
Wait for sync
Click the 'Team Library' link at the top of the page
Click 'Environment Templates' tab.
Delete shared Environment from the Team Library
Wait for sync
Open the 'Manage Environments' window
Delete environment that was previously shared from the 'Manage Environments' win

[2017-08-17 10:06] ArunKSY opened #3402 "New version of postman forces response download instead of displaying result inline"
Image is not showing inline in updated postman version.It is asking to download the file.

![barcode_image_capture_sdf](https://user-images.githubusercontent.com/31095804/29407373-d46852ca-8361-11e7-853f-108ab90c5be9.PNG)

[2017-08-17 10:30] ArunKSY commented on #2082
Request Headers:
cache-control:"no-cache"
Postman-Token:"9ae5d8d4-cd9a-49fe-9540-ba81d5da60c4"
Content-Type:"application/x-www-form-urlencoded"
User-Agent:"PostmanRuntime/6.2.5"
Accept:"*/*"
Host:"192.168.0.73:8093"
cookie:"JSESSIONID=131D2DE67E67791ADB2B42F285CA0CE7"
accept-encoding:"gzip, deflate"
content-length:60
Request Body:
Response Headers:
server:"Apache-Coyote/1.1"
content-disposition:"a

[2017-08-17 12:38] TheCodeDestroyer opened #3403 "Import of variable values does not work"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not sure, beacause I havent played with variables before
 2. Expected behaviour: If variable has value X the imported value in params table should be X as well not empty string
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for th

[2017-08-17 12:42] zagirhmm commented on #3397
Hi - am able to see the logs now, thanks

Zagir

[2017-08-17 13:54] vlaminck commented on #2842
Can we please still get a "never save" option?

I typically start from a saved request, alter it, then close it. An example of this is a saved request to fetch all items, then grab an id out of the response and put it in the url to fetch the details for that item. There would be no point saving my "list items" request with an id in it. Likewise I will change from GET to PUT/POST/DELETE which also

[2017-08-17 14:01] bhawna2109 commented on #2842
Hey @vlaminck yes, we're looking into this. Tracking this here #3386

[2017-08-17 14:02] vlaminck commented on #2842
awesome, thanks!

[2017-08-17 14:57] kamalaknn commented on #3400
Hey @candyan

Could you share more details about what you are seeing?

Is this something that is not working on the Postman app or the Mock APIs? Also, could you clarify what you mean by mock APIs, are you referring to Postman Mocks or your own mocks?

[2017-08-17 15:03] kamalaknn commented on #3403
@TheCodeDestroyer Thank you for sending in your feedback.

We have fixed this internally and will roll it out as part of the next release. We will update this thread once the fix goes to production.

Also, we are deprecating the `:variable` syntax in favor of environment `{{variable}}` syntax. We will get this fixed, but moving out of `:variable` usages will help you for long term.

Chears!

[2017-08-17 15:10] kamalaknn commented on #3402
Hey @ArunKSY

Inline images seem to be working fine (try requesting `http.cat/200`). Could you share more details on where you are seeing this?

Could you share more details on the version of the App you are seeing this and if you are on the Chrome app or the Native app. A screenshot of `Settings -> About` would help.

[2017-08-17 15:19] kamalaknn commented on #3397
Great!

[2017-08-17 15:23] mcanepa commented on #2742
any progress on this?

[2017-08-17 15:42] Werror commented on #3107
Thanks for this post @kamalaknn!

[2017-08-17 15:45] JebediahSpringfield opened #3404 "Request - Improved GUI"
Hi guys,

   You have an interesting tool but one thing that bothers me is the lack of very basic functionality in the Collections GUI.

   Would it be possible to make the copy and paste of requests between collections straightforward?

   For example, I created a collection to verify 40 cases and later found out that there was already another collection related to the same tests. In order to add

[2017-08-17 16:06] d-schmidt commented on #2842
As I agree with @vlaminck. It would be nice to have still.
I would reopen this ticket if it weren't for the new #3386. The new one duplicates this.

[2017-08-17 16:06] kamalaknn commented on #3387
@Yardglass Thank you for bringing this to our notice.

We have updated the `Postman Echo` collection now. New imports will have the correct tests and test descriptions. Closing this issue now.

Cheers!

[2017-08-17 16:06] #3387 closed, assigned to prashantagarwal, kunagpal

[2017-08-17 16:11] kamalaknn commented on #3404
@JebediahSpringfield

Thanks for sending in your feedback. This has been a pain point for long. This is on our roadmap, but we can't arrive at a deadline for release yet.

We are tracking this in #803. Please follow the main thread for updates.

[2017-08-17 16:11] #3404 closed, assigned to nobody

[2017-08-17 17:07] JebediahSpringfield commented on #3404
That's good to hear. Thank you for the feedback Kamalakannan.
Cheers

      De : Kamalakannan <notifications@github.com>
 À : postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc : JebediahSpringfield <andre2999@yahoo.com>; Mention <mention@noreply.github.com>
 Envoyé le : Jeudi 17 août 2017 12h12
 Objet : Re: [postmanlabs/postman-app-support] Request - Improved GUI (#3404)

[2017-08-17 17:20] KeynesYouDigIt commented on #682
Anyone around? I can reorder tests in the gui if I move them really quickly.... but if I hold on for around 1 second the tests jump out of the folder into the parent folder instead of reordering as needed, is this the intended functionality?

update - This was occurring for first level folders in a collection, but click and drag reordering seems to be working OK for sub folders

[2017-08-17 18:37] elementsrtyte commented on #682
To people having issues with the new dragging requests into folders, try deleting your folder and recreating.  Worked for me as a temp fix.

[2017-08-17 19:02] alexeyOnGitHub opened #3405 "Postman 5.1.3 keeps crashing on Ubuntu 17 when using Environments"
## App Details:
[code]

 1. Did you encounter this recently, or has this bug always been there:

this started happening very often once I started using "environments" (awesome feature, btw! just discovered it and it is super helpful - no more need in keeping tons of mostly-duplicate requests)

when it crashes, "chrome://inspect/#apps" page becomes empty, "postman" disappears from there. no logs.
n

[2017-08-17 19:09] jonpcunanan commented on #2247
+1

[2017-08-17 19:18] alexeyOnGitHub commented on #3405
![image](https://user-images.githubusercontent.com/239741/29429608-25f20cc4-8346-11e7-8631-429943c0d09d.png)

[2017-08-17 19:18] alexeyOnGitHub commented on #3405
side note - clicking on this "balloon" does not restart it

[2017-08-17 21:02] idevtech opened #3406 "Feature Request: Search and Replace URLs in API Requests"
Postman for Windows
Version 5.1.3
win32 10.0.15063 / x64

When a collection is duplicated it would be useful to be able to search and replace the URLs for the API requests. For example, I have ~50 requests in a collection and when it is duplicated manually replacing the domain portion of each URL is time consuming.

[2017-08-17 21:03] msignataur commented on #3217
+1

[2017-08-17 21:04] 0xceb1d commented on #2418
Still having this issue.
Postman displays the body when changing response to something else (i.e 200)

[2017-08-18 01:50] bhalothia123 opened #3407 "Scroll is not working properly in window 10"
While running post request and checks requests and response then, its not happening all the times.

[2017-08-18 02:42] attmore opened #3408 "auto unset content-type while changing body type"
when change post body type from  'x-www-form-urlencoded' to ‘form-data’ ,headers is still set content-type = application/x-www-form-urlencoded

![image](https://user-images.githubusercontent.com/1621318/29442013-c0a6e5f8-8401-11e7-92ee-fc9d602c32df.png)
then
![image](https://user-images.githubusercontent.com/1621318/29442037-d5bfcedc-8401-11e7-8138-6242b84d80f1.png)
header is still application/x-w

[2017-08-18 03:21] nongfumemequan opened #3409 "copy past issue of body date between 'form-data' and 'x-www-form-urlencoded'"
## App Details:

[code]

## Issue Report:
 copy body date form 'form-data' to 'x-www-form-urlencoded', it show success but actually it did not
open request code and find the body data is empty(see attach)
![form-data](https://user-images.githubusercontent.com/16768592/29442931-4979d11a-8407-11e7-95b1-3161d3420ccd.png)
![x-www-urlencoded](https://user-images.githubusercontent.com/16768592/29442939-

[2017-08-18 04:48] bhawna2109 commented on #3406
Thanks for explaining your use case @idevtech. This is actually on our roadmap :) Stay tuned for updates on this!

[2017-08-18 08:09] TheCodeDestroyer commented on #3403
Could you provide an example of how will a request look like with env variable syntax?

[2017-08-18 08:11] Faz540 commented on #3349
Not sure if this is helpful, but I opened DevTools when the bug was occurring.
Whenever I attempted to move the request into the position I wanted, the issue occurred and it was moved to the bottom of the collection and the below error was displayed in DevTools:

![image](https://user-images.githubusercontent.com/9334128/29450051-0bc4e6fa-83f5-11e7-88f9-4bc38897e038.png)

It seems to fix itself af

[2017-08-18 08:14] harryi3t commented on #3391
@JumpyKitten Oh right, this would happen only for signed request.
I have reproduced this bug.

This happens because `aws` is taking port as part of host
![image](https://user-images.githubusercontent.com/5207331/29449930-4cfd560a-841a-11e7-844e-91c9eb678c3c.png)
And the npm module we are using, [aws4](https://www.npmjs.com/package/aws4) mentions that the parameters are supposed to be `http.request

[2017-08-18 08:49] harryi3t commented on #3391
@JumpyKitten Oh right, this would happen only for signed request.
I have reproduced this bug.

We are working on a fix and would release a fix in the upcoming release. Will keep you posted.

### What was the issue
This happens because `aws` is taking port as part of host
![image](https://user-images.githubusercontent.com/5207331/29449930-4cfd560a-841a-11e7-844e-91c9eb678c3c.png)

And the npm modul

[2017-08-18 08:53] harryi3t commented on #2566
~This happens coz of the port number.~
~aws takes the port number into account for signature calculation.~

~Duplicate issue https://github.com/postmanlabs/postman-app-support/issues/3391~

~Working on the fix and will be released in the upcoming release.~

Update
This is not related to the bug related to the port number. Removing the `in progress` label.

[2017-08-18 08:55] harryi3t commented on #3391
~Closing this since this is a duplicate issue of https://github.com/postmanlabs/postman-app-support/issues/2566~

~Will post the updates on the original issue.~
Sorry, that issue is a different one.

[2017-08-18 08:55] #3391 closed, assigned to harryi3t

[2017-08-18 09:38] kamalaknn commented on #3405
Hey @alexeyOnGitHub

This could be because of memory issues related Chrome apps. Could you try out out native apps, you can download them from https://www.getpostman.com/apps.

Please let us know if you are still seeing them on the native apps.

[2017-08-18 09:40] kamalaknn commented on #3407
Hey @bhalothia123

Thanks for reporting this. We'll take a look at this.

[2017-08-18 09:42] kamalaknn commented on #3408
Hey @attmore

Thanks for your feedback. I am tagging this as a feature request.

@numaanashraf what do you think about this?

[2017-08-18 09:45] mistriel commented on #166
I liked your suggestion - i'll detail it :
You have the OOB HTTP methods in the drop down area,
you have a field called CUSTOM - once you click it - you get ability to
edit and replace custom with any method name you like

And its really beyond ridiculous ...

On Thu, Aug 3, 2017 at 6:24 PM, Hari Lubovac <notifications@github.com>
wrote:

--
Avi Mistriel

Israel Mobile  +972-054-819-7716
Skype : a

[2017-08-18 09:46] kamalaknn commented on #3409
@nongfumemequan Thanks for reporting this. We are able to reproduce this. We are looking into this.

[2017-08-18 09:54] RDeluxe commented on #3392
I thought I did something wrong ! Good to know it's not me ...

This is a fundamental feature for me, to be able to debug correctly PHP server side code. Thanks !

[2017-08-18 10:21] avinash0 opened #3410 "Node api working in browser but preflight failed in postman"
When calling API https://mywebsite.com/api/register through browser and it returns correct response from server as `{ "error": false, "message": "Hello World" }`
If we hit the same request from postman then it returns with some html content as <noscript>Please enable JavaScript to view the page content.</noscript>
Below is node side code:

    var express = require("express");

    var app = expre

[2017-08-18 10:54] kamalaknn commented on #3410
Hey @avinash0

Could you share a screenshot of the response you see? Also, any logs on `Postman Console` `View -> Show Postman Console` (only available on native apps) would help.

[2017-08-18 11:09] avinash0 commented on #3344
I am also facing similar problem. API response is coming through browser but not working in postman. Postman return with some html <noscript>Please enable JavaScript to view the page content.</noscript>

@prashantagarwal  If we belive this response is comming from server - in this case we debug this. If we hit api through browser then we are getting the logs at server side but postman request is n

[2017-08-18 11:41] avinash0 commented on #3410
![postman response](https://user-images.githubusercontent.com/6986217/29457510-19f6810a-8438-11e7-9059-420fc255de7a.png)

this is response and no logs found

[2017-08-18 12:47] raubel commented on #285
+1

[2017-08-18 13:40] rossjha opened #3411 "Google OAuth2 returns 404"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

  I haven't successfully used Authorization > OAuth2

2. Expected behaviour:

  Receive Google access token, but returns HTML (404) instead.

**Details**
[code]

The *Authorized redirect URIs* in console.developers.google.com is set to:

[code]

**Response**
[code]

Any help would be a

[2017-08-18 14:54] Faz540 commented on #3401
I managed to get around this issue by using the postman pro api endpoint DELETE /environments/{{environment_uid}}

It seems we can also edit shared environments by using the PUT /environments/{{environment_uid}}
I know this is feature that a lot of Postman Users want expressed in the UI, it was only by chance that I found this endpoint and realised this was possible (before hand I was deleting the

[2017-08-18 15:44] Stolkmeister commented on #2392
+1

[2017-08-18 16:17] responsible-adult commented on #3290
I am hitting this exact problem also.

[2017-08-18 16:32] who opened #3412 "Request: Option to generate cURL without line breaks"
## App Details:
[code]
## Issue Report:
In older versions of Postman, when generating a cURL command from a request, a one-line cURL would be generated. I really miss this, as one-liner cURL commands are preferred in my workflow.

## Feature request:
Please add a new generator entitled "cURL (one liner)" or "cURL (no newlines)". This new generator would not use \ newline statements. The existing c

[2017-08-18 16:41] kamalaknn commented on #3410
@avinash0 from you node code, I could see you are adding certificates to the server. Does your endpoint require a client side certificate?

[2017-08-18 18:07] jrounsav opened #3413 "Bad POST keys when using form-data Body with Postman Chrome app"
I'm developing an API and using Postman to test my POST endpoints and have started receiving errors.
My reporting shows that Postman is sending the following API key in the body:

```------WebKitFormBoundaryIrfhUo5Iwf8Wix3n\r\nContent-Disposition:_form-data;_name,```

This when happens my POST Body is set to form-data but I can mitigate it by using x-www-form-urlencoded.

## App Details:
[code]

#

[2017-08-18 18:09] jrounsav commented on #3413
Console Logs

[code]

[2017-08-18 19:26] theManikJindal commented on #1470
@TheCodeDestroyer I think that would be a separate feature request. Maybe you would want to add a new issue for that.

[2017-08-18 22:47] chemalopezp opened #3414 "http://localhost:port doesn't work as environment variable"
Using Postman 5.1.3, localhost doesn't work when the url is provided via a environment variable.

I have a {{domain}} environment variable to select easily which system to test ({{domain}} = http://url.system.com)
Works fine with every system, also ngrok urls, but there's no way to use it with localhost.
I tried defining the variable with:
http://127.0.0.1:8081
http://localhost:8081
http://[::1]:8

[2017-08-18 23:15] correajd opened #3415 "Postman is duplicating requests in collection after it is shared in Team Library"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
    Postman Pro has recently started acting irregularly. When I posted collection, it created a copy of the last request.
 2. Expected behaviour:
    The expected behaviour is that it maintains the state of what it was when I click the "Share" button.
 3. Console logs (http://blog.getp

[2017-08-19 01:23] snipebin commented on #2247
+1

[2017-08-19 04:20] prashantagarwal commented on #3414
@chemalopezp This is odd. Can you check that there is no whitespace in the variable name when you define the variable inside environment. Also can you try using autocomplete in the URL to see what variable is being entered.

[2017-08-19 05:08] jhelbig commented on #3361
sure thing.  So I re-created it by setting a param on the get call, disabled it by un-checking it.  and ran the runner for the collection.  The collection had the un-checked param in the request.

![screenshot from 2017-08-19 00-07-09](https://user-images.githubusercontent.com/11377461/29483702-699adc08-8472-11e7-8cef-fa2a3e3a1696.png)

[2017-08-19 13:41] seanquinn commented on #1263
+1

[2017-08-19 16:13] markkimsal commented on #3384
It only happens with the Chrome plugin.  I don't have a public endpoint at the moment.

[2017-08-19 16:16] avinash0 commented on #3410
@kamalaknn Client side certificate not required. Only SSL certificate at server side.

[2017-08-19 18:01] Tosch8 commented on #2742
got exactly the same issue for 5.1.3...

[2017-08-19 22:01] michaelsogos commented on #739
Dear,

Do you have plan to add password grant_type for OAuth 2.0?

[2017-08-19 22:04] michaelsogos commented on #1446
Dear,

There are news about having password grant_type?

[2017-08-20 01:12] medjai commented on #2941
@kunagpal This has been assigned and re-assigned many times with no resolution for months. Can we expect this to be fixed soon?

MD5 and MD5-session both don't work!

[2017-08-20 09:30] cpttripzz opened #3416 "All Requests time out"
## App Details:
Postman for Linux
Version 5.1.2 and 5.1.3
linux 4.10.0-30-generic / x64
[code]

[2017-08-20 10:39] microcipcip commented on #1977
Anyone unable to change the font size on windows: you need to click `ctrl++` from the **plus key next to the backspace button**, not the one where there is the numeric keypad

![keyboard](https://user-images.githubusercontent.com/585402/29494172-3e7a9cd6-859c-11e7-9a31-0403e5b1286e.png)

[2017-08-20 13:04] avinash0 commented on #3410
Any idea why this error coming through postman

[2017-08-20 13:05] dialex commented on #2993
Thanks for developing that feature, now it's just a matter of clicking the link :)
<img width="727" alt="screen shot 2017-08-20 at 14 04 58" src="https://user-images.githubusercontent.com/2140450/29495136-9b7fa23c-85b0-11e7-9242-f58b18def7c7.png">

[2017-08-20 15:21] alexeyOnGitHub commented on #3405
thank you, I will export all collections and environments and try them with Ubuntu native app on Monday. (side note - would be nice to be able to export all collections and envs at once).

[2017-08-20 19:04] Tosch8 commented on #2742
@mcanepa: is #1 the name of your user? I had the same problem since the new installation of Windows10. My user also had a # in the username. I changed it in the registry (from Tosch#8 to Tosch8). Now Postman is working without any problems :-) Maybe you can also try that.

[2017-08-21 05:38] vaibhav-plackal opened #3417 "Status codes in generated documentation"
## App Details:

[code]

## Issue Report:

When I look at the docs generated by Postman, I can see all my examples there, however, I do not see the HTTP response codes in the docs. They are important for us. I thought they are available to Pro accounts but they are not.

Steps to reproduce:

Save examples for any request with different response codes; then go to Postman dashboard and view your Doc

[2017-08-21 09:15] bhawna2109 commented on #3417
@vaibhav-plackal - the status codes which you set for your examples are currently NOT shown in the documenter. However, you can specify those in the example name for now. For instance, you could name your example as '200 OK example' or '400 Error' – these will be displayed in the docs. Adding this as a feature request too.

[2017-08-21 09:17] vaibhav-plackal commented on #3417
Thanks :) Hope to see this awesome feature soon. I am shifting from another platform to Postman and this was probably the only thing missing (though, after having used Postman, I think there is so much more that can be added; it kind of opened up my mind) :)

[2017-08-21 09:28] bhawna2109 commented on #3417
Glad to hear that @vaibhav-plackal Also feel free to share your other thoughts/general feedback on the product - we're all ears!

[2017-08-21 10:26] sdnts commented on #2691
Hey guys, we're working on a CLI tool for Postman.
The initial version will only be able to import collections, but I'm adding collection exports as a feature request for the CLI :)

[2017-08-21 10:36] sdnts commented on #3416
Hi @cpttripzz Do you have an app level timeout set by any chance? You can check this by heading over to Settings(Ctrl+,) > General tab. There's a field there for Request timeout. Setting it to zero should solve this issue. Please reopen if it doesn't!

[2017-08-21 10:55] sdnts commented on #3415
Hi @correajd This should not be happening. The app should maintain the state of the collection when sharing.
I wasn't able to reproduce this though. Is this happening only for a single collection or all collections you create? Does signing out, then signing in help?

[2017-08-21 11:00] kamalaknn commented on #3413
@jrounsav Could you try out our Native apps and see if it still happens? You can download our native apps at https://www.getpostman.com/apps.

[2017-08-21 11:01] sdnts commented on #3412
@who I understand how this might be useful. Adding this as a feature request.
In the mean time, the multiline cURL should work too :)

[2017-08-21 11:02] sdnts commented on #3364
Hi @hoogenbj, I was unable to reproduce this. Is this still happening for you?

[2017-08-21 11:41] MacDisein opened #3418 "Base-URL in collection"
It should be possible to set a base-URL to a collection. That base-URL will be use as a basis for all URLs of the request in the collection. So you are able to use the same collection for different environments by simply change the base-URL of the collection.

Each request URL may contain a placeholder (e.g. <baseURL>) for the collection's base-URL.

[2017-08-21 11:47] sdnts commented on #3418
Hi @MacDisein, while I understand the reasoning behind this, I think this will limit the requests you can make from a collection to a single server. I'm curious, do environment variables not work the way you're expecting? You can add an environment variable called `url` and have it have different values in different environments. This should then work exactly like you said, you can use the same co

[2017-08-21 11:53] StephenGoodall commented on #2030
+1
would be good if we could define what tag (in the case of an XML response) the URL is in, so that it auto follows the URL

[2017-08-21 12:11] sdnts commented on #3411
Hi @rossjha, can you check if the Access token URL is correct? Looks like Google sends back a 404 when it is hit, which is why you get this.
Closing as this doesn't look related to Postman. Please reopen if I misunderstood.

[2017-08-21 12:11] #3411 closed, assigned to kamalaknn

[2017-08-21 12:20] sdnts commented on #3252
@unchaoss If I understand correctly, the inbuilt OAuth 1.0 helper does not generate the correct signature, but if you generate it elsewhere (your Python code), the request works?

If so, we'll be working on several Auth improvements in the coming releases, so we'll take this up then.

Let me know if I misunderstood.

[2017-08-21 12:27] ginosian commented on #551
I have this issue too right now, on Friday I updated my Postman and this issue arise.

[2017-08-21 12:30] bramus commented on #2760
I'm having the same issue. I have both Chrome (60) and Chrome Canary (62) installed (on Mac OS Sierra 10.12.6). Therefore have two installs of Postman laying around _(one linked to each version of chrome)_.

Only the one linked to Chrome Canary (62) actually does something. The one linked to Chrome (60) does nothing:
- The only allowed call is to http://localhost/. All others (somehow) yield a con

[2017-08-21 12:32] MacDisein commented on #3418
Hi @madebysid - I am not aware of the variable feature in Postman. So you are right I can use variable together with the environment feature.
Thanks for pointing my into the right direction.

I think we can close this feature request...

[2017-08-21 12:37] sdnts commented on #2760
@bramus Have you tried out the steps on the error screen? If both Postman versions are the same, I suspect you have some settings different that is causing this.

<img width="1201" alt="screenshot 2017-08-21 18 07 50" src="https://user-images.githubusercontent.com/7689783/29519606-ac122638-869b-11e7-95c5-4212c5c8f978.png">

[2017-08-21 12:40] mccannt commented on #3321
Support for adding custom plugins would be amazing. May allow others the opportunity to add in support for other integrations that are not currently supported.

[2017-08-21 12:41] sdnts commented on #551
Can you guys check if the cookie exists on Chrome? You'll have to head over to `chrome://settings/content/cookies?search=cookies`

Can you also try this on our native apps? These have an in-built cookie manager that will make this a lot easier. You can download native apps [here](https://getpostman.com/apps)

[2017-08-21 12:45] sdnts commented on #3321
@hemikak There isn't an email thread, and the app's code isn't open sourced right now, but you can join our [Slack Community](https://www.getpostman.com/slack-invite) to stay on top of things :)

@mccannt Agree, we'll look into this soon!

[2017-08-21 12:55] ginosian commented on #551
I use native app for Windows. Yes, cookie exists in Chrome. I refreshed cookie several times and tried with both Chrome and Postman with Chrome request contains cookies, those same cookies in Postman doesn't work, coming null.

[2017-08-21 13:02] sdnts commented on #551
@ginosian Ah, if you're on the native apps, then the cookie being set on Chrome won't matter. On native apps, the cookie will be visible in the app's Cookie manager. This can be opened using the `Cookies` button right below the URL bar.

I think you're confusing the Chrome app's cookie flow with the native app. The interceptor will not work with the native apps. You can either use the Chrome app +

[2017-08-21 13:10] ginosian commented on #551
@madebysid
I'm using Postman native Windows app, the interceptor is on. Cookies are set in Header this way
Key - COOKIE   value -JSESSIONID=5679719368D4D1.........;  ROBOTSESSIONID=2C9853E062FB2BD..........

The same cookie is set in Chrome cookies, requests from chrome contain cookies, from Postman doesn't

[2017-08-21 13:12] ginosian commented on #551
To just clarify I use native not the plugin for Chrome, like I use Postman as a separate software even when Chrome is not open.

[2017-08-21 13:32] sdnts commented on #551
@ginosian If you're on the native apps, you don't need to use the interceptor. Cookies from the native apps are not related to Chrome in any way. You should not be seeing the Interceptor icon on the native apps. Can you send me a screenshot of your `About` screen?

[2017-08-21 13:43] antoine-pous commented on #2729
I don't understand why this feature is not yet implemented, the standard don't reject explicitly it.

[2017-08-21 13:54] ginosian commented on #551
![postmanproblem](https://user-images.githubusercontent.com/9298142/29522272-b6f0d15a-8699-11e7-89bf-5c9003c4c472.png)

[2017-08-21 14:02] ginosian commented on #551
Those cookies you see are not expired, absolutely the same request send from application from chrome contains cookies.

[2017-08-21 15:31] unchaoss commented on #3252
That is correct. Please alert me after you think you have fixed this, thanks.

Quoting Siddhant Sinha <notifications@github.com>:

[2017-08-21 15:39] hamza-tumturk commented on #166
This is going on for 5 years now. It seems that custom HTTP methods will not be implemented...

[2017-08-21 16:10] kamalaknn commented on #3403
Hey @TheCodeDestroyer here's a more extensive documentation on using variables with requests in Postman - https://www.getpostman.com/docs/postman/environments_and_globals/variables.

Have a nice day!

[2017-08-21 18:23] chemalopezp commented on #3414
Hi @prashantagarwal @madebysid,

indeed it is quite odd, since it works in every other URL. No spaces in the variable definition, also autocomplete doesn't work because it doesn't recognize {{domain}} as a variable, even if it is defined (note in the screenshot is red)

@skubot the third / is generated by postman, the URL I set in the environment variable only has two /
<img width="986" alt="scree

[2017-08-21 18:32] prashantagarwal commented on #3414
@chemalopezp Can you just try one more thing. Go to manage environment and export this environment. And just paste the file content here. It will really help in debugging it faster.

[2017-08-21 18:52] chemalopezp commented on #3414
@prashantagarwal I just found a white space on the domain variable that was causing the issue, thank you for your help!!

[2017-08-21 18:52] #3414 closed, assigned to prashantagarwal

[2017-08-21 18:58] #3183 closed, assigned to prashantagarwal

[2017-08-21 19:01] prashantagarwal commented on #3211
@xtet2008 This is fixed in latest Postman version. If you hide a column, it will not show up by default on subsequent tabs. I am closing this issue. If you still face any problem, feel free to reopen the issue.

[2017-08-21 19:01] #3211 closed, assigned to prashantagarwal

[2017-08-21 19:04] prashantagarwal commented on #3223
@Muddz Can you check if this is still happening for you. If so feel free to reopen this issue.

[2017-08-21 19:04] #3223 closed, assigned to prashantagarwal

[2017-08-21 21:12] zohaib055 opened #3419 "Postman Crashing Annoying issue"
Postman is crashing  whenever i click from history not sure why but this is so much annoying please fix these issues

Version 5.1.3
linux / x86-64
Chrome 58.0.3029.110

[2017-08-21 21:32] duboff commented on #3059
Hi @kamalaknn I agree this is not an issue with Postman but is there a recommended solution for this?

[2017-08-21 22:29] bramus commented on #2760
I checked and could not immediately find any differences. Eventually switched to the standalone Mac app, which works fine.

[2017-08-21 22:45] gaieges opened #3420 "Add ability to specify monitor alert recipients via the API"
## App Details:

[code]

## Feature request

Currently, the API has no ability to modify or specify any target email addresses (or other methods of notification in the Postman Pro API.  This makes the user have to be a distribution list which is sometimes counter intuitive when considering security.

This ticket is requesting the ability to specify the target recipients via email for a specific mo

[2017-08-21 23:21] francoisneron opened #3421 "Collect runner feature request : Create file (csv/json/excel/etc.) based on response"
I want to be able to generate a file from my collection runner in a appropriate format.

For example, I want to use send thousands of requests to an endpoint and be able to log any failed requests in a file in my own format (using the response, or error codes provided by the 3rd party).

[2017-08-22 03:05] xtet2008 commented on #3211
Thanks Sir.

[2017-08-22 04:45] hoogenbj commented on #3364
It happens to collections that I've created with older versions of
Postman. New collections are fine. It is a big nuisance to recreate such
old collections but at least it works then. So I guess this can be closed.

On 21/08/2017 13:02, Siddhant Sinha wrote:

[2017-08-22 04:59] kamalaknn commented on #3059
Hi @duboff,

You can use our [Collection SDK](https://github.com/postmanlabs/postman-collection) library to parse your URL.

[code]

You can do much more with our Collection SDK. Please refer to our documentation on all you can do - http://www.postmanlabs.com/postman-collection/

[2017-08-22 06:07] SamvelRaja commented on #3396
@ataylor12 We pushed out *Canary app(5.2.0-canary02)* with fixes for reordering problem you are facing, can you help in testing the same from your end?

Just download and install the app according to your os.
*NOTE:*  Backup the data in current app using Settings -> Data -> Export  for additional security.

https://dl.pstmn.io/download/channel/canary/osx_64

[2017-08-22 06:08] SamvelRaja commented on #3355
Hey @watchwithjames  @intranetchris @a5ync ,
We pushed out *Canary app(5.2.0-canary02)* with fixes for reordering problem you all facing, can you help in testing the same from your end?

Just download and install the app according to your os.
*NOTE:*  Backup the data in current app using Settings -> Data -> Export  for additional security.

https://dl.pstmn.io/download/channel/canary/osx_64
https:

[2017-08-22 06:09] SamvelRaja commented on #3291
Hey all,
We pushed out *Canary app(5.2.0-canary02)* with fixes for reordering problem you all facing, can you  guys help in testing the same from your end?

Just download and install the app according to your os.
*NOTE:*  Backup the data in current app using Settings -> Data -> Export  for additional security.

https://dl.pstmn.io/download/channel/canary/osx_64
https://dl.pstmn.io/download/channel

[2017-08-22 06:11] SamvelRaja commented on #3349
We pushed out *Canary app(5.2.0-canary02)* with fixes for reordering problem you all facing

Just download and install the app according to your os.
*NOTE:*  Backup the data in current app using Settings -> Data -> Export  for additional security.

https://dl.pstmn.io/download/channel/canary/osx_64
https://dl.pstmn.io/download/channel/canary/windows_32
https://dl.pstmn.io/download/channel/canary/w

[2017-08-22 06:11] SamvelRaja commented on #3349
Closing in favor of #3291

[2017-08-22 06:11] #3349 closed, assigned to SamvelRaja

[2017-08-22 06:12] SamvelRaja commented on #3355
Closing in favor of #3291

[2017-08-22 06:12] #3355 closed, assigned to SamvelRaja

[2017-08-22 06:12] SamvelRaja commented on #3396
Closing in favor of #3291

[2017-08-22 06:12] #3396 closed, assigned to SamvelRaja

[2017-08-22 06:45] vaibhav-plackal opened #3422 "Sync Issue in request body for a member with read-only permission to a collection."
## App Details:

[code]

## Issue Report:

Request body data is not synced for new team member with read-only access.

#### Steps to reproduce the issue
1. A new team member was added and I allowed her 'read-access'. However, some of the APIs that got synced were missing the request body.
2. When I changed the data (body part) on my end and synced back, the requests on their installation got updat

[2017-08-22 07:41] harryi3t commented on #3357
@mcfedr Did the above-mentioned step work for you?

[2017-08-22 08:03] mcfedr commented on #3357
It worked, the client params were only in the body of the request.

But, the first time I did it, the server rejected the request, because it wasn't from the local network, and responded with 403 status code, and a message, and postman said everything was ok, and the error message is the stored token

![Stored token](https://i.imgur.com/LjpRdIe.png)

[2017-08-22 08:06] sdnts commented on #3422
@vaibhav-plackal We're working on many improvements to Sync flows, and they should be out with the next release. Can you let us know if these issues persist after 5.2 hits production?

[2017-08-22 08:13] sdnts commented on #3420
@gaieges I'm afraid I don't understand your request completely.
Which notifications are you talking about? For monitors, you should already be able to configure recipients who receive an email when your monitor fails.

[2017-08-22 08:14] sdnts commented on #3421
@francoisneron Have you taken a look at Newman [reporters](https://github.com/postmanlabs/newman#configuring-reporters)?

[2017-08-22 08:16] sdnts commented on #3419
@zohaib055 Is this happening for any request from the history sidebar or only a specific item?
Can you also try this on our native apps and see if the problem persists? You can download native apps [here](https://getpostman.com/apps)

[2017-08-22 08:26] sdnts commented on #551
@ginosian I see you're on the Chrome app. I can tell because I don't see the Cookies button right below the URL bar.
If your cookie is set in Chrome and the Interceptor is ON from the app (not from Chrome), you will need to remove the Cookie header from the request in your app. When the interceptor is ON, the request actually goes through Chrome, so the cookie WILL be attached from Chrome. It'll b

[2017-08-22 08:29] ghost commented on #3291
On first glance, using Canary 5.2.0 solves the reordering problem for me.
Thanks a lot!

[2017-08-22 08:29] sdnts commented on #3364
@hoogenbj That shouldn't be needed. Do you remember approximately when you created these problematic collections? This will help me narrow down what Postman version you were on so I'll be able to replicate the problem.

[2017-08-22 08:31] sdnts commented on #2760
@bramus Weird. I'd recommend sticking to the native app anyway, since Google will end support for all Chrome apps this year. I'm closing this issue then :)

[2017-08-22 08:31] #2760 closed, assigned to nobody

[2017-08-22 08:36] gototester opened #3423 "Search and Replace inside the Tests tab"
Postman for Windows
Version 5.1.3
win32 10.0.15063 / x64

This seem to be an intermittent bug, which is a bit of a pain,  But it does happen more often than not.
When I do a search and replace (Ctrl + H) on the Tests tab.  Then go and edit the text in the tests tab the page scrolls up and I can’t see the tests anymore.

I found If I do the search and replace I need then I select a different test s

[2017-08-22 08:37] smacktoid opened #3424 "Postman crashes when clicking send if too many requests are open"
## App Details:
[code]

## Issue Report:
 This bug seems to have been present for at least a year, and it has never stopped occurring for me.

**Expected behaviour:**
I should be able to open new tabs without the app crashing. It's even acceptable for the app to enforce a maximum limit, but it should never crash.

**Steps to reproduce:**
Once I get to around 20 open tabs, clicking Send on a reques

[2017-08-22 08:41] smacktoid opened #3425 "Inconsistent behaviour when clicking links within response body"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

Issue seems to have started occurring recently.

 2. Expected behaviour:

Clicking on a link in a response body should behave consistently. In the past it always resulted in a new open tab. Now it seems to sometimes open a new tab, or sometimes replace the URL on the current tab.

[2017-08-22 08:46] vaibhav-plackal commented on #3422
Sure. I can. When is 5.2 coming out?

[2017-08-22 08:52] ltnilaysahu opened #3426 "remove the save prompt. Or atleast give the option to enable it on settings"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-08-22 09:43] milancheck opened #3427 "[Bug] Collection Runner: Strange reading behavior of CSV-file"
## App Details:
Postman for Windows
Version 5.1.3
win32 10.0.14393 / x64

## Issue Report:
 **1. I encountered this bug recently**
 **2. Expected behaviour:**

According to:
https://www.getpostman.com/docs/postman/collection_runs/working_with_data_files

Having the files in the following format (delimiter between columns as ", ")
column1, column2
data1, value1
data2, value2

The data-file should b

[2017-08-22 10:24] MaximTovstashev commented on #3314
Have the same issue. The pdf is definitely correct, as it can be saved by any other client.
Maybe it matters that the request uses POST method

[2017-08-22 10:54] TheCodeDestroyer commented on #3403
@kamalaknn So if I understand this correctly local variables will be replaced by env variables?
If that is the case then if I have 200 request saved with env variables instead of local ones then my env setups needs to have a huge collection of variables, or did I not understand this correctly?

[2017-08-22 11:10] Faz540 opened #3428 "[Bug] - Using .toString() on a boolean value passes in Postman, but fails in the Runner"
Windows Client, x64. Windows 10.

A true/false value is returned in the response and I'm asserting this value against an environment variable that is also "true" or "false".
Since Postman saves all Env Variables as strings I'm converting the bool in the response to a string and then performing the assertion.

tests["Boolean Value Test"] = path.to.boolean.toString() == environment.boolean;

This te

[2017-08-22 11:40] sdnts commented on #3426
@ltnilaysahu Which save prompt are you talking about?

[2017-08-22 11:41] sdnts commented on #3422
@vaibhav-plackal We're aiming for some time this week.

[2017-08-22 11:44] sdnts commented on #3427
@MilanD93 The app does not attempt to change any data provided. Since the delimiter for a CSV file is `,`, the space counts as the next column's first character.
I believe this behaviour is correct, as treating `, ` as a delimiter may break other use cases. I'm closing this, but please reopen if you feel differently :)

[2017-08-22 11:46] sdnts commented on #3425
@scottmmmm I tried replicating this, but the link always opens in a new tab for me, which leads me to believe I might be doing something wrong. Can you provide steps I can follow?

[2017-08-22 11:48] sdnts commented on #3423
@gototester I wasn't able to reproduce this. If I understand correctly, after the replace operation, you're just trying to type into the test area, right?

I understand that this doesn't happen every time with you, yes?
Is this only happening for one specific request, or all requests? If there are steps you've found that always causes this to happen, can you post them here? It will help me debug t

[2017-08-22 11:52] milancheck commented on #3427
@madebysid You didn't check my screenshots right? And what Postman document-site says about working data files? The provided CSV-file itself has blank characters! Please chceck my screenshots and reconsider the closing of my ticket... I believe I provided an adequate reasons, why this behaviour should be taken into consideration as an error. Thanks

[2017-08-22 11:53] ltnilaysahu commented on #3426
#3386 duplicate

[2017-08-22 11:53] #3426 closed, assigned to sdnts

[2017-08-22 12:07] gaieges commented on #3420
@madebysid - my understanding is that you cant via the API.  Or its just not documented:

https://docs.api.getpostman.com/#beb9fb2b-2f36-5394-84d0-5010933d8d7b

[2017-08-22 12:20] milancheck commented on #3427
@madebysid Check out the Screenshot Number 2. The last line behaves as a number and all the previous ones as a string.

[2017-08-22 12:23] gototester commented on #3423
@madebysid yes, when I press the space bar to add a space in front of the single quote,  the page shoots down.

yes it is all requests not specific ones.  I was refactoring a load of my tests and noticed this happened a lot.

And that is correct it doesn’t happen every time unfortunately.

Cheers.

[2017-08-22 12:29] sdnts commented on #3420
Ah, indeed. setting notifications from the Postman API isn't possible right now, but I'm adding this as a feature request. We'll look into this!

[2017-08-22 12:31] willybill commented on #3181
What is the release date of the 5.2 milestone?  And, is this going to be fixed in both postman & newman when the fix is released?

[2017-08-22 12:31] sdnts commented on #3427
@MilanD93 You're right, this does seem odd that only the last row behaves differently. Are you using the exact same file from our docs in your Runner as well?

On that note, we'll update our documentation to reflect the same.

[2017-08-22 12:39] McGern commented on #2559
Exactly the same scenario for me. Came here, read the posts, reinstalled, it started working.

[2017-08-22 12:45] smacktoid commented on #3425
After testing a bit more it looks like the new tab is always opened, but it is inconsistently setting the focus. Sometimes the current tab remains open, and sometimes focus switches to the other, new tab.

In terms of further steps to reproduce, I'll try my best.

The response I'm looking at is as follows:
[code]

The response headers are :
[code]

To reproduce the problem I am clicking on the vce

[2017-08-22 13:33] sdnts commented on #3181
@willybill This is caused because we do not have a type system in the Postman App yet. All variables are treated as strings right now.
Essentially, leaving a variable undefined is the same as it having a value of an empty string.

Let's assume you have a URL like: `domain.com/a`. The reason this issue arises is because the app treats the variable `a` as having an empty variable, so the URL is tran

[2017-08-22 13:37] sdnts commented on #3423
@gototester I think this is related to the focus being shifted after the replace operation happens.
On Windows, if you press the spacebar in a scrollable view, the view scrolls down automatically. This is default OS behavior, and can be observed in browsers as well. What I suspect is happening is, the focus shifts outside, and you pressing the spacebar scrolls the view down.

To confirm this, can

[2017-08-22 13:43] sdnts commented on #2559
Are you guys using the interceptor? We saw a bug some time ago that caused the Interceptor's queue to misbehave, causing this. Updating the interceptor fixed the issue. Can you guys also force update all your Chrome extensions and see if the problem reoccurs? Reinstalling the app just clears this queue so it starts working again.

Also, can you guys try this on the native apps as well? While the i

[2017-08-22 13:56] vongohren commented on #1665
Never checked so closing for inactivity

[2017-08-22 13:56] #1665 closed, assigned to nobody

[2017-08-22 16:21] kamalaknn commented on #3403
@TheCodeDestroyer do you have individual variables for each request in the collection? Could you share how you are using variables in requests? We are working on introducing variables at collection/folder level. We'll keep this in mind.

[2017-08-22 17:49] marcoRamonS commented on #2602
first i think what node version is the problem but not. i have installed this:
Postman for Chrome
Version 5.1.3
linux / x86-64
Chrome 53.0.2785.89

and i get the same error: TypeError: Cannot read property &#39;length&#39; of undefined

[2017-08-22 18:19] VictorioBerra commented on #1734
If anyone stumbles upon this you need the NON-Chrome version of Postman. Postman for Chrome is being depreciated.

[2017-08-22 23:30] jayceekay commented on #3161
also having this issue on mac OS sierra 10.12.5

[2017-08-23 01:05] mroche89 commented on #2186
I get this too. I am unable to reliably reproduce but it happens very regularly. Running on Windows 7. I am required to resize the application window to fix an individual tab. If the bug occurs on multiple tabs, I need to resize the window each time.

Postman for Chrome
Version 5.1.3
win / x86-64
Chrome 59.0.3071.115

[2017-08-23 02:48] moneal commented on #697
I created a Postman pre-request script for helping create a Firebase Authentication: Bearer JWT. Should save a lot of copy pasting when testing APIs with Firebase Auth. If anyone has any suggestions I would love to hear them and could help others create their own script. https://gist.github.com/moneal/af2d988a770c3957df11e3360af62635

[2017-08-23 04:40] hoogenbj commented on #3364
Sorry, I cannot remember...

On 22/08/2017 10:29, Siddhant Sinha wrote:

[2017-08-23 05:16] hemikak commented on #3321
Thanks for the information @madebysid !

[2017-08-23 06:58] TheCodeDestroyer commented on #3403
@kamalaknn Sadly I can't legally show you the examples I'm working with,
but just imagine you are working on a huge project with 100+ entities in db and all of those are exposed through the API.
Examples:

* `/api/v2/entity1/:entity1Id/[sub entity]/[sub entity id]?someQueryStringWithVariables'
* `/api/v2/entity2/:entity2Id/[sub entity]/[sub entity id]?someQueryStringWithVariables'
* `/api/v2/entit

[2017-08-23 08:00] gototester commented on #3423
@madebysid Just tried it and If i press any other key nothing happens and soon as I press the spacebar the page scrolls up as shown in my original screen capture.

[2017-08-23 08:20] sdnts commented on #3364
@hoogenbj Do you use Sync? If yes, can you also try logging out of the app, and then logging in? This will fetch all your collections again, just in case collections are somehow corrupted. You should then be able to export correctly.
Without Sync, your app is the only source of the collections, so this won't work.

[2017-08-23 08:20] #3364 closed, assigned to sdnts

[2017-08-23 08:21] milancheck commented on #3427
@madebysid Yes. The last screenshot refers to the file from your docs. On the first screenshot/file (which originates from your file) I did scome changes, deleted blanks respectively.

[2017-08-23 08:22] harryi3t commented on #3357
@mcfedr Glad it worked!
About the issue in App about not able to differentiate error vs token,
I think displaying an error alert would give the user some idea of what went wrong.

I will take this in our internal issue tracking system.
Closing this now. Please re-open if you face some more issues around this.

[2017-08-23 08:29] nonnenmacher commented on #697
: +1

great !

On Wed, Aug 23, 2017 at 4:48 AM, moneal <notifications@github.com> wrote:

[2017-08-23 08:29] #3357 closed, assigned to harryi3t

[2017-08-23 08:40] sdnts commented on #3428
Hi @Faz540 I'm unable to see this.

I set up a little server that sends me back the response:
[code]
isCorrect here is a boolean.

My test script looks like:
[code]

This test passes in the main app as well as the runner. I see your test script, can you post what your server sends back? It doesn't have to be real data, just something you see this with so I can replicate on my end.

[2017-08-23 08:52] sdnts commented on #3299
Awesome, I'm closing this, but please reopen if you see this again.

[2017-08-23 08:52] #3299 closed, assigned to sdnts

[2017-08-23 08:56] Faz540 commented on #3428
Response is returning:
`{
	"onSale": true
}`

I then save that value as an Environment Variable called "available" which has a value "true" as it's now a string.

If I hit the endpoint again and assert the boolean returned in the response against the environment variable saved in the main app, the below test fails:

[code]

[2017-08-23 09:10] sdnts commented on #3322
@manuelbcd Sorry about the delay. Currently, the request data that you get using `request.data` does not auto-resolve variables, which is why you need to do a manual replace. I'm treating this as a feature request though, and will keep you updated on the progress!

[2017-08-23 09:16] sdnts commented on #3380
@abirstolov Are you seeing this for all collections or some specific collections? If you use Sync, can you make sure all your changes are on your [Postman Dashboard](https://app.getpostman.com/dashboard/collections/private) are intact, then log out of the app and login again? This should fetch all collections again, in case some collections are corrupted.

We'll be releasing a new version next wee

[2017-08-23 09:16] sdnts commented on #3327
@dtsob75 Are you still seeing this?

[2017-08-23 09:18] sdnts commented on #3114
This should now be fixed in the current canary and stable releases. Closing. Please reopen if you're still seeing this.

[2017-08-23 09:18] #3114 closed, assigned to sdnts

[2017-08-23 09:19] sdnts commented on #3050
This should now be fixed in the latest Canary and stable releases. Closing.

[2017-08-23 09:19] #3050 closed, assigned to sdnts, kamalaknn

[2017-08-23 09:20] sdnts commented on #2597
@Neeerav I'm closing this since this isn't reproducible :(
Please reopen if you manage to replicate it again!

[2017-08-23 09:20] #2597 closed, assigned to sdnts

[2017-08-23 09:21] sdnts commented on #2509
@PFarrell89 This should now be fixed in the latest stable versions, so I'm closing this. Please reopen if you're still seeing this!

[2017-08-23 09:21] #2509 closed, assigned to sdnts

[2017-08-23 09:22] sdnts commented on #2551
We've made several improvements here, are you guys still seeing this?

[2017-08-23 09:25] sdnts commented on #3167
@collinpeters @ChALkeR Are you guys still seeing this?

[2017-08-23 09:28] krogold opened #3429 "Postman inconsistent behaviour with cURL request"
## App Details:
Postman for Windows
Version 5.1.3
win32 10.0.15063 / x64

## Issue Report:
1. Seen today, repeated on each try

2. Expected to be rejected as "not authentified" error 401

3. irrelevant

4. irrelevant

Description:
I have the following API downloaded in JSON from Swagger Editor:
PUT http://10.37.64.243/m2m/fim/items/fim:device:manager/operations/getAllDeviceTypes?exclude={{exclude}

[2017-08-23 09:29] sdnts commented on #3428
@Faz540 Did you remove the `toString()` call? From what you said, it looks like you're doing what I did in my example. Can you try using my code and see if that works?

The `==` will not work since `true != "true"` in JS

[2017-08-23 09:30] sdnts commented on #3153
@Faz540 Are you still seeing this?
Is this related to #3428 by any chance?

[2017-08-23 09:35] ChALkeR commented on #3167
@madebysid I am not a user of Postman.

But the issue was resolved on Electron side in v1.7.6/v1.6.12, so if your Electron version is newer than that, this should be fixed. Those are both pre-releases, though.

If you don't bundle Electron and use distribution-provided one in Postman, then I guess this could be caused as upstream, and if you bundle Electron — with the bundled Electron version bump

[2017-08-23 09:43] Faz540 commented on #3428
Hi, yes I removed it for the example as that test will fail in the main app but pass in the Runner.

Whereas, if I use the test below:
[code]

This will pass in the main app but fail in the runner
![image](https://user-images.githubusercontent.com/9334128/29609569-8bf340c6-87ef-11e7-8b31-01bac09fb599.png)

A section of the response returned.
![image](https://user-images.githubusercontent.com/93341

[2017-08-23 09:49] Faz540 commented on #3153
@madebysid I'm unable to confirm that as this test collection has now been deleted and the enpoint was re-built since this was reported.

It seems that this is the same issue I reported #3428.
Would it be worth running my scenario against Version 4.10.7? :)

[2017-08-23 10:09] sdnts commented on #697
Guys, this feature is on our Canary channel right now.

You can send a request using the inbuilt method `pm.sendRequest`. You'll find a snippet in the tests tab of the request to get you started. We'll update our documentation site shortly. For the time being, you can consider [this gist](https://gist.github.com/madebysid/b57985b0649d3407a7aa9de1bd327990) as mini documentation.

You can download t

[2017-08-23 10:12] VikhyatChandra opened #3430 "postman not launching"
Hi i've installed postman using https://blog.bluematador.com/posts/postman-how-to-install-on-ubuntu-1604/?utm_source=hootsuite&utm_medium=twitter&utm_campaign= , Also i do see the icon in the gui although it fails to start

[2017-08-23 11:39] sdnts commented on #3153
@Faz540 Cool, I'm closing this issue then. There's no need to downgrade to 4.10.7, I'm fairly certain this is the same as #3428

[2017-08-23 11:39] #3153 closed, assigned to sdnts

[2017-08-23 11:47] matbos commented on #3329
I can confirm this issue also exists in the Postman for Chrome on Windows.

Version 5.1.3
win / x86-64
Chrome 60.0.3112.101

[2017-08-23 11:51] Faz540 commented on #3153
I agree. Thanks

[2017-08-23 11:55] sdnts commented on #3428
@Faz540, I changed my server to return `{ "onSale": true }`

I also have an environment variable called `available`, whose value is set to true (not from the UI, via `postman.setEnvironmentVariable('available', response.onSale)`

My test script, like yours, looks like:
[code]
I changed the variable names here, but the gist should be the same. This passes on both the main app and the runner.

Is yo

[2017-08-23 11:58] krogold commented on #3429
Actually, if I sign out then sign in it works as expected, but dynamically it doesn't.
If I activate basic authentication, then deactivate it setting 'No Auth' and removing the corresponding header, the problem appears again.
How can we reset the context without signing out/signing in ?

thank you

Alexandre

[2017-08-23 12:14] Tb0 opened #3431 "Unable to display Postman app UI."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Postman was working without any issue before this.
 2. Expected behaviour: Postman UI should be displayed as usual.
 3. No logs sorry.
 4.
![screenshot](https://user-images.githubusercontent.com/772107/29615143-0cbc7548-880d-11e7-9ae7-04f2f7a98dd5.jpg)

## Steps to reproduce the proble

[2017-08-23 12:19] sdnts commented on #3431
@Tb0 Huh, looks like the app is stuck on some other screen. Can you head over to `~/Library/Application\ Support/Postman` and delete the `requester.json` file? This will reset the window settings for the app and it should show up again. Let me know if this works for you :)

[2017-08-23 12:22] sdnts commented on #3430
Hi @monkmahadeva Do you mean the app gets stuck on the loading screen or do you not see the UI at all?

[2017-08-23 12:24] sdnts commented on #3429
Hi @krogold, when you remove the Basic Auth, do you still see the autorization header with the request? When you remove the auth helper, but your authorization header is already generated, Postman will not automatically remove the header. This might explain why you get a 200 without any authentication.

[2017-08-23 12:28] krogold commented on #3429
Thank you for replying
That's what I do, I noticed that and then I remove the authentication header but it seems to be still activated somehow.
Is there a way to delete a header programmatically (so I could do it in a pre-request script) ?

[2017-08-23 12:29] krogold commented on #3429
I tried the Postman Echo collection in order to see how it behaves and it works properly, whatever the order of the tests. Maybe it is linked to the fact that it concerns GET requests as mine is a PUT request ?

[2017-08-23 12:31] sdnts commented on #3429
The request method shouldn't matter, as the Authorization logic is independent. If you do not see the header in the UI, then the header shouldn't be present. Can you check your server logs to see if your server still receives the header? If your server uses cookies, do you think they might be interfering?

[2017-08-23 12:35] sdnts commented on #3423
@gototester I was able to replicate. This looks like a focus issue, I'll get this fixed in a coming version :)

[2017-08-23 12:36] stramel commented on #697
@madebysid Downloaded the linux 64bit version and tried using your gist. It didn't show any tests.

[2017-08-23 12:48] sdnts commented on #2992
For the moment, if you guys see this, you can reset the app's window settings manually. To do this, you'll need to delete the `requester.json` file from the app's data directory, this is located:

on macOS: `~/Library/Application\ Support/Postman`
on Windows: `C:\Users\Postman\AppData\Roaming\Postman`
on Linux: `~/.config/Postman`

We'll take this up soon so the manual step isn't needed.

[2017-08-23 12:49] krogold commented on #3429
Indeed I have a cookie in my response ...
It appears in the cookies part. I'll try to delete it

[2017-08-23 12:51] krogold commented on #3429
That's it !
There are features about cookies, will they allow me to delete the cookie before launching my request ?

[2017-08-23 12:54] nonnenmacher commented on #697
Great canary !

And very nice Postman console, I love it !

On Wed, Aug 23, 2017 at 12:09 PM, Siddhant Sinha <notifications@github.com>
wrote:

[2017-08-23 12:54] sdnts commented on #3312
Hi @rj93, sorry about the delay here. This isn't possible right now, but we've been actively looking into this. I'm tagging this as a feature request, and will let you know here when it is out :)

[2017-08-23 12:55] sdnts commented on #3429
Manipulating cookies from the scripts is something that isn't supported yet, but we've been looking into it. We're tracking this here: #3312

[2017-08-23 12:55] #3429 closed, assigned to nobody

[2017-08-23 12:56] iMacTia commented on #3236
@prashantagarwal may I ask you what does that mean exactly?
Is it possible to have multiple custom domains? Is it something that can be achieved only through the support?

[2017-08-23 12:56] krogold commented on #3429
Thank you

[2017-08-23 12:57] Faz540 commented on #3428
@madebysid messaged you on Slack to show you the API response

[2017-08-23 12:59] prashantagarwal commented on #3236
@iMacTia  Yes you can set multiple custom domains (max 5) from your postman dashboard.

[2017-08-23 13:25] cpttripzz commented on #3416
No timeout was set. Still broken.

[2017-08-23 13:29] sdnts commented on #3428
Isolated this as an issue with `pm.environment.set`. Using postman.setEnvironmentVariable instead when setting the variable should solve this.
A fix for this will be out with the next release.

[2017-08-23 13:42] Andacious commented on #1568
This should be reopened, I cannot reorder items in a folder after the latest update (v5.1.3).

[2017-08-23 13:45] sdnts commented on #1568
@Andacious we're tracking this here: #3291, we've isolated the problem and a fix should be out soon :)

[2017-08-23 13:50] dtsob75 commented on #3327
Yes, I am.  I just tested it again.  I get to the postman log on page, click the Sign I with Google button.  For a fraction of a second, the google logon popups up, but then goes back to the postman logon.

Thanks,

Joel Zinn

From: Siddhant Sinha [mailto:notifications@github.com]
Sent: Wednesday, August 23, 2017 4:17 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>

[2017-08-23 14:47] milancheck opened #3432 "[Suggestion/Feature] Custom Snippets/Code Library"
## Custom Snippets/Code Library

## Suggestions:
 1. Edit/Delete/Reorder default snippets
 2. Add custom code snippets
 3. Code Library interface for functions etc.
 4. Sharing of the custom code snippes and functions within my team

[2017-08-23 15:02] Tb0 commented on #3431
@madebysid That worked ! Thank you !!

[2017-08-23 15:02] #3431 closed, assigned to sdnts

[2017-08-23 15:16] iMacTia commented on #3236
That's cool! Thanks @prashantagarwal, last time I used Postman Cloud (I think before the "PRO" rebranding) you could have only 1. Nice to know you can have up to 5 now.

[2017-08-23 15:17] Yardglass opened #3433 "Postman Echo - Utilities / Date and Time tests are wrong for 'Between Timestamps'"
## App Details:
Postman for Windows
Version 5.1.3
win32 10.0.15063 / x64

## Issue Report:
1. Go to https://docs.postman-echo.com/
2. Click [>Run in Postman]
3. Open the Utilities / Date and Time folder
4. Select 'Between Timestamps' tests

## Expected tests:

var **between** = JSON.parse(responseBody).**between**;

tests["Status code is 200"] = responseCode.code === 200;
tests["Comparsion was cor

[2017-08-23 15:39] yishayn commented on #1429
+1

[2017-08-23 15:42] Andacious commented on #1568
Thank you, this is a pretty frustrating issue when creating runner collections. Granted you can set the next request through the script, but its not easy to understand the collection by looking at it.

[2017-08-23 18:19] seabamirum commented on #3335
I have 4 examples in Postman but when published to documentation only the first and last in the list are appearing.

[2017-08-23 18:46] lisagrady opened #3434 "Cannot get Postman to Send Configured Client Certificate"
I'm using:
Postman for Windows
Version 5.1.3
win32 10.0.15063 / x64

I'm trying to get postman to send the configured client certificate to my target web server/host.
I've added the client certificate from Settings -> Certificates
![image](https://user-images.githubusercontent.com/31289490/29632543-283fdf5e-87f8-11e7-84cb-d8d0fda7b1ae.png)

To test if the certificate is being sent, I launched the

[2017-08-23 19:12] mtoothman opened #3435 "Collection Runner doesn't preserve selected collection across runs"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently noticed but could have always been there
 2. Expected behaviour: Selected environment remains selected on subsequent runs executed with Collection Runner
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App,

[2017-08-23 20:24] Azuka opened #3436 "beforeRequest support in Collections"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

This isn't a bug, but I couldn't find anything related in the do

[2017-08-23 20:41] anladwig commented on #3291
I can also confirm that reordering requests now works in Postman v5.2.0-canary02. Thanks!

[2017-08-23 20:43] djbf opened #3437 "Feature: Add JSON language option to Documentation viewer"
## App Details:

[code]

## Issue Report:
My team would find the documentation generated from our Postman Collections more useful if Sample Requests were viewable as JSON.

This is currently possible with Apiary, Restlet, etc. and its inclusion would eliminate our need for a separate documentation solution.

<img width="696" alt="json_please" src="https://user-images.githubusercontent.com/694161/2

[2017-08-23 21:06] Azuka commented on #3436
Looks related to #3322. I'll close after I verify the suggestions there work.

[2017-08-23 21:16] aswope opened #3438 "Export/Download API Documentation"
## Issue Report:
The new API documentation feature is coming along nicely!  (Hopefully parameters will be added quite soon.)

HOWEVER, the main issue preventing me from taking the team to Postman and its Documentor is the reliance on always serving documentation from Postman's servers.  I have to be able to deliver offline documentation to my customers.  (This can be in HTML, doc, or PDF format.)

[2017-08-24 04:33] horacehylee commented on #1669
+1

[2017-08-24 05:14] monkmahadeva commented on #3430
Hi i've installed postman using https://blog.bluematador.com/posts/postman-how-to-install-on-ubuntu-1604/?utm_source=hootsuite&utm_medium=twitter&utm_campaign= , Also i do see the icon in the gui although it fails to start

[2017-08-24 05:15] VikhyatChandra commented on #3430
when i click on the ui icon. it loads but never opens

[2017-08-24 06:29] sdnts commented on #697
Hey @stramel Did you wrap the sendRequest inside a `pm.test` call? I can see how this can be confusing, so I'll update my gist. Thanks for pointing this out.

[2017-08-24 06:30] krogold commented on #3312
Hi, I'm trying to find a workaround in order to neutralize a cookie returned by the server.
Is there a way to get the cookie object ?
currently, if I use pm.cookies, I get an array that contains the cookie, I can even erase it with pm.cookies.clear() but it doesn't erase the cookie (though pm.cookies array is empty).

I wonder how to get the object (pm.cookies[0] does not work) so I could modify i

[2017-08-24 06:46] krogold commented on #3312
I found a way to get the cookie object, however the "expires" property is not available  :(
I used pm.cookies.idx(0)
is it possible to make it available and writeable ?

well, anyway it is useless, as modifying a propertie through pm.cookies methods is not reflected in postman (ie. I changed the cookie name, I can see it changed when I log pm.cookies but when I open the "Manage Cookies" window in

[2017-08-24 07:02] serkand commented on #3385
@kamalaknn haven't heard anything so just wondering if you actually received my email ?

[2017-08-24 07:09] Moegamad commented on #3099
I agree, this bug has resurfaced, i am having same issue on Windows 10 postman version 5.1.3 as well.
Empty collection exported:
{
	"variables": [],
	"info": {
		"name": "DATA",
		"_postman_id": "961996fb-d18c-16c8-dab9-5adff4513593",
		"description": "",
		"schema": "https://schema.getpostman.com/json/collection/v2.0.0/collection.json"
	},
	"item": []
}

[2017-08-24 07:19] Moegamad opened #3439 "Export v2 collection results in empty collection json file"
## App Details:

[code]

## Issue Report:
Open Postman
Export V2 collection
The json file ends up with an empty item array.  nothing is exported to the json file. This is the content of the file:
{
"variables": [],
"info": {
"name": "DATA",
"_postman_id": "961996fb-d18c-16c8-dab9-5adff4513593",
"description": "",
"schema": "https://schema.getpostman.com/json/collection/v2.0.0/collection.json"
},
"

[2017-08-24 08:00] kamalaknn commented on #3385
@serkand I've received your email. I haven't had the time to dive deep yet. Will update this thread once I've reproduced this.

[2017-08-24 08:03] kamalaknn commented on #3312
@krogold the `pm.cookies` now allows you read and set cookies. We will be extending it to add more functionality to cookies.

[2017-08-24 08:12] krogold commented on #3312
Ok, but does it concerns every cookie (send and received ?) because when I use it to modify a received cookie, I can see the change in pm.cookies but when I enter the cookie management window (on the right hand side of postman windows app) I don't see any update in the concerned cookie ?

[2017-08-24 08:54] henzard commented on #2302
+1

[2017-08-24 09:39] AndrewCarterUK commented on #3430
I'm not sure if this is what I'm experiencing.

I've downloaded the Linux binaries, running "./Postman" exits without an error message.

Debian Stretch (fresh install).

[2017-08-24 10:14] rotherfuchs commented on #2833
Same issue on Mac OSX Sierra.

[2017-08-24 11:03] sdnts commented on #3433
@Yardglass Thanks for letting us know, we'll get this collection fixed :)

[2017-08-24 11:12] sdnts commented on #3434
Hi @lisagrady I suspect this has to do with the port number you've entered. Since you explicitly entered a port number when adding the certificate, the pattern match must be failing. If you send a request to `https://echo.getpostman.com:443/get`, the certificate should be attached correctly.

This shouldn't be needed in my opinion, so this looks like a bug. @kamalaknn Thoughts?

[2017-08-24 11:21] sdnts commented on #3436
@Azuka Indeed, this is the same issue as #3322. I've marked that as a feature request. In my opinion, a function that resolves variables would be useful.
I'm closing this in favour of #3322, please reopen if you feel otherwise!

[2017-08-24 11:21] #3436 closed, assigned to nobody

[2017-08-24 11:23] sdnts commented on #3437
@djbf The dropdown you're opening is generating code for the request you're currently on based on the language you choose. Since JSON isn't a programming language, it wouldn't quite fit there.

Are you looking for `JSON representation` of your request?

[2017-08-24 11:24] sdnts commented on #3438
@aswope Thanks for reporting this here! I'm marking this as a feature request! We'll look into this.

[2017-08-24 11:26] sdnts commented on #3099
We're looking into this. At first glance, it looks like older collections are misbehaving, collections created recently do not have this problem. Thanks for bring this to our notice.

[2017-08-24 11:27] sdnts commented on #3439
@Moegamad I've reopened #3099, which is where this was originally reported. Closing this as duplicate.

[2017-08-24 11:27] #3439 closed, assigned to nobody

[2017-08-24 11:29] sdnts commented on #3432
@MilanD93 Thanks for the feature request! I suppose this will be possible when Plugins are introduced in the app. #3321 addressed this. You can also follow our [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) to track progress.

I'm closing this in favour of #3321, please reopen if you feel otherwise :)

[2017-08-24 11:29] #3432 closed, assigned to nobody

[2017-08-24 11:32] sdnts commented on #3435
Hi @mtoothman, if I understand correctly, the previous environment is selected, but the collection isn't right? I was able to reproduce this on my end. Please let me know if I misunderstood.

[2017-08-24 11:59] ssp0xd7 opened #3440 "Feels a little slow"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-08-24 13:33] Moegamad commented on #3099
@madebysid great, thanks! hope it gets sorted soon

[2017-08-24 14:35] eap0120 opened #3441 "GET and POST request to localhost produce error"
## App Details:

[code]

[2017-08-24 14:41] stramel commented on #697
Ah, yeah! That worked! I'm so excited this is getting moved to stable! Finally going to have the test suite that I wanted for my API collection.

[2017-08-24 14:48] nogorilla commented on #3089
👍

[2017-08-24 15:26] djbf commented on #3437
Curl isn't a programming language, yet it's there. Python Requests is a library, not a language. What about the urllib2 people? :) I see that dropdown as formatting examples, not really specific to core programming languages.

I see the BODY request in the middle pane, but it'd be a nice enhancement if the request and response could be viewed in line with one another, styled in the same manner, an

[2017-08-24 15:42] BrianKilby commented on #3291
Also seeing this issue for a while now.

[2017-08-24 15:47] lisagrady commented on #3434
Thanks @madebysid!
I appreciate the help!  I tried passing the port in the request and I still don't see the certificate sent in the request.
![image](https://user-images.githubusercontent.com/31289490/29675007-b1115910-88a8-11e7-90eb-6c24c0c058ca.png)

Is it normal in the response I see the following URL?
"https://postman-echo.com/get"

[2017-08-24 15:51] kamalaknn commented on #3434
@madebysid you right. The port option in the proxy config has caused the request URL to not match.

The port option is not needed in the config. However, if it is specified the URL should also explicitly match the port. If we assume port in the URL and try to match it, it might fail if the config does not have the port.

This could be a tricky thing to decide. I think the thumb rule for the config

[2017-08-24 15:56] lisagrady commented on #3434
Ok, I was able to get it working by not specifying the port in the client certificate settings:
![image](https://user-images.githubusercontent.com/31289490/29675421-f7f2c480-88a9-11e7-912b-bdbf9ec8f43e.png)

Postman query and results through postman console:

![image](https://user-images.githubusercontent.com/31289490/29675462-142bceda-88aa-11e7-8f0f-d77f2ba871af.png)

Thanks again for the assista

[2017-08-24 16:28] kamalaknn commented on #3434
@lisagrady Great!

I'm closing this issue for now. At the moment I don't think the port should be auto detected. Feel free to continue the discussion here.

[2017-08-24 16:28] #3434 closed, assigned to kamalaknn

[2017-08-24 18:16] georgedpeterson commented on #2949
Same issue here.

[2017-08-24 19:45] batjko commented on #1669
Just to add inspiration, the way [Insomnia](https://insomnia.rest/blog/introducing-graphql/) does it, is essentially what we're after here.
It even has automatic introspection, so works similarly to GraphiQL (though I haven't been able to make that one work when I briefly tried). But even without that, a simple GraphQL query editor would suffice to start.

![image](https://user-images.githubuserco

[2017-08-24 19:59] developer99 commented on #2418
I do not think it is supposed to return anything by standards.

See [https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)

_The 204 response MUST NOT include a message-body, and thus is always terminated by the first empty line after the header fields._

Oh. duh  @igorsantos07 already said this.  :)

[2017-08-24 20:10] developer99 commented on #2418
In my case, perhaps I have misinterpreted the reason to return 204.  I am using it when a query seeking records does not find any.  No records, return 204 (no content).

But perhaps I DO need to return data and should return status 200 OK and return a message such as `"message":"No records found"` and/or an empty record set.

Which would be best for the developer?  Status 204 (No content) or Statu

[2017-08-24 20:42] bhavin177 commented on #2701
Checking in to see if this on the roadmap?

[2017-08-25 00:23] tyronedougherty commented on #448
I'm running Postman v5.1.3 and am trying to `POST` a JSON multiline string like so:

[code]

Nothing I do seems to work as Postman is not working with the multiple lines. Nothing I do seems to be working, using `\n` at the end of every line doesn't work, trying to insert newline unicode characters doesn't work, pasting the certificate into a JS console with the backtick character (\`) on either en

[2017-08-25 01:57] mroche89 opened #3442 "GUI: POST, SEND and SAVE buttons overlapped"
## App Details:
Postman for Chrome
Version 5.1.3
win / x86-64
Chrome 60.0.3112.101

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have noticed it for a couple months now. Can't say for sure whether it was there before and I ignored it or if it's new behaviour

 2. Expected behaviour:
Address bar should not disappear and UI components should not overlap

[2017-08-25 05:05] sdnts commented on #3441
@eap0120 This error usually happens when you try to access your server on the wrong port. Are you trying to access an HTTPS server over HTTP?
I wasn't able tor reproduce. I'm closing this because this looks like a problem with server setup rather than Postman itself. Please reopen if you feel otherwise.

[2017-08-25 05:08] sdnts commented on #3442
@Trestal Thanks for reporting this! I'll take a look at this.

[2017-08-25 05:22] sdnts commented on #3424
@scottmmmm 20 tabs shouldn't be doing this. we'll take a look at this.

[2017-08-25 06:27] fuzzypantlets commented on #3314
I am seeing the same issue. It is a POST that returns a pdf attachment:
content-disposition →attachment; filename="appId.pdf"
content-type →application/pdf
content-length →17042

It works in curl.

Version 5.1.3
win / x86-64
Chrome 60.0.3112.101

[2017-08-25 08:20] sdnts commented on #3314
Do you guys have any public endpoints I can try this with?

[2017-08-25 08:23] sdnts commented on #448
@tyronedougherty Does the data editor not allow you to paste multiple lines?
Pressing `Enter` in a value field should take you to a new line.

[2017-08-25 08:25] sdnts commented on #2701
@bhavin177 We haven't taken a look at this yet.
You can follow our roadmap [here](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers)

[2017-08-25 08:29] sdnts commented on #3291
@BrianKilby Can you try this on the canary build?

[2017-08-25 08:32] sdnts commented on #2833
For the moment, if you guys see this, you can reset the app's window settings manually. To do this, you'll need to delete the `requester.json` file from the app's data directory, this is located:

on macOS: ~/Library/Application\ Support/Postman
on Windows: C:\Users\<your_user_id>\AppData\Roaming\Postman
on Linux: ~/.config/Postman

For the runner & console, the files are called `runner.json` and

[2017-08-25 08:34] smacktoid commented on #3424
I've attached a video showing this occurring. Note how I open several requests by following links, and then the video shows the mouse stuttering across the screen after I click "Send" the last time. At this point Postman has crashed (the video looks funny because the screen recorder was configured to record Postman, so it didn't handle the crash very well)

[postman-bugs.mp4.zip](https://github.co

[2017-08-25 08:36] smacktoid commented on #3425
I've attached a video of this happening.

At the 15 second mark in the video, I click a link in the response body. At that point another tab opens, but focus stays on the current window. You can see that I have to switch to the other window manually.

Throughout the rest of the recording I'm able to click on links and automatically switch to other tabs, highlighting the inconsistent nature of this

[2017-08-25 08:41] sdnts commented on #2602
@marcoRamonS Where do you see this error? In Postman's DevTools, or the response section?
Can you also try out the [native](https://getpostman.com/apps) Postman apps and see if it persists?

[2017-08-25 09:03] sdnts commented on #3416
This is very weird. Are you using any sort of proxies in your environment?

[2017-08-25 09:06] sdnts commented on #3327
@dtsob75 Does the Google login screen close or does the new window redirect to Postman's login page? Do you have any cookies set?

[2017-08-25 09:17] fuzzypantlets commented on #3314
I just tried a GET with the first pdf google showed me and it behaved the same:
GET http://www.rms.nsw.gov.au/documents/roads/licence/guide-to-driving-test.pdf

Pops up a save dialog with response.pdf which contains the word "undefined"

[2017-08-25 09:37] sdnts commented on #3314
@fuzzypantlets This confuses me even more, this downloaded fine for me. What version of the app are you on? Can you try a force update of all your Chrome extensions? Can you also try out our native apps and see if it is resolved there?

[2017-08-25 09:55] sdnts commented on #3437
@djbf Currently, example responses do not show up in the Documenter, but if I understand correctly, showing that should resolve your issue as well correct?

This is in the works.

[2017-08-25 10:18] lhomme-a commented on #3314
The problem persists for me after a force update of Chrome extension. I cannot try with the native app because i am behind an authenticated proxy and i have the #2242 issue.

My version is  :

Postman for Chrome
Version 5.1.3
win / x86-64
Chrome 60.0.3112.90

I use also  : Postman Interceptor 0.2.23

And  i repeat, i am behind an authenticated proxy. Maybe it matters.

[2017-08-25 10:21] gauravcanon commented on #3146
@numaanashraf @madebysid Any update on this issue?

[2017-08-25 10:54] sdnts commented on #3314
@lhomme-a On the latest native apps, you should be able to use the System proxy for calls by switching on the Global Proxy in `Settings > Global Proxy` and setting a system proxy. Can you try this out?

[2017-08-25 11:51] stevenh commented on #2384
Looks like this has been broken again :(

[2017-08-25 11:52] sdnts commented on #3440
@ssp0xd7 We made several improvements to performance in recent releases. Can you try updating your app all the way to 5.1.3 and see if things feel better?

[2017-08-25 11:53] stevenh opened #3443 "AWS Signatures with duplicate querystring values are invalid"
Postman Version: 5.1.3
App: Chrome app
OS details: Windows 10 x64
Is the Interceptor on and enabled in the app: Yes
Did you encounter this recently, or has this bug always been there: Always
Expected behaviour: AWS Authentication should work
Sign a request with AWS auth which include duplicate querystring fields e.g.
?uuid=26cadde4-4d54-11e6-b0d9-bb25bde55565&uuid=08c030d9-898a-11e7-bed9-8982382c8

[2017-08-25 11:53] #3443 closed, assigned to nobody

[2017-08-25 11:54] stevenh commented on #3443
Sorry may have been premature there, we switched decoding libs to the official AWS library and it seems it may be the cause of this, so closing for now.

[2017-08-25 11:55] sdnts commented on #2384
@stevenh A major auth rework is planned on an upcoming release, we'll take this up then.
You can follow our roadmap [here](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers)

[2017-08-25 11:59] stevenh commented on #2384
Cool and thanks!
As noted on the other ticket I think I may have been pre-mature on the report. We switched decoding libs to the aws offical golang sdk and it might be that's where the bug lies.

[2017-08-25 12:08] lhomme-a commented on #3314
With the native application, i need to manually add a *Proxy-Authorization* header to the request then the response.pdf is correct.
So the issue is only for the chrome extension.

[2017-08-25 12:33] slowwit commented on #2833
Thanks Sinha!
FYI no one should be confused but just in case , an update....

_on Windows: C:\Users\your_user_id\AppData\Roaming\Postman_

[2017-08-25 13:08] eap0120 commented on #3441
I'm running over http and this is still an issue

[2017-08-25 13:51] harryi3t commented on #2088
We are going to support an option in the App from where user can choose which authentication method should be used.

In the mean time as a workaround, you can un-check the `Request access token locally` check box

<img src= 'https://user-images.githubusercontent.com/5207331/29372418-aa89146a-82c8-11e7-9965-75dbdda990c0.png' height=500px/>

When it's checked the App makes the second request using b

[2017-08-25 14:09] Yardglass commented on #3433
Thanks, Just a heads-up that the **"Comparison was correct"** should probably be **"Date wasn't between passed values"** or similar.

[2017-08-25 14:38] stevenh commented on #2384
Just to confirm this new report was due a bug in the official AWS golang SDK, which has been reported here: https://github.com/aws/aws-sdk-go/pull/1491 so please feel free to close this as it does work as expected.

[2017-08-25 14:52] tarunairvm opened #3444 "Update postman collection from swagger specification file"
App Details:

Postman for Mac
Version 5.1.3 (5.1.3)
MacOS Sierra

## Issue Report:
I'm importing a swagger specification file into postman to create a collection, at this point, works as expected and the collection is generated with all requests & sub-folders, fine!!. But when the api is updated, I need update the postman to update all requests based on the new specification. I can't find a action

[2017-08-25 15:42] james7088 commented on #2851
+1

[2017-08-25 15:43] james7088 commented on #2819
+1

[2017-08-25 18:33] djbf commented on #3437
I'm a little confused... Example responses I save from within the Postman client are indeed displayed in the documentation and are very useful.

<img width="1158" alt="doc_example" src="https://user-images.githubusercontent.com/694161/29727287-11e77212-8988-11e7-8a06-6cbe953e6b72.png">

It's that urls and sample bodies/requests that contain variables do not good API documentation make. If I can co

[2017-08-25 19:20] mdridley opened #3445 "Need to be able to Sign In with multiple Accounts for PRO"
Our company does a lot of consulting and thus works with multiple companies that were using or have been introduced to Postman. However it is very difficult to associate and use multiple Pro teams with different organizations right now. It would be handy if it was closer to iTunesConnect where I could choose the company/team and view/create syncs from there.

[2017-08-25 19:25] sdnts commented on #3445
@mdridley Thanks for the feature request! This is actually planned for release very shortly. We're working on this as we speak. I'll let you know here when this is out.

[2017-08-25 20:10] BhavinSan commented on #2076
Thanks @mbirtwistle  that does it!

[2017-08-25 21:48] beneberle commented on #3291
I was seeing the reorder bug with a particular shared collection and Postman Canary 5.2.0 solved it for me as well. Thanks!

[2017-08-25 22:05] ianjosephthompson commented on #2195
++ Please add a setting to disable the prompt to save when closing.  Very frustrating for me when I open and close dozens of tabs a day and very rarely need to save any of them.

[2017-08-26 01:34] dimiork commented on #327
Postman 5.1.3 - it still doesn't seem to work

[2017-08-26 04:10] Bharwcb opened #3446 "Conditional logic in test to skip rest of iteration's API calls, move on to next iteration"
## App Details:
[code]

## Issue Report:
 1. This issue has existed previously.  I assume it is user error and I just do not yet know how to do what I need ;)
 2. For simplicity sake, I have two API calls in a collection runner.  I import a CSV with just one column with a header called Body.  I have 4 iterations of a Body data that I will use as the actual body in the 1st API call's request (using

[2017-08-26 08:53] JulienMalige commented on #2974
Don't know if it can help. My issue was that I already had install the app (and accept the permissions).

[2017-08-26 18:27] gototester commented on #3423
Nice one :)

[2017-08-26 18:50] stevemcmillen commented on #2195
Many ages ago this was the default.  Sadly it was taken out and never returned :(

I understand the need for caution but my hope is that it would be a pref (default to prompt but power users can go in and change).  I can't see why this would be very hard.

[2017-08-27 20:09] olegivo opened #3447 "Incorrect response result preview displaying (encoding problem)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
persistent behavior
 2. Expected behaviour:
Correct response encoding displayed.
Content-type of result response is "text/html; charset=WINDOWS-1251", that can be used to correctly display preview. Pretty view displayed correctly
 3. Console logs (http://blog.getpostman.com/2014/01/27/

[2017-08-27 23:47] quintrino commented on #3316
Hi, Did the change for this alter the default behaviour listed in #2110 ? I used to be able to use spacebar to auto close with saving, but now it seems the auto focus has shifted to save.

[2017-08-28 07:25] bhawna2109 commented on #2195
Hi guys, we understand the issue here and how this can be an impediment. To handle the use case when users do NOT want to save anything in Postman, we will be adding a 'Force close all tabs' option in this menu -
![image](https://user-images.githubusercontent.com/14976346/29762863-39248d2a-8bee-11e7-900f-339d1ddac3c1.png)
Ofcourse, if you hit this option, you'll be asked to confirm your choice onc

[2017-08-28 07:36] beast commented on #3374
Any updates on this? Thanks.

[2017-08-28 07:53] dvkwong commented on #2195
How about a startup option in settings similar to chrome:

* open without tabs (does not prompt to save any open tabs)
* continue where you left off (prompts to save on closing tabs)

Although I can live with 'Force close all tabs' :) thanks

[2017-08-28 08:04] Pawana93 commented on #1180
+1

[2017-08-28 08:05] harryi3t commented on #2566
This is not related to the bug related to the port number. Removing the `in progress` label.

[2017-08-28 08:29] sdnts commented on #3316
@quintrino This fix isn't out yet. On the current latest version (5.1.3), I tried this, and the focus is on `Save`, and pressing spacebar will save. Are you not seeing this?

[2017-08-28 08:36] sdnts commented on #3441
@eap0120 Is your local server running over HTTPS? If so, you'll need to access it over HTTPS. I think it is, since your errors show SSL errors

[2017-08-28 08:37] sdnts commented on #3437
@djbf Ah, understood. In the mean time, you can edit your examples from within the app to remove any information you do not want to be public. We'll look into this :)

[2017-08-28 08:39] sdnts commented on #327
Guys, can you check this on our [native apps](https://getpostman.com/apps)?
The native apps work on an improved request framework, and things like this shouldn't happen. I'd recommend shifting to it anyway, since Google will deprecate Chrome apps soon.

[2017-08-28 09:09] sdnts commented on #3446
Hi @Bharwcb! Thanks for taking the time to explain the issue in detail!

I made a simple collection to imitate what you're trying to do [here](https://documenter.getpostman.com/view/214062/gh3446/6nBvAjc).

It has 3 requests, and it is supposed to skip over the 3rd request in the second iteration. I use `postman.setNextRequest(null)` to skip over the third request, and my condition is the current

[2017-08-28 09:14] sdnts commented on #3444
@tarunairvm Currently, Swagger imports are designed to be a one way transform. When you re-import a changed swagger spec, there's no way for us to correlate your swagger requests with Postman requests, so updating requests wouldn't be possible.

May I suggest updating your API in Postman directly so that you don't lose your tests?

[2017-08-28 09:14] #3444 closed, assigned to nobody

[2017-08-28 09:15] sdnts commented on #3447
@olegivo Can you also try this on our [native apps](https://getpostman.com/apps) to see if this is happening there as well?

[2017-08-28 09:30] kamalaknn commented on #2911
Closing this as a duplicate of #2045. Please follow the parent thread for updates.

Thanks.

[2017-08-28 09:30] #2911 closed, assigned to nobody

[2017-08-28 09:42] sdnts commented on #3430
@monkmahadeva If it's stuck on the loading screen, can you open up the DevTools and check if there's any errors there?

@AndrewCarterUK We currently support only Debian 8 unfortunately.
[OS Support](https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md). We'll look into this.

[2017-08-28 09:43] sdnts commented on #3425
@scottmmmm I can indeed see the problem, and I probably cannot reproduce it because it is not consistently happening. I'll look into this. Thanks for reporting!

[2017-08-28 09:59] sdnts commented on #3146
@homerepope That looks like an erroneous alert, that shouldn't be there, we'll get that fixed.

@gauravcanon Do you have Interceptor capture enabled? Try turning that off. Currently, when the Interceptor is ON from the app, the request is made through Chrome, so all cookie attaching is done by Chrome, which means that two versions of the same cookie is very weird. Can you head over to `chrome://se

[2017-08-28 10:47] kunagpal commented on #553
@lsloan @ssi-anik @amirabiri @emersonf Moment.js (without locales) is available in Postman v5.1.2 and above, do go ahead and check it out. You can use `moment` in your scripts as follows:
[code]

[2017-08-28 10:48] #553 closed

[2017-08-28 11:33] emersonf commented on #553
@kunagpal @madebysid moment.js is a great library and I'm happy to see it's been added. But adding moment doesn't satisfy what is being asked for here. (as @lsloan said, this issue shouldn't have been renamed)

At face value, we need pre-defined variables for ISO 8601 timestamps. If the suggestion is to use moment to create them in _Pre-request scripts_, then we have a different problem; how do we

[2017-08-28 11:43] kunagpal commented on #553
@emersonf What you've mentioned is related to https://github.com/postmanlabs/postman-app-support/issues/882

[2017-08-28 11:47] kunagpal commented on #2698
@edsonmedina @dlopuch
[code]

[2017-08-28 11:49] #2698 closed, assigned to nobody

[2017-08-28 11:51] kunagpal commented on #2832
@skyboyer This can be done as follows:
[code]

[2017-08-28 11:51] #2832 closed, assigned to nobody

[2017-08-28 11:51] kunagpal commented on #2960
@gitfool This can be done as follows:
[code]

[2017-08-28 11:51] #2960 closed, assigned to nobody

[2017-08-28 12:29] shamasis commented on #2281
I am not sure that automating the IDP's web UI is feasible at all (maybe it even defeats the whole purpose of oAuth2)! Even if you have full control, IDP UIs protect against these sort of situations using Captcha and other obfuscation.

Maybe use HMAC mode for this purpose. Perhaps, we could introduce this mode. Feature request on https://github.com/postmanlabs/postman-app-support/issues/632

@a85

[2017-08-28 12:54] brunofitas opened #3448 "As a user I would like to view an exception warning next to tests results so I can acknowledge that the tests were interrupted"
When there is a field exception, for example, Postman Runner does not displays the exception information on the top of the window, right next to the PASSED/FAILED results.
Instead, a red warning is displayed at the bottom of the queue, without any failed error warning:

" Open DevTools for more info."

This leads to errors, especially when working with large collections, since developers tend to r

[2017-08-28 12:58] olegivo commented on #3447
@madebysid For native app same behavior

[2017-08-28 13:00] sdnts commented on #3448
@brunofitas Thanks for the request! We're always looking to make testing easier, we'll definitely look into this :)

[2017-08-28 13:03] snaits commented on #2281
@shamasis  If you are thinking about an OpenID scenario, sure, this defeats the purpose and may not be possible at all.

For just fetching a client_credentials flow type OAuth2 token though, it would be very helpful indeed.

[2017-08-28 13:28] mcanepa commented on #2742
@Tosch8 Yes, that's my username! I'll try your suggestion. Thanks =)

[2017-08-28 13:36] antonioatt opened #3449 "Error with https REST service:dh key too small"
When I try to invoke a REST endpoint in https I can't get a response.
The error in the Postman console is:
10:07:44.728
Error: write EPROTO 140735221428224:error:14082174:SSL routines:ssl3_check_cert_and_algorithm:dh key too small:../../vendor/node/deps/openssl/openssl/ssl/s3_clnt.c:3617

I checked the certificate issued by the server and I think the problem is the obsolete cipher used(see a scree

[2017-08-28 13:40] sdnts commented on #3449
@antonioatt On Chrome apps, this is done by Chrome, so there isn't a way to turn this off, unfortunately.
If you're on the native apps though, you can try turning off SSL certificate verification from `Settings > General`. I'd recommend shifting to [native apps](https://getpostman.com/apps) anyway since Google will deprecate Chrome apps soon.

[2017-08-28 13:44] antonioatt commented on #3449
Thanks, @madebysid but I tried unsuccessfully to turn off SSL certificate verification in the native application.
In the chrome extension, it works if I let Chrome accept the certificate.

[2017-08-28 13:52] eap0120 commented on #3441
Unfortunately that is not the case.  I'm running under http as evidenced by the following server log debug statement:

2017-08-25 10:39:12.312  INFO 30896 --- [           main] s.b.c.e.t.TomcatEmbeddedServletContainer : Tomcat initialized with port(s): 8080 (http)
2017-08-25 10:39:12.321  INFO 30896 --- [           main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2017-08-

[2017-08-28 14:28] mcanepa commented on #2742
Well I had problems doing that, but I think that maybe we've found out what the problem was.

Let's hope this gets fixed soon.

[2017-08-28 15:05] eap0120 commented on #3441
Also, I can run the following curl command generated by Postman and get a JSON response back

curl -X GET \

[2017-08-28 17:49] StormRider01 opened #3450 "Add proxy configuration for using Postman's cloud features"
Postman for windows appears to not use the "Use System Proxy" setting for App level traffic, specifically for Sync traffic (and specifically to NOT use the system default proxy).

We have a ZScaler in our environment, pushed as an Automatic configuration script. (chrome settings -> open proxy settings -> Lan Settings). When the proxy is used, both Chrome Postman and Windows Postman are unable to s

[2017-08-28 18:20] Bharwcb commented on #3446
Hi @madebysid thanks for your reply!

I may have discovered what the issue was.. I did not realize you have to explicitly tell the request in its test to proceed to the next API call, if you are using postman.setNextRequest(null) at all.

So an example of the solution was:
[code]

Is this accurate?

I also had a separate but related question of where all of the attributes like responseCode.code, r

[2017-08-28 19:58] alexeyOnGitHub commented on #3405
no problems with native Postman app on Ubuntu 17 64bit.

[2017-08-28 20:37] 1jcruz opened #3451 "Postman Sandbox API reference"
## App Details:

[code]

My apologies if this is very basic. I'm new to Postman. In the documentation, there is a section on Postman Sandbox API reference (https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference). It states that a number of NodeJS modules are available. I need to use the url module, and I see that it is not available. (Note: I need it to calculate a header va

[2017-08-28 22:11] alexeyOnGitHub opened #3452 "feature suggestion: configure native Postman app to get/save collections data from/to my local folder (managed by Git)"
I want to keep my Postman collections as well as my environment files in a Git repo to share with the team.
I cannot store those in a remote storage owned by Postman itself due to security/privacy concerns.

if I could configure Postman app to just load all data from/to my local folder managed by Git, that would be awesome. (instead of keeping that info in some internal Postman format somewhere).

[2017-08-28 23:08] elzii opened #3453 "Replace Environment Variable with real value when publishing docs"
I would love to be able to replace variables with their real values when publishing docs. Consider the following scenario when using variables in the request URL:

## Environments

**Environment A - (Dev)**

`api_host` - `dev.example.com`

**Environment B - (Production)**

`api_host` - `www.example.com`

## Example Request

[code]

We use variables in the paths for a ton of calls. Being able to sw

[2017-08-29 04:27] igorsantos07 commented on #2418
@developer99 I suggest you to post those questions on a forum such as StackOverflow. That's off-topic, as we're discussing here an issue with Postman interpretation of 204 responses :)

[2017-08-29 06:23] sdnts commented on #3450
@StormRider01 I'm not familiar with ZScale, but the reason we cannot use proxies for Sync is because there is no support for websockets. Correct me if I'm wrong, but I think there's little we can do here.

[2017-08-29 07:34] quintrino commented on #3316
@madebysid Thanks for getting back to me! :)

Currently when I use the spacebar **save** has focus so it goes to save, but previously **don't save** had focus as listed in #2110.

I'm looking for a way to close tabs without saving, but now that the focus has changed it's a bit more difficult. Just curious when the change happened.

[2017-08-29 07:38] florinciubotariu opened #3454 "Can't add description right after we reopen Postman"
## App Details:
Postman for Chrome
Version 5.1.3
win / x86-64
Chrome 60.0.3112.113

## Issue Report:
1. Create a request without a description and save it in a collection.
2. Make sure the tab with that request is opened.
3. Close Postman and open it again.
4. There is no way to add the description of the request. In order to be able to add a description, we must change to another request (another

[2017-08-29 07:40] bhawna2109 commented on #3316
Hi @quintrino - will the solution mentioned here #2195 suit your workflow?

[2017-08-29 08:04] sdnts commented on #3446
@Bharwcb By default, the next request in order will be run, even if you omit `postman.setNextRequest`. You can see this in the collection I shared.

Docs for the test API are [here](https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference)

[2017-08-29 08:57] mstaalesen opened #3455 "Feature request: Code snippets should read "Pre-Request" Scripts"
Today, when I create a code snippet, Postman does not execute pre-request scripts before it creates the code. For a new request, this means that variables will be shown as {{example}} in the generated code, instead of "example value".

This becomes a problem when creating code for a request that is a part of a larger chain. Some environment values might be stored from the previous run and thus cre

[2017-08-29 09:15] mstaalesen opened #3456 "Download/export dialog is hidden behind Postman"
In Postman 5.1.3, if I want to save or export a collection or environment, the save dialog is hidden behind Postman.

Linux Native App.
Ubuntu 14.04

[2017-08-29 10:16] sdnts commented on #3451
Hi @1jcruz, all node modules are not included in the sandbox as of yet.
Out of curiosity, how are you going to calculate the header? Maybe there's an easier way to do that using currently included modules.

[2017-08-29 10:21] Faz540 opened #3457 "[Bug] - Opening the console using shortcut Key in Postman causes it to open twice"
**Postman Windows App,
Windows 10 x64 Bit.**

I'm not sure if this occurs on the Mac/Linux apps too.

Using the shortcut key to open the Postman Console (CTRL + ALT + C) sometimes causes two instances of the console to open.

I've confirmed this happening on other people's machines in our office.

I can re-create this 100% of the time, but it seems to happen when you open the console for the first

[2017-08-29 10:23] sdnts commented on #3452
@alexeyOnGitHub Thanks for the feature request. We'll look into this.

[2017-08-29 10:32] sdnts commented on #3453
Hi @elzii, before publishing docs, if you specify an environment to associate it with, the variables in that environment template will be used to populate values in the collection.

<img width="1866" alt="screenshot 2017-08-29 16 02 07" src="https://user-images.githubusercontent.com/7689783/29816853-6d441d60-8cd3-11e7-98e6-84d463cc8155.png">

[2017-08-29 10:32] #3453 closed, assigned to nobody

[2017-08-29 10:41] wysow commented on #2681
Experiencing exactly this on an API which firewall is only accepting headers with exact syntax like `Authorization` and not `authorization`, Postman should not convert headers keys to lowercase in my opinion...

[2017-08-29 10:42] sdnts commented on #3454
@florinciubotariu Oh wow thanks for reporting this, I was able to reproduce this. We'll get this fixed.

[2017-08-29 10:43] sdnts commented on #3457
@Faz540 Weird, I was able to reproduce this. Thanks for reporting this!

[2017-08-29 10:44] sdnts commented on #2681
Can you guys try this on the [native apps](https://getpostman.com/apps) and check if this is an issue there as well?

[2017-08-29 10:48] sdnts commented on #3455
@mstaalesen Thanks for the request! We'll look into this.

[2017-08-29 11:24] wysow commented on #2681
@madebysid I'm already using Mac native app version 5.1.3 so yes this issue is also there.

[2017-08-29 12:04] sdnts commented on #2681
@wysow Looks like this is only the case for the generated code, and not actual requests sent through the app. Regardless, this is still a bug and I'm marking it as such.

[2017-08-29 12:11] wysow commented on #2681
@madebysid How do you explain that same request made by Postman app and by curl (after rewriting the headers in the right way) is not getting the same response then?

[2017-08-29 12:52] wysow commented on #2681
@madebysid nevermind... , I found the answer on my side, the firewall needed some "real life" values for some specific headers, all working now...

[2017-08-29 12:59] sdnts commented on #3456
@mstaalesen Does it always open behind the Postman window? I tried this on an Ubuntu VM but was unable to replicate.

[2017-08-29 13:25] tomoguisuru opened #3458 "[Feature Request] Basic Auth with Password Only"
## Settings
[code]

## Details
I'm currently using the Reflect.io API to pull information about our linked data. Their API what I'd consider an edge case of BasicAuth and only uses a password. (no user) Currently in Postman, you have to have both the username and password in order for it to automatically generate the Base64 encode string.

## Feature Request
Allow for the BasicAuth info to be save

[2017-08-29 13:59] mstaalesen commented on #3456
Try the following:

1) Start Postman
2) Try to export a collection
-> Dialog appears correct

3) Move Postman from Screen 1 to Screen 2
4) Try to export a colletion
-> Dialog appears behind Postman

[2017-08-29 14:20] francoisneron commented on #3421
Thanks for the quick reply, @madebysid .

I'm looking for something like this. Is that achievable with Reporters?

This is like the existing "get from file".
`postman.setEnvironmentVariable("ENVIRONMENT_VARIABLE_X", data.fieldheader);`

I want more like a "push to file". (take in consideration x iteration, new variable to be set, pick up the file and add a new header to the CSV/JSON). That can be

[2017-08-29 14:56] 1jcruz commented on #3451
Hi @madebysid, I'm trying to call the Canvas Data API. It uses an authentication method that requires me to create an encoded hash signature based on 8 string elements, 2 of which come from the API URL. The JavaScript they recommend to use is:

`var crypto = require('crypto')`
`var url = require('url') `
`var HMAC_ALG = 'sha256'  `
`var apiAuth = module.exports = {  `
`  buildMessage: function(sec

[2017-08-29 15:09] StormRider01 commented on #3450
@madebysid I'm seeing the exact opposite behavior- with a system proxy specified, Sync hangs on Connecting. When I disable the system proxy and restart Postman, it almost immediately hits In Sync status. This is with "Global Proxy Configuration" and  "Use System Proxy" off.

I also pulled down Version 5.2.0 win32 10.0.15063 / x64 today, same behavior.

For my environment, simply using the Use Syst

[2017-08-29 16:40] brettdewoody commented on #285
+1

[2017-08-29 17:58] Blue-Dog-Archolite commented on #2681
@madebysid I am using the Native app.

[2017-08-29 19:03] prashantagarwal commented on #3354
@anton-arsentyev This is now fixed in latest version of Postman app (5.2.0) .

[2017-08-29 19:03] #3354 closed, assigned to prashantagarwal

[2017-08-29 23:42] elzii commented on #3453
Sweet! I was hoping it was user error :P Thanks.

[2017-08-30 02:33] susumuf opened #3459 "Runner generates request URL using unmarked key value."
## App Details:

[code]

## Issue Report:
100% reproducable.
 I faced a problem /w runner which is generating request URL using unmarked key value.

here's steps as below screen shot
define URL
![definedurl](https://user-images.githubusercontent.com/13374698/29852657-4b869150-8d76-11e7-9b50-de766ed72aa6.jpg)
runner generated URL
![generatedurl2](https://user-images.githubusercontent.com/13374698/3

[2017-08-30 03:20] susumuf opened #3460 "Runner using csv/json data file runs good, but export results sounds strange"
## App Details:

[code]

## Issue Report:
[Using CSV and JSON data files in the Postman Collection Runner](http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/) is telling a way using CSV/JSON data files. So I tried /w CSV and worked fine look like.
but "export results" Only contains 1st line value(in CSV).

for example,
* defined URL was
{{URL}}/{{versi

[2017-08-30 04:41] musamamasood commented on #3142
@krismeister I am facing similar issue, please share other tool to generate docs.

[2017-08-30 06:54] stormit-vn commented on #734
I know this case is closed, but I also trying to include external library such as https://github.com/aws/amazon-cognito-identity-js/. This is because, our API is secured with Cognito authorizer, before invoking our API we need to authenticated user to get token and update token variable.

Seems adding some external .js files can update the window object in the Dev console, but when I trying to acc

[2017-08-30 07:13] sdnts commented on #3451
@1jcruz You should be able to `require('url')` starting with 5.2.0 🎉
Also, instead of `require('crypto')`, you can use CryptoJS, which is included in the sandbox. Do let me know if this works for you :)

[2017-08-30 07:13] #3451 closed, assigned to sdnts

[2017-08-30 07:18] susumuf opened #3461 "DCR:Breaking the 1MB barrier – Postman console"
## App Details:

[code]

## Issue Report:
Not a issue, just DCR(Design Change Request)

To dig a response body, json/xml array data is increase in the size potentially.
so I would request Max size is 10MB minimum or larger than.
![1mb](https://user-images.githubusercontent.com/13374698/29859783-a9f9da08-8d9e-11e7-97a8-981a8fd0aed5.jpg)
not sure best size.

[2017-08-30 07:18] susumuf commented on #3461
Ooops, not for Mac, I used for Windows native client.

[2017-08-30 09:21] milancheck opened #3462 "[Bug] Can't pass data with german umlauts - ä, ö, ü"
## App Details:

Postman for Windows
Version 5.2.0
win32 10.0.14393 / x64

## Issue Report:
 1. Bug has always been there
 2. Expected behaviour:
Postman will pass UTF-8 characters as it should
 3. Screenshots
Please refer to the screenshots:
DATA "köln" --> TEST fail as "k?ln"
http://imgur.com/a/lPZQ9
DATA "koeln" --> TEST pass
http://imgur.com/a/IshSz

[2017-08-30 09:49] #2769 closed, assigned to nobody

[2017-08-30 10:32] sdnts commented on #3458
@tomoguisuru We're working on improving auth flows in the native apps, we'll keep this in mind. Thanks for the request!
In the mean time though, you should be able to use CryptoJS (included in the sandbox) in combination with environments to do this!

[2017-08-30 10:33] sdnts commented on #3459
@sumf Thanks for reporting this, we'll get this fixed with the next version.

[2017-08-30 10:34] sdnts commented on #3460
@sumf This is actually a limitation we're aware of. This was done to maintain compatibility with Chrome apps. I'll keep this in mind and look into this!

[2017-08-30 10:35] sdnts commented on #3461
@sumf This was done because of performance issues. I'm marking this as a feature request!

[2017-08-30 10:38] sdnts commented on #3462
@MilanD93 Can you try encoding your arguments before sending them over? You can do this by selecting the URL params, right clicking and selecting `EncodeURIComponent`. This is far from ideal, but it should work for the time being.

Also, is this happening only on the Runner or in the main Postman app as well?

[2017-08-30 10:50] anton-isaykin commented on #285
+1

[2017-08-30 11:22] stevenh commented on #2384
Just to update on this, [the question has been asked as to if the current published AWS v4 spec is the canonical source of truth](https://github.com/mhart/aws4/issues/59).

Current thinking is this is not the case, which is leading to all sorts of issues.

I've raised an [issue on the official AWS golang SDK](https://github.com/aws/aws-sdk-go/issues/1495) in the hope we can come to a official conc

[2017-08-30 12:11] harryi3t commented on #3458
Since the [basic auth RFC](https://tools.ietf.org/html/rfc7617#section-2) does not say anything about the username and password being required/optional, it's safe to leave it to the server implementing it

That said, we will be updating our logic to make the username & password optional 🎉
Will keep this thread posted about the updates.

[2017-08-30 12:20] kunagpal commented on #3293
@S0im This should have been fixed in the 5.2.0 release, feel free to reopen if your issue persists. Thanks! 😄

[2017-08-30 12:20] #3293 closed, assigned to prashantagarwal, kunagpal

[2017-08-30 12:20] kunagpal commented on #3361
@jhelbig This should have been fixed in the 5.2.0 release, feel free to reopen if your issue persists. Thanks! 😄

[2017-08-30 12:34] iexxk commented on #1825
@wangjunting "{{putBody}}"

[2017-08-30 12:37] kristerbone commented on #3283
Work around until v5.2 is released is to export in v1 format

[2017-08-30 12:42] mikklaos commented on #1180
+1

[2017-08-30 13:25] sdnts commented on #3421
@francoisneron Sure. The reporter Docs should help here. We do not allow users to write to files form pre-request / test scripts because of security reasons, unfortunately.
You can join our [Slack community](https://www.getpostman.com/slack-invite) to ask any questions you have :)

[2017-08-30 13:25] #3421 closed, assigned to sdnts

[2017-08-30 14:02] patric-eberle commented on #2551
@JohnArrowwood did not use it on my last projects. But the problem seemed to be solved the last time I used it.

[2017-08-30 14:15] sdnts commented on #734
@stormit-vn Support for custom `require`s is underway. While I do not have a concrete ETA yet, you can follow our product [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) as well as #1180 for updates.

The error you're getting is because scripts run in an isolated environment where access to the `window` object is prohibited for security reasons.

[2017-08-30 14:56] sdnts commented on #3450
@StormRider01 We do not use the proxy set within the app for Sync traffic and specifically. That uses your system proxy, as you've noticed.
So what's happening is, your system proxy is used for communicating with Sync even if the `Use global proxy` switch is turned OFF, so Sync gets stuck on `Connecting`. I'm treating this as a feature request!

[2017-08-30 15:02] rossjha commented on #2811
+1 on 5.2.0

[2017-08-30 15:03] rossjha commented on #3411
Thanks yeah was trying different URL's.  Looks like i have the same issue as #2811

[2017-08-30 15:17] weidamao opened #3463 "Params Panel add data type"
current：
key、Value、Description

proposal：
Key、Value、Type、Description

Type(Number,String,Boolean,Array......)

[2017-08-30 15:56] harryi3t commented on #2253
In the latest version of Postman 5.2.0, we have added additional settings to manage proxy settings
![image](https://user-images.githubusercontent.com/5207331/29882136-c65ccb12-8dc9-11e7-99de-516cdbe2529e.png)

Just turn off the proxy and it should work.
Let me know if you still face the issue.

[2017-08-30 16:19] djbf commented on #3438
Just chiming in, but I'd prefer something along the lines of the proposed alternative. If Postman could export a file compatible with API Blueprint and Swagger, that'd be awesome. I'm sure there's a group of folks who wouldn't mind a RAML export filter, too.

see: https://github.com/postmanlabs/postman-app-support/issues/1744

[2017-08-30 16:24] djbf commented on #3437
Also worth noting for the benefit of others reading this is that in the Documenter, shared environments can be selected in a dropdown which will populate the BODY variables displayed.

Perhaps an additional consideration when strategizing on any sort of implementation would be the ability to set a default environment, rather than "No Environment" being the default on page load or refresh.

[2017-08-30 16:28] djbf commented on #3457
I just tested this on Mac/5.2.0 and it doesn't seem to be an issue there.

[2017-08-30 17:19] DerekHackett commented on #1137
+1

[2017-08-30 18:32] djbf opened #3464 "Documenter | Styles for request types in headers not applied consistently"
## App Details:

[code]

## Issue Report:
When viewing generated docs, the CSS styles from importer.css aren't consistently (mostly not, in my case) applied across requests type headings.
[code]

Some sample headings:
![happy-colors](https://user-images.githubusercontent.com/694161/29888621-6f814a32-8d76-11e7-9f87-d9c5b07294ed.png)
![image](https://user-images.githubusercontent.com/694161/29888693

[2017-08-30 18:35] vegetableman commented on #3457
@madebysid the issue was reproducible on version `5.0.2` on Mac. Does not seem to the case for the latest version `5.2.0` on Mac. Not sure of other platforms.

[2017-08-30 19:32] jmunozz opened #3465 "Postman Echo POST won't echo the HTTP headers of the request."
## App Details:
Chrome App
[code]

## Issue Report:
1. I just encounter this issue this issue recently as I'm start using the mock API along with postman echo.
2. * I'm using the postman-echo API. I'm working on the POST https://postman-echo.com/post endpoint.
    * The doc says `This endpoint echoes the HTTP headers, request parameters, the contents of the request body and the complete URI reques

[2017-08-30 20:15] kunagpal commented on #3465
Hey @jmunozz, the `Headers` tab is for headers belonging to the current response. Here, the response is the actual response returned from Postman Echo. In order to see the request details,  you'd have to click on the `Body` tab (which is to the left of `Headers`).

[2017-08-30 20:24] jmunozz commented on #3465
**I see... the headers are echoed in the body of the request. Thanks, it makes sense.**

Problem is I use this response for mocking an API endpoint.
And the browser won't allow any response with invalid `access-control-allow-origin` header (in this case header is sent but empty).
How could I force this header to be `*` in the Postman-echo response ?

[2017-08-30 20:28] kunagpal commented on #3465
There's no way to force this from a requester's perspective consistently across all Echo endpoints, but the returned value can be changed.

[2017-08-30 21:02] ronaldso55 commented on #3386
Please fix this issue.  Why am I being asked if I want to save my unsaved changes?  This is about to drive me to use an alternative software.  Combining with the fact that it takes over 15 seconds when I turn on the application, POSTMAN is not going to the right direction.  I love what you guys did in the past.

[2017-08-30 21:19] devedetti commented on #1723
+1

[2017-08-30 21:36] idevtech opened #3466 "Add a Save All menu/hotkey option"
## App Details:
[code]

## Issue Report:
Often I have multiple request tabs open and have edited them. Is there a Save All menu option or hotkey? I've searched the app and docs but have been unable to find information about this operation. It's cumbersome to go to each tab individually and click Save. Sometimes I have up to 20 tabs w/ changes.

[2017-08-30 23:18] stevemcmillen commented on #2195
There already is a method to close all tabs so I guess this only takes out the prompt on each one.    For me a better solution would be to allow a way to force close w/o a prompt by holding option key or something.  It would also be nice if this worked when opening new tabs (replace current tab instead of open new one).  Even better for my use cases is an option in prefs that says don’t ever promp

[2017-08-31 00:20] quintrino commented on #3316
@bhawna2109 reading through #2195 [#issuecomment-235804708](https://github.com/postmanlabs/postman-app-support/issues/2195#issuecomment-235804708) also mentions spacebar being the keyboard shortcut for Don't save when the save modal pops up, but that's been changed so that spacebar now goes to save instead.

[2017-08-31 01:45] tezizzm commented on #1014
While I love, appreciate and frequently use Postman I find the rational of this feature being rejected almost unfathomable.  By and large I would assume you have a somewhat technical user base that can handle a delete button with a "Are you sure? This action is not reversible" confirmation.  As previously mentioned you could even export a "just in case dumbo didn't really mean it" dump to temporar

[2017-08-31 03:08] reynard2007 commented on #3291
The Canary build fixed it for me already. Thanks!

[2017-08-31 04:37] SamvelRaja commented on #3386
@ronaldso55 this seems odd. Can you provide us a screen cast of whats happening.. would be very useful to debug much faster.

[2017-08-31 04:39] SamvelRaja commented on #3291
@ All,
We just released the 5.2.0 which includes the fix for this problem. Can you guys confirm the fix from your end by updating to the latest.

[2017-08-31 05:24] poisa opened #3467 "Feature request: Pre-populating Collection value when saving a request"
Let's say you are working on an endpoint and save it to a collection. It would be a great time saver if the next time you try to save an endpoint into a collection, the collection would be pre-selected.
When you have a few dozen collections, scrolling or even searching the collections slows down the process quite a bit.

[2017-08-31 05:45] SamvelRaja commented on #3467
Thanks for bringing this to our notice, we shall analyze and provide a better solution without breaking current use case.

[2017-08-31 06:14] josslamberti commented on #3291
I tested 5.2.0 all day yesterday and the issue is no longer reproducible.
Thanks!

[2017-08-31 06:21] calle commented on #2489
I'm also having trouble with automatic updates and have the following in my `~/Library/Caches/com.postmanlabs.mac.ShipIt/ShipIt_stderr.log`:
[code]

The reason seems to be that I try to update as a non-admin user (the `/Applications/Postman.app` is owned by the non-admin user) but the `/Applications` directory is owned by root. Similar to this issue https://github.com/Squirrel/Squirrel.Mac/pull/20

[2017-08-31 06:58] okonomiyaki3000 opened #3468 "Does not respect hosts file"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always (since become standalone app)
 2. Expected behaviour: Hosts in the hosts file should resolve to the proper ip address
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac ap

[2017-08-31 07:00] sdnts commented on #3468
Hi @okonomiyaki3000 thanks for reporting this! We're tracking this in #2369, so I'm closing this one :)

[2017-08-31 07:00] #3468 closed, assigned to nobody

[2017-08-31 07:06] sdnts commented on #2489
@calle Indeed, based on our investigation, if you put the app in a directory that has the wrong permissions, the app cannot update, since the update will try to write to a directory that the application resides in.
A solution to this would be to move the app to a directory that has the correct permissions (like the `/Applications` directory on Mac).

[2017-08-31 07:07] sdnts commented on #3291
Awesome, closing this!

[2017-08-31 07:07] #3291 closed, assigned to giridharvc7

[2017-08-31 07:14] sdnts commented on #1014
@tezizzm, we're working on multi select within the sidebar, and in my opinion, that would be a lot less riskier. When that gets to our stable channels, you should be just able to Shift+click and delete. :)

[2017-08-31 07:20] zabojad commented on #2701
We cannot test the APNS Provider API with Postman due to the lack of HTTP/2 support...

[2017-08-31 07:29] sdnts commented on #3466
Hi @idevtech! There isn't a button like this. but we've been looking into tab issues lately and I'll consider this a feature request :)

[2017-08-31 07:33] sdnts commented on #3437
@djbf When you publish your documentation, you can attach an environment to it in that step. When you do that, that environment becomes the default in the dropdown .

[2017-08-31 07:35] madebysid commented on #3463
Hi @weidamao, if I understand correctly, you're looking for an additional column in the data editor with types of the parameters, right? We've been working on this. I'll let you know here when we have more to share!

[2017-08-31 07:37] weidamao commented on #3463
Yes, that's exactly what I want。

[2017-08-31 07:37] sdnts commented on #3464
Hi @djbf! Is this happening for specific endpoints? Could you let me know steps you followed to do this? That'll help us get this fixed as soon as possible :)

[2017-08-31 07:51] PaulvdDool commented on #2195
Ideally, I would like to have a settings option to disable or enable the prompt.
A force close function wouldn't allow me to quickly close 3 out of 5 tabs. The biggest annoyance from that would be that I would lose the tab with the authorization token and I would have to get the token again. But I guess I could just pick a call from the history tab.

[2017-08-31 08:09] sdnts commented on #3283
Guys, can you update to 5.2 now and check if the issue persists?

[2017-08-31 08:10] sdnts commented on #3403
@TheCodeDestroyer Can you try updating to 5.2 and check if you still see this issue?

[2017-08-31 08:10] sdnts commented on #3085
@cypressious We fixed this in 5.2 :D

[2017-08-31 08:10] #3085 closed, assigned to sdnts

[2017-08-31 08:13] sdnts commented on #3266
Guys, can you try updating to 5.2 and let me know if this is fixed there?

[2017-08-31 08:22] peter-wangxu opened #3469 "PostMan doesn't recognize url include ( &"
## App Details:

[code]

## Issue Report:

I had  URL links like `http://10.32.253.69:8080/redfish/v1/StorageSystems/Members('4FDB0851-EE73-C655-0D13-A2A7F8A4F7AA')` in http response. I need to navigate to the url by clicking in the response while only `http://10.32.253.69:8080/redfish/v1/StorageSystems/Members(` was recognized as a valid URL.

except behavior:
url contains characters like `)` `(`

[2017-08-31 09:15] TheCodeDestroyer commented on #3403
@madebysid It works now, thank you!

[2017-08-31 09:15] #3403 closed, assigned to prashantagarwal

[2017-08-31 10:22] KeithT commented on #2490
Can you provide more details how you did this please?
I am trying to do a POST with both parameters in the json formatted body and a file upload. As far as I can see Postman (x64 Windows) only supports one of the other of these.
Under Body ->"form-data" supports a fileupload
but Body -> Raw (with the dropdown on JSON) no file upload can be select.
So it's one or the other

[2017-08-31 10:36] sdnts commented on #2490
@KeithT If you choose `form-data` as your body type, you can change the key type using the dropdown next to it. This is only on a per-row basis, so you can send files *and* text.

[2017-08-31 10:50] KeithT commented on #2490
@madebysid Thanks for responding. Yes I saw that, but it seems to only send Text, whereas I want to sent JSON. If I try this approach I get the same 415 Unsupported Media Type response, as if I sent TEXT instead of JSON using the "raw" option (without the file for testing in this case).

So I still don't think it's possible to send a file and JSON, or am I missing something still?

[2017-08-31 11:38] harryi3t commented on #3084
In the latest version of Postman 5.2.0, we have added additional settings to manage proxy settings
![image](https://user-images.githubusercontent.com/5207331/29882136-c65ccb12-8dc9-11e7-99de-516cdbe2529e.png)

System Proxy is the one set at the OS level
Global Proxy is what you can set for all the requests made by Postman app

Just turn off both the proxies and it should work.
Let me know if you s

[2017-08-31 11:46] harryi3t commented on #3013
duplicate of https://github.com/postmanlabs/postman-app-support/issues/3013

[2017-08-31 11:47] bhawna2109 commented on #2195
@PaulvdDool @stevemcmillen Postman also allows opening multiple windows. Thus, if you decide to have a workflow when you do not want to save, you can open a new window and work there. Having a settings option locks the user inside modes and this is something we want to particularly avoid because there can be several configurations. From a users perspective, modes also introduce a cognitive load on

[2017-08-31 11:58] bhawna2109 commented on #1014
Hi everyone, we totally understand the use case here. In addition to what @madebysid mentioned, we're working on an idea of 'Workspaces in Postman' which is on similar lines to what @kurtfm suggested. Thus, you can put together a bunch of Postman entities (collections, environments, globals) in a single workspace and define multiple workspaces like these. This will help reduce the clutter because

[2017-08-31 12:01] bhawna2109 commented on #3316
@quintrino that's right. This was done to prevent accidental loss of data.

[2017-08-31 12:04] bhawna2109 commented on #3386
@ronaldso55 Sorry to hear that. We are actively working on the improvements around this and it'll be fixed in the next version.

[2017-08-31 14:34] flaviolsousa opened #3470 "Include support for importing payload from a json options of node request library"
On NodeJs, the most common library to make a request http is 'request'.
'Import raw text' can support an import of its parameters.

### Code that the postman generates:
[code]

So, import raw text, cold import same thing like:
[code]

[2017-08-31 16:10] LordGG commented on #2253
The new setting didn't solve the issue to me. But no problem with the Chrome app.

[2017-08-31 16:16] mnannola commented on #1973
+1.  Would love to have an easy way to copy the headers out in plain text.  Better yet, an easy way to view the entire response, including headers,  in one section.

[2017-08-31 16:50] djejaquino commented on #3386
@bhawna2109 Postman simplicity used to be its awesomeness. Thanks for looking into this.

[2017-08-31 20:52] joshstella75 commented on #1507
+1
My use-case is similar to @ronaldsalas above.  We have recently moved from using a token based endpoint to using Identity Server 3 which is OAuth 2.0.  With the token endpoint, we were able to store the generated token in an environment variable.

Currently there are options to _Add token to_ both the Header and the URL.  A 3rd option to copy the _access_token_ and _token_type_ to environment v

[2017-08-31 22:30] quintrino commented on #3316
Ah okay thanks @bhawna2109, now that 5.2 is out, what's the fix that @madebysid is referring to?

I've had a look through the keyboard shortcuts of 5.2 but can't see anything about how to dismiss a save box via keyboard.

[2017-09-01 03:35] will-beta opened #3471 "Feature request: encodeURIComponent URL params automatically"
do
[code]
get
[code]

Thanks!

[2017-09-01 06:45] harryi3t commented on #2253
@LordGG can you explain the issue little bit more.
A screenshot of the request log in the console might help.
Also here's the link for the documentation related to the proxy
https://go.pstmn.io/proxy-doc

If you wish we can join on a slack chat to debug and solve the issue?
Here's the link to join the `Postman Community Channel` https://www.getpostman.com/slack-invite

[2017-09-01 07:33] harryi3t commented on #2225
In the latest version of Postman 5.2.0, we have added additional settings to manage proxy settings
![image](https://user-images.githubusercontent.com/5207331/29882136-c65ccb12-8dc9-11e7-99de-516cdbe2529e.png)

Now user can either use the `System Proxy` (defined at the OS level) or define a new proxy just for Postman to use.
Here's the link for the documentation about using proxy settings
https://g

[2017-09-01 08:31] jacek-s opened #3472 "HTTPS requests to custom port"
Postman seems to be unable (or at least I'm not aware of a way of doing so) to send HTTPS requests to custom ports.

For example, a GET request to URL: `https://example.com:9876/api/request` results in no outgoing network traffic to that particular address (checked with Wireshark). Postman immediately returns an error "Could not get any response".

Changing the URL to `example.com:9876/api/request

[2017-09-01 08:32] LordGG commented on #2253
@harryi3t , Yes sorry. I am meeting the same kind of issue as above. I am running on Windows 7 and a system proxy is declared. When I try to call a resource on localhost, it fails. "Use System Proxy" setting has no effect.

When I use the Chrome Application, it works perfectly.

Here is the log :
GET
http://localhost:54674/api/Values/ReadData2?Id=1&Name=test
10:22:51.407
Request Headers:
cache-con

[2017-09-01 09:18] harryi3t commented on #2253
@LordGG I can see that while making the request to localhost it's using the proxy.

Try turning off both system proxy and global proxy so that while making the request Postman would not use any proxy

If that works then you need to set exception for localhost in your proxy configuration
In windows 7 this can be done using checking the `Bypass proxy server for local addresses` check box
![windows-p

[2017-09-01 09:43] LordGG commented on #2253
Thanks @harryi3t  for your reply. Exception is already set for localhost. I have also tried to disable it but it doesn't work either.

I'm not on Slack, but don't worry, I have switched to the Chrome App and it does the job perfectly :)

[2017-09-01 09:58] harryi3t commented on #2253
@LordGG I am happy that Chrome app works for you.
I just want to mention that Google has [announced plans](https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html) to end support for Chrome apps for every platform. Soon the chrome app would become deprecated.
Already there are some features which are available exclusively on native apps and we [recommend to use the native apps](http://blog.

[2017-09-01 10:26] ManWithShotgun commented on #2636
If you use **Body** with selected **form-data** and in **Headers** tab see field with `Content-Type` then just delete this field (the header auto set in request). Current Content-Type must see if press Code (right side; on line with Authorization, Headers, Body, etc).

[2017-09-01 10:28] cacti77 commented on #3084
@harryi3t No, sorry - 5.2.0 doesn't work for me on Windows 7. Even with both proxies turned off I can't access services inside the corporate firewall. (Admittedly my HTTP_PROXY, HTTPS_PROXY and NO_PROXY environment variables are still set but Postman shouldn't be affected by them if I've turned both System and Global Proxy off in the settings, should it?) I've gone back to using my .bat file.

[2017-09-01 11:47] harryi3t commented on #2253
@LordGG I just noticed this in your error log
[code]
Maybe you have a mapping localhost to ipv6 (::1)
and your local server does not support ipv6

Can you try replacing localhost to 127.0.0.1 and then send the request
[code]

[2017-09-01 11:50] harryi3t commented on #3084
@cacti77 for windows app please follow the thread https://github.com/postmanlabs/postman-app-support/issues/2253

And as I mentioned in that thread, can you also try replacing localhost to 127.0.0.1
also please share the logs from Postman Console.

[2017-09-01 12:06] sdnts commented on #3471
@will-beta On native apps, this automatically happens in the background, when you send a request. Are you seeing any inconsistencies here?

[2017-09-01 12:13] LordGG commented on #2253
@harryi3t , I had already tried with 127.0.0.1 with no more success.

I have followed your reference to #3084 , and what worked for me was unsetting HTTP_PROXY and HTTPS_PROXY global vars. So now I have a .bat file with :
[code]
I had set those variables to have cUrl working with our proxy server. I can't tell why disabling both proxy options in Postman is not sufficient, but I can confirm that un

[2017-09-01 12:14] sdnts commented on #3472
@Jacek445 Thanks for reporting this, I was able to replicate this. We'll do some investigation and let you know what we find.

[2017-09-01 12:15] sdnts commented on #3470
@flaviolsousa Thanks for the request! We'll look into supporting this :)

[2017-09-01 12:18] sdnts commented on #3469
@peter-wangxu Thanks for the feature request! We will look into this.
If, however, your server returns a URL encoded version of the URL in the response, it should be picked up correctly.

[2017-09-01 12:19] sdnts commented on #1973
Guys, we're working on something that should ease out this use case. I'll let you guys know when we push it to our Canary and stable channels :)

[2017-09-01 12:24] sdnts commented on #2636
As @vegetableman said, this header is added when you switch from `x-www-form-urlencoded` back to `form-data`. We explicitly do not remove any headers since there's no way to tell is a header was added by you, the user or automatically. Deleting the header manually seems like the cleanest solution to me.

Please let me know if you guys disagree, and I'll reopen this :)

[2017-09-01 12:24] #2636 closed, assigned to nobody

[2017-09-01 12:26] sdnts commented on #3316
@quintrino There isn't a dedicated shortcut (yet), but you can use the `Tab` key to switch between the available buttons.
The fix I was referring to wasn't added in 5.2 because we want to solve this for good. We've decided to indeed add a dedicated shortcut for this. I'm adding this to our 5.3 roadmap. Thanks for your suggestions & patience :)

[2017-09-01 12:31] sdnts commented on #1507
I'm not sure if adding this to your environment automatically is a good idea.
We are looking at Authentication in our next release though, and we'll look into this :)

Maybe we need to streamline this process a little more. Thoughts @bhawna2109 @a85 ?

[2017-09-01 12:45] milancheck opened #3473 "[Feature request] Advanced debugging in console"
I'm sure I'm not the only one who craves for following features:
1. Log specifically just the output into console, that I defined in sandbox (not all requests in Runner)
2. Using colors in cosole
3. Colorize the particular requests as it is displayed in Collection sidebar
4. Ability to turn on and off these features...

EDIT:
5. I believe that console.**log**/**warn**/**info** should make some dif

[2017-09-01 12:47] sdnts commented on #3473
Hi @MilanD93! Thanks for the request! We are looking at making improvements in this regard. Do you have anything specific you'd like to be able to see?

[2017-09-01 12:50] milancheck commented on #3473
@madebysid I accidentaly created the issue before I was actually able to describe it as a whole. Please refer to my edited posting. Thanks

[2017-09-01 13:16] Graham42 commented on #2931
Someone has already created a script to create the need .deb  file https://gist.github.com/SanderTheDragon/1331397932abaa1d6fbbf63baed5f043

[2017-09-01 15:47] NicholasParian commented on #3205
@a85 This would be an awesome feature.  Do you have an update on this?

For us, each customer has their own configurable API setting.  And thus, our list of collections and environments have become unmanageable.   If possible we, would like to have each customer have their own workspace so we can better organize their specific documentation, requests, and environment variables.  Also, a nice to ha

[2017-09-01 17:22] dgofman opened #3474 "Properties for Collections"
Currently Postman supporting only Global and Environment Variables.
I will suggest to add supports TestCase Variable as well.
When I am adding a Folder and under folder creating collections I need specify properties shareable between all collections under the folder (TestSuite)
Another folder may contains the same names but with different values.
Please check SOAPUI/Ready!API. This tool supporting

[2017-09-01 19:32] bunchjesse opened #3475 "Any way to keep local collection JSON and what is in Postman in sync?"
Hi there,

I have a collection and I've exported it as JSON so that I could run it in CI with newman.

Now, if I make changes to the collection in Postman, what is the best way to keep the JSON in sync? Ideally, I'd like to avoid having issues where what is in our repo is different from what we have in Postman.

Just thinking outside the box a little, could newman just download a fresh JSON file a

[2017-09-01 20:17] kryptx commented on #2817
This is the issue preventing us from using postman more.

We need to be able to authenticate arbitrary users against an OAuth 2 provider. The first time an access token is requested, it prompts for a username and password. For _some_ providers, each subsequent time, the previous credentials are re-used in some form.

Whatever that form is, it's definitely stored in a cookie. You can see them being

[2017-09-01 20:22] ErnestoIslas commented on #1498
It is a `must have`!

[2017-09-01 20:36] amerryma commented on #3137
Yes I would like to see if we could do this as well. Assuming each team member has the file in the same spot it should work.

[2017-09-01 21:34] djbf commented on #3475
I'd suggest regarding Postman as an IDE and storing your exported JSON file under version control. Your CI process could then check out the latest version of your JSON file prior to calling the Newman task. Newman can also run a collection that's accessible via URL, if that helps at all.

[2017-09-01 21:37] bunchjesse commented on #3475
Thanks, @djbf.

This is exactly what I'm doing. The problem is that I have to *remember* to re-export the collection every time I make a change to it. What is stored in Postman does not stay in sync with the JSON file.

This would be a great option if not for the detail that the link is not automatically updated with changes you make in Postman. You'd have to generate a new link each time (from my

[2017-09-01 22:13] bunchjesse opened #3476 "Add the ability to exclude specific requests from documentation"
I use Postman to test a bunch of degenerate cases in my API (validation, etc) and it would be great if I could exclude those requests in my documentation.

Either excluding specific requests or an opt-in for requests I want to publish would be awesome!

[2017-09-01 22:20] djbf commented on #3464
I copied one of the unstyled calls to a new collection, sanitized it, and am attaching the exported json here in case it yields anything helpful.

One thing worth noting, though, is that the Postman Echo and Postman BDD collections I've imported do not seem affected by this issue when viewing their documentation. I haven't had much luck reproducing this with newly created calls and was way too dee

[2017-09-01 23:27] chiragverma opened #3477 "Do not see POSTMAN enable interceptor button"
1) I have installed chrome postman interceptor extension(https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en)

2) Now when I open POSTMAN, i do not see the interceptor icon on the postman app.

[2017-09-02 00:47] whitneyland opened #3478 "Adding a CORS or CO warning would save lots of developer time"
Displaying a small warning when PostMan sees no CORS header in the response would be simple to implement, yet save lots of people time.

It turns out lots of people (based on StackOverflow questions specifically mentioning PostMan) get browser calls working perfectly in the PostMan app, and then spend hours figuring out why it doesn't work in the browser.  Unfortunately, a significant percentage o

[2017-09-02 01:23] elijah-hawk opened #3479 "Environment template UI/UX problem and suggestion"
Postman for Mac
Version 5.2.0
OSX 10.12.3 / x64

## Issue Report:
UI/UX issue with Adding shared Environment templates

## Expected behaviour:
* Click Add
* Receive Checkmark UI
* Checkmark UI sustains to notify the user that the template has been added immediately and upon revisiting the template section

## Actual behaviour:
* Click Add
* Receive Checkmark UI
* Add button re-appears

## Suggesti

[2017-09-02 18:22] manuelpiesold commented on #675
+1

[2017-09-03 13:23] kamilgregorczyk commented on #2635
If it contains file and some other values then it should be multipart/form-data

[2017-09-03 13:25] kamilgregorczyk commented on #2635
I'm also facing the same issue, here's my request body https://www.dropbox.com/s/tnhk2n0ox57amg2/Zrzut%20ekranu%202017-09-03%2015.24.31.png?dl=0 and I have no headers set.

[2017-09-04 02:53] will-beta commented on #3471
@madebysid
Thanks for the reply!
But it didn't happen to me. Here's the screenshots:
![qq 20170904102401](https://user-images.githubusercontent.com/14272334/30009583-0a09daae-915c-11e7-9663-45887f7017c1.png)

I gave two params in this case.
The param 'wrongDateTimeOffset' took the original value, whereas the '+' symbol in it got lost when been appended to the URL.
The param 'correctDateTimeOffset'

[2017-09-04 03:11] ghost opened #3480 "How to make postman waiting for pre-request script to be finished before making request?"
## App Details:
[code]

## Issue Report:
I'm making want to make request with Environment Variable in url. In pre-request script I'm calculating and setting value for my Environment Variable. Here is the code:
[code]
Then I make request like "my_url/{{result_hash}}".

The **problem is** that the request is executed **before** then Environment Variable was set: *"my_url/"*
So as a result - it fails

[2017-09-04 08:49] sdnts commented on #3477
@Chiragverma Are you on the native app? The native apps do not need the Interceptor, so the button isn't there. You'll need the Chrome app to work with the Interceptor.

I'd advise against that though, since Chrome apps will be deprecated by Google later this year. Native apps have the ability to handle cookies on their own, and should be able to replace Interceptor + Chrome app for most use cases

[2017-09-04 08:49] #3477 closed, assigned to nobody

[2017-09-04 10:20] harryi3t commented on #3391
In Postman 5.2.0 this is fixed.
Please re-open if still facing the issue

[2017-09-04 11:30] swateek opened #3481 "setNextRequest isn't working inside a for loop."
I fetch a certain set of data from the collection, and store the unique ids in a global variable.

I need to loop over the ids and execute another request. That is not working.

Request 1 - Test Script contains

[code]

Request 2 - Remove From DB is a simple delete request.

Is there anything I am missing?

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this

[2017-09-04 11:38] sdnts commented on #2635
@kamilgregorczyk If this works on the native apps, can you try those out? I'd recommend shifting anyway, since Google plans to deprecate all Chrome apps later this year.

[2017-09-04 11:40] sdnts commented on #3478
@whitneyland Thanks for the feature request! We will definitely look into this.

[2017-09-04 11:41] swateek commented on #3481
Ah, I should have done the loop logic in the second request too. Sorry.

[2017-09-04 11:41] #3481 closed, assigned to nobody

[2017-09-04 11:52] sdnts commented on #3481
@swateek Hey! Looking at your code, it looks like you're trying to call the `Remove from DB` call for every item individually, right? `setNextRequest` will only make sure the request you set runs after the current one has finished. This does not behave like functions in programming languages, as in, the control will not return to the for loop

There are two ways to do this correctly:
1a. GET all y

[2017-09-04 11:52] sdnts commented on #3476
@bunchjesse Thanks for the feature request! We will look into this.

[2017-09-04 11:57] sdnts commented on #3475
@bunchjesse @djbf You can also use Sync. This was precisely why we built it :)

Newman can also [run collections from a URL](https://github.com/postmanlabs/newman#getting-started), so what you can do, is use the Postman Pro API to get the collection link (this will be done only once), and supply that to Newman. Now, anytime you change your collection in the app, Sync will update the collection. Wh

[2017-09-04 11:57] #3475 closed, assigned to nobody

[2017-09-04 11:59] sdnts commented on #3205
@NicholasParian We've been planning this!
You can follow our (product roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) for consistent updates :)

[2017-09-04 12:15] sdnts commented on #3479
Hi @elijah-hawk, If I understand correctly, you're referring to this UI, correct?
![screenshot 2017-09-04 17 40 05](https://user-images.githubusercontent.com/7689783/30025866-1a0ad00c-9198-11e7-85b2-9999c0398908.png)

This additional step is for you to make sure that no sensitive values are shared with your team. Environments often contain credentials that you would not want to share.

However, I

[2017-09-04 12:23] sdnts commented on #3480
Hi @sergeidyga This will be a problem with the Chrome apps. I'd suggest moving to our [native apps](https://getpostman.com/apps), which has better support for async actions like yours.

Additionally, the prerequest / test script sandbox includes CryptoJS, so you can use that as well. Please let me know if these do not solve your issue, and I'll reopen.

[2017-09-04 12:26] sdnts commented on #3474
This is actually already under planning: #1285
I'm closing this in favour of #1285, we'll let you know when we make progress!
You can also follow our [product roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers)

[2017-09-04 12:26] #3474 closed, assigned to nobody

[2017-09-04 12:28] sdnts commented on #1285
Indeed, you can follow our [product roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) to stay up to date. This feature is planned in the near term.

[2017-09-04 13:53] johnhamelink opened #3482 "Exporting to cURL does not handle quotation marks correctly"
## App Details:
[code]

## Issue Report:

This is the first time I've encountered this error

When you export to cURL, the headers should exactly match what what Postman has been running.

[code]

 4. Screenshots (if applicable)

<img width="731" alt="screen shot 2017-09-04 at 14 31 00" src="https://user-images.githubusercontent.com/101739/30029259-73bdf42a-9180-11e7-8cda-23814366a931.png">

When

[2017-09-04 14:38] felipecalvo commented on #3327
@madebysid I'm having the same problem on two different computers. The Google login screen flashes for a fraction of a second (took me a while to get that screenshot right), then it closes and I'm back to the Postman app login screen. It doesn't redirect anywhere.

![1](https://user-images.githubusercontent.com/11304439/30030778-37056268-9165-11e7-8fce-b31a239553c3.png)
![2](https://user-images.gi

[2017-09-04 15:43] edouardpagnier opened #3483 "Collection Runner window doesn't show up"
## App Details:
[code]

## Issue Report:
 1. I have this problem for a month.
 2. Expected behaviour: The Collection Runner window should show up when click on Run
 3. Actual behaviour: The Collection Runner window doesn't show up even if it appear in taskbar
![2017-09-04 17_36_56-postman](https://user-images.githubusercontent.com/1946370/30032932-9be85b3a-9198-11e7-87b9-74ec6898912c.png)
![2017-0

[2017-09-04 15:45] swateek commented on #3481
Thanks for this @madebysid I am stuck in yet another problem.

**Pre-Request Script**

[code]

**Test**

pm.setNextRequest("Remove from DB");

Well, the splice() which should remove only the first element here isn't working correct. It's removing the next element instead. This is quite strange, but I don't know how else to debug apart from console.

[2017-09-04 22:34] poisa opened #3484 "Duplicating a folder does not copy the request Body"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently.

 2. Expected behaviour:
When clicking the three horizontal dots icon next to a folder and choosing "Duplicate", the newly duplicated requests have an empty body. I expect them to contain the same body as the original requests.

[2017-09-05 01:45] abhidp opened #3485 "Archive Folders/Requests in Collections"
## App Details:

[code]

## Issue Report:
 Please add an option to Archive Folders or Requests from the Collections tab. Some folders which I don't use frequently need not be sitting in the working panel.
As of now I can only delete them which makes them vanish forever and not hide/archive them.
If there is an option where I can archive the unused Folders/Request and pull them back to view when I

[2017-09-05 02:47] kottakj opened #3486 "Postman is not working when multipart data request sends to asp.net webapi as POST in windows 10"
I have a webpi and to test that I am using Postman.
steps:
1. Sending a multipart request as Body as form and first key value as
1.Key name metadata and chose Text here in postman

2. Key name iamgefile and chose file here in postman
![postmanissue](https://user-images.githubusercontent.com/16825788/30042966-a63001cc-91a9-11e7-85f9-ab9d3b441529.png)

so multipart request contains formdata as Text

[2017-09-05 06:01] DoubleNaughty opened #3487 "post-rqeust ：encrypt the parameters in the json format"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-09-05 07:17] jbauerrfid opened #3488 "Feature Request - I want to move tests in the list by using arrow keys"
## App Details:
[code]

## Issue Report:
Problem: it is difficult to move test items around with the mouse because they likely drop into the wrong location.

To solve this it would be much better to be able to move items by using the keyboard:
 - shift + cursor up: move selected item 1 position up
 - shift + cursor down: move selected item 1 position down
 - shift + page up: move selected item int

[2017-09-05 07:46] dhiren-mudgil-olx commented on #3274
Plus 1 vote

[2017-09-05 09:00] sdnts commented on #3483
@edouardpagnier Have you tried out the temporary solution I mentioned [here](https://github.com/postmanlabs/postman-app-support/issues/2833#issuecomment-324857159)? I'm closing this in favour of #2833, please let me know if that does not work for you, I'll reopen this.

[2017-09-05 09:00] #3483 closed, assigned to nobody

[2017-09-05 09:14] Pawana93 opened #3489 "Feature request - Automated "Send and Download" Function"
In the last few weeks I had to make an endurance test for a photo application and there I run an issue. I wrote the tests to be automated, but to watch the taken photos (to see if the anonymisation worked) I always had to press "Send and Download" manually.

So: If I have to run ... let's say 100 tests, it is very time consuming to make every photo by clicking the requests manualy. So I wanted to

[2017-09-05 11:24] sdnts commented on #3489
@Pawana93 Thanks for the request! We'll look into this :)

[2017-09-05 11:26] sdnts commented on #3488
@jbauerrfid You should be able to move lines up / down using `Alt+Up/Down`.
Please let me know if you're facing issues, and I'll reopen this :)

[2017-09-05 11:27] sdnts commented on #3485
@abhimassive This is an interesting idea! We'll investigate.

[2017-09-05 11:28] sdnts commented on #3487
@DoubleNaughty I don't think I understand, can you provide some more context?
What request are you trying to make?

[2017-09-05 11:30] sdnts commented on #3484
@poisa We've seen this happen with raw bodies. These are present, but do not show up. Restarting the app should fix this. Regardless, this is a bug that we'll fix in an upcoming version. Thanks for reporting!

[2017-09-05 11:53] jbauerrfid commented on #3488
It is not possible to move test collection items in this way. Holding down Alt activates the menu bar.

[2017-09-05 13:39] prinzdezibel commented on #1104
+1

[2017-09-05 15:35] elijah-hawk commented on #3479
Actually, this:

![sharedenvtemplates](https://user-images.githubusercontent.com/20306765/30069241-119c07ce-9215-11e7-9118-4d4da50beeb2.png)

If you click on "Add" you'll see what I mean based off my suggestions when I opened this up.

[2017-09-05 16:03] cyeagerkarmak commented on #3484
If it is any help, it seems like the missing Body is only an issue when duplicating a folder. If I duplicate an individual test, or if I duplicate an entire collection, the Body is not lost.

[2017-09-05 16:16] josslamberti commented on #3291
This issue is not completely gone, I'm afraid. I've reproduced it twice in 2 days.
Small difference, the dragged request gets sent to another folder (so far an adjacent one) of the same collection rather than being sent to the root of the collection (I only use folders, not subfolders, so far).
It seems the issue is related with an ongoing syncing issue because I get a number of sync issues to fix

[2017-09-05 16:21] cyeagerkarmak commented on #3484
Moving a folder also causes the Body of tests within the folder to be lost.

[2017-09-05 19:49] gregarrayent opened #3490 "When closing tabs I am being offered to save or not to dave but I don't know which tab it is offering me to save"
## App Details:

[code]

## Issue Report:
 1. Issue has always been there
 2. Expected behavior:
If the UI could show me at least the name of the tab (API) that I am closing and being offered to help it would be great
An option to "skip" i.e. not close the tab and not save it either (for further inspection) could be also very useful
An option to close all tabs that are saved/not modified should al

[2017-09-05 20:05] gregarrayent opened #3491 "Enhancement request: As a postman end user I want to copy a request from collection to collection in an easy, intuitive manner"
## App Details:

[code]

## Issue Report:
 1. Problem has always been there
 2. I can select a request in Collection A and "copy" it and then go to Collection B and "paste it" into collection B
 3. Currently I can only "duplicate" a request which creates the request with an appended "copy" name inside the same Collection. I then need to drag and drop it to Collection B (very inconvenient when work

[2017-09-05 23:08] kdcarlisle42 opened #3492 "Mac Postman App v5.2.0 Using loopback adapter instead of proper IP address."
This issue may be related to an older closed out issue #2314

## App Details:
Postman for Mac
Version 5.2.0
OS X 10.12.6  / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:  Recently.  This was working before, but I am not sure which version it last worked in.
 2. Expected behaviour: Execute api and return a response.
 3. Console logs (http://blog.getpo

[2017-09-06 00:13] abhidp opened #3493 "Make Manage Environments window movable & resizable"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been there
 2. Expected behaviour: Users should be able to drag and move the MANAGE ENVIRONMENTS window to any part of the screen. As of now the Manage Environments panel sits right at the centre of the screen and cannot be moved to any other position. This hides essential infor

[2017-09-06 06:01] fitzy101 commented on #1906
+1

[2017-09-06 06:11] numaanashraf commented on #3045
@Pr1Smiley Hi, we are closing this due to inactivity. Do let us know if you are still facing this issue.

[2017-09-06 06:11] #3045 closed, assigned to numaanashraf

[2017-09-06 06:16] prashantagarwal commented on #2544
@nikolayandr @GDuparquet If you are still facing this issue feel free to reopen this issue.

[2017-09-06 06:16] #2544 closed, assigned to nobody

[2017-09-06 06:21] prashantagarwal commented on #2806
@pmneve we are already tracking this in #2352 . Closing this as duplicate.

[2017-09-06 06:21] #2806 closed, assigned to nobody

[2017-09-06 06:27] #2871 closed, assigned to nobody

[2017-09-06 06:31] Comradin commented on #3290
Just tried with the latest 5.2 release and the error still exists

[2017-09-06 06:33] #2924 closed, assigned to nobody

[2017-09-06 06:36] prashantagarwal commented on #3285
@jhamele I am closing this issue due to inactivity. Please update your app to the latest version and let us know this bug still persists.

[2017-09-06 06:36] #3285 closed, assigned to kamalaknn

[2017-09-06 06:42] prashantagarwal commented on #3283
@kristerbone if you are still seeing this issue feel free to reopen this issue.

[2017-09-06 06:46] prashantagarwal commented on #2661
@akinom77 I am closing this issue due to inactivity. Please update to the latest version and let us know if it still exists.

[2017-09-06 06:46] #2661 closed, assigned to nobody

[2017-09-06 06:47] SamvelRaja commented on #2836
Hi @MooMan272, the predefined variable `data` is defined and gets values from the data file that you supply when you run your collection via the Runner. Do note that it is defined only in the Runner. You can read up on documentation [here](https://www.getpostman.com/docs/postman/collection_runs/working_with_data_files). Closing this. Please feel free to reopen if i misunderstood :)

[2017-09-06 06:47] #2836 closed, assigned to nobody

[2017-09-06 06:49] #2844 closed, assigned to nobody

[2017-09-06 06:52] Comradin commented on #3290
Just a note, our colleagues with Windows 10 machines have the same issue. Sadly it is not Windows 7 only :slightly_smiling_face:

[2017-09-06 06:57] #3446 closed, assigned to nobody

[2017-09-06 07:05] prashantagarwal commented on #2789
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2017-09-06 07:05] #2789 closed, assigned to nobody

[2017-09-06 07:11] prashantagarwal commented on #2684
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2017-09-06 07:11] #2684 closed, assigned to nobody

[2017-09-06 07:32] prashantagarwal commented on #2787
@danaugrs Can you update to the latest postman app and verify if this issue is still there.

[2017-09-06 07:43] othmaan commented on #1825
"{{putBody}}" is adding extra "" then request becomes ""{"cusumerNumber": "123"}""

[2017-09-06 07:45] numaanashraf commented on #3407
@bhalothia123 Would it be possible to send us a screenshot or a screen capture showing the issue. We are not able to replicate this.

[2017-09-06 07:49] cjsr commented on #1665
It would be nice to have an option on the request to (not) send certain cookies, or no cookies at all. I'm testing authentication now, and it keeps failing because a cookie is being sent along that stops the responding party to reply because it show at the earliest level that you are already logged in.

[2017-09-06 07:53] JamesMessinger commented on #3032
@wierzba3 - See [this blog post](http://blog.getpostman.com/2017/07/28/api-testing-tips-from-a-postman-professional/), specifically, Tip #5, which shows how to reuse code across multiple requests

[2017-09-06 07:58] bhawna2109 commented on #2863
@stanac You can give your requests a name. This will help in identifying requests in the sidebar even if they have a similar URL.

[2017-09-06 08:01] gauravcanon commented on #3146
@madebysid Interceptor Capture is on from Application. But using this I found new problem  `chrome://settings/content/cookies?search=cookie` there are two cookies are getting created.
**domain.com** & **www.domain.com**. _Postman is cookies_ and _domain.com_ cookies are same but _www.domain.com_ cookies don't match.

[2017-09-06 08:06] cebor commented on #1906
Funny that there are still people on github who post the "+1".

[2017-09-06 08:06] harryi3t commented on #2679
You can use either of the following solutions
### 1. Using collection runner
Set a delay while running a collection from the `Collection Runner`
![image](https://user-images.githubusercontent.com/5207331/30100932-259dffea-9308-11e7-88c7-423fff2e765d.png)

### 2. Using async flow from test scripts
Use setTimeout from pre-request script
![image](https://user-images.githubusercontent.com/5207331/3010

[2017-09-06 08:21] sdnts commented on #3488
@jbauerrfid Do you mean moving requests around? In that case, yes, there is no shortcut to do that right now.

[2017-09-06 08:41] #3100 closed, assigned to numaanashraf

[2017-09-06 08:47] #2830 closed, assigned to nobody

[2017-09-06 08:47] sdnts commented on #2830
Closing due to inactivity, please reopen if the issue persists :)

[2017-09-06 08:49] vkaegis commented on #1123
Hey @sungjun001, we've changed the input field for selecting a collection in our recent versions, could you check if this solves your problem?

[2017-09-06 08:53] sdnts commented on #2577
Closing in favour of #2604

[2017-09-06 08:53] #2577 closed, assigned to nobody

[2017-09-06 08:53] ghost commented on #1906
@cebor +1

[2017-09-06 08:56] sdnts commented on #3148
@MarcosPer Have you taken a look at [this article](http://blog.getpostman.com/2016/06/26/using-postman-proxy-to-capture-and-inspect-api-calls-from-ios-or-android-devices/)?

[2017-09-06 09:00] sdnts commented on #2987
@HollyMadCow Do you mean ShadowSOCKS proxy? We currently do not support SOCKS proxies, but we will look into this.

[2017-09-06 09:01] sdnts commented on #2930
@d3020 Have you set up the same proxy on HTTPS as well?

[2017-09-06 09:12] #2446 closed, assigned to sdnts

[2017-09-06 09:17] sdnts commented on #2488
@aminsepahan I don't think I understand is the issue that the additional `/` is being treated as teh URL?

[2017-09-06 09:20] sdnts commented on #2437
Looks related to #2979, closing as duplicate. Please let me know if you disagree, I will reopen!

[2017-09-06 09:20] #2437 closed, assigned to nobody

[2017-09-06 09:24] prashantagarwal commented on #2618
@sixcorners Can you update to the latest postman version and verify if you are still seeing this issue, you still face this kindly reopen this issue.

[2017-09-06 09:30] sdnts commented on #2915
@IllyaMoskvin This should be fixed in the latest version (5.2.0). Can you update and verify?
Let me know if this still exists, and I'll reopen

[2017-09-06 09:30] #2915 closed, assigned to prashantagarwal

[2017-09-06 09:33] sdnts commented on #2996
@paarsa This should be fixed in the latest version (5.2) when you use the PM API. Here's a [gist](https://gist.github.com/madebysid/b57985b0649d3407a7aa9de1bd327990) explaining how to use this, we will update docs soon. Please reopen if this is still happening to you.

[2017-09-06 09:33] #2996 closed, assigned to nobody

[2017-09-06 09:36] sdnts commented on #1196
Closing as the PM API should solve this. Please reopen if you feel otherwise :)

[2017-09-06 09:36] SamvelRaja commented on #2726
Are you still facing this issue? Can you confirm the same in our 5.2.0 version of the app.
Closing this, please feel free to reopen if still happens.

[2017-09-06 09:36] #2726 closed, assigned to nobody

[2017-09-06 09:38] sdnts commented on #2981
Guys, are you still seeing this? I was unable to reproduce this on the latest version (5.2.0). Please reopen if you're still seeing this.

[2017-09-06 09:40] sdnts commented on #2969
Guys, this should be fixed with 5.2. Please reopen if you still see this.

[2017-09-06 09:40] #2969 closed, assigned to nobody

[2017-09-06 09:41] #2981 closed, assigned to nobody

[2017-09-06 09:47] sdnts commented on #3491
Hi @gregarrayent, you should be able to copy & paste a request using the keyboard shortcuts `Cmd+C` & `Cmd+V`. Please reopen if I misunderstood :)

[2017-09-06 09:47] #3491 closed, assigned to nobody

[2017-09-06 09:49] SamvelRaja commented on #2177
All,
The multi-instance of app is not possible from our end. we would recommend to use the new-window button to start a new app window for this use case.

Closing this now as it won't be fixed.

[2017-09-06 09:49] #2177 closed, assigned to sdnts

[2017-09-06 09:49] SamvelRaja commented on #2828
Duplicate of #/2177

[2017-09-06 09:49] #2828 closed, assigned to SamvelRaja

[2017-09-06 09:50] SamvelRaja commented on #2953
duplicate of #/2177

[2017-09-06 09:50] #2953 closed, assigned to nobody

[2017-09-06 09:53] kamalaknn commented on #3101
duplicate of https://github.com/postmanlabs/postman-app-support/issues/2302

[2017-09-06 09:53] #3101 closed, assigned to numaanashraf

[2017-09-06 09:54] prashantagarwal commented on #1433
@wirsingj @drpoggi @abtiddle We now support this using new pm api to set environment variables.
https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-09-06 09:54] #1433 closed, assigned to nobody

[2017-09-06 10:00] prashantagarwal commented on #888
@sco11morgan This is possible now. Go to imports and paste a link to your environment JSON.

[2017-09-06 10:00] #888 closed

[2017-09-06 10:03] kamalaknn commented on #2817
duplicate of https://github.com/postmanlabs/postman-app-support/issues/2049

[2017-09-06 10:03] #2817 closed, assigned to kamalaknn

[2017-09-06 10:05] prashantagarwal commented on #2831
@tagyoureit Can you update your app to 5.2.0 and verify if you are still facing this issue.

[2017-09-06 10:30] #861 closed

[2017-09-06 11:48] #2635 closed, assigned to nobody

[2017-09-06 11:51] SamvelRaja commented on #3086
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 11:51] #3086 closed, assigned to numaanashraf

[2017-09-06 11:56] #2618 closed, assigned to nobody

[2017-09-06 11:58] SamvelRaja commented on #2488
Closing this for now, kindly feel free to open this when ever needed.

[2017-09-06 11:58] #2488 closed, assigned to nobody

[2017-09-06 12:01] SamvelRaja commented on #1310
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:01] #1310 closed, assigned to nobody

[2017-09-06 12:02] SamvelRaja commented on #3110
Can you try updating to our latest 5.2.0 version of the app which has lots of improvements around our sync layer? closing this, for now, feel free to reopen this if you still face this issue.

[2017-09-06 12:02] #3110 closed, assigned to sdnts

[2017-09-06 12:05] SamvelRaja commented on #2946
@wendyleecook  and @vinodbudala can you provide us few more details on this issue to help[at]getpostman.com?
Closing this here, as it needs more information needs to be shared privately.

[2017-09-06 12:05] #2946 closed, assigned to nobody

[2017-09-06 12:05] SamvelRaja commented on #2642
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:05] #2642 closed, assigned to nobody

[2017-09-06 12:06] edouardpagnier commented on #3483
@madebysid, yes that worked, thanks a lot !
Sorry for the duplicate issue...

[2017-09-06 12:06] SamvelRaja commented on #3231
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:06] #3231 closed, assigned to sdnts

[2017-09-06 12:09] SamvelRaja commented on #2858
@ipshing You still facing this issue? we are unable to reproduce this from our end.
And
@vl4dt we have the option to delete the cookies for a whole domain as well, which will be visible on the right side when you hover over the domain name.

<img width="819" alt="screen shot 2017-09-06 at 5 37 40 pm" src="https://user-images.githubusercontent.com/5114052/30111180-5b2f73f6-932a-11e7-9f37-5e374c66c8

[2017-09-06 12:09] #2858 closed, assigned to nobody

[2017-09-06 12:10] #3077 closed, assigned to SamvelRaja

[2017-09-06 12:11] SamvelRaja commented on #1981
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:11] #1981 closed, assigned to nobody

[2017-09-06 12:12] SamvelRaja commented on #2245
This has been released in our latest 5.2 version of the kindly update it to get it  😄

[2017-09-06 12:12] #2245 closed, assigned to nobody

[2017-09-06 12:14] SamvelRaja commented on #3083
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:14] #3083 closed, assigned to sdnts

[2017-09-06 12:15] #2829 closed, assigned to nobody

[2017-09-06 12:17] SamvelRaja commented on #3068
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:17] #3068 closed, assigned to kamalaknn

[2017-09-06 12:19] #2679 closed, assigned to shamasis

[2017-09-06 12:20] SamvelRaja commented on #3326
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:20] #3326 closed, assigned to sdnts

[2017-09-06 12:20] SamvelRaja commented on #1573
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:20] #1573 closed, assigned to nobody

[2017-09-06 12:26] #2541 closed, assigned to nobody

[2017-09-06 12:26] #2412 closed, assigned to nobody

[2017-09-06 12:30] SamvelRaja commented on #1599
We do have the postman pro feature for team collaboration. Kindly go through it [here](https://www.getpostman.com/docs/postman/team_library/sharing)

[2017-09-06 12:30] #1599 closed, assigned to nobody

[2017-09-06 12:30] SamvelRaja commented on #2803
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:30] #2803 closed, assigned to nobody

[2017-09-06 12:31] SamvelRaja commented on #2750
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:31] SamvelRaja commented on #2693
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:31] #2693 closed, assigned to nobody

[2017-09-06 12:32] SamvelRaja commented on #2804
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:32] #2804 closed, assigned to nobody

[2017-09-06 12:32] SamvelRaja commented on #2809
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:32] #2809 closed, assigned to nobody

[2017-09-06 12:33] SamvelRaja commented on #2601
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:33] #2601 closed, assigned to nobody

[2017-09-06 12:34] #3266 closed, assigned to sdnts

[2017-09-06 12:35] arnaldop opened #3495 "Support multiple randomInt per request"
Currently, multiple {{$randomInt}} variables result in the same integer being used multiple times.

Please add support for multiple random integers to be added to the same request.

Also helpful, add support for random integers to be referenced later, such as {{$randomInt:0}} would refer to the 1st random integer used in this request. This can be useful for places where the data needs to be random

[2017-09-06 12:37] SamvelRaja commented on #3202
Can you check the behaviour in our latest 5.2 version of the app and confirm that the issue still persist?
closing this now, feel free to reopen it if you face it again.

[2017-09-06 12:39] SamvelRaja commented on #2896
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:39] #2896 closed, assigned to nobody