[2022-06-02 19:40] #10966 closed, assigned to nobody

[2022-06-02 19:44] jviotti commented on #10941
Closing this ticket, as it is impossible for the Postman app to be causing this. As the error message says:

No user land application like the Postman app has ever direct access to a kernel data structure. The only type of programs that do, in the context of Windows, is a driver as @thundron suggested.

[2022-06-02 19:44] #10941 closed, assigned to nobody

[2022-06-03 05:56] erkinsergey commented on #10030
Also in Mint 20.1

[2022-06-03 06:44] akshay-kulkarni-03 commented on #10932
@AnonymousOctopus235 thanks for reporting! We are triaging this issue from our side and will keep this thread updated on the progress.

[2022-06-03 07:01] rajesh-k-g commented on #10898
@timbochamp any update on this ?

[2022-06-03 08:03] saskiastekelenburg commented on #10684
I have this same issue. Is it looked into already?

[2022-06-03 08:47] Vitsen15 commented on #5483
Still need this feature in Version 9.20.3.

[2022-06-03 09:48] dfosco commented on #9588
@DannyDainton I assume the original poster meant the typography across the Postman app UI in general.

Increasing the editor font size is useful, but the rest of the UI text remains in a tiny font size that makes it _really_ hard to read. Here's how it renders on my monitor:

<img width="2672" alt="Screenshot 2022-06-03 at 11 45 24" src="https://user-images.githubusercontent.com/3229933/171831083-

[2022-06-03 10:18] mpowrie opened #10974 "Convert a team space to personal workspace"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I converted a personal to a team workspace so  I could share it with a colleague.
That collaboration is over, and I've since been invited to another team.

When I try to join the new team

[2022-06-03 10:46] fennaneyahia commented on #9021
+1 for Firefox. it would be amazing.

[2022-06-03 11:30] Adriano-luis commented on #1687
@w5m Thanks man. Removing a trailing slash from my Postman test URL resolved it for me too.

[2022-06-03 11:58] akshay-kulkarni-03 commented on #10974
@mpowrie we already have an existing issue open for this: [https://github.com/postmanlabs/postman-app-support/issues/9806](https://github.com/postmanlabs/postman-app-support/issues/9806). I am closing this in favor of that and would request you to watch that issue for more updates.

[2022-06-03 11:58] #10974 closed, assigned to nobody

[2022-06-03 12:23] serendipiri commented on #10947
how can I be informed when a new update contains chrome with a higher version? Is there a place I can follow?

[2022-06-03 12:38] ratpik opened #10975 "Import Websocket messages from HAR?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I need to debug the API calls (messages) happening over the WebSocket connection. Especially for socket.io.

Chrome supports the export of Websocket messages in the HAR format since 2019

[2022-06-03 15:40] zhouwencn commented on #1066
+1 need it

[2022-06-03 17:41] yowhatsshakin opened #10976 "Selecting Portman folder when importing no longer shows files"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When trying to import collections and/or environments, selecting the postman related folder where we keep these things no longer list the available files

### Steps To Reproduce

On Windows :
1- Open Postman version 9.19 or 9.20

[2022-06-04 04:35] numaanashraf commented on #10947
@serendipiri We'll update this issue when we upgrade the Chrome version inside the Postman Desktop App.

[2022-06-05 16:19] kamkow10 commented on #8195
+1

[2022-06-05 16:19] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2022-06-06 04:47] SusenaP commented on #8929
Is it developed? When it will be available?

[2022-06-06 04:59] akshaydeo commented on #8827
@theletterf, we are working on this feature, and we will release it by the end of July 2022 in a staged manner 🙇

[2022-06-06 05:02] akshaydeo commented on #10715
@krearthur, would the above hack suffice for now? We are working on something much better to solve this use case in the future :). I will keep this thread updated 🙇

[2022-06-06 06:22] ArcherN9 commented on #7816
This has been pending since ages - Will we see this included in the upcoming sprints?

[2022-06-06 07:09] abhijitkane commented on #9021
@fennaneyahia @minlaxz @twinsant Thanks for reaching out - if you haven't already, the proxy (https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#step-1-enable-the-proxy) supports all of the use-cases that the Interceptor supported :). Addons like https://addons.mozilla.org/en-US/firefox/addon/switchyomega/ let you configure the proxy only for selecte

[2022-06-06 07:39] AlvinLaiPro commented on #4968
+1

[2022-06-06 09:33] thisyselle opened #10977 "Postman UI doesn't open correctly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After the weekend, I boot my unit and opened Postman but it seems it does not render? This is the first time I encountered this. I already reinstalled it but it still does not change anything. Can you please help me resolve this.

[2022-06-06 10:50] postman-support commented on #10977
Hi @thisyselle,

Sorry that you are facing issues while launching the desktop application.

Let me know if you have tried clearing the cache and then re-installing the application?
If not, **I'd first recommend ensuring your work is synced:** **https://go.postman.co/me/collections** **before trying the following**

- https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Cou

[2022-06-06 14:50] Kulichoid commented on #4968
+1

[2022-06-06 17:05] sathyarajagopal commented on #4753
+1 @giridharvc7 Please include me as well in the meeting if there is one planned. We need this feature too.

[2022-06-06 18:14] dragonspearl commented on #10900
No, admittedly my testing has been limited to creating the collection for a company's API documentation.

[2022-06-06 19:07] robertmryan commented on #10204
Any update on this? Where is this on the roadmap?

[2022-06-06 19:34] robertmryan opened #10978 "Navigating between runner results and collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The problem is that it that as collections get large, it is surprisingly complicated to correlate a test in the runner interface and the request in the collection.

### Describe the solut

[2022-06-07 05:45] AlvinLaiPro commented on #5067
Are there any updates on this bug?

[2022-06-07 08:42] malvikach commented on #10978
Hi @robertmryan thanks for reaching out to us and letting us know your feedback. Really appreciate the details.

We have seen similar requests [7525](https://github.com/postmanlabs/postman-app-support/issues/7525)  and [9651](https://github.com/postmanlabs/postman-app-support/issues/9651). You might be interested in checking them out too.

To summarize, these are the improvements you would like to

[2022-06-07 08:43] bearmc27 commented on #9862
I used the following collection to reproduce the problem:

https://www.getpostman.com/collections/fea8ef0d771d1f4f871d

[2022-06-07 10:18] NatGra commented on #10629
Awesome, thank you! 🥇

[2022-06-07 10:28] conaldev commented on #8195
. . .

[2022-06-07 11:51] malvikach commented on #9862
@bearmc27 thanks for sharing the collection.

Unfortunately, I am not seeing the issue at my end. Maybe you can share some screenshots and [logs](https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs-in-the-Postman-Desktop-app
) from your end.

This is what I see - as expected (tried both on web and desktop app)
<img width="1430" alt="Screenshot 2022-06-07 at 5 08 15 PM" s

[2022-06-07 12:01] malvikach commented on #9862
Update- I was able to reproduce the issue after changing the requests to `POST`.
Our team will be looking into this. Thanks again.

See below:

![Screenshot 2022-06-07 at 5 30 14 PM](https://user-images.githubusercontent.com/89449769/172374073-a643e16e-5ea9-4a48-af2e-046c3fcb740b.png)

[2022-06-07 12:07] bearmc27 commented on #9862
HTTP method shouldn't matter as I reproduced issue with 10 `GET`s, it just appears randomly. Anyways, thank you for the follow-up!

[2022-06-07 12:45] malvikach commented on #8929
We have taken note of this feature request. I agree this would be helpful. However, we do not have ETA on this to share yet.

I can suggest the below-mentioned workaround for the time being:

[2022-06-07 12:49] malvikach commented on #10204
@robertmryan Our team will be looking into this. We will share the release date for this soon.

[2022-06-07 14:24] ajhanson commented on #10976
I'm having the same issue.

v9.20.3 will not import all files from folder, we have to choose and import files and select them separately from the folder and subfolders.

[2022-06-07 14:34] andekis commented on #8929
@malvikach I don't see how this solution helps to skip the request being sent if some condition in pre-request script is not fulfilled.

For example, I have 30 requests in my collection.
In pre-request script of every request I want to check the value of a global variable, and do NOT send the request if that variable equals null (meaning that the request is fully skipped - not sent to the server,

[2022-06-07 14:54] nurettn opened #10979 "Put a loading animation at the bottom of the history section"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Yeah, I thought Postman didn't keep past requests for too long.

### Describe the solution you'd like

Put a loading animation at the bottom of the history section to indicate that past r

[2022-06-07 17:09] sredxny commented on #8669
@malvikach hi, well, is more related to how apache benchmark works. I consume one endpoint and in the end I have an average response/request time per endpoint. As far as I recall in the runner I could see the time but per request. I would like more statistics rather than data per request

[2022-06-07 18:00] marchy commented on #5040
What is the team's current roadmap priority on tackling this?

[2022-06-07 18:02] robertmryan commented on #10978
No, I think you captured it. Thank you for following up.

[2022-06-07 22:06] SimonScholz commented on #4968
Would be awesome to get that feature. Because [Insomnia](https://insomnia.rest/) is able to do this, but I'd like to avoid the need to migrate...

[2022-06-07 22:42] colonelclick commented on #8870
Yes, exactly that, uglify it to a one-line string with no whitespace around the JSON control characters such as `{}[]:,`

Some (misbehaving) apis require minification (uglify) and I am unable to smoothly use postman to develop against them. The workflow is that I need to beautify it to sanely make some changes, then uglify it to send my request, and iterate on this process.

[2022-06-07 22:44] colonelclick commented on #8870
@DannyDainton Should we make a new issue for this request? Thank you for your help.

[2022-06-08 07:04] anzalbegDDA opened #10980 "New Integration Request - Gogs"
### Describe your current workflow

In current integration with Github, gogs personal access token is considered invalid when authenticating with on-premise gogs.

### Describe your ideal workflow

There should be a different category for gogs integration deployed on-premise.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-08 07:55] pinguluk commented on #8195
Nothing yet?

[2022-06-08 08:36] theelous3 commented on #8195
@OwlCodR it's over two years old, has overwhelming community support, is the reason a lot of people stop using postman, and is absolutely trivial.

As a canary, it's nothing but bones and dust at this stage.

[2022-06-08 08:59] counter2015 commented on #10902
In my case, I have add custom CA Certificates on Postman, and it will lead to server error like
[code]

After I turned it off, it worked.

[2022-06-08 09:43] sridhar-sampath opened #10981 "Integration with Confluence"
### Describe your current workflow

Posting Test Monitors in Confluence

### Describe your ideal workflow

Posting Test Monitors in Confluence

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-08 11:21] iamkarlson commented on #9424
Definitely! seems like exactly what I was looking for!

[2022-06-08 11:21] #9424 closed, assigned to giridharvc7

[2022-06-08 12:08] marcin-backbase commented on #8433
Push! Just stumbled upon this discussion when searching for this feature! It would support reusability much, as saving different test scenarios for various calls order of same APIs as separate collections is non-maintainable on larger scale.

[2022-06-08 14:54] coder-candace opened #10982 "Visual indicator that parent collection of fork has changes"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Since Postman has removed the ability to share collections between workspaces, I am now looking into the version control model you guys are supporting going forward. I believe I've figure

[2022-06-08 16:08] VoloBro opened #10983 "Unable to export environment file in standalone mode using windows app"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the latest version of postman Version 9.19.0 I am unable to export the environment file unless I am connected to the cloud workspace.

Our security team do not allow us to upload the environment file to the 3rd party cloud.

I

[2022-06-08 16:37] aforty opened #10984 "macOS native application auto-capitalizes query params when typed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the native app (not sure if this happens anywhere else) query params are auto-capitalized when typed in, turning "include" into "Include" which my server then obviously can't handle, the change is also so subtle visually that

[2022-06-08 19:20] Gilaad-Elstein commented on #8260
+1 for this feature request. I set something like this up everywhere I can and really miss it here. It absolutely makes using Postman less relaxing than it could and should be.

[2022-06-09 01:09] ed0001tt commented on #6682
+1

[2022-06-09 04:54] malvikach commented on #8433
@marcin-backbase Thanks for the feedback. We have taken note of this feature request to enable reusability. I will update this thread when we start looking at this.
Thanks

[2022-06-09 05:38] giridharvc7 commented on #10958
@Siddhant125 Thank you for the detailed explaination. Apologies for the delayed response.

Can you confirm if the changes you make and save in the `Initial Value` of the environment variable is visible to your teammates and yourself?

The `Current values` of the environment are local to you and your client. The current value is not synced to postman servers, so you might not be seeing these betwee

[2022-06-09 06:47] dylanh724 commented on #8755
This is wonderful for spamming collection running and want to see some summaries in between stand out.

[2022-06-09 06:58] Siddhant125 commented on #10958
Yes, the changes to Initial value are being synced properly.

[2022-06-09 07:10] gareebnavas opened #10985 "Feature Request - Allow separate environment selection for each tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I work with multiple environments, currently if I change the environment in any of the tabs, it gets applied to all the tabs.
It would allow my workflow to be a lot smoother if environmen

[2022-06-09 07:33] malvikach commented on #8669
Thanks for your response. I checked out apache benchmarks - looks elaborate. I would love to know more which amongst these metrics are most useful to to you.

 A couple of questions:

- What statistics do you rely on?
- What decisions do they help you drive?
- Do you define and store thresholds for the performance too? What would be an example of a statistic metric that meets your expectations and

[2022-06-09 08:29] giridharvc7 commented on #4753
Feel free to book a slot using the link above @SathishKumarRamasamy

[2022-06-09 09:18] malvikach commented on #8929
@andekis Agreed! A scenario like the above might be difficult to fulfill using the workaround. It would work best for skipping one or two requests or similar limited scopes.

For multiple requests, it has to be a simpler experience. I will get back with updates on this thread.

[2022-06-09 09:45] HCS-Georgii commented on #7982
+1, highly required feature

[2022-06-09 09:45] said-saifi commented on #7420
Any updates?

[2022-06-09 09:57] DannyDainton commented on #10983
Hey @VoloBro

The option to export the environment wouldn't be part of the left sidebar, with the environment tab open you should see a _3 dots_ option on the right. The export option can be found there.

This is an image take from the learning center:

![environment-manage-roles-v9.1.jpg](https://user-images.githubusercontent.com/17089546/172819982-a65c0889-32f6-4f72-8e69-9b08bf49d2d6.jpg)

https

[2022-06-09 10:00] emrivero commented on #6682
+1

[2022-06-09 11:15] dannythunder commented on #7179
This should be fixed. Pretty stupid design if this is as intended.

[2022-06-09 11:17] shashankawasthi88 commented on #10981
@sridhar-sampath can you expand a bit more on your workflows?

[2022-06-09 13:04] timbochamp commented on #10898
@rajesh-k-g sorry for the delay!

Following #10692's workaround steps that Harsh suggested in https://github.com/postmanlabs/postman-app-support/issues/10692#issuecomment-1144415227 and https://github.com/postmanlabs/postman-app-support/issues/10692#issuecomment-1144416496; could you please share your issue information at help@postman.com so we can look into enabling an optimized flow for your tea

[2022-06-09 14:18] samwfulwider opened #10986 "Links to documentation tags aren't working. Links open random pages."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Our postman documentation has multiple different links within the content to other pages in the documentation. These links, when clicked, open a new window and put users in random areas of the documentation. I've checked multiple

[2022-06-09 15:23] pglezen opened #10987 "Markdown numbered lists clip tens digit when rendered"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I add ten or more items to a numbered markdown list for documentation, the tens digit is clipped when rendered.  So the rended tenth element looks like

[code]
All digits are visible in edit mode, in both *Classic Markdown*

[2022-06-09 15:32] #10983 closed, assigned to nobody

[2022-06-09 19:15] Awais-cb opened #10988 "Why you guys have complicated a simple open in new tab thing so much"
why did you guys make this tini tiny feature such a complicated task.

[2022-06-09 19:47] timbochamp commented on #10988
We can appreciate the frustration this may cause but there is absolutely no need to use that language to describe it.

[2022-06-09 19:47] #10988 closed, assigned to nobody

[2022-06-09 20:09] seelaman commented on #6397
@DannyDainton same issue here. Unable to merge a forked branch back into the source.

[2022-06-09 21:00] seelaman opened #10989 "Unable to merge fork back into source"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We have forked a branch off our develop one and want to merge it back into develop, getting the following error

Also mentioned in [issue 6397](https://github.com/postmanlabs/postman-app-support/issues/6397) which has been closed

[2022-06-10 03:24] BraveMomo opened #10990 "Please write in Chinese on the main interface of the software. There are too many of your users in China."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Please write in Chinese on the main interface of the software. There are too many of your users in China.

### Describe the solution you'd like

Please write in Chinese on the main interf

[2022-06-10 03:27] minhthong095 commented on #10605
Could you Postman Team make it close persistently please? Thank you

[2022-06-10 05:44] AndreasHuber-CH commented on #8231
+1
I'm also interested to get this issue fixed, any news?

[2022-06-10 06:51] mwaleed0517 commented on #8717
![image](https://user-images.githubusercontent.com/57632167/173007624-1c47f93d-e2d7-4570-8492-ee3986286a41.png)

[2022-06-10 10:15] alantonica commented on #8606
Thank you, it worked the other way around as well.

[2022-06-10 10:49] TimFowle commented on #9349
I would like to be able to pin the monitor tabs so they dont get replace when trying to fix the monitor that has failed.

[2022-06-10 11:39] sundersham commented on #6001
I'm also struggling with the same issue. Windows 10, Postman v9.21.2

[2022-06-10 17:02] daniel-commure commented on #10972
I was able to capture the glitch. Interestingly enough, editing the name of the request triggered some kind of refresh and the request scripts loaded.

Video:

https://user-images.githubusercontent.com/99279333/173115794-a4884d68-40a6-4e34-b2cb-a2b11ef5010b.mov

[2022-06-10 17:42] DarkFisk commented on #3694
Please, add send button

[2022-06-10 17:54] mmalcorn commented on #10936
Seeing the same issue following the same steps in the issue above, and in orgs repo:
Postman v.9.20.3
operating system macOS 12.13.1

[2022-06-10 20:15] Narzard commented on #10591
Generating the request code is one of the best features of Postman. I hope this gets resolved soon.

[2022-06-10 21:35] mljstx commented on #10936
Just FYI - My workaround was to add via web, and then it worked fine in the client.

[2022-06-10 21:42] JustinJohnWilliams opened #10991 "Duplicate tab without overriding original tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

no

### Describe the solution you'd like

On the MacOS desktop client when I click "Duplicate Tab" in the right click menu an exact copy of my tab opens up, as expected. However, when I m

[2022-06-10 22:00] timbochamp commented on #10991
Hi @JustinJohnWilliams, thanks for reporting! This has been brought up in the past in #9663 and #10877. The wording is a bit deceptive, but duplicating a tab does not mean creating a second request to the same endpoint. When you duplicate a tab, any edits you make will affect the original request:

https://learning.postman.com/docs/getting-started/navigating-postman/#managing-tabs

Duplicating a r

[2022-06-10 22:00] #10991 closed, assigned to nobody

[2022-06-10 23:13] snazeergit commented on #10936
I'm too experiencing the same issue

[2022-06-10 23:16] snazeergit commented on #10976
I am too facing the same issue.

[2022-06-11 02:44] NathanD19 commented on #10965
Getting the same issue on win 11 pro. Postman is open/minimized. Using large workspace with many collections.

![image](https://user-images.githubusercontent.com/26264463/173169558-580afeb4-80e2-46ac-9583-b225ee7be9ea.png)

[2022-06-11 04:52] driverkt opened #10992 "Versioned download links do not work"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

See comments on this commit for postman in homebrew: https://github.com/Homebrew/homebrew-cask/commit/9b3ddcbb40d295fda967f5ce4689e971a6f5db5f

Versioned download links such as [this one](https://dl.pstmn.io/download/version/20.3

[2022-06-11 04:57] driverkt commented on #10992
The reason this is valuable is that it keeps the homebrew cask from breaking if a new release gets pushed to "latest" before a cask maintainer can make the update. It breaks the cask for everyone. With versioned download links, the cask will not be broken if it is not immediately updated for the latest release.

[2022-06-11 05:00] driverkt commented on #10992
[code]

[2022-06-11 09:14] lerman01 commented on #2701
+1

[2022-06-11 17:37] w4dd325 commented on #675
@perrychann I had a similar solution that I added here;
https://community.postman.com/t/a-way-to-create-custom-test-snippets/36142

the eval() option is interesting, I never thought of using that!!!

[2022-06-12 00:21] ramonpaolo commented on #6516
Same problem here, with the version `v9.21.2`

[2022-06-12 11:59] Samraw003 commented on #10965
Hi,

I have 3 collections with 6-7 requests in each, however, these were not
active. Resultset of each was quite small.

Apologies, I cannot share the developer log as I am using the web
version now and have already installed the app.

Regards

Digital Transformation of QMS & Processes

*Sammeer*
Founder
+91 9 <+91+9719275759>967961616
***@***.***
www.Optimium.in

[image: https://www.linkedin.com/

[2022-06-12 20:56] adriancuadrado commented on #1647
## How to open DevTools in Postman
![image](https://user-images.githubusercontent.com/29214635/173252949-10a99ee1-ea8f-4234-a9a7-f2d7d5c5f4d6.png)

## How to get all requests and responses from `History` with JSON format

In the _Console_ tab of the Developer Tools window that opens, execute this code:
[code]

Then right click on the output of that code, select `Copy object` and paste it in your c

[2022-06-13 01:04] ShahinKohan commented on #8916
When creating a pull request all comments should be part of the pull request. Currently Postman only adds the comments to pull request for endpoints with any changes. But comments made on an endpoint with no changes to the endpoint don't show up in the pull request.
So if someone made comments on an endpoint that had no changes the comment still should show.

[2022-06-13 01:06] tahaiqbalkhan9 commented on #6782
Hey folks,
Any updates on the issue? I am facing  same error. My postman version is: v9.21.2

[2022-06-13 05:12] kamalaknn commented on #10965
@NathanD19 Could you share logs from `View -> Developer -> View logs in Explorer` with us by email to `help@postman.com`? Do share this issue link in the email so we can follow up with this.

[2022-06-13 07:19] aHappyConstant commented on #3376
The ability to clear the URL bar's history has been added. To clear it:

1. Click on History
![image](https://user-images.githubusercontent.com/97287115/173300236-bb3d005d-dfda-4a67-ac67-7caf7a170c0a.png)

2. Delete the URLs you want to delete, or delete them by time.

[2022-06-13 07:42] donislawdev opened #10993 "Postman web version in the "About" tab is showing an older Firefox version"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman in the "About" tab is showing a lower version of Firefox than the actual version used (Firefox version 101 in Postman "About" tab is shown as 91 version).

### Steps To Reproduce

1. Click the settings button
2. Select "S

[2022-06-13 09:02] PratikThorve commented on #9369
@akshaydeo is this feature of adding delay to individual request rather than at mock server level available now ?

[2022-06-13 09:13] ibhawna commented on #6205
i am also getting same error

[2022-06-13 09:18] ibhawna commented on #6205
i am getting same error how did you resolve it

[2022-06-13 09:27] vinukumar-vs commented on #10976
It's not working in the standalone postman tool. But it is working fine in web-postman(postman web application).

[2022-06-13 10:08] Nura21 commented on #6205
Because I use https not http, you can use http to resolve it

Pada tanggal Sen, 13 Jun 2022 16.19, bhawna ***@***.***>
menulis:

[2022-06-13 10:22] malvikach commented on #10969
@VeryArine thanks for writing to us about the above issue! This surely is a bug.

[2022-06-13 11:40] KarineValenca commented on #10902
I'm facing the same issue. Using grpcurl I can do requests without using any certificate. Using postman, I have 14 UNAVAILABLE.

I tried adding CA certificates, client certificates, and disabling SSL certificate verification, but nothing worked.

Example of my grpcurl request:
grpcurl --v -import-path . --import-path proto/third_party -proto proto/login-api/authentification-api.proto  -d '' myendp

[2022-06-13 11:47] codenirvana commented on #10902
Hey everyone,

We've identified the issue with TLS connections, we are working on the fix and will update here soon!

[2022-06-13 14:06] aakash3771 opened #10994 "Integration with Bitbucket should incorrect committer information in commits"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have created some integrations with Bitbucket. Any changes done to the integrated collection is seen as a commit by me though it was done by another team member. This needs to change.

### Steps To Reproduce

1. create an integ

[2022-06-13 14:23] Brandin opened #10995 "Cannot resort folders within collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I try to drag a folder to change its position within a collection, nothing happens, it stays in its current place.

### Steps To Reproduce

1. Create a collection
2. Create multiple folders
3. Drag to sort them

### Screensh

[2022-06-13 15:28] mark-fay-03 opened #10996 "Grouping / Foldering Environments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Unable to group Environments

### Describe the solution you'd like

As a developer, I would like to have the ability to group or add to folders the Environments, so that I can have multip

[2022-06-13 15:43] christhomas commented on #6102
You didn't go far enough, super-admin needs to be something everybody with a paid account gives you, not just limited for those super special customers paying you thousands of dollars. So with my smaller company I'm still screwed over cause we can't afford to pay that much money for a developer only product.

We pay you thousands of euros a year and can't even administrate our own teams correctly

[2022-06-13 16:41] g3mni opened #10997 "Which file holds the Workspace Settings"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Due to the information security requirements of the company.We would like to determine whether workspace is "public" or "team" by checking the setting of workspace setting in the desktop app by MDM.
 I have found that changes to

[2022-06-13 17:18] arilishu opened #10998 "it's not clear there is more than one example"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

If you are watching the examples, is not clear if there is more than 1 example, because there is no dropdown or any icon that expresses that.

### Describe the solution you'd like

Add "∇

[2022-06-13 18:18] roobee15 opened #10999 "Increase limit of nested resources in schema"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When you Import a spec and a collection is generated but examples are not all generated.
Instead, the following error is seen "Too many levels of nesting to fake this schema"
increasing t

[2022-06-13 21:49] br-tyler-milner commented on #2934
I'm having the same issue. I'm using Postman OAuth 2.0 flow with "Authorization Code (With PKCE)" grant type and the `audience` query parameter is not added by Postman, even though I have the Audience field populated in the Advanced Options. Manually adding the `audience` query parameter in the Auth URL field seems to work fine as a workaround for now.

[2022-06-13 22:50] suntoshakula commented on #8632
![github-issue](https://user-images.githubusercontent.com/76269239/173460277-346834ca-5149-44ff-a75b-e65dfcc2c151.JPG)

[2022-06-13 22:53] suntoshakula commented on #7238
![github-issue](https://user-images.githubusercontent.com/76269239/173460602-54b28690-a52d-4eca-8ff1-66ddb8864525.JPG)

[2022-06-14 00:25] esoca commented on #8231
+1
Another team that needs this issue fixed ...

[2022-06-14 01:33] arnouir commented on #10852
this is a problem for me , too .
i want too clear that history

[2022-06-14 02:01] NathanD19 commented on #10965
Thanks @kamalaknn. I've sent through the logs.

[2022-06-14 04:25] Dhembla commented on #9369
@PratikThorve Adding delay on a request has been removed from the scope of Q2 2022. I am sorry for the inconvenience caused to you. We will update the ticket as soon as we start working/enabling this feature for our users.

[2022-06-14 05:22] abhijitkane commented on #10994
@aakash3771 We're aware of this limitation with the collection-level Bitbucket integration. I'd recommend you check out our newer integration that operates at the API-level ([https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/using-external-git-repo/](https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/using-external-git-repo/))

[2022-06-14 05:39] suchand-talview opened #11000 "New Integration Request - <GitHub actions>"
### Describe your current workflow

Bring build runs from Github actions to Postman and configure Newman to run Postman collections on your GitHub actions pipeline.

### Describe your ideal workflow

Bring build runs from Github actions to Postman and configure Newman to run Postman collections on your GitHub actions pipeline.

### Describe alternatives you've considered

_No response_

### Additi

[2022-06-14 06:46] ramji367 commented on #10693
Can you provide more information on how you would like to use this integration? I want to understand your scenario better.

[2022-06-14 07:06] xiaguliuxiang commented on #10852
this is a problem for me , too .
i want too clear that history, too.

[2022-06-14 07:52] shashankawasthi88 commented on #11000
Hi @suchand-talview , thanks for raising the request. We are in process of designing the integration and understanding the user workflows. Will it be possible for you to get on a call to discuss your workflows? You can use the [link](https://calendly.com/shashank-awasthi/30min) to schedule a meeting with us.

[2022-06-14 11:08] PratikThorve commented on #9369
@Dhembla Thank you :)

[2022-06-14 12:08] i-wrestle-tests opened #11001 "502 Bad Gateway Errors (Beginning 08.June.2022)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have test suite collections set up and monitor scheduled to run them between 0500-0800 M-F.  They have been executing just fine, until the morning of 08.June, when they began failing with 502 Bad Gateway Errors. The results are

[2022-06-14 12:57] vlad-gaman opened #11002 "White screen with a json"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The application opens with a json and i cannot do anything

### Steps To Reproduce

1. I am not sure what I did before re-opening the application

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/9606

[2022-06-14 13:02] vlad-gaman commented on #11002
Also I cannot seem to close the application.

[2022-06-14 13:02] faramarzaf commented on #6780
Also getting the same problem on Windows10 64-bit
Postman Version 8.7.0

[2022-06-14 13:03] faramarzaf commented on #7171
Also getting the same problem on Windows10 64-bit
Postman Version 8.7.0

[2022-06-14 13:43] groovenectar commented on #1066
Thanks for the idea. This worked. To add to it, moving forward I'm going to try a new collection called "Captured requests" rather than using a project folder

[2022-06-14 15:15] SahilChoudhary22 commented on #8843
Hey @Dentrax
The bug has been resolved and you won't be encountering it from the next production release.

[2022-06-14 15:27] suntoshakula commented on #6001
the issue still exists,currently my enviroment variables not being read by monitor requests.

[2022-06-14 15:36] CarrieRaglan commented on #10999
"Optimize conversion" is ON by default, most users have no idea what this actually means. Most users leave this on not knowing that not only affects performance but will also change how the examples are generated.

With "Optimize conversion" ON (the default setting)
`
{
	"level1": [{
		"level2": {
			"value": "<Error: Too many levels of nesting to fake this schema>"
		}
	}]
}
`

With "Optimize con

[2022-06-14 15:44] LarisaMocu commented on #6001
I don’t know it this makes any sense, but what worked for me was to sign out/sign back in from my Postman account.

[2022-06-14 16:33] adrian-pardillo-allscripts commented on #8731
Any update on this?

[2022-06-14 16:46] suntoshakula commented on #6001
thanks so much, i cleared the app properly with unwanted collections, sign out and sign in boom it works now. Awesome larisamocu you the saviour man

[2022-06-14 16:58] suntoshakula commented on #6001
nope, my variables still remain undetected. thanks larisa appreciated for one sec I thought it was good. very weird @postman-support  postman app behaviour.

[2022-06-14 17:28] dougleenhouts opened #11003 "Activity Feed should show when a collection is run"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When I run a collection that includes pre-request scripts or tests that set variables (timestamps, iteration counters, UUIDs, etc), the Activity Feed shows an entry that the collection wa

[2022-06-14 17:56] giridharvc7 commented on #10995
@Brandin Can you share some logs

[2022-06-14 17:59] giridharvc7 commented on #10958
This is an intended behavior, read more about it [here](https://learning.postman.com/docs/sending-requests/variables/#:~:text=Initial%20values%20are%20shared%20when,on%20local%20versus%20synced%20variables.)
Closing this ticket.

[2022-06-14 17:59] #10958 closed, assigned to nobody

[2022-06-14 18:18] suntoshakula commented on #4400
https://github.com/postmanlabs/postman-app-support/issues/6001#issuecomment-1155377029

[2022-06-14 20:44] samwfulwider commented on #10986
There is a workaround with changing the column layout for the page, but there is still a bug here that I can't quite figure out.

[2022-06-14 21:31] godfrzero commented on #3171
Hey folks, we're actively working on this issue and we plan to extend the 5-minute limit to 10 minutes before early next week. We'll work on extending it further in additional releases after that. There's no change necessary from your end at this time, monitors which are currently timing out due to the 5 minute limit will automatically extend their run times.

[2022-06-14 23:29] dben89x commented on #3694
Good lord, how is this still not implemented? Thread was created back in 2017. This should have been in version 1.0.0. What's the reasoning for not having a send button on examples? I'm genuinely trying to think of any possible reason and can't come up with anything. I guess this is why us devs need project managers? Because common sense often escapes the best engineers apparently??

[2022-06-14 23:37] ncharan511 commented on #7775
Hello Everyone, I was also facing this issue. In my collection, each request uses **postman.setNextRequest** but at the end of the script I am setting setNextRequest to _null_. THIS IS STOPPING THE POSTMAN TO EXECUTE NEXT REQUEST. Hope my solution helps everyone.

[2022-06-15 02:43] ghost opened #11004 "Add option menu: restart postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

some times postman can not loading config from network.
restart postman can resolve the problem,
so please add a menu item, click it will restart postman for us.

### Describe the solutio

[2022-06-15 04:44] Lincimary commented on #11002
Thank you for providing the logs.
I will go ahead and close this one since we have a open ticket with you.

[2022-06-15 04:51] hungdao-testing commented on #8534
+1

[2022-06-15 05:06] RaisinTen commented on #10992
https://dl.pstmn.io/download/version/9.19.0/osx_arm64 appears to be the latest versioned link for ARM64 macOS. The downloaded binary also matches with what gets downloaded from the unversioned link - https://dl.pstmn.io/download/latest/osx_arm64.

[2022-06-15 05:09] RaisinTen commented on #10992
My guess is that 9.20.0 is a UI only update and not a platform update, i.e., the binary doesn't get updated when you move from 9.19.0 -> 9.20.0. The changes are only on the web-side, which gets downloaded automatically by the app when it runs.

[2022-06-15 05:26] driverkt commented on #10992
Can we verify that this is why?

See updated comment on the homebrew-cask side:

https://github.com/Homebrew/homebrew-cask/commit/9b3ddcbb40d295fda967f5ce4689e971a6f5db5f#r76128394

[2022-06-15 05:26] bevanjkay commented on #10992
@RaisinTen Is there an API endpoint or appcast that Homebrew could access to find what the latest available versioned download is? There is a command called `brew livecheck` that checks a specified URL to find the latest version being provided, and this is then used to initiate version bumps. In this instance, the `https://dl.pstmn.io/download/latest/osx_arm64` was being used to find the latest ve

[2022-06-15 05:50] richemmanu opened #11005 "Postman Offline and Online saving"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have postman collections...sometimes u work in place with no Internet and you develop locally on machine.
You want to test the api bbut u cant be able to save and run them unless u onli

[2022-06-15 05:56] mir1198yusuf opened #11006 "Post team activity webhook should also be triggered for changes in examples"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently, post team activity webhook is only triggered for changes (crud) in `folder` & `request` models.
We want to get notified of changes in `example` (for a request) too.

### Descri

[2022-06-15 06:10] #11002 closed, assigned to Lincimary

[2022-06-15 08:25] fonestardev commented on #7982
+1, highly required feature

[2022-06-15 09:06] bmyun commented on #285
+1

[2022-06-15 10:01] andakawa commented on #8231
Guys, cmon now - it's been years now.

[2022-06-15 10:33] pbinne opened #11007 "Seeing failures in Monitor Summary although all your tests are passed in Collection run."
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In Run Collection all the test cases are pass, but when I try to run monitor the same collection face the below error

1 | 14:49:48 | Test_Monitoring started
2 | 14:49:48 | New Request
3 | 14:49:48 | POST http://10.100.0.55:9000/

[2022-06-15 10:46] RaisinTen commented on #10992
@driverkt

My claim was correct, v9.20.0 is a UI-only update, so no changes will be reflected in the binary. Previously, the web-only part of Postman was bundled into our desktop app during releases. This meant that our desktop users don't use the latest version of our codebase and can choose to remain on old versions of Postman. This means that any bug fixes take a full release to reach users. Th

[2022-06-15 11:05] giridharvc7 commented on #3694
This might look a bit basic, but Can someone help us understand what you are really looking for by sending an example.

Some context on the current system:
An example has the following -> Request URL (with params), Headers and Body. What the Examples does not have are the following: Authorization, scripts apart from the response itself.

This means that when you send a saved example (in its curren

[2022-06-15 11:28] STeeL835 commented on #3694
@giridharvc7

Endpoints that are taking complex queries are pretty common, and my case is this:

* I use collections generated from OpenAPI definition _file_
* I group requests by controllers and actions (endpoints) become Requests
* For complex endpoints I usually save different payloads as different examples rather than duplicate existing endpoints in the list
  * Testers use this feature to sav

[2022-06-15 11:32] driverkt commented on #10992
Reposting this comment from above. Also, I don't think logging into an account is a reasonable expectation, since it is not required to use the application and something scripted will not do this action.

In general, saying "use the 'latest' URL" means that for maintainers of the cask, the checksum could change at any moment, without warning. This makes the "latest" URL unusable to the homebrew ca

[2022-06-15 11:35] shikhartiwari96 commented on #3694
+1

[2022-06-15 11:48] ExaltedA commented on #3694
+

[2022-06-15 12:08] RaisinTen commented on #10992
I agree with you, I find it a little confusing when the version number magically updates itself when I log in to the application. I think a solution to this problem would be to completely get rid of the UI version numbers both from the website and the app and stabilize the versioned links.

cc @akshaytate wdyt?

[2022-06-15 12:09] i-wrestle-tests commented on #11001
502 errors continue, today with examples of ones that were working.  Could I get assistance please, because the errors, and their inconsistency, are adversely impacting my tests and making it difficult to use your product/service.  This has been occurring for over a week, now.
![image](https://user-images.githubusercontent.com/106683067/173823237-f0a5d82e-9e55-4c3b-9745-bec41efaaa68.png)
![image](

[2022-06-15 12:11] Ian1971 commented on #3694
Anything not defined in the example it should inherit from the request it is attached to. So e.g. if the example has a header that is in the request as well, then the example header should be used

[2022-06-15 12:17] numaanashraf commented on #10997
@g3mni The visibility of a workspace is not stored in any files on the end users device. We recommend using the Postman API to get the type of the workspace and check if they are "public".

https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-f027a0fa-9012-4654-a65d-2b751a3154a9

[2022-06-15 14:41] #10992 closed, assigned to nobody

[2022-06-15 15:29] ocroz commented on #9354
Thanks for sharing the request setting.
However I still don't see where to disable cookies globally in [Postman desktop app](https://learning.postman.com/docs/getting-started/installation-and-updates/#installing-postman-on-windows).
Why is this issue closed when [it was requested](#issuecomment-741769181) to disable cookies by default as opposed to the request level setting ?
Also, if closed, wher

[2022-06-15 15:37] ocroz opened #11008 "Disable cookies globally and set defaults for all of a request’s fields"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Having to individually disable the cookie jar for every single request I create is tiresome.
See https://community.postman.com/t/feature-request-allow-disabling-redirects-and-cookies-glob

[2022-06-15 18:59] ColtonBelfils-JKBoots opened #11009 "Postman window does not scale responsively when the window is made small"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When the postman window is a small or even medium size it can't fit all of the window content in the window. Instead of resizing the content to better fit in the window it just throws a horizontal scroll bar on the window. There

[2022-06-15 20:33] Bartmax commented on #8747
same here

[2022-06-15 20:42] DarkFisk commented on #3694
I was looking for functionality that allows me to send requests to the same endpoint with different parameters/body for example create user with different roles/rights. Currently, I have to clone the same request many times. In case something was changed on the backend I have to edit all of them since they don't have some common endpoint metadata, like headers/url/ect.

[2022-06-15 20:49] MathieuBurnat commented on #4818
I still believe. :]

[2022-06-16 09:08] rj-eww opened #11010 "Feature Request: to remove automatic white space in bearer taken"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

 I am fresher and learn to create API and access token I was put
bearer token and paste code it will give me an  error

Error: Invalid character in header content ["Authorization"]
I will

[2022-06-16 09:19] nbazelev commented on #5502
Same for me: I need to specify customer data such as `name` and `email` in the request body.
Something like `pm.user.name` and `pm.user.email` will be really helpful.

[2022-06-16 10:24] giridharvc7 commented on #3694
@STeeL835 @DarkFisk thank you for the going through your use case! This really helps.

Would love to see your workflow in action, just to understand things a bit more deeper, would you be open to having a call with me? This will help me understand your workflows in detail and also provide you with an opportunity to address anything else that's been bothering you.

You can use [this link](https://c

[2022-06-16 10:43] bilalhasson opened #11011 "Bootcamp: Debugging and manual testing unable to complete"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Trying to go through the bootcamps to learn how to use postman, however when trying to continue with the lesson I get to collection variables and then the next step doesn't appear

<img width="223" alt="Screenshot 2022-06-16 at 1

[2022-06-16 11:11] mhbu50 commented on #6351
+1

[2022-06-16 11:13] adriancuadrado commented on #10505
It can be far simpler than that. For instance, take a look at [this](https://github.com/postmanlabs/postman-app-support/issues/1647#issuecomment-1153290695): You open DevTools and copy-paste the Javascript code. This is obviously not ideal, but Postman could at least have a folder with Javascript files that are executed the same way you would in DevTools. Then adding a plugin would be a matter of

[2022-06-16 12:00] vbisbest commented on #10505
Thank you for your response @adriancuadrado .  I will take a look, but this sounds fairly hacky.  Other vendors e.g. ReadyAPI and Insomnia support plugins natively.   They give the ability to modify, monitor and take actions on collections all within the UI.  This is done via a plugin folder and get loaded automatically when the products open.   They also have objects to access within the plugin c

[2022-06-16 12:42] cveld commented on #2934
At our side thanks to the audience query parameter hack indeed Auth0 now returns a sub property in the jwt. This sub property contains the identity of the Auth0 user (e.g. "auth0|61559f9e822c7a0069e3a811") and is required for our systems to authenticate the user.

[2022-06-16 13:18] rostykzub commented on #5180
@Raja-Simha Hello.
I am still experiencing this issue when opening a link that is an anchor to some part of my documentation

My documentation is stored on `https://developers.recman.no/` domain
And if I paste `https://developers.recman.no/#e1695b17-6b58-4207-9975-dfd01760a844` link into the table and try to open it while this table is expanded - nothing is happening.

You are actually navigated t

[2022-06-16 15:31] cjuega commented on #8231
@esoca @AndreasHuber-CH @cvietor... If you guys are still interested on this _and you can use vscode instead of postman_, this very same issue has been just fixed in the ThunderClient vscode extension:
https://github.com/rangav/thunder-client-support/issues/304

[2022-06-16 15:42] dcdraper opened #11012 "Pull Request Still Showing Active After Merge"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have merged the PR and deleted the source, yet the target collection still shows the PR as open.  I want to be able to delete the PR or clear it out some way but I cannot.

### Steps To Reproduce

I cannot repro it. How can I r

[2022-06-16 16:18] daniel-commure commented on #10972
@abhijeetborole I can't currently re-create the issue. If I do run into the issue again, I can share logs.

That said, I want to be sure I know what logs you're looking for. Normally, I only see information on requests that I've sent in the console. e.g. at Postman startup, there's nothing in the console logs:
![image](https://user-images.githubusercontent.com/99279333/174117912-07c027cc-fda0-40ff

[2022-06-16 17:25] rostykzub opened #11013 "Anchor links in the expanded tables are not working properly in the Postman Web Documentation"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

My documentation is stored on https://developers.recman.no/ domain
And if I paste https://developers.recman.no/#e1695b17-6b58-4207-9975-dfd01760a844 link into the table and try to open it while this table is expanded - nothing is

[2022-06-16 18:42] tom-knight opened #11014 "Adding new rows in Bulk Edit mode causes descriptions to get out of sync"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using Bulk Edit mode on form-data, if I add one or more new rows in the middle of the fields, when I go back to Key-Value mode my descriptions are now out of sync.

### Steps To Reproduce

1. Open a **new Request** tab
2. Cl

[2022-06-16 19:51] allanbleakley commented on #6681
I see that Akash Aydeo has self-assigned this - perhaps is this Postman working on this issue now?

[2022-06-16 21:53] carlbray commented on #10976
I still had 9.14 download and was able to successfully able to import folders.

[2022-06-16 23:30] nrmartell opened #11015 "Update Placeholder text in Schemas to Variable format"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Right now when a user imports a schema the placeholder text for authorization is formatted as such `<Bearer Token>` Users would expect something in variable format to begin working quicke

[2022-06-16 23:32] nrmartell opened #11016 "Include option to 'inherit authentication from parent' upon schema import."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When importing schema we pull from security scheme for authorization type.
Users expect auth type to be 'inherit auth from parent' on collection requests by default as is the expected beh

[2022-06-17 11:46] ljfh commented on #6682
+1

[2022-06-17 12:27] filuna commented on #10852
voting for either the ability to remove the recently visited workspaces (not just to clear the list completely, but one by one), or, maybe better, you could add another top list "pinned workspaces" and let the user to pin workspaces he wants to have in that list - in principle as it works in Visual studio and other software with recent projects. That would be magnificent ;-)

[2022-06-17 14:00] JohannWeging commented on #10921
I have the same problem. I run a local development setup which runs without TLS. It would be nice to not require a self signed certificate. This just complicates the setup off the local environment.

[2022-06-17 15:12] dcdraper opened #11017 "Merge Button Enabled Again While Merge In-Progress"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I choose Merge and Delete source. After a time there is a toaster message indicating that it will finish in the background but then I am back on the Merge modal with the option to click the Merge button again, with no indication

[2022-06-18 00:30] jiang-gao commented on #7348
+1
This feature will help a lot while some requests are ready for lower environments but not higher environments because we can exclude them from the monitors for the higher environments.

[2022-06-18 17:41] mollthecoder commented on #4454
arm64 is great for 64-bit Raspberry Pi OS and all, but I use 32-bit and I'd like to see support for armv7l

[2022-06-18 18:19] BenjaminEHowe commented on #4454
I don't see why they'd want to add support for an architecture which is likely on a downward trajectory. I'd suggest you strongly consider the 64-bit builds of Raspberry Pi OS. [The team at Postman report that they are actively working on Linux arm64 support](https://github.com/postmanlabs/postman-app-support/issues/5816#issuecomment-1139977279).

[2022-06-18 23:17] Anuj28282828 opened #11018 "Access Request-Headers AFTER hitting the request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

My question:
Is it possible to access request-header after the request is hit?

My pre-request script looks like :

var Cookie = null
pm.sendRequest("http://www.test.com/anuj", function (

[2022-06-19 03:39] DannyDainton commented on #11018
Hey @Anuj28282828

This isn't a feature request to add additional functionality into the product.

Can I ask that you raise this question over on the Postman community fourm.

https://community.postman.com

[2022-06-19 03:40] #11018 closed, assigned to nobody

[2022-06-19 05:44] mir1198yusuf commented on #11006
Is this bug or it would be feature ?

[2022-06-19 06:36] al3rabi1 opened #11020 "[URL](Facebook)"
[URL](Facebook)

_Originally posted by @al3rabi1 in https://github.com/postmanlabs/postman-app-support/discussions/11019_

[2022-06-19 07:33] #11020 closed, assigned to nobody

[2022-06-19 14:13] AsiwajuDev opened #11021 "New Integration Request - <product name>"
### Describe your current workflow

None is available. It is a new project aimed to unify different collections of API endpoints and will be managed from a custom Admin portal

### Describe your ideal workflow

Admin login to the custom-built portal, Create a new collection of the API endpoints and add various individual endpoints with their types. Admin then sets the permission of users who will

[2022-06-19 18:48] Rohit19060 commented on #10852
Controlling what you see and what you have in history will make it more user friendly Up vote on this feature

[2022-06-20 03:09] mrcaidev opened #11022 "Error: submitURL is a required option to crashReporter.start"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman can't start via desktop icon, and when I tried to start it in terminal by `postman`, I got error outputs like:

[code]

### Steps To Reproduce

1. Open terminal.
2. Execute `postman`.
3. See error outputs.

### Screenshot

[2022-06-20 05:51] kujiy opened #11023 "CURL code snippet does not include `--insecure`"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I faced an issue that Postman succeeds a request but the cURL command that Postman exports failed. I noticed that I had to add the `--insecure` option to the cURL command. I guess that Postman tries the request with a insecure se

[2022-06-20 06:37] abhijitkane commented on #10936
We've included a fix for this in the next release of Postman's desktop app (v9.22). We expect to begin the rollout of the new version this week.

[2022-06-20 08:22] Uckpa opened #11024 "Ability to add/use function(s) from specific place(lib)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have to randomize some data or have to check json body for specific values in some requests, that's why i have to copy/paste a lot of code in the Pre-request Script or in the Tests sect

[2022-06-20 10:25] #10271 closed, assigned to abhijitkane

[2022-06-20 10:30] #10656 closed, assigned to nobody

[2022-06-20 10:33] abhijitkane commented on #8325
With Postman v9, one version of the API can have the API definition evolve across multiple releases. A version is intended to be used with a parallel API development track.

[2022-06-20 10:33] #8325 closed, assigned to vvs11

[2022-06-20 10:34] petar19 commented on #675
I've been using custom snippets based on solution someone previously linked here https://medium.com/@gopikrishna_82732/hack-to-add-your-own-snippets-to-postman-af295ddd68e7

Basically, it's done by modifying the _vendor_shared.js_ file. Everything worked perfectly (onversion 8.5.1) until I updated Postman, it would seem new version (9.8) doesn't have that _vendor_shared.js_ file anymore and I can'

[2022-06-20 10:38] abhijitkane commented on #6574
With Postman v9, you can connect your APIs to repositories and maintain 2-way connectivity between the two. Changes made on the repository can be pulled into Postman - this will update your API definition to match the updated state of the repo.
Docs are available at https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/using-external-git-repo/. Feel free to open a n

[2022-06-20 10:38] #6574 closed, assigned to vvs11, preethammavin

[2022-06-20 11:51] younesdev1 commented on #2701
+1

[2022-06-20 12:42] abhijitkane commented on #10980
@anzalbegDDA Postman's new API integration supports GitHub Enterprise server (https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/using-external-git-repo/). Can you add screenshots that explain what workflow you're referring to?

[2022-06-20 13:10] rajesh-k-g commented on #10898
Hi @timbochamp,

Seems that the issue is resolved now. Thanks for the support :+1:

[2022-06-20 13:10] #10898 closed, assigned to nobody

[2022-06-20 15:20] kd-at-mi commented on #5502
In my scenario, developers all have local environments setup to work and our app requires api tokens and other information such as a few ids associated with that api token account in each environment and everyone is different because of how the ids are created.

I am looking to do something like this:

My Env:
projectID='xnd3.....'
apiToken='9876'

Teammate Env:
projectID='d43c3.....'
apiToken='12

[2022-06-20 20:35] karlos152 commented on #5816
hello @jviotti would it be possible to share an alpha/beta version for linux arm64?

[2022-06-21 04:43] shashankawasthi88 commented on #11021
@AsiwajuDev Postman integrations are aimed to integrate Postman with other software used in the developer ecosystem. Any custom solutions can be built using the Postman APIs (https://learning.postman.com/docs/developer/intro-api/). I am closing this request for the same reason.

[2022-06-21 04:43] #11021 closed, assigned to abhijitkane

[2022-06-21 06:06] shashankawasthi88 commented on #10757
@mswilson4040 @petkostas - the import for the Azure DevOps has now been added.

[2022-06-21 06:06] #10757 closed, assigned to shashankawasthi88

[2022-06-21 06:07] shashankawasthi88 commented on #10811
@petkostas the import from GitLab cloud has been added to the product.

[2022-06-21 08:34] yaugenka opened #11025 "Add variables to collection subfolders"
I'm using the following collections structure
Project1 (folder)
--User enpoints (subfolder)
----get (request)
----post (request)
----etc

The endpoint groups (subfolders) may have there own versions numbers. But there is no way to define the version via a subfolder variable. It would be nice to be able to define subfolder variables.

[2022-06-21 08:56] yaugenka opened #11026 "Automatic backups"
In order to backup collections into vcs one need to export them manually.
I would be nice to be able to open a collection from a file automatically save it to the file.

[2022-06-21 10:02] cnjack commented on #10640
Thank you for your response, we can keep it here before you guys have time for that.

[2022-06-21 10:55] thanhnq-ja commented on #8929
+1

[2022-06-21 11:37] Jonnygeneral33 commented on #10648
@umeshp7 I encountered the same issues trying to import through link, I gave raw text a go and that even didn't work . Wondering if the propose fix has been rollout yet?

[2022-06-21 12:31] hamzaabbasminhas commented on #5970
@numaanashraf The tooltip issue still exists. On leaving my current value empty it does not assume the initial value. This is very cumbersome for us to manage our variables across teams. Can you please let me know when will this be fixed?

[2022-06-21 13:59] giridharvc7 commented on #5970
@hamzaabbasminhas Do you mind sharing a screen recording of how you assign the initial value? This should automatically assign the current value if the field is left untouched.
Trying to understand if this is a regression

[2022-06-21 15:07] shubhbhargav commented on #11026
@yaugenka Would you like to give our API-Git integration a try? Here is a blogpost around that: https://blog.postman.com/better-practices-for-git-version-control-in-postman/

Let us know if that doesn't solve your use-case.

[2022-06-21 15:50] DanielcB123 commented on #5681
This worked great! Thank you.

[2022-06-21 18:28] bachi76 opened #11028 "Call stack size exceeded when generating collection from GraphQL schema"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The issue described in https://github.com/postmanlabs/postman-app-support/issues/10266 (Closed) appeared again. Kindly refer to 10266 for details how to reproduce.

Here's the used GraphQL schema: [schema.zip](https://github.com/

[2022-06-21 18:43] abhijeetborole commented on #10972
@daniel-commure When you run into the issue:
For console logs,
from `View` -> `Developer` -> `View logs in Finder`.

For network logs,
![image](https://user-images.githubusercontent.com/9638586/174871639-b2ba4190-4310-4e68-9e41-d994e9664243.png)
|:--:|
| <b>Fig. 1</b>|

![image](https://user-images.githubusercontent.com/9638586/174871815-8d36c971-342c-4cb4-bc36-6856070288b3.png)
|:--:|
| <b>Fig. 2

[2022-06-21 19:41] codejockey68 opened #11029 "Allow raw paste of multiple headers into the Headers tab, like you can Body tab, instead of having to enter multiple keys,values separately"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

This is about UX and saving time.

In a lot of instances, I already have a nice collection of headers ready to paste, but in the current Postman UI I do not see any way to use them other

[2022-06-21 19:42] godfrzero commented on #3171
The timeout for all monitors have been extended to 10 minutes now. We're working on additional timeout extensions and, if necessary, configuration options. I'll post additional updates here as they become available. 👋

[2022-06-21 19:54] shubhbhargav commented on #11029
@codejockey68 This feature exists in the current version of the product as well. :)

You can click on `Bulk Edit` on the top right corner of the Headers table and copy paste the above mentioned headers in bulk.

Let me know if that works for you.

[2022-06-21 20:33] codejockey68 commented on #11029
In the windows version of the app, in build mode i am in the Headers tab and do not see Bulk Edit anywhere.

I do see the Code window…which is cool… but no Bulk Edit so far.

Sent from my iPhone

[2022-06-21 20:38] godfrzero commented on #7263
Closing due to age + lack of activity.

[2022-06-21 20:38] #7263 closed, assigned to godfrzero

[2022-06-21 22:17] atlas-tbrown commented on #5980
Happens constantly for me as well. Even after removing all collections i had.

[2022-06-22 03:15] shubhbhargav commented on #11029
Can you please share a screenshot and also the Postman app version?

Here is what I am seeing in Postman App 9.22.1 on Mac:
<img width="1102" alt="Screenshot 2022-06-21 at 8 12 05 PM" src="https://user-images.githubusercontent.com/41579749/174935817-82d694bd-04d1-4efd-8c48-42aa34b5371e.png">

[2022-06-22 03:19] blakeworsley commented on #8322
Pretty please!

[2022-06-22 04:09] codejockey68 commented on #11029
Latest Windows version. Can you see the screenshot in my last email?

Sent from my iPhone

[2022-06-22 04:41] sanket3080 opened #11030 "Drag and drop feature for requests in collection is not working properly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Suppose we have 10 requests in a collection which are numbered sequentially like Request1, Request2, Request3.... and so on.
If we try to drag Request 4 and drop it between Request 9 and Request 10 it is getting dropped in betwee

[2022-06-22 05:21] sanket3080 opened #11031 "Assertions are getting repeated from 1st request in collection during collection run using postman runner"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When we run collections using collection runner assertions from 1st request in the collection are getting repeated.

### Steps To Reproduce

1. Create a collection
2. Add a HTTP request to any public API I used https://catfact.ni

[2022-06-22 05:29] giridharvc7 commented on #11030
@sanket3080 Can you share some logs and a screen recording of this?

[2022-06-22 05:33] sanket3080 commented on #11030
@giridharvc7  sure give me 10 mins

[2022-06-22 05:41] sanket3080 commented on #11030
@giridharvc7  This is happening with one of my existing collection I cannot share recording for it as it contains sensitive information.
I tried a new collection of public APIs but could not reproduce this

[2022-06-22 07:35] sanket3080 commented on #11030
@giridharvc7  Here is the gif that explains the issue

[2022-06-22 07:36] sanket3080 commented on #11030
This is happening when there are multiple folders in collection

[2022-06-22 07:40] sanket3080 commented on #11030
[New Collection.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/8955482/New.Collection.postman_collection.json.zip)
This is the collection used for recording above GIF

[2022-06-22 08:59] ShukujiNeel13 commented on #9780
Had the same issue, in my case this is due to updates to Variables
A screenshot of the conflict showing in the app attached below.

I ensured that in the fork, the variables order and names matches that of the source collection,
but still this conflict does not go away - from what I see the names of the variables have become jumbled up somewhere - perhaps in the synced version and are not getting

[2022-06-22 09:09] giridharvc7 commented on #11030
Thank you for the details. We are looking into this!

[2022-06-22 09:40] danielbeveridge commented on #10684
![image](https://user-images.githubusercontent.com/107993117/174997606-7029a293-f217-4e8d-8de6-4e42ff4f91f9.png)

Can't be completed

[2022-06-22 10:02] malvikach commented on #11031
@sanket3080 thanks for reporting this. Apologies for your experience.

We are aware of this issue (reported originally [here](https://github.com/postmanlabs/postman-app-support/issues/9862))

The actual test runs only once (you can confirm this via console). This is a UI Bug where the Results shows that the test ran twice even though it only ran once. I understand it might be confusing. Please fee

[2022-06-22 10:02] #11031 closed, assigned to malvikach

[2022-06-22 11:39] marceldenouden commented on #422
exactly what i needed. HL7 does not allow \n, but \r or \r\n are ok

[2022-06-22 11:40] marceldenouden commented on #422
This should be a setting on the "body" in postman

[2022-06-22 14:10] yaugenka commented on #11026
I do not use APIs. I have collections only and need to be able to commit them into a local git repository (not a public one like github).

[2022-06-22 14:57] yaugenka commented on #10328
+1 for this feature.
Assume there are several collections which represent different projects and there are live and dev envirounments.
It is very nice that you can easily switch beween environments when working inside a collection (project) but you must have the hosts of all your projects defined in envirounment variable for this to work.
Basically this makes you define your project related stuff

[2022-06-22 15:18] giridharvc7 commented on #11030
We've raised a fix. Should be available with version 9.22.3. It's in the process of roll out.

[2022-06-22 16:28] stcalica commented on #4341
hey team! also an issue for me, any request returning an error status code halts the entire test suite.
Could we get an option in the collection runner AND monitors to continue if an error status code returns.

[2022-06-22 20:45] timbochamp commented on #10798
Thanks for the reply, @w4dd325. I'm seeing the same when resizing until I get the flickering scrollbars. Logging a bug and will provide updates here with resolution steps!

[2022-06-22 22:06] deefactorial commented on #10192
I'm seeing the same issue as well, when can we have an ETA on this?

[2022-06-23 01:38] epubreader commented on #11022
I have the same issue with postman, Operation system: manjaro

[2022-06-23 03:55] shubhbhargav commented on #11026
I see. I have marked this ticket as a feature request for now. We will get back to you on this.

[2022-06-23 03:57] shubhbhargav commented on #11025
Got it. Thanks for the feedback @yaugenka. As of now, we don't have an immediate plan to support this feature but we will keep it in our backlog and update here once we take it up.

[2022-06-23 04:02] shubhbhargav commented on #11029
@codejockey68 Unfortunately I can't see the screenshot in the previous thread messages. If you don't mind, can you please share that again?

[2022-06-23 04:27] sanket3080 commented on #11030
@giridharvc7  Thank You

[2022-06-23 04:34] giridharvc7 commented on #11030
@sanket3080 can you confirm if things are working as expected ?

[2022-06-23 04:35] sanket3080 commented on #11030
Yes it is working as expected with v9.22.3

[2022-06-23 05:30] malvikach commented on #4341
@stcalica I understand this could be a problem. This issue has been on our radar.

Wanted to understand the error status a bit more though. What kind of errors do you usually face (if you could give 2-3 examples).

Another point to think about here is that if a request failed due to an error and none of its tests got executed- We will need to indicate that the attached tests were neither skipped n

[2022-06-23 05:45] #11030 closed, assigned to nobody

[2022-06-23 06:03] RaisinTen commented on #11022
@mrcaidev @epubreader how did y'all download Postman btw? Could y'all try to download it from https://www.postman.com and let me know if this issue still persists?

[2022-06-23 07:38] RaisinTen commented on #11022
I tried to install Postman v9.19.0 on a `manjaro-xfce-21.2.2-220123-linux515.iso` VM running on Parallels, both from https://www.postman.com as well as the snap (`sudo snap install postman`) and I'm not able to reproduce this error on either one of them. These are the [only officially supported ways of installing Postman on Linux](https://learning.postman.com/docs/getting-started/installation-and-

[2022-06-23 09:39] mcnallyjames commented on #6001
Hello I am now having this issue:
Version 9.21.4
Steps to reproduce:
Using Enviroment set the inital value and/or current value (For the below screenshots I have done both however tried all combinations of the variable value)
Click Save (IMG 1)
Open a Post Request within the collection on the workspace and check value of Enviroment Variable (IMG 2)
Send the request, check console once error occurs

[2022-06-23 13:25] vikinzer commented on #2734
This has not been fixed and the "We have a plan" post is 3 years old.  This is kind of ridiculous.

[2022-06-23 14:43] profplum700 commented on #8348
If you are setting setting the URL from a Collection variable this issue still occurs.

[2022-06-23 14:55] alukycode opened #11032 "Add button to collapse all changes on 'Merge Changes' page"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When I change collection and add / delete multiple requests with examples into it, all items are shown uncollapsed by default. It's hard to make sure that I didn't accidentally change any

[2022-06-23 16:07] mcnallyjames commented on #6001
I seem to have found a workaround which has worked.
Take the value stored in inital value, copy it and put it in Current Value > Click Persist All > Click Save > Run the request and the value from Current is stored correctly and results are returned.

[2022-06-23 16:13] presiden commented on #3694
I create an API for learning, with many fields of form-data include upload file. I hit the API several times for input data to database, i should save the example for each time hit API. Because for some cases (restructure table, some testing) , i deleted data in database and need to hit the API with same data.

Without send button, i must copy form-data by click bulk-edit, then create new request,

[2022-06-23 16:25] timbochamp commented on #10993
Hi @donislawdev, thanks for reporting! I cannot reproduce this on Postman for Web version 9.22.4 and Firefox 101.0.1. Can you please confirm that you still see this problem on these versions?
<img width="1291" alt="Screen Shot 2022-06-23 at 1 23 56 PM" src="https://user-images.githubusercontent.com/4521134/175347996-9b1a04b0-915b-411f-8ef4-adfaadb67f30.png">

[2022-06-23 16:59] #10930 closed, assigned to nobody

[2022-06-23 17:12] #11001 closed, assigned to nobody

[2022-06-23 17:23] suntoshakula commented on #6001
yep thats what i meany by click on persist because it copies from current to initial value when you click persist. glad it worked for you because it worked for me before too. take care

[2022-06-23 17:33] timbochamp commented on #10976
Thanks for reporting! I'm able to see the same on Windows and have logged a bug. We'll report back with updates here

[2022-06-23 17:37] idearat commented on #10862
One thing to watch out for is pre-request scripts which might be setting them programmatically as part of the collection.

[2022-06-23 17:57] timbochamp commented on #11028
Going to group this as a duplicate of #10717 where I believe the fix should address both. We can re-open if that's not the case

[2022-06-23 17:57] #11028 closed, assigned to nobody

[2022-06-23 18:09] GuildGamer commented on #4671
Inter-galaxy travel is now a thing, people now communicate telepathically and man has been able to land on the sun but still no autosave from Postman.

[2022-06-23 18:22] dctelus commented on #3097
I am still facing this issue in v9.22.3; there is no way to scroll the run summary:
![image](https://user-images.githubusercontent.com/93535080/175368210-0b42ea6f-0b1a-4f39-8688-52c946547282.png)

[2022-06-23 20:01] timbochamp commented on #10984
Hi @aforty, I'm not able to reproduce this behaviour. Do you have any software that would auto-capitalize with that pop-up that shows between the 0 and 1-second mark of your recording? I believe even having the macOS setting in "Keyboard > Capitalize words automatically" shouldn't even auto-capitalize within the app

[2022-06-23 20:18] aforty commented on #10984
@timbochamp Maybe this general macOS keyboard setting? There is a way to explicitly not respect this option on text fields.

<img width="643" alt="Screen Shot 2022-06-23 at 4 17 09 PM" src="https://user-images.githubusercontent.com/523683/175392054-f1fbd83e-8267-476e-bfcf-5e1d70c2a4a7.png">

[2022-06-24 05:40] ankitjaggi commented on #9780
Hey @ShukujiNeel13! Would it be possible for you to share the involved collection or the Pull Request IDs with us over an email to [help@postman.com](mailto:help@postman.com)? This will help us in better debugging the issue.

[2022-06-24 06:06] kamaraju-p commented on #10987
Hi @pglezen, thanks for reporting this. We are working on resolving the issue and will update once the fix is deployed.

[2022-06-24 09:07] VaishnaviChallaPostman commented on #2734
Hey everyone 👋
Sorry for the inconvenience caused. We understand your concern.
Our team is looking into this issue and we will provide any updates here on this thread.
Thanks for your patience :)

[2022-06-24 09:28] donislawdev commented on #10993
Hi @timbochamp
For me, this issue still occurs, you are using 32-bit Firefox, mine is 64-bit. Unfortunately, on my machine I can't install Firefox 32-bit, so I can't check if it would work on 32-bit version.
![StillTheSame](https://user-images.githubusercontent.com/26207295/175506459-6fb02d86-9962-4345-8da8-d7028f0c0d46.png)

[2022-06-24 10:04] epubreader commented on #11022
can you remove postman and then try this command ` pacman -S postman`?
thanks.

[2022-06-24 10:25] RaisinTen commented on #11022
@epubreader I tried that and it produces an error for me:
[code]

[2022-06-24 10:27] kamalaknn commented on #5980
Hey @vizakgh @atlas-tbrown

Could you drop us an email at `help@postman.com`? It will help us set up a time for debugging session to investigate the root cause of this issue.

[2022-06-24 10:42] mrcaidev commented on #11022
Thanks! I installed Postman from official download website and it works. Maybe the problem is on the AUR side.

[2022-06-24 10:42] #11022 closed, assigned to nobody

[2022-06-24 10:46] RaisinTen commented on #11022
@mrcaidev Feel free to report the problem on the AUR issue tracker and drop a link here! We'll be happy to help out the maintainers, so that no one else has to face this problem. :)

[2022-06-24 11:43] ludwa6 opened #11033 "New Integration Request - add JSON Schema to "Import" facility"
### Describe your current workflow

I use Postman to both GET and POST information about operations of my farm to its online system-of-record via [the farmOS API](https://farmos.org/development/api/).

As described on that page, "farmOS adheres to the [JSON:API](https://jsonapi.org/) specification, and [JSON Schema](https://json-schema.org/) is used to describe the available API resources."

[This

[2022-06-24 11:47] ShukujiNeel13 commented on #9780
Unfortunately I had already applied the workaround and deleted the affected
collection.
If you review my comment again you may be able to reproduce the issue with
the steps I mentioned.

On Fri, 24 Jun 2022 at 1:40 PM, Ankit Jaggi ***@***.***>
wrote:

[2022-06-24 11:48] iamnotturner commented on #8231
+1

[2022-06-24 11:50] abhijitkane commented on #11033
Thanks @ludwa6 - your explanation was super-helpful. Can you link to / share a slice of the collection that you've compiled? The way you're mapping the JSON schema to requests would be interesting to see. cc @akshaydeo

[2022-06-24 12:52] brunohanss commented on #8195
This would be a must-have !

[2022-06-24 12:52] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2022-06-24 13:44] timbochamp commented on #10984
Right, that's the setting I mean. When unselecting that setting, do you still see words being auto-capitalized within Postman?  I'm wondering if there's a regression where previously the Postman app would not auto-capitalize on older macOS versions even when that setting is enabled.

[2022-06-24 14:41] timbochamp commented on #10993
Ah, good catch! I tried on 64-bit Firefox and I see Firefox 101 in my Postman settings > About. Wondering if this has to do with the 9.23 web version that was released if you could re-verify it?
![Screen Shot 2022-06-24 at 11 39 16 AM](https://user-images.githubusercontent.com/4521134/175558924-ce5eead3-68fc-47ca-bf6d-b57ca3cc2112.png)

[2022-06-24 14:42] aforty commented on #10984
Oops... I had an auto-replace rule for `i` to `I`. So this is completely on me and nothing to do with either of those settings. Nevermind.

[2022-06-24 14:42] #10984 closed, assigned to nobody

[2022-06-24 14:44] VShingala commented on #10717
@Jiarius @aranya0 @stanislavnastasiu-dev We've identified the issue here and will be fixing it soon. I'll update this thread once it's available.

[2022-06-24 15:15] VShingala commented on #10085
@mtaylorSF Could you also share the GraphQL API schema that you're working with? Alternatively, You can also mail it to us at help@postman.com and link this GitHub issue link in the mail. It'd help us out in debugging the exact issue.

[2022-06-24 16:36] donislawdev commented on #10993
@timbochamp
OK, I tested it and on my Firefox the issue still occurs, not sure why, maybe it's because I installed Firefox like 10-15 years ago? It's a very old version, I was moving it from various Windows versions. Maybe that's why.
![StillTheSame2](https://user-images.githubusercontent.com/26207295/175579722-19dd44d2-55a5-44ac-afbc-f9929aabcf13.png)

But I tested a portable Firefox (same machin

[2022-06-24 16:36] #10993 closed, assigned to nobody

[2022-06-24 17:44] sharunkumar commented on #1947
upsert is still not working the way that its mentioned 🤔

[2022-06-24 18:37] shubhbhargav commented on #8348
@profplum700 Can you please share a recording of the issue and also let us know which Postman app/web version you are using?

I tried reproducing the issue on Postman Web Version 9.22.5-220624-0940, but it worked as expected. Sharing the recording from my end to verify the steps:

https://user-images.githubusercontent.com/41579749/175645117-9beaaeae-7110-41ca-ba8a-3910531078ea.mov

[2022-06-24 19:48] mrthomaskim commented on #6452
ditto, need MFA. anything is better than just typing the passwords

[2022-06-24 20:38] blackwiz4rd commented on #9612
This feature would be awsome as state above to run automated testing with different bodies.

[2022-06-24 23:26] jjkirby commented on #8827
Will this also support a "local" ref?  For example, we use a mono repo where common schema models such as 404 response models are kept in another directory in the repo.  It would be nice when you import/sync with GitHub that you can pull down those model files as well. Currently, Postman doesn't recognize them so you can't import them

[2022-06-25 02:14] darrencapner opened #11034 "API Designer Validation not finding new Request Definition"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When adding a new GET request definition in API Designer under a path of /{driverid}, the validation of an existing collection that is associated as a contract test to the API Spec does not show up as a difference to modify colle

[2022-06-25 03:28] nashokin opened #11035 "Crash after update"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman crashes after auto update. Using Windows 11 on arm64 device, Surface Pro X. All latest updates, from the release/stable stream is installed.

### Steps To Reproduce

1. Download the latest installer, 9.21.3 in this case
2

[2022-06-25 07:33] Niloo721 opened #11036 "GUID of code snippet and console log Unification"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Because we are monitoring sensitive APIs using postman and often the API status is 504 error, we used traceid snippet to check for errors and searched our system logs.
And before, we used

[2022-06-25 07:50] DannyDainton commented on #11036
Hey @Niloo721

The `{{$guid}}` variable is a dynamically changing helper which gets created at runtime (when you send the request).

This isn't unique to that helper, you would see the same behaviour on the other dynamic helpers (For example `{{$randomInt}}`)

The guid you sent with the request (The one in the console log) and the one in the snippets would always be different.

The only way that t

[2022-06-25 10:40] starseaing commented on #10189
Dear, is this feature under planning?

[2022-06-25 10:48] Setitch commented on #10261
+1 - just tried to use the feature and failed because of lack of this

[2022-06-25 12:02] aminvakil commented on #11022
I can run without a problem both from desktop and terminal.

[2022-06-25 14:19] stlng1 commented on #5681
I have this same problem. I have tried all the suggestions above unsuccesfully. Can you help?

![postman1](https://user-images.githubusercontent.com/101927258/175777506-f5e384d7-577e-4d30-9ab9-4d55e375ad23.png)

2017-12-23 08:56:42> Program: Starting Squirrel Updater: --install .
2017-12-23 08:56:42> Program: Starting install, writing to C:\Users\FEMMY\AppData\Local\SquirrelTemp
2017-12-23 08:56:4

[2022-06-26 05:30] bombillazo commented on #8322
+1 as well

[2022-06-26 06:48] stlr00 commented on #10923
Any news?

[2022-06-26 08:36] Niloo721 commented on #11036
Hey Danny,
 I understand what you say but in the previous version of Postman, we don't have this problem...
and I think, one thing is changed because we use the guid in snippet and console log all the time and we don't have this problem before.
Thank you for taking the time to respond to me

[2022-06-26 08:43] DannyDainton commented on #11036
Which version would that have been?

I'm trying to think of a version that it would have worked in that way? 🤔

[2022-06-26 17:25] shubhbhargav commented on #3097
Thanks for bringing this issue to our attention @dctelus. I am reopening it.

[2022-06-26 18:07] shubhbhargav commented on #1947
@sharunkumar Can you please share a screen recording of the issue to help us debug this further? I tried it out on the latest version (9.22.5-220624-0940) and could see that the upsert is working fine for me. Sharing the screen recording below:

https://user-images.githubusercontent.com/41579749/175827927-f6048810-7f47-4ebd-aead-b1d0c4ec2c92.mov

[2022-06-26 19:50] Gilaad-Elstein commented on #903
+1 would really like this.

[2022-06-26 22:00] bellicose100xp commented on #8195
+1

[2022-06-27 02:49] brantyou opened #11037 "Pre-request Script http request body lost"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I use the pre request script to obtain the token through the pre request interface, I find that the requested body is lost.

pre request script
[code]

request console log, see the screenshots

### Steps To Reproduce

1. add

[2022-06-27 03:44] malarcono commented on #3121
still no updates? I am learning API testing but the tool being used is Postman, will try with the links shared in the eomments.

[2022-06-27 04:34] kamalaknn commented on #11035
Hey @nashokin could you share the logs from `View -> Developer -> View logs in Explorer` with us through `help@postman.com`?

[2022-06-27 08:32] #11035 closed, assigned to nobody

[2022-06-27 08:45] DannyDainton commented on #11037
Hey @brantyou,

The syntax that you're using isn't correct so it wouldn't show that in the console. The `body` would need to be passed as a certain _type_, this is just an example as I'm unsure what body type your endpoint requires:

[code]

[2022-06-27 09:25] robinpecha commented on #2931
Some version updates in PPA, pls?

[2022-06-27 10:46] DannyDainton commented on #7788
Closing this issue due to inactivity - If this can be recreated on the latest version of the platform, we can look to reopen the issue.

[2022-06-27 10:46] #7788 closed, assigned to vikiCoder

[2022-06-27 10:48] DannyDainton commented on #7825
Closing this due to inactivity - If the issue can be reproduced on the latest version, we can look to reopen it again.

[2022-06-27 10:48] #7825 closed, assigned to nobody

[2022-06-27 10:52] DannyDainton commented on #6709
Closing this issue due to inactivity.

[2022-06-27 10:52] #6709 closed, assigned to vkaegis

[2022-06-27 11:00] DannyDainton commented on #6367
In the latest version of the platform, the request methods are right-aligned.

![image](https://user-images.githubusercontent.com/17089546/175926443-1828c8a7-01e5-4dc3-a5e7-2ee5dede6862.png)

[2022-06-27 11:05] boskomirkic opened #11038 "Private workspace ends up without an Admin"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have encountered a scenario where Private workspace can end up without admin; it is when the only Private workspace Admin is removed from a team by Team Admin via "Manage team", while there is another Private workspace member w

[2022-06-27 11:09] DannyDainton commented on #7884
Unable to replace this issue on the Safari with the latest version - Going to close this issue for not but if you can recreate this in the latest version we can look to reopen it again.

[2022-06-27 11:09] #7884 closed, assigned to Cazaimi, Raja-Simha

[2022-06-27 11:13] DannyDainton commented on #8009
Hey @tithisharma98 / @tsheaff Is this still an issue that you're facing? If not, could we close this out now?

[2022-06-27 11:16] DannyDainton commented on #8079
Closing due to inactivity.

[2022-06-27 11:16] #8079 closed, assigned to appurva21

[2022-06-27 11:47] Raiccio commented on #6780
Same, Postman 9.19.0 desktop app on Win 10 64-bit. Suddenly stopped loading (when I was signed in). Then I removed the local data (Local and Roaming). Now it wouldn't log in.

[2022-06-27 11:56] #8236 closed, assigned to abhijitkane

[2022-06-27 12:04] carlosnizolli opened #11039 "Monitoring continues after workspace is deleted"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Monitor keeps enabling and sending alerts even after deleting the workspace

### Steps To Reproduce

1. Create a workspace
2 . Create a Collection and Monitor
3 . Delete the workspace

### Screenshots or Videos

![image](https://

[2022-06-27 12:04] DannyDainton commented on #8274
That appears to be an older version of the Postman API documentation - The new UI states that only the `x-api-key` can be used in the header.

![image](https://user-images.githubusercontent.com/17089546/175936957-9d4c218d-5e4e-4930-9dbc-7b2faaa08ab9.png)

More details can also be found in the learning center:
https://learning.postman.com/docs/designing-and-developing-your-api/mocking-data/setting-

[2022-06-27 12:04] #8274 closed, assigned to vvs11

[2022-06-27 12:09] DannyDainton commented on #8276
Hey @RezaT1994

Given the information that you have provided, it's going to be difficult to recreate this issue. I'm going to close this for now but if you can provide clear steps to produce the problem or a link to an existing collection, we can look to investigate this further.

[2022-06-27 12:09] #8276 closed, assigned to Raja-Simha

[2022-06-27 12:13] DannyDainton commented on #7991
The original link looks to be pointing to the deprecated Postman API documentation - The most up-to-date version can be found in this public workspace.

https://www.postman.com/postman/workspace/postman-public-workspace/example/12959542-f6f8cf93-7b52-4167-bf91-cb38d13684e1

[2022-06-27 12:13] #7991 closed, assigned to bpedro

[2022-06-27 12:16] DannyDainton commented on #8315
Closing due to inactivity.

[2022-06-27 12:16] #8315 closed, assigned to giridharvc7

[2022-06-27 12:24] DannyDainton commented on #8339
Hey @AnthonyDesa

I'm going to close this out due to inactivity - If you have the information that has been requested, we can look to open this again and investigate further.

[2022-06-27 12:24] #8339 closed, assigned to abhijitkane, Raja-Simha

[2022-06-27 12:26] DannyDainton commented on #8342
Hey @MarcBKirsch

I'm unable to reproduce this issue in the latest version of the platform. If this is still an issue that you're facing and you can provide some steps to consistently recreate the problem, we can look at opening the issue again.

[2022-06-27 12:26] #8342 closed, assigned to giridharvc7

[2022-06-27 12:27] kesavanmurali commented on #9242
Hi all,

For me, it is a surprise that this feature is not already present in Postman.  Hope it will be added sooner.

Thanks.

[2022-06-27 12:29] #8346 closed, assigned to giridharvc7

[2022-06-27 12:42] DannyDainton commented on #8356
You could access something like that using this in the Collection pre-request script:

[code]

Then you would call that in a request using:

[code]

The `pm` argument is needed here or that function wouldn't execute correctly.

[2022-06-27 12:42] #8356 closed, assigned to giridharvc7

[2022-06-27 12:55] DannyDainton commented on #8417
Hey @oceanapplications

Is this still an issue that you're facing in the latest version of the platform?

[2022-06-27 13:00] #8516 closed, assigned to nobody

[2022-06-27 13:09] DannyDainton commented on #8482
If the original request has the `content-type` header manually added, rather than the helper adding this to the auto-generated header - This would show in the saved example.

[2022-06-27 13:13] #8600 closed, assigned to nobody

[2022-06-27 14:23] jviotti commented on #5681
Re-opening this ticket so we can investigate further.

[2022-06-27 16:08] steverawlins-zebra commented on #10870
I am attempting to use gRPC requests and having problems.  Postman tells me it has "encountered an error" - but, please, what it is?  Tell me more.

https://user-images.githubusercontent.com/52328771/175985742-f8d48acb-5b63-4b8b-8b34-71b334b24599.mov

[2022-06-27 16:09] steverawlins-zebra commented on #10870
Here are the Postman logs
[PostmanProblemLogs20220627.zip](https://github.com/postmanlabs/postman-app-support/files/8993606/PostmanProblemLogs20220627.zip)

[2022-06-27 16:49] DannyDainton commented on #8978
Closing this due to inactivity, if you're still facing this issue we can look to reopen this again.

[2022-06-27 16:49] #8978 closed, assigned to ankit-m

[2022-06-27 16:51] DannyDainton commented on #8992
Closing this issue due to inactivity.

[2022-06-27 16:51] #8992 closed, assigned to giridharvc7

[2022-06-27 16:55] DannyDainton commented on #9065
Closing this as per the suggestion by @kevinswiber

[2022-06-27 16:55] #9065 closed, assigned to nobody

[2022-06-27 16:56] DannyDainton commented on #9041
Closing this issue due to inactivity, if you're still facing this issue with the latest version of the platform we can look at reopening it agian.

[2022-06-27 16:56] #9041 closed, assigned to nobody

[2022-06-27 16:56] ak4sh18 commented on #9429
works fine if you install from Homebrew :

brew install --cask postman

[2022-06-27 17:03] DannyDainton commented on #9085
There have been various changes made to the UI in the latest version of the platform. The original issue is showing a very outdated app.

[2022-06-27 17:03] #9085 closed, assigned to nobody

[2022-06-27 17:06] #9108 closed, assigned to nobody

[2022-06-27 17:11] DannyDainton commented on #9106
Hey all,

I'm unable to recreate this issue within a JIRA ticket, could someone who is still having these issues post an image of what you're seeing, please.

[2022-06-27 17:12] DannyDainton commented on #9126
Closing this due to inactivity.

[2022-06-27 17:12] #9126 closed, assigned to nobody

[2022-06-27 17:14] DannyDainton commented on #9172
Hey @jkewley

I've been unable to recreate this issue, are you still facing issues with the latest version of the platform?

[2022-06-27 17:18] DannyDainton commented on #9219
The request in the collection has been updated.

https://www.postman.com/postman/workspace/f21c2968-b83d-485e-9360-21fc4de72be3/request/631643-843acf02-a33c-c4bb-d742-c07b9212e4b0

[2022-06-27 17:18] #9219 closed, assigned to nobody

[2022-06-27 17:19] jkewley commented on #9172
It's been two years and two companies. I abandoned the team subscription at that company and won't pay for it again or suggest that my current company invest in Postman

[2022-06-27 17:19] #9172 closed, assigned to nobody

[2022-06-27 17:20] DannyDainton commented on #9282
Closing the issue due to inactivity. If you're still facing any issues in the latest version we can look at reopening this again.

[2022-06-27 17:20] #9282 closed, assigned to giridharvc7

[2022-06-27 17:29] theinfamousmielie commented on #4791
So slightly ressing an old thread. It'd be nice if this was native, but it's not. However what I've done might be "good enough"

So I've got my various GET, POST, DELETE etc requests in a collection. I have two environments, Production and Local. They have a hostname variable as well as a `run-destructive-requests` variable. On Production environment that variable is set to 0, on Local environment

[2022-06-27 18:16] coto commented on #6367
Thank you @DannyDainton

[2022-06-27 19:51] jviotti commented on #5681
@stlng1 From which path specifically did you get those logs from?

If I take a look in my system, where I also installed WhatsApp and Slack to attempt to reproduce (both WhatsApp and Slack are also apps using the same distribution technology as Postman), then I see two log files:

- `AppData\Local\SquirrelTemp\Squirrel-Install.log`
- `AppData\Local\SquirrelTemp\SquirrelSetup.log`

In my case, the

[2022-06-27 19:56] jviotti commented on #5681
Apparently, Squirrel might also create other logs on that directory too, depending on the action triggered. Is there a chance you can ZIP them all and share them here?

[2022-06-27 23:43] godfrzero commented on #11007
Hey @pbinne, monitors run in the Postman cloud and so can only hit addresses which are accessible via the internet. Can you confirm that the address you're trying to hit (http://10.100.0.55:9000/ROI) is publicly accessible?

[2022-06-27 23:46] godfrzero commented on #10787
Closing for now since we can't recreate the issue.

[2022-06-27 23:46] #10787 closed, assigned to godfrzero

[2022-06-27 23:48] godfrzero commented on #10330
Closing due to lack of activity + taking the recent timeout extension to 10 minutes into account.

[2022-06-27 23:48] #10330 closed, assigned to godfrzero

[2022-06-28 05:36] alno74d opened #11040 "Cannot generate collections with examples using Postman public API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When generating a collection from postman GUI I can generate the request parameters based on the schema or the example:
 <img width="626" alt="image" src="https://user-images.githubusercontent.com/16304323/176099311-810bd61f-8242

[2022-06-28 06:05] Niloo721 commented on #11036
Hi,
 I don't remember what the previous version was but I'm sure we haven't had this problem before, and this has happened recently because we are monitoring the API every day and checking traceids in our logs, and it has been the case before.

[2022-06-28 07:30] nickserv opened #11041 "Allow inspecting GraphQL schema documentation from a query"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I find it significantly more difficult to write GraphQL requests in Postman than other tools because there seems to be no way to look up GraphQL schema documentation from my query code. C

[2022-06-28 08:16] postman-support commented on #11039
Hi @carlosnizolli,

Sure, we will be happy to help you resolve this case.
Could you submit a support request here: https://support.postman.com/hc/en-us/requests/new which should help us gather user details for the account that continues to see these notifications.

Awaiting your response.

via @Raj-postman | Postman Support

[2022-06-28 09:00] DannyDainton commented on #9075
Hey @JeffIPV

I know that it's been a while but is this still an issue for you? If not, can we close this issue out?

[2022-06-28 10:39] venkatj1983 opened #11042 "Error when importing a JSON file"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Getting error message on importing json file. When 2 collection got exported and merged into single, after importing the latest json file getting the following error message "Error while importing: format not recognized

### Step

[2022-06-28 10:46] codenirvana commented on #10870
@steverawlins-zebra I am not able to reproduce this issue locally, can you try updating your app to the latest version and check if the issue persists?

[2022-06-28 10:48] DannyDainton commented on #11042
Hey @venkatj1983

Can you elaborate more on point 3, please? What was the final outcome of this merging of the files, can you share a copy of the Collection.

The structure of the Collection needs to be valid for it to be imported, I'm not sure of the merged files structure.

[2022-06-28 10:58] DannyDainton commented on #9112
Hey @freerider7777

Is this still an issue for you, I can manually recreate it by clicking the send button quickly but I'm not really sure of the use case here. Are you also seeing this during automation runs?

I'm going to close this issue for now as I don't think this is something that we're going to be 'fixing'. Of course, if this is impacting several users we can investigate further.

[2022-06-28 10:58] #9112 closed, assigned to nobody

[2022-06-28 11:09] DannyDainton commented on #9082
Hey @nickchampion

I'm unable to recreate this issue using the latest version of the platform. I'm going to close this out for now but we can look at reopening this issue if you're still seeing the same problem.

[2022-06-28 11:09] #9082 closed, assigned to appurva21

[2022-06-28 11:21] DannyDainton commented on #9140
Hey @pss-miracle

I know it's been a while - Apologies for that. 😬  Are you still facing this issue in the latest version of the platform?

I'm going to close out this for now but if this is still a problem for you, we can look to reopening this again.

[2022-06-28 11:21] #9140 closed, assigned to nobody

[2022-06-28 11:29] DannyDainton commented on #9314
I'm unable to recreate this issue in the latest version of the platform. I'm going to close this for now but if you're still facing a problem we can look to reopen this again.

[2022-06-28 11:29] #9314 closed, assigned to nobody

[2022-06-28 11:30] DannyDainton commented on #9294
Hey @gauthierpetetin

Is this still continuing to be an issue on the latest version of the platform? I'm unable to recreate this on my side.

[2022-06-28 11:36] Download opened #11043 "Use /r/n as newline in raw body"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Trying to figure out why my HMAC hash does not match with the one calculated here:
https://www.freeformatter.com/hmac-generator.html

The web tool uses a textarea and HTML mandates that /n is used for newlines.
HTTP also mandates

[2022-06-28 11:36] DannyDainton commented on #9235
Closing this issue due to inactivity.

[2022-06-28 11:36] #9235 closed, assigned to nobody

[2022-06-28 11:43] DannyDainton commented on #9343
Closing due to inactivity. If you're still facing an issue with this in the latest version, could you update your issue and add more contextual information and clear steps to reproduce.

[2022-06-28 11:43] #9343 closed, assigned to vikiCoder

[2022-06-28 11:47] DannyDainton commented on #9348
I'm unable to recreate this issue in the latest version of the platform.

If you're still facing this issue, could you add a short recording of the problem you see?

Closing this one out for now.

[2022-06-28 11:47] #9348 closed, assigned to giridharvc7

[2022-06-28 11:47] mehrdadjavidan opened #11044 "Blank tabs do not close"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Blank tabs are created that do not close. They will duplicated(by clicking Duplicate tab), but not closed, even by Force Close All Tabs.

### Steps To Reproduce

- - -

### Screenshots or Videos

![2022-06-28_16-08-05](https://us

[2022-06-28 11:49] mehrdadjavidan commented on #11044
![2022-06-28_16-08-05](https://user-images.githubusercontent.com/31864084/176171326-95cfb5b2-ecbe-48bf-b45a-06fb339ad321.png)

[2022-06-28 11:50] DannyDainton commented on #9358
I'm unable to recreate this issue in the latest version of the platform. Closing this out for now.

[2022-06-28 11:50] #9358 closed, assigned to nobody

[2022-06-28 11:53] DannyDainton commented on #11044
Hey @mehrdadjavidan

If you use the `Help > Clear Cache and Reload` option, does that remove the tabs?

[2022-06-28 11:57] DannyDainton commented on #9361
Hey @TheBoneJarmer

I know it's been a while but is this still something that you're having issues with on the latest version of the platform and Postman Agent?

[2022-06-28 12:03] DannyDainton commented on #9372
I'm unable to recreate this issue in the latest version of the platform. Closing out for now.

[2022-06-28 12:03] #9372 closed, assigned to nobody

[2022-06-28 12:05] #9432 closed, assigned to nobody

[2022-06-28 12:07] TheBoneJarmer commented on #9361
Hey @DannyDainton

Honestly completely forgot all about this. Indeed, has been a while and I vaguely remember it again. Thanks for checking it out though. I appreciate it. :)

Anyhows, I have not used Postman for a while and I have no use case for it either so I cannot quickly test it I'm afraid. But please, do leave my issue open for the time being if possible. If it helps your organization, assi

[2022-06-28 12:22] stlng1 commented on #5681
@jviotti, sorry I rolled back my system trying to resolve this problem

I already deleted the folders while troubleshooting

[2022-06-28 13:41] Raj-postman opened #11045 "Rippling x Postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Requesting Postman integration with Rippling.

### Describe the solution you'd like

To be able to manage organisation Postman user accounts through Rippling and enable Single Sign-on for

[2022-06-28 13:45] DannyDainton commented on #9501
Closing due to inactivity.

[2022-06-28 13:45] #9501 closed, assigned to nobody

[2022-06-28 13:46] jviotti commented on #5681
@stlng1 No worries. Do let us know if it happens again!

[2022-06-28 13:47] DannyDainton commented on #9521
Closing due to inactivity.

[2022-06-28 13:47] #9521 closed, assigned to nobody

[2022-06-28 14:18] rcollette commented on #3103
I want to import from API Gateway but it does not provide a way to specify session token.   It would be great if this would support typical AWS credential resolution mechanisms (credential file, environment variables, etc.).  If Postman is using the AWS SDK, then credential discovery should be rather simple.

[2022-06-28 14:24] #9772 closed, assigned to nobody

[2022-06-28 14:28] DannyDainton commented on #9782
Duplicate of #9488

[2022-06-28 14:28] #9782 closed, assigned to nobody

[2022-06-28 15:00] DannyDainton commented on #9522
I'm unable to recreate this in the latest version of the platform, closing this out for not but we can look to reopen if this is still causing you a problem.

[2022-06-28 15:00] #9522 closed, assigned to ArjunSingh-PM

[2022-06-28 15:13] #10886 closed, assigned to postman-staff

[2022-06-28 15:14] #10863 closed, assigned to postman-staff

[2022-06-28 15:15] #10177 closed, assigned to nobody

[2022-06-28 15:16] #10255 closed, assigned to pankajk07

[2022-06-28 15:23] #6188 closed, assigned to codenirvana

[2022-06-28 15:32] DannyDainton commented on #9900
This issue has been fixed in the latest version of the platform.

[2022-06-28 15:32] #9900 closed, assigned to umeshp7

[2022-06-28 15:33] DannyDainton commented on #9972
Closing this due to inactivity.

[2022-06-28 15:33] #9972 closed, assigned to nobody

[2022-06-28 15:35] #9848 closed, assigned to nobody

[2022-06-28 15:36] postman-kenji commented on #6907
Closing out given updates and time since response. @HarkinsDave please reopen this issue if you are still experiencing the same on the latest version of Postman. Thanks!

[2022-06-28 15:36] #6907 closed, assigned to codenirvana

[2022-06-28 15:39] postman-kenji commented on #7184
@abhijitkane any updates on this, or will this be considered as won't fix?

[2022-06-28 15:43] postman-kenji commented on #7180
@rimas-kudelis can you please try to reproduce the same in the latest version of Postman, and reopen this issue if it continues to be a broken experience? Thanks! cc: @abhijitkane

[2022-06-28 15:43] #7180 closed, assigned to abhijitkane

[2022-06-28 15:47] postman-kenji commented on #7572
This request requires further information. @jianglgit Please reopen if the question is still valid, with additional details. Thanks!

[2022-06-28 15:47] #7572 closed, assigned to nobody

[2022-06-28 15:47] jianglgit commented on #7572
感谢！我已经收到您的邮件。

[2022-06-28 15:52] postman-kenji commented on #7504
Closing given the age of the request. @Angelk90 please feel free to reopen if this is still an issue and you'd like to promote the request. Thanks!

[2022-06-28 15:52] #7504 closed, assigned to nobody

[2022-06-28 15:54] postman-kenji commented on #7676
Closing this issue given workarounds provided and open feature request https://github.com/postmanlabs/postman-app-support/issues/3692.

[2022-06-28 15:54] #7676 closed, assigned to codenirvana

[2022-06-28 15:55] rimas-kudelis commented on #7180
This is not fixed, although the fact that a `{{baseUrl}}` variable is now added automatically makes the problem much less severe: I only have to edit the URL once per collection instead of once per request as before (presumably).

P.S. I can't reopen issues here.

[2022-06-28 15:57] postman-kenji commented on #7775
Closing issue given solutions provided. Thanks!

[2022-06-28 15:57] #7775 closed, assigned to giridharvc7, appurva21

[2022-06-28 15:59] postman-kenji commented on #8072
Closing due to age of issue and response time. Please feel free to reopen this if you are encountering this issue in the latest version of Postman, thanks!

[2022-06-28 15:59] #8072 closed, assigned to saswatds

[2022-06-28 16:03] postman-kenji commented on #8252
@poshizzle @sunilkbis Could you confirm if you are still seeing this issue on the latest version of Postman?

[2022-06-28 16:08] #8826 closed, assigned to nobody

[2022-06-28 16:10] #8973 closed, assigned to nobody

[2022-06-28 16:10] brentcromarty commented on #8305
I am able to reproduce the same behaviour you see in the latest version: (Postman for Mac Version 9.21.5). If I hit the URL referenced from Chrome and open the downloaded file in BBEdit, BBEdit displays the same content, just with line feeds after each line:

#EXTM3U
#EXT-X-TARGETDURATION:8
#EXT-X-VERSION:7
#EXT-X-MEDIA-SEQUENCE:1
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-INDEPENDENT-SEGMENTS
#EXT-X-MAP:URI

[2022-06-28 16:16] postman-kenji commented on #8945
Closing this issue for now given age and response time. @tester-xm please feel free to reopen this if you are still encountering this issue. Thanks!

[2022-06-28 16:16] #8945 closed, assigned to nobody

[2022-06-28 16:18] postman-kenji commented on #9003
Closing this issue for now given age and response time. @SabriH10  please feel free to reopen this if you are still encountering this issue and the solution provided does not work. Thanks!

[2022-06-28 16:18] #9003 closed, assigned to nobody

[2022-06-28 16:22] #9022 closed, assigned to nobody

[2022-06-28 16:23] #9035 closed, assigned to nobody

[2022-06-28 17:15] titan1978 commented on #4791
I have a similar script which I abandoned-seemed a good idea at first!! the challenge is that its tied to the discipline of each developer. In my team (22 developers reporting to me) - half dont have the discipline to remove the custom headers AFTER they're done using it. which kinda makes it pointless - one person went an accidently ran a PUT operation in PROD forgetting he hadn't removed the hea

[2022-06-28 18:34] godfrzero commented on #8632
We've pushed out a fix for this issue and environment resolution should no longer fail intermittently. 🎉

[2022-06-28 18:34] #8632 closed, assigned to godfrzero

[2022-06-28 18:37] godfrzero commented on #10275
Hey @kcthota, have you looked into [setNextRequest](https://learning.postman.com/docs/running-collections/building-workflows/)? This should allow you to dynamically select a single request to run using any logic you choose, including a random one.

[2022-06-28 20:45] williamdphillips commented on #9409
@cgontario I'm with you - this issue makes using Postman with Azure AD APIs utilizing Auth Code with PKCE a non-plausible solution.

@giridharvc7 Would a temporary small fix be probable in the meantime? I'm all for an overhaul on the current approach, but it seems some of Postman's users are being left out with no solution at the moment.

[2022-06-29 03:30] DannyDainton commented on #11038
Hey @boskomirkic

Could you provide a screenshot of the Workspace Settings, that shows that no admin is present, please?

[2022-06-29 03:33] DannyDainton commented on #11036
Could you walk through the use case for me please and how the code snippets are part of the flow.

You mentioned monitoring which would not include the snippet generator but it does have a console which show the output.

[2022-06-29 03:42] Diluka commented on #7370
CPU usage too high, +1 ,macos 12.4
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/3766084/176346463-f2fda302-1399-40a2-8a49-b1efea346718.png">

[2022-06-29 04:41] deepakaggarwal7 commented on #8742
It's common to have multiple collections for a maintainable workspace. Considering 1 integration for just 1 collection is being a little miser 😄 Integration counter should change with the destination than the instances of it. Anyways, there should be more collections-bitbucket sync allowed per integration.

[2022-06-29 05:53] shashankawasthi88 commented on #8742
@deepakaggarwal7 @chongwang87 We recommend moving to the newer way of syncing your APIs (collections and schema) to your repository. The API abstraction within Postman allows you to club the collections associated with one API and the complete API abstraction can then be synced to the repository. See the [linked](https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api

[2022-06-29 06:41] gauthierpetetin commented on #9294
Hi @DannyDainton , thanks for reaching out, it doesn't seem to be an issue anymore.

[2022-06-29 06:41] #9294 closed, assigned to Raja-Simha

[2022-06-29 06:41] boskomirkic commented on #11038
Sure @DannyDainton, here it is.

![Screenshot_Postman_no admin](https://user-images.githubusercontent.com/108119728/176368701-b100e523-d22e-4946-8226-34d1c348ca5e.png)

[2022-06-29 06:45] 46053683LewisB opened #11046 "Save API response to a file"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Good Morning,
I'm using Postman to send requests. The results from one are used as the variable for a second API. The first API produces a series of URi's and i can pick one, but only one

[2022-06-29 07:30] mehrdadjavidan commented on #11044
Hi,

Yes, solved by `Help > Clear Cache and Reload`

Thanks a lot

[2022-06-29 07:48] #11044 closed, assigned to nobody

[2022-06-29 08:05] 5olitude opened #11047 "Postman GRPC live streaming response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I want to get the live streaming response for individual clients ,but opening the duplicate  tabs in postman GRPC only serving response to one of the client who is connected first to the GRPC server .

### Steps To Reproduce

1.

[2022-06-29 08:25] appurva21 commented on #11047
Hey @5olitude! We are not able to reproduce this issue with the given steps on the latest version of the Postman app. Could please update your app and verify if the issue still persists? If yes, would it be possible to share a screen recording of the same to help us reproduce it on our end?

[2022-06-29 08:37] giridharvc7 commented on #11046
@46053683LewisB Have you considered using Pre-request/test scripts to perform this? You can also create a [Flow](https://learning.postman.com/labs/postman-flows/getting-started/flows-overview/#:~:text=Welcome%20to%20Postman%20Flows%2C%20a,right%20in%20your%20Postman%20workspace.) for this use case

[2022-06-29 09:04] malvikach commented on #10204
@robertmryan Happy to inform you that we have fixed this issue. The run option is now available under the folder context menu on the sidebar.
<img width="378" alt="Screenshot 2022-06-29 at 2 31 42 PM" src="https://user-images.githubusercontent.com/89449769/176397407-17323eb3-5a9c-4569-884a-dc3cb2b7dfca.png">

We hope this helps! Please feel free to write to us about any other improvement areas.
Ch

[2022-06-29 09:04] #10204 closed, assigned to malvikach

[2022-06-29 09:20] malvikach commented on #10676
Hi @Loda103 We have introduced the run folder option in the context menu for a folder. Hopefully, this will help you quickly run a given folder.
<img width="378" alt="Screenshot 2022-06-29 at 2 31 42 PM" src="https://user-images.githubusercontent.com/89449769/176400864-8610b2d4-8183-4617-b4fe-5506da036ee2.png">

However, I do agree that the order screen should further help select/deselect all requ

[2022-06-29 09:22] malvikach commented on #9735
@juvarebkaplan this makes sense! Thanks a lot for the detailed info. We have taken a note of this feature request and will let you know when we have an update to share.

[2022-06-29 09:24] cnjack commented on #10934
@shamasis Can you update the status for this one?

[2022-06-29 09:58] codenirvana commented on #10934
@cnjack no ETA just yet but, we will integrate the proxy configuration soon.

As a workaround, try setting the `https_proxy` or `http_proxy` [environment variables](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md#grpc-environment-variables) to configure your proxy.

You can set these variables globally or via CLI:
`http_proxy=http://127.0.0.1:8080 open /Applications/Postman.a

[2022-06-29 10:02] cnjack commented on #10934
Thank you for your response, the environment set is very helpful for me.

[2022-06-29 10:59] DannyDainton commented on #8770
Closing due to age of issue and response time. Please feel free to reopen this if this is still an issue. Thanks!

[2022-06-29 10:59] #8770 closed, assigned to nobody

[2022-06-29 11:05] #10459 closed, assigned to vkaegis

[2022-06-29 11:10] #10706 closed, assigned to umeshp7

[2022-06-29 11:11] johnzheng1975 commented on #10934
Step 1: set env in windows
<img width="783" alt="grpc-postman-setenv" src="https://user-images.githubusercontent.com/17720035/176420882-9379d3bc-f79f-4d65-a570-ea5650fe534a.png">

Step 2 run Postman-win64-9.21.3-Setup.exe

Step 3, still fail.
Couldn’t use server reflection
There was an error while loading the services and methods using server reflection. Make sure you are using the correct URL and

[2022-06-29 11:14] #10664 closed, assigned to nobody

[2022-06-29 11:18] DannyDainton commented on #10673
Closing due to inactivity.

[2022-06-29 11:18] #10673 closed, assigned to nobody

[2022-06-29 11:24] DannyDainton commented on #10644
Closing this issue for now but if you're experiencing this issue in the latest version, please share the steps to recreate and some screenshots, this will enable us to investigate further.

[2022-06-29 11:24] #10644 closed, assigned to malvikach

[2022-06-29 11:43] #10639 closed, assigned to nobody

[2022-06-29 11:45] #10616 closed, assigned to nobody

[2022-06-29 11:47] Niloo721 commented on #11036
I mean monitoring of API services not monitoring of postman!
In the previous version when we get time out in API call, we used GUID snippet and we found it on the elastic log
but now we can't find it. (according to the video below) and I haven't any solution to prove it.

https://user-images.githubusercontent.com/108171646/176428431-b976cac3-5d69-4f7e-b0d5-fb6de2d734bd.mp4

[2022-06-29 11:49] DannyDainton commented on #10506
Closing as a duplicate of #5040

[2022-06-29 11:49] #10506 closed, assigned to postman-staff

[2022-06-29 12:25] DannyDainton commented on #8101
Unable to reproduce this issue in the latest version of the platform. If this is still an issue that you're facing we can look at reopening it again.

[2022-06-29 12:27] Niloo721 commented on #11036
Ok I got it, thanks for your response

[2022-06-29 12:28] #11036 closed, assigned to nobody

[2022-06-29 12:29] DannyDainton commented on #7814
Closing this issue due to inactivity, if this is still an issue that you're facing we can look at opening it again.

[2022-06-29 12:29] #7814 closed, assigned to nobody

[2022-06-29 12:32] DannyDainton commented on #7874
Closing this issue due to inactivity, if you're still seeing the issue on the latest version, we can look at reopening this again and investigating further.

[2022-06-29 12:32] #7874 closed, assigned to abhijitkane

[2022-06-29 12:33] #8009 closed, assigned to nobody

[2022-06-29 12:34] DannyDainton commented on #8090
Closing the issue due to inactivity and lack of contextual information.

[2022-06-29 12:34] #8090 closed, assigned to appurva21

[2022-06-29 12:37] DannyDainton commented on #8301
As there are a number of workarounds mentioned in the thread, I'm going to close this issue for now. We can reopen this if other people are still facing problems after trying these different methods.

[2022-06-29 12:37] #8301 closed, assigned to abhijitkane

[2022-06-29 13:09] codenirvana commented on #10934
@johnzheng1975 can you try with the lowercase variable name and prefix the value with the protocol?

e.g, `http_proxy=http://web-proxy.austin.hp.com:8080`

[2022-06-29 13:43] Katie-Firth opened #11048 "Exporting Variables as part of a collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

When I export a collection for a specific API, I have variables that are used in this API.  When I export the collection, it would be great to be

[2022-06-29 13:50] 46053683LewisB commented on #11046
Hi,
I have, but neither options will produce a .json file from the response of a request without a node.js.  Be great if i'm wrong.
I'm going to see if a mock server may help.
Thanks.

[2022-06-29 14:08] francisbooth opened #11049 "Variables in raw JSON body strings should be escaped"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using variables within the raw body of a request sent as JSON, if the variable is passed within a string, I would expect the variable to escaped in the request.

### Steps To Reproduce

1. Create an variable (environment or

[2022-06-29 14:25] NiklasBr commented on #8101
@DannyDainton, we might need to re-open this.

1. Select all content of the field
2. Copy
3. Paste into an online editor [such as CK Editor](https://ckeditor.com/docs/ckeditor5/latest/examples/builds-custom/full-featured-editor.html):
4. Look at the source:

![bild](https://user-images.githubusercontent.com/279826/176460992-0c744c87-e712-474c-a88e-19a2d30baac8.png)

[2022-06-29 14:26] #8368 closed, assigned to abhijitkane

[2022-06-29 14:39] DannyDainton commented on #8101
Hey @NiklasBr

I've copied the contents of the URL and pasted it into the editor that you linked and it's just displaying the same URL.

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/17089546/176464397-8f342fc7-7f18-43d0-8806-7d21c49d4c9b.png">

Could you do a quick recording showing this behaviour, please?

[2022-06-29 14:56] superhawk610 commented on #7261
Comments are a great place to list valid values for enums, expected response format (useful for API endpoints that are still actively being built and may not yet be available), and any invariants the caller should uphold (max of N elements per request, allow N seconds between requests, may not be available until N seconds are another request was made, etc).

[2022-06-29 14:57] DannyDainton commented on #8382
Closing due to inactivity.

[2022-06-29 14:57] #8382 closed, assigned to giridharvc7

[2022-06-29 14:58] DannyDainton commented on #8351
Closing this due to inactivity, if this is still an issue for you in the latest version of the platform we can look at reopening this again.

[2022-06-29 14:58] #8351 closed, assigned to nobody

[2022-06-29 15:02] miriyald opened #11050 "Beautify support for "Pre-Request Scripts" and "Tests""
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Postman supports Running Collections and allows to write "Tests" after receiving response  ad  "Pre-Request Script" in Javascript.

Currently the Javascript code is not formattable within

[2022-06-29 15:06] giridharvc7 commented on #11046
Can you help me understand why you need the response to be saved as a file?

[2022-06-29 17:30] bhargavkn commented on #7986
@carolin-postman This has been released to enterprise teams and one can view this by clicking on the Team Members tile on Team Activity page.

Let's close this issue?

[2022-06-29 17:30] #7986 closed, assigned to bhargavkn

[2022-06-29 17:54] DannyDainton commented on #11048
Hey @Katie-Firth

Are you talking about using the Environment or Global variables here?

The Collection level variables should be exported with the Collection if the initial values are set.

[2022-06-29 17:56] NiklasBr commented on #8101
It looks like you mixed up step 3 and 4.

Here is a recording, sorry about the cat's shaking the video.

https://user-images.githubusercontent.com/279826/176503742-190d89e6-4557-400b-aa93-d21393f1ce98.mp4

[2022-06-29 18:04] Katie-Firth commented on #11048
Both, perhaps.  Although the ones I have set for this use case are all globals.

I have a collection I can run that is supporting a workflow.  In my tests, I am setting data from the initial "Create" to do further down updates.

For example, I create a shopping cart.  The shopping cart has an ID.  When I receive my 200 Response, I have a test that parses the shopping cart Id into a variable shoppi

[2022-06-29 18:18] DannyDainton commented on #11048
By setting those variables in the scripts, at the Collection level using:

[code]
You will be able to still use that chaining flow from request to request and the variables will be in the Collection. If hardcoded variables are needed, these can be added at the Collection level and will be available with the Collection export.

Alternatively, If you're using only _globals_ in the scripts to set var

[2022-06-29 18:22] Katie-Firth commented on #11048
Yes, I understand all of that.

Perhaps I am not explaining correctly; I'll have to come back to this later after reflection to see how I can better represent the request.

Katie

From: Danny Dainton ***@***.***>
Sent: Wednesday, June 29, 2022 2:19 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Katherine Firth ***@***.***>; Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-suppor

[2022-06-29 19:11] zachsiegel-capsida opened #11051 "Postman Interceptor doesn't capture uploaded files (and doesn't correctly interpret `form-data` when a file is uploaded)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using interceptor, I wanted to automatically save requests to serve as tests for my application. Many of the requests I want to save involve uploaded files. Interceptor does not seem to capture files at all. Here is the "bod

[2022-06-29 20:14] DannyDainton commented on #11048
It's probably a misunderstanding on my part 😔

I'm reading the feature request and it sounds like things that are currently in the product (exporting Collections with Variables and exporting environment/global Variables)

There something I'm missing here, hopefully with a bit more clarification and some visual examples we can get this sorted. 😁

[2022-06-29 21:53] garek007 commented on #9233
This would be great!

[2022-06-29 22:43] rgfretes commented on #6370
+1

[2022-06-29 23:19] miriyald commented on #11050
Hi @DannyDainton Wow, I don't  know that `Ctrl+B`  works for Scripts.
It would be great if editor can have `Beautify` Button/Link. Otherwise there is no-clue about this feature.
![image](https://user-images.githubusercontent.com/89222052/176561510-5d944054-5e23-4d37-b0d8-36b9bb3dd8a5.png)

[2022-06-30 03:09] marcelluseasley commented on #6780
I'm getting the same error with Postman 9.22.2. It's a shame that this issue has been closed without resolve.

[2022-06-30 05:29] DannyDainton commented on #11050
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9216

[2022-06-30 05:29] #11050 closed, assigned to nobody

[2022-06-30 06:48] 46053683LewisB commented on #11046
Hi,
Yes of course.  I need to eventually be able to target the response .json file via Power BI.

The API produces a .json body that is a list of records.

Thanks,
Lewis.

[2022-06-30 07:26] adrianAtProresult commented on #10184
To be honest, I think vertical tabs is the way to go. Just collapse the tab view when it's not hovered, and expand it above content on hover, like in Microsoft Edge on Chromium:
Collapsed:
![image](https://user-images.githubusercontent.com/34372505/176617033-46ddee63-7124-4965-acbb-388c235d192a.png)
Expanded:
![image](https://user-images.githubusercontent.com/34372505/176617180-61eed460-dc9e-45da-

[2022-06-30 08:19] MincDev commented on #10494
Any feedback on this?

[2022-06-30 08:34] DannyDainton commented on #8417
Closing due to inactivity.

[2022-06-30 08:34] #8417 closed, assigned to nobody

[2022-06-30 08:35] DannyDainton commented on #8448
Closing this due to age and inactivity. If you're still facing this issue on the latest version of the platform we can look at reopening this again.

[2022-06-30 08:35] #8448 closed, assigned to nobody

[2022-06-30 08:58] DannyDainton commented on #8531
Closing this due to age and inactivity - If this is still an issue for you on the latest version, we can look at reopening it again.

[2022-06-30 08:58] #8531 closed, assigned to umeshp7

[2022-06-30 09:00] DannyDainton commented on #8566
Closing issue due to age and inactivity - If you're still facing this problem, please provide more contextual information which will allow us to investigate further.

[2022-06-30 09:00] #8566 closed, assigned to nobody

[2022-06-30 09:04] DannyDainton commented on #8596
I'm unable to recreate this issue in the latest version of the platform. The encoding for Python seems to be the expected value.

Closing this for now but if you're still facing an issue we can look at reopening and investigating further.

[2022-06-30 09:04] #8596 closed, assigned to cyrielle-hada

[2022-06-30 09:25] DannyDainton commented on #8610
Closing this due to age and inactivity. If this is still an issue, we can look at reopening this again.

[2022-06-30 09:25] #8610 closed, assigned to umeshp7

[2022-06-30 09:26] DannyDainton commented on #8644
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:26] #8644 closed, assigned to Raj-postman

[2022-06-30 09:33] DannyDainton commented on #8678
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:33] #8678 closed, assigned to giridharvc7

[2022-06-30 09:33] coditva commented on #8302
Hey everyone, this issue has been fixed and is now available in v9.23 onwards. 🎉
Please [update the app](https://www.postman.com/downloads/) and let us know how it goes. 🙂

[2022-06-30 09:37] DannyDainton commented on #8714
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:37] #8714 closed, assigned to nobody

[2022-06-30 09:41] DannyDainton commented on #8716
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:41] #8716 closed, assigned to vinitshahdeo

[2022-06-30 09:42] DannyDainton commented on #8795
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:42] #8795 closed, assigned to nobody

[2022-06-30 09:43] DannyDainton commented on #8830
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:43] #8830 closed, assigned to nobody

[2022-06-30 09:44] DannyDainton commented on #8880
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 09:44] #8880 closed, assigned to nobody

[2022-06-30 09:59] #9648 closed, assigned to nobody

[2022-06-30 10:09] DannyDainton commented on #9714
Closing as duplicate

[2022-06-30 10:09] #9714 closed, assigned to nobody

[2022-06-30 10:11] DannyDainton commented on #9745
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 10:11] #9745 closed, assigned to nobody

[2022-06-30 10:16] DannyDainton commented on #9753
Closing this as I'm unable to recreate this in the latest version of the platform. If this is not the case and you're still facing this issue we can look at reopening this again.

[2022-06-30 10:16] #9753 closed, assigned to nobody

[2022-06-30 10:27] DannyDainton commented on #10501
This issue appears to be very contextually specific to your project, if you're able to recreate the issue away from that and can share details to enable us to recreate the problem on are side, we can investigate further. For now, I'm going to close this.

[2022-06-30 10:27] #10501 closed, assigned to nobody

[2022-06-30 10:28] DannyDainton commented on #10593
Closing this issue based on the suggested command above.

[2022-06-30 10:28] #10593 closed, assigned to nobody

[2022-06-30 10:29] #10610 closed, assigned to nobody

[2022-06-30 10:29] DannyDainton commented on #10590
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 10:29] #10590 closed, assigned to codenirvana

[2022-06-30 10:40] DannyDainton commented on #10400
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 10:40] #10400 closed, assigned to nobody

[2022-06-30 10:48] DannyDainton commented on #10385
Hey @jarogers

I'm not really following what/where the issue is - Would you be able to expand on the information more and provide a copy of the failing file so that we can see this failing from our side, please?

[2022-06-30 10:49] DannyDainton commented on #10344
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 10:49] #10344 closed, assigned to nobody

[2022-06-30 10:54] DannyDainton commented on #10293
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 10:54] #10293 closed, assigned to nobody

[2022-06-30 10:59] DannyDainton commented on #10270
Closing due to inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 10:59] #10270 closed, assigned to nobody

[2022-06-30 11:01] DannyDainton commented on #10267
Closing this based on the incorrect `header` property being used.

[2022-06-30 11:01] #10267 closed, assigned to nobody

[2022-06-30 11:05] DannyDainton commented on #10221
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 11:05] #10221 closed, assigned to nobody

[2022-06-30 11:08] DannyDainton commented on #10178
Closing due to age and inactivity. If this is still an issue you're facing in the latest version of the platform, we can look at reopening this again.

[2022-06-30 11:08] #10178 closed, assigned to giridharvc7

[2022-06-30 11:31] DannyDainton commented on #9779
Unable to reproduce this issue in the latest version of the platform. Going to close this out but we can reopen if you see the issue again.

[2022-06-30 11:31] #9779 closed, assigned to nobody

[2022-06-30 11:37] DannyDainton commented on #9820
Closing this issue due to age and lack of information.

[2022-06-30 11:37] #9820 closed, assigned to nobody

[2022-06-30 11:42] #9838 closed, assigned to nobody

[2022-06-30 11:44] DannyDainton commented on #9845
Hey folks,

There have been lots of performance improvements since this was reported. If this is still happening in the latest version of the platform we can look deep at the issues being faced but for now, I'm going to close this out.

[2022-06-30 11:44] #9845 closed, assigned to nobody

[2022-06-30 11:46] DannyDainton commented on #9849
Closing this due to inactivity, if you're still facing this issue with the latest version of the platform we can look at reopening the issue again.

[2022-06-30 11:46] #9849 closed, assigned to nobody

[2022-06-30 11:52] DannyDainton commented on #9916
Closing due to inactivity.

[2022-06-30 11:52] #9916 closed, assigned to nobody

[2022-06-30 12:02] DannyDainton commented on #9970
Closing due to inactivity.

[2022-06-30 12:02] #9970 closed, assigned to nobody

[2022-06-30 12:04] DannyDainton commented on #9973
Closing due to inactivity. If you're still facing an issue in the latest version of the platform, could you expand on the information so that we can investigate further.

[2022-06-30 12:04] #9973 closed, assigned to nobody

[2022-06-30 12:09] DannyDainton commented on #10033
Closing this based on @codenirvana's comment.

[2022-06-30 12:09] #10033 closed, assigned to codenirvana

[2022-06-30 12:23] #10077 closed, assigned to codenirvana

[2022-06-30 12:25] DannyDainton commented on #10091
I'm unable to create this issue in the latest version of the platform. If this is still a problem, please create a new issue with the relavent contextual information.

[2022-06-30 12:25] #10091 closed, assigned to nobody

[2022-06-30 12:29] DannyDainton commented on #9361
Thanks for the response.

As we don't have any current steps to recreate the problem, I'm going to close this out for now but we can reopen it if more information is posted by yourself or other users.

[2022-06-30 12:29] #9361 closed, assigned to nobody

[2022-06-30 12:39] DannyDainton commented on #10716
Closing this due to inactivity. If the required information is shared we can look at reopening the issue again.

[2022-06-30 12:39] #10716 closed, assigned to nobody

[2022-06-30 12:43] #10385 closed, assigned to nobody

[2022-06-30 13:59] moshest opened #11052 "gRPC: Display additional payload for errors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

As solved on https://github.com/postmanlabs/postman-app-support/issues/10670, there is a need to see more detailed information regarding the server error beside the error code or message.

[2022-06-30 14:34] codenirvana commented on #11052
@moshest can you share an API or a scaled-down local server that we can use to reproduce this issue?

[2022-06-30 21:07] rawandahmad698 commented on #2701
2022 and no http/2.0!!

[2022-07-01 01:09] Keahi1999 opened #11053 "ECONNREFUSED Fixed**"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello, I am learning how to find vulnerabilities in APIs and I have little IT experience.

I have disabled system proxy, turned off SSL certificate verification and tried multiple ports to no avail.

Sorry if this is a noob quest

[2022-07-01 01:50] Keahi1999 commented on #11053
Fixed
Solution: Disable proxy

[2022-07-01 01:57] devraw commented on #8678
@DannyDainton It still exists in v9.23.3

[2022-07-01 05:32] #11053 closed

[2022-07-01 05:40] DannyDainton commented on #8678
Could you expand and explain the context of the usage, please?

[2022-07-01 09:36] ddcatgg commented on #2805
Issue still exists, when url is `http://.../:export_date.json`, and `:export_date=20220630` , the code snippet generated is correct, but the actual url sent is:

    http://.../:export_date.json

[2022-07-01 09:52] DannyDainton commented on #4188
Code completion has been added to the editor.

<img width="979" alt="image" src="https://user-images.githubusercontent.com/17089546/176871602-4ee22229-dfeb-44fa-b21c-e6b6855ac119.png">

[2022-07-01 09:52] #4188 closed, assigned to a85, vkaegis

[2022-07-01 10:08] DannyDainton commented on #4268
@richardhauer There have been changes made to the Workspace Activity Feed, providing filters for entities and people. The changelog log has also been redesigned to give a richer picture of the events happening in a Collection.

<img width="1450" alt="image" src="https://user-images.githubusercontent.com/17089546/176873886-31aee477-4e8f-4c6b-8aba-b389a5641929.png">

More information here

https://b

[2022-07-01 10:10] DannyDainton commented on #4212
The proxy now supports HTTPS Endpoints:

https://blog.postman.com/postmans-proxy-now-fully-supports-https-endpoints/

[2022-07-01 10:10] #4212 closed, assigned to abhijitkane

[2022-07-01 10:40] DannyDainton commented on #4388
In the latest versions of the platform, the deleted request tabs are removed when the deletion is confirmed.

[2022-07-01 10:40] #4388 closed, assigned to vkaegis, preethammavin

[2022-07-01 10:58] gigaga opened #11054 "Environnement selection on Mobile"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Currenlty, on mobile, from postman web, we can't select environment. The combobox is displayed but immediatly closed.

### Steps To Reproduce

Select a collection where several environment are defined
Click on "No environment" fo

[2022-07-01 11:03] #6954 closed, assigned to ramji367

[2022-07-01 12:19] DannyDainton commented on #4728
Closing due to age and inactivity - If you're facing an issue in the latest version of the platform, we can look at reopening this again.

[2022-07-01 12:19] #4728 closed, assigned to nobody

[2022-07-01 12:22] DannyDainton commented on #5004
It's unclear what you're requesting here - I'm going to close this out but if you're still facing any issue in the latest version of the platform, we can look to reopen this providing more information is shared.

[2022-07-01 12:22] #5004 closed, assigned to nobody

[2022-07-01 12:28] DannyDainton commented on #4698
Several UI changes through the different versions highlighting which Collections have monitors and a link back from the Monitor to the Collection via the right sidebar.

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/17089546/176893860-c534c545-c7cd-4262-9cd4-cf9a3eb7723e.png">

<img width="1074" alt="image" src="https://user-images.githubusercontent.com/17089546/1768

[2022-07-01 12:28] #4698 closed, assigned to a85, vkaegis, sankalp0o

[2022-07-01 13:15] ArjunSingh-PM commented on #6591
Hi @ycabranes! Was there a specific role that you were looking for that you did not find in Postman? Could you please elaborate on the outcome you want to acheive. Thanks!

[2022-07-01 13:16] ArjunSingh-PM commented on #10065
This issue has been resolved.

[2022-07-01 13:16] #10065 closed, assigned to ArjunSingh-PM

[2022-07-01 14:30] denis019 commented on #758
I wrote a simple script which can be placed in Collection Tests for example.
In the console output you can see the report:
 - interationsCount
 - avgResponseTime
 - maxResponseTime
 - minResponseTime

Check stackoverflow [response-times-from-postman-scripts]( https://stackoverflow.com/questions/47688103/response-times-from-postman-scripts/72830722#72830722)

[2022-07-01 14:34] gigaga commented on #11054
I tried it from several mobile browser like firebox, chrome, edge, brave and opera, samedis issue 😕

[2022-07-01 15:28] ronelle-griffiths commented on #7150
This is so stupid, why can you only belong to one team? Pls add this functionality

[2022-07-01 16:12] Balky79 opened #11055 "Set existing environment as pre-req script, or link "default" environment with collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have a fair amount of collections and environments, and drop down selector works fine, but. In most of the cases my first call will fail, as I'll forget to change the environment.

###

[2022-07-02 06:26] umesh-swamidas commented on #8929
+1. This should be a basic feature to have in the first place.
Thanks to the whole postman team for supporting such a wonderful tool.

[2022-07-02 10:13] russellward opened #11056 "Bootcamp: Environment -> Environment Variables Lesson Stops"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Within the Bootcamp Learning track, for Environment Variables at 20% in the lesson simply stops after entering a new variable.

Version 9.23.3
UI Version: 9.23.3-ui-220629-1055
Desktop Platform Version: 9.22.2 (9.22.2)

If you cl

[2022-07-02 11:59] DannyDainton commented on #11056
Thanks for raising the issue.

This lesson is mentioned in the comments.

https://github.com/postmanlabs/postman-app-support/issues/10684#issuecomment-1063141573

Closing as a duplicate.

[2022-07-02 11:59] #11056 closed, assigned to nobody

[2022-07-02 12:57] AlexKalyna commented on #8480
It's been 2 two years since this ticket was created. Is there any progress or even hope this feature will be implemented? Without it using Monitor is useless for our company.

[2022-07-02 15:49] mastercodelatam commented on #10852
**There should be the option to delete history, it is annoying to see workspaces that we are not going to use**

![Screenshot 2022-07-02 104741](https://user-images.githubusercontent.com/79774226/177007416-3199910d-8ea0-41da-9082-cc4614dfd8a3.png)

[2022-07-03 09:31] moshest commented on #11052
Yes, please check https://grpcb.in for common gRPC use cases.

You can test and see the error details via `grpcurl`:

[code]

[2022-07-03 10:14] moshest commented on #10533
Just want to share that **gRPCurl** solves it with a single `-plaintext` flag indicate if the connection should be TLS or not: https://github.com/fullstorydev/grpcurl#invoking-rpcs

I'm keep playing with self-signed certificate trying to make postman work with my AWS ALB with no luck..

[2022-07-03 10:43] NiklasBr commented on #8101
@DannyDainton

[2022-07-03 13:50] moshest opened #11057 "gRPC: TLS not enabled when using environment variable on server url"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using a variable on gRPC server URL, I see an alert under the "Authorization" tab: "Insecure connection". When switching back to the variable plain value, the warning disappeared and the request made with TLS.

### Steps To

[2022-07-03 19:31] ramji367 commented on #10852
Thanks for the feedback - we are looking at solutions for this issue. Will share updates on this thread.

[2022-07-04 04:38] pankajkumar005 commented on #7150
@ronelle-griffiths  "Ability to join multi-team" is in the final phase of testing right now. We will start rolling this out in a couple of weeks. Please bear with us till then :)

[2022-07-04 06:01] devraw commented on #8678
I made a mistake,  the backslash is an escape character in Javascript. I should use double backslash to express one backslash.

[2022-07-04 07:17] cshuiu commented on #2452
Hi @giridharvc7, any updates on when this is going to be available?

Thanks.

[2022-07-04 07:23] earthpyy commented on #7150
Looking forward to this feature to be released!

[2022-07-04 07:34] krishna066 commented on #2214
postman is not able to connect to localhost:3000.
disabled SSH and proxy in settings, but no luck.
It's loading continuously, not even showing any error.

Postman version:9.23.3
System used: Mac

[2022-07-04 07:45] aashuagg commented on #9429
After running command /Applications/Postman.app/Contents/MacOS/Postman I am getting below message:
**Could not get the lock, quitting**

[2022-07-04 09:56] sseenivasan89 opened #11058 "Implement bulk edit option in collection and environment variables"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Hi Team,

Implement bulk edit option in collection and environment variables, like what we have for Query Params and Path Params
its bit hard to edit the collection and environment variab

[2022-07-04 10:58] DannyDainton commented on #11058
Same feature request as https://github.com/postmanlabs/postman-app-support/issues/4898 - Closing this is keep everything in a single place.

[2022-07-04 10:58] #11058 closed, assigned to nobody

[2022-07-04 10:59] e3e6 commented on #285
I'm just looking for some way to execute the same request over different variables and not edit the query itself every time.
I'm already using Environments toggle and I need some more.

So +1

[2022-07-04 13:14] RoyLeibo opened #11059 "Environment Globals are not shared using Workspace"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi,

My team has a Workspace account.
We have several environments, each one with its own variables.

We are also using Globals variables since our environments share some similar variables.

I have updated the variables and thei

[2022-07-04 13:16] andakawa commented on #8231
+1

[2022-07-04 13:21] DannyDainton commented on #11059
Hey @RoyLeibo

Would you be able to share some visual examples of the UI and the area that this is impacting? As you're describing something you see in the UI, it will help us to understand what you have in front of you.

[2022-07-04 13:23] HejdasGonnaHate commented on #8038
Any idea when NTLMv2 will be implemented? More and more companies are changing their security policies to Send NTMLv2 response only and this issue makes Postman useless for Windows Server environments.

[2022-07-04 13:30] RoyLeibo commented on #11059
Hi @DannyDainton, thank you for answering.
This is what I created:
<img width="1583" alt="image" src="https://user-images.githubusercontent.com/42297127/177164892-a08208c1-e9bd-4801-b9ce-b1a9af91afac.png">

And this is what one of my colleagues see:
![image](https://user-images.githubusercontent.com/42297127/177165069-af414b67-b953-4616-af2f-f81aa811df38.png)

[2022-07-04 13:36] DannyDainton commented on #11059
The `Current Values` are not synced to Postman and are only available to you. That would mean that your teammates wouldn't see them.

The Current Value is used in your local instance of Postman, and is never synced to your account or shared with your team unless you choose to persist it.

You can either use the `Persist All` option to set _all_ the Current values to the Initial Values or that can

[2022-07-04 13:52] RoyLeibo commented on #11059
@DannyDainton works! thanks

[2022-07-04 13:57] #11059 closed, assigned to nobody

[2022-07-04 14:25] DannyDainton commented on #4938
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/7350

[2022-07-04 14:25] #4938 closed, assigned to vkaegis

[2022-07-04 15:49] tzarfaros commented on #7982
+1, Interested in this feature.

[2022-07-04 16:38] DannyDainton commented on #3213
Closing due to a fix in the product. If this is still an issue we can look to reopen this issue again.

[2022-07-04 16:38] #3213 closed, assigned to vkaegis

[2022-07-05 02:58] unclosable commented on #8747
so which header is invalid exactly

[2022-07-05 05:26] raghumurthy-jayandran commented on #9391
@a2br We have fixed this issue in the latest version of the postman app. Please try this out and share your feedback.

[2022-07-05 05:26] #9391 closed, assigned to nobody

[2022-07-05 05:37] #10283 closed, assigned to 5thdimensional

[2022-07-05 06:40] gargatuma commented on #8378
Hey)
What is the status of this feature?

[2022-07-05 08:32] adwip opened #11060 "Connection options for socket io"
### Is there an existing request for this feature?

- [x] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Request to add feature to embed options for socket connection, sometime socket server requires options for auth and other purposes

### Describe the solution you'd like

Can adding connec

[2022-07-05 08:48] ricardograca-scratch commented on #10742
It seems there's no "About Postman" on the Linux version, so the only option is to use `Settings > About` which is not very common so I also had to google how to find the app version, which landed me on this page. Can this feature request be reopened?

[2022-07-05 09:38] DannyDainton commented on #11047
Hey @5olitude

I'm going to close this issue for now as we've been unable to reproduce the problem, given the information you've provided.

If you can provide clear steps to reproduce the issue and a short recording of what you can, that will help the team investigate what's going on.

[2022-07-05 09:38] #11047 closed, assigned to appurva21

[2022-07-05 09:54] akshay-kulkarni-03 commented on #9896
@praveendvd thanks for reporting this we are actively working on fixing this issue and provide an update in next couple of weeks once we have identified the RCA and fix for the same.

[2022-07-05 09:56] ankitjaggi commented on #9502
@silverbullettruck2001 Thanks for reporting this. Can you update to the latest version of the app and verify if this is still happening for you?

[2022-07-05 09:58] akshay-kulkarni-03 commented on #11038
@boskomirkic we have created an internal issue for this issue and will be triaging it from our side. Will update this thread once we have identified the root cause and the fix for the same.

[2022-07-05 10:01] akshay-kulkarni-03 commented on #10858
@Pricilla09 would you be able to share the recording for this issue? As @DannyDainton mentioned removing members from team & from workspace are different actions.

[2022-07-05 10:20] ankitjaggi commented on #10191
Closing this issue since the issue has been resolved. Feel free to open a new one for any other issues.

[2022-07-05 10:20] #10191 closed, assigned to preethammavin

[2022-07-05 10:21] ArubaBB commented on #363
Allowing reordering collection will be very helpfull. Please add this feature.

[2022-07-05 10:22] ankitjaggi commented on #10374
@CatalinVoineag Did @DannyDainton's answer solve the issue for you?

[2022-07-05 10:45] #1066 closed, assigned to giridharvc7, vkaegis, saswatds

[2022-07-05 11:02] #10374 closed, assigned to ankitjaggi

[2022-07-05 11:21] DannyDainton commented on #4847
Since this issue was reported, the UI of the platform has changed. The entity(requests/folders/collections/etc) descriptions are now located on the right sidebar and not under the request name.

<img width="2631" alt="image" src="https://user-images.githubusercontent.com/17089546/177316284-62c20a85-8fd6-4f47-b05d-92b5f7b75bf9.png">

[2022-07-05 11:21] #4847 closed, assigned to vkaegis

[2022-07-05 11:40] CME64 commented on #11055
I came here looking for a solution and found this. I actually have a design idea for this with backward compatibility considered.
1- collections to have a new tab to link global environments to restrict environment options for this collection
2- marking one of these collection environments as a default (or the first one added to the list will be the default)
3- if no environments were specified fo

[2022-07-05 13:00] DannyDainton commented on #5299
Closing this as a fix was introduced in a later version. If you're still encountering these issues in the latest version of the platform, we can look to reopen this again.

[2022-07-05 13:00] #5299 closed, assigned to nobody

[2022-07-05 13:07] DannyDainton commented on #5687
In the later versions of the platform, each of the entities has links that can be shared with members of the team. This will open this specific entity in the Workspace.

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/17089546/177334310-3f058581-903c-4be3-98d7-5e7cdd55da18.png">

Closing this feature request for now but if this is not what you were hoping to see, we ca

[2022-07-05 13:07] #5687 closed, assigned to nobody

[2022-07-05 13:18] DannyDainton commented on #5866
Closing this due to a lack of information. If you still require this feature, can you please update the description and provide more relevant context.

[2022-07-05 13:18] #5866 closed, assigned to nobody

[2022-07-05 13:21] #6214 closed, assigned to nobody

[2022-07-05 13:43] DannyDainton commented on #6623
Hey @anoiio

I'm going to close this issue due to inactivity. If this is still a problem you're facing on the latest version of the platform we can look to reopen this again.

[2022-07-05 13:43] #6623 closed, assigned to nobody

[2022-07-05 13:46] DannyDainton commented on #6656
You can create code snippets from examples in the latest version of the platform.

<img width="2621" alt="image" src="https://user-images.githubusercontent.com/17089546/177342488-24648c5e-9ce3-4c0d-b8ab-4d8017ee072a.png">

[2022-07-05 13:46] #6656 closed, assigned to umeshp7

[2022-07-05 14:03] DannyDainton commented on #7190
Collections are no longer archived in the Postman platform. I'm going to close this for now but if this is something that you see happening in the latest version, we can look at reopening it.

[2022-07-05 14:03] #7190 closed, assigned to shamasis

[2022-07-05 14:06] DannyDainton commented on #7412
Closing this due to inactivity and a lack of information.

[2022-07-05 14:06] #7412 closed, assigned to nobody

[2022-07-05 14:09] #7635 closed, assigned to nobody

[2022-07-05 14:14] #7971 closed, assigned to vkaegis, ArjunSingh-PM

[2022-07-05 14:17] DannyDainton commented on #9106
Closing due to inactivity.

[2022-07-05 14:17] #9106 closed, assigned to nobody

[2022-07-05 14:25] #9136 closed, assigned to nobody

[2022-07-05 14:31] #9164 closed, assigned to nobody

[2022-07-05 14:32] #9179 closed, assigned to nobody

[2022-07-05 14:32] DannyDainton commented on #9196
Closing this due to inactivity.

[2022-07-05 14:32] #9196 closed, assigned to nobody

[2022-07-05 14:34] DannyDainton commented on #9077
Closing this issue due to inactivity.

[2022-07-05 14:34] #9077 closed, assigned to nobody

[2022-07-05 14:35] DannyDainton commented on #9293
Closing due to inactivity. Archiving of collections is also no longer part of the Postman platform.

[2022-07-05 14:35] #9293 closed, assigned to nobody

[2022-07-05 14:37] #9093 closed, assigned to nobody

[2022-07-05 14:40] DannyDainton commented on #9359
Closing due to inactivity but if this is still an issue for you in the latest version of the platform, we can look to reopen it again.

[2022-07-05 14:40] #9359 closed, assigned to nobody

[2022-07-05 14:42] DannyDainton commented on #9377
Closing this due to inactivity - This doesn't feel like an issue on the Postman side as it's returning the response from the server.

[2022-07-05 14:42] #9377 closed, assigned to nobody

[2022-07-05 14:44] DannyDainton commented on #9468
This behaviour has now been included in the latest version of the platform.

[2022-07-05 14:44] #9468 closed, assigned to nobody

[2022-07-05 14:50] DannyDainton commented on #9892
Closing due to inactivity.

[2022-07-05 14:50] #9892 closed, assigned to nobody

[2022-07-05 15:01] DannyDainton commented on #9447
Closing due to inactivty.

[2022-07-05 15:01] #9447 closed, assigned to nobody

[2022-07-05 15:15] #10372 closed, assigned to nobody

[2022-07-05 15:15] omarbenmegdoul commented on #8322
It took 2 years but someone finally caved and made this joke

Aside from that: +1

[2022-07-05 15:23] DannyDainton commented on #5502
Reopening this based on comments/use cases after the feature was raised. I don't have any updates for this, I'm just opening it so the team is aware.

[2022-07-05 15:23] #10476 closed, assigned to nobody

[2022-07-05 15:28] godfrzero commented on #3171
The timeout for monitors have now been extended to 15 minutes for folks on any of the paid plans — free plans are still subject to the 10-minute limit. I'm closing this ticket for now since the original intent has been addressed. If the 15-minute timeout still feels restrictive, please let us know and I'd be happy to learn more about your use case.

Cheers!

[2022-07-05 15:28] #3171 closed, assigned to a85, godfrzero

[2022-07-05 16:12] DannyDainton commented on #10445
Hey @nitish166

It's not clear what you're asking for here - Could you please add more context and information to the feature request please?

[2022-07-05 16:21] DannyDainton commented on #10515
This only relates to the scratchpad, the console can be opened in a new window when not using the scratchpad.

<img width="1915" alt="image" src="https://user-images.githubusercontent.com/17089546/177372931-7efadee4-fd87-4ed9-b36d-407dd089746f.png">

[2022-07-05 16:39] DannyDainton commented on #10864
Closing due to inactivity.

[2022-07-05 16:39] #10864 closed, assigned to nobody

[2022-07-05 16:46] DannyDainton commented on #10997
I don't believe that the `visibilityStatus` of the Workspace is currently exposed via the Postman API. The request would currently return the `type`, which could be personal or team.

[2022-07-05 16:57] sivcan commented on #10684
Thanks for raising the issues folks. We're working on fixing these internally and I'll update here once all these are fixed.

[2022-07-05 16:57] DannyDainton commented on #9178
Closing due to inactivity.

[2022-07-05 16:57] #9178 closed, assigned to nobody

[2022-07-05 16:58] DannyDainton commented on #9048
Closing due to inactivity. If you're still facing this issue on the latest version of the platform we can look at reopening this again.

[2022-07-05 16:58] #9048 closed, assigned to nobody

[2022-07-05 17:06] DannyDainton commented on #3985
Collapsible panes are not part of the product.

When in the 2 pane mode, those request menu options can be minimised if not needed:

<img width="1355" alt="image" src="https://user-images.githubusercontent.com/17089546/177379989-a95c87fc-bc73-4b0e-b8ee-ab68a794d89d.png">

[2022-07-05 17:06] #3985 closed, assigned to vkaegis

[2022-07-05 17:53] jlindblom-godaddy commented on #4753
👍🏼 +1. At work we have different certs for different service clients that all use the same host for generating JWTs. Need to be able to select a specific cert for a request.

[2022-07-05 18:26] sanjaykumarb commented on #974
+1
This would be really helpful

[2022-07-06 00:48] tenglish61 commented on #8929
+1 please :)

[2022-07-06 00:54] #11037 closed, assigned to abhijeetborole

[2022-07-06 00:57] brantyou commented on #11037
It works well. It needs to be configured in this way so that the body can be sent normally. Thank you very much! I also hope you can adjust the sample accordingly, so that the people who use it later can also avoid stepping on the pit

[2022-07-06 06:58] 5olitude opened #11061 "Postman crashes with gRPC streaming response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Im giving a live  data as a response with a time delay of one seconds using GRPC SERVER but after few minutes the postman crashes without responding (data around 100 kb in each seconds)

### Steps To Reproduce

*Open a request ta

[2022-07-06 07:25] numaanashraf commented on #4586
@jainsamyak Thanks for reporting this. I was able to replicate this and have reopened this.

[2022-07-06 08:40] MrHaroldA commented on #2931
@tiagohillebrandt , can you please look into updating Postman to the latest stable again? Tnx!

[2022-07-06 08:42] codenirvana commented on #11061
@5olitude Can you update the Postman app to the latest version and check if the issue persists?

If yes, please share the steps we can use to reproduce this issue locally.

[2022-07-06 09:28] david-espi-hernandez commented on #10997
Hi!
The `visibility` field will be added soon (hopefully in a release this week) in the Postman API workspace detail response.

[2022-07-06 09:28] carellot commented on #10591
Hi,
The snippet continues to generate wrong,
Any news about it?
Thanks.

[2022-07-06 09:32] DannyDainton commented on #10997
Thanks for the update @david-espi-hernandez 🏆

I knew it was coming but wasn't quite sure on the dates. Great stuff!

[2022-07-06 10:06] #803 closed, assigned to a85

[2022-07-06 10:15] preethammavin commented on #5713
Hey we released new version of worksapces, when you assign the team or an individual to have an editor at the workspace level. All collections, environments, and other elements are elevated to editor role for them.

The workspace still supports viewer roles, where users can assign view-only permission for the workspace as well. For more details we have a blogpost for the same
https://blog.postman.

[2022-07-06 10:15] #5713 closed, assigned to ramji367

[2022-07-06 10:16] #9706 closed, assigned to nobody

[2022-07-06 10:20] DannyDainton commented on #2968
Support for Rcurl and httr are now in the Postman platform

<img width="482" alt="image" src="https://user-images.githubusercontent.com/17089546/177528818-b4bbcb91-66a9-44ab-bdf2-141affbecf8d.png">

[2022-07-06 10:20] #2968 closed, assigned to a85, umeshp7

[2022-07-06 10:26] preethammavin commented on #7619
We have enabled two things which can solve your use case
1) Public Workpsaces which can have collections which are always up to date -where users can go fork the collections and the URL doesn't change unless you delete the said collection or workspace
2) We also the ability to embed the live collection link (which is derived from the public workspaces). This helps you embed that collections simila

[2022-07-06 10:26] #7619 closed, assigned to Raja-Simha

[2022-07-06 10:27] DannyDainton commented on #2987
Closing due to inactivity and lack of contextual information.

[2022-07-06 10:27] #2987 closed, assigned to a85, vkaegis

[2022-07-06 10:31] preethammavin commented on #2034
@NathanHazout this can be achieved using the public workspaces, where you can share the link directly with your consumers

[2022-07-06 10:31] #2034 closed, assigned to a85, preethammavin

[2022-07-06 10:43] JulianGuSM commented on #11041
It would be great nice if Postman support fetching GraphQL schema documentation from a query and show it at sidebar or somewhere else.

[2022-07-06 10:45] oliverm2112 commented on #803
FINALLY!!!!!!!!!!!!!!!!!!!!! Thank you - it works great!

[2022-07-06 11:36] ArjunSingh-PM commented on #10220
We do not have plans to enable GitHub sign-in in the near future.

[2022-07-06 11:39] ArjunSingh-PM commented on #8192
We have the feature to invite users to a team or a workspace via a CSV file.

[2022-07-06 11:39] #8192 closed, assigned to pankajkumar005, ArjunSingh-PM

[2022-07-06 11:43] ArjunSingh-PM commented on #7915
The UI for managing members and groups has been revamped and this issue has been resolved.

[2022-07-06 11:43] #7915 closed, assigned to abhijitkane

[2022-07-06 11:45] ArjunSingh-PM commented on #7697
Active multi-use invites can now be deleted via the UI.

[2022-07-06 11:45] #7697 closed, assigned to abhijitkane, pankajkumar005, ArjunSingh-PM

[2022-07-06 11:49] ArjunSingh-PM commented on #6939
We do send reminders to users who have pending team invites. @prashantagarwal

[2022-07-06 11:52] DannyDainton commented on #4169
The Postman UI has been changed in later versions and the description is now part of the right-side context menu. I'm going to close this out as it feels less relevant given those changes.

https://learning.postman.com/docs/publishing-your-api/authoring-your-documentation/

[2022-07-06 11:52] #4169 closed, assigned to vkaegis

[2022-07-06 12:16] #10445 closed, assigned to nobody

[2022-07-06 12:48] DannyDainton commented on #2520
This functionality is available in the latest version of the Postman platform.

[2022-07-06 12:48] #2520 closed, assigned to vkaegis

[2022-07-06 12:57] DannyDainton commented on #10858
I'm going to close this issue for now. If we receive a recording of the behaviour and reliable steps to reproduce, we can take a close look and investigate this issue further.

[2022-07-06 12:57] #10858 closed, assigned to nobody

[2022-07-06 15:36] ramith commented on #7982
+1, I'm also interested in this feature.

[2022-07-06 17:05] mhtmalpani commented on #4555
A hack is to make use of the Pre-request Script in Postman.

Paste the following in the Pre-request Script section. This will transform all our params in the Request Url to be encoded.
Thus all the `+` sign would be encoded to `%2B`

[code]

[2022-07-06 17:07] mhtmalpani commented on #8626
A hack is to make use of the Pre-request Script in Postman.

Paste the following in the Pre-request Script section. This will transform all our params in the Request Url to be encoded.
Thus all the `+` sign would be encoded to `%2B`

[code]

[2022-07-06 18:23] shubhbhargav commented on #11046
@46053683LewisB Unfortunately, Postman as an app doesn't have the access to write files on the system directly. One way to do that would be to run a local server which can write the data to a file.

In this case, you can do the following:

1. Call the APIs that you are calling in Postman as it is
2. Store the response from the API call in Postman runtime variable with something like this `pm.varia

[2022-07-06 18:51] shubhbhargav commented on #2805
This seems to be caused by a change pertaining to this issue: https://github.com/postmanlabs/postman-app-support/issues/8302

I am opening up that issue. You can follow the updates there @ddcatgg.

[2022-07-06 18:51] shubhbhargav commented on #8302
Re-opening the issue due to a bug where the variable is not getting resolved when the request is sent: https://github.com/postmanlabs/postman-app-support/issues/2805#issuecomment-1172148346

[2022-07-06 19:04] shubhbhargav commented on #2214
@krishna066 Are you able to access the above url via any other method? I am assuming that you are using the desktop version of Postman (not web). Let me know if that's not the case.

@Gitanjali86 Can you please share a screen recording of the issue? It will help us debug the issue further.

[2022-07-06 21:19] tiagohillebrandt commented on #2931
Hey guys, PPA has been updated to the latest version. Also, just a heads up I'll be dropping the Ubuntu Xenial support (official support ended on April 2021) on the next PPA update.

[2022-07-06 21:47] kgirma commented on #3019
Seems like they're not in a hurry to resolve this. @postman-support

[2022-07-06 21:54] maksymgendin commented on #3019
Or they have serious financial difficulties which they try to solve by pushing people to upgrade to the expensive Enterprise license using quite dirty methods like not providing a free MSI installer 😬

[2022-07-06 22:06] jontot opened #11063 "setTimeout() called from a collection level Pre-request script, has stopped working in Postman version v9.24.0"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am calling the following function:
[code]
More specifically, I have the following function:

[code]

This code used to pause when called in my Pre-request script. It now does not pause and the pm.test() output I get shows this:

[2022-07-06 23:43] rifton007 commented on #10852
I spent one hour searching why I can't remove public workspaces. 😵‍💫
We don't want to appear each workspace which we have visited, this is not a normal behavior for any application.
This is logical :  a workspace  list is not a workspace history visited. (The elementary of UX/UD)

[2022-07-07 03:12] alex-frx opened #11064 "pm.sendRequest not sending request in Test if previously unset or clear called on deleted Cookie or empty Cookie-(Jar)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In a Test I define a _cookie jar_ with:

`const jar = pm.cookies.jar();`

If I call `jar.clear(domain)` and the jar is already empty the script is running but `pm.sendRequest` is not sending a request.
The same happens if you try

[2022-07-07 03:16] alex-frx opened #11065 "Option to disable sending cookies from cookie jar with pm.sendRequest"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

If you try to test something related to cookies. You have to unset theme or clear the jar.

Which can be annoying if you want to keep the cookies for the next request but have separate co

[2022-07-07 03:25] DannyDainton commented on #11064
Hey @alex-frx

Could you provide some visual examples or a short recording of what you can see on your side, please?

Could you provide details of what you have in the allowedlist in the cookie section, this holds the information about which domains tgat can be used programmatically with `pm.cookies.jar()`.

Is there any more details you can provide about that local service you're hitting?

Are yo

[2022-07-07 03:31] DannyDainton commented on #11065
Hey @alex-frx

There is a toggle at the request level that disables the cookie jar.

![Screenshot_20220707_043023.jpg](https://user-images.githubusercontent.com/17089546/177684738-3d743e55-137a-424a-8479-e59bb9755fa2.jpg)

[2022-07-07 05:04] jf-paquin-web commented on #8231
+1

[2022-07-07 07:06] sharooksubana commented on #10533
Even after giving the self-signed certificate
It's throwing an error **"The service is currently unavailable. Make sure you are using the correct URL and have the certificates configured (if required)."**

[2022-07-07 07:09] eugene0928 commented on #6515
only "something went wrong" warning comes when try to view documentation before publish it. What is should be done?

[2022-07-07 07:19] krishna066 commented on #2214
Hi @shubhbhargav, I'm using the desktop version and my issue got fixed after I downgraded the node version in my machine.

Thank You.

[2022-07-07 07:19] moshest commented on #10533
@sharooksubana what's the error details you see? Note that you shouldn't add "https://" or any other protocol to the url, just "hostname:port".

You can also verify with **gRPCurl** that the server is working properly.

[2022-07-07 09:54] blackist opened #11066 "After desiring for http2 in Postman long after, I hug the somnia. Bye~"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

desiring for http2

### Describe the solution you'd like

go to [somnia](https://insomnia.rest/download)

### Describe alternatives you've considered

_No response_

### Additional contex

[2022-07-07 10:24] DannyDainton commented on #11066
Closing this as this doesn't need to be in the issue tracker.

I completely understand the frustration here but opening this isn't the solution to this problem. 😢

[2022-07-07 10:24] #11066 closed, assigned to nobody

[2022-07-07 10:43] blackist commented on #11066
OK. I am so sorry.

[2022-07-07 10:45] kartikjain26 commented on #11012
@dcdraper You can access the pull request and go ahead with declining it if your changes are already merged.

[2022-07-07 12:34] DannyDainton commented on #11063
Hey @jontot

Could you please expand on how you're using that function in the request, please? That code would error, from what I can see.

[2022-07-07 12:38] DannyDainton commented on #11065
Closing this as the feature is currently part of the Postman platform.

If you're looking at something more global, there is an open feature request where you can upvote this by leaving a thumbs-up reaction.

https://github.com/postmanlabs/postman-app-support/issues/11008

[2022-07-07 12:38] #11065 closed, assigned to nobody

[2022-07-07 13:15] alex-frx commented on #11065
Yes i know of the toggle. But this would also disable the cookie for the "normal" http request wouldnt it?

And if you have setup a Test on collection or folder level there isn't the possibility so disable the cookie ja at all (at least i havent found it)

[2022-07-07 14:43] DannyDainton commented on #11064
@alex-frx

Could you give the steps in this a go, please? Just to confirm that you have access to the cookie jar for that domain.

https://github.com/postmanlabs/postman-app-support/issues/9930#issuecomment-840002856

[2022-07-07 14:57] nicolabeghin commented on #974
+1

[2022-07-07 16:27] alex-frx commented on #11064
Here it is demonstrated

https://user-images.githubusercontent.com/62759010/177823647-bd9c442b-c2f7-4609-a4d2-769bb852be4c.mp4

[2022-07-07 17:16] alex-frx opened #11067 "Option to disable sending cookies from cookie jar with pm.sendRequest"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

One should be able to use `pm.sendRequest`  (pre-request Script or Test) **without sending the cookies from the cookie jar** for the specific domain.

But one should **still be able to se

[2022-07-07 17:30] jontot commented on #11063
Thank you for responding. I will make a simple collection that demonstrates the problem. I was hoping you could take the snippet above and see the problem. Give me a few hours.

[2022-07-07 18:08] jontot commented on #11063
Ok I finished my meetings. I made a complete collection. I also learned something. If you call setTimeout() inline it works. What I am doing in creating a utils object in the collection Pre-request Script. When calling setTimeout() from the utils object it doesn't work. When calling inline in the request Pre-request Script it does. Please advise as to how to get setTimeout() to work without inlini

[2022-07-07 18:09] jontot commented on #11063
I had to add the extension .txt to the collection in order to upload it. Please let me know if you need any additional information.

[2022-07-07 20:04] megaromb commented on #5970
Guys, please fix the bug. Asking users to duplicate values Isn't user-friendly. Looks like an intended handicap for a free version.
Version: "You are up to date! Postman v9.22.2 is the latest version".
Thank you.

[2022-07-07 20:35] isaacatmann opened #11068 "macOS Application bundle version not updated to 9.23.3"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The latest version of Postman for macOS is 9.23.3, the download URL for this is https://dl.pstmn.io/download/latest/osx_arm64 and it downloads the file "Postman%20v9.23.3%20for%20macOS%20(arm64).zip"

But when you open the applic

[2022-07-07 21:54] MrBenGriffin commented on #8231
Hi,
I haven’t forgotten - I’ve been out with Covid for the last two weeks, and the department is currently weighed over by a couple of major crunches.

I have also talked with team managers and I should be able to meet sometime soon.

All the best
-Ben

[2022-07-07 22:24] dgonzalezc opened #11069 "Postman doesn't save API definition when last / only user of a Team-Workspace leave it"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When creating a Team-Workspace and leave-it(last / only user) postman doesn't backup API definition and his connections to collections

### Steps To Reproduce

1.- Create a Team-Workspace
2.- Add API definition
3.- Create Documen

[2022-07-08 03:56] SlowerDawn opened #11070 "After executing `pm.collectionVariables.set('key',value)`,I can't get value through `{{key}}` in Headers."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

As stated in the title.

### Steps To Reproduce

1.Open a new request tab;
2.use `pm.collectionVariables.set('key',value)` in the Pre-request Script;
3.use `{{key}}` in Headers to get value but receive nothing;

### Screenshots o

[2022-07-08 04:48] DannyDainton commented on #11070
Hey @Gittkm

Can you provide some screenshots of the issue, please?

Is the request that you're opening part of a saved Collection?

Have you tried used a different scope for the variable like `pm.globals.set()`?

[2022-07-08 05:09] codenirvana commented on #11064
@alex-frx Thanks for the screen recording, I am able to reproduce this issue.

Found the bug in our script execution flow but as a temporary workaround, add a dummy `setTimeout` at the top of your script to unblock your use case.

![Screenshot 2022-07-08 at 10 28 00 AM](https://user-images.githubusercontent.com/4865836/177920162-34e5b726-215a-43a7-bf20-9ee592364c29.png)

We'll fix this and update

[2022-07-08 05:15] sharooksubana commented on #10533
@moshest thanks for the replay,
I have not added "https://"  or any protocol to the URL this is the URL I had given **"localhost:5001"**, I also verified using gRPCurl there it is working fine.
Below is the error I saw in postman
**The service is currently unavailable. Make sure you are using the correct URL and have the certificates configured (if required).** and status code is 14 UNAVAILABLE

[2022-07-08 05:27] codenirvana commented on #10533
@sharooksubana @moshest we've simplified the TLS configuration flow and I hope that will fix your issue.

The fix will be available soon in Postman v9.25, here's a sneak peek:

![Screenshot 2022-07-08 at 10 52 05 AM](https://user-images.githubusercontent.com/4865836/177922544-a1690989-7e1f-481b-8c8a-77556dc829a7.png)

[2022-07-08 05:42] sharooksubana commented on #10533
@codenirvana , what about invoking the method using secured configuration does a self-signed certificate doesn't work for invoking a method

[2022-07-08 05:42] iamanuragbansal commented on #10261
is there any alternative way I can send auth token when connecting to socketIO connection?

[2022-07-08 06:23] DannyDainton commented on #11069
Hey @dgonzalezc

I'm not entirely sure what you mean here, can you expand on the information, please?

Can you elaborate more on final 2 points of your reproduction steps, what do you mean by "back up"?

Can you provide a screenshot or a short recording to visualize the issue that you're seeing, please?

[2022-07-08 07:19] 46053683LewisB commented on #11046
Hi shubhbhargav,
I appreciate this and will definitely look into the link you provide.  Sadly the issue is the same as Python and similar set ups are outlawed by our Windows build.  This isn't the first time i have been blocked by our build and security and am campaigning for a more open dev platform.  There is weight and appetite for this.  Quite frankly we can't carry on like this.
I have Python

[2022-07-08 08:56] codenirvana commented on #10533
@sharooksubana self-signed certificates will work the same way, you can optionally enable server certificate verification (requires CA to be configured).

I will share more details after the release, stay tuned!

[2022-07-08 09:01] DannyDainton commented on #11063
The syntax would need to change slightly to include the `diffDuration` and `pm.test` lines inside the setTimeout function.

[code]

<img width="2449" alt="image" src="https://user-images.githubusercontent.com/17089546/177957274-7e9b9657-83c4-43cd-b8dc-a46e0f034e8a.png">

[2022-07-08 09:22] DannyDainton commented on #11067
Hey @alex-frx

Appreciate you raising the feature request again, we could have just updated the information in the first request and reopened it though 😄

[2022-07-08 09:32] alex-frx commented on #11067
@DannyDainton
Sorry, im not very familiar with GitHub issues! Did not know this was possible

[2022-07-08 09:33] alex-frx commented on #11067
@DannyDainton
Sorry, im not very familiar with GitHub Issues. Did not know this was possible

[2022-07-08 10:19] whereismypen commented on #1744
@arlemi -

We use postman currently. It works in the current use case, but that is changing. We need to export as OpenAPI and if this cannot be accomplished in an automated way, I will be recommending we explore options. Vendor lock-in is **real**. Adapt or ..

[2022-07-08 11:16] redlovv commented on #6134
+1, this would be a very handy feature.

[2022-07-08 11:38] mbraidy commented on #4690
console.clear() should be great

[2022-07-08 12:40] 5olitude commented on #11061
@codenirvana  Any updates?

[2022-07-08 14:54] codenirvana commented on #11061
@5olitude I created a streaming server as per the details shared by you but,
what do you mean by _"after creating a duplicate tab"_?

Can you share a screen recording to understand the flow?

For example, the following is working fine for me:

![gRPC-streaming](https://user-images.githubusercontent.com/4865836/178016953-ab5d27ee-8d8f-4bd5-86e3-a6b2fdf6a29f.gif)

[2022-07-08 17:13] jontot commented on #11063
Thank you for your response. The minor fix to the reporting logic you mention above, is not related to the root cause of this problem. The root cause if due to the fact that putting any functions into an object at the collection Pre-request level will NOT properly execute the setTimeout() call. Which you can see clearly from the sample collection I supplied.

Now the reason people need to put comm

[2022-07-08 17:32] MrWolfPST commented on #9612
This is a must have feature.
It should permit store not only the Body section but also Headers and Params, included Query Params and Path Variables.

[2022-07-08 17:53] jlcanale opened #11071 "Postman not setting some cookies."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am attempting an API request to a login api that normally responds with 3 Set-Cookie header values, but Postman is only setting one of the Set-Cookie Requests

### Steps To Reproduce

1. Open a new request.
2. Make a request to

[2022-07-08 21:38] jkim-latitude commented on #285
+1
I have a prerequest script that generates certain values for a request and saves them to the environment.
I have a need of a secondary request which refers to a particular first request and uses the values from the first request.
I'd like the user to be able to select the first request they want to relate the secondary request to.
i.e.

1. Tester performs request 1 - generate dynamic value A be

[2022-07-08 21:45] computerwizjared commented on #8019
Hey @Raja-Simha, we are looking for a feature like this - our CI manages the whole OpenAPI/Postman lifecycle and the only manual step in this process is publishing from the Postman desktop client.

[2022-07-09 08:23] TheYuriG opened #11072 "Postman crashes upon trying to redownload Interceptor after a network connection error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have looked up if similar issue has been created and this (#10870) was the closest I found.
I assume the desktop application doesn't do error handling on second attempts of anything, since it's a similar issue.a

### Steps To R

[2022-07-10 09:21] gabriel-r opened #11073 "Option "Save as…" to another workspace"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I'm a maintainer of a public API and often I need to fine tune and adjust one or two requests for a very specific use case.
I'd like to be able to save those edits to a separate workspace

[2022-07-10 18:37] barelnir commented on #803
thanks @giridharvc7 for make dreams come true ;)

[2022-07-11 00:58] shubhbhargav commented on #11046
I see. Thanks for the feedback @46053683LewisB. We will see what we can do here in the future but it's unfortunately a limitation as of now. :(

[2022-07-11 05:10] shashankawasthi88 commented on #11072
@TheYuriG thanks for raising this. We will look into this issue.

[2022-07-11 07:06] shashankawasthi88 commented on #11000
@suchand-talview let us know if you are still interested in this request. We are in process of building this and would like to validate it with a few customers.

[2022-07-11 07:12] shashankawasthi88 commented on #10980
@anzalbegDDA ping^. You can also reach out to [Postman's support](https://support.postman.com/hc/en-us/requests/new/) team for help.

[2022-07-11 07:14] shashankawasthi88 commented on #10936
This should be fixed now. Feel free to open if the issue exists.

[2022-07-11 07:16] #10827 closed, assigned to abhijitkane

[2022-07-11 07:29] savbran commented on #10842
No further news on this feature? Still no list of currently opened tabs? This is very important. Thanks in advance for the attention.

[2022-07-11 07:38] 46053683LewisB commented on #11046
HI,
Thank you for your time on this.  I think it would be a very welcomed addition\improvement to an already excellent application.
I am winning my push for a more open dev platform and am hoping soon to be able to try the suggestions made here.
Thanks to you and all contributors for your help and suggestions.
Lewis.

[2022-07-11 07:38] #11046 closed, assigned to nobody

[2022-07-11 08:22] AndreasHuber-CH commented on #8231
Hi, in my case my need seems pretty straightforward:
I'm working on some project where a mobile client sends the "id_token" in API calls to our backend. (For some reason the "id_token" is required instead of "access_token", but that's not something I can or want to change right now).

To be able to test the backend API with postman, I need to get the "id_token" somehow and be able to set it as Bea