[2019-05-02 03:28] #6400 closed, assigned to codenirvana

[2019-05-02 03:48] mexner commented on #4733
I'm also interested in this feature.

[2019-05-02 03:50] ghost commented on #2494
@codenirvana Thanks, tested and working ok. However, it refused to open my pfx file when I used a password containing special characters. I had to recreate the pfx file with a password containing only letters and numbers before it worked in Postman.

[2019-05-02 04:04] preethammavin commented on #6388
@ankurkumarnodejs could you provide more details of the bug , and use the templates suggested above so that we can debug it.

[2019-05-02 06:20] antonrabe opened #6406 "Editing the value of a variable via the environment quick look also edits the value of other variables"
**Describe the bug**
Editing the value of a variable via the environment quick look also edits the value of other variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an environment with existing variables and values
2. Click on the environment quick look
3. Edit the value of a variable.
4. Press Enter

**Expected behavior**
Only the value of the select variable should be edited

[2019-05-02 07:13] JasperJiang commented on #1066
+1

[2019-05-02 07:14] grg-akshay commented on #6406
@antonrabe  Thank you for raising this issue.
Do you have any variables that are disabled? We are already tracking an [issue](https://github.com/postmanlabs/postman-app-support/issues/6362) where this happens.

[2019-05-02 07:21] arnolde commented on #6364
I have a similar issue with v7.0.9 on Windows 10, when configuring a proxy on port 8080 and then trying to access a destination with ip address like https://1.2.3.4:12345/deep/path (ssl cert checking is turned off) I am getting a timeout. I assume it's the same issue. Looking forward to a fixed release :-)

[2019-05-02 08:02] wimgielis commented on #5769
Hello, would someone have an update on this enhancement request please ? Many thanks !

[2019-05-02 08:04] sanderlissenburg commented on #1345
This is still a issue on the linux version.

[2019-05-02 08:24] antonrabe commented on #6406
@grg-akshay Yes. I have two variables that are disabled.

[2019-05-02 08:27] debjeetsarkar opened #6407 "Unable to view the description of an unpaid invoice."
**Describe the bug**
The description for an unpaid invoice is shown as "0" instead of showing the actual description for the invoice.

<img width="1310" alt="Screenshot 2019-04-28 at 12 55 12 PM" src="https://user-images.githubusercontent.com/6427574/57063802-127b7400-6ce2-11e9-8d93-c52f258dc3a2.png">

**Expected behavior**
The unpaid invoice should clearly show the description of it.

[2019-05-02 08:45] ddemydenko commented on #2096
+1 customization hotkeys

[2019-05-02 10:41] kjozsa commented on #4186
issue still exists in 7.0.9

[2019-05-02 11:08] AuriR commented on #4171
I don’t think they care anymore. At least, it sure feels that way for as long as this has been out there. Or maybe this issue is too old?

---
“Never confuse motion with action.” -Ben Franklin
Blog: https://auri.net<http://www.auri.net> / Twitter: @Auri

________________________________
From: BohunkG4mer <notifications@github.com>
Sent: Wednesday, May 1, 2019 4:18:50 PM
To: postmanlabs/postman-app

[2019-05-02 11:30] dsidirop commented on #5823
/bump

I can verify this bug. It made my head in for many hours till I figured out what was wrong with the token I was using. Thought the problem was in our own backend somewhere XD

[2019-05-02 11:46] sujayvenaik commented on #5823
Hey, @dsidirop  Which version of the app are you on?

[2019-05-02 12:24] RomuloVHSYS commented on #3117
Awesome! But i got a question:

@a85 , with "annotations" will we be able to set optative/required parameters?

[2019-05-02 13:01] DNWEIJ opened #6408 "Single Request executed multiple times (looped) with variations in json vars in body from csv/json"
Currently only the runner can have a dataset (csv/json) to iterate through.

I would like to have the possibility to also attach a dataset to a single request. This request should then be repeated for every data in the dataset.

Specifically I would like to use this to iterate a single request for query parameters and BODY data. BODY data is json and we need to test multiple variations here, Like

[2019-05-02 13:15] loris commented on #3117
@a85 awesome, great direction you are taking here. Do you have any approximate release date to communicate on this feature already?

[2019-05-02 14:46] VinceBarresi commented on #6400
@shamasis Thanks for the info and thanks again for the help. Really appreciate it!

[2019-05-02 15:19] ttfreeman commented on #6094
At least you are able to install. For me, the installation fails due to some mounting error.

[2019-05-02 15:52] fractalix commented on #4001
Is there any update regarding this issue? I tested Postman 7.0.9 on linux. I have tested with chrome and firefox on win,lin and mac and they keep the method (POST) on the redirection, so Postman should do it also.

[2019-05-02 17:10] ghost opened #6409 "Latest version can't open site but older version can"
The latest version (7.0.9) for mac can not open this site

http://forecast.weather.gov/MapClick.php?lat=29.7818372&lon=-95.4407968&FcstType=json

but an older version (6.0.10) can without issue.

Latest version will just return a 404 with all the incorrect headers defined where as the older version shows the correct headers. Trying to add the correct header information doesn't do anything as they

[2019-05-02 17:15] jronak commented on #1669
@codenirvana can you please expedite the release?

[2019-05-02 17:54] alexprest commented on #6152
Also when the request is "x-www-form-urlencoded" the encoding of the payload is incorrect:
"/" don't get encoded

[2019-05-02 19:10] theKashyap commented on #2934
Please support this, this is a bug not a feature. client-cred-grant simply doesn't work without it.

[2019-05-02 19:53] Featurum commented on #6341
I ran into this problem on macos after update 7.0.9

[2019-05-02 21:08] skimmerle opened #6410 "Feature Request: Protect published documentation"
we are publishing our collections on custom domains, but we want to protect them also with some authentication like basic auth.

is this already possible?

[2019-05-02 22:30] #6409 closed, assigned to nobody

[2019-05-03 00:20] JP-from-Postman commented on #6199
It might be interesting to look at this from the same perspective as monitoring calls --- a baseline amount per plan, with the option of adding on additional domain "blocks"

[2019-05-03 01:03] lorna-bevingtongrant commented on #6105
Hi, Is there an update on when this may get fixed?
Thanks

[2019-05-03 03:20] chrisdeso opened #6411 "Status Page - Segment notifications"
**Is your feature request related to a problem? Please describe.**
Organizations may rely on Postman's services to ensure that their services/infrastructure is working as expected – monitoring, mock servers, etc.

Outages are extremely important to know about but planned maintenance may not be a priority. With the existing setup, it's difficult to distinguish when an alert is important or not

**D

[2019-05-03 03:46] preethammavin commented on #6388
Closing the issue, as the information provided do not provide steps to identify or solve the issue

[2019-05-03 03:46] #6388 closed, assigned to nobody

[2019-05-03 03:54] zhuyijian135757 commented on #1667
Interceptor feature is great, just make it available in Postman Desktop Apps. You know that is the right thing!!!

[2019-05-03 04:59] numaanashraf commented on #6406
Duplicate of #6362

[2019-05-03 04:59] #6406 closed, assigned to nobody

[2019-05-03 05:57] ofpiyush commented on #5194
@vinod-patel  thank you for introducing me to `BloomRPC`.

Would be amazing to have that in postman itself.

[2019-05-03 07:12] ymeunier commented on #6399
Thanks !
During my fisrt test, it did'nt work :)

[2019-05-03 07:12] #6399 closed, assigned to nobody

[2019-05-03 08:37] Ekusu1 commented on #6362
+1

This also affects scripts (pre for sure, post not entirely sure),
My pre-script is supposed to build an URL and save it into a variable but the they stay the same.
It works sometimes thought and im not sure if it has anything to do with the variables or something else.

PS: This error is not reproducable in v7.0.7

[2019-05-03 09:22] Alexand3r commented on #6297
@numaanashraf Sorry for the long wait.

EDIT: I can also confirm the bug is still present in 7.0.9

Intel Core i3 7100U @ 2.4GHz 4 cores
12GB RAM

![Screenshot_20190503_112055](https://user-images.githubusercontent.com/988056/57129043-96daff00-6d95-11e9-886f-fc00c655024a.png)

[2019-05-03 11:35] svenluijten commented on #1931
👍 Being able to throttle requests / simulate slow clients would be very useful.

@gpicazo can  you re-open this issue? The question is still valid, and it _does_ make sense. 🙂

[2019-05-03 11:36] svenluijten commented on #3777
@a85 has the team had the opportunity to implement a feature like this? Alternatively; do you know of a workaround to make this work?

[2019-05-03 14:55] aspoehrer commented on #4094
This is not fixed. I am running a valid and successful run in Postman but in Runner it fails with a variable undefined that isn't even mentioned. It almost acts  like its a caching issue because I have removed all code and replaced the referenced variable with another name throughout..

[2019-05-03 15:44] a85 commented on #3117
@RomuloVHSYS Annotations, Schemas, and Required/Optional parameters are independent features.

@loris Thank you! This will start rolling out in May.

[2019-05-03 16:01] shahabejaz commented on #3602
I have tried with empty body and its not detecting saved response, all other cases are working fine for me.

[2019-05-03 16:25] labifrancis opened #6412 "New environment dropdown sections for a documentation page"
**Is your feature request related to a problem? Please describe.**

When a user makes public documentation and accesses the page while logged in to their account, it shows all their private environments from the dropdown. This makes users think that all their private environments are visible to anyone who has access to the link.

Environment dropdown
![Annotation on 2019-4-5](https://user-images.g

[2019-05-03 19:39] rodrigopmatias commented on #2412
Copy Insomnia hide menu.

[2019-05-03 20:18] ghost commented on #6281
Just had the problem but it's maybe a different issue. I was using Postman without account for a long time, I have added a account because a coworker wanted to try shared workspace. Lost all my collections. Still see some of the request in the history pane...

[2019-05-03 20:19] tekNorah commented on #2302
Me too!

[2019-05-03 21:07] shamasis commented on #4171
If this thread is followed, one would notice that, even with best efforts from the standardisation systems as a whole, there is no one correct way of encoding URLs. Postman has been encoding URLs to match Chrome and over the years even Chrome has tweaked its encoding logic and we now see deviations. The catch-22 here is that any change to the logic (even if that were to match Chrome), would start

[2019-05-03 22:05] chrisdeso commented on #6401
The magic link idea is great @shamasis – updated the original post to reflect it.

[2019-05-03 22:30] vnktsh commented on #4463
@sujayvenaik To make ease this confusion, we can have two options "`Duplicate`" and "`Copy to New`" from the right click menu on tabs. The current procedure i.e. if you "Duplicate" from the tab menu you're duplicating the instance and if you "Duplicate" from the side-bar, you're duplicating the request, is not intuitive and confusing.

[2019-05-04 00:03] chrisdeso opened #6413 "Sync Hangs – Exceeds maximum retry count for collection"
**Describe the bug**
Sync is hanging on a specific collection and throwing the following error:
`Uncaught (in promise) Error: BaseSyncTimeline~getPendingServerChanges: Could not make /sync call. Exceeded maximum retry count for collection:<collection ID>`

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. See sync hanging
3. Open DevTools Console

**Expected behavior**
Sync is expec

[2019-05-04 00:43] mktunited commented on #1983
Hello, We are experiencing the same issue. In our case. It is only happening woo commerce order emails it seems random though.

[2019-05-04 04:50] piavgh commented on #4009
+1

[2019-05-04 10:18] kilitary opened #6414 "Issue with case sensitivity of request headers (system headers)"
**Describe the bug**
Some headers sent with smaller first letter, this reveal using Postman. For example [accept-encoding, content-length]

**To Reproduce**
Steps to reproduce the behavior:
1. Use runner on any collection

**Expected behavior**
All headers start with big letter.

**Screenshots**
![postman_error](https://user-images.githubusercontent.com/1662737/57177643-beea6100-6e6e-11e9-9fca-672

[2019-05-04 10:20] kilitary commented on #6379
I too want this setting. I prefer code in Lucida console 11px. With antialiasing/cleartype OFF.

[2019-05-04 10:54] stokito opened #6415 "OAuth from JavaScript"
I wrote test cases with built in JavaScript but what I wanted is to perform OAuth authentication directly form test case.
It turned out that there is no such API in postman.
Could you expose such API?
Thank you in advance

[2019-05-04 12:11] AuriR commented on #4171
Thanks, @shamasis. I think people will feel better knowing there's a reply and a reason :) Is there any way we can help as a community? I'm guessing Postman isn't going open source, although I imagine we'd love to contribute if it did.

[2019-05-04 12:13] AuriR commented on #4171
@shamasis To be fair, the original issue with this task is more of a bugfix + feature request. The way I see it, it's not a complex question of choosing only one encoding technique - it's providing an option for how the encoding is handled.

[2019-05-04 13:41] chimit commented on #3807
Really needed feature!

[2019-05-04 18:32] debjeetsarkar opened #6416 "Team admin not being able to approve a pending invitation request for team."
**Describe the bug**
Team admin is not being able to approve pending invitation request for a team. On attempting to approve a pending invitation gets an error saying "No such invite exists"

**Expected behavior**
The admin should either
 - Not see a pending invitation request if the invitation doesn't exist
  or
 - Get proper reasoning why they can't approve a pending invite.

**Additional contex

[2019-05-04 19:41] shamasis commented on #6411
This has been put into effect from April 22nd. From now on, status page posts will happen for the following:

1. Maintenance that is likely to cause outage or degraded performance. This will be posted 5 days in advance, unless it’s an emergency.
2. Incidents occurring due to failures from internal or external causes

[2019-05-04 19:41] #6411 closed, assigned to shamasis

[2019-05-04 20:11] Carl-Bowen commented on #2352
Try executing the installation file as Administrator by right-clicking the file. That resolved it for me! :).

[2019-05-05 01:38] detectiveHLH commented on #6304
@kamalaknn Thanks a lot. I did exactly you said. Now it's working. Thanks.

[2019-05-05 01:46] a85 commented on #1265
Late reply for this but we will be integrating the runner as part of the main Postman process so that users can edit the collection in one tab and run it another.

[2019-05-05 01:46] #1265 closed, assigned to vkaegis

[2019-05-05 01:49] a85 commented on #1434
Postman will adopt a plugin based approach to import/exports. We are decoupling importers and code-generators from the main Postman app so these can be shipped independently. Plug-ins can cater to individual tastes or preferences. All plug-ins that Postman has authored are open-source and are available on GitHub. For example here: https://github.com/postmanlabs/openapi-to-postman

[2019-05-05 01:49] #1434 closed, assigned to a85

[2019-05-05 01:51] a85 commented on #1845
Closing this issue as Postman has adopted a plugin based approach to import/exports. We are decoupling importers and code-generators from the main Postman app so these can be shipped independently. Plug-ins can cater to individual tastes or preferences. All plug-ins that Postman has authored are open-source and are available on GitHub. For example the OpenAPI to Postman plug-in is here: https://gi

[2019-05-05 01:51] #1845 closed, assigned to nobody

[2019-05-05 01:54] #3170 closed, assigned to nobody

[2019-05-05 01:55] a85 commented on #3274
Role Based Access Control is now available for all teams in versions 7.0+

[2019-05-05 01:55] #3274 closed, assigned to a85, sankalp0o, ankit-m

[2019-05-05 01:58] a85 commented on #4290
Postman supports sessions now so each developer can have their own local copy of values. Through that developers can work on local copies of the values they use while shared copies can be stored in initial values of variable definitions. Local values (seen as current values) don't sync to Postman servers or in Workspaces:

<img width="737" alt="Screenshot 2019-05-04 18 58 27" src="https://user-ima

[2019-05-05 01:58] #4290 closed, assigned to sankalp0o

[2019-05-05 02:01] a85 commented on #729
Collection variables are available now in Postman to provide one more level. We will look at the need for additional scopes in the future. For now I am closing this issue.

[2019-05-05 02:01] #729 closed

[2019-05-05 02:04] #6325 closed, assigned to nobody

[2019-05-05 03:31] a85 commented on #843
Closing this as the original issue doesn't reflect the current state of our roadmap. Also as I mentioned above, Postman is going to have more extensive support for Swagger and other formats.

[2019-05-05 03:31] #843 closed

[2019-05-05 03:32] a85 commented on #895
Closing this as we don't expect to be able to do this any time soon.

[2019-05-05 03:32] #895 closed

[2019-05-05 03:33] a85 commented on #1485
Closing this as we don't envision supporting nested environments any time soon. We have introduced additional scopes with Collection variables so hopefully this should help.

[2019-05-05 03:33] #1485 closed, assigned to a85

[2019-05-05 03:34] a85 commented on #1547
We recommend using "Send and Download" for large payloads. We are tracking performance issues in other threads.

[2019-05-05 03:34] #1547 closed, assigned to nobody

[2019-05-05 03:35] a85 commented on #2111
Closing this as this was filed for a much older version.

[2019-05-05 03:35] #2111 closed, assigned to nobody

[2019-05-05 03:39] a85 commented on #3351
@matt-usurp Thank you for filing this. We have some improvements through detailed schema support that I have posted about in other threads (https://github.com/postmanlabs/postman-app-support/issues/3117#issuecomment-488125080) that should help with this and similar issues.

[2019-05-05 03:39] #3351 closed, assigned to a85, vkaegis

[2019-05-05 03:43] a85 commented on #3863
We are available as a Linux app. We are tracking requests for installers elsewhere.

[2019-05-05 03:43] #3863 closed, assigned to numaanashraf

[2019-05-05 03:44] a85 commented on #3932
There are no deterministic ways to compare form-data to JSON as they are different formats. There might be 3rd-party tools available to do this and we recommend using those.

[2019-05-05 03:44] #3932 closed, assigned to vkaegis

[2019-05-05 03:47] a85 commented on #2621
We support Collection variables now that gives an additional scope for defining variables that are related to requests. We don't envision supporting nested environments any time soon. It increases the complexity of maintaining those variables as well as sharing them. Other use cases should be easily supported by collection variables, environments, and globals.

[2019-05-05 03:47] #2621 closed, assigned to a85, vkaegis

[2019-05-05 03:49] a85 commented on #2691
We have integrations with all major repository providers as well as the Postman API along with collection specific exports and bulk exports. Closing this for now.

[2019-05-05 03:49] #2691 closed, assigned to shamasis, a85

[2019-05-05 03:51] a85 commented on #5669
Not sure if this is still valid.

[2019-05-05 03:51] #5669 closed, assigned to nobody

[2019-05-05 03:51] #2315 closed, assigned to a85

[2019-05-05 03:53] #5275 closed, assigned to nobody

[2019-05-05 03:55] a85 commented on #4943
This should be possible with the Find and Replace feature: https://learning.getpostman.com/docs/postman/find_replace/

[2019-05-05 03:55] #4943 closed, assigned to vkaegis

[2019-05-05 03:59] a85 commented on #5641
Commented here on our approach to solving this: https://github.com/postmanlabs/postman-app-support/issues/3117#issuecomment-488125080

[2019-05-05 06:33] a85 commented on #5502
Closing this as the use case is not completely clear.

[2019-05-05 06:34] a85 commented on #5991
I am not sure whether an additional option is needed. Why not copy/paste the URL in the browser and hit send?

[2019-05-05 06:40] a85 commented on #5947
I am not sure if this is still happening for you?

[2019-05-05 06:41] a85 commented on #5962
@ognjenmarcheta After more discussions here we have decided to not do this as this introduces additional complexities of data serialization while interpolating curl commands into URLs. We recommend using the Postman collection format for embedding and exporting.

[2019-05-05 06:41] #5962 closed, assigned to nobody

[2019-05-05 06:43] a85 commented on #6230
I agree that archiving automatically can be frustrating. Auto archiving should not happen directly on import any more. We start archiving only after a certain period and after repeated warnings. Let me know if this is still happening! Closing this for now.

[2019-05-05 06:43] #6230 closed, assigned to nobody

[2019-05-05 06:44] #5991 closed, assigned to nobody

[2019-05-05 06:45] a85 commented on #5922
I am not sure whether we'll be able to implement custom item level theming due to the complexities of rendering across themes or docs. We'll take this up later if time permits.

[2019-05-05 06:45] #5922 closed, assigned to nobody

[2019-05-05 06:47] #5465 closed, assigned to sankalp0o, Raja-Simha

[2019-05-05 06:48] #4059 closed, assigned to a85

[2019-05-05 06:50] a85 commented on #2213
We have introduced Workspaces recently to help organize your work better. There are no plans for folders around environments for now.

[2019-05-05 06:50] #2213 closed, assigned to a85, vkaegis

[2019-05-05 06:52] a85 commented on #5742
Too much of an edge case for us to consider. Probably better for buyers like this to raise funds independently and then buy.

[2019-05-05 06:52] #5742 closed, assigned to nobody

[2019-05-05 06:54] a85 commented on #5316
We'll mostly go the web app route now. Closing this.

[2019-05-05 06:54] #5316 closed, assigned to nobody

[2019-05-05 06:55] a85 commented on #5329
This is available now in 7.0+

[2019-05-05 06:55] #5329 closed, assigned to nobody

[2019-05-05 06:57] a85 commented on #2937
We have no plans to change the existing parameter format for now and the rendering of the related user interface. If we do this in the future, it'll be through a plug-in.

[2019-05-05 06:57] #2937 closed, assigned to a85

[2019-05-05 06:58] a85 commented on #1994
There are lots of flows that intersect with this and we haven't seen any major issues occurring due to people manually adding these headers. Closing for now.

[2019-05-05 06:58] #1994 closed, assigned to vkaegis

[2019-05-05 07:00] a85 commented on #719
The workaround mentioned in this thread should help making remotely loaded JSON schemas possible. Postman will have first-class support for schemas in general in the coming versions soon. Closing this ticket for now.

[2019-05-05 07:00] #719 closed

[2019-05-05 07:01] #2867 closed, assigned to a85

[2019-05-05 07:02] a85 commented on #3852
We don't have any changes around this planned for now or the near future.

[2019-05-05 07:02] #3852 closed, assigned to a85, abhijitkane

[2019-05-05 07:03] a85 commented on #4215
This will have to be done on a case-by-case basis. Postman's JS sandbox can help with the conversion.

[2019-05-05 07:03] #4215 closed, assigned to shamasis

[2019-05-05 09:45] straxico commented on #3822
+1 for this feature!

[2019-05-05 10:17] lucielavickova commented on #4591
hey guys, same issue here... it's quite annoying to select the number of iterations and file type every time :/

[2019-05-05 10:24] Uelii commented on #1906
+1

[2019-05-05 16:34] a85 commented on #6185
Thank you for filling the feature request! Postman does not support this right now. We recommend using curl commands individually. We are tracking curl import support separately and as there is no standardised format for a list of curl imports - we won’t do this natively. We will introduce plugins soon to let the community build plugins for importers to serve these use cases.

[2019-05-05 16:34] #6185 closed, assigned to nobody

[2019-05-05 16:37] a85 commented on #5511
Closing this as we are tracking Interceptor support in other issues.

[2019-05-05 16:37] #5511 closed, assigned to numaanashraf

[2019-05-05 16:39] #5118 closed, assigned to vkaegis, sankalp0o

[2019-05-05 16:40] a85 commented on #5118
We will support extensive reporting functions separately to handle use cases like this. Building a screenshotting system in Postman is not viable.

[2019-05-05 16:41] #4743 closed, assigned to vkaegis

[2019-05-05 16:42] ghost commented on #4679
it works, thanks

[2019-05-05 18:11] a85 commented on #4467
Can't seem to replicate this. Closing this for now.

[2019-05-05 18:11] #4467 closed, assigned to vkaegis

[2019-05-05 18:11] #2375 closed, assigned to nobody

[2019-05-05 18:13] a85 commented on #5085
We are deprecating collection links in favor of the Postman API: api.getpostman.com. We'll update the collection links URL separately with more browser oriented features.

[2019-05-05 18:13] #5085 closed, assigned to nobody

[2019-05-05 18:30] a85 commented on #1368
It is possible to call for external URLs in pre-request scripts/test scripts now. We are also going to have first-class schema support for all formats in upcoming versions for Postman. Closing this for now.

[2019-05-05 18:31] #1368 closed, assigned to a85

[2019-05-05 18:32] a85 commented on #5456
Collection variables are editable. Environments and Collections need to be stored separately because of credential issues. Closing this for now. Postman supports multiple export options as well as the ability to collaborate through Workspaces.

[2019-05-05 18:32] #5456 closed, assigned to nobody

[2019-05-05 18:36] a85 commented on #5357
Postman supports collection variables now that should help with these. Let me know if this doesn't work and I'll re-open to investigate more.

[2019-05-05 18:36] #5357 closed, assigned to nobody

[2019-05-05 18:39] #5885 closed, assigned to nobody

[2019-05-05 18:44] shamasis commented on #4591
@lucietriskova - this is a closed issue. It would be great if you file a new feature request explaining your use case. Maybe you could tell us a bit more about when and how do you need it

[2019-05-05 18:45] a85 commented on #5698
We recommend using Collection level variables for these workflows:

<img width="1552" alt="Screenshot 2019-05-05 11 44 59" src="https://user-images.githubusercontent.com/653409/57198739-3c73a700-6f2b-11e9-8a5c-64f8bcdbce06.png">

[2019-05-05 18:45] #5698 closed, assigned to nobody

[2019-05-05 18:53] a85 commented on #2377
Closing this as we are tracking Interceptor support in #1667. Any missing form of authentication can be baked into Pre-request scripts or through a combination of manual steps + script based flows.

[2019-05-05 18:53] #2377 closed, assigned to nobody

[2019-05-05 18:57] a85 commented on #5242
Closing this as I am not clear what exactly needs to be done here.

[2019-05-05 18:57] #5242 closed, assigned to nobody

[2019-05-05 19:01] a85 commented on #2402
Everyone, closing this issue as there is a large surface area of places where things might differ from the Chrome app and the Desktop apps. We are tracking these individual differences elsewhere. The app is on 7.0+ now and lots of things have changed since the issue was filed.

[2019-05-05 19:01] #2402 closed, assigned to nobody

[2019-05-05 19:02] a85 commented on #2617
This will be out in 7.1

[2019-05-05 19:02] a85 commented on #2709
I am not sure what we can do here other than improve error warnings. Closing this as a bug.

[2019-05-05 19:02] #2709 closed, assigned to numaanashraf

[2019-05-05 19:53] shamasis commented on #6414
Is this causing any issue? As far as standards go, header capitalisation does not matter for the headers in question unless using a seriously strict and niche server.

[2019-05-05 20:04] shamasis commented on #6415
This does not seem to be something in roadmap. What is in Roadmap is revamping oAuth2 to have a variant that stays local to a collection (hence making the tokens portable.) at that time, such saved tokens could be used while using pm.sendRequest. Closing this since it is unlikely that we will expose oAuth2.0 as a Postman Sandbox API. And whenever we do the revamp, like I mentioned first, this will

[2019-05-05 20:04] #6415 closed, assigned to nobody

[2019-05-05 20:09] shamasis commented on #6408
I see what you mean. Have you tried making more parts of your request to use variables? Then your scripts could simply tweak those variables you can keep on clicking send. I know that’s not ideal, but as far as I see, this feature is not planned anywhere.

However, we are working on building a sort of workflow editor in collection runner that can take parts of a collection and automate such stuff.

[2019-05-05 20:37] a85 commented on #4573
Closing as duplicate of #4072

[2019-05-05 20:37] #4573 closed, assigned to vkaegis

[2019-05-05 20:45] #5449 closed, assigned to nobody

[2019-05-05 20:48] a85 commented on #3628
We will support this using more extensive schema languages. More detail in other issues that we are tracking here.

[2019-05-05 20:48] #3628 closed, assigned to a85, vkaegis

[2019-05-05 22:11] a85 commented on #1535
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:11] a85 commented on #1072
Closing as duplicate of #1535. See latest comment there!

[2019-05-05 22:11] #1072 closed, assigned to a85

[2019-05-05 22:13] a85 commented on #2801
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:13] a85 commented on #1906
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:15] a85 commented on #2847
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:15] a85 commented on #1744
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:16] a85 commented on #1885
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:16] a85 commented on #208
Everyone, this is part of a much larger initiative but we are introducing the ability to define APIs in Postman using schemas. You will be able to document schemas for both requests and responses using whatever format you typically use. Postman will then take this as another input in generating docs, building mocks, or adding tests. It looks like this:

<img width="1552" alt="Screenshot 2019-04-30

[2019-05-05 22:20] a85 commented on #4009
Everyone, thank you for your patience. Unfortunately, no ETA on this yet. We are scaling up the team to support other protocols and APIs. We use Websockets ourselves as our real-time collaboration service uses websockets. Separately, we are hiring across the globe for our engineering team. If you want to help us implement this, please check out our job page here: https://www.getpostman.com/jobs/

[2019-05-06 02:46] jacky0915 commented on #6304
Same issue here, after doing

the issues still remain
The folder didn't created also

[2019-05-06 02:48] detectiveHLH commented on #6304
Do you quit the app?

[2019-05-06 02:51] jacky0915 commented on #6304
@detectiveHLH
Yes sir,
I did follow all the steps mentioned above.
Still not showing any thing.
Even the about postman on the top menu also disabled.

[2019-05-06 02:55] jacky0915 commented on #6304
@detectiveHLH
I solved my problem by downloaded PostmanCanary
https://www.getpostman.com/downloads/canary

[2019-05-06 02:56] detectiveHLH commented on #6304
Cool

[2019-05-06 05:09] keremcankabadayi commented on #1885
What a great news! @a85 . When will it be released?

[2019-05-06 05:20] Ramya-From-Postman opened #6417 "Unable to delete slack Integration"
**Describe the bug**
When trying to delete a slack integration, it throws an error saying "_Something went wrong(you are not permitted to perform the action. you do not have appropriate permissions to perform this action)_"

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the [web dashboard](https://go.postman.co)
2. Go to Integrations tab & then slack
3. Try deleting the "**Postm

[2019-05-06 05:42] darkworks commented on #5383
ya right looks like it was caused due to space

[2019-05-06 05:42] #5383 closed, assigned to nobody

[2019-05-06 05:53] kamalaknn commented on #6304
Hey @jacky0915 The suggested path was for macOS. Can you share the operating system configuration and the app version?

[2019-05-06 05:56] jacky0915 commented on #6304
@kamalaknn Yes, I am using Mac OS High Sierra 10.13.6
the folder has been removed but after restart postman, it didn't create it back.

[2019-05-06 05:57] detectiveHLH commented on #6304
Or Maybe you should clean the cache and try again.

[2019-05-06 05:59] detectiveHLH commented on #6304
@jacky0915
Delete the Postman folder at the following location on macOS. Open the finder `cmd + space` , paste `~/Library/Application Support/Postman` and hit return. And delete the cache folder.

[2019-05-06 06:03] Raja-Simha commented on #6338
User comments from support request

To be clear most API Docs today have two components:
1. API reference
2. HowTo Guides

Postman does a pretty decent job for #1 but without this issue we can't really do #2 at all and we have to look at moving that part of the docs into another solution.

[2019-05-06 06:06] jacky0915 commented on #6304
@detectiveHLH
I delete the cache file also the postman window didn't show up.
But is ok since i using PostmanCanary right now.

[2019-05-06 06:10] detectiveHLH commented on #6304
👍Cool. I will try it if the window goes wrong again.

[2019-05-06 08:47] mmelnik commented on #5680
Confirm this problem. Bug still appears on fresh Fedora 29 installation and latest Postman version. @numaanashraf what info can help you to fix this?

[2019-05-06 09:15] ousloob commented on #5558
Same Ubuntu 18.04 even if we set another browser as default application for HTML
Postman sets itself as a default application after a reboot

[2019-05-06 09:21] venkatesuluM opened #6418 "Environmental Variabale values are not updated while running collection through runner"
Hi @abhijitkane,

We find out the  issue,  environmental variables values were not updated while running collection on Runner. Please have a look into issue.

**Note:** If we invoke request individually, It was updated value on environmental variable file.
**Postman Version:**  Postman v7.0.9

Thanks,
Venkatesh

[2019-05-06 09:34] Michal-Kolomanski opened #6419 "Testing if a date sorting is correct in Postman"
Hello,
I use native Postman and Newman. I am sending a request which has a random date.

In pre-request Script:

pm.globals.set('hours', _.random(10,23));
pm.globals.set('minutes', _.random(10,59));
pm.globals.set('seconds', _.random(10,59));
pm.globals.set('day', _.random(10,30));
pm.globals.set('month', _.random(10,12));
pm.globals.set('year', _.random(2010,2019));

in body:

{
    "eventtype":

[2019-05-06 09:48] irshu355 commented on #3137
+1

[2019-05-06 09:48] rawkartoffel opened #6420 "Editing Environment Variable through Eye icon modifies more than one variable"
**Behavior**
Editing an Environment Variable through the "Eye" icon next to the Environment dropdown menu, will modify the selected Variable and the one that is placed two spaces below.

**How To Reproduce**
1. Click on "Eye" icon next to Environment dropdown menu
2. Click on "pen" icon to edit the selected variable
3. Press Enter key or outside of the textbox to modify the selected variable

**Ex

[2019-05-06 09:51] kilitary commented on #6414
yes, causing to stop replying to my requests. Please do capital letters.

[2019-05-06 10:27] sgoendoer commented on #6394
@shamasis Thanks for your reply but honestly, I don't see how the linked Nodejs-thread is related to this. The linked (and by long closed) thread discusses handling of multiple headers with the same name being present in the same request.

THIS issue means that Postman CHANGES the capitalization of headers. Something that should never ever happen!

I give you that RFC 7230 states that header names

[2019-05-06 10:54] mmelnik commented on #5680
Here is solution that worked for me:
https://github.com/postmanlabs/postman-app-support/issues/5093#issuecomment-450737208

[2019-05-06 11:00] sivcan commented on #6419
Solved on community post -  https://community.getpostman.com/t/testing-if-a-date-sorting-is-correct-in-postman/5293/2

Closing this ticket.

[2019-05-06 11:00] #6419 closed, assigned to nobody

[2019-05-06 12:45] matthew-a-thomas commented on #3852
On the one hand this doesn't seem like an overly complex thing to implement. On the other hand I must admit I've never dealt with Google auth so maybe there's some hidden complexity. On the other hand isn't it just OAUTH?

On the one hand it seems like a bad idea to require people's root credentials. On the other hand we should all be using two-factor auth to begin with. On the other hand you guys

[2019-05-06 12:55] chrisdeso opened #6421 "Custom domain not released when underlying collection is deleted"
**Describe the bug**
When a custom domain is in use, deleting the underlying collection doesn't free it up for use with a different collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a custom domain
2. Publish a collection using that domain
3. Delete the published collection
4. See that you're unable to associate another collection with the custom domain

**Expected behavior**
W

[2019-05-06 13:52] ritwijsinha opened #6422 "Dragging tab also drags other UI elements"
**Describe the bug**
Dragging tab also drags other UI elements

**To Reproduce**
Steps to reproduce the behavior:
1. Have a really long Request Name
2. Drag the tab

**Expected behavior**
Only the tab should be dragged

**Screenshots**
![TabDragBugCrop](https://user-images.githubusercontent.com/19693841/57229624-32899b00-7034-11e9-987f-9b1aeeeedbae.gif)

**App information (please complete the foll

[2019-05-06 13:57] gduh commented on #6354
On the server, there is no intermediate certificate, could that be an issue with Postman ?

[2019-05-06 16:16] JohnArrowwood commented on #1535
I'd have to try it out to see if it meets my needs.

But I can tell you my use case, and maybe that will help?

We have a fairly complex authorization system.  In order to test the
authorization logic, a bunch or records have to be set up in the database
prior to requesting an authorization assertion.  That setup work is done
through a series of API calls, as is the post-test tear-down.

The goal

[2019-05-06 17:05] a85 commented on #1535
@JohnArrowwood Thank you for your comment. This helps a lot. We are aware of the issues that can come up while working with complex cases like the ones you are dealing with. The goal is to solve it in a way that is consistent with Postman's philosophy to keep things simple and accessible using a user interface.

In terms of executing requests or sequences of requests across multiple workflows, we

[2019-05-06 17:17] allyn-psyonix commented on #2315
(emphasis mine)

Does the closing of this ticket mean that the other mentioned features in the quote have been implemented? Just looking to clarify since it was closed without comment.

[2019-05-06 17:17] allyn-psyonix commented on #2315
Not yet

[2019-05-06 17:49] akrueger opened #6423 "Add beforeAll and afterAll scripts to Collection runs to help with Setup and Teardown"
**Is your feature request related to a problem? Please describe.**
I cannot easily handle setup and teardown tasks for my API testing without polluting my API documentation (see alternatives considered below).

**Describe the solution you'd like**
A `beforeAll` and `afterAll` script for Collections. The `beforeAll` script runs once immediately before the entire collection and the `afterAll` script

[2019-05-06 17:54] shamasis commented on #6418
I think I need more information to be able to debug this. On latest Mac app, I selected a collection that updates environment variables, clicked on persist variables option and started the run. Once the run completed, I could see the environment current values get updated in builder.

[2019-05-06 17:57] markwoon commented on #1535
@a85 This doesn't not seem to address the main issues discussed in this issue.  Or at least, this doesn't look like it'll help me with my needs.  I'll second @JohnArrowwood's requirements and would love to hear more about what @shamasis has in store (and better yet, what the timeline is for that).

[2019-05-06 18:02] shamasis commented on #6423
We haven’t finalised yet - but there are some specs worked on having scripts that run on start and end of a run. Nothing concrete yet - keeping it labelled.

[2019-05-06 18:26] thetreythomas opened #6424 "When creating a variable from a response, it is not keeping the order of the response"
**Describe the bug**
I'm setting up a workspace specifically to test API responses from a global variable. I have created a global variable with the below command:
`pm.globals.set("host_agentinfo", pm.response.json());`

I then tried to do a simple compare and my test failed, with the below:
[code]

I expected this to fail as there are key::value pairs based on time that would not match. But I not

[2019-05-06 18:46] a85 commented on #1535
@markwoon For requests to be "defined" once, there needs to be place where Postman can conclusively say that "this" is the definition. The API abstraction is the first step in the system to create a place for definitions.

We CAN do it by saying any request can be referenced anywhere in any collection but it creates complex dependency mapping issues that will be a nightmare to debug and maintain.

[2019-05-06 20:50] JP-from-Postman opened #6425 "When a team is disabled, release its domain"
**Is your feature request related to a problem? Please describe.**
Right now, when a team is disabled its team domain is kept, and active teams are unable to use it.

**Describe the solution you'd like**
When a team is disabled, release the team domain it previously had.

**Describe alternatives you've considered**
None

**Additional context**
Add any other context or screenshots about the feature

[2019-05-06 22:21] mharrow-Diligent opened #6426 "After upgrading to Postman 7.0.9 it would not start on Windows Server 2012R2 64 bit"
**Describe the bug**
After upgrading postman to v 7.0.9 on my Server 2012 R2 64 bit it would not start. When I try to start it it load the loading window and then an error comes up as per bellow:

![image](https://user-images.githubusercontent.com/24662274/57258671-2ee82980-70b1-11e9-9501-d4c1957c6d5c.png)

And then it sits with loading screen forever:
![image](https://user-images.githubuserconten

[2019-05-06 23:23] buddylindsey commented on #1669
How is that sending data? Is it going to allow for the multipart upload spec? Not having that has been a limitation of other tools. https://github.com/jaydenseric/graphql-multipart-request-spec

[2019-05-07 01:55] g-industrialist opened #6427 "Copy existing curl command in plain text and paste "Paste Raw Text" -- it does not update the method"
**Describe the bug**
Copy existing curl command in plain text and paste "Paste Raw Text" -- it does not update the method

**To Reproduce**
Steps to reproduce the behavior:
1. Copy existing curl command , for example , curl --request GET .....
2. Click on 'Import' --> paste "Paste Raw Text"
3. The method does not update to "GET", it is still "POST"

**Expected behavior**
3. The method does not upd

[2019-05-07 03:32] fabiocarvalho777 commented on #1906
@a85 are you serious?
Have you read what the hundreds of people commenting here are asking?
We want RAML 1.0 support!

The worse thing is, besides ignoring what your users want, you paste a screen shot here showing exactly what your product lacks (RAML 0.8 is there, but not 1.0), and make it sounds like this is a good announcement.

Oh, and then that `We'd love your feedback!`.
Unbelievable.

Post

[2019-05-07 03:45] a85 commented on #1906
@fabio I am not sure you read or understood what I am saying.

[2019-05-07 03:49] a85 commented on #1906
@fabiocarvalho777 Also hasn't Mulesoft effectively deprecated RAML after they joined the OpenAPI foundation: https://blogs.mulesoft.com/dev/api-dev/open-api-raml-better-together/. I am not sure where Mulesoft's own support behind RAML is if they aim to support OpenAPI. I haven't seen any updates to RAML as a format over the last 2 years.

Separately, we wouldn't tolerate incendiary comments like y

[2019-05-07 05:47] shamasis commented on #6420
Yep. I think we are tracking a similar issue and we are fixing it in the ongoing work set. Thanks for reporting it 😊

@numaanashraf cc.

[2019-05-07 05:51] shamasis commented on #6420
Closing this issue. Please follow updates at: https://github.com/postmanlabs/postman-app-support/issues/6362

[2019-05-07 05:51] #6420 closed, assigned to nobody

[2019-05-07 06:12] jzapantis commented on #2256
Im using Windows 8.1 PRO, and Postman 7.0.9 - had a blank screen.

@eMarv @dmarkowicz96 @orck-adrouin
Thanks the solution worked for me. Weird - I hope running it in Windows 7 doesnt lead to loss of features or issues updating, but happy to have it running on my machine.

Thanks!

[2019-05-07 07:46] chrisdeso commented on #6426
Hey @marykanz – would you be able to send us some logs so that we can investigate further on our end? The logs can be retrieved by navigating to the app's menu bar `> View > Developer > View Logs in Finder` – compress/zip those files and send them over to us (help@getpostman.com).

A workaround would be clearing the app's cache. Deleting the following folders and restarting the app should do the t

[2019-05-07 08:54] harryi3t commented on #6238
Fixed in 7.0.8

[2019-05-07 08:54] #6238 closed, assigned to nobody

[2019-05-07 09:06] kpkar commented on #3942
I had my NO_PROXY set to localhost and 127.0.0.1. But I realized I used ; instead of , in the configuration i.e. NO_PROXY=localhost;127.0.0.1 instead of NO_PROXY=localhost,127.0.0.1.
I feel so dumb right now :)

[2019-05-07 09:10] zizifn opened #6428 "Remove newline in JSON request body when send request"
**Is your feature request related to a problem? Please describe.**
Yes. My REST back-end service, can't accept newline in JSON request body. But when postman "beautify" JSON request body, it's add newline in JSON request body.

**Describe the solution you'd like**
Give an option to send JSmin request body, not formatted JSON.

**Describe alternatives you've considered**
N/A

**Additional context**

[2019-05-07 09:29] mastro83 opened #6429 "Postman v7.0.9 freeze when I put large base64 text encode image to a API REST request."
In a POST request I want to insert 3MB of a Base64 encoded image text.

When I put the large text into Body key Postman begin to go at 100%CPU and freeze.

[2019-05-07 09:30] TehWardy commented on #4726
I've noticed over time that whilst "initially" unticking the "verify SSL cert" box did solve my issue, when postman does updates it breaks this so the box is still unticked but right now I can't talk to localhost servers at all.

I've now written a simple bit of UI to do what postman does in to my web application in order to test my back end ... at least that way ajax calls respond in a consistent

[2019-05-07 09:55] adinlead opened #6430 "Unable to use ordinary user startup program！"
Can use root start it！
System:Deepin 15.10（Linux）
Error Info：
`
adinlead@adonis:~$ /usr/local/src/Postman/Postman
1557222814070 main info "Booting Postman 7.0.9, linux-4.15.0-30deepin-generic on x64"
1557222814071 main info "EventBus~initialize - Success"
1557222814079 main info "UpdateHandler~init - Success"
1557222814080 main info "RuntimeExecutionService~initialized: Success"
1557222814082 main

[2019-05-07 10:19] bmesin commented on #4290
Local sessions are fine and current values also, but currently every developer can change initial value and sync it back to Postman server and in workspace.
Devs do that by accident most of the times and currently I cannot forbid them to do that.

Is there a way to lock initial values so only collection owner can change initial values and every one else only current values?

[2019-05-07 11:44] kamalaknn opened #6431 "Team notifications do not come until the app is restarted"
**Describe the bug**
When a user creates a team, notifications related to team actions like archive is not sent to the app until the app is restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new account
2. Create a new team - by creating a team worksapce
3. Create collections with requests exceeding the free collabration limit
4. See that archival warning notifications are n

[2019-05-07 12:22] labifrancis opened #6432 "User unable to access monitors"
**Describe the bug**
A user gets this error when trying to access a monitor
"Something went wrong
There was an error while fetching your monitors. Please try again after some time."

**App information (please complete the following information):**
 - App Type Native App
 - Postman Version 7.09 for Windows

[2019-05-07 12:38] m3dbedb commented on #2833
I have the issue under windows 7 32 bit in ponstman 7.0.9

[2019-05-07 15:12] TsLenMo commented on #6236
Very good, I am looking forward to。

[2019-05-07 15:13] t0nimas opened #6433 "Error: callback timed out on monitor with requests less than 5 min"
**Describe the bug**
I've problems with timeout request in the service of Monitor (with free account).
I have the monitor configured with: Request Timeout : 300000 ms
But when I see the log the request fails (for timeout) before 5 min (see image)
![image](https://user-images.githubusercontent.com/6563285/57309775-ef3d3400-70e8-11e9-801d-57075023c8b2.png)
In fact, the timeout is triggered at 5 min

[2019-05-07 15:37] godfrzero commented on #6433
There is a 5 minute execution time cap on all monitor runs. This is not configurable or adjustable, and is a platform limitation as of now. While the timeout and delay for and between each request is configurable, if your total monitor run time exceeds 5 minute, the monitor will be terminated at that point.

[2019-05-07 15:51] omarw commented on #4355
Any updates on this issue?

[2019-05-07 16:01] godfrzero commented on #6433
We're tracking a feature request to increase this limit, or to allow it to configurable in some manner here: https://github.com/postmanlabs/postman-app-support/issues/4834

[2019-05-07 16:01] #6433 closed, assigned to nobody

[2019-05-07 16:19] codenirvana commented on #5370
Closing this issue as we can’t replicate this and we haven’t seen other users facing similar issues.
Please feel free to reopen if the issue persists.

[2019-05-07 16:19] #5370 closed, assigned to codenirvana

[2019-05-07 18:32] roberto-t92 commented on #4198
Any updates on this topic? is postman still not multithread?

[2019-05-07 20:00] loopDelicious opened #6434 "Know when a published collection has been updated"
Issue: From the New+ button, when I use a template or import a collection from the API Network, I am importing a static version of the collection. If the imported collection is updated at the origin, I am unaware of these changes.

**Documentation**: I can view the documentation with the View in Web button. I am viewing my own private version of the collection since I imported the template. Unless

[2019-05-07 20:02] loopDelicious opened #6435 "Name of a template is different upon importing"
It's confusing when I import a collection that's called one thing (like `Express haiku`) and then the imported collection name is different (like `Postman Requests`). I assume this is happening because someone edited the name after publishing the template.

Can / should we update the collection name when that happens, so that the name of the template is the same as the collection that is imported?

[2019-05-07 20:35] ullgren commented on #1906
@a85 Just to be clear, in the now deleted, comment you linked to a Mulesoft blog post and had doubts about Mulesofts stands on the support for RAML. In that very blog post you linked Uri Said states

So I believe that is quite clear. Just as postman Mulesoft needs to support many different standards in it's product.

Also please consider adding the support for RAML 1.0. :-)

[2019-05-07 21:00] claireriley opened #6436 "Feature Request: Webhooks"
**Is your feature request related to a problem? Please describe.**
Currently Postman doesn't support configurable webhooks.

**Describe the solution you'd like**
An API that supports the automatic creation of webhook configurations.

**Additional context**
Filed by Postman
Relevant Documentation: [Webhooks Coming Soon](https://learning.getpostman.com/docs/postman/monitors/integrations_for_alerts/#

[2019-05-07 22:24] claireriley opened #6437 "Feature Request: Populate Request Information in Mock Server Response"
**Is your feature request related to a problem? Please describe.**
Team would like to have request parameters (query and path segments) included in the response body to make their lives easier.

**Describe the solution you'd like**
It would be ideal if the mock response could contain some values passed from incoming requests (either query parameters or matched path segments). We'd like to return a

[2019-05-08 00:18] loopDelicious opened #6438 "Template Description form copy overlaps"
In the web dashboard, when updating the Template Description and resizing the input box, the form description copy overlaps with the input copy.

<img width="941" alt="Screen Shot 2019-05-07 at 2 14 00 PM" src="https://user-images.githubusercontent.com/17693714/57340695-a24e6300-70d2-11e9-9fc6-e8bd9056a048.png">

[2019-05-08 01:02] trajano opened #6439 "Ctrl-Shift-W should close all the tabs but not the application"
**Describe the bug**

Ctrl-Shift-W should close tabs not the entire app

**To Reproduce**

Ctrl-Shift-W

**Expected behavior**

All the open tabs are closed and untitled request is left

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the following information):**
 - App Type [e.g. Chrome App, Native App]
 - Postman Version [e.g. 6.0

[2019-05-08 01:15] aaronn commented on #3117
@a85 is there any way to join the API tab beta?

[2019-05-08 03:13] Daiqiangdeveloper opened #6440 "clear history error"
**Describe the bug**
A clear and concise description of what the bug is.
![dedddd](https://user-images.githubusercontent.com/19928030/57346730-4511ea80-7182-11e9-94be-9f8dc14072f4.png)

**To Reproduce**
Steps to reproduce the b
![dedddd](https://user-images.githubusercontent.com/19928030/57346206-40e4cd80-7180-11e9-8d93-e5182f91ba68.png)
ehavior:
1. Go to 'History'
2. Click on arbitratry day cache

[2019-05-08 03:29] numaanashraf commented on #6440
Duplicate of #6378

[2019-05-08 03:29] #6440 closed, assigned to nobody

[2019-05-08 03:33] numaanashraf commented on #6076
Fixed in v7.0.x

[2019-05-08 03:33] #6076 closed, assigned to nobody

[2019-05-08 05:20] ankurdengla commented on #2833
Hey @m3dbedb, Can you please describe your exact issue and give us the steps for reproducing it?

[2019-05-08 07:55] ratpik commented on #6356
@minoseah629 - We are working on improving the body matching logic to allow similar `content-type`'s like `application/soap+xml` and `application/xml` to be treated in a similar fashion while performing the body matching operation.

[2019-05-08 08:53] dverbovyi commented on #4009
no updates or even ETA for 1.5 years( it's sad

suckman

[2019-05-08 09:30] SMSteve commented on #5900
I'd also like to request this feature, and to echo [bt-dd](https://github.com/bt-dd).  We did not see the errors until we dug into our server logs.  Everything looked fine from Postman (until we matched up the times of the server errors with the Postman console logs).

It causes confusion and should be selectable behaviour.

[2019-05-08 09:39] harryi3t commented on #5771
@Alslinet
Could you help me in setting the correct rules so that I can reproduce this?
I have tried enabling the `App locker` with DLL rules and have added the default rules.

![image](https://user-images.githubusercontent.com/5207331/57365684-2ff98380-71a3-11e9-84df-516263b03548.png)

I have also tried creating another standard account (non-admin), but in that also I was able to install and open

[2019-05-08 10:02] liaotuo commented on #1669
very good!

[2019-05-08 10:21] cyrielle-hada commented on #6105
Below are the potential causes that need to be verified and actions to take if the integration doesn't sync the content to the GitHub repository.

1. The GitHub integration is added to the same workspace as the content that needs to be pushed to the GitHub repo.
2. The right option has been chosen between `Backup your Postman Collections to GitHub` and `Backup your Postman Collections to GitHub on

[2019-05-08 10:22] RichardVoice-SynergyLogistics opened #6441 "Exclude specific requests from documentation"
I have been wanting this feature for many years now and even though I have found a lot of discussion on the internet, in general the response I keep finding is not very satisfying.

I would like the ability to build a huge collection with tests and then be able to include or exclude particular requests from the documentation, this would remove the need to clone a collection and then maintain two o

[2019-05-08 10:26] VicKetchup commented on #6266
@godfrzero Hey, just came back from holidays, tried the pattern that was failing before and it worked, thanks!

[2019-05-08 11:15] fvilches17 opened #6442 "Dark Mode on the Website / Portal"
**Is your feature request related to a problem? Please describe.**
No, no problem.

**Describe the solution you'd like**
Similar to how the Microsoft docs website let's you chose themes, it would be great if the Postman website and/or the dashboard (when logged in) could do the same.
E.g. https://docs.microsoft.com/en-us/dotnet/standard/

**Describe alternatives you've considered**
N/A

**Addition

[2019-05-08 11:35] Ivanello commented on #5335
Try to remove **Protected** from branch which You want to use with Postman integration (by default master is Protected)
It works for me, I think its good to add to doc because GitHub need fewer preparations.

So, it is necessary to meet the conditions:
1. Valid User (access to repo)
2. Valid token in Gitlab (allow to write to repo via API)
3. Repo is initiated (Initial commit to repo is present)
4

[2019-05-08 13:25] labifrancis opened #6443 "Missing minimize/maximize buttons on Windows app"
**Describe the bug**
This user is unable to see the minimize/maximize buttons when the windows app is open but can see the same buttons on the [canary build.](https://www.getpostman.com/downloads/canary)

The main app not showing the minimize/maximize buttons
![Postman_Issue_Close_max_Min_Missing](https://user-images.githubusercontent.com/10200603/57378495-cd04ee00-719c-11e9-91f7-d0645a2cd707.png)

[2019-05-08 14:20] josh-g3 commented on #1066
Why the hell doesn't this even have an official response in 4 years?!

[2019-05-08 14:56] Kemikal17 commented on #6069
I don't know if this helps, but I started getting the same error after having updated to the 7.x version of the app on my personal PC, while the work PC app is still on 6.x. On the work PC, the application informs me that "my team has upgraded to the 7.x version of the application. press the tools button > update to upgrade", while the sync icon is in continuous animation. Maybe this piece of info

[2019-05-08 15:16] stephandesouza commented on #728
Hi there, the overwrite feature is dead?

Tried this but only appears to make full replacement (Replace) , or a new collection copy (Import as copy).

Using Postman for Windows 7.0.9

[2019-05-08 15:17] dmboucher commented on #6105
I've done all of the above:
1. Yes.  `SSB Team Workspace`
2. I'm using `Backup your Postman Collections to GitHub` (our url is:  https://github.com/ssbcode/postman-ssb-team-workspace) - no custom domain
3. Yes. I tried regenerating the access token.  Same behavior.
4. Yes.  `master` branch.
5. No.  We do not have on-prem / self-hosted.  We're just using a private GitHub repo.
6. Yes.  My user crea

[2019-05-08 15:26] stephandesouza commented on #728
Nevermind, there is a newer issue: #5641

[2019-05-08 15:34] m3dbedb opened #6444 ""Something went wrong" screen on todays history deletion"
**The bug description**
When I push on trash icon to delete todays request history postman displays message "something went wrong"

**To Reproduce**
Steps to reproduce the behavior:
1. Make several requests
2. Click on trash icon to delete todays history
3. See error "something went wrong"

**Expected behavior**
History is to be empty

**Screenshots**
Applied
![deletetodayhistory](https://user-ima

[2019-05-08 15:36] sujayvenaik commented on #6444
Duplicate of #6378

[2019-05-08 15:36] #6444 closed, assigned to nobody

[2019-05-08 16:11] nagarjun opened #6445 "Ability to share an individual request and response"
**Is your feature request related to a problem? Please describe.**
I often consume APIs from other companies. A lot of times, these APIs don't work as per the developer's documentation and I end up having to contact the company's developer support channel by email / helpdesk. I am required to share my exact request and response with them so they can support me and resolve the problem.

Right now,

[2019-05-08 16:53] m3dbedb opened #6446 "Postman does not correctly show API capturing status on crash"
**Describe the bug**
When postman crashes on history deletion with turned on API capture option, on restart Api capture option is shown disabled and cpture butten marked "capture". Alltrough apis are captured and proxy is on. Then I press on "capture" button postman crashes again.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on api capture
2. Send some requests
3. Press delete todays

[2019-05-08 17:01] arpitbatra123 opened #6447 "In the web dashboard, when publishing a template, we should be allowed to create a new category if none of the listed categories are relevant"
While trying to publish a collection as a template, we have to choose a category relevant to our template.

<img width="698" alt="Screenshot 2019-05-08 at 11 43 13 AM" src="https://user-images.githubusercontent.com/21967563/57393148-1e829c80-71e0-11e9-8304-9e1c786ef590.png">

However, If a template that I am publishing does not fall into any of the listed categories, I should be allowed to create

[2019-05-08 17:09] markusthegeek opened #6448 "Severe Data Loss when Moving Folder into Another Folder"
**Describe the bug**
When moving a folder into another folder, sometimes the UI does not show the result immediately. When repeating the action, you can get into a state where the whole test suite shows up as empty. This happened twice to me yesterday.

**To Reproduce**
Steps to reproduce the behavior:
1. Have to collections with at two levels of folders
2. Make a duplicate of one of the sub folde

[2019-05-08 18:38] JP-from-Postman commented on #6030
@preethammavin Another report of this (post-fix) has been added to the JIRA

[2019-05-08 18:44] snowe2010 commented on #4290
yeah, sessions don't solve the issue at all. It's still present and causing problems constantly.

[2019-05-08 18:47] JP-from-Postman opened #6449 "Update tab missing from app settings (6.7.1)"
**Describe the bug**
User is being prompted to update to 7.x (team has already migrated to RBAC), but the Update tab is missing from the app settings:

<img width="497" alt="Screen Shot 2019-05-08 at 11 44 54 AM" src="https://user-images.githubusercontent.com/43283131/57399758-c4092200-7186-11e9-92e5-341eb905e089.png">

**To Reproduce**
Steps to reproduce the behavior:
Unknown

**Expected behavior

[2019-05-08 19:59] FedeCanet commented on #4355
I'm interested too. Is there anything new to share?

[2019-05-08 20:33] ghost commented on #5730
This seems to be fixed as of Version 7.0.9.

Can anyone confirm?

[2019-05-08 20:47] JP-from-Postman opened #6450 "Error message is missing if monitor runs stop due to usage quota breach"
**Describe the bug**

Team monitors for free team are still active, but have stopped running. Attempting to run monitors manually via the dashboard results in the following error generic error:

<img width="471" alt="Screen Shot 2019-05-08 at 1 45 13 PM" src="https://user-images.githubusercontent.com/43283131/57407232-8b257900-7197-11e9-9264-161f2bfb3843.png">

**To Reproduce**
Steps to reproduce

[2019-05-08 21:05] PingPongSet opened #6451 "Latest Postman suddently not opening up in Windows"
My latest Postman is not showing up. So I tried to launch it via command prompt like below, but the issus still exist.
[code]

windows 7

any idea?

[2019-05-08 21:41] Alslinet commented on #5771
I think it happens when you install the app as a non admin maybe. Its been
a while since i had to deal with this.
Or maybe it was the updater that had issues.

ons. 8. mai 2019 kl. 11:40 skrev Harendra Singh <notifications@github.com>:

[2019-05-08 21:47] jamesvillarrubia commented on #3312
+1

[2019-05-08 23:55] chrisdeso opened #6452 "Multi-Factor Authentication"
**Is your feature request related to a problem? Please describe.**
Add Multi-Factor Authentication as an option as an option for users/teams.

**Describe the solution you'd like**
Two-factor authentication:
- Phone
- Authentication app
- Physical Key (YubiKey, Windows SmartCard, etc)

**Additional context**
[Filed by Postman]

[2019-05-09 01:51] caseyoconnor10 commented on #2369
I set Use System Proxy = Off and my Host file is being used now. I am on Postman v7.0.9  but all my entries are 127.0.0.1 in the hostfile as mentioned.

[2019-05-09 02:58] godfrzero commented on #6450
Note: Monitors are not running because free team usage quota has been breached. Error message is not being shown in the UI, which needs to be fixed.

[2019-05-09 04:25] johnli2210 commented on #5222
@DeadDuck Yep, I'm also seeing this issue. It looks like this feature is available in the Chrome App, but not on native Desktop App (for Mac OS at least) yet. I guess it just hasn't yet been ported over; perhaps it's harder to implement on Desktop?

![Postman_and_Postman](https://user-images.githubusercontent.com/26591164/57427197-43215780-7266-11e9-8f99-c4b633645b5e.png)

[2019-05-09 04:32] johnli2210 commented on #4253
@alan-givati @yonatron @JustinLavertu-iQ @jbruns2015  Looks like the chrome app (deprecated) still has the sort feature. Unfortunately as it's deprecated I don't think it syncs with your account... Perhaps there is a way to import your collections to the Chrome App, sort and then export? I haven't tested it, but could be a workaround.

![Postman_and_Postman](https://user-images.githubusercontent.c

[2019-05-09 04:35] Raja-Simha commented on #6438
We already fixed this. This will be out in the upcoming release

[2019-05-09 04:59] numaanashraf commented on #6443
@labifrancis This issue is not reproducible with the details currently in the issue. Please add reproduction steps.

[2019-05-09 05:00] anudeepmedicharla commented on #6445
Hey @nagarjun, thank you for sharing your request! Will update the status here once we take this task up :)

[2019-05-09 05:01] numaanashraf commented on #6449
@JP-from-Postman This looks like a snap variant of Postman that doesn't support auto-updates controlled via Postman. We'll look into adding the Update tab back and make this differentiation clearer.

[2019-05-09 05:28] saswatds commented on #4320
Hello, @aksbenz and everyone who have been waiting for this feature. We are pleased to announce that you can test this feature out in our latest `Canary release` version `7.1.1-canary-1`, which will also be shipped with the next stable production release very soon.

1. Now when the request is saved, the file path references will be persisted for subsequent use by you
2. You will also be able to us

[2019-05-09 05:33] shamasis commented on #6318
@liuneng613 - this feature has now been added to Postman Canary channel and would be our in production soon. More details at https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-490749103

Closing this issue since we are at final stages of release tracking on a duplicate thread.

[2019-05-09 05:33] #6318 closed, assigned to saswatds

[2019-05-09 05:34] shamasis commented on #2061
@fstr @AndrewNapier - this feature has now been added to Postman Canary channel and would be our in production soon. More details at https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-490749103

Closing this issue since we are at final stages of release tracking on a duplicate thread.

[2019-05-09 05:34] #2061 closed, assigned to numaanashraf, vkaegis, saswatds

[2019-05-09 05:51] Ramya-From-Postman opened #6453 "Can't signin to Windows app via SSO"
**Describe the bug**
There is an issue while logging into the app via SSO. Wherein, the app freezes and keeps showing the spinning circles. However, When tried to sign-in using the postman credentials it works perfectly fine.

**To Reproduce**
1. Click Sign in button top right in the app
2. Click Enterprise user Sign in link
3. Enter team domain, click Continue
4. Select an authentication method.

[2019-05-09 06:10] abhijitkane commented on #6453
Additional context: Seeing a `[20300][1557376010006][auth][warn]["Authentication~Window Failed to load",{"errorCode":-105,"errorDescription":"ERR_NAME_NOT_RESOLVED","isTrusted":false,"isMainFrame":true}]
` in the auth window log.

@Ramya-From-Postman Is SSO working from the web dashboard?

[2019-05-09 07:34] vrolijken commented on #1180
Nearly three years on, can you offer an approximate date?

[2019-05-09 08:59] abhijitkane commented on #1667
Everyone - we’re finally ready to launch a beta for the Interceptor integration for the native Postman apps!

The Interceptor is a very useful part of the Postman workflow - making API calls in the context of the browser’s session is a common use case. Any use-case which requires you to login to the browser (effectively setting a cookie) and performing API calls from Postman was cumbersome at best

[2019-05-09 10:06] labifrancis commented on #6443
Questions I asked:

1. When you installed the app initially, did you ever see the minimize/maximize buttons?
2. Did you manually resize or use multiple monitors?
3. Is the window bar hidden outside the display area?
4. We'll like to know how you arrived at that state. Did you make any changes or did it start all of a sudden?

User's response:

1. Actually I was using previously some older version

[2019-05-09 12:49] ghost commented on #4253
Good to know.

Desktop app needs to be fixed.

As Pink Floyd would say "is there anybody in there, just nod if you can hear me, is there anyone home?"
directed at the developers to add it back please.

[2019-05-09 13:40] spatil-scandilabs commented on #4751
Hi,
While testing APIs I am facing an issue for the response which has a huge string as a part of it. Basically, we transfer file contents via API by converting the file to string using Base64 encoding.
The complete length of the received JSON response is around 1288818 characters.
After receiving the response the POSTMAN stops responding. This is happening each time I receive such kind of big res

[2019-05-09 13:54] blueelvis commented on #2646
@shamasis - Sam, any chance this is on your radar? This would be really helpful.

[2019-05-09 13:56] stevenyeo99 commented on #2169
hi hel me

[2019-05-09 15:17] cyrielle-h opened #6454 "Creating multiple workspaces when using the app without being signed in"
**Is your feature request related to a problem? Please describe.**
I can't have my data synced due to policies that prevent it.

**Describe the solution you'd like**
As I am using Postman for several apps, I would need to create multiple workspaces.

[2019-05-09 15:17] sankalp0o commented on #6441
@RichardVoice-SynergyLogistics
I would strongly advice having two different collections in general for public documentation and testing. There are a lot of things that you might not want other people to see publicly (requests, optional headers, scripts, secrets stored as variables) or just because people are more likely to accidentally modify published collections if they are also used for other p

[2019-05-09 15:17] #6441 closed, assigned to sankalp0o, Raja-Simha

[2019-05-09 15:18] kolonuk commented on #5226
Still an issue in 6.7.4...

[2019-05-09 15:27] bartosz546 opened #6455 "Postman all requests fails with "Could not get any response" version 7.0.9"
Any request I'm trying to do fails with postman 7.0.9.
Everything works as intended, if I use postman chrome extension version.

I get following error (if trying to make get to google.com):

I've tried do request to many popular addresses just to check it and each one fails.

[2019-05-09 18:59] JP-from-Postman commented on #6374
Any updates here?

[2019-05-09 19:11] noorrahman commented on #5827
Problem is still there for Mac version 7.0.9 of Postman.

[2019-05-09 19:36] soymanuvalle commented on #6297
Same happening over here...

OS: elementary OS (based on Ubuntu 18.04)
RAM: 12 GB
CPU: Intel® Core™ i7 7700HQ Processor 3.80 GHz

[code]

**EDIT:** for some reason it has been fixed after uninstalling and installing again with snap instead of the website download.

[2019-05-09 19:58] chrisdeso opened #6456 "User's monitors remain associated with team after being removed"
**Describe the bug**
When a user is removed from their team, monitors that are owned by the user remain associated with the team.

**To Reproduce**
Steps to reproduce the behavior:
1. Create monitors
2. Have yourself removed from a team
3. See that the monitors are still associated with the team

**Expected behavior**
A users monitors shouldn't be associated with the team they're removed from.

**

[2019-05-09 21:44] tjohnson4 commented on #4780
+1. Being able to include postman collection configuration under the version control of our choice with the project source is required for us to adopt this tool across our engineering organization

[2019-05-09 22:10] SarahAlphaSoftware commented on #1070
Please add the ability to reorder examples.

[2019-05-09 22:45] JP-from-Postman commented on #6416
@debjeetsarkar same error occurs for rejecting invite as well. This then becomes a blocker, because the email in question can't be re-invited while there is a pending invite.

[2019-05-09 23:04] gitriley commented on #6449
For anyone else unable to update due to this issue, this solution worked for me (from the migration docs):

https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/

[2019-05-10 00:37] jaredhanks opened #6457 "Docker instructions incorrect on learning.getpostman.com"
**Describe the bug**
The Docker instructions for _4. Run Newman commands on the image._ is incorrect.  It's missing a `run` between `ubuntu` and `"https:"`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learning.getpostman.com/docs/postman/collection_runs/newman_with_docker/
2. Scroll down to '4. Run Newman commands on the image.'
3. Run `docker run -t postman/newman:ubuntu "h

[2019-05-10 01:23] Ramya-From-Postman commented on #6453
@abhijitkane Yes, log-in to Postman via SSO in the web browser works fine.

[2019-05-10 02:28] matthewmb opened #6458 "Mystery grey dot character breaking request body"
**Describe the bug**
A mystery grey dot character appeared within my JSON request body. This caused the body to be submitted as a string enclosed in double quotes, rather than JSON. I'm guessing this some sort of character encoding issue.

The grey dot was hardly visible and I wasn't aware that it was there (I thought it was either dust on my screen, or part of the visual code cues), so I had diff

[2019-05-10 03:17] preethammavin commented on #6454
@cyrielle-h Workspace is one of cloud feature, though the use case seems valid enough it would be a mammoth task shift our technical architecture for this. This also opens up postman for handling users transition into a signed in state, and we would be opening our users to bugs which are hard to debug. Hence dont think we will be implementing this feature in near future.

[2019-05-10 03:17] #6454 closed, assigned to nobody

[2019-05-10 03:28] preethammavin commented on #6456
@chrisdeso this is the expected behaviour post RBAC.
When a user leaves a team, all the collections mocks and monitors created with a role of a team is left with the team. This is done to ensure that a teams workflow should not be stopped when a user leaves the organisation or the team.

If we were to let the elements associated with the team removed when the user leaves the team, it might introdu

[2019-05-10 04:48] shamasis commented on #6455
Can we do a quick check before we deep dive:
1. Can you check whether your proxy settings are correct?
2. Does making request via curl work?

[2019-05-10 05:01] codenirvana commented on #6457
@jaredhanks Thanks for pointing this out. We'll fix the documentation as soon as possible.

The following command will work:
[code]

Find the updated docs here: https://github.com/postmanlabs/newman/tree/develop/docker/#using-the-docker-image

[2019-05-10 05:01] shamasis commented on #6458
Ah ... we do need to solve this together Watson! I do see the mystery dot. Further inspecting the json I discovered this character: “} ï»¿\r\n}”. The culprit has been lurking behind the closing brace as an extra character. I have a hunch that it got copied over while pasting data from some other source. The dot simply represented a white-space equivalent fharacter.

[2019-05-10 05:23] samsam321 commented on #4751
Happen in v7.0.9
same as @spatil-scandilabs  last reply
the response string is long base64 string, but size only 7xxKB

[2019-05-10 05:43] matthewmb commented on #6458
I agree, it was probably from copy/pasting an external source. It would be useful if this dot was more visible, I didn't notice it existed for a long time.

[2019-05-10 05:43] parasuram-tanguturu opened #6459 "support response to body attribute like insomina"
please check added images.

[
![post man r1](https://user-images.githubusercontent.com/22343548/57505088-a10c7880-7314-11e9-9e9c-cb224eda73e8.PNG)
![post man r2](https://user-images.githubusercontent.com/22343548/57505090-a10c7880-7314-11e9-88c1-4d3ce697da52.PNG)

]

[2019-05-10 05:46] parasuram-tanguturu opened #6460 "support prompt value feature while doing api call"
please check below images.
![post man p1](https://user-images.githubusercontent.com/22343548/57505209-05c7d300-7315-11e9-955d-81aee6b1a7a3.PNG)
![post man p2](https://user-images.githubusercontent.com/22343548/57505210-06606980-7315-11e9-921b-12bc027d3344.PNG)

[2019-05-10 06:03] debjeetsarkar opened #6461 "Annual renewal invoices include a line item for monitoring blocks even when teams don't have monitoring blocks configured."
**Describe the bug**
Renewal invoices include an empty line item for monitoring blocks for teams that don't have monitoring blocks configured. This doesn't add up anything to the invoice amount but looks misleading for teams that are just paying for pro/enterprise subscription.

**Expected behavior**
Renewal invoices should not include a line item for monitoring blocks if the team has not purchase

[2019-05-10 06:05] abhijitkane commented on #6384
@ngfk We only remove you from a team if you're the only member. In this state, all shared data should stay with your user account when you move to a different team.

If this wasn't the case, could you reply with details on the support ticket / email thread? Thanks!

[2019-05-10 06:09] themsheeps commented on #6187
I solved my issue by:

1. Closing my Desktop Postman instance,
2. Opening my Google Apps Postman Instance and logging out from it,
3. Reopened my Desktop Postman instance it was working as expected.

Kind regards,
Johan

[2019-05-10 06:18] alot1 commented on #5814
+1
Looking forward for the resolution. Very annoying issue.

[2019-05-10 06:34] nikitha12 opened #6462 "Global Proxy Configuration not working in Postman 7.0.9"
**Describe the bug**
Updated  postman to version 7.0.9. After which I am not able to hit API with Proxy.
I have turned off 'SSL certificate verification' in Settings > General.
Able to hit API which don't require proxy.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Postman 7.0.9
2.Settings>Proxy
3.Set Global Proxy Setting with a Proxy
4.Switch off Proxy Auth
5. Hit an API which re

[2019-05-10 07:09] debjeetsarkar commented on #6416
This should be fixed now.

[2019-05-10 07:09] #6416 closed, assigned to debjeetsarkar

[2019-05-10 07:30] Raj-postman opened #6463 "Collection response not syncing in cases where response body is large (greater than 10Mb)"
**Describe the bug**
The data from the native app isn't synced to the Web Dashboard, it works fine when the application is restarted for a brief time. Also, the recent activity from the dashboard no longer displays the latest changes. The activity feed displays older made changes and recent activity changes are deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Collection/

[2019-05-10 07:32] codenirvana commented on #6462
@nikitha12 What's the request URL? Does it contain a port? Like `127.0.0.1:9090` etc.

Probably  duplicate of #6364

[2019-05-10 07:36] hrocho commented on #2853
+1 for auto-scroll

[2019-05-10 07:38] hrocho commented on #6360
+1

[2019-05-10 07:39] bartosz546 commented on #6455
1. Proxy settings are the default ones,, I tried to change them in a few ways and none help.
2. Request via curl works.

My proxy settigns:
![Przechwytywanie](https://user-images.githubusercontent.com/26720699/57510573-77992000-7307-11e9-9bd6-83e9d25c395e.PNG)

[2019-05-10 07:52] LeonardAB commented on #3942
The situation is a bit different but related.

I am behind corporate proxy AND using CNTLM. Before` v7.0.9` I had this problem as well albeit using CNTLM. The workaround is to set the postman proxy as `127.0.0.1` but **set the port** not to the CNTLM port (`3128`) but **to which we want to connect** (`80` if it is not specified). Of course the drawback of this method is that whenever I need to acc

[2019-05-10 08:43] YJinHai commented on #4009
+1
Very, very sad

[2019-05-10 08:52] ravi-9288 opened #6464 "pre request script for grant_type=client_credentials returns error "grant type not set""
I have created a pre request script for a collection  for generating bearer token which has to be used for  url end point and below  is the script

let tokenUrl = 'https://*/oauth2/access_token';
let clientId = 'abcd-12xy-abcd1234';
let clientSecret = 'abcd1234abcd12434';
let scope = 'scope1 scope2 scope3'

let getTokenRequest = {
    method: 'POST',
    url: tokenUrl,
    auth: {
        type: "B

[2019-05-10 09:00] CLannadZSY opened #6465 "Why do I automatically update when I turn off automatic updates?"
"Automatically download major updates"
The status of this tag is "Disabled"

[2019-05-10 09:34] grieser-careoline commented on #5903
+1

[2019-05-10 10:08] avvari-da commented on #6364
@codenirvana Same is the issue for me. Not working after upgrading to 7.0.9

[2019-05-10 10:12] ppoojachd commented on #6364
Same is the issue for me. Not working after upgrading to 7.0.9

[2019-05-10 10:22] codenirvana commented on #6364
We've fixed the issue in our internal library. Will update here once the fix is released in our stable or canary channel.

[2019-05-10 10:26] dhineshwiz commented on #6339
@JP-from-Postman the published document is not available

[2019-05-10 10:28] codenirvana commented on #6457
Updated doc with the correct Newman command.

[2019-05-10 10:28] #6457 closed, assigned to codenirvana, ArifPMan

[2019-05-10 10:29] elielr01 commented on #1180
Hello! I also support this request! It would be awesome to load custom node modules.

Right now, I wanted to use `http-signature` in a pre-request script. It would be a lot easier just to be able to load that module to the available libraries and use it directly.

Thanks for all the efforts!

[2019-05-10 11:01] cyrielle-h opened #6466 "Checking for update in version 6.7.4 says you're up to date"
**Describe the bug**
When checking for updates from native app version 6.5.4, it says you're up to date.

![image (1)](https://user-images.githubusercontent.com/39134277/57522919-635f1e00-731b-11e9-826f-717dbfc58fad.png)

[2019-05-10 13:20] richatyagi8 opened #6467 "variable value in pm.sendRequest"
If I am giving the variable in pm.sendRequest, The prescript doesn't work. It is not recognizing the baseURL variable

pm.sendRequest("{{baseUrI}}/xyz/3.0/sites", function (err, response) {
    console.log(response.json());
});

[2019-05-10 13:33] DannyDainton opened #6468 "Test level location displayed in the `Test Results` section"
## **Problem**

Since the introduction of `Tests` at the Collection and Sub Folder level (Version 5.4.1), it's confusing for users to know at what level the tests are being run.

When in the single request view, after running a request, users _could_ be presented with _more_ `Tests` than they were expecting to see. If you're in full control of the collection, you will know where these _other_ test

[2019-05-10 13:44] LordDelacroix opened #6469 "Black / Tan Screen"
This has been reported before and a fix published but the fix does not work for me.
v6.1.5, set the environment variable to disable gpu to true and restart the entire machine. Still get the black / tan screen.

Every new version lately just makes Postman worse.

[2019-05-10 13:44] WurstCommander commented on #4624
me too...

[2019-05-10 13:46] jackson-david commented on #6463
This issue is based off of my Postman ticket. Please let me know if there is any additional information I can provide to help.

[2019-05-10 14:09] bhavayAnand9 opened #6470 "postman stops responding on deleting history"
**Describe the bug**
A clear and concise description of what the bug is.

On deleting history of a particular date the postman encounters an error with outputs this error screen.

Nothing happens after that screen, the only way is to close the application and restart it again.

But on restarting the history gets deleted successfully.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hist

[2019-05-10 14:11] bhavayAnand9 commented on #6470
I'm just curious, Is postman a native mac app or is it built using electron ?

[2019-05-10 14:38] cyrielle-h commented on #6470
Duplicate of [6378](https://github.com/postmanlabs/postman-app-support/issues/6378)

[2019-05-10 14:47] bhavayAnand9 commented on #6470
Oh sorry, I didn't searched the issue before and just directly reported it, my bad. I'll close it now.

[2019-05-10 14:47] #6470 closed, assigned to nobody

[2019-05-10 15:13] philmagr opened #6471 "Add ability to hide the top menu items"
**Is your feature request related to a problem? Please describe.**
The top menu (Not the File menu, but the one with the super brightly colored NEW button) isn't very useful.
It also contains a brightly colored button that is very distracting for people like me.

**Describe the solution you'd like**
I'd like to be able to hide the top menu.

**Describe alternatives you've considered**
If we can't

[2019-05-10 15:55] numaanashraf commented on #6469
@LordDelacroix We are sorry to hear that. Would it be possible to share the screenshots of Postman and provide the following details? Is this happening immediately after you launch the app or after using the app for a while?

 - Postman Version [e.g. 7.0.0]
 - OS: [e.g. Window 10]

[2019-05-10 15:56] numaanashraf commented on #6466
@cyrielle-h If the user is part of a team (free/paid) and they have not migrated the team to Postman 7.0, they wouldn't receive Postman 7.0 via auto-updates.

[2019-05-10 15:58] numaanashraf commented on #6466
We'll take this as an improvement to communicate this better during the update check.

[2019-05-10 16:00] liguoqinjim opened #6472 "How can I turn off the temporary header added in code generation"
How can I turn off the temporary header?
I just when to test the api response when the cookie is not sent in the request.But in the new version,I can't do this because of the temporary header.

And the function also has bug.

To reproduce the bug:
1.Make a new request without any header
2.Send the request
3.After response,the temporary header will be shown.(eg. Host)
4.And now,and header manually,

[2019-05-10 16:01] numaanashraf commented on #6465
This option would only disable auto-updates for major breaking versions. At the moment, there is no way to turn off improvements, bug fixes and security patches.

[2019-05-10 16:01] #6465 closed, assigned to nobody

[2019-05-10 16:10] cyrielle-hada opened #6473 "Web Dashboard - Error ‘something went wrong’ upon Sign in"
**Describe the bug**

- User unable to sign into the web dashboard - Error ‘Something went wrong, please try again later’.
- The issue has been reproduced in a different browser.
- The `Something went wrong` popup appears right after the login attempt.
![image001](https://user-images.githubusercontent.com/47351631/57541616-56582400-7347-11e9-9ff6-de4f39097295.png)

- When clicking on <img width="1

[2019-05-10 16:44] JP-from-Postman commented on #6339
@dhineshwiz User who owns it may have taken it down / unpublished it. I've seen this issue before with very large docs pages. I've linked the original request to this issue, and added a link in JIRA.

[2019-05-10 17:37] joakimwennergren opened #6474 "Postman wont create a work space with an & in the name"
**Describe the bug**
It wont send the request if i input a "&" in the name.

**To Reproduce**
Steps to reproduce the behavior:
1. click in workspaces
2. create new
3. input a "&" in the namefield

**Expected behavior**
It should handle "&" in the name.

**App information (please complete the following information):**
 - Postman
 - Postman Version 7.0.9 (7.0.9)

**Additional context**
I guess there

[2019-05-10 17:44] evereux commented on #3331
The question is regarding sending files with a Content-Type "application/json" including the file (which is not JSON). Many people seem to missing this.

[2019-05-10 18:33] JP-from-Postman opened #6475 "Changes in merged fork don't reflect in destination Collection"
**Describe the bug**
User report:
[code]

**To Reproduce**
Steps to reproduce the behavior:
See above

**Expected behavior**
Changes are merged, and reflect in the destination collection without logout + login.

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version: 7.0.9
 - OS: macOS

[2019-05-10 18:45] AnkitKabra20 commented on #3813
Its no longer working as I tried the way you suggested it's still
complaining about

ReferenceError | file is not defined

On Mon, Dec 17, 2018 at 7:24 PM lirenwang <notifications@github.com> wrote:

--
Thanks

Ankit Kabra

[2019-05-10 19:06] pramodgulla opened #6476 "How to skip Json array in Json object in request body??"
Hi Team,

I am running one request with 3 iterations using json data file and these 3 iterations have different API_KEY that means 3 users.So when ever I want to run first iteration , i would like to skip the model1 in the Json request body.Similarly, when the iteration becomes 2 , i would like to skip the model2 while running the POSTMAN collection runner.

I know the code has to be written in th

[2019-05-10 19:12] willkjackson commented on #4186
Having the same issue with 7.0.9, using postman environment vars or directly in the Auth tab...

[2019-05-10 20:34] codenirvana commented on #6467
@richatyagi8 That's the expected behavior.

To access resolved variable value in scripts use `pm.variables.get()`.
Refer: https://learning.getpostman.com/docs/postman/environments_and_globals/variables/#accessing-variables-through-scripts

So, for your usecase:
[code]

[2019-05-10 20:34] #6467 closed, assigned to nobody

[2019-05-10 20:47] shamasis commented on #3813
This is currently a limitation and is not supported.

[2019-05-10 20:55] andreygrehov commented on #4079
+1

[2019-05-11 00:07] falconkirtaran commented on #4355
For what it's worth, I got here trying to debug why it sent NTLM but the Windows box on the other end claimed the password was bad in event logs.  It looks like it's sending Net-NTLMv1, not Net-NTLMv2; perhaps the feature should be re-labelled.  It's a shame that postman shares no supported auth mechanisms with windows integrated authentication in IIS using .net core.

[2019-05-11 01:39] mkamrani opened #6477 "Cannot recover the collections"
**Describe the bug**
I was using Postman on an account on my machine until I had to move to a new account on that machine (AD stuff, I have the user folders but that account doesn't exist anymore).
As suggested I have copied the folder Postman from AppData/Raoming to the same location for the new account (I've installed same version of Postman on the new account) but now the Postman just shows the

[2019-05-11 06:32] numaanashraf commented on #6474
@joakimwennergren Would it be possible sending us a screenshot of what happens when you try to create a workspace with `&` in the name? We are having trouble reproducing this.

<img width="406" alt="Screenshot 2019-05-11 at 12 01 20 PM" src="https://user-images.githubusercontent.com/3295568/57565982-9caf9080-73e4-11e9-8386-d4fb006cefb1.png">

[2019-05-11 06:36] numaanashraf commented on #6477
@mkamrani Data folders contain account specific information and copying data folders between account might not always work. Could you please write to us at help@getpostman.com? We'll try our best to help you recover your data from the previous account files.

[2019-05-11 06:36] #6477 closed, assigned to nobody

[2019-05-11 10:05] beatrichartz commented on #5991
@a85 When the URL contains interpolations / is a GET, there is currently no way to see / copy the constructed URL easily and open it in a browser.

[2019-05-11 17:19] joakimwennergren commented on #6474
I was mistaken, it works like it should.

[2019-05-11 17:19] #6474 closed, assigned to nobody

[2019-05-11 18:04] sivcan commented on #6476
If I understood you correctly,
When it's the first iteration then only model2 and model3 should be sent as request body.
When it's the second iteration then only model1 and model3 should be sent as request body and so on..

Well, you can get the current iteration count using the `pm.info.iteration` API which will exactly give you the current iteration count.
Also, if you need the total count i.e.

[2019-05-11 20:32] jhmaster2000 commented on #2646
Hello, Im trying to reproduce your steps to enable JS on Preview, but I cant find the files you refer to? ("/Applicatoins/Postman.app/Contents/Resources/app.js") can you give me a more detailed walkthrough on it? Thanks.

[2019-05-12 02:43] ttfreeman opened #6478 "Add ChromeOS support in Postman for Linux"
After I failed to install regular Postman for Linux, I thought PostmanCanary might work.  I have followed all the steps by creating new Postman.desktop file on ~/.local/share/applications. Then unpacking the downloaded tar.gaz in root drive. Now when I go to the unzipped PostmanCanary folder, I have tried every possible option of command such as PostmanCanary ./config, make sudo make install, etc.

[2019-05-12 11:47] Crypt32 opened #6479 "Postman v7.0.9 crashes when deleting daily requests"
**Describe the bug**
When deleting daily request group (in request history pane), the app crashes. Actually, history for selected day is deleted, but error page is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman, make one or more request to generate items in hostory
2. on Request History pane, navigate to day group header
3. when trash icon appears, press it
![Untitled](h

[2019-05-12 12:04] rajib18mca opened #6480 "Getting message as Error and and responseDetail as nothing"
Hi,

please help as per subject line, getting response as below
![image](https://user-images.githubusercontent.com/50546152/57581929-605f5b80-74dc-11e9-8ccc-7d80fa2a52cf.png)

Thanks

@numaanashraf please help

[2019-05-12 14:55] sivcan commented on #1654
For people who're going to land up on this issue in the future:
https://community.getpostman.com/t/sharing-tips-and-tricks-with-others-in-the-postman-community/5123/6?u=sivcan

[2019-05-12 15:04] numaanashraf commented on #6480
This seems to be related to your specific API and I'm afraid we don't provide support with issues for your specific APIs here.

We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-05-12 15:04] #6480 closed, assigned to nobody

[2019-05-12 15:10] NadavOs90 commented on #6001
this happens to me in 7.0.9

[2019-05-12 15:12] numaanashraf commented on #6476
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-05-12 15:12] #6476 closed, assigned to nobody

[2019-05-12 15:15] NadavOs90 opened #6481 "Environment variables dont change correctly or not at all"
i changed the current value of the variable called port to 9669 it changed another variable as well and when i hover over the port i get an unrelated value

![image](https://user-images.githubusercontent.com/37407298/57584266-c5698000-74e1-11e9-99f0-a3d2dd664883.png)

[2019-05-12 16:11] shamasis commented on #6455
This is very odd and would be hard to debug. So, let’s deep dive…

1. The first thing we would check if there are any useful errors logged in Postman Console. These would escalate errors that we anticipated and logged

2. Then we would look into Postman internal dev tools to check if any bug is causing this.

Follow instructions here to open Postman Console https://learning.getpostman.com/docs/pos

[2019-05-12 16:18] shamasis commented on #6459
What does this feature do? From a quick look it seems that it uses a part of the response and allows to use the same as variable in next request. Am I seeing this right? If not, then help me understand it and also elaborate on what you’re using this for.

If my interpretation is correct, then the same can be done on Postman by setting a variable in test script and using the same as part of next re

[2019-05-12 16:25] shamasis commented on #6460
Yes. This is a useful requirement and we are tracking it for a while at https://github.com/postmanlabs/postman-app-support/issues/285

From user experience perspective we are not inclined to prompt for anything as that breaks the flow. Instead, we would implement it by completing the request and then clearly show what was missing during making request so that those can be added and re-requested. W

[2019-05-12 16:25] #6460 closed, assigned to nobody

[2019-05-12 16:34] shamasis commented on #6468
@vikiCoder @codenirvana let’s at least do this in Newman CLI reporter.

[2019-05-12 16:56] shamasis commented on #6472
@liguoqinjim I’ve tweaked your issue title to prevent confusion.

[2019-05-12 17:36] numaanashraf commented on #6481
@NadavOs90 Thanks for reporting this. We are tracking a similar issue that is caused when there are multiple variables with the same key in the environment. Would it be possible to verify whether you have multiple `port` keys in the environment?

[2019-05-12 20:42] a85 commented on #2869
Closing this issue as we need to define "large" better. We are tracking performance metrics internally and will publish a post soon on benchmarks and the efforts we are taking up to improve dealing with large amounts of data.

[2019-05-12 20:43] #2869 closed, assigned to numaanashraf

[2019-05-12 20:43] #2476 closed, assigned to shamasis

[2019-05-12 20:46] a85 commented on #4262
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4594. We will be publishing an update soon on the related thread.

[2019-05-12 20:46] #4262 closed, assigned to numaanashraf

[2019-05-12 20:48] a85 commented on #4361
Everyone, thank you for your patience and your comments. We are tracking performance issue aggressively. If you can give us some data points on the sizes of requests/responses you were dealing with, number of collections in the workspace, open request tabs etc. or any other relevant details, it'll help us set up relevant benchmarks to test against. I'd like to emphasize that performance and a smoo

[2019-05-12 20:51] MauriceS commented on #5918
The commit to nodejs/node might have caused issues with Newman postmanlabs/newman#1991

[2019-05-12 21:14] mattfrear commented on #6453
FYI I am the customer who raised the issue if you have any questions.

[2019-05-12 21:19] a85 commented on #5967
Closing this issue as non-descriptive.

[2019-05-12 21:19] #5967 closed, assigned to nobody

[2019-05-13 00:00] ishepherd commented on #3563
My #3910 got closed, but I don't think you should bother with `Native git integration`. Instead, refactor Postman to turn its native storage format into text files. Just like all other dev tools.

If you can pull this off, yes `git` will integrate easily, and so will `grep` and `jq` and the entire universe of file based tools. We will be able to write generators for Postman test collections and th

[2019-05-13 04:47] abhijitkane commented on #6446
@m3dbedb Can you attach screenshots of the 'something went wrong' message in the app? Also,
you can access the log files from `View > Developer > Show Logs in Explorer`. Could you send us these files at help@getpostman.com?

The crash during history deletion and capturing could be two separate issues.

[2019-05-13 04:52] abhijitkane commented on #6448
@markusthegeek I was able to reproduce the second issue (folder transfer is incorrect it the target folder is open), but not the first.

Would it be possible for you to attach a screen recording?

[2019-05-13 06:19] m3dbedb commented on #6446
"Something went wrong" attached to original post, the issue is already created here https://github.com/postmanlabs/postman-app-support/issues/6378 .  I have send the logs to help@getpostman.com

[2019-05-13 06:36] m3dbedb commented on #2833
I have windows 7 32 bit, video card is intel hd graphics 2000. I have an issue with latest postman **7.0.9**. I open postman and open several tests (usually 10-20  jumps) from my collection, after that postman window became black. Running postman with key _C:\Users\user\AppData\Local\Postman\app-7.0.9\Postman.exe --disable-gpu_ and setting system parameter **POSTMAN_DISABLE_GPU** to **true** doesn

[2019-05-13 06:53] NadavOs90 commented on #6481
i checked and no

[2019-05-13 08:33] PKUZhangyj commented on #5681
Explore to the directory C:\Users\FQIN1\AppData\Local\Postman\packages. Find file Postman-x.x.x-full.nupkg, and rename it to Postman-x.x.x-full.zip, then unzip. The executable file will be there in the Postman-x.x.x-full\lib\net45\ directory. Double click the file Postman.exe. It appears.

[2019-05-13 08:50] sujayvenaik commented on #6479
Duplicate of #6378

[2019-05-13 08:50] #6479 closed, assigned to nobody

[2019-05-13 09:48] asule90 commented on #6297
having the same problem on ubuntu 18, after updated to postman 7.0.9.

getting this log:
[code]

read [this](https://github.com/postmanlabs/postman-app-support/issues/4374#issuecomment-439020387) and [this](https://github.com/postmanlabs/postman-app-support/issues/4359#issuecomment-374623031) and works like a charm :+1: :confetti_ball:

[2019-05-13 10:01] codenirvana commented on #3688
Duplicate of #3778

[2019-05-13 10:01] #3688 closed, assigned to codenirvana

[2019-05-13 10:05] ernst-at-tv2 commented on #6293
@shamasis I've just encountered the described scenario where the redirect is not getting it's Host header overridden. Are there any plans to support this feature?

[2019-05-13 10:11] sujayvenaik commented on #6093
This is fixed in the latest v7.0.9

[2019-05-13 10:11] #6093 closed, assigned to nobody

[2019-05-13 10:14] #5219 closed, assigned to saswatds

[2019-05-13 10:18] shamasis commented on #5915
@Ramya-From-Postman Great feature request. But adding another test state would violate the principle of test states for majority of toolchain. The three recognised states that Postman has and so does major toolchain is pass, fail and skipped. Also, tests pass and fail based on assertion being error or not as such configuring a "warning" there would result in a very strange API.

Closing this as wo

[2019-05-13 10:18] #5915 closed, assigned to shamasis

[2019-05-13 10:25] shamasis commented on #5818
Closing this as duplicate of: https://github.com/postmanlabs/postman-app-support/issues/2418

[2019-05-13 10:25] #5818 closed, assigned to codenirvana

[2019-05-13 10:33] shamasis commented on #3937
I'm assuming that the natural evolution of code over the years have fixed this issue. :-p Closing this. If otherwise, please comment.

[2019-05-13 10:33] #3937 closed, assigned to saswatds

[2019-05-13 10:36] shamasis commented on #6164
This has been fixed in latest release.

[2019-05-13 10:36] #6164 closed, assigned to nobody

[2019-05-13 10:44] shamasis commented on #5792
There are a few reasons why this error may occur. With the details in the issue it is hard for me to reproduce.

[code]
Can you check?

[2019-05-13 10:49] codenirvana commented on #2874
We are tracking this issue here: #4726

[2019-05-13 10:49] #2874 closed, assigned to nobody

[2019-05-13 10:55] codenirvana commented on #4726
Note: Error `UNABLE_TO_VERIFY_LEAF_SIGNATURE` is because of missing intermediate certificate in the chain.
Refer: https://github.com/postmanlabs/postman-app-support/issues/2874#issuecomment-405994263

[2019-05-13 10:57] shamasis commented on #5647
Closing due to inactivity.

[2019-05-13 10:57] #5647 closed, assigned to codenirvana

[2019-05-13 11:02] shamasis commented on #5663
It has been quite a while since this issue was reported. Since then a number of improvements were done to Postman Proxy settings. Can you try them and check? Try using "System Proxy" instead of setting proxy in Postman App.

Otherwise: this could be a case where Postman is not respecting proxy exclusion for localhost

[2019-05-13 11:05] shamasis commented on #5638
Just to provide an update here. We have done preliminary design work to bring more response related errors in the response area.

[2019-05-13 11:05] codenirvana commented on #2689
@Luthien-in-edhil In the latest version of the Postman app, all these headers are visible under the "Temporary Headers" section.

[2019-05-13 11:05] p00j4 commented on #6306
```Postman version: 7.0.9```
I encountered this

1. Without console statement too.
**Steps to reproduce:** Make a sendRequest call and try to expand it (request of any in console.
[code]

2. With calling a global function (eval(globas.my_fun()) which has console statement.

This has become a huge bottleneck in debugging

[2019-05-13 11:09] shamasis commented on #6026
Possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/5626. Closing here. Please let know if otherwise.

[2019-05-13 11:09] #6026 closed, assigned to numaanashraf, codenirvana

[2019-05-13 11:11] codenirvana commented on #2689
@IanKemp Agree, we are planning to add a configuration which turns off all the auto header injection.

Updated the issue title.

[2019-05-13 11:20] shamasis commented on #5471
@tparikka we've made some changes over the past few months. Can you check if you can reproduce this issue on latest Postman v7.x app?

[2019-05-13 11:22] codenirvana commented on #6306
@p00j4 `console` in eval might not work, Refer https://github.com/postmanlabs/postman-app-support/issues/5942#issuecomment-466961626

[2019-05-13 11:27] shamasis commented on #5353
Looks like an issue with body being less than content-length

[code]

[2019-05-13 11:28] shamasis commented on #5353
Related to: https://github.com/postmanlabs/postman-app-support/issues/2418

[2019-05-13 11:29] shamasis commented on #5420
![image](https://user-images.githubusercontent.com/232373/57618242-81898000-75a0-11e9-9d47-70f15646fca4.png)

[2019-05-13 11:32] codenirvana commented on #3631
We've added support for custom CA certificate. Refer: https://github.com/postmanlabs/postman-app-support/issues/3290#issuecomment-477468406

cc. @kallekarlberg @EricPSU

[2019-05-13 11:44] codenirvana commented on #3946
@saurav28 `ssl_client_cert` header is added via Tomcat.
Refer: https://tomcat.apache.org/tomcat-7.0-doc/api/org/apache/catalina/valves/SSLValve.html

[2019-05-13 11:44] #3946 closed, assigned to nobody

[2019-05-13 11:47] vrolijken opened #6482 "Missing dataPath and Schema path in JSON validation"
**Description**
When I validate my response using
[code]
(where `data` is the json data in the response, `schema` is a subschema of a larger JSON schema `globalSchema`), than `valResult` should have `dataPath` and `schemaPath` properties according to https://github.com/geraintluff/tv4#usage-1-simple-validation but it doesn't

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST reque

[2019-05-13 11:55] Kapcash commented on #6341
Some news about the bug:
* I've tested reaching localhost with the proxy on v7.0.9. I'm not supposed to reach it with the proxy but I do. It was not possible for me on v7.0.7 (the proxy answers that it is not a reachable url)
So it looks like weather the proxy is enabled or not, it behaves as if it is not even configured.
* Using mitmproxy, it seems to work. At least, requests are logged from the

[2019-05-13 12:14] codenirvana commented on #6341
@Kapcash Possible duplicate of #6364

[2019-05-13 12:15] codenirvana commented on #4494
@mohank1986 Looks like an issue with proxy setup. Also, try setting "SSL verification" to off.

[2019-05-13 12:21] Kapcash opened #6483 "[Windows Desktop] Postman setting to not install minor updates"
I want to use v7.0.7 of the desktop app on Windows 10. Each time I close the app, it automatically updates to v7.0.9.
The settings "Update" tab says that Postman will automatically updates for minor updates, so this is the expected behavior.

Nevertheless, I'd like to be able to disable this feature, as well as for major updates, because I'm facing a blocking issue for me (@see #6341).

I expect s

[2019-05-13 12:23] codenirvana commented on #4776
@Magdiel `Invalid Protocol` error is because of missing `http` protocol in `http_proxy` environment variable.

Are you facing the same issue even after setting it to `http://s460proxy:8080`?

[2019-05-13 12:28] codenirvana commented on #4706
@dbkaynor Can you try escaping the `&` (`&amp;`) or wrap the payload inside `<![CDATA[]]>`?

[2019-05-13 12:29] Kapcash opened #6484 "Add proxy exceptions or disable proxy for local urls"
I often use a proxy when using postman. But when I debug local servers, I want to reach localhost easily, which isn't possible using the proxy. For the moment, I switch it on/off from the settings quite often when I want to reach urls unaccessible from the proxy.

Thus I would like to be able to set up some **exceptions for the proxy**. I want to configure a list of domain names that should not go

[2019-05-13 13:01] codenirvana commented on #6484
Duplicate of #6380
Refer: https://github.com/postmanlabs/postman-app-support/issues/6380#issuecomment-487504172

[2019-05-13 13:01] #6484 closed, assigned to nobody

[2019-05-13 13:10] iskandarovBakshi commented on #5792
@shamasis never mind i solved problem

[2019-05-13 13:18] p00j4 commented on #6306
@codenirvana thanks, however my console logs are working perfectly i.e. prints are working. It's the request which on expand click, crashes the console window app.
Also there are 2 different cases (without console too)

[2019-05-13 13:19] arpitbatra123 opened #6485 "File-picker on Postman for Mac does not respect os-wide dark mode setting"
While trying to select a file while sending a `form-data POST` request, the file-picker that opens up on the mac app does not open in dark mode:
![image](https://user-images.githubusercontent.com/21967563/57624124-e946c780-75ae-11e9-9f2a-568736b58001.png)

While other apps such as chrome respect the dark-mode setting and open the file-picker in dark mode:
![image](https://user-images.githubusercon

[2019-05-13 13:26] richatyagi8 opened #6486 "random generated values in variable"
I have a randomly generated variable which i want to use in all the test cases without having to write this for every test case . Is there a way ? Right now if I am calling name128 in some other testcase , the value remains the same and doesn't change.

let r128 = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
console.log("random128", r128);
pm.environme

[2019-05-13 13:39] Kapcash commented on #6483
I've found a workaround for this.
Even if the next version is downloaded in background while running postman, the current (not latest) version folder still exists. I just run the .exe from this old version folder (_%LOCALAPPDATA%/Postman/{version}/Postman.exe_) instead of the shortcut created by postman (which is surely edited when updating to point to the new version folder).

[2019-05-13 14:01] 3xlogicTomHamilton commented on #5647
Sorry for not responding to the original request.  Using postman console I found that the header is being sent as "content-length", lower case which my target application was not processing correctly.

[2019-05-13 15:06] cyrielle-hada commented on #6475
@preethammavin @JP-from-Postman Initial report shows that sign-out/sign back in fixed the issue.  The changes appear to be merged successfully.

[2019-05-13 15:27] tdhung80 commented on #4687
same here, postman creates too many process and consume huge of memory even that there is no activity yet.

[2019-05-13 15:32] jsavagecommercialpeople commented on #3117
Do you know when the Schema functionality will be released as I just upgraded and I can't see it? This will be really useful for us right now so want to understand when we will be able to do it.

[2019-05-13 17:40] ofesenko commented on #3358
+1

[2019-05-13 17:57] codenirvana commented on #6293
@ernst-at-tv2 We are planing to add request configurations to configure these specific request sending use cases. No ETA just yet, but stay tuned!

[2019-05-13 18:03] daokrajaih opened #6487 "Collection tests appear jumbled when other is viewing it"
**Describe the bug**
In my workspace, I created several steps within a folder inside a collections.  When I view them, I can see that the tests are saved in the order I want to execute.  I labeled each step with a number from 1 through 11.  This collection is linked to a Team Workspace.  When other team member views it, the steps appeared to be jumbled.

**To Reproduce**
No clear steps to reproduc

[2019-05-13 18:04] codenirvana commented on #5647
@3xlogicTomHamilton Thanks for the update. I'm glad you found a fix.
Also, The latest version of the Postman App shows all these auto generated headers under the "Temporary Headers" section.

[2019-05-13 18:11] codenirvana commented on #6482
Duplicate of #3300

@vrolijken tv4 is deprecated in favor of Ajv. Check https://github.com/postmanlabs/postman-app-support/issues/3300#issuecomment-460177101 for more details.

[2019-05-13 18:11] #6482 closed, assigned to codenirvana

[2019-05-13 18:30] codenirvana commented on #5638
We are tracking this here: #4485, https://github.com/postmanlabs/postman-app-support/issues/5045#issuecomment-415702793

Also, according to [RFC7230](https://tools.ietf.org/html/rfc7230#section-3.2.4):
[code]

Agree, please subscribe to the above mentioned issue for updates.

[2019-05-13 18:30] #5638 closed, assigned to codenirvana

[2019-05-13 18:30] Raj-postman opened #6488 "Postman Console Crashes on expanding a log with pm.sendRequest"
**Describe the bug**
When you make pm.sendRequest in your test scripts, expanding the Postman console throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pre-Request scripts
2. Make use of _pm.sendRequest_
3. Click on Send
4. Click on Postman console, and expand the previously sent request
5. Displays the error: _Something went wrong_

**Expected behavior**
To check Postma

[2019-05-13 18:49] keksite commented on #4079
+1

[2019-05-13 19:23] pramodgulla commented on #6476
@sivcan  Thanks for the Answer. But, I am not expecting the Json Body that it is returning.
PFA document. Thanks!!
![collage](https://user-images.githubusercontent.com/39747459/57648298-1a190380-7593-11e9-9bc1-e2d8a692cd18.png)

[2019-05-13 19:24] markusthegeek commented on #6448
@abhijitkane, great idea, I was able to catch the bug during the recording, using a copy of my original target collection. I am following the same steps as laid out above. Note that my Postman is sometimes really slow although I did restart it just before these tests. So Postman Helper might use > 100% CPU and the sync button might not react. An indication is that it might take a while until that

[2019-05-13 19:37] a85 commented on #1906
@ullgren I am sure they will continue supporting RAML (0.8 and 1.0) - but it could mean a lot of things - like updates to existing tools or customer support through help channels. I am not sure about future versions/updates to the spec because the blog post by Smartbear here declares victory: https://swagger.io/blog/news/mulesoft-joins-the-openapi-initiative/ and I am not sure if there will be a v

[2019-05-13 19:43] chrisdeso opened #6489 "Environment Quicklook: Changes made to session variables don't always persist"
**Describe the bug**
When using the environment quicklook to edit session variables, the changes don't always persist.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman app
2. Click on the environment quicklook
3. Navigate to a session variable and make edits
4. Hit enter || Click outside of the text field
5. See that changes don't persist.

**Expected behavior**
Changes made

[2019-05-13 19:45] sujayvenaik commented on #6448
Hey @markusthegeek
One reason for you able to drag-drop the collection multiple times is when this operation is made, it may judge it as 1. you are trying to reorder i.e. moving behind the folder which I guess would be happening in your case, 2. moving inside the folder and 3. moving it after the folder.

I tried reproducing the case where I moved folders in nested folders but could not reproduce

[2019-05-13 19:49] markusthegeek commented on #6448
@sujayvenaik, I only had it happen recently with that specific case, but I also lost two folders in another transaction which I am no longer sure what was involved. So it could be related to having several folders inside each other, having a certain amount of test requests per collection, and having the system under load like I mentioned above. These all seem to be conditions I am hitting in that

[2019-05-13 20:24] chrisdeso opened #6490 "Environment quicklook: Edits to one session variable propagates to others"
**Describe the bug**
Edits made to session variables using the environment quicklook propagates to other variables

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Postman app
2. Click on the environment quicklook
3. Navigate to a session variable and make edits
4. See changes propagate to other variables

**Expected behavior**
Edits should only be made to selected environment varia

[2019-05-13 21:28] chrisdeso opened #6491 "Environment Quicklook: Can't unfocus sometimes"
**Describe the bug**
Sometimes it isn't possible to unfocus from the session variable's text field

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Postman app
2. Click on the environment quicklook
3. Navigate to a session variable and make edits
4. See that clicking out of the text field doesn't reset focus

**Expected behavior**
Clicking outside of the session variable's text fiel

[2019-05-13 22:58] zgirod commented on #6475
Just adding that this happens on a windows machine as well as macOS.

[2019-05-13 23:25] silenscer commented on #4977
![imagen](https://user-images.githubusercontent.com/34064900/57660460-ac7dcf00-75b4-11e9-8ac6-3467a49e93d6.png)
Having this issue with Postman for Windows
with last version 7.0.9 or *Version 7.1.1-canary01*  ^

[2019-05-14 00:09] JP-from-Postman opened #6492 "Could not open Postman --- not resolved by clearing cache"
**Describe the bug**
User encountered **Could not open Postman** error after installing v7.x and trying to start app. Clearing local cache and removing all existing Postman installs has not resolved the issue.

**To Reproduce**
Steps to reproduce the behavior:
Unknown

**Expected behavior**
App is able to start successfully

**Screenshots**
If applicable, add screenshots to help explain your probl

[2019-05-14 00:45] eqj commented on #4709
+1 100% of our Postman problems are "did you clear the cookies first?", we don't even want to keep them

[2019-05-14 01:02] CLannadZSY commented on #6465
Ok, thank you for your reply.

Numaan Ashraf <notifications@github.com> 于2019年5月11日周六 上午12:02写道：

[2019-05-14 02:21] Lixue0523 commented on #1763
I can't login with such error.
![image](https://user-images.githubusercontent.com/50348856/57666290-125c6c00-7632-11e9-820e-91ff0842730b.png)

[2019-05-14 04:47] abhijitkane commented on #6486
@richatyagi8 There are two approaches you can use here:
1. If your requests are in a collection, you can use the [collection-level pre-request script](https://learning.getpostman.com/docs/postman/scripts/pre_request_scripts/). This will be executed before each request in the collection, and give you a different value for `name128` in each request.
2. If not in a collection, you can save a piece of

[2019-05-14 04:47] #6486 closed, assigned to nobody

[2019-05-14 05:44] kamalaknn commented on #6487
Hey @daokrajaih

Thanks for reporting this. This is definitely not an expected behaviour.

To help us investigate this better can you  give us some more information.

How did you create these requests? And which app are you seeing the wrong order - the app where you created the requests or the other app where it was synced.

[2019-05-14 05:46] harryi3t commented on #6489
Thanks for opening the issue. We are tracking this here https://github.com/postmanlabs/postman-app-support/issues/6362
Kindly subscribe to that issue for the updates.

[2019-05-14 05:46] #6489 closed, assigned to nobody

[2019-05-14 05:46] harryi3t commented on #6490
Thanks for opening the issue. We are tracking this here https://github.com/postmanlabs/postman-app-support/issues/6362
Kindly subscribe to that issue for the updates.

[2019-05-14 05:46] #6490 closed, assigned to nobody

[2019-05-14 05:47] harryi3t commented on #6491
Thanks for opening the issue. We are tracking this here https://github.com/postmanlabs/postman-app-support/issues/6362
Kindly subscribe to that issue for the updates.

[2019-05-14 05:47] #6491 closed, assigned to nobody

[2019-05-14 06:23] harryi3t commented on #6362
@Ekusu1 @eloyucu @chrisdeso @piniacat @antonrabe @tiaraju
The fix is out in our [canary](https://www.getpostman.com/downloads/canary) build and will be available in our next production release.

[2019-05-14 06:23] kevin-innorules commented on #5464
+1

[2019-05-14 06:49] shamasis commented on #6021
Hey, I was dropping into check whether one of the changes that we are working on would actually address this issue.

@codenirvana - can you confirm that the work we are doing on programmatic cookie access would allow creating new cookies from within sandbox and use in subsequent requests?

[2019-05-14 07:02] shamasis commented on #6458
Yeah. I agree. I can hardly see this dot when in a general monitor. High end phones and monitors with better colour reproduction is working just fine.

@vkaegis - can you keep a track of this?

Closing the issue for now - since I know for a fact that there’s a bigger epic somewhere that tracks colour related issues. @vkaegis please add to your list.

[2019-05-14 07:02] #6458 closed, assigned to nobody

[2019-05-14 07:27] codenirvana commented on #6021
@shamasis Yes.

Possible duplicate of #5753.
@masterchop You don't have to programmatically add `pm.sendRequest` cookies, We've added support this on our Canary (version: 7.1.1-canary01) channel https://www.getpostman.com/canary

[2019-05-14 07:39] shamasis commented on #5825
@zzxcqa we are suspecting that NTLM auth is an issue because of the following lines in stack trace

[code]

Can you confirm whether you have NTLM auth selected and what happens if you remove that auth?

[2019-05-14 08:08] allanrodriguez opened #6493 "Right-to-left scripts in the Body field aren't selected correctly"
**Description**
When portions of text in a right-to-left script (e.g. Arabic or Hebrew) in the Body field are selected, text from the opposite side is returned instead. Copying and pasting the text somewhere else shows that the intended selected text is not returned. Right-clicking on the selected text in the Body field will show a `Find: <text>` where <text> is a set of characters from the opposi

[2019-05-14 08:20] numaanashraf commented on #6478
@ttfreeman Thanks for the issue. Postman for Linux is not officially supported on ChromeOS at the moment. We'ld take this as a feature request.

[2019-05-14 08:20] sivcan opened #6494 "Workspace delete modal doesn't show thumbnail in collection runner"
**Describe the bug**
The workspace delete modal which tells the user that the active workspace has been deleted and that the user has been switched to another workspace doesn't show the thumbnail icon.
Whereas, when the same modal shows up in the requester, it does show the thumbnail icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Open collection runner and switch to some personal / te

[2019-05-14 08:21] numaanashraf commented on #6478
@ttfreeman I've edited the title to clearly capture the exact nature of this issue.

[2019-05-14 08:26] vkaegis commented on #6471
@philmagr Thanks for writing in! I'm marking this as a feature request, the ability to show / hide composite parts of the UI is something that were looking at.

[2019-05-14 08:51] vschoener commented on #5920
Same issue here, duplicate only duplicate an empty request :(

[2019-05-14 08:59] azarezade commented on #4244
Me too, waiting for the feature to be added!

[2019-05-14 09:16] barnarock commented on #6481
I have the same issue. The variables does not change its value and they have unique names.

[2019-05-14 09:27] abi2810 opened #6495 "Sync is not working in v6.7.1"
Postman v6.7.1 in ubuntu, sync is not working. When I open postman it automatically rotating but still, it is not synced. This is kept on rotating, but nothing happened. What is the issue with syncing, people from my team is waiting for my documentation I couldn't sync my collections.

[2019-05-14 09:54] sujayvenaik commented on #6495
@abi2810 Do you have an update in your app?
Can you check if your team is migrated to the latest v7 version of the app? If yes, you will also have to move to that version.
Refer: https://blog.getpostman.com/2019/03/11/get-postmans-latest-features-by-migrating-to-version-7-0/

[2019-05-14 10:16] abi2810 commented on #6495
Yes, it is showing like this
![Screenshot from 2019-05-14 15-44-08](https://user-images.githubusercontent.com/28435288/57690442-4a2dd880-765f-11e9-9187-f3103b377562.png)
And I'm trying to update but I couldn't. As the update instructed I went to the settings page and I don't see any update there. What should I do now?

[2019-05-14 10:19] abi2810 commented on #6495
This is my settings page,
![Screenshot from 2019-05-14 15-48-22](https://user-images.githubusercontent.com/28435288/57690663-c45e5d00-765f-11e9-858d-854a8ecb38b5.png)

[2019-05-14 10:29] sujayvenaik commented on #6495
Are you using a snap version of the app?
If yes, can you refer https://github.com/postmanlabs/postman-app-support/issues/6045#issuecomment-471177118

[2019-05-14 10:39] abi2810 commented on #6495
Oh my goodness, this works. Now the collection are in sync. Thank you so much for helping me out @sujayvenaik

[2019-05-14 10:40] Justin-Maxwell commented on #4514
Just for search indexing:

Chromebook / Chrome-OS (v73) Crostini Linux
`sudo apt install libgconf-2-4` fixes.

[2019-05-14 10:57] dantench commented on #5565
I would like to see this as well... for example when testing response times it would be good to be able to say

1000ms or more = failure
500ms - 1000ms = warning ( tests pass, but flag up at the end of a Newman / manual run for attention )
500ms or less = pass

It would be a great way to track any dips in performance across API's and enable developers to be proactive in improving performance befor

[2019-05-14 11:24] sujayvenaik commented on #6495
Cool, I'll go ahead and close this issue.

[2019-05-14 11:24] #6495 closed, assigned to nobody

[2019-05-14 11:33] abhijitkane commented on #6390
@cyrielle-hada This should be addressed for all users now. Feel free to add a comment if this is seen again.

[2019-05-14 11:33] #6390 closed, assigned to nobody

[2019-05-14 12:08] shamasis commented on #5565
This issue has been open for a while. A similar one was filed as duplicate here https://github.com/postmanlabs/postman-app-support/issues/5915 and was closed as wont-fix.

Like I mentioned in the other issue, this is a genuine requirement, but using test status to achieve this can be ... dicey. There are too many things involved in test status toolchain and can break a number of reporting systems

[2019-05-14 13:03] JanneckLange commented on #5889
I run into the same error with the newest version of Postman today. Error Log exact the same except the port (`"port":80`) for me

[2019-05-14 13:14] Hanzelka commented on #5335
I have the same issue. I am using custom domain Gitlab. Integration on PM side is successful without any errors, but no JSON file is pushed to repo. I tried several times with no succes.

1) I am valid user with developer permission
2) I have created valid token (allow to write to repo via API)
3) Repo is initiated (many commits and MR in past)
4) Branch for integration is Unprotected

[2019-05-14 13:52] dantench commented on #5565
I think your suggestion of the console.warn would work for my requirements with a little bit of additional effort in our build solution. Though it would just mean adding in a bit more code than would have been ideal in postman, as we try to keep tests as 'clean' as possible. That being said the majority of times we run tests they're automated with newman and the .xml results are parsed via JUnit,

[2019-05-14 14:03] Arkemlar commented on #5680
+1 from NEON KDE (based on ubuntu)
![image](https://user-images.githubusercontent.com/19671202/57704241-2fad2c80-766a-11e9-8569-967836fa8950.png)

[2019-05-14 14:23] numaanashraf commented on #2833
@m3dbedb Are you facing any issues with Postman windows opening off-screen when multiple monitors are used?

[2019-05-14 14:30] godfrzero opened #6496 "Navigating directly to custom domain redirects to path"
**Describe the bug**
When navigating directly to a custom domain, the user is redirected to a new location including the path.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate directly to a custom domain, without the version parameter
2. Get redirected to the same domain with path & version parameter attached

**Expected behavior**
Redirection should be to the custom domain without a

[2019-05-14 14:40] benfletcher commented on #4244
@madebysid Are there any other aspects of requests that aren't parsed for the docs?

We're trying to comprehensively document our API for customers and I can't find any information on what gets included in docs and what's excluded or silently ignored.

If it's going to take a while to resolve this issue, a flag in the UI indicating "private" or "hidden" on items that get dropped in the docs would

[2019-05-14 14:42] cyrielle-hada opened #6497 "URL format - parameters appended to the end of both custom and default domains"

[2019-05-14 14:51] cyrielle-hada commented on #6497
Duplicate of [6496](https://github.com/postmanlabs/postman-app-support/issues/6496)

[2019-05-14 14:51] #6497 closed, assigned to nobody

[2019-05-14 15:53] jackieta1 commented on #2906
This is huge issue for us too. Please prioritize this.

[2019-05-14 16:24] Exodus commented on #4320
@saswatds that's great news.

I'd like to add that this issue occurs not only on form-data but also on the binary type. Example collection JSON:

[code]

File `src` attribute is removed on import/export.

[2019-05-14 16:40] abhijitkane commented on #6456
@preethammavin The issue here was that the monitor was half-associated with the team. The monitors were on a user's personal collections, and were transferred to the user's personal workspaces when he left the team.

However, the monitors were active and still being billed to the team, without the team admins being able to pause or delete them.

[2019-05-14 17:44] nsharma0101 commented on #1196
@numaanashraf  I have validated my response body against the schema using tv4 and getting below message.  Which is correct. However I would like to know exactly which object or property is mismatch. is there any way to do this.
schema | AssertionError: ValidationError: Unknown property (not in schema): expected false to be true

[2019-05-14 17:50] nsharma0101 commented on #3173
@mverma-va @radauto My test is working fine and getting proper message.
Schema Validation | AssertionError: expected false to be true ,
Is there a way to capture exact object or property which is missing or incorrect. could you please share if you found the solution.

[2019-05-14 18:03] codenirvana commented on #3173
@nsharma0101 tv4 is deprecated in favor of Ajv.
Refer https://github.com/postmanlabs/postman-app-support/issues/3300#issuecomment-460177101 for debugging schema validation errors using Ajv.

[2019-05-14 18:05] nsharma0101 commented on #2574
@numaanashraf  My test is working fine and getting proper message.
Schema Validation | AssertionError: expected false to be true ,
Is there a way to capture exact object or property which is missing or incorrect. could you please share if you found the solution.

[2019-05-14 18:34] daokrajaih commented on #6487
Hi Kamalaknn,
I don't know at which point the issue occurred.  I usually do the following.

1) At the beginning, I either create collection on Team workspace or in my workspace
2) I then share that collection to Team workspace or to my workspace
3) In my workspace, I started creating requests and run my tests.
4) At some point after I finish, my teammate look at my test collection from Team Worksp

[2019-05-14 18:39] rmlira commented on #3173
@nsharma0101
you can check tv4 documentation here https://geraintluff.github.io/tv4/.

The method tv4.validate returns false or true if validation is succeeded or not and stores and object with error details which you can access calling tv4.error. Or you can use tv4.validateMultiple instead of tv4.validate. The result of this call will be an object with 'errors' property containing detailed causes

[2019-05-14 19:11] shasti421 commented on #1669
Any update on availability in Canary?

[2019-05-14 20:08] liepieshov commented on #2458
+1, when will you finish this?

[2019-05-14 20:17] tparikka commented on #5471
I'm on Postman 7.0.9 Windows 10 Build 1809 and I'm not able to reproduce the issue by holding a request captive in a proxy like Burp Suite.

[2019-05-14 20:20] a85 commented on #5471
Thank you @tparikka. Closing this.

[2019-05-14 20:20] #5471 closed, assigned to codenirvana

[2019-05-14 20:32] #6271 closed, assigned to nobody

[2019-05-14 21:55] michaelvannevel opened #6498 "Request Tags"
**Is your feature request related to a problem? Please describe.**
Say I have an order processing collection, with 3 postman environments one for prod, one for dev, and one for local development.  I don't want to actually place orders when in production environment, so i want to skip them when running my tests when in production environment.

**Describe the solution you'd like**
I would like to be

[2019-05-14 22:09] JP-from-Postman opened #6499 "Header presets: allow user to replacing or append headers"
**Is your feature request related to a problem? Please describe.**
Currently, choosing a header preset only appends to the existing set of headers.

**Describe the solution you'd like**
Allow user an option to either:
a) Clear all existing headers in request, and replace with headers in preset
b) Append headers in preset to existing headers in request
c) Merge preset and request headers (rough ide

[2019-05-14 22:14] vrolijken commented on #6482
@codenirvana Like I stated in both the stack overflow post and the community item: I tried to use ajv, but am stuck with a draft-04.
I changed my testcode to be
[code]
I get the error:
[code]
which does not tell me that the property 'url' is a string and not an object

Also: if you retire tv4, please update the documentation as well: https://learning.getpostman.com/docs/postman/scripts/postman_san

[2019-05-14 23:26] JP-from-Postman opened #6500 "Postman API: file upload for Import external API validating against Collection schema"
**Describe the bug**
When attempting to import a OpenAPI .yaml file using [POST Import external API specification](https://docs.api.getpostman.com/view/631643/JsLs/?version=latest#09886971-e1e2-4a62-8f59-f7abfd79ff5e), the response returns status 400 with the error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. POST an openapi .yaml file to https://api.getpostman.com/import/

[2019-05-14 23:42] JP-from-Postman commented on #6339
@dhineshwiz Added additional example in JIRA

[2019-05-15 03:43] codenirvana commented on #6482
@vrolijken Looks like invalid schema and data is passed while validating.
Try changing the `valResult` assignment to:
[code]

[2019-05-15 03:50] abhijitkane commented on #6330
@preethammavin Can you also mention what additional info is required?

[2019-05-15 03:54] abhijitkane commented on #6463
@numaanashraf Logs etc. have been attached to the linked JIRA ticket.

[2019-05-15 03:55] preethammavin commented on #6330
@abhijitkane this is situation where the collections were never synced to the in such cases do ask for app logs

[2019-05-15 04:26] chimit commented on #2476
@vikiCoder @a85 the problem still takes place for the first request:

![image](https://user-images.githubusercontent.com/839349/57748468-a569d480-770c-11e9-9a49-90ee1a13a8e3.png)

[2019-05-15 05:09] abhijitkane commented on #6321
@cyrielle-hada This should have been fixed after yesterday. Can you check with the end-user[s]?

[2019-05-15 05:18] abhijitkane commented on #6209
@labifrancis Can you ask for relevant logs and add to the JIRA ticket?

[2019-05-15 05:21] abhijitkane commented on #6209
Closing this. The user reported this fixed.

[2019-05-15 05:22] numaanashraf commented on #6263
The fix for this issue has been released in v7.0.8.

[2019-05-15 05:22] #6263 closed, assigned to numaanashraf

[2019-05-15 05:32] grgakshay opened #6501 "More than one items selected in Environment dropdown"
**Describe the bug**
More than one item is selected in Environment dropdown

**To Reproduce**
Steps to reproduce the behavior:
1. Add a few environments in Postman
2. Click on environment dropdown button in top-right
3. Select one environment
4. Again click on the environment dropdown button
5. Hover on some items in the dropdown list
6. Observe three items being selected

**Expected behavior**
A

[2019-05-15 05:45] a85 commented on #3117
The feature is rolling out in production now in 7.1. Integration of schemas with generated docs is not done yet but we are working on it.

[2019-05-15 05:45] a85 commented on #2617
The feature is rolling out in production now in 7.1. Integration of schemas with generated docs is not done yet but we are working on it.

[2019-05-15 05:47] shamasis commented on #2476
@chimit - there could be various reasons for the delay between handshake to first-byte. I would need a a way to reproduce this condition locally - can you file a separate issue with as much detail as possible to reproduce this?

TLS certificates and gzip can interfere with time time to first byte and chrome app has a global cache that native app doesn’t have and that too can influence the behaviou

[2019-05-15 05:53] numaanashraf commented on #6463
@jackson-david Thanks for reporting this. Is the sync icon on the top right always showing the `blue-rotating` icon when this happens?

[2019-05-15 06:13] puntodamar commented on #4401
close your postman properly.
for me that was the culprit.

[2019-05-15 06:33] sujayvenaik commented on #6463
Hey @jackson-david
We found performance issues while syncing large responses that you mentioned earlier that they were around 15Mb and 20Mb. We generally recommend not to have examples above 5Mb.

Will update this thread with further progress.

[2019-05-15 06:44] xzyk opened #6502 "My data display area is not fully displayed, using Google postman"
![image](https://user-images.githubusercontent.com/29298677/57753805-a2c4aa80-771f-11e9-85db-136b775607d2.png)
As shown in the figure, I asked for an interface. The data returned by the interface can not be fully displayed here. Is that what I set up? This problem has been bothering me for a long time.

It uses the latest plug-ins from the Google App Store.

Please help me. Thank you.

[2019-05-15 06:45] abhijitkane commented on #6135
@cyrielle-hada All dependent issues for this are closed.

[2019-05-15 06:48] #6121 closed, assigned to ankitjaggi, kartikjain26

[2019-05-15 06:50] abhijitkane commented on #6116
Reported fixed

[2019-05-15 06:50] #6116 closed, assigned to nobody

[2019-05-15 06:52] abhijitkane commented on #6034
@JP-from-Postman This has been fixed. Can you confirm?

[2019-05-15 06:52] #6034 closed, assigned to nobody

[2019-05-15 07:06] #5770 closed, assigned to nobody

[2019-05-15 07:06] #5764 closed, assigned to ankit-m

[2019-05-15 07:08] m3dbedb opened #6503 "Code above pause is freezed untill pause ends"
**The bug description**
I need to wait for some answer, so I use the script:
`var t = new Date().getTime();
while (new Date().getTime() < t + 10000);`
If there is a string prior to pause, it is delayed either, even if it is written at previous step:
step 1 test script:
`console.log('pause 10000 miliseconds');`
step 2 pre request script:
[code]
Note that timestamps are they sould be if everithings

[2019-05-15 07:09] #5746 closed, assigned to abhijitkane

[2019-05-15 07:41] sujayvenaik commented on #6448
Hey, @markusthegeek Can you help us by exporting the collection for which you are facing issues and mail it to help@getpostman.com?
Redact any sensitive information.

[2019-05-15 08:01] sivcan opened #6504 "Wrong icon sizes in API actions bar"
**Describe the bug**
The alignment seems to be off for the actions for APIs. The issue is that the Reports and Comments icon are actually 16 x 16px, whereas the refresh icon is that of 12 x 12px.
Which would make a user feel that the alignment is off but it's, in fact, the issue with the icon size.

**Expected behavior**
All icons are of 16 x 16px.

**Screenshots**
![image (3)](https://user-images

[2019-05-15 08:37] cyrielle-hada opened #6505 "Native App - Unable to access team workspace - Something went wrong"
**Describe the bug**
Clicking on a specific team workspace in-app throws the error Something Went Wrong.

![image002](https://user-images.githubusercontent.com/47351631/57761586-1b1a7400-76fe-11e9-8c6f-78e4c3cf7d67.png)

**To Reproduce**
1. Open the native app
2. Toggle from Personal to Team workspace
3. Select a team workspace from `WORKSPACES YOU CAN JOIN`
![a](https://user-images.githubusercont

[2019-05-15 09:09] Raj-postman opened #6506 "Unable to login to Postman app"
**Describe the bug**
Unable to sign in to the application, throws an error

**To Reproduce**
Steps to reproduce the behavior:
1. Try logging into the application
2. See error: Something went wrong

**Expected behavior**
To be able to sign into the application

**Screenshots**
![Something went wrong](https://user-images.githubusercontent.com/47771757/57669623-5139f400-7629-11e9-9302-1b32a68d7a5c.pn

[2019-05-15 09:18] preethammavin commented on #6505
@cyrielle-hada can you attach the logs for the user in the internal ticket please

[2019-05-15 09:35] dhineshwiz commented on #6365
Hey @JP-from-Postman thanks for reporting the issue, are you not able to publish to same domain, or after publishing u are seeing 404 on that custom domain ? If it was the second case, its because domain caching which is pointing old published data, you can see the updated published data after ~10 mins. Ideally this cache should be invalidated. We are working on that fix, we will update soon.

[2019-05-15 09:57] RuggeriLuca commented on #6251
Hello,
i have the same error. is it a know issues ?

[2019-05-15 10:25] cyrielle-hada commented on #6473
Duplicate of [6321](https://github.com/postmanlabs/postman-app-support/issues/6321)

[2019-05-15 10:25] #6473 closed, assigned to ankit-m

[2019-05-15 10:51] kamalaknn commented on #6487
@daokrajaih Hey can you view the same collection on the web dashboard and check the order shown there (you can click the "View in web") button on the collection details section.

Can you send the logs from `View -> Developer -> View logs in Finder` to `help@getpostman.com` from your registered email id so that we can take a deeper look?

[2019-05-15 11:39] sdnts commented on #4244
@godfrzero Perhaps you'd be able to better address @benfletcher's question :D

[2019-05-15 11:54] smanjesh commented on #1654
It works when I do the following:
1) Set an environment variable where you stringify the incoming array
2) Use the environment variable in the body instead of the source field

For instance, if your input Json looks like following. Note that we have an array field called "benefits"
[code]
In the Pre-request Script tab, add the following line:
`pm.environment.set("env-benefits", JSON.stringify(data

[2019-05-15 11:57] godfrzero commented on #6496
A fix for this in on the way to production, and should be out within the next 24 hours. The fix will remove the extraneous path which gets attached. The version query parameter will remain in place, but removing that as well when there is only one version published or when navigating to the latest is up for discussion.

[2019-05-15 12:29] RomuloVHSYS commented on #3117
@a85 There is a documentation for how to use this new feature?

[2019-05-15 12:46] Alexand3r commented on #6297
Tried what @asule90 suggested, unfortunately I have the same issue

EDIT: I've tried with snap too, same story, deleted everything and cleaned...

![Screenshot_20190515_144518](https://user-images.githubusercontent.com/988056/57776571-241c3d00-7720-11e9-810b-d8d684c9b2f4.png)

[2019-05-15 12:47] akrz opened #6507 "Empty response"
**Describe the bug**
When I send the request sometimes I get an empty response. It seems that it happens when the response is somewhat large (it's happening with 700~ lines, json format)

**To Reproduce**
Steps to reproduce the behavior:
1. Build the request
2. Click on 'Send'
3. Scroll down to the response body
4. See empty body

**Expected behavior**
Json Body is displayed

**Screenshots**
![ima

[2019-05-15 12:49] a1dutch commented on #5691
I would like to see this feature too.

There are a couple of easy work arounds but would like support for variable expansion out of the box

[2019-05-15 12:51] kamalaknn commented on #6431
This is fixed in 7.1.0

[2019-05-15 12:51] #6431 closed, assigned to nobody

[2019-05-15 13:05] cyrielle-hada opened #6508 "Unable to activate account - verification link throws error 404"
**Describe the bug**
Clicking the account activation link throws an error 404 on the browser and redirects to the URL https://www.getpostman.com/validate-email/.

![image001](https://user-images.githubusercontent.com/47351631/57777807-03091b80-7723-11e9-9ab7-4d90cc0b7480.png)

**Additional context**

- The user never received the activation email although we can see on our end that it has successf

[2019-05-15 13:06] kamalaknn commented on #6281
We have deployed the fixes that would have led to this experience. The fixes should be available from the Postman apps starting from 7.0.9.

@14552516 @eric-gagnon  Unfortunately we cannot fix the state of the data from the previous versions. If you have not signed out you can try exporting all the collections from `Settings -> Data -> Export` and importing it again.

I'm closing this now since th

[2019-05-15 13:06] #6281 closed, assigned to nobody

[2019-05-15 13:38] jackson-david commented on #6463
@numaanashraf Almost always it's the blue rotating icon. Once in a while it's just grayed out, but not often.

[2019-05-15 13:40] jackson-david commented on #6463
@sujayvenaik Yeah, it may be coincidence, but after removing the large items to reduce the collections' sizes, it seems to be working again. But, I had those collections in my account for at least a couple months and never had a problem with the sync. I am also using the canary build, so maybe there's something in it that was changed and helped correct this issue?

[2019-05-15 14:38] IvanDyankovYoti opened #6509 "PATCH request label misspelled"
**Describe the bug**
Patch HTTP method is misspelled in the user interface.

**To Reproduce**
0. Using the native app for MAC
1. Create a new PATCH request
2. Add it to a collection
3. Observe the side panel of the app where your methods are shown that PATCH is missing the `H`

**Expected behavior**
PATCH is spelled correctly

**Screenshots**
![image](https://user-images.githubusercontent.com/5019

[2019-05-15 15:43] aspoehrer commented on #5819
You gave both examples for adding Self Signed Certificates. Are you saying you add Self Signed under CA Certificates?

[2019-05-15 15:50] Jul13nT commented on #6410
I think this is a duplicate of #4365

[2019-05-15 15:52] ClaysonIO commented on #5889
I'm running into an identical issue, also on the native OSX app.

[code]

[2019-05-15 16:12] varazerotolerance opened #6510 "Getting blank page while postman starting"
**Describe the bug**
Getting blank page while postman starting

**To Reproduce**
Steps to reproduce the behavior:
1. download postman for 64 windows 8.1
2. start postman
3.getting blank page

**Expected behavior**
Postman should work properly

**Screenshots**
https://www.screencast.com/t/RA47rDld6

**App information (please complete the following information):**
 - Postman Version Postman-win64-7.

[2019-05-15 16:13] sujayvenaik commented on #6463
Hey @jackson-david, you will not face syncing issues till the time you don't interact with these examples. When some changes are made to these and are tried to sync then you might face issues.

Canary and Stable build interact with the same environment so I guess that will not cause any issues.
Thanks for helping to debug. Like I said I'll keep this thread updated with further progress.

[2019-05-15 16:16] sujayvenaik commented on #6510
@varazerotolerance
Can you follow the steps mentioned in this[ comment](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621) and check whether it helps to get it fixed.

[2019-05-15 16:54] labifrancis opened #6511 "User with remaining mock server calls gets an error saying mock server usage limit reached."
**Describe the bug**
A user on a Pro account with access to 100,000 mock server calls gets an error after making
2788 calls.

**Error:**
{"error":{"name":"usageLimitError","message":"Usage limit reached. Contact your team admin."}}

**To Reproduce**

Steps to reproduce the behavior:
1. Go to New > Mock Server and create a mock server for any collection
2. Make a request to the server

**Expected b

[2019-05-15 17:02] markusthegeek commented on #6448
Hi @sujayvenaik, that was my idea as well :-) I replaced our passwords and sent the JSON exports of the two collections involved to support now, mentioned this bug and your email. Let me know if you want to do a shared screen session. gruss, Markus

[2019-05-15 17:18] iFreeon opened #6512 "Postman pro environment values not sharing."
My team all has pro accounts and we're on a shared workspace.  The problem is when I add new key/value pair to a shared environment me team members don't get the changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Preconditions (have a team on pro, have a shared workspace, have a shared postman environment.
2. From Windows postman prod - add a new key/initial/current to the a shared pos

[2019-05-15 17:21] varazerotolerance commented on #6510
@sujayvenaik thank you! now working fine for me.

[2019-05-15 17:21] #6510 closed, assigned to nobody

[2019-05-15 17:22] JP-from-Postman commented on #6365
Hey @dhineshwiz, I reported this on behalf of the user who encountered it. I'll add details to JIRA.

[2019-05-15 17:37] sujayvenaik commented on #6512
Hey @iFreeon Only the initial values in case of environments are synced.
For other thing when the data isn't syncing: Do you have an update available in your app?
Can you check if your team is migrated to the latest v7 version of the app? If yes, you will also have to move to that version.
Refer: https://blog.getpostman.com/2019/03/11/get-postmans-latest-features-by-migrating-to-version-7-0/

[2019-05-15 17:46] maschiojv commented on #3777
NetLimiter...

[2019-05-15 18:15] eduardoHoefel commented on #5663
I tried again and the result was the same. The return is different when requested using chrome or the old postman extension.

My system proxy settings is set to use an automatic configuration script. I could not find a similar option in postman settings, nor to set exceptions to the global proxy

[2019-05-15 18:45] garrucho commented on #6413
Same issue here.

**App information (please complete the following information):**

App Type: Native
Postman Version: 7.0.9 and 7.1.0 (recently updated)
OS: MacOS

**Screenshots**

Some details from my console (shared devtools)...

Top of the logs:

[redacted]

---

First ocurrence:

[redacted]

---

Here again, followed by the "exceded maximum" loop:

[redacted]

---

Searching for this collectio

[2019-05-15 19:01] JP-from-Postman opened #6513 "Allow team admin to "suspend" user account, without removing them from team."
**Is your feature request related to a problem? Please describe.**
If a team member's access to all team content needs to be revoked immediately, the only current practical option is to remove them from the team entirely. However, this may not be desirable in all circumstances.

E.g. User account security is compromised, but the user was working on content in a personal workspace that will need to

[2019-05-15 19:01] JP-from-Postman commented on #6513
This may fit well with https://github.com/postmanlabs/postman-app-support/issues/5086

[2019-05-15 19:03] doverby0122 commented on #6505
Any ETA on when this could be resolved? Thx - Dustin

[2019-05-15 19:34] richatyagi8 opened #6514 "Pre request script at folder level isnt working but, prescript inside a request works"
I am running the exact same script inside the folder and inside of a request , but I am getting undefined on the folder one and the request inside request works fine.

**Request inside request**

pm.sendRequest({
    url: pm.variables.get("baseUrI") + "/sample/3.0/contacts",
    method: 'GET',
    header: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },

[2019-05-15 19:37] richatyagi8 commented on #6486
@abhijitkane -thanks for your response. Could you please redirect me to a documentation on using JS function in the environment for postman?

[2019-05-15 20:30] codenirvana commented on #6514
@richatyagi8 Looks like you are trying to access variable `xyz3` in another script (test maybe), you might have to assign the variable using `var xyz3 = pm.globals.get('xyz3');`. I don't see any issue with this script.

Also, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

Issue Guidelines: https://github.com/postmanlab

[2019-05-15 20:31] #6514 closed, assigned to nobody

[2019-05-15 20:47] JP-from-Postman opened #6515 "Web Dashboard: Unable to publish Collection, 'Something went wrong'"
[Reported by Postman Support, on behalf of original user]

**Describe the bug**
When clicking Publish on the private documentation view for any Collection, the web dashboard shows the loading spinner, but never loads and the Collection is not published. Browser console shows a status 403 error, "...something went wrong", but this is never displayed on the actual page.

User has already attempted t

[2019-05-15 21:00] mubashir3gca opened #6516 "Post method does not maintain uploaded file if changing any other parameter of API"
**Describe the bug**
I am using post request in postman. I am providing a text file as file input parameter in api parameter and there are other parameters as well but those are simple text input parameters.
In case, I am providing all parameters and sends the request and if api request gets failed due to input field validations of text input parameters. In such situation, when updating/modifying

[2019-05-16 00:26] a85 commented on #6374
@JP-from-Postman Is it possible to duplicate or export the collection and give people new access?

[2019-05-16 00:27] a85 commented on #6105
@dmboucher We were in the midst of a big release. Sorry about the delay on this. The team is looking into it. We need to figure out through service logs why this is not working for you.

[2019-05-16 01:56] Raj-postman opened #6517 "Issue with Keyboard shortcut - Switch tab"
**Describe the bug**
Unable to switch between tabs using shortcut keys

**To Reproduce**
Steps to reproduce the behavior:
1. Try switching tabs
2. Switch To Next Tab -  Ctrl+Shift+] or ⇧ ⌘ ]
    Switch To Previous Tab - Ctrl+Shift+[ or ⇧ ⌘ [

**Expected behavior**
To be able to switch between tabs

**App information (please complete the following information):**
 - App Type - Native App
 - Postman

[2019-05-16 02:10] numaanashraf commented on #4859
Fixed in Postman v7.0

[2019-05-16 02:10] #4859 closed, assigned to numaanashraf

[2019-05-16 03:13] dhineshwiz commented on #6496
Fix for removing extraneous path in the custom domains is deployed

[2019-05-16 03:13] #6496 closed, assigned to godfrzero

[2019-05-16 03:18] saswatds commented on #4320
Hi @Exodus, we have fixed if for both form data and binary body type 😃. Do test it out!

[2019-05-16 03:31] saswatds commented on #6516
Hi @mubashir3gca,
Recently we have made some changes to ensure that we can persist file references along with collection. I have given a more detailed explanation of the behaviour in this issue https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-490749103

Having said that, I need some more information from you regarding this issue.

1. Can you check your postman console an

[2019-05-16 05:07] mubashir3gca commented on #6516
Hi @saswatds,
1. It is showing "Form param `file`, file load error: PPERM: insecure file access outside working directory" in postman console.

![postman console](https://user-images.githubusercontent.com/32706486/57827755-161ef880-77c2-11e9-8890-186d40f45542.png)

2. Form data file was selected from my computer but i am sending that request to other server and not on the same computer from where

[2019-05-16 06:07] saswatds commented on #6516
Hi @mubashir3gca, Thanks for the input.
Prior to v7.1.0 postman did not sync file paths across different app. The current behaviour is as follows
1. If a file is selected inside of the working directory we save the relative path to file
2. If a file is selected outside of the working directory we save the absolute path to the file.

By default postman does not trust absolute paths. You can already

[2019-05-16 06:29] vkaegis commented on #6509
@IvanDyankovYoti Thanks for writing in. This was unfortunately an intended side effect of us introducing custom methods, which meant we had to truncate methods over a particular character limit (4). We can probably increase this limit to 5, but this doesn't ensure correct representations for all methods. Will keep you updated.

[2019-05-16 06:39] prashantagarwal opened #6518 "Template got deleted after receiving an error while importing it."
**Describe the bug**
Template got deleted after receiving an error while importing it.e
API errors out with the following error message "This template has been deleted because public documentation no longer exists." and after this, the template got deleted.

Both collection and published documentation exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose a template to import
2. Try t

[2019-05-16 08:13] localbubble commented on #5426
@abhijitkane can you please allow it to be imported as a variable as well?
Because when imported schema as {{host}} for example, the variable is ignored and it's set to HTTP by default.

This is pretty frustrating since it is the collection level and affecting all endpoints.
Because it is not parameterized, each request needs modification before making an actual call, when you are working with two

[2019-05-16 08:38] abhijitkane commented on #5426
@emre-yildirim Yep - that's what we're doing in the OpenAPI converter. The scheme gets added as a collection variable, which only requires you to make one change to switch b/w http and https.

[2019-05-16 08:40] abhijitkane commented on #5426
@emre-yildirim Yep - that's what we're doing with the OpenAPI importer. The scheme is added as a collection-level variable, and you only need to make one change to switch b/w http and https.

[2019-05-16 09:34] kartikjain26 commented on #6105
@dmboucher Can you also just try one more step -> while creating a new repo, could you initialise the repository with a Readme.md by checking this box in screenshot and then configure a new integration on it.

![Screenshot 2019-05-16 at 3 03 11 PM](https://user-images.githubusercontent.com/26088676/57843406-da992400-77eb-11e9-86ea-355a9ae659b0.png)

[2019-05-16 09:35] a85 commented on #3117
Yes. Still early and we'll be refining it but you can find docs here: https://learning.getpostman.com/docs/postman/design_and_develop_apis/introduction_to_apis/

[2019-05-16 09:40] sankalp0o commented on #6513
@JP-from-Postman How would freezing help in recovering personal data from the compromised account?

[2019-05-16 09:42] localbubble commented on #5426
Perfect! Thanks for the clarification :)

[2019-05-16 09:45] sankalp0o commented on #6410
Closing this a duplicate of #4365

[2019-05-16 09:45] #6410 closed, assigned to sankalp0o, Raja-Simha

[2019-05-16 09:45] #4759 closed, assigned to nobody

[2019-05-16 09:57] sankalp0o commented on #6435
@loopDelicious This happens because we allow users to name the template separately from the collection name. This allows users to have a name their collections however they want without affecting the template.

I agree that this might confuse consumers when they see a different name after they import the template.

[2019-05-16 10:03] Ramya-From-Postman opened #6519 "Incorrect user count"
**Describe the bug**
I have a postman team with the team size equal to 5 and had 3 active users. However, upon deleting a user from the team it shows (4/5) users instead of (2/5) users on the team page.

**Note**: Refreshing the page fixes the problem.

**To Reproduce**
1. Go to http://go.postman.co/team/
2. Delete a user
3. See the incorrect count

**Expected behavior**
The system should show an

[2019-05-16 10:21] sujayvenaik commented on #6505
@doverby0122
Can you send us the screenshots from
1. view -> Developer -> Show DevTolls (Shared)
2. view -> Developer -> Show DevTolls (Current View)
as soon as you try to switch to that workspace.

Also just wanted to confirm one thing, the crash happens on the complete and becomes in the unusable state, right?

[2019-05-16 10:25] lokendraujjwal commented on #6443
[main.log](https://github.com/postmanlabs/postman-app-support/files/3186605/main.log)

[renderer-console.log](https://github.com/postmanlabs/postman-app-support/files/3186607/renderer-console.log)

[renderer-runner.log](https://github.com/postmanlabs/postman-app-support/files/3186609/renderer-runner.log)

[2019-05-16 10:27] lokendraujjwal commented on #6443
[pluginHost.log](https://github.com/postmanlabs/postman-app-support/files/3186617/pluginHost.log)

[2019-05-16 10:28] lokendraujjwal commented on #6443
[renderer-requester.log](https://github.com/postmanlabs/postman-app-support/files/3186622/renderer-requester.log)
[renderer-shared.log](https://github.com/postmanlabs/postman-app-support/files/3186624/renderer-shared.log)
[renderer-shell.log](https://github.com/postmanlabs/postman-app-support/files/3186625/renderer-shell.log)

[2019-05-16 10:29] lokendraujjwal commented on #6443
I have added all the file .. hope these may help to reproduce the same issue.

[2019-05-16 10:54] SLE-TheRealOne commented on #4594
Same problem with
* Postman 7.1.0
* Windows 7 Entreprise (6.1.7601)
* Core i5-6440HQ
* Intel HD Graphics 530

Solved the issue by using
`POSTMAN_DISABLE_GPU=true`

[2019-05-16 11:04] kamalaknn opened #6520 "Collections transferred to a different user are still referenced by workspaces"
**Describe the bug**
When a collection gets transferred from one user to a different user the old collection id is still referenced in all the existing workspaces. This causes the app to try syncing these deleted collections and fail.

[2019-05-16 11:08] kamalaknn commented on #6413
Hi @garrucho

First, I have removed the screenshots you had attached since it contained your user information and this is a forum is publicly visible.

We investigated the cause of your issue and we found that the one of the collection in your workspaces got transferred to different user but the workspace was still pointing to the old reference ids. I have created [this issue](https://github.com/p

[2019-05-16 11:45] a85 commented on #2902
Closing as this as Postman has deprecated Chrome apps and there is better support for shortcuts in the native apps.

[2019-05-16 11:45] #2902 closed, assigned to numaanashraf

[2019-05-16 12:09] kartikjain26 commented on #6519
@Ramya-From-Postman  fix is under review

[2019-05-16 12:35] sujayvenaik commented on #6448
Hey @markusthegeek
The collections you sent, I tried replicating the issue by following the screencast that you had sent.
But could not reproduce. Might be that the collection got malformed.

[2019-05-16 12:46] dmboucher commented on #6105
That is how I initialized this repo. That's part of our process for all new
repo's. Do you want me to do that again?

On Thu, May 16, 2019, 4:35 AM Kartik Jain <notifications@github.com> wrote:

[2019-05-16 13:27] vikiCoder commented on #5492
Hi @juewuer

I am unable to reproduce this issue in the latest version(v7.1.0) of postman desktop app. I created local echo server and checked content-length header received in the server when only 2 of 3 x-www-form-urlencoded params are selected. Below is the screenshot of the same.

<img width="1124" alt="Screenshot 2019-05-16 at 6 46 54 PM" src="https://user-images.githubusercontent.com/1658803

[2019-05-16 13:39] rubenmelcon commented on #6516
Hi @saswatds

I had the same issue and I tested your second solution but it doesn't seems to work. In my case, I'm executing a multipart upload with two files, but the tool only sends the last updated parameter.

![image](https://user-images.githubusercontent.com/16529900/57857768-12a26600-77f0-11e9-8262-e4220f28db47.png)

If I update the var1, Postman will send the file "file.json" but not var2.

[2019-05-16 13:47] mths0x5f commented on #2452
I have a dream that someday this will come to Postman, exactly how is done in Insomnia

[2019-05-16 14:10] saswatds commented on #6516
Hi @rubenmelcon, this is not supposed to happen.

The internal tests I have setup is able to send both the file properties.  This is the step by step detail of how I have done to replicate it and would request you to attempt it as well so that we are on the same page.
1. Created 2 file called `file1.txt` and `file2.txt` and seeded some random string to both file
2. Created a POST request to `https

[2019-05-16 14:11] dhineshwiz commented on #6090
A fix for this is deployed from our end

[2019-05-16 14:11] #6090 closed, assigned to dhineshwiz, Raja-Simha

[2019-05-16 14:17] cyrielle-hada opened #6521 "Native app - Black screen on Windows after updating to v7.1.0"
**Describe the bug**
Black screen of the content frame after updating the app to v7.1.0 Postman on Windows 10.
The menu bar is still available and responsive.
The view and controls in the main view are blocked from interacting.

**View of the app when launched**
![before](https://user-images.githubusercontent.com/47351631/57861487-fbb34200-77f6-11e9-85cb-913608be8497.png)

**15-30 seconds after th

[2019-05-16 14:18] dhineshwiz commented on #6343
hey @loopDelicious thanks for reporting this, we will fix it soon

[2019-05-16 14:27] schepil commented on #2617
Hi,
Imported successfully, but the body is still missing in collection ;(

[2019-05-16 14:28] DannyDainton opened #6522 "Settings - Working Directory information link is incorrect"
**Describe the bug**

A new section was added to the app setting which displays the location of the working directory - This section has a link out to an external page on the Learning Center.

This link is currently going to the `Requests` section:
https://learning.getpostman.com/docs/postman/sending_api_requests/requests

There doesn't appear to be anything in this section that references the `Wo

[2019-05-16 14:36] rubenmelcon commented on #6516
Hi @saswatds:

I just tested with the same URL that you used:

In my first case, I copied my original request and updated the datasource parameter to clean some information and the response was:

![image](https://user-images.githubusercontent.com/16529900/57861493-feae3280-77f6-11e9-80e2-66ec420b2add.png)

As you can see I don't have any of the files.

After that, I updated the var1 variable, and

[2019-05-16 14:41] dhineshwiz commented on #5703
Hey @sijiton I couldn't reproduce this issue, as for i checked, it was copying the entire content.
Can u recheck once, and let us know

[2019-05-16 14:45] saswatds commented on #6516
@rubenmelcon Thanks for the input. We are really sorry this is happening. I will try to find the root cause of this problem in high priority and keep this thread updated with my findings

Thanks

[2019-05-16 15:30] Blond11516 commented on #4849
I'm also facing similar issues with Postman 7.1.0 on Windows 10 Pro.

Scrolling boxes are out of place, but the problem only hapens when I drag the app window from one screen to the other. Basically, whichever screen the app was opened on works fine, but as soon as I drag the window to the other screen I start having problems.

I've attached my DxDiag file.

[DxDiag.txt](https://github.com/postman

[2019-05-16 15:34] JP-from-Postman commented on #6374
@a85 yep, at least one of the users who reported this ended up using that workaround successfully.

[2019-05-16 16:00] dkonyayev opened #6523 "Content-type"
**Describe the bug**
With Postmanruntime/7.13.0 I started to have issue with content-type. My body is raw and content-type selected is JSON (application/json). However, postman is inserting another content-type header with value "text/plain", and that is what passed in request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create POST request with JSON body and select JSON (application/jso

[2019-05-16 16:12] doverby0122 commented on #6505
@sujayvenaik Here are the screenshots from the above instructions, when I try to switch to the work space.

1. ![Show Dev Tools Dev-Shared](https://user-images.githubusercontent.com/47822082/57869650-7d917400-77d3-11e9-8791-f89ace9d708d.png)

2. ![Show Dev Tools Dev-Current](https://user-images.githubusercontent.com/47822082/57869651-7d917400-77d3-11e9-9c9c-f2085b6caaad.png)

And yes, the crash ha

[2019-05-16 16:14] sujayvenaik commented on #6505
@doverby0122 The dev tools that you have opened can we have screenshots by switching to the console tab.

[2019-05-16 16:17] doverby0122 commented on #6505
@sujayvenaik Sorry, new user here. So, screenshots of the same thing after I select "View" ->"Show Postman Console", correct?

[2019-05-16 16:20] loopDelicious commented on #6435
Another use case to consider @sankalp0o: importing an API Network collection and environment

This happened to me during a demo. I saw the confirmation toast that the imports were successful. This message includes the name of the collection and environment. However, I missed reading them before they faded away.

In this case, the name of both the coll and env were different from each other, and ne

[2019-05-16 16:22] sujayvenaik commented on #6505
No. Can you check the gif below? Its dev tools -> console. Can we have the screenshots for those.
![devTools](https://user-images.githubusercontent.com/11532114/57870504-d806f080-7824-11e9-8a8e-21a58524bb56.gif)

[2019-05-16 16:25] jwebster45206 commented on #1070
Please implement this!

[2019-05-16 16:33] sujayvenaik commented on #6505
@doverby0122 ^

[2019-05-16 16:49] markusthegeek commented on #6448
@sujayvenaik, I used the very same collections in my screen recording so the malforming happened after the bug hit ;-) I did notice that my Postman Helper used like 110% CPU and that when clicking the Sync button in the header nothing happened for like 5 seconds. So maybe you can disconnect yourself from the server or throttle your network connection to slow down your system? Or open like 50 Chrom

[2019-05-16 16:49] filfreire opened #6524 "Irrelevant collection search results after 7.1.0 native app update"
**Describe the bug**
Search feature in postman app,  that is on top of "History/Collections" tab seems broken in terms of search results after `Version 7.1.0 (7.1.0)` update.

Previously when I started searching for a request name across collections - it filtered out the requests that strongly matched the search term I used. Now it's displaying completely unrelated requests.

**Screenshots**
<img

[2019-05-16 16:50] filfreire commented on #6524
/cc @numaanashraf @abhijitkane @priyalviroja

[2019-05-16 16:54] codenirvana commented on #5492
Closing this issue as we can’t replicate this and we haven’t seen other users facing similar issues.

[2019-05-16 16:54] #5492 closed, assigned to vikiCoder

[2019-05-16 16:59] doverby0122 commented on #6505
Right - here are the below @sujayvenaik
![Show Dev Tools Console Shared](https://user-images.githubusercontent.com/47822082/57872685-38247500-77da-11e9-81d7-9a9ff405dca3.png)
![Show Dev Tools-Console Current](https://user-images.githubusercontent.com/47822082/57872688-38247500-77da-11e9-95a4-faa5767183fd.png)

[2019-05-16 17:01] doverby0122 commented on #6505
@sujayvenaik So also one thing to note that upon restarting the app I was force updated to 7.1.0.

So one thing to note: I can now switch to the group within. However, the only thing that NOW crashes is when I toggle the 'Collections' tab.

[2019-05-16 17:06] sujayvenaik commented on #6505
Hey @doverby0122
Can you do a screen recording of the issue you are facing with the new v7.1.0 app and send? Also, keep the postman window and the dev tools console open side by side so we can trace your actions and get the error message.

Do scroll the complete dev tools console if it is not fitting in one frame so we can see all logs from top to bottom.

[2019-05-16 17:11] dkonyayev commented on #6523
I want to add that this started very recently. It has worked properly as recently as 5/10

[2019-05-16 17:28] saswatds commented on #6516
@rubenmelcon I would require one more key insight from you. When you selected the second file and the first file was not sent, are you seeing any errors in the postman console like the one I had shown in the above comment https://github.com/postmanlabs/postman-app-support/issues/6516#issuecomment-492903114 ?

[2019-05-16 17:41] doverby0122 commented on #6505
@sujayvenaik I have it, but the file is large and I'm hitting a 10MB file size limit. Is there a way I can get this to you another way?

[2019-05-16 17:41] davingreen commented on #2086
+1 Body as default or config to set as default

[2019-05-16 17:42] sujayvenaik commented on #6505
@doverby0122 You can zip and mail it at help@getpostman.com

[2019-05-16 17:44] doverby0122 commented on #6505
@sujayvenaik  Done.

[2019-05-16 17:55] saswatds commented on #4320
Hello everyone, we have released v7.1.0 of our production app which has this fixed.
I will be closing this issue now. If you are facing any other problem with form-data or binary body, feel free to open up a new issue.

Thanks.

[2019-05-16 17:55] #4320 closed, assigned to saswatds

[2019-05-16 17:58] rubenmelcon commented on #6516
Hi @saswatds

I'm not at the office, but I can replicate the same problem from another computer. And "yes", from my (new) current installation when I try to replicate this issue I can see the error message in the console. Sorry to not  give you before this information. Let me put here all the steps and information.

The first request has only the parameter with the file:

![imagen](https://user-im

[2019-05-16 18:22] doverby0122 commented on #6505
@sujayvenaik Actually, maybe not, sorry. I'm trying e-mail and getting kicked back because of a file size limit on our end. Can I share via OneDrive with the same e-mail address as above?

[2019-05-16 18:26] preethammavin commented on #6505
@doverby0122 yes please, send the link to help@getpostman.com.

[2019-05-16 18:35] doverby0122 commented on #6505
@preethammavin Sent - and this link: https://ingramcontent-my.sharepoint.com/:u:/p/dustin_overby/EUDW6tBWUbpEjB1bYrc8GyEBHf3CjxTZxqxCzMmdIrmoMA

Should have it, if you miss the e-mail.

[2019-05-16 18:43] sl4m opened #6525 "Postman v7.1.0 crashes when running collection via Runner (1k+ requests)"
Crash log: https://gist.github.com/sl4m/451b4b9d0def197bf3bc576ada8594f1

v7.0.9 does not show this symptom

[2019-05-16 18:45] preethammavin commented on #6505
@doverby0122 I am unable to open it, would you give access to help@getpostman.com.

[2019-05-16 18:51] doverby0122 commented on #6505
@preethammavin I did give access, here let me try another way...

Try this link: https://ingramcontent-my.sharepoint.com/:f:/p/dustin_overby/Etl7b3ayXEhFuykunYvZuSsBYopTGa3iQoUmWpyt4ZgE2Q

This should open a folder and you should see the attachment.

[2019-05-16 19:02] austin-plixer commented on #2086
I keep updating hoping to see this feature added..

[2019-05-16 19:16] preethammavin commented on #6505
@doverby0122 sorry to re request again, can you give access to preetham@getpostman.com? I am unable to fetch the code required to verify the access.

[2019-05-16 19:27] codenirvana commented on #4842
We've added support for this in the latest Postman App (v7.1.0) 🎉

To access `pm.sendRequest` cookies:
[code]

The third argument in `pm.sendRequest` callback is an object which currently has a single property `cookies` of type [CookieList](https://www.postmanlabs.com/postman-collection/CookieList.html). We are planning to add more low-level request information in this object soon.

[2019-05-16 19:27] #4842 closed, assigned to codenirvana

[2019-05-16 19:27] doverby0122 commented on #6505
@preethammavin Sent over again to that e-mail

[2019-05-16 19:29] codenirvana commented on #2458
We've added support for this in the latest Postman App (v7.1.0).

[2019-05-16 19:29] #2458 closed, assigned to codenirvana

[2019-05-16 19:33] codenirvana commented on #3281
Fixed in the latest Postman App (v7.1.0).

[2019-05-16 19:33] #3281 closed, assigned to codenirvana

[2019-05-16 19:42] codenirvana commented on #5860
This is fixed in the latest Postman App (v7.1.0).

[2019-05-16 19:42] #5860 closed, assigned to vikiCoder

[2019-05-16 19:44] codenirvana commented on #5753
This is fixed in the latest Postman App (v7.1.0).

[2019-05-16 19:44] #5753 closed, assigned to codenirvana

[2019-05-16 19:48] codenirvana commented on #6021
@masterchop We've added support for this in the latest Postman App (v7.1.0).
Cookies set in `pm.sendRequest` will be stored automatically.

[2019-05-16 19:48] #6021 closed, assigned to codenirvana

[2019-05-16 20:02] preethammavin commented on #6505
@doverby0122 got it thanks

[2019-05-16 20:05] malwageddon commented on #6523
Same issue on Ubuntu after upgrading to Postman v7.1.0. Did not have that issue on the previous version.

[2019-05-16 20:18] chrisj-ifs opened #6526 "Monitor fails but collection runner does not"
**Description**
I'm seeing an issue where some of my daily monitors are failing with:
**Error: Parse Error
9 | 16:04:38 | JSONError: Unexpected token u in JSON at position 0**
If I run this same exact collection in Newman or Collection Runner the complete collections passes without error.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule Daily Monitors

**Expected behavior**
Monitors

[2019-05-16 20:20] saswatds commented on #6516
Thanks a lot @rubenmelcon 🎉
I have been able to reproduce the issue internally. You are right the issue is with the extra `/` being added in front of every absolute path in windows os. The request shows only one file because of the runtime not being able to load the file.
We have already applied the patch with additional tests for windows to our builds, and it should be out within a few days.

[2019-05-16 20:29] codenirvana commented on #6523
@dkonyayev @malwageddon Can you confirm that the requesting server receives multiple `content-type` headers or is it always getting replaced by`text/plain`?

One way to check this:
1. Select the `POST` method
2. Request `https://postman-echo.com/post`
3. Set body and `Content-Type` (say, `application/json`)
4. Check what's the `Content-Type` received in the response
5. Check if an extra header has

[2019-05-16 20:37] dkonyayev commented on #6523
So what I created 2 identical requests. In my current collection there is an automatic header added for Content-Type = "text/plain". HOwever, I duplicated this request to a brand new collection and I don't have that issue there. It correctly sends application/json content-type.

[2019-05-16 20:47] codenirvana commented on #6523
@dkonyayev For `raw` and `binary` mode if no `Content-Type` is set then it defaults to `text/plain`.
Are you still facing this issue with every newly created request or particular to your already saved requests in your collection?

[2019-05-16 21:03] shawn98ag commented on #4295
I have encountered a similar problem. I am trying to log into two different APIs:
[code]
See these documentations for reference:
http://docs.ruckuswireless.com/vscg-carrier/vszh-public-api-reference-guide-3-2.html
http://docs.ruckuswireless.com/smartzone/3.6/vsze-public-api-reference-guide-3-6.html

They both return a cookie with the same name but different paths:
[code]

I have a postman test tha

[2019-05-16 21:06] samsonyuwono opened #6527 "Unable to open new tab with short or by clicking on plus sign"
**Describe the bug**
Using the shortcut for new tab 'Cmd + T' or clicking on the plus sign for a new tab doesn't work. This renders Postman unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman app
2. Click on plus sign to open new tab or 'Cmd + T'

**Expected behavior**
A new tab is supposed to open up

**Screenshots**
http://www.giphy.com/gifs/MeD9gY99W2km0G2jBJ

**App in

[2019-05-16 21:06] filfreire commented on #6524
Btw, similar behaviour seems to be happening also in latest canary version I downloaded - `7.1.1-canary02`

/cc @numaanashraf @abhijitkane @priyalviroja

[2019-05-16 21:20] mcandre opened #6528 "Treat [ ... ] as JSON content"
Some REST services return raw JSON arrays (`[ ... ]`) rather than wrapping arrays in a standard JSON object (`{ "derp": [ ... ] }`). This leads to the `Auto` response format setting in Postman failing to render/prettyprint the response.

Fortunately, an explicit `JSON` setting has no trouble parsing this data and pretty printing it. So it's not the Postman JSON parser so much as the format identif

[2019-05-16 21:23] todd-barnes opened #6529 "Get current postman user name"
I need to get, while running a `tests` script,  the current logged in Postman `user name` (or email address) in order to populate a variable used in the shared collection. We have collections that are Manually run, and run via Monitors. We would like to capture the 'username'  so it will be displayed/dumped to Slack (via POST) with a Webhook.

[2019-05-16 21:25] chrisdeso commented on #6526
@chrisj-ifs The error appears to indicate that an unexpected response body is being returned. Would you add the snippet below to your request to see if any useful information is logged?

`console.log(JSON.stringify(responseBody, null, 2));`

Depending on how/if you're leveraging variables for the collection, the difference in behaviors may be expected. Before I make too many assumptions, are you l

[2019-05-16 21:26] guillegr123 commented on #2260
@MelleKoning at the bottom of the page are the links. These are for the latest v6:
* https://go.pstmn.io/dl-macos64-v6-latest
* https://go.pstmn.io/dl-win64-v6-latest
* https://go.pstmn.io/dl-win32-v6-latest
* https://go.pstmn.io/dl-linux64-v6-latest
* https://go.pstmn.io/dl-linux32-v6-latest

[2019-05-16 21:35] zrosenbauer commented on #6526
We seem to be having this issue also.

[2019-05-16 21:36] zrosenbauer commented on #6526
Actually, this looks slightly different. Will open new issue.

[2019-05-16 21:59] Enchiridion commented on #4117
+1

[2019-05-16 22:14] JP-from-Postman opened #6530 "Custom domain: document URL returns status 500, can't publish anything else to it"
**Describe the bug**
User receives the following error when attempting to publish to a custom domain:

`Someone else on your team has already published a documentation with this domain. Ask them to un-publish their documentation before publishing yours.`

There is currently a Collection published to the custom domain, but attempting to access it by direct URL returns a status 500 error. Collection

[2019-05-16 22:14] darrylhopkins commented on #1070
Please implement!

[2019-05-16 23:15] eness commented on #1667
glad to hear this feature is being integrated to desktop apps! would love to see it soon!

[2019-05-16 23:33] JP-from-Postman opened #6531 "Monitor silently failing: run finished without results"
[Reported by Postman Support, on behalf of user]

**Describe the bug**
User reports that all team monitors started silently failing about 30 days ago. Test results in dashboard shows only: "This run finished without results; check the console log for details."

Console log shows only (note start and end timestamps are identical):
<img width="597" alt="Screen Shot 2019-05-16 at 4 29 29 PM" src="htt

[2019-05-17 00:04] JP-from-Postman commented on #6513
@sankalp0o Good point: this would not (on its own) enable personal content to recovered. This would really need to be paired with some ability for a team administrator to manage user accounts to be fully effective.

[2019-05-17 01:58] numaanashraf commented on #6502
@xzyk The preview section has its own scrolling - could you check whether you can scroll within the preview? It seems like the preview scroll is auto-hiding.

[2019-05-17 02:04] numaanashraf commented on #6378
We've fixed this in Postman v7.1.0

[2019-05-17 02:04] #6378 closed, assigned to nobody

[2019-05-17 02:05] numaanashraf commented on #6446
Crash on delete history group issue is fixed in Postman v7.1.0 (#6378). Keeping this issue open to track issue with capturing requests.

[2019-05-17 02:10] xzyk commented on #6502
@numaanashraf Thank you very much for your answer!
Where can I see if auto-hide is turned off?
I can scroll here, but I can only scroll a little bit and the data is not fully displayed.
Drawings:
![image](https://user-images.githubusercontent.com/29298677/57898470-c73d9580-788b-11e9-8c44-ba276d55989e.png)
![image](https://user-images.githubusercontent.com/29298677/57898504-f6ec9d80-788b-11e9-803f-

[2019-05-17 02:10] numaanashraf commented on #5074
Fixed in Postman v7.1.0

[2019-05-17 02:10] #5074 closed, assigned to nobody

[2019-05-17 02:11] numaanashraf commented on #5524
We've included a fix for this issue in Postman v7.1.0.

[2019-05-17 02:11] #5524 closed, assigned to nobody

[2019-05-17 02:12] numaanashraf commented on #4840
Fixed in Postman v7.1.0

[2019-05-17 02:12] #4840 closed, assigned to numaanashraf

[2019-05-17 02:14] numaanashraf commented on #5545
Fixed in Postman v7.1.0

[2019-05-17 02:14] #5545 closed, assigned to vkaegis, Raja-Simha

[2019-05-17 02:15] numaanashraf commented on #5226
We've fixed this in Postman v7.1.0

[2019-05-17 02:15] #5226 closed, assigned to nobody

[2019-05-17 02:17] numaanashraf commented on #5613
We've included a fix for this issue in Postman v7.1.0

[2019-05-17 02:17] #5613 closed, assigned to nobody

[2019-05-17 02:17] numaanashraf commented on #5245
Fixed in Postman v7.1.0

[2019-05-17 02:17] #5245 closed, assigned to nobody

[2019-05-17 02:18] numaanashraf commented on #6063
Fixed in Postman v7.1.0

[2019-05-17 02:18] #6063 closed, assigned to nobody

[2019-05-17 02:20] numaanashraf commented on #5558
We've included a fix for this issue in Postman v7.1.0. Do let us know if you are still facing this issue after updating to v7.1.0. Closing this issue for now.

[2019-05-17 02:20] #5558 closed, assigned to nobody

[2019-05-17 02:22] numaanashraf commented on #6362
The fix is available in Postman v7.1.0.

[2019-05-17 02:23] #6362 closed, assigned to harryi3t

[2019-05-17 02:26] dssocool commented on #3884
same here, a zip package will be greatly appreciated.

[2019-05-17 02:28] numaanashraf commented on #6502
@xzyk The scroll you had highlighted in the previous screenshot is the scroll-bar for the entire tab. The preview section has its own scrolling. Could you try scrolling via your trackpad/mouse-wheel _within_ the preview section? The auto-hide behavior is decided by your OS settings, and at the moment, there is no way to toggle this on/off within the Postman app.

[2019-05-17 02:57] xzyk commented on #6502
@numaanashraf
![image](https://user-images.githubusercontent.com/29298677/57900050-f48d4200-7891-11e9-85bd-bb93299ce881.png)
![image](https://user-images.githubusercontent.com/29298677/57900066-0373f480-7892-11e9-85b6-0c266656fdea.png)
Thank you for your answer!
as the picture shows:
My Pretty page does have its own scrollbar, but my Preview page doesn't have its own scrollbar. What is the reason

[2019-05-17 03:09] kamalaknn commented on #6527
Hey @samsonyuwono

Can you write to us at `help@getpostman.com` with screenshots of any errors from `View -> Developer -> Show DevTools (Current View)` and log files from `View -> Developer -> View logs in Finder`?

We will investigate further.

Can you try opening a new window and see if that helps?

[2019-05-17 03:15] brendon-stephens commented on #4320
@saswatds does this new change support the ability to have a dynamic src path through variables set in the pre-request script?

[2019-05-17 03:18] numaanashraf commented on #6502
@xzyk Could you send us a screenshot of the "About" tab in settings?

[2019-05-17 03:35] xzyk commented on #6502
@numaanashraf
Hello, as shown
![image](https://user-images.githubusercontent.com/29298677/57901467-e8a47e80-7897-11e9-91e6-abe53883d9fa.png)

[2019-05-17 03:43] xzyk commented on #6502
https://github.com/postmanlabs/postman-app-support/issues/6502#issuecomment-493304260

[2019-05-17 03:45] xzyk commented on #6502
I accidentally closed it.

[2019-05-17 04:47] Raja-Simha commented on #6376
We haven't been able to reproduce this issue and haven't received any additional information. I am closing this issue. @datazen, please reopen with further information if the issue still persists.

[2019-05-17 04:47] #6376 closed, assigned to dhineshwiz, Raja-Simha

[2019-05-17 05:21] kamalaknn commented on #6505
@doverby0122 Thanks for sending us the information.

We were able to pinpoint the root cause of this issue. We will keep this thread updated on the status of the fix.

In the meantime, you mentioned that since 7.1.0 you were able to switch to the workspace but not switch to the collections tab. I'm hoping that unblocks your major workflow. Please let us know if that helps to continue working till

[2019-05-17 05:54] numaanashraf commented on #6502
@xzyk Looks like you are using Postman for Chrome, which has been deprecated since 2017 - https://blog.getpostman.com/2017/11/01/goodbye-postman-chrome-app/

Could you try whether you are facing similar issues with our Desktop Apps? https://www.getpostman.com/downloads/

[2019-05-17 06:07] xzyk commented on #6502
@numaanashraf
 Yes, I have been using this!
Because Interceptor feature is supported only in our Postman Chrome Apps and is not available in Postman Desktop Apps at the moment。
[https://learning.getpostman.com/docs/postman/sending_api_requests/interceptor_extension/](url)

Desktop Apps
This problem does not occur in Desktop Apps, the data display is correct and complete.

[2019-05-17 06:49] mubashir3gca commented on #6516
Hi @saswatds,

I have tried the first method suggested by you. I have placed the specific file in the working-directory path and it worked fine for me.

I have also tried the second method suggested by you. I have turned on the setting "Allow reading files outside working directory" and then I submitted request. It is giving error in console in case I have updated any other API parameter value.

T

[2019-05-17 07:00] saswatds commented on #6525
Hi @sl4m thanks for reporting this issue
Can you provide a little bit more information on how this happened?
1. Does the app crash on the selection screen or during the running of the collection
2. Does it crash on a particular request or just randomly on any request?
3. Was this happening on the app prior to 7.0.9?
4. Any other detail that could help us reproduce this issue?

[2019-05-17 07:44] Raj-postman opened #6532 "Issue using 'auth' to update collection"
**Describe the bug**
 While 'auth' is used instead of 'Auth' to update the collection, receives an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Use 'auth' inside the tests to run collection
2. Error: malformedRequestError

**Expected behavior**
To be able to receive the same response when 'Auth' is used i.e ignoring the case sensitivite

**Screenshots**
![AuthIssue](https://user-im

[2019-05-17 07:49] jonavh opened #6533 "Postman crashes with specific URL"
**Describe the bug**
I was testing things with Postman, I did a POST, and it headers you get the URL where you need to do a GET from. I copied this, and Postman stops and closes.

Afterwards I noticed I copied too much and Postman crashes every time you do this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new request
2. Paste this: "Location →https://google.be" (without quotes ob

[2019-05-17 08:04] sujayvenaik commented on #6533
For reference:  main.log
![image](https://user-images.githubusercontent.com/11532114/57912655-7a1bec80-78a8-11e9-8106-a16d56155b09.png)

[2019-05-17 08:40] malwageddon commented on #6523
@codenirvana I have this issue when using POST to send 'form-data' to my API server. The way it used to work before is that under 'Body' tab I set the KEY type to 'File' and select a file to upload, click 'Send'.

After looking closely at what's happening now, i noticed that 'content-length' header does not have a value(not sure if it's expected behavior), see below:
![image](https://user-images.g

[2019-05-17 09:10] ghost opened #6534 "Unable to send files in postman post request"
When I select the image in postman form-data it is given warning as This file resides outside the working directory and no file is sent in the request

[2019-05-17 09:12] sivcan opened #6535 "Monitor name overflowing in collection browser"
**Describe the bug**
Monitor name overflowing in collection browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a monitor with a very long name
2. Open collection browser and change to 'Monitor' tab

**Expected behavior**
Text overflow should be fixed (replaced with an ellipsis)

**Screenshots**
![image](https://user-images.githubusercontent.com/12631777/57917278-fd8e0b80-78b1-11

[2019-05-17 09:20] saswatds commented on #6534
Hi @Yajan
Recently we have updated how file references work with postman. Can you give us more details according to our issues guidelines?

If you are on v7.1.0 of our app, you can check these to comments to understand how it works

- https://github.com/postmanlabs/postman-app-support/issues/6516#issuecomment-492930576
- https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-4