[2020-05-08 14:05] ks1977 commented on #7944
please give us the possibility to:
1) completely disable all kinds of automatic updating
2) choose the installation directory ourself!

Thanks a million!

[2020-05-08 14:52] botond-rostas commented on #4117
👍

[2020-05-08 15:05] Etnic commented on #8445
Hello,

thanks for the update. It is great news. Thanks a lot.

S pozdravom,

Martin Kubus

kontakt :  +421 911 160 385
                kubus.martin@gmail.com

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&u

[2020-05-08 15:19] zaraced commented on #8435
Thank you for your quick reaction on this. I'm closing this issue since I've just checked and it's fixed now. Sorry for late feedback.

[2020-05-08 15:19] #8435 closed, assigned to tristandenyer

[2020-05-08 15:30] sachisahu commented on #8451
I want to work on it Please assign me this.

[2020-05-08 15:43] SabriH10 commented on #7876
Hi @somyata,

If it's alright with you, considering the suggestions provided above and no response I assume this has been addressed.

If that isn't the case and you're still observing an issue don't hesitate to re-open this issue, and we'll be happy to assist further.

[2020-05-08 15:43] #7876 closed, assigned to ankit-m, kartikjain26, SabriH10

[2020-05-08 16:40] bagrip commented on #8449
@DannyDainton  Actually I tried this before, getting error and that is why I reported it. Screenshot attached

![image](https://user-images.githubusercontent.com/42482742/81427637-ec1bc000-910f-11ea-881a-ff21a0d899c2.png)

[2020-05-08 16:47] juscelior commented on #1744
+1

[2020-05-08 17:41] tarunmaini16 commented on #5014
I was facing same issue, while making XHL request and parsing json, solved this by adding 'Cache-Control', 'no-cache' in header

[2020-05-08 17:56] DannyDainton commented on #8449
Its more than likely the extra dot I added. 😬

`pm.expect(category[0].expression['foo-bar-expression'])`

This is only one part of the statement though - that would need additional information on the end to know _what_ to expect. For example `.to.be.a('string')`

Have you already stored the response using `pm.response.json()`?

[2020-05-08 18:04] arlemi commented on #8259
@ks1977 This one is tracked in #3897.

[2020-05-08 18:24] thejorro opened #8452 "Postman application GUI renders improperly in one monitor but not the other"
**Describe the bug**
Postman application GUI renders improperly in one monitor but not the other.

**To Reproduce**
Happens passively, between restarts and reinstallations.

**Expected behavior**
Postman application should not have rendering issues in either monitor.

**Screenshots**
Monitor 1 is the problem display.

Monitor 1:
![PostmanMonitor1](https://user-images.githubusercontent.com/59811974

[2020-05-08 18:29] gerstle opened #8453 "Add configuration option for default edit style - bulk or key/value"
**Describe the solution you'd like**
I love the `Bulk Edit` feature for editing query string parameters and headers. The main reason is cause it's just quicker and easier for us keyboard-oriented folk. Another reason is that I dislike the `Key/Value Edit` GUI because the description field always shortens the key and value columns to the point of them being unreadable.

My ask is to add a configura

[2020-05-08 18:31] numaanashraf commented on #8452
@thejorro Could you try out our early access 'Canary' channel - https://www.postman.com/downloads/canary and and let us know if you are facing the same issue in Canary build as well?

[2020-05-08 18:33] efrenette11 commented on #8451
I'm also not able to open the runner, nor the console ??? Tried to reinstall, same issue

[2020-05-08 18:33] bagrip commented on #8449
It working fine now, just removed dot as suggested
Thank you @DannyDainton

[2020-05-08 18:33] #8449 closed, assigned to nobody

[2020-05-08 18:39] OlegGlushko commented on #7370
Happens half the time, whole computer lags, only for me to find out "POSTMAN" decides to eat 100% of the CPU doing what exactly? Very annoying

[2020-05-08 18:47] numaanashraf commented on #7370
@OlegGlushko If you have all your data synced to your account, could you try signing out and in again and let us know if the CPU usage has come down?

We are currently working on a set of performance improvements that should improve Postman's resource usages across the board.

[2020-05-08 19:24] numaanashraf commented on #8451
Thanks for reporting this @efrenette11. We are tracking this at #6005 .

[2020-05-08 19:24] numaanashraf commented on #8451
Duplicate of #6005

[2020-05-08 19:24] #8451 closed, assigned to nobody

[2020-05-08 19:41] thejorro commented on #8452
Thanks @numaanashraf, looks it works as expected with the Canary version, no graphical issues present.

[2020-05-08 19:58] numaanashraf commented on #8452
Glad to hear that @thejorro. The same fix should land on our stable app soon.

[2020-05-08 20:09] SabriH10 commented on #7964
Hi @FaithFeather,

If it's alright with you, I'm going to go ahead and close this issue. If this issue still hasn't been addressed and your team are observing problems, please feel free to either re-open this issue or open a ticket via https://www.postman.com/support/, and we'll be happy to investigate further.

[2020-05-08 20:09] #7964 closed, assigned to SabriH10

[2020-05-08 21:03] dvgica opened #8454 "Collections only support one tagged version"
**Describe the bug**

The docs [here](https://learning.postman.com/docs/postman/design-and-develop-apis/versioning-an-api/) show that you can add new version tags to a collection. But it seems you can only have one tag. There is no option to "Add Version Tag", you have to remove the existing tag before creating a new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an API
1. Link

[2020-05-08 23:22] ChrisHacker opened #8455 "JSON POST request using app sends empty body"
**Describe the bug**
Setting Raw JSON for type in Body, putting valid JSON in the Body field, and sending. Endpoint receives request with right Content-Length and -Type but the Body is empty. Changing to Raw Text in Postman with the same body string generates a request that is received as expected. The cURL Code output by Postman for the two cases looks the same, other than the different Content-T

[2020-05-08 23:51] JP-from-Postman opened #8456 "Allow users to opt out of mailing list/newsletters from profile page"
**Is your feature request related to a problem? Please describe.**
Newsletters can only be unsubscribed from via the link in an actual newsletter.

Many services allow management of mailing preferences from an account settings page.

**Describe the solution you'd like**
Allow users to opt in/out of marketing emails from the web dashboard, such as the user profile page.

**Describe alternatives you

[2020-05-09 00:52] richbraman opened #8457 "Cannot convert Swagger 2.0 file"
**Describe the bug**
Cannot convert file
https://sandbox.dpc.cms.gov/api/swagger.json

**To Reproduce**
trying to convert schema to a collection
Try to convert in Postman and it says it cannot

**Expected behavior**
I expected it to convert

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does not contain any sensitive information such a

[2020-05-09 05:27] arlmath commented on #4555
I'm using postman chrome extension, facing issue when sending + it gets converted into space,
Is there any solution to force + sign in request parameter?

[2020-05-09 06:58] simoalex commented on #8413
Hey guys, thank you for this thread. The whole last week I'm searching exactly what Jay's talking about. Postman is a genius tool, but importing from OpenAPI with examples is hell because it imports only the first example and ignores others. In fact, you need to make all examples manually in Postman every time you export a new version of OpenAPI yaml/json-file and make a collection from it.

And t

[2020-05-09 10:23] umangbista2 opened #8458 "Background Internet data usage"
Each time I app my desktop Postman app on Mac, it download 150MB of data in the background, even though I have automatic updates turned off in the app preferences.
What data is it downloading?
Asking because for Cellphone Data users, it's a bit expensive process.

[2020-05-09 10:34] kamalaknn commented on #8458
Hey @umangbista2

Are you signed in with an account on Postman? If yes, are you part of a Team where other contributors work on the same workspace?

Also, it is worth noting that the app preference only disables major updates. Minor patches could be updated.

[2020-05-09 11:13] umangbista2 commented on #8458
I am logged in and working alone in project.  I partly was able to understand that it might be minor patches.
But my concern is, it is happening quite often like 1 out of 3 times.
TBH, it consumes 10% of my data plan. Quite annoying. :/

[2020-05-09 14:16] jessica-streem commented on #982
This would be extremely helpful for my company and I as well.

[2020-05-09 14:39] piyush2206 commented on #5194
+1

[2020-05-09 14:57] MukeshMM commented on #697
+1000000

[2020-05-09 15:11] karthiks3000 commented on #3438
I just finished creating my own tool to convert the collection to an html doc similar to what postman has -
https://github.com/karthiks3000/postman-doc-gen

hope this helps..

[2020-05-09 15:26] valdis-aglonietis commented on #1486
This is not a duplicate of #1104. That feature allows specification of content type for fields.
This feature allows automatic conversion from body form-data to raw json

[2020-05-09 17:34] teddis commented on #4401
Same problem today after upgrading from Chrome to native app on Mac Catalina 10.15.4. Syncing never ends, my collections never show up locally. :-(

[2020-05-09 17:43] kamalaknn commented on #4401
Hey @teddis Could you forward the logs from `View -> Developer -> View logs in Finder` to `help@postman.com` so we can take a closer look?

[2020-05-09 17:59] Kesantielu commented on #6723
7.24.0
It's the same issue, logs were sended to email.

[2020-05-09 18:10] kamalaknn commented on #7609
@grgakshay This should be addressed with #5903

[2020-05-09 18:10] #7609 closed, assigned to nobody

[2020-05-09 18:28] teddis commented on #4401
Hi Kamalakannan, I apologize, apparently the upgrade process did not
install the Postman native "app", and I was still using the Chrome app, but
all my collections disappeared in my local Chrome app. When I finally
realized and manually downloaded the latest app, it synced and my
collections appeared. This was a combination of user error and confusion by
Postman upgrade process.

Ted

From: Kamala

[2020-05-09 19:11] dresh commented on #4739
yes, can we get this please?

[2020-05-09 21:02] Mont4 commented on #3358
+1

[2020-05-09 21:12] bothyculture opened #8459 "Automatic theme based on the Windows theme"
I like the mac OS 'Auto Theme' where I get a light theme in daylight and dark theme in the evening.

I would also like it if all my apps on Windows followed the OS theme so I don't have to change them all myself. Please introduce and 'auto' theme that will respect my setting on Windows.

[2020-05-10 04:49] vikiCoder commented on #7700
Hi everyone,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token.

To use this feature, select `OAuth 2.0` under `Authorization` tab and open `Get New Access Token` dialog box. You'll see a new checkbox `Authorize using browser` when `Authorization code` or `Implicit` grant type is selected. Selecting this option wil

[2020-05-10 05:06] vikiCoder commented on #8059
Hi everyone,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token.

To use this feature, select `OAuth 2.0` under `Authorization` tab and open `Get New Access Token` dialog box. You'll see a new checkbox `Authorize using browser` when `Authorization code` or `Implicit` grant type is selected. Selecting this option wil

[2020-05-10 05:06] #8059 closed, assigned to vikiCoder

[2020-05-10 05:11] vikiCoder commented on #7896
Hi,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token. That should solve the problem. Check out [my comment](https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-626273229) on a [similar issue](https://github.com/postmanlabs/postman-app-support/issues/7700) for more details.

[2020-05-10 05:11] #7896 closed, assigned to vikiCoder

[2020-05-10 05:14] vikiCoder commented on #8051
Hi,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token. That should solve the problem. Check out [my comment](https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-626273229) on a [similar issue](https://github.com/postmanlabs/postman-app-support/issues/7700) for more details. Feel free to reop

[2020-05-10 05:14] #8051 closed, assigned to vikiCoder

[2020-05-10 05:18] vikiCoder commented on #7777
Hi,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token. That should solve the problem. Check out [my comment](https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-626273229) on a [similar issue](https://github.com/postmanlabs/postman-app-support/issues/7700) for more details. Feel free to reop

[2020-05-10 05:18] vikiCoder commented on #7763
Hi,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token. That should solve the problem. Check out [my comment](https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-626273229) on a [similar issue](https://github.com/postmanlabs/postman-app-support/issues/7700) for more details. Feel free to reop

[2020-05-10 05:19] vikiCoder commented on #7592
Hi everyone,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token.

To use this feature, select `OAuth 2.0` under `Authorization` tab and open `Get New Access Token` dialog box. You'll see a new checkbox `Authorize using browser` when `Authorization code` or `Implicit` grant type is selected. Selecting this option wil

[2020-05-10 05:19] #7592 closed, assigned to vikiCoder

[2020-05-10 05:27] vikiCoder commented on #5888
Hi,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token. That should solve the problem. Check out [my comment](https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-626273229) on a [similar issue](https://github.com/postmanlabs/postman-app-support/issues/7700) for more details. Feel free to reop

[2020-05-10 05:27] #5888 closed, assigned to nobody

[2020-05-10 05:36] vikiCoder commented on #7968
Hi,

This issue is fixed in the latest release of the Postman app (v7.24.0). Please update to the latest app and check it out. Feel free to reopen the issue if the problem still persists.

[2020-05-10 05:36] #7968 closed, assigned to vikiCoder

[2020-05-10 05:49] vikiCoder commented on #7952
Hi @vdespa,

This issue is fixed in the latest release of the Postman app (v7.24.0). Postman console now logs all intermediate requests from the popup window while generating new OAuth 2.0 token. These requests are shown in the console with a lock icon to make it easily identifiable. Please update to the latest version of the Postman app to check it out. Feel free to reopen the issue if the proble

[2020-05-10 05:49] #7952 closed, assigned to vikiCoder

[2020-05-10 05:52] vikiCoder commented on #7686
Hi @menglingxuan,

This issue is fixed in the latest release of the Postman app (v7.24.0). Please update to the latest version to check it out.

[2020-05-10 05:54] vikiCoder commented on #8374
Hi @mnalsup,

This issue is fixed in the latest release of the Postman app (v7.24.0). Please update to the latest version to check it out. Feel free to reopen the issue if the problem still persists.

[2020-05-10 05:54] #8374 closed, assigned to vikiCoder

[2020-05-10 05:55] vikiCoder commented on #8251
Hi @mtaylorfsmb,

This issue is fixed in the latest release of the Postman app (v7.24.0). Please update to the latest version to check it out. Feel free to reopen the issue if the problem still persists.

[2020-05-10 05:55] #8251 closed, assigned to vikiCoder

[2020-05-10 07:52] pankajk07 commented on #8241
Fixed as part of v7.24

[2020-05-10 07:52] #8241 closed, assigned to nobody

[2020-05-10 07:53] pankajk07 commented on #7749
Fixed as part of v7.24

[2020-05-10 07:53] #7749 closed, assigned to nobody

[2020-05-10 07:54] pankajk07 commented on #7481
Fixed as part of v7.24

[2020-05-10 07:54] #7481 closed, assigned to nobody

[2020-05-10 07:55] pankajk07 commented on #5775
Fixed as part of v7.24

[2020-05-10 07:55] #5775 closed, assigned to nobody

[2020-05-10 07:56] pankajk07 commented on #3385
Fixed as part of v7.24

[2020-05-10 07:56] #3385 closed, assigned to shamasis, vkaegis, vikiCoder

[2020-05-10 07:57] pankajk07 commented on #4967
Fixed as part of v7.24

[2020-05-10 07:57] #4967 closed, assigned to kamalaknn

[2020-05-10 07:58] pankajk07 commented on #7910
Fixed as part of v7.24

[2020-05-10 07:58] #7910 closed, assigned to kamalaknn

[2020-05-10 08:01] pankajk07 commented on #6091
Fixed as part of v7.24

[2020-05-10 08:01] #6091 closed, assigned to nobody

[2020-05-10 08:02] pankajk07 commented on #5309
Fixed as part of v7.24

[2020-05-10 08:02] #5309 closed, assigned to nobody

[2020-05-10 08:03] pankajk07 commented on #2812
Fixed as part of v7.24

[2020-05-10 08:03] #2812 closed, assigned to numaanashraf

[2020-05-10 09:04] abhijitkane commented on #8292
@softbucket This is fixed in the latest Postman version - v7.24.

[2020-05-10 09:44] abhijitkane commented on #2791
Fixed in the latest Postman version.

[2020-05-10 09:44] #2791 closed, assigned to nobody

[2020-05-10 09:45] preethammavin commented on #8434
@Aaron1515 The issue was a transient issue, which should be fixed now. Do let me know if it isn't so that we can take a deeper look.

[2020-05-10 09:45] #8434 closed, assigned to nobody

[2020-05-10 09:52] kamalaknn commented on #8362
Hey @ankita379

Could you share a screenshot of your raw JSON response by selecting `raw` view in the response view? It should look something like

<img width="1440" alt="Screenshot 2020-05-10 at 3 19 39 PM" src="https://user-images.githubusercontent.com/8401064/81496007-0d2c0e80-92d2-11ea-9945-c8f4db34f412.png">

[2020-05-10 09:53] abhijitkane commented on #7390
@m3dbedb The default interpretation of `-d` is the urlencoded mode.
Sending this:
[code]
through the command line will send the JSON as the urlencoded key.

As you suggested, specifying --data-raw and the json content type works:
[code]

Closing this issue - Postman's behavior is at par with the curl CLI.

[2020-05-10 09:53] #7390 closed, assigned to nobody

[2020-05-10 09:58] jazzyarchitects commented on #8098
@idroxid Yes, the Canary build includes the fix. Would you be able to share the schema or a snippet of the schema you are using since we are not able to reproduce the issue?

[2020-05-10 13:35] vlundsteen opened #8460 "Postman Console stopped showing request and responses"
**Describe the bug**
I have been using Postman for about a year without any problems. Suddenly a few weeks ago, Postman Console stopped showing request and responses, no matter what requests I try. Output from console.log() still shows up fine. I have upgraded, uninstalled/reinstalled - no change.
Is there some setting on my PC that disables showing of requests/responses in console?

**To Reproduc

[2020-05-10 13:57] Cazaimi commented on #8401
@EWieman , really appreciate you publishing a documentation to demonstrate the bug!

[2020-05-10 14:12] DannyDainton commented on #8460
Hey @vlundsteen,

It looks like you have the `Hide Network` box checked in the second image.

[2020-05-10 14:55] vikramksrm commented on #2523
+1

[2020-05-10 15:36] gulakov commented on #5194
+1

[2020-05-10 19:12] slehman1803 commented on #285
+1.  I just bought Business edition for 4 team members.  It is easily the most expensive tool in my budget.  Happy to pay it.  But if and only if Postman continues to innovate with needed features like this.  Happy to pay the big bucks, but you have to deliver.

[2020-05-10 20:39] shamasis commented on #7822
Hi,

The latest version of console shows responses without any form of parsing and as such prevents any misleading large integer issue.

![image](https://user-images.githubusercontent.com/232373/81510021-780a3380-932c-11ea-8527-4112e316f41e.png)

[2020-05-10 20:39] #7822 closed, assigned to ritwijsinha

[2020-05-10 20:44] shamasis commented on #3977
https://github.com/postmanlabs/postman-app-support/issues/7700#issuecomment-626273229 this comment should allow to use browser flow to ensure any such issue is addressed.

[2020-05-10 20:53] shamasis commented on #8460
Seems like this issue is safe to be marked closed. :-) I am happy to reopen if the problem persists even after unchecking "Hide Network"

[2020-05-10 20:53] #8460 closed, assigned to nobody

[2020-05-10 21:10] liamkeily opened #8461 "Accept header on imported OpenAPI 3.0 Specs"
When an OpenAPI spec is imported into Postman the Accept header is not set.

This provides a bad JSON Api experience because some backends (e.g. [Laravel](https://github.com/laravel/framework/blob/7.x/src/Illuminate/Foundation/Exceptions/Handler.php#L208)) will return html responses if no `Accept: application/json` header is sent.

It would be nice if Postman could look at the content type of the

[2020-05-10 21:20] shamasis commented on #8446
What file name? File name of the iteration data?

[2020-05-10 21:42] shamasis commented on #8455
Is there a way for you to check if this is specific to the API you are calling. Try checking if this can be reproduced while calling `https://postman-echo.com/post`.

Perhaps your API expects a different content-type header for JSON? When you choose JSON, Postman auto sets the content type header to `application/json` based on RFC4627. However, many APIs expect `text/json`, `text/x-json` and so on

[2020-05-11 03:17] Lengchuan commented on #5194
+1

[2020-05-11 06:09] insomniac12 commented on #8321
@ankit-m Thanks for reporting the issue. This has been fixed in app v7.24.

[2020-05-11 06:09] #8321 closed, assigned to sankalp0o, insomniac12

[2020-05-11 06:11] shreys7 commented on #8461
@liamkeily I tried the following OpenAPI schema import in Postman version 7.24.0 and was able to import the spec successfully with `Accept` header present. Can you try updating your App to the latest version and see if the problem still persists?
[code]
![image](https://user-images.githubusercontent.com/20665864/81529190-f3470600-937b-11ea-8373-a2a975c49862.png)

[2020-05-11 06:38] darkworks opened #8462 "Feature Request : Add Extra Submit button"
Problem 1:  well postman have Send and Save buttons it top  right corner

![image](https://user-images.githubusercontent.com/12841788/81530668-c0e8d900-937a-11ea-90c8-d92dd8725be3.png)

so imagine if you have big api to test and have a lot of input fileds then each time you press that Send button to see result you have to scroll to the bottom of page because results appear thear.

and then when yo

[2020-05-11 06:51] meetSuraj commented on #8416
@jolesch It's been time since we last heard from you, is the problem still occuring or the above solution has resolved it for you?

[2020-05-11 07:05] VincentChen1212 opened #8463 "Code editor does not highlight certain javascript tokens"
My UI Become no Color
![2](https://user-images.githubusercontent.com/51907583/81533376-ac1b3e00-9398-11ea-90eb-eca60b6a2c56.png)

It's colorful original
![1](https://user-images.githubusercontent.com/51907583/81533468-d836bf00-9398-11ea-8b1a-c58235b372d8.png)

Where can I setting???

Thanks !!

[2020-05-11 07:08] kronosboy commented on #1066
lol... people still asking for it
+1000000
it's really boring dragging one by one request from one folder/collection to another one

[2020-05-11 07:15] coditva commented on #8462
Hey @darkworks, thanks for the feedback! We're working on some UI changes which will fix some of the issues you mentioned.
Stay tuned! :)

[2020-05-11 07:22] pankajk07 commented on #8463
@VincentChen1212 In v7.24 we did some changes to the code editor, because of which you might see some differences in terms of syntax highlighting. We are tracking this and will push the changes with better syntax highlighting in one of the upcoming releases.

[2020-05-11 07:47] vvs11 commented on #8384
@HodGreeley I am closing this for now, please feel free to re-open if you're still seeing this issue

[2020-05-11 07:47] #8384 closed, assigned to vvs11

[2020-05-11 08:10] #8098 closed, assigned to nobody

[2020-05-11 08:59] Agastyabisht123 commented on #8446
Yes, I need to set the iteration data file name as environment variable. Any idea how can I set that?

[2020-05-11 10:20] klassic93 commented on #7603
removing the protocol also doesn`t work

[2020-05-11 11:32] santosh-1987 opened #8465 "Support PAC Scripts / Proxy Helper in Postman"
**Is your feature request related to a problem? Please describe.**
 I am frustrated when I want to connect to an internal API Server using a PAC Script

**Describe the solution you'd like**
 A feature to support Proxy using PAC Scripts
**Describe alternatives you've considered**
 Using Postman for Chrome as Extension as Chrome Supports PAC Scripts with Proxy Helper as Extension

[2020-05-11 11:52] vvs11 commented on #8399
Closing this issue here

[2020-05-11 11:52] #8399 closed, assigned to nobody

[2020-05-11 11:58] arlemi commented on #4555
@arlmath We do not support the Chrome extension anymore, please use the app instead: https://www.postman.com/downloads/

[2020-05-11 12:57] scottdillon1 commented on #4623
Hmmm...I'm seeing the exact behavior as outlined above but I already have my double quotes surrounding my environment variables. Anyone have any thoughts on other things to try?

[2020-05-11 13:24] arlemi commented on #4193
Hey everyone, we'll be using this issue to consolidate the feedback we've got around that feature request (#697, #4845, #4024).

#### Existing feedback

Here's the different use-cases for which that feature would be useful:
- https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-366455074

- https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-404566946

[2020-05-11 13:24] iepoch commented on #8420
So what I mean by "use the same mock server for both fork and original collection",  is the Mock Server Environment is shared from the Original Team Space that I use. So in this instance I have Original Collection on our Team Workspace and then the Forked Collection on Our QA Workspace. I then share the Mock Server Environment from our Team Workspace. As the Mock Server was added latter to the Ori

[2020-05-11 13:26] arlemi commented on #4845
Hey 👋 I've gathered all feedback from here and other issues into a single one, we will keep the discussion going there, closing this issue.

➡️  https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-626699439

[2020-05-11 13:26] #4845 closed, assigned to codenirvana

[2020-05-11 13:26] arlemi commented on #4024
Hey 👋 I've gathered all feedback from here and other issues into a single one, we will keep the discussion going there, closing this issue.

➡️  https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-626699439

[2020-05-11 13:26] #4024 closed, assigned to shamasis

[2020-05-11 13:29] arlemi commented on #697
Hey 👋 I've gathered all feedback from here and other issues into a single one, please add a 👍 reaction to the first post there if you'd also want that feature.

➡️  https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-626699439

[2020-05-11 13:32] kbradl16 commented on #4193
Some more information would be great since we’ve all been waiting for this feature for years now!

Does this mean you will be starting to work on this issue or are you only “consolidating” it?

When can we expect this to drop?

Are you adding all the use cases up front or incrementally?

[2020-05-11 13:33] liamkeily commented on #8461
Nice that does seem to do what i need

One slight concern is that the [OpenAPI spec](https://swagger.io/specification/) says `If in is "header" and the name field is "Accept", "Content-Type" or "Authorization", the parameter definition SHALL be ignored.` but it doesn't seem to be causing an issue

[2020-05-11 13:53] arlemi commented on #4193
@kbradl16  We're consolidating feedback for now. While we haven't implemented this particular feature, we've been working on other ones that have made it easier to workaround this one (see workarounds in my previous post).

We'll be giving all status updates here.

[2020-05-11 14:32] SabriH10 commented on #7908
Hi @raylucker,

If that's alright with you, I'll close this as we haven't received a response to the last message. If you're still observing a problem, feel free to either re-open this issue or leverage the Postman Community as suggested.

[2020-05-11 14:32] #7908 closed, assigned to SabriH10

[2020-05-11 14:59] vreemt commented on #2833
I got it back by hovering over the icon in the taskbar, right clicking on the preview and then using `Move` with arrow keys.

My config means using Windows/Alt key combinations won't work, as I'm using the app in a Remote Desktop session and those keys are sent to the local system.

I managed to misplace the window by dragging it up. I'd already lost the menu bar, and the next time I started the a

[2020-05-11 15:02] cyrielle-hada commented on #8450
There isn't a Sandbox method for accessing file name from the Postman app. However, if there is a unique identifier in the input JSON, you could pull that value into the output file name. For example, for the following JSON file:

[code]

You can use `pm.iterationData.get("filename")` to grab the filename property in each iteration.

If you only want to include filename in the first index of your

[2020-05-11 15:11] cyrielle-hada commented on #8446
Closing as it's a duplicate from this issue - https://github.com/postmanlabs/postman-app-support/issues/8450. I replied there. :)

[2020-05-11 15:11] #8446 closed, assigned to nobody

[2020-05-11 15:19] LarsScha commented on #5194
+1

[2020-05-11 15:48] kamalaknn commented on #3553
Hey @kavithaj110 @plusonedev

This should be fixed on the latest version of the Postman desktop app.
<img width="1114" alt="Screenshot 2020-05-11 at 9 17 54 PM" src="https://user-images.githubusercontent.com/8401064/81581902-fe765200-93cc-11ea-9df6-2460eef92f56.png">

[2020-05-11 15:48] #3553 closed, assigned to numaanashraf, vkaegis

[2020-05-11 15:53] arlemi commented on #2833
@vreemt We're tracking issues related to the Chrome app there https://github.com/postmanlabs/postman-chrome-extension-legacy but are not actively maintaining it, you should use the Windows app instead https://www.postman.com/downloads/.

[2020-05-11 16:02] kamalaknn commented on #3801
Hey @Faz540 @pratiks

We are tracking improvements for autocompleting sandbox API in #3919.

[2020-05-11 16:02] #3801 closed, assigned to shamasis, vkaegis

[2020-05-11 16:08] kamalaknn commented on #5290
Duplicate of #3517

[2020-05-11 16:08] #5290 closed, assigned to nobody

[2020-05-11 16:37] StrohmyerTR opened #8466 "Cannot set request body programmatically"
**Description**
We can set the Postman object's URL and headers programmatically, but not its body.

**Repro**
Steps to reproduce the behavior:

1. Open a new request tab
    a. Set the URL to "Test"
    b. Don't set any headers
    a. Set the body to "{}"

2. In the pre-request script, reset the following Postman request object fields as such:
    a. pm.request.url.host = "https://postman-echo.co

[2020-05-11 16:54] StrohmyerTR commented on #8466
P.S. I am aware of the fact that I could set the request body (via the UI) to "{{example_variable}}", and set that variable's value programmatically.

I am developing a less technical/more user-friendly way for any person on my team to be able to send requests for a variety of internal endpoints, each of them having a unique workflow, and each also having a final request body which is not the same

[2020-05-11 17:02] TalpalaruBogdan opened #8467 "Add execution hook"
**Is your feature request related to a problem? Please describe.**
I have a problem when using the AWS Signature authorization feature. When I need to sign a request for which the URL and the host are not equal, the AWS sign feature does not work.

**Describe the solution you'd like**
Add an execution hook that allows me to modify an AWS signed string after signing and before sending the request

[2020-05-11 18:18] yoshutch opened #8468 "Postman API Validation doesn't recognize dictionaries"
**Describe the bug**
The API validation appears to misinterpret the OpenAPI 3 schema defined in the Postman API when the request body or response body is a dictionary. Postman incorrectly expects the request/response to be a string when it should be a dictionary object.

I want my API to return a dictionary object like:
[code]

But after defining it in OpenAPI 3, and after generating a collection

[2020-05-11 19:40] dpond commented on #1104
+1

[2020-05-11 22:49] JCPuerto commented on #4775
Hi @Burnett01, do you know if there's another thread for the hardcoded response_type problem? Thank you!

[2020-05-12 00:13] lavixu commented on #6378
I am using 7.24.0 on Mac 10.13.6 and still see this issue. I had turned on the interceptor and did not channel the noise into a collection, that started filling my history. Deleting it just crashes the app and on rebooting the app,

[2020-05-12 01:08] helmus opened #8469 "CA Certificate does not work with HTTPS proxy"
**Describe the bug**
Importing a CA Certificate into Postman does not work when an HTTPS proxy is configured.

When using a proxy for HTTPS traffic ( Using HTTP CONNECT ), postman does not allow the target host to use a self-signed certificate, even if the CA certificate has been imported into Postman.
"SSL Certificate Validation" can be disabled as a work around.

**To Reproduce**

- Generate a s

[2020-05-12 03:55] godfrzero commented on #6526
@chrisj-ifs Are you still experiencing this problem? All of the errors in the logs so far seem to stem from JSON parse errors, and not directly related to the platform.

We'll need more information specific to the collection in order to troubleshoot what's happening here. Could you open a ticket on [our support center](https://www.postman.com/support/)?

[2020-05-12 04:01] umeshp7 commented on #8212
@simundev Thank you for reporting this.
We do support multi-file schemas for OpenAPI but not currently through the 'Generate Collection' button in the API tab.
To import multifile schemas as a `collection` please use the `IMPORT` button on the top left corner of the Postman app and choose the option `Folder` to upload the entire folder containing this multi-file schema. It will be converted into a

[2020-05-12 04:52] cafedood commented on #7481
I'm using `Version 7.24.0 (7.24.0)` still happening even I've turned it off.

[2020-05-12 05:02] pankajk07 commented on #7481
@cafedood Can you please shed more light on the issue that you are facing now or some screenshots?

[2020-05-12 06:10] solitarypenman opened #8470 "Find widget icons not visible in schema editor on Postman Web"
**Describe the bug**
The Find widget icons are not visible in the API Schema Editor on Postman Web.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to API Schema Editor on Postman Web
2. Click on the find icon on the right extreme of the toolbar.
3. Find widget opens up in the editor without any icons visible.

**Expected behavior**
Icons in the find widget should be visible.

**Screensho

[2020-05-12 07:26] kustbilla commented on #4391
Just tried and found nothing changed in OAuth 2.0 authorization:
![image](https://user-images.githubusercontent.com/24557606/81650957-ee11b600-9464-11ea-8d7a-713ec7877809.png)

[2020-05-12 08:30] mintbridge opened #8471 "Support for Server Timing headers"
**Is your feature request related to a problem? Please describe.**
Adding support for vizualising the server timing headers - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Server-Timing

**Describe the solution you'd like**
Ideally something similar to the same functionality in chrome network inspector

**Describe alternatives you've considered**
I currently use a test script to output

[2020-05-12 09:29] likhitgatagat commented on #1104
+1. Content-Disposition is needed, currently there is no field filename* in Content-Disposition and the field must be provided in some cases.

[2020-05-12 09:45] giu87 commented on #3171
+1

[2020-05-12 11:15] leibson commented on #7294
subramanya.raj -
Per your request, I am adding my experience to this thread.
https://community.postman.com/t/postman-7-24-0-cpu-83-memory-very-high/12575?u=guylev

I checked this: https://github.com/postmanlabs/postman-app-support/issues/7370
and this: https://github.com/postmanlabs/postman-app-support/issues/7294.

I start Postman and almost immediately it freezes before I can even do anything li

[2020-05-12 11:34] leibson commented on #7294
I think I found the problem.  I was on a team (which I did not need to be on).
I had exceeded the shared history limit.
I removed myself from the team and, since I'm now on no teams, the shared value for everything is down to 0.
So far, so good.

[2020-05-12 14:13] Wirone commented on #4576
I've just installed Postman on Ubuntu 20.04 via [PPA](https://launchpad.net/~tiagohillebrandt/+archive/ubuntu/postman) but unfortunately it does not work fully. It starts, but checking for updates fails (`EACCES: permission denied, open '/usr/share/postman/Postman-1589291638096.tar.gz'`), I can't sign-up or sign-in with Google - it stops on "Sign in via web browser" screen and I see in CLI output:

[2020-05-12 15:15] cprice-ping opened #8472 ".split on newline character different in Postman vs Newman"
**Describe the bug**
When parsing an environment variable with a newline character, the Postman UI handles the `.split()` function differently than Newman.

In Postman, you use `.split("\\n")` but in Newman you need `.split("\n")`

**To Reproduce**
Steps to reproduce the behavior:
1. Save multi-line text into your environment
2. In Postman, add a Pre-Request Script:

[code]
3. This will error
4. R

[2020-05-12 15:19] chadgoh opened #8473 "Postman stuck on dock with active icon after closing the application (Linux)"
**Describe the bug**
The postman app gets stuck on the dock with it highlighted as not closed after quitting the application, with both the 'x' button on window titlebar as well as with keyboard shortcuts.

Currently using Pop_OS LTS 20.04. This only happens for Postman so far.

Restarting the GNOME shell (before interacting with the icon) gets rid of the active indicator so it might be a GNOME is

[2020-05-12 16:20] crimsonkissaki commented on #7052
+1 from me.

Since we cannot load local files for our scripts I have to use an async request to a Git server to bootstrap the system, and every time I make an update and try to run the collection i have to keep manually dragging the bootstrap request to the top of the "Run Order" list. Very, VERY annoying.

[2020-05-12 16:52] vvs11 commented on #8381
@srajamohan Closing this for now.We have a very active community that will help you resolve your issues quickly.  Please feel free to reach out at http://community.getpostman.com/

[2020-05-12 16:52] #8381 closed, assigned to nobody

[2020-05-12 16:54] cmdd80 commented on #675
+1 Come on! It is quarantine time! Give us this feature :-)

[2020-05-12 17:35] codenirvana commented on #8472
@cprice-ping Can you share a scaled-down collection (or steps) which we can use to reproduce this issue?

Are you stringifying the variable (`JSON.stringify`)?

[2020-05-12 17:57] cprice-ping commented on #8472
Sure -- here's a sample Environment with an example of a string I'm parsing:

[code]

[2020-05-12 18:05] stevenxzhou commented on #2030
Is it still not resolved? May I ask which link do I need to click? Here?
![image](https://user-images.githubusercontent.com/3982775/81729216-77fb5800-9440-11ea-9a1d-af785aaa2ded.png)

[2020-05-12 18:50] codenirvana commented on #8472
@cprice-ping I see no issues here... also, tried importing this environment and `.split("\n"` is working fine.

Are you manually entering `\n` (instead of actual newline/enter) while updating the variable in Postman?

[2020-05-12 19:16] cprice-ping commented on #8472
It's not splitting correctly -- with the `/n` you only get a single element, but with `//n` you get 6.

![image](https://user-images.githubusercontent.com/43251598/81735360-c9f4ab80-9449-11ea-98b6-fedadf00fde8.png)

Here's a collection with a sample call:

[code]

[2020-05-12 19:40] codenirvana commented on #8472
@cprice-ping That's possible only if literally `\n`s are entered in the variable value.

Please check the attached GIF where I imported your collection and environment...

![GH-8472](https://user-images.githubusercontent.com/4865836/81737451-bc750b00-94b5-11ea-83ad-5224ba18e28a.gif)

[2020-05-12 20:01] cprice-ping commented on #8472
Ahhh -- the underlying piece is that the Environment normally handles this and splits the `/n` on Import?

I'm just pasting back the value from an Env export - so that's where the extra escape is needed.

[2020-05-12 20:11] codenirvana commented on #8472
@cprice-ping Yes, the newlines are handled automatically on import.

Pasting `\n` manually doesn't convert it to a new line. You need to manually convert all those `\n`s to the actual newline character.

I hope this solves your issue, closing this issue now. Also, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2020-05-12 20:11] #8472 closed, assigned to codenirvana

[2020-05-13 00:29] kentmaxwell opened #8474 "OpenAPI 3.0 does not validate with a boolean response type"
**Describe the bug**
When creating an OpenAPI 3.0 API schema, it is not possible to use a boolean data type.  Consider this simple API definition:  https://pastebin.com/HqPrfeXA

If you try to create a collection against this schema and then validate it you will receive this error:
```The response body needs to be of type boolean, but we found a boolean instead.```

**Expected behavior**
The schem

[2020-05-13 04:00] vikiCoder commented on #6717
Hi,

We've added an option in OAuth2 that allows you to authenticate using your system's default browser while generating OAuth 2.0 token. That might solve the problem. Check out my comment on a similar issue for more details. Closing this issue due to inactivity. Feel free to reopen the issue if the problem still persists.

[2020-05-13 04:00] #6717 closed, assigned to vikiCoder

[2020-05-13 04:22] sankalp0o commented on #8098
@soniCaH @idroxid can you confirm if you're still seeing the same issue in the latest Postman app?

[2020-05-13 05:43] soniCaH commented on #8098
Confirmed, thanks!!!

[2020-05-13 06:00] sankalp0o commented on #8098
Assuming you meant that you're no longer seeing the issue.

Do let us know if you face any other problems with the validation feature. We're working on improving it at the moment, would love your feedback!

[2020-05-13 07:00] michelsaumon commented on #2773
Is there ANY good argument not to implement such a functionnality ?
This issue should not be closed ...

[2020-05-13 07:26] geoffturk commented on #8098
FYI, it's working fine for me now.

[2020-05-13 08:11] cb-machan commented on #1321
Yea totally looking forward.

[2020-05-13 09:08] tlegluhe opened #8475 "Optional query parameters no longer show in documenter"
Optional query parameters no longer show in documenter. We can see the names and descriptions of parameters that are checked (and showing in the URL), but others aren't showing. I believe they did in a previous version of the generated documentation.
This is a problem because I would like my API users to know what options they can call my routes with without showing them all in the URL (it is mess

[2020-05-13 10:18] arlemi commented on #2773
@michelsaumon Here are a few arguments:
- Having both a sidebar (that you can hide) and tabs is common in developer tools (see Eclipse, VSCode for example)
- We've implemented functionalities that help with the current issue (https://github.com/postmanlabs/postman-app-support/issues/2773#issuecomment-334914563, https://github.com/postmanlabs/postman-app-support/issues/2773#issuecomment-471252670)

[2020-05-13 10:38] sankalp0o commented on #8151
Closing this as the original issue was resolved. If someone is still facing this problem, please refer to the steps posted above. Do let us know if the issue persists after this as well!

[2020-05-13 10:38] #8151 closed, assigned to sankalp0o

[2020-05-13 10:43] vikiCoder commented on #2049
Hi everyone,

Cookies for all the requests sent while OAuth2.0 token generation are stored in [Cookie manager](https://learning.postman.com/docs/postman/sending-api-requests/cookies/#getting-to-the-cookie-manager). You can log out from the auth website by manually deleting relevant cookie for particular auth domain from [cookie manager](https://learning.postman.com/docs/postman/sending-api-request

[2020-05-13 10:43] #2049 closed, assigned to nobody

[2020-05-13 10:46] jmoody commented on #2773
Since you mentioned VS Code - it has an option to disable tabs.

[2020-05-13 11:21] sankalp0o commented on #4785
Hi everyone,

Based on your feedback we've made some changes in the latest Postman release. In the new version, while Sharing a collection you can choose to remove it from the current workspace. This is the same thing as "Move".

Do check it out and let us know if this makes your workflow easier or not! We'd also love any other feedback on the "Share" flow.

[2020-05-13 11:21] #4785 closed, assigned to a85, vkaegis

[2020-05-13 12:03] SeoJueun commented on #5194
+1

[2020-05-13 12:04] VShingala commented on #8474
@kentmaxwell Thanks for reporting this issue. I was able to reproduce this issue. But I wanted to ask a follow up question.

As defined response in your example has media-type of `application/json`, doesn't that mean that schema should be either of type `array` or `object`. Currently we are handling only this two type as valid type for schema under `application/json`.

You could try to validate fo

[2020-05-13 12:04] beruic commented on #8273
So. Is my above comment a new issue, or will you just continue with this one?

[2020-05-13 12:12] beruic commented on #3472
I'm awaiting the resolution of #8273 and upgrading my machine to Ubuntu 20.04 before testing again.

@codenirvana If you are certain I can reopen this ticket if needed, you can just close for now.

[2020-05-13 12:39] codenirvana commented on #3472
@beruic Sure 👍
Please share the API endpoint or the steps which we can you to reproduce this issue locally.

[2020-05-13 12:39] #3472 closed, assigned to codenirvana

[2020-05-13 12:43] sankalp0o commented on #8083
@cyrielle-hada removing a collection should only remove it from that workspace. Are you able to reproduce this?

We do not have plans to introduce an option to "Unshare" since the "Remove" does the same thing technically.

[2020-05-13 12:46] preethammavin commented on #8454
@DWvanGeest as from the screenshot I can see there is only one changelog, if you have multiple API versions that are defined you can attach those versions to the collection changelog, but one tag can be applied to one changelog only at the moment.
I would love to hear your workflow to better understand your use case here.

[2020-05-13 12:51] sankalp0o commented on #8097
@chrisdeso this has been fixed and we now show "Deactivated user" instead of showing the creator of the workspace. Please note that this only represents who created the workspace and not the "Owner". Workspace Access control is still an independent thing.

[2020-05-13 12:51] #8097 closed, assigned to sankalp0o

[2020-05-13 13:13] jamiladeveloper commented on #2559
For me the interceptor was running. I had to stop the interceptor.

[2020-05-13 13:22] chaffeqa opened #8476 "Hidden Authorization Headers"
**Describe the bug**
When setting a collection-wide Authorization type to `Bearer`, the `set-header` (`--header 'Authorization: Bearer ____'` for cURL) is not added to the code or examples in the generated documentation.

This is a bug since:
1. Prevents simple copy/paste of examples / code to work as advertised
2. When performing the same setup on a per request basis (via `Authorization` tab) usi

[2020-05-13 13:30] cyrielle-hada commented on #8083
@sankalp0o I think I have made a mistake in the description of the issue. I believe I meant: when you _delete_ the shared collection (i.e perform the action from the team workspace), it deletes the collection from the personal workspace as well.

[2020-05-13 13:57] daniel-shuy commented on #5194
Guys seriously stop spamming this thread with +1, just like the first comment instead, its so annoying to get useless notifications

[2020-05-13 14:37] chaffeqa opened #8477 "`unset` Variable removes initial value"
**Describe the bug**
If you call `pm.<scope>.unset("variableName")` it deletes the variable (including initial value).
In addition, calling `pm.variables.unset("variableName")` means the local run will default to the next higher value of that variable, which means there is no way to "clear" a variable (bearer token for example) in a local script run without deleting it across environment or global

[2020-05-13 14:54] gone-skiing commented on #1321
@kinlane we tested a few options on our end and I would like to submit a couple of PRs to support what would be an MVP solution for us. As a first step we would like to support passing in agent to newman API.

Looking forward to feedback/conversation:

https://github.com/postmanlabs/postman-runtime/pull/1012
<TODO newman PR>

[2020-05-13 15:19] wildfrontend commented on #4105
maybe some issue just remove empty word could be work
check whether the variable have Enter keyword behind

<img width="692" alt="截圖 2020-05-13 下午11 15 54" src="https://user-images.githubusercontent.com/20965813/81831242-b479a180-956f-11ea-9816-27381ce05b42.png">

[2020-05-13 15:46] SabriH10 commented on #6753
Hi @ariezs,

If it's alright with you, considering there hasn't been any update here following the request for more information, I'll go ahead and close this issue for now.

If you still need help, please feel free to re-open this and comment with the information requested above, and we'll be happy to investigate further.

Otherwise, feel free to reach out if you have any questions or concerns.

[2020-05-13 15:46] #6753 closed, assigned to vikiCoder, SabriH10

[2020-05-13 17:39] gone-skiing commented on #1321
Companion `newman` PR:
https://github.com/postmanlabs/newman/pull/2349

[2020-05-13 17:42] ravikanthreddy89 commented on #1066
+1 this is a very basic feature.......

[2020-05-13 17:44] ravikanthreddy89 commented on #1066
if it is not possible atleast add a feature to import collections into a folder, this shouldn't be hard.

[2020-05-13 18:49] cpwood commented on #7592
This isn't quite working for me and I suspect others will run into similar issues.

Here's how the redirect link looks when I've logged in successfully:

https://oauth.pstmn.io/v1/callback#access_token=eyJhbGci...abc&token_type=bearer&xsrf_token=&state=

Note that the access token is included after a `#` and not a `?`. This is done deliberately so that the access token isn't sent in the `GET` for

[2020-05-13 18:53] cpwood commented on #7592
FYI - I thought this wasn't working until I realised that my Chrome pop-up blocker was borking the process. You might want to tell people to keep an eye out for any pop-up warnings.

[2020-05-13 19:15] kevinpark1217 commented on #7607
+1

[2020-05-13 20:34] shareef1989 commented on #1066
OMG!!!
5 years! is it a joke?

[2020-05-13 21:01] JustinLavertu-iQ commented on #1066
Yes, this software is a joke.

[2020-05-13 21:17] SabriH10 commented on #7330
Hi @nadiaadhami,

If it's alright with you, I'll go ahead and close this issue following the suggestion provided. Hopefully, it helped.

If you're still observing issues, feel free to re-open this issue. Otherwise, feel free to reach out if you have any questions or concerns.

[2020-05-13 21:17] #7330 closed, assigned to chrisdeso, SabriH10

[2020-05-14 00:16] gtonioli commented on #7961
Same issues here:

- Sync button in constantly red
- 429 (Too Many Requests)
- Account since 2016
- Windows 10 Pro 18362.778
- Postman for Windows, Version 7.24.0 / x64

[2020-05-14 00:38] DavidRedstone commented on #8425
More info (from Fedora 32)...

Install Postman snap:
`[dave@silverbeast ~]$ sudo snap install postman
Warning: /var/lib/snapd/snap/bin was not found in your $PATH. If you've not restarted your session
         since you installed snapd, try doing that. Please see https://forum.snapcraft.io/t/9469
         for more details.

postman 7.24.0 from Postman, Inc. (postman-inc✓) installed
`

Run Postman

[2020-05-14 02:03] tarinidash opened #8478 "Duplicating or downloading an environment does not copy values"
**Describe the bug**
When hit "duplicate environment" on an environment , a copy is created with on key(properties) but no values.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Manage Environment
2. select an environment
3. click on "duplicate environment"
4. Go to the newly copy of environment and double click to open and check the values.
5. repeat steps 3-5 for downloading an e

[2020-05-14 02:18] shsong commented on #3358
+1

[2020-05-14 03:45] sunil7796 commented on #8252
this issue still exists

[2020-05-14 03:58] numaanashraf commented on #8252
@sunil7796 Would it be possible to share a screen recording? It'll help us understand the resource usage on your system and identify the issue faster.

[2020-05-14 04:12] pankajk07 commented on #3358
We heard you guys. We are working on this and will be available in one of our upcoming releases. Thanks for the feedback

[2020-05-14 05:26] qabandlab opened #8479 ""Couldnt Get any Response" error on changing the Content-Lenght in Request Header"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-05-14 06:32] godfrzero commented on #6526
Closing this for now. Will reopen if additional reports/information comes in.

[2020-05-14 06:32] #6526 closed, assigned to godfrzero, preethammavin, charlie-postman

[2020-05-14 06:35] godfrzero commented on #7509
Closing this for now, will reopen if additional reports/information comes in.

[2020-05-14 06:35] #7509 closed, assigned to godfrzero, charlie-postman

[2020-05-14 07:00] eyalgrossdev commented on #4888
We are a paying client and would also like the ability to add a Google Analytics tracking / ID code to the documentation.

[2020-05-14 07:12] sankalp0o commented on #8083
Yes, I get it now. But like I said though, "Remove" does the same action of removing it from just one workspace, hence adding an "Unshare" action doesn't make sense at this point.

Is there any workflow that can't be achieved by "Remove"? Or is there something we're unable to communicate properly?

Sharing a collection in a team workspace just shares it with everyone in the workspace. We don't hav

[2020-05-14 07:27] denitsa-cm commented on #8275
I am getting the same error (on the canary version as well) - cannot generate a mock nor a collection from an API.

[2020-05-14 07:41] neowood commented on #1960
Same question, how to keep tests when importing?

[2020-05-14 07:43] jazzyarchitects commented on #8275
@denitsa-cm Would you be able to share your API specification here or mail at `help@getpostman.com` so that we can take a deeper look?

[2020-05-14 07:59] denitsa-cm commented on #8275
Hey @jazzyarchitects , the mistake was all mine - I had a small error in the schema. I started just trying to creating piece by piece, gradually adding stuff until I started getting the error. However, since the error I was getting was a 500 I thought it was something else that didn't have to do with the schema being invalid.

Thanks for the quick reaction, you can disregard my comment!

[2020-05-14 08:07] arlemi commented on #8479
@qabandlab If you're facing a bug please open a new issue and fill in the required fields to help us investigate.

If you have a general question on how to use a specific API, please ask it in our [community forum](https://community.getpostman.com/).

[2020-05-14 08:07] #8479 closed, assigned to nobody

[2020-05-14 08:13] arlemi commented on #8478
@tarinidash You need to use the initial value field to make sure the value is being exported/duplicated.

From [our Learning Center](https://learning.postman.com/docs/postman/variables-and-environments/variables/#specifying-variable-detail):

Hope that helps. 😄

[2020-05-14 08:13] #8478 closed, assigned to nobody

[2020-05-14 08:19] arlemi commented on #7592
@cpwood Thanks for letting us know, I've created an issue on our docs repo. :)

[2020-05-14 09:58] jazzyarchitects commented on #8275
Hey @denitsa-cm, thanks for the feedback regarding the error messages. We are currently working on having more understandable errors and you should be able to see improvements regarding this soon.

[2020-05-14 11:10] akperiste opened #8480 "Cannot upload a file using Monitor Collection"
Hi,
while using the Monitor Collection option, I cannot upload file using a POST request. I get error "Form param ``, file load error: file resolver not supported".
I can easily send this request using the "start collection" button.

I set a working directory as "\AppData\Local\Postman\app-7.24.0\files" and have my file there.
I'm using Postman v7.24.0
Body filetype: form-data
Headers: content-typ

[2020-05-14 12:31] vinczente commented on #8266
@abhijitkane same, were you able to solve this ?

[2020-05-14 13:35] #6401 closed, assigned to anudeepmedicharla, preethammavin, ArjunSingh-PM

[2020-05-14 13:37] Paramood opened #8481 "Postman snap doesn't inherit Ubuntu dark theme and "select" mouse pointer"
**Bug description**
I have dark theme set in Ubuntu settings. Postman snap doesn't inherit this. Also, Postman snap doesn't use system "select" cursor. It uses some another cursor instead.

Linux version from official site (tar.gz package) doesn't have these issues. This version inherits dark theme and use my system "select" cursor.

**Expected behavior**
- "Select" cursor should be same as my sys

[2020-05-14 13:57] tarinidash commented on #8478
Thank you @arlemi . I should have referred to Learning Center before creating a bug.

[2020-05-14 15:15] Paramood commented on #8481
https://forum.snapcraft.io/t/small-cursor-in-snap-apps-on-hidpi-display/5220/5

[2020-05-14 15:40] kriss1897 opened #8482 "Request content type header is not picked automatically when saving example."
**Description**
Request content type is not picked automatically when saving a response as an example.
The content type is header is updated when we select JSON manually in picking content type.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request with some request body so that the req headers include a `content-type` header.
2. Save the response as an example.
3. Check the example

[2020-05-14 15:49] ErikVanDenHoorn commented on #5039
Signing out and signing in again solved the issue for me.

[2020-05-14 15:55] ild0tt0re commented on #6719
@arlemi is this issue in done by mistake or has it been released since the last reopening? Thanks

[2020-05-14 15:56] arlemi commented on #6719
@ild0tt0re This hasn't yet been released, we'll update here when there's anything new!

[2020-05-14 15:57] jeremymgibbons opened #8483 "Mock Server Call Logs are delayed"
**Describe the bug**
The mock server call logs are very delayed. After making a successful request to the mock server, the call logs do not show up for a while (sometimes 20 - 30 minutes).

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request to a mock server.
2. Ensure that you get a response back.
3. Go to that mock server's call logs.
4. Notice it takes a long time for the logs t

[2020-05-14 16:08] murven commented on #8440
@arlemi Having two version control systems and the need for two separate PRs, reviews and approvals is definitely not a viable option in most teams.

[2020-05-14 16:11] ManiacDC commented on #8440
Also, looked into postman-cli. We actually already have an assembler/disassembler that's more powerful than that tool, so it won't help us with this scenario either.

[2020-05-14 16:15] murven commented on #2906
Starting from version 7.23, Postman does not seem to be a viable option for our team due to the replacement of the IDs in hundreds of test cases. We are looking for ways to workaround this issue or moving away from Postman altogether.

[2020-05-14 16:16] arlemi commented on #8440
@murven We're also tracking feature requests on synchronising API/collections with other git repositories (other than GitHub), see #4780 or #8245.

@ManiacDC If you have a custom tool, while we work on the ID-less export, you could add a step to remove all pre-request/test IDs before pushing to the repository.

[2020-05-14 16:32] cdolan92 commented on #6722
There are a lot of use cases with Tests, but I'd like to focus on Documentation for our use case. We have a Published Collection running on api.ourdomain.com, and would like to keep that updated easily as our developers improve our API.

Here is our ideal workflow:

1. Commit to a Github repository linked with an API in Postman, using the new integration @a85 mentioned above, when there are update

[2020-05-14 16:38] VikasPareek commented on #8245
I'm looking forward for competion of this feature and get to use it. I would love to see Postman sync to our **BitBucket cloud & BitBucket Server** git repositories.

[2020-05-14 17:00] obieo commented on #8245
Do we have a list of the repositories that are on the roadmap for integration. Azure Repos would be great

[2020-05-14 17:12] ManiacDC commented on #8440
@arlemi it's an idea we're probably going to implement. We'd have to strip it after running postman-collection module.

[2020-05-14 17:15] arlemi commented on #8440
@ManiacDC Would love to see it showcased here if you end up implementing it: https://community.postman.com/c/content-showcase/7, also feel free to open a topic on the community forum if you'd like help with it, quite a few of us who'd de be happy to help. 😄

[2020-05-14 17:27] murven commented on #8440
@arlemi  I tried setting the ID to empty string in JSON, but now Postman cannot import it anymore. Would it be necessary to completely remove it?

[2020-05-14 17:33] arlemi commented on #8440
@murven Just tried with both empty string and removing it completely and import worked without issue. Admittedly I'm trying on a very simple collection but it shouldn't matter. Would you mind sharing your export (after removing any sensitive data)?

[2020-05-14 18:19] murven commented on #8440
@arlemi thanks, but I am not allowed to share, I will try to reproduce with a smaller collection on a generic API later, but without knowing what is making it fail, I am just hitting in the dark, so I will just move on for now.

[2020-05-14 19:11] metacryst commented on #5302
actually yes! the test version has it:
https://www.getpostman.com/downloads/canary

i got it and it's exactly the same as the normal version as far as i can tell. except now it has a dark menu bar.

[2020-05-14 19:54] wywarren opened #8484 "Different custom logos for different collection documentations"
We currently develop APIs for different clients that don't necessarily use postman but need to have their documentation up for their developers and 3rd party developers but wish to have their own logo on the collection.

A proposed solution is to have an image/icon uploader for each published collection (perhaps only available to paid users) to have it override the team profile icon.

The alternat

[2020-05-14 20:00] wywarren opened #8485 "Password protecting publish documentation"
More often than not we create APIs for 3rd party clients that do not wish for their documentation to be openly available on the web. Our clients may not all know or are willing to use Postman as much as we make an effort to bring them onboard. Once a documentation is published, they wish for only their designated members to view the documentation.

Our work around right now is to export the collec

[2020-05-14 20:04] arlemi commented on #8440
@murven @ManiacDC If you'd like you can reach out to me by email and we can set some time to look into it together: arlemi@postman.com.

[2020-05-14 20:43] jeffrimko opened #8486 "Add Collection location info and name filter option to open request tab"
**Is your feature request related to a problem? Please describe.**
No, this is just a convenience request.

**Describe the solution you'd like**
It would be nice to easily see the Collection location of an open request tab. For example, when hovering over the tab of an open request, it currently only shows the request name, maybe consider adding the Collection name/folder as well. It would also be

[2020-05-14 21:21] shubhshukla opened #8487 "Version 7.24.0 (7.24.0) on MacOS freezes when hiting a simple REST API"
**Describe the bug**
Trying to get data from a locally running spring boot app. After clicking Send button and getting JSON response it takes approximately 10 seconds. Although time taken by API to respond is only ~150ms.

**Screenshots**
![image](https://user-images.githubusercontent.com/17101288/81987127-b5393300-9656-11ea-98b0-f245c6667b5d.png)

**App information (please complete the following

[2020-05-14 21:34] jeremymgibbons commented on #8483
I see this working again.

[2020-05-14 21:34] #8483 closed, assigned to akshaydeo, Dhembla

[2020-05-14 22:48] ayyemichelle commented on #8455
I am having a very similar issue. I am using the latest version of Postman (7.24.0) for Windows 64  bit. I am trying to send a POST with a JSON body to an internal enterprise API that I am running locally. When I send the request the API receives an empty body as well. When I switch the type to Text I recieve a 500, since the company's server is expecting a body in the type application/json. Howev

[2020-05-15 01:20] codenirvana commented on #8487
Can you share a scaled-down collection (or an API endpoint) which we can use to reproduce this issue?

[2020-05-15 04:58] #8450 closed, assigned to nobody

[2020-05-15 06:39] aizhimou commented on #5302
Got it ! Thanks :D

[2020-05-15 06:52] martinszeltins commented on #5302
Awesome! Been waiting for this for a long time.

[2020-05-15 06:54] shubhshukla commented on #8487
As weird as it may sound, tried to record screen to post here, and then postman started behaving correctly.

[2020-05-15 06:55] numaanashraf commented on #5302
@martinszeltins This is available on our early access canary channel now - https://www.getpostman.com/downloads/canary and should starting out to stable soon

[2020-05-15 07:04] atulbi commented on #8426
@SParmentier Please provide the sample collection or full schema, so that we could reproduce it.

[2020-05-15 07:19] godfrzero commented on #8416
Closing this ticket for now. Will reopen if we find that the issue still persists.

[2020-05-15 07:19] #8416 closed, assigned to ArjunSingh-PM

[2020-05-15 07:48] ks1977 commented on #3897
Why does such kind of basic and common functionality take more than 2 years to implement?  This should be included at first release.  Also give IT admins the possibility to disable automatic updates.  As company policies often prevent users from updating apps themselves.

[2020-05-15 08:13] arlemi commented on #8487
@shubhshukla Thanks for letting us know, I'll close this issue for now. Do reach out if this happens again!

[2020-05-15 08:13] #8487 closed, assigned to nobody

[2020-05-15 08:21] arlemi commented on #8486
@jeffrimko Opening the tab should also be moving the collection sidebar to where the request is, is that what you're looking for?

![findrequest](https://user-images.githubusercontent.com/5029719/82028376-76729f80-968d-11ea-9834-25970c48576e.gif)

[2020-05-15 08:27] #6659 closed, assigned to preethammavin

[2020-05-15 08:39] pankajk07 opened #8488 "Code getting auto-formatted on initial load in Pre-request/ Scripts tab in Request Body"
**Describe the bug**
The existing code present in the Pre-request/ Test tab of the Request body is getting autoformatted when loaded for the first time.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a request tab
2. Switch to pre-request tab and add some code
3. Save the tab
4. Open the saved request and switch to pre-request tab
5. The existing code is now auto-formatted

**Expected

[2020-05-15 08:51] Raj-postman opened #8489 "Request to increase the Github backup integration repo limit"
**Is your feature request related to a problem? Please describe.**
When we attempt to create a Github backup, the integration does not list all repositories in the pull-down menu. This is due to the 1000 repo limit we currently have.

**Describe the solution you'd like**
To list out all of the repositories.

**Additional context**
When organizations have more than 2000+ Github Repo - users cannot

[2020-05-15 08:59] ArjunSingh-PM commented on #7140
This issue is resolved.

[2020-05-15 08:59] #7140 closed, assigned to godfrzero, charlie-postman

[2020-05-15 09:02] ArjunSingh-PM commented on #7938
This issue is resolved.

[2020-05-15 09:02] #7938 closed, assigned to charlie-postman

[2020-05-15 09:12] #2732 closed, assigned to sankalp0o, Raja-Simha

[2020-05-15 09:13] shreys7 commented on #8414
Duplicate of #8290

[2020-05-15 09:13] #8414 closed, assigned to nobody

[2020-05-15 09:15] #5172 closed, assigned to sankalp0o, Raja-Simha

[2020-05-15 09:15] #5263 closed, assigned to Raja-Simha

[2020-05-15 12:52] Madhusudanpatidar opened #8490 "I would like to associate my postman tests (written in Javascript) with Azure devops Plans test cases"
I have Postman api tests that run successfully in azure pipeline, I export results in jUnit format and publish them, the results are displayed properly.
**I would like to associate my postman tests (written in Javascript) with Plans test cases.**

I can't find a precise documentation about this case in general, there is a suggestion here that uses c# https://docs.microsoft.com/en-us/azure/devops/t

[2020-05-15 12:56] kentmaxwell commented on #8474
Hello @VShingala --

Thanks for the quick follow-up.  I am new to the Open API standard, so I was bound to encounter strange things.  After reading what you wrote, it does make sense that any response using ```application/json``` would either be an ```array``` or ```object```.  In fact this realization helps me out with some other validation problems I have had in Postman.  However, it seems that

[2020-05-15 13:19] Madhusudanpatidar opened #8491 "store response run time and pass to next api uind Newman cli"
**Describe the bug**
I have 3 api in the collection
first api >> response have token >> store token from response in **var/global/env**
second api >> use first api **token** as input & generate response **one of the dataid**, same again store dataid in **var/global**
third api >> use the first & second api response **token & data id** as input and getting third api response
So above scenario is wo

[2020-05-15 13:28] VShingala commented on #8474
@kentmaxwell Yeah, current message is very obscure and doesn't provide enough information to work with. However we are currently working on providing better validation experience with actionable messages in upcoming releases, which will fix this.

[2020-05-15 13:52] jeffrimko commented on #8486
Okay, I never noticed the sidebar-move feature before, maybe because I often use search filters due to having dozens of collections, that's a nice feature! On my install (Postman 7.24.0 on Windows 10) it will only do the sidebar-move if the collection and any subfolder is already expanded (e.g. if the subfolder or collection containing "Get By Id" was collapsed the sidebar-move would not work in t

[2020-05-15 13:52] marciotedesco commented on #1066
Just to reinforce the already very stressed need through the years: would really appreciate this feature too.

[2020-05-15 13:55] jeffrimko commented on #8486
Alternatively, it might be nice to have buttons to "expand all collections/subfolders" and "collapse all collections/subfolders" maybe somewhere near the "+ New Collection" button.

[2020-05-15 14:54] edgreenberg opened #8492 "Redirects do not show headers in console"
**Describe the bug**
When a 301 redirect is received, the console does not show the full request and response headers.

**To Reproduce**
Construct and send an http request to a server that returns 301 redirect to https.

**Expected behavior**
In the console, I expect to see the request and response headers below the network section of the
http request, just as I do in the following https request.

[2020-05-15 14:57] twitharshil commented on #4849
Hi Everyone,
We are testing platform upgrade (Electron v7) on which Postman is built that should address this particular issue. It is available on our early access Canary build https://www.getpostman.com/downloads/canary. You can install and use the Canary build side by side with the stable app. Do try it out and let us know

[2020-05-15 15:04] ankurdengla commented on #7693
The Postman app is built on Electron. We had updated the electron version from 1.8.8 to 3.1.8 from Postman 7.3.4 onwards. The error indicated by the logs can happen in the case when -
* User launches an app with electron 3.1.8 (in this case app 7.9.0)
* Then user launches app version with electron 1.8.8 (7.1.1 in this case)
* User again launches app with electron 3.1.8

This causes inconsistencies

[2020-05-15 15:04] #7693 closed, assigned to kamalaknn

[2020-05-15 15:14] SelinMaryK opened #8493 "Dynamically set Null value is not passed 'as is' in json input data."
Dynamically set Null value is not passed 'as is' in json input data. Instead when a variable is set as null, empty data is being passed, which creates error in request.

Steps to reproduce the behavior:
1. In the pre request set value for the required parameter as null
eg: pm.environment.set("abc", null);
2. The null value is correctly set on the quick look variables.

**Expected behavior**
The dy

[2020-05-15 15:15] kendaop commented on #4952
Hi, this issue is appearing again on v7.24.0. Can this ticket be re-opened?

I have a versioned Postman collection which is used by multiple team members. When I import the collection and then export it again without making any changes, all of the test IDs are changed, making it difficult to review the changes.

Thank you.

[2020-05-15 15:28] twitharshil commented on #7251
Hi,
We've pushed an update on our early access canary. It has updated the underlying platform (Electron v7) on which Postman is built. Do try it out and let us know

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-05-15 15:43] baileymatthewr commented on #5172
Awesome! Thanks Raja-Simha and team!

[2020-05-15 15:55] arlemi commented on #4952
@kendaop The ID are being updated upon importing the collection (any import = a new entity for Postman). More context around that here https://github.com/postmanlabs/postman-app-support/issues/4802#issuecomment-619438442

We're tracking ID-less export here: https://github.com/postmanlabs/postman-app-support/issues/2906

[2020-05-15 16:33] numaanashraf commented on #7342
We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-05-15 16:33] #7342 closed, assigned to harryi3t

[2020-05-15 16:46] ChrisHacker commented on #8455
Update: If I go into the Headers section and wrap the application/json Content-Type value in quotes, it works.

[2020-05-15 17:29] An-dy1 opened #8494 "Postman should allow me to create a new collection from my current tabs"
**Is your feature request related to a problem? Please describe.**
I'm working with a 90+ request collection and often want to take my current tabs and duplicate them into new collection. To do this now, I have to track down the original location of each request, duplicate, and move, or add requests to a new collection from my history.

**Describe the solution you'd like**
I would like Postman to

[2020-05-15 19:58] aakhan2021 commented on #5565
Is this working now? I tried to provide a console.warning inside a pm.test() and run using newman but it didnt displayed the warning . Below is the code snippet if you can help or someone
`H:\>newman run Postman/XYZ-Integration.postman_collection.json -e Postman/XYZ-Integration-Test.postman_environment.json --reporters html --reporter-html-export H:/postman/report.html`

[2020-05-15 20:11] ab-tools opened #8495 "Pre-request Script: Unable to Retrieve GraphQL Request Body String"
**Describe the bug**
Unable to retrieve GraphQL request body in pre-request script.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new `POST` query with a body type of `GraphQL` and add any simple query.
2. Add `console.log(pm.request.body.toString());` to the `Pre-request Script` section.
3. Execute query and watch `Postman Console`.
=> Only `Ø` is shown as output.

**Expected beh

[2020-05-15 20:24] kevinswiber commented on #8495
Hey @ab-tools,

You can log the GraphQL request body like so:

```console.log(pm.request.body.graphql)```

Hope that helps.

[2020-05-15 20:31] ab-tools commented on #8495
First thanks a lot for your quick reply, Kevin, much appreciated!

Unfortunately, that does not help - please see the `Additional context` part of my report:
I need to get the exact body of the request as string to be able to calculate a hash of it (which is included in a header) before the request is sent for a certain API.

Do you know a way of how to get the exact request body for a GraphQL req

[2020-05-15 20:42] kevinswiber commented on #8495
@ab-tools Hmm, maybe something like this?

[code]

[2020-05-15 21:01] ab-tools commented on #8495
First thanks again for your support, Kevin!

I've directly tried what you suggested and added additionally the output of the body string length:

    const body = pm.request.body.graphql;
    const requestBody = `query: ${body.query}\nvariables: ${JSON.stringify(body.variables)}`
    console.log(requestBody);
    console.log(requestBody.length);

In my test the body length is logged as `461`.

Whe

[2020-05-15 21:28] kevinswiber commented on #8495
This part is open source.  You can check here for how it builds the request body: https://github.com/postmanlabs/postman-runtime/blob/d02d8f6d8c1f9c622258c9e0782c11924550ed7f/lib/requester/core-body-builder.js#L249-L302

[2020-05-15 21:34] davidasbury commented on #8288
@preethammavin Postman is crashing when attempting to download large responses.

Postman Version 7.24.0
MacBook Pro, 2.6 GHz Quad-Core Intel Core i7, 16 GB RAM, macOS 10.15.4

Requests are successful, returning warning messages if response is >50MB. But after choosing "Send and Download" app crashes. Changing Max Response Size under Preferences produces no meaningful difference.

Any help apprecia

[2020-05-15 21:38] kevinswiber commented on #8495
@ab-tools Stealing that code, here's what I got, and I think it matches.  Give it a shot.

[code]

[2020-05-15 21:51] ab-tools commented on #8495
You're a genius, Kevin, can't say how much I appreciate you efforts here!
And yes, that really matches, great! :-)

Although this works absolutely fine as a work-around for myself now, I still keep this issue open here as I would expect that exactly this string gets returned when you use `pm.request.body.toString()`.

Additionally, I just noticed that the `graphql` request body type is completely

[2020-05-15 22:26] vdespa commented on #283
I have tested a full OAuth 1.0 workflow with Postman. While it does not work as well as OAuth 1.0 it is still usable.

I have created here a tutorial, in case anyone is struggling to get this to work:
https://www.youtube.com/watch?v=3gXPjj5iEAA

[2020-05-15 23:21] jimpudar commented on #3466
Still no autosave in 2020? Amazing!

[2020-05-16 01:57] ghost opened #8496 "Wish to add environmental or global scope pre-scripts support!"
**Is your feature request related to a problem? Please describe.**
I’m develop multiple spring boot micro service, and I use  basically  the same about pre-scripts. And each micro spring boot application corresponding
A collection. Each time I develop a new micro spring boot application, I create a collection of apis, I need to copy the pre-script to the collection.It’s annoying.

**Describe the s

[2020-05-16 03:00] kevinswiber commented on #8496
Hey @libo-0,

It is possible to share code between scripts.  It does require a little effort.  You can hit the orange New button, click Templates, and search for the "Sharing Code Between Scripts" template to get started.  Or you can just use the Run in Postman button here: https://explore.postman.com/templates/8359/sharing-code-between-scripts

Hope that helps.

[2020-05-16 03:37] libo-0 commented on #8496
Thanks for replying.
It looks like the solution you mentioned still need to do some effort to each request or collection to get the cod e to run. It's still not a convenient way.

[2020-05-16 03:39] zzswang opened #8497 "How to delete archived collections"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/1524745/82109567-ab542480-9769-11ea-9776-a90a930c04a4.png)

I want to delete archived collections. when call from api, it said

[code]

**Describe the solution you'd like**

Some ui to delete those archived collections.

**Describe alternatives you've considered**

Allow delete co

[2020-05-16 03:49] kevinswiber commented on #8496
Another option to get a more native development feel is to use postman-cli. Check it out: https://github.com/matt-ball/postman-cli. It’s still early, and it would be great to get feedback.

[2020-05-16 03:51] flprdrgs commented on #6353
Oh I been looking for this one.

Chai’s assertions have a built-in showDiff flag (chai.config.showDiff = true), but does not produce the diff itself, it’s up to the test runner to produce such output.

[2020-05-16 04:54] ouksal commented on #7010
Goodbye postman. Sign in sucks

[2020-05-16 05:59] rhzs commented on #4919
It's 2020, I think it is the same. I used postman extensively. Insomnia is still better experience when switching tabs. I am sorry but, you can feel it too. IMHO.

[2020-05-16 06:44] hfmm99 commented on #2541
Being able to keep versions of postman cases is very important, associate the changes to tickets, or so.  Please implement this feature for not regenerating the GUIDs on every export.  Thanks.

[2020-05-16 06:45] hfmm99 commented on #2541
Also, why is this closed without any response?  This issue was reported four years ago, and it hasn't been fixed yet

[2020-05-16 15:38] obukspan commented on #4905
Let me know if there’s a better place to chime in, but would also love to see enhancements to search functionality.

It looks like the original point above is for searching across pages (which would also be very cool) but even basic filtering of the left bar by endpoint / category name would make a big difference. This is some of the most frequent feedback we hear about our postman-hosted document

[2020-05-16 17:15] kamalaknn commented on #8362
Hey @ankita379

I'm assuming your JSON response contains a newline character. If there are newline characters in your JSON, accessing them through a browser or any other client that parses the JSON, they would be converted into newlines as you consume them. Here's an example snippet and its behavior in Chrome.

<img width="346" alt="Screenshot 2020-05-16 at 10 34 23 PM" src="https://user-images.gi

[2020-05-16 17:15] #8362 closed, assigned to kamalaknn

[2020-05-16 19:16] kamalaknn commented on #810
Pressing escape when inline editing request descriptions should now show a warning before removing the changes.

[2020-05-16 19:16] #810 closed

[2020-05-16 20:38] jimpudar commented on #255
I still don't think we have a good solution to this issue. I have a request which uses dynamic variables (e.g. `{{$randomInt}}`) and as far as I can tell there is no way for me to tell what random int got sent with a particular request by observing the history.

If I click the "Code" button and view the request as cURL or Python, I can see that the dynamic variable is replaced by the _current_ ver

[2020-05-16 23:55] codenirvana commented on #8493
@SelinMaryK Thanks for reporting this, we can reproduce this issue locally.
I will let you know once this is fixed.

[2020-05-17 00:13] codenirvana commented on #8287
@literakl This is happening because of the multiple  "Content-Length" response headers.
[code]

Although both the values are the same, this behavior is inherited from [Node.js](https://github.com/nodejs/node/issues/6517).

[2020-05-17 00:34] codenirvana commented on #3589
We've made significant improvements recently to handle large responses and this has been fixed in the latest version of the Postman app.

[2020-05-17 00:34] #3589 closed, assigned to sobtiankit, vkaegis

[2020-05-17 00:36] codenirvana commented on #4408
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/4408#issuecomment-501420609, we've made significant improvements to handle large responses and this has been fixed in the latest version of the Postman app.

[2020-05-17 00:36] #4408 closed, assigned to numaanashraf, vkaegis

[2020-05-17 03:40] kamalaknn commented on #6103
@JP-from-Postman We made some improvements to the response viewer section in one of our past releases. The search bar does not overlap the scroll bar now.

Here's a screenshot of how it looks now 😄
<img width="1051" alt="Screenshot 2020-05-17 at 9 09 21 AM" src="https://user-images.githubusercontent.com/8401064/82135246-1f500480-981e-11ea-8682-eca0700ca2b8.png">

[2020-05-17 03:40] #6103 closed, assigned to nobody

[2020-05-17 03:49] kamalaknn commented on #5773
Hey @chrisdeso

We made some improvements to certain actions on tabs. Closing all tabs does not automatically open an `Untitled Request` tab now. I hope this makes it easier for you to work with tabs in Postman 😄

[2020-05-17 03:49] #5773 closed, assigned to nobody

[2020-05-17 03:53] kamalaknn commented on #8437
Duplicate of #7099

[2020-05-17 03:53] #8437 closed, assigned to nobody

[2020-05-17 05:27] rrm415 opened #8498 "Extracting number from response body not working"
I am able to successfully extract a "string" from the response body and update that "string" in the environment variable.

**I am NOT able to extract a _number_ from the response body and update the number in an environment variable.**

Is this intentional?

To reproduce, find a number in a response you can extract and save to an environment variable. Then see if you are successful, I continuously

[2020-05-17 06:13] literakl commented on #8287
I know. But I would prefer if postman would display the content and showed
there error eventually.

Dne ne 17. 5. 2020 2:13 uživatel Udit Vasu <notifications@github.com>
napsal:

[2020-05-17 07:23] #8083 closed, assigned to sankalp0o

[2020-05-17 07:33] #8461 closed, assigned to nobody

[2020-05-17 07:42] shreys7 commented on #8438
@vadim-nilov With Postman 7.24.0, we have added support for configurable options for OpenAPI, GraphQL, Swagger and RAML imports. For using example values in the request instead of schema, you can use the `Request parameter generation` option. Set its value to example and the collection will pick the example's value if provided.
The options are available in the Import flow. Click on Import button o

[2020-05-17 08:19] pankajk07 commented on #3358
Just to set clear expectations regarding the previous [comment](https://github.com/postmanlabs/postman-app-support/issues/3358#issuecomment-628375224), we will only be fixing the syntax highlighting part wherein adding the comment in the JSON body will not show error in the editor.

[2020-05-17 09:51] CGJL commented on #8473
Okay pretty sure its a GNOME issue and not a Postman one.

[2020-05-17 09:51] #8473 closed, assigned to kamalaknn

[2020-05-17 15:29] sumithpdd commented on #3013
No fix for this issues. its 2020 now, HTTPS is mandatory

[2020-05-17 17:19] rrm415 commented on #8498
var jsonData = JSON.parse(responseBody);
postman.setEnvironmentVariable("CustomerID", jsonData.customerId);

[2020-05-18 00:01] ejain commented on #8135
I'm still seeing this issue with `7.24.0`.

[2020-05-18 01:48] xk0der commented on #7108
Use of "[Sessions](https://learning.postman.com/docs/postman/variables-and-environments/variables/#sessions-in-postman)" solves the use-case in question.
The initial value may be set to empty and users can use the "Current" value (with persist disabled) to keep secrets local only.

Private workspaces may be used to limit access to workspaces containing the collection/environment where secrets need

[2020-05-18 01:48] #7108 closed, assigned to vkaegis

[2020-05-18 03:30] benjamincox commented on #6351
+1

[2020-05-18 04:29] kamalaknn commented on #8494
@An-dy1 Thanks for the feedback.

If you want to duplicate a request that you are viewing in a tab into a new collection, you can use the "Save As" option. To do this, you can click on the dropdown next to the save button, as shown in the image below
<img width="979" alt="Screenshot 2020-05-18 at 9 56 46 AM" src="https://user-images.githubusercontent.com/8401064/82174391-29413880-98ee-11ea-9fa1-20

[2020-05-18 05:28] eugen1j commented on #6760
@daehee75 I have the same problem. Did you manage to solve it?

[2020-05-18 07:28] KreuzigTobias commented on #6498
Any Update here?

[2020-05-18 07:42] chirag-patel-sp commented on #7108
I see the "Ready" state, is this going to be available soon?

[2020-05-18 08:46] arlemi commented on #8486
@jeffrimko Good points. Could you update your first post to reflect these feature requests too? It'll make it easier for us to track later on.

[2020-05-18 09:53] arlemi commented on #2541
@hfmm99 The IDs are not regenerated on every export but on every import. If you're exporting the same collection multiple times you'll always see the same IDs.

If you'd like to keep the same IDs, look into how you can collaborate within Postman instead of outside of the app: https://learning.postman.com/docs/postman/collaboration/collaboration-intro/

We also have a feature request for ID-less ex

[2020-05-18 11:47] twitharshil commented on #5332
Hi @murtaza-asar-cox @Jaggle
Could you try out our early access Canary build? https://www.postman.com/downloads/canary/. We are testing some improvements that should address this particular issue.
You can install and use the Canary build side by side with the stable app. Do try and let us know

[2020-05-18 12:28] arlemi commented on #8498
@rrm415 You need to use `pm.environment.set();` instead.
You can also use `pm.response.json()` to get the response body.

E.g.:
[code]

See our Learning Center for more information: https://learning.postman.com/docs/postman/scripts/postman-sandbox-api-reference/#pmenvironment

[2020-05-18 12:28] #8498 closed, assigned to nobody

[2020-05-18 12:31] meetSuraj commented on #7010
@ouksal, we appreciate your feedback on your sign-in experience. Could you please share more details on the issue you experienced.

[2020-05-18 12:32] arlemi commented on #6498
We appreciate the support but please use the 👍 reaction on the first post to show it, replying with a +1 only sends unhelpful notification to all participants in the thread.

If/when we have any news to publish about this feature request we'll do so here. 🙂

[2020-05-18 14:22] cyrielle-hada commented on #8497
@zzswang the question of deleting archived collections was addressed multiple times, like here: https://github.com/postmanlabs/postman-app-support/issues/5457.

You should be able to delete the archived collections using the [Postman API](https://docs.api.getpostman.com/). GET [all your Collection IDs](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#3190c896-4216-a0a3-aa38-a041d

[2020-05-18 16:07] vdespa commented on #2302
It would be nice to this in Postman as currently there is no easy way of getting around this, apart from what @morrisond91 posted.

[2020-05-18 16:16] mcandre opened #8499 "Questions about machine-generated text files for request collection data"
Does Postman include a final end of line 0x0a UNIX terminator for collection JSON files? This way, files `cat` well and integrate with basic POSIX tools.

Would it make sense to generate `.min.json` files instead? That could inform development tools that this file is machine generated, and save a few bytes in VCS index as well.

[2020-05-18 16:26] vdespa commented on #4396
I am not sure if this has not been fixed. At least the following works for me in a pre-request script in Postman version 7.24.0.

[code]

[2020-05-18 18:11] JessePelton commented on #4396
That works if the authorization is specified per-request, but not if authorization is inherited from the parent. (I'm also running 7.24.0.)

[2020-05-18 19:45] zgirod opened #8500 "Copy request url from context menu"
**Describe the solution you'd like**
We reference the url of different requests in our tickets.  It would be super uber duper handy to have the ability to "copy url" from the context menu of a request.

![image](https://user-images.githubusercontent.com/252274/82253198-7806c680-991e-11ea-8729-a94fbf809bfd.png)

**Describe alternatives you've considered**
Right now you have to view the collection i

[2020-05-18 20:50] JP-from-Postman opened #8501 "Configure login method by role"
**Is your feature request related to a problem? Please describe.**
For a team who exclusively uses SSO to login to Postman, an administrator for this team may want individuals like team admins to have the option of logging in with email + password instead, in the event that something goes wrong with SSO login.

**Describe the solution you'd like**
Allow login method to be configured by role. For e

[2020-05-18 23:37] zzswang commented on #8497
1. the archived collections is in default team workspace.
2. failed to remove those collections with [DELETE the collection by Collection ID API](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#af648b8e-236c-b9e8-dd6c-3d7058d5c04b)

response

[code]

[2020-05-18 23:39] zzswang commented on #8497
I get the id from [LIST API](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#3190c896-4216-a0a3-aa38-a041d0c2eb72), and success to delete those not archived ones.

[2020-05-18 23:50] bmccreath opened #8502 "Collection Variables not returning in Mock Server Example Response Body"
**Describe the bug**
Collection Variables are not returned in the mock server example response body, while environment variables are. There should be no difference in behaviour between these variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mock server
2. In a sample request pre-request script, update the value of a collection variable
3. In an example response, use this va

[2020-05-19 02:54] codenirvana commented on #5958
@VicKetchup I understand your use-case but the workflow with `unset` or `clear` can't be tied with the auto-persist values setting, at least with the current concept of variable sessions.

However, we are building RBAC for the environment (available in canary), and for viewer role, it works exactly like how you described i.e, update/delete current values without affecting other users in the team.

[2020-05-19 02:54] #5958 closed, assigned to codenirvana, appurva21

[2020-05-19 04:05] smalltide commented on #8395
I meet the same issue, is there any fix plan?

[2020-05-19 04:07] preethammavin commented on #8288
@davidasbury assuming from your message that the response size is >50MB. Any chance you can tell me what the size of the response is?

[2020-05-19 04:43] hkdollar commented on #6760
No. It's still open issue. :(

[2020-05-19 04:47] daehee75 commented on #6760
No. It's still open issue. :(

[2020-05-19 04:53] daehee75 commented on #6760
No. It's still open issue.
![image](https://user-images.githubusercontent.com/21234550/82286142-f4111500-99d7-11ea-9996-c606fb9f721c.png)

[2020-05-19 05:57] vikiCoder commented on #2302
We are currently working on this. We are adding RSA signature methods for OAuth1 in the upcoming release of the Postman app. I will update here when it is released.

[2020-05-19 06:29] shivam-postman commented on #6850
Hey @VicKetchup, can you check whether the correct URLs are being displayed now?

[2020-05-19 06:34] xipho commented on #6242
+1 fro http/2

[2020-05-19 06:43] sivcan opened #8503 "Broken UI in the collection browser when the collection description is long enough"
**Describe the bug**
The UI in the collection browser is broken when the documentation of a collection is long enough.
The requests can be seen through (please refer to the screenshot), along with the `View Less` button appearing somewhere in the middle.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collection that has a really long description, you [can use this](https://explore.p

[2020-05-19 07:24] Raj-postman opened #8504 "Request to copy values from the request into the mocked response"
**Is your feature request related to a problem? Please describe.**
While using Postman Mocks - would like to include a value from the incoming request to the example response.

**Describe the solution you'd like**
Since it's not possible to define an Example response for every possible value of the string. Instead, would like to just define one Example responses but with the value of name copied f

[2020-05-19 09:26] skrivanos commented on #8040
+1

[2020-05-19 09:50] twitharshil commented on #7393
Hi @Redsandro
Could you try out our early access Canary build? https://www.postman.com/downloads/canary/. You can install and use the Canary build side by side with the stable app. Do try this out and let us know if the issue is fixed for you :)

[2020-05-19 10:07] rmtsrc opened #8505 "cURL import doesn't parse data binary text correctly"
**Describe the bug**
Importing a cURL command does not decode the text within the `--data-binary` argument correctly when it contains encoded characters.

**To Reproduce**
Steps to reproduce the behavior:
1. In Chrome DevTools, select the Network panel and right click copy a GraphQL request that uses a required variable and select copy as cURL
2. In Postman click Import > Raw Text and paste the cU

[2020-05-19 10:48] twitharshil commented on #8355
Duplicate of #https://github.com/postmanlabs/postman-app-support/issues/5302

[2020-05-19 10:49] #8355 closed, assigned to nobody

[2020-05-19 11:01] vvs11 commented on #8504
Duplicate of #6437

[2020-05-19 11:21] Spark3000 commented on #4401
Also. Cannot sync.

[2020-05-19 11:28] vvs11 commented on #8490
@Madhusudanpatidar Thanks for writing in! Could you post this question on our community http://community.getpostman.com/ to get quick help?

[2020-05-19 11:28] #8490 closed, assigned to nobody

[2020-05-19 11:35] twitharshil commented on #5122
Hi @webcoderkz
Could you try out our early access Canary build? https://www.postman.com/downloads/canary/. We are testing some improvements that should address this particular issue. You can install and use the Canary build side by side with the stable app.

[2020-05-19 11:44] maudrid commented on #3013
In the meantime, I have a work-around. If you use chrome develper tools, you can copy a request to your clipboard in curl format. And use the postman import from text function to run it from postman.

[2020-05-19 12:10] vvs11 commented on #8477
@chaffeqa you can use pm.environment.set("variable)key", ""); to unset a variable without deleting it from the environment. Along with this, you can use 'Automatically persist variable values' to choose whether you want to sync the variable or not. Let us know if that solves your use-case.

[2020-05-19 12:19] vvs11 commented on #8418
@neetgupta7 could you attach a screenshot or a video so that we understand the ask clearly?

[2020-05-19 12:35] vikiCoder commented on #8418
Hi @neetgupta7,

I am not fully understanding your issue. From what I understand, you are saying that clicking on `Get New Access Token` button shows information for the last generated token, right? Yes, that is correct. The information showed in `Get New Access Token` dialogue is not related to currently selected token in the request. It always shows the information you last updated while generat

[2020-05-19 12:49] twitharshil commented on #4764
Hi,
We've pushed an update on our early access canary channel. Do try it out and let us know if the issue is still reproducible on it.

You can get the canary app from https://www.getpostman.com/downloads/canary

[2020-05-19 12:53] twitharshil commented on #6249
Hi @j0r0

Could you try out our early access Canary build? https://www.postman.com/downloads/canary/. We are testing some improvements that should address this particular issue. Do try and let us know.

[2020-05-19 13:04] j0r0 commented on #6249
I think this is not valid anymore. I remember that the problem disappeared after some package updates.

[2020-05-19 13:04] #6249 closed, assigned to nobody

[2020-05-19 13:13] Redsandro commented on #7393
@twitharshil this works without crashing! :confetti_ball: :fireworks: :tada:

I'm 97% sure this will work fine since it didn't crash in the first 5 minutes. But I'll use it for a bit longer and see what happens.

@numaanashraf I had not forgotten about this. The affected computer is at the office, and today is the first day I'm back at the office since the announcement.

Let me know when this will

[2020-05-19 13:27] twitharshil commented on #8329
Hey @carboneater
You can easily unblock yourself by following these steps and then try to launch the app: -
Run the following command in terminal -
[code]
Postman is built on Electron that comes with Chromium and NodeJs support to build desktop applications. We have recently updated this platform dependency (Electron) in the above canary release. After updating to newer version we got a new Chromi

[2020-05-19 14:26] cyrielle-hada commented on #8497
@zzswang could you try these set of steps to delete the archive collection?

1. Generate an API key for the Postman API [here](https://app.postman.co/settings/me/api-keys).
2. Use the below cURL code to complete each action - just add your own key in place of {{your_api_key}}​.
3. GET all collections, to get the needed Collection UIDs. Please make sure you're using the collection UID and not the c

[2020-05-19 14:40] MosheElisha opened #8506 "Import / export cURL for request with multipart/form-data looses content-type of parts"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Import > Raw Text and paste the collowing cURL:

[code]

2. Click Continue and Import

**Expected behavior**
I would expect that the content type defined for each part (application/json and application/octet-stream) will be assigned into the CONTENT TYPE column.
Inst

[2020-05-19 15:00] cyrielle-hada commented on #8267
Closing this --> resolution for this issue can be found on this article: [How to resolve Could not Open Postman error](https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-)

[2020-05-19 15:00] #8267 closed, assigned to nobody

[2020-05-19 15:04] mronnblom-cint commented on #8504
#6437 seems to be about copying **query parameters or path segments** from the request to the response. This issue is rather about copying **JSON body fields** from the request to the response.

[2020-05-19 15:34] edwardkads opened #8507 "Postman 7.24.0 cannot be installed on macOS Catalina 10.15.2"
Postman fails to install on macOS catalina, fails with the error “Postman” can’t be opened because Apple cannot check it for malicious software.

**Steps to reproduce**
1. Go to https://www.postman.com/downloads/
2. Click on the download button (currently Version 7.24.0)
3. Double click on downloaded file to extract
4. Double click the extracted Postman app

**Expected behavior**
The App or the in

[2020-05-19 16:26] pss-miracle commented on #2773
@arlemi a few comments to note:
* Something being common / widespread does not equal to it being good for everyone. Even the history of mankind has a few notable examples of that.
* Implemented fixes are basically equal to symptom treating. The real need here is the ability for people to take control of the way they want to use their working environment. Just in the same way one would like to be i

[2020-05-19 16:59] sarbajitdutta commented on #4751
Same here with a json payload of 27mb.

![image](https://user-images.githubusercontent.com/16959056/82355672-87dee300-99d0-11ea-9583-c71227396087.png)

[2020-05-19 17:01] Ramya-From-Postman commented on #8395
@FabienDeborde, @smalltide  We have fixed this issue. Please verify the same and reach out to us incase the issue persists.

[2020-05-19 17:28] kamalaknn commented on #8507
Hey @edwardkads

Are you still seeing this issue? If yes, could you run the following command via Terminal and share the results?

`spctl --assess --type install {path-to-postman}/Postman.app/Contents/MacOS/Postman`

[2020-05-19 17:46] edwardkads commented on #8507
Hi @kamalaknn I was able to resolve the issue by  disabling the assessment rule. Thanks `sudo spctl --master-disable`

[2020-05-19 17:46] #8507 closed, assigned to nobody

[2020-05-19 17:58] arlemi commented on #2773
@pss-miracle I highly agree with your first point, and that's not what I meant to reflect here. The TL;DR of my post is that we're doing as much as we can to please the community, but we unfortunately cannot implement every feature request we get.

We appreciate every single piece of feedback we get but could do a better job at explaining how we qualify and act on it ([a la VSCode](https://github.

[2020-05-19 18:34] prakharvk commented on #8455
I am having same issue while sending JSON data through Postman, did you find any solution to this?

[2020-05-19 19:33] davidasbury commented on #8288
@preethammavin Yes, you're right. Failing with file sizes from 93MB to 287MB. Calls return a zip file. Not seeing any issues when using a browser for the call.
Thanks

[2020-05-19 19:55] dtate22 commented on #1996
Still having this problem.
- Trying the solution above
- Verified / Validated 5/19/2020 @ 3:52 pm

[2020-05-19 20:17] friedrich-brunzema opened #8508 "Make working with expiring OpenIDConnect tokens easier"
**Is your feature request related to a problem? Please describe.**
I'm frustrated by how hard it is to get an OAuth2/OpenIdConnect token into Postman, considering that tokens have very short lifetimes.

**Describe the solution you'd like**
I have written a command line utility that targets a specific IDP (keycloak) that gets me a valid token.  The utility pretends to be a web user-agent and puts t

[2020-05-19 21:01] michalfita commented on #8196
I've installed 7.24.0 today on Ubuntu 20.04 using Wayland and it doesn't start as well. Any attempt is silent.
I reported it on [https://forum.snapcraft.io/t/postman-7-24-0-on-ubuntu-20-04-dont-start/17601](snapcraft forum) too.

[2020-05-19 21:03] michalfita commented on #7881
I have the same not starting issue for snap 7.24.0 on Ubuntu 20.04. Reported on [https://forum.snapcraft.io/t/postman-7-24-0-on-ubuntu-20-04-dont-start/17601](snapcraft forum) as well.

[2020-05-19 21:11] michalfita commented on #7534
Same issue for me. :+1: for adding temporary workaround to the `.desktop` file in the snap.

[2020-05-19 21:22] arellanoemilio opened #8509 "Cannot import JSON collections anymore"
**Describe the bug**
I can no longer import previously exported Collections that were exported as JSON files  "Collection v2.1 (recommended)"

I am using Postman Version 7.24.0 64-bit on Windows 10.

**To Reproduce**
Steps to reproduce the behavior:
1. Right Click on a collection
2. From the pop up menu click 'Export'
3. From the pop up window export collection as 'Collection v2.1(recommended)' an

[2020-05-19 21:32] haardev commented on #8040
I think this is will be also great future! Its pretty annoying every time you have a PDF to save it and and manually open it. All of the modern browsers support view of PDFs in the page.

[2020-05-19 21:37] #8509 closed, assigned to nobody

[2020-05-19 22:26] jrmore opened #8510 "System Resource Excessive"
**Describe the bug**
A clear and concise description of what the bug is.
I am sorry I cannot provide a clear and concise description. All I have is.
After working most of the day (every day for the past 2 years) on a Lenovo desktop running Linux Mint 19.3 today my system fans turned on and kept running ( never noticed them before) so loud it did attract my attention. I was just editing a file at t

[2020-05-19 23:15] FabienDeborde commented on #8395
@Ramya-From-Postman I couldn't do extensive testing at the moment, but it seems it is fixed for us! Thanks a lot for the update!

[2020-05-19 23:31] JP-from-Postman opened #8511 "Hide variable values from those without edit rights"
**Is your feature request related to a problem? Please describe.**
A user may want to include credentials in a request for use by other members of their team, but may want to hide actual credential string from anyone other than (e.g.) administrators.

**Describe the solution you'd like**
Give the option to hide variable values from those without permissions to edit. For example: if a user doesn't

[2020-05-19 23:47] claspie commented on #7881
Snap version of Postman doesn't start.
Been unable to use Postman since I upgrade to Ubuntu 20.04.
Removed the Postman snap app and installed it back, still the same problem.

[2020-05-20 02:17] zzswang commented on #8497
@cyrielle-hada

Great, it works.

[2020-05-20 02:24] nils-work opened #8512 "Runner to show number of skipped tests"
**Is your feature request related to a problem? Please describe.**
I can't see a quick summary of the number of skipped tests in a run.

**Describe the solution you'd like**
Show some details for skipped tests in the same way as for Passed and Failed counts with the filter option on the left side to quickly review them.

**Describe alternatives you've considered**
Scroll through the long list of t

[2020-05-20 02:36] dylanh724 commented on #8288
Related: https://github.com/postmanlabs/postman-app-support/issues/4751

[2020-05-20 03:33] rhaseven7h commented on #7700
Just tested it to Oauth2 for a Web app in Auth0. Worked flawlessly.
💯 🥇

[2020-05-20 04:05] akhsiM commented on #8288
The above workaround has been good for me. However it would be great if this issue could be fixed.

I have been using Postman fine as most responses aren't 20MB in size.

[2020-05-20 05:10] eugen1j commented on #6760
@daehee75 I manage to solve the problem here https://github.com/ajaxorg/ace/issues/4300

TL;DR: I had broken font `Monaco` on my computer.

[2020-05-20 05:42] daehee75 commented on #6760
I fixed font Monaco and solved the problem on your information.

Thank you, @eugen1j.   👍

[2020-05-20 06:05] codenirvana commented on #8466
Closing as duplicate of #4808

[2020-05-20 06:05] #8466 closed, assigned to nobody

[2020-05-20 06:13] michalfita commented on #7881
@claspie Try: `DISABLE_WAYLAND=1 snap run postman`
Works in my case.

[2020-05-20 07:25] numaanashraf commented on #8431
This has been resolved. Closing.

[2020-05-20 07:25] #8431 closed, assigned to nobody

[2020-05-20 07:44] #8497 closed, assigned to cyrielle-hada

[2020-05-20 08:26] smalltide commented on #8395
@Ramya-From-Postman

It works well for us now.
Thanks

[2020-05-20 08:33] #8395 closed, assigned to vvs11

[2020-05-20 08:34] arlemi commented on #6760
Thanks for investigating and letting us know @eugen1j ! Closing this issue now.

FYI we'll soon move that editor to use `Monaco editor` instead of `Ace editor`.

[2020-05-20 08:34] #6760 closed, assigned to kamalaknn

[2020-05-20 08:46] arlemi commented on #8510
We're centralising these reports in #7294, I'll close this one and we can follow up there.

In the meantime could you please retrieve the logs and forward them to help@postman.com?
See [Where can I find logs for the Postman app](https://support.getpostman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-).

[2020-05-20 08:46] #8510 closed, assigned to nobody

[2020-05-20 08:47] arlemi commented on #1996
@dtate22 See #7294

[2020-05-20 08:52] FaimMedia commented on #8040
+1

[2020-05-20 09:18] andrew-property-xyz commented on #3646
Need crypto in sandbox. All google cloud APIs require OAuth2 tokens signed using RS256. The workaround of using eval(pm.globals.get('jsrsasign-js')) does not work for me. Completely stumped and now looking at other tools to deliver automated testing of my APIs. Clearly this is not a priority and would love to understand the thinking behind supporting crypto-js when RS256 is so commonly used...

[2020-05-20 09:29] arlemi commented on #3646
@andrew-property-xyz There are a few options to import external libraries, see:
- [Fetching an external library](https://postman-quick-reference-guide.readthedocs.io/en/latest/libraries.html#custom-libraries)
- [Postman External Require](https://github.com/matt-ball/postman-external-require)

[2020-05-20 09:36] Raj-postman commented on #6022
@BertusVanZyl Apologies for the delay in our response. May I know if you are still facing this issue using the latest version of the application (v.7.24.0)?

[2020-05-20 09:57] ash007-postman commented on #7333
@chore7 I hope that we were able to resolve the reported issue. I will be closing this thread. Feel free to revert for any further assistance.

[2020-05-20 09:57] #7333 closed, assigned to ash007-postman

[2020-05-20 10:02] BertusVanZyl commented on #6022
Hi there. I just installed the latest version, and did a quick analysis.

After installing the latest version, this is the situation.

When searching for "Postman" in windows this is the result:
![image](https://user-images.githubusercontent.com/2371314/82432932-026f3780-9a91-11ea-9d2a-e9ea08c7a9fd.png)

The problem is that there are two links to choose from. One works, the other does not, and win

[2020-05-20 10:27] andrew-property-xyz commented on #3646
Hi Arlemi - thanks for getting back to me. With a little more perseverance, I managed to resolve the issue I was having and now have the 'jsrsasign-js' library imported and working. Whose idea was it to have both an underscore and a hyphen in our language...! ;) (it wasn't quite as simple as that but it was the first hurdle)

[2020-05-20 10:31] numaanashraf commented on #6022
@BertusVanZyl This looks like the link for `Postman for Chrome`. Could you check whether you still have the deprecated Postman for Chrome installed on your system? You can check via visiting `chrome://apps/` on Chrome.

[2020-05-20 10:31] #6022 closed, assigned to Raj-postman

[2020-05-20 10:33] arlemi commented on #3646
Glad you got it working @andrew-property-xyz ! If you have a code sample/collection to share I'm sure people in this thread would also be grateful. 😄

[2020-05-20 10:45] BertusVanZyl commented on #6022
Postman for Chrome was not installed in chrome. I have no idea why the link got orphaned, but at this point I don't think it matters anymore.

[2020-05-20 12:08] davidepedranz commented on #492
Any update on this issue? This feature would be amazing for organizations running services on Google Cloud Platform and using [Identity Aware Proxy](https://cloud.google.com/iap/) to protect internal  services 🤔

[2020-05-20 12:43] SergioTx commented on #7419
Having same issue in spanish version. Same shortcuts in the config and same shortcuts to make it work.

[2020-05-20 12:44] ayr-ton opened #8513 "error: snap "postman" has no services"
**Describe the bug**
Installed snap in Ubuntu 20.04 and got the error `error: snap "postman" has no services`

**To Reproduce**
Steps to reproduce the behavior:
1. Using Ubuntu 20.04, run `sudo snap install postman`
2. Should get a success install message
3. Ran `sudo snap logs postman`
4. See `error: snap "postman" has no services`

**Expected behavior**
To have default installation working as ex

[2020-05-20 12:45] ayr-ton commented on #8513
Discussion in snapcraft.io forum:
https://forum.snapcraft.io/t/postman-7-24-0-on-ubuntu-20-04-dont-start/17601/2

[2020-05-20 13:21] #1860 closed, assigned to numaanashraf

[2020-05-20 14:16] AndyRiedel commented on #2646
I'm having the same issue as @stefanJ-hub but on Windows 10

[2020-05-20 14:52] SabriH10 commented on #8455
@prakharvk Could you share some screenshots and more information on how you are making the POST request? ( omitting any sensitive information of course) I couldn't reproduce this issue on macOS.

Is this issue reproducible when using Postman Echo? https://docs.postman-echo.com/?version=latest. Thanks and looking forward to your response!

[2020-05-20 15:48] SabriH10 commented on #7222
Hi @mirza-shazif,

I'll go ahead and close this for now. It doesn't look like http://developer.staples.com/apis is accessible. If you still require some assistance, please feel free to re-open and comment with additional information accessed above, and we'll be happy to help.

[2020-05-20 15:48] #7222 closed, assigned to himanshu226, SabriH10

[2020-05-20 15:55] aangrisani commented on #4009
+1

[2020-05-20 16:01] aetonsi opened #8514 "Sync breaks variables"
**Describe the bug** / **To Reproduce**
I have 2 machines with postman installed.
If i do "heavy" editing of the environment/global variables (move, add, delete, rename a lot of them) on a single machine, everything works correctly.
As soon as i open up postman on the second machine, sync starts and everything gets scrambled: variables get wrong values, wrong placement, some variables are added/de

[2020-05-20 16:11] aetonsi commented on #5318
Hi, i just encountered this problem.

A temporary workaround for everyone who wants to import some globals which have been dumped as a separate environment:
- open the exported data json dump
- copy the "values" property of the "<your project name> - globals" environment
- "export as json" your current globals in postman
- edit the exported globals json file: add/replace the "values" copied before

[2020-05-20 17:27] catchsvix opened #8515 "Client certificate matching must match by most explicit first or postman should allow reordering of certificates"
**Describe the bug**
Client certificate selection currently appears to be based on the order in which certificates were added (given host url matches pattern). It should be based on closest match to the url instead. Given certs can't be reordered, this causes an adverse usability issue.

**To Reproduce**
1. create 2 sets of certificates (or same cert/key, different names so you can tell the differ

[2020-05-20 17:30] catchsvix commented on #8515
Idea to fix:
- find all candidates first based on host pattern (don't stop at first match)
- pick the closest using Levenshtein distance

Simple idea, should work given people aren't likely to have thousands of certs configured with various host patterns.

[2020-05-20 17:33] codenirvana commented on #8515
@catchsvix That's the expected behavior, however, I am marking this as a feature request to reorder the client certificates list.

[2020-05-20 18:54] gigaimage opened #8516 ""Check for updates" is closing SETTINGS window first, it should not."
**Describe the bug**

Regardless of update available or not (latest already installed), Check for updates action should not close entire SETTINGS screen. Not only it's functionally incorrect but not a user-friendly workflow as it forces to start all over with extra clicks to reopen SETTINGS.

**To Reproduce**
**Pre-condition: Latest version is installed. No updates available.**

Steps to reproduce

[2020-05-20 18:59] davidasbury commented on #8288
Thanks @akhsiM
Unfortunately, changing the Max Response size has had no effect for me. Responses >50 MB still cause the application to crash ungracefully.

[2020-05-20 19:41] smccue commented on #4253
Still not there in Mac desktop Version 7.23.0 (7.23.0). This is pretty ludicrous: sorting by name is easy, and exists in basically every other application where there is a list. *And* you used to have it.

[2020-05-20 19:47] a-gehlot commented on #2646
As a new user who ran into this problem when testing an HTML form, and didn't realize what it was for hours, could someone explain to me what the security issue is in layman's terms? Why does Chrome allow the HTML submit button to work properly if it's a security issue? Thanks.

[2020-05-20 20:45] nikandlv commented on #2646
This issue has been going for more than 3 years. i made a patch for it last year and worked well but the updates broke it.

Its a truly an important feature that we need and postman team is not listening.
All we demand is a toggleable setting for this mode for savvy people
Till then me and my team moved to **insomnia** and its been a breeze

So simply they don't care what we need, they care about

[2020-05-20 21:49] seba-i commented on #4817
Me too - last 2 days when I open console (click on taskbar icon) it just sits there spinning. Just restarted Postman and now console shows "Something went wrong" message (no details).
Using latest Mac.

[2020-05-20 22:31] SabriH10 commented on #6617
Hi @ggpai,

Seeing as it has been a while here, I just wanted to let you know I'll go ahead and close this if that's alright with you. If you still need help, please feel free to re-open this issue, and we'll be happy to help!

[2020-05-20 22:31] #6617 closed, assigned to cyrielle-hada, SabriH10

[2020-05-21 01:40] daehee75 commented on #6760
Thank for your information @arlemi

[2020-05-21 01:47] here2thrive960 opened #8517 ""Sending Request" times out, no response for GET request."
**Describe the bug**
Using a MEAN stack application. Checking the routes to the mongo database. When I send the get request in Postman, it gets stuck "sending request" and then just times out.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Node/Express server in terminal
2. Start mongo, and make sure server is still activated error free
3. Logged on to Postman
4. Sending a GET request

[2020-05-21 02:23] laurie-dgit opened #8518 "Mac OS Services Menu Items Given Truncated Text"
**Describe the bug**
Mac OS Services menu items are given truncated text to operate on.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Request
2. Run the request
3. Select all of the body text in the response tab when it's returned.
4. Select menu Postman -> Services -> New Email with Selection (for example).
5. Email window opens with text truncated in the middle with ellipsis.

Dif

[2020-05-21 03:43] devinnicholson commented on #8288
I'm seeing the same issue-- tried changing the response time as well and nothing. The max I can get a csv file is about 120MB. Any more and it crashes.

[2020-05-21 06:23] twitharshil commented on #7935
Hi @DragonMeme
Could you try out our early access Canary build? https://www.postman.com/downloads/canary/. We are testing some improvements that should address this particular issue. You can install and use the Canary build side by side with the stable app.

[2020-05-21 06:46] codenirvana commented on #8517
Can you share the steps which we can use to reproduce this issue?

Also, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2020-05-21 07:49] dhamijad opened #8519 "'Close all tabs to the left', 'Close all tabs to the right' option for current request tab"
**Is your feature request related to a problem? Please describe.**
When working with multiple requests open in several tabs, it gets frustrating sometimes to manually close multiple request in order to keep only the requests that are needed (Say I need only 5 open requests, but I had about 20 requests open for different scenarios that I was testing)

**Describe the solution you'd like**
When worki

[2020-05-21 09:12] jizuzqui opened #8520 ""Something Went Wrong" error screen shown when trying to get "Run summary" from "Collection Runner >> Run Results""
**Describe the bug**
"Something Went Wrong" error screen is shown when trying to get "Run summary" from "Collection Runner >> Run Results" after executing a Collection Runner.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any Postman Collection for a while.
2. Stop the Runner.
3. Open Run Results.
4. Click on "Run Summary". The "Something Went Wrong" window will be shown.

**Expected b

[2020-05-21 12:00] icodetheworld commented on #2853
+1

[2020-05-21 12:53] bharatramawat28 opened #8521 "how to automate send and download for downloading files?"
I have a api where a docx file is to be downloaded but the response comes out in octet stream . When i use send and download then it is working fine. I want to automate this so then when i run collection the file is to be downloaded automatically. How can i do that?

[2020-05-21 12:58] arlemi commented on #8521
@bharatramawat28 Please ask that question on our Community forum https://community.postman.com/ where people will be able to help. 😃

[2020-05-21 12:58] #8521 closed, assigned to nobody

[2020-05-21 13:04] danialcheung commented on #1066
Bump. Seems like our requests have fallen on deaf ears.

[2020-05-21 13:32] RichieMerchant opened #8522 "desktop app freezes and UI becomes unresponsive"
**Describe the bug**
The application fails to respond to any click. The whole app is unresponsive

**To Reproduce**
Steps to reproduce the behavior:
1. Open the desktop app
2. Run a request
3. Leave the app to go idle (length of time is not known, it varies 1 hour, 1 day)
4. Tab back to desktop app and you are unable to interact with the UI

**Expected behavior**
Should be able to interact with th

[2020-05-21 13:59] EllaVish opened #8523 "Converting YAML file to API collection generates examples based on responses only."
Hello,

I created a small yaml file, containing 2 examples of content.
My propose is to use a collection via postman and choose different examples, containing different values in order to cover several use-cases.

When yaml code is edited in the swagger editor, i can see my examples and choose between them:
![hhh1](https://user-images.githubusercontent.com/64786367/82565223-b69cbb00-9b82-11ea-9500

[2020-05-21 15:23] andrewzuk commented on #982
Any updates on this?

[2020-05-21 15:39] StrohmyerTR commented on #4808
---------------------------------------------------------------------------------------------------------------

Any updates on this? This comment is from one year ago.

It confuses me as to why the request body is immutable when nearly everything else is in the pm.request object.

Please post an update on this with a timeline and/or a solid "we're not going to implement this".

Thanks.

[2020-05-21 16:17] twitharshil commented on #6485
Duplicate of #https://github.com/postmanlabs/postman-app-support/issues/5302

[2020-05-21 16:19] twitharshil commented on #5294
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5302

[2020-05-21 16:19] #5294 closed, assigned to twitharshil

[2020-05-21 17:06] vvs11 commented on #982
This is in our roadmap and we'll be working on it soon

[2020-05-21 19:44] chrismaddern opened #8524 "Public documentation sidebar links to anchors JUST too low"
**Describe the bug**
When tapping on a request in the sidebar on a public documentation site, the anchor always navigates you to a location that's _just_ too low, i.e. putting the title just under the header bar.

<img width="700" alt="Screen Shot 2020-05-21 at 3 43 45 PM" src="https://user-images.githubusercontent.com/1068437/82599191-ded3ec00-9b79-11ea-823c-c7927b3341aa.png">

**To Reproduce**
S

[2020-05-21 20:00] sabuncu commented on #6556
Is a copy of the file saved under the Postman cloud account for the user?  That is, is it sync'ed to the Postman cloud account?  Is this a feature?  It would make running a request much easier for others.
Thank you.

[2020-05-21 20:01] vvs11 commented on #8520
@jizuzqui could you share the details of the collection that you're running? How many requests are there and how many iterations are you running? Also, what are the runner configurations that you're using?
I tried to reproduce this with a collection of 5 requests but couldn't. It'd be really helpful if you can share more details

[2020-05-21 20:31] jizuzqui commented on #8520
@vvs11 sure, I'm not currently using the laptop where I reproduced it but tomorrow I'll try to share all the details you've mentioned

[2020-05-21 20:50] ashwinchalaka commented on #8517
@codenirvana I have detailed the instructions in the posting as per the instructions of the template.

[2020-05-21 21:15] sylvester-rubidium commented on #6722
I'm surprised this functionality doesn't exist. API specs are the heart and soul of rapid prototyping. Having to recreate docs, mocks, tests, and other artifacts when the spec changes are the antithesis of the desired workflow. Man, I hope this gets fixed. Kinda a dealbreaker for using Postman during the API design phase :(

[2020-05-21 22:00] biyiklioglu commented on #4791
+1 this feature would be very helpful

[2020-05-22 01:26] shamasis commented on #8517
The dev tool console you posted screenshot of is not the console that outputs request error. Can you post what error you see in Postman Console - you’ll find it from menu as well as third icon on the bottom status bar of app.

[2020-05-22 03:40] chen-yi-tester opened #8525 "same request get deffrent results between Collection Runner and the Tab"
**Describe the bug**
i can get the right response of a request with clickling the 'send' button,but when the request runs in the Collection Runner ，the parameter is mistaken.

**Screenshots**
request in the Tab
![image](https://user-images.githubusercontent.com/57658722/82628849-8e639980-9c20-11ea-88a5-596aceb27d6a.png)

request  console  in the Runner
![image](https://user-images.githubuserconten

[2020-05-22 03:51] codenirvana commented on #8525
@chen-yi-tester Probably you haven't selected the right environment before starting the run.

<img width="469" alt="Screenshot 2020-05-22 at 9 15 43 AM" src="https://user-images.githubusercontent.com/4865836/82629324-fb6d3400-9c0c-11ea-8517-1f231795b5ca.png">

I see the `host` variable is resolved correctly but not `LEVEL3_AGENT_ID`.
But, how does `LEVEL3_AGENT_ID` gets converted to `level3_agent_

[2020-05-22 06:00] chen-yi-tester commented on #8525
Thanks for your attention , i never use any enviroment,and my parameters are all global. I use capital worlds because they are constants

[2020-05-22 06:14] codenirvana commented on #8525
That's odd... Can you share a scaled-down collection (or steps) which we can use to reproduce this issue?

[2020-05-22 07:14] chen-yi-tester commented on #8525
What should i do to share a scaled-down collection (or steps) with you ?

[2020-05-22 07:55] benydc commented on #3137
+1 needing this!

[2020-05-22 08:34] arlemi commented on #3137
That issue is closed, please refer to that feature request and add a 👍 on the first message if this is something you'd like to see!
https://github.com/postmanlabs/postman-app-support/issues/5147

[2020-05-22 09:32] arlemi commented on #6722
Glad you're bringing this up @sylvester-rubidium ! 😀

We've started iterating on that feature and are looking for early feedback from users. Since this issue is full of users with good use-case for it we thought we'd ask here first.
The session would be 45mins (over Zoom), starting with a short interview on how you use the API Builder and what you expect to achieve with it, followed by a usability

[2020-05-22 12:24] scottdock opened #8526 "Not able to create cookie for localhost"
**Describe the bug**
Using Version 7.25.0 of Postman for Windows (on Windows 10), I am not currently able to add a custom Cookie for localhost domain (with or without a port).

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Postman
2. While editing a new GET or POST API, click on the Cookies link on the far right of the submenu items
3. If localhost domain does not exist, then add it

[2020-05-22 12:35] numaanashraf commented on #8130
@gingters This is available in v7.25 :)

[2020-05-22 12:35] #8130 closed, assigned to nobody

[2020-05-22 12:43] scottdock commented on #8526
I found the issue. I was copying a Cookie value from our website on another environment BUT I failed to change the Domain setting at the end of the cookie.

Having said that, it would be nice if the UI notified you of the discrepancy as a validation error instead of blindly NOT saving the cookie.

[2020-05-22 13:41] pankajk07 commented on #8503
This is fixed as part of `v.7.25`.

[2020-05-22 13:41] #8503 closed, assigned to Raja-Simha

[2020-05-22 13:42] pankajk07 commented on #8488
This is fixed as part of `v.7.25`.

[2020-05-22 13:42] #8488 closed, assigned to nobody

[2020-05-22 13:49] vvs11 commented on #8504
Keeping it open as a feature request.

[2020-05-22 15:07] vvs11 commented on #7484
@johanlunds closing this for now. Please feel free to open this

[2020-05-22 15:07] #7484 closed, assigned to johanlunds, vvs11

[2020-05-22 15:10] vegabook commented on #6252
bump

[2020-05-22 15:14] codenirvana commented on #8525
@chen-yi-tester we need steps or a collection which we can use to reproduce this issue locally.

[2020-05-22 16:16] tylers-username opened #8528 "Add selectable preset values for query param, headers, or body values"
**Is your feature request related to a problem? Please describe.**
The only problem is efficiency :smiley:

**Describe the solution you'd like**

Given a user needs to frequently update query param, header or body form values
And has previously provided values
When changing the value next
Then previous values should populate as options
And user preset values should populate as options

**Describe

[2020-05-22 17:57] ashwinchalaka commented on #8517
![image](https://user-images.githubusercontent.com/29413045/82695907-d97aae00-9c1a-11ea-977f-67a3dd11f1fb.png)
![image](https://user-images.githubusercontent.com/29413045/82695976-f9aa6d00-9c1a-11ea-9e84-3aed109da445.png)
![image](https://user-images.githubusercontent.com/29413045/82696012-0c24a680-9c1b-11ea-84e3-2e30e7d6a704.png)

[2020-05-22 18:59] fenoloco opened #8529 "https://github.com/postmanlabs/postman-app-support/issues/8353"
Ticket on the title is not solved and you are closing issue without proper investigation.

[2020-05-22 19:34] vvs11 commented on #6596
We have released role-based access control on environments with app v7.25. This will give you more control over how you use environments in a team. Please upgrade your app and try it out. Here's the documentation
https://learning.postman.com/docs/postman/variables-and-environments/managing-environments/#working-with-environments-as-a-team

Do let us know your feedback :D

[2020-05-22 19:34] #6596 closed, assigned to vkaegis, sankalp0o

[2020-05-22 20:39] lrobledo commented on #5391
+1 for this issue.

We use the Postman API to update our Postman collection. We have a RIP button on our docs page. When the collection gets updated via the API I can see the changes:
- in the Postman App
- via the Run In Postman button through our [Postman docs page](https://learning.postman.com/docs/postman/api-documentation/documenting-your-api/),

But NOT through our Run in Postman link that I

[2020-05-22 20:42] lrobledo commented on #5391
Please let me know if there's any information you need from me to help resolve this issue. It would be a HUGE win for me and I'd be stoked to see it happen.

[2020-05-22 21:08] ColdCerealAtWork opened #8530 "Search in the environment variables"
**Is your feature request related to a problem? Please describe.**
Some of my environments are very large and its frustrating to dig through them to find a single variable.

**Describe the solution you'd like**
I'd love a search box that does a live filter of your environment variables

**Describe alternatives you've considered**
Setting variables as favorites, categorizing them, or alphabetizing

[2020-05-22 21:22] SabriH10 commented on #8530
Hi @KristianAtVsp,

Have you tried using the Global search function? Perhaps you may find it useful for your case. If you go to the [Keyboard Shortcuts modal]:(https://learning.postman.com/docs/postman/launching-postman/keyboard-shortcuts/#view-keyboard-shortcuts-for-your-os)

![image](https://user-images.githubusercontent.com/62078336/82710188-48262e80-9c50-11ea-8051-4c48b17480f4.png)
And scroll

[2020-05-22 22:08] jlarrieux commented on #3234
Can I get access to that url programmatically? I need to create a hmacSHA256 signature with the url (which includes a Epoch timestamp in the query param). So must generate that timestamp on the fly and add to query param, but need that fully resolved url to create my signature. :(

[2020-05-23 04:14] DonBakke opened #8531 "HTTP Code for multipart/form-data"
**Describe the bug**
When testing an API that requires multipart/form-data content, the Code tool display incorrect results for HTTP.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the Content-Type request header value to "multipart/form-data; boundary=<calculated when request is sent>"
2. It helps if you have another request header, like Cookie.
2. POST a request to a URL.
2. Click on

[2020-05-23 05:43] nelreina commented on #1380
see comments of @aaronr93

[2020-05-23 05:43] #1380 closed, assigned to vkaegis

[2020-05-23 06:46] SONAL48 opened #8532 "POST call to an API generates different results"
**Describe the bug**
I made a POST call to an API and the headers were imported.There are 11 headers that should have appeared in the Header Section but unfortunately I see 20 headers (9 hidden headers) which gets added on it's own in POSTMAN.When the same call was made via Postman (Extension available on Google,I received status code 200).Why so?

**To Reproduce**
Steps to reproduce the behavior:

[2020-05-23 07:34] vvs11 commented on #7313
@DallasAnderson closing this for now. Please feel free to reopen if you need anything else around this issue

[2020-05-23 07:34] #7313 closed, assigned to vvs11, codenirvana, saswatds

[2020-05-23 09:01] chen-yi-tester commented on #8525
https://www.getpostman.com/collections/f1270e72f1a9694c0fc5

[2020-05-23 11:55] kamalaknn commented on #8522
@RichieMerchant thanks for reporting this. This looks like a duplicate of #8135.

We have rolled out some improvements on the [canary channel](https://www.postman.com/downloads/canary/), that should address this particular issue. We will keep the main issue updated when the fix is rolled out to the stable channels.

[2020-05-23 11:55] #8522 closed, assigned to harryi3t

[2020-05-23 12:13] ravibisht commented on #555
r

[2020-05-23 12:14] ravibisht commented on #555
ravi

[2020-05-23 12:18] codenirvana commented on #8525
@chen-yi-tester No, the variables are not defined.
Can you create a test collection using some [echo endpoint](http://postman-echo.com/) to demonstrate this issue?

[2020-05-23 17:05] mrz1836 opened #8533 "Unable to publish documentation"
**Describe the bug**
1) Created a new version, edited some requests, saved changes to the new version
2) Went into the documentation publisher interface, choose my new version, and hit publish

**To Reproduce**
Steps to reproduce the behavior:
1. Go to our API documentation and choose a new version, hit publish

**Expected behavior**
The new version to be published, which it was not published.

**

[2020-05-23 18:08] vdespa opened #8534 "Mock Servers: Adding headers to the client request anti-pattern"
**Describe the bug**
While I am very happy that the Postman Mock functionality has been improved, I would still like to raise awareness about something I consider to be an anti-pattern.

**To Reproduce**
Currently, to get a specific behavior, you are forced to add some headers, like "x-mock-match-request-body" to match the body.

Other examples:

- `x-mock-response-name`
- `x-mock-response-id`
- `

[2020-05-23 21:23] bhargavkaranam commented on #8533
Hi @mrz1836,
This is a known issue that we're tracking when you try to publish the collection to API Network with your Team Public Profile disabled. Can you let us know if you're trying to publish the collection to API Network too?

You can check that based on the toggle on the Documentation Publish Page (Collection Discovery)

![image](https://user-images.githubusercontent.com/8963298/82740794-aa

[2020-05-23 22:27] vasilvestre commented on #7615
This is actually more than needed https://github.com/microsoft/winget-pkgs/pull/894
Non-support of silent install reduce possible future installs.

[2020-05-23 22:53] Maokei commented on #7852
I also had issue with postman and wayland, works DISABLE_WAYLAND=1 snap run postman

[2020-05-24 00:52] seizir opened #8535 "Two-pane view makes the entire UI extremely slow"
**Describe the bug**
Two-pane view makes the entire UI extremely slow when a text editor is displayed.

**To Reproduce**
Enable two-pane view.
Switch to a tab that uses the Monaco text editor (Pre-request, Tests, response body)
Try interacting with other elements of the UI such as dropdowns or resizing the panes.
See video for example. https://streamable.com/ewhr3s

**Expected behavior**
The UI sh

[2020-05-24 01:07] mrz1836 commented on #8533
Yes the "Collection Discovery" was enabled.

I now just disabled "Collection Discovery" and tried to publish and did not receive an error

[2020-05-24 06:05] danielmhanover opened #8536 "Importing GraphQL Collection -> Error while importing GraphQL: Could not generate collection. Error Message:Maximum call stack size exceeded"
**Describe the bug**
While importing my GraphQL Collection, I get a maximum call stack size exceeded error.

**Expected behavior**
No Error

**Screenshots**

**App information (please complete the following information):**
 - Native App
 - 7.25.0
 - macOS latest

**Additional context**
Add any other context about the problem here.

[2020-05-24 08:34] umeshp7 commented on #8536
@danielmhanover
Thank you for reporting this.
Can you provide us more details of the GraphQL schema you are trying to import? Will be great if you can share the schema here or send it to us on help@postman.com

[2020-05-24 14:15] dbhat6 commented on #4009
+1
Please add this into Postman!

[2020-05-24 15:24] rcmonitor commented on #798
Still looking for ability to load local file into string variable in pre-request script

[2020-05-24 18:51] vdespa commented on #4396
Thanks for clarifying, @JessePelton - I have missed that aspect.

[2020-05-24 21:21] danielmhanover commented on #8536
Sent!

[2020-05-24 21:21] danielmhanover commented on #8536
@umeshp7 just sent it with the URL of this issue in the subject line. Let me know what the issue is here

[2020-05-25 03:23] chen-yi-tester commented on #8525
I have tried useing the echo endpoint ,it didnt demoinstrate. May i send the collection link and My Workspace.postman_globals.json to your own email_address?

[2020-05-25 06:08] xanto521 opened #8537 "Unnecessary quotes around encoded filename* parameter"
**Describe the bug**
When I was using this app, I found that the file name I uploaded in the form would have a double quote symbol in the file name obtained in the back end

**Screenshots**
this is the app ui
![微信截图_20200525135443](https://user-images.githubusercontent.com/25278688/82782619-50b87800-9e8f-11ea-8012-12b9321864ae.png)

this is  python flask function request.files.get() get
![微信截图_202

[2020-05-25 07:17] praveendvd commented on #8530
This won't show the content of the variable , again we have to scroll through everything

[2020-05-25 09:51] phamnamlong commented on #2719
I think this feature is broken now. Not sure if it can be fixed soon.

Right now there is still a link to Postman Favicon and somehow it takes precedence.
 
--
<link rel="shortcut icon" href="https://res.cloudinary.com/postman/image/upload/v1590399973/team/kgpvzzrhyabmcimcvkbd.ico" />
  | <link rel="shortcut icon" href="/favicon.ico" />
  | <link rel="shortcut icon" href="https://res.cloudinary.co

[2020-05-25 10:39] alex88 commented on #8509
@arellanoemilio did you find a solution for this?

[2020-05-25 10:47] alex88 opened #8538 "Cannot set property id of undefined when importing a collection"
**Describe the bug**
Importing a collection just exported from postman doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Exportt a collection
2. Import it again
3. See error

**Expected behavior**
I doesn't throw an error

**App information (please complete the following information):**
 - Native App
 - 7.25.0
 - macOS Catalina 10.15.4

**Additional context**
Logs show:

[code]

I

[2020-05-25 10:47] WebXplorer opened #8539 "SurveyMonkey API V3 is no longer working"
**Describe the bug**
SurveyMonkey API V3 is no longer working.

Currently the urls point to https://api.surveymonkey.net/v3 and that doesn't work anymore. It does work when I change it to https://api.surveymonkey.com/v3

The error I get is: Error: getaddrinfo ENOTFOUND api.eu.surveymonkey.net api.eu.surveymonkey.net:443

PS. It would also be nice to have a EU variant of the API. This should set th

[2020-05-25 10:50] codenirvana commented on #8537
@a66298458 This doesn't look like an issue from Postman as it forwards the filename as-is.
You can confirm this by checking the `filename=` attribute sent in the raw log of the [Postman console](https://learning.postman.com/docs/postman/sending-api-requests/debugging-and-logs/).

[2020-05-25 11:27] codenirvana commented on #8517
@ashwinchalaka "socket hang up" can be caused from both the client and the server-side...
Since the Postman by default doesn't times-out the request, I suspect this is happening because of the way the server is closing the connection.

[2020-05-25 12:07] codenirvana commented on #8525
@chen-yi-tester If I understood your problem correctly... your global variable `level3_agent_id` is resolving correctly when the request is sent via the Builder window but not via Runner.

I tried doing the same thing using the latest Postman app and everything is working as expected. Since we haven't seen other users facing the same issue, I suggest you debug your collection and variables properl

[2020-05-25 15:01] ArjunSingh-PM commented on #6850
Hi @VicKetchup, this issue has been resolved. Please reopen this issue if you continue to see this issue.

[2020-05-25 15:01] #6850 closed, assigned to godfrzero, charlie-postman

[2020-05-25 15:04] arellanoemilio commented on #8509
Yes the JSON file was had a syntax error in it; therefore, when I tried to import it postman wasn’t able to read it. After fixing the syntax error, the import tool worked as expected.

Emilio Arellano

[2020-05-25 16:21] ElSamhaa commented on #7603
also domains with ports e.g `localhost:3000` produce the same issue.

[2020-05-25 16:48] kamalaknn commented on #7061
Hey @0x2d3c @wangjiancn

This looks like a duplicate of #2985, where the editor is not able to calculate the cursor positioning because the font used to render the text is not monospace.

Could you try the workaround suggested [here](https://github.com/postmanlabs/postman-app-support/issues/2985#issuecomment-583815252)?

I'm closing this issue as a duplicate please follow the original thread for u

[2020-05-25 16:48] #7061 closed, assigned to numaanashraf, saswatds

[2020-05-25 18:06] whyvez opened #8540 "Postman unusable, takes up one processor on idle"
**Describe the bug**
Postman is unusable and takes up a whole processor sitting idle. You need to wait 30 seconds for a click to do something. I also noticed the sync icon at the top of the app is consistently syncing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman.

**Expected behavior**
The App should be responsive and I should have to wait 30 seconds for a click. Postman sho

[2020-05-25 18:18] MichaelBelgium commented on #7700
Ok, thanks for that checkbox! I thought it wasn't working at first as google chrome blocked the popup that provides the auth response to go back to the postman app, so keep your eyes on blocked popups in case you're waiting 20 minutes for postman to get that auth response 😂

[2020-05-25 18:29] cyrielle-hada commented on #8538
@alex88 I wasn't able to reproduce the behavior on Postman v.7.25. Once the collection exported, you should be able to import it to any workspace.

Would it be possible [to raise a support ticket](https://go.pstmn.io/help-center-signin-newrequest) and send your logs as well as a screen record that shows how to replicate the behavior?

[2020-05-25 18:35] juligon commented on #7534
It works for me!! Thank you.

[2020-05-25 19:08] sadohert commented on #8540
I'm seeing the exact same issues:

* UI slow to respond
* Request take long time to return
* Sync spinner never stops spinning.

Environment:
* Postman Version 7.24.0 (7.24.0) - Native App
* MacOS Cataline 10.15.4 (19E287)
* MacBook Pro 2019 - 2.6 GHz 6-Core Intel Core i7, 16 GB Ram

[2020-05-25 19:11] kamalaknn commented on #8540
Hey @sadohert @whyvez

Could you share the application logs from `View -> Developer -> View logs in Finder` with us at `help@postman.com` so we can debug this better?

[2020-05-25 19:16] whyvez commented on #8540
@kamalaknn Done.

[2020-05-25 19:20] sadohert commented on #8540
I will when it slows down again.  I tried to upgrade to latest, which was slow.  Had to kill the app twice, but then the upgrade completed and its running okay for me.... I've found this issue to not happen 100% of the time.

[2020-05-25 19:26] #3822 closed, assigned to abhijitkane

[2020-05-25 19:27] kamalaknn commented on #8540
@whyvez @sadohert Could you try signing out and signing back in and see if it helps?

@whyvez From your logs, I noticed that the app was trying to sync a lot of history which could have caused the performance issues for you. Signing out and signing back in limits this problem to some extent.

Also, do you use interceptor or request capture features on Postman that could have led to increased histo

[2020-05-25 19:44] sadohert commented on #8540
I definitely use the interceptor.  Logging out and back in is taking some time as the UI is moving slow, and I don't want to lose any of my local changes.

Is there anything I can do to limit the impact of interceptor (assuming that's my issue)?

[2020-05-25 19:53] whyvez commented on #8540
I was using the interceptor but, had disabled it this morning thinking it might be the cause. Disabling the interceptor didn't help. Trying to log out and back in...

[2020-05-25 19:57] kamalaknn commented on #8540
@sadohert We are working on some improvements that will improve the performance when working with a large number of history.

In the meantime, I would recommend signing out and signing back in or clearing older groups of history - if you are okay clearing those changes. Alternatively, you could separate your work within multiple workspaces to reduce some of the load.

[2020-05-25 20:13] whyvez commented on #8302
It would be nice to be able to do something like: `https://example.com/api/:id.:format` which would map to two path params of `id` and `format`.

[2020-05-25 20:16] alaurenau commented on #4463
This "duplicate" functionality of tabs looks completely useless and confusing. I wonder what are the use cases of shallow copy of a tab? Why would someone need it?

[2020-05-25 20:50] alex88 commented on #8509
Oh ok thank you for replying. Looks like we're hitting another bug then.

[2020-05-25 20:52] sadohert commented on #8540
Awesome, thanks @kamalaknn .  I logged out and back in and the sync spinner now seems to complete/stop spinning.  I also deleted all history before today (there was only one other day from April that had history after logging back in).  I'll come back if I see the issue come back.  Interceptor is off right now.

[2020-05-25 21:03] someshkoli commented on #8194
If we Substitute variable as `NOT` or anything similar they wont execute unless we have manually substituted them.

[2020-05-25 21:09] alex88 commented on #8538
@cyrielle-hada thanks for replying! I've opened support tickt 51374

[2020-05-25 21:16] someshkoli commented on #8043
I was able to successfully make a request with generated snippet on other domain. Can you share more details about the request you are making so i can reproduce this ?

[2020-05-26 01:34] christopherpross commented on #3121
I Hey thank you for the links, and yeah I am also a blind developer and can not use postman because of lag of accessibility.

[2020-05-26 01:48] chen-yi-tester commented on #8525
I replaced LEVEL3_AGENT_ID with  level3_agent_id.  it works😂

[2020-05-26 01:48] #8525 closed, assigned to codenirvana

[2020-05-26 01:49] xk0der commented on #8538
Hey @alex88, closing the GitHub issue too as the root-cause was found and workaround shared at the internal support ticket.

[2020-05-26 01:49] #8538 closed, assigned to xk0der

[2020-05-26 02:38] alex88 commented on #8538
Thanks @xk0der!
Just as a reference, if anyone else encounter the same issue, double check you json "events" field in each collection folder. Try to set test/pre-request scripts to something that's not an empty string, update, then back to an empty script.

[2020-05-26 03:39] conradpronto commented on #1070
Nice! @namgivu https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers

[2020-05-26 05:10] godfrzero commented on #8387
Closing this for now, will reopen if we get additional reports or any other information.

[2020-05-26 05:10] #8387 closed, assigned to sankalp0o, ArjunSingh-PM

[2020-05-26 07:36] fsteenkamp opened #8541 "Proxy HTTPS traffic through Postman from iOS simulator"
**Is your feature request related to a problem? Please describe.**
I would like to use Postman as an https proxy for my iOS simulator (specifically for Flutter) developing against a production api.

**Describe the solution you'd like**
I need Postman to install certificates on the iOS simulator (like Proxyman does). This would mean I get to completely drop Proxyman as a tool and just use Postman 🥳

[2020-05-26 08:06] dmizrahi commented on #7294
This is the right answer for the problem i was facing on v7.25.0. I attach my folder storage for debugging purpose.
[storage_old.zip](https://github.com/postmanlabs/postman-app-support/files/4680721/storage_old.zip)

[2020-05-26 08:14] marcus-bornman commented on #4009
+1

[2020-05-26 08:40] #8271 closed, assigned to nobody

[2020-05-26 08:40] #8290 closed, assigned to nobody

[2020-05-26 08:40] #8293 closed, assigned to vikiCoder

[2020-05-26 08:40] #8369 closed, assigned to VShingala

[2020-05-26 08:40] #8429 closed, assigned to umeshp7

[2020-05-26 08:43] codenirvana commented on #8293
@Piepongwong This issue is fixed in the latest version of the Postman app.

[2020-05-26 08:53] umeshp7 opened #8542 "Unable to import OpenAPI using schema link"
**Describe the bug**
I am unable to import OpenAPI schema via link. There is no feedback/toast of the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the 'IMPORT' button on top left corner
2. Choose import as link
3. Paste the following link https://apireference.getresponse.com/open-api.json
4. On the next screen notice that nothing happens when you click the 'IMPORT' cta but

[2020-05-26 09:07] placetobejohan commented on #1382
You can add and remove headers in the pre-request script as follows:

`pm.request.headers.add({ key: "your-key", value: "your-value" });
pm.request.headers.clear("your-key");`

[2020-05-26 09:07] gpredl commented on #3142
nothing new until now?

[2020-05-26 09:19] a66298458 commented on #8537
@codenirvana
when i use web ui to upload file , there is no this problem

when i use `Progress Telerik Fiddler Web Debugger` to check data, i find a different place

this is the form data from web ui upload
![微信截图_20200526171311](https://user-images.githubusercontent.com/25278688/82882834-360bff00-9f74-11ea-8159-bf6eec89b262.png)

this is the form data from postman upload
![微信截图_20200526171429](ht

[2020-05-26 09:25] codenirvana commented on #8537
@a66298458 I see no issue in the `Content-Disposition` headers and the filename is set correctly.
Probably, the server is not able to process the `filename*` attribute which is added because of the non-ASCII file name.

Which server/form-data body-parser are you using to process this?
Check if uploading a filename with just ASCII characters works fine for you.

[2020-05-26 09:26] arlemi commented on #4463
This issue is closed, any UX improvement regarding this will be posted in #7867.

[2020-05-26 09:30] a66298458 commented on #8537
@codenirvana i use python flask webserver , the api is `request.files.get('upload_file')`

[code]

[2020-05-26 09:33] arlemi commented on #8539
@WebXplorer The documentation for the SurveyMonkey API is owned by SurveyMonkey, please reach out to them to let them know they need to update it.

[2020-05-26 09:33] #8539 closed, assigned to nobody

[2020-05-26 09:42] arlemi commented on #7615
Closing this to gather all feedback in #4576 which talks about adding MSI installer that would support SCCM, silent install, and install for all users.

[2020-05-26 09:42] #7615 closed, assigned to nobody

[2020-05-26 09:45] arlemi commented on #7700
@MichaelBelgium Thanks for reporting it, we're tracking adding this to the docs [here](https://github.com/postmanlabs/postman-docs/issues/2384), if you feel like giving it a go our docs are completely open source. 😀

[2020-05-26 09:49] arlemi commented on #8532
@SONAL48 Please ask this question on [our community forum](https://community.postman.com/) since this isn't a bug or a feature request.
We've talked about Live Preview (being able to show/edit hidden headers) here: https://community.postman.com/t/live-preview-is-out/11497

[2020-05-26 09:49] #8532 closed, assigned to nobody

[2020-05-26 10:02] arlemi commented on #6722
Hey everyone, just a quick message to let you know that we're still looking for feedback from you all on the "update collection" flow. We've got time slots today, tomorrow, or Thursday and you can book any available time using this link: https://calendly.com/arlemi/update-collection-ux-research?month=2020-05. 😃

[2020-05-26 10:11] allfortips commented on #8542
Hi!
The OS i Windows 10.
Postman version: v7.25.0

[2020-05-26 11:06] borislt commented on #8530
Really miss ability to quick search the envs. Got lots of them. Very tiresome to skim through.

[2020-05-26 11:36] markmcgookin opened #8543 "Postman OAuth Popup keeps poppig back up after successful login. error with code -3 in logs"
**Describe the bug**
I am running a local instance of IdentityServer4 for a dev version of our Identity Provider. (I have this on two other laptops, both the exact same code, and version of postman, both work fine). On a new laptop, when type in a valid username and password into the auth popup, it simply just closes and reopens with the fields left blank.

I'm on Mac OS 19.4.0 and Postman 7.25.0

[2020-05-26 11:38] SONAL48 commented on #8532
Sure and thank you!

On Tue, 26 May, 2020, 3:20 PM Arlemi, <notifications@github.com> wrote:

[2020-05-26 11:40] kamalaknn commented on #8540
Thanks for the confirmation @sadohert

We are tracking high CPU and memory usage issues under #7294. I'm closing this issue as a duplicate. Please follow the original thread for updates.

[2020-05-26 11:40] #8540 closed, assigned to nobody

[2020-05-26 12:10] AllanOricil commented on #2691
I like the idea of a cli. Is there a place where we can vote the postman features that needs to be prioritized?

[2020-05-26 13:04] harryi3t commented on #8383
I am no longer able to reproduce the issue even on the same version v7.23.0 where it happened the last time.

[2020-05-26 13:48] #8383 closed, assigned to nobody

[2020-05-26 14:30] #5255 closed, assigned to nobody

[2020-05-26 15:11] pixobit commented on #5681
Installing postman fixed the issue for me

[2020-05-26 16:14] shirshak55 opened #8544 "Openssl Error on sending api request"
Whenever i send request i see this error

[code]

<img width="1148" alt="image" src="https://user-images.githubusercontent.com/8097377/82924490-23a5bb80-9f9c-11ea-8061-dc745134752a.png">

[2020-05-26 17:28] itsdarrylnorris commented on #2691
@AllanOricil , I think you are in the right place (I could be wrong). Postman pricing model kinda depends on this feature of keeping everything in sync. Adding this feature via the CLI might cause paid customers to get off their pay service and use the CLI instead.

That is just my theory base on the poorly response/support in this ticket.

[2020-05-26 17:46] arlemi commented on #2691
@AllanOricil @itsdarrylnorris Have a look at `postmanctl`, that seems to be doing what you're asking for. If you have any feedback around it, please add it to the forum post.

https://community.postman.com/t/introducing-postmanctl-a-cli-for-interacting-with-the-postman-api/11776

[2020-05-26 18:55] amelia24 commented on #7263
I have the same issue. I did create a monitor in My Workspace, after I deleted the collection for this monitor.  I'm not able to delete the monitor please help me. It almost consume all our requests.

[2020-05-26 18:55] gonzalojorge opened #8545 "request.url adds a "/" at the end of URL in v7.25"
**Describe the bug**
A clear and concise description of what the bug is.
Starting in v7.25, the Postman "request.url" seems to append a / at the end of defined URL.
eg. when doing a POST to https://test.com, the request.url variable will store "https://test.com".

This is minor, but when a Postman user has scripting logic to match the request.url with a variable, it may cause issues.

**To Reprodu

[2020-05-26 19:41] cyrielle-hada commented on #7263
@amelia24 Would it be possible [to raise a support ticket](https://go.pstmn.io/help-center-signin-newrequest) and provide the name of the collection associated with the monitor you're trying to delete?

[2020-05-26 20:52] ashwinchalaka commented on #8517
@codenirvana Thanks for getting back to me. How can I troubleshoot and fix this issue?

[2020-05-26 21:28] xk0der commented on #8538
Thanks for that, @alex88 !

**To add to @alex88 message.**
The workaround is very specific to the root-cause we found. Here a "script" node was missing the remaining nodes which would have contained the **Pre-request** and **test** scripts.

Unfortunately, the error message is a generic one and maybe thrown for various other reasons too. For most Postman users they should not run into this issue,

[2020-05-26 21:39] FabienDeborde commented on #6722
I would love to participate but I have a deadline this week, and so much work left to do....

If you still need some feedback in June I'll be glad to participate!

[2020-05-26 22:22] codenirvana commented on #8545
@gonzalojorge I can understand your use-case but since v7.25 `pm.request` in a pre-request script is the user authored request whereas in a test script it represents the final form of the request which was sent over the wire.

[2020-05-26 22:22] #8545 closed, assigned to nobody

[2020-05-26 22:38] #5101 closed, assigned to nobody

[2020-05-26 23:15] JP-from-Postman opened #8546 "Alternative to websockets for workspace sync"
**Is your feature request related to a problem? Please describe.**
Some users may be barred from using websockets, based on security restrictions of their company.

**Describe the solution you'd like**
Allow users to disable the use of websockets and manually sync workspaces or have the sync fall-back to a polling mechanism.

**Describe alternatives you've considered**
None

**Additional context**

[2020-05-27 00:00] Nidhi27Gupta commented on #3930
Looking for the similar feature. Do we have an update on this ?

[2020-05-27 00:44] codenirvana commented on #8544
@shirshak55 are you behind a proxy?
Try sending a request with the proxy settings disabled.
Also, check if disabling the "SSL certificate verification" setting fixes this issue.

[2020-05-27 00:46] codenirvana commented on #8517
Can you update to the latest version of the Postman app which shows the difference between "Could not send request" v/s "Could not get response"?

[2020-05-27 02:24] oscarmrom commented on #7852
Same issue with me. `DISABLE_WAYLAND=1 snap run postman` did the trick. Is this something that needs to be done each time to run it forever now?

[2020-05-27 02:54] urbanaut commented on #8388
Any progress on this?

[2020-05-27 03:43] ruwanka commented on #6134
insomnia has this nice feature, postman would more easy to use with this.

[2020-05-27 04:15] vyankatesh698 opened #8547 "does not start"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-05-27 04:23] numaanashraf commented on #8547
@ vyankatesh698 Could you fill out the details mentioned in the issue?

[2020-05-27 05:26] shirshak55 commented on #8544
@codenirvana

Actually the error is very very unhelpful. I found i used https://localhost instead of http://localhost. Should i close this issue?

[2020-05-27 05:48] pcimring commented on #5403
I am using version 7.25 of Postman (for Mac) - and I do not see an Authorization header for the cURL code that Postman generates. It used to generate this in the past.

PS: My Authorization header IS explicitly listed under the Headers tab.

[2020-05-27 06:08] codenirvana commented on #8544
@shirshak55 Thanks for the confirmation, closing this issue.

[2020-05-27 06:08] #8544 closed, assigned to codenirvana

[2020-05-27 06:12] shreys7 commented on #5403
Can you enable the `New Code Generation mode` from Postman's global settings, and see if this issue still persists? I can see the authorization header added correctly in the curl snippets
![image](https://user-images.githubusercontent.com/20665864/82984054-f47c6200-a00e-11ea-8c14-17a2de8e7a78.png)
![image](https://user-images.githubusercontent.com/20665864/82984093-0f4ed680-a00f-11ea-938a-cfb37669

[2020-05-27 06:21] vikiCoder commented on #8543
Hi @markmcgookin,

Can you please post a screen recording of the issue so we can understand clearly what is happening?

And I would suggest you to try the new `Authorize using browser` option to unblock you while we investigate the issue. See [this comment](https://github.com/postmanlabs/postman-app-support/issues/8059#issuecomment-626274349) for more details about the option.

[2020-05-27 06:38] archfish commented on #6354
This is caused by the order in which the certificates are merged.
You should put domain certificate before the bundle.

like :

[code]

Hope help!

[2020-05-27 07:48] markmcgookin commented on #8543
Hey ... yeah, here you go, sorry for the delay, had to generate some new ids to hide some stuff (nothing sensitive there, but can't be too careful.) also had to figure out how to blur some logos etc. and upload this! [Here is a video](https://youtu.be/yL8T70MGElU) showing me typing in a username and password in regular postman, and the popup just comes right back. Then into canary on the right, sa

[2020-05-27 08:04] developpef commented on #5403
Hello,

I have the same issue, with same version of Postman (on Windows). With new and old code generation modes...

[2020-05-27 08:08] ArjunSingh-PM commented on #7802
@jkjgabrielsen This issue is fixed. Could you please confirm that you are able to skip login in case of a network issue.

[2020-05-27 08:16] rtshilston opened #8548 "Feature request: Include team name in Monitors email notifications"
I work in multiple different teams.  When I receive my daily and weekly email notifications called "Postman Monitors - Your Summary", I am confused as I don't know which team/workspace they're from.

Please modify the email to include the name of the team, and the collection / environment being used.

[2020-05-27 08:21] arlemi commented on #6722
@FabienDeborde No worries, thanks for your interest anyway! We may ask for a second round of feedback in June once we have a working version of the prototype, will update everyone here if so.

[2020-05-27 08:31] arlemi commented on #6134
@ruwanka While this isn't available out of the box, this can be achieved using Visualizers, see:
- [XPath Data Filtering](https://community.postman.com/t/xpath-data-filtering-visualizer/9754)
- [Filter response body data using JSONPath](https://community.postman.com/t/visualizer-filter-response-body-data-using-jsonpath/9560) by @DannyDainton

[2020-05-27 09:31] shreys7 commented on #5403
Can you provide the detailed steps to reproduce or screenshots so that we can closely debug this?

[2020-05-27 09:42] MrTrick commented on #5920
I ran into this same issue. Seems like a very common stumbling book!

I think two small enhancements would help a **lot**:
- Display some small visual hint in the sidebar if the request has unsaved modifications.
- If duplicating a request with unsaved modifications, show a choice dialog, something like:
[code]

[2020-05-27 09:45] scb-haukland opened #8549 "Unable to match a simple Soap body with `x-mock-match-request-body`"
**Describe the bug**
Unable to match a simple Soap body with `x-mock-match-request-body`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an example for a mock server with any url, any http verb and any response
    - e.g. `POST {{url}}/test` with the response:
[code]
2. Add the following request body in the example:
[code]
3. Create a request pointed at the example url with the same

[2020-05-27 09:58] pcimring commented on #5403
Thanks, @shreys7

Actually, I just *disabled* `New Code Generation mode`, and it started to work for me.

Strangely enough, after switching new mode back on, it seems to work now - but not for all endpoints. (For that matter, old mode does not seem to work all the time either.)

I can't figure out a sequence of steps for it to fail - but I'll try and post some screenshots :)

Working after I switc

[2020-05-27 10:07] scb-haukland commented on #8549
Works with JSON:
![image](https://user-images.githubusercontent.com/66007557/83006420-7cb03680-a012-11ea-81b2-6e6ec238c619.png)
![image](https://user-images.githubusercontent.com/66007557/83006460-8afe5280-a012-11ea-8f1c-0eae68fa3c7c.png)
![image](https://user-images.githubusercontent.com/66007557/83006505-9e112280-a012-11ea-9fe9-bf5fd7b2accd.png)

[2020-05-27 10:47] filfreire opened #8550 "Missing headers for `curl` code export"
**Describe the bug**
When exporting a curl request, all the headers set up are missing, instead we only get:
[code]

**To Reproduce**
Setup a request with a few headers. Try to export the request with curl.

**Screenshots**
![screen1](https://user-images.githubusercontent.com/11976836/83010067-fc8ccf80-a017-11ea-8a08-bc688853422e.jpg)
![screen2](https://user-images.githubusercontent.com/11976836/8

[2020-05-27 10:48] filfreire commented on #8550
/cc @shamasis @DannyDainton

[2020-05-27 11:07] DannyDainton commented on #8550
Hey @filfreire,

I created a dummy request on the v2.25.0 APP and I'm not seeing the same issue:

![Screenshot 2020-05-27 at 12 00 35](https://user-images.githubusercontent.com/17089546/83011714-4377c680-a012-11ea-909a-042a4f43c448.png)

Are you able to expand on the details of that request in view or create an example that you could share, just so that we can reproduce the issue?

What settings f

[2020-05-27 11:41] oysteinr commented on #8550
I had the same issue, but fixed it using this sequence:
Disable the headers by clicking their checkboxes. Click "Code". Go back and enable headers. Click "Code" again, voila.

[2020-05-27 11:43] DannyDainton commented on #8550
Thanks, @oysteinr.

I was just going to suggest the same thing :D

I can reproduce it with _some_ collections, I'm going to have another look at this to narrow down the steps to reproduce the issue.

[2020-05-27 11:45] filfreire commented on #8550
Hey @DannyDainton

So I tried:
1) turning it on and off again - didn't work
2) did a new dummy collection - weirdly enough it returns the headers in the curl
3) my original collection - I still have the same problem

I copy pasted and edited the request, and for two seemingly exact same requests (one created "a-new" and another copy pasted and edited, the edited one of them i see `text/plain` only

[2020-05-27 11:49] DannyDainton commented on #8550
The workaround @oysteinr - worked for me when creating the code snippets from your requests.

Not an ideal solution though but it might unblock you for now?

[2020-05-27 12:23] filfreire commented on #8550
The workaround by @oysteinr also worked for me. Thanks 👍

[2020-05-27 14:05] shaunakturaga commented on #1070
+1

[2020-05-27 14:48] Raj-postman opened #8551 "Request to show if values do not have actual spaces in UI"
**Is your feature request related to a problem? Please describe.**
When values are copied from some webpage or other its hard to identify if the copied values have the actual spaces or not.

**Describe the solution you'd like**
It would be really helpful to denote these in the Postman UI.

**Describe alternatives you've considered**
Currently, we try to retype the same.

**Additional context**
Scr

[2020-05-27 14:56] fenoloco commented on #8269
Canary version has the same issue.. so I think will not be solved on the next stable build.. You need to improve a lot the performance for fork, merge and the app itself..
This application is becoming an non enterprise level.. works if you are playing with 2 services but wen you have more than 30 collections and more than 10 thousands test its not working fine.

[2020-05-27 15:09] thiagobxc opened #8552 "Can't create a monitor configuration with a new user"
Postman returns a 500 while trying to create a new monitor configuration with a new user. I've added a new user to my team granted admin and developer roles and deleted the old user, all my monitors have been deleted and now I am not able to create a new test monitor

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'manage roles'
2. Remove the current user
3. Add a new user and set the

[2020-05-27 15:24] umeshp7 commented on #8536
@danielmhanover Thank you, we are working to get this fixed as soon as possible.

[2020-05-27 15:54] Rafnafnaf commented on #3563
+1 This is so much of a problem for my team that we are considering changing API testing tool for another one which will work with git more easily.

[2020-05-27 15:56] pkurczyna commented on #4090
We do face it as well. Any plans for fixing that?

[2020-05-27 17:18] pritesh93 commented on #6719
Another item that would be interesting is if the comments can also be pulled in, as they both support Markdown, it would make the experience cleaner.  As well as allow a flow-through to consume Postman's Documentation features.

I don't know if this is another feature, but happy to explain in further detail!

[2020-05-27 18:16] hilary commented on #6722
@arlemi @a85 Just booked our time! Wanted to say how happy we are that Postman has prioritized this workflow!

[2020-05-27 18:35] vvs11 commented on #8551
@Raj-postman could you elaborate more on this here? What is the user trying to do?

[2020-05-27 18:41] vvs11 commented on #8477
@chaffeqa closing this for now. Please feel free to re-open this. You can also post your questions on our community here http://community.getpostman.com/ to get a quick response

[2020-05-27 18:41] #8477 closed, assigned to nobody

[2020-05-27 18:42] vvs11 commented on #8354
Closing this for now. Please feel free to reopen this. Also, we have a very active community where you can get a quicker response for your queries
community.getpostman.com

[2020-05-27 18:42] #8354 closed, assigned to nobody

[2020-05-27 19:02] maxdeepfield commented on #7294
![image](https://user-images.githubusercontent.com/1029366/83061462-b1011280-a065-11ea-8b7f-58b7fcb2f6b8.png)

[2020-05-27 19:52] bolex222 commented on #7607
+1

[2020-05-27 21:47] emarquit opened #8553 "Bad data in COVID-19 API"
**Describe the bug**
The first two characters appear to be missing from each contact email address in the "[County Health Departments for All 50 US States](https://documenter.getpostman.com/view/8854915/SzYXVdyQ?version=latest)" list

**To Reproduce**
1. Go to https://documenter.getpostman.com/view/8854915/SzYXVdyQ?version=latest
2. Load any of the state contact lists
3. Observe the email addresse

[2020-05-27 23:40] ashwinchalaka commented on #8517
<img width="482" alt="Screen Shot 2020-05-27 at 4 40 13 PM" src="https://user-images.githubusercontent.com/29413045/83082614-c6137c80-a038-11ea-8c34-d9cf84723dbc.png">

[2020-05-28 01:58] pjscopeland commented on #285
On the issue's 7th birthday... +1

[2020-05-28 02:04] oheydrew commented on #8021
Hi all,

We've just started trying out the new PR system recently, and it's great so far. One thing we'd like to see:

We'd like to be able to "Lock" a main collection down to "viewer", but allow approved PR's to be merged into this collection. At the moment, only "editors" can merge PR's, which means our whole dev team needs to be "editors" of the collection. We'd like to see a way for us to "pro

[2020-05-28 03:14] lflucasferreira commented on #8257
The shortcut for moving up and down the rows is not working either.

**CMD + SHIFT + Arrow UP (or Arrow Down)**

It displays "Something Went Wrong" and makes me unable to return to the request, so I lose them.

[2020-05-28 03:25] codenirvana commented on #8517
@ashwinchalaka What I meant was, in the latest Postman app when you get the "socket hang up" error message... the response section shows that is it because of "Could not send request" or "Could not get response"?

<img width="690" alt="Screenshot 2020-05-28 at 8 53 14 AM" src="https://user-images.githubusercontent.com/4865836/83095423-f272db80-a0c0-11ea-9d9d-46fb7488c287.png">

[2020-05-28 06:40] alexpbaron commented on #285
Someone wants a piece of cake?

[2020-05-28 07:07] DannyDainton commented on #8553
Hey @emarquit

Would you be able to raise this issue on the https://github.com/postmanlabs/covid-19-apis repo, please?

[2020-05-28 09:22] codenirvana commented on #8537
@a66298458 I tried reproducing this issue using a flask server and looks like its body-parser is not able to process the `filename*` attribute in `Content-Disposition` header.
Also, the library which is used internally recommends using the Unicode characters in the filename.

Closing this issue as we are already tracking this feature request of disabling the `filename*` attribute here: https://git

[2020-05-28 09:31] emcence opened #8554 "Can't import definition from Swagger"
**Describe the bug**
When i try to import definition from Swagger I am stuck on “Confirm your Import” window.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Improt > Link > https://petstore.swagger.io/v2/swagger.json
2. Click on 'Continue'
3. In Import window click on "Import" button

**Expected behavior**
To see imported collection

**App information (please complete the following in

[2020-05-28 11:10] sankalp0o opened #8555 "Check usage button doesn't work on the banner informing about usage limits for free teams"
When teams cross the limit of shares requests on the free plan, a banner informs them of this. The banner has a "Check Usage" button but clicking on this button doesn't do anything apart from closing the banner.

Expectation
- Clicking the button does something that helps me check the usage and understand the usage limits.

[2020-05-28 11:29] pawoolley opened #8556 "Disable automatic header per request"
I would like the ability to disable/exclude an automatically added header on a request.

_Postman for Mac
Version 7.25.0
OS X 19.4.0 / x64_

**Is your feature request related to a problem? Please describe.**

My use case is this:  I have setup Cookie Management for domain "my-domain" and have 2 URLs under that domain that I am making requests to.

Request no. 1 to "my-domain" is used to create an

[2020-05-28 11:57] appurva21 commented on #8556
Hey @pawoolley !!
We got your use case covered 😄  There are two possible ways to solve your issue:

1. **Using Request setting**: You can go to the `Settings` tab inside your 2nd request and look for the `Disable cookie jar` setting. Turning this on will prevent existing cookies in the cookie jar from being added as a header for this request. Also, it will prevent cookies used in this request from

[2020-05-28 11:59] mohitranka commented on #6205
Hi All, we have addressed it in v7.25.0 of the application, and now give better messages to help you debug the issue. Please verify the same and reach out to us if the issue persists.

[2020-05-28 11:59] #6205 closed, assigned to codenirvana

[2020-05-28 12:16] mccannt commented on #4862
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-28 12:16] #4862 closed, assigned to nobody

[2020-05-28 12:59] aman-postman commented on #6924
Hey @TinaBasinger , are you still facing the issue? We tried to reproduce it for a distribution group and were successfully notified of failure both via the normal email address as well as the distribution group.

[2020-05-28 13:02] mkczyk commented on #8362
I assumed that tab "Raw" not parse response, but tab "Pretty" try show response in the most friendly form and have to parse response according to this assumption.

If user wants to read not parsed response he can use "Raw" tab.
But I understand some users want to see raw response but with pretty printing.

I found workaround for this problem:
1. On tab "Tests" write your visualizer:
[code]
- Visua

[2020-05-28 14:30] jrobinson-efirst commented on #8348
I'm having the same issue, but even switching to typing the url in rather than using the environment variable does not resolve the issue.
Postman version: 7.25.0

[2020-05-28 14:32] pawoolley commented on #8556
Thank you, Appurva.  That's awesome!  I felt like there might be a way to
do it, but just couldn't seem to figure it out.  And thank you for the
quick response.

On Thu, 28 May 2020 at 12:57, Appurva Murawat <notifications@github.com>
wrote:

--

*Paul Woolley*Staff Software Engineer
CloudBees, Inc.

[image: www.cloudbees.com] <https://www.cloudbees.com>

[2020-05-28 14:36] umeshp7 commented on #7998
@adamblum
The GraphQL SDL provided by you is successfully imported in the recent version of Postman App (7.25.0). #8429
Could you please verify it and let us know if you are still facing any issues?

[2020-05-28 14:43] umeshp7 commented on #8542
@allfortips Thanks for pointing that out, although it is not working in MacOS as well.
Updated the original issue.

[2020-05-28 14:48] umeshp7 commented on #8554
@emcence This issue is currently being tracked here: #8542

Here is a workaround for this issue which will allow you to import at least the collection. On the "Confirm your Import" screen deselect the "API" option for now and the collection will be imported successfully.
<img width="780" alt="Screenshot 2020-05-26 at 2 04 09 PM" src="https://user-images.githubusercontent.com/31915995/83156591-39dc

[2020-05-28 14:48] #8554 closed, assigned to abhijitkane

[2020-05-28 14:53] #8556 closed, assigned to appurva21

[2020-05-28 15:11] DannyDainton commented on #5853
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-28 15:11] #5853 closed, assigned to nobody

[2020-05-28 15:32] mjwaddell1 opened #8557 "Postman removing extra data in JSON response"
**Describe the bug**
When using Postman to request data, I receive a clean JSON block in the response. When requesting the same data using Curl, I get extra data after the JSON block. It appears that Postman is not displaying the extra data.

Postman response:
{
  "CandidateToken" : "oMJK8Ea08IWDz67Qk",
  "RequisitionNumber" : "70200215",
  "Language" : "US",
  "ConfirmedSubmissionFlag" : false
}

[2020-05-28 15:43] shreys7 commented on #8550
Thanks for reporting this @filfreire We have identified the root cause and working on a fix for it. Will keep everyone updated here.

[2020-05-28 15:45] codenirvana commented on #8557
@mjwaddell1 I tried reproducing this issue using a local Node.js server.

[code]

Working fine for me... can you let me know how can I modify this response payload to reproduce this issue locally?

<img width="1067" alt="Screenshot 2020-05-28 at 9 14 16 PM" src="https://user-images.githubusercontent.com/4865836/83163069-351bce80-a128-11ea-819a-c1eee936a943.png">

[2020-05-28 15:46] prmichaelsen commented on #3563
Considering this is in the top 50 highest voter issues perhaps it warrants
a response from the team

On Wed, May 27, 2020 at 8:54 AM Rafnafnaf <notifications@github.com> wrote:

[2020-05-28 15:59] jeremiegourovitch commented on #350
+500

[2020-05-28 16:03] clarkritchie opened #8558 "Feature Request: View or Edit webhook integration details"
It would be really helpful to be able to either see the details of a configured webhook integration, or ideally to edit it.

For example, I have 2 web hooks configured below but am unsure of where exactly they are pointed, so my only option is to delete them and re-create them.

![image](https://user-images.githubusercontent.com/385550/83165032-d3c11480-a0c1-11ea-9081-8037c5b16274.png)

[2020-05-28 16:06] eborey opened #8559 "Request using pm.request.headers.add are no longer displayed in Monitor Test Results"
**Describe the bug**
When a custom header is added to a request by using "pm.request.headers.add", the related monitor result panel (Test Result or Console Log) will no longer show that request, despite the request has been successfully run (or not). Everything is fine with "Run Collection".

**To Reproduce**
Steps to reproduce the behavior:
1. Create en new collection
2. Add a GET request to URL

[2020-05-28 16:27] DannyDainton commented on #6027
@sankalp0o Are we able to close out this issue now?

[2020-05-28 17:05] vdespa commented on #8319
Recently the Postman Auth 2.0 helper has been updated. You now have the possibility of opening the window in the browser and also within Postman.

In addition to this, the Postman console will also log all the HTTP traffic happening within Postman.

Is this still an issue @mrichman ?

[2020-05-28 17:16] emarquit commented on #8553
OK, done: https://github.com/postmanlabs/covid-19-apis/issues/288

Thanks for pointing me in the right direction @DannyDainton .

[2020-05-28 17:21] jBernz commented on #3518
This workaround does not work for me. Any value I set for a cookie on localhost is not saved when I click save. This must be a bug.

[2020-05-28 17:51] #8553 closed, assigned to nobody

[2020-05-28 19:06] mccannt commented on #4498
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-28 19:06] #4498 closed, assigned to abhijitkane

[2020-05-28 19:09] numaanashraf commented on #8547
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-05-28 19:09] #8547 closed, assigned to nobody

[2020-05-28 19:10] DannyDainton commented on #6137
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-28 19:10] #6137 closed, assigned to numaanashraf, ankitjaggi, preethammavin

[2020-05-28 19:13] numaanashraf commented on #7356
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With the information that is currently in the issue, we don't have enough details to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-05-28 19:13] #7356 closed, assigned to nobody

[2020-05-28 19:21] #8432 closed

[2020-05-28 19:39] Rafnafnaf commented on #5814
+1 happens to me a lot, is very time consuming to fix

[2020-05-28 21:20] bolex222 commented on #7607
update: snap version of postman don't work you should use the downloadable package on their web site, it work!   https://www.postman.com/downloads/
hope it could help you.

[2020-05-28 22:46] pjscopeland commented on #285
![image](https://user-images.githubusercontent.com/771320/83201438-929c3380-a199-11ea-8010-93fe05806666.png)

[2020-05-28 22:58] jeremypollack commented on #8195
Please add this.  I honestly can't think of a situation where I DON'T want to save my requests.  This is 2020, we're all accustomed to using cloud-hosted tools.  Autosaving is the norm.

[2020-05-28 23:04] Alacritous commented on #285
THE CAKE IS A LIE!

[2020-05-29 00:10] alexrosenfeld10 commented on #5040
+1

[2020-05-29 00:31] rodcheater opened #8560 "Use macOS appearance setting"
**Is your feature request related to a problem? Please describe.**
I prefer to use light appearance during daylight hours and dark appearance at night. I’d like for Postman to switch appearance automatically depending on whether it is daytime or nighttime.

**Describe the solution you'd like**
Instead of choosing light or dark appearance in the app, follow the appearance setting from macOS. On mac

[2020-05-29 02:53] wilzokch commented on #2086
while this feature is not ready, we can use the following hack to archive it
1. View > Developer > Show DevTools (Current View) / **CTRL + SHIFT + i** for window user
2. Click on "Console" Tab
3. paste following code

[2020-05-29 03:01] chimit commented on #2086
Almost 5 years since the first time this issue was reported. Still no any progress in such a simple thing. @vkaegis please, pay attention on this.

[2020-05-29 03:11] markbullock-mbo opened #8561 "Generate Code Snippets does not show Authorization header"
**Describe the bug**
For a request with an Authorization header, Generate Code Snippets does not display the Authorization header.

**To Reproduce**
Steps to reproduce the behavior:
1. Click a request which has an Authorization header
2. Click on Code

Actual: the Authorization header does not appear
curl --location --request POST 'https://auth.mbodev.me/issue/oauth2/token' \
--header 'Content-Typ

[2020-05-29 03:30] rudisills commented on #2086
@wilzokch Thanks for sharing your workaround. Is there any way to make this code run at application start so it works each time I run the app?

[2020-05-29 03:41] duyleekun opened #8562 "GitLab Integration export v2.0 schema instead of recommended v2.1"
**Is your feature request related to a problem? Please describe.**

Yes. We build my custom document generation based on v2.1 schema, the exported v2.0 can't be used with our current toolkit

**Describe the solution you'd like**

Be able to choose version to export for gitlab integration

**Describe alternatives you've considered**

Use some tool to convert from v2.0 to v2.1. Haven't found any tho

[2020-05-29 05:36] preetshah21699 commented on #5960
Yup. It would be awesome.

[2020-05-29 05:37] shreys7 commented on #8561
Duplicate of #8550

[2020-05-29 05:37] #8561 closed, assigned to nobody

[2020-05-29 06:05] sonuame commented on #4463
lets say there are 4 environment variables including headers and some params
headers cannot be inherited from the parent collection unless you create presets and that too you have to everytime manually do "add presets"

there are 150 APIs total belongs to the project i am working on.
what would you do??

[2020-05-29 07:14] umeshp7 commented on #4598
The path variables from swagger schema are converted to path variables in postman. Anything with a `/:variable` syntax is usable as a path variable in postman. We only use this syntax for the ones which are a part of the URL segment. for eg. `{{baseurl}}/:pet/:petId`.
These `:pet` and `:petId` are available for you as path variables at the request level. This was done in such a way because path va

[2020-05-29 07:57] wilzokch commented on #2086
@rudisills I think it is not possible to run this code automatically...

you only need to copy this code once,

when you re-open postman, go to console tab, you can use arrow key **Up** to get this script back

[2020-05-29 08:12] hsargsyan commented on #6682
Any updates on this?

[2020-05-29 08:24] danielo515 commented on #4581
This is still a problem, and I'm using the latest postman app.
You just make a call to google and you will see that it returns back 3 cookies, but only 1 is recogniced

[2020-05-29 08:50] javaherisaber commented on #1744
+1

[2020-05-29 08:56] mantonellipartner opened #8563 "Using variable set with ISO 8601 date is not working"
**Describe the bug**
I'm trying to send a request to the ovh APIs. It seems that when I set a variable {{dateIsoNow}}, whatever if it is environment, globals or collection with an ISO 8601 date, the variable is not working properly.

If I use this same date in parameter, without using {{dateIsoNow}} it's working perfectly.

**To Reproduce**
Steps to reproduce the behavior:
**Test 1 :**
1.Go to Pre

[2020-05-29 09:24] codenirvana commented on #8563
I am not able to understand the issue from the steps you have provided.
Is it possible for you to create a sample collection using some [echo APIs](http://postman-echo.com/) which we can use to reproduce this issue locally?

[2020-05-29 10:52] igor-d-n commented on #7294
Same shit(
Ubuntu 18.04 Postman 7.25.0

[2020-05-29 11:21] sankalp0o commented on #6027
@DannyDainton yes, this shouldn't be happening now and the issue can be closed.

[2020-05-29 11:21] #6027 closed, assigned to ankitjaggi, preethammavin

[2020-05-29 12:29] alot1 commented on #5814
+1

[2020-05-29 13:53] marionzr commented on #6712
Autocomletion not working on version v7.25.1

[2020-05-29 14:15] kamalaknn commented on #6712
Hey @marionzr

Could you check if you have the schema selected and the schema is valid?

[2020-05-29 14:21] mccannt commented on #3433
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-29 14:21] #3433 closed, assigned to nobody

[2020-05-29 14:34] mccannt commented on #2707
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-29 14:34] #2707 closed, assigned to numaanashraf, vkaegis

[2020-05-29 15:54] balane commented on #6833
+1

[2020-05-29 15:55] kpsteven commented on #1070
+1

[2020-05-29 17:00] #5586 closed, assigned to nobody

[2020-05-29 17:38] eharris128 commented on #7286
+1

[2020-05-29 17:40] quangtd95 commented on #4009
+1

[2020-05-29 17:48] mccannt commented on #5804
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-05-29 17:48] #5804 closed, assigned to nobody

[2020-05-29 19:58] bernardodesousa commented on #6354
@archfish This is happening to me with a certificate made by the certbot program, by Let's Encrypt. The bot creates the chainkey.pem to me. I didn't cat them together.

If I simply open the chain with a text editor and swap the two certs inside, the server (Daphne in my case) complains the private key doesn't match the chain and exits.

I suspect the order is correct in my case, since my chain was

[2020-05-29 20:27] codenirvana commented on #6743
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:27] #6743 closed, assigned to codenirvana

[2020-05-29 20:31] codenirvana commented on #7471
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:31] #7471 closed, assigned to vikiCoder

[2020-05-29 20:32] codenirvana commented on #7547
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:32] #7547 closed, assigned to vikiCoder

[2020-05-29 20:33] codenirvana commented on #7764
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:33] #7764 closed, assigned to vvs11, saswatds

[2020-05-29 20:40] codenirvana commented on #8061
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:40] #8061 closed, assigned to vvs11

[2020-05-29 20:40] wspencer commented on #5586
You're leaving us with a hack?  Lame.

Warren Spencer
Sent from my iPhone

[2020-05-29 20:46] codenirvana commented on #7322
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:46] #7322 closed, assigned to vvs11

[2020-05-29 20:47] codenirvana commented on #8174
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:47] #8174 closed, assigned to vikiCoder

[2020-05-29 20:48] codenirvana commented on #7957
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.