[2022-10-04 15:33] gorsash commented on #5817
New major version 10 just came out and there's automatic theme switching

[2022-10-04 17:03] Endorphinity commented on #5817
… and there's NO automatic theme switching – is that what you meant? At least, I don't see it anywhere in the settings, nor in the release notes.

[2022-10-04 19:28] byrdman commented on #10407
Adding to this it would be great if the new Git Integrations included on-prem versions of GitHub, GitLab, and BitBucket.  Many enterprises don't "trust" their code off prem.

[2022-10-04 19:40] zaschim opened #11325 "Leaving Postman open on M1 Mac results in a grey screen."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After sleeping my M1 Mac, I come back to use Postman which is open, but has a plain grey screen. The only fix is to restart the application.

### Steps To Reproduce

1. Open Postman
2. Sleep computer for an unknown period
3. Retu

[2022-10-04 22:49] cosstoica commented on #11147
Also ran into this. I had a personal workspace which was not shared with the team. I created a new team just to see how it would work (I was preparing to share that workspace, but not with the test team), however after leaving the test team and seeing the warning (that basically warns us about shared content being lost) I lost everything, like my account was basically reset.

[2022-10-04 23:40] accountnujen opened #11326 "Digest authorization does not increase the NC value"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

second request does not increase NC, although according to RFC it should have been increased, otherwise the request will return a 401 error, which actually happened.

### Steps To Reproduce

1. Create Collection
2. set Digest aut

[2022-10-05 03:10] shubhbhargav commented on #9614
@montoner0 This should work for you if you are on 9.31.0. May I know which OS are you on?

[2022-10-05 03:42] shashankawasthi88 commented on #10407
@byrdman @cdanielsen @michahell with the Postman V10, we have introduced git integration where you can directly work out of your repositories (both cloud and on-prem). Read my [blogpost](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) to know more.
We are also working on syncing environments to the repository. We can do a detailed walkthrough of the co

[2022-10-05 07:03] montoner0 commented on #9614
@shubhbhargav it's Windows 10

[2022-10-05 07:26] mlaffargue commented on #11323
So, this morning it's working as expected.

I didn't restart anything, not even my computer.
I just sent the requests again (from the same tab that were opened yesterday) and magically the "{{objectId}}" change to what is expected.

Not clear if someone corrected something or if we need to wait for it to make it works.

[2022-10-05 07:50] oleingemann commented on #10852
+1. I am trying to clean up this list to contain only our own workspaces.

[2022-10-05 07:52] rockey5520 opened #11327 "Keyboard shortcut to change environments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

I use most of my development activities using keyboard and keyboard shortcuts using postman are great. There is one more shortcut if available wo

[2022-10-05 08:11] sihaixianyu commented on #5817
![image](https://user-images.githubusercontent.com/32222479/194012542-cb064b83-2d38-49c2-96d2-38c14c8a139f.png)

[2022-10-05 09:34] maticardenas opened #11328 "Postman API: Moving requests into a specific folder"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi!

This might be not particularly a bug yet, as my issue is that I haven't been able to manage to manipulate existing requests and folders successfully through the [collection individual items](https://www.postman.com/postman/w

[2022-10-05 09:45] WarGreyGon commented on #1607
Still no update on this? 😥

Is there any blocker or something preventing this feature to be implemented?

This feature will be **REALLY REALLY** usefull

[2022-10-05 09:53] postman-support commented on #10936
Hello @Rahul-V-Maxval,

We have not been able to replicate the error. Could you share a recording of the issue and the logs and send these over via support ticket: https://support.postman.com/hc/en-us/requests/new - please?

We find loom.com helpful for sharing screen records.
Logs can be found as per the steps in this article here.

via @MirkaMir | Postman Support

[2022-10-05 11:02] davidespihernandez commented on #11328
Thanks for your question, @maticardenas!
Some preliminary questions:

* Are you sending the `Accept: application/vnd.postman.v2+json` header in your request?
* Which response code and response body are you receiving?

Thanks!

[2022-10-05 11:16] jviotti commented on #11325
Hey @zaschim ,

Thanks for reporting. Are you able to experience the gray screen by leaving the app open for a while, without putting the Mac to sleep? We have a similar report https://github.com/postmanlabs/postman-app-support/issues/5980, so I want to understand whether it is another instance of it, or a different variant that can shed some further light here.

[2022-10-05 11:37] maticardenas commented on #11328
Hi @DannyDainton

Thanks for your quick reply :)

In regard to the questions:

- Yes, I'm sending the `Accept` header.

Here is an example of the request and response I get:

[code]

Response:

[code]

[2022-10-05 12:39] DannyDainton commented on #11328
It @davidespihernandez that required that information - Appreciate you sending that over. ❤️

[2022-10-05 12:42] maticardenas commented on #11328
Oh indeed, wrong tagging 😅 sorry @DannyDainton!

[2022-10-05 13:47] zaschim commented on #11325
@jviotti I haven't observed that it goes grey after a period of time while keeping the Mac awake. However, I use Postman frequently during my work day (so it doesn't sit inactive for a long period of time during the day typically)
However, It is still possible the issues are related.

[2022-10-05 14:03] laurasantiagocm commented on #3694
+1

[2022-10-05 14:27] starki7 opened #11329 "WSDL import - separator & in URL not decoded completely"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

### Description
In WSDL, URI is stored in **XML notation**, therefore **separator &** is stored as "**&amp;**".
When decoding URI, Postman recognizes &, but as parameter key it leaves "amp;".
It's easy to manually delete "amp;" f

[2022-10-05 14:27] mrmarcgoldstein commented on #1104
Hi,No, unfortunately I have not. I gave up and stopped looking a while ago, but I'm interested if you found a way.. Thanks Marc On 4 Oct 2022 14:54, Alex Levy ***@***.***> wrote:

#8203

Have you been able to find a workaround for adding in filename for application/pdf content-types?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you commented.Mess

[2022-10-05 14:46] ale-lit commented on #9176
Same issue here

When adding a this header to a server response: header('Content-Length: ' . strlen($fileContent)); - error in Postman
Without this header and when opened in a browser - everything is ok

![image](https://user-images.githubusercontent.com/91823697/194089995-76eb8a18-6712-45d4-a538-216ebaec27cc.png)

[2022-10-05 15:01] rmclaughlin-nelnet opened #11330 "Feature Request: Security enhancements"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Postman is a great product but there are several security issues that make it challenging to use and keep secure.
1. All initial values are synced to postman servers and all other users w

[2022-10-05 17:36] pbrumblay commented on #10908
I've encountered the same issue, cleaning out the postman folder did not resolve the problem.
[code]

[2022-10-05 18:04] olaforest commented on #11232
Any new, or followup reply?

[2022-10-05 23:30] hisulley commented on #8985
Can't wait to see....

[2022-10-06 06:28] geogrigor opened #11331 ""Create a schema" endpoint not working"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The `https://api.getpostman.com/apis/{{apiId}}/versions/{{apiVersionId}}/schemas` endpoint always errors out. When calling the endpoint with the example payload from the [documentation](https://www.postman.com/postman/workspace/p

[2022-10-06 07:00] akshaydeo commented on #11331
@geogrigor, thanks for reporting this issue. We are looking into it 🙇

[2022-10-06 07:47] phen-chub opened #11332 "Missing Title Bar and Menu Bar"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The app no longer has a title bar or menu bar.

### Steps To Reproduce

Open the latest version of the app.

### Screenshots or Videos

_No response_

### Operating System

Windows 10

### Postman Version

10.0.15

### Postman Pl

[2022-10-06 07:53] DannyDainton commented on #11332
Can you provide screenshot of the UI behaviour that you can see please?

Are you updating the app from an older version, if so, what was that?

[2022-10-06 09:09] satyam-postman commented on #10192
Hi @paulwis @deefactorial  We have merged the update, Suggested changes will hopefully be available in next release.

cc @akshaydeo

[2022-10-06 11:53] dcstamps commented on #3360
I see this will likely never be fixed since it's been outstanding for 5 years.  I can't imagine having issues that impacts our customers for 5 years and just ignoring their countless pleas for a fix.  Bad business.

[2022-10-06 12:23] diyaeninan commented on #11331
Hey @geogrigor! We were not able to reproduce this issue. Could you confirm whether along with replacing the `apiId` and `apiVersionId` values, the additional fields in the request body (`schema.type`, `schema.language`, `schema.schema`) were also replaced with appropriate values?

This example can be used as a reference for the request body: https://www.postman.com/postman/workspace/postman-publi

[2022-10-06 12:45] AmrIKhudair commented on #8195
How can a feature be requested for about 3 years now and the developers are just giving the cold shoulders !!!

[2022-10-06 12:57] malvikach commented on #3360
@dcstamps Apologies for your experience and for not getting back on this thread sooner! I can definitely see how an error might force you to restart the run and you might end up losing time over it.

We have taken note of this feature request! I will update this thread as soon as we have some news on this.

If you would like to talk to me 1:1 about the above issue or any other similar issues you a

[2022-10-06 13:15] geogrigor commented on #11331
Hi @diyaenina, apologies I see now the issue is with my request. I supplied the inner "schema" value but did not nest the payload in an outer "schema" property. Thank you for your help

[2022-10-06 13:15] #11331 closed, assigned to akshaydeo, diyaeninan, Saver3011

[2022-10-06 14:28] andythedishwasher opened #11333 "Desktop agent installer broke all Postman functionality!"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I'm having a pretty major issue where I tried to use the installer for the Desktop Agent on Windows 10, but instead of giving me access to the Desktop Agent, it seems to have disabled all Postman requests since the send button in

[2022-10-06 14:51] maticardenas opened #11334 "Postman API: Cannot delete folder from collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi, I have created several folders into a public collection we have, however, I'm not able to delete one (through `DEL https://api.getpostman.com/collections/{{collection_id}}/folders/{{folder_id}}`  in which the `id` I had assig

[2022-10-06 16:04] chrisonyohannan opened #11335 "Cookies not being set for different domain"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Cookie is not being set in spite of the response having a Set-cookie header with a different domain.

### Steps To Reproduce

Perform any http request on a domain, example: abc.com/example, which returns cookie header with a diff

[2022-10-06 17:06] rmclaughlin-nelnet commented on #11330
#1 this is a private collection. Our org has government regulations that we have to follow and postman is current authorized to store our secrets so it is very important that secrets do not make their way onto postman servers. With the current feature set this is hard to enforce because postman makes it so easy to make a mistake. It would be great if there were better controls in place to prevent

[2022-10-06 18:19] josepolancoe commented on #10605
I agree this behavior is annoying

[2022-10-06 19:50] 27shutterclicks commented on #2096
+1 Would be great if there was a way to import key bindings definitions from another code editor. I've been using Brackets app lately and love their code editing hotkeys. Would be great to simply copy that over somehow.

[2022-10-06 21:01] 27shutterclicks commented on #8362
Great solution @mkczyk ! I spent two hours looking for a way to display query output somewhere other than the Console. Initially, I kept trying to display it in Test Results, but your approach is better, since it separates control over display output and the test results area which can be kept for what it is meant - tests.

This solution should become part of the Postman documentation somewhere.

[2022-10-06 23:41] aslng commented on #3694
It's sad that the feature hasn't been implemented after 5 years.
It's a feature that would be very useful for many!

Hope the feature will show up 'soon'. Thanks!

[2022-10-07 01:25] shubhbhargav commented on #11326
@accountnujen Can you please confirm if the `nonce` value across the two requests is same? For Digest Auth, the client needs to get the nonce value from the server first and the `nonce-count` needs to be incremented if the client is using the same nonce value.

In Postman, we always get a new `nonce` value for each request which ensures that `nc=0000001` works because every request is treated as a

[2022-10-07 02:15] shubhbhargav commented on #11326
@accountnujen You are right. It should have made 4 requests. That's what I am seeing at my end. One difference that I saw is that the Auth header is being sent in the above screenshot shared in the above comment while in my case that was not the case.

Can you share the above request / collection with us at `help@postman.com`? We will need to debug how the Authorization header is being set here.

[2022-10-07 02:21] shubhbhargav commented on #10726
@johnhiggs Let us know if the above solution doesn't work for you. Closing the ticket for now.

[2022-10-07 02:21] #10726 closed, assigned to giridharvc7, akshaydeo

[2022-10-07 02:34] DannyDainton commented on #11333
Hey @andythedishwasher

Are you able to use any of the other agents?

https://learning.postman.com/docs/administration/onboarding-checklist/#setting-up-postman

[2022-10-07 04:59] Danushka96 commented on #6682
+1

[2022-10-07 06:55] davidespihernandez commented on #11334
Thanks for your question, @maticardenas. Seems to be a bug, we'll look into it.

[2022-10-07 07:14] davidespihernandez commented on #11334
@maticardenas Can you please post here the exact request (URL, method, body) you used to create the folder? Thanks!

[2022-10-07 07:36] maticardenas commented on #11334
HI @davidespihernandez , thanks for your reply.

Yes, this is a similar request to the one I performed to create the folder in that collection:

[code]

[2022-10-07 07:39] danipenaperez commented on #6682
+1

[2022-10-07 09:33] uschwag commented on #11240
It was a mixture of missing data and my fault not to know that Postman strictly doesn't emit default values.
I would therefore highly support #11233.
1. This would make Postman more comparable to other tools.
2. A common test case can also be handled better, "show me all fields where the server does not provide any data".

[2022-10-07 09:33] #11240 closed, assigned to codenirvana

[2022-10-07 10:06] postman-support commented on #11332
Hi @phen-chub,

Could you share a recording of the issue and the logs and send these over via support ticket: https://support.postman.com/hc/en-us/requests/new - please?

We find loom.com helpful for sharing screen records.
How to get logs from the Postman Web app

via @beatrixSze | Postman Support

[2022-10-07 10:09] davidespihernandez commented on #11334
Thanks, @maticardenas!

I can confirm the problem is related to the white spaces in the id. If you don't use any white space, you will be able to create and manage the folder without errors.
We are trying to get that folder deleted for you, I'll let you know when that's done.
In addition, we will fix the API to reject ids with blank spaces and will change the documentation accordingly.

Thanks for

[2022-10-07 10:17] Hibbem commented on #2452
How is it possible to have this not implemented after 6 years 😅
Promise after promise, but no results, gg.
Insomnia it is for our team now 👍

[2022-10-07 10:27] at-besa commented on #2452
@postman-support whats the statement from you why this isnt implemented yet? oauth 2 is pretty much the most common authentication method and it sucks to manually retrieve an oauth token every time or to have some miserably working pre request script.

[2022-10-07 10:29] maticardenas commented on #11334
Thanks a lot @davidespihernandez

[2022-10-07 10:32] maticardenas commented on #11328
@davidespihernandez thanks for your reply!

I've been trying to create requests as well through the API, but also I'm not being successful.

I'm attempting to create a `request` object with following request:

[code]

I get a `200 OK` response with following content:

[code]

However, when I go to browse the collection through the UI, I just get a message that it's not found.

![image](https://use

[2022-10-07 13:21] ziring-tawfique commented on #10185
Still an issue Version 9.31.0 (9.31.0)

[2022-10-07 13:21] davidespihernandez commented on #11328
Hi, @maticardenas!

I was able to create a request on an existing folder with this payload:

[code]

Notice the field `folder` in the body must contain the folder id of an existing folder.
Please let me know if that works for you.
Thanks!

[2022-10-07 13:33] maticardenas commented on #11328
Hi @davidespihernandez

Thanks, I just tried with almost exactly the same request that you shared, but the result is the same :(
I get the `200` response, but still it doesn't seem to be visible on the UI.

The request:

[code]
![image](https://user-images.githubusercontent.com/12075970/194565850-f0764080-7f9b-46a9-ab88-43258b201dd8.png)

Note that I haven't even specified the folder, just trying

[2022-10-07 13:48] davidespihernandez commented on #11328
Can you try using a UUID in the request ID instead of the string id? You can use this one: e12d2aa6-85c8-4e6c-aad0-1adcfe05c964, for instance.

[2022-10-07 13:52] maticardenas commented on #11328
@davidespihernandez that worked! I didn't try before with UUID indeed. Alright, I will give it a shot this way then.

Thanks for your help!

[2022-10-07 13:57] davidespihernandez commented on #11328
Nice! We will update the documentation too.
Thanks for your time!

[2022-10-07 14:24] sineed commented on #11252
Yes, it has the same use-case as with HTTP collections: you share it within your team and/or clients interested to integrate

[2022-10-07 15:33] davidtimmsinshur commented on #8911
@malvikach Hello, is there any update on the progress of this fix?
Many thanks.

[2022-10-07 18:17] 27shutterclicks commented on #4690
Vote +1 for console.clear()

[2022-10-07 19:14] moehawamdeh commented on #4739
This is a great feature that would be for sure an added value Postman users, my suggestion is to also enable it through pre-request script :)

[2022-10-07 19:16] matheus-meneses commented on #5129
+1 have been this implemented?

[2022-10-07 19:36] mohammadmazen commented on #4739
It's much needed issue, hope it will added soon!

[2022-10-07 20:45] jSylvestre opened #11336 "GraphQl Schema gone with V10"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Using a local API schema, it doesn't appear as a choice with version 10.
If I install the latest WIn 64 from the downloads page, they show up again.

### Steps To Reproduce

Install Version 10, then local schemas do not show up.

[2022-10-08 02:05] thachvan commented on #6984
Fixed on 10.0.20

[2022-10-08 09:23] harryi3t opened #11337 "Feature Request: Support for "Visualisation" in Flows"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

We can use the visualise feature for a single request. This feature request is for adding support for the same in Flows as well.

If any request

[2022-10-08 18:06] vdespa commented on #4690
@vkaegis

It seems that this feature has a relatively high user support and "appears" to be easy to implement. Could you maybe share more details on why this has not been considered yet? Maybe it is a great idea that has just been forgotten since 2018. Thanks.

[2022-10-08 18:50] 27shutterclicks commented on #4690
To add a few more details:

Right now, my time in Postman is spent between coding tests, running collections and clearing the console.

Scenario (where I usually have the console in a separate window on my second screen):

- Type some code that outputs to console.
- Alt Tab to console window
- Press Clear or use Ctrl+Shift+K hotkey
- Alt Tab again to Postman window
- Run Collection or Send request

[2022-10-08 20:48] hholst80 commented on #10030
This seems to be a universal problem with Electron inside a Flatpak (or snap) container.

1. Open up the flatpak environment.
2. Set the environment variables
3. Run Postman

We do not know what in the internals of Postman that goes wrong, but a developer should be able to attach a debugger to the process or sprinkle the code with some console.log and find out where it is trying to find the resour

[2022-10-08 21:57] Efim27 opened #11338 "gRPC file sending/streaming support"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I can't find functionality to test sending/streaming files via gRPC. Since this case is common in development, it would be useful to add the ability to read bytes from a file (or other so

[2022-10-08 23:17] hholst80 commented on #10030
I think I've gone as far as I will with this. Election uses Chromium for the UI stuff. Chromium in a flatpak will suffer from the same limitation as Postman and other Electron based apps.

Unless some kind of platform solution (workaround) is found for Chromium I don't see how any progress be made as Electron is Limited to what Chromium can support.

[2022-10-09 09:56] maticardenas commented on #11328
HI @davidespihernandez,

Sorry for bothering again, but I'm now having issues attempting to create the request, in this case specifically with the `headers`. I understand it needs to be submitted as a raw string as defined in the [schema](https://schema.postman.com/collection/json/v1.0.0/draft-07/collection.json), nevertheless I happen to come with two issues.

1. On the one hand, submitting just

[2022-10-09 11:02] johnib commented on #5817
Postman team, you remind me my beloved uncle, who had an earring device.
Occasionally, when he didn't want to listen anyone, he would just turn off his device.

Your users are waiting for this feature, make it happen please.

[2022-10-09 11:05] gorsash commented on #5817
Yes. Updated comment

[2022-10-09 17:07] kim-mini6 opened #11339 "I can't delete my Google account."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I'm trying to delete my account, but I can't log in to my Google account in the user authentication part.

Even if you enter your Google email password, authentication does not work.

Please refer to the screenshot.

### Steps To

[2022-10-10 00:00] shubhbhargav commented on #9176
@ale-lit @lptarik @nickhoeferpickpro Can you please share the CURL output of these requests? This issue generally pops up for customized HTTP responses (including headers) which do not follow corresponding RFCs.

[2022-10-10 00:47] shubhbhargav commented on #8911
@davidtimmsinshur @KornKalle  We are unable to reproduce this issue on Postman 9.31.17. Can you please let us know which version are you on and also the steps to reproduce the same (preferably a sample collection / request)?

[2022-10-10 01:27] supertrouper opened #11340 "Code snippet support Rust ?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Can code snippets support the Rust language?

### Describe the solution you'd like

Can code snippets support the Rust language?

### Describe alternatives you've considered

_No response

[2022-10-10 06:03] postman-support commented on #11335
Hey  @chrisonyohannan
I tried to replicate the behaviour but was unable to get it.

Let me know if you are using any special Use domain names like .local, We have an ongoing issue and it is been tracked in the below thread:
https://github.com/postmanlabs/postman-app-support/issues/10620

Also let me know if you are manually setting cookies via the Cookie Manager, if yes then you have to specify th

[2022-10-10 06:08] giridharvc7 commented on #11336
@jSylvestre Thank you for reporting this issue, we are looking into it right now. Will let you know once we have fixed it here in the same thread

[2022-10-10 06:15] ArjunSingh-PM commented on #11339
Hello @kim-mini6, do you see an option to `Sign in with Google` at https://identity.getpostman.com/? Could you please try signing in using this option?
![image](https://user-images.githubusercontent.com/53265429/194806706-7c0ba207-48ee-4fa4-952c-d3053739a130.png)

If you still face issues, please reach out to us at help@postman.com. Thanks!

[2022-10-10 08:36] bnelissen-orisha opened #11341 "Can't connect new API to Bitbucket repository"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I can't create a new API with Bitbucket repository, It says that another API is using it even if there no other API.

### Steps To Reproduce

1. Go to API tab
2. Click on "Create an API"
3. Choose Bitbucket and confirm authorizat

[2022-10-10 08:51] abhijitkane commented on #11341
@bnserig While we look into this, can you reach out to us at help@postman.com with the name of the repository you want to link to? We should be able to unblock setting up the integration.

[2022-10-10 11:51] jasonrakers opened #11342 "Collection Runner - A new Run removes the previously attached data file"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

v10.0.20 seems to be removing the attached data file used in Runner.  Previously, selecting New Run returned to the Runner tab with the existing collection and data file selected.  Now the existing collection is selected, but the

[2022-10-10 12:04] DannyDainton commented on #11342
Hey @jasonrakers 👋🏻

Thank you for raising this issue - I was able to reproduce this using V10. We're going to take a look and see what's happening there.

We'll update the thread once we have more information - Thanks again.

[2022-10-10 13:31] malvikach commented on #9862
Hello @bearmc27 👋

Glad to inform you that this bug has been fixed in Postman version 10.

Please give it a try and let us know your feedback.

Cheers!
Malvika

[2022-10-10 13:31] #9862 closed, assigned to malvikach

[2022-10-10 14:43] deenaawny-github opened #11343 "arabic rtl not rendering properly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

arabic is not rendered properly.
the words change their order from right-to-left to left-to-right

### Steps To Reproduce

1. Open postman
2. File > New HTTP request
3. Inside the Body, type in Arabic language.

### Screenshots o

[2022-10-10 14:44] deenaawny-sia commented on #11343
![image](https://user-images.githubusercontent.com/105590131/194892759-a9c2ed64-0187-4b18-b369-783de8fbbdd1.png)

[2022-10-10 14:51] giridharvc7 commented on #11336
We've raised a fix, can you check and let us know if things are working as expected
You can either check Web v10.0.21-221010-0634 or desktop v10.0.21-ui-221010-0634.

Just reopen the app for the latest update.

[2022-10-10 15:20] jSylvestre commented on #11336
@giridharvc7 Yes, looks good now.
Thanks for the quick fix,
-Jason

[2022-10-10 15:34] #11336 closed, assigned to akshaydeo, shubhbhargav

[2022-10-10 16:34] tsilverberg commented on #8911
Hi @shubhbhargav , I'd like to point out that though this issue doesn't reproduce on inside the Postman app (9.31.16), it's still happening in the published documentation.

![image](https://user-images.githubusercontent.com/16387951/194913524-51c43a42-1e6c-41c5-ad78-794145494238.png)

Published:
https://docs.anny.trade/#d3dfd2f6-7155-4cb7-92af-7304c7265933
![image](https://user-images.githubuserco

[2022-10-10 17:20] Udayakumarg opened #11344 "Need ordering in Postman Monitors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

We use postman monitors extensively for different applications of acquisitions.

We have the same for 5 different environments, which makes very hard to search (Search option is available

[2022-10-10 18:26] shubhbhargav commented on #9176
Thanks for the confirmation @ale-lit . We will wait for a few weeks to see if anyone else is facing this issue anymore. If not, we will close it. :)

[2022-10-10 18:53] shubhbhargav commented on #9739
Closing off the issue for now. We will re-open it in-case anyone else comes across this.

[2022-10-10 18:53] #9739 closed, assigned to nobody

[2022-10-10 19:13] shubhbhargav commented on #10692
@byrdman We have made some improvements to the collection import flows. Can you please let us know if you are still facing this issue?

[2022-10-10 19:16] Donato10 commented on #9729
This is happening to me again on version Version 10.0.21

[2022-10-10 19:27] shubhbhargav commented on #9729
@Donato10 In order to debug this further, can you share a screen recording? Or in-case it is consistently reproducible, you can let us know the steps for the same.

[2022-10-10 19:53] Donato10 commented on #9729
Steps:

1. Create a collection and set the Authorization method to "Bearer token" with the value being `{{token}} `(Notice this token environment variable does not exist yet)
<img width="937" alt="imagen" src="https://user-images.githubusercontent.com/5905031/194941973-29f49cd0-6040-460b-9f4c-a663b93284b8.png">

2. Create two environments to hold values for your collection. I named them "QA-1" and

[2022-10-10 20:34] Cindi-QA opened #11345 "Upgrade to V10 does not update the API when the Collection is updated"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Upgraded to V10 and now the API and Collection do not match.  I renamed the Collection but it was not updated in the API panel.  I added all my code, tests, variables, etc in the collection but they are not in the APIs.  When I r

[2022-10-10 22:34] Donato10 commented on #9729
Another workaround that worked for me, this time fixing the problem is exporting the collection and environments and re-importing them, potentially something was wrong with the specific collection I had before, I could not reproduce anymore after re-importing @shubhbhargav

[2022-10-11 01:16] zyystudio commented on #2240
how about integrating with spnego kerberos?

[2022-10-11 02:28] bearmc27 commented on #9862
I am not in Postman v10 early access group, and sorry, not intended to do so for now.

Interestingly, I fail to reproduce this problem with v9.31.0. Bug gone, everyone happy! 🎉

[2022-10-11 04:12] shashankawasthi88 commented on #11345
Hi @Cindi-QA with the launch of V10, we have disassociated the collection in API from the collections that you see in the sidebar. When you add a collection, a copy of the collection is created and attached to the API. Now you have two collections, one in the collection sidebar and one in API, they do not have any inheritance/ connection. Refer to the docs [here](https://learning.postman.com/docs/

[2022-10-11 05:22] parthverma1 commented on #9984
Hi @josebsanchez.
The issue is fixed and not reproducible as of version: 9.31.18

Please let us know if you still think this is a bug.

[2022-10-11 06:04] kim-mini6 commented on #11339
When you unsubscribe, the Sign in with Google button does not appear.

[2022-10-11 07:06] lgext06 opened #11346 "Duplicate request does not work anymore"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The duplicate request function produces a new entry with an empty URL, empty headers.
It is just a new entry, but nothing is copied from the duplicated request.

### Steps To Reproduce

1. Select a request
2. Duplicate the reques

[2022-10-11 07:08] DannyDainton commented on #11346
Hey @lgext06

Can you increase the surface area of the images, to include the whole app state, please?

Also, are you duplicating the request or duplicating the tab?

[2022-10-11 07:20] at-besa commented on #10575
go for auto refresh token like in Insomnia
here the related issue from years ago.
https://github.com/postmanlabs/postman-app-support/issues/2452

[2022-10-11 07:32] byrdman commented on #10692
Could you elaborate on "share your issue information"?  What exactly do I
need to send to ***@***.***?

Sam

On Wed, Jun 1, 2022 at 11:10 PM harsh_bansal ***@***.***>
wrote:

[2022-10-11 07:40] silverbullettruck2001 commented on #9501
No, this is now working.

On Tue, Mar 22, 2022 at 9:26 AM Danny Dainton ***@***.***>
wrote:

[2022-10-11 07:41] mottipazlazar commented on #11229
Can’t share it from security reasons, sorry

Motti Lazar
________________________________
From: shubhbhargav ***@***.***>
Sent: Tuesday, September 6, 2022 4:16:33 AM
To: postmanlabs/postman-app-support ***@***.***>
Cc: mottipazlazar ***@***.***>; Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] environment variable "current" value keeps being removed (Issue #11229)

I see. Is it

[2022-10-11 07:43] Guitarhead101 opened #11347 "Specify a port for my WebSocket"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I can't use postman as there is no way to specify the port on which the websocket it operating from

### Describe the solution you'd like

A mechanism to be able to specify the IP address

[2022-10-11 07:52] lgext06 commented on #11346
HI @DannyDainton ,
I'm using the duplicate context menu on the request entry :
![image](https://user-images.githubusercontent.com/58026893/195030778-dc038235-897c-44fa-90e0-4ac83ecfbe6a.png)

[2022-10-11 07:55] DougMaisells commented on #11208
https://support.postman.com/hc/en-us/requests/116138?page=1

I’ve done as you asked and included logs and two screencasts.  I can’t spend any more time on this.  Please provide a fix.  Thanks

From: Postman Support ***@***.***>
Date: Wednesday, August 24, 2022 at 10:39 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Doug Maisells ***@***.***>, Mention ***@***.***>
Subject: Re: [postmanlabs

[2022-10-11 07:56] DannyDainton commented on #11346
Did the one where you duplicated it from, still have unsaved changes? Does it have an orange dot in the tab title?

[2022-10-11 08:16] lgext06 commented on #11346
Good question: yes, it does have an orange icon.
Thus, I tested after saving and it works if the original request is unchanged.

But if the original request is modified again, the duplicate will produce empty copy.

I would expect to have the current values copied, so that I can revert the changes on the original request.

Not sure if this is a bug, or by design?

[2022-10-11 08:21] DougMaisells commented on #11208
Postman,
I tried to post a screen recording from SnagIt but it says the file is too large.  Definitely reproducible at the site below.
See attached.
Doug M

From: Postman Support ***@***.***>
Date: Wednesday, August 24, 2022 at 4:59 AM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Doug Maisells ***@***.***>, Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] I have APIs whi

[2022-10-11 08:32] adamatkinso commented on #10946
Thanks. still learning my way around. I wish I found postman 12 months ago.

On Thu, 26 May 2022 at 13:00, Shashank Awasthi ***@***.***>
wrote:

[2022-10-11 08:40] vizakgh commented on #5980
Hi. Collection does not look corrupted, but it has many (10-20) big requests – with base64 file body inside (~1-3MB). We can have a call on Thursday, 1PM  (10PM UTC). Regards,Victor From: KamalakannanSent: 23 травня 2022 р. 8:09To: postmanlabs/postman-app-supportCc: vizak; MentionSubject: Re: [postmanlabs/postman-app-support] Gray/blank screen after some seconds ***@***.*** I can see a lot of erro

[2022-10-11 09:15] davidespihernandez commented on #11328
Hi, @maticardenas !
I received an email with a question on Oct, 9, but I can't find the comment here in the ticket. Is there anything else I can do for you? Or can we close this issue?
Thanks for your time.

[2022-10-11 09:26] maticardenas commented on #11328
Hi @davidespihernandez,

I had submitted a comment indeed, but I found a way out of the problem I was having, so I just deleted it.
Thanks though for the willingness to help! This issue can be closed indeed.

[2022-10-11 09:57] nogamenofun98 commented on #11147
I also has this issue, I am the admin of the team workspace, and for some reason it keep showing me someone in the workspace is using v9 and it block me from using my postman window app, so i removed everyone and myself so can get rid of the error.

But IT REMOVED ALL THE DATA INCLUDING PERSONAL WORKSPACE????
How can I retrieve back those data?? It has my production system collection api and a lot

[2022-10-11 10:18] mateuszzz88 commented on #8348
I am having this issue with 9.27 version. But direction is different than in shubhbhargav's video. I am setting cookie manually in "cookies window" and I want it to add itself as a header in request (which doesn't work). Video shows that cookie is added from parameters which I don't care about

[2022-10-11 10:39] glaszczkowski-unicef commented on #4391
Resource field does not exist when grant type is "Password credentials"

[2022-10-11 10:51] DannyDainton commented on #11346
Not too sure what you mean by this:

It will duplicate the saved changes for a request, if there are pending changes those won't be duplicated. It won't create an empty tab unless the tab was empty to begin with.

[2022-10-11 11:00] Tekorius commented on #11325
This also happens on Intel MacBook. Haven't done any debugging into the problem, but every morning when I wake my computer I need to restart Postman.

[2022-10-11 11:40] streunerlein commented on #6682
+1

[2022-10-11 12:03] martinstenhoff opened #11348 "Postman does not add the Authorization header when "Inherit auth from parent""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman sometimes does not add the Authorization header with the bearer token for a request that has "Inherit auth from parent"

I can't recall ever having this issue with the 9.x version of the PostmanApp, but now with 10.x, mor

[2022-10-11 12:30] chepa92 commented on #9508
any update on this?

[2022-10-11 13:29] c98 opened #11349 "env variable is not synced when modified"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

after i upgrade postman to 10.0.22, the env variable does NOT work in some case.

### Steps To Reproduce

when i modified a variable and saved it, then i send request, the request code does NOT contain my new variable value.

###

[2022-10-11 13:31] c98 commented on #11349
#11348

[2022-10-11 13:46] DannyDainton commented on #11349
Hey @c98

Can you provide a short video of the behaviour that you're seeing please, it's going to be difficult for us to take this forward without seeing what's happening in your Postman instance.

[2022-10-11 14:16] christinecha commented on #9095
+1 - this felt like a bug to me!
<img width="1242" alt="image" src="https://user-images.githubusercontent.com/13008259/195115971-fec42109-155b-4c67-a6b8-e557a1c791db.png">

[2022-10-11 14:38] dvdmierden opened #11350 "Folder icons / colors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

There is only one icon for folders in Collections; no visual distinction between folders.

### Describe the solution you'd like

Ability to select different icons or (background) colors f

[2022-10-11 16:56] chiappone commented on #5816
I get the same stacktrace as @jeff-anderson-cscc for Ubuntu in Parallels M1

[2022-10-11 17:41] shubhbhargav commented on #10692
@byrdman We will need the collection JSON to be shared at `help@postman.com` (removing any sensitive data). You should be able to get the JSON via the `Export` action on the collection sidebar menu.

[2022-10-11 18:10] byrdman commented on #10692
Either the recent updates or clearing my postman cache seem to have fixed
the problem.

On Tue, Oct 11, 2022 at 12:41 PM shubhbhargav ***@***.***>
wrote:

[2022-10-11 18:28] shubhbhargav commented on #8348
@mateuszzz88 The above video is for illustration purposes only. :) Can you share a screen recording of the issue once? Will help figure out how to reproduce the issue and fix it accordingly.

[2022-10-11 18:29] shubhbhargav commented on #10692
Thanks for the confirmation @byrdman. I am closing this issue as of now.

[2022-10-11 18:29] #10692 closed, assigned to Harsh-Bansal, malvikach

[2022-10-11 19:19] giridharvc7 commented on #11348
@martinstenhoff Thank you for reporting this issue. This is a bug we are tracking as a high priority, I will keep you posted here.
In the meantime, to unblock yourself, can you try setting the initial value for the environment, save the environment and try sending the request?

[2022-10-11 20:20] ahavensdaxko commented on #11348
I can confirm this problem on my client also. Windows 10, Postman client v10.0.22. If I change my Authorization from Inherit auth from parent to explicitly providing the bearer token on that request it works.

[2022-10-11 20:37] almesery commented on #11348
i confirm this problem also

[2022-10-11 20:50] popensesame commented on #8413
+1 I'd like to generate multiple postman examples for a single status code from an openapi schema and also control which request body examples are mapped to response examples.

Could we use named examples for request bodies and responses and then generate postman examples by matching the names of the openapi examples to generate postman examples?

For example:

[code]

So two postman examples woul

[2022-10-11 21:23] gregpboon commented on #6565
As @NandoZee said "Restoring collections is a feature, how is this not?".
There is a restore in history but it does NOTHING.

[2022-10-11 23:00] cd-rite commented on #11348
I think this may have something to do with the way Postman is resolving its environment variables.... But I can't get it to happen reliably.
It seems to be truncating the Envvars I'm using to hold our bearer tokens when inheriting auth. It only includes a portion of the token, with an added ellipse....This also happens when hitting the "code" button for the curl version of the request. It even sho

[2022-10-11 23:28] cowtowncoder commented on #8808
This will definitely cause issues for Java services that apply stricter validation of URLs, including query parameters.

Quarkus/RESTeasy combo seems to barf on un-encoded curly braces, for example; probably same for brackets.

[2022-10-12 03:32] c98 commented on #11349
Thanks for your reply @DannyDainton
I upload a video for repreduce the case.

after i modified the {{token}} variable and save it, the send request does NOT used the newest value.

[2022-10-12 03:40] centur commented on #11348
Same on MacOS, multiple collections with auth set up as inherit from parent are now broken. Console shows that Current value from selected environment is not replacing env var for Bearer token. Switching a specific call from inherit to the same value of Bearer token with env vars - and it works as expected:
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/720822/1952439

[2022-10-12 03:45] jessemoe opened #11351 "Could not directly change default header setting"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Could not directly change default header setting

### Steps To Reproduce

1.open a new request tab

### Screenshots or Videos

_No response_

### Operating System

windows

### Postman Version

9.14.0

### Postman Platform

Postm

[2022-10-12 03:54] DannyDainton commented on #11351
Hey @nocsg

Without more context and examples of what you're trying to do, its going to be difficult to move this forward.

Please provide additional information to help us understand the issue.

[2022-10-12 04:13] DannyDainton commented on #11349
Thank you for the video.

Looks like it might be related to this https://github.com/postmanlabs/postman-app-support/issues/11348

[2022-10-12 05:19] giridharvc7 commented on #11348
@centur Apologies for the experience you are facing. We are working on this bug right now as we speak. I'll keep you posted as soon as we have a fix.

[2022-10-12 05:26] schikla commented on #8038
Same problem. Since 21st of September, a used service is only offered by NTLMv2.
The answer to the login request is 401Unauthorized.

[2022-10-12 06:11] giridharvc7 commented on #11348
We will have a fix in the next few hours, in the meantime, you can download v9.31 through this [page](https://www.postman.com/downloads/) which will not be having this bug. @centur

We will keep posting updates here as we have progress on the fix in v10.x

[2022-10-12 07:34] bnserig commented on #11341
@shashankawasthi88 I don't know if a colleague of my team has an API connected to this repo.
I tried to leave the team (and it erase all my data...) but I can't signon anymore in my account. I says : "Your team only supports Postman v9". It's broken, I don't know what to do.

[2022-10-12 07:36] shashankawasthi88 commented on #11341
@bnserig can you reach out to [help@postman.com](mailto:help@postman.com), we will try to unblock you on this flow. @postman-support ^

[2022-10-12 07:52] mamjong opened #11352 "Inherited authentication referencing a secret variable is not added to requests properly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I add an authorization method to a collection, which references a secret variable from an environment, the value of the variable is not added properly to the request. For example, when using basic auth the base64 decoded aut

[2022-10-12 08:36] mateuszzz88 commented on #8348
I can't share screen or actual requests - it is for work and security team would be angry. Instead I can flesh out steps a little

1. Website needs specific cookie to work (`foo=token`). Value for token changes daily
2. Configure request in collection. It goes to variable `{{base_url}}`
3. Configure variable base_url in collection settings.
4. Configure cookie `foo=token` for site company.com. Not

[2022-10-12 09:30] #8193 closed, assigned to abhijitkane, ArjunSingh-PM

[2022-10-12 09:37] w4dd325 commented on #11299
@malvikach Sorry been a little swamped lately, I will try and get some time soon.

[2022-10-12 09:39] ArjunSingh-PM commented on #6299
The user can request access if they do not have edit access to the collection. The option is presented when the user tries to move or manage roles on a collection.
![image](https://user-images.githubusercontent.com/53265429/195307446-51fa2873-d369-45bc-9ecf-db228c14f46e.png)

[2022-10-12 09:39] #6299 closed, assigned to preethammavin, ArjunSingh-PM

[2022-10-12 09:46] ArjunSingh-PM commented on #9577
We have added the option to bulk invite users by uploading a csv file at the manage team page as well.
![image](https://user-images.githubusercontent.com/53265429/195309824-40b05fcf-228e-4214-a846-5911878c7bd5.png)

[2022-10-12 09:46] #9577 closed, assigned to ArjunSingh-PM

[2022-10-12 09:49] ArjunSingh-PM commented on #11339
@kim-mini6 We have identified and corrected the issue. You should be able to use the `Sign in with Google` option now.

[2022-10-12 09:49] #11339 closed, assigned to pankajkumar005, ArjunSingh-PM

[2022-10-12 10:30] vedkribhu commented on #11348
@centur @martinstenhoff @ahavensdaxko this should be fixed now on 10.0.24. If you (restart your v10 app / reload your browser tab) you should have the fix.

[2022-10-12 10:45] ArjunSingh-PM commented on #10220
We do not have plans to enable GitHub sign-in in the near future. Closing for now.

[2022-10-12 10:46] ArjunSingh-PM commented on #10220
We do not have plans to enable GitHub sign-in in the near future. Closing this issue for now.

[2022-10-12 10:51] giridharvc7 commented on #11352
Hey @mamjong , we are tracking this in #11348 . Please restart the app for the update and try the flow and let us know if works for you. Closing this for now

[2022-10-12 10:51] #11352 closed, assigned to nobody

[2022-10-12 10:56] giridharvc7 commented on #11349
@c98 We've raised a fix for #11348 , can you try restarting the app (which should get you the fix), try again and let us know if it works for you

[2022-10-12 10:57] giridharvc7 commented on #9470
@chris-kck We've fixed this in the latest update, can you once restart the app/refresh your web app to see if things are working fine for you?

[2022-10-12 10:58] Wilhop commented on #11348
Postman support asked me to check this issue. Our Basic auth token password was not getting Base64 encoded correctly, but instead the encoded password was just literal bullet signs "•••••••". The password value is defined in Environments.

In our case, updating 10.0.24 fixed the problem. The Authentication header now has the password encoded correctly.

[2022-10-12 10:59] ArjunSingh-PM commented on #8671
Closing this issue as this is not reproducible.

[2022-10-12 10:59] #8671 closed, assigned to godfrzero, ArjunSingh-PM

[2022-10-12 10:59] ArjunSingh-PM commented on #10220
We do not have plans to enable GitHub sign-in in the near future. Closing for now.

[2022-10-12 10:59] #10220 closed, assigned to ArjunSingh-PM

[2022-10-12 11:05] #9341 closed, assigned to ArjunSingh-PM

[2022-10-12 11:10] mamjong commented on #11352
Yep, seems to be fixed in patch 10.0.24. Thank you.

[2022-10-12 11:24] ArjunSingh-PM commented on #10840
@nasco-a: While we work to improve this flow further, teams can use the following URL to navigate directly to the team's auth page which includes the SSO option.

https://identity.getpostman.com/enterprise/login/authchooser?team=<TEAM_DOMAIN>

[2022-10-12 11:39] pall-sha opened #11353 "The postman collection passes when we execute the run manually but it fails often in the monitoring section of postman."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The issue is with the monitors. The postman collection passes when we execute the run manually but it fails often in the monitoring section of postman. I would like to determine the cause.

### Steps To Reproduce

Our monitors fo

[2022-10-12 11:50] DannyDainton commented on #11353
Hey @pall-sha

With that current information and no screenshots or visual examples of what you can see, it's difficult to know what's happening.

- What are the failures?
- Is it the same failure each time?
- Are those fails related to Authorization?
- Are these specific test failures?
- Are using Environment or Globals in the Collection?
- Do you have variables set only in the current value and n

[2022-10-12 13:40] n1xan commented on #9487
Having same issue on the desktop app. Completely unusable. I signed up using google account.

[2022-10-12 13:43] mayureshs commented on #3358
+1 to this feature. Please fix the uppercasing issue.

[2022-10-12 14:04] smblades1107 opened #11354 "Opening Postman on Windows 10 Machine Results in Grey Screen"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Opening postman on my windows 10 machine results in postman just showing a grey screen.

### Steps To Reproduce

1. Open postman

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/34686584/195364194-0c

[2022-10-12 14:05] uschwag opened #11355 "gRPC Collection - After duplicating and renaming request name is still wrong"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After duplicating and renaming of a gRPC request the old name is still displayed.
After a restart of the application the right name appears.

### Steps To Reproduce

1. Open a gRPC Collection with requests
2. Duplicate a request,

[2022-10-12 14:16] codenirvana commented on #11355
@uschwag Thanks for reporting this issue. We'll fix this soon.

[2022-10-12 15:09] #11348 closed, assigned to giridharvc7

[2022-10-12 15:09] chepa92 opened #11356 "Import ignoring description from OAS3"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

![image](https://user-images.githubusercontent.com/31892489/195379017-108fc673-e422-4b07-a4f5-1051c41a37e1.png)
as wrote here it's will take description to name request and this isn't working, opened same request for converter, t

[2022-10-12 15:22] maticardenas commented on #11334
Hi @davidespihernandez,

Sorry to bother you again, but was it possible to check the deletion of the folder? I see unfortunately that it's still there and I'm still unable to delete myself through the UI 😢

Reason I ask, is again, that it's added by mistake in our public collections and given that it's what all consumers check it's not ideal to have a test folder there.

Thanks!

[2022-10-12 15:23] deividas-pelakauskas commented on #11252
@codenirvana As others mentioned, would be incredibly useful if we could share the collection with third-parties to test out product based on WebSocket. Workflow:

1. Create a WebSocket collection with messages
2. Export WebSocket collection as a JSON file
3. Third-party imports WebSocket collection to use

[2022-10-12 16:28] olaforest commented on #11232
@codenirvana @DannyDainton Any news on the above questions?

[2022-10-12 16:51] codenirvana commented on #11232
@olaforest Sorry for the delayed response. We’ll enable this by the end of this month. 🤞🏻

[2022-10-12 18:14] kavish-chathuranga commented on #8812
Were you able to sort this out?

[2022-10-12 18:48] FelipeAlvesLima commented on #3706
ETA +5 yrs!

[2022-10-12 18:50] shubhbhargav commented on #8911
Thanks for highlighting this @tsilverberg. We are looking into this issue.

[2022-10-12 18:58] Ludatick opened #11357 "Hash(#) in URL is not getting encoded"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When "Encode URL Automatically" is enabled, the call request path is not being encoded for specific characters. The characters not being encoded are treated differently when used as a query parameter value. Attached are two scree

[2022-10-12 19:31] codenirvana commented on #11357
@Ludatick This happens because `#`  in a URL string represents a [URI fragment](https://en.wikipedia.org/wiki/URI_fragment).
The "Encode URL automatically" setting encodes reserved characters (as per WHATWG spec) in URL segments, but `#` holds a different meaning.

It's working for the query-params input because the URL string has `%23`.

<img width="592" alt="Screenshot 2022-10-13 at 12 56 48 AM"

[2022-10-12 22:12] pierregober commented on #8179
+1 🗡️

[2022-10-12 22:15] pythe commented on #2452
I just got some blowback from my team for trying to use the built in Oauth2 authorization scheme because of the lack of this feature.

Instead we have another request, straight to the Oauth server, that sets a $BEARER_TOKEN var. It's four clicks to run the Oauth request then the target request, versus six to get a new access token, use it, and finally fire the target request. I'd prefer two.

[2022-10-12 22:36] JordanGardiner-enable commented on #2676
After munting production, I too would love this as a feature!

[2022-10-12 23:44] rossknudsen commented on #10368
Some debug information:

[code]

Will update the auth correctly for the cloned request, but `pm.request` will still have whatever is configured in the UI.

[2022-10-13 02:40] centur commented on #11348
@vedkribhu  Can confirm it fixed our issue. Thanks for quick turnaround with this critical issue

[2022-10-13 04:16] j5shi commented on #4739
Can't believe it's still missing...need it so badly...

[2022-10-13 04:47] mjasimuddin commented on #7171
![image](https://user-images.githubusercontent.com/35954711/195503895-ba86b3aa-b8ed-46de-bee9-882138df9a95.png)
I was facing authentication issues from last one week

[2022-10-13 05:27] akshaydeo commented on #11356
@chepa92, thank you so much for reporting this bug and sending the PR across.

We will evaluate the fix and update this ticket as soon as possible. 🙇‍♂️

[2022-10-13 07:00] lgext06 commented on #11346
Hello,
I started recording a video when I realized why I don't understand the behavior.

The duplicate request adds the request just below the duplicate one, not at the end of the list.
This is why I could not see saved changes taken into account, because I was watching the first copy ...

Now I feel embarrassed to have abuse your time .. but at least I understand the behavior ..

May I suggest to

[2022-10-13 07:13] jaj4 commented on #8985
a workaround is to drag+drop all the variables in the UI (functionality at the far left of an entry) until they are sorted alphabetically. it's a tedious and mindless task, but at least a relief. of course every newly introduced variable must also be dragged to the right spot.

[2022-10-13 07:26] davidespihernandez commented on #11334
Hi, @maticardenas.
Sorry about the late response. I've increased the priority of this task. Hopefully, it will be done soon. I'll keep you informed.
Thanks!

[2022-10-13 09:13] jbauerrfid opened #11358 "Postman adds unwanted cookie headers automatically"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman collects cookies from previous requests and adds them to subsequent requests.

The only way to prevent this and simulate a fresh session is to go to cookies section and remove all the cookies manually.

Expected behavior:

[2022-10-13 09:43] Vovour commented on #10459
Why was this issue closed? Has anything changed? For example, the "issue" with the Run, the Save and the ellipsis button opening a drop down menu with only one entry still exists in version 9.31.19.

And I could collect other strange things that are more paint full for me... For example, why can be line wrapping disabled in the response body panel but not in the request panel? Why does the respons

[2022-10-13 10:33] chris-kck commented on #9470
@giridharvc7 Thanks a lot. I used Help-> Clear Cache and Reload and it started working well.
What I noticed is that when the token variable is empty, the Authorization header is removed. When the collection pre-request script assigns the token value, the header is then added to the requests. Since I wanted to get a token before each request and replace the old token (different user login), I was i

[2022-10-13 10:55] mennoxx commented on #11332
It's not missing. On Windows It has finally been merged together with the header and menu bar is inside the burger menu.
Sadly not on linux, yet, but thats way more complicated.

related: https://github.com/postmanlabs/postman-app-support/issues/5302 https://github.com/postmanlabs/postman-app-support/issues/2412

[2022-10-13 11:42] martinstenhoff commented on #11349
It's confusing that the Postman UI shows a stale value of an environment variable. You should either:
* have a change listener so that everywhere an env variable is referenced it can show the current value.
* display the name of env variable and not the value of it. i.e. "Bearer {{accessToken}}" instead of "Bearer [value of accessToken env variable when request was opened]"

See attached. The acce

[2022-10-13 12:43] armudgal commented on #974
Any update on this, a response from the team would be really helpful for the community. @vinitshahdeo

[2022-10-13 13:38] preethammavin commented on #7171
@mjasimuddin hey, can you write to us at hel@postman.com , so that we can take a deeper look

[2022-10-13 13:53] torian257x commented on #8195
Hey ehrm... I have a little friend called timmy. He used your app and lost a couple hours because there is no auto save.

Please don't make little timmy sad.

[2022-10-13 14:38] ArjunSingh-PM commented on #9458
@ninoDagdag Do you still face this issue while signing in to Postman?

[2022-10-13 14:42] bigfoot31 commented on #8747
This definitely is a problem & needs to be fixed. Otherwise Postman is proving useless for me. Here are the headers for which the above error is occurring.
![Screenshot 2022-10-13 at 22 38 48](https://user-images.githubusercontent.com/14835245/195628112-009173c2-5c1a-4192-aee0-fa62ff069d4a.png)

[2022-10-13 14:47] pall-sha commented on #11353
Hi @Danny,

I have mentioned the required information below. Please let me know if you
need any more information to close this issue ASAP.

   -

   What are the failures?

502 bad gateway and 404.

   -

   Is it the same failure each time?

 No failure is different.

   -

   Are those failures related to Authorization?

No

   -

   Are these specific test failures?

Yes

   -

   Are using Env

[2022-10-13 15:00] DannyDainton commented on #11353
The monitor wouldn't be able to read the values that you have set as `current` because those are specific to your session.

The values would need to be in the `initial` field for it to have access to them.

[2022-10-13 15:16] noahbroyles commented on #8195
The lack of this feature is the only thing I really hate about Postman.

[2022-10-13 15:18] ArjunSingh-PM commented on #6317
We support SAML 2.0 and just-in-time provisioning.

Please refer to the following documentation for more details:
- https://learning.postman.com/docs/administration/sso/intro-sso/
- https://learning.postman.com/docs/administration/sso/admin-sso/#creating-end-user-accounts

[2022-10-13 15:18] #6317 closed, assigned to pankajkumar005, ArjunSingh-PM

[2022-10-13 15:25] pall-sha commented on #11353
If that would have been the case, then the monitor wouldn’t have worked even once.
But in my case monitor is not throwing any error on somedays while on somedays it's throwing the error whereas the collection is getting passed while running manually.

[2022-10-13 16:14] biscuit314 commented on #4546
Adding my voice to the chorus: please add "Retain Authorization parameters when clicking on links" to the settings.  As @jimcullenaus noted, using Postman with hypermedia APIs, esp. HAL would be much MUCH more useful.

The workaround suggested by @essteebee is fine for Basic auth header, but is clunky with Bearer tokens that expire.

[2022-10-13 16:36] michahell commented on #10407
This is great! Thanks for this improvement. I've referred our testers and others to this news 🎉 🎊

[2022-10-14 03:41] shubhbhargav commented on #9729
@Donato10 Looks like there was a bug in the 10.x version at the time. We have raised a fix for that. More details on this ticket: https://github.com/postmanlabs/postman-app-support/issues/11348

Do restart the app once just to be sure to get the fix working. Let us know in-case you still end up facing the issue.

[2022-10-14 03:50] shubhbhargav commented on #8911
@tsilverberg The issue doesn't seem to be there on the published doc anywhere. Before we dig deeper into this, can you confirm if you have published the doc for the collection recently? In the above screenshot of the published doc, I can't see the header keys in the left section to confirm if the header was there in the published doc at that time or not.

[2022-10-14 03:58] shubhbhargav commented on #11321
Thanks for the info @zznty . We are looking into this on priority.

[2022-10-14 04:53] shubhbhargav commented on #11321
@zznty We are working on the fix for this. We will update once it is deployed.

[2022-10-14 04:58] postman-support commented on #11353
Hi @pall-sha

1. Are these internal or public endpoints?
2. Are you seeing this issue with any other requests?  Like if you run a GET request to `https://postman-echo.com/get`?
 3.  If you are able to consistently access the endpoints outside of the Monitor executions, could you send your logs along to support@postman.com for further investigation?

The steps to do so are here:
https://support.pos

[2022-10-14 05:55] paulmuenzner opened #11359 "Broken Postman screen (screenshot attached)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Please chcek my attached screenshot.

After starting Postman and using it one time (1 Api request) the entire dashboard/Postman screen becomes gray. It is then not possible anymore to use it at all. A restart is needed and then t

[2022-10-14 05:57] JoBurg007 commented on #11354
Have the same problem

[2022-10-14 06:30] shubhbhargav commented on #11358
Hey @jbauerrfid , this is an expected behaviour to ensure that the requests sent to the same domain can share cookies. In-case you would like to disable it, you can follow these steps:

1. Open the request in question and go to the `Settings`
2. Turn `On` the `Disable Cookie Jar` setting

Let us know if this works for you.

[2022-10-14 06:44] shubhbhargav opened #11360 "Auto-generated headers retain the value from the last request sent"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

It's confusing that the Postman UI shows a stale value of an environment variable.
If there is no change listener so, that everywhere an env variable is referenced, it can show the current value then it would be better to just di

[2022-10-14 06:44] shubhbhargav commented on #11349
@martinstenhoff Thanks for the feedback. It looks like a separate issue. I have filed the same here: https://github.com/postmanlabs/postman-app-support/issues/11360

Closing off this issue for now.

[2022-10-14 06:44] #11349 closed, assigned to nobody

[2022-10-14 08:08] Saver3011 commented on #11195
Hey @iuliia-eagle
Is the import working now? If not, please provide the JSON file.

[2022-10-14 08:28] DannyDainton commented on #11195
@iuliia-eagle I'm going to close this issue, if you're able to provide the information that's been requested we can open it up again.

[2022-10-14 08:28] #11195 closed, assigned to akshaydeo, umeshp7, raghumurthy-jayandran

[2022-10-14 08:38] Betristor commented on #9487
I logged out firstly and then signed in again and it worked. It might be because I've changed my profiles before.

[2022-10-14 09:19] pavdro-ttl commented on #10605
bump :)

[2022-10-14 09:24] dunder opened #11361 "Collection Runner - A new Run resets previously selected requests"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The selected requests for a test run are reset when you press the New Run button. The previous behaviour was to keep the selections made in the previous run.

### Steps To Reproduce

1. Open a runner tab
2. Uncheck some of the re

[2022-10-14 09:45] c98 commented on #11349
Thanks, i upgrade to 10.0.27, and it works!

[2022-10-14 10:11] ollio commented on #6682
+2

[2022-10-14 10:23] josuamanuel opened #11362 "Add in Postman Preferences (settings) user default values for the panel Runner Advance settings"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I don't think there is a problem. But...

I need to run my collections with specific advanced settings every time. I don't think there is a user preference settings to setup the default u

[2022-10-14 10:50] kspeers-r7 commented on #2701
+1

[2022-10-14 11:02] ishan-ks commented on #11321
@zznty We have rolled out a fix for this issue. Please update the app to the latest version - **Web v9.31.24** or **Desktop v9.31.21**

[2022-10-14 11:44] josuamanuel commented on #10919
I think this would be a nice feature. @dhwaneetbhatt it is not true that the payload is sent as-is to the server. There is a preprocessing that for example resolve variables before sending to the server.

`{
	"test": {{env}}
}`

is sent as:

`{
	"test": dev
}`

The behaviour could be added in the settings as:

<img width="737" alt="image" src="https://user-images.githubusercontent.com/39583890/195

[2022-10-14 11:52] josuamanuel commented on #10127
I like the text search. Sorting the list by name, creation, last update could be an alternative..

or even implementing both of them.

[2022-10-14 12:02] malvikach commented on #11361
Hi @dunder  👋
This is the expected behavior with the `New Run`
If you like to run the customized set of requests (skipping or reordering some requests), then use the 'Run Again' button.
Do note that `Run Again`, will pick the settings within the same session for you and we are tracking an [improvement](https://github.com/postmanlabs/postman-app-support/issues/8433) on this where Run Again remember

[2022-10-14 12:02] #11361 closed, assigned to malvikach

[2022-10-14 13:49] jviotti commented on #11359
Hey @JoBurg007 , thanks for reporting this. We are actively looking into it and have various crash reports collected from our side. The reason the screen becomes gray is that the web renderer powering the window crashes. While there are many reports with similar symptoms, we believe there are multiple underlying reasons why the window crashes on the first place, and we are working with upstream El

[2022-10-14 15:57] giridharvc7 commented on #9470
Thank you!

For the problem you've mentioned, can you create a new issue with a screen recording? @chris-kck

[2022-10-14 15:58] giridharvc7 commented on #9470
Closing this ticket, please feel free to reopen in case anyone faces an issue with this.

[2022-10-14 15:58] #9470 closed, assigned to nobody

[2022-10-14 18:34] #11146 closed, assigned to abhijitkane, giridharvc7

[2022-10-14 18:44] zznty commented on #11321
seems to be fixed for me too.
thanks, ill close issue then.

[2022-10-14 18:44] #11321 closed, assigned to nobody

[2022-10-14 20:07] shubhbhargav commented on #9614
@montoner0 Can you confirm if you are able to reproduce the same behaviour on Postman Web? Also if possible if you can send a screen recording of issue happening on your machine, it would be super helpful. (maybe we are missing some explicit steps to reproduce this issue at our end)

[2022-10-14 20:30] shubhbhargav commented on #8348
@mateuszzz88 Got it. Thanks for the detailed steps. :)

I see that you are trying to share cookies across domains, which is not supported as of now (because it is considered a security risk).

As an alternate, you can try using environment variables to set the cookie value and use that in the request (for the other domain). Something like below:

<img width="1089" alt="Screenshot 2022-10-14 at 1 2

[2022-10-14 22:52] montoner0 commented on #9614
@shubhbhargav Postman Web doesn't have the issue, only desktop version. Please try the attached test collection, I can reproduce the issue with it on a fresh installation of Postman.
[Test.postman_collection.zip](https://github.com/postmanlabs/postman-app-support/files/9790464/Test.postman_collection.zip)

[2022-10-14 23:05] montoner0 commented on #5681
The installer fails if file `vcruntime140_1_clr0400.dll` is missing for some reason from `%windir%\system32` folder. In my case it was Windows Sandbox which lacks the file. Not even log appears, `update.exe` doesn't run at all. Figured it out with procmon.

[2022-10-15 10:04] Schwato commented on #7890
Is "Later" still not somewhere nearby? Really could help with the Doc I am starting right now...

[2022-10-15 10:36] OFark opened #11363 "Should not have a 'bearerformat' property without 'scheme: bearer' being set"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When importing a Swagger OAS3 json file I get the syntax error:
`Should not have a 'bearerformat' property without 'scheme: bearer' being set`
Even when the Scheme Bearer is set.

If I change the `"scheme": "Bearer"` to `"scheme"

[2022-10-15 10:40] OFark commented on #11363
Slightly more research says it should be case-insensitive: https://www.rfc-editor.org/rfc/rfc7235#section-2.1

[2022-10-15 11:42] Amasaabu commented on #2209
Anyone found an alternative to this? Really interested in this feature also

[2022-10-15 12:05] Aleks353 commented on #6889
Will this feature be implemented? Very needed!

[2022-10-15 13:19] SaadKaleem commented on #6682
+1

[2022-10-15 17:45] vpetreski opened #11364 "gRPC not working remotely"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman works correctly on local with gRPC, but not working when I try to use it on my remote gRPC server, reflection and method calls doesn't work at all.

When try to use reflection getting this:

[code]

If I add protofile and

[2022-10-15 17:51] codenirvana commented on #11364
@vpetreski, is it a TLS server? If so, try enabling TLS (lock icon).

<img width="354" alt="Screenshot 2022-10-15 at 11 18 17 PM" src="https://user-images.githubusercontent.com/4865836/196000857-c3bb4e1d-126f-4803-a7dd-7d51346428a5.png">

[2022-10-15 17:56] vpetreski commented on #11364
Yes it is, THANK YOU WORKS LIKE A CHARM!

[2022-10-15 17:56] #11364 closed, assigned to codenirvana

[2022-10-15 21:40] time-to-beem commented on #8231
+1
Same here
That is crazy it is still open in 2022. Especially as it seem really easy to fix

[2022-10-16 02:46] anyforever commented on #10995
I want to sort the colections too.

[2022-10-16 16:58] Sriki13 commented on #8195
Year after year I keep trying and dropping postman again because of this. The software is good but the lack of autosave alone makes it annoying to work with.

[2022-10-17 00:10] Remy-Pf commented on #3694
+1

[2022-10-17 04:04] W3Edd commented on #8480
It's been more than two yeas and I don't believe you have not implemented this.
Guess it will take an startup to solve this.

[2022-10-17 06:09] VaishnaviChallaPostman opened #11365 "Probable additions to Slack team activity integration"
Here are some cases where Post team activity, Slack integration is not showing up notifications
 - Import collection/API not showing up.
 - Deleting a collection is not showing up. (But deleting a request is showing up)
 - Creating a collection -> shows up as modified instead of created
 - Nothing related to APIs is being shown as notifications.

It would be great to add these cases to track the t

[2022-10-17 06:22] huydinh210299 commented on #6682
+1

[2022-10-17 08:24] davidespihernandez commented on #11334
Hi, @maticardenas!
Does your user have delete permissions on that collection? I mean, if you try to delete any other folder, is that permitted for you?

[2022-10-17 09:23] pall-sha commented on #11353
@postmanlabs/postman-app-support
***@***.***>

   1.

   Are these internal or public endpoints?

Public.

   1.

   Are you seeing this issue with any other requests? Like if you run a GET
   request to https://postman-echo.com/get?

No

   1.

   If you are able to consistently access the endpoints outside of the
   Monitor executions, could you send your logs along to ***@***.***
   for further

[2022-10-17 13:02] #9984 closed, assigned to nobody

[2022-10-17 13:38] SerhiiPok commented on #4968
inability to use several environments kills postman for me: instead of defining additional environments, I have to create duplicate collections. I agree with the others that this feature is very much needed.

[2022-10-17 13:53] florentabily commented on #11063
Hello,
Any news about this bug?
I've been facing the same issues for a few days, discovering that the setTimeout function doesn't work at a prerequest collection level and have to copy paste it everywhere in my requests

Thanks

[2022-10-17 16:00] JSSAggie opened #11366 "Add the API status next to each version avoiding having to open each version to see the status"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When an API has many versions that are in different status values it would be nice to see the status without having to open each API version.  See the image below.

### Describe the solut

[2022-10-17 16:12] dcstamps opened #11367 "Postman/Github integration - integration run log consistently failing with 'Backup failed due to conflicts on Github'"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

My github integration with Postman is not working and hasn't for months.  I have removed all integrations and re-added with new access tokens and I still get the error.

![image](https://user-images.githubusercontent.com/52755067

[2022-10-17 16:49] francisbooth commented on #11049
For more context... this is avoidable by reading the `foo` var and writing it as an escaped string to a temp var via a pre-request script.

This would be inconsistent with vars being contextually escaped in a URL context (for example) though.

[2022-10-17 18:11] JSSAggie commented on #8929
Just curious what the hold up on this is?  I feel like I search for a solution every month or so and reach a dead end on the GitHub issue.  I feel like this is a valuable feature request for when writing scripts in postman.

[2022-10-17 18:33] jon-dobisch commented on #11253
@FuadEfendi @postman-support Having the same issue. Was there a fix for this?

[2022-10-17 19:26] chops888 commented on #6291
Came for the same thing, for all of the above reasons, AND for automatic time-tracking software. One collection or workspace is usually assoc'd with a particular client/project. Would help tremendously for billing purposes.

[2022-10-17 19:36] FuadEfendi commented on #11253
It was some "bad weather" at Amazon.

I asked @postman-support  explicitly this question:
[code]

But they ask me to make publicly available screenshots of our corporate Postman instance. Right now it magically works for me but it doesn't work for some other team members, I assume they use different Amazon datacenters. Most team members use Amazon WorkSpaces; those having dedicated laptops do not

[2022-10-17 20:12] #11351 closed, assigned to nobody

[2022-10-17 20:19] DannyDainton commented on #11346
If you were to copy the `New Request Copy` Request, it would append the number to the name.

Unlike a file system, Collections/Requests can have the same name so it's not really a direct comparison. 😬

I'm going to close this issue for now.

[2022-10-17 20:19] #11346 closed, assigned to nobody

[2022-10-17 20:21] #11332 closed, assigned to postman-staff

[2022-10-17 20:28] #11282 closed, assigned to postman-staff

[2022-10-17 22:18] CodeBrotha commented on #10852
+1 please fix this

[2022-10-17 22:22] zackbrown-producepay commented on #8231
A bit shocked to see all the requests for status updates going unanswered. Can we please receive some ETA, or at least some status update, for this feature?  While the proposed workaround does work, it isn't very intuitive and has caused a lot of friction in our workflows. It sounds like such a small feature with low priority, but it is becoming increasingly difficult to drive user-adoption within

[2022-10-17 22:35] postman-support commented on #11353
Would you be able to confirm that the correct environment is selected for the monitor?   Ensure that the same environment is used across local runs and monitor runs. To confirm, you can add **console.log(environment);** to your request scripts and compare the results across monitoring and local runs.

Please also note that monitors will rely on the "initial" values of a variable, and in order for

[2022-10-18 03:52] gaines commented on #285
+1
Using temporary solution in the meantime from https://gist.github.com/lukesterg/dff08d19ea796a4fd25eef558949f22e

[2022-10-18 05:51] postman-support commented on #11253
Hi hello,

May I know if you are behind a captive-based web gateway authentication mechanism? You may refer to this link here to know more about this.

If yes then could you please give our Canary build a try and let us know if that helped: https://postman.com/downloads/canary

On the Canary app, Click on Help -> Setup Web Gateway Support and proceed with authenticating your proxy -> Check if the

[2022-10-18 06:06] postman-support commented on #11367
Hi @**dcstamps****,**

Thank you for reporting this to us.
We would like to take a deeper look into the configured integration for your account, for this can you please submit a support request using this link: https://support.postman.com/hc/en-us/requests/new

Once received, we should be able to identify the cause of this issue and assist you further in resolving the same.

via @Raj-postman | Pos

[2022-10-18 06:22] dumkin commented on #11192
Hi.
I have same problem and I would like to upvote this issue.

[2022-10-18 06:30] codenirvana commented on #11192
Hey everyone, can someone share a demo repository to reproduce this behavior locally to fast-track the fix?

[2022-10-18 07:17] davidespihernandez commented on #11334
Hi, @maticardenas!
Just to confirm something, can you please perform a GET to the `https://api.getpostman.com/me` endpoint, using your Postman API key as authentication method, and send the user id that the request returns? That's not a secret value...
The request would be something like:

[code]

[2022-10-18 09:12] cgcostume commented on #4581
Just had the same issue (Windows: Enterprise 10, 21H2, 19044.2006; Postman: 9.29.0) and modified the code to directly set the cookie from the response headers and make subsequent requests work:
[code]

[2022-10-18 09:54] kticka commented on #7350
My problem probably is related to this issue. When generating documentation I see the wrong URLs on duplicated requests. They are taken from the original request.

[2022-10-18 10:09] DannyDainton commented on #11244
Hey @vieiraes

The Collection changelog will show you when an example was created/edited. Is this what you need?

![image](https://user-images.githubusercontent.com/17089546/196401841-90f385f6-b107-49d9-8d01-09ac3ef2bf99.png)

[2022-10-18 10:21] DannyDainton commented on #11357
Hey @Ludatick

Closing this issue for now as @codenirvana has provided a reason as to why this happens and a workaround.

[2022-10-18 10:21] #11357 closed, assigned to codenirvana

[2022-10-18 10:22] DannyDainton commented on #11358
Hey @jbauerrfid

Closing this issue, for now, please let us know if the solution provided doesn't work for you.

[2022-10-18 10:22] #11358 closed, assigned to nobody

[2022-10-18 10:32] #11328 closed, assigned to bpedro, davidespihernandez

[2022-10-18 10:35] DannyDainton commented on #11247
Hey @michael-schantin

I've been unable to reproduce this on the latest version of the app.

![Close_Tabs](https://user-images.githubusercontent.com/17089546/196407447-52e62555-e239-417b-826c-86200868ad92.gif)

[2022-10-18 10:46] DannyDainton commented on #11236
Hey @DanielGlos

I'm not really sure where to go with this issue - When you remove `Object.prototype.` it's working. Is there a reason why you need that in there? I'm currently unsure what the fix on our side would be for this problem.

[2022-10-18 10:50] DannyDainton commented on #11262
Hey @cherry-wave

Checking back in on this issue - looks like snap is on v9.31 could you try updating and having a look again, please? I've still not been about to see the same thing as you :(

[2022-10-18 10:52] DannyDainton commented on #11220
Hey @AaronWang0413

Is this still an issue for you in the latest web version, I've been unable to replicate this on my side.

[2022-10-18 11:09] DanielGlos commented on #11236
I have some shared functions used for testing that are stored in global variable. In pre-request script of each collection I do something like this:
`eval(pm.globals.get("functions"));`
This would load my testing functions something like this:
`Object.prototype.MyTestFunction = .....`
So later in each request I can directly call my testing function just by calling MyTestFunction()

I was able to f

[2022-10-18 11:11] DannyDainton commented on #11258
Closing this issue due to inactivity - We can look to reopen this again if the issue is still reproducible on the latest version of the platform.

[2022-10-18 11:11] #11258 closed, assigned to nobody

[2022-10-18 12:09] zzong12 commented on #2801
I want it !!!

[2022-10-18 12:13] voodooism commented on #10928
Turning off Optimize Conversion doesn't work for me. I use collection from here: https://developer.mastercard.com/mdes-digital-enablement/documentation/api-reference/

[2022-10-18 12:59] dannyhajj commented on #3376
@aHappyConstant Not sure what you mean, but the history section has always been there. You can even see it in the screenshot in the original post.

Clearing that history does not clear the URL bar's history.

[2022-10-18 13:41] rostykzub opened #11368 "Images that were added into my Postman Web Documentation are no longer being displayed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

My public documentation is stored on https://developers.recman.no/

Looking at one of requests of my documentation https://developers.recman.no/#15175db6-8578-4ffe-989d-d86e56118c14  - I've noticed that images I previously added

[2022-10-18 13:47] akshaydeo commented on #11368
Hi @rostykzub, thank you for reporting this issue. We are currently looking into it 🙇‍♂️

[2022-10-18 13:58] akshaydeo commented on #11368
@rostykzub, as you pointed out, the source of the image is returning 404. We at any point do not cache images embedded from remote sources.

<img width="1263" alt="image" src="https://user-images.githubusercontent.com/1050029/196450689-640cf50a-0c91-4587-a84d-ce1571dfbf39.png">

For better reliability, you could use our inbuilt image upload workflow. [Here](https://blog.postman.com/postman-editor-

[2022-10-18 14:01] venkatrao225 commented on #10999
I could mitigate the issue with command line tool

https://www.npmjs.com/package/openapi-to-postmanv2

`$ openapi2postmanv2 -s spec.yaml -o collection.json -p -O folderStrategy=Tags,requestParametersResolution=Example,optimizeConversion=false,stackLimit=50
`

stackLimit argument helps to mitigate the issue.

[2022-10-18 15:19] antonioacg commented on #5817
Looks awesome!! I will try it. Thanks!!

[2022-10-18 15:55] Stalker404 commented on #11278
I have issue that looks like the same, can you check this case too? May be it is another one and i need to create another ticket for it

Field with Enum index 0 doesn't show in response too
i have proto like this one:
[code]
So if response returns non zero value in field everything works ok, but if it returns zero - response shows like empty one

[2022-10-18 16:28] akaJuliaan commented on #2701
+1

[2022-10-18 22:27] Alpizz commented on #8195
I have just searched almost all of the settings just for a tick-box to enable autosave feature, then arrived here... This feature is so necessary, especially who work with 20+ tabs open and often forget to use CTRL/CMD + S (which can quite easily be forgotten)

[2022-10-19 05:19] vikas543-collab commented on #11063
We are facing this issue as well. @DannyDainton Please share if you have any updates on this.

[2022-10-19 06:38] jasco-b opened #11369 "Postman is not using system proxy (ubuntu)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman is not using system proxy for getting available workspace (collections, environments and others).
I even added proxy to postman setting but no luck

### Steps To Reproduce

set proxy to ubuntu.
use wired connection.
open

[2022-10-19 07:17] dmitry-demyanenko opened #11370 "Can't add Azure DevOps integration"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Can't add Azure DevOps integration. Get an error 'You have reached the limit of the number of Git integrations you can create.'

### Steps To Reproduce

1. Open API
2. Click on Connect -> Azure DevOps
3. Log into Azure DevOps
4.

[2022-10-19 07:48] shashankawasthi88 commented on #11370
Hi @dmitry-demyanenko thanks for bringing this up. We are updating the UX around the same, but the Git integration is only present for the professional and enterprise plans - https://www.postman.com/pricing/

[2022-10-19 07:53] dmitry-demyanenko commented on #11370
![image](https://user-images.githubusercontent.com/25739851/196630128-89c341ef-246c-4163-9fee-63368ad10019.png)

[2022-10-19 08:34] sladjo commented on #10605
One more hint, if the "Two-Pane View" is used, the description column is even more annoying because the horizontal space is even more limited.

[2022-10-19 10:50] cyrielle-hada commented on #6742
An Admin now has permission to give Billing permissions to another team member.

[2022-10-19 10:50] #6742 closed, assigned to abhijitkane

[2022-10-19 11:02] ExploHash commented on #8195
+1

[2022-10-19 11:24] kartikjain26 commented on #11231
Thanks for the inputs @thoma01 . We are working towards enriching changelog. Will keep this updated.

[2022-10-19 12:06] postman-support commented on #11311
Hi @Maciejjy,

Could you share a recording of the issue and the file you are trying to upload and send these over via support ticket, so we can try and replicate it, please?
We find loom.com helpful for sharing screen records.

via @beatrixSze | Postman Support

[2022-10-19 13:51] Koppo82 commented on #5342
It can't be that much of work to implement it. I am really looking forward for this. I have hundreds of variables and working with them is getting more and more annoying. We need a searchbar for collection and environment variables :(

[2022-10-19 13:54] marioleed commented on #11299
My team would also, very much, like to see support for reporters so that we can use both htmlextra reporter (as we're used to) and the History centralised in Postman.

Postman CLI is nicer (CLI logging, CI/CD experience, centralised reporting and history), but the only thing that stops us from using it is the lack of reporters.

Also, for some reason we don't see body and headers (Request/Response

[2022-10-19 13:59] moellrich opened #11371 "Error: Client network socket disconnected before secure TLS connection was established"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Yesterday everything was running. The web version of postman shows me as well that it works.

Since today I get the error message "Error: Client network socket disconnected before secure TLS connection was established" in Postman

[2022-10-19 14:23] maticardenas commented on #11334
Hi @davidespihernandez ,

This is the user id that request returns:

`"id": 17867205`

[2022-10-19 14:33] jviotti commented on #11369
Hi @jasco-b , thanks for reporting!

I believe this is an upstream issue from Electron and Node.js not respecting system proxies by default. @dsanders11 @RaisinTen Can you confirm? Are they tracking this anywhere?

[2022-10-19 14:58] shashankawasthi88 commented on #11370
@dmitry-demyanenko the native git support is counted/ considered beyond integration. We are updating the product UX to convey the same.
Thanks.

[2022-10-19 14:59] marioleed commented on #11299
@malvikach I'd love to assist in any way I can, thanks 🙂 Just let me know.

[2022-10-19 15:37] hansRapnhap opened #11372 "I cannot confirm the delete of an API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In Postman, I have several API's that I want to delete. they are called
Rexel Belgium APIs - Integration

In the actual version, the delete asks me to type in the name of the API, but this does not work.

Trying the same with an

[2022-10-19 15:45] DannyDainton commented on #11372
Hey @hansRapnhap

Just to confirm as it's hard to see from the image, does the name in the text field have a trailing whitespace?

[2022-10-19 18:27] alee-mt opened #11373 "Authorization header uses ••••••• when inheriting"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

It looks like inherited authorization of type secret is using the masked character/string `•••••••` as a value. Context and steps to reproduce below.

### Steps To Reproduce

How I'm reproducing this on my own instance:
* Have a

[2022-10-19 18:44] DannyDainton commented on #11372
Hey @hansRapnhap

Did that solve the issue for you?

[2022-10-19 18:47] hansRapnhap commented on #11372
No

Hans Cardoen
***@***.***

[2022-10-19 18:50] DannyDainton commented on #11372
Is this the same for every API? Or just that one?

Did you try removing the extra trailing space that's been added to the API name, saving the API and trying to delete it again?

[2022-10-19 18:53] ChandMohammadS commented on #11281
Can the C# snippet be updated to use the most recent RestSharp interfaces like those described above?

[2022-10-19 19:01] dstrzelec commented on #6591
@ArjunSingh-PM @abhijitkane
I can add to this as I have the same need. Currently, the Developer role is the most applicable role for my users, but is too permissive for many of them. More than our Development team uses Postman, we also have Platform Support and Product Managers/Product Experts that use it. I am looking for a user-level role that does not contain the below permissions included in t

[2022-10-19 19:14] ravasconcelos commented on #2701
+1
It's time for http/2!

I had to use curl to simulate a production issue, but using Postman would be much better.

[2022-10-19 21:38] sealse opened #11374 "The disableGPU setting is set to undefined"
### Is there an existing issue for this?

- [ ] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Problem with running postman

### Steps To Reproduce

1) Run postman
$ postman
2) I see next errors
The disableGPU setting is set to undefined
Not disabling GPU
Gtk-Message: 00:24:48.646: Failed to load module "xapp-gtk3-module"

[2022-10-19 21:40] powersjcb commented on #10833
I've diagnosed this class of problem on some systems I work on. The issue is most likely that Postman is using an older version of PDF.js which doesn't support rendering certain PDF signatures.

I'm almost certain that updating to a newer version of the PDF.js distribution will solve the problem.

[2022-10-20 04:15] ranggasi commented on #3379
**ps -ef | grep Postman**
get the id
**kill -9 ID**

[2022-10-20 04:25] Myster opened #11375 "I would like the window title to include the current workspace name"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Not related to a problem

### Describe the solution you'd like

I would like the window title to include the Workspace name.

### Describe alternatives you've considered

_No response_

#

[2022-10-20 04:29] TanveshT commented on #7083
+1 on this feature request

[2022-10-20 06:44] RaisinTen commented on #11369
@jviotti I'm not aware of any such upstream issue in Node.js but I found an Electron issue that might have some relevance here - https://github.com/electron/electron/issues/26166. For this I would ask - How consistent is the issue? Does it go away after some time?

@jasco-b did you go through https://learning.postman.com/docs/getting-started/proxy? If not, I'd suggest you to go through that and le

[2022-10-20 07:26] DannyDainton commented on #11063
No updates from me - this is with the team who own that particular part of the platform.

Once the team is free, it will be triaged and prioritzed against all on-going work and other issues that have been raised so currently, there wouldn't be any ETA for it.

[2022-10-20 08:45] Kalman1605 opened #11376 "your session has expired. please sign in again"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I cannot login to Postman.
The application continues ask me to login
![image](https://user-images.githubusercontent.com/4973409/196899764-6d9083fc-6bca-4126-85ec-5755ca04daf1.png)

Before logging out I made a Backup of C:\Users\x

[2022-10-20 08:54] AxelGuignard commented on #10477
Hi, I have the same issue in v10.0.32. I'm working on the desktop app in a team workspace, and when either I or a coworker change the index.json and save, it doesn't update the documentation page for anyone.

[2022-10-20 08:56] w4dd325 commented on #11147
Further to my previous messages;

When using my original team, I created this workspace/game
https://www.postman.com/galaxy-quest-996184/workspace/save-the-postman-space-station/overview

I still have access to this **public** workspace as it was somehow linked to my original work team that i rejoined... however the **private** workspace that underpins this game (the one with the mock servers and

[2022-10-20 09:52] akshaydeo commented on #10477
@AxelGuignard I am not able to reproduce this issue at my end.

Here are the steps I followed:
1. Import an Open API 3.0 schema file.
2. Updated an endpoint (path) in the schema file.
3. Click on Definition to see if the changes are reflected. And they were reflected.

<img width="569" alt="image" src="https://user-images.githubusercontent.com/1050029/196916068-0516295e-7e44-407f-90a6-90788ca78f21

[2022-10-20 10:07] AxelGuignard commented on #10477
@akshaydeo
We use the Open API 3.0 schema, and I am talking about the schema documentation.

I don't know if it is relevant but I don't see the "ROOT" label next to index.json

Also when I update the schema, I sometimes see this message pop in the Definition:
![image](https://user-images.githubusercontent.com/28559138/196919030-7665afc6-5e14-4ad5-a049-2383e490fd2b.png)
Even after I clicked the sav

[2022-10-20 10:40] holm76 commented on #10852
+1 to make this happen. I have 2 workspaces in my Workspace that I have never visited. They are empty but have other profiles in them but no requests. Don't know how they ended up there. Using a brand new Postman account. I have to be able to remove them or hide them. One is called 'Team Workspace' and the other is 'New Team Workspace' and profile names are people I have never met.

[2022-10-20 10:47] ArjunSingh-PM commented on #9458
This issue may occur due to a firewall or proxy that causes issues in connecting to the authentication service. Closing this issue as of now due to the lack of information to proceed further.

[2022-10-20 10:47] #9458 closed, assigned to pankajkumar005, ArjunSingh-PM

[2022-10-20 10:52] ArjunSingh-PM commented on #8838
@tnstanislavko Are you still experiencing this issue? If not, could you share if you did something specific to unblock yourself?

[2022-10-20 10:55] tnstanislavko commented on #8838
@ArjunSingh-PM hello, i reinstalled Windows 10. I had problems with Opera, Firefox, Upwork client and Postman. After reinstallation everything goes ok.

[2022-10-20 11:16] kamil-nawrotkiewicz opened #11377 "Lost body data raw json while change branch"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If I work on a developer branch, I have body json data, but after changing it to any other branch that has no changes and is identical to the development branch, I don't see the data in body json. The problem occurs in app and we

[2022-10-20 11:46] postman-support commented on #11371
Hey hi,
Thank you for reaching out.

Are you using VPN/proxy or some corporate device management software? If so, would you please try disabling those and see if there is any change in the behaviour? Also, can you please try using another network such as your mobile hotspot in order to validate if this is a network-related issue?

May I ask if you can leverage the Code generation feature(https://l

[2022-10-20 12:57] ghassett commented on #8231
I agree, it's shocking that this simple and very important feature has not been implemented yet -- please, POSTMAN, let's allow OATH2 authentication flow to capture `id_token` for use in subsequent requests.

[2022-10-20 14:06] evestraw commented on #7373
It would be nice if handlebars was exposed so you can access all its features.

[2022-10-20 14:10] ambroiseRabier commented on #8195
Please add this. I'm so used to having auto-save on Webstorm, that having to save it manually is confusing for me.

[2022-10-20 14:17] liviusighiartau01 commented on #6722
Is there a way to sync Postman collection with OpenAPI/Swagger? I think this was raised in the past, has something been done for it?

[2022-10-20 15:09] GuySmithFerrier commented on #11063
And we are also seeing this problem :(.

[2022-10-20 15:27] srinivasskc commented on #11363
I have also encountered this, not sure what I need to do.

[2022-10-20 15:56] djebos commented on #9642
Got the same error. Any progress so far?

[2022-10-20 16:17] shashankawasthi88 commented on #11377
@kamil-nawrotkiewicz thanks for bringing this up. A lot of these issues have been resolved with our [latest release](https://blog.postman.com/announcing-postman-v10/). If you can help me with your team name, I can see if we can enable the v10 experience for you which would address this issue.

[2022-10-20 16:53] postman-support commented on #11373
via @ | Postman Support

[2022-10-20 17:59] postman-support commented on #11373
Hello Alee,

Thank you for reporting this issue to Postman Support.

I could not reproduce the issue on our end, as a fix for this was rolled out recently as per https://github.com/postmanlabs/postman-app-support/issues/11348.

Can you attempt to update your Desktop app to the latest version and let us know if the issue persists? I did not encounter the problem on V10.0.32.

Alternatively, can you

[2022-10-20 18:59] postman-support commented on #11376
Hello Kalman,

Thank you for that information and for writing to Postman Support.

I understand you are in a session-expired loop. To ensure you are given accurate and quality support, can you attempt the following:

- Go to the Active Session page and revoke all sessions.
- Remove your local data.

If the issue persists after following the steps above, can you let me know the username or email as

[2022-10-20 19:38] moellrich commented on #11371
Hi,

I do not use VPN or a proxy or something similar.

As I wrote: In the evening of the 18th of October it still worked.

It is not the server because:

1.	A colleague of me can reach it from his computer.
2.	I can reach it too, if I use the webversion of postman from my computer.

I use it on a Windows 10 machine, so I was not able to use your cUrl-test example.

Any further ideas?

Best regard

[2022-10-20 20:17] unknowncoder05 commented on #7294
same issue ubuntu 22.04, takes about 30 seconds opening, reinstall did nothing, minimizing it makes it consume even more cpu

[2022-10-20 22:38] lavasb opened #11378 "Visiting a Public Workspace"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I wonder why if someone visits a public work space, he or she cannot remove it from his or her workspace?

### Describe the solution you'd like

I have visited two public work spaces Tray

[2022-10-20 23:06] Eieyron commented on #9303
bump

[2022-10-21 04:32] shashankawasthi88 commented on #11377
@kamil-nawrotkiewicz Just to clarify: -
#6 - Create a new branch - Is this branch created from the development branch where you had pushed the new endpoint with request body?
And also - you can see the endpoint in the new branch, but not the request body, right?

[2022-10-21 04:40] postman-support commented on #11371
Hey hi,

Could you please provide me the screenshot of the proxy settings in the postman app along with the error message?
Let me know if you have made any recent changes to our DNS settings/network settings?

Can you try turning off the SSL verification on the postman app and check once?

If the problem persists, Can you try running our Canary build to see if this is working as expected? The Cana

[2022-10-21 04:41] kamil-nawrotkiewicz commented on #11377
@shashankawasthi88 Team Name is Telemedi
Is this branch created from the development branch where you had pushed the new endpoint with request body? - Yes
And also - you can see the endpoint in the new branch, but not the request body, right? - Yes
<img width="696" alt="Screenshot 2022-10-21 at 06 41 09" src="https://user-images.githubusercontent.com/13276413/197113593-87fb9eb3-1303-46ec-bb0a-3108

[2022-10-21 05:02] postman-support commented on #11335
{{comment_data}}

[2022-10-21 06:49] Nierae01 commented on #10840
We managed to implement SSO. But during our tests we found out that we have to specify the Team domain every time after we closed the application. Can't this be bypassed?

[2022-10-21 08:54] Seiifer commented on #4968
4 years later, a little bump with hope

[2022-10-21 10:01] tomliversidge opened #11379 "Show more granular requests times in Mock Server logs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The Mock Server logs UI currently displays the requests times in hours:minutes. This makes it difficult to verify/test the exact time that requests were made to the mock endpoints.
<img w

[2022-10-21 13:30] a-badalyan commented on #3646
21.10.2022 ping

[2022-10-21 14:21] papadeltasierra opened #11380 "Collection with variable does not validate against the schema"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I created a collection via POSTMAN v9.31.0 and then attempted to use `jsonschema` from Python to validate the collection.  The validation failed with this error:

[code]
The error occurs because of this portion of the collection:

[2022-10-21 14:25] AkaramAli opened #11381 "Get an API -https://api.getpostman.com/apis/{apiId} does not return the schema/content in the response."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After upgrade to postman-v10
GET Get an API -https://api.getpostman.com/apis/{apiId} does not return the schema/content in the response .However in the documentation it still mentioned that we should get schema object as part of

[2022-10-21 14:48] ppsp opened #11382 "Increase the width of the bottom scrollbar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When mousing over the bottom scrollbar, it's actually showing the resize mouse icon, there only about 2 pixels on the scrollbar that you can click on to scroll, the rest shows the resize

[2022-10-21 15:06] vivek-mc opened #11383 "New Integration Request - Custom domain Bitbucket Integration"
### Describe your current workflow

I'd like to request for bitbucket integration with custom domain to postman. I've a custom bitbucket repository with url https://fusion.team-name.com. I'm unable to integrate to Postman.

### Describe your ideal workflow

I've a custom bitbucket repository with url https://fusion.team-name.com. So, when I try to integrate bitbucket, it could have an option for c

[2022-10-21 15:39] Postmanaut-Adrian opened #11384 "Update Built-in Lodash Library to V4"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Feature Request based on Customer Inquiry from Zendesk Ticket:  121950.

At the moment Postman's Built-in default Library only supports Lodash v3

[2022-10-21 17:22] OFark commented on #11363
just change the "scheme": "Bearer" to bearer for now.

[2022-10-21 18:16] Vikmanatus commented on #10580
Hello to everyone 🙂

I am struggling with the same issue, I've search everywhere but I didn't found out any answers 🙁

Is there any workaround to fix this ?

Best regards

[2022-10-21 18:57] postman-support commented on #11367
Hello Denise,

Thank you for writing to Postman Support. Apologies for the trouble. I'd be happy to help!

Upon reviewing the information you sent us, I looked into the Integration via our back-end system, and it is likely the conflict is caused by something else writing to the branch simultaneously. This could be another integration or a separate write/edit action outside Postman.

Can you confir

[2022-10-21 19:25] AMDarter opened #11385 "New Integration Request - Atlassian"
### Describe your current workflow

Manually write API collection docs in Confluence.

### Describe your ideal workflow

Synced API collection documentation in Confluence. The publish button in Postman is great but we maintain a non-public API.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-22 06:42] AkaramAli commented on #11381
Any update on this ?

[2022-10-22 07:48] charlesr1971 opened #11386 "My Postman website blank"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I log into postman.com, I see a blank page, using Mobile Safari 15.0.2 on iPhone 8+

### Steps To Reproduce

log into postman.com using Mobile Safari 15.0.2 on iPhone 8+
You will see a blank page

### Screenshots or Videos

[2022-10-22 08:41] DannyDainton commented on #11386
Hey @charlesr1971

Do you see the same on a private or incognito session?

[2022-10-22 08:44] DannyDainton commented on #11382
Hey @ppsp

Could you also provide a screenshot or a recording of the behaviour, as this is something that you can see in the UI.

[2022-10-22 08:50] DannyDainton commented on #11380
Hey @papadeltasierra

The `type` in that variable context is either `default' or `secret` on the export Postman Collection file.

https://learning.postman.com/docs/sending-requests/managing-environments/#creating-environments

[2022-10-22 08:55] papadeltasierra commented on #11380
@DannyDainton Can you please point me at the appropriate bit of the schema file that defines this?  To be 100% clear, I left POSTMAN create the collection, the collection states what schema it is supposed to be following, but as far as I can see the collection is not a valid representation of the schema.  Either collection generation is wrong or the schema is wrong - or can you explain why this is

[2022-10-22 09:09] DannyDainton commented on #11380
It's a recently added feature and there is potential for certain pieces documentation and artefacts to be out of sync.

Generally, users exporting Collections from Postman do it with the intention of importing those back into the platform.

I responded with some additional information that you might be unaware of, that the `type` property in the object you displayed for variables, relates to the v

[2022-10-22 09:13] papadeltasierra commented on #11380
@DannyDainton Thanks for that explanation.  I was aware of the `defaults` or `secrets` and was actually surprised to see the other options in the schema, and `default` being missing.  I happen to have a specific case where I generate a collection from an external tool for later import in Postman and am using validating against the schema as a way to ensure I don't create invalid collections.  I ca

[2022-10-22 09:40] charlesr1971 commented on #11386
Hi Danny

Thanks for the speedy response.

It doesn’t make any difference. Still blank with an incognito window.

I was wondering whether I had inadvertently made a bad global setting choice, in my account config section [if there is such a section?]

The problem is, I cannot get into the settings section, because of the blank web page issue. So, it would be impossible to change stuff and see what

[2022-10-22 09:59] DannyDainton commented on #11386
Are you able to try this on another browser, wanted to check if this is only impacting you on Safari?

[2022-10-22 10:14] charlesr1971 commented on #11386
Well I have tried this in Firefox & Chrome, as well, on my iPhone, but both show a blank web page. This isn’t surprising, considering that both these mobile web browsers use Safari’s core engine.

If you mean, have I tried it on a desktop browser. No, I haven’t.

[2022-10-23 03:18] honglou2001 commented on #10553
I encounter the same problem. For some business scenarios, an example size bigger than 10M or 20M is very common.

[2022-10-23 16:24] rawandahmad698 commented on #2701
Safe to say we ain't getting it, It's pointless to write +1's after 3 years 😂

[2022-10-23 16:27] IronSwalt opened #11387 "Long numerical data in variables is incorrectly loaded in a Collection Run"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When importing data for a collection run and a variable contains a long string of numbers, the last few characters of the number are ignored and replaced by zeros - see screenshot included here.

### Steps To Reproduce

1. Create

[2022-10-23 17:10] AndreyBespamyatnov commented on #2701
Yep, pointless :D

[2022-10-23 17:13] sackmanson commented on #2701
@rawandahmad698 +1 🙂

[2022-10-23 17:42] DominicSaladin commented on #2701
@rawandahmad698 unfortunately, yes...

[2022-10-24 04:43] kamil-nawrotkiewicz commented on #11377
@shashankawasthi88 You checked if you can enable v10 [latest release](https://blog.postman.com/announcing-postman-v10/)? I would be very grateful if it could work.

[2022-10-24 08:53] Hendrik-Rummens commented on #11322
Have you found a solution yet?

[2022-10-24 10:11] AkaramAli commented on #11381
Any update on this query ?

After upgrade to postman v10 .I am getting below response for -Get an API -[https://api.getpostman.com/apis/{apiId}](https://api.getpostman.com/apis/%7BapiId%7D)
{
  "summary": null,
  "updatedBy": "14699621",
  "description": null,
  "team": null,
  "configurationSource": "CREATE_FROM_SCRATCH",
  "createdAt": "2022-10-24T06:48:14.000Z",
  "apiContainerStatus": 1,
  "cr

[2022-10-24 11:10] Z-Farook commented on #11200
If there are hundreds of environment variables in the **`environment TAB`** (thus an environment collection under this tab) then **finding them is greatly painful**, when you quickly want to change the value of a variable X.

Please, can you give people the possibility to search for the XYZ variable there(when a collection is opened or in the find and replace Tab) and `**go directly to that variab

[2022-10-24 11:21] Z-Farook opened #11388 "Environment variable search that gets you to the exact place where you can edit that variable!"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Yes [see this here!](https://github.com/postmanlabs/postman-app-support/issues/11200)

### Describe the solution you'd like

See the [comment Form Z-Farook here!](https://github.com/postm

[2022-10-24 12:34] DannyDainton commented on #11388
As you have raised this to point at an already open feature request and to a commet you have left on it.

I'm going to close this issue as a duplicate.

[2022-10-24 12:34] #11388 closed, assigned to vedkribhu

[2022-10-24 12:36] Z-Farook commented on #11388
That is fine but we would love to have it solved?

[2022-10-24 12:47] cvik77 opened #11389 "Prism shaves off decimals for double"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Prism shaves off decimals for double, this makes the response look like an Integer instead of a double
1,0 int the database becomes 1 through prism.
Expect the body to be immutable, however this does not seem to be the case.

###

[2022-10-24 12:57] stlr00 commented on #10923
Still any news?

[2022-10-24 13:38] shubhbhargav commented on #11389
@cvik77 This looks like an issue with the hosted endpoint itself. You can confirm in the `Console` (at the bottom left) that the server itself is responding with `1` which is shown in the UI.

[2022-10-24 13:53] adipata commented on #1066
Unfortunately on my Windows with Postman version 9.31.0 it is simply not working.

[2022-10-24 15:58] DannyDainton commented on #11247
Closing this as we've been unable to replicate the behaviour in the latest version.

If you can send a short video showing the behaviour that you're seeing, we can look at reopening it again.

[2022-10-24 15:58] #11247 closed, assigned to nobody

[2022-10-24 17:37] jviotti commented on #10923
@dsanders11 Can you check if this is reproducible with arbitrary Electron apps? If so, sounds like an easy upstream fix

[2022-10-24 18:21] cvik77 commented on #11389
I am sorry. It is stoplight.io/prism which is the problem. I reported it to the wrongly. Thanks for the respons. Will close it now.

[2022-10-24 18:21] #11389 closed, assigned to nobody

[2022-10-24 19:08] dcorrea-wtb commented on #2701
+1

[2022-10-24 19:16] hassansheikh90 opened #11390 "GraphQL variables not populating"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When creating a graphQL query with variables
And assigning a collection variable to the graphQL variable in the graphQL variables pane (e.g { "graphQLVariable": "{{environmentVariable}}"}
The graphQL variable does not get the val

[2022-10-24 20:29] linkinChitown commented on #4463
Nah this needs to be reopened. It's incredibly unintuitive for a duplicate tab to be renaming the original one. Frustrating

[2022-10-24 20:41] DannyDainton commented on #11390
Hey @hassansheikh90

Can you clarify where you're setting the variable, please?

You've mentioned Collection and Environment variables in the same issue. Would you be about to share a screenshot of where you're setting that please?

[2022-10-25 04:27] jluncc opened #11391 "URL Encoding does not work in Code snippet of cURL"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

With the new version of Postman (Version 10.0.35), Code snippet of cURL does not url encode automatically. However, url encoding work in console.

### Steps To Reproduce

1. create a request
2. input a param which value like chin

[2022-10-25 05:59] shashankawasthi88 commented on #11385
@AMDarter thanks for reaching out. We would want to understand your workflows in detail. Can we schedule a short call to discuss the same? You can use [this link](https://calendly.com/shashank-awasthi/30min-1) to set up a call with me.

[2022-10-25 06:47] shashankawasthi88 commented on #11383
@vivek-mc thanks for raising this. May we know what Bitbucket service are you using? Bitbucket Server or Data center?

[2022-10-25 07:27] diyaeninan commented on #11381
@AkaramAli, thank you for reporting this. We are looking into this and will update this issue with any further updates

Meanwhile, as a workaround, could you please try using the `Get a Schema` endpoint by additionally replacing the `schemaId` with the `id` of the relation of type `apiDefinition` from the `relations` object?

Documentation: https://www.postman.com/postman/workspace/postman-public-

[2022-10-25 08:19] petkostas commented on #11334
Any updates regarding this? we still have a `test_folder` in our **public** collection that we cannot delete that looks awkward and unprofessional.

[2022-10-25 09:10] pieroxy commented on #8195
I am reverting to cURL and script files in a Dropbox. This gets autosaved by *all* text editors by now. For all the benefits of Postman gets cancelled by losing half a day worth of work because we forgot about Crtl-S.

@grichards I disagree with you on the reason I never think about Ctrl-S. It's not because it's not visible enough. It's because I haven't had to save *anything* for so long. Intelli

[2022-10-25 09:22] kathyGi commented on #4193
same here! To have a proper set up testsuite this is a mandatory feature for us. The other solution currently in place would need a lot of doubled code, which is not maintainable for bigger projects like ours. Would be great, if you could reprioritize this feature :)

[2022-10-25 09:58] NiklasBr commented on #8101
@DannyDainton, any news? You asked for examples above

[2022-10-25 10:20] kamaraju-p commented on #10987
Hi @pglezen, the issue has been fixed and should be available on versions 9.30.0 onwards. Thanks again for reporting this.

[2022-10-25 10:20] #10987 closed, assigned to akshaydeo, kamaraj-p

[2022-10-25 11:00] dave-trainor opened #11392 "Can't connect second API to second Bitbucket Cloud repository"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have successfully connected one API with one Bitbucket Cloud repository. When I make a second API in the same team Workspace I cannot connect it to a second Bitbucket Cloud repository as all the “Connect repository” options in

[2022-10-25 12:32] BrainMcS opened #11393 "Can't run a collection on Postman v10.0.36"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have a collection to run for tests - but when we tried to run it, the runner on Postman App or Postman Web shows an empty list of collection instead.

### Steps To Reproduce

1. Have a collection to run
2. Via the Collection Ru

[2022-10-25 13:27] timbochamp commented on #11393
Hi @BrainMcS, could you please share the logs (from View -> Developer -> View logs in Explorer) to help@postman.com if you're able to reproduce this consistently with this collection?

I'm logging a bug and alerting the team associated with this as well.

[2022-10-25 13:30] BrainMcS commented on #11393
Yes, I have been reproducing the bug consistently with me and my colleague. I'll share the logs.

[2022-10-25 13:33] BrainMcS commented on #11393
@timbochamp log files sent

[2022-10-25 14:04] TVelasquezWerner opened #11394 "New Integration Request - Zoom"
### Describe your current workflow

Our company has moved to Zoom Chat as our organizational communication platform. I like to add Zoom to your Integration library. InPostman, I like to have my monitors post notifications in my designated team channels.

### Describe your ideal workflow

I like to have a KT on where to get it (a link below is a great place) and a link to a "how to" video to apply

[2022-10-25 14:19] shashankawasthi88 commented on #11392
@dave-trainor can you raise a support ticket using [this](https://support.postman.com/hc/en-us/requests/new), the team will reach out to you post that.

[2022-10-25 14:22] BrainMcS commented on #11393
Nope, they are the same APIs as usual.

I have a colleague who managed to run the same collection on her Postman App v 9.31.0

[2022-10-25 14:33] dave-trainor commented on #11392
Thanks - I have raised a ticket using the link you supplied

[2022-10-25 14:39] giridharvc7 commented on #11393
Can you once try dragging and dropping the collection into the runner window? We are still trying to reproduce the issue on our end, just wondering if there's a way for you to get you past this bug. Attaching a screen-recording for the same.

https://user-images.githubusercontent.com/1040583/197804029-bd40ee2d-0ce4-4966-8430-128ce9570c6f.mov

[2022-10-25 14:41] BrainMcS commented on #11393
Still no luck even after drag and drop. For some reason, it always shows the APIs list every time I do it:

https://user-images.githubusercontent.com/85135141/197804462-09cac25c-300e-4c7f-ba8a-3f4dbe657b08.mp4

[2022-10-25 16:25] mahmoudozil commented on #7982
+1!!!

[2022-10-25 16:36] giridharvc7 commented on #11393
@BrainMcS Thank you for the logs and trying out the drag drop workflow.

We've found the underlying issue and we are working on a fix, we will get back to you in some time.

[2022-10-25 16:48] DanShoubridge commented on #8502
The ability for pre-request scripts to run before the response is returned would be very handy, for example being able to set a variable to today's date in a specific date format (e.g. YYYYMMDD) would be useful

[2022-10-25 19:31] itutil commented on #9578
Team, the bug returned in the latest release: can't perform intelligent selection and copy of multiple values, vertically stacked, every one between brackets.

[2022-10-25 19:46] giridharvc7 commented on #11393
@BrainMcS Can you please try now, we've fixed the issue?
We still haven't fixed a few edge cases of drag-drop, but the usual places where you'd run the collection should be fixed.

[2022-10-26 06:23] koki-v3 commented on #11342
Hi, I'd like to add to this. Not only is the attached file removed, the whole new run is reset to default values. Advanced settings checkboxes plus all the APIs in the collection are ticked. Sometimes I only need to run a selection, not the entire collection. It's as if clicking "New run" also does "Reset" at the same time.

[2022-10-26 07:23] BrainMcS commented on #11393
Hello @giridharvc7

After the minor update, I can now run my collections as usual via the usual place where I usually launch the runner.

Still awaiting the fix for the drag and drop issue, but for now, the usual method is fine by us.

Thanks for the swift action!

[2022-10-26 09:07] AxelGuignard commented on #10477
For info, we just managed to solve the issue by copying the schema documentation into a newly created API.
The "ROOT" label now appears next to the new index.json.
We figured the issue might originate from the migration between V.9 and V.10 of Postman, but it is only a supposition.
We lost a lot of time trying to make things work, so I hope our solution will help someone.

[2022-10-26 11:38] mohamead commented on #2734
What is the status her?

[2022-10-26 11:43] wildthing81 commented on #5444
Even I have a similar need for monitors running within my teams. In our cloud workspace, we run monitors on our various API collections at regular intervals as part environment health check/stability. They don't need to run though from midnight till early morning hours. So a pause option within the monitor schedule would be useful. If there are alternatives within Postman to achieve the same, do l

[2022-10-26 12:11] tkrajewski89 opened #11395 "Codeblock JSON syntax not highlighted in documenter"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

**Result**
The codeblock syntax is not highlighted (grey block of text).

<img width="427" alt="image" src="https://user-images.githubusercontent.com/77440168/198022218-702f2398-5824-4404-bcff-1a3952ce5b45.png">

**Expected resul

[2022-10-26 12:15] tkrajewski89 commented on #10998
Please resolve this as it is very confusing to the end users.

[2022-10-26 15:23] SelectBlinds-JoeS commented on #11332
With this new merging, the application is no longer draggable, so I cannot drag it to a different screen.  There is a Minimize and Maximize button in the top right, but no Restore Down.  I really, really want the normal Windows title bar back.

[2022-10-26 15:56] richardbeacroft opened #11396 "Postman integration to GitHub backing up collections errors with "Unknown error encountered at Github""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman integration to GitHub backing up collections errors with "Unknown error encountered at Github"

### Steps To Reproduce

As a GitHub user with full permissions, a "Fine-grained Personal Access Token" is generated with Read

[2022-10-26 16:30] EyeOfMidas opened #11397 "Websockets - Shared Saved Requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I want to demonstrate cross-connection communication between different websocket sessions (player 1 and player 2) but the available message set between each websocket connection is not sh

[2022-10-26 20:28] sunilsah-blackbook commented on #5382
pm.test('Expect number to be a number', function () {
    pm.expect(parseInt(jsonData.a)).to.be.a('number');
});

[2022-10-27 04:59] shashankawasthi88 commented on #11394
@TVelasquezWerner thanks for rasing this. We shall look into it.

[2022-10-27 05:18] shashankawasthi88 commented on #11396
@richardbeacroft thanks for raising this. We are looking into it.

[2022-10-27 06:27] shashankawasthi88 commented on #11396
Hi @richardbeacroft can you ensure that the PAT you are generating has the access to the repository that you are trying to connect to and also has the following two permissions: -

- Meta-data  - mandatory permission that you can't turn off that allows you to list repos;
- The Contents Read and Write permission.

[2022-10-27 07:26] nosvalds commented on #11392
FYI here was the reply from Postman tech support for us, we are on the Basic plan.

Replied back to ask what plan we need to be on to use this feature!

[2022-10-27 07:36] dave-trainor commented on #11392
Thanks @nosvalds - I contacted Postman tech support and received a similar response. For Postman V10, it seems that you must be on the Professional or Enterprise plan to have multiple APIs, each with a backing Git repository. Confusingly, the Free plan lets you have a single Git repository, for exploratory purposes, and this is retained when you upgrade to Basic plan (although you cannot add furth

[2022-10-27 07:40] ornakash commented on #8195
+1

[2022-10-27 07:59] AkaramAli commented on #11381
@diyaeninan , Thank you for providing above workaround . It Works !

However , I would like to know , going forward (Postman v10 onwards ) we need to additionally call `Get a schema `API to fetch the schema  ?
or
Can we expect a fix for this issue ?

[2022-10-27 09:18] mennoxx commented on #11332
Your Postman window seems to be in fullscreen mode then. By pressing F11 you should get your restore/maximize button and draggability back.

[2022-10-27 10:32] SanderBouwhuis commented on #11141
Come on people, what is going on?
It is STILL failing for v10.0.39. How hard can this bug be?!?

[2022-10-27 11:40] SaloniV3011 commented on #10070
Hi @rakete
Sorry for the delayed response.
Could you please the API Definition with us. Let us know if you are still facing this issue.
Thanks!

[2022-10-27 13:10] DannyDainton commented on #11141
Can you check the set of editor fonts that you're using please and screenshot an image? Those can be found under the general settings.

These are the ones that I have and are there by default:

![Screenshot_20221027_140724.jpg](https://user-images.githubusercontent.com/17089546/198293343-9eee1dda-3a83-4515-bff4-34094a968e76.jpg)

[2022-10-27 13:43] tylerthecoder commented on #9612
I would like this feature a lot. Any update?

[2022-10-27 14:20] ewilliams-zoot commented on #9612
@tylerthecoder They introduced a CLI with their latest updates; I haven't looked into it yet, but that may have the capability people in this thread are wanting. You can at least integrate whatever functionality they have in the CLI with a scripting language of your choice. I'm not sure that is better than my other suggestion above, to be honest.

[2022-10-27 15:32] pershmaj commented on #8195
+1

[2022-10-27 15:57] axellerose commented on #8195
+1

[2022-10-27 16:42] parthverma1 commented on #9614
https://user-images.githubusercontent.com/75295512/198348737-bedca80d-417a-48b9-8abe-815c049287a7.mov

@montoner0 I tried replicating the issue using the collection you shared but was unable to do so.

I tested this on version v10.0.39. Can you try updating to the latest version and see if that helps.

[2022-10-27 17:09] montoner0 commented on #9614
The latest version I see is 9.31.0.
![image](https://user-images.githubusercontent.com/13542804/198354794-cc22e995-f157-422b-8e02-5ec80b8e1e23.png)

[2022-10-27 20:07] abrunke commented on #8213
We have recently started to get 504 errors when retrieving the collection via the post API using Newman.

Newman logs are as follows

[code]

On retrying this is fine but it does cause the test via Newman to fail which is annoying.

Any suggestions?  I can share the URL privately if that helps

[2022-10-28 06:03] BadiehTraboulsi commented on #3694
Adding my voice to the rest!

[2022-10-28 06:47] cianoid commented on #6682
+1 to SSE support

[2022-10-28 07:07] VaishnaviChallaPostman commented on #11334
@petkostas Sorry for the delay here. Our team is looking into this issue. Please raise a support ticket[ here](https://support.postman.com/hc/en-us/requests/new/) to share more details to unblock you.
It would be great if you could include the GitHub issue title and number in the subject to help us identify your ticket.
We will be taking it forward from there. Thank you!

[2022-10-28 07:22] mwiedemeyer commented on #11147
Just had the same issue. ALL DATA IS LOST. Even on a different (offline) machine, Postman starts and shows only "You are offline". Is there no offline cache of all my workspaces? How can I get my data back?

[2022-10-28 07:46] mnomansadiq commented on #2978
I am using a SAML authentication for Gitlab, i created a personal access Token along with api, read_api and read_user permission and try to integrate into Postman along with custom domain(https://gitlab.domain.com), but getting a following error:
**Oops! Looks like you entered an incorrect token.**

[2022-10-28 09:11] maticardenas commented on #11334
@VaishnaviChallaPostman I have created the request (apparently #122778) providing as a title this github issue title with the corresponding number.

[2022-10-28 09:46] siddarthamudhu opened #11398 "Windows actions get hidden on resizing window"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Windows actions get hidden on resizing window

### Steps To Reproduce

Open postman
Resize the Window to smaller size

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/82751423/198558187-1f09196b-319b

[2022-10-28 11:12] SanderBouwhuis commented on #11141
Here are the fonts:
![Postman Settings](https://user-images.githubusercontent.com/10495173/198574001-7822134f-931c-414c-a234-f2e37ced2dc8.png)

[2022-10-28 11:16] DannyDainton commented on #11141
Does changing those to what I have make a difference when copying the text in the editor?

[2022-10-28 11:20] SanderBouwhuis commented on #11141
Ok, so Consolas doesn't work. Why not?!?

[2022-10-28 11:53] giridharvc7 commented on #2934
@OliverRC Sorry you are facing this, can you share details some more details please, like what your OAuth setup looks like etc?

[2022-10-28 12:57] bharathirajaramasamy commented on #2425
This happens to me too. Not sure how to fix this issue
OS - Mac os
Postman version - 10.0.39

[2022-10-28 14:07] leafyshark commented on #9578
Can confirm I am unable to select the next occurrence selected by the cursor with SHIFT + ꜜ

[2022-10-28 14:37] vkaegis commented on #5473
Hey folks, this is now available on the desktop app on MacOS and Windows.

[2022-10-28 14:37] #5473 closed, assigned to vkaegis

[2022-10-28 17:38] jahumphr commented on #9180
It's end of 2022 and surprised this feature still doesn't exist.

[2022-10-28 20:12] dliberatore-th commented on #11299
I would also like to use test reporting. My goal is to ingest results into TeamCity such that they appear like other tests and test metrics can be recorded.

TeamCity has an XML report processing feature that supports many useful report formats. https://www.jetbrains.com/help/teamcity/xml-report-processing.html

They can also read specially formatted service messages that you output to the console

[2022-10-28 21:11] neuberoliveira opened #11399 "Update collection from swagger definitions"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

A few days ago, maybe a week or more, if i update my api definitions, swagger in my case, there was a button to "validade" my docs, collection created from definitions, and then update/sync my collection. So if i add or delete so

[2022-10-29 09:14] bpedro commented on #8213
Hi @abrunke,

Thanks for your feedback. Can you please contact Postman support and share the URL privately?

https://support.postman.com/hc/en-us/requests/new/

[2022-10-29 11:32] ricky7171 opened #11400 "I got error "Failed fetching a collection using the provided ID, ensure that the ID is valid""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi, right now I using postman CLI to automate my integration testing. Usually I can run the command (that I got from postman, ex : "postman login --with-api-key xxxx", "postman collection run xxxx -e xxxx -i xxxxx") smoothly. But

[2022-10-29 13:30] anshuljain03 commented on #11400
Hey, could you please share the Postman CLI version with us? You can find it by running `postman -v`. Apart from this I would recommend you deactivate the API key you shared in the screenshot as that might lead to security issues. Also, could you share the collection id with us? Are you facing this issue while trying to run other collections as well?

[2022-10-29 13:33] ricky7171 commented on #11400
Sure. my postman cli version is 1.0.4. Ah I see I forgot. thanks for remind me.
here is my collection id : 22019097-4d00eab9-caff-4eee-92c8-cf5a12b91cf3
yes, I also have same issue when try running another collection.

[2022-10-29 14:37] sonuame commented on #4463
Please Reopen this one

[2022-10-29 18:35] adriancuadrado commented on #5817
Fun fact: Hoppscotch used to be called Postwoman. I think it says a lot about it.

[2022-10-29 18:46] adriancuadrado opened #11401 "Feature: Enable Dark/Light theme based on OS theme"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The problem is that many people want [this feature](https://github.com/postmanlabs/postman-app-support/issues/5817), which should not be that hard to implement, but to this date you didn'

[2022-10-29 19:17] DannyDainton commented on #11401
As you know already, closing this as a duplicate.

[2022-10-29 19:17] #11401 closed, assigned to nobody

[2022-10-30 06:05] wirowka opened #11403 "download of the postman 10.x from the download page"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Is there any way to get the last version 10 from the download page? When I download from: [Download Postman | Get Started for Free](https://www.postman.com/downloads/) I am getting versio

[2022-10-30 23:52] colin-stubbs opened #11404 "Some workspace collection list hidden by "Create a collection for your requests" panels"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In our primary "Team Workspace" and in some other workspaces, when first opened for perhaps 2 seconds the full list of collections is displayed.

This then disappears and is replaced by a panel that should only appear if there we

[2022-10-31 00:23] colin-stubbs commented on #11404
This is not a problem after installing v9.20.0-canary

[2022-10-31 00:24] colin-stubbs commented on #11404
The ability to Pause and Edit monitors has also disappeared and appears to be related.
Again, it is not a problem when using v9.20.0-canary

[2022-10-31 04:39] giridharvc7 commented on #1066
This is available only for the Collection sidebar, not in other places yet. Please let us know which part of Postman you are trying.

Multi-select moving is available across platforms as well.

[2022-10-31 07:12] kamaraju-p commented on #11285
Thanks for reporting the issue. The issue is fixed in v9.31.22+.

[2022-10-31 07:12] #11285 closed, assigned to kamaraj-p

[2022-10-31 07:15] ishan-ks commented on #11013
@rostykzub I can see that this issue is fixed now. Can you also check once and let us know?

[2022-10-31 07:45] ismdcf opened #11405 "Add arrow icons to persist all and reset all for environment edit UI"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When creating a new environment, I always get confused with the "reset all" and "persist all" buttons, Which will lead to setting the empty environment field after setting the value.

![i

[2022-10-31 08:34] shashankawasthi88 commented on #11399
@neuberoliveira thanks for bringing this up. We are actively working on this and shall get back to you soon.
Just to understand your flows better, what sort of updates are you making to your schema for which you want to correspondingly update the collection? Are these new endpoints, updates to existing endpoints, or something else?

[2022-10-31 08:35] shashankawasthi88 commented on #2978
@mnomansadiq can you raise a support ticket, the team will reach out to you soon for the issue.

[2022-10-31 08:53] mnomansadiq commented on #2978
@shashankawasthi88 Can you please tell me where to create a support ticket for that?

[2022-10-31 08:53] ARedmanDodd commented on #3438
Just adding my support for this feature.
I have a client that requires offline PDF documentation and I am currently searching for a way to work around this.

[2022-10-31 09:01] felromero9 commented on #8195
+1

[2022-10-31 09:06] ishan-ks commented on #10998
@arilishu @tkrajewski89 Thanks for reporting this issue. We are actively looking into this and will fix this soon.

[2022-10-31 09:32] pimg commented on #8920
+1

[2022-10-31 10:11] kamaraju-p commented on #11277
Hi @yadunandanbhat, thanks for feedback. The issue is now fixed.

[2022-10-31 10:11] #11277 closed, assigned to kamaraj-p

[2022-10-31 10:19] kamaraju-p commented on #9557
Hi @ChrisEt , thanks for your feedback. We are working on a fix and will update this issue.

[2022-10-31 11:05] matthewtillett commented on #10903
I'm running v10.0.40 and have this exact issue on Windows 11.

Click the Postman icon, absolutely nothing happens, or seems to be happening, no window, nothing visual; it's as if you have mis-clicked the icon.  The CPU takes a little hit, you wait about 45 seconds and then Postman appears.  If you close Postman and launch the application again, there is no delay.  The delay only seems to happen wh

[2022-10-31 12:15] jyoti-c commented on #981
Hey!  Anything on this? Are we adding this improvement?

[2022-10-31 12:15] shike021 commented on #2701
+1

[2022-10-31 14:13] ghost opened #11406 "Minimise all collection folders"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When working with big collections you will have to scroll endlessly through closed and opened folders to find a request. It's hard to find a folder name or request name in this big list.

[2022-10-31 16:06] DannyDainton commented on #11390
As this is not an issue with the main app and only on Canary, I'm going to close this out.

[2022-10-31 16:06] #11390 closed, assigned to nobody

[2022-10-31 16:39] DannyDainton commented on #11372
Closing this due to inactivity - If you're still facing this issue, please provide some additional information to help us to triage this further.

[2022-10-31 16:39] #11372 closed, assigned to nobody

[2022-10-31 16:41] DannyDainton commented on #11368
Closing this due to inactivity. The provided solution will hopefully help with the image rendering.

[2022-10-31 16:41] #11368 closed, assigned to akshaydeo, kamaraj-p

[2022-10-31 16:43] DannyDainton commented on #11262
Closing this due to inactivity. I was unable to reproduce the same issue but if you update to the latest version for the OS and are still having issues - We can look at reopening the issue again.

[2022-10-31 16:43] #11262 closed, assigned to nobody

[2022-10-31 16:44] #11220 closed, assigned to nobody

[2022-10-31 16:58] varunet commented on #3845
+1

[2022-10-31 18:01] akshaybhalotia commented on #1066
Can confirm, tried many combinations but it doesn't work. Postman 9.31.0 on Macbook Air M1.

[2022-10-31 20:00] danielflippance commented on #11009
+1  Same issue on a 1050px wide monitor

[2022-10-31 20:52] josephbleau commented on #1535
+1

I maintain a collection that I treat as my "source of truth" for all of my requests and for every new scenario I want to test I find myself copy+pasting the appropriate requests into a new collection in order to script them. At my scale this works well enough, but I would really love to see request reuse as a first class feature in Postman.

[2022-10-31 20:57] alyvicto commented on #4288
Is there any way to reopen this or has it been resolved already?

[2022-11-01 04:49] shubhbhargav commented on #11387
You are right @DannyDainton.

@IronSwalt this is because of the limitations of max integer in Javascript. Based on the collection shared, it seems like the value is supposed to be sent as a string in the payload. If that's the case, this limitation can be overcome by converting the integer to a string in the .csv file (by adding double quotes around the value `"`). Let us know if that works for yo

[2022-11-01 04:55] shubhbhargav commented on #11317
@w4dd325 Thanks for highlighting this. Can you please let me know how this value is getting logged via the scripts? There is a known limitation of max integer value in javascript which leads to this issue.

In addition, can you share a bit more info around having large integer values in this case? Is that the expectation from the underlying endpoint or is it being used as a mock to test things fro

[2022-11-01 04:58] shubhbhargav commented on #11029
@codejockey68 Did this issue get resolved for you? Let us know if you are still unable to see the Bulk Edit option.

[2022-11-01 04:59] shubhbhargav commented on #6501
Closing it off due to inactivity.

[2022-11-01 04:59] #6501 closed, assigned to nobody

[2022-11-01 07:11] viktorhanssonminut commented on #10605
I'll bump this too since nothing seems to be happening

[2022-11-01 08:28] se-thomas commented on #10551
Hey! I'm still having the same issue after clearing the font cache and reinstalling Postman (via snap)

Postman:
Version 9.31.22
UI Version 9.31.22-ui-221031-1419

Running on:
Ubuntu 22.04.1 LTS (64-bit), 5.15.0-52-generic

[2022-11-01 10:35] gruckion commented on #5817
Come on guys... this has been open since 2019 and wouldn't take more than 1 day to implement... Let's be honest it would take a few hours because you already have theme switching and you've got multiple code snippets above. A junior developer can do this and be the hero.

Get this done stop delaying please.

[2022-11-01 10:48] MitriSan opened #11407 "Can't access folder created by another user via Postman API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When i'm trying to access a folder, that were created by another user from the same team, via Postman API, i receive 404 response. However, when i use API key of the creator of this folder, i can see all the information, exactly

[2022-11-01 11:42] malekhin commented on #5817
This is true!

[2022-11-01 11:50] sergiolindolfoferreira opened #11408 "Import API from Azure API Management - No subscriptions found"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I successfully authenticated in azure, but my subscriptions still don't appear in Postman

### Steps To Reproduce

1. Import
2. API Gateway
3. Azure API Management
4. Authenticated with Azure
5. Subscriptions Not Found

### Scree

[2022-11-01 11:59] DannyDainton commented on #11407
Hey @MitriSan

Are you able to share a screenshot of the Workspace Settings showing the user's permissions and the Collection's Manage Users with the permissions, please?

[2022-11-01 12:12] sergiolindolfoferreira commented on #11408
Could it be because I have two subscriptions?

And I also have two AzureAD

[2022-11-01 12:20] ByeongUkChoi commented on #9713
How is it going?
Is it still impossible to assign a variable for the issued token?

[2022-11-01 12:21] MitriSan commented on #11407
Hi @DannyDainton , thx for your response

1. Permissions on workspace level:
![image](https://user-images.githubusercontent.com/20190995/199230220-fcb0b978-1779-46a2-b37a-0dfa74b81483.png)
2. Permissions on collection level:
![image](https://user-images.githubusercontent.com/20190995/199230496-9f532f4e-41db-4e99-88ab-927b2d74f5b1.png)

The owner user, which have an access: `matias.cardenas@sendclo

[2022-11-01 13:44] malvikach commented on #4288
@alyvicto This issue is open. Please feel free to add your thoughts. We are tracking this as a feature request.

[2022-11-01 13:47] diptarag commented on #5817
We are working on this feature and targeting a release early next week. I will update here once the feature is published.

[2022-11-01 13:53] rafrafek commented on #5817
Thanks @diptarag for great news!

[2022-11-01 14:06] Benjamin-deVries opened #11409 "pm.expect failure hides all test results"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the event that a pm.expect test fails, rather than showing the test to have failed and show the results of the tests (passed ones and failed) the user instead sees a banner indicating: "There was an error in evaluating the tes

[2022-11-01 15:41] DannyDainton commented on #11409
It looks like the Assertion Error is coming through in the Console.

<img width="1055" alt="image" src="https://user-images.githubusercontent.com/17089546/199274622-def75de3-1efc-47d3-ab0f-ab2d0240ae44.png">

As it's an async request, the rest of the details for that are also in the console with the Assertion Error.

[2022-11-01 16:20] VictoriaBlaustein commented on #10684
Same issue as reported by whiteknightjanus. MacOS Desktop version 10.0.40.

[2022-11-01 16:25] MitriSan commented on #11407
Oooh, got it, thanks, makes sense. We'll switch to UUID usage.

[2022-11-01 16:25] #11407 closed, assigned to nobody

[2022-11-01 17:05] gruckion commented on #5817
Cheers, guys.

[2022-11-01 17:17] DannyDainton commented on #11311
Closing this issue due to inactivity.

[2022-11-01 17:17] #11311 closed, assigned to postman-staff

[2022-11-01 17:18] DannyDainton commented on #11353
Closing this issue due to inactivity.

[2022-11-01 17:18] #11353 closed, assigned to postman-staff

[2022-11-01 17:31] shubhbhargav commented on #3518
Hey everyone, first of all, thanks for highlighting this.

As of now, we are unable to reproduce this issue at our end. Adding a few details from the previous comments at the time we fixed the issue in order to clarify the behaviour under certain scenarios:

- Cookies are set on the domain level. Port number is not considered for that (as per the RFC: https://www.rfc-editor.org/rfc/rfc6265). In es

[2022-11-01 17:31] #3518 closed, assigned to codenirvana

[2022-11-01 17:43] Benjamin-deVries commented on #11409
Hi Danny, thanks for the response.

I realize that i can go to the console to get the data, but consider how results are displayed if the tests all pass.
<img width="590" alt="Screen Shot 2022-11-01 at 1 42 24 PM" src="https://user-images.githubusercontent.com/70020583/199301526-401db4f5-0349-456e-9923-4d2cd59dab55.png">

Still have the same behavior even after changing to `pm.expect(res.code).to.

[2022-11-01 17:52] DannyDainton commented on #11409
I understand the problem and agree that it's not a great way to display the information. I was just expanding on the issue and sharing an alternative `pm.expect()` syntax.

[2022-11-01 18:42] dinob68 opened #11410 "Postman changes POST to http to a GET to https request and returns HTTP 405 error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I found the reason but I am finding this to be very strange behavior in PostMan if not a bug

What I found in PostMan console (when my request returns 405) is that my **POST** request to `http`, gets redirected to **GET** request

[2022-11-01 19:02] cronel opened #11411 "Using Chrome VPN for Postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Hello,
I have good VPNs on chrome but can't use them for windows postman (in
postman app for chrome they worked well but they are not useful on
postman for windows),

P.S. I tested Interc

[2022-11-02 02:53] postman-support commented on #11404
Hello **colin-stubbs****,**

I hope that you are doing well.  Upon further review, we are of a response time issue that occurred on Monday that, unfortunately, may have impacted here.  If you are still encountering this behaviour, could I please request that you log a using the support form: `https://www.postman.com/support`and we will be happy to review your account further.  Apologies for any co

[2022-11-02 03:02] mikej96 commented on #10999
I've run into this as well. Ended up having to re-work API definitions by adding unnecessary duplication of properties so that Postman can load sample responses. At the end of the day end users of an api spec have grown to depend on this functionality, so having example responses that fully load by default ended up being more important than a non-redundant spec.

[2022-11-02 04:51] bean5 opened #11412 "Update snapcraft builds"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

snap info postman indicates that the latest version available is `9.31.0 2022-09-13 (184)`. The newest version online, I think, is version 11. I was alerted to this when another engineer

[2022-11-02 05:19] postman-support commented on #11386
Hi hello,

Thanks for reaching out to Postman Support.

Sorry that you are facing issues while using Postman --- Happy to help.

Do you have the desktop application installed?  Let me know if you are seeing the same behaviour while launching and accessing the postman.

Kindly download the latest app for your platform from here:

- https://www.postman.com/downloads

Let me know if you are using an

[2022-11-02 05:37] #11373 closed, assigned to postman-staff

[2022-11-02 06:02] charlesr1971 commented on #11386
This issue is happening on mobile Safari.
All of the solutions you outline in your last reply, like disabling the GPU settings, cannot be applied to an iPhone?

[2022-11-02 06:19] shashankawasthi88 commented on #2978
@mnomansadiq - [here](https://support.postman.com/hc/en-us/requests/new/)

[2022-11-02 06:28] Raj-postman commented on #11408
Hi @sergiolindolfoferreira 👋
Could you please raise a support ticket here: https://support.postman.com/hc/en-us/requests/new - to help us check further into your account details to have this resolved? Thanks!

[2022-11-02 06:32] giridharvc7 commented on #1066
@akshaybhalotia are you signed in?

[2022-11-02 09:09] mofee commented on #4079
+1

[2022-11-02 09:15] postman-support commented on #11386
Hey hi,
Thank you for responding back.

I am not really sure if it is a compatibility-related issue since you are using the application on your iPhone. Can you try connecting to a different network might be a mobile hotspot or home wifi and check once?

May I request you to clear the browser cache/cookies, restart the browser, and check if you are able to open the app and login to the account?

Lo

[2022-11-02 09:38] wrkntwrkn commented on #8231
+1 (have to manually do it every time it expires atm... copy id_token -> paste in access token)

![image](https://user-images.githubusercontent.com/94405711/199455626-fcf7118c-53c8-4bed-a21d-3f3897243ab3.png)

[2022-11-02 09:43] abhivaikar commented on #2801
Hey @codenirvana, any idea when this will be supported natively by Postman?

[2022-11-02 09:48] MitriSan opened #11413 "Postman API: Add folder UID to get collection response"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Our team is trying to automate some workflows to keep our postman collections up to date. In this [issue](https://github.com/postmanlabs/postman-app-support/issues/11407) we found out tha

[2022-11-02 10:10] charlesr1971 commented on #11386
Hi @Lincimary

I have tested it on my desktop Windows 10 laptop and I get the following:

![image](https://user-images.githubusercontent.com/827046/199462894-373ebc58-e206-47cf-8404-9367b1c50998.png)

So, it seems like it is a mobile safari issue?

[2022-11-02 10:48] postman-support commented on #11386
Yes, you are right!
It seems to be an issue with mobile compatibility settings. Can you try using Postman for Desktop which runs natively on Apple Silicon and see if it opens as expected?
Ref: https://github.com/postmanlabs/postman-app-support/issues/9346#issuecomment-947573206

Let me know how it goes.
via @Lincimary | Postman Support

[2022-11-02 12:56] ajeet-postman commented on #10871
@CodyBontecou I can see that this is fixed now. Can you please confirm once?

[2022-11-02 13:03] ajeet-postman commented on #8242
@IsraelBoiko-Objective This issue is fixed. Can you please confirm?

[2022-11-02 15:31] Gunacan commented on #10928
I am also using the POSTMAN UI to import, and turning off the "Optimize Conversion" setting doesn't work. I am still getting the "<Error: Too many levels of nesting to fake this schema>" error.

I am also not able to tell if I've reached the 10 stack limit nesting as I am not sure how exactly that's measured. Are there any updates on when this feature will be implemented?

[2022-11-02 16:01] akshaybhalotia commented on #1066
@giridharvc7 I just did and lost all my existing work but the multi-select works now.

Curious about both - why is sign-in required to use multi-select, and why is sign-in designed this way to make me lose all the current work, without even a single warning?

[2022-11-02 16:23] akshaydeo commented on #8242
@IsraelBoiko-Objective feel free to open the ticket if it's still not working for you 🙇‍♂️

[2022-11-02 16:23] #8242 closed, assigned to Raja-Simha

[2022-11-02 16:23] jviotti commented on #11374
Hey @sealse ,

Thanks for reporting this. The "disableGPU setting is set to undefined" is not the reason behind the problem. It is a warning saying that your current system is not actively disabling the GPU, therefore the app will try to make use of it.

I think the problem is around the non-existent `libGL.so.1` library and `xdg-mime` command.

Does the Linux tarball (instead of the Snap) work fo

[2022-11-02 16:30] Narviath commented on #8433
Hello,

I'm sorry to recomment but, the "run again" feature is not what we need, we want a real save and/or export feature for runner configuration and reorganisation of request.

If you use a lot postman your "recents run" section will be flooded and it's hard to find what you want.

[2022-11-02 17:26] balajisa09 commented on #6682
+1

[2022-11-02 17:38] dtrenz opened #11414 "Add ability to use pull requests to manage changes to API definitions"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Postman supports pull requests for Collections, but no branching or PR review/merge workflow for API definitions. It would be great if a team could develop & maintain an API schema defini

[2022-11-02 17:48] svenjungnickel commented on #10185
Still an issue in version 10.0.42 on Mac

[2022-11-02 18:38] mwcgit commented on #9176
I encountered this bug today as of 11/2/2022
![image](https://user-images.githubusercontent.com/12974297/199573955-fea3b8bf-20b8-4a6c-b598-a8844a66ea4e.png)

[2022-11-02 18:39] shubhbhargav commented on #9176
@mwcgit Can you share the CURL output for it? Looks like an issue where the HTTP response doesn't contain the protocol definition at the top.

[2022-11-02 18:45] shubhbhargav commented on #9614
@montoner0 You should be able to upgrade to v10 now. Can you check once? Also can you confirm that you are signed-in in the app?

[2022-11-02 18:47] shubhbhargav commented on #2425
@bharathirajaramasamy Can you please share a few more details around the issue:

- What is the error you are seeing here?
- Is the error consistently reproducible?
- What are the steps to reproduce the error?

[2022-11-02 19:00] moellrich commented on #11371
Sorry for my late response.

I was on holidays.

I just opened Postman again, tried it out and everything works. I have no idea what might have changed. (Restarting Postman I tried before…).

As a friend once said: In theory there is only 1 and 0, but in reality there is something in between and that gets you into trouble. 😉

Best regards

Dr.-Ing. Marc Oellrich

www.oellrich-solutions.de <https:/

[2022-11-02 19:23] montoner0 commented on #9614
@shubhbhargav I tried v10 and it works for me exactly the same way as v9.31. No, I don't have an account so I'm not signed in.

[2022-11-02 19:31] IronSwalt commented on #11387
Hi there,

Yes, this work-around works for me.

Thank you.

[2022-11-02 19:31] #11387 closed, assigned to nobody

[2022-11-02 19:57] kmccarthy-btig opened #11415 "Add notification settings for failed Github integrations (Such as backup a collection)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The problem is that I work for a finTech company and we utilize Postman for API testing then backup our collections using the Github integration. With a large amount of collections it wou

[2022-11-02 20:17] LostKatana commented on #11391
URL encoding seems to be broken entirely. When using parameters, like doing a search and the search term contains spaces the request is done properly but cUrl snippet is missing encoding as well.
![image](https://user-images.githubusercontent.com/14800164/199593720-7c67649e-27b4-4444-8a90-d079030e78d8.png)

Expected URL: https://duckduckgo.com/?q=where%20is%20my%20space%20encoding
Actual URL: http

[2022-11-02 20:23] mwcgit commented on #9176
@shubhbhargav,
![image](https://user-images.githubusercontent.com/12974297/199595018-91206cf9-f528-43d8-a60e-7186bb8908c7.png)

[code]

[2022-11-03 02:49] ricky7171 commented on #11400
Ah I see. Yes, right now I just try and it's works. Thank you for your information, but it would be better if the error show that the request has reached the limit.

[2022-11-03 03:07] shubhbhargav commented on #10933
@kk-pareek Can you please share the following details to help debug this further:

- Is this consistently reproducible? Does this happen only in certain cases?
- Can you share the steps to reproduce?
- Does the same request work with CURL? If yes, can you share the output of the same? (I did do through a few examples shared before but wasn't able to reproduce it at my end)

[2022-11-03 03:40] shubhbhargav commented on #9176
@mwcgit Can you add `-i` in the CURL request and re-share the output once please? It will give the entire response in raw format. That will be helpful to see what exactly is causing the parsing error.

[2022-11-03 04:50] postman-support commented on #11371
Hi hello,

Glad that everything is working fine now. In the future, if the same issue occurs and you wanna get help just respond to this ticket to re-open it.

As of now I'm going ahead and closing this conversation but please feel free to reach out again later if you need any other assistance!

Thank you for contacting Postman support.
Have a great day:)

via @Lincimary | Postman Support

[2022-11-03 04:51] shashankawasthi88 commented on #11414
Hi @dtrenz thanks for raising this. Can you elaborate more on how you folks collaborate on the API schema. Also, do you maintain your schemas in SCM repositories or not. If yes, what blockers do you see in adopting the git workflows using Postman and the SCM integration?

[2022-11-03 04:53] postman-support commented on #11253
Hi hello,
Thank you for following up.

If the connection is blocked due to a firewall/proxy then please whitelist the following domains on your network firewall to allow WebSocket connections for Postman

*.getpostman.com
*.postman.co
*.pstmn.io
*postman.com

By default webSocket connections use the same ports as HTTP (80) and HTTPS (443).

Let us know if you have any further queries - happy to he

[2022-11-03 04:54] ishan-ks commented on #6138
Hi @icapuccio, We have updated the favicon upload instructions now. Can you validate this on your end?

[2022-11-03 04:58] shashankawasthi88 commented on #11415
@kmccarthy-btig thanks for raising the request. While we are looking into the request, have you got the chance to explore the new and improved native git capabilities that we have introduced with v10. You can read my [blogpost](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) to know more about the flows.

[2022-11-03 05:13] ajeet-postman commented on #10986
@samwfulwider This issue is fixed. Can you please confirm if you are still facing this issue?

[2022-11-03 05:14] ajeet-postman commented on #11313
@mredding999  This issue is fixed. Can you please confirm  if you are still facing this?

[2022-11-03 05:40] kamaraju-p commented on #10883
Thanks @brandonkirsch for reporting this. The issue is now fixed. For any special cases that are currently not supported in the Postman editor, you can set the Markdown editor as the default editor. To use this settings please see [this](https://learning.postman.com/docs/publishing-your-api/authoring-your-documentation/#selecting-a-default-documentation-editor)

[2022-11-03 05:40] #10883 closed, assigned to kamaraj-p

[2022-11-03 06:11] #10986 closed, assigned to nobody

[2022-11-03 06:14] akshaydeo commented on #10860
The fix is available on our latest versions and web app 🙇‍♂️

[2022-11-03 06:14] #10860 closed, assigned to akshaydeo, ajeet-postman

[2022-11-03 06:14] #10192 closed, assigned to akshaydeo, shubhbhargav, Raja-Simha

[2022-11-03 06:16] #11013 closed, assigned to akshaydeo, Himanshu0781

[2022-11-03 06:16] #11313 closed, assigned to akshaydeo

[2022-11-03 07:00] iksflow commented on #10928
@Gunacan
I got a same problem and I found a solution!
It worked really well for me.
[code]

[2022-11-03 07:13] ishan-ks commented on #9869
@jyeros The documentation generated is correct and contains the headers in the `headers` tab. Please see the attached screenshot. Let us know if you are still having difficulty seeing the headers.
<img width="758" alt="image" src="https://user-images.githubusercontent.com/98811858/199664796-9d77294e-72ab-4da1-892d-ffe3c441bb17.png">

[2022-11-03 07:17] anhhanuman commented on #11299
hi @malvikach
About this, can you let consumers know where is the roadmap for Postman CLI?
We want this the following as well

Yeah we also need the support for reporter feature which we can show the client

[2022-11-03 07:35] jyeros commented on #9869
It is working now, thanks

[2022-11-03 07:35] #9869 closed, assigned to akshaydeo, Raja-Simha, ajeet-postman

[2022-11-03 07:57] appurva21 commented on #11355
@uschwag This issue is fixed with the latest release of Postman. Feel free to reach out in case you are still facing any problems.

[2022-11-03 07:57] #11355 closed, assigned to codenirvana

[2022-11-03 08:38] appurva21 commented on #11232
Hey @olaforest! Support for `pm.sendRequest` in gRPC scripts is now available in the latest version of Postman 🎉 . Do give it a try and let us know your thoughts!

![send-http-request](https://user-images.githubusercontent.com/24985700/199671230-f7540d2c-abf4-4ea5-bb9d-c225dbe28e02.gif)

[2022-11-03 08:38] #11232 closed, assigned to codenirvana

[2022-11-03 09:39] mlaffargue commented on #11323
No news on that ?

[2022-11-03 10:11] tsokac2 commented on #3143
Here is my example and it works:

const response = pm.response.json();
const IBAN = response.accounts[0].identification.iban;
pm.collectionVariables.set("IBAN", JSON.stringify(IBAN));
console.log(IBAN);

// Variables: IBAN "SK4075000000007777777777"

Response Source:

{
    "creationDateTime": "2019-03-11T10:30:44+01:00",
    "accounts": [
        {
            "identification": {

[2022-11-03 10:26] mahmoudozil opened #11416 "Newman does not support Javascript functions like Math.floor / Math.round?"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

we use this function in global variables :
[code]

then in the pre-script, we set a variable with the return value of the fucntion
[code]

but the function does not return anything and i don't have any logs !
any solutions?

###

[2022-11-03 10:34] uschwag commented on #11355
Thanks a lot for fixing, it works now as expected.

[2022-11-03 10:35] DannyDainton commented on #11416
Hey @mahmoudozil

What's the command you use to run the Collection with Newman? You've placed that function at the global level, are you exporting the global file and using that in the Newman run?

For additional information, Newman has its own repository for issues related to that project - https://github.com/postmanlabs/newman

[2022-11-03 10:37] vizakgh commented on #5980
v10.0.1 - issue still exists. change request url, wait 5 sec - gray screen.

[2022-11-03 10:44] RaisinTen commented on #5980
@vizakgh is there any chance you have [Endpoint Protector by CoSoSys](https://www.endpointprotector.com) running on your system?

[2022-11-03 10:57] ppowierza commented on #7370
70% CPU usage on 10.0.42 version

[2022-11-03 11:01] vizakgh commented on #5980
no.

[2022-11-03 11:03] mahmoudozil commented on #11416
`newman run https://api.getpostman.com/collections/${collectionId}?apikey=${apiKey} -e env.json -g globals.json -r htmlextra --reporter-htmlextra-export result_${collectionName}.html`

i'm using this command line to execute a collection with a given environment and globals !
the weird thing that javascript functions returning a value are working fine but i couldn't use the Math library ! should i

[2022-11-03 11:08] vadim-novikov commented on #10852
+1

[2022-11-03 11:13] mahmoudozil commented on #11416
**DOES NOT WORK**
[code]
function generatePhone () {
	return "static string";
}
[code]

[2022-11-03 11:37] DannyDainton commented on #11416
Rather than having the function at the Global level, you can add something like this to the Collection pre-request script:

[code]

You can call that function and assign it to a variable at the request level:

[code]

When run with Newman, adding the variable to a request body will work. Here's an example of that in the report:

![image](https://user-images.githubusercontent.com/17089546/199711041

[2022-11-03 11:38] kamalaknn commented on #7370
@ppowierza Could you record a performance profile when you are experiencing high CPU usage?

[2022-11-03 12:17] vitaliyantonov22 commented on #10844
The same one

[2022-11-03 12:30] brProf commented on #8195
+1

[2022-11-03 13:05] ishan-ks commented on #6903
@ghost We have `C# RestSharp` as one of the languages in published documentation. Hopefully, that resolves your issue.

[2022-11-03 13:18] dtrenz commented on #11414
@shashankawasthi88 Thanks for the the response. My team is currently in the process for moving from developing an OpenAPI schema definition YAML file in a GitLab repository to using Postman.

Our desire is to simplify API spec development & collaboration by doing it all in Postman. However, we discovered that this SCM type of collaboration (e.g. branch/fork + pull request) on API definitions is no

[2022-11-03 13:22] ppowierza commented on #7370
Thanks for your interest. I managed to fix it by **turning OFF hardware acceleration**. It is right now using 0% CPU when idle. Before it used 80-90% on idle.
I wanted to send you performance profile, but it was pretty empty.

[2022-11-03 13:45] mahmoudozil commented on #11416
@DannyDainton thank you for this well illustrated example. Unfortunely, i need to use this function (and others yet to come) across a whole workspace (which contains multiple enviornments, collections and requests,..)
I don't want to duplicate my scripts everywhere ..
I don't know if i should import something there

[2022-11-03 13:46] Gunacan commented on #10928
@iksflow, thanks for your response, but as I said in my message, I am doing the import on Postman UI (Postman app), and not the API.

[2022-11-03 13:48] kamalaknn commented on #7370
Ah, thanks @ppowierza for the update.

Can you share your system information? What is the GPU on your system?

[2022-11-03 14:07] akshaydeo commented on #5857
Hello @scottishkilt, apologies for the delayed update; this issue is fixed on our latest apps. Feel free to reopen the ticket if you are still facing the issue 🙇‍♂️

[2022-11-03 14:07] #5857 closed, assigned to Raja-Simha

[2022-11-03 14:29] DannyDainton commented on #11416
Are you sure that the globals file contains the correct information? Was the function script in the `initial` and `current` values before you exported it?

I ran your code locally and the data was populated in the report. What is coming through in the generated HTML report for you?

More visual information will help debug this issue - As I can see that Newman is working as expected, I believe the

[2022-11-03 14:47] developer-shajib opened #11417 "Postman window app dark mode font color need some changes"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Postman windows version app dark mode some font color is so poor white..it's very problem when we use..please kindly solve it and font color make fully white..

### Describe the solution

[2022-11-03 14:55] iksflow commented on #10928
@Gunacan
Yeah, that's right. It's not cool.
You already know, So I imported the collection.json(generated by CLI command) to Postman App. 🤣

[2022-11-03 15:13] mredding999 commented on #11313
Hi Ajeet,

The issue is not fixed.  When I deep link to a folder that is down in the middle of a collection or near the bottom the anchor missed really bad, to the point where the folderheading is not even displayed on the page at all...you have to scroll way down to get to it.  What other info do you need?

Thanks,

Mark

________________________________
From: Ajeet Lakhani ***@***.***>
Sent: Wed

[2022-11-03 15:35] Kyreikal commented on #3358
+1 to this.

The form data ui would be perfect for this. Add a new _raw-json_ tab and just have it spit out the raw json on selected variables rather than form data. Everything you need is there, type, description, key and value. Only thing that would need work is nested fields.

You can document and optionally select variables with a click.

[2022-11-03 15:39] emiliogarza commented on #3358
Why refuse a feature that clearly many people want? @Kyreikal has a good solution here ^

[2022-11-03 16:14] Kimouss commented on #11354
I have same problem...

To launch Postman App, I have to do:

-  Launch Postman V10+
- Wait a white / grey screen (extremely slow)
- Kill process
- Launch Postman V9
- Wait between 15 and 45 minutes (extremely slow)

Then, I have Postman

**OS:** Windows 10

If someone have a solution, please ? :)

[2022-11-03 16:24] NxSoftware commented on #9505
As requested in #10145 it would be great if we could determine which theme was in use in order to correctly theme our visualisations. Using a dark theme then having a bright white visualisation appear is not great on the eyes, but not everyone uses the dark theme so hardcoding the visualisation to be dark doesn't make sense.

[2022-11-03 17:51] Karmalakas commented on #9505
It doesn't look they even care. Feature was introduced and forgotten it seems. Actually whole PM UI is barely working - nothing behaves as expected. I'm really pissed and have to live with it because of the company policy

[2022-11-03 21:52] SebastianJust commented on #10550
I've recently updated postman to the newest version, and now I the exact same issue.

I've tried capturing the cookies throughout the "capture request" method, but it still doesn't work.

Anybody got the same issue?

[2022-11-03 22:45] Wyatt-SG commented on #5817
ETA?

[2022-11-03 22:46] ankjevel commented on #5817
@Wyatt-SG [early next week](https://github.com/postmanlabs/postman-app-support/issues/5817#issuecomment-1298536670)

[2022-11-03 22:53] bwen1 commented on #4690
+1 for console.clear()

[2022-11-03 23:48] wnelson03 commented on #6452
@codenirvana @abhijitkane @arlemi @numaanashraf @DannyDainton @shamasis @loopDelicious

c'mon guys it's been **4 years** and this fundamental functionality has yet to be implemented.

It's one thing for a site like Spotify to not have 2FA, completely unacceptable for a site like Postman where requests to vital infrastructure are made.

[2022-11-04 05:08] shashankawasthi88 commented on #11414
@dtrenz thanks for the clarification. Can we get on a short call? I understand your workflow, but I have a few more questions that might help us design the solution better. You can schedule a call with me using [this](https://calendly.com/shashank-awasthi/v10-feedback).

[2022-11-04 06:12] postman-support commented on #10550
Hi SebastianJust,

As you are unable to use Interceptor after recently updating your Postman Desktop App to the newest version, please check if all the dependencies are installed properly.

If the options above didn’t help, follow the steps below to remove all the Interceptor dependencies and retry the installation.

- Open Postman and head to **View** > **Developer** > **Show DevTools (Current Vi

[2022-11-04 06:27] postman-support commented on #10550
Hi SebastianJust,

I have also included a related knowledge link below for your reference to help troubleshoot this issue

I’m having trouble with the Interceptor
https://support.postman.com/hc/en-us/articles/360025849993-I-m-having-trouble-with-the-Interceptor-

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday,

[2022-11-04 07:03] ishan-ks commented on #7389
This issue seems to be resolved now. We don't see the page getting stuck or unresponsive behavior in the page. See attached screen recording for reference.

https://user-images.githubusercontent.com/98811858/199911632-cdfd9bcd-254d-48e3-ae11-1226355e0d5f.mov

[2022-11-04 07:25] #7389 closed, assigned to akshaydeo

[2022-11-04 09:01] vidhya03 opened #11418 "Importing API with patch method object does not resolve request body"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Import the open API, with **PATCH** method with **examples**.

please refer reproducible steps for the API

### issue:

**Instead of json body we are getting - [object Object]**

![image](https://user-images.githubusercontent.com

[2022-11-04 09:22] ajeet-postman commented on #7207
@mjang Option to unpublish collections that were published by others is available in **Enterprise Plan** as a part of Publish Documentation Governance.

In Publish Documentation Governance, Documentation is published through request approval.
- Collection Editor can raise a publish request
- Community Manager can take action (approve/reject) on a publish request
- Community Manager can `unpublish`

[2022-11-04 10:33] andreaReply commented on #3706
+1

[2022-11-04 10:34] nielsbakkeren-syntouch opened #11419 "Auto log out on closing postman interface"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I'd like to configure my company laptop in such a way that it's usesless to a thief accessing it for sensitive credentials. I would like a feature that enables automatic signing out when

[2022-11-04 10:40] MicheleRep commented on #3706
+1

[2022-11-04 10:42] aleksey-korolev commented on #8219
I sas struggling to find dockable console too, so posting it here to save time for all the other users looking for this:
in Postman (my current version is 9.31.8) there are 2 independent console windows, one is floating, accessible from View top level menu, the other is docked at the bottom, accessible from bottom status bar, see screenshot:
![image](https://user-images.githubusercontent.com/21458

[2022-11-04 11:57] rohendra commented on #11145
Facing similar issue. One of the endpoints needs to unauthenticated but published api doc in postman shows same auth requirement for all endpoints.
Interestingly, when you define API schema and then view documentation for it, it shows auth info as per spec. But if you create collection (which is required for publishing created API doc), then auth requirement for at endpoint level is lost.

[2022-11-04 13:40] haraldpusch commented on #4079
+1

[2022-11-04 15:29] arlemi commented on #6452
@wnelson03 This is something we're currently working on, hoping to release it this quarter. We'll keep everyone up to date here once we have more info to share!

[2022-11-04 16:14] mahmoudozil commented on #11416
initial value same as current value
[code]

[2022-11-04 16:19] Suhas-Gaikwad commented on #6452
Thank you for your patience with our upcoming 2FA feature. We are currently testing the feature internally and we'd love to give you early access. Please show your interest by emailing help@postman.com and we will enable it for your account.

[2022-11-04 17:45] shubhbhargav commented on #9614
I see. Can you please sign-in? Currently it's only supported for signed-in users.

[2022-11-04 17:49] wnelson03 commented on #6452
Amazing. I was given access to 2FA after I sent them an email.

2FA is implemented very well. You guys even took the time to add the ability to copy the secret without needing to scan the QR code. A lot of websites don't do that.

Thank you, much appreciated.

[2022-11-04 17:56] DannyDainton commented on #11416
You're going to need to show an image of what you have set up in the app, the code snippet doesn't show anything.

Without more information, there's not a lot we can do here.

[2022-11-04 18:41] DJSdev commented on #6999
I'm tried of every time I open Postman to do a quick test request, I get a fullscreen prompt 10-20 seconds after Postman is opened to asking to update.

I don't want to update, I want to use the product, send 2 or 3 requests, and then close it. I don't care if I'm out of date, I'll update when I decide to.

Just found this issue and posting this to let the Postman team know I'm moving to a differe

[2022-11-04 19:04] mahmoudozil commented on #11416
you mean the postman setup?
https://photos.app.goo.gl/j5DSVjc2dADwTqGf8

[2022-11-04 19:05] ZooDoo4U commented on #6999
I found a great way to disable the auto update in postman.   Think most of us here have VS Code?   There is a great extension 'Thunder Client" and it does about 99.999% of what i need postman for...

[2022-11-04 19:07] montoner0 commented on #9614
I think this is the most ridiculous requirement for such feature... Sorry, but I'm not going to make an account for this.

[2022-11-04 19:26] Stevemoretz commented on #6999
Lol people are going on a strike here, for some just not using the Postman seems to have become a solution itself!

I do appreciate the OTA updates, and frankly I have them in the apps I develop too and mostly I don't (need to) let users to control those updates but my apps don't have offline support and my OTA updates are really small (a few KBs).

On the other hand Postman has huge updates and o

[2022-11-04 21:15] gaston-haro commented on #4898
Allow users to insert multiple variables since you don't allow environment inheritance a lot of manual work is needed and without this the task is abominable.

[2022-11-04 21:15] gaston-haro commented on #11058
You mean a single place to ignore it

[2022-11-04 21:34] SeanLively commented on #4898
Well, maybe 2023 is the year?
It's sad that a tool for developers discourages the use of variables when it's so obnoxious to implement across multiple environments.

[2022-11-04 23:20] Skrapshak commented on #10852
+1

You've forgotten a very important letter in the CRUD acronym.
Create
Read
Update

DELETE!!1!
It is quite disappointing that this didn't occur to anyone.

"Favorites" are not a solution.

[2022-11-05 19:49] joserubicon commented on #5817
done !

[2022-11-06 00:42] malekhin commented on #5817
Oh my god, did this really happen?
We can all get together and celebrate this event.

[2022-11-06 01:30] googsvg commented on #10030
@jviotti @RaisinTen
any updates for this?

problem still remains for Snap version

OS:
Ubuntu 22.04.1 LTS

Snap:
Postman for Linux
Version 8.12.5
linux 5.15.0-52-generic / x64

[2022-11-06 02:15] prmichaelsen commented on #3563
@shashankawasthi88 here's an example of what I use today and how it works, which is guiding my workflow today: https://blog.bitsrc.io/vs-codes-rest-client-plugin-is-all-you-need-to-make-api-calls-e9e95fcfd85a

[2022-11-06 02:48] rnantes commented on #9794
Happening to me on macOS Ventura Postman version 10.1.1

![my-eyes](https://user-images.githubusercontent.com/9631562/200151579-1c7d1e97-e868-4148-b7b2-cb3c097e45c7.png)

[2022-11-06 11:42] thevirajshelke commented on #6355
This feature was requested in 2019 wow! I am sure the Postman team is busy doing some really cool stuffs and features but is this small feature (small yet useful) on the list of any subsequent releases?

Do we have any ETA or update on this feature? @numaanashraf

[2022-11-06 12:21] rcduque commented on #10850
For some reason Postman team, avoid this functionality to update enviroment variables in flow mode. So maybe this is the issue you have. You can check here the details: https://stackoverflow.com/questions/71113162/why-environment-variable-doesnt-update-in-postman-flow

[2022-11-06 14:07] boardy commented on #10406
I think I'm having a similar issue, but it doesn't look this issue was resolved.

I am using a local domain that is proxied through apache on my dev PC (MacOS).

When I send a request to to the API I can see the set-cookie header in the response on the console, but postman' cookies tab says there aren't any cookies received, however opening the cookie dialogue they are listed under my dev domain o

[2022-11-06 15:15] rcduque opened #11420 "new block type for "failure" (expression)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Rigth now when we use Flows, the only way to validate a behaviour is adding a test script ( in the request), adding a 'test summary' and link those two blocks. Even with that if a test fa

[2022-11-07 03:33] hsiong commented on #1060
Thanks a lot. This truly solved my problem

[2022-11-07 04:48] centfox opened #11422 "Accidental closing when multiple tabs are open."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When multiple tabs are open and we try to switch to another tab, the required tab gets closed accidentally as there no much space for selection, and the close button gets activated.

###

[2022-11-07 05:03] Raj-postman commented on #11334
Marking this to `Closed` as the folder is now removed. Thanks!

[2022-11-07 05:03] #11334 closed, assigned to akira28, davidespihernandez

[2022-11-07 05:15] Dhembla commented on #11323
Hey @mlaffargue,
Thanks for reporting this issue, and sorry for the hassle you had to go through. A fix for this issue has been released. Please try it out and let me know if the issue persists. 🙇

[2022-11-07 05:27] Dhembla commented on #9369
Hey @mrsGehred @PratikThorve,
Thanks for your patience. We have added support for a custom header `x-mock-response-delay`, which you can use to delay your responses from the mock server. This header can take a value between `0 to 180000ms`. Auto-complete is also enabled on this header in the Postman requestor window.

<img width="1440" alt="Screenshot 2022-11-07 at 10 55 47 AM" src="https://user-i

[2022-11-07 06:29] VShingala commented on #11300
@mrabetr This issue has been fixed with latest v10 version of Postman app. It's also has been fixed for all signed-in users for older versions of App. I've verified the fix to be working as well so I'll close the issue for now, do try this out and feel free to open it if you face any further issues.

[2022-11-07 06:29] #11300 closed, assigned to VShingala

[2022-11-07 06:31] VShingala commented on #11418
@vidhya03 This issue has been fixed recently as part of a related issue: https://github.com/postmanlabs/postman-app-support/issues/11300#issuecomment-1305145381

Could you try this out again and let us know if it's fixed from your end?

[2022-11-07 09:13] MichaelLaffargue commented on #11323
Thanks @Dhembla, it works as expectd for me 👍

[2022-11-07 09:31] #11323 closed, assigned to nobody

[2022-11-07 10:02] hell-racer commented on #5396
This is the single reason I want to downgrade to Postman 7 (from 10).

[2022-11-07 11:04] jesseinit commented on #5817
FInallyyyyyyy

[2022-11-07 11:27] cmyllis opened #11423 "Unable to delete request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

There are some requests imported with the interceptor that I cannot delete now.
![image](https://user-images.githubusercontent.com/96247992/200298728-bde2f1e3-dd69-40d2-b2e2-2a68ca953b15.png)
So they are stuck there. Cannot be re

[2022-11-07 12:38] antonioacg commented on #5817
Finally!!! Thank you!!! Now only Teams missing. If anyone can vote and help: https://feedbackportal.microsoft.com/feedback/idea/6466f3ed-272e-ec11-b6e6-00224827bbc2

[2022-11-07 14:38] raghavgarg1257 opened #11424 "Postman-CLI command `postman whoami` to know the identity of the current user."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I was logged in from the past(not sure when) and my API Key was stored in the system. I wanted to know for which user it is logged in but wasn’t able to do that.

### Describe the solutio

[2022-11-07 14:47] Niizuki opened #11425 "Default theme"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When installing new version of postman, default theme is white.

### Describe the solution you'd like

Default theme should be "system default", not "white".

### Describe alternatives yo

[2022-11-07 14:52] arlemi commented on #11425
Hey @Niizuki ,

Were you doing a fresh install or updating from a previous version?
If you previously had Postman installed then it likely pulled that setting from there as we do not want to override an existing user setting.

Fresh installs and new accounts will have the theme set to "System Default".

[2022-11-07 15:39] eriknyk commented on #5817
Thank you! @joserubicon

_@antonioacg I don't use MS Teams, but just voted to help._

[2022-11-07 16:06] diptarag commented on #5817
Hey 👋

This is released as part of Postman v10.1.1
I believe some of you already experienced the new option. Within next few days, everyone should be able to use the feature.

![themesync](https://user-images.githubusercontent.com/2277198/200355093-3bfc258b-c71e-40e4-aa3e-8e0e43226498.gif)

[2022-11-07 16:22] matthieudesprez commented on #9794
I'm still having this issue, pretty annoying when you forget to put sunglasses before opening postman.

[2022-11-07 16:38] postman-support commented on #11423
Hello there,

Thank you for raising this issue. I'm happy to help!

To better understand the issue, could you provide the following information?

- Are you encountering this issue in both the Desktop and Web app?
  - If the issue is only on the Desktop App, could you please let me know if you tried to remove the local data to fix the problem?
- What version of Postman are you running?
- What versi