[2022-03-17 07:52] shubhbhargav commented on #10744
@nulLeeKH Looks like the server gave a 5XX (500 Internal Server Error) without a body. Can you check the error on your backend server?

[2022-03-17 08:43] nulLeeKH commented on #10744
Please check the server log.
The request body does not reach to server.

[2022-03-17 09:16] shubhbhargav commented on #10744
@nulLeeKH Can you share the screenshot of Console (bottom left corner) once you send a request? You can follow these steps to do the same:

1. Open Console from the bottom left corner
2. Try sending a request
3. Take the screenshot and share

This will help debug whether the 5XX is happening on the first request itself or afterwards. I checked the same on my end and could verify that the body was

[2022-03-17 10:03] vedkribhu commented on #10716
Thanks for writing to us @still-breathing. Is this happening constantly for you? Is this blocking your workflows?

[2022-03-17 10:21] nulLeeKH commented on #10744
I found the cause!

<img width="278" alt="request to https" src="https://user-images.githubusercontent.com/41930106/158788303-42c4c091-15c0-4513-aaa9-7f19a6a6f501.png">
This is the raw log when I send request with https.

<img width="247" alt="request after 302" src="https://user-images.githubusercontent.com/41930106/158788371-5d286e7c-ed81-4204-bf61-53761fbf80ef.png">
And this is the raw log when

[2022-03-17 10:28] gbersac commented on #2096
Much needed! On an azerty keyboard most shortcut just doesn't work.

[2022-03-17 11:30] Akkarine commented on #7498
It would be a nice feature for private API keys. Copying collections is a unconvinient workaround.

[2022-03-17 12:24] koriit-kontakt opened #10762 "Error opening anything in the collection: TypeError: e.push is not a function"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I cannot open anything in my collection, including the collection itself - the tab breaks and shows Something Went Wrong.

Interestingly only one of my collections is affected but if I open it in a tab, I cannot open anything anymore in that tab.

The only error log I co

[2022-03-17 12:57] cyphercookie opened #10763 "[Incident][Resolved] Postman 9.15.1 shows a blank white screen"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When opening postman no main landing page loads and there is no way to get it to load. I get the bar at the top with all the drop down menu's for Postman but nothing I click on loads the main landing page.

have had to revert to version 6 to get anything to appear on scr

[2022-03-17 13:02] ritikBhandari commented on #10763
Can I resolve this issue if an existing issue is not present?

[2022-03-17 13:07] cyphercookie commented on #10763
what do you mean by "is not present"?

[2022-03-17 13:09] Ghosty-chan commented on #10762
Same here, Updated to v9.15.0 (from v9.14.)

In my case, I've used Variable "on" Variable in one Collection.
Most of my collections use those "dynamic" variable references..

To Reproduce (ScratchPad, but I assume its same behaviour on logged-in):
- Create New Collection
- Open Collection Variables and enter:
  - testvar: {{testvar2}}
- Select next line / new variable... tada' something went wrong

[2022-03-17 13:13] ritikBhandari commented on #10763
I mean if this issue is something which is not similar to any existing one, can i resolve it?
Because if there is a similar one present, then i think there's no need to resolve this separately.

[2022-03-17 13:14] cyphercookie commented on #10763
if that is the case yes. Can you also point me to the issue so I can review?

[2022-03-17 13:18] npu-sword commented on #10762
This problem here

[2022-03-17 13:18] ritikBhandari commented on #10763
Though I didn't find any issue simliar to this one, I'll inform if I find something like this

[2022-03-17 13:30] Rob-Barrow commented on #10762
Same for me - no collections can be opened, all I get on screen is:
**Something Went Wrong
Postman has encountered an error. If this problem persists, contact us at help@postman.com**
I urgently need access to my collections again, which I had this morning... is there a roll-back process we can use?

[2022-03-17 14:32] RalfNaujokat commented on #10762
Bad news is,
postman automatically downloads the 9.15.0 version
and installs it on next start...
You cannot disable minor updates in the settings.

[2022-03-17 15:02] giridharvc7 commented on #10762
Thanks for reporting, We have found the issue and we are raising the hotfix for the same.
Sorry for the inconvenience

[2022-03-17 15:39] arabnejad opened #10764 "Duplicated values for array type fields"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi
When I import the yml file, for some reasons, Postman duplicates the values for array type fields
here is the sample code to reproduce the same issue
[code]

### Steps To Reproduce

1. Open Postman app
2. Select File -> Import
3. Select `Raw text` tab
4. copy/paste th

[2022-03-17 15:46] mminot-yseop commented on #10762
Argl, too bad I saw that after wasting hours scrapping data and reinstalling, and trying the `snap` version.
Also strange that https://dl.pstmn.io/download/version/9.14.0/linux64 works but not the equivalent for v9.14.13 (AFAICT).

[2022-03-17 15:48] krisfromthe80s opened #10765 "Test syntax highlight is wrong in 9.15.0"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Syntax highlighting of Tests changed in 9.15.0. I believe it is a bug and not a feature as it is much worse than before.
Tried 9.15.0 clean install as well, same result.
However, I also tried 9.12.0-canary01 where highlighting works as expected.

### Steps To Reproduce

[2022-03-17 16:46] mrlemki commented on #10762
Same problem for me. Adding more than one variable to a non-workspace collection breaks it.

[2022-03-17 17:00] j0nimost commented on #10760
Sometimes you can have multiple folders within a collection. Duplicating a folder to a different collection just creates a clutter or collections. From my implementation A collection represents a host, folders represent a group of endpoints serving a use case i.e User  management and authentication

[2022-03-17 17:38] matrixzj commented on #8929
+1, please

[2022-03-17 18:41] giridharvc7 commented on #10762
We've raised a hotfix and its available at v9.15.1 , please try and let us know if you face any issues!

[2022-03-17 18:42] janacm commented on #4898
Still waiting for bulk editing environment vars in 2022...

[2022-03-17 18:47] JoseALermaIII commented on #10763
I've got the same on Windows 10 after upgrading:
![Postman9.15.1-Windows10.png](https://user-images.githubusercontent.com/11242372/158873744-45ef0703-e04d-41ac-99c6-dd9a1651d909.png)

I've tried uninstalling, then reinstalling Postman 9.15.1, but it's still the same. I might need to delete application data.

[code]

[2022-03-17 19:00] jshea commented on #10762
It's not working for me. After the update was applied I now get a blank window. I uninstalled, downloaded the 9.15.1 installer, installed and still get a blank window.
![image](https://user-images.githubusercontent.com/2157922/158876479-eaa9b26d-cb37-4ba6-b00c-4cfa8ad831a8.png)

[2022-03-17 19:03] mrlemki commented on #10762
Yeah same for me. 9.15.1 is a blank window.

[2022-03-17 19:09] giridharvc7 commented on #10762
Looking into this right away, looks like this might be related to https://github.com/postmanlabs/postman-app-support/issues/10763

[2022-03-17 19:11] RalfNaujokat commented on #10762
Same here, delete cache and restart does not help

[2022-03-17 19:15] numaanashraf commented on #10762
@RalfNaujokat @mrlemki @mminot-yseop @jshea Could you send us your [app logs](https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs) to help@postman.com? It'll help us triage and resolve this issue fast.

[2022-03-17 19:17] giridharvc7 commented on #10763
@JoseALermaIII @cyphercookie Could you send us your [app logs](https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs) here or to [help@postman.com](mailto:help@postman.com)? It'll help us triage and resolve this issue fast.

[2022-03-17 19:21] giridharvc7 commented on #10763
Also, @JoseALermaIII @cyphercookie are you using scratchpad?

[2022-03-17 19:23] mrlemki commented on #10763
I've sent mine via email with this ticket title in the subject.

[2022-03-17 19:24] RalfNaujokat commented on #10762
done

[2022-03-17 19:32] sparcbr commented on #10763
I've got the same problem, a blank window with only the menus, No option from the menu works.
When postman opens not even the animation loader shows.
I'm running the lastest version on Ubuntu. I downloaded the tgz from postman website.
I've got the following messages when running in the terminal:

❯ ~/Postman/Postman
The disableGPU setting is set to true
Disabling GPU
Setting disableGPU to true
[3

[2022-03-17 19:34] giridharvc7 commented on #10763
@mrlemki @sparcbr Want to quickly confirm if you use just the Scratchpad or do you also sign in to the app

[2022-03-17 19:36] sparcbr commented on #10763
I wasn't logged in, and yesterday it was working. I'm almost certain I didn't install or change anything. It's very weird..

[2022-03-17 19:40] trikstar commented on #8821
Similar problem here...
Just after update postman.

[24948][1647545239109][main][info]["Booting Postman 9.15.1, win32-10.0.18363 on x64"]
[24948][1647545239116][main][info]["EventBus~initialize - Success"]
[24948][1647545239119][main][info]["Proxy configuration has not been setup"]
[24948][1647545239120][main][info]["CloudProxyManager~init - Success"]
[24948][1647545239125][main][info]["UpdateHand

[2022-03-17 19:46] giridharvc7 commented on #10763
We are looking into the issue in priority,  apologies for the inconvenience.
Meanwhile, you can unblock yourself by downloading the 9.14.x. Here are the download links
[Windows](https://dl.pstmn.io/download/version/9.14.0/win64)
[Mac](https://dl.pstmn.io/download/version/9.14.0/osx_64)
[Mac M1](https://dl.pstmn.io/download/version/9.14.0/osx_arm64)
[Linux](https://dl.pstmn.io/download/version/9.14

[2022-03-17 19:47] giridharvc7 commented on #10762
We are looking into the issue in priority, apologies for the inconvenience.
Meanwhile, you can unblock yourself by downloading the 9.14.x. Here are the download links
[Windows](https://dl.pstmn.io/download/version/9.14.0/win64)
[Mac](https://dl.pstmn.io/download/version/9.14.0/osx_64)
[Mac M1](https://dl.pstmn.io/download/version/9.14.0/osx_arm64)
[Linux](https://dl.pstmn.io/download/version/9.14.

[2022-03-17 19:57] inickolay commented on #10763
Have the same issue, just blank screen.

![Снимок экрана 2022-03-17 225236](https://user-images.githubusercontent.com/12606182/158884921-ad9f14c1-e780-4206-a3ab-7dc9d37e6b2c.jpg)

Windows 11 21H2
Postman 9.15.1

[2022-03-17 20:00] giridharvc7 commented on #10763
@inickolay Could you send us your [app logs](https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs) to [help@postman.com](mailto:help@postman.com)? It'll help us triage and resolve this issue fast.

[2022-03-17 20:16] proutek commented on #10763
I have deleted app-9.15.1 folder and postman now starts just fine.
Now I'm on app-9.15.0.

[2022-03-17 20:26] kapakym commented on #2256
Hello. White screen
![image](https://user-images.githubusercontent.com/50634455/158889461-2b34ed0f-379d-48b9-bd8d-45584c0b8e78.png)

[2022-03-17 20:36] giridharvc7 commented on #8821
@trikstar can you share some logs from the dev tools? More specifically from the Current Shell
<img width="507" alt="Screenshot 2022-03-18 at 2 06 09 AM" src="https://user-images.githubusercontent.com/1040583/158890815-b7b75bb1-db49-46d1-8e6e-b04a86519a57.png">
Would be amazing if you can get on a call with us, will really help us debug this quickly.

[2022-03-17 20:37] giridharvc7 commented on #10763
@proutek @inickolay can you share some logs from the dev tools? More specifically from the Current Shell
[](https://user-images.githubusercontent.com/1040583/158890815-b7b75bb1-db49-46d1-8e6e-b04a86519a57.png)
Would be amazing if you can get on a call with us, will really help us debug this quickly.

[2022-03-17 20:38] giridharvc7 commented on #2256
@kapakym Would you be willing to get on a call with us? Would really help us debug the issue deeper

[2022-03-17 20:42] mohan990 commented on #10252
Thank you very much

Thanks brother It's working fine now

[2022-03-17 21:22] JoseALermaIII commented on #10763
Hi @giridharvc7,

No, I don't use ScratchPad - I'm always online and logged in.

I'll work on sending the app logs. Thanks for looking into it!

[2022-03-17 21:24] sparcbr commented on #10763
On current shell there is this on console:
[code]

Current view does'n open anything when I click this option

[2022-03-17 21:29] giridharvc7 commented on #10763
@sparcbr Thank you, this helps a lot. Are you on Windows?

[2022-03-17 21:32] mrlemki commented on #10763
Yes I'm just on the scratchpad.

[2022-03-17 21:33] SimonK1323 commented on #2256
![image](https://user-images.githubusercontent.com/77468460/158898625-b0d8d42f-ef3f-4f27-aa8b-38bdc1239345.png)
same here...cant even close the window :(

[2022-03-17 21:38] sparcbr commented on #10763
Ubuntu 21.10

[2022-03-17 21:46] sparcbr commented on #10763
I changed the shell to clean bash to see if it would make a difference but it didn't.  (I use zsh)

[2022-03-17 22:11] numaanashraf commented on #10763
Hey folks, we've identified the issue and are working on releasing a patch for this in a short while. For now, the recommended solution is to downgrade to the latest 9.14.x version via the links here.

https://github.com/postmanlabs/postman-app-support/issues/10763#issuecomment-1071294592

We'll post further updates here and on https://status.postman.com/incidents/fk7gt91s60vk

[2022-03-17 22:12] numaanashraf commented on #2256
@SimonK1323 @kapakym We've identified the issue and we are tracking it at this issue - https://github.com/postmanlabs/postman-app-support/issues/10763#issuecomment-1071616594

Please follow the other thread for updates.

[2022-03-17 22:57] Alcas1 commented on #10547
You're unable to save these imports which is very annoying. Not sure if this is planned to be addressed but I couldn't find an issue/ticket for this anywhere

[2022-03-18 00:46] numaanashraf commented on #10763
We've released a patch to address the blank screen issue in v9.15.2. Please download & install this latest version from www.postman.com/downloads. Closing this issue.

[2022-03-18 00:47] JoseALermaIII commented on #10763
Upgrading from 9.14.0 to 9.15.2 worked for me.

Thanks for the prompt fix!

[2022-03-18 00:47] numaanashraf commented on #10762
We've released the fix for this issue and the [blank screen issue](https://github.com/postmanlabs/postman-app-support/issues/10763) in v9.15.2. Please download this version from www.postman.com/downloads.

Closing this issue.

[2022-03-18 00:47] #10762 closed, assigned to nobody

[2022-03-18 03:11] codenirvana commented on #10547
@Alcas1 can you please report a [new issue](https://github.com/postmanlabs/postman-app-support/issues/new/choose) with more details?

[2022-03-18 07:10] MyeongHo-Kyeong commented on #2701
+1

[2022-03-18 08:24] qRainBirdp commented on #4977
I got this problem on 9.15.0. I try to export the collection and import it to another PC and no wrong message appears.
Should i reinstall postman？
![1647591826(1)](https://user-images.githubusercontent.com/68057739/158963578-7318bc24-6ecb-4fb4-995e-6236a89103ce.png)

[2022-03-18 08:42] qRainBirdp commented on #4977
I found if i add more than one variable in collection variables, this wrong message will appear.
![1647592853(1)](https://user-images.githubusercontent.com/68057739/158966114-41e5ea4b-59ae-4e14-a727-bcf12de4fe66.png)
If I enter any more character in the second line, something wrong will appear.

[2022-03-18 09:57] DannyDainton commented on #9993
Hey @snsnihit

Is this still an issue for you in the latest version of the platform? If so, could you expand on the information that you have provided to include screenshots and version details, please?

[2022-03-18 10:17] DannyDainton commented on #9994
Hey @andemt

Is this still an issue for you in the latest version? It's tough to know what's happening here based on the provided details and the cropped screenshot of that section of the request - Could you expand on the issue you're facing, please?

There have been some changes since the version you mentioned and different helpers have been added to tell you why you would have duplicate values i

[2022-03-18 10:27] DannyDainton commented on #10247
Hey @nikita-fuchs

Could you please provide the required details for us to triage the issue? If this is no longer an issue for you, we can close this out.

[2022-03-18 10:28] DannyDainton commented on #10320
Hey @pearlp-123

Is this still an issue for you in the latest version of the platform?

[2022-03-18 10:33] arabnejad commented on #10764
@abhijitkane the problem is : if the duplication on values is not valid on our end side / API side, so we will get an error (which is expected) but not for the example scenario which we provide to users for testing
Additionally, `array` variable is already indicated by having `[` and `]` , so, why we need to duplicate the sample data there

[2022-03-18 10:40] DannyDainton commented on #10332
Hey @Dentrax

Is this still an issue for you? From what you have added to a request, it appears to be working correctly.

The URL contains a query param `?filter=(ServiceTags not contains "team=foo")` so the generate code snippet reflects this value.

In order to have the expected response you mentioned, it would need to be added to the request body configuration which also adds the correct header

[2022-03-18 10:43] mnabe commented on #9993
@DannyDainton I am the OP, but experienced the same issue for a long while. I wasn't able to reproduce as of this moment, but lets await others and see, if the problem still exists. Could possibly have been fixed with v9.14 "Fixed a bug where the request tab would show up conflicted when the app is opened" (https://github.com/postmanlabs/postman-app-support/issues/10694). Keen to see if anyone sti

[2022-03-18 10:50] DannyDainton commented on #9993
Thanks for responding and providing those details @mnabe ❤️

[2022-03-18 10:54] Relequestual commented on #10358
Seems to be fixed.
As of, at lest, Web Version 9.15.1-220316-2000

[2022-03-18 10:54] #10358 closed, assigned to nobody

[2022-03-18 11:06] DannyDainton commented on #10427
Hey @klivian

Can you confirm if this is still an issue for you, please?

I'm unable to reproduce this in the latest version of the platform.

<img width="1640" alt="image" src="https://user-images.githubusercontent.com/17089546/158991889-cf4249d7-25ce-4ffd-985e-b66d8fd8e74c.png">

The only way that I would see the `raw` variable on the code snippet is if I'd selected that option in the body:

<im

[2022-03-18 11:12] klivian commented on #10427
Thanks @DannyDainton - can confirm that switching from "raw" to "none" in the body options (radio buttons) solves this issue for cases where the body should be empty. If not, it provides empty-string as input

[2022-03-18 11:14] nikita-fuchs commented on #10247
<img width="1164" alt="image" src="https://user-images.githubusercontent.com/11761828/158992741-9813a8bf-8419-4930-bca7-8cf6eb43a8d7.png">

Hey, sorry for not getting back faster. Not sure if the screenshot adds more clarification or confusion, but to summarise this issue again: The `Axios` library shown here has a _default_ upload size limit of 10MB. This means that the generated code will **fail

[2022-03-18 11:15] DannyDainton commented on #10427
Good to hear, I'm going to close this issue. The default is set to `none` when creating a new request by opening a tab.

[2022-03-18 11:15] #10427 closed, assigned to nobody

[2022-03-18 11:31] DannyDainton commented on #10699
Closing this issue for now.

The `Pre-request Script` which is altering the request headers at runtime (When you hit the Send button), wouldn't appear in the documentation.

[2022-03-18 11:31] #10699 closed, assigned to nobody

[2022-03-18 11:37] DannyDainton commented on #10722
Hey @quaqua / @jan-marten / @RealExtraTomato

Has this now solved the issue you were facing? If so, can we close this out?

[2022-03-18 11:44] DannyDainton commented on #10705
Hey @Zikkq

With the steps that you have provided, we will be unable to reproduce this issue you're facing on our side.

Could you expand on the details and provide steps that we can use to triage the issue, please?

Do you still see the same warning with this setting disabled -  https://github.com/postmanlabs/postman-app-support/issues/6354#issuecomment-937741986

[2022-03-18 11:46] DannyDainton commented on #10610
Hey @OishikGuha

Did the steps provide by @jviotti help you out? If this solved the issue, can we close this out?

[2022-03-18 12:22] jmoppenheim opened #10766 "We've released a patch to address the blank screen issue in v9.15.2. Please download & install this latest version from www.postman.com/downloads. Closing this issue."
We've released a patch to address the blank screen issue in v9.15.2. Please download & install this latest version from www.postman.com/downloads. Closing this issue.

_Originally posted by @numaanashraf in https://github.com/postmanlabs/postman-app-support/issues/10763#issuecomment-1071909372_

Hi guys
Fresh install of Windows 11, fully updated and Postman v9.15.2 still opens a blank white screen

[2022-03-18 12:29] jmoppenheim commented on #10766
Apologies guys, thought I had uninstalled 9.15.1 and replaced with 9.15.2 which I hadn't.
9.15.2 is working on Windows 11 Pro!

[2022-03-18 12:29] #10766 closed, assigned to nobody

[2022-03-18 13:16] kapakym commented on #10763
Thank you, it works!

[2022-03-18 14:19] cyphercookie commented on #10763
I can confirm that the new version has fixed the issue! :)

[2022-03-18 14:51] diegosasw commented on #9149
Having the same issue. Is there any update on this? Any workaround?

[2022-03-18 15:32] DannyDainton commented on #10742
Hey @KES777

There are 2 different places in the app where you can view the version information.

You can go to `Settings (The cog icon) > About`

<img width="1686" alt="image" src="https://user-images.githubusercontent.com/17089546/159031759-75c90aac-d17e-4318-83ca-9c73a2b936c3.png">

Open the `About Postman` option from the apps menu (Windows would show this slightly differently)

<img width="43

[2022-03-18 15:32] #10742 closed, assigned to nobody

[2022-03-18 16:52] KES777 commented on #10742
Thank you, but these are so unusual places...

[2022-03-18 16:56] Dani21 commented on #4594
I ran into a similar issue, and none of the solutions in this thread worked, so I used PowerShell instead.
![Postman with a white blank screen](https://user-images.githubusercontent.com/1804643/159048082-5cf1fcaf-b131-4486-8944-22b55d298147.png)

[2022-03-18 18:04] numaanashraf commented on #4977
@qRainBirdp This was an issue in v9.15.0 which is addressed in 9.15.2. Could you update to the latest version and let us know if you are still facing this issue?

[2022-03-18 18:06] numaanashraf commented on #4594
@Dani21 Looks like you are impacted by https://github.com/postmanlabs/postman-app-support/issues/10763. Could you download the latest version of Postman from postman.com/downloads and see whether the issue is resolved for you?

[2022-03-18 18:45] jan-marten commented on #10722
@DannyDainton - After installing the updated v9.15.1 I could not reproduce it anymore. Thanks.

[2022-03-18 18:52] DannyDainton commented on #10722
Thanks for the response @jan-marten 🏆

I'm going to close this issue now, we can reopen it again if people are still facing issues in the latest version.

[2022-03-18 18:52] #10722 closed, assigned to giridharvc7

[2022-03-18 18:52] Alcas1 opened #10767 "Postman does not support saving gRPC imported files as API Definitions"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Every time postman closes or crashes I need to setup gRPC calls from scratch because it can't be saved when using files with multiple imports.

### Describe the solution you'd like

Multiple file imports should be save-able as an

[2022-03-18 18:57] johns1uphealth opened #10768 "Have "Secret" tagged environment variables NOT sync'd on Postman Cloud"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When using the "Secret" feature to protect user credentials and other private values it seems like these values are still sync'd to the Postman Cloud.  Is it possible to have any variables marked as "Secret" not sync'd to the Clo

[2022-03-18 21:20] Dani21 commented on #4594
Thanks, that was it!

[2022-03-19 11:48] curiosity-hyf opened #10769 ""mutate" not work in method "VariableList.substitute""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

The `mutate` not work in method `VariableList.substitute(obj, overrides, mutate)`.

### Steps To Reproduce

1. Create an `Environment`
<img width="807" alt="image" src="https://user-images.githubusercontent.com/16988840/159119322-3ea2c657-31e7-4f86-9e8d-1b58f599aa2d.png"

[2022-03-19 12:13] DannyDainton commented on #10769
Hey @curiosity-hyf

What's your usecase here?

It's unclear what you're trying to do, could you expand on the details, please?

[2022-03-19 12:40] curiosity-hyf commented on #10769
Hey @DannyDainton
I want to access the full request url which contains the environment variable (Ex `http://{{server}}/{{var1}}/{{var2}}`).
So I try `pm.environment.values.substitute(pm.request.url, null,  false)`. It's works but also changes the origin `pm.request.url`.

[2022-03-19 12:51] DannyDainton commented on #10769
Is this something you could use to access that value:

[code]

https://learning.postman.com/docs/writing-scripts/script-references/postman-sandbox-api-reference/#using-variables-in-scripts

[2022-03-19 13:15] curiosity-hyf commented on #10769
Thank you, it works!

Could update Docs If `mutate` no longer works in method `VariableList.substitute`?

[2022-03-19 13:17] ahmedsayedabdelsalam commented on #8322
+1

[2022-03-19 13:45] DannyDainton commented on #10769
To use the full Collection SDK in the sandbox, you would need to require the module.

https://learning.postman.com/docs/writing-scripts/script-references/postman-sandbox-api-reference/#using-external-libraries

[2022-03-19 13:46] #10769 closed, assigned to nobody

[2022-03-20 05:39] doyard opened #10770 "Cannot remove the broken API data from Private API Network"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Cannot delete a broken API item from Private API Network.

Click The API folder  will recieve an error notification. "Cannot parse the response as json"
The Remove button in the menu of the API folder is disabled and shows a message, "Only Editors of this API can remove

[2022-03-20 07:31] mohammed-atif commented on #5970
Current value used to sync perfectly whenever initial value was changed. This feature seems to be broken in past few releases and apparently the devs messed up. So instead of fixing the bug, bug became feature. Slightly disappointed with this.

[2022-03-20 18:59] Zikkq commented on #10705
Hi @DannyDainton
Yes. I see warning even when SSL verification disabled also I tried to add localgost development certificate to CA certificates and this didn't help too. I don't know what kind of information or steps I can send to you in addition. I've just created simple API using .NET 6.0.2 and hitting localhost endpoints as usual. Here's [link](https://github.com/Zikkq/skinet) to my repo you c

[2022-03-20 19:01] Zikkq commented on #10705
Hello! I’ve just added new comment on this issue

 

 
 
С уважением,
Дмитрий Андреев
***@***.***
 

[2022-03-21 04:16] haile-kaligo commented on #3694
Still waiting... 🙏 🙏 🙏

[2022-03-21 04:26] bhargavkaranam commented on #10770
Hey @chamhaw,

Could you please shoot an email to help@postman.com with the API id that's causing this issue? We'll take a look. You can also just use the Copy link option and forward the link in the email.

[2022-03-21 05:24] giridharvc7 commented on #10713
Closing this as this might have been an intermittent issue

[2022-03-21 05:24] #10713 closed, assigned to postman-staff

[2022-03-21 06:14] snsnihit commented on #9993
Nope this is no longer reproducible on v9.15.2. Seems like it has been fixed.

[2022-03-21 06:14] #9993 closed, assigned to nobody

[2022-03-21 08:25] shashankawasthi88 commented on #10757
1. Yes, create an empty API and connect. The subsequent Pull will allow you to select the schema file from the repo.
2. We are trying to harmonize the flow of importing the APIs while connecting to the repository. So you might not see the exact same import option but the functionality will be provided.
3. Just for the import you could use the import via link that we have today. The repository inte

[2022-03-21 09:26] dempe opened #10771 "Allow user to assign colors to different request types"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Pretty much all database administration tools have the ability to color code certain DB connections for say, prod or staging.  This minimizes the chances that a user will submit an unintentional query.

It would be very nice if P

[2022-03-21 09:32] marcusjroberts commented on #7150
This one is becoming a big issue with us. My engineering team collaborates on workspaces between themselves, but we also need to be able to share specific workspaces with a third-party API developer. We all have paid accounts, just on separate teams, and we're unable to collaborate on a single workspace. Possibly my use case is slightly different but I didn't want to open a new issue, despite the

[2022-03-21 10:04] tainmar commented on #10231
Thank you @Raja-Simha,
Unfortunately, we are getting an error because the objects we manipulate are too deep (12 levels) and you are limiting to 8 levels.
`<Error: Too many levels of nesting to fake this schema>`

[2022-03-21 10:24] pankajkumar005 commented on #7150
@marcusjroberts  As @ArjunSingh-PM mentioned in the previous message, we are working on supporting single user to be part of more than one team. That may solve your use case up to some extent.
As far as "specific workspace being available to different teams" is concerned, we have this in our roadmap and will most likely be available towards the end of the year.

[2022-03-21 12:10] alexandrehtrb commented on #2701
Hello everyone,

After waiting too long for this, I decided to create a program that supports HTTP/2 and HTTP/3:

https://github.com/alexandrehtrb/Pororoca

It has full compatibility with existing Postman collections and environments!

[2022-03-21 13:23] adamkdean commented on #10506
This is a shame. It'd be useful to support streamed responses, otherwise, it can be hard to use postman to test that endpoints work correctly. At this point, curl has to be relied upon to truly test endpoints.

[2022-03-21 13:36] Boyen86 commented on #6682
+1 This is a must have for us

[2022-03-21 15:22] lucianozablocki commented on #5995
still can't do it on 9.15.2 linux x64 version. had to do it by sending multiple keys as above answer suggested

[2022-03-21 17:10] FuzzyDee opened #10772 "Postman display Blank Screen"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I click to open Postman from my Taskbar
expect the postman app to open and load all my collections
Actually displaying blank screen.
when i click the X to close the window it is not closing but when I click __ to minimise the window it does minimise the window.
On the bl

[2022-03-21 18:18] CmdrBeavis commented on #7350
Yeup, _still_ seeing this in `9.15.2`!!!

FACE. PALM.

[2022-03-21 19:21] prajwalraju commented on #6370
+1

[2022-03-21 19:42] jokaorgua commented on #5816
@jviotti any updates ?

[2022-03-21 19:54] deigratia86 commented on #10692
@Harsh-Bansal
I've ran into this issue as well. I have exported my logs and can attach, without combing through every line is there anything I need to scrub from the logs?
Per some of the logs I got request timed out.
So I tried raw text and file as well. So I'm not sure if the timeout would be expected here as well if it's literally sitting in postman.

Also to note:
I tried importing and attempt

[2022-03-21 20:24] 5thdimensional commented on #9142
@raghumurthy-jayandran I've re-tagged this for api-design since the issue relates to validation

[2022-03-21 20:37] byrdman commented on #10692
Somehow I missed the original reply, I'll get some logs pulled together.  The collections are indeed large.  I wouldn't say the "error" pops up immediately, say, within a couple of minutes of asking it to import probably.  And then a minute or so later the collection shows up imported.

I can also say I've had the behavior of when I delete, it deletes and then reappears (I think I've logged a seco

[2022-03-21 20:50] jkdba commented on #10641
@shubhbhargav  I updated to Postman 9.15.2 and I cannot reproduce the problem anymore.

[2022-03-21 20:52] byrdman commented on #10692
Here's what's in the log when the import throws the failure message:
`
[1280][1647895667637][requester][info]["SyncWindowService~Sync is disabled"]
[1280][1647895673988][requester][error]["CollectionInterfaceV2~createCollection - Error: ",{"error":{"name":"serverError","message":"Something went wrong with the server","details":"ESOCKETTIMEDOUT","source":"downstream"},"status":500,"headers":{}}]
[1

[2022-03-21 21:39] joe-highnote opened #10773 "GraphQL schema auto-fetch fails if auth set to "Inherit auth from parent""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

GraphQL schema auto-fetch fails if auth set to `Inherit auth from parent`. Setting auth to `Basic` on the request itself allows auto-fetch to work as expected.

### Steps To Reproduce

1. Configure parent with auth for child requests
2. Create child GraphQL request and s

[2022-03-22 05:04] shubhbhargav commented on #10641
Thanks for the confirmation @jkdba. Closing this ticket as of now.

[2022-03-22 05:04] #10641 closed, assigned to nobody

[2022-03-22 08:09] AnteWall commented on #10569
I can confirm I have the same issues with our private API:s that is running multiple services on one server

[2022-03-22 10:24] umeshp7 commented on #10726
@johnhiggs There are two "type" at the same level. You need to put the properties of that array element into an "item" as well.  Something like this:

[code]
Can you try this and let us know if it works?

[2022-03-22 10:40] Gragx commented on #6682
+1 this would be incredibly helpful with some SSE trouble I am currently facing

[2022-03-22 11:26] SimonCigoj commented on #8747
same for me ... stil the same problem, I have not found a workaround

[2022-03-22 12:27] garethjenkins commented on #7083
+1 for this... would be a massive help for our wider rollout of Postman

[2022-03-22 12:39] KBulmer commented on #10340
Issue was fixed in v9.15.0. I just updated to v9.15.3 and the issue is back.

[2022-03-22 13:31] akshaytate commented on #10682
Hi @fires3as0n , thanks for bringing this issue to light.

As of Postman v9.14.8, we have disabled showing the release notes notification for app updates.

Please feel free to reach out in case of any issues / concerns.

[2022-03-22 13:31] #10682 closed, assigned to numaanashraf

[2022-03-22 13:33] danielbraeutigam commented on #5342
This would be very helpful, any news on this?

[2022-03-22 13:34] thedude4ever commented on #8800
hello, when I uncheck the "Host" auto-generated header, it keeps on being check again. This happens only when I use a variable for endpoint

![image](https://user-images.githubusercontent.com/83371417/159493269-7bdf9ae6-19c4-4db5-a818-ebe98f91e664.png)
![image](https://user-images.githubusercontent.com/83371417/159493664-db638b03-998c-45ee-92f2-49a5a880942f.png)

[2022-03-22 13:40] thedude4ever opened #10774 ""Host" auto-generated heade keeps on being check again"
hello, when I uncheck the "Host" auto-generated header, it keeps on being check again. This happens only when I use a variable for endpoint, could you please give me some help? thanks a lot

![image](https://user-images.githubusercontent.com/83371417/159493269-7bdf9ae6-19c4-4db5-a818-ebe98f91e664.png)
![image](https://user-images.githubusercontent.com/83371417/159493664-db638b03-998c-45ee-92f2-49a

[2022-03-22 13:44] DannyDainton commented on #10774
Hey @thedude4ever

Can you also please provide the Steps to Reproduce the issue and the Environment details.

[2022-03-22 13:44] #10774 closed, assigned to nobody

[2022-03-22 13:45] thedude4ever commented on #10774
$ should be removed, closed

[2022-03-22 14:25] DannyDainton commented on #9501
Hey @silverbullettruck2001,

Is this still an issue for you?

[2022-03-22 14:42] mikalai-okun commented on #6681
Very much-needed feature!

[2022-03-22 17:07] ThaDaVos commented on #6682
I just unsubscribed because of all the `+1` spams and no longer using Postman

[2022-03-22 17:31] #10754 closed, assigned to postman-staff

[2022-03-22 17:31] #10702 closed, assigned to postman-staff

[2022-03-22 17:42] DannyDainton commented on #10773
Hey @joe-highnote

Thanks for raising the issue 🏆 , I've been able to reproduce the problem on my side.

We'll update the thread with any additional information once we have some to share. 🙏🏻

[2022-03-22 19:02] justneedham commented on #6681
+1. My company has been trialing Postman and we want to share documentation across the entire company. We have lots of technical users. Scientists and technicians who need to view documentation but aren't engineers and won't be building/contributing. There needs to be a way to share documentation to them as a private consumer but not a producer. Either this or Postman needs to implement a "viewer"

[2022-03-22 21:03] jorgemuza opened #10775 "Feature Request - Add support for multiple values (dropdown list) for environment variables"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In the Environments section whenever each variable can only have ONE value at a time, it would be cool to have an option to either have a single value or a dropdown list of values, that way you can define multiple test scenarios

[2022-03-22 21:29] lxop commented on #9033
Even without using the JWT to determine which bits of the schema to return, this would be very useful - in our case all calls need to be authenticated, so loading the schema just fails. This just looks like a bug at the moment, since all the other headers appear to be sent.

[2022-03-23 05:17] skatikia opened #10776 "Example message generation when OneOf statement is used creates unnecessary items"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Default Request generated is messy in case of OneOf member of Protobuf that has long list of OneOf (all gets created in the json, which is not actually required)

### Steps To Reproduce

Received this feedback from an external user through the feedback form. But I'm gues

[2022-03-23 05:40] Raj-postman commented on #9611
@DannyDainton Haven't received any reports on this and it looks like this edge case has been addressed in the latest versions.

[2022-03-23 05:40] #9611 closed, assigned to charlie-postman

[2022-03-23 05:43] Raj-postman opened #10777 "Better handling of Auto-completion in Windows for Postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The auto suggestion prompt in Windows do not apply/wor as expected in Postman.

![image](https://user-images.githubusercontent.com/47771757/159630982-35718e92-4abd-42fc-b8de-5c0b8cbaa343.png)

Issue:

https://user-images.githubus

[2022-03-23 06:49] malvikach commented on #9862
Hi @andersonjackc @der-kommissar sorry about the experience. This can certainly be confusing and we would love to fix this issue.

I tried running the collection you shared a few times and I am unable to reproduce the issue.
Would you try this once on the latest app version 9.15 and let us know if you are still seeing this.

[2022-03-23 07:14] Raj-postman opened #10778 "Application doesn't work on Windows Server 2016"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Unable to use the Postman application, as the app is stuck/ white on the load screen. Issue persists from v.9.3.1 version.

Steps tried so far:
- Disabling GPU, hardware acceleration.
- Clear cache.
- Clear all processes via Task manager
- Tried Postman canary

### Steps

[2022-03-23 07:36] VaishnaviChallaPostman opened #10779 "Persist Collection Run delays"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Delay for bulk runs can be added via the runner UI, but it introduces friction as the delay should be added every time the collection/folder is run.
![image](https://user-images.githubusercontent.com/76939396/159646343-3e73719b-e

[2022-03-23 09:28] ljgww commented on #8709
since raw JSON is essentially (looking it as whole) in essence a string type. Hence {{xxx}} is drop in replacement. javascript being functional galore, I would say that

In this sense I would rather like to see something like custom user reformatting function (decorater), for example

{{my_function('xxx')}}

where I could define such transforming functions in some javascript slot in request part.

[2022-03-23 09:56] andre-dasilva commented on #8950
any updates on this issue? currently its not possible to update a manually imported api

[2022-03-23 10:15] alexstanhopesbg commented on #2773
I totally understand that the Postman team have limited resource, but I'd like to underscore previous comments that this is not fixed.  By moving between tests and editing them, I end up with an array of tabs (dozens).  Eventually I have some with unsaved changes, some duplicates, some renamed and now in conflict.  It's a mess.  Completely happy to accept it's just me, but from what I read here, i

[2022-03-23 10:52] mdjorov opened #10780 "Cannot import OpenAPI(swagger.json) v.3.0.1 generated by .Net5 Web API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I'm trying to import JSON file generated by swagger / .net5 web api. I've tried to import it as file, as raw text and as a link. But I'm receiving an error: Format not recognized. No modifications are made in the file.
I'm adding the json file as TXT because JSON extensi

[2022-03-23 13:11] umeshp7 commented on #3893
Thanks for the feedback and this feature request. I am happy to let you know that we will be soon adding support for this.

Please let us know your preference on httr vs curl for r. We have started working on both. And it would be great to know which one is more popular or commonly used in the industry.

You can follow the progress here: https://github.com/postmanlabs/postman-code-generators/issue

[2022-03-23 13:15] umeshp7 commented on #2968
We'll be soon adding this support. You can track the progress here: https://github.com/postmanlabs/postman-code-generators/issues/347

[2022-03-23 15:46] mlabarca commented on #10384
Will this be picked up? it's still an issue for me to not be able to toggle visibility for some endpoints with postman docs.

[2022-03-23 17:54] jessp01 opened #10781 "Postman binaries aren't stipped"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi all,

I've downloaded Postman from https://dl.pstmn.io/download/latest/linux64.
None of the binary files (SOs and the main `postman` executable) are stripped:
`$ file postman Postman libEGL.so libffmpeg.so libvk_swiftshader.so libvulkan.so.1 `

[code]

Generally speak

[2022-03-23 17:58] MitchellGrelson commented on #7221
@arlemi I have the same issue as above, here's a screenshot of the console:
![image](https://user-images.githubusercontent.com/83843674/159765185-6834b1d2-9fc9-4d5c-9e80-6cc6fa6b22c5.png)

[2022-03-23 18:22] ysidarenka commented on #4079
+100 :)

[2022-03-23 19:03] jviotti commented on #10781
Thanks for reporting this @jessp01 ! We'll get into it soon. This hopefully reduces the package size a bit.

[2022-03-23 19:08] numaanashraf commented on #10772
Duplicate of #10763

[2022-03-23 19:08] #10772 closed, assigned to nobody

[2022-03-23 19:20] littlekath25 commented on #3684
My team would also really appreciate if this feature gets implemented :)

[2022-03-23 21:32] jessp01 commented on #10781
Hi @jviotti ,

It would, yes:)
Before stripping:

20K	Postman
236K	libEGL.so
2.9M	libffmpeg.so
4.0M	libvk_swiftshader.so
4.3M	libvulkan.so.1

After stripping:

20K	Postman
228K	libEGL.so
2.8M	libffmpeg.so
4.0M	libvk_swiftshader.so
464K	libvulkan.so.1

Cheers,

[2022-03-23 21:52] abhijeetborole commented on #9409
@folbo Thanks for reporting the issue. Could you please share the steps you're taking/a dummy configuration which would help us reproduce the issue on our end? Could you also share the console logs as it would help us identify the issue.

[2022-03-23 21:57] nirapavan commented on #6899
@kamalaknn - Is the escape characters issue resolved in Postman? Referring to the [DOLPHYNNNN] screenshots. Looks like it still persists in the latest release v9.15.2.

[2022-03-23 23:13] maclermo commented on #6999
Agreed ! I would like to be able to skip updates altogether.

[2022-03-24 01:48] hsjoshi28 opened #10782 "Auto Save before hitting a URL"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Not exactly, but an auto-save after some time or maybe before hitting the send button auto-save

### Describe the solution you'd like

It should prompt for Auto-save before hitting the URL and before exporting too.
It should save

[2022-03-24 04:46] shubhbhargav commented on #10744
@nulLeeKH Just to be on the same page, do you mean the redirected call is NOT sending the Content-Length from Postman? If yes, can you please share the console logs generated when you make this call?

[2022-03-24 07:53] kamalaknn commented on #6899
Hey @nirapavan we are not able to reproduce the issue from our end.

![Screenshot 2022-03-24 at 1 21 58 PM](https://user-images.githubusercontent.com/8401064/159868233-97d4c51a-fce6-4513-aa53-9e91d3627c62.png)
![Screenshot 2022-03-24 at 1 22 03 PM](https://user-images.githubusercontent.com/8401064/159868247-fc0c5e33-0a6a-4ca9-b477-b38ba4b482ee.png)

Could you share screenshots of your raw and pret

[2022-03-24 08:11] 1bitphoenix commented on #10449
As mentioned above, this is an issue with snaps and exists for other snap apps as well. There’s nothing much that Postman can do here. Therefore closing the issue.

[2022-03-24 08:59] #10741 closed, assigned to nobody

[2022-03-24 09:03] philmh-isams commented on #9830
Here. Here. Our API is large and it's only going to get bigger.

[2022-03-24 09:30] Jannik-JungDMS opened #10783 "Odata call returns sometimes wrong Response and disappeared requets"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Sometimes, requests via an Odata interface return completely different values than expected. After a restart, the expected values are available when the request is executed again.
The error only occurs with Postman, when executed via our web app the expected values are r

[2022-03-24 10:18] msimko81 commented on #7606
This still reproduces on 7.36.5 (latest/stable snap version).

[2022-03-24 11:09] nirapavan commented on #6899
![image](https://user-images.githubusercontent.com/102260882/159903916-20d33ae3-687c-435f-a6d6-29b8c32e67d1.png)
![image](https://user-images.githubusercontent.com/102260882/159903987-9674c7b4-9b10-4279-a1ac-53da4a07654f.png)

[2022-03-24 11:44] kamalaknn commented on #6899
@nirapavan The issue raised by the original author on this thread is related to how `\/` slashes were not escaped correctly. I do not see this happening in your case.

I do see that you have `"` quotes within your strings in the JSON response, which is escaped as `\"`. Is this what you were referring to? if not, can you help me understand the issue you are seeing?

[2022-03-24 12:33] giridharvc7 commented on #10718
@SchmidtWebmedia We've raised a fix for this, and this should be solved now in v9.15.2+ , can you please check and let us know if it works for you?
Feel free to reopen this ticket if not.

[2022-03-24 12:33] #10718 closed, assigned to nobody

[2022-03-24 12:38] giridharvc7 commented on #10743
Apologies for the delayed reply on this.
Can you share some logs from the developer console?

[2022-03-24 12:39] nirapavan commented on #6899
I know it is a different post. But it is related to the escape character for the quotes. If you have any other related post, I can update there. The issue is with the quote with the escape character in the xml when rendered to the response. I saw other posts too, but saw them as closed with no resolution. Hope this helps.

[2022-03-24 12:53] p1zz4br0etch3n opened #10784 "Add setting to switch tabs in most recent used order with ctrl (+ shift) + tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I usually want to switch between recently used requests if I need to make multiple requests to test my API. The tabs aren't always next to each other, so the current behaviour of ctrl (+ shift) + tab isn't really helpful.

### De

[2022-03-24 13:49] cloudworkpro-sean commented on #6452
Postman is a great product but this seems like a miss in the security strategy. MFA/2FA is standard in most modern services, particularly those that support software development. I agree with @romualdr in that this feature should be available to all plan levels.

Thanks!

[2022-03-24 14:05] schonhoff opened #10785 "German umlauts in OpenApi schema not pulled correctly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hello,

I have a git repository with an OpenApi schema and synced it with postman. It works fine but after I added german umlauts in the schema  (Ä, Ö, Ü) it doesn't work anymore. After I pulled the new changes in Postman the changes where shown as:
```pattern: '[A-ZÃÃ

[2022-03-24 14:11] pmalecka opened #10786 "Saving a response as example reverts changes done to the request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When making a change to an existing request (e.g. body, path, headers, etc.) and then calling the request and saving the response as example - changes to the request are reverted.

### Steps To Reproduce

1. Open an existing request in a collection (created by duplicatin

[2022-03-24 14:33] eugeniuszG commented on #10786
I can not create documentation because of this bug. Wtf guys!

[2022-03-24 15:01] shikhartiwari96 commented on #3694
what are we?
Developers
What do we want?
A simple send button on examples

[2022-03-24 15:11] Ian1971 commented on #3694
when do we want it?
Oct 30, 2017

[2022-03-24 15:21] gustavorps commented on #3694
![image](https://user-images.githubusercontent.com/516827/159950345-0082b7da-b8a7-4a28-9b8c-a9161d2dc077.png)

[2022-03-24 15:36] moschenkovpropellerads commented on #9409
@abhijeetborole confirm the issue
Even if "Client Verifier" is blank
<img width="595" alt="Screenshot 2022-03-24 at 18 31 39" src="https://user-images.githubusercontent.com/89989197/159953139-c5aedd96-e6bf-4723-be2c-bd2c57e517df.png">
<img width="359" alt="Screenshot 2022-03-24 at 18 28 57" src="https://user-images.githubusercontent.com/89989197/159953182-fec2a9fe-3f84-40fd-9bb6-aa5c9d83555d.png">

[2022-03-24 15:50] areliBam opened #10787 "Monitor doesn't work properly when inheriting authorization credentials from the collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I have a collection with a monitor. When the credentials are set at the collection level, and the requests inherit the credentials, the requests get a 200 response, but digging into the API side, it looked like the credentials were not working. I changed this so that the

[2022-03-24 17:31] Alcas1 commented on #7179
This definitely seems like a bug, programatic usage of environment variables is very common. Not sure why this bug is still here

[2022-03-24 18:40] giridharvc7 commented on #10786
@eugeniuszG @pmalecka Thanks for reporting this, We are looking into this right now. Will keep you posted.

Can you confirm if this is just a UI Bug, meaning, if you are using the web, refreshing the browser tab fixes this and on the app, if you close and open it fixes this.

[2022-03-24 20:30] GNUGradyn opened #10788 "Postman proxy forwards requests to localhost but does not save them"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When enabling the proxy in postman and intercepting a request to localhost, the request will be forwarded to localhost, but it will not be displayed in the capture.

### Steps To Reproduce

1. Click "Capture Requests" in the bottom right
2. Click "Enable Proxy"
3. Add th

[2022-03-24 20:35] msmigiel commented on #6347
This was fixed in 9.15.0 but is no longer working in 9.15.3. This issue looks related and it's also reported there that it has regressed. https://github.com/postmanlabs/postman-app-support/issues/10340

[2022-03-24 20:57] fstugren commented on #10743
I attached the logs. The last entry in the logs is "Error: Authentication window was closed." - that's because I have to eventually cancel to dismiss the modal authentication popup.

Only the method which uses a custom reply URL generates logs. If I use the "Authorize using browser" method, nothing appears in the console window. (However, the latter method is the only one that actually gives me a

[2022-03-24 21:10] fstugren commented on #10743
I just updated to version 9.15.2 and the behavior has changed.

- Method 1 (using a custom reply URL) succeeded - which is great. the Authentication popup dismisses itself in 5 seconds and the token is presented with the "Use Token" button available.
- Method 2 (Authorize using browser) still does not complete. The difference is that before the update the browser always landed on the URL **https:/

[2022-03-24 23:21] LuanRLima commented on #10715
I have an environment variable named price, with the product code passed by the body, I get it in the pre request and I have a switch case to set the product value in the variable of ambient, but when I give the return in the body using this variable it only updates the value update, but I'm using the mocke server it doesn't update the initial value is there any way to solve this

[2022-03-25 04:24] sebastian-fredriksson-bernholtz commented on #2773
I've recently come back to Postman because of shared work collections after years of using Insomnia. The main reason for switching to Insomnia was for how easy it is to work with. No tabs, no manual save. Just focus on what you need to do. Like I think Postman used to be when I started using it many years ago when it was still a Chrome app.

I think the scripting/test support is a lot more user fr

[2022-03-25 05:24] wessRay opened #10789 "Document generated code snippet missing Authorization header"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Generating code snippet of the request in POSTMAN APP is as expected, the header "Authorization" is generated correctly.

But if the API is published as documentation, it is not showing the header when generate the curl command.
You may refer to the following screenshot,

[2022-03-25 05:25] shashankawasthi88 commented on #10788
@GNUGradyn Thanks for raising this. The team is working on this and shall revert to the thread soon.

[2022-03-25 05:26] giridharvc7 commented on #10782
Duplicate of #8195

[2022-03-25 05:26] #10782 closed, assigned to nobody

[2022-03-25 05:36] webholik commented on #10689
Hi @NEXUS2345, this bug was fixed in Postman `v9.14.11`. Can you update your Postman app or try it in Postman Web and confirm?

[2022-03-25 06:04] webholik commented on #10020
Hey @JAELatDHI, According to curl docs, for the data you are sending with the request i.e. `{}` there is no difference between using `--data-raw` or `--data`.

 Since your request body doesn't contain the `@` character, the resulting request *should* be exactly the same. The fact that this is not happening hints that the problem is either with `curl` or `IUCLID` server, and not with the generated

[2022-03-25 06:04] #10020 closed, assigned to webholik

[2022-03-25 07:05] RaisinTen commented on #10449
As asked by @1bitphoenix, I'm closing this issue:

[2022-03-25 07:05] #10449 closed, assigned to nobody

[2022-03-25 08:25] aishanibhalla commented on #4598
Seeing the same import issue with swagger.json, is there a fix for this yet?

Imported
 "/api/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/v2"

Expected
 "/api/subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroupName}}/v2"

Actual:
 "/api/subscriptions/:subscriptionId/resourceGroups/:resourceGroupName/v2"

Postman for Windows
Version 9.14.13
UI Version 9.14.13-ui-22

[2022-03-25 09:27] krearthur commented on #10715
Hi @Dhembla , sorry for the late response, I must have skipped the notification somehow.
My use case was the following: I wanted to mock the creation of new ids each time a request was sent. So I wanted to increment the env variable each time so I get new Ids each time.
In the mean time I found a good workaround: I just use the built-in $timestamp variable, which always gives a new number.
I would

[2022-03-25 10:25] fadighattas100 commented on #4090
syncing not working properly, taking forever and it's finish and not sync everything !!!! and you can't do anything !!!

[2022-03-25 11:04] Gibbo3771 commented on #10477
On version 9.15.5 here. My requests don't even save fully, the **Tests**/**Params** tabs just have an indefinite orange dot. Is this related?

[2022-03-25 11:17] kamaraju-p commented on #10477
Hi @Gibbo3771, thanks for reaching out. I don't think this is related but just to confirm can you please attach a screenshot of the issue.

[2022-03-25 11:32] pmalecka commented on #10786
Seems to be just a UI bug, when I close postman and reopen (after step 6.), correct values are presented.

I got a silent update to 9.15.5, and I cannot replicate this anymore, did you release fix already?

[2022-03-25 11:50] tkltsague opened #10790 "Inject attribute value in body post request using global environment variables, but it not work on postman 9.15.2"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Inject attribut  value in body post request using global environnment variables, but it not work on postman 9.15.2

### Steps To Reproduce

Use global environnment virable to inject attribut value in request body.
exceute the request and inspect the request body.

### Sc

[2022-03-25 12:06] DannyDainton commented on #10790
Hey @tkltsague

Can you please provide the script that you're using to do this and some screenshots or a short video showing the issue.

[2022-03-25 13:49] DannyDainton commented on #10787
Hey @areliBam

I'm unable to recreate this issue, the basic auth that I've set at the collection level is being used correctly. Are you able to share more details or images of the failure that you're seeing?

Is there are logging that you have showing that the value is not getting passed to your API?

You could add something like `console.log(pm.request)` to the `Tests` section of your request to

[2022-03-25 14:31] timbochamp commented on #10786
@pmalecka thanks for confirming. We were seeing the same after closing/reopening the app or the browser tab in Postman for Web.

Yes, the fix should be in place as of v9.15.5!

[2022-03-25 14:31] #10786 closed, assigned to nobody

[2022-03-25 14:32] pmalecka commented on #10786
You guys are fast, thank you!

[2022-03-25 15:57] codenirvana commented on #10569
Hey everyone, can someone share a scaled-down server (or an example Protobuf) that we can use to reproduce this issue?

[2022-03-25 16:08] pc2459 commented on #10569
I'll whip up a demo server this weekend, but all it really takes is adding a second service, however minimal, to any gRPC server.

[2022-03-25 16:11] aphostrophy commented on #3518
I'm having the same issue on postman v9.15.2. The workaround I got was using 127.0.0.1 instead of localhost and it sets the cookie correctly according to the set cookie header. The problem is, it still doesn't automatically add Cookie to my requests headers so I still need to use a workaround using environment variables.

[2022-03-25 16:28] Breefield commented on #10569
Oh, this works in Wombat!

[2022-03-25 16:48] KSCooke commented on #10790
@DannyDainton I believe I am having the same issue.

Essentially this auth process had been working before the latest Chrome update. Post update the environment variables being passed to the collection are being read as strings as you can see in the console at the bottom of the window. If I replace the variables with their values they work correctly. I can also hover over the variables and see tha

[2022-03-25 16:57] KSCooke commented on #10790
Sure I'll do that now.

[2022-03-25 17:07] DannyDainton commented on #10783
Hey @Jannik-JungDMS

Are you able to provide more details about the issue please, this will help us try to reproduce the problem.

[2022-03-25 17:10] EvertonSA opened #10791 "Only some collections are loaded"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Collections will not load on a desktop client and canary client.

Some collections are sucessfully loaded, but there are a lot of collections missing.

it supposed to have more than 30 collections but it only show less than 10

!

[2022-03-25 17:20] DannyDainton commented on #10780
Hey @mdjorov

The file doesn't include a `version` so it looks like it's failing to import.

Adding something like this to the file will allow it to be imported.

[code]

<img width="948" alt="image" src="https://user-images.githubusercontent.com/17089546/160170129-62ef93e8-1f18-4f38-92b8-46e10d296ec8.png">

[2022-03-25 17:29] DannyDainton commented on #10771
Closing this as it looks like a duplicate of this issue https://github.com/postmanlabs/postman-app-support/issues/8260

[2022-03-25 17:29] #10771 closed, assigned to nobody

[2022-03-25 17:48] KSCooke opened #10792 "Environment variables not merging into collection requests"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Environment variables not working correctly in current version. Known working collections are suddenly not able to read environment variables after a recent update of Chrome. This problem seems to persist across all of my collect

[2022-03-25 18:19] KSCooke commented on #10792
I don't seem to be having this issue any longer. The application seems to be merging the variables in correctly and making the authentication calls.

[2022-03-25 18:19] #10792 closed, assigned to giridharvc7

[2022-03-25 19:05] Greeley commented on #9469
I'd like to see this feature as well. Along with the use cases provided above, opening multiple requests into the workspace at the same time would be quite helpful.

[2022-03-25 21:49] keithboone opened #10793 "I want to be able to write tests to verify FAILURES in a GET/POST request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When a GET or POST fails due to an underlying HTTPS protocol problem (cipher suite issue, TLS Version Issue, Certificate failure)
I want to be able to report on cases of correct behavior.

For example, for a site that limits itse

[2022-03-25 23:01] msshahanshah commented on #4818
This would be a really helpful feature, can't understand why this has not been implemented since the original request is from 2018!!

[2022-03-26 00:34] EvertonSA commented on #10791
the issue seems to be resolved. But it would be great to know if there was some instability in the backend

[2022-03-26 00:34] #10791 closed, assigned to postman-staff

[2022-03-26 04:56] sanudatta11 commented on #2847
This is implemented or Still OPEN from 2017?

[2022-03-26 15:01] myViseu commented on #9488
In a secure working environment without access to internet is completely impossible to connect to the internet.
Also is completely impossible to work with Postman with this annoying banner.
Please remove it!

[2022-03-26 15:41] tkltsague commented on #10790
After more investigation I saw the same variable in  collection scope with empty value. some body created it manually end forget you clean before save collection, After this there is not possible to inject value when using the same variable name  with global scope.

[2022-03-26 15:42] #10790 closed, assigned to nobody

[2022-03-28 00:41] srmn-ict opened #10794 "the request was triggered by a authorization helper"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello Team, Our application is authenticated via AzureB2C which send a verification code to mail after login and then coping it to the B2C to login to the application. In postman native app we are getting the bearer token with Gr

[2022-03-28 05:30] umeshp7 commented on #4598
@natepappenhagen Thanks for the suggestion for an "option" for this. Seems like that would be the way to go about this, as the way path params/variables are used in postman is different for every user.

Here is an earlier comment explaining our rationale behind this: https://github.com/postmanlabs/postman-app-support/issues/4598#issuecomment-635804180
We will be digging deep into this and see if t

[2022-03-28 06:06] postman-support commented on #10791
Hi hello,

Thank you for writing in!
We are sorry for the inconvenience that you have faced with our application.

We have received similar reports on this over the weekend and our engineering team has deployed a possible fix for the issue you had experienced.

Can you please check to see if you still encounter the reported issue?

You will need to revisit the workspace where the data (collection

[2022-03-28 09:22] christianseel commented on #9877
The "generation of documentation" is still only supporting OpenAPI 3.0, not 3.1. Is that correct? https://learning.postman.com/docs/publishing-your-api/documenting-your-api/#generating-api-documentation

We tested it and the UI is showing a warning "Documentation for the current API specification format is not supported.".

[2022-03-28 10:05] diyaeninan commented on #10678
Hi @juan-belmonte, this issue has been fixed in v9.15.4

[2022-03-28 10:05] #10678 closed, assigned to nobody

[2022-03-28 10:44] aditanase commented on #10569
I managed to reproduce with 2 very simple service definitions:

`greeter.proto`
[code]

`greeter_v2.proto`
[code]

Nothing fancy about the server
[code]

Top of mind this looks like a conflict on method names, maybe they are not scoped correctly by package?

[2022-03-28 11:16] codenirvana commented on #10569
@aditanase Thanks for sharing this, identified the issue in resolving package names.

We'll fix this as soon as possible and update this thread.

[2022-03-28 12:26] smithonlineg commented on #10684
https://user-images.githubusercontent.com/95380158/160397496-b6116032-81ef-4609-abae-8a902bbdbd68.mp4

Here's a video of it happening.

[2022-03-28 12:42] GalTidhar-Deliverr commented on #3418
@arlemi this simply works!! completely don't understand why it's not something automatic that the postman should offer while generating the collection, it has a place to define environments, just put it there and connect accordingly, anyhow the solution above is remarkable and works simple and efficient.
just in case it's not completely clear to anyone reading in the future

1. Generate a collecti

[2022-03-28 12:48] shashankawasthi88 commented on #10788
@GNUGradyn this should be fixed now. Can you restart your app once and try the same flow. I'll close the ticket for now. Feel free to open if it does not work for you.

[2022-03-28 12:48] #10788 closed, assigned to shashankawasthi88

[2022-03-28 13:34] machielvisser commented on #4977
I encounter still the same problem after updating to 9.15.2.

[2022-03-28 14:33] DannyDainton commented on #9996
Hey @VoloBro

I'm going to close this issue based on no recent activity, we can open it up again if you're still facing the issue.

[2022-03-28 14:33] #9996 closed, assigned to nobody

[2022-03-28 14:55] Hackmodford commented on #2773
Came here looking for a way to disable tabs.

[2022-03-28 15:36] areliBam commented on #10787
Hi @DannyDainton!

I don't have the logging anymore from when this wasn't working but I do have some extra details. In my collection, I'm modifying the way that the requests are being called, so instead of doing so sequentially, the next request is being set depending on the data received by the monitor.

My first request is an Echo, so I can route based on the data. The next request originally in

[2022-03-28 15:44] numaanashraf opened #10795 "[Incident] Something went wrong error in v9.15.7"
We are investigating elevated reports of Postman for Desktop apps v9.15.7 intermittently crashing with 'Something went wrong' error.

We've paused the rollout of v9.15.7 version, while we investigate this further. If you are impacted by this issue, follow the steps below to revert your app to the last known stable version (v9.15.6)

1. Go to 'Help' menu
2. Click on 'Clear Cache and Reload'

Ongoin

[2022-03-28 15:48] GeorgeExplorer commented on #10648
Hello everyone!
I have the same trouble. When i'm trying to import a WSDL file, i get this error.

### Environment Information
[code]

[2022-03-28 16:54] IanKemp commented on #5456
The fact that this was ever closed boggles the mind.

[2022-03-28 16:57] ankit-m opened #10796 "Searching for a collection shows "Couldn't find this workspace""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am trying to search for a collection (particularly for Google Calendar) the public API network. However, when I search using Universal search and click on the first result, it shows an error state named "Couldn't find this work

[2022-03-28 17:04] ankit-m commented on #10796
Update: This collection was in "My workspace" and I had forgotten about it. I would expect Postman to switch to that workspace instead of showing an error.

[2022-03-28 22:13] gh-abhicha opened #10797 "gRPC : Allow Save for the requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Allow the ability to Save requests ( and even group them ) and share them with others.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-29 02:28] harshit-raj commented on #7254
+1 definitely a very important required feature

[2022-03-29 10:29] w4dd325 opened #10798 "Console infinate loop stops menu working"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When submitting calls, the console log flashes at the bottom of the screen, it appears to be some sort of infinite loop. While the screen flashes at the bottom, the ... menu option for collections cannot be clicked (also noticed

[2022-03-29 10:59] emcodem commented on #4079
+1

[2022-03-29 11:05] olddustysocksunderthecouch commented on #10795
The only way I was able to resolve this issue on mac was by:
1. deleting my existing (but broken) Postman app,
2. downloading an older version via this link https://dl.pstmn.io/download/version/9.14.0/osx64.
3. You may need to remove local cache if it's still not working after steps 1 and 2. [See instructions here](https://support.postman.com/hc/en-us/articles/4410785125271-How-to-remove-local-dat

[2022-03-29 12:36] nishakazmi12 opened #10799 "Sending a file in the body"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I am trying the upload a file to our server. I send the request and the file is uploaded properly, but after some days probably 4 - 5 onwards when I send the same request it shows me a 500 Internal Server "Incorrect Content-Type:

[2022-03-29 13:52] akshaybhalotia commented on #2847
Does adding a +1 help here?

[2022-03-29 15:20] markman641 commented on #8480
How is this not a thing?
So everyone who needs files in their testing is SOL?
There has to be a way to do this.

[2022-03-29 16:35] Raja-Simha commented on #2847
Hey everyone,
You can now [generate documentation from OAS definition](https://blog.postman.com/open-api-3-0-documentation/) in Postman with all the schema info defined in your definition, including `required` or optional info for params. You can follow the steps [here](https://blog.postman.com/open-api-3-0-documentation/) to try it out.

This is only the first step and we have further improvement

[2022-03-29 17:35] beb-midigator commented on #7399
I started seeing this on Version 9.15.6 after I restored my M1 MacBook Pro from Time Machine.

I do not see any  ~/Library/Application Support/Postman  or  /Library/Application Support/Postman

[2022-03-29 18:19] DannyDainton commented on #999
Closing this issue. The reporter has its own repository.

https://github.com/postmanlabs/newman-reporter-html

[2022-03-29 18:19] #999 closed, assigned to vkaegis

[2022-03-29 18:29] dajneem23 opened #10800 "Stuck in white screen"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

i'm stuck in white screen when open postman
![image](https://user-images.githubusercontent.com/56623206/160680565-9dca1941-9ff4-42e1-867e-186fb8c02026.png)

### Steps To Reproduce

1. open postman
2. get stuck

### Screenshots or

[2022-03-29 18:32] DannyDainton commented on #10800
Hey @dajneem23

This looks like a duplicate of this #10763.

Could you follow the steps detailed here and let us know if the app works for you?

https://github.com/postmanlabs/postman-app-support/issues/10763#issuecomment-1071909372

[2022-03-29 18:34] dajneem23 commented on #10800
thanks you, i'll check this

[2022-03-29 19:20] nilskp commented on #3819
Postman has definitely gotten worse lately in this regard. I work on a VPN with only intranet access (no public internet) and used to be able to start Postman. Now it won't even start if not connected to the internet.

[2022-03-29 19:25] Alcas1 commented on #10797
Is this covered already by https://github.com/postmanlabs/postman-app-support/issues/10767?

[2022-03-29 20:35] carsonsaldanha commented on #2985
Thank you! This worked for me on Chrome OS.

[2022-03-29 21:36] andekis commented on #8929
This is basic and essential, please add it.

[2022-03-30 00:12] acdha commented on #9835
This seems to be an area where the documentation and UI could be substantially improved. What I'd like is to have one value pulled from my Mac's keychain at runtime, or at least loaded from my project's `.envrc` file or something similar, and never saved to the cloud service. Based on the documentation and UI, I can get close to this using a variable file with Newman but there's no way to do this

[2022-03-30 06:33] hyzx86 commented on #10798
The console seems to be failing to open because of a network problem, but why not wrap it all up in the install package?
![image](https://user-images.githubusercontent.com/15613121/160766437-74c73b9a-a2ee-4670-af31-5570231a2027.png)

[2022-03-30 06:51] giridharvc7 commented on #9705
This is fixed with v9.15.8
Please update the app and let us know what you think

[2022-03-30 06:51] #9705 closed, assigned to nobody

[2022-03-30 06:52] giridharvc7 commented on #9614
This is now fixed with update 9.15.6
While your examples are still part of the sidebar, we don't expand your request when you select it. I hope this solves your problem.
You can use the `>` symbol to expand the requests to see your examples

[2022-03-30 06:52] #9614 closed, assigned to nobody

[2022-03-30 08:06] einvince commented on #1321
@silentwater Thanks, I also migrate to Insomnia

[2022-03-30 08:24] codenirvana commented on #10797
@Alcas1 Yes, partially.

The ability save gRPC requests in a collection will be out very soon.
However, importing a multi-file Protobuf definition (as Postman API) is something we are actively working on and will let you know once it’s supported.

[2022-03-30 08:45] HenrikHolmIT commented on #9705
Updated. Looks like you nailed it. Thanks.

[2022-03-30 09:12] DannyDainton commented on #9312
Hey @hamzamtn 👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:12] #9312 closed, assigned to nobody

[2022-03-30 09:13] DannyDainton commented on #9330
Hey @lineshr 👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:13] #9330 closed, assigned to nobody

[2022-03-30 09:14] DannyDainton commented on #9067
Hey @adharsh05 👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:14] #9067 closed, assigned to nobody

[2022-03-30 09:14] DannyDainton commented on #8741
Hey @Saurabh9455  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:14] #8741 closed, assigned to nobody

[2022-03-30 09:16] DannyDainton commented on #8763
Hey @DanFreed  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:16] #8763 closed, assigned to nobody

[2022-03-30 09:18] DannyDainton commented on #9950
Hey @m3dbedb

Is this still an issue that you're facing in the latest version?

[2022-03-30 09:21] DannyDainton commented on #10040
Hey @srinivas-iosdev  👋🏻

I'm going to close this issue due to inactivity and lack of details about the requested feature. If you're able to provide more information about the context of the request and some clear examples, we can look into opening this up again.

[2022-03-30 09:21] #10040 closed, assigned to nobody

[2022-03-30 09:27] DannyDainton commented on #10159
Hey @tomaszwojciechowski

I'm going to close this issue as the use case is unclear, given the information you have provided.

If you could expand on the problem statement and share some examples, that would be awesome and we can look to open this again.

[2022-03-30 09:27] #10159 closed, assigned to nobody

[2022-03-30 09:28] #8759 closed, assigned to nobody

[2022-03-30 09:29] DannyDainton commented on #8790
Closing this issue as it looks like a resolution has been found. 🎉

[2022-03-30 09:29] #8790 closed, assigned to nobody

[2022-03-30 09:30] #9069 closed, assigned to nobody

[2022-03-30 09:31] DannyDainton commented on #9125
Hey @maryst1986  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:31] #9125 closed, assigned to nobody

[2022-03-30 09:32] DannyDainton commented on #9153
Hey @ChesterZheng / @clementizard  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:32] #9153 closed, assigned to nobody

[2022-03-30 09:33] DannyDainton commented on #9778
Hey @bean5  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:33] #9778 closed, assigned to nobody

[2022-03-30 09:34] DannyDainton commented on #9893
Hey @sandrapavankumar / @cdixon4  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:34] #9893 closed, assigned to nobody

[2022-03-30 09:36] DannyDainton commented on #9916
Hey @dom-techwriter

Is this still an issue that you're facing?

[2022-03-30 09:37] DannyDainton commented on #10320
Hey @pearlp-123  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:37] #10320 closed, assigned to nobody

[2022-03-30 09:37] #10472 closed, assigned to nobody

[2022-03-30 09:38] DannyDainton commented on #9945
Hey @ricardomcifba  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:38] #9945 closed, assigned to nobody

[2022-03-30 09:40] DannyDainton commented on #8997
Hey @sberthu  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:40] #8997 closed, assigned to nobody

[2022-03-30 09:41] DannyDainton commented on #9212
Hey @edonmustafa  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:41] #9212 closed, assigned to nobody

[2022-03-30 09:43] DannyDainton commented on #8630
Hey @gagantk / @Amandeepsinghghai  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:43] #8630 closed, assigned to nobody

[2022-03-30 09:43] DannyDainton commented on #8930
Hey @jeromeklam  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 09:43] #8930 closed, assigned to vikiCoder

[2022-03-30 09:59] ChesterZheng commented on #9153
Hi Danny

  Acturally, I'm already upgraded the version.

Thanks.

***@***.***

From: Danny Dainton
Date: 2022-03-30 17:32
To: postmanlabs/postman-app-support
CC: Chester Zheng; Mention
Subject: Re: [postmanlabs/postman-app-support] Could not open Postman (#9153)
Hey @ChesterZheng / @clementizard ????????
I'm going to close this issue due to inactivity - If you're still facing the issue in the lat

[2022-03-30 10:12] SimbaNyaruwata opened #10801 "Couldn't get a response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

![Screenshot (7)](https://user-images.githubusercontent.com/47856609/160806008-60a1592d-3c50-4cb2-a9d1-8197573f5220.png)
I am running my asp.net core web api that has whatsapp bot as one of its message controller. When I try to s

[2022-03-30 10:41] DannyDainton commented on #10031
Hey  @s-codebyte

Is this still an issue that you're facing with the latest version?

[2022-03-30 10:43] DannyDainton commented on #10332
Hey @Dentrax

I'm going to close this issue - If you're still facing we can look to open it again.

[2022-03-30 10:43] #10332 closed, assigned to nobody

[2022-03-30 10:46] DannyDainton commented on #9324
Hey @Zinnurka  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 10:46] #9324 closed, assigned to nobody

[2022-03-30 10:49] DannyDainton commented on #9107
Hey @MahalakshmiMasilamani  👋🏻

Are you still facing this issue in the latest version of the platform?

[2022-03-30 10:50] DannyDainton commented on #9570
Hey @arneesh  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 10:50] #9570 closed, assigned to giridharvc7

[2022-03-30 10:53] DannyDainton commented on #10331
Hey @marvin-SL / @NogrTL  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 10:53] #10331 closed, assigned to nobody

[2022-03-30 10:54] DannyDainton commented on #10724
Hey @shai-zmora-sp  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 10:54] #10724 closed, assigned to nobody

[2022-03-30 10:56] DannyDainton commented on #8184
Hey 👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 10:56] #8184 closed, assigned to codenirvana

[2022-03-30 10:57] DannyDainton commented on #8724
Seems like the issue has been resolved. Closing this one out. 🎉

[2022-03-30 10:57] #8724 closed, assigned to nobody

[2022-03-30 10:58] DannyDainton commented on #10000
Hey @maheshcts97  👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 10:58] #10000 closed, assigned to nobody

[2022-03-30 11:01] #9652 closed, assigned to nobody

[2022-03-30 11:04] DannyDainton commented on #8900
Hey 👋🏻

I'm going to close this issue due to inactivity - If you're still facing the issue in the latest version we can reopen this and investigate further.

[2022-03-30 11:04] #8900 closed, assigned to codenirvana

[2022-03-30 11:48] MahalakshmiMasilamani commented on #9107
Hi Danny,

The reported issue is no longer in the current version. We are good to
close the issue

Thanks,
Mahalakshmi Masilamani

On Wed, Mar 30, 2022 at 12:49 PM Danny Dainton ***@***.***>
wrote:

[2022-03-30 12:12] #9107 closed, assigned to giridharvc7, vkaegis

[2022-03-30 13:36] Jannik-JungDMS commented on #10783
Unfortunately not. We got this issue some times and can't find a way to reproduce this issue after restart postman.

[2022-03-30 13:51] DannyDainton commented on #10783
Thanks for the reply @Jannik-JungDMS

I'm going to close out this issue for now, if you are still facing a problem and can provide a reliable set of steps the reproduce the issue - we can look to open it again.

[2022-03-30 13:51] #10783 closed, assigned to postman-staff

[2022-03-30 15:14] anasz3z3 opened #10802 "'Unable to generate collection' error returned when Importing a GraphQL File"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When importing a graphql shcema file (a big file, around 11000lines/233000chars) into postman to generate the queries. The importing fails and returns

**Note**: the issues happens on both postman App and Web versions

![image](h

[2022-03-30 15:36] acky001 commented on #5456
Please re-open. Imagine having a collection and 5 environments. You have to import/export the collection and every environment on every change one-by-one, which is not user-friendly and very time consuming. This option is a must in my opinion.

[2022-03-30 16:24] anasz3z3 commented on #10802
@abhinaba-ghosh thanks, yeah I tried with a simple qraphql file and it worked successfully.
But it doesn't work with the one I have -a big file, around 11000lines/233000chars-, which I can't share as it's a confidential one for our company product

[2022-03-30 18:19] clicktodev opened #10803 "Show update download size"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Whenever there's an update, i'd like to know how much data it's going to consume.

### Describe the solution you'd like

Simple block that shows information about the new update such as the download size.

### Describe alternativ

[2022-03-30 20:38] SirishaManne commented on #4437
Try to save the file the CSV file in UTF-8
![image](https://user-images.githubusercontent.com/8956064/160926681-7955aa1f-22ce-48b7-a18f-704fb3f4e767.png)

[2022-03-30 21:10] frank-orellana commented on #9033
I'm having this problem too, when I have the authorization defined in the collection, the Auto-fetch will fail to sync. If I define the authorization directly on the request, then it works, so I'm using that as a workaround for now but it would be really useful to have it working with the collection config

[2022-03-30 22:51] mikatpt opened #10804 "More flexible hotkeys for creating new requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The provided shortcuts are mostly not very helpful - the app requires mouse interaction for nearly everything, even where hotkeys are provided.

A list of things I found frustrating:
- Using `Tab` should visibly cycle through opt

[2022-03-30 23:00] #10795 closed, assigned to numaanashraf

[2022-03-31 00:00] WatanabeThiago commented on #9614
ITS WORKINGGGGG!!!

THANK YOU
![image](https://user-images.githubusercontent.com/50850299/160949947-145593ec-217d-48a8-a746-52edefaa0b80.png)

[2022-03-31 00:45] kolesnikov-andrey opened #10805 "Error when duplicating a collection in a filtered collection list"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Duplicating a collection, while the Collections list is filtered, leads to an error: "Something Went Wrong - Postman has encountered an error. If this problem persists, contact us at help@postman.com" shown in a left rail menu.

[2022-03-31 02:37] jared-mackey opened #10806 "GraphQL Schema Auto Fetch does not interpolate variables."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using a variable such as `{{host}}` as the URL for the GraphQL endpoint the request to auto fetch fails. In the console there is an error logged.

[code]

It seems none of the variables are interpolating properly.

### Steps

[2022-03-31 02:44] beb-midigator opened #10807 "Unable to open requests on single/double clicking on the request from a collection from the Collections Tab"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Same issue as https://github.com/postmanlabs/postman-app-support/issues/7399

(I can't re-open this closed bug)

[code]

**Describe the bug**
Unable to open requests on single/double clicking on the request from a collection from

[2022-03-31 02:45] beb-midigator commented on #7399
Opened a new issue for this:

https://github.com/postmanlabs/postman-app-support/issues/10807

[2022-03-31 07:33] umeshp7 commented on #10648
@GeorgeExplorer Could share the details about how you are trying to import this WSDL? If you have a link could you share it with us? Also, if you could share the error that you are getting here.

We recently fixed this issue where links were not imported for non-json type data. Also, I tried it in the latest app on the web and it seems to be importing links from yaml, xml well.

[2022-03-31 07:37] umeshp7 commented on #10706
@xioumau if you could update the app to the recent version from here: https://www.postman.com/downloads/ and try again?

[2022-03-31 09:40] giridharvc7 commented on #10806
Thanks for reporting this.
We are tracking this as a bug.

Environment variables should resolve and work with Grapql introspection, you can temporarily use this to unblock yourself if that is possible

[2022-03-31 09:42] giridharvc7 commented on #10807
Thanks for reporting this @beb-midigator . Can you clarify a couple of things for me
- Are you using Scratchpad?
- Can you share a video of this some logs from the dev console?

[2022-03-31 09:44] giridharvc7 commented on #10805
Thanks for reporting this @kolesnikov-andrey . This is indeed a bug, we'll look into this!

[2022-03-31 09:47] PostIt59 commented on #5258
Hello @nelsonprsousa have you found any solution. @harryi3t can you provide any solution please ?
Thx

[2022-03-31 10:46] GauthierPLM opened #10808 "Set collection variable using right click context menu"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

To set a collection variable I must go in the collection settings or use a script to set it.
It is not possible to set it from the context menu (right click).

### Describe the solution you'd like

Allow setting collection variab

[2022-03-31 10:47] GauthierPLM commented on #10653
I would love to see this added too, to ease the workflow with environment variables.

[2022-03-31 10:52] sniper0 commented on #3694
+1

[2022-03-31 10:52] GauthierPLM commented on #10583
We would need to have a similar feature but for a different reason: we use and leverage environments, but we have a ton of APIs (micro service architecture based on Mulesoft) that all are related but cover different parts of our system.

Therefore, it makes sense for us to keep them together, but we would need to have them better organised using folders.

[2022-03-31 11:17] cs12b015 commented on #5040
+1

[2022-03-31 12:30] antonm1989 opened #10809 "Postman uses environment variable instead of collection variable"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If there are environment and collection variables added with the same name - Postman takes environment value by default however according to documentation it should first consider collection variable as the narrowest scope.

###

[2022-03-31 13:39] Muralisumanth commented on #8612
It worked for me by adding all the below
CRT File/ KEY File/ PFX File and corresponding Passphrase.
Thanks

[2022-03-31 15:43] glen-84 commented on #2934
@giridharvc7 Did you close this issue by mistake?

[2022-03-31 20:38] Penumbra69 commented on #7210
All I want to do is make a signed JWT using the current date, which means needing to either read a file, or use an external module.  The modules which support signing JWT's in Javascript land do not publish minified/umd versions of their code, so importing via the `unpakd.com` method is not going to work.  I need to be able to load a module which can then do the work of creating / signing + insert

[2022-03-31 21:37] bascomb opened #10810 "Auto generated header out of sync with global variable."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Value of auto-generated header not up to date with value of variable.

### Steps To Reproduce

Create a request.
Authorization Tab: add Api Key with value {{myvar}} (i.e. global variable named myvar that doesn't exist yet)
Click

[2022-04-01 03:46] codenirvana commented on #10681
@lukasvosyka TLS is supported, you need to add client certificates in settings.

<img width="1552" alt="Screenshot 2022-04-01 at 9 09 34 AM" src="https://user-images.githubusercontent.com/4865836/161191015-93f7026a-684e-4d7c-80af-f434f8cb051b.png">
<img width="1552" alt="Screenshot 2022-04-01 at 9 11 50 AM" src="https://user-images.githubusercontent.com/4865836/161191028-10145ef3-9ca4-4946-85b7-cd

[2022-04-01 03:53] sunilvp commented on #8804
This is a good example thanks.
But there is still one case which might not work, correct if i am wrong. But this might be different use case as well.
If we are using collection with multiple iteration and the dummy request will get executed for every iteration.
Is there a way to have pre script for every collection run even though multiple iterations are selected.

Let me know if any other alterna

[2022-04-01 03:59] postman-support commented on #10791
Hey hi,

Just letting you know I’m still here so feel free to give me a shout if you’re still running into any issues.
via @Lincimary | Postman Support

[2022-04-01 09:47] sjaeger-lxo commented on #8611
This bug is still present and quite confusing. You cannot generate a curl snippet and use it or manually copy the Authorization header and use for another request.

I can confirm that when a env variable is used for SecretKey then the resulting signature string in the Authorization of the auto-generated headers seems to the be pre-calculated using the variable name and not its value. It is only th

[2022-04-01 09:48] IvanMartinezBL commented on #3930
+1

[2022-04-01 12:06] petkostas commented on #9421
Strongly agree, another problem I see here is that the schema file is always the source of truth, now tech writers for example might be enhancing the documentation, it would be really nice to be able to sync those in the schema (unless I am missing something, this is not possible).
Currently, developers have to constantly check for changes. Additionally, this has another issue! as the collection v

[2022-04-01 12:10] AvanCodeDev commented on #10648
@umeshp7 I'm trying to import this WSDL http://www.dneonline.com/calculator.asmx?WSDL and I'm getting this error "Error while fetching data from link."

[2022-04-01 12:18] petkostas commented on #10295
I am experiencing similar issues, to provide some context, I will demonstrate this with the petstore yaml file:

- Have the [petstore.yaml](https://github.com/OAI/OpenAPI-Specification/blob/main/examples/v3.0/petstore.yaml)file in my Gitlab repo under a specific branch
- I import it (e.g would be nice to add importing from Gitlab, since you do have sync, but that is a different topic) into postman

[2022-04-01 12:19] petkostas commented on #10643
I am experiencing similar issues, to provide some context, I will demonstrate this with the petstore yaml file:

- Have the [petstore.yaml](https://github.com/OAI/OpenAPI-Specification/blob/main/examples/v3.0/petstore.yaml)file in my Gitlab repo under a specific branch
- I import it (e.g would be nice to add importing from Gitlab, since you do have sync, but that is a different topic) into postman

[2022-04-01 12:35] petkostas opened #10811 "Import from Gitlab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently in order to import Gitlab hosted API schemas you can only do it manually, after that you can connect your repository to the schema.
It is a bit weird not being able to import but being able to connect to a Gitlab reposi

[2022-04-01 14:11] DannyDainton commented on #10809
Hey @antonm1989

The Environment Variable would be a narrower scope than the Collection Variable.

More information can be found here:
https://learning.postman.com/docs/sending-requests/variables/#variable-scopes

![image](https://user-images.githubusercontent.com/17089546/161280555-cd4de1f1-dae3-4362-aa72-7b37a63517ed.png)

I'm going to close this issue as it's working as expected.

[2022-04-01 14:11] #10809 closed, assigned to nobody

[2022-04-01 14:15] umeshp7 commented on #10802
@anasz3z3 We understand. Is it possible for you to share your GraphQL file via email with us at help@postman.com? And if you could also share the your App logs via email too. "View" > "Developer" > "View logs.." And send us the zip of this folder.

If you are unable to share the graphql schema, it will be helpful if you could share the App logs through support.

[2022-04-01 14:33] DannyDainton commented on #10810
Hey @bascomb

Thanks for raising the issue.

Could you expand on the details of these steps please:

[code]

It would really help us if you could share screenshots or a short video so that we can reproduce the issue you're facing.

[2022-04-01 15:18] DannyDainton commented on #10654
Closing this as the issue has been captured in #10650

[2022-04-01 15:18] #10654 closed, assigned to malvikach

[2022-04-01 15:19] DannyDainton commented on #10709
Closing this as the issue has been fixed in the latest version.

[2022-04-01 15:19] #10709 closed, assigned to nobody

[2022-04-01 15:23] DannyDainton commented on #9593
Closing this as the issue has been fixed in later versions of the platform.

[2022-04-01 15:23] #9593 closed, assigned to nobody

[2022-04-01 15:29] DannyDainton commented on #6219
@Ghazgkull you would need to use `pm.variables.replaceIn('{{SERVICE_HOST_FOO}}')` for it to resolve that value.

[2022-04-01 15:32] shai-zmora-sp commented on #10724
Hi @DannyDainton
I'm sorry I missed the response for this.
I reproduced the issue multiple times on the same day it occurred. However, I have not been able to reproduce to date.
Thank You !
Shai

[2022-04-01 16:22] DannyDainton commented on #10801
Hey @DeadShot263,

Are you getting the same when making a POST request from the terminal when using curl?

You could use the code snippet generator in the right side context bar to recreate the request.

[2022-04-01 16:29] DannyDainton commented on #10799
Hey @nishakazmi12

- Are you recreating the request after that time or trying to run the same request again?
- Have any of the originally sent headers changed?
- Has the file been changed or moved in that time?
- Is the file still in the same directory on your machine?
- Have the App been open the whole time or have you closed it?

Without more details/logs and steps to reproduce the problem, it's

[2022-04-01 16:36] DannyDainton commented on #10800
Hey @dajneem23 - Did that solve the issue for you?

[2022-04-01 16:41] DannyDainton commented on #10796
Hey @ankit-m

Is this still an issue for you? If so, would you be able to update the steps to recreate the issue, please?

[2022-04-01 16:45] dajneem23 commented on #10800
@DannyDainton  yes it did, sorry i forgot to close issue, thanks you very much

[2022-04-01 16:45] #10800 closed, assigned to nobody

[2022-04-01 16:59] DeadShot263 commented on #10801
Thanks @DannyDainton. I cleared the error it had something to do with my urls

[2022-04-01 17:15] #10801 closed, assigned to nobody

[2022-04-01 17:25] beb-midigator commented on #10807
I see this in 9.15.10 as well.

I tried the older version 9.15.0 and do **not** see this bug/issue

[2022-04-01 17:58] JimPatterson opened #10812 "Allow multi-line "raw" body like the "exec" script format in the collection export"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When exporting a collection with requests that have JSON bodies, the body is encoded as a single long line.

This makes reviewing changes to the body difficult.

### Describe the solution you'd like

The test scripts allow the sc

[2022-04-01 18:05] jmatthews79 opened #10813 "Environment files being overwrote every few hours with an old version"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We have several environment files we use and for the last month the environment files keep getting overwritten with an old version of the file. Postman support stopped responding to emails. This is not the first time this has hap

[2022-04-01 18:30] jenimi opened #10814 "Capture requests different from http(s)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When I setup a proxy in the "Capture requests via proxy" window, it seems only http(s) requests, are saved to the History/Collection.

### Describe the solution you'd like

It would be really useful for other types of requests to

[2022-04-01 19:52] tgpadua commented on #8231
+1

[2022-04-01 21:17] toddlindner opened #10815 "gRPC server reflection error - no such type: .google.protobuf.Empty"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When utilizing gRPC server reflection, it usually works, but one server is giving an error and the details links shows one error:

no such type: .google.protobuf.Empty

### Steps To Reproduce

1. Open a new request tab
2. Click N

[2022-04-01 22:09] Syjamnik commented on #7871
Hi, I have this problem in the newest postman version. When I'm trying to use send and download and file is >300 MB (I did not check it for smaller files)
Postman Version:
![image](https://user-images.githubusercontent.com/52471410/161347149-88c61bf1-9cf5-4e49-a172-88dfad32b2fc.png)

App Type:
[calling method in API in C#]

OS:
![image](https://user-images.githubusercontent.com/52471410/161347327-

[2022-04-02 04:13] SylonZero commented on #10406
I'm experiencing this same issue and it has forced me to switch to Insomnia for tests, even though Postman has more of the features that my team needs. It seems like a pretty basic requirement - when you have API hosted in subdomains (like api.your-domain.com) versus static web assets etc coming from your main domain or a generalized app domain (like app.your-domain.com).

[2022-04-02 12:50] helloint commented on #2906
This is my experience:
I have one existing collection in maintenance. Usually I update the collection via Postman app. But sometimes I need to do batch operation so I will export the collection to a JSON file and use text editor to finish the work, and then Import again. I will also have a copy in my Version Control so Jenkins will check it out to do automation works.
So, after the Export -> Impor

[2022-04-02 13:04] codenirvana commented on #10406
I think there’s some confusion regarding non-host-only cookies.

**TLDR:** Adding the cookie's `Domain` attribute will make it non-host-only and match with the specified domain, or any of its subdomains.

<img width="862" alt="Screenshot 2022-04-02 at 5 53 42 PM" src="https://user-images.githubusercontent.com/4865836/161383124-23991aba-5e88-4e7a-b29e-cbb7c8c9e888.png">

---

Cookie's `Domain` attr

[2022-04-02 14:10] Nu1i commented on #10778
on windows10 ,i had same question.
![image](https://user-images.githubusercontent.com/38694534/161387043-f08009bb-21e3-4066-9563-9d3c3c904712.png)

[2022-04-02 15:30] stlr00 opened #10816 "Full-screen windows"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman app doesnt remember window expand settings on windows. After restart, app doesnt in expan window mode.

### Steps To Reproduce

1. Open app
2. Expand window
3. Close it
4. Open again

### Screenshots or Videos

_No respon

[2022-04-02 15:45] DannyDainton commented on #10816
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6347

[2022-04-02 15:46] #10816 closed, assigned to nobody

[2022-04-02 15:55] helloint commented on #9622
I noticed this issue on GitHub integration as well.
I then compared 2.1 with 2.0, and I don't see any advantages, just disadvantages...
This is v2
[code]
This is v2.1
[code]
You will get pain when you need to manually update the json file...

Another separeted issue, @ivanrgo are you aware that the integrated file use space as indent while the export file use tab.
Export:
[code]
Integration:
[code

[2022-04-02 22:44] robbopatterson opened #10817 "New Integration Request - CodeCommit"
### Describe your current workflow

We use AWS CodeCommit as our GIT Repository.  Currently our PostMan tests are not maintained under version control.

### Describe your ideal workflow

We would like out API tests to be connected to a AWS CodeCommit GIT repository.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-04-03 01:05] isolative commented on #8455
Got the same issue today with Postman Version 9.15.10 on Mac while sending http POST to localhost.
Fixed by switching "Follow original HTTP Method" to "TRUE" in Settings.
<img width="792" alt="postman_settings" src="https://user-images.githubusercontent.com/38425475/161406824-fe3f41ca-5946-4e23-9c25-ab3a0147b92d.png">

[2022-04-03 17:20] GeorgeExplorer commented on #10648
@umeshp7 Hi!
Now i've been tried to import the link with WSDL into the Postman web and the issue appear again.
Look at the attachment, please:

https://user-images.githubusercontent.com/99310998/161439958-3bf8dc68-22ed-44af-8d15-d880d3996076.mp4

[2022-04-04 00:53] shitchell opened #10818 "Element not found"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have a WSDL I'm trying to import but keep getting the following error:

[code]

The WSDL doesn't use any external imports as is documented in the other issues I've seen for this error. Below is the WSDL in question (with the is

[2022-04-04 01:47] darceal12 opened #10819 "Postman didn't display the folder with collection"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

User searched any keyword, postman didn't show the specific keyword on the search bar but displayed down arrow.

### Steps To Reproduce

1. Click search bar
2. Search keyword "BRS"

### Screenshots or Videos

**Expected Results:*

[2022-04-04 03:19] abhijitkane opened #10820 "Inconsistent indentation for syncing vs exporting collections"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If an API is integrated with GitHub, collections synced as part of the API use 4 spaces as indentation:
[code]

If the same collection file is exported, however, the file uses tabs as indentation:
[code]

All files coming from Po

[2022-04-04 03:47] abhijitkane commented on #9622
Thanks @ivanrgo @helloint - I've raised a bug for the indentation issue (https://github.com/postmanlabs/postman-app-support/issues/10820).

Re. the collection format - agreed. We'll look into this and update this thread.

[2022-04-04 07:11] shashankawasthi88 commented on #10811
@petkostas the connect to repository flow shall also allow you to import the API schema within Postman. After connecting to the repository, the subsequent PULL from the repo will allow you to mark your schema file in the repository.

[2022-04-04 07:19] shashankawasthi88 commented on #10814
@jenimi thanks for raising the request. We would like to understand your workflows in detail as we try to plan out this feature. Can we schedule a short call to discuss your workflows in detail? You can use this [link](https://calendly.com/shashank-awasthi/postman-proxy) to set up a call with us.

[2022-04-04 08:54] arlemi commented on #7871
@Syjamnik Please open a new issue, this one has already been closed.

[2022-04-04 08:57] helloint commented on #10820
@abhijitkane thank you.
one more question, about "_postman_id":
When I export the collection and import again, it will cause the "_postman_id" changed to be a new one.
Is there a way to avoid this?

Thank you.

[2022-04-04 09:02] Soundman32 opened #10821 "OAuth2 delete cookies button still auto authenticates"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have Postman configured to use OAuth2.0 implicit flow via https://oauth.pstmn.io/v1/callback

Generally, first time per day, the 'Get New Access Token' button will open my browser and require a new user/password.

After this, d

[2022-04-04 10:22] KeliOC94 commented on #2050
Hey,

Currently looking for this functionality to run a test collection and have been unsuccessful, I would love to know if anyone has produced a work around or if postman has added this in the meantime. Considering a new tool now which I would prefer to stay. Thanks!

[2022-04-04 10:58] abhijitkane commented on #10820
@helloint Not at the moment. Can you describe the use case that requires you to export and reimport? There might be an alternate solution we can suggest.

[2022-04-04 12:01] sourabhgomebs commented on #8626
Still an issue in 9.15.2

[2022-04-04 12:14] Kshitij891 commented on #6523
In header add Content-type : application/json explicitly and untick the one which is already present

[2022-04-04 13:16] Kantitad commented on #285
+1

[2022-04-04 13:20] #10681 closed, assigned to codenirvana

[2022-04-04 13:48] giridharvc7 commented on #9409
@moschenkovpropellerads we will track this as a feature request on top of Oauth2.0

We are rethinking ho we are approaching OAuth into a fully customizable one so that these edges that might not be covered in the original OAuth RFC will be covered.

[2022-04-04 14:04] ankitjaggi commented on #6657
We released the ability to fork and merge environments with support of Pull Requests in the latest update.
https://blog.postman.com/introducing-environment-forking-and-pull-requests/

We would love to hear your feedback if this solves the problem you were facing.

[2022-04-04 14:18] #9994 closed, assigned to nobody

[2022-04-04 14:27] #4910 closed, assigned to vkaegis, BrandonGordon126

[2022-04-04 14:52] erickneverson opened #10822 "Support to schedule WebSocket message periodically"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Once a WebSocket connection is established with the WebSocket server, I need to periodically (e.g. every 30 seconds) send a ping message to keep the connection alive. Currently, there is no way to configure a message to be trigge

[2022-04-04 14:53] WalterDias commented on #10758
Same is happening on: https://documenter.getpostman.com/view/2669002/SWE84xMd

[2022-04-04 15:19] rabin-io commented on #6926
+1

[2022-04-04 15:58] beb-midigator commented on #10807
I accidentally wiped out my 19.15.0 install and so downloaded another copy (from https://mac.filehorse.com/download-postman/21094/download/) and it is showing the same bug/issue now. Odd...

[2022-04-04 16:46] KHeavyy commented on #6926
+1

[2022-04-04 18:35] erhhung commented on #7210
@Penumbra69 While this reply doesn't address Postman's underlying deficiency, the technique that I've been using to load external modules into pre-request scripts might help you from having to squeeze minified code into an environment variable:
https://gist.github.com/erhhung/4d8884c014350364791587425259c8ea

Since Postman does support invoking additional arbitrary requests in the pre-request scri

[2022-04-04 20:02] DannyDainton commented on #5864
Hey @Faz540

With the changes to the save request feature in later versions, is this still a valid feature request?

[2022-04-04 20:20] DannyDainton commented on #10798
Hey @w4dd325

Is this still an issue that you're seeing in the latest version?

[2022-04-04 23:10] w4dd325 commented on #10798
Hi @DannyDainton

In short, yes it is.

My client version is;

It tells me that this is the latest version when I click update.

Hope that helps? cheers.

[2022-04-05 08:57] chris-rl commented on #4808
Hey!
Thanks for adding support to update the request body.

I'm struggling with setting the `file` in the form-data request.

My request looks like this:
[code]
How is it possible to set the file of a formdata using pre-request scripts?

[2022-04-05 08:58] kskfjskjldf commented on #6001
I just met this problem as well, can try exporting the variables into a json file, then inspect the json file to find if you add some whitespace around the variable names.

[2022-04-05 10:39] giridharvc7 commented on #10813
@jmatthews79 Thank you for reporting this here and sorry that you are facing this trouble. Here is what can help us debug this issue further.
- Please ensure you have the latest version of Postman, I believe this is 9.15.2+
- Send us a recording and console logs from the developer console if possible so that we can understand what is happening.

[2022-04-05 10:42] giridharvc7 commented on #10808
Thanks for bringing this up @GauthierPLM
Did you know that anywhere on the request tab, you can select a text and create a variable out of it?
You can create a variable for the selected text in all of the scopes, environment, collection and global.
<img width="1010" alt="Screenshot 2022-04-05 at 4 11 07 PM" src="https://user-images.githubusercontent.com/1040583/161736843-298b5d1b-e7e8-4cc5-8d6f-21

[2022-04-05 11:47] Bhasski commented on #7752
I am facing import issues while trying to import the 1up health collection that they have given in Docs.
No such specific error in logs

[20392][1649159005243][main][info]["ProtocolHandler~handleOpenUrl: postman://app/collections/import/e5259db17c571bafddc4?referrer=https%3A%2F%2F1up.health%2F#?env%5B1upHealth%20API%20Variables%5D=W3sia2V5IjoiY2xpZW50X2lkIiwidmFsdWUiOiJnZXRfZnJvbV9xdWlja19zdGFydF9

[2022-04-05 12:25] Bhasski commented on #7752
![1up Health  collection import error](https://user-images.githubusercontent.com/7147842/161752990-466ff3bf-6ed6-46d8-9c63-44e9b6785178.png)

[2022-04-05 12:31] bhargavkaranam commented on #7752
@Bhasski The collection that is on their [website](https://1up.health/docs/start/quick-start-guide/postman-collection) seems to have been deleted. Hence, the import is erroring out. There is another Run in Postman button at the bottom of the same page, the import via that button is working. Can you check?

This is the [link](https://app.getpostman.com/run-collection/8cedbf1d94c912f8023a#?env%5B1up

[2022-04-05 12:40] jmatthews79 commented on #10813
@giridharvc7

I am using **Postman Native**:
- Desktop Platform Version 9.15.2
- Mac Version Version 9.15.10

and **Postman Web**:
- Version 9.15.11-220329-1125
- Chrome 99 / Mac OS 10.15.7

There is nothing in console logs except things like:
`Error: getaddrinfo ENOTFOUND {{clientreportschedulerbaseurl}}` because the vars from the environment file are disappearing.  I won't be able to get a video

[2022-04-05 13:13] nulLeeKH commented on #10744
Of course yes!

[code]

[2022-04-05 13:26] codenirvana commented on #10744
@nulLeeKH Can you please update the Postman app to the latest version (v9.15) and check if that fixes your issue?

We’ve fixed the _"Follow original HTTP Method"_ behavior recently to preserve the request body for non-307/8 redirects.

[2022-04-05 13:59] ajcastro opened #10823 "New Integration Request - Integrate Postman and TDD in Laravel/PHP (possible to any language or framework)"
### Describe your current workflow

Being a backend API Developer, I need to deliver clear API Documentation which will be consumed by our frontend developers.
I do phpunit tests in Laravel, to test my api endpoints. Then when the test passes, the next thing for me to do is to create the api endpoint documentation.

So, during phpunit tests, I already made a call to the endpoint, which I need to d

[2022-04-05 14:12] ajcastro commented on #7555
This is related to what I am trying to do.
https://github.com/postmanlabs/postman-app-support/issues/10823

[2022-04-05 15:02] petkostas commented on #10757
I think this is the same as my request, may be good to update the documentation or provide the link initially for importing.
https://github.com/postmanlabs/postman-app-support/issues/10811

[2022-04-05 15:12] petkostas commented on #10811
I can confirm that what you describe indeed works but feels a bit hidden and weird (due to the fact that there is a button there for the other Git repositories).
You can close this ticket if you feel it doesn't add currently any value.

[2022-04-05 17:44] Bhasski commented on #7752
Yeah . That worked .
Thanks for prompt reply. I struggled because I couldn't get from the
message and logs .

Regards
Bhaskar Taneja

On Tue, Apr 5, 2022 at 6:02 PM Bhargav Karanam ***@***.***>
wrote:

[2022-04-05 19:55] Sbadibanga commented on #9097
I was having this same issue, it turns out it was a storage problem as in I didn't have enough space on my mac to download and open it, after clearing up some space it now works!

[2022-04-06 01:59] ajcastro commented on #7555
@sankalp0o @SimoTod @andmoredev
How did you work around this issue at the moment?

[2022-04-06 02:17] nulLeeKH commented on #10744
This problem has been resolved!
I'm so appreciative of your kindness!

[2022-04-06 02:17] #10744 closed, assigned to nobody

[2022-04-06 02:31] jeromecatric commented on #10808
Hi @giridharvc7
In my case your solution does not help me. Because it is not possible to set it from the context menu (right click) from the body response.

![image](https://user-images.githubusercontent.com/38922052/161883853-ad7910a2-bd9b-4e9b-80c6-90139d71cd92.png)

[2022-04-06 06:44] SimoTod commented on #7555
@ajcastro I didn't and I stopped looking into it eventually

[2022-04-06 07:18] aidar87 commented on #5222
Guys, we need this sorting!!!

[2022-04-06 07:48] VaishnaviChallaPostman opened #10824 "Replacing the new GH Token without recreating the integration on token expiry."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

As of now, if a GH PAT(Personal Access Token) expires, there is no way to edit it without recreation.
![image](https://user-images.githubusercontent.com/76939396/161923022-15865e92-249d-47c8-9327-bbd1ec3e89e1.png)

### Describe t

[2022-04-06 09:47] idreesVenD commented on #1066
Just manually deleted 50+ requests that I accidentally added to my collection when setting up intercepters. 😢

THIS IS A MUST HAVE FEATURE!!!

[2022-04-06 10:33] GauthierPLM commented on #10808
Hi @giridharvc7

As shown by jeromecatric, the widget you mentioned does not exist for request or response body and it's where I need it the most.

[2022-04-06 12:32] WalterDias opened #10825 "There was an error importing this collection. Please try again"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I'm not able to import the https://documenter.getpostman.com/view/2669002/SWE84xMd API to the postman.

### Steps To Reproduce

Access https://documenter.getpostman.com/view/2669002/SWE84xMd
Click on the Run in Postman
Import to

[2022-04-06 13:12] byrdman commented on #10691
It appears to only happen on "large" collections where the process times out.
Initially it asks if I want to replace or import as a copy, if I select "replace" it does this:
![image](https://user-images.githubusercontent.com/2364470/161979978-a6367844-982a-46e2-8a1e-693fae189314.png)

Sometimes it cleans up after itself quickly, sometimes it takes a while, right now it's stuck like this
![image](h

[2022-04-06 13:29] muxfe commented on #3694
+1

[2022-04-06 16:54] petkostas commented on #3117
This is definitely sad, after so many years since the initial report not having any progress, [as mentioned above](https://github.com/postmanlabs/postman-app-support/issues/3117#issuecomment-803276176) we use stoplight for defining our OpenAPI schemas and then use Postman to create collections, not being able to document request payloads is problematic and is raising questions among our developmen

[2022-04-06 16:54] ProjectCleverWeb commented on #6452
Would really love to have this feature! Even if it's just authenticator code support, any type of MFA would greatly help when it comes to security audits.

On a similar note, [Authy](https://authy.com/) (owned by Twilio) has really good support for this and even adds some features that are missing from both Google & Microsofts authenticator apps!

[2022-04-06 17:12] gembalisridharinn opened #10826 "New Integration Request - <product name>"
### Describe your current workflow

I am trying to connect my Innovapost bitbucket repo

### Describe your ideal workflow

Push collections to git

### Describe alternatives you've considered

no alternative at present

### Additional context

_No response_

[2022-04-06 17:44] bj97301 commented on #3117
Yup…

[2022-04-06 17:46] amilbeck commented on #9885
Any chance we can get an update from the team on this?

I have been running into this problem lately as well. I asked a question about it on the community forum and there has been no response. This causes a lot of unnecessary toil when trying to merge branches that have been backed up through the "Connect to Repository" feature and/or the "Backup a Collection" integration. Every single time there

[2022-04-06 18:02] dsstewa commented on #10773
@DannyDainton  @joe-highnote  I would like to add some additional details to this bug.... It also appears the schema auto-fetch does not recognize any variables either... Meaning if I have the following in the URL {{my-api-base-url}} the schema autofetch will attempt to grab the schema from "https://{{my-api-base-url}}". This is also happening when auth is not inherited, so if a variable is set fo

[2022-04-06 18:21] mithereal commented on #10459
i second the worst ui ever, if you happen to change 1 char anywhere on the ui it syncs up ohnline and you lose ctr-z it is INSANE, trying to collab with ppl in the same company, settings get overwritten every 5 mins,  sooo much technical debit, thanks, this has now become the worst tool in the developer space for its intended failed purpose.

[2022-04-06 18:22] joe-highnote commented on #10773
@dsstewa That is interesting. I am not seeing the behavior you describe. I have my URL pulling from an environment variable and it works as long as I have the auth set directly on the request and not inherited.

![image](https://user-images.githubusercontent.com/90255568/162042312-c8e5554b-4681-46b5-af4a-8afb6a74d16a.png)

[2022-04-06 18:35] dsstewa commented on #10773
@joe-highnote When I go to hit schema re-fresh button I get the following error in my console:

![image](https://user-images.githubusercontent.com/45477783/162043998-6e39ca4c-52b2-425e-a76f-b7fbfd4a6246.png)

![image](https://user-images.githubusercontent.com/45477783/162044534-1878c9d6-fbc4-4770-aafb-ab39c7fe233c.png)

Version 9.15.10
UI Version: 9.15.10-ui-220331-0650
Desktop Platform Version: 9

[2022-04-06 21:58] MonsterMetroid commented on #7596
+1

[2022-04-06 22:45] Shanni commented on #8526
I find the same issue, does anyone find solution around it?

[2022-04-06 23:37] shraddhakul opened #10827 "New Integration Request - CodeFresh"
### Describe your current workflow

Our company currently uses CodeFresh to handle all build and deployment tasks. We need to integrate our postman automation framework to CodeFresh CI/CD.

### Describe your ideal workflow

For every build - we would like to hook up our framework with CodeFresh so we can trigger our tests with each build -

### Describe alternatives you've considered

_No response

[2022-04-07 00:02] beard-developer-arcadier commented on #6681
im amaze that this was still not implemeted after 5 years.. the initial request was made last 2017.

[2022-04-07 02:00] eprothro commented on #4912
I have a collection with header api key auth and requests in folders that both inherit the auth from parent. This works as expected in the postman client.

I published my private documentation and do not see the auth header value included in the example requests.

The example in the [Postman API docs](https://documenter.getpostman.com/view/631643/JsLs/#8ca888b7-ef54-f3b4-312f-3f3e2e2cf04e) uses `N

[2022-04-07 02:35] abhijitkane commented on #10826
@gembalisridharinn Have you tried out our integration with Git (GitHub, Bitbucket, Azure, GitLab are supported) - https://learning.postman.com/docs/integrations/available-integrations/github/#api-sync-with-github?

[2022-04-07 02:36] #10826 closed, assigned to abhijitkane

[2022-04-07 04:40] nhgiang196 commented on #1066
Wow. This feature has been developed for 7 years 🤣 What could I do now?

[2022-04-07 05:01] helloint commented on #10820
@abhijitkane I have a collection with a lot of requests in it. Some of the requests share some common test and prerequest scripts. instead of change them manually one by one via app GUI, I export the JSON and do batch replacement via text editor then import again.
I tried delete the "_postman_id" before import, still doesn't work, new ID being generated.

Thanks.

[2022-04-07 06:15] shashankawasthi88 commented on #10827
@shraddhakul thanks for raising the request. Can you elaborate more on the workflows? What exactly do you mean when you say 'hook up'. Postman tests can be run in your pipeline using [Newman](https://www.npmjs.com/package/newman).

[2022-04-07 06:29] shashankawasthi88 commented on #10823
@ajcastro please try out the [Postman API](https://www.postman.com/postman/workspace/postman-public-workspace/collection/12959542-c8142d51-e97c-46b6-bd77-52bb66712c9a?ctx=documentation) to see if this suffice your use cases.

[2022-04-07 06:37] shashankawasthi88 commented on #10811
@petkostas we understand that this is not the most optimal behavior. Will keep the ticket open as we optimize this flow, and post on the thread if we have updates.

[2022-04-07 06:39] shashankawasthi88 commented on #10757
@petkostas yes this is similar to https://github.com/postmanlabs/postman-app-support/issues/10811, we are trying to optimize the import flow further, hence would keep the ticket open and communicate when we have updates.

[2022-04-07 07:04] ajcastro commented on #10823
@shashankawasthi88 thanks for this.
btw what is `_postman_id`?
![image](https://user-images.githubusercontent.com/4918318/162139640-8160b9d7-7ac5-456b-823c-48f8064a933c.png)

[2022-04-07 07:42] sanan-go commented on #9608
proper UX shouldn't challenge users to do research on internet in order to export

[2022-04-07 08:21] idreesVenD commented on #1066
Lol. For one, you can make the option visible. I couldn't find it and ended up doing it manually. Most importantly close this issue by telling people that it has been developed and here is how you can use it so if anyone comes to this page knows about the fix. 🙃

[2022-04-07 08:24] giridharvc7 commented on #10808
Thank you for the clarification we are taking this up as a feature request!

[2022-04-07 10:50] VaishnaviChallaPostman opened #10828 "Save agent info, and certificates to avoid re-adding for each session."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

After every web session, users would need to re-add certificates, and point to the respective agent as it defaults to "Auto-Select agent"

### Describe the solution you'd like

A way to save the agent selection and to retain the

[2022-04-07 11:34] petkostas commented on #10347
@Raja-Simha this doesn't seem to fix the issue of the missing request/response documentation which other tools support. This is also a problem for our development organization, as our source of truth is the OpenAPI specification and everything related to operations is documented within the OAS.

[2022-04-07 13:32] davidlstanton commented on #6378
@numaanashraf please re-open.  This is definitely not fixed!  Postman Mac 7.36.5

[2022-04-07 14:31] Jakar510 opened #10829 "API Documentation fills in with random values from an OpenApi definition"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When generating a collection from an OpenApi definition, it fills in with random values.

- Strings are usually populated with random Latin phrases (according to google translate)
- Numbers (integers, doubles, floats) are random

[2022-04-07 14:42] DannyDainton commented on #10829
Hey @Jakar510

This seems similar to something previously raised, more information can be found here https://github.com/postmanlabs/postman-app-support/issues/9866#issuecomment-826515949

[2022-04-07 15:05] vdespa commented on #4808
@chris-rl I guess the question here is how to submit a form-data request to upload a file without providing a file. AFAIK, this is not possible, not even from a regular Postman request.

I don't know a way to upload a file by directly providing the content.  Correct me if I am wrong.

[2022-04-07 18:17] #10829 closed, assigned to nobody

[2022-04-07 19:24] shraddhakul commented on #10827
I see, no problem. I am relatively new to Postman. Our objective is to
trigger our postman automated scripts through CI/CD builds. I noticed on
https://learning.postman.com/docs/integrations/ci-integrations/ - there are
elaborated steps for Circle CI and Travis. Our company uses Code Fresh for
builds and deployments. Was checking to see if this is feasible with
CodeFresh?

On Wed, Apr 6, 2022 at 1

[2022-04-07 20:56] WilbertBocanegra commented on #8350
any solution??

[2022-04-08 06:18] chris-rl commented on #4808
@vdespa Yes, that's probably true. I'm not too much into the technical details on how form-data requests are working internally. But I guess at some point the _file_ will be loaded and sent to the endpoint, right? There should be a way of doing this manually.
Any ideas are appreciated.

Maybe another idea would be to save the downloaded file temporarily and then use the path to the temp file :thin

[2022-04-08 06:22] vdespa commented on #4808
@chris-rl I think the expectation is that the file exists somewhere on the disk. However, you can't write files from Postman, unless you rely on an externals script that does that for you.

[2022-04-08 06:24] VaishnaviChallaPostman commented on #10825
Hey @WalterDias
It looks like there is an issue with the environment attached to the documentation.
Could you please try to import it with [this](https://go.postman.co/network/import?collection=2669002-e4c270d4-afa1-4116-8285-23f6c16d5c9d-SWE84xMd) link? [This link imports the collection without the environment]

[2022-04-08 06:25] chris-rl commented on #4808
@vdespa Hm, how would using an external script work?

Another idea: Would it be possible to point to a file that is not located on a local disk, but in a remote location? Maybe just provide the URL where it could be downloaded?

[2022-04-08 07:14] MathiasKandelborg opened #10830 "Postman doesn't update the response data"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I made an API that takes a file name and a list of videos, which then stitches the video in the order they are made and provides a response with the file name provided.

My problem is that I know the video changes, I can open VLC

[2022-04-08 07:32] DannyDainton commented on #10830
Hey @MathiasKandelborg

Could you please also provide the video, as you mentioned, it will be hard to reproduce without your API so a video showing what you can see will help triage.

[2022-04-08 08:08] FinalFortune opened #10831 "Grpc Flatbuffer Support"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Now that GRPC support is in, it would be helpful to be able to use flatbuffer serialization, and read from a flatbuffer IDL as specified in [grpc-flatbuffers](https://grpc.io/blog/grpc-flatbuffers/).

### Describe the solution yo

[2022-04-08 08:23] Smitzel commented on #10112
Great setup Alex,
Still getting this error:
error: "invalid_grant"

[2022-04-08 08:23] Smitzel commented on #10112
Great setup Alex,
Still getting this error:
error: "invalid_grant"

[2022-04-08 08:25] savage-alex commented on #10112
@Smitzel is refresh grant enabled on the provider you are calling?

[2022-04-08 08:31] Smitzel commented on #10112
Will check it, thanks

[2022-04-08 08:42] MathiasKandelborg commented on #10830
It should be done processing in a second.

Here's a short walkthrough of what I'm doing:

1. Make request with list of vid 1-3
2. See the response starts with video 1
3. Verify in VLC
4. Make a new request where video 2 comes first, then 1, and lastly 3.
5. See the response seems to show stale data
6. Verify in VLC, but this time the video has changed, compared to what I see in Postman

As said, t

[2022-04-08 09:18] andrew-demb commented on #9573
@numaanashraf as of https://github.com/postmanlabs/postman-app-support/issues/9573#issuecomment-991947827 and current fetching information from snap - `latest` channel pinned to v7 version of postman.

Is it planned to change `latest` channel to v9?

[2022-04-08 09:58] pavangayakwad opened #10832 "File Manager on OpenSUSE Tumbleweed has improper font setting"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Version: Postman v9.15.2
OS: OpenSUSE linux with Gnome 42.

As you notice in the screenshot, improper Font setting for file dialog.

### Steps To Reproduce

Click Import Collection -> Upload Files from the pop-up window

### Scre

[2022-04-08 11:55] bo55vxr commented on #10773
The issue is not restricted to "Inherit from Parent", I have my Authorisation settings as `Type ="Bearer Token"` and `Token = "{{myGraphToken}}"` - The Authorisation header is being sent as `Bearer {{myGraphToken}}`

[2022-04-08 14:05] jviotti commented on #10832
Hey @pavangayakwad , thanks a lot for reporting!

In https://github.com/postmanlabs/postman-app-support/issues/10449, we have tracked this down to an issue on Snap itself: https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bug/1864365. The latter thread suggests some workarounds.

We will be tracking the issue upstream, but closing this ticket for now as there is not much we can do about

[2022-04-08 14:33] jmatthews79 commented on #10813
@giridharvc7

This has happened 5 times in the last hour.

[2022-04-08 14:46] Mwahahaha opened #10833 "Display digital signature in PDF preview"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I'd like the PDF preview pane to display digital signature embedded in PDF response body.

This is how my PDF looks like in any PDF viewer:
![image](https://user-images.githubusercontent.com/8750061/162461652-519c67d8-21a0-4bd3-8

[2022-04-08 15:24] pavangayakwad commented on #10832
I have not used snap to install it, instead I downloaded the .tar and running it.

[2022-04-08 15:44] annoyedcust commented on #4818
Even though it's already a dropdown in the UI, I'm beginning to believe we will never see this option made available.

Want to publish a Prod _and_ a Test environment? No problem. Publish each on a different "custom domain." Why? So they can charge you $10/mo for each extra one.

It would be better if they would just be honest with us. Tell us to buy more domains, and close out the ticket.

[2022-04-08 19:59] GeorgeExplorer commented on #10648
Chrome 99.0.4844.84 (64 бит)
Mozilla Firefox 98.0.2 (64 бита)

[2022-04-09 04:08] abhishekcreator commented on #9821
Is this supported now? if yes, How ccould i pass in pre-requestt script?

[2022-04-10 05:46] itsrafsanjani commented on #10030
@jviotti Is there any update on this? I'm having the same problem with Ubuntu 20.04 LTS.

[2022-04-10 12:31] owk444 opened #10834 "Incorrect interface placement if Windows taskbar resides on top."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello

May be I'm little strange man, but I prefer to place a Windows (10) taskbar on the top of the screen.

When the Postman starts, it always opened under taskbar every time, and some menus are hidden by taskbar. To resolve th

[2022-04-10 14:21] johnshengkpmg commented on #6926
+1 my use case is that I organize request by domain (which is folder). and it need to be referenced in endpoint, for example
https://{{baseURL}}/service/{{tenant}}/{{domain_folder}}/v1
domain_folder= Human_Resources, just one example, and I have 69 domains/folders.

[2022-04-10 23:02] alfredoarias commented on #9119
The fact that this feature still doesn't exist is embarrassing for the Postman team. Do you need any help?

[2022-04-11 04:49] muhaimincs commented on #3646
what a joke

[2022-04-11 08:00] pkernevez commented on #8626
The '+' char is considered as a separator (ie a space).
This is not valid when sending a date.
A query parameter for a date (date=2021-04-08T19:32:01+02:00) is received as '2021-04-08T19:32:01 02:00' on the server and can't be parsed.
Same discussion here: https://stackoverflow.com/questions/54294843/plus-sign-not-encoded-with-resttemplate-using-string-url-but-interpreted

[2022-04-11 12:43] Mwahahaha commented on #8433
Please add my vote to this feature request!

[2022-04-11 13:03] rtmoffat commented on #9187
I just ran into this bug myself. It would be great if this worked properly so that people could easily navigate datasets. Is there any workaround for this?

[2022-04-11 13:34] Raja-Simha commented on #10789
Hey @wessRay, thanks for sharing your feedback. We will look into this and keep you posted.

[2022-04-11 13:44] mayureshs opened #10835 "Authenticate via browser not working in Chrome"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

With the latest update of Postman version, the authenticate via browser callback is not working in Chrome and IE Edge browser.

Postman for Windows
Version 9.15.11
UI Version 9.15.11-ui-220404-0850
Desktop Platform Version 9.15.2

[2022-04-11 14:38] Raja-Simha commented on #10347
@petkostas thanks for your response.

That is exactly why we are auto generating documentation from your OAS file as explained in [this blog post](https://blog.postman.com/open-api-3-0-documentation/). You can check out how request/response info is represented in schema documentation [here.](https://www.postman.com/postman/workspace/postman-public-workspace/api/f00b3236-8241-43ce-925f-80f6f73f8ffc

[2022-04-11 16:20] NitinSaxenait commented on #4985
Hi @kamalaknn my postman is getting hang while sending the request. Can you please the issue
![Screenshot from 2022-04-11 21-40-51](https://user-images.githubusercontent.com/77061053/162785682-ba5bd653-3794-45b2-97a5-ef1ef55e0821.png)

[2022-04-11 16:27] DannyDainton commented on #6892
Hey @suraj-purohit

It's going to be difficult to recreate this issue given the version that it was reported in 😢 , As we're now 2 Major versions ahead, I'm going to close this issue.

If the problem is encountered again in the latest versions, we can look to open this up again.

[2022-04-11 16:27] #6892 closed, assigned to nobody

[2022-04-11 16:29] #6957 closed, assigned to nobody

[2022-04-11 16:32] DannyDainton commented on #6990
Hey @joled

I'm going to close this issue due to inactivity, if this is still an issue in the latest versions, we can reopen it and investigate further.

[2022-04-11 16:32] #6990 closed, assigned to chrisdeso, SabriH10

[2022-04-11 16:34] #7120 closed, assigned to vkaegis

[2022-04-11 16:42] DannyDainton commented on #7375
Hey @still-breathing,

This has been fixed in the latest versions of the platform.

[2022-04-11 16:42] #7375 closed, assigned to saswatds

[2022-04-11 17:55] petkostas commented on #10347
@Raja-Simha the rendered documentation of the collections does not document the request and response bodies, this has been open since 2017 (this should be marked as a duplicate):
https://github.com/postmanlabs/postman-app-support/issues/3117

[2022-04-11 20:30] DannyDainton commented on #7665
Hey @chennareddy08

Closing this issue due to inactivity and also not containing any information that would allow us to reproduce the problem.

[2022-04-11 20:30] #7665 closed, assigned to nobody

[2022-04-11 20:34] DannyDainton commented on #7792
Hey @sixcorners

Closing this due to inactivity - We can look to reopen this again if you're still having issues with the latest version.

[2022-04-11 20:34] #7792 closed, assigned to nobody

[2022-04-11 20:36] DannyDainton commented on #7818
Hey @atulTrip

As no additional information has been shared about this feature request, I'm going to close this for now. If this is still a feature that you would like to see, please provide some more context and details of the workflow.

[2022-04-11 20:36] #7818 closed, assigned to abhijitkane

[2022-04-11 20:38] ondrejtomcik commented on #7134
@shamasis how does it look like with the plugin API? Any guidance on what would be the best way to introduce CoAP in Postman?

[2022-04-11 20:46] DannyDainton commented on #8079
Hey @u28057

I know that this was a while back but are you still having issues with the runner in the latest version of the Platform?

It's a little difficult given the information you have provided for use to recreate the issue locally, if this is still impacting you could you share more details about the problem. If not, could we close this out now?

[2022-04-11 21:51] roobee15 opened #10836 "Ability to save table view preferences or them adjust to the content"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Every time you open a request the columns go back to the largest option and don't resize to fit the content.

This is hard because on smaller screens you have to go in and resize them every time you an entity.

This causes a lot

[2022-04-11 21:53] azgo commented on #6957
Hey @DannyDainton ,
Sorry I've long forgotten this. You are right the search is working for some time now. Thanks!
Brgds,

[2022-04-11 22:32] williamemir commented on #4079
+1

[2022-04-12 06:44] Raj-postman opened #10837 "Unable to use .local address on Linux machine."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Few issues with receiving responses to some of the endpoints.

What has been tried?
- Tried to run a request from the Chromium browser and that works.

What's not working?
- Same request with IP address works
- But fails with the

[2022-04-12 07:53] #10670 closed, assigned to codenirvana

[2022-04-12 08:11] ash007-postman opened #10838 "OAuth 2.0 - how to handle different token field in response"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

On behalf of the user:

We are evaluating Postman for a team, where we need to authenticate against an OAuth 2.0 endpoint. The integration authentication works great, but the token is returned in a body field called `AccessToken`

[2022-04-12 08:15] cyrielle-hada opened #10839 "Unable to access workspace after changing visibility from Public to Team"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

**Issue created by Postman**

After changing the visibility of a workspace from Public to Team, I don't have access to my workspace
![cant access my workspace](https://user-images.githubusercontent.com/47351631/162912231-32606a58

[2022-04-12 08:40] jenimi commented on #10814
Hi,

Thank you for your attention to my request and sorry for the delayed
response. Actually I did what I needed using Wireshark.

My usecase is pretty much the following: I have grpc server and I would
like to catch all the requests to it. It would have been useful doing it
using postman because I am used to your interface - which is very friendly
and clear. I have been catching http requests usi

[2022-04-12 09:07] nasco-a opened #10840 "Map Team URL to SSO Login Page"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Whenever we are signing in via SSO we always have to type in the full domain name of the team, and this might be a time-consuming task, especially with bigger domain names.

E.g if I navigate to the SSO login page I would have to

[2022-04-12 11:18] nynnecon commented on #6746
Hello, is it made possible to "Option to define custom column separator" in Postman Runner? And if it is, how is this possible?

[2022-04-12 11:24] malvikach opened #10841 "Environment tab goes into a conflict state on the desktop app"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The environment goes into a conflict state in the desktop app versions 9.15 and 9.16.

### Steps To Reproduce

1. Open an environment
2. Edit and save the environment
3. Close the app without quitting it.
4. Open the app again
5.

[2022-04-12 12:10] DannyDainton commented on #7260
Hey @kaustavdm 👋🏻

I'm unable to recreate this issue in the latest version of the platform. Looks like the linked issue has also been closed too 🎉

I'm going to close this issue out.

[2022-04-12 12:10] #7260 closed, assigned to nobody

[2022-04-12 12:15] #7014 closed, assigned to vkaegis

[2022-04-12 13:19] VShingala commented on #10764
Hey @arabnejad, The mentioned API Definition by you has an example mentioned for one of the properties named `cnt`. Due to this default behaviour of generating 2 elements for any `array` items apply. If you'd like to have only one element in example for this array then you can define the example at that particular `array` definition as shown below.

Also, there seems to be an additional problem wh

[2022-04-12 13:36] arabnejad commented on #10764
Hi @VShingala

about the `value` (line#14), you right, it was my bad ;)  , I make this example quickly
it should be
[code]

and regarding the first point, to be honest, this duplication seems to be unnecessary and having `[` and `]` will demonstrate that the attribute is in array from

[2022-04-12 14:26] wronfim commented on #4968
Be able to select multiple global environments would be VERY useful!!

[2022-04-12 15:57] #6697 closed, assigned to vkaegis

[2022-04-12 15:59] DannyDainton commented on #6553
Hey @dbkaynor

Closing this issue due to inactivity, if this is still a problem that you're encountering in the latest version, we can reopen and investigate further.

[2022-04-12 15:59] #6553 closed, assigned to nobody

[2022-04-12 16:02] DannyDainton commented on #7198
Hey @kool79 / @466725

Could you provide a short recording of the issue, in the latest version of the platform?

[2022-04-12 16:07] DannyDainton commented on #7967
Hey @alexszarko

I'm going to close this issue due to inactivity.

[2022-04-12 16:07] #7967 closed, assigned to saswatds, SabriH10

[2022-04-12 17:10] juber-ivre commented on #7596
2 1/2 years, any updates on this?

[2022-04-12 18:06] chrisdreams13 commented on #3694
+1

[2022-04-12 22:18] brenthale opened #10842 "Provide a way to show a list of currently opened tabs and be able to jump to one."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I often have 10+ tabs open and it is very difficult to bounce back and forth between tabs that I know are already up.  I'm looking for a way to help me navigate my open tabs.

### Describe the solution you'd like

I would like to

[2022-04-13 04:14] deepfriedbrain commented on #8195
Learned about Insomnia and going to try it. Seems like autosave is not coming to Postman anytime soon.

[2022-04-13 04:14] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2022-04-13 04:17] xk0der commented on #10813
Hi @jmatthews79 While our engineering team investigates this, I want to apologies for the bad support-experience you had with Postman support.

I want to review the support ticket you have with us but unfortunately, I was unable to track your support-request internally.

Please do provide the Ticket ID from your interaction with us.

Thank you!

[2022-04-13 07:47] Cyril-Bellotti commented on #10737
I @shashankawasthi88, i want to have just a generic webhook with all use case a put above :
- get user license request
- get invitation
- get user license accepted
- get deletion of the license of a user

[2022-04-13 08:13] shorooqhasan opened #10843 "New Integration Request - Vehicle Function Access V1 - Collection"
### Describe your current workflow

TBD

### Describe your ideal workflow

TBD

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-04-13 10:07] bagage commented on #6926
+1

[2022-04-13 15:05] bpedro commented on #9163
@ramith We had it postponed and have it in our roadmap.

[2022-04-13 15:05] bpedro commented on #5185
Hi @scottishkilt , thanks for getting in touch.

Would OAuth solve the challenge that you're facing? (see https://github.com/postmanlabs/postman-app-support/issues/9163)

[2022-04-13 15:12] Confusingboat commented on #7083
+1 bumpity bump bump

[2022-04-13 17:18] cgeers opened #10844 "unable to use grpc reflection when health checks configured"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using postman to interrogate a grpc server's exposed services via reflection, an "unkown error" is reported if the default health check service is enabled.  Digging around in the logs, from `logs/renderer-requester.log` I se

[2022-04-13 17:54] 2pihoops commented on #1066
- (i^2)

[2022-04-13 18:06] MelanieGravel commented on #9470
Still doesn't work for me in a multi-folder situation.

[2022-04-13 19:02] schneidewind commented on #5817
Hi! is there an update on this?

[2022-04-13 19:56] jviotti commented on #10834
Thanks a lot for reporting this @owk444 !

Do you see similar behavior from other Windows apps, or just Postman? If so, how do other apps behave (for reference)?

[2022-04-13 20:58] feng-di commented on #10708
Any response this issue ? I found it also useful for collaboration on same collection.

[2022-04-14 00:03] Julian88Tex opened #10845 "Allow for Public Workspaces Even if a Team You Are a Part of Isn't Public"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When you have Public workspaces and then join a team and the team doesn't have a public profile, your Public workspaces switch to personal and cannot be switched back to Public. This is an issue if you are part of other projects

[2022-04-14 00:05] Julian88Tex commented on #7150
@pankajkumar005 do you suspect resolving this issues would also implement #10845?

[2022-04-14 00:28] trungn-webgility commented on #4079
+1

[2022-04-14 02:35] ryancastle commented on #6920
This is still a problem. The work-around still works. :)

[2022-04-14 04:03] Logarithmus commented on #9608
@bjrnblm you saved my sanity! Thanks!

[2022-04-14 04:34] GauravBansal29 commented on #10822
Sir according to me you can make a socket.emit request from the client side periodically (using setInterval function in JS)  and in the socket server you can just use socket.on for that request and io.emit the message to the user.
(I am a newbie so sorry if it doesnt help)

[2022-04-14 05:45] yunkuangao commented on #493
+1

[2022-04-14 06:58] Jagadeesh19 commented on #4690
I would love to have this feature too.

[2022-04-14 07:24] rmushfiqur2 commented on #4690
I would love to have this feature too.

[2022-04-14 09:31] qasimhoosain321 opened #10846 "No minimize,Restore,Move,Close buttons"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Cannot see the minimize,Restore,Move,Close buttons on Postman v9.15.13 on Windows 10. Unable to move the window from my laptop screen to my monitor either

![image](https://user-images.githubusercontent.com/103636024/163356971-c5

[2022-04-14 09:50] johntria commented on #10030
The problem remain with me in Ubuntu 20.04 LTS.

[2022-04-14 11:22] RaisinTen commented on #10030
Which version of postman are y'all using btw?

[2022-04-14 11:23] jviotti commented on #10832
That's weird then. Re-opening!

[2022-04-14 11:28] #10846 closed, assigned to nobody

[2022-04-14 11:45] johntria commented on #10030
Postman for Linux

Version 9.15.2

Architecture x64

Platform linux 5.13.0-39-generic

[2022-04-14 11:53] RaisinTen commented on #10030
Does it happen only in the snap app or are you able to reproduce it when you download it from the website too -  https://www.postman.com/downloads/?

[2022-04-14 11:54] neerajjain-mpn commented on #8389
Hi, I am getting below error on one of my shared workspaces on desktop version of the app. Unable to load the collection.
Other workspaces are working fine on desktop app. Also the workspace where I am having issues loading, works fine on browser.

Could not find on l. Missing or invalid parameter.
index.js:3757 Could not find on l. Missing or invalid parameter.

[2022-04-14 12:00] DannyDainton commented on #8389
Hey @neerajjain-mpn,

As this issue originally relates to V6 of the platform and is now closed. I would recommend raising a new issue with all the details of your current context and version.

[2022-04-14 12:06] shashankawasthi88 commented on #10843
@shorooqhasan Can you expand on what exactly are the expectations from this integration? Filling out the template will help us design the integration better.

[2022-04-14 12:10] RaisinTen commented on #10030
Also, does this help?
1. add
[code]
    to `~/.profile`
2. terminate postman and any chrome process running in the background
3. relaunch the postman app

Also wondering if this happens in the Debian version of the app that can be installed from the `Ubuntu Software` app.

[2022-04-14 12:31] manojrana-nytimes commented on #7634
Hi is there a timeline for the fix?

[2022-04-14 12:37] marvin-SL commented on #10331
Sorry for the late reply. Yes it works now ! Thanks

[2022-04-14 13:46] amitabhbhonsle commented on #3706
This is quite critical for our automated testing as well. When can this feature be available? It has been open for almost 5 years now.

[2022-04-14 14:31] PovilasAtPoq commented on #974
We are in 2022 (7 years later) and we still need this. Should be enough of an indication to implement it :)

[2022-04-14 16:17] shaneocall commented on #10709
Confirmed fixed in version  9.15.11, thanks!

[2022-04-14 16:32] cupcakearmy commented on #10806
Same here :)

[2022-04-14 17:22] DeviNoles opened #10847 "Cookies won't save"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Whenever I add a new cookie it won't save.

### Steps To Reproduce

1. Make new request
2. Add cookie
3. Save cookie

### Screenshots or Videos

_No response_

### Operating System

Windows

### Postman Version

9.15.13

### Post

[2022-04-14 20:06] johntria commented on #10030
As i can see from the source code it works properly but from Ubuntu Software the problem remain with us.
I added ` export XCURSOR_PATH=$RUNTIME/usr/share/icons` but the issue not resolved.

[2022-04-15 11:31] RollingHog commented on #2096
Same here. `vendor-ui` doesn't work, GREPed and changed some other files without effect. `keybindings.json` or even simple explanation where to monkeypatch hotkeys would be really-really useful.

[2022-04-15 12:44] jmatthews79 commented on #10813
Hi @xk0der the request was 100913. It looks like there may be a fix in the works as of yesterday.

[2022-04-15 13:33] rmushfiqur2 commented on #9544
I would also like to have this feature to mitigate performanace issue.

[2022-04-15 14:35] nathankitchen commented on #8231
And one more.

[2022-04-15 15:55] dat-producepay commented on #8231
+1

[2022-04-15 17:20] jeffreybrowning commented on #9437
Same here.

OS:
- MacOS Monterrey
versions:
- Version 9.15.13
- UI Version: 9.15.13-ui-220412-1245
- Desktop Platform Version: 9.15.2 (9.15.2)

[2022-04-15 19:28] onahkenneth commented on #4079
+1

[2022-04-15 20:00] sgutkinMadrid commented on #3777
+1

[2022-04-15 21:05] lawlietl4 commented on #6926
+1 this would be very helpful for a company that I am working for since we have almost 8k tests that utilize the Postman GUI and since we are integrating with Splunk it would make the value for the folder more accessible at a collection level instead of setting it in a pre-request script

[2022-04-16 06:27] Dmaina5054 commented on #6780
I am also getting the same problem on Ubuntu 20.04.4 LTS
![postman](https://user-images.githubusercontent.com/43588385/163664456-4ea0a93f-6816-4e95-9300-1ebc35c11544.png)

[2022-04-16 21:46] ramji367 commented on #10845
Hey @Julian88Tex, I am a Product Manager from Postman working on https://github.com/postmanlabs/postman-app-support/issues/7150. I would like to understand your use case better since it is unique.

Would you be open to a quick zoom call to discuss? You can use [this link](https://calendly.com/ramji-postman/30min) to select a time that works best for you.

[2022-04-17 00:46] Julian88Tex commented on #10845
Would be happy to :) just signed up.

[2022-04-17 17:01] devilHorns13 commented on #2701
One good practice is to enable HTTP/1 support on the server-side when testing APIs internally.

[2022-04-17 17:01] devilHorns13 commented on #6242
One good practice is to enable HTTP/1 support on the server-side when testing APIs internally.

[2022-04-17 17:10] heyomi opened #10848 "Add a button to collapse and expand all response (JSON) fields"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Every time that I want to collapse the JSON response, I need to check the shortcut list. I often forget what the shortcut keys are. Is it possible to have a button that does this?

### Describe the solution you'd like

Instead of

[2022-04-17 20:17] walinaqvi110 commented on #6761
I'm still facing the issue, data not shown at status:200 OK
![Screenshot (84)](https://user-images.githubusercontent.com/70809868/163730752-39d9a09b-91ae-410d-803d-78376e07657b.png)

[2022-04-18 04:22] akshaydeo commented on #10825
@WalterDias, Could you check if import works for you with the fix @VaishnaviChallaPostman suggested? 🙇

[2022-04-18 04:22] #10825 closed, assigned to akshaydeo, Raja-Simha, ajeet-postman

[2022-04-18 04:26] vedkribhu commented on #10841
Fix is out for this with v9.15.13

[2022-04-18 04:27] akshaydeo commented on #10789
@wessRay We are considering a few security concerns about adding Auth information in the generated Code snippets. We will keep you updated with our decision 🙇

[2022-04-18 05:30] shashankawasthi88 commented on #10843
@shorooqhasan Closing this for now. Feel free to open with more details.

[2022-04-18 05:30] #10843 closed, assigned to abhijitkane

[2022-04-18 07:30] xipho commented on #6242
It's not a good practice in my opinion. What if I want to test difference between HTTP/1.1 and HTTP/2.0 behaviour? Or test migration to HTTP/2.0 from old HTTP/1.1?

[2022-04-18 07:57] RaisinTen commented on #10030
This appears to be the same issue as reported in https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1579268. I don't think we can do much about this other than just waiting for Snap to roll out a fix but I'll wait for a while for the rest of my team to confirm.

[2022-04-18 08:01] RaisinTen commented on #10030
cc @postmanlabs/desktop-foundation

[2022-04-18 10:20] OwlCodR commented on #8195
+1

[2022-04-18 11:55] martin-braun opened #10849 "Allow to dismiss the "Team Wizard""
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I created a Team in Postman to see the possibilities of it, but I don't wish to invite someone to my team yet. Now a good portion of my UI is blocking with my view with this:

<img width="388" alt="Screen Shot 2022-04-18 at 1 46

[2022-04-18 14:18] mike-loux-planview commented on #3694
I'm a little surprised this has been open for so long - this seems like it would be low-hanging fruit.

[2022-04-18 14:40] LyesEpitech commented on #10506
Hello, I think this feature should be a priority! Thank you for your work postman!

[2022-04-18 16:10] sad-frog opened #10850 "Environment parameter is not updated when using Flow"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have tried to use Flow functionality to emulate User-scenario. I have passed the environment variable through the requests in flow. I found out that this variable has a static value (perhaps the one, which was saved while creat

[2022-04-18 16:31] rsi610 commented on #8919
is this fixed ? I am still getting this periodically

[2022-04-18 17:45] beb-midigator commented on #10807
any update on this?  My testing of sites inside our VPN is dead in the water until this is fixed. thanks

[2022-04-18 18:19] z0d1ac-RU opened #10851 "Main window is blank after fresh install"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi!

After fresh install Postman looks like this:
![image](https://user-images.githubusercontent.com/15731594/163854053-832dc21b-36aa-4966-8aaf-3bd1c5b200dc.png)

Updating and disabling hw acceleration do nothing, logs are fine.

[2022-04-18 19:10] Aeroverra commented on #10591
It has been quite a while since this issue started happening. Will this be fixed anytime soon?

[2022-04-18 19:57] khyejin1231 commented on #9056
Hi everyone, I am experiencing this issue while generating a new access token. Everything works fine but I cannot find the new access token in the response. Any tips?

![image](https://user-images.githubusercontent.com/74085996/163868565-c36ae72b-469d-4e73-b083-f091358ab8d9.png)

Native app
Postman v9.15.10
Twitter

[2022-04-18 20:09] Julian88Tex commented on #10845
Hey, on our zoom call now. Let me know if this time no longer works for you. I just emailed you so feel free to respond there. Thanks!

[2022-04-18 21:17] btull89 commented on #4148
I would love to have this.. Also like @rvq said, it would be great to use multiple certificates on the same endpoints.

[2022-04-18 21:20] btull89 commented on #4033
Please improve the certificate experience!! It is very lacking..

[2022-04-18 22:29] dalepo commented on #4131
async/await became the base of javascript coding, it makes no sense to not have an api supporting promises. I don't think people tend to use this api for testing since it's terrible.

[2022-04-19 04:21] Swapnil-getpostman opened #10852 "Ability to remove the recently visited Public Workspace"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Whenever a Signed-in Postman user visits some public workspaces then those workspaces start showing up in the workspace overview (viewable) section which is good but the ability to remove/delete those workspaces from the recently

[2022-04-19 05:11] akshay-kulkarni-03 commented on #10852
Hi @Swapnil-getpostman could you tell us the need for removing these? The reason for adding those into that switcher was to make workspace switch easy and friction less. Would like to hear your thoughts on this.
cc: @ramji367

[2022-04-19 05:23] sohenk commented on #10815
same problem

[2022-04-19 05:38] Swapnil-getpostman commented on #10852
@akshay-kulkarni-03  👋  Filed this request based on some of our user reports on the support channel. Few users reported that they don't want to pollute their workspace overview list and want to check if they can remove them or hide them at least? One user reported that if I'm visiting 20 to 30 public workspaces for just finding the content/APIs or general surfing the public workspaces then, in tha

[2022-04-19 06:20] #10841 closed, assigned to nobody

[2022-04-19 07:53] paulius-miksys commented on #10851
I have the same issue on MAC. Postman version 9.15.2

[2022-04-19 09:39] januszjasinski opened #10853 "Add Python urllib2 and urlib3 to the code snippets library"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Would be very useful to have urllib2 and urllib3 as options in the code snippets as that's what the NHS primarily use

### Describe the solution you'd like

Would be very useful to have urllib2 and urllib3 as options in the code

[2022-04-19 10:08] coditva commented on #10807
@beb-midigator Can you also share a screen-recording of the issue?

Would also like to know if you are able to replicate this issue on the web as well? https://go.postman.co

[2022-04-19 12:35] OvidiuMuresan578 commented on #10591
No, this wont be fixed. It's coming from postman

[2022-04-19 14:34] beb-midigator commented on #10807
Here is a screen capture of the Postman desktop app. I can open collections but nothing happens when I click on a request, or if I try and right-click and "open in tab"

This issue does not happen in the web-based Postman

https://user-images.githubusercontent.com/98483858/164028728-0d8fac35-0f26-4248-a36f-b1fea10e8cbd.mov

[2022-04-19 14:44] ChrisTomAlx commented on #1744
Please oh please add this functionality!
We were going to start using postman thinking it will allow us to later export out and vice versa. But now we have to go with swagger. Why don't you guys want us to use postman? Makes no sense.

[2022-04-19 15:12] cblavier opened #10854 "OpenAPI 3.0 is not importing oauth2 configuration"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When importing an API describing an oauth2 security flow (of type `clientCredentials` with empty scopes and a `tokenUrl`) the api authorization is not configured properly in Postman.

### Steps To Reproduce

Import following file

[2022-04-19 16:18] arturmkr opened #10855 "Set baseUrl prefix while importing collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There are three micro-services.
Each of them has its own OpenAPI schema.

In Postman Environments section there are several environments - dev, stage, etc.

Inside each environment, there are values:
{{microservice_1_url}} http:/

[2022-04-19 17:35] jviotti commented on #10851
Thanks for the report. We'll be looking into this soon. @paulius-miksys what is your OS username? Does it have non-alphanumeric characters too?

[2022-04-19 17:35] saturnsjazz commented on #10591
@OvidiuMuresan578 What do you mean it won't be fixed?

[2022-04-19 17:47] miguelbaldi commented on #1744
Postman does not care about the community, I recommend you to check https://insomnia.rest/, a truly open source project.

[2022-04-19 20:05] prupke2 commented on #7833
It looks like the new "Embed a live version" option announced last week solves this issue!

https://blog.postman.com/new-run-in-postman/

[2022-04-19 23:21] rcbyron commented on #3694
🙏 🙏 🙏 🙏

[2022-04-20 04:39] wessRay commented on #10789
Hi @akshaydeo . thank you.
i think most of us doesn't need the actual value of token being generated to code snippets.
perhaps POSTMAN team can generate a variable placeholder for us?

for example:
[code]
at least with this, we will able to declare the $TOKEN variable first before we use the curl command?

[2022-04-20 04:46] coditva commented on #10807
@beb-midigator Thanks for sending the recording and info. Can you try clearing the local storage cache and restarting the Postman app? The steps to clear the local storage cache can be found [this Postman Help Center document](https://support.postman.com/hc/en-us/articles/4410785125271-How-to-remove-local-data). Do let me know how this works out.

[2022-04-20 11:06] nickjuntilla commented on #4818
Wow this is crazy. This is something that almost all api documentation does. It even looks like it's going to work and then doesn't. How is such a basic feature missing?

[2022-04-20 12:56] nbjwe1 commented on #675
This would be very valuable to me as well.
In many ways it's an extention of https://github.com/postmanlabs/postman-app-support/issues/9255 where he asks for updated snippets. My main thing is to add my insights as snippets to make life easier for others in the company, and for my own benefit.

[2022-04-20 15:37] hiqqs opened #10856 "Shared env file user with read only permissions cannot update current values"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When you have an environment file set to read only permissions a user cannot simply update the initial values they have from changes that were made because it requires you to "reset all" and then save the env file which the user

[2022-04-20 16:16] DannyDainton commented on #10856
Hey @johnhiggs

Could you provide a short recording of what you're experiencing, as you're describing something happening in the UI, it makes it easier for us to understand the issue.

Could you also clarify what value is being changed by the non read only user? The `Current Value` is not sync'd so that wouldn't be seen by anyone other than the person changing it in thier instance.

[2022-04-20 16:19] johnhiggs commented on #10856
so the problem is that the read only user cannot save their version of the current value or "pull" the current value from the initials. does that make sense? @DannyDainton

[2022-04-20 16:21] johnhiggs commented on #10856
as an admin, i can use the "reset all" feature on a shared env file which then i can save.  they cannot save their version of the env file to update their current values (or "pull" the latest initials)

[2022-04-20 17:12] DannyDainton commented on #10856
Just to be clear, you're not talking about a forked environment? You keep mentioning 'pull' the changes, which means something else in different contexts :D

When the read-only user saves a current value, is an error notification shown?

If the Save button is enabled and you go through the saving process, does the current value change to the newly added value?

A recording of this issue or screens

[2022-04-20 18:43] EvertonMJunior commented on #6452
Had to log into my Postman account in another computer today, and realized I didn't have MFA auth enabled. Got home, went searching for it, and it absolutely blew my mind that Postman had no support for it.
It's really important to have another factor of authentication on a software that is used every day by millions with security credentials and sensitive info. And I second @romualdr , please don

[2022-04-20 18:58] sandra-markerud commented on #8322
+1 from me as well

[2022-04-20 19:29] beb-midigator commented on #10807
that did it!!! thank you so much

[2022-04-20 19:29] #10807 closed, assigned to nobody

[2022-04-20 19:45] juancarlosjr97 commented on #8322
Can I do +∞?

[2022-04-20 20:15] ian-weir opened #10857 "Cannot share a collection from a team workspace with a personal workspace"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When trying to "share" a collection from a team workspace with a personal workspace, the personal workspaces are disabled. I should be able to share the collection so I can work on it individually without affecting other teammate

[2022-04-20 21:47] vbasky commented on #5817
Is there an update on this ? When can we expect this to be rolled out ?

[2022-04-21 00:56] asharrahman-toast commented on #2734
Any solution yet? Our team is running into lots of Postman Issues and this is the cherry on top.

[2022-04-21 01:27] knofiller commented on #10763
Install Postman-win64-9.15.2 and not able to change log out or change account. When click on my icon, all drop down menu (account settings, Notification Preferences, active session, sign out) not able to click.

[2022-04-21 08:31] DannyDainton commented on #10857
Hey @ian-weir

This is by design, you cannot move elements from a Team Workspace to a Personal Workspace.

You can `fork` the Collection or Environment into a Personal Workspace and have your own version of it.

https://learning.postman.com/docs/collaborating-in-postman/version-control/#forking-postman-entities

[2022-04-21 08:32] #10857 closed, assigned to nobody

[2022-04-21 08:58] oliverwh commented on #9429
same issue, fresh mac with latest os - its not opening

[2022-04-21 11:52] Pricilla09 opened #10858 "Removing user the Team workspace shows that the "User not found", but pop-up says "Removed User""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When we try to remove a user from the Team Workspace, the displayed information is not coherent. It is displayed as "User not found", but the pop-up says "Removed User", which is a bit contradictory.

### Steps To Reproduce

1. C

[2022-04-21 12:21] nasco-a commented on #6846
Adding a bit upon that feature request

Maybe it would be a good idea to allow minutes selection on hourly runs as well, as that might allow more detailed customization.

That way users would be able to specify the exact minute a monitor should run and potentially avoid running the monitor at times where different responses are expected (e.g during a load test)

-----
Posted by Postman support on

[2022-04-21 13:29] csilcock commented on #10479
This is something our team is hoping for to aid adoption of postman across the organization. The [current hacks to work around this](https://documenter.getpostman.com/view/33232/RWaNPmBa) are frustratingly difficult to maintain. Any updates to shared functions have to be manually propagated to each team's collections.

[2022-04-21 15:49] alirsattar opened #10859 "Search for variables in variable list; sort variables alphabetically"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I often have difficulty finding a given variable in our large collections.

### Describe the solution you'd like

Just give me a text box to search for the variable -- with or without auto-fill.

Or at least let me sort the var l

[2022-04-21 16:35] DannyDainton commented on #10859
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/10602

[2022-04-21 16:35] #10859 closed, assigned to nobody

[2022-04-21 17:14] ian-weir commented on #10857
@DannyDainton

This feels like a weird solution to me. Forking it will mean I would have to refork to get any changes to the shared collection? Basically the use case is I want to share the collection with my team but not the environment because we all have our own local deploys and AWS environments. So if I fork it I get that but my collection could get stale. If I work in the shared collection w

[2022-04-21 17:27] kvnpttrsn opened #10860 "NTLM Password Shown in Clear Text"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The NTLM password is shown in clear text on the Collection Documentation pane. The password was stored as a secret global variable in an Environment.

### Steps To Reproduce

1. Create a global secret variable for NTML password i

[2022-04-21 18:11] kensykora commented on #10571
The negotiation HTTP verb also needs to be changed from `GET` TO `POST` for use with Azure SignalR service

[2022-04-21 18:50] fyvekatz commented on #9382
+1

[2022-04-21 20:46] johnhiggs commented on #10856
im putting in quotes because as if you are pulling the latest updates to the environment variable for a read only user.  not an actual forked environment file.

i can have a team member take a video if this doesn't make sense.

TLDR:

A shared environment file
An admin with read/write permission makes a change to a variable
A read only user for the environment file can not update their "current" v

[2022-04-21 20:52] johnhiggs commented on #10856
it's all sensitive information so i'd have to blur it out, perhaps you could send me a link to a shared workspace and we can replicate and test together

[2022-04-22 07:47] fjuza1 opened #10861 "Changing parametres and then saving resets parameter to previous value"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello world,

After I had changed my parameter, the parameter then reseted to its previous value. This started happening after the new update. Is it related in any way? Another thing is that when I export collection, I get <Error

[2022-04-22 08:20] akshaydeo commented on #10860
@kvnpttrsn thank you for reporting this bug. We are looking into it on priority and we will keep this thread updated 🙇

[2022-04-22 11:12] Dhembla commented on #10715
@LuanRLima As mentioned above in my [comment](https://github.com/postmanlabs/postman-app-support/issues/10715#issuecomment-1057688427), it's not possible right now. But we are collecting use-cases where our users cannot complete their work using static mock servers, and we will be building support for them as soon as possible. So stay tuned.

[2022-04-22 11:26] Dhembla commented on #10715
@krearthur Thanks for sharing your use case. You can also use specific variables for generating ids, like `$randomUUID` or `$guid` if you are fine with random ids being returned to you. You can check the complete list of dynamic variables we support at Postman [here](https://learning.postman.com/docs/writing-scripts/script-references/variables-list/).

[2022-04-22 15:18] w5m commented on #1687
Removing a trailing slash from my Postman test URL resolved it for me.

[2022-04-22 17:12] arlemi commented on #10857
@ian-weir You wouldn't have to fork the collection every time, you can pull changes from the parent collection whenever you want to work with it. https://learning.postman.com/docs/collaborating-in-postman/version-control/#pulling-updates

This enables everyone in your team to work on their own version of the parent collection, while being able to either pull changes or create pull request back to

[2022-04-22 18:51] bartekpacia commented on #5817
so annyoing

every other app i use has this feature

[2022-04-23 10:44] sstefanov94 commented on #8231
+1

[2022-04-23 11:23] MrBenGriffin commented on #8231
We are no longer recommending Postman due to #8231.
I note that 8231 doesn't even feature on your roadmap.
It would be remiss of me to mention that, of all the fine work you seem to have stacked yourselves with, this one issue is *far and away* the most important for you to fix.

[2022-04-23 16:23] Binozo commented on #1060
Thanks!

[2022-04-23 17:16] johntria commented on #10030
You are right, I uninstalled all packages from snap-store and implemented by PPA.
Everything works as excepted now.

Thank you for your time !

[2022-04-23 18:28] BendicoE commented on #5980
Postman v9.16.0 on Windows 11. I’m running stress tests with 20-30 rounds of a collection of ca 40 different requests. Sometimes when I come back to check the results, Postman has just disappeared and when I try to start it I get the gray Window after a few seconds. The menu is visible but nothing is functional. I have to kill Postman with the Win Task Manager. Tried everything, disabling GPU, etc

[2022-04-23 18:43] sciamano89 opened #10862 "Path Variable reverts after Save"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

A couple of weeks ago I was using the Runner to test a collection, when I noticed one of my requests had failed. After investigating a bit, I noticed that a Path Variable was hardcoded with the value `135` (my guess I did that an

[2022-04-23 18:48] DannyDainton commented on #10862
Hey @sciamano89

As your describing something that's happening in your instance of Postman, could you provide a short screen recording of this happening, please.

Given the steps that you have added and them being very contextual to your collection, it's going to be difficult to recreate.

Are you able to recreate the same issue of a new collection/request?

[2022-04-23 19:18] sciamano89 commented on #10862
I'm not entirely sure why it's happening, especially to the same two requests
Here's a [screen recording][1].

[1]: https://user-images.githubusercontent.com/13895101/164943138-27113866-43cd-492a-873d-05afca3a3b67.mov "postman bug video"

[2022-04-23 19:33] sciamano89 commented on #10862
Update.

I was able to successfully change the value if I changed the value and clicked Save As, and saved it with another name. The new request is not bugged (I can keep changing its Path Variable value without issues). The old one remains bugged.

*Note that if instead I right-click and Duplicate the request, the bug persists through the duplicated one.*

[2022-04-24 03:06] n8felton commented on #3234
Hi there @malvikach, if you and @cpandya231 were unable to connect, I'd be happy to try and explain this use case as it is also a feature I've noticed is missing and would like to have.

[2022-04-24 06:54] Endy-c opened #10863 "All Collections are gone!"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I duplicated a request in my collection and edit it, there's a loading icon at the right of the request (in area 2). The only abnormality is that this loading has disappeared for a longer time than usual. So I didn't care about i

[2022-04-24 07:06] junaidaion commented on #3670
thanks @prashantagarwal .

Open your chrome browser and type chrome://apps/

it worked for me

[2022-04-24 07:33] DannyDainton commented on #10862
Was that a collection belonging to you?

It looked like the `key` value was greyed out like you're in a `read-only` state or you don't have the permissions to change.

It's hard to tell from the recording as I can't see the collection in the sidebar.

The Save As action would create a new element that you have full control over so that would allow you to edit.

Duplicate the tab would just mean a

[2022-04-24 08:27] Endy-c commented on #10863
Fortunately, I did a data export and import, and collections recovered. After the import, some collections were duplicated. Delete these repetitions, and it will be restored to the original state.

[2022-04-24 08:57] cpilson commented on #2701
I ended up bailing out for the excellent [Insomnia](https://insomnia.rest/) program, as I do my dev work on MacOS environments primarily.

[2022-04-24 11:19] ahmedelq opened #10864 "add shortcuts for tab navigation and movement"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Just as in the Firefox browser, I want to navigate/move open tabs via keyboard.

### Describe the solution you'd like

Go one Tab to the Left: `Ctrl + PgUp`
Go one Tab to the Right: `Ctrl + PgDn`

Move one Tab to the Right: `Ctrl

[2022-04-24 16:31] sciamano89 commented on #10862
By "Duplicate" I meant the actual request in the collection, not the tab.
Also, I am the owner and only user of this collection, so I don't see how I would not have permission to change the request. Is there a way to see this `read-only` state you're talking about?

[2022-04-25 04:34] stephenlprice commented on #6933
+1 for this feature request. I've seen a few posts from people having difficulty writing a collection that works for multipart/mixed. Some people have had success using form-data for the body and uploading each part as a file however this does not seem to work if you need to define the Content-Type such as: `Content-type: multipart/mixed; boundary=boundary-string`. The reason this fails is that Po

[2022-04-25 05:08] postman-support commented on #10863
Hey hi,

Glad that you were able to get the issue sorted out. Thanks for letting us know!
If you’re all set, that’s great. I will go ahead and mark this situation `Solved`.

Feel free to reach out again if you need anything else. We'd be more than happy to help.
Have a great day!

via @Lincimary | Postman Support

[2022-04-25 05:12] ArchanaDontula commented on #4671
Much needed feature. It's very annoying to go through each one by one and save.

[2022-04-25 05:27] Dhembla commented on #10589
@ruthdiasoft Thank you so much for reaching out to us. We have released a fix from our side for this issue. Can you please verify it on your end and confirm the same?
Thanks
<img width="572" alt="Screenshot 2022-04-25 at 10 55 44 AM" src="https://user-images.githubusercontent.com/75123575/165025880-8031be55-b10f-4fb8-b102-411a854f4f4f.png">

[2022-04-25 06:31] wahoho commented on #6681
Very disappointed that I can't share some classified APIs to our partner. Not very B2B friendly IMO

[2022-04-25 07:43] ruthdiasoft commented on #10589
Yes, thanks!

[2022-04-25 07:43] #10589 closed, assigned to akshaydeo, Dhembla

[2022-04-25 09:46] Raj-postman commented on #10863
@Endy-c Also wanted to know if this issue occurred post update?
If possible do share the logs as per [this article here](https://support.postman.com/hc/en-us/articles/360047765713-How-to-open-my-logs-directory) to help us identify the cause of these issues. Thanks!

[2022-04-25 09:55] DannyDainton commented on #10864
Hey @ahmedelq

We currently have keyboard shortcuts for tab navigation, these are the macOS shortcuts but there will also be ones for your OS.

<img width="727" alt="image" src="https://user-images.githubusercontent.com/17089546/165065667-3cf584eb-1310-459d-af82-c899248d321f.png">

The full list can be found under `General Settings > Settings > Shortcuts`.

[2022-04-25 10:20] aditanase commented on #10569
@codenirvana seems to be included in the latest version? Our services are appearing correctly in v9.16.1

[2022-04-25 10:37] codenirvana commented on #10569
@aditanase Yes.

This is fixed in v9.16.1, thanks for the confirmation!

[2022-04-25 10:37] #10569 closed, assigned to appurva21

[2022-04-25 13:20] berkedif commented on #8883
@ankit-m is this soon going to be in the native-apps?

[2022-04-25 18:07] ro31339 commented on #2905
We need this

[2022-04-25 22:02] fusionneur commented on #9488
any updates?

[2022-04-25 22:09] Breefield commented on #10533
Having this issue as well

[2022-04-26 05:21] 120011676 opened #10865 "Postman latest version，Body does not support adjusting GBK, GB2312 and other codes"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Postman latest version，Body does not support adjusting GBK, GB2312 and other codes

.net asp gbk、gb2312
postman post body error
soapui post body success

### Describe the solution you'd like

Support body to modify code

### Desc

[2022-04-26 05:48] akshaydeo commented on #10860
@kvnpttrsn We are working on the fix

[2022-04-26 05:50] Endy-c commented on #10863
@Raj-postman Which log would you want? Or all of them? And how to submit my logs to your team? Because I don't if there's anything private in these logs?
<img width="224" alt="image" src="https://user-images.githubusercontent.com/28978423/165230609-d03d2873-1daa-4959-a659-463c96435481.png">

[2022-04-26 05:56] Endy-c commented on #10863
@Raj-postman I've send an email with a zip file where my logs in to help@postman.com. Please check.

[2022-04-26 06:08] Raj-postman commented on #10863
@Endy-c Thank you!

[2022-04-26 08:00] emmaLP commented on #5713
Any update on this please?

Ideally I would like collections to inherit the workspace permissions by default and only set custom permission per collection if necessary. So if I create a new collection, then they default behaviour is to give the access someone who has editor access as workspace level to have that same access at collection level unless there is a custom roles configured on the works

[2022-04-26 08:43] Korgys commented on #903
+1 it would be a nice feature

[2022-04-26 08:46] Korgys commented on #6682
+1 looking for this feature

[2022-04-26 08:57] giridharvc7 commented on #10861
Can you send us some logs from the dev console @fjuza1 ?

[2022-04-26 08:59] giridharvc7 commented on #10836
@roobee15 just to understand this clearly, can you share a screen recording?

[2022-04-26 09:51] giridharvc7 commented on #10830
Marking this as a bug for now, might be because of some local caching.
Can you close the request tab/open it in a new request tab and try the same? @MathiasKandelborg

[2022-04-26 09:52] coditva commented on #10856
@johnhiggs Do you mean you're not able to update the click on the "save" button after resetting the environment?
Here are the steps I took:
1. On an environment where I only had `view` access, I tried to reset the current values to the initial values.
2. After that, I could see that the "Save" button was enabled which allows me to save the current values.
3. Clicking the save button saved the curr

[2022-04-26 09:55] ivorynoise commented on #8303
To pull changes, click on the collection. In the menu button on right, click `pull changes`.

<img width="1726" alt="postman-pull-changes" src="https://user-images.githubusercontent.com/11216794/165274454-d61aee72-eb46-4b18-8468-6b107470770b.png">

[2022-04-26 11:53] RaisinTen commented on #10030
@johntria sure, no worries!
I was also wondering if you could try to set `XCURSOR_PATH` to `/snap/postman/current/usr/share/icons` instead and try to relaunch the snap postman app. The reason why I'm suggesting this is that `RUNTIME` might have been just an empty string (it is in my case). This should make the app attempt to load the installed cursor theme to match the system theme instead of load

[2022-04-26 18:47] nikitacrit commented on #10797
@codenirvana any good news?

[2022-04-26 22:08] DannyDainton commented on #8185
Hey @Brestachan

I'm closing this out due to inactivity, if this is still an issue for you, we can look to reopen it again.

I did notice that you were not capturing the response from within the `sendRequest` correctly. The Response body would have already been captured so you wouldn't need to do a `pm.response.json()` in that function. That would have stored the body of the main request.

You wou

[2022-04-26 22:08] #8185 closed, assigned to giridharvc7

[2022-04-27 04:52] mortezaataiy commented on #8195
+1

[2022-04-27 06:21] appurva21 commented on #10797
Hey @nikitacrit @achaturvedi-am ! We have enabled saving gRPC requests in Collections and is available on Postman Web. We'll be rolling it out on the native app (v.9.17.0) this week as well.

[2022-04-27 06:21] #10797 closed, assigned to codenirvana

[2022-04-27 06:22] jagz-hbh opened #10866 "Support groups in tabs (similar to chrome tab groups)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Having tab groups will help out in preventing chaos when we have opened multiple tabs. Tab groups help with organization.

### Describe the solution you'd like

Having tab groups similar to google chrome.

### Describe alternativ

[2022-04-27 06:23] shamasis commented on #10797
Hello 👋,

We have recently released the ability to save GRPC requests in collections. Simply hit the “save” button on a GRPC request and follow the collection creation through the dialog box that opens.

With this, we have also enabled support to create folders for collections with GRPC request (though some more work is left to provide folder level descriptions, etc)

On top of this, you can use t