[2016-07-29 15:54] baldemarch opened #2213 "Feature Request: Be able to create Environment Folders"
Say you start working with a large amount of environments, the list grows and need to change according to the endpoints you are working on.

It would be great to have folders to organize the environments and cycle through them faster.

Thanks!

[2016-07-29 17:03] octohub commented on #2201
👍

[2016-07-29 19:00] #1415 closed, assigned to nobody

[2016-07-30 07:59] JureVeler commented on #1307
I wont comment on your exact code, however i had a similar issue as this, where i had to populate a json payload in a request with the pre-request script. It also says so in the postman official documentation.
REF: https://www.getpostman.com/docs/sandbox

Since you can not do it with the actual pre-request script, i created a dummy request before the request that would use the "dynamic" body/heade

[2016-07-30 22:34] KRA2008 commented on #2195
I just started using the standalone Postman after using the Postman in-tab extension for a few years and the first thing I noticed was how annoying it was to close all those tabs. I don't think closing them would be quite as annoying if it just wouldn't open so many of them! It seems like it opens a new tab every time you do anything... my workaround right now is just to close the whole app and re

[2016-07-31 15:05] myoss commented on #1977
+1

[2016-08-01 10:17] mfulton26 commented on #1800
Fix confirmed.

[2016-08-01 10:17] #1800 closed, assigned to nobody

[2016-08-01 10:50] aditikul commented on #751
@MiErnst @abhijitkane Hi there, closing this issue since the latest updates have solved this to varying degrees. We also have the Postman Documenter which allows people to view sample responses in a better/more readable view. Let me know if you've tried any of the latest features.

[2016-08-01 10:50] #751 closed

[2016-08-01 10:54] aditikul commented on #859
@yurik @abhijitkane The latest updates ensure that the submit button is always visible and doesn't require a scroll to find. Closing this issue, thanks for reporting.

[2016-08-01 10:54] #859 closed

[2016-08-01 10:59] aditikul commented on #926
@stevemcmillen We've improved a couple of things from your list - the left navbar is resizable, the request description is improved, and now we have the documenter view for viewing it in a much more legible and shareable web view, and we have updated the UI significantly. Let us know if this works for you. Thanks!

[2016-08-01 11:04] abhijitkane commented on #1010
![screen shot 2016-08-01 at 16 34 15](https://cloud.githubusercontent.com/assets/681190/17292179/cf2b5b14-5805-11e6-86a7-d25c67f64276.png)
@cameron-fgx Are you still seeing this issue in the latest version? The request body editor now shows an error for trailing commas.

[2016-08-01 11:05] aditikul commented on #1124
@sungjun001 Closing this since it should be fixed in the latest app. Let me know if otherwise, thanks.

[2016-08-01 11:05] #1124 closed, assigned to nobody

[2016-08-01 11:09] aditikul commented on #1126
@KotieSmit Currently we have a shortcut to execute a request immediately. You can press Enter to send the request if you are in the URL field. However if you are somewhere else in the UI you can Cmd/Ctrl+Enter to immediately send the request. Closing this since it helps solve your issue.

[2016-08-01 11:09] #1126 closed, assigned to nobody

[2016-08-01 11:11] aditikul commented on #1170
@Redsandro Can you please check on the latest updates? We've worked on a more compact version while also trying to keep things legible. Let me know what you think.

[2016-08-01 11:12] aditikul commented on #1175
@cvmocanu This is fixed. Closing this, thanks for reporting!

[2016-08-01 11:12] #1175 closed, assigned to nobody

[2016-08-01 11:13] aditikul commented on #1149
@cvmocanu @andersks Can you check on the latest versions? We've worked to improve the spacing while keeping things legible and usable. Thanks.

[2016-08-01 11:16] aditikul commented on #1305
@santialbo Did you get a chance to check out the updated dark theme? We've worked to improve the contrast issues. Do check out the native Mac app and Windows app too.

[2016-08-01 11:16] #1305 closed, assigned to nobody

[2016-08-01 11:17] aditikul commented on #1308
@Ivashkin @numaanashraf Did you try environments? Should be able to solve your request.

[2016-08-01 11:17] #1308 closed, assigned to nobody

[2016-08-01 11:19] #1314 closed, assigned to nobody

[2016-08-01 11:20] aditikul commented on #1328
@stevemcmillen Have the latest updates which allow access control helped? We've worked on improving the language here and making it clearer.

[2016-08-01 11:23] aditikul commented on #1353
@stevemcmillen We've fixed most of the bugs around modal shortcuts I think. Will check again. Enter will work to send the request if you are in the URL field, but otherwise its Cmd+Enter if you are somewhere else in the UI where Enter may do something else.

[2016-08-01 11:24] aditikul commented on #1413
@A570343 You can open a request in a new tab with the shortcut cmd+shift+click or ctrl+shift+click when you select a request in the sidebar.

[2016-08-01 11:24] #1413 closed, assigned to nobody

[2016-08-01 11:26] aditikul commented on #1426
@tsoernes You can now use the shortcut Cmd+Enter to send a request immediately.

[2016-08-01 11:26] #1426 closed, assigned to nobody

[2016-08-01 11:46] aditikul commented on #1487
@jmandel @elmi82 @michaeltarleton @centur Can you please check if the latest update has fixed this issue for you? Thanks.

[2016-08-01 11:48] aditikul commented on #1544
@royaldark This is a text button now, hope this helped!

[2016-08-01 11:48] #1544 closed, assigned to nobody

[2016-08-01 11:53] aditikul commented on #1642
@luveti This should be fixed now. Let me know if otherwise. Do check out the native Mac app and Windows app too. Thanks for reporting.

[2016-08-01 11:53] #1642 closed, assigned to nobody

[2016-08-01 11:56] aditikul commented on #1682
@NirLevanon @travisfawcett This should be fixed now. Thanks for reporting.

[2016-08-01 11:56] #1682 closed, assigned to nobody

[2016-08-01 12:03] aditikul commented on #1808
@ravigajera @johnhenderson @thomasruns @AhmadMuzakkir Instead of a setting, this is now available for everyone by default. You can open a request in a new tab with Cmd/Ctrl+Shift+click if you click on a request in the left sidebar. This now works in History too. You can also open the same request in multiple tabs.

[2016-08-01 12:03] #1808 closed, assigned to aditikul

[2016-08-01 12:05] aditikul commented on #1816
@xxldoctor @mstaalesen Thanks for reporting this! Working on a fix right away.

[2016-08-01 12:06] aditikul commented on #1815
@xxldoctor @mstaalesen This should be fixed now. Let me know if it looks different for you, but Bulk Edit should be on top now.

[2016-08-01 12:06] #1815 closed, assigned to nobody

[2016-08-01 12:11] aditikul commented on #1824
@donhmorris @jayonsoftware Can you check out the latest updates and see if things are better for you? We also have a native Mac app and Windows app now that will help in the switching  issue and should be a smoother experience.

[2016-08-01 12:16] aditikul commented on #1719
@voidmain @glennschmidt @cruisencode Totally understand the issue. We are looking into this however we are using a plugin for the response view which limits what we can do to solve this. For now I would recommend using the shortcut Cmd+Up/Cmd+Down to quickly jump scroll. In the meantime we will work on solving this on a longer term ETA.

[2016-08-01 12:18] aditikul commented on #1856
Just an update that now if you are in the URL field and press Enter, the shortcut will work. However if you are anywhere else in the UI then Cmd+Enter is the way to go.

[2016-08-01 12:18] #1856 closed, assigned to aditikul

[2016-08-01 12:20] aditikul commented on #1911
@danielpigan Can you please check that the shortcut is working for you now? Thanks.

[2016-08-01 12:28] aditikul commented on #1945
@BlueInt32 @mdaloia @tribou @gogonutsss @ohadmuch You can open a request in a new tab with Cmd/Ctrl+Shift+Click when you select a request in the sidebar. You can also open the same request in multiple tabs now. This should help. We allow opening the same request in multiple tabs to give people freedom to add modifiers/compare etc while working.

[2016-08-01 12:30] aditikul commented on #1973
@abhijitkane Ok adding to the roadmap.

[2016-08-01 12:31] aditikul commented on #1975
@davenewza We're working on this and should be posting an update pretty soon. Thanks for reporting the issue.

[2016-08-01 12:33] aditikul commented on #1981
@sevo1 We've updated the icon to have clear color differences. Let me know what you think. Thanks for reporting the issue.

[2016-08-01 12:41] aditikul commented on #2104
@barbu110 I assure you that we care. We've pushed a couple of updates over the last few months that improves legibility on the app, however there are several resolutions and screen sizes that we need to take into account. We are also going to push another update very soon which will allow you to customize the view further and increase/decrease viewport as needed. If you can share screenshots of ho

[2016-08-01 12:45] barbu110 commented on #2104
![image](https://cloud.githubusercontent.com/assets/7272395/17294314/ae9e3db4-57fe-11e6-8dd2-aabc290a4708.png)

This is how it looks my screen. Basically, I would increase the `font-size` (for my screen) with like `4px` at lease so it would be `15px - 18px`.

[2016-08-01 12:45] mdaloia commented on #1945
@aditikul thanks for pointing that out but I (personally) think that it isn't a complete solution because:
- No chance to configure opening in a new tab by default (I need to remember to press a combination of keys each time).
- It still doesn't warn you when you have an unsaved open tab that you will lose the info (when you modify a saved request and select another saved request it opens in a new

[2016-08-01 12:50] aditikul commented on #1945
@mdaloia Noted. For the second point, let me check on that. The app should definitely warn you and prevent you from losing unsaved changes. Thanks for pointing it out.

[2016-08-01 17:39] justinthings commented on #1137
+1

[2016-08-01 19:10] cpiggott opened #2214 "Call to localhost:8000 "Could not get any response""
I recently updated the Postman Mac application to 4.5.0 and I'm currently having issues getting a response from localhost.

I have tried multiple ports and restarted everything that I thought could be an issue(Postman, local Apache, server, etc.) I don't believe it is an issue with my server or apache. I can reach the localhost with Postman by using [ngrok](https://ngrok.com/) to POST/GET the URL

[2016-08-01 19:12] abhijitkane commented on #2214
@cpiggott Can you check also check the Postman console (View -> Show Postman Console) for any errors?
Also, are you able to make requests to non-localhost endpoints? (`GET http://echo.getpostman.com/get`)

[2016-08-01 19:24] cpiggott commented on #2214
@abhijitkane I am able to connect to `http://echo.getpostman.com/get` and any other site, it's only happening with localhost.

Error: connect ECONNREFUSED 127.0.0.1:8080 is getting logged.

[2016-08-01 19:46] abhijitkane commented on #2214
@cpiggott Can you try adding these two headers in the Postman UI:

[code]

[2016-08-01 19:47] cpiggott commented on #2214
@abhijitkane Tested with the errors, still getting the same error.

[2016-08-01 19:51] cpiggott commented on #2214
@abhijitkane I ran a NodeJS server on port 9000 and I'm getting the expected response from it.

It may be something to do with Laravel, but I ran it this morning before updating and had no problem with my Laravel test server.

[2016-08-01 19:52] pollenflugkalender opened #2215 "Header "Content-Type" is not exported at all (collection v2) or not exported properly (collection v1)."
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Chrome app
3. OS details: Windows 7 Enterprose 64bit
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: seems to be a new bug.
6. Expected behaviour:

There seems to be a problem with the export of headers.
### 1. Collection v1:

The exported json of the header "Content

[2016-08-01 19:57] abhijitkane commented on #2214
Are there any error/debug logs printed by your laravel server?

[2016-08-01 20:08] cpiggott commented on #2214
Nothing error/debug is being logged.

I can reach localhost:8080 from Chrome, but not Postman.

[2016-08-01 20:12] czardoz commented on #2214
@cpiggott Hope you don't mind me jumping in!
Does it also happen if you use `127.0.0.1` instead of `localhost`? Surprisingly, the error shown is a "ECONNREFUSED" which means that Postman could not even connect to the server.

[2016-08-01 22:25] shamasis commented on #2207
Very little information for me to start with. :-/
1. are you on same wifi network on phone and computer?
2. can you ping your phone from computer and vice versa?
3. have you set correct ports in both device and postman app?

[2016-08-01 22:30] shamasis commented on #2064
@iMacTia - it's out in mac app v4.5.0 👍 closing issue

[2016-08-01 22:30] #2064 closed, assigned to shamasis

[2016-08-01 22:31] shamasis commented on #914
@skanekal - can you try once using the latest Mac app (v4.5.0)?

[2016-08-01 22:35] shamasis commented on #533
The original use case posted in issue, seems a bit misaligned with how things can be done. Async script will causing a request retry does not fit in. Instead, we need to explore alternatives such as delay in requesting or other such workarounds.

The solution https://www.getpostman.com/docs/workflows solves most part of it though

[2016-08-01 22:38] shamasis commented on #542
cc @czardoz

[2016-08-01 22:42] shamasis commented on #697
https://www.getpostman.com/docs/workflows

From Postman v4.5+ `postman.setNextRequest('request-name')` is supported in pre request script, but it still would request the current URL and then move to the request set from script.

Using `{{variables}}` in URL seems to me as a good solution

[2016-08-01 22:44] shamasis commented on #719
For remote schema, what @irhabi suggested seems the best way to go. Nevertheless, we are also looking into scope of bundling local schemas with Collection itself. It is though a long-term prospect.

[2016-08-01 22:46] shamasis commented on #953
Postman v4.5+ onwards, all contexts are separated. Providing a more reliable script environments. As such, Newman and Postman apps should behave uniformly by not retaining global variables between consecutive requests.

[2016-08-01 22:46] #953 closed

[2016-08-01 22:51] #1040 closed, assigned to shamasis

[2016-08-01 23:00] shamasis commented on #555
@Bubelbub - seems like in Postman v4.5+ the app does not crash when uploading large files in form-data mode. The binary mode is still crashing though. @numaanashraf @czardoz

[2016-08-01 23:03] shamasis commented on #1188
seems like in Postman v4.5+ the app does not crash when uploading large files in form-data mode. The binary mode is still crashing though.

[2016-08-01 23:05] shamasis commented on #1843
seems like in Postman v4.5+ the app does not crash when uploading large files in form-data mode. The binary mode is still crashing though.

[2016-08-01 23:06] shamasis commented on #2112
seems like in Postman v4.5+ the app does not crash when uploading large files in form-data mode. The binary mode is still crashing though.

[2016-08-01 23:07] shamasis commented on #1946
Status:

Request:
- form-data mode: fixed
- binary mode: wip

Response: underlying streams ready. need to tweak features to not consume response as a string, instead use Buffer. That may affect a number of features around preview and other such features.

[2016-08-01 23:08] shamasis commented on #2191
Fixed. :-) Thanks for reporting.

[2016-08-01 23:08] #2191 closed, assigned to shamasis

[2016-08-01 23:20] centur commented on #1487
@aditikul it was ok on Windows before as I mentioned

[2016-08-02 00:28] stramel commented on #697
@shamasis Is there a reason that you wouldn't support making a request before the one you are on?

[2016-08-02 03:17] robhicks opened #2216 "4.5.0 response body color are wrong"
I just upgraded and the response body is a grey background with black text.
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac
3. OS details: OSX v 10.11.6
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: Recent - due to upgrading
6. Expected behaviour: see pics
7. Screenshots (if applicable)

Steps to reproduce the

[2016-08-02 04:31] czardoz commented on #2216
@robhicks, is there a `Content-Type` header present in the response? If yes, can you share the value of the header?

[2016-08-02 06:38] binderclip opened #2217 "4.5.0 could not get reponse when using self-signed SSL certificates with client certificate"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Map app
3. OS details: 10.11.6
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: Always, after upgraded to 4.5.0
6. Expected behaviour: Could trust self-signed SSL certificates. (Just turning off "SSL certificate verification" the nginx would say "No required SSL certific

[2016-08-02 07:23] canine-afficionado commented on #2210
This has been rectified in 4.5 thank you

[2016-08-02 07:23] #2210 closed, assigned to nobody

[2016-08-02 07:45] abhijitkane commented on #2217
@binderclip Can you attach a screenshot of the console too?

[2016-08-02 07:46] shamasis commented on #697
Hope I can give an analogy from programming languages. 😊

When you've reached the pre request of an item and then executing something else from there, it is like going inside an if condition and then executing the else block! It would be super confusing to maintain and read.

There has to be a better way. Something that decides which request to execute even before getting into that request's pre r

[2016-08-02 07:47] abhijitkane commented on #2215
@pollenflugkalender Can you attach a screenshot of what the headers tab of your request looks like in Postman?

[2016-08-02 07:50] #2200 closed, assigned to nobody

[2016-08-02 08:15] gogson commented on #2210
When will the 4.5 version be available ?

[2016-08-02 09:00] binderclip commented on #2217
@abhijitkane

![console_ss](https://cloud.githubusercontent.com/assets/8187479/17322878/552c8e8c-58d2-11e6-995a-41c3b170a57d.png)

![dev_tool_ss](https://cloud.githubusercontent.com/assets/8187479/17322885/5a648620-58d2-11e6-8cd2-ae4668831812.png)

![app_ss](https://cloud.githubusercontent.com/assets/8187479/17322916/5f922652-58d2-11e6-9417-31d458e0379a.png)

[2016-08-02 09:09] czardoz commented on #2217
@binderclip Have you set SSL verification to off in your settings?

[2016-08-02 09:33] binderclip commented on #2217
@czardoz No, if I set SSL verification to off, response could be got but the client cert would not be sent. Response is:

![no-ssl-cer-sent](https://cloud.githubusercontent.com/assets/8187479/17323830/340dec42-58d6-11e6-80ba-eea1aa452bc6.png)

There is a client certificate verification in the server. Chrome's prompt is:

![ssl](https://cloud.githubusercontent.com/assets/8187479/17323937/a7210d5e-5

[2016-08-02 10:29] badgersow opened #2218 "Wrong attribute values in request after last update"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac app
3. OS details: Darwin 95.108.173.176-red.dhcp.yndx.net 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: After today update
6. Expected behaviour: Par

[2016-08-02 10:39] abhijitkane commented on #2218
@czardoz
`(new sdk.Url('http://httpbin.org?a=(c==d)')).getRaw()` returns `"http://httpbin.org?a=(c"`

[2016-08-02 11:49] sdnts commented on #2186
Hey @sweetw0r, if you can reliably reproduce this, can you attach a screenshot of the Console logs (View->Toggle Dev Tools for the Mac app) along with it?
I'm not able to reproduce this, so it would also help if you could tell us if you were doing something specific when this happened.
Thanks.

[2016-08-02 12:05] czardoz commented on #2218
@badgersow Thanks for reporting this, the bug has been fixed, and should be out in the next release :)

[2016-08-02 12:07] Redsandro commented on #1170
@aditikul Do I need to select it somewhere, or is the theme a one-size-fits-all compact/legible version?

![image](https://cloud.githubusercontent.com/assets/1702193/17327794/58a4a1d4-58ba-11e6-82a4-dfe3a566c49f.png)

I am now on `4.4.3` / `linux / x86-64` / `Chrome 54.0.2810.2`.

It s better than before. Beautiful on high-res. Still spacey on smaller netbooks, but you can't have it all.

Because

[2016-08-02 12:30] aditikul commented on #1170
@Redsandro Good to know it's better! We're working on improving it further too. Yes we are working on something like a presentation mode that would be full-screen etc. however no ETA on that yet. To solve the scrolling issue to jump btw req and res, you can use the shortcut Cmd+Up or Cmd+Down for now. We are looking at better solutions for this too.

[2016-08-02 12:34] aditikul commented on #2098
@phillip-haydon @abhijitkane You should be able to click and drag to select and copy the URL now. Earlier the URL got selected automatically. Let me know if this is working for you now.

[2016-08-02 12:37] Redsandro commented on #1170
Those shortcuts don't seem to work for me (Linux). Tried Ctrl, Alt and Shift. They are not in the settings/shortcuts either. Do I need to force update 4.4.3 to a newer version?

It's probably a good idea to (have the option to) automatically jump to the res when it comes in after ctrl+enter or send.

[2016-08-02 12:39] phillip-haydon commented on #2098
Thanks a lot, will update tomorrow at work and give it a whirl.

<3 Thanks for making this awesome app.

[2016-08-02 14:15] badgersow commented on #2218
Many thanks, @czardoz.

When this release should be available?
Is there any workaround right now?

[2016-08-02 15:43] jhiemer commented on #2216
@czardoz same issue over here. Using Spring Data REST endpoint, which responds with:

`Content-Type →application/hal+json;charset=UTF-8`

Layout not to good atm. :-)

[2016-08-02 15:50] rubenjleon opened #2219 "add a pause or on/off toggle button to temporarily stop sending an individual parameter with the request"
1. Postman Version:   Version 4.5.0
2. App (Chrome app or Mac app):  Mac application
3. OS details: 10.11.6

Feature Request:
![screen shot 2016-08-02 at 8 41 07 am](https://cloud.githubusercontent.com/assets/7998624/17334987/2c3ff1ca-588d-11e6-8392-4d607c68e360.png)

In the attached image, there are two icons in the far right allowing a user to move their parameters up and down vertically for bet

[2016-08-02 16:09] knarz commented on #2214
I think I'm hitting a similar (the same?) problem.

After upgrading to `4.5.0` from `4.4.3` postman seems to be unable to talk to one of the daemons that I have running locally whereas a simple `curl` still works as expected. After downgrading to the previous version I can talk to the daemon in question normally again.

Response headers from the daemon that does _not_ work with `4.5.0`

[code]

Re

[2016-08-02 17:38] cpiggott commented on #2214
@czardoz If I hit 127.0.0.1 I get a 200 OK.

If I try and hit 127.0.0.1:8080 I get the same response.

[2016-08-02 18:57] monkpit commented on #907
So how many years does it take to get a response?

[2016-08-02 19:04] ctorresmx commented on #2217
👍 I am having this issue as well after upgrading to 4.5.0, apparently the SSL client certificate is no longer being sent in the request. I am using the Mac App

[2016-08-02 19:08] tdurden82 commented on #2217
I am also having the same issue with Mac App after upgrading to 4.5.0
With or without SSL Cert verification enabled.
Client cert was working in the previous version and the client cert is verified as working through other means.

[2016-08-02 20:24] shamasis commented on #2217
We are actively working on this.

[2016-08-02 21:23] zdegner1 commented on #213
+1 We have a collection per micro-service and managing all of the environments is a bit of a problem. If a collection could be associated with zero or more environments that would be perfect.

An example would be, a remote team publishes the "ABC Service" collection which is associated with the "ABC Service - Integration" and "ABC Service - Release Candidate" environments. Other teams can easily s

[2016-08-02 21:53] capicue commented on #2214
I ran into this issue as well. It seems that Postman converts localhost to 127.0.0.1 before making the request. I happened to be serving a Rails app with Puma that was not listening on 127.0.0.1, only [::1]. They have since fixed this in Puma (https://github.com/puma/puma/issues/782), but it seems like this will at first look like a Postman issue whenever a server disregards ipv4.

My symptoms wer

[2016-08-02 21:59] bbronshteyn commented on #1663
I am seeing same issue pop up in 4.5.0. Funny thing if I generate code for cUrl or Shell cUrl the generated code has correct signature and requests go through.

[2016-08-03 05:28] rohin opened #2220 "Runnr not working"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac App
3. OS details: OSX 10.11.6
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour: The Test Collection should have run using runnr
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2016-08-03 05:57] czardoz commented on #2220
@rohin, can you tell us more about the collection? 1. How many requests does it have?
2. Do you use environments with it?
3. Do you use iteration data files? If yes, do you use CSV or JSON?
4. How many iterations have you configured it for?
5. Do you see any error show up as a red alert in the runner window?
Any other details you can give will help too!

[2016-08-03 06:01] rohin commented on #2220
Let me try and answer
1. How many requests does it have?  - Collection has 3 sub-folder, sub-folder 1 has 22 requests which I am trying to execute
2. Do you use environments with it? - When I run single iteration I use environment, when I run multiple iterations I use a CSV file. I tried with and without environment.
3. Do you use iteration data files? If yes, do you use CSV or JSON? CSV when runn

[2016-08-03 06:05] czardoz commented on #2220
A screenshot of your devtools console will help a lot, even if it contains no errors.

[2016-08-03 06:13] rohin commented on #2220
<img width="1135" alt="screen shot 2016-08-03 at 11 40 47 am" src="https://cloud.githubusercontent.com/assets/369916/17355584/33ceb6e6-596f-11e6-94db-6899d680b13c.png">

The screenshot should show you the setup and the dev console setup as well.

[2016-08-03 07:29] czardoz commented on #2220
Awesome, thanks! We're looking into the issue.

[2016-08-03 08:08] stormposse opened #2221 "Mac app v4.5 get file dialog to save response body instead of displaying in Body tab when response Content-Type=*/*"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac
3. OS details: Yosemeite 10.10.5
4. Is the Interceptor on and enabled in the app: n
5. Did you encounter this recently, or has this bug always been there: just now after 4.5.0 install
6. Expected behaviour: expect to see response body in Body tab of response section, not a download dialog
7. Console logs (http://blog.getpostman.com/2014

[2016-08-03 09:54] pgg opened #2222 "Mac app 4.5.0 Collection runner folder, ui environment, folder re-arrange, sugar js"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Since 4.5.0
6. Expected behaviour: More complex than just expected
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrom

[2016-08-03 10:24] grace-spitzer-wong opened #2223 "Postman unable to look up things or thing graphs since update"
Hi

I've been using Postman to look up thing graphs and things but for an unknown reason since the recent update, I'm getting this error message and it takes a long time to send and get the error:

Could not get any response
There was an error connecting to xxx
Why this might have happened:
The server couldn't send a response: - Server is working
Ensure that the backend is working properly - all c

[2016-08-03 10:29] czardoz commented on #2222
@pgg Can you elaborate on the SugarJS bit? What exactly is not working? Can you post a sample code snippet that does not work?

[2016-08-03 12:40] conteit commented on #2216
It's not only a layout issue: also the toolbar for Pretty/Raw/Preview, ... is not displayed.

It seems that new postman no more handles application/hal+json content type.

[2016-08-03 12:52] czardoz commented on #2216
@conteit You're right, that's the bug. We're working on a fix as we speak :)

[2016-08-03 12:59] pgg commented on #2222
Maybe I am just using it wrong, not all that familiar with SugarJS. In the Pre-request Script:

`Object.every({a:'a',b:'b'}, /[a-z]/);` fails with:

There was an error in evaluating the Pre-request Script:  TypeError Object.every is not a function. And:

`Sugar.Object.every({a:'a',b:'b'}, /[a-z]/);` fails with:

There was an error in evaluating the Pre-request Script:  ReferenceError Sugar is not

[2016-08-03 13:21] TTN-js commented on #2223
I have this issues as well (Using to test API). It looks like its only a problem on the packaged app. I tested things on the chrome extension and things seem to work fine.

Has your colleague updated?

[2016-08-03 13:39] pdeschen commented on #285
+1

[2016-08-03 13:54] czardoz commented on #2222
@pgg `Object.every` seems to be a new method added in Sugar v2.x.x. For backwards compatibility, Postman's sandbox contains Sugar v1.x.x.

Did any of your existing scripts stop working after upgrading to 4.5.0?

[2016-08-03 13:56] davereimer commented on #2222
I am also seeing the same issue with the Sugar Date functions.

[code]

This is a Sugar v1.x.x function and it was working before I upgraded to 4.5.0

[2016-08-03 14:52] DerFlash commented on #912
Thanks @abhijitkane ! I updated to Postman 4.5.0 today and wondered why I got an error because I was still using X2JS (seems removed now) :-)

xml2Json() works like a charm!

[2016-08-03 15:36] mayken commented on #2223
i have the same problem. v4.5.0

[2016-08-03 15:39] pgg commented on #2222
Same for:

[code]

Which is a v1.5.0 feature . . .

[2016-08-03 15:41] TTN-js commented on #2223
Probably related to issue #2217 and #2214. Looks like they are working on it.

[2016-08-03 15:44] grace-spitzer-wong commented on #2223
Wanted to test on Chrome extension but for some reason when I try to get the extension, it won't let me as I have the app installed.

[2016-08-03 15:46] grace-spitzer-wong commented on #2223
@TTN-js thanks for flagging the associated issue.

[2016-08-03 15:48] TTN-js commented on #2223
@Grace-W That's weird. Maybe uninstall the packaged app and get the chrome extension for the time being?

[2016-08-03 16:28] benhamill opened #2224 "Dark Theme Response Bodies"
1. Postman Version: 4.5.0
2. App: Mac App
3. OS details: OS X 10.10.5 (14F27)
4. Is the Interceptor on and enabled in the app: I don't know.
5. Did you encounter this recently, or has this bug always been there: Showed up after updating today.
6. Expected behaviour: The dark theme should use light text on a dark background.
# Repro Steps
1. Switch to the dark theme.
2. Make a request that will end

[2016-08-03 16:43] ticklemepierce commented on #1104
+1

[2016-08-03 18:59] MichaelJGW commented on #448
+1

[2016-08-03 20:10] bhonnegowda commented on #2217
downgraded to 4.4.3 temporarily.

[2016-08-03 20:19] abhijitkane commented on #2224
@benhamill This is happening due to specific Content-Type headers in the response. We'll push a fix for this soon. Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2221

[2016-08-03 20:19] #2224 closed, assigned to nobody

[2016-08-04 02:15] benhamill commented on #2224
The content type in the response for me was `application/hal+json`.

And the symptom was very different than that described in #2221. Can you go into a bit more detail about how they're related?

[2016-08-04 08:49] DerFlash opened #2225 "Postman 4.5.1 - Behind proxy"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac app
3. OS details: macOS 10.11.5
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: recently (update)
6. Expected behavior: Should work behind proxy out of the box
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2016-08-04 09:08] DerFlash opened #2226 "Postman 4.5.1 - postman.getResponseCookie not working"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac app
3. OS details: macOS 10.11.5
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: recently (update)
6. Expected behavior: Should return the cookie
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2016-08-04 10:34] jkrenge opened #2227 "Collection runner fails when a header is deactivated"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 15.6.0 / x64
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour: Collection Runner should execute tests and if something fails tell me so
7. Console logs: -
8. Screenshots (if applicable): see below
## Steps to

[2016-08-04 10:57] hanyghazal opened #2228 "import test run in collection runner with pervious test execution that exported before not run and give me error"
1. Postman Version: 4.4.3
   1. App (Chrome app or Mac app):Chrome app
   2. OS details: windows 7
   3. Is the Interceptor on and enabled in the app: not enabled
   4. Did you encounter this recently, or has this bug always been there: no this is first time
   5. Expected behavior:  should import any previous test run that exported in any old version because no meaning  and not make sense to make

[2016-08-04 11:22] grace-spitzer-wong commented on #2217
@shamasis any update on how this is going? Can't work without Postman.

[2016-08-04 11:25] shamasis commented on #2217
@Grace-W
- we have determined the behaviour of Chrome on OSX, WIndows and Linux (this took a while)
- we are in the process of mimicking that behaviour (as close as possible) for upcoming release - hopefully in a few days. that should unblock everyone.
- post that, we would look into how this certificate management workflow can be made better and more integrated with the app.

[2016-08-04 11:26] grace-spitzer-wong commented on #2217
@shamasis Thanks - do you think it will be fixed by Monday next week or is that too optimistic?

[2016-08-04 11:42] naterkane commented on #822
I have updates to raml-flattener that need publishing that have to do with it currently blowing up if you use subschemas in jsonschema with $ref.

[2016-08-04 12:08] czardoz commented on #2217
@Grace-W we definitely plan to fix this before Monday :)

Also, you should be able to use the Chrome app in the meantime: https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop

[2016-08-04 13:04] grace-spitzer-wong commented on #2217
@czardoz Thanks for getting back to me- I have tried to use the extension but for some reason it only lets me launch the app?

[2016-08-04 14:47] evilC commented on #1137
A little update on the / Chrome NTLM issue:
Using this version of Postman seems to work with the latest chrome: https://chrome.google.com/webstore/detail/postman-launcher/igofndmniooofoabmmpfonmdnhgchoka?utm_source=chrome-ntp-icon

[2016-08-04 15:02] danielmcq commented on #2104
I would like to add that a fix for this would be appreciated by users who have very high resolution screens as well.
It would be nice if changing the font size worked like it already does in Chrome, where you can use `Ctrl`+`+` (`⌘`+`+`) or `Ctrl`+`-`(`⌘`+`-`) to increase or decrease.

[2016-08-04 15:12] danielmcq commented on #2221
I am having the same issue.
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac
3. OS details: El Capitan 10.11.6
4. Is the Interceptor on and enabled in the app: ?
5. Did you encounter this recently, or has this bug always been there: After upgrading to 4.5.0
6. Expected behavior: Expect to see response body in Body tab of response section, not a download dialog

One thing that is diffe

[2016-08-04 15:15] francknouama opened #2229 "Postman 4.5.0 - Frozen and blank MainWindow after call to my API for a response body size about 16000 lines"
1. Postman Version: 4.5.0
2. App (Chrome app or Mac app): Mac App
3. OS details: Mac OS Yosemite
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: It only happen since I applied the last upgrade to Postman
6. Expected behaviour: Getting the response displayed into the response panel as before
7. Console logs (http://blog.getp

[2016-08-04 16:33] a85 commented on #2219
@shamasis is this something that can be fixed through the runtime?

[2016-08-04 16:34] jpletner commented on #2214
Same issue here. Works with http://[::1]:3000. Thank you @capicue!!!

[2016-08-04 18:23] shamasis commented on #2219
@a85 it's a matter of hooking it up using UI and little tweak in runtime.

[2016-08-04 19:50] a85 commented on #2227
Thanks for the report. We are working hard on pushing a fix asap.

[2016-08-04 19:52] a85 commented on #2223
Thanks for the report. We are working hard on fixing these asap.

[2016-08-04 19:56] a85 commented on #907
This is on our immediate roadmap now. We needed to do several things to make this possible. Subfolder support requires changes in the following:
1. Data format for collections
2. Collection runner (How Postman executes collections)
3. Internal data store and syncing
4. Postman UI

We just pushed an update 4.5 on the Mac app that has the new Postman Runtime which takes care of 1 and 2. We are worki

[2016-08-04 19:58] #2098 closed, assigned to abhijitkane

[2016-08-04 20:18] kabilanvk commented on #1663
I see the same issue 4.4.3 version. Here is my error message.
{
  "message": "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.\n\nThe Canonical String for this request should have been\n'POST\n/int/users\n\ncontent-length:66\ncontent-type:application/json\nhost:s5fzhotu

[2016-08-04 21:26] sweetw0r commented on #1951
Almost the same happened when you try to bulk edit headers:
1. Go to bulk edit
2. Make you changes
3. Go to body and check it
4. Go back to headers and check them

Expected:
Changes in the headers should remain

Actual:
Changes in the headers are gone.
![postman_headers_bulk](https://cloud.githubusercontent.com/assets/12688470/17418826/51ae84e4-5a4f-11e6-9da3-59cb97866a47.gif)

[2016-08-04 22:16] a85 commented on #1719
@aditikul The Cmd+Up/Cmd+Down shortcuts do not work after a click in the sidebar area. Can you check this once?

[2016-08-04 22:24] a85 commented on #1205
@theonestep4 Yep. On our roadmap.

[2016-08-04 22:28] #2171 closed, assigned to nobody

[2016-08-05 00:51] rambino commented on #285
+1

[2016-08-05 01:41] phillip-haydon commented on #2098
Whoops I forgot to reply. Yes it seems to work fine now. Thanks a lot!!!!

[2016-08-05 07:22] badgersow commented on #2218
@abhijitkane @czardoz

Guys, could you please answer to my comment above?

[2016-08-05 08:33] conteit opened #2230 "4.5.0: Tests fail on JSON.parse(responseBody)"
Since I've updated Postman to version 4.5.0 I get this error on any test that tries to parse the request body (see screenshot).

![schermata 2016-08-04 alle 12 04 36](https://cloud.githubusercontent.com/assets/1316540/17430762/72f1fb0c-5af6-11e6-81df-9de8473add23.jpg)

I'm running Postman Mac App on MacOS El Captain 10.11.6. No interceptor is enabled, no evidence in logs.

The response body is a s

[2016-08-05 08:41] czardoz commented on #2230
@conteit Could you post a screenshot of your DevTools? You can open it in the "View" menu of the app.

[2016-08-05 08:42] abhijitkane commented on #2230
@conteit Also, can you try changing the URL to https://gist.githubusercontent.com/abhijitkane/9d465c7fd56edf73cd5b4eede8ea1db5/raw/fedf75aef76020a2dff27eb944b51c4c2b83a4f3/gh2230.json and trying?

[2016-08-05 12:05] conteit commented on #2230
@czardoz
![schermata 2016-08-05 alle 14 04 59](https://cloud.githubusercontent.com/assets/1316540/17436172/ad84cc80-5b15-11e6-9907-c1e0bf2deae0.jpg)

[2016-08-05 12:14] conteit commented on #2230
@abhijitkane: The URL you provided me actually works.
![schermata 2016-08-05 alle 14 09 59](https://cloud.githubusercontent.com/assets/1316540/17436294/54459766-5b16-11e6-8ebc-d65975559fad.jpg)

The environment variable is correctly set. The Content-Type in this case is `text/plain`.

[2016-08-05 13:41] calebrepkes commented on #1772
Hey @abhijitkane ,

Finally got around to confirm it. And yes it works perfectly now with 127.0.0.1. Thnx and keep up the great work.

[2016-08-05 15:54] Swazimodo commented on #1137
@evilC  this workaround works but I wish there was a way to do this in the packaged version of this app

[2016-08-05 16:20] enderim commented on #739
+1. So what is the latest situation on this implementation ?

[2016-08-05 19:26] shamasis commented on #1946
Binary mode should now play well - Mac app v4.5.1+

[2016-08-05 19:27] shamasis commented on #2217
Hey - try out 4.5.1+ to get the client certificate feature.

[2016-08-05 19:28] shamasis commented on #914
Try 4.5.1 Mac app - we uploaded quite many large files using it. A confirmation here would help us close this issue.

[2016-08-05 19:30] shamasis commented on #2230
We released 4.5.1 with more intelligent checks for content type header. Can you give it a spin and let us know if it works?

[2016-08-05 19:31] shamasis commented on #2229
4.5.1 should fix this. Seems like JSON.parse was blocking things with large string when sent to Postman Console (a newly introduced feature to see what request and response is being sent by postman). So, we now truncated it. That seems to have solved the issue - at least in our tests.

[2016-08-05 19:40] shamasis commented on #1963
So, until we add an assertion library inside postman, the behaviour of postman scripts seem to me accurate. That's why I wrote the post - http://blog.getpostman.com/2015/09/29/writing-a-behaviour-driven-api-testing-environment-within-postman/

I would love to close this issue now and restart discussion once we have our own assertion library inside postman script sandbox. Let me know if it's okay t

[2016-08-05 19:43] shamasis commented on #2227
Upgrade to 4.5.1 - it should now stop sending disabled headers. Give it a spin and drop a feedback here so that I can close the issue.

[2016-08-05 19:45] shamasis commented on #2225
Can you try by settings your proxy configuration in environment variables? We are working on providing a configuration for this. The global proxy is inside chrome and we need to have ability to set or do separate configuration in app.

[2016-08-05 19:46] shamasis commented on #2223
This is addressed in 4.5.1. Closing as duplicate.

[2016-08-05 19:46] #2223 closed, assigned to nobody

[2016-08-05 19:52] shamasis commented on #2222
1. Fixed in 4.5.1
2. There's setting to turn on or off the persistence of variables post a run.
3. Feature request we have in our mid term roadmap.
4. We're following this. This has been reported in other issues. Duplicate in this thread.

Hope closing this issue is now okay. If point 1 still does not work in 4.5.1, feel free to reopen.

[2016-08-05 19:52] #2222 closed, assigned to czardoz

[2016-08-05 20:01] mlschechter opened #2231 "Query parameters without a value assigned an explicit empty value"
1. Postman Version: 4.5.1
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: Cannot get the interceptor to work, so I'm thinking "no"
5. Did you encounter this recently, or has this bug always been there: Was working correctly in 4.4.3, and broken in 4.5.1
6. Expected behaviour: Query parameters that do not specify a value should be

[2016-08-05 20:08] shamasis commented on #2214
Issue is fixed in 4.5.1 release. If I get one confirmation, I can close this issue. Let me know.

[2016-08-05 20:12] shamasis commented on #2215
@czardoz cc

[2016-08-05 20:13] shamasis commented on #2216
Yay! I see 4.5.1 has this fixed. Can anyone else confirm? Then I'll close this.

[2016-08-05 20:13] shamasis commented on #2218
It's out in v4.5.1.

[2016-08-05 20:14] mikehedman commented on #1963
@shamasis - I would vote to not close this ticket.  Yes, there have been a number of issues talked about in this thread, specifically what to do if there is a failure.  But the original, real issue, is that errors are not visible after running a collection.  I'm drawing a distinction between an error (for example, a syntax error in your test code), and a failure (expected a 200 but got a 404).  Wh

[2016-08-05 20:26] tdurden82 commented on #2217
@shamasis I've added a host/cert/key in Preferences->Certificate but it doesn't appear to be sending the client cert to the server. Do I need to make any other changes to enable the cert?

[2016-08-05 20:28] shamasis commented on #2226
Seems it's working. Need to know more why it's not working for you. Can you pass more details such as maybe a scaled down collection that we can import and reproduce the result.

[2016-08-05 21:37] dijitalmunky opened #2232 "XMLHttpRequest (XHR) is broken in pre-request scripts in v4.5.1"
In  the latest version of Postman App on Mac OSX, the code `new XMLHttpRequest()` return a new empty object, not an actual XHR object as expected.

Version/App Information:
1. Postman Version: 4.5.1
2. App (Chrome app or Mac app): Mac App
3. OS details: OS X El Capitan 10.11.6 (15G31)
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always bee

[2016-08-06 02:19] matart15 opened #2233 "javascript window object is not defined in version 4.5"
## javascript `window` object is not defined in version 4.5

pre-request code was working on 4.4

[code]

after version 4.5 this code gives error

[code]

 if i downgrade to 4.4.3 It is still working
1. Postman Version: 4.50 and 4.5.1
2. App (Chrome app or Mac app): Mac app
3. OS details: OSX 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has thi

[2016-08-06 06:44] rohin commented on #2220
It is working for me now post the 4.5.1 update. Gr8!!

[2016-08-06 06:44] #2220 closed, assigned to czardoz

[2016-08-06 09:01] jkrenge commented on #2227
Nice. ✌🏼️

[2016-08-06 09:03] shamasis commented on #2233
Window, DOM and jquery has been marked as deprecated since long. It has now been discontinued.

Are you using the window object to store something that would be available through a run? If yes, use environment variables. Closing this. We may still continue the discussion to address your use.

[2016-08-06 09:03] #2233 closed, assigned to nobody

[2016-08-06 09:08] shamasis commented on #2232
Postman scripts were not supposed to make requests. The request itself  is there to do that. Since we now run the scripts within underlying NodeJS scope, XHR is not longer valid.

Instead of using an XHR call to fetch variables, can you add an actual request to fetch the variables of possible?

[2016-08-06 09:10] shamasis commented on #2231
Checking.

[2016-08-06 15:58] dijitalmunky commented on #2232
I could, however, the tokens that we get are very short lived (60 seconds), so unless there is an automatic way to chain requests together, the pre-request script is ideal.  Here is actually what we do in the pre-request script currently:
1. get the current value of the token
2. check the expiry date of the token
3. if the token is still good, return from the script
4. if, not, request another tok

[2016-08-06 16:13] dijitalmunky commented on #2232
Hrm...just had a look at the Authorization section again (we originally tried it and while it worked, it had some drawbacks).  However there are still few items that make it less than desirable for us:
1. You seem to need to manually get a new token once the current one expires (this means we need to do this often because of our short expiry).  It would be nice if once this is set up, it could sim

[2016-08-06 16:33] shamasis commented on #2231
Hey - this issue has been identified and is being tested as I type this. Once this, and a bunch of others get tested, we will release it. Should be sometime next week.

[2016-08-06 18:47] knarz commented on #2214
Doesn't seem to fix it for me.

[2016-08-06 19:03] czardoz commented on #2214
@knarz can you tell us a few more details?
1. What framework do you use?
2. How do you start the server?
3. What happens when, instead of localhost you use one of these values?
   1. `127.0.0.1`: example: `http://127.0.0.1:8080/my/url`
   2. "::1" , example: `http://[::1]:8080/my/url`
4. Contents of your `/etc/hosts` file. (Feel free to leave out sensitive entries, I'm mostly interested in the `lo

[2016-08-06 19:41] knarz commented on #2214
Sure.
1. The daemon that I cannot contact with the new version is written in Java, not sure which framework. As stated before, a simple `curl` works just fine, as does version `4.4.3`.
2. `java -jar server.jar`.
3. Neither of those make the request succeed.

[code]

[2016-08-07 13:14] robhicks commented on #2216
Fix in 4.5.1 confirmed.

[2016-08-07 13:16] robhicks commented on #2216
By the way, the content type that was being returned in the response used to open this issue was application/vnd.fs-idx-projecttemplate-v1+json not application/hal+json

[2016-08-07 13:32] shamasis commented on #2216
+json is detected as json now in any type. 😊 Closing the issue.

[2016-08-07 13:32] #2216 closed, assigned to czardoz

[2016-08-07 13:45] czardoz commented on #2231
Has been fixed with this change: https://github.com/postmanlabs/postman-collection/pull/82

The fix will be out in the next release :)

[2016-08-07 18:49] conteit commented on #2230
Sorry for the delay.

Unfortunately it does not work.
![schermata 2016-08-07 alle 20 45 47](https://cloud.githubusercontent.com/assets/1316540/17464491/5399b0b0-5ce0-11e6-9529-eb8485c99b2b.jpg)

Still nothing in DevTools.

[2016-08-07 18:51] abhijitkane commented on #2230
@conteit Can you attach a screenshot with the Body response tab selected instead of Tests?

[2016-08-07 19:14] conteit commented on #2230
![schermata 2016-08-07 alle 21 12 57](https://cloud.githubusercontent.com/assets/1316540/17464631/cbe56fac-5ce3-11e6-8d3f-02cd81ed84a7.jpg)

[2016-08-07 19:16] abhijitkane commented on #2230
And with the raw mode selected instead of pretty? My guess would be there's some non-printing character which is failing the JSON.parse in your test script.

[2016-08-07 19:18] conteit commented on #2230
![schermata 2016-08-07 alle 21 17 16](https://cloud.githubusercontent.com/assets/1316540/17464652/60bc7c92-5ce4-11e6-87f6-46404ce7a466.jpg)

[2016-08-07 19:21] abhijitkane commented on #2230
Can you try `JSON.parse(responseBody.substring(1));`?

[2016-08-07 19:26] conteit commented on #2230
It worked! But I cannot understand why.
![schermata 2016-08-07 alle 21 24 16](https://cloud.githubusercontent.com/assets/1316540/17464690/83ece0ac-5ce5-11e6-80bf-87e1ceebe66a.jpg)

[2016-08-07 19:28] abhijitkane commented on #2230
There's a non-printing character as the first character in your response.

This will print out the ASCII value of the first character as a test:

`tests['ASCII Code for char[0]: ' + responseBody.charCodeAt(0)] = true;`

[2016-08-07 19:40] conteit commented on #2230
There is a "zero-width no-break space" in front of the response, it's something that Microsoft framework uses as byte-order-mark (BOM) according to [this post](http://stackoverflow.com/questions/6784799/what-is-this-char-65279). I have not changed the server implementation so it is something that probably was managed in previous versions of Postman.

[2016-08-08 00:57] matart15 commented on #2233
Yes I am using window to store my functions through other test.
I tried enviroinment variables. But I could not make it work.

I could save environment variable like this.
![screen shot 2016-08-08 at 9 51 11 am](https://cloud.githubusercontent.com/assets/17027219/17466587/e7bc90ec-5d4d-11e6-88bf-583cf0fe402f.png)

And confirmid it on manage env
![screen shot 2016-08-08 at 9 51 47 am](https://cloud

[2016-08-08 01:22] felipecocco commented on #1688
+1

[2016-08-08 07:39] shamasis commented on #2233
With the new runtime, persisting a function through requests is not possible because data goes via IPC and it serialises all variables. We will have to code something to facilitate this.

One question: are you using this while making requests from the builder or are you using it in collection runner? Or both?

[2016-08-08 10:07] abhijitkane commented on #820
@plessbd We've made a few updates to the swagger importer. Variables now have the default value set to an environment variable. Does this make it more user-friendly?

[2016-08-08 11:49] mabuzagu commented on #1263
+1

[2016-08-08 12:44] mlschechter commented on #2231
Thanks for the quick turnaround! Postman is an exceedingly useful tool for us.

[2016-08-08 13:12] yaronn opened #2234 "Collections disappeared after upgrade"
I'm using Postman 0.8.4.8 as an Extension for Chrome 52.0.2743.116 on Mac 10.11.6. My entire collection has disappeared after upgrade to the mentioned Chrome version. Those collections contain history which is very hard to build from scratch... How can I bring it back?

EDIT: In addition to that Postman itself seems broken (cannot send requests)

[2016-08-08 14:25] PFarrell89 opened #2235 "Windows Native App - .addHours returns an error. Works fine in Chrome App"
Forgive me, I'm not super technical:
1. **Postman Version:** win32 10.0.10586 / x64
2. **App (Chrome app or Mac app):** Desktop
3. **OS details:** Windows 10 Professional 64bit
4. **Is the Interceptor on and enabled in the app:** No
5. **Did you encounter this recently, or has this bug always been there:** Only occurs in Desktop App

**"There was an error in evaluating the test script:  TypeError

[2016-08-08 16:49] willemdupreez commented on #1137
This is the only thing stopping me from using this this app. Shame really.

[2016-08-08 18:28] samcook opened #2236 "OAuth 2.0 dialog - cursor jumps to end on keypress in URL fields"
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Chrome
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Unsure
6. Expected behaviour: Cursor doesn't jump to end of URL text field after each keypress
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insi

[2016-08-08 20:44] cpiggott commented on #2214
Update to 4.5.1 fixed the issue for me.

[2016-08-08 22:44] shamasis commented on #2232
Okay. Did you have a look at postman.setNextRequest? Allows you to jump to one request from another. What if you set auth request and jump to that after test and return to where you want?

If that helps, we discuss more.

[2016-08-09 00:17] burithetech commented on #739
+1, we build our app on grant_type password and we need test our api effectively through oauth 2.0 with grant_type password. So needed. :)

[2016-08-09 01:57] dijitalmunky commented on #2232
I did not know about setNextRequest.  I am not sure I am following what you are saying with regards to `What if you set auth request and jump to that after test and return to where you want?`.  It sounds like you are asking if we can trigger the auth request after our main request?  Is this correct?  Or is there a clarification you can make?

[2016-08-09 03:05] matart15 commented on #2233
I am using this for both. In 4.43 this works with collection runner too.

I declare one function in very first test. For example

[code]

And save it to window (if possible global).

Later I have 13 or more requests that include UserModel in response. For each of them I use `Utils.schemaTest(tests, Utils.userSchema, key = "data.0.user")`
It is easier.

I can define `schemaTest` and `userSchema` in

[2016-08-09 07:05] shamasis commented on #2233
You can. Simply save the code as string in an environment variable in first request and eval it in subsequent requests.

[2016-08-09 08:46] benjaminaudet opened #2237 "[FRONT BUG] Post Params Shown In The URL"
1. Postman Version: **4.4.3**
2. App (Chrome app or Mac app): **Chrome App**
3. OS details: **Windows 7 Pro**
4. Is the Interceptor on and enabled in the app: **No**
5. Did you encounter this recently, or has this bug always been there: **Always**
6. Expected behaviour: **When you set params in "POST" mode, the params are shown in the URL**
7. Console logs (http://blog.getpostman.com/2014/01/27/en

[2016-08-09 08:51] sdnts commented on #2237
Hey @benjaminaudet The parameters you are trying to set are in fact URL parameters and are supposed to show up in the URL.
If you're trying to set POST body parameters, try the Body tab right below the URL bar and set them there :)

[2016-08-09 08:58] PFarrell89 commented on #2188
That's what I do when logging in.
I create one request that uses invalid data and another with correct data

[2016-08-09 09:08] KobeLeysen commented on #1154
This should be labeled as a bug.
Newer types of API's use more advanced types of Query parameters.

RQL queries e.g. example.com/objects?in(fieldname,value1,value2,) are failing because this. (https://github.com/persvr/rql)

[2016-08-09 09:10] abhijitkane commented on #1154
@KobeLeysen What version of Postman are you using?

[2016-08-09 09:11] KobeLeysen commented on #1154
4.5.1
OS X 15.6.0 / x64

[2016-08-09 09:11] abhijitkane commented on #1154
Right. The Chrome app (v4.4.3) handles this correctly. We'll be pushing a fix for the Mac app soon.

[2016-08-09 09:12] KobeLeysen commented on #1154
@abhijitkane Thanks for the fast response!

[2016-08-09 09:19] benjaminaudet commented on #2237
Hey ! Thanks you, it wasn't very clear for us.

Thanks again for the fast response

[2016-08-09 09:48] DerFlash commented on #2226
The request are going to an enterprise internal oData service, so unfortunately sharing the collection won't help to reproduce it directly.

I'll try to give as many information as possible by going step by step through the specific requests:

The request is a POST request sending a basic auth header, Accept (application/xml,application/atom+xml), Content-Type (application/atom+xml) and an XML bod

[2016-08-09 09:56] #2237 closed, assigned to nobody

[2016-08-09 09:57] matart15 commented on #2233
I will try that later. For now I stick with v4.4
Thank you.

[2016-08-09 09:59] abhijitkane commented on #2234
Moving from 0.8 to 4.5 will not automatically migrate your collections. You'll need to manually move data (as described in https://www.getpostman.com/docs/migration).

What's the issue you're facing with the new app? Are there any errors you see?

[2016-08-09 10:00] DerFlash commented on #2225
Hey shamasis. I'm not sure what you mean with setting it in environment variables. I did the export in the Terminal.app before running Postman from there, as I showed in the initial post.
I think this may be exactly what you describe as environment variable?!

I also was able to add the export directly to my '.bash_profile', so it would get set automatically/globally when I log into my mac.

But a

[2016-08-09 10:14] yaronn commented on #2234
thanks @abhijitkane! I cannot do the migration instructions since they assume I see the collection now and can export it, but at this point I already see nothing in the collections.

In addition, currently when I type a url and click "send" nothing happens, not sure if related (still talking about the browser extension). However my focus now is to see again my collections.

[2016-08-09 10:18] abhijitkane commented on #2234
What does the Chrome URL bar say when Postman is open? The official Postman extension is `chrome-extension://fdmmgilgnpjigdojojpjoooidkmcomcm/index.html`.

[2016-08-09 10:24] yaronn commented on #2234
it says:

chrome-extension://mkhojklkhkdaghjjfdnphfphiaiohkef/index.html

and help leads to this repository

[2016-08-09 10:25] abhijitkane commented on #2234
That's an unauthorized clone of the app. (https://github.com/postmanlabs/postman-app-support/issues/2101#issuecomment-225519331)

Not sure what we can do to help out here. Closing this as a duplicate of #2101

[2016-08-09 10:25] #2234 closed, assigned to nobody

[2016-08-09 10:51] abdulkareemgs opened #2238 "Multiple scrollbars in UI"
1. Postman ver 4.4.3
2. Chrome app
3. OS details:Win 32
4. Is the Interceptor on and enabled in the app:No
5. Did you encounter this recently, or has this bug always been there:Dont Know
6. Expected behaviour:Single Scroll Bar
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
8. Screen

[2016-08-09 13:19] binderclip commented on #2217
@shamasis Hi, I tried out 4.5.1 and add the client cert/key but it still doesn't work.

Also, the console error message is still `Error:
SSL Error: SELF_SIGNED_CERT_IN_CHAIN`, so if the question is `SSL certificate verification`? Maybe I could send the client cert but don't verify the server cert?

(I would go to learn more about HTTPS, try to build my own HTTPS server and make some tests.)

[2016-08-09 13:39] czardoz commented on #2217
@binderclip you should do two things:
1. Turn off SSL verification
2. Add your client certificate in Settings > Certificates

[2016-08-09 14:49] binderclip commented on #2217
@czardoz I have tried this, failed.
It seems after turning off SSL verification, the client cert won't be used? Or if my setting is wrong?

These are my setting and request:

![cert](https://cloud.githubusercontent.com/assets/8187479/17520642/0e63c3ba-5e83-11e6-96c9-74f04e303175.png)

![cert-set](https://cloud.githubusercontent.com/assets/8187479/17520659/163c6808-5e83-11e6-8239-23c33527d542.png)

[2016-08-09 15:02] tdurden82 commented on #2217
I can confirm the behavior. I've tried with and without the verification enabled.

[2016-08-09 15:26] JBrace1990 opened #2239 "Oauth 1.0 prevents additional parameters from being added to POST"
1. Postman Version:4.4.3 win / x86-32 Chrome 51.0.2704.103
2. App (Chrome app or Mac app): Chrome app
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently, but only due to OAuth implementation
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-develope

[2016-08-09 16:25] reduxdj commented on #1441
The problem for me is the UI file needs to be removed, and replaced, or it stops working.

[2016-08-09 18:09] brijs opened #2240 "New feature: Support API endpoints protected by kerberos"
Postman doesn't seem to support authentication using **kerberos**, or more generally **HTTP Negotiate (SPNEGO)** mechanism.

The equivalent way of authenticating using kerberos via `curl` is something like below:

[code]

[2016-08-09 20:33] sloppypointless commented on #2217
Windows Desktop App on 4.5.1 - Broken

[2016-08-10 01:19] c3cris opened #2241 "PM does not send cookies if Origin is set"
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Chrome APP
3. OS details: OSX 10.11.6
4. Is the Interceptor on and enabled in the app: On and Enabled
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour:  Cookie header should always be sent
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postma

[2016-08-10 03:39] jasonpranevicius commented on #739
+1

[2016-08-10 06:19] j8edev commented on #739
+1

[2016-08-10 06:40] johnraythomas commented on #739
+1

[2016-08-10 06:50] shamasis commented on #2217
@sloppypointless - you mean you're still seeing download modal instead of response in Windows app? What's the content type header returned?

[2016-08-10 08:20] vilu opened #2242 "Postman not using proxy authentication from Chrome"
I believe this has changed with the latest Chrome update, Postman have stopped using the proxy authentication from Chrome. Before I used to do postman requests to a service like this.
1. HTTP request to service resulting in 407
2. Open Chrome do get request to same url, resulting in a proxy authentication popup which I filled in and submitted.
3. Now I can make postman requests.

This has now stop

[2016-08-10 09:58] PFarrell89 opened #2243 "Windows Client - postman.clearEnvironmentVariables(); does not function correctly"
**1. Postman Version:** win32 10.0.10586 / x64
 **2. App (Chrome app or Mac app):** Windows Client
 **3. OS details:** Windows 10 Professional 64 Bit
 **4. Is the Interceptor on and enabled in the app:** No
 **5. Did you encounter this recently, or has this bug always been there:** This function works fine in the Chrome application.
 **6. Expected behaviour:** This should clear all environment var

[2016-08-10 11:08] dannyfallon opened #2244 "Cancel request doesn't cancel in Postman Canary"
1. Postman Version: 4.4.3-canary.1
2. App (Chrome app or Mac app): Mac App
3. OS details: 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently, not sure if always
6. Expected behaviour: Cancel the request
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for t

[2016-08-10 11:38] numaanashraf commented on #2244
@dannyfallon Thanks for reporting this. This will be fixed in the coming release.

[2016-08-10 12:17] sloppypointless commented on #2217
@shamasis  Content-Type →application/json;charset=UTF-8

{
  "error": "invalid_request",
  "error_description": "proper client ssl certificate was not presented"
}

[2016-08-10 13:50] w1ndblow commented on #1137
+1

[2016-08-10 14:03] DavidGloverBBC commented on #2225
I am also experiencing this.

[2016-08-10 14:04] shamasis commented on #2225
Added proxy support in Roadmap.
- having separate proxy configuration should be better than simply using system proxy
- should try and detect system proxy (but detecting browser / chrome proxy settings in native app will not be possible)

Will come back with ETA ASAP

[2016-08-10 14:31] monkpit opened #2245 "New Request is overwritten by opening Saved Request"
### Version/App Information:
1. Postman 4.4.3
2. Chrome app / Chrome 51
3. Mac OSX 10.11.6
4. Interceptor on and enabled: no
5. Bug has always been there since I've used Postman
6. Expected behavior: when I open a new request tab in Postman and make changes, these changes should persist if I click on a saved request. The saved request should open in its own tab.
### Steps to reproduce issue:
1. Op

[2016-08-10 14:31] Aidenir commented on #2032
This is badly needed for some, like me :). I currently have about 40 environments, and adding a variable to all is a major PITA.

[2016-08-10 16:00] DerFlash commented on #2225
Hey shamasis,

thanks for your quick response!

The first point should definitely be a feature, yes. Would be cool to be able to configure it optionally separately. But since this is a "nice to have", it may take some time for sure.

But I hope the later point will be handled as a more urgent position since it's in my eyes clearly a bug because it was working fine in the last version and is broken

[2016-08-10 17:55] reevesy commented on #783
+1 for this too. I need to include the oauth_body_hash

[2016-08-10 18:04] shamasis commented on #2225
Yes. We will detect system settings and unblock first. Should be out in next release.

[2016-08-10 18:59] DerFlash commented on #2225
Perfect!

[2016-08-10 20:32] shamasis commented on #2217
have you provided your SSL certificate in the settings dialog box?

[2016-08-10 21:33] rjherman2011 commented on #814
Is there any update on this? We've got a specific feature that is waiting on this functionality.

[2016-08-10 22:18] nwayve opened #2246 "X-Amz-Security-Token header's global variable reference value gets replaced with the actual value when the AWS Auth is made"
Version/App Information:
1. Postman Version: **4.4.3**
2. App (Chrome app or Mac app): **Chrome 52.0.2743.116**
3. OS details: **win / x86-32 (Windows 10 Pro OS Build 14393.51)**
4. Is the Interceptor on and enabled in the app: **Yes**
5. Did you encounter this recently, or has this bug always been there: **Unknown**
6. Expected behaviour:
   When sending an AWS Auth request, when there is a heade

[2016-08-10 23:21] DaleLJefferson opened #2247 "[Feature Request] Reusable test functions"
Every single one of my tests has the same boilerplate code at the top.

_Status is 200, has etag header, gzip header etc._

It would be great to be able to wrap this up in a function.

[code]

[2016-08-10 23:25] DaleLJefferson opened #2248 "[Feature Request] - On disk editing"
Currently our workflow is import collection from Git, edit collection export collection, commit changes.

It would be great to be able to open a file, and when you save the changes, they are saved to the file like a normal editor.

[2016-08-11 07:39] nevster opened #2249 "Cookie path not being set - postman 4.5.1 Mac app"
1. Postman Version: 4.5.1
2. App (Chrome app or Mac app): Mac app
3. OS details: 10.11.6
4. Is the Interceptor on and enabled in the app: N/A
5. Did you encounter this recently, or has this bug always been there: recently after auto update this morning
6. Expected behaviour: cookie path should be set correctly
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-i

[2016-08-11 07:43] pixelhomie commented on #932
Still not working. The fields "Qop", "Nonce Count" and "Client Nonce" are still not beeing added to the Authorization Header in latest Postman App 4.4.3. I filled the fields and clicked Update Request Button but they still not appearing in the Header :(

[2016-08-11 08:16] aromanet42 opened #2250 "Select "text" response format when response is text/csv"
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Chrome App
3. OS details: Linux Mint
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: always been there
6. Expected behaviour: I would like Postman to use the "Content-Type" Response header to choose the response display format

Steps to reproduce the problem:
- build

[2016-08-11 09:06] aimfeld opened #2251 "Postman sends two requests for POST request with formdata"
It seems that Postman sends two requests for the following POST request. The request sends a json file and an XML file and returns a PDF file:

[code]

Version/App Information:
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Chrome app (Chrome 52.0.2743.116)
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: Don't know
5. Did you encounter this recently, or has th

[2016-08-11 09:16] jappre opened #2252 "Mac app have problem with url encode for chinese"
1. Postman Version: 4.5.1
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: in the version 4.0, it`s ok,but this always been there since 4.5.1, AND, the latest chrome app is also ok.
6. Expected behavior: it should be encode the chinese, but don`t.
7. Console

[2016-08-11 09:29] SunChJ commented on #2252
I have the same problem, and it influenced my work. fix it soon plz

[2016-08-11 09:31] jimonthebarn opened #2253 "Postman Windows App - Request to localhost in a proxied environment fails"
1. Postman Version:
   4.5.1
   win32 6.1.7601 / x64
2. App (Chrome app or Mac app):
   Windows client
3. OS details:
   Microsoft WIndows 7 Enterprise
   Version 6.1 (Build 7601: Service Pack 1)
4. Is the Interceptor on and enabled in the app:
   nope
5. Did you encounter this recently, or has this bug always been there:
   As far as I have tested it it has always been there.
6. Expected behaviou

[2016-08-11 10:08] EpicNuts opened #2254 "Referring to Environmental Variables in test doesn't work"
1. Postman Version: 4.4.3
2. App Chrome app or Mac app): Chrome App
3. OS details: Ubuntu 16.04
4. Is the Interceptor on and enabled in the app: off
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour: I should be able to refer to a stored variable in the test case.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-to

[2016-08-11 10:09] abhijitkane commented on #2254
@EpicNuts You'll need to use `environment.variableName` to refer to the variable in test scripts.

[code]

Relevant docs are at https://www.getpostman.com/docs/sandbox

[2016-08-11 10:09] #2254 closed, assigned to nobody

[2016-08-11 10:22] shamasis commented on #2232
Sorry for being so vague in my last reply. The feature I'm referring to is - https://www.getpostman.com/docs/workflows

[2016-08-11 10:28] jimonthebarn commented on #2253
Maybe this is somehow related to issue #2225

[2016-08-11 11:08] aditikul commented on #2245
@monkpit Totally understand your issue. And also how critical it is to your workflow. We are aware of this and have already started looking at some solutions. Will update this thread when we push a fix for this. Thanks for reporting! Stay tuned for updates.

[2016-08-11 12:24] EpicNuts commented on #2254
@abhijitkane Many thanks for the fast response! Out of curiosity, has this always been the case, or was this a recent change? I could have sworn I was calling back localEnv variables in the test area before...

Anyway, thanks again :)

[2016-08-11 12:31] monkpit commented on #2245
@aditikul thanks for the quick response!

[2016-08-11 12:33] abhijitkane commented on #2254
Nope, this has always been this way :)

The {{variableName}} syntax is for URLs, headers, and the request body only.

[2016-08-11 12:47] QLJIANG commented on #1374
I have the exactly same issue, and after clear cookies from chrome://settings/cookies, problem solved. thank to @abhijitkane

[2016-08-11 15:10] sloppypointless commented on #2217
@shamasis Yes.  Under Certificates I added the clients host domain ex: asdf1234.com (also tried asdf1234, api.asdf1234.com) then I used the OpenSSL to convert the pem file to a crt file and key file.  I then selected those newly generated files without a password to eliminate the passphrase need while testing.

I am currently using 4.4.3 since I have the pfx installed on my current desktop.  If I

[2016-08-11 16:54] stevo-knievo commented on #1849
Same here...
Chrome: Version 52.0.2743.116 m (64-bit)
Postman: 4.4.3

[2016-08-11 17:57] shamasis commented on #2252
yes. we are on it.

[2016-08-11 21:40] a85 commented on #156
This is available in Postman native apps now. Will be available in the Chrome app soon. Feels so good to finally close this!

[2016-08-11 21:40] #156 closed

[2016-08-11 21:47] #1037 closed, assigned to abhijitkane

[2016-08-11 21:48] #1143 closed, assigned to nobody

[2016-08-11 23:56] allapaj opened #2255 "Proxy-Authorization header is never sent"
Hello,

The "Proxy-Authorization" header is stripped from every request I try to send. Here's my app info:

Version 4.4.3
win / x86-32
Chrome 52.0.2743.116

Here's a sample request I captured with the header missing:

[code]

These are the headers I was expecting it to send:

[code]

[2016-08-12 07:39] shamasis commented on #2217
@numaanashraf @czardoz any update on this?

[2016-08-12 07:40] shamasis commented on #2217
@sloppypointless i agree that documentation is scanty on this. this was a last minute feature we had to urgently roll out to unblock users. I will ask someone to attend the documentation ASAP.

[2016-08-12 08:05] shamasis commented on #2249
We've identified and addressed the issue. It's going out in next release which is tentatively v4.6 on Mac, scheduled for today. Would love if anyone can confirm this once the update is received.

[2016-08-12 08:06] shamasis commented on #2243
We've identified and addressed the issue. It's going out in next release which is tentatively v4.6 on Mac, scheduled for today. Would love if anyone can confirm this once the update is received.

[2016-08-12 08:07] shamasis commented on #2235
We've identified and addressed the issue and other SugarJS related ones. It's going out in next release which is tentatively v4.6 on Mac, scheduled for today. Would love if anyone can confirm this once the update is received.

[2016-08-12 08:08] shamasis commented on #2231
We've identified and addressed the issue. It's going out in next release which is tentatively v4.6 on Mac, scheduled for today. Would love if anyone can confirm this once the update is received.

[2016-08-12 08:09] shamasis commented on #2227
We've identified and addressed additional aspects of the issue. It's going out in next release which is tentatively v4.6 on Mac, scheduled for today. Would love if anyone can confirm this once the update is received.

[2016-08-12 08:11] shamasis commented on #2225
We've addressed the issue. You would now be able to transparently use system Proxy settings in app. It's going out in next release which is tentatively v4.6 on Mac, scheduled for today. Would love if anyone can confirm this once the update is received.

[2016-08-12 08:18] shamasis commented on #2218
Additional fixes for this is going out in v4.6 tentatively scheduled for Mac app today. Will close the issue once it is released. Confirmation of the fix when it is received would be helpful. 😊

[2016-08-12 08:19] jkrenge commented on #2227
Works already in 4.5.1, will check 4.6 as it's updated.

[2016-08-12 08:22] shamasis commented on #1154
This has been fixed and ready for release in Mac app v4.6 tentatively scheduled for today. Will close it once released. Would love to receive a confirmation of the fix then. 😊

[2016-08-12 09:08] abhijitkane commented on #2255
@allapaj Proxy-Authorization is a restricted header, which the Chrome app is unable to send. We'll add a warning for this soon. We have a native Windows app (http://getpostman.com/apps) which does not have this restriction.

[2016-08-12 10:34] badgersow commented on #2218
After `4.5.1` everything was ok for me.
Thanks!

[2016-08-12 10:35] #2218 closed, assigned to czardoz

[2016-08-12 11:21] gluons opened #2256 "Postman on Windows display white blank window"
1. Postman Version: Latest 4.5.1 (64 bits)
2. App: Windows
3. OS details: Windows 10 Pro (64 bits) version 1607 build 14393.51
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: I installed Postman first time.
6. Expected behaviour: Display app screen
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-devel

[2016-08-12 12:13] nsitbon commented on #448
:+1:

[2016-08-12 13:34] felixfbecker commented on #1710
Need these. It doesn't make much sense to provide COPY but not MOVE. Since Postman is based on Electron, which is build on NodeJS, why not use [`require('http').METHODS`](https://nodejs.org/api/http.html#http_http_methods)?

There are also more important methods like NOTIFY, SUBSCRIBE and UNSUBSCRIBE (used in MS Exchange):
https://msdn.microsoft.com/en-us/library/aa142917(v=exchg.65).aspx

The Web

[2016-08-12 13:52] felixfbecker commented on #1710
## Workaround:

Export your collection, open the JSON in an editor, change the method, import it again (select Replace).
Now you can also simply duplicate the request with the custom method to add more routes or change it from your history.

[2016-08-12 15:38] SamvelRaja commented on #2256
@gluons
Could you please open the app directly through the cmd and send us the logs from there?
`c:\Users\<User>\AppData\Local\Postman\app.4.5.1\Postman.exe`

[2016-08-12 16:52] allapaj commented on #2255
Is this a restriction with Chrome apps? I tried using Advanced Rest Client, and it didn't seem to have the problem.

[2016-08-12 17:39] bgraw3 commented on #1972
What about the ordering of folders in a collection? It is obviously by name. It would be nice to be able to manually order them. Or, is there a suggestion on naming?

For example, we have folders "Purchase Numbers, Routing Number, Tracking Numbers." We've had to rename them like "Number | Purchase, Number | Routing, Number | Tracking" to keep them grouped. I really don't want to number or letter t

[2016-08-12 18:25] rafaelnobrepd commented on #1973
This would be a really good addition to the already excellent postman app! I'm also using postman to save stubbed API responses and the raw headers would be super useful.

[2016-08-12 19:14] MrSkinny commented on #1498
Hi, I'm able to send POST requests with the correct `Content-Type: 'application/vnd.api+json'` set but then the `body` input area reverts back to 'text' and I don't benefit from the JSON linting.  Is there a way to prevent the linter from disabling when you no longer use `application/json` as the Content-Type?

[2016-08-12 20:56] jaredhanks opened #2257 "OAuth 1.0 requests returning "Service temporary unavailable""
1. Postman Version: 4.5.1
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there:  Recent (works in 4.4.3 Chrome App just fine).
6. Expected behavior: Return an xml response.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-in

[2016-08-13 09:27] gluons commented on #2256
@SamvelRaja Not work :worried:

![postman](https://cloud.githubusercontent.com/assets/4688092/17642471/badff4aa-6172-11e6-9998-9098927d3c86.png)

[2016-08-13 09:31] SamvelRaja commented on #2256
@gluons  you would have got some logs in your cmd. could you please get that for us?

[2016-08-13 09:43] gluons commented on #2256
@SamvelRaja Did you mean `View -> Toggle Dev Tools`? It's empty. I've no idea. 😟

![postman](https://cloud.githubusercontent.com/assets/4688092/17642551/cef43710-6174-11e6-8c6c-28e7ab41a07d.png)

![postman-2](https://cloud.githubusercontent.com/assets/4688092/17642552/cff5a982-6174-11e6-9dd7-56f113ee2be6.png)

[2016-08-13 09:56] SamvelRaja commented on #2256
@gluons  Sorry to bug you again and again. we are just asking the command prompt screen shot.
I would like you to launch the app through your command prompt and need to give the logs appears on the command prompt. Like this
![screenshot 1](https://cloud.githubusercontent.com/assets/5114052/17642616/36e7afb0-616a-11e6-956f-35103a95733c.png)

[2016-08-13 10:10] gluons commented on #2256
OK. Here's from my cmd.

[code]

~~_no need to blur anymore_~~ :grinning:

[2016-08-13 10:16] SamvelRaja commented on #2256
@gluons  thank you so much.. We will look into it and get back to you in some time.

[2016-08-13 12:09] DCRichards opened #2258 "Cookie not being set when set-cookie header is returned (Mac App v4.5.0)"
1. Postman Version: 4.5.0 (4.5.0)
2. App (Chrome app or Mac app): Mac app
3. OS details: Mac OSX 10.11.5
4. Is the Interceptor on and enabled in the app: N/A (Mac app)
5. Did you encounter this recently, or has this bug always been there: Recent but not tried before
6. Expected behaviour: Cookie should be set and visible in _Manage Cookies_
7. Console logs (http://blog.getpostman.com/2014/01/27/en

[2016-08-13 12:15] abhijitkane commented on #2258
@DCRichards  Can you change the `localhost` to `127.0.0.1`? There's a problem with the underlying cookie layer that prevents cookies from being set on localhost. If there's still an issue, we'll be pushing an update today that solves other cookie-related issues too.

[2016-08-13 18:31] #2227 closed, assigned to nobody

[2016-08-13 18:32] shamasis commented on #2243
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:32] #2243 closed, assigned to shamasis, czardoz

[2016-08-13 18:33] shamasis commented on #2235
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:33] #2235 closed, assigned to shamasis

[2016-08-13 18:33] shamasis commented on #2231
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:33] #2231 closed, assigned to nobody

[2016-08-13 18:34] shamasis commented on #2229
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:34] #2229 closed, assigned to nobody

[2016-08-13 18:36] shamasis commented on #2221
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:36] #2221 closed, assigned to nobody

[2016-08-13 18:37] shamasis commented on #2225
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:37] shamasis commented on #2226
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:37] #2226 closed, assigned to numaanashraf, czardoz

[2016-08-13 18:38] shamasis commented on #2249
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:38] #2249 closed, assigned to shamasis, czardoz

[2016-08-13 18:39] shamasis commented on #404
Is this resolved with new runtime? Can anyone confirm? @czardoz @numaanashraf?

[2016-08-13 18:46] shamasis commented on #1154
This should be resolved now. Closing. Please reopen if otherwise.

[2016-08-13 18:46] #1154 closed, assigned to shamasis

[2016-08-13 18:49] shamasis commented on #2258
This should be resolved now - v4.6. Closing. Please reopen if otherwise.

[2016-08-13 18:50] francknouama commented on #2229
Sounds good! Thanks @shamasis

[2016-08-13 18:52] shamasis commented on #2255
@allapaj - we use native XHR in chrome app. That has restricted headers. If we use underlying chrome TCP API this can be fixed. We haven't researched full stability around that API yet. We are looking into developing something around this and we will keep you posted.

Meanwhile, please use one of our native clients.

[2016-08-13 18:54] shamasis commented on #2246
This should be resolved now - mac v4.6. Closing. Please reopen if otherwise.

[2016-08-13 18:54] #2246 closed, assigned to nobody

[2016-08-13 21:26] hearlapati-phunware commented on #191
@uditkumawat : you can find the difference between those MIME types here : http://stackoverflow.com/questions/4007969/application-x-www-form-urlencoded-or-multipart-form-data

[2016-08-14 12:51] CanKer opened #2259 "Postman don't do anything (request)"
1. Postman Version:
   4.6.0
2. App (Chrome app or Mac app):
   Mac app
3. OS details:
   OS X El Capitan
##  4. Is the Interceptor on and enabled in the app:
1. Did you encounter this recently, or has this bug always been there:
   recently, maybe it was because the update I received today
2. Expected behaviour:
   I want to do some POST/GET request to my localhost but the app is not doing anythi

[2016-08-14 13:04] numaanashraf commented on #2259
@CanKer Thanks for reporting this. We will be pushing a fix for this in the coming release. In the meantime, could you try deleting all the cookies via 'Manage Cookies', restart the app and check if that resolves the issue?

[2016-08-14 13:12] CanKer commented on #2259
Already did and if I restart the app it doesn't work but there's a default cookines running. I found that the `PHA_currentLocale` it may be the problem because if I delete that one without restart it works, but if I restart It doesn't work again because the cookie is again in the app.

[2016-08-14 13:19] numaanashraf commented on #2259
@CanKer That's odd. Would it be possible to share a screenshot of the cookie with the value field redacted? Like shown below?
<img width="672" alt="screen shot 2016-08-14 at 6 44 04 pm" src="https://cloud.githubusercontent.com/assets/3295568/17649316/b7b6f16a-624f-11e6-959f-2815fcd78ea1.png">

[2016-08-14 13:27] longle255 commented on #2259
I got the same issue after upgraded to version 4.6.0

[2016-08-14 13:29] CanKer commented on #2259
Yes and after I delete that cookie I can do any request but after that request the cookie comes back again 😲
<img width="676" alt="captura de pantalla 2016-08-14 a la s 3 23 22 p m" src="https://cloud.githubusercontent.com/assets/7593319/17649354/d1e4d398-6233-11e6-9050-79c4956263c4.png">

[2016-08-14 13:43] numaanashraf commented on #2259
@CanKer I have a feeling your proxy is configured via WPAD and that's adding the Cookie when the app boots up. Could you open `chrome://net-internals/#proxy` in Chrome and check if there is any entry mentioning `PAC script`? For security reasons, please don't share the location of the PAC script here. 🔒

[2016-08-14 13:50] CanKer commented on #2259
The PAC script is only a URL to wpad.dat
I'm working in my hotel, it could be that the problem...

[2016-08-14 13:52] numaanashraf commented on #2244
@dannyfallon This is fixed in versions 4.5.1 and up.

[2016-08-14 13:52] #2244 closed, assigned to numaanashraf

[2016-08-14 13:53] numaanashraf commented on #2236
@samcook Thanks for reporting this. We'll include a fix in the coming releases.

[2016-08-14 14:01] abhijitkane commented on #2188
@maphongba008 Such questions are best suited to the Postman Slack community - https://www.getpostman.com/slack-invite

[2016-08-14 14:01] #2188 closed, assigned to numaanashraf

[2016-08-14 14:01] lyudash commented on #771
Hello,

I am using Postman 4.6.0 and URL is still automatic encoded. Is there some setting I am missing?

For example my URI is set to https://hostname:portname/t/org.name/partner.name/<string.in.xml.tag>

But the actual request is sent with

https://hostname:portname/t/org.name/partner.name/%3Cstring.in.xml.tag%3E

How can I eliminate the encoding before url is sent?

[2016-08-14 14:02] numaanashraf commented on #1146
@scottball1968 This has been fixed in Mac App versions 4.5.0 and up.

[2016-08-14 14:02] #1146 closed, assigned to numaanashraf

[2016-08-14 14:02] abhijitkane commented on #771
@lyudash Can you attach a screenshot of your Postman screen? Also, are there any errors in the console - https://www.getpostman.com/docs/errors?

[2016-08-14 14:08] numaanashraf commented on #2259
Alright. I think we have what we need to get a fix ready for this. Thanks for the help, @CanKer.

[2016-08-14 14:14] lyudash commented on #771
![404](https://cloud.githubusercontent.com/assets/21022610/17649598/21b868e0-6242-11e6-8307-81a6287df342.png)

[2016-08-14 14:29] lyudash commented on #771
![console](https://cloud.githubusercontent.com/assets/21022610/17649738/afb42cae-6244-11e6-9399-1aba0d32efe7.png)

[2016-08-14 14:31] lyudash commented on #771
I added 2 screenshots, thanks for the quick reply. I do not see any errors on the console, even though I expected to see the 404 ...

[2016-08-14 17:52] q42jaap commented on #2259
I also have this issue, removing cookies gets requests through, but once cookies are set, postman doesn't respond. I'm using the mac osx app.

[2016-08-14 17:55] q42jaap opened #2260 "Allow to download older postman versions."
Didn't know where to put this, feel free to close or do whatever.

The website should have an archive page (just hide it in the footer) where we can download older postman builds. Since it's a zip file, this should be super easy. 4.6.0 being broken with cookies, just reinstall 4.5.x and there's a workaround...

[2016-08-14 19:40] Bartozzz commented on #2259
Got the same error. It happens when I am requesting the `/login` route which creates a cookie:

[code]

... getting the same error:

[code]

[2016-08-15 08:21] ElectroLutz commented on #1906
Any news on this one?

[2016-08-15 08:27] DerFlash commented on #2225
Works like a charm. Thanks a lot!

[2016-08-15 10:09] DerFlash commented on #2226
Works like a charm

[2016-08-15 11:33] beetlerom commented on #907
Just wondering if there is an ETA on this on. I am planning to start a new project and would like to know if I can rely on the new structure possibilities for it.

Thank you!

[2016-08-15 12:25] travisspencer opened #2261 "Custom media types for request body content"
Postman should allow users to define custom media types. In this preference, a user should be able to:
- Define the media type with a friendly name (e.g., "Foo" has a media type of `application/vnd.foo`)
- The syntax of the body content of that media type (e.g., XML, JSON, HTML, etc.) which the request editor will later use to highlight and check the code.

When making a request with such preferen

[2016-08-15 13:05] jamesyarrington opened #2262 "Pressing ENTER in "DO YOU WANT TO SAVE?" pop-up ALWAYS saves."
Version/App Information:
1. **Postman Version:** 4.4.3
2. **App (Chrome app or Mac app):** Chrome 52.0.2743.116
3. **OS details:** Windows 10
4. **Did you encounter this recently, or has this bug always been there:** Not sure, In the past (1-2 weeks?) I've noticed that I had changes that I didn't expect were saved when I opened a previously saved request.  I've only discovered the source this morn

[2016-08-15 13:08] sdnts commented on #2262
Hey @jamesyarrington, The `Enter` key is supposed to be an alias for Save and Exit. You can use the Spacebar to actually perform what is outlined.
This is the default behaviour for all native apps.

[2016-08-15 13:15] jamesyarrington commented on #2262
Thanks for the quick response - `Spacebar` does work like I was expecting `Enter` to work..

[2016-08-15 13:15] sdnts commented on #2262
Awesome!

[2016-08-15 13:15] #2262 closed, assigned to nobody

[2016-08-15 13:56] dchuiko opened #2263 "Broken encoding of UTF-8 query params"
1. Postman version: 4.6.0
2. Mac app
3. OS version: MacOS 10.11.6
4. No
5. Recently
6. Query parameters should be url encoded. Example url params: `?search=обязательный`, expected value on server: `?search=%D0%BE%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9`, got: `search=>1O70B5;L=K9`

[2016-08-15 14:45] everydaynerd commented on #2225
@shamasis This proxy issue is still happening for myself and others in the collection runner.  The normal postman works great now behind a proxy (thanks for that) but the collection runner is still not working behind proxy (works fine without).  Thanks!

[2016-08-15 14:50] SamvelRaja commented on #2225
@everydaynerd  Thanks for pointing this out. we had fixed this in our internal build, will be available in the next release.

[2016-08-15 14:54] everydaynerd commented on #2225
Awesome - thanks!

[2016-08-15 15:11] gilesheron opened #2264 "Postman stopped working after upgrade to 4.6.0 today"
1. Postman Version:  4.6.0
2. App (Chrome app or Mac app):  Mac app
3. OS details: 10.11.6
4. Is the Interceptor on and enabled in the app:No
5. Did you encounter this recently, or has this bug always been there: Bug seems to have appeared with upgrade to 4.6.0
6. Expected behaviour: Requests get sent
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-pos

[2016-08-15 15:15] sdnts commented on #2264
Hey @gilesheron, we've identified the error on our end. It is indeed an issue with our cookie management (as you suspected). We'll push a fix for it in the next couple of days.

[2016-08-15 15:22] gilesheron commented on #2264
ah - great.  thanks!   Unfortunately I have a customer demo tomorrow :(

is there a way to roll back by one release?

On 15 Aug 2016, at 16:15, Siddhant Sinha <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @gilesheronhttps://github.com/gilesheron, we've identified the error on our end. It is indeed an issue with our cookie management (as you suspected). We'll push a fix fo

[2016-08-15 15:29] sdnts commented on #2264
Can you drop in a mail at help@getpostman.com? We'll get you sorted.

[2016-08-15 15:35] SamvelRaja commented on #2256
Hey, @gluons we tried reproducing the same from our end and it is working properly, could you please open dev-tools on the blank window and give us the value of `window.location.pathname` ?

[2016-08-15 15:42] gluons commented on #2256
![default](https://cloud.githubusercontent.com/assets/4688092/17669874/979adb90-6339-11e6-874f-d28c328c0236.PNG)

[2016-08-15 16:16] bsreera opened #2265 "Client certificate does not load from Mac keychain"
1. Postman Version: 4.6.0
2. App (Chrome app or Mac app): Mac
3. OS details: OS X 15.5.0 / x64
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Yes
6. Expected behaviour: Pick up cert from keychain while sending requests
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ fo

[2016-08-15 16:58] hearlapati-phunware commented on #1104
+1

[2016-08-15 17:03] frankpiva commented on #1015
Font is still unreadable; changed font size, didn't do anything. Please add a zoom option for those of us with sub par eyesight.

[2016-08-15 17:38] sdnts commented on #1015
@frank-productops Can you update to the latest version (v4.6.1)? We added functionality to zoom in/out using `Cmd/+` & `Cmd/-`. That should fix your issue.

[2016-08-15 17:40] sdnts commented on #2264
We pushed changes that should fix your issue. Can you update to the latest version (v4.6.1) and confirm?

[2016-08-15 17:40] sdnts commented on #2259
We pushed changes that should fix your issue. Can you update to the latest version (v4.6.1) and confirm?

[2016-08-15 17:41] CanKer commented on #2259
Im working at this moment and by the moment no problems. Ill let you know if anything happens.

[2016-08-15 17:43] sdnts commented on #2259
Awesome! Closing this for now. Feel free to reopen if needed.

[2016-08-15 17:43] #2259 closed, assigned to numaanashraf

[2016-08-15 17:43] SamvelRaja commented on #2225
@everydaynerd  This should be fixed in the latest `4.6.1` release. kindly confirm this and close the issue.

[2016-08-15 17:48] gilesheron commented on #2264
Will check when I get home this evening.

On 15 Aug 2016, at 18:40, Siddhant Sinha <notifications@github.com<mailto:notifications@github.com>> wrote:

We pushed changes that should fix your issue. Can you update to the latest version (v4.6.1) and confirm if it is fixed?

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/postman

[2016-08-15 17:53] frankpiva commented on #1015
Zoom is working. Have you though about increasing the max zoom? Even at maximum zoom I still find things a little too small.

[2016-08-15 17:59] everydaynerd commented on #2225
@SamvelRaja Outstanding!  That was FAST! :)  Well done, it's all working on our end.

I don't see an option to close though...

[2016-08-15 18:42] bpinney commented on #713
It seems like duplicate GET requests are omitted from the history, but duplicate POST requests are added even if headers, parameters, auth, and body data are the same.

Postman Version 4.5.1 (4.5.1)

[2016-08-15 18:45] abhijitkane commented on #713
@bpinney This is intentional - PUT/POST requests generally update the server each time, even if the request is the same. The same GET request sent multiple times will usually have the same effect as one.

[2016-08-15 19:00] bpinney commented on #713
@abhijitkane Thank you for the quick response. As the utility of recording each PUT/POST request is diminished  without an accompanying recorded server response, perhaps some day this intentional feature may be optional.

[2016-08-15 19:13] m-orsh commented on #1263
+1

[2016-08-15 19:24] jaredhanks commented on #2257
Just upgraded to 4.6.1 Mac app and it appears the issue has been resolved.

[2016-08-15 19:25] abhijitkane commented on #2257
@jaredhanks Great! There was a cookie-related issue which might have been causing this. Feel free to re-open if you see this behavior again.

[2016-08-15 19:25] #2257 closed, assigned to numaanashraf

[2016-08-15 20:29] fodurrr commented on #2264
Hi,

How can I get version 4.6.1?? I have the same isssue and I cannot get the latest corrected version.

Thanks

[2016-08-15 20:31] abhijitkane commented on #2264
@fodurrr `Settings > Update`, or `Postman > Check for Updates`

[2016-08-15 20:45] fodurrr commented on #2264
@abhijitkane Sounds strange but I cannot find update options in the setting menu and in the Chrome store there is still the version 4.6.0 not the newest 4.6.1.

[2016-08-15 21:53] danielmcq commented on #2221
I'm still getting the same problem in 4.6.1 for the Mac app. Will this fix appear in an upcoming version?

[2016-08-15 22:24] ghost commented on #116
Did this ever happen, please?

[2016-08-15 22:33] gilesheron commented on #2264
Looks good to me :)

On 15 Aug 2016, at 18:40, Siddhant Sinha <notifications@github.com<mailto:notifications@github.com>> wrote:

We pushed changes that should fix your issue. Can you update to the latest version (v4.6.1) and confirm if it is fixed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/postmanlabs/postman-app-suppor

[2016-08-15 22:46] fodurrr commented on #2264
@gilesheron I checked the documentation as well I cannot update inside extension and I do not have the update menu in the app settings neither, see picture.
![image](https://cloud.githubusercontent.com/assets/10008597/17682255/506b3f2c-6342-11e6-91ba-67e4c6aea2c4.png)

Why I do not have the Update menu???
Please...

[2016-08-15 22:47] gilesheron commented on #2264
it’s under the “Postman” entry as “Check for Updates”.

On 15 Aug 2016, at 23:46, fodurrr <notifications@github.com<mailto:notifications@github.com>> wrote:

@gilesheronhttps://github.com/gilesheron I checked the documentation as well I cannot update inside extension and I do not have the settings menu in the app neither, see picture.
[image]https://cloud.githubusercontent.com/assets/10008597/1768

[2016-08-15 22:54] fodurrr commented on #2264
I do not have postman entry neither, nor check for update, nothing
![image](https://cloud.githubusercontent.com/assets/10008597/17682442/85f07670-6343-11e6-951c-5c2a725ff6d9.png)

This drives me crazy today :((

[2016-08-15 22:55] jnelson-hiya opened #2266 "Postman desktop app cannot handle OneLogin single sign-on system"
1. Postman Version: (latest as of filing date)
2. App (Chrome app or Mac app): Mac app
3. OS details: OSX El Capitan
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always there

My company uses Google to manage our email accounts, and uses OneLogin for two-factor authentication. In the Chrome app, users can sign in without

[2016-08-15 22:56] abhijitkane commented on #2264
@fodurrr Looks like you have the Chrome app, not the Mac app. Can you attach a screenshot of the DevTools Console window (https://www.getpostman.com/docs/errors)?

[2016-08-15 22:56] gilesheron commented on #2264
are you on a Mac?  If so then the Postman entry ought to be top left (next to the apple icon).

On 15 Aug 2016, at 23:54, fodurrr <notifications@github.com<mailto:notifications@github.com>> wrote:

I do not have postman entry neither, nor check for update, nothing
[image]https://cloud.githubusercontent.com/assets/10008597/17682442/85f07670-6343-11e6-951c-5c2a725ff6d9.png

This drives me crazy toda

[2016-08-15 23:18] fodurrr commented on #2264
Yes I am on windows, bad for me :)
I will check it tomorrow again, I gtg to sleep....

[2016-08-16 02:33] nevster commented on #2249
I can confirm it's all working now. Thanks @shamasis!

[2016-08-16 03:47] shamasis commented on #2221
What's your content type?

[2016-08-16 05:06] sdnts commented on #116
You have been able to duplicate requests & collections for a while now. Just hover over the request in question, open up the dropdown menu by clicking the three dots on the right end of the request, and choose  `Duplicate`
![screenshot 2016-08-16 10 36 02](https://cloud.githubusercontent.com/assets/7689783/17688484/43bada70-639d-11e6-8021-1d55594c1b2e.png)

[2016-08-16 07:09] SamvelRaja commented on #2253
@jimonthebarn can you please confirm this fix in 4.6.1 ?

[2016-08-16 07:35] SamvelRaja commented on #2256
@gluons could you please uninstall the app and delete the `c:\Users\<User>\AppData\Local\Postman` folder.
Then, download and install the latest `4.6.1` version.
Also, kindly let us know if you face any problem while installing which would be much helpful for us to debug.

[2016-08-16 10:35] shamasis commented on #2265
Postman Mac App does not use the Chrome keychain. Please use the "Settings -> Certificates" section.

![screenshot 2016-08-16 16 04 09](https://cloud.githubusercontent.com/assets/232373/17696331/2eaa001a-63cb-11e6-8fea-d76fd2a4c78d.png)

@abhijitkane @numaanashraf - we need to better highlight this in the app.

[2016-08-16 12:37] danielmcq commented on #2221
application/jwt

[2016-08-16 12:54] shamasis commented on #2221
@numaanashraf 👆🏼

[2016-08-16 14:05] mick6701 opened #2267 "Postman history/collections reverts to old state"
Hello,

I have been using Postman frequently the last couple of months.  Today, I go into Postman and my history and collections have reverted to the state that existed on March 4.   So I lost 5 months of history and Collection changes.

Any clue what may have caused this?

Thanks

[2016-08-16 14:32] abhijitkane commented on #2267
@mick6701 Can you head to https://app.getpostman.com/dashboard/collections/private?expand=1 and check if all your data is there? If yes, you can sign out and sign back in.

Also, did you notice the missing collections as soon as you opened Postman, or did you perform some user action?

[2016-08-16 14:47] mick6701 commented on #2267
Yes, I noticed the missing collection immediately.

Thanks for the quick response.  My recent Collections are saved in the location https://app.getpostman.com location.  Any idea what may have caused this so I can avoid it in the future?

[2016-08-16 17:52] cartickn opened #2268 "Microsoft Azure AD oAuth login Window fails to load while getting a new access token"
1. Postman Version: 4.6.1
2. App (Chrome app or Mac app): Windows App
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently, Today
6. Expected behaviour: Microsoft oAuth Login Window Appears
7. Screenshots (if applicable)
   ![image](https://cloud.githubusercontent.com/assets/2995388/17709611/b2

[2016-08-16 18:15] fodurrr commented on #2264
Thanks guys my problem was solved, it was not even related to Postman, sorry :(

[2016-08-16 19:05] tariqghalib opened #2269 "Ability to disable a request in a collection"
**DESCRIPTION:**
Currently we do not have the ability to disable a selected request under a collection. The ability to disable a request from the list of the requests under a collection would be very useful when we try to run selected requests in the runner.

**Version/App Information:**
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 7 Professional
4. I

[2016-08-16 19:14] sdnts commented on #2269
Hey @tariqghalib, I understand your requirement, and you can achieve this right now using Postman's `setNextRequest` function.
Basically, you use this function to skip over the second request in your collection by calling it in the `Tests` section of the first request and supplying the name of your third request.

You can find relevant docs [here](https://www.getpostman.com/docs/workflows) or look

[2016-08-16 19:14] #2269 closed, assigned to nobody

[2016-08-16 23:30] bsreera commented on #2265
I did use it but its not really working. I am confused about the usage.

I gave hostname as https://someserver
And gave link to the certificate.

I tried multiple combinations and all different formats for key and crt, none of them worked.

Is there a document I should be referring for this?

[2016-08-17 00:46] odziem commented on #2187
This is still the case on 4.6.1. My understanding is that Postman doesn't set cookies with an empty string value or with an expiry in the past. This breaks a common pattern used to "unset" a cookie.

[2016-08-17 01:44] ghost commented on #116
Thank you for the description and visual. I was looking and clicking all around the tabs, not the sidebar.

[2016-08-17 02:05] gluons commented on #2256
I've uninstalled and deleted `c:\Users\<User>\AppData\Local\Postman` before reinstall new but still not work. still blank 😟

[code]

_I've tried on other laptop with Windows 10. It not work too._

[2016-08-17 08:41] jimonthebarn commented on #2253
The problem still persists. Not only in the collection runner but in the "regular" request view as well.

**This is a exemplary request (generated via HTTP code snippet):**
GET /pbs-simulator-tdb/bump HTTP/1.1
Host: localhost:9091
Content-Type: application/json
Accept: application/json
Cache-Control: no-cache
Postman-Token: 48363268-d911-643e-fa6c-6557df398e22

**Response status:**
403 Forbidden

[2016-08-17 09:12] leesherwood opened #2270 "Enum parameter type"
**Feature Request**

As a backend developer i use Postman as a way of providing Frontend developers with the API specification (as well as it being invaluable help during the backend build process it self). However one thing that would be really helpful is the ability to be more specific in what the parameters accept.

For example, a "gender" parameter may only accept "male" and "female". Being ab

[2016-08-17 09:17] jimonthebarn commented on #2253
The postman console has some additional request headers:
User-Agent:"PostmanRuntime/2.4.1"
accept-encoding:"gzip, deflate"

[2016-08-17 09:42] dennisoverbeeke commented on #1663
I am having this issue while trying to sign a request to Cognito IDP...

[code]

My Authentication (AWS):
![image](https://cloud.githubusercontent.com/assets/16736635/17731892/aeb48d80-646f-11e6-8c88-423bfffd3989.png)

My Headers:
![image](https://cloud.githubusercontent.com/assets/16736635/17731931/d8d4a960-646f-11e6-98bc-21b619df0996.png)

Version 4.6.1

@czardoz : any idea what I am doing wrong

[2016-08-17 10:35] jimonthebarn commented on #2253
It might be worth mentioning that in our particular environment at work the proxy settings are managed using a auto configuration url. Maybe postman does not take settings configured that way into account.

[2016-08-17 11:02] sdnts commented on #2265
@bsreera The `host` field in the Certificates section needs just the host, without the protocol or ports. In your case, you would type in `someserver.com` instead of appending at https:// in front of it as you are doing right now. Can you try this and let us know if the problem persists?

We'll try to improve our documentation around this.

[2016-08-17 11:03] #2264 closed, assigned to nobody

[2016-08-17 11:45] numaanashraf commented on #2263
Able to reproduce. Working on a solution.

[2016-08-17 11:48] numaanashraf commented on #2255
Closing this issue since this falls under the bigger umbrella of switching to TCP based request method inside Chrome.

[2016-08-17 11:48] #2255 closed, assigned to nobody

[2016-08-17 11:51] numaanashraf commented on #2251
Can you check whether this has been resolved in our Windows Native client? http://www.getpostman.com/apps

[2016-08-17 11:55] numaanashraf commented on #2252
duplicate of #2263. closing this since that issue is a superset of this.

[2016-08-17 11:55] #2252 closed, assigned to shamasis, czardoz

[2016-08-17 12:00] numaanashraf commented on #932
This should be fixed in latest Mac native release. Will verify and close.

[2016-08-17 12:02] numaanashraf commented on #849
@kunagpal let's verify if this is addressed in our latest runtime and close if so.

[2016-08-17 12:03] numaanashraf commented on #767
@madebysid @czardoz  can u verify and close if needed

[2016-08-17 12:04] numaanashraf commented on #404
Let's investigate how it behaves under new runtime.

[2016-08-17 12:36] ovstetun commented on #1137
+1 Need to be able to login using NTLM/STS/ADFS in standalone app

[2016-08-17 12:59] koleror commented on #907
+1

[2016-08-17 14:44] grifx commented on #971
@nicolas-despres Probably not. Have you tried? Let me know.
Thanks

[2016-08-17 15:24] sidharth016 opened #2271 "Failing to render response due to unknown character"
Using the latest version

curl -X POST -H "REV-API-KEY: mgmsYvv0O3A97Rv0k72nnhOBTBajsBbUJ3FN" -H "REV-APP-ID: com.time.now" -H "Content-Type: application/json" -d '{ "data": [
    "speed thrills me super"
  ]
  }' "http://beta.auth.revup.reverieinc.com/apiman-gateway/mynewapp/transliteration/1.0?target_lang=hindi&source_lang=english"

The curl request shows response whereas the postman response sc

[2016-08-17 20:05] dijitalmunky commented on #2232
Hrm, that works but it is still cumbersome.  Perhaps I should try to explain a little more about how we use Postman.

First we are NOT using the whole testing part of it at this time.  We are using it more as a developer tool at this time.  Here is a typical flow.
1. Developer opens our API on his/her machine.
2. Developer makes some changes to one of the endpoints or adds a new endpoint.
3. Devel

[2016-08-17 20:06] a85 commented on #2232
@dijitalmunky That's super helpful. Let us think about this use case more and figure out the best solution.

[2016-08-18 00:34] chris-deluca opened #2272 "Windows App Includes empty realm and oauth_token header values when Chrome app does not"
Postman Version: 4.6.1
App (Chrome app or Mac app): Windows
OS details: Windows Server 2012 R2
Is the Interceptor on and enabled in the app: No
Did you encounter this recently, or has this bug always been there: Yes (just downloaded the Windows version)
Expected behaviour:
1. Windows app should behave like the Chrome app

Actual behavior:
1. Start copies of both the Windows and Chrome App
2. Set t

[2016-08-18 01:26] bsreera commented on #2265
@madebysid It is still the same. I am still unable to get it working. I am using the chrome app to keep it going as of now.

Please let me know what else I can try. The format I have tried are .jks, .pem, .cer

[2016-08-18 05:06] mmhy2003 commented on #1658
I have the same issue, I'm behind corporate proxy and I can't get it to sync despite global proxy settings.

[2016-08-18 06:43] shamasis commented on #2265
@czardoz @numaanashraf - we seriously need to find a way to bubble OpenSSL errors and loop it with server response to generate a much more debug friendly error message. Currently, it's very difficult to figure out what's going wrong with @bsreera.

[2016-08-18 10:32] SamvelRaja commented on #2256
@gluons  Thank you so much for your patience,
Seems like an process environment issue.
can you type `set process.env.NODE_ENV` in your command line and ensure it is not **development** ?

_If that is the case, then kindly make sure it is not *development*._

[2016-08-18 10:46] SamvelRaja commented on #2256
@gluons  Thank you so much for your patience,
Seems like a process environment issue. can you make sure your NODE_ENV is **not development** system wise
you can find it under   _System properties -> Advanced -> Environment Variables_

<img width="818" alt="screen shot 2016-08-18 at 4 12 12 pm" src="https://cloud.githubusercontent.com/assets/5114052/17771080/eb845322-655e-11e6-89b0-47ef4b2dc5fc.png

[2016-08-18 13:46] respectTheCode opened #2273 "Feature Request: Shared Environments should be editable by the creator and team members"
With the new monitoring service this becomes even more important.

[2016-08-18 14:45] sdnts commented on #2271
Hey @sidharth016, I sent a request to your URL with the appropriate headers like you did. I saw that in the response, I receive a full response but our JSON parser fails to parse the response because of those Unicode characters. If you switch to the `Text` option for the response (screenshot attached), or just switch over to the `Raw` tab in the response, you should see your entire response albeit

[2016-08-18 15:32] austinmoore- opened #2274 "Runner writes to wrong environment"
1. Postman Version: 4.6.1
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X El Capitan Version 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently encountered
6. Expected behaviour: The Runner writes to the selected environment
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-dev

[2016-08-18 16:24] CH4NCE commented on #1137
+1

[2016-08-18 17:42] ywang-clarify commented on #2214
I'm seeing this problem in the Windows app version 4.6.1.
Requests to http://localhost:3000/stuff fail with no response.
Requests to http://127.0.0.1:3000/stuff works fine.

The Chrome app (version 4.6.0) works fine with http://localhost:3000/stuff

[2016-08-18 18:20] LilyEssence opened #2275 "Generate Code for cURL does not encode value"
Version/App Information:
1. Postman Version: 4.5.1
2. App (Chrome app or Mac app): Mac app
3. OS details: Version 10.11.6
4. Is the Interceptor on and enabled in the app: Not sure
5. Did you encounter this recently, or has this bug always been there: Not sure
6. Expected behaviour: Generate code for cURL should produce a working, correct cURL script, even if one of the headers contains special sym

[2016-08-18 18:22] dylantf commented on #2253
Just found this issue after having the same problem on my own computer. Can't send any requests to localhost using the desktop app on Windows 10. Works fine using the Chrome app and the desktop version on macOS.

[2016-08-18 18:39] glspdotnet commented on #2247
Hi @DaleJefferson! I know this isn't ideal, but you could try saving your test code (with or without minification) as a global variable and eval()-ing it at the start of your tests. Not the cleanest way of sharing boilerplate code, to be sure, but at least you only have to change it in one place when it _does_ have to be updated!

[2016-08-18 18:58] coltonlw commented on #1906
+1

[2016-08-18 19:00] Jeff-Lewis commented on #2256
Removing NODE_ENV=development works. Are you guys going to remove this dependency in the distributed app?

In the meantime, for those that keep NODE_ENV=development set on their machines, you can update your shortcut to Postman to clear NODE_ENV just when Postman runs.

[code]

[2016-08-18 19:24] numaanashraf commented on #2256
@Jeff-Lewis Yup. We are removing this dependency on `NODE_ENV` in version `4.6.2` which should be available within a day or two.

[2016-08-18 20:53] shamasis commented on #2274
@numaanashraf cc

[2016-08-18 21:05] shamasis commented on #2217
@sloppypointless we added more information regarding certificates in postman console. can you now try using latest 4.6.2 app and let us know whether you see that your certificate was picked up accurately and what error is displayed?

[2016-08-18 21:06] shamasis commented on #2265
@bsreera can you use latest 4.6.2 app and confirm the error you see in postman console? If you've configured the certificate properly, you should see which cert got picked up and what error was thrown.

[2016-08-18 21:25] bsreera commented on #2265
@shamasis All I get is

Could not get any response
There was an error connecting to ******

Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General
Client certificates are required for this server:
Fix this by adding cli

[2016-08-18 21:27] SamvelRaja commented on #2256
@Jeff-Lewis  @gluons we released our `4.6.2` version which had the fix for removing the `process.env.NODE_ENV` dependency.
Kindly make sure this from your end.

[2016-08-18 21:29] sloppypointless commented on #2217
@shamasis So I have been using the Chrome app since it doesn't have the issue and the 4.6.0 update took out 4.4.3 (which i couldn't figure out how to get back).  I did try the newest version of the desktop application 4.6.2.  I turned off self signed and restarted the application and then removed the existing certificate entries and re-added them back.

Could not get any response
There was an erro

[2016-08-18 21:50] SamvelRaja commented on #2253
@dyyylan  @jimonthebarn can you make sure that postman is picking up your proxy by checking  in the **Postman Console**  _(View -> Show Postman Console)_ in `4.6.2` version of the app.

![screenshot 4](https://cloud.githubusercontent.com/assets/5114052/17791962/dbcfe682-65bb-11e6-8004-58ab4160704e.png)

[2016-08-18 21:58] dylantf commented on #2253
I should have clarified I'm not even using a proxy at all, anything to localhost fails on the desktop app, I just get ECONNREFUSED. Hitting 127.0.0.1 instead seems to work ok. Maybe this is a separate issue since I'm not running a proxy.

[2016-08-18 23:30] shamasis commented on #2217
Great. Open the Postman Console and expanding your request. That would show the exact error. Maybe it's an issue with the certificate file format, read permissions and what not. Chrome works because at one point of time you had added the certificate, right? Anything changed in those files?

We really want to solve your issue, but have very little to go on and debug the cause. That's why we added m

[2016-08-18 23:33] shamasis commented on #2217
Also, if client side SSL is working for some, please provide a confirmation here so that we know that the feature is at least working for someone other than us. 😊

[2016-08-18 23:38] shamasis commented on #2265
@bsreera can you help with two things?
1. Does your server only need the crt file or anything else beyond that?
2. What is the message you see in Postman Console regarding certificates with respect to this request.

If you want, we can chat on our slack community. https://www.getpostman.com/slack-invite

[2016-08-19 01:26] prdonahue commented on #2232
We have the exact same issue as the OP. Because Postman does not have an easy way to make a POST with credentials and extract a bearer token (as part of the built-in authorization schemes) we are forced to add a pre-request script to all of our calls:

[code]

And because there is not a reusable library of our functions, we've jammed that function into an environment variable that does the followi

[2016-08-19 01:28] prdonahue commented on #2232
Basically, I think improving/generalizing the authorization functionality will solve 90% of cases—but I still don't see why we can't make calls from the pre-request script or the post-run tests? There are all sorts of reasons one would want to do this. Is there really no way anymore?

[2016-08-19 02:43] gluons commented on #2256
@SamvelRaja OK, It work!

I'm using `NODE_ENV` as dev. I can't remove it. You save me. Thank you very much. 😃

<img width="954" alt="default" src="https://cloud.githubusercontent.com/assets/4688092/17797188/3de68fc6-65f1-11e6-8d20-69c998aa9fd2.PNG">

[2016-08-19 05:49] SamvelRaja commented on #2256
@gluons Thank you so much for your patience while debugging the root cause 👍

[2016-08-19 08:13] jimonthebarn commented on #2253
Here is the output of the aforementioned call:
![postmanproxytest](https://cloud.githubusercontent.com/assets/598936/17803233/7d93ee12-65f5-11e6-801b-993fe5164282.PNG)

I have garbled the ip address of the proxy but it is the correct one though.

[2016-08-19 08:24] czardoz commented on #2253
@jimonthebarn It seems that you did get the expected 200 OK response from echo.getpostman.com, and the request was made through the proxy. Can you show us an example of the 403 ACCESS DENIED error you mentioned earlier?

[2016-08-19 08:34] jimonthebarn commented on #2253
Sure thing:
![postmanproxytest2](https://cloud.githubusercontent.com/assets/598936/17803740/83d5197e-65f8-11e6-9c51-f58b1595adc9.PNG)

[2016-08-19 09:15] PiWhy commented on #1228
+1

[2016-08-19 12:14] narqo opened #2276 "Bad "Host" header if using request params"
1. Postman Version: 4.6.2
2. App (Chrome app or Mac app): Mac app
3. OS details: MacOS 10.11
4. Is the Interceptor on and enabled in the app: -
5. Did you encounter this recently, or has this bug always been there: the appears since 4.6.0
6. Expected behaviour: `Host` mustn't contain protocol part
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman

[2016-08-19 12:17] narqo commented on #2276
In addition to what've been said, I can't reproduce the bug if request goes to `localhost`.

[2016-08-19 12:59] sloppypointless commented on #2217
@shamasis So I never knew that the console existed until you prompted me to get the output.  Upon finding it I got this returned to me.

Error:error:0906D06C:PEM routines:PEM_read_bio:no start line

I googled the error and found most people put the CRT and KEY in the PEM file.  I copied the key file and pasted below the certificate data already in the PEM file.  I saved the data and pointed both t

[2016-08-19 14:14] shamasis commented on #2217
I am glad it's resolved. Moral for us - console needs more visibility.

[2016-08-19 14:43] fragilerus commented on #1137
+1
Used to work if I hit the url first from chrome (very annoying). That no longer works :(. I'm back to using curl

[2016-08-19 15:07] sloppypointless commented on #2217
@shamasis Would it make sense to parse the CRT and KEY file to validate it contains -----CERTIFICATE----- text when selecting a file?  That at least would alert an end user to the fact my CRT or KEY file isn't actually a CRT or KEY file.

[2016-08-19 15:28] tdurden82 commented on #2217
I can also confirm that client certs are working for me too. Thanks!

[2016-08-19 16:19] 4storia commented on #1374
My issue is related but slightly different. I was testing a specific backend route in my application, and needed to set an access token cookie (an http-only cookie) as the route was locked down. After doing this, I found that making requests to this route through my application would fail. The browser was appending a bunch of extra cookie information to this specific request, and this request only

[2016-08-19 17:26] carlospliego commented on #6
From what I understand there is no postman documentation explaining this.

[2016-08-19 17:38] sdnts commented on #6
@carlospliego You can check out available shortcuts from the App's settings (Wrench icon on the right > Settings > Shortcuts tab)

[2016-08-19 18:23] shamasis commented on #2217
Thank you all. This has been keeping us up all night. Now we can take a breather and add more validations to check the certificate file. Actually, there's too many variants and we don't want to get in the way of any of them. Will do something about showing more warnings though.

[2016-08-19 18:32] shamasis commented on #2276
Okay. We're on it. Without testing it, from a birds eye view, seems like a conflict in variable parsing. Will look in deeper and update the issue.

Cc @numaanashraf @czardoz @madebysid

[2016-08-19 20:54] shamasis commented on #2260
While that's something to look into, can you check your cookie issues are addresses? 😜

[2016-08-19 21:01] shamasis commented on #2265
@bsreera - can you please check in postman console what's the error displayed? Pressing (cmd + l) opens it.

[2016-08-19 21:16] mangelovski opened #2277 "Feature Request- A way to group collections by project"
It would be nice to have different profiles, because my collections list is getting really big. Where the All, Me, Team tabs are it would be great If I can add more tabs of my own to separate the API calls from the different applications I develop.

[2016-08-19 21:27] bsreera commented on #2265
When I use .pem

Error:
write EPROTO 140735099686912:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:1472:SSL alert number 40 140735099686912:error:1409E0E5:SSL routines:ssl3_write_bytes:ssl handshake failure:../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:656:

When I use .jks

Error:
error:0906D06C:PEM routines:PEM

[2016-08-19 21:35] bsreera commented on #2265
Not sure how it used to work, but I would usually run the postman chrome extension

chrome-extension://fdmmgilgnpjigdojojpjoooidkmcomcm/index.html

There it would popup as ask me to select the cert. And then I would launch the chrome postman app. Not sure how the stand alone app was picking it up till 4.6.0

[2016-08-19 21:42] shamasis commented on #2265
Also there was a similar issue solved here https://github.com/postmanlabs/postman-app-support/issues/2217

[2016-08-19 21:47] bsreera commented on #2265
Based on the comments, pointing CRT and KEY to the same .pem file solved the issue.

[2016-08-19 22:52] q42jaap commented on #2260
Aaah, I forgot to respond, yeah I think they're fixed now.

On Aug 19, 2016 23:54, "Shamasis Bhattacharya" notifications@github.com
wrote:

[2016-08-19 23:15] fadighattas100 commented on #1263
+1

[2016-08-20 07:31] shamasis commented on #2260
@aditikul the thoughts on the original issue posted here?

[2016-08-20 11:46] #2265 closed, assigned to shamasis, numaanashraf

[2016-08-21 13:22] davidfeldi commented on #1663
@czardoz same here... version 4.6.2 still having this issue.

[2016-08-21 18:02] cristiammercado opened #2278 "Feature Request - Saving tabs states and data on close and open app"
Hi people,

It would be great if when I close the Postman app for Windows (or any version), keep the header information and the body of the tabs I'm using at the time. When you reopen the application, all the same information opens in the tabs as it was when I closed it.

Thanks a lot for this great app!

[2016-08-22 05:32] zet4 opened #2279 "Postman Echo Cookies -> Delete Cookie test doesn't work correctly."
1. Postman Version: 4.6.2
2. App (Chrome app or Mac app): Win App
3. OS details: win32 10.0.10586 / x64
4. Is the Interceptor on and enabled in the app: No interceptor required in Win App
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour: Running tests for cookies will return all 4 pass.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chro

[2016-08-22 06:00] elssar commented on #2279
Hi @ZetaHunter, thanks for reporting this.

That is a bug in the collection - the request is deleting the cookie `foo1`, but the tests are checking that `foo1` exists. If you update the request to delete `foo2` instead of `foo1` all tests will pass.

EDIT:
The bug has been fixed in the latest version of the collection. You can just fetch it from `https://echo.getpostman.com`.

[2016-08-22 09:27] zet4 commented on #2279
Yes I figured as much, but I believe this is something you guys should fix on your end as you own the collection.

EDIT:
Was replying to what I saw in the email, didn't see your edit, I guess I will close this now.

[2016-08-22 09:28] #2279 closed, assigned to nobody

[2016-08-22 14:11] Arrow7000 commented on #1048
I've just seen this thread. I had the same problem and for some reason turning the interceptor off does work. Is this a bug or a feature?

[2016-08-22 15:23] manishagr83 opened #2280 "Retrieve binary response from Sharepoint REST Api call similar to postman"
I am trying to download a file from sharepoint 2013 and save as a local file before sending as attachment in a email in my JAVA application. I have tested the URL http://<host-name>/Sites/BPM/_api/web/getfilebyserverrelativeurl('Test Sharepoint.docx')/$value with postman and it works perfectly with the Send and Download option where the file received is having all the content of the word document.

[2016-08-22 15:39] pollenflugkalender commented on #2215
headers tab image (Key-Value Edit):
![image](https://cloud.githubusercontent.com/assets/8361094/17860891/54079656-688f-11e6-850f-cd6b18b08327.png)

[2016-08-22 15:43] pollenflugkalender commented on #2215
header tab image (Bulk Edit):

![image](https://cloud.githubusercontent.com/assets/8361094/17861047/d55d394a-688f-11e6-8801-3cf81325504d.png)

[2016-08-22 15:49] pollenflugkalender commented on #2215
I get the same error with the brand new stand-alone Postman Windows application.

![image](https://cloud.githubusercontent.com/assets/8361094/17861272/aa39d4b6-6890-11e6-96d0-ef414958671f.png)

This means that it's not a bug of the export but an internal issue. Nevertheless the collections still work within the chrome app.

[2016-08-22 15:57] pollenflugkalender commented on #2215
I found a workaround for the problem:

If I set the  header "Content-Type" in "Headers" and the content type in "Body" to "raw" then the header is exported properly in both export formats.

[2016-08-22 16:35] pollenflugkalender opened #2281 "oauth2 in postman / newman without using the integrated support"
Hi all,

We want to use postman in conjunction with newman (for CI) therefore we need to fully automate the oauth2 authentication process. But afaik this is not possible with the integrated oauth2 support. For example, you have to generate an access token by manually pressing the button "Get New Access Token". Or is it possible to do press the Postman button programatically? But how would that wor

[2016-08-22 18:00] manishagr83 commented on #634
How can we find out what is internally done in Send and Download and replicate the same in JAVA code. Send and Download is working perfectly for me but when run from JAVA it is writing JUNK to the file in local

[2016-08-22 18:48] tribou commented on #1669
I would like to second this issue.  Postman has an opportunity to communicate to an existing GraphQL API using the introspection query and provide auto-complete for queries similar to the existing GraphiQL implementation.  Combined with Postman's existing feature-set of saved queries and environment management, it could make Postman my go-to app for testing during GraphQL API development.

May we

[2016-08-22 19:05] leonardschneider commented on #943
+1

[2016-08-22 21:23] Crimscent commented on #1137
+1

[2016-08-22 22:15] javagrnd opened #2282 "Request Size Displayed"
Would it be possible to have similar feature that lists total size of request, like what one receives from '%{size_request}' in curl.  I work with s3 repositories and their ingress (inbound traffic) & egress (outbound traffic) tracks the size of traffic in bytes & includes the actual request itself (as well as the data).  This will allow for tracking as close to actual usage as possible for both r

[2016-08-23 08:34] adaksuman opened #2283 "308 status code"
How can I receive 308/307 responsecode in postman?. I am able to get such code in other client like advance rest client.

postman shows "Could not get any response"

postman client version -
 4.6.2
linux / x86-64
Chrome 51.0.2704.63

1. Postman Version:
2. App (Chrome app or Mac app):
3. OS details:
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bu

[2016-08-23 08:46] numaanashraf commented on #2274
@austinmoore- Thanks for reporting this. We'll include the fix in the next release.

[2016-08-23 08:51] numaanashraf commented on #2272
Thanks for reporting this @Chris-Deluca. We'll have a fix out for this in the next release.

[2016-08-23 09:02] czardoz commented on #2283
@adaksuman Can you share a small collection that reproduces the issue? If it contains sensitive information, you can email it to help@getpostman.com :)

[2016-08-23 09:42] xxldoctor opened #2284 "Difference in using url variables between Windows/Chrome app"
Postman Version: 4.6.2
win32 10.0.10586 / x64
App (Chrome app or Mac app): Windows App
 Bug appear only in standalone apps (winx/osx). url like `{{baseurl}}/:id{{format}}?someparemeters` parsed correctly in chrome app (eg `/102.json/someparameters`), when in win/osx app it cause error "Could not get any response
There was an error connecting to  https://mybaseurl:port/:id.json?someparameters". Fun

[2016-08-23 09:44] #1686 closed, assigned to nobody

[2016-08-23 09:44] xxldoctor commented on #1686
seems fixed to me

[2016-08-23 09:55] BlueInt32 commented on #1945
@aditikul you said "You can also open the same request in multiple tabs now. This should help." but I personnally think this in particular represents an UX anti-pattern. Would you agree if notepad++ or VSCode or any text editor you use let you open the same file in multiple tabs ? I don't think so, because then you would have desynchronizations very fast.

[2016-08-23 12:38] redbeandev commented on #838
Filename is shown as empty when generate code for phpcurl for me even after adding files

[2016-08-23 12:45] redbeandev commented on #838
filename=\"[object Object]\" appears

[2016-08-23 14:59] patrick-martin-shoutpoint opened #2285 "GET Request Responds with 400 Bad Request with Var in URL"
1. Postman Version: 4.6.2
2. App (Chrome app or Mac app): Mac
3. OS details: 10.11.5
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Since last update
6. Expected behaviour: 200 OK response
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle

[2016-08-23 15:35] everydaynerd opened #2286 "UI Scaling text selection offset"
### Version/App Information:
1. Postman Version: 4.6.2
2. App: Mac app
3. OS details: El Capitain 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour: Text selection should start where the cursor starts.
7. Console logs: n/a
8. Screenshots
   ![image](https://cloud.githubusercontent.com/as

[2016-08-23 15:49] gilesheron opened #2287 "JSON/XML body "hide/unhide" control mis-aligned"
1. Postman Version:
   4.6.2
2. App (Chrome app or Mac app):
   Mac app.
3. OS details:
   10.11.6
4. Is the Interceptor on and enabled in the app:
   No
5. Did you encounter this recently, or has this bug always been there:
   Recently (saw in 4.6.1 for sure, but not before 4.6.0 I think).
6. Expected behaviour:
   Pressing the little triangle on the left by the line number adjacent to a JSON "{"

[2016-08-23 16:54] numaanashraf commented on #2286
@everydaynerd Thanks for reporting this. We'll include the fix in this week's release.

[2016-08-23 18:02] numaanashraf commented on #2287
@gilesheron Thanks for reporting this. We have fixed this in our internal builds and will be rolling out the fix in this week's release.

[2016-08-23 18:06] numaanashraf commented on #2285
@patrick-martin-shoutpoint Thanks for reporting this. We are looking into this and will keep you posted.

[2016-08-23 18:08] numaanashraf commented on #2284
@xxldoctor Thanks for reporting this. We'll let you know when we have a fix ready.

[2016-08-23 18:58] adaksuman commented on #2283
Ok. I tried with toy node.js app. I see, problem is coming when I tried to add custom header  before sending 308.

Node app

var express = require('express');
var app = express();

app.post("/test",function(req,res){
    res.header("location","localhost:8080/path");
    res.set("foo","bar");
   res.status(308).end();
});
app.listen(8000, function() {
        console.log('Express server listening o

[2016-08-23 22:44] nafferro opened #2288 "Dynamic Values based on Chance.js"
Hi,
Can we have a feature like this?
https://github.com/tanshiqi/Paw-ChanceDynamicValue

Regards,
Nuno

[2016-08-23 22:45] TheAllThing opened #2289 "Tab characters are removed from request body when syncing in cloud to another system"
I work in a cloud Postman environment. I have a tab delimited flat file that I am posting to an API.  When copying the tab delimited file to the request body, it retains the proper structure. However, when the collection is saved to cloud and is then synced to another system, it replaces the tabs with spaces on that new system. Not sure if corruption occurs when the collection syncs to the cloud o

[2016-08-24 00:47] rstellar commented on #1723
@b22n can't you do this by placing it in the Headers tab with the 'Authorization' key and a prefixing with 'Bearer'?

[2016-08-24 01:59] shermes commented on #2247
Would also like to see this feature

[2016-08-24 02:00] shermes commented on #882
+1

[2016-08-24 04:56] redbeandev commented on #831
Filename is shown as empty when generate code for phpcurl for me even after adding files

[2016-08-24 05:39] abhijitkane commented on #2289
@TheAllThing I'm unable to reproduce this. Can you contact us at help@getpostman.com with your username/email, and the request you're seeing this issue with?

[2016-08-24 07:40] FredrikTamm commented on #1993
Looks like the new release (I am on 4.6.2) allows me to add certificates under Preferences in the Postman app. But how do I choose which certificate to use with my request, or is there always a default certificate for each host? Is there any documentation where I can read about the changes in handling certificates?

[2016-08-24 07:51] sdnts commented on #1993
When you add a certificate through the Preferences tab, it is registered to be used whenever a request to the specified domain (host) is made.

When you make a request to the said domain, Postman sends the certificate along with the request, if the server requires it. (This acts like the default certificate for that host).

Correct me if this is not your use case.

We'll try and add documentation

[2016-08-24 08:21] ondrejkrpec commented on #907
+1

[2016-08-24 08:48] FredrikTamm commented on #1993
It doesn´t work for me, but not sure what is wrong as there is no error-handling other than a 403-response from the server.

[2016-08-24 08:52] sdnts commented on #1993
Can you open up your Postman Console (View > Show Postman Console), resend the request and check if the certificate was actually sent? (You'll have to expand the request  you just made in the Console)

[2016-08-24 08:57] FredrikTamm commented on #1993
No, it isn´t logged as sent.

[2016-08-24 09:14] redbeandev commented on #391
i am getting [object object] in Generate Code PHPcurl.Can anybody suggest on how to get the filename instead

[2016-08-24 10:01] mresvanis commented on #882
+1

[2016-08-24 10:21] #2272 closed, assigned to czardoz

[2016-08-24 10:28] makkasi commented on #1392
I have the same problem now. Specifying other headers doesn't help.

[2016-08-24 10:58] gilesheron commented on #2287
you guys rock.

On 23 Aug 2016, at 19:02, Numaan Ashraf <notifications@github.com<mailto:notifications@github.com>> wrote:

@gilesheronhttps://github.com/gilesheron Thanks for reporting this. We have fixed this in our internal builds and will be rolling out the fix in this week's release.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://g

[2016-08-24 11:05] mysteriouss opened #2290 "Support two-column display in a tab for Mac app?"
I'm kind of used to two columns of view in a tab, and the scrolling is a little bit weird with the request view and the response. Thanks.

[code]

[2016-08-24 18:37] tariqghalib opened #2291 "Feature Request - Assign and setup headers in prequest script"
**Description:**
Pass the headers as an array in the environment variables and then set the headers on the go using pre request script. This is useful when there is a new header introduced and now you have to individually add this header to all requests.
If we have the ability to just pass headers as a list and then parse that list and assign headers to all requests in the pre request script that

[2016-08-24 19:21] tariqghalib commented on #2291
Also, we could have something similar to what we have for setting variables(postman.setGlobalVariable) as:
postman.setGlobalHeaders (type , key, value) or
request.setHeaders (type, key, value)

[2016-08-24 20:13] gsteinbacher opened #2292 "Support for Windows Authentication"
We have our IIS setup to only allow Windows Authentication.  When I execute my Rest API call from a browser the request works just fine.  When I run the same request through Postman I get a 401 - Unauthrorized.  Is there a way to allow Postman to support Windows Authentication?

[2016-08-24 22:34] c3cris commented on #2241
Can anyone confirm this? It lead to a waste of several hours until I saw that it wasn't something on our end but Postman.

[2016-08-25 05:09] Gans79 opened #2293 "No collections visible in Runner"
1. Postman Version: 4.6.2
2. App (Chrome app or Mac app): chrome
3. OS details: win86-32
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the M

[2016-08-25 05:14] sdnts commented on #2293
Hey @Gans79 Can you see your collections in the main Postman window? If yes, can you try relaunching the runner?

[2016-08-25 05:28] Gans79 commented on #2293
Yes i do see it in the main window and able to run individual APIs, But dont see them in runner , tried restarting the computer also on another windows machine still no go .

[2016-08-25 06:35] abhijitkane commented on #2267
@mick6701 Nope. We'll investigate and see how this might have happened. Closing this for now. Feel free to re-open if you see this again.

[2016-08-25 06:35] #2267 closed, assigned to nobody

[2016-08-25 07:17] andreassiegel opened #2294 "Host header is incorrectly set when using param as path segment and environment variable for host including protocol"
Recently, I encountered an issue with the host address in an environment variable in combination with a param as path segment.

Assume the following:
- I have a environment variable for the host: `server`
- I want to send a request to an endpoint like `/endpoint/someValue`
- I want to use a param as a path segment: `/:param`, which will be set to `someValue`

Thus, the expected request URL is `htt

[2016-08-25 11:45] numaanashraf commented on #2294
@andreassiegelrfid This is a regression in v4.6.2. We are rolling out a fix for this in v4.6.3 that should drop within a day or two.

[2016-08-25 11:48] numaanashraf commented on #2293
@Gans79 Could you open DevTools on the Runner window and let us know if there are any errors in the Console? http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2016-08-25 15:54] MiguelTVMS commented on #2253
Got the same problem:

[code]

[2016-08-25 19:10] worrel opened #2295 "OAuth 1.0 signature invalid for URLs with path variables"
Version:4.6.2
OS:OS X / x86-64
Chrome 52.0.2743.116
Interceptor on & enabled

OAuth 1.0 integration:
1. Setup a call for an OAuth 1.0 API with a URL that includes a path variable (e.g. GET request for `https://api.yelp.com/v2/business/:business-id`
2. Provide value for the path variable
3. Setup required OAuth parameters
4. Either issue the request directly or "Update Request" & then execute
5. In

[2016-08-25 22:00] mohammedpithapurwalasc commented on #350
ping !

[2016-08-25 22:06] nrdlngr commented on #1734
I thought that would work, too, but it doesn't. For some odd reason, Postman sends the session token header twice, which leads to a mismatched signature response.

Here's a snippet of the request that I've captured with an HTTP proxy:

`X-Amz-Security-Token: FQoDYXdzEK7//////////wEaDPiVNDo/yoQkIjBNkSLRAfxS2pfGRbU9wCA6eieUAShaCVMMk0om3+BJYMecRWaAp+/0m+cyV/xfotEYIXl5y5SrJ+rEp6Y3XbAgNiSuhhNWYS2eyLcNw

[2016-08-25 22:41] rarrarrarr commented on #1475
+1

[2016-08-26 00:32] Gans79 commented on #2293
Yes i see errors , see attached
![chrome-error](https://cloud.githubusercontent.com/assets/21234415/17990344/2c3136c8-6b78-11e6-86f1-cddbce1f4ea0.jpg)

[2016-08-26 00:39] sh1n0b1 commented on #1663
I'm having the same issue. It appears to work under GET request. But it won't work for POST and PUT request. Please fix it asap.

[2016-08-26 00:40] Gans79 commented on #2293
I got the problem .there was one collection added without a proper name ( guess postman named it as null )
After deleting it started appearing :)

[2016-08-26 07:11] sdnts commented on #2293
@Gans79 You are indeed right. It looks like a collection naming problem.
This shouldn't have happened though. Can you elaborate what exactly you did so we can prevent this in the future? Thanks!

[2016-08-26 07:29] Gans79 commented on #2293
Sorry not sure how i added that collection. But bottom line is postman allows adding a collection without a name which should be handled .

[2016-08-26 07:32] sdnts commented on #2293
Yes, which is what is weird, because we already have a check for that in place. You shouldn't have been able to create a collection with an empty name in the first place :P

Closing this, do let us know if you manage to reproduce this!

[2016-08-26 07:32] #2293 closed, assigned to sdnts

[2016-08-26 07:57] aimfeld commented on #2251
I have just tested with the Windows Native Client (4.6.2, win / x86-32, Chrome 52.0.2743.116). The problem did occur with the above request. I also tested another POST request without form-data, it got sent only once as expected.

[2016-08-26 08:06] Gans79 commented on #2293
Sure . Must say the tool is really awesome !! Kudos to your team :)

[2016-08-26 13:36] mschinca commented on #2242
I ran into the same issue

[2016-08-26 13:44] simonbaudry commented on #1651
@a85 We are already using the Cloud plan.
We are many to work on the same collections but the share link is not updated automatically as explained before by @bgaillard. Only the collection owner can manually do it (he's the only one to have the "share" menu entry).
All the team members have to ask the collection owner to update the share link to get the updates in Newman for our automated tests wh

[2016-08-26 20:29] abhijitkane commented on #1651
@simonbaudry The Cloud API that a85 mentioned gives you URLs that the owner does not need to update constantly. Every member of your team gets an API key which can be used to fetch the up-to-date version of the collections.

You might be referring to the old "www.getpostman.com/collections/1234" style links.

[2016-08-26 20:50] a85 commented on #1651
@simonbaudry Just to add to what @abhijitkane said, you don't need to use the "Share" API links if you are using the Cloud API.

[2016-08-27 05:33] sdnts commented on #1993
I've been unable to reproduce this at our end.
I set up Node and NginX servers to request certificates from clients, and Postman sends the corresponding certificate correctly.
Could you send us an email at help@getpostman.com with details about your setup (with private fields redacted)? That would help us debug the issue and get you a solution.

[2016-08-27 15:36] dylanh724 commented on #229
That's more of a workaround. I found this at the top of Google, so I may not be alone in 2016 ;)

[2016-08-28 10:18] zxning commented on #2207
1. the same wifi.MAC wifi 192.168.1.109,Phone wifi 192.168.1.107
2. yes
3. use the defaut  port  ：5555。

note:
the phone's http request can be captured by postman, and I can see them in the history

but https request  cannot be captured

[2016-08-29 07:18] lshapsa commented on #1228
+1

[2016-08-29 09:31] elmi82 commented on #1487
@aditikul: I don't see much difference. I have the feeling that it's slightly better, but still quite hard to read.

[2016-08-29 18:07] deepal commented on #2286
@numaanashraf I also have this issue with the mac app. After zooming out UI, Cursor does not appear where I click, but few lines up. UI scaling feature is almost useless due to this issue. Hope you guys will fix this soon. <3 postman.

[2016-08-29 22:09] jutley-hiya commented on #882
+1

[2016-08-30 01:11] somsub commented on #448
+1

[2016-08-30 06:01] liweigong commented on #1563
also need this feature too.

[2016-08-30 07:42] dor-denis opened #2296 "OAuth2 Client Credentials: Support sending client_id and client_secret in body"
1. Postman Version: 4.6.2
2. App (Chrome app or Mac app): Chrome app & Mac app
3. OS details: OS X El Capitan
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: recently, never tried before
6. Expected behaviour: Postman retrieves the token
7. Screenshots:
   https://s18.postimg.org/evzrjs0yh/Screen_Shot_2016_08_30_at_09_32_25

[2016-08-30 10:29] #1359 closed, assigned to numaanashraf

[2016-08-30 12:41] czardoz commented on #2263
This is a downstream bug in Node: nodejs/node#8321

[2016-08-30 12:49] HenrikHL opened #2297 "Sometimes "undefined" is rendered between XML tags in Pretty view"
1. Postman Version: 4.6.2
2. Chrome app
3. OS details: Windows 10 Pro 64bit
4. Is the Interceptor on and enabled in the app: YES
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour:
   I expect POSTman to present the result in the Pretty-view without inserting extra text when showing the result of a GET request
7. Console logs (http://blog.getpostm

[2016-08-30 12:50] abhijitkane commented on #2297
@HenrikHL Can you paste the raw response as-is here?

[2016-08-30 12:52] HenrikHL commented on #2297
[code]

[2016-08-30 13:17] abhijitkane commented on #2297
@HenrikHL The `&lt;/p>` needs to be escaped to `&lt;/p&gt;`. We'll push out a fix for the `undefined` issue soon, but the indentation won't work properly till the XML is escaped.

[2016-08-30 13:31] nsitbon commented on #448
One possible workaround is to export your collection (containing the POST field) to a JSON file then replace the content of the variable inside that JSON file (JSON supports multiline strings with \n) and then import the JSON file back into postman. Tedious but it works!

[2016-08-30 13:32] HenrikHL commented on #2297
Thank you.
I am not sure why ">" is not escaped - Jackson (fasterXML) does the escaping for me... I will look into it

[2016-08-30 14:05] strobelight commented on #1321
So, this implies Chrome must be running in order for the standalone Postman app to work? Guess I'm ok with that, just doesn't sound like a standalone app.

But, I do need to access an API via a SOCKS5 proxy, somehost:9999.  Works fine when the Chrome Postman app runs, since it uses my Chrome extension SwitchyOmega. Haven't been able to figure out how to get the standalone OSX Postman app to use it

[2016-08-30 19:13] austinmoore- commented on #2274
I just updated Postman, and saw that this issue was resolved. I ran through the steps to reproduce, and everything worked great. Thanks!

[2016-08-30 19:13] #2274 closed, assigned to numaanashraf, sdnts

[2016-08-30 22:07] skoold2003 commented on #697
If you're looking for a use case example here it is. I need to issue a GET and set a variable based on the response. I would like that to be in a pre-request script either written as code or using another saved GET from my collection. This could be accomplished using the runner but each PATCH/POST would need a new collection. Handling this in pre-request scripts would make life easier.

[2016-08-31 02:04] tikipatel commented on #1663
I'm having the same issue... I intercepted with Charles and I see that it's adding the security header twice --
![screen shot 2016-08-30 at 10 03 26 pm](https://cloud.githubusercontent.com/assets/1288767/18113427/c61afb38-6efd-11e6-8939-ba5636c7eb85.png)

Edit -- I am able to get around the issue by remove the extra header in the auth headers using breakpoints, but that's just a hinderance in deve

[2016-08-31 06:56] amnesty007 opened #2298 "Digest Auth not saveable"
Version/App Information:
1. Postman Version: 4.6.3 / 4.6.2
2. App (Chrome app or Mac app): Chrome App aswell as Windows App
3. OS details: Windows 7 64 bit / Windows 10 64 bit
4. Is the Interceptor on and enabled in the app: off
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour: Saving Settings

When picking Digest Authentication you cannot save

[2016-08-31 08:20] cskiwi commented on #1137
+1

[2016-08-31 09:34] amnesty007 opened #2299 "Digest Auth Query Parameter not added to header"
Version/App Information:

Postman Version: 4.6.3 / 4.6.2
App (Chrome app or Mac app): Chrome App aswell as Windows App
OS details: Windows 7 64 bit / Windows 10 64 bit
Is the Interceptor on and enabled in the app: off
Did you encounter this recently, or has this bug always been there: recently
Expected behaviour: Correct HTTP Header

When creating a HTTP Digest Auth Request with request parameters

[2016-08-31 09:48] pchapotet commented on #1734
Exact same problem here, that would be great if you could add the sessionToken support!

[2016-08-31 10:19] megadix opened #2300 "Add keyboard navigation in left panel"
1. Postman Version: 4.6.2
2. App (Chrome app or Mac app): Mac app
3. OS details: Mac OS X 10.11.5 El Capitan
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always been there
6. Expected behaviour: when focus is on left panel (folders and scenarios) keyboard navigation should be enabled
7. Console logs (http://blog.getpostm

[2016-08-31 11:51] jschulenklopper commented on #2263
Adding a confirmation / reproduction of this bug, and a difference between the Postman Chrome app and the Postman application on Mac OSX.
The Chrome app is able to request `GET /romanization/Москва/iso_9 HTTP/1.1` correctly to a Romanization service that I'm developing on localhost -- note the Cyrillic characters for the native spelling for Moscow.
The installed OSX Postman application throws an e

[2016-08-31 12:15] Catweasle opened #2301 "collection modifications not syncing to runner"
1. Postman Version: 4.6.3
2. App (Chrome app or Mac app): desktop application (local, not syncing to cloud)
3. OS details: windows 10
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: always (newbie)
6. Expected behaviour: changes to collection are taken into account in runner

Doc says:While the window is open, you can make

[2016-08-31 14:41] cychai commented on #1228
+1

[Postman v0.9.6 – Access cookies and restricted headers. Plus better tests!](http://blog.getpostman.com/2014/02/11/postman-v0-9-6-access-cookies-and-restricted-headers-plus-better-testing/)

[2016-08-31 14:45] SamvelRaja commented on #2301
@Catweasle Thanks for reporting this to us. We are working on this and will update here once this has been fixed.

[2016-08-31 14:46] mykhaylo- opened #2302 "Feature-request: RSA-SHA1 signature method for OAuth 1.0 Authentication helper"
Hi,
Currently Postman supports only HMAC-SHA1, HMAC-SHA256 and PLAINTEXT signature methods.  Need to have also RSA-SHA1 where request is signed with RSA private key.
Are there any plans on adding this?

Thanks.

[2016-08-31 15:07] ebelanger commented on #882
+1

[2016-08-31 15:11] ebelanger commented on #704
+1 this feature.  From my understanding, it would allow the creation of collections of commonly used requests that would be called inside other collections that act like scenarios.  Instead of duplicating the common cases in each scenario, you would only have to point to an already defined one.

[2016-08-31 15:12] ebelanger commented on #1535
+1 - this is especially true when collections are used for test automation with newman.  I can understand that it may not be a priority from the postman UI, but the value of reusable parts in tests has been proven times and times again.

[2016-08-31 15:13] cviebrock opened #2303 "Can no longer import Swagger files"
I get the following error when trying to import a swagger.json file (that I've previously been able to import):

[code]

Checking the console logs, I see:

[code]

I tried converting my JSON file to YAML and importing it.  Same error message in the app, but no details in the console log.

Has Swagger import been removed?

---
1. Postman Version: 4.6.3
2. App (Chrome app or Mac app): Mac app
3. OS

[2016-08-31 15:43] cviebrock commented on #2303
For fun, I tried pasting the raw text of my YAML file in the importer.  The console gave the same error, but with a bit more detail:

[code]

Hope that helps.

[2016-08-31 15:45] Redor opened #2304 "Can no longer import CURL"
1. Postman Version: 4.6.3
2. App (Chrome app or Mac app): Windows App
3. OS details: Windows 7
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: Recently
6. Expected behaviour: It should be possible to import CURL commands

Click on Import, go to the "Paste Raw Text". Add e.g.

[code]

Error occurs: Error while importing Curl

[2016-08-31 16:09] vegetableman commented on #2303
hey @cviebrock we are looking in to the issue and will have a fix out for it this week. Thanks for taking time to report it 👍 .

[2016-08-31 16:10] vegetableman commented on #2304
hey @Redor we are looking in to the issue and will have a fix out for it this week. Thanks for taking time to report it 👍 .

[2016-08-31 22:40] grojguy commented on #2304
I encountered this yesterday also.  Chrome app works.  Windows app does not.

[2016-08-31 23:11] vegetableman commented on #2304
@grojguy The issue is specific to the recent version : 4.6.3, available only for the native apps. We found the issue, a fix will be out soon this week.

[2016-08-31 23:54] benkimball commented on #1104
It would be helpful to have this for interacting with the Docusign REST API. Creating a Docusign envelope from a local Word document involves posting to an endpoint with multipart/form-data where the first part must be tagged with `Content-Type: application/json` and the second part is the Word document. In the meantime I will try @derickson82's suggestion of using two local files, one for json an

[2016-09-01 03:33] huijiewei opened #2305 "Url params has Chinese error"
1. Postman Version: 4.6.3
2. App (Chrome app or Mac app): Mac app
3. OS details: OSX 10.11.6
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[2016-09-01 10:31] Chough opened #2306 "Delay is not being added to collection run in app"
1. Postman Version: v4.6.3
2. App (Chrome app or Mac app): Windows App
3. OS details: Windows 7 Enterprise x64 6.1.7601 SP1 7601
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recent
6. Expected behaviour: Collection runner adds delay between requests
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-d

[2016-09-01 14:58] stormposse opened #2307 "Function xml2Json may not preserve XML element order?"
1. Postman Version: 4.6.3
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X Yosemite 10.10.5 (14F1909)
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: object produced by xml2Json retains the ordering of XML elements
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrom

[2016-09-01 15:11] mandrean opened #2308 "Script request object retains POST parameters even when method is changed to GET"
1. Postman Version: 4.6.2
2. App: Chrome app
3. OS details: OS X El Capitan 10.11.5
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: For as few months at least, I think?
6. Expected behaviour: Should not send body with `GET` request
7. Screenshots:

![image](https://cloud.githubusercontent.com/assets/4631744/18170028/0348760

[2016-09-01 16:39] simonbaudry commented on #1651
@a85 and @abhijitkane my mistake, you are right it works fine with the Cloud API :)

[2016-09-01 17:30] tylergoza opened #2309 "Error importing swagger.json from url (working in other importers such as PAW)"
1. Postman Version: 4.6.3
2. App (Chrome app or Mac app): Mac app
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: recently first time importing swagger.json
6. Expected behaviour: import the json as an api call
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tool

[2016-09-01 17:30] bgaillard commented on #1651
Hi, as my collegue Simon said we can now run our Newman tests using a collection downloaded with the Cloud API.

So perhaps this case could be closed (unless you want to leave it opened for users which do not have a Cloud Plan).

To help a little more here is what we did with Simon in Jenkins.

[code]

Hope this helps.

[2016-09-01 17:32] tylergoza commented on #2309
Additional information. It doesn't work with yaml as text either.

[2016-09-01 17:33] tylergoza commented on #2309
And in case you need it, here is the json:

[code]

[2016-09-01 19:20] sdnts commented on #2308
Hey @mandrean, thanks for reporting this.
The problem isn't that Postman is sending extra parameters with GET requests, it is that the `request` object is not being reset properly when you change your method from POST to GET. You can verify this by checking your Network tab in the DevTools. You'll see that the actual payload does not have those parameters in it.

As a side node, you should use jus

[2016-09-01 19:24] abhijitkane commented on #2309
@tylerwgoza This is a regression bug with the latest version of the Mac app - we'll be pushing out a fix soon.

[2016-09-01 19:29] sdnts commented on #2306
@Chough Thanks for reporting this. This has been fixed in our internal build and we'll push out a fix for this in the next release.

[2016-09-01 19:33] sdnts commented on #2295
Hey @worrel, thanks for reporting this, we're looking into this and will update you when a fix is out.

[2016-09-01 19:34] tylergoza commented on #2309
@abhijitkane Thanks! I'll pass that along to the team.

[2016-09-02 09:35] janpetzold commented on #1104
+1

[2016-09-02 09:37] mandrean commented on #2308
Hi @madebysid, thanks for quick response!

Anyway I can work around this issue (maybe with a Pre-Request Script?) before a stable release with a fix for this is released?

Edit: Never mind. I can just check the method and wipe `data: {}` if it's a `GET` or `DELETE`.

[2016-09-02 10:54] cars10 commented on #2145
+1

[2016-09-02 13:28] wabiloo opened #2310 "Feature request: "info" tests"
Hi,
The "Tests" functionality is great, but I'd love to be able to see other types of tests, not just pass/fail ones.
What I'd love to be able to do, in writing tests, is to be able to just output some information (maybe in the Tests panel, or in a new one).

The reason for this is that I'm not testing APIs, but working with 3rd party APIs and building workflows. I'd love to be able to do things l

[2016-09-02 13:44] Haegin commented on #2236
I'm also seeing this problem on the Postman 4.6.2 Mac app on OS X. The bug only seems to affect the URL fields.

![postman bug](https://cloud.githubusercontent.com/assets/124099/18205769/d890fc5e-70f1-11e6-914b-7ae2b3d58607.gif)

[2016-09-02 14:47] iamthemovie commented on #2303
Any update on this? :)

[2016-09-02 14:56] vegetableman commented on #2303
@iamthemovie  The fix will be out early next week. Stay tuned for updates !.

[2016-09-02 16:12] huntmj01 commented on #1137
+1

[2016-09-02 18:28] Iodine- commented on #2303
looking forward to update as well 👍

[2016-09-02 18:48] TimothyBramlett commented on #1015
May want to add some links to this thread with the `Cmd/+` resolution for some of the older threads.  Just to let people know that there is a fix now.  I almost started searching for a new tools after reading a thread that was eventually locked.

[2016-09-02 18:52] funwhilelost commented on #2304
@vegetableman 👍  much appreciated.  Any workarounds in the meantime?  I just copied all the headers over for each `-H`... a bit tedious.

[2016-09-02 20:39] grojguy commented on #2304
@funwhilelost ... FYI, I am using the addon in Chromium for the time being, and it works there.  (I much prefer the native app however.)

[2016-09-03 00:39] vinnyamp commented on #2304
I'm facing the same problem, the previous version works fine, the problem is on 4.6.3.
For the time being I'll be using the Chrome version, it's still on 4.6.2 and works fine.

[2016-09-03 19:58] mawalu commented on #1463
I know this is an old issue but I just found it because I was looking for exactly this feature. Would absolutely love it as well :)

[2016-09-04 23:29] hkgill commented on #2247
+1

[2016-09-04 23:30] hkgill commented on #882
+1

[2016-09-05 11:11] baelter commented on #770
Sorry for bumping an old closed issue. But still can't tab between Chrome browser and Postman app. Even with the osx app.

[2016-09-05 14:33] talalibdah1 commented on #2303
This happened only after the last update of postman. Same is happening when I try to import Runscope tests as well

[2016-09-05 14:39] mike390 commented on #2265
after an hrs searching this fixed the problem for me too - worth writing a guide about it?

[2016-09-06 01:37] SamvelRaja commented on #2303
@cviebrock @Iodine- @iamthemovie You can find the fix in our latest `4.7.0` update.

[2016-09-06 01:37] #2303 closed, assigned to vegetableman

[2016-09-06 01:39] SamvelRaja commented on #2304
@vinnyamp @grojguy @funwhilelost @Redor  You can find the fix in our latest 4.7.0 update.

[2016-09-06 01:39] #2304 closed, assigned to vegetableman

[2016-09-06 01:42] SamvelRaja commented on #2014
@AppChris This feature has been available in out latest mac apps. Kindly update your app to the latest to avail that.

[2016-09-06 01:42] #2014 closed, assigned to numaanashraf

[2016-09-06 01:44] SamvelRaja commented on #2284
@xxldoctor This should be fixed in the Windows app `4.6.3` , Kindly ensure from your end and close the issue.

[2016-09-06 02:02] a85 commented on #2190
@nathan-alden The dropdown list width is now customizable. https://www.dropbox.com/s/q3kt0mlpmujdvsc/Screenshot%202016-09-05%2019.02.03.png?dl=0

[2016-09-06 02:02] #2190 closed, assigned to aditikul

[2016-09-06 03:23] chforsb commented on #2014
Yes, it works, excellent, thanks!

[2016-09-06 05:59] vegetableman commented on #2309
@tylerwgoza The issue has been fixed in the latest 4.7.0 update.

[2016-09-06 06:13] DerFlash commented on #2225
You didn't, did you? ;-)

Just downloaded the 4.7 update automatically and proxy support is completely broken again :-(

[2016-09-06 06:22] SamvelRaja commented on #2225
@DerFlash Can you get me a screen shot of our postmanConsole (View -> Show postman console or Cmd+Alt+C)
It will show the proxy details there.

[2016-09-06 06:30] DerFlash commented on #2225
Hey SamvelRaja,

here you go:
<img width="933" alt="bildschirmfoto 2016-09-06 um 08 27 25" src="https://cloud.githubusercontent.com/assets/185013/18263638/f13d48bc-740b-11e6-8251-779099153dbc.png">

It seems to read the proxy settings but I'd guess this little space in the proxy URL may be the issue here? I'd need to switch back to the 4.6 version to check if it's there too.

[2016-09-06 06:31] SamvelRaja commented on #2225
@DerFlash Kindly add the protocol in your proxy url. Will fix the problem now. We will update this in our next release.
`http://10.100.253.28` instead of `10.100.253.28`

[2016-09-06 06:44] DerFlash commented on #2225
@SamvelRaja Tried that. Hope I did it right:
<img width="609" alt="bildschirmfoto 2016-09-06 um 08 39 02" src="https://cloud.githubusercontent.com/assets/185013/18263967/a61e7534-740d-11e6-98b1-f19418624582.png">

Unfortunately no website can be opened afterwards. The proxy URL in postman though looks correct, but it throws some other error:
<img width="945" alt="bildschirmfoto 2016-09-06 um 08 37

[2016-09-06 06:51] SamvelRaja commented on #2225
@DerFlash  can you mail us help@getpostman.com to sort out the things.

[2016-09-06 07:08] DerFlash commented on #2225
All good. 4.6.3 works like a charm again here. I'm just waiting for the update then.

Thanks a lot for your quick response to the ticket and your work for sure!

[2016-09-06 10:33] #2309 closed, assigned to nobody

[2016-09-06 10:35] #1651 closed, assigned to nobody

[2016-09-06 10:38] abhijitkane commented on #2297
@HenrikHL Can you confirm this fixed in the latest version of the Chrome app (https://www.getpostman.com/docs/updating)?

[2016-09-06 10:41] numaanashraf commented on #2287
@gilesheron The fix for this is out on versions 4.6.3 and up. Could you verify and let us know?

[2016-09-06 10:46] HenrikHL commented on #2297
Thank you for fixing the problem. The "undefined" has dissapeared. The indention though is wrong - but I guess that is still because I don't properly escape the XML?
Appart from the indention it looks correct...
![image](https://cloud.githubusercontent.com/assets/3489388/18270926/d902355e-742f-11e6-907e-4ce038ea4846.png)

[2016-09-06 10:47] abhijitkane commented on #2297
Yep, the `/p>` is regarded as a closing tag. Closing this issue for now.

[2016-09-06 10:47] #2297 closed, assigned to nobody

[2016-09-06 12:47] conteit commented on #2230
The issue is still present in v4.7.0. Are you still working on it?

[2016-09-06 12:56] xxldoctor commented on #2284
Hmm, for now (version 4.7 on windows) I still have troubles in such requests, but it show the responce now:
{
  "status": 400,
  "code": "CONVERSION_NOT_SUPPORTED",
  "message": "Failed to convert value of type 'java.lang.String' to required type 'long'; nested exception is java.lang.NumberFormatException: For input string: \":orderId\""
}

In chrome extension same request work correctly.

[2016-09-06 15:03] tylergoza commented on #2309
Perfect. Just verified that this is working correctly now. Thanks!

[2016-09-06 15:05] wayne-werner opened #2311 "Windows app doesn't remember previous window state on startup."
1. Postman Version: v4.7.0
2. App (Chrome app or Mac app): Windows
3. OS details: Windows 10.1
4. Is the Interceptor on and enabled in the app: Don't know
5. Did you encounter this recently, or has this bug always been there: At least several weeks
6. Expected behaviour: Windows apps should restore window state on app startup to previous sessions state (window position, size, max state).

[2016-09-06 15:33] EpocDotFr opened #2312 "oAuth 1.0 Authorization HTTP header leading comma"
1. Postman Version: 4.7.0
2. App (Chrome app or Mac app): Both
3. OS details: Windows 10
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Encountered recently
6. Expected behaviour: oAuth 1.0 HTTP header is working

Using the latest Windows app, try to use oAuth 1.0 with the following parameters: Consumer key, Consumer secre

[2016-09-06 15:42] ZeWaren commented on #2312
Same thing here.
The good ol' Chrome app doesn't have this issue, but the windows packaged one does.

[2016-09-06 17:42] SamvelRaja commented on #2311
Hey @wayne-oscme we are facing an issue with remembering the window state in Windows version alone. We are having this in our list. And will update here once we reached the solution.

[2016-09-06 18:50] marcoruval commented on #1137
+1

[2016-09-06 20:04] tdurden82 opened #2313 "Client certificates omitted in Runner"
1. Postman Version:
   4.6.2
   1. App (Chrome app or Mac app):
      Mac App
   2. OS details:
      OS X El Captain 10.11.6
   3. Is the Interceptor on and enabled in the app:
      Negative
   4. Did you encounter this recently, or has this bug always been there:
      Recently
   5. Expected behaviour:
      When a collection is executed via Runner, it uses the certificates just like when exec

[2016-09-06 21:58] cviebrock commented on #2309
It's mostly working.  Take the following Swagger document:

[code]

Importing that generates a request with a URL of:

[code]

i.e. the first URL parameter, `accountId`, is correctly interpreted, but the second one, `cardId` is not.

[2016-09-06 22:18] nbcarey opened #2314 "Mac Postman App v4.7.0 Using loopback adapter instead of proper IP address."
**Problem:** The Mac Postman App v4.7.0 appears to be trying to connect to the loopback adapter (127.0.0.1) for all URLs. Hitting the same url with `curl(1)` or in a web browser succeeds normally. Note that the Mac Postman App was working fine prior to upgrading to 4.7.0.

These environment variables are set:

[code]
1. Postman Version: 4.7.0
2. App (Chrome app or Mac app): Mac
3. OS details: OS X

[2016-09-06 23:46] jammage commented on #2287
Hello,

I can confirm this working now in Postman 4.7.0 for Windows.  More details of my app are as follows:
win / x86-32
Chrome 52.0.2743.116

Thanks for making the change!

[2016-09-07 00:00] #2287 closed, assigned to numaanashraf

[2016-09-07 00:01] a85 commented on #2290
@mysteriouss Yep. We have a concept for this internally. We'll try to have this in our Canary builds pretty soon.

[2016-09-07 06:52] huyq119 commented on #2185
@abhijitkane  why close this subject？

[2016-09-07 12:29] numaanashraf commented on #2276
@narqo This should be fixed in versions 4.6.3 and up. Could you verify and let us know if you are still facing issues?

[2016-09-07 12:32] v0ltair3 commented on #2314
+1

I'm facing the exact same problem... any workaround available ??? Shall I downgrade ?

[2016-09-07 12:51] SamvelRaja commented on #2314
@nbcarey  @v0ltair3  Thanks for taking this to our notice. There is bug related to the proxy protocol handling which is causing the issue.
Appending the protocol manually to the proxy server host should ideally solve this issue.

![proy_issue_resolution](https://cloud.githubusercontent.com/assets/5114052/18312532/db8343b0-7527-11e6-8cd5-825d0179d6f0.gif)

[2016-09-07 13:33] alexfu commented on #2296
I noticed this too. They are actually sent in the `Authorization` header. Would like to see this as an option since our server expects them in the body as form data and not in the auth header.

[2016-09-07 14:42] gilesheron commented on #2287
yes - works for me :)

On 6 Sep 2016, at 11:41, Numaan Ashraf <notifications@github.com<mailto:notifications@github.com>> wrote:

@gilesheronhttps://github.com/gilesheron The fix for this is out on versions 4.6.3 and up. Could you verify and let us know?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/postmanlabs/postman-app-s

[2016-09-07 14:58] tariqghalib opened #2315 "[Feature Request] - Ability to sync collections and environments from version control (git)"
**Feature Statement:**
If we could add the ability to sync latest collections and environments from the version control (git) that will be of great value. Currently every time I share an update with the team, they have to manually delete and upload new collections and environments. Its a tedious task to do. I do know that there is cloud service available but support for other version controls will

[2016-09-07 15:40] alrocar commented on #1744
+1

[2016-09-07 15:52] narqo commented on #2276
I've checked with 4.7.0 and looks like my problem had been solved. Thanks!

[2016-09-07 15:52] #2276 closed, assigned to czardoz

[2016-09-07 17:07] priyaaank commented on #1374
I noticed that if I used Interceptor and cookies then along with my specified cookie header, all my past cookies were being appended and sent to the server together as an array. In my application, it meant that a cookie from past was being extracted from the array and used, which resulted in an unauthorized error. There was no great way to clear cookies from the past or enforce only the cookie tha

[2016-09-07 20:44] a85 commented on #1374
Everyone. Have started looking into this issue. Will post an update soon.

[2016-09-07 20:49] a85 commented on #2230
@conteit Yep. Looking into it again.

[2016-09-07 20:51] a85 commented on #1651
@bgaillard Awesome!

[2016-09-07 20:52] a85 commented on #2265
@mike390 Yep. Documentation will be updated soon.

[2016-09-07 20:52] a85 commented on #770
@baelter Not sure what problem you are facing. Cmd+Tab is what you need to use with the OS X app. It's completely separate from the Chrome browser.

[2016-09-07 20:53] shamasis commented on #2230
@czardoz add liquid-json as a JSON replacement inside sandbox and that should address this. There wasn't anything specific we were doing except if XHR handled slant specific case. Point to note that this issue was present with XHR as well.

[2016-09-07 21:01] a85 commented on #882
@shamasis Can you link to the collection level script stuff that is now out in the new Runtime?

[2016-09-07 21:01] a85 commented on #2247
@shamasis Same issue as #882

[2016-09-07 21:02] a85 commented on #1015
@TimothyBramlett Feature has been out for a while now. I'll add a comment on other threads. :)

[2016-09-07 21:05] a85 commented on #2307
@stormposse Thanks for reporting this. Looking into the issue.

[2016-09-07 21:06] a85 commented on #2305
@huijiewei Thanks for reporting this. Looking into the issue.

[2016-09-07 21:07] a85 commented on #1563
@shamasis What's the behavior in the runtime now?

[2016-09-07 21:08] a85 commented on #2241
@c3cris Looking into this.
@shamasis Tied to the runtime?

[2016-09-07 21:13] a85 commented on #2288
You can do that using code in pre-request scripts. We'll add some snippets to help people get started. We are not adding any more 3rd-party libraries into the Postman sandbox for the short term.

[2016-09-07 21:13] #2288 closed, assigned to nobody

[2016-09-07 21:14] a85 commented on #327
@ZebGirouard Not sure why you are facing this. Can you show me a screenshot of Postman?

[2016-09-07 21:15] #1922 closed, assigned to abhijitkane

[2016-09-07 21:15] #2122 closed, assigned to nobody

[2016-09-07 21:19] james-flume commented on #739
+1

[2016-09-07 21:20] #820 closed

[2016-09-07 21:21] a85 commented on #2238
A 3-pane layout is coming to Postman soon.

[2016-09-07 21:23] a85 commented on #814
@rjherman2011 Not yet. multipart/mixed is not currently available in the UI.

[2016-09-07 21:25] a85 commented on #1972
@bgraw3 We are working on manual reordering + multiple folders.

[2016-09-07 21:28] a85 commented on #849
@numaanashraf @kunagpal Any update on this?

[2016-09-07 21:29] a85 commented on #2273
@respectTheCode Agree. We are working towards this.

[2016-09-07 21:29] a85 commented on #1906
Not yet. Busy with some other issues right now. Hope to have an update here soon.

[2016-09-07 21:30] a85 commented on #2232
@prdonahue We are thinking of doing both: custom auth plus the ability to send requests from pre-requests/test scripts. Will post an update here soon.

[2016-09-07 21:31] a85 commented on #2260
@shamasis Can we do this with our release server? Thinking we can have one older version as a back up.

[2016-09-07 21:33] a85 commented on #1669
@tribou We are super interested in extending Postman to things beyond HTTP but have been super swamped with the current workload. :(

[2016-09-07 21:36] a85 commented on #1048
@Arrow7000 I'd recommend switching to our native apps.

[2016-09-08 04:54] shamasis commented on #2241
It's reported to be in version 4.4.3 of chrome app @a85

[2016-09-08 05:03] shamasis commented on #1563
Current runtime updates env variables after every script and during request the latest state is used. This issue should not exist any longer. @madebysid can you do a quick check and confirm?

[2016-09-08 05:06] shamasis commented on #2247
Hello everyone, how about being able to add test and prerequest scripts to a folder, which runs upon sending any request under that folder (or collection)?

[2016-09-08 05:57] liweigong commented on #1563
still not work.

4.7.0
win / x86-32
Chrome 52.0.2743.116

my pre script like this:

[code]

[2016-09-08 06:27] shamasis commented on #1563
Can you try in Windows or Mac native apps and let us know if it works for you?

[2016-09-08 07:58] sdnts commented on #1563
@shamasis Can indeed replicate this issue in the Chrome app. This seems to be fixed on the native apps though.

@N0rimaki @gotoraghu @Liweigong Can you guys try running your collection in the native apps and let us know? (https://www.getpostman.com/apps)
Native apps are now built on top of a newer architecture that is yet to be rolled out on Chrome. (http://blog.getpostman.com/2016/06/14/introduci

[2016-09-08 08:13] liweigong commented on #1563
windows app , x64 and x86 version both tried.
app version 4.7.0  (auto update after install)

still not work. and even worse.  can't pass the sign verify even not use param {{timestamp}}

I will try it again later since my computer a bit slow now.

[2016-09-08 08:31] baelter commented on #770
Sorry, was using chrome app.

[2016-09-08 11:45] TrevorPilley commented on #1137
+1

[2016-09-08 13:07] kunagpal commented on #849
@a85 I haven't checked yet, will have to get back to you on this.

[2016-09-08 15:17] MeLlamoPablo commented on #448
Hey folks, as much as I want this issue fixed, commenting `+1` isn't gonna deliver it earlier. Please use the thumbs up icon to show agreement instead.

[2016-09-08 15:20] tclift opened #2316 "Native App Profile Switcher (multiple profiles / multiple users)"
I use Postman with 3 separate Google Accounts, each with separate collections and environments (thank you!). Using the Chrome App, this is all kept separate automatically. The app is simply installed 3 times, with my email address in the app name to disambiguate (e.g. in Spotlight).

With Chrome Apps eventually going away, it would be very helpful to have a profile switcher in the native app so th

[2016-09-08 15:47] vivaladan commented on #2253
I have the same problem. I'm using a configuration proxy script as per my corporate network.

For external requests postman native app sets the proxy.
For localhost it doesn't set the proxy, but the request does leave the machine.
I know it leaves because the response is a 504 and includes a VIA header with an internal network machine. The response is below for what it's worth, however I think the

[2016-09-08 16:41] pdesjardins90 commented on #739
+1

[2016-09-08 16:46] MrThreepwood commented on #882
+1

[2016-09-08 18:14] Ryanman commented on #1137
+1 - Particularly galling since the Chrome plugin functions as other people have mentioned.

Great app though!

[2016-09-08 21:03] tribou commented on #1669
@a85 I understand, and thank you for the kind response.  A quick clarification... GraphQL can actually communicates with JSON over HTTP using POST calls.  With this being an example GraphQL query:

[code]

The resulting full example query using `curl` looks like this:

[code]

Consequently, I'm actually able to use Postman to test and save queries now.  However, the awkward string formatting requi

[2016-09-08 22:45] shamasis commented on #882
Here's a proposal: We are thinking of adding ability to have scripts attached to folders and collections - these could get executed in conjunction with all requests inside a folder. There's a also another line of thought of being able to define loose scripts with collection and then being able to refer to them from requests and folders. Thoughts?

[2016-09-08 22:57] a85 commented on #2241
Ah. Let's check for this in the new version then.

[2016-09-08 23:00] a85 commented on #2316
@tclift Yep. This is on our roadmap but with the main intention of supporting multiple teams. Any reason you had to keep collections and environments separate?

[2016-09-08 23:03] jutley-hiya commented on #882
I have a script that I use across quite a few folders. It would be more useful for me to be able to have a loose script that I can pull into scope when needed.

[2016-09-08 23:41] #1254 closed, assigned to nobody

[2016-09-09 00:00] MrThreepwood commented on #882
I'd agree with jutley-hiya. I work for a service company, so we have a LOT
of collections, but I have a JSON format validator script that I use on
almost every call. Currently it's a global variable that I have to
evaluate.

On Sep 8, 2016 6:03 PM, "jutley-hiya" notifications@github.com wrote:

[2016-09-09 01:08] a85 commented on #2300
@megadix +1. This is coming soon to Postman.

[2016-09-09 01:18] ebelanger commented on #882
It would be pretty great if the scripts could export functions into the sandbox much like an environment loads exports variables.  You would then just need to load your desired sandbox environment once by selecting it in postman or passing the file to newman.  Just a though.

[2016-09-09 05:06] #1788 closed, assigned to nobody

[2016-09-09 05:06] #1809 closed, assigned to nobody

[2016-09-09 05:07] a85 commented on #1755
Not sure if we ever explicitly stored the scroll position.

[2016-09-09 05:08] #2251 closed, assigned to numaanashraf

[2016-09-09 07:20] boisde opened #2317 "postmanclient: does not support non-ascii argument value in query str"
1. Postman Version: <code>4.7.0</code>
2. App (Chrome app or Mac app): <code>Mac app</code>
3. OS details: <code>Version 10.11.6 (15G1004)</code>
4. Is the Interceptor on and enabled in the app:<code>No</code>
5. Did you encounter this recently, or has this bug always been there: <code>always</code>
6. Expected behaviour:
   - <code>Directly input non-ascii str argument into query string as params

[2016-09-09 08:22] megadix opened #2318 "Duplicating a test case should put the new test case immediately below the original one"
1. Postman Version: 4.7.0
2. App (Chrome app or Mac app): Mac app
3. OS details: Mac OS X 10.11.5 El Capitan
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always been there
6. Expected behaviour: duplicating a test case should put the new test case immediately below the original one

Steps to reproduce the problem:
- add

[2016-09-09 09:16] calebrepkes commented on #882
I'd like both functions. As I have code that is specific to the folder or whole collection. But I also have code that could shared over collections.

[2016-09-09 14:53] turchinc commented on #2314
I am seeing a similar issue but AFAIK am not using a proxy. My problem is with localhost and with the new Windows App v.4.7.0.  (downloaded from https://dl.pstmn.io/download/latest/win?arch=64) is not working.

Windows App:
![image](https://cloud.githubusercontent.com/assets/645266/18391148/4d1e6ece-76ad-11e6-8b5d-088bc6f21f2e.png)
Chrome Extension:
![image](https://cloud.githubusercontent.com/ass

[2016-09-10 04:39] udaraliyanage commented on #682
+1 for this feature

[2016-09-10 08:36] rvnath opened #2319 "Unable to connect to my account, after login"
1. Postman Version:  4.7.0
2. App (Chrome app or Mac app):  Chrome App
3. OS details: Linux Mint (Linux / x86-64)  chrome 52.0.xxxx
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there:  Recently, when I switched to a new m/c having linux mint 18.  It was working fine on linux mint 17 Rafaela.
6. Expected behaviour:
7. Console l

[2016-09-10 17:54] stevemcmillen commented on #1353
Thanks.  Looks good to me.  Closing.

[2016-09-10 17:54] #1353 closed, assigned to nobody

[2016-09-10 17:56] stevemcmillen commented on #1328
Latest udpates are amazing.  Being able to allow multiple editors per collection is very useful.  And UX is clear now.  I think this can be closed as fully resolved.  Thanks!!

[2016-09-10 17:56] #1328 closed, assigned to nobody

[2016-09-10 17:58] stevemcmillen commented on #926
UX updates have been really helpful.  I think this resolves the issue.  I love the fact that you can also keep the description on each api collapsed now.  Thanks!!

[2016-09-10 17:58] #926 closed

[2016-09-10 19:05] joelaw1 commented on #2314
I have the same problem as the OP but I cannot apply the referenced fix due to auto proxy configuration and corporate pac file policies.

[2016-09-10 20:48] daBONDi commented on #1137
+1

[2016-09-10 20:55] a85 commented on #984
@jotb The click handler is there now in the latest versions of Postman. More improvements for variable editing are coming soon!

[2016-09-10 20:55] #984 closed, assigned to nobody

[2016-09-10 20:55] a85 commented on #982
@neowulf33 What do you exactly mean by auto sorting?

[2016-09-10 20:56] a85 commented on #985
Display scaling is available in the Postman apps now. Check out the shortcuts screen!

[2016-09-10 20:56] #985 closed, assigned to nobody

[2016-09-10 20:57] a85 commented on #1585
This feature is available now in Postman!

[2016-09-10 20:57] #1585 closed, assigned to aditikul

[2016-09-10 20:58] a85 commented on #1487
@elmi82 You can now scale up the entire UI using Cmd + '+'. Check out other shortcuts in the Settings screen!

[2016-09-10 20:58] #1487 closed, assigned to aditikul

[2016-09-10 20:59] a85 commented on #1149
Everyone. You can now use Cmd + '-' to zoom out of the entire UI and see more of everything.

[2016-09-10 20:59] #1149 closed, assigned to nobody

[2016-09-10 21:02] a85 commented on #1170
Everyone. Now you can use the Cmd + '+' shortcuts to zoom in. Cmd + '-' shortcuts to zoom out. This should let you use Postman as per your screen resolution or your use case. We are making more improvements to the UI and allowing more flexibility in moving things around.  (2-pane, 3-pane layouts for example)

[2016-09-10 21:02] #1170 closed, assigned to nobody

[2016-09-10 21:02] #1824 closed, assigned to nobody

[2016-09-10 21:02] a85 commented on #1824
The entire UI can be zoomed in/out just like a browser window now. Check out Settings > Shortcut to see how. :)

[2016-09-10 21:04] a85 commented on #2104
@danielmcq You can use this now. Check out Settings > Shortcuts to see how:

<img width="701" alt="screenshot 2016-09-10 14 04 34" src="https://cloud.githubusercontent.com/assets/653409/18413533/84ccf89c-775f-11e6-8563-ebb589590804.png">

[2016-09-10 21:04] #2104 closed, assigned to nobody

[2016-09-10 21:06] a85 commented on #1977
You can now scale up the entire UI. Check out Settings > Shortcuts to see how:

<img width="701" alt="screenshot 2016-09-10 14 04 34" src="https://cloud.githubusercontent.com/assets/653409/18413544/be2ec070-775f-11e6-8d7a-a35abdd85de4.png">

[2016-09-10 21:06] #1977 closed, assigned to nobody

[2016-09-10 21:06] a85 commented on #979
The entire Postman UI can be scaled up and down now.

<img width="701" alt="screenshot 2016-09-10 14 04 34" src="https://cloud.githubusercontent.com/assets/653409/18413547/cab4e28e-775f-11e6-80b1-0fab6372b357.png">

[2016-09-10 21:08] a85 commented on #1865
@zorker You can now zoom in/out of the UI. Shortcuts here:

<img width="701" alt="screenshot 2016-09-10 14 04 34" src="https://cloud.githubusercontent.com/assets/653409/18413558/1b4d72ec-7760-11e6-9bd2-5782f2dd87a7.png">

[2016-09-10 21:08] #1865 closed, assigned to a85

[2016-09-11 22:51] a85 commented on #1706
@dfrommi This is high on our priority and you should see improvements soon.

[2016-09-12 00:12] tclift commented on #2316
@a85 just to separate work & work & play :)

[2016-09-12 00:31] syky27 commented on #697
+1

[2016-09-12 06:02] scdba commented on #1137
+1

[2016-09-12 07:57] vegetableman commented on #2306
@Chough The bug has been fixed in the release v4.7.0. Check it out.

[2016-09-12 08:55] sdnts commented on #2286
@everydaynerd @dpjayasekara Can you guys try updating to the latest version (4.7) and verify if this is fixed?

[2016-09-12 08:56] #2306 closed, assigned to numaanashraf

[2016-09-12 09:44] sdnts commented on #767
Closing, as this is fixed as of the latest version (4.7)

[2016-09-12 09:44] #767 closed

[2016-09-12 09:51] mad666 opened #2320 "long numeric values get truncated after 16 digits when extracting from JSON"
1. Postman Version: 4.7.0
2. App (Chrome app or Mac app): Chrome App, Chrome 53.0.2785.101
3. OS details: Windows 7 x64 Enterprise SP1
4. Is the Interceptor on and enabled in the app: tried on and off
5. Did you encounter this recently, or has this bug always been there: didn't use the feature before
6. Expected behaviour: values from JSON response get correctly written to environment
7. Console l

[2016-09-12 09:54] SamvelRaja commented on #2284
This is a known change and would arrive in chrome app soon. This is in order to better disambiguate path variables and possible future amalgamation of path variables and other postman variables. It also helps us add better features such as static variable name parsing and syntax highlighting.

`{{baseurl}}/:id{{format}}/` will take `:id` will be resolved as if it was `:id` and `{{format}}` as a co

[2016-09-12 09:54] #2284 closed, assigned to czardoz

[2016-09-12 10:00] SamvelRaja commented on #2145
@madebysid - check if this issue is still there in latest native app

[2016-09-12 10:04] sdnts commented on #2145
Hey @caioiglesias @MendeleyStack @cars10 Can you guys try updating to the latest version (4.7) and verify if fixed?
Closing for now, feel free to reopen if this still persists.

[2016-09-12 10:04] #2145 closed, assigned to sdnts

[2016-09-12 10:05] caioiglesias commented on #2145
Worked for me on v.4.7.0

[2016-09-12 10:07] SamvelRaja commented on #2294
We released a fix for this in 4.6.3 - @andreassiegelrfid can you check and confirm? 😄

[2016-09-12 10:09] sdnts commented on #2295
Hey @worrel Can you try updating to the latest version (4.7) on the native app and verify if this is fixed?

[2016-09-12 10:18] SamvelRaja commented on #1786
@a85 maybe a better highlight / segregation of session cookies?

[2016-09-12 10:19] sdnts commented on #2241
@c3cris Can you try updating to the latest version (4.7) on the native app and verify if this is fixed?

[2016-09-12 10:24] sdnts commented on #2078
@sqlrob Can you try updating to the latest version (4.7) on the native app and verify if this is fixed?

[2016-09-12 10:25] SamvelRaja commented on #2275
should we encode? that might not be useful for someone else.
- we could only escape characters that are not compatible with terminal input
- put quotes around parameters that have spaces (or space-like) characters

[2016-09-12 10:39] sdnts commented on #2320
Hey @mad666, this is a limitation with JavaScript itself. JS only has about 16 digits of precision, which is why you lose information. One work-around could be to use strings instead of numbers.
Closing as there's nothing we can do about this really 😛

[2016-09-12 10:39] #2320 closed, assigned to nobody

[2016-09-12 10:53] sdnts commented on #1284
@cjarrett-hipwood @tyteen4a03 Can you guys try updating to the latest version (4.7) on the native app and verify if this is fixed?

[2016-09-12 10:55] sdnts commented on #404
@eerien Can you try updating to the latest version (4.7) on the native app and verify if this is fixed?

[2016-09-12 11:17] johnmckay-reward commented on #1137
+1

[2016-09-12 12:10] sdnts commented on #838
This should be fixed in the latest native app (4.7).
Files with spaces in their names should also be handled now. Can you guys confirm?

@redbeandev We'll check out the Code Generation issue.

[2016-09-12 14:36] PsiOps commented on #697
+1