[2017-04-25 08:40] kunagpal opened #2975 "OAuth 2.0 - Support ssl certificate authentication"
Originally posted by @sivakrishnajee in https://github.com/postmanlabs/newman/issues/997

When trying to get a new access token for oAuth 2.0 - Grant type of "Authorization Code" results in the following error:

error: invalid_request
Description: proper%20client%20ssl%20certificate%20was%20not%20presented

 1. Postman Version: Version 4.10.7 - win32 6.1.7601 / x64
 2. App (Chrome app or Mac app):

[2017-04-25 08:52] kunagpal opened #2976 "Postman is not getting oAuth 2.0 - Access Token when there are 2 SSL certificates in windows certificate store"
Originally posted by @sivakrishnajee in https://github.com/postmanlabs/newman/issues/998

 1. Postman Version: Version 4.10.7
 2. App (Chrome app or Mac app): Windows
 3. OS details: win32 6.1.7601 / x64
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: happening for last 3 months
 6. Expected behaviour: Postman should generat

[2017-04-25 09:57] murli5in commented on #1180
Hi  I am trying to create a Db connections in .js using node.js pg-pool package .
is possible to call js functions in postman? please share your thoughts

[2017-04-25 09:58] numaanashraf commented on #2974
Hi @swateek, are you entering the Auth URL correctly? We just tried the flow detailed in the tutorial and it seems to work correctly on Postman for Mac v4.10.7.

<img width="482" alt="screen shot 2017-04-25 at 3 20 32 pm" src="https://cloud.githubusercontent.com/assets/3295568/25379733/acddbb90-29cb-11e7-9218-67703e6d03db.png">
<img width="805" alt="screen shot 2017-04-25 at 3 21 31 pm" src="https

[2017-04-25 09:59] numaanashraf commented on #2973
Hi @longxianlin, we are constantly improving the app based on feedback. Could you let us know why you do not prefer the new data editors?

[2017-04-25 10:28] swateek commented on #2974
@numaanashraf I got around this issue, apparently the Scope isn't an optional parameter for Slack. Thank you!

[2017-04-25 10:28] #2974 closed, assigned to numaanashraf

[2017-04-25 12:31] kachraf commented on #803
+1

[2017-04-25 13:38] ghost commented on #1906
+1

[2017-04-25 16:41] thoorp commented on #1906
+1

[2017-04-25 16:57] afreeland commented on #2169
Thanks for posting this =)

Probably a dumb question but why does the interceptor being enabled cause this behavior...

[2017-04-25 19:31] dh94 commented on #1669
+1

[2017-04-25 23:23] a85 commented on #1669
Sorry about the delay on this folks. This got held up as we have been refactoring parts of the app to enable more modularization. GraphQL is high on our radar overall. I'll update the thread once we have more info to share. Thanks for your patience.

[2017-04-26 01:30] brickapi commented on #1104
+1

[2017-04-26 08:42] bhawna2109 commented on #2887
Hey @matt-usurp thanks for explaining your use case. Quickly listing down some of the needs you've highlighted -
1. ability to define and edit variables (request level, collection level, environment and globals) quickly
2. have sessions for variables and play with different variable values in that session. The values for the variables will not be persisted after you close the app.
3. Better manage

[2017-04-26 08:43] maccer83 commented on #2748
I get this as well in the Mac app v 4.10.7. If I duplicate a command (right-click its tab and choose "Duplicate"), and then edit the name of the duplicated tab (by clicking the pen icon and writing a new name), the original tab gets the new name as well. In my case, the name change for the old tab persists even after a close / restart of the app.

[2017-04-26 08:58] SORC3r3r commented on #2748
@maccer83 Maybe try duplicating your command then restart the application and then make the changes?
I know restarting is not an elegant solution but maybe it works for now.

[2017-04-26 09:15] sudharsan81 commented on #2621
Awaiting for this feature very eagerly. Then I can migrate my CI tests from costly-to-maintain .Net scripts to 100% postman scripts :)

[2017-04-26 12:06] luiscavero commented on #907
@a85 Thanks, I can't find this in the Postman Roadmap Trello, is that feature a near term?

[2017-04-26 12:17] ducin commented on #1906
+1

[2017-04-26 12:44] daniil388 commented on #1906
+1

[2017-04-26 15:29] moleksyuk opened #2977 "[MacApp][Feature]: Edit enviroment variables in url is painful"
1. Postman Version: 4.10.7 (4.10.7)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra 10.12.4 (16E195)
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: I figured out this in on of the latest releases of Postman
 6. Expected behaviour: Invalid enviroment variable should be editable like a text and not disap

[2017-04-26 17:07] polomsky commented on #1321
It would be fine to have different proxy settings for each environment (e.g. for live no proxy, for devel proxy)

[2017-04-26 18:45] pecet66 commented on #2462
Newest version here, still the same issue, on Windows Postman application and Chrome plugin.

[2017-04-26 18:49] sivakrishnajee commented on #2975
Kunagpal, Thank you for moving the ticket into the appropriate queue.

[2017-04-26 19:29] wi-ski commented on #1066
Want so bad.  Also make it so you can export histories!~ 💃

[2017-04-26 19:33] jakeNiemiec commented on #697
`2 Years, 8 Months` worth of patience, but good to hear this feature is being worked on!

[2017-04-26 21:32] cyberalchemist commented on #1475
+1

[2017-04-26 21:44] marshallalsup commented on #2870
Workaround on installed version of Postman, (4.10.7) is to add the cookie as a header.
Header Key: cookie
Header Value: someKey=someValueIncludingEqualSigns

To do this on the browser plugin version of Postman you need to turn on the intercepter

[2017-04-26 21:50] dshefchik commented on #2870
I found the culprit. Located in the _cookie module:

[code]
Judging from this code, it's ignoring everything after the second '='. Even though that comment is saying it's not.

[2017-04-26 22:58] mianelson commented on #675
+1000

[2017-04-26 23:53] a85 commented on #907
@luiscavero It's under the title of Multi-Level folders: https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers

[2017-04-27 01:33] yackermann commented on #1374
@SeanNguyen Same here

[2017-04-27 08:25] vegetableman commented on #2977
@moleksyuk We are able to reproduce the issue. Will keep you posted ^_^.

[2017-04-27 08:57] Heydiddly commented on #907
@a85 Thanks, I for one wasn't aware of that roadmap - great to see that this and the folder re-ordering mentioned above are both targetted for near-term release.

[2017-04-27 08:59] gimlichael commented on #2758
Confirmed. Same on Danish keyboard :-(

[2017-04-27 09:56] morvagor commented on #2897
@vegetableman I had the same problem after trying desktop Postman for Windows (have Win 10). Chrome app worked fine, but desktop had this problem. I use proxy for connecting to www, which apparently is OK with Chrome. But as target site is in the intranet, I just added exception for this site to Windows proxy configuration and desktop app started to work as well.

[2017-04-27 10:49] anurajsl opened #2978 "Integrating Postman with gitlab hosted in a private server."
I am a user who is in trial period of Postman Pro. I wanted to integrate my postman and collections with Gitlab. However I have created an access token and tried to add it in your integrate with gitlab section (https://app.getpostman.com/dashboard/integrations/gitlab/list)  in cloud app. But the issue is that I have created token in my custom hosted gitlab server ie. git.mydomain.com, but you are

[2017-04-27 10:58] milan-tradecore commented on #2316
Hi, is there any update on this? It'd be very helpful indeed, if I may say so myself.

edit: the concept that slack has with multiple teams would fit perfectly.

[2017-04-27 11:19] Sarastro72 commented on #2238
I beg to differ, the issue is still very much alive for me. I am running 4.10.7 on os-x 10.12.3. Makes it difficult to read the last few lines of the payload. :(

![screen shot 2017-04-27 at 13 19 21](https://cloud.githubusercontent.com/assets/3330155/25481157/321aa198-2b4c-11e7-8009-52db6054b003.png)

[2017-04-27 11:44] raja031191 commented on #2238
@maxgalbu @Sarastro72 You can try our Two pane view (cmd/ctrl+alt+v)  or  View -> Toggle two pane view
![screen shot 2017-04-27 at 5 13 50 pm](https://cloud.githubusercontent.com/assets/22856573/25481898/f0bfe548-2b6c-11e7-8086-be278f515d20.png)

[2017-04-27 11:46] SamvelRaja commented on #2238
@maxgalbu @Sarastro72 You can try our Two pane view (cmd/ctrl+alt+v) or View -> Toggle two pane view
![screen shot 2017-04-27 at 5 13 50 pm](https://cloud.githubusercontent.com/assets/5114052/25481958/47367b94-2b6d-11e7-96a1-483478d27615.png)

[2017-04-27 12:27] GrayedFox commented on #675
So.... 2 years on, any update? :bowtie:

[2017-04-27 12:58] fabiante commented on #1137
+1

[2017-04-27 13:53] prashantagarwal commented on #2977
Hi @moleksyuk , We are tracking this issue at #2895 . I am closing this issue as duplicate.

[2017-04-27 13:53] #2977 closed, assigned to prashantagarwal

[2017-04-27 13:56] edwardmlyte opened #2979 "Black screen on standalone app in Virtualbox Ubuntu 16.04 VM with accelerate3d enabled"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Stnadalone linux app
 3. OS details: ubuntu 16.04
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: Postman opens
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for t

[2017-04-27 14:02] dav1dbailey opened #2980 "Using environment variables from test window = Not working"
Hi,

I have been using Postman for several months now and all okay so far, however I have a test that requires using an environment variable.  However It appears that any environment variables that are referenced from in the Tests section are ignored / do not work. I have so far been setting variables (this still works) but unable to use any variables.

I read on this site that its best to use the

[2017-04-27 14:50] edwardmlyte commented on #2973
Mildly related: being able to control the version installed in pre-built environments would be extremely useful in maintaining stability.

[2017-04-27 16:36] wilsonandcompany commented on #2950
Infrequently, I am able to repro even if subsequent response has a body. OSX 10.9.5, Postman 4.10.7 native app.

[2017-04-27 17:13] qmcree commented on #2950
@wilsonandcompany I can confirm this as well. When it occurs, the only way to see the correct data in the "Preview" tab is to click another tab like "Raw" and then click "Preview" again.

[2017-04-27 17:20] kamalaknn commented on #2950
Hi,

We can confirm that this is a bug in the latest version. We will roll out a fix for this in the next version.

Until then changing the response body type once will make sure that the response body is updated.

This shouldn't be happening though and will be fixed as soon as possible.

I will update here once the fix is out.

[2017-04-28 09:49] sidd1004 commented on #2685
+1

[2017-04-28 10:11] sdnts commented on #2980
Hi @dav1dbailey! How are accessing these environment variables?
In the pre-request script, you would ideally have something like:
[code]

and the test script would look like this:
[code]

Also, do have an environment active? Without an active environment, this won't work. [Docs](https://www.getpostman.com/docs/environments)

[2017-04-28 10:51] sdnts commented on #1374
Can you guys check Chrome's cookie sore to see if everything is alright there?

[2017-04-28 13:13] Flaxscrip commented on #2979
Same issue with brand new Ubuntu 16.04 installation on Windows 10 VirtualBox Host.

[2017-04-28 13:20] somaiah commented on #1983
I noticed this happening to me as well.

I made a GET call with Interceptor on
I then changed the settings on the GET call to a POST
The post had the following headers:

Accept
X-DevTools-Emulate-Network-Conditions-Client-Id
X-Requested-With
USer-Agent
X-CSRFToken
Referer
Accept-Encoding
Cookie
Content-Type

The data sent was raw in application/json format

[2017-04-28 16:15] jjae2124 commented on #1566
is there an analogue function to xml2Json in the Sandbox to convert a javascript object (or parts of it) back to XML ?

[2017-04-28 16:21] mhGLEIF commented on #1566
+1000. I'm regularly swapping XML strings in JSON wrappers and they are JSON-escaped, not XML escaped, so I can't toggle the escapes with my XML editor :-(

[2017-04-28 17:36] shawnseaton opened #2981 "Collection Runner not sending Authorization Header with GET Requests"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac App
 3. OS details: Mac OS Sierra 10.12.4
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there:  recently with the latest update
 6. Expected behaviour: tests that run successfully individually should also run successfully in the collection runner.  Same tests run

[2017-04-28 18:41] dlopuch opened #2982 "New Dynamic Variables Request: test name references to enable application log backtrace back to postman"
The existing postman dynamic variables are {{$guid}}, {{$timestamp}}, and {{$randomInt}}.

Request adding a new ones: {{collectionName}} and {{testName}}.

Use case:
Sometimes user's application logging might show something weird or warranting further investigation.  Being able to backtrace to originating request would be helpful. With {{collectionName}} and {{testName}}, the postman test that gen

[2017-04-28 18:43] tmack8001 opened #2983 "[Feature Request] Pluggable Authorization Integration Framework"
It would be great to have a pluggable integration environment for users to add various Authorization frameworks into their collections.

Specific example: I have an idea to build an integration for Postman to generate an unique authentication header for a service that is protected with ASAP (example library for use in [java](https://bitbucket.org/atlassian/asap-java) and [go](https://bitbucket.org

[2017-04-28 22:10] ravi-cloudknox commented on #2872
Same here.

[2017-04-28 23:50] armandomejiam commented on #803
+1 totally

[2017-04-29 13:52] shuxiao9058 opened #2984 "HTTP POST Header wrong case"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 10.12.4 (16E195)
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: a bug always
 6. Expected behaviour: no
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View-

[2017-04-29 15:25] czardoz commented on #2984
@shuxiao, HTTP headers are case insensitive by default so it shouldn't matter. RFC: https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

You can override it manually if needed :)

[2017-04-29 16:59] shuxiao9058 commented on #2984
@czardoz
as image below:
![wechatimg62](https://cloud.githubusercontent.com/assets/3312525/25557233/2d249f18-2d40-11e7-92f8-a8bb32b0777f.jpeg)

but exported curl code is:

[code]

This is a function in Golang, more info: [https://golang.org/src/net/textproto/reader.go?s=14869:14913#L552](url)

[code]

[2017-04-29 18:37] venkatcc opened #2985 "Cursor off by one or more character spaces"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Postman for Windows
 3. OS details: Windows 10 Pro
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: Started using this only recently and I've seen it since day 1.
 6. Expected behaviour: Typed characters should be input at the cursor's position.
 7. Console logs (htt

[2017-04-30 09:32] thinkbigthings commented on #2979
Same setup, same issue here.

[2017-04-30 12:48] eltonium opened #2986 "Imported Collection adds Request Body to GET requests in Collection Runner"
Version/App Information:
 1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Postman for Windows win32 10.0.14393 / x64
 3. OS details:
 4. Is the Interceptor on and enabled in the app: Don't know.
 5. Did you encounter this recently, or has this bug always been there: Recently, New User
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-develo

[2017-04-30 13:36] OfficialKeen commented on #1441
can you help me please? when i want to upload a file using postman,there are no respond from postman
![postman1](https://cloud.githubusercontent.com/assets/20989101/25564778/abfdcae0-2de4-11e7-9017-ab620e63c5f4.png)
![postman2](https://cloud.githubusercontent.com/assets/20989101/25564781/b69bc948-2de4-11e7-9e8c-9b9c24163683.png)

[2017-04-30 14:00] HollyMadCow opened #2987 "always go throught shadowsockets"
1. Postman Version:Newest
 2. App (Chrome app or Mac app):PC client
 3. OS details:Win 10 1703

 5. Did you encounter this recently, or has this bug always been there: found today
 6. Expected behaviour: can not get/post

I used shadowsockets client and chrome used proxy,when i use postman pc client ,I found can not use it,when i closed shaodwsockets ,always show the error:

Could not get any resp

[2017-04-30 18:28] Rahul-Lends opened #2988 "Generated python.http code for PUT and DELETE requests not working"
Version/App Information:
 1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): Mac app
 3. OS details:
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->

[2017-04-30 18:45] tschuy commented on #2986
It looks like the body is getting saved in the exported JSON, but not being ignored upon import. You can see all of the requests that will attempt to send a malformed body with:

`cat tschuy_postman.json | jq '.item | .[] | select(.request.method=="GET") | select(.request.body.raw != "")'`

[2017-04-30 18:55] tschuy commented on #2986
Also, exceptions (like `JSON.parse()` throwing upon trying to parse that HTML page) should count as failures, not successes. This bug was made even more frustrating by it showing itself with a cryptic "see DevTools" (when it should be "See Postman Console") and by a lower number of tests *having run* than I expected. At the very least, I should've had some notice up top that not everything went al

[2017-05-01 00:50] pastudan commented on #2401
I had a slightly different problem than the OP, but I'm following up with what caused my issue: The name of my request had a trailing space, causing postman's runner to fail silently when referenced without the exact same name. Seems like an easy fix could be to trim that field when saving the request info, and/or have runner visibly error out if the request name in `setNextRequest('name')` was no

[2017-05-01 01:28] pastudan commented on #2582
Just confirming this is still an issue on the latest version since it sounded like 4.10.3 was where this fix might land?

I'm still seeing the bug on:

![image](https://cloud.githubusercontent.com/assets/1296162/25569807/334c97b4-2dd2-11e7-9de2-b4baaf3fa851.png)

[2017-05-01 04:10] garthk opened #2989 "Feature request: data for requests when not testing against file"
Postman/Mac v4.10.7:

Situation:

* API with parameters passed in the URL path
* Desire to `{{substitute}}` those when hitting Send
* No desire to put them in the environment, as they're request-specific

I can get two out of three using the pre-request script:

[code]

I'd _prefer_ to do this, as it'd then not pollute the environment:

[code]

[2017-05-01 11:55] arvalon opened #2990 "Modification of the separator between the host and parameters"
1. Postman Version: v.4.10.7
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 8

Is it possible to remove or modify the question mark separation between the host and parameters? Now automatically populated with question mark ("?"). Some servers do not accept a delimiter and return an error.
![postmap1](https://cloud.githubusercontent.com/assets/19150332/25579181/19bcd730-2e7e-11

[2017-05-01 15:59] shuxiao9058 commented on #2984
Do you have any plan on this issue?
@jeremys @abhijitkane @abroz

[2017-05-01 20:34] vkadam commented on #1473
@avindra I agree it's not documented, but its working for me perfectly for raw request, when I have Content-Type = application/json selected in combo box, and my cursor is in text-area.

[2017-05-01 21:09] ericmacfa opened #2991 "Errors occur when snapping Postman window, then unable to expand/collapse sidebar"
1. Postman Version: **4.10.7**
 2. App (Chrome app or Mac app): **Windows native app**
 3. OS details: **Windows 10 Enterprise x64**
 4. Is the Interceptor on and enabled in the app: **No**
 5. Did you encounter this recently, or has this bug always been there: **Recently**
 6. Expected behaviour: **Ability to snap Postman window to half-width (and maximize) without impairing usability**
 7. Conso

[2017-05-02 07:59] dav1dbailey commented on #2980
Hi @madebysid.

My test is using the current date and time. The pre-request script sets the currrent date and time as an env variable then the Test uses it like this:

**Pre request script:**

_postman.setEnvironmentVariable('SlotStart',function getDateTime() {
    var now     = new Date();
    var year    = now.getFullYear();
    var month   = now.getMonth()+1;
    var day     = now.getDate();

[2017-05-02 08:37] pwandrag commented on #2983
This would be especially useful in enterprise environments where we use dev token providers to inpersonate various test users. Our current workaround is the same as above, using a call to the token provider and a test script to plug the token into a variable. If you want to keep it completely open, you could provide the ability to set a pre-request script at project, folder and request level. Simi

[2017-05-02 12:11] k3davis opened #2992 "postman window position can't be reset, can become unrecoverable off-screen"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Windows x64
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: n/a
 5. Did you encounter this recently, or has this bug always been there: unknown

The Postman window can become unrecoverable off screen in the following situation:

* Dual monitors, with the screen extended across both monitors
* Open Postman and

[2017-05-02 14:30] dialex opened #2993 "Remote logout one/all sessions"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: macOS 10.12.4 / x86-64
 4. Is the Interceptor on and enabled in the app: Off
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: **As a user I want to remotely logout all active due to security concerns.**

Steps to reproduce the problem:

1. Login to getpostman

[2017-05-02 14:41] ghost commented on #1983
Same thing here with Version 4.10.7.

Both manual click on Send and CMD+Enter seems to produce a doubled request.

I thought it was a bug on my end, but from what my Yii2 debugger says it really looks like Postman posts twice. The secondi made roughly 7 seconds after the first one.

I have the issue with POST. I haven't tested the other verbs.

[2017-05-02 16:52] davidwallen opened #2994 "AWS Signature calculated before variable substitution?"
It appears a request with variables is calculating the HMAC before the variable substitution occurs resulting in errors. Example request:

{
  "logGroupName": "test",
  "logStreamName": "test-stream",
  "sequenceToken": "49567423208377365908725071670784560352875325557011675618",
  "logEvents": [
    {
      "timestamp": {{$timestamp}},
      "message": "{{$guid}} Logging a sample message"
    },

[2017-05-02 17:07] peterkrieg commented on #166
+1 for custom methods.  But for now, all I really need is `SEARCH` method.  Would a small PR with this change be accepted?

[2017-05-02 18:03] anudhingra opened #2995 "Nothing for Does not contain"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app):
 3. OS details: Mac OSx 10.12.4
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app

[2017-05-03 02:08] eagoo commented on #739
I would like to have grant_type service_account :D

[2017-05-03 02:33] paarsa opened #2996 "POSTMAN is skiping the failed assestions if the last assersion passes"
Welcome to the Postman Issue tracker. Any feature requests / bug reports can be posted here.
Any security-related bugs should be reported directly to security@getpostman.com

Version/App Information:

 1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Linux app (not sure if its also happening on other OSs)
 3. OS details: Ubuntu 14.06
 4. Is the Interceptor on and enabled in the app: No

[2017-05-03 06:33] BeardedPrincess commented on #1475
+1

[2017-05-03 07:09] sabixx commented on #1475
+1

[2017-05-03 10:37] Smackatoa commented on #1475
+1

[2017-05-03 12:40] wilddev65 commented on #1475
+1

[2017-05-03 14:41] julienlafont-tabmo opened #2997 "Multipart/form-data header added on GET endpoints in documentation only"
1. Postman Version:
**Postman for Chrome
Version 4.10.7**
 2. App (Chrome app or Mac app):
**Chrome 56.0.2924.87**
 3. OS details:
**linux / x86-64 (ubuntu 16)**
 4. Is the Interceptor on and enabled in the app:
**no**
 5. Did you encounter this recently, or has this bug always been there:
**Always**
 6. Expected behaviour:

I've noticed that all my `GET` endpoints have a ` --header 'content-type:

[2017-05-03 14:59] rossjcooper commented on #739
+1

[2017-05-03 15:16] radoslavpetranov commented on #2559
I just had the same issue - everything was working fine yesterday and today Postman just magically stopped working (i.e. getting stuck in "Loading.." whatever requests I made - GET, POST, DELETE..). I reinstalled the extension and it works now.

[2017-05-03 17:52] zosocanuck commented on #1475
+1

[2017-05-03 19:16] thomas-oo commented on #824
Same concerns with ramsey, it is up to me to use https and it's fine sending the passwords "plain" through https but a shoulder surfer can easily see my password just by hovering over environment variables. I understand devs might want to see the full request but just hide it in the UI.....

[2017-05-03 19:27] mnannola commented on #2485
+1

[2017-05-03 19:37] bogdan-litescu commented on #1374
Here's a solution that worked for me to get Chrome back working:
F12 to open Developer Tools in Chrome, go to Application Tab > Clear Storage > (select all) > click Clear Site Data

[2017-05-03 19:41] johnevi commented on #2849
The ability to associate a certificate with a specific environment (rather then just a domain/port) in the native app would be welcome.

[2017-05-03 21:31] phillijw commented on #1944
This started happening for me immediately after removing the interceptor chrome extension. Even after turning off interceptor stuff in postman settings, it still doesn't work

[2017-05-03 23:35] mdcougar commented on #1475
+1

[2017-05-04 01:25] anudhingra commented on #1947
+1

[2017-05-04 06:09] zetisam opened #2998 "Unable to type @ character"
Postman for Chrome
Version 4.10.7
win / x86-64
Chrome 58.0.3029.96

In using Windows 10, using the nl_BE locale and an azerty keyboard.
In order to type the @ character, I need to press the [alt gr] + [2 é @ ] key.

See example of keyboard layout:
![azerty keyboard layout](https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Belgian_keyboard_layout.png/799px-Belgian_keyboard_layout.png)

It's

[2017-05-04 06:48] edanhauon commented on #1076
Hi,

So how can I calculate md5 for a file using CtyptoJS in postman sandbox?

thanks.

[2017-05-04 09:26] czardoz commented on #2263
This was fixed and released. Do re-open the issue if you're still having problems :)

[2017-05-04 09:26] #2263 closed, assigned to czardoz

[2017-05-04 10:43] sarathkumarbaskaran commented on #213
+1

[2017-05-04 12:18] Spulface commented on #1980
@abhijitkane
Could you clarify if this has been resolved **only** for Fitbits auth chain?
I am asking because I am facing pretty much the same issue for eBay's OAuth 2.0 chain at the moment:

![image](https://cloud.githubusercontent.com/assets/16802919/25702654/53e48718-30d2-11e7-8cb9-4d5b035b6dc8.png)

![image](https://cloud.githubusercontent.com/assets/16802919/25702690/7421a1e6-30d2-11e7-87de-7

[2017-05-04 13:21] edthorne commented on #166
@vegetableman I don't see it on [this](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) roadmap.

+1 for LIST as X-HTTP-Method-Override isn't supported by the target API implementation

[2017-05-04 14:52] prakash-patel commented on #1137
+1

[2017-05-04 16:45] udev opened #2999 "Generated HTTP request are encoding URLs"
Postman for Chrome
Version 4.10.7
OS X / x86-64
Chrome 58.0.3029.96

![image](https://i.imgur.com/GnWOOgm.png)

reproduction:
- click the "Code" button to view the curl script
- observe that the ampersands and other characters have been URL encoded

expected:
- special characters are not URL encoded unless they are key/value query paramters

This behavior is new as I've used the copy to clipboard

[2017-05-04 18:42] satishkn commented on #1374
Have installed Postman Interceptor.
Using postman chrome app (v4.10.7) to run some tests.
Here is what I am noticing:

The cookie value in question (JSESSIONID).
The values I see in dev tools is different from the postman cookies. Because of this, when I update the variable value with cookie, unable to retrieve properly and so doesn't function properly.

I have the following questions:

1) In post

[2017-05-04 21:38] pillravi commented on #1180
+1

[2017-05-05 03:21] bensullivan commented on #1368
+1

[2017-05-05 06:53] AadilC commented on #2992
Experiencing the same issue (Win 10 multi monitor setup)

@k3davis try focusing on the postman window by _Clicking_ the icon on the __task bar__
or
<kbd>ALT</kbd> + <kbd>TAB</kbd> (<kbd>WIN</kbd> + <kbd>TAB</kbd>) to select.

Once focused hit <kbd>ALT</kbd>+ <kbd>SPACE</kbd> which brings up  small menu
Then select either __Move__ or  __Maximize__ to adjust the window position

hope this helps :)

[2017-05-05 07:00] rod-zz opened #3000 "How can I trace my requests while I get NEW Access token ?"
Hello,
How can I trace my requests while I get NEW Access  token ?

 1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chro

[2017-05-05 09:49] NicIonCam commented on #737
is there a fix for

 problem ?. I have the same issue. Multiple possible params are added to link and brokes down the request

[2017-05-05 11:15] vegetableman commented on #2992
Thanks for letting us know about this issue. Will keep you guys posted ^_^.

[2017-05-05 11:16] junejosheeraz opened #3001 "POSTMan requests blocked by ZSCALER"
1. Postman Version: 4.10.7
 2. Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: It should work like Chrome Browser do
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, V

[2017-05-05 11:34] vegetableman commented on #2991
@ericmacfa Those errors are not related to the window issue. Could you check if you have `Snap` enabled?. Checkout the screenshot below for the setting to enable.

![image](https://cloud.githubusercontent.com/assets/1330851/25743950/cf5978da-31b4-11e7-8f1b-d4efa504de19.png)

[2017-05-05 23:18] jazoom commented on #2638
Have the same issue. URL works in Chrome but not in Postman.

[2017-05-06 03:48] vinodbudala commented on #2946
Hi @numaanashraf, even for me collection link is not getting generated.

[2017-05-06 15:09] dancmc commented on #1104
+1

[2017-05-06 19:50] goldie987 commented on #2981
I'm having the exact same issue!

[2017-05-07 11:32] anentropic opened #3002 "paste from cURL should not require -X arg"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra

I use Postman in conjunction with the Charles proxy app in my day to day development work.

Charles provides an option to copy a request as a cURL command.  And Postman provides an option to import a request by pasting the text of a cURL command.

Unfortunately this doesn't work for GET requests.  It

[2017-05-07 23:07] #2692 closed, assigned to nobody

[2017-05-08 06:17] prashantagarwal commented on #2923
@mtoothman Thanks for bringing up this point. Actually autocompleting variables is just a starting point. We want to provide more power to this autocomplete to make it super useful for various use cases. For example imagine autocompleting test snippets. Also we are working on bunch of other stuff for test scripts and having autocomplete behave just like autocomplete in code editors helps us to sol

[2017-05-08 06:19] abhijitkane commented on #3002
@anentropic `curl http://www.getpostman.com` works in Postman's import window. Can you share an example of a curl command that you're unable to import?

[2017-05-08 06:24] prashantagarwal commented on #2758
Closing this, as we're tracking this here: #2707 . I'll keep that thread up-to-date

[2017-05-08 06:24] #2758 closed, assigned to sdnts

[2017-05-08 06:25] prashantagarwal commented on #2998
Closing this, as we're tracking this here: #2707 . I'll keep that thread up-to-date.

[2017-05-08 06:25] #2998 closed, assigned to nobody

[2017-05-08 06:27] zetisam commented on #2998
Thanks for the reference. Didn't find any issues when searching for @, seems the search engine can't really handle the character.

[2017-05-08 07:10] Sarastro72 commented on #2238
@SamvelRaja Thanks, I tried it and I don't really like it. The adressbar becomes too small in this view, I can't see the URL.

I'm just pointing out that the bug isn't fixed. There is an experimental beta feature that doesn't have the bug. That's not the same thing as it being fixed IMHO.

[2017-05-08 09:17] anentropic commented on #3002
Here is one:

[code]

Hmm... above I said that adding `-X GET` allowed import (with a different example)

But I can't reproduce that with this one, still gives error

Instead, removing the `--compressed` arg allows Postman to import it

[2017-05-08 10:14] AlexBevan commented on #1475
+1

[2017-05-08 12:00] gabrielstuff commented on #2602
Got the same issue. Closing tab and reopening it clear the issue out. Looks more POSTMAN related than Multer. This solution http://stackoverflow.com/questions/35851660/multer-req-file-always-undefined/38461398#38461398

[2017-05-08 12:50] chenrui333 commented on #1723
What is the status now?

[2017-05-08 12:57] roccomuso commented on #2724
+1 thanks

[2017-05-08 13:27] ericmacfa commented on #2991
@vegetableman I do have Snap enabled, please see the below picture. I am able to Snap the window, but the errors (mentioned above) occur when I do so.
![image](https://cloud.githubusercontent.com/assets/18381801/25806206/16821b80-33c8-11e7-9bef-a67603618a13.png)

[2017-05-08 15:03] schanzen commented on #2049
+1

[2017-05-08 16:03] mykhaylo- commented on #1723
simple Bearer Authorization with JWT (or any other) token would be great to have. Pleaase consider adding such a simple feature.

[2017-05-08 17:46] georaldc commented on #884
So this is why my Postman requests started to hang indefinitely this morning. Re-toggling the interceptor extension works for me too.

[2017-05-09 00:03] tinghf commented on #2392
+1

[2017-05-09 02:02] #1466 closed, assigned to nobody

[2017-05-09 02:03] #2095 closed, assigned to nobody

[2017-05-09 02:03] #2108 closed, assigned to sobtiankit

[2017-05-09 02:03] #2285 closed, assigned to czardoz

[2017-05-09 03:46] jbhandari opened #3003 "Saved responses are out of order when creating an API document"
Unless I maybe missing something, it would be nice to have a scheme to order saved responses when we generate API documentation. I have tried alpha and numbered schemes to order my saved responses but to no avail.

 1. Postman Version:
      4.10.7
 2. App (Chrome app or Mac app):
      Mac App
 3. OS details:
      Sierra
 4. Is the Interceptor on and enabled in the app:
     no
 5. Did you encou

[2017-05-09 07:06] yeshodhan commented on #1229
If you can save environment values, why not save the urls? Atleast provide an option in settings to enable or disable variable replacement in history?

[2017-05-09 07:43] sijones-uk commented on #2913
@kamalaknn Was this issue fixed in the 4.10.6 release to fix #2885, or is this a separate. as-yet-unfixed issue?

[2017-05-09 10:02] yarcowang commented on #2317
Yes, I have the same error.

[2017-05-09 10:05] vegetableman commented on #2991
@ericmacfa We are not able to reproduce this issue. Could you share a gif of the actions with the devtools open?.

[2017-05-09 10:55] vegetableman commented on #2995
@anudhingra
you could use  `JSON.parse(responseBody)` and then use a lodash utility function to determine if a value is present or not. Checkout https://www.getpostman.com/docs/sandbox for more info on the supported api.

[2017-05-09 10:59] vegetableman commented on #3000
@rod-zz Could you fill in the details above and elaborate more on your use-case?.

[2017-05-09 11:44] zaipie commented on #2323
You can add the flag to the shortcut to Postman:
![postman throttling](https://cloud.githubusercontent.com/assets/15891409/25849060/391685f0-34bd-11e7-9d88-9c3699b56ad4.PNG)

Full link in my case will be:
```"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --profile-directory=Default --app-id=fhbjgbiflinjbdggehcddcbncdddomop --disable-extensions-http-throttling```

Note that this does

[2017-05-09 12:48] kamalaknn commented on #2913
@sijones-uk this appears to be a different. The fix for #2885 makes sure cookies set for wildcard subdomains are listed properly by Postman. If that is your use case, then 4.10.6 will have everything you need.

We will get a fix for this issue out soon.

[2017-05-09 14:02] KarsonAlford commented on #166
+1 for SEARCH, REPORT and custom methods.

[2017-05-09 14:42] StaSotiro commented on #2819
+1
This will be a very helpful feature, and have noticed quite a lot of requests on that as well.

[2017-05-09 17:19] kams-mash commented on #1235
+1. Very useful and needed feature.

[2017-05-09 17:30] marcioAlmada commented on #1947
+1

[2017-05-09 18:55] chrisron95 opened #3004 "Can't export from runner"
1. Postman Version:
4.9.3 on Mac, 4.10.7 on PC
 2. App (Chrome app or Mac app):
Native app on Mac and PC
 3. OS details:
Windows 10 Pro 64-bit, macOS Sierra 10.12.5
 4. Is the Interceptor on and enabled in the app:
No
 5. Did you encounter this recently, or has this bug always been there:
Recently, just tried using it for the first time the other day.
 6. Expected behaviour:
After the runner has f

[2017-05-09 19:41] philmagr opened #3005 "Feature Request: Add setting to disable close button on tab"
With many tabs click target on the X can become as much as 25% of the tab size.
This makes it difficult to quickly switch between tabs because I always need to double-check that I am not clicking on the X.

Use-Case: I just closed a tab while trying to switch to it, to see if I needed to save the request on that tab or not. Pretty sure I did, but it's gone now.

TL;DR: Accidental data loss is easy

[2017-05-09 22:08] adamtwarner commented on #1228
+1
@madebysid any update?

[2017-05-10 00:53] futurechan commented on #1667
I was using the interceptor to login to a website, capture the cookie and csrf info, modify the request, and send it in postman. How can I do this with the native app?

[2017-05-10 03:19] MosheBlumbergX commented on #1475
+1

[2017-05-10 03:39] pagex commented on #1137
+1

[2017-05-10 08:01] ji50180 commented on #798
Would be very interested in using that in our postman-sheme, too.
Our API calls are expensive, and we would have several dozen tests per call, which we now have to fill in per hand. One Test per call would take hours in our system.

Using a csv for that would be so much more effective.

[2017-05-10 08:33] symeonb commented on #1475
All the people +1 on here should +1 at https://github.com/Mashape/httpsnippet/issues/75 as that is the library that is used .

[2017-05-10 09:56] youyou82 opened #3006 "Collection Runner: Add ability to save Requests metadata (responses etc.) when exporting a run"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 7 Pro
 5. Did you encounter this recently, or has this bug always been there: Always there
 6. Expected behaviour: Requests and responses datas available after importing test results
 8. Screenshots (if applicable)

 Run collection with Runner, export Results, Import test results. Requests and responses

[2017-05-10 10:02] sdnts commented on #3006
Hi @youyou82! Requests and responses from the Runner are not exported (or synced, for that matter) for security reasons. These are meant to be used for debugging only.
Please feel free to reopen this if I misunderstood :)

[2017-05-10 11:31] youyou82 commented on #3006
Hello, thank you very much for your answer.
@madebysid : so there is no way to store the results of a postman tests? This could allow: later investigation, justification that the test was run successfully, history, ...

[2017-05-10 13:08] lbj opened #3007 "Feature request: Save access token to Environment variable"
It would be very useful to have a way/test snippet to automatically save the access_token I get back from using "Get New Access Token" and oAuth2 to a variable in Environment.
"Use Token" overwrites the {{access_token}} part of Authorization : Bearer {{access_token}} which means its too easy to accidentally save the token to documentation.

[2017-05-10 14:16] rmondragon opened #3008 "Suggestion: Add show/hide option per collection"
Hi, usually I used the filter option to bring the collections that I need. But, now that I have too many and some that don't have anything in common, the filter is useless.

As a suggestion, you can add show & hide option to hide 1 or many collections that I don't need and only show the ones that I need.

[2017-05-10 15:14] punkstar commented on #1723
@chenrui333 This turned out to be an error on my part and not a bug with the app.

[2017-05-10 15:22] syxxpk opened #3009 "Large response with base64 content freezing postman"
Hi,

We are calling a service that returns a pdf encoded as base64.  The call itself is quick but as soon as you scroll down to the part of the response with the base64 content it freezes the UI.  I'm on version 4.10.7 of Postman.

This wasn't happening before so I'm guessing that something changed in an update.  However even with older versions of Postman the UI would be slow for a few seconds bu

[2017-05-10 16:13] chuck-wood commented on #2324
I'm using 4.10.7 and there's still no way to set a proxy in Postman. Any idea when this feature will be available? (I can't set a system-wide proxy because only certain hosts I'm trying to access require the proxy.)

[2017-05-10 16:50] DraganKovacevic commented on #1669
Are we there yet?

[2017-05-10 17:18] fossterer opened #3010 "New Window doesn't reflect Team Activity"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): Postman for Linux
 3. OS details: linux 4.4.0-77-generic / x64
 4. Is the Interceptor on and enabled in the app: No clue
 5. Did you encounter this recently, or has this bug always been there: Recent
 6. Expected behaviour: Opening a "New Window" in Postman shouldn't be any different than opening it for the first time
 7. Console logs (htt

[2017-05-10 18:05] magusd commented on #697
+1

[2017-05-10 18:48] dankozlowski commented on #884
Why is this still an issue?!  This thread has been open for over *2 years*!

[2017-05-10 18:55] heatherita opened #3011 "how do I import a collection to Linux native Postman?"
1. Postman Version:
 2. App (Chrome app or Mac app): Linux
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshot

[2017-05-10 18:57] heatherita commented on #3011
Trying to import collection from developer.okta.com to postman. Buttons on okta.com take me to Chrome postman but I want to import to native Linux postman. How can I do this? Thanks.

[2017-05-10 19:39] okjim3GH opened #3012 "Unable to import collections"
Whenever I try to import a collection via a link I get this error:
"Failed to import data: format not recognized"
The Chrome Developer Tools console window says:
"Not parseable "YAML"
Postman for Chrome
Version 4.10.7
win / x86-64
Chrome 58.0.3029.96
This is an example link that fails:
https://www.getpostman.com/collections/a0715a8730540e86b569
What I get back is not the collection file I requeste

[2017-05-10 20:53] czardoz commented on #3012
Looks like your institution firewall needs to be configured to allow Postman collection links. You'll have to talk to your network administrator to do this, Postman cannot work around this issue :)

[2017-05-10 20:58] okjim3GH commented on #3012
I can download a .postman_collection file. I just can't work with the URLs that end without filename/extension. Is there any way to transform a link like this: https://www.getpostman.com/collections/a0715a8730540e86b569 into something that ends in .postman_collection?

[2017-05-11 00:16] tbillington commented on #884
@dankozlowski Some combination of only affects a tiny amount of users, hard to reproduce, and has a workaround !

Also I think postman is focusing on their non-chrome extension app now, so may not ever get fixed!

[2017-05-11 01:04] a85 commented on #884
@tbillington That's not exactly true. The Interceptor will be re-written to support native apps and it has some more interesting use cases. We are in the middle of a major release cycle for the native apps and will fix this as soon as we get some time.

The Interceptor code is open-source too btw so I'd like to welcome contributions (https://github.com/postmanlabs/postman-chrome-interceptor). We h

[2017-05-11 01:50] tbillington commented on #884
@a85 Apologies, I knew you're focusing on native apps, didn't realise it would result in improvements to the chrome extension too, awesome :)

[2017-05-11 06:21] dymen1 commented on #1180
+1

[2017-05-11 06:37] Iamxiaoxiong commented on #2505
same issue.
postman version: Postman for Windows 4.10.7

[2017-05-11 08:11] Iamxiaoxiong opened #3013 "how to capture https request via native postman"
1. Postman Version:4.10.7
@a85 @shamasis @ratpik @abhijitkane

[2017-05-11 09:41] Dkstu commented on #697
+1

[2017-05-11 11:33] ghost commented on #3013
I am assuming you already know how to capture __HTTP__ requests using [postman's proxy](https://www.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests)

Capturing __HTTPS__ requests is not possible using postman for websites using [HSTS policy](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security)
![screen shot 2017-05-11 at 4 19 55 pm](https://cloud.githubusercontent

[2017-05-11 11:51] troigdome commented on #2086
+1

[2017-05-11 12:21] ewilde opened #3014 "Favicon support for postman API documentation feature"
On the [team edit page](https://app.getpostman.com/dashboard/teams/edit) where you can customize the domain, team logo and name.

Allow customers to specify a 'favicon' for the documentation api site

[2017-05-11 14:52] gdemers commented on #697
+1

[2017-05-11 14:54] butlnor opened #3015 "ZIP output not opens "Save as" dialog, but displays the binary content in the body"
When REST method responds with "application/zip" for "Content-Type" header, Postman will display the ZIP's binary content inside the body area, without any option to save this content to a file (or I don't find such a button).

I have tried some other REST methods that return PDF, "application/pdf", and those properly open "Save as" dialog to save the content to a file.

I would suggest for Postma

[2017-05-11 14:55] shamasis commented on #3014
Marking this as a feature request.

[2017-05-11 14:59] butlnor opened #3016 "Follow "action" URL inside the HTML forms"
When the request's response returns a valid HTML, Postman can nicely render this HTML.
If the HTML contains a &lt;form&gt; with some action URL and submit button, Postman doesn't follow this action URL when clicking submit. This would be a nice-to-have feature.

As now I have to save the HTML file locally, open it in browser and click the submit button, but of course I cannot then get all the nice

[2017-05-11 15:36] shamasis commented on #3016
I see that it is such a nice idea. But, presently, the preview of HTML is rendered in a sandbox mode to avoid security issues that is posed by running arbitrary code and URL navigation inside the HTML within preview tab.

We will need to explore additional security aspects before we can think about this new feature. Or perhaps think about building a concept of isolated built-in browser. I am addin

[2017-05-11 16:23] marawan31 opened #3017 "Auto refresh digest headers"
This is more of a feature request.

What I suggest is simply sending a request to the server and if the server returns 401 with digest we simply add the nonce and other header fields and send a new request with the username and password added.
Right now we need to send a first request then wait to receive 401 then manually update the nonce and other stuff in the authorization tab and send the requ

[2017-05-11 17:10] Tiorzfk commented on #2076
@mbirtwistle Thankyou so muchhh :D

[2017-05-11 17:13] wierzba3 opened #3018 "Collection Runner window does not display"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app):  Windows
 3. OS details: Windows 10 Enterprise
 4. Is the Interceptor on and enabled in the app: I don't know what this is
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: The test runner window should display
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-d

[2017-05-11 21:50] dankozlowski commented on #884
Excellent to hear the move to native apps -- I'll try there instead.  Thanks for your work!

[2017-05-12 07:28] sdnts commented on #3018
Hi @wierzba3! Did you have an external monitor connected when you last opened the Runner? We've been investigating #2992 which might be what you're seeing as well.

Basically, if you opened the Runner on the second monitor, then close the app, disconnect the Monitor and open the Runner again, it "opens" on the new monitor, but you can't see it. Can you visit that link and make sure that is not wha

[2017-05-12 07:31] sdnts commented on #3006
@youyou82 Currently, no. Reopening this and adding this as a feature request :)

[2017-05-12 08:28] numaanashraf opened #3019 "Support for MSI installer package for Windows native apps"
Distribute MSI installers for windows native apps that support the following:

- silent installation
- install for all users
- SCCM compatible

[2017-05-12 10:28] sdnts commented on #1723
Guys, we're working on a general authentication mechanism, will take this up as part of that :)

[2017-05-12 11:37] niksworld22 opened #3020 "response in xml or json option"
if we can have response in desired format i mean choice of getting response in like json or xml or any other format

[2017-05-12 11:56] sdnts commented on #3020
Hi @niksworld22 I don't think I understand. Are you talking about formatting the response as JSON / XML?
Can you attach a screenshot explaining what issue you're facing?

[2017-05-12 13:06] MHeironimus commented on #2992
Seeing this issue on Windows 7 also.

[2017-05-12 14:21] ocallm1 opened #3021 "Postman Chrome app is crashing randomly"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: win / x86-32
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: not randomly crashing
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2017-05-12 14:22] youyou82 commented on #3006
@madebysid Thank you so much! We are really looking into this new feature :)

[2017-05-12 14:52] youyou82 opened #3022 "Export multiple separated collections"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 7 Pro
 5. Did you encounter this recently, or has this bug always been there: Always there
 6. Expected behaviour: Be able to export multiple separated collections

Description: today we can only export on single collection or a collection containing several collections but we are not able to export sev

[2017-05-12 15:02] youyou82 commented on #1966
@a85 and @madebysid : we are using the latest version of the native app (ie v4.10.7)
Selection of multiple test collections in the Runner seems not available.
Could you help on this and re-open this request as a feature if not available?
This feature would be really useful and ease our testing.
Thank you very much.

[2017-05-12 15:07] a85 commented on #1966
Hmm. Looks like I closed this by mistake. Reopening.

[2017-05-12 15:55] JonFranchi opened #3023 "GUI no longer accessible on Mac"
I'm not able to access postman any longer.  It loads, but I can never get to the GUI to use it.  I've uninstalled multiple times and rolled back to previous versions.  It is possible, though I can't be certain, that this happened after I upgraded to macOS Sierra.

 1. Postman Version: **4.10.7, 4.10.6, 4.10.5** -- I tried uninstalling and reverting to previous versions to find a working one.
 2. A

[2017-05-12 16:48] ericmacfa commented on #2991
@vegetableman Please see below gif. Since it's low quality, I also included a screenshot of what the DevTools console looked like at the end
gif:
![postmanerror](https://cloud.githubusercontent.com/assets/18381801/26008048/cc7c0c0a-3708-11e7-8459-5646dbd2a4d5.gif)
Screenshot:
![image](https://cloud.githubusercontent.com/assets/18381801/26008025/b612f1fe-3708-11e7-909f-837f02d5f797.png)

[2017-05-12 16:53] juancferrer commented on #2485
+1

[2017-05-12 17:40] samjewell commented on #517
I believe I'm having the same issue as @ktowle described, but in the Postman native macOS app.

I'm using OAuth 1.0, with these settings:
- [x] Add params to header
- [ ] Add empty params to signature
- [ ] Encode OAuth signature
- [ ] Sebel helper data to request

When I hit Update Request, I get a new Nonce calculated. Then when I run the collection-runner, the first request succeeds, and all su

[2017-05-12 19:23] dmcdaniel12 commented on #697
+1

[2017-05-13 02:41] #521 closed

[2017-05-13 02:44] a85 commented on #2964
These are listed on www.getpostman.com/apps

[2017-05-13 02:44] #2964 closed, assigned to nobody

[2017-05-13 02:48] a85 commented on #2487
This is available through mock servers: https://docs.api.getpostman.com

[2017-05-13 02:48] #2487 closed, assigned to nobody

[2017-05-13 02:50] a85 commented on #2055
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/2096

[2017-05-13 02:50] #2055 closed, assigned to nobody

[2017-05-13 02:52] a85 commented on #687
Closing this as we'd be supporting collection level params and more of an inheritance model for params rather than adding things manually.

[2017-05-13 02:52] #687 closed

[2017-05-13 02:54] #784 closed

[2017-05-13 02:54] #2633 closed, assigned to nobody

[2017-05-13 02:55] a85 commented on #2484
Coming up soon through the "Examples" feature.

[2017-05-13 02:55] #2484 closed, assigned to nobody

[2017-05-13 02:56] #2837 closed, assigned to nobody

[2017-05-13 02:56] a85 commented on #2837
Not right now but hopefully soon.

[2017-05-13 02:58] #1706 closed, assigned to sobtiankit

[2017-05-13 03:00] a85 commented on #2761
We will be improving drag/drop capabilities + other folder capabilities. Exporting a folder will be possible through those flows.

[2017-05-13 03:00] #2761 closed, assigned to nobody

[2017-05-13 03:01] #849 closed

[2017-05-13 03:02] a85 commented on #2774
API documentation here: https://docs.api.getpostman.com

[2017-05-13 03:02] #2774 closed, assigned to nobody

[2017-05-13 03:02] #2747 closed, assigned to nobody

[2017-05-13 03:03] #2879 closed, assigned to nobody

[2017-05-13 03:03] #1619 closed, assigned to nobody

[2017-05-13 03:04] #1711 closed, assigned to nobody

[2017-05-13 05:15] niksworld22 commented on #3020
yes, actually i don't have issue but i want to suggest a option to get
response in desired format

json
xml

On Fri, May 12, 2017 at 5:26 PM, Siddhant Sinha <notifications@github.com>
wrote:

[2017-05-13 06:29] a85 commented on #2993
Did you share your username/password with anyone?

[2017-05-13 06:33] #2971 closed, assigned to nobody

[2017-05-13 06:35] #1283 closed, assigned to nobody

[2017-05-13 06:36] a85 commented on #1361
Switching to native apps might fix this. The chrome app platform is deprecated.

[2017-05-13 06:36] #1361 closed, assigned to nobody

[2017-05-13 06:36] #2354 closed, assigned to SamvelRaja

[2017-05-13 06:38] a85 commented on #2658
Updated here: https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-05-13 06:38] #2658 closed, assigned to nobody

[2017-05-13 06:41] #2649 closed, assigned to nobody

[2017-05-13 06:42] #2850 closed, assigned to nobody

[2017-05-13 06:43] #2100 closed, assigned to nobody

[2017-05-13 06:46] #2932 closed, assigned to nobody

[2017-05-13 09:15] dialex commented on #2993
Yes I did, with a friend that was helping me.

[2017-05-13 12:19] coffeeplanter opened #3024 "White blank screen on OS X 10.8.5"
Postman for Mac after starting shows just clear white screen.
Postman 4.10.7
OS X 10.8.5
I've installed it first time.
Also have tried Chrome app, and it works fine.
Logs:
[code]
Screenshot:
![postman_error](https://cloud.githubusercontent.com/assets/24499325/26025384/76438314-37f7-11e7-84fb-64ff8a0500d8.png)

[2017-05-13 14:46] #1405 closed, assigned to nobody

[2017-05-13 15:59] shamasis commented on #2993
Try changing your password and it should clear all older sessions.

[2017-05-13 16:19] marcioAlmada commented on #2932
@a85 was this feature rejected or closed because [duplicate]? I could not find the other issue asking for the same thing.

[2017-05-13 16:43] a85 commented on #2932
Yes: https://github.com/postmanlabs/postman-app-support/issues/2248

There are a lot of duplicates in the current tracker so been cleaning them all up.

[2017-05-13 21:45] JonFranchi commented on #3023
I was able to resolve this for myself by looking further into the application while it was running.  I saw that it was accessing files in user/library/application_support/postman, so I deleted that folder and restarted postman.  It loaded immediately.

[2017-05-14 04:25] elleryfamilia commented on #2392
+1

[2017-05-14 11:03] zlepper commented on #2894
This is also happening in the body of custom requests for me.

[2017-05-14 16:34] jormaechea commented on #2954
+1.. Plus, it would be nice for this to be a setting

[2017-05-14 19:43] alia-a opened #3025 "Runner tries to validate SSL certificates even though toggled off from settings"
Version/App Information:

 1. Postman Version: Version 4.10.7
 2. App (Chrome app or Mac app): Windows native (Chrome?)
 3. OS details: Windows 8
 4. Is the Interceptor on and enabled in the app: no, afaik
 5. Did you encounter this recently, or has this bug always been there: -
 6. Expected behaviour: Run a collection successfully on a HTTPS-server with self-signed SSL certificates

Steps to repr

[2017-05-15 03:55] iugo opened #3026 "Activity, Click to Expand, The page can not scroll"
1. Postman Version:
4.10.7

 2. App (Chrome app or Mac app):
Chrome app

 3. OS details:
macOS 10.12.4

 4. Is the Interceptor on and enabled in the app:
Yes

 5. Did you encounter this recently, or has this bug always been there:
Yes

 6. Expected behaviour:
If the content is too long, you can scroll the page.

 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tool

[2017-05-15 04:39] thaihau commented on #1180
+1

[2017-05-15 06:27] sdnts commented on #3020
The response format would be dictated by the server you use. You can try to format it as JSON or XML by using the dropdown right above the response section.
Please reopen if I misunderstood.

[2017-05-15 06:27] #3020 closed, assigned to nobody

[2017-05-15 07:01] sdnts commented on #3025
Hi @alia-a I tried doing this, and was unable to get a response from the Runner as well. Can you try restarting the Runner after switching off SSL certificate verification?

[2017-05-15 07:03] sdnts commented on #3026
Hi @iugo, we're aware of this, and a fix will be out with the next version. I'll let you know here
when it is out!

[2017-05-15 08:03] ivanfoong commented on #1906
+1

[2017-05-15 08:10] liweigong commented on #2944
YES,it worked!

I prefer the  style of BODY params order rearrange.

[2017-05-15 09:27] numaanashraf commented on #3024
@coffeeplanter Postman for Mac is supported only for OSX 10.9 and up. We'll try to include a warning for this when the app is running on an unsupported OS version.

[2017-05-15 09:27] #3024 closed, assigned to numaanashraf

[2017-05-15 09:44] vegetableman commented on #3023
@JonFranchi

[2017-05-15 09:46] coffeeplanter commented on #3024
@numaanashraf And it's also good to mention this on the site. I was looking there for technical requirements before downloading and didn't find it.

[2017-05-15 09:47] #3023 closed, assigned to vegetableman

[2017-05-15 09:49] vegetableman commented on #3023
@JonFranchi We are not able to reproduce this issue. Do you happen to use a multi-monitor setup?.

[2017-05-15 11:36] sdnts commented on #2980
@dav1dbailey Sorry about the late response. I see your problem. Test scripts are JS, so the syntax `{{SlotStart}}` won't work here. Your test script would look like this:

[code]

Let me know if this does not work for you.

[2017-05-15 12:36] alia-a commented on #3025
Restarting the runner (well, I restarted whole Postman) helped indeed.

[2017-05-15 12:39] sdnts commented on #3025
Ah, awesome. Looks like settings aren't being propagated across windows. I'll take a look at this.

[2017-05-15 12:53] butlnor opened #3027 "Response "save as file" doesn't show error, when target file is locked."
If, when calling REST methods, I get the binary response, like PDF, "save as" dialog appears. If I choose the file, which has been somehow locked (like the file being currently open in a viewer), Postman cannot save it, but Postman also doesn't show any error dialog. It should display something like "Cannot save file, as it's locked".

 1. Version 4.10.7
 2. Postman for Windows
 3. Win7 (win32 6.1

[2017-05-15 14:16] msignataur commented on #675
+1

[2017-05-15 14:36] mikeder commented on #1434
@abhijitkane is there any update on this? I would like to leverage an "x-postman-meta" key to embed Postman related test data.

[2017-05-15 14:54] oveach commented on #2340
v4.10.7 standalone version on Windows 10, same problem. Unable to upload any file.

[2017-05-15 15:55] jormaechea opened #3028 "Set folder's visibility for public documentation"
I started publishing collections documentation from Postman, but I realized that I have in the same collection some folders with public endpoints, and some with private ones..

It would be nice to be able to set some folders as private, so I don't have to split my all my pub+pvt collections, and avoid managing team access permissions twice.

[2017-05-15 16:32] johnmerced-ks commented on #2724
+1 Looking for this as well!

[2017-05-15 16:59] canhnht opened #3029 "Error with AWS Signature in Postman native app in Ubuntu"
I got error when trying AWS Signature in Postman native app in Ubuntu. It seems like AWS Signature issue has been resolved in #1663. I don't know what I did wrong. Hope someone can help.
Thanks in advance.

 1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Ubuntu app
 3. OS details: Ubuntu 16.04
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or

[2017-05-15 19:48] wierzba3 commented on #3018
The scenario you described is not my situation. I do have 2 monitors, however, I'm running a windows server 2012 VM through hyper-v hosted on a windows 10 machine. The VM is full screen mode on one monitor.

I went to the link and tried what they suggested, maximizing the collection runner window from the taskbar, and it worked . I can access the window now

[2017-05-15 20:16] jonfk opened #3030 "[Feature Request] Ability to modify environment variable in tooltip when hovering over a variable in input field"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app):
 3. OS details:OS X / x86-64
 8. Screenshots (if applicable)
![screen shot 2017-05-15 at 4 07 58 pm](https://cloud.githubusercontent.com/assets/1024688/26077210/4dc429aa-3989-11e7-8e24-63cf7685da08.png)

When running requests interactively through postman, We often need to modify some environment variables between requests. Currently the

[2017-05-15 21:22] sharduul opened #3031 "Postman responding super slow - chrome app and windows app"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome app, Windows app 32bit/64bit
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No (not installed)
 5. Did you encounter this recently, or has this bug always been there: Always there for me
 6. Expected behaviour: Should be responsive
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome

[2017-05-15 21:23] JonFranchi commented on #3023
I do not.  I tried a few changes of desktop resolution though during my troubleshooting.

[2017-05-15 23:10] wierzba3 opened #3032 "Create common javascript function to reference? Or include js file?"
I have a common block of code to do some parsing that I use in many postman test scripts verbatim.
Is there any way I can place this function in a central location and reference it from my tests, instead of copy + pasting over and over?
This is using the postman for windows desktop application.

[2017-05-15 23:51] JonFranchi commented on #3023
I apologize, but my solution was to delete the entire application_support/postman folder.  In retrospect I should have tried to narrow down the specific file causing the issue so it could be further investigated.

[2017-05-16 06:45] mipsot commented on #2604
I see POST -> GET redirects as single POST in Console window. It is discouragingly and hard to debugging. You can provide more information about all redirects.

I use Linux desktop client, last 4.10.7 version.

[2017-05-16 07:15] mpluta-airhelp opened #3033 "[Feature] possibility to programatically write to a file"
Recently I was challenged by a task to copy certain objects from prod database to staging. I managed to finish it using API calls. At the end, I had to inspect the response of the last request to collect ID of the newly created object. It worked fine for 5-10 object but when I am dealing with thousands of objects to copy I would love to create a file on my disk and make Postman append IDs to this

[2017-05-16 07:54] dialex commented on #2993
​Changing my password was my first try. It did not clear the older sessions.
Notice that Postman's UI says "Your sessions remain active until you have
*manually* logged out.
​

On May 13, 2017 16:59, "Shamasis Bhattacharya" <notifications@github.com>
wrote:

[2017-05-16 09:05] sdnts commented on #3018
I'm guessing this i related to the monitor window positioning, so I'm closing this. We'll release a fix for #2992 with a coming release and I'll update that ticket. Please feel free to re-open this if that does not fix your issue as well.

[2017-05-16 09:05] #3018 closed, assigned to sdnts

[2017-05-16 10:18] SamvelRaja commented on #3031
@sharduul  Thanks for bringing this to our notice, can you provide me your **Chrome version** and also the expanded log of `Could not load DB` EVENT object?
This helps us to debug much faster.

[2017-05-16 11:45] Faz540 opened #3034 "[Bug] - Environment Variables saved in Pre-request Script are listed alphabetically"
Found a minor bug, but thought I'd raise it so you're aware.

I'm using the Windows Native client, 64 bit (Windows 10)

**Bug:**
Environment Variables declared under the 'Pre-Request Script' tab are shown under the Environment alphabetically, rather than the order they were declared.

**See Below Example Pre-Request Script:**
![image](https://cloud.githubusercontent.com/assets/9334128/26104227/b7c

[2017-05-16 11:51] kunagpal commented on #3033
@mpluta-airhelp This is best accomplished within Postman's CLI companion, [Newman](https://github.com/postmanlabs/newman). You would then write a script to generate your custom reports via the following steps:

1. Ensure that you have `node` and `npm` installed.
2. Install newman with: `npm install newman`.
3. Create a file with the following contents:
[code]

4. Run the file with:
[code]

PS: If

[2017-05-16 12:21] urosjarc opened #3035 "Event property "disabled" is dead feature."
When I put [disabled property in my event](http://schema.getpostman.com/json/collection/v2.0.0/docs/index.html) they are not applied:
[code]

When I import my collection and then export I can't see "disabled" on the same event that should be.
Postman should pass those events where disabled is on...

[2017-05-16 12:50] kunagpal commented on #3035
@urosjarc This is meant to be supported in the near future, but isn't right now.

[2017-05-16 12:50] #3035 closed, assigned to nobody

[2017-05-16 12:56] jcampbell05 opened #3036 "Binary file request body not working in generated code"
1. Postman Version:
4.8.1

 2. App (Chrome app or Mac app):
Mac App

 3. OS details:
OS X Sierra

 4. Is the Interceptor on and enabled in the app:
No

 5. Did you encounter this recently, or has this bug always been there:
Recently

 6. Expected behaviour:
When I do post request with raw file, the content should be in the POST BODY.

 7. Console logs (http://blog.getpostman.com/2014/01/27/enablin

[2017-05-16 14:16] numaanashraf commented on #3036
@jcampbell05 Thanks for reporting this. Could you update to the latest version (v4.10.7) and let us know if you are still facing this issue?

[2017-05-16 14:37] jcampbell05 commented on #3036
@numaanashraf cool the new one has fixed it :) but the code examples are wrong they lack the lines of code / command line arguments to send the contents of the file.

[2017-05-16 14:40] sharduul commented on #3031
I found the solution. The problem was on my end.
Due to duplicating the requests, some of my GET requests had got body from the POST requests. When I inspected the JSON, I realized those body objects had added thousand's of line per GET request. Therefore, importing such garbage data on some other machine would make the POSTMAN slow.

Thanks for the response though.

[2017-05-16 14:40] #3031 closed, assigned to nobody

[2017-05-16 14:49] scholary-tim commented on #2978
+1

[2017-05-16 15:02] O11o1 commented on #2679
Seconded, We have tests that involve creating a resource, a process that can take multiple minutes to complete if the systemis under heavy load. Currently, we have a GET test following it that polls for completing, but we still want to have about a minute delay on it so that we're not recklessly polling before it can possibly be done.

The ability to set a per-request delay for specific tests with

[2017-05-16 17:13] canhnht commented on #3029
When I try requesting from mobile app (I use Mobile Hub sample app), it works fine. I still don't know why it failed in Postman?

[2017-05-16 18:23] jcampbell05 commented on #3036
Suddenly started happening again, not sure why.

[2017-05-16 18:46] ghost commented on #2452
Yea, the workflow for getting tokens needs to improve. Here is what I have to do frequently.

1. Scroll
2. Click Authorization
3. Select auth type. (This selection is not saved along with the query.)
4. Click get "New Access Token"
5. Click on the new token item in the list, because it is not selected automatically.
6. Click use token button.

If I open another saved request, I have to repeat most

[2017-05-16 18:51] mrb13 commented on #697
+1

[2017-05-16 19:08] mpluta-airhelp commented on #3033
I will use this to prepare a script for my use. Totally missed this functionality. However, I strongly suggest it would be a great function in your desktop app too.
But in the end great tip, thanks a lot!

[2017-05-16 20:10] Otoris commented on #2340
Same version, Mac OS edition. I choose a file, but it's not actually in the request. I tried choosing a file and looking at the raw request, then switch back to the key-value view and the file is gone.

[2017-05-16 20:41] mwaltersva commented on #2979
+1 Windows 10 host, Ubuntu 16.04 in virtualbox

Edit: The "chrome app" works just fine under the same circumstances

[2017-05-16 21:01] Otoris commented on #3036
Windows 10 x64 and MacOS 10.12.5 both exhibit this behavior. Could be permission related to file uploads? However, I get this on older versions as well.

[2017-05-16 21:32] jcampbell05 commented on #3036
One thing I've noticed is it doesn't seem to happen on servers and netcat running on the local machine.

[2017-05-17 05:43] jeson114 opened #3037 "POST request on postman client returns HTML instead of JSON"
1. Postman Version:4.10.7
 2. App (Chrome app or Mac app):Chrome App on Mac
 3. OS details:macOS sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: don't know
 5. Did you encounter this recently, or has this bug always been there:Recently encountered
 6. Expected behaviour: should return JSON instead of HTML

I sent name and pass with Content-Type: application/x-www-form-urlencoded .

[2017-05-17 06:24] Abhijitpandia commented on #1441
how can i post XML data to spark server through postman

[2017-05-17 06:31] SamvelRaja commented on #3034
Thanks for bringing this to our notice. Will keep the thread updated once it is fixed from out end.

[2017-05-17 06:33] ghost opened #3038 "Is there any way I could save my Request and Response while using collection runner?"
Version : 4.10.7
Chrome Version : 58.0.3029.110

Is there any way I could save my Request and Response while using collection runner individually?

Thanks in Advance!!

[2017-05-17 07:38] kamalaknn commented on #3038
@Balaji1294

I don't think there is an option now to save a request or a response from the Collection Runner runs.

Could you elaborate more on your scenario where you need to save requests/responses from the runner?

However you can still save responses into requests from the Builder. There is also a new feature in works that allows you to create example responses on your own. More details on exa

[2017-05-17 07:51] kamalaknn commented on #3037
Hi @jeson114

We are trying to reproduce the issue. Could you try the same request on `https://postman-echo.com` and share the steps to reproduce this?

If you could attach screenshots of the app with the response you get, it will be very helpful for us. You can mask your sensitive data in it though.

Thanks!

[2017-05-17 08:19] kamalaknn commented on #3034
Hi @Faz540

The environment viewer serves the purpose of inspecting the _values_ of environment/global variables. However the order in which they are displayed is not guaranteed and should not be relied upon.

We hope that this does not affect any of your workflows as such. Feel free to let us know if there is something we are missing.

[2017-05-17 08:19] #3034 closed, assigned to SamvelRaja

[2017-05-17 09:14] seppestas commented on #2452
I'm personally not a fan of the idea of Postman automatically fetching new tokens. A refresh token button gives a lot more control and options to the user like e.g refreshing the token before it expires.

For my use of Postman having the "auth settings" saved per collection makes a lot of sense. These settings can refer to things like domain names set in the environment settings. It would be nice

[2017-05-17 09:17] ghost commented on #3038
Hi Kamal,

I wanted to store the Response for each request individually, say I run it for 50 iterations I want all the responses to be stored in a file.

Now that it is not available, I will find an alternate.

Thanks!!

[2017-05-17 09:17] #3038 closed, assigned to nobody

[2017-05-17 09:41] VMarisevs commented on #697
+1

[2017-05-17 10:02] kwstoikonomou opened #3039 "Parenthesis inconsistency"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Windows/Chrome
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Do not know, i think the 2nd
 6. Expected behaviour: Consistency of Encoding parethensis across apps

Reproduce:
Send a requet to a url that includes parenthesis.

The chrom

[2017-05-17 10:54] Heydiddly commented on #697
+1, great to hear!

@a85, is this the "Easier request chaining" item on the Trello roadmap?

[2017-05-17 11:03] clement-escolano opened #3040 "Upgrade electron version of Postman"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac
 3. OS details: macOS Sierra
 4. Is the Interceptor on and enabled in the app: Don't know
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: Postman should be able to run await / async function
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-in

[2017-05-17 11:36] numaanashraf commented on #3040
@clement-escolano Thanks for reporting this. Requests and script execution runs in a node environment in Postman native apps and async/await needs Node v7.6.0+ which is currently available only in a pre-release version of Electron (v1.7.0+). Furthermore, we aim for parity of node versions across our entire product offering for uniformity. We will take this up after async/await support lands on sta

[2017-05-17 11:36] #3040 closed, assigned to numaanashraf

[2017-05-17 12:05] clement-escolano commented on #3040
@numaanashraf Ok thank you for your answer. Looking forward to this ! 😄

[2017-05-17 15:18] bhawna2109 commented on #2485
hey guys, we have an exciting update  - response editing is here! :tada:

Get the story - http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

[2017-05-17 15:21] bhawna2109 commented on #2430
hey guys, this is now supported in the new Examples feature! :tada:

Get the story - http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

[2017-05-17 15:24] taschana commented on #3001
Same issue here. Hope for a fix/way to authenticate Postman with the zscaler.
Version 4.10.7
Win7, win / x86-64
Chrome 58.0.3029.110
Interseptor-Status doesn't matter (tried before and after installation)
Screenshot would show the exact same message as the reporter.

Inner-network calls on Postman work just fine, anything else (for example: google) can't be processed, as the postman does try to sh

[2017-05-17 17:26] drexler commented on #1825
Awesome just what i was looking for!

[2017-05-17 18:07] ghost commented on #682
+1

[2017-05-17 18:07] ghost commented on #803
+1

[2017-05-17 19:56] rationull commented on #2452
+1 on a "refresh" button and on allowing per-collection "current token" and auth settings.

[2017-05-18 08:56] floorn opened #3041 "Feature request: version control for collections and environments"
For my current project, I am using Postman for internal testing.

Since I am working on this project with a collegue, we share collections and environments via git. If I pull a new commit from my collegue, I need to import collections manually before I can start working.

I think it would be very useful if Postman can use version control in the future.

Kind regards, Floor

[2017-05-18 08:56] jkentreynes opened #3042 "How To Programamtically Set Authorization Details?"
How can I programmatically set AWS Signature authorization details in postman?

[2017-05-18 09:36] ngoossens commented on #1104
+1

[2017-05-18 10:24] vegetableman commented on #3041
@floorn Adding full support for version-control (Example: tagging) is part of the roadmap. For now, you could share your collections with your colleague by adding him/her to a team to keep the collections and environments in sync. Also, you could restore a particular collection to the previous state through the activity feed of a collection.
References:
https://www.getpostman.com/docs/postman/team

[2017-05-18 10:31] floorn commented on #3041
@vegetableman Thank you for your response! It is nice to hear that this feature is part of the roadmap. Also thanks for the additional references.

Kind regards, Floor

[2017-05-18 12:12] kunagpal commented on #3033
@mpluta-airhelp Thanks for your suggestion, we're marking this issue as resolved. 😄

[2017-05-18 12:12] #3033 closed, assigned to kunagpal

[2017-05-18 12:53] vegetableman commented on #3042
Currently, there is no way to programmatically set it. Tagging this as a feature request ^_^. To know more about the supported api on the sandbox, checkout https://www.getpostman.com/docs/sandbox

[2017-05-18 13:43] AlexByte opened #3043 "Do not show the old response body, if the response body of the new request is empty"
If I change the request, press Send and get 404, 204 or any other mute response body, then the body of the last answer with the nonempty body is displayed.
It's confusing

[2017-05-18 14:59] tariqghalib opened #3044 "How to use the pm object from sandbox"
Description:
How can we use the pm.* APIs. There is no guide and using it directly results in ReferenceError: pm is not defined.

Version/App Information:
-->
 1. Postman Version: **Version 4.10.7 / win32 6.1.7601 / x64**
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 7 Professional
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has

[2017-05-18 16:07] AnaGomes commented on #2895
Hi all, is there any update on this @prashantagarwal  please?

[2017-05-18 16:11] prashantagarwal commented on #2895
@AnaGomes Yes. This bug is fixed internally and on Canary builds. We are soon releasing an update next week with the fix and many new cool features. I will update this thread once we release the update.

[2017-05-18 16:54] wardhanster commented on #1495
+1

[2017-05-18 17:05] shamasis commented on #3044
This has not hit production yet. If you want to try it out, let me know over Slack or email. Our slack community details are at www.getpostman.com/community

Canary build of Postman can be downloaded by following the links provided at the end of this blog post http://blog.getpostman.com/2016/11/22/postmans-new-collection-runner/
This runs parallel to main postman app and experimental/latest beta r

[2017-05-18 17:05] #3044 closed, assigned to nobody

[2017-05-18 18:10] Pr1Smiley opened #3045 "Not able to send GET request to localhost"
1. Postman Version: Windows
 2. App (Chrome app or Mac app):
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: Been there for a while
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev

[2017-05-19 03:35] pastudan commented on #2582
@a85 any update / eta on this? thanks!

[2017-05-19 05:45] jaimem88 commented on #2730
Same thing happened to me trying to upload an audio file. If I don't set the Content-Length header I get the same error from S3.
This is happening on _Windows_ version _**v4.10.7**_ .

Here are the failing and passing requests
## Fails
[code]
I have to manually add the Content-Length header
## Passes
[code]

[2017-05-19 06:14] jeson114 commented on #3037
Ah .  i figured it out . There was some server config issue . Some Drupal module was being intrusive and causing some sort of redirection during preflight . It's fixed . will close this now

[2017-05-19 06:15] #3037 closed, assigned to nobody

[2017-05-19 06:44] nickost opened #3046 "Runner Rest output result"
Could be very useful the possibility to see after running a collection runner the output of all Rest calls and not only the HTTP status and test result.

[2017-05-19 06:45] nickost opened #3047 "Close all tab in one shot"
Could be a useful feature the possibility to close all tabs opened in one shot.

[2017-05-19 07:26] skormel opened #3048 "Delete collection completely from local and cloud."
I'm trying to delete completely some old collections, because nowadays they are useless.

I delete them from chrome app but there'are still on cloud (getpostman.com) and when I change from computer they resync and appear again.

How can I remove them completely from local and cloud?.

Best Regards.

[2017-05-19 10:05] PetrusKiendys opened #3049 "[Feature Request] Add settings checkbox "retain queries when clicking on links""
**Request**:
Similar to how there's currently a "retain headers when clicking on links" in the settings I would like to retain query parameters. These get stripped off when clicking on a link.

**Case in point**:
This might not sound like a big deal but it has caused me some headache when managing configurations through REST API:s. We're using an API that responds with configuration in the form of

[2017-05-19 11:34] scholary-tim opened #3050 "Typo in Snippets list "Validate with Tiny Validatore""
Under the 'Tests' section, the Snippets list contains a small typo under the Response Body list for JSON validation. Reads "Validate with Tiny Validatore" rather than "Validate with Tiny Validator".

Found in Postman (for Mac), 4.11.0-canary02 (4.11.0-canary02) - but may be in current version too - haven't checked.

[2017-05-19 11:55] sdnts commented on #3043
@AlexByte I think you're seeing the same issue as #2950. If so, that's a bug and we'll be releasing a fix in the next version. Please feel free to reopen this if this is a separate issue.

[2017-05-19 11:55] #3043 closed, assigned to nobody

[2017-05-19 11:57] sdnts commented on #3046
@nickost Have you tried out the native app's Runner? It will display the output of all requests (if they aren't larger than 300kbs) if you click on the request's name.
Please feel free to reopen if I misunderstood.

[2017-05-19 11:57] #3046 closed, assigned to nobody

[2017-05-19 11:59] sdnts commented on #3047
@nickost On the native apps, if you right click on a tab, you should be able to close all tabs. On the Chrome apps, we cannot open context-aware right click menus, so it isn't possible there. Please feel free to reopen if I misunderstood.

[2017-05-19 11:59] #3047 closed, assigned to nobody

[2017-05-19 12:01] sdnts commented on #3048
@skormel When you delete a collection, it should go away from the website as well and should not be synced to other apps. This looks like a bug.
Do you see any errors in the DevTools console after you try to delete the collection? Can you also make sure you are on the same account on both apps (of you have multiple accounts)?

[2017-05-19 12:01] sdnts commented on #3050
@tjdurden Ah, thanks for pointing that out, we'll get that fixed.

[2017-05-19 12:03] sdnts commented on #3049
@PetrusKiendys Thanks for raising this. W'll definitely look into this :)

[2017-05-19 12:20] nickost commented on #3047
Perfect i found this feature in the native app.
I switch from Chrome version to it.
I didn't know that in the native version there were more features.

[2017-05-19 12:20] nickost commented on #3046
Perfect i found this feature in the native app.
I switch from Chrome version to it.
I didn't know that in the native version there were more features.

[2017-05-19 13:06] sunmorgus commented on #1475
+1

[2017-05-19 14:17] reinaldomoreira commented on #2366
getting the same problem yet.

[2017-05-19 15:20] sam-viz commented on #675
+1

[2017-05-19 20:43] TheFrozenFire commented on #2905
+1. I often use Postman to test queries for my application, which I then have to reformat from tabs to spaces because Postman only supports the former. It's very tedious.

[2017-05-20 02:57] Crackroach opened #3051 "Multilingual @ not doable"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app):
 3. OS details: Window 10
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour: I use a French Canadian keyboard and when i type @ (alt-car + 2) the app sometimes freezes but it never enter the @ symbol
 7. Console logs (http://blog.getpostman.com/

[2017-05-20 03:00] Crackroach commented on #3051
I think i found out why. There is a keybind related to alt+ctrl+2 (Switch to builder) which is the same than alt-car+2. There is no way to change the binding so there is no way for me to fix the problem

[2017-05-20 05:05] cainiaoDJ opened #3052 "After changing the password, the old account can also synchronize data"
1. Postman Version:
Version 4.10.7
 2. App (Chrome app or Mac app):
 mac app & windows app
 3. OS details:
 windows & mac 10.12
 4. Is the Interceptor on and enabled in the app:
 no
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:

我在mac机器上运行了postman，并且登录了账号。当我想在Windows上继续我的开发时，我忘了我的账号密码。我通过邮箱重置密码后，我发现在原先的老机器上，依然能够运行同步。我并没有用新密码继续登录。
I run the postman

[2017-05-20 13:41] jvkaam opened #3053 "Parameter is missing in the request"
Hi everyone,

I'm trying to update a collection by using the PUT method. For some reason it returns:

{"error":{"name":"paramMissingError","message":"Parameter is missing in the request.","details":{"param":"collection"}}}

Defined in ANT I execute the following CURL command:

[code]

I know the x-api-key (although scrambled here) is correct because when changing this it produces an authentication

[2017-05-20 14:03] shamasis commented on #3052
Yes. Currently we would like if you could manually log out. We would add the feature to clear all sessions next month or earlier. We are waiting for some old app versions to phase out.

Cc @abhijitkane

[2017-05-20 14:03] #3052 closed, assigned to nobody

[2017-05-20 15:01] numaanashraf commented on #3045
@Pr1Smiley Hi, could you try the same GET request via Chrome browser and send us the HAR data exported from DevTools > Network tab? (see attached screenshot for reference) This will help us figure out why Postman is reporting a Parse Error. Please send the HAR export to help@getpostman.com with the subject GitHub #3045.

<img width="993" alt="screen shot 2017-05-20 at 8 27 27 pm" src="https://clou

[2017-05-20 16:14] StephenOTT commented on #682
+1

[2017-05-21 12:12] RajatGoyal commented on #2559
This keeps happening to me too, It suddenly stops working (chrome app) and works fine after reinstallation.

[2017-05-21 15:22] shamasis commented on #3053
@jvkaam can you look into the sample request defined in docs.api.getpostman.com

Can you check whether you are boxing your collection the file in a key called `collection`?

Example:

[code]

You can also refer to a sample json within the examples repository of newman.

[2017-05-22 03:23] zemien commented on #2969
I'm experiencing the same issue on Windows native app 4.10.7 too.

[2017-05-22 03:43] zhuyingda opened #3054 "Could not get any response"
Whatever the url I request, it always show me `Could not get any response`.
I request my own website and check the access log in server, and I found the postman just not send any http request.
Also, I found that if I open Charles and set the `Mac OS Proxy` on, the postman app can request and get correct response.

Here is my info:
 1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome

[2017-05-22 06:19] whitemalt commented on #350
+1 pls

[2017-05-22 08:29] kamalaknn commented on #3054
@zhuyingda Are you working on an environment that is behind a proxy?

This is most probably an issue with misconfigured System Proxy settings. Could you verify once that your macOS system proxy is configured right and try sending a request?

If you are still seeing it, could you send a screenshot of the Postman Console(`cmd + opt + c` should open it).

Thanks!

[2017-05-22 09:00] zhuyingda commented on #3054
@kamalaknn
I see an error log in console ：
Error: getaddrinfo ENOTFOUND socks5127.0.0.1
So I check out my system network settings, and I found a socks proxy config.
I canceled that configuration and postman can request.
Thank you!

[2017-05-22 09:07] valorl commented on #1137
+1

[2017-05-22 09:38] kamalaknn commented on #3054
@zhuyingda great!

Glad you got it figured out. Closing the issue now.

[2017-05-22 09:38] #3054 closed, assigned to nobody

[2017-05-22 10:59] kamilwlf commented on #1947
+1

[2017-05-22 13:36] kamalaknn commented on #3051
Hi @Crackroach

Thanks for sending in your feedback. This issue appears to be a duplicate of #2707.

We haven't figured out a cleaner way to solve this yet. We will update the parent issue as soon as we have a fix for this.

[2017-05-22 13:36] #3051 closed, assigned to numaanashraf

[2017-05-22 13:50] scholary-tim commented on #1368
+1

[2017-05-22 14:01] skormel commented on #3048
After you respond me, I tried again and several collections where removed from cloud but other still apeared. Today logged from work and appeared two old collection, I deleted again and now all of the disapear from cloud.

Now everything it's alright.

I only have an account but I use it on several diferent computers and operating systems.

Best Regards.
Antonio

[2017-05-22 15:55] jeffmcmahan commented on #327
Yeah, same problem with the latest version (4.10.7); no matter what I do, no content-type header is set.

[2017-05-22 17:05] anjacolic commented on #285
+1

[2017-05-22 19:15] ultymike commented on #1669
+1

[2017-05-22 19:57] iainjmitchell opened #3055 "[Feature Request] Assign certificate pair to all subdomains of a host name"
**Request:**
It would be really useful if you could assign the certificate pair to all subdomains of a specific host.
For example, add a host of _*.monkey-api.com_ and have this certificate pair used for requests to _bob.monkey-api.com_ and _dave.monkey-api.com_.

[2017-05-22 20:54] drexler opened #3056 "deletion of environment variable when attempting to set it via postman.SetEnvironmentVariable"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app):
 3. OS details: Windows 8.1
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour:  Variable is left as is.
 7. Screenshots (if applicable)

1. Import the test environment template from the attached zip file
2. Import the test collection

[2017-05-22 21:55] satwise opened #3057 "Add Collection import support for RAML 1.0"
Although RAML 0.8 import is currently supported, our company has fully migrated to RAML 1.0 to take advantage of it's powerful capabilities.

Generating a Collection from RAML 1.0 will save our Dev team valuable time, as they must manually create these collections now. The import would eliminate rework and allow development activity to replace the current manual documentation effort.

[2017-05-22 22:02] satwise opened #3058 "Allow Environments to be shared/owned with other team members so it available within Postman Monitoring"
We have multiple people writing collections that will end up in Postman Monitoring, but the Environments I've defined can't be reused or shared with another admin who should also be able to manage the Environment.

This is causing confusion and proliferation of environments, as users can't select an existing Environment to Monitor test collections, as they did not create that environment.

Please

[2017-05-22 22:21] who opened #3059 "How can we parse a URL in a pre-request script?"
I'd like to write a pre-request script that parses some information from `request.url`.

What's the best way to parse a URL from inside a pre-request script?

These do NOT work:
[code]

Version/App Information:
 1. Postman Version: 4.10.7
 2. App: Mac App
 3. OS details: OS X Sierra

[2017-05-23 00:08] bneigher commented on #350
+1 would b cool

[2017-05-23 02:08] kamalaknn commented on #3055
@iainjmitchell this looks like a duplicate of #2700

Closing this issue. Please follow the parent thread for updates.

[2017-05-23 02:08] #3055 closed, assigned to nobody

[2017-05-23 02:09] kamalaknn commented on #2700
@shamasis @numaanashraf this should be possible with the recent changes to Certificates in `postman-collection`. Thoughts?

[2017-05-23 02:15] kamalaknn commented on #3058
@edjanx thanks for sending your feedback.

I am tagging this as a feature request. @a85 your thoughts on this?

[2017-05-23 02:54] d-insig opened #3060 "Postman Mobile app"
Its high time postman get a mobile/tablet app. It could be a read/execute only for the MVP where collections added on the product can be shared across mobile and requests can be sent across.

[2017-05-23 04:09] knasim commented on #2265
yep - i'm having the same issue and i the correct cert/key chain (i can connect using C).

'Error: write EPROTO 140735678243776:error:14094416:SSL routines:ssl3_read_bytes:sslv3 alert certificate unknown:../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:1472:SSL alert number 46 140735678243776:error:1409E0E5:SSL routines:ssl3_write_bytes:ssl handshake failure:../../vendor/node/deps/openssl/opens

[2017-05-23 04:20] kamalaknn commented on #3056
@drexler Hey!

I gave the collection a try. I could see that in the second request the value you are trying to set to an environment variable is `undefined`.

So at the end of the request any value that was previously set to the same environment variable would be wiped out. If you want the value to be retained, you can try adding a check for falsy cases before setting it to your environment like `

[2017-05-23 04:37] kamalaknn commented on #3060
@d-insig Hey!

Thank you for your feedback.

For now the postman [web app](https://app.getpostman.com) should offer a very basic feature set like viewing your private/team collections, subscribing to collections, view/publish docs.

We will see if we can add other team and sharing related features to the web app so that it becomes available on all platforms/devices.

But the sending of requests mi

[2017-05-23 05:05] kamalaknn commented on #3059
Hi @who

The scripts are executed in a sandboxed environment. That's why you are not seeing some of the Javascript APIs.

We are working on some nice improvements to the `scripts` sections in the next version that will make this
a lot easier. cc @shamasis

For now I am closing this since this not an issue with the Postman itself. Feel free to continue the discussion here.

[2017-05-23 05:05] #3059 closed, assigned to nobody

[2017-05-23 06:26] Telaran commented on #2707
While your write in your May-News Newsletter about "_Increase your productivity with keyboard shortcuts_", you still haven't addressed the issue. It's more annoying due the missing possibility to disable the update-check on the application startup.

Why not at least offer a "disable shortcuts" toggle. This isn't ideal, but for many of us it would at least give the opportunity to use a newer versio

[2017-05-23 06:35] zaherg opened #3061 "[Feature request] Ability to share collections folders"
I do love to organize my Collection with sub-folders, instead of using Collections all the time.
but the problem is that you cant share a folder, you can only share the whole collection which is annoying.

I contacted the support and asked me to add this as a feature request, hope it will be also something other people may want.

thanks

[2017-05-23 08:01] scholary-tim commented on #1961
+1 - broadly, more support for coverage would be great. Perhaps a comparison between Swagger and Postman somehow?

[2017-05-23 08:03] SamvelRaja commented on #3057
Thanks for bringing this to our notice. We shall keep you updated on this thread when we start taking this up.

[2017-05-23 08:42] zaceverett opened #3062 "[Feature Request] - Code generation pure c# - HttpClient"
Would it be possible to include a code generator for pure c# possbily using HttpClient.

I know there is already a generator for c# RestSharp, obviously this creates a dependency on this library. Using pure c# gives a sound base for developers using Postman documentation to immediately create a simple call to an API endpoint.

[2017-05-23 11:53] numaanashraf commented on #3061
@linuxjuggler Thanks for the suggestion. We'll prioritise and add this to our roadmap if this helps or adds value to a large section of our users. You can find the current roadmap at https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers.

[2017-05-23 11:55] numaanashraf commented on #3062
@zaceverett Thanks for the suggestion. The code generation module of Postman is open-sourced at https://github.com/postmanlabs/httpsnippet-fsless and we always welcome contributions there. 😃

[2017-05-23 12:30] zaherg commented on #3061
sounds good, thanks

[2017-05-23 12:51] a85 commented on #3042
@jkentreynes What exactly is your use case? You can set environment variables and use them as AWS Signature inputs.

[2017-05-23 12:52] a85 commented on #2582
@pastudan We are releasing 4.11 soon to fix this.

[2017-05-23 12:54] skolesnyk commented on #191
support EMCP here. I was banging my head when testing express server through postman sending form-data. Damn it postman!

[2017-05-23 12:55] #3048 closed, assigned to nobody

[2017-05-23 13:31] drexler commented on #3056
@kamalaknn  thanks for looking into it. My expectation was the variable to remain irrespective of the value being set.

[2017-05-23 14:47] euroclydon37 commented on #2942
Any update on this? It bugs me to death.

[2017-05-23 15:07] knasim opened #3063 "Postman on Darwin does NOT work with SSL Certs for localized (localhost) service."
Postman for Mac
Version 4.10.7
OS X 16.1.0 / x64

This version using the "Certificates" tab under "Settings"  does not work for localized web service i.e. running on localhost.  Perhaps this is a code defect.    It cannot establish SSL handshake and craps out with a reference to a line of C code from openssl ..... `../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:656:`

Also you need to be more

[2017-05-23 15:16] mhGLEIF commented on #3057
Thanks @SamvelRaja - I also just upgraded to RAML 1.0 because this is now the supported version e.g. in API Workbench; RAML2HTML... so it just makes sense for Postman to use it.

[2017-05-23 17:54] mattaylor opened #3064 "Json to support using websockets"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-05-23 20:16] jb08 opened #3065 "unable to find example icon to create request/response example mock"
where is the example icon as described [here](http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/?utm_source=All+contacts&utm_campaign=512cc22d71-EMAIL_NEWSLETTER_2017_05_22&utm_medium=email&utm_term=0_bba0cca85f-512cc22d71-13460919)?

![screen shot 2017-05-23 at 3 13 06 pm](https://cloud.githubusercontent.com/assets/8146460/26374379/c7c0ac78-3fca-11e7-8f4a-3dba26650

[2017-05-23 21:28] sdnts commented on #3065
Hi @jb08! The examples flow has not made it to our production channel yet. You can download our Canary version if you want to take it for a spin:
[OSX](https://dl.pstmn.io/download/channel/canary/osx_64)
Windows [x86](https://dl.pstmn.io/download/channel/canary/windows_32) [x64](https://dl.pstmn.io/download/channel/canary/windows_64)
Linux: [x86](https://dl.pstmn.io/download/channel/canary/linux_3

[2017-05-23 21:29] #3065 closed, assigned to nobody

[2017-05-23 22:02] Opticsponge commented on #2491
a "clean up/ format JSON" button would also be nice

[2017-05-23 22:15] Hezek1ah commented on #1228
The solution proposed by NabiKAZ did not work in my situation. The cookie value that I assigned was overridden.  @madebysid Any update to managing cookies from pre-request / test scripts?

+1

[2017-05-23 23:06] tgourley01 opened #3066 "EncodeURIComponent and DecodeURIComponent in right mouse menu do not work"
EncodeURIComponent and DecodeURIComponent in right mouse menu do not work.

 1. Postman Version: **4.10.7**
 2. App (Chrome app or Mac app): **chrome app, Chrome Version 58.0.3029.110 (64-bit)**
 3. OS details: **windows 10 pro**
 4. Is the Interceptor on and enabled in the app: **on or off seems to make no difference**
 5. Did you encounter this recently, or has this bug always been there: **I'm

[2017-05-23 23:41] kachinger commented on #2966
We are facing the issue with below conditions:
· Using Windows 7 Pro edition (64 bit Dell laptop).
· We tried installing 64 and 32 bit versions.
· Right click works everywhere else in the system, it also works on the Windows frame that holds Postman app but not in the app itself.
· We tried to uninstall Postman, laptop was naturally rebooted multiple times.

[2017-05-24 00:30] w3nchao commented on #2265
Yes I'm having the same issue:
native postman app + Version 4.10.7
`Error: write EPROTO 140736277353408:error:14094412:SSL routines:ssl3_read_bytes:sslv3 alert bad certificate:../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:1472:SSL alert number 42 140736277353408:error:1409E0E5:SSL routines:ssl3_write_bytes:ssl handshake failure:../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:656:`
![scre

[2017-05-24 00:40] mikob commented on #2437
Can we reopen this issue? I'm having the same problem. Can't do anything, just a black rectangle running Linux Mint 17.1 on a Windows 7 host with 3d acceleration enabled.

[2017-05-24 07:08] numaanashraf commented on #3066
@tgourley01 Thanks for reporting this. Could you let us know your exact Chrome version?

[2017-05-24 07:34] numaanashraf commented on #3063
@knasim Hi! Could you confirm that you are providing PEM formatted cert & private key (with optional passphrase) separately in the client config? The client certificate feature in Postman is still in beta and we are working on rolling out support for custom CA, container formats for certs and iron out these kinks.

[2017-05-24 07:38] numaanashraf commented on #2265
@knasim @w3nchao This thread was originally for loading client cert from Mac keychain. Continuing this discussion on #3063

[2017-05-24 07:40] numaanashraf commented on #3064
@mattaylor I'm afraid I don't understand this issue. Could you elaborate a bit?

[2017-05-24 08:10] Marnnn commented on #2786
I am experiencing exactly the same thing from the updates I installed today (has been notifying me for a while). Request was working fine before.

Postman for Mac
Version 4.10.7
OS X 15.6.0 / x64

I've reverted back to version 4.10.2 and 4.9.3 but these are still showing a white screen some time after loading the request. The request has the following stats;
Time: 13294ms
Size: 61.2mb

[2017-05-24 09:31] mirszy commented on #739
+1

[2017-05-24 10:25] jonaslundholm commented on #1522
What's the status on this? Would be really neat to group requests that are supposed to succeed / fail and even group by expected status codes.

[2017-05-24 11:33] srbh21 opened #3067 "Not Able to Open Manage Profile."
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-05-24 11:34] tgourley01 commented on #3066
Added chrome version to initial report, thx!

[2017-05-24 12:28] markdemich opened #3068 "PostMan Windows App failing on 201 return"
I'm making a post with the PostMan Windows App (4.10.7).

I can't post my curl command here because there are api keys involved, but I have verified this curl command via DHC and the PostMan Chrome App and it works fine.

However, when using the PostMan Windows App, I get the dreaded "Could not get any response".

Also, I have fiddler running and I can see the request actually being made and retur

[2017-05-24 12:31] a85 commented on #3067
Closing due to lack of details.

[2017-05-24 12:31] #3067 closed, assigned to nobody

[2017-05-24 13:08] stianlagstad commented on #903
+1

[2017-05-24 13:37] Damaged-Organic commented on #843
Same thing here. Example `body` works perfect with Swagger Editor, but Postman shows only endpoint description (Swagger 2.0 in YAML). Can't use it because of that.

[2017-05-24 13:39] Damaged-Organic commented on #2857
Same thing here. Also, Postman can't import Swagger folder with files containing relative reference (as described [here](https://stackoverflow.com/questions/35552367/splitting-swagger-definition-across-many-files), for example).

[2017-05-24 13:42] numaanashraf commented on #3068
@markdemich Thanks for reporting. We are looking into this.

[2017-05-24 14:45] ctrlaltdylan commented on #734
CrypoJs is now included in Postman scripts as a global but you can't use the base64 encoding as you'd expect - you have to use the `toString()` method on your hash.

`hash.toString(CryptoJS.enc.Base64));`

Thanks @gijswijs

[2017-05-24 14:46] dvdtoth commented on #1137
+1

[2017-05-24 14:56] knasim commented on #3063
@numaanashraf - As a serial darwin user - I got so frustrated with Postman I ended up going with Restlet Client - it runs from the browser and I didn't have to struggle with SSL certs.
 I strongly advise you to NOT make Postman a separate app but instead leave it as browser add-on.
It's just a very moronic idea to do so - please pass my constructive criticism to the CTO/VP of Engineering

Reason f

[2017-05-24 15:07] knasim commented on #2265
either way - you're product needs to do a better job of supporting openssl otherwise it will die.

[2017-05-24 15:11] knasim commented on #3063
@numaanashraf  - the produces a PEM format cert

openssl pkcs12 -in p12file -clcerts -nokeys -out mycert.pem

[2017-05-24 15:24] mattcrwi commented on #1947
+1

[2017-05-24 15:57] PinoEire commented on #1906
+1

[2017-05-24 17:05] numaanashraf commented on #3063
@knasim Thanks for your feedback. I've passed this to our team and it'll help us as we improve our SSL support.

[2017-05-24 17:07] numaanashraf commented on #2265
@knasim Thanks for the feedback. We'll take this into consideration as we improve our SSL support.

[2017-05-24 17:33] w3nchao commented on #2265
@numaanashraf Yes, this error happens when i load the crt and key file to Postman - Settings - Certifications. I thought loading client cert from Mac keychain was not supported in postman. Is there an update?

[2017-05-24 18:24] ghost commented on #1180
+1
Any update on this?

[2017-05-24 18:26] mattcrwi commented on #2857
Same issue here. this is a huge pain for an application with about 100 endpoints.

[2017-05-24 18:27] mattcrwi commented on #2951
I resolved this by exporting the postman library and hand editing the configuration and re-importing. This is a pain that will happen every time I change my swagger and want to re-import.

[2017-05-24 18:29] ghost commented on #1180
@shamasis regarding your point about working around Chrome platform restrictions. Isn't this a non-issue for the Windows and Mac native apps since they run on Electron?

[2017-05-24 19:08] dvinell opened #3069 "Base 64 encoded Cookie Problems with "=" at the end"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app):
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: Cookie handling works correctly

If I try to add a Base 64 encoded cookie with a "=" at the end and save it, then the trailing "=" is truncated, and my call fai

[2017-05-24 19:31] knasim commented on #3063
@numaanashraf - good luck

[2017-05-24 19:33] knasim commented on #2265
@w3nchao - did you export your certificate out to PEM ?  can you post the args you gave to openssl

[2017-05-24 20:24] ghost opened #3070 "Solved"

[2017-05-24 20:45] anurbol commented on #350
+1 Yes please. Absence of this feature stops me from using postman for few years...

[2017-05-24 20:49] devyanikul opened #3071 "the following parameters are missing : oauth_callback"
I am trying to generate token for outh1. After filling all authorization field, I get an error of missing parameters oauth_callback. how to add this parameter as i have already tried adding manually but doesn't work. Thank you

 1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug

[2017-05-24 21:22] puviyarasan commented on #793
We see that Postman completely hangs/ does not respond, when the response has a large body. Is there a way to turn off body processing / not show the body?

[2017-05-24 22:43] oferze commented on #1137
All of you who are still following this thread (either by reading through it or by just adding another +1 comment instead of marking your vote on the original issue comment), if you want NTLM now there's a tool that's highly competitive to Postman and has this feature: [Insomnia](https://insomnia.rest/).

[2017-05-24 23:20] #3070 closed, assigned to nobody

[2017-05-25 01:06] a85 commented on #3071
Please follow issue guidelines and do not cram everything in the issue title. Closed until this is fixed.

[2017-05-25 01:06] #3071 closed, assigned to nobody

[2017-05-25 07:11] kamalaknn commented on #3068
@markdemich Hey, we are trying to reproduce this.

Could you share the screenshot of the dev tools and the Postman Console? It will help us identify the root cause. You can mask sensitive parts of the API though.

[2017-05-25 08:01] tvpsh2020-zz opened #3072 "Every api call will fail after making api call to an undefined port"
1. Postman Version:
- 4.10.7
 2. App (Chrome app or Mac app):
- Chrome app
 3. OS details:
- Windows 10 Pro x64 (ver 1703, build 15063.296)
 4. Is the Interceptor on and enabled in the app:
- enabled
 5. Did you encounter this recently, or has this bug always been there:
- always occur
 6. Expected behaviour:
- Complete my request
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-ch

[2017-05-25 08:04] numaanashraf commented on #3072
@tvpsh2020 Thanks for reporting. This is a known issue in Postman Interceptor. We are working on rolling out a fix for this soon.

[2017-05-25 08:05] adis-io commented on #1552
+1

[2017-05-25 09:34] kamalaknn commented on #3069
@dvinell Thanks for reporting the issue. We will look into this.

[2017-05-25 10:54] kamoljan commented on #2523
+1

[2017-05-25 11:31] boekhold commented on #2887
4. Provide a facility to **always**  prompt for a value for a referenced variable, eg `{{!task_id}}` will **always** ask the user for a value for `task_id`...

[2017-05-25 15:48] glennkidd commented on #2678
Support for the jsbn library or something similar would be dreamy.

Or the ability to import our own libraries so we could do this ourselves...

[2017-05-25 15:50] glennkidd commented on #1607
+1 also, would love support for this

[2017-05-25 15:51] MatteoPiovanelli opened #3073 "Parse html from response body"
Hello.

I used to do, in tests:
[code]

I updated postman to run stuff with newman and now those same tests return an error like "document is undefined" even when running them in postman.

Is thee a conventional way to parse an html response?

I will be able to provide more detail tomorrow when I am back in the office

[2017-05-25 16:11] kamalaknn commented on #3073
HI @MatteoPiovanelli-Laser

Postman executes all your scripts in a sandboxed environment. That is why you are not able to access `document` from within the scripts.

You can use the [cheerio](https://cheerio.js.org/) library for your html related parsing.

This should work

[code]
Hope this helps.

Closing this because this is not an issue with the Postman App itself. Feel free to continue discuss

[2017-05-25 16:11] #3073 closed, assigned to nobody

[2017-05-25 16:29] MatteoPiovanelli commented on #3073
Thank you. I'll try that when I am back on my machine.

[2017-05-25 17:26] Birowsky commented on #1906
well?

[2017-05-25 19:59] dsgn1graphics opened #3074 "Feature request: automated project generation"
I'll try my best to describe my idea, but I think this would be a very cool feature. It would be awesome if Postman supported a language, that allowed us to define specific rules within our files. These could be pulled into Postman to create projects. If this feature has already been mentioned, please close this. I searched for something similar but couldn't find anything documented.

Issues to so

[2017-05-25 20:04] Dougley opened #3075 "When the protocol is omitted from the link, Postman only uses GET"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): Win64
 3. OS details: Windows 10 Creators Update x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Postman adheres to the option set in the drop-down menu
 7. Console logs: http://i.imgur.com/8I09XvH.png
 8. Screenshots (if app

[2017-05-25 21:30] sdnts commented on #3075
Hi @SteamingMutt!
When you make a request without the protocol, it is assumed to be `http`
We did some investigating here, and it looks like RequestBin redirects all requests to `http` to `https`.
When this happens, the method is reset to GET and the request body is stripped off, which is standard behaviour. You can verify this by turning off `Automatically Follow Redirects` in the app (under the

[2017-05-25 21:30] #3075 closed, assigned to sdnts

[2017-05-25 21:34] hgschmie commented on #2206
Bug still exists in standalone postman 4.10.7 on MacOS X.

Especially annoying when using in conjunction with the "Get new Access Token" flow to request OAuth 2.0 tokens as there is no way to influence the Origin value sent to the authentication server.

The server we are using (CloudFoundry UAA) rejects these requests in its CORS filter as invalid, because `file://` is not a valid URI. It should

[2017-05-25 21:45] wierzba3 opened #3076 "How to branch to request based on conditional statement without making a request first."
Hi,

My scenario is that my suite of tests is ran against a web service and I want to refactor it to be able to run against multiple environments.

The first request in the collection is to obtain an authentication token.

My problem is that, for this first request to obtain a token, I want to execute different requests based on a configurable environment variable.

So, say I've set the environmen

[2017-05-26 01:16] jammage opened #3077 "Share Collection > Embed Button > Environment attached after selecting 'No environment'"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Win7 x86-64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Setting 'No environment' will exclude environments from the auto-import when users click 'Run in Postman' button

 7. Console logs (http://blog.get

[2017-05-26 04:02] kamalaknn commented on #3076
Hey @wierzba3

Postman has a `setNextRequest` function in the scripts that can help you with this. You can modify the following script to suit your needs.

[code]

Hope this helps. Closing the issue since it is not an issue with the Postman App itself. Feel free to continue discussion here.

[2017-05-26 04:02] #3076 closed, assigned to nobody

[2017-05-26 04:04] kamalaknn commented on #3077
Hi @jammage

Thanks for reporting the issue. We are looking into this.

[2017-05-26 08:17] MatteoPiovanelli commented on #3073
@kamalaknn just commenting to say I tried cheerio and it works perfectly. Thanks again for your reply.

[2017-05-26 09:17] Damaged-Organic commented on #1906
C'mon, guys, it's been a year already. Please, assign somebody to support our sweet RAML 1.0 : )

P.S.: really, this is currently the only thing that stops my team from migrating to RAML (and dumping Swagger, apart from my own tastes, which are RAML by default), as protocol requires demonstration in Postman.

[2017-05-26 09:22] biglynch commented on #1180
+1

[2017-05-26 10:07] kamalaknn commented on #3073
@MatteoPiovanelli-Laser you're welcome 😄

Glad that it solved your issue.

[2017-05-26 11:06] SamvelRaja commented on #3077
@jammage We couldn't reproduce the issue from our end can you share us the url / code snippet generated over here or help[at]getpostman.com?

[2017-05-26 12:55] Senior-Fin commented on #1180
+1

[2017-05-26 14:31] sdnts commented on #3074
@dsgn1graphics Wow thanks for the detailed idea! We'll definitely take this into consideration :)

[2017-05-26 15:15] jcoplonSE commented on #1906
+1

[2017-05-26 16:18] tmack8001 opened #3078 "[feature request] Custom Sorting of Environments"
It would be very helpful to be able to sort environments by another means than name alphabetically. In my environment I have several regions for each "dev", "staging", and "production" as well as a "local" development environment.

Just with these four I would like to order the environments by the "stage" they represent in the lifecycle "local", "dev", "staging", "production". Though instead they

[2017-05-26 16:40] SMSMichael opened #3079 "Team Cloud Documenter - issues with HTTP protocol in sample code blocks"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Windows/Chrome App
 3. OS details: Win10 64
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: Only just started using Team Cloud Documenter
 6. Expected behaviour: Sample code generated by the team cloud documenter should either use the http protocol prefix (http/

[2017-05-26 17:19] dsgn1graphics commented on #3074
@madebysid I'd love to hack away at this, but I couldn't find any documentation on creating extensions or plugins

[2017-05-26 21:37] kdvlr commented on #2258
I have the same problem on Windows and Chrome as well. I cannot see the cookie. It does show in the console though.

Version Info:
Postman for Chrome
Version 4.10.7
win / x86-64
Chrome 58.0.3029.110

![image](https://cloud.githubusercontent.com/assets/19178546/26513519/885375d4-4231-11e7-8232-14e589ed20a0.png)

[2017-05-27 06:45] hnoe-c7ks7s commented on #2833
The suggested fix didn't work for me (Windows 10) when Postman is pinned to the taskbar, so I can't select 'move'. Right click only shows 'unpin from task bar' or 'close window'. I had to unpin it to see the running session before I could recenter it to my screen. I was using a single monitor hooked up to a Dell docking station and now I'm just using the laptop screen (and checked that I was only

[2017-05-27 14:58] solody commented on #2530
sorry for late, it's ok now in latest version, thank u very much.@madebysid

[2017-05-28 14:58] BenGale commented on #1669
+1

[2017-05-28 20:15] emersonf commented on #553
Any chance this can get revisited? Writing a pre-request script for every request that needs an ISO8601 timestamp creates a lot of repetition, especially if any customization is required, e.g. to get the local date or whatever.

I assume two timestamp formats cover most cases, namely a local timestamp `{{$timestampIso8601Local}}`, e.g. `2017-05-28T22:12:01+01:00` and UTC time `{{$timestampIso8601U

[2017-05-29 06:21] sdnts commented on #3074
@dsgn1graphics We're actually working on creating a plugin ecosystem so that you guys can contribute as well :)
You can follow this: https://trello.com/c/2AuSdg6z/20-read-this-first to be the first to know when it is out!

[2017-05-29 08:05] SamvelRaja commented on #3078
Thanks for bringing this to our notice. We shall look into the possibilities and update the progress in the same thread.

[2017-05-29 08:07] cdelgadob commented on #1669
+1

[2017-05-29 08:48] godfrzero commented on #3079
@SMSMichael Thanks for bringing this up. We're aware of this issue and a fix should be out within a few days. 👍

[2017-05-29 09:18] Muralinie opened #3080 "Feature request : Testing response body values to a g- variable value"
1. Postman Version:Version 4.10.7
 2. App (Chrome app or Mac app): Windows app
 3. OS details: MS Windows 7 enterprise

I want to avoid the verifiable response values to be hard coded in the tests, rather pick the response values from the global variables to verify the response body . Is this possible in postman to reduce manipulation of scripts for change in test data results .

Example: My curre

[2017-05-29 09:44] nithincscubet commented on #1669
Can we expect GraphQL file upload support with this feature ?

[2017-05-29 11:18] pajics commented on #1137
Workaround:
I got this working by running Fiddler first.

Run Fiddler (I'm using 4.6.2.3)
Fiddler Menu: Rule -> Automatically Authenticate = true
Postman: Check that Authorization type = No Auth
Browse api.

https://stackoverflow.com/questions/37341304/pass-ntlm-with-postman

[2017-05-29 11:49] sdnts commented on #3080
Hi @Muralinie You can use global variables to do this kind of thing.
[Docs](https://www.getpostman.com/docs/postman/environments_and_globals/manage_globals)

You'll need to set up a global variable and access this variable in your script using `postman.getGlobalVariable('<name>')`

[2017-05-29 11:49] sdnts commented on #3080
Closing this. Please feel free to reopen if I misunderstood :)

[2017-05-29 11:49] #3080 closed, assigned to sdnts

[2017-05-29 11:53] Muralinie commented on #3080
I think you have misunderstood :) . I am not wanting to set a global variable . As per the scripts I have shared I want to verify the value in the tests picking the value from global variable ,

[2017-05-29 11:56] sdnts commented on #3080
Yep, so once you set a global variable called `expectedValue` to `1030939177`, your test script would look like:
`tests["Document returned with id_num "]= data.docList[i].Datamap.id_num === postman.getGlobalVariable('expectedValue')`

Note that I'm getting the global variable value using `getGlobalVariable`

[2017-05-29 12:01] Muralinie commented on #3080
thanks madebysid. That solved my question . Since this method is not present in the snippets I couldn't get this method . :+1:

[2017-05-29 12:19] luiscavero commented on #907
Hello @a85 , last week you posted an entry saying that the multilevel folders feature would be ready during that week.
However, there is still no new release (or I did not get it). Also, I received the May 2017 Postman Newsletter and this feature is not listed.

I do not like being boring but ... when will that be ready to start creating multilevel collections?

Thank you!

[2017-05-29 12:20] vishnupathak opened #3081 "Issue with doing get of environment variable if variable name starts with an integer."
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-05-29 12:23] sdnts commented on #3081
Hi @vishnupathak Could you share your test script here?
Also, for future searchability, please give the issue an appropriate title and describe the issue in the description instead of the title.

[2017-05-29 12:32] vishnupathak commented on #3081
sorry, will take care of heading so that people may search easily.
Details:
 if (i=="A")
{ var STA_R_ID = environment.R_ID1;
  postman.setEnvironmentVariable("STA_R_ID", STA_R_ID);

   var STA_Quantity = environment.1Quantity1;
  postman.setEnvironmentVariable("STA_Quantity", STA_Quantity);
}
else
{ var STA_R_ID = environment.R_ID2;
  postman.setEnvironmentVariable("STA_R_ID", STA_R_ID);

   var S

[2017-05-29 12:41] sdnts commented on #3081
@vishnupathak The correct way to get an environment is by using `postman.getEnvironmentVariable('<variableName>')`. This will return the value of the variable.

Since Postman scripts are still JS, variables starting with a number are not allowed, which is why you're seeing this error. Let me know if using `getEnvironmentVariable` fixed your issue.

[2017-05-29 12:47] daniele-pintus opened #3082 "Postman interceptor missing in win10 app"
I just installed the latest version of Chrome (58.0.3029.110 - 64-bit) and Postman ( 4.10.7), then I installed the chrome interceptor extension, but it does not appear on postman. there is a "proxy settings" instead.
the interceptor is not working anyway with the embedded chrome extension.
OS version Windows 10
![postman_interceptor](https://cloud.githubusercontent.com/assets/28985036/26550354/a75

[2017-05-29 12:52] sdnts commented on #3082
Hi @daniele-pintus, Postman Interceptor is available only on the [Chrome apps](https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop), since cookie handling flows are built into the native apps.

I'd recommend sticking to the native apps though, since Google will end support for Chrome apps soon.

[2017-05-29 12:52] #3082 closed, assigned to sdnts

[2017-05-29 12:52] vishnupathak commented on #3081
no luck, i tried here are the results:

if my syntax is:  var STA_Quantity= postman.getEnvironmentVariable('1Quantity1')

error: "ReferenceError: getEnvironmentVariable is not defined"

if my syntax is: var STA_Quantity= postman.getEnvironmentVariable(1Quantity1)

error: unexpected 1

if my syntax is:  var STA_Quantity= postman.getEnvironmentVariable("1Quantity1")

No error but next step of setEnv

[2017-05-29 13:01] sdnts commented on #3081
The first and last statements are both correct, there isn't a difference between `'` & `"`. I think you might have a space between `postman.` and `getEnvironmentVariable`. (The error also suggests something similar).

I'm unable to reproduce the error you described in the third statement.

My test script looks like this:

[code]

[2017-05-29 13:05] sdnts commented on #907
Hi @luiscavero, Multi-level folders are up on our Canary channel:

This is undergoing heavy testing right now to make sure it plays well with everything else. We'd love your feedback as well, so if you find any issues, please create issues on this repo :)

You can download the canary build here:

OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pstmn.io/download/c

[2017-05-29 13:25] idkazin opened #3083 "sending file mulitpart/form-data put method failed."
1. Postman Version:  4.10.7
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Microsoft 64 bits
 4. Is the Interceptor on and enabled in the app: on
 5. Did you encounter this recently, or has this bug always been there: only recently. worked in past
 6. Expected behaviour: should send file properly
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insid

[2017-05-29 13:44] sdnts commented on #3083
Hi @idkazin I'm unable to reproduce this with the Chrome app + Interceptor with `postman-echo.com/put`.
From those Wireshark screenshots, it looks like you're sending the file with and without the Interceptor, right? Can you try removing the file and adding it back again after you enable the Interceptor?

[2017-05-29 23:40] cherepanov commented on #350
+1

[2017-05-30 05:27] vishnupathak commented on #3081
Hey Sid, No I haven't left any space, probably what you mentioned in your first comment is the reason, i.e. my variable name starts with an integer instead of alphabet "1Quantity1", will try to correct the naming convention and retry.

[2017-05-30 06:10] boekhold opened #3084 "Postman native app doesn't work with System Proxy"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Native
 3. OS details: Windows 10

My organization uses Forcepoint TRITON AP-ENDPOINT Web Diagnostics (formerly Websense), which forces a System Proxy to be set (even though btw I can access outside websites without going through a proxy server....).

With Postman Native App, I'm trying to access a REST API that's hosted in AWS. This fail

[2017-05-30 06:22] sdnts commented on #3084
Hi @boekhol, Postman will use the system proxy. Can you try giving a wildcard entry to blacklist your API in your system's proxy settings?

[2017-05-30 09:04] boekhold commented on #3084
Hi,

Unfortunately I have no control over proxy settings. They are controlled by some group policy or this silly Websense/Forcepoint thing. Proxy settings look like:

![image](https://cloud.githubusercontent.com/assets/3764084/26575331/d28d64fa-4535-11e7-9847-a397a8aa80a4.png)

Actual Proxy PAC URL obfuscated, but it's something belonging to Websense/Forcepoint.

If I try one of the REST endpoints

[2017-05-30 09:20] sdnts commented on #3084
Can you check if the PAC script is actually returning a protocol with the proxy URL? We suspect it isn't. When there isn't a protocol, Postman will default to an HTTP proxy, whereas you need an HTTPS proxy, which is why this must be failing.
We're also looking into this in more detail

[2017-05-30 09:25] sdnts commented on #3081
@vishnupathak Were you able to get this to work?

[2017-05-30 10:31] #3081 closed, assigned to sdnts

[2017-05-30 10:57] boekhold commented on #3084
Doesn't look like the PAC script returns a protocol:

![image](https://cloud.githubusercontent.com/assets/3764084/26580229/478710e6-4548-11e7-882d-b6149cd40e78.png)

I obfuscated the actual IP addresses, but there's no http:// or https:// or ftp:// in front of them.

[2017-05-30 11:12] sdnts commented on #3084
Would it be possible for you to try and change this to return the protocol and see if things work correctly? We'll look into how this can be made clearer in the app.

[2017-05-30 11:15] boekhold commented on #3084
Unfortunately I do not have the access to change the PAC script, or even change the System Proxy to load a local copy :(

[2017-05-30 11:22] seslav commented on #804
+1

[2017-05-30 11:59] cypressious opened #3085 "Loading indicator icon is not symmetrical"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: not sure
 6. Expected behaviour: The sun should be proply centered
 8. Screenshots (if applicable)

![grafik](https://cloud.githubusercontent.com/assets/1191816/26582006/84566

[2017-05-30 12:15] sdnts commented on #3085
@cypressious Whoa nice eye there! We'll get this fixed!

[2017-05-30 12:49] mykoan opened #3086 "Postman Native App Issue - Headers > 1 - Working in Chrome Plug In / Does not work in Windows Native App"
1. Postman Version:  v4.10.7 (Chrome) and v4.10.7(Windows)
 2. App (Chrome app or Mac app): Chrome (Working) + Windows (Not Working)
 3. OS details:  Windows 10 Pro Version 1607 (Current Build)
 4. Is the Interceptor on and enabled in the app:  Unknown using defaults, have not used interceptor before.
 5. Did you encounter this recently, or has this bug always been there:  Unknown, new to Postman

[2017-05-30 16:04] cbarrerah commented on #3042
And any hopes for environment variables to be used in the Authorization->AWS Signature tab fields?
That would simplify the proccess of authorizing a lot. Instead of copying and pasting from the environment variables to the fields, we could simply put the environment variables in the fields, and press "Update Request" with string substitution done before the update of the auth headers.

Just an ide

[2017-05-31 03:21] StoicNZ commented on #430
This was previously available when it was a Chrome app (#81) and you could toggle Dev Console and view the network traffic. That is no longer possible in the Chrome app.

In the Native app (tested in Win10x64), the DevTools Console isn't available in the main application window where the network call occurs. It is available in the Postman Console (View > Show Postman Console), but the network call

[2017-05-31 05:25] CoolVoltage commented on #1429
+1

[2017-05-31 07:42] numaanashraf commented on #3086
@mykoan Could you send us a screenshot or sample request that'll help us understand and replicate this issue?

[2017-05-31 11:24] numaanashraf commented on #3026
@iugo This is fixed in latest version 4.11.0.

[2017-05-31 11:24] #3026 closed, assigned to numaanashraf

[2017-05-31 11:25] numaanashraf commented on #2950
@qmcree @wilsonandcompany @poisa This is fixed in v.4.11.0.

[2017-05-31 11:26] numaanashraf commented on #2756
@stevemcmillen @tmack8001 @scottadamsmith This is fixed in v4.11.0

[2017-05-31 11:26] #2756 closed, assigned to kamalaknn

[2017-05-31 11:26] beingmohit commented on #1885
+1

[2017-05-31 11:27] beingmohit commented on #1235
+1

[2017-05-31 11:27] numaanashraf commented on #2582
@pastudan v4.11.0 is out now and it includes the fix for this.

[2017-05-31 11:27] #2582 closed, assigned to a85, sdnts

[2017-05-31 11:28] numaanashraf commented on #2895
@AnaGomes @IllyaMoskvin @thai-verys @anton-arsentyev This is fixed in v4.11.0

[2017-05-31 11:28] #2895 closed, assigned to prashantagarwal

[2017-05-31 11:50] matthiasjost commented on #2707
Also for Swiss-German keyboard: AltGr+2 = @. I have the same issue. That's an annoying problem.

[2017-05-31 12:00] mpbalmeida commented on #1538
Having the same problem here.

[2017-05-31 12:06] numaanashraf commented on #1538
@mpbalmeida Are you facing the same issue that OP posted? About Chrome apps not launching on Windows 10?

[2017-05-31 13:00] mpbalmeida commented on #1538
@numaanashraf The app appears open in taskbar, but i can't open its windows. i've reinstalled and it continues with the same issue. Yesterday it was ok.

[2017-05-31 13:31] alexplumb commented on #2905
+1

[2017-05-31 14:17] wilsonandcompany commented on #2950
@numaanashraf Thanks

[2017-05-31 14:46] gaode103 commented on #2739
This is very, very annoy to me. Looks like we (user and dev) have totally different understanding of what is a 'new tab'.  To me a new tab is a tab that needs to be created and not that already listed in the window. ESPECIALLY not a tab that already dirty, either from an empty tab that you put some stuff in, or an opened tab that you modified something.

Behavior I would expect would be:
Scenario

[2017-05-31 15:07] bwaterm2 commented on #2260
Are older versions available for download through your site yet? I am unable to find anything but the current version.

[2017-05-31 15:20] godfrzero commented on #2260
@bwaterm2 You can check the changelog page: https://www.getpostman.com/apps#changelog-mac-app

Older versions are available for the Mac, Linux & Windows apps.

[2017-05-31 15:31] rothschild86 commented on #1137
+1

[2017-05-31 15:35] bwaterm2 commented on #2260
@godfrzero Not sure how I missed that the first time I looked. Thanks so much!

[2017-05-31 15:40] mjkraner opened #3087 "Response Body not loading"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): NA - desktop version
 3. OS details: Win 8
 4. Is the Interceptor on and enabled in the app: postman console is up
 5. Did you encounter this recently, or has this bug always been there: recently with new upgrade
 6. Expected behaviour: I could see the response body
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-d

[2017-05-31 15:55] kamalaknn commented on #3087
@mjkraner Thanks for reporting the issue.

We are seeing this too. We will roll out a fix for this soon.

I will keep this thread updated.

[2017-05-31 15:56] #2260 closed, assigned to nobody

[2017-05-31 16:35] anudhingra commented on #2995
How will lodash help in my case?

[2017-05-31 18:10] loraxipam opened #3088 "Full resizable Request or a Resizable Response window"
When creating a POST body I have no need at all to see the Response window. In fact, the resizable Request window only allows me to fill my whole screen with a completely empty Response window. But I can't make a full screen Request window. :-(

-- Expected behaviour
Request body window could go beyond half screen OR the Response body window could be "minimized".

-- Current behaviour
Request wind

[2017-05-31 18:35] a85 commented on #3088
You can try going to View > Toggle two-pane view to get a full column request/response window.

[2017-05-31 18:55] loraxipam commented on #2888
+1 for this request. I have wanted to do this many times and my first few attempts only got me to replacing my globals with what I thought I was setting.

[2017-05-31 18:59] pastudan commented on #2582
@numaanashraf can confirm this is fixed, thanks!

[2017-05-31 19:07] loraxipam commented on #2032
And as a corollary, it would be helpful to simply "move" globals into instance environment variables, as @bricker above suggests. Right click it and "Transform to environment var".

[2017-05-31 19:09] loraxipam commented on #2876
Is this different than #2723 ?

[2017-05-31 19:11] poisa commented on #2876
@loraxipam Yes, this is different though they don't contradict each other.

[2017-05-31 19:12] loraxipam commented on #2723
See #1285

[2017-05-31 19:26] loraxipam commented on #3088
Yes, that helps a lot but I still have a quarter of my screen black where my request is being edited.

[2017-05-31 19:42] loraxipam commented on #824
Agreed. Just obfuscation the UI so when I gives demos and showing how to use vars, they don't seeing my password.

[2017-05-31 20:11] a85 commented on #3088
Marked this as a feature. We are working on making the Postman app modular and eventually each component will be resizable, minimizable etc.

[2017-05-31 20:46] romanbarabash commented on #2124
works for me, btw:
[code]
where  `.statusCode` is "statusCode": 400 in json response.

[2017-05-31 20:57] brad-pds opened #3089 "Sort requests in folder"
I would like to have a button to sort the requests in a collection folder. The current sort button only supports sorting the collections, not their subfolders.

[2017-05-31 21:38] JDFagan commented on #1499
Seems like one cannot move a top level folder into another top level folder (to make it a subfolder) or even to a subfolder of top level folder (a subfolder of a subfolder).  Would be useful to treat top level folders the same as subfolders from perspective of being able to re-organize..

[2017-05-31 22:24] carl-parrish commented on #697
+1 I'm not sure if this is a different feature request or not but I'd *love* to be able to call a request from inside a loop.

[code]
My current work around feels very clunky.

[2017-05-31 22:28] carl-parrish commented on #2247
+1

[2017-05-31 22:31] carl-parrish commented on #1159
+1

[2017-05-31 23:39] Ravendarksky opened #3090 "Memory leak in latest version?"
When I use the latest update of postman for more than about 40 mintues it starts to EAT my memory until it becomes unresponsive and I ahve to close it. I can then reopen it and contine on. This has happened to me three times tonight... I'm simply hitting single endpoints GET, PUT, POST and DELETE. None of them are returning much data. I do have some tests assigning a few enviroment variables but n

[2017-05-31 23:40] Ravendarksky commented on #3090
May be a duplicate of: https://github.com/postmanlabs/postman-app-support/issues/2949 Sorry

[2017-06-01 00:37] nhalstead opened #3091 "Create a Converter Mechanism"
1. Add a feature to Convert/Export a JSON Array, Something easy to work with when taking something from a program, etc.
2. Add the ability to Export to CURL to run in Linux, etc.
3. Add a feature to Accept CURL patterns to take in and process to make a new Request Type.

[2017-06-01 00:39] nhalstead commented on #3091
This is in relation to Windows PostMon 4.11.0.

[2017-06-01 00:40] nhalstead commented on #3091
This is in relation to Windows Postman 4.11.0.

[2017-06-01 02:49] omeid commented on #139
That still doesn't work with firefox. I use FF as my main browser and it would be not running another browser for Postman (whatever firing up Chrome or Electron).

[2017-06-01 03:59] StoicNZ opened #3092 "Auto-Complete Usability / Changing Variable"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Native Windows (<-- might want to update that example template on GitHub)
 3. OS details: Windows x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Noticed recently
 6. Expected behaviour: Let me delete parts of a variable name without deleting the whole thing.

[2017-06-01 04:04] jamesgecko commented on #139
@omeid Chrome apps are deprecated, and Firefox will be moving to a Chrome-like plugin model by the end of the year. The Electron app is the only viable way forward, afaik.

[2017-06-01 04:34] chimit opened #3093 "Selecting body parameter, copying and pasting doesn't work properly"
1. Postman Version: 4.11.0 (4.11.0)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra 10.12.5 (16F73)
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: don't know
 6. Expected behavior: parameter should by copied
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insi

[2017-06-01 05:12] prashantagarwal commented on #3092
@StoicNZ Thanks for reporting this. We have released a new version 4.11.0 with the fix for this. Please verify if this is fixed for you un that version.

[2017-06-01 05:53] SamvelRaja commented on #3093
Thanks for bringing this to our notice, we will let you know the progress in the same thread.

[2017-06-01 05:54] SamvelRaja commented on #3089
Thanks for raising your request to us. We shall let you know the progress in the same thread.

[2017-06-01 05:56] SamvelRaja commented on #3090
We are start tracking them in #2949

[2017-06-01 05:56] #3090 closed, assigned to nobody

[2017-06-01 05:58] SamvelRaja commented on #2949
We are constantly working on optimizing our memory consumption in our native app. Thanks for taking  your time and providing the info on this. We shall update this thread on the progress as well.

[2017-06-01 06:05] SamvelRaja commented on #3091
**1. Add a feature to Convert/Export a JSON Array, Something easy to work with when taking something from a program, etc.**
Can you explain me bit more on how you want to export the data? currently you can currently create a collections out of the requests and export them as postman_collection format.
https://www.getpostman.com/docs/collections

**2. Add the ability to Export to CURL to run in Lin

[2017-06-01 06:06] StoicNZ commented on #3092
@prashantagarwal I'm on the canary02 version of 4.11.0 and it's fixed..

How did you do that? *shifty eyes*

Fixed.. You damn wizard.

[2017-06-01 06:09] prashantagarwal commented on #3092
😄

[2017-06-01 06:09] #3092 closed, assigned to prashantagarwal

[2017-06-01 07:13] StoicNZ opened #3094 "Default Variable Value"
I'm using Postman collections as part of my CI deployment process because I love Postman and I will force it on everyone I know until they love it, too.

Now, hiring a good technical tester is hard and we tend to get landed with a lot of people who don't understand a lot of new tech, or it takes them a little bit to get used to.

I'd like to add default variable values in the notation if none is a

[2017-06-01 07:47] StoicNZ opened #3095 "Javascript > XHR: Code Generation Not Passing in Body with Variables"
1. Postman Version: 4.11.0-canary02
 2. App (Chrome app or Mac app): Windows Native
 3. OS details: Win x64

The body isn't being generated, coming through as null. The URL is correctly capturing the current environment variables, but the body doesn't.

My request is a raw/Text type request.

![image](https://cloud.githubusercontent.com/assets/5607534/26669612/e02e6984-46f1-11e7-83b4-043eebef64f8.

[2017-06-01 07:54] numaanashraf commented on #3094
Thanks for the suggestion @StoicNZ. We are working on improvements to variables at the moment and we'll keep this use case in mind.

/cc @bhawna2109

[2017-06-01 08:03] StoicNZ opened #3096 "Remove Snippet for "Reason phrase has string""
1. Postman Version: 4.11.0-canary02
 2. App (Chrome app or Mac app): Windows Native
 3. OS details: Win x64

The "created" string should be capitalised since most websites return it that way, but I'd consider removing this snippet altogether to do away with people implementing reason-phrase when HTTP/2 has done away with it altogether. (And I'll pretend SPDY doesn't exist since they want to allow

[2017-06-01 08:04] numaanashraf commented on #3095
Thanks for reporting @StoicNZ. We are looking into this.

[2017-06-01 08:15] prashantagarwal commented on #3096
@StoicNZ thanks for the feedback. The new snippets are still under rigorous testing and that's why we have not released them to the production app yet. We will keep a note of this.

[2017-06-01 08:34] Voldacar21 commented on #2532
Hi @davecanderson,
Some news about this improvement?
If not, is there another possibility to link iteration data with results?

[2017-06-01 11:40] KOTR2003 opened #3097 "Feature Request - Scrollbar in Run Summary"
Postman Version: 4.10.7
App (Chrome app or Mac app): Windows
OS details: Windows 7 PRO SP1 64-bit

When using the runner directly in Postman (we have users here that need the GUI, as the Newman commands are too much for them), the 'Run Summary' does not seem to have a scrollbar. The only way to move left/right is the middle mouse button. It would be beneficial to have a scroll bar there as well I

[2017-06-01 11:42] prashantagarwal commented on #3097
@KOTR2003 Thanks for reporting this. We have released a new version of Postman app 4.11.0 with the fix. Can you please update the app and verify.

[2017-06-01 12:00] KOTR2003 commented on #3097
![image](https://cloud.githubusercontent.com/assets/13341993/26678810/478b3a8c-46a0-11e7-9cdf-15be1b6dfe7f.png)

I have updated to 4.11.0 and still do not see a scroll bar in the run summary.

[2017-06-01 12:22] prashantagarwal commented on #3097
@KOTR2003 Oh, We recently added a vertical scroll, I misread your issue. We will fix this in our upcoming releases.
Thanks again for bringing this up.

[2017-06-01 13:10] canhnht commented on #3029
Hi @kamalaknn , what do you think about this issue?

[2017-06-01 13:15] dschwinn commented on #2979
I'm having the same issue.  I think it started after I installed Guest Additions.

Confirmed: removing Virtual Box Guest Additions resolved the issue

[2017-06-01 14:06] amahlaka opened #3098 "Postman app doesn't handle login with google account if 2 factor authentication is enabled"
1. Postman Version: 4.11
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10 Pro
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Unknown
 6. Expected behaviour: Log in with google account
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2017-06-01 14:14] numaanashraf commented on #3098
@amahlaka Thanks for reporting. We are looking into this.

[2017-06-01 14:24] kamalaknn commented on #3029
Hi @canhnht

From the screenshots it looks like the `Authorization` signature in the header was generated incorrectly, but we may need more context to find the issue.

I am tagging @czardoz here, who can help you out better.

[2017-06-01 15:03] czardoz commented on #3029
@canhnht can you ensure that there's no saved authorization header present in the request? Also, this can happen when there's a time lag between your system time and the AWS servers.

[2017-06-01 15:21] matthiasjost commented on #2707
@numaanashraf Could you fix this for the next version? It is still there in: 4.11.0. I think this is a bug that could be fixed.

[2017-06-01 15:26] carl-parrish commented on #971
Has anyone figured out how to get this to work with the Stand Alone? I could *really* use this.

[2017-06-01 15:44] bquack opened #3099 "Export v2 collection results in empty collection json file"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Once updating to 4.11.0 from 4.7.10
 6. Expected behaviour: Export a v2 collection
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside

[2017-06-01 15:56] numaanashraf commented on #3099
@bquack Thanks for reporting. We are looking into this issue and will keep you posted.

[2017-06-01 16:16] numaanashraf commented on #3099
@bquack Would it be possible to send a sample collection to help@getpostman.com? It'll help us a lot in debugging this.

[2017-06-01 16:17] jacob-israel-turner commented on #733
@madebysid When will this fix land in stable?

[2017-06-01 16:49] jb08 opened #3100 "Mac App throws uncaught exception if opened while updating"
Received this message after opening App for first time; after I closed, and then re-opened, it worked fine.

![screen shot 2017-06-01 at 11 19 20 am](https://cloud.githubusercontent.com/assets/8146460/26690755/1fe3ea18-46c0-11e7-8867-77f830a074e7.png)

 1. Postman Version: 4.11.0 (4.11.0)
 2. App (Chrome app or Mac app): Mac
 3. OS details: El Capitan

[2017-06-01 16:52] numaanashraf commented on #3100
@jb08 Thanks for reporting. Do you remember doing any extra steps the first time? Maybe opening the app from Downloads and then moving it to Applications?

[2017-06-01 16:59] jb08 commented on #3100
I was upgrading from previous version. I was expecting it to open on its own, it was being slow so I clicked on postman app to open it, received that error. forced close, then reopened and it worked fine and said updated successfully.

[2017-06-01 17:08] numaanashraf commented on #3100
@jb08 Ah. Got it. It seems you opened the app while it was in the middle of updating itself, which might sometimes take a bit longer depending on CPU and hard disk load. We'll look into how we can detect this and show a helpful message.

[2017-06-01 18:18] mp3killa opened #3101 "Feature request: Add RSA-SHA1 to the OAuth 1 dropdown"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Windows 10 x64
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Please add RSA-SHA1 to the dropdown for OAuth1.0 or at least allow edits to be made directly to the URL without the changes getting overwritt

[2017-06-01 18:27] prashantagarwal commented on #3101
Thanks for reporting this. We will keep you updated on any progress on thisl

[2017-06-01 20:22] ypolishetty opened #3102 "Support To Download Postman Pro Published HTML Documentation"
Team,

Could you please add support to download Postman Published HTML documentation?

I know that I could publish Postman Documentation including on my Custom Domain and also generate HTML with docman (https://github.com/davidevernizzi/docman) . But we'd still want to request if a future support for download of the actual postman pro published docs is possible.

[2017-06-01 20:25] a85 commented on #3102
Sorry but this is not on our roadmap.

[2017-06-01 20:27] ypolishetty commented on #3102
Fine, Thanks.

[2017-06-01 21:42] uselessscat commented on #917
Is this working in the Chrome app?

i'm having troubles to make the url be a variable through csv parameters on Colection runner.

this is the url:

`{{api}}repositories/{{user}}/{{repo}}/default-reviewers/{{target}}`

"api" is an environment variable that means `https://api.bitbucket.org/2.0`, but user, repo and target are in a csv.
Im doing this because i have to set a default reviewer on all th

[2017-06-01 21:59] uselessscat commented on #917
Ops. I solved it.

I found the way to inspect the url following this [post](http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) and i found that the route was:

`PUT https://api.bitbucket.org/2.0repositories/myteam/%20teamrepo/default-reviewers/%20theuser 404 ()`

So it was my error because i was putting spaces on csv (and i forgot the "/" before `{{api}}`).  Sorry :P

[2017-06-01 22:47] DraakUSA opened #3103 "AWS default credentials"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: ??
 5. Did you encounter this recently, or has this bug always been there: Always been there (from what I can tell)
 6. Expected behaviour: Ability to read credentials file
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-develo

[2017-06-02 00:54] fheidrich commented on #1228
+1

[2017-06-02 01:33] chuoke commented on #2873
Yes！every cool ！This feature is finished with an excellent.
You can close it, @a85 .
Thanks

[2017-06-02 01:53] chuoke commented on #2873
But I wonder why not one more column in doc,
I think it is a little unreasonable that the sample value was covered with the description.

[2017-06-02 03:29] bquack commented on #3099
@numaanashraf I just emailed a collection to you. Also, for anyone else looking at this ticket:

I tried a few things and one thing that seems strange is if I import this collection, then rename any one of the folders, then export it exports fine. I then diffed the export to the original that I imported and the only differences were the folder name change and the info._postman_id.

I get the feeli

[2017-06-02 04:14] miqmago opened #3104 "HttpOnly cookie not being set after deleting it manually (v4.11.0 Native OSX)"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.11.6
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: related https://github.com/postmanlabs/postman-app-support/issues/2258
 6. Expected behaviour: Cookie should be set and visible in Manage Cookies
 7. Console logs (http://blog.getpos

[2017-06-02 04:26] miqmago commented on #3104
Also noted that when I try to set it manually it does only work when domain is specified:

1. Open cookie dialog
2. Add Cookie
3. Paste `connect.sid=s%3A3UGQIJofM6QLOxdQtQRWJtsDi2c8TATE.8nzKdnugh6FJvJN3FuBaH4FvAuLPH5Cib6lL1eLjiTs; Path=/; Expires=Fri, 02 Jun 2017 06:27:20 GMT; HttpOnly`
4. Save. At this point, the name of the cookie will not be changed, remaining to Cookie_4
5. Close cookie dialog

[2017-06-02 04:26] jammage commented on #3077
Hello,

Example of the HTML snipped that we were using is:

<div class="postman-run-button"
data-postman-action="collection/import"
data-postman-var-1="c727e4a01789670a0c49"></div>
<script type="text/javascript">
  (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((

[2017-06-02 04:28] jammage commented on #3077
Hello,

When clicking 'Run in Postman' button that is produced via the following
HTML, it unexpectedly includes 'Sandbox' environment, however when I
initially shared the collection, I specifically selected 'No environment.

<div class="postman-run-button"
data-postman-action="collection/import"
data-postman-var-1="c727e4a01789670a0c49"></div>
<script type="text/javascript">
  (function (p,o,s,t,m

[2017-06-02 05:32] prashantagarwal commented on #3104
@miqmago Thanks for reporting this.

[2017-06-02 05:49] codding-buddha commented on #1104
+1

[2017-06-02 05:57] diamondamulet commented on #2022
Maybe solved problem,
I have same issue on Windows x64. Removed from chrome and reinstalled the setup downloaded from https://www.getpostman.com that is working well.

[2017-06-02 06:10] kamalaknn commented on #3104
Hey @miqmago,

We are seeing some issues where cookies with a small `Max-Age` or a shorter `Expires` is not being persisted.

From the data you've provided I could see that your `Expires` is short for the cookie. Also I could see that you are using a local server. Could you increase the `Expires` in the `set-cookie` header on your local server to a day and check if it works?

We will roll out a fi

[2017-06-02 06:27] sdnts commented on #733
@jacob-israel-turner This is already in stable :)

[2017-06-02 07:18] john-ryan-polestarglobal opened #3105 "Postman crashes randomly"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): native
 3. OS details: ubuntu 16.04, 64-bit
 4. Is the Interceptor on and enabled in the app: don't knonw
 5. Did you encounter this recently, or has this bug always been there: used postman for weeks then started suddenly
 6. Expected behaviour: no crash
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-to

[2017-06-02 07:20] miqmago commented on #3104
Seems a problem of timezone:

This works:

[code]

This does not:

[code]

This 1000ms I suppose it's not working because of postman computing time.

[2017-06-02 07:30] kamalaknn commented on #3105
Hey @john-ryan-polestarglobal,

Can you give us some more information as to when you see the crashes? Do you see them every time you do a particular action or does it happen when the App is idle for a long time?

Also could you open the dev tools (`view -> Show DevTools`) and see if there are any error logs when the crash happens.

I understand that this might be a bit annoying to work with. If yo

[2017-06-02 07:35] kamalaknn commented on #3103
Hey @DraakUSA

Thank you for your feedback.

We are working on adding a bunch of improvements to authentication flows from Postman. We'll see how we can fit this in our long term roadmap.

Marking this as a feature request for now.

Thanks

[2017-06-02 07:54] john-ryan-polestarglobal commented on #3105
Hi Kamalakannan,
It seems to happen when I click on the app but it might be when clicking on
a different request in my collection (left of screen) or when clicking
send, or another point in the main window (right of screen). The app just
closes instantly.

I've tried emptying the history folder and restarting my machine but no
good.

I've just tried deleting the collection and my environments and

[2017-06-02 08:00] kamalaknn commented on #3104
@miqmago Ah!

This is because the timezone of the cookie was being converted to your timezone. That is why you were not seeing the cookie stored, because it would have already expired.

We have fixed this internally and will roll it out to production soon.

I will update this thread once the fix is out in production.

[2017-06-02 08:13] kamalaknn commented on #3105
Hey,

that there were so many until I came to delete them.

That could be.

That might be because you are using the Chrome App for Postman. We've seen that happen on Chrome Apps for some time. You can find more details on how to identify if you are on Chrome App or Native App [here](http://blog.getpostman.com/2017/03/14/going-native/).

If you are on the Chrome App - http://blog.getpostman.com/201

[2017-06-02 08:54] Faz540 opened #3106 "[Feature Request] - Allow Users to "lock" certain Environment Variables"
**Feature Request:**
I'd like to see the functionality to allow users to "lock" environment variables. That way we can call the postman.clearEnvironmentVariables() function to clears all environment variables with the exception of the "locked" ones.

Here's how I'm currently doing that same thing in Postman now:
![image](https://cloud.githubusercontent.com/assets/9334128/26718591/6c9a17b0-4779-11e

[2017-06-02 09:05] kamalaknn commented on #3106
Hey @Faz540,

Thanks for your feedback. I am adding this to feature requests.

@shamasis your thoughts on this?

[2017-06-02 09:24] butlnor commented on #3015
You marked this as a "support", although I think this is a "missing crucial functionality".
If this is really a support, can you please tell me, where to find a "save as file" button for binary content, which is now rather displayed inline as a "corrupted text"?

[2017-06-02 09:27] numaanashraf commented on #3015
Hi @butlnor Have you tried `Send and Download`?

<img width="294" alt="screen shot 2017-06-02 at 2 56 27 pm" src="https://cloud.githubusercontent.com/assets/3295568/26719883/d4d482e6-47a3-11e7-9959-eef99b7c8dfb.png">

[2017-06-02 09:31] numaanashraf commented on #3099
@bquack Thanks for sending the collection file. We identified the root cause and have fixed this in an internal build. We'll roll this out in the upcoming release.

[2017-06-02 09:39] nottyo commented on #697
+1

[2017-06-02 10:01] john-ryan-polestarglobal commented on #3105
Thanks,
Yes it seems that I am on the chrome version although I thought I had
downloaded the linux native one. I've opened the dev tools but cannot find
any logs. Where are they?
Regards, John

On 2 June 2017 at 09:13, Kamalakannan <notifications@github.com> wrote:

--

*John Ryan*
Software Engineer

[image:
http://web-assets-production.s3.amazonaws.com/images%2Fimage001+%281%29.jpg]

2nd Floor, T

[2017-06-02 10:04] butlnor commented on #3015
Wow, I wasn't aware of that. Thanks.

Still, it might be good to have the similar behavior for "ZIP" as you already have for PDF, which automatically opens the "save as dialog".

[2017-06-02 10:10] kamalaknn commented on #3105
Hey @john-ryan-polestarglobal,

Hmmm looks like there were no errors in the console.

This could be a high CPU or memory usage that caused the Chrome to kill its apps. Could you check your system usage with the app opened for sometime?

Also you can switch to using the native app. All your collections and history will be synced if you are signed in.

[2017-06-02 11:15] canhnht commented on #3029
I just tried again IAM authorization without Session Token and it worked fine. Maybe my system time was lag behind the AWS servers.
I think this issue can be closed. Thanks a lot for your support.

[2017-06-02 11:15] #3029 closed, assigned to kamalaknn

[2017-06-02 11:19] john-ryan-polestarglobal commented on #3105
Thanks,
I'll try switching to the native app.
Regards, John

On 2 June 2017 at 11:10, Kamalakannan <notifications@github.com> wrote:

--

*John Ryan*
Software Engineer

[image:
http://web-assets-production.s3.amazonaws.com/images%2Fimage001+%281%29.jpg]

2nd Floor, The Yellow Building, 1 Nicholas Road, London W11 4AN, United
Kingdom | Map
<https://www.google.co.uk/maps/place/1+Nicholas+Rd,+London+

[2017-06-02 11:38] Voldacar21 commented on #2688
Hi @madebysid, I have exactly the same issue. Some news about this?

[2017-06-02 12:18] asmp3 opened #3107 "The postman icon doesn't show on the windows taskbar. (Windows 10)"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: After the update.
 6. Expected behaviour: Postman icon should show on the windows taskbar.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-i

[2017-06-02 12:26] kamalaknn commented on #3107
@asmp3 Thanks for reporting this. We will look into this and update the thread.

[2017-06-02 12:40] Faz540 opened #3108 "[Feature Request] - Functionality to generate a Postman Pro URL through the Postman Client"
Postman Pro works great, however I think obtaining the URIs from the Collection/Environment Endpoints can be improved.

If there are other ways to obtain the desired URI please let me know in case I'm missing something.

It would be cool if there was a 'Postman Pro' button.

- Clicking this opens a popup/menu etc. .
- The User manually enters their active Postman Pro API Key,
- Select a Test Colle

[2017-06-02 13:14] saksmt commented on #697
+1

The most easy way is to override ES6 `fetch` to accept non-CORS requests, i.e.:

[code]

[2017-06-02 13:16] bquack commented on #3099
@numaanashraf  Thank you so much for tackling this so quickly. May I ask what was the cause? Also, do you have a date for the next release?

[2017-06-02 13:28] numaanashraf commented on #3108
Thanks for the suggestion @Faz540. We'll keep this use-case in mind while we improve Postman Pro.

[2017-06-02 14:26] sosensible commented on #3106
It would also be awesome if we could "FILTER" the ones that were being cleared. So say all of the variables that started with "_user_" would be cleared on request. That would allow even more flexibility for agile coding. :)

[2017-06-02 16:12] mpurwar opened #3109 "[Feature Request] Ability to close all tabs inside of postman app simultaneously or similar functionality like Chrome browser to close tabs"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour: Ability to close multiple tabs simultaneously.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for th

[2017-06-02 16:35] sburtonctr commented on #2973
Did somebody find a solution for this?  The reason I wish to downgrade to the previous version is because clearing variables doesn't work anymore in 4.1.1.0.  This worked until this morning after an upgrade.

**Making this call in the Tests tab:**

    clearPrefixFromEnv("ws_");

**JavaScript Code:**

[code]

[2017-06-02 16:50] numaanashraf commented on #2973
@sburtonctr Thanks for reporting this. We are looking into it. In the meantime, you can downgrade to a previous version by downloading the app from `https://www.getpostman.com/apps#changelog`. Before you do this, please turn-off auto-update via Settings > Update > Automatically download updates = None.

[2017-06-02 17:03] sburtonctr commented on #2973
Thank you, that worked downgrading back to 4.10.7.  If you need anymore information from me about this issue, just let me know, willing to help.

[2017-06-02 17:08] numaanashraf commented on #2973
@sburtonctr You can also get around this problem by explicitly binding the function you pass as `clearScope`.

[code]

/cc @shamasis

[2017-06-02 17:57] sburtonctr opened #3110 "Login Sync : Missing Raw Body"
Version/App Information:

 1. Postman Version:  4.10.7
 2. App Windows
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: None
 5. Don't know how long this has been an issue
 6. Expected behaviour:  Data should re-sync

**ISSUE:**
1.  Logout Postman Pro Account  (All data will be wiped from the windows postman app)
2.  Login Postman Pro Account (All data is restored).
3.

[2017-06-02 18:25] codetotest opened #3111 "Duplicate parameters added to URL using Collection Runner"
1. Postman Version:  4.11.0 (4.11.0)
 2. App (Chrome app or Mac app): Mac App
 3. OS details: Osx
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Yes (may be bug introduced)
 6. Expected behaviour:  should not add anything extra otherthan what is configured
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-

[2017-06-02 18:26] codetotest commented on #3111
It works fine when request send from editor...itself

[2017-06-02 19:03] mseitner commented on #1906
+1

[2017-06-02 19:06] numaanashraf commented on #3111
@codetotest Thanks for reporting. We are looking into this.

[2017-06-02 19:07] numaanashraf commented on #3109
Thanks for the suggestion @muditpurwar. We'll look into this as we work on improving the tabs functionality.

[2017-06-02 19:08] numaanashraf commented on #3110
Thanks for the report @sburtonctr. We are looking into this.

[2017-06-02 20:29] bahar-p opened #3112 "Problem with setting environment variable using the runner in native app v4.11.0"
1. Postman Version: v4.11.0
 2. App (Chrome app or Mac app): Native App
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app: disable
 5. Did you encounter this recently, or has this bug always been there: Just recent when I updated to v4.11.0 on the native app. Didn't have problem with it before
 6. Expected behaviour: When "postman.setEnvironmentVariable" is executed in the

[2017-06-03 00:18] a85 commented on #3058
@kamalaknn Yep. We need to make some changes in the Postman app before we can support this.
@edjanx We are working towards solving this soon. Will add to this issue once we have some updates.

[2017-06-03 10:24] jeremytm commented on #1498
Are there any plans to add this? Seems it's been open for quite some time.

Could you not either support JSON API official spec, or allow us to add custom content types along with a format for linting?

[2017-06-04 07:43] fvilers commented on #2707
Also with belgian french keyboard.

[2017-06-04 17:38] qmcree commented on #2950
Thanks @numaanashraf and @kamalaknn!

[2017-06-05 04:51] antonpious commented on #2177
Even with the app this problem exists. A person is not able to open two postman each with different accounts. If we login to one, it take the same login on the other and vice versa. At least it should keep the user in context.

The other feature related to this is, why can't you have a read only account which can't create any collection by itself but can subscribe to other's collections.

[2017-06-05 05:12] serkand commented on #3087
+1

[2017-06-05 06:27] sdnts commented on #3112
Hi @bahar-p When you say the environment file is not updated, do you mean the environment value in the main app isn't updated? If so, did you have the `Persist Variables` checkbox ticked when starting the run?

[2017-06-05 06:28] sdnts commented on #3111
Hi @codetotest Is this happening from the authorization helpers? Can you provide me a way to reproduce this?

[2017-06-05 06:41] maicss opened #3113 "Will you add a feature to 'copy curl command'?"
When right click on a request, shows a option `copy curl command`.

Thanks.

[2017-06-05 08:06] numaanashraf commented on #3113
@maicss Thanks for the suggestion. 😃

[2017-06-05 08:58] StoicNZ opened #3114 "4.11.0-canary02: Collection Runner Not Detecting Tests"
1. Postman Version: 4.11.0-canary02
 2. App (Chrome app or Mac app): Native Windows
 3. OS details: Windows x64
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Produce runner results
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-06-05 09:05] maicss commented on #3113
Thank you very much!!!!

[2017-06-05 10:05] everuler opened #3115 "Data of last row, last column loaded from CSV ending with CRLF in runner is appended with "\n""
Version/App Information:
 1. Postman Version: 4.11
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10 (x64)
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Always
 6. Expected behaviour: No trailing newline.

Steps to reproduce the problem:
1. Launch runner.
2. Load data .csv file ending with CRLF.
3. Pre

[2017-06-05 10:12] numaanashraf commented on #3115
@everuler Thanks for reporting. We are looking into this.

[2017-06-05 10:17] numaanashraf commented on #3115
@everuler We were to replicate this. We'll roll out the fix in an upcoming release as soon as its ready.

[2017-06-05 10:28] meywd opened #3116 "Saved Responses -> Examples"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Windows
 3. OS details: Windows 10 64bit
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: latest version only
 6. Expected behaviour: The send button is shown to send to requests
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-

[2017-06-05 11:00] numaanashraf commented on #3116
Thanks for getting in touch @meywd. We made some changes to the saved responses feature as we transition to our new examples feature. @bhawna2109 can share more details on this.

[2017-06-05 12:28] sdnts commented on #3114
Hi @StoicNZ I was able to reproduce this. Let me check what's causing this. 🤔
 In the mean time, you can use the normal `tests` objet to write tests. That should work as expected.

[2017-06-05 13:03] bahar-p commented on #3112
@madebysid Good point! It was unchecked mistakenly. I normally have it checked by default and missed the fact that it had gotten unchecked...Thanks for pointing that out. I will close the issue :)

[2017-06-05 13:03] #3112 closed, assigned to sdnts

[2017-06-05 14:55] #3102 closed, assigned to ankitjaggi

[2017-06-05 15:03] bhawna2109 commented on #3116
Hi @meywd

The examples feature was built to account for the fact that each saved response has a request associated with it, which _can_ be different from your saved request. Thus, while you're viewing your example (which is a request&response pair), the request part of it is different from your saved request, which is why there is no send button. You'll have to explicitly go back to the request i

[2017-06-05 15:32] Gloix commented on #3006
Thank you for looking into this. I just used Postman to test my api against a list of ~2900 inputs and ~70 of them failed. If I get an export of the results, there is no info about the inputs that failed, which is what I need to come up with a solution. It is weird, however, that the UI does have that information, but it does not get exported when I need it ☹

[2017-06-05 16:02] elirenato commented on #884
Same error started to happening for me today. It used to work. I tried a lot of thinks, clear cache, re-install postman interceptor, none of them worked. I had to move to another rest app client.

Below is the error that I see when enabling the Developer mode:
Error in event handler for runtime.onMessageExternal: ReferenceError: request is not defined
    at sendXhrRequest (chrome-extension://aicm

[2017-06-05 16:08] polylepis commented on #2601
Having the same issue.

Postman for Chrome
Version 4.11.0
win / x86-64
Chrome 57.0.2987.133

[2017-06-05 16:20] codetotest commented on #3111
@madebysid - below the steps to repro:

1. Create new Collection .
2. Create new request - change it to type post and enter URL...
3. Add a header value (in my I needed - not sure if that'll make any difference..)
4. Save the request to the collection.
5. Now export the collection using V2

following object is what I noticed in Json file ,which is causing the issue ..
[code]

Hope this is helpful

[2017-06-05 16:47] abhijitkane commented on #884
@elirenato We've pushed a fix in version 0.2.22 of the Interceptor. You can head to chrome://extensions, enable 'Developer Mode', and hit 'Update extensions now'.

[2017-06-05 17:14] numaanashraf commented on #2601
@polylepis Could you head to `chrome://extensions`, enable 'Developer Mode', hit 'Update extensions now' and try again?

[2017-06-05 21:20] CosmicBara opened #3117 "Feature Request: Add ability to document a raw body request"
I noticed that the latest version of the Postman app for Windows includes support for documenting the request parameters, headers, and the body. However, it seems only the form-data and x-www-form-urlencoded types are supported for documentation. Is it in the pipeline to support documenting of the raw request body? I know JSON does not support comments by default, but if you guys provided some way

[2017-06-05 23:38] #2873 closed, assigned to nobody

[2017-06-05 23:39] a85 commented on #2873
@chuoke You are welcome. We will have more templates for docs soon. For now, the description will be visible next to the value.

[2017-06-06 01:14] a85 commented on #3117
@GunslingerBara You can use the request body markdown to do this. We support tables too so you can document JSON structures. I'd love to hear suggestions on how to document JSON objects. :)

[2017-06-06 08:21] krogold commented on #2574
Hello, I encounter a similar (though simpler) problem.
I get a JSON response from a request and test for a value in that body. The  test returns true when I expect false. I suppose my test syntax (using tv4) is wrong but I can't figure it out how.

Here is my test:
_// get the response body
var body = JSON.parse(responseBody);

// check the item name
var item_name = postman.getEnvironmentVariable(

[2017-06-06 08:34] krogold commented on #2574
Well, finally I think I don't use it properly. Sorry.

[2017-06-06 08:38] SamvelRaja commented on #3077
@jammage  We tried with the code you provided with my collection in it. It is still importing only the environment. Can you provide me the link where you actually shows the button to help[at]getpostman.com?

[2017-06-06 09:10] #2574 closed, assigned to nobody

[2017-06-06 09:33] dexcell opened #3118 "Why on earth it add x-www-form-urlencoded header and do NOT REMOVE IT when click form-data!"
WHY! WHY

Wasting hours try to find out what caused it. I thought my app doesnt work as expected.

 1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-too

[2017-06-06 09:54] danielcarr opened #3119 "Linux app 4.11.1 tarball throws errors when unpacked"
Version/App Information
------
 1. Postman Version: 4.11.1
 2. App (Chrome app or Mac app): Linux app
 3. OS details: OpenSUSE LEAP 42.2 (GNU/Linux Kernel 4.4.62-18.6 x86_64)
 4. Is the Interceptor on and enabled in the app: Not that I know of
 5. Did you encounter this recently, or has this bug always been there: It seems to be new in the latest version, I didn't encounter it when I upgraded to v

[2017-06-06 09:59] sdnts commented on #3119
Hi @danielcarr! Thanks for letting us know. We'll definitely look into this :)

[2017-06-06 10:00] stefanthorpe commented on #907
@madebysid I've found a couple of bugs with the Canary deploys mostly around sync and resync issues. However, the most annoying one being that one of my environments had all its variables removed.

Update: On further testing ```pm.environment.clear("variableName")``` is deleteing everything. This is a prebuilt code snippet that replaces ```postman.clearEnvironmentVariable("token")```.

Although I

[2017-06-06 10:03] danielcarr commented on #3119
Thanks @madebysid, I appreciate the quick response.

[2017-06-06 10:03] ghost opened #3120 "There was an error in evaluating the Pre-request Script: TypeError: btoa is not a function"
1. Postman Version:  4.10.7
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X 16.6.0 / x64
 4. Is the Interceptor on and enabled in the app: n/a
 5. Did you encounter this recently, or has this bug always been there: i got this issue since last update
 6. Expected behaviour: as version before.  it was working.
 8. Screenshots (if applicable)

![image](https://cloud.githubusercontent.co

[2017-06-06 10:04] zersiax opened #3121 "Accessibility: Screen readers have a tough time inferring info from UI"
## Details
 1. Postman Version: Latest as of june 6th, 2017
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10, latest Creators' Update
 4. Is the Interceptor on and enabled in the app: Irrelevant
 5. Did you encounter this recently, or has this bug always been there: Always been there to my knowledge
 6. Expected behaviour: UI components should expose the correct semantic informat

[2017-06-06 10:09] numaanashraf commented on #3121
Thanks for detailed suggestions @zersiax. We are working on improving Postman's accessibility and your feedback helps a lot. 🙂

[2017-06-06 10:11] SamvelRaja commented on #3118
Tracking in #2366

[2017-06-06 10:11] #3118 closed, assigned to nobody

[2017-06-06 10:21] numaanashraf commented on #3120
@gornialberto Could you send us a screenshot of the error?

[2017-06-06 13:19] zersiax commented on #3121
I'd be happy to take an dvisory role on this one if required, just let me know

[2017-06-06 13:22] numaanashraf commented on #3121
Thank you, Florian. We'll share a beta build with you as soon as it is ready. 🙂

[2017-06-06 13:29] GabrielGM commented on #3111
I have the same problem with the recent versions of Postman, when I import and export again (**Collection v2**), it duplicates my parameters.

Running **Windows 10** app.
Postman **v4.11.1**

**First export:**

`
...
"variable": [
{
	"value": "{{catalogId}}",
	"id": "id",
	"description": ""
}
]
...
`

**Import and export again without modification:**
`
"variable": [
								{
									"value": "{{

[2017-06-06 15:58] edsonmedina opened #3122 "JSON schema validation always returns true"
1. Postman Version: browser app
 2. App (Chrome app or Mac app): chrome app
 3. OS details: Ubuntu 16.04

Steps to reproduce the problem:

Use the following test:
[code]
Given `jsonData` is declared as empty, the schema validation should fail, but when I execute the test I get a green (success). Same thing happens independently of the content of `jsonData`.

[2017-06-06 16:02] hertzigger opened #3123 "Variables within variables"
1. Postman Version: 4.11.0
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: Feature Request
 6. Expected behaviour: None
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle

[2017-06-06 16:06] bpaczkowski opened #3124 "Postman for Chrome (Linux) crashes at random moments"
1. Postman Version: 4.11.1
 2. App (Chrome app or Mac app): Chrome 58.0.3029.110 (64-bit)
 3. OS details: Linux
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: It's the second time I encountered this.
 6. Expected behaviour: Not to crash the application?
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chr

[2017-06-06 16:08] numaanashraf commented on #3123
Hi @hertzigger, dynamic variable names are supported at the moment. However, we've disabled variable autocomplete in environment add/edit dialogs due to performance issues. We are working on enabling this back again.

[2017-06-06 16:15] numaanashraf commented on #3124
@bpaczkowski Thanks for writing in. This is a known issue where Chrome on Linux aggressively closes packaged apps during spikes in resource usage. We are working on reducing the resource usage. In the meantime, we recommend you try out our Linux native app which shouldn't have any unforeseen crashes. You can get it at https://www.getpostman.com/apps.

[2017-06-06 16:15] numaanashraf commented on #3122
@edsonmedina Hi, I'm looking into this now.

[2017-06-06 16:23] numaanashraf commented on #3122
@edsonmedina That doesn't look like a valid schema. If you wanna validate `jsonData.main` and `jsonData.zzz`, the below schema should work.

[code]

[2017-06-06 16:29] edsonmedina commented on #3122
@numaanashraf I actually wanted to validate `jsonData.data.main`.

So I tried:
[code]

But the result is still the same.

[2017-06-06 16:33] edsonmedina commented on #3122
Actually, I take that back. It did work.

Thank you very much.

[2017-06-06 16:33] #3122 closed, assigned to numaanashraf

[2017-06-06 16:40] bpaczkowski commented on #3124
Thanks! Didn't know there was a native Linux app.

[2017-06-06 17:29] msb333-msb333 opened #3125 "Version 4.11.1 Pre-request Script returns different request.data for GET request"
1. Postman Version: 4.11.1
 2. App (Chrome app or Mac app):  Chrome App
 3. OS details: Windows 7
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:  Recent
 6. Expected behaviour:  Expected no data like 4.10.7
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2017-06-06 18:57] antivir88 opened #3126 "Localization, Priority, Environments"
Please, add:
- localization settings for postman interface.
- Priority's for requests in group/directories.
- Update'r environment parameters value from response body
(marked in settings request)

[2017-06-06 19:23] philreindl commented on #2248
Any progress on this?
I'm not using github, and would love to be able to use newman as part of the build automated testing.  Current workflow is too cumbersome.

Thanks

[2017-06-06 20:55] jmbremmer opened #3127 ""Could not get any response" on all my api calls"
I can sometimes resolve the issue by restarted Postman, but that no longer seems to be working. I know that everything is correct because when I run it in terminal via cURL, it works fine. Also, I do have ssl cert verification turned off
1. Postman Version:
Version 4.11.1 (4.11.1)
 2. App (Chrome app or Mac app):
Mac app
 3. OS details:
Version 10.11 (15A284)
 4. Is the Interceptor on and enabled

[2017-06-06 21:45] malyalal opened #3128 "In postman pro Monitoring is failing"
1. Postman Version: Postman for Chrome
Version 4.11.0
 2. App (Chrome app or Mac app):
Chrome 58.0.3029.110
 3. OS details: OS X / x86-64
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there: Since I started using postman pro, I am trying to test monitoring for a sample collection, which is successfully running in Runner.
 6.

[2017-06-06 21:52] qmcree opened #3129 ""Overwrite request" confirmation dialog incorrectly displays when saving a request with a new header selected from a preset"
1. Postman Version: 4.11.1
 2. App (Chrome app or Mac app): Mac app
 3. OS details:  macOS 10.12.3
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Should not ask for confirmation to overwrite the request.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-to

[2017-06-06 22:58] teledemic commented on #2756
This does not appear to be fixed - when sending a binary body in 4.11.1, no Content-Length header is attached.

[2017-06-06 23:10] renderit opened #3130 "Issue with duplicating a tab"
1. Postman Version: Version 4.11.1 (4.11.1)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OSX Sierra

Great product :) There might be a bug with the newest version of postman(which I am using).
When you try to "duplicate" a tab for example, which lets say contains a GET request, it doesn't truly duplicate but maintains a reference to the original tab. This means when I try to "edit" the

[2017-06-06 23:54] jammage opened #3131 "403 Forbidden error consuming endpoint hosted in cloud front"
1. Postman Version: 4.11.1
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Win7
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: Always on Windows app
 6. Expected behaviour: able to connect successfully
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-06-07 02:57] numaanashraf commented on #3131
@jammage Thanks for reporting. Seems like an SSL issue. Is there a publicly accessible endpoint we can use to debug this?

[2017-06-07 03:04] numaanashraf commented on #3130
@renderit If you open a request from collection in a tab and duplicate this tab, both these tabs are linked. So, if you save the duplicated tab, it will overwrite the original request. The behavior is similar to opening the same file in two tabs in a text editor. If you wanna create a copy of the request, I suggest duplicating the request from the sidebar, instead of the tab.

[2017-06-07 03:07] numaanashraf commented on #3129
@qmcree Thanks for reporting. We are looking into this.

[2017-06-07 03:11] numaanashraf commented on #3128
@malyalal Thanks for reporting. We are looking into this.

[2017-06-07 03:18] numaanashraf commented on #3127
@jmbremmer Could you open `Postman Console` from the `View` menu, resend the request and send us a screenshot?

[2017-06-07 03:25] renderit commented on #3130
@numaanashraf you're right! Although I still feel this should be corrected as its not intuitive from a UX/UI aspect. Also if I use the sidebar to "duplicate" then it works fine. Duplicate should be a copy not a reference I thought. Nonetheless, thanks! :)

[2017-06-07 03:25] #3130 closed, assigned to numaanashraf

[2017-06-07 03:35] numaanashraf commented on #3126
@antivir88 Thanks for the suggestions.

'localization settings for postman interface.' - This is on our long-term roadmap. Could you share your locale info? It'll help with prioritization from our end.

'Priority's for requests in group/directories.' - I'm afraid I don't understand this. Could you elaborate on this?

'Update'r environment parameters value from response body' - this is already supp

[2017-06-07 03:42] numaanashraf commented on #3125
@msb333-msb333 Thanks for reporting. We are looking into this.

[2017-06-07 06:17] ghost commented on #285
+1

[2017-06-07 06:21] rbluethl commented on #1947
+1

[2017-06-07 06:48] snaits commented on #2281
The other helpers have "Save helper data to request" checkboxes, this is missing from the OAuth2 helper. I think that would solve the problem.

[2017-06-07 07:48] antivir88 commented on #3126
It's very good, but i meant to bind a variable

[2017-06-07 07:49] antivir88 commented on #3126
Russia

[2017-06-07 07:53] antivir88 commented on #3126
In "collection" details have button "Run", i want to run queries in a certain sequence

[2017-06-07 08:01] numaanashraf commented on #3126
@antivir88 Thanks. Auto-binding of response value to an environment variable is not planned yet. For the time being, you can write a test script that does the same. Parse and find the value you need from your response and then set it to an environment variable.

[2017-06-07 08:01] numaanashraf commented on #3126
you mean run requests in a collection in a specific order?

[2017-06-07 08:02] antivir88 commented on #3126
Yes!

[2017-06-07 08:58] czardoz commented on #3131
@jammage Seems that your firewall (Websense) has issues talking to your Cloudfront distribution. I am 95% sure that this is _not_ a problem with Postman.

Happy to test it out once if you have a public endpoint we can hit.

[2017-06-07 09:17] dineshbalu opened #3133 "400 Bad Request for Chromium Plugin , But works in Downloaded App"
## App Details:
[code]

## ISSUE:
[code]
## Request Params:
[code]
## Response in Downloaded App
[code]
## Response in Chromium Plugin
[code]

## Issue Report:
 1. Different behaviour between two postman platforms with same request parameres
 2. Expected behaviour: To receive response as in Downloaded App , instead getting error with file name in null
 3. Console logs : See Attachment

[console_lo

[2017-06-07 12:26] kamalaknn commented on #3133
@dineshbalu Hi,

Thanks for reporting the issue. We'll try to reproduce the issue from our side.

I'll update this thread if there are any updates

[2017-06-07 12:36] dineshbalu commented on #3133
@kamalaknn Hi,

I have found the issue actually , It was the issue with content-type.

For the multipart post request , the content-type should have a boundary delimiter defined followed by multipart/form-data

The downloaded app had the delimiter definition , but the chromium plugin didn't.

This fixed my issue with my android app , I'm not sure if it will fix in postman but boundary delimiter is

[2017-06-07 13:28] dimmg opened #3134 "Linux app freezing periodically!"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: this bug always been there
 2. Expected behaviour: should respond to commands instantly
 3. Console logs - unavailable as there is no console

Sometimes the app just is freezing completely and it becomes almost totally unresponsive.
Clearing the history, closing all tabs, reinstalling a

[2017-06-07 13:51] qkdreyer opened #3135 "Importing cURL Command through Raw Text fail to correctly parse HTTP verb"
## App Details:

[code]

## Issue Report:

 1. Did you encounter this recently, or has this bug always been there:

No idea.

 2. Expected behaviour:

While importing a cURL command through raw text, it should handle a -X argument without space, as cURL does.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle De

[2017-06-07 14:09] TehWardy opened #3136 "Self-signed certificates for localhost not working with Postman"
## App Details:
Postman for Chrome
Version 4.11.1
win / x86-64
Chrome 58.0.3029.110

## Issue Report:
I am unable to get access to apps running on https locally with visual studio 2017 and iis express 10.0
I have reproduced the problem on other machines.

The problem is not seen on remote servers only localhost.

From chrome ...
![image](https://user-images.githubusercontent.com/6891030/26882543-9

[2017-06-07 14:30] numaanashraf commented on #3136
@TehWardy Could you head to Settings > General, turn off 'SSL cerificate verification' and try again?

[2017-06-07 14:32] numaanashraf commented on #3135
@qkdreyer Thanks for reporting. We'll look into this.

[2017-06-07 14:44] albpoz commented on #1104
+1

[2017-06-07 15:15] JamesMessinger commented on #3128
Hi @malyalal
It looks like there are a few errors in your monitor.  Here are explanations of each...

[code]

Notice that most of the URL is missing.  I assume this is because you're using a variable to fill-in parts of the URL (e.g. `https://{{my_server}}`) and the variable is either missing or empty.  Please ensure that you've attached an [environment](https://www.getpostman.com/docs/postman/env

[2017-06-07 15:34] numaanashraf commented on #3134
@dimmg Thanks for reporting. This is a known issue and we are working on rolling out the fixes soon.