[2021-05-02 02:00] clairefro commented on #9897
I am no longer experiencing this bug

[2021-05-02 06:51] tbenshalom opened #9901 "OAuth2 authentication cookie not been sent on request"
**Describe the Issue**
After generating an OAuth2 authentication token, the request that use the token failed because an IDP cookie not been sent.
The flow is working correctly on Postman v7.36.5.

**Steps to Reproduce**
It is a little bit tricky to reproduce, since it required multiple pieces:
1. Create an application that support Auth2 (implicit) authentication
2. In Postman, create new "GET" re

[2021-05-02 06:55] zd-dalibor commented on #8728
@twitharshil
I tried to use this canary build and followed your instruction on my corporate machine behind zscalar proxy and it worked.

[2021-05-02 14:01] andreaneri commented on #9628
i solved changing top-level-domain from "local" to "it", is it related ? thanks

[2021-05-02 19:55] AminulBD commented on #9346
Maybe the @postmanlabs don't care about users. I'm moved to https://paw.app/ which is excellent so far I'm using.

[2021-05-03 04:37] camerons2001 commented on #9346
Use Insomnia for m1, postman is disgusting!

[2021-05-03 07:47] nseth commented on #3845
+1 It's so weird to offer this feature incomplete like this.  We would like to build our our tests ahead of time and run while we develop - catching more than one bug/issue at a time.

[2021-05-03 13:42] galmok commented on #9878
I have the same problem. Is there any way to recover these tabs? They are crucial to my work!

[2021-05-03 14:10] timbochamp commented on #9897
Thanks for the heads up! We've found an issue where duplicating a request in a public workspace, sometimes the page needs to be refreshed for the request to load. We'll report back when it's addressed here

[2021-05-03 15:15] keenser opened #9902 "OAuth2 customize http headers for access token request"
**Is your feature request related to a problem? Please describe.**
OAuth2 authorization token request uses _Accept: \*/\*_ http header. In my case IDP uses xml as default response format. As result OAuth2 authorization does not work for me as expected.

**Describe the solution you'd like**
Add option to modify http headers for access token request

**Describe alternatives you've considered**
Curre

[2021-05-03 16:33] snehi23 opened #9903 "I lost all of my postman collections today"
I opened the request with support which has most of the details.

https://support.postman.com/hc/en-us/requests/74421

But in summary, I could not able to find my collections after the new postman upgrade (Version 8.3.0 (8.3.0)).
I keep on getting Connection Error if I want to sync with the cloud server. Please help.
<img width="1428" alt="Screen Shot 2021-05-03 at 9 23 25 AM" src="https://user-im

[2021-05-03 17:52] jcolemn3 commented on #9903
I had the same issue. I went back version 8.2.2 only to be upgraded to the new 8.3 version on restart. I then have to go back and reinstall the older version to get my workspace.

[2021-05-03 18:14] jwineinger commented on #2934
Does it work? I updated to 8.3.0, removed audience from my Auth URL, added an audience using the Advanced Option, and my authorize calls do not have audience at all. Auth Code with PKCE flow if that matters.

[2021-05-03 19:45] jadell commented on #3290
Is there a reason certs need to be added to Postman specifically? Why doesn't Postman use the OS certificate store?

[2021-05-03 19:52] giridharvc7 commented on #3097
This has been fixed - Can you check if this is a problem you are still facing in 8.x?

[2021-05-04 04:14] TheBean commented on #9097
Mac user here and I downloaded the Postman Agent using the browser based Postman suggested interstitial when I really wanted to download the client app from the Postman download site, and ran into same issue where it was running, couldn't kill it using "Force Quit" or remove the program.

So I executed the following steps to kill and remove the file:
1. Open Terminal
2. type 'ps -ax'
3. Find the p

[2021-05-04 06:54] postman-support commented on #9903
Hi @jcolemn3

Sorry to see you are not able to view your collections after update.

If you are still facing the same issue then we would like to investigate further. Could you open a new ticket on our support channel using this link - https://www.postman.com/support/ please? Also, do add this GitHub issue number and your GitHub username in the request description to make it easy for us to track.

[2021-05-04 07:32] vdespa opened #9904 "pm.* API for network information"
**Is your feature request related to a problem? Please describe.**
Since Aug 2020 it is possible to view inside Postman some network details.

https://blog.postman.com/see-network-info-for-postman-api-requests/

This information is also logged.

![image](https://user-images.githubusercontent.com/1197635/116972590-85e26280-acbb-11eb-862e-fbdd8ab5a254.png)

**Describe the solution you'd like**
Netwo

[2021-05-04 08:11] g4z commented on #8269
i never used the history tab before. turns out it was the reason for the terrible performance. the UI froze for 15 mins as it cleared the history, i disabled the save history function and finally Postman is usable for the first time since version 7 was release :/ i wish i had found this earlier :facepalm:

[2021-05-04 09:16] brdilshod commented on #4009
+1

[2021-05-04 09:29] nbeuchat commented on #8902
The `--globoff` did the trick for me. I had the same problem when running:
[code]

OS: `Ubuntu 18.04.5 LTS`, 64-bit.
[code]

[2021-05-04 10:00] vbiginner commented on #6999
Please do not force downloading of minor updates. I do work on limited bandwidth and data.
Earlier was not aware of this and I noticed when all my mobile data wiped out at the start of the day.
Stop auto updating Postman.

[2021-05-04 11:34] ahsas5 opened #9905 "frequent logout from postman app"
**Describe the Issue**
 Everytime I try to use postman or in few mins after login, I automatically get logout & need to login again.

**Steps to Reproduce**
 login
after login. keep idle
again logout automatically

**Screenshots or Videos**

**Environment Information**

 - Platform Type: MAC native app
 - Postman Version:
 - Operating System:MAC OSX

**Additional Context**

[2021-05-04 11:56] mccannt commented on #6832
@m365ken We are sorry you are experiencing this issue. I have just tried this locally on v8.3.0 in macOS and it's working for me as expected.

Are you able to give us more detail or an example?

[2021-05-04 12:15] postman-support commented on #9905
Hey hi,

Thanks for reaching out to Postman Support. Sorry that you are facing issues while using Postman --- Happy to help.

Could you please check our web version if you are seeing the same behaviour - go.postman.co ?
If the Web Version works, I'd first recommend to check if your work is synced, please check the below links

- All Collections: https://go.postman.co/me/collections
- All Environme

[2021-05-04 12:33] skybird23333 commented on #4009
just click the subscribe button to get notifs

[2021-05-04 12:46] GioPan04 commented on #4009
This issue should be locked until any words from postman team

[2021-05-04 13:19] sigwinch28 commented on #4455
Any update on this? I especially struggle to tell the difference between any reds and greens used in the app.

[2021-05-04 14:01] chughmayank commented on #8716
@jizhihaoSAMA There were multiple updates to the bridge over the course of time. Are you still facing this issue?

[2021-05-04 15:22] olegkorol commented on #8231
Any updates on this?

[2021-05-04 15:36] gauravkhuraana commented on #3845
Strange to know this feature is still not there. If i have 100 test, and test nbr 2 fails.. I cannot check what others 98 are doing..

For now this has helped from command line, but this feature should be brought to UI. Its very basic

     newman run projectName.postman_collection.json **--bail false**

[2021-05-04 15:38] gauravkhuraana commented on #3845
@RuniQa anytime  line to get this feature ?

[2021-05-04 17:06] lewiscowleschipuk commented on #9520
Not sure what I've done wrong to anger the software gods but I am getting this 2021-05-04 on latest, completely vanilla install on OSx Big Sur .3

[2021-05-04 19:01] nickmealey commented on #6719
+1 wanting to see this issue happen

[2021-05-04 19:53] gregtuc commented on #7895
Issue is still occurring for me, Postman for Windows version 8.3.0.

[2021-05-04 21:14] digandhi commented on #7355
Happens on the latest  v8.2.3 as well. Restarting the Mac app fixes it.

[2021-05-05 00:06] m365ken commented on #6832
Problem occurs on Win10 v2004 and on Windows Server 2019. The problem is intermittent. For example, after days of not working, it worked this morning for a bit and now is not working. No updates to pc or Postman. Testing with Azure Durable Functions on node.js. Thx

[2021-05-05 01:51] mikeinike commented on #5286
Might help to isolate your link (http://localhost...) with single quotes, helped for me

[2021-05-05 04:22] torevor commented on #5920
Thanks to @martyscholes I at least now have a clue what is going on, and just noticed that yes indeed, I had numerous tabs open in Postman...thanks to the interesting colors and UI desig, I hadn't a clue they were open.  So after cleaning up the tabs, I now realize that I had somehow never saved these back into the collection, even though I had totally shut down Postman and reopened many times and

[2021-05-05 05:16] chrisj-td commented on #8929
I would definitely love to see this feature in Postman. Currently, I don't see a neat way to skip the first request in the runner. At least not with the `postman.setNextRequest()`. The only possible solution I could think of is either delete the first request (this I would want to avoid) or put it as a second request and jump to third from the first request. However, I feel this is more like a wor

[2021-05-05 05:34] orubel commented on #6102
How are these 'ROLES' represented for each endpoint? For example, in the OpenAPI, how do you have separate endpoint request/response data for each ROLE?

[2021-05-05 09:18] arlemi commented on #7895
@temamagic @gregtuc  Can you provide more information on what you're seeing? I've just given it a try on the latest version on Windows and the import works fine.

![import-curl](https://user-images.githubusercontent.com/5029719/117120381-2a7fa580-ad8b-11eb-8179-8ede781c0fda.gif)

[2021-05-05 10:20] passcodex commented on #9875
@shashankawasthi88  Thank you for your guidance.

[2021-05-05 10:25] shashankawasthi88 commented on #9875
I am assuming the solution has worked for you @passcodex, if not feel free to reopen the ticket.

[2021-05-05 10:25] #9875 closed, assigned to nobody

[2021-05-05 10:56] giridharvc7 commented on #7785
This is fixed, please check out Postman 8.x on the app or the [Postman web](https://www.postman.com/downloads/) and let us know what you think.

[2021-05-05 10:56] #7785 closed, assigned to vvs11, vkaegis

[2021-05-05 11:09] giridharvc7 commented on #6956
This is fixed, let us know if you still face this, you can try out our latest release from here or use the Postman web - https://www.postman.com/downloads/
<img width="1087" alt="Screenshot 2021-05-05 at 4 38 16 PM" src="https://user-images.githubusercontent.com/1040583/117132315-536e5d80-adc0-11eb-88a0-d79b7b66b02a.png">

[2021-05-05 12:04] dhubbard-ag commented on #4295
I'm on v8.3.0 and I get similar behaviour.  From checking console for responses I believe `postman.getResponseCookie` is looking at stored values from previous request/response rather than the last response.  This aligns with the points @shawn98ag makes when deleting the stored cookie.

To actually get the cookie from the response I got the following working

`function getCookie(name) {

    var c

[2021-05-05 12:04] praveendvd opened #9906 "Postman hangs when editing environment variable in the (in the environment tab ) that contains long content like json schema"
**Describe the Issue**

When trying to edit the content of environment variable  (**in the environment tab** )the UI hangs

**Steps to Reproduce**

Create an environment variable with large content, like json schema

Try editing it the content

**Screenshots or Videos**

NA :

**Environment Information**

 - Platform Type:   Both web and Desktop
 - Postman Version:  v8.3.1
 - Operating System: Win

[2021-05-05 12:37] ilya-git commented on #3358
The code above changes Content-Type to `text/plain`, if you API does not accept that one can add something like this:

`pm.request.headers.add({key: 'Content-Type', value: 'application/json'});`

to fix it. There is probably a simpler way but I did not figure it out.

[2021-05-05 13:12] #9876 closed, assigned to nobody

[2021-05-05 13:47] giridharvc7 commented on #7831
This is now fixed, please check Postman version 8.x in the app or try out Postman web. http://postma.com/app

[2021-05-05 13:47] #7831 closed, assigned to vvs11, vkaegis

[2021-05-05 15:21] IAmBlackHacker commented on #1005
use CryptoJS.SHA256(str.toString()).toString();

[2021-05-05 15:51] kazbeel opened #9907 "Default User-Agent header is outdated"
**Describe the Issue**

Every request attach the header User-Agent with "PostmanRuntime/7.28.0" regardless Postman's version.

**Steps to Reproduce**

- Open up Postman 8.x
- Create a new GET request where URL is "https://httpbin.org/headers".
- Check the response: headers -> User-Agent.
- You will see "PostmanRuntime/7.28.0"

**Screenshots or Videos**

N/D

**Environment Information**

 - Platfor

[2021-05-05 19:11] johnnyproton commented on #5253
This feature should be added. We add external links to our API descriptions and it doesn't make sense to have it open in the same window. The API documentation is not just for developers, we are also selling other stakeholders from companies looking to integrate our API. As such we link things like presentation decks or other services that are relevant. These should definitely open in a new tab.

[2021-05-05 20:35] HarshadKulkarni commented on #6836
i am facing same issue, Does it require authentication? Yes,  what's the type of auth (Basic or NTLM)? Basic (username/password)

[2021-05-05 21:00] erhhung opened #9908 "JSON API responses are no longer reformatted under Pretty view"
**Describe the Issue**

API response with Content-Type "`application/json`" is **no longer** being reformatted under **Pretty** view.

If there's an optimization where large, compacted, JSON responses are not formatted automatically for performance reasons, then there should be a button that lets the user format it if so desired.

**Steps to Reproduce**

1. I upgraded to the latest Postman Desktop

[2021-05-05 21:07] DannyDainton commented on #9908
Hey @erhhung

I know this sounds like a really obvious thing to do but can you fully quit the app and restart it again.

We have had folks in the past report issues with JSON formating and that did the trick.

Just want to suggest the easy stuff first 😁

[2021-05-05 21:11] DannyDainton commented on #9907
Hey @kazbeel

That is the current version of the Postman runtime:

https://github.com/postmanlabs/postman-runtime

This does not follow the same versioning as the main app build.

[2021-05-05 21:24] ksharpe5 commented on #9346
Is there any update on this? We're getting well beyond early 2021 as mentioned above.

[2021-05-05 22:23] #9907 closed, assigned to nobody

[2021-05-05 23:13] praveendvd commented on #9904
https://github.com/postmanlabs/postman-app-support/issues/9689#issue-823455580

An feature request is already in progress @DannyDainton  @vdespa  ❣️

[2021-05-05 23:21] rothrock commented on #7210
Really need to read a local file.

[2021-05-06 01:21] taehoshino commented on #9498
We have another report on a related feature
- Instead of minimising the left pane, user wants to be able to re-size the left-side pane by dragging the interfacial line.
Demo: https://www.loom.com/share/64368d2651da4684ac3c156476468c4c

[2021-05-06 05:01] DevappaSrinivasanManoj opened #9909 "Mock servers feature of Postman not working"
**Describe the Issue**
Mock server returning the below error, in spite of example being added to it.

{
    "error": {
        "name": "mockRequestNotFoundError",
        "message": "To mock this request add an example response for the mock server to return.",
        "header": "You need an example"
    }
}

**Steps to Reproduce**

Create a new mock server in Postman version 8.3.1.
Select Create n

[2021-05-06 05:18] temamagic commented on #7895
@arlemi Hi, sure!

In my case, I'll take request from Chrome and expect to see Form Data values

![image](https://user-images.githubusercontent.com/15264697/117245017-c0c2d280-ae42-11eb-9e4f-5833db7f0e57.png)

Chrome copy as curl return like this:

[code]

I think that problem is in content-Type: multipart/form-data, cuz my request is a simple post with form data values and expect to see form data

[2021-05-06 05:25] temamagic commented on #7895
Just checked, curl request copied from Charles proxy doesn't parsed properly too

Maybe I was wrong with issue? Anyway, Postman should learn how to parse multipart form data values from curl :)

[2021-05-06 06:53] vvs11 commented on #9909
@DevappaSrinivasanManoj Thanks for reporting this. This is a bug in our system caused by recent changes. We are aware of it and are working towards resolving this. Will keep you posted on this thread

[2021-05-06 06:54] martinszeltins commented on #5302
@Artur2 Nightingale seems to work only on Windows but I'm using Linux.

[2021-05-06 07:08] jizhihaoSAMA commented on #8716
@chughmayank  Actually yes, today I update postman and still need to install bridge(now the version of postman is v8.3.1.):
![image](https://user-images.githubusercontent.com/48234827/117255559-4f325680-ae39-11eb-8ce4-b69ea09856ba.png)

I still think the Chinese path is the cause.

[2021-05-06 08:12] komape opened #9910 "Postman update fails because of missing permissions"
**Describe the Issue**

I cannot update my Postman. It always reports that the update failed. I took a look into the DevTools and the error says: `EACCES: permission denied, open '/opt/Postman/Postman-1620288011421.tar.gz'`. This file doesn't exist. I guess Postman need sudo to update. If so, Postman should ask then for the permission.

**Steps to Reproduce**

1. Click on 'Help' -> 'Check for Upda

[2021-05-06 08:31] ipatalas opened #9911 "High CPU after an update is discovered"
**Describe the Issue**
For at least 3-4 last versions I have an issue that whenever Postman detects there is a new update available CPU jumps to a constant ~10% and it never drops unless I restart Postman.
I use Postman almost daily so I never close it - it's a long living app - I just keep it minimized.
The moment new update gets available it also steals focus. Even though it was minimized it ver

[2021-05-06 09:02] vdespa commented on #4808
I think this can be simplified while updating. Not sure if this is the intended usage, but the output is the same.

    const body = JSON.parse(pm.request.body.raw);
    body.foo = 'bar';
    pm.request.body.update(data);

Correct me if I am wrong.

[2021-05-06 09:41] vanqard commented on #9903
I too had this issue. I lost all of my previous work when switching to offline mode, which I did because the connection error icon kept bugging me.

Should I open a (duplicate) support ticket too? Or will this ticket get updated with the outcome?

[2021-05-06 10:57] Khuongnb commented on #675
+1, so 6 years already and we still haven't got this fantatics idea

[2021-05-06 11:33] DannyDainton commented on #9910
Hey @komape

That looks you're trying to grab an older version of the client - Currently, we're on version 8 which brings in a bunch of new functional and UI changes.

As you're using Linux, you could get that version using snap - https://snapcraft.io/postman

More details can be found on this thread - https://github.com/postmanlabs/postman-app-support/issues/9573#issuecomment-804808932

[2021-05-06 11:35] DannyDainton commented on #9904
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9689

[2021-05-06 11:35] #9904 closed, assigned to nobody

[2021-05-06 12:41] postman-support commented on #9903
@vanqard  It would be really helpful if could file a new request from our support portal using this link -https://www.postman.com/support/, as it will be secure communication between you and our support engineers in case we require any log files, other details for further troubleshooting.

via @Swapnil-getpostman | Postman Support

[2021-05-06 13:15] arungeorge101 commented on #9481
Quitting/Killing the application and restarting the application fixed the issue for me.

[2021-05-06 13:26] galmok opened #9912 "Collection pre-request script not run"
Using version 8.3.1

Pre-request script from the collection is not run.

1. Create collection.
2. Add pre-request script to collection, e.g.:
  var apikey = pm.environment.get('apikey');
  pm.request.headers.add({key: 'X-Api-Key', value: apikey })
3. Add request.
4. Add necessary environment variable, apikey and assign a value.
5. Run request.
6. Watch as request has no X-Api-Key header attached,

[2021-05-06 14:07] codenirvana commented on #7684
Duplicate of #3803

[2021-05-06 14:07] #7684 closed, assigned to shamasis, vvs11

[2021-05-06 15:17] RonMiltonPing commented on #8213
Seeing the same behavior. Our collection is about 3 MB, 300+ requests with a lot of documentation. Put call to Collections returns a 504 after a minute but the collection gets updated a few minutes later. Have not tried the delete-create approach yet.

[2021-05-06 15:36] komape commented on #9910
Maybe Postman should do this by itself... Or is it not able to handle major version updates?

[2021-05-06 15:37] komape commented on #9910
Besides that there is a newer version, the problem is independent from that. It's not like Postman doesn't find a version to install, Postman is not allowed to do so. That's the problem

[2021-05-06 16:34] mguoth commented on #3881
I had the same problem (I use 3 monitors). I have solved it by turning off 2 side monitors and kept on just the primary one. After the Postman window reappeared, I have turned on these 2 monitors back again. Now the postman work normally. As it is a clear bug, shouldn't be this one reopened?

[2021-05-06 17:18] vieiraes commented on #9614
worst bug/feature of ever!

[2021-05-06 17:20] vieiraes commented on #9659
worst bug/feature of ever!

[2021-05-06 17:41] IDScanBrianMulhall commented on #2425
this happens for me too. I run them separately and they work and together some in the collection of tests will fail.

OS Name	Microsoft Windows 10 Pro
Version	10.0.19041 Build 19041
Postman v8.3.1

I am making POST requests to an API and getting back 400 responses in the collection tests runner but 200 responses separately

[2021-05-06 17:57] DCCoder90 commented on #2209
Just wanted to add another bump.  I know this issue is almost 5yrs old but it would be a nice addition to Postman.

[2021-05-06 18:19] #9912 closed, assigned to nobody

[2021-05-06 19:36] zburk opened #9913 "After upgrade to 8.3.1 can't view requests"
**Describe the Issue**

After upgrading to 8.3.1 (not sure what the prior version was), when I click a request to view its details, it stays blank and nothing loads. If I can an example, nothing happens. If I click the 3 dots and add an example, then the panel updates and I can add a new example.

**Steps to Reproduce**

Open Postman and try to access any request

**Screenshots or Videos**

![Scre

[2021-05-06 19:37] erhhung commented on #9908
The app upgrade behavior on macOS is a little weird. I originally reported this issue right after I was prompted to upgrade and restart, which I complied. I saw and reported the issue for v8.0.8.

I just shut down the app and relaunched it, and the app popped up a notice that I'm now running 8.2.1. I wasn't previously being prompted about an available update, though—it just updated on its own?
I r

[2021-05-06 19:37] #9908 closed, assigned to nobody

[2021-05-06 19:50] cdixon4 opened #9914 ""Something went wrong error" on 8.3.0 Postman launch- workspaces can't be selected- Windows 10"
**Describe the Issue**
On Postman desktop app 8.3.0 using Windows 10 app launch displays a something went wrong error.
![image](https://user-images.githubusercontent.com/83786087/117356891-e4553f80-ae79-11eb-91a1-5e13d0ec07bb.png)

Then when clicking view all workspaces and trying to select a workspace the app doesn't respond- it doesn't recognize the click event. I also tried using the workspaces

[2021-05-06 19:55] cdixon4 commented on #9893
I think I'm experiencing the same but all the ticket content is hidden due to the markup... if its filled out.
https://github.com/postmanlabs/postman-app-support/issues/9914 @sandrapavankumar  does mine look the same?

[2021-05-06 20:25] LilaQ commented on #9346
Any updates would be really appreciated. The M1 community is growing and still using essential software like Postman with Rosetta is hurting my soul.

[2021-05-06 20:34] andersonjackc commented on #9862
@codenirvana Here is a link to the collection we have right now.  Let me know if there is anything else I can provide you with.

https://www.getpostman.com/collections/3fa4816eda28b0abb628

[2021-05-06 20:45] WatanabeThiago commented on #9614
up

[2021-05-06 20:49] WatanabeThiago commented on #9909
up

[2021-05-06 21:15] shilpiBansal-chime commented on #3365
Hi team, Is there any update on this?

[2021-05-07 04:01] jlohiya commented on #5194
+1

[2021-05-07 04:22] postman-support commented on #9913
Hey @zburk,

Thanks for reaching out. Sorry that you are facing issues while using Postman --- Happy to help.

I have tried replicating this issue, but works fine for me.

Could you please check our web version if you are seeing the same behaviour - go.postman.co ?

If the Web Version works, I'd first recommend ensuring your work is synced: https://go.postman.co/me/collections before trying the fo

[2021-05-07 04:33] DevappaSrinivasanManoj commented on #9909
@vvs11 Thanks for the acknowledgement.

[2021-05-07 05:31] chatelao opened #9915 "Postman v8.x - Cannot run collection offline"
Situation
- Due to security restrictions we are not allow to connect Postman to the Internet.
- Up to Version 7 it was no problem at all to run collections from ".csv" files.

Problem
- Since Version 8, the very same option is not available anymore.

![image](https://user-images.githubusercontent.com/2461532/117402131-1dd38c80-af06-11eb-8969-84f2970213fa.png)

[2021-05-07 05:41] DannyDainton commented on #9915
Hey @chatelao

Is the `Run` option in the Collection tab or the `Runner` option on the menu at the bottom right of the app window also not active?

The `Run Collection` option was never part of V7 so this could be a different issue.

[2021-05-07 06:42] postman-support commented on #9914
Hi @cdixon4

Sorry to see you are experiencing issues accessing your workspaces.

It would be really helpful if could file a new request from our support portal using this link -https://www.postman.com/support/, as it will be secure communication between you and our support engineers in case we require any log files, other details for further troubleshooting.

Meanwhile, to get you unblocked could

[2021-05-07 06:58] chatelao commented on #9915
Perfect, thank you!

[2021-05-07 06:58] #9915 closed, assigned to nobody

[2021-05-07 08:21] eugene-fed-newscorp commented on #2270
Having Enums in `Environments` would be great also 🙏  Can save a lot of time wasted on copy-pasting...

[2021-05-07 10:01] benterris commented on #8195
+1

[2021-05-07 12:58] balamg commented on #8455
I'm facing the same issue. In my case, there is a redirection involved, and upon redirect, the Content-Length shows as 0 in the Postman Console. The Content-Length in the original request is correctly set.
I'm using version 8.3.1 on MacOS

[2021-05-07 13:30] timohuovinen commented on #4404
I've worked around this issue in the following way

[code]

and then you can call it like this

[code]

[2021-05-07 13:30] dom-techwriter opened #9916 "When watching a collection from a public workspace, users are not notified when a change is made to the "master" collection."
**Describe the Issue**

Users that are watching a collection in a Public Workspace are not notified when there is a change made to the collection (however, if they are watching the API and a change is made to the schema, they are).

**Steps to Reproduce**

1. Go to a Public Workspace (for example, [Belvo](https://www.postman.com/belvo-api-team/workspace/belvo-api-workspace)).
2. Click "Watch" on t

[2021-05-07 14:50] Wotuu commented on #9750
I just updated to v8.3.1 and that didn't resolve the issue, fyi.

[2021-05-07 15:39] trentjones21 commented on #9049
Same issue here.  Had to restart twice to get it fixed.

[2021-05-07 16:06] mattantonelli commented on #9705
This bug is my biggest issue with Postman 8, and I'd love to hear if there's any update from the UX team.

The new Collections view is half the size it used to be, and you have to carefully mouse over the new tiny arrow to close your collection. An option to switch back to the old non-compact view would be wonderful.

[2021-05-07 16:06] elnurvl opened #9917 "Customize the token request for OAuth2 password authentication"
I see there is no option to customize the token request for the endpoints for which *Password* type of the OAuth2 authentication method is selected.

In my case, the backend server issues tokens for users from an `email` instead of a `username`. Furthermore, I need to send another required parameter, `device_name` for every token request.

It would be great to have a chance to select an existing r

[2021-05-07 18:01] haffmaestro commented on #9237
This would be amazingly useful for me!

[2021-05-07 19:26] timbochamp commented on #9750
Sorry to hear, @Wotuu . It might help us out if you could please send along your logs using these steps?
https://support.postman.com/hc/en-us/articles/360025298633-How-to-share-logs-with-Postman-for-debugging-issue

I hope you're not completely blocked, and I'm wondering if using Postman for Web is an option as a workaround? You could also try the route of clearing your local data; I realize that'

[2021-05-07 20:23] ShawnFumo commented on #2934
I upgraded directly 8.3.1 and tried using the audience field for Auth0. Like jwineinger, I'm using auth code & PKCE and it didn't work at all. I tried using the workaround of a querystring parameter and then that worked. So there's definitely an issue, at least in the Windows version. Didn't try the web version.

[2021-05-07 21:52] orubel commented on #6102
You know what would fix this? ROLES in OpenAPI. Too bad the OpenAPI lead has stated he won't do it! https://flic.kr/p/2keNR8v

[2021-05-08 03:05] haichaolv opened #9918 "Can you support Chinese?"
Can you support Chinese?

[2021-05-08 12:53] sinahosseini76 commented on #7404
thanks

On Mon, Nov 4, 2019 at 5:31 AM Kamalakannan ***@***.***>
wrote:

[2021-05-08 13:08] brentgreeff commented on #2701
Unbelievable.

[2021-05-08 15:52] zburk commented on #9913
Cleared the local data and re-installed and it works now. Thanks!

[2021-05-08 15:52] #9913 closed, assigned to nobody

[2021-05-08 17:03] postman-support commented on #9913
Awesome!

Thanks for letting us know :)

Please feel free to reach out again later if you have any queries. Will be more than happy to help!

Have a great day!

via @VaishnaviChallaPostman | Postman Support

[2021-05-08 20:24] shamasis commented on #8455
I haven't deep dived much. But straight from reading your sentence, it seems that you're possibly missing the general redirection behaviour. Every redirection, 301 and 302, results in eventually a GET call and GET does not have body. That's how redirections works. 😊

But, for testing, Postman allows you to change that behaviour too. Read https://support.postman.com/hc/en-us/articles/211913929-I-se

[2021-05-09 06:43] balamg commented on #8455
Yes this is after "Follow Original HTTP method" turned ON

[2021-05-09 19:57] francisguchie commented on #2861
@russellg

Thanks for your pre-request code.

but using Postman v8.3.1 i learnt that i just hard to make all null values appear as "" in my .json file
then these were later taken as NULL into the Database
all the other options did not work

I changed the code to look like this

Object.keys(iterationData).forEach(function (key) {
  if (data[key] === null) {
    pm.variables.set(key, null);
  } else

[2021-05-10 05:30] ankit-m commented on #9916
@dom-techwriter I tried to reproduce this issue, but was unable to do so. We do batch notifications for changes made to a collection every 30mins. Did you not receive any notification (in-app or email) even after 30 mins?

[2021-05-10 06:18] giridharvc7 commented on #2934
We are looking into this. Appreciate bringing this to our notice @jwineinger @ShawnFumo

[2021-05-10 07:56] Sti2nd opened #9919 "Proxy: Could not find openssl on your system on this path: openssl"
**Describe the Issue**
Two errors when trying to turn on Proxy.

[code]
[code]

**Steps to Reproduce**

1. Click on the proxy settings icon in the header toolbar
2. Click on the toggle "Capture Requests" to turn it on
3. Errors appears

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/6373430/117624551-5200b480-b175-11eb-88ac-77e3fc2cdf39.png)

**Environment Information

[2021-05-10 08:13] sikri-eic commented on #2761
@a85, Your comment is 4 years old. Is this idea still in the backlog, or has it been abandoned.

[2021-05-10 08:17] Sti2nd commented on #9919
Oh, I see now that there is a specific Windows section in the documentation https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests

That was not apparent as it is not mentioned in the beginning and the TOC doesn't show those sections either. Gonna edit the documentation instead!

[2021-05-10 08:17] #9919 closed, assigned to nobody

[2021-05-10 09:49] dom-techwriter commented on #9916
Ohhh! Apologies! I didn't see anywhere that it was 30 minutes -_- Because when I made a change to the schema the notification was almost instantaneous and I thought it was meant to be the same with Collections. I received an email notification, however, I didn't receive a "bell" notification.

<img width="479" alt="image" src="https://user-images.githubusercontent.com/63076770/117640824-56c96680-b

[2021-05-10 11:37] HenrikHolmIT commented on #9705
This issue should be merged with this issue: https://github.com/postmanlabs/postman-app-support/issues/9614#issuecomment-828478366

[2021-05-10 14:00] Udayta commented on #6354
When I try to send a HTTPS POST request from a desktop (Servers are in production environment) the following message is displayed inside the con: unable to verify the first certificate

Warning: Unable to verify the first certificate
Network
 I unable to  solve it after going to: File->Settings->General -- SSL Certificate Verification OFF

[2021-05-10 14:11] R3gi commented on #3019
A few years passed since this issue was rised…Any update please? It's a blocker for enterprise usage (at least for my company).

[2021-05-10 15:33] #9889 closed, assigned to nobody

[2021-05-10 15:49] johnwyles commented on #9885
This seems like a pretty serious bug if you are not able to consistently provide the Collection (or Environment) consistently per each request and that there will always be a DIFF and that the Variables you wish to reference will never be able to referenced again in subsequent requests. Seems like a much higher priority bug to have not had attention drawn to it.

[2021-05-10 16:16] vdespa opened #9920 "Download environment should be easily accessible"
**Is your feature request related to a problem? Please describe.**
It is very hard and not intuitive how to download an environment.

**Describe the solution you'd like**
The download environment should be part of the menu (see below).

![image](https://user-images.githubusercontent.com/1197635/117690992-b47ca380-b1bb-11eb-81d6-7a6fb34077ef.png)

Currently, users have to go completely somewhere el

[2021-05-10 17:32] Ephesoft-Stitus commented on #9460
+1 Our team also struggles with this.  It is something I'd expect to find on the 'home' tab.

[2021-05-10 17:59] vdespa commented on #9920
Agreed, thanks for linking that.

[2021-05-10 17:59] #9920 closed, assigned to nobody

[2021-05-10 18:27] wabiloo opened #9921 "Postman 8.3.0 - tab names unreadable"
**Describe the Issue**
With the new design (in 8.3 I believe), the tab names almost completely disappear if a few tabs are open. Hovering over them does not reveal the name. There is no menu / button to show the list of tabs open either

**Steps to Reproduce**
Open multiple tabs (eg. multiple requests)

**Screenshots or Videos**
![Screenshot 2021-05-10 at 19 26 05](https://user-images.githubuserco

[2021-05-10 20:48] amarrero commented on #6134
That would definitely be a great addition.

[2021-05-10 21:51] ghost opened #9922 "PR merge loses query param descriptions and inactive query params"
**Describe the Issue**

When a pull request is merged from a fork back into the source, requests are missing query param descriptions and inactive query params after the merge.

**Steps to Reproduce**

1. Collection with requests with query params with descriptions and inactive query params exists.
2. Fork collection.
3. Make change to request path, e.g., add or remove "/version" from the path.
3.

[2021-05-10 22:01] ManeeshaSenarath commented on #6682
+1 on this

[2021-05-11 05:18] abhijitkane commented on #9021
@devmrfitz Would Postman's proxy feature be helpful for your use case? We recently announced support for HSTS-enabled endpoints (https://blog.postman.com/postmans-proxy-now-fully-supports-https-endpoints/), so all request capturing should work.
Capturing the request will also include cookies that your browser included, so you should be able to use your browser's authenticated session too.

[2021-05-11 07:33] savage-alex opened #9923 "Import OAS3: Referenced response descriptions are missing"
Given the following openAPI definition that is imported to postman, the descriptions of the responses is missing:
https://app.swaggerhub.com/apis/AdvancedComputerSoft/example-pet-inventory/1.0.5
![image](https://user-images.githubusercontent.com/25430683/117776185-2d6b1200-b233-11eb-8d86-635ab4692a3c.png)
This API definition uses referenced responses for error conditions so I assume its to do with

[2021-05-11 07:56] savage-alex opened #9924 "Mocking & Validate problems with imported OAS3"
When using the validate option on an API when an OAS3 definition is included that contains referenced path parameters the validator always fails.

It cannot see that a path paramter exists in the schema that is referenced (it also appears to break the other items too) and causes a circular loop of fix the sync issues round and round.

API to import:
https://app.swaggerhub.com/apis/AdvancedComputer

[2021-05-11 08:06] ad-boschung opened #9925 "Can't define path params when using a variable in the URI"
**Describe the Issue**
I'm using the collection variables to define my API endpoints. Some of them have some path parameters in it.
When I use those variables to build my request URL, the UI doesn't show me the path parameters UI to define them.

**Steps to Reproduce**

1. Create a collection
2. Create a variable in this collection, this variable should include a path parameters (ex: USER_ENDPOINT

[2021-05-11 12:54] VShingala commented on #9923
@savage-alex Currently we are not supporting remote references inside the definition. All local references should work fine. We already have a similar issue here - https://github.com/postmanlabs/postman-app-support/issues/8827. We will post any future updates there meanwhile I will be closing this issue as a duplicate.

[2021-05-11 12:54] #9923 closed, assigned to nobody

[2021-05-11 13:11] VShingala commented on #9924
@savage-alex As we are currently we are not supporting remote references inside the definition, validator is not able to resolve required path parameters and flagging them as missing while validation.

And you are correct that this is breaking further flows. We will be taking a look at this. Meanwhile to make validation work properly, all references has to be local. We have a separate ticket for s

[2021-05-11 13:54] alexks02 commented on #8195
+1

[2021-05-11 14:41] jfnault-seedbox commented on #5713
+1, need this!

[2021-05-11 15:10] BryanHunt opened #9926 "Error importing Kubernetes OpenAPI document"
**Describe the Issue**
Importing the OpenAPI document from our kubernetes cluster failed with: There was an unexpected error.  Please try again.

**Steps to Reproduce**
1. Download the OpenAPI document from a Kubernetes cluster.
2. Import the file

**Environment Information**

 - Platform Type: Mac
 - Postman Version: 8.3.0
 - Operating System: Mac OS 11.3

**Additional Context**
After restarting

[2021-05-11 16:58] mlebrun opened #9927 "Strange rendering issue on OSX Big Sur"
**Describe the Issue**
Native Postman on OSX Big Sur renders very strangely after skipping login and after the loading screen. Everything is garbled but you can still see that it probably _should_ be rendering things correctly behind the scenes. Also tried and saw the same thing in the Canary build.

**Steps to Reproduce**
- Download the new Native Postman app for OSX
- Unarchive, launch the app
-

[2021-05-11 18:36] Gitanjali86 commented on #2214
Hi ! Can I have solution for this localhost issue plssss?
I am able to access via chrome browser but not via Postman.
https://localhost:8080/

[2021-05-11 18:57] mlebrun commented on #9927
For what it's worth, I upgraded Big Sur to 11.3.1 so either the upgrade helped or a simple restart helped. I also noticed that the Chrome Extensions page had a similar rendering issue, so it seems like maybe Chromium-based rendering issues as a whole? 🤷‍♂️

This can be closed if there's no further investigation warranted!

[2021-05-11 23:11] marclevin-ep commented on #8195
Given how many people are upvoting this, are there any plans to do add it?

[2021-05-12 06:57] adityakap commented on #1038
I stumbled upon this thread trying to find a way to iterate on a request...

Here is my approach...

I added the following function and set a collection var on the first request of the test case ..

This creates a collection variable with a dateTime value 10m in future.
[code]

Couple of requests after above request, I have this request named "FindMyPackage".. I wrote the following in Tests tab

l

[2021-05-12 13:12] antonylineesh1 commented on #7350
Issue still exists on  v8.3.1

[2021-05-12 13:56] Pricilla09 opened #9928 ""Create New" option in the Home page is not routed to the correct screen, instead it is routed the current open window/workspace."
**Describe the Issue**
In the "Home" page the "Create New" link is not routed as expected. It is supposed to land on the "New" options page, but this is landing in the previously working workspace/request tab.

**Steps to Reproduce**
1. Login to Postman
2. Navigate to the "Home" page.
3. Under "Start with something new" tab, click "Create New" option.
4.

**Screenshots or Videos**
https://user-ima

[2021-05-12 13:59] Novivy commented on #6556
Same issue. Checked  `allow reading files outside...` but doesn't work better.

can't change the location the input is disabled..

[2021-05-12 14:32] AlphaSh0w commented on #1066
+1

[2021-05-12 15:56] asheinz commented on #9909
@vvs11 Thanks for acknowledging. Is the bug being tracked somewhere?

[2021-05-12 16:37] nrmartell opened #9929 "Postman console lags behind Collection Runner on Desktop Application"
**Describe the Issue**
After a certain amount of requests run the Postman Console begins to lag behind Collection Runner. This more noticeable on Bigger collections with a lot of requests. At around the 70th request or so the Postman Console and Collection Runner begin to get out of sync.

After the run stops, the logs are still updating the console cannot be cleared to see the latest request you

[2021-05-12 17:28] dcmdeivid commented on #4009
+1

[2021-05-12 17:28] dcmdeivid commented on #4009
+1

[2021-05-12 17:52] digggggggggg opened #9930 "pm.cookies.jar().clear() breaks local and environment variable handling in request"
**Describe the Issue**

**Steps to Reproduce**
1. create a simple request to get https://www.google.co.uk
2. add a header that accesses a variable, eg: test: {{test}}
3. add a pre-script that
    * clears the cookie jar with ```pm.cookies.jar.clear()```
    * sets a variable with ```pm.variables.set("test", "hello")```
4. run the request
    * note the header sent is literally ```{{test}}```
    *

[2021-05-12 18:26] codenirvana commented on #9930
@digggggggggg Thanks for reporting this.

Actually, the script is not executing after line 1 because it throws an exception because programmatic cookie access to the domain is denied.

<img width="862" alt="Screenshot 2021-05-12 at 11 55 02 PM" src="https://user-images.githubusercontent.com/4865836/118025432-7af39600-b37d-11eb-9b19-9bf6dc18006e.png">

For programmatic cookie access, we first need

[2021-05-12 19:22] niccolomineo commented on #9560
Hi, any developments on this? I can offer practical help.

[2021-05-12 19:36] digggggggggg commented on #9930
OK, so, duly noted. I will whitelist the domain and be aware of this in future.  probably should let the user know something is wrong though and/or it's strange behaviour that it proceeds with the request without executing the rest of the pre-request script. Glad I reported it, hope it helps in some way.

 ![Cool](https://i.imgur.com/EkqSn8s.gif)

[2021-05-12 21:15] nidhidesai990 commented on #9510
Same issue. I am trying to run my newman-cli runner and my file is not getting picked up and my all test-rail cases are failing.

[2021-05-12 22:16] ColdCerealAtWork opened #9931 "Change environment variable live while hovering variable in request"
![2021-05-12 15_09_46-Postman](https://user-images.githubusercontent.com/45828766/118050905-fd0b9c80-b334-11eb-859d-b10af74b5f39.png)
**Is your feature request related to a problem? Please describe.**
As a user who has to use environment variables extensively for security reasons, it is a pain to have to hunt down variables in the environment view to change them. It slows my work down tremendously

[2021-05-12 22:42] richardhauer commented on #4268
+1 for this
We have dozens of collections in a workspace and tens of contributors. The change log is great but unwieldy. Expecting the data would help, in lieu of better search and filter.
All i want to do is be able to find out who created the duplicate requests!

[2021-05-12 23:01] colin-extend commented on #9049
Same for me

[2021-05-13 02:22] davidmcl commented on #6236
I also cannot delete the Team Workspace...created it out of curiosity and am now stuck with it.

I created it, there are no other members, there are no entries (collections, etc.) and yet I cannot "leave" it or "delete" it.

Simple rule applies, if I can create something, I should be able to delete it.

dbm

[2021-05-13 04:02] Corey956 opened #9932 "No encoding is specified after content type, and it is not UTF-8"
I try to use raw in body to specify JSON

this is json

[code]

![image](https://user-images.githubusercontent.com/52793589/118075308-57166b80-b3e2-11eb-9026-ea46ca3704a3.png)
But it can't be requested

|  JSON parse error: Unexpected character ('\' (code 92)): expected a valid value (number, String, array, object, 'true', 'false' or 'null'); nested exception is com.fasterxml.jackson.core.JsonPars

[2021-05-13 05:24] #9927 closed, assigned to nobody

[2021-05-13 05:35] numaanashraf commented on #9560
@niccolomineo This will be available in our immediate next release. We are expecting it to start rolling out by end of this week.

Here's a sneak peek and thanks for your patience!

<img width="344" alt="Screenshot 2021-05-13 at 11 03 16 AM" src="https://user-images.githubusercontent.com/3295568/118082563-064f4480-b3db-11eb-9c78-d625709c1d4e.png">

[2021-05-13 07:44] chetanrudrakar commented on #6516
Facing the same error "This file isn't in your working directory. Teammates you share this request with won't be able to use this file. To make collaboration easier you can setup your working directory in Settings." got frustrated with this error. I have installed the latest version facing the issue. Can u please resolve this
![image](https://user-images.githubusercontent.com/84122372/118095024-2f

[2021-05-13 09:39] Conjuror commented on #8929
+1, it would be lovely if we can make some check before executing. While we are iterating the tests, some combinations may not be applicable. In the case, it will be easier to simply drop than executing and mark them as accepted.

[2021-05-13 09:40] numaanashraf commented on #9560
We have started rollout of Postman v8.4.0 which includes the updated icon.

[2021-05-13 09:40] #9560 closed, assigned to nobody

[2021-05-13 10:03] DannyDainton commented on #8040
With the release of version 8.4.0, you can now preview your PDF responses inside the app. 🎉

![PDF_Response](https://user-images.githubusercontent.com/17089546/118110634-917c0a80-b3da-11eb-97be-1d38525cee52.gif)

[2021-05-13 10:05] abhijitkane commented on #208
This is available in Postman's 8.4.0 release, which has started rolling out.

[2021-05-13 10:05] #208 closed

[2021-05-13 10:06] #8040 closed, assigned to vvs11

[2021-05-13 10:52] cglacet commented on #4340
Still no fix for this, I'm experiencing this in `8.3.0` and `8.3.1`, it seems there is no way to make any test fail (it used to work for me a while a go, like 2 years ago maybe).

[2021-05-13 10:58] thmasker opened #9933 "Postman v8.3.1 JSON is not beautified anymore ¿?"
**Describe the Issue**
I just updated to v8.3.1, and JSONs are not formatted anymore. Even trying to write one does not launch autocomplete functions or anything like that. Colours have also been lost.

**Screenshots or Videos**
![Screenshot 2021-05-13 at 12 57 40](https://user-images.githubusercontent.com/43535391/118116751-f4759d80-b3ea-11eb-955d-355a4364813b.png)

**Environment Information**
 -

[2021-05-13 11:02] cglacet commented on #4340
Ah, I think I found a way to make a request tests to crash, you need to put the query in a collection and then run the whole collection. But that's an horribly painful workaround to work with.

[2021-05-13 11:04] RaviTejaKomma commented on #6682
+1

[2021-05-13 11:11] DannyDainton commented on #9933
Hey @thmasker

It's a little difficult to know which part of the app that you're showing that JSON in - Could you update the image showing the full app window, please?

I'm currently seeing this:

![image](https://user-images.githubusercontent.com/17089546/118118019-3d762380-b3e4-11eb-96b4-26cb843ef008.png)

[2021-05-13 11:48] thmasker commented on #9933
Apparently, it is solved now. I guess it got stuck or something like this. Thanks!

[2021-05-13 11:48] #9933 closed, assigned to nobody

[2021-05-13 12:25] mccannt commented on #8757
This is now resolved in the latest version of the application.

[2021-05-13 12:25] #8757 closed, assigned to ritwijsinha

[2021-05-13 14:30] numaanashraf commented on #8656
We've included a fix for this issue in v8.4.0. Do let us know if the issue resolved at your end.

[2021-05-13 14:30] #8656 closed, assigned to jviotti, codenirvana

[2021-05-13 17:48] ldlb96 opened #9934 "No JSON format/beautify on request body and response body"
button beautify not working and response body "pretty/json" option doesn't working

![image](https://user-images.githubusercontent.com/21050223/118164915-44ebfb80-b3e9-11eb-83ef-69c62c414417.png)

![image](https://user-images.githubusercontent.com/21050223/118164863-356cb280-b3e9-11eb-82dd-889e39c800e4.png)

![image](https://user-images.githubusercontent.com/21050223/118164795-1e2dc500-b3e9-11eb-9

[2021-05-13 18:07] ldlb96 commented on #9934
just restart the app and fixed lol

[2021-05-13 18:07] #9934 closed, assigned to nobody

[2021-05-13 18:39] maxceem commented on #5040
+1

[2021-05-13 19:37] janusvrensburg opened #9935 "New Integration Request - Notion"
Would it be possible to add Notion integrations?

[2021-05-14 03:29] tin-nt commented on #1066
+3000

[2021-05-14 03:57] hlmd commented on #9846
I updated Postman to v8.4.0, this issue has been resolved, Thanks！！！
👍👍👍

[2021-05-14 03:57] #9846 closed, assigned to nobody

[2021-05-14 04:20] ravigajul commented on #9722
Do we know if globals API is gonna be available soon?

[2021-05-14 05:03] vvs11 commented on #9909
This is fixed in the latest release. Please upgrade and test it out. Also, please feel free to share your feedback about the product and mock servers. It really helps us build a quality product :)

[2021-05-14 05:03] #9909 closed, assigned to vvs11

[2021-05-14 05:50] rossi-d commented on #2934
Using the advanced option "Audience" did not work for me runing Ping Federate, because Ping Federate expects the parameter to be "aud", not "audience". So I did the workaround to put "aud" as a query param of Access Token URL, and it worked. I still wonder why "audience" is used and not "aud". Looks like other OAuth server expect audience (like Auth0 & Azure).

[2021-05-14 06:16] rossi-d commented on #2934
Answering to myself - I just did a test with Auth0, and Auth0 expects (and requires) "audience" (credential flow). "aud" is not working. Too bad. Probably not covered by the standard.

[2021-05-14 07:01] itczl22 commented on #4968
+1

[2021-05-14 07:20] wiffelwicht commented on #208
Hi @abhijitkane , many thanks for implementing this feature. I have tested it with a fairly large amount of data and it seems that the XSD File belonging to the WSDL is getting ignored. Am i missing something or am i doing something wrong?
Kind regards
Wiffelwicht

[2021-05-14 08:50] VShingala commented on #9669
@sansfromage46 @companje @maximm98 This issue should be fixed in the latest postman App and web (>= v8.4).

[2021-05-14 08:50] #9669 closed, assigned to nobody

[2021-05-14 08:58] abhijitkane commented on #208
@wiffelwicht Can you post a representative sample here, or email the file in question to help@postman.com?

[2021-05-14 09:07] zajkuu11 commented on #9542
Issue still exists on postman 8.4.0 linux client. Although sabrina-biersack-smit workaround did the trick.
Same version of Windows client works as expected.

[2021-05-14 09:29] enhsaihan-d commented on #6682
+1

[2021-05-14 09:34] abhijitkane commented on #9926
@BryanHunt Can you post the file here, or email it to help@postman.com quoting this issue? The issue might be due to the file size, or certain OpenAPI constructs that we might not fully support yet.

[2021-05-14 09:38] ipatalas commented on #9911
And... it happened again:
![image](https://user-images.githubusercontent.com/2623329/118252131-bb9bfe00-b4a8-11eb-8628-9c933d9a14d4.png)

![image](https://user-images.githubusercontent.com/2623329/118252111-b5a61d00-b4a8-11eb-9fcb-6e00edc92155.png)

Need to update and restart as this will never get idle again.
Release notes aren't too specific. Any chance this has been addressed?

[2021-05-14 10:22] elahmo commented on #9346
Any updates about this? It works well in the browser, so it would be neat to have a native version as well.

[2021-05-14 10:34] amatmv opened #9936 "Error when generating collection from OpenAPI Specification"
**Describe the Issue**
I'm getting an error when generating a collection from an API I imported from a OpenAPI 2.0 schema.

**Steps to Reproduce**
- Import the swagger schema from https://api-docs.connectif.cloud/swagger.json
- Try to generate a Collection from this API

**Screenshots or Videos**
----------------------

![image](https://user-images.githubusercontent.com/11032995/118258494-34eb1f00

[2021-05-14 11:52] myckhel commented on #9812
Please just bring back the offline mode from v7 🙏🏽  and don't make internet required again.

v8 has made life difficult for us so far without internet.

scratch pad is no where near usefulness 😭 😢 😭

[2021-05-14 12:14] SBMMedhost commented on #7615
Thank you for looking into a silent .msi. installer. For enterprises, by far, the best way for us to install on our systems regardless of the deployment mechanism.

[2021-05-14 12:35] wiffelwicht commented on #208
@abhijitkane I attached two example files

[CountingCategoryData.xsd.txt](https://github.com/postmanlabs/postman-app-support/files/6478741/CountingCategoryData.xsd.txt)
[CountingCategoryService.wsdl.txt](https://github.com/postmanlabs/postman-app-support/files/6478742/CountingCategoryService.wsdl.txt)

[2021-05-14 12:49] #9045 closed, assigned to nobody

[2021-05-14 12:50] sarthak-satish-ps commented on #9045
Removing issue as this no longer persists

[2021-05-14 12:54] drakunov commented on #6555
This is still exists in Postman for Windows Version 8.4.0 win32 10.0.17763 / x64

[2021-05-14 13:40] webcoderkz commented on #9346
Any news?

[2021-05-14 14:56] dxlaw commented on #1066
When are you going to do this? Look at all the support it has.

[2021-05-14 15:21] cyrielle-hada commented on #8447
Closing this issue as collections archival doesn't happen anymore

[2021-05-14 15:21] #8447 closed, assigned to nobody

[2021-05-14 17:07] ysee-mma opened #9937 "Variable values being silently shortened with 3 dots in final collection json"
I have a dozen collection variables with a long multiline json in them. Sometimes they got silently cutted without any explanation.

Steps to reproduce:
1. Save long variable value
2. Go to any request tab
3. Enter some characters in the url field
4. select this characters and save it as a collection variable

Actual result: new variable added, All long variables cutted and all it saved.

![image]

[2021-05-14 17:45] abhijitkane commented on #208
@wiffelwicht Ah - we don't support remote references yet. We'll add that to the roadmap. Can you try manually resolving the refs and see if it imports correctly?

[2021-05-14 19:42] mikebrant-xdelivery commented on #6001
+1 on having this same issue. I had double-checked my active environment as well.  I had to delate and re-add variables for them to be picked up :(

[2021-05-15 05:58] GayanSandaruwan commented on #9021
It would be great to have this for Firefox. I don't even remember the last time I used Chrome for development purposes.

[2021-05-15 11:29] abhijitkane commented on #9935
@janusvrensburg Can you expand on a few workflows you have in mind?

[2021-05-15 12:02] moghadas76 opened #9938 "Showing disabled body values in exported request"
**Describe the Issue**

When We get postman request export(by clicking `code` button), the disabled body values will be appearing in the output. See attached figures.

**Screenshots or Videos**

![Screenshot from 2021-05-15 16-21-34](https://user-images.githubusercontent.com/23231913/118360021-144bc380-b59b-11eb-9a90-ca2167d8a316.png)

![Screenshot from 2021-05-15 16-21-18](https://user-images.git

[2021-05-15 15:58] enbis commented on #9176
same issue here, localhost endpoint & post request. status code 200 did not fix the problem. no fix so far?

[2021-05-15 16:30] enbis commented on #9176
specify the status code, it fixed the issue. in my case, I did a test with curl too and I received the `curl: (1) Received HTTP/0.9 when not allowed` error.

[2021-05-15 20:51] sryze opened #9939 "Blurry text"
**Describe the Issue**
All text elements of Postman's UI look blurry on Windows, not as sharp as it used to be in previous versions (7.x I believe).... I think there is some issue with antialiasing

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/4525736/118377822-7fc08000-b5f1-11eb-8282-54b5e90a564a.png)

**Environment Information**

 - Platfo

[2021-05-16 12:42] jgowdy commented on #4009
👍🏻
+1

[2021-05-16 16:56] KeyZJ commented on #2801
+1

[2021-05-16 20:20] ewoody opened #9940 "New Integration Request - Azure Repos"
**Describe your current workflow**
Support Azure Repos as good as Github

**Describe your ideal workflow**
We are using Azure repos as version control of the postman json file, and we want to sync between repos and postman collection.

[2021-05-17 07:24] yjw1268 commented on #2701
+1

[2021-05-17 09:01] arghyaiitb opened #9941 "Import feature for graphql broken"
**Describe the Issue**
Import feature from cURL is not working when we try to import any graphql request. It is imported as a regular request with the graphql

**Steps to Reproduce**
- Create a simple graphql query request
- Get the curl request
`curl --location --request POST 'localhost:8080/abc' \
--header 'Content-Type: application/json' \
--data-raw '{"query":"query IntrospectionQuery {\n    _

[2021-05-17 10:50] FlyveHest commented on #903
The emojis are a great temporary fix, but it would be a nice feature to add, so the selected color would be more prominent in the UI

+1

[2021-05-17 11:42] postman-support commented on #9905
Hi @ahsas5,

Could you please let us know if you were able to re-install the desktop app successfully after renaming the postman folders?

Let me know if you still need any assistance from us.

via @Lincimary | Postman Support

[2021-05-17 12:02] ghost opened #9942 "OPENSSL path issue in POSTMAN"
While enabling post man proxy **capture request** it show's an error **"Could not find openssl on your system on this path : openssl"**
i install openssl in my C drive and also added environment varibale and run command of openssl it;s work but postman capture request still getting this errors.
![postman iisue](https://user-images.githubusercontent.com/61722997/118485192-bd2e2600-b735-11eb-8ced-83

[2021-05-17 12:23] postman-support commented on #9914
Hi All,

I hope all is well! I just wanted to follow up on my previous message - is there anything else I can do to help you?

I am closing this ticket now. Simply reply to this thread to reopen the ticket and let me know if you have any further questions - I'd be happy to address them!

via @Swapnil-getpostman | Postman Support

[2021-05-17 12:26] postman-support commented on #9903
Hi there,

I hope all is well! Just wanted to follow up on my previous message - is there anything else I can do to help you?

I am closing this ticket now, simply reply to this thread to reopen the ticket and let me know if you have any further questions - I'd be happy to address them!

via @Swapnil-getpostman | Postman Support

[2021-05-17 12:38] postman-support commented on #9937
Hello @ysee-mma
Thank you for flagging the behaviour you observe on your end

I tried replicating the same behaviour on my end, however, it seems that I was able to send a rather long variable.

May I ask if you face the same behaviour when using environmental variables?

Can you also make sure that you are setting the **Current Value** of the variable before sending the request - as this is the v

[2021-05-17 12:42] shashankawasthi88 commented on #9942
Hi, @mrjijo did you restart the Postman app post the OpenSSL installation? Also, can you confirm if you can see the following directory in your system - %APPDATA%\Postman\proxy (It usually points to C:\Users<user>\AppData\Roaming\Postman\proxy)

[2021-05-17 12:53] ysee-mma commented on #9937
The problem is not with sending variable. Here is the gif.

![postman bug long variables](https://user-images.githubusercontent.com/8360097/118491725-79451c00-b749-11eb-8ada-eda64013dc9d.gif)

So after that I exporting collection and all long variables are shortened and so it broken. Currents values are fine , but they are not exporting.

[2021-05-17 13:09] postman-support commented on #9932
Hi there,

Thank you for writing in. It would be great if you can send the screenshot that covers both the error and the payload of the request.

via @ | Postman Support

[2021-05-17 13:46] postman-support commented on #9937
Hello @ysee-mma,
Thank you for the update

Thanks a lot for providing a gif I was able to replicate the same behavior.
I will check the issue internally with our team and provide you with an update

Once again many thanks for all the details shared by you, apologies for any inconvenience caused

via @nasco-a | Postman Support

[2021-05-17 18:01] timbochamp commented on #9492
The persisting loading issue on moving requests and potentially crashing should now be addressed on the latest app version and on Postman for Web! Please feel free to open new issues if these additional issues are still happening on the latest version, or reopen this issue should you still encounter the persisting loading initial issue.

[2021-05-17 18:01] #9492 closed, assigned to nobody

[2021-05-17 19:07] spacecowgoesmoo commented on #9878
The recent update has fixed this for me. Thank you!

[2021-05-17 19:45] nickshatilo commented on #9346
Any updates on this one?

[2021-05-17 20:44] xantari commented on #8038
@coditva Any status update on a resolution to this issue?

[2021-05-17 23:58] calkawahara commented on #9626
Seems like only the web version is working not the non-web. very disappointing.

[2021-05-18 00:10] kevinswiber commented on #9706
@feelipegr @joeyeng

As a workaround for the time being, you can:

1. In your personal workspace, expand the menu on the collection and select "Remove from Workspace."
2. Back in your team workspace, expand the menu on the collection and select "Share collection".
3. In the Share modal, choose your personal workspace and select the option "Share and remove from current workspace".

This will allow

[2021-05-18 01:23] ndierauf opened #9943 "Ctrl-Tab to toggle between open request tabs"
I'm a keyboard person and prefer not to use my mouse as much as possible. Can someone implement switching tabs when holding Ctrl-Tab, and of course, holding Shift-Ctrl-Tab should cycle through in the opposite direction. In addition, a single Ctrl-Tab should toggle back to the previously active tab. This is fairly standard Windows behavior, although I'm sure there is similar behavior for other OSs.

[2021-05-18 01:37] Pricilla09 commented on #9626
@brchimp and @calkawahara , this issue was fixed for few of us here and I am not seeing that again. So far, the "eye" icon is doing the job perfectly. Please feel free to add your details in here. So that it will be helpful for the developers to debug :-)

[2021-05-18 01:46] calkawahara commented on #9626
As I mentioned in the ticket. The eye works fine for web version. But I
can't get the eye to open up in the non-web view. This seemed to happen
with the past release or so. It was initially very sporadic and It was so
frustrating I finally gave up and now using the web version. Unable to do a
screen shot as there are no errors as far as I can tell it just doesn't
open so I can't edit any environme

[2021-05-18 03:04] raghwendra-sonu commented on #9626
Even i am facing this issue with desktop version 8.4.0. Environment variables list does not oon on clicking "Environment Quick Look" button.

[2021-05-18 05:50] ankit-m commented on #9922
Hi @watchwithjames,

Thank you for the detailed description about the issue. I was able to reproduce this behaviour. I'ved filed it on our internal tracker. I will update this thread when the fix is released.

[2021-05-18 05:50] giridharvc7 commented on #9943
Hey @ndierauf ,
We do have shortcuts for navigating tabs, please give it a try and let us know!
<img width="644" alt="Screenshot 2021-05-18 at 11 19 52 AM" src="https://user-images.githubusercontent.com/1040583/118597891-f95f9600-b7ca-11eb-8827-1d5a6df754b2.png">

[2021-05-18 06:48] numaanashraf commented on #9346
Hey everyone! We are still working on ironing out some of the issues in the M1 build and we hope to get an exploratory version available on our Canary channel in the next 2 weeks. Thanks for your patience!

[2021-05-18 06:49] webcoderkz commented on #9346
@numaanashraf are you upgrading electron version to the latest, ie 12?

[2021-05-18 07:36] HenrikHolmIT commented on #9614
How is this not a minor fix that has already been released?

Remove the click event on the request title but leave it on the anchor > icon...

[2021-05-18 08:03] daorren commented on #9481
Logout then login again, now it's working
version: 8.4.0

[2021-05-18 08:31] Kulu-M commented on #9614
Very annoying. I came here to open a feature request. Apparently many people think the same.

Please make a toggle or fix this.

[2021-05-18 09:15] DannyDainton commented on #8518
Hey @laurie-dgit

As we have now moved to Version 8, checking in to see if this an issue for you still?

I was never able to reproduce this in Version 7 and that's the same for Version 8. If this is no longer a problem, we can look to close this out.

[2021-05-18 09:30] yadigarbz commented on #5651
Hi everybody, I just realize in my swagger json output; there is no version in Api Info section,
if you can check manuals and detect this kind of glitch and write as response to here it might save someones' days.

`
"info": {  // -> **Parent info section**
    "title": "Auth V2 API",
    // "version": "2.0.0" -> **I added this line**
  }
`

[2021-05-18 09:33] DannyDainton commented on #6988
No longer seeing this in Version 8. Closing out.

[2021-05-18 09:33] #6988 closed, assigned to vvs11

[2021-05-18 09:43] ankit-m commented on #9916
You should've received a bell notification as well. Can you please reach out on support@postman.com with the collection ID you are watching?

[2021-05-18 09:53] laurie-dgit commented on #8518
Version 8.3.1 (8.3.1)

Still occurs.

https://user-images.githubusercontent.com/14883819/118631340-bb866000-b812-11eb-8a9d-df134bd4f854.mov

[2021-05-18 10:07] laurie-dgit commented on #8518
I have 2 machines, it replicates on both.

Mac OS Catalina 10.15.7 (19H1030)
Mac OS Big Sur 11.3.1 (20E241).

It doesn't matter what service you invoke as long as it takes text input. For example, "New TextEdit Window containing Selection" will do what it says, except if the text is selected in Postman where this truncation with ellipsis occurs.

[2021-05-18 10:08] laurie-dgit commented on #8518
And `Edit Menu → Select All` is still broken. Should I file a separate bug for that?

[2021-05-18 10:55] spchand86 opened #9944 "Set favorite/default data type for request body and response with the option auto-selected for new requests"
_**Is your feature request related to a problem? Please describe.**_
Personally for me and for the people that I know that use postman, the request body is in JSON format 95%+ time, if not more.

_**A clear and concise description of what the problem is.**_
It is a little annoying to click the raw button and then select json from the dropdown everytime for each request.

_**Describe the solution y

[2021-05-18 11:10] dom-techwriter commented on #9916
Hi @ankit-m - yep, I reached out to support (already had a ticket with them about the email notifications not including the user and the deltas of the changed). Thanks mate!

[2021-05-18 11:41] melogustavo commented on #4671
Almost 2 years since this was first opened. Please help us.

[2021-05-18 11:50] ricardomcifba opened #9945 "@ encoding to %40"
Hi everyone.
I am using Postman to test my program, bum, when i sending my email to login, Postman encoding my email. Resulting in thsi error
error_description": "[401] during [GET] to [http://hr-user/users/search?email=rickmc123%40gmail.com]

[2021-05-18 12:22] lucasvieceli commented on #9481
![image](https://user-images.githubusercontent.com/1795678/118650168-88b07d80-b7ba-11eb-9742-ca54c5ccd512.png)

[2021-05-18 13:31] davidenco opened #9946 ""Something went wrong" when trying to login for the first time!"
I have just created an account but when I got to the end it said "something went wrong" (really helpful!)... I got my validation email regardless, and I could validate my email address. But then I tried to sign in and got the same "something went wrong" error.

In Edge DevTools, it says your server is returning HTTP 500 when I try to sign in.

So I tried to reset my password, which worked fine, bu

[2021-05-18 13:52] davidenco commented on #9946
Support has just confirmed there was an issue at your end and I can now sign in.

[2021-05-18 13:52] #9946 closed, assigned to nobody

[2021-05-18 15:41] Primith commented on #9481
Hello teams,

We still have the issue with v8.4.0 behind a zscaler proxy.

[2021-05-18 15:46] dawood76 commented on #9635
@Raja-Simha , getting the same issue , and i am unable to update postman to 8.0.7 on ubuntu. My version is 7.36.5 , and it is marked as the latest version.  I also tried using ,sudo snap refresh postman, command , but got the same message that postman is up to date
![image](https://user-images.githubusercontent.com/73113095/118682553-fdff6b00-b819-11eb-9868-b4513995c65b.png)

[2021-05-18 20:10] oh-jose-vazquez commented on #4791
Having a confirmation dialog for specific environments would be very helpful

[2021-05-18 20:48] MBetters commented on #6682
+1

[2021-05-18 21:26] edersonbadeca commented on #1066
+1

[2021-05-19 00:21] fingentzenvrm commented on #982
What's the deal with this? This is open since 2015 - seriously this is a major issue with anyone who has dozens of env variables - how is this still not solved?

[2021-05-19 08:32] nasco-a opened #9947 "Configure scopes for API keys"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to configure scopes for API keys. for example, there is no way to have a read-only API key that would not grant you permissions to modify collections/environments or other data, or an API key with a restricted access

**Describe the solution you'd like**
Introduction of scopes, where team administrators a

[2021-05-19 08:36] DannyDainton commented on #9945
Hey @ricardomcifba

In order for us to know what's happening here, we would need you to expand on the information provided.

Please complete the issue template and include all the relevant details:

[code]

[2021-05-19 10:05] Padmahas opened #9948 "Environment variable auto completion or suggestions are no more showing"
**Describe the Issue**
While reusing Environment variable, after pressing double flower brackets, {{ and as soon as, partial name of Global environment variable is typed, list of available environment variables, matching the word, used to be shown previously. But in recent days, it is not happening, after one of the update (Not sure from which update, it's not working).

**Steps to Reproduce**
1.

[2021-05-19 10:11] DannyDainton commented on #9948
Hey @Padmahas

Would you be able to share a quick recording of what you're seeing, please?

Can you also inside that you have saved the global variable after entering it, there shouldn't be an orange dot on the `Globals` tab.

[2021-05-19 10:34] VaishnaviChallaPostman commented on #9948
Hey @Padmahas 👋

Just to confirm, are you adding the variables in between or at the beginning of the URL?

If it is the case, currently suggestions won't show up if added in-between or at the beginning of any text. The reason is that the entire string after '{{' is considered as search text for suggestions. It doesn’t mean that you cannot add variables at the beginning/in-between text. But the sug

[2021-05-19 10:37] trevrobwhite commented on #8728
Thank-you that also helped me, I was going crazy that I could create work spaces but never load them, we are also on ZScaler (yuk)

[2021-05-19 11:12] gorkhadk commented on #9488
If there should be a warning it should be when you use the workspace and freely give your data to some 3rd party in the cloud you almost certainly cannot trust.
Please dont warn about something that is as it should be.
Warning: you are alive ...

[2021-05-19 13:19] rsanders-relias commented on #903
+1

I just ran into this.  Going to try the emojis for production env for now.  Basically I switched from one workspace to another and failed to recognize that I'd left the environment set to production as I'd been running some queries there.  Obviously best practice would be to segment out environment access, but with SaaS apps it's not always very feasible.  Anything that allowed a color flag so

[2021-05-19 13:58] eyalgrossdev commented on #3632
Any updates on the _separate logo per collection / documentation_ feature? We would **really** like that as well. We're not holding our breathe though, there are a few other features that we and many others have requested which haven't had any traction for months. Disappointing.

[2021-05-19 14:57] Danielyago1 opened #9949 "Colors of the json are wrong"
as for now the colors of the request and the respond were red and blue and that was perfect
but now after updating to 8.3.1 using Mac, the colors are all grey. this is very hard to read
how can i change it to what it was/?\

your help is very appreciated
Thanks

[2021-05-19 15:51] arlemi commented on #4009
Hey everyone! If you're interested WebSocket's support in Postman you might want to join our livestream on [YouTube](https://www.youtube.com/watch?v=Sr-fq0eqsgk) or [Twitch](https://www.twitch.tv/getpostman) at 7PM PST tomorrow, we'll have some news to share!

And if you're not able to attend live, don't worry, we'll share the news here too. 😉

[2021-05-19 15:54] dtsylyuryk commented on #8195
+1

[2021-05-19 15:56] hayyaun commented on #8195
I think it would be applied on 1k.

[2021-05-19 16:11] Padmahas commented on #9948
Hey @DannyDainton ,
I was intended to tell "Global variable" instead of "Environment variable". Apologies on that part.
Regarding video, it is similar as @VaishnaviChallaPostman has shared, the only difference is, the suggestions are being shown when typed in the end of  URL. But in my case, the suggestions are not being shown even though I am typing in the beginning of the URL.

If you still need

[2021-05-19 16:28] Padmahas commented on #9948
Hello @VaishnaviChallaPostman ,

You got me right, it is the similar issue. But in the given video, the person is able to get suggestions when the variable is typed in the end of URL, which even I'm able to get it. But the suggestions are not showing when it is typed in the beginning of the URL.

![image](https://user-images.githubusercontent.com/11802323/118849075-02e11f00-b8ed-11eb-8c7b-708be884

[2021-05-19 18:49] Johnthelegendary commented on #8455
This Solution works like a magic

[2021-05-19 19:26] mforastier commented on #6682
+1

[2021-05-19 19:40] neglectedvalue commented on #9884
Addition to the bug:
If you change subFields type from FieldsUnion to CompoundFieldInfoBase - all works fine.
FiledInfoGroup is a recursive structure and all other tools are fine with it (we are using apollo on a front-end side and Banana Cake Pop \ GraphQL Playground for testing). May be it will help in issue solving.
![изображение](https://user-images.githubusercontent.com/69389840/118873613-9e2

[2021-05-19 20:22] unlox775 commented on #3146
You guys totally suck.  Your doc's show how to configure cookie sending, but not how to actually USE the intercepted cookies.  You list how to install the Chrome extension, check the box in Postman app.  Great.  My indicator light is green.

If what I was wanting is for a F-ing indicator light to look pretty a green, then yes, you totally showed me all I needed.  But... NO I actually wanted to run

[2021-05-19 22:04] seantsb commented on #3216
I think running into the same issue; taking 30s for "transfer start"

<img width="392" alt="Screen Shot 2021-05-19 at 18 04 31" src="https://user-images.githubusercontent.com/2584573/118890443-aa9a2500-b8cc-11eb-8c76-cd73ed1a3678.png">

[2021-05-20 08:51] m3dbedb opened #9950 "Unable to edit tests code"
**Describe the Issue**
sometimes tests tab became read-only

**Steps to Reproduce**
Open some test
try to edit tests code
text is selectable, but read-only

**Environment Information**

 - Platform Type: intel i3 desktop
 - Postman Version: 8.6.0 win32 6.1.7601 / ia32
 - Operating System: windows 7 32

**Additional Context**
It may be related to performance. I use i3 CPU with 1.1 Gb free RAM with

[2021-05-20 09:02] DannyDainton commented on #9950
Hey @m3dbedb

Could you provide an image or a screen recording, please? It will help us to _see_ what's happening at your end. 😄

[2021-05-20 09:05] louis-hoang21 commented on #9346
I waited almost 1 year. So I hope to release a version that supports m1 soon, not run through the via Rosetta2 translation plz.

[2021-05-20 10:15] postman-support commented on #9949
Hi there,

The current version of the app is v8.4.0 and you can update it from settings->update. I could see the response that I'm getting for a request is having the expected color in red & blue.

​ ![](https://postman.zendesk.com/attachments/token/7KOVPBOltnbOp5jVzrlI4tK50/?name=Screenshot+2021-05-20+at+3.32.26+PM.png)​

Also, the request is having the relevant color as shown in the screenshots.

[2021-05-20 10:29] awasall opened #9951 "Request from a Collection is not visible in a tab"
Hello,
I have problem to see the content of a miroservice on postman . when I click on a microservice I have an empty page it does not open even though I have the latest version of postman.
Can Someone help me?

[2021-05-20 10:35] DannyDainton commented on #9951
Hey @awasall

To know what's happening here, we would need you to expand on the information provided.

Please complete the issue template and include all the relevant details:

[code]

[2021-05-20 10:51] awasall commented on #9951
when i click on a microservice i have a blank page, the page is blank
![postman](https://user-images.githubusercontent.com/50166614/118966493-5721e880-b959-11eb-875d-991b049ac6b8.PNG)

[2021-05-20 10:54] awasall commented on #9951
my Postman version is: v8.4.0

[2021-05-20 11:07] DannyDainton commented on #9951
By microservice, you are referring to a request inside a Collection? It doesn't look like that Request Tab has been opened, Is this the same if you click on any of the other Folders or Requests?

I can also see that the overview tab isn't correctly displaying the details of the workspace. Can you close that tab and then this button to open it again:

![image](https://user-images.githubusercontent.

[2021-05-20 11:28] awasall commented on #9951
I have the problem to open the request and I have closed the application and I even restarted the computer but have the same problem.
![postman1PNG](https://user-images.githubusercontent.com/50166614/118970820-314b1280-b95e-11eb-9ca4-04d45243dddc.PNG)

[2021-05-20 12:17] DannyDainton commented on #9951
Are you able to open any request? One from a different Collection or by selecting the `+` button in the builder view?

Are you able to duplicate the Collection and open the duplicate request?

Can you Export the Collection and Import it back into the app to open it that way?

Are you able to sign out (Click on your avatar in the top right) and then sign back in again?

It's tough to know what the

[2021-05-20 12:35] BlueInt32 opened #9952 "The "Save request" popin should show more collections at a time"
**Is your feature request related to a problem? Please describe.**
I have several collections (about 15), and when I want to save a new request into one of the existing collections, the size of the select window shows only 3 collections at a time, while there is plenty of space available to show at least 6 at a time. I am forced to chose one of them to save the request, so I am forced to scroll in

[2021-05-20 13:02] raviraja opened #9953 "oAuth 2.0 with Authorization code trying to open in browser."
**Describe the Issue**
I am trying to get access token from oAuth 2.0 with Authorization code grant, i haven't checked the Authorize using browser checkbox, when i enter all the necessary fields and try to generate token, new blank popup is appearing, another popup is appearing with content "Authenticating via browser", but no URLs are getting opened in browser as well, all the screens gets stuck

[2021-05-20 13:41] diptarag commented on #9951
Also, is this happening after a recent Postman version upgrade and the microservice was already open when you upgraded Postman?
Is it possible to send the logs? Refer to [this](https://support.postman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-) article for retrieving the logs.

[2021-05-20 13:45] appurva21 commented on #4009
Hello everyone 👋 !

We are immensely excited to announce that Postman now supports the testing of WebSocket APIs! 🎉

In the latest version of Postman, you can now hit the `New` button in the left sidebar and open a WebSocket Request tab.

![https://user-images.githubusercontent.com/24985700/118967199-0d042b80-b988-11eb-848a-1c890b59836a.png](https://user-images.githubusercontent.com/24985700/11896

[2021-05-20 13:45] #4009 closed, assigned to shamasis, a85, vkaegis

[2021-05-20 14:09] matthewlein commented on #5222
I also want this, so I knocked out a quick npm module to sort an exported collection by name and verb.

https://github.com/matthewlein/postman-collection-sorter

## Usage

1. In Postman, export your collection as a Collection v2.1
1. Run:

   `npx @matthewlein/postman-collection-sorter ./path/to/your/API.postman_collection.json`

1. You should see output like:

[code]

4. In Postman, import the ne

[2021-05-20 14:09] shamasis commented on #5285
Postman v8.5.0 onwards supports WebSockets for connecting and viewing messages. https://github.com/postmanlabs/postman-app-support/issues/4009#issuecomment-845136513

[2021-05-20 14:15] shamasis commented on #7366
Postman v8.5 onwards have added support to connect to WebSocket APIs and send/receive messages https://github.com/postmanlabs/postman-app-support/issues/4009#issuecomment-845136513

[2021-05-20 14:19] shamasis commented on #4009
Thanks everyone for patiently waiting for this. Completing the loop around our [API Platform](https://www.postman.com/api-platform/) constructs was crucial alongside plugging in other protocols.

I would like to extend a line to @matanpramp for reporting this feature request in the most succinct way possible and to @gepopa - the team is excited to someday meet and share 🍻.

Support for subprotocol

[2021-05-20 14:24] ynouri opened #9954 "Monitoring: Run Every 1 Minute (Increase Maximum Frequency)"
**Is your feature request related to a problem? Please describe.**

We are continuously deploying our API multiple times per day, and would like to monitor the API health throughout the day. In particular, having a very granular resolution on the monitoring would help us detect micro outages. Even outside of micro outages, knowing that we will be alerted no more than 1 minute after the beginning o

[2021-05-20 14:28] victornaito commented on #4631
Is there some response about it ?

[2021-05-20 14:29] victornaito opened #9955 "Why can't this be used to update the Authorization header if using the special Authorization helper tab?"
Why can't this be used to update the Authorization header if using the special Authorization helper tab?
We have a good use case for this, there is some special logic to be done with our tokens, after a user has finished interactive login with OAuth2. Essentially we re-sign the token, and this is working with a pre-request script to make a new token, but I can't replace the existing Authorization

[2021-05-20 15:15] DannyDainton commented on #9952
Hey @BlueInt32

We have just released version 8.5.0 which has various improvements for the `Save Request` feature. Would you be able to update the app version and see if that addresses your feature request, please?

[2021-05-20 15:22] awasall commented on #9951
I have downgraded version 7 and I have no more problems

[2021-05-20 15:34] ManiacDC commented on #9929
Yes, this is the reason behind this issue: https://github.com/postmanlabs/postman-app-support/issues/9476

[2021-05-20 15:40] BlueInt32 commented on #9952
Indeed, the new version is way better, thanks !

[2021-05-20 15:40] #9952 closed, assigned to nobody

[2021-05-20 16:52] shamasis opened #9956 "More powerful search/filter on WebSockets"
The search/filter in the message pane is excellent :chefs-kiss: but would be even better if it could be given the same power as the other search fields in Postman, i.e. case/regex matching.

[2021-05-20 16:54] dgliddenIDF commented on #1535
Leaving a comment for another request for this feature.

We have a good-sized collection of tests against the application we primarily use, but use-cases for different clients can be vastly different and the ability to "link" tests into different groups would be extremely beneficial to being able to build a generic set of tests that can be put together in different ways depending on use-case.

[2021-05-20 17:05] komape commented on #9910
the same error occurres with version 8

[2021-05-20 17:34] 4selin commented on #5846
+1

[2021-05-20 18:28] ThanksSirAlex commented on #8195
+1

[2021-05-20 19:03] anthonyT0 commented on #2819
Any news here about that feature?
Thanks a lot in advance!

[2021-05-20 20:21] aliaksander-samuseu commented on #2369
Same issue here.. How can it still be the case after 5 years?
On Ubuntu 18, the latest stable Postman version - in `/etc/hosts` I override an existing web service's DNS name to point at a host on my local network which runs a mock http server. The I try to use Postman's intercept feature, while configuring my browser to use 127.0.0.1:5555 as a proxy. But it never gets to my local host, it tries to

[2021-05-20 21:03] stonygrunow commented on #3632
Thanks Raja. Just to be clear, we have multiple instances of documentation, and yes, we would like the logo per-documentation to match the respective logo/favicon/all that stuff. We've shoe-horned in the best favicon/logo as possible for all of them, but that's a bit like having a single bicycle. Lots of people want a mountain bike and a road bike, and instead, we get 'bike' and have to hope it fi

[2021-05-20 23:52] pentatronix commented on #3632
To be clear, this is to allow MULTIPLE icons and logos to be used, for
instance multiple projects or in our case we provide API's for multiple
customers, each of whom needs their own logo. Our work around was to keep
getting free accounts and publishing each API to it's own account, but it
leads to a maintenance nightmare.

On Thu, May 20, 2021, 2:03 PM Stony Grunow ***@***.***> wrote:

[2021-05-21 04:55] diptarag commented on #9951
I would really appreciate it if you could send us the logs. Just want to understand what went wrong and probably we can help you use the latest version.

[2021-05-21 04:59] deathemperor opened #9958 "[MacOS] Postman always returns to Mac's screen when Mac wakes up from sleep."
I put Postman on extra monitor always. But always, when I wake my Mac it comes back to Mac screen.

[2021-05-21 05:11] ndierauf commented on #9943
It’s ok, but unintuitive. Should be Ctrl-Tab, Shift-Ctrl-Tab.
Nick.

From: Giridhar ***@***.***>
Sent: Monday, May 17, 2021 10:51 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: ndierauf ***@***.***>; Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] Ctrl-Tab to toggle between open request tabs (#9943)

Hey @ndierauf<https://github.com/ndierauf> ,
We do have shortcuts for

[2021-05-21 06:44] nasco-a opened #9959 "Wrong Authorization for collections shared by link"
**Describe the Issue**

 If authorization is set on collection level, the authorization header will be present in the request even if the individual request's authorization is set to **No Auth*

**Steps to Reproduce**

1.Create a collection with authorization on collection level
2. add two request(**requestA**, **requestB**)
3. Set "No Auth" for RequestA
4. Set "Inherit from Parent" for **RequestB

[2021-05-21 07:02] ippschi commented on #461
@arlemi I saw your post above and I can't reproduce this with Postman 8.5.0. Can you confirm this?

[2021-05-21 07:07] vvs11 commented on #9762
@DanDepot We are working on this issue. will give you an update soon on the release once we test it internally

[2021-05-21 07:20] renjithrnair opened #9960 "Not able to view the environment details by clicking on eye icon"
Describe the Issue

The eye icon in the top right corner of the postman application which is next to the environment file dropdown menu should be clickable and we should be able to see the environment variables and their values if an environment is selected. But I'm not able to view the environment variables and their values.

Steps to Reproduce

1.Open the postman workspace
2.Select an environmen

[2021-05-21 09:55] spudcz opened #9961 "UrlEncoding of char %"
I have to communicate with API that has feature to filter data by dynamic query sent in querystring parameter where. One of the posibility to filter is using LIKE

GET <API_URL>?where={"name":{"$like":"%search%"}}
![image](https://user-images.githubusercontent.com/15734023/119118639-b7348f80-ba2a-11eb-891f-3f3cdad349b0.png)

This query above is encoded by Postman however only double quotes are enc

[2021-05-21 10:32] manmeet90 commented on #2489
This is what worked for me on MacOs 11.x.x
1. Close the Postman app if open.
2. make sure your postman app is in `/Applications` folder.If not first move the installed Postman app to /Applications
3. Open the `terminal` app.
4. start Postman from the terminal by running the command `Postman.app/Contents/MacOS/Postman`

 This should launch the postman app. Now try to download the update You should

[2021-05-21 12:04] jazzgershoam opened #9962 "Postman proxy certificate missing for MacOS"
Hi Team,
Greetings.

I'm trying to find the proxy certificate for MacOS to enable https proxy.
Ref: https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#capture-https-traffic-with-postmans-built-in-proxy

But unfortunately the folder/certificate is unavailable in MacOS.
[ ~/Library/Application Support/Postman/proxy]

Can you please help here.

**PFB th

[2021-05-21 12:39] gooza commented on #3358
To uncomment the lines i use find "//" and replace in selection. It is anoying but better than comment out line by line.

[2021-05-21 13:52] RikkiMasters commented on #9951
I'm experiencing the same issue.

New tabs won't open unless I right-click the request, then 'Open in Tab'. To open the collection settings I need to click the three dots, then 'Edit'. I'm also not able to open the release notes from the top right settings cog.

The problem started a few updates ago, but don't know which one. I've just put up with it as the workaround is working. Have tried reinst

[2021-05-21 14:12] Saponature commented on #7294
I noticed that High Usage happens when there is an update that's auto-downloaded, and it's waiting to be installed. Even when I'm not actively working with Postman, and all tabs are closed.
Usage stays high until I update and restart. This has been the case for several version older, and still happened today for v8.5.1 notification.

[2021-05-21 14:52] diptarag commented on #9951
@RikkiMasters is it possible to send the logs? Export the logs just after an unsuccessful tab open attempt

[2021-05-21 15:00] RikkiMasters commented on #9951
@diptarag by going to view/developer/log files in finder?

After trying to open a tab, none of these files are updated or changed. Do you need any file in particular?

[2021-05-21 17:33] timbochamp commented on #9960
This looks like a duplicate of #9750 if you could report your finding there please, @renjithrnair ? I'm curious if the total number of requests, collections, console activity in runs is causing a performance issue if you could clarify that? I suggested some workarounds in the original issue and the steps to sending logs along to us which would also be helpful!

[2021-05-21 17:33] #9960 closed, assigned to nobody

[2021-05-21 17:54] timbochamp commented on #6001
The latest comments since this issue being closed look similar to #9729 if you'd like to follow the resolution there! Apologies for the frustration in having to find workarounds for resolving these variables in the meantime.

[2021-05-21 18:59] joel-wenzel commented on #8350
Yes Please

[2021-05-21 20:52] Nmirontsev commented on #9796
@kepikoi , thank you for the workaround. It was a blocker for me.
@timbochamp , in my case all references to globals are not working. Specifically:
- requesting global variable from request body. I have a combination of environment and global variables in request body. Environment variables are fetched correctly, but globals are not.
- requesting global variable from test script. Console shows tha

[2021-05-21 22:20] dmwatan commented on #6832
I'm seeing this issue on a Mac too. Currently Postman v8.5.1. It seems to happen if you actually do something with the new tab that's opened from clicking on a link. If you don't click "Send" on the new tab (i.e. just close it), links continue to work from the originating tab. So like this:
- Orig tab: click on link, opens new tab
- New tab: close this tab
- Orig tab: click on same link as before

[2021-05-21 23:20] diogojpb commented on #6682
+1

[2021-05-22 00:57] Naif95 commented on #9513
I have the same issue and it's very annoying for me as a developer working on many different projects.

[2021-05-22 03:50] ASR-WIR commented on #4401
1. Version 7.36.5
2. linux 5.8.0-53-generic / x64
3. I am not using any proxies or VPN

[2021-05-22 10:18] JudaristFullstackProCoder opened #9963 "0New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-05-22 13:31] awasall commented on #9951
How can I view the log file on postman?

[2021-05-22 13:51] fransf-wtax commented on #3845
@RuniQa Would really appreciate having this. As it stands, the behaviour is a bit all over the place: a test assertion fails? Tests continue. A request returns an error code? Tests continue. A Javascript error occurs in a Test? Tests stop.
At least give us some controls to set what should be cause for a test run to be stopped and what should be ignored.
If this is already possible in newman, is it

[2021-05-22 14:05] arlemi commented on #461
@ippschi I tried it with 8.5.0 and was able to get it to work again, can you give more details on what you're trying to do? And what's not working? You'll want to make sure the right environment is selected if you're trying to access its variables.

![image](https://user-images.githubusercontent.com/5029719/119229271-14a20c80-bb0f-11eb-9924-56cdb70247ff.png)

[2021-05-22 14:31] hardikcomp commented on #1066
+1

[2021-05-22 15:03] matgeroe opened #9964 "Dismiss team full banner"
Hi, I am not sure how to classify and/or file this.

I have just installed the latest version of postman, and I came across this red banner stating that my team is full.
![image](https://user-images.githubusercontent.com/11758128/119230768-ebd54380-bb1d-11eb-90bb-a086df73cb2d.png)

It is shown not only when viewing a workspace that is shared but also when viewing one that is not. Frankly it is rat

[2021-05-22 15:10] luca147 commented on #2801
+1

[2021-05-22 15:25] blackr1234 commented on #9488
## Hey, after several updates I still can't disable it permanently

## May I know how hard is it to add a setting for disabling it PERMANENTLY?

## Please be user-centric

## If you want us to pay, please show some other text, ok?

[2021-05-22 18:35] rdorris opened #9965 "Follow link only works 1 time in a tab"
Running a post which returns some json that includes a link. Clicking the link the first time opens a new tab as it should. Rerunning the post in the first tab creates new json with a new link, but clicking on that link no longer opens a new tab.

**Steps to Reproduce**
Perform a post in tab, results show a link.
Click on link to open 2nd tab. Close 2nd tab.
Perform post in 1st tab to get new json

[2021-05-22 18:36] mrjijo commented on #9942
i resolved this issue by
installing openSSL for 32 and 64 both , my system is 64 but after install 32 and set environment varible , and restart my PC it works .
![Screenshot 2021-05-23 000540](https://user-images.githubusercontent.com/61722997/119237493-bef35180-bb5a-11eb-9549-33c7ab782bc5.png)

[2021-05-22 18:36] #9942 closed, assigned to nobody

[2021-05-22 18:37] mrjijo commented on #9942
Thanks for reply .

[2021-05-23 01:13] ospireon commented on #7867
Why is this closed, the original #4463 link does not solve this issue

[2021-05-23 11:18] QuAzI opened #9966 "Certificate generation doesn't work on Windows properly"
Looks like value for -subj should be double quoted because of spaces. Even manually I can't run it.

[code]

as a result no certificates present
![image](https://user-images.githubusercontent.com/1897605/119258086-e127b680-bbd0-11eb-9c19-0c9cddc1d2e3.png)

[2021-05-23 16:48] shamasis commented on #9961
We've spent years of deciding the appropriate approach for this considering all use cases and this is the best-fit compromise that works. I will let @codenirvana expand more on this.

[2021-05-23 16:48] #9961 closed, assigned to codenirvana

[2021-05-23 22:59] pennstatephil commented on #9964
+1 - just came to ask the same. Make the bar dismissable, or show the warning when you try to add a new team member.

[2021-05-24 01:35] VEArea commented on #9785
The steps are pretty clear:
1.Add Request
2.Select the "Body" tag.
3.Select the "form-data" item.
4.Select "file" from the "Key" option.
![image](https://user-images.githubusercontent.com/39046087/119284295-f3a5fc80-bc71-11eb-9742-991ddc70be60.png)
5.click "Select Files" button, the optionally select a file, and it show me the tip:
![image](https://user-images.githubusercontent.com/39046087/119284

[2021-05-24 01:38] TOP-LH opened #9967 "Will postman consider internationalization in the future? For example, simplified Chinese"
Will postman consider internationalization in the future? For example, simplified Chinese

[2021-05-24 04:36] ankit-m commented on #9922
Hi @watchwithjames,

The fix for this bug is deployed. Please reopen this ticket if you are still facing the issue.

[2021-05-24 04:36] #9922 closed, assigned to ankit-m

[2021-05-24 05:02] shashankawasthi88 commented on #9966
@QuAzI I am assuming that you are trying to generate the certificate to use the Proxy functionality of Postman. You don't really need to generate the certificate as such. Can you follow the steps [here](https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#windows) to install the certificate?

[2021-05-24 05:27] renjithrnair commented on #9750
I'm also facing one issue related to environment details : https://github.com/postmanlabs/postman-app-support/issues/9960
Wonder if anyone else is facing a similar issue!!

[2021-05-24 05:50] triplea-dev commented on #2847
Nothing yet? Forced to use schemas just for something simple but as important as optional/required parameters in JSON data?

[2021-05-24 06:18] shashankawasthi88 commented on #3146
@unlox775 while we look at the documentation gap, please follow this [tutorial](https://www.youtube.com/watch?v=Swjims0aOl4) explaining the step-by-step process of capturing cookie works.

[2021-05-24 07:45] QuAzI commented on #9966
I solved it for me but in general will be fine to fix it.
Also installed perl can invoke troubles with his broken version of openssl. So right version of OpenSSL in `%path%` should be before perl.
Now I am stuck on [IIS interaction](https://community.postman.com/t/use-postman-as-proxy-from-iis-app-timeouts/24012)

[2021-05-24 08:47] sbiemont commented on #7466
Hi @MesaSantiago96

The new release of postman is very coherent and the response is now clear : both headers `transfer-encoding` and `content-length`, by definition, cannot be used at the same time.

The one and only solution is to have a consistent set of header with `transfer-encoding` **or** `content-length` (but not both).

An example of an answer on the same problem : [chunked-encoding-and-co

[2021-05-24 10:02] Rykee commented on #208
I had a wsdl referencing xsds, and even after merging I couldn't import the wsdl. I get the following error:
Cannot read property ‘@_targetNamespace’ of undefined.
Basically same issue as described here: https://community.postman.com/t/version-8-4-0-import-wsdl-specification/23715/5
I tried merging the wsdl and xsd @wiffelwicht  provided, but there is a CommonData.xsd import too that wasn't provid

[2021-05-24 10:35] DannyDainton commented on #9918
I'm going to close this as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2021-05-24 10:35] #9918 closed, assigned to nobody

[2021-05-24 10:36] DannyDainton commented on #9105
I'm going to close this as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2021-05-24 10:36] #9105 closed, assigned to nobody

[2021-05-24 10:37] DannyDainton commented on #9967
I'm going to close this as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2021-05-24 10:37] #9967 closed, assigned to nobody

[2021-05-24 10:42] DannyDainton commented on #9965
Hey @rdorris

I've not been able to replicate this issue with the step that you have provided, are you able to share a short recording of this happening in the app, please?

[2021-05-24 11:34] postman-support commented on #9932
Hi,

We haven’t heard back from you on the requested information, if this is still an issue then kindly provide us more information.

Thanks!

Regards,
Asha Singh

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2021-05-24 12:34] marco-brandizi commented on #2489
@manmeet90, this usually doesn't work unless you're an admin user when running the app from the terminal. Trying to first become admin (`su`, or `sudo`) doesn't work either, cause only the current user can open graphical applications on its own desktop.

Bottom line: it seems developers don't want to provide a proper way to upgrade their app under MacOS (they closed this bug two years ago, without

[2021-05-24 13:05] thoffmann-fms opened #9968 "Sort Requests in a Collections folder"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a time saving idea.

**Describe the solution you'd like**
Right-click on a collections folder and select "Sort Requests"

**Describe alternatives you've considered**
Currently have to manually drag requests around.

**Additional context**
![image](https://user-images.githubusercontent.com/28546239/119351907-0834

[2021-05-24 14:04] swport commented on #3716
@madebysid Duplicate headers added in a request should be able to override headers generated by Postman, including Authorization header.

[2021-05-24 14:12] therockstorm commented on #3117
I've been using [oas-markdown](https://github.com/therockstorm/oas-markdown) to accomplish this. It's a CLI that takes in a resolved OpenAPI schema and outputs a schema with all request body params documented, [here's an example](https://docs.vertexvis.com/#a8f05429-036c-45b8-89ef-6bd3aa14a7fe). It's a workaround, but I've grown to realize waiting on the Postman team is a fools errand.

<img width

[2021-05-24 16:29] Duduxs opened #9969 "Can't copy and paste if the password isn't visible"
**Issue**

When I try to copy a basic authorization password, and for example I try to paste it elsewhere, the current value is not pasted. Unless I click on the "Show Password" checkbox and try to copy, however copying the password with the checkbox unchecked is the same as nothing.

**Steps to Reproduce**

1 - Enter the Postman
2 - Create any http request
3 - Add Basic Auth type authorization
4

[2021-05-24 16:34] wiffelwicht commented on #208
@Rykee Thanks for the work, i am pretty busy atm, but i can provide the CommonData File via PN

[2021-05-24 16:48] desertfoxmb commented on #8021
Any more recent updates, particularly around @oheydrew's request for the ability to lock a collection as "master" and allow viewers to submit PR's?

[2021-05-24 20:07] diptarag commented on #9951
@awasall you can refer to this article for viewing the log files - https://support.postman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-

@RikkiMasters is it possible to send a zip of all the log files? At least the renderer-requester.log will be needed

[2021-05-24 21:07] NickBarrett commented on #9965
I believe this is what @rdorris is experiencing. It is certainly the problem we have.

https://user-images.githubusercontent.com/2435714/119407537-78f3e480-bd38-11eb-860f-ed9002e1f93d.mp4

Hope that helps =)

[2021-05-24 21:59] rdorris commented on #9965
This is the exact issue. Thanks for posting the recording.

[2021-05-24 22:52] franke-hub commented on #9176
I had the exact same problem, only it had nothing to do with Postman. I'm learning nodejs and experimenting with the http module. The message comes from the http module. I don't know whether the error (or errors) are client or server related, but they are related to html data itself.

My sample files begin with the byte order mark, the 0xefbbbf sequence (followed by 0x0a, '\n'). Removing this (the

[2021-05-24 23:34] osowskit commented on #8879
We still get a handful of developers that run into this bug every month. Related to https://github.com/twitterdev/postman-twitter-ads-api/issues/2

[2021-05-25 04:31] postman-support commented on #9962
Hey @jazzgershoam

Thanks for reaching out to Postman Support. Sorry that you are facing issues while using Postman --- Happy to help.

This is not an expected behaviour.

Could you please try manually searching for the proxy folder to find if it is located in any other file path? (just to confirm if the folder is moved or Postman is installed in another location other than Applications folder ina

[2021-05-25 05:38] Malkeet12 opened #9970 "Getting UI distortion when going through notifications"
**Describe the Issue**
Getting UI distortion when going through notifications

**Steps to Reproduce**
Have a look at the video

**Screenshots or Videos**
PFA

**Environment Information**
macOS Big Sur
Version 11.2.3

 - Platform Type:
 - Postman Version: Version 8.5.1 (8.5.1)
 - Operating System:

**Additional Context**

https://user-images.githubusercontent.com/14369311/119444642-31298900-bd49-11

[2021-05-25 05:48] archongum commented on #2761
Workaround: create a new collection for export purpose, then drag and drop the subfolder you wanna export to the collection, and export the collection.

[2021-05-25 06:11] postman-support commented on #9905
Hi @ahsas5,
Hope you are doing fine!

Just letting you know I’m still here so feel free to give me a shout if you’re still running into any issues.

via @Lincimary | Postman Support

[2021-05-25 06:34] ippschi commented on #461
Hi @arlemi Thanks for answering. I try to give more details. First of all. I have selected the right environment and both my example variables are existing and have a current value. I will use "country" and "branchId" for my examples:

Working example for variable "country". When I start writing country it will auto-suggest and I can see the "Current: " value.

![country-1](https://user-images.git

[2021-05-25 07:02] upieez commented on #9962
Experiencing the same issue here. Can't seem to find the certificate even after searching for a proxy folder. The mac I'm using  is brand new.

[2021-05-25 07:05] postman-support commented on #9937
Hello @ysee-mma,
I hope that you are doing great.

I'm just letting you know that since the issue was actively reproducible I have raised it to our engineering team and they already started their investigation.

Many thanks for flagging this to our attention - apologies for the inconvenience caused

via @nasco-a | Postman Support

[2021-05-25 07:49] postman-support commented on #9962
Hey @upieez and @jazzgershoam

May I request to know if you have OpenSSL installed. Could you please verify this using `openssl version` command in the CLI.

If not installed, please install OpenSSL, quit Postman app and reopen to see if the files are present.

Will wait to hear back from you.

via @VaishnaviChallaPostman | Postman Support

[2021-05-25 08:08] VaishnaviChallaPostman commented on #9948
Hey @Padmahas
Sorry for the delay in my reply.
Yes, exactly 💯  That is what I have tried to convey. Really appreciate your explanation in detail.
Our engineers are working to resolve this behaviour.
Any updates on this will be posted to #5067  - Please make sure to subscribe to #5067, so that you won't miss any any updates.
(Closing this out as this is a duplicate of #5067, will tag you on that th

[2021-05-25 08:08] #9948 closed, assigned to nobody

[2021-05-25 08:10] VaishnaviChallaPostman commented on #5067
@Padmahas - https://github.com/postmanlabs/postman-app-support/issues/9948

[2021-05-25 08:25] DannyDainton commented on #9970
Hey @Malkeet12

I'm not really sure what you mean by 'UI Distortion' - Do you mean that it's trying to load more notifications but it's not doing that?

[2021-05-25 09:27] DannyDainton commented on #9966
Hey @QuAzI

It looks like you have solved this issue 🎉  - I'm going to close this one out for now.

[2021-05-25 09:27] #9966 closed, assigned to nobody

[2021-05-25 10:01] sridhareaswaran commented on #1066
+1

[2021-05-25 11:37] victordias2000 commented on #9845
I'm experiencing this issue with Postman app (v8.4) on macOS (11.3.1). Before v8, loading large collections were fine.

[2021-05-25 12:25] nicky-chen commented on #9274
一样，解决不了

[2021-05-25 13:42] mr-kapoor commented on #8476
Hi @Raja-Simha , is it resolved?

[2021-05-25 14:24] pratnala commented on #8605
Closing this issue as I don't see it in recent updates.

[2021-05-25 16:08] shoglu opened #9971 "Reset All button in the scope of Variables Concept isn't functioning"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type:
 - Postman Version:
 - Operating System:

**Additional Context**

[2021-05-25 16:08] pokehuy commented on #4222
i saved everywhere i could, but it doesn't work until now...

[2021-05-25 16:23] waynebloss commented on #4253
I just want to sort my list of collections alphabetically.

[2021-05-25 16:25] Messhias commented on #5803
Why this is closed? Independent of security concerns or whatever you think of you're protecting me I guess it would be nice to have a way to simulate by enabling something in the configurations with proper warnings and etc... Now me (some people here in the thread).

[2021-05-25 16:25] waynebloss commented on #4272
Hello, I would also like this very basic feature.

[2021-05-25 16:26] arlemi commented on #5803
@Messhias https://github.com/postmanlabs/postman-app-support/issues/5803#issuecomment-684892534

[2021-05-25 18:12] mylastore commented on #8455
Did you figure this out? For me also not sending the body at all

[2021-05-25 20:14] lflucasferreira opened #9972 "Ubuntu | v8.5.1 | The environment menu does not open on the primary screen when it is not empty"
**Describe the Issue**
I have two monitors and the recent release does not allow me to open the environment floating menu (via the eye icon) when I am using the app on the primary screen (the computer display). When I move it to the secondary screen, it works seamlessly.

I found out that if I select the "No environment" option, on the primary screen, it opens the floating menu. However, when I cr

[2021-05-26 01:21] EduardoRomo opened #9973 "Extra Resource value in OAuth 2.0"
**Describe the Issue**

OAuth 2.0 token shows one Resource in the UI, but it has two if the collection is exported to a json file, which makes the requests to get a new token fail.

**Steps to Reproduce**

- Create a collection that uses OAuth 2.0 and generate a valid bearer token
- Create a second collection and setup OAuth 2.0, use a different Resource value
- Postman console shows this error: `

[2021-05-26 02:45] clarkwang commented on #4253
Inspired by https://github.com/postmanlabs/postman-app-support/issues/5222#issuecomment-845157470 I wrote a simple Python script at https://github.com/clarkwang/postman-sort with which you can sort the exported Collection and then import back to Postman.

[2021-05-26 02:46] clarkwang commented on #5222
Inspired by this I wrote a simple Python script at https://github.com/clarkwang/postman-sort .

[2021-05-26 07:22] callbipin commented on #8455
I ticked all the headers then it worked. Then I realized you need to tick content-length.

[2021-05-26 07:22] m3dbedb commented on #9072
The issue does not appear in 8.5.1 and other 8.x.x versions under windows 7-32

[2021-05-26 08:00] prashcr opened #9974 "Include node-forge in Postman sandbox"
**Is your feature request related to a problem? Please describe.**
When writing a Postman request, I sometimes need certain crypto utilities. Postman's sandbox includes [crypto-js](https://www.npmjs.com/package/crypto-js) however this library is very limited and is missing tools one would expect from a crypto library such as PKCS7 or ASN1 support.

**Describe the solution you'd like**
I would like

[2021-05-26 09:56] bagage commented on #8844
Bumping this issue since a few months have passed since. @jotsarup is there any ETA for it? :heart:

[2021-05-26 11:26] jimmyvadera opened #9975 "New Integration Request - <Dear Inventory>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-05-26 11:27] Swapnil-getpostman opened #9976 "Detailed count of the number of requests passed/failed in collection runner UI."
**Is your feature request related to a problem? Please describe.**
Currently, there is no way in the collection runner to check the total number of **Requests** failed/passed.

**Describe the solution you'd like**
It would be really nice to have a feature in the collection runner status bar that shows the total number of requests failed/passed specifically to #iterations.

**Describe alternatives

[2021-05-26 11:37] shashankawasthi88 commented on #5904
@GitHubHelps @AjaySewradj we are starting explorations around this. Would like to get on to a short call to understand your use case better. If possible can you pick a time for a call (30 min) using this link - https://calendly.com/shashank-awasthi/ide-plugin-explorations

[2021-05-26 11:39] shashankawasthi88 commented on #7158
Closing this issue as we have Postman on the web (https://go.postman.co) and cloud agent running API calls from the web.

[2021-05-26 11:39] #7158 closed, assigned to shamasis, numaanashraf

[2021-05-26 11:48] AjaySewradj commented on #5904
Hi @shashankawasthi88
My usecase is very simple:
I would like to work with my Postman collection in the same way as I work with my code files. So that means:
- Edit Postman collections in an IDE (like VSCode)
- Work with my own Git repository, so that everytime the Postman collections changes, Git notices a diff, and I can commit the change

[2021-05-26 12:20] OmThapa commented on #5194
When are we getting this support in Postman & Will test scripts be supported too? (Being Greedy Here)

[2021-05-26 12:53] postman-support commented on #9949
Hi there,

Hope you are doing good. Since we did not hear back from you for a while, so just wanted to follow up with you on this ticket to check if you need any further assistance.

Let me know if you have any other queries or if it's okay to close this ticket from here?

Best,
Swapnil | Postman, Inc.

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

[2021-05-26 14:09] mylastore commented on #8455
Never mind for me it was an error on my side. This is such a good library. Thanks

[2021-05-26 14:16] acgritt commented on #9379
It would be nice if this feature would automatically save updates to the file it was imported from and automatically re-load/re-fresh when the file changes. We use Postman to do our CI/CD tests but found that the API was lacking as we change/update the tests with the code and there wasn't an easy way to have it get the version that matched the code. Similar issue when we looked at using the Git in

[2021-05-26 14:44] CaptainAgilek commented on #7414
true
it autofills the current value, but actsx as it is not filled and u have to do it manually

[2021-05-26 15:24] zhiyong80 commented on #1647
For those who struggle with transferring history to a new PC, try this:

Copy and paste the following folder:

%USERPROFILE%\AppData\Roaming\Postman

I tested this with Postman V8.5.1 Windows App X64 version.

[2021-05-26 15:57] smaeder opened #9977 "Search does not show all matching collections"
This is a very late bug report - several versions back, the UI of the Postman app on Mac OS was updated, and the search began not showing all matching collections, and instead only a few.

I save lots of templated requests in Postman with auth headers for various customers, and there are too many to scroll through to find what I am looking for quickly, so I relied upon search to see a list of requ

[2021-05-26 16:11] DannyDainton commented on #9977
Hey @smaeder

Just so we're talking about the same thing, do you mean the Filter on the Collections sidebar or the Universal Search feature at the top of the app?

[2021-05-26 16:26] DannyDainton commented on #9971
Hey @shoglu - Not sure what happened here but could you update your issue with the relevant details, please?

[2021-05-26 17:24] shashankawasthi88 commented on #9890
@akashsharma99 @ivanjeremic We are starting exploration around VS code extension. Will you be willing to get onto a short call with us, it will help us understand the use cases well. Feel free to book a slot using this - https://calendly.com/shashank-awasthi/ide-plugin-explorations

[2021-05-26 18:00] smaeder commented on #9977
Hi Danny,

Thanks so much for your reply and trying to clarify my request.

I did not even know about the filter on the collections sidebar. That is exactly what I was needing, and it works as I was expecting the "Universal Search" to work. Several versions back, the "universal search" box worked as this collections sidebar filter works now, so that was the way I had always used it, and when it ch

[2021-05-26 18:11] gadgetjunkie opened #9978 "Usability issue: Outline column in API define is too narrow"
This is a quality of life/usability issue, not a blocker, but should hopefully be something easily fixed.

When I am defining an API, the column for navigating the outline of the API paths is too narrow. The portions of interest which differentiate one endpoint from another are the rightmost portions of the uri. Unfortunately, that portion is hidden by the elipsis ("..."). That column is sizable,

[2021-05-26 19:39] DannyDainton commented on #9977
Thanks for confirming and telling us that the Collection filter fulfils your usecase.

I'll close this one out 🎉

[2021-05-26 19:39] #9977 closed, assigned to nobody

[2021-05-26 19:55] mnannola commented on #2801
+1

[2021-05-26 22:29] RikkiMasters commented on #9951
@diptarag where shall I send them?

[2021-05-27 07:46] iforwms commented on #9176
Also experiencing the same issue when the server returns a 204 empty response.

[2021-05-27 09:16] yarfik commented on #6565
+1
It will be nice to have this feature

[2021-05-27 09:48] bdbais commented on #6236
**Looks like your team is full. To expand, organize, manage your team effortlessly, upgrade your plan.**

This message is present everytime I open Postman but we just tried team collection and we really don't need it. How to remove it? We really must to "hack it" to remove it ?

[2021-05-27 12:20] axelzuzek commented on #2030
Worked for a while, now its broken again under windows (v 8.5.1)

[2021-05-27 12:27] minamassoud opened #9979 "Cookies are not being set on request return"
**Describe the Issue**
after sending an authentication request, localhost/sanctum/csrf-cookie, we expect some cookies to be set but non is set and the request returns correctly with headers set-cookie: {cookie}

**Steps to Reproduce**
have a vanila laravel with sanctum library
send the request /sanctum/csrf-cookie
request returns with 204 no content and headers set-cookie: #####
the cookies on pos

[2021-05-27 13:57] RikkiMasters commented on #9951
I can no longer click the three dots then edit to change collection settings. It would be helpful to know a way to properly reset/ uninstall postman as I have no workaround

[2021-05-27 14:10] RikkiMasters commented on #9951
Although the logs don't change, there're warnings in the developer tools console when I try to open things.

Request:
`Could not find on EditorStore. Missing or invalid parameter.`

Collection:
`Could not find on CollectionStore. Missing or invalid parameter.`

![image](https://user-images.githubusercontent.com/11843864/119840727-257ec380-befd-11eb-8897-ab42a242d7d0.png)

[2021-05-27 14:42] shamasis commented on #4009
Socket.io is already supported. @codenirvana is writing a doc around the specifics. However we want to also build a more dedicated UI support for Socket.io so that you do not need to know the underlying workings of Socket.io while using Postman. That extended support is coming up next. We need to iron out some design concepts before we can confidently convey a date.

[2021-05-27 15:41] LarryFish92 commented on #6251
I think I'm getting the same issue two years later. As you can see I have chosen one option for each of my merge conflicts. I cannot see any further options for this so I would think that means I have resolved them. But no matter what combination of resolutions I choose for the conflicts I still get this error. I've tried everything to get it to work it is infuriating. I just do not understand wha

[2021-05-27 16:06] diptarag commented on #9951
@RikkiMasters glad the issue is fixed.
One question though, apart from these warnings, did you notice any other errors on the console?

[2021-05-27 16:14] timbochamp commented on #9750
We did encounter a scenario where the environment quick look won't open due to the window size in both the app and on Postman for Web:
https://www.loom.com/share/dcf77e8ff2fe402baedf7a6a7930b61b

I'm not sure if this resizing issue applies to everyone here at the same time where the initial comments seem to be due to performance problems. @renjithrnair , is your issue related to the resizing one s

[2021-05-27 17:16] #9878 closed, assigned to nobody

[2021-05-27 17:21] numaanashraf commented on #9774
This issue has been addressed! Thanks for reporting @chernyy-svyat!

[2021-05-27 17:21] #9774 closed, assigned to nobody

[2021-05-27 17:57] mikayelgr opened #9980 "Add direct support for Faker.js module in Postman"
**Is your feature request related to a problem? Please describe.**
When the developers are creating a authentication back-end, it's not always easy to create fake users to interact with. They have to do it manually and waste their time on doing meaningless things instead of focusing on the main problem.

**Describe the solution you'd like**
I would like to see the integration of a popular JavaScri

[2021-05-27 18:57] DannyDainton commented on #9980
Hey @MichaelGrigoryan25

There is a subset of that module built-in to the app. You should be able to use `{{$randomEmail}}`, for example, in your requests.

The full list of what is currently available can be found here:

https://learning.postman.com/docs/writing-scripts/script-references/variables-list/

[2021-05-27 19:25] MichaelGrigoryan25 commented on #9980
Hi @DannyDainton

Yeah, I understand that there are parts of Faker.js built-into Postman, but I don't really find it effective to use it with the current way

[code]

When instead I can do

[code]

In my opinion this is a much cleaner way of doing it.

What do you think?

[2021-05-27 19:32] DannyDainton commented on #9980
I don't believe that it's going to be changing from way you would access those values now but I'm also not the person who would make that call either. 😁

Are you only using it that way in a pre-request script?

The values can also be directly used in the URL, Params, Headers and Request Bodies.

[2021-05-27 19:36] tsundara commented on #7895
For the generated curl command, how to get rid of the string `--data-raw` and just set it to `--data`?
Is there some built in setting to deal with this?

It is annoying as everytime I have to copy paste command to another editor and change text from `data-raw` to `data`

[2021-05-27 19:37] MichaelGrigoryan25 commented on #9980
Okay! I'm closing this issue then, have a good day 🙂

[2021-05-27 19:37] #9980 closed, assigned to nobody

[2021-05-27 19:40] dromeroDev commented on #9346
Eagerly waiting for Postman on native Apple Silicon

[2021-05-27 19:41] LilaQ commented on #9346
@numaanashraf  Yea any update on this? The 2 weeks ETA are almost over.

[2021-05-28 07:26] shashankawasthi88 commented on #9868
Hey, @jdecode thanks for a detailed explanation of the use cases. We are starting to explore the ideas around the "Feature request 2" i.e. an IDE plugin. Will it be possible to get onto a short call to understand the rationale behind the requirements in depth? If yes, can you please pick a time for discussion using this link -  https://calendly.com/shashank-awasthi/ide-plugin-explorations

[2021-05-28 08:40] jenslauterbach commented on #7982
I am also interested in this feature. We could use this for `newman` runs in our CI/CD pipeline as well.

[2021-05-28 09:37] postman-support commented on #9962
Hey @upieez and @jazzgershoam

Reaching out to see if the information provided was helpful.

Looking forward to your response. Have a great day :)

via @VaishnaviChallaPostman | Postman Support

[2021-05-28 09:48] Adri-LM commented on #9742
Hey, for me the problem isn't solved either.

Duplicating works great, but again it duplicates changes, so there's no way to open your original request without :
- starting **from** your current changes
or
- **loosing** all of your current changes (And if you already have 3-4 or more tabs open for the same request, it gets very frustrating)

Also, I don't really see the point of "Open in Tab" tbh

[2021-05-28 10:31] ox-rjaumain opened #9981 "WSL2, Error: connect ECONNREFUSED 127.0.0.1:80 with Postman, however cUrl returns HTTP200"
This issue follows this topic : https://community.postman.com/t/error-connect-econnrefused-127-0-0-1-443/18698

**Describe the Issue**

Using the Postman client under Windows 10, performing a request to an apache webserver under WSL2 returns the following error ->  **Error: connect ECONNREFUSED 127.0.0.1:80**
However, performing the same request using curl in the Powershell terminal returns HTTP 2

[2021-05-28 10:38] lemisky opened #9982 "Variables in the body will not be replaced when the document is generated"
**Describe the Issue**
Create a request and use environment variables in Body form-data, which can be processed correctly, but when generating API documentation, variables cannot be replaced, but others can be processed (replaced) correctly, for example, variables in url, params can be Handle it correctly.

**Steps to Reproduce**
1. Create a request
2. Create a few environment variables
3. Collect

[2021-05-28 11:07] HamzaAnis opened #9983 "Postman crashes on entering Non Iso character in sockets request header."
**Postman crashes on entering Non Iso character in sockets request header.**

**Steps to Reproduce**

1. Create a new `WebSocket Request".
2. Enter the socket link to connect
3. Select the headers tab
4. Enter the non-ISO-8859-1 character in either the key and value. (  …  <= example input, it is )

**Screenshots or Videos**

https://user-images.githubusercontent.com/18266623/119973739-49a9d580-bf

[2021-05-28 11:26] drulia commented on #9787
Version 8.4.0 - issue is still present

[2021-05-28 14:05] jdecode commented on #9868
Thanks for the follow-up @shashankawasthi88.
I have picked a time from the Calendly link above - let's catch up at the proposed time.

[2021-05-28 14:32] JGroot commented on #9297
@HeatherLemieux did you ever find a workaround?  I would love this feature as adding the Available Tokens manually for each request is a pain.

[2021-05-28 14:43] josebsanchez opened #9984 "Low contrast on error counter label"
**Describe the Issue**
Black text with a dark background is very difficult to read.

**Steps to Reproduce**
1. Open console tab.
2. Make a request that results in an error. i.e: Error: read EADDRNOTAVAIL
3. Observe the text between the error icon and the logs dropdown filter is very difficult to read due to its low contrast. ❌

**Screenshots or Videos**
<img width="1789" alt="Screen Shot 2021-05-2

[2021-05-28 14:55] jkryanchou commented on #8455
Uncheck the content-length and it works.

[2021-05-28 15:10] otavioomota commented on #8195
+1

[2021-05-28 19:44] timbochamp commented on #9953
Hi @raviraja , I think the main reasons this blank screen might be happening is where the Auth URL is either not publicly accessible, or it has a typo. I tried on version 8.5.1 on Windows and was able to get a login prompt using OAuth 2.0 with platforms like Google, Spotify, and Imgur’s OAuth 2.0 authentication. Would this apply to you to make the URL public, or
to double-check the formatting?

I

[2021-05-28 23:06] suresh-gandhi commented on #9097
https://support.postman.com/hc/en-us/articles/360039876493-How-to-Install-Postman-from-Terminal-
Using command line to install worked for me since postman/downloads was not working for me

[2021-05-29 00:11] goriunov commented on #7596
+1

[2021-05-29 00:35] kevinswiber commented on #9981
I added this comment to the Postman community post.  Pasting it here for posterity.

Hi everyone,

It looks like the hostname is resolving to 127.0.0.1 via Postman.  My guess is the URLs you're using are `.local`, which would require an mDNS lookup that perhaps Postman is not doing.

If that suspicion is correct, you can still use the IP address of your running server instead of the hostname.  Fro

[2021-05-29 08:57] JohnGilmore100 opened #9985 "twitter"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-05-29 11:48] PikaFederation commented on #9346
Up, any update?

[2021-05-29 11:50] chainhead opened #9986 "Create unit tests from collection"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Once I have finalized my requests in a collection, I would like to see an option to generate unit tests out of the requests. For example, in NodeJs, these will probably be `chai`, `mocha`, etc. based test cases that I can launch with a `npm test`. These tests are either downloaded locally o

[2021-05-29 13:47] HubKing opened #9987 "Option to disable the tool bar line (Home, workspaces, etc)"
**Is your feature request related to a problem? Please describe.**
Most monitors are now 16:9 or wider, meaning vertical space is very limited. There is a thick (it is thicker in my case because I zoomed the UI in due to small font size) tool bar beneath the menu line. There is nothing useful in that line for me, so I want to turn it off to save vertical space.

![image](https://user-images.github

[2021-05-30 11:56] abhieshekumar commented on #6682
Much needed.

[2021-05-30 13:43] kartikjuneja commented on #6323
Issue still not solved. I lost all important data created in days. Never know such a great feature of Postman. Not shown up since half the day and not even I logged out. Salute to Postman.

[2021-05-30 14:36] neeraj-nss opened #9988 "Could not send request Parse Error: Expected dot"
I am able to access the API without burp suite and successfully getting the response as well. When I use the burp proxy and send the request to the server the server responds to the burp i can see the output in the burp proxy tool the response not showing in the postman tool. Always saying the "Could not send request Parse Error: Expected dot view in console" when i see the console i do not get an

[2021-05-30 18:36] vpedrosa commented on #6681
Any ETA of this issue?

[2021-05-31 01:21] upieez commented on #9962
Hey @postman-support, thanks for getting back.

Yes I have verified that I have openssl installed with the version `LibreSSL 2.8.3` and still do not see the certificate folder.

[2021-05-31 04:18] codenirvana commented on #9979
@Mina-R-Meshriky can you share the complete `Set-Cookie` string (response header)?

[2021-05-31 04:52] codenirvana commented on #9988
@neeraj-nss it looks like the proxy is responding with an invalid HTTP response.

`Expected dot` happens if the response starts with an invalid HTTP major/minor version like `HTTP/11.1 200 OK` instead of `HTTP/1.1 200 OK`.

[2021-05-31 06:22] postman-support commented on #9962
Hey @upieez

Thanks for writing back. Sorry for the inconvenience.

To troubleshoot further we will need app logs. Could you please open a new ticket on our support channel using this link - https://www.postman.com/support/

Getting Postman logs - https://support.postman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-

Also, do add this GitHub issue number and your Gi

[2021-05-31 07:05] anudeepmedicharla commented on #9781
@jspark-gigworks Thanks for reporting. Are you referring to unfolding Examples whenever you click on a request or the 'History' tab? If it is History, that is not supposed to happen.

[2021-05-31 07:11] JasinYip commented on #4253
This is a dead project. The owners do not care about what the users thinking.

[2021-05-31 07:15] tomaszwojciechowski opened #9989 "Diff for changes before saving them"
**Is your feature request related to a problem? Please describe.**
It would be useful to see diff of changes before saving them (i.e. during closing tab).

**Describe the solution you'd like**
I'm able to display to see diff of changes between saved state and current state.

[2021-05-31 07:54] giridharvc7 commented on #3371
This is fixed in our latest update. Please update the app to 8.x or you can use the Web version of postman! Let us know what you think!

[2021-05-31 07:54] #3371 closed, assigned to vkaegis

[2021-05-31 08:27] lemisky commented on #9982
@postman-support

[2021-05-31 08:40] Mina-R-Meshriky commented on #9979
you mean that:

`XSRF-TOKEN=eyJpdiI6IndiYmpCdTJ6Q1QyR09YWnhybGNXc3c9PSIsInZhbHVlIjoiV3NsaWY3SEtvTWtFNE1mNVIyYVFNQjJsc0ltWFgxVjZVbGQ2dnlIQ1grK1FKWlE1UXlzdkowSTdzSXAzbEZuSkZtTDJxY2xsN3R4NVhFd0ZtNkNGN2tFT0p2eGgyUnpoWFZGb1dBSll2QUhXYjF4RGljZjBZQy9iSWNkdEl5Zy8iLCJtYWMiOiJmNzU2MTQ0YjZhZGU2MDU4MTBkMWY1MWM5NDM0N2Y3MjYzMzhjMmUxMzc4NTU0MGU5YmZmN2VjZTg0ZmI4YjZjIn0%3D; expires=Mon, 31-May-2021 10:39:45 GMT; M

[2021-05-31 08:43] onacit opened #9990 "Consider environment-attaching for each request."
I have an API to call with a specific token in its `Authorization` header.

Say something like this.
[code]

With given environments, I know I can use environment variable for the `<token>` part.

Now the problem is that there are so many `<token>` values to test for each environments and services.
It's not intuitive to define all `service-xxx-token` in each environment.

So I decided to define re

[2021-05-31 08:51] codenirvana commented on #9979
This issue is with the `domain` attribute, it must not include the `http://` protocol and should match the request hostname.

[2021-05-31 09:32] FinnAwe commented on #1060
Cheers! mate!

[2021-05-31 09:37] Mina-R-Meshriky commented on #9979
yup the problem was in the domain indeed.

the request: was `curl --location --request GET 'http://127.0.0.1:8000/sanctum/csrf-cookie' \`

However, I removed the `http://` and there was also an extra `.`, I also removed that and the cookies were not set as well
but when I removed the `domain=` completely it worked

`XSRF-TOKEN=eyJpdiI6InlMN3hRdlBCbUhMUGgxekVicXNScVE9PSIsInZhbHVlIjoicHpjanRHcm5MTU5

[2021-05-31 09:39] #9979 closed, assigned to codenirvana

[2021-05-31 10:06] beckerGil commented on #7982
I am also interested in this feature

[2021-05-31 10:34] neetech18 commented on #9988
Thank you for response.

Any working solutions for this issue. Do i need to make changes in Burp proxy tool or in postman.

Thanks.

[2021-05-31 10:36] neeraj-nss commented on #9988
Thank you for response.

Any working solutions for this issue. Do i need to make changes in Burp proxy tool or in postman.

Thanks.

[2021-05-31 11:15] codenirvana commented on #9988
@neeraj-nss Since you mentioned that API is accessible without the proxy so I feel there's some misconfiguration on the Burp proxy side (or response is altered incorrectly).

[2021-05-31 11:29] umeshp7 commented on #9147
Thanks for reporting this @Alphasaurs

This view has been updated to a different view in the recent versions (8.x).
Do try the latest version and let us know if still face any issues with the updated code generator UI.

[2021-05-31 11:29] #9147 closed, assigned to umeshp7

[2021-05-31 11:32] umeshp7 commented on #9321
@odmjuk This was fixed here> https://github.com/postmanlabs/postman-code-generators/pull/394

Do try out the latest version of Postman and let us know if you are facing any issues.

[2021-05-31 11:32] #9321 closed, assigned to umeshp7

[2021-05-31 12:12] syedqadeer commented on #9397
Great news,

Updated to latest version beliving that i will be able to use the sync and maintain the history.

But UNFORTUNATELY, the issue didnt fix and lost all the history once again

Not only that, the collections that are stored only are not even rendering

![image](https://user-images.githubusercontent.com/5575310/120191403-8f131080-c222-11eb-8640-66d0094e1894.png)

Screwed up beautifully

[2021-05-31 14:23] AmareeshBP opened #9991 "Live preview while editing schema"
### Problem:
Currently (Postman app Version 8.5.1) while editing a schema there is no way to see how the collection or documentation would look like once it is generated.

### Solution:
It would be nice to have a live preview of documentation side by side with the schema editor (like in [swagger editor](https://editor.swagger.io/)).

### Current workflow:
Once the schema is defined, I have to gene

[2021-05-31 16:50] RubenMaier commented on #2096
How much longer do you think it will take to include it? 5 years have passed since this article was started. Do you still think we don't need it? Or does the Postman community not care about us?

[2021-05-31 19:13] humbertowoody commented on #9346
Any updates?

[2021-05-31 19:22] numaanashraf commented on #9346
Hey everyone! We are ironing out few occasional crashes we observed in our internal testing. We will share an update as soon as we have a stable build. Thanks again for your patience.

[2021-05-31 23:38] jaxoncommunications opened #9992 "New Integration Request - <Spreedly>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-06-01 04:50] snsnihit opened #9993 ""Conflict" shows in header even though same API endpoint is not open in any other tab once the system is restarted"
Steps to reproduce :
1. Keep any request open
2. Close the application and restart the system
3. Open Postman and observe header of already opened request

Bug : "Conflict" shows in header even though same API endpoint is not open in any other tab

[2021-06-01 07:40] upieez commented on #9962
Hey the strange thing about it is that when I follow the link to find the logs, it points me to the ~/Library/Application Support/Postman/logs which is unfortunate because this whole issue is that the folder doesn't exists. Hence I will not be able to get the postman logs as well

[2021-06-01 08:10] futtie commented on #8769
My company is currently working on an integration, where an on-prem Bitbucket solution is mandatory - all our code is on that setup, and it is not accessible from the outside. Quite similar to the other setups mentioned here.
What's the status of this request? I can see that it's in "Pending Triage", but what does that mean - days, weeks, months, years?

[2021-06-01 08:39] Jacek-Korniak commented on #6682
+1

[2021-06-01 08:48] postman-support commented on #9962
Hey @upieez

Thanks for writing back.

This is definitely not expected, as the logs should be present in the default location unless the installation directory is changed/ is deleted. But I understand it is being a problem on your end.

Could you please try our Canary version, and let us know if it helps? - https://www.postman.com/downloads/canary/

Will wait to hear back from you.

via @Vaishnavi

[2021-06-01 08:58] andemt opened #9994 "Folder api-key is added to request when saving to cloud"
Hi,

I have a folder with an authorization, type Api-key.
In the request (in the folder) the api-key is "greyed out". Thats the expected behavior.

But when I am saving (sync to cloud?) the api-key is added again in the request. The result is that I see one greyed out api-key and one editable api-key.

Windows 10.
Postman v8.5.1

![postman-apikeys](https://user-images.githubusercontent.com/696854/

[2021-06-01 09:27] ipatalas commented on #9911
And the same happened today before upgrading to 8.5.1.

[2021-06-01 10:52] upieez commented on #9962
Hey @postman-support, tried your Canary version and still can't seem to get the folder to appear in `~/Library/Application Support/`. Any other method I should try?

[2021-06-01 11:08] neetech18 commented on #9988
Yes. you are right, The issue was with server response it was giving me "HTTP/2 200 OK" and postman was expecting "HTTP/1.1 200 OK". I just change the value in the proxy response from 2 to 1.1 and postman was showing the output.

Just wanted to know if we can change this value in Postman Desktop application. We can resolve this issue permanently.

I suppose as of postman supports HTTP/1.1. (v8.5.1

[2021-06-01 11:44] postman-support commented on #9962
Hey @upieez

Thanks for writing back. That is actually strange.  Sorry for the inconvenience  :/

Could you please open a new ticket on our support channel using this link - https://www.postman.com/support/ to take this forward. We may need to investigate this further in detail to identify the root cause.

Also, please do add this GitHub issue number and your GitHub username in the request descrip

[2021-06-01 12:07] davinderxav commented on #6236
Bulk delete collection from default workspace will also do. If we do not get option to delete workspace

[2021-06-01 13:08] Protino commented on #1066
Can't believe they haven't picked this up.

I have a interceptor that logs requests in a collection, they get duplicated a lot and I want to delete them quickly. Right now it is so painful to delete over 20 requests every single time.

At the very least, the next request should be pre-selected so I can go on pressing del+enter

[2021-06-01 13:42] ammccann87 commented on #2050
Why was this Closed if there is still no solution? I need a way to automate tests without having to manually get an access token through the Postman helper.

[2021-06-01 14:08] isainiesta opened #9995 "devops New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-06-01 14:45] Ginaaates commented on #9626
I am having this issue as well. Worked great last week, and when I started Postman today, couldn't get the list to pop up when selecting the quick look button. I have rebooted and restarted. I am on version 8.5.1.

[2021-06-01 14:59] Rukko commented on #7294
Exactly. This happened to me today, too.  My Postman was minimized but it was consuming 90% of cpu.

[2021-06-01 15:36] VoloBro opened #9996 "Context panel buttons are not working"
**Describe the Issue**
The context bar buttons: Code, Comments, Documentation, Info are not working

**Steps to Reproduce**
Open Postman (working locally in Scratch Pad, e.g without a signed in account)
Click on Code button in context bar
Actual results: button does not work, no code window has been opened

**Screenshots or Videos**
In dev tools I see a bunch of exceptions for this area.

`Encount

[2021-06-01 15:49] prabhakarj13 commented on #4009
@Shamasis is there any support of subprotocols: graphql-ws

[2021-06-01 16:32] n8felton commented on #8179
+1

[2021-06-01 17:02] SerzhSergeev opened #9997 "WebSocket subprotocol supporting error in response"
**Describe the Issue**

WebSockets are supporting subprotocol functionality, and for now it looks like there is no supporting of that with request that sending by clicking on `Connect` button in Postman.

For sure we can add subprotocols in Headers, and Postman will successfully send it to your server. Server will response with supporting list of subprotocols (or will choose one of them) and if bo

[2021-06-01 17:29] codenirvana commented on #4009
@prabhakarj13 not yet.

Please follow https://github.com/postmanlabs/postman-app-support/issues/9997 for updates on subprotocols support.

[2021-06-01 23:48] azgo commented on #4682
Absolutely, that would be so helpful! Please parse them to make them clickable.

[2021-06-02 05:33] georgealar commented on #8605
Will just leave it here, as the Nvidia Settings page suggested by @diversenok doesn't work and never worked, don't think ppl are so dumb that they don't know this could be managed inside Nvidia settings:

What definitely works for Windows 10, if you have this new Graphics settings option:
![image](https://user-images.githubusercontent.com/19384845/120428767-f0e78d80-c37c-11eb-9b69-c4af1c6671ef.png

[2021-06-02 06:35] postman-support commented on #9949
Since I did not hear back from you for a while, I’ll be closing this support request next. If you still require my assistance on any matter, please reopen it by responding to this message. Alternatively, feel free to submit a new support ticket using this link - https://www.postman.com/support/ on any matter and at any time. I’ll be happy to help.

via @Swapnil-getpostman | Postman Support

[2021-06-02 06:59] SebastianJust commented on #7666
Have the same issue now on v8.5.1

[2021-06-02 07:09] shivamrsoft commented on #8322
Can this be made available to the postman as this would be a lot helpful for proper indentation of gql queries. Also it will help to know who are the child of which key in gql.

[2021-06-02 10:14] neetech18 commented on #9988
After disabling the below HTTP/2 option from burp, now working fine.

![image](https://user-images.githubusercontent.com/12570891/120463189-4772bd00-c3b9-11eb-937a-9fdc49349da0.png)

[2021-06-02 10:22] prabhakarj13 commented on #9997
please add a support for subprotocols: graphql-ws in postman

[2021-06-02 11:08] ash007-postman commented on #2452
On behalf of a user:

@giridharvc7

[2021-06-02 15:09] ermac0 commented on #4361
It seems to happen whenever Postman detects new version, then CPU goes to 100%. It won't drop until I click Help -> Check for updates and "Restart and update" then after the app restarts the CPU usage goes back to normal. It remains like that until new version is detected again.
Windows 10 Ultimate.

[2021-06-02 15:20] josh-k-cb opened #9998 "OAuth2 / PKCE / Azure AD failure - Azure expects Origin header for Single Page App registration"
Azure AD has the concept of a [SPA (Single Page App) registration](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration). This is the registration type which supports PKCE on the AAD 2.0 endpoint.

As a security measure, [AAD expects the `Origin` header to be present when asking for a token](https://github.com/AzureAD/microsoft-authentication-library-for-js

[2021-06-02 18:16] encryptedtouhid commented on #9346
looking forward to it 😁

[2021-06-02 19:44] acidos commented on #8322
Having this feature would save us a lot of time.

[2021-06-02 19:58] SerzhSergeev commented on #9997
@codenirvana thanks for feedback!
Sure, from my side here they are:
- ocpp1.6
- ocpp2.0
- ocpp2.0.1
- graphql-ws

[2021-06-02 22:32] shipwreck13 commented on #9038
Hello - I found this thread and have been experiencing the same problem.  I use Find/Replace to make a variety of mass changes quickly and then export the collection after having made the changes.

The problem: the export does not reflect the changes made by Find/Replace.

The only way to ensure the changes are saved are to go request by request and hit "Crtl + S" to save, one by one.  Doing it th

[2021-06-02 23:13] michaelsharpe commented on #6682
+1

[2021-06-03 00:17] DraqueT opened #9999 "malformed PHP curl code generated"
**Describe the Issue**
When generating PHP curl example code, the code is malformed.

**Steps to Reproduce**
- Create a post request with multiple key/value pairs
- Open Code Snippets
- Select PHP - cURL
- Observe that the value for CURLOPT_POSTFIELDS is malformed: the first key points to an array that contains the first value, then a named value which should be the second key/vaule pair.

Current

[2021-06-03 01:51] upieez commented on #9962
Hey @jazzgershoam I've successfully set up the request on my machine. I believe you and I share the same problem and I'll document it over here step by step so that in the future if anyone has the same issue can refer here as well.

The main issue here is that the folder is tucked away in **User** and not **Macintosh HD**.

The path from the root of your Mac is `Macintosh HD > Users > YOUR_USERNAM

[2021-06-03 04:34] sh-cho commented on #8195
+1

[2021-06-03 05:45] jazzgershoam commented on #9962
@upieez Thanks Bro.. That was awesome.. 👏

I have my files inside the library folder.. 😃

I have my proxy configured now..  Thanks a lot.

@postman-support Is it possible to document these steps as well in the postman learning page?. There might be people facing the same issue.

[2021-06-03 06:10] upieez commented on #9962
No problem @jazzgershoam! However, one caveat that I have experienced is that somehow if you turn off postman, you lose connection to the internet. So you need to disable the proxy inside the network tab and restart your wifi again for you to be connected to the internet

[2021-06-03 06:30] k-anuradha commented on #7742
This issue still exists even with latest version v8.5.1.  All execution logs until before the crash are lost too.

[2021-06-03 08:28] postman-support commented on #9962
Hey @upieez

Thank you so much for providing the steps you have followed in a very detailed manner.

@jazzgershoam Glad that you are able to resolve this using the steps given by @upieez 😃​ and I have raised a request internally to add this to the documentation.

Sorry for being just a little help here. Once again thank you so much @upieez, and @jazzgershoam

I am closing this thread here, just fo

[2021-06-03 10:56] vbiginner commented on #7294
Auto downloading is one of the causes. Why there is no option to disable downloading minor updates.. it just eating out all the available data, causing issues when you are working with limited data.
Already there was issue raised here https://github.com/postmanlabs/postman-app-support/issues/6757#issue-458242538 and it is closed without any solution

[2021-06-03 12:43] Wotuu commented on #9750
@timbochamp Where do you want me to send the logs to? Since they contain private information (such as the full environment) I don't want to post them here.

Meanwhile I'm going to clear my local data. It's been getting quite annoying since the workspace is completely unusable :). Click on requests doesn't open them as they should, keybinds don't seem to work (such as ctrl + s), the Tests tab has a

[2021-06-03 12:48] jot321 commented on #9874
Hey @Romiko thanks for getting in touch. I work as PM at Postman looking at Integrations. I would love to understand your workflow in detail. I assume you would want to push the OpenAPI schema to the Azure API Management automatically generating the routes. What else can the integration potentially do?

[2021-06-03 12:48] jot321 commented on #9995
@isainiesta can you please provide more details

[2021-06-03 12:51] jotsarup commented on #9992
@jaxoncommunications thanks for reaching out. Can you please provide more details.

[2021-06-03 12:51] jotsarup commented on #9985
@JohnGilmore100 thanks for reaching out. Can you please provide more details

[2021-06-03 12:52] jotsarup commented on #9975
@jimmyvadera thanks for reaching out. Can you please provide more details

[2021-06-03 13:38] jonathanrossTPA commented on #9874
As an alternative to API level integration it might be worth exploring an official Postman extension in the Azure Marketplace that connects tests in Postman to Azure Pipeline and Azure Devops Testplans:
1. Install extension from marketplace to Azure Devops project
2. Connect Postman to Azure Devops
3. Add Postman test suite / other tests to pipeline for automated test on demand / trigger by deploy

[2021-06-03 13:48] maheshcts97 opened #10000 "Multiple parameters in the postman request is not reflected when running request in postman console runner"
**Describe the Issue**
Multiple parameters in the postman request is not reflected when running request in postman console runner

**Steps to Reproduce**
1. Add multiple Query params  in the request.
2. multiple Query params are appended to the request URL and it is sucessfully executed.
3. Add the request to a collection and run them from runner console.
4. Only one parameter is appended to the r

[2021-06-03 16:10] Shubham-Kumar-2000 opened #10001 "Setting environment variable in test script makes the variable undefined if no environment is selected"
**Describe the Issue**
I was the trying to store the auth token from the api response of login api to the environment variable  access_token.
I was able to to see that the variable is being updated from the logs but when I was calling other apis it was sending undefined in access_token.
But as soon as I changed my environment from "No environment" to a defined env. the issue was resolved.

**Steps

[2021-06-03 18:06] grtessman commented on #6351
Here is a use case:
1.  Run a collection that prints each payload to console, save as "original"
2.  Run a collection that prints each payload to console, then alter the payload as each request comes in and save as "modified" (say like changing a date)
     - File diff original and modified console output to ensure nothing else was modified.
3.  Assuming nothing else was modified and only the chan

[2021-06-03 21:09] tomhundt opened #10002 "Scratch Pad (offline) should be listed as a Workspace -- since that's what it is"
**Describe the Issue**

I'm using the program offline.  By this I mean behind a firewall that prevents it from uploading data to the postman.co website.  This also means that when the program is closed, and reopened, it loses all my data, every time.  I have learned how to export Collections and Environments piecemeal, since the `Settings > Data > Export Data` functionality is also entirely broken

[2021-06-04 01:26] Paladinhanxiao commented on #9481
settings->proxy-> turn off “use the system proxy”

it‘s work for me

[2021-06-04 01:32] aboutZZ commented on #9481
![PotatoServer.jpeg](https://i.loli.net/2021/06/04/NWYvl19OMzsRyPT.jpg)

[2021-06-04 04:10] merrcury commented on #9346
Having Performance Issues on Apple M1 with intel build. Looking forward to the M1 build.

[2021-06-04 05:08] HarshithaSaiK commented on #9542
Just have to enable "Use the system proxy" under proxy settings while trying to make such a call.
It worked for me :)

[2021-06-04 06:24] giridharvc7 commented on #10000
Can you check if you've saved the request after adding the query parameters before running them from the runner?

[2021-06-04 06:39] postman-support commented on #9905
Hi @ahsas5,

Just letting you know that I'm going ahead and closing this conversation. If you still need help, just respond to this ticket to re-open it. Otherwise, please feel free to reach out again later!

Have a great day:)

via @Lincimary | Postman Support

[2021-06-04 08:45] RosePuff commented on #9932
This is the request body
[code]
and this is headers
![image](https://user-images.githubusercontent.com/52793589/120772899-5e4d1700-c553-11eb-81ca-658b05722156.png)

Return value

[code]

But now in the picture Content-Type amend to read this
![image](https://user-images.githubusercontent.com/52793589/120773339-d7e50500-c553-11eb-8ea1-3d7f57707ff6.png)

is return value 500 and this
![image](https:/

[2021-06-04 08:50] RikkiMasters commented on #9951
@diptarag I didn't get the rest of the output, but yes there was something about initializing the state. Sorry!

[2021-06-04 10:51] m3dbedb commented on #9072
the issue appeared in postman 8.5.1 64 under windows 10. Postman 7 have updated to 8.4.1 and every start it opens grey and window resize does not make it back to life like it was in postman 7.

[2021-06-04 12:07] meenakshi-dhanani commented on #4131
Another request for async support here - https://community.postman.com/t/collection-variables-dont-want-to-be-set-after-an-await-call-it-seems/20931/6

[2021-06-04 13:19] Trapsta commented on #6001
duplicating the environment and switching to the new copy works in my case (Mac.  10.14.6 , Postman 8.5.1). I really wanted to avoid keying in the values all over again 😉

[2021-06-04 13:22] mccannt commented on #9928
This should now be resolved.

[2021-06-04 13:22] #9928 closed, assigned to nobody

[2021-06-04 13:40] mccannt commented on #9794
Is this still happening in the latest version of the app? I am not seeing this myself.

[2021-06-04 14:19] katepatrenina commented on #8716
Hello, I also have issue with installing interceptor. I've checked that my user has rwx rights for .postman folder, I've restarted chrome, postman and even mac,, still have the issue about failing node.js installation. Please help

<img width="378" alt="Screenshot 2021-06-04 at 16 17 35" src="https://user-images.githubusercontent.com/22887043/120815917-92730880-c550-11eb-8589-96bd596821e2.png">

[2021-06-04 14:21] charlesritchea opened #10003 "YAML indentation is 2 spaces, but OpenAPI 3.0 editor uses 4 spaces on newline"
**Describe the Issue**

YAML is quite explicit in it's indentation rules: 2 spaces
Yet the OpenAPI 3.0 editor adds a 4 space indent on newline.

**Steps to Reproduce**

Create an OpenAPI 3.0 API with YAML file and add a newline after a property

**Environment Information**

 - Platform Type: Linux
 - Postman Version: 8.5.1
 - Operating System: Ubuntu 20.10

[2021-06-04 16:03] kckolz commented on #7150
+1 I currently manage 3 teams all with separate postman collections. This is a very large pain point for me.

[2021-06-04 19:17] vinitshahdeo commented on #8716
Hey @katepatrenina,

Can you please ensure that a manifest file (`com.postman.postmanapp.json`) exists at`~/Library/Application Support/Google/Chrome/NativeMessagingHosts` location?

You can also try the troubleshooting steps mentioned [here](https://learning.postman.com/docs/sending-requests/capturing-request-data/interceptor/#troubleshooting-tips). If the troubleshooting steps do not fix the pro

[2021-06-04 20:44] clarkbremer commented on #9548
I'd like to see this also. I'm testing my nginx ingress on a kubernetes deployment that routes based on the host name. I just haven't gotten the DNS for that host name added yet, so I can't test it.

[2021-06-04 22:17] jmfinn9 commented on #9359
Double check your URL - I found that when generating PHP curl, Postman changed %2F in my URL to %252 which messed things up. The generated cURL command from Postman (for running via console) did not have this problem.

[2021-06-05 08:57] jiwtir opened #10004 "Sidebar is empty after upgrading to v8"
**Describe the Issue**
After upgrading to `v8.5.1` from `v7.36`, there was no tab selected in the Sidebar and I could see the empty view.

**Steps to Reproduce**
- Upgrade from v7 to v8

**Screenshots or Videos**
![telegram-cloud-photo-size-5-6186082615686180170-y](https://user-images.githubusercontent.com/81774460/120886131-fa395a00-c609-11eb-8dc4-a1c47b029e4b.jpg)

**Environment Information**
Po

[2021-06-05 20:37] Luke-Robinett commented on #3121
Would the good folks at Postman please provide us with an update on accessibility progress in the Postman client? I'm a working software developer who specifically focuses on REST APIs and other back end solutions where testing APIs is critical. All my coworkers use Postman and it is widely considered the gold standard. Why are blind customers being willfully excluded? You've been given numerous a

[2021-06-05 20:53] zersiax commented on #3121
@numaanashraf  @prashantagarwal I do believe that was addressed to you. I also believe there are several issues that mention this issue, that are in a similar state of limbo. I also believe that both of you made statements, admittedly in 2017 and 2018 that indicated this issue was being worked on. Quite clearly, it hasn't been, or if it has, people who actually know what they need were not consult

[2021-06-05 20:54] Luke-Robinett commented on #3121
Here's my take on a basic but accessible REST client. It supports GET and POST but I haven't tried many POST requests with it myself. I use it daily at work for GET testing and it works well for me. I'll provide the link below and then a description of the UI, though you'll find it to be fairly self explanatory:

https://luke-robinett.github.io/rest-hitter/

1. Session name -- optionally give the

[2021-06-05 20:56] akash07k commented on #3121
@zersiax
True, I too agree with your point.
At least the team should should be transparent whether they want to implement accessibility or not.

[2021-06-05 20:58] akash07k commented on #3121
@Luke-Robinett
Nice client.
I request you that please include put and delete requests too along with get and post so that we can test those requests too.

[2021-06-06 05:39] lexcraw4d commented on #8455
same --- this did not work for me. If anyone has a solution that works do you mind sharing some screen shots? Thanks in advance. Happy coding!

[2021-06-06 05:47] lexcraw4d commented on #8455
Ah, I  figured it out in mine hopefully if you are still stuck  try this in your server.js `app.use(express.urlencoded({extended: true}));
app.use(express.json());`
Here is a simple example for you to see as well (I'm a visual learner myself lol)
![image](https://user-images.githubusercontent.com/71158947/120913947-c3def780-c668-11eb-866e-d530db0019b1.png)
Hope this helps anyone in the future for

[2021-06-06 08:27] aescolastico opened #10005 "FR: PWA for postman web"
This would be a huge benefit for those of using postman web on mobile.

[2021-06-06 12:23] PikaFederation commented on #9346
I can't wait to get it.

[2021-06-06 23:31] navhaxs commented on #1060
Good to know! Would've been nice if there was a 'Auto-detected' text hint next to the dropdown UI, or 'Auto' as the default dropdown option... I've been manually JSON for every request for over a year!

[2021-06-07 04:33] iAmShakil commented on #9346
Waiting for the m1 version :)

[2021-06-07 06:00] fojuth commented on #9049
The problem still exists, I've restarted Postman just today and (again) the problem came back.

[2021-06-07 06:28] tcitry commented on #8195
+1

[2021-06-07 09:16] marcopa84 commented on #8195
+1

[2021-06-07 09:28] katepatrenina commented on #8716
hi @vinitshahdeo , there  is indeed no manifest file at this location, however I can't find where I can download it. I assume it should have been installed automatically during postman installation but that just didn't happen. Is there any way to fix this or maybe download some other version of postman that wouldn't have this problem?

[2021-06-07 09:58] postman-support commented on #9937
Hello @ysee-mma,
I hope that you are doing great.

Many thanks for your patience, and all the provided details regarding the issue you are facing.

Our engineering team has released a fix to the reported issue in the latest version of Postman (8.6.0)

Can you try updating Postman and then attempt to reproduce the same behavior?

- **Postman** -> **Settings** -> **Update** -> **Check ****for ****up

[2021-06-07 11:40] vinitshahdeo commented on #8716
@katepatrenina Please ensure that Postman has `WRITE` permissions at `~/Library/Application Support/Google/Chrome/NativeMessagingHosts` location.

Can you please try removing all of Interceptor's dependencies and retry the installation. To do so,
- Open Postman and navigate to `View > Developer > Show DevTools (Current View)`
- Enter `pm.interceptorInstaller.reset()` to remove all present Intercep

[2021-06-07 12:25] katepatrenina commented on #8716
Hi, I was able to resolve it finally. Thanks for help!
In my case the issue was with old installation that had left overs in Application support folder, apparently that messed up with the new Postman installation and didn't make it work. So all things that supposed to be done automatically with install, just were not done (like for example manifest file or certain folders)

My solution was:
- Remo

[2021-06-07 12:30] rsmck commented on #3731
I've been directed to this by Support when pointing out the the WYSIWYG Preview in the app and what actually ends up on the published documentation is completely different with respect to font, spacing etc.   The app preview is much cleaner looking than the end result.

Ultimately, custom CSS would fix this problem too, although it would be nice if the default actually matched the Preview.

[2021-06-07 12:52] #9988 closed, assigned to nobody

[2021-06-07 13:01] jonathanrossTPA commented on #9874
Since I am getting mails this ticket is going to be closed I will look for other solutions. Thx

[2021-06-07 13:17] mccannt commented on #6503
Can you provide us some clarity on what you feel the issue is here?

1. Is it the fact that the app appears to freeze while waiting the `10000 ms`? or
2. The order of execution of the 2 calls and the output from them?

[2021-06-07 14:05] ed-sparkes opened #10006 "Sync not working and no longer any option not to sync"
Since upgrading to the latest version i lose all my work every time my computer is reset, collections history etc. which is very frustrating.

Seems the sync is not working although no info as to why just "Socket Not connected"

[code]

[2021-06-07 14:13] arlemi commented on #7294
@vbiginner This is being tracked in https://github.com/postmanlabs/postman-app-support/issues/6999.

[2021-06-07 14:18] mccannt commented on #9649
Closing issue. It is not reproducible and there has not been any further input from the user.

[2021-06-07 14:18] #9649 closed, assigned to nobody

[2021-06-07 14:24] mccannt commented on #7829
Closing this issue due to input from the original user.
If this is still an issue, please let us know and we can reopen this issue.

[2021-06-07 14:24] #7829 closed, assigned to nobody

[2021-06-07 16:48] mancave commented on #8857
It's not the prefix of the value of the Autorization HTTP Header, it's the HTTP header name what's requested

[2021-06-07 16:56] TJReinert commented on #8857
I missed the first reply to this issue. @mancave is correct. I want the ability to specify what Header Name to put my authorization in. Example:

X-API-KEY: Bearer ...

[2021-06-07 17:14] timbochamp commented on #10004
Hi @jiwtir , thanks for the report! I was able to reproduce this as well upgrading from v7.36.6 to v8.6.1. As a workaround, I was able to see the collections sidebar after navigating to another sidebar by clicking one of the other leftmost options (e.g., APIs, Environments) and then navigating back to Collections. Does this work for you as well?

[2021-06-07 18:51] timbochamp commented on #9750
@Wotuu , please send them to help@postman.com as per https://support.postman.com/hc/en-us/articles/360025298633-How-to-share-logs-with-Postman-for-debugging-issue

Feel free to strip out any sensitive information as you see fit. Apologies again for the continued hassle here

[2021-06-07 20:50] pedrotambo commented on #7596
+1

[2021-06-07 22:49] stcalica opened #10007 "Installed update with multiple windows open and it failed to restore state after restart"
Reporting on behalf of the user.

**Describe the Issue**

**Steps to Reproduce**

1. Open multiple windows of Postman app
2. Update the application
3. Windows will revert to home screen and lose state from before the update

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Native app
 - Postman Version: '8.6.1-win32-x64'
 - Operating System: Windows

**Additional Context**

[2021-06-08 02:44] Pricilla09 commented on #9928
Yes, this is working fine now :-)

[2021-06-08 04:31] postman-support commented on #10006
Hi Ed,

Sorry to hear about this experience. Happy to help!
Could you share any screenshots as to what is seen every time the application launches?

Also, please submit a ticket to us via https://postman.com/support if you are using the application with an account. This helps us check further on your account and you can also share logs on the same ticket for us to troubleshoot this next.

via @Raj

[2021-06-08 05:05] renjithrnair commented on #9960
This issue got resolved with v8.6.1 update. @timbochamp

[2021-06-08 05:07] renjithrnair commented on #9750
https://github.com/postmanlabs/postman-app-support/issues/9960 This issue got fixed in v.8.6.0 update .

[2021-06-08 08:00] mancave opened #10008 "Build-in authorization add custom header support"
Some reverse proxy solutions/load balancers/security providers need additional HTTP headers in there OAuth2 handshake.
There are no means to add these headers in the GUI or in a Pre-Authorization- script.

By example: WSO2 API gateway needs a X-WSO2-Tenant http header in the authorization request to address which tenant you want to address.

[2021-06-08 09:24] ipatalas commented on #9911
And today again when upgrading to 8.6.1.

[2021-06-08 09:39] justinmaarschalkerweerd opened #10009 "Reuse code so pre-request and (post-request) Tests can reuse or link to functions defined elsewhere (as suggested earlier in issue #4058)"
We use Postman for our test automatization. Haveing benefits over SoapUi and the RobotFramework, Postman also has a big drawback I think. And that is code reusability in testscripts. It would make this tooling much more mature if code could be shared across multiple tests by linking from a script location to a file in a different location, or better being able to refer from one testscript to anoth

[2021-06-08 14:51] serges147 commented on #9794
Hello! Yes, the problem is still there (build 8.6.1).

[2021-06-08 15:40] Ashish-uzumaki commented on #9796
@Nmirontsev @ScottCarr73 @timbochamp   Issue has been resolved in latest version (v8.6.1 ) of postman-app.

[2021-06-08 15:51] oschvr commented on #3706
+1

[2021-06-08 15:56] adamleantech commented on #3706
+1

[2021-06-08 16:16] #9796 closed, assigned to nobody

[2021-06-08 16:39] paihz commented on #9346
I dont know why people downvote this. Current Postman having performance issues on Apple M1 with intel build

[2021-06-08 16:46] DavidGarciaCat commented on #9346
Simple: spamming all people following this case with unnecessary messages.

The Postman team already knows people want this update, so there's no need to keep posting the "I am eager to get it too".

Can you guys please stop making unnecessary noise? I also want it, and I understand it's "frustrating" but everyone already knows about your case too. Just give the :+1: as part of the first message o

[2021-06-08 17:55] EstebanGuerreroGuerrero commented on #8455
Este  me sirvio a mi, vale locooo !!
En mi caso quedo así:
this.app.use( this.usuariosPath , **_express.json()_** , require('../routes/usuarios-routes') );

[2021-06-08 19:28] JimmyPruitt opened #10010 "OAuth browser windows don't use configured proxies"
**Describe the Issue**

The OAuth endpoints that I have to use to generate tokens for my API are behind a VPN and I can only access them using a proxy. I've configured the proxy in the Postman settings and all requests, which also need to go through the proxy, all work correctly. But when I use the inbuilt Postman browser windows to acquire OAuth tokens, the proxy isn't used.

**Steps to Reproduce

[2021-06-08 19:46] jareklupinski commented on #8195
I come here every time I open Postman and realize I forgot to Save the last time I was using it.
Even local apps like Pycharm don't make me hit Save anymore...

Maybe a popup like "You have unsaved changes" could pop up when trying to close a Postman window with unsaved changes until this can be implemented?

[2021-06-08 21:21] erhhung commented on #3480
Same issue as above using `Promise.all()`, except here's an example of a real use case:

_Collection pre-request script:_
[code]

_Main request pre-request script:_
[code]

Request variables have no values in the body!

---
OS: macOS 10.15.7
Postman: 8.5.1

[2021-06-08 22:07] xk0der commented on #9834
@StaciMize I see you had logged a [support ticket](https://postman.com/support) with us too and that was addressed.
I'm closing this GitHub issue.

If there are any further issues/queries, feel free to create a new GitHub issue or log a new ticket.

[2021-06-08 22:07] #9834 closed, assigned to nobody

[2021-06-09 03:26] ysee-mma commented on #9937
Thank you for the fix, it is working perfect with the new version!

[2021-06-09 03:26] #9937 closed, assigned to nobody

[2021-06-09 06:04] postman-support commented on #9937
@Hello ysee-mma,
I hope that you are doing great.

Since we haven't heard from you in a while, and I have tested the behaviour and the issue it seems to be fixed,I will go ahead and mark this ticket as **Closed**

If any further questions or issues arise, please do not hesitate to reach us back at any given time.

via @nasco-a | Postman Support

[2021-06-09 07:47] knvpk commented on #9612
At first i thought adding example will solve the problem, but examples can't be run as normal request, for now i need to copy paste from example to request and run it. Multiple requests for same url would be very usefull.

[2021-06-09 08:12] jurriaanschrofer commented on #1066
+1
This ticket has been open for 5+ years... will it ever be implemented? 😄

[2021-06-09 08:30] CoronaFiredancer commented on #9397
Want to bump this, I have the same issue, unable to upgrade, red sync button doing nothing

[2021-06-09 09:19] Raj-postman commented on #9874
@jonathanrossTPA Just to clarify, we still have this GitHub request **Open**. I believe the Support ticket raised previously was closed due to inactivity.  But we reassure you that the team has taken note of your inputs and will get in touch with you if required.

Subscribing to this thread should provide notifications if there are any activity/updates on the same.

[2021-06-09 09:37] monkeychew-ico commented on #4401
I had a problem with collections not syncing between web and app. I chose not to create a team initially, once I'd created a team it started syncing, hope that helps.

[2021-06-09 09:50] smares opened #10011 "Add option to disable proxy for all traffic including account-related one"
**Is your feature request related to a problem? Please describe.**
I am using Postman in a Windows environment where proxy settings are distributed periodically (about every 1h) via group policy. My account has the rights to disable the proxy, but it only lasts until the next periodic update. My PC is part of a VLAN that does not require the proxy in order to access the Internet. In Firefox, I set

[2021-06-09 12:01] AniketBanik commented on #4436
Hi @madebysid and @mattdeluco ,
Can you please help me? I am also facing the same problem while using lodash. My lodash version is 4.17.21.
My code is: `const _ = require("lodash");` and `product = _.extend(product,fields);`

Error showing : **const { update } = require("lodash");  SyntaxError: Identifier 'update' has already been declared**
I also tried by changing my variable name _ . But, it's

[2021-06-09 12:27] msabic22 commented on #1066
+1

[2021-06-09 13:54] atrauzzi opened #10012 "Show a prompt when executing a request to provide any unsatisfied variables"
If I have a request like `https://myapi/resource/{{resourceId}}`, there's no reason to put that ID in any kind of permanent store or config because the variable will be different between multiple invocations.

What would be nice is if postman encounters a variable that hasn't been satisfied when the request is issued, it should show a modal dialog that asks for the remaining values.  Those values

[2021-06-09 16:47] jakerye opened #10013 "Display tooltip on text select if it matches env variable or timestamp"
**Is your feature request related to a problem? Please describe.**
Trying to map request data back to the corresponding variable can become tedious.

**Describe the solution you'd like**
I'd love to be able to select a text field, particularly in the response body, and have a tooltip show up that displays its value aliases.  The two use cases I see most useful are:
1.  If selected text matches env

[2021-06-09 17:37] timbochamp commented on #9744
This was resolved as part of #9763 . Please feel free to reopen if the issue is persisting at the same time!

[2021-06-09 17:37] #9744 closed, assigned to nobody

[2021-06-09 19:55] ankit-zibo commented on #8180
Following

[2021-06-09 19:57] ankit-zibo commented on #8180
I am also facing the same issue while calling an API with aws_auth using postman latest Version 8.6.1 (8.6.1). Trying to upload multiple files but getting this invalid signature error.

[2021-06-09 20:08] sayansisodiya commented on #9505
Same, text is drowned out by background color and only non-grey elements are readable

[2021-06-09 21:00] dcfsc commented on #8985
@DannyDainton I also agree with  @abhidp and @thomasddn  and think this was closed incorrectly and should be reopened. There is already a header for `Variable` name. Click on it and it sorts. The GUI is done :). No undo needed until it is.

Extra credit for 2 clicks reversing order or sorting by `Initial Value`. Less useful. But `Variable`? Big help.

[2021-06-10 01:40] Alsy commented on #3684
I too would like this feature

[2021-06-10 02:00] kaq527 commented on #8686
8.6.0 the problem still exists

[2021-06-10 04:54] coditva commented on #10012
@atrauzzi Thanks for writing in. This seems like a duplicate of https://github.com/postmanlabs/postman-app-support/issues/285. Please feel free to add your thoughts there. 🙁

[2021-06-10 04:54] #10012 closed, assigned to nobody

[2021-06-10 06:51] hnher commented on #9346
Waiting for the m1 version :)

[2021-06-10 07:00] twitharshil commented on #9346
Hey Everyone,
We're happy to share the first preview of arm64 arch-based canary application, that natively supports the Apple silicon platform (m1 machines). It took us a while to make it stable, but you can now download it from [here](https://dl.pstmn.io/arm64/PostmanCanary-osx-8.6.0-canary210608-1405.zip) & run it on mac platform with M1 chips to experience better performance.

**Note:** These a

[2021-06-10 07:58] yy523697597 commented on #9346
dude, the canary version is much faster than rosetta version! Love it.

[2021-06-10 08:32] LilaQ commented on #9346
Oh god, it's so much faster as native version! ❤️

[2021-06-10 08:53] Envek commented on #8180
I was able to set up [HTTPie](https://httpie.io/) console utility for multipart request signing and switched to it for the time being:
[code]

See https://github.com/aidan-/httpie-aws-authv4/issues/10 for details.

[2021-06-10 09:10] K232 opened #10014 "General Visualizer for JSON to display all data in a table"
https://learning.postman.com/docs/sending-requests/visualizer/ describes how to use Visualizer for a different output e.g. of JSON data. According to the documentation, a new template for each JSON is necessary. Would it be possible to have a general template for ALL JSON data, e.g. like https://marketplace.visualstudio.com/items?itemName=RandomFractalsInc.vscode-data-preview ? The structure of th

[2021-06-10 09:17] DannyDainton commented on #10014
Hey @K232

There is a template in the `Postman Team Collections` Public Workspace that _could_ provide what you need to visualize the JSON data:

https://www.postman.com/postman/workspace/34f3a42c-18a7-4ad6-83fb-2c05767d63a7/request/3407886-0cd8c17f-45bc-48b0-9be0-cd7d7704425d

[2021-06-10 09:28] DannyDainton commented on #9996
Hey @VoloBro

Is this still an issue for you in the latest version?

Would you be able to provide a short recording showing the issue, please?

[2021-06-10 09:48] jonathanrossTPA commented on #9874
Thank you for replying to me. I think this is a good starting point and if it allows me to interact with the Azure Devops Testplans REST API **example** https://docs.microsoft.com/en-us/rest/api/azure/devops/test/results/update?view=azure-devops-rest-5.0 but not limited to this then it is what I am looking for. Thx

[2021-06-10 09:58] stephan-swiftcom commented on #9346
Will there be a popup of some sort with a seamless upgrade method for users using the Rosetta version?

[2021-06-10 11:49] K232 commented on #10014
That's cool @DannyDainton ! Many thanks! Maybe you also know: Is there a way to have this automatically included in every GET I do so I needn't paste it into every Test-Section? Or store it in the environment somewhere?

[2021-06-10 12:24] takwing opened #10015 "Request names are being half-hidden with "..." in Postman runner."
For each API request under a collection, we can name them explicitly.

And uponr running a collection with Postman runner, the request names in the test result page are being half-hidden with "..." (and in extreme case, only a single character of the original request name is shown).

This makes it extremely hard to locate which test has failed.  This situation did not happen in the v7.x of Postman

[2021-06-10 12:36] DannyDainton commented on #10014
You can store the whole thing at the Collection or Folder level and it will be there for each request.

That's obviously based on returning a JSON response each time so if anything else is return it's either not going to show or potentially throw an error.

[2021-06-10 12:55] DannyDainton commented on #10015
Hey @takwing

As you're describing a UI issue and something that you can see with your app instance, could you attach an example of this behaviour, please?

[2021-06-10 13:06] DannyDainton commented on #10014
It looks like you have the solution that you require, I'm going to close this one now.

[2021-06-10 13:06] #10014 closed, assigned to nobody

[2021-06-10 13:17] buzitsl commented on #6926
It has been almost two years, and this feature is not implemented?

[2021-06-10 13:20] zvereva opened #10016 "Postman v8.6.1: Issues with sign plus (during import and response transformation)"
Hello guys
I noticed some issues with + sign handling by Postman. My background is telecom and it's crucial that we could test MSISDNs in format like +41790000000.
Here are observations:
1) After import of such a number (+41790000000) inside some data.csv in Runner (Data->Select file)-> preview: the plus has been removed.
2) If I get an XML response with +41790000000 and transform it into json
 `c

[2021-06-10 13:41] takwing commented on #10015
As seen in the screenshot, request name "photo collage / 800x420" is shown as "p.."
![xuT6raZljk](https://user-images.githubusercontent.com/342481/121535122-71b92000-ca34-11eb-9735-283b25fbdeb3.jpg)

[2021-06-10 14:26] SubtleCo commented on #9346
Wow what luck, I literally randomly googled Postman ARM M1 and found this thread 7 hours after the first public build was released? OH OK FATE

[2021-06-10 14:36] DannyDainton commented on #10015
There is only so much space to make use of in that view - The window size, Collection sidebar, length of request name, length of the URL and the folder path to the requests all need to be accounted for. Additionally, The HTTP Method, status code, response timing and sizes need to be on the same line.

I believe that a tooltip is missing from that truncated value, these are present on the URL and f

[2021-06-10 14:40] ramosmediavalet opened #10017 "anchor/tag in HTTP Request to the documentation does not work"
Hello,

It's a common practice to link to parts of the API Documentation in other documents, e-mails or customer communications.

The link sometimes needs to be precise and send to the specific FOLDER or REQUEST.

If we try to do it, it does not work, instead all links will ignore the anchor/tag and will open the top of the page.

https://docs.mediavalet.com/#4ea51e9f-bfd3-4f2d-9469-3bec0295ea37
!

[2021-06-10 15:18] lechediaz commented on #9176
I had the same problem today, but I resolved it setting the header Content-Length properly in my http response

[2021-06-10 15:24] dgonzalo-sgt commented on #3692
One more with corporate NTLM proxy authorization here...

[2021-06-10 15:37] reading-stiener commented on #8205
I am the same issue. Is there no fix for this?

[2021-06-10 15:37] Venkatavarun commented on #8231
@postman-support @abhijitpostman any update on this one?

[2021-06-10 16:05] fyvekatz opened #10018 ""Save response" for a 3.74 MB response silently fails"
**Describe the Issue**

"Save response" for a 3.74 MB response silently fails

**Steps to Reproduce**
I used the following API from skycanner:  http://partners.api.skyscanner.net/apiservices/geo/v1.0. It needs an apikey.

**Screenshots or Videos**

**Environment Information**

 - Platform Type:       Postman web
 - Postman Version:  Version of 6/10/2021
 - Operating System: Chrome browser

**Addit

[2021-06-10 16:20] benayat commented on #1066
they're probably still napping

[2021-06-10 17:57] superjulius commented on #9481
I am also unable to get the sync working on Windows. Any idea?

**Main.log**
[code]

renderer-shared.log
[code]

[2021-06-10 19:42] BenjaminMcGill commented on #5502
Please reopen this... We have a team with multiple users and this would help our testing efforts greatly.

[2021-06-10 20:12] thisisjoel commented on #1066
+1

[2021-06-10 20:38] BrutalSimplicity commented on #1678
Yes, please reopen. You built a wonderful visualization API, but didn't really fulfill this request. I would prefer to *easily* view the size of json arrays in the normal json tab, rather than using the less than obvious visualization API.

[2021-06-10 21:44] StrohmyerTR commented on #9689
I do this all the time. As a workaround, you can use pm.sendRequest and their response objects in Pre-request and Test scripts to retrieve the values you seek. Reach out if you would like to know more...

[2021-06-10 21:49] dzmitry-kankalovich commented on #8302
I just really wish someone at Postman would spend some time on, you know, covering their fix with unit tests. Because it's broken again.

[2021-06-10 22:00] jviotti commented on #7294
Hey there! As @vbiginner, mentioned, auto-updates on Windows is one of the main causes of high CPU usage..

We've identified that the problem is how the application performs delta updates. Disabling delta updates (something we as a team can do when building the application from source) brings down the CPU usage of the "Update" process to a minimum while the update is downloaded and applied. Howeve

[2021-06-10 22:09] fireattack commented on #8302
It indeed weird this hasn't be fixed. I encounter this issue semi-frequently when using Postman. I'd guess others would find so too.

[2021-06-10 23:25] oliverm2112 commented on #1066
So frustrated after 6 years of waiting for this BASIC FEATURE that I'm starting to look for alternatives. https://www.google.com/search?q=free+alternative+to+postman&oq=free+alternative+to+postman
Please post here if you find one you like!

[2021-06-11 04:35] postman-support commented on #10006
Hi Ed,

Just following up here - let me know if you have any other questions or concerns as we haven't heard back.

You can use the same GitHub title while submitting a ticket to help us identify and process faster.

via @Raj-postman | Postman Support

[2021-06-11 06:39] evalero commented on #3692
As workaround, I'm using cntlm to create a proxy that will tunel all conections againts the real proxy.

[cntlm in sourceforge](http://cntlm.sourceforge.net/)

To install and configure it, you must unzip the program at desired path, and then change the **cntlm.ini** config file

The fields that you should touch (can be different in your company) are:
* **Usename** : just the username of your windo

[2021-06-11 06:51] mungojam commented on #3692
Try genotrance/px which doesn't need you to store your password

[2021-06-11 07:15] laad-shikha opened #10019 "New Integration Request - GoogleAdsAPI"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-06-11 08:15] FikaCode commented on #6999
so, It's been almost two years, Is there any official way to disable update？

[2021-06-11 08:16] and-za commented on #6832
I can confirm that I have the same issue as @dmwatan. Postman version 8.6.1 running on Lubuntu 20.04.

[2021-06-11 09:28] skaria-cloud commented on #9481
Hi Postman

Could you please remove me from mailing list? My support request was resolved and I'm getting mails constantly non 🛑!

Thank you ,

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Julien Jacobs ***@***.***>
Sent: Thursday, June 10, 2021 1:57:53 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Shilan Karia ***@***.***>; Mention ***@***.***>

[2021-06-11 10:56] shashankawasthi88 commented on #9852
Closing. Feel free to add more details and reopen.

[2021-06-11 10:56] #9852 closed, assigned to abhijitkane

[2021-06-11 11:43] Rikudouensof commented on #7125
This is done on the postman, not Visual studio. don't get lost

[2021-06-11 13:00] JAELatDHI opened #10020 "Change postman request data type to data from data-raw"
I am trying to export files from a server called IUCLID.

To do this I must set the request body type as --data.

This is apparently not possible in Postman, according to a message I received from their support.

Please add this feature!

[2021-06-11 13:01] DannyDainton commented on #10020
Hey @JAELatDHI

Are you able to provide an example of the request you're trying to make, please?

[2021-06-11 13:05] JAELatDHI commented on #10020
This is the code atm:
curl --location --request POST '######/iuclid6-ext/api/ext/v1/raw/Reference_Substance/#####/export' \
--header 'accept: application/vnd.iuclid6.ext+json;type=iuclid6.Iuclid6Job' \
--header 'IUCLID6-USER: SuperUser' \
--header 'IUCLID6-PASS: ####' \
--header 'Content-Type: application/vnd.iuclid6.ext+json; type=iuclid6.FullExport' \
**--data-raw '{}'**

**--data-raw '{}'** sho

[2021-06-11 13:20] DannyDainton commented on #10020
That's currently working correctly if you were to manually change that from `--data-raw` to `--data` though right?

[2021-06-11 13:23] JAELatDHI commented on #10020
No, then it highlights --data as red in code snippets and ignores it:

![image](https://user-images.githubusercontent.com/85746288/121692996-f9e90500-cac8-11eb-9b2a-00a450ed215e.png)

[2021-06-11 13:27] DannyDainton commented on #10020
Are you trying to import that code into the app to make a new request or exporting that to another place to use?

If you could expand a little on your use case here that would help offer a better solution. 😄

[2021-06-11 13:39] JAELatDHI commented on #10020
Sorry of course I honestly didn't expect this post to get noticed.

I am creating a POST request to create an Export job in the server, which I then download using a GET request.

[2021-06-11 13:47] JAELatDHI commented on #10020
Here is all the code that I am running at the moment to run it

[XportCodeforSupport.pdf](https://github.com/postmanlabs/postman-app-support/files/6638826/XportCodeforSupport.pdf)

[2021-06-11 13:52] DannyDainton commented on #10020
I'm a bit confused - Is the POST request being actioned via Postman or you're crafting the request and then using the code feature to run in from the command line with curl?

Is the GET request getting run with Postman?

[2021-06-11 13:58] JAELatDHI commented on #10020
No I programmed or crafted it in Postman (I am using environment variables). Everything is running through Postman. I am just using "Code Snippet" to compare my code with the documentation code.

[2021-06-11 14:31] timbochamp commented on #7669
This should be addressed in #1070 from our v8.2 app release and onward, as well as on Postman for Web! Please reopen if you're still encountering this diff issue at the same time

[2021-06-11 14:31] #7669 closed, assigned to saswatds

[2021-06-11 14:33] mancave commented on #9998
Looks like the same feature request #10008

[2021-06-11 14:37] mancave commented on #9902
Looks like the same feature #10008

[2021-06-11 14:44] immohellwig commented on #9997
Same with v12.stomp

[2021-06-11 14:46] mancave commented on #7856
Looks like the same feature #10008

[2021-06-11 17:18] chucknelson commented on #5611
I have this issue working within my company's network - it's like whatever specific host is trying to be contacted is...blocked? Anyone know where the request for workspaces / syncing is going to (what host)?

[2021-06-11 17:19] parulgarg123 commented on #9021
+1 for request on this feature

[2021-06-11 19:13] natan88 commented on #9487
I'm using version 8.5.1 on elementary os, I just migrated from windows 10. Both operating systems have the same problem reported here.

[2021-06-12 00:35] PikaFederation commented on #5194
+1

[2021-06-12 08:22] fmessner commented on #4033
We have the same requirement to test our APIs with different client certificates for different users. Is there any progress on this or are there any plans to work on a solution?

[2021-06-12 14:39] sari1fatih commented on #4222
![1](https://user-images.githubusercontent.com/33065479/121779586-283c1280-cba5-11eb-989b-201420749578.png)

[2021-06-12 17:20] iyvinjose commented on #9776
@postman-support
I'm also having the same issue,
Tried updating the desktop app, installing the canary version, but still, collections are not loading.

What is the fix for this issue?