[2017-06-07 15:41] jmbremmer commented on #3127
![screen shot 2017-06-07 at 9 41 15 am](https://user-images.githubusercontent.com/10819790/26887529-7774cb36-4b65-11e7-9c69-1bd64a51bb0e.png)

[2017-06-07 16:16] malyalal commented on #3128
hi @BigstickCarpet thanks for the investigation.
intentionally I deleted the remaining part of the url from the evidence bcoz it was our test environment ID and endpoints. I am not sure it is safe to expose these ip & api calls outside my organisation.
However, I can share you the original logs which come like below
3	17:02:48	POST https://193.67.XX.XX/uaa/oauth/token
4	17:02:48	Error: certificate

[2017-06-07 16:21] JamesMessinger commented on #3128
Ah, ok @malyalal.  Sorry, I didn't realize that you had intentionally removed part of the URL from your original issue description.

Since the URL is not the problem, then the SSL certificate appears to be the cause.  The `certificate has expired` error message in the log means that the request to your server failed due to an expired SSL cert.  Then the subsequent JSON errors are just caused by tr

[2017-06-07 17:16] cyruszhang commented on #327
got the same problem with the chrome extension. the app works though.

[2017-06-07 18:26] jmbremmer commented on #3127
So I believe I have fixed the issue by turning off "Automatically follow redirects". Not sure why that fixes the issue, but so far my requests are going through as expected now.

[2017-06-07 22:49] dennisesan commented on #2523
+1

[2017-06-08 03:07] zhangmoon opened #3137 "upload file in collection runner"
hi, does postman support upload file in collection runner.
I run upload file in collection runner, the file does not upload.

[2017-06-08 04:00] kamalaknn commented on #3087
Hey @mjkraner @serkand,

The fix for this issue is now out as part of the latest version - `4.11.1` of our app. Could you update apps to the latest version and check if this is fixed on your side?

I am closing this issue. Feel free to comment/reopen this if you are still seeing this.

Thanks, have a nice day!

[2017-06-08 04:00] #3087 closed, assigned to kamalaknn

[2017-06-08 04:10] kamalaknn commented on #3119
Hi @danielcarr,

Thanks for sharing your feedback. This is something we might have missed if not for your feedback.

We have made sure the packaging for linux is done in the right environments now. The next release and all future releases should not have this warnings.

Thanks, have a nice day.

[2017-06-08 06:52] kamalaknn commented on #3107
Hey @asmp3,

I looked into this and traced it to the fix we made recently for #2816.

It looks like after the update the older shortcut was still left in `c:\Users\<your username>\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\GitHub, Inc`.

Unfortunately there is no way for us to detect and remove the shortcut there, which is used by Windows. That is why you are seeing the missing icon.

D

[2017-06-08 07:05] kamalaknn commented on #3137
Hi @zhangmoon

At the moment Collection Runner does not support uploading files. That is because saved requests can be shared with others in the team, or be synced to an app on a different machine, and the file path would be invalid for then.

Could you explain your use case so we see if there are any other ways to achieve this?

[2017-06-08 07:50] Daszczu commented on #2707
The bug is still present. In Polish I can't type 'ę' alt + e, and typing 'ć' alt + c opens 'Console' view but writes the letter.

[2017-06-08 08:48] malyalal commented on #3128
I verified with my config team. All certificates are active and fine.
The above test runs successfully in the Postman runner also.

Please help me if I have to add any cert. to postman or make any changes to get this worked.
I am using the trial version of Pro and I (my team) will be charged additional cost for Pro from 17th. If this is not going to work, that's a loss.

Can you also provide me wi

[2017-06-08 09:31] jammage commented on #3131
Hi Aniket,

I have just tried at home using Postman Windows and I am able to connect
successfully.  It'll be an issue with my workplace network, so you can
close the ticket.

Apologies for not checking this first.

Have a great day.

Regards

Jay

On Wed, Jun 7, 2017 at 6:58 PM, Aniket Panse <notifications@github.com>
wrote:

--
Jay

[2017-06-08 09:50] kamalaknn commented on #3131
@jammage

Great! Closing the issue now 👍

[2017-06-08 09:50] #3131 closed, assigned to czardoz

[2017-06-08 10:10] API-Guru opened #3138 "Json schema validation issue - "Required" keyword does not seem to work"
## App Details:
Postman for Windows
Version 4.10.7
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently noticed
 2. Expected behaviour: There should be strict schema validation

1. Store schema in schema variable
[code]
2. Create a variable to store the response body
Sample reponse body
[code]

3. Use tiny validator for schema vali

[2017-06-08 11:20] kamalaknn commented on #3138
Hi @API-Guru

This does not appear to be a bug with the Postman itself, but a difference in behaviour with tiny validator.

Could you open an issue on their [issue tracker](https://github.com/geraintluff/tv4) ?

I am closing this issue here. Feel free to reopen if you find this to be an issue particular to Postman.

[2017-06-08 11:20] #3138 closed, assigned to nobody

[2017-06-08 13:50] chriswhite199 commented on #2979
Somewhat a workaround in the short term - execute Postman with the `--disable-gpu` flag.

Update your `/usr/share/applications/Postman.desktop` file to include this flag:

    Exec="/opt/Postman/Postman" --disable-gpu %f

After the initial load, you'll probably need to Alt-Tab away and back again to get the screen to refresh, but this no longer trashes my entire UI session when running Postman in

[2017-06-08 14:03] Hossrod commented on #1104
Ouch, how can this not be supported by now, especially with all these +1. I'm blocked from using Postman for my work right now because of this.

Unfortunately, I tried the suggestion to use File for the json part and point to a file with .json extension, but it still didn't work (the server complains that the json parts content type is `application/octet-stream`) . So not sure if that work around

[2017-06-08 14:11] albpoz commented on #1104
Does someone know an alternative tool capable to handle the issue?

[2017-06-08 14:35] JamesMessinger commented on #3128
@malyalal - Try disabling SSL validation for your monitor.  That may solve the problem.

<img width="506" alt="disable ssl" src="https://user-images.githubusercontent.com/3453903/26934013-0009fef0-4c1d-11e7-94ca-9d388533b76d.png">

[2017-06-08 14:44] Strutsagget commented on #1669
+1

[2017-06-08 14:45] asmp3 commented on #3107
Hey @kamalaknn,

Yes deleting the shortcut in the Github, Inc folder has solved the issue.
Thank You!

[2017-06-08 14:59] kamalaknn commented on #3107
@asmp3 Great! That's good to hear.

I am closing this issue then.

For anyone stumbling on this in future,

1. Right click on `Postman` in Start menu and select `Open file location`.
2. If the shortcut is inside `GitHub, Inc` folder
3. Make sure there is one shortcut inside `c:\Users\<your username>\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Postman`
4. Delete the shortcut in `c:\Users\

[2017-06-08 14:59] #3107 closed, assigned to kamalaknn

[2017-06-08 15:16] malyalal commented on #3128
Hi again @BigstickCarpet, I tried it and it worked. Thanks a lot for your support.
The evidence below -
![screen shot 2017-06-08 at 16 13 59](https://user-images.githubusercontent.com/13729866/26936158-b803e230-4c65-11e7-850c-599380dab7e6.png)

[2017-06-08 15:24] JamesMessinger commented on #3128
Great!  Glad to hear it!

[2017-06-08 15:31] #3128 closed, assigned to nobody

[2017-06-08 15:52] Hossrod commented on #1104
@albpoz, don't know your requirements, OS, etc., but [curl](https://curl.haxx.se/) and [fiddler](http://www.telerik.com/fiddler) are a couple.

[2017-06-08 16:12] bigbigmike opened #3139 "How do I use environment variable for a simple string search test in Postman?"
## App Details:

[code]

## Issue Report:

...
Hello.  I am struggling to reference an environment variable string value in my postman tests.  I have looked through the test documentation and other threads but unable to find a working solution.

I have a json response that includes names of jar files in the result.
[code]

If I use this test snippet with the exact string, I am able to find the str

[2017-06-08 16:18] davidmpeace opened #3140 ""Preview" content persists when subsequent requests returns empty body responses."
## App Details:

[code]

## Issue Report:
1. This issue is present on the "Preview" tab, of the response Body section.
2. When a web request returns no (empty) response, the previous request data is still visible until you click "Pretty" or "Raw".

## Steps to reproduce
 1. Submit any web request that returns data.
 2. Click on the "Preview" tab
 3. Submit the same web request, but ensure the requ

[2017-06-08 16:24] numaanashraf commented on #3140
@davidmpeace This was a known issue and we have addressed this in `v4.11.0`. Could you update to the latest version `4.11.1` and verify?

[2017-06-08 16:57] bigbigmike commented on #3137
I also had this dilemma and ended up installing Newman to run my collection with a file upload and I was successful.  It would be a good feature to be able to provide a way to do this in collection runner.

[2017-06-08 18:20] curtiscook commented on #3098
I'm running into this on mac chrome as well. Postman throws a "could not login" error and prematurely closes the 2FA window

[2017-06-08 20:48] bholley82 commented on #1845
Have RAML import features been given any priority for development @a85?
I'm hoping to be able to regularly generate test collections based on RAML definitions by filling URL parameters with environment variables, e.g. "https://{server}/myapi/mycall".
When I import my RAML, I get "https://:server/myapi/mycall", which means I need to manually fill in the value for the :server param on every call. Ad

[2017-06-09 00:05] MXYMIN commented on #2870
Still seeing this issue on Postman (4.11.1).

[2017-06-09 05:37] skubot opened #3141 "Test runner bug: fails with GET request, containing @ symbol in params."
## App Details:

[code]

## Issue Report:
I noticed a new problem with the test runner, this also affects Newman;
`When a query param contains the @ symbol the test runner fails.`

## Steps to reproduce the problem
`PASSES` This is the `requestUrl` from a manual GET;
`localhost:80/api/validate-email?user_email=fred@gmail.com`

`FAILS` This is the `requestUrl` when using the test runner;
`localhost

[2017-06-09 05:40] kjoojik commented on #1552
+1

[2017-06-09 05:54] kamalaknn commented on #3139
Hi @bigbigmike ,

You can use `postman.getEnvironmentVariable()` to get the value of an environment variable.

This snippet should serve as a guideline for what you are trying to achieve.

[code]

Pro tip: You can also use `console.log` in scripts and see them in the Postman Console(`View -> Show Postman Console`).

Hope this helps.

I am closing this issues as it is not a bug with the Postman app

[2017-06-09 05:54] #3139 closed, assigned to nobody

[2017-06-09 06:01] kamalaknn commented on #3141
Hey @skubot

Thanks for reporting this. We are seeing this too.

This should work out of the box. Let me check what's causing this and get back.

[2017-06-09 09:04] nalum opened #3142 "Publish Docs behind a Password"
I'd like to request the ability to publish documentation behind a password.

I have requirements for documentation that is not public and would like to use the postman service but currently cannot.

[2017-06-09 09:53] edsonmedina commented on #2392
+1

[2017-06-09 10:05] kamalaknn commented on #3142
Hi @Nalum

Thank you for your feedback. This is something we do not support yet.

I am tagging this as a feature request. @a85 can clarify on the roadmap.

[2017-06-09 10:07] edsonmedina commented on #2698
+1

[2017-06-09 12:54] davidmpeace commented on #3140
Thank you @numaanashraf - all is good.  Sorry for the dup.

[2017-06-09 12:54] #3140 closed, assigned to kamalaknn

[2017-06-09 13:30] arpadffy commented on #1535
This is a highly desired feature.
It would allow writing complex test sequences based on a common API call library.
Hope this feature will come soon.

+1

[2017-06-09 14:51] jlewis-13 opened #3143 "request.data returning as [object Object]"
## App Details:
[code]

## Issue Report:
this issue started recently.  the scripts used to work.

Expected behaviour:
this script should return as null.
postman.setEnvironmentVariable("body", request.data);

Screenshots (if applicable)
request.data returning as [object Object]
![image](https://user-images.githubusercontent.com/22100584/26980847-58d6acc4-4d01-11e7-85cb-82acc23aa66d.png)

pre reques

[2017-06-09 15:08] ShawnBuckley commented on #2247
+1

[2017-06-09 15:38] adnansinanovic commented on #1996
![image](https://user-images.githubusercontent.com/27208956/26982863-12ea9bce-4d3a-11e7-9b03-b9d3e3dace84.png)

Occurs very often.

[2017-06-09 18:02] NyanHelsing commented on #3127
I have this same issue, though turning off automatically follow redirects did not solve the issue. the request seems to work on the chrome app version, 4.11 on both

[2017-06-09 18:41] ShiftedMr opened #3144 "Request Header application/patch-merge+json should see the body text as json"
Relevant RFC https://tools.ietf.org/html/rfc7396

Postman for Windows
Version 4.11.1
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always (assumed, checked previous version and updated both had issue)
 2. Expected behaviour: Syntax highlighting for json and variables
 3. UnexpectedBehavior: shows as raw text with raw in dropdown
 4.

[2017-06-09 19:10] ghost commented on #2225
Same problem, Native app 4.11.1 for Mac, proxy settings won't work

[2017-06-09 19:57] CosmicBara commented on #3117
@a85 What exactly do you mean by "request body markdown"? Is there a page in the Postman documentation that details this, or an example you can share?

[2017-06-09 19:59] kamalaknn commented on #3141
@skubot We tracked the source of the issue to [postman-collection-transformer](https://github.com/postmanlabs/postman-collection-transformer). We've fixed this and will roll it out to production on the app in the next release.

We'll get newman to use the latest version of `postman-collection-transformer`, so you don't have to worry about it.

Thanks

[2017-06-09 20:03] Jiia commented on #2707
This bug is driving me nuts...

[2017-06-09 20:44] michaelfrye commented on #1678
+1

[2017-06-09 21:00] ai7 commented on #3098
Running into this issue too. Postman prematurely closes the 2FA window.

[2017-06-09 21:10] dblock247 commented on #1137
+1

[2017-06-09 22:30] codetotest commented on #3111
Duplicate issue reported and fixed --  https://github.com/postmanlabs/postman-app-support/issues/3141

@madebysid @kamalaknn  -- fyi

[2017-06-09 22:30] #3111 closed, assigned to sdnts

[2017-06-09 22:36] codetotest commented on #3141
@skubot  Issue should be fixed now , I was waiting for this fix since last 5 days.. updated to latest Version 5.0.0 (5.0.0)  and issue is resolved. Thanks @kamalaknn !!

[2017-06-09 22:40] codetotest commented on #3143
@jlewis-13 try ---  postman.setEnvironmentVariable("body", JSON.stringify(request.data));

[2017-06-10 08:27] kamalaknn commented on #3141
Hi,

@codetotest is right. We released the fix for this in 5.0.0.

I am closing this issue now. Feel free to reopen if you are still seeing this in 5.0.0

[2017-06-10 08:27] #3141 closed, assigned to czardoz, kunagpal

[2017-06-10 08:35] kamalaknn commented on #3119
Hey @danielcarr

We've fixed this in the latest version of the app. Could you check the `5.0.0` release and see if you still get the warnings?

Thanks.

[2017-06-10 11:25] numaanashraf commented on #3144
@fredsmithjr Thanks for the suggestion. We'll look into this. 😄

[2017-06-10 18:04] MiguelTVMS opened #3145 "Examples are shared between original and saved as request"
## App Details:
[code]

## Issue Report:
When a delete the examples from a request a just created from other request using 'save as' the examples from the original request are deleted either.

Steps:
1. Create a request.
2. Add some examples.
3. Go to save as option on the save button of the request.
4. Delete the examples from the new request.
5. Save the request.
6. All the examples on both requ

[2017-06-10 18:13] prashantagarwal commented on #3145
@jmtvms Thanks for reporting this issue. We will look into this and keep you updated on this thread.

[2017-06-10 21:53] gauravcanon opened #3146 "Postman Interceptor not working for sending cookies"
Postman Interceptor not working, I am trying to test API's which requires the user to be logged in. I am using interceptor for that. Enabled both in chrome and in App version. The user is not getting logged in into the system .

But the same thing is working with **httprequestor** which is for Mozilla same API URL is working fine with cookies provided to **httprequestor** .

What I am doing wrong

[2017-06-11 07:10] bansalvks commented on #204
trillions of upvote for the feature

[2017-06-11 07:49] SamiUrias commented on #450
I solved the problem writting "https://" before the url

[2017-06-11 13:30] Eli-Goldberg opened #3147 "Feature request: edit environment templates"
## App Details:
[code]
Hi, my entire team asks for this:

Please add the ability to edit Environment templates directly,
instead of deleting them, cleaning up the existing environment (hiding vars..), creating a new template with the same name, etc..

[2017-06-11 22:50] MarcosPer opened #3148 "Error/FeatureRequest Transparent proxy"
## App Details:
[code]

I'm trying to inspect android phone requests. I created hotspot in my pc and i redirects all traffic to postmanAPP with iptables, but it doesn't work because i can't put proxy as transparent mode, so it would be an great idea create an option that allows use proxy as transparent mode and it 'll solve the problem. It can be very useful to inspect phone activity.

I do it of

[2017-06-12 03:49] 05F3759DF commented on #2082
Postman for Chrome
Version 5.0.0
OS X / x86-64
Chrome 58.0.3029.110

Same problem still exists!

[2017-06-12 04:10] medjai commented on #2941
@czardoz Will this be fixed in the windows client too? I can also confirm that using {{echo_digest_realm}} and {{echo_digest_nonce}} does not work

[2017-06-12 08:16] krogold opened #3149 "Postman collection runner does not run collection to its end when newman does"
## App Details:
Postman for Windows
Version 5.0.0
win32 10.0.14393 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I'm a newcomer, I've never seen this before
 2. Expected behaviour:
I expected the same number of tests to be run with postman and newman
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-post

[2017-06-12 08:23] numaanashraf commented on #3147
@Eli-Goldberg Thanks for the suggestion. We'll update here when this lands on our roadmap. You can find the current roadmap at https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers.

[2017-06-12 08:27] numaanashraf commented on #3149
@krogold Thanks for writing in. Postman doesn't have any limitations that might cause this. Would it be to possible to share a sample collection we can use to replicate?

[2017-06-12 08:29] numaanashraf commented on #3148
@MarcosPer Thanks for the suggestion. We'll look into this. 😃

[2017-06-12 08:33] numaanashraf commented on #3146
Hi @gauravcanon, could you let us know your Postman App and Interceptor versions and detail the steps you did to replicate this? We'll look into this.

[2017-06-12 08:42] krogold commented on #3149
Hello, thank you for your quick response,

I can't join a zip containing my collection, Something went wrong (?) is there another way to send you the sample ?

By the way I noticed Something, the Postman run stopped on a particular failure (return 415 - unknown), in a test that is still not mature, could it be the reason ?
Is it possible to skip some tests when launching a collection (without remo

[2017-06-12 08:55] krogold commented on #3149
Actually I tried to run my collection folder by folder, the error really happens on the step I described before. The particular case is that it is a POST request that fails. Most of the requests I use are PUT and GET.
A previous POST request succeeded though ...

[2017-06-12 09:15] numaanashraf commented on #3149
@krogold So the runner stops when it hits a POST request that returns 415? You could mail us the collection file to help@getpostman.com and cite this GitHub issue number on the subject. Also, could you open the Postman Console (View menu > Show Postman Console), rerun this folder, and send us a screenshot of this request's log?

[2017-06-12 09:37] Faz540 opened #3150 "[Feature Request] - Give the user the ability to open/not open SENT requests in a new tab"
Windows App
Windows 10 64 Bit

I've noticed since v5.0.0 that all sent requests now open in a new tab, this allows the user to view their response from previous requests.

There's currently a setting called "Always open requests in new tab" and if this is true - This creates a new tab for every request that's OPENED in Postman.

Ideally, I'd like a similar setting which creates a new tab for every

[2017-06-12 09:42] numaanashraf commented on #3150
@Faz540 Thanks for the suggestion. We'll look into this.

[2017-06-12 10:10] krogold commented on #3149
I did run with console and I have additional information (though I counldn't read it in the console from the developer Tools ?):
Domovea set child group relationship: JSONError: Unexpected token '<' at 1:1 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/ ^
Usually, this kind of message prevents from executing the test case.

It seems to be a server issue, here is the

[2017-06-12 10:15] meywd commented on #3116
@numaanashraf  @bhawna2109 Thank you for your response, I understand that it has changed, but it's really annoying now to send a saved request, so it would be great if you can add the send button again.

[2017-06-12 10:46] Heydiddly opened #3151 "[Feature Request] Access Globals and Data Files from Postman Cloud/API"
Would be very useful if Globals and Data Files could be stored on the Postman Cloud and retrieved via the API the same way collections and environments can currently. i.e. new endpoints:

https://api.getpostman.com/globals?apikey={{Key}}
and
https://api.getpostman.com/globals/{{GlobalUID}}?apikey={{Key}}

https://api.getpostman.com/datafiles?apikey={{Key}}
and
https://api.getpostman.com/datafiles/

[2017-06-12 11:06] sdnts commented on #3151
@Heydiddly Thanks for the suggestion! We'll look into this :)

[2017-06-12 11:09] sdnts commented on #3143
@jlewis-13 Objects, when stringified (to display in the environment preview list), show up as `[object Object]`. As @codetotest suggested, doing a JSON.stringify before setting the variable and a JSON.parse before usage should solve your issue.
I'm closing this, please feel free to reopen if this is still a problem for you

[2017-06-12 11:09] #3143 closed, assigned to numaanashraf

[2017-06-12 11:26] sdnts commented on #3149
Hi @krogold Are you doing a `JSON.parse` in the test script of this response? I'm guessing yes, since the error suggests that.
I suspect this is why it is failing (since JSON.parse fails to parse the HTML response body, and throws an error). The reason it works in Newman is probably because of some config difference between the two. (I say this since the underlying request running code in the nati

[2017-06-12 11:31] sdnts commented on #3120
Hi @gornialberto We were unable to reproduce this on v5.0.0. I've attached a screenshot showing that this works on the native Mac app.
I'm closing this, but please reopen if you're still seeing this.

![screenshot 2017-06-12 17 04 24](https://user-images.githubusercontent.com/7689783/27032188-37aaa874-4f91-11e7-839d-18da18df8b34.png)

[2017-06-12 11:31] #3120 closed, assigned to czardoz

[2017-06-12 11:52] sdnts commented on #3127
@jmbremmer Could your service be redirecting to a URL that was problematic? That might explain why it was temperamental.

@birdbrained Usually when you get this error, you'd want to check your service to see if it is behaving properly (maybe check a status endpoint).

Also, do you guys have a request timeout set? That might also explain the intermittent failures.

[2017-06-12 11:55] sdnts commented on #2707
Guys, can you try updating to 5.0.0 and check if this is fixed for you now? You should be able to type the `@` symbol now.

[2017-06-12 11:57] fvilers commented on #2707
Works now, thanks!

[2017-06-12 12:01] matthiasjost commented on #2707
I can confirm, it works. Thank you.

[2017-06-12 12:04] Alexsey commented on #2155
Can't import globals through the "Import" window - error
```Failed to import data: Could not import: TypeError: Cannot read property 'id' of null```
File is like this
[code]
And I already have some globals

[2017-06-12 12:08] sdnts commented on #2155
@Alexsey I am able to import the JSON you attached on the 5.0.0 native and Chrome apps. What version of the app are you on?

[2017-06-12 12:09] Alexsey commented on #2155
@madebysid OSX native V5.0

[2017-06-12 12:13] Alexsey commented on #2155
Sorry, globals are actually imported. But also error balloon will pops up. First green balloon will pops up with the message that globals art imported and the red balloon pops up with an error

[2017-06-12 12:18] sdnts commented on #2155
@Alexsey Ah I was able to replicate this. A `Raw text Import` works as expected. If you do an `Import by File`, this happens. I'm investigating what might be causing this.

[2017-06-12 12:34] sdnts commented on #2155
I was able to find the problem. While the import does work, the behaviour you mentioned has been fixed and will be out with the next release :)

[2017-06-12 12:39] Alexsey commented on #2155
Thanks :)

[2017-06-12 12:41] sdnts commented on #450
@SamiUrias In your case, it looks like `http` -> `https` redirects were set up. When redirecting, Postman will strip the POST body and forward the request as a GET to emulate browsers

[2017-06-12 12:43] sdnts commented on #204
Guys, starting with Postman 5.0, this is possible for all users when they sign in :)

[2017-06-12 12:46] sdnts commented on #3117
Hi @GunslingerBara You should be able to document Raw bodies in the Request's description. We'll look into supporting docs for raw body as well.

[2017-06-12 12:55] krogold commented on #3149
Yes, I actually do and I realize that I already encountered this error: when I set a request body 'raw' and I don't modify the format (Text by default) it provokes this kind of errors. This was the case here.
If I modify the format to JSON, the error provoked is just linked to my request and is no longer blocking. The runner can play the collection to its end.

Many thanks for your help.

Alexandr

[2017-06-12 12:55] #3149 closed, assigned to sdnts

[2017-06-12 12:57] sdnts commented on #3149
@krogold Awesome, that's great to hear!

[2017-06-12 12:59] kerednai opened #3152 "[Feature Request] Add Root and Intermediary CA"
The native postman application should allow me to add a trusted root and intermediary CA.
I would like to be able to use postman to test an internal API which presents a cert signed by a local CA. In order to do this I need to add the local CA root and intermediary CA. The CA in this example is the company I work for. I know I can turn off SSL verification, but I don't want to do that.
FYI - I als

[2017-06-12 13:10] jlewis-13 commented on #3143
Hi - this is not returning as empty.  It comes back as {}.  Any other ideas?

postman.setEnvironmentVariable("body", JSON.stringify(request.data));
![image](https://user-images.githubusercontent.com/22100584/27035298-cc7e1852-4f4e-11e7-995f-bbab8dc53cdb.png)

[2017-06-12 13:13] Telaran commented on #2707
At least @ is now fixed for Swiss-Layout (Co Worker had it on 4.11.3 and I've confirmed on 5.0)
Several other "special ones" are covered too.

Only € (Alt-Gr-E) is not recognized correctly and open the "Manager Environment"-Dialog.

[2017-06-12 14:58] Faz540 opened #3153 "[Bug] - Since Update 4.11.0 tests fail in the Runner when compared to Postman (see example)"
**Windows App
Windows 10 64 Bit**

In Postman, I'm saving a boolean as an environment variable (postman saves this a string)
In the next endpoint my test contains the following line of code

[code]

This works perfectly in Postman, but when running this in the Runner, it fails.
This should definitely pass, as the value returned is always false (boolean)

I was positive I've seen this test working

[2017-06-12 15:02] numaanashraf commented on #3153
@Faz540 Thanks for reporting. We are looking into this.

[2017-06-12 15:05] numaanashraf commented on #3152
Thanks for the suggestion @kerednai. We'll update here if and when we add this to our roadmap. You can view the current roadmap at https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers.

[2017-06-12 15:38] pradeepkusingh commented on #2281
ignore please.

[2017-06-12 16:18] cenxun commented on #2369
Same issue
[code]

[2017-06-12 18:13] zersiax commented on #3121
Sounds good :) Any global ETA for that one?

[2017-06-12 19:08] bquack commented on #3099
I was able to verify this is now fixed. Tested in version 5.0.0

Thanks for the quick turnaround!

[2017-06-12 19:42] ghiscoding commented on #1137
@pajics thanks for the workaround, however it seems that I need `Fiddler` to be opened at all time for `Postman` to work. Is there a workaround for that? My coworker only did it once and doesn't need `Fiddler` at all anymore, but on my side I need all the time :(

[2017-06-12 23:51] okonomiyaki3000 commented on #2369
Guys, if you have the same issue, be sure to +1 the original post.

Also, v5.0.0 now and still nothing on this issue? Come on, guys, don't make me use Insomnia.

[2017-06-13 01:19] Candidate48 commented on #3116
hello there,
one of 4.11.0 update Features confuse me! that is "Save variations of request & response with Examples".I save the response for write my Tests .but in 4.11.0 Examples I can not see the response and write Tests at the same time!

Obviously, in example, request&response is pair which is great. it seem to have a conflict with my needs.

[2017-06-13 06:06] bansalvks commented on #204
@madebysid can you provide steps to create a api documentation from postman

[2017-06-13 07:23] Faz540 commented on #3150
Another UX suggestion would be similar to how Sublime Text handles opening files.

Single click opens the file in the same tab, replacing the current tab (assuming no changes have been made to the tab the user was working on)

Double click always opens the file in a new tab.

I think adopting that approach would be more efficient than the suggestion I previously mentioned.
Thanks :)

[2017-06-13 07:52] MarkBramnik commented on #1104
+1 here

[2017-06-13 08:56] gemyago commented on #1228
+1

[2017-06-13 09:27] rstengel commented on #482
Are there any news regarding client certs? I have the native Windows app, Win10 x64, Postman v5.0.0 .
Tomcat: "Error trying to obtain a certificate from the client".

[2017-06-13 09:32] orossant commented on #2723
It would be nice too, to  be able to read and write global variables Inside a Collections.
When I user Inside one collection, two request, the first one modify a global env variable and the second request will read the global variable but with wrong value.

[2017-06-13 09:49] niksworld22 opened #3154 "multiple concurrent position of cursor to write"
## App Details:
Postman for Chrome
Version 4.11.1
win / x86-64
![2017-06-13](https://user-images.githubusercontent.com/21290154/27076692-944ef8f4-504b-11e7-8804-c25f90ef584a.png)

Chrome 58.0.3029.110

Postman for windows
Version 4.11.0
OS 10/ x64
[code]

[2017-06-13 09:56] numaanashraf commented on #3154
Hi @niksworld22, this is an intended feature which is present in all modern code editors.

[2017-06-13 09:57] #3154 closed, assigned to numaanashraf

[2017-06-13 10:10] danielcarr commented on #3119
Thanks @kamalaknn, I can confirm that it's working as expected (no warnings) in version 5.0.0

[2017-06-13 10:10] danielcarr commented on #3119
Thanks @kamalaknn, I can confirm that it's working as expected (no warnings) in version 5.0.0

[2017-06-13 10:10] #3119 closed, assigned to kamalaknn

[2017-06-13 10:11] lovelock commented on #1499
@JDFagan It's not good to treat them differently

[2017-06-13 10:56] Chandana87 opened #3155 "Runner:Get Method doesnt read variables from csv."
Hi,

I am not sure whether this feature was ever there.
Just want to understand if I can pass the params value in csv file instead of URL in GET method.
I am trying but its not reading it.
I have already set the environment and whenever I am passing the params through URL, the GET method
is working absolutely fine. But when I try to run it through Collection Runner it does read the csv datafile wh

[2017-06-13 11:21] thirdjm commented on #3079
Is this allready fixed as it still seems to be an issue ?

[2017-06-13 12:50] numaanashraf commented on #3155
Hi @Chandana87, could you share a sample collection and csv? It'll help us replicate and debug this faster.

[2017-06-13 13:00] Tornhoof opened #3156 "Schema V2 https://schema.getpostman.com/json/collection/v2.0.0/collection.json wrong?"
## App Details:

[code]

## Issue Report:

1. Export collection to V2 format, have a description in a request
2. Actual Result: According to the schema, the description element is in Item and not in Request.
3. Expected Result:
Schema is correct so I can correctly create postman collections programmatically and import them with all data. I tried migrating to V2 because I have more options to set D

[2017-06-13 15:40] Chandana87 commented on #3155
Hi @numaanashraf please find attached
[Desktop.zip](https://github.com/postmanlabs/postman-app-support/files/1071957/Desktop.zip)

[2017-06-13 16:07] JDFagan commented on #1499
@lovelock agreed and that was my point I was trying to make (to treat them equally)

[2017-06-13 18:07] jeamland commented on #2225
Confirmed in Postman 5.0.0 on macOS Sierra 10.12.5. I have a SOCKS proxy configured in the system proxy settings in Network. Let's call it `proxy.mycompany.com` and port 1080.

What I see in the Postman logs is:

```Error: getaddrinfo ENOTFOUND socks5proxy.mycompany.com socks5proxy.mycompany.com:1080```

and the proxy information given is:

[code]

Which is pretty much exactly what @magicdawn repo

[2017-06-13 21:07] DraakUSA commented on #3103
Even if it's the ability to read an INI file and set the environment variables via the pre-request script would be useful to do this.

[2017-06-13 21:11] Wingedillidan commented on #2811
I'm also running into this issue on version 5.0.0, except a token doesn't even get generated in the list, it just returns an error 400 in the developer console.

![screen shot 2017-06-13 at 5 10 38 pm](https://user-images.githubusercontent.com/13971542/27104774-420e796a-505b-11e7-9b3a-c669968488d0.png)

[2017-06-13 21:41] a85 commented on #204
@bansalvks Please check the docs at getpostman.com/docs

[2017-06-13 21:47] ankr11 opened #3157 "Postman runner does not run the entire collection"
We have a collection with folders which contain our API tests. However, only a portion of the tests are running every now and then. So, out of 115 requests, only 15 are being executed. Sometime only 38 out 115, other time (rare) the whole 115 will run.

Multiple users experiencing this.

![screen shot 2017-06-13 at 2 46 14 pm](https://user-images.githubusercontent.com/29413987/27140905-91841d76-50

[2017-06-14 00:48] Techcadia commented on #907
Disappointed to see this not in the 5.0.0 release. Do you guys have an ETA on this

[2017-06-14 03:48] Busterz commented on #1980
i am getting the same issue as above while trying to access the google calendar api. The bearer token is saved as undefined.

[2017-06-14 04:59] jon49 opened #3158 "Test Example Response - Feature Request"
It would be nice to be able to test the `Example` code that can be save to make sure the docs stay in sync with what is current.

So, let's say I save a response as an example. Then I could put in my tests something like:

[code]

Then I know when I should update my example.

Thanks ahead of time, awesome product that keeps getting better!

[2017-06-14 06:34] kamalaknn commented on #3157
Hey @ankr11

Thanks for reporting this. We are seeing this too.

We'll roll out a fix for this in the next version. I'll update this thread once the fix is out.

Thanks.

[2017-06-14 07:36] SamvelRaja commented on #3158
@jon49 On the other way around, you can create mock servers in postman for your examples and can run tests on it.

https://www.getpostman.com/docs/postman/mock_servers

[2017-06-14 07:40] jefcasters commented on #2894
Issue also occurs on the windows client.
Other special characters also have the issue

[2017-06-14 07:47] czardoz commented on #3156
@kunagpal We need to add the description in the request schema as well

[2017-06-14 08:02] LucaBlackDragon opened #3159 "Timezone token not replaced in pre-request script"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
    Just happens recently.
 2. Expected behaviour:
     The {Z} placeholder should be replaced with the timezone (e.g. "+02:00") as per [SugarJs Docs](https://sugarjs.com/dates/#/Formatting) when used in a Pre-request Script, but it is left untouched.
 3. Console logs:
[code]

 4. Steps

[2017-06-14 08:06] rvainio opened #3160 "Hello,my postman stucks, and have to install new one, where i can find my collections? I use win 10"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-06-14 08:12] rvainio commented on #3160
MyPostman stucks on sending and can't use it,  after restart my pc , and start Postman again, I can see it in taskbar but can't  use it, it doesn't open,  I install new one and it works,  now I want to find my  old collections, so in which directory in my win10 pc I can find those?

[2017-06-14 08:58] alexandruirimiea opened #3161 "Send request shortcut doesn't work after I switch tabs"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I never tested this before
 2. Expected behaviour: the shortcut used for sending request should work when switching to another tab

Steps to reproduce the problem:
1. Send request using `Ctrl + Enter`
2. Switch to another tab using `Ctrl + Tab`
3. Send request using `Ctrl + Enter`

[2017-06-14 09:12] Chandana87 commented on #3155
Hi @numaanashraf  my apologies, I realized there is some issue with the rest service itself as the similar file worked in another service. Hence I am closing this issue.

Thank You.

[2017-06-14 09:12] #3155 closed, assigned to sdnts

[2017-06-14 09:39] SamvelRaja commented on #3160
@rvainio The new app version you installed should automatically loads the old app data into it.
Can you help me in reproducing the issue?

Anyhow, the app data will be stored in C:\\Users\[USER]\AppData\Roaming\Postman  which won't be in the readable format.

[2017-06-14 09:47] rvainio commented on #3160
Hi, thx for fast comment, i don't know how to reproduce, Postman just stuck, I check the folders but can't find my JSON files from there, maybe unreadable format. :(

[2017-06-14 09:50] SamvelRaja commented on #3160
@rvainio Did you signed into your postman account? if so don't worry your collections will be synced with us. Can you send mail to help[at]getpostman.com to help in retrieving it.

[2017-06-14 09:53] rvainio commented on #3160
not sure, don't remember , I install my Postman 2.5.2017, but maybe just install it without signed in .
anyway I will sent email so you can check

[2017-06-14 10:18] sdnts commented on #3161
@alexandruirimiea I was unable to reproduce this. I was able to switch tabs using `Cmd+1 / 2 / 3` and send the request using `Ctrl + Enter`.
When you say you switch to another tab, do you mean you're doing `Ctrl + 1 / 2/ 3` etc. right?

[2017-06-14 10:26] SamvelRaja commented on #3160
@rvainio Yeah sure goahead. If you had the account we shall help with that.

[2017-06-14 10:26] #3160 closed, assigned to SamvelRaja

[2017-06-14 10:29] alexandruirimiea commented on #3161
@madebysid No, I was using `Ctrl + Tab`.

[2017-06-14 10:31] pauloallex24 opened #3162 "Not sending pasted fields in form-data or x-www-form-urlencoded"
## App Details:
[code]

## Issue Report:
1. When I add a key and a value to x-www-form-urlencoded it doesn't send throw POST or PUT to the server.
2. If I move the key, it continues not sending.
3. It happen if I past the content in `Key-value Edit`.
4. If I enter `Bulk Edit` and go back to `Key-value Edit` it sometimes send. And sometimes I need to edit in the `Bulk Edit` before go back `Key-valu

[2017-06-14 10:35] SamvelRaja commented on #3162
@pauloallex24  Thanks for bringing this to our notice, we shall check the same and let you know the details in the same thread.

[2017-06-14 10:47] SamvelRaja commented on #3159
@LucaBlackDragon  we are looking into this issue, we shall let you know the progress here.

[2017-06-14 10:50] sdnts commented on #3161
Oh okay. Even with `Ctrl + Enter`, I'm able to send requests with `Ctrl + Enter` after switching tabs. Can you open up your DevTools (View > Show DevTools) and see if there are any errors there?
Also, do you have multiple Postman Windows open?

[2017-06-14 11:05] alexandruirimiea commented on #3161
Both _DevTools_ and _Postman Console_ don't show anything when problem reproduces. When I switch to another tab using `Ctrl + Tab`, it's like the window loses focus , but it doesn't (because the interface still responds to other commands).

Are you using the same version as I use? Btw I work on _Windows 10 Pro x64_, version _1703_, build _15063.296_

[2017-06-14 11:43] kamalaknn commented on #3157
Hey @ankr11

Could you export a collection where you are seeing this and send it to `help@getpostman.com`? It will help us narrow down the issue.

Thanks.

[2017-06-14 13:34] klubi opened #3163 "Cannot get first set-cookie entry."
## App Details:
[code]

## Issue Report:
 1. Make a request to any service that returns two *Set-Cookie* entries. (In my case It's JSESSIONID and AWSELB)
 2. Cookie manager recognizes both of them properly.
 3. In tests there is no way to get first *Set-Cookie* entry using `postman.getResponseHeader("Set-Cookie");`
 4. Both cookies are present in Postman main window, but in Postman Console Window

[2017-06-14 14:21] saschawiener commented on #798
Would be cool to have somthing like this! We're doing JSON validation via tv4 in Jenkins/newman. The json-schema gets generated dynamically by a pre-executed server script. Loading this file would be much easier than deploying it somewhere and calling it via HTTP.

[2017-06-14 14:28] mastermind3043-zz commented on #2716
@madebysid @vkaegis alternately, can the right pane be made collapsible in the two-pane view.
Such that, when composing the request, one can collapse the response pane

[2017-06-14 14:29] muralidharbg commented on #3129
same issue can be seen in version 5.0.0 as well

[2017-06-14 15:09] a85 commented on #3142
Sorry but this is not on our roadmap. For shared documentation, you can invite documentation users to your time.

[2017-06-14 15:10] #3142 closed, assigned to a85

[2017-06-14 15:11] #405 closed

[2017-06-14 15:12] a85 commented on #622
Saving responses inside collections is possible already. Saving responses in history is on our roadmap.

[2017-06-14 15:13] bohdaq commented on #622
@a85 awesome

[2017-06-14 15:16] a85 commented on #3157
@ankr11 The number of requests in your collection can be different than the number of tests within them. Are you treating each request as a single test? If yes, you should have one test in the sandbox in each of them.

[2017-06-14 15:23] ankr11 commented on #3157
Hi @kamalaknn,

Thank you for a reply, but unfortunately I won't be able to export a collection and provide it to you. The collections are being used as an API tests for the company I am working for, so that would be a security breach and violation of the NDA I am under.

[2017-06-14 15:32] ankr11 commented on #3157
@a85 I do treat each request as single test. However, I'm not sure I understand what do you mean by having a one test in the sandbox. Do you mean one test per collection? The way I structured it, is by having one collection, containing folders with requests in them.

[2017-06-14 15:33] a85 commented on #3157
@ankr11 Your collections need to have one test in each request's test script. Explained in docs here: https://www.getpostman.com/docs/postman/scripts/test_scripts

[2017-06-14 15:51] pauloallex24 commented on #3162
Just happened when I past a copy of all fields of another endpoint, copied and pasted in `Key-value Edit` mode. Changed between `Bulk Edit` and go back to `Key-value Edit`and still not working. Just worked when I went to `Bulk Edit`, added one paragraph and went back to `Key-value Edit`.
I was in a PUT request this time.

[2017-06-14 16:04] pauloallex24 commented on #3162
Just been able to reproduce the bug. Will now edit the first post.

[2017-06-14 16:47] nalum commented on #3142
Is there a user type that is limited to viewing the documentation?

I think either or all of these options would be good to have as a feature of postman:

* Permissions that allow a user to only view documentation
* Permissions that allow a user to only view a subset of documentation
* Documentation that is password protected

The permissions might be the better option over the password protection

[2017-06-14 17:30] greensombrero opened #3164 "Postman Requests Hang when Interceptor is enabled"
## App Details:

[code]

## Issue Report:
I recently started trying to use the interceptor with Postman and now when the interceptor is enabled in Postman every request hangs.  If I disable the interceptor in Postman all is well.

Things I've tried:

1. Enabling/disabling the interceptor extension
2. Rebooting my computer
3. Uninstall and reinstalling the interceptor extension

Any ideas what else

[2017-06-14 17:32] greensombrero commented on #3164
Also I'm running Postman Interceptor Version  0.2.22

[2017-06-14 19:24] phcs93 opened #3165 "Desktop app command line arguments"
## App Details
[code]
## Question
I'm using postman to debug my ASP.NET WebAPI on Visual Studio.

I've configured VS to "browse with" postman when running a WebAPI. It launches the app properly but, it would be amazing if I could set up the starting URL/Method/Headers/etc through the command line.

My question is, are there any command line arguments for the desktop app?

[2017-06-14 22:14] chrisknoll commented on #2292
Looks like we're seeing momentum, does that latest PR mean that we'll be seeing this supported in the near future?

[2017-06-14 22:39] cbeckermedrio opened #3166 "Disable "Always open requests in a new tab" doesn't work"
## App Details:

[code]

## Issue Report:

Postman doesn't seem to respect the "Always open requests in a new tab" setting any more.  I have it turned "Off", but when i click on a request, it always opens a new tab, even if i don't have any changes in current tab.

[2017-06-14 22:41] collinpeters opened #3167 "100% CPU"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently
 2. Expected behaviour: not 100% CPU :)
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): Perhaps related, but I cannot actually click the View menu at the moment

[2017-06-15 08:06] albpoz commented on #1104
A good tool able to submit multipart request specifying Conten-Type for every single part is SoapUI

[2017-06-15 08:16] kunagpal commented on #3156
@Tornhoof The v2.0.0 schema has been updated, thanks for pointing this out 😄

[2017-06-15 08:16] #3156 closed, assigned to czardoz, kunagpal

[2017-06-15 09:44] kamalaknn commented on #3164
Hey @greensombrero

Thanks for reporting this. We'll take a look at it once and get back to you.

[2017-06-15 09:50] kamalaknn commented on #3167
Hey @collinpeters

Thanks for sending your feedback.

We are working on some performance improvements around memory and CPU usage.

Could you share more information on when exactly you see this high CPU usage? Is it when you perform a particular action? Also, are you on a native linux machine or a virtual machine?

Thanks.

[2017-06-15 10:06] kamalaknn commented on #3165
Hey @phcs93

This is interesting.

I am tagging this as a feature request. @a85 can clarify on the roadmap for this.

Thanks.

[2017-06-15 10:15] kamalaknn commented on #3163
Hey @klubi

Ideally `postman.getResponseHeader('Set-Cookie)` should have returned an array of all the `Set-Cookie` headers, you have multiple headers.

We'll look into this.

Thanks for the report.

[2017-06-15 10:24] kunagpal commented on #3159
@LucaBlackDragon It is highly likely that this discrepancy is due to a difference in Sugar.js versions across the documentation for Sugar and within Postman. Additionally, Sugar.js is deprecated and will be replaced by momentjs (https://github.com/moment/moment) soon, so we'd advise against depending on Sugar entirely. Feel free to get back to us if you're facing other issues 😄

[2017-06-15 10:24] #3159 closed, assigned to kunagpal

[2017-06-15 10:44] klubi commented on #3163
Hi @kunagpal, @kamalaknn
I managed to find a workaround for this.
`postman.getResponseCookie('JSESSIONID').value`

But few minutes later I found the opposite situation, it turns out I cannot place multiple `Set-Cookie` headers, looks like only the last one is being sent.

[2017-06-15 11:17] bhawna2109 commented on #3166
Hi @cbeckermedrio

With the 5.0 release, we've modified the tab behavior a bit. Thus, if you send your request, we do NOT replace that tab because people want to look at, and compare responses across tabs.

Is this behavior affecting your workflow in any negative way? We'd love to hear your thoughts on this!

[2017-06-15 13:16] kunagpal commented on #3163
@klubi As the name suggests, `postman.getResponseCookie` is meant to return one cookie. However, You can use `pm.cookies.all()` to obtain an array of cookie objects.

[2017-06-15 13:16] #3163 closed, assigned to kunagpal

[2017-06-15 13:18] Alexsey commented on #1014
We are generation environments and globals dynamically based on actual db values. So this feature would be very helpful. So +1

[2017-06-15 13:35] klubi opened #3168 "Cannot send multiple set-cookie headers"
## App Info
[code]

## Issue Report
I noticed that when I create a request and add two headers with same key, then only second one is sent, fist one is omitted.
While for most headers this is a valid behavior for `Set-Cookie` it should send all entries.

[2017-06-15 13:37] klubi commented on #3163
Thanks @kunagpal

Is there a documentation page where all `postman...` commands are listed so I can try to look for the one I need on my own, instead of opening stack over question or github issue?

[2017-06-15 14:19] LucaBlackDragon commented on #3159
OK thanks!

[2017-06-15 14:21] sudharsan81 commented on #682
+1

[2017-06-15 14:48] mesmerizero commented on #1228
+1

[2017-06-15 15:02] kunagpal commented on #3163
https://www.getpostman.com/docs/postman/scripts/postman_sandbox

[2017-06-15 15:28] radub commented on #1228
+1

[2017-06-15 15:29] codetotest opened #3169 "Duplicate interfaces open using shortcut to open Postman console"
## App Details:

[code]

Postman Version -- 5.0.0

## Issue Report:

on Mac try ⌥⌘C this would open two postman console windows.

Expected : only one.

[2017-06-15 15:36] codetotest commented on #3143
hey @jlewis-13 , looks like body is empty.

Tips for debug:
If you using native app - Open Postman console and fireup request.
you can see the request data both header and body.   Hope this is helpful!

Cheers!

[2017-06-15 15:43] jlewis-13 commented on #3143
@codetotest the console shows the request body of the GET request is null.  Postman still shows either [object Object] or {} as the environment variable value.

[2017-06-15 16:48] cbeckermedrio commented on #3166
For myself, I often need to make a few requests in a sequence.  Like, GET a thing, select an ID, GET another thing, select another ID, send a POST etc.  I leverage environment variables so I don’t have to modify the request.  The old way allowed me to use one tab for the entire workflow, now I end up with a lot of tabs to close.  Not detrimental, but mildly annoying.

From: Bhawna Agarwal [mailto:

[2017-06-15 17:08] jon49 commented on #2788
As another reason not to use `tv4` is that it is not case sensitive. Which is not compliant with the standard. It appears that `tv4` isn't being supported anymore either. So, it would be nice to have the Postman team support `tv4` and continue to enhance it or drop it for a better supported library. I was really excited to be able to use Postman to do acceptance testing but now that I know the cho

[2017-06-15 18:52] jordan1k opened #3170 "Test Runner : URL Value Is incomplete/malformed"
## App Details:

[code]
After the most recent update there seems to be some issues around Test Runner URL construction/usage. Previously there was no issue and all tests would pass as expected.
Attached are two test run outputs: One being from the Native App and one from the Chrome Extension.
The Chrome Extension seems function as expected.
Both test runs originate from the same collection file.

[2017-06-15 22:17] dwertheimer opened #3171 "Long collections/monitor runs time out - please increase 5 minute limit"
I have a collection that crawls my API and tests each of the URLs within, looking for 404s, via setNextRequest(). It always times out before completion when run as a monitor or from Newman.

`Error: callback timed out`

Support told me:

I understand/appreciate that, but since I am paying by the request, you should be happy for me to keep the servers firing off requests if I do so with my eyes ope

[2017-06-16 00:06] kud202 commented on #2756
Facing the same issue, no Content-Length header,  Postman: 5.0.0

[2017-06-16 01:48] shuxiao9058 commented on #2984
When did you start processing this bug?

[2017-06-16 04:46] digitebs commented on #2296
guys any idea when is this getting fix? i notice the client_id and client_secret not being passed also as body form

[2017-06-16 07:42] ivaaaan commented on #3164
the same problem. +1

[2017-06-16 07:51] AmazonTest01 commented on #266
I found one solution..it works for windows7, 8 and 10.

Open Postman
right click on footer bar and set "Pin to progress to task bar"

[2017-06-16 08:44] justlauzadis opened #3172 "Only 1 response header per key is parsed to JSON"
## App Details:

[code]

## Issue Report:
Response headers containing several set-cookie headers are parsed to JSON object having only one set-cookie value instead of an array of all values.

![image](https://user-images.githubusercontent.com/29478115/27219067-f642715a-5288-11e7-9816-211dc9909351.png)

[2017-06-16 10:02] ripzery commented on #697
+1024

[2017-06-16 10:13] kamalaknn commented on #3168
Hey @klubi,

Thanks for reporting this.

It looks like the request headers for duplicates are actually being sent over the network. Except that the Postman Console shows only the last header(which is a bug - we will get this fixed). Could you verify this?

Also you can try `cookie` header with `foo=bar; bar=baz;` to set multiple cookies?

[2017-06-16 10:18] kamalaknn commented on #3172
Hey @justlauzadis

Thanks for reporting this. This should not have been the case here. All headers should be listed.

We'll look into this.

[2017-06-16 10:23] kamalaknn commented on #3169
Hey @codetotest

That doesn't seem right. We'll look into this and see what we can do.

Thanks.

[2017-06-16 11:05] edsonmedina commented on #1368
+1

[2017-06-16 11:51] SamvelRaja commented on #3170
Thanks for bringing this to our notice we shall look into it and update the progress here.

[2017-06-16 11:53] SamvelRaja commented on #3171
Thanks for bringing this to our notice we shall look into this and update the progress here.

[2017-06-16 13:11] kimsaabyepedersen commented on #1463
+1 for this

[2017-06-16 13:41] tlemons opened #3173 "tv4.validate not finding problems"
## App Details:

[code]

Hi - over the last few days, I've begun experimenting with Tiny Validator snippet functionality in the Postman test facility. This doesn't SEEM to be working, in that it doesn't find problems/bugs that I introduce into the schema

Here is a JSON response from one of our REST APIs (which, right now, doesn't show much information, and that is intentional in this public setti

[2017-06-16 14:05] shubhamj-cuelogic opened #3174 "Add support for data files in monitor runs"
I have a situation where I have wrote some js tests in postman. These tests data is getting from the csv. Now I want to run these test using Monitor but there is no such option avaiable.

If I am missing something. please do pardon me. If this feature is not available then please consider it as an suggestion.
Due to the unavailability of this feature in monitor may I have to move with newman

## A

[2017-06-16 15:28] jadams74 commented on #803
+1

[2017-06-16 15:37] arame3333 opened #3175 "Trying to post, get 500 Internal Server Error"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

I want to attempt a post. I get this error.
![500internalservere

[2017-06-16 16:05] freshehr opened #3176 "Multi-line parameters - newlines converted to ampersand"
## App Details:

[code]

## Issue Report:
This issue arose after the new multi-line edit feature was introduced.

The API I work with makes use of a SQL/XPATH like string called AQL passed via a GET parameter This is normally formatted with newlines for readability e.g.

[code]
Prior to the multi-line edit feature, it was easy to paste this string in directly and Postman would correctly encode it.

[2017-06-16 19:29] ddevala commented on #285
+1

[2017-06-16 20:01] markdou812 commented on #1104
+1

[2017-06-16 21:10] shiup commented on #1360
What is the status of this ?  Postman is violating the OAuth 2.0 spec :-(

[2017-06-16 21:22] chudson121 commented on #1603
Up Voting; this is really necessary in a CI environment

[2017-06-17 02:58] oamm commented on #2902
I'm using Postman 5.0.0 on windows 10 pro spanish with a cmstorm keyboard and the shortcuts for change focus to sidebar or builder doesn't work.

[2017-06-18 10:17] nuriyevn commented on #301
For some reason , I have the situation when response comes to me as
[code]

instead of just

[code]

So, '&'   is converted to '&amp;'   while in browser I do not see convertation.

[2017-06-18 13:10] tokidoki11 commented on #2214
I'm facing the same problem as well.
In my case adding Header x-access-token

if I remove the header, it works fine

[2017-06-19 07:25] Blasterdick opened #3177 "Postman app: how to use custom DNS resolver (Linux)"
[code]
How can I use local `dnsmasq` on `127.0.0.1` to resolve hosts in Postman with it?

Thanks in advance for any kind of help.

[2017-06-19 08:09] czardoz commented on #3177
@Blasterdick Postman uses the system DNS resolver, so you'll have to set it in your network options.

[2017-06-19 08:17] Blasterdick commented on #3177
@czardoz I've set up `dnsmasq`, added `nameserver 127.0.0.1` to the first line of `/etc/resolv.conf` file, so `nslookup mydomain.com` gives an expected result, and Google Chrome uses local resolver as well.

But requests from the Postman app goes to a real IP.

So, it seems like it's not. Maybe, I can somehow debug it?

Thanks in advance.

[2017-06-19 08:19] Blasterdick commented on #3177
False alarm, thank you, @czardoz, after restarting Postman everything works as expected.

[2017-06-19 08:19] #3177 closed, assigned to nobody

[2017-06-19 09:25] Snickbrack commented on #1137
how things going? Update?

[2017-06-19 10:10] kozmaz87 commented on #1228
Unfortunately this renders postman and any such extension unusable for token based authentication testing if one also wants to use cookies for other clients and the auth framework of the backend picks the unwanted cookie up for the cases where it should not be picked up. Unfortunately it is not easy to have fine-grained control over most framework's cookie magic.

[2017-06-19 11:20] S0im opened #3178 "The last column OF data loaded from CSV in runner seems end with "\r" and it caused fail everytime when it came to the end"
Postman for Windows
Version 5.0.0
win10 / x64

 1.
 I`ve seen this before，but seems like someoneelse has already post it to you，here，

，
and，at Version 5.0.0 ,it appears a little different . In the preview,we can see the  .csv datafiles always end with "\r",I guess you guys forgot to consider the “\r”.
**But it's goes well if you chose chrome app or youreplace the datafile with txt**~

 2. Launch

[2017-06-19 11:57] stephan-nordnes-eriksen commented on #2730
I have also verified that it works if I manually set the `Content-Length`

[2017-06-19 12:16] sdnts commented on #3174
@shubhamj-cuelogic This isn't supported right now, but Im tagging this as a feature request :)

[2017-06-19 12:18] sdnts commented on #3175
Hi @arame3333 A 500 (Internal Server Error) status code usually indicates something went wrong with your server. Can you check your server logs to see what went wrong?

[2017-06-19 12:18] sdnts commented on #3175
I'm closing this, but please reopen if you find that something is wrong with Postman itself.

[2017-06-19 12:18] #3175 closed, assigned to nobody

[2017-06-19 12:27] sdnts commented on #3178
Hi @S0im, I'm unable to reproduce this.I made a CSV file that looks like:
[code]
(notice the extra line at the end), and it was parsed correctly. Can you see if there are any extra characters at the end of your file? These are usually not visible to an editor, so you won't see it in Sublime etc. This might be causing the parser to fail.

If possible, can you send over a CSV file that you're seeing

[2017-06-19 12:29] sdnts commented on #3173
Hi @tlemons, we use the tv4 library as-is. Can you try testing your code over at `https://npm.runkit.com/tv4` and see if you're still seeing this problem?

[2017-06-19 12:30] sdnts commented on #3176
Hi @freshehr, I was unable to see this. I pasted the params you provided and the new lines weren't converted into ampersands. Did I miss a step?

[2017-06-19 14:00] LucaBlackDragon commented on #3159
@kunagpal By the way I think you should update your [Sandbox docs](https://www.getpostman.com/docs/postman/scripts/postman_sandbox) and mark SugarJS as deprecated, like you already did for BackboneJS.

[2017-06-19 15:38] labossieresr opened #3179 "[Feature Request] - Ability to Access Collection and Request (Edit) Information In Pre-request and Tests Logic"
## Feature Request
I don't see a way to access via script within the Pre-request or Tests tabs the Name and Description information of the Collection or the Description of a given test I am on. For example, I may have a collection named "Collection 1" with a Description of "This is my first collection". Something similar can exist for each API test created within the collection. Well, I'd like to

[2017-06-19 16:05] labossieresr opened #3180 "How does one access system variables (i.e. %COMPUTERNAME% in Windows) via code within the Pre-request and/or Tests tabs?"
## Issue Report:
How does one access system variables (i.e. %COMPUTERNAME% in Windows) via code within the Pre-request and/or Tests tabs?

My actual goal is integration with CI processes (i.e. Jenkins) and the need to NOT have sensitive information such such as userid's and passwords included within an environment file that gets passed with Newman.

A (very) poor workaround seems to be to have CI

[2017-06-19 16:54] tlemons commented on #3173
Hi - thanks very much for the reply.  And thanks for the pointer to runkit.  I tried it there, and see the same problem; if I purposely cause a mismatch between the schema and the json data, tv4 does not detect it. I'm using the JSON schema that was generated from my JSON data at  https://jsonschema.net/#/editor; have there been any reports of problems with using JSON schema generated by that site

[2017-06-19 20:30] shayangz commented on #166
+1 for LIST

[2017-06-19 22:47] martincalvert opened #3181 "Runner appending = to variables in query params Mac App"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **I just started using the mac app but it appears to be there in 4.11.1 and 5.0.0**
 2. Expected behaviour: **When adding query parameters from a data file in the runner it should just add the exact string without any mutations/additions.**
 3. Console logs (http://blog.getpostman.com/

[2017-06-19 23:25] laduran commented on #719
What is the current state of this on Postman Desktop v5.0? I am calling the tv4 API getSchema('http://localhost:63423/availableservicesresponse.json'); on a remote JSON URL and it is not working for me.

I can retrieve the JSON file representing my schema from the shown URL fine. However calling the getSchema API above in the Postman API test context does not work. I get a null object back every t

[2017-06-20 01:00] S0im commented on #3178
Hi @madebysid，I checked it again after you replayed me. Then I found it seemed like the Microsoft excel caused this issue. When I create a .csv file by using Microsoft excel ， it always end with a "\r"，whitch is not visible .But，if you create a txt，and change it to csv，there is no problem. So，thank U  that I find out the reason whitch  had confused me for a long time. I zip the csv I used and mayb

[2017-06-20 01:14] lukik commented on #907
+1
.... patiently waiting for this.

[2017-06-20 01:32] junkert opened #3182 "Changing Value of Global Variable Removes it From Existence"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
[code]
2. Expected behaviour:
[code]
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-
postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]
 4. Screenshots (if applicable)
[code]

Steps to reproduce the problem

1. C

[2017-06-20 06:27] sdnts commented on #3179
Hi @labossieresr, thanks for the feature request! You can get the request name using `request.name`, or `pm.info.requestName` (But I see you've figured that out already).
We'll look into adding more collection meta to the `pm.info` object!

[2017-06-20 06:49] acharVignesh opened #3183 "When I set number to a global variable or environment variable ,it is not setting exact value but rather decremented by 1."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have not tried with the older version, so not sure whether this bug always been there.
 2. Expected behaviour:
I'm trying to set some id's from the response to the global variable for request chaining. The id number set to the global variable is decrement by 1. Expecting correct valu

[2017-06-20 07:40] prashantagarwal commented on #3181
@martincalvert Thanks for reporting this. We are looking into this issue.

[2017-06-20 07:42] madebysid commented on #3180
Hi @labossieresr, system variables are not visible to Postman by default for security reasons. If you're looking to do this, you should look into [Newman](https://github.com/postmanlabs/newman), which is an NPM module that runs collections on the command line. You should be able to get system environment variables in the Node script using `process.env.VARIABLE_NAME`.

[2017-06-20 07:58] prashantagarwal commented on #3182
@junkert Thanks for reporting this. Try renaming you variable **data** to something else. Actually **data** is a postman variable which Postman expose when you run this request in Runner. So while running this in **Request Builder** data is an empty object and hence data.auth_token resolves to undefined.

[2017-06-20 08:01] sdnts commented on #3180
Hi @labossieresr, system variables are not visible to Postman scripts by default for security reasons. As you mentioned, making this environment on the fly using newman.run is also not a good idea since your secrets might be leaked through logs.
Unfortunately, the workaround seems to be your best bet. You could look into this example: https://github.com/postmanlabs/newman#newmanrunevents

@kunagpa

[2017-06-20 08:05] kunagpal commented on #3180
@labossieresr The workaround you've provided in the issue description is currently the way to go (for the reasons of security). Additionally, if Newman is being used as a library, you can generate an environment object on the fly using `process.env`, and pass it onto `newman.run`, like so:
[code]

This prevents having to clean up the generated files in the CI based wrapper, and does not pollute yo

[2017-06-20 08:10] prashantagarwal commented on #3183
@acharVignesh Thanks for reporting this. I am not able to reproduce this though. Is this happening for all the variables which you are setting or for this specific case ?

[2017-06-20 08:37] sdnts commented on #3178
Ah, you can get rid of this by just removing the last line from the CSV. I'm closing this, since the CSV is behaving as expected. Please reopen if you feel otherwise :)

[2017-06-20 08:40] sdnts commented on #3173
Can you also create an issue here: https://github.com/geraintluff/tv4 since this looks like a TV4 issue?
I'm closing this, but please let us know here when this gets fixed there and we'll bump up our version to include the fix :)

[2017-06-20 08:40] #3173 closed, assigned to nobody

[2017-06-20 08:49] czardoz commented on #3181
@martincalvert the value of your `params` variable is `height=120width=160`. Are you sure it should not be `height=120&width=160`? (Note the `&` between `120` & `width`). This could be why Postman is adding an extra `=` at the end.

[2017-06-20 09:58] akhil-agarwal commented on #1156
In chrome://extensions/, verify that Postman is enabled. Most likely, it was not.

[2017-06-20 10:30] waytoharish opened #3184 "Condition on Request"
Hi Team,
I am looking to put test condition on Request like request contain 'Name'.I want to execute my test case only if  my request have name otherwsie i dont want to send request.How can i control the same in POST Man Test

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpo

[2017-06-20 10:31] acharVignesh commented on #3183
@prashantagarwal  I'm facing it for the variable with numbers(numbers with many digits). Other values are set properly. One hint I could give is that it would be parsing issue because if I take the raw response from postman try to format it in any other web based JSON parser, I could see that fields having value being decremented. Attaching the raw response snippet from the postman. Try to parse/b

[2017-06-20 11:26] prashantagarwal commented on #3184
Hi @waytoharish do you want to use this in Runner ?

[2017-06-20 12:22] decode007 opened #3185 "Save environment variable from json output in postman function"
I have output data like:

`{
"dbflash:db-files": {
    "db-file": [
        {
            "usageStatus": "Backup",
            "dbFileName": "DB_1710013320170619041443",
        },
        {
            "usageStatus": "Current",
            "dbFileName": "DB_1710013320170619111647",
        }
    ]
}
}`
For which i need to set environment variable for backupDbFile and currentDbFile

I have written

[2017-06-20 12:36] prashantagarwal commented on #3185
@decode007 try using **square bracket notation** `jsonData["dbflash:db-file"]` rather than **dot notation**.
Dot notation gives syntax error when you try to access invalid JSON keys.

[2017-06-20 13:05] decode007 commented on #3185
jsonData["dbflash:dbfiles"]["db-file"].forEach(function(entry)

With this was also i am seeing error "cannot read property 'db-file' of undefined

[2017-06-20 13:07] BarryDam commented on #166
+1 for MERGE

[2017-06-20 13:08] prashantagarwal commented on #3185
@decode007 can you please check your property names once.
Shouldn't it be `jsonData["dbflash:db-files"]["db-file"].forEach(function(entry)`

[2017-06-20 13:15] #3185 closed, assigned to prashantagarwal

[2017-06-20 14:36] godfrzero commented on #3079
@thirdjm We're already pushed out a fix for the additional slash that shows up.

There's still an issue which causes multiple protocols to show up if the original URL starts with an environment variable, where the protocol will repeat. We're still figuring out a fix for that.

[2017-06-20 15:02] thirdjm commented on #3079
@godfrzero when separating the two variables as protocol and endpoint my code has http:// instead of my variable https://. In my opinion https:// is more important then http:// so if you replace it out of the box, pls then do it with https://

thanks.

[2017-06-20 15:32] ctmlr commented on #1947
+1, this was marked as closed but I don't see any way to accomplish this still.

[2017-06-20 16:08] labossieresr commented on #3179
Thank you madebysid!  Unfortunately, I just discovered that pm.info is only accessible directly in Postman. When running a collection via Newman a reference error is generated (pm is not defined). So using request.name is the way to go for my needs as it is supported within Postman and Newman. The additional meta I am looking to get, both the description for the request as well as name and descrip

[2017-06-20 16:56] willybill commented on #3181
This is also happening in Windows Runner and Newman 3.6.1.  In case it helps, I've attached a zipped collection named 'Test' that has 2 flavors of the GET test from Postman Echo collection. The 1st test passes the parameter as a string. The 2nd test passes the parameter using a global var and shows the trailing = when run from Runner or Newman.

Below are snippets from Newman in Jenkins console. N

[2017-06-20 17:06] moneal commented on #2811
I'm getting the exact same error with 5.0.0 also. It appears Google doesn't like the state parameter even though its valid.

[2017-06-20 17:10] willybill commented on #3181
I forgot to mention I am seeing this when running the collection using newman 3.6.1 in Jenkins. Below are snippets from newman in Jenkins console.  Notice the trailing = in Request URL of 2nd test.
+ newman --version
3.6.1
→ GET Request - works
  GET https://echo.getpostman.com/get?test=123 [200 OK, 742B, 538ms]
  ✓  Body contains headers
  ✓  Body contains args
  ✓  Body contains url
  ✓  Args ke

[2017-06-20 17:24] martincalvert commented on #3181
@czardoz that was a typo on my part. I tested it with and without the `&` in between params and it still is appending the `=`. I also removed the `?` and the `=` was not appended. So Postman is definitely doing something with variables that come after a `?`

[2017-06-20 19:58] labossieresr commented on #3180
Thx for the quick and informative responses madebydid and especially kunagpal for the sample code!  I tried it out and at first, I got an error as it couldn't find the module 'newman'. I saw in some posts that indicated the NODE_PATH variable needs to be set so I set it to the location of my ....\newman\node_modules folder. Now when I run, it runs without reporting any errors. Unfortunately, it do

[2017-06-20 21:12] Kaffiend opened #3186 "Web Sockets Support (Socket.io)"
Would be nice if Postman had a way to test web sockets, like socket.io. Register listener events and send events to test the response. We use a combination of sockets and api calls in out applications and having that in one tool of which we already use would be fantastic! Perhaps in the form of a plugin?

[2017-06-20 22:47] brigand opened #3187 "Replace All on import"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always
 2. Expected behaviour: When reimporting I'd like to replace all in one click, instead of multiple modals.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): N/A
 4.

[2017-06-21 00:03] 5p3c7r3 opened #3188 "Secure / Gated access to published docs"
We would like to host our internal APIs inside of our developer portal. We would include the docs in our portal by proxying a url over to your published documentation. It would be great if that was made secure like an API request so that we could then open up the docs to our development team using SSO with our own corporate accounts.

[2017-06-21 04:13] ramsrib commented on #2462
Upgraded to latest version of standalone postman and started facing this issue. It was not happening in the previous version.

Details:
Postman for Chrome
Version 5.0.1
OS X / x86-64
Chrome 59.0.3071.109

[2017-06-21 04:29] hdushan commented on #2247
+1

[2017-06-21 04:54] deksden commented on #285
+1. We need some UI. If Chrome App can not deliver that - just use standalone app for that.

[2017-06-21 05:54] nushydude commented on #2941
I too can reproduce this issue on 5.0.1 Chrome app.

[2017-06-21 06:19] waytoharish commented on #3184
Yes.I am trying to run with POST Man Runner

[2017-06-21 07:37] null9beta opened #3189 "Lost all my collections and environments"
## App Details:
[code]

! >>Copy paste this from Settings > About
Inside the postman app, there is no such thing for me

## Issue Report:
1) yesterday for what ever reason for the first time when i opened postman it was bringing up a dialog asking me to login. There is a link at the bottom that says "thanks take me straight to the app"
2) Yesterday that worked fine
3) Because everytime i opened po

[2017-06-21 08:41] pgg commented on #2658
In the mac app Version 5.0.0, pre-req. console.log(_.VERSION) outputs 3.10.1 and not 4.17.2 as indicated by the above api reference . . . in https://github.com/postmanlabs/postman-sandbox/blob/develop/package.json you have in dependencies "lodash": "4.17.2" but in devDependencies you have: "lodash3": "3.10.1" . . .

[2017-06-21 09:12] yolo2013 commented on #2340
Same issue. Please focus on this.

[2017-06-21 09:15] kunagpal commented on #3159
@LucaBlackDragon The deprecation notice for Sugar.js has been added here: https://www.getpostman.com/docs/postman/scripts/postman_sandbox#commonly-used-libraries-and-utilities

[2017-06-21 09:16] kamalaknn commented on #3186
Hey @Kaffiend

Thanks for sending in your feedback.

This would be nice to have. I am tagging this as a feature request. @a85 can clarify on the roadmap for this.

[2017-06-21 09:21] kunagpal commented on #3180
@labossieresr I've updated the snippet above, you should be able to use it to see collection run results. The complete list of Newman library options can be found here: https://github.com/postmanlabs/newman#newmanrunoptions-object--callback-function--run-eventemitter

[2017-06-21 09:29] acharVignesh commented on #3183
@prashantagarwal did you get any clue?

[2017-06-21 10:25] czardoz commented on #2658
@pgg the version in the sandbox is v3.10.1 (we cannot upgrade and break everyone's scripts) just like that.

[2017-06-21 10:28] czardoz commented on #2658
It's here (in case you're interested): https://github.com/postmanlabs/postman-sandbox/blob/711a505ff9a2f934b257f7ecd68f06229471ecc8/lib/sandbox/postman-legacy-interface.js#L6

[2017-06-21 10:33] pgg commented on #2658
@czardoz  Was not expecting you to break everyone's scripts, just pointed out that you state the sandbox is on v4 where in fact it is on v3 . . . https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-06-21 11:11] Heydiddly commented on #697
@saksmt Is there any chance you could provide a little more detail on how to do that? My JS is not the best and pm.internals appears to be undefined when I try and reference it :/

[2017-06-21 11:15] Kostoni commented on #697
+1

[2017-06-21 11:19] kamalaknn commented on #3188
Hey @caoimhghin

This appears to be a duplicate of #3142.

I am closing this issue. Feel free to continue discussion in the linked issue.

[2017-06-21 11:19] #3188 closed, assigned to nobody

[2017-06-21 11:23] dlgoodchild commented on #1947
+1

[2017-06-21 11:31] kamalaknn commented on #3189
Hey @null9beta

Was the login and sync successful the last time, before you did a "sign out"?  What do you see when log in to Postman now?

[2017-06-21 11:39] ChadEpstein opened #3190 "Postman Native Client Font Size"
I'm using the native Windows client and the font size is smaller than the Chrome App and harder to read.  Can we please get a way to resize the font size of the UI (not just the request and response text) e.g. collection names, request URL etc?

[2017-06-21 12:06] hertzigger opened #3191 "Save endpoint response as an enviroment"
This is a feature request not a bug.

Hi, I'm using the new environments a lot (great work btw), I'm using them so much that I've created an endpoint in my application that generates a test user and responds with an environment. I copy the response and save it, then import it as a new environment in postman. Its a slight niggle but i'd like the option to save my response as a new environment direc

[2017-06-21 12:09] kamalaknn commented on #3191
Hey @hertzigger

Thank you for your feedback.

I am tagging this as a feature request.

We'll have a look at this. @shamasis @a85 your thoughts on this?

Thanks.

[2017-06-21 12:15] kamalaknn commented on #3190
@C-4 Sorry about that.

We'll see if we can change the default font sizes.

In the mean time you can try increasing the zoom level of the app with `ctrl +`.

Thanks.

[2017-06-21 12:17] vkaegis commented on #3187
Hey @brigand! Thanks for bringing this to our attention, this could definitely be improved. We'll let you know as soon as a fix is out for this.

[2017-06-21 12:25] czardoz commented on #3191
Well, the best way to go about this, is to use the Postman Pro API (api.getpostman.com) to import the environment.

[2017-06-21 12:34] labossieresr commented on #3180
@kunagpal  Adding reporters worked like a champ!  I was expecting the console output to work like it does for DOS where no arguments/params are required to get the output to display to the console.  And thank you also for the reference link!

[2017-06-21 12:35] stefannilsson opened #3192 "Repeated press of Cmd+Enter in Mac app does not trigger submit"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
**Always**
 2. Expected behaviour:
**Repeated submit of form when pressing Cmd+Enter**

Description:
When submitting a form by pressing *Cmd+Enter*, it's only possible to do so *once* from the Mac app .
Seems some focus is changed to some view hence a second press of *Cmd+Enter* does no

[2017-06-21 12:53] kunagpal commented on #3180
@labossieresr Glad it worked out for you. Have fun developing in Postman 😄

[2017-06-21 12:53] #3180 closed, assigned to kunagpal

[2017-06-21 13:26] EdwardPerello commented on #2811
Also getting this.

[2017-06-21 13:44] loretoparisi opened #3193 "POST requests to cache Request Body"
## App Details:

[code]

## Issue Report:
Since the last update, the `POST` requests caches the request body. The `Content-Type` is `application/json` and the `Body` has been set to `raw`.

[2017-06-21 14:36] agseco commented on #3041
I'm looking forward to this feature.

IMHO it could be as simple as this: when you import a collection into Postman you can choose either to store it in the Postman App (as it works now) or just work with it right from its original location.

If you chose the latter and you have your collection file under version control, it will be constantly synched as you work with it, thus avoiding the current

[2017-06-21 15:14] dominiceden commented on #2545
@numaanashraf Sure:

* Chrome Version 58.0.3029.110 (64-bit)
* Mac OS Sierra 10.12.5

Thanks for the headsup on the native app, I'll download that - wasn't aware.

[2017-06-21 15:28] JebediahSpringfield opened #3194 "+ sign to create new request disappears when there is no more space for request tabs"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Think it's always been there.

 2. Expected behaviour:
+ sign visible all the time since there is no other way to create requests with the awkward postman gui approach.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chro

[2017-06-21 15:52] gravelg commented on #3166
I'm in the same situation as @cbeckermedrio. A way to toggle the old behavior would be appreciated.

[2017-06-21 16:14] adskdouglaz opened #3195 "Headers with `\n` in their Value are silently stripped"
Postman silently drops Headers with values containing `\n`.

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
    Recently; but I'm new to Postman
 2. Expected behaviour:
    Postman strips or errors when pasting Header Values containing `\n`
 3. Console logs:
    N/A
 4. Screenshots (if applicable)
    N/A

### Reproduction
  1. Put

[2017-06-21 20:02] bigbigmike commented on #3139
Thank you for the example.  This works perfectly.

[2017-06-22 02:46] morleytatro commented on #2489
Same issue here. I'm on 4.10.5.

[2017-06-22 03:13] mailtogj opened #3196 "Is it possible to refer to postman call name within the tests body"
## App Details:
Postman for Chrome
Version 5.0.1
win / x86-64
Chrome 58.0.3029.110

In my collection, I have various requests within folders.
e.g. Collection>CollectionFolder1>Request1, Request2 ...

Is it possible to get a reference of the request names within the tests so that I could write something like:

try {
    ...
} catch (e) {
     tests[`Test failed with exception ${e} for call request

[2017-06-22 07:43] dav1dbailey commented on #2980
Thank you very much for your help.  This works :-)

[2017-06-22 07:43] #2980 closed, assigned to nobody

[2017-06-22 08:21] shinusuresh commented on #2247
+1

[2017-06-22 08:24] alfanse commented on #1429
+1, please.

[2017-06-22 09:50] SamvelRaja commented on #3192
This seems to be working from my end. We shall investigate further and let you know the progress here.

[2017-06-22 09:51] SamvelRaja commented on #3193
@loretoparisi Can you explain me bit more on how to reproduce the issue? This would be much more useful for us to debug deep down easier.

[2017-06-22 09:55] SamvelRaja commented on #3194
@JebediahSpringfield  you just need to keep the cursor in tab header and scroll using your mouse wheel.
![scroll-up-down](https://user-images.githubusercontent.com/5114052/27428210-02f16610-575f-11e7-9529-78a60b460538.gif)

[2017-06-22 10:00] loretoparisi commented on #3193
@SamvelRaja Hello,
so I explain my configuration:

- I have two Collections of APIs: one for Production, one for Development
- Each collections have the same folder structure;
- In each folder there are several apis. For both collections the api call are the same, except for the api endpoint (e.g. `localhost:3000` for dev and `https://my-api.com` for production).
- All the apis GET and POST has a

[2017-06-22 10:54] SamvelRaja commented on #3195
Thanks for bringing this to our notice, we shall update the progress in same thread.

[2017-06-22 11:00] SamvelRaja commented on #3196
@mailtogj `request.name` is the one you are looking for.
[code]

[2017-06-22 11:00] #3196 closed, assigned to nobody

[2017-06-22 11:08] SamvelRaja commented on #3193
@loretoparisi  Thanks for the detailed explanation, based on my understanding i recreated the scenario in a GIF, am i missing anything? It is working fine for my case.
![post-request](https://user-images.githubusercontent.com/5114052/27431158-1a077718-5769-11e7-9609-475981e5849c.gif)

P.S:  the body data will be available in the tab until it has been closed, it won't be saved with the collection.

[2017-06-22 11:16] shubhamj-cuelogic commented on #2247
I am looking for same. It will be a great feature if we have that functionality

[2017-06-22 12:07] JebediahSpringfield commented on #3194
Thanks Samvel, however,  what's the point of making us search for a functionality that should be readily available? When I use a tool I'm concerned about productivity and this kind of needless scrolling and clicking really annoys me.  On Jun 22, 2017 5:55 AM, SamvelRaja <notifications@github.com> wrote:@JebediahSpringfield  you just need to keep the cursor and scroll using your mouse wheel.

—You

[2017-06-22 12:38] loretoparisi commented on #3193
@SamvelRaja yep, just create a new collection, and move duplicates there in a folder. This was my use case.

[2017-06-22 13:12] adrian-rambal commented on #1066
+1

[2017-06-22 14:07] sadiqkhoja opened #3197 "Skip First Request"
I want to skip first request based on a condition.

Context:
First request is a token request and I run collection 100 times so I want to execute first request only for first iteration or if token is expired. setNextRequest in pre-request script can't be use in this case as it sets next request in pipeline and current request is execute in any case.

Alternative solution:
I can add a dummy request

[2017-06-22 16:36] lsloan commented on #553
I arrived here looking for an answer to the question:  How can I get the current timestamp for UTC in ISO 8601 format to appear in the body data of a Postman request?

In case anyone else has arrived here with the same question, this is the solution (using Postman v5.0.1 for Chrome 58.0.3029.110 on macOS 10.12.5) I used:

1. In the Builder, while editing a request, click the "Pre-request Script" h

[2017-06-22 17:38] chiedo commented on #3164
Same problem even after disabling interceptor

[2017-06-22 18:30] tommynsong opened #3198 "support nested object in JSON data variable"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

I have the following JSON object that i would like to be able to

[2017-06-22 18:33] kkoston commented on #285
+1

[2017-06-22 19:22] emersonf commented on #553
While this works, it requires copy and pasting that JS to every single
request that needs it, which is terribly inconvenient and prone to error.

On 22 Jun 2017 6:36 p.m., "Lance E Sloan «UMich»" <notifications@github.com>
wrote:

I arrived here looking for an answer to the question: How can I get the
current timestamp for UTC in ISO 8601 format to appear in the body data of
a Postman request?

In

[2017-06-22 19:33] jon49 opened #3199 "New JSON Validator Needed"
Since it doesn't appear that `tv4` is being actively maintained I think this issue needs to stop being punted down the road. Not only is `tv4` not maintained, but neither is it standard compliant with the `JSON Schema` standards.

As you can see there hasn't been any work done of on the source code for 2 years - <https://github.com/geraintluff/tv4>.

If you look at the issues you can see that they

[2017-06-22 21:47] #966 closed

[2017-06-22 21:48] #1236 closed, assigned to nobody

[2017-06-23 01:05] anuragbhalla commented on #2440
Is there a corresponding option in newman to choose what responses to store?

[2017-06-23 01:30] yarandoo commented on #1947
+1

[2017-06-23 03:00] serkand opened #3200 "Sync'd changes made on Laptop are not visible when logging into same account on Desktop."
## App Details:
Postman for Windows
Version 5.0.0
win32 10.0.15063 / x64

## Issue Report:
I have been using Postman for windows on my Desktop for a while now and recently, I installed v5.0.0 on my laptop in order to continue to work on my collections from home. Both are Windows 10 machines and have the same version of Postman for Windows installed.

Last night, I made changes to my collection on

[2017-06-23 07:46] thingdeux commented on #1983
Chiming in with the same issue - can confirm for @sebascar that this happens with other verbs.  Experiencing it in POST and PUT requests.

[2017-06-23 08:09] mvaneijk commented on #2833
I also ran into this issue on Windows 10 after unplugging my second monitor from my laptop.

@hnoe-c7ks7s  A workaround is to click the running instance in the taskbar. Press [Alt]+[Space], [M] and use the arrow keys to get it back into your main window.

[2017-06-23 08:42] sdnts commented on #3197
@sadiqkhoja Hmm, as of now, there isn't a standard way of doing what you want, unless you add a dummy request. (Maybe try `localhost`?). We're working on collection script support in the app, which I believe should solve your issue as well.
I'm closing this in favour of: https://github.com/postmanlabs/postman-app-support/issues/2749

Please reopen if you think I misunderstood and these two aren't

[2017-06-23 08:42] #3197 closed, assigned to nobody

[2017-06-23 08:47] sdnts commented on #3200
@serkand Sync changes are usually propagated very quickly. Are *both* clients in the state of `In Sync`? Also, can you see your changes over at https://app.getpostman.com/dashboard/collections/private?expand=1?

In either case, can you check DevTools of both clients to see if you find any errors there?

[2017-06-23 08:50] sdnts commented on #3199
@jon49 We will definitely look into this. As you said, we'll need to add a new library in order to keep previous tv4 scripts working.
@shamasis @kunagpal Can we look into this for `postman-runtime`?

[2017-06-23 08:55] sadiqkhoja commented on #3197
Thank @madebysid, collection script would solve my problem as well. One related question, is there any way to skip current request based on a condition in pre-request script? If I put setNextRequest(null) in pre-request even then current request is executed, is it desire behavior? [Documentation](https://www.getpostman.com/docs/postman/collection_runs/building_workflows) says something else:

[2017-06-23 08:55] sdnts commented on #3198
@tommynsong We've been looking into having explicit types for variables eventually, but this isn't planned yet, so I'm adding this as a feature request.
For the time being, you can `JSON.stringify` before storing the variable and `JSON.parse` before using it. We're aware that this isn't ideal, so we'll look into this :)

You can see the roadmap here: https://trello.com/b/4N7PnHAz/postman-roadmap-f

[2017-06-23 09:00] sdnts commented on #3197
Indeed, this is desired behaviour. I'll update the docs to reflect this as well. Thanks for pointing this out.

[2017-06-23 09:29] sdnts commented on #1983
@jasonmorita Can you attach a little server that does this here? You can also email it to help@getpostman.com. I made an Express server as well, and wasn't able to do this. I'm checking with `v5.0.1`.

FYI, my server just looks like:

[code]

I see the download popover as expected, but the app hits  the server only once. Your server might help us get to the bottom of this for good.

[2017-06-23 09:33] sadiqkhoja commented on #2749
any expected released date of this?

[2017-06-23 09:34] sdnts commented on #553
Guys, we've been working on adding `moment.js` to our sandbox, which should solve all these issues. I'm changing the issue title to reflect this as well.

[2017-06-23 09:36] sdnts commented on #3192
Hi @stefannilsson Is there a way to reproduce this? That might help us fix this ASAP :)

[2017-06-23 09:45] sdnts commented on #3164
@greensombrero If you're only looking to disable redirects, I'd recommend our [native apps](http://getpostman.com/apps), which have this functionality built-in.

@ivaaaan @chiedo I'm unable to reproduce this with a request to `postman-echo.com/get`. Is this only happening for some endpoints? If so, could you add an example here?

[2017-06-23 09:53] shubhamj-cuelogic opened #3201 "In Postman app - Test fails if the string data is in CSV file while same test passed by newman"
I am facing a issue where my value is present in CSV. Now when I am running my test from collection runner then my testcase is showing failed. If I am using .trim() function then same testcase passed from collection Runner.

This issue is not present in newman. If I am running the same collection with newman then my testcase is passing without any trim function.

Additionally I have observed that

[2017-06-23 09:58] bhawna2109 commented on #3166
@cbeckermedrio @gravelg Thanks for explaining your use case. We can understand how this can be annoying. I'm adding this to the relevant project for now - we're looking into improving our tab behavior to support multiple workflows. Will keep this thread updated :)

[2017-06-23 10:03] sdnts commented on #3201
Hi @shubhamj-cuelogic, can you attach the test script you're using so I can see where the `.trim` function is being used? Can you also tell me what the test is doing?

[2017-06-23 10:05] #2430 closed, assigned to nobody

[2017-06-23 10:09] bhawna2109 commented on #2776
Hi @Daszczu this is now supported - http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

[2017-06-23 10:09] #2776 closed, assigned to nobody

[2017-06-23 10:11] bhawna2109 commented on #1070
@grinderX19 @aubm renaming saved responses is supported now (using examples) - http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

We're working on supporting reordering too - will keep this thread updated once we have a build out.

[2017-06-23 10:12] bhawna2109 commented on #2486
@fotoflo you can create new responses from scratch using examples - http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

Closing this issue.

[2017-06-23 10:12] #2486 closed, assigned to nobody

[2017-06-23 10:13] #2485 closed, assigned to nobody

[2017-06-23 10:14] sdnts commented on #2749
There isn't a concrete date for this, but this is part of our near-term product roadmap: https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers

[2017-06-23 10:16] sdnts commented on #2440
@anuragbhalla Newman does not store any responses.
If you're trying to do this, you might want to take a look at [Newman Reporters](https://github.com/postmanlabs/newman#configuring-reporters)

[2017-06-23 10:25] sdnts commented on #3183
@acharVignesh I think this has to do with the large numbers, since JS can only handle numbers up to 16 digits in precision. Can you try converting the number to a string and try again? I'm guessing you'll use it your URLs, so it shouldn't affect other requests.

[2017-06-23 10:25] bhawna2109 commented on #2769
@lachaib responses are now saved in examples (which is basically a request+response pair). Thus, when you open an example, it opens in the examples editor and does NOT affect your base request.

More about this here- http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

Would love to hear your feedback on this feature. Is there something we can improve upon?

[2017-06-23 10:29] SamvelRaja commented on #2489
@morleytatro can you provide the log from `~/Library/Application Support/com.postmanlabs.mac.ShipIt` to help[at]getpostman.com ?

[2017-06-23 11:28] chiedo commented on #3164
Hi @madebysid

I can't GET request any endpoint. Not even google.com.

Thanks for the quick response

[2017-06-23 13:37] lsloan commented on #553
Thanks for the update, @madebysid.  Having `moment.js` available will be helpful for formatting timestamps.  However, I don't understand how it would help with this issue.

The original issue was that Postman needs "Current timestamp, in ISO 8601 format, dynamic variable".  That is, timestamp system variables, like `$timestamp`, but their values would be in ISO 8601 format.  There should be two su

[2017-06-23 13:58] rkraneis commented on #682
+1

[2017-06-23 14:17] bpaczkowski opened #3202 "Request tabs disappear after Postman restart in the Linux version"
## App Details:

[code]

## Issue Report:
Restarting the application removes all the opened tabs. This is not the case in the Chrome Extension version, where after closing Postman and opening it again it kept all previously opened tabs.

[2017-06-23 15:36] saksmt commented on #697
@Heydiddly Well, that was for developers of Postman, so `pm.internals.doSendRawAjaxRequestWithParams` meant "call there your code, that actually performs ajax query"

[2017-06-23 15:43] czardoz commented on #697
Update: we're working on this here: https://github.com/postmanlabs/postman-runtime/pull/288

Comments/suggestions are welcome! :)

[2017-06-23 15:45] blakebrauer commented on #2232
@a85 Any update on this? I too am looking for a way to get and set a token before a request. "setNextRequest" would be sufficient except I need something that works outside of a collection run.

[2017-06-23 15:54] dmcdaniel12 commented on #697
You have no idea how awesome this will be and how great it will make things
in our development!

On Fri, Jun 23, 2017 at 11:43 AM, Aniket Panse <notifications@github.com>
wrote:

--
Derek McDaniel
614-664-3122

[2017-06-23 15:58] drkhannah commented on #2622
im getting a gzipped response from an API, how to I unzip the byte array?

[2017-06-23 16:36] drkhannah opened #3203 "decode gzipped response"
I'm making a post to an api that returns a gzipped response

the response is json but is a byte array

how do i decode this byte array in postman so i can see the unzipped json response?

here is a snapshot of the response

{
  "d": [
    31,
    139,
    8,
    0,
    0,
    9,
    110,
    136,
    0,
    255,
    236,
    125,
    11,
    143,
    219,
...

[2017-06-24 04:08] junkert commented on #3182
Thanks @prashantagarwal. We have moved over to newman for our testing and have fixed the error in our javascript. Thanks for getting back to us quickly.

[2017-06-24 05:41] morleytatro commented on #2489
I don't have that log (`com.postmanlabs.mac.ShipIt`) in `~/Library/Application Support` at all. There's a Postman folder inside it, but it's not there either. Where else might the log be?

[2017-06-24 06:50] #3182 closed, assigned to prashantagarwal

[2017-06-24 16:41] stefannilsson commented on #3192
I apologise for the unclarity of the reproduction procedure. I now noticed it's totally possible to do a repetitive submit by pressing *Cmd+Enter*, if the marker/focus was last in the URL-field.

My scenario:
* Open a new request (i.e. from Collections).
* Press *Send* and wait for the response.
* Select some text from a text-based response (in my case, I copied some data)
* *Submit* by pressing *

[2017-06-25 01:25] markacianfrani commented on #3161
I'm actually have this same issue on macOS 10.12.5 Postman 5.0.0. I've always had this issue. It's exactly like @alexandruirimiea described in that its like the window loses focus. I'm constantly having to manually click the Send button after cmd + tabbing. I have a hard reproducing it sometimes because if I click send, tab out, and then tab back in immediately, it sometimes works.

[2017-06-25 02:38] donald-jackson commented on #2458
+1 please fix.

I see the Hawk library used (app/libs/hawk.js) has correctly implemented this unfortunately just not the payload passed in from Postman caller.

[2017-06-25 03:24] Armesh opened #3204 "Postman uses Chrome Icon in Windows 10 Start Tiles"
## App Details:
Postman for Chrome
Version 5.0.1
win / x86-64
Chrome 58.0.3029.110
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 Always Been there
 4. Screenshots (if applicable)
![issue](https://user-images.githubusercontent.com/4216475/27513449-a0ebb2fe-5998-11e7-8edd-8cd124a3bfc5.jpg)

When I pin my Postman to my Start button tiles, it appears

[2017-06-25 22:22] a85 commented on #2990
Not right now. But you can directly edit the URL field instead of using the URL params option.

[2017-06-25 22:22] #2990 closed, assigned to nobody

[2017-06-25 22:25] a85 commented on #2959
Postman can't control the response that it receives. The no-cache header is sent by Postman to your server. That's something that you have to look with your server.

[2017-06-25 22:25] #2959 closed, assigned to nobody

[2017-06-25 22:27] a85 commented on #2927
I'd suggest using the new "Examples" feature for templates.

[2017-06-25 22:27] #2927 closed, assigned to nobody

[2017-06-25 22:36] a85 commented on #2797
@shamasis Isn't this already done now?

[2017-06-25 22:54] a85 commented on #3061
Sorry but this is not on our roadmap right now. The core unit of sharing in Postman will remain as collections for the near future. If this changes, we'll update on our roadmap.

[2017-06-25 22:54] #3061 closed, assigned to a85

[2017-06-25 22:54] a85 commented on #3022
Sorry but this is not on our roadmap right now. We will review bulk export/import options in the context of Workspaces.

[2017-06-25 22:54] #3022 closed, assigned to nobody

[2017-06-25 22:56] a85 commented on #3028
Sorry but this is not on our roadmap right now. You'd have to separate them manually. Hiding folders/requests has several issues around data export and other effects. We are improving our permission models at several levels and will keep posting updates on our blog + the roadmap.

[2017-06-25 22:56] #3028 closed, assigned to nobody

[2017-06-25 22:56] #3016 closed, assigned to numaanashraf

[2017-06-25 22:57] a85 commented on #3008
Thanks for the suggestion. We are working on this idea of "Workspaces' that will let you create views on the entire set of collections. This will solve this visibility problem without having to toggle settings on each collection. Closing this for now.

[2017-06-25 22:57] #3008 closed, assigned to nobody

[2017-06-25 22:58] a85 commented on #3007
We have updates coming up on authorization flows soon. For now, I'd suggest copy/pasting manually or using a test script.

[2017-06-25 22:58] #3007 closed, assigned to nobody

[2017-06-25 22:59] a85 commented on #3005
Agree with you on the accidental data loss. We are changing this behavior pretty soon. Postman will be much more conservative in assuming that the tab can be closed. Closing this feature request in it's current form though. Lots of issues elsewhere on the tracker around tab management. Will use them for updates.

[2017-06-25 22:59] #3005 closed, assigned to nobody

[2017-06-25 23:00] #2973 closed, assigned to nobody

[2017-06-25 23:02] a85 commented on #2956
Google has deprecated Chrome apps and unfortunately no new APIs are being published on the Chrome platform. I'd recommend moving to native apps.

[2017-06-25 23:02] #2956 closed, assigned to nobody

[2017-06-25 23:02] a85 commented on #2928
You can use collection links for this. The unit of sharing in Postman will remain as a collection for now.

[2017-06-25 23:02] #2928 closed, assigned to nobody

[2017-06-25 23:06] a85 commented on #2876
Thanks @poisa for the detailed use case. We are working on a feature called "Workspaces" to allow for better management of Collections and Environments. We don't want an explicit linking of environments and collections but workspaces will let you roughly do the same way.

[2017-06-25 23:07] a85 commented on #2834
I'd recommend using collection links for this. Postman allows you to upload a collection and generate a link that you can share with others.

[2017-06-25 23:07] #2834 closed, assigned to nobody

[2017-06-25 23:08] a85 commented on #2781
@sandropons I recommend using Postman scripts for all conversions. This way behavior is managed at one place and there is more predictability during debugging.

[2017-06-25 23:08] #2781 closed, assigned to nobody

[2017-06-25 23:10] a85 commented on #2547
This should be fixed now in versions 5.0+

[2017-06-25 23:10] #2547 closed, assigned to nobody

[2017-06-25 23:13] a85 opened #3205 "[Features] Workspaces"
Creating this issue to put together all issues that are about associating collections with environments.

https://github.com/postmanlabs/postman-app-support/issues/213
https://github.com/postmanlabs/postman-app-support/issues/1513
https://github.com/postmanlabs/postman-app-support/issues/1453

[2017-06-25 23:13] a85 commented on #213
Will be solved by Workspaces: #3205. Closing this issue but will reference it in future updates.

[2017-06-25 23:13] #213 closed

[2017-06-25 23:14] a85 commented on #651
Responses don't included saved test results. We have moved this feature over to "Examples".

[2017-06-25 23:14] #651 closed

[2017-06-25 23:15] a85 commented on #1079
Unfortunately, we don't have plans for file based editing of data any time soon. If our roadmap changes, I'll update these issues.

[2017-06-25 23:16] #1079 closed, assigned to nobody

[2017-06-25 23:16] a85 commented on #1265
@bhawna2109 This is the "Open in builder" interface button.

[2017-06-25 23:18] a85 commented on #1513
Tracking as part of the "Workspaces" feature. #3205

[2017-06-25 23:18] #1513 closed, assigned to nobody

[2017-06-25 23:19] a85 commented on #1453
Tracking as part of #3205

[2017-06-25 23:19] #1453 closed, assigned to nobody

[2017-06-25 23:19] a85 commented on #1438
Available in 5.0+

[2017-06-25 23:19] #1438 closed, assigned to nobody

[2017-06-25 23:21] a85 commented on #1637
Should be possible now in 5.0+

[2017-06-25 23:21] a85 commented on #785
Possible now in 5.0+

[2017-06-25 23:21] #785 closed

[2017-06-25 23:23] a85 commented on #2248
File based flows are not part of our immediate roadmap. I'll update this roadmap as things change. You can use the import/export feature or our Github/Gitlab integrations to switch between IDEs and Postman.

[2017-06-25 23:23] #2248 closed, assigned to nobody

[2017-06-25 23:24] a85 commented on #3204
The Chrome app platform is unfortunately deprecated and we won't see any updates on those APIs. I recommend shifting to native apps.

[2017-06-25 23:24] #3204 closed, assigned to nobody

[2017-06-25 23:26] a85 commented on #3113
@maicss You can use the "Code" option now to generate code in curl as well as other commands. There are no plans immediately to add to the context menu in Postman.

[2017-06-25 23:26] #3113 closed, assigned to a85

[2017-06-25 23:27] a85 commented on #2965
@staybfutrell I don't see how we could do this without breaking the UI. Closing this for now. Will pick it up when we have a re-look at the interface.

[2017-06-25 23:27] #2965 closed, assigned to nobody

[2017-06-25 23:28] a85 commented on #2685
Available now in 5.0+

[2017-06-25 23:28] #2685 closed, assigned to nobody

[2017-06-25 23:30] a85 commented on #2656
@DanielStoica85 Exporting HTML files within the app has a lot of issues. We'll be transitioning over to a plug-in based model in the near future that will let users write custom converters. For now, I'd recommend using the newman reporters or writing a custom external converter for exporting from JSON to HTML.

[2017-06-25 23:30] #2656 closed, assigned to nobody

[2017-06-25 23:31] a85 commented on #3109
Close all tabs is available in native apps in 5.0+. This feature won't make it to the Chrome app unfortunately in the near future.

[2017-06-25 23:31] #3109 closed, assigned to nobody

[2017-06-25 23:32] a85 commented on #2814
I'd recommend writing a custom converter to use Postman's JSON exports or using newman. We don't have any plans for adding HTML generation from the Collection Runner.

[2017-06-25 23:32] #2814 closed, assigned to nobody

[2017-06-25 23:34] a85 commented on #2753
All of these feature requests are covered in other issues. Closing as a duplicate.

[2017-06-25 23:34] #2753 closed, assigned to nobody

[2017-06-25 23:36] a85 commented on #2581
Available in Postman 5.0+. Parameter descriptions + request + folder + collection level descriptions with tables should let you add any form of docs. Check out api.getpostman.com for a reference.

[2017-06-25 23:36] #2581 closed, assigned to nobody

[2017-06-26 00:00] a85 commented on #3191
@hertzigger This is tricky as we want to keep collections and environments decoupled. As @czardoz says, using the Postman Pro API might be a better solutions.

[2017-06-26 00:00] #3191 closed, assigned to a85

[2017-06-26 00:40] a85 commented on #2698
@shamasis I believe this is present in 5.0+

[2017-06-26 00:42] a85 commented on #2880
We haven't seen any specific bug reports on this. Please get in touch with Intuit's support to resolve this.

[2017-06-26 00:42] #2880 closed, assigned to sdnts

[2017-06-26 03:15] lfire commented on #1438
Thanks

[2017-06-26 03:32] snarglefarg commented on #213
Good things come to those that wait. Thanks for implementing this! Much appreciated.

[2017-06-26 04:31] jm2242 commented on #2559
had the same problem - stopped working, reinstalled, started working.

[2017-06-26 05:15] serkand commented on #3200
Yes, both clients are in a state of `In Sync`

No it doesn't appear. My collection is a Team collection, not sure if is that why ?

When I do a GET https://api.getpostman.com/collections/ _**< mycollectionguid >**_ on either machine, I don't see my changes. They only appear on my Laptop and this is confirmed when I do and export from there.

On both machines, DevTools -> Console shows:

 =========

[2017-06-26 05:23] SamvelRaja commented on #3200
@serkand Can you provide us the detail on what kind of changes you made in the collection exactly.
Also, https://api.getpostman.com/collections/ < mycollectionguid > has the updated information in it?
if so, kindly check the `pm.user.id` in both machines are same.

[2017-06-26 06:07] serkand commented on #3200
I just tried a change to a request in a private collection from my laptop and it was sync'd correctly on the desktop.

I then made a small change in the request that was causing the problem (team collection) on the laptop and it sync'd correctly the desktop

I suppose the change on the laptop forced the sync?

In any case, its all working now, so we can close this.

[2017-06-26 06:09] #3200 closed, assigned to numaanashraf

[2017-06-26 06:21] gauravcanon commented on #3146
Postman Application Version =  Postman 5.0.1
Postman inteceptor = Postman Interceptor 0.2.22

[2017-06-26 06:30] shubhamj-cuelogic commented on #3201
@madebysid - I have added the portion where I am getting error. Please Let me know if you need anything else from my side.

Testcase Pass -

tests["assert array Active array client 2 name values "+jsonData.Data.Active[1].ClientName] = jsonData.Data.Active[1].ClientName === "Client Scenario 1";

Testcase Fails -

tests["assert array Active array client 2 name values by csv ="+jsonData.Data.Active[1

[2017-06-26 06:32] Jaymin3190 opened #3206 "Wordpress.com POST not wroking via Postman"
Hi Team,

I am trying to expose wordpress.com rest api for operation like update and create, but i am getting error with status 405 as
{
    "error": "unauthorized",
    "message": "You cannot make requests from this origin."
}
Headers I am using are:
Authorization --> with my token ID
Access-Control-Allow-Origin --> *

Although GET operation is working perfectly fine.

Can anyone please help me t

[2017-06-26 06:32] Jaymin3190 commented on #3206
I am using POSTMAN client with interceptor plugin already enabled.

[2017-06-26 06:40] serkand commented on #3200
@SamvelRaja just a side note, how do I check the pm.user.id ?

[2017-06-26 08:02] maicss commented on #3113
How to use `code` command in chrome extensions?

[2017-06-26 08:05] maicss commented on #3113
[code]
You means this?

Compare to write a curl command directly, which prefers easier?

Forget about it......

[2017-06-26 08:23] SamvelRaja commented on #3200
@serkand  you need to check in the devetools.
View -> Show devtools
There you need to check it.

[2017-06-26 08:50] foyb commented on #1906
+1

[2017-06-26 08:54] kamalaknn commented on #3206
Hey @Jaymin3190,

From the error message you've given, it looks like the endpoint is imposing restrictions on which `origin` can make API requests. Requests from Postman app use a different `Origin`.

Could you check the documentation for `wordpress` Rest API on origin control?

I am closing this as it doesn't look related to the Postman App itself. Please reopen the issue if you find this breakin

[2017-06-26 08:54] #3206 closed, assigned to nobody

[2017-06-26 08:57] kamalaknn commented on #3202
Hey @bpaczkowski

Thanks for reporting this. We'll look into this.

Are you signed in or signed out when you close the app?

[2017-06-26 09:09] kamalaknn commented on #3203
Hey @drkhannah

Could you share a sample Url where you are seeing this?

[2017-06-26 09:21] bpaczkowski commented on #3202
I'm signed out on both the Chrome and standalone versions.

[2017-06-26 09:23] urosjarc opened #3207 "FATAL ERROR: Postman will crash if there is to much tabs"
Postman crash if I wanted to open tab if there is to much tabs already opened. Can some1 confirm my statement if its true.

[2017-06-26 10:07] kamalaknn commented on #3207
Hey @urosjarc

We are working on some performance improvements for multiple tabs open.

Are you using the Postman Chrome app or the Native apps? (Check [How can I tell if I’m on the Postman Chrome app or Postman native app?](http://blog.getpostman.com/2017/03/14/going-native/))

Thanks

[2017-06-26 10:46] kostyay commented on #2857
Same issue as well

[2017-06-26 10:47] urosjarc commented on #3207
I'm using chrome app on linux.

[2017-06-26 11:30] edsonmedina commented on #2698
@a85 Care to elaborate? Do you have a link to share?

[2017-06-26 13:04] agolendukhin commented on #2214
firewall can block 8000 port also, e.g. antivirus's one.

[2017-06-26 13:57] willybill commented on #3181
Is there an ETA on fixing this?  It's blocking our ability to transition to latest version of newman.

[2017-06-26 15:07] dantench commented on #2392
+1

[2017-06-26 15:08] bhawna2109 commented on #1429
Hi everyone, we are working on this currently. There is no ETA on this yet, but will update this thread once we have a build ready. Meanwhile, feel free to share your suggestions - your input can help shape this feature :)

[2017-06-26 15:42] catogtp opened #3208 "URL truncated after `#`"
## App Details:
Postman for Chrome
Version 5.0.1
win / x86-64
Chrome 58.0.3029.110

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just recently
 2. Expected behaviour: Full text input instead of truncated values

Start a new builder tab.
Select the parameters button.
enter a key name.
enter a value and at some point type ##.

[2017-06-26 18:22] VincentSaelzler commented on #2722
I an experiencing the same issue. Redirects are followed.

I have checked the interceptor option in Postman to orange (assuming means "on") and also have the interceptor browser extension installed.

Settings > Interceptor > Automatically follow redirects is off

Chrome: Version 59.0.3071.104 (Official Build) (64-bit)
Postman for Chrome: Version 5.0.1 win / x86-64

![extension](https://user-images

[2017-06-26 20:00] graphex commented on #166
+1 Not having LIST ruined my day :(

[2017-06-26 20:13] schirayu commented on #882
+1. Any progress on this?

[2017-06-26 23:00] qmcree commented on #2797
@a85 It doesn't appear so. The only option is to either disable SSL verification altogether. You may be getting it confused with _client_ certificates.

[2017-06-27 04:18] NekoKikoushi opened #3209 "After Canceling 'Close All Tabs' Later Single Tab Closing Attempts To Close All Tabs"
## Preface
I did try to search for this issue first so I'm relatively positive this is actually a new bug.
I did not try on anything other than Windows but it seems likely this may propagate to all platforms.

## App Details:
[code]

## Issue Report:
 1. Encountered recently, but this was the first time I've ever canceled a "close all tabs" action
 2. Expected behaviour: after I cancel close all t

[2017-06-27 07:14] lbj commented on #3007
@a85 So there exist a test script to pick up the returned token? Could you please share an example for how to do this?

[2017-06-27 07:39] null9beta commented on #3189
@kamalaknn actually i never created a login back then, i was just using the Chrome Extension without a login and did not really remember that i was asked to create one, although i did know a login feature exists.

That´s also why i was a little confused when i opened the chrome app/extension and it showed me a login. Luckily it showed a link at the bottom saying "no thanks take me straight to the

[2017-06-27 08:43] Faz540 opened #3210 "[Bug] - Since Update 4.11.0 the user is unable to increment environment variables"
#3153 and #3150
Due to the above issues I'm using version 4.10.7 (Windows App)
However, I noticed on any version after 4.10.7, the below test will not function correctly.

[code]

**In short, what should happen is:**

- It runs the Status Code === 200 test.

- It then loops through the 'tests' array and if any of them are true, increment the 'passed' environment variable (which is initialized in t

[2017-06-27 08:46] kamalaknn commented on #3189
Hey @null9beta

Correct me if I'm wrong, it looks like you are using two separate logins for the Chrome App and the standalone app?

If you are using the same login, all your collections should be preserved across all the apps.

If you want to use a separate login and still have the collections from the other login, you can export the collections out of the older app and import it.

[2017-06-27 08:50] xtet2008 opened #3211 "PLS help to add a function using to hide/show 【Description】in body columns"
## App Details:

[code]

## Issue Report:
I cannot input/change the key name in the request body frame when I change the "Two-pane view" on .  Cause the window which show "Text/File" will be prompt in the top when the mouse move on column "Key". So that I cannot change the key column unless I cancel the "Two-pane view" function.

So could we add a option using to show/hidden the column in SETTINGS

[2017-06-27 09:00] sdnts commented on #3210
Hi @Faz540, directly updating the environment using `environment.failed++` isn't recommended. Can you do this using `postman.setEnvironmentVariable` & `postman.setEnvironmentVariable` too see if that works as expected? I'm closing this, but please reopen if you can reproduce this with these getters and setters as well :)

[2017-06-27 09:00] #3210 closed, assigned to nobody

[2017-06-27 09:04] sdnts commented on #3211
Hey @xtet2008, if you click on the three dots next to the `Bulk Edit` button and choose not to show the Description column. This will stick for the current tab.
We're looking into providing settings for hiding / showing the column on a global basis. We'll keep you updated on this thread.

[2017-06-27 09:08] sdnts commented on #3209
Hi @MrJ0rdan, thanks for reporting this. I was able to reproduce this, and we'll include a fix for this with the next release.

[2017-06-27 09:35] Faz540 commented on #3210
Yep, I've re-written the code to the below:

[code]

[2017-06-27 09:44] xtet2008 commented on #3211
Hey Sir.

Thanks for your reply and care. I already know how to hide the Description as the same way as you sent to me.
Cause isn't save my action that means I need to hide the column first every time If I want to edit/add the key name in body request frame.
So, I think if it can be save user's habit that you  providing a settings for hiding/showing the column on a global basic, then it will be mo

[2017-06-27 09:46] sdnts commented on #3210
Yep, this should work. Additionally, might I also suggest you add a fallback to zero when you initialize the pass counter:
`passed = parseInt(postman.getEnvironmentVariable("passed")); || 0` to make sure it works even when these variables are not defined at all.

[2017-06-27 09:47] sdnts commented on #3211
Indeed, we'll include a way to hide this in a more global fashion in the next release :)

[2017-06-27 09:54] xtet2008 commented on #3211
I'm looking forward to that very much.  I'm a web services developer need to use it debug the API every times.

[2017-06-27 10:05] Faz540 commented on #3210
Is that still required even if I declare them in the pre-request script?
I set these values to zero at the start of the test run

[code]

[2017-06-27 10:07] sdnts commented on #3210
Ah no, then the defaults are redundant

[2017-06-27 11:34] Dahlhaus commented on #682
+1

[2017-06-27 12:00] sdnts commented on #3208
@catogtp I was able to reproduce this, and we will get on a fix.
Out of curiosity though, why are you trying to have a `#` in a URL parameter's value? I ask because a `#` has special meaning for URLs.

[2017-06-27 12:06] catogtp commented on #3208
We are passing over a hash in the post data for data validation. Unfortunately I didn't compute or pick the method so I am left with what I have been provided by my customer.

[2017-06-27 12:58] prashantbhate commented on #906
+1
This would be a very useful feature.
With this on can add assertions/tests quickly before a re-running collection.

[2017-06-27 13:24] null9beta commented on #3189
@kamalaknn

Actually no. I just 2 days ago created a login for the standalone app after the trouble with the chrome extension. I never created a login for the chrome extension.

I actually would love to do that, but all my collections from the chrome browser extension app are gone and it would be awesome if you could point me howto recover them

[2017-06-27 13:42] MekelCon commented on #285
+1

[2017-06-27 13:48] eldadts commented on #2811
also getting this

[2017-06-27 14:06] wasaylor opened #3212 "Invalid URL variable schema saved in requests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just started using Postman again yesterday (fresh install,) converted a v1 collection to v2 with the transform-collection app
 2. Expected behaviour:
When creating new, or modifying existing requests, the URL variables are saved with invalid schema. Postman seems to be able to handle t

[2017-06-27 15:47] krismeister commented on #3142
@a85 I'm not certain its fair to close both this and #3188 without providing another venue for customer feedback.

There is a difference in our organization between api consumers and api developers. Our developers do need to work closely within the postman tools, consumers only need access to the docs. Literally they won't benefit from the other postman suite except the documentation.

As this is

[2017-06-27 16:46] neilghosh opened #3213 "cURL code for PUT request with file upload"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always there
 2. Expected behaviour: see --upload-file <path_to_file> option in cURL code
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): N/A
 4. Screenshots (if applica

[2017-06-27 16:55] rogerdc opened #3214 "Feature Request: OAuth2 Helper should allow user to specify whether to include ID & Secret in Basic Auth or in request body"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Unsure, have never tried this before.
 2. Expected behaviour: Allow user to specify whether to include client_id and client_secret in either Basic Auth header or in request body
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-06-27 18:17] misha-kotov opened #3215 "Lost Collections and Environments after upgrade to 5.0.0"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Encountered after upgrading to 5.0.0 (I do not have an account).
 2. Expected behaviour:
After upgrade, my collections and environments are preserved.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggl

[2017-06-27 19:44] dsomel21 commented on #1946
@a85 didn't you create Postman?

[2017-06-27 19:57] tlemons commented on #3173
As you suggested, I opened a TV4 bug at https://github.com/geraintluff/tv4/issues/257.

[2017-06-27 20:41] marcpeters2 commented on #3181
We are also seeing this issue, using the Postman Mac app version 5.0.0.  A typical request in our collection has a URL defined as follows:

`{{host}}/resource?{{clientType}}`

The *clientType* environment variable is set to `clientType=INTERNAL`.

When running the collection using the Collection Runner, the generated URL appears as follows:

`localhost:8088/resource?clientType=INTERNAL=`   (note t

[2017-06-27 21:09] #1928 closed, assigned to nobody

[2017-06-27 21:11] a85 commented on #1693
@shamasis Is this available now in the new sandbox?

[2017-06-27 21:12] #1656 closed, assigned to nobody

[2017-06-27 21:12] #1641 closed, assigned to shamasis

[2017-06-27 21:12] #1637 closed, assigned to nobody

[2017-06-27 21:15] a85 commented on #1486
We might have plug-ins for this in the future but for now conversions like these will have to be done manually.

[2017-06-27 21:15] #1486 closed, assigned to nobody

[2017-06-27 21:16] a85 commented on #1483
We have made several changes to the Collection Runner. This should be possible in the new collection runner design in 5.0+

[2017-06-27 21:16] #1483 closed, assigned to nobody

[2017-06-27 21:17] a85 commented on #1460
Pausing a collection run has been supported for a while now. Closing this.

[2017-06-27 21:17] #1460 closed, assigned to nobody

[2017-06-27 21:20] #1365 closed, assigned to nobody

[2017-06-27 21:20] #1364 closed, assigned to nobody

[2017-06-27 21:22] a85 commented on #1335
Possible now with previews in 5.0+

[2017-06-27 21:22] #1335 closed, assigned to nobody

[2017-06-27 21:23] a85 commented on #1316
Postman collections can be exported and put on disk. We don't have any plans in the near term for file-folder driven workflows. Closing this for now as we get through the rest of the issues on the tracker.

[2017-06-27 21:23] #1316 closed, assigned to nobody

[2017-06-27 21:26] a85 commented on #1245
Sorry we have no plans to support disk based flows through Postman. Files can be exported and tests can be run through newman for Git based workflows.

[2017-06-27 21:26] #1245 closed, assigned to nobody

[2017-06-27 21:28] a85 commented on #1214
Importing the file now automatically detects the records so should not have to set this manually.

[2017-06-27 21:28] #1214 closed, assigned to nobody

[2017-06-27 21:29] #1193 closed, assigned to nobody

[2017-06-27 21:29] a85 commented on #1193
@shamasis I believe this is possible now?

[2017-06-27 21:29] a85 commented on #1196
@shamasis I believe this is possible now with the new testing suite?

[2017-06-27 21:29] #1172 closed, assigned to nobody

[2017-06-27 21:42] a85 commented on #3117
@GunslingerBara Have a look at our docs: https:https://www.getpostman.com/docs/postman/api_documentation/how_to_document_using_markdown

[2017-06-27 21:43] a85 commented on #1609
Closing as a dup of #519. Will track it there.

[2017-06-27 21:43] #1609 closed, assigned to nobody

[2017-06-27 21:45] a85 commented on #804
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/907. This is coming to Postman soon within a few weeks.

[2017-06-27 21:45] #804 closed

[2017-06-27 22:31] a85 commented on #3213
File paths are not supported with the curl code generation option.

[2017-06-27 23:08] jguziejka commented on #634
this is still an issue, had to turn off Interceptor for the PDF to be created correctly...

[2017-06-27 23:12] a85 commented on #1522
This is available in Postman Canary. Coming soon to production apps. Closing this as duplicate of #907

[2017-06-27 23:12] #1522 closed, assigned to nobody

[2017-06-27 23:15] a85 commented on #1495
We have restarted work on this. Closing this as a duplicate of #720

[2017-06-27 23:18] a85 commented on #2695
@skhatei We don't have immediate plans to support this. We are working on a plug-in architecture that should help with use cases like this eventually though. Closing this request in it's current from. Keep our eye on our public roadmap for announcements: https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers

[2017-06-27 23:18] #2695 closed, assigned to nobody

[2017-06-27 23:20] a85 commented on #2277
Tracking here: #3205

[2017-06-27 23:20] #2277 closed, assigned to numaanashraf

[2017-06-27 23:22] a85 commented on #2083
I believe you can use pre-request scripts for use cases like this. Features like this introduce hidden behavior and are not widely applicable. We are working on plug-ins that might make this possible but closing this request in it's current form.

[2017-06-27 23:22] #2083 closed, assigned to nobody

[2017-06-27 23:25] a85 commented on #906
Closing as a duplicate of #622. Will track there.

[2017-06-27 23:25] #906 closed

[2017-06-27 23:26] a85 commented on #872
I don't think we will be able to run Javascript in preview mode any time soon. Introduces a whole host of data capture attacks. Will re-open in the future once we have more time.

[2017-06-27 23:26] #872 closed

[2017-06-27 23:27] a85 commented on #1568
Tracking here: https://github.com/postmanlabs/postman-app-support/issues/682. Feature is coming soon along with multi-level folders.

[2017-06-27 23:27] #1568 closed, assigned to nobody

[2017-06-27 23:28] a85 commented on #814
Tracking here: https://github.com/postmanlabs/postman-app-support/issues/1104. Closing this issue as a duplicate.

[2017-06-27 23:28] #814 closed

[2017-06-27 23:29] a85 commented on #986
Tracking here: https://github.com/postmanlabs/postman-app-support/issues/1104. Closing this issue as a duplicate.

[2017-06-27 23:29] #986 closed, assigned to nobody

[2017-06-27 23:30] a85 commented on #2465
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1104

[2017-06-27 23:31] a85 commented on #2465
Will be tracking that issue. We have a data editor now built to support this but need to get some other issues sorted.

[2017-06-27 23:31] #2465 closed, assigned to nobody

[2017-06-27 23:33] a85 commented on #2383
Tracking here: https://github.com/postmanlabs/postman-app-support/issues/2899. Closing this issue as a duplicate.

[2017-06-27 23:33] #2383 closed, assigned to nobody

[2017-06-27 23:33] jerrfi commented on #3172
I'm having this same problem where multiple "Link" header items are returned but tests only find the last Link header processed even though both Links appear in the Postman response Header.

Postman Console also shows only the last Link header rather than all headers named "Link".

[2017-06-27 23:36] a85 commented on #1036
Closing this as the design of the runner has changed a lot. We will allow full customization of colors soon.

[2017-06-27 23:36] #1036 closed, assigned to nobody

[2017-06-27 23:37] a85 commented on #2569
@russianryebread Closing as a duplicate of #675. Will be tracking there.

[2017-06-27 23:37] #2569 closed, assigned to nobody

[2017-06-27 23:38] a85 commented on #2526
Closing this as the unit of collection runs will always remain a single collection. We will look at supporting parallel runs or selective folders to enable more workflows.

[2017-06-27 23:38] #2526 closed, assigned to nobody

[2017-06-27 23:39] a85 commented on #2733
Tracking here in #3205

[2017-06-27 23:39] #2733 closed, assigned to nobody

[2017-06-27 23:41] a85 commented on #2723
Closing as a duplicate of #1285

[2017-06-27 23:41] #2723 closed, assigned to nobody

[2017-06-27 23:41] a85 commented on #3057
Closing as a duplicate. We will look into this soon after introducing multi-level folders.

[2017-06-27 23:41] #3057 closed, assigned to SamvelRaja

[2017-06-28 00:33] zeleznickm opened #3216 "Postman very slow to return from endpoint calls and global variable updates"
## App Details:

Postman for Windows
Version 5.0.0
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:  Postman has been very slow to respond to calls to endpoint apis, used to be very responsive
 2. Expected behaviour: calling an endpoint api, or updating a global parameter should not hang for a while.
 3. Console logs (http://blog.getpos

[2017-06-28 01:55] wangjunting commented on #1825
![image](https://user-images.githubusercontent.com/13152792/27617239-be476ad6-5be7-11e7-8de3-d4a719c1a25e.png)

how to do this?

[2017-06-28 01:55] wangjunting commented on #1825
@abhijitkane

[2017-06-28 03:57] AugustKarlstedt commented on #2992
Issue still exists.

[2017-06-28 04:24] niranjv opened #3217 "Enhancement: Add more timeframe options for Monitor dashboard"
On getpostman.com, for Postman Pro:

In Dashboard -> Monitors -> Private Monitors, add more options for Timeframe dropdown listbox in top right:
* Last 1 hour
* Last 3 hours
* Last 6 hours
* Last 12 hours
...
* Last 3 days
...
* Last 2 weeks

[2017-06-28 04:29] niranjv opened #3218 "Enhancement: Slack integration: Allow customization of number of failures/successes before posting message"
For Slack integration, allow customization of number of Collection failures/successes before which to post a notification to a channel. Current setup is for Postman to post a message after 3 successive failures and a success.

[2017-06-28 04:33] niranjv opened #3219 "Enhancement: Slack integration: Allow properties of existing integrations to be viewed & edited"
In the Slack integration page (e.g., https://<mysubdomain>.postman.co/dashboard/integrations/slack/list):

* Allow properties of existing integration to be viewed
* Allow properties of existing integration to be edited. Currently, must delete and re-create integration with desired properties.

[2017-06-28 04:35] niranjv opened #3220 "Enhancement: Slack integration: More compact messages"
In the current Postman-Slack integration, each message about results of a Monitor run, takes up almost 10 lines. Post the same info in a more compact manner to allow notifications from multiple monitors to be viewed easily on a laptop screen.

[2017-06-28 04:45] mrshyam opened #3221 "Zoom In using shortcut key is not working"
hello sir
*Zoom In* using shortcut key is not working...

[2017-06-28 06:01] kdorff commented on #285
+1

[2017-06-28 07:05] OliverRC commented on #2857
No love for getting this fixed?
I'd say full, and decent support for swagger is a MUST for any rest client nowadays.

[2017-06-28 07:19] sdnts commented on #3221
Hey @mrshyam I'm able to zoom in using `Cmd+` or `Ctrl+` on v5.0.1. Which version of the app are you on?
Are there specific steps I need to take to reproduce this?

[2017-06-28 07:24] prashantagarwal commented on #3216
@zeleznickm Thanks for reporting this. We are actively working on improving Postman performance.
We will be making some releases around this soon.

[2017-06-28 07:29] ankitjaggi commented on #3220
Valid point. I'll keep you posted on this.

[2017-06-28 07:30] ankitjaggi commented on #3219
This is something we are planning to release soon.

[2017-06-28 07:39] adis-io commented on #1309
+1
I like this feature in Insomnia.

[2017-06-28 07:40] Vietntse02406 opened #3222 "Close a Postman window will close all other Postman Window on Desktop App"
**App Details:**
Postman for Windows
Version 5.0.0
win32 6.3.9600 / x64

**Issue Report:**
 1. Not sure. I always used the Chrome app, just changed to Desktop app for about a month
 2. Hit "Close" on a Postman window only close that window, not all Postman windows
 3. None
 4. None

**Step to reproduce:**
1. Open Postman Desktop app
2. Open a new Postman Window (Ctrl N)
3. Hit close on either wind

[2017-06-28 08:13] prashantagarwal commented on #3214
@rogerdc Thanks for this suggestion. We are working on improving Auth workflow in Postman. We will consider this suggestion while improving it.

[2017-06-28 08:31] prashantagarwal commented on #3218
@niranjv Thanks for this suggestion. Will definitely consider it for future releases.

[2017-06-28 08:38] prashantagarwal commented on #3222
@Vietntse02406 Thanks for reporting this. We were able to reproduce this only on Windows. We will look into this and release a fix for the same.

[2017-06-28 08:56] rick-nu commented on #804
![](https://media.giphy.com/media/6nuiJjOOQBBn2/giphy.gif)

[2017-06-28 09:32] k3davis commented on #2992
I wonder (but have not tested the theory) if this issue is shared with other Electron apps, or if it is Postman-specific.

[2017-06-28 10:13] kunagpal commented on #3212
@wasaylor A fix for this bug was added in https://github.com/postmanlabs/postman-collection-transformer/pull/60, and will be rolled out with the next release. Thanks for reporting this 😄

[2017-06-28 11:16] prashantagarwal commented on #3217
@niranjv Thanks for suggesting this. We will look into making it more customizable.

[2017-06-28 12:03] prashantagarwal commented on #3215
@misha-kotov Thanks for reporting this. We will investigate and try to reproduce this issue on our end.

[2017-06-28 13:32] Muddz opened #3223 "Mock-Api: Adding cache-control to headers don't work"
## App Details:
[code]

## Issue Report:

I'm trying to add a `Cache-Control: max-age: 600` to my header's `GET` request in my mock api like in this [screenshot](http://i.imgur.com/oO2bFAS.png)

but I never get a response header that actually have any `cache-control` in the header.

This is the header I get returned after I press *SEND* in Postman

[2017-06-28 14:22] misha-kotov commented on #3215
@prashantagarwal Is there a place I can look for the lost collections locally? Where are they stored on a Mac?

[2017-06-28 16:41] kensykora commented on #1316
@a85 Why? Is there an alternate solution for using Postman in a continuous delivery environment? We would like to persist the tests to version control (as you mentioned, we can export... while this works, it is far from ideal -- Postman cloud isn't a good substitute because it is not under version control) and then have newman run the tests.

[2017-06-28 16:46] johnnavarra commented on #1196
What new testing suite?

On Tue, Jun 27, 2017 at 5:29 PM, Abhinav Asthana <notifications@github.com>
wrote:

--
AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2017-06-28 16:59] dagrooms52 commented on #2096
Would be great to turn off `ctrl + s` for quick save. We share postman collections with 30+ developers and some of them play fast and loose with saving routes - breaking the rest of us. I bet it's a force of habit for most to `ctrl + s` after editing something, so turning it off would help us out a bunch.

[2017-06-28 18:25] wadealexc opened #3224 "Sort recorded interceptor requests by time (feature request)"
When recording API calls from the browser via interceptor, Postman displays them in the reverse of the order they happened in - with the first call made at the bottom and the most recent at the top. If I want to make a collection out of them and run them again in Postman, I can't because they are out of order (For example if my Auth call was done first, it'd be done last if I converted the recorde

[2017-06-28 18:37] wasaylor commented on #3212
@kunagpal Just for clarity, this happens when I create new requests in Postman v5 itself and use the runner - so after I've used the transformer. Just want to confirm you understand because it looks like you've only done a fix on the transformer itself

[2017-06-28 18:48] zeleznickm commented on #3216
Did notice this error in the dev tools console, maybe unrelated

file:///C:/Users/zeleznickm/AppData/Local/Postman/app-5.0.0/resources/app.asar/html/mode-auto.js  ERR_FILE_NOT_FOUND

[2017-06-28 19:01] zeleznickm commented on #3216
Saw this on another call

disconnected from sync service, possibly a network outage
scheduled reconnection attempt #1 after 7611ms
watchdog checking connection health
reconnecting to sync service #(1/8)
reconnecting to sync service after being offline for 7.983 seconds
connected to sync service
Error fetching team notifications  (a stack trace  of calls to various sails.io.js stuff)
force disconne

[2017-06-28 19:27] kunagpal commented on #3212
@wasaylor The Postman app depends on the transformer to perform various conversions. The next release I was referring to is the Postman app release, and not just the transformer release :)

[2017-06-28 20:15] a85 commented on #2212
Issues like these should be fixed with 5.0+. I'd recommend switching to our native apps. www.getpostman.com/apps

[2017-06-28 20:15] #2212 closed, assigned to nobody

[2017-06-28 20:17] #3157 closed, assigned to kamalaknn

[2017-06-28 20:37] jasekiw commented on #812
Why was this issue closed? This is still a feature that should be apart of the core.
One possible way to implement this is to upload the file to a an accessible web address. The test runner can download these files when the tests run for persistence.

PostMan could offer a premium storage service that uses user authentication to protect the test files.

[2017-06-28 21:50] Blue-Dog-Archolite commented on #2681
![postman_044](https://user-images.githubusercontent.com/53378/27662067-9a7a8228-5c19-11e7-9883-2c421d9efa6c.png)
![selection_045](https://user-images.githubusercontent.com/53378/27662076-9e2074c8-5c19-11e7-9909-430f81077092.png)

Same on Linux `Version 5.0.1`

[2017-06-28 22:24] atalebagha commented on #1669
+1

[2017-06-28 23:30] medjai commented on #2941
@numaanashraf When can we expect this to be fixed? This is a major roadblock for me. I am using Postman to work with our devices here at work and test API implementation but our devices ONLY support digest authentication. It has been months since this issue was reported

[2017-06-29 02:58] skytraveler commented on #876
The need of specifying HTTP Protocol Version is common,I think. Kindly please add it to Postman features.

[2017-06-29 07:34] prashantagarwal commented on #3223
@Muddz Thanks for reporting this. We are already working on a fix for this which will be out in next couple of weeks. I will keep you updated about it.

[2017-06-29 07:40] #2923 closed, assigned to prashantagarwal, bhawna2109

[2017-06-29 07:41] #3091 closed, assigned to prashantagarwal

[2017-06-29 08:09] premctl commented on #1113
@abhijitkane   @madebysid Can you provide us update on how soon can we have this support on the app?

[2017-06-29 08:21] Heydiddly commented on #1757
+1, trying to implement some pre-flight checks at the start of a collection and this would make life much easier. In my case I need the collection to exit rather than just the script though, like a selective _--bail_ param in Newman, so probably best to support breaking at all levels?

[2017-06-29 09:11] kamalaknn commented on #3224
Hey @wadeAlexC

Thanks for your feedback. We'll look into this.

[2017-06-29 10:59] yunti commented on #2489
I have the update issue too. (4.9.3) trying to update to version 5.0.0.
What's the best way to update given the bug (whilst maintaining collections, history etc...)?

[2017-06-29 14:52] plam4u commented on #2096
+1 for shortcut customizations

[2017-06-29 16:17] udev commented on #2834
@a85  The idea is not for the person developing the scripts to share them. The idea is to help those who are attempting to integrate an API (unsuccessfully) quickly and easily share request and response information without the need to copy and paste information from postman. A context menu item or a button to do the mundane work would be appreciated.

[2017-06-29 16:49] pjamgithub commented on #2489
Having the same issue with the 5.0.0 update.  I'm on 4.10.7 though

[2017-06-29 17:51] eatinasandwich commented on #2905
+1 Even just point number 1, modifying tab sizes in editor, would be awesome. It would appease the obsessive compulsiveness in me.

[2017-06-29 18:06] sareykaj opened #3225 "Data type handling environment vs. data variables"
## App Details:
[code]

## Issue Report:
I have just started using postman and I found that environment and global variables placed inside a json body are not resolved in the same way as data variables:
- string values from environment are wrapped in double quotes but from data file they are not
- null values from environment are resolved as null but from data file they are not resolved at all
- j

[2017-06-29 20:19] qmcree commented on #3129
I haven't experienced this bug in a week or two. I've been able to save requests with a new header selected from a preset without encountering the unexpected overwrite dialog.

[2017-06-29 23:47] gregeisips commented on #2929
I am having the same problem with v5.0 -- so slow when updating variables in the tests or pre-execution scripts in particular

[2017-06-29 23:48] gregeisips commented on #3216
+1
I have the same problem. please help. We are on the paid version now and it is almost unusable

[2017-06-30 01:54] Acris commented on #2530
@SamvelRaja Hi, can you share how to fix it? Thank you.

[2017-06-30 07:06] sareykaj commented on #3225
OK - today I took a closer look how the environment is actually persisted to json. All is in double quotes and the double quotes that should be part of the variable are escaped. So I copy and pasted the same representation to the data file and now its the same handling.

`
[
	{
		"stringField": "\"string\"",
		"numberField": "1000",
		"nullField": "null",
		"jsonField": "{id : 1, value : \"jsonVal

[2017-06-30 07:13] SamvelRaja commented on #2530
@Acris  we are using the Ace editor in the app where they fixed it, detailed issue reference https://github.com/ajaxorg/ace/issues/3099

[2017-06-30 07:45] Acris commented on #2530
@SamvelRaja Thank you very much! 👍

[2017-06-30 08:29] shibinaec opened #3226 "App crashing freguently"
My app
Postman for Chrome
Version 5.0.1
win / x86-32
Chrome 58.0.3029.110
Crashes frequently.. i have cleared history requests still  no change .

[2017-06-30 09:09] ghost opened #3227 "(feature request) Show request start DateTime, current duration, end DateTime"
Hi,

as I am currently working with long running queries it would be great to see when exactly did I start it, how long is it running at the moment and when did the request end.

Thank you,
Roy Deistung

[2017-06-30 09:54] sdnts commented on #3225
Hi @sareykaj We'll definitely look into these inconsistencies so that workarounds aren't necessary. Will keep you updated on this thread.

[2017-06-30 09:56] sdnts commented on #3226
@shibinaec We are continuously working to make sure the app is stable. We recently release 5.0.2 which has some performance improvements. Can you try updating and check if the performance is better?

[2017-06-30 09:57] sdnts commented on #3226
Closing this in favour of #3105

[2017-06-30 09:57] #3226 closed, assigned to nobody

[2017-06-30 09:59] sdnts commented on #3227
@RDEFLM Thanks for the feature request! You'll be happy to know that we're working on improvements to the debugging aspect of Postman, and we'll keep this request in mind!

[2017-06-30 11:48] cebor commented on #3212
I have the same issue with 5.0.2

Runner not usable for new or edited requests.

[2017-06-30 12:37] shibinaec commented on #3226
Thank you for your support sir,
I have removed the extension and downloaded the postman  app,now I'm able
to work with it, no problem at all.
Thank you so much for your support.

On Fri, Jun 30, 2017 at 3:26 PM, Siddhant Sinha <notifications@github.com>
wrote:

[2017-06-30 12:41] anupshah commented on #2547
Hi. Finally got round to trying it out. Works great. Many thanks!

[2017-06-30 16:09] ChALkeR commented on #3167
If this app is built with `Electron` (which I guess from the syptoms and a quick Google search on the app name), then this is caused by the upstream Electron issue: https://github.com/electron/electron/issues/8455.

[2017-06-30 17:10] tlemons commented on #3173
I have not received an response to the TV4 bug that I posted, and I see dozens of issues at https://github.com/geraintluff/tv4/issues, some of which have been open for years.

I really want to do JSON return body checking in Postman, and like to idea of using the JSON Schema for this.  If TV4 doesn't work and isn't supported, have you considered supporting a different JSON Schema-compliant checker

[2017-06-30 17:14] lakario commented on #3019
It would be super useful to be able to install for All Users on locked down environments likes servers and jumpboxes.

[2017-06-30 20:11] gregeisips commented on #2920
I am on 5.0 and I have similar problems -- too slow to use this

[2017-07-01 10:01] prashantbhate commented on #682
+1

[2017-07-01 10:05] prashantbhate commented on #803
+1

Currently Its really hard to organise captured requests (50+) into collections/directories (once they are captured via postman proxy) as I need to move it one by one

[2017-07-01 10:17] prashantbhate commented on #622
+1
This would be a very useful feature.
With this one can add assertions/tests quickly before a re-running collection.

[2017-07-01 13:33] TehWardy commented on #3136
Doesn't work :(
I also tried exporting the cert using firefox then importing in to postman under settings => certs.
This used to only affect localhost, with each new update to postman it makes less and less servers work.

I did manage to get it working once on a machine not on the business windows domain by forcing the cert in to the root store on the local machine and restarting the machine but I

[2017-07-01 13:57] TehWardy commented on #3136
I have done some further testing on it, for the app in question when launched from visual studio and run on IIS Express locally when SSL is enabled it actually hosts the apps on 2 ports, one is a standard non SSL based port.

I can't get postman to talk to either of these ports for the given app and there doesn't seem to be any logic as to why it works on some apps vs others.

What's even stranger

[2017-07-01 14:00] TehWardy commented on #3136
Postman for Windows
Version 5.0.2
win32 10.0.15063 / x64

Also has this issue ... on that it appears worse, it seems to affect more than just localhost.

[2017-07-01 14:04] TehWardy commented on #3136
Interesting ... having added the cert to the root cert authority store on my domain managed machine, if I then uninstall postman for windows and install the latest postman for chrome (no reboot, just remove => add) it seems to be working again.

now i'm really confused!!!

[2017-07-01 14:15] doggy8088 commented on #2418
When I have `Location` header in the response headers, my Windows App v5.0.2 will get the same problem.

[2017-07-01 17:01] cph2117 commented on #2920
@prashantagarwal Is there an update on this? The app is unusable...

[2017-07-01 17:06] prashantagarwal commented on #2920
Hi, @cph2117 . We have released quite a few updates after 4.10.7 . Can you update it to the latest version (v5.0.2) and see if this is still happening for you. Also, can you tell how many collections/requests do you have currently.

[2017-07-01 17:48] daimor commented on #2489
Update from 5.0.0 to 5.0.2 still not working. Shows `Restarts now to update`, but only stops and after start it manually, nothing was changed. And don't have `~/Library/Application Support/com.postmanlabs.mac.ShipIt`

[2017-07-01 22:18] cph2117 commented on #2920
@prashantagarwal I'm on v 5.0.2 on Mac, and the issue still persists

[2017-07-03 00:03] skumarcse opened #3228 "Postman native app in Windows - Certificate issue"
## App Details:
Postman helps you develop APIs faster
Postman for Windows
Version 5.0.2
win32 6.1.7601 / x64

## Issue Report:
Could not get any response
There was an error connecting to https://api.examples.com/account/BalanceInquiry.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix t

[2017-07-03 06:50] freeart commented on #2402
I found the different in "charset=UTF-8" which can be a cause of all issues

[2017-07-03 06:59] numaanashraf commented on #3228
@skumarcse Thanks for reporting this. Could you open the Postman Console (View > Show Postman Console) on the windows app, retry the request and send us a screenshot of the logs in the console?

[2017-07-03 07:04] trigunam commented on #2489
I have the exact same problem and no logs found in `~/Library/Application Support/com.postmanlabs.mac.ShipIt`

[2017-07-03 07:17] numaanashraf commented on #2446
@stianlagstad Have you faced this issue again recently? We had rolled out fixes for some rare cases in the environments feature that might address this issue.

[2017-07-03 07:24] ghost commented on #2253
Just for the sake of completeness. You can also supply the required settings to the postman executable directly:
`%APPDATALOCAL%\Postman\app-5.0.2\Postman.exe --proxy-server=http://localhost:8080 --proxy-bypass-list=localhost`

[2017-07-03 09:04] Dunmail commented on #1463
+1

[2017-07-03 13:15] la2126 opened #3229 "Collection runner loads a blank window in Postman for Windows"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: noticed recently, since I upgraded to version 5.0 and 5.0.2
 2. Expected behaviour: Collection runner window loads the collection runner
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools fo

[2017-07-03 13:21] charliekwong opened #3230 "Postman crashing on startup..."
## App Details: windows 32-bit app versions 4.9.2 and 5.0.2

## Issue Report:
 1. clicked to update to latest versio 5.0.2 - restart and it crashes almost  immediately - I can see that initially I am offline but no collections (all disappeared)
then pop-up appears saying "electron has stopped working"

I have uninstalled 5.0.2 and found 4.9.2 setup.exe and installed that - but same problem.

any h

[2017-07-03 13:28] charliekwong commented on #3230
Postman starts and stays up long enough that I can see that I have about 10 tabs open. the history and collections are empty - I am offline but my name is in the top corner...I guess it must be trying to sync ?

[2017-07-03 13:53] juancesarvillalba-zz commented on #2392
+1

[2017-07-03 14:15] anit05 commented on #1809
Hi
I have version 5.0.2
But postman collection runner executing calls in different order
It was working fine a few days back.
I have not made any changes to my calls but however it does not work properly.

What can be the reason ?

[2017-07-03 14:29] anit05 opened #3231 "Postman collection requests in wrong order"
Hi I am using postman collection runner version 5.0.2 .
It was working properly a few days ago.
But now when i run this,it does not ran the first folder in collection.
I am not sure why this is happening.

What can be the reason ? Any suggestions

[2017-07-03 15:11] tlemons commented on #3199
Hi - thanks for being so receptive about looking into this.  Being unable to perform JSON response validation is a big 'hole' for us right now. I'd like my team to focus on Postman for our testing, but we'll need to look for alternates for the JSON response validation soon.  Could you share your timeline for adding functional JSON validation?  Thanks!

[2017-07-03 16:04] charliekwong commented on #3230
Problem solved.

[2017-07-03 16:04] #3230 closed, assigned to nobody

[2017-07-03 17:46] martincalvert commented on #3181
No clue if this is helpful but I have rolled all the way back to newman@2.1.2 and still see the issue.

[2017-07-03 18:54] webbnh opened #3232 "AWS SIGV4 signature mismatch with "binary" payload"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:  I don't know -- I've only tried this feature recently, and it has yet to work for me.
 2. Expected behaviour:  a successful PUT operation.
 3. Console logs:
[code]

 4. Screenshots (if applicable) : N/A

I've got an AWS API Gateway set up, and I'm trying to upload a file via a `PUT` op

[2017-07-03 20:37] drojkind commented on #2724
+1 for this as well !

[2017-07-03 21:04] drmcclelland commented on #1137
+1

[2017-07-04 00:50] skumarcse commented on #3228
Here is the console log. Note: this is accessed through corporate network.
POST
https://api.examples.com/account/BalanceInquiry.
07:45:46.145
Error: tunneling socket could not be established, statusCode=407
Client Certificate:
keyPath:"C:\Postman\postman-cert\grp-client.prod.local.key"
pemPath:"C:\Postman\postman-cert\grp-client.prod.local.crt"
Proxy:
proxy:"http://10.xxx.xx.xx:8080"
tunnel:true
R

[2017-07-04 05:13] elleryfamilia commented on #2392
@madebysid Hey there, any updates on whether this issue is being prioritized for a near release? It's been out there for 10 months now.

[2017-07-04 06:39] NickBrooks commented on #2811
+1

[2017-07-04 06:44] ciscosupport commented on #1137
Leading networking company CISCO launched a service called CISCO SUPPORT service to help its users and it also have a toll free number to provide instant help.
For any problem regarding networking go to

http://supportnumbers.net/

[2017-07-04 06:58] ciscosupport commented on #1137
CISCO launched a service called CISCO SUPPORT service to help its users and it also have a toll free number to provide instant help.
For any problem regarding networking go to

<a href="http://supportnumbers.net/"> Cisco Support</a>

[2017-07-04 07:45] sdnts commented on #3229
Hi @la2126 I'm able to open the Runner on a Windows machine running 5.0.2, so I'm guessing this is something specific to your machine. :(
Can you try opening the Postman App from the command line to see if you get any useful info there?
The app installs here: `C:\Users\<User>\AppData\Local\Postman\app.4.10.2\Postman.exe`.
While keeping the command line window open, try launching the Runner from th

[2017-07-04 07:48] sdnts commented on #3232
Hi @webbnh, thanks for reporting this. We'll look into this and I'll let you know what we find :)

[2017-07-04 07:51] sdnts commented on #3231
Hi @anitchanana, I made a small collection with 2 folders and 2 requests in each folder and the Runner was able to run all requests in the correct order.
Are you on the native or the Chrome app? Would it be possible to create a sample collection I can replicate this with?

[2017-07-04 08:03] sdnts commented on #3136
@TehWardy When you use the Chrome app, it uses the certificate from Chrome, which in turn takes it from your system's keychain, which is why everything falls into place. Is the certificate you're using a `.cert` type file? The native app currently only supports the `.cert` format.

[2017-07-04 08:09] sdnts commented on #3199
Hey! Our public roadmap is available here: https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers so you can watch that.

[2017-07-04 08:13] sdnts commented on #3230
Hi @charliekwong Out of curiosity, what was causing this?

[2017-07-04 08:29] sdnts commented on #2929
@gregeisips We working on some performance optimizations around variables, and we'll push out a release for this very soon. You can follow #3216 for updates.

[2017-07-04 08:32] sdnts commented on #1113
@premsompura While this isn't a part of our immediate roadmap, you can follow https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers for updates :)

[2017-07-04 08:33] sdnts commented on #3129
@qmcree That's great to hear!
@muralidharbg Does 5.0.2 also show you the same error?

[2017-07-04 08:48] charliekwong commented on #3230
Hi Sidhant
I don’t know. If you want I can send you the one of the many crashdump files that Postman puts into C:\Users\....\AppData\Local\CrashDumps and you might be able to determine from there.

What I did to solve the problem was to make sure of a full uninstall:
Because it still knew who I was when I uninstalled and re-installed 4.9.2 or 5.0.2, using the windows control panel, I suspected tha

[2017-07-04 08:57] suttermichael opened #3233 "Raml import not working in postman 5.0.2"
After the update of postman to the 5.x release the import of our Raml files aren't working any more. The import was working in the 4.* releases. In case I import a file manually I get an error message. Please see attached screenshot.
We're using raml 0.8

## App Details:
Postman for Chrome
Version 5.0.1
win / x86-64
Chrome 58.0.3029.110
[code]

[2017-07-04 08:57] suttermichael commented on #3233
![ramlimport](https://user-images.githubusercontent.com/22204033/27822904-9298895a-60a7-11e7-9550-464ecdced28e.png)

[2017-07-04 09:04] sdnts commented on #1196
@johnnavarra A new API for testing was pushed out with the latest version of the app. You can read the docs [here](https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference)

[2017-07-04 09:39] sdnts commented on #3233
Hi @suttermichael, do you have external references in your RAML spec? If so, those aren't supported yet. I'll make sure we get the error text more descriptive.

[2017-07-04 10:23] madrian commented on #1463
A workaround is to save the whole Authorization value in the environment variable. So your saved collection would look like **Authorization**: {{myauth}} and in your environment **myauth** = "Basic xxx".

[2017-07-04 10:34] Dunmail commented on #1463
@madrian: Agreed - this is what we're doing.

However, when we share a Postman collection with third-parties, it would be more satisfactory to share a username/password, rather than the whole header

[2017-07-04 10:50] premctl commented on #1113
@madebysid Thanks but I have found a hack :)

[2017-07-04 11:06] TehWardy commented on #3136
I think it was a .cer file ... It seems to have worked from randomly flailing around trying stuff out ... Would be nice to have some clear instructions on how to get the cert from within chrome though as I couldn't find a way at all and ended up having to use firefox

[2017-07-04 13:04] f15u opened #3234 "How to copy interpolated URL when using environment variables"
## App Details:
[code]

## Issue Report:
Reading the docs (https://www.getpostman.com/docs/postman/environments_and_globals/variables), I can not see anything that could help me to solve this problem.

I have a lot of endpoints like these:
`{{url}}/campaigns/{{campaign}}/report/B8muaEXmgRz1mTlb`

There is the chance to implement a button or something that permits to copy the interpolated URL, in e

[2017-07-04 13:16] suttermichael commented on #3233
Hi @madebysid do you mean files which include via
!include
in our RAML file?
We have such includes and they had been working in postman 4.x

[2017-07-04 13:20] sdnts commented on #3234
@FedericoBiccheddu Hmm, you can do this by opening up the Postman Console (Cmd+Alt+C) and sending the request. It'll list the URL there. This is far from ideal though, so I'm adding this as a Feature Request.
Adding this to the right-click menu sounds like a good idea to me.

[2017-07-04 13:26] msignataur opened #3235 "[Feature] Search bar for global/environment variables"
Would be nice if you can add a search bar in preview list of environment/global variables.
I have a lot of variables and it’s very embarrassing to find the value that I want to use.

[2017-07-04 13:28] sdnts commented on #3235
@msignataur Thanks for this feature request!
You might also be interested in #2016

[2017-07-04 15:16] pajics commented on #1137
@ghiscoding this works as well:
https://sysadminspot.com/windows/google-chrome-and-ntlm-auto-logon-using-windows-authentication/

[2017-07-04 16:31] thix1606 opened #3236 "Multiple custom domains for docs publish"
Please, add multiple custom domains for docs.
Nowadays I can only publish docs using a single domain.
My team has multiple different products. It'd be great to share each on a specific domain.

Thanks!

[2017-07-04 22:51] ghiscoding commented on #1137
@pajics thanks, that did actually worked :)

For anyone else having similar issues, here's what I did to fix it on my side. Go into the internet security settings and add `http://localhost` (or whatever your endpoint is) as a trusted site, then click on "custom levels" and change the "User Authentication" to "Automatic logon with current user name and password". See below for print screen of what

[2017-07-05 05:30] Ariex commented on #1947
+1

[2017-07-05 05:50] decode007 opened #3237 "Comment few calls from running in collection runner"
I my collection, one of my request is getting failed because complete data is not fetched.
Although that call individually is running fine.
Was that because of some timeout. In that case can we increase the default timeout?

Also, for the time being, can i skip that call from running in collection.
Like commenting that specific call

[2017-07-05 07:32] prashantagarwal commented on #3236
@thix1606 Thanks for reaching out to us. Can you drop a mail at help@getposman.com . Our support team will help you out with this.

[2017-07-05 07:40] prashantagarwal commented on #3237
@decode007 Thanks for the suggestion. We are already tracking a similar issue #2392 . For now, you can use `postman.setNextRequest` to skip requests in the runner. [Docs](https://www.getpostman.com/docs/workflows)

[2017-07-05 07:40] #3237 closed, assigned to prashantagarwal

[2017-07-05 09:16] wmonk opened #3238 "Malformed headers show server as being down, rather than bad request"
## App Details:

[code]

## Issue Report:
1. Did you encounter this recently, or has this bug always been there:
Encountered today, latest version - 5.0.2
2. Expected behaviour:
Instead of seeing:
![image](https://user-images.githubusercontent.com/175278/27857553-0c92b0c4-616a-11e7-9878-cf0a1163d283.png)
I should see a warning that the request was malformed.

3. Console logs:
This was logged to th

[2017-07-05 11:50] prashantagarwal commented on #3238
@wmonk Thanks for reporting this. We will investigate this and try to reproduce it on our end. We will keep you updated.

[2017-07-05 13:50] tlemons commented on #3199
Thanks for this pointer; I'll follow this from now on.  So, it appears that addressing JSON validation is not even a planning-level card, so this issue won't be addressed in the foreseeable future; is that correct?  Thanks.

[2017-07-05 13:57] sdnts commented on #3199
Indeed, but since this is a new issue, we'll look into this in detail and update the roadmap accordingly :)

[2017-07-05 14:06] tlemons commented on #3199
Ah.  thanks.

[2017-07-05 17:46] solvingj opened #3239 "Support OAuth2 Authentication with parameters in body per RFC6749"
## App Details:
[code]

## Issue Report:
Here is the link to the relevant section of the RFC for OAuth2:
https://tools.ietf.org/html/rfc6749#section-2.3.1

Here is the relevant excerpt:

Since OAuth2 dialog was introduced in Postman, it has sent the parameters as header values.  There is no option to toggle to the alternative mechanism which is to send the parameters as part of the message body.

[2017-07-05 20:54] KeynesYouDigIt commented on #682
+1 let us know when it ships, its holding up a process of ours

[2017-07-06 02:34] kharod opened #3240 "Run results doesn't expand the line as per the text in the tests"
When running tests from Postman Collection runner, in the Run Results  the text is overlapping with the text displayed in the next test and so on. This happens when I try to print the response body as part of the test, so it is more readable at first look to see whats wrong with it.

But Run Results where the tests are displayed, the text in the postman doesn’t expand with it and it ends up in thi

[2017-07-06 08:11] kamalaknn commented on #3240
Hey @kharod,

Thanks for reporting this. We'll look into this. We'll update the thread once this is fixed.

[2017-07-06 08:30] bhawna2109 commented on #2372
Tracking this here #622

[2017-07-06 09:29] nenro opened #3241 "Parse multi keys from json Object"
HI all,

is there a way to parse specific values into an environment variable?
for example, for the response below i want to have an environment variable which will be according to the following logic [name1 value];[name2 value];[name3 value....] so it will be like that: saving the world,artificial intelligence,cyborg........

{
    "id": 87101,
    "keywords": [
        {
            "id": 83,

[2017-07-06 09:49] blagoyborisov opened #3242 "Request with 303 redirect response is never ending when Automatically follow redirects is off"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I have been experiencing the problem since at least version 5.0.1 of Postman.
 2. Expected behaviour: A response with status 303 is displayed
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Too

[2017-07-06 10:13] jumeracosta opened #3243 "version 5.0.2 - white blank screen on OS X 10.12"
## App Details:

[code]

## Issue Report:
I've recently updated my Postman for Mac and then after the fresh update, my Postman app always show as a white blank screen after a few secs. I tried to reload, new tab, new window and I'm still getting the same issue.
<img width="1087" alt="postman_white_screen" src="https://user-images.githubusercontent.com/18678415/27906205-2f5d7394-6275-11e7-9457-a4d4

[2017-07-06 10:36] kamalaknn commented on #3243
Hey @jumeracosta

This looks like a duplicate of #3229.

Could you open the app via command line and see if there are any error messages? (The app should be in `C:\Users\<User>\AppData\Local\Postman\app.4.10.2\Postman.exe`)

Do you see any error messages in the DevTools? (`View -> Show DevTools`)

I am closing this issue so we can track this in the parent issue. Feel free to reopen this if you fee

[2017-07-06 10:36] #3243 closed, assigned to nobody

[2017-07-06 10:46] kamalaknn commented on #3241
Hey @nenro,

The following script should help you. You can use this in the "Tests" script.

[code]

I am closing this issue as this is not a bug with the Postman App itself.

[2017-07-06 10:46] #3241 closed, assigned to nobody

[2017-07-06 10:50] sdnts commented on #3240
Also, on a side note, you can view the body of the request without actually printing it out by clicking on the request name, which will open a tooltip where info about the request is displayed.

[2017-07-06 11:00] jumeracosta commented on #3243
@kamalaknn thanks for your quick response. I think the issue #3229 is for Windows.
Here's what I've got from the DevTools console. see screenshot below.
<img width="866" alt="devtools-postman" src="https://user-images.githubusercontent.com/18678415/27908114-e010b4b0-627c-11e7-9310-2eed94e9ef5e.png">

[2017-07-06 11:22] kunagpal commented on #3239
@solvingJ Thanks for pointing this out, a clean fix would be to make the inbuilt OAuth2 helper configurable, so as to specify sending the auth parameters via headers or the request body (as is the case here).

[2017-07-06 11:36] nenro commented on #3241
thanks !!!

[2017-07-06 11:37] kamalaknn commented on #3243
@jumeracosta Sorry for the mixup there.

Are you using the app from the `Downloads` folder or the Applications folder?

Could you open up the app via command line `/Applications/Postman.app/Contents/MacOS/Postman` or `<path/to/your/file/Postman.app/Contents/MacOS/Postman>` and share the logs you see?

[2017-07-06 11:47] jumeracosta commented on #3243
@kamalaknn see the logs below.
$ /Applications/Postman.app/Contents/MacOS/Postman

<--- Last few GCs --->

   25480 ms: Mark-sweep 1399.5 (1491.7) -> 1399.5 (1491.7) MB, 140.5 / 7.5 ms [allocation failure] [GC in old space requested].
   25775 ms: Mark-sweep 1399.5 (1491.7) -> 1399.5 (1452.7) MB, 294.9 / 140.8 ms [last resort gc].
   25951 ms: Mark-sweep 1399.5 (1452.7) -> 1399.5 (1446.7) MB, 175.

[2017-07-06 12:12] SamvelRaja commented on #3242
@blagoyborisov  Thanks for bringing this to us. We shall update the progress in the same thread.

[2017-07-06 12:57] cacothi opened #3244 "New Feature: description for expected response fields"
## App Details:
Postman for Chrome
Version 5.0.2
win / x86-64
Chrome 59.0.3071.115

## Issue Report:
Hi Guys,

I would like to suggest a new feature for the documentation.

It would be possible to have a documentation with regards to the expected response? (description for expected response fields)

We have a scenario which we would use Postman Documentation for our in-house APIs, and our team wou

[2017-07-06 13:13] kamalaknn commented on #3243
This looks odd.

Looks like the app is having trouble loading its data from IndexedDB.

If you have Sync enabled and have synced all your data, you can try clearing the apps data directory and relaunching the app. The data directory should be `~/Library/Application\ Support/Postman`.

**Note: Clearing the data directory is not reversible. Make sure you do not have any unsynced data. You can login

[2017-07-06 14:17] solvingj commented on #3239
Yes that is exactly what I had in mind. A dropdown that defaults to headers would be the simplest experience.

[2017-07-06 14:21] DaBlick commented on #1263
+1

[2017-07-06 15:47] jumeracosta commented on #3243
@kamalaknn that works fine for me! Thanks for the help :)..

[2017-07-06 16:09] ghost commented on #3223
+1

[2017-07-06 16:34] nuriyevn commented on #3066
I have  the  same  issue

[2017-07-06 18:38] ovdsom commented on #2786
Hi everybody,
Did anyone manage to make it work?
I am experiencing exactly the same issue of white screen.
Thanks!

Postman for windows
Version 5.0.2
windows x64

More information about the issue:
- There are no error logs visible (It is shown the same image that is present the 9 of March. Blank window which is not recording anything).
- Related to memory usage is Task Manager showing for the app,

[2017-07-06 20:09] vclover commented on #166
+1 REPORT and custom methods

[2017-07-06 20:34] wasaylor commented on #3212
@kunagpal Hi, still happens in 5.0.2 - *also* postman looks like its duplicating path variables when saving. I export/edit/import my collection a lot, and now my path variables for each request look like this:

[code]

[2017-07-06 21:15] ferronrsmith opened #3245 "History should be extended to hold more than 100 items"
Space is cheap and postman is expensive. A 1000 or more would be better

[2017-07-06 21:58] ericis commented on #2082
*bump* just ran into this myself :)

[2017-07-07 05:12] stianlagstad commented on #2446
Hey @numaanashraf, thanks for checking in. I haven't had this happen for a couple of months at least so I'd say its safe to close this :)

[2017-07-07 05:42] phrazzld commented on #2489
I'm trying to update from 4.10.7 to 5.0.2 but I get an Update Error: "Something went wrong. Please check your connection and try restarting the app."

No `~/Library/Application Support/com.postmanlabs.mac.ShipIt` file either.

[2017-07-07 06:17] SamvelRaja commented on #2489
Hey all,
The below process will help us in dig further on whats happening on background

**Opening up the app through terminal, so that we can get the logs on it.**
a. Right Click on the app -> Show packaged contents
b. The  go inside the folder ->  Contents -> MacOS
c. Right Click on the Postman Executable and open with terminal
d. This will open the app for the user with console mode to track ba

[2017-07-07 06:26] ferronrsmith commented on #3245
I make more than 100 request per day using multiple operating systems. Sometimes I need to see something I was testing last week and this limit is holding me back.

[2017-07-07 07:19] bicanc opened #3246 "[Feature] Improve mock servers."
I used your mock server and i like it, it is super easy to use, thank you for the product.
I want to use mock servers but i stuck somewhere.

For example;
1- There is a list service with pagination but Params are ignored by mock servers. I wish to create multiple mock examples; `?page=1`, `?page=2` or `?type=x` `?type=y&page=3` etc., and their custom responses in examples section, then when i requ

[2017-07-07 08:21] abhijitkane commented on #3242
@blagoyborisov We've updated the Interceptor to 0.2.23. Can you force an update?

Here’s what you need to do in Chrome:
[code]

[2017-07-07 08:33] lukeinage commented on #3232
Can confirm the same issue, it happens every time when selecting a file.
Without a file the request is successful.

Postman for Mac
Version 5.0.2 (5.0.2)
OSX 10.12.5 (16F73)

[2017-07-07 09:07] blagoyborisov commented on #3242
The issue is resolved.

Thank you!

[2017-07-07 09:07] #3242 closed, assigned to abhijitkane

[2017-07-07 09:10] sdnts commented on #3244
Hi @cacothi, you can use Example Responses for this kid of thing. [Docs](https://www.getpostman.com/docs/postman/collections/examples)

Example responses show up in the Documentation, so this should work for you :)

I'm closing this, but please reopen if you feel Examples do not serve your use case!

[2017-07-07 09:10] #3244 closed, assigned to nobody

[2017-07-07 10:32] chemitaxis opened #3247 "Error with {{Domain}} env variable and query string params"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **recently**
 2. Expected behaviour:
**Make the get request correctly**
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
No logs needed
 4. Screenshots (if applicable)

![

[2017-07-07 10:44] sdnts commented on #3247
Hi @chemitaxis, I'm unable to reproduce this.

From your screenshots, it looks like you're looking at two different requests. Do note that the Postman Console will only capture requests and display them when it is open.

Can you keep the console open and resend the request to see if it displays correctly?

Also, is it possible to check your server logs to check if the query parameters are actually

[2017-07-07 10:45] sdnts commented on #3245
Hi @ferronrsmith, thanks for the feature request! We'll look into extending the history limit.

[2017-07-07 10:48] sdnts commented on #3246
Hi @bicanc, thanks for these suggestions! We'll look into these.

[2017-07-07 11:09] chemitaxis commented on #3247
Hi, here you have the screen shot updated. You have 4. The "fail" is using the {{Domain}} environment variable, and the "ok" is using the host url directly.

If I replace the environment variable {{Domain}} with http://localhost:9000 it works fine. I have attached a screen shot too.

Thanks!!
![console_fail](https://user-images.githubusercontent.com/1420409/27955517-7eec03b2-6315-11e7-8925-10d4eaa

[2017-07-07 11:19] daimor commented on #2489
Hey, I've managed to get my Postman updated automatically. After few attempts, I found this folder `/Users/DAiMor/Library/Caches/com.postmanlabs.mac.ShipIt`. Where I found file `ShipIt_stderr.log` with lots of errors like this
[code]
Yes, I see that all errors dated so long ago. And also found some update folder, with Postman.app inside. Then, I decided to clean this folder. But looks like, update

[2017-07-07 12:21] jvkaam commented on #1368
+1

[2017-07-07 12:25] jvkaam commented on #2574
After looking more closely to the initial error (see on top) I believe the failing validation isn't because of tv4 but because of the invalid schema of Postman V2.
Check out: https://github.com/postmanlabs/schemas/issues/12

[2017-07-07 12:41] jvkaam commented on #3199
To motivate an upvoting I would suggest that having a full CI and CD environment in which you generate Postman collections you definitely want to validate it against its own schema.

[2017-07-07 14:34] kkoston commented on #882
+1

[2017-07-07 14:35] kkoston commented on #2247
+1

[2017-07-07 15:07] leonelgalan commented on #798
I'm interested in this feature too. I want to reuse JSON schema files I have, in both, RSpec and Postman/newman, the current solution is to write the schema into every Postman test.

[2017-07-07 15:43] miguelzakharia commented on #2489
The steps @daimor listed worked for me. I only needed to clean up the folder one time and Postman restarted as expected after update. A new error log was created though.

[code]

[2017-07-07 16:22] chemitaxis commented on #3247
Hi @madebysid did you see my screenshot? Thanks

[2017-07-07 17:54] KenGregory opened #3248 "Make the “Body-Pretty” scroll view area sizable"
Please make the “Body-Pretty” scroll view area sizable. A scroll view inside a scroll view is a bad idea.

If the view is as shown in the screenshot below, you can scroll the body – pretty view (response Data) to the bottom but still not be able to view the end of the JSON data. You then must scroll the outer scroll view to see the end of the JSON data. It’s a major PITA…..

## App Details:

Postm

[2017-07-07 19:47] instecjason opened #3249 "When generating documentation the Parameters are not listed."
When generating documentation, I have an API call with 2 parameters.  I have set up examples to show how they are used but the parameter list and description of those parameters do not show up in the final documentation.  Headers DO show up... but the parameters and their descriptions do not.

From PostMan:
![image](https://user-images.githubusercontent.com/22374873/27974313-16d1db86-6323-11e7-832

[2017-07-07 20:53] axel-cerrilla commented on #482
I left this comment, just in case it could help someone
I installed postman app Win10 x64, version 5.0.2.
**SSL is turned off**, I added individual files for client certificate and private key in PEM format and postman was able to do ssl client certificate authentication.

_These are headers/trailers for my key pair files_
-----BEGIN ENCRYPTED PRIVATE KEY-----
MI......
-----END ENCRYPTED PRIVATE K

[2017-07-08 04:24] ferronrsmith opened #3250 "Allow sharing a collection with part of a team"
~Is it possible to share a collection with members of the team and not the whole team ?~

**FEATURE REQUEST** : Add the ability to share a collection with individual members of the team vs all the team.

[2017-07-08 12:07] rubenski opened #3251 "certificate load error: ENOENT: no such file or directory, open ''"
Hi, I have added certificates to Postman 5.0.2 in order access some endpoints at my company. Whenever I fire a request Postman reports a certificate load error in the console. It says it can't find the file or directory. I checked my file system. It should be accessible to Postman. I provided complete control over my certificate folder to "Everyone" in Windows. The exact same setup works on my old

[2017-07-08 12:11] emmanuelt88 commented on #2316
Any update on this? this would be quite helpful!

Thanks for the great work you do!

[2017-07-08 22:36] unchaoss opened #3252 "OAuth 1.0 helper does not generate the correct signature"
![postman-1](https://user-images.githubusercontent.com/13725092/27989652-560a28d8-63f2-11e7-997d-a7ed0e4fece3.png)
![postman-2](https://user-images.githubusercontent.com/13725092/27989653-560a5092-63f2-11e7-958f-96ba9ba29a61.png)

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.g

[2017-07-09 04:47] dfang commented on #1180
+1

[2017-07-09 05:21] morleytatro commented on #2489
I'm not sure what changed on my end, but after following the first few steps as detailed by @SamvelRaja, I was able to successfully update the program.

[2017-07-09 14:07] nenro opened #3253 "Combaining 2 Json Variable"
HI All,

is there a way to combine 2 Json  environment variables ?
for example
Variable 1 : GenreIDs [28,18,14]
Variable 2 : [{"id":28,"name":"Action"},{"id":18,"name":"Adventure"},{"id":14,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}]

i need to create a new variable which based on the first 1 IDs, search for the Key and return the values. so in that case it should be :

[2017-07-09 22:59] ferronrsmith commented on #3249
Think this is what you're looking for https://www.getpostman.com/docs/postman/api_documentation/environments_and_environment_templates

You need to select an environment templates so the properties can be evaluated

[2017-07-09 23:18] instecjason commented on #3249
Hey Ferron,
  It is not what I am looking for.

I am talking about Parameters.  They pop up when you click the Param button.  I included screenshots to show what I am talking about.  The Headers are output in the documentation with their descriptions but the parameters are not.

Jason A. Pamplin, PhD
─ Striving for Clarity
m. 770-355-9814

From: Ferron H [mailto:notifications@github.com]
Sent: Sun

[2017-07-09 23:38] ferronrsmith opened #3254 "Pre-request-Script own Snippets"
Should be able to save pre-request and tests scripts as snippets so that they can be used in other request.

~~pre-request/tests scripts should be executed in a true sandbox. Currently set/clearGlobalVariable modifies global which isn't really "sandboxed". Modifications made inside the sandbox shouldn't affect global state.~~

I see why you did it this way, but a true sandboxed approach would av m

[2017-07-10 00:27] gqy117 commented on #2969
The same issue on Windows native app 5.0.2

[2017-07-10 05:27] muralidharbg commented on #3129
@madebysid I'm not experiencing this error in 5.0.2

[2017-07-10 06:02] #3129 closed, assigned to SamvelRaja

[2017-07-10 06:03] sdnts commented on #2969
We've managed to reproduce and fix this issue. A patch will be out with the next release :)

[2017-07-10 07:04] maissom-abbasi-confiz commented on #697
Any update as to when does this feature finally goes live? My use case is similar to what @junquera has pointed out.

Awaiting...

Thanks.

[2017-07-10 07:19] geraldbaeck commented on #3141
I still have this problem:

_**PASSES** manual post:_
{{url}}/niu/image?imageUrl=https://some/path/to/image/cb5999d6de7c44deb8750f0ee9edd1a2.png&employeeID=0ba9916e-e305-4df6-b318-a671013118a1

_**FAILS** This is the requestUrl when using the test runner:_
{{url}}/niu/image?imageUrl=https://some/path/to/image/cb5999d6de7c44deb8750f0ee9edd1a2.png&employeeID=0ba9916e-e305-4df6-b318-a671013118a1?imag

[2017-07-10 08:21] JohannesRudolph commented on #1309
Yes, please! Shouldn't be too hard to implement either and saves a ton of clicks in my daily workflow

[2017-07-10 10:15] sdnts commented on #3250
@ferronrsmith Thanks for the request.
For now, you should be able to use the Run In Postman button to do this. Granted it won't be updated as the Team Library is, but it's a start till we get on this.

[2017-07-10 10:17] sdnts commented on #3248
@KenGregory have you taken a look at our two-pane layout (Cmd + Alt +V)? We introduced this as a solution to this particular problem.
I'm closing this, but please re-open if you think the two-pane layout does not solve your issue.

[2017-07-10 10:17] #3248 closed, assigned to nobody

[2017-07-10 10:21] sdnts commented on #3249
@instecjason We're building this out as we speak. I'm adding this as a feature request!

[2017-07-10 10:33] sdnts commented on #3251
Hi @rubenski I see you haven't specified a KEY file with your certs, can you supply Postman the key file used to generate your CRT as well and retry?

[2017-07-10 10:38] sdnts commented on #3252
Hey @unchaoss, are you talking about the expanded URL bar? If so, that's intended. The larger URL bar allows you to view longer URLs with ease. I'm closing this, but please reopen if I misunderstood :)

[2017-07-10 10:45] sdnts commented on #3253
Hi @nenro, Lodash is included in the test sandbox, so you should be able to do:

[code]

Please feel free to reopen if I misunderstood.

[2017-07-10 10:45] #3253 closed, assigned to nobody

[2017-07-10 10:49] sdnts commented on #3254
Hi @ferronrsmith, this has been on our radar for quite some time now, and we're actively working to make this possible in an elegant fashion.
I'm closing this in favour of #675 (Custom snippets) and also #2749 (Collection level scripts), but please reopen if I misunderstood :)

[2017-07-10 10:49] #3254 closed, assigned to nobody

[2017-07-10 10:52] sdnts commented on #3007
As @a85 said, we're working towards making this possible in a clean way. In the mean time, you can select the token and right-click on it. If you have an environment selected, you'll see an option there to set the token as a value to a pre-defined environment variable.

[2017-07-10 10:54] sdnts commented on #3164
@chiedo We recently pushed a fix for the interceptor which should address this. Can you try force updating the interceptor and try again?
You can force update by visiting `chrome://extensions/` and clicking on `Update Extensions.`

[2017-07-10 12:33] chiedo commented on #3164
Still no luck. Thanks for trying @madebysid

[2017-07-10 13:13] pfedotovsky commented on #882
+1, come on!

[2017-07-10 13:18] instecjason commented on #3249
That’s great to hear.  It seems since I can put in a description and that your documentation says it works that it was already there.

What expectation should I have on when this will be available?  Also, will you notify me when it is done?

Jason A. Pamplin, PhD
─ Striving for Clarity
m. 770-355-9814

From: Siddhant Sinha [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 5:22 AM
To: p

[2017-07-10 13:21] klingtnet commented on #882
Did you know that there is a reaction button at the bottom of each post? About the half of this thread is `+1` noise, _please stop this_ because every watcher gets an email for each of those redundant posts.

[2017-07-10 14:53] unchaoss commented on #3252
The problem is that the generated signature with the parameter values shown in my screenshot does not match the signature calculated by the Wordpress authentication plug in and my Python code snippet generates the same value as the plugin. (I do not see the text and code that I had submitted along with the screenshots. I don't know if you can see them since. If not let me know and I will resubmit)

[2017-07-10 14:55] unchaoss commented on #3252
I clicked on the edit icon on the top right above the screenshot and my comments are present there. My email with which I registered in postman is cb@cbdasgupta.org

[2017-07-10 16:06] daugustus opened #3255 "mac client problem - Could not get any response- exported curl works fine"
## App Details:
[code]
## Issue Report:
Using basic auth - converted to an Auth header by Postman - Postman responds with "Could not get any response", console is empty. If I convert the request to cUrl and run the request, cUrl responds with the expected result.

The dev-tools console was empty (I have never used the console before so it could be my error in using the dev tool).

The linux client

[2017-07-10 16:50] jongunter commented on #2825
Same here. I had a large JSON file I loaded in PostMan in Windows 8. UI completely locked up..couldn't use it for over a minute.

[2017-07-10 16:55] AlessandroLazzari1985 commented on #2292
+1

[2017-07-10 17:18] katzbo commented on #682
+1

[2017-07-10 20:42] olivoil opened #3256 "Ability to share collections across teams"
Would it be possible to have several "teams" in a cloud account?

I work on several projects, each with different team members, and can't share a collection from one project to team members from another project.

[2017-07-10 22:33] michaeldaw commented on #2476
I have also just started experiencing this as well. It's not just a lag in hitting the  "Send" button, but in typing in to the URL input box as well. The Chrome App version continues to work fine.

[2017-07-11 01:48] bjammin commented on #2232
This is very frustrating.  I have a method similar to the above (put a function into a global variable and call it from all of our scripts pre-request script using eval).  It works fine in the chrome app.

Some of our developers are using the standalone postman app though (which I believe is the supported standard moving forward) ... and it doesn't work there (XMLHttpRequest is not defined).

setN

[2017-07-11 02:24] unchaoss commented on #3252
Clarification: The bad signature was not generated by the values in the screenshot but as a part of the following request (whose screenshot I no longer have) from my original submission

http://pinkyscreativerecipes.com/recipes/oauth1/request?oauth_consumer_key=zTOCIM1R772I&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1498427800&oauth_nonce=Z8OEfIHSgdm&oauth_version=1.0&oauth_signature=Y7/KkTR

[2017-07-11 04:03] kharod commented on #3240
Thanks Guys.

[2017-07-11 07:25] PriyaKumaar commented on #1280
Hi...how to reset the cookie automatically from second request.

For example:
1.I'm running first request with invalid data the cookie has been set for all the request in collections even i enabled the interceptor.Can please suggest how to handle the cookie in postman collection in detail.

Thanks in advance..!

[2017-07-11 08:36] abner-xin commented on #2490
@ShilAggarwal How did you resolve your issue?

[2017-07-11 09:27] mfrtrifork opened #3257 "No method when pressing "ENTER""
## App Details:

[code]

## Issue Report:
When choosing the method to the left of the URL input field the user is allowed to press "enter/return" to select no method. Would be nice if the first element/"GET" would be selected when pressing enter in the dropdown.

When pressing enter in version 5.0.2 there is no method and the "cURL" for the request is invalid since it has no method.
I would expect

[2017-07-11 09:37] alvmunoz opened #3258 "[Usability Suggestion] One more dropdown for environments"
## App Details:
[code]
All the people in my team agreed that it would be very useful to have an additional Dropdown for Environments in Postman.

We would use one dropdown to choose the environment and the other to choose the user credentials you want to use for that environment.... At the moment we have to edit it everytime and it is exhausting.
However I believe there can be additional user case

[2017-07-11 09:39] kamalaknn commented on #3257
Hey @mfrtrifork

Thanks for sending your feedback. I was able to replicate this too. Ideally, one request method should always be selected.

I'll look into this.

[2017-07-11 09:44] kamalaknn commented on #3228
Hey @skumarcse,

From the console logs, it looks like the request could not go through the proxy. Could you make sure your proxy settings are configured the right way on your windows machine?

[2017-07-11 09:58] bhawna2109 commented on #3258
Thanks for the suggestion @alvmunoz
However, I'm afraid I do not understand your use case entirely. You can currently store different credentials in different environments and switch between them. Does this not help?

[2017-07-11 10:11] kamalaknn commented on #3256
Hey @olivoil

Thanks for your feedback.

I am tagging this as a feature request. @a85 can clarify on the roadmap for this.

[2017-07-11 10:17] alvmunoz commented on #3258
Hi @bhawna2109  , can you advise how to do it?

At the moment, we have all the users in the enviroments with a different "Key" name, and then we have to rename the key everytime we wnat to use a different user. Or we have to copy/paste the user in the user variable everytime we want to change the user. That's very tedious.

We prefer to have a prefix set of user credentials and we can change from