[2021-11-08 16:06] ThisNoName opened #10426 "Cannot detach Postman Console window after the latest update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Previously, console can be viewed inline, or detached in a separate window via View - Postman Console, but that's no longer the case.  Users tester11 and MarioG8 on Stackoverflow pinpointed the last working version was 9.0.9

[How to detach Postman console into a separate window](https://st

[2021-11-08 16:58] coltonyoung commented on #3518
The issue still persists on Windows v9.1.3

[2021-11-08 20:21] Kazmirchuk commented on #6722
is my understanding correct that this feature can be used only with OpenAPI v3? Unfortunately, I'm stuck with OpenAPI v2

[2021-11-08 21:17] klivian opened #10427 "Javascript - Fetch code snippet should not set body for GET requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Generating a code snippet with Javascript - Fetch against a GET request sets the body of the request as an empty string, whereas Fetch requires it to not be set.

### Steps To Reproduce

Create or select an HTTP GET request
Generate a code snippet for JavaScript - Fetch
See the body tag is

[2021-11-08 22:44] Akavad-pinelabs opened #10428 "Setting environmental/global variables using script not updating initial value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

whenever we are trying to update environment/ global variable value using script like->
pm.environment.set("variable_name","variable_value");

this line only updating current value. it is not updating initial value that's why we are not able to use that variable value in response body of mo

[2021-11-09 05:25] malvikach commented on #10425
@eap-nutanix thanks for taking time and providing us feedback on the above. However, this is a limitation of Mac OS.

You could try to check this by creating a file on your desktop and then create another file with the same name but a different case.

Please let us know if you still find some concerns on this, we will be happy to help.

For now, I will be closing this issue.

[2021-11-09 05:25] #10425 closed, assigned to malvikach

[2021-11-09 12:22] rLitto commented on #7373
👍  I have problems otherwise displaying timestamps as dates in the visualizer

[2021-11-09 13:13] haroldiedema commented on #6144
The issue described by @ckanibal still happens in version 9.1.3 (latest at time of writing).

[2021-11-09 13:42] keithfry opened #10429 ""Run" collection with only folders doesn't do anything"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have a folder in a collection in my scratchpad that contains other folders of tests, like below (note that each "Test" folder contains requests):

All Tests/
   Test 1/
   Test 2/
   Test 3/

The Run button is shown in the test runner, but when clicked it doesn't do anything. The content

[2021-11-09 15:52] agorshkov23 commented on #285
+1

[2021-11-09 17:07] arlemi commented on #6722
@Kazmirchuk Correct, we will likely add more over time but I don't have any insights into that at the moment.

[2021-11-09 17:42] SebaPrati commented on #5040
+1

[2021-11-09 20:45] JamesMay6 opened #10430 "Postman runner continues when browser is closed before choosing to "Stop Run""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

If a collection is running in Postman runner which is designed to loop, even when a brower is refreshed or accidenatally closed prior to choosing to "stop Run", the requests continue - i can evidence this as the actions my apis are doing are continue to perform despite not taking place on t

[2021-11-09 21:13] JamesMay6 commented on #10430
Note: i have found that quitting the postman desktop agent stops any runs from continuing. i have not tried this with the cloud service - it may be a specific issue with the postman agent.

[2021-11-09 22:08] JamesMay6 commented on #2452
@giridharvc7 any update on its delivery? Or, a work around using pre-request script ?

[2021-11-09 23:10] CRUSADER111 opened #10431 "Match POST examples based on Request Body"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When creating examples for POST requests, the matching algorithm doesn't match based on the request body and instead requires you to send to a different endpoint to get the desired example response.

### Describe the solution you

[2021-11-10 02:00] Frikster commented on #8288
This is still very much a problem... my 646MB response would not be displayed and crashed Postman. I have since given up and started using [Insomnia](https://insomnia.rest/). Works immediately in that it simply doesn't allow responses over 100MB to be shown. I can just download to file if I need to view it, which I mostly don't.

![image](https://user-images.githubusercontent.com/10172142/14103527

[2021-11-10 04:56] malvikach commented on #10429
@keithfry I tried to replicate the issue on my end and it seems to be working fine on the scratchpad (see attached screenshot).

Please let me know if you saved your requests before trying the run button.
Also, a screenshot/video will help me understand the issue better along with the information on OS, postman version, and the platform type(web or postman app).

![image](https://user-images.githu

[2021-11-10 05:11] malvikach commented on #10424
@rajparmar-tsw thanks for writing to us about this. However, this is expected behavior. Items will open up in new tabs when the current tab has unsaved changes (so you don't lose them). We open collections/requests/environment or any other work items on the same tab if the current tab doesn't have any unsaved changes. This is true for globals and other work items as well.

Please let me know if yo

[2021-11-10 05:11] #10424 closed, assigned to malvikach

[2021-11-10 06:11] malvikach commented on #10430
@JamesMay6 Thanks for writing to us and letting us know about this issue. Our team will be looking into this.

[2021-11-10 06:43] malvikach commented on #10426
@ThisNoName could you try this after the latest version update and let me know if you still see this issue. (Latest version 9.1.3 )

I tried to replicate this on my end and it seems to be working for me. Happy to look into this further if you are still facing it.

[2021-11-10 06:47] malvikach commented on #10377
@m3dbedb thanks for writing to us and letting us know about this issue. Our team will be looking into this and fixing the same.

[2021-11-10 09:38] glebsam commented on #3234
@jlarrieux in case you still interesting, I was able to interpolate a variable in request url using `pm.variables.replaceIn(pm.request.url)`
(took from https://github.com/postmanlabs/postman-app-support/issues/2922#issuecomment-527101679)
:)

[2021-11-10 09:58] murtazakhussain commented on #5039
This is still the issue, I am using mac big sur and postman version v9.1.3

[2021-11-10 11:17] boltomli opened #10432 "Typo in Code snippet for Python for midi file mime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In the sample `audip` should be `audio`.

[code]

### Steps To Reproduce

1. Upload a midi file
2. Open Code snippet
3. Switch to Python

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

_No response_

[2021-11-10 12:37] brunottonurb commented on #7399
Have this issue on 9.1.3 on windows 10. Cannot find the setting raCerIMA mentioned.

[2021-11-10 13:07] keithfry commented on #10429
I had to delete and re-import all my Collections after upgrading before the Run button would work correctly for the example above. Maybe it's an upgrade process issue?

[2021-11-10 13:23] postman-support commented on #10412
Hi,

I hope that our response to the raised query was helpful.

Do keep us posted if any further assistance is required from my end on any other concern, on the same grounds.

Thank you!

Regards,
Asha Singh

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2021-11-10 14:12] JamesMay6 opened #10433 "APIs missing in folders in Collection Views"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When moving some apis into folder in collection view, they no longer appear despite showing in the documentation.

Not sure if it is a sync issue in Postman Teams or something else but i do not know how to make the API reappear in the folder!

### Steps To Reproduce

Create some APIs
create

[2021-11-10 14:18] JamesMay6 commented on #10433
Note i have found that if i "export" the colection and re-import it, the apis appear again in the folder. So there is a workaround to this bug.

[2021-11-10 15:52] ThisNoName commented on #10426
@malvikach Thanks for the follow up.  Just tried on two separate Windows 10, version 1909 and 21H1.  Download and install Postman-win64-8.12.5-Setup.exe.   View - Show Postman Console open up new windows in original version and 9.0.9 update.  After update to 9.1.3, the same action only expand the console panel within.

Also tried on Windows 2016, 1607.  Fresh install, no account, no project, same

[2021-11-10 16:52] 4cplatform commented on #8021
+1 on the 'protect master branch' functionality - I like the fork/PR/merge github-like process but worry about accidentally directly changing the master branch

[2021-11-11 01:57] enchhuang commented on #7171
me too, same issue

[2021-11-11 02:06] bradydean opened #10434 "OAuth 2.0 Authorization Code and Authorization Code with PKCE does not log request to Auth URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The authorization code flow sends a request to the Auth URL but that request/response is not logged in the console.
It does log the Access Token URL request, but I'm expecting the authorization request to come first.

### Steps To Reproduce

1. Open a request tab
2. Open the authorization t

[2021-11-11 08:40] malvikach commented on #10433
@JamesMay6 thanks for writing to us and letting us know about this issue. We are sorry about your experience.

Our team will look into this and get back to you.

[2021-11-11 08:49] malvikach commented on #10429
@keithfry Glad to know that the upgrading helped fix the issue.

It could be a bug/issue with one of the previous versions. Do let me know if you could provide me the previous version that you were on. (and your platform details) This will help us investigate this and identify the cause.

I will be closing this issue for now. Feel free to write to us if you face any other problems.

[2021-11-11 08:49] #10429 closed, assigned to malvikach

[2021-11-11 09:56] malvikach commented on #10426
@ThisNoName  Thanks for the info, we tested this on our end.

This is the expected behavior when you are using the scratchpad. (On scratchpad, we do not support detaching of console from version 9.1 onwards) .

I would request you to sign in using your account and try this again on one of your workspaces. You should be able to detach the console. (We have tested this on a windows machine and are p

[2021-11-11 11:36] tengl commented on #9573
It feels like Linux isn't really a prioritized platform. Latest Postman version is v9.1.3. The snap is still on 8.12.5 (which isn't listed in the [release notes](https://www.postman.com/downloads/release-notes/)) and the download version for Linux is 8.12.4.

[2021-11-11 12:07] theelous3 commented on #8195
This has been a hotly requested feature for literally years. Just get on with it already.

[2021-11-11 13:12] janissimsons commented on #8038
Why is this issue being ignored? It renders the application completely useless, our whole infrastructure supports only NTLM v2, nobody can send requests using Postman.

[2021-11-11 14:03] haydenhancock commented on #8038
Only really option is to switch to a different tool. I've been using Insomnia which has been sufficient for our needs.

[2021-11-11 14:10] HugoSart opened #10435 "Allow use of query parameters in mock example body"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When writing API mocks, it's very crucial sometimes that the response body matches the provided query arguments. For example, if I provide an object id in a query parameter, I should be able to provide a response with the same ob

[2021-11-11 14:22] janissimsons commented on #8038
Thanks, I will switch to Insomnia.

[2021-11-11 16:00] simon-4c commented on #6105
Same is happening for us, it syncs the first time then never does again.
I don't really trust sync on Postman at all, our experience is terrible.

[2021-11-11 17:29] 5thdimensional commented on #6105
In September, a new bi-directional git integration solution was released that supersedes the previous git integration for syncing APIs and collections associated with APIs. We highly encourage switching over to that integration since it resolves this particular issue. For more info, check out this help article: https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/#

[2021-11-11 17:32] ThisNoName commented on #10426
Thanks, looks like that's the cause, but kind of an odd restriction.  I stop using signed in account a while back because there's no easy way to export projects, and it wiped out everything I got upon signed out without warning.  Maybe that has changed since.  Either way, really appreciate your help.

[2021-11-11 17:32] #10426 closed, assigned to malvikach

[2021-11-11 18:21] smashah commented on #4687
Is there any explanation as to why this app gobbles up so much system resources? It's getting ridiculous at this point this issue is still not resolved

[2021-11-11 18:52] xantari commented on #8038
I’m curious for what reasons people use postman for? You can capture a http request and replay it with just a few lines of code in .net.  I can see the advantage from and end user perspective but not from any automated testing perspective.

[2021-11-11 20:52] cajuncoding commented on #4968
It's pretty stupid that there is no way to copy/paste specific variables, or a set of them.... even if we could just view/edit the JSON in the app we could much more efficiently manage these!

+++++1 for this to be added, ugggg

[2021-11-11 21:56] lancedolan commented on #7294
Yoooo I just installed postman and it "rendered" my macbook unusable. Straight up, this problem is a risk your entire project/business.

My experience:

- Download postman from https://www.postman.com/downloads onto my 2014 macbook pro (BigSur)
- Start the app, created 1 workspace , 1 collection, and 2 simple endpoints
- Left the app open while I did some other stuff for ~1 hour
- (I may or may no

[2021-11-11 22:20] Xdomen commented on #3438
This feature would help us a lot 🙏

[2021-11-11 22:41] ddurham2 commented on #4193
Ok, so I'm hearing Insomniac and Robot framework have this?  Reading time.

[2021-11-11 22:47] nachocifu opened #10436 "New Integration Request - Readme io"
### Describe your current workflow

We are currently not using Postman but im pushing it for the public api teams as a POC and ideally have the rest of the company follow.

### Describe your ideal workflow

Currently we generate our swagger documentation via yaml file in the same repository as the backend code. Its a static file.
We then have readme.io sync with that file to expose the API.
Readme

[2021-11-11 22:51] stramel commented on #4193
@ddurham2 You should have seen the first one (https://github.com/postmanlabs/postman-app-support/issues/697). Took 4 years to get what they have now which didn't even solve what people were wanting.

[2021-11-11 23:32] idioqa opened #10437 "App crashes after expanding JavaScript Map object in Console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

App crashes when try to expand Map object in JavaScript Console.

### Steps To Reproduce

1. Open my collection https://github.com/idioqa/Postman/blob/99ff55de71b84e630a3a4d329cb7dfff9baeaa5e/crash.postman_collection.json#L331 or use code like this in your collection
`const reqData = new Ma

[2021-11-12 04:25] joshtrotter commented on #8231
+1 this feature will be hugely appreciated

[2021-11-12 05:30] coditva commented on #10437
@idioqa Thanks for writing in! I was able to replicate this issue.

While we fix the issue, as a workaround, you can stringify the `reqData` object before logging:
[code]

We'll post updates related to the issue in this ticket itself.

[2021-11-12 05:32] malvikach commented on #10426
@ThisNoName Thanks for your response. I am going to take the Exporting/Sharing data from postman has been made really easy in last few releases. You can export collections,environments as json and also share it with other team members and collaborate live with them on your projects. Do check

[2021-11-12 05:36] malvikach commented on #10426
@ThisNoName  Thanks for your response.

I am going to take the liberty to talk to you about Exporting/Sharing data from postman. This has been made really easy in last few releases. You can export collections,environments as json and also share it with other team members and collaborate live with them on your projects. Do check out our learning center [docs](https://learning.postman.com/docs/getti

[2021-11-12 05:54] malvikach commented on #4968
@cajuncoding thanks for writing to us on this thread. We acknowledge that this problem has been highlighted for a while.

We do not support view/edit json in the app to manage the environments. You could export environments, make edits and import them back.

However, I would suggest that a better way would be to just use the '**_Duplicate_**' option to make a copy of the entire environment. You wo

[2021-11-12 06:19] ivanlewis opened #10438 "Minify option next to beautify"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Please add minify option next to beautify. When we beautify the code, it adds new lines and spaces. While generating the code need to remove the extra lines and spaces. e.g json minify.

[2021-11-12 07:38] malvikach commented on #8388
@urbanaut We are happy to share that our team has started work on this and we are looking to roll it out in early 2022. Thanks for sharing your feedback with us and helping us improve the product.

[2021-11-12 11:54] johnathany505 commented on #10338
Nothing  ritenow

[2021-11-12 14:55] thilanka commented on #5692
Still the issue is there. v 9.1.3

[2021-11-12 19:34] vnskliarova opened #10439 "Add javascript method to ignore/skip current request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In my project we are supposed to test API on 3 different environments (more are coming). Right now we have 3 different collections, because for some of the calls we expect a different responses in different envs. I'm currently tr

[2021-11-12 21:15] UA55 commented on #8455
I am having a same issue: sending a JSON post request upon redirect changes the content length to 0 and I am getting invalid JSON response. Do we have a workaround to pass the request body correctly to the redirect call?
PS my request method doesn’t change, It’s still Post but the content length is incorrectly passed

[2021-11-12 21:24] UA55 opened #10440 "JSON Post request changing content length to 0 upon redirect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have a JSON Post request that is redirected to another endpoint. The request body is correct JSON format and is not null.
After redirect Content Length is changed to 0 and I get a 400 Invalid JSON response.

FYI : My request type is not changing to GET. The redirect call is still a Post r

[2021-11-12 23:36] bradydean commented on #10434
To add a bit more context to this issue, I also believe there is another issue in Postman while it performs the authorization code flow. In my use case, I have an audience set under the advanced tab. Postman is attaching the audience value to the request to the Access Token URL, but my understanding is that the audience value should be attached to the request to the Auth URL. I cannot verify Postm

[2021-11-13 09:44] AjaySewradj commented on #3563
I'm only using 'Collections' in Postman. It doesn't seem that git support is enabled for the Collections. So I'm still stuck exporting the Collections to the filesystem on a regular basis.

[2021-11-13 15:20] spatialy commented on #8804
Hi, this will be util

any workaround for running only once and setting variables to run on each iteration with the same values?

[2021-11-13 15:33] SecureSnowball commented on #10398
Yes, Postman fetches history from servers and no offense but your servers are slow that makes history feature kinda useless, it seems like it exists so you can run big data stuff but no use for us.

[2021-11-13 15:52] Krishks369 commented on #10417
I would like to work on this issue but I don't have much clarity on the issue. please say what is to be done.
Should the docs be updated or bug has to be fixed.
if yes please guide how to start

[2021-11-13 16:03] SecureSnowball commented on #10408
Don't bother with this bug,I am ditching your crap for Insomnia because I don't have a choice, you made sure app doesn't start.

[2021-11-14 07:07] Olegt0rr commented on #9346
https://www.postman.com/downloads/ - still no M1 version available to download :(

[2021-11-14 10:17] spotlesscoder opened #10441 "Add request test result indicator at top level test tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I was confused that the green light on the test tab was not turning red on my request execution because I broke the server code to test the correctness of my test definition.

Then I realized that it was meant just to signal that

[2021-11-14 16:21] jarrettyeo commented on #4770
I got this error while testing a curl request copied from Chrome. I checked the curl options against the [acceptable options](https://github.com/postmanlabs/curl-to-postman) and found out that my curl request contained an illegal `--connected` tail. After removing it and making sure no other unsupported options were included in my request, I could successfully import my curl request into Postman.

[2021-11-15 02:08] timbochamp commented on #10276
Hi @boardtc , thanks for reporting! I'm not able to reproduce this. Are there other steps you're doing to see this No Auth text instead of Basic Auth?
![Screen Shot 2021-11-14 at 10 01 40 PM](https://user-images.githubusercontent.com/4521134/141711205-ad3e67d9-1f66-4fce-b708-9cf57e02cb3a.png)

[2021-11-15 06:01] shashankawasthi88 commented on #10436
@nachocifu thanks for the detailed explanation. Postman can sync the schema file to the repository via repository Integration (https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/#using-an-external-git-repository). Can we create a flow where the schema gets pushed from Postman > Repository > Readme ?

[2021-11-15 06:36] malvikach commented on #8804
Hi @spatialy @sequoiaKozak thanks for writing to us.

Postman has the ability to run a logic exactly once for a collection run. To do this you can follow the steps below:

You can define a request inside the collection that runs first every time you run the collection. This request will be executed only once when you run the entire collection. You can add the logic that you would like to run exact

[2021-11-15 07:09] malvikach commented on #10440
@UA55 thanks for writing to us. I wanted to understand your issue a bit better. Please help me with more information and possibly an example (screenshot/video or request json that I can import).

Are you calling the redirect request from within the postman's test script section? Also, where does the content length starts to show 0, is it on the postman app or someplace else?

You could also open y

[2021-11-15 12:54] manstie opened #10442 "Websocket Continuation Frame support"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I am currently writing a websocket with `actix-web`, however they do not abstract the Websocket Protocol's [Continuation Frame](https://datatracker.ietf.org/doc/html/rfc6455#page-29), so I need to implement and test that it works

[2021-11-15 13:36] vytjak commented on #8038
I would second that - we are using Postman for Microsoft product integrations, and their ERP product (Business Central) API is now not accessible with postman, most likely due to this issue.

[2021-11-15 15:48] bombillazo commented on #6719
Seems like I'll have to move away from using Postman now that we're working with GraphQL and still no native support for introspection via URL endpoint. Can't be copy-pasting queries around.

[2021-11-15 16:06] CaiusJard commented on #7294
I solved this by stopping using Postman and switching to Insomnia

[2021-11-15 17:48] UA55 commented on #10440
I have an API endpoint (endpoint A) that is redirecting to a second API endpoint (endpoint B) What I want to achieve is to send the request body from my API call to endpoint A and that be redirected to API (B).

When I call Endpoint B directly with the same request body it works fine. But I want to test the redirection works so I have to find a way to send the request body to endpoint A and make s

[2021-11-15 18:34] mhartzell-incomm commented on #4898
Crazy that the Postman team continues to ignore this request.  Such a pain in the rear to make significant changes to environment variables.  Maybe instead of "we're taking this away cause we can't fix all the 'bugs'", embrace "we're not gonna fix all the 'bugs', use it as your own risk".

It's never a good sign when companies that make developer tools start removing features for power users, desp

[2021-11-15 18:34] postman-support commented on #10434
Hey @bradydean,

Thanks for reaching out! I'm happy to help.

When using the  'Authorize using Browser'  in the Authorization Tab, the calls will be logged in the Browser. Since the request is not sent via Postman, it won't be logged in the Postman console.
 ![](https://postman.zendesk.com/attachments/token/bpNwF4EE8AFEQDejpzyikhrXI/?name=Screen+Shot+2021-11-15+at+11.20.35+AM.png)

 ![](https://po

[2021-11-15 18:56] joelasaxton commented on #8461
This solution appears to not work anymore. There no longer seems to be a way to get default Accept request headers into Postman via OpenAPI yaml file.

[2021-11-15 19:27] wadeem commented on #5990
one day Postman started to lag, especially when typing the url. Seems to get worse. Laptop is quite powerful - Xeon with lots of ram, so probably the issue is within postman doing some heavy stuff or as leidong-xiy assumed, too many synchronizations?

[2021-11-15 19:44] bradydean commented on #10434
@postman-support After unchecking 'Authorizing using Browser' I can now see the request. (I didn't even think about the browser sending that request lol).

However, this request is missing the `audience` query parameter (I have it specified in the advanced settings). Auth0 will not issue the token I am expecting unless the audience is provided to the Auth Url.

[2021-11-15 20:57] vlad-velichko opened #10443 "Feature request: Search by URL"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Need to search requests by URL, but it searches by name only

### Describe the solution you'd like

Search by URL

### Describe alternatives you've considered

_No response_

### Additional context

Thanks you ^_^

[2021-11-15 21:00] #10443 closed, assigned to nobody

[2021-11-15 21:02] vlad-velichko commented on #4528
Current search version works for request name only, but in useful if I want search by URL. Could you please add at least URL to the search?

[2021-11-15 23:11] konnor-willison-deepsee opened #10444 "Code Generation Error: Unable to generate server boilerplate. Try again later."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

From any api I try to generate code from in postman, I get the error: Unable to generate server boilerplate. Try again later.

I don't see any issues with the schema, no issues with permissions, I can generate other things from this api just fine, but the code generation in Java errors out.

[2021-11-16 00:38] #10419 closed, assigned to nobody

[2021-11-16 03:04] postman-support commented on #10284
Hey @nstekelenburg,

I hope all is well! I just wanted to follow up on my previous message.

As mentioned in my previous message, please submit a support ticket from the below link in case the issue still persists after your IT team has reviewed the case.
https://support.postman.com/hc/en-us/requests/new

We will then be able to closely look into the issue and assist further in troubleshooting.
Th

[2021-11-16 05:53] nitish166 opened #10445 "Addition features requirement | Suggestion | HTTP | GET"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

# Context about the issue:

- We were working on one of the API-related issues and we need the URL for the whole HTTP address + access token(bearer token) + header (API) auto-generated. on the postman.

- Below screenshot shows t

[2021-11-16 08:31] AskMeAgain commented on #9237
any updates on this?

[2021-11-16 09:59] chibuzorobilom commented on #1066
Please can you share more on how you are you are getting around this?

[2021-11-16 11:16] mirceade commented on #3146
Yes, same issue, this is junk.

[2021-11-16 13:23] anangkur commented on #9346
try to download from this link, it works fine in my Mac Mini M1
https://dl.pstmn.io/download/version/9.0.7/osx_arm64

[2021-11-16 13:26] DavidGarciaCat commented on #9346
I think what Olegt0rr tried to say is the website is not up to date.
Anyone following this thread already got the link to download the M1 version.

[2021-11-16 14:16] LZhComing commented on #5194
+1

[2021-11-16 14:46] algorun77 commented on #2096
I'm adding my voice here. It's sad that a feature as needed as custom shortcuts is still not integrated after more than 5 years of asking. Everyone is used to it's own shortcuts, it should be available after all those years

[2021-11-16 15:34] kpuscas commented on #9346
So just downloaded the osx_arm64 (v 9.1.4) on a new MBPro 14 and it won't open any of my requests.  The web version isn't an ideal option so any idea what could be going on?

[2021-11-16 15:47] arlemi commented on #7294
@lancedolan Thank you for providing steps to reproduce! In the meantime you can use the web version of Postman go.postman.co

[2021-11-16 17:13] AradAral commented on #6719
Astonishing how Postman people don't even make any noise as to why they've abandoned such a highly-requested feature!

[2021-11-16 17:21] malvikach commented on #10440
@UA55 thanks for the details.

I would request you to check the settings for 'automatically follow redirects'. You can find this under 'Settings' -> General (Headers) -> 'Automatically follow redirects'
This setting should be turned on.

Please let me know if this setting is already ON. If not, I would request you to turn this ON and test your requests again.

Let me know if this helps.

[2021-11-16 17:22] haffmaestro commented on #9237
This could possibly help someone else until this feature is addressed. I added a click to copy in my visualizer script which is just 3 clicks faster than selecting and right clicking to copy.
[code]

[2021-11-16 20:37] postman-support commented on #10434
Hi @bradydean

Thanks for following up! Glad to hear we've got one behavior accounted for.

If possible can you share the screenshots of your advanced options tab where the audience parameter is set and the full output of the response from the Postman Console. Please feel free to redact any sensitive details from there.

Thanks! :)

All the best,

Natalie
Technical Support Engineer, Postman

Statu

[2021-11-17 01:06] bradydean commented on #10434
![postman](https://user-images.githubusercontent.com/88594046/142090407-77ed3f0e-2f05-4d19-9010-f2028b0b12ae.png)
Here's the full details for the requests.

[code]

[2021-11-17 06:15] hlmd commented on #10417
This issue has been resolved in version 9.1.4.
That's cool.1

[2021-11-17 06:15] #10417 closed, assigned to nobody

[2021-11-17 09:32] samparmenter commented on #9346
@kpuscas I've got the same version installed on a 14" MBP and have no issues. What do you mean it won't open any of your requests? Is in they can't be sent or they won't even open in the UI.

[2021-11-17 09:38] dclnet opened #10446 "The raven.min.js file blocks page rendering and causes blank space"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

Hi
I am a loyal user of postman, and recently I encountered a problem when using postman.
When I visited the api documentation page generated by postman, I found that an http request blocked the rendering of the page, which caused the page to be blank for a long time.
After research, I dete

[2021-11-17 14:59] lewis-aj commented on #7814
Very buggy but understandable. I found the work around to be exporting the collections from my anonymous session and importing them into the signed-in session. It seems like the obvious fix but I looked in all the wrong places for the export option at first. For collections, it was in the option menu for each individual collection. I assume it may be the same for the other categories.

[2021-11-17 16:40] kvernon opened #10447 "Code Snippet not updated from pre-request script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Currently I have code that evaluates if headers should be added before making a request (from global environment variables). My goal is to only include headers that are needed for certain environments (vs global setup that submits empty headers).

**For the script and prepping the request,

[2021-11-17 17:54] rushi7997 commented on #2418
@nmfzone Thanks for this comment it was really helpful.

[2021-11-17 18:35] UA55 commented on #10440
I have that setting turned on both the postman level and request settings level

[2021-11-17 19:58] kpuscas commented on #9346
@samparmenter It's the UI pane that shows the requests. I try to open an existing request from a collection and nothing happens. If I click the plus to create a new request nothing happens. In the pane itself is just the logo with a link that says Open Overview however clicking that does nothing as well.

![image](https://user-images.githubusercontent.com/10567035/142273223-b5da69ed-bf33-49f4-84fd

[2021-11-17 20:18] likenspio commented on #9473
About this, I'd like to suggest somthing like drag and drop the Runner tab to pop it out as a new window. Or some sort of configuration to choose if it opens in a new tab or new Window. But preferable as a drag and drop feature. :D

[2021-11-17 21:17] devact commented on #5040
+1

[2021-11-17 22:54] jrcii commented on #4318
I want to control every font face, color, size, and background color in the app-- I have to look at it for hours every day for my job. Thank you!!

[2021-11-18 03:03] naveen9740 commented on #8195
Any update on the auto save feature

[2021-11-18 05:05] postman-support commented on #10281
@NiklasBr Just to keep you informed, our team is still looking into this issue and we will post updates in this thread as soon as we have any details on the same. Appreciate your patience.

via @**VaishnaviChallaPostman** | Postman Support

[2021-11-18 05:42] malvikach commented on #10440
@UA55 thanks for all the information.

This might be a bug, we will look into this further and get back to you.

[2021-11-18 07:39] caligo-erik commented on #4660
I bumped into this.
I have plenty of collections and environments in My Workspace. I tried adding a new workspace and deleting the old one, action not permitted.
Please add a way to multi-select and delete collections and environments.

[2021-11-18 09:24] harutyunyan-vahe commented on #8195
++++++++++++++++++++++++++++++++ Add this simple auto save please +++++

[2021-11-18 10:13] Raj-postman commented on #10281
@NiklasBr It's safe to consider 15MB as the limit for Syntax highlighting.

The XML highlighting works for file size less than 20MB (https://postman-echo.com/bytes/20/mb?type=xml) but would fail for file size greater than and equal to 20MB (https://postman-echo.com/bytes/20.02/mb?type=xml). Hope that helps!

[2021-11-18 12:20] NiklasBr commented on #10281
@Raj-postman it does not really help. The syntax highlighting is only one part of the error here. The second part is that it is also not properly indented in the *Pretty* tab as you can see.

Why is this limit hard-coded? Why can't it be changed? I have other apps which can work with Gigabyte-sized files without breaking a sweat, I should be able to see 35MB file properly in Postman on the same co

[2021-11-18 15:02] atljoseph commented on #4660
I have over 100 envs in postman, and the UI is super slow to search them in hopes of deleting one in preparation for importing another. This is required because postman does not replace a env, but makes a duplicate, even with an identical uuid defined in the file.

Have also ran into the issue of not being able to delete an env, usually because using the Teams function in coordination with synced

[2021-11-18 15:10] cpinaBT commented on #5194
+1

[2021-11-18 15:26] VaishnaviChallaPostman opened #10448 "Prompt to set/update variables before sending a request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Let's say we are trying to run the function add(a,b) where a,b are inputs that have to be entered every single time. By using env variables - (a,b) are replaced by default with those values - we don’t get an opportunity (or the c

[2021-11-18 15:43] DannyDainton commented on #10448
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/285

[2021-11-18 15:43] #10448 closed, assigned to nobody

[2021-11-18 16:47] UA55 commented on #10440
Thanks so much

[2021-11-18 19:09] AlissonRS commented on #6722
@arlemi I see the "Click to Validate" option, but I get "Unable to validate" because the schema is larger than 5 MB (it's indeed a large schema). Is there a workaround for this?

Unfortunately I do not own the schema, otherwise I'd split it into smaller ones, but I really wanted to be able to Update this collection without losing variables/headers and other stuff in place in the existing collectio

[2021-11-18 21:03] wavemode commented on #8195
+1 please add this

[2021-11-18 21:27] nmilot commented on #2701
+1

[2021-11-19 00:21] idevchandra commented on #9346
I have the same issue.

[2021-11-19 01:15] sombriks opened #10449 "Invalid characters in native dialog on Snap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

![Captura de tela de 2021-11-18 22-09-22](https://user-images.githubusercontent.com/556695/142526008-9d4eef41-cdee-4aaa-b9d0-e5acfd2469b4.jpg)

### Steps To Reproduce

create collection, then try to export it

### Screenshots or Videos

_No response_

### Environment Information

[code]

##

[2021-11-19 01:19] idevchandra commented on #9346
I have the same issue. On the left bar, when I click on any POST, GET or any request, it has to appear on the right side. But it does not.

Screenshot with explanation is here -> https://imgur.com/a/qODn4Gn

[2021-11-19 01:30] Martin-Suska commented on #285
My use case it, that I want user to change some variable on every run. I mean when I share the collection I want to ensure that users change some predefined variables.

May idea for others (as a workaround):

In **Pre-request Script** I have this check
[code]

...in other words, I'm checking that `r_incident` variable is set in an environment. If it's not, error is thrown = stops sending.

In **Te

[2021-11-19 01:43] Martin-Suska commented on #5043
Actually it was useful for me to have it without unresolved variables, see my comment [here](https://github.com/postmanlabs/postman-app-support/issues/285#issuecomment-973645358).

[2021-11-19 02:41] extraleo commented on #7286
+1

[2021-11-19 04:00] nkev opened #10450 "Import Collection does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

![image](https://user-images.githubusercontent.com/5410916/142562392-a04c209b-6a62-48d5-84ad-00388c2f9e5f.png)

### Steps To Reproduce

1. "Download All" from one mac into a text file.
2. Copy that text file to another mac
3. drag the text file to "Import From Disk" dialog
4. "The Collectio

[2021-11-19 04:50] safazi commented on #8455
Had this issue tonight.
Redirecting from HTTP to HTTPS drops the content type and body.
Resolved by making my endpoint in postman HTTPS.

[2021-11-19 10:22] sryze opened #10451 "Annoying updates, no way to disable fully"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman downloads a new update every week or so.

My internet connection is not great, and I don't want to let Postman download updates, unless I approve it. But it's not possible to disable updates completely in Settings or to make the app ask before updating.

### Steps To Reproduce

1. O

[2021-11-19 10:29] msv2244 commented on #8195
+1 please add

[2021-11-19 10:41] m3dbedb commented on #9950
Same happens in centos linux linux 3.10.0-1160.45.1.el7.x86_64 / x64 and postman Version 9.1.5

[2021-11-19 11:41] hkarjala opened #10452 "Collection not found when creating new forks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Problem started during this week. This is happening frequently.

When we try to create new forks to another workspace - after some time we're correctly directed to correct workspace, but end up with tab stating "Collection not found".

I can see the fork creation logged in the workspace ove

[2021-11-19 12:04] Raj-postman commented on #10337
@KittyGarrison Happy to update you that the team has now fixed this issue. Feel free to let us know if the issue persists.

[2021-11-19 15:04] jakubvana commented on #8195
+1 please add

[2021-11-19 16:00] Douglas09 commented on #7301
Hi, I'm having the same problem... this way it is impossible to document the api by the postman platform because of the "query params" that are either disabled or all as required = true.

[2021-11-19 16:08] Anapier22 opened #10453 "Collection Runner Crashing because of memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have 2 requests in my collection. One is to get an array of URLs for headshot images of athletes. The 2nd request is to call the URL's that I stored from the first request. This ends up to be a total of about 2000+ requests. The collection runner in postman crashes before completion and o

[2021-11-19 16:54] DannyDainton commented on #10446
Hey @dclnet

Which page were you visiting, can you post the URL, please?

[2021-11-19 17:03] DannyDainton commented on #10450
Hey @nkev

This is a very old version of Postman - Have you tried the same action on the latest version?

You can either download the native app for your OS from here: https://www.postman.com/downloads/ or use the Web version of the platform: https://go.postman.co

[2021-11-19 17:07] DannyDainton commented on #10449
Hey @sombriks

Is this still an issue, it looks like the file explorer of your OS is showing that, Postman seems to look fine behind it.

Are there any more details that you can provide, please?

[2021-11-19 17:13] sombriks commented on #10449
Hello @DannyDainton ,

yes it works mostly fine but when it tries to export a collection it brings that corrupted dialog.
it might be snap fault, not postman.

in another "installation", which i just unzip postman that issue does not occur.

is there any chance to offer postman as an .rpm package?

[2021-11-19 17:14] DannyDainton commented on #10447
Hey @kvernon

That `pm.*` API method happens at runtime so it wouldn't be updating the static code snippet for the chosen language.

Anything in the pre-request or tests scripts wouldn't be reflected in the auto-generated code snippet.

I'm not really following the use case and what the expected outcome is, would you be able to provide some images or a short recording, please?

[2021-11-19 17:23] atepe commented on #10327
I use JSON attachments and have the same need to use a value from the response as a value in my next request in a JSON attachment.

[2021-11-19 17:53] NandoZee commented on #6565
Restoring collections is a feature, how is this not?

[2021-11-19 19:59] leonardocartaxo commented on #1744
+1

[2021-11-19 22:48] postman-support commented on #10434
Hey @Bradydean,

Thanks for providing all of those details. Can you try using the audience in the AuthURL as a query parameter when using the PKCE Grant type? It looks like with this grant type, in Auth0, expects audience in AuthURL.

I'm circling back with our team internally on this as well. Hope this gives you a workaround for the time being.

via @nrmartell | Postman Support

[2021-11-19 23:35] oscarguinane commented on #5052
Absolutely need this!

[2021-11-19 23:37] oscarguinane commented on #3438
Common guys, let's get this done, it's been nearly 5 years now.

[2021-11-20 02:27] UA55 commented on #8455
Both of my calls are done to HTTPS still I am having the issue

[2021-11-20 05:08] paramothers commented on #2985
Still it is there, in chromeos, chrome browser only.
Brave browser doesnot have this cursor problem

[2021-11-20 09:22] dh-pt opened #10454 "Duplicating collection item will use incorrect dupe info on v9.1.5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

![image](https://user-images.githubusercontent.com/74234607/142721071-60dc8268-8a0f-426f-b14b-cc64bc4e4e99.png)

Every time I duplicate a collection element, the name is correct but anything inside is wrong, showing a 3rd-party element instead. See attached screencast.

I tried closing and

[2021-11-20 09:27] dh-pt commented on #10454
To add: Copy+Paste _also_ reproduces this bug - not just dupe.

[2021-11-20 09:28] DannyDainton commented on #10454
It's not visible from the gif but could you also show the tabs, please?

If you have unsaved changes, it's going to duplicate the saved collection with those changes.

[2021-11-20 15:38] gigantedocil commented on #4567
I am currently facing this issue right now. Some sort of solution would be nice to have.

[2021-11-20 19:34] cleytoncoro opened #10455 "Unable to access app when second monitor is removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman saves its last window position to reopen in that position later.

But if my last window position was my second monitor, and I remove this monitor, next time I open Postman, the window opens in last position, and my mouse can't move it back to my first screen.

**Workaround to solve

[2021-11-21 08:17] parima001rs opened #10456 "CAN'T MAKE POST REQUEST"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I make a post request, it's loading and loading and not showing any result.
I'm using version 9.1.5.

I tried using Postman build online using Postman Agent. It's not working.

### Steps To Reproduce

1. Open Postman application
2. Make a post request

### Screenshots or Videos

![Scre

[2021-11-21 08:22] DannyDainton commented on #10456
Hey @parima001rs

Are you able to make a POST request to `https://postman-echo.com/post`

[2021-11-21 09:00] #10456 closed, assigned to nobody

[2021-11-21 16:02] sombriks commented on #10449
indeed looks like an issue on snap itself not postman: https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bug/1864365

[2021-11-22 01:22] disouzam commented on #1180
Awesome idea! Saved my weekend!

[2021-11-22 02:17] yaods opened #10457 "run Collection is normal,but when run minitor,warn "The monitor could not be run." Version 9.1.5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The monitor could not be run.

### Steps To Reproduce

when run a monitor

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

_No response_

[2021-11-22 02:35] dclnet commented on #10446
https://documenter.getpostman.com/view/12123676/UVC9gkYo
My guess is that the domain name cdn.ravenjs.com was blocked by G.F.W

[2021-11-22 02:36] dclnet commented on #10446
https://documenter.getpostman.com/view/12123676/UVC9gkYo
My guess is that the domain name cdn.ravenjs.com was blocked by G.F.W

[2021-11-22 02:39] #10457 closed, assigned to nobody

[2021-11-22 04:57] akshaydeo commented on #10435
Hi @HugoSart, thank you for reaching out to us with this feature. We are working on a few feature sets which should cover this use case. The tentative release time is in Q1 2022.

We will keep you updated with our progress around this feature :).

[2021-11-22 12:21] hlmd opened #10458 "Want to change the installation path during the installation process"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Want to change the installation path during the installation process.
Because we are using a Windows computer, the system disk may not have enough memory, or classify applications like obsessive-compulsive disorder.

### Describe

[2021-11-22 12:38] SammyWhamy commented on #9614
This is still not implemented? Very annoying to constantly have 3 to 5 examples clutter your sidebar for each request you click, and indeed, should be a very easy fix to implement!

[2021-11-22 13:18] insomniac12 commented on #10421
@br-tyler-milner Thanks for sharing the details. Would it be possible to invite us(shivangi.bajpai@postman.com) to a demo workspace with this API?

[2021-11-22 14:15] m3dbedb commented on #9072
The issue has uppeared in postman 9.1.5 for windows 10 64
![Снимокгит](https://user-images.githubusercontent.com/25632818/142876767-75838fc0-f858-49cd-ba5e-cea9b4517f89.JPG)

[2021-11-22 17:24] ghost opened #10459 "Postman has a terrible UI: discuss"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

This isn't really a feature request, but it's not really a bug either.

When Postman "did less stuff", it was much easier to navigate and understand. But it's now not just an API-driving tool, it does a whole load of other things

[2021-11-22 17:50] br-tyler-milner commented on #10421
@insomniac12 Changelog is working now for this workspace. Closing issue...

[2021-11-22 17:50] #10421 closed, assigned to 5thdimensional

[2021-11-22 20:29] bradydean commented on #10434
@postman-support This is working for now.

[2021-11-23 05:00] pietercvdm commented on #3897
Having issues using it in our organisation since our company has implemented the Australian Government recommendations:
"""
The execution of executables, software libraries, scripts, installers, compiled HTML, HTML applications and control panel applets is prevented on workstations from within standard user profiles and temporary folders used by the operating system, web browsers and email clients

[2021-11-23 06:33] shashankawasthi88 commented on #10380
For the sake of a wider audience, we are planning to ease the Integration configuration by abstracting out the common configurations such as authentication info, etc. This would help the users in two ways: -

- All the integrations created in the team extend the common configuration automatically - hence any user can go about creating new Integrations without being dependent on the admins to provi

[2021-11-23 06:38] twitharshil commented on #9346
@idevchandra Could you file it as a separate issue that you are facing?

[2021-11-23 06:51] twitharshil commented on #9346
Hey Everyone,

M1 builds for the postman application are now available for direct downloads via postman website download [page](https://www.postman.com/downloads/).

[2021-11-23 06:51] #9346 closed, assigned to numaanashraf

[2021-11-23 07:09] idevchandra opened #10460 "Apple M1 Chip builds are not working - Dropdown Menus, buttons, sidebars are not actionable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Most of the sidebar items, dropdown menus, API Request items in Collections, are not actionable.

### Steps To Reproduce

1. Download M1 (arm64) app, v9.1.5 from Postman website or https://dl.pstmn.io/download/version/9.1.5/osx_arm64
2. Extract `.app` from downloaded `.zip` file.
3. Move i

[2021-11-23 07:42] seyoatda commented on #3653
3 years passed, still can't find any UI font settings. The UI is ugly. I should admit that the abilities of Postman is good enough, but many user couldn't bear the ugly UI. Is adding some UI customization settings so hard? I don't think you care about the user experience.

[2021-11-23 07:53] sandruse1 commented on #8455
add this headers
![image](https://user-images.githubusercontent.com/26690517/142987692-5dbdd099-6c24-46fb-89ce-8e5d0ff35839.png)

[2021-11-23 10:44] mistermmx commented on #1066
Please, Postman Team, this is a practically essential feature. It is impossible to manage a large workspace with multiple team members if everything needs to be done one-by-one.

[2021-11-23 11:06] #10337 closed, assigned to Diuda, postman-staff

[2021-11-23 14:29] kpuscas commented on #9346
Hi Harshil,

Just downloaded the new build and still seeing the same issue.

On Tue, Nov 23, 2021 at 1:51 AM Harshil jain ***@***.***>
wrote:

[2021-11-23 15:10] ivaylopivanov opened #10461 "Add websocket message to folder / collection / sort / filter"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Now that we can save websocket message the list of messages is getting messy and hard to navigate.

### Describe the solution you'd like

A possible solution would be one of the following (or all of them)

- add the saved message

[2021-11-23 15:44] mamantoha commented on #9746
It's starts under native Wayland with `/opt/Postman/Postman --enable-features=UseOzonePlatform --ozone-platform=wayland`
But fails "Segmentation fault" when the cursor moves to the window.

[2021-11-23 16:12] Olegt0rr commented on #9346
@kpuscas,
<img width="557" alt="Screenshot 2021-11-23 at 19 10 49" src="https://user-images.githubusercontent.com/25399456/143061237-525d0f3b-f12e-4f13-a0aa-2eaaf8465231.png">

<img width="412" alt="Screenshot 2021-11-23 at 19 11 29" src="https://user-images.githubusercontent.com/25399456/143061252-0feaf7f2-fe46-4328-a296-26a49f463ad9.png">

[2021-11-23 16:47] kpuscas commented on #9346
It's the M1 version.
[image: image.png]

Running on Montery
[image: image.png]

Now one of my developers is running it just fine on a M1 MBP 13in under Big
Sur if that helps.

On Tue, Nov 23, 2021 at 11:12 AM Oleg A. ***@***.***> wrote:

[2021-11-23 16:49] fishcharlie commented on #9346
@twitharshil Getting an error when trying to open that page.

![image](https://user-images.githubusercontent.com/860375/143067814-9c124df8-fb9f-4b79-9e35-82fd88097ca2.jpeg)

[2021-11-23 20:26] DrewZuk commented on #9481
It's insane to me that this is STILL an issue.  Like... what are ya'll even doing?

[2021-11-23 20:28] lucasvieceli commented on #9481
I had the same problem, I installed it again today, and it's working normally @DrewZuk

[2021-11-23 20:48] stdunbar commented on #8747
v9.2.0 on Ubuntu with or without the NODE_OPTIONS setting is currently breaking the same way.  For this example Postman is unusable and there is nothing output from Postman to indicate which header Postman considers invalid.

[2021-11-23 22:58] dmaltsiniotis commented on #9488
It very much is.

I wouldn't even mind if it showed up after every update/install, but stayed dismissed after that. It _feels_ disingenuous, like an intentional push toward a paid subscription under the guise of "You need an account to continue exploring Postman", even if that's not the intent.

[2021-11-23 23:01] dmaltsiniotis commented on #9782
This is related to #9488, referencing here for whoever runs triage.

[2021-11-24 00:03] milosloub commented on #8231
Same issue here. In my case I need to set response_type=token id_token. This feature would be super cool.

[2021-11-24 01:56] andrewchen5678 commented on #5816
just came across this issue when trying to run postman on raspberry pi

[2021-11-24 01:59] fuyuanyua commented on #8075
一年多过去了，竟然还没有支持跟随系统切换主题

[2021-11-24 02:03] mattpangaro commented on #2849
We use client certificates for authentication and authorization, so a given cert is only able to make some calls on a given URL, and a different cert will have other calls it can make. We can't do this at all with Postman, other than deleting and re-adding between requests. Really would like to be able to associate them with collections/requests. Editing them in the store would be a plus.

[2021-11-24 02:12] nthexwn commented on #9266
You can loosely approximate this behavior by creating a separate environment for each folder.  Unfortunately you still have to manually switch between them whenever you make calls from a different folder since they won't let us automatically switch environments in pre-request scripts either.

What you _can_ do is use a single global environment and then explicitly set different values for all of t

[2021-11-24 05:06] supermnemonic commented on #8195
yes. i need it. it was troublesome to second think why my tab is conflicting. 😅

[2021-11-24 05:42] dh-pt commented on #5222
...how is it possible that you can't yet sort collections in almost 2022?

[2021-11-24 09:20] hkarjala commented on #10452
Same thing ongoing with v9.2.0. And this morning seems to be completely impossible for us (several different users) to create new forks from our master collection.

From Postman app logs I'm getting following:
[34276][1637745035527][requester][info]["RealtimeSyncMessageService~publishRealtimeIncomingMessage: Message received collection:subscribe Timeline in message: user:6400538"]
[34276][16377450

[2021-11-24 10:43] PeterMue commented on #7676
I'm facing basically the same problem: our corporate proxy only supports kerberos or ntlm. Since this is a general problem for many applications we have a second proxy dedicated to our developers that is only accessible from theirs vlan and "authenticates" by ip. So thats our common workaround for ntlm proxy issues but, even this workaround is not that much fun with Postman:

from my understanding

[2021-11-24 10:45] ramazanmamedov commented on #8195
+1

[2021-11-24 12:37] kultom86 commented on #10017
Yes, please do add this. Looks so much nicer in emails to be able ot link to
f. ex. ` https://ourAPIdoc.com/folder#endpoint `
than `https://ourAPIdoc.com/view/17348697/UV5dduEJ#228ee267-4eae-4d90-8862-4f95481c2f3e`

[2021-11-24 12:53] twitharshil commented on #10460
@idevchandra Thanks for reporting the issue !!
Could you share the application logs with us at `help@postman.com` by following the steps mentioned in https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs
This will help us triage the issue further. Do mention the GitHub issue number in the subject

[2021-11-24 14:35] kvernon commented on #10447
GM @DannyDainton , I've got these screen caps, so hopefully it helps.

![Screen Shot 2021-11-24 at 8 26 22 AM](https://user-images.githubusercontent.com/5265688/143257451-0c484319-8403-4d01-8701-47ebf9638146.png)
shows collection

![Screen Shot 2021-11-24 at 8 25 31 AM](https://user-images.githubusercontent.com/5265688/143257490-924a1f15-feb5-4eb5-a693-7f86db6ae257.png)
environment

![Screen Shot

[2021-11-24 16:26] tpenne opened #10462 "Missing previous Certigna certification chain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello everyone,
I have two different urls signed by two different Certigna certification chains : one by the "previous" chain (available [here](https://www.certigna.com/autorites-de-certification/)) with intermediate valid until end of 2025 and root valid until mid 2027 and the other one si

[2021-11-24 16:35] abbasidaniyal commented on #10428
Facing this issue on postman v9.2.0

[2021-11-24 17:14] akshaydeo commented on #10411
Hello @apozeus, thanks for reporting this issue. We are looking into it 👍

[2021-11-24 17:59] NiklasBr commented on #8101
@harryi3t will this be fixed soon? It still happens in 9.1.5

[2021-11-25 01:13] matthew-jones-uk commented on #9746
I can confirm that I experience similar behaviour.

[2021-11-25 02:10] jeffski opened #10463 "WYSIWYG/Markdown editor strips HTML comments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The new WYSIWG editor strips HTML comments from the documentation description.

We added custom metadata inside HTML comments in our descriptions when Markdown was the only available editor. This was used by another application that imported the Postman Collection.

The previous version we

[2021-11-25 02:56] jeffski commented on #10463
It seems that the comments are being saved - if I export the collection then the comments are there.

The editor must not be rendering/displaying them however when I return to the editor. So, when you click save the description is saved without the comments.

It appears the main issue is that the comments are not being displayed when loaded, they are actually in the data store.

[2021-11-25 03:51] idevchandra commented on #10460
Sent email to `help@postman.com`

[2021-11-25 07:03] idevchandra commented on #10460
Sent Loom recording to Postman support team.

[2021-11-25 07:16] Raja-Simha commented on #10463
@jeffski thanks for bringing this to our notice. The new Postman editor does not have complete support for html tags as shown by the warning message

![image](https://user-images.githubusercontent.com/45988836/143396399-694442d5-277c-445c-a152-686ad6d429cc.png)

and explained in our [onboarding guide](https://cooper.postman-beta.co/workspace/Documentation-x-WYSIWYG~fa134431-cc73-467b-8cf8-685abdfe

[2021-11-25 08:25] jeffski commented on #10463
Hi, thanks for the quick response. In my screenshot above you can see I am using the `Classic Markdown editor`. That seems to be where the issue is. When I return to the markdown editor after saving the HTML comment then it has disappeared.

[2021-11-25 08:37] yarcowong commented on #3186
Hello, just want to know does postman support to choose different socket.io client version?
For I get
`Error: It seems you are trying to reach a Socket.IO server in v2.x with a v3.x client. Switch the client version from request settings.`
This error~

[2021-11-25 08:45] codenirvana commented on #3186
@yarcowong Thanks for the feedback.

We'll improve the error message and possibly add a CTA to auto-switch the version and reconnect.

[2021-11-25 09:09] fionnachan commented on #9487
Had the same problem. I signed up using my Google account. Can't even change password because I didn't have a password to begin with so I had to delete the account and create a new one from scratch (not using Google account). Now the websocket connection on the desktop app works again.

Btw after deleting the account, the public name doesn't completely go away with it so when I created a new accou

[2021-11-25 13:58] CumpsD commented on #8179
Yes please! +1

[2021-11-25 15:35] Uugsx commented on #10179
hi, have you news?

[2021-11-25 16:38] simon-4c commented on #10459
Just to add: for the first time, I had conflicts on a merge for a fork and I just sat and cry-laughed because that interface is literally IMPOSSIBLE to use on a collection with more than 2 or 3 endpoints. I mean, really, it's just chaos.

[2021-11-25 17:30] folprates commented on #2240
Hi Guys,

Any update on this?

Thanks,
Fernando

[2021-11-25 18:13] yerome27 commented on #3706
+1

In my case Postman monitor is useless without this feature...
Well since this feature request is from 31 Oct 2017 i afraid it wont get released soon

[2021-11-25 18:48] mamantoha commented on #9746
@matthew-jones-uk  as far as I understand, the latest stable build is still on 11.1.1, thus it doesn't have the Ozone code path properly enabled.

![image](https://user-images.githubusercontent.com/61285/143489702-7c7bec18-3f8c-4044-95dd-73e7a32d2b13.png)

We need to wait while developers update it to  Electron 12.

[2021-11-26 03:00] Yilin-Ma commented on #5606
Any update in 2021?

[2021-11-26 03:03] Yilin-Ma commented on #5606
Still having this issue in newman 5.2.1

[2021-11-26 07:16] vickrammark commented on #8335
Nice

[2021-11-26 08:14] savage-alex commented on #2452
I would like to see this feature too. Being able to store the output of the auth event would then allow us to use request scripts to handle the rest. I cant get the refresh token out (or inject one from something else easily other than copy paste) Once its there then everythings good.

[2021-11-26 09:33] JohnT1 commented on #2761
+1

[2021-11-26 10:00] perbu commented on #7373
For those who haven't found it - it is possible to load your own copy of handlebars which isn't restricted.

https://community.postman.com/t/using-external-libraries-in-postman-and-there-by-using-custom-handlebar-helpers-in-postman-visualization/24490

[2021-11-26 10:36] lzandman commented on #8038
I've switched to using Insomnia years ago, due to Postman's issues when using NTLM. It doesn't seem to be a real priority for them.

[2021-11-26 12:42] jwfx commented on #2450
Another year has passed without any improvement in this area. This application is amazing feature-wise, but the UI in its current state is really eye-cancer inducing. Switching to dark mode is also not an option if you are not a regular user of dark mode, that said, it also suffers from the same low-contrast, small font problem that the regular theme does.

Could 2022 please be the year where eye-

[2021-11-26 12:44] PFaz540 opened #10464 "Issue Using Env Vars Inside Another Env Vars in Postman"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

If I'm using an env variable inside another env variable, Postman doesn't always see the inherited env var.
You can see this via console.log

![image](https://user-images.githubusercontent.com/44571878/143567170-7f833c43-be02-4a47-a911-fbf5d9565825.png)

`console.log(pm.environment.get("uk_

[2021-11-26 13:27] DannyDainton commented on #10464
Hey @PFaz540

As that's just the `string` value saved in the value field, you would need to wrap it in `.replaceIn()` to resolve the variables

[code]

An example with your URL syntax:

![image](https://user-images.githubusercontent.com/17089546/143587977-d5c25696-3104-40ee-b97d-989ea035c11d.png)

[2021-11-26 13:45] PFaz540 commented on #10464
Awesome. That deals with my problem 👍🏻
Cheers @DannyDainton
This ticket can be closed now

[2021-11-26 13:45] #10464 closed, assigned to nobody

[2021-11-26 17:19] ahmetcetin opened #10465 "installing themes in macOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I've purchased Contempt themes, in email and in the readme in the package, it says:

[code]

Problem is, there is no Import button in preferences in Mac. Can you suggest how can I import the themes in Mac?

### Steps To Reproduce

open preferences in Mac version

### Screenshots or Videos

[2021-11-26 17:21] DannyDainton commented on #10465
Hey @ahmetcetin

Are you sure it means Postman? In the instruction steps, it mentions `Postbox`.

[2021-11-26 17:27] vromaniello opened #10466 "Import SOAP wsdl missing authentication header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Importing a file does not insert the soap header authentication ut only soad envelope and body.

The body should contain also the soap header about authentication or not?
If yes the correct body should be the following:

[code]

If not how can I set the header authentication easily for all

[2021-11-26 17:30] #9334 closed, assigned to nobody

[2021-11-26 19:48] Esrarahman opened #10467 "New Integration Request - Salesforce"
### Describe your current workflow

Salesforce

### Describe your ideal workflow

Goal:  To be able to provide secure access of Salesforce data to another system.

Data to access:  Lets use the Contact object (Last Name field only to ensure we aren’t exposing any private information).

So, lets do it this way:  Your endpoint should take in a single character ‘A’ for example, and should return all

[2021-11-27 02:47] tkuenster commented on #9346
I upgraded my laptop to a new mb pro arm with 64gb mem - I'm seeing a strange issue - no resources will open. I can see requests, etc in the left panel, but "new" anything or trying to open an existing resource doesn't do anything. Nothing in the logs either. Just curious if anyone has any suggestions to mitigate.
<img width="508" alt="image" src="https://user-images.githubusercontent.com/19959144

[2021-11-27 05:50] Ahmed7fathi commented on #4687
actually, I stopped using postman because of this

[2021-11-27 18:33] deemeetree commented on #10347
+1 feature really needed

[2021-11-27 18:37] deemeetree commented on #3117
@govindrai Not a good reason. As you can see from the issue linked to by @br-tyler-milner Postman does not display schema details in rendered API documentation. So, eventually, one has to use a different tool like swagger or StopLight.Io.

[2021-11-27 18:45] muzafarali commented on #5326
+1

[2021-11-29 01:44] yarcowong commented on #3186
@codenirvana And also any document on using it?
I know how to use raw websocket, but don't know how to use socket.io in postman (and cannot find the document anywhere). I mean for example:
![image](https://user-images.githubusercontent.com/86391690/143795921-836f6d2a-e6c0-4c2d-b841-ca9a314035d8.png)
This is what I send in chrome.
I don't know which one is right when using postman:
![image](https:/

[2021-11-29 03:00] routters opened #10468 "Broken zip in MacOs package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The MacOS application for version 9.1.5 does not run properly when expanded from the downloadable ZIP archive.

### Steps To Reproduce

1. Download the file https://dl.pstmn.io/download/version/9.1.5/osx64
2. Unzip the ZIP archive by double-clicking the icon and running the MacOS Archive Ut

[2021-11-29 04:25] JaishreeK commented on #8038
our organisation has also moved to using Insomnia. but I personally liked the postman interface. but looks like I can't use until this is fixed.

[2021-11-29 06:37] Lincimary opened #10469 "Support import from talend collection format to postman collection."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Talend is an API cloud service: [Talend Cloud API Services](https://www.talend.com/products/application-integration/cloud-api-services/) — High-quality API Design and Testing.

Postman has support for importing DHC version 3. But

[2021-11-29 06:38] codykhon commented on #6926
+1 vote

[2021-11-29 09:18] TipsyJay commented on #9561
Any update on this issue?

[2021-11-29 09:22] andreaturli commented on #8195
+1

[2021-11-29 10:24] Kadenias commented on #6134
Came here looking for that feature too. +1

[2021-11-29 10:40] viktor111 commented on #9776
@postman-support
Same issue. Tried reinstalling the app nothing. Tried web version does not work too.

[2021-11-29 10:42] arlemi commented on #9776
@viktor111 We are currently experiencing some downtime, Engineering team is working quickly to get everything back up and running. We will keep you posted as soon as we have the systems running as expected!

[2021-11-29 10:55] DeaGame commented on #6134
I found a temporary solution:

 Select Tests here
![image](https://user-images.githubusercontent.com/53141295/143855454-3cfd765c-55e8-4d83-81a9-0102ac1911f4.png)

At the very end click/show console
![image](https://user-images.githubusercontent.com/53141295/143855560-1e3cfcf4-e977-4729-8de9-d3a9f498ae15.png)

And there you go, you have your js result.

[2021-11-29 11:04] stefanseeger commented on #8195
+100

[2021-11-29 12:25] arlemi commented on #9776
@viktor111 Everything should be back to normal now.

[2021-11-29 15:02] kvernon commented on #10447
GM again @DannyDainton ,
I just wanted to take the time to add the reference to what I was thinking of for code gens.

There is a reference here: https://learning.postman.com/docs/developer/code-generators/, which ultimately shows: `postman-code-generators` being an npm library.

When looking at the pre-scripts, it says that the `postman-collection` is something that can be `tapped` into, however,

[2021-11-29 16:21] DannyDainton commented on #10447
Hey @kvernon,

Just catching up on the tread.

The code snippet generator creates a request, in a particular programming language based on the main components of the request (URL, Query params, headers, request body, etc). It doesn't handle any logic placed in the pre-request or tests sandbox. The code that can be added within there is a mixture of vanilla Javascript along with Postman `pm.*` API

[2021-11-29 16:37] DannyDainton commented on #10465
@ahmetcetin I'm going to close this issue as I don't think it's Postman that you were looking for here.

If that's not the case we can reopen the issue and take it forward if you're able to provide some more information.

[2021-11-29 16:37] #10465 closed, assigned to nobody

[2021-11-29 16:38] gen1321 commented on #8929
+1

[2021-11-29 16:44] kvernon commented on #10447
-- @DannyDainton

Thanks for reading through this. The end result is: not really, unfortunately.

We share the cURL via Slack or Teams to quickly troubleshoot. While casually reviewing things, it could work, when teams are trying to rapidly review something, it's slow and problematic to have team mates upper level to dev to work through it by telling them to find the team; select the environment.

[2021-11-29 18:54] damikun commented on #6719
I think they are really not looking on market. They can become GraphQL IDE.... I[ wrote short explain ](https://dev.to/damikun/why-graphql-ides-on-the-market-are-not-what-you-want-5179) why there is currently no good GraphQL IDE on market and postman can be that just I have feel they don care so it can be good if they looks on possibility they have..

[2021-11-29 18:55] abhijitkane commented on #10444
@konnor-willison-deepsee Can you send the redacted OpenAPI definition, and the version ID to help@postman.com? That'll help us isolate and fix this issue faster. The version ID can be found on the right sidebar:

<img width="1369" alt="Screenshot 2021-11-29 at 10 53 19 AM" src="https://user-images.githubusercontent.com/681190/143925953-688809f4-325e-40cd-9d49-25107e46bf6e.png">.

[2021-11-29 19:24] konnor-willison-deepsee commented on #10444
I just attempted this again and it's generating the code now. I'm on postman v 9.1.5 now which might be why it is now working? @abhijitkane do you still want that information?

[2021-11-29 19:26] kvernon commented on #10447
@DannyDainton I do appreciate that, and I will share it the next.  However, the cURL allows this to be open to all. Devs can still contribute, but for people who don't have the access, they can use the curl in their terminal and run requests immediately.

Even if they had Postman (w/o a business account), they could import the generated cURL and run it that way, which is also something commonly do

[2021-11-29 19:51] abhijitkane commented on #10444
@konnor-willison-deepsee Yep - it should be helpful. It was probably a temporary issue of some kind, but I'd like to be sure. Glad to hear the code generation flow is working now, though.

[2021-11-29 19:59] castillojuan1000 commented on #6899
The issue still persist in version 9.2.0

[2021-11-29 20:38] castillojuan1000 commented on #6947
I'm having a similar problem to this. The issue still persist in postman version 9.2.0 and in postmanCanary as well

[2021-11-29 20:49] jared-shepherd commented on #6681
+1, this would be very useful

[2021-11-30 00:31] wompeter commented on #7286
bump +1

[2021-11-30 04:05] lukalopusina commented on #3694
+1, It would be really helpful to be able to run each example separatly without need to copy/paste example body into request body to test every case.

[2021-11-30 05:05] twitharshil commented on #9346
We have received a few reports for apple silicon builds not being actionable on M1 pro & M1 max hardware, we are looking into it on this [thread](https://github.com/postmanlabs/postman-app-support/issues/10460)

[2021-11-30 05:21] zidnim5 commented on #10401
same with me on fedora 35 OS, is there a solution ?
![Screenshot from 2021-11-30 12-03-40](https://user-images.githubusercontent.com/46585811/143990057-02e56df9-c221-49a9-9563-6223d2e1f551.png)
?

[2021-11-30 05:53] cyberhck commented on #6719
the worst part? We've been discussing on this topic for a while (this ticket was created on June 2019, so almost 1.5 years ago at the time of this writing), no one from postman actually has been in here and updated on the progress or plans in over a year.

[2021-11-30 06:52] OmgImAlexis commented on #6719
@DannyDainton since you're the main person commiting lately can you please either give us an answer to this or get us in touch with someone who can? This is getting a bit annoying now. The team from postmanlabs could aleast give us the respect as fellow developers to answer this with some kind of answer. Just leaving us waiting like this is just rude.

[2021-11-30 06:53] postman-support commented on #10412
Hi @joshjo,

Just letting you know that I'm going ahead and closing this conversation in the absence of required information. If you still need help, just respond, otherwise, please feel free to reach out again later!

Have a great day!

via @ash007-postman | Postman Support

[2021-11-30 06:54] #10412 closed, assigned to postman-staff

[2021-11-30 07:38] twitharshil commented on #10460
@idevchandra Thanks for sharing the logs & screen recording with the team. We are suspecting that there is something wrong happening with the application builds on the newer apple hardware machines (M1 pro & M1 max).
Would like to collect some more information that can help us understand the issue better
1.  Could you try downloading the [Intel builds](https://dl.pstmn.io/download/latest/osx_64) f

[2021-11-30 07:40] idevchandra commented on #10460
Because of Electron, Node and postman are not working, I returned my M1 device. Can't collect the logs. :/

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Harshil jain ***@***.***>
Sent: Monday, November 29, 2021 11:39:00 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: idevchandra ***@***.***>; Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-su

[2021-11-30 08:18] jviotti commented on #10460
@idevchandra So no arm64 Electron.js app worked for you? Node.js didn't run either?

[2021-11-30 10:52] carlmaritz opened #10470 "When duplicating request, open duplicate not original"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When duplicating a request, a tab opens for the original request. This often causes one to edit the request thinking it's the new file resulting in lost information.

### Describe the solution you'd like

When duplicating a reque

[2021-11-30 11:01] andry0092 opened #10471 "Problem whit get request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi , i'm trying to call a local API , a simple HTTP GET like this : http://localhost:9000/api/spool , on chrome it works :

![Schermata da 2021-11-30 11-34-23](https://user-images.githubusercontent.com/85300482/144031654-8a4245b3-2327-41ba-a850-8d960b4fa931.png)

But if i try it on Postman

[2021-11-30 11:26] JohanOhlin commented on #9712
At my work, we have several products, running in several environments (local, dev, qa, sandbox and prod) and different testing scenarios for each environment. Due to this, I currently need a long list of environments to swap between. Whenever I make changes to requests in my collections with new environment variables, I also need to go through all my environments to update accordingly, and that ne

[2021-11-30 11:59] m3dbedb commented on #9345
I have the same issue with postman 9.2.0 (win 64) under windows 10, with 1.2 gb free ram (i5 laptop)

[2021-11-30 12:22] m3dbedb commented on #9950
In Postman 9.2.0 (win64) backspace/delete hardware buttons sometimes does not work, typyng text works.

[2021-11-30 14:27] AlekseyMko commented on #8195
+69

[2021-11-30 14:32] Maxximus007 commented on #8195
Must have autosave, or Postman is ngmi..

[2021-11-30 15:00] alexhass commented on #3019
I was just ask to install this software. But a software that has no MSI machine installer cannot installed/deployed. Software that gets installed to local app data will be deleted when the user logs off as roaming profile is whiped from disk.

[2021-11-30 15:01] alexhass commented on #3897
Software that gets installed to local app data will be deleted when the user logs off as roaming profile is whiped from disk.

How many years do you need to fix such a critical bugs in your software?

[2021-11-30 16:24] MacKinley commented on #3694
Any workflow decisions would be great too! Mostly whether the Postman team wants to implement the "Send" button on the examples or implement a "Copy onto current tab" feature. That way the community could potentially work on it.

[2021-11-30 17:18] nstaab1 commented on #3154
I have looked around and have been unable to find this. What is the Mac kyeboard shortcut to enable this?

[2021-11-30 17:50] DannyDainton commented on #10470
Hey @carlmaritz

Duplicating the request is done via the requests context menu, on the sidebar. This makes a copy of the request.

![image](https://user-images.githubusercontent.com/17089546/144100157-30b51b77-7fba-43fc-9561-88d6d6b9a430.png)

Right-clicking the tab and selecting `Duplicate Tab` doesn't create a _copy_ of the request.

https://learning.postman.com/docs/getting-started/navigating-p

[2021-11-30 19:09] carlmaritz commented on #10470
Hey @DannyDainton, this is true but my issue is with the next part as the request which you duplicate opens in a new tab instead of the newly created copy. As I have some more time I can detail this below:

First step: Duplicate a request.
![Initial Action: Duplicate a Request](https://user-images.githubusercontent.com/78422028/144111092-2002bfc2-e1a1-46b9-80f0-612804335b2f.png)

Current outcome:

[2021-11-30 20:49] maraby777 commented on #8929
+1

[2021-11-30 21:08] idevchandra commented on #10460
Electron.js apps like VS Code, Insomnia, WhatsApp, Figma, Teams worked.

Microsoft Teams, Postman were not working.

Node.js was working. But I had issues with other brew modules. Also, nvm was erroring out.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Juan Cruz Viotti ***@***.***>
Sent: Tuesday, November 30, 2021 12:19:07 AM
To: postmanlabs/postman-app-suppor

[2021-11-30 21:45] postman-support commented on #10471
Hi there,

Thank you for opening this query. I'm happy to help!

I'm sorry you are running into this issue when trying a GET request.

Since this issue is not present when you run the request on the Postman Web App. There seems to be something going on in your Desktop app.

To be able to further troubleshoot I will need more information about your device. For your privacy and security, would you m

[2021-12-01 09:49] arlemi commented on #6722
@AlissonRS Can you please open a new ticket to raise that issue? If the schema is smaller than 5MB you should be able to update the collection. If you're able to provide the schema it would also be super helpful!

@mklueh If you have the API definitions, why are you not using them to generate the collections, and then update them as the API definitions evolve? I'm not sure if I understand your use

[2021-12-01 09:53] mklueh commented on #6722
@arlemi I'd love to do that, but I don't see any option to update an existing collection based on a new OpenAPI definition in Postman. Maybe I'm just overseeing it?
I was asking for a kind of workaround based on my assumption, that there isn't such an option.

[2021-12-01 10:11] DannyDainton commented on #10470
Hey @carlmaritz

The images and the flow you described made me understand the issue more - I wrongly assumed it was and duplicate tab vs a duplicate request.

I think this is more of a bug than a feature request, if you were to do the same duplicate action for the Collection, an environment or an example these would open the copy version of the entity and not the original.

The originals seem to o

[2021-12-01 10:38] sud8079 opened #10472 "Postman desktop app doesn't update the response in Pretty tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman desktop app doesn't update the response in Pretty tab. No matter how many times you click.
In raw tab it works fine.

### Steps To Reproduce

1. fire 1 get request in postman and in response select the Pretty tab.
2. fire next request response is not updated.

### Screenshots or Vid

[2021-12-01 10:39] sud8079 commented on #10472
This is very old issue and I have seen multiple forums people facing this issue. Please fix this.
Thanks!!

[2021-12-01 10:44] DannyDainton commented on #10472
Hey @sud8079

From the image, I can see that the response looks like just plain text and not really something that could be prettified (JSON/XML)

Have you tried a different endpoint or maybe using `https://httpbin.org/anything` to see how the response should be displayed in that section?

[2021-12-01 10:58] sud8079 commented on #10472
Hi,

Yes this is only a plain response but still it should update the content. I
tried also with the *http://httpbin.org/anything
<http://httpbin.org/anything>* url and observed the behavior is same.
There is some random char in the response's headers section that doesn't
change in the Pretty tab. If you switch to another tab it works fine.

This in response: "X-Amzn-Trace-Id":
"Root=1-61a7541f-26

[2021-12-01 10:58] azhuang321 commented on #5194
Any progress ?

[2021-12-01 11:07] DannyDainton commented on #10472
I'm not sure what you mean, what should the plain text response be updated too?

change in the Pretty tab

I'm also not sure what you mean by these either.

Can you please provide a short recording of the behaviour that you're seeing, it's a little difficult to know what's happening in the UI on your side, without some visual examples.

[2021-12-01 11:49] shashankawasthi88 commented on #10467
@Esrarahman Postman Integrations are meant to solve workflows where Postman interacts with other software for API development and maintenance. The problem statement is out of that context. I'll go ahead and close this, feel free to reopen if you feel otherwise, giving more context.

[2021-12-01 11:49] #10467 closed, assigned to abhijitkane

[2021-12-01 14:26] gianpaj commented on #8517
In my case, I had a variable e.g `{{STAGING}}` and the value was `domain.com` – **without** a protocol.
Because of this, the request was stuck.

Adding `https://` fixed this for me

[2021-12-01 18:17] arlemi commented on #6722
@mklueh As long as the collection has originally been generated from that spec (and that they are linked) you should be able to do it. Have a look at the documentation here: https://learning.postman.com/docs/designing-and-developing-your-api/validating-elements-against-schema/#validating-elements

[2021-12-01 20:36] kannankeril-watchguard opened #10473 "Disable update prompt at startup"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I get prompted at startup to update. I see no option to disable this.

### Describe the solution you'd like

I would just like to use Postman without being nagged into installing every minor update. Please provide an option to di

[2021-12-01 23:57] pboldyrev-vizio commented on #8195
+1, it's rough out here.

[2021-12-02 01:00] Marclev78 commented on #8195
Come on Postman team, this has to be the most requested feature in the history of Postman and it's been open since early 2000.

Could someone at least comment to let us know that it's on the roadmap or whatever?

[2021-12-02 01:46] theelous3 commented on #8195
There is apparently an assignee, @giridharvc7 who is a pm with postman.

Got anything for us?

[2021-12-02 01:57] CLannadZSY commented on #6999
2021/12/02, still exists!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
why??????????????????????????????????????????????????????????????

[2021-12-02 03:30] dung-ngotien commented on #1066
+1 needed

[2021-12-02 06:29] Baril27 commented on #10460
I had the same issue with 9.2.0 on an Apple M1 Pro but is working now on 9.3.0.

[2021-12-02 08:00] mklueh commented on #6722
@arlemi thanks, this brought me one step further towards my goal.
Not sure what you mean with "linked", but I've imported it with the import assistant by pasting my openapi spec URL. When I press validate, it does not pick up the latest spec the API provides through its spec URL, but rather the old one I've used during the import.

The validation works fine if I copy and paste the new definition i

[2021-12-02 08:12] sryze commented on #9939
Still seeing this in 9.3.0

[2021-12-02 09:50] arthurcgusmao commented on #8560
+1 ⬆️ 👍

[2021-12-02 09:56] AJ-BM opened #10474 "Import: Missing example data when importing OpenAPI 3.03"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

We have an auto generated schema generated directly from our codebase using Django Rest Framework with the DRF Spectacular library. When we import it to postman the request bodies dont have the example values in them. Would be nice if they would be populated with the example data of the fir

[2021-12-02 10:00] nikhilpatiltest opened #10475 "Rest API call in Postman gets internal server error but not that rest api works correct in browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

{
    "timestamp": "2021-12-02T09:34:59.824+00:00",
    "status": 500,
    "error": "Internal Server Error",
    "exception": "java.lang.ClassCastException",
    "message": "org.springframework.security.web.authentication.WebAuthenticationDetails cannot be cast to java.util.Map",
    "path"

[2021-12-02 10:22] jonasgroendahl commented on #9877
also looking for this

[2021-12-02 12:33] arlemi commented on #6722
@mklueh Glad you got it working! And it is the expected flow, when you import an API definition it's a one time import and it doesn't keep a reference to the original link. If you'd like to have your API definition synced with your Git repo (Github/Gitlab/Bitbucket) have a look at this: https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/#using-an-external-git-rep

[2021-12-02 13:05] DannyDainton commented on #10475
Hey @emmadavis16

This looks like a response coming from your API's endpoint, this isn't something that Postman is returning.

I'm not sure there is going to be a lot that we can do here.

[2021-12-02 14:13] nphase commented on #2452
Quite amazed this capability doesn't already exist. the "Monitor" feature in Postman is completely crippled without it!

+1 on request to bring to top of roadmap.

[2021-12-02 17:06] nsp opened #10476 "Reopen #5502"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Multiple commenters have requested that issue #5502 be reopened, and there has been no response.

### Describe the solution you'd like

A maintainer to reopen the issue and address it.

### Describe alternatives you've considered

[2021-12-02 17:16] emmadavis16 commented on #10475
Ok sure thanks for the reply..!

[2021-12-02 17:16] #10475 closed, assigned to nobody

[2021-12-02 23:23] mortezaadi commented on #3518
Same issue on Mac Monterey

[2021-12-03 00:53] postman-support commented on #10450
### **@****nkev****- Do let us know if @****DannyDainton** **latest comment was able to get everything sorted for you. The latest release should get you unblocked and have access to Postman again**

via @asi-postman | Postman Support

[2021-12-03 09:23] sips-lewis commented on #8433
I'm also hoping this is in the pipeline!

Manually ordering the requests inside the collection is fine if that collection only has a small group of similar requests.... but it can get a bit messy when you want to split those requests into subfolders (for medium-large collections with sub-context).

A feature that allows you to save runner order makes sense and is the most intuitive! I also think i

[2021-12-03 13:11] berkalparslan commented on #974
+1

need this super easy feature

[2021-12-03 13:12] extragornax commented on #7046
Same issue

[2021-12-03 13:21] vignesh25nithin commented on #1066
+1

[2021-12-03 13:54] iquabius commented on #10463
When I click the pencil icon to edit a block it *opens the WYSIWYG editor by default.*

**How can I disable it?**

I'm having trouble keeping an embeded "Run in Postman" button in the documentation.

I copy & paste the "Markdown friendly" code into a documentation block and save it:

[code]

But when I go back to edit that block the beta editor messes it up and it transforms into this:

[code]

Th

[2021-12-03 17:06] ian-weir commented on #6719
Not to burst the bubble but it was moved back to 'Next' :(

[2021-12-03 18:04] kpuscas commented on #10460
Still having the issue with the latest 9.3.1. I'm not having any issues with Slack or VS Code so not sure if it is an underlying Electron issue. I setup this 14" M1max from a 16" Intel Time Machine back up if that tells you anything helpful.

[2021-12-03 18:23] braveheart55 commented on #5565
Is there any movement on this?  Resoving this item would give more accurate results for the volume of requests were using postman for.  My use case: I would rather not show a failure for trailing white space on an address field, or the use of an abbreviation st. compared to the word street.

Thanks

[2021-12-04 01:36] dadebue commented on #4031
Same problem here. Printing strings to different lines with \n is crashing my visualization...

[2021-12-04 15:23] tracyddd commented on #1066
+1.

[2021-12-04 15:55] Rabadash8820 commented on #3360
@giridharvc7 If you're going to close #10391 as a duplicate of this one, then could you please provide an update here? These early exits during long collection runs are quite frustrating, and this issue is now over 4 years old...

[2021-12-04 18:46] pstringe commented on #1066
Man, I guess I'm out of luck. I accidentally dumped 1000s of requests into my collection from the interceptor. No way I can delete them all manually. I'm going to have to create a new collection, move my folders, and delete the old one.

[2021-12-04 23:35] pwhty commented on #8929
+1

[2021-12-05 03:30] cyberhck commented on #6719
Had moved to insomnia in my last company and current company started with rest, but now that I'm moving them to GraphQL, I've also proposed moving to insomnia, but the issue was we paid for 1 year.

Now that subscription is about to expire, instead of spending such a huge amount of money to postman and not even getting decent GraphQL support and from a team who ignores support issues like this, I'

[2021-12-05 11:40] HoomanDevp commented on #6187
Same problem in Web Application

![Screenshot (3)](https://user-images.githubusercontent.com/67341187/144744931-5366a280-f8d9-44f5-bc11-536b12776b52.png)
n

[2021-12-05 20:27] kgrozdanovski commented on #2030
+1
Broken on Mac

[2021-12-05 21:07] Beat-YT commented on #9284
I have the same issue

[2021-12-06 03:36] ericzhao007 commented on #6984
In version 9.3.1, the problem is not fixed

[2021-12-06 07:54] dschemp opened #10477 "Cannot save documentation on collections or requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman does not save documentation in the documenation tab on requests or collections. When pressing `Save` nothing happens; `Cancel` works as intended, reverting to the old state of the written documentation.

### Steps To Reproduce

1. Create a new collection or request
2. Click on "Docu

[2021-12-06 09:37] ParthivSavani commented on #3668
@govindrai Nice!. How to add this in my existing API collection?

[2021-12-06 11:44] AqeelAT commented on #8560
any updates? @numaanashraf

[2021-12-06 12:31] RaymondMwaura commented on #8747
In my case, saving newly entered environment variables then restarting Postman did the trick. Seems the "Save" feature has a bug.

[2021-12-06 15:14] cooperthompson commented on #2833
I've been able to work around this by deleting the "window" file from C:\Users\%USERNAME%\AppData\Roaming\Postman, then restarting Postman.

[2021-12-06 15:35] pheuberger opened #10478 "Search in text edit and text blocks"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

CTRL/CMD + F when editing text is in my opinion standard behavior and should be supported.

### Describe the solution you'd like

Now that I used the API documentation feature a little bit, I'd like to give a little bit of feedba

[2021-12-06 16:19] noztea commented on #4603
Still have the same problem. Postman is returning a good allow origin, but chrome still return `*`

[2021-12-06 17:53] StrohmyerTR opened #10479 "Global (Workspace) and Environment Level Pre/Post Request Scripts"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There is no _issue_ related to this topic, but it would be nice to be able to run pre-request and post-request ("Test") scripts on the workspace and/or environment-levels.

### Describe the solution you'd like

Mimic existing col

[2021-12-06 19:10] Kostanos commented on #9635
This issue happens to me even in WEB, when I publish the documentation, I can't chose the environment.
The environment added to the API among with the collection.

[2021-12-06 19:11] Kostanos commented on #9635
![image](https://user-images.githubusercontent.com/1136702/144907312-98f29466-2f53-47ad-b39a-f190f93e3c71.png)

[2021-12-07 07:19] fysidm commented on #10477
Same here.

Just updated to 9.3.1, and clicked Save button when editing documentation, but nothing happened...

[2021-12-07 10:49] giridharvc7 commented on #10464
@PFaz540 An alternate approach would be to store `ticket` in a Global Variable or Collection variable (outside your current environment), in case you cannot use pre-request script.

[2021-12-07 12:05] m3dbedb opened #10480 "Postman does no start after installation with "preparation workspaces" message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman versions higher than 8.6.0 (e.g. 8.10.0,  9.3.1) does not start at all. After installation there is a message Please wait for preparation workspaces forever.
The only workout I have found is to get back to 8.6.0.

### Steps To Reproduce

1. Install 9.3.1
2. See error

### Screenshot

[2021-12-07 12:28] Sampath-Lokuge commented on #7294
Postman dashboard --> Help --> Hardware Acceleration

`Removed` that solves Win 10 Pro issue for me. But I do not know why it has been selected by default.

[2021-12-07 16:27] cgontario commented on #9409
This isn't fixed for me on the desktop client as of v9.3.1. Leaving the Client Secret field blank when using Authorization Code (With PKCE) results in the following error in the console:

Error: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.

[2021-12-07 18:12] DannyDainton commented on #10472
@sud8079 Is this still an issue for you?

[2021-12-07 18:17] #10454 closed, assigned to nobody

[2021-12-07 22:27] postman-support commented on #10471
Hello there,

Just letting you know that I'm going ahead and closing this support conversation.

Please reach out to our team directly on: https://www.postman.com/support

To be able to further troubleshoot while protecting your privacy and security.

Have a great day!
Rubi
Technical Support Engineer | Postman

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

[2021-12-07 22:32] boylec opened #10481 "Adding $ref as schema for additionalProperties in components/schemas/* breaks request body validation in generated collections permanently."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I've created an API definition using OpenAPI 3.0.0 YAML.

One of the operations is a PUT request and I've specified a request body by example.

I've generated a test collection (and also a documentation collection) from this OpenAPI spec.

When I add a schema with `additionalProperties` tha

[2021-12-08 02:10] boylec commented on #10481
Update:

I believe the problem is with what I expected to happen with `additionalProperties` definitions.

It appears that when $ref schemas are being used to specify the `additionalProperties` schema, the validation ignores the $ref schema specified.

[2021-12-08 02:24] boylec commented on #10481
Updated repro steps:

1. Create a new API w/ OpenAPI 3.0 YAML definition:
[code]
2. Generate a new Test collection from that API
3. Note the body has a 'productByName' that looks like the following
[code]
* Ideally productsByName here would be a dictionary with some random string keys, and values that adhere to the $ref schema specified in the definition - in this case '#/components/schemas/Produc

[2021-12-08 03:46] jaredchu commented on #8195
It seems Postman wants to make this a premium feature...

[2021-12-08 03:47] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2021-12-08 10:16] Raj-postman commented on #10477
@dschemp @fysidm Just tried to replicate this from my end but wasn't able to get the error. [Screen-record for reference here.](https://www.loom.com/share/ed230e6b41d3423ba639e6739bdea2c2).

Can you check the recording and let us know if there is any step we are missing that leads to this issue?

[2021-12-08 10:36] dschemp commented on #10477
@Raj-postman As far as I could see you did everything right. I have [recorded the issue](https://ttm.sh/eoY.mp4) aswell to show you how it looks

[2021-12-08 12:33] postman-support commented on #10480
Hello @m3dbedb,
Sorry to see you're facing difficulties with starting the latest version of Postman.

Would you be able to try clearing your installation's local cache and try to install the latest version after that to see if that helps?

-  https://support.postman.com/hc/en-us/articles/360025359014#h_b38048ee-6505-4f83-a0f0-5d4f51fcb6d5

After clearing the local cache you can run the installer f

[2021-12-08 12:38] Raj-postman commented on #10477
Thank you for the recording @dschemp - it looks like the issue exists on ScratchPad. We will be looking into this further and updating this thread soon.

[2021-12-08 15:41] boylec commented on #10481
Opened an issue in openapi-to-postman about the generated request body not actually generating any values for additionalProperties using $ref schemas.

https://github.com/postmanlabs/openapi-to-postman/issues/437

[2021-12-08 18:00] padraic-mcatee commented on #4546
Has anyone scripted a work around for this?

[2021-12-08 18:27] rnhurt commented on #6681
+1  We really like the Postman documentation feature, but we really need to restrict access to our API information.  As many others have said on this thread, this feature is a pretty fundamental thing and does seem quite popular.

[2021-12-08 18:35] cattoa commented on #8747
It seems that 9.3.1 on Windows is also not working with or without a NODE_OPTIONS settings in the environment variables

[2021-12-08 18:45] alexei-moneyr commented on #8231
+1. please please add

[2021-12-08 20:23] carlmes opened #10482 "Collection Documentation - Broken Hyperlink Support for Spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When creating documentation for a Postman collection, I cannot copy/paste a hyperlink containing `%20` characters (spaces).

For example this link `http://devopsserver.com:8080/tfs/My%20Financial%20Projects/ProjectName/_workitems/edit/159657` gets mangled when copy / pasting. It's also impo

[2021-12-08 20:24] LelouBil opened #10483 "Allow signing git commits made when syncing with repository"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have a GPG Key set up in my github account and my local git is configured to always sign my commits using my key, however after setting up the GitHub integration inside Postman, when syncing happens I am not prompted for my key

[2021-12-08 21:25] nariman opened #10484 "Failed to generate collection from WSDL with `anySimpleType`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I've tried to generate a Postman collection from WSDL spec and encountered the same issue as described in #10179, but with different root cause.
After some unsuccessful attempts to simplify the spec, I've figured out the problem by running `wsdl-to-postman` converter directly, which produce

[2021-12-09 00:39] charlesr1971 commented on #2166
@MicrocontrollersAndMore

I agree.

Please don’t close this.

I have had no success trying to upload an image using _Postman_ and Twitter’s **media/upload** endpoint? Please can someone share the following details:

1. headers
2. authorisation
3. body

[2021-12-09 02:07] calvo-jp commented on #5302
Hi, sir. Were you able to find a fix for this in linux? I am on Ubuntu 21.10. I really like postman especially now that they support websockets.  I always set everything to be dark as possible especially for my primary tools.

[2021-12-09 09:28] flexey-i opened #10485 "Full set of queries does not start in a collection in GUI mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When trying to run on a mac os through the interface in a desktop application, the runner ignores some of the selected requests.

### Steps To Reproduce

Open app
Import a collection with over 360 queries and over 1400 tests (contains folders and requests)
Import environment for this collec

[2021-12-09 09:54] #10471 closed, assigned to postman-staff

[2021-12-09 11:11] darkopia opened #10486 "Postman-Documenter examples and the ExamplePreview not formatted well"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Postman-Documenter examples and the ExamplePreview not formatted well for GraphQL requests, the entire variables section is on one line rather than being formatted as something that is more readable.

![image](https://user-images

[2021-12-09 13:11] jooleeanh commented on #3901
I often have an unsaved tab lying around, and since exports are necessary in my workflow (we have a GitLab job using the collection and environment to run the tests in a docker container), I'll lose time understanding why my test didn't work, or simply waiting for the pipeline to restart after repushing my branch with saved changes.
This feature would be a nice plus !

[2021-12-09 14:00] p6345uk opened #10487 "Tabs Failing to reopen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Occasionally when I open postman I am confronted with

![image](https://user-images.githubusercontent.com/4558013/145408671-4a55656f-5e17-4ee2-8e9c-10cde8f5e068.png)

It looks like it has lost every thing I'm working on

However if I switch workspace to my personal one then back to the team

[2021-12-09 16:14] minionOfZuul commented on #982
It's a gigantic pain to still not have this feature. Give it to one of your junior devs. It has been years.

[2021-12-09 16:53] dynamicJake commented on #2833
I was facing this issue this morning as well. I was able to right click the preview and used the arrow keys to get it back in place.

Once Postman came into view I saw an update page indicating that Postman has been updated to 9.4.0.  Looks like it is either happening on the latest version or was stuck from previous version and I assume it only updated when I tried to close Postman in an attempt t

[2021-12-09 19:27] TrishaY opened #10488 "Postman sync issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi there,
I noticed that when we run the postman through the runner, it's using the old data.
The left image shows {{InventoryAdjustment.ErrorSas}}, which we renamed to InventoryAdjustment.XXXTableSas(covered up for privacy purposes) on the right. When we run it manually, it shows the right

[2021-12-09 19:32] TrishaY commented on #10488
I actually found a work around a few minutes after I sent this ticket lol. I changed back from the old environment variable name, did a save, change it to the new environment variable name, and hit save.

[2021-12-09 19:34] #10488 closed, assigned to nobody

[2021-12-09 20:21] jviotti commented on #10473
Hey @kannankeril-watchguard ,

The normal variant of the Postman desktop application auto-updates by default and there is no way to disable such functionality. However, we do support an Enterprise variant of the Postman application (https://learning.postman.com/docs/administration/managing-enterprise-deployment/) that provides a higher-level of control. The Postman Enterprise app is available for

[2021-12-09 20:21] #10473 closed, assigned to jviotti

[2021-12-09 21:39] ms3kbtest commented on #7399
On File->Settings now

[2021-12-10 02:16] akshaydeo commented on #10017
👋 @ramosmediavalet, thank you so much for this feature request. We are looking into it and will update this space asap.

[2021-12-10 02:51] fengjian1993 commented on #6682
emmmmm.... still in developing?

[2021-12-10 03:06] ortizman commented on #1066
Second time it happens around here. I share a "workaround" that worked for me.

https://github.com/ortizman/postman1066

It's quicker for me to create my own multi-select tree than to delete hundreds of requests one at a time.

[2021-12-10 07:49] TanqiZhou opened #10489 "Can you support multi environment configuration? Check "fork" to support very poor configuration"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Can you support multi environment configuration? Check "fork" to support very poor configuration
![image](https://user-images.githubusercontent.com/24297788/145537250-d4bd50db-c664-4f0c-ba59-3ceaf8364180.png)

Fork 如果root不同，存在重复的

[2021-12-10 10:21] randomev opened #10490 "Postman app not updating response body when returning image/svg+xml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

1) Postman app does not update body preview when returned type is image/svg+xml; charset=utf-8 when called multiple times.

2) Also button-bar ["Pretty" "Raw" "Preview" "Visualize" [Dropdown for type v] is missing.

So I'm unable to view raw body either, there is no button for that in the U

[2021-12-10 10:30] phifa commented on #2676
any updates?

[2021-12-10 11:50] hkarjala commented on #10452
This has been fixed (started working again 26th Nov. onwards)

[2021-12-10 11:50] #10452 closed, assigned to nobody

[2021-12-10 12:45] vishnu-wednesday opened #10491 "Postman doesn't allow selection of environment in publish section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman when publishing documentation or Edit Published Documentation doesn't allow selection of environments. It shows No Environments in the drop down!

This seems to be a JS error as far as I can see in the console. Would be great if you could fix this.
![environment](https://user-images

[2021-12-10 13:21] postman-support commented on #10487
Hi **@****p6345uk****,**

Can you try to logout/login and check if that helps.

Additionally, clearing cache also helps in cases like these hence can you try to clear local files for your Postman installation as mentioned in this article here https://support.postman.com/hc/en-us/articles/4410785125271  and let me know if this helps?

via @ash007-postman | Postman Support

[2021-12-10 15:11] fatima-gloqal commented on #2166
Hi i'm having problem with upload media when i did the same thing it gives this error , i just signed normally to developer portal and i added the oauth1 authorization in postman
{
    "errors": [
        {
            "message": "You currently have Essential access which includes access to Twitter API v2 endpoints only. If you need access to this endpoint, you’ll need to apply for Elevated access

[2021-12-10 15:21] exDyballa opened #10492 "import async api files"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have an async-api-file. How can I create a collection from this.

### Describe the solution you'd like

import a async-api file to create a collection

### Describe alternatives you've considered

_No response_

### Additional

[2021-12-10 15:35] shashankawasthi88 commented on #10483
Hi, @LelouBil thanks for raising the request. We shall look into this.

[2021-12-10 17:43] jbrunken opened #10493 "Collection Level Pre-Request Script that runs after all others."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have a need to generate a signature token for GraphQL queries.    This can be done today by generating the signature as the last step in pre-request script at the request level after the body and headers have been set, but it r

[2021-12-10 18:03] charlesr1971 commented on #2166
@fatima-gloqal It’s really important that you set read, write & direct message permissions for your Twitter App and then you need to regenerate all your consumer/access/bearer tokens & keys.

[2021-12-10 19:52] cbrownie commented on #824
@gates26 I believe it needs to be "pm" not "postman" as the top level variable there i.e. `pm.globals.get("password")`

[2021-12-10 21:36] mebteaching commented on #9573
Hi Just found they updated the channel to v9 which brings the latest version, so the following command worked for me!

`snap refresh postman --channel=v9`

[2021-12-10 22:13] nathan-gt commented on #1066
How is this not implemented yet what the actual HELL????????????????????????

Like is there any legitimate reason?????????

[2021-12-11 00:08] tcukanoot commented on #10280
Also looking forward to this integration

[2021-12-11 19:24] rr-justin-hanselman commented on #3358
+1 to this feature.  For complicated legacy systems, I have the hardest time helping my QAs and new developers understand all the permutations of a payload.

Bloating the pre-request scripts would only further add confusion.

[2021-12-12 00:14] Kcorb95 opened #10494 "Migrating/Cloning Workspaces"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

After setting up a workspace and members creating forks (environment files with their own settings), there does not seem to be a way to migrate or clone the entire workspace including environment files to a different account with

[2021-12-12 10:49] HeikoKramer opened #10495 "Description field background does not adopt dark mode (on edit)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The **description field** background in the **save request** form does not adopt the proper dark mode background in **edit mode**.
So the background color is nearly the same as the text color (slightly brighter), when entering a description – and therewith basically not readable.

### Steps

[2021-12-12 18:31] dregad commented on #9573
That's great, thanks @mebteaching for the heads up !

Still it would be nice if @postman-support could update the _latest_ channel to actually point to the latest version instead of 7.3.5 as it currently does (which is even behind the v7 channel).

Extract from `snap info postman` as of today
[code]

[2021-12-12 20:11] casithepython commented on #1066
+1. This is frankly absurd.

[2021-12-13 03:07] cs12110 opened #10496 "Can't search anymore."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I using postman `Find and replace` function, and it doesn't work any more.

I found this function is very useful for me. but when I upgraded the version >= v9.0, I can't search any request by that(Using Everything mode).But switch to collections mode, it can do the job well.

Please, s

[2021-12-13 06:03] SathishKumarRamasamy commented on #4753
+1

[2021-12-13 09:50] RichieChan commented on #8195
Any news about this issue?

[2021-12-13 09:52] RichieChan commented on #8195
This issue has been opened more then one year.

Any news about this issue?

[2021-12-13 10:03] leitste1 commented on #8929
+1

[2021-12-13 10:24] Kingsconsult commented on #6761
I am having this same issue, this is an endpoint that I use everyday in the last 4 months, except this morning
![image](https://user-images.githubusercontent.com/46958081/145795081-117ba1b6-0004-415a-bd8d-cf7d781cab53.png)

[2021-12-13 10:36] VaishnaviChallaPostman opened #10497 "Save all WebSocket response messages to a file"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

As of now, we can save only one response message at a time. But, there is no option to save all the response messages to a file at once.

### Describe the solution you'd like

An option to save all the response messages to a file

[2021-12-13 11:11] Kingsconsult opened #10498 "Response body not displaying anything"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I am having this issue, this is an endpoint that I use every day in the last 4 months, except this morning, I discovered that my postman just updated to v9.4.1 (the latest)
![image](https://user-images.githubusercontent.com/46958081/145795081-117ba1b6-0004-415a-bd8d-cf7d781cab53.png)

This

[2021-12-13 11:57] shashankawasthi88 commented on #9300
@camellia we have launched a new integration with Slack that will enable you to receive notifications on Slack when someone tags you in the comment. Please follow the [blogpost](https://blog.postman.com/postman-notifications-slack/) for more details.

[2021-12-13 11:57] #9300 closed, assigned to shashankawasthi88

[2021-12-13 12:24] Arthi93 commented on #9739
Even with response smaller tham 50MB, but above 40MB, it just loads infinitely and request never ends. If i test it in any other app - it works.

[2021-12-13 12:32] rafetdk commented on #6232
What's the status of this feature?

According to this [Postman Help Center article](https://support.postman.com/hc/en-us/articles/115003330925-Can-I-join-multiple-teams-with-the-same-Postman-account-), this feature is on Postman's Roadmap, but I can't find it anywhere on the roadmap.

[2021-12-13 12:35] ftuyama commented on #9614
It would be nice to have a settings option to toggle this feature... I wish I could hide the examples 😞

[2021-12-13 21:24] shawner18 commented on #9750
I also had the same issue after an upgrade. Enabling the "Always open in new tab" and then  off, solved my issue too

[2021-12-14 00:50] wcf-todd commented on #10347
Please implement this feature!  We are having to go with Stoplight.io because of this lack of functionality in creating the #/Components/schemas.  We are using OpenAPI 3.0.3.  Also, a huge thanks to @br-tyler-milner for taking the time to fill out all of the info for this request!  I was so happy this has been logged...now I hope it will get some attention.  This is a game-stopper!

[2021-12-14 02:37] ghost opened #10499 "Feature Request: get response time metrics for N times"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

This is a feature request

### Describe the solution you'd like

Make N times request, show the response time for a result as a table

### Describe alternatives you've considered

_No response_

### Additional context

![image](h

[2021-12-14 02:39] cnmade commented on #10499
This request is for a common task, if we want to quick measure our API is slow or fast.
We do not need a very heavy tools, PostMan just did the great job.

We need put things together, for better comparing.

[2021-12-14 03:54] chrisdeso commented on #10495
I was able to reproduce this on MacOS 11.5.2 (20G95) as well

Loom – [https://www.loom.com/share/de83ae6d87a541bc9694a674393d870f](https://www.loom.com/share/de83ae6d87a541bc9694a674393d870f)

Routing this through support.

[2021-12-14 04:29] postman-support commented on #10498
Hi there,

Are you seeing this issue over your specific request or all the requests? Do you get any response after sending the request using Postman on Web - https://go.postman.co/ version?

Can you try sending the below sample POST & a GET request respectively and see if you are able to get the response for these requests? Please refer to the below screenshot for reference.

POST - https://postma

[2021-12-14 06:25] postman-support commented on #10496
Hey hi,

Thank you so much for flagging this with us.

I am checking with the team internally on this and will get back to you with the updates from the engineering team.

Meanwhile, we appreciate your patience!

via @Lincimary | Postman Support

[2021-12-14 07:23] postman-support commented on #10495
Hey **@****HeikoKramer**

I have tried replicating this in the latest version and in the Web Version. It looks like this issue is not being seen.
Could you please try to update your application to the latest version and let us know if you are still seeing the same?

via @VaishnaviChallaPostman | Postman Support

[2021-12-14 11:37] sakiv commented on #2700
@shamasis *.example.com works, but service*.example.com does not.

[2021-12-14 12:08] MichaelErmer opened #10500 "Add wildcard listener for Websockets or/and possibility to view raw data frames"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We are using a special implementation of our API that is using the event names for different services, that's why it would be great to have either the possibility to add a regex for the event listeners or use some annotation like

[2021-12-14 14:51] jjduarte commented on #10093
Hi, I'm running the exact same issue.

What I've found so far is that you can use the header `x-mock-match-request-headers` in the request and set it to `soapaction` alongside  with a `SOAPAction` header that contains the actual action. The `SOAPAction` header must be set in the examples request headers as well.

Even though this works for me, I was expecting to find a way to match headers without

[2021-12-14 15:54] jjduarte commented on #8534
I agree. I'd say that this should be either handled by the matching algorithm or configurable in the Mock Server creation setup. E.g.: When create a Mock Server flagged to match body request by default and no need to send the `x-mock-match-request-body` in the request. Same for headers...etc.

[2021-12-14 16:29] sipy commented on #8476
Any updates on this please?

[2021-12-14 16:38] alexei-moneyr opened #10501 "Getting an error using postman web app with aws cognito"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm having an issue trying to authenticate with aws cognito from web app.

It's working from the desktop app.
For some reason address of login is wrong

https://XXXXXX-XXXXXX.auth.eu-west-1.amazoncognito.com/error?error=redirect_mismatch&client_id=7ml3csmgir3h0bi76r6XXXXXX

this i'm getting

[2021-12-14 19:18] jb203 commented on #2030
+1
Broken on windows

[2021-12-14 19:25] vbeaudoin19 opened #10502 "Research doesn't work anymore and can't close all tabs at once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After one update around 1 month back, I can't no longer use the option to 'close all tabs' at once. I need to close all them manually or by using the option to 'close all other tabs' then close the last one.

Around the last week or so, the research doesn't work anymore, nothing is happenin

[2021-12-14 20:13] Kingsconsult commented on #10498
I have to uninstall and restart the postman before it was finally resolved

[2021-12-14 23:25] zachhardesty7 commented on #2270
I'd also like to see an update on enum support anywhere in Postman. This issue itself was created over 6 years ago and it doesn't appear that this is even part of the roadmap anymore. Since it seems [the main roadmap associated with "variable" enhancements](https://github.com/postmanlabs/postman-app-support/projects/2#card-1220628) has been closed for almost 2 years, is there somewhere else tracki

[2021-12-15 04:46] postman-support commented on #10498
Thanks for the update.

I'm assuming the issue has been resolved for you. Let me know if you require any further assistance and if you are all set then with your permission, can I close this request?

via @Swapnil-getpostman | Postman Support

[2021-12-15 05:25] Raja-Simha commented on #10491
@vishnu-wednesday This issue has been fixed in the latest version of app and on web. Closing the issue but feel free to reopen if you still find the issue unresolved.

[2021-12-15 05:25] #10491 closed, assigned to Raja-Simha

[2021-12-15 05:54] Raja-Simha commented on #10486
@darkopia thanks for reporting this. We will look into this and keep you posted on any updates.

[2021-12-15 06:07] Raja-Simha commented on #10482
Hey @carlmes thanks for bringing this to our notice. We will look into this issue and keep you posted.

[2021-12-15 07:25] priyankawadekar commented on #9498
same issue with v9 as well. please fix.

[2021-12-15 08:33] AllPDFfillersGoToHeaven commented on #6008
experiencing this now...

[2021-12-15 12:04] jiangxq0521 commented on #8686
Version 9.4.1 the problem still exists
link：
https://tech-release.api.fuliaoyi.com/app-customer/v2/api-docs
Others can import success。like : https://tech-release.api.fuliaoyi.com/app-purchase/v2/api-docs

[2021-12-15 12:16] p6345uk commented on #10496
Getting a similar issue in the windows version.
Additionally in the windows version the "open in builder" doesn't work

[2021-12-15 12:28] DQJ0521 opened #10503 "v 9.4.1 API request detail cannot displaying anything in the right windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

My postman  for Windows upgrade to v9.4.1, then, I open my api details, nothing displaying  in the right windows

![378e67fe65808e99f10df10f22e334a](https://user-images.githubusercontent.com/47734905/146186373-419b35f5-8960-4fed-b5c1-8b33d1289b7a.png)

### Steps To Reproduce

1. Open my pos

[2021-12-15 12:35] #10503 closed, assigned to nobody

[2021-12-15 12:37] DQJ0521 commented on #10503
repeat with issue #10487

[2021-12-15 12:38] DQJ0521 commented on #10487
v9.4.1 the problem still exist，
![378e67fe65808e99f10df10f22e334a](https://user-images.githubusercontent.com/47734905/146188052-640d6448-f34e-4bf2-82ef-594c33b86279.png)

[2021-12-15 14:22] ccheatham commented on #10460
Ok just tried that PostmanCanary build and it seems to be working as expected

[2021-12-15 15:13] Xonshiz commented on #9266
If I am understanding your requirement properly, then you can do one more thing... in the sub folder, just add this piece of code:
[code]

This would set a global variable for the requests inside that folder. You can remove the global variable from your outermost folder. Should work

[2021-12-15 15:55] kago-dk commented on #10231
@Raja-Simha What is the latest status on this?

[2021-12-15 16:11] Placeborg commented on #7870
I just had the same issue. While already being closed, Postman appeared to keep running in the background while taking up more then 20gb of memory.

This happens on a machine that has an (almost) fresh windows (11) instalation.

This issue appeared after some fiddling with the 'send and download' feature on my end. After having the window for the download open for a few seconds Postman suddenly cr

[2021-12-15 16:58] PRRB commented on #8747
I'm on Postman v9.5.0 and I'm running into the same issue since yesterday.
- Only affects our dev environment, all others qa/uatetc. are fine.
- It affects all requests to this domain.
- I can make requests to this domain with Chrome without any problem.
- NODE_OPTIONS environment variable workaround suggested above does not work.

Yes, I am quite frustrated about this. It's crazy that this is sti

[2021-12-16 02:46] xpol commented on #10254
Why do I have to connect your * cloud when I want to see my postman requests and scripts?

I think it's time to create a similar product called **Localman**.

[2021-12-16 03:09] ctrlsam commented on #3438
Another solution if you just want HTML documentation

1) Export postman JSON
2) Convert JSON to Swagger YAML [here](https://metamug.com/util/postman-to-swagger/)
3) Paste YAML result into Swagger [editor](https://editor.swagger.io/)
4) Export to Swagger JSON (File -> Convert and save to JSON)
5) Install redoc `npm install -g redoc-cli`
6) Create html `redoc-cli bundle -o index.html <YOUR JSON>`

[2021-12-16 03:18] pizsd commented on #9498
+1 also feels very unfriendly

[2021-12-16 03:21] ketony commented on #5129
Have this been implemented? :)

[2021-12-16 05:47] postman-support commented on #10496
Hi there,
Thank you for reporting this.

Sorry that it is taking a quite long time than expected. I will keep you posted here once I get the update from the engineering team.
Thank you so much for your patience in this regard.

via @Lincimary | Postman Support

[2021-12-16 07:44] ash007-postman opened #10504 "Enhancement request to implement Pull feature request for Environment"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

At the moment, when users try to Fork the environment and then Pull changes from the parent fork, the "Create pull request" option cannot be used since it's disabled. Requesting to include the option such that users can benefit t

[2021-12-16 08:12] Grant-Lay commented on #9409
Is this going to get fixed on the desktop client?  Or if I want to use the web app, how to I set the callback URL to localhost (it's not giving me the option to change the value from https://oauth.pstmn.io/v1/browser-callback)?

[2021-12-16 08:34] shblhy commented on #9274
不是，参数在post请求的body当中，并不在url上。post请求内的参数，如果有中文，postman录制请求，参数那位置会显示为乱码。完全是不可读的乱码，和urlencode好无关系。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年10月12日(星期二) 下午2:06
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [postmanlabs/postman-app-support] 浏览器使用拦截器抓取入参是中文的接口，postman中录制到的接口入参显示乱码 (#9274)

urlencoded?

—
You are receiving this because yo

[2021-12-16 12:31] postman-support commented on #10487
Hi @p6345uk,

Can you try clicking on the new tab and see if that helps? If the issue still persists then would you please share your app's logs (%appdata%\Postman\logs.) via submitting a ticket via https://support.postman.com/hc/en-us/requests/new.

 ![](https://postman.zendesk.com/attachments/token/LBoxUlWK1oXJQhAGGCmyr9h1w/?name=image.png)

Also, can you try to unblock yourself by using the web

[2021-12-16 14:02] markjoachim commented on #3706
+1

[2021-12-16 14:08] vbisbest opened #10505 "Add capability to add custom menus and functionality into the Postman IDE"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It would be great if Postman had the ability for developers to create custom extensions/plugins for the IDE.  This would make integrating 3rd party features look and feel native within Postman.  For instance, the ability to right

[2021-12-16 17:36] AL0403791 commented on #8195
Just another person wishing for autosave....

[2021-12-16 22:32] dsanders11 commented on #10340
I'm looking into this issue. I've tested older versions of Postman and confirmed that the behavior first changed in v8.8.0

[2021-12-17 02:07] vladimirblaz commented on #8231
+1 hey guys, any update on this? Auth0, Azure AAD, AWS Cognito, etc, use id_token, it isn't a particular case...

[2021-12-17 03:34] sxlgkxk commented on #2985
@Sebastian23 same issue here(win10, v9.5.0)
Setting -> General -> Font-family
change from "IBMPlexMono, 'Courier New', monospace" to "'Courier New', monospace".
this fixed the problem for me

[2021-12-17 05:24] diivi commented on #10495
@postman-support clicking inside the description box triggers this issue for me

[2021-12-17 05:33] postman-support commented on #10495
Hey **@diivi**
Thanks for flagging it.
I am able to replicate this. I am sorry for missing this step earlier - @HeikoKramer.
I will raise this internally and get back to you with any updates on this.
Thanks for your patience.

via @VaishnaviChallaPostman | Postman Support

[2021-12-17 06:29] enricjaen commented on #10184
is there any plan to make tabs user-friendly?

[2021-12-17 07:53] bombomxit commented on #4671
It's end 2021. Come on!!

[2021-12-17 08:02] #10480 closed, assigned to postman-staff

[2021-12-17 08:02] postman-support commented on #10480
Hello @m3dbedb,

Since we haven't heard from you in a while, we will go ahead and mark the ticket as closed.

In case you have any further questions or issues, it's recommended that you create a new support ticket, so we can assist you better:

-  https://support.postman.com/

Thank you!

Best Regards,
Atanas

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

[2021-12-17 09:46] abhijitkane commented on #10291
@darkimage This was fixed a few weeks ago. Feel free to reopen if you're still seeing this 😄 .

[2021-12-17 09:46] #10291 closed, assigned to shashankawasthi88

[2021-12-17 09:50] RaviAH commented on #9612
I am waiting for this feature.. any update on this:-)?

[2021-12-17 09:51] #10227 closed, assigned to abhijitkane

[2021-12-17 09:52] #10269 closed, assigned to abhijitkane

[2021-12-17 09:53] abhijitkane commented on #10239
@dmetzler1988 We released a post outlining the capabilities of the new integration with Github - https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/. We've incorporated push/pull functionality, branching, and support for tagging releases.

[2021-12-17 10:04] abhijitkane commented on #9883
@Wilsse Thanks - could you outline your use cases once the environment is available in the repository? Do you use it for CI/CD processes, or some type of validation?
We recently released an updated Gitlab integration (explained here - https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/), but that syncs API schemas and collections, not environments.

[2021-12-17 10:14] #9204 closed, assigned to chughmayank, shashankawasthi88

[2021-12-17 10:15] abhijitkane commented on #9156
@romainlouvet This should be possible with the updated Git integration we released recently (https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/). Support for GHE is only available on our Enterprise plan, however.

[2021-12-17 10:22] abhijitkane commented on #8844
We've launched support for GitLab SaaS last week. This is part of our new Git integration released in September (https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/). Support for self-hosted instances of GitLab will only be available on our Enterprise plan.

[2021-12-17 10:25] #5964 closed, assigned to nobody

[2021-12-17 10:42] a13a commented on #4660
A workaround could be to make a script that would connect to Postman DB and delete specific collections/environments.

[2021-12-17 11:31] JannemanDev opened #10506 "Streaming response is not displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have created a filtered stream on Twitter. I can stream the responses using `curl https://api.twitter.com/2/tweets/search/stream -H "Authorization: Bearer ...."`

But when I do this in Postman v9.5.0 it will connect to the stream and you can see it's listening but it won't display any res

[2021-12-17 13:52] altaraven commented on #4671
A few years later
AIDS and cancer are curable. People fly to Mars on a weekend.

Postman users still save all their tabs manually using super-powerfull nano PCs

[2021-12-17 14:10] Sebastian23 commented on #2985
This actually works. Thanks a lot! :)

[2021-12-17 16:46] venkatcc opened #10507 "9.5.0 version does not complete startup on Fedora 33"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman fails to start. "Preparing your workspaces.... This might take a few minutes" is all I see.

[code]

### Steps To Reproduce

Start Postman and wait for it to boot completely.

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

Upd

[2021-12-17 18:18] vishnu-wednesday commented on #10491
Can confirm that this is fixed now. Thanks for the quick turnaround!

[2021-12-17 20:45] codysechelski commented on #8689
This is happening to me as well, but here's the kicker. It's only happening in one Workspace...

I have a collection that lives in a workspace I made for my last company. Now at my new company, I wanted to move that collection into a new workspace.

There is probably a better way to do this, but here's how I did it (just in case any of this is important). Form Workspace A, I exported my globals, e

[2021-12-18 16:50] brendan-zeus commented on #7150
This is a large pain point. Please fix

[2021-12-18 19:22] brendan-zeus commented on #1744
From a strategic sense, it makes sense that this has been de-prioritized. Supporting import allows you to move people off of OpenAPI and into Postman proprietary format. Locking in and adding friction to export is smart to make it difficult for people to migrate off or use other tools.

But there are ways around this and OpenAPI is the standard for APIs, not Postman collections. So please just out

[2021-12-19 09:13] BillChen2k commented on #7150
+1, two years later and I'm still looking for solutions.

[2021-12-19 11:21] vstrelstov commented on #10507
Got the same issue on Manjaro, no matter if it's AUR or Snap version

[2021-12-20 03:12] sanketbhangale43 commented on #3953
Please try this
1. Right-click on the taskbar
2. Choose the option "Show windows side by side"

Now you should be able to see the postman window on the screen

Thanks

[2021-12-20 05:30] postman-support commented on #10506
Hi @JanOonk - At the moment we do not support a fully streamed response. You may check similar requests raised earlier and these are other threads on the same: #5040, #7873.

Comments from the engineering there: https://github.com/postmanlabs/postman-app-support/issues/5040#issuecomment-682369020

We agree this has been a long-standing feature request and acknowledging that - the team is looking i

[2021-12-20 05:53] Swapnil-getpostman opened #10508 "Ability to send authentication and activity logs to Splunk"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Ability to send authentication and activity logs to Splunk.
1. User authentication Logs such as Login details
2. Team Activity Logs. This is to give admins the historical ability to audit applications in the case if there is a se

[2021-12-20 06:51] postman-support commented on #10507
@venkatcc @vstrelstov Sorry to hear about this experience.

If possible, would you please submit a ticket from here and share your app's logs to help us debug the issue next? This article should help you further on the same.

* * *
Also do try renaming (or _clearing_) the local files for your Postman installation generally resolves this issue**.** You can find full instructions for doing so in the

[2021-12-20 07:44] stonskt commented on #9508
@arlemi I think the API `syncWithSchema` has some bugs like @lobbin stated. Is there a workaround for this issue?

[2021-12-20 07:46] NikitaKosolapov commented on #9487
DesktopApp: Sing out -> Sign in

[2021-12-20 07:58] venkatcc commented on #10507
@Raj-postman Sorry, I'm not sure what you mean by "submit a ticket from
here". What is "here"?

That said, I cleared local files using the procedure outlined in the linked
support article in your previous email. I still see the same behavior.

This is what I see when I try to start the application from the command
line (after clearing local files):

$ ./Postman

            The disableGPU setting

[2021-12-20 08:00] venkatcc commented on #10507
Ah, I see what you meant by "submit a ticket from here". The hyperlink was not a link in the email message, but is only visible on the github page.

Thanks!

[2021-12-20 09:45] AitorGuerrero commented on #9186
Hi! Im experiencing it at Ubuntu 21.10

[2021-12-20 11:48] NickUfer opened #10509 "HTTP method dropdown pops up for a fraction of a second then dissappears"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I try to change the http method the list of available methods flashes for a fraction of a second and then dissapears. I have to manually type the method I want.

### Steps To Reproduce

1. Open new request tab
2. Click on the http method dropdown menu

### Screenshots or Videos

![Peek

[2021-12-20 11:49] alekscp commented on #3171
+1

[2021-12-20 14:02] arlemi commented on #1744
@brendan-zeus With the launch of Postman v9, the API definition (OpenAPI, or other) is at the centre of your API Lifecycle, not collections, cf:
- [The Reimagined API-First Workflow, Part 1: for Developers](https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/)
- [The New Postman API Platform: Redefining API Management for the API-First World](https://blog.postman.com/new-post

[2021-12-20 15:51] dasarisanthi commented on #10062
Hey Danny,
My request is to use multiple CSV files in post man to run the collection, please help on this

[2021-12-20 18:01] kenirwin commented on #9423
I'm having basically this same issue.

I'm on:
Mac OS 11.6 (M1 chip)
Postman 9.6.0

* created an environment
* created a "URL" variable in the environment
* created a new request and selected the environment
* tried using {{URL}} in the request, it shows up in red and gets the response `getaddrinfo ENOTFOUND {{url}}`
* when I click the eyeball icon next to the environment setting it says "no envir

[2021-12-20 20:17] nopeless commented on #10490
I'm having same issue

[2021-12-21 00:24] Jebarson opened #10510 "Please remove the redundant title below the tabs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Please remove the title that is above the textbox where you enter the url.

1. The information is redundant.
2. The amount of time I have clicked the title instead of textbox is humongous. Since the title is bold, it is human ten

[2021-12-21 03:23] ahmfarisi commented on #1060
Thx buddy !

[2021-12-21 05:45] shashankawasthi88 commented on #3796
Hi All, we have launched a repository integration with Azure DevOps in App version 9.6.0. Please refer to the [blog post ](https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/)for ideal flow and[ learning center docs](https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/#connecting-a-repository) to know how to configure Azure integration.
The

[2021-12-21 05:48] shashankawasthi88 commented on #10280
Hi @sundipnair @tcukanoot @R-Lamberson @stefania-santimbrean @michaelhachen, we have launched a repository integration with Azure DevOps (cloud repo) in App version 9.6.0. Please refer to the blog post for ideal flow and learning center docs to know how to configure Azure integration.
The Azure DevOps Service (TFS/ on-prem) will follow soon.

[2021-12-21 05:48] #10280 closed, assigned to abhijitkane, shashankawasthi88

[2021-12-21 05:49] shashankawasthi88 commented on #10129
Hi @jgraham8524, we have launched a repository integration with Azure DevOps in App version 9.6.0. Please refer to the blog post for ideal flow and learning center docs to know how to configure Azure integration.
The Azure DevOps Service (TFS/ on-prem) will follow soon.

[2021-12-21 05:49] #10129 closed, assigned to abhijitkane, jotsarup

[2021-12-21 05:51] shashankawasthi88 commented on #9874
Hi All, we have launched a repository integration with Azure DevOps in App version 9.6.0. Please refer to the blog post for ideal flow and learning center docs to know how to configure Azure integration.
The other Azure integrations will soon follow.

[2021-12-21 05:55] shashankawasthi88 commented on #9131
Hi @jgraham8524, we have launched a repository integration with Azure DevOps in App version 9.6.0. Please refer to the blog post (https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/) for ideal flow and learning center docs (https://learning.postman.com/docs/designing-and-developing-your-api/versioning-an-api/#connecting-a-repository) to know how to configure Azure integratio

[2021-12-21 05:55] #9131 closed, assigned to shashankawasthi88

[2021-12-21 06:59] postman-support commented on #10507
@venkatcc Sorry for that, the link for submitting a support request is: https://support.postman.com/hc/en-us/requests/new/

This is to make sure all of the details shared are communicated via the internal channel and they remain safe :)

* * *
Could you check the below things to see if that helps by any chance:

- Disable GPU as per this article here: https://github.com/postmanlabs/postman-app-sup

[2021-12-21 07:28] sandeepmishra007 commented on #8383
Facing the same issue in Version 9.6.0. Please suggest.

[2021-12-21 08:34] jonathanrossTPA commented on #9874
Thanks I will check this out and pass on the information to our team and
Devops.
Much appreciated
Jonathan

On Tue, 21 Dec 2021 at 07:51, Shashank Awasthi ***@***.***>
wrote:

--

This email and any files transmitted with it contain confidential
information and/or privileged or personal advice. This email is intended
for the addressee(s) stated above only. If you are not the addressee of the
email

[2021-12-21 09:24] dveldhoen commented on #5817
+1 for this

[2021-12-21 09:55] stefania-santimbrean opened #10511 "Not able to commit Postman collection changes to Azure DevOps Repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello,

I was looking for a way to version my collection in an Azure DevOps repository so I followed this issue #10280 and tried now to do it. I see we need to version an API and link a collection to that API, which is what I did, but I encounter an issue with versioning the collection beca

[2021-12-21 11:24] melvinotieno commented on #7150
Will this even be supported down the line?

[2021-12-21 12:09] ghost opened #10512 "Inconsistent use of field example prop in generated request / response docs."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When using the API Documenter, the auto generated examples only _sometimes_ use the field `example` property.

Eg. In this screenshot from the published API documentation, the dummy `email` value is from the defined `example:` field property.

<img width="642" alt="Screenshot 2021-12-21 at

[2021-12-21 13:21] RadFromOrange commented on #3897
ouuuuuhhhhh c'est nul !!!!  👎

[2021-12-21 13:29] shashankawasthi88 commented on #10511
@stefania-santimbrean thanks for raising the issue. We are looking into it and shall respond on the same thread soon.

[2021-12-21 14:02] sweethuman commented on #8844
it seems though that i can't connect two api's to the same repo

[2021-12-21 14:02] arlemi commented on #350
Hey everyone!

From Postman v9.6 you can now import HAR files directly into Postman, you also have the options to import responses/cookies when generating the collection:
![import_har](https://user-images.githubusercontent.com/5029719/146942294-72dc1d12-5a55-404b-8d1f-c2261e68aec1.gif)

[2021-12-21 14:10] ArjunSingh-PM commented on #7150
Hi @melvinotieno! Yes, we will be working towards supporting the ability to join multiple teams using a single user account by mid-2022.

[2021-12-21 14:38] andy-seedata commented on #10512
Closing this as actually this doesn't seem to be a bug.

Just missing functionality - there is apparently no way to sync `example` and `description` attributes of a schema with the existing documentation.

We moved to Postman from Stoplight because it was cheaper, but man is it missing a lot of functionality for API authoring! 😞

[2021-12-21 14:38] #10512 closed, assigned to nobody

[2021-12-21 16:24] SayefReyadh commented on #6932
Similar Issue resolved after deleting the Postman AppData from `C:\Users\<username>\AppData\Roaming\Postman`

[2021-12-21 18:24] vstrelstov commented on #10507
I've created a ticket. Deleting local data has no effect, Postman still refuses to start

[2021-12-21 18:27] ghost opened #10513 "Misspelling in instructions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Under US English locale:

Under APIs -> Import -> Advanced Settings, note the instructions:
[code]

### Steps To Reproduce

1. Open APIs
2. Select Import
3. Upload a WSDL file
4. Under the dialog, select Advanced Settings.  Note the typo ("Endpoing")

### Screenshots or Videos

![image](htt

[2021-12-21 18:51] hichemfantar commented on #5302
Any news on this feature request?
A workaround is to enable fullscreen mode using F11.

[2021-12-21 19:55] kwieler commented on #3078
Please add ability to sort variables. If you have more than a few Global or Environment variables, they are difficult to find and maintain.

[2021-12-21 19:59] custj opened #10514 "9.6.1 Graphql variables dont send if to long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Using the either the desktop app or web version, on the prior postman version version I was able to have a long json set of variables (depth -4) that would then send with my graphql  mutation/queries.  Now some of the longer variable sets dont get passed when I view the "code snippet" of th

[2021-12-21 21:10] vstrelstov commented on #10507
I've created the request: `https://support.postman.com/hc/en-us/requests/93791`
Deleting Postman's local data had no effect, but nevertheless, I managed to start it with the key --disable-gpu. But the strange thing is the fact that Postman seems to be running _with_ hardware acceleration.
![изображение](https://user-images.githubusercontent.com/66176660/146998105-1cdfe724-6078-49eb-bfd8-c72082c409

[2021-12-21 21:21] NickUfer commented on #10509
This was some bug in my desktop environment and my keyboard which also affected many other applications. I don't think this is any bug in the application itself. Closing this.

[2021-12-21 21:21] #10509 closed, assigned to giridharvc7

[2021-12-21 23:34] ChristineP2 commented on #10496
I just updated to v 9.6 and I am still seeing this issue. I tried rebooting after the update to see if that would help.

[2021-12-22 02:11] aomsweet commented on #5302
@hichemfantar  I want to know either.

[2021-12-22 05:36] #350 closed

[2021-12-22 06:18] postman-support commented on #10507
@vstrelstov Glad to know that helped :)

I believe that shouldn't affect the running of the app, but if you do observe any unusual activity of the app rather than the expected flow. Feel free to add them over to the request you've submitted and we will take it from there.

via @Raj-postman | Postman Support

[2021-12-22 07:12] vstrelstov commented on #10507
Unfortunately, it turned out to be a one-time solution, so the issue occurs again after reboot

[2021-12-22 09:42] postman-support commented on #10496
Sorry that you are facing 429(too many requests) error while updating the application.

Are you using the Linux platform?

If yes then, Could you please try to use the postman snap application and see if that unlocks you?
(Snap application automatically updates itself, you dont have to worry about the updates anymore)

via @Lincimary | Postman Support

[2021-12-22 10:22] MarcinBadura commented on #9106
Hi, I have created GitHub account specifically to reply to this comment.

I wholeheartedly agree with author's opinion on this. I use Postman in exactly the same way (posting a portion of JSON response/ request body in JIRA tickets) and having to use a notepad in between copy/paste from Postman to Jira breaks the workflow.

It would be great to have a toggle to disable rich text copying.

[2021-12-22 10:35] VShingala commented on #9616
@timothyk0908 This should be fixed now.

[2021-12-22 10:35] #9616 closed, assigned to VShingala

[2021-12-22 11:56] FBO-Testing commented on #8480
Hello, I/we also have this problem. Is there a timetable for the targeted solution?

[2021-12-22 14:41] skitchbeatz commented on #10254
The postman cloud should be there as a backup & sync solution (IF the user decides to sync). It shouldn't be the only way to access previously created collections and environments. This limitation is bonkers

[2021-12-22 16:03] youthboy opened #10515 "The postman console layout cannot be set to "undock into separate windows""
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The postman console layout cannot be set to "undock into separate windows"
Only the docked layout blocks the responsive view

### Describe the solution you'd like

Can be set like Chrome, with multiple layout options

### Describ

[2021-12-22 19:42] ChristineP2 commented on #10496
Hi!  I'm using a Mac, not Linux. Here are some samples of what I'm seeing

![Open_Application part-1](https://user-images.githubusercontent.com/984648/147146520-bad34872-bd34-4e78-8a39-228daa88a578.png)
![Open_Application part-2](https://user-images.githubusercontent.com/984648/147146524-bcdce906-ec1f-4ee8-92a6-d71079a036d4.png)
![Click_find_replace_attempt_find](https://user-images.githubusercont

[2021-12-22 22:43] rishinaveen commented on #5222
Great little utility. thanks a lot for sharing the tool and appreciate the time you spent creating it.

[2021-12-22 22:49] ChristineP2 commented on #10496
Update: I had a coworker check their search and it worked.

Since it worked for them, I uninstalled postman, went into Mac Library's Cache (`rm -r com.postmanlabs.mac`, `rm com.postmanlabs.mac.ShipIt`), Application Support (rm -r Postman), then reinstalled postman and I was once again able to find and replace.

It would be nice to not lose that functionality at all, but at least you can get it bac

[2021-12-23 03:06] Loongle commented on #9602
Postman Version 7.36.5.
 The startup time is no problem. I guess the new version is slow to load collection content online, but the old version does not have this problem

[2021-12-23 08:30] mrsagansay opened #10516 "New Integration Request - <product name>keen"
### Describe your current workflow

push postman to monitor result

### Describe your ideal workflow

result to keen stream for API base

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-23 09:03] abhijitkane commented on #10516
@mrsagansay Can you elaborate what you mean by `API base`? We supporting sending monitor results to Keen (https://learning.postman.com/docs/integrations/available-integrations/keen/), but there are currently no other events from the API that are sent.

[2021-12-23 10:50] abhijitkane commented on #10511
@stefania-santimbrean This should be addressed now - pull/push operations should work as intended.

[2021-12-23 12:16] cbrunnkvist commented on #6719
Wow can't believe this ticket is still open. The advantage of practically owning the market, I guess 🤷

[2021-12-23 15:32] stefania-santimbrean commented on #10511
@abhijitkane many, many thanks. I can confirm in 9.6.1 the issue is resolved! :D

Thanks for the quick fix!
Kind regards,
Stefania

[2021-12-23 15:32] #10511 closed, assigned to shashankawasthi88

[2021-12-23 18:24] landofbunnies commented on #8769
Would also very much like to see this in a future release. We currently cannot utilize Postman as well as we would like due to our on-premises implementation of Bitbucket.

[2021-12-23 19:02] OmgImAlexis commented on #6719
@akshaydeo do this means it's being worked on?

[2021-12-23 19:48] jeromemeichelbeck commented on #6719
Probably not.

[2021-12-24 03:16] mrsagansay commented on #10516
Hi hello Kane..I'm very sorry, and I apologize for confusing you, anyway, we just forgot those, my mistake,Thanks 
    On Thursday, December 23, 2021, 05:03:26 PM GMT+8, Abhijit Kane ***@***.***> wrote:

@mrsagansay Can you elaborate what you mean by API base? We supporting sending monitor results to Keen (https://learning.postman.com/docs/integrations/available-integrations/keen/), but there are

[2021-12-24 03:49] #10516 closed, assigned to abhijitkane, shashankawasthi88

[2021-12-24 06:56] pada57 commented on #6035
thanks @eric-reinstein-fmr  i had still the issue with node option env variable set, when removing works also for some others apps like Whatsapp desktop

`NODE_OPTIONS=--openssl-legacy-provider`

[2021-12-24 10:00] Keki91 opened #10517 "Unable to open application on Windows 10."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

v9.6.1 - Application will not start on Windows 10.

Also: https://community.postman.com/t/postman-wont-start-windows-10/4386/11

- I have deleted every reference to Postman in AppData (both Local and Roaming)
- Tried launching by running as administrator
- Tried adding disable gpu in enviro

[2021-12-24 13:15] m3dbedb opened #10518 "runner does not stop after manual termination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

If you have postmansetNextReques with unreachable condition you may need to stop runner manually
Postman 9.6.1 does not stop execution when I push "stop run" button

### Steps To Reproduce

create collection with 2 steps:

step 1

step 2

with tests:

    var i=1
    if (i<10) postman.setNe

[2021-12-25 07:22] AlexandrTairov opened #10519 "Wrong work with escaped character "/""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When using the desktop version, an error was noticed that when sending a variable in path variables, it was necessary to escape spaces and slashes in %20 and %2F, respectively.
Everything works well with spaces encoding, but sending%2F returns 400 http status "Bad request"

### Steps To Rep

[2021-12-25 09:13] nguoithichkhampha commented on #10181
Our sofware provide API via websocket protocol. We are planning to use postman as automation tool for API testing. Allow to run test and scripting in websocket collection is very useful feature. Can I know when this feature available @shamasis ?

[2021-12-25 09:15] shamasis commented on #10181
The plan is to integrate one RPC style protocol and then address testing and scripting at one go. I'm estimating we can start planning within weeks and wrap it up within the quarter one of 2022.

[2021-12-25 09:46] nguoithichkhampha commented on #10181
great, we are also using Json RPC 2.0 for the request/response via websocket. Hope we can use new feature soon. Thanks @shamasis

[2021-12-25 10:33] MohammadMirsafaei opened #10520 "Postman not responding to keyboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I try to type in any part of the application(url, body, ...) only 'w' and 'z' keys work. When I press other keys nothing happens. I have to type in another app and then paste in postman

### Steps To Reproduce

1. open app
2. try to type!

### Screenshots or Videos

_No response_

###

[2021-12-25 11:19] TorbenHammes opened #10521 "Postman Code Dart Dio Library"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No, there is no problem.

### Describe the solution you'd like

Ich habe gesehen, dass es im Code-Generator dart/http gibt, jedoch wäre es großartig, eine dart/dio Integration zu haben.
https://pub.dev/packages/dio

Vielleicht li

[2021-12-25 14:51] AMorgaut commented on #9138
I confirm that We have had a need to initialise states by sending messages to an AWS SQS before sending the HTTP request to test.

We finally went to the Robot framework solution adapting the boto3 python library to a robot library
We still use postman & newman for some other tests (appreciating the JavaScript API but missing the promise based APIs)

[2021-12-26 04:43] hanancs commented on #4671
Hope Biden's government will look into this.. 😂

[2021-12-26 09:53] shubhbhargav commented on #9423
@kenirwin Can you please confirm that the changes were saved to the environment before clicking on the `Send` button? I was able to replicate the issue with the steps mentioned above. In order to fix the issue, I saved the environment and it worked.

[2021-12-26 10:02] pe-jot commented on #10181
As a first step, it would be great to be able to simply open and close a Websocket, e.g. via JavaScript's Websocket() constructor. Our system in many cases needs a websocket connection to be established, even not communicating through it in the particular situation. We could increase our test coverage in a great amount by having this simple way available.

[2021-12-26 10:17] shubhbhargav commented on #10490
@randomev @nopeless  Thanks for raising the concern. I've verified that the response in-fact changes with the repeated calls but the timestamp doesn't in the rendered response..

Let us look into this further and get back to you shortly. In-case this is blocking for you, please feel free to reach out to us at help@postman.com. We can help figure out the older versions of the app which didn't have

[2021-12-26 10:30] shubhbhargav commented on #10510
@Jebarson If I am not wrong, you are referring to the name / slug of the request which is generally used for human readable names. Since URLs could become lengthy to identify the requests in a collection, the slug / name helps with the identification better.

For example, in the above screenshot, the highlighted string can be `Get Weather Map`.

Let me know if this helps. :) Closing the issue for

[2021-12-26 10:30] #10510 closed, assigned to nobody

[2021-12-26 10:47] nopeless commented on #10490
@shubhbhargav any comments about the button bar for "raw view"?

I was specifically having issues with that
ended up using curl to an output file as a temporary fix

[2021-12-26 11:01] shubhbhargav commented on #10490
@nopeless We will look into that as well. :) In order to unblock you, let me share a quick trick that you can use.

Steps:
1. Add the following code in the `Tests`:
[code]
2. Open `Postman Console` on the right bottom of your screen
3. Save the request and click the `Send` button
4. You should be able to see the raw data from the request

[2021-12-26 14:41] shubhbhargav commented on #8689
@codysechelski It might be a different issue that you are facing. Can you please open a ticket with us by sending an email to `help@postman.com` with some details around the workspace IDs as well as maybe a sample collection to reproduce the issue?

[2021-12-26 15:22] shubhbhargav commented on #10514
@custj I tried replicating the same but wasn't able to do so. Sharing the screenshot below. I've 2 hypotheses here:

- It could be OS specific (I tested it out on Mac) -- I will see if it's reproducible on Windows 10
- Maybe the `GraphQL Variables` JSON was malformed

Can you please share the exact JSON that you used for the variables? I tried to mimic it as much as possible but maybe I am missing

[2021-12-26 15:46] shubhbhargav commented on #10519
@AlexandrTairov I tried reproducing the issue with httpbin but wasn't able to do the same. It could be specific to the service you are calling. In order to verify it further, can you please have a look at the `Console` in the left bottom corner of the app and see if the request is being sent as expected by the server?

---
Regarding the test I did on my end to validate the issue, I used a request:

[2021-12-26 16:09] shubhbhargav commented on #10518
@m3dbedb Can you please share the following to help us debug this further:
- A recording for the issue happening live -- in-case the collection contains sensitive information, please do remove the same and share it on `help@postman.com`
- [if possible] a scaled down version of the collection that is facing this issue -- you can share it on `help@postman.com` itself

We tried reproducing it at our

[2021-12-26 22:26] joseluisq commented on #9176
The same here. I'm trying this small php script under nginx which works fine via **curl** or **hoppscotch** but fails with postman.

[code]

[2021-12-26 22:59] joseluisq commented on #9176
Correcting my previous comment.
I was using a dev server and an old postman version.
However if I use a latest postman like `9.6.1` as well as a proper server like **Nignx** my requests work with no this postman issue.

[2021-12-27 01:28] cs12110 commented on #10496
Miss, would you mind tell where the folders(`com.postmanlabs.mac`,`com.postmanlabs.mac.ShipIt`) it is? I can't find on my mac, silly me. It the path is `/Library`?

[2021-12-27 04:48] akshaydeo commented on #6719
@OmgImAlexis Yes. We are prioritizing this request :). Will keep you all updated 🙇

[2021-12-27 06:26] postman-support commented on #10496
Hey hi,
Sorry for the delayed response.

If you are looking for the Postman installation folders and backup files then you can find them under the following directory

`~/Library/Application Support/Postman `​ for macOS

I would also like to keep you informed that  `/Library` and` ~``/Library `are different.

Feel free to reach back out if you need anything else. I'd be more than happy to help:)
v

[2021-12-27 08:01] m3dbedb commented on #10507
I have the same issue, under centos 7 postman since 9.x.x version never starts after postman updates. Message "prepare workspaces" hands until system reboot.

[2021-12-27 09:50] postman-support commented on #10487
Hi @p6345uk,

We haven’t received the requested information. Let us know if the web version helped you, also as requested kindly send us the apps logs via https://support.postman.com/hc/en-us/requests/new to investigate the issue further.

Thanks!

via @ash007-postman | Postman Support

[2021-12-27 11:20] spaceMan00 commented on #2801
+1

[2021-12-27 14:24] m3dbedb commented on #10204
the feature does not work in centos 7 with postman 9.6.1

[2021-12-27 14:26] m3dbedb commented on #10520
I confirm the issue both in windows and linux

[2021-12-27 14:27] m3dbedb commented on #9950
Related task https://github.com/postmanlabs/postman-app-support/issues/10520

[2021-12-27 15:24] bdelamatre commented on #9449
Any updates here? This `View more` table feature seems to have slipped in at some point and it's unclear how to disable it. I can understand it's usefulness in certain circumstances, but in others it interrupts the documentation and causes confusion.

[2021-12-28 00:58] ChristineP2 commented on #10496
Sorry, I may not have been clear.

I was able to resolve the problem reported by @cs12110. In order to resolve that issue, I uninstalled postman, deleted the aforementioned cache directories and reinstalled postman.  Once I took those steps, I was once again able to use find/replace.

My first message ended up being unrelated, but it was basically that your logs have a lot of chatter and errors an

[2021-12-28 06:03] shubhbhargav commented on #10490
@nopeless @randomev We've identified the issue at our end which was causing the response to be not updated at times. We will be releasing a fix soon. We will update this thread once done.

Regarding the `Raw` and other tabs in the response section, that is by design since viewing the binary data is not helpful in our opinion.

[2021-12-28 06:43] postman-support commented on #10507
@vstrelstov I believe the disable GPU action was done during the launching of the app and not on the system variable level as shared in doc. Could you try the same and let me know if that still persists?

* * *
@m3dbedb Could you please submit a support request: https://support.postman.com/hc/en-us/requests/new to help us look into this further?

If you could share the application logs and system

[2021-12-28 07:03] nopeless commented on #10490
Glad that it will be fixed. But I think the raw button should be there

@shubhbhargav

I need it to see if svg data is properly generated though

Could it at least be an option? "show RAW button on svg responses"

[2021-12-28 07:32] VShingala commented on #10179
@Uugsx @sca-ai @cipherwizard9 We've fixed the issue mentioned in [this comment](https://github.com/postmanlabs/postman-app-support/issues/10179#issuecomment-954017894) with the latest Postman app (v9.7).

You should be now able to import multi-file WSDL specifications [like these](https://github.com/VShingala/wsdl-specs) successfully.

[2021-12-28 07:32] #10179 closed, assigned to shashankawasthi88

[2021-12-28 10:12] raminious commented on #4687
same here. I stopped using Postman as it was consuming more than 3gb of RAM
for the record my machine is Macbook pro M1 pro

[2021-12-28 10:17] postman-support commented on #10496
Thank you for clarifying.

Glad that your problem was sorted out.

Thank you for flagging this, we greatly appreciate it.
Please let me know if I can do anything else for you

via @Lincimary | Postman Support

[2021-12-28 10:50] giridharvc7 commented on #10499
@cnmade
If this is for a request, you can put this request in a collection and run the collection with the said `n` iterations. You will get an output like so
<img width="1064" alt="Screenshot 2021-12-28 at 4 19 01 PM" src="https://user-images.githubusercontent.com/1040583/147558708-c6cfee92-f713-4ef3-8752-7b143d6a1662.png">

Do you need this for benchmarking purposes?

[2021-12-28 11:14] giridharvc7 commented on #10515
@youthboy is this on scratchpad?

[2021-12-28 11:46] appurva21 commented on #5194
Hello everyone 👋

We are immensely excited to announce that with the latest release of Postman, you can now test your gRPC APIs! 🎉

### Feature Overview
- Protobuf API management
- Unary, Client streaming, Server streaming, and Bidirectional streaming RPCs
- Message authoring powered with code completion and autogeneration
- Metadata, Authentication and TLS configuration
- Templating using Postman

[2021-12-28 11:46] #5194 closed, assigned to giridharvc7, codenirvana

[2021-12-28 12:21] malvikach commented on #6639
We are excited to announce that, with this release (9.7.0) we have shipped the masking feature.

You can now mark variable type on environment and globals. We support types `string` and `secret` with this release.

- Type string will appear as plaintext on the screen, while type secret will enable masking of initial and current values of the variables. Variable type secret can be used to store sen

[2021-12-28 12:22] #6639 closed, assigned to vkaegis, malvikach

[2021-12-28 12:23] malvikach commented on #8388
We are excited to announce that, with this release (9.7.0) we have shipped the masking feature.

You can now mark variable type on environment and globals. We support types `string` and `secret` with this release.

- Type string will appear as plaintext on the screen, while type secret will enable masking of initial and current values of the variables. Variable type secret can be used to store sen

[2021-12-28 12:23] #8388 closed, assigned to giridharvc7, malvikach

[2021-12-28 12:31] malvikach opened #10522 "Type 'secret' or 'string' gets overriden with type 'text' when using postman public apis"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Type 'secret' or 'string' gets overriden  with type 'text' when using postman public apis.

### Steps To Reproduce

1. Create a new environment
2. Add a variable with type secret
3. save the envienment
4. User postman public API to get the environment
5. The returned json replaces the type

[2021-12-28 13:55] arlemi commented on #2801
We've added support for gRPC (in beta) in the latest version of Postman, this includes:

- Protobuf API management
- Unary, Client streaming, Server streaming, and Bidirectional streaming RPCs
- Message authoring powered with code completion and autogeneration
- Metadata, Authentication, and TLS configuration
- Templating using Postman Variables

![grpc-postman](https://user-images.githubuserconte

[2021-12-28 14:25] cnmade commented on #10499
@giridharvc7 thanks for tips。

[2021-12-28 14:25] #10499 closed, assigned to giridharvc7

[2021-12-28 15:17] abdurrahman commented on #6008
I've recommend you to remove manually modal with following direction. Its a short term advise 😃
View > Developer > Show Dev Tools and inspect modal for selection and delete.

Its also happening when you have team workspace, if you don't use then remove your account via browser. After that, It'll work on desktop app once you sign out and sign in again. For that purpose you have to follow 1st hackin

[2021-12-28 15:56] ahmedalnuaimi commented on #5194
@appurva21 can we already use Protobuf with HTTP requests?

[2021-12-28 18:28] bdharrington7 commented on #8935
As this is still happening, re: your comment about a conditional focus, I don’t think it’s appropriate under any circumstance to grab focus. It doesn’t make sense to me: if I’m working on something else, by definition I am not paying attention to Postman loading. I don’t need nor want Postman to yank me away from whatever I’m doing when it’s done updating. I honestly can’t think of any scenario wh

[2021-12-28 19:17] arlemi commented on #2801
From @appurva21 in #5194 :

Hello everyone 👋

We are immensely excited to announce that with the latest release of Postman, you can now test your gRPC APIs! 🎉

### Feature Overview
- Protobuf API management
- Unary, Client streaming, Server streaming, and Bidirectional streaming RPCs
- Message authoring powered with code completion and autogeneration
- Metadata, Authentication and TLS configuratio

[2021-12-28 20:08] ebebpl commented on #8961
Similar high GPU 80-90% when Postman Desktop client was open throughout the day. This laptop is high-end i7 8vcpu 32GB RAM but I could hardly move my mouse it was stuck when GPU reaches 90%. Once I closed Postman desktop GPU usage went below 10% and remained there and laptop was back to normal. The GPU 90% was seen for the process Desktop Window Manager.

[2021-12-28 20:40] luiscordero29 commented on #8205
kill process for my linux

`killall Postman`

[2021-12-28 20:47] ChristineP2 commented on #10496
So, when I upgraded and the find/replace stopped working, it seems like that relates to the caches.  I wonder if cleaning up whatever caused the issue could be automated? If not, at least there is a work around, but it would be nice if we didn't have to uninstall/delete/reinstall to resolve whatever conflict prevents find/replace from functioning after upgrade.

[2021-12-29 00:58] Mac351 commented on #2801
Why is this closed? What does gRPC have to do with protobuf? I want to be able to send protobuf requests to any API.

[2021-12-29 03:18] postman-support commented on #10281
Hey @NiklasBr

The underlying editor of the Response viewer is the `monaco-editor`, which is a 3rd party editor. `monaco-editor` follows a strategy to degrade the features available in the editor if the file size is more than 20MB. Due to this, we don't see any syntax highlighting, formatting, etc. This is being done to reduce memory consumption and prevent the editor from crashing.

The same is c

[2021-12-29 03:33] codenirvana commented on #2801
@Mac351 Right, gRPC is just a first step to introduce Protocol Buffers in Postman.
I understand your use case and I hope support for Protobuf in Postman API will fast track the integration with HTTP.

Reopening this issue.

[2021-12-29 04:52] shubhbhargav commented on #10490
@nopeless We will look into it and let you know. Thanks for the feedback. :)

To be on the same page, you are referring to the binary data in `RAW` button right?

[2021-12-29 05:00] nopeless commented on #10490
I'm referring to the text output (isn't that what the RAW button does in html responses?)

[2021-12-29 05:01] shubhbhargav commented on #10490
Correct but it's in-fact HTML (or textual representation of the same), not binary. We will look into the same for binary as well.

[2021-12-29 05:33] vini46 commented on #5194
@appurva21 in BloomRPC we have an option to add a path so that protos that are importing other proto files will be working fine, is there something like this available in postman?

![Screenshot 2021-12-29 at 11 02 11 AM](https://user-images.githubusercontent.com/5517009/147630377-03e6d480-9499-4167-8c56-2a06f975b894.png)

[2021-12-29 06:10] codenirvana commented on #5194
@ahmedalnuaimi Not yet, we are tracking this feature request here: https://github.com/postmanlabs/postman-app-support/issues/2801.

---
@vini46 Not at the moment. Currently, we have some limitations around handling multiple proto files and we have a lot of improvements planned for the next year to improve this workflow.

[2021-12-29 07:02] nopeless commented on #10490
ok, then I need the HTML output for SVG responses @shubhbhargav . Is this possible?

[2021-12-29 07:48] Halimao opened #10524 "Auto detect gRPC service and method if gRPC server reflection is open"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Auto detect gRPC service and method if gRPC server reflection is open

### Describe the solution you'd like

If gRPC server reflection is open, after filling the grpc server url, auto detecting the gRPC server and method

### Des

[2021-12-29 09:22] SimonVillage opened #10525 "Don’t expand request when clicking on name"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The sidebar with the requests should provide a clear overview of all the requests in a collection.

<img width="279" alt="image" src="https://user-images.githubusercontent.com/1446685/147646557-53796a16-c778-4135-9378-de3ad2c1f61

[2021-12-29 09:41] postman-support commented on #10496
Thank you so much for sharing your feedback on this.

I will forward it to our engineering team to check and address it, they are still working towards the fix. I will also keep you posted on any updates from the team.

via @Lincimary | Postman Support

[2021-12-29 10:38] postman-support commented on #10520
Hi there,

Sorry to see you are facing issues using the app.

To investigate further and we will need App logs, your email ID & other details. Since GitHub is a public platform it is not good to get those details on this thread from you for security reasons.

To assist you further - could you open a new support request from our support channel using this link - https://www.postman.com/support/ , p

[2021-12-29 12:38] harishasan commented on #1983
Happening again
![image](https://user-images.githubusercontent.com/1760859/147662931-fa123ae9-aeb4-4dba-b62f-6683d0238b9b.png)

macOS Big Sur 11.6.1

[2021-12-29 14:19] Fuzzo opened #10526 "Postman v9.5.0 stuck on loading screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Existing issues searched but are about different environment.

Postman v9.5.0+ crash on loading screen right after run, a kill is required.
v9.4.1 works perfectly.
The problem is that is not possible to avoid auto-update between minor versions, so i've to re-install v9.4.1 every time i need

[2021-12-29 14:36] jbool24 commented on #10526
To add to this... This is because the APP is a dirty bird and shutdown does not clean up after itself :facepalm:
The global lock is left between launches in the temp directory for the socket.  A work around is to find and unlink the `SS` link from the Postman configs directory. Hopefully Postman can clean up this sloppy behavior.

For Linux:
`unlink ~/.config/Postman/SS`

[2021-12-29 17:52] ebebpl opened #10527 "Make Postman Desktop version easier to see."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I clicked all the Desktop menus but nowhere I could see the installed version. Since I wait for major version releases before upgrading so will be helpful to know current installed version.
Update: Found version number under Sett

[2021-12-29 20:57] saezf commented on #9566
Really annoying bug. Is there a fix planned for the next release?
I get that the workaround is to downgrade to 7x, but it would be nice if we can get an actual fix for this bug.

[2021-12-29 21:49] AWolf81 commented on #7286
You could create a collection that is using the request name for the method name and the parameters (if any) can be set as a pre-request script in the request.

With this, it's pretty easy to add new requests by duplicating the request and renaming it to another method name without repeating the JSON body - if copying the JSON is a problem, it's also possible to place it in an env. variable and us

[2021-12-30 01:37] cs12110 commented on #10496
Upgrade the postman version to `Postman v9.7.1`, the function is back to normal.

It's back(make me cry like a little child.jpg).

Thanks for the detail of solve the problems.

Have a nice day. :"}

[2021-12-30 02:07] luigicfh commented on #1946
Has this issue been resolved yet?

[2021-12-30 05:09] drps commented on #10401
`fc-cache -r -v`
`sudo fc-cache -r -v`
fixed the issue for me on 20.04

[2021-12-30 05:36] sujayvenaik commented on #10388
Hey @SanthanaRamaraj

Can you open a support ticket with all the relevant details (like workspaceIds/name) and someone should pick it up from there to assist you on this.

Please raise a ticket at https://postman.com/support or by emailing us at help@postman.com.
Thank you, we'll be keeping an eye out for your ticket.

[2021-12-30 05:51] timothydillan commented on #10527
The option exists on the latest version of Postman.
<img width="689" alt="Screen Shot 2021-12-30 at 13 50 40" src="https://user-images.githubusercontent.com/88418007/147725288-1ef7a9fa-3953-48ac-8eb9-be3bea33f6de.png">

[2021-12-30 06:24] PathakAditya opened #10528 "The collections saved on Windows machine is not viewable on Mac machine & vice-versa using same credentials."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The title is sufficient, please comment for more details

### Steps To Reproduce

Log in to Mac and Windows with the same credentials.
verify the collections in both machines.
Collections created in Windows are not visible on Mac and vice and versa.

### Screenshots or Videos

NA

### Envir

[2021-12-30 06:47] sujayvenaik commented on #10395
@sakiyo is this issue resolved for you?

I'll close this thread because of inactivity, but feel free to leave a comment or raise a ticket at https://postman.com/support or by emailing us at help@postman.com.

Thank you.

[2021-12-30 06:47] #10395 closed, assigned to nobody

[2021-12-30 07:07] sujayvenaik commented on #9620
@RaffaelaHiess @harsh-reality With the release of the latest improvement in workspaces this is possible.

if the team is assigned the editor role on the workspace, then all elements inside the workspace all team members by inheritance will have editor access. More details here: https://blog.postman.com/collaborating-postman-workspace-roles/

You can get the latest version of the postman-app from:

[2021-12-30 07:07] #9620 closed, assigned to sujayvenaik, preethammavin

[2021-12-30 07:10] shakhzodrasulov commented on #3518
Same issue on Windows 10, Postman v9.7.1 in the latest version by today

[2021-12-30 07:21] vikasg603 opened #10529 "Option to add description or comment in websocket documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, I am storing some important WebSocket messages and giving them some names.
With these messages, I am sending some parameters.
In the future, I might forget what these parameters are, or if I wanted to hand over the doc

[2021-12-30 08:45] ryan961 opened #10530 "GRPC `Couldn't import protobuf definition`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

![image](https://user-images.githubusercontent.com/32825698/147735755-e0f5566c-e358-4be2-ad7c-91973d5620c4.png)
![image](https://user-images.githubusercontent.com/32825698/147735780-5de0885b-aad1-4a48-ae21-bcdb610abe37.png)
how can i make it work?

### Steps To Reproduce

![image](https://u

[2021-12-30 10:56] postman-support commented on #10496
Awesome, thanks for letting me know!
If you’re all set, that’s great - I will go ahead and mark this situation `Solved`.

Please let me know if you need anything else. I'd be more than happy to help.

Have a great day:)

via @Lincimary | Postman Support

[2021-12-30 11:51] shamasis commented on #10530
Just a quick precursory set of questions before the rest of the team deep dives in your issue? Is it only this protofile that fails to open or every protofile results in this error? Can you try putting a proto file in your documents directory that has full filesystem permissions and attach that?

[2021-12-30 14:50] ebebpl commented on #10527
Thanks for the info!

[2021-12-30 14:50] #10527 closed, assigned to nobody

[2021-12-30 18:18] mostafa-drz commented on #8195
I lost 20 requests I created inside a collection. A mixed feeling of hope, frustration and surprise. Autosave sounds very normal that I didn't even think about saving manually. So I lost whatever I created after I closed my Postman.

Please add autosave

![images](https://user-images.githubusercontent.com/25212827/147778087-799a779a-c76b-42c9-a019-b421a793a152.jpeg)

[2021-12-30 18:19] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2021-12-30 23:01] ghost opened #10531 "Search in requests' urls for a keyword"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Knowing the url of an API in an app, I can't search in Postman for requests that call this API by searching for a keyword from the API's url.

### Describe the solution you'd like

I want the search feature to also search the req

[2021-12-31 03:32] ParrySMS commented on #8747
Postman v9.7.1  meet the same issue.

[2021-12-31 06:20] ParrySMS commented on #8747
Please see my new comment. It maybe helpful.

[2021-12-31 07:11] Ryalu commented on #10530
Thank you for reply. It looks like he can't load the `import ...` path in the file.
![image](https://user-images.githubusercontent.com/32825698/147808964-1c8d76b9-182b-4f7c-87e2-ac1c16e6c593.png)
But it is not a necessary option for functionality，can add options for `mark directory as resource root` like it?
![image](https://user-images.githubusercontent.com/32825698/147809130-1ef51b3e-83e5-4532-b

[2022-01-01 15:47] amirmd76 opened #10532 "Add support for googleapis protobufs in gRPC"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Right now we need to download the googleapis protobuf defenitions and put it next to the proto files in order to use it. (For example: [annotations.proto](https://github.com/googleapis/googleapis/blob/master/google/api/annotation

[2022-01-01 15:58] amirmd76 opened #10533 "Support using server certificate for gRPC"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Right now you'd have to add the certificate of the server to the Certificates to be able to use TLS alongside gRPC, otherwise getting "13 INTERNAL" error. This become a pain specially when using Lets Encrypt certificates which ha

[2022-01-01 23:28] Ursus89 commented on #3344
I deleted old cookies and copied them from browser where it works
thnks to this guide https://www.youtube.com/watch?v=WcRHYRaqAnk

[2022-01-01 23:33] Ursus89 commented on #5803
I deleted old cookies and copied them from a browser where it works
thanks to this guide https://www.youtube.com/watch?v=WcRHYRaqAnk

[2022-01-02 19:07] chrispaynter commented on #7301
I'd say this is crucial behaviour that is missing from the product.

It's perfectly valid to have an optional query parameter, but the way Postman currently works, that parameter may as well not exist.

This isn't a feature request, this is a bug.

[2022-01-02 19:25] chrispaynter commented on #7301
Hmm, ok I think my issue is more to do with the fact I'm using the api to synchronise collections. I just deleted the endpoint manually, then ran the sync again and it's now working.

Though, one issue is that the query parameters that are optional are all activated by default, but I can live with this.

Though would make more sense if they wore disabled by default I think.

[2022-01-03 06:42] postman-support commented on #10528
Hi **@**PathakAditya

Thank you for reaching out to postman.

We tried replicating the issue from our end and it seems that it worked for us as expected and the collections were showing up on both the machines. We have tested it on the latest version (v9.7.1) on both machines.

Could you please provide us with some more information about the issue so that we can check and investigate further:

- H

[2022-01-03 08:42] NiklasBr commented on #10281
From my perspective this is not a feature request, since it is unexpected and undocumented behaviour that interferes with usage of Postman.

[2022-01-03 09:31] mehdinourollah commented on #7885
Can you tell me how this is possible ?
I can't figure it out how to display the end-user response codes and error codes

[2022-01-03 09:32] mehdinourollah commented on #7885
I mean this...can you explain more?

[2022-01-03 09:59] giridharvc7 commented on #10531
@thenrich2009 Just to confirm, you are doing this on `1` and not on `2` ?
<img width="978" alt="Screenshot 2022-01-03 at 2 50 11 PM" src="https://user-images.githubusercontent.com/1040583/147918282-a5bc5778-21d1-4d41-9eb7-7242ba90e878.png">

[2022-01-03 10:54] akshay-kulkarni-03 commented on #9706
@khandelwalneeraj / @feelipegr we have re-vamped our sharing experience, where you can how provide explicit roles to team members/user groups while sharing an element. In your case, if you just provide a view role to the other team members your request limit should not get breached in that case. I will discuss this internally with our team and will see if we can have `unshare` kind of a feature in

[2022-01-03 11:12] uschwag opened #10534 "gRPC Should support Pre-request and Test scripts (at least for unary requests)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In many situation it is either necessary to set result data to a variable or to get data from a variable to provide it as input to the next result. E.g. A Login requests provides a session id which following requests need to prov

[2022-01-03 12:13] shashankawasthi88 commented on #8844
@sweethuman Two APIs can not be connected to the same repo+branch combination. If the APIs are hosted in the different branches of the same repo, you should be able to connect to them. We don't yet support the mono-repo pattern yet.

[2022-01-03 12:15] #8844 closed, assigned to jotsarup

[2022-01-03 12:55] valentinbeggi opened #10535 ""GET /collections" is not listing all collections from all workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When using Postman API's "GET /collections" request, only collections from 2 out of ~10 workspaces are retrieved.

Details:

We have built a CI/CD extensively using Postman monitoring features and the 6 developers of our team each have their own workspace. There is a Master Workspace from w

[2022-01-03 13:01] RobbyDeLaet commented on #8038
Same here. Postman is a great product, but too often it takes years before a serious issue or feature request is solved. I can no longer defend the use of Postman in our organization. We are also considering the move to Insomnia.

[2022-01-03 14:57] harshit-budhraja commented on #10411
Hi @apozeus, thanks for bringing this issue in light.

We've fixed this as of `v9.7.0` but recommend using the latest version to have the best experience with Postman.
You can get the latest version from [here](https://www.postman.com/downloads/).

Please feel free to reach out in case of any issues / concerns.

Closing this! cc: @akshaydeo

[2022-01-03 14:57] #10411 closed, assigned to akshaydeo

[2022-01-03 15:33] zeesattar commented on #10530
+1

[2022-01-03 16:17] flovogt commented on #4808
Following code did it for me:
[code]

[2022-01-03 16:43] flovogt commented on #422
I wanna add a third workaround option which solved it for me.
Add your content as designed in the `raw` body field and use as pre-request-script
[code]

[2022-01-03 18:46] kenirwin commented on #9423
@shubhbhargav - that solved it. It took me a while to find the save button!

[2022-01-03 22:24] thenrich2009 commented on #10531
I was using 1. I used 2 and got some results but when I click on the title which is hyperlinked, it doesn't go to that request. Nothing happens. Shouldn't it jump to that request?
My workaround is to copy the title from the result of 2 and paste it in 1 to find the requests.

[2022-01-04 00:57] DavidDeks commented on #10502
The "Close All Tabs" and "Force Close All Tabs" don't work for me either.
![image](https://user-images.githubusercontent.com/53012236/147995769-4e56f832-8931-493e-820c-c389fa363c68.png)

Using macOS BigSur version 11.6.2
Postman Version: 9.7.1

[2022-01-04 01:24] DavidDeks opened #10536 "Find and Replace Forked Entities Label"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When using Find and Replace and selecting specific collections or environments under the "Choose entities to find in", forked entities appear in the list with the same name as the master entity:
![image](https://user-images.githu

[2022-01-04 01:47] mistryvipul2002 commented on #5817
+1 for this feature

[2022-01-04 01:49] DavidDeks opened #10537 "Find and Replace Doesn't Replace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Find and Replace isn't replacing values.

### Steps To Reproduce

1. Select "Find and Replace" from the bottom left
2. Enter a search term in "FIND"
3. Select a Collection under "Choose entities to find in" (Currently selecting "Everything" doesn't work for me. Similar to issue [10496](http