[2022-02-09 08:25] yamila-moreno opened #10646 "Link from error summary"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Not quite a problem, but I see this as an opportunity to improve Postman (which is awesome, BTW).
When I run a collection of endpoints (using them as e2e tests), I can see a summary of the errors, like:

![postman-error-summary](

[2022-02-09 10:45] Tvde1 commented on #3880
How did you fix this?? Production is down :sob:

[2022-02-09 11:06] monzonj commented on #8747
Alternative to postman: https://hoppscotch.io/

[2022-02-09 11:08] swantzter commented on #9598
Well I guess windows 11 "solves" this by plain out not allowing you to have the taskbar at the top -_-

[2022-02-09 12:09] milesbuckton commented on #3166
✔️ This appears to be working now. 😄
ℹ️ If you toggle the setting I found that you need to close the app, and reopen it again.
💡 I'm using the latest version currently:

![Version](https://user-images.githubusercontent.com/37063023/153198139-a05c0516-2a2e-4870-b6a9-e0b1a3cb216b.png)

[2022-02-09 12:10] tomaszwojciechowski opened #10647 "Function for displaying path of url as name of request in Runner"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Sometimes it's clear what specific request does by looking on  method and path of url (e.g. POST /items), while name of request is more descriptive (e.g. "creates new item").

### Describe the solution you'd like

It would be nic

[2022-02-09 13:49] sweco-nlridc commented on #8195
+1

[2022-02-09 14:21] bpedro commented on #10625
Hi, @valentinbeggi. The fix is now in production. Please let me know if it's working as you expected. Thanks.

[2022-02-09 14:49] jviotti commented on #8288
Thanks for opening a new ticket for this @Vaibhav7Prakash !

[2022-02-09 14:57] #10528 closed, assigned to postman-staff

[2022-02-09 15:01] #10520 closed, assigned to postman-staff

[2022-02-09 15:02] #10450 closed, assigned to postman-staff

[2022-02-09 15:02] #10434 closed, assigned to postman-staff

[2022-02-09 15:05] jviotti commented on #8935
Hey @bdharrington7 ,

The latest version of the Postman app has removed the loading screen altogether, so we believe this should not be a problem anymore!

[2022-02-09 15:05] #8935 closed, assigned to nobody

[2022-02-09 16:32] mzatko opened #10648 "import from URL doesn't work anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

collection/API json import from URL stopped working in postman version 9.13 (maybe little earlier)
with message: "error while fetching data from link", It looks like it doesn't care about what you enter as URL
Now I need to download from exactly same URL (using postman e.g.) into a file and

[2022-02-09 20:08] sunnyttravers commented on #9103
This is no longer an issue. I just confirmed it. Thanks!

[2022-02-09 20:32] ChadSpears commented on #2030
+1
Would prefer window.open(JSON.parse(responseBody).Url) in Tests run, but the link to open in a new window would be sufficient if it worked.

[2022-02-09 22:00] melissadonohue commented on #9059
Any updates?

[2022-02-09 22:40] jkdba commented on #10641
I have also identified this error, it happens on any type of request method and only every other request.

The issue seems to be a combo of having the no-cache header enabled and a request url length over 64 characters.

Turning off the no-cache header option and testing again the issue goes away, or if you reduce the url character length to < 65 it also goes away.

running version:

## Environmen

[2022-02-10 03:23] nkev commented on #10450
It's ok, I used another open source product.

[2022-02-10 05:22] postman-support commented on #10634
@coder-free I just wanted to follow up here and see if the provided resources helped or if you still needed assistance. Thank you!

via @Raj-postman | Postman Support

[2022-02-10 07:15] giridharvc7 commented on #10001
@Shubham-Kumar-2000 While the request was executing, can you help me understand which environment was selected to be active?

[2022-02-10 08:27] rubydev opened #10649 "Request headers are not captured with Postman proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello,

when I want to capture requests from mobile device (IOS) via Postman Proxy, all requests are captured included cookies. Problem is, that request headers missing (for example mobile app user-agant).

### Steps To Reproduce

I followed all instructions [here](https://learning.postman.

[2022-02-10 09:40] tainmar commented on #10231
@Raja-Simha Up on this one as it is really required.
Our workflow is very similar to @Sebaroni 's one.
Thank you for your update

[2022-02-10 10:25] felaray commented on #5040
+1

[2022-02-10 10:40] #10522 closed, assigned to malvikach

[2022-02-10 10:41] malvikach commented on #10522
A fix for this had been released. :)

[2022-02-10 11:08] ivikramsahu opened #10650 "Secret Variables visible 👀 on console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The Variables which are set to secret type can be easily visible (unmasked) on console while debugging or screen sharing.

### Steps To Reproduce

1. Set an environment / global / collection variable to secret type.
2. Use the variable in one of your API request.
3. Open and clear your cons

[2022-02-10 11:14] nikhilbisht opened #10651 "On deleting Collection, deleted collection appears and then disappears from the workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Whenever I am deleting any collection from the workspace, first it appears after deleting it and then it disappears

### Steps To Reproduce

1. Open postman desktop app
2. Go to any workspace where collection already exists
3. Now delete any collection
4. **Actual Result**: Observe that aft

[2022-02-10 14:10] CodrutIlie commented on #2701
+1

[2022-02-10 14:12] alinn28 commented on #2701
+1

[2022-02-10 14:41] #10625 closed, assigned to bpedro

[2022-02-10 15:05] giridharvc7 commented on #10651
@nikhilbisht This is fixed on the web version, can you check and let us know if it works as expected for you?
The app update will follow up soon

[2022-02-10 16:31] milkiweed commented on #8195
+1. Any news???

[2022-02-10 16:32] romualdr commented on #6452
+1 for this.

I can see that you've added a card in the public roadmap:
https://github.com/postmanlabs/postman-app-support/projects/45#card-59042393

One question: what does "[entreprise/business]" mean in the title ?
Does it mean this feature will only be available / paywalled only for business / entreprise ?

If so, please consider this option:
"Allow every account to have MFA for their account,

[2022-02-10 16:34] vec715 opened #10652 "Autosave feature"
### Is your feature request related to a problem?

is it so difficult to implement an autosave feature? People have been waiting for this for years.

### Describe the solution you'd like

ADD AUTOSAVE

[2022-02-10 17:02] #10652 closed, assigned to nobody

[2022-02-10 17:08] prcdeveloper commented on #7766
Step 5 - you can directly save generated html, go to Sources tab and right click on html file from left side and click on "Save as.."

[2022-02-10 17:38] graham-saunders commented on #9552
@Raja-Simha per our company branding guidelines, we need to use a full-size logo.

Here are our postman API docs: https://docs.virtuoussoftware.com

Here is our company website: https://www.virtuous.org

Any chance we can get some movement on this?

[2022-02-10 18:46] joshorr commented on #7150
I'm in the same situation, just discovered this limitation.

[2022-02-10 20:03] christianklemp commented on #6316
I have a similar need for this - as a shared collection that had forks got deleted and no longer has relation to those forks once restored. Now I have no way of getting changes merged to the restored collection from the forks that contained many changes. Doing this manually via the collection JSON objects has proved cumbersome.

[2022-02-10 23:26] jota0222 commented on #8195
I like Insomnia and how it autosaves all the requests and even the responses, if it wasn't because my job that requires it due to the Postman collections we have, I wasn't here asking for this feature, but yes, it's very important so please!!!

[2022-02-10 23:28] milkiweed commented on #8195
@DannyDainton any info please? when will we be able to see this feature approximately?

[2022-02-11 03:57] giridharvc7 commented on #10651
Glad it worked :) Closing this ticket for now! Feel free to open another one if you have any feedback/issues

[2022-02-11 03:57] #10651 closed, assigned to nobody

[2022-02-11 04:35] giridharvc7 commented on #10605
Got it, My bad I misunderstood this.
I understand, there needs to be some sort of `user preferences` when it comes to the Postman UI itself. We'll take this as a feature request

[2022-02-11 04:40] shashankawasthi88 commented on #10649
@rubydev can you also confirm if the headers are present in the in-session view (click on the arrow below the request that is captured to expand. You have details of the requests and response there)

[2022-02-11 05:43] rubydev commented on #10649
@abhijitkane I tried capture requests via Interceptor (and Chrome plugin) and it is same, no headers.

@shashankawasthi88 Yes, in the in-session view are headers there in both cases (via proxy with mobile device and interceptor with browser).

[2022-02-11 10:05] korotin commented on #10533
@amirmd76 you don't have to add server's certificate to Postman, just add [LE root certificate](https://letsencrypt.org/certificates/) (I added self-signed one, it's really doesn't matter here). That way you don't need to update certificate in Postman every 3 months.

[2022-02-11 10:44] coder-free commented on #10634
@postman-support Yes, I still need assistance. My empty tab still can't be close.

[2022-02-11 10:48] mtin79 commented on #8195
Can't count how many times i forgot to manually hit the "Save" button after i changed a request (inside a collection) and lost the latest settings after i closed and reopened Postman.
Unusable as long this isn't implemented.
Using insomnia again ...

[2022-02-11 12:33] rdelmont commented on #8929
+1

[2022-02-11 14:52] Shubham-Kumar-2000 commented on #10001
`No environment` was selected.

So ideally it should update the `global` environment. But instead it made it  "undefined"

[2022-02-11 16:36] rsweetland opened #10653 "Feature Request: Set environment variable from popover"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Much efficiency could be gained if the user could set the current value of the env var in this popover:

<img width="329" alt="image" src="https://user-images.githubusercontent.com/81267/153629884-131b6fd4-40c4-4108-8fdf-0107a842

[2022-02-11 17:08] tommyderami commented on #9955
Because their auth code has special classes and methods, the docs indicate you need to update the RequestAuthorization using something like this:
[code]
However, this actually yields the same results as your above-mentioned upsert header technique (although if you check pm.request.auth, you will see your updated auth settings)

The only workaround I have found, which is fairly gross, is to set Aut

[2022-02-11 17:47] simonvane commented on #2701
+ 1

[2022-02-11 18:08] SiddheshSawant opened #10654 "'Secret' Environment variables still exposes the hidden values in Newman's HTML Reports as well as Console's Request Body"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Environment/Global Variables we set as Secret does masks the variable values in Environment quick look area.
But when we are actually using these in requests and run it or executing collections using Newman..
After Execution-
In reports, the Request Body shows the actual

[2022-02-11 19:01] pablohaedo commented on #6682
+1

[2022-02-11 19:19] valonsejdini commented on #2905
+1

[2022-02-11 19:54] fabianotorresrj commented on #1066
+1

[2022-02-12 02:59] coder-free commented on #10634
@postman-support On Postman Web there has no empty tab.

[2022-02-12 03:11] coder-free commented on #10634
@postman-support Just now, I updated the postman native client, by click a button `downloaded upgrade` in `setting` menu. And there has a second empty tab appears. Now there has two empty tabs can't close.

[2022-02-12 07:45] milkiweed commented on #8195
any updates?

[2022-02-12 07:46] vec715 opened #10655 "Add autosave feature"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

is it so difficult to implement an autosave feature? People have been waiting for this for years.

### Describe the solution you'd like

Add fucking autosave feature!!!

### Describe alternatives you've considered

_No response_

[2022-02-12 08:46] Reund0 opened #10656 "Creating new api from desktop app returns "SyncRequestService~request: Undefined response""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi.
I wanted to create an API from left side menu in windows app (latest version).
but after submiting, it returned `SyncRequestService~request: Undefined response` error.
and I don't know what's wrong.

### Steps To Reproduce

1. Click api section
2. Click create an api

[2022-02-12 08:57] DannyDainton commented on #10655
@milkiweed There is absolutely no need or reason to use that kind of language.

[2022-02-12 08:57] #10655 closed, assigned to nobody

[2022-02-12 09:21] DannyDainton commented on #10654
Hey @SiddheshSawant

There is currently an open issue created for the Console view:

https://github.com/postmanlabs/postman-app-support/issues/10650

This would also be the case for areas such as the code snippet generator and the documentation etc.

The masking of the variable is only on the client side to aid in the prevention of sensitive values being seen during screen sharing or _over the sho

[2022-02-12 15:24] steebchen opened #10657 "Auto-complete GraphQL json payload"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, the JSON payload input field in a GraphQL request does not make use of auto-completion.

![image](https://user-images.githubusercontent.com/5013932/153716930-6f527512-fa5f-4f9b-8e01-7cdf60121cd6.png)

### Describe the

[2022-02-12 15:25] ijash commented on #5740
Just wanted to add, if you use [flatseal](https://github.com/tchx84/flatseal), which is a permission utility for flatpak, toggling this solves the problem:

![image](https://user-images.githubusercontent.com/30673286/153717215-62b3a81f-511d-4044-aef0-2bac4682333a.png)

Select Postman and just scroll down on the right pane until you find **FIle System**, and toggle **All system files**

[2022-02-13 07:16] rajib-raiyat opened #10658 "ctrl + q close Postman [confirmation window]"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The postman app closes when the `ctrl + q` button is accidentally pressed.

### Describe the solution you'd like

Pressing the 'ctrl + q' button will bring up a pop up window and ask me for confirmation.

[code]

### Describe alt

[2022-02-13 09:46] #9103 closed, assigned to malvikach

[2022-02-13 13:36] vanilla-thunder commented on #4665
you guys need to simplify and unify your interface a bit.
Call things as they are, and do not use those stupid "stars" and "satellites" placeholders. I suddenly had this "star" *whatever* that looked like a team, but i named my team differently and whenever you click on "manage team" you suddenly get redirected to the website and all of a sudden this "star" thing is not a team anymore, but a teams

[2022-02-14 01:10] yasuaki640 commented on #8195
+1!!!!!

[2022-02-14 03:58] postman-support commented on #10634
@coder-free Thank you for the update.
Glad to know things are working fine on Postman Web!

We suspect that the issue wouldn't be resolved until the cache is cleared for Postman. May I know if you have followed the steps suggested previously for local installation? If not, could you follow them and let us know how it goes.

- Sign out of your account and
  - Quit application
- Clearing cache as pe

[2022-02-14 05:41] shashankawasthi88 commented on #10649
@rubydev thanks for the confirmation. We are working on the issue and will update this thread once the fix is released.

[2022-02-14 05:55] lfpdev opened #10659 "update lost data"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

update every day, fuck!!!!!!!!!!!!

### Steps To Reproduce

update every day, fuck!!!!!!!!!!!!

### Screenshots or Videos

update every day, fuck!!!!!!!!!!!!

### Environment Information

[code]

### Additional Context?

update every day, fuck!!!!!!!!!!!!

[2022-02-14 05:56] akshay-kulkarni-03 commented on #4665
@vanilla-thunder could you please share a video/image about the issue you are facing?

[2022-02-14 05:58] numaanashraf commented on #10659
Hi, we are facing a service outage and our teams are working on getting the service back up. Please follow https://status.postman.com/incidents/bm5gvvvp5y12 for latest updates on the outage.

This is unrelated to an application update and all your Postman data will be accessible as soon as the service is restored.

[2022-02-14 05:58] #10659 closed, assigned to nobody

[2022-02-14 06:13] idan opened #10660 "Websocket connection error from desktop app"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Sync will not successfully connect.
No amount of signing out and signing back in repairs it.
I'm seeing some mobx errors so this might be some state management bug.
There are similar issues but users there report findings in their developer logs (I don't see any suspicio

[2022-02-14 06:30] malvikach commented on #10653
@rsweetland Thanks for writing to us about this.

I agree that this will definitely help improve productivity!! It also seems that since you are dealing with a lot of environment variables, searching variables is a problem for you. Let me know if you would be up for a short discussion about the issues you are facing. Feel free to drop me a note on _malvika.chaudhary@postman.com_ and I will coordin

[2022-02-14 07:01] yangcancai commented on #2701
+1

[2022-02-14 08:11] giridharvc7 commented on #10001
So here you are explicity setting the environment using `pm.environment.set("auth_token", jsonData.token);`
Updating `Global` might not be the correct solution as this doesn't look like the intention.

One of the solutions I can think of is this line can throw an error when an active environment is not selected. We'll track this as a bug

[2022-02-14 09:00] numaanashraf commented on #10660
@idan We had a [system outage earlier today](https://status.postman.com/incidents/bm5gvvvp5y12) that might have caused this. The issue has been resolved. Could you confirm whether everything is working at your end?

[2022-02-14 09:34] cpandya231 commented on #3234
@a85 After almost 5 years, this issue is still open. If you are planning to introduce this as a new feature, can I work on it?

[2022-02-14 11:19] malvikach commented on #3234
@cpandya231 Did you try the 'Code Snippet' functionality available on postman. This is available on the right-side context bar.
You can learn about this [here](https://learning.postman.com/docs/sending-requests/generate-code-snippets/)
The exact request is also available on the console and documentation section. However, I believe that the code snippet functionality will help you out.

Do let me k

[2022-02-14 12:07] malvikach commented on #10245
@timbochamp this is a separate issue, I am reopening the ticket to track the same.
Update: We have started working on this.

[2022-02-14 12:44] malekhin commented on #5817
+1

[2022-02-14 15:20] jelmerdereus commented on #8455
Unticking 'Content-Length' was the root of my problem. Thanks for everyone's contributions 👍

[2022-02-14 15:42] HendrickKay commented on #8713
I had the same issue today. I setup a client certificate (PFX file) with passphrase (which works in other tools). The Console showed BAD_ENCODING.

[2022-02-14 18:33] bpedro commented on #10642
Thanks for sharing this feature request, @zoltang01. Can you share more details about how you would use the response of a license usage API endpoint?

[2022-02-14 20:44] hyNic917 opened #10661 "Mock Server not returning correct content-type"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

According to the documentation one should be able to:
- Create a collection with a request.
- Create an example for that request that returns json and includes the header `Content-Type` with value `application/json`
- Create a mock from the request
- Call the mock and ge

[2022-02-14 20:51] justneedham commented on #10481
+1 This is a behavior I've been experiencing as well.

[2022-02-14 20:51] idan commented on #10660
@numaanashraf still broken, behavior unchanged. I tried signing out and signing back in again. Still getting the same console errors when I try to reestablish the connection.

[2022-02-14 20:53] justneedham commented on #8920
+1

[2022-02-14 22:02] justneedham opened #10662 "Api validation overwrites request names"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I'm trying to put together some basic api tests for my team. We've all been using Postman for years to debug apis but we're now looking to adopt its more advanced features to lifecycle our api development.

I'm trying to create some basic tests for our api.

1. I've defi

[2022-02-14 22:31] chrisdeso commented on #9696
@Pricilla09 We're closing this issue for now – if you're still facing issues, let us know by reopening this or by filing a [support ticket](support.postman.com).

[2022-02-14 22:31] #9696 closed, assigned to postman-staff

[2022-02-14 22:32] chrisdeso commented on #9755
@davidMavs Closing this thread out for now. If you're still facing issues, let us know by reopening the thread or by filing a [support ticket](support.postman.com).

Thanks!

[2022-02-14 22:32] #9755 closed, assigned to postman-staff

[2022-02-14 22:33] #10266 closed, assigned to postman-staff

[2022-02-14 22:33] #10235 closed, assigned to postman-staff

[2022-02-14 22:34] #10212 closed, assigned to postman-staff

[2022-02-14 22:37] chrisdeso commented on #10209
@lolpez We'll be closing this issue out but feel free to reopen it – or to follow up via the support ticket created – if you have any other questions!

[2022-02-14 22:37] #10209 closed, assigned to postman-staff

[2022-02-14 22:37] #10284 closed, assigned to postman-staff

[2022-02-15 00:14] janioxavier commented on #6682
+1

[2022-02-15 01:54] weskoerber commented on #10411
Hello, I'm experiencing this same issue. Schema validation runs for a single request. After that, it doesn't work, it just keeps displaying the warnings from the previous request. When I close the window and reopen it, it seems to work for exactly one request again, then subsequent requests the old behavior returns.

I'm using Postman 9.13.2.

I'm on Fedora 35.

I'm using the Flatpak Postman App.

[2022-02-15 01:57] coder-free commented on #10634
@postman-support Hi, I just sign out my account and relogin. These empty tabs are gone. Thanks.

[2022-02-15 02:42] #10634 closed, assigned to postman-staff

[2022-02-15 03:28] aibmakesense commented on #9487
I face same problem.

[2022-02-15 03:53] postman-support commented on #10634
@coder-free Awesome! :)
Glad to know that helped.

via @Raj-postman | Postman Support

[2022-02-15 03:55] Raj-postman commented on #10622
@dractw Hoping that the earlier response was helpful. Resolution was also confirmed by other user facing a similar issue https://github.com/postmanlabs/postman-app-support/issues/10634#issuecomment-1039768635.

Let us know if you need any further assistance on this case

[2022-02-15 03:55] #10622 closed, assigned to nobody

[2022-02-15 04:22] shubhbhargav commented on #10407
@cdanielsen Thanks for the feedback. We will look into this and see what we can do to ease up the flow of storing / not storing certain type of data.

[2022-02-15 04:48] numaanashraf commented on #10660
Thanks @idan. Are you using Postman within any networks with proxies or gateways that might block Postman's connection to our servers?

[2022-02-15 04:51] idan commented on #10660
No, I'm using it from a home network with a router that I control. It does
not have any unusual rules, and other apps (including ones I develop) which
communicate using websockets don't seem to be impacted. I do have a VPN
configured for work, but it is turned off when using Postman.

On Mon, Feb 14, 2022 at 8:48 PM Numaan Ashraf ***@***.***>
wrote:

[2022-02-15 06:44] abhijitkane commented on #10656
@Reund0 In your Windows app, can you confirm if this happening each time / after restarting Postman, and if you're seeing the modal window pictured here?

<img width="580" alt="Screenshot 2022-02-15 at 12 13 53 PM" src="https://user-images.githubusercontent.com/681190/154007098-a85629db-888c-4b54-896a-08bdf7655e4a.png">
?

To unblock, you can try the web version at https://go.postman.co/ for now.

[2022-02-15 07:40] inihility commented on #10660
I'm also having this issue since yesterday. Home network.

[2022-02-15 07:54] ajinux opened #10663 "Postman Window becomes blank after sometime"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Postman window becomes black after some time (after opening it for an hour or so).

### Steps To Reproduce

1. Open postman
2. Leave it open for more than 2 hours with no interaction
3. It would become black as shown in the screenshot (Have to restart it to fix it)

###

[2022-02-15 08:20] kamalaknn commented on #10663
Hey @Ajithkumarsekar

Could you share the application logs with us so we can investigate the issue further? You can find the log files from `View Menu -> Developer -> View logs in Finder`. Please attach all the files in the logs folder to `help@postman.com` along with the GitHub issue id - #10663

[2022-02-15 08:22] umeshp7 commented on #10648
Hey @mzatko! We are able to reproduce this issue and have started work on a fix, it will be out soon. Although, we are able to import JSON links successfully, this: https://petstore.swagger.io/v2/swagger.json for example.

Could you share any links that don't work for you? (For json and/or yaml)

[2022-02-15 08:41] patstrom commented on #10399
Any update here?

[2022-02-15 10:11] WitnessMee commented on #903
As said before, the name of your environment supports UTF-8 symbols, which means you can also use emoticons.

I am using these:
🟢 Dev
🔵 Test
🟠 Staging
🔴 Production

You can find them in Windows 10 when you press `WINDOWS KEY + .` Then type green or blue, etc

This already helps a lot, but of course it would be even better if the background of the request was configurable.

[2022-02-15 11:11] giridharvc7 commented on #10657
Duplicate of #6719

[2022-02-15 11:11] #10657 closed, assigned to nobody

[2022-02-15 11:30] Ajithkumarsekar commented on #10663
@kamalaknn I have sent the logs files to `help@postman.com`

[2022-02-15 11:50] kamalaknn commented on #10663
Hey @Ajithkumarsekar

Thanks for forwarding the logs. From the logs, I can see that the workspace you tried to load had many collections and environments. We have made some performance improvements that improve the experience when working with large workspaces. The improvements are available on the browser version of Postman now.

Could you try loading the same workspace in the browser (https://go

[2022-02-15 13:01] zoltang01 commented on #10642
Hi Bruno,

Thanks for getting back to me. It wasn't anything really complicated to be honest. I'm looking into a project to put together an automated tool that monitors license counts for our various tools.
I was hoping it would be possible to link Postman to this. It would basically call the endpoint and return the license count to the tool.

thanks a loot,
Zoltan

[2022-02-15 13:02] lalitsomnathe opened #10664 "code snippet not showing payload for python"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I am trying to query solr which is running on local. I tried to hit the solr API via postman. It gives correct results but the python code snippet is not showing the form-data. I am using  postman - v9.13.0
![postman](https://user-images.githubusercontent.com/29462549/15

[2022-02-15 13:09] zoltang01 commented on #10642
We have a lot of different tools and having something that can just run and return a quick license count would be really useful.

[2022-02-15 13:20] VShingala commented on #10662
@justneedham At the moment, the Name and description should be matching 1:1 for validation to pass. Although we have plans for making this validation behaviour configurable with options (similar to how while converting collection you can configure options).

We'll let you know soon when we have something concrete.

[2022-02-15 13:22] VShingala commented on #10632
@jubbp Thanks for reporting the issue!, Could you share your API specification or trimmed down version with the same issues so we can take a further look here?

[2022-02-15 13:25] cpandya231 commented on #3234
@malvikach I did try 'Code Snippet' functionality successfully. But the point of this issue as I understand is to have ability to copy url with interpolation directly from the address bar. Somewhere in the highlighted part below. Maybe another option like 'Copy With Interpolation'

![Inked154069628-d0c27010-0327-4fa8-a97e-4442164a9b6d_LI](https://user-images.githubusercontent.com/38644871/15407061

[2022-02-15 13:29] VShingala commented on #10484
@nariman This issue is now fixed with Postman app version > 9.13.0. Feel free to reopen issue if you are facing further issues.

[2022-02-15 13:29] #10484 closed, assigned to akshaydeo

[2022-02-15 14:00] VShingala commented on #10298
@vineetydv You should be able to import specification mentioned here successfully now. Feel free to reopen this issue if you still face further problems.

[2022-02-15 14:00] #10298 closed, assigned to akshaydeo

[2022-02-15 15:06] DannyDainton commented on #10661
Hey @hyNic917

Are you also including the `Content-Type` header in the _Response_ headers section or only in the _Request_ headers section?

![image](https://user-images.githubusercontent.com/17089546/154089256-088e9b7a-4428-40a0-8757-5502cddc6255.png)

[2022-02-15 15:08] hyNic917 commented on #10661
Correct, I am including `Content-Type` in the headers of the example

[2022-02-15 15:20] lalitsomnathe commented on #10664
Hi @DannyDainton , there are no other settings done from my side.. I just downloaded the latest version of postman and started using . All settings are default.

[2022-02-15 15:42] hyNic917 commented on #10661
Thank you!!! I was quite certain PEBKAC, but I just couldn't figure out what I was doing wrong. And I didn't originally notice the screenshot difference.

[2022-02-15 15:42] #10661 closed, assigned to nobody

[2022-02-15 16:15] herenickname commented on #4739
I join, necessary feature

[2022-02-15 17:16] Akash187 commented on #8195
Going to install Insomnia. RIP Postman.

[2022-02-15 21:08] adamwong246 opened #10665 "altering the username of an auth configuration does not have any effect"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I cannot alter the username of a `basic auth` style authorization. I expect to be able to alter the username, then re-run my tests and get different test results. But after changing this username, or even deleting it entirely, then saving and then running the api calls,

[2022-02-16 06:00] y-reddy commented on #10660
Facing same issue. Errors in the console are similar to what @inihility had put here.
v9.13.2 - Mac OS

[2022-02-16 06:32] ashis0013 opened #10666 "Adding plugins to Postman"
### Describe your current workflow

I  want to add a custom plugin to filter the response json.JSON

### Describe your ideal workflow

The JSON response coming from an API request has lots of fields and data in it. I want to filter some fields out of them, currently, I am copying the JSON response and running a python script to filter out the fields. I want to know if I can add such functionalitie

[2022-02-16 07:26] #6074 closed, assigned to sankalp0o, preethammavin

[2022-02-16 07:26] #7270 closed, assigned to shamasis, giridharvc7

[2022-02-16 07:44] malvikach commented on #10370
@ritwijsinha I am able to replicate the issue. Our team will be looking into this bug.

[2022-02-16 07:57] xStoryTeller opened #10667 "Ghost tabs - Forever loading, unable to close"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Today I was cleaning up some open tabs I had in postman, saving them to collections and closing them. Afterwards I noticed that I suddenly had a load of "ghost tabs" that indicate they are loading but show no data and are not able to be closed. Restarting didn't help.

#

[2022-02-16 08:07] sahils-crest commented on #4193
Please provide this support. its been years since we are demanding it

[2022-02-16 08:13] giridharvc7 commented on #10666
@ashis0013 You can use Visualizers to achieve this. More on them [here](https://learning.postman.com/docs/sending-requests/visualizer/)

[2022-02-16 08:43] malvikach commented on #10665
Hi @adamwong246 sorry to hear about your experience. However, to be able to debug this further and understand your problem, I will need some more details from you.

Could you check the attached video and ensure that when you update your auth username, the auth in the header also gets updated. You can check this in the 'Code' option available in the right-side context bar. This will provide you wit

[2022-02-16 08:51] shubhbhargav commented on #10641
@jkdba @vkjain603 Can you please confirm that the same request is running via curl? Just trying to identify if it's an issue on the server application side or the Postman client side.

[2022-02-16 12:00] DannyDainton commented on #10666
@ashis0013 I created this basic Visualization a while ago that uses JSONpath to filter down the response data.

https://user-images.githubusercontent.com/17089546/154260415-a26083d7-1ee1-40d9-be45-a3bc9dbdd1ec.mp4

https://www.postman.com/dannysbattlefield/workspace/danny-dainton-s-public-workspace/collection/8213448-f7eab695-db23-4ecc-b000-3329c992ec59

[2022-02-16 12:06] DannyDainton commented on #10667
Hey @xStoryTeller

We had a similar issue raised - A possible resolution was talked about in the issues thread.

https://github.com/postmanlabs/postman-app-support/issues/10634

[2022-02-16 12:12] xStoryTeller commented on #10667
I can confirm that logging in and out fixed the issue, no additional steps were necessary. If I find a way to reproduce I will update this issue.

I did however notice that those tabs were actual unsaved tabs, which means they are now gone. This isn't the end of the world for me, but it could be for someone else. So closing issue this because re-logging and losing data "fixes" it doesn't seem righ

[2022-02-16 12:35] nizamudeenms commented on #9594
@Swapnil-getpostman Guys, Its been a long time. When can we expect this feature again?

[2022-02-16 15:39] lucianoshl commented on #3930
+1

[2022-02-16 15:39] malvikach commented on #3234
@cpandya231 thanks for giving code snippet a try. I see your point. Would you be up for a short discussion with me on this. I want to understand this need better.
Let me know if sometime this week (Feb 17th/18th) works for you. Feel free to drop me a note on malvika.chaudhary@postman.com with a suitable time that works for you.
It will help me a lot as I am trying to understand this usecase.

[2022-02-16 16:06] #9068 closed, assigned to nobody

[2022-02-16 16:44] andrei-dascalu commented on #4552
I'm also wondering about any movement on this?

[2022-02-16 17:22] teunis90 commented on #4739
I have the feeling this is not an easy feature. It would be appreciated if we at least get feedback if this feature is planned or won't/can't be implemented.

[2022-02-16 17:50] akira-ito opened #10669 "Code snippet not working with pm.variables"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi there,
I have an environment called DOMAIN, in my collection I use a pre-request script to change a DOMAIN environment during the requests, but when I receive a code snippet the result is not exported with a new value.

### Steps To Reproduce

1. Create a new collecti

[2022-02-16 19:09] adamwong246 commented on #10665
Thanks for you support but I was able to figure it out- I did not know that Postman allowed for scoped authorizations. One of the folders was NOT inheriting the auth from its parent, and this "intercepted" my changes that were made at the root.

[2022-02-16 19:09] #10665 closed, assigned to nobody

[2022-02-16 19:23] DannyDainton commented on #10669
Hey @akira-ito

The code snippet generated is based on the static information placed into request.

This would resolve variables that in may have set within a certain scope but any manipulation of those variables, in the scripting sandbox, wouldn't have any effect on the generated code.

[2022-02-16 20:11] dilmcnulty opened #10670 "gRPC: Display GrpcServiceException messages alongside Status Codes"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

If a GrpcServiceException is thrown when a gRPC endpoint is invoked, Postman displays the Status Code in the top-right corner of the 'Response' pane, ex: `Status: 5 NOT_FOUND`:
![Screen Shot 2022-02-16 at 2 12 10 PM](https://user

[2022-02-16 20:32] byrdman opened #10671 "When I delete a collection it reappears"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I right click on a collection and pick delete.  I confirm the delete, it goes away.  Then within 30 seconds it shows back up.

### Steps To Reproduce

1. Right click on a collection
2. Pick delete
3. Confirm the delete
4. Wait 30 seconds or so

### Screenshots or Videos

[2022-02-16 20:34] byrdman commented on #10671
Sometimes if you let it sit for a bit it'll go away again, other times you have to delete it again.

[2022-02-16 21:40] WilliamABradley commented on #5302
This is achievable by manually applying `DWMWA_USE_IMMERSIVE_DARK_MODE` on the Window, it was originally used to make File Explorer's Titlebar dark, but is used all over, e.g. DBeaver and Windows Terminal use it: https://stackoverflow.com/a/62811758/5001796

[2022-02-16 22:06] ibrahimelhadeg commented on #10368
Facing the same issue on the version `9.13.0`

[2022-02-17 02:24] l3ender opened #10672 "Unable to import App Store Connect API OpenAPI Specification"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I am trying to import the OpenAPI Specification for the [App Store Connect API](https://developer.apple.com/documentation/appstoreconnectapi) but receive the following error when doing so:

### Steps To Reproduce

1. Download the App Store Connect API OpenAPI Specificati

[2022-02-17 03:43] katturajam opened #10673 "Request body has data but target backend service is receiving empty"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Describe the bug
Setting Raw JSON for type in Body, putting valid JSON in the Body field, and sending. Endpoint receives request with right Content-Length and -Type but the Body is empty.

But If i am using Restlet Client which is working as expected so finally decided w

[2022-02-17 04:35] zzFluke commented on #8231
I guess and hope that above-mentioned "Roadmap to enabling Open ID connect in OAuth2." will have more then just fix for this particular issue and has much broader scope. **The other one, not less needed feature is proper handling of the 401 and utilize refresh_token to obtain new access_token/id_token.**

Does anybody know the place where there is a place for roadmap item and release timeline?

[2022-02-17 05:18] avdavit commented on #3706
+1

[2022-02-17 05:32] inihility commented on #10660
I tested on my Mac as well and experience the same problem. Any updates on this issue? I can use the web version of Postman just fine but can't ping my local environment which is where I develop in.

[2022-02-17 05:44] numaanashraf commented on #10660
@inihility @y-reddy Could you send the app logs to help@postman.com? Steps to collect logs are detailed [here](https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs).

[2022-02-17 05:56] inihility commented on #10660
Here are my app log files:
[logs.zip](https://github.com/postmanlabs/postman-app-support/files/8085972/logs.zip)

[2022-02-17 08:12] jeffrey-anderson commented on #5816
++ On aarch64 support. I am running Ubuntu in a VM on my Mac M1 and it's a dream --- except when I want to have Postman invoke APIs on my local host.

[code]

[2022-02-17 10:26] tomaszwojciechowski opened #10674 "Split "Tests" tab to "Post-request scripts" and "Tests""
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, post-requests scripts and actual tests are being hold under "Tests" tab.

### Describe the solution you'd like

To make request easier to read, those two entities should be in separate tabs.

### Describe alternatives

[2022-02-17 10:48] DannyDainton commented on #10673
Hey @katturajam

I'm not sure what the issue is here from the Postman side, it looks like it's doing what it should be in terms of returning the body data based on the chosen `Content-Type`.

When you change the body from `JSON > Text`, the request headers update to match the given type. For `Text` it would be sending `text/plain` and not `application/json`.

What is shown in your applications con

[2022-02-17 11:30] zoltang01 opened #10675 "Add ability for system admin to export private workspace content"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Hi,

I'd like to request a way for an admin user to migrate the contents of a private workspace belonging to a user into a shared one.
This is in the case of a user that has left the organisation and needs to be removed from the

[2022-02-17 12:10] juancarlosjr97 commented on #8322
Yes, vote +1

[2022-02-17 12:24] Loda103 opened #10676 "Run Order should select/deselect all contents of a folder with a single click"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I wish to run one (or more) given (sub)folder easily and quickly from the desktop Postman application.

Today, you need to select each request of the folder one by one in the runner.

UPDATE: it seems there is a way. see comments

[2022-02-17 12:24] Loda103 commented on #9530
see also #10676

[2022-02-17 12:41] DannyDainton commented on #10676
Hey @Loda103

Just adding some additional information here, these are not solutions to all the problems you have listed:

Each of the Folder tabs has a separate `Run` button on the right of the tab, under the environment dropdown, which would open _only_ that folder in the Runner

<img width="1633" alt="image" src="https://user-images.githubusercontent.com/17089546/154482614-4b023cb8-1125-48fe-b48

[2022-02-17 12:59] argenstijn commented on #4576
Any update. TO select in which directory postman will install is important!

[2022-02-17 13:03] argenstijn commented on #3019
Really important to support for non enterprise users as well.

[2022-02-17 13:18] argenstijn commented on #3897
Should be really implemented :)

[2022-02-17 13:29] aditanase commented on #10569
@appurva21 Thanks. Unfortunately this is a private API, it would take a bit of work to scale down / deploy it somewhere. There is no authentication, local host with plain text.

What I did try though is to comment out some of the services served by the main Grpc server, and this time some of the missing ones appeared (but still not all), if that helps.

[2022-02-17 13:45] Loda103 commented on #10676
@DannyDainton ho !! I did not saw that one !

Indeed, the folder top right "run" button solve most of my problems.

regardless, IMHO, the "order screen" should allow you to disable / select folder with a single click.

[2022-02-17 19:29] timbochamp commented on #10415
We're going to close this as of version 9.13.0 being unable to reproduce. Please feel free to reopen this at the same time if the issue occurs again!

[2022-02-17 19:29] #10415 closed, assigned to nobody

[2022-02-18 02:12] sradouan opened #10677 "500 Value cannot be null. Parameter name: value"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

using get method some thing work and some thing give this Error.

{
    "error": {
        "code": "Unknown",
        "message": "Value cannot be null.\r\nParameter name: value  CorrelationId:  891de6d9-7e3e-4b7a-ba17-b46118329234."
    }
}

### Steps To Reproduce

1-ope

[2022-02-18 02:33] xk0der commented on #10677
This doesn't look like an issue with Postman.

[HTTP Status 500](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500) indicates an internal server error.

That indicates that the server encountered an error and was unable to properly handle it while processing the request you sent.

You may want to check with the folks who manage `noovelia.com` server to get more understanding of what is

[2022-02-18 02:48] aliciam commented on #4058
We would also love to be able to set up a library of shared tests that can be called on when running tests over a collection. I'd prefer to organise my requests by endpoint, rather than set of tests that they need to run, and I know about the eval workaround but find it kinda icky tbh.

Does anyone know if there is a feature request on any of the projects for this (I did a cursory look but couldn'

[2022-02-18 03:33] akshaydeo commented on #9877
It's out now https://blog.postman.com/postman-now-supports-openapi-3-1/.
Let us know your feedback 🙇

[2022-02-18 03:33] #9877 closed, assigned to akshaydeo

[2022-02-18 03:34] sradouan commented on #10677
Thanks xK0der.

[2022-02-18 03:34] #10677 closed, assigned to nobody

[2022-02-18 04:03] Raj-postman commented on #8619
Marking this thread as `Closed`, as there have been significant improvements in the latest versions of the app which has resolved the issue. Users can also try using [Postman Web](https://go.postman.co/home) which has very recent enhanced performances included.

[2022-02-18 04:03] #8619 closed, assigned to cyrielle-hada

[2022-02-18 04:24] VShingala commented on #10213
@elazar This issue is now fixed. Feel free to reopen it if you face any further problems.

[2022-02-18 04:24] #10213 closed, assigned to akshaydeo

[2022-02-18 05:21] twitharshil commented on #9429
Hey @tshubham7 @michael120288
We are tracking the issue where the application seems to be unclickable here https://github.com/postmanlabs/postman-app-support/issues/10460

@[xk0der](https://github.com/xk0der) I believe the issue reported above was faced during the earlier versions of macOS big Sur OS and should be fixed now. Closing the ticket now, feel free to re-open if this issue is still repro

[2022-02-18 05:21] #9429 closed, assigned to nobody

[2022-02-18 05:57] dvbsknd commented on #9877
Is this available in the Desktop release yet? I'm on `Version 9.13.2` and it's not an option for me.

[2022-02-18 06:14] twitharshil commented on #10097
The postman `v8.7.0` and the latest versions are notarized.

[code]

Closing this as a duplicate of this issue https://github.com/postmanlabs/postman-app-support/issues/6029

[2022-02-18 06:14] #10097 closed, assigned to nobody

[2022-02-18 06:56] twitharshil commented on #8196
We have sent a fix for this issue in later versions of the postman. Upgrading to the latest version should fix this for you

Closing this ticket as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/10252

[2022-02-18 06:56] #8196 closed, assigned to nobody

[2022-02-18 07:18] twitharshil commented on #8604
Hey @TGSurf
We have done some platform upgrades in the latest versions of postman which should address this problem. Can you try out the latest versions & let us know if you face the same issue?

[2022-02-18 07:21] malvikach commented on #10276
@boardtc Could you try this on the latest postman app. We do not see this issue anymore.
Attaching a video with my observation below, please note that you can check the auth being used in your request using the headers tab on postman, you can also verify this in the code snippet (learn more [here](https://learning.postman.com/docs/sending-requests/generate-code-snippets/)):

https://user-images.gi

[2022-02-18 07:22] giridharvc7 commented on #10671
This has been fixed in the latest app version that's being rolled out (9.14) and available on the web version, can you please check and let us know @byrdman ?

[2022-02-18 07:36] twitharshil commented on #6995
Hey @Sam-Black-0013 @Endorel

Following the steps mentioned in this [link](https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-) should unblock you. Closing the ticket, feel free to re-open if you still face the issue.

[2022-02-18 07:36] #6995 closed, assigned to bavulapati, twitharshil, RaisinTen

[2022-02-18 08:08] RaisinTen commented on #9177
duplicate of https://github.com/postmanlabs/postman-app-support/issues/10066

[2022-02-18 08:08] #9177 closed, assigned to nobody

[2022-02-18 08:12] RaisinTen commented on #9044
Hey @SheikSena is this still an issue?

[2022-02-18 08:22] RaisinTen commented on #9044
Closing as I'm unable to reproduce this on my Windows 10. Please reopen if it's still relevant.

[2022-02-18 08:22] #9044 closed, assigned to nobody

[2022-02-18 08:47] twitharshil commented on #9215
Hey @[geschwint](https://github.com/geschwint)

We tried reproducing this issue on our system but we are unable to reproduce this. Is this issue still reproducible for you on the latest versions of postman? If yes, were you able to find any specific steps which we can follow to reproduce this?

[2022-02-18 09:10] twitharshil commented on #5955
This issue is reproducible on Linux VM's using parallels desktops. When I try to run Postman, a blank screen appears

[2022-02-18 09:21] twitharshil commented on #9087
Hey @DerekSansom

Are you still facing this issue on the latest versions of Postman? We have made some improvements recently which should address this problem.

[2022-02-18 09:40] twitharshil commented on #7680
Hey @OlgaUtochka

The platform layer for the postman application doesn't work very well with GPU drivers available on your system.

On the recent versions of the postman application, we added an option to try disabling hardware acceleration on your machine to make it work. Read more about it [here](https://learning.postman.com/docs/getting-started/settings/#hardware-acceleration).

If you are stil

[2022-02-18 09:40] #7680 closed, assigned to nobody

[2022-02-18 09:54] juan-belmonte opened #10678 "Invalid padding character when importing HAR files using 'Space' indent character"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues

### Describe the Issue

When importing a HAR file in Postman and selecting _Space_ as indent character, the result example does not contain whitespaces but the word `Space`.

This issue is not happening when selecting 'Tab'. Examples are correct.

### Steps To Reproduce

1. Export a sequence of

[2022-02-18 10:16] twitharshil commented on #10022
Closing this as a duplicate for https://github.com/postmanlabs/postman-app-support/issues/9582

[2022-02-18 10:16] #10022 closed, assigned to nobody

[2022-02-18 10:21] twitharshil commented on #8726
Found a similar issue where the File picker to select a working directory, hides behind the app window on Mac OS Catalina.

https://user-images.githubusercontent.com/25850676/154664021-3f6b6b26-62e3-461a-9a02-d61a266696d2.mov

[2022-02-18 10:53] akshaydeo commented on #9877
We are still rolling out 9.14 to all users. You will get an in-app notification as soon as its available for download.

Till then you can use web version of Postman to try this feature :).

[2022-02-18 11:22] jokaorgua commented on #5816
@jviotti just wondering for how long this poll will last? have you already tried to compile the Postman for linux arm? maybe everything that is needed just to compile and upload deb file for arm? :)

[2022-02-18 12:20] dominikjeske commented on #10623
Are there any plans for enable this in Scratch Pad? I see no reason for this restriction.

[2022-02-18 12:57] DannyDainton commented on #10669
Closing this issue as it's working as expected.

[2022-02-18 12:57] #10669 closed, assigned to nobody

[2022-02-18 13:01] recordstuff commented on #9608
shouldn't take looking in the ui, reading the incorrect docs, then googling and studying this to find the export button.  Postman is a wonderful product though.

[2022-02-18 13:07] silentwater commented on #1321
Switching to Insomnia as Postman ist not able to use socks5 proxy and seems this request is already hanging around for more than 6 years. This is really a pain in the ass. All kind of features are added to this fat ship but crucial things are not provided.

[2022-02-18 14:53] NelsonAPenn opened #10679 "Linux non-snap installation breaks itself, most likely on update"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

This is a relatively new issue I have been having related to (I'm assuming) Postman updating itself with the non-snap installation. I will sometimes go to open postman and find that it seems to have had a problem mid-update.

Here is the output of an `ls -l` in the direc

[2022-02-18 15:36] sryze commented on #9939
@jviotti  Radeon RX 580

[2022-02-18 19:50] kiyokodyele opened #10680 "Repeatable Instant Crash After A Special URL Request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

The app will crash after the special request of `{protocol}://{username}:{password}@{url}`
If the username or password contains `*%` the request will go kapoof!

### Steps To Reproduce

1. Create a post request of `https://hello*%world:and*%universe@google.com`
2. Send t

[2022-02-18 22:07] byrdman commented on #10671
I concur that it is corrected, thanks for the quick turnaround.

[2022-02-19 11:06] DanielBoulerice commented on #2240
I am terribly sorry to learn the state of fact concerning Kerberos support in Postman.  I had plans with that in our company.  So I guess it worked in the plug-in because it was hosted in Chrome, is that it?  Is there a way to integrate plug-ins in Postman and put authenticator functionality on a bus?

[2022-02-19 11:17] DanielBoulerice commented on #10666
Great idea @ashis0013!  I had the same idea but concerning authentication functionality with the purpose of enabling Kerberos.

[2022-02-19 11:56] Lonli-Lokli commented on #2240
I find it easier to deploy service, returning kerberos token in corporate network based on request, instead of relying on postman roadmap

[2022-02-19 20:30] okutbay opened #10681 "Error: Invalid protocol: https"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Not sure if this is a bug but after i imported the proto file i cannot send request and getting the same error for http and https. Any help would be appreciated. Thanks in advance.

### Steps To Reproduce

1. Add new gRPC request
2. Set URL
3. Add proto file
4. Generate

[2022-02-20 03:37] micaela-romero7 commented on #7553
I downloaded version 9.13.0 on my mac mojave 10.14.6 but giving me this error message when i try to open Postman app:
<img width="410" alt="Screen Shot 2022-02-19 at 7 37 31 PM" src="https://user-images.githubusercontent.com/99832248/154827462-e134713d-06ac-44ff-b0a1-30e858838479.png">

[2022-02-20 06:17] Buzzology commented on #8231
+1 on this

[2022-02-20 12:27] innotech-manar-ishtayeh commented on #5222
+1

[2022-02-20 13:47] Dwn96 commented on #8195
Need!

[2022-02-20 17:17] myahl-uncomn commented on #6323
I had the same situation, but I found my stuff in the scratchpad, per the solution here https://community.postman.com/t/lost-all-collections-when-i-created-an-account/5138/21
I hope it helps someone.

[2022-02-21 00:34] ghost opened #10682 "Disable pop-up about automatic updates"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Whenever app launches it distracts me from doing my job by showing meaningless notification about new version available.

### Describe the solution you'd like

There should be an option to disable any notifications shown by the a

[2022-02-21 02:59] catbiscuit opened #10683 "Unable to send a request in Postman v9.14 because of environment failing to load"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When I updated the software to the latest 9.14.1, I was unable to initiate any requests.

### Steps To Reproduce

1.Software automatically updates to the latest 9.14.1
2.The problem arises

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/295

[2022-02-21 03:00] codenirvana commented on #10681
@okutbay can you check if removing the protocol from the URL or replacing it with `grpc://` fixes your issue?

[2022-02-21 03:50] twitharshil commented on #10679
Hey @NelsonAPenn

Thanks for reporting the issue! Apologies for the trouble caused from our end. It seems to be a genuine issue & a fix for this is implemented already & planned to be out soon with the next minor version release for the postman application.

This issue happens when an update is downloaded in the background & the user chooses to close the application. There are two ways to avoid th

[2022-02-21 03:50] #10679 closed, assigned to nobody

[2022-02-21 05:50] giridharvc7 commented on #10683
@catbiscuit thanks for reporting this, can you give us some more information.
Here's what might help us - some console logs, a full screenshot of your postman app, etc.

[2022-02-21 05:56] catbiscuit commented on #10683
I am using version 9.13.2 now, and the automatic update is turned off. It can be used normally at present

[2022-02-21 05:57] catbiscuit commented on #10683
Once I upgraded to version 9.14, I couldn't use it. May I ask what has been changed in 9.14 compared with 9.13.2?

[2022-02-21 06:00] catbiscuit commented on #10683
This one I used version 9.14.1 to access: www.baidu.com, as shown in the picture, it always shows: Sending Request

![图片](https://user-images.githubusercontent.com/29559322/154897708-cfecc947-864f-4ee6-9318-0b4849faa113.png)

[2022-02-21 06:06] catbiscuit commented on #10683
No log input is seen here either
![图片](https://user-images.githubusercontent.com/29559322/154898489-7b69e431-48c8-4bfc-a6e8-77e2455915e2.png)

[2022-02-21 06:07] giridharvc7 commented on #10683
Can confirm that I couldn't reach Baidu as well. It times out, we'll look into this.
Can you confirm if you can send a request to some other endpoint ?  Just to confirm if this is something specific to baidu.
You can try sending request to
- www.google.com
- www.postman-echo.com/get?hello=world

[2022-02-21 06:08] catbiscuit commented on #10683
When I use version 9.13.2, I can access it normally, and the following log will also have output
![图片](https://user-images.githubusercontent.com/29559322/154898639-81a73a71-9fe3-4ea4-bfe6-f88e15ef962f.png)

[2022-02-21 06:11] catbiscuit commented on #10683
My network is working and I can visit: www.postman-echo.com/get?hello=world
![图片](https://user-images.githubusercontent.com/29559322/154898918-c0cf30ef-49a5-421f-a8a0-a0b569bbfc6c.png)

[2022-02-21 06:12] giridharvc7 commented on #10683
This the above from 9.13 or 9.14?

[2022-02-21 06:14] catbiscuit commented on #10683
This is 9.13, I use 9.14 all the websites I can't access

[2022-02-21 06:16] catbiscuit commented on #10683
Once I upgraded to version 9.14, I couldn't access any websites, so I suspect there was a change made to version 9.14. My use of 9.13 is normal, so the question is what adjustments 9.14 makes relative to 9.13

[2022-02-21 06:19] giridharvc7 commented on #10683
We made a couple of adjustments in 9.14 for the performance of the app. This includes the way collections and environments are fetched from our servers. But this shouldn't be affecting sending a request.

Would you be willing to come on a call so that we can debug?

[2022-02-21 06:23] catbiscuit commented on #10683
I'm very sorry that my English is poor. Now I use translation software to communicate with you. I am currently using version 9.13, and I will pay attention to this issue when others give feedback. Thank you very much for your reply

[2022-02-21 06:39] giridharvc7 commented on #10683
Thank you, I really appreciate the time you've taken to report this.
One last request, can you do the following
- Open Postman 9.14
- Send a request
- Press Control + Shift + I on your keyboard or press F12 -> This should open the developer console
- Save the console logs
- and send it here

Here's a quick video of how the process would look like.
Once again, really appreciate and thank you for yo

[2022-02-21 06:52] catbiscuit commented on #10683
``

[2022-02-21 06:53] catbiscuit commented on #10683
I'm so sorry. I closed it late

[2022-02-21 06:53] catbiscuit commented on #10683
?desktopVersion=9.14.0&userId=8779148&teamId=0:33 ServiceWorker registration successful with scope:  https://desktop.postman.com/
electron/js2c/renderer_init.js:13 (electron) The remote module is deprecated. Use https://github.com/electron/remote instead.
log @ electron/js2c/renderer_init.js:13
requester-desktop-48dd42e2b3d62c7b84c2.min.js:6813 getInitDataFromShell: Sending event to shell
requeste

[2022-02-21 06:54] catbiscuit commented on #10683
@giridharvc7  I have saved the log according to your tutorial, please have a look

[2022-02-21 06:54] giridharvc7 commented on #10683
Thank you @catbiscuit, appreciate it.

[2022-02-21 06:58] catbiscuit commented on #10683
I have filtered the logs, and here are a few error logs
![图片](https://user-images.githubusercontent.com/29559322/154904416-439ccde0-b7e6-4ce3-a46f-a50491d761a3.png)

[2022-02-21 07:09] giridharvc7 commented on #10683
Thank you, this is really helpful, I think we have an idea of where the problem is.

Can you just check this once, Change your environment from `No environment` to something else and send the request? (Please post the logs if the request fails)

[2022-02-21 07:14] catbiscuit commented on #10683
Sorry, I didn't understand this: No environment, what changes do I need to make

[2022-02-21 07:17] catbiscuit commented on #10683
I added one: Environment and enabled it. Now 9.14.1 can be used normally. Thank you very much for your reply
![图片](https://user-images.githubusercontent.com/29559322/154906652-3d5ff946-1eb6-4da6-a204-be6241afa574.png)

[2022-02-21 07:25] catbiscuit commented on #10683
@giridharvc7  you are so 牛逼

[2022-02-21 07:29] giridharvc7 commented on #10683
@catbiscuit thank you, and you are awesome too :)
Appreciate you taking the time to help us out with it, you are the best.

We will fix the underlying issue in the upcoming releases.

[2022-02-21 07:31] catbiscuit commented on #10683
Ok, thanks

[2022-02-21 07:32] numaanashraf commented on #10682
@fires3as0n Could you send us a screenshot of the notification you find distracting? We are working on simplifying our update notification currently and this will help us iron out these issues.

[2022-02-21 07:58] amirmd76 commented on #10533
@korotin That's not really a neat workaround, it'd be great if Postman added support for this feature like BloomRPC or other gRPC GUI clients (like Kreya).

[2022-02-21 08:39] august159 opened #10684 "Bootcamp lessons stop when opening a request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When following any step-by-step tutorial, the next action pop-up does not appear after clicking on a request to open it as instructed.
Once out of the lesson, the resume button restarts the lesson.
Therefore, I cannot complete any tutorial within the bootcamp.

### Steps

[2022-02-21 08:48] august159 commented on #10684
Same behaviour occurs with the browser agent:

- Postman for Web Version 9.14.4-220218-0400
- Chrome 101 / Windows 10

[2022-02-21 09:05] RaisinTen commented on #9910
Why do you want to keep Postman inside the `/opt` directory? Is it because we mention it in https://learning.postman.com/docs/getting-started/installation-and-updates/#installing-postman-on-linux?

[2022-02-21 09:14] okutbay commented on #10681
thanks @codenirvana it fixed issue for http.

But when i changed the port to 5001 i got no result
How can i use secure one https->?

![image](https://user-images.githubusercontent.com/30014/154924035-15bb6596-197c-45d9-8195-1cedf840612b.png)

Thanks in advance.

[2022-02-21 09:59] malvikach commented on #10577
We are tracking this issue [here](https://github.com/postmanlabs/postman-app-support/issues/9608)
Closing this as this is a duplicate

[2022-02-21 09:59] #10577 closed, assigned to malvikach

[2022-02-21 10:13] gregamb commented on #8612
That solved it for me as well using `v9.14.0`.
Based on my experience, this regression was introduced after `v7.28.0`

It does appear the newer versions are not using hardcoded `https` prefix in the certificate screen

[2022-02-21 10:44] artyompetrov opened #10685 "BasePath is being ignored when importing yaml contract"

[2022-02-21 10:47] artyompetrov commented on #10685
similar bugs, already closed https://github.com/postmanlabs/postman-app-support/issues/1469
https://github.com/postmanlabs/postman-app-support/issues/1447

[2022-02-21 11:02] #10685 closed, assigned to nobody

[2022-02-21 11:06] dberchtold opened #10686 ""Find and Replace" ignores switching of Workspace"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

after switching workspace "Find and Replace" still searchs in previous workspace

### Steps To Reproduce

Prereqesite: Workspace1 is opened and "Find and Replace" works in Workspace1

1. Switch Workspace to Workspace2
2. Search in "Find and Replace"
  found: -> Results s

[2022-02-21 11:13] neilmario70 commented on #6273
Any update on this one? Similar issue when pasting base64 strings in postman 2mb size.

[2022-02-21 12:04] dberchtold opened #10687 ""Find and Replace" deletes body of request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

when using "Find and Replace" body of request is removed where string is found in body

### Steps To Reproduce

1. open "Find and Replace"
2. search for a string which is also present in body part of some request
3. apply "replace with"
   -> found: stirng is not replace

[2022-02-21 12:49] giridharvc7 commented on #10687
Sorry that you facing this and Thanks for reporting, we will have a look into it.

[2022-02-21 14:43] ghughal commented on #1066
Would greatly appreciate this feature.

[2022-02-21 15:07] giridharvc7 commented on #10686
Thanks for reporting this. We will take a look into this

[2022-02-21 15:09] jde-chil commented on #3518
the problem still persists with the port
one workaround is to set the cookies as variables and store them. In the "tests" section of the request setting the cookies.
[code]
it will set environnement variables with the name of the cookies
then to set the cookies in a request, go to "headers" and set a header Cookie with value `cookie1={{env_var1}};cookie2={{env_var2}}`
with precedent code key: `Coo

[2022-02-21 17:45] semangard commented on #10112
@shubhbhargav : do you have any news ?

[2022-02-22 00:11] YevheniiPokhvalii commented on #4222
It is not intuitive at all for the newcomers to Postman. I wish I had found your reply earlier - it took a lot of time to find out why it did not work. Yet, so simple solution - just click the "Save" button since it does not save automatically.

[2022-02-22 04:07] vinitajag commented on #10613
No, we do not use the activity feed. Also, since we are on a free plan at the moment, we have a 3-user limit.

[2022-02-22 05:55] malvikach commented on #4222
@YevheniiPokhvalii I am sorry about your experience. I agree that there is a gap in the experience. This could be very difficult to spot for new users as you mentioned in your comment. Thanks for describing this issue so well and taking time to write your thoughts on this. We really appreciate it.

We are tracking the issues related to this here[https://github.com/postmanlabs/postman-app-support/i

[2022-02-22 06:15] bitsofsteve commented on #4823
This is a much-needed feature. Upvoting

[2022-02-22 07:27] twitharshil commented on #7917
Hey @serendipity30

The issue seems to be fixed in the latest versions of the postman application. Closing this ticket, feel free to reopen if you face the issue again

[2022-02-22 07:27] #7917 closed, assigned to nobody

[2022-02-22 08:01] giridharvc7 commented on #6719
We are slowly rolling out the Introspection feature for GraphQL, and here's a sneak peek at what it'll look like. This will be rolled out for the web version soon and changes will reflect on the desktop end of next week.

We appreciate everyone for their patience, as @a85 and @akshaydeo have previously mentioned, GraphQL is going to be a big focus for us in 2022.

<img width="1355" alt="Screenshot

[2022-02-22 08:41] RaisinTen commented on #9371
@rishitc do you know of a way to reproduce this crash?

[2022-02-22 09:00] OmgImAlexis commented on #6719
Sorry @giridharvc7 but you already lost me as a user. I’m sure the same goes for a few others here.

[2022-02-22 09:43] twitharshil commented on #10495
Hey @HeikoKramer

Thanks for reporting the issue! A fix for this is implemented & planned to be out soon with the next minor version release for the postman application (v9.14.0)

[2022-02-22 09:43] #10495 closed, assigned to postman-staff

[2022-02-22 09:45] RaisinTen commented on #8690
Is this still a problem on the latest version of Postman (v9.13.0)?

[2022-02-22 10:29] malvikach commented on #10028
@neilstudd Happy to inform that this issue has been fixed and released on the web. It will be rolled out to the app next week.
Please feel free to give it a try and update the community thread too.

[2022-02-22 10:29] #10028 closed, assigned to malvikach

[2022-02-22 10:43] korotin commented on #10533
@amirmd76 can't argue with that.

But it's worth to mention that BloomRPC have exactly the same [issue](https://github.com/bloomrpc/bloomrpc/issues?q=is%3Aissue+is%3Aopen+let%27s+encrypt)  with at least some of LE certs. You're lucky if BloomRPC works well for you :)

[2022-02-22 13:21] giridharvc7 commented on #10683
This has been fixed in version 9.14.2

[2022-02-22 13:21] #10683 closed, assigned to giridharvc7

[2022-02-22 13:44] ax-golubev commented on #6682
+1

[2022-02-22 14:07] DannyDainton commented on #10667
Thank you for confirming @xStoryTeller - I'm going to close this specific issue and keep an eye out for other reports of the behaviour you were seeing.

If the unsaved requests had been made, those would be in the Workspace history. That would provide a way to recover and save those requests in a Collection again.

[2022-02-22 14:07] #10667 closed, assigned to nobody

[2022-02-22 14:13] 1bitphoenix commented on #10449
Hi @sombriks,
Can you provide the steps to reproduce the issue? I tried to reproduce it at my end by using custom fonts, but I couldn't.

Thank you and regards,
Rituka, Postman

[2022-02-22 14:56] patilpratap opened #10688 "Unable to render fonts in dialog box. Getting square boxes in place of font"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Dialog boxes like multi part form file browse dialog and the hardware acceleration dialog from the top menu are showing squares instead of fonts.

### Steps To Reproduce

1. Open new request tab
2. Select body
3. Select body type as form-data
4. Select file as the mutli

[2022-02-22 14:59] RaisinTen commented on #9371
We don't have any debugging symbols for this version of Postman, so I'll close the issue for now. Feel free to open another issue if you come across the same crash on the latest versions of Postman (we have debugging symbols for those and we'll be able to help you out there), thanks!

[2022-02-22 14:59] #9371 closed, assigned to nobody

[2022-02-22 15:14] NEXUS2345 opened #10689 "Server variables causing 'uri-reference' format error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When using the server variables feature of the OpenAPI specification, an error is flagged stating that the URL 'Must match format "uri-reference": uri-reference". We are unable to test our API due to this error but according to the OpenAPI specification our YAML is valid

[2022-02-22 20:50] THammond9 commented on #5692
I have this issue as well.

[2022-02-23 03:17] leandrohago commented on #10043
This is happening because [Postman](https://www.postman.com/) disables _**javaScript**_ in **Preview** tab.
There's a opened issue for that https://github.com/postmanlabs/postman-app-support/issues/2646.
And I found this in [community page](https://community.postman.com/t/javascript-not-enabled/19277)

If anybody knows a workaround for that please post here.

[2022-02-23 04:56] #10671 closed, assigned to nobody

[2022-02-23 05:08] shubhbhargav commented on #576
@LordEvron Can you open up a new issue and share the screenshots / recording of the issue? Based on the previous comments, the issue could be a custom Content-Type being added in the request (need to verify the same).

Closing this thread off to ensure that we don't miss out on any future comments / issues pertaining to this.

[2022-02-23 05:48] twitharshil commented on #5580
Hey @JP-from-Postman,

The issue originally reported seems to be coming from an unsupported version of the postman. This issue only happens when the application is not code-signed and it tries to get updates. In your scenario, it could be the local builds that you are trying out. Closing this ticket as all the latest versions of the postman application are code signed & notarized properly :)

[2022-02-23 05:48] #5580 closed, assigned to nobody

[2022-02-23 05:51] twitharshil commented on #5580
Hey @akaustav @morrison147

The issue reported seems to be a different one than the original issue for which the ticket was opened. You create separate ticket if you are still facing the same issue. Thanks!

[2022-02-23 06:01] shubhbhargav commented on #10112
@semangard This is definitely on our radar. We are planning to release the first set of changes by mid-April :fingers-crossed: :)

[2022-02-23 06:11] twitharshil commented on #9910
Hey Everyone,

The doc modification PR mentioned above ^ is merged. Closing the ticket as we don't recommend extracting the application directory inside the directory that doesn't have write permissions. Also, we don't recommend users run postman with sudo. [Ref](https://learning.postman.com/docs/getting-started/installation-and-updates/#:~:text=Avoid%20starting%20Postman%20using%20the%20sudo%20co

[2022-02-23 06:11] #9910 closed, assigned to nobody

[2022-02-23 07:56] DenDuze opened #10690 "Attach an image (or color) to environments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It's not immediately clear against witch environment-settings I'm working when I open PostMan

### Describe the solution you'd like

It would be nice that I coul'd attach an image to every environment and that the background of (

[2022-02-23 08:10] akaustav commented on #5580
Hi @twitharshil - Thanks for taking the time to look at this issue that I had opened over 2 years ago. You are probably right about the issue mismatching the original issue - I don't recall actually verifying the logs in the developer console to confirm if my reported issue exactly matched the original issue - sorry about that.

As far as I recall, I have not seen the issue that I described above

[2022-02-23 09:48] ZhaoKunLong commented on #2799
- Totally agree with that. we should have a button to close it. or can provide an option like pop every 30 days one time.

[2022-02-23 11:38] twitharshil commented on #9939
Hey @sryze

Does disabling the hardware acceleration feature [here](https://learning.postman.com/docs/getting-started/settings/#hardware-acceleration) help fix this issue for you?

[2022-02-23 11:40] 1bitphoenix commented on #9149
@80avin
This issue will be there for all root level directories, because snap doesn’t have access to them. A workaround exists for `/media`, but there's seems no specific reason for Postman to try to access `/media` dir. Is there any specific reason you want to make `/media` accessible from Postman?

[2022-02-23 11:43] 80avin commented on #9149
@1bitphoenix yes.

Ubuntu mounts external storage under `/media/` directory. Be it the pendrives or other hard disk partitions.

Hence, those locations are important for many.

[2022-02-23 13:12] byrdman opened #10691 "When importing a duplicate collection and selecting replace, wind up with 2 collections with same name"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When I import a collection that duplicates an existing collection I'm given a prompt to "import as copy or replace".  If I select "replace" I now wind up with 2 collections with the same name.  It used to remove the existing collection first.

### Steps To Reproduce

1.

[2022-02-23 13:44] postman-support commented on #10606
Hi @michael120288,

May I know if you were able to resolve the issue by clearing the cache as mentioned earlier? Let me know if you still need assistance on the same. Thanks!

via @ash007-postman | Postman Support

[2022-02-23 14:24] Zabuzard commented on #6347
I can still consistently reproduce it as of today. Windows app `v9.14.4`.

[2022-02-23 14:32] byrdman opened #10692 "Error importing collection - but appears to work"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When importing a collection I get a popup about "error importing collection", yet the collection appears to import fine.  Newman parses the collection fine.  Is there a log somewhere that will tell me what it thinks it doesn't like?

### Steps To Reproduce

Import a coll

[2022-02-23 14:37] Albertolutete opened #10693 "New Integration Request - <product name>"
### Describe your current workflow

Menssager , Telegran,Whatsapp

### Describe your ideal workflow

i think if we can integration de postman with de telegran or menssager it will be so good

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-23 14:47] SteveHipolito opened #10694 "Keeps Conflicting, doesn't actually sync, progress lost"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I edit a request, save, sync. Conflict every time after syncing.

Progress is lost every time I close/launch Postman.

### Steps To Reproduce

1. Open any request
2. change something
3. Save
4. Sync
5. Close request
6. Close Postman
7. Launch Postman

Changes are gone.

[2022-02-23 15:28] giridharvc7 commented on #10694
Thank you for reporting, we are looking into this right away.

[2022-02-23 15:49] sryze commented on #9939
It looks about the same without hardware acceleration

I found something that might help, don't know if you've seen this link already:
https://github.com/electron/electron/blob/main/docs/faq.md#the-font-looks-blurry-what-is-this-and-what-can-i-do

[2022-02-23 16:05] giridharvc7 commented on #10694
@SteveHipolito Can you share some screengrabs and logs?

[2022-02-23 17:08] #10690 closed, assigned to nobody

[2022-02-23 17:13] VShingala commented on #10672
@l3ender Thanks for reporting the issue! We were able to reproduce the issue. Seems like currently due to the property named `pattern` in the mentioned schema, import flow is failing.

For temporary measure, you can import the spec by changing the name from `pattern` to anything else at line no. `57123` and `57279`.

Meanwhile, We'll start working on the fix for the issue.

[2022-02-23 17:21] JohnCarmichael3000 commented on #5222
There have been dozens and dozens of releases since this issue was opened. So at this point one must assume that adding this feature isn't in the cards for them?

[2022-02-23 17:33] VShingala commented on #10643
@arverma77 By default, as `app_version5` is not a required property, the mentioned collection is still valid without it and removal of `app_version3` property will make the collection valid. To make sure you have `app_version5` present in validation changes, you can mention it as `required` property. I've attached a video with steps below.

https://user-images.githubusercontent.com/16756296/155374

[2022-02-23 17:44] VShingala commented on #10301
@Siddhant125 Currently, we are not validating the query/header descriptions. Due to this any changes will not get updated via `Validation` button.

We'll be taking this up in near future, but no ETAs yet.

[2022-02-23 17:49] VShingala commented on #10295
@lobbin Could you share specification or short video where you're facing the issue? We've taken a look and the validation flow seems to be working fine. For example, take a look at video shared in this comment: https://github.com/postmanlabs/postman-app-support/issues/10643#issuecomment-1049033356

[2022-02-23 17:52] VShingala commented on #10229
@ThierryRassat Thanks for reporting the issue! We were able to reproduce the issue and we'll start working on the fix for this.

[2022-02-23 18:03] #9574 closed, assigned to VShingala

[2022-02-23 18:09] VShingala commented on #7769
@cfritschi Closing this as this is supported with current import/generation flow. Feel free to reopen the issue if you face any further problems.

[2022-02-23 18:09] #7769 closed, assigned to abhijitkane

[2022-02-23 18:16] VShingala commented on #8085
@agmcleod This issue has been fixed. I've verified the fix for the specification shared by you and it's working as expected.

I'll go ahead and close the issue for now, feel free to re-open it if you face any further problems.

[2022-02-23 18:16] #8085 closed, assigned to Raja-Simha

[2022-02-23 18:18] jkdba commented on #10641
@shubhbhargav confirmed I am able to run the same request from curl and aspnet core http client no issue

[2022-02-23 18:51] VShingala commented on #9053
@n2ygk This issue has been fixed for some time now. Current behavior is for both `Schema` and `Example` as value for option `Request parameter generation` will result in no query parameter being added for a schema with type `object` but no properties.

I'll close the issue, but feel free to re-open if you face any further problems.

[2022-02-23 18:51] #9053 closed, assigned to VShingala

[2022-02-23 18:58] giridharvc7 commented on #10691
While there's a UI bug where it seems like a new collection is being uploaded, we still replace the existing collection.
Can you try this just once on the web version of the app and let us know if you face this? Also a screen recording would really help if possible

[2022-02-23 19:23] dominik68 commented on #4753
Postman is not usable for mutual TLS use cases, where client certificate is required. Usually, you would have different clients using client specific certificates, but same hostname / API. Postman configuration only supports one client cert for one hostname, it is completely out of touch with reality. So we will contunue using cURL.
Postman support pointed me to this feature request, which is near

[2022-02-23 20:26] jgdovin commented on #10578
I second this. I use grpc calls at work with Postman and would love to see which argument is invalid instead of just a generic 3 INVALID_ARGUMENT, I know the GRPC server returns the exact error.

[2022-02-23 20:27] jgdovin commented on #10609
I have seen a similar error when I had imports in my .proto file. Do you have any imports in the proto file? If you do you can change them to relative path and importing to postman should work.

[2022-02-23 21:22] SavvasZaidQuadri commented on #1066
Would really appreciate this feature...

[2022-02-23 21:43] roobee15 opened #10695 "View folder name and create Subdirectories in Public Documentation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Th Subfolders have messy URL's such as "https://api-docs.echo.com/#2-e960-4e8-88-81d55" and the only way users can see relevant naming is to not use folders and use header 1 to create the separate sections (as header 1 is the onl

[2022-02-23 22:08] d-lach commented on #3646
This is a joke.

[2022-02-23 22:40] shutuper commented on #9176
Bug, when trying to send connection request to socket.io server through postman(last version (on desktop the same)):
=================================================================
logs:
=================================================================
[13194][1645654722816][main][error]["Postman Agent~Main~UncaughtException",{"name":"TypeError","message":"object null is not iterable (cannot rea

[2022-02-23 22:41] shutuper commented on #9176
Bug, when trying to send connection request to socket.io server through postman(last version on desctop the same):
=================================================================
logs:
=================================================================
[13194][1645654722816][main][error]["Postman Agent~Main~UncaughtException",{"name":"TypeError","message":"object null is not iterable (cannot read

[2022-02-23 22:43] shutuper commented on #9176
sdfsfasfs

[2022-02-23 22:46] shutuper commented on #9176
![image](https://user-images.githubusercontent.com/70547118/155422170-b4c2ae3f-5175-4be9-afa4-027be3c9f615.png)

[2022-02-23 22:47] shutuper commented on #9176
Bug, when trying to send connection request to socket.io server through postman(last version on desctop the same):
=================================================================
logs:
=================================================================
`[13194][1645654722816][main][error]["Postman Agent~Main~UncaughtException",{"name":"TypeError","message":"object null is not iterable (cannot read

[2022-02-24 03:19] dh-pt commented on #5222
Feels pretty standard and expected, though... like a very basic feature missing.

[2022-02-24 07:02] twitharshil commented on #10598
Hey @CongAn

We are actively looking into this issue and suspect that it has something to do with the Inter font files available on your system.
To investigate the issue further, Could you please try testing the latest versions of the postman application v9.13.0+ onwards on both web & desktop applications & let us know about your observations?
cc: @RaisinTen @bavulapati

[2022-02-24 08:20] shubhbhargav commented on #10641
@jkdba I see. Can you please share a screen recording of the issue and logs (ref: https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs)? This will help debug it further. You can share these with us at help@postman.com

[2022-02-24 08:29] xaviergm commented on #3845
+1 - I would like the runner to continue when it does not get a response at all from the server, in the same way it goes on when a 404 or a 500 status code is returned from the server. Not getting a response from the server is, in a way, a server error but that the server wasn't able to manage, right?

Could not get response - Error: read ECONNRESET halts all processing.

I would like to have the

[2022-02-24 09:28] w4dd325 opened #10696 "'Does not match' option for mock servers"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When creating mock servers I am trying to set up a pass and fail scenario, for example, a 200 response for correct request body and 404 for incorrect. Getting it to work for 404/failed responses has proven difficult as there are

[2022-02-24 10:04] guillermocb commented on #7280
+1

[2022-02-24 10:20] bavulapati commented on #10468
@routters Is this reproducible on the latest version of the postman app? How consistent is this issue?
Can you please share how you moved the downloaded binary to the /Applications directory?

[2022-02-24 11:56] DieHardd commented on #10634
My problem solved ty

[2022-02-24 12:25] kamaraju-p commented on #10560
The issue is resolved @Lauren-Gill

[2022-02-24 12:25] #10560 closed, assigned to Raja-Simha

[2022-02-24 12:37] droid4joy commented on #2701
+1

[2022-02-24 12:40] demoran23 commented on #2452
I work with Microsoft Dataverse a lot, which requires a scope.  This mod to the pre-flight script is also a bit more robust than the original:

[code]

[2022-02-24 13:01] RaisinTen commented on #7349
Is this reproducible in the latest version of Postman?

[2022-02-24 13:34] #10370 closed, assigned to malvikach

[2022-02-24 13:50] AakashMallik commented on #6273
We are taking this up on priority.

[2022-02-24 15:12] mnxumalo commented on #8768
I'm facing the same issue in Version 9.14.0 after the update. Where can I get the previous version of postman?

[2022-02-24 15:45] DerekSansom opened #10697 "Initial and Current value column names are confusing"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When duplicating an environment all the recent (last few weeks) variables are missing from the copy
And also when exporting an environment the latest variables are missing in the resulting json file

### Steps To Reproduce

1. Click on "Environment Quick Look"
2. Click o

[2022-02-24 15:50] leberknecht commented on #10688
Also happens on `5.15.19-1-MANJARO` with `Postman v9.13.2`
![image](https://user-images.githubusercontent.com/1165177/155558675-a540bfee-c3ad-4186-a4dc-ce681cdd9a6e.png)
That is the `import` dialog

[2022-02-24 16:36] malvikach commented on #10697
@DerekSansom thanks for writing to us. Happy to help you with this.

Let me know if you are storing the values in the current value column, if yes- these values are session values and are not stored on postman's database. If you open a new session, the current values would be lost.
Read more about it [here](https://learning.postman.com/docs/sending-requests/managing-environments/)

However, I see

[2022-02-24 18:21] joaquin-rossi commented on #10112
do you mind posting it here?

[2022-02-24 19:11] dsanders11 opened #10698 "Won't Open After Interrupted Update"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

On Windows, Postman app might fail to open if an update downloading in the background is interrupted, such as by loss of power on the machine, or a shut down.

### Steps To Reproduce

1. Wait for Postman app to begin downloading an update in the background
2. Cause machi

[2022-02-24 19:49] hueldera commented on #4818
+1

[2022-02-24 19:51] cherryramatisdev commented on #4818
+1

[2022-02-24 21:23] StrohmyerTR commented on #1603
This should be closed.

There are multiple, safe options for both the GUI, and (sheeeeesh - _hopefully_) quite obviously newman/CLI to accomplish this.

Global variables are stored locally and can be used safely, especially with the new 'secret' drop-down option.

Highly-encouraged, simple tip/trick - write yourself an encryption method and don't store your information raw, ever. Example...

`func

[2022-02-24 21:33] StrohmyerTR commented on #1603
I am in the same situation as you - see solution(s) above. Good luck!

[2022-02-24 23:22] scottashipp commented on #1603
@StrohmyerTR I appreciate the attempt to help, but no this issue should not be closed.  It's about giving _Postman_  the capability to read (more) _OS environment variables_.

The other stuff is not relevant to this particularly issue. The fact that _Newman_ can read environment variables is irrelevant since Newman isn't Postman. Newman vs. Postman was already covered in the conversation above.

T

[2022-02-24 23:27] l3ender commented on #10672
@VShingala Thanks for the response!

I tried modifying the spec file to change `pattern` to `abc` on the lines you mentioned, but am still seeing the error (updated file attached: [app_store_connect_api_1.7.1_openapi.json.txt](https://github.com/postmanlabs/postman-app-support/files/8137200/app_store_connect_api_1.7.1_openapi.json.txt)).

Did I miss something? Thanks!

[2022-02-25 00:28] richetoh commented on #3694
still waiting on this

[2022-02-25 01:39] ats1999 opened #10699 "Postman environment variables are not appearing in generated documention"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I have added the below code in collection pre request script
[code]
The header is being sent to the server and it's working.

But, when I tried to generate documentation, then there is no header value present in the documentation.

![Uploading Screenshot from 2022-02-25

[2022-02-25 02:03] madhead commented on #7349
I'm now on Ubuntu 20.20, Postman v9.13.2 and sadly, the issue is still there: changing the layout with `Alt` + `Shift` moves the focus to the menu.

[2022-02-25 03:23] Nura21 commented on #6205
Error: connect ECONNREFUSED 127.0.0.1:443
Found this, I've seen the console, and......well some scratch, but its just the name for the host
<img width="1440" alt="Screen Shot 2022-02-25 at 10 16 17" src="https://user-images.githubusercontent.com/70548701/155647668-7bd10ec9-a3d1-46f2-88b6-1f8a491899a2.png">

[2022-02-25 03:30] Harsh-Bansal commented on #10692
@byrdman thanks for bringing this to our attention.

Can you help specify if this error comes immediately or after a while.

If it is coming after a while (say around 60 seconds) then this could be happening because you tried importing a large collection. In such cases the app assumes the import operation failed since no response was received for ~60 seconds but the import does proceed in the back

[2022-02-25 05:51] dsanders11 opened #10700 "Window Size Shrinks on Display Add/Remove"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Adding or removing a display to the system on Windows will cause the Postman app window to shrink by 1 pixel in both width and height.

### Steps To Reproduce

1. Open Postman app, in a non-maximized state
2. Connect another display

### Screenshots or Videos

_No respon

[2022-02-25 07:24] giridharvc7 commented on #1066
@dmrickey I've added the `[Worked on by the Postman team]` to denote that we've started the work for this. I'll post updates here as we get close to release.

[2022-02-25 07:29] ankjevel commented on #5817
Are you able to give an ETA?

[2022-02-25 07:53] savage-alex commented on #10112
@joaquin-rossi, as requested. As below this was a mod from the lovely people at Box's postman collection. Props to them. I just modded it a little to fit my needs. It requires a refresh token to run but once you have that, it checks before each request if the access token is expired and if it is, then gets a new one.
[code]
To use it, setup the collection with OAuth2 auth code flow security and us

[2022-02-25 08:08] giridharvc7 commented on #10694
@SteveHipolito We've raised a hotfix to this issue. Can you confirm if you are facing this problem? Your app would have updated to version 9.14.5, if not - Please close and reopen the app.

[2022-02-25 08:46] Sti2nd opened #10701 "Postman on half-screen without horizontal scrolling"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

On a 1080p when Postman takes half of the screen the Postman UI doesn't fit. A horizontal scroll bar appears which makes it possible to use Postman but a lot more inefficient.

Notice how the UI is cut off on the right side.
![im

[2022-02-25 09:10] savage-alex commented on #10112
Your welcome to fork the public workspace if that's preferred https://www.postman.com/universal-escape-252485/workspace/oauth2-0-auth-code-flow-token-refresher

[2022-02-25 09:11] hkarjala commented on #10694
Updated to version 9.14.5 - app restarted (also cache cleared & reloaded) - did also signout / signin just in case.
I'm at least still having the same exact problem. Web -> desktop app direction sync seems to work fine.  App -> Web not, especially when duplicating a request and modifying the copied request.

Not sure if any help, but developer tools console gets following when saving modifications

[2022-02-25 09:34] giridharvc7 commented on #10694
@hkarjala Sorry that you are still facing this issue. Can you help understand what you mean by this?  A Screen recording will really help us out if possible

[code]

[2022-02-25 09:35] RaisinTen commented on #7349
Hmm, that was unexpected because that version of Postman uses Electron v13.6.7 and the [fix](https://github.com/electron/electron/pull/29328) for this issue has been backported to all release lines >= v12.

Assuming that you have Git, Node.js and npm installed on your system, could you please try to:
1. clone the [electron-quick-start](https://github.com/electron/electron-quick-start) repo
2. chan

[2022-02-25 09:45] duong-hspace opened #10702 "Installation failed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When i download and install it not working

### Steps To Reproduce

1. Download at https://dl.pstmn.io/download/latest/win64
2. Install

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/91865047/155692730-89b05483-2b41-4a2b-aa70-5f07da16ce3d.

[2022-02-25 10:02] walterdumba commented on #6682
+1

[2022-02-25 10:41] kamalaknn commented on #10702
Hey, @duong-hspace

We are not able to reproduce this issue on our side with the download link you have shared. We would need more information to pinpoint the cause of this issue.

Could you share the logs with us at `help@postman.com`? You can find the logs here `View -> Developer -> View Logs in Explorer`. Just zip all of the files and send them over to us via email.

It will be great if we can

[2022-02-25 10:43] DerekSansom commented on #10697
Hi Malvika,
Yes I edit "current value", or programatically set it, I don't seem able to
edit "initial value"

Is it possible to download or save in some way these current values,
and maybe columns should be renamed to reflect session or non-session,

Derek

On Thu, 24 Feb 2022 at 16:36, Malvika Chaudhary ***@***.***>
wrote:

[2022-02-25 11:42] malvikach commented on #10697
@DerekSansom yes, you can make use of _'persist all'_ to copy all current values to initial values. Similarly, you can make use of _'Reset All_' to copy the initial values to the current value column.

The app will save the values when you persist them in initial values column.

Regarding renaming the columns, I agree that it might be slightly confusing. We have taken note of this. I am updating y

[2022-02-25 11:43] Soni-Prince commented on #10694
Facing the same issue, requests are not saving, I have tried to re-install the postman just worked for a few hours only and then the same issue.

[2022-02-25 11:53] malvikach commented on #10316
This has been fixed in postman web and will be fixed in the app next week.

[2022-02-25 11:53] #10316 closed, assigned to malvikach

[2022-02-25 12:24] jimlinx commented on #10688
I had the same issue on Fedora if I installed through Snapstore. Try uninstall and reinstall from Flathub. I had another issue with Slack where I was not able to type Chinese characters with the Snapstore version but worked fine when I switched to Flathub version.

[2022-02-25 12:43] giridharvc7 commented on #10694
@Soni-Prince Sorry that you are facing this issue. We are looking into it as we speak - Can you share some log or screen recording that will help us debug this faster?

@hkarjala the logs were really helpful. We'll get back to you shortly on this

[2022-02-25 12:56] RaisinTen commented on #10688
@jimlinx were you trying to write on a dialog box?

[2022-02-25 12:58] jimlinx commented on #10688
@RaisinTen That's right, trying to type into a dialog would just end up as English characters even though the input has been set to Chinese.

[2022-02-25 13:00] RaisinTen commented on #10688
Thanks for confirming, closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/10449.

[2022-02-25 13:00] #10688 closed, assigned to postman-staff

[2022-02-25 13:28] RaisinTen commented on #8604
We don't have any debugging symbols for this version of Postman, so I'll close the issue for now. Feel free to open another issue if you come across the same crash on the latest versions of Postman (we have debugging symbols for those and we'll be able to help you out there), thanks!

[2022-02-25 13:28] #8604 closed, assigned to bavulapati, twitharshil, RaisinTen

[2022-02-25 14:15] DannyDainton commented on #10699
Hey @ats1999

That pre-request script is altering the request headers at runtime (When you hit the Send button) so it wouldn't appear in the documentation. For that header to be in the documentation, it would need to be manually added to the request headers section.

[2022-02-25 14:17] TheEzraMiller opened #10703 "Sync issues"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Conflicts on tabs that don't actually have anything to conflict with.

### Steps To Reproduce

It takes quite a few hours to get to it so cannot really film it, but steps I’m following:

- Close all requests
- Open 4 unique requests (I’ve made sure that at no point they

[2022-02-25 14:34] giridharvc7 commented on #10703
Thanks for reporting this. We are actively tracking this here https://github.com/postmanlabs/postman-app-support/issues/10694

[2022-02-25 15:46] giridharvc7 commented on #10694
We've released a hotfix v9.14.6 - This should fix it. Can you please try and let us know? @Soni-Prince @hkarjala

[2022-02-25 15:53] savage-alex commented on #10112
Cool write up about Postman's current OAuth2.0 Implementation https://dev.to/oneadvanced/oauth-20-authorization-code-grant-with-postman-part-1-5238

[2022-02-25 16:01] GF-Huang commented on #9449
Same issue.

[2022-02-25 16:05] GF-Huang commented on #9479
Same issue.

[2022-02-25 16:17] hkarjala commented on #10694
Haven't been able to reproduce the problem with v9.14.6 now - tested in same collection/fork I had issues with in previous versions. Thanks!

[2022-02-25 16:39] giridharvc7 commented on #10703
@TheEzraMiller  can you try this now? we've fixed it in v9.14.6.
Just close and open your app to update

[2022-02-25 16:41] TheEzraMiller commented on #10703
On Cloasing and re-opening the app i got version: “ You are up to date! Postman v9.14.5 is the latest version.” not your mentioned.

[2022-02-25 16:49] giridharvc7 commented on #10703
Can you share your postman id?

[2022-02-25 16:52] TheEzraMiller commented on #10703
Where do i get that?

[2022-02-25 17:01] giridharvc7 commented on #10703
The email id you use to sign in to your postman account.
Also, can you try it after a few hours, the update sometimes takes time.

[2022-02-25 17:02] justinhrobbins commented on #8231
count me as another +1

[2022-02-25 18:09] DaveBender opened #10704 "Export/Import collection strips // if surrounded by variable placeholders, e.g. }}//{{"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

If I export my collection and then import it, all requests get one of the two slashes removed from the URI, making them inoperable.  The double slashes are surrounded by variable placeholders:

[code]

After export and import, it becomes this:

[code]

### Steps To Repro

[2022-02-25 18:29] kenozordi commented on #9470
This works, after changing Auth to "inherit from parent" make sure to save all the updates made.

[2022-02-25 19:53] giridharvc7 commented on #10704
Thanks for reporting this, will file this as a bug.

[2022-02-25 20:49] TheEzraMiller commented on #10703
Just got the new update, will let you know if the issue repeats.

[2022-02-25 21:57] serendipity30 commented on #7917
@twitharshil This issue still exists. Please re-open this defect.

[2022-02-26 01:19] madhead commented on #7349
I've reproduced and recorded a video:

https://user-images.githubusercontent.com/577360/155823034-ac74f9e9-9f3b-4489-816d-d02f84121469.mp4

The `Alt` + `ISO_Next_Group` is just `Alt` + `Caps Lock`.

[2022-02-26 05:20] ats1999 commented on #10699
So, basically I need to manually put the headers in all API requests?

[2022-02-26 07:15] DannyDainton commented on #10699
In the context of the basic documentation generation and for it to be visible in every request, yes. If you're only sending requests and having that script perform an action at runtime, no.

You can still make a reference to the script in the Collection, Folder or Request description explaining what the script doing, the same for any script in the Collection. This script would be included in the C

[2022-02-26 14:22] Zikkq opened #10705 "Warning: Unable to verify the first certificate"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I've created corresponding question on strackoverflow and asked at the community. But investigating problem further i was suggesting that it could be a bug or I've just missing something. Any help will be appreciated so please follow [this link](https://stackoverflow.com

[2022-02-28 05:16] VShingala commented on #10672
@l3ender It seems this is happening due to the large size of the collection that's being generated as the specification is quite large. I am getting an error while importing but the collection does seem to be getting generated after some time (with suggested fix).

We have an issue open for the same [here](https://github.com/postmanlabs/postman-app-support/issues/9059). Also if you still do not ge

[2022-02-28 06:46] giridharvc7 commented on #10703
@TheEzraMiller Wondering if the issue was fixed for you

[2022-02-28 06:51] giridharvc7 commented on #10694
Thank you @hkarjala.
@Soni-Prince Let me know if this is fixed for you as well.

[2022-02-28 07:04] Soni-Prince commented on #10694
Now it's working fine for me.
Thanks.

[2022-02-28 07:34] jony1993 commented on #6678
Hi there,
Is there any plan/roadmap of offering a visual editor?
https://stoplight.io/api-design/ offers a great visual editor for OpenAPI 3.1....

[2022-02-28 08:22] lobbin commented on #10295
@VShingala No, this is still an issue. Simply setting "required" from true to false breaks this. I can continue on the other thread, I think that one is better as it contains a video as well.

[2022-02-28 08:27] lobbin commented on #10643
@VShingala I continue from my issue. I think your approach to this is wrong. Yes, you are probably correct that the collection is valid when it comes to honouring required fields. However, from my point of my view, the main purpose of the collection is to provide an easy tool for our developers to work with the API, and would what be easier than having all available parameters provided in the coll

[2022-02-28 09:32] #8391 closed, assigned to Dhembla

[2022-02-28 12:14] sandmanx24 commented on #9598
Screenshot to illustrate issue of Postman opening behind the Task Bar at the top of the screen. In Windows 11, the Task Bar is not easily moveable, so this is now more of an issue.
![Windows11_Postman_Start_2022-02-28_07-08-49](https://user-images.githubusercontent.com/7471107/155981689-f0aed288-b999-47ea-b369-4f445bf97a55.jpg)

[2022-02-28 12:52] RaisinTen commented on #7349
IIUC, the key combination does switch the language correctly but at the end, the `File` menu steals focus, so when you do `↑` `↓`, it toggles between the inner items of the `File` menu.

I'm not sure if this is a bug or an expected behaviour. Do you see the same behavior in non-electron applications too?

Since this reproduces in the basic electron app, I think it would be better if you could open

[2022-02-28 14:44] madhead commented on #7349
Done

[2022-02-28 14:47] #10276 closed, assigned to giridharvc7, malvikach

[2022-02-28 14:50] malvikach commented on #10556
@thinkedem  Hello, we are happy to inform you that this issue has been fixed.
Please feel free to let us know if you face any other problems while using the secret variable type.

[2022-02-28 14:50] #10556 closed, assigned to malvikach

[2022-02-28 14:51] postman-support commented on #10495
Hey @HeikoKramer 👋
Happy to let you know that this is fixed in the latest version :)
I am going ahead and closing this thread next.
Please feel free to re-open this thread if you are still seeing the same behaviour.

via @VaishnaviChallaPostman | Postman Support

[2022-02-28 15:13] malvikach commented on #9630
@andrejmarinic Let us know if you are still facing this problem in the latest [postman](https://www.postman.com/downloads/) version 9.14.

I am unable to replicate this issue anymore. If you still see this, please do attach more information about your os environment and a screen recording of your experience.

[2022-02-28 15:15] AakashMallik commented on #6273
@neilmario70 @ramit-rulz It doesn't seem to occur when pasting 2MB+ JSON/XML in the Body of the request. But it does hand when pasting the same content in URL field. I suspect it has something to do with the search API, but I'll get a confirmation on this.

[2022-02-28 15:16] KornKalle commented on #8911
Any Updates on this? Currently facing this with a collection with 120+ Requests, I managed to work through the exported file via sed, but this is definitely a flaw.

[2022-02-28 19:17] gabloe commented on #4396
Any update on this? I need to be able to access authorization headers in pre-request scripts for requests that inherit from a collection's authorization

[2022-02-28 21:16] dcoffey3296 commented on #6370
+1 on this feature, thanks

[2022-03-01 00:07] jonycheung commented on #10413
@Fydon We have recently updated Canary https://www.postman.com/downloads/canary/ Please reopen if this is still an issue.

[2022-03-01 00:07] #10413 closed, assigned to jonycheung

[2022-03-01 05:54] postman-support commented on #10702
Hi @duong-hspace
Thanks for reaching out to Postman Support.

Sorry that you are facing issues while installing Postman but we are happy to help.

To fix the installation issues we can try renaming/clearing the local postman folders and re-install the application. You can find the full instructions for doing so in the below article.
-> https://support.postman.com/hc/en-us/articles/360025359014-How

[2022-03-01 07:04] yeongjet commented on #8195
Very very need this！

[2022-03-01 07:24] Soni-Prince commented on #10694
Again facing the same issue 😔

[2022-03-01 07:27] giridharvc7 commented on #10694
@Soni-Prince Thanks for getting in touch again, Sorry that you are facing this. We are releasing a hotfix soon. Appreciate your patience.

[2022-03-01 09:09] landsnail opened #10706 "Version 9.4.1 the problem still exists"
Version 9.4.1 the problem still exists
link：
https://tech-release.api.fuliaoyi.com/app-customer/v2/api-docs
Others can import success。like : https://tech-release.api.fuliaoyi.com/app-purchase/v2/api-docs

_Originally posted by @DQJ0521 in https://github.com/postmanlabs/postman-app-support/issues/8686#issuecomment-994726660_

---------------------------------

version 9.12.2 the problem still exist

[2022-03-01 09:35] araqieldev commented on #8195
Auto saving on the sending request please 🙏

[2022-03-01 10:37] giridharvc7 commented on #10694
We've raised another hotfix, this should be v9.1.7 . Can you check and let us know if you still face this @Soni-Prince

[2022-03-01 14:55] ramith commented on #9007
@DannyDainton its been a while and I wanted to check if you guys have decided anything on this?

[2022-03-01 14:59] ramith commented on #9013
Hi @giridharvc7 its been a while so I thought I might check on any updates? :)

[2022-03-01 15:01] ramith commented on #9163
@kinlane any updates? dit it got postponed to 2022?

[2022-03-01 17:08] shashankawasthi88 commented on #10649
@rubydev this should be fixed with the latest release.

[2022-03-01 17:08] #10649 closed, assigned to shashankawasthi88

[2022-03-01 18:36] buzitsl opened #10707 "Postman Scratch Pad is very buggy with the latest version v9.14.0"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I updated to what I thought was the latest Postman 9.14.0. Unfortunately, it has a lot of usability errors. When I asked my co-worker if they have the same issues, I was told that they are on Postman 9.14.4 and they have no issues.
I tried to get that version, but my pos

[2022-03-01 18:39] numaanashraf commented on #10707
@buzitsl Could you quit and restart the app and send us a screenshot of the Settings > About section

<img width="722" alt="Screenshot 2022-03-02 at 12 09 04 AM" src="https://user-images.githubusercontent.com/3295568/156228896-36181aa9-35ca-4be1-8041-4642479b6412.png">

[2022-03-01 18:51] buzitsl commented on #10707
My screen
***@***.***

Thank you
............................................................
Lev Buzitsky-Aks
Cell: +1 917.293.1256 | Office: +1 203.205.8983

From: Numaan Ashraf ***@***.***>
Sent: Tuesday, March 1, 2022 1:40 PM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Buzitsky-Aks, Lev ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [postmanlabs/postman-app-support] Unable

[2022-03-01 18:53] buzitsl commented on #10707
![image](https://user-images.githubusercontent.com/68035720/156230792-7191ca65-4c89-4f04-a3d0-a67c81da7e4a.png)

[2022-03-01 18:55] Achllle opened #10708 "Drop changes to a forked collection / reset fork"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When making changes to a forked collection that shouldn't make it back to the main branch, e.g. changing the body of a request, I'd like the ability to drop certain or all changes I've made. Currently I use the merge feature to '

[2022-03-01 19:59] buzitsl commented on #10707
Why did it get closed?

[2022-03-01 20:10] numaanashraf commented on #10707
@buzitsl Are you using Postman signed-in with an account?

[2022-03-01 20:27] buzitsl commented on #10707
No, I am not using Postman with a signed-in account.

[2022-03-01 23:23] shaneocall opened #10709 "Calling pm.collectionVariables.set in a pre-request script deletes all disabled collection level variables"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

If I have variables in the collection which are disabled (checkbox is unticked). Whenever a script calls `pm.collectionVariables.set("myKey", "myValue")` then the disabled collection variables are deleted.

This is a regression, this did not happnen with previous version

[2022-03-02 02:27] cw-20020752 opened #10710 "Issue when importing swagger 2.0 yaml file into postman"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When importing swagger2.0 yaml file to postman apis,
It is different from the format shown in the swagger editor (https://editor.swagger.io/)
and an error occurs.
(A yaml file is a document automatically created through the golang library (swaggo))

Here are two examples

[2022-03-02 05:38] Asherslab opened #10712 "gRPC: Support Grpc-Web"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently you cannot call a Grpc-Web server with postman, I receive
`“Received RST_STREAM with code 0”` status 13 (internal) code

### Describe the solution you'd like

I would like to be able to call a Grpc-Web server from postm

[2022-03-02 05:58] DivyaMoryani opened #10713 "Unable to load tests/Create new Requests in all Collections"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I had signed-out and Signed-In postman, I can see all the Collections, but the tests dont load,
When I try to create a new API Request, It returns : An error occured while fetching permissions.

### Steps To Reproduce

1. Sign-out
2. Sign-in
3. Switch to Any workspace ->

[2022-03-02 06:16] loscil06 commented on #7607
It's 2022, a war is currently being waged and still this error hasn't been fixed

[2022-03-02 07:05] martinlindenberg opened #10714 "Corrupted Update removes the program from initial folder"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I've installed Postman in a separate folder, named Postman and created a shortcut to easily start that app. As icon for that shortcut i am selecting the app icon which is located somewhere in that folder.

After some days of usage that link's icon disappears and the app

[2022-03-02 08:55] malvikach commented on #9630
Closing this issue, please feel free to re-open and let us know if this is still a problem with the above-mentioned details.

[2022-03-02 08:55] #9630 closed, assigned to malvikach

[2022-03-02 09:45] krearthur opened #10715 "Request examples print initial values instead of current values of environment variables"
### Describe the Issue

Request examples print initial values instead of current values of environment variables.

### Steps To Reproduce

1. Create a collection with a GET request to "{{url}}/hello"
2. Create an environment with variable "test", initial and current value = 1
3. Create a mock server for the new collection, with the new environment selected
4. A new environment variable called "url

[2022-03-02 10:27] TheEzraMiller commented on #10703
Yes thank you no further issues with this in past few days.

[2022-03-02 10:27] #10703 closed, assigned to nobody

[2022-03-02 12:01] Mrodent commented on #3897
Utterly amateurish.
By the look of this thread you have no intention of giving users a choice of install location. Ever.
OK, better look at one of your hungrier competitors. Byeee!

[2022-03-02 12:58] still-breathing opened #10716 "Environment Variables are disappearing if workspace is changed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Previously saved values & keys in Environment Variable are disappearing when I switch between workspaces

### Steps To Reproduce

1. Create at least 2 workspaces, create at least 2 environments for the first workspace
2. Save few keys & values in the first environment of

[2022-03-02 14:17] andreifloroiu commented on #10689
I have the same issue.

KR

[2022-03-02 14:28] buzitsl commented on #10707
Thank you, Ankur,

Three major usability issues for Postman 9.14.0 that make it very hard to use are:

1. User cannot edit the collection. Clicking on the collection name or folder link opens a blank page.

![image](https://user-images.githubusercontent.com/68035720/156379127-3f68e281-5580-4fe7-9deb-7b62a32edd7a.png)

2. User cannot edit the environment variables.  Clicking on the environment vari

[2022-03-02 14:37] Jiarius opened #10717 "Maximum call stack size exceeded when generating collection from WSDL/API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi,

This is maybe duplicate of #10266 (closed - same error message which was thought to be fixed)

I'm trying to import a WSDL API for testing.
Getting the error on API import screen also later in the draft clicking "Generate Collection"

"Couldn't generate collection.

[2022-03-02 15:35] numaga94 commented on #10185
Same issue with Version 9.14.7

[2022-03-02 15:38] numaga94 commented on #10194
this feature is still missing in version 9.14.7!!!

[2022-03-02 16:09] manojrana-nytimes commented on #7634
Hi, Any reason for bumping to 1000 LIMIT instead fixing by proper pagination because Our Org have more than 1000 Repos. This fix doesnt help us.

[2022-03-02 16:40] rupam-bumba commented on #10261
please add socket auth tab

[2022-03-02 20:39] MalloD12 commented on #7307
I do also have the same issue. I think I've used only once the "Find & replace" feature just to look for an endpoint being used and it might be also the time when these export issue started happening.

[2022-03-03 02:20] shiconsLeva opened #10718 "Use collection variables failed"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues

### Describe the Issue

![image](https://user-images.githubusercontent.com/52996325/156483189-a97fa10e-3521-4433-9a7d-400578675181.png)
![image](https://user-images.githubusercontent.com/52996325/156483340-fb17e215-6d22-42b4-be24-e53955b9fadf.png)
I set a collection variable named 'origin' but

[2022-03-03 03:57] VShingala commented on #10295
@lobbin Is the issue you're facing the same as the issue that I mentioned? #10643

[2022-03-03 04:03] VShingala commented on #10643
@lobbin I understand and agree with the use case. But as of now, this is expected behavior, and changing this behavior can cause validation issues on other valid collections. We'll take a look at the issue further and see if we can make this behavior configurable.

No ETAs yet but we'll keep you informed on this thread with updates.

[2022-03-03 04:36] twitharshil commented on #10714
Hey @martinlindenberg

Thanks for reporting the issue! Apologies for the trouble caused from our end. It seems to be a genuine issue & a fix for this is out with the Postman v9.14.0+ onwards.

Similar ticket https://github.com/postmanlabs/postman-app-support/issues/10679#issuecomment-1046446183

[2022-03-03 04:36] #10714 closed, assigned to nobody

[2022-03-03 05:23] VShingala commented on #10229
It'll be available with the next release of App but keeping issue open for now.

[2022-03-03 05:39] Dhembla commented on #10715
@krearthur Thank you so much for reaching out to us. When you use a script to update environment variables that actually updates the current value of variables, and current values are local to your system and not shared with Postman systems. That's why when you try to use these variables with a mock server you are getting only the initial values in response. You can read more about the difference

[2022-03-03 05:42] giridharvc7 commented on #10716
Sorry that you are facing this issue @still-breathing , can you share some logs from the dev console?

[2022-03-03 05:43] giridharvc7 commented on #10718
We are looking into this issue, will let you know once fixed is rolled out

[2022-03-03 05:44] giridharvc7 commented on #10713
Sorry that you are facing this @DivyaMoryani , can you share some logs from the dev console?

[2022-03-03 06:54] ankurdengla commented on #10707
Hey @buzitsl!

Sorry to hear that you're experiencing issues with the app. Could you please send us your app logs to help@postman.com ?
Instructions to get app logs - https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs

Meanwhile, to unblock yourself, you can turn on the "Always open requests in new tab" setting -
<img width="1440" alt="Screenshot 2022-03-03 at 12 13 41

[2022-03-03 07:07] crafton commented on #10660
I'm having the same issue; Windows 11, Postman v9.14.6. Tried uninstalling and re-installing, signing out and back in again; made no difference.

[2022-03-03 07:11] y-reddy commented on #10660
Apparently i have turned off sync on old version of postman. Now there is no option toggle sync. Which is why my postman was not syncing.
[help@postman.com](mailto:help@postman.com) took a minute to fix it post consent.

[2022-03-03 07:17] crafton commented on #10660
@y-reddy thanks for the tip. I've sent my logs to help@postman.com, hopefully they can resolve.

[2022-03-03 07:37] crafton commented on #10660
Looks like the sync issue was my issue as well. Postman support has resolved it.

[2022-03-03 08:45] rmemon-bunnings commented on #2209
Yes, would be great if we can support hybrid.

[2022-03-03 09:27] AakashMallik commented on #7634
Yes, we are adding support for paginated API in the dropdown. It is being worked on as we speak. Sorry for the inconvenience.

[2022-03-03 10:27] simon-4c commented on #10459
Merging collections is so bad (lack of feedback, no busy icon, random errors) that we are currently looking at alternatives.

[2022-03-03 10:49] lobbin commented on #10295
@VShingala, I think so. I can't really recall since it was such a long time ago ;) but the #10643 describes the problem I had so I'm closing this one.

[2022-03-03 10:49] #10295 closed, assigned to Raja-Simha

[2022-03-03 12:53] AxelMcAllister opened #10719 "JSON breadcrumb navigation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

I'd love to be able to navigate through large JSONs with the aid of a breadcrumb. This is also very useful to see the hierarchy of the element you are inspecting.

IntelliJ implements thi

[2022-03-03 12:56] giridharvc7 commented on #10716
Can you right-click -> Save as and send ou the file? That'll help us dive deeper.
The Errors that you see here aren't relevant to the issue you are facing.
Thank you once again @still-breathing

[2022-03-03 13:59] SchmidtWebmedia commented on #10718
Some further information, I think this could be related to this issue here:

- The values from the "collection variables" do not overwrite the values from the "environment variables".
- The "Code Snippet" tool also does not take the values from the "collection variables".

**System**:
- Windows 10
- PostMan v9.14.9

[2022-03-03 15:09] alexei-moneyr commented on #8231
guys!!!! its been two years now!
Please add this option. Please!

[2022-03-03 15:24] timothyk0908 commented on #9616
Awesome, Ill check that :) thanks a lot

[2022-03-03 15:39] karukenert commented on #6926
+1

[2022-03-03 15:48] charlesreitz commented on #3117
+1

[2022-03-03 16:03] buzitsl commented on #10707
Thank you,
Changing the setting worked. The Scratch Pad is working. Collections, requests, and environments open up for editing.
![image](https://user-images.githubusercontent.com/68035720/156596409-521b07e5-15e9-43af-a3fa-420dc3e0e435.png)

I found this helpful info on this page:  https://learning.postman.com/docs/getting-started/settings/#:~:text=Always%20open%20requests%20in%20new,changes%20whe

[2022-03-03 18:41] Mincoslav commented on #8612
Google led me here even though my error was this: "Error: write EPROTO 51666824:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:"
the solution for me was to remember to add a "/" at the end of my url.

[2022-03-03 18:50] jviotti commented on #6999
@sylvix Would you mind opening a new ticket describing this behavior so that we can discuss it in more depth there?

[2022-03-03 19:12] StrohmyerTR commented on #1603
I would disagree - both with your unsolicited passive-aggressive undertones (i.e. you appreciate the "_attempt_" to help + everything I offered is "_irrelevant_"), and your opinion that my post is not a solution at all. It certainly is a solution - pertaining to most people looking for a less hyper-specific solution. There are reasons this is not a feature in Postman - main one being security. Tha

[2022-03-03 20:55] xaviergm commented on #3360
Any updates on this issue?

[2022-03-04 02:30] Franknozly opened #10720 "Links in visualizer should open a new API tab"
### Is there an existing request for this feature?

- [x] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I created a visualizer view that generates an url in an anchor tag.  When I click on the link, nothing happens.  There's no way to interact with the link.  If there is a link inside the body of the response, in the raw or pretty

[2022-03-04 05:40] jviotti commented on #6999
Hey @sylvix , as a follow up, we have confirmed that the bug you mentioned was already discussed and fixed in 9.14.0 over here: https://github.com/postmanlabs/postman-app-support/issues/10679. Let us know it that solves the problem for you!

[2022-03-04 06:50] inihility commented on #10660
For anyone else experiencing this issue, I've sent my logs to support and they told me they are still investigating it.

[2022-03-04 10:31] boan-jfm commented on #2096
Maybe just have a `keybindings.json` without UI in the beginning - like Visual Studio Code: https://code.visualstudio.com/docs/getstarted/keybindings#_advanced-customization

[2022-03-04 10:31] mronnblom-cint commented on #4222
I disagree this is related to issue 8195 (which is about autosaving). This is a matter of inconsistent behavior of Collection Variables vs Environment Variables. This becomes very apparent when you only have read-only access to a Collection or Workspace.
* Even with read-only access, I can enter a "Current value" on a Environment Variable, and it comes into effect without saving.
* If I enter a "C

[2022-03-04 10:55] arakis opened #10721 "Old Installation folder not removed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

After autoupdate, there's still the old installation

### Steps To Reproduce

-

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/1831942/156750553-de9cfeaf-d438-4085-a5e9-7d11f8d8dea7.png)

### Environment Information

[code]

### Additional

[2022-03-04 10:57] rysiuwroc commented on #8626
Still an issue in v9.14.0

[2022-03-04 12:42] NelemaniA commented on #9544
+1, I'm experiencing the same problem over here. Postman does also become very slow sometimes, probably because of the console log thats still being filled.

[2022-03-04 12:47] mnogokotin commented on #6719
Can postman fetch all queries and mutations from url? Can it create full query or mutation request body?

![Screenshot_1](https://user-images.githubusercontent.com/2795255/156766127-c5efa8f1-efc8-40f2-8f3a-fcaefa71dcb1.png)

[2022-03-04 16:37] RealExtraTomato opened #10722 "Duplication of a nested folder does not copy ALL of its contents."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Duplication of nested folders more than 3 deep is recreated. But upon viewing the contents of said folders the contents of each call GET, POST, PATCH etc is empty.

Duplication of nested folders 2 deep is fine.

### Steps To Reproduce

Structure of my collection

Folder

[2022-03-04 17:36] shraddhakul commented on #7602
We have multiple pods/teams in our company who need to add their respective collections to our current API automation framework. DevOps and QA team members want to include these collections in the CI/CD runs
Secondly we have a requirement to run subset of collections based on the changes going out live. Hence it would be helpful if we have a postman/newman feature supporting runs of multiple colle

[2022-03-04 17:38] hflocken opened #10723 "Running Newman: command line works, Javascript throws an error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi,

I have a collection that I can run successfully using the following command:
`newman run --verbose --insecure --ssl-client-cert /Volumes/Certs/cert.pem --ssl-client-key  /Volumes/Certs/key.pem Tester.postman_collection.json -e Default.postman_environment.json –repor

[2022-03-04 17:44] shai-zmora-sp opened #10724 "Monitors: Request run manually results in 500 response but same request in monitor produces 200 response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

The same request is run:
1. manually (or as part of a collection)
2. as part of a Monitor manual run.

Issue:
The request consistently fails (returns a 500 response code) when run manually and the service has been confirmed as down.
When the same exact request is run as

[2022-03-04 17:45] DannyDainton commented on #10723
Hey @hflocken

This is the repo for the Postman app/desktop platforms.

Could you please raise this in the Newman repository.

https://github.com/postmanlabs/newman

[2022-03-04 17:45] #10723 closed, assigned to nobody

[2022-03-04 19:28] giridharvc7 commented on #10722
Thanks for reporting this @RealExtraTomato , we are looking into this.
Meanwhile can you share some logs from dev console if possible?

[2022-03-04 19:32] vbeaudoin19 opened #10725 "Please increase Collection sidebar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

With folder + subfolder (for 2-3 levels) than having the test, we have to shrink the texte, but we are still missing good part for text description for the test.

Currently, with the maximum width established, we are very limited

[2022-03-04 20:38] hiqqs opened #10726 "A "type" property within array fails data type schema validation"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

when trying to use the tiny validator schema type check in a postman test, if the array contains a property of "type" it fails the validation type check.  Is there a way to escape it or something so the validator knows you are using a property of type and not try to pars

[2022-03-04 21:03] johnhiggs commented on #5964
thanks!!!!!!!

[2022-03-04 23:25] aharasta commented on #4818
Kinda frustrating to not be able to even manually toggle the environments in the app for a set of customers that might be onboarding into a staging environment instead of production. Sharing a public collection is not ideal if we just want to share information publicly without asking customers to familiarize themselves with a new product. @Raja-Simha Where is this on the roadmap?

[2022-03-05 03:12] anandhu-co-in commented on #4671
Its 2022 March Please Come one.. I need this feature 😑

[2022-03-05 03:18] anandhu-co-in commented on #4671
Currently what I do is :

1. Click on the first tab to activate it
2. place your left little finger on the control key, middle finger on the Tab key, and index finger on the S key
3. Press and Hold left Ctrl key
4. keep pressing S and Tab alternatively. keep doing it until all tabs are saved!

[2022-03-05 09:21] SampsonCrowley commented on #10193
@shubhbhargav  I have to specifically change the format to text and back to json to get it to format

[2022-03-05 09:21] SampsonCrowley commented on #10193
it also modifies the "raw" request to do so

[2022-03-05 10:23] albertoVieiraNeto commented on #4775
will postman ever fix this? oidc/implicit is a pretty standard login flow.

[2022-03-06 10:53] rajpra808 commented on #7055
Another solution
remove `SingletonLock` and `SingletonLockCache` file from `~/.config/Postman`

[code]

[2022-03-06 15:11] tomwoodcock1981 opened #10727 "Json link value in /collections response"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We are developing a solution to aid non- technical team members to run our collections via Newman.

It's also a time saving issue to avoid copy and pasting paths to .json files that need to be stored locally.

### Describe the so

[2022-03-06 16:25] maciek1839 commented on #5040
+1

[2022-03-06 17:25] HunterLarco1 opened #10728 "test123"
### Describe your current workflow

test

### Describe your ideal workflow

test

### Describe alternatives you've considered

test

### Additional context

test

[2022-03-06 18:03] #10728 closed, assigned to abhijitkane

[2022-03-06 20:33] chillosu commented on #571
Any chance parallel execution made it onto the roadmap?

[2022-03-07 06:32] hflocken commented on #10723
@DannyDainton thanks for the hint - that already fixed my problem

[2022-03-07 07:31] kings1990 commented on #7833
some plan about api of publish document?

[2022-03-07 07:47] 643104191 opened #10729 "can not use anything about workspace in postman"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue
#### This state has been going on for several days, since about a few days ago (March 3, UTC+8)
in broswer(with postman agent):
![image|258x177](https://aws1.discourse-cdn.com/business6/uploads/getpostman/original/2X/6/6846f47332c9fd8e9a6528ebc958b038f390a2b6.png)
in desk

[2022-03-07 08:15] montaofficial commented on #10729
Mee too!

[2022-03-07 08:25] rizkykunuq commented on #10729
Me too, just loading when add new request

[2022-03-07 08:27] marcobonati commented on #10729
Me too, the network works perfectly, the desktop tool seems correctly synchronized but my workspace appears completely empty.

Version 9.14.10
UI Version: 9.14.10-ui-220304-0545
Desktop Platform Version: 9.14.0 (9.14.0)

<img width="267" alt="Screen Shot 2022-03-07 at 09 25 27" src="https://user-images.githubusercontent.com/23502993/156994830-9ce4eb22-940b-4a5b-a883-4c1377d8a23f.png">

<img width=

[2022-03-07 08:30] 0xf1a commented on #10729
Really guys, great job making sure the app can't run without an internet connection. Modern programming is so cool.

[2022-03-07 08:30] abhijitkane commented on #10729
We're facing a few issues on our internal services. Our teams are working to get systems back up. I'll keep this thread updated as we have more.

[2022-03-07 08:31] bdelan commented on #10729
Same...
![Screenshot 2022-03-07 093034](https://user-images.githubusercontent.com/46685785/156995415-9697a789-9362-4911-8c3b-e16df665c249.jpeg)

[2022-03-07 08:35] ivanaa995 opened #10730 "I can't access Postman's workspace"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I can't access any of 3 workspaces in Postman since this morning. I got picture with info: Request not found. We cold not find the request you are looking for. and in part for adding requests there is info: Couldn’t fetch your data
Just a faulty wire. Your data is safely

[2022-03-07 08:39] kankernl opened #10731 "Monitor values of an API"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I want to get a notification if some values changes

### Describe the solution you'd like

I wonder if it possible to configure a monitor that does specific calls and checks if there are changes since last call. I am not talking

[2022-03-07 08:42] dnkcz commented on #10729
same here. Quite a bug when you have no chance to use Postman when offline. Its more anoying when my internet works, but postman have trouble connecting to your services and load data.

[2022-03-07 08:45] rhkdwh91 commented on #10729
me too

[2022-03-07 08:46] lrseryou commented on #10730
I have the same problem

[2022-03-07 08:47] mohammedsawsaq commented on #7021
it's happened again now to me

[2022-03-07 08:49] maximejosien commented on #10730
I've got the same problem with the postman app

[2022-03-07 08:50] 643104191 commented on #10729
This state has been going on for several days, since about a few days ago (March 3, UTC-8)

[2022-03-07 08:52] Nicqiang commented on #10730
I have the same problem

[2022-03-07 08:53] GroundLand commented on #10730
I have the same problem

[2022-03-07 08:53] akshay-kulkarni-03 commented on #10729
Hi All,

We are facing degraded performance and the status for the same can be tracked from here: https://status.postman.com/

[2022-03-07 08:54] abhijitkane commented on #10730
We're facing a few issues on our internal services. Our teams are working to get systems back up. I'll keep this thread updated as we have more. Status: https://status.postman.com/

[2022-03-07 08:55] MDAsifurRahmanBS commented on #7021
Happened to me now too !!

[2022-03-07 08:58] hxy112292 commented on #10730
Oh my God. I have the same problem. Help!!!!

[2022-03-07 08:59] barankaplan commented on #7021
i am struggling with the same problem

[2022-03-07 09:00] mkdreams commented on #10730
me too....

[2022-03-07 09:01] kaniou commented on #10730
me too.. ✋🏼

[2022-03-07 09:01] JhangShengLuo commented on #10729
I've got this issue too, seems like if you use postman account everything couldn't loaded.

[2022-03-07 09:02] JhangShengLuo commented on #10730
same problem here, desktop app or web app, show me the same error.

[2022-03-07 09:05] wcatalansuazo opened #10732 "Can't login from desktop app - Using google account."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Sign in -> sign with google account(in browser ) -> error.
[code]

### Steps To Reproduce

1. In the postman app click Sign in
2. IN browser select login with google account
3. error is displayed.

### Screenshots or Videos

_No response_

### Environment Information

[c

[2022-03-07 09:06] yii6 commented on #7021
same problem , all my collections are gone

[2022-03-07 09:07] MKermanipoor commented on #7021
It seems the issue has been resolved.

Just reopen your Postman.

[2022-03-07 09:07] BruceZhang1993 commented on #10732
same error using username and password

[2022-03-07 09:11] chenyonghui100 commented on #10732
me too

[2022-03-07 09:13] vdcardenas commented on #10732
Me too :-/

[2022-03-07 09:14] CalvinTG commented on #6999
Hi,
we deploy Postman via Software distribution and our users don't have administrative rights.
Therefore users cannot update Postman themselves.
We switched off the major updates in the settings, but as many users mentioned in this blog we also cannot switch off minor updates.
Generally in a modern software we expect a switch to turn off ALL updates. This also coud be a hidden switch, available o

[2022-03-07 09:19] vdcardenas commented on #10732
It's working fine again

![image](https://user-images.githubusercontent.com/18684822/157002696-6f85a950-4708-4166-8b43-7d8b75ed2324.png)

[2022-03-07 09:20] Swapnil-getpostman commented on #10732
We are experiencing some downtime and our Engineering team is working quickly to get everything back up and running. I will keep you posted on any updates I get from engineering. Also, our status page has been updated to track this here: https://status.postman.com/

I appreciate your patience while we get this sorted! Thank you!

[2022-03-07 09:23] Swapnil-getpostman commented on #7021
We are experiencing some downtime and our Engineering team is working quickly to get everything back up and running. I will keep you posted on any updates I get from engineering. Also, our status page has been updated to track this here: https://status.postman.com/

I appreciate your patience while we get this sorted! Thank you!

[2022-03-07 09:24] Tuki277 commented on #10730
everything is working again :D
![image](https://user-images.githubusercontent.com/58626944/157003479-3fb9d0d0-6a45-453d-bcce-1c20fe92e532.png)

[2022-03-07 09:24] abhijitkane commented on #10729
A fix has been put in place, and systems are currently operational. You should be able to see your workspaces' data by reloading the page or restarting Postman.

[2022-03-07 09:26] ivanaa995 commented on #10730
yes, now is working fine, thank you!

[2022-03-07 09:26] ranistar commented on #10729
One more question, is it possible to load saved requests from local without network?

[2022-03-07 09:42] wcatalansuazo commented on #10732
now it is working :D thanks !

[2022-03-07 09:42] 643104191 commented on #10729
@abhijitkane

is still not work, can anyone give me some help???

[2022-03-07 09:55] Raj-postman commented on #10729
@[643104191](https://github.com/643104191) Sure, could you please submit a ticket to us via this link: https://postman.com/support to help us look into this - if there are any issues related to your account.

[2022-03-07 10:33] Camble commented on #7210
Can't believe this really isn't implemented.

[2022-03-07 11:02] DannyDainton commented on #10732
Closing this issue as the service is back up and running.

[2022-03-07 11:02] #10732 closed, assigned to nobody

[2022-03-07 11:07] DannyDainton commented on #10730
Closing this issue as the service is back up and running.

[2022-03-07 11:07] #10730 closed, assigned to nobody

[2022-03-07 13:57] DannyDainton commented on #10727
Hey @tomwoodcock1981

Just trying to gather some information.

It appears you can currently call the Postman API and get the Collection details from the `/collections/{{collection_uuid}}` - Is that correct?

Are you aware that you can use the same URL with Newman? The same as you would for the exported Collection file and the static JSON Link but with the Postman API URL, it's the most up to date

[2022-03-07 13:58] gomotest-covCheckerRuKeyQ9W8E7R6T5Y opened #10733 "Request body payload is not loaded in Native app when pasting cURL in My Workspace/Import/Row text"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Request body payload is not loaded in the desktop app when pasting cURL in My Workspace/Import/Row text.
I tried to compose a request in the postman desk app copying a request from Chrome Dev Tool.
It works in the web version but doesn't work in the desk version.

### St

[2022-03-07 14:07] DannyDainton commented on #10733
Hey @gomotest-covCheckerRuKeyQ9W8E7R6T5Y

I see that you're using an older version of the Desktop app - Could you update and try again with the latest version, please?

I used your CURL snippet and I can see the payload in the request:

<img width="1477" alt="image" src="https://user-images.githubusercontent.com/17089546/157049393-2652c8aa-ac30-4f77-b59e-b4f8a4b92080.png">

[2022-03-07 14:10] gomotest-covCheckerRuKeyQ9W8E7R6T5Y commented on #10733
Thank you for the answer!
I've updated the app, restarted it (showed the new version in comment) but still, have the same problem

[2022-03-07 14:18] DannyDainton commented on #10733
The latest version of the desktop app is `9.14.10` but it looks like you have `9.0.9`, from your comment.

You can get the latest version from https://www.postman.com/downloads/

[2022-03-07 14:59] zfatih opened #10734 "Basic auth false value displayed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When using collection variables for Basic auth fields(ex. username: {{CLIENT_ID}}, password: {{SECRET}}), the value displayed in auth header is base64 encoded "{{CLIENT_ID}}:{{SECRET}}" and not the values themselves. This can be confusing as this is not the value being s

[2022-03-07 15:35] DannyDainton commented on #10729
Closing this out as the issue as the service is back up and running.

[2022-03-07 15:35] #10729 closed, assigned to postman-staff

[2022-03-07 15:43] alisalemmi opened #10735 "rtl support"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

postman editor and markdown does not support rtl language such as arabic, persian, etc.

### Describe the solution you'd like

add rtl support in postman. so we can choose rtl or ltr mode.

### Describe alternatives you've consid

[2022-03-07 17:42] wpata commented on #7775
I am still facing this issue and I am on Version 9.14.11 and unable to run all requests in my collection.
only first request gets executed and all reaming 3 of them they do not get executed.
Please advice and help.

[2022-03-07 18:16] sylvix commented on #6999
@[jviotti](https://github.com/jviotti)
Thanks for the fast reply! I'll check if it works. Right now Postman shows me version 9.14.0, so I'll see how that goes.

Anyway I still think that a quick setting to turn it off would be more preferable to everyone.

[2022-03-07 18:28] Gohsato commented on #2369
I was having this issue too. For me, turning off the `Connection: keep-alive` header fixed it.

[2022-03-07 22:48] skirankumars31 opened #10736 "Desktop Entry file for linux"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There is no linux desktop entry file in the installation archive. If there is a desktop entry file then i can just change the path and copy the file into /usr/share/applications to create a desktop entry in linux

### Describe th

[2022-03-08 03:28] sify21 commented on #10057
There is a similar problem in the web version of postman, multipart upload is not working. `Content-Type` header only exists in auto-generated headers, but it's not set in the actual request according to the Console log.

[2022-03-08 03:48] shubhbhargav commented on #10193
@SampsonCrowley May I know which Postman app version you are on?

[2022-03-08 03:50] shubhbhargav commented on #7775
@wpata Any chance that you are using `postman.setNextRequest(...)` in the first request's pre-request / test script? It would be really helpful if you can share a screen recording of the issue and possibly the collection itself (removing any sensitive data). You can share the same on help@postman.com.

[2022-03-08 04:44] wpata commented on #7775
After using postman.setNextRequest(...) and chaining my request I am able to run collection. I thought we don't need to use postman.setNextRequest(...) to run all selected requests under a collection. However, that is not the case.

Thank You,
Wajid Patan
________________________________
From: shubhbhargav ***@***.***>
Sent: Monday, March 7, 2022 8:50:42 PM
To: postmanlabs/postman-app-support ***@

[2022-03-08 04:47] shubhbhargav commented on #7775
@wpata You are right. You don't have to use it to chain the requests in sequence (it's only required if you need customized chaining). Would it be possible to share your collection via an email to help@postman.com? We will have a look.

[2022-03-08 04:56] akshaydeo commented on #9709
👋  @tiffanypatek @kbping We are looking into it right away. Will keep this issue updated 🙇

[2022-03-08 05:00] akshaydeo commented on #9697
@skfahad thank you so much for this feedback. We will look into this and see how it fits with our plans 🙇

[2022-03-08 05:12] akshaydeo commented on #9506
@tjmcdonough thank you so much for this feedback. We are working on a redesign that would cover these issues :). The tentative timeline for the release is June 2022. I will keep this issue updated 🙇

[2022-03-08 06:19] kamaraju-p commented on #9699
This issue has been resolved

[2022-03-08 06:19] #9699 closed, assigned to akshaydeo, Raja-Simha, kamaraj-p

[2022-03-08 06:21] Raja-Simha commented on #9709
@tiffanypatek We introduced some performance changes to render large collections. Do you mind updating to the latest version and let us know if you are still seeing the problem.

[2022-03-08 06:36] kamaraju-p commented on #10482
This issue is now resolved. Thanks @carlmes for taking the time to report this.

[2022-03-08 06:36] #10482 closed, assigned to Raja-Simha, kamaraj-p

[2022-03-08 07:22] coditva commented on #10057
@sify21 Thanks for reporting. The issue seems to be that the file you're trying to send isn't in the [working directory of Postman](https://learning.postman.com/docs/getting-started/settings/#working-directory). Can you try moving the file to working directory and re-selecting it in Postman after that? To know more about working directory check out this [reference from the Learning Center](https:/

[2022-03-08 07:22] still-breathing commented on #10716
[desktop.postman.com-1646723929213.txt](https://github.com/postmanlabs/postman-app-support/files/8203609/desktop.postman.com-1646723929213.txt)
I hope this will help

[2022-03-08 07:32] ghost opened #10737 "New Integration Request - Webhook"
### Describe your current workflow

I am an administrator of the postman solution within my organization. I take care of adding and removing licenses to users in addition to providing them with support.

### Describe your ideal workflow

I would like a webhook that sends notifications for anything related to a user's licenses:
- user license request
- invitation
- user license accepted
- deletion

[2022-03-08 07:44] coditva opened #10738 "For multipart requests, Content-Type header only exists in auto-generated headers, but it's not set in the actual request according to the Console"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

For web, `Content-Type` is missing in request headers when sending request with file selected in form-data. The header is present in the auto generated headers of the request.

### Steps To Reproduce

1. Open a new request tab.
2. Select "form-data" in request body.
3. A

[2022-03-08 07:46] coditva commented on #10057
@sify21 I've created a separate ticket [#10738](https://github.com/postmanlabs/postman-app-support/issues/10738) based on the information that you provided. Please feel free to add more info to the ticket and follow for updates.

[2022-03-08 07:49] coditva commented on #10734
@zfatih Thanks for reporting. I've marked this as bug. We'll post any updates on this ticket.

[2022-03-08 07:52] vbiginner commented on #9089
any updates on this issue yet?.. why forcing auto download anything if the user has disabled auto updates.. its very much annoying and reported number of times.
I have to keep quitting the postman app after each use to save my data plan

[2022-03-08 08:21] onigor commented on #5040
+1

[2022-03-08 09:41] 643104191 opened #10739 "Why can I load Collections data offline, but not get request details?"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

postman web
![image](https://user-images.githubusercontent.com/27074730/157207175-27947bfd-88b0-4427-9ea1-6cbb736954b0.png)
postman desktop
![image](https://user-images.githubusercontent.com/27074730/157210050-8bc21727-99dc-48f2-8bbc-1ccb9d8c3f81.png)

### Steps To Repro

[2022-03-08 10:19] shashankawasthi88 commented on #10737
@Cyril-Bellotti thanks for raising the request. Can you expand on what workflows do you want to build around the webhooks?

[2022-03-08 10:40] kamalaknn commented on #10739
Hey @643104191

It looks like your app might be having trouble creating a WebSocket connection to Postman servers.

Is this a persistent issue or does your app load the requests after delay?

Could you share the logs from `View -> Developer -> Show logs in Explorer` with us? You can zip all the contents of the logs directory and forward them to `help@postman.com`. We can take a closer look at why

[2022-03-08 10:56] DannyDainton commented on #10727
Hey @tomwoodcock1981

Each of the entities in the platform will have an `info` section in the right context menu, that displays the uuid.

<img width="1306" alt="image" src="https://user-images.githubusercontent.com/17089546/157221912-1264d386-584f-445e-9aa3-b63cfe95789e.png">

There shouldn't really be a need to hit the `/collections` endpoint to find that single id. The JSON link is kind of the

[2022-03-08 11:26] tomwoodcock1981 commented on #10727
The link being public and the protection provided by the API is key and I wasn't aware the uid was visible in the info! Trying to keep up with your contextual menus....I'll find Jimmy Hoffa in here one day ;)

Thanks again for your help mate as to the path of least resistance with all this.

[2022-03-08 11:49] xioumau commented on #10706
I'm having the same error

[2022-03-08 11:53] lucaslov commented on #285
+1

[2022-03-08 12:48] tomwoodcock1981 commented on #10727
One final question @DannyDainton - can the environment uid be passed into `/environments/{{uid}}` in the same as the collection in the newman command line??

[2022-03-08 14:13] tomwoodcock1981 commented on #10727
Top man @DannyDainton thanks for your help!

[2022-03-08 14:13] #10727 closed, assigned to nobody

[2022-03-08 15:50] abhijitkane commented on #10731
@kankernl Yep - you can use global or environment variables. https://community.postman.com/t/passing-environment-variable-between-monitor-runs/3194 explains how you can do this. Essentially, use the environment as a data store between successive runs of your monitor, where you can check if the new value differs from the one in your environment.

Our community (https://community.postman.com/) can h

[2022-03-08 15:50] #10731 closed, assigned to nobody

[2022-03-08 17:11] luciantrulea commented on #5908
are the request ids changing each time we import/export a collection from Postman? Is the use of the postman.setNextRequest("2ssd34223....eerere3342") hard-coding the requestId an option when working with Postman+Git+GitLab and running tests with Newman?

I have the impression that when exporting the collection that contains the above described setNextRequest(...) calls it seems that Postman isn't

[2022-03-08 19:31] alphonsez1 commented on #285
+1

[2022-03-08 20:47] perevernihata commented on #10599
any progress on this one? what would you suggest us to do with auth0 integration?

[2022-03-08 22:19] ewilliams-zoot commented on #9612
I haven't actually implemented this myself, but as a work-around, I could see using Collection variables for this. In one variable, you store an index. In another variable you can store a JSON string that has an array of your test cases - called `testCases` - like so:
[code]
Then in a pre-request script for the Request, you can do something like this, maybe? Changing the index variable when you wa

[2022-03-09 01:12] y-usuzumi commented on #5920
on mac, 9.14.11. I saved my request, duplicated it, and I got an empty request.

[2022-03-09 03:11] msdiniz commented on #10591
@saturnsjazz is absolutely right about deprecated and now, incorrect code.
The snippet provided has other errors too; instead of:
[code]
it should be:
[code]

[2022-03-09 04:23] gomotest-covCheckerRuKeyQ9W8E7R6T5Y commented on #10733
The app was updated till not the latest version the first time. Now it works correctly. Thank you!

[2022-03-09 06:56] LaurelGerman commented on #1546
Clearing cookies in Postman didn't work for me, but here's a low-tech solution that did (Only tested in Chrome):
After you click Get Access Token and the login screen appears in your browser,
1. Copy the url
2. Open an incognito tab and paste the url
3. Log in via that incognito

This way, cookies are never saved, and you'll be prompted to log in every time you generate a new token. As long as you

[2022-03-09 06:58] LaurelGerman commented on #2049
Clearing cookies in Postman didn't work for me, but here's a low-tech solution that did (Only tested in Chrome):
After you click Get Access Token and the login screen appears in your browser,

1. Copy the url
2. Open an incognito tab and paste the url
3. Log in via that incognito window

This way, cookies are never saved, and you'll be prompted to log in every time you generate a new token. As lon

[2022-03-09 07:04] coditva commented on #5908
@luciantrulea Exporting a collection can result in losing the IDs. If your workflow involves exporting and importing a collection, it is advisable to use the request name in `setNextRequest`.
Ref: https://learning.postman.com/docs/running-collections/building-workflows/#setting-the-next-request

---

Looking at your use-case it seems you might be exporting the collection for running it in Newman.

[2022-03-09 07:07] coditva commented on #5920
@y-usuzumi Can you open a new ticket with some screenshots/screen recording and logs from Developer Tools Console? It would help us debug this issue faster.

[2022-03-09 07:45] Raja-Simha commented on #10262
@ken4ward if I understand you correctly, you would like view code snippets for multiple languages at the same time?

On CodePen, you can contribute to our open source code generators [here](https://github.com/postmanlabs/postman-code-generators), if it is a priority and you'd like it to be made available quicker.

[2022-03-09 08:04] #10733 closed, assigned to nobody

[2022-03-09 08:22] Raja-Simha commented on #10347
Hey @wcf-todd @deemeetree @kwolfy @br-tyler-milner
Firstly, thank you for the detailed description and reaching out to us.

Secondly,  I am happy to let you guys know that you can now generate documentation from your OpenAPI 3.0 schema. You can try out the feature as explained [here](https://learning.postman.com/docs/publishing-your-api/documenting-your-api/#generating-api-documentation).

As we m

[2022-03-09 08:23] shamseerahammedm commented on #8747
Any update on this ?

[2022-03-09 09:05] luciantrulea commented on #5908
Thank you very much for your response, in my case I have to pass via the export, as the tool I finally use to run the tests is Team City, and I have to pass trough git and GitLab in order to run the tests with the full no-regression campaigns, so I guess using the request Id is not a good option right now.

[2022-03-09 10:17] codenirvana commented on #10547
Hey everyone 👋🏻

With the latest version of the Postman app, you can now specify the "Import paths" along with the root proto file.

![Screenshot 2022-03-09 at 3 33 31 PM](https://user-images.githubusercontent.com/4865836/157419484-38a6f378-b0af-4cab-90b7-4a85e147fe7a.png)

Please update your app and share the feedback.

[2022-03-09 10:37] DannyDainton commented on #10724
Hey @shai-zmora-sp

Is this still an issue that you're facing - The details that you have given are very contextual to you, it would be difficult for us to recreate that using a different Collection and Requests.

Are you able to provide more details, screenshots or a short video so that we can see what's happening from your side, please?

[2022-03-09 11:10] Raja-Simha commented on #10290
@thomasinc request you to update to the latest Postman App and let us know if you are still facing this issue. We released some fixes relevant to your issue.

Closing this for now. Please reopen if the issue persists.

[2022-03-09 11:10] #10290 closed, assigned to akshaydeo, Raja-Simha

[2022-03-09 11:36] lucaslov commented on #8929
+1

[2022-03-09 11:37] handsome-nium opened #10741 "[9.14.10] [Mac] There was an error importing this collection. Please try again."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Getting "There was an error importing this collection. Please try again". using version 9.14.10 on Mac.
The issues is when going through "Run in postman" button from the documentation exposed web: https://api.crypto.nium.com/
Using the backed up collection JSON works.

#

[2022-03-09 13:14] swedkg commented on #3216
The issue is still here (Version 8.12.5)
I'm using cUrl to repeat the same request 10 times, time_starttransfer is approximately 11 seconds.
Postman reports it to be 35s

![image](https://user-images.githubusercontent.com/9026763/157448120-2c4f6b66-0e74-43ab-8339-df0e0e5323fa.png)
![image](https://user-images.githubusercontent.com/9026763/157448209-fba71c3f-9fe4-43c4-b314-2c24d6d4505a.png)

[2022-03-09 16:13] nimeth02 commented on #4168
if you solved this..please tell me im in troubble

[2022-03-09 16:54] willwolfram18 commented on #10684
I wanted to add that I'm seeing this same issue with the following modules as well.

### Desktop App
Postman Version: 9.14.0
* Debugging and manual testing > Environment variables
* Debugging and manual testing > Global variables
* Designing and mocking APIs > Design an API in a minute
* Designing and mocking APIs > Design an API

### Browser app
Postman version: 9.14.15-220307-1430
Chrome 99 / Wi

[2022-03-09 17:07] KES777 opened #10742 "Can not view application version"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I want to know version of my Postman

### Describe the solution you'd like

Most applications have menu item: `Help->About`

### Describe alternatives you've considered

`./Postman --version`

### Additional context

_No response

[2022-03-09 17:16] sameddin commented on #10232
Still reproducible for me. Postman v9.14.11

![image](https://user-images.githubusercontent.com/13615527/157495163-184efd15-5f9e-42a3-8556-5f4c30928a9f.png)

[2022-03-09 18:26] ramji367 commented on #6912
You can now move environments, collections and other elements between workspaces. You can also fork and merge these elements from one workspace to others. Hence closing this issue.

[2022-03-09 18:26] #6912 closed, assigned to nobody

[2022-03-09 19:54] Raja-Simha commented on #10231
Hey @Sebaroni @gerhardvr-finclude @kago-dk @tainmar
Firstly, thank you for the detailed description and reaching out to us.

Secondly, I am happy to let you guys know that you can now generate documentation from your OpenAPI 3.0 schema. You can try out the feature as explained [here](https://learning.postman.com/docs/publishing-your-api/documenting-your-api/#generating-api-documentation).

As we m

[2022-03-09 20:08] Raja-Simha commented on #10076
@CarrieRaglan As shared with you over email, you can now generate documentation from your OpenAPI 3.0 schema. You can try out the feature as explained [here](https://learning.postman.com/docs/publishing-your-api/documenting-your-api/#generating-api-documentation). Schema documentation supports multiple security options defined for each operation.

As we make further improvements, we'd love your fe

[2022-03-09 20:08] #10076 closed, assigned to Raja-Simha, abhinav-ravi

[2022-03-09 20:38] Raja-Simha commented on #10017
Hey @dcal @kultom86 @ramosmediavalet

We fixed the issue with anchor tags. Links with anchor tags will take you to the corresponding section in documentation as you would expect. We will soon be working on the suggested improvements.

@ramosmediavalet would love to have quick chat with you to understand your team's workflow to build, manage and share your API publicly. It will be helpful to unders

[2022-03-09 22:40] fstugren opened #10743 "Oauth2 does not complete with Azure AD"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I am trying to get a user token using Postman for an Azure AD web application using implicit grant. This used to work just fine in the past, now it does not anymore.
I tried authenticating with or without ticking the checkbox "Authorize using browser"
The application reg

[2022-03-10 01:19] jsmnfaye commented on #7284
I see this was originally opened in 2019 but I'm still facing this issue now in version 9.14.11 for Mac. I just moved some requests from a different folder to another.

[2022-03-10 01:34] nulLeeKH opened #10744 "Method is automatically changed after 301 redirect"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

# Summary
Postman uses only GET method after 301 redirect.

# Cases
## Case 1 (use postman with http protocol or do not evince it) - the issue occurred
### postman
**_This screenshot has been deleted to protect sensitive information._**
### server log
**_This screenshot

[2022-03-10 02:30] ablomberg commented on #3981
Thank you. This worked for me.

Adding that `content.arrayData` is just the object in this example. You can also send: pm.expect(content).to.be.an('array').that.is.not.empty;

Adding that .length checks on an assertion has never worked for me since about 2020. It often returns a success when it should fail and no error messages. I sure hope people are testing their tests...

[2022-03-10 03:54] Raj-postman commented on #10739
Resolved this issue via Support ticket 🤝

[2022-03-10 03:54] #10739 closed, assigned to nobody

[2022-03-10 04:13] thomasinc opened #10745 "postman.setNextRequest to be folder aware"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I use folders to allow easier duplication of a set of requests - Usually so that I can add a standards set of requests to a new collection.

But I also use folders to replicate behaviour in the one collections such as testing dif

[2022-03-10 05:19] codenirvana commented on #10604
This is fixed in the latest version of the Postman app.

[2022-03-10 05:19] #10604 closed, assigned to codenirvana

[2022-03-10 05:19] codenirvana commented on #10592
This is fixed in the latest version of the Postman app.

[2022-03-10 05:19] #10592 closed, assigned to codenirvana

[2022-03-10 05:24] codenirvana commented on #10530
Duplicate of #10547

With the latest version of the Postman app, you can now specify the "Import paths" along with the root proto file.

![Screenshot 2022-03-09 at 3 33 31 PM](https://user-images.githubusercontent.com/4865836/157595174-4ad997ac-ba03-4e7e-8622-7321f0f725ba.png)

Please update your app and share the feedback.

[2022-03-10 05:24] #10530 closed, assigned to codenirvana

[2022-03-10 05:24] #10547 closed, assigned to codenirvana

[2022-03-10 05:27] codenirvana commented on #10609
Duplicate of #10547, refer https://github.com/postmanlabs/postman-app-support/issues/10547#issuecomment-1062765631.

[2022-03-10 05:27] #10609 closed, assigned to appurva21

[2022-03-10 05:31] codenirvana commented on #10532
@amirmd76 you can now specify the `google/api` directory as an "Import path" to fix this issue, refer to https://github.com/postmanlabs/postman-app-support/issues/10547#issuecomment-1062765631.

Can you update your app and confirm if this fixes your issue?

[2022-03-10 08:08] swedkg opened #10746 "Postman miscalculates transfer start?"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I'm using cUrl to repeat the same request 10 times, time_starttransfer is around 12 seconds.
Postman reports it to be 57 seconds

cUrl is using --silent --output /dev/null flags

![image](https://user-images.githubusercontent.com/9026763/157614498-4e578a06-e544-4dac-a159

[2022-03-10 08:40] yongsrepos opened #10747 "Flows fails parsing response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi,
The issue has been well discussed and confirmed by a Postman team member. Please refer to this discussion: https://github.com/postmanlabs/postman-flows/discussions/255#discussioncomment-2309579

The purpose of this ticket is to follow up on above discussion.
Thanks!

[2022-03-10 09:46] DannyDainton commented on #10747
Hey @yongsrepos

Thanks for raising the issue. We'll update this thread once we have more information to share. 🙏🏻

[2022-03-10 10:17] giridharvc7 commented on #10743
@fstugren thank you for reporting, we will take a look into this

[2022-03-10 10:27] njmulsqb commented on #8195
+1

[2022-03-10 10:54] coditva commented on #10744
@nulLeeKH I think this might be because of the "Follow Original HTTP Method" setting turned off. You can enable it for the request by going to the "Settings" tab in the request.

<img width="865" alt="image" src="https://user-images.githubusercontent.com/8445768/157647135-f5021d2e-2b61-4351-a846-2bfa7c21a67c.png">

[2022-03-10 12:56] Freakishmahesh commented on #3360
Awaiting for the resolution. Much needed feature.!

[2022-03-10 13:15] RNovachkov commented on #5629
@gogis79 is write!

[2022-03-10 14:50] Turkish commented on #3216
@swedkg  postman is dying , a lot of folks are using insomnia now instead, the major reason is their new agent, they stopped being a desktop app and now they have an agent running in the background and you have to use their browser app. I have been using postman for very long, and relied on it, but their last version (agent + browser) is much worse than  a simple desktop app, it's sad to see like

[2022-03-10 15:08] whiteknightjanus commented on #10684
I have the same issue occurring in Design an API In a Minute - not sure if it's the same as the reported issue just above, but when I get to the step to open the new environment for the mock server, when I click on the environment drop down, the Bootcamp GUI disappears. Clicking on Continue Learning resets the lesson completely.

[2022-03-10 15:08] schonhoff commented on #3117
It would be nice to see Postman integrating the API Schema to the documentation site. We are using another tool just for this reason...

[2022-03-10 15:35] folbo commented on #9409
Just noticed this bug returned in v9.14.0. Reopen?

[2022-03-10 16:00] numaanashraf commented on #3216
@Turkish Postman for Web (+ agent) is an additional option that's available for you. Postman for Desktop is fully supported and all the latest features of Postman is and will continue to be available on both platforms.

https://www.postman.com/downloads/

[2022-03-10 17:31] arif2009 commented on #4090
2022, still facing with this problem . . .

[2022-03-10 19:05] atish53481 commented on #3774
Save the Collection and also make sure that you are following the proper Collection pattern
![image](https://user-images.githubusercontent.com/48210584/157736463-3f261e75-ac52-4348-92c6-9e3deaf42496.png)

[2022-03-10 19:29] Shubham-Kumar-2000 commented on #8929
+1

[2022-03-10 20:44] tinder-andresruizvelediaz commented on #8929
+1

[2022-03-11 00:57] KaiRogers commented on #4168
@nimeth02 Its been a minute so this topic is not fresh in my mind, but I want to say I used [`multer`](https://www.npmjs.com/package/multer) which is a node.js middleware for handling multipart/form-data

[2022-03-11 02:26] yeongjet commented on #8195
I'm using Insomnia now, it's more lightweight and fluency than postman.

[2022-03-11 02:51] hunterwilhelm commented on #8195
After using Postman for years, I recently switched to Insomnia too. It is much easier to use and it has autosave and a really good dark mode. I am sad to leave Postman but it is for the better.

[2022-03-11 03:22] #10532 closed, assigned to codenirvana

[2022-03-11 07:20] danciaclara opened #10748 "Binding values directly in the API url does not get evaluated"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

If you bind widget values in the api url, it evaluates to no value.

### Steps To Reproduce

1. Add an input widget with a random value (eg: baz)
2. Create an API and in the url bind the value of the input widget like this `http://foo/bar?{{Input1.text}}`
3. We would exp

[2022-03-11 07:25] DannyDainton commented on #10748
Hey @danciaclara

I believe you have create this in the wrong repository. I'm going to close this out.

[2022-03-11 07:25] #10748 closed, assigned to nobody

[2022-03-11 07:27] danciaclara commented on #10748
@DannyDainton I'm so sorry about this. Yes this was posted incorrectly

[2022-03-11 08:15] jviotti commented on #10736
Hey @skirankumars31 ,

I don't think we can provide a desktop file with the tarball, as by definition the tarball can be extracted to any location. As a consequence, we wouldn't know what absolute paths to the app we would put in the desktop file.

In general, we are looking at replacing the tarball approach altogether with a more mature and standalone solution like AppImages.

[2022-03-11 10:38] Raj-postman opened #10749 "New Integration Request - Software AG webMethods API Gateway"
### Describe your current workflow

It would be great to have a way to integrate Postman with with Software AG webMethods API Gateway similar to AWS API Gateway.

### Describe your ideal workflow

Workflow begins with specifications from source and the API is created in the gateway. We make use of internal portal for deployments.

If there is a integration that can help us connect APIs from Gatewa

[2022-03-11 10:42] yongsrepos commented on #10747
Thanks, @DannyDainton ! The fix will definitely bring great value to our use case. Look forward to it.

[2022-03-11 10:45] jan-marten commented on #10722
Hi there, I am stumbling into a similar problem here and am in contact with e-mail support.

Steps from my side to reproduce it;

* Create a new folder
* Duplicate an existing request which contains a URL, params, auth, headers...
* Move that duplicated request to the new folder
* Rename it to something logical, save it and close the tab to ensure it is saved properly
* Now duplicate that request

[2022-03-11 14:38] it-at-cst commented on #675
+1 Can't believe postman team has not yet delivered such an anticipated feature.

[2022-03-11 15:04] quaqua commented on #10722
I'm reorganising our collections and constantly experiencing similar behaviour:

1. create a new folder in a collection
2. Move an existing request into that folder
3. Open that request -> EMPTY
    - url gone
    - body params gone
    - tests gone

You cannot reproduce always. It happens arbitrary but at least 50% of moving requests into folders.

this is a serious bug!

Postman for Mac Version:

[2022-03-11 19:44] Shivani2772 commented on #8686
#10706
# Version 9.14.13

UI Version 9.14.13-ui-220310-0130

Desktop Platform Version 9.14.0

Architecture x64

OS Platform win32 10.0.19042

[2022-03-11 19:46] Shivani2772 commented on #10706
Is there a solution for this?

[2022-03-11 20:58] Furry opened #10751 "Postman Crashes when loopback proxy is provided & the proxy is terminated after a request."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When hosting an HTTP Proxy Server on Loopback 8080 (127.0.0.1:8080) and linking it with postman, if the server goes down after you've sent one request, Postman will crash to desktop.

### Steps To Reproduce

1. Open Postman
2. Start a Proxy Server on your local machine.

[2022-03-13 14:41] fmenis commented on #2701
+1

[2022-03-13 16:29] boylec commented on #8920
+infinity

[2022-03-13 16:51] boylec commented on #9408
<img width="891" alt="image" src="https://user-images.githubusercontent.com/8148174/158070173-49c34192-2c84-4bc3-9655-8e31cec7faca.png">

[2022-03-14 05:19] giridharvc7 commented on #10743
Just curious if you got a redirect to Postman or not in Method #2

[2022-03-14 07:49] ericdehmel opened #10752 "Generating a collection from a .yaml with deepObjects yields unexpected results"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

While generating a collection using an API specification I stumbled upon two issues with deepObjects:

- List nested inside deepObjects are generated as _deepObject[list][0]=value_ and _deepObject[list][1]=value_. I would have expected it to be deepObject[list]=value,val

[2022-03-14 09:27] malvikach commented on #10245
The changes for this have been released in Postman 9.14.12. Please read about it more [here](https://blog.postman.com/identify-unresolved-variables-easily/) or on our [learning center](https://learning.postman.com/docs/sending-requests/variables/#fixing-unresolved-variables).

[2022-03-14 09:27] #10245 closed, assigned to malvikach

[2022-03-14 11:14] nguoithichkhampha commented on #10181
@shamasis , we are going to the end of Q1 2022. Can you share a bit about the progress ?

[2022-03-14 11:23] umeshp7 commented on #10706
The fix for import via link is available from 9.14.8 onward on the web. @landsnail The links you shared I am not able to get any content from them even when I try to hit it through the browser. Could you check the links and try again?

@xioumau @Shivani2772 Could share some more details about the issue? Which version are you on, which type of app Web of Desktop? And if possible which link/url are

[2022-03-14 13:57] VShingala commented on #10752
@ericdehmel Thanks for reporting the issue!

As I understand OpenAPI specification doesn't mention the behavior of `array` under `deepObject` style ([source](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#style-examples)). This means currently, `array` is treated as an object and thus the behavior of each element is mentioned separately.

As for issue 2, Is the expected b

[2022-03-14 14:18] v1lev opened #10753 "Sending struct via GRPC request"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Hi! I can't figure out how to properly send google.protobuf.Struct.
Whenever I add a Struct field to the message it is received just as an empty field on the server.

Server = Python application with gRPC AsyncIO API
Client = Postman

Sample message definition:
[code]

S

[2022-03-14 16:56] Marutikokane opened #10754 "Not able to use the values from external data sheet in request URL while running API collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

While running API collection by using external data sheet variables (excel sheet >converted to .csv file) am not able to fetch those values in request URL, its asking unresolved variable create to access it.

### Steps To Reproduce

1. Create data sheet with some variabl

[2022-03-14 17:29] juliehubs commented on #8213
I have also been seeing this issue, has there been any solution for this?
Thanks!

[2022-03-14 17:34] grevesa opened #10755 "SSL certificate verification not an option on app"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

I am trying to turn off SSL verification on the linux app. However the setting seems to be missing, on the chrome web app it doesn't let me turn the setting off with the message "only available to turn off in app". Could someone please help.

### Steps To Reproduce

1. o

[2022-03-14 17:36] kszafran commented on #8213
I our case (same company as the OP), this is still the workaround that we're using:

We'll be looking into alternative ways to publish our API documentation. For just making requests from the Postman app we can deal with no descriptions. I haven't seen 500s in a long time now.

[2022-03-14 17:38] grevesa commented on #10755
*Forgot to include* this is a screenshot
![greyed out](https://user-images.githubusercontent.com/101590203/158229347-fc31b4b3-4dc1-4d1e-bde6-296baee48a32.PNG)
 of the chrome environment. The setting is greyed out

[2022-03-14 17:39] kszafran commented on #10277
The problem still occurs even when our CI pipeline never makes concurrent updates, although it is much more rare then. I don't think I would be able to reproduce it reliably.

[2022-03-14 17:45] #10755 closed

[2022-03-14 18:20] mehdi-wb commented on #6682
+1

[2022-03-14 18:54] Toumash opened #10756 "Postman Api Endpoint Documentation WYSWIG Editor does not work with XML"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

Cannot paste xml into the new wyswig documentation editor

### Steps To Reproduce

1. Open new request tab
2. Give it a name
3. Save it under some name
4. Open up the documentation panel on the right
5. Make sure you have WYSWIG beta editor opened not "classic markdown e

[2022-03-14 19:23] AndrewGuenther commented on #8213
My workaround has been no longer using Postman :man_shrugging:

[2022-03-14 19:24] kszafran commented on #8213
@AndrewGuenther Have you switch to some alternative solution that you could recommend?

[2022-03-14 19:36] xioumau commented on #10706
@umeshp7 I was able to import by raw text not by link, for that I copied and pasted all the content of the json file in the raw text field.

[2022-03-14 19:44] AndrewGuenther commented on #8213
I've been using [Paw](https://paw.cloud/) and have been pretty happy with it so far.

[2022-03-14 21:33] fstugren commented on #10743
Hi @giridharvc7 - thanks for replying. Method #2 ends with Edge loading the page https://oauth.pstmn.io/... page from that last screenshot I uploaded, the one with the green sign that says "Your call is authenticated" and has a valid token in the URL.
It seems to me that the redirect happens but the last step - retrieve the authentication token from the browser 's URL, complete the "get new access

[2022-03-14 22:48] armin-em commented on #10459
I absolutely struggle to navigate through Postman's UI. odd element positioning and terrible grouping.

[2022-03-14 23:24] marc-wilson opened #10757 "Azure DevOps missing from code repository import"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

When creating a new Api, you can select the option to import. On the import dialog, you can import from file, folder, link, raw text or code repository.

When selecting code repository, only GitHub and Bitbucket are present.

<img width="421" alt="image" src="https://use

[2022-03-14 23:39] philbails90 commented on #8455
This worked for me too but I've no idea why...

[2022-03-14 23:48] abhijeetborole commented on #10709
Hey @shaneocall, thanks for reporting this issue. We identified and fixed it on `v9.14.16`. Could you please check it out and verify that the issue is fixed for you on `v9.14.16`? Do let us know if you face any other issues!

[2022-03-15 03:58] postman-support commented on #10606
Hi @michael120288,

Thanks for letting us know👍🏼

via @ash007-postman | Postman Support

[2022-03-15 03:58] #10606 closed, assigned to postman-staff

[2022-03-15 04:29] shubhbhargav commented on #10713
@DivyaMoryani Just checking in. Let us know if you are still facing this issue.

[2022-03-15 04:32] shubhbhargav commented on #10687
@calebruz @dberchtold Closing this issue for now. Let us know if you are still facing it.

[2022-03-15 04:32] #10687 closed, assigned to giridharvc7

[2022-03-15 06:14] ericdehmel commented on #10752
As you have guessed I expected to get _deepObjectLengthParameter[length]=20_.

[2022-03-15 06:53] shashankawasthi88 commented on #10757
@mswilson4040 we have updated the flow for the existing API to give the ability for you to choose your API schema. That is essentially what you do while importing the schema from the repository. I would suggest creating an API in postman, connecting it to the Azure DevOps repo. The first PULL that you perform will allow you to choose an existing schema.

[2022-03-15 07:21] postman-support commented on #10754
Hi @Marutikokane

Just tested this from my end and was unable to arrive at the issue. Would it be possible for you to share more information regarding this, such as screenshots and files used to check the issue?

Please feel free to submit a ticket to: https://postman.com/support and share the details as requested to help us assist you further.

via @Raj-postman | Postman Support

[2022-03-15 10:26] dberchtold commented on #10687
checked using version v9.14.13 -> issue is solved.

[2022-03-15 11:08] bedirhan opened #10758 "There was an error importing this collection. Please try again."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues

### Describe the Issue

There are similar issues and always worked by having the latest release. But I'm on the latest release.

`You are up to date! Postman v9.14.13 is the latest version.`

### Steps To Reproduce

Click on Run in Postman here -> https://documenter.getpostman.com/view/7726481/

[2022-03-15 12:17] lukasvosyka commented on #10681
Is SSL support still missing? Facing same issue. I receive a Status 13 INTERNAL.
When I try to use server side reflection over SSL I get this error:
13 INTERNAL: Received RST_STREAM with code 2 triggered by internal client error: Protocol error

Tried different URLs
xxxx.com:443
grpc://xxxx.com:443
https://xxxxx.com

[2022-03-15 15:07] timbochamp commented on #10310
This issue of collection variables being enabled by default on relaunch should now be resolved when trying the steps to reproduce on the latest app version (v9.14)!

Please feel free to open a second issue with tabs showing as not found if you're still able to reproduce. I tried some scenarios with closing and relaunching, as well as deleting the collection/request/example of an open tab; but I'm

[2022-03-15 15:07] #10310 closed, assigned to giridharvc7, malvikach

[2022-03-15 15:35] claudehsu commented on #10010
I got the same issue with below environment information
- Platform: Desktop App
- Postman Version: 9.14.13
- OS: Windows 10 V19044.1586

My walkaround is to
- Set the proxy on the OS level so that the Postman internal browser window can be aware of the proxy
- Enable the `Use the system proxy` option on the Proxy setting tab so that when sending the request to auth endpoint and token endpoint the

[2022-03-15 15:55] mswilson4040 commented on #10757
Thanks, @shashankawasthi88. Two questions
1. Are you saying to create an empty API and then connect the repository?
2. Will there be support just like GitHub/Bitbucket on the import dialog in the near future?

I was able to get it working, but down the road, if we wanted to import another repository/api, it'd be nice to just have the import wizard support DevOps.

[2022-03-15 17:34] rproman commented on #5216
@ratpik - Hi. I came across this thread, and I just wanted to clarify if Mock Server dynamic response only works using Environment variables? Using Collection variables won't work to generate dynamic data in a sample response body?

[2022-03-15 18:23] thiagobdp commented on #2701
+1

[2022-03-15 18:52] raymondKelly commented on #7596
+1

[2022-03-15 19:33] vgitk commented on #2701
+1

[2022-03-15 21:28] kamaraju-p commented on #10756
Hi @Toumash , thanks for reporting this issue. This is due to whitelisting of only specific tags due to security concerns. Will check with the security team regarding  whitelisting `xml` tags and keep you posted.

[2022-03-15 22:09] markbullock-mbo commented on #10605
I agree this behavior is annoying, especially with the seemingly ever-decreasing working space due to buttons on the left side, right side, and between the request tab and url.

[2022-03-16 04:26] shubhbhargav commented on #10744
@nulLeeKH Did the above recommendation work?

[2022-03-16 04:47] dengyakui opened #10759 "gRPC,WebSocket: Support Offline usage without login to workspace"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes. Can not create PostMan’s GRPC, Websocket Request Under an on-promised environement.

### Describe the solution you'd like

When I’m offline, I can still use GRPC,WebSocket features without have to login to WorkSpace.

### De

[2022-03-16 05:22] giridharvc7 commented on #10694
Closing the issue for now as this is been handled in v9.14.7+ , please feel free to reopen in case you find conflicts again.

[2022-03-16 05:22] #10694 closed, assigned to giridharvc7

[2022-03-16 08:30] trenslow commented on #2934
Just wanted to report that I'm having the same issue with Auth0 for both the Auth. Code and the PKCE flows. Adding the audience to the AuthURL fixed the issue for me.

[2022-03-16 10:30] Toumash commented on #10756
Oh, so you have some advanced copy&paste mechanism there?
Then dont bother, the problem was originally with xml results from the endpoints, so no particular root element there,
Impossible to whitelist If thats the case i would just close the issue.

The root cause is that i couldn't find and "code block" thing in the new editor, but its there.

[2022-03-16 10:30] #10756 closed, assigned to Raja-Simha, kamaraj-p

[2022-03-16 11:10] malvikach commented on #8911
@KornKalle Thanks for writing to us.
This surely is a bug. Our team will be looking into it. Thanks for pointing it out.

[2022-03-16 12:19] Raja-Simha commented on #10695
@roobee15 Can you elaborate on `Being able to view the folder's name instead of the URL`? Do you mean to say that anchor tags should consist the folder name?

[2022-03-16 12:53] arbisyarifudin commented on #285
+1 I need this too.
Please. This would be helpful for us!

[2022-03-16 13:51] j0nimost commented on #2761
it's been 5 years

[2022-03-16 13:58] j0nimost opened #10760 "Feature Request: Export folders (duplicate)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We would like to export a folder that exists within a Collection. The original request is here #2761

### Describe the solution you'd like

A capability to export to JSON a Folder

### Describe alternatives you've considered

_No

[2022-03-16 18:45] roobee15 opened #10761 "Make Callback URL customizable on the Web App"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The Web UI automatically greys out the callback URL field because requests are automatically authorized using the browser. The restriction is causing errors from their identity provider.

### Describe the solution you'd like

Is

[2022-03-16 19:15] BendabizAdam commented on #6682
+1

[2022-03-17 00:30] numaanashraf commented on #10400
Hey @ankitce. Could you send us a screenshot of the DevTools > Console? Also, are you behind any corporate proxies or firewalls?

[2022-03-17 00:34] numaanashraf commented on #10345
This is resolved now. This can happen when we are in the middle of rolling out a new version and haven't made the version available for direct downloads yet.

[2022-03-17 00:34] #10345 closed, assigned to nobody

[2022-03-17 00:40] numaanashraf commented on #9892
@sandrapavankumar Are you still facing this issue?

[2022-03-17 00:45] numaanashraf commented on #9818
@AndrewTseZhou This can happen if Postman is facing connectivity issues. Could you let us know whether you are behind any firewalls or proxy?

[2022-03-17 00:58] preethammavin commented on #6749
@1013461195 hey we have fixed this issue, do let us know if this still persists.

[2022-03-17 00:59] numaanashraf commented on #10408
@SecureSnowball Could you let us know if you are behind any proxies or firewalls? It'll help a lot if you could send us your application logs to help@postman.com. You can find the logs via the steps detailed [here](https://support.postman.com/hc/en-us/articles/360025298633-How-to-collect-logs).

[2022-03-17 01:20] Reeceeboii commented on #10648
I have a JSON link that won't import: `https://localhost:49153/swagger/v1/swagger.json`.

I just get `Error while fetching data from link.`

[2022-03-17 05:13] giridharvc7 commented on #10722
@quaqua @jan-marten @RealExtraTomato We are looking into this, this will be fixed soon.

[2022-03-17 05:18] giridharvc7 commented on #10761
This is because of the limitations we have on the web right now. Also registering the callback with the auth provider is the correct and safe way to do this.

[2022-03-17 05:34] giridharvc7 commented on #10713
@DivyaMoryani @Prakash2024 @skirankumars31 Checking in to see if you still face this issue.

[2022-03-17 05:38] giridharvc7 commented on #10722
To unblock yourself, please restart the app 😅 This should help before we send out a fix for this.

[2022-03-17 05:45] bhargavkaranam commented on #10741
Hey @handsome-nium,

You should be able to import this collection via Run in Postman now.

[2022-03-17 05:53] bhargavkaranam commented on #10758
Hey @bedirhan,

You should be able to import this collection via Run in Postman now.

[2022-03-17 06:35] bedirhan commented on #10758
thanks for the fast response. it works now.

[2022-03-17 06:35] #10758 closed, assigned to Raja-Simha, ajeet-postman

[2022-03-17 07:29] nulLeeKH commented on #10744
I tried it. But, it doesnt work properly.

<img width="1080" alt="server log" src="https://user-images.githubusercontent.com/41930106/158758248-8b073e32-79ee-4bb0-9f56-2bf4dd43cf43.png">
<img width="746" alt="jenkins client" src="https://user-images.githubusercontent.com/41930106/158758258-5551cd4c-e3fc-4a92-bb04-52c28c31bcb8.png">

When I use that option, method was corrected. But, body contents