[2018-08-10 16:30] ETMilord commented on #212
+1

[2018-08-10 18:02] Postman-Gabriel opened #5004 "Export OAuth2 information"
When exporting an environment, the authentication key from oAuth2 doesn't get transferred over. You have to manually click the generate auth code button again. Not sure if bug or feature.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a collection with auth key required for a request
2. Export it to another user computer
3. Import into new Postman instance
4. See error

**Expected beha

[2018-08-10 18:51] Postman-Gabriel opened #5005 "Inline request URL editor is difficult to use on smaller window sizes"
**Describe the bug**
When using postman in a smaller window, the inline editor gets cut off by the send and params buttons, meaning that you can't see as much of the request URL and its lessens usability.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request
2. Shrink window
3. See error

**Expected behavior**
Expected to see the buttons shifted down a line so that the entire edit

[2018-08-10 20:09] Postman-Gabriel opened #5006 "Inline variable editing"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I always want to edit variables in the menu that you get when you try to check what the variable resolves to. That would make everything easier for us.

**Describe the solution you'd

[2018-08-10 20:31] Postman-Gabriel opened #5007 "Magneto Schemas not properly recognized"
**Describe the bug**
When importing information into Postman using Magneto Schema 2, Postman improperly states that the format is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Import JSON in Magneto 2 schema
2. See error

**Expected behavior**
I expected to be able to import Magneto Schema 2 JSON and have it work

**App information (please complete the following information):**

[2018-08-10 21:27] anasalsalah commented on #3405
I've tried both the native app and the Chrome app on Linux Ubutnu 16.04 (64-bit). Just 1-3 clicks anywhere and then it crashes. This started happening after adding just a few API requests.

[2018-08-10 21:57] gdlin commented on #2559
I'm having the same problem. I'm currently using Basic Authentication and that's it. The Get's response is a tiny json. Attaching captures of the console.

![screenshot from 2018-08-10 18-53-03](https://user-images.githubusercontent.com/1306672/43983107-439db0c2-9ccf-11e8-813d-79cdecd0bba4.png)
![screenshot from 2018-08-10 18-53-06](https://user-images.githubusercontent.com/1306672/43983110-46342a

[2018-08-11 06:16] MallikaKhullar commented on #450
It was indeed a redirect issue. Thanks guys for this thread, I was losing my mind.

[2018-08-11 11:11] deepakpathania-zz commented on #4229
Hey @galbarm, thank you for your patience. The issue has been fixed from our end, can you please verify and let me know if it works for you now?

[2018-08-11 12:02] galbarm commented on #4229
seems to be working now

[2018-08-11 13:45] bryangunn opened #5008 "Formerly working Postman instance now crashes (black screen) shortly after launch"
Postman 6.2.4 (up to date as of this writing) native app for Mac
MacOS 10.13.6 (up to date as of this writing)
Model: MacBook Pro (Retina, 15-inch, Mid 2015)
Processor: 2.8GHz
Memory 16GB
Graphics AMD Radeon R9 M370X 2048 MB/Intel Iris Pro 1536 MB

**Describe the bug**
After using Postman with no issues (other than it makes the MacBook's fan run like crazy within a few seconds of startup) for a mo

[2018-08-11 14:23] #4229 closed, assigned to ankitjaggi, deepakpathania-zz

[2018-08-11 14:25] ghost opened #5009 "Save result view formatting when switching tabs"
I've created and saved a request and chosen the Pretty view with JSON formatting.
![before](https://user-images.githubusercontent.com/5414422/43992716-4392c000-9d37-11e8-978f-c14b2b5476c6.png)

After moving to another tab then moving back, the formatting is reset to default.
![after](https://user-images.githubusercontent.com/5414422/43992740-860d7d76-9d37-11e8-952b-ede5bb3b0811.png)

[2018-08-11 18:30] sivcan commented on #5005
Can be solved with: https://github.com/postmanlabs/postman-app-support/issues/2716

We'll keep a track of tackling the request URL editor in two-pane layout and small screen sizes, in the same issue (https://github.com/postmanlabs/postman-app-support/issues/2716)

Closing this ticket.

[2018-08-11 18:30] #5005 closed, assigned to nobody

[2018-08-12 02:09] dadajuice commented on #6682
+1

[2018-08-12 03:58] aviray48 commented on #4992
Dear Kamalakannan,

Thanks for responding. It seems the behavior is occurring on once per
folder, i.e. if I copy a Request or a folder once, it gets re-ordered, but
if I put the folder back in order and copy a Request or a folder a second
time, the order sticks. Now that I think about it, I wonder if the issue
has to do with import/export. I think the issue started when I exported my
requests from

[2018-08-12 09:01] kamalaknn commented on #4992
Hi @aviray48

I just tried exporting a collection from the latest Canary app and imported in the Stable channel. I see the order is **maintained correctly**. Are you consistently seeing this on any particular collection? Can you provide a screen capture or a reproduceable collection file? It will help us fast track triaging this issue?

[2018-08-12 13:40] kunagpal commented on #2788
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3199

[2018-08-12 13:40] #2788 closed, assigned to shamasis

[2018-08-13 01:18] bhandvishnu7 commented on #2801
+1

[2018-08-13 02:04] lokesh-barhate commented on #2801
+1

[2018-08-13 03:46] mrjonbradshaw commented on #2801
+1

[2018-08-13 05:11] blairg23 opened #5010 "Sessions keep timing out and signing back in sometimes (often) fails."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm getting a permanent sign in screen at the moment, haven't even gotten a chance to log in yet.

Previously, I was getting signed out in the middle of requests and then forced to sign in again.

**To Reproduce**
Steps to repro

[2018-08-13 05:13] MeenaAdobe opened #5011 "Unable to login to Postman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Im unable to sign in to Postman. It jjust throwed me to log out. After that, if I try to login, I keep seeing the same login screen as Signing In... But, I'm not able to login. Its just showing the same screen forever. This is h

[2018-08-13 05:23] sujayvenaik commented on #5009
Hey @SolarSailor15

We have identified this as a request from a lot of Postman Users.
Hence have taken this into account, this is in our short term road map and hence will be out soon with future releases.

[2018-08-13 05:32] sujayvenaik commented on #5011
Hey @MeenaAdobe

We are experiencing some issues in our Authentication Service and are working to fix this.
Stay tuned to https://status.getpostman.com/ for updated.

[2018-08-13 05:39] raghav19 opened #5012 "Consolidation of HTML, JSON reports when running different folders with different iterations"
**Use Case:**

1. POST call REST API for multiple iterations.
2. GET call REST API after all iterations of POST call is completed
3. Validate the list retrieved.

**Current Solutions tried:**
**-  Solution 1**
      Create a separate folder in collection and put GET call
      2) Run 1 iteration of POST and GET call for that 1 iteration
      3)  Validate
      Issue: Actual use case not solved

*

[2018-08-13 07:13] ash007-postman opened #5013 "Keyboard Shortcuts fail to work on Windows 10 Desktop App"
The following keyboard shortcuts fail to work on Windows 10 Desktop App:

Switch To Next Tab Ctrl + Shift + ]
Switch To Previous Tab Ctrl + Shift + [

[2018-08-13 07:19] sivcan commented on #5010
@blairg23 Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5011

[2018-08-13 07:19] #5010 closed, assigned to nobody

[2018-08-13 08:21] fkYr63V9aIB opened #5014 "Updating Example request is not reflected in Mock-api response"
**Describe the bug**
When updating and saving an example response, the update is not reflected in the response from the mock API. The mock API always only returns the very first saved version of the example response.

I've logged in and out of Postman to see if the updated example is in fact saved in Postman, and it is.

**To Reproduce**
Steps to reproduce the behavior:
1. Save an example response

[2018-08-13 08:36] belaie opened #5015 "Postman Native app - Cannot signin with Google account enabled with Google Advanced Protection"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Cannot sigin with Google account enable with Google Advanced Protection,  It only works with Google Chrome Browsers, and Postman just stops

[2018-08-13 09:07] kunagpal commented on #4315
@glenpike As can be seen here: https://github.com/postmanlabs/newman/blob/develop/CHANGELOG.yaml#L47, this bug was fixed in Newman v3.10.0. Please update to the latest version of Newman 😄

[2018-08-13 09:08] yoransabern commented on #4375
I am also having this issue in v6.2.4, only with big files, a 1GB file still works, but files of 3GB give the black screen when selecting the file, the same thing happens when executing a request where i'm downloading a big file.

[2018-08-13 09:12] sankalp0o commented on #3747
@ypolishetty What kind of things are you not able search from the regular page search?

[2018-08-13 09:15] vkaegis commented on #2732
@jaskarangump Thanks for writing in! Just curious, do you switch languages often within the documentation? Or is it once per documentation?

[2018-08-13 09:18] sankalp0o commented on #3731
@rsweetland @Jwscott22 @hongaar just curious, what kind of customisations are you most looking forward for?

[2018-08-13 09:19] ghost opened #5016 "Prompt "Sign In or Sign Out" every half an hour"
The Postman app prompts to sign in or sign out every half an hour. After I signed in(all the caches lost), it will prompt again after half an hour. If I choose Sign out, it will quit.

[2018-08-13 09:22] sankalp0o commented on #3663
Hi @mattcanty, like @vkaegis mentioned, 'Publish' is only for making the documentation available for public consumption. Your team would be allowed to view the documentation for any shared collection without needing to 'Publish'. I'm closing this for now, let me know if this does not cover your feature request.

[2018-08-13 09:22] #3663 closed, assigned to a85, vkaegis

[2018-08-13 09:27] scottydocs commented on #3731
@sankalp0o just the ability to add a custom logo to replace the Postman one, import and use our own fonts, edit the header and background colours. All the standard options offered by CSS essentially.

We couldn't use Postman docs in their current state because we need the ability to style the page so it fits our branding/ looks like the rest of our documentation.

[2018-08-13 09:28] francesco1119 opened #5017 "Postman times out and ask to login again"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When I try to retrieve this URL with Postman:

`http://overpass-api.de/api/interpreter?data=[timeout:360];area[name="France"]->.a;(node(area.a)[amenity=cinema];way(area.a)[amenity=cinema];rel(area.a)[amenity=cinema];);out;`

Pos

[2018-08-13 10:01] belaie commented on #5015
This works only in Google Chrome extension, which is depricated oosn,  but it does not work in the Native app.

[2018-08-13 10:03] glenpike commented on #4315
Nice @kunagpal - that's behaving in 3.10.0 now, thank you 👍

[2018-08-13 10:12] sivcan commented on #4996
@raghav19 You can make use of the powerful feature called `postman.setNextRequest` (SNR)

I've prepared a collection to help you achieve this use-case very easily.

I've documented the scripts on how this can be done. (Take a look at `Request 1` and `Request 4`)
Not only this, setNextRequest allows you to build _**even more complex flows**_ easily.

Here: https://www.getpostman.com/collections/752

[2018-08-13 10:14] sivcan commented on #5012
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4996

On solving https://github.com/postmanlabs/postman-app-support/issues/4996, this use-case will be solved too.

[2018-08-13 10:14] #5012 closed, assigned to numaanashraf

[2018-08-13 10:35] numaanashraf commented on #5017
@francesco1119 We have an ongoing outage with our authentication service that is causing this. We are working on resolving this ASAP. You can follow this incident at our status page - https://status.getpostman.com/incidents/jy7fv1qs1k4b.

[2018-08-13 10:35] numaanashraf commented on #5016
@rayl-brbio We have an ongoing outage with our authentication service that is causing this. We are working on resolving this ASAP. You can follow this incident at our status page - https://status.getpostman.com/incidents/jy7fv1qs1k4b.

[2018-08-13 11:17] prashantagarwal commented on #4880
This is fixed in Postman 6.2.4.

[2018-08-13 11:17] #4880 closed, assigned to prashantagarwal

[2018-08-13 11:18] ezequias opened #5018 "JSON to Table view"
Hi eveyone

Have you any plan to integrate Postman Client to http://json2table.com/# tool?

I miss the json to table(html) in a way I could make easy import to [HighChartsCloud](https://cloud.highcharts.com) and increase my productivity.

[2018-08-13 11:18] prashantagarwal commented on #4313
Closing due to inactivity.

[2018-08-13 11:24] prashantagarwal commented on #4375
@yoransabern Can you provide details about your operating system.

[2018-08-13 11:26] yoransabern commented on #4375
Windows 10 Home 64 bit

[2018-08-13 11:33] fkYr63V9aIB commented on #5014
Update: Looks like the changes are picked up after an hour or so, which is a bit inconvenient.

[2018-08-13 11:39] hongaar commented on #3731
@sankalp0o agree with @Jwscott22. We'd like to have the ability to fine-tune the general look & feel of the entire page (header, sidebar). The most important one for us is the ability to modify the styling of the main content (fonts, spacing, colours, etc. etc.) as currently its layout is not ideal, e.g. we'd like to turn:
.
<details>
<summary>this</summary>

![image](https://user-images.githubuse

[2018-08-13 11:43] fkYr63V9aIB commented on #5014
Looks more like a caching issue on our end. Closing

[2018-08-13 11:43] #5014 closed, assigned to nobody

[2018-08-13 12:21] TheDavidJohnson commented on #5001
@SamvelRaja After digging around further and reading additional support requests here, I looked in these tables:

- collections
- folders
- requests

They are all empty.

[2018-08-13 12:26] raghav19 commented on #4996
Thanks @sivcan , for your valuable input. I am trying to implement the same using pm.info.iteration and pm.info.iterationCount. I added the following condition in my post request. I have only 1 POST request which has to run for multiple iteration of testdata.
`if(pm.info.iteration != pm.info.iterationCount)
{
    postman.setNextRequest('registerValue');
}`

However even after calling as new reques

[2018-08-13 13:55] aviray48 commented on #4992
Dear Kamalakannan,

For now, I cannot seem to reproduce the issue. Since it seems like this is
something that might only be with my computer, I don't want to trouble you
to continue looking at this. If I can track down what caused this, I will
reach back out to you. Once again, thank you for following up.

Avi

On Sun, Aug 12, 2018 at 5:02 AM Kamalakannan <notifications@github.com>
wrote:

[2018-08-13 14:27] numaanashraf commented on #5011
@MeenaAdobe our systems are operational and we are monitoring them. Please try logging back in.

Incident report: https://status.getpostman.com/incidents/jy7fv1qs1k4b

[2018-08-13 14:28] numaanashraf commented on #5016
@rayl-brbio our systems are operational and we are monitoring them. Please try logging back in.

Incident report: https://status.getpostman.com/incidents/jy7fv1qs1k4b

[2018-08-13 14:28] numaanashraf commented on #5017
@francesco1119 our systems are operational and we are monitoring them. Please try logging back in.

Incident report: https://status.getpostman.com/incidents/jy7fv1qs1k4b

[2018-08-13 14:30] numaanashraf commented on #5004
@Postman-Gabriel Could you please furnish more information? Are you exporting a collection or an environment? Which key is expected to be exported?

[2018-08-13 14:32] numaanashraf commented on #5008
@bryangunn Does the application crash while performing any particular operation?

[2018-08-13 14:55] ypolishetty commented on #3747
A regular web page search is too cumbersome as we have around 500 APIs right now. Even after the search, it is difficult to identify from the left pane where exactly(under which sub folder) this api resides. I was requesting for a search bar similar to what you guys have here: https://www.getpostman.com/docs/v6/postman/api_documentation/publishing_public_docs

This would be perfect!

[2018-08-13 15:13] numaanashraf commented on #5015
@belaie Thanks for writing in. This is currently not supported in Postman Native apps due to an underlying technical limitation. We are tracking this issue at #3697.

[2018-08-13 15:13] #5015 closed, assigned to nobody

[2018-08-13 15:13] numaanashraf commented on #5015
Duplicate of #3697

[2018-08-13 15:34] Coffee-Boyy commented on #4262
Setting POSTMAN_DISABLE_GPU=true worked for me

[2018-08-13 16:22] numaanashraf commented on #5007
@Postman-Gabriel What format is the import file in? "Magneto Schema 2" is not a supported import format in Postman at the moment. Please provide a sample file if possible.

[2018-08-13 16:35] BrambleRamble opened #5019 "For URLs in exported JSON, the 'raw' property duplicates the information in the 'protocol', 'host', 'path' & 'query'"
**The current behaviour**
When a collection is exported to JSON v2.1 from Postman v6.2.4, the information for each request's URL is duplicated across properties in the JSON file.

**The problem this poses**
This makes it tricky to make bulk changes to the collection in a text editor, e.g. if the name of an endpoint changes and all instances need to be replaced. We tried to do this using find & rep

[2018-08-13 16:39] BrambleRamble commented on #5019
I can't spot if this is indicated on the issue anywhere, but this is intended as a feature request/suggestion, rather than being a bug with a clear-cut fix.
My team has been talking about this problem quite a lot and I wanted to share it in the hope of finding a more practical alternative, although I'm not sure what the best way is.

[2018-08-13 16:51] raghav19 commented on #4996
Hi @sivcan ,

I tried further to get it working. i went through the exact same way as you have suggested in your example script. My POST & GET request are in a single folder. The use case is to run the POST request for all the iteration data and then call the GET request once. I observed the following with my execution.
1. The GET request gets executed even if i have set the next request in my pre

[2018-08-13 16:56] kunagpal commented on #5019
@Al54321 The perceived duplication is intentional (to avoid any possibility of losing information), as can be observed from the schema definition here: http://schema.getpostman.com/json/collection/v2.1.0/docs/index.html. As for the editor improvements, v6.2.4 of the Postman app provides an option to perform find and replace across multiple elements, as can be seen from the screenshot below:

<img

[2018-08-13 17:22] BrambleRamble commented on #5019
Thank you for the quick reply!

I can accept keeping the JSON as it is if that's necessary, and do appreciate that the duplication is by design. I don't directly see how the schema guards against loss of information though - it would be helpful to understand this in a bit more detail please.

I have accessed the Find panel using Ctrl+Shift+F - very useful to know about, thank you!
I'm struggling t

[2018-08-13 17:42] prashantagarwal commented on #5019
@Al54321 The bulk replace option is still in its beta stage and available in canary apps. You can download our canary app from https://www.getpostman.com/canary. Thanks

[2018-08-13 19:46] zankhanarana9 commented on #4229
Hi, I am facing a similar issue. I am trying to run a collection that checks the response status and time elapsed for the requests in the data file. I am sending a POST request first and then a GET. I get 404 not found for the GET request. It works fine if all the requests are POST in the data file.

[2018-08-13 20:48] zorner opened #5020 "Feature Request: Onsite/private postman cloud"
**Problem:
Postman collections and variables contain security data that should not leave the internal company network.

**Desired:
I want a private onsite cloud, that acts like the current public postman cloud. I understand the data on the postman cloud is encrypted, but that does not meet our security needs. We are testing internal servers, and not only the request needs to stay interval, but als

[2018-08-13 23:04] chrisdeso opened #5021 "Add http.use_ssl to Ruby Code Snippets"
**Describe the bug**
Add `http.use_ssl = true` parameter to Ruby code generation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Use the `Code` generation feature and select Ruby
3. View generated snippet and notice it's missing the `http.use_ssl = true` parameter

**Expected behavior**
Because Ruby requires an SSL connection to be established, a collection's Ruby-gen

[2018-08-13 23:34] Guilherme-Sensedia commented on #2050
News update in Postman for this?

[2018-08-13 23:37] chrisdeso opened #5022 "Documentation – URL repeats if "https://" is present in unpublished docs"
**Describe the bug**
If `https://` is present in the URL builder, everything prior to `https://` is repeated in the cURL snippet within unpublished documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection and add a request that has an added `https://` somewhere in the URL
2. View the private documentation
3. See the incorrect cURL request generated

**Expected behavi

[2018-08-14 05:39] LisaBails commented on #3956
yeah still happening >_<

[2018-08-14 06:01] sumit0k opened #5023 "Request Editor switches to Another request when coming back from Example Editor"
**Describe the bug**
When I edit any example for a request, and then click the back to request link in top left, I am shown details of another request with sidebar still highlighting correct request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any request'
2. Click 'Examples'
3. Change details of Example
4. Click on 'back to request link in left top'

**Expected behavior**
The req

[2018-08-14 06:03] sumit0k commented on #4799
I am on latest version 6.2.4 and similar error is happening for my another workspace.

[2018-08-14 06:27] sujayvenaik commented on #5023
Hey @sumitkumar1209

I was not able to replicate this issue.
Was there a specific use case where you faced this ?

Do let us know, so we can dig more as to why this happened.

[2018-08-14 06:36] sumit0k commented on #5023
Yes, it is not happening frequently or always reproducible. May be screen record attached in Original post can help.

[2018-08-14 06:43] sivcan commented on #4996
@raghav19
So,
1. Your iterations are being controlled by the environment variables and you'd want to set the iteration count as 1 before running the run. (Iterations are being controlled using setNextRequest)

![image](https://user-images.githubusercontent.com/12631777/44075664-3da6a662-9fbb-11e8-9a49-d4f06633827e.png)
_Iteration should be 1_
_Also, the environment should be selected_

2. Can you

[2018-08-14 06:45] sivcan commented on #4996
@raghav19 Also if you're using the data file, share a sample of that too.
Replace url's with `postman-echo.com/post` and `postman-echo.com/get`  if you may. :)

[2018-08-14 07:43] sujayvenaik commented on #5023
@sumitkumar1209
Tried that, but could not reproduce accurately.

If you find this is not happening now, you can close this issue and open it any time later you face it again.

[2018-08-14 07:48] MoragM commented on #3956
This has begun happening for me since yesterday. Unlike with the original post, I didn't even deliberately clear any site data. The workaround with the config file seems to have solved the problem.

[2018-08-14 08:09] amh2013 opened #5024 "Dealing with older API's"
I am working with some older API's and at point point during testing the API will return HTML page which uses javascript to redirect (mainly happens in some payment gateways).

As far as I can tell there is no way to handle such response and you can't copy and past anything in the browser as it will simply not work.
Would be nice to have a webview type panel where you can execute the javascript in

[2018-08-14 08:22] sivcan commented on #3428
@Faz540 This issue is not reproducible on the latest version of Postman i.e 6.2.4 as of now.
As per your comment https://github.com/postmanlabs/postman-app-support/issues/3428#issuecomment-336380713

Here's a collection to test this:
https://www.getpostman.com/collections/6ef32b8a715d7aa98079

Note: Incase you're testing the above mentioned collection then you'll be needing to setup the environmen

[2018-08-14 08:22] #5011 closed, assigned to numaanashraf

[2018-08-14 08:22] #5016 closed, assigned to numaanashraf

[2018-08-14 08:22] #5017 closed, assigned to numaanashraf

[2018-08-14 08:37] Varun2604 opened #5025 "Improvement in shortcuts in postman app"
It would be really great if we can have a shortcut to change the request operation and to `Send and Download`, like we have shortcuts to select the request url, etc

[2018-08-14 08:59] pedzed commented on #3985
This little thing becomes so extremely frustrating. Every single time you have to scroll down.

What I currently do is switch to the Headers tab, as it is the most compact tab. But it still is not the same as being able to collapse it.

Related: https://github.com/postmanlabs/postman-app-support/issues/4872

[2018-08-14 09:09] marco-brandizi commented on #448
It doesn't work for me. Just downloaded 6.2.4. I still can't believe that this app was ever released without such a basic feature.

[2018-08-14 09:09] numaanashraf commented on #4995
Fixed in v6.2.4

[2018-08-14 09:09] #4995 closed, assigned to numaanashraf

[2018-08-14 09:13] raghav19 commented on #4996
@sivcan ,

Thanks for the input once again. The screenshots which you have show , I am very aware of the same and am running my requests and testing it out in the same manner.
I have posted in the following link my collection as requested by you after removing all sensitive data.

[Postman link](https://www.getpostman.com/collections/8fafe1d9df0d95d6ddd0)

The testdata which i am using is:

`[
  {

[2018-08-14 09:24] numaanashraf commented on #448
@marco-brandizi Can you provide more details regarding the issue, specifically the steps you have followed and your expectations? As far as I see, this issue is resolved as it is possible to enter new lines in form-data or form-urlencoded fields, by just typing `Enter` in the value field.

<img width="680" alt="screen shot 2018-08-14 at 2 49 31 pm" src="https://user-images.githubusercontent.com/32

[2018-08-14 10:03] sivcan commented on #4996
@raghav19  Found the issue.

So, I'll explain what went wrong here.

Irrespective of 'where' you put the setNextRequest inside a request i.e inside **pre-request script** or **tests script** the current request will **ALWAYS RUN** and after the execution of the current request is finished only then the next request that you've request using the setNextRequest function will be executed.

You wrote

[2018-08-14 10:16] egorzot commented on #4374
Check user rights for this folders:

- /opt/Postman

- /home/user/.config/Postman

I updated postman with root that's why I have to change owners rights for this folders for current user and it solves the issue:

`sudo chown -R user:user /opt/Postman /home/user/.config/Postman`

[2018-08-14 10:18] kamalaknn commented on #4992
Hey @aviray48

Sure, no problem.

I'm closing this issue for now. Feel free to reopen this issue if this happens again.

[2018-08-14 10:18] #4992 closed, assigned to kamalaknn

[2018-08-14 10:52] marco-brandizi commented on #448
@numaanashraf, thank you for your prompt reply. Now I get it: When I click 'Params' next to the URL, i.e., parameters to be added to the URL for a GET request, I cannot use multi-line params in the corresponding table. That's not clear at all and it's a limit, because \n can be URL-encoded and appended to the URL just like any other character. Not a big deal in my case, where both GET and POST req

[2018-08-14 10:55] Rellum commented on #2801
+1

[2018-08-14 10:57] Rellum commented on #2801
+1

[2018-08-14 11:30] numaanashraf opened #5026 "Multi-line value editor for URL query params"
**Is your feature request related to a problem? Please describe.**
Add multi-line values to query parameters in the URL

**Describe the solution you'd like**
Add support for multi-line values in URL query param editor similar to body > form-data

OP: https://github.com/postmanlabs/postman-app-support/issues/448#issuecomment-412832550 by @marco-brandizi

[2018-08-14 11:31] numaanashraf commented on #448
@marco-brandizi Thanks for the clarification. This should be possible and I've created a new feature request for the same at #5026.

[2018-08-14 12:41] neppi commented on #2801
+1

[2018-08-14 13:24] raghav19 commented on #4996
Thanks a lot @sivcan for the solution. It works now. I went with option 2 for testdata iterations. However  ,
now the POST request body needs data from the testdata. I tried with {{data.name}}. it doesnt work..
I think i have to save all the variables from testdata as env variables and then use it in the various places.

This also creates another problem, now that the structure of the testdata is

[2018-08-14 13:37] kalemdzievski opened #5027 "Could not get any response (Error: Invalid URI)"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman cannot resolve environment variable in request's URL, for requests that are created in folder.
Example env variable is set in the environment as host: https://x.com
Every created in folder request returns error "Could no

[2018-08-14 13:43] sujayvenaik commented on #5027
Hey @kalemdzievski

I was not able to reproduce the bug and this seems to work fine when i tried reproducing it.

Can you check once if you selected the environment from the environment selector drop-down after creating the environment ?

[2018-08-14 13:50] verissimor commented on #350
+1

[2018-08-14 13:58] kalemdzievski commented on #5027
@sujayvenaik

yes the environment is selected. Here is an exported collection example:
[Postman Issue #5027.postman_collection.zip](https://github.com/postmanlabs/postman-app-support/files/2287203/Postman.Issue.5027.postman_collection.zip)

[2018-08-14 14:10] kalemdzievski commented on #5027
@sujayvenaik

i found out that the following code is causing the issue:
`"event": [
						{
							"listen": "prerequest",
							"script": {
								"id": "f6b64b63-e595-4cc0-95ab-0aaef4ea2d36",
								"type": "text/javascript",
								"exec": [
									""
								]
							}
						}
					]`
But the "Pre-request script" tab is empty for this request. If i delete this code from the postman colle

[2018-08-14 14:21] GuusK commented on #1879
RSA signing and verification would be awesome

[2018-08-14 14:33] HeXetic commented on #2195
Given that Postman _automatically_ remembers all previous requests, with no option to disable this functionality, it's really ludicrous to prompt us _every single time_ if we want to save a tab before closing it.

With the history behaviour, I treat Postman like I treat my browser. I manually save certain requests which are critical to me; anything else, I dig through the history to find again. I

[2018-08-14 14:36] kalemdzievski commented on #5027
Also please note that, the request is copied from existing collection. It is just edited (name, host, request path) for privacy reasons.

[2018-08-14 14:40] sujayvenaik commented on #5027
Hey @kalemdzievski

I imported the collection and ran the request worked fine.
Ideally this should not happen if the pre-request scripts you have entered do not have any error.

Closing this issue for now, if you face such a situation again then you can reopen this issue.

[2018-08-14 14:45] #5023 closed, assigned to sujayvenaik

[2018-08-14 14:47] zankhanarana9 commented on #697
+1

[2018-08-14 15:03] stramel commented on #697
@shamasis @abhijitkane @czardoz Do you mind locking this thread so it doesn't continue to get +1s?

[2018-08-14 15:06] joyider commented on #4079
+1

[2018-08-14 15:26] Doube-SW commented on #1535
+1

Just looking for the same feature. For testing purposes I broke down requests into small chunks, named them and reuse them in different scenario's. In this case it would be best to link them to a master instead. Would save a lot of effort maintaining such test scenario's.

[2018-08-14 15:42] aviray48 commented on #4992
Sounds good, thanks. - Avi

On Tue, Aug 14, 2018 at 6:18 AM Kamalakannan <notifications@github.com>
wrote:

[2018-08-14 16:18] nitzel commented on #2302
+1

[2018-08-14 16:25] magusd commented on #697
+1

[2018-08-14 16:40] far-blue commented on #4435
As someone else working with Avro payloads in http requests and responses it would be great to see support for them :)

[2018-08-14 17:16] jakeNiemiec commented on #697
➕💯

[2018-08-14 17:17] aeropogi commented on #4435
My team actually found a solution, so I will post it and close this issue.

Add the Key "Content-Type" with the value "application/vnd.kafka.avro.v2+json" to the header

In the Pre-request Script:

var payload = {<json>}

var message = {
        "value_schema_id": <number from kafka registry>,
        "records": [
            {
                "value": payload
            }
        ]
    };
pm.env

[2018-08-14 17:17] #4435 closed, assigned to kamalaknn, preethammavin

[2018-08-14 17:18] aeropogi commented on #4435
To clarify, since the formatting changed a little when I submitted the comment.  The payload value is json.  The value_schema_id comes from the kafka registry.

[2018-08-14 17:19] far-blue commented on #4435
Well, that works with Kafka because Kafka supports json format message payloads. But it doesn't work with generic Avro payloads.

[2018-08-14 17:26] mshimao commented on #3892
+1

[2018-08-14 19:35] kingb commented on #4581
Food for thought: I was getting this error with Postman v6.2.4 on Linux...

I renamed ~/.config/Postman to ~/.config/Postman.old and restarted the app, and now cookies are sticking.

[2018-08-14 20:12] Coffee-Boyy commented on #3300
That workaround only seems to work for single validation. This is still an issue in Postman 6.2.4 (Windows 7)

Update:
Workaround for multiple validation:
[code]

It seems that accessing it directly is the only thing that works for some reason

[2018-08-14 20:19] MrSleazy commented on #3942
@Tataraovoleti Note that if you set the PROXY configs mentioned above as environment variables, you must tell Postman to use those configs at least 😄
![image](https://user-images.githubusercontent.com/4512611/44116165-c2c052a4-9fdd-11e8-981b-c96a3c8901f8.png)

[2018-08-15 01:16] bartlettcp commented on #2452
Arrrgh - I've just set up two different Oauth 2.0 Token's (with 60 min expiry) in 2 different Postman collections.

I then did some coding - and my tokens expired - so I went to regenerate them - to find that it only saves one set of settings (e.g Grant Type, Auth Url, Access Token URL, Client Id & Secret) - and the first set of settings are lost... This is really terrible - because the Secret is

[2018-08-15 02:03] godfrzero commented on #4964
@abhijitkane This should be resolved now, can you confirm so I can close?

[2018-08-15 04:42] nivance opened #5028 "Can't open Postman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Can't open the Window of Postman，

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the Postman in Windwos
2. whirl and can't go to the next step

**Screenshots**
![](https://user-images.githubusercontent.com/3291404/

[2018-08-15 05:37] brentlemons commented on #4687
Mine was at 2.5gb just a moment ago. I believe part of the problem is the fact every time you click on a call in your history it opens a new tab (WTF, the "Always open requests in new tab" doesn't seem to do anything). I just force closed 53 tabs and it reduced footprint to 800mb. Still high, but better than before.

Postman is infinitely easier to use than curl, but you're killing me Smalls.

OSX

[2018-08-15 05:44] sivcan commented on #5028
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4703

[2018-08-15 05:44] #5028 closed, assigned to nobody

[2018-08-15 07:59] kalemdzievski commented on #5027
@sujayvenaik

the issue is still happening. I found out that if i create new collection add request, without setting any pre-request script, everything works fine. As soon as i add for example global variable, the issue occurs.

I recorded a video of the issue happening:
[Screencast 2018-08-15 09:54:59.zip](https://github.com/postmanlabs/postman-app-support/files/2289565/Screencast.2018-08-15.09.5

[2018-08-15 09:24] galbarm opened #5029 "Response body of examples losts during import"
Reproduces with version 6.2.4 for windows.

When importing a collection with a request that contains an example with a request body, the request body is not imported with it.

For example, look at this request and the body of the example:
![capture](https://user-images.githubusercontent.com/4610728/44141200-16816da4-a085-11e8-8e07-61872cadb364.JPG)

As you can see it has concrete values.
Following

[2018-08-15 10:55] galbarm commented on #5029
Might be related to https://github.com/postmanlabs/postman-app-support/issues/3723

[2018-08-15 13:20] galbarm commented on #5029
Also, this seems to be new.
My colleague downgraded to 6.1 because of this, and says it doesn't reproduce there.

[2018-08-15 14:03] srayner commented on #2676
This is a really good idea. Currently it is too easy to accidentally damage your live data.

We would need to think about the same feature on the test runner, not just making single requests.

[2018-08-15 14:31] Pr1Smiley commented on #2750
Closed again without no resolution?

[2018-08-15 14:53] StephaneJuban commented on #1947
+1 😜

[2018-08-15 17:02] TheDavidJohnson commented on #5001
Sorry to be a pest, but do you have any thoughts about this, @SamvelRaja ?

[2018-08-15 18:10] piersmacdonald commented on #1535
+1

Reasoning: We have a service `WidgetService` with 8 endpoints of which 2 are publicly available. I'd like to use Postman to create the publicly facing API documentation. To do that I currently have a 'Public' collection and copy the endpoints from our `WidgetService` over. It would be great if changes in one could be reflected in the other

[2018-08-15 18:47] DatChoob commented on #3107
@nsossonko  Perfect! worked for me

[2018-08-15 19:18] ericnewton76 opened #5030 "Postman-echo service needs some love"
Postman-echo service could use a repo or something.  Issue tracking and wiki with pull-request support optionally.

First problem is that I ran into with postman-echo is lack of CORS headers.  Access-Control-Origin/etc

Second problem is that the delay endpoint should be a meta command on the base endpoints, something like add a header "Delay: 3".

Third, the postman-echo site should include some

[2018-08-15 20:08] loopDelicious commented on #4993
@kamalaknn

Makes sense. I didn't have any stringified libraries, but did indeed have a large array. Total environment size is ~ 6MB.

[2018-08-16 01:47] jhpratt commented on #2392
@vkaegis Can you clean this thread up? All of the "+1" comments are completely useless. There's GitHub's reaction feature, which has existed for years.

[2018-08-16 07:10] numaanashraf commented on #5029
@galbarm Thanks for reporting this. This is a confirmed regression and we are working on fixing this ASAP.

[2018-08-16 07:56] dhineshwiz opened #5031 "Text is overflowing for long variable name in environment variable popover"
**Describe the bug**
Text is overflowing for long variable name in environment variable popover.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a long variable name in environment
2. Use the same in request url
3. Hover over the variable, and popover appears with text overflowing.

**Expected behavior**
The text can be ellipsis for long variable names

**Screenshots**

<img width="65

[2018-08-16 08:03] NominationP commented on #1667
Any updates?

[2018-08-16 08:22] shanjee commented on #2638
I have the latest version (v6.2.4) when I run the monitor I am getting the same error.

Error: getaddrinfo ENOTFOUND xxxx.com xxx:443, but the same collection works fine in post man when i run the run, any clue ?

[2018-08-16 08:35] ash007-postman opened #5032 "Generate Code inserts wrong query parameters"
When looking at my published API documentation, or generating code in the Postman app, it sometimes inserts query parameters that shouldn't be there.

It looks as if it caches old GET URL's for the request, when it had query parameters in the URL, and when removed, it still generates them in code snippets and documentation.

The generated code snippets would even contain entire wrong URL's occurri

[2018-08-16 08:41] xlion922 opened #5033 "SHA-512 based signature in the update center doesn't match with the certificate in 'update site 'default''"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.
when click "check now" in plugin advanced page, the error "SHA-512 based signature in the update center doesn't match with the certificate in 'update site 'default'' will show

[2018-08-16 08:42] FlorianPfisterer commented on #3136
@TehWardy As a temporary workaround, I have used `https://127.0.0.1:port` instead of `https://localhost:port`, which did the trick for me.

[2018-08-16 08:46] Ramya-From-Postman opened #5034 "[Linux] Disk space used multiplies after each update"
**Describe the bug**
 Loaded tar.gz archive from www.getpostman.com/apps and unpack it to some folder. However, after the update, the folders like Postman-1530074526612, Postman-1530079605329, Postman-1530247417029  Postman-1534402914844.tar.gz etc, are not getting auto cleared and it is resulting in increasing the postman directory size every time when the update happens

**Expected behavior**
Th

[2018-08-16 09:03] akadatsky commented on #5034
This issue ware requested by me, feel free to ask me if you need any additional information.

[2018-08-16 10:02] jvalecillos commented on #4703
Same issue, still present but slightly different. You can reproduce if I go to **Import -> Paste Raw Text** and then focus on the text area.

Adding `POSTMAN_DISABLE_GPU` environment variable makes no difference.

I have applied the solution suggested by @sahalsaad in Archlinux.

[2018-08-16 12:33] MartinMuzatko commented on #2724
omg. I was pretty surprised this is not there yet.

[2018-08-16 12:47] d-schmidt opened #5035 "Add support for pm.environment.setAll"
**Describe the bug**
The following code suddenly stopped working. There is no warning or error message.
[code]
We use this in Pre-request Script in our integration tests to only keep specific environment variables. Without persisting the new values our tests suddenly produce strange results. You can call above code a bunch of times and the environment does only change for the single requests. The

[2018-08-16 12:56] danh916 commented on #2853
+1 on this feature request!

[2018-08-16 13:11] PkKingX11 commented on #4852
This needs to be fixed it's so annoying, it's basically unusable...

[2018-08-16 13:41] csm-noahjahn commented on #4940
Hello,
Do you have an update on this issue? Is there any more information you need from me?
Thanks!

[2018-08-16 13:50] harryi3t commented on #5029
@galbarm Thank you for reporting this issue. We have found the root cause and have fixed it in an internal build. We are testing for stability and this fix would be available in the next stable release.

Here's a short post-mortem about the bug

#### Q. What was the bug?
In Postman version 6.2.x while importing a collection with examples, the example's request (url, header, body, scripts, etc) was

[2018-08-16 14:08] sugoireed commented on #4720
I signed out and then signed in again and it was able to sync.

Try and see if that helps.

[2018-08-16 15:38] numaanashraf commented on #5033
@xlion922 This issue does not seem related to Postman. Closing.

[2018-08-16 15:38] #5033 closed, assigned to nobody

[2018-08-16 16:02] WrecksKing commented on #2773
👍 eagerly awaiting this feature!

[2018-08-16 16:12] VladKopanev commented on #6682
+1

[2018-08-16 16:19] tomstoreysn commented on #2729
@sankalp0o I would keep the data, and simply not send it, perhaps disabling/greying out the body to indicate that it isnt in use. Personally, I would find it incredibly annoying if I turned the option off and it all disappeared and had to fill it back in.

[2018-08-16 16:50] smxdevst opened #5036 "Mark endpoint if description exists"
**Is your feature request related to a problem? Please describe.**
Mark endpoint somehow if description exists. My team always skipping description because there is not way right now to know if endpoint has one.

**Describe the solution you'd like**
To have some grey dot close to the name on actual endpoint or something like this.

[2018-08-16 21:32] chrisdeso opened #5037 "Allow team administrators to transfer ownership of shared environments"
**Is your feature request related to a problem? Please describe.**
When removing a user from a team, administrators are only able to transfer ownership of any collections that a user has shared within team workspaces.

It's not uncommon for those collections to rely on shared environment templates, and the inability to retain that information may render collections unusable.

**Describe the soluti

[2018-08-17 01:44] andyjjones1 commented on #2833
Still happening for me.  Windows 10.
Postman for Chrome, Version 5.5.3, win / x86-64, Chrome 68.0.3440.106.

It could only be solved by pressing [Alt+Space] and then *clicking* maximize by hand instead of pressing any keys.  My postman came back after that.

[2018-08-17 02:59] seven-huang commented on #4578
i met this issue at postman-osx-6.2.4

[2018-08-17 03:52] simonhardingforgerock commented on #3312
+1

[2018-08-17 03:56] EthanW1224 commented on #6682
+1

[2018-08-17 06:36] jmini commented on #4555
Here is my expectation:

In the URL field: see the request as it will be sent (special chars needs to be encoded)
In the param field: see the value in clear text (special chars are decoded)

<img width="730" alt="expected" src="https://user-images.githubusercontent.com/1222165/44251377-6992f480-a1f8-11e8-8a1b-42124bb26952.png">

---

Other example:

If you would have a `+` in the url field of post

[2018-08-17 07:18] sankalp0o opened #5038 "Can't access examples for requests without a name"
**Describe the bug**
If a request doesn't have a name (empty value), the interface doesn't allow accessing the example dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on context menu of a collection from the sidebar
2. Click on 'add a request'
3. Leave the name field empty, hit save.
4. Click on the new request in the sidebar to open it.
5. Try to find the examples dropdown.

[2018-08-17 07:43] harryi3t commented on #4895
@cortopy We were unable to reproduce this. Will it be possible for you to create and [share](https://www.getpostman.com/docs/v6/postman/collections/sharing_collections) a dummy collection which can reproduce this issue along with the published collection's URL? It would really help in reproducing and fixing the issue. Also if possible you can screen record the whole process

Here's a screen record

[2018-08-17 08:39] jawn commented on #4578
Thanks for providing this workaround.
However, many users may be affected and not everybody will find this page.

The impression you get as a user is this: the software is slow or buggy (even though the GPU is the cause).

So the question is, does it make sense to enable GPU by default given these effects?

[2018-08-17 08:42] qcastel commented on #4707
++1 on this one. We are using this feature for Open Banking, in the financial sector, and this bug is really affecting the user experience for our all community: We decided to use postman as a way of documenting/exploring the Open Banking standard, we really like to see this issue fixed soon.

[2018-08-17 08:55] deepakpathania-zz commented on #4229
Hey @zankhanarana9, do you mind opening a separate issue with more details? Thanks.

[2018-08-17 08:55] sujayvenaik commented on #5038
@sankalp0o

We have identified this and will be out in our future releases.

[2018-08-17 09:07] vkaegis commented on #5036
@smxdevst Thanks for writing in! This looks like a pretty nifty feature to have... we'll take a look at how we can integrate this with some of the other requests around filtering requests. No ETA on this just yet, but stay tuned for updates!

[2018-08-17 09:21] ash007-postman commented on #4977
I have lots of console.log messages with detail appended (csv data)

I used to be able to click an item in console and it would expand

With the newest version, trying to expand any item crashes the console

Version check:

![screenshot 2018-08-15 12 10 34](https://user-images.githubusercontent.com/41741228/44258195-e7bcbe80-a22b-11e8-9adf-76bee8325c5e.jpg)
![screenshot 2018-08-15 12 10 41](https:

[2018-08-17 10:35] Gerrit-K commented on #4359
For others looking: please don't mindlessly delete files or directories! Try the solution from @ClementParis016 first, i.e. check if there are still Postman processes pending (potentially from another user?). Stopping them might already solve the problem without the risk of losing any data.

[2018-08-17 11:09] gnarr commented on #3390
+1

[2018-08-17 12:50] Ramya-From-Postman opened #5039 "Environment variables are not getting replaced with the value while sending requests after the update"
**Describe the bug**
The Environment variables are not getting replaced with its value when sending the request & resulting in the error "couldn't get any response". Wherein, it used to work as expected before the update.

**Note**: If the environment variable is replaced with the exact value in the endpoint URL & the call the API, it works fine

**Expected behavior**
The corresponding environment

[2018-08-17 13:27] bt-dd commented on #3117
+1 As others have brought up, this would be an extremely useful feature, hopefully it will eventually be added to Postman!

[2018-08-17 13:41] yishayn commented on #4313
Hi @prashantagarwal @preethammavin
Sorry for my delayed response.

I think I was able to find the problem **Root Cause**

Problem Description:
- As you know, if I want to use environment parameter in a request body, I need to use curly braces :  {{variable}}
- The problem root case is if I have in my request body mixed variable of Integer & string.
i.e.
 If this is a string , it will be with quota

[2018-08-17 13:50] jimonthebarn opened #5040 "Feature request: Support for streamed responses"
With the advent of reactive streaming API's the handling of streamed responses becomes more and more important. Therefore I would love for postman to be able to handle streamed responses when setting the accept - header to application/stream+json or text/event-stream instead of the currently displayed 'Syntax error".

The response window could probably be updated when a new chunk of data comes in

[2018-08-17 13:54] jimonthebarn commented on #5040
In the meanwhile we could probably update the "code" generated when creating a Shell httpie request to also contain the --stream parameter in case of streaming responses. Othwise httpie buffers the data and will only output it once the response is completely received.

[2018-08-17 15:39] cyclobster commented on #4221
### I fixed my broken postman with this one weird trick...

On High Sierra I was experiencing the same issue and the fixes in #4703 did not help. As a workaround, I opened Postman and immediately opened up `View` > `Developer` > `Show DevTools (Current View)`.

As long as you're able to do that before the app goes black the dev console will freeze before Postman crashes. Then just press play and P

[2018-08-17 16:03] sebcharrot commented on #4193
+1

[2018-08-17 17:04] zinczinc commented on #4325
I have the same issue. Posting the following does not work. I tried several times in vain. The value is always null server-side:

    {
	    "userDetails": [
		    { "Name": "Von", "Qty": 25 },
		    { "Name": "Peter", "Qty": 15 }
		    ]
    }

I wonder why @harryi3t closed this, while the issue is real. I would have expected him to support his closing by some example of how and where it works.

[2018-08-17 17:21] joebri commented on #4814
Am also getting this issue after latest (6.2.4) update. The above suggestion for a fix (by jamestown27) had worked for a previous update but... not this time. I get an error saying the folder is not valid, even though I've cut-&-pasted it from windows explorer. (This is on Windows 7 Enterprise).

Edit: My workaround was to create a shortcut directly to the 6.2.4 exe location!

[2018-08-17 17:42] numaanashraf commented on #4325
@zinczinc @georgeholt We are having trouble replicating this at our end and based on our tests, Postman's sends the correct request to the service. We'll post a detailed account of how we ran these tests. In the meantime, could you share the PHP version you are using?

[2018-08-17 17:45] numaanashraf commented on #4325
@zinczinc @georgeholt @alvarotrigo I've reopened this and have modified the title to better reflect the actual issue.

[2018-08-17 20:56] numaanashraf opened #5041 "Wrong message when sidebar search yields no results"
**Describe the bug**
When sidebar search yields no results, the message says 'You haven't created any collections yet'.

**Screenshots**
<img width="234" alt="screen shot 2018-08-18 at 2 23 41 am" src="https://user-images.githubusercontent.com/3295568/44288450-08b5fb80-a28e-11e8-8a0a-f520c121e48d.png">

**App information (please complete the following information):**
 - App Type: Native
 - Postman

[2018-08-17 21:03] numaanashraf commented on #5035
@d-schmidt Thanks for writing in. `pm.environment.values` is an undocumented API and would lead to unexpected behavior if used in Postman v6.2+. Please use the documented API detailed here - https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference#pmenvironment

[code]

[2018-08-17 21:10] d-schmidt commented on #5035
A setAll() would be nice I guess.

Numaan Ashraf <notifications@github.com> schrieb am Fr., 17. Aug. 2018,
23:03:

[2018-08-18 00:01] kingjulien1 opened #5042 "Requests in Documentation that dont exist"
**Describe the bug**
I am seeing Requests in my Documentation, that dont exist in my postman app.
In my app:
![unbenannt](https://user-images.githubusercontent.com/35682894/44293282-69433980-a28a-11e8-929f-f4dbc3364492.JPG)
the documentation(Web) (link: https://documenter.getpostman.com/view/3128721/RWMFt97W#e7335cac-69da-5b80-d2c9-6f5739df7bad):
![image](https://user-images.githubusercontent.com/

[2018-08-18 00:14] #5042 closed, assigned to nobody

[2018-08-18 03:46] vkaegis commented on #4996
Hey @raghav19, thanks for the writing in! I'm going to close this issue since the original issue is resolved. If you have any more questions, feel free to post them in the community:
https://community.getpostman.com/

Cheers!

[2018-08-18 03:50] vkaegis commented on #3985
Hey @pedzed! Apologies for the long wait on this one, but we're working on a whole bunch of improvements around tabs and how they represent information. Expect to see things like collapsible panes in the coming versions.

[2018-08-19 06:16] JayathmaChathurangani commented on #4875
+1

[2018-08-19 09:46] tenghuanhe opened #5043 "In Pre-request scripts, environment variables calculation doesn't replace nested variables in request body"
**Describe the bug**

In a request body like:
[code]

And in the request header there is another variable:
[code]
where the `{{signature}}` variable is set in "Pre-request script" with:
[code]

It seems that in the Pre-request script, when computing and setting environment variable `{{signature}}`, the actual value of `{{lastResponseId}}` is not used but a wrong value.

**To Reproduce**

**Expecte

[2018-08-19 16:40] kdschaffe commented on #1667
Does this mean it works with the new app? This is right next to the native app download links..

![image](https://user-images.githubusercontent.com/6557698/44310952-d68ec180-a393-11e8-99ad-0a6bc0e4aae7.png)

[2018-08-19 17:13] sumthej opened #5044 "How to extract value from html response and pass it on to next request in postman"
Example url: https://abc.xyz.com/m#

HTML Response:
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
.
.
</head>
<body class="abc">
.
.
.
.
<script>xab.start('{\"first\":\"123xyz\",\"second\":\"abc123\",\"third"..;</script>
        </div>
    </body>
     </html>

In the above mentioned response i want to extract the value of the parameter second ("second\":\"abc123\") from the response and pass

[2018-08-19 19:19] codenirvana commented on #5044
@SumukhThej You can use the [cheerio](https://cheerio.js.org/) library included in[Postman Sandbox APIs](https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference) for parsing HTML response.

Load cheerio in your test script like this:
[code]

[2018-08-19 20:19] Kal6 commented on #2861
when run from newman it is working fine as we do expect it is reading data file null values as null, but from Postman Collection Runner when run the test scripts null values are reading as variable key names {{var name}} so the problem is with **Postman Collection Runner**

This is my csv datafile, in which i am passing org id and store number as empty values.
![image](https://user-images.githubus

[2018-08-19 21:47] andini28 commented on #4413
![untitlednn](https://user-images.githubusercontent.com/42520676/44313471-be6e7f00-a433-11e8-9fd4-eb7ebf6d6e06.png)
how to set access Token in the Authorization field in the header key with test script on postman
![untitled](https://user-images.githubusercontent.com/42520676/44313502-23c27000-a434-11e8-80ca-a187cccf5883.png)

[2018-08-20 04:19] raineroviir opened #5045 "Trim blank spaces in Headers"
I had postman receive no response from my server because when I copy pasted the Bearer token it copied over some blank spaces.  After some troubleshooting, I figured it out, but it could be a nice UX win for postman to do it for the user.

I would recommend Postman trim the empty spaces for the user Headers or really any field, I don't see any downside to this.

[2018-08-20 05:37] chrisdeso opened #5046 "Contextual Menus for Tests in Runner"
**Describe the solution you'd like**
It would be helpful to have a contextual menu in the test results page when inspecting test results in the collection runner. A key binding (like Option + Click) would be awesome!

**Additional context**
![image](https://user-images.githubusercontent.com/4734306/44322058-610d0a80-a400-11e8-8789-69c6c62ff7ba.png)

[2018-08-20 06:50] #5044 closed, assigned to numaanashraf

[2018-08-20 07:13] numaanashraf commented on #5044
@SumukhThej Thanks for writing in. As per our [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues), these questions need to be asked on our [Community Forum](https://community.getpostman.com/).

[2018-08-20 07:29] numaanashraf commented on #5046
@chrisdeso What actions would be useful via a context menu?

[2018-08-20 07:36] sivcan commented on #3428
I'll be closing this issue, let me know if you're still able to reproduce this.

Thanks.

[2018-08-20 07:36] #3428 closed, assigned to sivcan

[2018-08-20 08:11] whippet-rider commented on #675
+1

[2018-08-20 08:23] gitterrost4 commented on #5039
I can confirm this behavior on the native app for linux-x64 and it makes working with my collections impossible.

[2018-08-20 08:36] harryi3t commented on #5039
Hi @gitterrost4,
Were you able to reproduce this issue? Does this happen randomly or consistently?
If you are able to reproduce it consistently, could you post a screen recording? That will be very helpful.
Thanks

[2018-08-20 08:38] harryi3t commented on #4413
@andini28 You can use a variable in the authorization field
![postman 2018-08-20 14-07-20](https://user-images.githubusercontent.com/5207331/44329559-6317ad80-a482-11e8-8273-e38a48b23d41.png)

And then set the value for that variable in the pre-request script
[code]

[2018-08-20 09:06] gitterrost4 commented on #5039
I **was** able to reproduce this issue. After downgrading postman to 6.2.3, the issue was not present anymore. After upgrading again, everything works fine. Very strange indeed.

The effect was that if you have a variable "host" lets say set to "https://github.com", if you have a request with the URL {{host}}/test, it would show the error "There was an error connecting to %7B%7Bhost%7D%7D/test". E

[2018-08-20 09:11] godfrzero commented on #2719
We've started working on this feature. As a first step, we're planning on having the the documentation automatically pick up the favicon from your custom domain. Favicon upload and whatnot will come in soon after that.

I'll post an update here again as we make progress.

[2018-08-20 10:15] SamvelRaja commented on #5001
@TheDavidJohnson
Sorry for late reply and I have been trying to reproduce it.
We won't do any kind of data migration in the current version.
Could you try replacing one of your back of ~./config/Postman folder?

[2018-08-20 11:29] manreet185 commented on #1441
Hi all, I am able to upload a file. However, it shows me the wrong name in my portal.
For eg: I am uploading a file(test.txt) to portal. It says 200ok in response. When i see on my portal, it shows default.txt. However, it works perfectly fine using curl. Can anyone please explain how to populate correct name using postman.
Although , "Name" key is added in header with correct name of the file.

[2018-08-20 11:34] Ramya-From-Postman opened #5048 "Activity Feed shows the deleted(removed) user name as remover name"
**Describe the bug**
Let us say If user **A** is removed from the team, it should Ideally show that **User A was removed from the team** under the activity feed. However, it is showing as **User A removed a member of a team**.

**Expected behavior**
If user **A** is removed from the team, It should show that **User A was removed from the team**

**Screenshots**
Here, the highlighted users are remo

[2018-08-20 11:46] Ramya-From-Postman opened #5049 "Usage Overage Notification"
**Describe the bug**
Even though the usage per feature is not over on any tier, the following error message has been displayed on the billing page.

**Expected behavior**
The error should not be displayed unless the limit is actually exceeded.

**Screenshots**
![image](https://user-images.githubusercontent.com/40994626/44338716-7172c300-a49c-11e8-87fa-134184be50bc.png)

**App information (please c

[2018-08-20 12:34] numaanashraf commented on #5043
@tenghuanhe The variables in the request are resolved *after* the pre-request script is ran. So `{{lastResponseId}}` would still be unresolved when you read the body value via `pm.request.body.raw`.

Now, there is a way to do the resolution in the pre-request script itself via the Postman SDK. I've attached a snippet below that does it for raw request body.

[code]

[2018-08-20 12:34] #5043 closed, assigned to nobody

[2018-08-20 12:42] SamvelRaja commented on #4814
This has been patched up in the latest 6.2.5. Requesting everyone to update 😄

[2018-08-20 12:42] #4814 closed, assigned to SamvelRaja

[2018-08-20 12:42] ankit-m commented on #5048
We are working on fix and I will update this thread once it is deployed.

[2018-08-20 12:44] ankit-m commented on #5049
@Ramyasri1212 Can you please include the screenshot of the full page?

[2018-08-20 13:00] ManikandanRajendran commented on #1535
+1

It would be great if we have this feature as only re usability is missing in postman.

[2018-08-20 13:18] harryi3t commented on #5029
@galbarm This has been fixed in the latest version of Postman 6.2.5

[2018-08-20 13:18] #5029 closed, assigned to numaanashraf

[2018-08-20 13:22] abhijitkane commented on #5049
@ankit-m This is happening for enterprise teams with >0 configured custom auths. You can check our internal team's usage page.

[2018-08-20 13:25] harryi3t opened #5050 "History deletes are not synced"
After deleting histories (single or multiple) they are not synced with the Postman servers.
So if I sign-out and sign-in back, those histories are still there.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request to create a history
2. Delete the history
3. Sign-out and sign-in
4. History is still there

**Expected behavior**
I should not see the deleted histories

**App informatio

[2018-08-20 13:27] AtomicSteve commented on #4365
I would also like to see this feature implemented. Our use case as a digital agency is that we have a large number of collections and monitoring calls that mean all our users need a Pro account to be able to share them and keep our documentation in one place.

But we also have a large number of external collaborators that need read-only access to the documentation. The only current way I can see t

[2018-08-20 13:30] harryi3t commented on #5039
@gitterrost4 Thanks for the quick reply. Glad that it worked out for you.
Would you mind sharing some more information regarding this?
 1. What was the type of variable? (environment, collection or global variable)
 2. While upgrading from 6.2.3 to 6.2.4, was this tab with the variable already open?

[2018-08-20 13:45] MillieQP opened #5051 "Postman not able to access URL link with spaces in it"
Postman is not reading this url - http://localhost:8888/Custom%20Post%20Types/

Here is the screen shot below
<img width="787" alt="screen shot 2018-08-20 at 9 41 12 am" src="https://user-images.githubusercontent.com/29005195/44343963-5b91dd80-a45d-11e8-90c2-bb0dfaadd005.png">

My other sites with no spaces are working. I tried restarting the app, put quotes around the website title and left the s

[2018-08-20 14:42] bryangunn commented on #5008
No. I launch Postman, touch nothing, wait 10-15 seconds, app crashes.

Assuming Postman is totally hosed, is there any way to recover any of the API calls I built in Postman?

[2018-08-20 16:03] daniel-white commented on #4663
@kamalaknn any eta?

[2018-08-20 16:19] h-parekh commented on #4209
Is 'Reaction to thumbs up' enough to indicate a +1 on this feature request?

[2018-08-20 16:22] numaanashraf commented on #4209
@h-parekh Yep! 😄

[2018-08-20 17:16] Imranonline commented on #1475
+1

[2018-08-20 17:16] Imranonline commented on #1475
Any updates on this ?

[2018-08-20 18:08] chrisdeso opened #5052 "Highlight language specific code-blocks in documentation"
**Describe the solution you'd like**
Highlighting language-specific code blocks in documentation would be a great addition!

**Additional context**
When using Markdown in the descriptions it's not highlighting any code blocks but it does show highlighting when ```javascript is specified, for example.

[2018-08-20 20:28] mrpwhiteSPS commented on #3390
+1

[2018-08-20 20:32] EricLanduyt commented on #3390
+1

[2018-08-20 20:40] bkatznelson commented on #3390
+1

[2018-08-20 20:48] bjohnso5 opened #5053 "Allow Collection-scoped variables to be modified in test scripts"
**Is your feature request related to a problem? Please describe.**
Not being able to modify collection variables in a dynamic way.

**Describe the solution you'd like**
A `pm.collection.set(...)` function would be very helpful for some collection-specific work that I'd like to be able to accomplish (for example, setting a `next` query string parameter that is specific to the collection the tests a

[2018-08-20 21:05] stephan-simondshealth-com-au commented on #1535
FYI

I just checked and we are following the right process by voting....
https://support.getpostman.com/hc/en-us/articles/115003270949?input_string=voting+on+github+issues

Regardless I checked in with Postman to see if this is still on their radar:
https://support.getpostman.com/hc/en-us/requests/22752

I still hope this feature makes it into the product eventually, its a BIG pain on large projec

[2018-08-20 23:50] MetaiR commented on #493
any update on this?

[2018-08-21 00:57] chrisdeso opened #5054 "Trigger documentation sync manually"
**Is your feature request related to a problem? Please describe.**
Sometimes changes to a collection is inadvertently saved, and the unwanted changes propagate across my published documentation.

**Describe the solution you'd like**
An extra step needed to deploy changes to published documentation would be extremely helpful in preventing any unwanted changes being propagated to my public-facing do

[2018-08-21 02:09] joesdu opened #5055 "Do you have any plans for Chinese?"
Do you have any plans to support the language of other countries, such as Chinese.

[2018-08-21 04:04] sisodiyas opened #5056 "No way to view all published documentation"
**Is your feature request related to a problem? Please describe.**
There's no way to get a list of all the documentation that has been published. If, for any reason I want to unpublish all documentataion - I need to know all the documentation I've published - or go through every collection in all my workspaces.

**Describe the solution you'd like**
A single page/view that lists all the documentati

[2018-08-21 06:39] orgabor commented on #3999
same issue here with 6.2.5  win10 x64

[2018-08-21 06:45] kamalaknn commented on #4663
This has been released on `postman-collection` as `3.2.0`. We'll update the library in the Postman app and release it in the upcoming releases.

[2018-08-21 08:02] sergeychubuk commented on #3845
+1

[2018-08-21 08:26] bhargavkaranam commented on #4950
This has been fixed in the latest version of the app 6.2.5.

[2018-08-21 08:26] #4950 closed, assigned to bhargavkaranam

[2018-08-21 08:30] numaanashraf commented on #5055
@Dygood Yes we do. But we haven't taken this up yet and I don't have an ETA on when we'ld be supporting Chinese.

[2018-08-21 09:37] gitterrost4 commented on #5039
For me it was two variables one global and one environment. Both failed to be replaced.

For both upgrades (the one that broke it and the one that fixed it) I tried it with requests that were already open and with some that weren't. Both gave the same result.

I must add that I am not sure what the initial version before upgrading to 6.2.4 the first time was. But I last upgraded about a month or s

[2018-08-21 10:24] rahul-jain-7893 commented on #2559
Before making request please check the server is accessible or not, by commanding telnet...
Example - In command prompt or terminal type --> telnet **IP Port**

[2018-08-21 11:43] kschulst opened #5057 "Option to add additional params for "Get new access token""
We're using Auth0. The Auth0 token endpoint requires an additional "audience" parameter in order to exchange an access token. Would it be possible for Postman to include optional additional "key=value" inputs that would be included in the token requests?

The only way to use Postman to retrieve access tokens from Auth0 today is if you configure a default audience in Auth0 - but this will not work

[2018-08-21 12:27] ash007-postman opened #5058 "Monitor fetch problem"
When I go to my monitors, there an error saying that there was a problem fetching my monitors. So I cannot do anything.

This is for the user who is part of Expired Trial team.
<img width="1134" alt="screen shot 2018-08-21 at 6 29 06 pm" src="https://user-images.githubusercontent.com/41741228/44402803-5f625480-a570-11e8-8a47-c3eeb4f96869.png">

[2018-08-21 12:42] j1014330 commented on #4043
Did anyone find a solution to this issue?

[2018-08-21 12:45] CharlesIrvineKC commented on #3636
@prashantagarwal, I am having this same problem. I am returning JSON from my mock. What do you mean by "specifically set response header as application/json from your server"?

[2018-08-21 12:46] numaanashraf commented on #4977
![image001](https://user-images.githubusercontent.com/3295568/44402086-51133900-a56e-11e8-9bfa-00a1b3da3423.png)

[2018-08-21 12:51] deepakpathania-zz commented on #3636
@ChuckIrvine For mocks, you need to explicitly set the response header as `application/json`. What I mean by that is, than in your example that you're saving, you'll have to specify the response header in the headers tab of the example response. Here's how it looks in the app.

![screen shot 2018-08-21 at 6 19 04 pm](https://user-images.githubusercontent.com/15071438/44402290-f1695d80-a56e-11e8-8a

[2018-08-21 12:57] CharlesIrvineKC commented on #3636
Very cool, Deepak. I had the setting on top but not the one on the bottom. Things are working correctly now! Thanks for the quick and excellent response.

By the way, the last time I used Postman was a couple of years ago. You guys have improved it immensely!

Thanks again for your help.

Chuck

[2018-08-21 13:03] godfrzero commented on #4861
@ankitjaggi This is resolved now, yes?

[2018-08-21 13:25] mp222 opened #5059 "Transfer variables between endpoints"
Hi,
for a long time I was looking for a solution to my problem. We've been trying a lot of different solutions. I wonder if you can help me.
There is such a thing.
I have two endpoints in which I want to use the same randomly generated reference numbers (as parameters).
E.g.
1st endpoint
Parameters:

<img width="767" alt="sc 2018-08-21 15 11 37" src="https://user-images.githubusercontent.com/38833

[2018-08-21 14:02] velger25 commented on #2978
We are just beginning to use Postman Pro and integrate it into our testing and CI/CD system and the ability of integrating with Git Lab was a big pull for us to use Postman. Adding this feature would open us to adding many more licenses as the implementation grows.

[2018-08-21 14:49] MikeNicholsPoints commented on #4105
This is not working in 6.2.5 . If I create a collection variable firstName and try to use it in a body as {{firstName}} postman will hang for a moment and then throw the error

[code]

[2018-08-21 16:02] JoshuaVSherman commented on #2082
facing same issue on Ubuntu 18.04.1 LTS, amazed that this issue is over two years old

[2018-08-21 18:41] chrisdeso commented on #5046
A "load test" action would be great!

[2018-08-21 18:54] mzniko commented on #2847
+1

[2018-08-21 19:45] rosostolato opened #5060 "Better two pane view"
**Is your feature request related to a problem? Please describe.**

Yes. I'm always frustrated when I change to two pane view because it makes harder to read the url container.

**Describe the solution you'd like**

Make Url container fill window width.

**Additional context**

Take a look at this image that I edited on Photshop to illustrate the solution:

![two pane](https://user-images.githubus

[2018-08-21 20:19] prashantagarwal commented on #4313
@yishayn Thank you for such detailed explanation. It really helped us in triaging this. I will see to it that we get this fixed soon.

[2018-08-21 20:22] prashantagarwal commented on #5060
Duplicate of #2716

[2018-08-21 20:22] #5060 closed, assigned to nobody

[2018-08-21 21:52] samcfinan opened #5061 "Postman 6.2.5 (Windows) does not show team workspaces, Web does"
**Describe the bug**
I am unable to change to a team workspace that I have already joined. The Team pane asks me to create a team workspace.

![teamworkspaces](https://user-images.githubusercontent.com/26390295/44430999-7bfb8e00-a56a-11e8-8084-450b85838848.PNG)

I have confirmed that I've joined the workspace by visiting the web interface.

**To Reproduce**
1. Click on the workspaces dropdown
2. C

[2018-08-21 22:11] ankitjaggi commented on #4861
@godfrzero Yes

[2018-08-21 22:14] samcfinan commented on #5061
I found out my company didn't pay the invoice. I'm assuming this is why.

Messages need to be more clear, in any case.

[2018-08-22 00:53] claireriley opened #5062 "AWS-CodeCommit Integration"
Create [AWS-CodeCommit](https://aws.amazon.com/codecommit/) integration so that it can be supported similar to our existing Github integration.

[2018-08-22 03:50] ykhodos commented on #4898
A simple thing that is currently not possible in the environment editor is to view a long values. It is sort of possible, but not convenient since the values are wrapped around. It is not possible to copy/paste multiple rows from one env editor to another. To put is simple Bulk Edit feature is very convenient and I vote for putting it back. Please...

[2018-08-22 05:21] jeson114 commented on #971
This was raised in 2015 . Is there no plan to introduce this feature ? This seems like a very essential requirement .

[2018-08-22 06:28] sivcan commented on #5059
@mp222
I couldn't exactly get what your use-case is and I might be wrong with the following answer.
But just in case it helps you out I'll explain some ways you can work around with dynamically generated variables.

Also, if it didn't quite help you then could you share a collection explaning your use case?

Here are two methods you can use to work around with dynamically generated query params.
<

[2018-08-22 08:01] tiagohillebrandt commented on #2931
In case anyone on this thread is interested, I've created a PPA for Postman on Launchpad: https://launchpad.net/~tiagohillebrandt/+archive/ubuntu/postman

Usage:

[code]

[2018-08-22 08:08] Eli-Goldberg commented on #2931
@tiagohillebrandt
Finally !!
Will this be updated frequently?
IMHO this issue can be closed

[2018-08-22 08:20] RidgeA commented on #2931
It is not a vendor's repository, so no one could guarantee continuous support of it and up-to-date versions. I'd like to see an official repository (rpm would be nice too).

[2018-08-22 08:21] senj-z commented on #5039
I updated the version from 6.2.4 to 6.2.5 and now everything works for me.

[2018-08-22 08:23] tiagohillebrandt commented on #2931
@Eli-Goldberg Yes, for now I've been updating it on monthly basis. When time permits I will setup an automation to update the PPA automatically when new Postman versions are released.

[2018-08-22 08:32] mp222 commented on #5059
Thank you so much! :) First method works, later I will check the second one :)

[2018-08-22 08:34] tiagohillebrandt commented on #2931
@RidgeA I've created this PPA to help the community. Of course an official PPA is always welcome, but while we don't have one it can be helpful.

@numaanashraf In case you are interested, please feel free to use this source to create an official PPA: https://github.com/tiagohillebrandt/postman-ubuntu-ppa

[2018-08-22 08:37] sivcan commented on #5059
@mp222 Awesome!
I'll be closing this issue.

Feel free to reach out to the [Postman Community ](https://community.getpostman.com/latest) for help and how-to's.

[2018-08-22 08:37] #5059 closed, assigned to sivcan

[2018-08-22 08:37] RidgeA commented on #2931
@tiagohillebrandt
No offense. My point just that the issue couldn't be closed.

[2018-08-22 08:43] tiagohillebrandt commented on #2931
@RidgeA None taken. Actually the issue was closed a while ago lol

Not sure if they still having plans to release that official PPA.

[2018-08-22 08:59] RidgeA commented on #2931
@tiagohillebrandt

Yeah, I know. It is pity ...
I'm talking more about the real issue rather than issue on github :-)

[2018-08-22 09:04] tanmoy-git commented on #1607
Any ETA on when it will be integrated? Its a needed feature.

[2018-08-22 09:46] yishayn commented on #4313
@prashantagarwal ,
 Thank you for the feedback !

[2018-08-22 11:15] sourcesmith commented on #5039
Upgraded from 6.1.2 to 6.2.5 which is broken. Then downgraded to 6.2.3 which is also broken.  Downgraded back to 6.1.2 which now does not start.

I have found a workaround: exporting a collection and re-importing it seems to resolve the problem.  [Turns out this was not a permanent fix]

Downgrading to 6.1.4, removing the postman config dir and re-importing the collections and environments works.

[2018-08-22 11:58] mvducatti commented on #1060
Thank you very much!

[2018-08-22 12:27] kunagpal commented on #4813
@loopDelicious This has now been fixed.

[2018-08-22 13:37] ika-microsoft commented on #4375
Also having the same issue.

[2018-08-22 13:54] harryi3t commented on #5027
@kalemdzievski Thanks for the inputs.
Could you also share any errors on the DevTools
You can open from `View -> Developer -> Show DevTools (current view)`

Also, have you unzipped the app in `/opt/postman/....`? We have seen people having permission issues in this directory.
If yes, can you try downloading a fresh app and then unzipping to your home directory or desktop and then test it again?

[2018-08-22 14:36] matpag commented on #4814
It's working now on Windows, thank you 👍

[2018-08-22 16:02] stixaw commented on #4172
+1

[2018-08-22 16:02] stixaw commented on #4450
+1

[2018-08-22 16:39] bmdako opened #5063 "Hawk auth preview header is missing 'app' field"
Hi,

When using Hawk Authentication, the app param does not get inserted into the header.
This results in my Oz server responds with an "Mismatching application id".

To reproduce:

1. Open a new Tab in Postman
2. Insert a random request URL eg. http://localhost
3. Under Authorization, chose type "Hawk Authentication"
4. Insert a Hawk Auth ID e.g. "my_ticket_id"
5. Insert a Hawk Auth Key e.g. "my_

[2018-08-22 16:55] prashantagarwal commented on #4758
Affects #4313

[2018-08-22 17:42] pwcremin commented on #4707
+1

[2018-08-22 19:10] scottpantall opened #5064 "Feature Request: Make HTTP Method painfully obvious"
**Is your feature request related to a problem? Please describe.**
Many times when I'm using Postman, I mean to use POST when I'm actually using GET and it makes me sad about myself when I repeatedly send a request using the wrong HTTP method because I didn't change the HTTP Method dropdown.

**Describe the solution you'd like**
I'd like the HTTP Method dropdown to be different colors based on whi

[2018-08-22 19:10] arosszay commented on #4898
I'm adding to the existing pool of users who want the Bulk Edit feature to come back. Someone thought that getting rid of this would HELP us? Please discipline that person as they clearly didn't consult their customers before making that decision (facepalm). Bulk Edit was THE ONLY way I interacted with Environment Variables in Postman.

Really, the best part about the Bulk Edit function was simply

[2018-08-22 20:20] tijaune opened #5065 "Add selectable checkbox to Postman values column in key/value section"
Currently, PostmanApp have checkbox for each **key** column (see attached PostmanApp.png). It would be nice to also have checkbox for **value** column to enable/disable a value. This is for PostmanWeb consistency.

![postmanapp](https://user-images.githubusercontent.com/17985627/44488535-fc7fc480-a626-11e8-85fb-e003dbd865df.png)

In my example, I'll like to show guids on PostmanWeb as 1 of the pos

[2018-08-22 20:33] Vodek2 commented on #5039
Can confirm same problem in Ubuntu 18.04-x64 with both version of Postman (6.2.4 and 6.2.5) Downgrading to 6.1.4 resolved problem.
Please fix.

[2018-08-22 21:11] chrisdeso opened #5066 "Monitoring graph – Add better navigation"
**Is your feature request related to a problem? Please describe.**
It's fairly tedious to inspect older requests within the monitoring page graph, especially if the intervals at which the monitor runs is small.

**Describe the solution you'd like**
Add the ability to traverse the graph by hour/day/month/year.

**Describe alternatives you've considered**
An API for retrieving specific monitoring ru

[2018-08-22 21:14] davidmichaelkarr opened #5067 "Variable autocomplete dropdown doesn't show up when cursor is not at the end of the value field"
A large enterprise using Postman extensively will end up with many variables. The more variables you have, the longer the variable names are, and the harder it is to remember the exact names.

I suggest you make the URL fields, or wherever variables are referenced, into an "intelligent" field, such that the area within "{{ }}" strings, or perhaps just the opening "{{", should be treated specially,

[2018-08-22 21:26] DannyDainton commented on #4353
@sivcan I think you have not understood the issue that was originally reported, no one is saying it's not supported. When you add a .csv file to the runner it picks up the data type and auto sets it correctly, if a json file is added, it always reverts to 'undetermined' and you need to manually select 'json' from the drop down list.

Your video is showing this working on a Mac but the issue was re

[2018-08-22 21:46] mr-fixit commented on #1663
I had the this error, in my case the error message from the server included

    <StringToSign>PUT
        application/octet-stream 1535007327
        /secureurl/foo/bar/baz/workaround.mp4
    </StringToSign>

I saw that the value of the Content-Type header was used when calculating the signature, so I tried various values for 'Content-Type' until I stumbled on "".  Yes, a empty string.

curl does

[2018-08-22 21:59] mr-fixit commented on #3232
I had the this error, in my case I was using a pre-signed upload URL, and the error message from the server included

    <StringToSign>PUT
        application/octet-stream 1535007327
        /secureurl/foo/bar/baz/workaround.mp4
    </StringToSign>

I would have loved for the server to tell me what it was expecting, as it did for the OP.  But once I saw that the value of the Content-Type header w

[2018-08-22 23:11] ghost opened #5068 "Feature Request: Multiple Workspaces & Documentation for local users (not logged in)"
[This article](https://support.getpostman.com/hc/en-us/articles/203492852-How-do-I-disable-Sync-?flash_digest=57ab469561ba952bf2ef8124bda01016a93a2dc5
) states that "With the release of 6.x, we no longer offer the option of disabling sync while logged in as it is effectively the equivalent of using the app without an account."

But that is not quite true because when not logged in certain features

[2018-08-22 23:13] ghost commented on #5068
As per https://support.getpostman.com/hc/en-us/requests/22677?page=1

[2018-08-22 23:58] chrisdeso opened #5069 "Collection Runner: Using "Retry" doesn't re-attach data files"
**Is your feature request related to a problem? Please describe.**
Sometimes I'll need to repeat a collection run because of internet connectivity issues, attaching the wrong environment, etc. When using the `Retry` action to rerun the collection, the collection runs without the previously-attached data file.

**Describe the solution you'd like**
Ideally, the file should be reattached to the new r

[2018-08-23 00:03] blairg23 opened #5070 "Environment Variables don't seem to be filling out request template (worked before Postman 6.2.4 release)"
**Describe the bug**
After enabling teams and team workspaces, I can no longer use my personal workspace's environments even though the "code" (curl command) version of the request shows the correct request, it tries to send to my localhost instead. I removed the team workspace and tried to delete the team, but can't seem to delete the team. My environments are there, just not working!

**To Repro

[2018-08-23 00:36] MikeHardman commented on #3227
I would very much like to see the current duration of a request while it is running (searching for that lead me here), in my opinion, anything timestamped should be in system time, although showing the difference from request start time as well would be ideal.

[2018-08-23 02:08] xiaweixing commented on #4609
@harryi3t the problem I raised is not about file path, it's about **src**, in requestA, it has "src", but in requestB, it doesn't have "src", why??

[2018-08-23 02:09] godfrzero commented on #4858
This was happening due to an outage of the monitoring API, which meant that the monitor names were unavailable at this time. Instead of blocking the entire page, we show the information that's available.

[2018-08-23 05:08] santhoshTpixler opened #5071 "Update not working in native app(Linux)"
**Describe the bug**
Whenever new version of postman in released, the update fails in the app. Which forces me to manually download the updates and install them. I have to do this every week due to the shorter release cycles.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Update failed, view detatils'
3. Click on 'Retry Update'
4. Click on 'Update'
5. Update fa

[2018-08-23 06:10] bschoone commented on #2724
+1

[2018-08-23 06:26] harryi3t commented on #5039
@Vodek2 Is there a way to reproduce this issue? I wasn't able to do so.
If you still have the 6.2.4/6.2.5 app in your system and are still able to reproduce this, could you kindly share the error logs (if any) from the `View -> Developer -> Show DevTools (Current View)`?

[2018-08-23 07:06] m3dbedb commented on #2833
Same happens on win 7 sp1 32 bit. <del>On version  6.2.3 I didn't notice the bug</del>, but found it on 6.2.4 with single monitor configuration. Window manipulation have no effect. In my case halps closing and opening the app again, all data is stored.
The bug found in 6.2.5. Screen goes black as far as I select another tab and press "Send". Fastest way to reproduse: launch Developer tools (curren

[2018-08-23 07:19] sivcan commented on #5069
Hey @chrisdeso, this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4824

[2018-08-23 07:19] #5069 closed, assigned to sivcan

[2018-08-23 07:19] NehaMohanty opened #5072 "Exporting Response Body details into a json/csv format in Postman Collection Runner"
**Problem Statement:**
I need to export the response data from the Postman Collection Runner after executing multiple set of requests.

**Solution/Feature Required:**
It would be nice if you could provide a feature to export the response body of the results visible in Postman Collection Runner into a json/csv format.

**Alternative Considered**
Copying the response body which is pretty tedious tas

[2018-08-23 07:50] SamvelRaja commented on #5071
@santhoshTpixler
1. Could you share the logs from View->Developer->Show Devtools(CurrentView)
2. Are you behind any proxy environment?

[2018-08-23 08:38] albertkurnia commented on #2936
is this already developed?

[2018-08-23 08:58] sankalp0o commented on #4244
@galbarm @steffenschebesta @linaspasv What kind of auth info are you looking to include in your documentation exactly?

[2018-08-23 09:02] anudeepmedicharla opened #5073 "Request name doesn't get ellipsified when it reaches more than 6 lines"
Extreme situation but if you have a very long request name, it gets cut and we don't show ellipses in the web view. Attached screenshot.
![screen shot 2018-08-23 at 2 31 06 pm](https://user-images.githubusercontent.com/16399370/44515891-4b8a3000-a6e1-11e8-976b-a6588886718d.png)

P.S: The name of the request is very very long. The app displays the full name though.

[2018-08-23 09:06] anudeepmedicharla opened #5074 "Less number of requests when I duplicate this collection"
Was just randomly testing guys. When I duplicate this particular collection (365 requests), the resulting collection will have only 350 requests. Don't know why. Uploaded the collection here.

[test.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/2313706/test.postman_collection.json.zip)

[2018-08-23 09:38] omkar-dsd opened #5075 ""Try Out" functionality needed for Examples in request"
I prefer to store variations of same request in Examples (even if you say it's not the preffered way, there are folders for that). It would be of great convenience to have a **Send** or **Try Out** functionality for **examples**, while maintaining the original response.

[2018-08-23 09:59] aron123 opened #5076 "Faulty cookie headers generated"
**Describe the bug**
If I have saved cookies for a domain, and I send cookies too in 'Cookie' headers, Postman generates a faulty request. For example with one saved cookie, and two cookie specified in header, Postman generates a request with two cookie headers: One header contains the two cookies that I specified in header, **separated with simple comma**, and then it contains the saved cookie, s

[2018-08-23 10:02] santhoshTpixler commented on #5071
I have installed the postman in /opt. I think this could have been a problem as it required sudo premission to update the files. After starting postman in command line with sudo fixed the issue. But postman in not opening. It is loading for hours.
![image](https://user-images.githubusercontent.com/10362257/44518770-c145ca00-a6e8-11e8-9b09-151412bad942.png)

Finally deleted the .conf/Postman and In

[2018-08-23 10:10] SamvelRaja commented on #5071
@santhoshTpixler  I am closing this as this is not related to auto-updater.
You can subscribe to #4359  for the issue you faced.

[2018-08-23 10:10] #5071 closed, assigned to SamvelRaja

[2018-08-23 12:11] oleg-barash commented on #5051
Hi guys!
Same problem with other denied ASCII symbols.
For example i called https://www.google.ru/search?q=26ю2199 from Postman, but my Fiddler says https://www.google.ru/search?q=26N2199
'ю' should be encoded to  %D1%8E, but i got just 'N'
btw, link 'code' works fine:
[code]

[2018-08-23 12:47] ohadmuch opened #5077 "Cookies are not exposed in the code generator snippet"
Hello,
When configuring cookies for the requests and clicking on "code" to generate the code snippet the cookies are not included in the code

Steps to reproduce the behavior:
1. Define cookies
2. Click on 'code'
3. You cannot see the cookies on the generate code

**Expected behavior**
The cookies should be included in the generate code,
For example in curl by --cookie "COOKIE_NAME=VALUE"

[2018-08-23 12:49] numaanashraf commented on #2936
@albertkurnia Yep. You can save responses as 'Examples' and they show up in the generated documentation.

Docs: https://www.getpostman.com/docs/v6/postman/sending_api_requests/responses

[2018-08-23 12:54] DaliborTakac opened #5078 "UI text selection issue, focus changing while clicking and dragging in order to select text"
When trying to select text in text box (for instance http request headers or environment quick look popup)
 and when dragging out of the bounding box of the input ui element selection changes to some weird rectangle and sopy / paste operations do not work on the text as is expected. This makes it pretty difficult to work with long inputs (jwt tokens etc)

Expected behaviour:
input focus remain in

[2018-08-23 13:05] mailtoshrb commented on #4974
Immediately following the autoamtic update to v6.2.5 widows postman app has stopped working and will not launch correctly.
Instead of getting to the main UI it gets stuck at the launch screen with the three circles and does not progress.
![2018-08-23 14_00_26-window](https://user-images.githubusercontent.com/23381847/44526768-ed5b4e00-a6dc-11e8-8928-34491e16cbd8.png)

When view the DevTools > curr

[2018-08-23 13:07] ghost commented on #2801
+1

[2018-08-23 13:10] mailtoshrb opened #5079 "After 6.2.5 update postman wont launch - error fetching user information stops any use of program"
Immediately following the autoamtic update to v6.2.5 widows postman app has stopped working and will not launch correctly.
Instead of getting to the main UI it gets stuck at the launch screen with the three circles and does not progress.
![2018-08-23 14_00_26-window](https://user-images.githubusercontent.com/23381847/44526768-ed5b4e00-a6dc-11e8-8928-34491e16cbd8.png)

When view the DevTools > curr

[2018-08-23 13:13] numaanashraf commented on #5079
Duplicate of #4897

[2018-08-23 13:13] #5079 closed, assigned to nobody

[2018-08-23 13:54] numaanashraf opened #5080 "Click position is wrong on macOS"
**Describe the bug**
Click position is off on macOS High Sierra. Originally reported by https://twitter.com/Octane/status/1032624743210524673

**App information (please complete the following information):**
 - App Type: Native
 - Postman Version: 6.2.5
 - OS: macOS High Sierra 10.13.6 (17G65)

[2018-08-23 14:16] crustater opened #5081 "pm.test() doesn't work in pre-request script"
**Describe the bug**
pm.test() doesn't work in pre-request script

[2018-08-23 14:22] mailtoshrb commented on #4897
Hi @kamalaknn,

When I Run your Script and I still see the same issue

See Issue:
https://github.com/postmanlabs/postman-app-support/issues/5079

[2018-08-23 14:38] olegokunevych commented on #2801
+1

[2018-08-23 14:43] codewithtyler opened #5082 "Sync always copies current value to initial value"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
The Current Value is getting copied to Initial Value during sync which is causing sensitive data (i.e. user credentials) to be copied to your server.
I created a new environment variable containing a password for logging into ou

[2018-08-23 14:45] #4858 closed, assigned to ankitjaggi

[2018-08-23 15:10] edwardsb commented on #5070
I had the same problem, same OS, and started happening when I upgraded to 6.2.5. I downgraded, and then upgraded again and it appears to be working now. Not sure what the root issue is/was.

[2018-08-23 15:20] Guilherme-Sensedia opened #5083 "Command unescape javascript dont'n working in Tests"
In Tests Window, command unescape javascript not working.
![captura de tela de 2018-08-23 12-30-32](https://user-images.githubusercontent.com/40179240/44535448-656f4700-a6d0-11e8-89d6-3168a511c0ec.png)

**App information (please complete the following information):**
 - Chrome App
 - Postman Version [6.2.5]
 - OS: [e.g. Ubuntu 18.04.1 LTS]

[2018-08-23 15:34] bezuiden commented on #4687
This happens with me too ... got 8 collections with about 120 requests total and the memory is at 1.8GB and I just started it (haven't done any requests at all)
Windows 7 x64
Postman 6.2.5

[2018-08-23 16:48] bezuiden commented on #4687
I just went into the developer tools and selected to clear the storage.  (I did make a backup / dump) ... restarted postman and now it is at 220MB.  I reloaded by dump file and it is still round 230MB and I preformed a few requests.

It seems that it is loading either history / session data / workspace data etc. etc. in memory (also as a side note, when doing memory analyses / heap dump the usage

[2018-08-23 16:56] TheDavidJohnson commented on #5001
@SamvelRaja Apologies for any confusion: the backups of the ~./config/Postman folder were created after the issue arose, about the time I opened this ticket. I'll try restoring one, but since it is substantially identical to what's in the "live" folder, I don't expect any difference.

Is there somewhere in the file system that I should be looking?

Thanks

[2018-08-23 16:58] SteelPhase commented on #3290
it's probably time for an update here. this is still an issue in v6.2.5

[2018-08-23 17:00] deiberchacon commented on #4897
Hi,

I have the same issue since 6.1.x versions. For me, it looks like this:

![postmanissue](https://user-images.githubusercontent.com/27818529/44540030-ede6eb00-a6c2-11e8-8115-e217ae29522a.gif)

**App information:**

- Native App
- Postman Version: 6.2.5
- OS: Windows 8.1 x64

[2018-08-23 17:08] staypuppy commented on #4375
Same issue - Win 10 Enterprise x64 Version 1709

[2018-08-23 17:09] numaanashraf commented on #4897
@deiberdev Could you try the workaround detailed [here](https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates#troubleshooting-postman-updates)?

[2018-08-23 17:17] kkukshtel commented on #3104
Is this still open? I'm having the same issue on Windows and OS X - getting a proper Set-Cookie header returned but nothing sticking in Postman or appearing in the Cookie tab.

[2018-08-23 17:22] danielsan commented on #4079
+1

[2018-08-23 17:23] deiberchacon commented on #4897
@numaanashraf that removes the black squares on window resizing, but Postman doesn't start.

DevTools console shows this error:

![console_error_postman](https://user-images.githubusercontent.com/27818529/44541325-d4e03900-a6c6-11e8-985f-cec9987aec49.png)

[2018-08-23 17:51] harryi3t commented on #5082
@tylerbhughes Could you make sure you turn off the `Automatically persist variable values` setting from the settings modal and try again?
<img width="721" alt="postman 2018-08-23 23-09-19" src="https://user-images.githubusercontent.com/5207331/44542221-cd05b080-a729-11e8-8270-4e519d7e6108.png">

Note: For existing users upgrading to newer version of Postman app, this setting is turned on by defaul

[2018-08-23 18:02] deiberchacon commented on #4897
@numaanashraf  I deleted all the Postman local cache and installed the latest version (6.2.5), and the app starts and works well. The issue is only when updating from an old version (like 6.0.10).

This solution is described [here](https://support.getpostman.com/hc/en-us/articles/115005901149-My-Postman-app-won-t-start).

[2018-08-23 18:26] steffenschebesta commented on #4244
@sankalp0o Basic and Bearer

[2018-08-23 18:46] abhijitkane opened #5084 "The response search bar shows up over the find overlay"
**Describe the bug**
The response search bar shows up over the find overlay

**To Reproduce**
Steps to reproduce the behavior:
1. Get a response
2. Cmd/Ctrl+F in the response section to open the editor's find box
3. Open the Find overlay
4. The search bar stays floating on top

**Expected behavior**
The search bar should stay where it's supposed to.

**Screenshots**
<img width="976" alt="screen sh

[2018-08-23 18:49] codewithtyler commented on #5082
@harryi3t that was it. Once I turned that setting off it quit copying to the Initial Value. I'll have to make sure the rest of my team is aware of that setting. Thanks for the help!

[2018-08-23 18:49] #5082 closed, assigned to harryi3t

[2018-08-23 18:53] TheDavidJohnson commented on #5001
In case this is useful for troubleshooting, I attempted an upgrade to the latest version of Postman for Linux (6.2.5 from the [downloads page](https://www.getpostman.com/apps) ) today. After the upgrade, the app failed to launch properly, and here's what I saw in the logs:

[code]
I still have backups of the version I had been running (version 6.0.10) as well as the data folders [mentioned previou

[2018-08-23 20:31] amandabot opened #5085 "Save shared collections using v2.x schema"
Shared collections (e.g. `http://getpostman.com/collections/<collection-id>`) are saved using the v1 schema. The latest versions of Postman recommend exporting to v2 and Newman 4.x has deprecated support for v1. There is currently no way to set the version of shared collections.

We can use the Postman API to retrieve collections for Newman, but those are synced instantly. With shared collections,

[2018-08-23 23:06] claireriley opened #5086 "Increase SSO admin controls"
Request to allow enterprise team admins the option to change email IDs associated with accounts currently on the team.

In the event that a user changes their email ID in their SSO setup, their Postman account on the team is still linked to their old ID, so they cannot log in.

Current solution is to contact support team every single time this is needed - relatively rare event, but does happen and

[2018-08-23 23:49] blairg23 commented on #5070
I deleted the old executable, downloaded the new version (6.2.5) and installed it... same issue.

[2018-08-23 23:57] blairg23 commented on #5070
Okay found a fix. Apparently I had only removed the /opt/Postman/Postman executable previous to upgrading to 6.2.5. The fix is to remove the entire /opt/Postman/ directory (and the symlink created if you  used the tutorial at [https://blog.bluematador.com/posts/postman-how-to-install-on-ubuntu-1604/](https://blog.bluematador.com/posts/postman-how-to-install-on-ubuntu-1604/) to install the latest v

[2018-08-24 06:17] deepakpathania-zz commented on #4813
@kunagpal The schema needs to be updated in the backend service as well for this issue to be resolved for the end user, sending a PR with the updated schema to the concerned service and reopening it for now.

[2018-08-24 06:27] centur opened #5087 "Team sharing collection limits are not re-calculated correctly when data is deleted."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When entire collection deleted from team shared workspace - shared requests limit is not re-calculated.
On free account there is a limit of 25 shared requests. It's quite easy to reach by exporting any existing collection from p

[2018-08-24 06:37] senj-z commented on #5039
run
`sudo rm -rf /opt/Postman`
and install
https://blog.bluematador.com/posts/postman-how-to-install-on-ubuntu-1604/

[2018-08-24 08:22] Fonger opened #5088 "Custom certificates are not trusted even if the root certificate has been installed on Windows"
**Describe the bug**
Custom root certificates installed on the OS root are not trusted by Postman native app

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom CA and sign a certificate for the api server. And installed it to the OS root certificate.
2. Use Chrome/IE/Firefox to check the certificate is trusted and valid
3. Use postman, request `GET` and the following message app

[2018-08-24 08:52] numaanashraf commented on #5088
Duplicate of #3290

[2018-08-24 08:52] #5088 closed, assigned to nobody

[2018-08-24 09:00] vkaegis commented on #5064
@scottpantall Thanks for writing in! We're planning to use the same request method representation as the sidebar in the tab header as well as the method dropdown, so you'll at least have a color differentiator. We'll be pushing this out in the coming releases.

[2018-08-24 09:07] Fonger commented on #3290
If you can't resolve this issue, you shouldn't deprecate Chrome app.

I guess this issue can't be easily fixed because Electron apps are bundled with node.js which uses built-in certificates.

[2018-08-24 09:08] vkaegis commented on #5067
@davidmichaelkarr Thanks for writing in! Could you tell me which version of Postman you're currently using? We already have a variable autocomplete dropdown which should show up when you start typing "{{". If this isn't working for you, could you show us a small video or GIF to help us understand how the experience is for you?

[2018-08-24 09:13] vkaegis commented on #3674
@wkuckro It's been a while but we've been working on some major changes to the infrastructure of how tabs are represented. Expect to see some visual improvements around this in the coming versions!

[2018-08-24 09:16] vkaegis commented on #5045
@raineroviir Thanks for writing in! As a first step, we'll start with representing blank spaces in a more visually distinct manner to simplify debugging this.
![screenshot 2018-08-24 14 45 18](https://user-images.githubusercontent.com/6038010/44576594-8e650a00-a7ac-11e8-8494-a4bb47392c2f.png)

Expect to see this in the coming versions!

[2018-08-24 10:03] sourcesmith commented on #5039
@harryi3t Nothing much going on in the logs.  Last line of the shared log looks like it might be of interest:

`vendor-shared.js:76728 Initializing the global config
vendor-shared.js:83475 Initializing settings
shared.js:13538 Skipping migrations. No migrations to apply.
vendor-shared.js:76788 Booting waterline models
vendor-shared.js:144334 db name postman-app
vendor-shared.js:144362 Objectinitia

[2018-08-24 10:17] schmitzdenis commented on #2819
+1

[2018-08-24 11:02] harryi3t commented on #5070
@blairg23 @edwardsb
We are not able to reproduce this on our end. I would really appreciate if you guys can help us debug this. I will be more than happy to jump on a Google meet call or a TeamViewer session to remote debug this issue.
If this is not feasible for some reasons, you can also debug the app using the following steps and share the information with us.
 - Open the Postman app where this

[2018-08-24 11:08] harryi3t commented on #5039
@sourcesmith @senj-gold @Vodek2 @gitterrost4
We are not able to reproduce this on our end. I would really appreciate if you guys can help us debug this. I will be more than happy to jump on a Google meet call or a TeamViewer session to remote debug this issue.
If this is not feasible for some reasons, you can also debug the app using the following steps and share the information with us.
 - Open t

[2018-08-24 11:29] mailtoshrb commented on #4897
@deiberdev Thanks, Its Worked

[2018-08-24 11:36] sourcesmith commented on #5039
@harryi3t

[env-json.txt](https://github.com/postmanlabs/postman-app-support/files/2318158/env-json.txt)

[2018-08-24 13:24] albertkurnia commented on #2936
oh my bad. thank you @numaanashraf

[2018-08-24 13:50] harryi3t commented on #5039
@sourcesmith Thanks for the data that you shared.
I can see that while sending the request all the necessary information required was there. Was this data taken on the app which __still has this issue__ (the request sent did not have resolved variables)?

[2018-08-24 14:11] sourcesmith commented on #5039
@harryi3t Yes, no variables are resolved.

[2018-08-24 14:27] mhoniatLectra commented on #6682
+1

[2018-08-24 16:21] bkmeneguello opened #5089 "Add -L (--location) to generated cURL code"
When the flag "Automatically follow redirects" is checked, the generated cURL shoud add the corresponding `--location` or `-L` flag

[2018-08-24 16:26] bkmeneguello opened #5090 "Write basic auth using --basic --user "<username>:<password>" to generated cURL code"
The safety is the same as base64 encoded and is much more manageable than an obfuscated header.
This could also be an option.

[2018-08-24 18:51] csm-noahjahn commented on #4940
Hello,
Do you have an update on this issue? Is there any more information you need from me?
Thanks!

[2018-08-24 19:39] TimJin commented on #3290
+1 on mac

[2018-08-24 19:45] stixaw commented on #3438
+1

[2018-08-24 19:48] TimJin commented on #3290
One way to workaround:
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General

[2018-08-24 20:05] chrisdeso opened #5091 "Integration Request: Zephyr"
**Describe the solution you'd like**
Add an integration for [Zephyr Teams and Enterprise](https://www.getzephyr.com/).

**Additional context**

[2018-08-24 20:16] hi2uday commented on #2833
Close the postman and remove requester.json file under - C:\Users\your_user_id\AppData\Roaming\Postman should resolve the problem in windows 10.

[2018-08-24 20:37] SteelPhase commented on #3290
Seems Electron is the blocker. Node has support for added additional ca certs with the NODE_EXTRA_CA_CERTS environment variable. Also while disabling SSL certificate verification is an option, it's definitely not the correct way to solve certificate issues

[2018-08-24 22:38] chrisdeso opened #5092 "Remove authorization headers when exporting collections"
**Is your feature request related to a problem? Please describe.**
Upon exporting a collection that has base64-encoded credentials passed as a header, those credentials are also exported.

**Describe the solution you'd like**
The ability to omit these sensitive headers/credentials in the exported file without needing to remove the headers from the saved request.

**Describe alternatives you've con

[2018-08-25 00:26] davidmichaelkarr commented on #5067
Uh, how do I tell what version I have?  There is no standard "About" in the Help menu.

[2018-08-25 02:11] omaric commented on #4327
At the very least, a message in the GENERATE CODE SNIPPETS window that says "cookies are not generated" would've saved me several minutes of wondering if the cookies weren't being sent because I had the wrong domain/path.

[2018-08-25 05:01] vkaegis commented on #5067
@davidmichaelkarr If you go to the "Wrench" icon in the top right of the app, you will see a Settings option. This will open up a modal which has an About section.

<img width="236" alt="screenshot 2018-08-25 10 30 20" src="https://user-images.githubusercontent.com/6038010/44615206-00435f00-a852-11e8-9000-ae03efbf60a3.png">

[2018-08-25 05:53] ankit-m commented on #5073
This is the documentation and users need complete information about the requests they are documenting. Adding ellipsis takes away information and the user has to hover (or perform an additional action) to view the details.

In any case, this does not look like a bug but a feature request.

[2018-08-25 05:54] ankit-m commented on #5049
@abhijitkane This is being worked upon. I will update this thread once it is deployed.

[2018-08-25 05:58] ankit-m commented on #4961
A fix for this has been deployed and it should not auto switch to annual anymore.

[2018-08-25 05:58] #4961 closed, assigned to ankit-m, preethammavin

[2018-08-25 15:43] scottpantall commented on #5064
Awesome! Thanks a ton @vkaegis and @kamalaknn!

[2018-08-25 16:12] kamalaknn commented on #5064
Hi @scottpantall

Here's a sneak peek of request icons in tab headers. We'll be rolling it out to stable channel in upcoming releases.

<img width="662" alt="screen shot 2018-08-25 at 9 39 13 pm" src="https://user-images.githubusercontent.com/8401064/44620304-99ed2980-a8af-11e8-9319-57a128dfc30d.png">

Hope this solves your requirement. Would appreciate feedback on this.

[2018-08-25 16:36] echo66 opened #5093 "Cannot find module 'circular-json'"
**Describe the bug**
I'm using Fedora 28. I'm unable to start Postman. When I try to run it in my terminal, this is the output:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download the postman at https://app.getpostman.com/app/download/linux64
2. Unzip the downloaded file.
3. Open the terminal in postman root directory.
4. Run `./Postman`
5. See error

**Expected behavior**
I was

[2018-08-25 18:04] raineroviir commented on #5045
@vkaegis Excellent! Thank you

[2018-08-25 19:53] #4964 closed, assigned to godfrzero, preethammavin

[2018-08-26 03:23] wpqs commented on #4646
I'm having the same problem. Creating Collections and saving requests into them doesn't really work. The UI is unresponsive and difficult to use. It's a shame as the rest of the product is good.

[2018-08-26 16:49] blairg23 commented on #5070
@harryi3t After updating to 6.2.5, the problem no longer persists. The key is to delete the previous instance found at /opt/Postman/ (just remove the entire folder), then reinstall.

[2018-08-26 16:53] blairg23 commented on #5070
@harryi3t I'm not sure how to downgrade to an older version, but 6.2.4 seems to have been the culprit. OR not removing the entire Postman directory when I went to reinstall. Originally, it occurred when I tried to create a team workspace, so it may have to do with workspaces and teams since they have limited usage rates.

[2018-08-26 22:27] DrJacobHolden commented on #5078
This is incredibly frustrating. I've always spent at least 5 minutes of every working day cursing Postman for it's terrible UX but this has increased that to 15 minutes and added a new step: Googling Postman related vitriol to find others who share my pain.

[2018-08-26 22:38] davidmichaelkarr commented on #5067
Postman for Windows
Version 6.2.5
win32 6.1.7601 / x64

[2018-08-26 22:38] arikw commented on #4255
I agree with @aaronadamsTO - there should be a quick way to hydrate the variables

[2018-08-27 04:59] karthiksml commented on #4241
We are seeing the same issue now with the latest release 6.2.5 - Windows. Could someone help us here?

[2018-08-27 05:01] karthiksml opened #5094 "Chosen file are not retained in the latest version windows(6.2.5)"
Chosen file are not retained in the latest version windows(6.2.5)

#4241 - refer this. we are facing the same issue now with the latest version.

[2018-08-27 05:33] sauladalibor commented on #2806
Hey Guys I had the same issue, the quickest way to fix this is to run it in windows 7 compatibility mode.  So run the installer in that mode, and once installed, set the application exe to run in the same mode. You can easily find how to run a program in compatibility mode on google.  :+1:

[2018-08-27 07:03] vkaegis commented on #5067
@davidmichaelkarr Just checked, this should be working fine in 6.2.5. Can you check if you have an environment selected? The autocomplete list is populated with variables from the current active environment, global variables your active workspace and any collection variables (if your request is saved in a collection.

https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables#au

[2018-08-27 07:07] jonasglass opened #5095 "Postman Windows App does not save queries"
Changes in a saved request (e.g. changing URL) are shown by indicating with the orange cycle. Pressing CTRL-S or clicking Save does not affect anything. Also when closing it and on clicking save changes the changes are not saved. Adding new queries is also not possible. Issue still occurs after reinstallation and also when using admin rights. When changing a shared collection via the Chrome App th

[2018-08-27 07:20] numaanashraf commented on #5094
@karthiksml Could you detail the steps you took? Looks like your issue is similar to #4320.

[2018-08-27 07:58] kalemdzievski commented on #5027
@harryi3t sorry for the late response.

I tried unzipping the app in my home directory and it workings fine now.

Thank you very much for your help!

[2018-08-27 07:59] vkaegis commented on #5067
Additionally, in the General tab of your Settings modal, could you check if you have the variable autocomplete option turned on?

![screenshot 2018-08-27 13 28 55](https://user-images.githubusercontent.com/6038010/44647981-44269780-a9fd-11e8-863e-12090adb339b.png)

[2018-08-27 08:31] anudeepmedicharla commented on #5073
@ankit-m
Oh no. I'm trying to say that the request name gets cut in the current documentation. If you see the screenshot, every request name has the same number of words when actually they're not the same.

If we don't want to cut the request and show ellipses, we need to show the complete name of the request. It seems that there is a cap of 6 lines currently.

[2018-08-27 09:04] karthiksml commented on #5094
Yes. It's the same.

will it be considered in the next release? Please let me know.

Thanks,
Karthik J

On Mon, Aug 27, 2018 at 12:50 PM Numaan Ashraf <notifications@github.com>
wrote:

[2018-08-27 09:37] numaanashraf commented on #5094
@karthiksml We are working on this, but we do not have an ETA on this yet. We would post any updates regarding early design feedback and canary and stable releases on #4320. Closing this as duplicate.

[2018-08-27 09:37] #5094 closed, assigned to nobody

[2018-08-27 10:14] aronmgv commented on #1678
+1 It has been 2 years already LOL.. common :)

[2018-08-27 11:36] Hibbem commented on #4852
Signed out and in, same problem here..
How is it even possible that the unit tests did not cover this?

[2018-08-27 13:00] ichoosetoaccept commented on #2724
This would indeed be amazing.

Apparently, Paw can do this with https://github.com/bdougherty/paw-javascript-fetch-generator.

Haven't tested it though...

[2018-08-27 13:41] slecholineas opened #5096 "Visualisation of x-www-form-urlencoded parameters in console"
**Describe the bug**
When I click on ‘Raw’ in the console I see that my x-www-form-urlencoded parameters are not separated with the ‘&’-sign.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Add in the Body at least 2 x-www-form-urlencoded parameters
3. Open the console
4. Send the request
5. In the console open the request
6. Click on Raw: the x-www-form-urlencoded pa

[2018-08-27 14:06] BytesDude commented on #2302
+1

[2018-08-27 15:11] karthiksml commented on #5094
Thanks for the update.

On Mon, Aug 27, 2018 at 3:07 PM Numaan Ashraf <notifications@github.com>
wrote:

[2018-08-27 15:36] davidmichaelkarr commented on #5067
I had autocomplete turned on, but this is the first I've heard of environments.  What's the difference between variables in the environment and variables in the collection?  I've only defined variables in the collection.  Are you saying that autocomplete only works for variables in the environment?

[2018-08-27 15:39] simplenetworks commented on #348
Does not work in  6.2.5 - osx.

Worked in previous versions

[2018-08-27 15:41] davidmichaelkarr commented on #5067
Ah, and now I see a non-obvious limitation of this interface.  Completion appears to only work if the field is otherwise empty, besides the opening "{{".  If I duplicate a request, I want to be able to edit the url to reference a different variable.  It appears I have to completely empty the url, then enter the "{{", select the variable I want, and then reenter the rest of the url.  That's not ver

[2018-08-27 17:23] ChrisHackett commented on #4898
Please put bulk edit back. (Even if it is a "use at your own risk" category).
As a software developer I am always reluctant to eliminate features that are very useful in a product.
Bulk edit was always extremely useful as we are constantly creating, editing, expanding environments with minor differences between them.

[2018-08-27 17:56] tbennett6421 commented on #4574
Not sure if I should create a new issue or not, but I'm having this issue as well.

[2018-08-27 17:58] tbennett6421 commented on #3290
I would like to see custom ca's supported as well

[2018-08-27 18:18] vladah commented on #4375
@prashantagarwal  It's when I select the file that I see the black screen. I tried this again with v6.2.5 and Windows 10 Version 1709

![capture-select-file](https://user-images.githubusercontent.com/14980954/44677600-5f48d580-aa04-11e8-8591-ff811f8fed91.PNG)
![capture-select-file2](https://user-images.githubusercontent.com/14980954/44677607-6243c600-aa04-11e8-9025-d4917d707303.PNG)
![capture-sele

[2018-08-27 18:21] prashantagarwal commented on #4375
@vladah I did some digging on this issue and it seems to be an issue specific to Windows. I will update this thread once I find some workaround/solution to this issue.

[2018-08-27 21:08] pjamgithub commented on #2801
+ 1

[2018-08-27 21:08] pjamgithub commented on #2801
+1

[2018-08-27 22:28] trandreluis commented on #3498
It really gets very messed up that way. I also thought that the "duplicate" feature was something like CTRL + C and CTRL + V, creating two distinct things. I think it's important that there is a feature which do that, so you don't have to rewrite an entire request that has little difference from another which already exists. I also think the name for what the "duplicate" feature does actually gets

[2018-08-27 22:33] prashantagarwal commented on #5075
Related to #4526

[2018-08-27 22:33] #5075 closed, assigned to nobody

[2018-08-27 22:46] KenEucker commented on #4186
I'm happy that I stumble across this issue, as I would never have guessed that my issue connecting to the domain that resulted in this error:

```The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.\n\nThe Canonical String for this request should have been ... ```

Would ha

[2018-08-27 23:30] DISKONEKTeD commented on #4374
I'm getting the same issue on MacOS after update

I deleted the app (as in just trashed it and deleted from the trash, but not the actual setting files in the library as I wanted to keep my collections). I then re-downloaded and reinstalled and that fixed it

You don't need to delete the library files, as suggested in the post above me refering to mac.

This allows you to keep your collections (i

[2018-08-28 00:12] blairg23 commented on #5070
@harryi3t I found an older version on a different computer and ran your steps. Here are the results:

![image](https://user-images.githubusercontent.com/6225764/44693379-b2328500-aa24-11e8-8b62-625da4a7fc42.png)

[2018-08-28 01:28] dusty commented on #2847
I just noticed another reason for having optional/required.  If you export your postman collection and then import it into something openapi-ish, such as apimatic, it marks all the params as required.

[2018-08-28 03:51] whyzhiqiu opened #5097 "是否能加入生成API文档的功能"
# 是否能加入生成http接口文档的功能
现在测试完http接口还要自己手写文档，太麻烦了。

[2018-08-28 04:49] harryi3t commented on #5070
@blairg23 What version was this where you saw this error?

[2018-08-28 05:12] harryi3t commented on #5039
@sourcesmith Sorry for the late followup.
Are you on linux and is your app unzipped in `/opt/Postman` directory?  We have seen people having permission issues in this directory.
To rule out this possibility could you try unzipping the app in home or desktop directory and try it again?
If it works there then we know that it is indeed a permission issue. For a more permanent fix, you can change the

[2018-08-28 06:49] otto-pflucker commented on #4898
Please put bulk edit back.

[2018-08-28 06:51] ash007-postman opened #5098 "Scrolling not working correctly on external monitor"
I have a 4k high DPI laptop screen with a 2560 x 1440 monitor. I've tried several high DPI settings in windows, but the behavior seems to stay the same.

I've attached screenshots which show the apparent scroll boxes on my monitor. In the first screen shot, the area within the green square will scroll the left Collections pane while the red will scroll the pane with the response body, etc. Scrolli

[2018-08-28 07:13] ash007-postman opened #5099 "Discrepancies in monitor summary & email notifications"
I have been using Monitors with daily run for a few weeks, but I encounter some trouble.
The summary of each launch tells there are errors, but all squares are green. (see first screenshot)
In addition, the email notifications I get all tell that there is a 0% success rate.

This is very annoying since these inaccuracies make any report useless.

<img width="1117" alt="capture d ecran 2018-08-27 a

[2018-08-28 07:26] websitevirtuoso commented on #1669
+1

[2018-08-28 07:46] numaanashraf commented on #5097
Translation:

Can I add the ability to generate API documentation?
Can I join the function of generating http interface documents?
Now it's too much trouble to test the http interface and write the document yourself.

[2018-08-28 07:47] numaanashraf commented on #5097
API documentation is already supported - https://www.getpostman.com/docs/v6/postman/api_documentation/intro_to_api_documentation

[2018-08-28 07:47] #5097 closed, assigned to nobody

[2018-08-28 08:04] Kyngo commented on #3822
Definitely +1, would LOVE to see that on Postman!

[2018-08-28 09:06] marcdk commented on #6682
+1

[2018-08-28 09:07] sumit0k opened #5100 "Wrong state for Select all toggle in Replace feature"
**Describe the bug**
Select All toggle is shown as checked even if nothing is checked

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'lens' icon for Find and Replace
2. Find for something
3. Type something in `Replace With` and check `Select All`
4. Click `Find` again

**Expected behavior**
`Select All` toggle should be unchecked if nothing in find results is checked

**Screenshots**

[2018-08-28 09:08] sepo-one commented on #771
+1

[2018-08-28 09:26] numaanashraf opened #5101 "Remember window position and size while switching accounts"
Originally reported via Twitter: https://twitter.com/matthewusurp/status/1034365989612343296

[2018-08-28 10:24] matt-usurp commented on #5101
Just so there is a physical copy against the issue.

Thanks for creating the bug for me 🙈

[2018-08-28 10:36] m3dbedb commented on #4635
Same issue with postman 32 bit 6.3.5 on windows 7 32bit and intel hd 2000 (driver version 9.17.10.4229), the workout with systen parameter doesn't help.

[2018-08-28 10:45] Vodek2 commented on #5039
Yes, i did unzipped postman into /opt/Postman, but unfortunately changing
ownership to both dirs did not help.
The only pattern I've noticed: it's only happen for requests with 'Pre-request Script'. With those without script, variable values are resolved correctly
My script is very straight forward, just to get token:

![image](https://user-images.githubusercontent.com/18397962/44719521-739bd980-a

[2018-08-28 11:40] harryi3t commented on #5039
@Vodek2 Could you share the output after following the steps mentioned in my [earlier comment](https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-415727976)?
Also, if possible can we schedule a remote debugging session with you? Our team can sit with you on a video call to debug this issue.

[2018-08-28 12:47] ronesp86 commented on #3566
+1
please add support this \o/
include credential fields in [Settings] > [Proxy] > User and Pass
OR
just add field to put value in [Edit Collection] > [Authorization] > [TYPE] > Proxy-Authorization

[2018-08-28 12:56] peterkrieg commented on #329
`{{urlPrefix}/users` doesn't substitute either - any updates on this?

[2018-08-28 13:04] m3dbedb commented on #1038
In my case (postmal 6.3.5) the only local desigion that works is this:

[2018-08-28 14:51] tyrinslys opened #5102 "Add support to use a file as the value in a form field"
I was trying to setup a request to use the api linter for jenkins piplines:
https://jenkins.io/doc/book/pipeline/development/#linter

and found that it is not currently possible with Postman.

Specifically it requires the text of the file to be the value part of the `jsonfile` form field key.

I would prefer to have a postman request when monkeying with the file but alas, curl it is.

[2018-08-28 15:01] tjraskin opened #5103 "Proxy settings not working when using System Proxy > Use automatic configuration script"
We are using the Postman for Windows v6.2.5 application to test a local RESTful service.  The Proxy setting was set to "Use System Proxy".

The call to the RESTful service got a HTTP Error Status: 403 Forbidden - Error Reason: Forbidden port.  This occurred on a Windows 10 machine and was replicated using the same Postman for Windows client on a Windows 7 machine.

Both machines are configured to

[2018-08-28 15:43] saifuddinrangwala commented on #3780
Encountering the same issue.  Content-Length header is missing in the request. Due to this server will drop the connection. The same request and payload works fine with curl. Only difference is that Content-Length is missing in case of postman.

[2018-08-28 16:12] sharkfoo commented on #4968
It would be very helpful to have multiple environments that you could select for an API. For example, we have a set of stacks to test against: Test1, Test2, Staging, Production, etc and have different environments setup for each stack. We also have multiple devices, customers, etc that we use for testing each with their own set of variables. I'd like to be able to select multiple environments at a

[2018-08-28 16:51] caitlinrubin-optimizely opened #5104 "Discrepancies between test runner, native app, and exported collection"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Changes saved in the native app do not propagate to code run in the test runner and exported in the collection -- I often have to manually export the collection, change it in the json and then re-upload it to get it working.

Pe

[2018-08-28 17:35] AnkitKabra20 commented on #3813
How do I send(post) a request as a file using pm.send request

const Create_Object_Record= {
  url: <URL>
  method: 'PUT',
  header: 'Content-Type:application/json',
  body: {
    mode: 'formdata',
    formdata:[{key: "file", value: "C:\\Upload_Docs\\Key to Hope.pdf", disabled: false, description: {content:"", type:"file"}},]   --?? Not sure
} };

pm.sendRequest(Create_Record, function (err, Creat

[2018-08-28 18:14] ankit-m commented on #5048
A fix for this has been deployed.

[2018-08-28 18:14] #5048 closed, assigned to ankit-m

[2018-08-28 19:41] blairg23 commented on #5070
6.1.3

On Mon, Aug 27, 2018 at 10:49 PM Harendra Singh <notifications@github.com>
wrote:

--
Blair

[2018-08-28 20:36] leonardocsobral opened #5105 "TypeError: Cannot read property XXXXX" of undefined"
**Describe the bug**
If we want to validate if some object is undefined. Postman cannot handle it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open application
2. create a test similar to this one:
`let jsonData = pm.response.json();
let resultDetails = jsonData.resultDetails;
let result = jsonData.result;

if (resultDetails.acquirerTxId2 !== undefined){
    pm.test("acquirerTxId2 should

[2018-08-28 21:40] ccrookston opened #5106 "After updating, Postman 6.2.5 won't start"
I had been using Postman for many months with no problems.  Everytime I opened it, it prompted me to upgrade, and I never did. Then today for some reason, I went ahead and did the upgrade.  I am now REALLY regretting that.

OS: Windows 8.
Using the Windows app, not the Chrome extension.

When I open the app, I get the yellow Postman window, but then nothing ever happens after that.  It just flicke

[2018-08-28 22:16] ricardoaugusto commented on #2096
👍  All I want is the ability to change CMD R to _Rename_ and CMD E to _Edit_ a request...or at least insert a Menu Item, so the Shortcuts on  > System Preferences > Keyboard could map it.

[2018-08-28 22:57] Leeeeeeelo opened #5107 "Right click not working for response headers"
**Describe the bug**
Performing a right click inside the headers tab of the response does not yield any result. It used to work fine a while ago. It is currently working fine in the body tab of the response.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform an API request using Postman.
2. Click on on the Headers response tab.
3.1 Try to right click on any value.
3.2 Try to right click

[2018-08-28 23:08] #5104 closed, assigned to nobody

[2018-08-29 06:05] abhijitkane opened #5108 "The collection link in the monitoring->slack integration gives a 404"
**Describe the bug**
The collection link from the Monitoring>slack integration gives a 404

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a monitoring->slack integration
2. Get a failure notification for a failed run:
Monitor <monitor name> on Collection <collection name> did not run successfully. 103 requests ran and 12 tests failed

Clicking on <collection name> takes me to the old

[2018-08-29 06:25] JojoWu19 opened #5109 "The format of etag header of response is changed by postman"
**Describe the bug**
The format of etag header of response is changed to start with `W/` by postman.

**To Reproduce**
1. Get a URL which provides etag header.
2. Go to the "Headers" of response.
3. Check the format of etag.

**Expected behavior**
The format of etag header shall be same as the format of etag header of real response.

**Screenshots**
![postman_win_etag](https://user-images.githubus

[2018-08-29 07:57] sivcan commented on #5106
@ccrookston Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4703

[2018-08-29 07:58] #5106 closed, assigned to nobody

[2018-08-29 08:12] magomedov commented on #3942
The issue is still here. @abargstaedt thanks for the tip - worked for me!

[2018-08-29 09:04] asheshambasta commented on #824
I'm not sure if this is working correctly, especially if I have pre-request scripts. I'm led to believe this is a bug. For example, if I set 2 variables: `defaultUser` and `defaultPass` to the following initial and current values in the environment, respectively:

| Variable    | Initial Value | Current Value    |
|-------------|---------------|------------------|
| defaultUser | some@user.com | c

[2018-08-29 09:23] Lucifer90 commented on #3171
+1

[2018-08-29 10:37] DDBdrift commented on #4898
This is NOT a feature - it's a bug!
Bulk Edit  enables developers and testers to copy-past updates instead of  tweeking each entry

[2018-08-29 10:53] deepakpathania-zz commented on #824
Hey @asheshambasta, can you check if you have the `Automatically persist variable values` as ON in the settings? This might be happening because of that, you can toggle the switch to verify if this is the case.
You can find this in the `General` tab of the settings as shown below.

![screen shot 2018-08-29 at 4 20 18 pm](https://user-images.githubusercontent.com/15071438/44783355-ba66fd80-aba7-11e

[2018-08-29 10:59] kamalaknn commented on #4984
Hey @manoadamro

It looks like your issue is not the same as @victorcunya which was a duplicate of #4897].

I'm reopening this issue. Can you attach the error logs that you see, so we can investigate?

[2018-08-29 11:06] johanroug commented on #4262
C:\Users\xroug\AppData\Local\Postman\app-6.2.5\Postman.exe --disable-gpu

Worked for me

[2018-08-29 12:06] asheshambasta commented on #824
Hi @deepakpathania thanks, this solves the issue! Is this documented somewhere?

[2018-08-29 12:24] VDI-Tech-Guy commented on #4550
+1 having the same issue as well,  noticed its coming from when i upload POST the body sometimes isn't being transferred from the source over to the Cloud and thus not making it over to other synchronized desktops.

Post seems to not sync body data
Patch does sync body data

My current workspace has a mix of ones that do work and do not, i will say that the ones that are having the issue were copi

[2018-08-29 12:29] NathanNorman commented on #4044
I solved this problem for my own personal situation by utilizing [jq](https://stedolan.github.io/jq/).

1. Export postman collection to JSON. (I used Collection v2.1)
2. Add the header "x-realm: admin" to all request headers.
`jq 'walk(if (type == "object" and has("header")) then .header |= (. + [{"key":"x-realm", "value":"admin"}] | unique) else . end )' collection.json > modified.json`
3. Delete

[2018-08-29 13:48] deepakpathania-zz commented on #824
Hey @asheshambasta, the docs would be updated soon with all the necessary information. You can read about sessions in general [here](http://blog.getpostman.com/2018/08/09/sessions-faq/).

[2018-08-29 15:27] h-parekh opened #5110 "AWS Parameter store integration"
Problem:
I have a lot of testing data stored as key:value pairs in AWS parameter store that I want to use as variables in postman. I'm having to cobble up a script with AWS SDK which I can use with newman, but there is no UI counterpart to do something like that from the postman app.

Suggestion solution:
Provide the ability to set a connection to an aws account and read variables from parameter s

[2018-08-29 15:38] h-parekh commented on #5020
@zorner ICYMI The new version of postman allows 'sessions'. This feature may alleviate some of your needs for managing sensitive data.

See [this](https://community.getpostman.com/t/ability-to-keep-variables-private/2550) postman community discussion thread for more details.

[2018-08-29 15:39] m1kjay commented on #824
The Automatically persist variable values setting fixed my problem with a pre-request script populating variables.  Is this something that would have to be done by every member of the team to prevent leakage of sensitive information to team environment variables?  If so, I'm not sure this is an adequate solution for a team.  Thanks!

[2018-08-29 16:23] callistino commented on #824
I agree with @m1kjay. The default shouldn't be to persist the value.

[2018-08-29 16:48] ascendantofrain commented on #4845
I second this request 100%.  My application is a complex authentication protocol and cookie storage so being able to call a saved "Authentication" request in a pre-request script would prove extremely valuable.

[2018-08-29 17:55] nakanu18 commented on #3312
+1

[2018-08-29 18:04] amaurycatelan commented on #3822
Yeap! +1 for this feature!

[2018-08-29 19:00] Yawnder opened #5111 "Credentials for NTLM not refreshed when using variables."
**Describe the bug**
If you set NTLM authentication at the collection level, using variables, and then change the variable values, the previous authentication result is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the variable for {{Username}} and {{Password}} to whatever would work for a given api.
2. Create a collection, and set authenticaiton NTLM such as:
![image](https://us

[2018-08-29 19:10] inestyne commented on #4920
Same thing, CTRL+S no longer working, logged in, and i can't log out now without deleting local data which means i'm very badly stuck

[2018-08-29 19:59] tudorgeorgescu commented on #4603
Here it is.
I set the Access-Control-Allow-Origin but the mock still responds with *
![postman cors](https://user-images.githubusercontent.com/24169443/44812120-b3a3af00-abd6-11e8-8eb2-61400f0506e3.png)

[2018-08-29 20:08] tudorgeorgescu commented on #4603
@hamecodedVia did you manage to solve it? I still couldn't set it up ...

[2018-08-29 22:44] ggutenberg commented on #4193
Not an ideal solution, but I have a workaround.

In the request you want to reference, add the following to the Tests script:

[code]

Open the console (View > Show Postman Console) and send your request. Copy the JSON from the console verbatim. In the dependent request, simply add a `pm.sendRequest()` and paste your JSON object as its argument. Example using the Postman Echo GET Request (prettifi

[2018-08-29 22:53] nmvega opened #5112 "Postman App U.I. Colors:: Light-grey on white unfriendly to people with visual challenges and impairments ..."
Hello Friends:

How can one change the **light-gray lettering** on **white background** color scheme, minimally to black lettering? That color scheme is unfriendly to people with visual challenges and impairments.

Is there a style file (or something) you can give me to insert/replace into the installation directory to change that?

Thank you!

[2018-08-30 02:57] ghost opened #5113 "Strip spaces while pasting bulk edit"
When I used this feature before, I often copied the request directly in the browser, for example.
![image](https://user-images.githubusercontent.com/20716891/44826770-e97e7d00-ac42-11e8-93fd-bf73bb16b41d.png)
Then I will copy directly to form-data in postman,like this
![image](https://user-images.githubusercontent.com/20716891/44826873-1af74880-ac43-11e8-9a3b-5e743b6b4954.png)
![image](https://use

[2018-08-30 04:54] MarkoHub commented on #2302
+1

[2018-08-30 05:51] mrljdx commented on #1669
+1

[2018-08-30 06:13] deepakpathania-zz commented on #824
Hey @m1kjay @callistino, thanks for the feedback. The default was to persist the values for users who are upgrading from the older apps so that sessions do not break their existing workflows.
Imagine you were using pre-request scripts to update an environment value which was being synced to your team members, all such flows would suddenly stop working when they upgrade which would be unexpected fo

[2018-08-30 06:14] sivcan commented on #5112
@nmvega As of now we do have a dark mode built into the apps.
You can go to Settings > Theme
Refer: https://www.getpostman.com/docs/v6/postman/launching_postman/settings

Also, there's already a feature request raised for personalizing the themes in the app: https://github.com/postmanlabs/postman-app-support/issues/4318

So I'll be closing this issue.
For any updates regarding themes in the app ki

[2018-08-30 06:14] #5112 closed, assigned to nobody

[2018-08-30 06:46] deepakpathania-zz commented on #4813
This has now been fixed.

[2018-08-30 06:46] #4813 closed, assigned to kunagpal, deepakpathania-zz

[2018-08-30 07:34] sankalp0o commented on #908
@yehosef We now have an option of creating a new endpoint directly in a collection/folder from the context menu in the sidebar. Though this is still one click more than your idea of a '+' icon, we didn't want to clutter the sidebar. Hope this makes your work easier.

[2018-08-30 07:34] #908 closed

[2018-08-30 07:36] sankalp0o commented on #989
@devnill Curious, how would you set a custom auth method? What does the flow in your head look like?

[2018-08-30 08:18] GingerMoon opened #5114 ""Could not get any response" Error: Invalid Protocol: localhost"
Don't know why this error happens...
![image](https://user-images.githubusercontent.com/8342412/44838893-e8b01000-ac6f-11e8-9b80-8062fbd62d15.png)

I have already disable the mentioned configurations.
![image](https://user-images.githubusercontent.com/8342412/44838916-ffeefd80-ac6f-11e8-9fc9-dd1c08628015.png)
![image](https://user-images.githubusercontent.com/8342412/44838945-0e3d1980-ac70-11e8-9c

[2018-08-30 08:26] vml051 commented on #2801
+1

[2018-08-30 08:38] hamecodedVia commented on #4603
no

On Wed, Aug 29, 2018 at 11:08 PM tudorgeorgescu <notifications@github.com>
wrote:

[2018-08-30 08:54] abhijitkane opened #5115 "The team/elements page doesn't show any monitors"
**Describe the bug**
Head to https://go.postman.co/team/elements?type=monitor. I should see my team's monitors. I don't.

No errors in the console. The WebSocket network tab shows all calls having returned successfully. I see 200+ monitors returned in one of the API Responses.

**Screenshots**
![screen shot 2018-08-30 at 14 23 20](https://user-images.githubusercontent.com/681190/44841203-71bf4b00-

[2018-08-30 09:24] ash007-postman opened #5116 "Expose environment name in scripts"
I am trying to create Pre-request script to change Global variable value dynamicaly based on environment.
I cannot find environment object to get environment name or description to use in the script.
There are 3 different environments local, dev and demo.
Global variable subscription should be changed based on environment.

Script should work like this:

if (pm.environment.name==("local"))
{
pm.gl

[2018-08-30 09:34] kamalaknn commented on #5105
@leonardocsobral

The error you are seeing is telling you that you are trying to access a property on an `undefined` value. You can still check if a property is `undefined` or not in Postman.

**The point to note here is that `resultDetails` is also `udnefined` and that is why `resultDetails.acquirerTxId2` is not allowed. Not because `acquirerTxId2` is `undefined`.**

You can easily workaround thi

[2018-08-30 09:34] #5105 closed, assigned to nobody

[2018-08-30 11:24] ilyanikolov opened #5117 "Can't send request if environment variable is used in request path"
**Describe the bug**
Can't send request if environment variable is used in request path

**To Reproduce**
Steps to reproduce the behavior:
1. Create environment variable, for example "host: https://google.com";
2. Create new request, with url {{host}}
3. Try to execute request;

**Expected behavior**
Request should be send successful :)

**Screenshots**
![image](https://user-images.githubuserconte

[2018-08-30 11:29] dmetzler1988 commented on #4567
I prefer to add cookies like variables for an folder (and also for subfolders).
Currently the cookie is available in whole program - also over all personal workspaces and folders.

[2018-08-30 12:06] AleksandarSavic95 commented on #4128
Another solution from user @harryi3t is to add an environment variable called `POSTMAN_DISABLE_GPU` and set its value to `true`. [Link to that comment on the main issue](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621).

[2018-08-30 12:09] harryi3t commented on #3780
@saifuddinrangwala What version of Postman are you using?

[2018-08-30 12:13] matheuscanela commented on #3174
+1

[2018-08-30 12:20] harryi3t commented on #5070
@blairg23 These steps will only work on 6.2.x where the bug is reported.

Also, I marking this as a duplicate issue. Feel free to continue the discussion on the original thread https://github.com/postmanlabs/postman-app-support/issues/5039

[2018-08-30 12:20] #5070 closed, assigned to harryi3t

[2018-08-30 12:34] Discipe commented on #5117
Hm... Environment variable in URI works for me, but i get "Could not get any response" error if header key or value is an Environment variable (in my case, variable is nested "Key": "SomeValue-{{info}}").

That problem showed up after 2.6.4(?) -> 2.6.5 upgrade. In previous version everything worked (I think it was 2.6.4, but I may be mistaken here).

Looks like issue #5039 and probably caused by u

[2018-08-30 13:30] m1kjay commented on #4172
+1 thanks

[2018-08-30 13:36] harryi3t commented on #5117
@ilyanikolov This seems like similar to the issue https://github.com/postmanlabs/postman-app-support/issues/5039 reported earlier

Could you run through the [instructions](https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-415727976) as mentioned in that issue and share the output?

Closing this issue in favor of the original issue.

[2018-08-30 13:36] #5117 closed, assigned to harryi3t

[2018-08-30 14:17] jkewley commented on #4144
I'd like to amend this feature a bit - I have my auth requests in a separate collection and would prefer to broaden this to allow for execution of any request in the current workspace.

Ideally we'd be able to do this either in script : `pm.ExecuteScript("Utility/Get AAD Token")` or via selection in a collection's edit screen.

Couple of considerations:

- People may want to execute more than one

[2018-08-30 14:31] mashariqk commented on #329
@peterkrieg You should get the url first by calling
`var url = returnParsedUrl();`
And then do any manipulations in the Pre-Request Script. Let me know if that worked for you

[2018-08-30 14:37] peterkrieg commented on #329
@mashariqk   actually my problem was just that the variable `initial value` was set but not the `current value`.  I thought current value would default to initial if not filled in but I guess I was wrong.  Thanks for the help though!

[2018-08-30 14:43] mashariqk commented on #329
Cool!

[2018-08-30 15:01] alexprest commented on #1070
+1 it would be very useful indeed

[2018-08-30 16:35] ratpik commented on #4603
@hamecodedVia @tudorgeorgescu - Currently Mock Server will always return * in the `Access-Control-Allow-Origin` header even when you have specified your own custom domain in the example. We will be releasing a patch with a fix for this soon.

[2018-08-30 17:01] raghav19 commented on #4996
Nope, It isnt resolved, it just a workaround provided, which complicates many flows and script changes are required across the entire collection just because one request works in that fashion. That isnt scalable , please add this as a feature. If already added, please let me know the link for the feature release page

[2018-08-30 18:48] tudorgeorgescu commented on #4603
Sounds great. Looking forward to this!
Any rough ETA?

On Thu 30. Aug 2018 at 18:36 Pratik <notifications@github.com> wrote:

[2018-08-30 20:04] jrorke commented on #1647
Any way to archive the history or console output from the standalone Postman app?  My company seems to block access to login to the Postman cloud for sync'ing.

[2018-08-30 21:34] anjali89r opened #5118 "Screenshot feature in Postman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I use postman for testing and while raising the defect for the issue, it is mandatory for me to attach the screenshots of postman test. It will be a great feature to include an icon

[2018-08-30 23:02] scarbon commented on #4898
Missing the bulk edit feature, it was great to be able to just past for example 20 variables or even the editing which I did outsid. It would be great to bring the feature back, i welcome the current value but not at the expense of bulk edit

[2018-08-30 23:35] garrettsickles commented on #2801
I am tired of seeing "+1" so I hacked together some DIY support while we wait for Postman...

I put together a hack for getting Postman to interpret Protobuf responses using [`Protobuf.js`](https://github.com/dcodeIO/protobuf.js).

For me the process looked like this:

1. `$ npm install protobufjs`
2. `$ ~/node_modules/.bin/pbjs -t json File1.proto File2.proto File3.proto > my-proto.json`
3. Add t

[2018-08-31 00:53] gvillacarlos-deputy commented on #2302
+11111

[2018-08-31 08:00] ajesh-n commented on #2701
+1

[2018-08-31 09:27] GianniBortoloBossini commented on #4898
For developers this is a MUST HAVE feature.
Please put bulk edit back.
Thanks :)

[2018-08-31 10:02] feyyazesat commented on #3290
I'm not sure do I'm hitting to exactly same problem here, but when I setup Postman proxy, I cannot proxy SSL urls and I hit to postman provided SSL certificate with end date 2015.
![screen shot 2018-08-31 at 12 00 10](https://user-images.githubusercontent.com/1338800/44906602-a93bff00-ad15-11e8-909f-0002f11d562f.png)
![screen shot 2018-08-31 at 12 00 19](https://user-images.githubusercontent.com/1

[2018-08-31 10:19] vkaegis commented on #5067
@davidmichaelkarr Hah, now that you mention it, I do find some very inconsistent behavior here. I'm going to change this request to a bug. Will get back to you once I have more information.

Also, environments are like hot-swappable sets of variables, so you can switch between multiple sets of values for the same collection. A common use case for this is for using different values for different de

[2018-08-31 10:42] Xtremrules commented on #4897
@deiberdev This method did not work for me.

[2018-08-31 12:07] raymondpdurkin commented on #3874
I just had to switch back to the deprecated Chrome plugin. Debugging Postman is my key usage with .NET attach to w3wp.exe and without this feature I have to battle cookies and proxy settings at work.

Thanks in advance.

[2018-08-31 12:10] Sraw commented on #3874
@raymondpdurkin Guy you are not the only one. Without this feature, Postman is just like broken.

[2018-08-31 13:13] Muralinie opened #5119 "JSON validator is passing test for wrong values"
I have the the code snippet to validate the JSON Data as given below :

         pm.test("Verify for AuthCode ", function () {
            var jsonData = pm.response.json();
             for(i=0 ; i<= jsonData.length;i++){
                     pm.expect(jsonData.docList[i].docMetadataMap.authLevelCde).to.eql("MY_DEFAULT");

            }

            });
My response Body :

{
  "totalDocCount": 2,

[2018-08-31 13:44] edin-music-sn commented on #3845
+1

[2018-08-31 13:44] pcsontos commented on #5093
Same problem on my side. :-(

[2018-08-31 13:48] EdwinOtten commented on #3566
+1 please support this
Chrome webapps are being deprecated but I still can't move to the native client, because it lacks this feature. It's very much needed for devs in corporate environments.

[2018-08-31 13:54] abhijitkane opened #5120 "The transfer-collection-while-removing user feature doesn't work"
**Describe the bug**
While removing user u2 from the team, if I select u3 as the user to whom all of u2's shared collections should be transferred, I get a success message, but the collections aren't actually transferred. I need to contact support to get the collections transferred.

**App information (please complete the following information):**
- Server-side issue. Seen on 2018-08-31

[2018-08-31 14:15] kamalaknn commented on #4897
@Xtremrules The issues that you are facing might not be the same as the original issue here. Could you attach the logs that you see so we can investigate?

[2018-08-31 14:18] #4984 closed, assigned to nobody

[2018-08-31 14:50] cortopy commented on #4895
I can see it has been fixed, as running it again and I can't find the leak any more. Closing

[2018-08-31 14:50] #4895 closed, assigned to harryi3t, vkaegis

[2018-08-31 15:26] science695 commented on #3290
@feyyazesat This issue is about adding your own Certificate Authority.

Your issue would seem to be related to Postman Proxy, or the site you are reaching having an expired Certificate. I would recommend you make a new issue.

[2018-08-31 15:34] thpoiani commented on #971
Is possible to fake data using environment variables and an API that provides it:

**Pre-request Script**
[code]

[2018-08-31 17:19] pliske commented on #4898
I very much miss bulk edit.....I am constantly adding new environments. It was great to be able to copy the data from a text file and place it in the bulk editor .. boom, it was done and worked great.

removing it really has caused me lots of extra work and time.

[2018-08-31 17:55] fritzieleo commented on #2861
Hey, I'm facing the same issue with Collection Runner on Postman v6.2.5, Any updates on this issue?

[2018-08-31 18:40] Jt3kt commented on #1475
+1

[2018-08-31 18:50] stephanos opened #5121 "pm.isMonitor()"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**

I want my collection to be executable locally _and_ from monitors. But since some stateful setup in the app is required for the tests, I want to avoid conflicts there. By knowing wh

[2018-08-31 19:40] ankit-m commented on #5120
A fix for the same has been deployed. Can you confirm?

[2018-08-31 19:44] ankit-m commented on #5115
A fix for the same has been deployed. Can you please confirm?

[2018-08-31 23:48] alaulkar commented on #3171
Just received Monitoring Blocks Price Update email. Would love to but won't be able to scale it as long as callback timeout limitations are in place.
Any kind of update on this would be greatly appreciated.
Thanks!

[2018-09-01 00:06] ghost commented on #285
How is this not done? It's been years since this was requested?  My requirement is for a javascript prompt in the prerequest script section because I'm making a Node-Red admin API environment and to check the status of an installed node, or to install or delete nodes the user has to be able to tell the system which node/package that they want to install/uninstall/change/update/whatever.   Just a j

[2018-09-01 00:44] rlogiacco commented on #285
Because Javascript prompts are not allowed from Chrome apps.

I'm not a PostmanLabs associate of any sort, but unless you are a paid
user, I don't believe we have the right to stand in the middle of the room
pretending to be served: as a non-paid user I try to get the most of what I
got for free and I'm thankful to these guys for letting me use this
wonderful piece of software.

Don't get me wrong

[2018-09-01 06:07] sivcan commented on #5119
@Muralinie That's because you're trying to run the for loop on the JSON data and you're saying `jsonData.length` however, your jsonData is an object and not an array thus it doesn't have a length property, in your case it's being returned as undefined.

In the lines further below, you're asserting on the docList array which was what you wanted to achieve.
So, to fix that you've to iterate over the

[2018-09-01 06:07] #5119 closed, assigned to nobody

[2018-09-01 09:42] avxkim opened #5122 "Scroll is very laggy using dell touchpad"
Windows 10 (1803), Postman 6.2.5

Steps to reproduce:

1. Minimize Postman
2. Open Postman
3. Try to scroll using touchpad (2 fingers)
4. Scrolling would be laggy

VSCode had similar issue, but they made workaround: https://github.com/Microsoft/vscode/issues/13612. I guess, it's electron based apps suffering this scroll issue.

Minimize+Maximize works as workaround.

[2018-09-01 10:43] daverickdunn commented on #4012
I'm running v6.2.5 x64 on Windows and experiencing this exact issue.

I ran wireshark and it appears to be happening when the server redirects (301) from htttp to https. Postman is sending a PUT _initally_, but when it redirects it opens a new encrypted connection and I cannot see what method it sends thereafter.

This does not happen with any other client, including SoapUI and the Postman Chrome

[2018-09-01 12:25] Xtremrules commented on #4897
@kamalaknn This is the error I see from the Developer window.
[code]
and this is the error, If the app is started with `CMD` in Windows
[code]

I have uninstalled and Reinstalled numerous times, It still didn't solve the problem

[2018-09-01 12:36] Xtremrules commented on #4897
Hi, @kamalaknn I have been able to resolve the Issue.
I deleted All Folders associated with **Postman** in `<Username>\AppData\Local` and `<Username>\AppData\Roaming`

[2018-09-02 11:52] abdurrahmanekr commented on #3376
This feature is indeed necessary. I will be waiting for this feature.

[2018-09-02 14:37] #5120 closed, assigned to ankit-m

[2018-09-02 14:37] #5115 closed, assigned to ankit-m

[2018-09-02 20:58] adrianrudnik commented on #2931
Just removed 19 Postman-{{timestamp}.tar.gz files and their extracted counterparts after detecting I'm still on 6.1.x. Seems like the auto-updater just downloads but fails to replace either the directory or symlink?

Please use some established mechanism for distribution.

[2018-09-03 05:42] sankalp0o commented on #5118
Thanks for the feedback @anjali89r! We'll have to see how this could fit in the app. I'll keep you updated if and when we decide to take this up.

P.S. I personally use the macOS screenshot capabilities with auto sync to Dropbox which also copies its public url which can be directly pasted into slack etc.

[2018-09-03 06:33] shamasis commented on #5121
Yeah. Legitimate. Let me keep a note of this.

Ideally, we would put in an execution information section within `pm` api and that would expose the host details as well as some more info pertaining to execution.

[2018-09-03 06:40] sankalp0o commented on #5118
@preethammavin Can this be solved by a plugin?

[2018-09-03 08:00] ratpik commented on #4603
@hamecodedVia @tudorgeorgescu - I tried reproducing this behavior in the latest version of Postman Mock Servers but I am unable to reproduce it. I am getting the `Access-Control-Allow-Origin` to be the domain that I have set in my saved example (Screenshot attached below). Can you verify that you do not have multiple saved examples in your collection that match the same request?

<img width="1059"

[2018-09-03 08:28] qcastel opened #5123 "Certificate config should allow wildcards in domain"
## Current context

Today, postman offers the possibility to setup client certs for specific domains. This is handy for APIs protected by MTLS for example.
It's quite common to have multiple domains, especially in a micro-services architecture.
Unfortunately today, if you got 4 services like:

- https://serviceA.example.com
- https://serviceB.example.com
- https://serviceC.example.com
- https://se

[2018-09-03 08:37] DivyaKallu opened #5124 "Does postman support Kerberos Authentication?"
Does postman support Kerberos Authentication? Our Web application uses Windows authentication , where our account is authenticated against Kerberos server. When I try to run API request using No Auth in Native postman app I am getting 401 error , unauthorized error. The same is working through postman chrome browser app, but as this is going to be deprecated soon i want to work on native postman a

[2018-09-03 08:46] JaredPage opened #5125 "Data collection import still removes leading zeros sometimes"
**Bug Description**
I am experiencing an error with the Data function in the Postman Runner. I have an MS Excel document which I export a CSV from. I then import this CSV into the Data field in the Runner for my collection. This seemed to be working fine initially until I noticed some oddities. I eventually discovered that leading zero's from the numbers in my CSV file were being stripped from the

[2018-09-03 09:15] grexe opened #5126 "[UX] Make the cURL command more visible"
I'm always searching for the function export-to-cURL and everytime I am confused why it is at such an unexpected and hidden location - see:
https://www.getpostman.com/docs/v6/postman/sending_api_requests/generate_code_snippets

It would be much more intuitive and convenient imho to add a menu item to  the "Send" button, like "Generate code...", because it's very close to  that functionality, as op

[2018-09-03 09:36] preslavrachev opened #5127 "Add support for requests/responses of type application/*+json, correctly interpreting them as JSON"
At the moment, if a request has a specific `Content-Type` header, which differs from `application/json` or any of the other supported formats, Postman will fall back to interpreting it as text. This is unpleasant, because one loses all the formatting and highlighting capabilities, which one has when the type is recognized by Postman.

I think, the support for +JSON types (e.g. `application/hal+jso

[2018-09-03 09:56] yuliaSharabi commented on #4898
The bulk edit was very us-full for my team, I'd like to join the people that are saying that this is a MUST HAVE feature.

[2018-09-03 10:55] loveexception commented on #4009
i 'm  love this feature .

[2018-09-03 11:29] tobypinder commented on #5123
This has my strong support. To give context, open banking involves 15+ brands (and growing) each with about 2 domains protected by MATLS, across sandbox and live environments. While postman's environments are excellent for handling these different configurations, maintaining 60+ different client certificates in the current UX is more than cumbersome.

[2018-09-03 12:22] Ramya-From-Postman opened #5128 "The ampersands '(&)' being replaced with '&amp' in the the URL string of HTTP code snippet"
**Describe the bug**
When you generate an HTTP code snippet for a request in postman app, the '&' in the request URL being encoded as '&amp'

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request using postman app. for ex: https://postman-echo.com/get?test=keep smiling&abc=xyz
2. Click on 'Code' next to cookie at the right-hand side & generate an HTTP snippet

**Expected behavior**

[2018-09-03 12:37] AlwinTS commented on #4898
Please restore the bulk edit option. It's a MUST. Below my use case:
For development, test, acceptance and production I have all different settings an keys to use. In an Excel document I keep track of the keys and values to make sure that on release of the product all keys are available in the new tests. I made calculated column from where the settings can be copied to and from bulk edit fast.

[2018-09-03 13:16] rgasioro commented on #3312
+10
I am surprised that this is not possible now (programmatically clearing Cookie Manager's cookies.)
This is such an important feature for automated tests.

[2018-09-03 13:18] luckerby opened #5129 "curl --resolve behaviour"
**App information (please complete the following information):**
 - Native App
 - Postman Version 6.2.5
 - Windows 10 (version 1803)

I'm looking for being able to send a GET request to a specific host, other than the hostname specified in the request. To use a quick example - assume www.mysite.com resolves to 1.1.1.1; I'd like for the GET www.mysite.com to be sent to 2.2.2.2 instead, without havi

[2018-09-03 14:19] valentin-mentormate commented on #2082
Same here. Postmen v6.2.5 :(

[2018-09-04 00:59] tbennett6421 commented on #3290
@numaanashraf Can we get an update? I don't see this on the project roadmap on your team's trello board #3152

[2018-09-04 01:34] laurence-myers opened #5130 "Postman v6.2.5 on Nvidia GTX 780 Ti displays a blank beige screen (GPU issue)"
Duplicate of #4594, see that issue for details. I'm raising a new issue because the old one is closed and locked.

Setting the environment variable "POSTMAN_DISABLE_GPU=true" fixes it as a workaround for me; however, since this seems to affect multiple GPUs and app versions, it suggests there's some underlying root cause that needs to be resolved.

[2018-09-04 06:27] vdcardenas commented on #4898
I'm considering using an earlier version. I really need the bulk edit. It never gave me problems.

[2018-09-04 07:33] bluppfisk commented on #4814
Those looking how to fix this on Ubuntu, please check https://github.com/postmanlabs/postman-app-support/issues/4637

[2018-09-04 07:48] sivcan commented on #5125
Yeah, as you mentioned this issue is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2734

Follow https://github.com/postmanlabs/postman-app-support/issues/2734 for further updates on the issue.

We'll be updating the thread once we have an update for this.

[2018-09-04 07:48] #5125 closed, assigned to malvikach

[2018-09-04 07:54] leonstel commented on #1947
+1

[2018-09-04 08:06] ambroiseRabier commented on #2494
+1

[2018-09-04 08:54] ghost opened #5131 "Add Options to allow to fold and unfold all levels in 'Pretty' Tab"
For Long JSON response, it's really annoying to fold the top levels of the JSON every time.

[2018-09-04 09:23] ClaudetteShepherd commented on #6682
+1

[2018-09-04 09:23] darrenliddell commented on #285
+1 Would be nice to think about how the variables get rendered in the generated web documentation for an API, probably separate from this, but would be good at point of publish to be able to set variables with "example" values to be displayed on the public api documentation

[2018-09-04 09:47] cbarrerah commented on #2851
+1

[2018-09-04 09:48] cbarrerah commented on #2819
+1

[2018-09-04 09:50] numaanashraf commented on #5130
@laurence-myers Reopened and unlocked the original issue till we have a long term fix for this. Closing this as duplicate.

[2018-09-04 09:50] #5130 closed, assigned to nobody

[2018-09-04 09:51] vkaegis commented on #171
@jjmartin @noise @mikenerone Hey guys, this is fixed and working in production. Looks like we missed closing this request and informing you all. Let me know if relative URLs are working as expected.

[2018-09-04 09:51] #171 closed

[2018-09-04 09:51] numaanashraf commented on #3290
@tbennett6421 We don't have an ETA on this yet. We'll share an update as soon this lands on our near term roadmap. Thanks for the patience.

[2018-09-04 09:58] vkaegis commented on #171
Just a clarification, Postman allows you to open relative URLs in the response in a new tab where we automatically append the base URL to it. We also now have variables with which you can reuse these values.

[2018-09-04 09:59] numaanashraf commented on #5124
@DivyaKallu We do not support Kerberos Auth in Postman native apps yet. We are tracking this feature request at #2240. Closing this as duplicate.

[2018-09-04 10:01] #5124 closed, assigned to nobody

[2018-09-04 10:22] numaanashraf commented on #5109
@JojoWu19 Are you facing the same issue in both Chrome and Native apps?

[2018-09-04 10:24] lewisvoncken commented on #5007
@Postman-Gabriel  do you have an update about this issue?

[2018-09-04 10:40] JojoWu19 commented on #5109
Yes, I also have posted both screenshots in issue.

[2018-09-04 11:02] numaanashraf commented on #5109
@JojoWu19 Could you verify if the server is returning the correct etag. "W/" is an optional prefix that is valid in the spec and certain servers will add it. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag#Directives. You can debug what response Postman received by following the steps detailed here - https://www.getpostman.com/docs/v6/postman/sending_api_requests/debugging_and_logs#

[2018-09-04 11:05] JojoWu19 commented on #5109
Yes, I have verified the etag value.  I used curl to get the raw data and also have attached the log at issue (curl_etag.log).

[2018-09-04 11:15] numaanashraf commented on #5109
@JojoWu19 cURL logs does not guarantee that the server returned the same etag value format to Postman. Since this is a valid etag format as per spec, there is a chance that the server returned the "W/" format to Postman. Please provide the raw network logs of Postman as detailed here so that we can debug this further - https://www.getpostman.com/docs/v6/postman/sending_api_requests/debugging_and_l

[2018-09-04 11:27] JojoWu19 commented on #5109
We implement the etag of server so I know its' value but if you need the debug log. I will attach later.

[2018-09-04 11:50] JojoWu19 commented on #5109
@numaanashraf,
Here is the postman console log:
[postman_console.log](https://github.com/postmanlabs/postman-app-support/files/2348422/postman_console.log)

It looks the etag value is with "W/" in the postman console but I think curl should be right because server remove the "W/" from etag.  I will need environment to check if cURL displayed "W/" when etag start with "W/" and then update to you to

[2018-09-04 12:33] zootyzoot opened #5132 "Adding a large file to form-data body causes postman to hang with black screen"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: postman should not hang

1. open postman
2. create a new request tab
3. set the method to POST
4. click on body tab
5. select form-data
6. click on the dropdown inside the key input line
7. select file
8. click on choose files
9. select a very large fil

[2018-09-04 12:54] numaanashraf commented on #5132
@zootyzoot Thanks for reporting this. This seems related to another issue we are tracking. Closing this as a duplicate of #4375.

[2018-09-04 12:54] #5132 closed, assigned to nobody

[2018-09-04 13:12] abhijitkane commented on #2617
@rodriguise Can you provide a sample JSON/YAML which the new converter crashes on? We're looking to integrate this with Postman soon.

[2018-09-04 13:35] AuriR commented on #771
+1 This is super annoying.

[2018-09-04 13:36] AuriR commented on #4171
Will this be fixed anytime soon? It seems like an obvious setting feature to me.

[2018-09-04 13:37] AuriR commented on #4171
Important: This is NOT an issue in the Chrome app. Only the desktop app appears to have this issue.

[2018-09-04 13:38] AuriR commented on #771
Important: This is NOT an issue in the Chrome app. Only the desktop app appears to have this issue.

[2018-09-04 15:23] p00j4 commented on #1196
How can I enable the diff visibility in  Collection Runner?
It gets very important specially when collection is ran, all together getting to know the actual vs expected in report gives more clarity
I'm using **pm API**  and it works well within the editor but from runner, it doesn't
The runner doesn't show the Assertion difference
**From Runner**<img width="376" alt="image" src="https://user-image

[2018-09-04 15:51] p00j4 commented on #2819
+1 is this feature live now?

[2018-09-04 15:53] grexe commented on #2449
I'd really need this feature, we have a lot of endpoints in different collections across multiple versions and modules, so it's quite a hassle, even with perfect organization, to quickly track down a specific endpoint URI.

[2018-09-04 17:05] amex132 commented on #4636
I'd request any kind of token generation to be completely independent of any request, i.e. not tied to any group etc. I'd like the ability to associate one or more or groups or whatever requests to tokens independently.
Meaning, it would nice to be able to name a token generation setting and then associate a request with that name so I could associate a request with token generation on the fly.
Wh

[2018-09-04 17:13] Moncefmd commented on #2701
+1

[2018-09-04 17:49] mparker commented on #4391
+1 for this feature
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow#request-an-access-token
This is the auth scheme for MS Azure (which is based on AAD). Adding an Azure-specific auth type should be as simple as adding "resource" as a parameter name (or alternatively, allowing user-defined parameter names to be added to the existing "OAuth 2.0" UI)

[2018-09-04 17:53] rholsman commented on #2701
+1

[2018-09-04 20:07] ghost commented on #285
Well here's the thing. I was referred to this product and loaded it up and
thought to myself "hey! this looks freakin awesome. I can do a lot with
this" and I proceeded to add a bunch of stuff to administer Node-red.  And
then I got to the part where I'd need to enter something specific at "run
time" to add or change something in Node-red and discovered that I
couldn't.  I was enthusiastic. And no

[2018-09-04 22:17] dusty opened #5133 "Path variables not resolved in Example Documentation"
When setting a path variable using Postman it does not interpolate the variable in the Example Request.

For example, setting this Example in Postman.

<img width="1001" alt="screenshot 2018-09-04 15 11 23" src="https://user-images.githubusercontent.com/792/45060474-d14c9a80-b054-11e8-85bb-af3f58d5584f.png">

Creates this in the Documentation

<img width="1147" alt="screenshot 2018-09-04 15 14 12"

[2018-09-04 23:46] jordanboston commented on #3835
I could not find a way around `n\t` being added with Postman JSON.  It just throws errors we can't get past in our function.  For the time being, I had to switch to using Insomnia which worked fine with the same data.

I'll watch for a fix or try to see if there is a resolution at a later point.  Thanks

[2018-09-05 05:17] anukul-mohil commented on #2022
Had the same problem where app just won't start on ubuntu, deleting the local cache solved the issue.
Local cache location:

Windows: "C:\Users\<user>\AppData\Roaming\Postman" and "C:\Users\ <user>\AppData\Local\Postman"
 Linux: "~/.config/Postman"
Check [this](https://support.getpostman.com/hc/en-us/articles/115005901149-My-Postman-app-won-t-start) for more info.

[2018-09-05 05:51] ramil89 commented on #4079
+1

[2018-09-05 06:15] JojoWu19 commented on #5109
@numaanashraf,
After checking the old environment that server provides etag always include "W/", cURL display the etag header with "W/", and cURL is correct to show the real etag value.  below is the cURL log to get the etag includes "W/".  I think even Postman console has this issue.
[curl_weekETag.log](https://github.com/postmanlabs/postman-app-support/files/2351499/curl_weekETag.log)

[2018-09-05 06:23] fireice009 commented on #3117
+1. Especially now support for publishing documents. We use it for API document.

[2018-09-05 07:44] cedricraud commented on #4458
I am facing the same issue.

Swagger snippet :
[code]

Result of the import:

![postman-import](https://user-images.githubusercontent.com/868781/45078409-415c2e80-b0f0-11e8-8943-4fdd73487d0d.png)

[2018-09-05 08:15] liushilive commented on #3312
+1
这是一个很重要的功能。

[2018-09-05 08:36] Ramya-From-Postman opened #5134 "Documentation hosted on the custom domain throwing 404 error"
**Describe the bug**
The source code of a documentation page hosted on a custom domain contains the following banner. due to which the page is redirecting to 404 error. Please fix this.

![image](https://user-images.githubusercontent.com/40994626/45081410-c8230280-b114-11e8-8a37-593ba1a6277a.png)

**Expected behavior**
 The above code shouldn't be showing in the source code.

[2018-09-05 09:09] piotr-sokolowski commented on #5134
We have discovered this by looking at our Google Analytics data so even though it's hidden for me, it's definitely visible for some users

[2018-09-05 09:24] milos-savic commented on #6682
+1

[2018-09-05 10:28] aarystan commented on #3845
+1

[2018-09-05 10:59] LeoLiangJin commented on #3312
+1,    My situation is that I need to login in different circumstances, but they  doesn't help set-cookies when response. It causes I need to set cookies by myself. It really helps if modification on pm.cookies reflects on cookie manager.

[2018-09-05 11:00] uvarvu opened #5135 "Postman doesn't update automatically or manually behind a proxy on Linux."
EXPECTED: Postman is automatically updated.
ACTUAL (Logs from the console):

`@postman-app/updater: error { Error: getaddrinfo ENOTFOUND dl.pstmn.io dl.pstmn.io:443
at errnoException (dns.js:50:10)
at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:92:26)
code: 'ENOTFOUND',
errno: 'ENOTFOUND',
syscall: 'getaddrinfo',
hostname: 'dl.pstmn.io',
host: 'dl.pstmn.io',
port: 443 } { packageName: 'Pos

[2018-09-05 11:45] nikolaykolibarov commented on #3874
Still no alternative to Postman Interceptor for desktop Postman application?

[2018-09-05 11:58] kthulsidoss opened #5136 "Conditional logic in test to skip rest of iteration's API calls, move on to next iteration"
Hi i have a collection with 3 requests , the first two are for generating tokens . I run the whole collection 6 times my use case is to run the first two request only one time ie for counter 1 how to make this happen
tx
k.thulsi

[2018-09-05 12:01] johnny-chiang commented on #2691
+1 for this, really need this feature

[2018-09-05 12:15] newthomas commented on #5082
@harryi3t Can we turn this off by default for our team account? It does not make sense to have it enabled by default, because it spreads usernames and passwords from our developers.

[2018-09-05 12:39] peeveeone commented on #4546
+1 for this request, very tedious to walk an API.

My suggestion would be to honor the **Inherit auth from parent** setting, where the original request becomes the parent.

[2018-09-05 12:42] EthanNevo commented on #4898
Totally agree- Postman is used predominantly by developer types, who really appreciate bulk edit.  Yes, a nice GUI is fine for tweaks and simple edits, but having some bulk editor was really powerful and helpful.  Never had a problem with it.

[2018-09-05 13:05] ash007-postman opened #5137 "Error while publishing documentation"
Unable to publish collection, getting "something went wrong error"

![download](https://user-images.githubusercontent.com/41741228/45094862-33330000-b13a-11e8-81a8-2f5ede1bf38a.png)

[2018-09-05 13:06] RonakThakkar opened #5138 "Postman "Get New Access Token""
**Is your feature request related to a problem? Please describe.**
Ability to save and select from multiple entries of "Get New Access Token"

**Describe the solution you'd like**
I use "Get New Access Token" feature frequently.
However I have multiple applications with different flows like implict, Authorization Code etc.
So I would like to save those different paramater values for different flow

[2018-09-05 13:15] kaiserkiwi commented on #2418
Any news on this? This seems to be still a problem.

[2018-09-05 13:38] desinole commented on #3592
Any updates on this issue? It's almost a year since it was first reported and I'm running into the same issues today

[2018-09-05 14:02] anudeepmedicharla opened #5139 "Entering a collection link in the browser opens chrome app by default instead of native app."
Steps to reproduce the behavior:
1. Click on share collection
2. Get a shareable link
3. Open the link in the browser.
4. The browser opens the collection in the chrome app.

**Expected behavior**
It should open the native app.

[2018-09-05 14:29] jamalwalsh commented on #1429
Trying this out right now!!! Absolutely belting feature...

[2018-09-05 14:45] numaanashraf commented on #5136
@kthulsidoss We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2018-09-05 14:45] #5136 closed, assigned to nobody

[2018-09-05 14:52] numaanashraf commented on #5138
@RonakThakkar Thanks for writing in. We are tracking this feature at #3337. Closing this as duplicate.

[2018-09-05 14:52] #5138 closed, assigned to nobody

[2018-09-05 14:58] numaanashraf commented on #5139
@anudeepmedicharla It is not technically feasible to open native apps when a collection link is opened in a browser - only protocol links (starting with postman://) triggers native apps.

[2018-09-05 15:00] paolobiavati opened #5140 "Fast edit parameters"
it could be usefull to edit the parameters with a "fast access modality".
when you hover a {{parameter}} in the url endpoint or in a parameter edit, you can see the value and some info.

Can you please put a button to open the parameters editor or, better, add the ability to edit the value.

Thank you, good work! ;)

[2018-09-05 15:07] nscherer commented on #1783
It did.  :-)

[2018-09-05 15:10] roberto8080 commented on #5082
@harryi3t Indeed, we have identified this a security issue when using Postman in our organisation. The more secure behaviour should be off by default.

[2018-09-05 15:10] anudeepmedicharla commented on #5139
Sorry. Not a bug. This falls under different topic altogether.

[2018-09-05 15:10] #5139 closed, assigned to numaanashraf

[2018-09-05 15:19] whowantsahero commented on #3312
+1, this feature would be extremely helpful for my company's automated tests.

[2018-09-05 15:27] jmauerhan commented on #2418
@shamasis if you still need help reproducing this, it's very easy in PHP, I could get you a docker container that runs the built in php server and returns this invalid response?

[2018-09-05 17:20] rickythefox commented on #3874
I especially miss being able to send requests that automatically include the current authentication cookies. Is there a work-around for this or do I have to copy the cookies manually?

[2018-09-05 18:24] vinniejames commented on #2724
+1

[2018-09-05 19:07] austinemayer commented on #6682
+1

[2018-09-05 20:35] cthurston commented on #2701
+1

[2018-09-05 20:53] geoffrothman commented on #3793
@vkaegis I can't get the chrome interceptor plugin to work with Postman on the Mac either. I followed the instructions, removed port 5555 in the native app and chose History but nothing shows up. any ideas? How else would I troubleshoot API requests in my chrome browser??

[2018-09-05 20:57] geoffrothman commented on #3392
@numaanashraf yes I am experiencing this as well!

[2018-09-05 21:52] abhole opened #5141 "Transferring ownership of monitors when someone leaves the team"
Postman Cloud Bug: We recently had a change in the team and removed someone from our org's postman account. The monitors this person had created were lost as soon as he was removed and we discovered that the next day when we didn't get alerts of the monitor runs.
The environments created by this person were also gone from our workspace.
The collections created by him were transferred over to a tea

[2018-09-05 23:35] joycebaby commented on #2050
We use [Restbird](https://restbird.org/blog/2018/09/01/automate-testing-oauth2.html) our project for they have a solution for this case.

[2018-09-06 00:42] shanepadgett000 commented on #2666
My company is experiencing the same issue. Was this ever resolved? We get a presigned URL and try to PUT an image. It works in the Chrome version but does not work in the Mac or Windows desktop versions.

[2018-09-06 01:18] TurtleBeach commented on #4594
Just installed 64-bit Postman 6.2.5 on Win7 64-bit Intel with Nvidia 510 Graphics Card / 4 monitors / Driver version 354.13; Postman would not run - same blank screen as referenced above, with the Windows "wait" cursor blinking rapidly (NOT rotating) after attempting to start Postman.
Adding the POSTMAN_DISABLE_GPU environment variable seems to have solved the problem.

[2018-09-06 01:50] voycey commented on #3392
Yes now it is a manual process but it works:

Start Xdebug from your IDE - you will get a URL that looks something like this:

http://localhost/XDEBUG_SESSION=78342

You can create a cookie in the Cookies section of Postman to have it use this cookie (Check what your cookie value is and replace there).

![image](https://user-images.githubusercontent.com/1065098/45130192-f7944680-b1ca-11e8-9dc8-75b

[2018-09-06 03:51] aiLvXuan opened #5142 "What's the problem"
Just open the software, and waiting a long time, view nothing
![uc 20180906114320](https://user-images.githubusercontent.com/22241686/45133954-a5ebbc00-b1ca-11e8-961a-e6f35917c1ff.png)

[2018-09-06 04:30] SamvelRaja commented on #5142
We are facing an issue in rendering postman in few selected GPUs.
Kindly, try the workaround provided in this comment https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-09-06 04:30] #5142 closed, assigned to nobody

[2018-09-06 05:27] sanddigital commented on #5141
Looks related to #3274

Out of interest, how did you transfer the collections to another team member? Was this completed using the 'Export Collection' and then import?

[2018-09-06 07:22] DavydeVries commented on #3525
Still waiting for this... Token age would also be a great feature!

[2018-09-06 07:25] rajat304 commented on #4898
Please bring back bulk edit in the environment... It is one of the best features of the postman.

[2018-09-06 07:27] dhineshwiz commented on #5087
Hey @centur thanks for reporting this issue. It looks like the call for updating the usage values are being throttled. We will look into this and keep you updated

[2018-09-06 07:44] JagpreetKaur commented on #3646
When this will be available? Need to use cryto so many times

[2018-09-06 08:10] numaanashraf opened #5143 "Run In Postman not working if macOS app is not running"
**Describe the bug**
Click on RIP on docs page when app is closed - https://docs.api.getpostman.com/. Collection is not imported.

**Expected behavior**
The app should open and import the collection.

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version: 6.2.5
 - OS: macOS High Sierra 10.13.6

[2018-09-06 09:34] nergalex commented on #4578
Same issue with 6.2.5, it's OK now with this workaround posted on issue #4594, thank you harryi3t

[2018-09-06 09:35] Ramya-From-Postman opened #5144 "invalid curl on documentation when file is in multiform"
**Describe the bug**
Curl command on the documentation renders as "undefined" and making it invalid curl for a post request that contains a file uploaded as a value of an attribute.

**To Reproduce**
1. Create a post request that contains a file using form-data
2. view the relevant documentation of that request

**Expected behavior**
As files are not included in the code snippet in the intention o

[2018-09-06 10:00] JairDavis opened #5145 "JS function"
Create a `JS function` and use it directly in all interfaces without duplication on ‘Pre-req’.
Now that you create a method in each request, I need to share a method.
What am I supposed to do?
like this function.................
[code]

[2018-09-06 11:41] bhargavkaranam commented on #5084
This has been fixed in the latest release 6.3.0.

[2018-09-06 11:41] #5084 closed, assigned to bhargavkaranam

[2018-09-06 11:41] bhargavkaranam commented on #4873
This has been fixed in the latest release 6.3.0.

[2018-09-06 11:41] #4873 closed, assigned to bhargavkaranam

[2018-09-06 11:46] harryi3t commented on #4663
@jamesgoodhouse
This is fixed in the latest version of Postman 6.3.0 🎉
![multiple-slashes](https://user-images.githubusercontent.com/5207331/45155332-4906fa80-b1f8-11e8-9deb-1d46799d2205.png)

[2018-09-06 11:46] #4663 closed, assigned to codenirvana

[2018-09-06 11:47] harryi3t commented on #3251
@rubenski
This is fixed in the latest version of Postman 6.3.0 🎉
![no-key-file-does-not-crash-the-request-sending-flow](https://user-images.githubusercontent.com/5207331/45155453-ab5ffb00-b1f8-11e8-8449-c00a2b4667f4.png)

[2018-09-06 11:47] #3251 closed, assigned to kamalaknn

[2018-09-06 11:47] harryi3t commented on #4761
@babacode
This is fixed in the latest version of Postman 6.3.0 🎉
![postman-unreadable-file](https://user-images.githubusercontent.com/5207331/45155513-e3ffd480-b1f8-11e8-9ef4-e94d78d343ae.png)

[2018-09-06 11:47] #4761 closed, assigned to numaanashraf

[2018-09-06 11:54] harryi3t commented on #2666
@sp-tenovos We did not get any feedback on this issue. Could you let me know on how to generate this pre-signed URL so that I can reproduce this issue? If there is some documentation for this, could you also share that link?

[2018-09-06 12:10] harryi3t opened #5146 "Support for team level settings"
Original issue: https://github.com/postmanlabs/postman-app-support/issues/5082

**Is your feature request related to a problem? Please describe.**
In a team of multiple members, the admin wants to change the setting `automatically persist variables values` of all the members to false. So that any confidential value from any environment should not be synced outside of their organization.

**Describ

[2018-09-06 12:17] harryi3t commented on #5082
@roberto8080 @newthomas
I agree, the only reason we chose the default value to be `on` was to avoid any surprises when users update their applications
Although, I have opened a separate feature request for suppoting team level settings
 https://github.com/postmanlabs/postman-app-support/issues/5146

[2018-09-06 12:50] donotnoot commented on #3819
Hello!

I'm experiencing the same thing. I usually develop on my desktop at home, and travel very often, and take my laptop to do some work while away.

What I find is that everytime I start postman to do some debugging while on the go (bus, plane, train, whatever) without internet access, I can't use postman at all. I wouldn't mind being signed out for security reasons every 15 days or whatever,

[2018-09-06 12:58] newthomas commented on #5082
Sounds good, thank you. @harryi3t

[2018-09-06 15:26] olelis commented on #4244
Same problem here.

For example, if API requires authorization (bearer), you can easily configure it on per-folder/per-project level.
However, this is information is not included on the published documentation (you can add it manually via text, of course).

But worse is that it is not included in the example calls.

[2018-09-06 15:55] BrambleRamble commented on #4320
Is there a timeline expected for this please? It's a feature that would help us out a lot, especially if we were able to parameterise the location of the file.

[2018-09-06 16:29] CCob commented on #2360
More and more IdP's are implementing OIDC spec on top of OAuth now and I have hit the same problem.  I worked around it by adding nonce query argument to the auth URL which worked, but a tick box for this would be ideal

[2018-09-06 16:40] brihulse commented on #3274
Plus 1 vote

[2018-09-06 18:04] chrisdeso opened #5147 "Programmatic File Uploads"
**Is your feature request related to a problem? Please describe.**
Currently, it isn't possible to programmatically upload files using Postman. There is a workaround but the inability to leverage the Postman UI when editing the file location isn't ideal – [File uploads using Newman](http://blog.getpostman.com/2017/09/21/run-collections-with-file-uploads-using-newman/).

**Describe the solution you

[2018-09-06 18:15] kyler-hyuna opened #5148 "Collapse Auth and Header area"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Currently the authorization and headers section is visible at all times even if a request does not use it.

**Describe the solution you'd like**
The ability to hide or collapse the a

[2018-09-06 18:49] tolotrasamuel commented on #1850
Problem still persist. Postman for Chrome
Version 5.5.3
win / x86-64
Chrome 67.0.3396.99

[2018-09-06 19:43] pcasaes commented on #2801
+1

[2018-09-06 20:51] rizjoj commented on #2819
+1

[2018-09-06 21:25] abhole commented on #5141
Well, its kinda related but the one you are referring to pertains to
transferring collections. That worked fine for us. we were able to transfer
collections.

It's the monitors that didn't get transferred. If this isn't a bug please
treat it as a feature request.

--
Akshay

On Thu, Sep 6, 2018 at 1:27 AM Steven Anderson <notifications@github.com>
wrote:

[2018-09-06 21:28] igolus commented on #2819
+1

[2018-09-06 22:08] sanddigital commented on #5141
Ok, so how did you transfer the collection owned by the team member that
left?

On Fri, Sep 7, 2018, 07:25 Akshay Bhole <notifications@github.com> wrote:

[2018-09-06 23:38] bj97301 commented on #3117
help yo

[2018-09-07 01:57] andrew-jones commented on #3415
I just had this problem too, spent 30mins cleaning up duplicates in a public postman doc.  Version 6.2.5 of Postman.

[2018-09-07 03:37] godfrzero commented on #4240
Heading IDs are automatically generated for all heading tags in the public documentation now (h1 - h6).

[2018-09-07 03:37] #4240 closed, assigned to godfrzero

[2018-09-07 03:41] godfrzero commented on #2719
Public docs using a custom domain will now display a custom favicon if available. For example, if your custom doc is hosted at `api.example.com`, the favicon at `https://example.com/favicon.ico` will be used. Redirects are followed (unless the browser is configured otherwise). HTTPS is required, to avoid serving mixed content.

The ability to upload a different favicon is still a work in progress,

[2018-09-07 03:42] godfrzero commented on #3632
Update on the custom favicon, as posted on #2719:

[2018-09-07 05:40] ankit-m opened #5149 "Incorrect monitor URL after creating a monitor"
**Describe the bug**
The monitor URL after creating a monitor from the context menu does not link to the monitor and uses the old URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Open collection context menu
2. Click on `Monitor collection`
3. Click Next
4. See old monitor URL

**Expected behavior**
It should link to the dashboard monitor details page.

**App information (please complete

[2018-09-07 05:42] prashantagarwal commented on #5149
Duplicate of #4976

[2018-09-07 05:42] #5149 closed, assigned to prashantagarwal

[2018-09-07 05:46] chrisdeso commented on #2209
Friendly bump :)

[2018-09-07 07:33] Ramya-From-Postman opened #5150 "Pre tags shouldn't be wrapped in the documentation"
**Describe the bug**
Upon using a large table with 10 columns in a document, it works looks in the app. However, when it is published, only 8 full columns are shown with the 9th being cut off and the rest not visible. Also, within columns, the text is wrapped which makes some column data illegible.
Changing this HTML table to an ascii table and embedding it as code using enclosing three backticks

[2018-09-07 08:47] vkaegis commented on #5148
@kyler-hyuna Thanks for writing in! We're exploring some solutions around being able to collapse certain views based on how you use them. No ETA on this just yet, but watch this space for updates.

[2018-09-07 09:41] arnabitsme opened #5151 "No Code Snippets For fetching the keys from response"
I am not able to find any function or code snippets to fetch the keys (not data or value) from the response  and compare with the keys of an external json.
If I have a requirement of comparing the keys between external json and response then how should I do it.
Example : The external json has client id, Salary, age where as the repose send client id , Salary, gender and Age then the test code shou

[2018-09-07 10:59] thomasdgithub commented on #6682
+1