[2015-12-18 11:30] anthonycmain commented on #125
THE DISTANCE - Year in Review

2015 has been an exciting year for The Distance. We have welcomed many new clients and there has been a major shift in our offering. Now all we do is Apps!

To celebrate we have just launched the latest iteration of our website, which we'd love you to check out and send us any feedback.

New Website: https://thedistance.co.uk

Revised Company Values: https://thedista

[2015-12-18 14:00] ocot2 commented on #1097
In the main URL bar, not the OAuth2 form.  I found with one of my environments, variables aren't being pulled properly into either the Pretty-View Body or main URL bar.  Only hardcoding the values was I able to get success.

[2015-12-18 14:01] abhijitkane commented on #1097
Is this only happening for one environment? Can you try adding a global variable and see if that's replaced?

Also, what version of Postman are you on?

[2015-12-18 19:31] swathisham opened #1623 "Unable to store the response variable in Environment variable"
Got the answer..Thanks

[2015-12-18 19:32] abhijitkane commented on #1623
`data` is an array. Use `data[0].DynamicID`.

[2015-12-18 21:17] swathisham commented on #1623
Still I am getting the value as undefined in the env variable

[2015-12-18 21:19] abhijitkane commented on #1623
Can you change your test script to the following:

[code]

You should then be able to open the console (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/). Can you paste the relevant output from the console here?

[2015-12-20 18:41] haroldfredshort commented on #1618
Is this the type of information you are looking for?
OSX El Capitan
MacBook Pro (Retina, 15-inch, Mid 2014)
2.5 GHz Intel Core i7
16 GB 1600 MHz DDR3
Intel Iris Pro 1536 MB

[2015-12-21 05:20] shamasis commented on #1618
Yes. I guess we can rule out performance related race conditions since your system is more than powerful. :-) Are you still frequently seeing this error? Is your Postman Mac app updated to latest?

[2015-12-21 19:27] dewdad commented on #1533
+1 Please resolve this issue. Many of the environments I have setup have stopped working because of this regression. I have started looking around for alternatives to your wonderful product just because of this issue.

[2015-12-21 20:39] haroldfredshort commented on #1618
I only got the error the one time, and I was on the latest (as far as I
know).

On Sun, Dec 20, 2015, 21:20 Shamasis Bhattacharya notifications@github.com
wrote:

[2015-12-21 20:51] shamasis commented on #1618
Thank you for reporting this. We have added this to our lists of things to keep looking out for. Since we couldn't replicate it at our end yet, would it be okay if we close this for now? We suspect that one of our other fixes might have unknowingly fixed this issue in our internal builds. If we encounter this again or if you do the same, we can reopen.

[2015-12-21 21:13] besir commented on #366
+1 for tab

[2015-12-21 22:04] haroldfredshort commented on #1618
Yes, feel free to close. Thanks for looking into it.

[2015-12-22 12:59] thirtified commented on #1360
+1, I am also very interested – currently I have to use my own OAuth flow because of this. Any chance you could open this up for us to contribute?

[2015-12-22 14:03] thirtified commented on #1360
A quick fix would be to send client credentials both via header and body, for making local requests:

[code]

[2015-12-22 17:03] welcoMattic commented on #86
+1

[2015-12-22 21:28] swathisham commented on #1623
This issue is resolved

[2015-12-22 21:28] #1623 closed, assigned to nobody

[2015-12-22 21:49] swathisham opened #1624 "Long to String Parsing"
How to parse the env variable to string and use it in the next GET request?

[2015-12-22 21:56] swathisham commented on #1624
![image](https://cloud.githubusercontent.com/assets/16354764/11966931/c6374f38-a8b3-11e5-8eb7-1c0288f73064.png)

[2015-12-23 02:46] sibalas opened #1625 "Data upload - Support Ticket"
HI Team,
Need a help.I have  web services for registrations which have 3 separate requests. Step 1,Ste 2 and Step 3 and i need to run them sequentially to create a account .
For each step i need to feed input data(unique values).Please let me know the steps to do this above activity  in Jetpack.

Thanks,
Siva

[2015-12-23 10:53] cjpetrus commented on #86
+1

[2015-12-23 11:28] konfilios commented on #156
+1

[2015-12-23 11:40] glenndarwis opened #1626 "Hangs Upon Starting"
Experiencing an issue where, upon startup, Postman hangs and CPU % is at 100 for Google Chrome Helper process. Need to know how to extract collections.

[2015-12-23 11:43] abhijitkane commented on #1626
@glenndarwis Are you .n the latest version of Postman - 3.2.7? You can check by going to chrome://extensions. If you have Sync enabled, try reinstalling Postman.

The local DB can be found by going to chrome://indexeddb-internals/ and searching for fhbjgbiflinjbdggehcddcbncdddomop. If you can recover the files/folders there, you should be able to recover it later.

[2015-12-23 11:52] glenndarwis commented on #1626
I do have the latest version installed but I don't have Sync enabled. Big mistake. I couldn't find fhbjgbiflinjbdggehcddcbncdddomop in IndexedDB. Is there another place where the Collections are stored?

[2015-12-23 13:03] chrisco512 commented on #576
Definitely cost me 5-6 hours of time not realizing the fix was to remove the Content-Type header altogether.  This is not very transparent.  Would recommend a warning tooltip or something similar.

[2015-12-23 17:23] Evanlec commented on #697
+1

[2015-12-23 19:15] abhijitkane commented on #1626
Can you head to chrome://extensions and search for Postman? Do you see fhbjgbiflinjbdggehcddcbncdddomop or some other ID?

Also, you can follow the steps at http://blog.getpostman.com/2015/06/13/debugging-postman-requests/ and enable DevTools for Postman. Then you'll be able to right click > Inspect element when Postman loads and check for any errors in the console.

[2015-12-23 19:22] abhijitkane commented on #1624
Environment variables are already strings. Use `environment.variableName` in your test script to access the variable. I'm not sure what the screenshot is supposed to show. Data is an empty array, and you're trying to access the PhoneID property of an object that doesn't exist.

[2015-12-23 19:22] abhijitkane commented on #1625
You can use the collection runner for this. Check the blog post at http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/

[2015-12-23 23:13] prestonvanloon opened #1627 "Hawk authentication port"
Allow a port to be specified for the hawk authentication header

[2015-12-24 19:29] igorsantos07 commented on #85
I've been wanting this feature for ages <3
However, I had to dig through Google to find it. Is there any place where it's explicitly shown to new users that I've missed?

[2015-12-25 16:14] AliSepehri opened #1628 "I have problem when I write `Response` word in my markdown description."
I'm using markdown to write description for my APIs. If I have `Response` word as header in my description, a big white space appears after sending request! When I change `Response` word to something else problem disappears.

_For example:_
#### Response

[2015-12-27 05:29] pawanrawal commented on #1628
Hi Ali

Could you please tell me what version of Postman are you using and send across a screenshot of this if possible ?

[2015-12-27 06:00] kryogenic commented on #1626
I had this same issue, postman would become unresponsive on startup but if I left it for about 5 minutes it would respond again, though it was noticeably sluggish.

For me all I had to do was clear all the requests in the history tab (use the little garbage can icon) and postman worked like new.

[2015-12-27 06:36] AliSepehri commented on #1628
@pawanrawal, today functionality has been changed and it doesn't show `Response` word.

##### Postman Info:

[code]

#### My markdown description:

![markdown](https://cloud.githubusercontent.com/assets/7887290/12009135/ffc51430-ac80-11e5-844d-252b86e11cc8.png)

#### And result:

![result](https://cloud.githubusercontent.com/assets/7887290/12009137/29885c82-ac81-11e5-8f9a-bbfb0f47e47f.png)

[2015-12-27 07:41] pawanrawal commented on #1628
Ali

Thanks for reporting this.This is an issue with our markdown library. It auto-sets the content of the h4 element as its ID. We’ll fix this in version 3.2.9.
Let me know if you face any other issue.

[2015-12-28 02:57] dimohamdy commented on #1363
:+1:

[2015-12-28 06:04] AliSepehri opened #1629 "File type parameters don't save their values."
The parameters with file type don't save their values and this cause problems in test `Runner`.

![post](https://cloud.githubusercontent.com/assets/7887290/12014606/c9c7239a-ad44-11e5-8321-a20c83aad689.png)

[2015-12-28 08:15] 3kynox opened #1630 "Could not complete Oauth2.0 login..."
Hello Folks,

I set past week a OAuth v2 authentification with Symfony and REST API and everything was working great:
- Client creation using Symfony console
- Manual token generation using that client
- Accessing my REST resources throught this token
- POSTMAN was accessing my resources too correctly once logged with OAuth2.0

Since I merged with my team mate, manually accessing my resources work

[2015-12-28 13:46] abhijitkane commented on #1630
Since the server is on localhost, you'll need to check the `Request access token locally` option near the `Get access token` button.
You should then see a popup window when you click the button, and a saved access token when you complete the OAuth2 flow.

[2015-12-28 14:04] 3kynox commented on #1630
That option is already selected, same results.

When it was working before, forgetting that option was generating **_result:failed**_ after the window popped up and allow button was selected. When option is selected the result was successful.

Now, since it don't work anymore, I don't have any pop-up window that appear (like before) and it throw error "Could not complete Oauth2.0 login" after few

[2015-12-28 15:13] abhijitkane commented on #1630
Can you check the console for any errors? (Details at http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)

Also, what version of Postman are you on? You can check by going to `chrome://extensions`.

[2015-12-28 15:53] 3kynox commented on #1630
POSTMAN version is 3.2.8.

I checked console quickly before leaving office:

[code]

However auth url adress set looks like ok and be the same in POSTMAN than in my manual tests.

I look more further console when back at home.

Thanks for way to check errors.

Regards.

[2015-12-28 16:05] prestonvanloon commented on #1627
@czardoz here's a bit more information:

https://github.com/hueniverse/hawk/blob/master/lib/client.js#L92

Ideally, all of those artifact options could be changed. Thanks!

[2015-12-28 16:06] czardoz commented on #1627
@prestonvanloon thanks! We'll push out a fix the upcoming release :-)

[2015-12-28 16:09] prestonvanloon commented on #1627
To change the host or port, you have to manipulate the uri. I know that may sound weird, but the use case is that when the request goes through a load balancer, the port could change. In my case, a https request is routed to port 80 after going through a load balancer. The server sees the request came on port 80 but the authorization was signed on port 443 so it rejects the authorization.

[2015-12-28 16:21] abhijitkane commented on #1630
If you copy the contents of the Authorization URL and paste them in your Chrome address bar, do you see the login page?

[2015-12-28 18:36] alliequintano commented on #649
Hello, I am still experiencing an issue with environment variables not being evaluated before the request is sent.

I am using Postman Version 3.2.7 (packaged).

I am making a request with a raw JSON using the {{..}} delimiters. When I wrap the environment variable in a string, the variable is not evaluated. When I don't wrap it in a string, I get a bad request response because the value is not a

[2015-12-28 18:39] abhijitkane commented on #649
@alliequintano Are you facing the issue with global variables as well? Try adding a global variable (Manage environments > Globals). If added correctly, you should see the variable appear in the list when you click on the "x" icon near the environment menu.

[2015-12-28 18:49] alliequintano commented on #649
@abhijitkane I just gave it a go, and did not experience any different behavior than I have described (variable is not being evaluated). I am seeing the global variable when clicking on the X icon.

I had not tried it with global variables yet since I need the variable to be environment-specific for my purposes.

Thank you for the quick reply.

[2015-12-28 19:47] abhijitkane commented on #649
@alliequintano Can you contact us at help@getpostman.com?

[2015-12-28 19:49] 3kynox commented on #1630
Yes sir... Not exactly finally, as it asks a client id:

![screen_1](http://i.imgur.com/ZWijpLU.png)

If I give the client id, login show up :

![screen_2](http://i.imgur.com/kQH9Sjh.png)

After logging successful, I got the aprove / deny buttons :

![screen_3](http://i.imgur.com/Oq0yyWX.png)

[2015-12-28 19:59] abhijitkane commented on #1630
Have you prefixed the Authorization URL with `http://`?

[2015-12-28 20:48] 3kynox commented on #1630
Yup!

![screen_4](http://i.imgur.com/u2ffvwz.png)

[2015-12-28 21:13] swathisham opened #1631 "How to compare the env variable and the value in the json response?"
I want to compare the env variable and a value in the json response.If its not matching it should show an error.

eg: if( environment.varname != response.datavalue)
{
Print or show the test is failed
}

[2015-12-28 21:16] #1624 closed, assigned to nobody

[2015-12-29 06:16] swathisham opened #1632 "How to retrieve the value from Nested JSON array?"
I want to get the value of each EmailID
[code]

[2015-12-29 07:40] abhijitkane commented on #1630
If there's no client entry in your database, can you try downloading Chrome Canary (https://www.google.com/chrome/browser/canary.html) and try installing Postman there? There might be some state cached in the Chrome sandbox, which is hard to get rid of at the moment.

[2015-12-29 07:40] 3kynox commented on #1630
Good Morning, doing this ! :)

[2015-12-29 08:03] elssar commented on #1632
Hi @swathisham

I'm guessing you receive this json in the response body.
To get a list of all the email id's returned in the response, you need to add this in your test script

[code]

All the `EmailID`'s will be in the array `emailIds`

[2015-12-29 08:22] elssar commented on #1631
Hi @swathisham

This is how you can test whether a response value matches an environment variable

[code]

For more on testing in Postman, you can checkout the [documentation](http://www.getpostman.com/docs/writing_tests)

[2015-12-29 08:38] 3kynox commented on #1630
Sadly, I get no changes.

I double-checked to launch the correct POSTMAN (using Canary) and close normal Chrome browser :

![screen_5](http://i.imgur.com/p8q2HhT.png)

[2015-12-29 08:41] abhijitkane commented on #1630
Is your internet enabled? Even if the OAuth2 server is hosted locally, Postman will need to contact getpostman.com to start the OAuth flow.

Also, you could enter the Authorization URL as `https://github.com/login/oauth/authorize`, and Access Token URL as `https://github.com/login/oauth/access_token`, and dummy values for Client ID and Client Secret, and see if the Github login page shows up.

[2015-12-29 08:46] 3kynox commented on #1630
Yes, net is up (local server is on the same machine I'm using right now) and github showing login window using dummy values and auth / access_token github url.

[2015-12-29 09:05] abhijitkane commented on #1630
Can you verify that there are no trailing or leading spaces when you enter the Auth/Access token URLs?

Also, you can try setting the Auth URL to `http://courtier-web-symfony-rest-api/CRM/app_dev.php/oauth/v2/auth` and see if the 'Client not found' page shows up.

[2015-12-29 09:22] 3kynox commented on #1630
Checked if there is any space, there's none.

Auth URL in chrome browser still asks for Client if not given;
Inside postman while removing client_credentials, same result, still display Could not complete ... and throw console js error about auth page.

[2015-12-29 10:50] #676 closed

[2015-12-29 10:52] #1009 closed, assigned to nobody

[2015-12-29 10:53] a85 commented on #993
Mac app available at www.getpostman.com/apps. Should fix all chrome platform related issues.

[2015-12-29 10:53] #993 closed, assigned to nobody

[2015-12-29 10:55] #1086 closed, assigned to nobody

[2015-12-29 10:56] a85 commented on #1077
Not able to replicate.

[2015-12-29 10:56] #1077 closed, assigned to nobody

[2015-12-29 10:57] #1216 closed, assigned to nobody

[2015-12-29 10:58] #1200 closed, assigned to nobody

[2015-12-29 10:58] #1293 closed, assigned to nobody

[2015-12-29 10:59] a85 commented on #1291
Available on the OSX app at www.getpostman.com/apps

[2015-12-29 10:59] #1291 closed, assigned to nobody

[2015-12-29 11:00] a85 commented on #1290
Better cookie support is available on the OSX version now.

[2015-12-29 11:00] #1290 closed, assigned to nobody

[2015-12-29 11:01] a85 commented on #1267
@abhijitkane fixed in the current version?

[2015-12-29 11:01] #1331 closed, assigned to nobody

[2015-12-29 11:02] abhijitkane commented on #1267
Yep

[2015-12-29 11:02] #1267 closed, assigned to nobody

[2015-12-29 11:04] #1503 closed, assigned to nobody

[2015-12-29 11:05] #1532 closed, assigned to nobody

[2015-12-29 11:06] #1608 closed, assigned to nobody

[2015-12-29 13:18] abhijitkane commented on #1617
This is a bug with our swagger converter. It doesn't handle PATCh requests. We've added this to our Todo list.

[2015-12-29 13:20] #1618 closed, assigned to nobody

[2015-12-29 13:26] abhijitkane commented on #1610
@HenrikHL This was a bug with our HTML prettifier. We've fixed this and will include it in the next release. Thanks for reporting this.

[2015-12-29 13:28] abhijitkane commented on #1598
Fixed in the latest version.

[2015-12-29 13:28] #1598 closed, assigned to abhijitkane

[2015-12-29 13:29] #1597 closed, assigned to abhijitkane

[2015-12-29 13:30] abhijitkane commented on #1596
@raptium v0.2.14 has this fix.

[2015-12-29 13:30] #1596 closed, assigned to abhijitkane

[2015-12-29 13:39] abhijitkane commented on #1592
`"W/\"eyJ` in JSON represents this string: `W/"tyJ`. The backslash is meant to escape the `"`.
The value set in the globals is correct. If you want to include the backslash in the actual string, use `"W/\\\"eyJ`

[2015-12-29 13:39] #1592 closed, assigned to nobody

[2015-12-29 13:45] abhijitkane commented on #1591
Bootstrap seems to detect the click event outside the modal as a trigger to close the modal, even if the click was to end a mouse drag. @a85 - the new app should fix this.

[2015-12-29 13:47] abhijitkane commented on #1590
@paulsperanza Can you confirm this fixed in v3.2.8?

[2015-12-29 13:55] paulsperanza commented on #1590
Yes it is generates the code now.

[2015-12-29 13:55] #1590 closed, assigned to abhijitkane

[2015-12-29 15:04] milesje opened #1633 "Environments variables show as errors in raw JSON(application/json) body"
{
    "method": "search",
    "searchParams": {
        "name": {{searchName}},
        "username": {{searchUsername}},
        "date": {{searchDate}}
    }
}

This shows errors on lines 4 & 5
Line 4:
Expected a string and instead saw {.
Expected ':' and instead saw 'searchName'.
Expected a JSON value.

Line 5:
Expected a string and instead saw {.
Expected ':' and instead saw 'searchName'.
Expecte

[2015-12-29 17:15] oillio opened #1634 "Offline mode"
It would be nice to have an offline mode in the app.
I seem to get into a state where the app can't connect to the server on occasion.
When this happens, the status icon keeps cycling between "Connecting" and "Offline."
Due to the position, size, and colors, this is rather annoying.
I'd like to be able to stop this cycle without logging out.

[2015-12-29 17:21] abhijitkane commented on #1589
@kwartel  This was an issue with our HTML indenting library. We've fixed this, and will be pushing it out in the next release. Thanks for reporting this.

[2015-12-29 17:25] sobtiankit commented on #1634
Noted. We are working on a redesign of the app, which should make the reconnection a lot more subtle. In the meantime, can you share your user id/email? You can mail us at help@getpostman.com.
I would like to investigate why this might be happening for your account, since we haven't heard otherwise.

[2015-12-29 17:26] abhijitkane commented on #1633
The errors are due to the text editor not recognising this as valid JSON. Once the variables are replaced, it'll be valid JSON, but that won't show in the text editor. We'll need to update the library to allow `{{..}}` as a string value.

[2015-12-29 17:28] abhijitkane commented on #1629
This is currently a restriction of the Chrome app platform. We cannot save references to files. We're working on a native app where we'll be able to overcome this.

[2015-12-29 17:29] abhijitkane commented on #1629
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1113

[2015-12-29 17:29] #1629 closed, assigned to nobody

[2015-12-29 17:40] abhijitkane commented on #1040
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/1113

[2015-12-29 17:41] abhijitkane commented on #645
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/1113

[2015-12-29 17:41] #645 closed

[2015-12-29 17:52] abhijitkane commented on #1533
@dewdad Can you confirm this fixed in v3.2.8 of the app?

[2015-12-29 17:56] abhijitkane commented on #1576
We've fixed this and will be pushing a fix in the next release. If an environment is selected in the Postman window, that'll be set. If not, the environment last used during a run will be set.

[2015-12-29 17:58] abhijitkane commented on #1517
@JustinSarwer This has been fixed in the latest version of the app - v3.2.8.

[2015-12-29 17:58] #1517 closed, assigned to nobody

[2015-12-29 17:59] #1492 closed, assigned to nobody

[2015-12-29 18:00] abhijitkane commented on #1488
@alaindresse Are you still facing the issue? Can you try sending a GET request to http://echo.getpostman.com/get with your header, and see if it appears in the response?

[2015-12-29 18:00] #1479 closed, assigned to nobody

[2015-12-29 18:03] kbhutchinson commented on #1533
Updated to v3.2.8 and this issue seems resolved. Thanks.

[2015-12-29 18:04] #1533 closed, assigned to nobody

[2015-12-29 18:04] abhijitkane commented on #1464
@kirk-marple Most providers use access_token to store the actual token which is meant to be used to make the request. We can fallback to id_token if access_token is not found, but the default will always be access_token. We're working on customizing this part of the OAuth flow.

[2015-12-29 18:18] #1471 closed, assigned to nobody

[2015-12-29 18:25] lonsun commented on #1533
I just tried with v3.2.8 and it worked for me as well.  Thanks!

[2015-12-29 18:32] abhijitkane commented on #1422
@Andrewpk This has been fixed in v3.2.8 of Postman. Sorry for the delay on this.

[2015-12-29 18:32] #1422 closed, assigned to numaanashraf

[2015-12-29 18:33] abhijitkane commented on #1371
@jkrrv This was an issue with our HTML indenting library. We've fixed this, and will be pushing it out in the next release. Thanks for reporting this.
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/1589

[2015-12-29 18:33] #1371 closed, assigned to nobody

[2015-12-29 18:37] #1261 closed, assigned to nobody

[2015-12-29 18:38] abhijitkane commented on #1247
@mkpenrod05 Sorry for the delay on this. We've made a number of fixes in the response viewer. Can you confirm this fixed in the latest version - 3.2.8?

[2015-12-29 18:39] #1244 closed, assigned to nobody

[2015-12-29 18:39] #1217 closed, assigned to nobody

[2015-12-29 18:39] #1199 closed, assigned to nobody

[2015-12-29 18:40] abhijitkane commented on #1195
@gitlucky Can you confirm this fixed in v3.2.8?

[2015-12-29 18:42] abhijitkane commented on #1167
@ksmithmonex In the latest version of the app, `testfield` will be a blank string if it's specified as null in the CSV/JSON file.

[2015-12-29 18:42] #1167 closed, assigned to nobody

[2015-12-29 18:43] #1099 closed, assigned to nobody

[2015-12-29 18:45] abhijitkane commented on #1088
The URL is `http://services.odata.org/V4/(S(cnbm44wtbc1v5bgrlek5lpcc))/TripPinServiceRW/Airlines('{{AirlineCode}}')?$select={{$select}}`
Postman will only recognize the part after the `?` as the query string. Any variables used before the `?` will not be detected as URL params.

[2015-12-29 18:45] #1088 closed, assigned to nobody

[2015-12-29 18:45] abhijitkane commented on #994
Have fixed in the vkbeautify library and will push in 3.2.9.

[2015-12-29 18:45] #994 closed, assigned to nobody

[2015-12-29 18:48] abhijitkane commented on #924
@cnanney Can you confirm this fixed in 3.2.8 of the app?

[2015-12-29 19:34] cnanney commented on #924
In 3.2.8 (packaged), this is resolved. I do notice that the "copy response to clipboard" button always produces the same output, rather than copying the raw response if you are viewing the raw tab when you press the button.

This is no big deal, because if you want the actual raw data, you can always just manually copy and paste it from the textarea.

[2015-12-29 19:47] dewdad commented on #1533
I'm still facing the issue, but instead of being null, it is the variable template itself being used. This should not be possible I think. I believe that in the case of an undefined variable scenario an empty string should be used as the value. This would make the most sense and would allow for contexts to not define variables that are irrelevant respectively.
![postmanbug](https://cloud.githubuse

[2015-12-29 19:53] abhijitkane commented on #1533
This is intended behavior. Having a blank variable and not having a variable should produce different results. We'll look at ways to identify variables that have not been declared in the selected environment. A warning near `{{varName}}` if `varName` is undeclared, perhaps.

[2015-12-29 20:04] dewdad commented on #1533
Different results... I"m not sure. But I cannot foresee anyone wanting to use the {{varname}} template itself.

[2015-12-29 20:27] AliSepehri opened #1635 "UX bug in Add to Collection feature"
##### Version

[code]
##### Problem

َ1. Assume that I have a request in my collection and I click on `Add to collection` and I select a path to save the new request:
![add to collection](https://cloud.githubusercontent.com/assets/7887290/12041362/fa4aa270-ae85-11e5-8984-a5c06cf96e8b.png)
2. New request is `selected` in left menu but main section doesn't change to new request.

I and all of my fri

[2015-12-29 20:31] abhijitkane commented on #1635
I'm not able to reproduce this.
I have a request called `r1` saved in a collection `c1`, and have it opened in the main section. When I click 'Add to collection', and save it in a new collection with name `r1-new`, the name in the main section (and the name of the tab) change to `r1-new`. Are you seeing different behaviour?

[2015-12-29 20:40] AliSepehri commented on #1635
@abhijitkane I and my friends always had this issue. Apparently it is resolved in recent versions. Thank you :)

[2015-12-29 20:40] #1635 closed, assigned to nobody

[2015-12-30 04:56] #1625 closed, assigned to nobody

[2015-12-30 06:44] czardoz commented on #1627
@prestonvanloon, ah your use case makes the issue a lot more clearer.

At first I thought I had missed making a parameter configurable.

The right way to fix this is to configure your load balancer to forward the port to your server using the `X-Forwarded-Port` header, and have the server use this port value when calculating the signature.

[2015-12-30 06:46] czardoz commented on #1627
Also, you will have to support `X-Forwarded-Proto` too, in all probability :)

[2015-12-30 06:57] a85 commented on #156
@shamasis @czardoz Possible to get this in any way?

[2015-12-30 08:10] 3kynox commented on #1630
Ready for any help & test purposes.

[2015-12-30 09:46] chimit opened #1636 "Spaces in the collection name after exporting into the file"
If a collection name has spaces (for ex., "My collection") and you export it into the file, it receives an ugly name like My%20Collection.json.postman_collection. I think, it would be much better if spaces are replaced with dashes or underscores.

[2015-12-31 04:23] chimit opened #1637 "GET params toggles"
Please, add toggles for GET params as well as toggles for body params in POST, PUT.

![postman 2015-12-31 12-22-30](https://cloud.githubusercontent.com/assets/839349/12061125/43ca4322-afb9-11e5-8f9c-1c97e62d2c4a.png)

[2015-12-31 04:34] fizerkhan commented on #366
+1 for tab

[2015-12-31 04:35] a85 commented on #366
This is not coming any time soon folks. Please use the Mac app: www.getpostman.com/apps. Other native versions coming soon.

[2015-12-31 05:40] firoz942 commented on #398
HMAC-SHA1 is same as RSA-SHA1?, bcoz i want to hit API of MasterCard in which it supports only OAUTH with RSA-SHA1 signature method, im facing this issue form last 3 days, can you help me..

[2015-12-31 07:32] stefensuhat opened #1638 "PUT with Form Data cannot get the value on server side"
Hi,

I'm using postman with PUT method and Form Data type.

But I can't get the value result send from postman at server. When I change to post it working perfectly.

[code]

I'm using Laravel on serverside and try to var_dump the request. But it always empty.

If I change the form data to form-urlencoded it works perfectly but it can't upload a file.

I only have Authorization at my header.

Is i

[2015-12-31 12:58] arunstan commented on #283
Yes this will be much appreciated. Include the oauth_verifier field in the form and include it for signature construction.

[2015-12-31 21:56] octurion opened #1639 "Embedded videos should not play at all"
Steps to reproduce:
1. Perform a GET request on http://www.rickandmortyadventuresall100years.com/
2. Wait a few seconds (for the video to load in the background)

What happens:
- You can listen to the video's sound (and it's not possible to stop it and/or mute the sound)

Additional information:
- Only tested on Ubuntu 14.04 (with Chromium)

[2016-01-01 05:47] abhijitkane commented on #1639
Thanks for reporting this. We have a 'preview' mode where you can view the web page. That starts loading even if you're not on the 'preview' tab. We'll fix this in an upcoming release.

[2016-01-01 05:49] abhijitkane commented on #1638
We haven't had any issues reported with this. Are you able to send PUT requests successfully through cURL?

[2016-01-01 19:47] crittelmeyer commented on #833
:clap:

[2016-01-03 09:59] freak4pc commented on #256
Is this still planned? I shared a link and would like to delete it since it contains some sensitive data...

Thanks :)

[2016-01-03 13:03] shamasis commented on #256
IMHO, not really. It's quite difficult to allow deletion of an anonymously shared collection. Any ideas/suggestion would be cool though.

In case it is not anonymously uploaded, you can definitely update the URL with a blank collection and we are working on better management of the URL when you're logged in.

[2016-01-03 18:19] freak4pc commented on #256
That would force me to delete my collection ... I don't see the exactly problem. A third "destructive" button on this screen should be added. "Delete URL" ... that would just destroy the file on your storage after a warning prompt. What do you think on that solution ?

![83f582f4-11b6-4ec6-8ef4-58c74d1f8ff1](https://cloud.githubusercontent.com/assets/605076/12080050/4b242534-b257-11e5-8a4b-901901a

[2016-01-04 01:17] abhijitkane commented on #256
@freak4pc If you were signed in when you uploaded the collection, you can click your username (on the top-right corner of the Postman window) > My collections. Here, you should see an entry for this collection which you should be able to delete.

[2016-01-04 08:42] freak4pc commented on #256
Oh cool :) That's exactly what I was looking for.
Maybe adding this button in the aforementioned location would be an improvement?

Thank you!

[2016-01-04 09:07] sagiavinash opened #1640 "Feature Request - Change log/version control of API's"
As API's change due to rapid development of features or refactoring. keeping track of changes is tough. Ability to have a timeline of changes would be great. since its version control, git integration would be great instead of building it from scratch for postman.

[2016-01-04 09:14] abhijitkane commented on #256
Yep..we've added this to our usability roadmap and will try to take this up soon.

[2016-01-04 10:19] czardoz commented on #1627
Closing this issue, since no changes are required in Postman.

[2016-01-04 10:19] #1627 closed, assigned to czardoz

[2016-01-04 12:47] roeschjohannes opened #1641 "Feature-Request: Jasmine Testing Framework"
Is it possible to integrate Jasmine Testing Framework in Postman and Newman? (http://jasmine.github.io/)

[2016-01-04 14:31] eli-b commented on #752
This issue is still a blocker for using Postman with OAuth 2.0 for me. @a85, I'd send a PR if I could, I imagine resolving this shouldn't be too difficult.

[2016-01-04 17:28] sobtiankit commented on #1634
Closing the issue, post resolution of the reconnections.

[2016-01-04 17:28] #1634 closed, assigned to nobody

[2016-01-04 17:30] sobtiankit commented on #1640
@sagiavinash point well taken. this is something we are actively working on and will be releasing at some point early Q1 this year. Will keep you posted!

[2016-01-04 18:52] agulab commented on #1574
I'm having the same issue: after typing a new header and hitting TAB, the focus is lost. It doesn't go to the URL field in my case.

Version 3.2.8 (packaged)
OS: linux
Architecture: x86-64
Native client architecture: x86-64

[2016-01-04 20:25] luveti opened #1642 "Body Tab of response: take up full height"
Could you guys add a "Expand" button to the body tab? So that when I scroll down it doesn't start scrolling the bottom area before the top area is completely scrolled up. It doesn't feel as intuitive as it could be for long responses, and I find myself moving the mouse over to the side to see more of the response at once.

Here's a gyazo mp4 of what I mean: https://i.gyazo.com/4a2dd65f6450e355939e

[2016-01-05 01:41] miguelbalboa commented on #213
+1

[2016-01-05 11:03] buehler commented on #719
I'd :+1: this :) I'm currently writing tests for an API we developed and it would be an awesome feature to use remotely hosted json schematas

[2016-01-05 12:57] HenrikHL commented on #1610
@abhijitkane Thank you - could you let me know which version it will be fixed in (I am currently using version: Version 3.2.8 (packaged))

[2016-01-05 19:25] dperjar commented on #1626
Had same issue, @kryogenic suggestion worked.

[2016-01-05 20:19] mpurdon commented on #882
+1

[2016-01-06 09:31] cadwmaster commented on #851
+1

[2016-01-06 09:34] dvankooijk commented on #851
+1

[2016-01-06 13:37] calebrepkes commented on #1611
I would like this feature in the future too.

[2016-01-06 16:43] pauleck opened #1643 "Runner - data variables in XML POST Body"
Hi

I'm posting XML to a web service.  I would like to use Runner to send multiple requests using a datafile.  The {{VAR}} syntax works great for JSON but doesn't seem to for XML?  Is this possible?

(Great product by the way!)
Thanks
Paul

[2016-01-06 18:35] gitlucky commented on #1195
Yes, it works great now! I'm running Version 3.2.9 (packaged).
Thanks for the fix.

[2016-01-06 18:35] #1195 closed, assigned to nobody

[2016-01-06 20:57] mpurdon opened #1644 "Environment variables being parsed as HTML entities"
When adding a variable to the environment, it appears to parse `&#9` as a horizontal tab when saving so that:

`x_q=26@jbn-8col3mk&#9a_5t4bkq91x6o=)lvc8(*1^=@^ku5`

is changed to (note the space in the middle):

`x_q=26@jbn-8col3mk   a_5t4bkq91x6o=)lvc8(*1^=@^ku5`

[2016-01-07 07:19] pawanrawal commented on #1643
Hi Pauleck

Thanks for writing in. I would require a bit more information from you on this to help you.

Can you please tell me what is the format of your data file ? Do you mean that data variables work for you when you are sending a POST request with content-type `application/json` and not when the content type is `application/xml` ?

Thanks

[2016-01-07 10:44] arondeparon commented on #1301
:+1:

Same story here. Adding a relatively small base64-encoded file crashes Postman entirely.

[2016-01-07 12:48] calebrepkes commented on #1485
Hey, Im really curious to something like this too.

Right now Im experiencing that I have three different domains too:
Environment
Application
Language

Maybe its an idea to give the ability to set multiple columns for environment variables.

I have incorporated Pre-request scripts, in which I make decisions for API's based on the environment picked.

[2016-01-07 14:25] pauleck commented on #1643
Thanks for the reply.

We are posting XML to a service, so content-type is application/xml.  We
want to paramaterize the requests but {{VAR}} doesn't seem to work for XML
but works great for JSON.

Thanks
Paul

On Thu, Jan 7, 2016 at 2:19 AM, Pawan Rawal notifications@github.com
wrote:

[2016-01-07 15:30] 3goats commented on #1475
plus 1 for this.

[2016-01-07 16:40] mohaiminul-sust commented on #485
Any updates on auto-creating API documentation?

[2016-01-07 21:08] VMTrooper opened #1645 "Mac App Beta: GET request stuck in perpetual Loading state on El Capitan"
Hello Team Postmanlabs,

I am trying to make a simple GET request with the beta app for Mac. However, it is stuck in a perpetual "Loading..." state.

Both curl and Postman Chrome app make the call and get the response in seconds or less. Is there maybe a security setting or something that needs to be changed in El Capitan for the Postman Mac App to work properly?

[2016-01-08 03:36] pawanrawal commented on #1643
Hi Pauleck , I have verified this and have not been able to reproduce the issue. The `{{var}}` syntax does work for `application/xml` POST body. Could you please send a mail to help@getpostman.com with the data file and the collection file you are trying to use in the runner so that we can debug this further for you ?

Thanks

[2016-01-08 09:20] abhijitkane commented on #1645
@VMTrooper Can you check the console for any errors - View > Toggle DevTools?
There should be a console tab in the DevTools window. Any errors thrown while sending the request will be listed there.

[2016-01-08 17:08] mgibeau opened #1646 "Postman creating cookies on POST"
Hi, running into this issue with Postman.

On POST it's creating extra cookies and setting the path of the request.

This is problematic since the cookie is already set on the root domain, subsequent requests made in the browser are sending both cookies.

I don't think POST response should set cookies unless explicitly told with the Set-Cookie header.

![cookies](https://cloud.githubusercontent.co

[2016-01-08 18:28] VMTrooper commented on #1645
@abhijitkane I tried opening the Console as you suggested.  I didn't see any errors.  Only a warning.  Here are the entries that were displayed after I sent the GET request:

jQuery loaded. $=function (a,b){return new m.fn.init(a,b)}, jQuery=function (a,b){return new m.fn.init(a,b)}
requester.js:12215
Download the React DevTools for a better development experience: https://fb.me/react-devtools
req

[2016-01-08 18:46] abhijitkane commented on #1645
Not sure why this is happening. Can you try re-downloading the app from here - https://www.getpostman.com/apps?

[2016-01-08 18:53] abhijitkane commented on #1646
The Chrome process auto-attaches cookies to any requests Postman sends. To get around this problem, you can enable the Interceptor - http://blog.getpostman.com/2014/11/28/using-the-interceptor-to-read-and-write-cookies/. This way, you'll be able to use the browser's cookie store. You can then clear cookies for this domain from chrome://settings, and be good to go.

[2016-01-08 19:00] mgibeau commented on #1646
Ok, I'm actually using Interceptor, so my mistake was adding the cookie header. I removed it and it works as expected! Thanks!

[2016-01-08 19:00] #1646 closed, assigned to nobody

[2016-01-08 19:01] VMTrooper commented on #1645
I tried completely removing the app
- /Users/vmtrooper/Library/Application Support/Postman
- /Applications/Postman.app

Then, I re-installed. The result is still the same. My GET request hangs. I'm not doing anything unique, and again, cURL and the Postman Chrome app both work fine.

[2016-01-08 19:14] abhijitkane commented on #1645
Can you try running the binary from the command line? `open ../Postman.app/Contents/MacOS/Postman`

Any errors in the background process show show up in the terminal.

[2016-01-08 19:29] VMTrooper commented on #1645
Unfortunately, there are no errors on the command line either.

[2016-01-10 11:28] vvsudhir opened #1647 "Can we have export/import history option"
It would be helpful if we have similar functionality of export/import data for history in postman

[2016-01-10 11:30] a85 commented on #1647
@vvsudhir Can you tell me more about the use case?

[2016-01-10 11:38] vvsudhir commented on #1647
suppose if I am using chrome extension of postman and I would like to move to app then I don't get data what I have in history section . If we have option for export/import history then I can get that data and also I can share history.

[2016-01-10 11:40] a85 commented on #1647
For moving to the app you can use the Settings > Data > Export option and import it all into Postman app's history. For sharing requests, we recommend using the Collections feature. The Chrome extension is deprecated. I recommend using the Postman app + Interceptor on Windows. If you are on Mac, you can get our Mac app here that has in-built support for cookies: www.getpostman.com/apps

[2016-01-10 11:40] a85 commented on #1612
This has been fixed now. Closing the issue. @godfrzero Can you close issues on Github?

[2016-01-10 11:40] #1612 closed, assigned to nobody

[2016-01-10 11:41] #748 closed

[2016-01-10 11:42] #1057 closed, assigned to nobody

[2016-01-10 11:42] a85 commented on #1031
Closing this as a duplicate of #555. Will be tracked there.

[2016-01-10 11:42] #1031 closed, assigned to nobody

[2016-01-10 11:42] a85 commented on #819
Closing this as a duplicate of #555. Will be tracked there.

[2016-01-10 11:42] #819 closed

[2016-01-10 11:46] vvsudhir commented on #1647
I think "export data" option doesn't export data what we have in history section

[2016-01-10 11:55] vvsudhir opened #1648 "Can we have bright background color for text search"
Currently if we find (Ctrl + f) any thing in response or boy of the request, you are using dark back ground color (for dark theme) and it's diffucult to read found items, can we have bright colour like orange ?

[2016-01-10 12:06] vvsudhir commented on #1647
Sorry for the confusion, we have this option now.

[2016-01-10 13:03] godfrzero commented on #1612
@a85 Nope, lack of permissions :(

[2016-01-10 22:32] chiawendt opened #1649 ""post > body > from-data" is a little confusing for new users"
The first time I saw it, I thought "from-data" just means the content-type sent by the every-day html forms, then after a few hours of googling  and packet sniffing I make myself clear about the difference between "multipart/form-data" and "x-www-form-urlencoded". Maybe changing from "form-data" to "multipart/form-data" could alleviate the issue a little?

[2016-01-11 03:00] wzup opened #1650 "Search response: display number of matches"
Hello.

How to enable number of found during search? Now there is no info:

![no number of matches - postman 2016-01-11 10 54 25](https://cloud.githubusercontent.com/assets/3880497/12226129/2e494718-b852-11e5-8108-e752ae6d674e.png)

And this is a screenshot of Sublime Text 3 IDE search, for example:

![number of matches sublime text 2016-01-11 10 56 36](https://cloud.githubusercontent.com/assets/3

[2016-01-11 09:08] abhijitkane commented on #1650
Thanks for pointing this out. The search functionality is currently managed by one of the plugins we're using. We're working on getting this feature in, but have no ETA on this as of now.

[2016-01-11 17:58] bgaillard opened #1651 "Question (or bug) - have to manually push Update to see updates in Newman"
Hi,

First I don't know if this issue is the expected behavior or a bug, also this is perhaps a Newman bug.

Here is my problem, we are working with Newman to do automated testing. We write our assertions in Postman using the Tests tab.

Each time we update something in the Tests tab and we run Newman manually (in a terminal) our updates are not taken into account.

To make it work we always have

[2016-01-11 19:13] abhijitkane commented on #1651
@bgaillard Yes, for now you'll manually need to Update to run the collection in Newman. Syncing means it has been synced to our servers (for you to access through Postman on any other machine), but the shareable link that you get has to be manually updated. We're working on a always-updated link, but don't have any ETA as of now.

[2016-01-11 23:08] darrylkuhn opened #1652 "Maintain UUIDs on export"
We're using postman with Jetpacks to perform automated integration/API testing. To do this we export the collection and check it into the projects repo. The issue with this is that currently when we export a collection it appears the UUIDs are changed. This makes it nearly impossible to perform a diff / resolve merge conflicts. To deal with this (and just because it's generally useful) we are usin

[2016-01-12 00:45] ArbiterOfBuffoonery opened #1653 "Force language of responses"
I am working with a service that does not correctly set the Content-Type of responses. This results in postman interpreting the XML response as HTML and changing the response from

`<someTag date="2015-12-01">`
to
`<someTag date="2015&#x2D;12&#x2D;01">`

Is there a way to force the response to be a specific format? I have tried setting the response to XML from the dropdown above the response conte

[2016-01-12 02:31] wan54 opened #1654 "Test runner - set array from json data to request body not happening"
POST API: http://bla/create

in the body type raw of application/json:

[code]

json file for test runner:

[code]

in the pre-request script:

`postman.setEnvironmentVariable("dataArray", data.dataArray);`

the request fails because the array is not resolved.. the payload sent in the request is

[code]

instead of

[code]

any specific command to process data array from the json file in the pre-r

[2016-01-12 04:59] czardoz commented on #1652
We will soon start supporting user specified IDs which will not be changed on export, which I think should take care of your use case :)

[2016-01-12 10:03] andytaw opened #1655 "Curl Snippet - single quotes around URL"
For example, generating a Curl Code Snippet in Windows:
`curl -X GET -H "Cache-Control: no-cache" -H "Postman-Token: 2cbb78c8-a23e-cbde-7a06-4aaab29e086e" 'http://www.getpostman.com/'`
wraps the URL in single quotes, but other parameters in double quotes.
In Windows (cmd) this results in an error from Curl, which is mildly annoying.

[2016-01-12 11:55] czardoz commented on #1655
Single quotes around a URL ensure that the URL is not processed by the Shell. What do you think is a better way of handling this in windows?

[2016-01-12 14:34] intraz commented on #367
+1 for uploading to getpostman.com

[2016-01-12 20:05] darrylkuhn commented on #1652
Great - thanks for the update... any idea on ETA or is it further in the backlog?

[2016-01-13 08:48] a85 commented on #1652
@darrylkuhn Hopefully Feb. We are doing a major re-write of some core components that will making things like maintaining UUIDs possible. We are also working on adding external integrations to Postman Cloud so you can integrate with source control directly without having to export manually.

[2016-01-13 09:13] pesha opened #1656 "Pretty formating of response body doesn't remember format when switching between tabs"
If you switch to different tab and then back to previous one then the pretty formatting of response body is set to default HTML.

Postman version 3.2.9
Chrome version Verze 47.0.2526.106 m
OS Win7

[2016-01-13 10:47] toomastahves opened #1657 "UI bug in Chrome Canary"
Postman: Version 3.2.9
Chrome Canary Version 49.0.2620.0 canary (64-bit)
OS: Win 10

View appears broken in Chrome Canary.
Also tried in normal Chrome Version 47.0, works good there.

![canary_bug](https://cloud.githubusercontent.com/assets/7262443/12291819/369fc8d2-b9f2-11e5-9523-ed2a0ef639fe.png)

[2016-01-13 10:48] abhijitkane commented on #1657
@toomastahves Do you see the issue even after restarting/uninstalling the app?

[2016-01-13 10:50] toomastahves commented on #1657
Uninstalled and reinstalled app, still same issue.

[2016-01-13 10:51] abhijitkane commented on #1657
That's odd. Do you see any errors in the console? (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)

[2016-01-13 11:04] anurudda opened #1658 "Sync is not working behind a proxy"
I'm running sync (sync data across devices) behind a network proxy and it is not working. Apparently it's not honoring the global proxy configuration in my system. Login in and upload everything works fine. Only the sync has the issue.
 I'm using
Ubuntu 14.04 LTS  64bit
Chrome Version 47.0.2526.106 (64-bit)
Postman version 3.2.9

I have also tried restarting and reinstalling postman.

[2016-01-13 11:06] a85 commented on #204
This is available as part of Postman Cloud: http://blog.getpostman.com/2015/12/10/introducing-postman-cloud/. Cloud hosts, updates and maintains documentation for everyone. I'd suggest http://docman.launchrock.com/ and https://github.com/JakeWorrell/docodile for generating one-time documentation from Collections.

[2016-01-13 11:06] #204 closed

[2016-01-13 13:30] toomastahves commented on #1657
Yep, error in console.

[code]

Maybe its Chrome Canary browser bug. In normal Google Chrome there is no such error, works good there.

![canary_console](https://cloud.githubusercontent.com/assets/7262443/12295270/badfed28-ba08-11e5-8605-8ceeb48aaa66.png)

[2016-01-13 13:52] andytaw commented on #1655
Apologies if I have disregarded a very good reason for this, but whenever I
generate a Curl snippet all the arguments in the snippet have double-quotes
except the URL. I need to change the single-quotes to double-quotes to make
the snippet work.

On Tue, Jan 12, 2016 at 11:55 AM, Aniket Panse notifications@github.com
wrote:

[2016-01-13 14:07] prashcr opened #1659 "Mac Beta freezes on startup, possibly due to sync/update checking"
Maybe it's the size of my collections and the number of requests/test cases in them, but the Electron app just freezes for about 10s on startup, before becoming usable.
Perfectly reproducible, this happens on every startup.
Have about 200 requests and 250 tests across all my collections.

The Chrome app however, has no such issue.

Using OS X El Capitan 10.11.2

[2016-01-13 14:16] prashcr opened #1660 "Change Preferences shortcut for Mac Beta?"
Minor nitpick.

95% of Mac apps use Command-, for Preferences
Would be ideal if Postman followed this convention too.

[2016-01-13 15:01] darrylkuhn commented on #1652
Awesome - thanks for the update!

[2016-01-13 15:01] #1652 closed, assigned to nobody

[2016-01-13 15:55] rawler commented on #494
+1

[2016-01-13 18:50] abhijitkane commented on #1659
@prashcr What version of the app are you using? The latest app version is 3.2.9.1.

[2016-01-13 21:03] zacechola commented on #1657
I can confirm the same for version 49.0.2620.0 canary (64-bit)

[2016-01-13 22:04] tbrentlong opened #1661 "Layout has somehow been corrupted and I see none of my history."
The layout when I opened it this morning was showing the sidebar overlaying the main part of the screen, and none of my collections are there.  Was there some sort of change overnight?
![roguepostman](https://cloud.githubusercontent.com/assets/11465123/12309260/901736fa-b9fe-11e5-853e-50edac32fee4.jpg)

[2016-01-13 22:45] ZebraFlesh commented on #1661
Duplicate of #1657

[2016-01-13 22:49] ZebraFlesh commented on #1657
Still seeing this on 49.0.2620.1 (64-bit) on Windows 7 64-bit. Same visual problems and same console output.

[2016-01-13 23:54] prashcr commented on #1659
Hey, I did a clean uninstall  (didn't check which version) and re-installed the latest one before reading this, and it seems to work fine now.

Thanks!

[2016-01-13 23:54] #1659 closed, assigned to nobody

[2016-01-14 07:57] abhijitkane commented on #1657
This seems to be an issue due to the Chrome upgrade. Seems to be working on Chrome 47 but not Chrome 49. We're looking into this and hope to release a fix by today.

[2016-01-14 12:47] sobanieca commented on #86
+1

[2016-01-14 17:35] Joyce-Stack opened #1662 "OAuth 2.0 client credentials flow in Postman 3 - get to custom login page but fails. What's missing?"
Hello,

This is a usability issue really and I'm unclear as how to get around it.  I've once been able to successfully use Postman to make a call to our public API. It uses OAuth 2. I wrote a blog post on it - http://bit.ly/1RQ4ftb - it was all very simple.

However, I am now trying to use the new updated version to do the same thing and I'm consistently getting that it could not make an access to

[2016-01-14 18:58] abhijitkane commented on #1662
What version of Postman are you on? (visible in chrome://extensions)

Could you try checking the "Request access token locally" option? If it doesn't work, you can check the error logs in the Console tab of the Developer Tools window (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/).

If there are no errors, can you mail a set of sample credentials to help@getpostman.com? We'll t

[2016-01-14 19:38] abhijitkane commented on #1657
@ZebraFlesh @zacechola Can you try upgrading to 3.2.10 (chrome://extensions > Enable 'Developer Mode' > Update extensions now) to see if that fixes it?

[2016-01-14 20:10] zacechola commented on #1657
It is indeed fixed, @abhijitkane. Thanks!

[2016-01-14 20:11] #1657 closed, assigned to nobody

[2016-01-14 20:32] loretorafa commented on #697
+2

[2016-01-14 22:10] nwayve opened #1663 "AWS Signature Mismatched Calculation"
When making requests to AWS resources using the `AWS Signature` authorization Access Key and Secret Key, this error message is returned from AWS:

`{
  "message": "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.\n\nThe Canonical String for this request should have been

[2016-01-15 02:23] pulkitsethi opened #1664 "Uninstalling Interceptor plugin doesn't turn off interceptor toggle in Postman"
I had installed interceptor plugin, but then uninstalled it. When I went to postman, none of my calls to my local application server were working. It is not apparent that the reason for this failure is b/c interceptor is still turned on, but the plugin is uninstalled. When I switched the interceptor toggle off in Postman, everything started working again. That took me a while to realize what was g

[2016-01-15 07:03] vongohren opened #1665 "Postman takes over my cookies in the request"
Im currently experiencing that postman is intercepting my request and adding a cookie that has been used earlier in the history. Now im just trying to do a request from my app, but I see that in the backend im not getting the token that I acctually try to send in the frontend. The token that is used is the one that has been used in earlier request.

Iv tried to remove both interceptor and postman

[2016-01-15 07:39] abhijitkane commented on #1663
That's odd - this hasn't been reported earlier. Is the AWS region and Service Name set correctly? We're able to make requests to one of our services using the AWS helper.

[2016-01-15 08:10] abhijitkane commented on #1664
Thanks for reporting this. We'll push a fix for this soon.

[2016-01-15 08:14] abhijitkane commented on #1665
If you have the Interceptor disabled, any Cookies you set in the Postman UI won't be sent. Postman has it's own cookie store (which, unfortunately, is inaccessible to us), and auto adds those cookies when you send a request. In this case, we don't have any way of controlling what cookies are sent.

If the Interceptor is enabled, Postman routes the requests through Chrome. You can then use `chrome:

[2016-01-15 09:58] Joyce-Stack commented on #1662
Thank you.

I've sent details to the help email address.  The version of Postman I'm using is 3.2.9.

[2016-01-15 10:27] Joyce-Stack commented on #1662
Whitespace issue in the token URL.

[2016-01-15 10:27] #1662 closed, assigned to nobody

[2016-01-15 10:27] abhijitkane commented on #1662
We'll handle leading/trailing spaces better in the next release. Thanks for pointing this out.

[2016-01-15 11:47] Gutbuster opened #1666 "Team collection owner name is not updated with profile change"
When sharing a collection with your team, a change in users name is not reflected in the listing. I encountered this after changing my own user name, but the old one still appears in the shared collections.

This occurs even with completely new collections that have been created after the profile was changed.

[2016-01-15 13:08] Gutbuster commented on #1452
+1. Was quite surprised not to see this implemented when we started using team collections.

[2016-01-15 13:09] a85 commented on #1452
We are testing this out in a new version internally. Will be out super soon!

[2016-01-15 15:41] nwayve commented on #1663
That's the interesting thing, I don't need to set the `AWS Region` or `Service Name` fields.  I've tried having them set and not set, and the result is the same.  The only reason I thought about trying them without those fields is because in AWS' API Gateway console, select Stages, there's an Export tab with an option to export the JSON config to import the endpoints into Postman (which is super s

[2016-01-15 17:34] sanmarco commented on #1663
This might be a different issue, but I'm having the same error when I use an environment variable for the x-amz-security-token header. If I set the value for the x-amz-security-token explicitly (without using a variable) in the header than the request succeeds. It looks as if the signature was built before replacing the variables.

[2016-01-15 18:08] abhijitkane commented on #1663
@czardoz Any opinion here?

[2016-01-15 18:10] czardoz commented on #1663
@sanmarco, does your request contain query parameters too?

[2016-01-15 18:12] sanmarco commented on #1663
No it doesn't have query params

[2016-01-15 18:15] czardoz commented on #1663
@sanmarco, can you ensure that your request does not contain the `x-amz-date` and `Authorization` headers before you click on send?

It can mess with the signature calculation :)

[2016-01-15 18:17] sanmarco commented on #1663
Yes, I noticed that. I have to delete those two headers before every request. But it doesn't solve the issue.

[2016-01-15 18:18] nwayve commented on #1663
I also ensure that I clear those headers before sending.

[2016-01-15 18:20] mjoyce91 commented on #156
+1

[2016-01-15 18:25] sanmarco commented on #1663
So, to clarify, the problem I'm having is that I'm not able to use variables for those headers that are used in the signature. In my case they are: SignedHeaders=content-type;host;x-amz-date;x-amz-security-token;x-auth0-jwt. I would need a variable for the x-amz-security-token since it has an expiration.

[2016-01-15 18:25] czardoz commented on #1663
Okay, I'll check this out further. Which AWS services are you trying to make requests to? (Will help me reproduce)

[2016-01-15 18:26] nwayve commented on #1663
I'm specifically making requests to custom API Gateway endpoints (`execute-api` service).

[2016-01-15 18:27] sanmarco commented on #1663
same here, thanks.

[2016-01-15 18:28] czardoz commented on #1663
Cool, I'll update this thread after investigating a bit more.

[2016-01-15 18:38] czardoz commented on #156
@a85 possible, but very unreliable

[2016-01-15 18:44] shamasis commented on #156
The actual memory consumption depends on the HTTP client's implementation. Nevertheless, showing the size of the body (as long as it is text and not binary) is semi-accurate and fast enough. It would hit performance for very large responses though. Also, the size of response header influences the total size. Thus, the computed size would be "indicative" only.

[2016-01-15 18:45] a85 commented on #156
This is good enough IMHO

[2016-01-15 20:53] jscheel opened #1667 "Interceptor missing from native apps"
In the native app, I do not have the option to use interceptor.
![screen shot 2016-01-15 at 2 51 45 pm](https://cloud.githubusercontent.com/assets/211478/12364991/8c14ea26-bb97-11e5-8d91-63f7270b3664.png)

It works properly with the chrome app.

[2016-01-15 20:57] abhijitkane commented on #1667
The Interceptor was meant to:
1. Capture requests (Which you can now do through the built-in proxy) and
2. Send cookies from Postman, which you can do by adding a 'Cookie' header in your request, or using the Manage Cookies option from the Environments menu.

There's no relation to Chrome in the native app.

[2016-01-15 21:01] jscheel commented on #1667
Hmm, ok. The tooltip still says `Interceptor/Proxy`, so it might be good to remove that to clear it up. I'll play with the proxy. Thanks!

![screen shot 2016-01-15 at 2 58 13 pm](https://cloud.githubusercontent.com/assets/211478/12365192/d85c2e2a-bb98-11e5-8330-3cd2fb3e0dc5.png)

[2016-01-15 21:08] abhijitkane commented on #1667
Ah..right. Thanks for pointing this out. Will fix in the next release.

[2016-01-16 11:03] abhijitkane commented on #1654
@wan54 This is not how you use the data file. The file needs a specific format - http://www.getpostman.com/samples/test_data_file.json. The root object has to be an array, with each element being the set of key-value pairs you want in each iteration.

If you don't need different data per iteration, you don't need to use the JSON file. Just enter the payload in the request body itself.

[2016-01-17 13:57] abhijitkane commented on #1666
@Gutbuster We've updated the names for all users. Future changes in the user's name should reflect in the shared collections. Can you confirm the fix?

[2016-01-18 04:45] krokofant opened #1668 "PostMan Mac App - Refused to set unsafe header"
The Mac App for Postman refuses to set the User-Agent. Because this is a Electron based app I was able to override the User-Agent via devtools but it's no pretty solution.

Because this is an Electron app, couldn't the unsafe-limit be overridden?

[code]

[2016-01-18 05:08] aarontharris commented on #452
@benchwarmer awesome!

[2016-01-18 08:04] Gutbuster commented on #1666
The username has been changed to the users actual name. Which is also fine in my books. But out of curiosity, was there some technical issue why the "Username" field was not utilized? Or simply a design choice?
- Verified the updated name is shown on shared collections.
- Attempted changing the actual name in profile, and verified that this is reflected in the shared collections.

I consider this

[2016-01-18 08:10] abhijitkane commented on #1666
Not using the username was a design choice. Usernames are unique, and you cannot change your username to anything you like. The 'name' field in the profile is something that has no restrictions.

[2016-01-18 10:52] Gabitchov commented on #131
+1

[2016-01-18 14:43] ghost commented on #131
+1 for Elastic

[2016-01-18 17:12] a85 commented on #131
For people posting about Elastic: You can replace GET with POST and ElasticSearch will work as expected. We are replacing the underlying networking stack in Postman so that we can have more control than XHR. This is still some time away.

[2016-01-19 01:24] rayshan opened #1669 "Add GraphQL support"
Hello,

GraphQL is a query language created by Facebook for describing data requirements on complex application data models. It's frequently used with React and Relay.

References:
http://graphql.org/
IDE: https://github.com/graphql/graphiql

[2016-01-19 05:21] Abhi0725 commented on #1263
+1 'Close other tabs' option just like SublimeText

[2016-01-19 08:05] czardoz commented on #1663
I was able to reproduce this.. We'll fix it in the next version :+1:

[2016-01-19 09:05] Arqu commented on #1626
Im having the same issue, clearing the history tab does nothing for me. The last few days it was sluggish, now it just hangs. I'm on Mac OS X 10.11 and i notice that in the activity monitor a Chrome Helper Task gobbles up 100% of the CPU. If I kill it postman crashes and it only jumps to 100% if I start postman.

[2016-01-19 09:25] gligoran commented on #448
+1

[2016-01-19 12:30] a85 opened #1670 "Testing some integrations"
Leave this issue open. Testing bug tracker.

[2016-01-19 14:54] sanmarco commented on #1663
Awesome news! Thanks for the update.

[2016-01-19 16:50] #1670 closed, assigned to nobody

[2016-01-19 16:54] dperjar commented on #1626
@Arqu If you start it and let it load for ~10 mins or more does it eventually start functioning? That's what I was seeing, perhaps you're seeing a different issue.

[2016-01-19 19:08] ckrough commented on #1626
I'm having the same issue. Sometimes the chrome app hangs for 5+ minutes on opening. I notice that in these situations, test runs (with the runner) usually fail to execute once it does become responsive.

Postman 3.2.10
Chrome 47.0.2526.111

[2016-01-19 20:00] onebit0fme commented on #757
+1

[2016-01-19 20:03] abhijitkane commented on #757
We've added this in the latest Postman version - 3.2.10.
<img width="284" alt="screen shot 2016-01-20 at 01 33 24" src="https://cloud.githubusercontent.com/assets/681190/12430479/d5840486-bf15-11e5-80f3-7c97b664857d.png">

[2016-01-19 20:03] #757 closed

[2016-01-19 20:07] dperjar commented on #1626
I don't know if it matters, but I was using the standalone app version of Postman, not a tab in chrome. That shouldn't make much difference I imagine, but could be worth trying if you're in a bind.

[2016-01-19 20:12] akapoor47 commented on #1605
@abhijitkane Tried with Canary too, got same error. Any plans to handle this from Postman side?

[2016-01-19 20:17] abhijitkane commented on #1605
@akapoor47 Is there any publicly-accessible URL that you're able to reproduce the issue with?

[2016-01-20 12:14] maheshjajadabbc opened #1671 "goes endless loop when specific environment param is passed"
Steps:
1. Try to GET the request in the following format from postman; which is especially having an environment variable with a colon (:)
https://abc.{{env:}}.def.com/
2. Click on Send

**Actual Result:**
Loading.... message is shown in postman forver.
The request goes in an endless loop

_Customer Impact:_
User may wait to get the request finished.
One may not have any idea what to do next

**Ex

[2016-01-20 13:47] HRGL opened #1672 "Is it possible to filter transaction log in postman?"
[code]

[2016-01-20 16:30] abhijitkane commented on #1672
@HRGL What do you mean by transaction log? The history items are sortable, as are the requests in a collection. Can you send a screenshot of what you need to sort?

[2016-01-20 16:41] abhijitkane commented on #1671
@maheshjajadabbc I'm not able to reproduce this. Also, you'll need to set the XHR timeout (Settings>General) to 10000 or 20000s. The default setting of 0 will never time out.

Also, do you have an environment variable with the name `env:`?

[2016-01-20 16:41] HRGL commented on #1672
which is related to the Mirakl application TL01 API.
screen shot attached
![tl01 postman](https://cloud.githubusercontent.com/assets/16799374/12455735/a3bb80a8-bf94-11e5-8179-7b341e703963.PNG)

[2016-01-20 16:43] abhijitkane commented on #1672
You'll need to contact the API Vendor for this info. Postman is a REST Client, and we cannot offer insights into what parameters the API supports.

[2016-01-20 16:43] #1672 closed, assigned to nobody

[2016-01-20 16:48] HRGL commented on #1672
I first went to them and they replied as below

We are not responsible about Postman Support, we only provide you how to configure it for Mirakl environments.
I advise you to read their documentation or contact their support team : http://www.getpostman.com/support.

Regards,

[2016-01-20 16:52] abhijitkane commented on #1672
Are you able to achieve this in curl or any other rest client? If yes, we can help you out.
If you want the transaction log for a particular field, you'll need to contact the Mirakl team.

[2016-01-20 16:58] g-dx opened #1673 "Remove Accept header unless specified"
Problem: Cannot send a request _without_ an Accept header.

Background: Currently performing a GET with _no headers set_ using the Postman app on https://www.whatismybrowser.com/detect/what-http-headers-is-my-browser-sending shows the following:

![headers](https://cloud.githubusercontent.com/assets/4189306/12456157/75d942ae-bf96-11e5-89dc-45e43689db98.png)

I understand the Chrome will not allow

[2016-01-20 17:01] HRGL commented on #1672
I don't have any idea of curl or any other rest clients which supports mirakl application,please help me on that
thank you

[2016-01-20 17:02] abhijitkane commented on #1673
The WebRequest API is different. Accept is added automatically by Chrome.

Browse to `http://httpbin.org`. Open the console (right click > Inspect element).
Enter this in the console: `var xhr = new XMLHttpRequest(); xhr.open("GET","http://httpbin.org/get",true); xhr.send();`
Go to the network tab. You'll see your request, with 'Accept' as one of the request headers.

[2016-01-20 17:02] abhijitkane commented on #1672
You can find documentation for curl here - http://curl.haxx.se/docs/

[2016-01-20 17:03] maheshjajadabbc commented on #1671
I have set the XHR timeout to a non-zero value. the problem is still happening. But yes you are right, this is happening for the variable which is not being set. I have set a variable called 'env', but not 'env:'.

Anyways this is not bothering me at all. I am not getting stucked with this issue anyway. This was just raised for your knowledge. You can ignore it.

[2016-01-20 17:07] abhijitkane commented on #1671
Ah..managed to reproduce the issue with a non-zero timeout. Will add a fix for this in the next release. Chrome treats a URL with "http://{{" in a weird manner. Thanks for pointing this out.

[2016-01-20 17:17] g-dx commented on #1673
Are you saying that the Postman Chrome App cannot access the 'chrome.webRequest' API to perform header suppression?

[2016-01-20 17:23] abhijitkane commented on #1673
That's correct - the API is only available to Chrome extensions, not Chrome apps. The APIs for Chrome Apps are listed here - https://developer.chrome.com/apps/api_index

Postman's Interceptor (http://www.getpostman.com/docs/interceptor_cookies) will be able to use this to block headers, but this feature isn't in our immediate roadmap. We have this in our to-do, but cannot offer  an ETA just yet.

[2016-01-20 17:27] maheshjajadabbc commented on #1671
Yeah. Good to hear that you have managed to reporduce it. Thanks.

[2016-01-20 17:33] g-dx commented on #1673
Ok. Thanks for the information.

[2016-01-20 17:33] #1673 closed, assigned to nobody

[2016-01-20 18:59] jkahrs595 opened #1674 "Postman will not launch, Ubuntu 15.10"
I've used Postman for about a week, but now it won't launch (well, I can't see the window). I'm not sure if Chrome updated, or Postman updated since then.

I can see Postman start up in the Chrome task manager, but can't figure out how to get the GUI to show. Any suggestions? I've tried uninstalling/reinstalling the app with no luck.

[2016-01-20 19:09] abhijitkane commented on #1674
Any options when you right click on the icon in the dock? @czardoz any Ubuntu-specific tips?

[2016-01-20 19:15] jkahrs595 commented on #1674
I see "Quit", and nothing else. So I can kill the process without going into terminal, but that's about all I can do.

[2016-01-20 19:16] jkahrs595 commented on #1674
Ugh, I got it to work finally. I had to uninstall the app, reboot, start chrome and reinstall the app again.

What a pain!

[2016-01-21 00:14] rcchen commented on #1645
This is happening to me as well, but I am reasonably certain it has to do with an unsafe localhost cert (trying to hit https://localhost and there's no ability to accept the unsafe cert)

[2016-01-21 08:20] abhijitkane commented on #1645
@rcchen To add unsafe certs, can you check our blog post at http://blog.getpostman.com/2014/01/28/using-self-signed-certificates-with-postman/? Adding the cert to the OSX keychain should help.

[2016-01-21 14:59] jimonthebarn commented on #1454
This would be awesome. I'd like to second this feature.

[2016-01-21 15:00] abhijitkane commented on #1454
@jonaskello @jimonthebarn The latest version of the app (3.2.11) has this feature. You'll need to select the 'Client Credentials' grant type in the OAuth2.0 helper.

[2016-01-21 15:48] mokkrb opened #1675 "Refused to load the script"
Hello,
First, apologise if my post does not belong here,
I am trying to make request to my API, including a pre-request script (I used this as a starting point: http://sqa.stackexchange.com/questions/11777/testing-rest-api-with-sha1-hmac-authentication)

I basically have an issue when loading external JS files:
$.when(
    $.getScript( "https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.1/sha256.js"

[2016-01-21 16:40] jimonthebarn commented on #1454
Thanks a lot.

[2016-01-21 16:43] LorandLorincz opened #1676 "Wadl import not working"
Hi,

Importing the wadl from pentaho bi-platform doesen't work. I tried import from URL, File and Raw Text.

This is the link to the wadl.
http://javadoc.pentaho.com/bi-platform500/webservice500/application.wadl

Thnaks.

[2016-01-21 16:47] abhijitkane commented on #1676
You'll need to remove the `wadl:` part. This - http://pastebin.com/raw/Jk3qeWDi - should work. We'll be fixing this bug soon.

[2016-01-21 16:47] #1676 closed, assigned to nobody

[2016-01-21 18:51] srbangre commented on #804
+1

[2016-01-21 18:52] srbangre commented on #1467
+1

[2016-01-21 18:54] srbangre commented on #697
+1

[2016-01-21 18:56] srbangre commented on #682
+1.
when is it going to be implemented? this is the basic feature.

[2016-01-21 22:22] rcchen commented on #1645
@abhijitkane works now but approach seems rather hacky, would it be possible to support this in a first-class way from Postman? Perhaps a different issue for this, now that it appears this is unrelated to the initial issue

[2016-01-21 22:56] VMTrooper commented on #1645
It may very well be related since I am running queries against a server with a local host unsafe cert. I will try again after implementing abhijit's suggestion and report of it works

[2016-01-22 09:55] czardoz opened #1677 "Find not working properly?"
Originally opened by @TimFowle at https://github.com/postmanlabs/newman/issues/317

---

If i perform a search in the results with the latest version of the chrome plugin the search behaves a bit differently to how it used to (from memory):
1. As soon as i type a character it starts to search for that. On long responses this can slow it down greatly as there may be thousands of matches. Im sure it

[2016-01-22 10:48] DoctorQ commented on #350
+1

[2016-01-22 11:33] abhijitkane commented on #1677
@TimFowle This appears to be a bug with our search functionality. We'll be pushing a fix for this in the next release.

[2016-01-22 15:34] stramel commented on #907
:+1:

[2016-01-22 21:25] sun-mir commented on #1650
Voting for this too.
Also found https://github.com/postmanlabs/postman-app-support/issues/718

[2016-01-22 21:58] sun-mir opened #1678 "Feature Request: Count/quantity and indexing for received list of items in response"
Here is an example:
<img width="680" alt="count feature in response" src="https://cloud.githubusercontent.com/assets/4091725/12524105/792def12-c163-11e5-956c-d5027acc49d5.png">

Would be extremely useful. Loved Postman client but this feature will make it the best!

[2016-01-22 22:06] bowofolaf commented on #367
+1 for sharing variables!

[2016-01-22 22:34] bowofolaf commented on #367
But before that can we have an export all/some feature and the ability to import multiple environments from one file?

[2016-01-23 04:28] abhijitkane commented on #367
@bowofolaf You can download all your data (collections+environments+globals) and import in another app.`Settings>Data>Download/Import`.

[2016-01-23 08:28] DoctorQ commented on #86
+1

[2016-01-23 18:50] peletiah commented on #1322
I'm still having the issue initially reported by @stuartrivero, even after following the indicated steps. Please see this screencast, where I run postman in the upper and wireshark in the lower half of the screen: https://gfycat.com/HonorableUnfoldedHydra

[2016-01-23 18:51] peletiah opened #1679 "Toggle the authorization-header - removing Basic Auth impossible"
I'm still having the issue initially reported by @stuartrivero in #1322, even after following the steps indicated by @abhijitkane. Please see this screencast, where I run postman in the upper and wireshark in the lower half of the screen: https://gfycat.com/HonorableUnfoldedHydra

I'm running Version 3.2.12 (packaged)

[2016-01-23 19:37] peletiah commented on #1679
It just occured to me to try it with a working backend (It always returns a 401 in the screencast). After having logged in successfully once (200 OK), I can no longer reproduce the issue, no matter what I do.

It might be related to the fact that I'm sending two WWW-Authenticate-headers, one line with `Www-Authenticate: JWT` and in a second line `Www-Authenticate: Basic realm="Please log in`.

I'm

[2016-01-24 04:47] togonow commented on #156
+1

[2016-01-24 13:45] mstaalesen opened #1680 "Moving folders in duplicated collection collapses the collection and making it impossible to open again"
In Postman 3.2.12 with Chrome Version 46.0.2490.71 (64-bit), there is a problem with duplicated folders and collections. If a folder is moved inside a duplicated collection, the whole collection is collapsed and not possible to open again before Postman is restarted. It is possible to use the "(...)" button on the collection and add new folders. After a new folder is created in the (now) buggy Col

[2016-01-24 14:13] abhijitkane commented on #1680
@mstaalesen This bug cropped up due to the folder transfer feature we added. We'd pushed a fix for this on Friday (as part of v3.2.13), but the version doesn't seem to have been published on the webstore yet. I'll update this thread once the new version is available.

[2016-01-24 15:49] abhijitkane commented on #1680
v3.2.13 should now be available. To upgrade, head to `chrome:/extensions`, enable 'Developer Mode', and click 'Update extensions now'.

[2016-01-24 17:27] mstaalesen commented on #1680
@abhijitkane Confirmed! Upgrading to v3.2.13 seemed to solve the issue. Thanks :)

[2016-01-24 17:27] #1680 closed, assigned to nobody

[2016-01-25 04:59] kondal99 opened #1681 "how to get hrml report for testcases instead of each assertions?"
Can some one help me how to get test results in html report for test cases. currently it returning each collections assertions. for example one test has 5 collections, report returning as 5 tests

[2016-01-25 07:07] abhijitkane commented on #1681
@kondal99 You'll need to check out Newman - http://npmjs.org/package/newman. You can use the `--html [file]` option to print out an HTML report.

[2016-01-25 07:07] #1681 closed, assigned to nobody

[2016-01-25 10:05] czardoz commented on #1675
Hi,

Postman Sandbox is not asynchronous in nature, so using `$.getScript` will lead to race conditions, and weird errors.

The error that you see however, is Chrome blocking the javascript because of its Content Security Policy for Chrome apps. To view a list of functions available inside the sandbox, you can visit this link: https://www.getpostman.com/docs/sandbox

Also, usage of jQuery in the s

[2016-01-25 10:05] #1675 closed, assigned to nobody

[2016-01-25 10:43] mokkrb commented on #1675
Hi,

Thanks a lot for your answer, and for pointing the right direction to go to !
I will keep working with my script until I get it working :)

Thanks again for your advice !

[2016-01-25 20:48] NirLevanon-zz opened #1682 "side-panel will resize only up to a certain width"
on version 3.2.13 of Postman, I am only able to increase the width of the side-panel to a certain width. The bigger issue is that if my request's title is too long the run and sub-menu buttons get pushed to the end of text, which I can no longer see fully. So the end result is that I have no way of reaching the edit button to change this case.

I'd expect a fix that would do a similar thing to wha

[2016-01-26 07:02] martinjbaker commented on #156
+1

[2016-01-26 08:19] abhijitkane commented on #1677
Fixed with v3.2.13.

[2016-01-26 08:19] #1677 closed, assigned to abhijitkane

[2016-01-26 08:20] abhijitkane commented on #1671
Fixed with v3.2.13.

[2016-01-26 08:20] #1671 closed, assigned to nobody

[2016-01-26 08:22] abhijitkane commented on #1665
@Snorlock Are you still having the issue with the Interceptor enabled? To control cookies, you'll have to enable the interceptor, and use `chrome://settings/cookies` to delete cookies from the domain.

[2016-01-26 08:25] abhijitkane commented on #1663
This fix has been included in v3.2.13. @sanmarco can you confirm?

[2016-01-26 08:27] abhijitkane commented on #1668
The XHR standard blocks this (https://www.w3.org/TR/XMLHttpRequest/#the-setrequestheader%28%29-method). Till we switch to a Node module for sending requests, there doesn't seem to be a way to overcome this.

[2016-01-26 08:28] abhijitkane commented on #1661
#1657 is solved.

[2016-01-26 08:28] #1661 closed, assigned to nobody

[2016-01-26 08:29] abhijitkane commented on #1656
@pesha I'm not able to reproduce this. Is this happening each time?
Can you upgrade to 3.2.13 and see if you still face the issue?

[2016-01-26 08:30] abhijitkane commented on #1610
@HenrikHL Can you confirm this fixed in v.3.2.13?

[2016-01-26 08:30] abhijitkane commented on #1589
@kwartel Can you confirm this fixed in v3.2.13?

[2016-01-26 08:33] #1654 closed, assigned to nobody

[2016-01-26 08:34] abhijitkane commented on #1653
@paradoX-D Can you include the output of the raw tab here?

[2016-01-26 09:33] abhijitkane commented on #1494
@lnenad Are you still seeing this in 3.2.13?

[2016-01-26 09:34] lnenad commented on #1494
Haven't seen it in a while tbh. Good job!

[2016-01-26 09:34] #1494 closed, assigned to nobody

[2016-01-26 10:50] maheshjajadabbc commented on #1671
thanks Abhijit.

[2016-01-26 10:52] pesha commented on #1656
I'm not sure whether you are checking functionality of main tabs. I meant this tabs (I should have specify them):
![tabs](https://cloud.githubusercontent.com/assets/436475/12576998/f11c7b2c-c417-11e5-8477-c8bcb3e49aaf.jpg)

[2016-01-26 10:54] abhijitkane commented on #1656
Ah..got it. It won't revert to HTML, but the default preview type for that particular response. If you make a GET request to http://echo.getpostman.com/get, and switch tabs, the response format will revert to JSON. We'll be fixing this in a coming release.

[2016-01-26 11:00] aupp commented on #1453
:+1:  I was just googling this feature and found this :)

[2016-01-26 13:55] ArbiterOfBuffoonery commented on #1653
@abhijitkane Below is the contents of the raw response. Note that I have verified that this is not what the server responds with (by viewing the output right before it is sent). Please let me know if you need anything else.

[code]

[2016-01-26 14:54] nwayve commented on #1663
I just tried this in version 3.2.13 and it works with query string parameters now.  :+1:
Thanks @czardoz :smile:

[2016-01-26 15:56] Oleksandr-Tokmakov commented on #1630
Hi guys. I have the same issue using Azure Active Directory. Postman just shows "Could not complete OAuth2.0 login" and in console:

[code]

Is it related to that bug or it's my configuration?

[2016-01-26 16:08] calebrepkes opened #1683 "Unable to view .png in Chrome Canary extension or to download"
Hey all,

<3 Postman

Performing a get call via Postman and the response is an empty body, with a couple of headers:
Content-Disposition → attachment;filename=BlaBla.png
Content-Type → image/png

I would like to either view the PNG in the Postman, or get a link to View it in Chrome Canary or to be able to download it.

Any tips? Been searching the internet for quite a while already.

[2016-01-26 16:14] abhijitkane commented on #1683
@calebrepkes Can you check the Network tab of the DevTools window (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)? Here, you'll be able to see the request you're making and the associated response.

Two things that you might want to check for:
1. Content-Length in the "Headers" tab
2. The contents of the Response tab

[2016-01-26 16:16] abhijitkane commented on #1630
@Olex What's the Authorization URL that you are using? Can you ensure that there are no leading/trailing spaces in the URL?

[2016-01-26 16:16] abhijitkane commented on #1653
@paradoX-D That's odd, Postman performs no manipulation for the raw body. Can you check the Network tab of the DevTools window (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)? This will show the exact response that Postman receives. (You'll need to check the Response tab of your request)

[2016-01-26 17:11] Oleksandr-Tokmakov commented on #1630
Authorization URL - https://login.microsoftonline.com/{my_tenant_id}/oauth2/authorize
Access Token URL - https://login.microsoftonline.com/{my_tenant_id}/oauth2/token

[2016-01-26 17:40] sanmarco commented on #1663
@abhijitkane I'm still having the same issue when using environmental variables in the header

[2016-01-26 18:01] abhijitkane commented on #1663
@czardoz

[2016-01-26 19:06] ghost commented on #1589
@abhijitkane `<hr>`, `<hr/>` and `<hr />` all work great now.

[2016-01-26 19:06] #1589 closed, assigned to nobody

[2016-01-26 21:14] vongohren commented on #1665
I havent had time to try, but il check it out tomorrow.
But isnt that kinda bad user experience? Having to delete cookies?

[2016-01-27 09:28] calebrepkes commented on #1683
Hey,

When I'm checking the Network tab I see 4 collect calls. Even though I perform only one call. And what is very curious to me is, that in there I see that the Request URL in DevTools is pointing to something completely different, then the URL im calling in Postman.

[2016-01-27 14:25] roeschjohannes opened #1684 "SAML2 Authentication Support"
Could you please add support for SAML2 Authentication?

https://en.wikipedia.org/wiki/SAML_2.0

[2016-01-27 16:43] niemyjski opened #1685 "Unable to submit requests with odd query strings"
http://stackoverflow.com/questions/3130541/query-string-parameters-with-no-values

Example
The The following highly implasuble URL would be considered to have six parameters:
"/some-controller/some-action?=baz&foo=bar&edit&spam=eggs=ham&==&"

They are:

+--------------+--------------+
|     Key      |     Value    |
+--------------+--------------+
| string.Empty | "baz"        |
| "foo"        | "

[2016-01-27 17:18] abhijitkane commented on #1683
@calebrepkes The collect calls are made to Google Analytics when certain events in the app are triggered. If you have the interceptor enabled, requests made will not show up in Postman's DevTools window. Can you disable the Interceptor and check?

[2016-01-27 22:14] johanntang commented on #533
+1  This would be great.

[2016-01-27 22:47] ArbiterOfBuffoonery commented on #1653
@abhijitkane I apologize. I have wasted your time :-(

After reviewing the raw response using the DevTools, I realized you were correct and that there was no way that Postman was changing the response. There is a library that I was using that was doing this. When that library was updated this behavior was introduced. The update to the library was not obvious and also happened to be right after I u

[2016-01-27 22:47] #1653 closed, assigned to nobody

[2016-01-28 10:52] Asarew commented on #86
+1

[2016-01-28 18:06] nateritter commented on #1507
+1
Alternatively, I was hoping for an global environment auth procedure and/or collection auth procedure. For instance, either authenticate once for the environment I'm in, or else at least authenticate once for the collection I'm running.

I don't think any of this would be necessary if the OAuth 2.0 process included the usage of a `refresh_token` to regenerate a new `access_token`.  As it stands

[2016-01-28 21:18] abtiddle commented on #1180
+1 on this

[2016-01-29 12:39] xxldoctor opened #1686 "Selection bug in pop-up windows."
When I copy some stuff from such pop-up windows as "add request" or "Code", etc I have to select text very accurately, coz if after selection mouse pointer released outside pop-up window - this window will be closed, and I have to reopen it, and reselect text more accurately. It is very annoing sometime

[2016-01-29 14:56] FractalizeR commented on #711
Is this fixed?

[2016-01-29 15:44] riscie opened #1687 "POSTMAN does GET request when POST is selected"
Hi there

I think there is an issue with POSTMAN sending a GET request when POST is selected in a specific case. Here is how to reproduce.
- We use a simple simple http server. I wrote mine in go (golang). See here https://play.golang.org/p/EGLcSTjLa9
- I register only one route to the server which is `/test/` notice the trailing slash!
- When I now do a **POST** request with POSTMAN to `/test` (n

[2016-01-29 17:07] abhijitkane commented on #1687
This might be due to the fact that the first endpoint is returning a 301/302 response code. Chrome's API then makes a GET call to the new location. (This process is not visible to Postman)

To confirm, you can enable DevTools (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/), and head to the Network tab. Check the 'Preserve Log' option, and send your request. If you see two reque

[2016-01-29 17:38] riscie commented on #1687
You are right. I just tested it. I get a `301 Moved Permanently` first, then the 200 from `/test/` . This is from my server, right? So probably a non-issue. Was just confusing to me.
You say this process is not visible to Postman which means, there is no way to make this more transparent in the app, right?

[2016-01-30 08:49] abhijitkane commented on #1687
No, but there's a way to block the second request from being sent. You'll need to install Postman Interceptor - https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en, uncheck the 'Automatically follow redirects' setting in Postman, and toggle the Interceptor on in Postman (satellite icon in the top bar)

[2016-01-30 08:49] #1687 closed, assigned to nobody

[2016-01-30 09:26] abhijitkane commented on #1049
Fixed in the latest versions. The 2nd argument to JSON.parse is respected.

[2016-01-30 09:26] #1049 closed, assigned to nobody

[2016-01-30 09:28] #1119 closed, assigned to nobody

[2016-01-30 17:09] codedmart commented on #1257
I would love to see this feature as well.

[2016-01-31 06:20] #1529 closed, assigned to nobody

[2016-01-31 21:01] mstaalesen commented on #1684
+1

[2016-01-31 23:25] felipeplets opened #1688 "Runner multiple iterations just show the result for the first one"
I want to run a postman request N times and compare the performance time in each request and generate some insights based on it.

I've created a Folder only for this specific request, selected it in Runner, and entered the number of iterations I want (100) I run it and the result on the screen is only the HTTP status and time for the first request. After that it keeps running for some time, the sa

[2016-02-01 08:18] rmabraham commented on #1411
This happens to me even with few environments (10). 8 collections. Total amount of requests: 97. The same issue occurs with the runner as well.

[2016-02-01 08:42] calebrepkes commented on #1683
Yes thats the trick: To be able to see an image in Postman, you need to disable Interceptor in the Postman extension.

You will then directly see the picture in the Postman extension. And like you said @abhijitkane when interceptor is disabled I also see it in the DevTools section.

I guess there is no way to overwrite Interceptor action for this specific call, from Javascript in the pre-request s

[2016-02-01 12:16] ghost commented on #739
:+1:

[2016-02-01 14:15] Bigfootmech commented on #1014
Guys, to do this, navigate to

C:\Users\***USERNAME***\AppData\Local\Google\Chrome\User Data\Default\Storage\ext

And delete the folder fhbjgbiflinjbdggehcddcbncdddomop

If you can't find that exact name, look inside them.
There should be a

file that starts with "SQLite format 3". As well as a

file

You also seem to lose your environments (along with deleting all collections), but not the Proxy,

[2016-02-01 14:50] gadelkareem commented on #1014
@Bigfootmech You are a hero!
One line for OSX
`mv ~/Library/Application\ Support/Google/Chrome/Default/Storage/ext/fhbjgbiflinjbdggehcddcbncdddomop /tmp/`

This clears all data except for Global vars. Let me know if we can also clear it as well.

[2016-02-01 15:18] bberliner commented on #1360
thirtified's suggestion of putting the credentials BOTH in the Authorization header and in the x-www-form-url-encoded body is good, and will make it work fine on MOST OAuth2 implementations, will not work for OAuth implementations that are strictly following the spec. Section 2.3 of RFC6749 says:

[code]

So, if you put the credentials in both places, a conforming implementation will fail the requ

[2016-02-01 15:55] abhijitkane commented on #1481
@bashok001
With v2.0 of Elasticsearch, you can send a POST request instead (Last line of https://www.elastic.co/guide/en/elasticsearch/reference/2.0/search-request-body.html)

[2016-02-01 18:48] bashok001 commented on #1481
Thanks @abhijitkane !

[2016-02-01 22:39] rharmaning commented on #533
+1 agreed, very valuable feature

[2016-02-02 00:26] golubitsky commented on #1257
+1!

[2016-02-02 07:32] vinodhsml opened #1689 "Postman Not Lanunching"
I download Postman and installed...it showing launch App but if i click it no response .

[2016-02-02 08:35] #1085 closed, assigned to nobody

[2016-02-02 08:38] Nexen23 commented on #1257
I'm really dissapointed. Without this feature it is almost useless for me. I will use something else than :(

[2016-02-02 10:58] lpil commented on #366
:+1:

[2016-02-02 11:38] superruzafa commented on #907
+1

[2016-02-02 17:40] noamhacker commented on #1674
did you lose your saved requests/collections, or did those save?

[2016-02-02 19:47] deardooley commented on #1568
Same issue. We used a numeric versioning approach as well, though it impacts our ability to generated automated tests.

[2016-02-02 20:16] oflannabhra commented on #739
`grant_type = password` is pretty important for any first party consumption of an API. Would be great to automate this

[2016-02-02 21:03] jmealo commented on #1689
On OSX, Postman crashes immediately on launch. I've been using it for close to a year without issues. This may be related.

[2016-02-02 21:05] jmealo opened #1690 "Postman crashes on launch OSX 10.11.3, Chrome 48.0.2564.97"
When I try to launch Postman using my launcher icon or directly from Chrome it crashes immediately. Previously it worked great. I'm hoping that I can keep my history and all of my settings.

[code]

[2016-02-02 21:08] jmealo commented on #1690
Quitting (and force quitting) Chrome and Chrome Canary did not fix this for me.

You must keep an eye open for the dialog asking if you want to close all Chrome apps. I clicked yes, relaunched Chrome and Postman started working again.

[2016-02-02 21:08] #1690 closed, assigned to nobody

[2016-02-03 10:09] Srajanacharya opened #1691 "cURL command differ in Windows and MAC"
For a given instance in postman the cURL created by postman is different in Windows and MAC (working fine in MAC, but not in windows). What is the reason? #

[2016-02-03 11:07] arnzel opened #1692 "Testing like in SoapUI"
Hi,

in SoapUI i can make tests like this
1. Make some Database Operations(Mongo)
2. Make request A
3. Check Collections contains specific data

Is such a test also possible in postman ?

[2016-02-03 14:34] sethbattin opened #1693 "Allow marking "incomplete" tests in collections"
Allow marking tests to have a status that is between passing and failing.  This allows writing tests for incomplete features, or marking tests as otherwise needing future attention without causing a fail result for the whole collection.  Similar to the [@markTestIncomplete annotation in PHPUnit](https://phpunit.de/manual/current/en/incomplete-and-skipped-tests.html).

The use case is for continuou

[2016-02-03 17:12] smwbis commented on #1678
+1 This would be an EXTREMELY helpful feature!

[2016-02-03 20:37] symeonb commented on #1475
Plus 1 for this too

[2016-02-04 08:11] mickhan commented on #452
@benchwarmer  cool!

[2016-02-04 11:34] nass600 commented on #156
+1

[2016-02-04 13:54] jebeaudet commented on #1574
I'm having this problem as well. I also have problem when using the mouse with the dropdown menu, it closes the popup when moving the mouse but only on the first try. I've included a screencast showing the bugs, first time I use tab to switch to the other field and the following times I use the mouse.
http://www.screencast.com/t/SqmudvmxV0

Version 3.2.15 (packaged)
OS: linux
Architecture: x86-64

[2016-02-04 15:43] jackrabb1t commented on #1180
+1

[2016-02-04 17:03] fredboutin commented on #1574
Same here when I hit tab the focus is lost and not in the field box.

Version 3.2.15 (packaged)
OS: mac
Architecture: x86-64
Native client architecture: x86-64

[2016-02-05 07:55] alowenst opened #1694 "tests discrepancies between postman and newman"
Hi there!

I have a couple of calls with tests defined for both.
First one is creating an artifact in my system and also returns the ID of the artifact. I'm setting an environment variable with the ID of the artifact.
Second API makes a DELETE request and in the response i'm getting the ID that was set in the first API. My test makes a validation of the field in the response against the value of t

[2016-02-05 08:18] czardoz commented on #1694
This should not happen ideally.

Can you add these couple of logs to your second test:

[code]

And paste the output here?

[2016-02-05 11:05] alowenst commented on #1694
Thanks for the fast reply!
I'm having trouble with opening dev console for postman Mac client.
How do I open it or alternatively, where should I see those console.log()?

Thanks again

[2016-02-05 11:09] czardoz commented on #1694
Oops, I meant in Newman, not the Mac app.

(as an aside, you can open dev tools in the Mac app with "View > Toggle DevTools", or Cmd+ Alt + i)

[2016-02-05 11:24] alowenst commented on #1694
Found the console for Postman :).
this is what I have in postman -
[..]
=== JSON Response ===
VM248:8 Object {data: Object, removed_id: "132165"}data: Objectremoved_id: "132165"**proto**: Object
VM248:9 === Environment Var ===
VM248:11 132165
[..]
so the ID looks the same.

As for newman.. should it print anything with console.log()? it's not outputting anything except for the regular tests output

[2016-02-05 11:27] alowenst commented on #1694
I'm hitting issues and reporting as we go :smile:
There's a syncing problem between the client and the command line execution when I running NM with -u (collection is on the cloud). I had to locally save the collection and run it. Now i'm seeing console.log() printouts.

First API response is
[..]
=== JSON Response ===
{ id: 132370, /// this is the artifact ID
[..]

output as you requested for the

[2016-02-05 11:31] czardoz commented on #1694
Postman does not update the collection link automatically, you will have to click on the collection > Share > "Update Link" to update your changes.

In your first API response, the artifact ID is a number, whereas in the response for the second API, it is a string. Could that be the issue?

[2016-02-05 11:34] alowenst commented on #1694
This could be the problem. How do I workaround this to see if this is it? cast of some sort?

[2016-02-05 11:35] czardoz commented on #1694
Yes, something like

[code]

[2016-02-05 11:39] alowenst commented on #1694
OK.. I used tests["artifact was deleted"] = jsonData.removed_id === String(id); and it worked :smiley:
Thanks a lot!!

[2016-02-05 11:39] #1694 closed, assigned to czardoz

[2016-02-05 13:21] alowenst commented on #1694
BTW, although the problem is now fixed for me, I suggest that you do fix the root cause for why PM passed the test and NM didn't.
Thanks again.

[2016-02-05 13:34] czardoz commented on #1694
Yes, a fix will be pushed in the next release of Newman.

[2016-02-05 13:50] prakhar-singh opened #1695 "Referencing variables within functions does not work"
[code]

I tried running the above code in Pre-request script. Can we not call environment variables inside function? If yes, is there a workaround for this?

[2016-02-05 15:36] alowenst opened #1696 "Enhancement request - add a shortcut for update link"
Hey guys!

a keyboard shortcut for **update link** would be very productive. Going into collection settings and hit that button every time is cumbersome.
Thanks!!

P.S.
Love your tools!! keep up the good work :smiley:

[2016-02-05 17:52] jhasselkus commented on #1205
Unless I'm missing something, there also doesn't seem to be _any_ way to rename a request with name so long that it exceeds the width of the left-hand panel. The little 3-dots in a circle menu prompt won't show in that case.

[2016-02-05 18:25] Rychard commented on #1205
@jhasselkus Well, from what I see there are a couple alternatives.

Open the Details panel for the collection by clicking the <kbd>&rarr;</kbd> button. to the right of the collection's name.
![image](https://cloud.githubusercontent.com/assets/2145848/12855020/fe27e6bc-cc0a-11e5-82e0-f5b39d1688a0.png)

On this panel you can see _more_ of the title
![image](https://cloud.githubusercontent.com/assets

[2016-02-05 18:40] jhasselkus commented on #1205
@Rychard Ah, thanks for the workaround!

[2016-02-05 19:43] j4p3 commented on #1689
I'm experiencing this issue as well on OSX 10.9.5. Postman launches, but is nonresponsive for 30-60s before responding to actions. I'm not seeing this with any other chrome apps on my machine.

[2016-02-06 01:36] brjennin commented on #1173
Any idea if this is being worked on? Would love to be able to import globals

[2016-02-06 02:26] P120D1GY opened #1697 "Postman Mac Beta - XML pretty print not working"
XML pretty print is not working with Postman Mac Version 4.0.0-beta.2 (4.0.0-beta.2)

[2016-02-06 06:07] pathikpatel3007 opened #1698 "Having trouble in POstman Collection"
I am having some issue with Postman Collection. When I am running collection, won't be able to see how many APi passed and how many failed.

Please see attached screenshot
![capture](https://cloud.githubusercontent.com/assets/12001027/12865003/60c652e0-cc65-11e5-8150-157d1583eae9.JPG)

[2016-02-06 07:00] abhijitkane commented on #1698
@pathikpatel3007 Have you written tests for your requests? (https://www.getpostman.com/docs/writing_tests)

A 200 OK response for a request will not automatically be treated as a success or response.

[2016-02-06 07:02] abhijitkane commented on #1697
@P120D1GY Can you try hitting httpbin.org/xml in the app? The XML Pretty printing seems to work fine for me.

[2016-02-06 12:47] Malet commented on #366
:+1:

[2016-02-06 13:48] francescotonini commented on #958
It has been almost a year, any changes? :)

[2016-02-07 10:28] pjacferreira opened #1699 "Can't Edit/Delete Collection Items if displayed URL wider than left hand side bar"
Hi,

I started saving my URL to a collection, and then found out that I can't delete or edit the requests if the display of the URL is wider than left hand sidebar (i.e. if the displayed url is truncated).

URLs that fit, display the "..." to edit, the other's don't.

In the attached screenshot, the 1st 3 items of the authentication collection don't display the "...", the last one .../test does.

[2016-02-07 10:31] pjacferreira opened #1700 "Feature Request: Ability to add Cookies to Request"
Hi,

I was wondering if it was possible to add cookies to collection item requests (basically extend the request with user defined cookies for testing)?

[2016-02-07 11:13] abhijitkane commented on #1700
To add cookies, you'll need to use the Interceptor - http://blog.getpostman.com/2014/11/28/using-the-interceptor-to-read-and-write-cookies/

If you have the Mac app (https://www.getpostman.com/apps), you can add cookies from the app itself.

[2016-02-07 11:29] abhijitkane commented on #1699
@pjacferreira Thanks for reporting this. We're working on a UI revamp, and will certainly include a fix for this.

[2016-02-08 04:33] pjacferreira commented on #1700
Okay, thank you for your reply.

I have postman interceptor installed (version 0.2.16). The Icon seems to different from the stop lights used in the blogs entry, but I assume that is known.

With interceptor active, I still don't have any place to add the cookies, but in the blog they speak of needing JetPacks also, which I don't have, so I assume that that is the problem.

[2016-02-08 04:33] #1700 closed, assigned to nobody

[2016-02-08 06:39] abhijitkane commented on #1700
@pjacferreira We're now shipping version of Postman with Jetpacks activated. If the Interceptor is enabled on Postman, you just need to add a `Cookie: name=value` header in your request.

[2016-02-08 10:21] sibalas opened #1701 "License cost"
Hi Team,
Please let me know the price for postman jet license cost.Earlier it was 10$ and now i could see the changes - https://www.getpostman.com/pricing.

Kindly confirm the cost.

Thanks,
Siva

[2016-02-08 11:06] calebrepkes commented on #1411
Happens to me too. Even when using canary.
Versie 50.0.2641.0 canary
Version 3.2.15 (packaged)
OS: win
Architecture: x86-32
Native client architecture: x86-32

[2016-02-08 14:23] sp-ricardo-amores commented on #285
+1

[2016-02-08 14:25] rickyah commented on #285
+1

[2016-02-08 15:18] abtiddle commented on #1383
+1

[2016-02-08 15:23] abtiddle commented on #1433
+1

[2016-02-08 16:04] stormposse commented on #1697
XML Pretty Print does not work for me either in the Mac v4.0.0-beta.2 version. The XML from httpbin.org/xml is already 'pretty-printed' in the raw text of the response and Postman seems to show it exactly as-is, but an XML string like:

[code]

is not pretty printed. It worked OK in v3.

[2016-02-08 16:09] stormposse opened #1702 "Mac v4 beta Export data is not working"
I'm using Yosemite. In the Mac v4.0.0-beta.2 version it seems SETTINGS > Data > Export data is not working? When I click on the orange Download button I don't get the file selector dialog?

[2016-02-08 16:11] ghost commented on #1104
+1 for me too.

[2016-02-08 19:00] kariudo commented on #86
This issue should be closed. This is already implemented. Just Copy as Curl and paste into the Import as text box.

[2016-02-08 19:14] dzuluaga opened #1703 "Postman Client beta 4.0 just keeps syncing"
Hi there,

Postman Client Mac version just keeps syncing and doesn't return. Chrome Plugin older version works fine though.

![postman](https://cloud.githubusercontent.com/assets/1755383/12896093/ed93c4a0-ce54-11e5-97fe-b069b69c7336.png)

Thanks,
Diego

[2016-02-08 19:22] srbangre opened #1704 "Helpful if you want to check if all your tests are passed"
Hi,
Just thought this will be easy for those who put lots of assertions/tests in their scripts -
If you have so many tests statements in your script and figure out if all the tests return true or false - It is possible in below way -

I have 10 tests in my single test case for validation. i need to print console.log if all the tests are passed or true. how to do that -
//checking if all assertions

[2016-02-08 19:22] dzuluaga opened #1705 ""Run in Postman" button in Postman Documentation and public Documentation"
I really like that Postman Documentation generates HTML pages from my collections. However, I noticed that Postman Echo sample includes "Run in Postman" button. How can I include this button in my own documentation? Also, how can I make this page public? so, that anyone can see this page first and then they can import into their collections.

![postman_echo](https://cloud.githubusercontent.com/ass

[2016-02-08 19:23] srbangre commented on #1704
This is not an issue but a helpful tip for people like me :)

[2016-02-08 22:44] kweejee commented on #1674
I had this same problem where it stopped launching until I uninstalled, rebooted, then reinstalled.  The console logs would stop showing info after the Google Logout line.

[2016-02-09 00:32] grmartin commented on #1686
I find i have the same issue. it particularly bad with Markdown. I end up doing all of my markdown work in an editor, then copying it all and ctrl+a, ctrl+v to put it in. i never edit directly within a modal/shadowboxed window.

[2016-02-09 07:14] abhijitkane commented on #1703
@dzuluaga Can you try signing out and signing back in? If this doesn't help, can you shoot us an email at help@getpostman.com?

[2016-02-09 07:16] abhijitkane commented on #1701
@sibalas Jetpacks is now included in each copy of Postman.The pricing page has been updated to reflect this. Only the Cloud plan is paid.

[2016-02-09 08:53] SamvelRaja commented on #1702
Thanks for reporting the problem. The issue has been identified and will be fixed in the next beta update.

[2016-02-09 13:47] eXeDK commented on #156
+1

[2016-02-09 13:48] dfrommi opened #1706 "Postman Cloud not detecting conflicts"
When multiple users are modifying the same request of a shared collection at the same time, then the result ist unpredictable. Postman cloud doesn't detect the conflict and resolves them or at least warns the user.

We could observe, that either one change wins, overwriting the other user's change, or - even more surprising - both changes kind of win. In the latter case, the change of user A is vi

[2016-02-09 18:29] dzuluaga commented on #1703
Great! I can see collections showing up. The icon never turns orange though
and it keeps saying syncing. Everything else seems to be working fine.
Thanks guys!

On Mon, Feb 8, 2016 at 11:14 PM, Abhijit Kane notifications@github.com
wrote:

##

Diego Zuluaga | apigee http://www.apigee.com/ | m: +1.415.299.9983 | twitter
@dzuluaga http://twitter.com/dzuluaga @apigee https://twitter.com/apigee
| skyp

[2016-02-09 19:07] VictorK commented on #854
Using v3.2.15 windows version, noticing the same as treo, the initial run is correct but when you click "New run" it doesn't start from the beginning but in my case it always starts from the 24th request out of 33.

[2016-02-09 19:38] abhijitkane commented on #854
@VictorK Can you send the collection (or any collection that helps you reproduce the issue) in question to help@getpostman.com?

[2016-02-09 21:07] dzuluaga commented on #1703
It seems to be working now. Thanks Abhijit!

Please let me know if you want me to close the ticket.

[2016-02-09 22:47] twellspring opened #1707 "Segment Parameters not being replaced under 4.0"
I just upgraded to postman 4.0 OSX Client ( MacOS 10.11.2 ) and segment parameters are no longer being replaced.

Example: `ord-salt-api-prod-1/servers/:server`

![postman screenshot](https://cloud.githubusercontent.com/assets/9868888/12933018/b66abd80-cf3a-11e5-9bda-526be321de5c.png)

My API log shows the URL with the :server variable still in place
`::ffff:192.168.x.xx - - [09/Feb/2016:22:38:34

[2016-02-10 06:22] RonakThakkar commented on #1137
+1

[2016-02-10 14:20] KumG commented on #1699
A workaround is to click on the arrow next to the folder title. Then, it is possible to edit/delete the query.

[2016-02-10 22:33] dzuluaga opened #1708 "Postman Authentication Token saved empty on 4.0"
Hi there,

Tokens are saved empty when using Authorization feature. See screenshot below. Chrome extension works fine.

<img width="948" alt="postman" src="https://cloud.githubusercontent.com/assets/1755383/12964112/2be15100-d003-11e5-9f50-55c1f979822d.png">

Thanks,
Diego

[2016-02-10 22:54] fracture-point commented on #712
FYI the syntax here has changed.  I am running Version 48.0.2564.109 (64-bit) on OSX 10.11.3 and the exception needs to be formatted as....
chrome-extension://postman_extension_id/
...or else it will not work (notice extension is singular)

I also left this comment on the commit.

This all-together was a waste of about 3 hours of frustration just to get the extension to work.  I highly, highly rec

[2016-02-10 22:58] dzuluaga opened #1709 "Postman 4.0 cURL generate code produces [object Object]"
Here's the string generated from Postman 4.0:

[code]

[2016-02-11 07:26] pjacferreira commented on #1699
@KumG Thank you, that helped a lot.

[2016-02-11 07:26] #1699 closed, assigned to nobody

[2016-02-11 08:09] abhijitkane commented on #1708
Thanks for reporting this @dzuluaga. We'll be pushing a fix for this soon.

[2016-02-11 08:28] abhijitkane commented on #1709
Thanks for reporting this. We've fixed this, and we hope to release an update by tomorrow.

[2016-02-11 11:55] benjackwhite commented on #1235
+1 for this. This and securityDefinitions is the only thing stopping me from automating the generation and publication of our API directly to a swagger collection

[2016-02-11 14:04] Henni opened #1710 "Add WebDAV methods"
As @mxk1235 mentioned at https://github.com/postmanlabs/postman-app-support/issues/166#issuecomment-165262522, Postman is missing most of the WebDAV http methods, including:
#### [RFC 4918](http://www.webdav.org/specs/rfc4918.html)
- [ ] PROPPATCH
- [ ] MKCOL
- [ ] MOVE
#### [RFC 3253](http://www.webdav.org/specs/rfc3253.html)
- [ ] VERSION-CONTROL
- [ ] REPORT
- [ ] UPDATE
#### [RFC 5323](http://

[2016-02-11 17:03] 360disrupt commented on #1633
Better would be if the `{{}}` is replaced before the body is evaluated. So one can see immediately if e.g. a env variable is missing/invalid.

[2016-02-11 19:28] jjurisch commented on #1695
Looking at https://www.getpostman.com/docs/sandbox, I found:

**environment:** A dictionary of variables in the current environment. **Use environment["foo"]** to access the value of the "foo" environment variable.

So think you would use something like:

[code]

[2016-02-11 19:36] jjurisch commented on #1483
Would also like this feature. I know you can use console.log() to add whatever we want to the console, but would be ideal to just be able to expand and see what the actual value was for my failed/passed test.

For example - to see what the actual status is (other than 500) I basically have to duplicate every line with a console.log like:

[code]

It would be nice if we could simply click and expan

[2016-02-11 20:59] rohan-pulekar commented on #1180
Any updates on this?
I was using postman app and created a test case in it. My Tests tab has:

$.getScript("/Users/rpulekar/work/workspace_for_sothebys/sample.js",
function()
{});
function1();

And my sample.js has:
function function1() {
    tests["test2"] = responseCode.code === 200;
}

When I run the test, I get:

[2016-02-11 21:08] rohan-pulekar opened #1711 "unable to load external js files in postman"
I am using postman app and I created a test case in it. My Tests tab has:

Postman runs this fine and gives

Then I modified the text in my Tests tab to:

And modified sample.js to:

When I run it now, I get:

Anyone have any idea what I am doing wrong?
Thanks

[2016-02-11 21:16] P120D1GY commented on #1697
Looks like this was fixed in 4.0.0-beta.3.

@stormposse:
Does it work for you as well after today's update?

[2016-02-11 21:36] weswesley opened #1712 "Authorization type does not save"
If you save a request into a collection, the Authorization type select box only saves as "No Auth" even if it was saved with it set to "OAuth 1.0" or any other.  The keys and data are stored, but not the option of the select box.

[2016-02-11 22:06] MTen opened #1713 "Invalid linter error when using non-string value in handlebars request body"
![postman-false-postiive-linting-error](https://cloud.githubusercontent.com/assets/5403486/12992221/1dd54f60-d0e1-11e5-976c-052e40af2740.png)
*random example

When using handlebars to interpolate an int instead of a string in the body, the linter throws an error saying that the handlebars syntax is a bad string.

The body requires an int, and this call still works by interpolating the envVariable

[2016-02-11 23:35] P120D1GY commented on #1697
Marking issue as closed, 4.0.0-beta.3 resolve the issue.

[2016-02-11 23:35] #1697 closed, assigned to nobody

[2016-02-11 23:52] MTen commented on #1711
Well there are a few things here.
It looks like jQuery has been depreciated so your ajax may not exactly work. A good way to check that is by enabling the chrome dev console.
(http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/)

List of sandbox libraries.
https://www.getpostman.com/docs/sandbox

This is a bit of a hack but it will do what you're looking to do

In

[2016-02-12 01:43] JuanCaicedo opened #1714 "Disable full screen mode"
Is there a way to disable full screen mode for the app and have it open a new tab within Chrome instead? This was the behavior of Postman 2. Full screen mode interferes with my workflow because if I cmd+tab to Chrome, it sometimes switches to Postman :)

Great project, thanks!

[2016-02-12 05:26] SamvelRaja commented on #1702
Hey @stormposse the fix has been released with our latest update `v4.0.0-beta.3`. Can you cross check this and close the issue.

[2016-02-12 07:52] prakhar-singh commented on #1695
Thanks for the help. :)
I wasn't paying enough attention, I guess.

[2016-02-12 07:53] prakhar-singh commented on #1695
Thanks for the help. :)
I wasn't paying enough attention, I guess.

[2016-02-12 07:53] #1695 closed, assigned to nobody

[2016-02-12 12:34] mstaalesen opened #1715 "Header dropdown/autocomplete disappears when hovering over"
In Postman 3.2.16, if I attempt to add a header to a request, the dropdown disappears as soon as I hover over the field.

Example:
In "Header" field, enter: "Content".
The autocomplete/dropdown box appears with suggested values.

As soon as I attempt to select a value (e.g Content-Type), the box disappears. The only way I can select the value I want is by using the cursors on the keyboard. Not a b

[2016-02-12 13:44] xxldoctor opened #1716 "Protocol trimming in preview code window"
When I have a https request, and press </> button (for code copypasting), the host is displayed without protocol. In case of http request it is OK, but when I send code of https request, correct protocol is significant.

[2016-02-12 16:21] bradobro opened #1717 "Update lodash to at least 3.x stable."
Currently Postman supplies LoDash 3.6.0.

Version 4.3.0 is current.

Current stable 3.x is 3.10.1 includes _.get() (new in 3.7.0), which can really DRY up some tests.

[code]

[2016-02-12 18:05] zarubto4 opened #1718 "Upload file"
Hi,

I want uploud file to server.

I set in headers:
Content-Type : multipart/form-data

in body (form-data)
key: file  value: (my txt file)

And -> never ending Loading.. and message from postman: Error while sending request: $ is not defined

![snimek obrazovky 2016-02-12 v 19 03 59](https://cloud.githubusercontent.com/assets/16296782/13015806/6cd6eb7a-d1bb-11e5-9108-7f8f77a8012b.png)

Any idea

[2016-02-12 20:17] paivaric commented on #366
+1

[2016-02-12 20:59] jackrk commented on #1434
Any docs on x-postman-meta extension?

[2016-02-13 00:42] voidmain opened #1719 "Desktop client scroll issues"
I'm using the desktop (Mac) version of Postman and the scrolling makes it almost too painful to use the app. The response textarea is always 50 lines of text and this isn't configurable. After I submit a request, I can only see 20 or less lines of the response. I have to move my cursor to the side of the app, outside of the request body textarea and then scroll the tab down until the full response

[2016-02-13 10:01] Christoph-Wagner opened #1720 "PostMan not sending any requests or saving in history"
Windows 10 64bit, Chrome 48.0.2564.109 m, Postman 3.2.16 (packaged)

The following errors show up in the console upon starting postman:
window.localStorage is not available in packaged apps. Use chrome.storage.local instead. (3 times)
beforeunload is not available in packaged apps. (2 times)
unload is not available in packaged apps.

Last log before nothing else happens:
10:52:52.141 - All data ex

[2016-02-13 10:13] Christoph-Wagner commented on #1720
Found #712 fixing this. It probably really should be checked as fracture-point mentioned ;)

[2016-02-13 10:13] #1720 closed, assigned to nobody

[2016-02-13 12:23] prakhar-singh commented on #448
When can we expect this issue to get closed?

[2016-02-13 12:32] MovGP0 opened #1721 "WebDAV methods"
The WebDAV commands `COPY` and `DELETE` are available, but others are missing. This includes `PROPFIND`, `PROPWATCH`, `MKCOL`, `MOVE`, `LOCK` and `UNLOCK`, which are the minimal requirements for WebDAV implementations.

There are even more [WebDAV methods](https://msdn.microsoft.com/en-us/library/aa142917%28v=exchg.65%29.aspx), so it might be useful to let the user type in a method that is not in

[2016-02-15 07:38] manjitkumar opened #1722 "No html preview of page when there is a 500"
What i have observed is that postman app is not showing html preview of error response returned by server like it was showing in previous releases.

I have put a syntax error for demonstrating the error for reporting to you.
I have added a few screenshots to help you understand the issue better. Let me know if i can help further.

<img width="1280" alt="1" src="https://cloud.githubusercontent.com/

[2016-02-15 09:51] b22n opened #1723 "Support Bearer Token Authorization"
It would be useful that support the bearer token on the request Authorization tab.

It's just simple function that add a header for 'Authorization' with 'Bearer ' + token string without OAuth2 flows.

[2016-02-15 10:12] tplaindoux commented on #1472
Happend to me this morning for no apparent reason.

[code]

[2016-02-15 12:21] andy-cam commented on #1535
+1 for this, our use case requires several steps along a user journey before certain calls will function as expected, and we don't want to litter collections with duplicate, unlinked requests. Global (or superclass-like) tests that can be referenced in collections rather than duplicated would be very powerful!

[2016-02-15 14:30] flexy1994 commented on #1715
Same here.
Postman (3.2.16.1) OSX
OSX 10.11.12

[2016-02-15 18:20] maxihornes opened #1724 "Dotted menu isn't accesible for large collection/request names"
If the request or collection have a long name, the dotted menu is hidden by the scroll. I think it will be more accessible if it always displays the button fixed to the right.

[2016-02-15 20:39] AramilRey opened #1725 "Response example on cloud docs"
This feature already exists!! Nice :D

[2016-02-15 20:42] #1725 closed, assigned to nobody

[2016-02-15 20:59] maxihornes opened #1726 "Fields (headers, params, fields) jumping moving the cursor over the title"
When the request is added to some collection, the fields listing moves horizontally when you move the cursor over the title of the request and the fields.

[2016-02-16 01:41] a85 commented on #1725
Yep! :)

[2016-02-16 08:11] hkrug commented on #1137
+1

[2016-02-16 08:48] kpfgmaur commented on #366
+1

[2016-02-16 08:51] kalun1988 opened #1727 "global variable is wrongly set in tests"
I am using Version 3.2.16 , OS:mac
When I added a request to collection with test
`postman.setGlobalVariable("value-a", JSON.parse(responseBody).value_a);`

and I edit it afterwards to
`postman.setGlobalVariable("value-b", JSON.parse(responseBody).value_a);`

The request will wrongly set both value-a and value-b

[2016-02-16 09:43] MayankSe-Kore opened #1728 "Getting 500 error on using newman to run a suite though same suite works fine via collection runner."

[2016-02-16 09:46] abhijitkane commented on #1728
@mayank-sethi Can you please provide some more info here? Any errors in Newman? A screenshot would be helpful too.

[2016-02-16 09:49] MayankSe-Kore commented on #1728
@abhijitkane no its not giving any error out there. Its just saying 500 internal server error. Surprisingly same suite pass always when we run via collection runner. Dont know wats a difference there.

[2016-02-16 09:57] czardoz commented on #1728
@mayank-sethi More information is needed to debug the issue. Can you add "console.log(responseBody);" at the top of the test script of the failing request and share the output here?

If your response contains sensitive information, please email it to us at help@getpostman.com

[2016-02-16 10:12] oli206 commented on #1707
Same here, just discovered this feature and when trying to use it in the Mac app, it does not replace the values:

http://{{hsdi}}/hotel-static-data/getHotelStaticInfo/:mode/

results in a HTTP request:

Request URL:http://10.223.2.130:33234/hotel-static-data/getHotelStaticInfo/:mode/

I'm using 4.0.0-beta.2

[2016-02-16 10:27] abhijitkane commented on #1707
@oli206 @twellspring Thanks for reporting this. We'll fix this in the next release.

[2016-02-16 10:29] abhijitkane commented on #1707
<img width="860" alt="screen shot 2016-02-16 at 16 00 03" src="https://cloud.githubusercontent.com/assets/681190/13073763/7a0621cc-d4c6-11e5-9905-9ecbf675562d.png">

@oli206 @twellspring Are you still seeing this in the latest version - 4.0.0-beta.3? Seems to be working for me

[2016-02-16 10:52] oli206 commented on #1707
Hi @abhijitkane and thanks for your quick response :)
I've been trying to update to beta 3 for the last two days but something must be wrong with my installation because I download the update, restart the application and it is still on beta 2 (and i'm asked to update again).

I'll try to make a fresh install and try again

[2016-02-16 10:52] abhijitkane commented on #1718
@zarubto4 Thanks for reporting this. We'll fix this with the next beta release.

[2016-02-16 10:54] abhijitkane commented on #1718
Also, if you select form-data, the header is set automatically. There's no need to add a custom header yourself- this will interfere with the correct header.

[2016-02-16 11:14] oli206 commented on #1707
It works on 4.0.0-beta.3
Thanks!

[2016-02-16 12:05] oi-io commented on #1724
To get rid of a such request, I had to 1.create an empty collection; 2.drag the request to the collection; 3.delete the collection

just a side note, names won't get that long normally but if you add a request from the history(intercepted from chrome) using the "Add to Collection" menu next to the bin icon.
You won't be able to add a name for the request, and the url was used as name. so you will

[2016-02-16 13:30] mstaalesen commented on #1728
Might I add that running newman with the argument -O will give you a verbose log-printout of what has happened. I'm guessing you have some differences in your environment/global variable files (comparing what is imported in Postman and actually stored in the global/environment files you are using with newman)

[2016-02-16 13:36] mstaalesen commented on #1727
Is the response (value_a) the same value in both requests? Have you cleared your global variables between editing?

[2016-02-16 14:07] giuliocaccin commented on #1137
+1

[2016-02-16 15:29] cbibbs commented on #1611
I need the pre-request as well. The data set for my smoke tests is a single end-point that I'd like to be able to hit and parse the response as an environment variable. That's easy to do now, but I end up hitting that end-point hundreds of times instead of just once. Pretty sloppy.

[2016-02-16 17:54] helloeve commented on #366
+1 for tab

[2016-02-17 01:20] gsrinu78 commented on #1011
Hi i am facing issues in connecting to postman server. can you please advise what would be the issue.

![image](https://cloud.githubusercontent.com/assets/17283451/13096887/d3d8199e-d570-11e5-967e-c5bcef17309e.png)

[2016-02-17 02:34] sobtiankit commented on #1011
@gsrinu78 Can you please email help@getpostman.com with your App version number and user id? You can find this under Settings > About.

[2016-02-17 04:30] galenweber opened #1729 "Error with generated NodeJS(Request) code"
I built this POST request with Postman.

https://www.getpostman.com/collections/395ae4c80aded55f3e5c

I wanted to replicate the request on my node server. I copied the generated NodeJS(Request) and ran it with node, but received this error `"Cannot read property 'hasOwnProperty' of null"`.

I've pasted the generated code below:

[code]

I believe this is an error with the formData variable, namely

[2016-02-17 04:40] moisesrodriguez commented on #1718
@abhijitkane I spent bunch of time with that issue, I gave up at some point and started using Advance REST extension in Chrome because I wasn't able to upload an image using POSTMAN. It should probably give you some kind of warning that setting the header is interfering with the correct header. Or if you select form-data it should autofill the header, so we don't add custom headers that interfere

[2016-02-17 08:33] RobbertWolfs commented on #1472
Happend to me this morning :-1:

[2016-02-17 08:47] VasekPurchart commented on #1652
Any update on this? Is this coming anytime soon, please? We have almost same issue as described above and since this issue is closed I don't know where to track progress/updates, can you eventually point me somewhere else if this is not the right place, please?

[2016-02-17 16:35] albertdev commented on #576
3B) Variant of number 3: detect that the custom content-type header starts with "multipart/" and append the newly generated boundary parameter to the Content-Type header before sending.

I want to use this to send a `multipart/mixed` or even some custom type starting with `multipart/` while keeping the convenience of the "form-data" body GUI type.

[2016-02-17 16:57] albertdev commented on #576
For my case though, Postman could also look for the custom Content-Type header containing `multipart/mixed` and check if it already contains a `boundary=` parameter, then use that one instead of generating a new one.

Maybe I should create a new feature request.

[2016-02-17 21:15] ejkdeveloper commented on #1704
Thanks a lot for sharing this snippet of the code. It was really helpful in making life easier in validating all the assertions..

[2016-02-17 21:24] sarikav1986 commented on #492
I am having same problem. I need to pass id_token to another call to get JWT token back. Can you let us know if I can read and store id_token value in a global/environment variable?

[2016-02-17 23:38] desygn opened #1730 "Collection Runner constantly crashing on Mac OS 10.9.5"
Hello,

I have been a long time user and am noticing that after I updated my Mac OS 10.9.5 with the latest security updates that the Collection Runner is constantly crashing Postman. It used to crash every so often but now it seems to crash ~60% of the time I run my tests.

Postman version is Version 3.2.16 (packaged) OS: mac

Any ideas?

Art

[2016-02-18 07:49] Oleksandr-Tokmakov commented on #1630
I have solved my issue. In my case I just added resource to Authorization URL:
https://login.microsoftonline.com/{my_tenant_id}/oauth2/authorize?resource={resource_id}

[2016-02-18 08:09] abhijitkane commented on #1730
@desygn That's odd - we haven't had this reported before. Does this happen with any collection you try to run?

Can you check the runner's console (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) for any errors? (You'll need to right click on the runner > Inspect element)

[2016-02-18 09:40] Alicia-L opened #1731 "Eliminate/disable dimming with modal dialogs"
Version 3.2.16 (packaged) OS: win
Architecture: x86-32
Native client architecture: x86-64

When I open a modal dialog, such as "Generate code snippet" or "New collection" the entire screen starts dimming, including the dialog I just opened. This takes 4-5 seconds and by the end of it the dialog is quite dark and some low-contrast text (such as the light-grey entries in the combobox below) becomes

[2016-02-18 12:05] kyle-felizz commented on #697
+1

[2016-02-18 12:50] saulopaiva commented on #283
Hi,

Adding to the discussion, in the new WordPress API to get the access token via OAuth1, the step of "[Token Exchange](http://oauth1.wp-api.org/docs/basics/Auth-Flow.html#token-exchange)" is necessary, in which the sending of "oauth_verifier" is obrigatory.

Because this API is becoming standard and being integrated into the Core of WordPress, this type of test by Postman will turn out to be mo

[2016-02-18 14:13] benallamar opened #1732 "Preview doesn't work properly in PM APP MAC"
When I try to see the preview of the response of my localhost server, I tried to click on Preview, but I get a white screen instead of a HTML PAGE.
Could some one helps me ?

[2016-02-18 14:34] jzeferino opened #1733 "DOWNLOAD COLLECTION WITH ENVIROMENTS"
hello. when i download a postman collection and import it on another computer the environments don't export too.
i can export them separately but i don't want to do that.
there is any way to export the collection and the associated environments to a single file?

[2016-02-18 14:37] e-nouri opened #1734 "AWS Signature V4 missing the sessionToken"
AWS Signature V4 can be done fro credentials issued by IAM (that have accessKey and secretKey) or credentials that are issued from Cognito (that have accessKey and secretKey and a sessionToken).

Postman added support to AWS V4 signature, there is only place for accessKey and secretKey, but not sessionToken!

Is there a way or a workaround to added the sessionToken ?

[2016-02-18 15:31] adrianp commented on #1589
Still seems to affect v3.2.16
![tpprqmb](https://cloud.githubusercontent.com/assets/480478/13148294/683eb72e-d665-11e5-98fd-6de24845f4a6.png)

[2016-02-18 16:49] cawoodm opened #1735 "OAuth header not immediately used"
Setup a request with OAuth2 and, the first time I pressed "Send" it did not add the header. Just pressed "Send" again and it did. Seems to be some delay/hesitation in saving/loading the token and I think it needs to be checked as send is clicked.

I can provide a Fiddler dump of the 2 requests if it helps.

[2016-02-18 17:46] janpio opened #1736 "Can't save {{$guid}} to environment variables using tests any more?"
Hi.

Before it was possible to use `{{$guid}}` as a form data variable (e.g. `transaction_id`) value and then save it to the current environment for later usage in other requests by executing this code in the test:

[code]

`request` is the request object, `request.data` the form data and `request.data.transaction_id` contained the calculated value of `{{$guid}}`.

Was this behaviour changed in a

[2016-02-18 17:51] janpio commented on #1736
Oh my, now it's getting strange: The exact same behavious that doesn't work when manually executing tests works fine in the Collection runner. Huh?

[2016-02-18 17:52] abhijitkane commented on #1736
@piotrowski What version of the app are you using?

[2016-02-18 17:56] janpio commented on #1736
[code]

[2016-02-18 17:57] abhijitkane commented on #1736
I'm not able to reproduce this on 3.2.16. Can you import this collection and see if the test runs for you - https://www.getpostman.com/collections/4afc47d0de913285a2b6?
You'll need to have an environment selected.

[2016-02-18 17:59] janpio commented on #1736
Ok, will do. Here is my collection where I could reproduce this behaviour:
https://www.getpostman.com/collections/7ede2a9880b32a97e248
Manual execution sends different value, collection runner the same one.

[2016-02-18 18:02] janpio commented on #1736
@abhijitkane Ran you collection with a empty test environment twice, manually and in the collection runner - see image for result:

![fail-pass](https://cloud.githubusercontent.com/assets/183673/13153010/31bbdd00-d672-11e5-94b5-c60737694633.PNG)

[2016-02-18 18:10] anton-johansson commented on #1514
I have another problem, related to the ordering of the collections of the exported data.
- I export my data
- I commit it in my version control
- I clear all my collections
- I import all my data
- I make some small to a request changes
- I export my data again, to the same file

There are now loads of modifications (not just the small changes I made). @esbenboye mentioned it being sorted by creat

[2016-02-18 18:28] abhijitkane commented on #1736
@piotrowski Does it work if you change `setEnvironmentVariable` to `setGlobalVariable` and `environment.sampleId` to `globals.sampleId`?

[2016-02-18 18:32] abhijitkane commented on #1514
@anton-johansson We're working on introducing a new collection format very soon. These issues should  soon be sorted out.

[2016-02-18 18:53] AramilRey commented on #1159
I'd love to have this feature too!!

It would be nice, for example, to add pre-request scripts to the collection and then in each request choose from the scripts added on the collection where it belongs, so if I need to change something from a script I don't need to do it on every request!

[2016-02-18 18:56] janpio commented on #1736
No, same behaviour.

(Test with changes: https://www.getpostman.com/collections/996021908981ff7b51f7)

[2016-02-18 19:05] desygn commented on #1730
It is extremely unstable at this point. I cannot even open the Collection
Runner without it crashing. I just discovered you guys have a native Mac
application. I think I'll just start using that instead of fighting with
this.

Art

On Thu, Feb 18, 2016 at 3:09 AM, Abhijit Kane notifications@github.com
wrote:

[2016-02-18 19:30] Dillie-O opened #1737 "Overriding Protected Headers in Mac App"
I apologize if this is in the wrong place. Please direct me accordingly.

I have an API that i'm testing locally, and when I do so I need to specify the appropriate Origin value in my header. When using the Chrome App, I installed the Interceptor plugin, added the Origin to my headers and everything worked fine.

However, this isn't working in the Mac app. I can use the "generate code" feature to

[2016-02-19 07:57] abhijitkane commented on #1736
Do you see any errors in the console (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) when you send the request?

[2016-02-19 10:45] andrefreitas commented on #1411
Same issue here. I need to wait a couple of minutes to start using postman.

[2016-02-19 10:47] alvmunoz opened #1738 "Run Button do not download postman"
Hi, we have been reported by some customers that when they click our "Run Button" ( located in this page: https://developer.hotelbeds.com/docs ) after the pop-up is shown, they select the Chrome option, and instead of downloading Postman (cause they don't have it installed) a new tab is opened with the json file.

[2016-02-19 10:50] a85 commented on #1738
@alvmunoz A web page doesn't have the relevant security permissions to detect/redirect based on installed apps just yet. We are adding a header bar on top that will point users to the Chrome/Mac app links. Guessing users are missing the "Open in Web View" warning message right now. https://www.dropbox.com/s/0fl4c51ik8e0787/Screenshot%202016-02-19%2016.19.50.png?dl=0

[2016-02-19 10:52] janpio commented on #1736
"You can right click on the main Postman window > Inspect element." never worked worked for me on Windows, so I used chrome://inspect -> Apps to get to the correct window. Hope this is the same thing.

1. No, I don't. I didn't even see the request!
2. So I found out I had this "Interceptor" thing activated.
3. And Interceptor has its own Developer Tools where I see the request now. But no errors.

[2016-02-19 10:58] alvmunoz commented on #1738
Thanks for the label.

Probably most of the users do not know that to "Open with... Chrome App" they actually need to have the App installed.

But doesn't sound that you can do much about it.
Thanks for your help.

[2016-02-19 10:58] #1738 closed, assigned to nobody

[2016-02-19 15:05] kmacharg opened #1739 "How to spell test to check JSON value against a variable."
Hello,

Let me first say I am loving postman, it has been an invaluable tool for testing my teams APIs.

I am trying to write tests using the _JSON value check_ and checking the results are equal to a variable defined in a file, however my test keeps failing and I am wondering if I am just doing some Javascript wrong.

`console.log(tests["Client ID is correct"] = jsonData.data.client_stack_id ===

[2016-02-19 20:25] catherinetcai commented on #1472
+1. Unable to use Postman.

[2016-02-19 21:22] mstaalesen commented on #1739
You can't access the variables with '{{var}}' in your tests, that only works in Body. You have to access the environment variable like this: postman.getEnvironmentVariable("client_stack_id")

So in this case:
`tests["Client ID is correct"] = jsonData.data.client_stack_id === postman.getEnvironmentVariable("client_stack_id");`

(If it is a globalvariable, the method is `postman.getGlobalVariable("c

[2016-02-19 22:03] mstaalesen commented on #1726
Not sure if this is what you mean, but I've noticed that the URL bar gets a bit wider when hovering over the title of "Body", "Tests" etc.
![test](https://cloud.githubusercontent.com/assets/14194793/13190342/eb2f95d4-d75c-11e5-964e-416863cbd665.png)

[2016-02-19 23:05] cornelius-dol commented on #712
@fracture-point : It's kind of ridiculous for Chrome to require exceptions for running scripts in extensions that you've approved on install. However, this doesn't seem to be the case anymore, as I don't have an exception for the above URI and mine is working fine.

[2016-02-19 23:09] fracture-point commented on #712
@lawrence-dol I definitely agree that JS should be implicitly allowed on installed extensions.  Not sure what you mean though by "you don't have an exception for the URI"?

This is an issue in my case (and I assume with most others) because I have javascript disabled by default.  All sites need to be manually java-approved to run client-side java.

[2016-02-19 23:32] cornelius-dol commented on #712
@fracture-point : I meant that I have JavaScript disabled for all sites and don't have an exception, as described above, to allow JavaScript to run but Postman is working just fine for me. So I thought the issue that caused this has been fixed in Chrome.

But I was in fact wrong; I have an exception for all extensions, though I'm not sure if I added it myself... in fact, I quite sure I didn't.

[c

[2016-02-19 23:55] abelhabel opened #1740 "OAuth 2.0 - Could not send request"
When using the Authorization feature in Postman 3.2.16 I get this error:

"error getting access token from client_credentials flow. Could not send request"

All fields are filled in except scope. Using Fiddler on windows I can see that neither the "Authorization Url" or the "Access Token Url" are contacted.

Same error on windows and on ubuntu.

[2016-02-20 10:44] abhijitkane commented on #1735
@cawoodm Can you mention the Postman version you're using?

[2016-02-20 10:47] abhijitkane commented on #1740
That message is in the "error" handler for the XHR call. In the client credentials flow, Postman makes a POST request to the access token URL with `data = grant_type=client_credentials&scope=" + scope`

Can you ensure that there are no leading/trailing spaces in the access token URL? Also, you can make the request in Postman yourself. Enter the Access Token URL in the main URL bar, and make a POST

[2016-02-20 11:13] abhijitkane commented on #1736
Ah..got it. There's a bug in the way requests with `{{$guid}}` are sent to the Interceptor. We'll be making a release soon which should fix this.

Thanks a lot for reporting this issue.

[2016-02-20 17:20] granthbr commented on #739
+1 on the grant type for password

[2016-02-20 17:21] granthbr commented on #739
Nice script by the way @intellix . Works great for me but this would be great as a feature of the UI.

[2016-02-20 18:14] rvnath opened #1741 "query: how to verify results when using data files"
I am a newbie to POSTman, trying to lean / automate a few test cases.  I created a CSV datafile having 3 rows of data.  Tring to test my web service api (http://localhost:port/accservice/balance).

My test data in CSV:

The web service response is different for each row iteration because
- user1 is a valid user with balance
- user2 is a non-existing user
- user3 is a forbidden user
  So, my web se

[2016-02-20 20:20] mstaalesen commented on #1741
Depending on how you have built your API and response messages, it could be possible to do by adding a second column in your CSV-file with response-codes (or messages) that you can check for. If you go a bit more into details about your API, I can attempt to create an example for you.

What does the request look like? (Username in the URL, or in the body of the message? Is it JSON or XML?)
What do

[2016-02-21 00:58] yankeeinlondon commented on #586
Can I ask which version of Hawk you’re supporting? Is it 4.x?

[2016-02-21 04:08] czardoz commented on #586
3.X

4.X uses ES6 features that need transpilation

[2016-02-21 08:42] cawoodm commented on #1735
I'd just downloaded it so it must be the latest 3.2.17.

I noticed the user needs to click the link/name of the token for it to be added as a header. Possibly this is just unintuitive to new users.

[2016-02-21 12:48] yankeeinlondon commented on #586
Ok but if in using Node 5 with Hawk 4 it should still interoperate, right?

Ken
ken@ken.net

On Sat, Feb 20, 2016 at 8:08 PM -0800, "Aniket Panse" notifications@github.com wrote:

3.X

4.X uses ES6 features that need transpilation

—
Reply to this email directly or view it on GitHub.

[2016-02-21 16:05] czardoz commented on #586
Yes. The Postman app uses the browser though. And for Newman, we support Node v0.12+

[2016-02-21 18:06] anilkonduru opened #1742 "Collections are not saved locally"
Should i be logged in every time to use my existing collections? i am loosing all the collections after closing chrome, i remember having collections locally without login...please advice.

[2016-02-21 18:13] anilkonduru opened #1743 "ERR_SSL_FALLBACK_BEYOND_MINIMUM_VERSION"
Does anyone came across this issue?

SSL server probably obsolete.
ERR_SSL_FALLBACK_BEYOND_MINIMUM_VERSION

[2016-02-21 18:25] sobtiankit commented on #1742
@anilkonduru Not sure I understand completely. When you sign out AND close the app , it deletes your collections?

[2016-02-21 19:01] anilkonduru commented on #1742
Sorry if it was confusing. After I close postman and chrome, I am loosing
collections and have to import again, this happens when I don't sign-in. I
thought chrome cache collections for postman no matter user is signed in or
not.

So does it require to be logged in to maintain collections on postman? so
that I can use as soon as I launch it?

Thanks

On Sunday, February 21, 2016, Ankit Sobti notif

[2016-02-21 20:33] IrfyNaz commented on #697
+1!

[2016-02-22 02:51] wing328 opened #1744 "Feature request: export to OpenAPI/Swagger specification"
Currently, Postman can export collections in Postman format. It would be nice if Postman can directly export the API definition in [OpenAPI/Swagger spec](https://github.com/OAI/OpenAPI-Specification) so as to leverage the tools and services built around the OpenAPI/Swagger ecosystem.

[2016-02-22 06:15] abhijitkane commented on #1742
@anilkonduru That's odd - we haven't had this reported before. Are you losing all collections when you restart Postman? If so, you might need to reinstall the app - this is probably a case of your local app's database being corrupted in some way.

[2016-02-22 06:52] SamvelRaja commented on #1702
Closing the issue in reference to v4.0.0

[2016-02-22 06:52] #1702 closed, assigned to SamvelRaja

[2016-02-22 06:52] SamvelRaja commented on #1708
Hey @dzuluaga  the fix has been released with our latest update v4.0.0. Can you cross check this and close the issue.

[2016-02-22 07:07] elssar commented on #1729
Hi @galenweber, apologies for the late reply.

I have traced the bug to the code generation library we use. It sets undefined form fields to null, which is causing the error, as the `request` library does not expect a form value to be `null` and does not handle it well.

We will try and fix this in a future release. Till then, you can try disabling form fields with no values before generating the

[2016-02-22 07:53] SamvelRaja commented on #1722
Hey @manjitkumar we have released our latest `v4.0.0` mac app which solves the problem. Can you cross check the same and close the issue?

[2016-02-22 09:19] manjitkumar commented on #1722
@SamvelRaja @abhijitkane Works with latest version `v4.0.0`. Thanks.

[2016-02-22 09:19] #1722 closed, assigned to nobody

[2016-02-22 09:20] elssar commented on #1475
We use a 3rd party library to generate code snippets and currently it does not currently support Powershell. I have added a feature request for Powershell -  Mashape/httpsnippet#75

[2016-02-22 09:43] elssar commented on #1741
Hi @rvnath, like @mstaalesen said, you can add more fields to the CSV, containing the expected response code (and response type, response body if required) for each user. Then in your test, you can check whether the response code matches the expected response code

[code]

Also, this [blog post](http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/) on ho

[2016-02-22 10:39] ronteddu opened #1745 "Ability to see error code and message for failed requests in Collection Runner"
Collection Runner when run via GUI from within Postman does a good job at running requests one after the other inside a collection, however, when a request or test fails, there is no ability to view what the error details are (for example ERROR_CODE and ERROR_MESSAGE) as you would when the request is run outside the collection runner.

[2016-02-22 11:11] ronteddu commented on #1733
Currently you can do that by exporting an entire dump. However, this means, all collections, all environments, globals and header presets are saved to the one file. There is no ability to export individual collections with attached environment and/or global file.

[2016-02-22 11:58] klabbe commented on #1137
+1

[2016-02-22 13:24] existme commented on #551
I still have this issue.

[2016-02-22 13:57] N0rimaki commented on #1563
Hi, is it possible to get a net Status about this Issue?
Thank you

[2016-02-22 14:51] gunjanpatidar commented on #1732
I'm having a similar issue and its quite irritating to have to go through unformatted raw response

This happens because the app does not replace environment variables in the iframe that is created to preview. Also if you're behind a Basic Authorization, these are also not set correctly. In my case I have to keep the dev tools open all the time

<img width="1280" alt="screen shot 2016-02-22 at 8 0

[2016-02-22 14:52] abhijitkane commented on #1732
@gunjanpatidar Can you mention the version of the app you are using? (Choose settings from the menu on the top-right)

[2016-02-22 15:32] praveenb opened #1746 "Not showing XML parse issue when response has invalid chars"
If XML response data contains invalid chars like '&', postman app not showing XML parse issue.

I've happen to check the response in another restclient app, to see the data issue.  Please fix this issue.

Thank you.

[2016-02-22 15:57] Simonpark819 opened #1747 "Builder tabs do not update its editor window height immediately"
Hello, I just noticed a small bug that I've been experiencing in the postman mac client.

**Steps:**
- Under the "Builder" tab, click into any of the available editor sections (choose tests)
- Type up enough lines of text to extend beyond the current editor height (so you'd have to scroll down)
- Drag and extend the editor height so we can try to see all of our code

**Actual result:**
- The windo

[2016-02-22 16:35] abelhabel commented on #1740
Sorry for being unspecific.
1. There are no trailing spaces.
2. The url works just fine and returns an access token as json in the body. The url expects an Authorization header with [Basic base64(key:secret)] and [grant_type=client_credentials] in the body.
3. No, see 2.

As I mentioned, Fiddler does not even register postman contacting the access token url. What I can see is that postman contacts

[2016-02-22 17:14] abhijitkane commented on #1740
If you open the Network tab (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/), you should be able to see an entry made when you start the client credentials flow.

That might help to figure out what's going on.

[2016-02-22 17:19] abhijitkane commented on #1746
@praveenb Can you give an example of such a response?
For me, a XML document like `<a><b c="&">&</b></a>`
renders properly in Postman:

[code]

[2016-02-22 17:32] jaredhanks opened #1748 "OAuth 1.0 timestamp missing"
I just updated to Postman 4.0 Mac app.  I am noticing the OAuth `timestamp` is blank and it doesn't appear to be updating when making requests.  It appears the `nonce` might also not be updating on each request either.

This works fine in the Chrome extension still (v3.2.17), so wasn't sure if this is something that changed with the 4.0 release or not.

[2016-02-22 18:05] abelhabel commented on #1740
Thank you!

I had a look at that earlier but could not get the console to open. Right clicking seems to be disabled in Postman but I went to chrome://inspect/#apps instead.

Now I can see that Content-Type is application/x-www-form-urlencoded; charset=UTF-8 which Amazon's API Gateway doesn't support. So I will try to map the body to valid json as it comes in to API gateway.

I also see now that OA

[2016-02-22 18:10] #1740 closed, assigned to nobody

[2016-02-22 19:24] abhijitkane commented on #1748
@jaredhanks Thanks for reporting this. We've fixed this, and it should be available in the next release.

[2016-02-22 19:37] dzuluaga commented on #1708
Thanks @SamvelRaja. It works great!

[2016-02-22 19:37] #1708 closed, assigned to SamvelRaja

[2016-02-22 21:47] abelhabel opened #1749 "OAuth 2.0 - Incorrect Authorization header value"
Using OAuth 2.0 Authorization with 'Add token to header' using these values:

Client ID: 6CD9WUBZPXV4LJ15VD7A7ZYU7
Client Secret: 52X/nWSkZw0iEJ7iijV4G0f06pxet9MsfBi9HTMSC3s
Scope:
Grant type: Client Credentials

creates this base64 encoded string in the Authorization header:
Basic NkNEOVdVQlpQWFY0TEoxNVZEN0E3WllVNzo1MlglMkZuV1NrWncwaUVKN2lpalY0RzBmMDZweGV0OU1zZkJpOUhUTVNDM3M=

The correct header

[2016-02-23 05:43] gunjanpatidar commented on #1732
@abhijitkane I'm on Postman for Mac v4.0.0-beta.3

[2016-02-23 05:47] SamvelRaja commented on #1732
Seems like the issue related to #1722,  It has been fixed in the stable `v4.0.0 version`

[2016-02-23 06:02] SamvelRaja commented on #1747
Thanks for bringing this to our notice. We have found the RC. Will add it in the next release.

[2016-02-23 06:13] gunjanpatidar commented on #1732
@SamvelRaja updated, that solved it :) But I only got the update for beta.4 and no further

[2016-02-23 07:23] mstaalesen commented on #1726
A small followup on my comment. The test needs to have a description-text entered for this bug to appear.

[2016-02-23 09:32] jlugner commented on #1472
Any fix for this available? Can't use postman as of now. Worked fine yesterday, this morning it crashes when I try to open/reopen it.

[2016-02-23 09:35] RobbertWolfs commented on #1472
@Pungsnigel Had the same problem last week..

For me, postman worked again after a couple of hours.
At this moment I stopped using the Chrome App of Postman and I'm using the standalone Mac App of Postman. Until now this works fine for me.

https://www.getpostman.com/

[2016-02-23 09:41] jlugner commented on #1472
@RobbertWolfs I've got to admit I didn't even realise there was a Mac App... Worked fine. Thanks a bunch!

[2016-02-23 10:16] RobbertWolfs commented on #1472
@Pungsnigel me neither! until I did some research how to fix this..
I also always hated it with the Chrome App that when it was open and I wanted to switch to Chrome it always showed the Postman Chrome App instead of Chrome itself.

With the Mac App I don't have that problem.

[2016-02-23 10:24] a85 commented on #1472
Everyone, we recommend the native app for OS X users: https://www.getpostman.com/apps.

Hard for us to control what's happening with Chrome. And yes, that switching issue is annoying. We have  filed multiple reports with Google but looks like it won't be fixed any time soon.

[2016-02-23 10:33] RobbertWolfs commented on #1472
@a85 yes I'm using the native app now for about a week and it works like a charm :)

[2016-02-23 10:49] #1732 closed, assigned to nobody

[2016-02-23 10:54] Fr4ncis commented on #1748
When I tried to update the Mac app (stable release) it actually downloaded the 4.0 beta breaking all the collection. PLEASE be careful with these changes, people rely on the stable version for their work!

[2016-02-23 10:57] abhijitkane commented on #1748
The 4.0 beta should only be available through a window that says "experimental build". Furthermore, all your collections should work even after updating to 4.0 beta. What's the issue you're facing with the 4.0 beta?

[2016-02-23 10:59] Fr4ncis commented on #1748
From the v3 app > "Postman" menu > Check for updates

however, timestamp is not updated and nonce does not get updated, it lost the "auto add" parameter function and "update request" does not regenerate those parameters.

Thanks for the prompt response.

[2016-02-23 11:01] Fr4ncis commented on #1748
Even from www.getpostman.com it downloads automatically the beta.. :-1: how can I download again the v3 app?

[2016-02-23 11:10] abhijitkane commented on #1748
@Fr4ncis What's the version number of the app that you're using? v4.0.0 is not the beta.
v3 for the Mac app is no longer available.

[2016-02-23 11:15] Fr4ncis commented on #1748
ok it makes sense then. v4.0.0 while the browser extension (which is still working) is v3.2.18

let me know, I can provide the collection and keys privately or jump on a call.

[2016-02-23 12:20] marrko opened #1750 "Request are treated as edited after switching between them"
Hello, I just experienced minor bug in windows Postman client. I have created multiple POST and GET requests.
**Steps:**
- opened POST request with filled body with JSON data
- opened random GET request
- opened another POST request but this time with empty body (body type is set to raw)

**Result:**
Postman client treats the POST request as it has been modified so after choosing another request,

[2016-02-23 12:27] KotieSmit commented on #1143
My team has since started using the Team licence, but is now quite useless since no progress is made on this issue.

Today I've lost post data for my  POST calls.  After restoring from a exported file, it lost all my headers for all my api calls setup in postman.

The final nail in the coffin was when I logged back in and all my work was duplicated.

Get your act together.  I paid for my licence,

[2016-02-23 12:32] a85 commented on #1143
@KotieSmit Sorry about this. This is an old issue that's been fixed in previous versions.

Duplication seems to be as you re-imported data back which will have different identifiers.

We can help you out at help@getpostman.com.

[2016-02-23 15:06] srbangre commented on #1750
+1
Its not only with POST requests. Its happening with get requests as well.
I tried restarting Postman and then my windows machine but no use.
Also this is intermittent, meaning it doesn't happen all the time. but its irritating.

this is happening when i open the request from collection and submit the request. the orange circle shows up without changing anything in the request.

[2016-02-23 15:20] ahvonenj opened #1751 "Response JSON pretty print formatting"
Could we have an option to format response JSON pretty print like so that `{` and `[` are always on their own line like so:

Currently:

[code]

How I'd like it:

[code]

Having `{` and `[` on their own lines makes JSON data significantly easier to read in my opinion. Even better if we could change the amount of tabs / spaces.

[2016-02-23 16:22] tbrentlong opened #1752 "Postman loses all history/collections and becomes unusable"
This is the second time this has happened; the app crashes and completely disappears, and when I relaunch it, there are no history entries or collections, and the left hand pane obscures the main working area. I've had to reinstall to make it usable again.  Is anyone aware of this issue and the cause/resolution?

[2016-02-23 21:15] ricardo-rossi commented on #366
+1

[2016-02-23 23:26] jsteenGG commented on #1752
I am also having the same issue.  All of my collections are gone!  HELP!

[2016-02-24 04:38] ruiwen commented on #1752
Same here!

Chrome Dev 50.0.2657.0, Mac OS X 10.9.5

[2016-02-24 04:45] ruiwen commented on #1752
@tbrentlong Silly question, but are your collections and history present after (presumably uninstalling) and reinstalling? Or did you lose them all?

[2016-02-24 04:48] sobtiankit commented on #1752
We are investigating why the Chrome app is crashing. @ruiwen has it occurred earlier as well or since a recent app or Chrome update?

[2016-02-24 04:53] ruiwen commented on #1752
@sobtiankit Just happened to me with the latest update to Chrome Dev 50.0.2657.0

[2016-02-24 04:54] ruiwen commented on #1752
If it's any help @sobtiankit , the Dev Tools window for the app shows a couple of errors regarding localStorage

![screen shot 2016-02-24 at 12 53 34](https://cloud.githubusercontent.com/assets/307558/13275990/bced98fa-daf5-11e5-8f7e-1b9df5e16de7.png)

[2016-02-24 05:12] sobtiankit commented on #1752
Do you happen to have Sync enabled? Data should be recoverable by signing in. I'm going to get the crash with Chrome Dev investigated and get back to you shortly.

Thank you @ruiwen, the screenshot really helps. It seems a backward incompatible API change has been introduced in chrome apps.

If it's possible can you verify one more thing? This will help with data recovery. Can you share a screensh

[2016-02-24 05:23] ruiwen commented on #1752
@sobtiankit there you go

Sadly, I don't use Sync =(

Though it's a little bit of a relief to see that the data appears to be there at least

![screen_shot_2016-02-24_at_13_20_51](https://cloud.githubusercontent.com/assets/307558/13276379/95d810c0-daf9-11e5-8afd-00d8a1a8e0c8.png)

[2016-02-24 05:26] sobtiankit commented on #1752
Okay this is good. Which means, data is in the app. We'll push out an app today that uses the new chrome API for localStorage. Will update when that's done CC: @abhijitkane @numaanashraf

[2016-02-24 05:30] ruiwen commented on #1752
Sweet. Thanks so much @sobtiankit and team

Just wanna say, thanks for a great tool that's become indispensable at work everyday =)

[2016-02-24 10:36] abhijitkane commented on #1752
@ruiwen @jsteenGG
We've released a fix for this in v3.2.19.
You can upgrade by heading to chrome://extensions, enabling 'Developer Mode', and click 'Update extensions now'.

[2016-02-24 13:15] LorandLorincz commented on #555
+1

[2016-02-24 13:40] KotieSmit commented on #1143
Hi Thank you for fast response.

I realise that duplication could be because of that,  but we still have the issue of loosing post data.
I have since lost headers as well.  I'm trying to restore from different backup exports I have.

[2016-02-24 13:41] a85 commented on #1143
@KotieSmit If you were on Sync, we'll help you restore it. @sobtiankit Can you follow up?

[2016-02-24 13:43] sobtiankit commented on #1143
@KotieSmit if you can email help@getpostman.com from your registered email id.. we will help you recover your data

[2016-02-24 13:47] KotieSmit commented on #1143
Email send.

Thank you

[2016-02-24 13:48] KotieSmit commented on #1143
@sobtiankit
Email send.

Thank you

[2016-02-24 14:07] wszydlak opened #1753 "Postman not sending "Content-Type" header"
When opening a new tab in Postman, you can see in the _Body_ tab, that default Content-Type is set to **form-data**, but if you send a request, the header is not sent. When you switch to eg. **raw** and then back to **form-data**, then the header will be sent.

Tested versions:
- 2, 3 - Google Chrome for Mac Os
- 4 - Mac Os

[2016-02-24 15:39] wabiloo opened #1754 "Allow hashes as global or environment variables"
Hi,
I would like the ability to store hashes (and arrays) in variables, and retrieve a specific element of it.
My use case:
- I call a service, which returns a list of key/value pairs, in which the value is a URL
- I then need to extract one of those URLs and use it as the URL for the next call.

For example:
**Call 1** (to some fixed URL) returns a JSON file like:

[code]

I then use a Test scrip

[2016-02-24 15:55] AustinBurns commented on #932
Hello,

I am running into a similar issue, except it is with the "algorithm" variable not being sent with the request. I know this does not seem like a big deal as the algorithm is usually MD5, but the framework I am working with requires it and the Postman desktop app is not providing it even though it is set under the Digest Auth helper.

Let me know if you need anymore information.

[2016-02-24 16:04] martinjbaker opened #1755 "Scroll position resets to the top when re-sending current request"
I'm using 4.0.0 and am not sure when this changed but it used to be that if you had scrolled down the response and pressed Send again, then the previous scroll position would be retained.

This is no longer the case. The scroll position now resets to the top which is super annoying if you're looking at a particular section of a long response!

[2016-02-24 16:41] srbangre commented on #1755
+1

[2016-02-24 16:58] tbrentlong commented on #1752
Thanks for looking at this. My first occurrence of it was probably a month ago, and none of my data was there after re-install.  I tried updating extensions, but it doesn't show me 3.2.19; it's still on 3.2.18.

[2016-02-24 17:59] guozheng commented on #1619
Would be really great if we can add the proxy settings for the Mac app. For the Chrome extension, it can use the Browser proxy setting fine, but not for the Mac app.

[2016-02-24 18:04] tbrentlong commented on #1752
Looks like there are a few errors after trying to update.
![postman](https://cloud.githubusercontent.com/assets/11465123/13295495/0397ba0a-dade-11e5-882c-a2da901ec1b4.jpg)

[2016-02-24 18:05] abhijitkane commented on #1752
Does the page at chrome://extensions show 3.2.19 for Postman?

[2016-02-24 18:15] jagrelo commented on #1752
I was hitting the same problem and the update solved the issue. Thanks a lot for the quick fix!

[2016-02-24 19:49] tbrentlong commented on #1752
Mine is only showing 3.2.18 as available.  I'm using Version 50.0.2658.0 canary (64-bit)

[2016-02-24 19:50] ruiwen commented on #1752
@abhijitkane Thanks for the quick update! Have updated my app, and I've managed to get all my collections and data back!

[2016-02-24 20:03] abhijitkane commented on #1752
@tbrentlong A reinstall will always clear all your data. Is the page at https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en showing 3.2.19 for you? If yes, can you try repeating these steps? (It's a 5.5MB download)

[code]

[2016-02-24 20:38] tbrentlong commented on #1752
That page does show 3.2.19, but the chrome://extensions page shows 3.2.18.  I must have something out of joint.  I'll just go ahead and uninstall/reinstall and hope for the best in the future.  Thanks for tackling the issue so quickly!  Great tool.

[2016-02-24 20:51] #1752 closed, assigned to nobody

[2016-02-25 06:44] KotieSmit opened #1756 "Selecting no "No environment" in Collection runner unable to cancel"
When by accident I don't select an environment to use for a collection to run, there is no way to cancel the action.

I have a message "Please wait while your test results are being initialized...."

I have to close the collection runner and re-open

[2016-02-25 09:33] xmedeko opened #1757 "Early quit the test script if test fails"
When I write a test script, when a certain test fail, I would like to quit the script (typically a null pointer check). I cannot use neither `return` nor `break`.
I would like to type something like:

[code]

Currently I use a workaround

[code]

[2016-02-25 11:39] xxldoctor opened #1758 "Folded responcse codesections (viewmode - pretty) unfold when user switch tab"
1 - fold some code (JSON array/XML section, etc)
2 - switch to another tab
3 - switch back
expected - code still folded.
actual - all code is unfolded.

[2016-02-25 11:45] jzeferino commented on #1733
ok thank you.

[2016-02-25 13:50] ghost opened #1759 "Response display error"
After making a GET request and getting a the JSON response, when I switch to another tab than body the code is only displayed on the half of the element.

[2016-02-25 14:11] Alicia-L commented on #1731
Ok, I have to take some things back: this is not Postman's fault but rather related to my display. This is a new laptop and I'm not very familiar with it yet, so I didn't know about this "feature".
Even though it's not really Postman's fault that my display has such a strange behaviour, Postman developers may still want to look into it to try to prevent this from happening. I imagine there may be

[2016-02-25 15:57] gregsdennis commented on #131
+1 (can I do a +2, or maybe a +∞?)

Just to jump on the pile, [Trello's API](https://developers.trello.com/advanced-reference) does this because the parameter lists would be too long for URLs to support.

In regard to it being meaningless, I think that's really up to the API's developer, regardless of what the standard says the call _should_ do.

[2016-02-25 19:51] RPDeshaies commented on #697
:+1:

[2016-02-26 00:17] AramilRey commented on #882
+1

[2016-02-26 04:32] rvnath commented on #1741
Thank you. Will check this out.

[2016-02-26 06:36] rvnath commented on #1741
I am trying to test POST url for authentication.  My URL is like this:
`http://localhost:4500/authenticate`
and the POST data format is a simple json like below.

[code]

I have not yet tried (about to), but is it possible to have variable names using double-curly-braces in a POST data like this?

[code]

[2016-02-26 07:32] sumeetfefar opened #1760 "Oauth Issues in 4.0.2"
I am facing OAuth issues on Mac App.

1) OAuth 1.0 'Update Request' call gives `Uncaught TypeError: oAuthParams[i].value.trim is not a function` on Console and never fetches the access token.

2) OAuth 2.0 generates token which is not immediately reflected on token list, It adds the the token in url but when 'Send' in pressed, it gives `Uncaught TypeError: currentHelperProcessor.process is not a f

[2016-02-26 08:17] #1733 closed, assigned to nobody

[2016-02-26 08:33] elssar commented on #1741
@rvnath yes you can use variables in your post body.

[2016-02-26 11:49] rvnath commented on #1741
Thanks, it works.  That's fantastic!

[2016-02-26 11:49] #1741 closed, assigned to elssar

[2016-02-26 12:12] Fr4ncis commented on #1760
Uncaught TypeError: oAuthParams[i].value.trim is not a function

same issue, this is our collection, /token/generate does not work https://www.getpostman.com/collections/fc13d501598107a36184

[2016-02-27 00:05] travisfawcett commented on #1682
I agree. I love to be descriptive in my FOLDER descriptions.  Not working for me.  Now all these tests I can't duplicate (well, export, copy, reimport).    Make the left window menu Bigger please!

[2016-02-27 00:47] darrylkuhn opened #1761 "Postman Sync alters sorting"
It appears that when syncing a postman collection some of the requests show up in a different order than originally set. Please let me know what details I can provide to help troubleshoot the issue.

[2016-02-27 04:32] sobtiankit commented on #1761
Hi @darrylkuhn, did you observe this while importing a collection? You can mail help@getpostman.com with the details and we will investigate from there.

[2016-02-27 14:40] a85 commented on #1750
We are pushing a new version of the Chrome app that should fix this along with other issues.

[2016-02-28 00:20] parthcodes opened #1762 "Postman Malformed JSON"
Hi,

I am trying to test a REST API in my local from Postman, where I am getting following error:

Malformed JSON: Expected 'r' instead of 'e' in "Pretty" tab of the response. **In "Raw" and "Preview" give correct response.**

Can you help me understand what can be a problem here ?

![image](https://cloud.githubusercontent.com/assets/7152857/13376309/e371d408-dd86-11e5-8973-7e6aee838d56.png)

![im

[2016-02-28 10:40] abhijitkane commented on #1762
@parthcodes The pretty view's JSON mode is meant for JSON responses only. If you change the JSON in the dropdown to text, you should be able to see the response in the pretty view.

Try hitting a URL like http://echo.getpostman.com/get. You'll be able to use the 'JSON' view in the pretty mode.

[2016-02-28 10:40] #1762 closed, assigned to nobody

[2016-02-28 23:38] mmmattos commented on #452
Thks, @benchwarmer !
That was exactly what I needed.

[2016-02-29 07:49] praveenb commented on #1746
Hi@abhijitkane, Thanks for response
Sorry for the late reply...

Yes, as per given example
`<a>
    <b c="&">&</b>
</a>`

this kind of response fails XML validation as invalid entity name. Please check validation [here](http://www.xmlvalidation.com/) .

Actually when an API's XML response is invalid (my Android app is crashes when parsing XML data). So if i happen to check the response in Postman,

[2016-02-29 10:23] itailulu commented on #366
+1

[2016-02-29 10:31] rvnath opened #1763 "Unable to signin / signup to postman"
If I try to sign in to my account (or try to create a new account), postman shows up error label

As a result, unable to access my account.  Can this be more descriptive, or provide some helpful hints on what went wrong (assuming invalid credentials, or anything else to do with wrong input)?  Or is this a server side error, such as service is down..?

[2016-02-29 10:34] abhijitkane commented on #1763
@rvnath The service seems to be up - we're seeing signups as well. Can you send an email to help@getpostman.com with your username / emailID?

[2016-02-29 13:24] andreagrandi commented on #131
I understand this doesn't work with Chrome, but you also have an OSX native client. Why the feature is not available for the native client then? Thanks

[2016-02-29 13:45] RensPontier commented on #1724
The same is applicable for the collection itself. I created (by accident) a collection with a name that doesn't fit the left pane. I can now no longer delete it, for the hover-menu never becomes visible :(

[2016-02-29 13:55] Simonpark819 commented on #1747
Awesome!!

[2016-02-29 14:17] paolobiavati opened #1764 "BUG : Copy result to enviroment don't work anymore last version"
In the chrome extension versione I can select a string from the result of an api call anche put the value into an enviroment variable, this is cool.  But I cant't do the same in mac app

[2016-02-29 16:55] hlubovac opened #1765 "Please make selected-environment label auto-size"
Long names get truncated (...) and it's impossible to tell which environment is selected, when there are multiple names with same long prefix. I use environments to swap URL and request-headers across multiple applications and multiple instances of each (e.g. 10+), so organization is important, and it's becoming difficult to name these entries without getting into this problem. At least maybe a to

[2016-02-29 16:56] hlubovac commented on #1765
oops, I didn't realize the purpose of the circle-X button is to show current-environment info. Sorry about that. Thank you.

[2016-02-29 16:56] #1765 closed, assigned to nobody

[2016-02-29 17:51] rvnath commented on #1763
It is working from my home location (direct internet connection).  Will chk again tomorrow from office (corporate proxy with authentication).

[2016-02-29 19:11] kmacharg commented on #1739
@mstaalesen
Sorry for the slow reply on my part.  This is exactly what I needed.

Thanks for the very speedy reply.

[2016-02-29 19:11] #1739 closed, assigned to nobody

[2016-02-29 19:19] hainna01 opened #1766 "Postman Chrome app returns a 500 on HTTPS POST if Chrome debugging flag disabled"
We are having an issue where we receive a 500 error when attempting to POST to an HTTPS endpoint in one of our APIs.

In part of our debugging we followed [these instructions](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/) to enable debugging and upon enabling that flag, our request went through and no longer had any issues.

The Mac app initially did not wo

[2016-02-29 19:20] abhijitkane commented on #1766
@hainna01 Enabling DevTools should have had no effect on the request that was sent. What was the error you received? If it's due to an incorrect payload, it might be a bug with Postman. But if what you enter in Postman's UI is what's being sent, then it's probably a server issue.

[2016-02-29 19:28] hainna01 commented on #1766
Unfortunately I cant include the exact request. I can say with certainty that the request didn't work before the debugging flag was enabled, but it works just fine after its enabled. We've been able to reproduce this many times on different computers.

[2016-02-29 20:29] AustinBurns opened #1767 "Algorithm is not being passed for Digest Auth"
Hello,

I am running into a similar issue as #932, except it is with the "algorithm" variable not being sent with the request. I know this does not seem like a big deal as the algorithm is usually MD5, but the framework I am working with requires it to be passed in the request and the Postman desktop app is not providing it even though it is set under the Digest Auth helper.

Let me know if you ne

[2016-03-01 00:41] mitchellarchibald opened #1768 "File names should not be percent-encoded when uploading file"
If I make a POST request, selecting form-data as the body type and uploading a file called `with spaces.csv`, Postman percent-encodes the file name:

[code]

This is incorrect; header fields in HTTP messages and MIME parts are not to be percent-encoded. (except when using the extended parameter notation defined in RFC 5987)  The correct header should be:

[code]

The best resource is probably [htt

[2016-03-01 03:03] thedrewbisset commented on #533
+1

[2016-03-01 06:06] maryam514 opened #1769 "Wrong Status code when interceptor is enabled"
I am having 502 bad gateway status code while interceptor is enabled where i need to show 403 forbidden status.
What does that mean and how can i get same status code with interceptor enabled ?

[2016-03-01 07:49] abhijitkane commented on #1769
@maryam514 The 502 is thrown for the server. You'll need to check the server logs to see why it's being thrown. The difference is because enabling the Interceptor sends the cookies for that domain.

[2016-03-01 10:38] Fr4ncis opened #1770 "OAuth issue in 4.0.3"
Postman (Chrome and Mac) v3 work fine.
Postman v4 (Mac) fails.

try /token/generate in:
https://www.getpostman.com/collections/fc13d501598107a36184

environment (I can send you privately consumer key / secret)

{
    "id": "92e77a44-49a2-113f-b754-c2d66e63b624",
    "name": "MAPI Prod v3.5",
    "values": [
        {
            "key": "apiServer",
            "value": "mapi.vouchercodes.co.uk",

[2016-03-01 11:31] olee commented on #1662
Was there any update on this?
I encountered the same problem.
Is there any fix on this?

EDIT: I got it working by using that local-mode.

[2016-03-01 12:32] SamvelRaja commented on #1747
@Simonpark819 we have fixed in the latest mac `4.0.3` can you check the same and close the issue.

[2016-03-01 12:39] abhijitkane commented on #1770
@Fr4ncis Can you mail the consumer key and secret to help@getpostman.com?

[2016-03-01 12:49] SamvelRaja commented on #1759
@romainisnel  I tried reproducing your issue but I couldn't it. It might be related to #1747, can you update the app to `4.0.3` and try reproducing the same.
Please let us know if the problem still persist.

[2016-03-01 12:51] abhijitkane commented on #1767
@AustinBurns Acc. to https://tools.ietf.org/html/rfc2069, the client does not need to set the algorithm in the request. The algorithm is given by the server in the www-authenticate header, and determines how the signature will be calculated.

[2016-03-01 13:07] SamvelRaja commented on #1691
@Srajanacharya it would be related to #1655, we have fixed the issue in Mac app  `v4.0` Which will sooner be reflected in the chrome versions as well.

[2016-03-01 13:12] #1703 closed, assigned to nobody

[2016-03-01 13:15] abhijitkane commented on #1766
If you're getting a 500, there must be some sort of server log that could help explain what went wrong. Unless there's a mismatch between the expected request from Postman and the request that's sent, I'm not sure where to start looking.

[2016-03-01 13:41] defaultbob commented on #907
+1

[2016-03-01 14:31] JuliaFernee opened #1771 "Postman freezes"
After about 6 months of use Postman started failing. The window freezes after 2-3 click actions. Tried to restaret app & os, tried closing everything else in chrome. tried to kill process. tried to turn off inspector. still the same.
Version 3.2.20 (packaged) OS: win
Architecture: x86-32
Native client architecture: x86-64
Chrome Version 48.0.2564.116 m

[2016-03-01 14:34] abhijitkane commented on #1771
@JuliaFernee Can you enable DevTools (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/), and check the console for any errors when you open the app and when it freezes?

[2016-03-01 14:37] SamvelRaja commented on #1712
@wesleyalmedia  Can you tell us the app type(Chrome or Mac) and version you are in?
And also I tried to reproduce the same in the latest mac app `4.0.3` app it is working fine.

[2016-03-01 14:57] calebrepkes opened #1772 "Cookies not readable in MacApp"
Just updated to MacApp 4.0.3.
Really like the new look and the speediness of the app.

Just one thing, I cant read the cookies, when using this piece of code:
`postman.getResponseCookie("CookieName");`

Even though when I click on Manage Cookies, I do see the cookies.
In the left pane I see the host name:
`server.local`
And on the right pane I see the cookies:
`CookieName=123; path=/test; domain=s

[2016-03-01 14:58] calebrepkes commented on #1771
I also had this problem. I closed down most tabs on my browser (windows).
Made sure all my collections and templates are stored in the cloud part.

Then removed the extension. Then installed it again. And now its working fine. But I have a strong feeling this is only a workaround. As I have done this now twice.

[2016-03-01 15:00] SamvelRaja commented on #1716
@xxldoctor  we do remove the protocol for the HTTP type code snippets alone, which is according to the [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616.txt) section _14.23_ **Host** doesn't have protocol in the URL despite being it to be a Https or Http protocol

[2016-03-01 15:06] creynders opened #1773 "v4.0.3: Extra headers not sent with OPTIONS"
If I try to request OPTIONS with a `Access-Control-Request-Method: POST` header for instance the ACRM header isn't sent to the end-point with v4.0.3 (mac app) see:

[code]

This is not a problem using the chrome app (v3.2.17) though:

[code]

[2016-03-01 15:17] xxldoctor commented on #1716
Ehm. Let me explane my case:

I have https url and put it in environment list like:
baseurl=https://hostname:port

I have request that use this value like:
{{baseurl}}/request?parameter=value&etc

Then I need to send code of my reques to someone. I click </> and there I see the code like:
GET /request?parameter=value&etc HTTP/1.1
Host: hostname:port

If someone try to restore my request from this

[2016-03-01 15:45] jeremy-walsh-vgh opened #1774 "Lost Collections"
Hey, opened Postman today to find it had been upgraded and all my collections are gone.  Browsed various iterations of this issue report here and don't see a solution that works for me as I don't have access to a backup of this folder.  Is there any way to recover this?  I had a lot of solid gold hits in there.

[2016-03-01 15:51] abhijitkane commented on #1774
@jeremy-walsh-vgh Can you mention the current version of Postman that you are on? Also, was there a notification saying that you'd been upgraded?

[2016-03-01 15:52] hardikramwani commented on #1763
I am facing same issue, in other location working proper. Version 3.2.20 (packaged) OS: win
In below image after clicking on "Proceed to app.getpostman.com(unsafe)". It's able to login.
![connection](https://cloud.githubusercontent.com/assets/3940294/13432192/9e951138-dff2-11e5-9773-3a21b9ad2a2a.jpg)

But while i sign in, i got process bar and than offline status. API Collection is not sync.

![of

[2016-03-01 15:55] jeremy-walsh-vgh commented on #1774
@abhijitkane  there were no notifications. I don't know how to tell what version it is.  Its extension url is chrome-extension://fdmmgilgnpjigdojojpjoooidkmcomcm/index.html if that helps.

For some reason, I have 2 extensions now, one that I used to use which is empty.  It has a planet icon with a refresh-looking green arrow over it.  There's also an orange Postman icon with a rocket man on it.

[2016-03-01 16:06] CestDiego commented on #1737
I have the same issue. If it's the local system this should be sending Origin `null` shouldn't it?

[2016-03-01 16:10] Simonpark819 commented on #1747
confirmed fixed!

[2016-03-01 16:10] #1747 closed, assigned to nobody

[2016-03-01 16:11] JuliaFernee commented on #1771
Yeah, I stopped short reinstalling it becaue in it's current state I can't even backup the collections. Any thoughts how to hack a data backup outside Postman's export?

[2016-03-01 16:18] abhijitkane commented on #1774
The one with the blue icon is the legacy chrome.

If you were using the chrome-extension://fdmmgilgnpjigdojojpjoooidkmcomcm/index.html extension earlier (where your collections were), and if they're empty now, then I'm afraid we can't help. This seems like a case of corruption of the local database.

You could head to `chrome://indexeddb-internals/`, and search for fdmmgilgnpjigdojojpjoooidkmcomcm

[2016-03-01 16:22] abhijitkane commented on #1763
@hardikramwani This seems like an issue with your proxy. Can you try heading to https://app.getpostman.com/client-login?redirect=web&persistent=true in your browser? You should see the same "Your connection is not private" error. Click on the green padlock to view the certificate info - you should see that the certificate issuer etc. is invalid.

Are you able to browse facebook properly?

[2016-03-01 16:23] abhijitkane commented on #1771
@calebrepkes @JuliaFernee approximately how many collections do you have?
If the app is still freezing on start, can you enable DevTools (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/), and check the console for any errors when you open the app and when it freezes?

[2016-03-01 16:35] abhijitkane commented on #1716
@xxldoctor To share your request, you can select `cURL` from the menu in the code generation screen. Users can import curl commands directly into Postman using the 'Import' link in the top menu bar.

The "https://" or "http://" or "?parameter=value" is not part of the host, and cannot be included in the Host header. Doing so would effectively render the HTTP code snippet incorrect.

[2016-03-01 16:38] abhijitkane commented on #1737
This is currently a limitation of the XHR object that we use to make requests - https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name. We're working on using native libraries to make requests, but for now, we don't have any control over the origin header.

[2016-03-01 16:47] Dillie-O commented on #1737
Thanks for following up! I realize it is a bit of a fringe issue, and I have other projects that I'm using the desktop tool with that doesn't require this, but it would be nice to keep the functionality that we have with the Chrome app as much as possible.

Keep up the great work!

[2016-03-01 16:48] JuliaFernee commented on #1771
15 collections with approx 10-20 items in each. Bear with me I'll do the DevTools  in a bit - my day
job needs my attention

[2016-03-01 16:58] calebrepkes commented on #1771
I have one collection with 32 request. And in it is various amounts of pre-request code, test code and variables. The freeze happens after roughly 5 seconds. So at first it looks like I can select some stuff. Though i do notice that the pane holding: All - Me - Team is not visible. I have the feeling some process is collapsing.

Usually I just close my Dell Notepad, with +6 tabs open. Sometimes wi

[2016-03-01 17:02] taposoft commented on #1555
Hi Abhinav,

Can you please post an example on how to create a dynamic request body which populates JSON objects (not just primitives/Strings).

Appreciate your time.

Example:

My input Data file looks like this.
[{
    "person": {
        "id": "1",
        "name": "Raghu",
        "zipcode": "500050"
    }
}
{
    "person": {
        "id": "2",
        "name": "Prasad",
        "zipcode": "5000

[2016-03-01 17:05] taposoft opened #1775 "Ability to dynamically generate the request body for POST"
Hi ,

Can someone please post an example on how to create a dynamic request body which populates JSON objects (not just primitives/Strings).

I tried reading the input data from the test input file and setting that to an environment variable in the pre-request script. I tried with primitives and String and it works fine but as soon as i try to assign a JSON object dynamically in the request body,

[2016-03-01 17:06] jeremy-walsh-vgh commented on #1774
It is listed, but it is all stuff that was created today :/

Thanks for the help, and for the awesome product.  Very useful.  I will have to back up my collections by hand from now on I guess.

[2016-03-01 17:06] #1774 closed, assigned to nobody

[2016-03-01 17:21] taposoft commented on #1563
Hi,

I am also in need of this feature. Please let us know if you are working on the solution and any ballpark on when the feature will be available.

Thanks,
Raghu.

[2016-03-01 17:28] hardikramwani commented on #1763
Yes it may me certificate issue, but how can i resolve it ? Below are some screen shots.

![cert_1](https://cloud.githubusercontent.com/assets/3940294/13435599/16997152-e001-11e5-9cae-8749b121c42a.jpg)
![cert_2](https://cloud.githubusercontent.com/assets/3940294/13435601/16c4bdc6-e001-11e5-8e2c-482c0dfa4fcf.jpg)
![cert_3](https://cloud.githubusercontent.com/assets/3940294/13435602/16c68232-e001-11

[2016-03-01 18:10] zvilich opened #1776 "File chosen is deselected from the History's requests"
Hello,
With The form-data, Body parameters, Choosing a file attribute, choose a file .
Then selecting another item in the history and returning to the previous item .
the selected file is gone, "no file chosen".
I am using Mac .
Thanks
Yair
![image](https://cloud.githubusercontent.com/assets/16776214/13436771/72c1ffc0-dfe9-11e5-8a7f-ca5b7e384ad9.png)

[2016-03-01 21:12] qwo opened #1777 "JSON Pretty Preview Parse Error"
I was on a version pre 4.0 and this seemed to work fine
error message: `Something went wrong while parsing the response as JSON: Unexpected ')'`
I am now on

[code]

<img width="961" alt="screenshot 2016-03-01 16 10 21" src="https://cloud.githubusercontent.com/assets/3683993/13441994/27661032-dfc8-11e5-840c-25ea848ee362.png">

the raw json is as such, i sanitized my actual json input but the gist

[2016-03-01 21:52] abhijitkane commented on #1777
Thanks for reporting this. We've fixed this in our internal build and will push out the new version soon.

[2016-03-02 06:59] prusswan commented on #329
`{{host}}/some_path?some_param={{value}}`   value is not substituted

This problem comes and goes

[2016-03-02 08:43] abhijitkane commented on #329
@prusswan Can you mention the Postman version you're on?

[2016-03-02 09:39] merikan commented on #1712
I have the same problem. Running Postman App on Mac
Version: 3.2.20
Updated: February 29, 2016

[2016-03-02 10:51] JuliaFernee commented on #1771
Enabled debugging for packed apps in chrome but not able to use it inside Postman - right click on main window unresponsive. Tried to close Postman & open again. It took something like 20 min to open. I will try to reinstall at the expense of loosing collections.

[2016-03-02 10:58] calebrepkes commented on #1771
@JuliaFernee there have been more reports of this issue. And where to find your collections on the local system. have you checked that route?

[2016-03-02 11:06] calebrepkes commented on #1771
This is the location on my Windows machine, where my collections should be:
C:\Users[UserAccount]\AppData\Roaming\Chrome\Datadir\Default\Extensions\fhbjgbiflinjbdggehcddcbncdddomop

Though i dont see me collections in there. Maybe because I sync them? @abhijitkane

[2016-03-02 11:36] abhijitkane commented on #1771
@calebrepkes Is that the location listed in chrome://indexeddb-internals? You should see a .leveldb folder there.

[2016-03-02 12:05] JuliaFernee commented on #1771
@calebrepkes @abhijitkane Thank you for your tips. I've found it. It is really well hidden. So if i copy contents of these dirs, reinstall postman extension and replace them with saved copies it will work? the contents should be something like chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.leveldb & chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.blob

[2016-03-02 12:26] xxldoctor commented on #1716
Ok, I see. How about alternative solution for my case - it will be cool if you add a one-click copy button for request field, which copy full url with protocol, baseurl, and all parameters. You can place this button in droplist of "Send" button, so it won't take any space in interface.

[2016-03-02 12:57] RicDAC opened #1778 "Errors on Launch"
I have uninstalled and reinstalled Postman numerous times and am still facing the following error on launch - can you suggest a work around pls.

![image](https://cloud.githubusercontent.com/assets/17593340/13460928/3595bbcc-e076-11e5-81dd-f14fdbe026bd.png)

(also did an uninstall and reinstal of chrome)

[2016-03-02 12:58] abhijitkane commented on #1778
@DACRICC is this the first screen you see when you launch Postman? What version of Postman are you on? (The version should be visible in chrome://extensions)

[2016-03-02 12:59] calebrepkes commented on #1771
@JuliaFernee Thats at least what I understood, after reading the following blog earlier:
https://github.com/postmanlabs/postman-app-support/issues/569

No not same I see now @abhijitkane . But found the path mentioned there. So I understand now where to find it in the future if I need too.

[2016-03-02 13:07] RicDAC commented on #1778
3.2.20 - thanks

[2016-03-02 13:07] abhijitkane commented on #1778
Is this the first screen you see when you launch Postman?

[2016-03-02 13:08] RicDAC commented on #1778
yes

[2016-03-02 13:08] abhijitkane commented on #1778
When this is open, can you head to `chrome://inspect/#apps` in your browser and click any 'Inspect' link you see under 'Postman'? Any errors should show up in the console.

[2016-03-02 13:13] RicDAC commented on #1778
ok - no errors that I can see!

[2016-03-02 13:17] RicDAC commented on #1778
(note - I have the same issue with JSON Editor add-in same error on launch)

[2016-03-02 13:35] huysentruitw commented on #448
This should be very simple to solve. I just did a multi-line POST by inspecting the `<input type="text" class="keyvalueeditor-value keyvalueeditor-value-text" ...>` to a `<textarea ... >` and it worked.

[2016-03-02 14:26] dmaselbas opened #1779 "Right click to uriEncode params not working on mac app"
version 4.0.3

Cant get the right click to uriEncode feature to work anywhere in the app.

[2016-03-02 17:24] abhijitkane commented on #1779
Thanks @dmaselbas. We're aware of this, and hope to push a fix for this soon.

[2016-03-02 19:43] cviebrock opened #1780 "Importing swagger.json files doesn't import post parameters"
I have an API endpoint defined in my Swagger file (some irrelevant details removed):

[code]

When I import that document into Postman (v4.0.3), the endpoint is created, but the "latitude" and "longitude" keys aren't shown in the Body > form-data listing.  This used to be the case when importing Swagger in earlier versions of the app.

Thanks!

[2016-03-02 19:54] abhijitkane commented on #1780
@cviebrock Thanks for point this out! We'll fix this in the next release. For now, you should be able to import after changing `formData` to `form`.

[2016-03-02 20:32] cviebrock commented on #1780
Changing that in my `swagger.json` you mean?  Then my file doesn't follow the Swagger specifications
(http://swagger.io/specification/#parameterIn).

I'll wait for the next release. :)

[2016-03-02 20:38] cviebrock opened #1781 "Swagger path parameters are imported incorrectly"
An endpoint in my swagger.json file that contains:

[code]

Is imported into Postman as:

[code]

when I think it should be imported as:

[code]

so that the parameters are then editable via the parameter list.

[2016-03-02 20:42] cviebrock commented on #1781
resubmitting with proper details

[2016-03-02 20:42] #1781 closed, assigned to nobody

[2016-03-02 21:04] cviebrock opened #1782 "Imported Swagger path and query parameters imported incorrectly"
An endpoint in my swagger.json file contains:

[code]

Is imported into Postman as:

[code]

when I think it should be imported as:

[code]

so that the parameters are then editable via the parameter list.  Also, in previous versions, the query string parameters where imported with `{{format}}`, etc. as the default values.  It would be handy if there were no default values set (otherwise, I need t

[2016-03-02 23:56] julipur commented on #1734
@e-nouri
You need to add another header (or querystring) item called X-Amz-Security-Token and use the SessionToken value.

http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_use-resources.html#RequestWithSTS

[2016-03-03 03:56] ghost opened #1783 "UI: How to open a saved request in new tab"
This is a usability concern, not necessarily a bug.

Only to say it took me 10 minutes to discover how to open a saved request into a new tab.

I kept clicking, alt-clicking, control-clicking, shift-clicking, right clicking, ellipsis button clicking (everything!) to open a sidebar item in a new tab. Then I went to Google and found nothing. Searched the documentation, nothing. The solution was not

[2016-03-03 04:33] prusswan commented on #329
Version 3.2.20 (packaged) OS: win
Architecture: x86-32
Native client architecture: x86-64

[2016-03-03 11:50] RicDAC commented on #1778
Please close this issue.
issue is linked to Bromium vSentry and impact on Chrome and add-ins when enabled -  thanks for the help yesterday.

[2016-03-03 11:59] loedeman commented on #1137
+1