[2019-02-04 06:03] MiguelBonachea commented on #4620
![error-devtools-postaman](https://user-images.githubusercontent.com/25937317/52192551-40026f80-2810-11e9-9073-d5b587b4bc21.png)

[2019-02-04 08:24] nikdea commented on #4636
Hi guys, this feature is definitely very userful BUT if you store your OAUTH2 configuration details into environment variables you achieve the same result. ;)

[2019-02-04 08:34] DanielPetatCes commented on #5819
There is no link, but the file still seems to remain on the server, so you can take an existing link and just need to modify the version number.
https://dl.pstmn.io/download/version/6.7.1/osx64

[2019-02-04 08:52] JC5 commented on #5819
Thanks for the pointer!

[2019-02-04 09:16] codenirvana commented on #3300
Postman native apps starting from v6.7.1 and Newman v4.3.0+ adds support for [Ajv](https://github.com/epoberezkin/ajv) library.

Check if Ajv helps to debug schema validation errors. ([documentation](https://github.com/epoberezkin/ajv#validation-errors))
cc. @kajdo @ConnorChristie @rsweetland @fefranca

Refer:
[code]

[2019-02-04 09:43] adamtajti commented on #1475
+1

[2019-02-04 09:44] JontyStephan commented on #1546
There is a "Cookies" link button under the Send button in Postman. Click that and then remove all the Microsoft cookies. When requesting a new token, it will now ask for login credentials.

[2019-02-04 10:17] VicKetchup commented on #5806
Hi @numaanashraf,

The full test script (on collection level) is nearly 600 lines and also relies on external library to be loaded on pre-request. I could share the code if you want, however I think it would make more sense to share the collection ID for you to explore.
Please tell me how would you like to proceed.

[2019-02-04 11:06] pavel-luhin commented on #1669
The same. Any updates or dates?

[2019-02-04 11:47] clabnet commented on #4075
Also me, same issue.

[2019-02-04 14:16] Nicolai6120 commented on #4044
Postman support soooooo slow.... Implement one simple feature is not so hard, really?

[2019-02-04 15:14] serak commented on #3942
I have the same problem, whenever i want to use Postman i have to remove the HTTP_PROXY env't variables. and postman should identify localhost and loopback ip to be bypassed

[2019-02-04 15:27] p00j4 commented on #2418
I too ran into this and after hours of hitting the walls, here is what now hopefully can save someone's time:

**Background** We were using python app and one day, we added a reverse proxy in our nginx conf  proxy_pass and then started noticing the same calls started responding slower. Initially we were blindly checking the conf and postman, curl stuff and finally figured the pattern that it's onl

[2019-02-04 15:35] cameliag90 commented on #4262
Hei, I still have this problem. Just downloaded the latest version of postman 6.7.3, set also the POSTMAN_DISABLE_GPU variable to true but no enhancement. Opened the app 5 minutes ago and I still have a black screen.

[2019-02-04 16:37] jzabroski commented on #4751
@ericflynn67 I don't think that is the issue.  See #3216 - the issue is the fact they appear to be using Facebook's Immutable.js collection library viz a viz React.js, which keeps creating copies every time an item is appended to a collection.  Eventually, the application runs out of memory and crashes.

I'm not an expert in React or Immutable.js, but most data binding libraries have this kind of

[2019-02-04 17:59] adachenski commented on #5818
@numaanashraf there are no  publicly accessible endpoints for the calls that I'm testing
but I'm sending the response headers [JPG here](https://drive.google.com/file/d/1NtIBrKat_R-HX2eAD5bz36lGQ8oWrEOU/view?usp=sharing)

[2019-02-04 21:34] bt-dd commented on #5789
This also related to #5180. Honestly I think that just displaying entire table would fix both, no need for the hover/click action then.

[2019-02-04 21:58] natiki commented on #5877
@numaanashraf Using cURL I can see the response come back no problem. The response is LARGE at 42MB so I am guessing this is what kills PostMan. AFAIK the response has not increased in size of late and Postman was working fine. It did upgrade itself automatically so this may be a regression.

Bottom line PM needs to handle large responses elegantly.

[2019-02-04 23:25] JP-from-Postman opened #5878 "Documentation: generated cURL doesn't escape $"
**Issue:**
Generated cURL on docs site doesn't escape `$`. When a `$` appears at the beginning of (e.g.) a property name in a JSON request body, the actual key is lost when sending the request.

Request body (JSON):
`{"$example_key": 26}`

Generated cURL:
[code]
From response body (postman-echo):
`"":26`

**Ideal solution:**
Wrap cURL argument strings in single quotes, as done in the Postman app.

[2019-02-04 23:28] codenirvana commented on #5878
Duplicate of #5737

[2019-02-04 23:37] Sweathered opened #5879 "SSL certification verification turned to off no longer works"
This seems to be a duplicate of this existing issue: https://github.com/postmanlabs/postman-app-support/issues/5819

You can delete this duplicate please.

**Describe the bug**
When trying to Get New Access Tokens from our internal enterprise developer gateway (https endpoint), it throws an error with the following stack trace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pos

[2019-02-05 00:46] vpetrovic-cw commented on #3574
There is an error in exported test results JSON.
For example, in one of the requests I have 3 pm.test() functions in JS:
- "Status code is 200"
- "Content-Type is present and of text/xml"
- "Version is: R3_1_136"

Also, as an example, let us mark this request as "0"; then, in **results.0.tests**, instead of
[code]
this is how it looks:
[code]
which is incorrect.
When I correct this manually, the i

[2019-02-05 06:15] OzanKurt commented on #1947
Seriously,

There is no update about this problem for 2 years?

WAKE UP!

[2019-02-05 06:28] numaanashraf commented on #5879
Duplicate of #5819. Please refer https://github.com/postmanlabs/postman-app-support/issues/5819#issuecomment-457625628 for clarification on this issue.

[2019-02-05 06:28] #5879 closed, assigned to nobody

[2019-02-05 07:12] VonTalavang commented on #4043
I did it. I think you guys shouldnt marked as resolved.
Today I runned postman again, no changes. Magically post works.
I turned of my laptop then on again. Postman did the "get -> post" bug again.
Both times no changes.

[2019-02-05 07:45] DineshKumar1705 commented on #2185
Any update on #5199 ? There is a desperate demand for accessing the Database with Postman to make it end-to-end testing environment.

[2019-02-05 07:53] kthulsidoss commented on #2185
@dineshkumar1705 are u not rest enabling the database ? then you can try make queries to POSTMAN

[2019-02-05 07:57] numaanashraf commented on #5818
@adachenski This seems to be due to a non-zero Content-Length being sent by the server for 204. Postman would wait for the response from the server (as indicated by the content-length). The request will finally finish when the underlying connection is closed by the client or server. Refer related issue at https://github.com/postmanlabs/postman-app-support/issues/2418#issuecomment-460290091 for mor

[2019-02-05 08:40] gsperk commented on #3943
I need this too. It's a pain to re-evaluate for pass/fail state to do some control logic for the overall collection path.

[2019-02-05 09:08] JohnAdebiyi commented on #5819
When trying to get a new Access Token in version 6.7.2 and 6.7.3,  I get the following error message:

"Could not complete OAuth 2.0 login.
Check Postman Console for more details."

Postman Console:
Error: self signed certificate in certificate chain

Every version before 6.7.2 works perfectly.

[2019-02-05 10:30] Ramya-From-Postman opened #5880 "Replace "failure" with "error" in Run a monitor API response"
It currently returns an empty array of failure while using Run a Monitor API even though when there are some failed tests - This is expected behavior as this is meant to show the results of errors in the monitor. However, at the same time, it is leading a confusion. Hence, request you to replace the term "**Failure**" in the response of **Run a Monitor API** with **Error** to avoid confusion.

![i

[2019-02-05 11:24] komape commented on #810
Same for folder editing dialog window. Just edited test scripts for about half an hour and unthoughtfully hit the `Esc` button. Now everything is gone. Is there any chance to get it back? As a User I would at least expect a quit dialog about unsaved changes or autosave the changes.

@a85 You wrote on 5 Dec 2014 this will be part of a new version soon. When is this "soon"? Not losing data is so imp

[2019-02-05 11:57] susikka commented on #4092
@numaanashraf I too tried running my collection with newman. As was the case with the collection runner, with newman too only the first request was successfully executed, all others failed with HTTP 401.

This issue has been lingering for a long time now. Do we have a timeline by when we can expect this issue to be fixed ?

[2019-02-05 12:00] deepakpathania-zz commented on #5880
@Ramya-From-Postman I understand the concern here, I agree that it might lead to confusion in some cases, which can be dealt with by improving the documentation around the response structure.

Since this is a public API, we cannot change the keys in the response body like this, a lot of people might be relying on the same for their use cases which would start breaking with this change.

[2019-02-05 12:01] andmill commented on #4092
@numaanashraf same here. Issues in collection runner and newman. Tried on both windows machines and Linux servers.

[2019-02-05 13:25] c3nj1 commented on #2847
+1

[2019-02-05 13:37] ir-fuel commented on #1947
Who should wake up?
How much did you pay for Postman?

[2019-02-05 14:18] SuzanneBrok opened #5881 "Wrong name in continue learning - manual testing - vairables"
1. Go to Learning Center
2. Click on Debugging and manual testing
3. Click on global variables (or Environment variables because the typing mistake is also there).
4. Click on learn
5. Check the message

Expected result is that there is stated: Variables.
Result is: there is stated vairables

[2019-02-05 14:27] prashantagarwal commented on #5881
@SuzanneBrok Thanks for catching this. We will get this fixed. Apart from this, we would definitely like to have your feedback about our Learning Center. Was there something that we could have done better or are there any new lessons that you would like to see in future.

[2019-02-05 14:35] SuzanneBrok commented on #5881
@prashantagarwal There are I am a tester and perfectionist for ;)

The Learning Center is helping me very well. I am just a beginner with postman and following the learning parts of manual and automated testing.
The steps are very clear and helping me to get use of Postman.

[2019-02-05 15:16] salhidev commented on #5850
I'm encountering the same thing on Windows 7, 64 Bit
The app is just loading forever. Uninstalled and re-installed but problem persists
This is my main.log
[code]

[2019-02-05 15:33] willejs commented on #1669
@loopDelicious I see you own the roadmap in Trello... As this is your no.2 most requested features by reactions in github issues, is there a plan to bump this up your product roadmap or address it any time soon?
https://github.com/postmanlabs/postman-app-support/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Areactions

[2019-02-05 15:41] salhidev commented on #5850
I fixed the problem by adding a system variable "POSTMAN_DISABLE_GPU" and set it to "true".
re-open the app and it works, this documentation helped me :
https://learning.getpostman.com/docs/postman/launching_postman/installation_and_updates/

[2019-02-05 16:06] PilotBob commented on #5819
This issue is affecting us too. But, I can't seem to d/l 6.7.1 from the page referenced. Is there a direct link to d/l 6.7.1?

[2019-02-05 16:11] E1337Kat commented on #1947
I mean, if the feature was added as a postman pro feature, I would absolutely have my company get it for us. This is one of the most requested features from what I have seen, and I can't see how it would be too difficult to implement injecting headers from the folder/collection. Not to downplay the amount of work it would take to implement of course.

[2019-02-05 16:28] mshindal commented on #5819
@PilotBob

https://dl.pstmn.io/download/version/6.7.1/windows64
https://dl.pstmn.io/download/version/6.7.1/osx64
https://dl.pstmn.io/download/version/6.7.1/linux64

[2019-02-05 19:06] GregoryPellegrin commented on #3574
hello vpetrovic-cw,
How did you correct the json manually ? what did you change ?

[2019-02-05 19:10] GregoryPellegrin commented on #3574
ok guys, for all requests you have to change this

"tests": {
	"error": null,
	"name": "test name",
	"status": "pass",
	"test name 1": true,
	"test name 2": true
},

for this

"tests": {
	"test name 1": true,
	"test name 2": true
},

and you will able to import your tests result into postman collection runner
you have to remove every "error", "name" and "status" tags into "tests"

I tried every po

[2019-02-05 19:17] GregoryPellegrin commented on #3574
can someone post a regex for removing all of thoses tags and value easilly with notepad ?

[2019-02-05 19:39] fredrik-jansson-se opened #5882 "Add support for XML autocomplete for application/(.*)+xml and application/(.*)+yang media types"
When Content-Type or Accept equals "application/(.*)+xml" "application/(.*)+yang", syntax highlighting stops working.

1. Create an XML Body
2. Set Content-Type=application/yang-data+xml

XML highlight should still work

**Screenshots**
<img width="947" alt="image" src="https://user-images.githubusercontent.com/2181940/52299554-88b64780-293a-11e9-96fc-5cea5c0ba33e.png">

**App information (please

[2019-02-05 20:50] kkapell commented on #5250
This would be very useful. I would add to this request the ability to clear one, multiple, or all cookies programaticly using something in the Pre-Request Script or similar.

[2019-02-05 20:51] kkapell commented on #5215
This would be very useful. I would add to this request the ability to clear one, multiple, or all cookies programmatically using something in the Pre-Request Script or similar.

[2019-02-05 21:02] jhardin-aptos opened #5883 "Newman: a request that got no response does not abort the collection, no way to do so programmatically"
I have a fairly large test collection that I'm working on right now. This morning I fired it off in Newman with HTML output against my dev environment and... it just sat there.

Disabling HTML output showed pretty clearly that the webservice wasn't responding - oops, forgot to start it up. D'oh! :(

So I've been digging around in the Postman docs to see how to catch this and do `postman.setNextReq

[2019-02-05 21:20] ahait commented on #5263
yes, we are also looking for this feature!

[2019-02-05 22:33] aditki commented on #1535
+1

[2019-02-05 22:52] aditki commented on #1535
I have a thought on how we can achieve this. I don't know if this works for every use case. Idea is to pre populate the requests we need to reuse in the collection files before running them. Postman saves collections, folders, requests in nested arrays. Because the order has to be maintained that indexes of the requests in a folder and folders in a collection are maintained. We can create an array

[2019-02-06 01:07] asyba commented on #5652
never-mind, I already fix it (don't remember) or I don't need this anymore.

[2019-02-06 01:08] #5652 closed, assigned to nobody

[2019-02-06 01:40] wassimsalib commented on #5301
@SamvelRaja any updates on this? I can't install postman as well for quite a while.

[2019-02-06 02:01] wassimsalib commented on #5301
@Saif03 can you please explain more how were you able to get around this issue? I have followed your instructions and installed Insomnia V6.3.2 and while it is running tried to install Postman V6.7.1 and still getting the error.

[2019-02-06 04:05] aviweiss commented on #4636
not sure what env vars you are referring to, or what they have to do with having collection-specific OAUTH2 auth token URLs…

[2019-02-06 07:15] Ramya-From-Postman opened #5884 "Can't Log In with SSO (ADFS)"
Hi,

After upgrading the app to the latest version, unable to login to the app through SSO via ADFS. It shows the following error.

![image](https://user-images.githubusercontent.com/40994626/52326076-64776b00-2a0d-11e9-85e1-874373360643.png)

App version: 6.7.2
OS: Mac

[2019-02-06 07:30] numaanashraf commented on #5884
@Ramya-From-Postman Please provide logs (Developer > View Logs) and earlier known version where this has worked.

[2019-02-06 08:29] amitchaudhary commented on #2494
Any plan for adding the .pfx certificate support. It's been a while?

[2019-02-06 09:31] PFaz540 commented on #5824
+1
Completely agree.

I'd prefer all results are collapsed apart from requests that contained failures. Or even better, let the user decide on the behaviour in a "Collection Config" in the settings.

![image](https://user-images.githubusercontent.com/44571878/52332118-b7dbc000-29f1-11e9-8ca5-796030fe22f5.png)

[2019-02-06 09:35] AlexPreved commented on #2086
+1

[2019-02-06 09:39] ataraxus commented on #4079
+1

[2019-02-06 09:57] fredev commented on #5457
Same issue here. Imported a collection from auth0 in a workspace almost full, now all collections are archived and my team cannot use postman anymore...I have to trash my team workspace a recreate it from scratch?

This thing slows down our work today, really annoying.

[2019-02-06 11:39] Solksjaer commented on #3097
Any updates on this issue?
I´m running Postman v6.7.3 version and there is no horizontal scrollbar for the case you use more than 40-50 iterations

[2019-02-06 12:09] MaksymKmets commented on #675
+1

[2019-02-06 12:18] prashantagarwal commented on #5881
@SuzanneBrok We have fixed this.

[2019-02-06 12:18] #5881 closed, assigned to prashantagarwal

[2019-02-06 12:25] experimentalqa opened #5885 "wrong response size displayed"
1. execute API.  Check the response size displayed
![image](https://user-images.githubusercontent.com/33400732/52341111-b92fdb80-2a37-11e9-832e-18e05c966b53.png)

2. Download and save the response. Check properties to display it's size
![image](https://user-images.githubusercontent.com/33400732/52341133-cc42ab80-2a37-11e9-900d-34998e768576.png)

e.g.
response size displayed on postman : **1.26KB**

[2019-02-06 12:52] thedoseoftea commented on #3845
Would also appreciate this.

[2019-02-06 13:17] Dharmendrabisht opened #5886 "Getting gibberish/non readable fonts while retrieving images through GET API"
**To Reproduce**
Steps to reproduce the behavior:
1. Try to retrieve an image through GET URL
2. It downloads some gibberish fonts however the response status is 200 OK, which means there is something downloaded.

**Expected behavior**
It should have the downloaded the requested image

**Screenshots**
Attached

**App information (please complete the following information):**
 - App Type [ Native A

[2019-02-06 13:59] arashberlin commented on #5819
Yes with version 6.7.1 I can now get the Access Token :)

[2019-02-06 14:01] vedeshkm commented on #5575
Hi, i am also facing the same issue. Any resolution found? Please suggest.

[2019-02-06 14:03] geniusit commented on #5575
Yes, use Insomnia instead of Postshit
Its probably a security blocking issue due to firewall or antivirus

Le mer. 6 févr. 2019 à 15:01, vedeshkm <notifications@github.com> a écrit :

[2019-02-06 14:12] vedeshkm commented on #5575
What does this mean?

"use Insomnia instead of Postshit"

[2019-02-06 14:14] geniusit commented on #5575
Insomnia is a similar software, you can download it, https://insomnia.rest

Le mer. 6 févr. 2019 à 15:12, vedeshkm <notifications@github.com> a écrit :

[2019-02-06 14:16] vedeshkm commented on #5575
okay thank you

[2019-02-06 14:27] frendcarlo commented on #4700
I also want to have this feature, for my requirements, I have different token defined in header as custom, different token returns different response.

[2019-02-06 15:06] jakubpolomsky opened #5887 "Create a javascript method which would open any provided url in new tab or default browser."
I am working with APIs which provide redirect urls in their responses which have a lifetime of 1 second. So if I don't click the returned url immediately after receiving the response, the link already expired.

I would like to have a javascript method from within e.g. the "Tests" tab where I would call something like
pm.redirect(url, browser = false|true) where the given url can be extracted from

[2019-02-06 16:25] tkantonio76 commented on #4103
Any reason this topic is closed? Any solution for it yet?

[2019-02-06 16:39] skeletozaure opened #5888 "Support authentication prompts in OAuth 2.0 access token flow"
**Describe the bug**
I cannot retrieve an oauth 2.0 access token using a custom callback URL

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new request
2. Go to tab 'Authorization'
3. Set type to 'OAuth 2.0'
4. Click 'Get New Access Token'
5. Specify settings to obtain a token from Azure AD. Select Grant Type 'Authorization Code'. Specify the Callback URL according to the setting

[2019-02-06 17:16] cpend commented on #2494
+1

[2019-02-06 17:20] benbward commented on #2617
What is the status of this?  Does this screenshot reflect the same bug?
![image](https://user-images.githubusercontent.com/1945364/52360079-c9789400-2a00-11e9-94aa-994d46e4d6e7.png)

[2019-02-06 17:25] jhardin-aptos commented on #5883
I attempted this to abort the collection promptly if the service is not responding:

1. Have the first request be a "warm the service" request with a simple lightweight request of the service
2. In that request's pre-request script do `postman.setNextRequest(null);`
3. In that request's tests script do `postman.setNextRequest(2);`

...but it doesn't work, the collection always terminates after the

[2019-02-06 18:47] LR4Discovery commented on #4391
I just started experimenting with postman and services secured by Azure AD. I am running into exactly the same issue described above. I assume it is still not fixed. Anyone can suggest next best way to test secured services with Postman ? Thank you

[2019-02-06 18:54] jkewley commented on #4391
We took this approach. It uses a pre-request script in the collection to deliver the same thing:
https://lnx.azurewebsites.net/postman-pre-request-script-for-azure-rest-api-client-credential-grant/

[2019-02-06 19:13] joeminicucci opened #5889 "Postman proxy: "Something went wrong. And we are reporting a custom error message.""
I am trying to run the Postman built in proxy on the native OSX app to capture traffic from my browser. Currently, I am able to do so (the traffic shows up in Postman) however with every request made to my locally hosted web app, I receive an otherwise blank HTML response with the message:

`Something went wrong. And we are reporting a custom error message.
`

The web app has self-signed SSL cert,

[2019-02-06 19:32] ghost commented on #4320
It would be great if there was a reasonable solution to this. Is there any chance this is going to be resolved?

[2019-02-06 20:00] joeminicucci commented on #1066
Yet another reason we haven't upgraded to a paid enterprise subscription. Get it together Postman team!!

[2019-02-06 23:33] thetreythomas opened #5890 "Environment copied to new Workspace is being written to when using old Workspace"
**Describe the bug**
I have an old Workspace, call it Software v1.0. There are collections and environments in this Workspace. Software v1.0 is now GA. A new Workspace is created for Software v2.0. A few collections along with an environment is copied over to Software v2.0 using the WebUI +Add to workspace.

The environment is copied over to the new workspace successfully. I added some new variabl

[2019-02-07 00:47] thetreythomas opened #5891 "Manage Environments window needs to be able to be re-sized"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a "Quality of Life" improvement to Postman.

This is somewhat related to #3493.

**Describe the solution you'd like**
#3493 asks for the ability to move the Manage Environments window.

To add to this, the modals should not only be movable, but able to be re-sized.

For this one particular environment, I am test

[2019-02-07 02:39] godfrzero opened #5892 "Monitor run results not visible without a page refresh"
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Has been there for a while now, I think.
 2. Expected behavior: Run results should be visible after clicking the "Refresh" button

![image](https://user-images.githubusercontent.com/2700229/52387300-a953de00-2aaf-11e9-9564-4eecca46b111.png)

1. Navigate to a monitor
2. Click the "Run" button to start a new run

[2019-02-07 02:43] godfrzero commented on #5868
@vmarkova Two things you could check:

1. Is the URL in question publicly accessible?
2. Are the correct environment variables present in the "Initial value" column?

To help you debug further, have you tried adding console logs within the monitor run to verify that environment values are being populated correctly? The errors in the console seem to imply that a non-JSON response is being parsed as

[2019-02-07 05:21] AsafChetritContentSquare commented on #4009
+1

[2019-02-07 05:34] numaanashraf commented on #5890
@thetreythomas The same environment is available in multiple workspaces when you 'share' them. They are not copied when you share them to another workspace. We'll work on making this behavior more clear.

/cc @vkaegis @sankalp0o

[2019-02-07 05:37] Ramya-From-Postman commented on #5884
The issue has been resolved.  Have updated the ADFS certificate since it was expired.

[2019-02-07 05:37] #5884 closed, assigned to nobody

[2019-02-07 05:57] numaanashraf commented on #5891
Thanks for the suggestion @thetreythomas. We are tracking this at #3493. Please follow that thread for updates.

[2019-02-07 05:57] numaanashraf commented on #5891
Duplicate of #3493

[2019-02-07 05:57] #5891 closed, assigned to nobody

[2019-02-07 06:44] codessentials commented on #4238
I just downloaded and installed the canary version, but it has the same issue. :-(

[2019-02-07 06:46] numaanashraf commented on #4238
@codessentials Could you help us with the OS & App version?

[2019-02-07 10:03] johnkamau commented on #903
+1. At this point, I'll even accept themes per Environment. Local, dark, Prod, White? Can this be done via an environment variable? I've noticed settings change the theme instantly, no restart needed.

[2019-02-07 10:15] TimmJensen commented on #2724
+1 Please add :+1:

[2019-02-07 13:20] abhijitkane opened #5893 "In the /team page on the web dashboard, the search functionality doesn't work for emails/usernames in uppercase"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to go.postman.co/team
2. Search for an email with uppercase chars (which a member of the team has)
3. No results

**Expected behavior**
Search should:
1. work for uppercase, and
2. be case insensitive

[2019-02-07 13:52] LR4Discovery commented on #4391
Thank you @jkewley. I am trying to implement the solution and running into some pre-script issues. Anyway you know how i can troubleshoot the script itself. Also for this line - {key: "resource", value: "https://management.azure.com/"}, i assume i need to replace the URL value with ApplicationId of the resource from Azure AD. Am I correct on that ?

[2019-02-07 13:53] jvretamero commented on #5053
+1
This will avoid collection-only variables being created within the environment

[2019-02-07 14:25] beruic commented on #3472
I'm afraid I might have to reopen this one.

I'm trying to test a REST web service that runs HTTPS on port 28443, but it will only work

In the Postman console I get "Error: unable to verify the first certificate"

I fount [this question](https://stackoverflow.com/questions/31673587/error-unable-to-verify-the-first-certificate-in-nodejs), where the answer suggests that there might be an NPM packag

[2019-02-07 14:37] pimsdsigd commented on #3472
Hello,

Could you please provide me some information about the ticket ? I can try
to help you but I have to admit I didn't remember what is the use case.

Thanks

Le jeu. 7 févr. 2019 à 15:25, Jimmy Merrild Krag <notifications@github.com>
a écrit :

--
Florian Castera
0652748717
DMFluo on FB <http://facebook.com/dmfluo>

[2019-02-07 14:49] beruic commented on #3472
HTTPS requests fail on custom ports. I can see you reply by e-mail. You can see the full history on this GitHub issue #3472.

Digging a bit in the console, it seems like `require('https')` gives the expected result, and thus `require('https').globalAgent.options.ca = require('ssl-root-cas/latest').create();` could work, if the [SSL Root CAs npm package][1] was available.

The strange thing is that

[2019-02-07 15:03] LR4Discovery commented on #4391
@jkewley, i found a postman console. i am trying to use that to examine errors. Anything else/better i can use ?

[2019-02-07 15:07] abhijitkane commented on #5875
@chrisdeso This should be fixed for charges made from now on.

[2019-02-07 15:07] #5875 closed, assigned to nobody

[2019-02-07 15:34] SORC3r3r commented on #5572
Hi, I just ran into the same thing. Would it be the same if I imported a OAS3 into postman?

[2019-02-07 15:43] thehill383 opened #5894 "Small windows icon shows the helmet icon"
this was driving me crazy, but i think i have actually got to the cause of the problem.
the windows icon that is embedded in update.exe has the wrong icon for the small icon size.

i kept having the problem where the icon would be correct, the orange circle with the rocketman, when the shortcut was on my desktop but as soon as i dragged that shortcut to my quicklaunch bar, it would show the old ic

[2019-02-07 16:06] jkewley commented on #4391
It depends what you're trying to access. If you want a token for a specific resource in Azure, you would use the app uri for the registered app. If you want to access Azure ARM APIs you'd use https://management.azure.com/. Note that the App Uri is a url and you want that instead of the App ID which is a guid. Both are found on the settings>properties screen of the app registration blade

The token

[2019-02-07 16:49] science695 commented on #2691
Not an exact replacement, but for pro and enterprise customers, you can now integrate with your own self-hosted git server.

https://blog.getpostman.com/2019/01/11/backup-your-collections-on-a-custom-domain-in-your-git-repositories%EF%BB%BF/

For some this may be a better solution.

[2019-02-07 17:17] BrambleRamble commented on #4058
I second @bkosborne's comment. The workaround above is better than nothing, but it leaves a lot to be desired.

To give more detail, our particular situation involves making requests to a variety of different endpoints. There are different expectations about how long requests to different endpoints should take, and often requests to several endpoints belong in a folder together - so, adding a fold

[2019-02-07 17:18] davmillar commented on #2353
I'm also affected by this. Ctrl+Click to open in the default browser is fine about 35% of the time, but the rest of the time I need the ability to explicitly open one-time-use links in a specific browser or Incognito tab.

[2019-02-07 19:04] japena03 commented on #1475
+1

[2019-02-07 21:46] Leo0731 opened #5895 "Collection Request order is wrong after importing"

[2019-02-07 21:57] vmarkova commented on #5868
I cannot share URL due to confidentiality of company, but it is working well. When you run same collection with same environment in Postman Runner - it works without any exceptions (please see screenshot above attached), but when you create monitor (without modification) - monitor fails.

[2019-02-07 21:58] Leo0731 commented on #5895
Hi, Dear support team,

When I import the collection I committed to the SVN, then the order of some request is changed immediately.
I know people asked this issue before, but it is happening and this affects our production regression tests.  The folder issue is always stable, but the requests within a folder keep changing,  Please create at least 10 requests, (2 is not a good test) and see.

As mo

[2019-02-07 22:27] TheOneDaveYoung commented on #4105
Why are collection variables read-only? Let's say I have a collection of related API calls that all need an auth token. I have one API call that collections a new auth token and a test script that grabs that value and stores it (globally or in the environment).

That's a problem for a couple of reasons. First, saving it globally is not good because often times variables like auth tokens will end u

[2019-02-07 22:32] anguis-datura commented on #3166
+1 for this feature.
I think in general there is few possible (excluding modified/not saved requests) options:
1. Open new call for the same request in a new tab.
2. Open new call for the same request in the same tab, but call for another request in another tab.
3. Open different requests (unmodified) in the same tab
As a developer I prefer to use 3-d option.
So two switches or one drop-down inste

[2019-02-07 22:50] LR4Discovery commented on #4391
@jkewley For resource, i am using the URL value in the App ID URI field. This value is generated for me by Azure AD during registration process. i can verify the token through jwt.io to confirm that the same value is stored in 'aud' and still getting 'The audience is invalid'. Anything you can think of to check for ?

[2019-02-08 00:11] bertolo1988 opened #5896 "."
.

[2019-02-08 00:38] ddunlop opened #5897 "Better handling for redirects on non safe requests"
App version: 6.7.3 (6.7.3)

**Is your feature request related to a problem? Please describe.**
Currently with redirects enabled postman redirects a PUT request following the 301 to the new location and turns it into a GET. It would be great if postman warned about this.

I had been making a PUT request over http and the server wanted me to use https, but it took me a while to figure out why all my

[2019-02-08 01:47] godfrzero commented on #5099
The 0% success rate and failing runs are due to errors in the run. The UI states that there were *0 failed tests, 3 errors, ...*. Details about these errors can be found in the console.

[2019-02-08 01:47] #5099 closed, assigned to ankit-m

[2019-02-08 02:26] abhijitkane opened #5898 "Free users unable to create Postman API keys"
Users not in teams or in free teams are unable to create API keys. The error message says:
[code]

[2019-02-08 04:10] nestorvanz commented on #4105
I have the next issue for collection variables:

1. Send request for generate token.
2. Read response from request and save token into `token`. (To be used in other request)
3. Send request using `token` generated in the past request. (Not working, the value is missing)

[code]

[2019-02-08 04:23] nestorvanz opened #5899 "Collection variables can not be set"
I have the next issue for collection variables:

1. Send request for generate token.
2. Read response from request and save token into `token`. (To be used in other request)
3. Send request using `token` generated in the past request into Authorization header as Bearer {{token}}. (Not working, the value is missing)

[code]
**Note**: In postman console the value is printed, but when is used in othe

[2019-02-08 06:28] KassuR commented on #3602
Also waiting for this feature

[2019-02-08 08:40] lanka-senanayaka commented on #4374
@egorzot
Solution worked like a charm, Thanks

[2019-02-08 10:23] numaanashraf commented on #4977
@jdvegmond @danieladougan We had shipped some fixes that would take care of some cases that leads to this. Could you update the app to the latest version and verify again? If you are still facing this issue, please share a screenshot of the DevTools of the console window.

Opening DevTools of Postman Console:
Focus the Console Window -> Top Menu -> View -> Developer -> Show DevTools (Current View)

[2019-02-08 10:29] jdvegmond commented on #4977
@numaanashraf For me it seems to be fixed. Thanks.

[2019-02-08 11:39] juliannojungle commented on #2902
<kbd>ctrl</kbd>+<kbd>\\</kbd> (show sidebar) doesn't work anymore as well.
Confirmed bug on #5505.

[2019-02-08 12:04] pawelkaliniakit commented on #3516
I am using Postman v6.7.3 and I am still having this issue:
"ReferenceError: XYZ is not defined"
:(

[2019-02-08 13:19] parul3389 commented on #697
It is may be a very late reply, but I just found something very simple, which might be helpful.
In tests area of authorization request, we can assign this request to some varibale.
pm.globals.set('authorization_request', pm.request);

And then same variable can be used into other request pre-requsite script.
pm.sendRequest(pm.globals.get('authorization_request'), function (err, response) {
    pm.

[2019-02-08 13:32] TCB13 commented on #2985
+1 on windows 10. Postman 6.7.3.

[2019-02-08 13:58] danieladougan commented on #4977
Hello there --
I have updated to the latest Postman version (v6.7.3), but the problem persists for me. When I open up an array in the console, I still get the "Something went wrong" error.

[2019-02-08 14:01] mennopot commented on #1966
I really would love this.
Also for me it would be great if I could run these against several environments.
I currently run 3 collections against 5 environments. So 15 times the same thing.
That should be automatable.
I do export my collections and my environments and run them in the pipeline in Jenkins, but I want quicker checks.
If I changed high level things in Postman, or if a developer has cha

[2019-02-08 14:48] numaanashraf commented on #2206
@janghwan @hgschmie This issue is not reproducible in Postman v6.7. Please verify and re-open this issue if you are still facing this.

[2019-02-08 14:48] #2206 closed, assigned to a85

[2019-02-08 15:01] numaanashraf commented on #4977
@danieladougan Please share a screenshot of the DevTools of the console window after the crash happens.

Opening DevTools of Postman Console:
Focus the Console Window -> Top Menu -> View -> Developer -> Show DevTools (Current View).

Send us a screenshot of the Console tab inside DevTools. This will help us triage the issue and roll out a fix soon.

[2019-02-08 15:05] danieladougan commented on #4977
![postman dev tools](https://user-images.githubusercontent.com/42144517/52486403-07a0bf80-2b89-11e9-90a9-c466a4f0dc69.png)

[2019-02-08 15:17] JordanStopford commented on #3137
As above - this is making it a pain to write tests as we are having to put the "src" fields back in manually every time after a fresh export.

i.e. +1

[2019-02-08 15:42] Ramya-From-Postman opened #5900 "Monitors: Option to disable / control automatic retry on failures"
If a monitor which has been running successfully fails for any reason, then the system will re-run it automatically, It would be great if this can be disabled or given an option to choose weather do we need the monitor to retry if it fails for any reason.

[2019-02-08 16:09] dadams89 opened #5901 "Enable Wildcard Parameter Use When Creating Mock Example Requests"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Yes, when using the Mock Server to create mock request/responses for a service API, we have created examples for each endpoint, but url parameters must be hard-coded into the example

[2019-02-08 16:28] vozersky commented on #5818
I've just encountered this as well.

@numaanashraf This indeed seems to happen due to a non-zero Content-Length in reply Header, which in my case is true.

[2019-02-08 16:31] psimoneau22 opened #5902 "OAuth2 fails after 6.7.3 update (self signed certificate in certificate chain) with SSL Cert Verification turned off in Settings"
OAuth2 authorization started failing immediately after upgrading to 6.7.3 (worked directly before the update).   After clicking the 'Get New Access Token' button the Console shows the following error message:

'self signed certificate in certificate chain'

However, under Settings => General we have SSL Certificate Verification turned OFF.   It should not be validating the certificate at all.

In

[2019-02-08 16:36] #5902 closed, assigned to nobody

[2019-02-08 16:41] psimoneau22 commented on #5902
closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/5819

[2019-02-08 16:43] martin-bidroom commented on #3518
Still present, even in Postman 6.7.3

[2019-02-08 16:53] psimoneau22 commented on #5819
we are having the same issue.

Opening Fiddler, I can see the request being logged to connect/authorize (Auth URL) with the 302 redirect to our application server sign in path (Callback URL) with a valid access-code.

This was not an issue immediately before upgrading postman

[2019-02-08 19:47] SwingGuy1024 opened #5903 "Scroll panes inside scroll panes are clumsy to work with."
Postman's main screen has an outer scroll pane. Inside it are two more scroll panes. This means the pane I want to scroll doesn't always scroll when I move my mouse wheel or drag on my track pad. It's very manageable, but it would be much easier to use if the outer scroll pane is removed, and a movable divider is placed between the two inner scroll panes.

In the user interfaces I've designed, I h

[2019-02-08 22:45] nicholemattera commented on #1946
Just experienced a crash on Linux Mint 19 for a 9.6MB file. This should be a pretty simple fix if the request comes back with a Content-Disposition header as an attachment then it shouldn't display the data as raw, and should probably just have a download button.

[2019-02-09 01:38] andersonllda commented on #5457
I think this is a try to get more premiums accounts...

[2019-02-09 06:12] ankit-m commented on #5898
A fix for this has been deployed.

[2019-02-09 06:12] #5898 closed, assigned to nobody

[2019-02-09 06:15] ankit-m commented on #5163
The usage page now shows the usage period.

[2019-02-09 06:15] #5163 closed, assigned to sankalp0o

[2019-02-09 08:19] Saif03 commented on #5301
@wassimsalib I stopped upgrading Postman some time after posting this as I lost hope of this getting solved. So I am not exactly sure if it still works or not and why its not working for you, I don't exactly remember Insomnia version I was using but it was definitely something like 5.X.X. I can confirm you the version if you want.

[2019-02-09 08:29] Saif03 commented on #5301
@wassimsalib these are the versions of the two that last worked for me:

Postman: win64-6.3.0
Insomnia: 5.12.4

First try installing postman while the insomnia's installer is running, if that doesn't work then try installing while the insomnia splash screen is visible. I believe second one used to work every time for me.

[2019-02-09 15:53] coccoinomane commented on #4636
Thanks @nicolapietropaolodeagostini, using Environment variables in Postman OAuth Screen worked great 👍🏼

@aviweiss Hopefully this screenshot will make it clearer what Nicola means:

<img width="698" alt="screen shot 2019-02-09 at 16 48 50" src="https://user-images.githubusercontent.com/3920436/52522843-0657bb80-2c8b-11e9-8b08-9f401b7ed259.png">

The orange bits are environment variables, which yo

[2019-02-09 19:07] aviweiss commented on #4636
Guido;

Ok, not a bad substitute for having auth associated with collections, which I think is still the more “logical” location for it, given that collections are used as the atomic unit for an API relationship. But environment is readily switched so works for me.

Thanks.

[2019-02-10 14:02] istudiomobile commented on #3897
Same here, installed as suggested and uninstalled right afterwards. Self installed on low space C;/.

[2019-02-10 20:14] numerical25 commented on #4171
Same Issue. Great Program. But Postman is encapable of testing JSON:API specification. Something like this...

`filter=(:or,(:and,(events.end_date,:gte,1549745450224),(events.start_date,:lte,1549745450224)))`

Turns into this...

`filter=%28:or,%28:and,%28events.end_date,:gte,1549745450224%29,%28events.start_date,:lte,1549745450224%29%29%29`

I am using Postman Version 6.7.3 (6.7.3) for Mac

[2019-02-11 05:30] vkaegis commented on #824
Hey @strongwinderic, could you open this as a separate issue if you still feel the need for it? Helps us better track and manage feature request.

[2019-02-11 05:50] numaanashraf commented on #4977
Thanks @danieladougan. Would it be possible to verify again on our nightly build? We have pushed a related fix there. https://www.getpostman.com/downloads/canary

[2019-02-11 08:51] GitHubHelps opened #5904 "Postman integration - IDE"
Hi people,

is it possible to integrate postman with IDE (like VSCode, Sublime)?
Sometime in Postman, It is very hard to write tests (pre-request scripts/test), there is no suggestions what options I have when i write (ex. pm.expect/test/environment)
Also if I make a mistake, the problem is no underline to warn me about, sometime takes a lot of time to find one letter mistype.

[2019-02-11 09:42] VicKetchup commented on #5630
Our team has 10 monitors that were setup since 6th of September 2018 and today none of them have displayed the results! Running the monitors manually has also not displayed anything.
@kartikjain26 Please tell us if there is anything we can do to investigate this issue and get it resolved.

[2019-02-11 09:45] kartikjain26 commented on #5630
@VicKetchup Can you setup a new monitor-> slack integration and test if it works.

[2019-02-11 09:49] jackalbyte commented on #5302
It would be nice if you make a menu for Windows in the "windows" style. Like VSCode for example. ![VSCode](https://user-images.githubusercontent.com/22278399/52555630-55bcf980-2dfb-11e9-96aa-386455e64973.png)

[2019-02-11 10:24] Matreshqa commented on #3358
+1

[2019-02-11 10:24] VicKetchup commented on #5630
@kartikjain26 we are also using Postman API to get monitor results and display the data in more meaningful way. Creating new monitors/integrations every time this happens is really not the solution that works for us.

[2019-02-11 10:47] shamasis commented on #5167
Tracking something along the same lines: #5818

[2019-02-11 11:06] RT-TL commented on #5630
@VicKetchup did setting it up again actually change something for you? We tried that, too but the monitors remain silent.

[2019-02-11 11:25] VicKetchup commented on #5630
@RT-TL Unfortunately I am not a Slack Admin, I've requested devops for integration to be added to test this and will share the results as soon as possible.

[2019-02-11 11:49] GeorgeFlorian opened #5905 "Postman crashes when trying to start Proxy Server"
- App Type: Native App
 - Postman Version: Postman-linux-x64-6.7.3
 - OS: Linux Mint 19.1 x64

As the title says Postman simply crashes when I'm trying to Capture API Requests (like the button reads).
I didn't modify a thing because I just installed and ran Postman. The port is 5555 and the target is History. I tried modifying the Port to 80, 200 and 5005 but with no luck.

That's all I have.

I w

[2019-02-11 12:17] stephenmee commented on #5585
Is there any workaround for this issue?  Is there a ETA for a fix?  Thanks.

[2019-02-11 13:43] danieladougan commented on #4977
I think that actually fixed it! Of course, now I just need to wait for you to fix it in the production version.

[2019-02-11 15:00] numaanashraf commented on #4977
@danieladougan That's great to hear. This fix would be available on the stable version this week.

[2019-02-11 15:34] akmozo commented on #4631
I think that [header presets] (https://learning.getpostman.com/docs/postman/sending_api_requests/requests/#header-presets) can be the solution to add headers to requests.

[2019-02-11 15:47] fortinj1354 commented on #4631
Header presets are definitely not a suitable replacement for being able to dynamically add headers to a request. All that feature does is make it easier to add the "header with a variable value" to the request but it does nothing to solve the issue of not wanting to manually add the header and variable in the first place.

[2019-02-11 16:35] joeminicucci commented on #5889
https://i.gifer.com/qI.gif

[2019-02-11 16:35] xargsyan commented on #3137
+1 to implement it.
This is confusing, since tests ("Run Collection") fail on file uploads.
And is really important bug, since it makes the whole "Collection Runner" feature unusable if there is a file upload.

@abhijitkane, @madebysid  the issue is "closed" yet has the "feature" tag.
Does it mean that the issue is "closed" and won't be done? or will be done in the next versions?

We are (all) loo

[2019-02-11 17:01] gustavoq-infocorp commented on #4631
this issue has more than a year opened, some news about when will be planned ? or some workaround ?

[2019-02-11 17:07] Hrafnkellos opened #5906 "git config --global http.sslVerify false causes Errors in getting new access Token"
**Describe the bug**
After performing this command on my machine
git config --global http.sslVerify false
Fetching a new access token from the auth Tab through OAuth 2.0 ,
Causes the following error (from postman console)
ERROR null
Error: unable to verify the first certificate
Request Headers:
undefined:undefined

Two of my collegues were facing this problem and they linked it to this command. So

[2019-02-11 17:41] KatJays912 opened #5907 "POSTMAN Duplicate Project Collection Error"

[2019-02-11 17:43] #5907 closed, assigned to nobody

[2019-02-11 18:58] nateluis429gi commented on #5433
I had the same issue, and wanted to add that if you're running this in a virtual machine (e.g. Virtualbox), you can fix this problem by turning on the 3D Acceleration and 2D Video Acceleration options.

[2019-02-11 21:11] nithyamuth opened #5908 "Get Request ID from UI for postman.setNextRequest"
Whenever the request display name is updated, the name needs to be changed everywhere it is referenced either by the find and replace or updating the environment variable if it set as environment variable.

This would be made easier if each request is assigned an ID and we can reference the ID in the scripts rather than the display name.
So updating the display name wouldn't affect the script.

[2019-02-11 21:27] nithyamuth opened #5909 "Display test messages in collection runner before test completion when set timeout is used in test script"
I am using a delay in the test script using the setTimeout().
I want to display a test in the collection runner stating the"Waiting for the request completion" when timeout started.
I have the following tests written before the set timeout but these never gets displayed until the timeout is completed.
pm.test(`Request URL: ${request.url}`);
pm.test(`Waiting for the execution to be complete`);

The

[2019-02-11 22:41] beruic commented on #3472
@numaanashraf , can you elaborate on whether this one should be reopened, or I should open a new issue?

[2019-02-11 23:57] JayRennemeyer commented on #4307
I'm having the same problem. When I send to https://postman-echo.com/post, the "data" field is correctly populated. When I send to my own API and *debug($this->request)*, "data" is null, however, the returned packet contains a *[protected] _input* field that DOES contain all my data.

**My Data:**
[code]

**Response from my API:**
[code]

[2019-02-12 05:44] fsebile commented on #4296
I'm still facing this issue here 👎 I really need this feature and tried previous versions, same bug. Any recommendation for solution didn't worked for me. Here my screenshots.
![screenshot_1](https://user-images.githubusercontent.com/5302483/52614278-3dec8080-2ea2-11e9-996c-da68a43354ec.png)
![image](https://user-images.githubusercontent.com/5302483/52614297-4d6bc980-2ea2-11e9-9b83-a9f9d6919ecc.pn

[2019-02-12 05:44] DeadDuck commented on #5222
I see this sort button in the docs which doesn't appear on my setup. Was it removed or is it just a concept?

![image](https://user-images.githubusercontent.com/474456/52614150-d33b4500-2ea1-11e9-9881-330de37afc2f.png)

[2019-02-12 07:19] m3dbedb commented on #5681
I have the same errors in log under win 7 32 bit when installing postman 7.6.3 over 6.7.1. %LocalAppData% is available. Shell run also does not provide any additional data. Note that C:\Users\user\Application Data in windows 7 is not a folder. It is a link for back compatibility for old apps. Interesting thing, after installation failure I have found that in my C: drive appeared a folder C:\Users\

[2019-02-12 08:55] m3dbedb commented on #5410
The issue has been reproduced in postman 7.0.9 for windows 32 bit under windows 7 32. (I use  --disable-gpu parameter, but it does not help)

[2019-02-12 09:00] m3dbedb commented on #5899
Collection variables could not be set. You only may define them manually.

Collection variables can be defined by editing the collection details. Click on the ellipsis (...) next to the collection name, and select “Edit” to open the EDIT COLLECTION modal. Select the Variables tab to add and edit collection variables. You can also define collection variables when creating the collection.

https://l

[2019-02-12 09:25] abhijitkane opened #5910 "Completing the Google Signin process for an Enterprise team shows a 500"
Happening for one Postman Enterprise team.

[Discovered internally at Postman - check JIRA for details]

[2019-02-12 09:46] akmozo commented on #4631
@fortinj1354
`... add the "header with a variable value" to the request ` was my goal when I found this issue, and for me header presets were a suitable solution for that.
Also, I think that many of postman users may have the same goal and will find this post, that's why I said "that header presets can be a solution to add headers to requests" and not a solution for the OP's issue .. voilà !

[2019-02-12 11:47] m3dbedb commented on #5679
In postman 6.7.3 under windows 7 32 bit I also did not notice the issue yet. I keep watching.

[2019-02-12 12:18] numaanashraf commented on #3472
In the Postman console I get "Error: unable to verify the first certificate"

@beruic Is your server tls certificate self-signed or signed by a non-standard certificate authority?

[2019-02-12 13:32] Hrafnkellos commented on #5819
Same issue, using version 6.7.1. works

[2019-02-12 13:49] #5906 closed, assigned to nobody

[2019-02-12 13:51] Hrafnkellos commented on #5906
Problem was with version of postman not git ssl verify
https://github.com/postmanlabs/postman-app-support/issues/5819
went from 6.7.3 to 6.7.1 and that fixed the problem

[2019-02-12 14:09] lstrefezza opened #5911 "Does not open the tab when you click on the request"
**Describe the bug**
Does not open the tab when you click on the request.

**To Reproduce**
Click on more than one request

**Expected behavior**
Open tab with request.

**App information (please complete the following information):**
 - App Type [Native App]
 - Postman Version [6.7.3]
 - OS: [Windows 10 Pro - Version 1803 - Compilation 17134.471]

**Additional context**
It happened a few times an

[2019-02-12 16:25] shamasis commented on #229
If your response has jsonp, you can now access the response body using `pm.response.jsonp()`. However since there is no HTML within which to automatically, execute the jsonp within sandbox, nothing is actually executed. Instead, the response body is accessible with the aforementioned function.

[2019-02-12 16:25] #229 closed

[2019-02-12 16:31] trajano opened #5912 "Multipart with utf8 filename is not being transmitted correctly."
**Describe the bug**

According to the spec https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition specifically `filename*` utf8 encoded filenames has to be sent with the encoding information in the `filename*` field.  In addition. `filename` alone is expected to be in US-ASCII format.

As such I cannot upload a file with non-ASCII characters

**To Reproduce**
Steps to repro

[2019-02-12 16:40] anschwa commented on #5903
Even worse, it's not possible to resize the postman window large enough to remove the nested scroll when you have a large response body. The `max-height` behaves like a percentage on the parent or something.

Additionally, if you change the postman layout into `two pane view`, then the parent scroll height is removed, but now you have an enormous empty column for no reason on the left of the respo

[2019-02-12 17:33] AntoniusGolly commented on #2086
+1

[2019-02-12 17:52] rigwild commented on #2724
Indeed this would be so useful. I "copy as fetch" on chrome console all the time. 👍

[2019-02-12 18:08] fadk089 opened #5913 "Postman crashing if result size is more than 40k"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Hit any endpoint which returns more than 40k result set
2. Wait for result and try to click again on send
3. See error

**

[2019-02-12 23:54] skyvondave commented on #2489
Clicking "Update Postman, Restart Now" from the wrench icon with the orange dot just closes Postman. Nothing else. Upon restart, it's the same version 6.6.1 with the same update notification.

![image](https://user-images.githubusercontent.com/40671781/52676267-d4db2c00-2ee6-11e9-97f1-af507adc87ee.png)

[2019-02-13 03:20] venkatesuluM commented on #5667
@numaanashraf ,

Is it resolved?

@numaanashraf ,

Any updates?

[2019-02-13 05:20] ParasVarshney commented on #5866
Is there any option in postman to show optional and mandatory fields in body with json response????

[2019-02-13 05:34] ParasVarshney opened #5914 "Annotate JSON request body for documentation"
**Is your feature request related to a problem? Please describe.**
I have a JSON body as a request payload and I would like to annotate the JSON body to provide more information as part of API documentation. However, JSON being a format that does not accept comments, makes any such out-of-json code be marked as invalid syntax and also gets sent as part of the request.

**Describe the solution you'

[2019-02-13 07:43] numaanashraf commented on #5911
@lstrefezza Please provide screenshots, screen recording or steps to replicate this issue. We are unable to replicate this with the information provided.

[2019-02-13 08:31] Ramya-From-Postman opened #5915 "Category "Warning" in test assertions"
We currently show only Pass or Fail for response assertions. It will be good if we have a category to display the "Warnings" in test assertions. For example: if the response time for some endpoints is more than 200 ms, rather than failing the test, return "Warning" in the response assertion. And the runner then classify and display these warnings only.

[2019-02-13 09:07] drkilikil opened #5916 "Postman crashes when certificate and private key mismatch"
**Describe the bug**
Postman crashes when the certificate and the private key configured for client-certificate authentication do not form a valid public/private key pair.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Settings
2. Add a client certificate
3. Choose a certificate file and a private key file that does not match
4. Send a request

**Expected behavior**
Show an error messa

[2019-02-13 09:25] timothyconnolly5 opened #5917 "Ability to use node mssql in Pre-request scripts"
It is frustrating that we cannot use node mssql in Pre-request scripts to automate population of environment/global variables.
e.g.:

Get Customer
GET: https://{{baseUrl}}:{{port}}/customers/{{customerid}}

var sql = require('mssql');
var config = {
  user: 'DB_USER',
  password: 'DB_PASSWORD',
  server: 'DB_SERVER',
  database:'DB_NAME'
};
sql.connect(config, function(err) {
   if (err) console.l

[2019-02-13 10:07] d82ej9du7 commented on #2050
@tegomass hi, one question please. After that you have the "token" value, how do you add it in the file of the enviroment "postmanFile"?
Thanks you in advance.

[2019-02-13 10:52] shamasis opened #5918 "Allow selection of TLS ciphers and options (+ show debugging info in console)"
Currently, Postman App does not show helpful debugging information regarding SSL /TLS protocol configuration / state during request and response. As such, it is [difficult to distinguish between Postman issues vs handshake issues](https://github.com/postmanlabs/postman-app-support/issues/4677). Additionally, the TLS configurations and ciphers are not tweakable and as such, results in some specific

[2019-02-13 10:54] shamasis commented on #4677
Hello everyone, I did some digging around this post. It seems that the thread has a number of stakeholders with two kinds of issues: (1) wrong protocol negotiation (2) unable to negotiate a required tls protocol.

In either case, when Postman introduced Native Apps, a majority of this was resolved since all limitations thrown by Chrome was lifted. For the remaining, TTLS 1.2 was supported in all v

[2019-02-13 10:54] #4677 closed, assigned to shamasis, codenirvana

[2019-02-13 12:24] ZQ-PSK commented on #4594
I'm on Windows 8 and running in Windows 8 compatibilty mode helped ;)

[2019-02-13 12:44] karinakozarova opened #5919 "allow_redirects is added twice in example POST request in Postman Echo docs/ POST Raw Text section"
**Describe the bug**
allow_redirects is added twice in example POST request in Postman Echo docs/ POST Raw Text section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.postman-echo.com/,
2. Scroll to the POST Raw Text section
3. look at the example, the parameter allow_redirects is added twice

**Expected behavior**
A clear and concise description of what you expected to h

[2019-02-13 13:06] shamasis commented on #5206
Postman selects IPv4 by default. However, a number of factors can influence success of requests and I think this can be converted into a feature as exactly mentioned by @Dragonsangel.  (cc @numaanashraf)

0. If we do any force selection we need to undo the same and rely on OS defaults
1. We bubble up DNS lookup information as a debug info
2. We add `protocolProfileBehaviour` to do DNS lookup selec

[2019-02-13 13:09] kgjelsten commented on #3171
+1

[2019-02-13 13:15] shamasis commented on #2539
Postman uses a controlled version of NodeJS execution VM. Please use `Buffer.byetLength` function to achieve the same result.

For example, `Buffer.byteLength('😎');` would return `4`.

[2019-02-13 13:15] #2539 closed, assigned to shamasis, a85

[2019-02-13 13:18] keke9036 commented on #2627
"data":"{{data}}" not working for version 6.7.3 desktop,

[2019-02-13 13:32] shamasis commented on #4044
We are working on programmatic way to inject headers from pre-request scripts. You can add one in collection script and that would add the same in all outgoing requests!

Also, we are modifying the Bearer auth to have modified header key name. If your bearer token auth system has special header key, then that would be possible. Would update the issue when this is released.

PS: Also considering ad

[2019-02-13 13:34] AndrewGene commented on #4044
Thank you so much for the feedback @shamasis.  Postman has become integral to our workflow.  Keep up the great work.

[2019-02-13 13:46] keke9036 commented on #4718
json { "data":"{{data}}"}  not working for desktop version 6.7.3 ,

[2019-02-13 14:14] shamasis commented on #4631
We started our work on this.
https://github.com/postmanlabs/postman-runtime/pull/735

Only URL, header and request url can be modified

[2019-02-13 15:19] martijnvdwoude commented on #1070
+1

Even after exporting, reordering the JSON and then importing the order gets imported all wrong and unpredictable. Ordering is quite essential!

Also, when moving a request from a collection to a different collection the order of the examples gets messed up, and the end up in a random order.

[2019-02-13 16:34] oskar-fjeld opened #5920 "Duplicate request not working"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

Select Duplicate to duplicate a request and it only creates a new empty request

Steps to reproduce the behavior:
1. Go to Left Sidebar
2. Click on a Collection
3. Open it
4. Click the three dots next to a request and choose Duplicate

**Expected be

[2019-02-13 17:45] wspencer commented on #2086
2 years, 2 months.  Any progress on this TRIVIAL change?

I'll bet someone is busy building a 'better Postman' right now, since these guys can't seem to get anything done.

[2019-02-13 17:56] #5896 closed, assigned to nobody

[2019-02-13 18:02] sujayvenaik commented on #5920
Hey @oskar-fjeld
Could you help us with a screen recording of the above situation where you faced this?
Also, can you send us logs from View -> Developer -> View logs?

I tried on v6.7.3 but could not reproduce.

[2019-02-13 18:02] kvor opened #5921 "Generated cURL code appends &undefined="
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
After  firing a rest call, generated cURL code appends string: **&undefined=**.

However, if we generate code before firing call then snippet is generated correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'R

[2019-02-13 20:39] InfraRedApple opened #5922 "UI Color Tagging for items in the Collections folders"
It would be nice to have color tags or some sort of color identification for the many items that are in our collections folder. Very similar to the MacOS's tagging system.

[Here is a mock up to show how a system might look.](https://imgur.com/a/BZLeqQk)

[2019-02-13 21:40] tegomass commented on #2050
@d82ej9du7 Hey, currently, I don't use a file, but an object directly.

...
environment: {
    var1: 'value1',
    token: tokenFromAbove
}
...

[2019-02-13 22:10] JP-from-Postman commented on #5905
[From Postman Support]

Seeing the same issue on Windows, and Mac. Two other users have reported this issue via Support. Error message in man.log indicates:
[code]

[2019-02-13 22:26] aking1012 opened #5923 "Response count"
**Is your feature request related to a problem? Please describe.**
A relatively simple yet powerful feature would be a records returned count for the case of JSON replies, so you know if you get 5 records, 500 records, or 5000 records when building an API.

**Describe the solution you'd like**
A widget under the collection runner that just displays len(response) particularly for json.

[2019-02-13 23:46] InteXX opened #5924 "VB.NET Support"
**Is your feature request related to a problem? Please describe.**
Presently we're unable to generate client code for VB.NET.

**Describe the solution you'd like**
We'd like to be able to generate client code for VB.NET.

[2019-02-13 23:57] wpccolorblind commented on #4320
very much would like to see this fixed!

[2019-02-14 02:13] chimit commented on #2086
@shamasis, @numaanashraf, @abhijitkane, @a85

[2019-02-14 04:02] mshanif-mtrade commented on #1667
+1

[2019-02-14 04:16] Josh-Canopi commented on #1667
+1

[2019-02-14 05:18] shamasis commented on #2086
Yes. Truly it’s been a long time. 😊 But here’s the dilemma: we didn’t change the default behaviour since some prefer the other way too. We did think of introducing another settings for this, but refrained from making everything a settings nightmare.

The thing that would work is the simple ability to drag and drop to reorder these tabs and match one’s workflow. This satisfies all use cases without

[2019-02-14 05:27] chimit commented on #2086
@shamasis, maybe a simple "remember the last tab" is an option?

P.S. But I'm still pretty sure most of the people need a body tab much more often. It's absolutely no problem to switch to any other tab when you need.

[2019-02-14 05:52] shamasis commented on #5628
We are waiting for OpenSSL 1.1.1 update on NodeJS followed by migration to the same from our end. https://github.com/nodejs/node/issues/18770

[2019-02-14 06:59] godfrzero commented on #5366
Daily/weekly summary mailers are now only sent out if there were runs within the respective periods.

[2019-02-14 06:59] #5366 closed, assigned to godfrzero

[2019-02-14 08:27] cjlotz commented on #4598
Also would like to enquire around further progress.  Not being able to import a valid swagger 2.0/openapi 3.0 spec using path variables is a **huge** productivity killer. It basically renders Postman useless for us as it takes significant effort to manually edit every request to fix these anomalies.

[2019-02-14 08:39] d82ej9du7 commented on #2050
Thanks, i will try :)

[2019-02-14 08:48] VicKetchup commented on #5630
An update on the situation, the Slack integration has worked today.

[2019-02-14 08:58] cjlotz opened #5925 "Url paths not imported correct"
**Describe the bug**
When importing a valid open api 3 specification that makes use of path variables in the `servers` section of the spec, some of the variables are not being parsed correctly and created as parameters.

Spec illustrating the issue:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Import the attached example file by using the `Import | Paste Raw Text` functionality in

[2019-02-14 09:09] EbolaNerd commented on #1535
+1

The one thing I'm missing in Postman that is available in SoapUI, is the ability to create a service definition, separate from the test case definition/implementations.

Each test case can then simply refer to the service definition and whenever the service definition changes, the test engineer only needs to change the definition one place, changes will then propagate to all the test cases tha

[2019-02-14 09:50] panuckov-nick opened #5926 "Can't submit a form inside preview window"
While testing implementation of an authorization server that is supporting OAuth 2.0 Implicit flow found that I can't pass through login for due to an error.

By request to the authorization server from Postman happening redirect to login page where user credentials should be used, but when I click "Login" button nothing happening, but in dev console I see error "Blocked form submission to '' beca

[2019-02-14 10:03] oskar-fjeld commented on #5920
Hi again

I'll add a couple of screenshots.  There are no new logs to for the day I'm doing this.
![duplicate_context_menu](https://user-images.githubusercontent.com/46679245/52779287-b63c7880-303f-11e9-83fb-0b9dd8ea18ba.png)
![duplicated](https://user-images.githubusercontent.com/46679245/52779288-b63c7880-303f-11e9-979e-db91aa1a4196.png)

[2019-02-14 11:30] treetechnox commented on #4679
it's working even for the last version 6.7.3, thank you

[2019-02-14 12:01] andriisivak commented on #4117
please, add the ability to change indentation size and tabs / spaces

[2019-02-14 12:18] RuggeriLuca commented on #5922
+1 also for folder level

[2019-02-14 12:20] RuggeriLuca commented on #5903
+1

[2019-02-14 12:27] RuggeriLuca opened #5927 "Missing describe as in postmanBDD"
As in postmanBDD i would like to have a describe() function to be able to better group my test .

[2019-02-14 12:53] vivekpatel111 opened #5928 "Open Request in new tab using Ctrl + Left Click combination"
**Is your feature request related to a problem? Please describe.**
When we open any new request by clicking on it in collection tab, it will open in current tab, which is overriding existing opened request window, however there is option to open it is new tab in sub-menu, but we will need some mouse shortcut to do the same.

**Describe the solution you'd like**
Add mouse shortcut for the same same

[2019-02-14 13:01] sujayvenaik commented on #5928
@vivekpatel111 There is a setting `Always open in new Tab` which might solve your use case.
![image](https://user-images.githubusercontent.com/11532114/52788377-b9a72280-3086-11e9-8b41-3381aae83f01.png)

[2019-02-14 14:40] NikitaBarford commented on #2847
+1

[2019-02-14 15:13] andyjohnwhite2 opened #5929 "imported json goes where?"
When we import new files (say json)

we have no idea where the imported file went to within Postman
This means that I cannot use the import, because it has disappeared.

Please can it be made obvious where the imported file actually resides?

[2019-02-14 15:30] jseger commented on #2920
I'm still seeing this issue in v6.7.3.

[2019-02-14 18:33] lrcarvalho commented on #350
+1

[2019-02-14 18:46] ryanshores commented on #5852
I was having this issue, but things have gone back to normal for me.

[2019-02-14 20:42] edouardhue commented on #5819
Same issue here with Postman for Linux Version 6.7.3 on linux 4.20.6-arch1-1-ARCH / x64. Grabbing OAuth 2.0 tokens through Authorization feature stopped working after the upgrade, while the same requests issued through classical Requests still work. SSL certificate verification is off in Postman settings, and was already off before.
My API uses certificates signed by an internal enterprise authori

[2019-02-14 21:16] b-fuze commented on #4327
This would be very helpful, I'm testing APIs that require cookies and had to include them into the command manually

[2019-02-14 22:01] Dharmendrabisht commented on #5886
Can someone look into this please.

[2019-02-14 22:31] devsmart opened #5930 "Feature Request : Native App - Read Client Certificate from Cert Store"
Now it only allows Add Client Certificate from crt and key files. other than that, it would be great if we can mention just a thumbprint of the certificate and read the cert from Local or Machine store in Windows and keychain from MacOS if possible.

simply rather than adding crt, key files and passphrase just enter thumbprint of the cert installed in the machine.

[2019-02-15 03:24] promise2mm commented on #1667
+1

[2019-02-15 07:34] linuxchata commented on #3152
Any updates on this issue?

[2019-02-15 09:14] petrheckoHims opened #5931 "Slack integration: Success run reported as a failure"
**Describe the bug**

We have Postman / Slack integrations in place. One is for `Notify on all completed monitor runs` and it's reporting to Slack channel A and second integration for the same monitor, but with the option: `Notify for 3 failures and then first success` and that one is reporting to higher priority Slack channel B. The problem is that even though there are no failures, the Slack cha

[2019-02-15 10:26] beruic commented on #3472
@numaanashraf The server is setup on the internal network of the Danish municipality of Holstebro Kommune. It DNS resolves internally as a sub-domain on *.holstebro.dk and uses the same certificate as https://www.holstebro.dk/.

[2019-02-15 11:43] shaoran commented on #5493
I agree. This week I was testing an API and used Postman a lot, and I also use `/tmp` to organize my files and I was shocked with the amount of files that postman created.

[2019-02-15 12:10] PedroJuan91 commented on #2931
hi guys!
2nd month of 2019 and getting to 3rd month,
is there any updates regarding for the official PPA or SNAP in postman..
thanks :)

[2019-02-15 12:20] sflusov commented on #2617
Hi everyone,
I've find solution, you can use a next service (https://mermade.org.uk/openapi-converter) for converting Swagger document to document with the format OAS3 (Open Api Specification).

Of course, you can use this library directly (https://github.com/Mermade/oas-kit)

Let's have a result in a postman
![image](https://user-images.githubusercontent.com/11510074/52855999-3512dd80-3134-11e9-8

[2019-02-15 12:29] lonix1 commented on #2931
@PedroJuan91 No, the OP spoke of a PPA.

Not everyone uses snap, because it updates automatically without giving control to the user.

[2019-02-15 12:51] semiherdogan commented on #2086
+1

[2019-02-15 14:17] pedrolauro commented on #3942
Same here. Tried all solutions above, manipulating system's configurations, setting NO_PROXY var. Nothing worked.

[2019-02-15 14:37] chucklu commented on #3942
@pedrolauro  What's your configuration for no_proxy?

[2019-02-15 14:39] bpeake commented on #3942
My issue was a Windows environment variable set for HTTP_PROXY

[2019-02-15 14:50] pedrolauro commented on #3942
@chucklu no_proxy="localhost"

[2019-02-15 14:54] chucklu commented on #3942
@pedrolauro  My no_proxy is configured like this , there is no double quotes
[code]

[2019-02-15 15:47] petereps commented on #3466
Also would love this feature. Just lost an entire day of work due to not realizing the "Sync across devices" doesnt actually save anything else.

[2019-02-15 16:33] pedrolauro commented on #3942
@chucklu I'm on Ubuntu here. Doesn't know if makes any difference to use the quotes or not. Will try it later and then I reply here again.

[2019-02-15 18:10] abigailbeets-wk commented on #4079
+1

[2019-02-15 18:21] KenanHArik commented on #4657
this worked for windows 7 for me. To clarify these settings need to be changed in the environment variables.

[2019-02-15 19:00] donsting commented on #3312
The single folder workaround works for me using newman if I set the cookie to a environment var... however, my reporting does not give an overall picture.  I really wish this would get fixed.

[2019-02-15 19:07] tobenary opened #5932 "Import > Paste Raw Text: Mouse right click for paste is not working (CTRL+V works fine)"
**Describe the bug**
Import > Paste Raw Text: Mouse right click for paste is not working (CTRL+V works fine)

**To Reproduce**
Steps to reproduce the behavior:
0. Have a text copied to your clipboard
1. Go to 'Import'
2. Click on 'Paste Raw Text'
3. Mouse right click is not working (for pasting)

**Expected behavior**
Mouse menu with the paste option ( or just pastes the text as putty does.

**App

[2019-02-15 20:20] bmercernccer commented on #4594
This bug is still present in Postman 6.7.3. The environment variable hack works around the bug but it's definitely NOT fixed.

[2019-02-15 23:39] drjonnicholson opened #5933 "Accept header on importing OpenAPI 3 spec"
**Is your feature request related to a problem? Please describe.**

When importing an OpenAPI 3 specification no accept header is set in the postman collection. In our case (good or bad) we specify the api version in the media type in the accept header and we need to manually override this after importing the specification for requests to work.

That is, an accept header of */* doesn’t work for us

[2019-02-15 23:57] rchasman commented on #5380
The '\\' between each line break are what's causing the failure in bash for me.

[2019-02-16 01:00] jun488 commented on #5585
We use Postman code snippets extensively in our ticketing system. HTTP code is great as it is very short, but this bug makes it useless for most scenarios unfortunately.

Compare HTTP: `searchName=Test+searchsearch%5BidxID%5D=a002search%5Bhp%5D=100000undefined=undefined`

vs cURL" `  -d 'searchName=Test%20search&search%5BidxID%5D=a002&search%5Bhp%5D=100000&undefined='`

Jquery AJAX: `  "data": {

[2019-02-16 03:33] AshirwadVyawahare commented on #798
I'm unable to read the values in pre-requisite scripts when I read the data file from server in the pre-requisite script.  Is this feature not available in Postman?

[2019-02-16 13:32] numaanashraf commented on #3152
@linuxchata @kerednai We are tracking this issue at #3290. Please follow that thread for updates.

[2019-02-16 13:32] numaanashraf commented on #3152
Duplicate of #3290

[2019-02-16 13:32] #3152 closed, assigned to numaanashraf

[2019-02-16 13:50] ShohruxYusupov opened #5934 "Importing variables to Collection from Environment/Global/File/etc"
For now, it's hard to add variables to collection, cause a user can't migrate all existing variables from evironment to collection.

It would be better to have the "Import" button, like when we add variables to the environment.

(sorry for my english ;))

[2019-02-16 14:56] m-by-m commented on #1667
+1

[2019-02-16 21:17] madokadev1003 commented on #3631
@numaanashraf I think this is related to #3942 - I've been running into this issue (with the SSL setting not solving it on Windows 8.1 the latest Postman version) - I was able to get a workaround by following this: https://github.com/postmanlabs/postman-app-support/issues/3942#issuecomment-350680981

[2019-02-17 05:16] cyrfer commented on #4186
I had the same problem with 6.7.3 and found this thread.

I was able to work it out by:
1- remove use of environment var substitution for access/secret keys. paste keys directly into auth form.
2- click Preview Request once before Send.

[2019-02-17 05:25] abhijitkane opened #5935 "Slack notifications are sometimes being sent for consecutive successful runs of a monitor"
Happening occasionally. Notifs should only be sent on:
1. the first 3 failures after a success
2. the first success after 1 or more failures

Slack notifications are sometimes being sent for consecutive successful runs of a monitor (1st AND 2nd success after 1 or more failures)

[Discovered internally at Postman. See JIRA for more]

[2019-02-17 07:07] harryi3t commented on #4092
@codenirvana I was able to reproduce this using newman too
Here's a collection which has 1 request with NTLM auth [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/dd639df2a35ee6862740)
[code]
<img width="572" alt="harryi3t_harendras-macbook-pro____work_postman_postman-app__zsh_" src="https://user-images.githubusercontent.com/5207331/52909571-919b0780-3

[2019-02-17 15:17] jrhuerga commented on #4009
I would like that feature as well. This is a command line alternative: https://www.npmjs.com/package/wscat

[2019-02-18 05:30] alex-sachs commented on #5575
Installer failed similarly on my computer with Windows 7. No relevant logs in appdata.

tried latest version and canary

version 5.5.3 works

[2019-02-18 06:02] addzep opened #5936 "Application doesn't Open 6.7.3 - Windows 10"
**Describe the bug**
Postman installs within 5 seconds, with and without "Run as Administrator" option, I tried many times the application doesn't open as well as it doesn't show any error. I tried reinstalling many times, I find the folder in AppData/Local/Postman, so it seems that it installs successfully,but doesn't create Start folder or desktop icon etc . Further, I also tried to install Cana

[2019-02-18 09:13] fe3dback opened #5937 "HTTP Web debug proto (discuss)"
Hello, currently i working on http web debug protocol, this is debug layer over HTTP. This can be implemented on every backend and client (like postman).

Current scheme has draft status, if you interested integrate debug layer into postman in future, please write your proporsal/ideas/issues.

https://fe3dback.github.io/web-debug-proto/

[2019-02-18 09:55] bvic-dev commented on #285
+1

[2019-02-18 10:17] vpavlushkov commented on #5322
Facing this issue as well 😞

[2019-02-18 10:39] Jeevareesha commented on #5935
_redacted personal information_

[2019-02-18 11:10] GeorgeFlorian commented on #5905
And the fix for this is not using Postman at all or ... ?

[2019-02-18 11:12] shamasis commented on #3251
This might not be related to the actual certificate issue.

[2019-02-18 11:32] shamasis commented on #4446
@codenirvana lets choose to use the last enabled content-length if multiple present and move on.

[2019-02-18 11:38] shamasis commented on #5372
The only way I see is either NodeJS fixes this https://github.com/nodejs/node/issues/3591#issuecomment-256784252 - well unlikely knowing that this is a breaking change an almost edge case or ...

We intercept the raw HTTP packet, replace the entire header part and adjust content-length accordingly. It would be a very bold hack, and worth a try if there are 50+ upvotes on this issue maybe

[2019-02-18 11:43] shamasis commented on #3042
That should already work for you. Is it not working?

[2019-02-18 11:50] shamasis commented on #3103
I don't think we would build reading external password files directly. It has huge security implications and various API CLI vendors have their own storage locations and it would be very difficult to keep pace with it.

However, knowing that we are working towards a plugin-based approach to various parts of Postman, this may be implemented as a plugin in future.

[2019-02-18 11:56] shamasis commented on #5885
@experimentalqa - can you send me an API that has this exact behaviour? Also, try the same with a larger response size.

This might not be a Postman issue after all. You see, response size is an approximate value and post receiving response the stream may be unpacked (gzip) and then while saving encoding related factors can add more bytes to the file.

[2019-02-18 12:00] shamasis commented on #5886
Can you attach a screenshot? Can this API be externally called by us to reproduce this locally? If not, can you send more details as to entire response headers section?

[2019-02-18 12:03] shamasis commented on #5897
Next release will remove all "Authorisation" headers in case the underlying host changes during redirection. There will be in future releases an ability to also turn off this behaviour.

[2019-02-18 12:06] shamasis commented on #5899
Editing collection variables from script compromises the source of truth and also results in the confusion as to what to do with the changes once the script is run - that is, do we mutate the collection itself? That is not something that is good to do.

[2019-02-18 12:19] numaanashraf commented on #5917
Thanks for the feedback @timothyconnolly5. We are tracking this at a similar issue (#1180). Please follow that thread for updates.

[2019-02-18 12:19] numaanashraf commented on #5917
Duplicate of #1180

[2019-02-18 12:19] #5917 closed, assigned to nobody

[2019-02-18 12:21] shamasis commented on #5914
@ParasVarshney - I have updated your issue title and formatted the body and rephrased the question to the way I understood and as per issue submission guidelines. Please verify whether this is what you wanted to convey.

If yes, then this is not something we have planned at all and would ideally like to implement the same in an alternate way, perhaps by extending the capabilities of our editor int

[2019-02-18 12:24] numaanashraf commented on #5913
Thanks for reporting this @fadk089. We are tracking this at #4751. Please follow that issue for updates.

[2019-02-18 12:24] numaanashraf commented on #5913
Duplicate of #4751

[2019-02-18 12:24] #5913 closed, assigned to nobody

[2019-02-18 12:27] shamasis commented on #5927
This is not something we are keen to do since we intend one script itself to be a single suite. With the ability to inherit tests written in folder and running a number of requests in a large collection can quickly make this a nested nightmare.

[2019-02-18 12:27] #5927 closed, assigned to nobody

[2019-02-18 12:27] numaanashraf commented on #5882
@fredrik-jansson-se I've modified the title of this issue to better reflect the issue. We do not currently support this and we are tracking this as a feature request.

[2019-02-18 12:29] numaanashraf commented on #5936
Thanks for reporting this @addzep. We are tracking this at a related issue #5681. Please follow that issue for updates.

[2019-02-18 12:29] numaanashraf commented on #5936
Duplicate of #5681

[2019-02-18 12:29] #5936 closed, assigned to nobody

[2019-02-18 12:30] shamasis commented on #5937
nice idea.

[2019-02-18 13:04] numaanashraf commented on #5929
@andyjohnwhite2 Could you clarify the issue you are facing? Is the imported collection not appearing in the sidebar under 'Collections'?

[2019-02-18 13:06] numaanashraf commented on #5926
Thanks for the feedback @panuckov-nick. We are tracking this at #2646. Please follow that issue for updates.

[2019-02-18 13:06] numaanashraf commented on #5926
Duplicate of #2646

[2019-02-18 13:06] #5926 closed, assigned to nobody

[2019-02-18 13:07] numaanashraf commented on #5920
@oskar-fjeld Were all the changes to the request saved before you had duplicated the request?

[2019-02-18 13:10] numaanashraf commented on #5921
Thanks for reporting this. We are tracking this at #5809. Please follow that issue for updates.

[2019-02-18 13:10] numaanashraf commented on #5921
Duplicate of #5809

[2019-02-18 13:10] #5921 closed, assigned to nobody

[2019-02-18 13:51] tobslob commented on #4183
I have related issue, x-www-form-urlencoded is working. but raw is not working with post request

`{
   "title": "question title",
   "body": "Question description"
}`

`{
    "message": "\"title\" is required"
}`

`import express from 'express';
import bodyparser from 'body-parser';
import Joi from 'joi';
import meetupdb from '../db/db';

const router = express.Router();

router.use(bodyparser.ur

[2019-02-18 14:52] numaanashraf commented on #5842
Closing due to insufficient information. Please reopen with clear steps to reproduce this issue.

[2019-02-18 14:52] #5842 closed, assigned to nobody

[2019-02-18 14:53] numaanashraf commented on #5850
@salhidev Thanks for letting us know. We are closing this as a duplicate of #4594.

[2019-02-18 14:54] #5850 closed, assigned to nobody

[2019-02-18 14:58] numaanashraf commented on #5908
@nithyamuth Thanks for the suggestion. "postman.setNextRequest(<id>)" does accept request ID, but unfortunately this ID is not easily accessible from the Postman UI. We'll take this as a feature suggestion to make the request IDs more accessible.

[2019-02-18 15:00] #5878 closed, assigned to nobody

[2019-02-18 15:05] numaanashraf commented on #5889
@joeminicucci Could you provide the detailed logs? You can find these at `View > Developer > View logs`. "electronProxy" errors in the logs will help us triage and fix this issue fast.

[2019-02-18 15:06] #5890 closed, assigned to nobody

[2019-02-18 15:09] numaanashraf commented on #5894
@thehill383 Could you provide a screenshot of the icon on the quick launchbar? Postman's app icon is responsive and we use the best icon for the size at which it is rendered.

[2019-02-18 15:11] numaanashraf commented on #5895
@Leo0731 would it be possible to share a small sample collection to help us replicate this issue at our end?

[2019-02-18 15:14] numaanashraf commented on #5823
@tijaune We are having trouble replicating this at our end. Would it be possible to share a screen recording of this?

[2019-02-18 15:16] thehill383 commented on #5894
please see image of quicklaunch toolbar

![quicklaunch_icon](https://user-images.githubusercontent.com/19172058/52960164-13ae2d80-3390-11e9-902f-8b6bbcb993bf.png)

[2019-02-18 15:18] numaanashraf commented on #5905
@GeorgeFlorian Are you receiving the same `EADDRINUSE` even after changing the port to, say 8080?

[2019-02-18 15:19] thehill383 commented on #5894
i have a tool for extracting icons from .exe and .dll, icofx. when i extract the icon for update.exe i get the attached image. it looks like all sizes except the 16 x 16 are showing the rocketman, whilst the 16x16 shows the helmet
![extracted_icon](https://user-images.githubusercontent.com/19172058/52960352-87e8d100-3390-11e9-902f-8dca98a0eed8.png)

[2019-02-18 15:21] numaanashraf commented on #5934
@ShohruxYusupov Thanks for the feedback. You can do this by multi-selecting the variables in the environment screen, copy-ing via the shortcut (Cmd/Ctrl+C) and then pasting onto the collection variables. We are looking into how to make this interaction more discoverable.

[2019-02-18 15:59] adriendengreville commented on #4009
I'm craving for this websocket feature, +1

[2019-02-18 16:32] unoexperto commented on #5034
Well, I noticed this only today, after Postman folder hit 57GB. And guys, 253MB per build for app that just sends HTTP requests, is a shame. You know, not long ago people wrote demos in asm that were 16kb and looked better than another Marvel movie :) Cheers.

[2019-02-18 17:50] ajayreddy222 opened #5938 "Getting an error after launching the Postman 6.5.3 64 bit"
We have created the Postman 6.5.3 application as thinapp and it worked fine for few days then later when we are launching the application the application launched but it going to black screen within in seconds an showing below error "The instruction at 0x000000000 referenced memory at 0x00000000. The memory could not be written". When clicked on ok the application was closing. Could you let us kno

[2019-02-18 17:55] ajayreddy222 opened #5939 "Need to Disable pop-up about automatic updates for the 6.5.3"
**Describe the bug**
I have one more doubt here could you let me know how to stop postman application to update automatically to new version when we installed older Version. Please find the below scenario that I faced the issue:
When I installed the 6.5.3 version it was installed and when it launched and when we go to settings tab the postman application looking for the updates automatically.
Here

[2019-02-18 18:19] mheyder1 commented on #3274
Is there a way for the Team Admin to see which collections a user owns when they leave the organization? If so, how can we transfer ownership to their manager?

[2019-02-18 18:20] tijaune commented on #5823
Hi, attach here is a small mp4 zipped of 01:47 length, hope it will help.

[2019-02-18_13-10-50.zip](https://github.com/postmanlabs/postman-app-support/files/2876946/2019-02-18_13-10-50.zip)

Please note that in order to be able to reproduce, both tabs must have ran a previous request with the same token before. I noticed this behavior because my company expire token setting is 3600 seconds so I s

[2019-02-18 18:53] numaanashraf commented on #5939
@ajayreddy222 Postman automatically downloads minor updates and bug fixes and we do not support disabling minor/patch updates. You can disable `Automatically download major updates` in Settings to prevent Postman from automatically updating to a major version.

[2019-02-18 18:53] #5939 closed, assigned to nobody

[2019-02-18 19:03] numaanashraf commented on #5823
Thanks @tijaune. We are tracking this as a bug and will update here when the fix is available.

[2019-02-18 19:18] jhardin-aptos commented on #5707
Somewhat related to this:

It would be nice if requests and folders could be *interleaved*, rather than all folders appearing before all non-foldered requests. That would allow better management of a large looping test collection. Using @JohnArrowwood's original request as a basis:

* INITIALIZE LOOP VARIABLES &larr; _JS-only request_
* FOR EACH XYZ &larr; _JS-only request_
* 📁 First Request &larr

[2019-02-18 22:22] Sophos06 commented on #5565
Totally makes sense. I came to this page while having the exact same example in mind.

[2019-02-19 03:42] rcludwick commented on #2931
And a lot of people really like snap, because it updates automatically
without needing user intervention.

It's not like there only has to be one and exactly one packaging
solution...

On Fri, Feb 15, 2019 at 5:29 AM lonix1 <notifications@github.com> wrote:

[2019-02-19 04:47] gabrielmcv commented on #3682
The apps for Chrome: Postman and Interceptor worked like a charm, now, with the native, the main function was lost.

[2019-02-19 05:17] experimentalqa commented on #5885
I observed it while testing client APIs. So will not be able to provide response.

But you are right, I have observed that, **Accept-Encoding : gzip, deflate, br** in response header
So i am assuming that after unzip I can observe increased size of response and Postman shows response size before unzip.

[2019-02-19 05:45] codenirvana commented on #5885
@experimentalqa Response body consists of two parts i.e, HTTP header payload size and response body size(bytes size over the wire). You can check this breakdown on hovering over the response body text. If your receive response with `Content-Encoding`(say gzip) header, this means the response body we show is for the compressed payload.

Note: for now we rely upon the `Content-Length`(if present, el

[2019-02-19 06:23] SorbAggarwal opened #5940 "In my computer this app is not open even one time. it continuously showing a black screen."

[2019-02-19 06:47] lonix1 commented on #2931
@rcludwick The OP was for PPA, and this issue has since been hijacked to promote snap.

However, I agree. There should be PPA and snap.

[2019-02-19 07:33] shamasis commented on #5779
Hello all,

We put considerable time and effort into this and arrived at an opinion. Postman has specific challenges to URL parsing that is unlike most other url parsers:
- we need to best parse malformed URLs to allow debugging
- we also need to process variables within all parts of URL
- we do not have the complete luxury to be opinionated in our URL parser

The main challenge here is that the v

[2019-02-19 07:33] #5779 closed, assigned to codenirvana

[2019-02-19 08:26] ash007-postman opened #5941 "Monitors not running"
We seem to be having a number of issues with monitors not running today. We have a monitor which should be running on a 5-minute interval, but it's clearly not. We've also got a scheduled task to check the last run that forces it to run through the API if it did not run in the last 10 minutes, but even that seems to be having an issue getting it to run. Please check why the collection is not runni

[2019-02-19 08:39] GeorgeFlorian commented on #5905
It didn't crash with 8080.

[2019-02-19 08:47] ziishaned commented on #4142
Any news on this one?

[2019-02-19 09:00] JFRabbit opened #5942 "How to use console.log() in eval function?"
Postman for Mac
Version 6.7.1
OS X 10.14 / x64

- Pre-request Script:

`console.log("1");`
`function foo () {
    console.log("2");
}`
`foo();`
`pm.globals.set('foo', foo.toString());`

- Tests
`var e = eval;`
`e(pm.globals.get('foo'));`
`console.log(foo());`

Run and Postman Console show error : "ReferenceError | console is not defined".
So how to use console.log() in eval function.

[2019-02-19 09:06] numaanashraf commented on #5940
@SorbAggarwal Could you verify whether you are impacted by the related issue #4594 and try the workaround detailed at https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621?

[2019-02-19 10:37] muuvmuuv opened #5943 "Add option to lock request to prevent editing"
**Is your feature request related to a problem? Please describe.**

Yes. I want to prevent people/employees from editing or accidentally editing a request that should not be edited or just by people who know what they are doing.

**Describe the solution you'd like**

An option on each request to Lock it, so it is not allowed to change anything within that request but sending it. This lock feature

[2019-02-19 11:02] PFaz540 commented on #5814
+1

This is incredibly annoying...

[2019-02-19 11:33] pvgomes commented on #5704
I know that my error is not exactly the same, but only for information usually its a webserver or app response headers problem.

For example, I configure my webserver to accept CORS according to [enable-cors.org](https://enable-cors.org/server_nginx.html), everything is working fine through curl and browser but not in postman.
![screen shot 2019-02-19 at 8](https://user-images.githubusercontent.co

[2019-02-19 11:54] Ramya-From-Postman opened #5944 "Unable to delete a workspace"
Hi,

There is an issue while deleting a team workspace wherein, the delete button is grayed out. Neither am I able to leave the workspace as it is throwing an error "Something went wrong" Could you help me solve this issue?

![image](https://user-images.githubusercontent.com/40994626/53013462-e3d45800-346b-11e9-955f-7602a186ec89.png)
![image](https://user-images.githubusercontent.com/40994626/5301

[2019-02-19 12:15] gitankitsingh commented on #5916
@drkilikil thank you for reporting this bug, we tried reproducing it locally but everything seems to work. would it be possible for you to provide any additional details that might help us reproduce it locally and investigate it further.

 related to https://github.com/postmanlabs/postman-app-support/issues/5765

[2019-02-19 12:21] TTcheng opened #5945 "Send and Download Hangs on archlinux"
**Describe the bug**
I am trying to download a file using the HTTP Get and the Send and Download option on archlinux,then app blocked without any response,the only operation I can doing now is force close postman .The same thing occurs when click Download on response panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman
2. create a get http request.
3. click Sending and Downloa

[2019-02-19 14:04] kevinohara80 commented on #3117
FWIW, this is preventing our team from moving to Postman Pro and we're looking at Swagger Hub instead. We'd much rather use Postman!!!

😔

[2019-02-19 16:25] kenmaglio commented on #1475
+1

[2019-02-19 16:32] marcoboers commented on #1070
+1

[2019-02-19 16:49] hongyu-wang commented on #1667
+1

[2019-02-19 16:58] Arieg419 commented on #783
+1 would love to see this added.

[2019-02-19 17:21] dioogo commented on #4687
Same problem here.
41% (3.5GB to 4GB) of mem usage by Postman.

Seeing this post, I tried to delete all the opened tabs. After that. **the usage went down to ~15%.**

[2019-02-19 17:34] MateuszPrasal commented on #4687
I changed Postman to Insomnia - it works great and it is really light :)

[2019-02-19 18:19] YuduDu commented on #5322
Facing the same issue as well, please help to prioritize and share some updates. Thanks so much!

[2019-02-19 18:40] mrperson2015 commented on #4849
I can confirm this as well. The main monitor on the laptop seems to function as you would expect. When moved to an external monitor I see the same wonkyness that the original issue outlines.

Postman: You are up to date! Postman v6.7.3 is the latest version.
Surface Book 2
Windows 10 x64 Enterprise 1803 (OS build 17134.523)
laptop screen 3000 x 2000 touch screen @ 200% scale
(2) 1920 x 1080 monito

[2019-02-19 19:19] sujayvenaik commented on #5945
Hey @TTcheng

Could you tell us the size of the response that you are expecting from this endpoint?

[2019-02-19 19:37] twilco commented on #2676
Just wanted to +1 this.  Have accidentally run requests against environments I didn't intend.

It sounds like this issue is suggesting an implementation that warns on all requests submitted from some environment, which seems reasonable and very useful.  Another idea could be to give users the ability to also configure this on a per-request basis.  As an example of when this might be useful, maybe

[2019-02-19 20:35] jhardin-aptos opened #5946 "Feature Request: Allow folders and regular requests to be interleaved"
It would be very nice to be able to interleave folders and requests, rather than having all folders always live before all standalone requests. That would allow a complex large looping test collection to be structured like this:

* INITIALIZE LOOP VARIABLES ← _JS-only request_
* FOR EACH XYZ ← _JS-only request_
* 📁 First test sequence ← _folder of related normal requests, e.g. a POST/GET/DELETE se

[2019-02-19 20:42] rameshnatesan commented on #4186
You are right, same thing here. If I use it as environment variables {{accesskey}} and {{secretkey}}, it is not working. If I hard code the keys, it works fine.

[2019-02-19 21:11] sam-github commented on #5918
ciphers are configurable by CLI or programmatically:
- https://nodejs.org/api/cli.html#cli_tls_cipher_list_list
- `ciphers` option of https://nodejs.org/api/tls.html#tls_tls_createsecurecontext_options

What specific configurability are you looking for?

Is https://github.com/nodejs/node/pull/26209/commits/5b55c60d70238525848d6b6f18af84f87a28f0d6 what you are looking for? If so, I'll try to get so

[2019-02-19 21:18] sam-github commented on #5628
@slaman75

I may have missed your questions, can you point me to them?

@shamasis openssl 1.1.1a is on current, and on 11.x, and should come out in 10.x in the next LTS release that allows semver-minors, I believe that will be in April 2019.

As for TLS1.3 support, see https://github.com/nodejs/node/pull/26209

[2019-02-19 21:20] sam-github commented on #5628
I'm sorry, I didn't notice I'd followed a link out of the nodejs issue tracker and into postman. Please disregard above (unless there is something useful in it).

[2019-02-19 22:40] yossarian123 opened #5947 "Unable to sync environments using Postman API"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
My team currently works on their postman collections & environments stored in an Azure DevOps git repo.  The plan is to eventually migrate to a Team Workspace and have everything auto sync but for now I'm currently working on a

[2019-02-20 01:10] TTcheng commented on #5945
@sujayvenaik I tried several links that response size in KB level,It performs as the same.it seems like that it is unrelated to response size.

[2019-02-20 01:24] vdespa opened #5948 "Team workspaces: Possible data loss when joining a new team"
**Describe the bug**
When a Pro user is already part of a team with workspaces and is invited to join the new team, after joining, the old team is no longer displayed. Even after leaving the new team, the old team is not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. John has created Team A and the respective workspaces.
2. Mike has created Team B and the respective workspaces.
3

[2019-02-20 02:10] TenguTech commented on #5707
I am also interested in the addition of a 'logic only' node, or a way to skip the execution of the current API call in the pre-request script.

**My Scenario**
The use-case I have for this is to deal with the limitation of the reading in data from CSV/JSON file in the collection runner. I need to read all rows from a CSV and send them in one call.

To achieve this I have one node that concatenates

[2019-02-20 03:31] TenguTech commented on #285
+1

[2019-02-20 05:39] rickli1989 commented on #1667
+1

[2019-02-20 06:48] codenirvana commented on #3300
Closing this since tv4 is deprecated in favor of Ajv.
Refer to the above example for debugging schema errors in Ajv.

[2019-02-20 06:48] #3300 closed, assigned to codenirvana, kunagpal

[2019-02-20 07:08] hmlinaric opened #5949 "Response pretty print xml escape characters"
**Describe the bug**
A response Body view in Pretty print XML is showing &quote; special characters
For example:
<?xml version="1.0" encoding="UTF-8" ?>
<response>
    <errorMessage>Login Check data::{
  & quot;username& quot;: [
    & quot;required field& quot;
  ],
  & quot;username1& quot;: [
    & quot;unknown field& quot;
  ]
}
</errorMessage>
</response>

**To Reproduce**
Steps to reproduce

[2019-02-20 09:08] Jacquesduplessis opened #5950 "connect ETIMEDOUT"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.
Error: connect ETIMEDOUT intermittently when requesting a 0Auth 2.0 token

**Expected behavior**
Postman giving intermittent responses when requesting access token.
We are for

[2019-02-20 09:25] asiahermes opened #5951 "4356"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to

[2019-02-20 10:07] ed-rod commented on #2086
@shamasis
I agree with @chimit . Having custom ordering on tabs is not necessary to have this feature. All you need is an internal value for the last used tab that is updated every time the user changes the tab. All newly opened requests then show the last used tab by default. This wouldn't require any settings in configuration pages.

[2019-02-20 10:27] benoitrolland commented on #5916
load an ssl url in chrome working with a certificate of your own or of your own company ,
extract it in a file (right click on lock/Certificate/Details/copyInFile)
and load it in postman specifying the correct url.
Configure a Get request on the url using postman.
Whether or not postman is configured to check ssl certificates,
postman disapear as soon as you click on "Send"

[2019-02-20 11:12] gitankitsingh commented on #5916
@benoitrolland by doing that you are essentially using the server's SSL certificate to send the request to the server, the behavior is still unexpected as the app shouldn't crash but you are expected to provide client certificates in postman app for any server which require SSL client authentication.

[2019-02-20 12:52] alexandrelorencini commented on #5814
+1

[2019-02-20 13:55] viko42 commented on #5263
Also looking for that!

[2019-02-20 14:03] agoloahmedelsayed commented on #5322
Facing the same issue here. Please prioritize. We can not trust any automated periodic workflows now because of this bug, and eventually we will be compelled to find an alternative.

[2019-02-20 14:11] vpavlushkov commented on #5322
@godfrzero Could you please shed some light why is that so difficult to fix this issue and what in your fix could possibly cause performance degradation that you mention above? I would rather expect a simple script to be added to a VM image / Docker container that would manipulate with `crontab` and I honestly fail to see why fixing it takes that long. 😞

[2019-02-20 14:19] lucasmathioni commented on #5814
+1

[2019-02-20 14:19] dcbasso commented on #5814
+1

[2019-02-20 14:28] franciones commented on #5814
+1

[2019-02-20 14:40] dpeliser commented on #5814
+1

[2019-02-20 14:45] Brunaldo commented on #1678
Any update on this guys? It would be nice to have a visual representation so I don't have to check in the 'Tests' tab so see counts...

[2019-02-20 15:11] inigo333 commented on #4009
still nothing?

[2019-02-20 15:27] VicKetchup opened #5952 "No longer receiving daily/weekly monitor summary emails"
**Describe the bug**
Since 11th of Feb our team is no longer receiving daily/weekly monitor summary emails. All the notifications are enabled for each user.

**Expected behavior**
Daily/Weekly summary emails should be send when the monitors are run during that period.

**Screenshots**
<img width="344" alt="postman summary emails" src="https://user-images.githubusercontent.com/43671684/53102390-6ec

[2019-02-20 16:00] aronmgv commented on #1678
@Brunaldo dont expect anything.. bunch of kids just making excuses. Actually one of the worst community support in my experience :/

[2019-02-20 16:11] labifrancis opened #5953 "SEO meta description for documentation links"
**Is your feature request related to a problem? Please describe.**
Users want to edit the meta description for documentation links to render a specific preview.

**Describe the solution you'd like**
Custom fields to add meta description on documentation links

**Additional context**
SEO meta description for links is automatically generated and it will be nice to have control over this description.

[2019-02-20 16:34] jackw3434 commented on #2315
This is exactly the sort of thing i am looking for.
Have you found any alternative options for this?

[2019-02-20 16:39] adsm1987 commented on #3919
I totally agree, I'm used to IDE and I miss this feature.

Thanks

[2019-02-20 17:24] matias-favale commented on #2369
Same here. OS X High Sierra 10.13.6 and postman 6.7.2, but it was working before, not sure which version broke it.

[2019-02-20 17:27] numaanashraf commented on #5877
Thanks for the info @natiki. We are tracking this at a related issue #4751.

[2019-02-20 17:27] numaanashraf commented on #5877
Duplicate of #4751

[2019-02-20 17:27] #5877 closed, assigned to nobody

[2019-02-20 17:53] AJRDRGZ commented on #5263
Also looking for that!

[2019-02-20 17:55] jeffhall-wk commented on #1663
@alekseyl-aurea I removed Send no cache and postman token headers from app settings and now it seems to work. I'm not sure why, though. This worked *with* them 10 hours ago hahah. Also, I think its worth mentioning that I wasn't having this problem when I just hit the "Send" button in Postman, only when I generated the curl and ran it from command line.

Anyway, Thanks!

[2019-02-20 18:10] rameshnatesan commented on #4186
this looks like a very critical/high priority/severity # 1 bug. please look into it :)

[2019-02-20 20:02] kjozsa commented on #4186
this is a BLOCKER issue which is at least a year old, open, and forces commercial users like us to stay with historical versions like 5.5.3, which is stuffed with annoying notifications that we should update to the latest version which freakin' does not work.

The whole story is a really bad joke, if you ask me.

[2019-02-20 20:07] AzaraPostman commented on #5947
it's interesting because when adding the git integrations for each collection there really is no option to synchronize environments with GIT

[2019-02-20 20:08] hiqqs commented on #5947
+1 also interesting because when adding the git integrations for each collection there really is no option to synchronize environments with GIT

[2019-02-20 21:51] hznut opened #5954 "Mac installer v6.7.3 doesn't install on macOS Sierra 10.12.6"
The installation of Mac installer v6.7.3 on macOS Sierra 10.12.6 fails.

[2019-02-20 22:33] scgough opened #5955 "Native Windows app doesn’t run on Win8.1 (VMWare)"
I upgraded from using the Chrome extension version of the app to the native client for windows.
Upon installing and opening the app for the first time I am greeted with a loading splash screen for a few moments then a black window with nothing inside.
I am running Windows 8.1 on VMWare Fusion.
I’ve tried installing both the 32 and 64-bit versions of the app

[2019-02-21 00:01] Sophos06 commented on #1757
`if (tests["Important check"] = check.testExists(data) === false){return;}`

You will get a small flag on the left complaining about "assignment in conditional expression", but you will have in 1 line:
1. The test flag in the Test results panel.
2. The early stop of your Test script.

[2019-02-21 00:10] okonomiyaki3000 commented on #2369
@mafavale You may be confusing the Chrome app with the standalone version. The Chrome app always worked, the standalone (probably) never did.

[2019-02-21 03:16] kasimdoctor commented on #5905
Crashes for me too when trying to capture requests.

OS: MacOS 10.14.2
Postman: 6.7.3

[2019-02-21 04:16] qb-adharshs opened #5956 "Add helper function to get variable-resolved request in pre-request script"
When I'm sending a request with variables specified in either Params or Body tabs, it fails to get the response from the staging server that I'm testing, though it works in my local server.

I did a little research and saw that the request body used in the pre-request section (`pm.request.body`) doesn't resolve the variables used in the Body and Params tabs, hence resulting in an MD5 validation er

[2019-02-21 05:44] codenirvana commented on #3780
@bcatalin We are not able to reproduce this issue. Can you share more info like request body type, method etc? If possible share a sample express server where you are facing this issue.

[2019-02-21 05:51] Ghusar commented on #5814
Hey guys, we just deployed a fix for this issue, can you verify if it's working as expected?

[2019-02-21 05:52] pupboss opened #5957 "Variable in header is empty"
**Describe the bug**

Variable in header is empty

**To Reproduce**

1. Set a variable in a collection
2. Use it in request header, send request
3. Open console
4. See error

<img width="446" alt="screenshot_20190221134701" src="https://user-images.githubusercontent.com/8395112/53146632-ea83dc00-35df-11e9-9ad5-84772028a160.png">

**App information (please complete the following information):**
 -

[2019-02-21 06:00] codenirvana commented on #5370
@xsedlak Probably related to #5682.
Can you check if this issue persists in the latest version of the Postman app?

[2019-02-21 06:03] pupboss commented on #5957
Use environment variables instead.

[2019-02-21 06:03] #5957 closed, assigned to nobody

[2019-02-21 06:09] codenirvana commented on #5912
@trajano Are you facing this issue on sending the request or just in the generated code?

I tried to reproduce this locally using an echo server and its working fine for me.
<img width="768" alt="screenshot 2019-02-21 at 11 36 38 am" src="https://user-images.githubusercontent.com/4865836/53147285-19dd1d80-35cd-11e9-91da-121f08661452.png">

[2019-02-21 06:16] trajano commented on #5912
The content disposition is still in an improper format because it is sending UTF-8 in the header.   As noted I was expecting the following to come out

[code]
As that is what is noted in the RFC6266 https://tools.ietf.org/html/rfc6266#section-4.1

[2019-02-21 06:20] trajano commented on #5912
My workaround for now for RestEasy was to fork MIME4J and make it assume the header contains UTF-8 text.  Jersey has the same issue the work around is more or less the same.  https://github.com/trajano/james-mime4j/pull/1/files

RESTEASY correctly assumes US-ASCII
Jersey on the other hand incorrectly assumes Latin-1

I don't think you can easily change it as Chrome itself does the UTF8 header.

[2019-02-21 07:47] XaWin commented on #5386
Hi all,
You can close this issue. As a follow-up, the final decision was to move to openAPI, which offer more flexibility.

[2019-02-21 07:47] #5386 closed, assigned to vkaegis, sankalp0o

[2019-02-21 07:47] XaWin commented on #5387
I close this issue. As a follow-up, the final decision was to move to openAPI, which offer more flexibility.

[2019-02-21 07:47] #5387 closed, assigned to nobody

[2019-02-21 07:54] MattStrybis commented on #2847
+1

[2019-02-21 09:11] alvarosinmarca commented on #1066
+1

[2019-02-21 09:31] itmajing commented on #5955
I met the same problem on the  physical machine

[2019-02-21 09:35] VicKetchup opened #5958 "Clearing and unsetting values deletes it for everyone"
**Is your feature request related to a problem? Please describe.**
We use globals to validate responses from different endpoints (one of our endpoints uses info from 5 other endpoints to validate the response), this means that we have checks to ensure that globals have been set (pm.globals.has("example")) that will inform the user of any other endpoints they need to run for proper validation.
When

[2019-02-21 11:50] rickkln commented on #3697
The latest here: https://github.com/electron/electron/issues/3226 seems to suggest that Electron supports this since version 4. Does that mean support will come to Postman?

[2019-02-21 11:56] codenirvana commented on #4074
@bhadkeYD This looks like an issue with the requesting server.
The server is responsible to respect the range provided by the client and send the partial response.

Example: You can test a range request on `http://i.imgur.com/z4d4kWk.jpg`
![screenshot 2019-02-21 at 5 14 54 pm](https://user-images.githubusercontent.com/4865836/53166925-90ddda80-35fc-11e9-92c4-5fe853178943.png)

Closing this issue,

[2019-02-21 11:56] #4074 closed, assigned to numaanashraf, codenirvana

[2019-02-21 12:13] adrianovcar commented on #3117
+1

[2019-02-21 12:25] VaidotasSm opened #5959 "Can no longer save changes"
**Describe the bug**
After update to version 6.7.3, I can no longer save changes to the requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Request from collection
2. Make changes
3. "Save" is disabled.
4. Try to use "Save as" - I don't see any of my collections, nor I can create new collection. Saving doesn't seem to be possible.

**Expected behavior**
Should be able to "Save"/

[2019-02-21 12:35] GrzegorzPi commented on #3300
Postman v6.7.3

I have tiny validator inside snippets scripts using tv4. If it is now deprecated should be rewitten with Ajv.

[2019-02-21 12:52] drkilikil commented on #5916
@ankitsiam
Thanks for your comment that was helpful. After a more thorough investigation, here is the result of my tests:
- No issue when proxy config is off. The Postman console shows:

Client Certificate:
keyPath:"C:\test2.key"
pemPath:"C:\test1.cer"

- Postman crashes when sending a request through a proxy server.

[2019-02-21 13:09] yansern commented on #2369
I got around this issue by setting up a local proxy and configure postman to use that local proxy that honors hosts file.

[2019-02-21 13:37] robisaks opened #5960 "Generate Code Snippets for Dart"
It would be awesome if "Generate Code Snippets" could provide an option for generating Dart code.

[2019-02-21 15:47] proshin-roman commented on #5819
Version 6.7.1 works perfectly But! As soon as I start 6.7.1 on my Mac, it downloads an update (6.7.3) and installs it - a vicious cycle. Could anybody fix that issue? Can I somehow disable update at all?

[2019-02-21 16:06] BernardMarieOnzo commented on #2126
using sails.js, check if in your file 'config/security' if your 'csrf' is false

[2019-02-21 17:05] WilliamCesarSantos commented on #5814
+1

[2019-02-21 17:05] rameshnatesan commented on #4186
will this happen even when running the test using newman tool? I need to tried that way.

[2019-02-21 17:23] greg-petersen commented on #2096
+1 for this feature, would greatly speed up development workflow if we could bind our own shortcuts!

[2019-02-21 18:10] numaanashraf commented on #5943
@muuvmuuv This is currently possible with team workspaces and permissions. Please refer the documentation for more details - https://learning.getpostman.com/docs/postman/collections/sharing_collections/#modifying-team-permissions

[2019-02-21 18:10] #5943 closed, assigned to nobody

[2019-02-21 18:12] #5951 closed

[2019-02-21 18:17] numaanashraf commented on #5954
@hznut Please provide screenshots or logs so that we can triage this further. You can find logs at '~/Library/Application Support/Postman/logs`

[2019-02-21 18:20] numaanashraf commented on #5958
@VicKetchup Could you give us a sample collection to replicate this case at our end and help better understand your scenario?

[2019-02-21 18:21] numaanashraf commented on #5959
@VaidotasSm Is this collection shared in a team workspace? Could you verify whether you have edit access to the collection you are saving to?

[2019-02-21 18:24] numaanashraf commented on #5911
We are closing this due to inactivity. Please re-open the issue with the information requested.

[2019-02-21 18:24] #5911 closed, assigned to nobody

[2019-02-21 18:30] jhardin-aptos opened #5961 "xml2Json() trim()s XML contents, potentially leading to test failures from spurious mismatches"
We're developing a query-driven test environment that feeds expected data into the requests and validation tests via a block of XML data saved in an environment file.

We've just run across an apparent issue in `xml2Json()` where it apparently does a `trim()` of the individual XML data elements before saving them in the JSON structure. This came to light when testing against a freeform user-entere

[2019-02-21 18:30] numaanashraf commented on #5956
@qb-adharshs This is as per design, variables are resolved only after pre-request has finished running, as you can alter the variable values in the pre-request script. We'll consider this a feature request to expose a helper function to perform resolution within the script if needed.

[2019-02-21 18:33] numaanashraf commented on #5861
We are closing this due to inactivity. Please re-open the issue with the information requested.

[2019-02-21 18:33] #5861 closed, assigned to nobody

[2019-02-21 18:35] numaanashraf commented on #5894
Thanks @thehill383. We'll discuss internally and update here if we have plans to remove that logo variant in the icon.

[2019-02-21 18:37] numaanashraf commented on #5794
Closing this as this seems to have been caused by an service incident and is resolved now.

[2019-02-21 18:37] #5794 closed, assigned to nobody

[2019-02-21 18:47] joeminicucci commented on #5889
@numaanashraf Thanks for the response. I will get that over early next week.

[2019-02-21 20:28] kjozsa commented on #4186
I hope you excuse my ignorance but I think that someone is paid for testing this app, and I'm sure it's not me. In fact, we are even paying for this app to support its testing!

[2019-02-21 21:03] codenirvana commented on #5961
@jhardin-aptos `xml2Json` is just a [wrapper](https://github.com/postmanlabs/postman-sandbox/blob/4257a2674f09f1fdf6301d87212c841364ded389/lib/sandbox/xml2Json.js) around `xml2js`.

You can configure this by creating your own parser. An example of `xml2Json` with `trim: false`:
[code]

Hope this fixes your issue, here's xml2js usage documentation: https://github.com/Leonidas-from-XIV/node-xml2js#u

[2019-02-21 22:08] themarquee commented on #5558
Same issue on Lubuntu (Linux 4.15.0-45-generic (x86_64)) and Postman 6.7.1

[2019-02-21 22:46] carlnoval commented on #3358
+1

[2019-02-21 23:25] NateCrabb commented on #1475
+1

[2019-02-22 05:05] SorbAggarwal commented on #5940
yeah it's the same situation I'm dealing with

On Tue, Feb 19, 2019 at 2:36 PM Numaan Ashraf <notifications@github.com>
wrote:

[2019-02-22 06:22] numaanashraf commented on #5940
@SorbAggarwal Did the workaround work for you?

[2019-02-22 07:34] SorbAggarwal commented on #5940
what are they?

On Fri, Feb 22, 2019 at 11:52 AM Numaan Ashraf <notifications@github.com>
wrote:

[2019-02-22 07:41] SorbAggarwal commented on #5940
Okay,
it starts working now when I follow the instruction given by you.

Thanks, man for your support.

On Fri, Feb 22, 2019 at 1:03 PM Saurabh Aggarwal <
agrawalsaurabh427@gmail.com> wrote:

[2019-02-22 07:49] chucklu commented on #5809
Encounter the same problem
[code]

[2019-02-22 07:55] strawberry-code commented on #3822
+1

[2019-02-22 09:04] PFaz540 commented on #5814
@Ghusar Which version is the fix on? Or is this in Postman Canary?

[2019-02-22 09:09] awalland commented on #1535
+1

[2019-02-22 09:28] MoghunterRoot commented on #1809
same problems +1

[2019-02-22 09:52] ognjenmarcheta opened #5962 "Import curl request via embed button"
Hello to everyone,

Is it possible to create postman embed button to import curl as raw text using embedded button. Like we do for collections but instead of collection url we just pass curl text?

I'm creating tool for web developers and it would be awesome if i could just open postman from web browser and pass him curl so he can import it automatically

postman://app/collections/import/CURL/....

[2019-02-22 11:25] grnito commented on #5861
Hi Numaanashart, video of the issue attached.

[2019-02-22 11:26] grnito commented on #5861
[2019-02-22_11h25_18.zip](https://github.com/postmanlabs/postman-app-support/files/2893682/2019-02-22_11h25_18.zip)

[2019-02-22 11:26] grnito commented on #5861
![2019-02-22_11h26_46](https://user-images.githubusercontent.com/18625081/53239764-bf0ef900-3694-11e9-92ff-352a99a557a5.jpg)

[2019-02-22 11:33] Ramya-From-Postman opened #5963 "Request to add OpsGenie integration with postman"
It would be great to have an integration available for OpsGenie to trigger monitoring failure notification.

[2019-02-22 11:48] bhargavkaranam commented on #5944
@Ramya-From-Postman This seems to be the default team workspace. Default team workspace cannot be deleted. Can you confirm once?

[2019-02-22 12:05] iamsuneeth commented on #5819
Is it possible to get the update server URL, so it can be disabled from the proxy server to prevent auto updates ??

[2019-02-22 12:16] bhadkeYD commented on #4074
I did checked at that time, issue was not with server but the way content-length is returned incorrectly.
I have verified with new postman build that content-length is returning properly somehow I think this may been fixed with other code push

[2019-02-22 14:14] hiqqs opened #5964 "Git integration request to commit but not push right away"
Basically when using the GIT integration on a tracked collection every little thing you save instantly synch's (commits & push) to source control.  This can make for a mess of commits

It would be really nice if every save could just do commits and then give you the option of when to push along with your own comment so you don't have a bunch of commits in the branch for every little thing

[2019-02-22 14:43] numaanashraf commented on #5852
Thanks for letting us know @ryanshores. We are closing this issue.

[2019-02-22 14:43] #5852 closed, assigned to Ghusar

[2019-02-22 16:56] lkmill opened #5965 "App crashes when during OAuth2 request using swedish electronic identification"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
We are working against an API that requires an access token received from an OAuth2 login. The OAuth2 end point authenticates users using the Swedish electronic identification app BankID. There are two types of BankID authentica

[2019-02-22 17:56] willysvarela commented on #1060
Thanks =). Saved my time

[2019-02-22 18:43] gitankitsingh commented on #5916
@drkilikil thank you for your reply, I was able to reproduce the issue with proxy settings on. we are looking into it and fix or any other update will be shared here.

[2019-02-22 19:34] jzabroski commented on #4751
As I've posted previously and now been waiting for over 2 months for a fix or some direction on this-

Here is a quick C# repro for ASP.NET MVC Core, which demonstrates the performance issue *trivially* - if you cannot figure out what the problem is given this simple example, then I think I need to look for a different tool:

[code]

[2019-02-22 19:47] AarchaKulkarni commented on #2050
Hi I am new to Postman and so am I for this forum also.
Can someone tell me how can I automate the running of the post request collectively in the runner. I have something in the header and I am using bearer token and I am using the token generated from this website https://jwt.io/
I believe it oauth

[2019-02-22 20:02] AarchaKulkarni commented on #2050
So basically Authorization is  Bearer <TOKEN> | Token needs payload {user:   <userID>} and signed with shared secret. Token expires every 5 minutes

[2019-02-22 21:03] djlazz3 opened #5966 "The ability to reset environment variables from the modal"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
It would be nice to be able to be able to reset the environment from this screen
<img width="622" alt="screen shot 2019-02-22 at 3 59 21 pm" src="https://user-images.githubuserconten

[2019-02-22 21:35] gnajerap opened #5967 "Postman Freezes"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman App for windows Freezes i can´t do anything.

**To Reproduce**
I am using v 6.7.3

**Expected behavior**
When I am trying to use it, it always freezes and is imposible to work.

**Screenshots**
If applicable, add screens

[2019-02-22 22:55] 397v1exuI0bT opened #5968 "Unable to install Postman on Windows: System.IndexOutOfRangeException error"

[2019-02-22 23:17] PBSJ commented on #212
+1

[2019-02-22 23:26] jamie-lloyd commented on #5741
I believe we're having the same issue. Just got the postman enterprise setup for my team and am unable to sync postman collections with a custom domain. All configuration seems normal, and am able to select the collection / repo as described here. No visible errors with the configuration. Once the integration is added the collection is not synced. Making changes to the collection also does not get

[2019-02-22 23:39] 397v1exuI0bT commented on #5968
2019-02-22 16:04:32> Program: Starting Squirrel Updater: --install .
2019-02-22 16:04:32> Program: Starting install, writing to C:\Users\AppData\Local\SquirrelTemp
2019-02-22 16:04:32> Program: About to install to: C:\Users\Postman
2019-02-22 16:04:32> Program: Install path C:\Users\Postman already exists, burning it to the ground
2019-02-22 16:04:32> Unhandled exception: System.AggregateException

[2019-02-23 05:04] joeminicucci commented on #5889
@numaanashraf I made 4 GET requests after starting with a clean log, and got the following results:
[code]

The web app is up and running, and as stated before over a self-signed SSL cert. Other sites seem to be working. I tried clones of the same app on several external AWS instances and received the same response. Any ideas?

[2019-02-23 05:28] moh-hassan opened #5969 "Generate code for OAuth2 requests"
For any request I can get c# code of the request by clicking the button "code"
It's nice if we can get the c#  code of the result "Get New Access Token" or as curl command.

[2019-02-23 13:37] arashberlin commented on #5819
Yeah the idea with the blocking is good.
Need to sniff the network traffic.

I always need to install the 6.7.1 to use the tool to get accessToken. Really fun 😂😂😂

[2019-02-23 14:57] numaanashraf commented on #5819
UPDATE: This issue is addressed in our upcoming version (Postman v6.7.4) that would be available in the coming week.

[2019-02-23 16:32] VaidotasSm commented on #5959
@numaanashraf collection is my personal one, no other accounts linked to it.

[2019-02-23 18:08] tobinbc commented on #5905
I am also crashing after 'connect' to history at proxy start.

Postman for Linux
Version 6.7.3
linux 4.15.0-45-generic / x64

Here is log. Consistently crashed whatever the address I choose.
[postmancrash.txt](https://github.com/postmanlabs/postman-app-support/files/2897090/postmancrash.txt)

[2019-02-23 23:01] adropofilm commented on #5546
solved issue using schema validation

[2019-02-23 23:01] #5546 closed, assigned to nobody

[2019-02-24 07:27] shamasis commented on #2494
Hello there, we have started working towards adding this. However, to unblock anyone who is blocked on this, it is quite easy to generate key and cert from pfx bundle.
https://medium.com/@jkewley/testing-client-certificate-authentication-to-azure-api-management-with-postman-e1cfae52fc35

[2019-02-24 13:29] nm88 opened #5970 "Current Value not set for Variable after entering Initial Value"
**Description**
When creating a variable, if only the Variable name is entered but not an initial value, when I come back later to add the initial value, the Current Value is not automatically populated after clicking Update.
This causes the request to fail as it seems the Current Value is required. If however, I enter the initial value during the creation of the Variable (i.e. immediately after e

[2019-02-24 13:51] musabgultekin commented on #5080
It happens because of zoom error. To reproduce, double finger click on touchpad (It zooms in). It happens to me so many times. How to solve ?

[2019-02-24 15:19] numaanashraf commented on #5970
@nm88 This is intentional. Current values can be empty even when initial values are present and auto populating current value with initial value automatically while updating initial values can lead to unclear and confusing behavior in a collaborate workflow.

However, we copy initial value to current value while creating a new variable from the UI, to aid new users of this feature and help with co

[2019-02-24 15:23] nm88 commented on #5970
Ok, fair point.

[2019-02-24 15:23] #5970 closed, assigned to nobody

[2019-02-24 15:25] numaanashraf commented on #5968
@mayankag02 Thanks for reporting this. This seems to be caused by an underlying installation/updation framework we are using. We'll update here when we have a fix from upstream.

Platform: win64
App version: 6.7.3

Related issues on Squirrel:
https://github.com/Squirrel/Squirrel.Windows/issues/731
https://github.com/Squirrel/Squirrel.Windows/issues/1438

[2019-02-24 15:26] numaanashraf commented on #5967
@gnajerap Does this happen when you are trying to perform any specific actions?

[2019-02-24 15:34] numaanashraf commented on #5962
@ognjenmarcheta Thanks for the suggestion. This is a great feature request. We'll update here when we take this up.

[2019-02-24 15:37] numaanashraf commented on #5959
@VaidotasSm thanks for the clarification. do you remember which version you were on earlier?

[2019-02-24 15:37] rvf148 commented on #1475
+1 This feature is long overdue, please put it on the roadmap!

[2019-02-24 15:49] numaanashraf commented on #5940
@SorbAggarwal Glad to hear that. I'm closing this as a duplicate of the related issue.

Duplicate of #4594

[2019-02-24 15:49] #5940 closed, assigned to nobody

[2019-02-24 15:57] numaanashraf commented on #5955
@scgough @itmajing Could you verify whether you are impacted by the related issue #4594 and try the workaround detailed at [#4594 (comment)](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621)?

[2019-02-24 17:31] imclint21 opened #5971 "Add custom authorization"
Hi,

I think you need to add a custom type for authorization by example discord use a custom token and it's not possible to put it in authorization I need to add an Header

Thanks

[2019-02-24 19:30] felickz commented on #3434
On windows... Make sure the CRT is in PEM(ASCII) format and not binary.   Further, make sure if you generate the file on a linux machine that you convert to Windows line endings.

[2019-02-24 22:30] senseiweb commented on #3789
Hey guys...checking the pulse on this particular issue...now that the Chrome version is showing as deprecated, is there any current workarounds or implementations to allow the use of Smart Card authentication.

[2019-02-25 03:12] codenirvana commented on #2369
Hello everyone,

I tried to reproduce this in all the three platforms (phew… that was tedious) and seems like `/etc/hosts` is working fine for every platform. I added a local server to run on port 3000 and added `www.google.com` to the hosts file to replace `www.google.com` with localhost!

I took screenshots for each platform and have appended to this thread.

Understandably, there is something g

[2019-02-25 03:36] codenirvana commented on #3789
@pvdev @senseiweb We have started working towards adding support for PFX certificate, for updates follow this thread #2494

[2019-02-25 05:20] SamvelRaja opened #5972 "Cancel and take me to signed in account in login window crashes the app sometimes"
**App version:**  6.7.3
**OS**: MacOS/Windows/(not tested in Linux)

1. Open the app as a signed-out user
2. Click sign-in
3. Sign-in as one user say U1
4. Click add account
5. Now click `Cancel and take me to signed in account` button.

This will crash the app 2/5 times I tried.

[2019-02-25 05:24] sujayvenaik commented on #5945
@TTcheng Can you help us with a public endpoint where you faced this?
I cannot reproduce this from my end.

[2019-02-25 07:04] Ahmed-Badawy commented on #971
How come, four years & this feature isn't implemented yet.
it's needed & it will be very useful.

[2019-02-25 07:21] numaanashraf commented on #5957
@pupboss Postman uses current values to resolve the variable. Please add a current value for this variable.

[2019-02-25 07:24] pupboss commented on #5957
@numaanashraf Actually I have tried to set a current value...It still did not work, now I refactored the structure of my project to use environment variables, it works fine, thanks sir

[2019-02-25 07:29] numaanashraf commented on #5944
Closing this as this is the default team workspace that was renamed. Deleting team workspaces is not supported in Postman 6.x.

[2019-02-25 07:29] #5944 closed, assigned to nobody

[2019-02-25 07:32] numaanashraf commented on #5929
We are closing this due to inactivity. Please provide the information requested and re-open this issue.

[2019-02-25 07:32] #5929 closed, assigned to nobody

[2019-02-25 07:33] numaanashraf commented on #5861
Thanks for the screen recording @grnito. This seems to be related to #5823 and we are tracking the root issue there.

[2019-02-25 07:33] numaanashraf commented on #5861
Duplicate of #5823

[2019-02-25 07:47] ronenneumark opened #5973 "Multi HTTP Get aggregated into single environment array"
there is no way to create an environment array which contains an answer from different http get response API call. there is also no way to call multiple get in one call

[2019-02-25 09:08] PETROVL1 commented on #1667
+1

[2019-02-25 09:22] codenirvana commented on #4842
One thing to note here is that during pre-request script, it is not yet fully known what exactly the URL of the request is going to be. Based on that there are issues in regards to attaching cookies to requests.

- Cookies, when attached to a request, is closer to the request domain and path. As such, during pre-request script, it is not possible to filter the relevant cookies and colocate them wi

[2019-02-25 09:52] Sofianio commented on #2993
Why is it limited to only 3 active sessions now?

[2019-02-25 10:17] wklenk commented on #5916
For me, the reason for postman crash was that the certificates in cert file were in the wrong order. The certificate chain had 3 certificates, and the Root CA certificate was the first one in the file, followed be the intermediate CA certificate, followed by the actual client certificate.
After I manually reversed the order (beginning with client certificate) by some cutting and pasting in the cer

[2019-02-25 10:36] codenirvana commented on #5942
@JFRabbit Scripts in Postman are executed within Node VM module and that is sandboxed to not have the `console`.  So, required libraries and `eval` don't have direct access to the console.
But, you can still pass the reference of the external `console` as an argument to your eval function to make this work.

Example:
[code]

[2019-02-25 10:36] #5942 closed, assigned to codenirvana

[2019-02-25 10:47] codenirvana commented on #5971
@clintnetwork We have started working towards adding support for a similar authorization method where you can specify the header/query key name and its value.

[2019-02-25 11:15] roma-guru opened #5974 "Unicode in get params causes missed redirect"
**The problem**
If server returns redirect (any 30x code), for example redirecting to "canonical" url with the same params (as it is in Django & Flask), then Postman behaviour depends on parameters data:
if it contains only ascii, redirect is followed correctly, otherwise no more requests are made and we "Could not get any response". Curl or any other http client doesn't show this behaviour.

**St

[2019-02-25 11:40] Ramya-From-Postman opened #5975 "Request to support ThinApp."
Upon installing the postman app as a ThinApp, it worked fine for few days then later when we are launching the application the application launched and goes to a black screen within seconds and showing below error, When clicked on ok the application was closing.

**Error**: **"The instruction at 0x000000000 referenced memory at 0x00000000. The memory could not be written".**

![image](https://user

[2019-02-25 11:43] codenirvana commented on #5974
@roma-guru This is happening because the redirect is made with an addition of [Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer) header which holds the URL of the original request and since the query param has Unicode characters it fails because headers can't have Unicode characters.

We are adding support to disable this behavior using an option, for updates follow this

[2019-02-25 11:58] roma-guru commented on #5974
Thanks for explaining, it sounds sane.
Can't Referer Url be urlencoded to prevent this from happening?
It seems like other clients are coping with this situation..

[2019-02-25 12:21] LimmaPaulus commented on #2096
I would also want to at least disable shortcuts. Currently I cannot type comma with my custom keyboard layout, which is quite painful when typing JSON.

[2019-02-25 12:21] codenirvana commented on #5974
@roma-guru You are right, encoding the URL will fix this issue.
But, Postman is a debugging tool and we avoid doing all those auto fixes which other clients are doing. We provide options to disable those behaviors if it's blocking your use case.

We definitely lack the reason why this request failed since not everyone is aware of this fact.
Thanks for reporting this we are working on improving the

[2019-02-25 12:26] numaanashraf commented on #5938
@ajayreddy222 Thinapp versions are not officially supported yet. We are tracking a feature request for the same at #5975.

[2019-02-25 12:26] #5938 closed, assigned to nobody

[2019-02-25 13:00] normdoow commented on #4401
I'm having this issue on Mac running Mojave. Im on the newest Postman 6.7.3. had the issue of not syncing after I moved to a new computer and tried to get all my old collections/requests from my account. It actually shows the name of each request inside the collection. But when clicking on the request all the params and url is blank. When I click the sync button, it just flashes blue for a second.

[2019-02-25 13:06] GarryLowther commented on #3331
I can create a POST which sends a file I pick into my API if I run it as a "Send", but when I run this as part of other steps in the collection runner, it does not find the file and it errors. What am I missing?

[2019-02-25 13:10] GarryLowther commented on #3331
Oh, just found this: https://community.getpostman.com/t/collection-runner-with-file-uploads/1234
Perhaps uploading files using the Postman collection runner is still not possible?

[2019-02-25 14:00] deadmann opened #5976 "Improve Description in several places"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

 - I work with multiple API services, but we also have client that take a same service,

[2019-02-25 14:01] deadmann opened #5977 "Improve Metadata (description & variables)"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
 - accessing variable is frustrating... there are several type and spread all the places, and they are unders rocks, no fast access

  - variable are not provided with description

[2019-02-25 14:02] deadmann commented on #5977
sorry, github crashed and my description didn't came back,... i'll edit right away

[2019-02-25 14:19] gnajerap commented on #5967
In any action. No matter I am trying to do Postman App freezes. I can´t use
it.

El dom., 24 feb. 2019 a las 9:26, Numaan Ashraf (<notifications@github.com>)
escribió:

[2019-02-25 14:24] deadmann opened #5978 "Activate simple javascript scripting"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.
there are many time i receive a very complex nested model that are beyond just a simple regex, i wished i could receive the result in text, and manipulate the data with simple scripting language such as javascript or typescript, even something like l

[2019-02-25 15:01] mariah123 opened #5979 ""Could not get any response" on every request"
I have just installed Postman and getting "Couldn't get any response" on testing any Api …. I have followed all tutorials and guidelines but em unable to resolve it. I have no proxy setting in my system.

## App Details:
Postman for Windows
Version 6.7.3
win32 10.0.17134 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: always
 2. Expected behaviour: g

[2019-02-25 16:46] imclint21 commented on #5971
ha yes okay

[2019-02-25 17:06] btobiczyk122 opened #5980 "Gray/blank screen after some seconds"
**Describe the bug**
Open postman and regardless of doing anything or nothing, crashes within 15-20 seconds and screen goes black. Can still access tool bar but main window itself is all black.

**To Reproduce**
Steps to reproduce the behavior:
1. open postman
2. .....wait 15-20 seconds
3. Screen goes black

**Expected behavior**
Should not be crashing

**App information (please complete the follo

[2019-02-25 17:37] msbhalerao opened #5981 "CircularJSON is in maintenance only, flatted is its successor. Error while installing Newman"
I was trying to install the Newman for generating postman results reports.
I tried with cmd ` npm install -g newman ` and it has given me error as
`npm WARN deprecated circular-json@0.5.5: CircularJSON is in maintenance only, flatted is its successor.`
`C:\Users\mbhalerao\AppData\Roaming\npm\newman ->`
`C:\Users\mbhalerao\AppData\Roaming\npm\node_modules\newman\bin\newman.js`
`+ newman@4.4.0`

I a

[2019-02-25 17:58] kunagpal commented on #5981
Duplicate of https://github.com/postmanlabs/newman/issues/1908

[2019-02-25 17:58] #5981 closed, assigned to nobody

[2019-02-25 18:14] indrajeetgour commented on #5491
On the free version, we only have just one share for any workspace.

[2019-02-25 19:30] DhonatanWesley opened #5982 "Invalid oauth1.0 Signature"
I'm trying to make a request to get the token of an API that uses OAuth1.0 validation, but when I make the request I get the invalid signature return. I am passing all the necessary parameters for the generation of the signature.

OS Information:
Windows 10 - 64bit

Postman v6.7.3

[2019-02-25 19:33] rameshnatesan commented on #4186
I tried using environment variable names {{key1}} and {{key2}} for access key and secret key. It worked!!!

![aws4](https://user-images.githubusercontent.com/11393530/53363343-3d280580-390a-11e9-8161-9f3f435727d9.png)

[2019-02-25 20:32] ninjavan1sh opened #5983 "Large Character counts in JSON call causing FAILURE response via POST submission"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Submitting a JSON POST call with a high number of characters is causing issues with API endpoint.  Lowering the number of characters seems to work (20 rows long, 4 col long) but building that up to 500k rows it seems POSTMAN is

[2019-02-25 20:34] #5983 closed, assigned to nobody

[2019-02-25 20:53] ninjavan1sh opened #5984 "Postman having issues POSTing large JSON bodies"
**Describe the bug**
I seem to run into issues when trying to POST large JSON payloads via postman.  It is an endpoint that allows us to import .csv files.  Files with 200-500 rows run just fine, but when we get to 500k records, Postman seems to have issues

**To Reproduce**
Steps to reproduce the behavior:
1 - create payload with high character limits

**Expected behavior**
Should send data over

[2019-02-25 22:19] rocifier commented on #4842
I'm worried you may not be properly understanding the most common use-case for this. I tried to restate it below:
1) set up a regular api request at Uri A
2) in the pre-request script for this request, do a side request to Uri B in order to get a new security token with the intent of using that token in the subsequent request to Uri A
3) attach the result of the token request, in this case a cooki

[2019-02-26 00:05] okonomiyaki3000 commented on #2369
@codenirvana lol, how nice. You realize that's not where the hosts file resides on either Windows or Mac, right? Would it be so difficult to use the correct file for each system?

[2019-02-26 00:30] codenirvana commented on #2369
@okonomiyaki3000 Thanks for pointing out, updated the Step 5.

[2019-02-26 01:01] JP-from-Postman opened #5986 "Create UIDs for requests, so that they can be referred to outside of display name"
**ISSUE:**
`pm.setNextRequest()` requires the target request's name to work. However, if the request name is changed for any reason the string must be updated in all Test / Pre-request scripts where it is used.

**PROPOSED SOLUTION**
By having UIDs for all requests, request names could be changed as needed while not affecting any Sandbox scripts that rely on them.

Seems like these could be:
a) Pr

[2019-02-26 02:24] mo-nz commented on #4401
I am having the same issue also. I cannot sync the application. I am running Postman v 6.7.3  on windows 10.
Please help!!

[2019-02-26 04:18] 397v1exuI0bT commented on #5968
Thank you.

[2019-02-26 07:04] rahulgolwalkar-one commented on #4795
Can you please add support for Ctrl + Tab and Ctrl + Shift + Tab
So that the behavior is in sync with that of Chrome or any other application in general

[2019-02-26 07:11] anujshahx opened #5987 "Postman doesn't render response when Content-Length is set for 206 Partial Content - HTTP response"
**Describe the bug**
When the Content-Length is set(from the service) in the Response for request with Range Header, postman doesn't show any response for that request.

**Screenshots**
![image](https://user-images.githubusercontent.com/14353131/53394051-e397f900-3952-11e9-8da9-8f78c008c489.png)

**App information (please complete the following information):**
 - App Type : Native App
 - Postman V

[2019-02-26 07:21] codenirvana commented on #5987
@anujshahx Probably the issue here is incorrect `content-length` is sent in the response header.

This is similar to this issue: https://github.com/postmanlabs/postman-app-support/issues/4074#issuecomment-465973127
Here, you can see `content-length` is working fine with the partial response.

[2019-02-26 07:33] anujshahx commented on #5987
@codenirvana The curl command generated from the code works perfectly fine, and the same request works on insomnia as well

[2019-02-26 08:01] codenirvana commented on #5987
@anujshahx What's the error log in Postman's console?

Can you try curl with `--verbose` flag.
Is there any log like: `Excess found in a non pipelined read...`?

This happens when content is greater than specified `content-length`

[2019-02-26 08:44] GarryLowther commented on #5439
We are having the same problem and do not want to have to use Newman as this is just another complication. If file upload functionality works when running from the workspace, it should work in the collection runner AND the monitor. Are you planning on fixing this?

[2019-02-26 08:45] GarryLowther commented on #5147
We are having the same problem and do not want to have to use Newman as this is just another complication. If file upload functionality works when running from the workspace, it should work in the collection runner AND the monitor. Are you planning on fixing this?

[2019-02-26 09:04] anujshahx commented on #5987
@codenirvana This solved the issue, the service was returning wrong `content-length`

[2019-02-26 09:04] #5987 closed, assigned to codenirvana

[2019-02-26 09:32] pxr64 commented on #3822
+10

[2019-02-26 09:59] arashberlin commented on #5819
Thanks with v6.7.4 issue is fixed. I can get my localhost AccessTokens 👍

[2019-02-26 13:02] Sjain01 opened #5988 "Cannot Select a File using multipart/form-data request"
**Bug Description**
When I click on Select File , I expect it to open a window to browse and select a file but nothing happens when I click on this button

**To Reproduce**
Steps to reproduce the behavior:
1. Try to browse and select a file on form-data

**Expected behavior**
I expect a pop-up to open to browse and select a file

**Screenshots**
![image](https://user-images.githubusercontent.com/2

[2019-02-26 13:43] grg-akshay commented on #5988
Hey @Sjain01
We tried reproducing the issue and we were not able to reproduce the issue.
Can you please provide screenshot of devtools (View -> Developer -> Show Devtools(current view))
Can you please provide logs (View -> Developer -> View logs in Explorer),
Also is the issue reproducible every time you try to select a file or happens only in particular cases?

[2019-02-26 13:51] numaanashraf commented on #5819
UPDATE: Postman v6.7.4, which includes a fix for this, is rolling out at the moment. Please update if you are impacted by this issue.

[2019-02-26 13:51] numaanashraf commented on #5819
@arashberlin Glad to hear that. :)

[2019-02-26 14:18] Sjain01 commented on #5988
@grg-akshay

Yes it was occurring every time , to make it work , I removed the parameter and added it again and now it works surprisingly. Since it is working for now , closing this issue.

[2019-02-26 14:18] #5988 closed, assigned to nobody

[2019-02-26 14:54] jscul commented on #3137
I don't often comment on threads like this but this feature is a must have for API testing... if every time we download Postman and sync our data we have to re-upload all of our images collaboration becomes a nightmare and makes Postman unusable for multipart/form testing.

[2019-02-26 15:29] sneh208 commented on #3791
Is there a quick way where I can pull only failed requests (request body) in json or any document?

[2019-02-26 15:33] numaanashraf commented on #5984
@ninjavan1sh We are tracking this at a related issue #4230. Closing this as a duplicate.

[2019-02-26 15:33] #5984 closed, assigned to nobody

[2019-02-26 15:41] numaanashraf commented on #5979
@mariah123 Could you please open the Postman Console (View > Show Postman Console), resend the request and send us a screenshot of any errors there?

[2019-02-26 15:47] numaanashraf commented on #5986
Duplicate of #5908

[2019-02-26 15:47] #5986 closed, assigned to nobody

[2019-02-26 15:59] numaanashraf commented on #5978
@deadmann Scripting with JS is already available in Postman - https://learning.getpostman-beta.com/docs/postman/scripts/intro_to_scripts

[2019-02-26 16:00] #5978 closed, assigned to nobody

[2019-02-26 17:15] shamasis commented on #2369
@okonomiyaki3000 can you help with trying these steps and maybe even get into a call or suggest something specific that may help us reproduce this? I have been feeling pretty stupid myself for not being able to reproduce this. I am almost sure that I am missing something or there is something specific about the installation where there are issues. 😭

[2019-02-26 17:22] zankhanarana9 opened #5989 "How to use data file to monitor a collection?"
How do I use a data file to monitor my postman collection? I read in the Postman Documentation that it is not possible to use a data file as we use for collection run but we can access Google docs, google sheets etc. I don't understand how do we import these files?

[2019-02-26 17:52] mamraz commented on #4171
I must be missing something.  I have the exact opposite problem from what is being described here.  I am looking to have it auto-encode the URL, but it does not.  When I send http://foo.bar/abc?param[0]=1, this is precisely what gets sent according to the Postman console, and this results in a 400 error because the "[" and "]" were not encoded.  If I encode them myself, the call works.

Furthermor

[2019-02-26 18:19] bill-davis-sfdc commented on #3897
I would like to install this app on a Citrix Desktop.  As it stands now we cannot due to restrictions on where it installs.

[2019-02-26 18:55] mariah123 commented on #5979
![postman](https://user-images.githubusercontent.com/11345007/53438540-04665a00-39f8-11e9-99cd-7b0a6508827d.png)

[2019-02-26 19:04] roma-guru commented on #5974
Ok, got it.

[2019-02-26 19:04] #5974 closed, assigned to codenirvana

[2019-02-26 20:14] vmarkova commented on #5868
Hello, could somebody give an update on this issue? It's been a month so far..
Thank you!

[2019-02-26 20:36] pjamgithub commented on #2801
+1...again

[2019-02-26 22:02] knightpfhor commented on #1044
As mentioned in a [comment on that gist](https://gist.github.com/benhowes/ebf9d2f905d7744e7aa093afe19ddbcd#gistcomment-2811160), as of Postman 6.7 it is possible to parse the payload of a JWT with two lines of code.

[2019-02-26 22:17] 1-alex98 opened #5990 "Postman Desktop App incredible slow when typing request url"
**Describe the bug**
When I type stuff it only shows ages(up to 20 seconds) later. After I delted all my collections and History it worked again. I had 3 Collection with up to 800 entries. (Auto generated from https://api.faforever.com)

**To Reproduce**
Get yourself lots of Colelctions and History.

**Expected behavior**
Smooth typing

**App information (please complete the following information)

[2019-02-26 23:16] w3b5urf3r commented on #2847
+1

[2019-02-27 00:26] beatrichartz opened #5991 "Send a GET request in the default browser"
**Is your feature request related to a problem? Please describe.**
When sending GET requests that need user interaction, there is no way to just open this request in the browser. Preview mode does not support Javascript, so I can't use that either. The current workflow is to send the request with an open console, then copy and paste the url into the browser since it has all values interpolated.

*

[2019-02-27 01:58] tristan-tsl commented on #1991
+1

[2019-02-27 03:17] chucklu opened #5992 "Keep the request name when save as a request to another collection"
**Is your feature request related to a problem? Please describe.**
I save as a request from one collection to another, however the  name of new request was the url instead of  keeping the original request name.

**Describe the solution you'd like**
Keep the original request name as the name of new request

[2019-02-27 07:37] numaanashraf commented on #5171
Duplicate of #3174

[2019-02-27 07:37] #5171 closed, assigned to sankalp0o

[2019-02-27 07:37] numaanashraf commented on #5989
Duplicate of #3174

[2019-02-27 07:37] #5989 closed, assigned to nobody

[2019-02-27 10:23] itmajing commented on #4594
After add an environment variable `POSTMAN_DISABLE_GPU=true` , the postman v6.7.3 works properly  on my PC which run a  windows 8.1  os

[2019-02-27 10:30] patricklambourne commented on #2672
For me this is a significant missing feature. The collection runner functionality would be much more useful if it displayed a summary of the execution time for each run. I realise the number is available in the .json export but this is a clumsy workaround.

[2019-02-27 12:31] godfrzero commented on #4630
@naveenkumarmallappa If you're still facing this issue could you share the monitor ID via help@getpostman.com? Based on the logs you've shared, this seems to be a problem with the collection/test itself, and not with the platform.

[2019-02-27 12:54] damireddye commented on #4262
I'm still having this issue. It takes ages for the postman to load. Sometimes 1 or 2 hours.
I've used this version to install Postman-win64-6.7.4-Setup
![image](https://user-images.githubusercontent.com/24477793/53491634-c9633580-3a8e-11e9-9bf0-6b2646a8e689.png)

[2019-02-27 14:55] vlad88sv commented on #350
+1!

[2019-02-27 15:06] vlad88sv commented on #350
Thanks @zlfnhmd !

[2019-02-27 16:16] ryanshores commented on #3274
Is there a way to transfer ownership of the collection within the team? Our admin role owns the team, but my account owns the collection. Ideally I would like the role to be transfered.

[2019-02-27 16:39] eighteyes commented on #1946
+1 trying to use POSTMAN to test an API and it crashes when downloading a file.

[2019-02-27 16:40] adropofilm commented on #4075
Any update?

[2019-02-27 16:51] stoneric7 commented on #4891
In the meantime you could do {{$randomInt}}{{$randomInt}}, that would generate 2 numbers between 0-1000. I use this for emails. Obviously not as good as {{$random:int:8}}

[2019-02-27 17:21] gmfc commented on #1906
+1

[2019-02-27 17:26] JamzTheMan commented on #3819
gah, so work firewall now blocks www.getpostman.com and such so I can no longer use this beautiful app to test internal restful web services :(

Any update on letting us use this offline? I don't really need/want online sync anyways...

[2019-02-27 17:30] JamzTheMan commented on #3819
odd, ok, after restarting a couple times I guess I finally got it to sign off and it now seems to work (I just lost my saved requests but I can deal)

[2019-02-27 18:02] ivanruslimcdohl commented on #2617
facing the same problem

[2019-02-27 19:25] mariah123 commented on #5979
@numaanashraf …. kindly have a look

[2019-02-27 20:32] perix4 commented on #2801
+1..again!

[2019-02-27 20:32] pscarapicchiajun commented on #285
+1

[2019-02-27 21:03] JP-from-Postman commented on #5108
Same issue appears to be affecting the Slack integration for Team Activity.

[2019-02-27 22:20] ryanshores opened #5993 "Request attempts to parse body as JSON even though Content-Type is application/x-mpegURL"
**Describe the bug**
Request attempts to parse body as JSON even though Content-Type is application/x-mpegURL. The request always shows a JSON parsing error in the console, even when the test is empty.

**To Reproduce**
1. New request that will receive Cntent-Type -> application/x-mpegURL
2. Send the test

**Expected behavior**
Should not try and parse the data as JSON unless it is JSON, or I atte

[2019-02-27 23:13] jzombie commented on #4550
I am experiencing this same issue, and it's nearly a year old.

Has anyone made a React app that can replace Postman, by any chance?  Seems like a good weekend project, to just implement the basic features, such as full syncing.

[2019-02-27 23:31] w3b5urf3r commented on #3117
+1. I don't see why this is not happening yet!! first post on 6 Jun 2017 !

[2019-02-27 23:51] ashishkpathak opened #5994 "Data File Import - Collection Runner - Incorrect Import"
**Describe the bug**
While importing data (CSV file) for collection runner, the data is incorrectly imported if the first column data has a leading zero.
Example: The following CSV file, when imported
MSISDN,CONTACT_ID
0405153828,2
0405177895,3
0482018572,5

Would drop the leading Zero of '0405153828' and make it '405153828'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Collection Ru

[2019-02-28 00:17] mendelk commented on #4631
@shamasis How long until this makes it into main app or Canary?

[2019-02-28 01:47] jamielennox commented on #1014
Yea, this is unfortunate. I do work for different clients and i just want a reset everything button to clear out all the stuff i don't care about any more and start from fresh.

If this data was important it would be synced or saved somewhere. Now it's just a bunch of history I have to delete.

[2019-02-28 02:15] towerjoo commented on #5108
Any update on this issue?

And also this fails even for our activity integration.

[2019-02-28 04:40] khanhtd36 opened #5995 "Cannot select multiple files per field in form-data body"
[code]

## Issue Report:
 1. Issue occurs after update postman to version 6.7.4
 2. Expected behaviour: choose multiple files per field in form-data body
 4. Screenshots
- before update, I can choose multiple files per field in form-data body:
https://1drv.ms/u/s!Ame6j3sAT4939CXsPPuwNUMdMtqq

- after update, I can choose only one file per field:
https://1drv.ms/u/s!Ame6j3sAT4939CZAYC4ZDfGBqyJe

[2019-02-28 07:37] numaanashraf commented on #5979
@mariah123 Request seems to have timed out. Please verify request time-out value under Settings > General > Request timeout

[2019-02-28 07:42] peyerc opened #5996 "SignatureDoesNotMatch on POST to AWS SQS API with JSON MessageBody"
**Describe the bug**
I tried to use the AWS SQS API with Postman and was not able to successfully execute a POST with a JSON in the MessageBody. When I do the same request as a GET, it works as expected. The POST works with a simple word as MessageBody though.

**To Reproduce**
Steps to reproduce the behavior:
1. In AWS I've setup a SQS FIFO Queue and combined it with a user with enough permission

[2019-02-28 08:22] numaanashraf commented on #5994
@ashishkpathak We are tracking this at #2734

[2019-02-28 08:22] numaanashraf commented on #5994
Duplicate of #2734

[2019-02-28 08:22] #5994 closed, assigned to nobody

[2019-02-28 08:23] feathergrass commented on #5579
Just for strangers like me: Saving request before duplicating fixes the issue.

[2019-02-28 09:23] czd890 commented on #4631
I hope to release this change as soon as possible. Now I can use "oauth2, add auth data to request url, accesstoken: '=1&my custom parameters'" to work around.

[2019-02-28 10:56] Andrewsuares opened #5997 "Postman 6.7.4 SLOW Start on Windows 8.1 x64"
**Describe the bug**
Slow startup. Takes 10 minutes to load on Windows.

Click on the Postman shortcut
Postman takes more than 10 minutes to load
I see a white or black screen with a constant spinning mouse

**To Reproduce**
Install either the x64 or x32 version on Windows 8.1
Click on the shortcut

**Expected behavior**
Fast start

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-02-28 12:01] spooks7er commented on #3358
+1

[2019-02-28 13:15] VicKetchup commented on #5529
Having Monitors time out before they finish now :(
Any progress on this issue?

[2019-02-28 14:16] NicolaPicoli commented on #5995
having same here...

[2019-02-28 14:16] SpeedySpidey commented on #5980
Starting having the same issue yesterday.  Can't get anything accomplished.

[2019-02-28 15:32] mearns commented on #5467
I'm not having any issues making requests, but I do see the same thing in the "HTTP" code snippet:

[code]

[2019-02-28 15:34] simonewebdesign commented on #2512
+1

[2019-02-28 15:47] #5467 closed, assigned to harryi3t

[2019-02-28 15:59] MonkeyTonk opened #5998 "Update on macOS fails due to permission access denied"
**Describe the bug**
Cannot update postman via postman app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my machine
2. Open Postman.app
3. Hit shortcut Alt+Cmd+I to show DevTools and switch back to Postman
4. Click on the wrench after the red dot appears on it
5. Click on 'Update failed, view details'
6. In the following dialog click 'Retry update'
7. In the following dialog see cha

[2019-02-28 16:04] mariah123 commented on #5979
its 10

[2019-02-28 16:09] numaanashraf commented on #5979
@mariah123 That might be why all your requests are timing out. please change that to `0` to set it to infinity.

[2019-02-28 16:26] vpinheiro86 commented on #1475
+1

[2019-02-28 16:38] mearns opened #5999 "Additional "WebKitFormBoundary" shown in request body of HTTP code snippet"
**Describe the bug**
When I have a request with a request body, click the "Code" button to get a code snippet of the request, and choose "HTTP" as the format from the drop down, it generates an HTTP request with extra text added to the end of the request body, beginning with "------WebKitFormBoundary".

This only seems to happen for "raw" and "form-data" body types.

**To Reproduce**
Steps to repr

[2019-02-28 17:07] #5979 closed, assigned to nobody

[2019-02-28 18:34] spaceageracer commented on #1906
+1

[2019-02-28 20:16] hugochibougamau opened #6000 "Curl: the code snipped generated by Postman does not work as expected"
**Description**
Testing a simple application. The developer provided a curl command example and the expected response. However, when using Postman, the response that I get from the API is different. The curl code snippet generated by Postman is different from the curl request provided by the developer.

**To Reproduce**
Testing the simple application located at https://github.com/crochcunill/consu

[2019-02-28 20:31] idevtech opened #6001 "Environment variable not being resolved when sending request"
v7.02 Windows

Description
I have an environment variable "urlApi" defined w/ a value of "http//localhost:5050". The environment variable is then used in a request as {{urlApi}}. When the request is sent the follow error message is displayed indicating the variable is not being resolved to the proper url. All of the requests worked w/ this env variable until Postman was upgraded to the current ver

[2019-02-28 23:10] JP-from-Postman opened #6002 "Can't delete Monitor: "Something went wrong""
[Reported by Postman Support, on behalf of user]

**Describe the bug**
When attempting to delete a monitor from the web dashboard (or app), the following error is displayed:
<img width="470" alt="screen shot 2019-02-28 at 3 08 50 pm" src="https://user-images.githubusercontent.com/43283131/53604965-dfdebf00-3b6a-11e9-9c7b-034483549bff.png">
The Monitor and Collection both exist in the same Workspac

[2019-02-28 23:50] GimpMaster opened #6003 "OpenAPI 3.0 allOf keyword not working properly on import"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm using the import feature of a yaml file with an openAPI spec.  I'm making use of the allOf keyword in a requestBody to compile a reference and an additional property. Rendering this in swagger works just great. However when

[2019-02-28 23:59] ashishkpathak commented on #2734
This issue has been open over 2 years!! Its a very common feature required by the development community. Can this be prioritized.

[2019-03-01 02:53] wangxx07 commented on #5980
me too, 15-20 seconds and screen goes black

App information:

- Postman Version [6.7.3] and Postman Version [6.7.4]

- OS:  [macOS 10.14.3 ]

[2019-03-01 03:30] andreacab commented on #4171
Same problem here, is anyone aware of a fix?

[2019-03-01 03:51] godfrzero commented on #5935
We had pushed out a fix for this issue around the 21st. Slack notifications will no longer be sent on consecutive successful runs.

[2019-03-01 03:51] #5935 closed, assigned to nobody

[2019-03-01 04:20] godfrzero commented on #5322
We had pushed out a fix for this on the 21st, and we've confirmed over the last week or so that duplicate runs are no longer a systemic issue.

The duplication issue was being caused by increased load on the storage layer due to other reasons (which we had to address first, before tackling this problem. This was also why the earlier fix had to be reverted.). The root cause was a bug deep within th

[2019-03-01 05:08] harryi3t commented on #6001
@idevtech Can you a screenshot showing what you see when you hover on the variable?
I have attached a sample screenshot.
![image](https://user-images.githubusercontent.com/5207331/53617599-d2c6dc00-3c0d-11e9-8c28-2d1bb92f150e.png)

Also, try switching to a different environment to see if the problem is with a particular environment or all of them.

[2019-03-01 06:27] venkatesuluM commented on #5667
@numaanashraf ,

Working fine now.

Thanks,
Venkatesh

[2019-03-01 06:56] lso133 commented on #4320
Is there an alternative to postman ?
it seems the postman team doesn't care about its users needs.

[2019-03-01 08:07] alkasingla94 commented on #5995
Facing same issue

[2019-03-01 09:10] Almesia commented on #3117
+1

[2019-03-01 09:27] leonsegal commented on #4690
I would love to see this feature!

[2019-03-01 10:15] jooleeanh opened #6004 "Prompt on escape key-press in Collection/Folder edit pop-up"
This is an extension of [#3998](https://github.com/postmanlabs/postman-app-support/issues/3998).
Part of the issue was resolved (escape key dismisses the autocompletion dialog), but the rest wasn't treated:

# App details
Postman for Mac
Mac: 10.14.3 (18D109)
Postman: Version 6.7.4 (6.7.4)

# Feature request

**Is your feature request related to a problem? Please describe.**
If there are modificat

[2019-03-01 11:55] MdeRhoter commented on #1475
Huge +1

[2019-03-01 13:08] m3dbedb opened #6005 "History deletion takes too much time"
**bug description **
trashbox button for day history and "clear all" commands react like they does not work

**To Reproduce**
1. Make several requests
2. Click on trashbox button for day history or "clear all" history
3. It looks like the commands does not work, but in several seconds history bacame empty

**Expected behavior**
It would be good if the buttons to bacame gray during deletion to show

[2019-03-01 14:17] andy-rush-beerhawk commented on #2724
ooo yes please +1

[2019-03-01 15:04] Jeevareesha commented on #5935
Jeevajee851@gmail.com

[2019-03-01 15:27] fc7 commented on #5819
I just installed 7.0.3 and the bug is no longer there. I guess this ticket can be closed. Thanks!

[2019-03-01 16:09] gtnardy commented on #4823
up

[2019-03-01 16:11] gtnardy commented on #1535
+1

[2019-03-01 16:39] #5819 closed, assigned to numaanashraf

[2019-03-01 18:02] skechboy opened #6006 "Get path variable value in the pre-request script"
Let's assume that we have a path variable :call that is predefined from the postman interface, how can we get it's value in pre-request script?

![path_variables](https://user-images.githubusercontent.com/399599/53656677-4986c800-3c54-11e9-91ba-b705bc2c5e3d.PNG)

[2019-03-01 19:00] mariah123 commented on #5979
@numaanashraf Thanks it was resolved!

[2019-03-01 19:48] meegs2369 commented on #1667
+1

[2019-03-01 20:20] Jendrasi commented on #5915
This is a feature I've been hoping for.

[2019-03-01 21:15] c-shultz commented on #1667
+1

[2019-03-01 22:45] chrisdeso opened #6007 "Integration with JIRA"
**Is your feature request related to a problem? Please describe.**
A Postman integration with JIRA.

**Describe the solution you'd like**
The ability to integrate Run in Postman buttons with JIRA stories.

**Additional context**
[Filed by Postman]

[2019-03-01 23:29] tr1ck3r commented on #2617
Hoping to see this fixed soon.  The Swagger 2.0 support claim is misleading with this defect.  Even the examples you link to from your docs reproduce this problem.  https://learning.getpostman.com/docs/postman/collections/data_formats/#importing-swagger

[2019-03-02 04:57] jhardin-aptos commented on #5961
That works great, thank you!

[2019-03-02 05:50] #5961 closed, assigned to nobody

[2019-03-02 07:23] Medy111 commented on #4262
this issue is the reason im still using the chrome plugin which is depracated... still not fixed with latest install...

[2019-03-02 10:51] #5667 closed, assigned to nobody

[2019-03-02 16:27] okachobi commented on #1434
I tried a swagger v2 import, and this is still an issue.  Had to use a third party converter to properly get labels for the various routes.

[2019-03-02 18:34] jlavelle-uk opened #6008 "Migrate Your Team to Postman 7.0 not closing"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

On opening Postman 7.0 on Linux the message ` Migrate Your Team to Postman 7.0 ` is displayed.

I migrated my team successfully but the message won't go away! And I cannot use Postman
A clear and concise description of what the bug is.

**To Reprodu

[2019-03-02 18:39] prashantagarwal commented on #6008
@jlavelle-uk Can you try closing and reopening the app once.

[2019-03-02 18:59] JQL commented on #6008
Thanks for getting back to me so quickly.

#### Things I've tried:
* Closing and reopening the App - 6 times
* Clicking Sign out (and signing out) - twice
* Restarting Linux then starting the App - twice
* Doing various activites on the Web version
* Trying to do the tutorial (didn't get far as I couldn't click on any buttons)
* Trying to click on the ` New ` button before the message was displaye

[2019-03-02 20:46] fillyD commented on #5822
I am having this problem also..
I have a function in a collection-level pre-script where I set a global variable in the function and try to get this variable after calling this function in a request-level prescript. It simply does not set.

This is using a similar function def style to @bkirkendall. I tried the same using the "function string var in an eval/new function" approach but I get pm is n

[2019-03-03 02:44] numaanashraf commented on #6008
@JQL Thanks for clarifying. We had an issue at our end which was causing us to erroneously send you a migrate your team message after your team has  already migrated. We had identified and resolved the issue at our end and you should no longer receive that message.

[2019-03-03 15:31] TTcheng commented on #5945
@sujayvenaik I'd like to give you a remote-control on my home laptop via teamviewer. The available period is from 12:00 (UTC) to 15:00 on weekends.If you agree, please contact me at that time.

[2019-03-03 16:31] idevtech commented on #6001
I did some experimentation this morning and after deleting and re-creating
the env variable it works correctly. The variable had been in place for a
long time, across multiple version upgrades, so I wonder if the storage
format or something related changed which caused the problem.

Chris

On Fri, Mar 1, 2019 at 12:08 AM Harendra Singh <notifications@github.com>
wrote:

[2019-03-04 03:20] chengchengmu commented on #1947
It looks like a good soul : @codenirvana  implemented the feature here https://github.com/postmanlabs/postman-runtime/pull/735

[2019-03-04 04:27] codenirvana commented on #6006
@skechboy Here you go
[code]

[2019-03-04 05:03] MilkBiscuit commented on #1066
OMG it's been 4 years and it's still open.

[2019-03-04 06:09] imhogan commented on #1906
+1

[2019-03-04 08:27] m3dbedb opened #6009 "Postman does not recognize array from data file"
**Describe the bug**
I need to pass an array to loop over it at one iteration

**To Reproduce**
1. Create a json data file: [{"array[0]":"12","array[1]":"34","array[2]":"56"}]
2. I pass it to collection runner to perform console.log(pm.iterationData.get(“array[1]”));
3. get an arror "SyntaxError: Invalid or unexpected token"

**Expected behavior**
It would be great to be able to pass an array in a

[2019-03-04 11:37] Luthien-in-edhil commented on #2689
That's a big +1 from me.

I was unaware that Postman added this header, which had me stumped for quite some time while trying to figure out how to enable HTTP gzip compression on a Solr connection.

I know, I only have myself to blame for missing this cause for the weird behaviour that I saw, but still ... as IanKemp also says: it's not something that you would expect from an application that is s

[2019-03-04 11:38] alekseyl1992 commented on #4594
Had the same issue using Postman 6.7.4 on Windows 8.1.
`POSTMAN_DISABLE_GPU` helped

[2019-03-04 12:17] rcrooks opened #6010 "OpenAPI import does not follow references in YAML"
The new OpenAPI import feature is fabulous, but the parser cannot follow references in OpenAPI YAML files.

**Describe the bug**
The import generally works very well, but I'm seeing a lot of these in request bodies:

"value": "reference #/components/schemas/IngestMediaAssetbody.textTracks not found in the api spec"

where a field in one component references another component.

[openapi.yaml.txt](h

[2019-03-04 13:05] m3dbedb opened #6011 "Postman does not pass a variable to cheerio expression"
**Bug description**
I need to find a string on a page, but postman does not get parameter, provided as variable

**To Reproduce**
1. Execute the test code
[code]
4. Postman does not pass variable content to cheerio expression. Test fails with "Application 01:01:02:03:04:16 processed | AssertionError: expected false to be truthy"

**Expected behavior**
If I execute this way
tests["Application "+b+"

[2019-03-04 13:30] m3dbedb opened #6012 "Unable to execute string as a function"
**Bug description**
Postman can't execute code stored in variable as a function

**To Reproduce**
1. Run string as a functions
[code]
2. ReferenceError | console is not defined

**Expected behavior**
Run string as a function to work as a string inside eval operator
[code]
**App information:**
 - App Type: Native
 - Postman Version: 6.7.4
 - OS: Windows 7 32 bit

[2019-03-04 13:44] m3dbedb commented on #6012
It was a typo, it works!
[code]

[2019-03-04 13:47] ggutenberg commented on #4598
Quick little workaround:

1. Import your Swagger YAML to Postman
2. Export your Postman collection to JSON
3. Run the following:
[code]
4. Import your new collection

[2019-03-04 14:47] rcrooks commented on #6010
ps. Just upgraded to 7.0.4 - the bug is still there.

[2019-03-04 15:10] Hrafnkellos commented on #3117
+1

[2019-03-04 17:19] dotnvo commented on #1475
+1, would be amazing.

[2019-03-04 17:22] mfarhat437 commented on #2559
i am using the native app latest version and it was working good but suddenly the same problem appeared i tried to reinstall it but nothing changed an tried the environment variables for postman and still the problem....what can i do...please help

[2019-03-04 17:59] DavideCarvalho opened #6013 "Postman not redirecting with headers, even with "Retain headers""
## App Details:
I can't, this is an internal app
[code]

## Issue Report:
1. I have a route that redirects to another api
2. Enabled "Retain headers when clicking on links"
3. Redirected api gave me "unauthorized"
4. Disabled "Automatically follow redirects"
5. When making the request, postman gives me the link to the other api. I click and the header is there
6. Enable again "Automatically follow

[2019-03-04 19:30] labifrancis opened #6014 "Synchronize Github repo into APIMatic"
**Is your feature request related to a problem? Please describe.**
APIMatic syncs into Github repo using integrations but a user wants to have it the other way round

**Describe the solution you'd like**
A user should be able to have a Github repo sync into APIMatic. For instance, APIs are documented by developers into swagger and being pushed into a GitHub repo. The Github repo should serve as th

[2019-03-04 19:49] preethammavin commented on #6008
@JQL @jlavelle-uk can you confirm if the issue is solved.

[2019-03-04 19:54] #5256 closed, assigned to ratpik

[2019-03-04 19:54] jlavelle-uk commented on #6008
Yes it is.

Sorry about the delay but my hosting service has gone under and I'm having
to migrate a lot of sites.

Best regards,
John Lavelle
john@jql.co.uk

Sent via awful Android

On Mon, 4 Mar 2019, 20:50 Preetham, <notifications@github.com> wrote:

[2019-03-04 19:58] preethammavin commented on #5948
@vdespa, user is shown the following warning before he can accept the invitation to a new team if he already part of a team
'You are already part of a Pro team called "Team Name". Please leave the old team before accepting this invite.'

And he can only join once he has left the older team.

I am closing the issue as this is expected behaviour. You can write to us at help@getpostman.com so that ca

[2019-03-04 19:58] #5948 closed, assigned to nobody

[2019-03-04 20:18] preethammavin commented on #3714
Closing due to inactivity

[2019-03-04 20:18] #3714 closed, assigned to ankit-m

[2019-03-04 20:23] preethammavin commented on #4448
@BillWilson can you check with the latest version of the app? Also can you provide the link of the documentation if its public?

[2019-03-04 20:24] preethammavin commented on #6008
Thank you for letting us know, closing the thread now.

[2019-03-04 20:24] #6008 closed, assigned to numaanashraf

[2019-03-04 20:35] preethammavin commented on #4639
Closing the thread in reference of #3955

[2019-03-04 20:35] #4639 closed, assigned to ankit-m

[2019-03-04 20:45] preethammavin commented on #4790
It has been fixed now, can you verify it works now?

Closing the issue for now, feel free to open it if it persists.

[2019-03-04 20:45] #4790 closed, assigned to godfrzero

[2019-03-04 21:42] #4820 closed, assigned to godfrzero

[2019-03-04 21:45] #4861 closed, assigned to ankit-m

[2019-03-04 23:25] preethammavin commented on #4988
@godfrzero can you confirm if the issue is solved in the current version.

[2019-03-04 23:41] preethammavin commented on #5849
@chrisdeso can you write to us at help@getpostman.com with team details, as I am unable to reproduce this issue.

[2019-03-04 23:47] preethammavin commented on #4890
@numaanashraf it seems to have been fixed now.

[2019-03-04 23:47] #4890 closed, assigned to elssar

[2019-03-04 23:53] #5618 closed, assigned to ankit-m

[2019-03-05 00:32] kenmaglio commented on #1475
I've tried reaching out on twitter to the company, I would contribute and help build this feature if possible. But I don't see any way given the repo's that are exposed already on github, to get to core app to help build support for this.  #sadpanda

[2019-03-05 02:25] macynbaker commented on #5995
I got around this by titling multiple keys "files". Our POST endpoint accepts a RequestPart in the form of a List of MultipartFiles. The POST was accepted without issue.

![image](https://user-images.githubusercontent.com/47578240/53776408-f5821a80-3ec3-11e9-9353-f0939ffa1d26.png)

[2019-03-05 03:20] BillWilson commented on #4448
Thanks, @preethammavin and others who work on fixing it.
 I have checked the documentation page and it works as I expect.

My document contains some material which is not able to share the link here.
So I have some other public document which also has non-ascii character:
https://documenter.getpostman.com/view/2883359/RWTmvJZ7
https://documenter.getpostman.com/view/4857742/RznFqJmS
https://documen

[2019-03-05 04:42] cailyoung commented on #4559
This is occurring for me, too, on a similar environment under Windows Server 2016 with app-6.7.3

[2019-03-05 04:54] cailyoung commented on #4559
Specific info:

I have already applied the GPU disabling environment variable.

Postman loads (slowly) and I have a few requests saved.

After some period of time, new requests fail to work and I cannot open new ones from collections.

Dev tools console output (redacted) when I try to open a new request (and it fails silently):

[code]

[2019-03-05 05:02] cailyoung commented on #4559
Could the issue be in the way that Citrix in particular handles roaming profile sync?

[2019-03-05 06:02] cailyoung commented on #4559
https://github.com/louischatriot/nedb/issues/407

May be relevant. Node itself or nedb don't like permissions issues in the filestore?

[2019-03-05 06:03] cailyoung commented on #4559
#4602 may also be relevant here

[2019-03-05 06:04] ankit-m commented on #5893
This has been fixed.

[2019-03-05 06:04] #5893 closed, assigned to ankit-m

[2019-03-05 07:16] Andrewsuares opened #6015 "More than 600 MB Memory Usage"
Postman is a resource hog on Windows 8.1. Is slow, consumes huge amounts of RAM.

Version
7.0.3 on Windows

[2019-03-05 08:40] Ramya-From-Postman opened #6016 "Request to enable static IP region for the monitors in the native app."
Currently, the static IP region for the enterprise team won't show-up while creating a monitor via the app.
![image](https://user-images.githubusercontent.com/40994626/53791578-c74a1c80-3f4f-11e9-8dd7-2cfd6af75859.png)

However, the static IP region is available on the web dashboard. It would be great if this option is made available on the app well.

![image](https://user-images.githubusercontent

[2019-03-05 09:30] pkvsinha commented on #4643
I used "https://app.getpostman.com/oauth2/callback" as the callback url and it worked.

[2019-03-05 09:55] codenirvana commented on #6012
Duplicate of #5942

@m3dbedb As mentioned in https://github.com/postmanlabs/postman-app-support/issues/5942#issuecomment-466961626, you have to pass the reference of the external console as an argument.

Example:
[code]

[2019-03-05 09:55] #6012 closed, assigned to codenirvana

[2019-03-05 10:33] VicKetchup opened #6017 "Monitors misbehaving - Nothing in the API, Half missing on overview page"
**Describe the bug**
Today something strange is going on with monitors, they have run as expected and all the Slack integrations have been displayed, going to each monitor directly or calling API for it is also all good, BUT:

- "Monitors" tab for the Workspace is only showing half of the monitors (all the ones started at 9AM UK time), the others (started 8AM UK time) are missing.
- Monitors API i

[2019-03-05 10:35] dwiyatci commented on #4514
In my case (Ubuntu 18.10), in addition to `sudo apt install libgconf-2-4`, I need to do:

`sudo apt install libgtk2.0-0`

in order to fix "error while loading shared libraries: libgtk-x11-2.0.so.0: cannot open shared object file: No such file or directory" error. :upside_down_face:

[2019-03-05 10:51] harryi3t commented on #4643
@prashant-sinha You can use any callback url  (even http://localhost )as long as it is used to register on the auth provider.

[2019-03-05 11:13] e-g-hategan opened #6018 "Multiple workflows"
I'm surprised to find that a collection only supports one workflow. This probably works fine as a general integration test for a service but is very limiting in other respects.

The feature request is for being able to have multiple executions each serving a different purpose - e.g. various scenarios that only involve a subset of the requests.

In a theoretical example such scenarios could be (gro

[2019-03-05 11:27] alexkoppelman commented on #1475
+1

[2019-03-05 12:14] chrisgl commented on #1434
I have the same Problem. I want to use Postman to use a Swagger File, but the missing names for the requests make the created collection hard to use.

Instead of using a special parameter, I would suggest to use things already there.
By default I think it would be a good idea to use the path:
"http://petstore.swagger.io/api/pets?tags={{tags}}&limit={{limit}}" -> Name: "/api/pets"
Or even include t

[2019-03-05 16:01] godfrzero commented on #4798
This has been fixed in the latest release, the link now points to the monitor usage page.

[2019-03-05 16:01] #4798 closed, assigned to godfrzero

[2019-03-05 16:41] fperves commented on #4133
the target tcp port number is also missing from the http.client.HTTPConnection function call in generated code.
Syntax should be :
`http.client.HTTPConnection("mytarget", port=XXX)`

[2019-03-05 18:00] d3lboy opened #6019 "Can't install on Windows 10, problem with paths"
[postman.txt](https://github.com/postmanlabs/postman-app-support/files/2932181/postman.txt)
It's not possible to install Postman version Postman-win64-6.7.4-Setup (older versions also) on Windows 10.

It can be that is something with file system paths. Look at the logs .
Sometimes is written: "C:\Users\dalib\AppData\Local\Postman\packages\RELEASES" (correct)
Sometimes: "C:\Users\daLocal\Postman\ap

[2019-03-05 18:37] tonycantony0007 opened #6020 "How to get elements of an array in postman"
I have 2 request .The output of 1st request is a string of the form ["abc","afgy","sfgh","dfg"].I Need to iterate the 2nd request with these values as input to the request. Thanks in advance.

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chro

[2019-03-05 18:43] numaanashraf commented on #6020
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-03-05 18:43] #6020 closed, assigned to nobody

[2019-03-05 18:45] numaanashraf commented on #6015
@Andrewsuares Are you noticing performance issues while performing specific actions?

[2019-03-05 19:20] mfarhat437 commented on #4292
hey...where can i find this directory  AppData/Roaming/Postman ??

[2019-03-05 20:14] kerednai commented on #5809
I get the same issue on 7.0.4 as reported in #5921

curl -X POST \
  https://1.1.1.1:8443/v1/auth/identitytoken \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'Postman-Token: ac1c6d06-3dae-4d62-b1db-7dbc7f94b95c' \
  -H 'cache-control: no-cache' \
  -H 'charset: UTF-8' \
  -d 'grant_type=password&username=admin&password123=password&scope=openid&undefined='

[2019-03-05 20:25] DarrylGwinnett commented on #6017
I raised a support ticket for this earlier today, and I've just had word a fix should be deployed to production within a few hours.

[2019-03-05 20:30] DarrylGwinnett commented on #5868
You're getting ECONNREFUSED. Doesn't like like a Postman problem really. when you run them in your app, presumably you're on a company network which can access your confidential URL. When it runs as a monitor the URL needs to be accessible from Postman's servers. You might need to change your firewall settings.

[2019-03-05 21:44] cailyoung commented on #4559
Local ops team suggesting mapping the app location to a drive letter and launching it from the drive letter instead of a UNC path. This seems to be helping, at least for the last day. Will keep an eye on it.

[2019-03-05 22:56] cparratto commented on #5194
+1

[2019-03-06 00:30] jkrusinski commented on #2920
I also still see this issue in 6.7.4, but only in the request URL field. Typing any url is extremely slow.

[2019-03-06 01:33] masterchop opened #6021 "Cookies in response are not reflecting under Manage Cookies"
**Describe the bug**
I am running a request through scripts in the Test section once i get the response headers which contain a Set-Cookie header, i use the output and build a cookie:

    console.log(response.headers.get('Set-Cookie'))
    var Cookie = require('postman-collection').Cookie,
    rawHeader = response.headers.get('Set-Cookie')
    myCookie = new Cookie(rawHeader);

The JSON output lo

[2019-03-06 02:14] leotohill commented on #4140
@kamalaknn , I'm at v7, I see what you describe regarding "bearertoken" vs "bearer", but your workaround isn't working for me.  I clipboard the value and paste it into the access token input box, even though that box already shows the correct value, so I don't see why this would make a difference.  And it doesn't, as Postman still does not generate an auth header for the request that follows.

Pre

[2019-03-06 03:44] mderis commented on #4292
What is your OS?

[2019-03-06 04:37] pkvsinha commented on #4643
I understand that any url can be used, but the thing is, 'https://getpostman.com/oauth2/callback' doesn't work. However, 'https://app.getpostman.com/oauth2/callback' works for some reason. That was the point. Thanks for your reply, btw.

[2019-03-06 06:08] m3dbedb commented on #2833
The issue still present in postman 7.0.6 under windows 7 32

[2019-03-06 06:10] m3dbedb commented on #5288
The issue is actual for postman 7.0.4 under windows 7 32 bit

[2019-03-06 07:15] BertusVanZyl opened #6022 "Chrome shows homepage in stead of postman application"
When running the shortcut after installing, chrome opens to its home page in stead of running the postman app. When I run the installer, after the installer completes, postman is opened successfully. So to run postman, I have to reinstall the app from the installer every time.

**App information (please complete the following information):**
Chrome: Version 72.0.3626.121 (Official Build) (64-bit)

[2019-03-06 07:22] numaanashraf commented on #6022
@FrikkinLazer Do you have Postman Chrome App also installed?

[2019-03-06 07:25] numaanashraf commented on #6021
@masterchop This is not supported at the moment. We'll consider this as a feature request. I've re-worded the issue title to reflect the same.

[2019-03-06 07:50] Andrewsuares commented on #6015
![capture_001_06032019_105337](https://user-images.githubusercontent.com/35380745/53864213-ea3d0500-4011-11e9-867d-0f9150fdd559.jpg)

I see the performance issue when it is running doing nothing. Yes there is some lag when clicking around collections or clicking on Send. Check out the attached. Returning back to Postman(which is minimized) after doing other things takes time for it to load again.

[2019-03-06 08:28] numaanashraf commented on #6021
@masterchop My bad. We took a deeper look at this issue and cookies in response headers should be added to the cookie manager after the request completes. Is there a publicly assessible endpoint we can use to replicate this issue at our end?

[2019-03-06 10:02] coccoinomane opened #6023 "Postman strips everything following a hash symbol from query parameters"
**Describe the bug**
Whenever I hit "Save" in a request, Postman strips from query parameters everything following a hash symbol (#) including the symbol itself.

**To Reproduce**
Create a new request, write in the data editor a query parameter with a hash symbol followed by some text, and then click on "Save".

**Expected behavior**
Postman should not strip the hash symbol from the query string w