[2022-08-16 12:47] timbochamp commented on #10928
@pierre-wehbe have you tried openapi-to-postman as a workaround?
https://github.com/postmanlabs/openapi-to-postman/issues/306#issuecomment-901946755

You should be able to set `optimizeConversion=false` that way I want to say!

[2022-08-16 16:19] DannyDainton commented on #11187
Hey @JamesDevOpsShipman

I'm going to close this issue as it's currently working as it was intended, this might not be how you would have hoped though.

Could you raise a new Feature Request containing the details of how you're like to see the feature being used? The more context and examples that you can provide the better 🏆

[2022-08-16 16:19] #11187 closed, assigned to nobody

[2022-08-16 16:41] DannyDainton commented on #11077
Hey @bryan-diaz-kushki

I'm going to close this issue, for now. If you're still facing this issue on the latest version we can look at reopening it again.

[2022-08-16 16:41] #11077 closed, assigned to vedkribhu

[2022-08-16 17:40] franciscosamuel commented on #10648
This was happening to me as well.
I was able to replicate using the following steps (Windows 11)

1. Unzip WebApplication2.zip (attached)
2. Add the following entry to the hosts file (C:\Windows\System32\drivers\etc\hosts):
`127.0.0.1 testdns`
3. Add the `testdns` and `localhost` bindings to IIS's Default Web Site
4. Point IIS's Default Web Site to the folder containing the contents of WebApplicat

[2022-08-16 17:44] shubhbhargav commented on #11112
@zeldalegends Regarding the MySQL db references, I am assuming that it is a concern with the locally hosted application / service, not Postman. If yes, let us know if there is anything else we can help out with, else please feel free to close off the ticket. :)

[2022-08-16 18:30] zeldalegends commented on #11112
Sure, thanks for the great support. Best regards.

[2022-08-16 18:30] #11112 closed, assigned to nobody

[2022-08-16 19:25] ej31 commented on #8195
There seems to be something wrong with ignoring such a strong demand for more than two years.

[2022-08-16 19:36] tgoodsell-tempus commented on #10926
@timbochamp any updates on the investigation into this issue?

[2022-08-16 20:42] yatw commented on #9612
@ewilliams-zoot this work around is hard to maintain in practice. Each API request json string is not going to be nicely display in 1 line and editing something in it is error prone.

[2022-08-16 20:48] jagruthi26 commented on #9883
I've been looking into how to sync the postman environments to gitlab repository but couldn't find any solution.
Use case: To run postman collections in CI/CD with an automatic trigger when changes are being made to collections in postman tool.
Issue: We enabled the backup collections to gitlab, collections are being synced which is great. To add the environments in gitlab, there is a manual step

[2022-08-16 21:00] ewilliams-zoot commented on #9612
@yatw Yes, I agree 100%, but it's a work around that seems to have worked for me. I have since tried it on a project, and it is cumbersome to be sure.

[2022-08-16 21:27] eric-gagnon commented on #2523
It looks like there is a little bug, it was present in 8.x but I still see it after updating to lasted 9.x. The "resource" option was not visible.

![image](https://user-images.githubusercontent.com/21067311/184988284-aed1f0d1-2330-4bb1-b6c1-1e554d12d187.png)

By luck, I tought to check if it was exposed in other grant type and it was. So I set the value, changed back my grant type to client crede

[2022-08-16 23:06] vdespa commented on #4779
Currently, this feature is almost useless for collections that rely on environments to have collections work. Quite often, the collection will not work without the environment, so it makes sense to have a backup for both collection and environments.

[2022-08-17 05:52] Ananthalakshmii commented on #10933
facing the same issue

[2022-08-17 08:20] appurva21 commented on #10534
Hey @uschwag!

With the latest release of Postman, you can now add scripts to your gRPC requests. Head to our [Learning Center](https://go.pstmn.io/docs-grpc-scripts) to learn more.
![navigating-to-grpc-scripts](https://user-images.githubusercontent.com/24985700/185069734-522a4d31-0d1e-4531-982e-fd743b7a5bb5.gif)

[2022-08-17 08:20] #10534 closed, assigned to appurva21

[2022-08-17 08:46] abhijitkane commented on #4779
@vdespa I'd like to understand your use-case better. Are you running these collections in Newman? If so, a temporary workaround could be using collection variables (that will be saved to the repository with the collection). This won't require you to provide any additional environment in the Newman command. In the Postman app UI, selecting an environment will override collection variables, so you n

[2022-08-17 08:49] abhijitkane commented on #9883
@jagruthi26 Are you running these collections in Newman? If so, a temporary workaround could be using [collection variables ](https://learning.postman.com/docs/sending-requests/variables/#defining-collection-variables)(that will be saved to the repository with the collection). This won't require you to provide any additional environment in the Newman command. In the Postman app UI, selecting an en

[2022-08-17 09:01] manthankool commented on #5980
Any updates on this issue? I am using windows 10 with 12GB RAM. I don't understand why it has suddenly gone all grey.

[2022-08-17 10:32] giridharvc7 commented on #8195
We understand the need for this feature & we will soon start working on this. Will keep posted on this thread on the updates.

In the meantime, I'd love to have a chat with you to understand your current workflows without this feature. This will help us understand the problems you are facing a bit deeper, esp with the lack of autosave.

If you are up for a chat feel free to use this [calendly link

[2022-08-17 11:39] MichaelHallik commented on #8747
And here as well. :-(

[2022-08-17 13:56] iuliia-eagle opened #11195 "Importing a json file throws an error"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Attempting to import a json file (or json raw text) taken from a Swagger page will throw an error: 'format not recognized'.

### Steps To Reproduce

1. Select Import button
2. Select json file
3. Observe error is immediately thro

[2022-08-17 14:11] jagruthi26 commented on #4779
@abhijitkane I was looking out for environment backup in github/gitlab. Couldn't find any solution. Posting the issue with only collection back up here.

Problem: I enabled the backup from postman to github/gitlab through the integration, the collections are synced which is good but there is no support for environment backup. This is preventing the automatic trigger of runs as the env.json file ch

[2022-08-17 14:11] mynameistodd commented on #7556
Hi @jviotti, I believe I'm running into this same issue, using the "Create a collection from a schema" request in the Postman Public workspace (forked locally).

Using the Postman Desktop application (macOS) to import an OAS schema as an API, and ticking the "Generate collection from imported APIs" works successfully. Retrieving that collection via the GET /collections/{id} reports that it is 2.53

[2022-08-17 14:18] srhyne commented on #10384
This would be a really useful feature.

[2022-08-17 14:32] jagruthi26 commented on #9883
@abhijitkane Currently, we have huge collections which are already setup with environment variables and the temporary workaround looks like a major change.
Example: changing pm.environment.set to pm.collectionVariables.set in many test scripts

[2022-08-17 14:44] mynameistodd commented on #7556
Update: Tested using a smaller schema, and generation of the collection via API works as expected, so further suspicion of the 1MB limit.

[2022-08-17 14:57] akshaydeo commented on #10648
@franciscosamuel could you try `0.0.0.0 testdns` instead of `127.0.0.1 testdns` in hosts?

[2022-08-17 17:37] KeithETruesdell commented on #10701
i think if the URL bar wasn't set to such a massive minimum size this would work

[2022-08-17 18:11] darrencapner opened #11196 "Schema Validation not working when Path Templating and Fixed Paths in same path position"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have posted this same issue on the postman community https://community.postman.com/t/schema-validation-not-working-when-path-templating-and-fixed-paths-in-same-path-position/38267

The Issue Encountered
I've created a new API d

[2022-08-17 18:47] jviotti commented on #5302
As @HasanAlyazidi and @arlemi pointed out, this is issue has been fixed given the new toolbar design, so I'll proceed to close it.

@Iftakharpy Can you open another issue tracking this problem for Linux?

[2022-08-17 18:47] #5302 closed, assigned to jviotti

[2022-08-17 19:04] Iftakharpy opened #11197 "Menu bar on Postman for Linux with Dark Mode"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

As issue #5302 is specific to windows this issue is specific to Linux and I am using pop os.  I can't find any option in the settings to get rid of the system default title bar nor postman automatically uses its custom title bar

[2022-08-18 02:11] silqmv commented on #11169
Thanks Danny. Happy to contribute to the product.
I am using it for a short  while and it has been a good experience. Keep on the good work, guys! :)

[2022-08-18 02:36] duchuyvp commented on #4671
It's after mid-year 2022. Come on!

[2022-08-18 02:49] silqmv opened #11198 "Setup and Teardown at collection level"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No, ... it is an enhancement request.

### Describe the solution you'd like

First of all thanks for all Postman already does ;)

New feature requested:
1) Setup tab:
At collection level

[2022-08-18 08:50] arlemi commented on #7221
@alexa2me Is it possible that the server times out and not Postman? If you're still seeing the issue please open a new issue so we can look into it.

[2022-08-18 08:58] arlemi commented on #8950
@spacecat Once you've generated the collection once, you can update it using the validation feature, there's a demo of it in this video from 5:40: https://youtu.be/BUZiRtGRHj0?t=340

The blog you mentioned about GitHub is about the back up feature, not the version control integration, but I can see how it can be confusing. 😅

[2022-08-18 09:32] DannyDainton commented on #11195
Hey @iuliia-eagle

Could you share the file or the raw text of the Collection you're trying to import, please?

[2022-08-18 10:51] mandaputtra commented on #11191
It's turns out that I can open it that way. And after that I can open it normally 🙃 Damn software ~ so confusing.

[2022-08-18 10:51] #11191 closed, assigned to nobody

[2022-08-18 13:48] hnariman commented on #4690
support for console.clear() would be perfect.

[2022-08-18 14:45] richardholroyd commented on #8433
+1 for this feature - also came here looking for the same thing. Reproducing collection runs that require a small subset of requests from large/complex collections is pretty painful, this would be a big help.

@marcin-backbase - hi from another Backbaser :)

[2022-08-18 15:48] quentinlamamy commented on #3216
Same issue, postman took 5s on a endpoint, my browser 5ms. Its just 19o data.

If we can trust anyore postman to check all our endpoint and performance, it's the end....

[2022-08-18 19:48] kleblanc-igloo commented on #3731
Also struggling to implement Postman as a corporate documentation source without the ability to adjust it to match our corporate branding. Would love to see more fine-tuned customization available.

[2022-08-18 20:02] ztoliver commented on #9531
Wondering the same. This has been open for a year and a half.

[2022-08-18 20:58] JESii opened #11199 "GraphQL Test fails as expected when run manually but passes in collection tests"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I’m creating my first tests around a graphQL collection. I started by creating two simple tests to ensure that a query executed successfuly and did not contain an “errors” element.

I tested this against a single query by modifyi

[2022-08-18 21:03] DannyDainton commented on #11199
Hey @JESii

Something that catches people out in some of the requests that are getting run are in an unsaved state.

That would show as passing or failing  when run manually (depending on the expected outcome) but could show something different when run in the collection runner. The collection runner isn't aware of any changes made in the requests until they have been saved.

Can you confirm that

[2022-08-18 21:15] JESii commented on #11199
Thanks, Danny… I checked and the collection was saved

[2022-08-18 21:32] JESii commented on #11199
Oh... I went back and re-read your comment. The collection had been saved; the query I was using as a test had been saved... but other queries had not been saved. When I went back and made sure every query in the collection was saved and ran the test, then it ran OK -- i.e., failed the expected test.
Thanks very much...

[2022-08-18 21:32] #11199 closed, assigned to nobody

[2022-08-19 02:17] nailerHeum commented on #10592
Hello, I met bug related to this issue on postman Version 9.29.2

So I want to share you.

if I use comments like this
[code]
postman cannot parse this file

but if I add one more new line, it works normally.

I just added one more new line.

I hope this information helping Postman,

Apologize for my poor English, thank you, have a good day

[2022-08-19 02:23] timbochamp commented on #10926
Hi @tgoodsell-tempus, this is unfortunately a lower priority for our team to take up at the moment. We'll relay any updates along when it's resolved. Apologies for the inconvenience here!

[2022-08-19 06:03] Fak3 commented on #8950
@arlemi I dont even have the "develop" tab in my postman client. Is this video old, and the feature does not exist anymore?

![Screenshot_20220819_090259](https://user-images.githubusercontent.com/991641/185553495-98cfd51c-0e76-407f-88bf-cdc0413dab6c.jpeg)

[2022-08-19 07:35] Atishay4294 commented on #11126
Hi @HgIain and @zinok - This issue has been addressed.
Can you confirm if the slack integration for monitors is working as expected?

[2022-08-19 07:36] Atishay4294 commented on #11119
Closing the issue, feel free to reopen if you run into problems again.

[2022-08-19 07:36] #11119 closed, assigned to Atishay4294, shashankawasthi88

[2022-08-19 07:46] shashankawasthi88 commented on #11126
Closing this for now. Please re-open if the issue still exists.

[2022-08-19 09:01] ravindurp commented on #6780
getting the same problem on Windows10 Pro 64-bit

![image](https://user-images.githubusercontent.com/9955944/185584267-cb8540cc-c4a6-48e6-aabd-e7cef0fb56c5.png)

[2022-08-19 09:08] AravindShan opened #11200 "Search bar in Environments tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When we have a hundreds of variables created under an environment it is difficult to look or search for a specific variable

### Describe the solution you'd like

A search bar without cas

[2022-08-19 09:34] arlemi commented on #8950
@Fak3 Good point, the UI did change a bit over the last few months. Here's how you can do it now:
![updatedocs4](https://user-images.githubusercontent.com/5029719/185590379-07e20104-a071-4c91-830b-11ba91d97ba0.gif)

If you do not see a "Collection Documentation" make sure you generate one first.

[2022-08-19 10:43] codenirvana commented on #11140
@b4brijesh You can now configure "Maximum response message size" under gRPC request settings.
There’s no limit on the request/outgoing message size.

![Screenshot 2022-08-19 at 4 09 01 PM](https://user-images.githubusercontent.com/4865836/185601396-6c32ad1b-df0e-45f7-aa98-34f8302ef92d.png)

[2022-08-19 10:43] #11140 closed, assigned to codenirvana

[2022-08-19 10:53] codenirvana commented on #11102
@darko-da Thanks for reporting this bug.

We've pushed a fix for this in v9.29. Can you please update your app and confirm if that fixes your issue?

[2022-08-19 11:17] codenirvana commented on #11052
@moshest We've added support for decoding additional error details in Postman v9.29.

Currently, we support [error_details.proto](https://github.com/googleapis/googleapis/blob/master/google/rpc/error_details.proto) types. Everything else is represented in binary form.

![Screenshot 2022-08-19 at 4 25 12 PM](https://user-images.githubusercontent.com/4865836/185603853-41cf3fd2-2e61-4d17-9f1a-34b93c3

[2022-08-19 11:17] #11052 closed, assigned to codenirvana

[2022-08-19 12:48] uschwag opened #11201 "GRPC - Error with existing and and API after Update to Postman v9.29.0"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After the Update to Postman v9.29.0 we receive on every existing gRPC request an unspecified error: "Something Went Wrong
Postman has encountered an error." .
Other requests than gRPC work. To be sure that other problems are not

[2022-08-19 13:37] DannyDainton commented on #11201
Hey @uschwag,

Thank you for raising this issue 🏆  - I've forwarded it to the team and they are investigating the matter. We will update this thread once we have more information.

[2022-08-19 14:08] maschoene opened #11202 "Environment quick look variables get overscrolled with high amount of lines per scroll step"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If I set a high value to the line scroll amount for a wheel step in Windows, some entries in the environment quick look will be overscrolled. If the amount of lines set to scroll is higher than the amount of displayed items, I ex

[2022-08-19 14:30] uschwag commented on #11201
@codenirvana it is indeed so. Only existing requests don't work anymore but if I create a new one and select everything again it works although it is nearly a copy of the existing one.

[2022-08-19 14:40] codenirvana commented on #11201
@uschwag Thanks for the confirmation.

We're releasing a new version with the fix. I'll let you know once it's available.

[2022-08-19 15:48] codenirvana commented on #11201
@uschwag We've pushed a fix for this in `v9.29.3`. Can you please update your app and confirm if that fixes your issue?

[2022-08-19 18:33] martinsbrn commented on #4690
still waiting...

[2022-08-20 00:15] ColdCerealAtWork opened #11203 "Newman: Give more information to help find syntax errors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have a large collection that complains about a syntax error when I try to run it on my Linux server. All it tells me is
 001.  SyntaxError
                       Unexpected token .

[2022-08-20 00:53] #11203 closed, assigned to nobody

[2022-08-20 01:16] KristianAtVsp commented on #11203
@DannyDainton apologies, moving the request now.

[2022-08-20 09:13] Sesota commented on #10605
8 months have been passed and no progression is recorded on this issue. I know it's a bad behavior to spam the issue trying to remind; but I think Postman team needs this reminder.

[2022-08-20 19:28] maxs-rose opened #11204 "Cannot connect to websocket server running on WSL via "localhost""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When attempting to connect to a websocket server running within WSL a postman client running on the windows host machine cannot connect to the given endpoint unless given the exact IP of the WSL VM.

### Steps To Reproduce

Creat

[2022-08-20 21:03] maxs-rose commented on #11204
From looking at the error in postman it seems like it is attempting to convert `localhost` into `127.0.0.1` while this would probably work in most scenarios since the WSL IP isn't `127.0.0.1` but is accessible through `localhost` it fails.

[2022-08-20 21:17] dareedyone commented on #3777
It's 2022 and I currently need this feature on Postman.

[2022-08-21 06:36] sryze opened #11205 "Stuck on loading screen"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman gets stuck on the white loading screen

Error in console log:

[code]

### Steps To Reproduce

1. Start Postman

### Screenshots or Videos

_No response_

### Operating System

Windows 10

### Postman Version

9.27.0

###

[2022-08-21 08:57] moshest commented on #11052
Amazing. Thanks!

[2022-08-21 09:44] yuriisamoienko commented on #5817
Please-please-please implement it, my eyes are begging you

[2022-08-21 20:08] unreleased opened #11206 "Need to send unencoded characters - Error: Request path contains unescaped characters"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hello,

Please allow me to give some background before I jump into this, I understand this issue is commonly reported and answered the same on all the Stackoverflow results.

For years I have been limited to using Insomnia's REST

[2022-08-22 00:07] joaodcp commented on #10806
Any updates on this? I'm on Postman 9.29.0 and GraphQL Auto-Fetch request headers are not set to collection variables - if it is a collection variable, the header value will just be "{{variable}}".

[2022-08-22 02:40] byrdman opened #11207 "major performance issues with 9.29.3"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After updating to 9.29.3 there are several major issues occurring:
1 - can no longer double left click on a request and have it open a tab to run, edit, etc.  only way to open it is to right click and select edit
2 - can no longe

[2022-08-22 02:55] byrdman commented on #11207
What is super weird is it only seems to affect 1 machine.  I've tried uninstalling Postman and reinstalling, this didn't fix it.

[2022-08-22 03:15] sulthompson commented on #4753
+1 as per others the need to authenticate to a single site with multiple certificates is a common need for my team. If there was some way to at least store multiple client certs for the same domain and then select the active one that would help. Now every time we switch authentication certificate we need to replace the certificate in settings.

[2022-08-22 03:17] sulthompson commented on #11150
+1 This feature would be very useful.

[2022-08-22 03:18] byrdman commented on #11207
on further investigation, it only happens if I'm signed into my Postman account, if I sign out so it doesn't try to sync data to the cloud everything works as expected.  Are there logs I can look at to see what my network might be blocking?

[2022-08-22 04:25] kamalaknn commented on #11207
Hey @byrdman

1. Are you seeing slowness in specific actions on the sidebar or does this happen across all actions in Postman? Is this particular to Postman or do you see general slowness in other applications on your system? Could you share a screen-recording of the issue?
2. You can check the network activity from `View -> Developer -> Show Devtools (Current View)`. Note that some of the activit

[2022-08-22 04:56] Dhembla commented on #9184
Hey @abdullah4one,
I am closing this issue. Please feel free to reopen it if the fix does not work for you.

[2022-08-22 04:56] #9184 closed, assigned to akshaydeo, Dhembla

[2022-08-22 06:16] #11201 closed, assigned to codenirvana

[2022-08-22 06:17] #11102 closed, assigned to codenirvana

[2022-08-22 07:04] uschwag commented on #11201
@DannyDainton the issue is fixed with v9.29.3, Thanks a lot to all for reacting so fast.

[2022-08-22 11:17] giridharvc7 commented on #10806
Can you confirm the Agent you are using?
Agent information can be found here in case you are using the web app.

<img width="390" alt="Screenshot 2022-08-22 at 4 46 46 PM" src="https://user-images.githubusercontent.com/1040583/185908715-3b43b0bb-8cfc-4eca-a102-7eb30c805ba1.png">

Can you also share some logs for us to debug?

[2022-08-22 11:58] karlmacklin commented on #5222
Good news everyone!
Since the creation of this issue I have now managed to sort all my requests manually, so currently things are in order.

Nevertheless, I would have saved many years of work if this feature was implemented, and it can probably save some time for other people as well. So I still vouch for the implementation of it!

[2022-08-22 12:52] darko-da commented on #11102
@codenirvana Thank you very much for this fix.
I confirm that I now can import the `.proto` files and call the API.

However, when I try to use Server Reflection, I still get the same error, i.e., `duplicate name 'constructor' in Type Variant`.

Do you want me to add a new bug report for this?

[2022-08-22 12:53] byrdman commented on #11207
@kamalaknn The main actions it affected were:
Selecting a collection to either let me setup a run or possibly edit the pre-request scripts or authentication bits
Selecting a request to either edit it or run a single request

I unfortunately can't attach a screen-recording as the issue seems to have gone away once I signed out of my account.

After signing out of my account and back in the problem

[2022-08-22 13:06] codenirvana commented on #11102
Thanks for the confirmation, @darko-da!

Yes, I am aware of this issue in Server Reflection.
We've identified the root cause in our proto parsing package and trying to push our changes to the upstream to fix for all the dependent packages (including the one used for server reflection).

Can you please file a new bug report for this?
We are updating our Server Reflection implementation soon; we'll

[2022-08-22 13:23] kamalaknn commented on #11207
@byrdman Thanks for the update.

From your description, it looks like the problem may not be performance related, but some action could have led to the state of your tabs getting corrupt. Logging out should have cleared this state and fixed the issue.

Let us know if you see this again.

[2022-08-22 13:23] #11207 closed, assigned to ankurdengla

[2022-08-22 15:00] Scrip7 commented on #7150
The way they implemented this feature in production is stupid.
I was part of an "empty" Postman team I created half a year ago.
By empty, I mean it had no members or collection or anything. It was a barebone team with no data whatsoever.

So I decided to leave and delete the team because I had all my collection and everything on my "Personal Workspace."
And I did it.

It turned out my action delet

[2022-08-22 16:03] DougMaisells opened #11208 "I have APIs which I can't remove (from possible runaway interceptor session)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

On my POSTMAN workspace, at one time I had an interceptor running in Chrome and in Postman.   I had over 2000+ APIs.   I was able to painfully delete most of them.   There are still about 99 which I cannot delete.  If I delete in

[2022-08-22 16:28] darko-da commented on #11102
@codenirvana
Thanks for the info. Ok, I'll file a new bug report.

[2022-08-22 16:39] darko-da opened #11209 "Can not use Server Reflection on gRPC API if there is a message definition with the field name `constructor`"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

This is the extension of the fixed bug report https://github.com/postmanlabs/postman-app-support/issues/11102.

When using server reflection on a gRPC API in which there is a message definition containing a field with the name `c

[2022-08-22 18:10] joaodcp commented on #10806
@giridharvc7 I'm working locally, not signed in. Could that be the issue? If so, why?

This is all I get.
[code]

[2022-08-22 19:49] joaodcp commented on #10806
Yup, seems to be the issue: collection variables work just fine on Workspaces. Why is that though? I couldn't find any documentation referring to that. Maybe you should add a warning. Or maybe this is unwanted behavior?

[2022-08-22 20:03] BoomtownSimon commented on #2978
Hail Mary but here goes... I have the integration configured, repo and branches selected from the drop downs, which means Postman was able to access with my token yet all log activity fails with this ambiguous message. Opened a support ticket but apparently nobody can diagnose the problem and we're unable to use the integration. Confirmed we do not have IP based firewall rules.

[2022-08-22 20:41] fq962 commented on #11130
Hello, I don´t recive answer and the bug persist.

[2022-08-22 21:21] bdlee420 commented on #11177
I am now on version  v9.29.4 and this issue has been resolved. Thanks you for the quick fix.

[2022-08-23 01:56] dustinboss commented on #5391
In case Google led you here, this is now possible: https://learning.postman.com/docs/publishing-your-api/run-in-postman/run-button-API/

[2022-08-23 02:06] realDavidMeissner commented on #6471
Is there any way to hide this menu? I never use it and it prevents me from reducing the window width.

![image](https://user-images.githubusercontent.com/111828493/186052759-88d4f97a-6686-4295-90e3-83bd498eff15.png)

[2022-08-23 03:14] #11177 closed, assigned to nobody

[2022-08-23 05:51] andreideznan commented on #10854
Hi guys,
Many thanks. It works as it should.

[2022-08-23 05:58] giridharvc7 commented on #10525
Requests don't open by default anymore. To view the examples, you'll need to explicitly select the arrow/chevron.
Let me know if this works for you. Closing this issue for now.

[2022-08-23 05:58] #10525 closed, assigned to nobody

[2022-08-23 06:19] postman-support commented on #11208
Hi @DougMaisells,
Thanks for reaching out! I am more than happy to assist you with the issue!

As I understand it, you're encountering an issue when trying to delete APIs.

Do you know if you encounter the same error when doing it from the browser? Can you try it from the web app from the workspaces, they can be accessed from the URLs below.

go.postman.co/me/apis

On the other note, I just want t

[2022-08-23 06:55] shashankawasthi88 commented on #2978
@BoomtownSimon thanks for bringing this up. We have escalated this internally, the team should revert to you shortly.

[2022-08-23 07:47] alexandre-melard commented on #4968
This is a most wanted feature and after 4 years, still no plan... Too bad

[2022-08-23 08:45] araeuchle opened #11210 "Generate Collection when importing openapi yaml doesnt work"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hey guys,
i updated my Postman to Version 9.27.0 on Ubuntu 22.04 LTS and i found a weird bug in Postman.
When i want to import an openapi formatted yaml file Postman is able to generate an api from it.
Then we have the Checkbox t

[2022-08-23 09:24] thecijal commented on #11210
I have the same behavior with Postman v7 (installed from snap on Kubuntu 22.04 LTS) and also on the postman website.

[2022-08-23 09:33] DannyDainton commented on #11210
Hey folks,

Appreciate you raising this! 🏆 I've forwarded this on to the teams to investigate further. Any updates will be posted here once we have some information to share.

[2022-08-23 09:35] umeshp7 commented on #11210
@araeuchle Could you share a recording of the error being reproduced? Also if you could try updating the app. We recently fixed a bug around URL imports this could be related to that.

@thecijal The version you have mentioned is quite old. Will you be able to update to the latest version or use Postman on web?

https://user-images.githubusercontent.com/31915995/186124849-732eb349-c549-4693-b31f-f1

[2022-08-23 09:38] araeuchle commented on #11210
Yes but now try do the same with downloaded file over the File Import.
For us this doesnt work.
What @thecijal did was trying if the issue exists on an old version as well which was confirmed with that.

I will try to do a screen recording later during the day.

[2022-08-23 09:42] umeshp7 commented on #11210
My bad. I tried the import and the import itself was successful but the collection didn't show up.
I have raised this issue with the concerned team and we will be looking into this.

[2022-08-23 09:42] araeuchle commented on #11210
@umeshp7  Thank you very much man! also great to have so fast responses! didnt expected that! :)

[2022-08-23 09:50] koen-loyens commented on #11210
I have the same issue.
When I go to the API, draft, test. There is a link to the collection but the collection is in a different workspace en I don't have access to that workspace.

[2022-08-23 10:42] umeshp7 commented on #11210
@koen-loyens @araeuchle @thecijal This issue has been fixed. Please try re-loading your workspace or try importing again. The collections should show up.

cc Thanks to: @DannyDainton @barshan23

[2022-08-23 10:47] thecijal commented on #11210
It works now with postman v9 on Kubuntu 22 :)
Thanks a lot !

[2022-08-23 10:48] araeuchle commented on #11210
I can also confirm it works now again! Thank you very much guys! great work! :)

[2022-08-23 10:48] koen-loyens commented on #11210
I works now, thx

[2022-08-23 10:51] #11210 closed, assigned to nobody

[2022-08-23 11:39] M33ks commented on #10852
Another vote to fix this

[2022-08-23 12:09] postman-support commented on #11206
Hi @unreleased

Thank you for reporting this to us.
Unfortunately, there's no way to send a special unencoded character or space in the query parameters or URL. We also checked, and see that this feature is unavailable in most Rest clients, including CURL.

I believe this one is similar if not the same: https://github.com/postmanlabs/postman-app-support/issues/8912

We will make sure to have this

[2022-08-23 12:57] chrs-myrs commented on #4739
This would be highly useful.  Or if not this then maybe a whitelist of domains for which the proxy is only active.  We are using the proxy to get around IP whitelists, so it only applies to some collections.

[2022-08-23 13:18] kristofferjalen commented on #8701
I had the same problem, and I solved it (or got it working at least) by generating the certificate by following some [Microsoft documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-6.0#create-root-ca):

[code]

I then imported the `pfx` file to "Trusted Root Certification Authorities" in Windows.

Then I added the `pfx` file to Postman, provi

[2022-08-23 14:49] DougMaisells commented on #11116
Thank you Postman for allowing a user to select multiple APIs and then via right mouse context menu, be able to delete them.  However moving/deleting multiple API (like near a 100 result in errors).  I have logged the issue up above with 99 stubborn APIs still in the app as well as the web based version.  Sometimes they are there; other times they do not show.   When I try and delete them individu

[2022-08-23 14:59] DougMaisells commented on #11208
![99_bottles_of_apis_on_the_wall](https://user-images.githubusercontent.com/12070836/186192359-3e30dc27-c9e3-4a8f-bea5-c48b373de95f.png)

[2022-08-23 15:33] kiley-poole commented on #10356
Does a `write to file` block exist? In looking through all the blocks in flows, I didn't directly see one.

[2022-08-23 15:51] saswatds commented on #10356
Hey @kiley-poole we are working on it. We will add it soon

[2022-08-23 17:02] aevtyushin commented on #8701
The easiest and most working way is to simply separate the .pfx file into a private key and a certificate, and use them separately.

**You can separate .pfx file using the OpenSSL:**
`openssl pkcs12 -in [yourfile.pfx] -nocerts -out [drlive.key]`
`openssl pkcs12 -in [yourfile.pfx] -clcerts -nokeys -out [drlive.crt]`

**Usage .key and .crt in Postman:**
<img width="682" alt="image" src="https://user

[2022-08-23 17:25] unreleased commented on #11206
Hi @postman-support @Raj-postman

This feature is available in cURL and libcurl for Node. That's how it's possible via Insomnia and the NPM package request-curl which I created specifically for this purpose.

[2022-08-23 18:10] bdlee420 opened #11211 "Unable to PULL CHANGES into a specific Fork"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

We have created a Fork off of a master collection. We made several changes to that Fork and are now trying to PULL CHANGES into it as other things have been modified in the master collection.  We receive this message: “Merging is

[2022-08-23 18:18] joshpinto6 commented on #7150
+1 - That sounds like a really messed up backend system. Now I'm too scared to even try leaving a team.

[2022-08-23 18:46] pcockcroft commented on #10595
+1 for this feature request to have some sort of a beep / audio queue that the call has finished.  Bonus points if we get it to have different beep(s) for successful vs error.
Also +1 for #10596 - either a run-timer or just knowing the time that I clicked "Send".  I try to write it down but half the time I forget... and its always the times I forget to write it down that it would be the most usefu

[2022-08-23 19:13] elenamik commented on #7286
+1

[2022-08-23 23:09] ejackson2019 commented on #8827
@akshaydeo Hi, any word on a timeline when this will be released?

[2022-08-24 04:14] jigsawnz commented on #10976
Same in 9.25.2, Postman for linux. Drag and drop works but not by selecting a folder to import.

[2022-08-24 06:36] postman-support commented on #11206
Thank you for the update @unreleased. True, we were able to replicate this case and will have this reviewed.

Best,
Subramanya

Status Page | Learning Center | YouTube | Twitch | Bugs + Feature Requests | Community

* * *

Product Support Business Hours: `Monday, 3:30 AM UTC - Friday, 11:30 PM UTC`

[2022-08-24 06:55] chefren commented on #781
For anyone landing here still, the current postman app allows overriding by simply adding the Header again, here's an example with a `HOST` variable to populate the header. Notice the default calculated value is stroked out.
![Screen Shot 2022-08-24 at 16 52 41](https://user-images.githubusercontent.com/2918150/186350932-3cd09db5-5ad5-4d9d-a06e-95166982cef3.png)

This header trick also would cater

[2022-08-24 07:26] shashankawasthi88 commented on #11117
@coreyog thanks for reaching out. We are working on building the flow that you described. Would it be possible to get onto a short call to discuss your exact workflow and see if the solution that we have fits your need? You can schedule a call with us using this [link](https://calendly.com/shashank-awasthi/local-git-feedback).

[2022-08-24 08:12] swdpcomputing commented on #8433
+1 In fact, the lack of this feature isa what's stopping me from using Postman fully. It's currently a useful reference tool, but the functionality to define and save runs is a must to use it seriously. My preference would be in json format. Something like:

`
"collectionRuns": {
    "firstRun": {
      "actions": [
        {
          "instruction": "setCollectionVariable",
          "variable":

[2022-08-24 08:41] marcoschneidertui commented on #10933
I am just running into the same issue

[2022-08-24 10:14] Amrosx opened #11212 "GRPC Code snippet"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Hi everybody, I liked the grpc beta feature has been added recently, but I have a question is there away to add Code snippet export the grpc request to c# code and other languages. I have

[2022-08-24 10:39] postman-support commented on #11211
Hi @bdlee420,
Thank you for contacting Postman Support. I'm happy to help!

I understand that you are seeing issues with pulling changes from a fork and it is happening when you make any change with one particular collection fork, Right?
Let me know the size of the source collection?

Just to confirm you have been facing the same problem on both the Desktop app and also on our web app- go.postman.

[2022-08-24 10:59] postman-support commented on #11208
Hi @DougMaisells,
Thank you for writing back!

From the screenshot, I see that you are in the Collections tab and pointing out requests under a folder.
Is the API that you are trying to delete reflects here? go.postman.co/me/apis
Do you see any errors while deleting?

Could you try moving the API to any other workspace and then attempt deleting it?

You can also try deleting it through Postman API

[2022-08-24 11:00] akshaydeo commented on #8827
👋  @ejackson2019, we will release multi-file support for the schema ([and many more features](https://www.postman.com/lp/postman-v10/)) next month. This feature will allow you to use references in your schema within Postman.

We are evaluating support for remote references and schema registry at the moment.

[2022-08-24 12:18] codenirvana commented on #11206
@unreleased I understand your use case and that's why we have the "Encode URL automatically" setting which you can turn off to disable automatic-encoding.

![Screenshot 2022-08-24 at 5 36 30 PM](https://user-images.githubusercontent.com/4865836/186414918-c0db5187-7a7a-4e72-bc70-2f20bdb9d172.png)

This works for characters in `[33, 255]` range but anything outside it must be encoded due to a [hard

[2022-08-24 12:42] neexs commented on #5040
+1

[2022-08-24 13:06] Mehrdad-Dadkhah commented on #1535
+1

[2022-08-24 13:14] IKQR commented on #6682
+1

[2022-08-24 13:37] Acc-skn opened #11213 "New Integration Request - Confluence"
### Describe your current workflow

Workflow

1. We are inputting the URL to GET the response
2. Postman gives 200 OK or any 404 Error

------
There is no direct confluence/Jira integration as of now.

### Describe your ideal workflow

Workflow

1. We are inputting the URL to GET the response
2. Postman gives 200 OK or any 404 Error
3. The Success or Failure of the response must be captured
4. The

[2022-08-24 14:03] KuNman commented on #7348
Can't wait for that!

[2022-08-24 14:11] Albob commented on #7596
@kevinswiber

This actually gives me a negative compression:

![image](https://user-images.githubusercontent.com/1536632/186438888-16c3f717-9b7d-41d2-887e-88f54dfe7334.png)

This must be the difference between the raw text and the expanded/pretty JSON displayed. Or maybe you inverted body and content size ?

[code]

Anyway, this is miles away of the real compressed size that I can read from Chrome

[2022-08-24 14:12] Albob commented on #7596
And yeah +1 on this request 👍

[2022-08-24 14:41] DougMaisells commented on #11208
https://user-images.githubusercontent.com/12070836/186447686-7086d7be-4a96-4ca8-8914-ffb5ed94b996.mp4

[2022-08-24 14:45] DougMaisells commented on #11208
Same error with either site listed in the request.   Seems like there are 99 stubborn APIs at the end of this listing which cannot be deleted.  You can't click the Delete button on the modal either if you select multiple APIs.

[2022-08-24 15:32] thiagoufg commented on #5817
ETA, please!

[2022-08-24 16:37] unreleased commented on #11206
Hi @codenirvana

I am attempting to send a request using an empty space character. Decoded is `%20`, but I don't want to send a decoded space, I want to send a space. When you turn off "Encode URL automatically" and attempt to send a space it will not work due to Node's hard check as you've mentioned.

Node's hard check follows RFC specifications but does not allow what's theoretically possible on

[2022-08-24 17:00] ikellenberger commented on #11115
Maybe about the same here:
9.28.2 on WIN10, 16 GB, i7
I've noticed that Task Manager shows 'Host for Endpoint Security' is going through the roof when Postman is starting up...
After about a minute and Postman has completely loaded, CPU load is going down again.
As Host for Endpoint Security is part of Bitdefender anti virus protection, I am not really sure, if Postman can positively influence thi

[2022-08-24 17:08] CSALS commented on #9702
any update on this?
I wanted to submit feature request for this.
This would be helpful

[2022-08-24 17:28] nglro commented on #11115
this is an awesome find. I am also using BitDefender and I have tested after reading your post and can confirm, if I turn off the antivirus Postman starts as one would expect, with the antivirus turned on it takes minutes to show a blank white screen that never loads.

So this late versions of Postman must be triggering something that the antivirus find to be threatening and maybe blocks some serv

[2022-08-24 17:52] codenirvana commented on #11206
@unreleased I agree entirely with that, and Postman being a debugging client, must enable testing all these workflows.

We are currently using the `node:http` module, which has this limitation.
We've hit multiple such limitations in the past and had unblocked by either overriding the methods at the runtime or directly patching the Node.js source.

This might take a while, but we'll try to unblock

[2022-08-24 18:34] wrydere commented on #4888
+1 for this. Really need to see the interaction between our API docs and the rest of our web properties, so we can understand feature usage!

[2022-08-24 18:36] edmundham commented on #3706
+1 and thanks for the updates. Looking forward to see ETA :D

[2022-08-24 18:38] unreleased commented on #11206
I will have a look and get back if I discovered anything.

In the meantime, I have opened a feature request for Node itself to add an option to ignore the strict checking they're performing.

https://github.com/nodejs/node/issues/44381

[2022-08-24 20:52] jvincent-siplay commented on #5736
Also:

Scrollbars do not work correctly on Windows and have poor accessibility:
- They are too thin.  They should use the width defined in the registry (I have my scrollbars set wider for accessibility reasons)
- Some scrollbars auto-hide even when Windows has them set to be always visible (another accessibility problem)
- They lack arrow buttons to scroll by line (non-standard behavior)
- Clickin

[2022-08-24 20:58] Justintime50 commented on #5222
Postman never ceases to amaze me for its lack of basic features like auto-save and sorting folders...

This should definitely be something that gets added. It's mind boggling that four years later it still hasn't been implemented.

[2022-08-24 20:59] jvincent-siplay commented on #5302
Is there a way to disable this new combined menu/title bar and show the native Windows title bar?  This new design provides no indication whether the window is active or inactive which is harmful for accessibility.

[2022-08-24 21:44] usamedin commented on #3694
bump

[2022-08-24 21:58] dannysheridan commented on #7301
+1

I have an endpoint with 50 query-parameters, all of which are optional. I'd like all of the query-parameters to show up in my Postman Collection unchecked. Don't see a way of doing this today.

[2022-08-24 23:10] mig8447 commented on #5391
Maybe the link changed but I don't see how to create them

[2022-08-25 02:58] JimmyRice commented on #2701
Count me in

[2022-08-25 03:55] okey commented on #11126
Hi @shashankawasthi88, this issue appears resolved for the Slack integration, but the same problem continues to occur for the custom webhooks integration. Would you prefer a new issue or to reopen this one?

[2022-08-25 04:39] postman-support commented on #11208
Hi @DougMaisells,
Thank you for providing the requested details.

I guess we need to escalate to the engineering team along with the app logs to check on this further. As mentioned previously, could you please login a ticket(https://support.postman.com/hc/en-us/requests/new/) with us so that we can continue investigating?

Also, please send over the console logs and app logs so our team can check

[2022-08-25 05:07] swbrown opened #11214 "Validation issues with an overlapping templated and concrete path via OpenAPI"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

With a concrete path /foo/bar and a templated path /foo/{id} using different response types, the postman website reports issues in validating the response from the concrete path, showing both paths and flagging a type issue on th

[2022-08-25 06:34] shashankawasthi88 commented on #11126
@okey thanks for raising this. No need for new ticket, ill reopen this and track the progress here itself.

[2022-08-25 06:57] vaple commented on #9968
this feature requestd from version6!
#4253

[2022-08-25 06:58] HenrikHolmIT commented on #9702
Not a fix per say but what I do is I activate the request then go to console and copy the resolved url from there when I need it. It works but its a little cumbersome.

A better way (but I always forget this method and just go for the console method) is to open the Documentation tab (the little page icon) on the right side of the UI. That sidebar will also hold a resolved link that you can copy.

[2022-08-25 07:27] W3LLD0NE commented on #2701
this is sad and funny at the same time.
do we still need to count +1s?

[2022-08-25 08:24] shadow-cs commented on #6682
It would be cool if Postman showed any data as they are being received from the server. It doesn't need to format them just show plaintext value (formatting can be done as soon as the request completes).

Right now when testing SSE I either have to make the server terminate the connection (in which case I see the data) or click Cancel which usually just shows an error without any data (even though

[2022-08-25 08:25] frasermclean commented on #11147
This has just happened to me too and I have lost all of my personal collections!

[2022-08-25 09:30] eugbaranov commented on #7163
I would really like to be able to set UI font as I sorely miss the font used in version 6.

[2022-08-25 10:04] CSALS commented on #9702
Yes currently I've been copying the URl from documentation tab. It would be good to have some shortcut to directly copy it

[2022-08-25 11:39] SanderBouwhuis commented on #11141
Still fails with v9.29.5.

[2022-08-25 12:57] Carmageddon commented on #9498
I second this, Postman UI is hard to use on laptop screen because the damn side panel taking too much space while working on scripts!

[2022-08-25 14:46] Thothore opened #11215 "[gRPC] scripts should be able to be executed after a response in case of a stream call"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When invoking a binary/server streaming grpc call, after having received a response, we cannot execute a script, it is only executed when the stream finishes. In my case, I need to keep t

[2022-08-25 15:10] codenirvana commented on #11215
Thanks for the feedback, @Thothore.

We plan to add an "After message" or "On message" script which executes after every message received in a streaming RPC. We are currently evaluating all the workflows it will enable.

Can you share more details about your current use case or any other use case which will be unblocked using this?

[2022-08-25 15:29] planetabhi commented on #5302
@jvincent-siplay I’m afraid we don’t have plans to add a switch between the new combined and window native title and menu bar. However, we’re actively working on UI considerations for windows which covers the dim state for the inactive window and a few more features. I will keep you updated.

[2022-08-25 15:47] unreleased commented on #11206
So, after further investigation, it is possible to send raw characters directly using the internal net module by writing the request on the socket directly. However, It would be an incredible amount of work for you guys to move all the HTTP(s) functionality away from the HTTP module as a solution to this unpopular issue.

I think a more appropriate solution would be patching the node source direct

[2022-08-25 17:14] MahmudulHassan5809 commented on #5506
still this feature is missing . it would be very helpful .

[2022-08-25 17:38] gorsash commented on #5817
Absolutely agree, it's very annoying to switch theme manually every day at least 2 times.

Also on Windows and macOS it can be implemented pretty simply:

Windows:
-----------
1. Listen for the WMSettingChange event
2. Check `message.section == "ImmersiveColorSet"`
3. If it's true, then set theme according to the value `AppsUseLightTheme` in the Windows registry at the path `HKEY_CURRENT_USER\Soft

[2022-08-25 20:27] hassanshahzadaheer commented on #8717
thank you so much, save a lot of effort and time.

[2022-08-25 21:01] psawant2022 commented on #10936
I am seeing the same error on the desktop and web version.
macOS 12.5.1
Postman 9.28.4

[2022-08-25 22:57] jblalock commented on #8480
I don't see anywhere in the docs about this limitation. Guess we'll go back to home-rolled CURL.

[2022-08-26 02:43] arnav-deep opened #11216 "Feature to remove yourself from a not self-owned public workspace"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

In my Workspaces list, I can see many public workspaces someone else (the owner) gave me access to. I am no longer using a few of those workspaces, which clutters my Workspace list. Their

[2022-08-26 02:54] ncrown commented on #2851
+1

[2022-08-26 05:47] shashankawasthi88 commented on #10936
Thanks for raising this. We are looking into this again.

[2022-08-26 07:44] RaisinTen commented on #11115
This might be happening because of the way in which we sign the app. I'm working on a fix for this now, will keep y'all updated on how it goes!

[2022-08-26 07:53] Thothore commented on #11215
Thanks for the quick answer ! I hope we'll see this feature soon

So basically a client (in this case Postman) will make a grpc call to connect to a server, this call is a bidirectional (and not binary my bad) streaming, and the server will reply with some sort of credentials to identify the client, which the client will need to add to the metadata of its subsequent calls.

[2022-08-26 08:00] N0N4M3pl commented on #11192
Hi.
I have same problem and I would like to upvote this issue.
If I set URL for example as `abc.domain.com/api` then postman shows "_Service unavailable ... Name resolution failed for target abc.domain.com/api_"

[2022-08-26 09:53] Thothore commented on #11215
By the way, when you implement the possibility to run a collection of grpc requests, could you add an option whether or not to terminate a stream before executing the next request ?

[2022-08-26 10:09] BryanShekletonwv commented on #7399
I had the same issue on 9.29.6.
Quick fix was to open a new postman window (**File -> Open New Postman Window**) and close the old one

[2022-08-26 11:24] pozil commented on #11215
I have the same request and let me share an additional use case.
The payload of our gRPC responses are encoded with [Apache Avro](https://avro.apache.org/) so they are not human-readable without proper decoding. We need access to a JS hook for each message in order to decompress the message payload.

[2022-08-26 11:42] hfhchan commented on #10701
There's a script capping the width of requester-contents-pane to 1130px. If it could be slightly reduced to 1080px, the window would fit comfortably in a standard 1080p monitor in the vertical orientation (1080 x 1920).

[2022-08-26 13:24] bdlee420 commented on #11211
The collection has about 1000 Requests inside it.  It has happened to a couple of forks of that size.  It is failing on both the Web and Desktop versions.  I haven't been able to replicate it with smaller collections as of now.

[2022-08-26 17:45] muldon commented on #8057
for me the cookies are not being added in both situations (using or not using variables). Currently using mac version 9.29.3

[2022-08-26 18:49] nickhoeferpickpro commented on #9176
I have the same issue

[2022-08-26 19:40] muldon commented on #3518
still not fixed for mac too.. using postman 9.29.3

[2022-08-26 21:37] xhocquet commented on #11180
I am seeing the same issue:

1. Create a "Create Data" block containing a list with a single string item
2. Create a connected "Loop Over List" block
3. Create a connected "Send Request"
4. If you open up the Send Request variables, the data from the list does not appear in the possible selections for "Current Value". I've also tried manually writing references to `/data` and other tries including

[2022-08-26 21:46] victorthury commented on #11140
Which postman version is this? Is this version available for linux (ubuntu 22.04 lts)?

[2022-08-27 01:26] xiaguliuxiang commented on #10852
For personal accounts, if you don't mind the trouble, backup data, delete and re register the account, and do not browse other people's documents in the logged in state.
It might be useful for obsessive-compulsive disorder.

[2022-08-27 03:29] codenirvana commented on #11140
@victorthury Postman v9.29.0.

[2022-08-28 00:46] DannyDainton commented on #11195
Hey @iuliia-eagle

We're still waiting on the file that you used that will help us triage this issue - It's going to be difficult to take this further without that information.

[2022-08-28 11:03] Schotky commented on #5326
+1 for cURL, Java ...

[2022-08-28 17:12] ashutosh049 commented on #4690
Dead silence... Any update on `console.clear()` ?

[2022-08-29 05:34] postman-support commented on #11211
Hi @bdlee420,
Thank you for writing back!

I understand that issue occurs for a larger collection of about 1000 Requests. Would it be possible for you to share the collection export(via support ticket) with us so that we can check to replicate it?

As mentioned previously could you please submit a ticket(https://support.postman.com/hc/en-us/requests/new/) with us sharing the app logs to investigat

[2022-08-29 06:12] shashankawasthi88 commented on #10936
@psawant2022 @mrhouzlane Can you share the recording of the steps you are following, we are unable to reproduce this at our end. You can also reach out to [postman support](https://www.postman.com/support/), the team will be able to help you out with the flows.

[2022-08-29 06:29] wbsnail commented on #4970
thanks @saurabhjayant let's close this issue

[2022-08-29 06:29] #4970 closed, assigned to vkaegis

[2022-08-29 09:56] Atishay4294 commented on #11126
@okey - This issue has been addressed on the custom webhook and Microsoft Power Automate integrations as well.
Can you confirm if it is working as expected?

[2022-08-29 11:07] hrancic commented on #8203
It would be great to have the option to specify Content-Length header for each of the multi part parts, for example like in the following curl (imagine I am sending two files: meta_file and data_file)
`curl -X POST <endpoint> -F"meta_file=@meta-file;headers=\"Content-Length: 123\"" -F"data_file=@data-file;headers=\"Content-Length: 123456\""
`

Should I open a separate issue for this feature?

[2022-08-29 12:50] caseodilla commented on #4193
Adding my +1 to this request.

[2022-08-29 13:07] EUFELIPEPIMENTEL opened #11218 "New Integration Request - <product name>"
### Describe your current workflow

app

### Describe your ideal workflow

ios

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-08-29 13:14] EUFELIPEPIMENTEL opened #11219 "<title>"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Ok

### Describe the solution you'd like

Up

### Describe alternatives you've considered

Up

### Additional context

_No response_

[2022-08-29 13:27] #11219 closed

[2022-08-29 13:36] bpiselli commented on #7794
+1

[2022-08-29 15:53] shashankawasthi88 commented on #11218
Please reopen by adding more details. Can you specify the tool/ software that you want the integration and what flows are you trying to achieve.

[2022-08-29 15:53] #11218 closed

[2022-08-29 16:05] alekdavisintel commented on #6926
So, looks like it won't be done, right?

[2022-08-29 17:11] needcaffeine commented on #6926
It would greatly benefit my team to be able to read the name of the collection as well as individual requests so we don't have to hardcode things.

[2022-08-30 07:33] vikiea commented on #11183
not really, I want to regenerate the previously saved message body because the generated sample message does not meet my requirements

[2022-08-30 08:22] okey commented on #11126
@Atishay4294 it now appears to be working as expected, thanks

[2022-08-30 09:24] AaronWang0413 opened #11220 "Unable to generate/ update Collection JSONlink"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Click "Update link" or "Get JSON link" would not get the response.

I opened the Devtool of Chrome, then I saw the 400 Bad Request in that proxy request.

### Steps To Reproduce

1. Open your Workspace
2. Click "Collection"
3. Cl

[2022-08-30 10:47] kappaj2 opened #11221 "Postman file upload broken on Mac"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Just updated to the following on Mac:(stupid auto-download requested restart)
Mac running macOS Monterey - 12.5.1(21G83)

Postman
Version 9.30.0
UI Version: 9.30.0-ui-220817-2031
Desktop Platform Version: 9.29.0 (9.29.0)

Post co

[2022-08-30 10:51] kappaj2 commented on #11221
Was super slow to respond. Looked like it was broken.
Please close.

[2022-08-30 10:51] #11221 closed, assigned to nobody

[2022-08-30 10:57] DannyDainton commented on #11220
Hey @AaronWang0413

I'm unable to recreate the same problem in the latest web version:

<img width="866" alt="image" src="https://user-images.githubusercontent.com/17089546/187418899-e399a11c-5e69-4149-8247-7c898c81c6e3.png">

Are there some more specific details that you can share to help narrow down the issue:
- What type of Workspace is it?
- Is the Collection a public one?
- Are you using the

[2022-08-30 11:10] AaronWang0413 commented on #11220
1. It's a team Workspace.
2. Yes.
3. No, I didn't use it.
4. I try the same behavior on my phone (different network), but it's still not working.
By the way, I try Postman App, it's working, FYR.

[2022-08-30 11:19] akshay-kulkarni-03 commented on #11216
@arnav-deep thanks for reporting your issue! As of today, the workspace switcher shows you the workspaces recently visited by you. The list is not populated based on who gave you access etc but rather which all workspaces which you visited recently. Could you clarify, what does `workspace list` mean? Is it the switcher/drop-down that you see on top or you are referring to `View all workspaces` pag

[2022-08-30 15:56] Kolyamba-mamba opened #11222 "GRPC Couldn't import .proto file There was an error while importing the Protobuf definition. import from multiple drives"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

when loading .proto file containing:
syntax = "proto3";

import "to.proto";
import "facade_to.proto";
import "google/protobuf/timestamp.proto";

the error "Couldn't import .photofile" occurs There was an error while importing the

[2022-08-30 17:17] lougeo commented on #9877
Any update on this? We require the ability to define webhooks which is part of the OAP 3.1 spec.

[2022-08-30 17:25] eriknyk commented on #5817
@thiagoufg Any update about this?

[2022-08-30 17:42] swmech commented on #8258
I know, leaving a comment on a closed issue.  But I was just bit by this one myself.  The issue IS the "Save" button, as @cyrielle-hada noted.  If the request isn't saved then some changes (Request name, for example) DO export, but others (test scripts, in this case) do NOT.

Let's face it, the "Save" button isn't incredibly obvious.  You can make all the changes to a request that you want and not

[2022-08-30 18:23] swmech commented on #3901
I was bit by this one earlier today, too.  I had added test scripts to several requests along with a few other changes, then exported the collection and pushed it to our repo for a PR.  Somebody noted that the PR didn't contain the test scripts.  Some of the other changes were there (Request name changes, for example), but not the test scripts.  The "Save" button is really easy to overlook since r

[2022-08-30 19:52] Endorphinity commented on #5817
Hey, you've already got the code in the previous comment, just get the right engineers and paste it to the proper locations! Come on!

[2022-08-30 19:54] Endorphinity commented on #5817
Hey, Postman team!

You've already got the code in the previous comment, just get the right engineers and paste it to the proper locations! Come on!

[2022-08-30 22:25] bdlee420 commented on #11211
Because it was a time sensitive issue, we had to delete the master branch and recreate it using his forked branch.  It is unfortunate that we had to do it but we needed to resolve it. Because of this, I am unable to provide the data you are asking for.  As a general ask, we need to be able to rely on Pulling Changes to work every time.

I do have another branch that is letting me "Pull Changes", b

[2022-08-30 22:37] conradpronto commented on #6681
@Raja-Simha @abhinav-ravi @ajeet-postman I would be grateful if you could advise what direction this is headed and approx timing.

[2022-08-31 00:48] venriq commented on #3694
If I were to write a story to implement the feature, it would be something like this:

**Why**
- As a software engineer responsible for writing restful APIs
- I want to create variations **_(Examples)_** of a parent request
- And be able to Send those requests
- So I don't have to duplicate the same **Request** over and over again just to

**Acceptance Criteria**

[2022-08-31 05:46] c0dezer019 opened #11223 "Renaming any of the files in a connect repo and pulling them into Postman does some bad things"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If you rename the schema on local FS and pull it into Postman, it will register as DELETED and delete the Schema inside Postman, causing you to have to recreate the API. If you rename collections file, it will also register as DE

[2022-08-31 06:05] c0dezer019 opened #11224 "Repo Integration improvements"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

#11223

### Describe the solution you'd like

Postman should recognize renamed files vs deleted in a connected repo, and not break the API. Also, it should not place a UUID in the name of

[2022-08-31 06:20] deekshithanand commented on #1321
It's been 7 years, wow @postman-support do you really care about this anymore?

[2022-08-31 08:00] #11126 closed, assigned to shashankawasthi88

[2022-08-31 08:17] mancubus77 commented on #1321
Lol PPL moved to insomnia :)

[2022-08-31 08:44] AtricoSoftware commented on #10868
Sure, have booked 15m later today (Sorry for delay, I didn't check the notifications until today)
How will we connect? (phone, whatsapp, zoom, etc.)

[2022-08-31 09:25] wjy550823795 commented on #6780
![image](https://user-images.githubusercontent.com/43197440/187645899-cf05a9a8-49b4-4200-8594-3519cb0b3171.png)

[2022-08-31 10:44] vincenzo-scia commented on #10426
Please consider changing the expected behaviour and make console detaching available again on scratchpad mode. Come on, this restriction appears to have no sense ...thank you.

[2022-08-31 10:59] jcarenas commented on #5394
Same expectation here

[2022-08-31 12:23] martin-braun commented on #5817
I switched to [Hoppscotch](https://hoppscotch.io/) (it's a PWA you can install), because of this nonsense. Ah yes, and because I don't like

![absolutely proprietary](https://user-images.githubusercontent.com/24259245/187676865-a9c519a9-7baa-4286-b680-18274a6f8164.png)

software, anymore.

If this thing was open source, any pioneer would've implemented this years ago. Now all of Postman's user bas

[2022-08-31 12:42] Txiaozhe commented on #7366
Thanks:)

[2022-08-31 12:44] bthompson104 commented on #10936
I get this error too - using v9.30 for Windows

[2022-08-31 13:05] jekakos opened #11225 "Export does not work properly"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the current version ( Version 9.29.6 ) there is incorrectly export:
1)  Content-Type (more details here https://github.com/apideck-libraries/postman-to-k6/issues/80 )
2) Unchecked variables in Body (should be excluded, but pre

[2022-08-31 13:12] ziadsarour commented on #5040
+1

[2022-08-31 15:23] Meizygam commented on #11138
@DannyDainton @giridharvc7 Any news? It's blocking me to run the collection after deployment to prod!

[2022-08-31 16:09] WilliaSa-Brady opened #11226 "Ability to delete multiple environements at once"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently have over 36 environments for a collection attempted to do an import thinking since the names match it will overwrite but instead it duplicated (this could be the real problem).

[2022-08-31 16:10] mf200002 commented on #6351
+1

[2022-08-31 16:49] shubhbhargav commented on #11138
@Meizygam Would it be possible for you to share the collection with us to debug this further? You can reach out to us via help@postman.com to share this info.

[2022-08-31 18:05] DeviousBard opened #11227 ""Generate Collection" produces incorrect XML requests and responses from Open API 3.0 and Swagger 2.0 API definitions"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

For Open API 3.0 and Swagger 2.0 REST API definitions that consume and produce XML documents, the "Generate Collection" button does not build valid requests and responses for the XML in the newly created "Collection".  Errors in

[2022-08-31 20:16] Meizygam commented on #11138
@shubhbhargav Hey, The delete works in that way. But the most important for me is to move the folder...

[2022-09-01 02:13] Konstantin-X commented on #10605
Very annoying behavior, especially since sometimes the state of the hidden description column is saved, but then something happens - and it appears again.

[2022-09-01 03:31] shubhbhargav commented on #11138
@Meizygam I see. Can we try the same thing with the move operation as well i.e.

1. Create a new folder in the other collection
2. Bulk select the children from the source collection to the new folder
3. Delete the source folder once all the elements are moved

[2022-09-01 04:02] shashankawasthi88 commented on #11224
@c0dezer019 thanks for raising the issue. We are looking into this.

[2022-09-01 05:07] postman-support commented on #11211
Yes, sure I understand it.

Is that creating a pull request always shows 0 changes even though it indeed has changes?
If yes then we would ideally recommend you to submit a new ticket with us along with the video recording and HAR logs? (Do check out the below article on how to capture browser logs for your reference.

- https://support.box.com/hc/en-us/articles/360043696054-How-to-Generate-Networ

[2022-09-01 05:46] shiveenp commented on #8195
Admire the work that has gone into postman. However, I am confused as to why there is a need for understanding "workflows" for a dev tool. Literally, most, if not all, dev tools ranging from IDEs to Text Editors these days support autosave. What's stopping Postman from implementing it?

[2022-09-01 05:46] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2022-09-01 07:22] NisanthPaulin opened #11228 "URL is deleted only in the request box but the URL is not getting clear in the "Text box above the Request URL"."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

URL is deleted only in the request box but the URL is not getting clear in the  "Text box above the Request URL".

### Steps To Reproduce

1. Open Postman
2. Enter the URL and select GET method
3. Click Enter
4. The data will sho

[2022-09-01 08:59] DerekVonk commented on #8322
+1

[2022-09-01 09:22] mottipazlazar opened #11229 "environment variable "current" value keeps being removed"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

1. I have environment set with few variables, one of them called apiKey.
the initial and current values are displayed and saved under env  tab.
2. I then have 1 request /login using few  of the env variables, including apiKey in

[2022-09-01 10:50] mottipazlazar commented on #11229
UPDATE: changing apiKey env var name to something different (e.g. "apiKey_second") , and saving it, solved the issue

[2022-09-01 11:38] madalina-gramaa commented on #5222
pretty pleaaaase, let's have this 🙏

[2022-09-01 12:07] Buyukcaglar commented on #9612
Please bring this functionality to Postman, it really would make our lives a lot easier.
Thanks.
Onur

[2022-09-01 12:21] Antonio-Bellifemine opened #11230 "Uploading Files Error Due To File Path Being Added"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have a test that is uploading a document and has been working fine up until this morning. I tried to re-upload the file and re-do the query but the issue seems that the variable is undefined due to postman creating a new direct

[2022-09-01 13:18] valn1 commented on #5548
any updates on this?

it would help a lot of people if we could generate a new jwt in the pre request script

i tried using an external library to do so, but postman doesnt help with that either, i tried implementing KJUR, but it returns errors and it's quite difficult to debug with postman console

[2022-09-01 14:37] Praveen23254 commented on #11163
Hi team, any update on this?

[2022-09-01 17:55] shubhbhargav commented on #11229
@mottipazlazar Can you confirm once if the variable `apiKey` is being used anywhere? (maybe on the collection level scripts)

If you can share the collection with this, we can debug into this further. You can share the same with us at help@postman.com

[2022-09-01 19:04] yuankaiyu commented on #10627
We use a gateway that routes traffic to the corresponding server based on a header value, so we need the header for the reflection call as well.
Well actually same situation as @MrLimelab
Please help support this feature! Thank you very much.

[2022-09-01 20:01] thoma01 opened #11231 "Changelog shows PR merged, but does not show changes or link to PR"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When viewing the changelog for a collection, the entry for merging a forked collection PR back into the base collection does not have enough information.

[code]

There is no list of chan

[2022-09-01 21:46] olaforest opened #11232 "Support pm.sendRequest in gRPC scripts."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

In HTTP requests pre-request script, it is possible to send http requests with `pm.sendRequest` to perform actions before the request (e.g. retrieve a fresh access token for authenticatio

[2022-09-01 23:16] tuan-nxcr opened #11233 "GRPC: provide option to emit default/zero/blank/empty/nil values in response"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Seeking parity with our BloomRPC workflow.

BloomRPC emits default values in its responses. `grpcurl` provides a [flag to -emit-defaults](https://github.com/fullstorydev/grpcurl/blob/8093

[2022-09-02 00:08] DannyDainton commented on #11228
Hey @NisanthPaulin

The _URL_ that you can see at the top of the request is the `name` that you have given the request when it was saved. By default, this is prepopulated with the information from the URL.

You may have seen this data getting removed from the top of the request but this would only have been while the request was in an unsaved state (never been saved to a Collection) and removing i

[2022-09-02 00:08] #11228 closed, assigned to nobody

[2022-09-02 03:00] DavidHsaiou commented on #11192
HI,
Same here

[2022-09-02 03:13] codenirvana commented on #11232
@olaforest Thanks for the feature request, it’s already on our roadmap.

Can you please share more details about your workflow with `pm.sendRequest`?

[2022-09-02 04:14] postman-support commented on #10936
Hi @bthompson104,

We tried to replicate this on our end but were unable to hit this error. Could you please share a recording of the issue along with the logs and send the same over a support ticket: https://support.postman.com/hc/en-us/requests/new - please?

We find loom.com helpful for sharing screen records.
Logs can be found as per this article here.

via @Raj-postman | Postman Support

[2022-09-02 05:57] harryi3t opened #11234 "Opening an existing request in a tab is consistently crashing"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I try to open any request in the tab it's always crashing. Also, I am seeing this error in the console `Maximum call stack size exceeded`

### Steps To Reproduce

Just try to open the request by clicking on it

### Screensho

[2022-09-02 06:47] giridharvc7 commented on #11234
@harryi3t Can you share the console logs?

[2022-09-02 07:23] hugohidalgop commented on #5681
Error of postman because the Microsoft Teams is not installed or it was installing.

2022-09-01 07:57:00> Program: Starting Squirrel Updater: --install . --checkInstall --source=default --silent --exeName=Teams.exe
2022-09-01 07:57:00> RegistryService: RegKeyExists: HKEY_CURRENT_USER\Software\Microsoft\Office\Teams does not exist
2022-09-01 07:57:01> LogHost: Write failed.
2022-09-01 07:57:01> Log

[2022-09-02 08:08] JaZo opened #11235 "Add variable for name of current environment"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No.

### Describe the solution you'd like

It would be nice if there was a variable for the name of the currently selected environment.

## Use case
I'm developing API's myself and have d

[2022-09-02 09:12] StuartHemming commented on #10591
Not only this, but the sample uses the deprecated interface `IRestResponse`.

[2022-09-02 10:27] gdollard commented on #1180
even when I try the 'code in the global env var & eval()' approach I still get the "Cannot find module" error, presumably because of the sandbox restriction. So those who say it's working for them, how so?

[2022-09-02 12:11] MisterMunchkin commented on #2515
I realized the code snippet feature too late and had to debug the hell out of my HTTP request since it was working on postman but not on C#. Any update on this?

[2022-09-02 12:43] jonatancompiani commented on #10605
Very annoying, specially when working on small screens. A feature to hide it by default would be great also...

[2022-09-02 12:55] harryi3t commented on #11234
Hey, I just tried restarting my browser and it worked.
I think I can close the ticket now. If it happens again, I can re-open with more details.
Thanks!

[2022-09-02 12:55] #11234 closed, assigned to nobody

[2022-09-02 14:24] DanielGlos opened #11236 "JSON schema validation not working."
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

JSON schema validation will fail when I do this in pre-request:

`Object.prototype.testJsonSchemaValidation = function(){ console.log("NOT WORKING!"); };`

It will produce this error when using tv4:
_Validate JSON with TV4 | Type

[2022-09-02 20:55] sksingtn commented on #9612
This feature would really help/

[2022-09-02 21:17] caciulla commented on #10684
Having the same issue reported by whiteknightjanus. Desktop version 9.30.1

[2022-09-02 23:17] shubhbhargav commented on #11235
@JaZo Thanks for sharing the feedback.

Have you tried using the `pm.environment.name` in the pre-request / test script to get the name of the environment? Assuming that the OAuth token fetching is happening within the scope of the request, this should be able to give you the environment name.

Do note that this name refers to the name of the currently selected / active environment.

[2022-09-04 10:42] hexbinoct opened #11237 "Be able to Duplicate api request when not connected to Internet."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Not being able to duplicate a request to try new functionality when I am not connected to Internet is pretty annoying. I do disconnect wifi on my laptop to save battery because i need mor

[2022-09-04 12:04] mottipazlazar commented on #11229
Hi’ I’m not sure what you mean by “collection level scripts, but I think it is not used elsewhere.

From: shubhbhargav ***@***.***>
Date: Thursday, 1 September 2022 at 20:55
To: postmanlabs/postman-app-support ***@***.***>
Cc: mottipazlazar ***@***.***>, Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] environment variable "current" value keeps being removed (Issue #11229)

@mot

[2022-09-04 14:27] c0dezer019 opened #11238 "GraphQL default values set in API GraphQL SDL definition are set to zero upon creating collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Setting an input variables default to say, a value of 10, is not taken into account when collection is generated. It is set to 0 on the collections side.

### Steps To Reproduce

1. Create a new API for GraphQL.
2. Set API defini

[2022-09-04 20:17] sandinocoelho commented on #4193
Insomnia has this feature... But I like more Postman.

[2022-09-05 05:04] akshaydeo commented on #6681
Hi @conradpronto, we will be working on this in Q4 and would aim to release it by December 2022 🙇‍♂️

[2022-09-05 06:22] Pedroprt commented on #5222
Postman is a great tool, but that's unbeliveale that this basic feature doesn't exit yet.
Please add a requests inside collection sort option.

[2022-09-05 07:30] saurabhjayant commented on #8055
Thanks for the feedback @nlwillia. We are soon going to work on the desktop tab. We'll keep you posted on that.

[2022-09-05 07:51] JaZo commented on #11235
Hi @shubhbhargav, thanks for your reply! I fetch the token in the authorization tab (see screenshot), not in a pre-request or test script. I've tried `pm.environment.name` in the "Token Name" field there, but unfortunately that doesn't work.

![screenshot](https://user-images.githubusercontent.com/3475007/188396889-c1afe855-db74-41d7-9392-1c1a61d052a4.png)

[2022-09-05 08:10] Swapnil-getpostman opened #11239 "Long workspace names are not shown completely while forking a collection."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

While forking a collection to the team or personal workspace, then the workspace which has long names is very difficult to select, and it becomes tough to differentiate the long workspace names. The current UI has half of the emp

[2022-09-05 08:11] ksenia-loseva commented on #3694
almost 5 years passed... please add this feature! would save lots of time

[2022-09-05 08:39] madhukiranR commented on #1704
how to  use this?

[2022-09-05 09:25] Smitzel commented on #2906
Any updates? This goed on for years... Must not so hard to fix permanently

[2022-09-05 09:48] Efim27 commented on #6682
+1

[2022-09-05 09:52] domrycz commented on #10020
I have exactly the same issue. The PUT request using curl and **--data** works but exactly the same request via postman (and thus with **--data-raw** or **--data-urlencode**) is not working. It is not possible to change it to use --data

[2022-09-05 15:27] uschwag opened #11240 "gRPC request does not use metadata field x-filter-fields=false"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Since updating from v9.30.1. to v9.30.3 I recognize that metadata field x-filter-fields=false anymore.
It works with gRPCUI and I can still request all fields by explicitly referencing them.

### Steps To Reproduce

1. Any gRPC r

[2022-09-05 15:28] ilkyy opened #11241 "Postman crashes when socket.io client connecting"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

i am trying to connect socket.io java server(spring boot with socket.io-server for java) with socket.io client but postman crashes suddenly. i got an error in main.log:

[32577][1662390869082][main][error]["Main~handleUncaughtErr

[2022-09-05 17:32] edemen commented on #3466
+1

[2022-09-05 18:09] codenirvana commented on #11241
@ilkyy Thanks for reporting this issue.

I can reproduce this issue when the server responds with a non-standard HTTP status line during the handshake.

[2022-09-05 18:15] codenirvana commented on #11240
@uschwag Can you share an endpoint that we can use to reproduce this issue? Or, share the screen recording demonstrating the issue.

[2022-09-05 18:59] robertgzr commented on #5816
The good news first: we have a preview build we can share today:
https://drive.google.com/file/d/1Ufvpra2td1ViKZf0PKz4AN_BrGheRTRa/view?usp=sharing

Please check it out and let us know if you're facing any issues with it!

The caveat is, that this still doesn't work when running Linux on bare-metal Apple Silicon (via Asahi Linux). We know what the issue is though and are working on this in a separ

[2022-09-05 19:07] jviotti commented on #5816
To provide some back story: the Postman application is based on Chromium. While Chromium supports Linux for ARM for a long time, Apple Silicon is not just arm, and it ships with some slight differences around memory page sizes that make some software like Chromium break. See https://chromium.googlesource.com/chromium/src/+/a704c3a94179e6f3abb28f090d096ced72657d7c for more details.

While we have b

[2022-09-06 03:02] jeff-anderson-cscc commented on #5816
I downloaded the beta release and tried to run it on Ubuntu 22.04 arm64 under Parallels on my Mac M1 and I got a core dump:
[code]

[2022-09-06 06:01] RaisinTen commented on #5816
That crash seems to be coming from https://source.chromium.org/chromium/chromium/src/+/refs/tags/100.0.4896.160:ui/gfx/x/generated_protos/xinput.cc;l=6453 which would only happen if we are using a debug build. @robertgzr could you share a release build instead? That would probably be less crashy.

[2022-09-06 06:36] bhautik-domadiya commented on #3777
+1

[2022-09-06 07:34] uschwag commented on #11240
No, I can't share an endpoint due to security and to share a screen recording does not show something because now the data isn't coming back and I can't reach older versions. Is it possible to see in logs what metadata is exactly send?

[2022-09-06 07:51] codenirvana commented on #11240
@uschwag I used an echo endpoint, and the metadata is sent correctly.

![Screenshot 2022-09-06 at 1 13 14 PM](https://user-images.githubusercontent.com/4865836/188576381-9bb90e4a-c266-48ad-ab32-31d9b5f10aa3.png)

Also, there's no change in the gRPC request sending flow in v9.30.
Can you check if this behavior change is on the server side?

[2022-09-06 09:18] jagan123 commented on #4823
Upvoted. We have soap APIs and REST APIs. These are two different collections. Similarly, got different product with their own teams and API collections. It'd be great to have those in their own paths under same subdomain.

[2022-09-06 09:19] mihir-epifi commented on #6682
+1

[2022-09-06 09:19] thomafred commented on #7794
+1

[2022-09-06 10:20] uschwag commented on #11240
@codenirvana, it could indeed be also a server change but using GRPCUI as client still works. Need to do further investigation.

[2022-09-06 13:56] merlinpatt commented on #6999
Is there an ETA when this behavior will be corrected?

This issue has been open for 3 years, so it's a bit baffling that this is still an open issue. Can someone explain why it's taking 3+ years to add a simple toggle?

[2022-09-06 14:17] tonyrsutton commented on #4576
Bumping this up... we also need something that we can deploy across network to many PCs. A MSI installer that allows me to install it in Program Files folder would be awesome.

Thank you.

[2022-09-06 15:44] vizakgh commented on #5980
v9.31.0 - not fixed.

[2022-09-06 16:51] clairefro opened #11242 "[feature request] Service API Keys"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Automating workflows with Postman's API currently requires personal API keys. These are difficult to manage when someone leaves a team or the API Key needs to be changed for security issu

[2022-09-06 18:17] trevordunn opened #11243 "Variables used for Basic Auth's username/password fields don't get replaced"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using variables for Basic Auth in requests or collection Authorization settings, they don't get replaced with the variable's value, but get used as the literal username/password.

### Steps To Reproduce

1. Create a new coll

[2022-09-06 18:31] DannyDainton commented on #11243
Hey @trevordunn

Can you provide some visual examples of what you're seeing in the UI, please?

It make it easier for us to _see_ what's in front of you and investigate any issues.

[2022-09-06 19:51] trevordunn commented on #11243
Sure. The steps are pretty simple, but here's a screen recording:
https://user-images.githubusercontent.com/1427463/188725809-05e2c216-7b2e-45ef-824b-960d905dab83.mov

[2022-09-06 21:25] vieiraes opened #11244 "Ability to insert the timestamp in saved examples"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

A feature

Today we can save our responses but we can't know when was saved its example. To compare versions of response contracts A ability to set the datetime of the resnponse saved sho

[2022-09-06 21:28] DannyDainton commented on #11243
Appreciate you creating that, might be simple but we might notice different things when seeing it.

As none of those things (Collection/Request) are saved, what happens when you save them?

[2022-09-06 21:31] DannyDainton commented on #11243
This actually looks like a duplicate of an open issue

https://github.com/postmanlabs/postman-app-support/issues/10734

[2022-09-06 21:34] trevordunn commented on #11243
Saving doesn't change anything. The bug still persists.

[2022-09-06 21:34] trevordunn commented on #11243
And yeah, looks like it is a duplicate of #10734

[2022-09-06 21:38] DannyDainton commented on #11243
I'm going to close this one and track everything over there to keep the information in a single place.

Thanks for reporting!!

[2022-09-06 21:38] #11243 closed, assigned to nobody

[2022-09-07 04:02] rmohan25 opened #11245 "Unable to load my postman, shows "Unable to load workspaces""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Have been facing issues with loading my postman and their requests. shows "Unable to load workspaces" and I am unable to access any of the requests. This is blocking

### Steps To Reproduce

Open postman and access workspaces. sh

[2022-09-07 04:43] rmohan25 commented on #11245
Multiple restarts are done. No use
________________________________
From: Numaan Ashraf ***@***.***>
Sent: Wednesday, September 7, 2022 10:13 AM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Ramya Mohan ***@***.***>; Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] Unable to load my postman, shows "Unable to load workspaces" (Issue #11245)

@rmohan25 Could you restart you

[2022-09-07 08:48] kokrnl commented on #4968
This would be super helpful to keep environments dry!

[2022-09-07 08:57] jmeijering opened #11246 "Merge changes failed "There was an error fetching diff""
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have created a for of an environment and started to reorder some variables. It all worked fine till I tried to move variables above a specific variable belowe that one. At that moment I got the error fetching diff.

I can't fin

[2022-09-07 12:42] michael-schantin opened #11247 ""Close Other Tabs" option not responding"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Similar to issue 11123 which was closed as done I still encounter the same problem. Sometimes after executing a query, the option _Close Other Tabs_ no longer works. Restarting Postman fixes this.

### Steps To Reproduce

Open mu

[2022-09-07 13:31] kristytoman commented on #10953
Hi,
I just ran into this issue and I had a similar problem but I don't know if this is your case too.

You're talking about setting example to 1 but have you considered setting the minimum value in the schema definition?

Here's mine in YAML:
[code]

Take care!

[2022-09-07 15:09] WendySclerandi commented on #5067
Any updates on this bug?

[2022-09-07 15:14] ralphv commented on #9712
Any work being done on this? Very important, makes things much easier. Similar to JMeter.

[2022-09-07 15:31] nrmartell opened #11248 "Postman API Endpoint to Pull All Created Webhooks"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When you create a webhook using the Postman API, you receive all of the details for the webhook like the URL and id. After this, there is no way to track down this information if it is no

[2022-09-07 20:08] tcartwright commented on #4660
+1 on this. I know this is old, but I have a need for this as well. I dont even need it added to the UI, if I could just script it.

[2022-09-07 20:24] tcartwright commented on #4660
I would love for the devs to try deleting a couple hundred environments, and tell me this feature is not needed. Clicking confirm on each one, and then the scroll bar bounces around and you lose your spot each time? It is pretty infuriating.

[2022-09-07 21:14] tcartwright commented on #4660
My workaround since I am on a cloud account:

- Export EVERYTHING (collections / globals / mock servers / flows / etc,,, )
- Create new workspace
- Import everything exported before
- Import new / updated environments
- After verifying new workspace is good, then delete old workspace and rename new one

[2022-09-08 04:10] atljoseph commented on #4660
I think they want us to use a different product. Like reverse advertising.

Sep 7, 2022 5:14:51 PM Tim Cartwright ***@***.***>:

* > Export EVERYTHING (collections / globals / mock servers / flows / etc,,, )
* > Create new workspace
* > Import everything exported before
* > Import new / updated environments
* > After verifying new workspace is good, then delete old workspace and rename new one

[2022-09-08 06:47] JaZo commented on #11235
Thanks, I've tried that, but unfortunately it doesn't work. It looks like the pre-request script doesn't run for authorization requests.

[2022-09-08 08:32] luke-belton commented on #8870
This feature would also be handy for APIs that impose a payload size limit - for larger payloads all the extra whitespace can considerably increase the payload size. The beautify feature is great for doing minor edits of the payload before making a request, but it would be good to then be able to reverse that!

[2022-09-08 08:37] luke-belton commented on #10438
This feature would be great - cross posting https://github.com/postmanlabs/postman-app-support/issues/8870 which is closed for some more background.

[2022-09-08 09:20] Dhembla commented on #8502
@bmccreath @rproman Collections variables are now supported on mock servers. You can specify collection variables in your examples, and the mock server will resolve them while returning the response.

[2022-09-08 11:36] at-besa commented on #2452
i bump this again as it is a must have for todays clients

[2022-09-08 12:28] guyver30 opened #11249 "Parse response from websocket request and save into variable"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

no

### Describe the solution you'd like

Sometimes it's necessary to save part of a json response of a websocket into a variable, to be used for other websocket requests (ex session_id)

[2022-09-08 12:47] #11249 closed, assigned to nobody

[2022-09-08 13:15] idiked commented on #10020
Same issue,
Request with **--data-raw** not working, but with **-d** or **-data** request by curl is working

[2022-09-08 13:50] jcfore21 commented on #2701
+1

[2022-09-08 15:27] cadesparois commented on #4193
I need this feature too!

[2022-09-08 15:57] mattbangert commented on #7494
+1

[2022-09-09 02:38] bayucandra commented on #10092
Was quite a long time wondering that this feature exist. I thought it was just me who can't find this simple feature, was expecting there is a button to clear the response :smile:

[2022-09-09 04:39] shamasis commented on #10968
Hello @cdbyrd, It will be cool if you give the automatic mocks a spin.

https://blog.postman.com/postman-mocking-magic-for-grpcs/

[2022-09-09 04:39] #10968 closed, assigned to JoshuaWise

[2022-09-09 04:56] postman-support commented on #10936
Hi, **@bthompson104** **@psawant2022 @mrhouzlane -** Just checking to see if you are still facing issues importing code from the repository. If yes, please do share details as requested in our last response ^ to help us check further from here.

via @Raj-postman | Postman Support

[2022-09-09 05:13] patricksouth opened #11250 "Export "Mock Server Call Log" as JSON"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Select one or more entries that appear in the "Mock Server Call Log" and export as JSON to file.

![image](https://user-images.githubusercontent.com/10768324/189248179-96d94cd9-e2a0-47cf-

[2022-09-09 06:16] NicoHaase commented on #9573
According to https://snapcraft.io/postman, v7.36.5 is the default version to be installed. Is there any chance to change this? Also, users who installed v7 don't receive any updates. They have to change the track manually to receive a new version - is there any good reason for this?

[2022-09-09 07:19] shamasis commented on #11183
@vikiea we are working on being able to save your requests as examples that you can use from a quick dropdown menu beside the "generate example message" button.

Something like this
<img width="664" alt="image" src="https://user-images.githubusercontent.com/232373/189293879-4e9268c6-f0bf-48a1-9858-d15f6de4603c.png">

[2022-09-09 09:01] Dhembla commented on #11250
Hey @patricksouth, You can use [Call logs API ](https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-f25efa16-1813-4279-8a89-a94ba968533e) to get the desired data. Please give it a try and see if it solves your use case.
Thanks 🙇

[2022-09-09 11:42] shiva2021 commented on #10185
same issue with Version 9.20.0-canary

[2022-09-09 11:50] ashishworkspace commented on #1321
First we need to connect to remote terminal with our localhost via SOCKS5
Command: `ssh -f -ND 1080   <user-name>@<ip>  -i  <private-key>`

Secondly we need to access socks over http protocol
Command: `hpts -s 127.0.0.1:1080 -p 8080`

Lastly, we can proxy our request through postman  by changing the proxy setting in postman

![image](https://user-images.githubusercontent.com/70542481/189343012-f66

[2022-09-09 11:55] WykhoW opened #11251 "Runner file upload filters by default on .json files"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Couldn't find the .csv file I wanted to upload in postman runner.

Took me a moment, as I was only seeing many folders listed, to figure out there was a file-type filter applied with value "`Custom files (*.json)`" at the bottom

[2022-09-09 11:58] wjonkerhulst commented on #11113
What is the status? I have this issue still on version 9.31.0.

Not every developer has a super large display. I encounter this issue when splitting the screen, e.g. on the left half of the screen postman on the other half of the screen a browser window.

[2022-09-09 13:36] thomas-lm commented on #903
+1

[2022-09-09 13:46] rmnrdi commented on #903
I know we're at the 7 year point, but why not...
Since PM is essentially a web page (even more so with the latest offering) it may be pretty easy to just create a simple css overlay with user changeable opacity that designates your environment.

[2022-09-09 13:47] DannyDainton commented on #11245
Hey @rmohan25

Are you still facing this issue?

[2022-09-09 13:49] deividas-pelakauskas opened #11252 "Export collections with WebSocket and gRPC requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

There is no ability to export a collection with WebSocket requests.

### Describe the solution you'd like

An ability to export a collection as a JSON file with WebSocket requests the sam

[2022-09-09 13:52] DannyDainton commented on #11247
Hey @michael-schantin

Is this still an issue for you? Not sure which option you mean by `Close Other Tabs`.

Can you share a short video of the behaviour you're seeing, please?

[2022-09-09 14:02] codenirvana commented on #11252
@deividas-pelakauskas Thanks for the feature request.
Collections with WebSocket and gRPC requests have limited functionality for now. We are tracking this internally.

Can you also share your workflow with the exported collection JSON?

[2022-09-09 21:50] FuadEfendi opened #11253 "Cannot load workspaces for corporate (paid) client in AWS WorkSpaces; but dedicated PC works fine"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Using corporate account (licensed to 50 users), this URL doesn't load:
https://ABC-Foo.postman.co/workspaces

At the same time, my personal workspace loads fine:
https://XYZ-Bar.postman.co/workspaces

Other team members with AWS

[2022-09-10 06:46] stevegroom opened #11254 "after opening a tab in a new window the first window's tabs are empty"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I wanted to have a side-by-side comparison of two tabs. So I was happy to find there is multiple window support. The second window opened ok, the first window was not changed until I opened a new tab in the second window. Then my

[2022-09-10 10:57] maradanasai commented on #6682
++1

[2022-09-10 14:29] henryobiaraije commented on #4594
I just updated to version 9.13.3 and started noticing this pixelation effect.

However, setting the environmental variable POSTMAN_DISABLE_GPU=true does solve the problem for me.

[2022-09-11 14:51] Webby28 commented on #6780
Facing the same issue. I  tried everything but it's not working.

[2022-09-11 16:52] shubhbhargav commented on #11235
I see. That functionality does not exist for the OAuth flows. We will track it as a feature request.

[2022-09-11 22:02] Webby28 commented on #7171
Same issue here.

[2022-09-12 02:46] fw-kgrove opened #11255 "Unicode parsed only in Pretty JSON view"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The `Pretty` JSON view port is parsing unicode emojis that are displayed, where `Raw` & `Preview` still display the unicode for the emojis.

### Steps To Reproduce

Make a `GET` request to an API that you know will have emoji uni

[2022-09-12 06:06] postman-support commented on #11253
Hi @FuadEfendi
Thank you for reaching out.

I understand that accessing both team workspace and personal workspace under VDI and PC fails loading, Is that right?

Could you please help me with the exact error message that you see while accessing your workspace in the VDI Amazon WorkSpace(cloud-based virtual desktop)?
Screenshots would be great!

Do you have any type of VPN or proxy in use that cou

[2022-09-12 07:16] ihsan6133 opened #11256 "Typo in console"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

If response body is more than 10kb, the message shown is "The console only response bodies smaller than 10 KB inline. To view...",
It should be The console only **shows** response bodies..."

### Steps To Reproduce

1. Open a new

[2022-09-12 09:27] fd6130 commented on #8195
Imagine you play a game for hours and just realize the game have no autosave feature...

[2022-09-12 09:30] akshay-kulkarni-03 commented on #9896
@praveendvd we have fixed this issue! Would request you to use the latest version of the app if you're using standalone app!

[2022-09-12 09:30] #9896 closed, assigned to akshay-kulkarni-03

[2022-09-12 11:36] kbrowns commented on #8195
The pangs of using Postman without auto save are many.  You can easily get into a state where you don't understand how the request in the console is produced.  Why is that header wrong?  Oh, didn't save the environment.  Or, oh... didn't save the collection settings.  Oh, I have multiple tabs open unsaved and now in conflict.  Look at this from the other angle:  what value does NOT autosaving prov

[2022-09-12 13:51] danobri opened #11257 "display binary data in logs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No - the current feature set just makes troubleshooting issues more difficult.

### Describe the solution you'd like

Currently when submitting a binary request (file upload) the Postman

[2022-09-12 14:35] Sigtechnica commented on #3694
pretty sure this thread is set to ignore :see_no_evil:

[2022-09-12 14:46] STeeL835 commented on #3694
We've had: https://github.com/postmanlabs/postman-app-support/issues/3694#issuecomment-1157496060

Unfortunately I didn't set up a call with them, because now I'm working in another place where we don't use Postman at all (at least yet - the openapi spec is generated by Swashbuckle and in a multiple services environment it's easier for us to just use swagger page than to write scripts that would r

[2022-09-12 16:02] riaz opened #11258 "Duplicating a request, creates a new request but does't copy contents"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I was liking using PostMan until I found out that when I try to duplicate a request on postman, it simply creates a new request without copying the contents which is not what one would expect when clicking duplicate.

### Steps T

[2022-09-12 16:06] lmrvale opened #11259 "Test runner - set array from json data to request body not happening"
### Describe your current workflow

POST API : http://xpto/create

I have some arrays inside other arrays. And when I send several messages, I get integration error (BAD DATA)

![image](https://user-images.githubusercontent.com/113370792/189701793-521127fd-a217-4cfb-9857-39f8ad42c4b6.png)

How can I resolve this to be able to send the messages?

### Describe your ideal workflow

I need postman to

[2022-09-12 20:23] fabsdevops opened #11260 "Postman 9.18.3 how to enable disable the TLS for grpc requests"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

How can I enable /disable TLS for  URL requests

### Steps To Reproduce

1 . No lock button to enable or disable tls for postman grpc beta requests

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/72

[2022-09-12 20:31] olaforest commented on #11232
Our gRPC APIs require to send a JWT token in the metadata of each requests for authentication and authorization purposes. For security reasons, the TTL on the tokens is very small, hence, when developing those APIs, it's very cumbersome to keep having to generate new tokens and having to manually update them in Postman environment/global variable(s). I'm trying to create a pre-request/before invok

[2022-09-12 20:39] appurva21 commented on #11260
Hey @fabsdevops ! Can you update your Postman app to the latest version and try again? You should see the TLS toggle adjacent to the URL input. You can also head over to our [Learning Center](https://www.postman.com/downloads/) to know more about working with TLS in gRPC request.

[2022-09-12 23:03] strongpapazola commented on #8574
when i install postman for the first time
```the code execution cannot proceed because ffmpeg.dll was not found```
this error show
when i install chrome and install postman again, it's works for me

[2022-09-13 05:45] shubhbhargav commented on #11258
@riaz I tried reproducing the issue but wasn't able to. Can you please share a recording of the same?

[2022-09-13 07:33] AhmadFazliIsmail commented on #5816
Thank you. Working fine for my Fedora 36 in Macbook Pro M1

![Screenshot_20220913_152914](https://user-images.githubusercontent.com/8059696/189839171-12274bd3-92f3-427e-aa44-f5a15514998a.png)

[2022-09-13 09:21] thefishermanhacker opened #11261 "New Relic integrations failed to configure Monitor API performance"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Postman offers two ways to configure the New Relic integrations:
1. Monitor API performance.
2. Post monitoring results.

The integration located below:
https://<YOUR_SUBDOMIN>.postman.co/integrations/service/apm_new_relic

I tri

[2022-09-13 12:20] cherry-wave opened #11262 "Secret Environment variables shown in plain text in request body (raw)"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I define a secret environment variable it is shown in plain text in the tooltip when using it inside a request body, type raw.

### Steps To Reproduce

1. Create a secret environment variable
2. Create a request
3. Go to Bod

[2022-09-13 12:25] DannyDainton commented on #11262
Hey @cherry-wave

Could you expand the image so that we can see the tab state for the environment, please?

Was the variable already saved in the environment file and you switched it to `secret` without saving again?

[2022-09-13 12:34] cherry-wave commented on #11262
Sorry, I don't know what you mean by "tab state for the environment" but I hope I expanded the image as far as you need:

![Bildschirmfoto vom 2022-09-13 14-30-54](https://user-images.githubusercontent.com/16615617/189901556-2851bf82-f808-4a0e-9296-2318e26ab401.png)

As you can see I just created this new variable "my_secret" with value "variable" and switched it to "secret" and then saved the env

[2022-09-13 16:49] elchappo commented on #4875
+1

[2022-09-13 16:58] kuhajeyan commented on #4968
Yes plz

[2022-09-13 17:00] shashankawasthi88 commented on #11261
@thefishermanhacker can you ensure that you put the User-API-key and not the INGEST-LICENSE key in the 'Monitor API performance - https://docs.newrelic.com/docs/apis/intro-apis/new-relic-api-keys#user-key
In the 'Post monitor result' form, we need the INGEST-LICENSE key.

[2022-09-13 17:17] vieiraes opened #11263 "Ability to sort examples by ASC or DESC"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

not a problem

### Describe the solution you'd like

Having the ability to sort examples by ASC or DESC, these can be manually dragged and dropped into the correct order but a single butt

[2022-09-13 17:34] srudolph-credera opened #11264 "Remote Postman Agent"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I work in a remote headless environment and cannot use Postman for the Web to directly access a Postman Desktop Agent in that remote environment.

### Describe the solution you'd like

I

[2022-09-13 18:22] xmontero opened #11265 "Enable per-request proxy settings and/or a general array of proxies selectable without having to restart."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I've been using Postman for years. But this month I've had to play around a lot with proxies. Switching them on and off and changing across multiple ones.

Imagine you regularly access 2

[2022-09-13 18:48] thefishermanhacker commented on #11261
@shashankawasthi88 with User-API-key it worked.
I guess the only bug here is in the UI which should notify/alert that it needs the User-API-key and not the INGEST-LICENSE.

[2022-09-13 23:26] reisvoll commented on #8322
+1

[2022-09-14 02:27] zakwear opened #11266 "Support specifiedBy directive"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

specifiedBy directive is not recognized.

### Steps To Reproduce

1. Create a graphql API.
2. Go to Definition.
3. Paste in GraphQL SDL.
4. Use a specifiedBy directive.

### Screenshots or Videos

Github is not cooperating with p

[2022-09-14 04:50] shashankawasthi88 commented on #11261
Agreed, well update the UI. Closing this for now. Thanks

[2022-09-14 04:50] #11261 closed, assigned to shashankawasthi88

[2022-09-14 05:04] Sanjay500-500 opened #11267 "SOAP API doesn't create collection on POSTMAN but works on SOAPUI"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Hi I am trying to create collection for this particular wsdl file- https://service4.ultipro.com/services/BiStreamingService? . But the file works fine on SOAPUI. Can anyone explain what I am doing wrong here?

### Steps To Reprod

[2022-09-14 05:11] michael-schantin commented on #11247
The issue persists. How to reproduce:

- Right-click a request tab
- Choose **Close Other Tabs**

<img width="427" alt="CloseOtherTabs" src="https://user-images.githubusercontent.com/34416401/190064729-53fab03d-2bcf-4ec2-9b92-0d300f567666.png">

[2022-09-14 07:01] Raj00377 opened #11268 "Showes boxes when selecting files"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Im using postman app v9.31.5 in Ubuntu 20.04.5 LTS. while selecting files in form data section it shows boxes

### Steps To Reproduce

Select files in form data

### Screenshots or Videos

![Screenshot from 2022-09-14 12-28-09](h

[2022-09-14 08:04] adhamgithub commented on #5980
I uninstalled Postman, and deleted the files related to it in the Roaming directory
Reinstalled and it worked fine

[2022-09-14 12:12] ye-fujin commented on #6682
+1 ;)

[2022-09-14 12:18] IrynaStep commented on #6682
+1

[2022-09-14 13:21] jviotti commented on #11268
Hi @Raj00377 ,

Thanks for reporting this! Are using Snaps by any chance? A while ago, we dug into this (see https://github.com/postmanlabs/postman-app-support/issues/10449) and identified that this is an upstream issue with Snaps themselves.

While we cannot fix the issue from our side, there are various workarounds discussed in the Ubuntu issue tracker (https://bugs.launchpad.net/ubuntu/+source/

[2022-09-14 13:21] #11268 closed, assigned to nobody

[2022-09-14 14:02] maticardenas opened #11269 "Postman API - Schema Security Validation: 5xx response codes"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When trying out the Schema Security Validation API (https://api.getpostman.com/security/api-validation) for an OAS file, I see that I get multiple warnings with:

[code]

This currently is thrown for almost all of our OAS as we d

[2022-09-14 16:24] AppbindScott opened #11270 "Publish from Open API spec"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Need a complete set of API documentation.

Here was my support request:  https://support.postman.com/hc/en-us/requests/117332

### Describe the solution you'd like

We have our APIs docum

[2022-09-14 16:33] alexiscrack3 commented on #7083
+1

[2022-09-14 20:07] mborrus commented on #7348
+1

This functionality would cut down on making redundant collections for testing

[2022-09-14 23:11] TaDahCorp commented on #6452
@Suhas-Gaikwad you mentioned MFA will release "in September 2022" on Aug 1.  Even SMS will do.  Are you still on target?  Now that our security officers read CISA bulletins, they are circling like vultures around the developers' offices... ;-)

[2022-09-14 23:42] david-idelji commented on #6682
I'm wondering why this feature is still not implemented.. After 5 years!!

[2022-09-15 04:33] Raj-postman commented on #10936
Marking this as `Closed` since we did not hear back on the issue.

[2022-09-15 06:01] wilkovanderveen commented on #8231
Am I doing something wrong in my backend api, asking the user to provide the id_token instead of the access_token? My proof of concept works, but postman does not have the option to use the id_token instead of the access_token. Should I change my API to require both the id_token and the access_token? because I dont want to have an extra call from the API to the IDP to request the userinfo (how wou

[2022-09-15 07:50] BenoitDdlp commented on #8226
up

[2022-09-15 08:28] rafi0101 opened #11271 "Multiple saved identities for a collection/request"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

It is not a direct problem

### Describe the solution you'd like

I am developing a golang application and using postman to access the rest api.
My application runs in different environme

[2022-09-15 09:23] TeymurovFuad commented on #10928
Same here

[2022-09-15 12:11] adhamgithub commented on #5980
@vizakgh @shanky101 what I discovered that the Postman creates IndexedDB in the Partitions within the profile folders related to the user running the app, and when this IndexedDB increases in the size the Postman reaches the out of memory issue
Ex: on my PC this was the path of the IndexedDB "C:\Users\[MY USER]\AppData\Roaming\Postman\Partitions\**_ccd1a31f-0851-4cc7-ad02-39f7f9dd590d_**\IndexedDB

[2022-09-15 12:47] andrewbezzina commented on #4898
agree , i can even figure out how i can select multiple lines, ist that related tot he tick box ?

[2022-09-15 15:24] zzFluke commented on #8231
@wilkovanderveen you can read some info here - https://auth0.com/blog/id-token-access-token-what-is-the-difference/, however I've seen commercial IdPs to disobey this practice and recommend id_token to be used by Resource Server - https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-the-id-token.html. Anyway, I still believe that Postman can have this flexibili

[2022-09-15 17:25] milad-kamali opened #11272 "Auto detect theme"
### Is there an existing request for this feature?

- [x] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Please add auto detect theme feature to postman to change theme according to windows theme.

### Describe alternatives you've considered

_No res

[2022-09-15 17:31] vieiraes commented on #4690
happy 4 years of a super-useful feature required without updates!
congrats Postman community team!

[2022-09-15 18:32] ScottFN commented on #10852
Deleting and re-registering the account is not a reasonable solution. Perhaps a of warning that one is opening a public workspace that is going pollute the environment would be good as well

[2022-09-15 22:18] DannyDainton commented on #11272
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5817

[2022-09-15 22:18] #11272 closed, assigned to nobody

[2022-09-16 04:33] jonkight opened #11273 "Present google.protobuf.Timestamp as Readable Timestamp"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When using the new gRPC support, I noticed `google.protobuf.Timestamp` fields are rendered as nanos / seconds instead of a human readable format (e.g. ISO 8601). This makes it really hard

[2022-09-16 05:34] tgross35 opened #11274 "Gentle suggestion: consider switching from Electron to Tauri"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

The Postman application is quite large. It's not the end of the world, but ~500 MB is still quite a lot for a mostly frontend app, and a fair chunk of that size comes from Electron

### D

[2022-09-16 06:51] ChrisEt commented on #9557
I know, "me too" posts are frowned upon, but I'd like to add additional details:

We have the same problem here - although we are all German-speaking and our systems are set to German language, we document our code and especially our APIs in English. Postman's spell checker marks almost every word as a typo. That means the built-in spell checking is the opposite of what is intended: instead of bei

[2022-09-16 06:54] SoiTrang opened #11275 "Visualize result tab freezed after switch to another window"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Visualize result tab freezed after switch to another window and switch back, cannot interact with data, scrollbar stuck, ...

### Steps To Reproduce

1. Make a request with visualizer script enabled.
2. After receive response, sw

[2022-09-16 06:57] webdkmfs commented on #8920
+1

[2022-09-16 08:10] jakobmollas commented on #10712
If possible, it would be great if Grpc-Web support would also be able to get definitions using server reflection.

[2022-09-16 09:52] tobias-maslowski opened #11276 "Pre Request script POST missing body"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

A pre-request script that sends a post, is being sent without body in the desktop app. The body is send attached to a request sent subsequently.

### Steps To Reproduce

I have a pre-request script on collection level, that sends

[2022-09-16 10:40] yadunandanbhat opened #11277 "Single backtick code block text is kinda smaller than its normal counterparts"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

See the below image for an example. And no my zoom size is 100%, so there is no zoom issue.
I think the single backtick code block's text size should be increased in ratio to be on the same level as the regular text.

### Steps T

[2022-09-16 10:48] mariuskuehnast opened #11278 "Postman does not show gRPC response fields with false boolean value"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When a gRPC request returns a field with a false boolean value, that field will not be shown. Boolean fields in responses seem to only show up if their value is true.

### Steps To Reproduce

1. Create a new gRPC request
2. Set s

[2022-09-16 11:18] nuwand commented on #10640
Now that gRPC support is available in Postman, is there any update on the availability of gRPC support on Newman?

[2022-09-16 12:16] dcstamps commented on #6105
All my collections stopped syncing since early this year.  No matter how many times I remove and then re-add the integration, it still won't sync.  Not useful to our organization at all now, we plan to look for another test tool.

[2022-09-16 13:41] jviotti commented on #11274
Hi @tgross35 ,

Thanks for the suggestion! I do feel your pain and we have indeed experimented with alternatives :)

Tauri looks great, but the main deal breaker here is that the process orchestrating the web views has to be written in Rust. As you might imagine, the corresponding JavaScript-based Electron main process implementation we have at Postman right now is pretty large, and would be very

[2022-09-16 13:41] #11274 closed, assigned to nobody

[2022-09-16 14:48] tgross35 commented on #11274
Understood, thank you for the detailed follow up!

[2022-09-16 15:10] DevKica commented on #8322
+1

[2022-09-16 16:55] EvertonMJunior commented on #6452
Got the Postman v10 e-mail and thought it would include MFA. Nope...
Will you be able to release it this month?
@Suhas-Gaikwad

[2022-09-16 17:31] alekdavis opened #11279 "Console messages are always enclosed in double quotes"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When I use console output functions, such as `console.log`, `console.info`, etc., the output messages always get printed enclosed in double quotes. For example, the following code:

[code]
will produce this output:

[code]

I'm n

[2022-09-16 19:38] ramji367 commented on #10852
We are thinking of fixing this issue by allowing you to favorite workspaces. These favorite/bookmarked workspaces will remain in-place at the top even as you visit other workspaces. This is one of the items we will be working on next.

[2022-09-16 21:45] JohnCover opened #11280 "Console View: Add 'Show raw log' when there's a parse error"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

![image](https://user-images.githubusercontent.com/16791747/190799357-074c3ad6-6d4b-490a-9e5c-e68154ace2ca.png)

There's presently no option to see the raw data sent back from the server

[2022-09-16 22:23] hurrycaner commented on #8929
This feature request made 2 years anniversary... looks like this thread is not being considered for any development roadmap... sad

[2022-09-16 22:25] ramji367 commented on #6681
We recently launched Partner workspaces which provides the ability to share specific workspaces - containing collections, documentation and other elements - with external partners. Partners need to be explicitly invited and sign in with a Postman account to access the workspace. Check out the blog here: https://blog.postman.com/introducing-partner-workspaces/

Please reach out using [email](ramji.

[2022-09-17 07:14] rnhurt commented on #6681
Excellent!  Do these "partners" count against the user count or are they free?

[2022-09-18 08:08] mottipazlazar commented on #11229
Any update please?
Any workaround please?

we can have an online session if it helps.
thanks

From: מוטי פז לזר ***@***.***>
Date: Tuesday, 6 September 2022 at 6:26
To: postmanlabs/postman-app-support ***@***.***>, postmanlabs/postman-app-support ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] environment variable "current" value keeps being removed (Issue #112

[2022-09-18 08:54] #11229 closed, assigned to shubhbhargav

[2022-09-18 08:55] mottipazlazar commented on #11229
Hi,
Sorry for the trouble - my bad.
I had some leftover test script that removed this value.
Closing the issue

[2022-09-18 08:56] myalgomate opened #11281 "Issue After upgrading Restsharp version"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

C# Restsharp no longer support IRestResponse

The code we get from postman is not valid when used with Restsharp version 108

### Steps To Reproduce

Code in Rest sharp version 106.12.00
using System;
using System.Collections.Gen

[2022-09-18 18:29] SampsonCrowley commented on #8047
how is this not already a feature in 2022

[2022-09-18 21:21] m4heshd commented on #9505
Just simply allow the users to change the `html` and `body` background color of that `webview` element.

[2022-09-18 23:03] ramji367 commented on #6681
Partner workspaces is an Enterprise plan feature and each team will get 5 partner licenses to try it out. Beyond that you can do one of the following:

- If you are already on the Enterprise plan, please reach out to your Postman Customer Success manager
- [Turn on auto-flex](https://blog.postman.com/introducing-auto-flex-for-teams/) for flexible, automated billing or
- [Get in touch](https://www.

[2022-09-19 05:01] sseenivasan89 commented on #10935
much needed feature, its hard to go to each tab and save the changes

[2022-09-19 05:38] Karmalakas commented on #9505
It's been more than a year.. How difficult it is to add some CSS... 🤦‍♂️

[2022-09-19 08:09] Sahandi81 opened #11282 "Postman limit"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Why Postman workspace in unavailable for Iranians?

### Steps To Reproduce

1. open workspace with my nurture IP and I get an error (unable to load)
2. change my IP to Europe and everything is done right.

### Screenshots or Vide

[2022-09-19 13:25] arobert-attraqt commented on #11278
I have the same problem with boolean values that are on the top-level message.
[code]
But when I have it nested in another message, it is displayed.
[code]
My system information:
[code]

[2022-09-19 14:26] 365cycle commented on #8038
Also running into this issue with a few customers who are not allowed to use NTLMv1 anymore (obligations from security auditor which are required to get the audit signed off).

Time to fix this Postman! I'll be trying Insomnia for now...

[2022-09-19 17:04] jsiragusa commented on #8231
also same use-case as @AndreasHuber-CH.  @giridharvc7 I am happy to meet with you to describe in more details if that is helpful, just let me know.

[2022-09-19 20:15] vlad3942 commented on #4968
It would be very helpful not only for combining environments and type of tests but any other orthogonal namespaces, like set of business logic constants. Also our tests are interacting with multiple sources and destinations and their combination is much more then n*m.

@malvikach
Please, pay attention.

[2022-09-20 07:35] postman-support commented on #11282
Hi **@****Sahandi81****,**

We have verified with our team and can confirm there are no blockers of any sort from Postman's end for Iran users.

Since this issue is only affecting users in Iran, it is highly possible that traffic is getting dropped within the carrier (ISP) networks for users. I think the next step here is for you to contact the local ISP (Internet Service Provider) so that you can

[2022-09-20 08:26] piejanssens opened #11283 "x-www-form-urlencoded puts tuples on separate lines instead of separating by '&'"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In a POST request of type x-www-form-urlencoded, I notice that the request body is composed of the form keys separated by line breaks. This seems to be atypical and from what I can find in the specs it should be a single line whe

[2022-09-20 08:36] piejanssens commented on #11283
Non issue. Shows correctly when switching to raw log.

[2022-09-20 08:36] #11283 closed, assigned to nobody

[2022-09-20 10:02] housecode commented on #8541
nice tips @domclone you saved my day

[2022-09-20 10:04] housecode commented on #8541
one more question @domclone ,
should I re-run step 2 for each simulator and every time when I start the simulator ?

[2022-09-20 11:38] adnenbe commented on #4818
Interresting and required feature, any update on this @postman-support  please ?

[2022-09-20 12:11] Dhembla commented on #6702
Hey @Graveheart 👋
We have added support for body matching on text fields for form/data content type. Please give it a try and let us know if that works for you. 🙇

[2022-09-20 15:49] simepy commented on #11125
Same here with GPU: Intel® HD Graphics 620 on Archlinux with `Postman 9.31.0, linux-5.19.6-arch1-1 on x64`

[2022-09-20 16:31] jeremysf commented on #8057
No cookies are being added for me, using mac version 9.31.8. I'm trying to do a POST request with a JSON body to a .ly domain. I have also tried the web app.

[2022-09-20 17:50] TheInvoker opened #11284 "How to use a different value than accessToken in postman Oauth2 authentication?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I am using postman oauth2 feature to authentication on MSALv2, but the problem is is takes the `accessToken` value from the response value.

I would like it to use another property called

[2022-09-20 18:40] TheInvoker commented on #8231
Any updates on this yet? really need this feature.

[2022-09-20 20:23] favourdev1 commented on #7294
this seem to have solved the problem for me

[2022-09-20 21:11] vmouse opened #11285 "Bullet list does not work at all in postman editor"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

It is impossible to use bullet lists in the documentation editor.

### Steps To Reproduce

1. Open any published Collection (with public access from Internet)
2. Click an existing request
3. Click Documentation  icon on the right

[2022-09-20 21:57] Antonio-Bellifemine commented on #11230
@DannyDainton Hi it's been quite some time since I opened this. I am ubnsure what the problem is. can you please update me? I have a whole suite of tests that rely on document uploads.

[2022-09-21 01:56] alexandrehtrb commented on #2701
Update: Pororoca now supports HTTP/2 on Mac OSX!

[2022-09-21 04:20] venkatrao225 commented on #10999
@postman-support do you have any plans to fix this issue?

[2022-09-21 05:19] OldrichDlouhy opened #11286 "All requests are shown as `GET` in the collection tree view"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In the workspace, collection tree view, all requests are shown as `GET` requests even when the requests use other method, e.g. `POST`. The correct method is displayed only after the mouse click

### Steps To Reproduce

1. Open Po

[2022-09-21 05:23] giridharvc7 commented on #11286
Appreciate reaching out here @OldrichDlouhy. This looks like a bug, we'll look into this and get back to you soon.

[2022-09-21 05:31] giridharvc7 commented on #11284
Appreciate reaching out here @TheInvoker . We are currently tracking this [here](https://github.com/postmanlabs/postman-app-support/issues/8231). While there's no current way to automatically pull the `id_token` data. They show up in here in the `Manage tokens` section.

You can access this section like so

<img width="692" alt="image" src="https://user-images.githubusercontent.com/1040583/1914216

[2022-09-21 08:02] lptarik commented on #9176
Same issue here

[2022-09-21 09:04] pavlobielousov opened #11287 "Add support for gRPC client streaming from a file"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have a server with a client streaming endpoint. The endpoint is designed to receive live data from a device; after the endpoint is called, the device is expected to send requests contai

[2022-09-21 09:08] Meizygam commented on #11138
@shubhbhargav That would help if I had a folder with a few requests... I have folders inside folders, inside folders, and a lot of requests! It will take me hours!

[2022-09-21 09:42] NiklasBr commented on #8101
@DannyDainton, any news? You asked for examples above

[2022-09-21 10:04] alibenmessaoud commented on #6682
+1

[2022-09-21 11:40] ghost opened #11288 "SOAP Requests get generated with conflicting namespaces"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When creating a request for a SOAP API (imported from a WSDL XML) that uses a namespace for some request fields (but not for all fields), the namespace get's mapped to the default namespace causing a conflict.
A request like this

[2022-09-21 12:02] DimiTech opened #11289 "Ability to export Postman Flows"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

 no

### Describe the solution you'd like

As a Postman user,
I want to be able to export my **Postman Flows**,
So that my colleague can import and use the **Flows** that I created.

###

[2022-09-21 12:59] samay-v commented on #11289
Hey @DusanDimitric You can move Flows between workspaces or have your colleague fork it in their workspace. That should satisfy your usecase 👍🏽

![image](https://user-images.githubusercontent.com/28357106/191510205-838f5748-6015-4d58-b741-61b3e97652c7.png)

[2022-09-21 13:36] malvikach commented on #2672
@NelemaniA, @all:

We are happy to inform you that with Postman v10 you will be able to check the run duration for every run and a lot more!

The latest Postman v10 is not Generally Available(GA) right now, but we are giving early access to teams who might be keen on some of the features.

Giving you a sneak peek into how Postman version 10 would solve the problem mentioned on the thread:

<img wi

[2022-09-21 14:03] malvikach commented on #7883
This problem is solved in the latest Postman version 10.

You have access to 'Runs' tab in a collection that will provide a list of all historical collection runs for that collection. It also provides easy access to view the details for each run by clicking on 'View Report'.

Giving a sneak peak into this:

<img width="1004" alt="Screenshot 2022-09-21 at 7 30 04 PM" src="https://user-images.github

[2022-09-21 14:09] malvikach commented on #7095
@omkar-dsd

We are happy to inform you that with Postman v10 you will be able to check the run duration for every run and a lot more!

Giving you a sneak peek into how Postman version 10 would solve the problem mentioned on the thread:
<img width="1052" alt="Screenshot 2022-09-21 at 7 37 06 PM" src="https://user-images.githubusercontent.com/89449769/191526824-aa13cf2f-91b9-48c8-8b7b-49b9b847e117.p

[2022-09-21 14:40] appurva21 commented on #11287
Hey @pavlobielousov, thanks for writing in and sharing your detailed use case!

I understand your workflow, and we do have upcoming plans to cater to similar use cases around workflow automation and scenario-based testing in gRPC. It is still in the early stages, so I can't say for sure if we would enable such workflows in the exact same manner as suggested, but yes, it is something we definitely

[2022-09-21 14:40] malvikach commented on #4276
Reviving this old thread and taking this opportunity to inform you about new **Postman CLI**

Postman CLI is the new command line companion for Postman using which you can run your collections and your results will automatically be posted and made available on Postman. The UI will show your results in a format similar to how we show for the collection runner.

Giving you a sneak peak into this for

[2022-09-21 14:47] malvikach commented on #4023
closing this as its a duplicate of this issue: https://github.com/postmanlabs/postman-app-support/issues/2672

[2022-09-21 14:47] #4023 closed, assigned to vkaegis, malvikach

[2022-09-21 16:09] pavlobielousov commented on #11287
@appurva21, thank you for the quick response!
I am glad to hear that, will be waiting for updates on this topic.

[2022-09-21 16:41] liliana-iriarte-tierconnect-com opened #11290 "Server error when trying to connect to a github repository from postman"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When trying to connect postman with a GitHub repository, a message appears indicating that something went wrong with the server.

I was using a personal and paid account for both postman and GitHub

### Steps To Reproduce

1. I l

[2022-09-21 18:27] Fabriciormartins85 commented on #6682
+1

[2022-09-21 19:08] TheInvoker commented on #11284
I see a lot of users wanting this feature on that thread. Is there a ETA for this feature, or roadmap?

[2022-09-21 21:36] OwensCode commented on #10127
An alternative would be to allow sorting the list, which would still be much less tedious than scrolling through it

[2022-09-21 21:36] OwensCode commented on #11200
An alternative would be to allow sorting the list, which would still be much less tedious than scrolling through it

[2022-09-22 00:53] YaozhongZhang commented on #6682
＋1

[2022-09-22 04:39] shashankawasthi88 commented on #11290
@liliana-iriarte-tierconnect-com thanks for raising this. We are looking into the bug.
While we solve the bug, we have launched a new version of this integration in our [V10 release ](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) which we are rolling out slowly. You can set up a call with us using [this](https://calendly.com/shashank-awasthi/v10-feed

[2022-09-22 05:51] shashankawasthi88 commented on #11117
@coreyog Happy to announce that with the launch of [Postman V10](https://blog.postman.com/announcing-postman-v10/), you should now be able to achieve the workflows you described.
You can now, work directly on your branches from Postman and pull, push, switch branches, and create branches as desired.
Read my [blog post](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native

[2022-09-22 05:53] shashankawasthi88 commented on #10994
@aakash3771  Happy to announce that with the launch of [Postman V10](https://blog.postman.com/announcing-postman-v10/), the commit information should not be fixed.
You can now, work directly on your branches from Postman and pull, push, switch branches, and create branches as desired.
Read my [blog post](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/)

[2022-09-22 05:57] #10811 closed, assigned to nobody

[2022-09-22 06:51] #6702 closed, assigned to ratpik, vvs11

[2022-09-22 08:08] akshay-kulkarni-03 commented on #11216
Hi @arnav-deep , closing this issue feel free to re-open if you face any problems.

[2022-09-22 08:08] #11216 closed, assigned to ramji367, akshay-kulkarni-03

[2022-09-22 08:10] akshay-kulkarni-03 commented on #11245
Hey @rmohan25 as mentioned above there was an intermittent issue due to which workspaces were not loading up. This should no longer be happening. Feel free to re-open if you face any issue.

[2022-09-22 08:10] #11245 closed, assigned to nobody

[2022-09-22 08:13] akshay-kulkarni-03 commented on #10839
@cyrielle-hada closing this issue, feel to re-open if you face any problem!

[2022-09-22 08:13] #10839 closed, assigned to ramji367

[2022-09-22 08:16] akshay-kulkarni-03 commented on #6375
@ankit-m closing this issue since we haven't heard back from you! Feel free to re-open if issue persists.

[2022-09-22 08:16] #6375 closed, assigned to akshay-kulkarni-03

[2022-09-22 09:30] appurva21 commented on #11260
@fabsdevops, I am closing this issue since we haven't heard back from you. Feel free to re-open if you are still facing the issue.

[2022-09-22 09:30] #11260 closed, assigned to appurva21

[2022-09-22 09:47] cionz0 commented on #7254
+1

[2022-09-22 11:43] ben741 opened #11291 ""Operation should have a 2xx response code" warning for 202 response code"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The API definition editor has a warning that the "Operation should have a 2xx response code", even though the operation already has a 202 response code.

### Steps To Reproduce

1. Open an API definition in the YAML editor
2. Add

[2022-09-22 13:19] cliff-wildman-fivestars commented on #4968
Running tests in postman app and in CI - being able to select multiple environments would help greatly with credential security.

[2022-09-22 14:26] cervajs commented on #11252
collection is published for customers

[2022-09-22 15:35] vizakgh commented on #5980
yes, without data postman works correctly :)

[2022-09-22 15:37] shubhbhargav commented on #11138
@Meizygam That's understandable. Would it be possible to share the collections with us at help@postman.com (removing any sensitive info)? This would be helpful to debug this further.
You can export the collection and share it with us at the email above.

[2022-09-22 15:53] #7883 closed, assigned to giridharvc7, malvikach

[2022-09-23 06:48] Muzammil98 commented on #6682
Wow, i graduated from my university and this is still not resolved. 😅

[2022-09-23 10:37] appurva21 commented on #11278
@Octopus235 @arobert-attraqt Thanks for reporting the issue! We identified the cause for this and will be releasing a fix soon.

[2022-09-23 10:40] 09samit commented on #9520
Import popup not coming.
Postman version 10.0.8
Environment - MacOS 12.2.1 Apple M1 Pro.

[2022-09-23 10:49] 09samit opened #11292 "Import popup not coming"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

After launch postman I try to import but no import popup coming.
Tried File > Import and Cmd + O but no action getting.

Environment -
Postman version 10.0.8
MacOS Monterey version 12.2.1
Apple M1 Pro.

Note: I find that similer

[2022-09-23 10:59] akshaydeo commented on #11292
Hi @09samit, thanks for reporting the issue. We are actively looking into it.

Meanwhile, could you please share app logs by zipping the files you see using View -> Developer -> View Logs in Finder?

![image](https://user-images.githubusercontent.com/1050029/191946683-5137c041-c407-465f-968a-c0144d65280e.png)

[2022-09-23 11:11] akshaydeo commented on #11292
Also, quick question: Are you trying to import using the menu/shortcut from the app's home page or a workspace?

If you are trying from the Home page, these shortcuts won't get triggered as we need to import APIs/Collections in the context of a workspace.

[2022-09-23 13:12] EnsignPayton commented on #11113
Still a problem on 10.0.8. Still very annoying. I can "fix" it by zooming out then increasing the font size, but considering this is literally the only application I use that has this problem, I'm pretty disappointed. Rider, Visual Studio, VS Code, Teams, Discord, and Spotify all draw their own window borders, and none of them have this problem.

[2022-09-23 13:41] navneetgarggate6 opened #11293 "Issue in Using socket API"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have socketio server where I defined a event without any parameter or only one parameter.
But postman not allowing send event without message (arg). How can we do that?

@sio.on('testEvent')
def testEvent(sid):

Also when I che

[2022-09-23 15:12] pg07codes commented on #4671
Still not there. Please prioritise this guys

[2022-09-23 15:27] appurva21 commented on #11293
@navneetgarggate6 Thanks for reporting the issue! I am able to reproduce the tab crash at our end and will get this fixed in the upcoming release.

Also, we are already tracking the request to send Socket.io messages with no arguments. You can follow the thread here  #10621 to get further updates on this.

[2022-09-23 15:45] jvrusso opened #11294 "Unable to reorder requests, tabs, env vars, or folders in Scratch Pad"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have a collection in Scratch Pad with N number of requests. I want to reorder them so I can run the collection has a series of tests. Normally when reordering requests, an orange line appears to show where the request will "lan

[2022-09-23 15:54] YevheniiPokhvalii commented on #10580
Any updates? I have a script that takes secret keys from global variables in postman and creates their corresponding base64 encoded keys in global variables but I'm not able to mask them programmatically. They are created as plain text base64 encoded values.

[2022-09-23 15:59] elbowdonkey commented on #11292
I downloaded Postman for M1 about 10 minutes ago and I'm seeing the same thing on an M1 Mac.

Whether I go to File > Import, or press Command+O, the dialog to select a file to import doesn't even popup. I've been watching logs as I try and not seeing any entries made there. I can include them still if asked though.

**Postman version(s):**
Version 9.31.9
UI Version: 9.31.9-ui-220920-1616
Desktop P

[2022-09-23 16:47] akshaydeo commented on #11292
Hi @elbowdonkey, are you on the workspace tab or the app's Home tab? Import modal will only appear if you are on the Workspace tab. Could you confirm this? 🙇‍♂️

[2022-09-23 16:59] Rahman-1234 opened #11295 "Is it possible to pass path variables in pm.sendrequest() method ??"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I have end point similar to this
{{baseUrl}}/api/v1/test-case/project-id/:id?page=0&pageSize=20

i wanted to use pm.sendrequest() method in prerequest script
and got stucked at passing th

[2022-09-23 17:55] elbowdonkey commented on #11292
I can confirm the import dialog appears once on the Workspace tab.

It'd be really useful if, when selecting the menu item or pressing Command+O, rather than simply doing nothing some sort of message came up describing what must be done. That'd have saved me from trying to troubleshoot the issue this morning, only to find this issue after burning an hour. Maybe even remove the menu item entirely.

[2022-09-23 18:04] energy2522 commented on #8057
I sent a request and cookies were added, but when I send another request with the same domain they are not added to request

[2022-09-23 19:04] jvrusso commented on #11294
I wanted to add an update. Reordering of tabs is behaving the exact same way in the Scratch Pad. When you try to drag a tab, either left or right, the green plus pointer appears, and the tabs never change order. This might be an issue with the drag and drop ordering in general.

[2022-09-23 21:48] xincare opened #11296 "(WSDL) The element or type could not be found undefined"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Importing my WSDL to both Postman app and web results in the following error in the request body:
[code]
I have been able to use this WSDL with SoapUI with no errors but would like to switch to Postman

### Steps To Reproduce

1.

[2022-09-24 05:31] shubhbhargav commented on #8057
@energy2522 @jeremysf @muldon Can you please share a screen recording of the issue to help us debug this further?

[2022-09-24 06:29] mjhika commented on #10299
@milovangudelj try downgrading to OpenSSL v1.1.1
This fixed the issue for me on a Kali Linux install which had OpenSSL v3.0.5
Raj added a note that downgrading to 1.1.1 fixes
Here is a link to a user on Windows that also downgraded to 1.1.1 and fixed their same issue [Windows User](https://stackoverflow.com/questions/69165368/postman-proxy-ca-crt-file-not-showing-up-even-tho-openssl-is-installed)

[2022-09-24 09:33] Neutrino-Sunset commented on #4671
The failure to at least implement a 'Save All' feature in four years is just laughable.

[2022-09-24 10:01] VShingala commented on #11296
@xincare Thanks for reporting the issue. We're taking a look into this issue, and will update once we've more details on the fix.

[2022-09-24 23:24] JrSchmidtt opened #11297 "Support for customs themes."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Currently in postman we have two theme options dark and light would be better if we had other theme options.

### Describe the solution you'd like

It could be something like a config jso

[2022-09-25 03:13] DannyDainton commented on #11297
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4318

[2022-09-25 03:14] #11297 closed, assigned to nobody

[2022-09-25 11:09] shankyty commented on #6682
Hehe, even I was wondering same. It have been so long I created this bug.

[2022-09-26 03:08] zhao1532072926 commented on #7596
+1

[2022-09-26 04:18] parthverma1 commented on #11286
@OldrichDlouhy I tried reproducing the error but was unsuccessful. Can you share a screen recording showcasing this behavior or detailed steps to reproduce the conditions which resulted in the error?

[2022-09-26 06:22] parthverma1 commented on #11225
Hi @jekakos. I replicated the request that you've mentioned above and exported using the recommended Collection v2.1 format and got the following JSON
[code]

Which is correct since the Content-Type header is a calculated header and the `params` key is flagged as disabled. The `Content-Type` can be inferred from the `mode` parameter present in the `body` key.

If I manually add the `Content-Type`

[2022-09-26 07:19] nohehf opened #11298 "Importing a collection removes example queries body (and variables) for graphql."
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Importing a collection (that follows the postman-collection spec 2.1), seems to remove the body (and variables) for graphql example queries. I discovered this issue here: https://github.com/Escape-Technologies/graphman/issues/33

[2022-09-26 08:08] chinguunIAG commented on #4193
Yeah much needed

[2022-09-26 08:27] OldrichDlouhy commented on #11286
@parthverma1 - For reproduction steps, I simply start the Postman, go to the collection, wait till it loads and then the issue manifests.

Few notes though:
 - it does not happen in scratch pad
 - often the collection is shown empty or some subfolders are missing and shows only after a while, so I suspect the behavior to be related to download/caching of data from servers

https://user-images.gith

[2022-09-26 09:59] postman-support commented on #11295
@FidaUrRahman you should be able to access a path variable's value by using the following snippet -
`pm.request.url.variables.one(‘variableName’)}`

You can add more variables by simply adding this snippet and replacing the `variableName`, here's an example of what this might look like when fetching two different variables -
 ![](https://postman.zendesk.com/attachments/token/jW0dxBe9iLr85N0h8CA8r5

[2022-09-26 12:12] w4dd325 opened #11299 "Support for custom reporters in the Postman CLI"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Newman allows the use of custom reporters for example [htmlextra](https://www.npmjs.com/package/newman-reporter-htmlextra) .
My understanding is that the new CLI in Postman v10 does not a

[2022-09-26 13:30] ankitjaggi commented on #10989
Closing this ticket due to inactivity. Feel free to reopen it if the issue persists.

[2022-09-26 13:30] #10989 closed, assigned to ankitjaggi

[2022-09-26 13:31] #11012 closed, assigned to ankitjaggi, kartikjain26

[2022-09-26 15:18] m-buecher commented on #8929
+1

@xxldoctor This here is about a different functionality. .setNextRequest() is just an ugly workaround got .skipThisRequest().

I want to skip the current request and not define the next request. Whenever something changes the order of requests in the collection (e.g. new requests, delete requests, re-ordering requests), then the workaround with .setNextRequest() may fail.
You always have to ma

[2022-09-26 19:08] kevinswiber commented on #7596
@Albob There could be a number of reasons for this.  My first guess would be that the `Content-Length` header isn't matching the actual length of the response body.  This can happen when proxies, for example, modify the response body without modifying the value of the `Content-Length` header.  The compression value should never be less than zero.

Why is Chrome showing different results? That's an

[2022-09-26 19:12] Juanmadepalacios commented on #10936
Hi, I have the same problem to import several private repositories. My postman version is: v9.31.11

[2022-09-26 19:30] xincare commented on #11296
Thank you for looking into this. It seems that removing the `xlmns:sch` namespace declaration at the top of the WSDL file fixes this error. What could be the reason for this?

[2022-09-26 20:13] anenviousguest commented on #7294
LOL, I confirm it's a bullet-proof reproduction scenario with my Postman, too. I cleared the history as advised above, also disabled the hardware acceleration. Right after startup I have a couple of tabs open from a previous session. I minimize Postman window and indeed the CPU consumption jumps through the roof.

[2022-09-26 20:38] sajitharnair commented on #8559
Dear All,
I am new to postman to K6 tool and while running the performance load testing I am getting the below error.
ERRO[0002] Error: pm.request.headers not supported

1. I have exported my collection from the postman.
2. I have exported the environments from postman.
3. Running the below command in powershell to generate the k6 script for the performance Load testing.
  postman-to-k6 collection

[2022-09-27 13:06] shashankawasthi88 commented on #9681
Hi @chetankhargone with Postman V10, we have launched a new experience that works directly with the branch in your repository. This should mitigate your issue to large extent. Please reach out to me if over email - shashank.awasthi@postman.com or schedule a call with me using [this](https://calendly.com/shashank-awasthi/v10-feedback), if you want to know about the feature in detail.

[2022-09-27 13:50] DannyDainton commented on #11298
Hey @nohehf

Do you have a copy of the file that you're using, please? I can create this following the steps but it would be better if this was the one created from your Postman instance.

[2022-09-27 16:09] AvanishPai commented on #11246
@jmeijering  We were unable to reproduce the issue with the steps mentioned.

Would you please check if the issue still exists and write to us at https://support.postman.com/hc/en-us/requests/new with your user and share the steps to recreate it once more? It would be helpful if you are able to provide any screenshots or screen recordings.

[2022-09-27 16:47] billwheaton1715 commented on #8322
I would like to see this too for the same reason.
Also, since I often keep the final graphql in a column in a sql table, I need the ability to minify it down to a one liner so I can copy it and paste it into a sql config table field.  Likewise for the other direction.... paste the one liner into postman and format it nicely there.

[2022-09-27 16:54] energy2522 commented on #8057
https://user-images.githubusercontent.com/17969823/192588505-0b46e623-5f24-4bf9-96ec-f348fb9d558e.mov

let me know if you need more information

[2022-09-27 18:24] SamSoldatenko commented on #3843
I SO HATE POSTMAN DEVELOPERS!!! YOU STUPID MORONS!

[2022-09-27 18:25] SamSoldatenko commented on #3843
USE F'king black colort!!! It is `#000000`

[2022-09-27 18:28] SamSoldatenko commented on #2450
? Will you finally fix the colours?

[2022-09-27 19:48] mrabetr opened #11300 "Generate Collection produces [object Object] request body from Open API 3.0 definitions"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When generating a collection from an OpenAPI definition, if the request body is of content type application/vnd.api+json then the generated request body fails and returns [object Object]
However, if the content type application/j

[2022-09-27 21:51] thaganinsulet opened #11301 "Method of Emailing all people in Team / Group"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No, Something that would be a nice to have to manage users in an organization.

### Describe the solution you'd like

Ability to email all users at once managed in a specific team and a s

[2022-09-27 23:29] keithboone commented on #4079
+1

[2022-09-28 04:41] mihmig commented on #3843
Let's look for alternatives.
1. Insomnia
2. HttPie (Desktop version recently released)
3. Built in Http-client in Intellij products (my choice at the moment, but it does not completely satisfy me)

[2022-09-28 09:18] patchandthat commented on #11300
The issue was introduced in 9.26.  I'm using 9.25.3 as a workaround for now.

[2022-09-28 09:43] ankitjaggi commented on #7073
@labossieresr This should be resolved in the latest version of the Postman App.

[2022-09-28 10:04] VShingala commented on #11300
@mrabetr @patchandthat Thanks for reporting the issue! We've identified the issue and are actively working on the fix. We'll add more updates here on when it'll be available.

[2022-09-28 14:20] brandonyoung commented on #8231
+1

[2022-09-28 15:28] Diego-SA commented on #8195
In my case, when I have to export the environment or the collection, as I haven't saved, I export information that is not in the screen, because previous data is exported. From my point of view, it would be much nicer to autosave in every situation. I agree with most of the comments.

[2022-09-28 15:29] meizhuhanxiang commented on #8195
您好，您的来信已经收到--郭广川

[2022-09-28 18:40] asirota opened #11302 "Ability to search for open api and yaml definitions"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Finding apis to import into postman is a huge hassle. A large majority of apis have no postman collection but some have an openapi json or yaml definition attached to the base url

Exampl

[2022-09-28 20:57] newlandj commented on #8195
Seems like this thread has been going on since 2019 or earlier... c'mon Postman, no Autosave or Save All yet???

[2022-09-28 21:15] georgerappelmeliuz commented on #8747
When using Imperva, the Issue was caused by a server classification cookie coontaining invalid characters for some HTTP parsers. Disabling this cookie solved the issue for me.

[2022-09-29 02:31] TheInvoker opened #11303 "Add descriptions to variables"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Yes, I want to be able to add comments to variables/global variables, but there is no column for this currently.

### Describe the solution you'd like

A new column option for comments.

[2022-09-29 03:59] TheInvoker opened #11304 "How to get access to oauth2 token from pre request script?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

I would like to access the token data from oauth2 authorization tab, from the pre request script.

### Describe the solution you'd like

Ideally it would look something like

```pm.collec

[2022-09-29 05:28] ankitjaggi commented on #9586
@mgrofsky We released a new feature that allows you to hide diffs for certain changes in the changelog. You can find more information here: https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/changelog-and-restoring-collections/#hiding-diffs-in-the-changelog

[2022-09-29 05:34] zigcBenx commented on #903
Solution sounds pretty straight forward.
If someone could point me into the right direction where to source code for this part is, I can give it a shot with a pull request.

P.S. Yes I ran development requests in productions as well :facepalm:

[2022-09-29 06:36] gitThingsDone commented on #5391
For any collection in a public workspace, we can now programatically create a run in postman button by replacing `collection-id` and `workspace-id` in the code block below
[code]
You can use the Postman API to [fork existing collections to a public workspace](https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-214f4f93-cbb9-4b86-8a56-76a05eaab9fe), and to get the co

[2022-09-29 06:36] #5391 closed, assigned to sankalp0o, Raja-Simha

[2022-09-29 06:43] gitThingsDone commented on #9417
We no longer support templates, you can instead [create a public workspace](https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/public-workspaces/), and move collections there to share them on the Public API network

[2022-09-29 06:43] #9417 closed, assigned to gitThingsDone

[2022-09-29 06:45] gitThingsDone commented on #6434
You can now watch a collection [while forking ](https://learning.postman.com/docs/collaborating-in-postman/version-control/#creating-a-fork)and stay notified about changes.

[2022-09-29 06:45] #6434 closed, assigned to sankalp0o, Raja-Simha

[2022-09-29 06:46] gitThingsDone commented on #6435
This is fixed in the new [Public API network ](https://learning.postman.com/docs/getting-started/exploring-public-api-network/)

[2022-09-29 06:46] #6435 closed, assigned to sankalp0o, Raja-Simha

[2022-09-29 06:47] gitThingsDone commented on #5056
The [Manage Public Section](https://learning.postman.com/docs/collaborating-in-postman/manage-public-elements/) in Postman allows you to see a list of all published docs in you team.

[2022-09-29 06:47] #5056 closed, assigned to sankalp0o, Raja-Simha

[2022-09-29 06:51] gitThingsDone commented on #8158
We have deprecated the view-collection page now, this now redirects to the run-collection page, which works better with smaller screens too https://elements.getpostman.com/run-collection/0911a7fefbc14ed2e4cb
<img width="492" alt="image" src="https://user-images.githubusercontent.com/64534208/192959537-484bc33f-9c01-40bb-9006-a871d12f8b60.png">

[2022-09-29 06:51] #8158 closed, assigned to ratpik, preethammavin

[2022-09-29 08:09] ankitjaggi commented on #7578
@narbit Postman has it's own Pull Request functionality now which you can use to solve your use case. For more information, you can head over to our [Learning Center](https://learning.postman.com/docs/collaborating-in-postman/version-control/#creating-pull-requests).

[2022-09-29 08:09] #7578 closed, assigned to preethammavin

[2022-09-29 08:09] #7073 closed, assigned to vkaegis, ankitjaggi, preethammavin

[2022-09-29 08:47] #9586 closed, assigned to nobody

[2022-09-29 08:50] shashankawasthi88 commented on #7578
@narbit Also with the launch of V10 we have introduced new API builder experience with native git integratopm. Read my [blogpost](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) to read more about it. You can also schedule a call with me to discuss the end-to-end flow.  You can set up a time with me using [this](https://calendly.com/shashank-awasthi/v1

[2022-09-29 09:01] shashankawasthi88 commented on #11000
@suchand-talview this has now been added in Postman V10. If you want to know in detail how the GHAction and the GitHub Repository integration works, you can schedule a call with me [using](https://calendly.com/shashank-awasthi/v10-feedback?month=2022-09) this link.

[2022-09-29 09:02] #11000 closed, assigned to abhijitkane

[2022-09-29 09:10] shashankawasthi88 commented on #10936
@Juanmadepalacios can you attach the video and the logs, we can't reproduce at our end.
Also with Postman V10 - we have launched an enhanced experience if working with repositories. Read my [blogpost](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) to know more. Also, you can schedule a call with me to know more about the flow using [this link](https:/

[2022-09-29 09:14] shashankawasthi88 commented on #10931
@jjkirby can you please elaborate on how you folks structure the APIs in your repository? It will help us design the system better. You can schedule a call with me using [this](https://calendly.com/shashank-awasthi/v10-feedback?month=2022-09) link. We can discuss the gaps in detail.

[2022-09-29 10:47] shashankawasthi88 commented on #9766
@brgrz We have further enhanced the API builder workflow to support a cohesive integration with the repository. Read my [blog post](https://blog.postman.com/announcing-postmans-redesigned-api-builder-with-native-git-support/) to know more. Also, you can schedule a call with me using [this](https://calendly.com/shashank-awasthi/v10-feedback?month=2022-09) link, we can dive deeper into your workflow

[2022-09-29 10:53] shashankawasthi88 commented on #9265
@stfgl Multifile schemas are now supported with Postman V10. Additionally we have launched a new API builder experience to work cohesively with your repository. We can walk you through the end to end workflow over a short call. Feel free to schedule a call with us using [this](https://calendly.com/shashank-awasthi/v10-feedback?month=2022-09) link.

[2022-09-29 10:53] #9265 closed, assigned to chughmayank

[2022-09-29 10:55] suchand-talview commented on #11000
Thanks for the message. I managed with Newman.

[2022-09-29 10:58] c98 opened #11305 "Couldn't import .proto file: object must be a valid nested object"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

i can not import pb in postman.

![image](https://user-images.githubusercontent.com/6177211/193013766-40ddba4a-73b9-4450-b345-8f94d9042bc8.png)

### Steps To Reproduce

my protobuf is like this:
[code]

when i used `field option`

[2022-09-29 11:55] akshaydeo commented on #7462
Hi @ikotlyarsky @david-genger, sorry for the late reply. We have improved schema validations and syntax error workflow in our v10 apps that we have recently released. Could you give it a try? 🙇

[2022-09-29 15:04] singhravi1 opened #11306 "Copying a request from one collection and pasting it in another does not paste its data"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I copied three requests from one collection and pasted them in another but when opened them in the new collection, the url, body, params etc. everything is blank.
I can confirm that I saved the requests in the original collection

[2022-09-29 15:08] giridharvc7 commented on #11306
Can you share some logs please, along with the app version @singhravi1

[2022-09-29 17:47] iqb-dawn opened #11307 "Postman Think Double Slash Are Link"
### Is there an existing issue for this?

- [x] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I have recently hit Postman issue to think double slash are URL and show wrong value in pretty mode.

https://stackoverflow.com/questions/73897506/asp-net-core-5-response-json-and-input-json-encoding-issue

![image](https://user-

[2022-09-29 18:18] RajvirBains opened #11308 "Postman Documentation Enhancements - feedback moving from Stoplight to Postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

No

### Describe the solution you'd like

We recently moved our documentation from Stoplight to Postman and found the below shortcomings. We confirmed things with Postman Support and thou

[2022-09-29 19:48] davehouser1 commented on #8433
Can someone tell me how to get to "recent runs"? I do not see this at all in Linux 9.31.13-ui-220927-1450.

[2022-09-29 20:22] DannyDainton commented on #11303
Hey @TheInvoker

Could you clarify what you mean by 'Comments', please?

We do have a comments feature which allows you to leave them at different levels (Collections, Folders, Requests) and on different elements (Params, Headers, Scripts, etc)

https://learning.postman.com/docs/collaborating-in-postman/working-with-your-team/discussing-your-work/#contents

Are you after adding descriptions to var

[2022-09-29 20:27] DannyDainton commented on #11307
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/7004

[2022-09-29 20:27] #11307 closed, assigned to nobody

[2022-09-29 23:27] brad commented on #5816
Holy cow, that's a big file! I can confirm it is not working in Asahi (just segfaults), I assume due to the whole page size shenanigans?

[2022-09-30 00:53] Chealer commented on #903
Sorry, but Postman is proprietary software... patience

[2022-09-30 01:07] Luc45 commented on #448
I have a string that is exploded by `\n`, but I can't send it on Postman because it expects ↵ as line break

[2022-09-30 05:34] RaisinTen commented on #5816
we did land a fix for that recently :) we'll share something that works on asahi shortly

[2022-09-30 06:31] singhravi1 commented on #11306
Hi @giridharvc7 ,
The version is 9.31.13
I unfortunately cannot reproduce this now.
I'm closing this ticket for now. PLease reopen it of required. Thanks!

[2022-09-30 06:31] #11306 closed, assigned to giridharvc7

[2022-09-30 06:56] iqb-dawn commented on #11307
I dunno if they are same but if you see JSON response in Pretty and JSON response in Raw, they are different, means if someone copy from Pretty they are copying wrong value.

[2022-09-30 07:15] centfox opened #11309 "Per request proxy setting"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

In Postman, there is a global setting to enable proxy. But we need a proxy only for specific endpoints to run test scripts.

### Describe the solution you'd like

Please provide a feature

[2022-09-30 07:28] DannyDainton commented on #11309
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/11265

[2022-09-30 07:28] #11309 closed, assigned to nobody

[2022-09-30 08:41] enghitalo commented on #4552
Ping

[2022-09-30 09:17] dberchtold opened #11310 "setNextRequest by requestId broken in forked collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

In forked Collections "Scripting workflows" are broken when using requestId in statements like this: `postman.setNextRequest("54a7a811-ca08-46d9-8a4e-d10e942e6948")`

**Reason**: in the forked collections the IDs of the requests

[2022-09-30 10:27] Maciejjy opened #11311 "Run collection with .xlsx file"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Got request with 'File:' field required.
When I run it as single request everything is fine but when I try to run it as collection I need to add file in collection runner.
When I add the same file it is marked as 'Undetermined' a

[2022-09-30 12:19] DominicSaladin commented on #2701
+1

[2022-09-30 13:52] jamesbrookeparcel2go opened #11312 "Authorization settings should not be removed when changing authorization type"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Yes. When changing between authorization types, the previous settings get removed. For example, if my collection's authorization type is set to OAuth 2.0, and I spend a while setting up t

[2022-09-30 13:57] DannyDainton commented on #11311
Hey @Maciejjy

Can you provide some visual examples of what you're seeing and the file that you're using so we can try and replicate this here, please?

Also, the file input on the Collection runner is for data files that populate different variable placeholders that you have in your Collection, it's not used for files that might be set as part of the request.

[2022-09-30 13:59] DannyDainton commented on #11310
Hey @dberchtold

Could you provide an example of the script you're using (the position of where you place that statement make a difference) and where you're getting the request Id from, please?

[2022-09-30 14:22] Kos-UlpiaTech commented on #4690
I also need the feature.

[2022-09-30 15:13] mredding999 opened #11313 "Deep linking to a folder in a collection of documentation does not anchor correctly"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Here is the deep link to a folder in my documentation collection that includes the #ID generated by Postman:
https://documenter.getpostman.com/view/7580355/VUxNQ7Uv#aa14fdaa-a6a1-4779-bb3b-cfb5e9df135a

Screenshot, and notice how

[2022-09-30 15:31] atkinsmedley opened #11314 "Query Params Value Field Truncates Without Indication"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When using the desktop application interface, I have noticed that long query parameter values are truncated (starting at the 68th character) and there is no indication that they are truncated, like an ellipsis or anything. If the

[2022-09-30 17:00] wrd0 commented on #6682
+1

[2022-09-30 18:08] achrapko opened #11315 "The ability to clear the 'Mock Server Call Log'"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Mock Server Call Log items are unable to be removed or cleared, causing clutter when running tests.

### Describe the solution you'd like

Currently, the Mock Server Call Log does not hav

[2022-09-30 19:09] xym4uk commented on #7349
i have same problem in latest postman from snap. any ideas how to fix it?

[2022-09-30 19:55] aprevost commented on #8985
Couldn't agree more. I am using Postman for the first time ever in my career, and it's great... but this inability to sort or search in the list of variables within  a given Environment is a huge, huge pain. Biggest annoyance I've found so far in using Postman.

And it's simple/standard stuff. Unbelievable to me that this hasn't been implemented before. Get on it guys!

[2022-09-30 22:54] AndrewTamm opened #11316 "Support Http/2 pseudo-header fields"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Some GRPC servers use the HTTP/2 pseudo-header, specifically :authority for muxing incoming requests: . As such, these should be settable in the gRPC request panel.

Golang grpc library,

[2022-10-01 07:24] RaisinTen commented on #7349
@xym4uk this an upstream bug and the issue has been reported to Electron - https://github.com/electron/electron/issues/33101. I don't think there's much that can be done here until it gets fixed there, so let's continue the conversation there.

[2022-10-01 16:32] w4dd325 opened #11317 "Wrong value displayed for numbers over 15 digits"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

When submitting API calls where a number is greater than 15 digits, the console is logging incorrect values.

It appears that there is some rounding taking place on large numbers returned to the client.

### Steps To Reproduce

S

[2022-10-01 22:51] grichards commented on #8195
Hello @giridharvc7

My reasons / workflow for wanting autosave is pretty simple.

- I always forget to CMD-S because the save status indicator is not noticeable enough, especially with many tabs open.
- I edit something in a workspace on one computer on one day... on another day I am working on a different computer, expect to see my latest revisions, and they're not there because I had to CMD-S...

[2022-10-02 00:15] makar2 commented on #9297
I need this feature, too

[2022-10-02 00:27] makar2 commented on #8231
+1

[2022-10-02 00:27] makar2 commented on #492
+1

[2022-10-02 16:55] shubhbhargav commented on #8057
I see. This is related to the localhost domain not being supported at this moment for Cookies. We will share more updates for this on this ticket: https://github.com/postmanlabs/postman-app-support/issues/10185

[2022-10-02 17:00] ItsChrisHickman commented on #11041
This would be highly useful as I alternate between GraphiQL, Altair and Postman for this very reason and would prefer to do everything within Postman.

[2022-10-02 18:02] psvnlsaikumar commented on #4079
+1

[2022-10-02 18:05] malvikach commented on #11299
Hello James @w4dd325

Using Postman CLI, all your runs data will be available in Postman, providing you additional and central reporting at a single place. Read more about it [here](https://learning.postman.com/docs/postman-cli/postman-cli-run-collection/) if you are interested. However, I would like to understand your feedback and thoughts on this.

Would you be up for a discussion about the repo

[2022-10-02 21:32] ErikRospo opened #11318 "Http status code reference builtin"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

When making requests, it is often helpful to have a quick reference of HTTP status codes. currently, the best solution is to have a separate window as a lookup.

### Describe the solution

[2022-10-03 00:57] Jplus2 opened #11319 "Wrong request types on postman collection"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The type of the requests inside a collection has wrong type (for me POST requests are branded as GET requests).

### Steps To Reproduce

1. Create a collection
2. Add requests to the created collection
3. Change request type from

[2022-10-03 01:45] DannyDainton commented on #11319
Hey @Jplus2

Were those requests created as a duplicate of the first request or were they completely blank tabs each time?

It appears like you have unsaved changes for those misslabelled tabs so I suspect they were duplicates, saving them will show the correct method.

[2022-10-03 03:43] Jplus2 commented on #11319
You are right, I might have missed the unsaved indicator. Saving it does update the request type. Thanks!

[2022-10-03 03:43] #11319 closed, assigned to nobody

[2022-10-03 06:22] shashankawasthi88 commented on #11224
@c0dezer019 we have made some recent improvements on how the repo integration works in V10 - that should solve some of the issues you have listed above. If you are interested, we can schedule a short call to show you how the integration works and help enable that for your team. You can set up a call with me using [this](https://calendly.com/shashank-awasthi/v10-feedback) link.

[2022-10-03 06:24] shashankawasthi88 commented on #11213
@Acc-skn thanks for raising this. Is it possible for us to schedule a call to understand your use case better? You can schedule a call with me using [this](https://calendly.com/shashank-awasthi/30min-1) link.

[2022-10-03 06:39] Maciejjy commented on #11311
Thank you @DannyDainton so that is probably no bug (not sure where it should land now) but I still have issue with this.

I have a request where I upload some file. When I select a file in request body (form-data -> File -> Select file) and save this request, I can send it without problem. But when I want to send it as collection I always get error:

{"errors":{"File":["The File field is required.

[2022-10-03 08:58] nohehf commented on #11298
[example.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/9696038/example.postman_collection.json.zip)
Here you go, this is a very simple collection, containing one graphql request and a mock example:
<img width="308" alt="image" src="https://user-images.githubusercontent.com/64989428/193539009-b3cd1f86-9043-4bce-8d95-38ee73758c46.png">
(PS: sorry for the delay

[2022-10-03 09:58] dberchtold commented on #11310
Hi @DannyDainton
here an example of such a collection
https://www.getpostman.com/collections/198cc7a841c73d6240bf

![image](https://user-images.githubusercontent.com/9194415/193550458-133aee3f-c634-4246-8c3b-77f55e5d0180.png)

[2022-10-03 10:17] gh47110815 commented on #4671
Just add a "save all" ! From my point of view it need NOT be an "autosave"!

[2022-10-03 10:58] DannyDainton commented on #11310
The Forked Collection/Folders/Requests wouldn't have the same `ids` as the original, as this is its own entity and not the _same_ entity.

If you're using that function, you could use `postman.setNextRequest('end')` which would go to that request in the flow on both Collections (Forked and Original).

[2022-10-03 11:14] dberchtold commented on #11310
In my original collection I had reqeusts with identical names. So referencing by name is ambiguous. Therefore I thought it would be a good idea to use ID instead. But now it looks like this is not good if using forks.
I already changed the collection to use unique names for requests which are used in setNextRequest() calls.

When creating the ticket I was just wondering if there maybe is some othe

[2022-10-03 11:26] DannyDainton commented on #11310
You're creating a brand new Collection by forking the other one, it wouldn't have the same `Id`. It's not a limitation or some functionality missed, it would be the same if you create 2 new separate Collections in the Workspace, these would have different `Ids`.

All of the documentation is open source so if you're like to raise a PR for that change, a member of that team can take a look and move

[2022-10-03 11:26] #11310 closed, assigned to nobody

[2022-10-03 11:28] dudikrisher commented on #11285
Same happen to me, this is really annoying as the default editor for documentation is  "Postman Editor":
![image](https://user-images.githubusercontent.com/879781/193564957-6302d800-c755-466f-8e25-cee06b8c9580.png)

and when switching to "Markdown Editor" the bullet list is already corrupted.

steps:
1. create unordered list
![image](https://user-images.githubusercontent.com/879781/193565245-c3de1

[2022-10-03 12:38] Chand-MD opened #11320 "Add workflow_dispatch for Github Actions CLI command preview template - v10"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

While copying the Postman CLI command overview for Github Actions can we add "**workflow_dispatch**" to the  Build configuration template? This helps the users to run this workflow manual

[2022-10-03 13:02] malvikach commented on #11320
@ChandMohammadS thanks for the feedback and for setting up the discussion with us. Looking forward to understand this further during our call.

[2022-10-03 13:38] zznty opened #11321 "Requests in collection don't always show and cannot be deleted"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Some of requests are ghosting, they appear in editor after clicking `view docs` and showing 404 error when im trying to delete them.

### Steps To Reproduce

1. create collection
2. in creation modal window add some requests for

[2022-10-03 13:47] ruffin-- commented on #5542
Whoa, why was this closed?

Can we get a feature request for this as a setting, [similar to Sublime Text](https://stackoverflow.com/a/19940461/1028230)?

[2022-10-03 16:13] DannyDainton commented on #11320
I like the idea of extending the template and we can maybe even pass in some of the different arguments that are available like iterations for example:

[code]

[2022-10-03 17:53] shubhbhargav commented on #11321
@zznty Is this issue consistently reproducible for you? If yes, can you please share a screen recording of the steps? I tried to follow the steps mentioned but couldn't reproduce this issue.

[2022-10-03 18:10] ChandMohammadS commented on #11320
This addition will be amazing for this feature #11320

[2022-10-04 02:50] ashwinnair2011 opened #11322 "Get "Unable to verify the first certificate' despite adding client certificate to Settings > Certificates"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

I'm trying to run a GET request for a .net API I've created in a docker container. I've added my generated self signed dev certificate to, first, the CA certificates as a PEM and then the Client Certificates list as a pfx.

![ima

[2022-10-04 03:47] DannyDainton commented on #11322
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/6354

[2022-10-04 03:47] #11322 closed, assigned to nobody

[2022-10-04 08:58] sackmanson commented on #2701
+4 🙂

[2022-10-04 10:40] Rahul-V-Maxval commented on #10936
I am facing the same issue. I tried the below steps:  import-> Code repository-> GitHub -> Authenticated via web browser and got an error message  " No repositories found under selected organization. Retry ". Added a screenshot for your reference.
![postman](https://user-images.githubusercontent.com/81147535/193799101-eeeda8dc-e9c2-4b86-bdbf-c223e4753c21.png)

### OS
Windows 10
### Postman Version

[2022-10-04 11:55] muscal commented on #8308
@giridharvc7 / @vvs11 , i'm also looking for an update on this issue.

Based on how postman form data input is structured, it's impossible for me to make the proper call because postman is automatically inserting in commas and quotes

If i attempt to use the built-in form-data UI I'll get the following error related to an invalid file type:
<img width="1330" alt="image" src="https://user-images.gi

[2022-10-04 12:21] montoner0 commented on #9614
@giridharvc7
Do I need to enable this feature somehow? I use 9.31.0 and requests are still expanding upon click.
![postman](https://user-images.githubusercontent.com/13542804/193817405-70333135-db19-4482-8140-04cf666d0512.gif)

[2022-10-04 12:54] muscal commented on #1104
Have you been able to find a workaround for adding in `filename` for application/pdf content-types?

[2022-10-04 14:32] mlaffargue opened #11323 "Using x-mock-response-name disables wildcard resolving in response"
### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

Having a request :
`GET {{url}}/example/{{objectId}}`

And an example "SUCCESS" with as response :
`{"objectId": "{{objectId}}" }`

If I call the mock server with GET .../example/test123, the response is as expected :
`{"objectId

[2022-10-04 14:58] shijialee commented on #3322
`let value = environment[variable] || globals[variable]`

can be changed to `let value = pm.variables.get(variable)`  which resolves variable defined in different scope automatically.

see https://learning.postman.com/docs/writing-scripts/script-references/postman-sandbox-api-reference/#the-pm-object

[2022-10-04 15:00] rafrafek commented on #5817
Congrats, it's the only app on my laptop that does not support this. Even notepad on Windows 11 supports auto theme change...

[2022-10-04 15:17] ryckbirch opened #11324 "Correlation ID Needed Between Collection Run Tests and Console Output/Evidence for Each Test Run"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

For any test evidence, there needs to be a connection between a test results export and the actual tests' run information in the console so that anyone can prove a correlation between the

[2022-10-04 15:18] rafrafek commented on #5817
Seriously it shouldn't be that hard to implement this: https://www.electronjs.org/docs/latest/tutorial/dark-mode

[2022-10-04 15:30] wangh47 commented on #9498
The issue has been assigned to Vineet Kumar @vkaegis, who hasn't had any contributions to this project in ~1.75 years (2021 & 2022). Is it possible to send it to someone else who is actively working on Postman teams?