[2019-03-06 10:12] Advlaam commented on #5826
I took me several hours to figure out why I didn't receive the e-mails of the monitor failures. Just make it configurable for the user and everybody is happy.

[2019-03-06 10:23] BertusVanZyl commented on #6022
It was installed. I removed it, and reinstalled from Postman-win64-6.7.4-Setup.exe. After installation, postman started up. I closed postman, and when I used the shortcut, it still opened chrome to the chrome homepage. Is there something I can test or check to debug?

[2019-03-06 11:01] m3dbedb commented on #4017
I suggest a method pm.iterationData.unset('variablename');

[2019-03-06 11:09] madskunker commented on #5286
I have the same issue
 6.7.4 Mac OSX
`curl 'https://developer.intuit.com/v2/oauth2playground/Oauth2AccessTokenFromRefreshToken?timestamp=1551870118095' -H $'cookie: ivid_synced=true; tracking_user_id=193514860459379; qbo.clientType=web; split_test_version=test100; s_cc=true; s_fid=440666371FF736A5-199B11D17ED9B39C; s_vi=[CS]v1|2E3F80BE8507D88B-6000010BC0000456[CE]; ac_s_v8.5_appcenter=bdva4kabl0wt

[2019-03-06 12:19] sssurii opened #6024 "Postman 7.0 not available via snap"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I am using postman app on ubuntu 16.04, had stop sync process after i accepted the update notification and clicked the button `Migrate my team to v7.0`. I am unable to use postman because of this.

**To Reproduce**
Steps to repr

[2019-03-06 12:31] VicKetchup commented on #6017
The API is still returning empty array :(

[2019-03-06 12:52] DarrylGwinnett commented on #6017
We just found this as well. Oddly, not empty for me. I see about a quarter of the monitors I should see. My colleague sees the other 75%, but not the ones I can see. But it's all fine on the dashboard. Very strange.

I've raised it with support.

[2019-03-06 12:54] squrppi commented on #5350
The same applies to browsing tabs with CTRL+TAB. Tabs get changed, but the tab bar does not scroll. The effect is the same to both directions:

1. have more tabs that fit on the tab bar
1. use mouse wheel to scroll the tab bar to middle
1. use CTRL+TAB or CTRL+SHIFT+TAB to navigate the tab bar
1. notice that tabs are changed but tab bar stays put

Just like with original reporter, "Ctrl + Shift +

[2019-03-06 13:34] rozling commented on #4780
I'd like to add a +1 to this; Bitbucket is so integrated into our workflow that this integration would be extremely useful.

[2019-03-06 14:01] masterchop commented on #6021
I am afraid this is a work API and i can't share the information but very interested so if you need me to test anything please feel free to reach out to me to do all the necessary testing.

[2019-03-06 15:04] kochetkov-av commented on #4320
Well anything?

Solutions i guess is simple, is to allow set file path by string, not only by selector. It will allow as to use variables as well. It stored as string internally anyway, so it must be not so hard.

And add some export options, for example:

1. Do not export path - default
2. Export only file name
3. Export full path as is, with variables

All workarounds seems to include some sort

[2019-03-06 15:24] Raja-Simha commented on #5953
@labifrancis, thanks for reporting this.

[2019-03-06 16:23] kristenbrann commented on #1667
👍

[2019-03-06 16:47] vbob commented on #2707
At the stable release or newer 6.7.4 is possible to disable shortcut keys by going to:

Wrench Icon -> Settings -> Shortcuts -> Shortcuts Toggle

[2019-03-06 17:01] VicKetchup opened #6025 "Improvements to "GET Single Monitor" Postman API"
**Is your feature request related to a problem? Please describe.**
We are using Postman API to display monitor results in a more meaningful way for our workflow (combine results for all markets within a system and vice versa). The API gives very limited data, making it difficult to display all the data we would like to see.

**Describe the solution you'd like**
There is extra information we would

[2019-03-06 17:22] jzabroski commented on #4751
Any update on this?

[2019-03-06 17:28] franciscomerdot commented on #285
+1

[2019-03-06 17:56] frcharbonneau opened #6026 "Global Proxy triggers a connection error but collection runs fine when proxy is disabled"
**Describe the bug**
Postman collection runs fine when I run without any proxy but throws the following error when custom proxy defined (and enabled) to localhost:8087.
Error: tunneling socket could not be established, cause=connect ECONNREFUSED 127.0.0.1:8087

I've tried multiple solutions posted on other issues with no success:
1- I've tried setting an environment variable with the proxy values

[2019-03-06 18:44] a85 commented on #5058
Closing this as we have had several issues of monitoring pushed since then. Can't seem to replicate the issue.

[2019-03-06 18:44] #5058 closed, assigned to elssar

[2019-03-06 18:44] #4603 closed, assigned to ratpik

[2019-03-06 18:44] #5175 closed, assigned to nobody

[2019-03-06 19:14] preethammavin commented on #4448
@BillWilson thanks for letting us know, closing the issue.

[2019-03-06 19:14] #4448 closed, assigned to dhineshwiz, Raja-Simha

[2019-03-06 19:24] preethammavin commented on #6017
We have pushed a fix to solve it, can you check if the issue is resolved?

[2019-03-06 19:55] VicKetchup commented on #6017
Unfortunately no, still no monitors are showing in the response.

[2019-03-06 20:08] godfrzero commented on #6017
The issue with the API and the previous issue with the UI are two different problems. The UI issue has been fixed and all monitors which are supposed to show up do show up in the Dashboard. The API issue is a bit more nuanced and I'll need some more time to push out a proper fix for it.

[2019-03-06 20:14] zio-mitch commented on #2547
A good idea could be to allow to store these base64 variables in external files.
Is there a way?

[2019-03-06 20:28] slm0n87 commented on #3290
+1 on Postman for Linux

[2019-03-06 22:29] ghost commented on #2427
Wow, this is still broken, three years later.  Luckily, it only impacts **every single API endpoint** in our application.

[2019-03-06 22:49] #5910 closed, assigned to nobody

[2019-03-06 22:54] JP-from-Postman opened #6027 "Collections still archived after upgrading"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
For some free teams with Collections that have been archived, upgrading to Postman Pro doesn't un-archive the affected Collections.

Also, because paid teams _shouldn't_ need access to the web dashboard page for un-archiving Col

[2019-03-06 22:56] abhijitkane commented on #5802
@Ramya-From-Postman the dependencies for this are solved. For internally discovered issues, we should add more details on the linked JIRA. Not sure if you'd remember what user ticket this issue was originally for.

[2019-03-06 22:56] #5802 closed, assigned to elssar

[2019-03-06 23:01] abhijitkane commented on #5851
@wsfuller This has been marked solved internally. Can you verify?

[2019-03-06 23:02] abhijitkane commented on #5851
@wsfuller This has been marked solved internally. Can you verify?

[2019-03-06 23:03] abhijitkane commented on #5849
@preethammavin User-reported bugs need to be on github and open till they're verified fixed by the OP. Most bugs won't be reproducible till the underlying conditions are known, and we'll internally move all user-facing bugs to github. Reopening for further investigation.

[2019-03-06 23:04] abhijitkane commented on #5849
@chrisdeso Can you add more details (user/team ID) to the linked JIRA ticket?

[2019-03-07 00:33] JP-from-Postman opened #6028 "No response, when sending request using system or global proxy address"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
User receives **Could not get any response** error when try to send a request via a corporate proxy. Using either system, or global proxy settings yields the same result.

[2019-03-07 00:33] ghost opened #6029 "Postman v 6.7.4 can't be installed on macOS 10.14.3"
## App Details:
Installer for version 6.7.4

[code]
**Log (from ~/Library/Application Support/Postman/logs/main.log)**

[35941][1551918346698][main][info]["Booting Postman 6.7.4, darwin-18.2.0 on x64"]
[35941][1551918346703][main][info]["EventBus\\x7einitialize - Success"]
[35941][1551918346706][main][info]["UpdateHandler\\x7einit - Success"]
[35941][1551918346707][main][info]["RuntimeExecutionSer

[2019-03-07 05:09] vdespa commented on #4052
I decided to write an article on this topic: https://medium.com/@vdespa/demystifying-postman-variables-how-and-when-to-use-different-variable-scopes-66ad8dc11200

I hope this helps somebody.

[2019-03-07 05:24] harryi3t commented on #6028
@JP-from-Postman Some more information that would help triage this issue:
1. Does the network requires a proxy?
2. If yes, is the proxy authenticated? What authentication does it use? Basic, NTLM or any other?
3. Share the output from the Postman Console. (open the console first then send the request, expand all views before taking screenshot)

[2019-03-07 08:48] asleepysamurai commented on #3186
I've run into this issue too, and I finally created my own barebones GUI for testing websockets. It's called Socket Wrench, it supports

- multiple concurrent connections to servers (with all responses and connections displayed in the same view),
- comprehensive message history to enable easy re-use of messages, and
- custom headers for the initial connection request.

It's available for Mac OS X,

[2019-03-07 08:54] Raj-postman opened #6030 "Cannot choose a monitor to integrate"
**Describe the bug:**
When you try to setup an integration for a monitor, the existing monitors cannot be seen in the UI.

**Steps to reproduce the behavior:**
1. Navigate to team's workspace integrations page.
2. Choose an 'Application' eg: Slack and then click add new Monitor.
3. Authorize postman
4. Choose a monitor to be integrated here. There is no monitor to choose from.

**Expected behaviou

[2019-03-07 09:40] karthiksml commented on #3641
may i know the status of this issue? we are in a situation to use this :)

[2019-03-07 09:43] prashantagarwal commented on #5512
@vkaegis We already support this.

[2019-03-07 09:43] #5512 closed, assigned to prashantagarwal

[2019-03-07 09:51] Ashthos commented on #2240
+1. Some information/updates on this issue would be appreciated.

[2019-03-07 10:28] onionka opened #6031 "Postman Linux update removed all directories in the parent directory"
**Describe the bug**
When I ran a Postman today, it started to sync, and after a while, I noticed that it removed all files and directories where the Postman was stored.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Postman
2. Wait a few seconds
3. Check directory when Postman was stored
4. See there are no Postman or any other programs I had there

**Expected behavior**
It seems like

[2019-03-07 11:00] simonireilly opened #6032 "V7 Linux Client"
Hi, when is Linux support coming for the v7 desktop client?

If it's out where can I download it - v6.7.4 is the latest on the downloads page.

Thanks for your time :+1:

[2019-03-07 11:04] simonireilly commented on #6032
Just tried the Canary build and it is also still v6 for Linux :+1:

[2019-03-07 11:19] anhthang commented on #3646
+1

[2019-03-07 11:32] camacici opened #6033 "Response status colored"
Is possible to have the response status colored?
If I receive a status 500 I would like to see it colored in red, not with a green; green usually indicates that is all ok.

![immagine](https://user-images.githubusercontent.com/409793/53953933-00f86000-40d5-11e9-90d9-d9d7e9582d7b.png)

Thanks

[2019-03-07 11:33] SamvelRaja commented on #6032
@simonireilly  Thanks for being an early adopter of 7.0
Since, 7.0 is a major release. We are rolling it out in a very controlled way for our production channel users.

But, you can get the latest 7.0 in our canary channel now itself.
https://www.getpostman.com/downloads/canary

[2019-03-07 11:42] SamvelRaja commented on #6032
Also, @simonireilly  You will be getting the updates automatically. I wonder why you didn't get inside your linux app itself as an update option.

[2019-03-07 12:12] simonireilly commented on #6032
Not sure - expected to see the update option, but it isn't present in the settings panel:

![image](https://user-images.githubusercontent.com/30017294/53955846-f8525a80-40d1-11e9-9553-81f1303c0355.png)

Running Ubuntu 18.04 with the snapcraft version installed.

Snap hasn't been updated since January 16th 2019 :+1:

![image](https://user-images.githubusercontent.com/30017294/53955932-2c2d8000-40d2

[2019-03-07 12:16] simonireilly commented on #6032
Also thanks for your response. Running on Canary now :+1:

[2019-03-07 12:32] ionutale commented on #6024
me 2
but i'm on windows 10

[2019-03-07 12:53] numaanashraf commented on #6024
@jhonyourangel Could you open another issue for this? This is not related to the original issue.

[2019-03-07 12:53] numaanashraf commented on #6024
Postman 7.0 is currently on candidate line on Snap.

[code]

[2019-03-07 12:53] #6024 closed, assigned to nobody

[2019-03-07 13:45] #5995 closed, assigned to nobody

[2019-03-07 13:46] khanhtd36 commented on #5995
Bug fixed on new update.

[2019-03-07 14:42] djblankinship commented on #5827
I contacted Postman support about this issue and they directed me to this thread. I am seeing the problem using the Postman version 6.7.4 native app on Mac as well. In my case, I have several hundred environment variables that I am handling in the Manage Environments dialog.

[2019-03-07 14:57] Zer0x00 commented on #6028
Similiar problem here. Happens using latest Postman 6 and also using 7 (Canary)
Tried also using a batch file with "set HTTP_PROXY=..."
1. Yes
2. Basic
3. Can't post any console because it does not load

![2019_03_07_15_49_24_postman](https://user-images.githubusercontent.com/32687653/53965502-a5889b00-40f1-11e9-98fd-cf7c4f72eadc.png)

[2019-03-07 15:39] kenmaglio commented on #1475
I've been looking into the [Issue](https://github.com/Kong/httpsnippet/issues/75) filed over on Kong. Trying to get traction there.

Trying to get the [PR](https://github.com/Kong/httpsnippet/pull/105)  looked at by  @ahmadnassri or  @darrenjennings   over there...

Apparently, this library is what Postman uses to do the code snippets. and @bobmclaren graciously has already coded up support for Po

[2019-03-07 15:42] harryi3t commented on #6028
@buenyamin-olgun This seems to be different issue where App is not even opening/loading and showing a black screen, if that right?
If yes, then it might because of non-compatible GPU. You can try disabling the GPU as mentioned here https://github.com/postmanlabs/postman-app-support/issues/4594

[2019-03-07 15:57] jordanebelanger commented on #3117
Make it happen already, it's not an hard feature to add and would make documenting using postman requests ACTUALLY possible :)

[2019-03-07 17:36] VicKetchup commented on #6017
Not sure if the API issue is related to this, however when creating Slack integrations, not all monitors are shown (I am missing only a few, however my colleague can't see any, even if he creates a monitor himself).

[2019-03-07 18:02] andreacab commented on #2521
I am having the same issue using postman v 6.7.4, is it resolved? What's the status?
I filed an issue on SO [here](https://stackoverflow.com/questions/55049263/file-upload-with-postman-with-pre-signed-url-not-working). Help is greatly appreciated.

[2019-03-07 18:12] MeanderingCode commented on #6030
This issue is blocking my integration of Postman monitors with our alert channels.
Thanks for taking a look at it!

[2019-03-07 18:21] andreacab commented on #2521
@a85 what if you need no `Content-Type`, as with aws S3 pre-signed urls...

[2019-03-07 18:24] DavidLindsey0118 commented on #4849
Encountering the same problem in 6.7.4, Windows 64-bit. Scrolling of my results body window only works when the mouse is in the indicated green hotboxes.

I am on an HP Omen X laptop using Windows 10 Pro.  Graphics card is a NVIDIA GeForce GTX 1080.  Native display resolution is 3840x2160 (4k) but secondary monitor resolution is 1920x1080 (1080p)

[2019-03-07 19:00] JP-from-Postman opened #6034 "Unable to submit a Support Ticket, when Name field in user account is empty"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
For a user account with an empty **Name**, or **Username**, field, attempting to log in and submit a support ticket via the Support page (getpostman.com/support), lands on the following URL, with the message shown below:
https:/

[2019-03-07 20:49] shuyih commented on #5514
Hi, this also happens to me right now with the latest desktop 6.7.4 version. The icon is displayed on the taskbar but the application is not displayed
![image](https://user-images.githubusercontent.com/13390547/53988043-6a796e00-40d7-11e9-99db-a177cc2e7cae.png). How can I enable it?

[2019-03-07 20:52] shuyih commented on #4167
hi, this is happening right now with version 6.7.4 on windows 10 x64, what is the solution?

[2019-03-07 20:55] abhijitkane commented on #6034
@JP-from-Postman I see a different flow (where the user is taken to the workspace page instead of the support center). Does the flow you see change when the email is verified?

EDIT: Nvm - reproduced the flow you reported by verifying the email.

[2019-03-07 21:14] preethammavin commented on #5814
The fix has been pushed and should be fixed for all existing clients. Closing the issue for now, feel free to reopen it if it is not.

[2019-03-07 21:26] preethammavin commented on #6030
@MeanderingCode @Kurmavathar do you have the monitor in the workspace you are trying to create the integration in?

[2019-03-07 22:01] Azz-L opened #6035 "Postman won’t start (Windows 10)"
**Describe the bug**
As title says, Postman v6.7.4 won’t start on Windows 10.

I did have an earlier (unknown) version of Postman working and at some point it stopped working. Since then I have uninstalled/reinstalled many times. During installation process the install screen displays very quickly then nothing.

When I launch Postman nothing happens aside from the cursor briefly changing to indica

[2019-03-07 22:15] RichFoo commented on #697
This works, but the captured request is captured with all of it's variables resolved (unsurprisingly). So, if you switch environments, you'll need to re-run the authorization request to re-generate the captured request with the correct parameters.  It's definitely a start, though!

[2019-03-07 22:48] matt-ball opened #6036 "APImatic integration doesn't respect settings"
**Describe the bug**
Upon setting up the APImatic integration:

a) the Postman collection is always backed up to GitHub in the Postman collection format (rather than your chosen format e.g. Swagger 2.0)
b) the integration runs once and doesn't sync with GitHub continually despite changes to the linked collection

Trying to reproduce this later on, I found the integration never ran at all - perhaps

[2019-03-07 23:11] loopDelicious opened #6037 "In-app callouts to link user to another place within the app"
When I receive an in-app callout like this, clicking on it directs me to the web dashboard. It's a little bit jarring, and I don't expect to leave the app. Is it possible to link to the browse mode view of that workspace WITHIN the app?

<img width="1392" alt="screen shot 2019-03-06 at 3 27 09 pm" src="https://user-images.githubusercontent.com/17693714/53995716-ca2d4480-40ea-11e9-9a7a-a3fe522671b6

[2019-03-07 23:50] MeanderingCode commented on #6030
@preethammavin Yes, I do.

[2019-03-07 23:58] ssubashchandran commented on #4300
Any updates on this? When i tried to integrate with Salesforce, the access token has an exclamation mark (!) as part of it and the api request was failing continuously with session expired error message. Then i tried with curl and it was working fine.

**Sample Token:**

Bearer  00D1U00000141bg!AQwAQNow006fK4GJ6y7C41ISyjEQ9DtGUcSpsta0kxscimFxXnbl9EjLjDGgEfcDxbhj5x1RFaFGn8fT0mSbLUsgo8.eN9Zd

[2019-03-08 00:18] preethammavin commented on #6030
@MeanderingCode Thanks for letting me know, triaging the bug internally. Will give an update soon.

[2019-03-08 00:24] Wounded-Knee commented on #1667
Bump. Obviously. Interceptor, available somewhere other than the DEPRECATED browser extension?

Obviously.

+1

Do the right thing.

[2019-03-08 01:10] srikanthonl commented on #4171
Any update on this please? Any workaround please? Anyone? Im using version 7. And its been more than an year since people have been asking this basic requirement.

[2019-03-08 02:18] aaayersss commented on #1667
This was the only reason I use Postman, please fix it ASAP!

[2019-03-08 03:25] LeeMeyer opened #6038 "mock server proxying"
THE PROBLEM:
Working with an app developed by a third party, want to provide mocked endpoints to them and then swap them for real implementations as they become available and stable.

PROPOSED SOLUTION:
Ability for the postman mock server to proxy requests to another server for selected endpoints,  Other products like Amazon Api Gateway and Mocklabs allow exactly this.

ALTERNATIVES AND WORKAROUND

[2019-03-08 04:21] godfrzero commented on #6017
We've had an internal discussion and finalized how we're going to approach the fix. I'll post an update here again once the fix is out.

[2019-03-08 05:41] numaanashraf commented on #5100
This issue has been fixed in Postman 7.0

[2019-03-08 05:41] #5100 closed, assigned to prashantagarwal

[2019-03-08 06:10] Mojicode commented on #4009
It will be very wonderful if the postman with websocket

[2019-03-08 06:51] mukeshknoldus commented on #4891
Any update on this as i need this feature in my testing

[2019-03-08 07:19] Raja-Simha commented on #5791
@norchow Thanks for reporting this issue. We now verify favicon size when it is uploaded and do not allow users to upload non-standard favicon sizes.

Closing this issue.

[2019-03-08 07:30] #5791 closed, assigned to akshaydeo, abhinav-ravi

[2019-03-08 08:03] hjornevik opened #6039 "Results from last iteration disappears when scrolling to the end of failed tests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Discovered today, 08.03.2019
 2. Expected behaviour:
When displaying failed tests only in Collection Runner - Run Results, I want to scroll down to see the last failed tests. When I scroll to the end now, last Iteration disappears entirely.
 3. Console logs (http://blog.getpostman.com/

[2019-03-08 08:21] manojp1988 opened #6040 "I would like to have "Move to" option on right clicking a request."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I have around 400 apis in our collection with different folders. If I want to move a request from one folder to another, I had to drag the request all the way. It would be good if I see an option say 'Move to' and if you list the folders in it, I can move to the folder I wanted quickly like

[2019-03-08 08:25] vikiCoder commented on #6011
Hi @m3dbedb,

You can use JavaScript [template literal](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) as shown below to get the desired result.

[code]

[2019-03-08 08:59] #6011 closed, assigned to nobody

[2019-03-08 09:26] zafaque opened #6041 "Could not open Postman, Please contact help@getpostman.com"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
After updation to 6.7.4 version when try to open i am getting this error "Could not open Postman, Please contact help@getpostman.com"

**To Reproduce**
Steps to reproduce the behavior:
1. Have installed older version 6.0
2. Down

[2019-03-08 10:27] harryi3t commented on #6031
@Cmiroslaf Any chance you remember how you updated the Postman app last time? Did you manually downloaded the `Postman-linux-x64-x.y.z.tar.gz` file and uncompressed it yourself or did the app updated itself (When this happens, you would see a toast message "Successfully updated to version ....")?

[2019-03-08 10:53] ionutale opened #6042 "Upgrading to V7 on win 10 blocks me from loading collection from my account. i can import new though"
Like i said in the title, after updating from 6.7 to 7.0 it blocks me from loading: workspaces and collection from my account.
I can import new ones from  json files.

i did the upgrade on an MBP and is working fine. Only on windows it creates me problems

my account in the app and on the site is the same.
the collections and workspaces are mine, i am the admin

** i have tried
reinstaling the app

[2019-03-08 11:02] kamalaknn commented on #6042
@jhonyourangel Do you see any errors in the devtools? `View -> Developer -> Show DevTools (Shared)`

Also could you check if your team is migrated to v7. You can check by visiting https://go.postman.co/settings/team/roles. Postman v7 apps work only for teams that have migrated.

[2019-03-08 11:04] ionutale commented on #6042
i manage to fig the issue by going to `C:\Users\<username>\AppData\Roaming\Postman` and delete everything.
reopen the application, log back to my account and all collections and workspaces automatically sync with my pc.

[2019-03-08 11:36] ionutale commented on #6042
i think this can be closed

[2019-03-08 11:36] #6042 closed, assigned to nobody

[2019-03-08 11:51] vikiCoder commented on #5982
Hi @DhonatanWesley

It will be very helpful if you can provide some detailed information about the request you are trying to send. For example request body, headers (if there is any) etc.

[2019-03-08 13:21] weekian opened #6043 "DELETE request omits environment variable"
## App Details

[code]

## Issue

After setting the environment variable delete_id which is verified to exist by the quick peek button,

Sending a DELETE request http://localhost:8090/user/:delete_id omits the variable entirely. The server receives a http://localhost:8090/user/ request coming in only.

Using :delete_id works for a POST request but not for a DELETE request

Using {{delete_id}} in t

[2019-03-08 15:29] brock commented on #5566
I'd like to add a more explicit request here: being able to click a run icon on a folder like in collections.

The use case is a folder for logging into an application so I can test a new endpoint _before_ running the whole collection

<img width="296" alt="run_folders" src="https://user-images.githubusercontent.com/654725/54037780-9141ae00-4184-11e9-87ca-a49afcb2c227.png">

[2019-03-08 16:38] codenirvana commented on #5822
@bkirkendall Thanks for reporting this.

The actual bug here is variables assigned in global scope are shared across scripts(pre-request/test).
Scripts in Postman are executed within a Node VM module and that is sandboxed such that context is not shared across multiple executions.

This is a known issue and has been reported in the past: https://github.com/postmanlabs/postman-app-support/issues/44

[2019-03-08 16:47] hortom commented on #4061
Hi,
With the latest 7.0.4 on mac, I see this issue. I try to use a global variable in a POST request body.
[code]

It doesn't work, regardless that I have a global variable `accessToken`. When I log with pre-script `console.log(request.data);` then it contains only the `{{accessToken}}` string and not the value of it.
Did I miss something?

[2019-03-08 18:52] designxtek commented on #1667
Here looking for the Inceptor since the Chrome app is deprecated.

[2019-03-08 19:47] elie-g opened #6044 "Crashes every time a collection with more than 2 requests runs"
**Describe the bug**
Postman crashes every time a collection containing more than 2 requests is run in the collection runner.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Create at least 3 requests in the collection
3. Run the collection in the collection runner

**Expected behavior**
Postman should run all the tests/requests without crashing.

**Screenshots**
![CRA

[2019-03-08 23:10] jean-husa opened #6045 "Your team updated to Postman v7.0. but no update present in settings. Will not sync"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Upgraded one linux box at office to 7.0. When I open Postman on laptop at home I see banner:
Your team updated to Postman v7.0. To keep your collections and workspaces in sync with your team, you must also update to v7.0 by goin

[2019-03-09 00:23] travischambers commented on #285
+1

[2019-03-09 00:59] UnKnoWn-Consortium commented on #5968
@mayankag02 I have encountered the exact same issue with the exact same log output. I was able to get rid of it by manually removing the folder as shown in the last line before the "Unhandled exception", i.e. `C:\Users\Postman` in your case. I hope it works for you too.

[2019-03-09 01:03] IngCr3at1on commented on #4009
It's official, I can no longer remain subscribed to this issue waiting for an actual update because people are too busy posting the same things over and over again in blatant disregard for both repo maintainer wishes as well as GitHub general community suggestions.

I really hope that the postman team comes up with a decent way to announce when this feature is complete for those of us who are no-l

[2019-03-09 02:24] brock opened #6046 "Persist environment variables from the collection runner"
I love the collection runner because it identifies issues and I can easily address failing tests. My collection runner also sets up authentication tokens that are saved to my environment and persisted throughout the runner. However, when I exit the runner, the environment variables saved _inside the runner_ are not saved in my environment _outside_ the collection runner.

If I'm using an environme

[2019-03-09 03:49] GalvinGao commented on #3418
Definitely an inconvenient for me! Using _Base URL_ with _environment feature_ can also allows the user to choose the environment they want to run their requests on, say using `production` and `development`, etc,. This will be a very handy feature to add on!

[2019-03-09 04:45] vkaegis commented on #6033
@camacici Thanks for writing in! The original intention behind not differentiating between errors and normal status codes was that some of our users explicitly use Postman to test for scenarios where error codes are common. That said, we can definitely move to a more neutral color for those.

Going forward, we hope to also be able to provide the ability to customize these colors based on your pref

[2019-03-09 05:21] numaanashraf commented on #5389
Fixed in Postman v7.0

[2019-03-09 05:21] #5389 closed, assigned to nobody

[2019-03-09 05:22] numaanashraf commented on #5358
Fixed in Postman v7.0

[2019-03-09 05:22] #5358 closed, assigned to nobody

[2019-03-09 05:24] numaanashraf commented on #5788
Fixed in Postman v7.0

[2019-03-09 05:24] #5788 closed, assigned to nobody

[2019-03-09 05:26] numaanashraf commented on #5780
Fixed in Postman 7.0

[2019-03-09 05:26] #5780 closed, assigned to nobody

[2019-03-09 05:27] numaanashraf commented on #5743
Fixed in Postman v7.0

[2019-03-09 05:27] #5743 closed, assigned to nobody

[2019-03-09 05:32] numaanashraf commented on #5096
Fixed in Postman v7.0

[2019-03-09 05:32] #5096 closed, assigned to numaanashraf

[2019-03-09 05:33] numaanashraf commented on #5207
Fixed in Postman v7.0

[2019-03-09 05:33] #5207 closed, assigned to nobody

[2019-03-09 05:37] numaanashraf commented on #5260
Fixed in Postman v7.0

[2019-03-09 05:37] #5260 closed, assigned to nobody

[2019-03-09 05:39] numaanashraf commented on #5283
Fixed in Postman v7.0

[2019-03-09 05:39] #5283 closed, assigned to nobody

[2019-03-09 05:41] numaanashraf commented on #5276
Fixed in Postman v7.0

[2019-03-09 05:41] #5276 closed, assigned to nobody

[2019-03-09 05:42] numaanashraf commented on #5319
Fixed in Postman v7.0

[2019-03-09 05:42] #5319 closed, assigned to nobody

[2019-03-09 05:44] numaanashraf commented on #5490
Fixed in Postman v7.0

[2019-03-09 05:44] #5490 closed, assigned to insomniac12

[2019-03-09 05:45] numaanashraf commented on #5505
Fixed in Postman v7.0

[2019-03-09 05:45] #5505 closed, assigned to numaanashraf

[2019-03-09 05:45] numaanashraf commented on #5621
Fixed in Postman v7.0

[2019-03-09 05:45] #5621 closed, assigned to nobody

[2019-03-09 05:48] numaanashraf commented on #5676
Fixed in Postman v7.0

[2019-03-09 05:48] #5676 closed, assigned to vkaegis

[2019-03-09 05:51] numaanashraf commented on #2651
Fixed in Postman v7.0

[2019-03-09 05:51] #2651 closed, assigned to numaanashraf

[2019-03-09 06:04] numaanashraf commented on #3302
This is addressed in Postman v7.0

[2019-03-09 06:04] #3302 closed, assigned to kamalaknn

[2019-03-09 06:29] santhoshTpixler commented on #4320
There is an alternative REST client https://insomnia.rest

[2019-03-09 06:33] santhoshTpixler commented on #4320
Postman is definitely getting better during recent updates. But this is the most important deal breaker for everyone. All good hearts from postman, kindly listen to the voice of community.

[2019-03-09 13:03] felamaslen commented on #6045
Can confirm this issue on Ubuntu 18.04.1.

[2019-03-09 13:30] numaanashraf commented on #6045
@felamaslen @jean-husa
It seems like you have installed Postman from Snapstore or Ubuntu Software Center. Postman 7.0 is currently on `candidate` channel on Snap. Please try the following commands to switch your release channel line to `candidate`.

[code]

[2019-03-09 13:34] numaanashraf commented on #6046
@brock Have you tried using `Keep variable values` option while starting the run? Dependencing on your use-case, you need to use `Keep variable values` & `Setting > General > Automatically persist variable values` options. The reference for the same is at https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs#configuring-the-collection-runner. Do let us

[2019-03-09 13:37] numaanashraf commented on #6032
@simonireilly It seems like you have installed Postman from Snapstore or Ubuntu Software Center. Postman 7.0 is currently on candidate channel on Snap. Please try the following commands to switch your release channel line to candidate.

[code]

[2019-03-09 13:57] numaanashraf commented on #5840
Fixed in Postman v7.0

[2019-03-09 13:57] #5840 closed, assigned to nobody

[2019-03-09 13:59] numaanashraf commented on #5188
Added in Postman v7.0

[2019-03-09 13:59] #5188 closed, assigned to vkaegis

[2019-03-09 14:00] numaanashraf commented on #3350
Headers to differentiate these have been added in Postman v7.0

[2019-03-09 14:00] #3350 closed, assigned to vkaegis

[2019-03-09 14:04] numaanashraf commented on #5489
Fixed in Postman v7.0

[2019-03-09 14:04] #5489 closed, assigned to nobody

[2019-03-09 14:06] numaanashraf commented on #4977
Fix is available in Postman v7.0

[2019-03-09 14:06] #4977 closed, assigned to numaanashraf

[2019-03-09 14:07] numaanashraf commented on #4894
Fixed in Postman v7.0

[2019-03-09 14:07] #4894 closed, assigned to nobody

[2019-03-09 14:08] numaanashraf commented on #5306
Fixed in Postman v7.0

[2019-03-09 14:08] #5306 closed, assigned to nobody

[2019-03-09 14:09] numaanashraf commented on #5409
Fixed in Postman v7.0

[2019-03-09 14:09] #5409 closed, assigned to nobody

[2019-03-09 14:10] numaanashraf commented on #2918
This has been addressed in Postman v7.0

[2019-03-09 14:10] #2918 closed, assigned to vkaegis

[2019-03-09 14:11] emilianito commented on #131
+1 Elasticsearch

[2019-03-09 14:40] ghost commented on #4253
+1
7.0.4 here
no icon

[2019-03-09 14:43] ghost commented on #4272
A year later in 7.0.4 and still not fixed.

[2019-03-09 14:50] numaanashraf commented on #5156
Fixed in Postman v7.0

[2019-03-09 14:50] #5156 closed, assigned to nobody

[2019-03-09 15:08] numaanashraf commented on #5238
Not reproducible on Postman v7.0. Closing.

[2019-03-09 15:08] #5238 closed, assigned to nobody

[2019-03-09 15:12] numaanashraf commented on #5211
Fixed in Postman v7.0

[2019-03-09 15:12] #5211 closed, assigned to nobody

[2019-03-09 15:33] numaanashraf commented on #5709
Fixed in Postman v6.7

[2019-03-09 15:33] #5709 closed, assigned to nobody

[2019-03-09 15:34] #6032 closed, assigned to nobody

[2019-03-09 18:51] godfrzero commented on #4630
Closing due to inactivity. If you're still seeing this issue, feel free to re-open.

[2019-03-09 18:51] #4630 closed, assigned to ankit-m

[2019-03-09 20:08] #6006 closed, assigned to nobody

[2019-03-09 22:45] a85 commented on #5934
We won't be adding explicit import options here as this is a rare scenario and doesn't require a new feature. We'll continue improving support for copy/paste and other interactions for variables across the app.

[2019-03-09 22:45] #5934 closed, assigned to nobody

[2019-03-09 22:48] a85 commented on #5914
Annotations will be part of the product but we don't plan to support that using inline schemas as that requires changing every data model that annotations could be part of.

[2019-03-09 22:53] a85 commented on #5810
There are no plans to turn this feature off. We recommend using the "none" setting.

[2019-03-09 22:53] #5810 closed, assigned to vkaegis

[2019-03-09 22:53] a85 commented on #5817
There are no plans to implement this but we will build more customizability for themes soon. Until then users should set the themes themselves.

[2019-03-09 23:00] a85 commented on #5808
This will be replaced by the data editor which will have the same features as the rest of the places where variables are edited.

[2019-03-09 23:02] a85 commented on #5781
There are no plans currently for doing that and it is tricky for us to determine when something will be auto-saved. We will look at this when we move the collection runner back to the main window process.

[2019-03-09 23:02] #5781 closed, assigned to nobody

[2019-03-09 23:06] a85 commented on #5741
Closing this as this looks like an issue with the host's firewall.

[2019-03-09 23:06] #5741 closed, assigned to nobody

[2019-03-09 23:06] #5724 closed, assigned to nobody

[2019-03-09 23:08] a85 commented on #5719
OData and other schema formats will be supported soon. We are doing some work to support this and more such formats.

[2019-03-09 23:09] a85 commented on #5713
Thanks for submitting this. This will be possible with role-based access control system that we are launching soon. We have some basic roles out but more advanced roles will be available as well soon.

[2019-03-09 23:12] a85 commented on #5640
Settings for themes are currently local to the desktop installation. It's not a regular action as mostly we see people changing themes once in a while. A more general version of syncable settings will be available in the future. For now, closing this issue.

[2019-03-09 23:12] #5640 closed, assigned to nobody

[2019-03-09 23:13] a85 commented on #5612
Similar to #285. Closing as duplicate.

[2019-03-09 23:13] #5612 closed, assigned to nobody

[2019-03-09 23:16] a85 commented on #5573
Editing a request is not the only reason people open tabs. While debugging or testing, people open multiple tabs and get different responses or even do different variations of the same request. In a single tab scenario this wouldn't be possible. As @vkaegis mentioned, we are improving the tab workflow regularly and will keep this issue open till then.

[2019-03-09 23:19] a85 commented on #5199
Closing as duplicate of other feature requests and there are no plans for Postman to support databases in the near future.

[2019-03-09 23:19] #5199 closed, assigned to nobody

[2019-03-09 23:21] #1553 closed, assigned to nobody

[2019-03-09 23:22] #1754 closed, assigned to a85, vkaegis

[2019-03-09 23:24] #2810 closed, assigned to a85, vkaegis

[2019-03-09 23:24] #2766 closed, assigned to vkaegis

[2019-03-09 23:24] a85 commented on #2746
We'll make shortcuts customizable to solve this among other issues.

[2019-03-09 23:24] #2746 closed, assigned to vkaegis

[2019-03-09 23:28] a85 commented on #3187
No plans for additional work on this. We recommend using Workspaces for sharing and collaboration.

[2019-03-09 23:28] #3187 closed, assigned to vkaegis

[2019-03-09 23:39] a85 commented on #2096
Shortcuts can be disabled now in Postman 7.0+. Custom bindings will be available in future versions.

[2019-03-10 00:21] eli-b commented on #1553
I checked, and the same behavior appears in the latest native version.

[2019-03-10 03:46] a85 commented on #1147
This should work as expected.

[2019-03-10 03:46] #1147 closed, assigned to vkaegis

[2019-03-10 03:47] a85 commented on #1848
We support a 2-pane layout now. Outside of this we recommend copy/pasting the result or exporting it to a file.

[2019-03-10 03:47] #1848 closed, assigned to vkaegis

[2019-03-10 03:47] a85 commented on #2989
You can use collection variables for this now.

[2019-03-10 03:47] #2989 closed, assigned to a85, vkaegis

[2019-03-10 03:48] a85 commented on #4160
No plans to build this in the app except a feedback link. Hopefully in the future!

[2019-03-10 03:48] #4160 closed, assigned to a85

[2019-03-10 03:54] a85 commented on #5018
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/519. We haven't gotten around to this yet but hopefully soon with our new plug-in system

[2019-03-10 03:54] #5018 closed, assigned to vkaegis

[2019-03-10 03:56] a85 commented on #5186
Closing this as this adds another layer of meaning to variables. We'll look at alternative ways of improving the variable lifecycle.

[2019-03-10 03:56] #5186 closed, assigned to vkaegis

[2019-03-10 03:57] a85 commented on #5289
Not a setting that we are considering right now as the overhead of remembering the interface across multiple windows AND have settings around it is too much on the architecture.

[2019-03-10 03:57] #5289 closed, assigned to nobody

[2019-03-10 04:01] a85 commented on #5530
Thank you for submitting the use case. Unfortunately, we have enough issues to deal with our current billing model that we don't see this or a variant of this getting implemented any time soon. Users can of course join multiple teams but tracking usage and paying for a license individually by different people and then bringing them together in a single construct  is not possible.

[2019-03-10 04:01] #5530 closed, assigned to nobody

[2019-03-10 04:03] a85 commented on #5698
@moleksyuk Have you tried using collection variables or workspaces?

[2019-03-10 04:04] a85 commented on #6014
I am not sure what Postman would be doing here - this is something that Github and APIMatic can support independently of Postman.

[2019-03-10 04:04] #6014 closed, assigned to sankalp0o, ankit-m, preethammavin

[2019-03-10 04:05] a85 commented on #2046
Role based access control is rolling out now with support for this and other ways to control access to resources like Workspaces and Collections.

[2019-03-10 04:05] #2046 closed, assigned to a85, sankalp0o

[2019-03-10 04:06] a85 commented on #3408
This works as expected now.

[2019-03-10 04:06] #3408 closed, assigned to numaanashraf

[2019-03-10 04:34] a85 commented on #4553
Variables in Postman have initial values and current values. In a collaborative context, users can set initial values that will be shared but current values are local to everyone's instance of Postman. @rylancates Let me know if this solves your use case. Closing this for now.

[2019-03-10 04:34] #4553 closed, assigned to vkaegis

[2019-03-10 04:36] a85 commented on #1936
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2019-03-10 04:36] #1936 closed, assigned to a85

[2019-03-10 04:36] a85 commented on #5055
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2019-03-10 04:36] #5055 closed, assigned to numaanashraf

[2019-03-10 04:36] a85 commented on #5337
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2019-03-10 04:36] #5337 closed, assigned to nobody

[2019-03-10 04:37] a85 commented on #5205
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4576

[2019-03-10 04:37] #5205 closed, assigned to nobody

[2019-03-10 04:38] a85 commented on #5513
We are looking at improvements for this but we have seen people reach the tracker easily enough so far. Closing this for now.

[2019-03-10 04:38] #5513 closed, assigned to numaanashraf

[2019-03-10 04:41] a85 commented on #1485
We recommend using Workspaces now for different configurations. Collections and Environments are shareable across workspaces so this and other configurations should be easy to set up.

[2019-03-10 04:42] a85 commented on #3150
We are pausing more changes in the tab system for now. We have seen the current system be flexible enough. We'll continue looking at changes and re-open this issue if needed. Thanks for submitting @Faz540

[2019-03-10 04:42] #3150 closed, assigned to a85

[2019-03-10 04:44] a85 commented on #3838
Closing this as we have 2 modes available for moving across the Chrome app - data dumps and syncing. We won't be doing a tight coupling between the Chrome app and the native app as the Chrome app platform is deprecated and we have frozen the codebase.

[2019-03-10 04:44] #3838 closed, assigned to numaanashraf

[2019-03-10 04:45] a85 commented on #4614
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2019-03-10 04:45] #4614 closed, assigned to numaanashraf

[2019-03-10 06:43] kamalaknn commented on #4948
This is fixed in Postman v7

[2019-03-10 06:43] #4948 closed, assigned to numaanashraf

[2019-03-10 06:45] kamalaknn commented on #5726
This is fixed in Postman v7

[2019-03-10 06:51] a85 commented on #3418
We recommend using collection level variables and setting variables manually for requests as Postman can't assume that one baseURL applies to each request. I understand that Swagger/OpenAPI schemas do this but Postman can't be expected to abide by the assumption of spec formats. We expect this job to be done by converters and we'll open up plug-ins so people can write their own.

[2019-03-10 06:51] #3418 closed, assigned to numaanashraf, vkaegis

[2019-03-10 06:55] a85 commented on #2773
Postman doesn't open a new tab anymore and switches to the existing open tab if you switch to it from the sidebar. There are no further changes planned around this.

[2019-03-10 06:55] #2773 closed, assigned to vkaegis

[2019-03-10 06:58] a85 commented on #5547
There are no plans for saving state across restarts. There is too much overhead to store configuration options across every tab and resetting the screen state every time.

[2019-03-10 06:58] #5547 closed, assigned to nobody

[2019-03-10 06:59] a85 commented on #2282
This is coming soon to the production apps.

[2019-03-10 09:06] apautrot opened #6047 "Importing a valid cURL command does nothing"
**Describe the bug**
Importing a valid cURL command does nothing.
Note that importing an invalid cURL command raise an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Import button (next to New, in upper left corner)
2. Click on Raw Paste Data tab
3. Paste 'curl http://postman-echo.com/get' in the text field. Also tested with various other cURL commands. Note that invalid com

[2019-03-10 09:20] apautrot opened #6048 "The Postman edition tab is desperately empty"
**Describe the bug**
I'm rather new to postman, haven't used it since month.. but I don't get what I see.
The edition tab is empty. Clicking on the '+' sign does nothing. Clicking on '...' neither.
Take a look at the attached screenshot, I believe you'll understand there is something wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on '+' sign button in edition tab (main tab of t

[2019-03-10 17:27] cvgaviao commented on #4598
I think the issue that I'm dealing with is related to this. If is not let me know and I'll open another one.
After I have imported an openApi file containing a server item like this:
[code]
only the first variable is being converted to `{{protocol}}` all other was kept as is.

[2019-03-10 18:11] r3m4k3 commented on #3602
Any update on this?
I believe we should at least know whether this feature is foreseen for the development, or rather is on hold and we should take a look at some workarounds, or even another mock servers.

[2019-03-10 18:36] kenmaglio commented on #1475
@elssar  Please see that Kong now supports PowerShell via  [feat(powershell): add powershell webrequest target #127](https://github.com/Kong/httpsnippet/pull/127).

Can we get someone here at postman to look at their new master and pull in support pretty please!!

@darrenjennings Rocks!   ( you too @bobmclaren )

[2019-03-10 18:40] darrenjennings commented on #1475
This is now bundled with [httpsnippet@1.16.7](https://www.npmjs.com/package/httpsnippet/v/1.16.7).

@elssar et al. @ahmadnassri and myself are currently in the process of rejuvenating the httpsnippet project and would up for seeing the improvements your team has made to https://github.com/postmanlabs/httpsnippet-fsless. I will be reviewing the repo and merging in any updates as makes sense. We wil

[2019-03-10 18:46] a85 commented on #1475
Thank you @darrenjennings! We have hundreds of requests around this!

[2019-03-10 18:58] brock commented on #6046
Ah - I had not seen those settings. Those did exactly what I needed! Thanks!

[2019-03-10 18:58] #6046 closed, assigned to nobody

[2019-03-10 20:22] orgmatileg commented on #6045
cause this issues my collection are gone 40%

i thought collection is synced and i try to logut then re login but after that request that i writed is gone..

can i recover request that not synced?

Please help..

[2019-03-10 22:43] a85 commented on #1949
Workspaces along with Role Based Access Control features in Postman will solve for this now. More improvements coming soon! No more concept of ownership.

[2019-03-10 22:43] #1949 closed, assigned to sobtiankit

[2019-03-10 22:44] a85 commented on #3274
The new role based access control system in Postman is rolling out now that does away with the concept of an owner. Collections and other entities can now be transferred easily by assigning roles instead of owners being moved around. Thank you everyone for your feedback! We will continue improving this and will also support custom roles.

[2019-03-10 22:45] a85 commented on #4920
Too generic an issue to investigate further. Closing this as we have made changes in 7.0 through the role based access control system.

[2019-03-10 22:45] #4920 closed, assigned to nobody

[2019-03-10 22:47] #5507 closed, assigned to nobody

[2019-03-10 22:47] a85 commented on #5507
No way to replicate this issue.

[2019-03-10 22:48] a85 commented on #3103
Closing as a security risk. Our plug-in system will solve for this in the future.

[2019-03-10 22:48] #3103 closed, assigned to shamasis, vkaegis

[2019-03-10 22:49] a85 commented on #4466
@sankalp0o Can we break down this into multiple issues. Closing this as the ability to tag people and add comments is already there.

[2019-03-10 22:49] #4466 closed, assigned to a85, sankalp0o

[2019-03-10 22:49] #5417 closed, assigned to nobody

[2019-03-10 22:50] a85 commented on #5412
We can't back port data any more. Please contact help@getpostman.com for solutions. Closing this for now.

[2019-03-10 22:50] #5412 closed, assigned to nobody

[2019-03-10 22:52] a85 commented on #5593
Postman doesn't have a dialog any more and renders release notes in a tab. This should fix and other issues related to rendering release notes. More improvements on this soon.

[2019-03-10 22:52] #5593 closed, assigned to nobody

[2019-03-10 22:52] a85 commented on #5305
Related to #4320

[2019-03-10 22:53] #5899 closed, assigned to nobody

[2019-03-10 22:54] a85 commented on #5886
Not enough data to reproduce.

[2019-03-10 22:54] #5886 closed, assigned to nobody

[2019-03-10 22:54] a85 commented on #5895
Not enough data to reproduce.

[2019-03-10 22:54] #5895 closed, assigned to nobody

[2019-03-10 22:55] a85 commented on #5954
Not enough data to reproduce.

[2019-03-10 22:55] #5954 closed, assigned to nobody

[2019-03-10 22:55] a85 commented on #6001
Closing as this seems to be working now.

[2019-03-10 22:56] a85 commented on #4491
Closing as we are tracking performance issues in other threads. Sync performance is a constant work in progress.

[2019-03-10 22:56] #4491 closed, assigned to nobody

[2019-03-10 22:57] a85 commented on #4789
Closing as issue as this is filed for a much older version.

[2019-03-10 22:57] #4789 closed, assigned to numaanashraf

[2019-03-11 03:55] numaanashraf commented on #5829
Fixed in Postman v7.0

[2019-03-11 03:55] #5829 closed, assigned to nobody

[2019-03-11 03:57] numaanashraf commented on #5720
Fixed in Postman v7.0

[2019-03-11 03:57] #5720 closed, assigned to nobody

[2019-03-11 04:07] numaanashraf commented on #6015
@Andrewsuares Could you share your system details? OS, CPU, Memory & HDD.

[2019-03-11 04:16] numaanashraf commented on #5851
Fixed in Postman v7.0

[2019-03-11 04:16] #5851 closed, assigned to nobody

[2019-03-11 05:10] codenirvana commented on #6043
@weekian Looks like you are using path variable notation to access environment variable.
[Variables](https://learning.getpostman.com/docs/postman/environments_and_globals/variables/) are only resolved using the curly braces notation.

Also, there's no restriction based on the request method. Can you provide more information(sample collection or local server) which can be used to reproduce this iss

[2019-03-11 05:16] codenirvana commented on #5973
@ronenneumark Can you provide more information to understand your use-case?

[2019-03-11 05:18] vgosai86 commented on #3460
+ 1
This is really needed especially when running with multiple iterations. It looks like runner is combining all data instead of considering each request as separate. It is easier if you have 30-50 request to debug through collection runner. But it is painful when you want to execute data files containing few hundred or thousand iterations.

[2019-03-11 05:25] codenirvana commented on #5838
@p00j4 Closing this as its expected behavior.
For your use-case, I would suggest using `setNextRequest` in the previous request's test script.

[2019-03-11 05:25] #5838 closed, assigned to codenirvana

[2019-03-11 06:27] Ajmal0197 commented on #391
Pass data in Body as x-www-form-urlencoded that is located below url...

[2019-03-11 07:09] ihipop commented on #4631
How long until to makes it release?

[2019-03-11 08:37] onionka commented on #6031
@harryi3t Probably a 4 months ago I have downloaded Postman native app and let it update by itself. I wasn't updating it manually at all.

I had program directory structure in home directory like this:

[code]

Postman was downloading `Postman-linux-x64-x.y.z.tar.gz` packages into the `~/Applications` directory, so I had multiple versions of Postman unpacked there.

[code]

I was always seeing the

[2019-03-11 09:34] harryi3t commented on #6031
@Cmiroslaf Thanks for the information. To help us further narrow the issue down, could you share the logs which you could find at `~/.config/Postman/logs`. You can share them at help@getpostman.com after redacting. Mention this issue number (#6031) in the subject of the mail.

[2019-03-11 10:27] grzegorzjudas commented on #4576
@BlueT check if your Postman application is running from a directory with write permissions for postman itself - I got the same issue and in console I got:
[code]
Which definitely is local directory insufficient permissions issue.

[2019-03-11 11:29] mancubus77 commented on #1321
+1
But doesn't work for host:ip
Switched to Chrome extension, which works smooth with browser config.

[2019-03-11 11:41] Satak commented on #6002
Have the same problem. ```Something went wrong
The requested monitors could not be found on the Monitoring Service.```

When trying to edit the monitor: ```Something went wrong
An error has occurred on the server.```

[2019-03-11 11:55] nagarc1 commented on #4563
Its not working. AssertionError: expected false to be truthy

let parsedResponseBody = JSON.parse(responseBody);
tests['JSON array is not empty'] = (parsedResponseBody.length > 0);

[2019-03-11 12:05] drichardson-uk commented on #6045
I have 7.0.4 on one of my machines and I didn't do anything special to install it other than auto updating.  My other box will not auto update beyond 6.7.4

Did version 7 get pushed out to some users and then pulled from auto updates?

[2019-03-11 12:09] svishal commented on #6045
I am facing still this issue, I have tried most of the solution suggestion over network.
But still not able to fix the sync issue.
I have attempted to upgrade the v7.0 but did not get success using following command.
`sudo snap switch --channel=candidate postman
sudo snap refresh postman`
and getting following response
`snap "postman" has no updates available`
I am using ubunut 16.04 LTS(64 bit)
P

[2019-03-11 12:15] er-pkumar commented on #6045
I am facing still this issue, I have tried most of the solution suggestion over network.
But still not able to fix the sync issue.
I have attempted to upgrade the v7.0 but did not get success using following command.
`sudo snap switch --channel=candidate postman
sudo snap refresh postman`
and getting following response
snap "postman" has no updates available
I am using ubunut 16.04 LTS(64 bit)
Ple

[2019-03-11 12:36] numaanashraf commented on #6045
@pintukumar-ucreate We need more information of the postman version installed on your system. Could you send us a screenshot of the result of this command?
[code]

[2019-03-11 14:12] annabeenana11 opened #6049 "Search doesn't show items in view correctly"
Just updated to 7.0.5

**Is your feature request related to a problem? Please describe.**
When searching in the body of a request response with a lot of data, the highlighted search word is sometimes out of view. For example, when clicking enter to go to the next search term it found, postman thinks the view is larger than it is, so I have to press enter a couple more times to get to the next sear

[2019-03-11 14:14] #6049 closed, assigned to nobody

[2019-03-11 14:15] cyrielle-hada opened #6050 "Something went wrong upon sign in to Canary `net::err_name_not_resolved`"
**Describe the bug**
_Something went wrong_ error message upon sign in to Postman Canary.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.getpostman.com/downloads/canary and download Postman Canary for Mac
2. Once installed, open the app and sign in.
3. See below error message

![image](https://user-images.githubusercontent.com/47351631/54129771-e68cf200-4406-11e9-86a5-ae5f

[2019-03-11 15:04] alexgman commented on #3602
Indeed. It would be nice to understand what the options are.

On Sun, Mar 10, 2019 at 1:11 PM Gregor <notifications@github.com> wrote:

[2019-03-11 15:32] #6045 closed, assigned to nobody

[2019-03-11 15:34] jean-husa commented on #6045
Which box do I do this on. The one with 7.0 or 6.7.4?

[2019-03-11 15:52] moleksyuk commented on #5698
HI @a85
Let me try to show my problem by this screen:
![Screen Shot 2019-03-11 at 17 27 11](https://user-images.githubusercontent.com/793472/54136289-27dfca80-4424-11e9-9342-44985ed419fd.png)

As an example: `{{server}}/api/login` this url is completely different in scope of one collection and definately in scope of both of them:
BILLING:
 - local: `{{server}} = http://localhost:8080`
 - stage: `{

[2019-03-11 16:04] KreuzigTobias commented on #2050
Hey guys,
I am still looking for a way to automate the whole OAuth2 thing, with grant_type: implicit. I thought about the solution of @tegomass, it might work but looks rather hacky, no offense though.

I couldn't find the said tutorials on that matter, @lorinc, if you could help me out there that would be awesome.

Last but not least +1 for feature
P.S.: @a85, as you can see above there is quite

[2019-03-11 16:14] jean-husa commented on #6045
Also, could you explain what this will accomplish? Will it allow me to upgrade my other box to 7.0 or will it just allow me to sync between the two boxes?

[2019-03-11 16:17] apautrot commented on #6048
I have an update.
I finally found something.
I clicked on `My Workspace` button. I clicked on `Personal`, then on `Create New`.
That refreshed the window and I finally had the request displayed and editable in the main view.
But then I clicked the workspace button to select "My Workspace" again, and now the app is stuck.

![Issue](https://user-images.githubusercontent.com/4578723/54139149-38427600

[2019-03-11 16:18] apautrot commented on #6047
Possible duplicate of issue https://github.com/postmanlabs/postman-app-support/issues/6048

[2019-03-11 16:23] apautrot commented on #6047
I confirm it's a duplicated.

[2019-03-11 16:23] #6047 closed, assigned to nobody

[2019-03-11 16:25] apautrot commented on #6048
I opened a new App window ( `Postman Window, Ctrl+Shift+N` ). I switched to `My Workspace`, that, this time, worked. I closed all the windows. Restarted the app and now it's working fine.

[2019-03-11 16:25] #6048 closed, assigned to nobody

[2019-03-11 16:34] numaanashraf commented on #6041
@zafaque Could you write to us at `help@getpostman.com`? We'll help you get this sorted.

[2019-03-11 16:34] #6041 closed, assigned to nobody

[2019-03-11 16:35] tegomass commented on #2050
Hi,
Another solution is to create a web service (e.g. using express.js), then when you call on this webservice, it will do all the trick I described above with puppeteer and returns the token.

In the postman client, simply do a GET on <api>/token, you will receive the token, then you add it to the global/env variables, it should work.

Cya

[2019-03-11 16:37] numaanashraf commented on #6050
@cyrielle-hada Would it be possible to zip the logs and send us at help@getpostman.com? You can find the logs at View > Developer > View Logs in Finder. Please mention this GitHub issue number (GH#6050) in the email when you write to us.

[2019-03-11 16:50] loomisdf opened #6051 "Invert I beam cursor color in dark mode"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
The I beam cursor (shape of cursor when editing text) is very hard to see while using the dark theme. It's enough of a problem that I'm forced use the light theme instead.

**To Reproduce**
Steps to reproduce the behavior:
1. En

[2019-03-11 17:30] numaanashraf commented on #6051
@loomisdf I tried replicating this on a MacBook with retina display and I'm unable to simulate this case. Any more information you can provide that'll help us understand why this is happening at your end? I did some digging around to check whether we would be able to control the cursor - I'm afraid this is not possible with the technology Postman is currently built on. I-beam cursors are controlle

[2019-03-11 17:37] numaanashraf commented on #5997
@Andrewsuares Could you try disabling GPU support within Postman via the steps detailed at https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621? We've had reports of degraded performance on Windows with certain GPUs/Drivers.

[2019-03-11 17:47] numaanashraf commented on #6045
@jean-husa You should update the 6.7.4 app to v7.0 via the steps above. It'll help you update the app to v7.0 and as a result of that your collaboration features will start working.

[2019-03-11 17:49] numaanashraf commented on #5949
@hmlinaric Would it be possible to share screenshots and a publicly accessible endpoint we can use to replicate this issue?

[2019-03-11 17:51] numaanashraf commented on #6028
Closing due to insufficient information

[2019-03-11 17:51] #6028 closed, assigned to nobody

[2019-03-11 18:03] highlyunavailable commented on #4262
Same issue, Postman-win64-7.0.5. Disabling GPU fixed? it.

[2019-03-11 18:13] marklofdahl commented on #2086
+1

[2019-03-11 18:20] loomisdf commented on #6051
Interesting, I'm not sure why this appears to be happening to my laptop then. It's issued by the company I work for and uses a custom image that could be messing with the cursor.

[2019-03-11 18:30] jean-husa commented on #6045
will this:
sudo snap switch --channel=candidate postman
sudo snap refresh postman
update my 6.7.4 to 7.0?

[2019-03-11 19:12] vikiCoder commented on #5847
@jhardin-aptos `xml2Json()` simply parses given XML to JavaScrip object. It is not namespace aware. In other words it does not make any interpretation of element's attributes or modify it in any way. For usage details, refer`xml2js` [documentation](https://github.com/Leonidas-from-XIV/node-xml2js#usage). `xml2Json` is just a wrapper around `xml2js`.

[2019-03-11 19:25] vikiCoder commented on #5950
@Jacquesduplessis I am unable to reproduce the error you said for Google's OAuth2 authentication. It is working fine for me. And GET to https://www.google.com or any other website is also working fine for me. It could be happening to you because of your specific environment like you could be behind a proxy or something else. If you can provide more details or steps to reproduce the problem, it wou

[2019-03-11 19:55] a85 commented on #6044
This is not a common behavior. We'll need more information to debug this if there are things specific to your collection, your requests or your API.

[2019-03-11 20:12] jiimaho opened #6052 "Full screen environment variables editor"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
It's hard to see all environment variables and edit them

**Describe the solution you'd like**
Full screen environment variables editor

**Describe alternatives you've considered**
N

[2019-03-11 21:09] mike-quiroga commented on #1667
+1

[2019-03-12 02:33] kenmaglio commented on #1475
@a85 @elssar  Do you guys need someone from the community to take a stab at a PR merge from upstream on the [httpsnippet-fsless](https://github.com/postmanlabs/httpsnippet-fsless) repo?

[2019-03-12 04:15] abhijitkane commented on #1475
@kenmaglio Are you talking about https://github.com/postmanlabs/httpsnippet-fsless/pull/16/files We're working on a revamp of the code generation feature in Postman. Hope to have an update here in a few weeks.

[2019-03-12 04:20] kenmaglio commented on #1475
@abhijitkane It would be more to pull in the changes from [httpsnippet@1.16.7](https://www.npmjs.com/package/httpsnippet/v/1.16.7) which now supports PowerShell into the forked version postman uses.

[2019-03-12 05:24] arunb2255 commented on #4090
Hi , I am still facing this issue Version 6.7.4

[2019-03-12 05:27] kamalaknn commented on #4090
We've pushed some major improvements to syncing in Postman v7. Could you update your app to v7 and give it a try?

[2019-03-12 05:31] er-pkumar commented on #6045
@numaanashraf: Here is output. Quick response will be much appreciated.

`Name     Version  Rev  Tracking   Publisher     Notes`
`postman  7.0.4    82   candidate  postman-inc*  -`

`1552368660225 main info ["Booting Postman 6.7.4, linux-4.4.0-142-generic on x64"]
1552368660227 main info ["EventBus\\x7einitialize - Success"]
1552368660238 main info ["UpdateHandler\\x7einit - Success"]
155236866023

[2019-03-12 05:37] vdespa commented on #4824
The way this currently works is very confusing and frustrating.

@sivcan If a timely fix is not possible or too complicated, at least disable the "Retry" button after selecting a data file. Otherwise, it can be very confusing.

And why exactly was this issue closed?

[2019-03-12 05:40] rorykoehler commented on #3117
+1 Not having this feature makes Postman practically unusable

[2019-03-12 08:48] sujayvenaik commented on #5809
Hey @kerednai @chucklu @nonyy
We have identified the cause for this and are testing it internally. Would be coming out soon.

[2019-03-12 08:51] girtsn opened #6053 "Add proxy support for Postman/Agent app updates"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I have set a globall proxy (cntlm) and see all requests passing even when made from postman. However when clicking on check updates or signin, see no requests arriving at proxy.

**To Reproduce**
Steps to reproduce the behavior:

[2019-03-12 08:58] n0v3xx commented on #5457
Same issue here and 5 support tickets later. This problem is fucking annoying and if you dont change this behavior i will uninstall postman and use insomnia forever.

[2019-03-12 08:59] n0v3xx opened #6054 "Archived Items in Free Team Account can't be deleted Part2"
Its detailed described here:

[https://github.com/postmanlabs/postman-app-support/issues/5457](url)

[2019-03-12 09:09] n0v3xx commented on #5457
https://github.com/postmanlabs/postman-app-support/issues/6054

[2019-03-12 09:21] Consth opened #6055 "White space in encoded URL not shown in Postman Console"
The Postman App does not visibly convert white spaces in the URL with %20 as it should. Therefore when using the request and code from Postman, the URL is wrong and this causes a lot of time loss when you are not using HTTP requests everyday.

## App Details:
Postman for Mac
Version 6.7.3
OS X 18.2.0 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: No

[2019-03-12 11:13] numaanashraf commented on #6045
@pintukumar-ucreate looks like you are already on Postman v7.0

postman 7.0.4 82 candidate postman-inc* -

[2019-03-12 11:14] numaanashraf commented on #6045
@jean-husa yes, those commands will help update your 6.7.4 postman snap to 7.0.4

[2019-03-12 11:18] numaanashraf commented on #6054
Duplicate of #5457

[2019-03-12 11:18] #6054 closed, assigned to nobody

[2019-03-12 11:53] er-pkumar commented on #6045
yes @numaanashraf but native app still showing me v6.7.4 and sync issue with [collection.[](url)](url)
![postman](https://user-images.githubusercontent.com/22446034/54198919-a48aab80-44ed-11e9-9473-25cfd17ad206.jpg)

[2019-03-12 13:08] n0v3xx opened #6056 "Archived Items in Free Team Account can't be deleted Part 3"
Its detailed described here:

https://github.com/postmanlabs/postman-app-support/issues/6054

https://github.com/postmanlabs/postman-app-support/issues/5457

And if you now close the ticket again without a reasonable solution then I switch completely to Insomnia Http Client. Rarely seen such an ignorant development team.

[2019-03-12 13:08] n0v3xx commented on #5457
https://github.com/postmanlabs/postman-app-support/issues/6056

[2019-03-12 13:28] arunb2255 commented on #4090
Hi I have updated it , but still it is taking time

On Tue, Mar 12, 2019 at 10:58 AM Kamalakannan <notifications@github.com>
wrote:

[2019-03-12 13:47] numaanashraf commented on #6056
@n0v3xx We have responded to the original ticket at https://github.com/postmanlabs/postman-app-support/issues/5457#issuecomment-445124182. Feel free to continue this discussion on the original thread as duplicate issues violate the guidelines and will be closed.

You can find the guidelines for reporting issues at https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-03-12 13:47] #6056 closed, assigned to nobody

[2019-03-12 13:48] numaanashraf commented on #6056
Duplicate of #5457

[2019-03-12 14:31] ddarren commented on #4751
Not sure how Postman prioritizes it's features/bugs, but just thought I throw my vote in here to get this fixed. I'm a paying customer and use Postman almost on a daily basis. Great product, and this has been the only limiting factor for me. Would love to get some feedback on the timeline for this.

[2019-03-12 15:21] loomisdf commented on #6051
I was able to update MacOs to Mojave (v10.14.3) and the problem seems to have disappeared. Cursor now looks like this in postman:
![cursor_extracted_mojave](https://user-images.githubusercontent.com/6811138/54212181-8b173e80-44b0-11e9-8208-22df018e9d31.png)
Issue is solved for me, but I was never able to figure out why it didn't work on MacOs 10.13.6.

[2019-03-12 15:25] #6051 closed, assigned to nobody

[2019-03-12 15:25] zafaque opened #6057 "Postman 6.7.4 does not start on Mac OS X Mojave 10.14.1"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
After deleting postman when tried to open to version 6.7.4, its not opening its throwing error ""

**To Reproduce**
Steps to reproduce the behavior:
1. Was having older version
2. Deleted the old version
3. Open new version app

[2019-03-12 15:28] jean-husa commented on #6045
I did not need to run those commands. When I opened postman yesterday the settings menu had an update for v7. I updated and am syncing again. Thanks for your help.

[2019-03-12 15:40] jzabroski commented on #4751
@numaanashraf  I've been waiting on a fix for this SINCE NOVEMBER.  Not only that, but I told you EXACTLY how to reproduce the issue and a (guess as to) EXACTLY THE ROOT CAUSE - you're almost certainly using React.js and Facebook's Immutable.js and adding collections to a library and redrawing the React scene DOM on every Add operation - this should be TRIVIAL for any engineer to fix.  Not trying

[2019-03-12 16:36] hmlinaric commented on #5949
@numaanashraf here you have:
POST 161.53.67.231:8888/tpd/v1/login

BODY:

< ?xml version="1.0" encoding="utf-8" ?>
< request>
   < username1>user< /username1>
    < password1>password< /password1>
< /request>

*** remove space at the beginning of xml tag ***

HEADERS:
Content-Type = application/xml

Screenshot
![Untitled](https://user-images.githubusercontent.com/8296412/54218197-63929700-44ed-11e

[2019-03-12 17:02] KoenLav commented on #6035
Same problem here with Postman 7.0.5.

[2019-03-12 17:43] Raj-postman opened #6058 "Unable to build connection using valid token between salesforce and Postman || Failed integration"
Unable to build connection using valid token between salesforce and Postman || Failed integration

[2019-03-12 17:43] Raj-postman opened #6059 "Unable to build connection using valid token between salesforce and Postman || Failed integration"
Unable to build connection using valid token between salesforce and Postman || Failed integration

[2019-03-12 17:46] chrisdeso opened #6060 "Invalid Token Issue – Closed"
Closing temporarily

[2019-03-12 17:49] #6060 closed, assigned to nobody

[2019-03-12 18:39] matt-usurp commented on #4117
Bump, this feature would be really handy. Currently the 4 space indentation is not ideal for users who are working on laptops (or use small window sizes) when working with data structures with more than 3-4 levels.

This feature would be ideal for the Beautify functionality mentioned above and also the response rendering in the `pretty` panel.

[2019-03-12 19:40] narbit commented on #2584
Late to the party, but until we have native support for GraphQL in Postman, dynamic query variables can be passed inline. Using the example from the original post:

` {
 	"query": "{ GetAccounts(filter:
									  {
											region: \"APAC\"
									  }
								)
				{ account_name }
			 }"
 }`

This works well for mutations as well.

[2019-03-12 20:00] pfd12345 commented on #1667
Agreed. Interceptor is THE key feature for Postman.

[2019-03-12 20:16] GregoryPellegrin commented on #4687
I have a postman with 2.5Go so be happy with your 400Mb hahaha

[2019-03-12 21:39] wolfadactyl opened #6061 "Closing app switches to desktop space on dual monitor setup"
**Describe the bug**
When postman is open a primary monitor (either in fullscreen or not) and there are other apps open in fullscreen on a secondary monitor it will slide those apps out of the way and show the bare desktop on the secondary monitor when you quit postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman app on primary monitor
2. Open any other app on secondary moni

[2019-03-12 22:04] chrisdeso opened #6062 "Bootcamp/Learning courses not working"
Bootcamp/Learning tab not working

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app (7.0+)
2. Click on `Bootcamp`
3. Attempt to access `Monitoring`, `Automated testing`, `Designing and mocking APIs`
4. Notice that nothing happens

**Expected behavior**
Relevant in-app learning module should begin.

**App informa

[2019-03-12 22:19] prashantagarwal commented on #6062
@chrisdeso Can you add a screen recording of this issue.

[2019-03-12 22:25] preethammavin commented on #6062
@chrisdeso I am able to start all the lessons

Can you confirm that when you try to start the lesson, your sync icon is orange?

Would be great if you could write to us at help@getpostman.com with the email-id you are using in the Postman account.

[2019-03-12 22:26] preethammavin commented on #6059
Closing as duplicate

[2019-03-12 22:26] #6059 closed, assigned to nobody

[2019-03-12 22:28] preethammavin commented on #6058
@Kurmavathar Can you describe the issue?

[2019-03-12 23:28] chrisdeso commented on #6062
@prashantagarwal @preethammavin

![Gif](https://i.imgur.com/FLnJsoM.gif)

@preethammavin Sync is working and this was user-reported but I was able to reproduce locally too.

[2019-03-12 23:48] donovan-middleton commented on #6062
I was the one that sent the issue in. I just downloaded Postman and installed it a couple of days ago. I also have the orange sync icon.  Just stumbled across this when trying to learn more about the product! Pretty easy to just pick up basic things though.

[2019-03-13 01:19] ghost commented on #5809
h7lost

[2019-03-13 04:06] InflictedPDNK commented on #2353
Affected by this too. Was about to raise a bug, but I can see it's already dated to 2016!
Using Version 6.7.4 (6.7.4)

[2019-03-13 05:41] vikiCoder commented on #6044
@DrunkenPoney Please provide logs from Postman Console too.

[2019-03-13 06:53] chucklu commented on #5809
@sujayvenaik  Thanks

[2019-03-13 07:07] sankalp0o opened #6063 "Method not showing up for older history in browse mode"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Older history listings in the app are buggy for some items and behave differently in build and browse mode. In Build mode, it doesn't show my profile picture on hover (it does for other history items). In browse mode, it doesn't

[2019-03-13 07:36] Raj-postman opened #6064 "Unable to build connection using valid token between salesforce and Postman || Failed integration"
Unable to build connection using valid token between salesforce and Postman || Failed integration

[2019-03-13 07:36] Raj-postman opened #6065 "Unable to build connection using valid token between salesforce and Postman || Failed integration"
Unable to build connection using valid token between salesforce and Postman || Failed integration

[2019-03-13 07:37] numaanashraf commented on #6057
@zafaque Please write to us at `help@getpostman.com`. We can help you get this sorted.

[2019-03-13 07:37] #6057 closed, assigned to nobody

[2019-03-13 07:54] numaanashraf commented on #6053
Proxy setting affect only requests sent by the user. Proxy config is not supported for requests made during update check and sign-in at the moment. Tracking this as a feature request.

[2019-03-13 08:08] girtsn commented on #6053
It must be clear that for corporate environments, this behavior is pretty useless- as proxy is the only way to access the internet. And even worse it is breaking here as the new version check and showing login screen on startup seems to hang due to trying to connect and failing. Is there at least a workaround until a proper fix to disable those 2 at startup?

[2019-03-13 08:59] numaanashraf commented on #6065
Duplicate of #6058

[2019-03-13 08:59] #6065 closed, assigned to nobody

[2019-03-13 08:59] numaanashraf commented on #6064
Duplicate of #6058

[2019-03-13 08:59] #6064 closed, assigned to nobody

[2019-03-13 09:13] VicKetchup commented on #6017
@godfrzero Are there any updates on the fix?

[2019-03-13 09:22] numaanashraf commented on #6063
@sankalp0o This is intended. Since the profile pic feature was introduced in the app on a later date, any history that was created or synced in the app before that date would not show the profile pic. Browse mode is an online flow and is API driven, and will show this profile pic for older histories also.

The methods not showing up on browse mode looks like a bug. Fixing that issue.

[2019-03-13 09:23] Raj-postman opened #6066 "Unable to launch Postman 6.7.4 on Windows Server 2008"
Postman app does not launch and accounts for severe drain on the server. Have tried clearing local cache, but no luck.

Steps to reproduce the behavior:
1. Launch Postman app
2. It pegs the CPU at 100%
3. The app is unusable.

Expected behavior: Launch without any issues.

 - App Type - Native
 - Postman Version - 6.7.4
 - Windows Server 2008 R2 SP1 machine
-  Processor: Xeon CPU E5-2660 v3 @2.60G

[2019-03-13 09:26] numaanashraf commented on #6066
@Kurmavathar Could you try the workaround mentioned at https://learning.getpostman.com/docs/postman/launching_postman/installation_and_updates/#troubleshooting-postman-updates?

[2019-03-13 11:38] singhravi1 opened #6067 "Add 'Add and open in new tab' option while adding new request to the collection"
Hi,

It would be a nice option to have the new request open in the new tab while adding to the collection.
Else, we have to go at the and of the collection and then open the newly added request.

[2019-03-13 12:08] seitbekir commented on #3917
I got this issue again. And also some extend on it.

So, I've created the docs yesterday and it was keeping in sync. But today after I've added new folder it just not updated. And after force sync also. Then I've tried to rename existing one and I've got same -- no sync. On examples, urls, etc...

Beyond that, if there was some body record and you removing it (set body "none") it just keep the las

[2019-03-13 12:19] pooja098 commented on #5705
This behavior comes from runtime. Both `console.log(undefined)` and `console.info(undefined)` prints `null` on console. This happens in postman app as well as newman. Hence it's a runtime bug.

[2019-03-13 12:26] anrhodes commented on #4785
Please add a Move function Postman
Even quicker than the above workarounds is to;

1. Share the Collection in WS1
2. Go to WS2 and Duplicate the shared collection
3. Still in WS2 Delete the original shared collection (this is now removed from WS1)
4. Rename the duplicate collection if desired

[2019-03-13 12:47] Zer07even commented on #3290
We need this +1 Postman for Linux

[2019-03-13 12:50] RuggeriLuca opened #6068 "DataFile name and path"
As we have the pm.info.iteration and the pm.info.iterationCount it will nice to have a command like

pm.info,dataFileName
pm.info,dataFilePath

that return the name an the path of the datafiles used on runner or in newman .

[2019-03-13 14:08] kerak19 opened #6069 "App shows enable sync button when sync is disabled for teams"
**Describe the bug**
After logging in into Postman, Sync is stuck. After looking into dev tools, every click on `Enable Sync` is giving `Uncaught (in promise) SyntaxError: Unexpected end of JSON input`

**To Reproduce**
Steps to reproduce the behavior:
1. Log out and delete all local data.
2. Login into Postman
3. `Sync your API requests across devices` is stuck - animation with 2 white arrows on

[2019-03-13 14:28] n0v3xx commented on #6056
@numaanashraf nice joke. The original ticket is closed and you dont respond to closed ticket. But ok enjoy your commercial money making feature. I switch to insomnia

[2019-03-13 14:37] carlesnunez commented on #5905
Same here, crashing on MacOS

[2019-03-13 14:56] prashantagarwal commented on #6062
@donovan-middleton @chrisdeso We have fixed this issue and released it as part of Postman v7.0.6. After updating the app you should now be able to start the lesson irrespective of the fact whether the sidebar is visible or not.

Sorry for the inconvenience.

[2019-03-13 14:56] #6062 closed, assigned to prashantagarwal

[2019-03-13 15:31] Kspen opened #6070 "7.0.6 Missing Requests within collection"
**DESCRIPTION**

Recently upgraded to 7.0.6.

Prior to update, I had cleaned out everything and created a new collection with 8 requests.  I then created some folders in which to move existing requests into.  After creating new folders, I noticed that I could no longer see all my requests.  Soon thereafter, I was requested to update the app.  I am now on 7.0.6 but still only see 4 of my 8 requests

[2019-03-13 15:39] cowlinb6 commented on #2209
Any update on this?

[2019-03-13 15:56] januh commented on #6030
FYI: it seems to be fixed now.

[2019-03-13 16:00] godfrzero commented on #6030
The listing API itself is fixed, but we're holding off on closing this issue until a clear loading state is also added. I should've provided an update on this ticket after pushing out the first fix though, sorry about that. 😞

[2019-03-13 16:01] neawasthi commented on #1946
Postman keep crashing when downloading big response (~120MB) and is unusable.
I have used Fiddler in past which handles this intelligently. It truncates the display within the tool and allows user to load the file outside of the application (in Vim etc)
Please fix or let us know how to work with large files..

[2019-03-13 16:12] LordRafa opened #6071 "Microsoft Surface Pen won't work on Postman Native App"
**Describe the bug**
Postman App UI ignores Surface Pro Pen taps, which prevent you to use this device to work with postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Tap any button or controller with the Surface Pro Pen, it will not work.

**Expected behavior**
I would expect to being able to control Postman native app, as I do with the mouse or the touch screen.

**App information (p

[2019-03-13 17:03] cyrielle-hada opened #6072 "Delete GitHub integration not working"
**Describe the bug**
The GitHub integrations can't be deleted.
![image001](https://user-images.githubusercontent.com/47351631/54299240-66a38b00-45b2-11e9-9819-912fd2764f15.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the web dashboard > configured integrations
2. Click on the bin icon
3. See error

[2019-03-13 17:08] dusty opened #6073 "Initial Requests are delayed ~5s"
**Describe the bug**
Initial requests seem to take about 5s **before** they are sent out from postman.  Subsequent requests are fast.  After a short period of several seconds between requests the delay is reintroduced.

**To Reproduce**
1.  Send out a request and look at the response time
2.  Immediately send out another request and look at the response time
3.  Wait a few seconds and try again

*

[2019-03-13 18:27] pooja098 opened #6074 "delete shared environment"
**Describe the bug**
For environments, `Delete` and `Remove from Worspace` buttons displays the same notice that
[code]
Keeping this notice in mind I deleted an environment shared from some workspace where it was used by a collection having a monitor and I did not have access to either collection or the monitor. So the environment got deleted from every workspace and the monitor also went away. Th

[2019-03-13 19:55] Pr1Smiley commented on #3045
Still facing this issue ,

[2019-03-13 19:58] Pr1Smiley commented on #2750
Still No resolution

[2019-03-13 20:31] rameshnatesan commented on #4186
I tried using environment variable names {{key1}} and {{key2}} for access key and secret key. It worked!!!
it also worked when using names like {{secretkey}} and {{accesskey}} all lowercase

[2019-03-13 21:14] mkarajohn commented on #4701
I am sorry for resurrecting this issue, but I was away for 9 months, and now that I am back at development, and needed Postman again, I still have this issue in the latest 7.0.6.  Still getting

[code]

I have deleted my Postman config as well, what else can I try?

UPDATE: Well, deleting everything Postman related from my ~/Library and reinstalling seemed to do the trick

[2019-03-13 21:33] pavelgordon commented on #1535
+1

[2019-03-13 23:22] JP-from-Postman opened #6075 "Post-RBAC, support-only accounts cannot be invited, if user slots are at capacity"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
For a team that has been migrated to RBAC:

Inviting support-only accounts (admin/billing only) via the web dashboard, **when the team still has free user slots**, can be done via the new invite dialogue:
<img width="543" alt="d

[2019-03-14 00:47] elie-g commented on #6044
In the console, there is only my log from the test script of the last request executed. After that there is nothing and there is no error at all.

[2019-03-14 03:29] sivcan commented on #3917
@seitbekir Since you're having this issue with more things other than just examples, can you create a new separate issue?
Also, can you please add your app version, OS details etc. to it so that it'll help us triage this issue faster?

Thanks

[2019-03-14 03:32] SamvelRaja opened #6076 "Delete action for history group delete is always disabled though the user has permission to do"
**Describe the bug**
In the history sidebar, when user tries to delete the history as a bulk.
The option is disabled always, referring it as not allowed to perform action as he/she doesn't have permission even he/she has permission to do.

**Expected behavior**
It should be disabled / enabled based on the permission

**Screenshots**
![Capture](https://user-images.githubusercontent.com/5114052/5432

[2019-03-14 06:37] m3dbedb commented on #4105
Here is stated that `pm.variables.set("token", pm.response.json().token);` defines local variable, console.log(pm.variables.get("token")); get first existnig variable according to priority https://medium.com/@vdespa/demystifying-postman-variables-how-and-when-to-use-different-variable-scopes-66ad8dc11200

[2019-03-14 06:49] kerak19 commented on #6069
Update: Upgrading Postman to version 7.0.6 didn't help.

[2019-03-14 06:52] ozkank commented on #5457
I want to delete archived  collections. I see lots of people wants this feauture. So why dont you allow to delete?

[2019-03-14 07:02] Raj-postman opened #6077 "Failed to Integrate and was unable to build connection between two applications using OAuth 2.0"
When using postman to authenticate the user to build a connection between Postman and the other application was unable to do so from a valid token using OAuth 2.0.

Steps to reproduce the behavior:
1. Using oAuth2.0, Generate new access token.
2. Values filled are callback url, auth url, client id, and client secret, grant type was "Authentication code". 3. The generated token was put in headers a

[2019-03-14 07:15] milesflo commented on #3518
~~Issue present in Postman for linux~~

[2019-03-14 07:16] m3dbedb commented on #4594
@pwrigshi, how it could be a windows issue as long as the issue is a cross-platform and 'works' on windows since win7. Also peolpe say disabling gpu works on windows 8. On my windows 7 disabling gpu does not help.

[2019-03-14 07:22] m3dbedb commented on #5142
On my machine with postman 7.0.4 the issue is still present.

[2019-03-14 08:22] ihipop opened #6078 "pm.request.url.getPath() does not take variable into account in Pre-RequestScript leading to an error result"
**Describe the bug**
`pm.request.url.getPath()` does not take variable into account in **Pre-RequestScript** ,leading to an error result
It just think that the start of  first `/` in URL is the request path.

**To Reproduce**
#### Case One：
- Set URL to `{{api}}param2/param3/4444`
- Set variable `{{api}}` to `https://example.com/openapi/`
- Run `console.log(pm.request.url.getPath())` in **Pre-Requ

[2019-03-14 08:23] suntrop commented on #1687
I have got the problem. I can't do a POST request. There is no https, trailing slash or other redirect happening. Postman ist the only app with a problem. I testes in Do Http and PhpStorm and both work fine.

[2019-03-14 10:13] mstaalesen commented on #4898
@a85 Previously, when I wanted to quickly remove a lot of environmentvariables I would just go to bulk edit, select the row where I wanted to delete from and either do shift + ctrl + end (or drag with the mouse). Neither of these options are available with the new way of "Bulk editing".

If you try to select more than the   ~30 env variables that are displayed in the GUI and then scroll downwards,

[2019-03-14 10:57] pritamdharme commented on #4591
Hi Guys,
![json iterator issue](https://user-images.githubusercontent.com/45936318/54351685-070eb380-4676-11e9-8d5c-99bf0c8034fd.jpg)
Facing the same issue with workaround could you please  look into it.

Reagrds,
Pritam

[2019-03-14 12:31] schwarcu commented on #4751
Same issue here. Is there any fix coming?

[2019-03-14 14:17] ghost commented on #4898
@mstaalesen although I certainly won't pretend to know all the ways you use the Postman GUI application, perhaps its good to know the Postman API exists if you didn't already, and maybe at your scale you would benefit from using it:

- [Postman API Docs](https://learning.getpostman.com/docs/postman/postman_api/intro_api/)
- [Newman CLI on Github](https://github.com/postmanlabs/newman)

[2019-03-14 15:00] dboyadzhiev commented on #4401
I'm having it too:

Postman for Mac
Version 7.0.6
OS X 18.0.0 / x64

[2019-03-14 15:06] sujayvenaik commented on #4401
Hey @dboyadzhiev
Can you send us the logs?
You can find the logs from View -> Developer -> View logs in Finder and send the files in it.

[2019-03-14 15:12] dboyadzhiev commented on #4401
Hi @sujayvenaik,

Where should I send the files? They contain sensitive data!

In additional: Now the sync works. (after the N-th restart)

[2019-03-14 15:21] sujayvenaik commented on #4401
@dboyadzhiev
Can you email the logs at help@getpostman.com? [Redact any sensitive information]
Put this as the email subject -> Github 4401: Sync Issue

[2019-03-14 15:29] richardsondx-symbility opened #6079 "Markdown Collapsable Feature is not working"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I tried to create a collabsible items like this for my Postman Documentation but its not working.

## collapsible markdown?

<details><summary>CLICK ME</summary>
<p>

#### yes, even hidden code blocks!

[code]

</p>
</details>

[2019-03-14 15:40] d1820 commented on #4898
Just as an option, we are currently looking to move all env vars out of postman and store in db.. we then only store the env and username in postman variable.. at the global collection level we make a request to pull vars in and set them all in JavaScript.. using foreach against. pm.set...

now we are able to have quick edit and sub selection again.. yes we had to setup an api endpoint to get them

[2019-03-14 17:05] seantcanavan commented on #3518
@milesflo I am not having this issue on either Linux or Mac. Are you using ports as part of your localhost URL?

[2019-03-14 17:57] tradeli opened #6080 "Windows desktop app crashes after response"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Just after sending a POST request with a huge (a few thousands lines) of JSON payload, and expecting to receive a few hundred thousand lines response as return, the app crashes without any message.

**To Reproduce**
Steps to rep

[2019-03-14 17:58] Apostolos-Daniel commented on #3796
Hi,

Is there an update on this? We're looking to include our postman collections in our CI pipeline. We're currently planning to export a `Backup.postman_dump.json` from the app (which includes all collections in the workspace), and add it to the repo. This would then be run using `newman`. If there is a way to integrate Postman with TFS or Azure Pipelines, that would be absolutely awesome.

Apol

[2019-03-14 18:02] silverbow25 commented on #2617
This works.  Just make sure to collapse your file before importing it to the converter or it might be too big.  Once I had it converted it correctly imported into Postman.

[2019-03-14 19:22] codenirvana commented on #6078
@ihipop That's expected behavior because in `pre-request` script the variables are not resolved.

For now, the only workaround is:
[code]

In the future, an interpolation method (#5767) will help here.

[2019-03-14 20:04] codenirvana commented on #6073
@dusty The subsequent requests are using a persistent connection.

Postman by default adds a `Connection: Keep-Alive` header which keeps the connection socket live until it times out. Try sending the request using `Connection: close` header and you will see similar response time for every request.

So, with [Keep-Alive](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive) the subs

[2019-03-14 20:04] #6073 closed, assigned to codenirvana

[2019-03-14 20:14] codenirvana commented on #6044
@DrunkenPoney Can you share a sample collection (minus sensitive details) with this behavior?

[2019-03-14 20:30] chrisdeso opened #6081 "Google Sign-in throwing 500 error"
**Describe the bug**
When attempting to log in using Google, a `500 – Internal Service Error` is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman app or Web interface – [go.postman.co](https://go.postman.co)
2. Sign in using Google
3. See error

**Expected behavior**
Successful sign-in and/or a non 500 error

**Screenshots**
![image](https://user-images.githubusercont

[2019-03-14 21:16] bloo commented on #5641
@numaanashraf is there any discussion on this feature? My team at https://github.com/Updater is interested in this as well.

[2019-03-14 21:58] mstaalesen commented on #4898
@mavame We use Postman to close the gap between testers and developers in teams where the testers are mainly "high level" (not that used to coding) testing. The test suites are maintained in Postman and then exported as collections and pushed to our git repos. We then use newman to execute the tests in our CI-pipelines.

I've been looking into the Postman API, but I'm not sure how that can solve o

[2019-03-14 22:02] a85 commented on #4898
@mstaalesen I hear you. We have some ideas that are being implemented. We took a call to prioritize security and usability concerns around variables this time, but the next iterations of Postman will solve this problem. Our rate limiters in getting stuff done right now is actually the number of people that we have on the team (we are actively hiring and trying to double the size of the team asap).

[2019-03-14 22:10] mstaalesen commented on #4898
@a85 Probably going a bit off topic, In regards of usability, there are several small bugs with the editor as it stands now. I can try to create some videos to explain the problems if needed.

I hope you succeed in the recruitment!

[2019-03-14 22:11] milesflo commented on #3518
@seantcanavan Update: I figured it out.

Turns out it was a non-issue / user error :)

I was confused by how adding a new cookie would default `Cookie_#`, and whenever I added _additional_ data to the key/value string, it would not save...

As it turns out, each Cookie added by the modal should only represent a **single value**. I was under the impression that by clicking [+], what I was doing was

[2019-03-15 00:00] dusty commented on #6073
Thanks for the response.

If I change to connection: close I do see similar response times on every request.

However, it still seems slow to me.  If I run just a simple curl command it responds immediately without any prior keep alives setup.

[code]

What is interesting is that I looked at the logs in the shared console and I see a syncing with postman on each request.  These all post in the log

[2019-03-15 03:44] navff commented on #285
![2019-03-15 06_42_49-Window](https://user-images.githubusercontent.com/869492/54407104-9b682d00-46ed-11e9-865a-d7b1e62e5f42.png)

This is what I want to do. But "prompt is not defined".

[2019-03-15 03:48] ihipop commented on #6078
@codenirvana  I write some Utility to extend `pm`
[code]
```pm.myUtility.getUrl().getPath()```  Work like a charm

~~but
`pm.myUtility.getUrlTest()` have a Exception throw out that  said:
 `pm.request.url.parse` is not a function~~

~~**The doc：**~~

![image](https://user-images.githubusercontent.com/423077/54407210-e6973580-4717-11e9-8cfe-5b884fb4843b.png)
![image](https://user-images.githubuserc

[2019-03-15 03:56] ihipop commented on #6078
I know，it's a prototype issue,`parse()`  is  static.
Hope #5767 will have some progress. Close this issue if you want.

[2019-03-15 04:41] vdespa opened #6082 "Local variables continue to exist between requests or iterations"
**Describe the bug**
My previous understanding was that local variables are local to the request, meaning they can only be used to pass data within the request (for example between the pre-request script and the request itself or the tests).

It seems that local variables continue to exist when using the Collection Runner or Newman.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the

[2019-03-15 05:02] vdespa opened #6083 "Local variables win over data variables ???"
**Describe the bug**
According to the documentation on variable scopes, data variables should win over local variables. It seems that this is not the case.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the following collection: https://www.getpostman.com/collections/9a3706612eab4a3d589a
2. Use the following data file:
[code]
3. Run the collection with Newman:
`newman run https://www

[2019-03-15 05:02] kamalaknn opened #6084 "Environments in workspace do not show up in all environments view in profile"
**Describe the bug**
Environments present in "My Workspace" are not shown in the "Environments" section in profile page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create few environments in My Workspace
2. Click on "Profile" on user dropdown
3. Environments are missing

**Expected behavior**
All environments should show up in the env section.

**Screenshots**
![Screenshot 2019-03-15 at

[2019-03-15 05:05] vdespa commented on #6083
It seems that now data and local variables have switched roles.

[2019-03-15 05:05] #6083 closed, assigned to nobody

[2019-03-15 05:51] codenirvana commented on #6082
@vdespa That's expected behavior. Local variables are persisted for the entire run (including iterations).

[2019-03-15 06:20] codenirvana commented on #6078
@ihipop Yes `parse` is a static function. The utility script looks fine for now but definitely not the actual solution you are looking for.

Closing this issue, please follow the variables interpolation thread for updates.

[2019-03-15 06:20] #6078 closed, assigned to codenirvana

[2019-03-15 06:32] ihipop commented on #6078
@codenirvana
[code]
This works as excepted

`pm.myUtility.getUrl()`  return the  **fully variables  resolved**  `Url` object
then the `getPath()` of `Url` object will  Works like a charm.

The core issue is that  `pm.request.url` in  **Pre-RequestScript**  is not   **fully variables  resolved**

Thanks for your hint in code.

The actual solution I'm  looking for  is that there is an official  inte

[2019-03-15 07:51] ash007-postman opened #6085 "Members in the team not receiving Monitoring summary emails"
**Describe the bug**
Members in the team not receiving Monitoring summary emails

**Expected behavior**
Team members should receive summary emails for monitors created by their teammates.

[2019-03-15 08:07] vdespa commented on #6082
This was not what I had understood from what @sivcan previously explained in #4052

"Local : Variables that you'll be defining in the scripts and using them will be local to those requests."

[2019-03-15 08:09] vdespa commented on #6082
How are we supposed to use these variables if their behavior is so different between Postmand and the Collection Runner / Newman. What is their purpose / use-case?

[2019-03-15 09:31] FJEANNOT commented on #4009
+1

[2019-03-15 09:43] codenirvana commented on #6082
@vdespa Just checked #4052 and https://github.com/postmanlabs/postman-docs/issues/1442.
Clearly, the existing documentation and the previous thread caused lots of confusion regarding the scope of local variables.

Actually, local scope is much more complex than what's discussed so far. It works similar to `prototype` in JavaScript. Example:
[code]

Now this local state it holds is persisted across

[2019-03-15 10:18] gototester commented on #4690
I would love this feature too,

[2019-03-15 10:29] vdespa commented on #6082
@codenirvana Thank you for clarifying.

What still remains a mistery is when does it make sense to use local variables. Maybe you can share some insights?

[2019-03-15 10:42] Raj-postman opened #6086 "Merging the collections should trigger Slack alert"
Slack integration mentions "Get alert for all activity on your workspace" but currently not receiving any slack alert on Merges.

**Steps:**
1) To enable the main collection to be consistent across the team, take a fork of the collection from Team workspace to Personal Workspace
2) After having a certain number of updates, Select **Merge** the collection to Personal workspace
3) Personal collectio

[2019-03-15 14:40] JanaGiovanna commented on #5039
I've just migrated from Chrome-plugin to the latest Postman app v.7 on Windows-64 and I face the same issue...searching for solution here...

[2019-03-15 16:40] asgaines commented on #973
This bit my team today as well. I would expect Postman to take the full value within the param field and URL encode it, not splitting on the `#`.

I would guess this is being done as a way of handling the url anchor/fragment which comes after `#` in a standard URL, but it creates unexpected behavior and forces a cumbersome and error-prone manual handling of the issue, as either of the two issues s

[2019-03-15 17:27] Arxcis commented on #4546
+1 for "Retain Authorization parameters when clicking on links"-option

[2019-03-15 17:33] JeffWiebe commented on #4594
Still getting blank screen on Postman startup. Tried uninstall, delete Local App Data, reinstall. Changed environment variable to DISABLE_GPU. Not in a Dev environment. No option to select which graphics processor.

OS Name	Microsoft Windows 10 Pro
Version	10.0.17763 Build 17763
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	xxxxx
System Manufacturer	LENOVO
S

[2019-03-15 20:14] martyscholes commented on #5920
I have a similar issue where duplicating a request produces a different request than that duplicated. I noticed something similar last year where work on one computer (even when saved to the cloud) provided different requests on another computer when cloud sync was in use.

I have a screen movie of the failure in action if you will tell me how to upload it. This comment system does not accept .mov

[2019-03-15 20:22] joeminicucci commented on #5889
Temporary solution:
Use two proxies, i.e. first proxy to a reverse proxy agent such as Burp Suite and then upstream Burp's requests over to Postman's. Not optimal. Note that I can grab the requests this way however the response is still scrubbed with the original error code

[2019-03-15 21:44] DarrylGwinnett commented on #6017
Is there any ETA on a fix for this?

We rely on this to be able to integrate Postman monitor results in our dashboards, sadly this failing for over a week without an update is likely to cause my company to have to migrate away from Postman for our API monitoring.

[2019-03-15 23:52] tevariou opened #6087 "Postman can't connect to https://localhost on MacOS"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman couldn't get any response from local server although certificate and key files have been added in Postman Settings > Certificates.

**To Reproduce**
Steps to reproduce the behavior:
1. Send any request to https://localho

[2019-03-16 03:05] prezire commented on #2761
This is useful when sharing multiple request collection folders to the team. Not the entire collection, but just folders. Take for example in our case, currently we have lots of different web hooks with URLs and associated sample JSON payloads. It would be nice to probably ZIP the root folder and put it in the project management tool to be shared with.

[2019-03-16 05:18] godfrzero commented on #6017
The API should be fixed in production within the coming week.

[2019-03-16 05:20] godfrzero commented on #6002
@Satak Are you still unable to edit the monitor? If so, could you let me know if you've upgraded to Postman v7 yet?

[2019-03-16 08:50] Satak commented on #6002
@godfrzero I still can't edit or delete the monitor. For monitoring I'm using Postman SaaS so I don't know what version they are running. My Postman client says: `You are up to date! Postman v6.7.4 is the latest version.`

[2019-03-16 08:52] Satak commented on #6002
We are also going over our request quota because of this monitor and we are forced to pay more and I can't edit the monitor. So because of Postman's bug we have to pay more. This is becoming a legal issue now... Is there a way to handle this in private via email or phone? We need to find a solution to this ASAP.

[2019-03-16 09:08] godfrzero commented on #6002
@Satak Please email us at help@getpostman.com with the ID(s) of the monitor and we'll get this sorted.

[2019-03-16 11:53] anilmujagic commented on #2447
In Postman 7.0.4 on macOS 10.13.6:
RAW: `"total":0.0000002`
PRETTY: `"total": 2e-7`

[2019-03-16 12:40] m3dbedb opened #6088 "Console - Jump to End"
**feature request related to usability.**

**the solution I suggest**
automaticallsy move console focus to last string

[2019-03-16 15:26] Satak commented on #6002
Thanks. I just tried to delete my monitor once again and now it deleted it.

[2019-03-16 19:54] nonsocode commented on #2847
😕Does the postman team not think that this is important? It's been nearly 2 years since this issue was opened

[2019-03-17 17:31] pwaterz commented on #5990
Same here on linux

[2019-03-17 18:42] caiodev opened #6089 "Could you create a proper shortcut for Postman on Linux?"
I think Postman for Linux should be turned into a snap package so we could have an auto updated application and also a proper shortcut. Today if one wants to have a shortcut, one has to create their own. It could be much easier if when Postman is installed, a shortcut is already added to the system

[2019-03-18 00:50] abhijitkane opened #6090 "Improper certificate generation for published documentation"
For some teams, public documentation hosted by Postman does not generate the correct certificate. LetsEncrypt isn't able to generate the proper certificate, and Postman falls back to its own untrusted cert.

[2019-03-18 01:06] aleksandar-ninkovic commented on #5034
I've seen A LOT of idiotic stuff over the many years I've spent behind the screen (~30 years since I wrote my first line of code in Basic on a ZX Spectrum) and thought there's not much out there left that can surprise me let alone shock me, until I accidentally opened the ~/Postman directory today and saw what's going on. At first I couldn't believe this was something the app did, I thought it mig

[2019-03-18 01:14] michaelhays commented on #5034
@aleksandar-ninkovic relax dude, mistakes happen.

[2019-03-18 02:01] valtism opened #6091 "Double click selecting on text can place cursor at start or end of word"
**Describe the bug**
Double clicking selects the word, but also adds a cursor to either the start of end of the word, depending on which half of the word you double click. This means that the cursor is often accidentally placed at the start of the word, and when shift clicking to select more on the line, the originally selected word becomes unselected.

I would much prefer the selection to work as

[2019-03-18 03:16] numaanashraf commented on #6066
We are closing this due to inactivity. Please let us know if you are still facing this issue after trying the workaround suggested.

[2019-03-18 03:16] #6066 closed, assigned to nobody

[2019-03-18 03:21] numaanashraf commented on #6089
@caiodev Official snap package for Postman is available on the Snap Store (https://snapcraft.io/postman)

If you are on Postman v7.0, you need to install the `candidate` channel from the snap.

[code]

[2019-03-18 03:21] #6089 closed, assigned to nobody

[2019-03-18 03:30] preethammavin commented on #5700
Closing due to inactivity, feel free to reopen.

[2019-03-18 03:30] #5700 closed, assigned to nobody

[2019-03-18 03:38] numaanashraf commented on #5959
@VaidotasSm We've made some major improvements to your permissions systems in Postman v7.0. Please update and let us know if you are still facing this issue.

[2019-03-18 03:54] numaanashraf commented on #5796
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-03-18 03:54] #5796 closed, assigned to nobody

[2019-03-18 03:58] numaanashraf commented on #5843
@thdoan Thank you for your issue! With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information for us to help reproduce this issue, we'll be happy to reopen the issue.

[2019-03-18 03:58] #5843 closed, assigned to nobody

[2019-03-18 04:31] tribals commented on #5034
@michaelhays No, it's not. There is no justification for this...

[2019-03-18 05:55] godfrzero commented on #5868
@vmarkova It looks like you're trying to connect to a URL which cannot be reached publicly. Because monitors run on the Postman Cloud, any URL to be contacted should resolve to a publicly accessible IP. Again, you don't have to disclose the actual URL, but unless the address is publicly accessible this is not a bug.

[2019-03-18 05:55] #5868 closed, assigned to godfrzero

[2019-03-18 09:09] makkpsss commented on #2857
Getting the body as JSON Object in request body. Tried importing it for Opencart API

[2019-03-18 09:26] lloy0076 commented on #4594
Honestly WHY does Postman even *need* a GPU - what's it doing? Crunching bitcoin in the background?

[2019-03-18 09:35] numaanashraf commented on #5514
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-03-18 09:35] #5514 closed, assigned to nobody

[2019-03-18 09:48] numaanashraf commented on #6019
@d3lboy Thanks for your issue. This seems like a duplicate of #5301. I'm closing this issue as we are tracking the root cause and the fix at #5301.

[2019-03-18 09:48] #6019 closed, assigned to numaanashraf

[2019-03-18 09:54] kamalaknn commented on #5623
@konradjurk Are you still seeing this in the latest version of Postman?

If yes can you send the logs to help us debug this. You can find the logs in `View -> Developer -> View logs in Finder`

After removing any sensitive information in them you can send them to `help@getpostman.com`

[2019-03-18 09:55] kamalaknn commented on #5598
Are you still seeing this in the latest version of Postman?

If yes can you send the logs to help us debug this. You can find the logs in View -> Developer -> View logs in Finder

After removing any sensitive information in them you can send them to `help@getpostman.com`

[2019-03-18 09:57] numaanashraf commented on #5680
Thank you for your issue! With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have more information that'll help us reproduce and fix this issue - we'll be happy to reopen the issue.

[2019-03-18 09:57] #5680 closed, assigned to numaanashraf

[2019-03-18 10:00] aleksandar-ninkovic commented on #5034
@michaelhays  I get it, trust me, made my fair share of mistakes, and maybe I did overreact a bit ¯\_(ツ)_/¯ but I wouldn't even care or bother to comment if I didn't appreciate the app and the effort of the team behind it, it's just a little frustrating that the issue ended up wasting 10% of my free space even though the fix must've been completely trivial yet still took 5 months to implement (the

[2019-03-18 10:06] numaanashraf commented on #5575
@geniusit This seems related to https://portapps.io/app/postman-portable/ which is an unofficial distribution and we do not support or maintain that. Closing this.

[2019-03-18 10:06] #5575 closed, assigned to nobody

[2019-03-18 10:08] Raja-Simha commented on #5550
@ankit-m , Looks like this has been implemented. Can you close.

[2019-03-18 10:11] cyrielle-hada opened #6092 "500 error received when accessing the API documentation"
**Describe the bug**
The API documentation (https://docs.api.getpostman.com/) throws a 500 error, only when logged in via the web dashboard. The issue is not happening in private mode or logged out.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into the web dashboard http://app.postman.co
2. Access https://docs.api.getpostman.com/
3. See error (screenshot below)

**Expected behavior**

[2019-03-18 10:15] SamvelRaja commented on #6029
@behnamoh

Could you provide us the workflow you are following.

- We can see that you have been prompt to move postman to Applications
- Could you provide us the information from there on?

This will help us in debugging the issue further down.

[2019-03-18 10:25] numaanashraf commented on #4801
This seems related to https://portapps.io/app/postman-portable/, which is an unofficial and unsupported package. Closing this.

[2019-03-18 10:25] #4801 closed, assigned to nobody

[2019-03-18 10:27] SamvelRaja commented on #3799
@suvaraj From the logs I can see that %APPDATA% and %LOCALAPPDATA% values are pointing to different user directory. Hence it is failing.

Could you verify the same.

[2019-03-18 10:37] numaanashraf commented on #5774
@Achilles1515  We are having trouble reproducing this issue at our end. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-03-18 10:43] dkaufmann96 commented on #1667
+1

[2019-03-18 10:45] SamvelRaja commented on #5635
This has been fixed in https://github.com/postmanlabs/postman-app-support/issues/4814

Could you verify the same.

I have also tried reproducing it, It is properly changing the icon path in the shortcut present in
[code]

[2019-03-18 10:46] #5635 closed, assigned to nobody

[2019-03-18 11:00] mfaheemakhtar commented on #5598
Yes, still facing the issue. Sent the last two logs (without sudo and sudo) of main.log to the email.

I've Ubuntu 18.04.2.

Update:

I got a reply from support with instructions to fix the issue. I deleted the Postman config (created a backup first) and then restored my settings and data from my backup. And it is working fine.

[2019-03-18 11:06] DHOTRAMP commented on #4262
Post man 6.0 + version works setting environment variable  -  POSTMAN_DISABLE_GPU : true.
But latest update (7.0 +) breaks and taking long to launch.

[2019-03-18 11:13] numaanashraf commented on #5437
Hi. With only the details that is currently in the issue, we don't have enough info to take action. I'm going to close this but don't hesitate to reach out if you have any info that'll help us reproduce this issue, we'll be happy to reopen the issue.

[2019-03-18 11:13] #5437 closed, assigned to nobody

[2019-03-18 11:29] numaanashraf commented on #5208
Duplicate of #4883

[2019-03-18 11:29] #5208 closed, assigned to nobody

[2019-03-18 11:33] numaanashraf commented on #4940
@csm-noahjahn Thanks for letting us know. This seemed like a device specific issue and we are still unable to reproduce this. I'm closing this issue for now - don't hesitate to let us know if you are still facing this issue.

[2019-03-18 11:33] #4940 closed, assigned to numaanashraf

[2019-03-18 11:38] sujayvenaik opened #6093 "History do not have request raw body with which the request was made"
**Describe the bug**
On restoring a request from history do not have request raw body.

**To Reproduce**
Steps to reproduce the behavior:
Send a request with request raw body
Signout and then sign
Wait for the history to be populated
Click on history which should have the raw body

**Expected behaviour**
The history request to have a raw body

**App information (please complete the following infor

[2019-03-18 11:40] numaanashraf commented on #5356
Root issue is tracked at #4897. Closing as duplicate.

[2019-03-18 11:40] #5356 closed, assigned to nobody

[2019-03-18 11:55] Raj-postman opened #6094 "Unable to pin Postman on Chromebook with Unix app"
Description:
I am using Chromebook with Unix app and currently unable to pin Postman application and has no logo when in taskbar.

Steps to reproduce the behavior:
1. Install the Postman app.
2. Right click on the App when in Taskbar
3. The app doesn't display the logo. also "Pin to Taskbar" option is missing.

Expected behavior:
It would be helpful if I could pin it to the taskbar so that the app

[2019-03-18 12:12] numaanashraf commented on #6094
@Kurmavathar Official support for ChromeOS is still in the works. We'll look into this when we officially support ChromeOS (#5316)

[2019-03-18 12:12] #6094 closed, assigned to nobody

[2019-03-18 12:13] CrispyDrone commented on #2449
When working with existing collections you are unfamiliar with this feature is a must.

[2019-03-18 12:31] wilcsomanh opened #6095 "timeout setting is failing requests"
On the Postman desktop app when the timeout in setting->general tab is set to a value > 0 then request are getting error:
***
Could not get any response
There was an error connecting to https://postman-echo.com/time/now.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning

[2019-03-18 13:09] caiodev commented on #6089
Thanks @numaanashraf. It's not as updated as the one i'm using now but in the long run it'll be easier to maintain

[2019-03-18 13:23] #5550 closed, assigned to nobody

[2019-03-18 13:29] Kurmavathar commented on #5464
Similar issue, Where the Restore isn't working. But particularly here **the sync goes offline when clicked upon the restore option.**

[2019-03-18 13:31] Raj-postman commented on #5464
Native App
App version: 7.0.6
OS: darwin-x64

Similar issue, Where the Restore isn't working. But particularly here **the sync goes offline when clicked upon the restore option.**

[2019-03-18 13:54] afsmeira commented on #6069
Any update or ETA for this? Right now I've updated the team dashboards to 7.x and they can't be synced and can't be reverted to a previous version, so we are kind of locked out of our own Postman.

[2019-03-18 13:57] shamasis commented on #1104
This has been fixed in latest Postman App. Have attached screenshot!! If you don't see the content-type column in form-data, then simply select visibility of the column by clicking the three dots on top-right of the table area. :-p

<img width="917" alt="Screenshot 2019-03-18 at 19 25 47" src="https://user-images.githubusercontent.com/232373/54535034-abb12e00-49b3-11e9-8aca-454de95ccadc.png">

[2019-03-18 13:57] #1104 closed, assigned to a85, codenirvana

[2019-03-18 14:39] michaelhays commented on #5034
@aleksandar-ninkovic It is frustrating, no doubt. I just think it was a bit much to berate these people so severely.

Though, reading "2 dogs" did make me laugh quite a bit.

[2019-03-18 14:39] jonrimmer commented on #3418
@a85 There's a big, big difference between having Postman *assume* that a baseURL applies to each request and giving the user the *option* to set one.

[2019-03-18 14:43] kuceram opened #6096 "Postman App doesn't open on Windows when Run in Postman button is clicked."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Having a Run button in Postman (see [our documentation](https://docs.amio.io/docs/postman)) doesn't work properly on Windows. It opens a new tab but when you click on "Open with Postman for Mac" it doesn't launch the app. See fo

[2019-03-18 14:56] WendallHersh commented on #4922
Another Friendly bump as this is a feature that would help significantly when implementing for APIs.

I currently import ALL calls from swagger and then I add tests as a I can. A pm.test.skip() or something would be nice to have in the  pre-request in order to skip the tests that have not been touched yet by testing. I know I could use a separate collection for not completed tests but it becomes a

[2019-03-18 15:04] logiclabs commented on #3418
I can't quite believe the reluctance to improve this as a feature.. adding {baseUrl} to every request is painful, even more so when importing large collections.  I think an issue is that the original question was closed and answered correctly to use variables, and I suggested a way to improve them slightly.  Perhaps this need to be raised as a new issue with a clear requirement?

Even the original

[2019-03-18 15:12] StijnVansevenant commented on #2646
This is also an issue on the Windows Desktop version which we would like to see resolved. Thanks.

To elaborate on the issue. We want to use postman for API calls of an onprem Dynamics CRM server, which is exposed to the cloud using Azure Application Proxy. This is a service by Azure that allows your "ADFS & Windows Based Authentication onprem servers" to be consumed through a public endpoint that

[2019-03-18 15:13] GalvinGao commented on #3418
Swagger has [implemented](https://swagger.io/docs/specification/2-0/api-host-and-base-path/) `host` and `basePath` in OpenAPI 2.0 which has become a very popular standard of creating API documentation. Having the base URL feature embedded in the environment feature will be surely a convenient and also standard-compliant way to deal with this problem facing towards to [6 million+ developers, 200k+

[2019-03-18 15:15] Raja-Simha commented on #6096
Hi @kuceram, thanks for reporting the issue.

I can launch the app but I see an error message saying collection does not exist. Please give us some time to investigate and we will get back to you.

Thanks,

[2019-03-18 15:40] ran-darillium opened #6097 "Whitespace at the end of the url (last parameter) is trimmed"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
If I submit a parameter in params, and the parameter has a space in the end, it reaches my java spring server without it.

**To Reproduce**
Steps to reproduce the behavior:
1. create a parameter with a space in the end.
2. send

[2019-03-18 16:03] #6043 closed, assigned to codenirvana

[2019-03-18 16:24] aviray48 commented on #5813
I am running Postman Version 7.0.5 on Windows 7, and I am running into what seems to be the same issue. Nothing that I search for comes back in the results, even things that I am sure are present.

[2019-03-18 18:00] a85 commented on #3418
@GalvinGao Postman is integrating specifications more tightly so workflows based off specifications will flow more naturally. Putting a baseURL in the collection format specification is a different issue though.

[2019-03-18 18:27] vatsalpande commented on #1667
+1

[2019-03-18 21:22] texaskiwi commented on #2627
I'm seeing this issue in 7.0.6 desktop.

It appears to happen when the object is nested

Without quotes
{"customerAccount":{"test": {{postcode}}  }}    ->    {"customerAccount":{"test": 77079  }}

With quotes
{"customerAccount":{"test": "{{postcode}}"  }}   ->   {"customerAccount":{"test": "{{postcode}}"  }}

Not a nested object
{"postcode":"{{postcode}}"}  ->  "postcode":"77079"

[2019-03-18 21:24] pjamgithub commented on #1632
Why is this issue closed?  I don't see a solution?

[2019-03-18 21:33] texaskiwi opened #6098 "Variables not substituted in Collection Runner for nested objects"
When populating a request body with variables from a CSV file in Collection Runner, the variables are not resolved when they are nested inside a property/object and enclosed in double quotes. The variables works when there are no quotes.

I'm seeing this issue in 7.0.6 desktop.

It appears to happen when the object is nested

**Without quotes**
{"customerAccount":{"test": {{postcode}}  }}    ->

[2019-03-19 00:12] andreacab commented on #2756
I also have the issue with postman 6.7.4. I posted a SO issue [here](https://stackoverflow.com/questions/55049263/file-upload-with-postman-with-pre-signed-url-not-working)

[2019-03-19 01:51] abhijitkane commented on #6069
@afsmeira @kerak19 Can you write in to help@getpostman.com from your registered email? There might be something specific to your accounts that's causing this.

[2019-03-19 05:36] abhijitkane commented on #6077
@Kurmavathar You'll need to work with the OAuth provider to debug the INVALID_SESISON_ID error. Postman's OAuth2 helper is limited to generating the access token. If a freshly obtained access token is throwing an error from the provider, you'll need to take it up with them.

Feel free to reopen if you're unable to obtain the access token.

[2019-03-19 05:36] #6077 closed, assigned to nobody

[2019-03-19 05:53] shamasis commented on #6087
Your SSL certificate that’s been installed in localhoat seems to have had been added to root certificate list in OS and that’s my guess why it’s working fine on Chrome. Postman does not share root certificate from OS yet.

In our next release, we are working towards the ability to allow adding Root CA in Postman App.

[2019-03-19 05:55] shamasis commented on #6087
Duplicate of
https://github.com/postmanlabs/postman-app-support/issues/3290

[2019-03-19 05:55] #6087 closed, assigned to nobody

[2019-03-19 05:59] shamasis commented on #6097
I think we trim the text on UI because we’ve had more cases where people didn’t notice trailing spaces and things failed. I will double check on that though.

Maybe we could convert this to a warning ⚠️ icon instead of doing the trimming. But not sure until we assess what would be the impact. There might be hundreds and thousands of collections that are now working as a dependency on this behaviou

[2019-03-19 06:38] m3dbedb commented on #6011
also works `tests["Application "+b+" processed"] = a(`td:contains(${pm.globals.get("b")})`).html() !== null;`

[2019-03-19 07:14] ran-darillium commented on #6097
What about having a small checkbox (disabled by default) asking you if the space in the end was intentional?
Or, how about making the space not trimmed only on new versions of collections in postman (so collections made before would not be affected)?

[2019-03-19 08:10] manoj-makkuboy commented on #5464
+1

[2019-03-19 08:17] kerak19 commented on #6069
@abhijitkane I'll try this soon

@edit looks like our bill wasn't paid yet and it caused the problem with sync. After fixing billing problem, sync started working again.

[2019-03-19 09:19] shamasis commented on #6097
Yeah. I thought about those two as well.

1. Yes, there’s already a setting for that. I assumed you’ve tried it already. It however makes the change from UI level and actually trims the value before saving or not. I’m not a 100% sure, but it may be in effect only when you edit that value. Or at least that’s how it should be since otherwise, based on your settings, a collection working fine in your

[2019-03-19 09:39] rajpushpa1 commented on #723
if response body is empty it will give response.getBody() '{}' how to check it, if you do responseBody.length==0 if give 2 length and its not an empty string also.

[2019-03-19 09:44] brcinho commented on #1719
I experience the same problem in version 7 on Windows desktop client but only on external monitor, not on my main monitor. In general the scroll stops working in any Postman user control so I have to use scrollbars directly with mouse on external monitor.

My main monitor has scaling to 200%, while external one doesn't have scaling, although I don't know if it is anyhow related to the issue, just

[2019-03-19 10:24] asbachb commented on #1257
I guess an option to collapse a json response in general would be quite useful for some people.

[2019-03-19 10:37] raphokafor commented on #4751
having this issue now, any fix in the pipeline? PR?

[2019-03-19 11:12] schwarcu commented on #4751
Nope

[2019-03-19 13:21] iBotPeaches commented on #6081
How are we supposed to sign in now if we only use Google sign in? Blocked from signing into our Postman Teams account due to this 500 error.

[2019-03-19 14:21] koreem commented on #4751
Same issue

[2019-03-19 14:24] jkewley opened #6100 "Team workspaces associated with the organization and not an individual"
As an employee of a consulting firm which maintains collections in team workspaces across different clients, I'd like to see team workspaces be associated with the organization rather than an individual in the organization. Employees come and go, and having to worry about data loss during ownership transfer when reassigning licenses is not ideal.

I see personal workspaces as a place where I, as a

[2019-03-19 15:01] jkewley commented on #4807
But that's not a solution, and the verbiage is generic. If environments are created directly in a team workspace by a user who is being removed from the team, those environments are gone forever unless a manual export for each environment is performed before the user is removed. The workflow to remove a team member only warns that "So and So is sharing ## collections" and doesn't provide details o

[2019-03-19 15:08] hinkjus32 commented on #4751
+1 for same issue, looking for ETA on fixes or workarounds?

[2019-03-19 15:13] Rob-DeRosia commented on #4751
This is blocking the scripting for our larger response endpoints. I would really like to be able to automate some of them, but this issue is in our way.

[2019-03-19 16:25] nickgsoft commented on #4636
What does the Available Tokens dropdown do then?
https://learning.getpostman.com/docs/postman/sending_api_requests/authorization/
according to this article "In the "Available Tokens" drop-down menu, select an existing token and click the Send button." , but this doesn't switch the token for me. Any idea?

[2019-03-19 16:36] shamasis commented on #4751
Like the rest of our product, we are working hard to support features that enable our community be able to use Postman to send any and every request.

As a fellow developer, I can understand the pain of building something and when it becomes big, having to deal with its design and architecture quirks that are unique to the project you’re working on. Let me put down my own thoughts having worked on

[2019-03-19 16:44] aviweiss commented on #4636
In my opinion, the authorization panel is in need of a complete overhaul.

In addition to the bug you mention (“use” does not select the token), there are numerous other issues with it:
* inability to have a timestamp variable in the token name to auto label each token with a timestamp
* inability to CLEAR all “expired” tokens with one click
* inability to have an authorization url change as a fun

[2019-03-19 17:15] jzabroski commented on #4751
Hi @shamasis
Thanks for the thoughtful reply - but that doesn't really explain the snowball behavior of response time proportional to size of response.  Did you look at / understand my repro?  I guess I also don't really understand how I can intercept the response in Fiddler2 by Telerik and it renders immediately there, but takes forever in Postman.  Based on your response, it feels like you're ov

[2019-03-19 17:53] sankalp0o commented on #4807
Hi @jkewley, thanks for your inputs! We're indeed working hard towards making team and data management better.
We've recently released a new version of the app in which the concept of an "owner" is done away with. What this means is that all environments shared with the team remain with the team even if the user who created it leaves (or is removed). This is the expected behaviour from app version

[2019-03-19 17:53] #4807 closed, assigned to sankalp0o, ankit-m

[2019-03-19 18:06] jkewley commented on #4807
@sankalp0o I see that there are [additional roles defined in the new release](https://blog.getpostman.com/2019/03/11/streamline-access-control-with-extended-roles-permissions/), but can you point me to documentation which shows how sharing and syncing have been changed by this new design? That's a fairly substantial update which changes core application usage and I'd like to read about the new app

[2019-03-19 20:24] chrisdeso opened #6101 "No Workspace Admin Privileges Post-Upgrade to RBAC"
**Describe the bug**
After upgrading to version `7.0+` and migrating to RBAC – no one on the team has workspace admin rights.

**To Reproduce**
Steps to reproduce the behavior:
1. Migrate to version 7 of the app
2. Access default team workspace
3. Notice that no one has admin rights.

**Expected behavior**
After migrating to version 7 of the app, admin rights should retain previous settings.

**Sc

[2019-03-19 21:04] JP-from-Postman opened #6102 "Need Administrators to have special privileges for Postman Elements to administer teams"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
In v7, Team Admins do not have inherent admin rights to manage Collections, Workspaces, and possibly other content.

After migrating our test team to v7, my Team Admin account has the admin/editor role for some Workspaces/Collec

[2019-03-19 21:49] jkewley commented on #4807
@sankalp0o looking at the interface post-upgrade to 7 I see that collections created directly in PM still have an owner, so I assume they''ll go away if I'm removed from the team.

![StillOwned](https://user-images.githubusercontent.com/1148930/54644153-0cea0780-4a6f-11e9-8344-3ce502aa8ed1.PNG)

Can you clarify that this fix only applies to environments? Are you planning to apply the same fix to c

[2019-03-19 22:55] JP-from-Postman opened #6103 "Response pane: search bar partially covers scroll bar"
**Issue**
Opening the search bar in the response pane covers up the top of the scroll bar. For long responses (where the draggable part of the bar shrinks in size), this can make using the scroll bar difficult near to the top of the response.

**To Reproduce**
Steps to reproduce the behavior:
1. Send any request (preferably with a lengthy response body)
2. Open the search bar in the response pane

[2019-03-20 03:28] SQZ777 commented on #3845
+1

[2019-03-20 05:58] cokeby190 commented on #6053
I agree with @girtsn, in a corporate environment, all the network traffic would have to go through the proxy, and its misleading if there is a proxy setting within the application but features like login and updates are not going through that said proxy. Currently I am not logging in in order to avoid the login proxy issue, but it can only be a short term thing, it's really not an elegant solution

[2019-03-20 06:01] a85 commented on #1983
Closing this issue as this was filed on a much older version of the app. If you see the exact same issue with the postman-echo.com/post endpoint, let us know.

[2019-03-20 06:04] a85 commented on #2353
As a workaround instead of copying the link, you can select the text itself and copy it.

[2019-03-20 08:22] abhijitkane commented on #6100
@jkewley This can be accomplished by duplicating a collection in your personal workspace, and sharing the duplicate to the team workspace. This will prevent changes done on the duplicated collection (in the team workspace) from affecting your personal collection.

[2019-03-20 08:29] abhijitkane commented on #6058
Closed due to inactivity.

[2019-03-20 08:29] #6058 closed, assigned to nobody

[2019-03-20 09:09] jontelm commented on #1667
I think you can stop writing "+1" so all of us that subscribe to this issue don't get useless notifications

[2019-03-20 09:14] sankalp0o commented on #6102
@JP-from-Postman All the things that you described above are expected behaviour. The Team Admin role has no special privileges over team collections and workspaces. In fact, team admins do not have any access to team collections and workspaces. They'd need a "Developer" role and then like any other user, they'd need to be given explicit roles on the collection/workspace.

The idea here is that Tea

[2019-03-20 09:28] SteveHight opened #6104 "Fail to sync and now won't enable sync"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Only noticed when I started using Postman on a separate machine and wanted to use a sync'd collection
 2. Expected behaviour: sync will say syncing and I can use collections anywhere I have logged into postman
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-deve

[2019-03-20 09:41] SteveHight commented on #6104
Just checked, logging out then logging back in results in the sync error and all my collections gone

I get the same sync problems in the office and at home.

[2019-03-20 11:30] a85 commented on #5457
Your archived collections don’t count in your limit.

[2019-03-20 11:38] a85 commented on #5457
If you don’t want to collaborate you can use personal workspaces for free. If you are not ready to upgrade to Pro then we recommend using the Free version. We are pretty clear about the distinction between Free and Pro.

[2019-03-20 11:39] ozkank commented on #5457
Let me tell about how can I delete my archived collections? There should a
way.

On Wed, Mar 20, 2019, 2:38 PM Abhinav Asthana <notifications@github.com>
wrote:

[2019-03-20 12:07] cyrielle-hada opened #6105 "GitHub integration not syncing data"
**Describe the bug**

- Although the GitHub integration was set up correctly without any errors, the collections aren’t synchronized to the GitHub repository.
- Some changes to some endpoints have been saved, but it didn’t trigger anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Set Up the integration in the web dashboard following the guidelines https://learning.getpostman.com/docs

[2019-03-20 12:08] a85 commented on #6105
@cyrielle-hada Can we add more details to this please?

[2019-03-20 12:33] zihotki opened #6106 "Postman v7 fails to recognize complex parameter objects in OpenApi v3 specs"
Postman v7.0.6 fails to recognize complex parameter objects in OpenApi v3 specs.

Sample yaml spec:
[code]

Instead of using the paging parameters as `paging.index` and `paging.page_size` it identifies it as `paging` parameter with json body

![image](https://user-images.githubusercontent.com/114631/54684471-ba632680-4b14-11e9-8319-4fe6cc8c23d4.png)

[2019-03-20 13:14] jkewley commented on #6100
@abhijitkane I can see how that would be a workaround for the private/shared workspace separation, but I hope you guys realize that's a workaround for a problem which needs to be resolved. We don't want to instruct our team members to double the size of their collections and/or workspaces in PM and then worry about which one is which as they work day to day.

As I think about it, since PM doesn't

[2019-03-20 13:30] LegendForHire opened #6107 "Allow to modify pm.info.iteration and possibly other pm.info variables"
I'm having an issue with organizing my test flow within a collection. the issue is that every test does not need to run for every iteration. setNextRequest() fixes a majority of this and allows me to loop through a particular solution, but instead of having to write my own data reader for the csv I am using, I would instead like to be able to manually update the current iteration, and us
postman's

[2019-03-20 14:04] andersonllda commented on #6056
The best way is stop to using postman.... that's unbelievable that a simple delete feature cant be done.
If i buy the premium how much things they will not be able to do?
I don´t want this risk.

[2019-03-20 14:07] rosponda57 opened #6108 "Add "open all" to Collections.Folders context menu"
When You have over a dozen requests stored in a collections folder, to open all of them You have to double-click on each one.

It would be great o have an "open all"  position in then Collection Folders context menu :)

![image](https://user-images.githubusercontent.com/41154552/54690399-98bc6c00-4b21-11e9-8217-7244f8d6c254.png)

[2019-03-20 14:11] MerivaIe commented on #4751
Hi team, I am also facing the same issue with a large response crashing Postman.

[2019-03-20 14:26] theNailz opened #6109 "The .localhost TLD doesn't resolve unless explicitly defined in hosts file"
**Describe the bug**
The .localhost TLD doesn't resolve unless explicitly defined in hosts file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a local webserver
2. Execute a request in Posman to http://mydev.localhost/ (ERROR)
3. Add `127.0.0.1 mydev.localhost` to your hosts file (C:\windows\system32\drivers\etc\hosts)
4. Retry step 2

**Expected behavior**
Any domain ending in .localh

[2019-03-20 14:39] DonSkokie commented on #6102
@sankalp0o I brought this issue up as we have run into issues where one developer created a collection and then another developer doesn't have access to edit it. As an Admin I would assume I should have rights to go into that collection and modify the permissions so whoever I chose has rights to the collection.
I have Admin, Billing and Developer rights. As the person who setup and manages the tea

[2019-03-20 15:00] DannyDainton commented on #4891
As a workaround and something that has been part of the app for many versions - You could use the `_.random()` function of [Lodash](https://lodash.com/docs/4.17.11#random) to generate a random `int`.

For example:

Use `_.random(10000000, 99999999)` to get an 8 digit number or change the values to get a different range. This could be easily added to an `environment` or `global` variable, to use wi

[2019-03-20 15:21] numaanashraf commented on #6104
@SteveHight Are you running the same app version on both the devices? Please share these app versions. You can find them under Settings > About

[2019-03-20 15:34] sujayvenaik opened #6110 "Cannot export results from collection runner"
**Describe the bug**
Cannot export results from the collection runner

**To Reproduce**
Steps to reproduce the behaviour:
Select any collection
Press Run
Go to collection runner
Try to export results.
See the error in the terminal

**Expected behaviour**
Should have exported the results

**Screenshots**
![Kapture 2019-03-20 at 20 59 09](https://user-images.githubusercontent.com/11532114/54697377-7

[2019-03-20 15:56] numaanashraf opened #6111 "Zoom not working in Postman Console"
**Describe the bug**
Zoom in/out is not working on Postman Console window

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman Console
2. Try zooming via keyboard shortcut or menu actions under (View) [Cmd +/-]
3. Notice that view does not zoom

**Expected behavior**
View should zoom in/out as expected

**App information (please complete the following information):**
 - App Type: Nat

[2019-03-20 16:12] Fibba2587 commented on #3602
+1
Also would like to know if and when this feature would be available. It's very much needed.

[2019-03-20 16:20] ratpik commented on #3602
Adding support for matching via request body is part of our near term roadmap.

[2019-03-20 17:08] T1l3 commented on #6081
Had the same issue, magicaly resolved this afternoon

[2019-03-20 17:19] dmboucher commented on #6105
Please let me know whatever details you need.  Some additional info:
Repo:  https://github.com/ssbcode/postman-ssb-team-workspace
This is a private repo.  @a85, I added you as a reader on the repo so you should be able to see it.
Here are some screen shots of the integration configuration settings.
![screen_shot](https://user-images.githubusercontent.com/9728334/54705250-f93bb100-4b01-11e9-90e0-86

[2019-03-20 17:43] JP-from-Postman commented on #6102
@sankalp0o Thanks for clarifying. Per your questions:

1. "Some Workspaces also have no admin."
An example of a post-migration Workspace without any admins was posted by @chrisdeso in https://github.com/postmanlabs/postman-app-support/issues/6101.

2. "doesn't inherit admin or editor rights from the team default setting"
Sorry if the way I wrote this is confusing. To clarify, the actual behavior o

[2019-03-20 17:56] abhik137 commented on #4359
Same problem, Ubuntu 18.04. Found this error on starting from terminal
[code]

[2019-03-20 18:08] preethammavin commented on #6102
@DonSkokie I agree with your use case, one of the reasons we introduced Role Base Access Control was to give fine grain controls to the users to better manage the team.
The current behaviour of the product does not let Admin have special privileges on collections and workspaces as @sankalp0o mentioned

I am changing the Issue title to reflect the need for such a feature so that we may reference it

[2019-03-20 18:33] kenmaglio commented on #1475
@a85 @elssar  Any possibility of movement on this Feature Request?

[2019-03-20 19:40] SteveHight commented on #6104
@numaanashraf
The master Postman is on my MAC and is Version 4.0.0-beta.4 (4.0.0-beta.4) (MAC version 10.14.3)  This where I have created the collections and where postman that fails to sync.

The other Postman is on a windows 10 PC the Postman version is 7.0.6 win32 10.0.17134 / x64

On the PC the sync button is orange, under collections I see my collection names, but I do not have any API detail

[2019-03-20 20:46] SteveHight commented on #6104
Please close this case.

Despite version 4.0.0-Beta.4 thinking that there was no upgrade beyond that, deleting that version I found that MAC had a version 7.0.6
Downloading that - sync seems to be working now.

If anyone reads this make sure you save your data before deleting Postman, else your collections will be gone forever.  See Spanner > settings > Data > download.
Once re-installed you can i

[2019-03-20 20:46] SteveHight commented on #6104
Done (solved)

[2019-03-20 20:46] #6104 closed, assigned to nobody

[2019-03-20 21:47] JP-from-Postman opened #6112 "Documentation: adjust truncation for tables"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
For content on a docs page (parameters, headers, body, etc) that contains many items, the list / table is truncated to fit within a maximum length, and requires clicking to expand to

[2019-03-20 22:33] dacardona commented on #6112
Another alternative could be to show a scrollbar

[2019-03-20 23:47] preethammavin commented on #6100
@jkewley I understand your concern, and owner concept is one which Postman as a Product wanted to move away from.
With Role Based access control post 7.0 version of the product, the creator of the collection is no longer the owner. This would mean any collection created in the team context is held with the team and doesn't go away when the creator leaves the team.
This is also something which we w

[2019-03-21 02:25] elssar commented on #6081
@iBotPeaches apologies for the delay in getting this resolved. We released a fix for this bug yesterday. Can you please try logging in via google and let me know if the problem still persists.

[2019-03-21 03:05] jjsty1e opened #6113 "Feature request: support allow using template when creating requests"
sorry for my poor English. ; )

**Is your feature request related to a problem? Please describe.**
when created a request, is't an barebone empty request, no url, no params, no headers  ofcos, so I won't create a request using the  "Add Request" button, I would like to copy another request from the same collection, and make
the change for it.

**Describe the solution you'd like**
add template(s) f

[2019-03-21 03:42] abhijitkane commented on #1475
@kenmaglio I've created a PR, but internal testing and releasing into the app will take time.

[2019-03-21 03:48] elliottn commented on #2931
would be helpful since some chromebooks can install debs

[2019-03-21 04:05] godfrzero commented on #5625
We've pushed out a fix for this, and this issue should not be occurring anymore.

[2019-03-21 04:05] #5625 closed, assigned to godfrzero

[2019-03-21 06:24] sagar-gavhane commented on #2905
+1

[2019-03-21 06:25] sagar-gavhane commented on #4117
+1

[2019-03-21 06:25] sagar-gavhane commented on #4117
+1

[2019-03-21 06:44] rotorboy opened #6114 "unable to use {{variable name}} in access token name field"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
The docs clear and unequivocally state that variable substitution is available in ALL text fields, however entering {{variable_name}} in the token name field simply creates the string "{{variable_name}}

**To Reproduce**
1. Go t

[2019-03-21 06:49] rotorboy opened #6115 "Better token management"
Currently, each access token must be removed individually, There should be a "select all / delete all" capability to remove at once.

Even better: have an auto-remove feature that will set a timeout to remove expired token based on their validity duration as contained in "expires_in" field returned with the token.

Better still: have an "auto-renew" feature that both deletes old token upon expiry

[2019-03-21 06:53] ash007-postman opened #6116 "Monitor name isn't visible in the integration listing"
**Describe the bug**
Don't see Monitor in Configured Integrations"

**To Reproduce**
Steps to reproduce the behavior:
1.  Navigate to the Postman Integrations Tab
2. Click on Configured Integration
3. Showing a blank list under Monitor column

**Expected behavior**
Monitor name should be visible in the integration listing

<img width="535" alt="Screenshot 2019-03-21 at 12 05 41 PM" src="https://us

[2019-03-21 06:54] Raj-postman opened #6117 "Issue duplicating collections in Postman app"
**Describe the bug**
When I try to duplicate the collections using the ellipses next to the collection name, there is no duplicate of the collection that I see.

**Steps to reproduce the behavior:**
1. Open the Postman App
2. Click on ellipses next to the collection name, or either after expanding the collection
3. There is no duplicate of the selected collection

**Expected behavior**
Be able to

[2019-03-21 06:59] 1989JmTan commented on #3888
@kamalaknn  I  aslo met the same problem！
Postman for Windows
Version 6.7.4
win64

![image](https://user-images.githubusercontent.com/39816275/54737055-14352080-4be9-11e9-9b98-7962e03ef18a.png)

[2019-03-21 07:26] codenirvana commented on #6114
@rotorboy In which authorization method you are facing this issue?
I tested with Bearer Token and OAuth 2.0 fields and its working fine (attached screenshot).

Can you provide more information regarding the issue you are facing?

<img width="987" alt="Screenshot 2019-03-21 at 12 47 23 PM" src="https://user-images.githubusercontent.com/4865836/54737843-bf3cde80-4bd7-11e9-8a88-a7eb1ec23609.png">

[2019-03-21 07:44] rotorboy commented on #6114
I’m trying to use time stamp in the token name field in the token request dialog box, in the “edit collection” feature (e.g. Im trying to get a new token for the collection, and use the time stamp as part of the token “name” string...

-Avi

On Mar 21, 2019, at 03:27, Udit Vasu <notifications@github.com <mailto:notifications@github.com>> wrote:

[2019-03-21 07:44] rotorboy commented on #6114
Sorry, the type is OAUTH2...

[2019-03-21 08:31] codenirvana commented on #6095
@wilcsomanh Are you getting `ESOCKETTIMEDOUT` error? Is the server taking longer than the specified timeout?

I tried to reproduce this issue by setting the timeout to `2000` and enabled local proxy and its working fine for me.

[2019-03-21 08:31] sebastian-tennant commented on #1475
+1 on this

[2019-03-21 08:39] wilcsomanh commented on #6095
is the timeout setting changed from sec to ms? I have changed the setting from 20 to 20000 and it works now ! the ticket can be closed

[2019-03-21 08:45] abhijitkane commented on #6117
@Kurmavathar Can you check the logs (View > Developer > Current View) for any errors when you try this?

[2019-03-21 08:56] codenirvana commented on #6073
@dusty That should not affect the ongoing request. Also, I am not very sure that `time` calculates the actual request time.

I would suggest trying the following script for calculating response time:
[code]

[2019-03-21 09:05] #6095 closed, assigned to codenirvana

[2019-03-21 09:26] abhijitkane commented on #6115
@rotorboy What screen of the web dashboard/app are you referring to? https://go.postman.co/settings/me/sessions has a Revoke All Sessions button.

[2019-03-21 09:28] abhijitkane commented on #6107
@LegendForHire A quick workaround would be to add a bit of code in the collection-level script. You can read from pm.info.iteration and set whatever environment variables you need. These will then be available in the request.

Since collection-level scripts are run before every request, you only need to write your code in once place.

[2019-03-21 09:32] plumpNation commented on #1228
+1

[2019-03-21 09:37] Raj-postman commented on #6117
@abhijitkane This is one of the error among similar fields as listed in following .logs file:
1) In the file **renderer-shared.log** -

[34746][1551947691768][shared][error]["BaseSyncTimeline: Error in environment:5569996-9dde6f1d-d532-42c8-8d5f-0b460895c65a /sync response"]

2) In the file **pluginHost.log** -
open '/Users/vignesh-4641/Library/Application Support/Postman/plugins/postman.openApi/v

[2019-03-21 10:04] labifrancis opened #6118 "Importing a backup file on the Chrome app shows all the collections while the native app shows only one"
**Describe the bug**
Importing the backup file on the Chrome app shows all the collections while the native app shows only one

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Native app and import the backup file
2. Go to the Chrome app and import the same file

**Expected behavior**
The number of collections in the Native app and Chrome app should be the same

[2019-03-21 10:07] harsh-reality opened #6119 "ADFS SSO integration not working with the encryption key."
**Describe the bug**
The ADFS SSO integration does not work when the encryption key is put in alongside other configuration settings. The SSO integration works fine otherwise.

**To Reproduce**
Follow the steps mentioned in the documentation here- https://learning.getpostman.com/docs/postman_enterprise/sso/microsoft_adfs/ and the integration does not work with the encryption key but when it's not

[2019-03-21 10:37] IvoPereira commented on #4912
This is quite a drawback for who's using Postman for their API documentation methodologies.

Is there any new ETA on this?

[2019-03-21 10:44] gingerdin opened #6120 "Postman implicitly encodes the '{}' symbols"
**Describe the bug**
According the documentation https://learning.getpostman.com/docs/postman/sending_api_requests/requests/
"Note: Parameters you enter in the URL bar or in the data editor will not automatically be URL-encoded".
At the same time, when using the GET request with the '{}' symbols
`http://localhost/api/PolicySpecification?query={policySpecifications{productCd}}` when intercepting th

[2019-03-21 11:23] fendis0709 commented on #4665
@sivcan Thanks man... I was accidentally shared my collection to my team. After several days, my collection that I was shared become archived.

[2019-03-21 11:26] bisutti commented on #4253
On version 7.0.6, the sort icon no longer exists.

[2019-03-21 11:43] ghost commented on #4253
It's not there on 7.0.4 either

[2019-03-21 11:52] yuvalevr commented on #4690
I would love to see this feature!

[2019-03-21 12:20] abhijitkane opened #6121 "Microsoft Teams Integration"
*Linked from a customer ticket*

Creating a Microsoft Teams integration didn't pipe any collection activity changes to Slack. Trying to delete the integration threw a 'Unable to delete integration, Instance already exists in database' error.

More details on the linked JIRA

[2019-03-21 12:42] TwonkyTheRobot opened #6122 "Client certificate fails to load with space in beginning of path"
**Describe the bug**
A space in the beginning of the CRT/KEY file causes postman to add its working directory in front of the path (even if it's an absolute path), meaning the files won't be used in requests. Error message is only shown in postman console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Certificates'
3. Click on 'Add Certificate'
4. Enter URL
5.

[2019-03-21 13:00] ankitjaggi commented on #5108
@abhijitkane @JP-from-Postman @towerjoo This issue has been fixed from our side. Can you confirm?

[2019-03-21 13:07] abhijitkane commented on #5108
@ankitjaggi I added an integration on a failing monitor, and ran the monitor a few times, but there's been no post to the slack channel for 2-3 minutes.

[2019-03-21 13:10] dmboucher commented on #6105
@ankitjaggi & @kartikjain26 - I added you as readers on our private GitHub repo (https://github.com/ssbcode/postman-ssb-team-workspace) to better assist with troubleshooting.  Thank you for your help!

[2019-03-21 13:18] iBotPeaches commented on #6081
@elssar All good now. Thanks for the fix!

[2019-03-21 13:59] #6081 closed, assigned to elssar, ankit-m

[2019-03-21 14:30] numaanashraf commented on #3865
No longer reproducible on Postman v7.0. Closing this issue for now, please don't hesitate to re-open if you are still facing this issue on Postman v7.0.

<img width="1015" alt="Screenshot 2019-03-21 at 7 58 22 PM" src="https://user-images.githubusercontent.com/3295568/54759284-c2ee5680-4c13-11e9-96dd-614443449a05.png">

[2019-03-21 14:30] #3865 closed, assigned to shamasis

[2019-03-21 14:31] DumbThingsiMade commented on #4849
I am having the same issue with v7.0.6, which is currently the latest version.

HP EliteBook 840 G1, WIndows 10 Pro 64 Bit, i5 4300U CPU 1,90GHz (4 CPUs) ~2.5GHz 8GB RAM

Here's my dxdiag file attached.

[DxDiag.txt](https://github.com/postmanlabs/postman-app-support/files/2992491/DxDiag.txt)

[2019-03-21 14:53] numaanashraf commented on #5745
Root issue has been resolved. Closing.

[2019-03-21 14:53] #5745 closed, assigned to abhijitkane

[2019-03-21 14:57] numaanashraf commented on #4587
Thank you for your issue! With only the details that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if this issue is still happening for you.

[2019-03-21 14:57] #4587 closed, assigned to nobody

[2019-03-21 15:46] cyrielle-hada opened #6123 "Deleting and old workspace"
Deleting and old workspace

[2019-03-21 15:53] klemens-u commented on #4631
I'd like to use this feature! +1

[2019-03-21 15:53] godfrzero commented on #5952
@VicKetchup Is this still a problem?

[2019-03-21 16:03] klemens-u commented on #1535
+1

[2019-03-21 16:05] labifrancis opened #6124 "Published documentation for a deleted collection should be available after restoring the collection from trash"
**Is your feature request related to a problem? Please describe.**
When a collection with a published documentation is deleted and restored back, the link to the published documentation becomes unavailable

**Describe the solution you'd like**

The link to the documentation for a deleted collection should be available together with the content after the collection is restored.

[2019-03-21 16:15] mvarendorff commented on #3897
I wanted to install this with chocolatey and tried to install it in a different directory. Would really appreciate the option to install elsewhere and not just dump it somewhere as others already mentioned and if you change the installer, please also expose a CLI option for this :)

[2019-03-21 16:39] chrisdeso opened #6125 "Renewal/Billing Reminders not being sent"
**Describe the bug**
Renewal / Billing reminder emails aren't always sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Purchase a paid plan
2. Wait until the renewal date
3. See renewal happen without a reminder being sent

**Expected behavior**
An email reminder prior to the auto-renewal happening is expected.

**Additional context**
[Filed by Postman]

[2019-03-21 16:45] dusty commented on #6073
Thanks for the curl tip and your patience.

I figured it out and its due to OSX and its handling of .local domains.  I was pointing my queries in postman to a .local address, which I had in /etc/hosts pointing to 127.0.0.1.

The mistake I made was testing it via curl and the browser using localhost or 127.0.0.1, so I never came across the issue.

On OSX if you point to a .local domain it treats th

[2019-03-21 17:09] dmboucher commented on #6105
Also... if there were an option to sync all collections within a shared team workspace, that would be awesome.  It would be great to **not** have to add specific integrations for each collection.  Just a thought (but out of scope for this issue).

[2019-03-21 17:21] VicKetchup commented on #5952
@godfrzero Yes, still getting empty array back :(

[2019-03-21 17:28] godfrzero commented on #5952
@VicKetchup Are you still not receiving summary mailers, is what I meant. The Postman API issue is being worked on.

[2019-03-21 17:30] LegendForHire commented on #6107
Yeah, that wont really solve the issue. that involves code running before EVERY script. i want to be able to hop around using sendNextRequest and using the iteration modification to keep track of where i am and what data i'm using, so that no piece of code gets run redundantly while staying in the same collection. currently the only way for me to be able to do something like this, is to write my o

[2019-03-21 17:36] piercena opened #6126 "Single Quotes Converted to ASCII on Desktop Postman"
**Describe the bug**
When including single quotes in a URL, the single quotes are replaced with the ASCII value of %27. This issue is the same for double quotes which are replaced with %22. Postman for Chrome does not experience this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman for Desktop
2. Make a request to a URL and include single quotes
3. Observe server logs whi

[2019-03-21 18:05] douglasduartetb commented on #2847
+1

[2019-03-21 18:15] rotorboy commented on #6115
I'm referring to the “manage access tokens” panel, under the “authorization” tab, in the edit feature for editing a collection.

Token “management” is greatly exaggerating what this panel does. It enables getting one token at a time, and removing one at a time. Hardly comprehensive “token management"

There is no way to remove all old tokens at once. Each token must have its garbage can clicked in

[2019-03-21 18:18] VicKetchup commented on #5952
@godfrzero Sorry, it's been a long day, thought this was the monitor issue, this is now working fine as far as I can tell :)

[2019-03-21 19:04] JP-from-Postman opened #6127 "Mock server: regular response times up to 30 seconds"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Response times for two Mock Servers are frequently in excess of 10 - 30 seconds.

Both mock servers only contain a single example response. Requests being sent to mock server have only a very small JSON body as the payload.

**A

[2019-03-21 19:27] nilselde commented on #4272
It would be nice to be able to sort by multiple criteria, like Name and then Type, or Type then Name:

[code]
or
[code]

[2019-03-21 19:36] ghost commented on #4272
I would be happy with the rumored button returned that sorts collections by name

[2019-03-21 19:41] shamasis commented on #6107
A “goto” like behaviour around iteration would not be feasible to work on. postman.setNextRequest itself hasn’t been ported to pm.* APIs for this reason.

I too suggest that, for now, use what @abhijitkane suggested.

The good news though is that we are working on a more flexible collection running mechanism that achieves the concept of iteration using a sort of map-reduce feature on data files. T

[2019-03-21 19:41] #6107 closed, assigned to nobody

[2019-03-21 19:49] LegendForHire commented on #6107
Thanks for the heads up on the new feature. I'll probably just have a setup script, that functions by reading through all the iterations and creates my own data map. Thanks for the info!

[2019-03-22 00:14] chitti-cc opened #6128 "Error running scripts: SyntaxError | Unexpected token :"
I am getting the  **SyntaxError | Unexpected token:** all the time for the GET request. But the response of the service is valid JSON. I did not add any test scripts for this still it is giving me the error.

Here is the JSON response
`{
  "code" : 0,
  "requestId" : "sdfafafsaf",
  "timestamp" : 1553212129471,
  "values" : [ "xxx", "yyyy", "zzzz" ]
}`

![Screen Shot 2019-03-21 at 5 47 05 PM](http

[2019-03-22 00:46] icapuccio commented on #5791
Hi @Raja-Simha,

I had the same problem but with a square favicon of 144x144. I changed it to 32x32 and then it worked in Chrome!

It would be nice if there is a message beside the favicon's upload section that suggests using an image with a 16x16 or 32x32 resolution for better compatibility between browsers.

[2019-03-22 01:30] alucic commented on #2366
This issue is consuming a lot of debugging time for past 2 years, @vkaegis any updates on it?

[2019-03-22 02:51] godfrzero commented on #5952
Awesome, closing this ticket then. I'm pushing to get the Postman API issue resolved as fast as we can, I'll update the other ticket when it's out.

[2019-03-22 02:51] #5952 closed, assigned to godfrzero

[2019-03-22 03:29] preethammavin commented on #6118
@labifrancis is it possible to share the backup file to further investigate this?

[2019-03-22 03:42] sdping commented on #1809
I have the same issue ,it causes by import the collection with "Replace". Just delete the whole collection,then import again ,everything goes well.

[2019-03-22 03:42] preethammavin commented on #6123
Closing as incomprehensible.

[2019-03-22 03:42] #6123 closed, assigned to nobody

[2019-03-22 03:49] preethammavin commented on #6124
I understand the use case, but deletion of a collection would mean deleting an entity and its relation.

To restore the link back to all the elements would nearly be impossible as a product behaviour with the complexity it could unload on to the user. This is said keeping in mind elements (Documentation, Monitor and Mocks & in future more) are built on collection.

We will revisit it as a feature

[2019-03-22 03:49] #6124 closed, assigned to nobody

[2019-03-22 04:43] abhijitkane commented on #6125
@chrisdeso Our email provider shows ~150 of the upcoming-renewal emails being sent each day. Can you add specific user/team info to the linked JIRA?

[2019-03-22 04:50] abhijitkane commented on #6128
@chitti-cc Can you check if:
1. There are any folder- or collection- level test scripts that might be doing a JSON.parse?
2. The "raw" mode in the response has the same JSON response. (Certain strings like `while(1);` are stripped in the pretty mode)

[2019-03-22 05:06] chitti-cc commented on #6128
Thanks, @abhijitkane ..I did not realise there are some tests are in collection level.

[2019-03-22 05:06] #6128 closed, assigned to nobody

[2019-03-22 05:11] #6100 closed, assigned to abhijitkane, preethammavin

[2019-03-22 05:13] abhijitkane opened #6129 "Unable to perform team-level actions (inviting etc.) after accepting an invitation to join the team"
Discovered internally at Postman. See linked JIRA for details.

[2019-03-22 05:14] a85 commented on #6129
@abhijitkane Can we have more details on this ticket itself?

[2019-03-22 05:16] numaanashraf commented on #6117
@Kurmavathar Please share any errors you see in `renderer-requester.log` and also under Console in (View > Developer > Current View)?

[2019-03-22 05:16] abhijitkane commented on #6129
The user in question was part of a team before, then left the team, then joined it again. After re-joining, the user is unable to send invites, change billing details for the team even though the invitation used had these roles.

[2019-03-22 05:34] a85 commented on #6129
Ok. I'd like bug reports to be filed in a way in this tracker that it can be replicated or at least can be tracked. If I were reviewing this as a developer, I'd just close this issue right away purely looking at this ticket.

[2019-03-22 06:29] tanoojoy opened #6130 "A hyphen at the beginning of token causes a "Could not get any response""
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When authenticating using a Bearer + token, everything worked fine until today one of the tokens started with a "-". I got a "no response" from postman even after checking spellings/parameters/syntax. I tried the same API on swa

[2019-03-22 08:48] codenirvana commented on #6130
@tanoojoy It's working fine (attached screenshot).

Can you share more information to reproduce this issue? Is there any error message in the Postman Console?

<img width="902" alt="Screenshot 2019-03-22 at 2 12 01 PM" src="https://user-images.githubusercontent.com/4865836/54810818-0e087800-4cad-11e9-81ea-5466bf61295b.png">

[2019-03-22 09:18] RB-Develop opened #6131 "7.0.6 SSL Handshake failure with verification turned OFF"
**Describe the bug**
A secure HTTPS API I'm working on requires a client certificate to be presented. On my development environment I'm using a self-signed certificate both for the server certificate as for the client certificate. With SSL verification turned off this did not seem to be an issue until today. Currently I'm running into an SSL handshake issue, preventing the API call from being made

[2019-03-22 10:01] RB-Develop commented on #6131
Seems like I jumped the gun. Turns out the issue went away when I also provided a .key file. I cannot remember having to do this in the past, but there we go. Closing the issue.

[2019-03-22 10:01] #6131 closed, assigned to nobody

[2019-03-22 10:01] vkaegis commented on #6113
@Jaggle Thanks for writing in! Going to mark this as a feature request now, but we have something in the works that might interest you. No ETA just yet, but stay tuned!

[2019-03-22 10:05] vkaegis commented on #2366
@alucic No ETA just yet, but this is on our roadmap.

[2019-03-22 10:41] vkaegis commented on #5791
@icapuccio Thanks for the feedback! Could you make a separate Github issue for this so we can track it better? Having better instructions next to the upload section definitely makes sense.

[2019-03-22 10:41] tauinger-de commented on #4441
I would welcome a single-window solution as well. The concept seems to be like a "sticky" environment selection per tab. Could be a simple enable/disable icon that remembers the current environment when leaving the tab and reselects it when entering the tab again.

[2019-03-22 10:58] cyrielle-hada opened #6132 "Monitor usage discrepancy between usage overview monitoring usage details"
**Describe the bug**
In Usage Overview monitoring, calls made by monitor shows 1000+ while View detailed monitoring usage shows only 26 requests.

**Expected behavior**
See the same usage in Usage Overview monitoring and View detailed monitoring usage.

**Screenshots**

![2019-03-21_17-38-17](https://user-images.githubusercontent.com/47351631/54818600-924d0200-4c91-11e9-8b55-55ec929503cc.jpg)
![20

[2019-03-22 11:33] lazabazsa commented on #5039
I'm facing the same issue. Windows 10 with the latest v7.0.6. Tried to fallback to v6.7.4 (which as I remember worked correctly) has the same issue. What else should I check?

[2019-03-22 11:54] garreth-sutton commented on #2678
This is sorely needed and pretty much a deal-breaker for customers who are using cryptocurrency APIs, Spent a couple of days trying to produce pre-request scripts that can generate a hashed and signed order for one of our new products and have now given up because of the restrictions on importing libraries. 😡

I really want to use Postman to provide potential API users with fully functional API sp

[2019-03-22 12:16] godfrzero commented on #5529
Changing the 5 minute timeout is not on the roadmap right now. In addition, I haven't found any indication of timeouts being caused by any monitoring platform component.

@VicKetchup If each API call is expected to finish within a certain period (30 seconds max, perhaps?), can you set that as a request-level timeout config in the monitor? This will help isolate the requests which are actually caus

[2019-03-22 12:30] qwertycody commented on #1066
Holy wow. +1
This is still an issue?

[2019-03-22 12:32] sujitblues opened #6133 "Beautify functionality is not working"
Hello,
I am using window native app for postman version  Postman v7.0.6.I am trying to beautify my input json using beautify button but it's not working.I have attached my screenshot below.Please look into this and what are the short-cut to beautify the json input text?

![beautify](https://user-images.githubusercontent.com/37321410/54822940-3fdd0700-4ccc-11e9-934a-2ce747ccf10c.png)

[2019-03-22 12:40] sujayvenaik commented on #6133
Hey @sujitblues
I tried with a certain nested JSON structure which seemed to work.
Can you send us this exact JSON which you are trying to beautify so we replicate this better?

[2019-03-22 12:41] qwertycody commented on #5222
@DeadDuck, you're not alone. I am having same issue. +1

[2019-03-22 12:47] VicKetchup commented on #5529
@godfrzero I will double check that this issue is still present, but, if I remember correctly, the time the calls took wasn't the issue (we looked at the sum of response times), if anything, this seemed like a load issue on monitor side when we kick off 5 at once. I will check this on Monday and provide any relevant details.

[2019-03-22 13:25] richarddevers commented on #4631
me too +1

[2019-03-22 13:34] jkewley commented on #6100
@preethammavin I'm glad that the team is aware of and is working on this issue. I tried creating a new collection in a team workspace and it still shows me as the owner:

![AddedToTeam](https://user-images.githubusercontent.com/1148930/54825644-72fba800-4c84-11e9-9751-28ece4fa2d6c.png)

Is this a bug in the UI, or would this collection be removed from the team workspace if my license was removed?

[2019-03-22 13:39] labifrancis commented on #6118
@preethammavin I provided it internally on JIRA

[2019-03-22 14:13] bt-dd commented on #5900
We would also benefit from this, in cases where there is a performance hiccup, we would rather be notified than to hit the (already slower than normal) server again.

Maybe a general "retry up to x times" setting?

This behavior today is not very transparent, and we didn't even realize it was occurring until we dug into console results on some monitors.

[2019-03-22 14:30] tristan957 commented on #2931
The fact that this has been closed, and not repopened is laughable. The issue was closed with no reasoning, and the solution the Postman team provided is not even close to the respective package formats requested. Postman is just another company that treats Linux as a second-class citizen. I urge all of you to quit using this application. They do not care about our opinions. @tiagohillebrandt set

[2019-03-22 15:18] LunaticoCR commented on #5294
I'd love to see Postman in Dark Mode. With more and more apps introducing dark mode, and with macOS Majave introducing it at a system wide level, now every time I open Postman my eyes hurt a bit because they're used to all the other dark apps.
Is this being considered?

[2019-03-22 15:25] preethammavin commented on #5294
@LunaticoCR We do have a dark theme, in the setting page of the app under theme.

[2019-03-22 16:04] labifrancis opened #6134 "Ability to run queries over the JSON and XML payload."
**Describe the solution you'd like**
 A user will want to run queries over the JSON and XML payloads. i.e. XML there is XPath and XQuery and JSONPath for JSON. This will make looking for a piece of data in a specific location in payload very easy.

[2019-03-22 17:01] cyrielle-hada opened #6135 "Can’t restore deleted sources from Trash"
**Describe the bug**
Unable to restore a collection from the trash https://app.postman.co/me/trash
Upon clicking on restore, an error message appears says “Something went wrong”

**To Reproduce**
Steps to reproduce the behavior:
1. In the Web Dashboard, go to the trash https://app.postman.co/me/trash
2. Hover on the collection to be restored and click restore
3. Select the workspace and click rest

[2019-03-22 17:14] LunaticoCR commented on #5294
Ah thanks for for pointing that out @preethammavin ! It looks great!

[2019-03-22 17:21] infn8 commented on #688
I'm confused.  did this get added?  why is this closed?

[2019-03-22 18:09] daveherrington commented on #285
+1
I need this to supply a temporary password that comes in via email.

[2019-03-22 18:18] m3dbedb commented on #6011
Note that newman 4.3.1 does not support template literal, use 4.4.0 and newer versions.

[2019-03-22 18:24] brianLeeson commented on #2801
I also need this.

[2019-03-22 18:59] erodewald commented on #4555
Still can't use `+` in query params in `v7.0.6` macOS.

[2019-03-22 19:06] arunvinoth opened #6136 "Postman to Dynamics 365 CRM online issue"
**Describe the bug**
We are following [this tutorial](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/webapi/setup-postman-environment) in my team & followed the same steps. The token is not getting generated, in fact the screen goes blank after ADFS challenge page.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill in the environment variables & save
2. Click on

[2019-03-22 19:07] arunvinoth commented on #6136
Btw, we cannot have chrome extension bcoz of Client restrictions.

[2019-03-22 19:19] arunvinoth commented on #6136
Some cookies are missing for me, if that matters:
![image](https://user-images.githubusercontent.com/11758929/54847848-ea95fb00-4cb5-11e9-8f0b-c810e26e7225.png)

[2019-03-22 19:50] Poltergeisen commented on #4751
I'm facing this issue when pasting a large request into the box. Postman is completely unresponsive and my cpu is at 100%

[2019-03-22 20:07] martyscholes commented on #5920
I am now thinking that this is somehow related to the request tabs at the top of Postman. I can't find the documentation to explain what those tabs are, but they get tied somehow to the requests in the collection. Saving via the save button or the menu does not appear to resolve conflicts between the collection and the tabs at the top. Duplicating a request in a collection appears to duplicate the

[2019-03-22 20:26] JP-from-Postman opened #6137 "Local data lost/inaccessible after upgrading to v7"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Some users not signed in prior to upgrading to v7.x are losing their local data after migrating. For some users, this seems to occur after migrating, then creating a new Postman account and signing in for the first time.

For so

[2019-03-22 20:42] luismachaner commented on #1667
+1

[2019-03-22 20:55] a85 commented on #1667
Everyone, adding a thumb-up is enough for us to know. We don't like deprecating stuff either and it is hard to let go of something that we have built. It's not a "fix". We could not do anything other than building a new version of Interceptor as Google deprecated the Chrome app platform and with that we had to build a new bridge between Desktop apps and the browser. Doing that means, we MIGHT open

[2019-03-22 22:20] icapuccio opened #6138 "Improve postman api docs favicon upload instructions"
I was struggling trying to get a favicon displayed correctly in custom domain documentation using Chrome. This Feature Request is related with the Issue #5791. I had the same problem detailed there but with a square favicon of 144x144. I changed it to 32x32 and then it worked in Chrome.

It would be nice if there was a message next to the favicon's upload section that suggests using an image with

[2019-03-22 22:20] icapuccio commented on #5791
@vkaegis Done! #6138

[2019-03-22 23:46] markwoon commented on #1535
+1 for this as well.

I'd like to be able to call requests inline (e.g. a requests that cleans up the current request) and then have it continue on without having to mess around with `setNextRequest()`.

[2019-03-23 00:40] shawhu commented on #4751
I also have the same problem. from what I've seen, this issue has been there since June 2018?

If there's a underlying lib/layers of libs needs to be upgraded and that surely takes time. However,
May I present a simpler solution here?

Talk about the the front-end tool design, if next step is going to take a lot of time to render, just split the step. Show the user what's going on like "We got you

[2019-03-23 00:45] dacardona commented on #5263
It would be great to have one single column. It shows much better since if you haven't a request, the long black column it's not nice, also the code feels somewhat tight. Thanks!!

[2019-03-23 00:48] a85 commented on #6137
What exactly are they migrating? This should just be a simple app upgrade. Migration as a thing only exists for user accounts.

[2019-03-23 02:02] shawhu commented on #4751
Also, I should argue first that this is high priority.

Because of the low cost and high bandwidth, people use web api more and more for streaming and gaming. the response chunk will be at least several MBs in the future if you really care about the future.

some treads
TextEncoder and TextDecoder for file minipulation
WebCrypto for near realtime AES data encryption
WebRTC for cam/video feed strea

[2019-03-23 05:58] apraka2 commented on #5039
Facing the same issue after installing Postman-win64-7.0.6-Setup on windows 10. Any pointers for solving this?

[2019-03-23 06:56] ankitjaggi commented on #6092
@cyrielle-hada This issue has been fixed. Could you verify once?

[2019-03-23 09:39] vkaegis commented on #5791
@icapuccio Thanks a lot! Will keep you updated on it's progress.

[2019-03-23 10:42] amado-saladino opened #6139 "cannot read INIT value of global variable"
**What I get**
I always get empty value for INIT global variable

**To Reproduce**
Steps to reproduce the behavior:
1. Create a global variable with the name ***randomBetween***
2. Assign this value to the variable
[code]
3. In section ***Pre-request Script***
[code]
4. Click **Send** button to run the request

**Expected behavior**
I expected to have the value of the variable **fn** as what I ini

[2019-03-23 10:53] vkaegis commented on #3641
No ETA just yet. We have some work on variable types on our roadmap, so we'll consider this request then.

[2019-03-23 10:57] vkaegis commented on #2707
Hey guys, as @vbob mentioned, we now have an option to disable shortcuts. This should unblock you while we work on making shortcuts configurable.

[2019-03-23 10:59] vkaegis commented on #4171
No updates or an ETA just yet. We are assessing some possible configurations to be introduced, will be taking this up then.

[2019-03-23 18:18] filipemacedo commented on #4009
+1

[2019-03-24 00:17] flakey-bit opened #6140 "Content-Type boundary header for multipart/form-data is incorrect when digest authentication is used"
When digest authentication is used in combination with a multipart/form-data file upload, Postman does not correctly surround the multipart data with the boundary. Refer to [RFC2046](https://tools.ietf.org/html/rfc2046)

**To Reproduce**
1. Create a POST request w/ Authentication: digest, credentials supplied. Do not specify a "Content-Type" header explicitly.
2. Change the body type to 'form-data

[2019-03-24 04:26] harryi3t commented on #5039
@lazabazsa @apraka2 Try switching to some other environment and see if the problem is with one or all environments.
Also, check for any errors in the console (View -> Developer -> Show DevTools (Current View))

If you are able to consistently reproduce this, please let us know. If you can take a screen recording, that would be very helpful.

[2019-03-24 05:36] scipilot commented on #2853
A "follow" mode would be good (like tail -f) for both the collection runner and the Console, which would auto-scroll them to the bottom.

I have to use the console while running the collection runner, because the runner truncates the URL requested, (no matter how wide you make the window) but the console shows the URL including the parameters at the end I want to watch. So I have to keep manually

[2019-03-24 06:00] #6129 closed, assigned to abhijitkane

[2019-03-24 10:05] ankit-m opened #6141 "Logging a cheerio selector makes the app unresponsive"
**Describe the bug**
Logging a cheerio selector like `console.log($('div'))` in the test scripts makes the app unresponsive

**To Reproduce**
1. Make a request to https://www.google.com
2. Add the following snippet in the test script
[code]

**Expected behavior**
App should not crash

**App information (please complete the following information):**
 - App Type: Native
 - Postman Version: 7.0.6
 -

[2019-03-24 10:58] axios94 commented on #2352
Check the C drive space

[2019-03-24 11:05] ankit-m opened #6142 "Access cookie options using Postman sandbox API"
**Is your feature request related to a problem? Please describe.**
Obtain cookie options like domain, path, etc using the `pm.cookies.get(<name>)` method

**Describe the solution you'd like**
Apart from returning the cookie value, it should also return options. Maybe by passing an additional flag like `pm.cookies.get(<name>, true)`

**Describe alternatives you've considered**
Iterate over the list

[2019-03-24 11:13] ankit-m opened #6143 "pm.response.headers.get(<name>) returns only the last header information"
**Describe the bug**
If multiple headers are present with same key (ex. `set-cookie`), `pm.response.headers.get(<name>)` returns information only about the last header and not all of them.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the URL `https://postman-echo.com/cookies/set?foo1=bar1&foo2=bar2`
2. Log headers using `console.log(pm.response.headers.get('set-cookie'));` in the test

[2019-03-24 15:23] shamasis commented on #6143
@codenirvana - maybe it’s time to receive multiple values using an additional function such as .getAll() that always returns an array.

[2019-03-24 15:29] shamasis commented on #1228
@codenirvana based on our last review of cookie related issues, let’s add cookie syncing / persisting controls before and after runs. that would unblock a number of related use cases.

[2019-03-24 21:04] emilgodsk opened #6144 "Environment variables not updated correctly"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When I send a request to my server, I have set up a Test script to run after the response has been received, which takes a variable from the response header and assigns it to an environment variable. When I then send the request

[2019-03-25 03:59] colinmcintyre commented on #3518
Still an issue. My API request will set the cookie correctly. However when attempting a request to the API which requires the cookie, it is not being attached

[2019-03-25 04:00] tanoojoy commented on #6130
@codenirvana I realised the mistake was a "next line" at the end of my token, which got on postman when I  copied my token from a text editor and pasted on postman. Sorry for the trouble.

[2019-03-25 04:02] seantcanavan commented on #3518
@colinmcintyre are you using ports as part of your localhost definition? I don't think this is a bug so much as a usability issue with the UI and setting it up.

[2019-03-25 04:09] colinmcintyre commented on #3518
Hi. Yes I am using a port in the url (localhost:4600/api/) when requesting, however the cookie is stored only as localhost without any port. I interesting thing is it works sometimes..

Please if you know a work around or the correct way of using the app let me know.

[2019-03-25 04:19] colinmcintyre commented on #3518
Ok. I have found the cause. Postman currently does not support cookies set with Prefix **secure: true**.

[https://learning.getpostman.com/docs/postman/sending_api_requests/cookies/](https://learning.getpostman.com/docs/postman/sending_api_requests/cookies/)
_Bottom of the page_

As soon as I removed that flag when in the api, the cookie is being sent.

[2019-03-25 05:15] godfrzero commented on #5322
We've received a report of duplicate runs which seems to be legitimate, so re-opening this for now. Once I've tracked down the root cause for the report and verified that it's not a systemic issue, I'll close this ticket. If it turns out to be a systemic issue, I'll post an update here and push out a fix.

[2019-03-25 05:20] shamasis commented on #2369
Just wanted to reach out to everyone in this thread who were having issues with host file. Any way we can work together and reproduce this issue as discussed in
https://github.com/postmanlabs/postman-app-support/issues/2369#issuecomment-466857431

Maybe then we can keep this issue as closed and circle back when we have fresh issues.

[2019-03-25 05:21] kamalaknn commented on #6144
Hi @egodsk

Thanks for writing in. We batch updates to environments for a maximum of 1 second to improve the performance of writing those updates. This could have led to you seeing an outdated value of the environment.

We will work to  make sure this optimization does not affect workflows in a noticeable way.

Could you confirm that when you say 'quickly' you are sending the second request in und

[2019-03-25 05:27] a85 commented on #2369
@okonomiyaki3000 If it's not feasible to keep a constructive tone when you get your hands on a keyboard then please refrain from commenting here. There are hundreds of comments and issues on this tracker and reading through crappy comments just creates more noise.

[2019-03-25 05:40] a85 commented on #4751
@jzabroski The issue is not just about rendering as one of our engineers explained. If I had a dollar every time somebody tells me that "it-is-a-simple-fix" then I'd be a millionaire already. I appreciate your comments and showing the ways to reproduce it is enough for now. Outlining how the team is stupid is not needed and if you feel you are smarter, send me an open-source library that I can plu

[2019-03-25 05:46] a85 commented on #4751
@jzabroski Also, reproducing the issue is trivial. I am not sure why writing a piece of elementary level ASP code was illuminating anything. If you do not know, then this issue created by OUR OWN engineer to keep reports in one place because otherwise we have people crapping all over the tracker on how THEIR OWN issue and solution is the sure fire fix for everything. Postman does a hundred things

[2019-03-25 05:50] sujayvenaik commented on #5993
Hey @ryanshores
Can you help us with a public URL using which we can replicate this issue?

Ideally, we do not render these types and give the user an option to directly download the content.

[2019-03-25 05:54] #6130 closed, assigned to codenirvana

[2019-03-25 06:06] a85 commented on #630
Workaround available through Proxy and Interceptor. The Interceptor will be out soon for the desktop apps.

[2019-03-25 06:06] #630 closed

[2019-03-25 06:09] #2369 closed, assigned to shamasis, codenirvana

[2019-03-25 06:56] dhineshwiz commented on #6092
@cyrielle-hada The fix has been deployed from our end, feel free to re-open, if you find any issues

[2019-03-25 06:56] #6092 closed, assigned to dhineshwiz, Raja-Simha

[2019-03-25 07:02] emilgodsk commented on #6144
Hi.

Yes. I’m sending the next request within 1 second of receiving the response from the first request.

However why it confuses me a lot, is that in my Test script i use `pm.environment.set("variable", string);` to set the enviroment variable and then use `pm.environment.get("variable");` to console log the value, which shows that the environment should have been updated to the new value.

But w

[2019-03-25 08:07] danielcaldas commented on #2801
+1 again 🙂

[2019-03-25 08:41] #5179 closed, assigned to godfrzero, ankit-m

[2019-03-25 08:41] preethammavin commented on #5179
The issue has been fixed

[2019-03-25 08:42] godfrzero opened #6145 "Request exists in App but not in Sync"
**Describe the bug**
I have a collection which has three requests, R1, R2, R3. R1 does not exist on sync because I cannot see it on the web.

**To Reproduce**
This needs to be done while the app is actively syncing:

1. Create new collection
2. Click on the context menu for the collection in the sidebar, add a request
3. Open the new request R1, add a URL, and save it
4. Wait for syncing to comple

[2019-03-25 09:06] preethammavin commented on #5450
Closing due to inactivity.

[2019-03-25 09:06] #5450 closed, assigned to numaanashraf

[2019-03-25 09:16] preethammavin commented on #5670
This has been fixed.

[2019-03-25 09:16] #5670 closed, assigned to nobody

[2019-03-25 10:08] preethammavin commented on #5401
This issue is fixed.

[2019-03-25 10:08] #5401 closed, assigned to nobody

[2019-03-25 10:19] preethammavin commented on #5630
The issue has been fixed.

[2019-03-25 10:19] #5630 closed, assigned to ankitjaggi, ankit-m

[2019-03-25 10:20] preethammavin commented on #5428
Hi,
The issue should not occur now.

[2019-03-25 10:20] #5428 closed, assigned to kartikjain26

[2019-03-25 10:25] raym0nd93 commented on #2847
+1

[2019-03-25 10:33] cyrielle-hada opened #6146 "Can't delete slack integration"
**Describe the bug**
It's not possible to delete the Slack integration - monitoring run results. Upon clicking on the trash icon a modal window says "Something went wrong - An error while deleting the integration"

![Slack integration bug](https://user-images.githubusercontent.com/47351631/54913107-f8cc5d00-4ee9-11e9-8d89-fe5a455dc758.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Add

[2019-03-25 10:37] preethammavin commented on #5244
This issue has been fixed

[2019-03-25 10:37] #5244 closed, assigned to nobody

[2019-03-25 11:05] codenirvana commented on #6080
@tradeli This looks like a duplicate of #4751
Any idea about the size of the JSON payload?