[2022-01-04 02:49] RichurLiu commented on #10530
I have the same problem.

[2022-01-04 06:43] malvikach opened #10538 "Setting environment variable value as false or null from sandbox, displays as empty in variable editor modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Setting environment variable value as false or null from sandbox, displays as empty in variable editor modal

### Steps To Reproduce

1. set an environment using the sandbox
[code]
2. Click run
3. Open edit environment modal
4. value appears as empty string
5. open environment quick look mo

[2022-01-04 07:12] bavulapati commented on #10526
@Fuzzo Can you please share the logs when this happened?

[2022-01-04 07:38] Raj-postman commented on #10526
@Fuzzo @jbool24 Could you please submit a support request: https://support.postman.com/hc/en-us/requests/new to help us look into this further?

Including the application logs and system details as per [this article here](https://support.postman.com/hc/en-us/articles/360047765713-How-to-open-my-logs-directory), would be really helpful to check this from here.

[2022-01-04 09:26] Fuzzo commented on #10526
Done: https://support.postman.com/hc/en-us/requests/94497

[2022-01-04 10:33] p6345uk commented on #10487
Looks like its fixed in the new version :)

[2022-01-04 10:33] #10487 closed, assigned to postman-staff

[2022-01-04 10:36] p6345uk commented on #10537
Still broken for me in windows version too

[2022-01-04 10:36] p6345uk commented on #10496
Still broken for me in Windows version

[2022-01-04 10:39] p6345uk commented on #10502
Same for me in Windows
Windows 10
Version 9.7.1

[2022-01-04 10:48] #9230 closed, assigned to codenirvana

[2022-01-04 10:56] postman-support commented on #10496
Hi **@**p6345uk,

Fix has been pushed in the version 9.7.0 release, Could you please confirm if you are on the latest version and still facing issues?

via @Lincimary | Postman Support

[2022-01-04 11:02] codenirvana commented on #8743
@schefbi We've added support for disabling **TLS v1.3** last year, probably forgot to update this thread 🤦🏻‍♂️.

<img width="1002" alt="Screenshot 2022-01-04 at 4 28 08 PM" src="https://user-images.githubusercontent.com/4865836/148049148-9f680a66-48fc-427d-a7bf-a50b20dd6065.png">

Please feel free to reopen if the issue persists.

[2022-01-04 11:02] #8743 closed, assigned to codenirvana

[2022-01-04 11:04] postman-support commented on #10487
Hi @p6345uk,

That's great to hear that it's been sorted with the latest version :). I will be closing this thread here. Feel free to reach to us for any further assistance. Thanks!

Have a great year ahead.

via @ash007-postman | Postman Support

[2022-01-04 11:21] codenirvana commented on #7824
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2022-01-04 11:21] #7824 closed, assigned to codenirvana

[2022-01-04 12:19] Lincimary opened #10539 "Feature request: Make Collection Documentation SEO Friendly"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There is a problem with generating Postman API docs, since Postman takes collection description as markdown text, and puts all text in description meta tag (HTML -> head -> meta tag), there is no way to set the content of that ta

[2022-01-04 12:48] codenirvana commented on #6428
As a workaround, we can programmatically mutate the request body using the following `pre-request` script:

[code]

[2022-01-04 14:17] codenirvana commented on #8587
Since Postman v8.4.0, the max response header size is increased to 100 KB.

<img width="372" alt="Screenshot 2022-01-04 at 4 43 04 PM" src="https://user-images.githubusercontent.com/4865836/148070306-d5cfc5e9-f276-4bff-8ae9-b8b827ea987d.png">

Closing this feature request since the underlying bug #8656 is fixed and there’s not much utility in supporting this configuration.

In terms of API and Sec

[2022-01-04 14:17] #8587 closed, assigned to codenirvana

[2022-01-04 14:23] vbeaudoin19 commented on #10502
Go see : https://support.postman.com/hc/en-us/articles/4410785125271

My problem was resolved by adding " old" to the Postman folder.

Watch out, it will erase your 'current value' in the Postman environment variable. Be sure to save them before processing.

[2022-01-04 14:23] #10502 closed, assigned to nobody

[2022-01-04 16:31] DavidDeks commented on #10537
Clearing my local data fixed this issue for me.
See: https://support.postman.com/hc/en-us/articles/4410785125271#h_01FJBXQM8B6RXQB09WVECY2V85

[2022-01-04 16:31] #10537 closed, assigned to nobody

[2022-01-04 16:34] DavidDeks commented on #10536
Clearing my local files made it so the forked name now displays at the top of the search results:
![image](https://user-images.githubusercontent.com/53012236/148091945-4daa2afd-3c17-44fc-be18-1d7f35422ece.png)

However, it would still be nice if this label were displayed in the list of entities next to the checkboxes.

[2022-01-04 18:13] ccomstudio commented on #8195
a very helpful feature

[2022-01-04 18:42] a85 commented on #6719
Thank you for your patience everyone. As @akshaydeo said we are prioritizing this request. GraphQL is going to be a big focus for us in 2022. The team is working hard to ensure that we support every API in the world. We made big breakthroughs in the design of the product specifically with respect to solving for synchronous vs asynchronous requests. We wanted to understand that before we double dow

[2022-01-04 19:44] gindex commented on #8195
autosave +1

[2022-01-04 20:47] OmgImAlexis commented on #6719
Okay I get this is the press version but what’s the actual reason for ignoring your user base for multiple years? You can’t just come in after all of this and act like nothing happened.

A lot of us have moved on to other products because we just can’t trust that you’ll deliver since we couldn’t even get a simple reply from any of you on this for again… multiple years.

[2022-01-05 00:03] cliffliang commented on #10530
Seeing the same. We use BloomRPC that allows you to specify import paths where you have common protos in a different base path that are imported by others. Similar to what Ryalu is suggesting with marking directories as resource roots.

As a followup, it'd be great when selecting a method that the message field is pre-populated with a sample message. Maybe with a warning that existing text will be

[2022-01-05 04:42] akshaydeo commented on #10492
👋  @exDyballa, thank you for sending out this request. Async API support is something that is already on our Radar. cc @raghumurthy-jayandran

[2022-01-05 07:23] PilVadim commented on #2853
shift+mouse wheel scroll
is doing work also.
(Postman 9.7.1, BigSur 11.6)

[2022-01-05 08:02] kinguru commented on #3777
ping

[2022-01-05 08:53] mmustafa-nisum-com opened #10540 "Add multiple request at once"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The concern which I asked you for was not resolved yet. Below is the scenario example:

I have a collection named: Mustafa Collection
Under "Mustafa Collection" I have 2 requests (POST, PUT) with same the payload/body.
I need to

[2022-01-05 10:25] gauravpunj14 opened #10541 "403 Forbidden error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

GET token request working - ending with status code 200
POST request to server failing with status 403

Same POSTMAN user for the same POST request is working at different IP / location.

what could be possible reason for the same?

### Steps To Reproduce

Can't share

### Screenshots or Vi

[2022-01-05 12:22] dmetzler1988 commented on #10239
@abhijitkane Thanks for your update. Not exactly what i need but great new features that we can work with in a conditional way. I really need to test this new functionality.

[2022-01-05 12:45] akshay-kulkarni-03 commented on #9353
Hi @chrisdeso , we recently enhanced our existing sharing feature through which you will now be able to share workspaces via a copy invite link. For more details on sharing you can visit our learning center doc [here](https://learning.postman.com/docs/collaborating-in-postman/sharing/). In order to use this you need to be on the latest version of postman app.

Feel free to open the issue again if

[2022-01-05 12:45] #9353 closed, assigned to nobody

[2022-01-05 12:47] akshay-kulkarni-03 commented on #9738
Hi @rajat12a , our workspace overview section was revamped and the inconsistencies reported in the above screenshot were also fixed as part of that.
Feel free to re-open this issue in case you face the issue again.

[2022-01-05 12:47] #9738 closed, assigned to nobody

[2022-01-05 12:47] akshay-kulkarni-03 commented on #10232
Hi @Swapnil-getpostman  , our workspace overview section was revamped and the inconsistencies reported in the above screenshot were also fixed as part of that.
Feel free to re-open this issue in case you face the issue again.

[2022-01-05 12:51] akshay-kulkarni-03 commented on #9595
Hi @Swapnil-getpostman , thanks for feedback. This feedback was also reported by other postman users and we updated the `Delete Workspace` modal which now asks the user to type in the `workspace name` before deleting it. Please ensure you have the latest version of postman app to have this experience.

Feel free to open this issue again if you face any issue.

[2022-01-05 12:51] #9595 closed, assigned to nobody

[2022-01-05 13:50] KotieSmit opened #10542 "Duplicating request in subfolder, duplicates wrong request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have requests in subfolders upto 3 levels deep.

When I try to duplicate a request in a sub folder, it duplicates the wrong request

       See screenshots and video

### Steps To Reproduce

example:

[code]
        In above example, duplicating request 3, creates a duplicate of request 1

[2022-01-05 13:57] DannyDainton commented on #10542
Hey @KotieSmit

It looks like you have many tabs with unsaved changes (the orange dot on the tab) - Could you save all of your work/changes in the Colleciton and then run through the steps again, to see if that solves this issue, please?

[2022-01-05 14:05] KotieSmit commented on #10542
@DannyDainton

I did as requested.

The problem does not happen anymore.

Thank you for the very fast response.

If you feel this not a non issue, feel free to close.

[2022-01-05 14:09] DannyDainton commented on #10542
Awesome. The video helped as I could see the full app window. The static images didn't show the tab state.

If you have a request saved and then you make changes to it - You're duplicating the saved request, rather than the one with unsaved changes.

[2022-01-05 14:09] #10542 closed, assigned to nobody

[2022-01-05 14:36] arsotirchellis commented on #10524
+1.  In order for a grpc gui tool to be useful it needs to support reflection and auto detect proto definitions

[2022-01-05 16:14] gunesmes commented on #7982
I am also interested in this feature

[2022-01-05 16:27] semangard commented on #10112
@giridharvc7: do you have any news ?

[2022-01-05 16:30] cavator commented on #6722
so a big company like postman, could not create a feature to "watch" or update the API? in 2 years? that could not be serious.
or can and I'm missing something? and i don't  want to connect to some repo, i want it to watch my local file that i set when create the API
it's not that hard create this, even more in 2 years of issue

[2022-01-05 16:32] cavator commented on #6722
someone could please open this issue again, it's not even close to be closed.

[2022-01-05 17:01] codenirvana commented on #10524
@arsotirchellis we've already started working on adding support for server reflection and it will be released in a few days 🤞🏻

Stay tuned!

[2022-01-05 17:39] marcelorodrigues65 opened #10543 "New option on closing tab"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When I close a tab postman pronpt to  save the unsaved tab. If I have 30 tabs open, it's asked 30 times.

### Describe the solution you'd like

When I close a tab without having saved a message shows option to "always discard uns

[2022-01-05 18:18] q45 commented on #6008
im experiencing this as well
<img width="1010" alt="Screen Shot 2022-01-05 at 11 18 04 AM" src="https://user-images.githubusercontent.com/1934271/148268250-daca9cf8-41ff-413b-ae62-1be90d0c5f78.png">

[2022-01-05 19:20] pyashish commented on #4823
Need this feature too. Upvoting this.

[2022-01-05 23:37] shell commented on #2701
+1 do want

[2022-01-06 00:05] postman-support commented on #10485
Hello @**flexey-i**

Thanks for reaching out. I'm happy to help! Does exporting and reimporting the collection affect anything? Do you notice the same behavior if you use the web app on the Mac to run the collection?

Would you be able to provide screenshots for the expected results on the windows machine and the discrepancy on Mac Os machine. A full screenshot of the entire collection runner resu

[2022-01-06 02:51] chandrashekar-cohesity commented on #4823
Upvoting this.

[2022-01-06 04:51] HakunamatataLeo commented on #5194
6666666

[2022-01-06 04:55] fonkamloic opened #10544 "Websockets not connecting with postman using nestjs"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I am trying to make a connection with WebSockets. If I need to connect to the postman I need to include app.useWebSocketAdapter(new WsAdapter(app)); to make it work. But once I include this line it stops connecting with my react

[2022-01-06 05:53] postman-support commented on #10528
Hi **@**PathakAditya,

Hope you are doing well.

I just wanted to follow up on the previous message to check if you have missed it.

Please provide the requested details so that we will work together on it.

Feel free to reach back out if you need anything else. I'd be more than happy to help:)

via @Lincimary | Postman Support

[2022-01-06 05:53] akshaydeo commented on #10484
@nariman Thanks for notifying us. We are looking into this issue, and we will update as soon as we fix the issue 🙇

[2022-01-06 07:30] shubhbhargav commented on #10541
Hey @gauravpunj14, can you please reach out to us with more details on `help@postman.com`? Following would help debug the issue further:

1. Is this a Postman API call that is failing or an endpoint that you own?
2. If possible, can you please share a video with the behaviour mentioned above?

----
In-case the endpoint is owned by you, you can check the security configuration of the server where i

[2022-01-06 07:59] giridharvc7 commented on #4636
Closing this issue as this is fixed, tracking OAuth token refresh and expiry in this issue instead #2452

[2022-01-06 07:59] #4636 closed, assigned to giridharvc7, codenirvana

[2022-01-06 08:10] #1250 closed, assigned to a85, vikiCoder

[2022-01-06 10:17] aymenfurter commented on #5816
I was really surprised this is not supported yet. Most developer tools run on arm64 Linux (e.g. IntellIJ, VSCode, terraform, etc). The browser version is also not fully compatible since the InterceptorBridge binary is only available in x64.

[2022-01-06 10:26] vasani-arpit commented on #5816
I think it is based on electron, so there might be limitation from that. I switched to web version for remote requests on my chromebook and curl for local requests. 🤷‍♂️

[2022-01-06 10:34] KuenzangC commented on #6682
Still waiting for the feature.. +1

[2022-01-06 11:26] ArjunSingh-PM commented on #6102
We have made changes to the roles and permissions in Postman. To learn more, you can refer to the learning center documentation for [roles in Postman](https://learning.postman.com/docs/collaborating-in-postman/roles-and-permissions/#roles-in-postman) or [this blog](https://blog.postman.com/introducing-the-super-admin-role/)

[2022-01-06 11:37] akshaydeo commented on #10481
Hello @boylec, thank you for getting in touch. I have moved this issue to our internal bug tracker. I will keep you updated about the progress on this issue.

[2022-01-06 11:44] lukasbahr commented on #3518
Still exists on MacOS 12.1, Postman v9.6.2.

[2022-01-06 11:54] arlemi commented on #6722
@cavator This is about updating a collection that was generated from an API in Postman. Looks like you're looking for something else so I'd recommend creating a new issue and provide as many details as possible.

[2022-01-06 12:15] cavator commented on #6722
@arlemi
it's not because because i said "watch", that you will pretend i'm talking about something else, "or update the API" i think we talking about the same thing, update the collection generated from an API in postman, people now are 2y updating 1 line of the mutation or query and deleting and recreating the API. so please re-open this issue, like i said, it's not even close to be done. and i c

[2022-01-06 13:08] TheDirigible opened #10545 "Issue being ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Reposting because this issue is being ignored for years. https://github.com/postmanlabs/postman-app-support/issues/3518#issuecomment-1006511951

### Steps To Reproduce

https://github.com/postmanlabs/postman-app-support/issues/3518#issuecomment-1006511951

### Screenshots or Videos

_No res

[2022-01-06 13:14] Cazaimi opened #10546 "Environment change does not update Code snippets on the right hand side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In the Postman app, Changing the active environment when the code snippet view of a request is open does not update the code snippet with the new environment. The code snippet view needs to be closed and reopened again to bring that change into effect.

### Steps To Reproduce

Pre-requisite

[2022-01-06 13:46] twitharshil commented on #10272
@aconcato Thanks for reporting !! The issue is fixed in recent versions of the Postman application. Closing the GitHub ticket. In case you face the issue again, feel free to re-open the ticket

[2022-01-06 13:46] #10272 closed, assigned to nobody

[2022-01-06 14:12] mklueh commented on #6722
I agree. The workflow would be much nicer if we could tell postman to re-fetch the new schema and get a git-like diff between the previous and new schema provided, to decide if we want to accept the new schema entirely or merge.
Then Postman could automatically create a new API version based on the version provided in the schema.

It's not that the current workflow won't work, but the auto-updatin

[2022-01-06 14:20] DannyDainton commented on #3518
Hey folks,

I'm just trying to get more of an understanding here, I have no context about this issue. As it was opened in 2017 against version 5.2.0 - The Postman platform has moved on from that point, with multiple changes in all areas of the product.

It was closed in 2018 with the following comment:

Also, I checked the behaviour with browsers. When I set up a server running on localhost:3333 a

[2022-01-06 14:21] DannyDainton commented on #10545
Left a comment on the original issue to help us understand the problem in the latest version of the platform.

[2022-01-06 14:21] #10545 closed, assigned to nobody

[2022-01-06 14:44] iqqmuT commented on #8255
Removing `~/.config/Postman` was not enough for me. I had to remove `~/Postman` too.

[2022-01-06 14:53] TheDirigible commented on #10545
The original is still closed though, so I fear it will continue to be ignored.

[2022-01-06 16:25] codenirvana commented on #10545
@TheDirigible re-opened the original issue.
Can you share the steps we can use to reproduce this issue?

[2022-01-06 16:43] lflucasferreira commented on #10526
I am facing the same issue after each update.

So I proceed to the command line in order to find the job id to kill it.

1. `ps -e | grep postman`

29122 tty2     00:00:00 postman
29123 tty2     00:00:00 postman
29153 tty2     00:00:07 postman
29173 tty2     00:00:00 postman
29178 tty2     00:00:01 postman
29223 tty2     00:00:02 postman
29243 tty2     00:00:39 postman
2. `kill <jobId>` => `kill 2

[2022-01-06 23:07] #7507 closed, assigned to nobody

[2022-01-06 23:11] stephengaudet-textiq commented on #8929
+1

[2022-01-07 00:24] JDeuce opened #10547 "GRPC Allow setting import paths for protobuf files"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When importing a protofile it might contain import statements to reference other proto files.

Those import files will fail to work unless they use absolute paths.

### Describe the solution you'd like

Should be able to specify

[2022-01-07 01:23] Feixu2015 opened #10548 "Does "Concatenate Block" can be a multiple input block, that has more than two inputs ?"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When I need run some parallel api, then I need wait all of them done. Does "Concatenate Block" match this need? Otherwise, are you plan to support this feature?

### Describe the solution you'd like

match the need I described

#

[2022-01-07 03:42] saswatds commented on #10548
Hey @Feixu2015 , thanks a lot for trying out Flow. I had tried answering this in one of our discussions https://github.com/postmanlabs/postman-flows/discussions/105#discussioncomment-1721429 Have a look if this is helpful, else I will be glad to help you out with your usecase

[2022-01-07 04:52] akshay-kulkarni-03 commented on #6008
@q45 we have fixed this issue from our end. Can you please verify from your end?

[2022-01-07 05:34] postman-support commented on #10496
Hi,

Just letting you know I’m still here so feel free to give me a shout if you’re still running into any issues.

via @Lincimary | Postman Support

[2022-01-07 06:06] alsgeek commented on #3312
There is a new option in postman settings where in we can disable cookie jar that in turn disables cookies like jsessionid from getting loaded while running a request call (Post/Get/PUT).
![image](https://user-images.githubusercontent.com/32621481/148445024-1c989aa0-f8d3-4627-a26d-0a32fd239468.png)
This option is available for for each request call. the  other way to add this is:

"protocolProfile

[2022-01-07 06:28] xdorro commented on #2801
How can I import multiple proto files into postman?

[2022-01-07 06:29] xdorro commented on #5194
How can I import multiple proto files into postman

[2022-01-07 06:52] shubhbhargav commented on #1946
@lucamaf @cksachdev  May I know which Postman version are you using and which OS? We've pushed across a few fixes 7.18.x along the lines of performance. Ideally it should not have happened beyond that.

If you can share more info about the response size and the memory / CPU behaviour / side-effects, that will be helpful.

[2022-01-07 07:24] Raj-postman opened #10549 "Enhancement request to save Websocket and Rest in one collection."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

To perform full monitoring of API and SignalR functionality, users needs to be able to mix REST and Websocket requests in one collection.

### Describe the solution you'd like

Include a way similar to Firecamp to save both Webso

[2022-01-07 09:23] zahid-cakici commented on #1066
+1 please

[2022-01-07 09:31] postman-support commented on #10507
@vstrelstov Just checking to see if setting value for system variable helped?

@m3dbedb Let me know if the request was raised, ticket Id can help us check further.

via @Raj-postman | Postman Support

[2022-01-07 10:28] arlemi commented on #6722
@cavator Check that video from 5:40 as it shows the update flow in Postman: https://youtu.be/BUZiRtGRHj0?t=340

If you're not seeing this you might want to check if your version of Postman is up to date (latest is 9.7.0).

@mklueh Sounds like you're interested in auto-updating a schema in Postman from a schema in Git (Github/Gitlab...) rather than between a schema and a collection. If that's the c

[2022-01-07 12:29] akshay-kulkarni-03 commented on #10494
Hi @chrisdeso thanks for opening this feature request. We are discussing the feasibility, usability of this feature internally. Will update this thread once I have more information on this.

[2022-01-07 13:05] rufreakde commented on #3312
As a note here this option is really not that useful since this issue appears mostly on execution of a complete collection. And there you often need to execute specific requests in an order and reuse cookies. It can help for single requests but if you need a flow this is not very helpful.

[2022-01-07 13:21] BrendanBall commented on #7105
I'm experiencing this on postman 9.7.1 on linux. The postman sends an undefined code when exchanging for a token.
Even though the callback url https://oauth.pstmn.io/v1/callback contains a code parameter.

[2022-01-07 14:42] lrzuniga commented on #6452
2022 and no MFA...disturbing

[2022-01-07 14:53] y0rd4nis commented on #10526
Facing the same problem over here too.

I'm currently running Postman v9.8.2 but I notice this issue in some versions prior to 9.8.2. Every time I update Postman using the "update" notification in Settings, it tries to reload itself and get stuck in the splash-like loading window, every time I needed to access System Monitor and kill all running "postman" processes, including the one named swap_an

[2022-01-07 16:18] bpedro commented on #10535
Hi @valentinbeggi,

Thanks for reporting this issue in great detail.

We're currently triaging it and I'll get back to you soon with more details.

[2022-01-07 16:53] bpedro commented on #10535
@valentinbeggi, I wasn't able to reproduce the issue you describe in my setup.

Can you provide the following details?

- Are each of the developers able to access each other's workspaces and the collections therein?
- Is the `GET /collections` request made by each of the developers using their Postman API keys, or is the request made by your CI/CD process using its own Postman API key?
- What hap

[2022-01-07 17:41] q45 commented on #6008
@akshay-kulkarni-03 thanks for the note. I am still getting this when I open postman
<img width="1410" alt="Screen Shot 2022-01-07 at 10 41 17 AM" src="https://user-images.githubusercontent.com/1934271/148584436-861cb8cf-6054-49b8-a391-e65c61ff2fb1.png">
.

[2022-01-07 20:38] shinebayar-g opened #10550 "Cookies from browser doesn't sync anymore?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

**Postman Interceptor** extension allows us to sync browser cookies to Postman app right? This was working fine some time ago.
Recently I upgraded my OS to Windows 11 and installed fresh Postman app. Right now browser cookies are not synced to Postman app, even though interceptor status is

[2022-01-07 21:31] natenho opened #10551 "Can't import/export files due to broken system dialogs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The screen for importing collection files are showing very strange characters and I'm unable to select a file, it is impossible to distinguish one file from another. Actually any system dialog opened from Postman is broken. I have no trouble with other Electron based apps like Slack for exa

[2022-01-07 21:52] sra2019 commented on #10008
Do we have a way to get the headers added? Is this on your roadmap @postman-support  Believe this is an important upgrade considering how insecure implicit workflows are. For PKCE and other such workflows to work; having the right set of headers is important.

- Sam.

[2022-01-08 01:17] soltykszymon commented on #10550
Same issue, 9.7.1 was fine
upgrade to 9.8 - not syncing

[2022-01-08 07:00] akshay-kulkarni-03 commented on #6236
Hi All,

You should now be able to delete the default (team & personal workspace) even though it being the last workspace in both web-app & postman app. For the native app please ensure you use the latest version of the app.

Closing this issue, feel free to open this issue again if issue persists.

[2022-01-08 07:00] #6236 closed, assigned to preethammavin

[2022-01-08 07:03] akshay-kulkarni-03 commented on #6008
Hi @q45 can you let us know which app version you are using?

[2022-01-08 12:49] ssallmen opened #10552 "Matching example responses with query parameters does not work in mocks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Matching algorithm for mocks does not work for request query parameters as described in the documentation: https://learning.postman.com/docs/designing-and-developing-your-api/mocking-data/matching-algorithm/

It was said to be implemented in Oct'19 in a discussion (https://community.postman

[2022-01-08 23:41] yunier0525 commented on #285
+1

[2022-01-09 11:15] timgaunt commented on #8179
+1 would love this at a collection/folder level please

[2022-01-10 06:24] abhijeetborole commented on #9409
Hey! We updated the OAuth2.0 PKCE flow to no longer send a `client_secret` when it is left empty. @stringy05 @cgontario Could you verify if this fixes the issue for you on `v9.8`? Do let us know if you face any other issues.

[2022-01-10 06:28] akshaydeo commented on #10090
@PMExtra, we had pushed a fix to the importer library. Could you check?

Closing this issue, for now, feel free to re-open if the fix doesn't work as expected 🙂

[2022-01-10 06:28] #10090 closed, assigned to umeshp7

[2022-01-10 06:30] akshaydeo commented on #10067
@ElDuderino420 @massimoforni-turboden @ethcservaes @VShingala seems to have fixed the issue in the corresponding importer. So you should be able to use this in the latest Postman app.

Closing this issue for now, but feel free to re-open it if this fix is not working as intended for you 🙂

[2022-01-10 06:30] #10067 closed, assigned to nobody

[2022-01-10 06:35] MohammadMirsafaei commented on #10520
I installed version 9.8.2 and it seems to work ok.

[2022-01-10 06:49] giridharvc7 commented on #10540
This can be done using the `Find & Replace`
Can you try this out and let us know if this solves your use case?

<img width="1440" alt="Screenshot 2022-01-10 at 12 19 17 PM" src="https://user-images.githubusercontent.com/1040583/148727472-cdd295ec-7934-4ca0-ab70-d9faead1906a.png">

[2022-01-10 06:54] giridharvc7 commented on #10525
@SimonHausdorf
Can you elaborate on this, please

[2022-01-10 07:10] Nxys commented on #10550
same issue

[2022-01-10 07:18] abhijitkane commented on #10550
@shinebayar-g @soltykszymon @Nxys We're working on this, and will update this thread once the fix is out.

[2022-01-10 08:07] SimonHausdorf commented on #10525
If you have a response saved under a request, it will expand if you click either onto the request name or the chevron. However, to collapse it you can only click on the chevron.

If you just want to go through a few requests without checking the saved responses, then you expand them right away when clicking on their name.

I think there are two good solutions for this:

1. Expand and collapse the

[2022-01-10 08:32] postman-support commented on #10520
Glad to know it's working as expected now. We are going ahead and closing only the support request but the GitHub request will still be open, so feel free to respond to this thread if you have any other queries.

via @Swapnil-getpostman | Postman Support

[2022-01-10 09:48] mmustafa-nisum-com commented on #10540
No, it will not resolve the issue as this approach will apply only to
replace 1 word or sentence but what if I need to change the 2-3 array list
items in a body?
Example of my body:

{
"title": "Test Plan",
"description": "Visit Plan Description",
"status": "draft",
"id": "382ceeb3-5663-4151-9ef4-66773f6fc90e",
"version": "1.0",
"protocolVersion": "User Defined Protocol",
"day0Config": {
"visit":

[2022-01-10 12:49] sevicbb commented on #8195
autosave +1

[2022-01-10 15:13] yurii2004 opened #10553 "Response is too large to be saved in the request example (server mock)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm trying to mock server responses. I've created a few requests with examples inside them. But when I'm using a very large json (about 14000000 chars) as the server response I simply can't save the example and use it.
<img width="306" alt="Screenshot 2022-01-10 at 16 06 08" src="https://us

[2022-01-10 15:36] cgontario commented on #9409
Thanks for updating us, @abhijeetborole :) I just tested this with v9.8.2 and confirmed that client_secret isn't be included in the request body when POSTing to https://login.microsoftonline.com/{TenantId}/oauth2/v2.0/token endpoint. I was able to authenticate using Authentication Code with PKCE by leaving the Client Secret field blank.

[2022-01-10 16:01] uricholiveira opened #10554 "Flows - Action after last item in For Each block"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

After iterate on all items, create another flow to execute other block.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-01-10 16:26] DannyDainton commented on #10554
Hey @uricholiveira

As this relates to the Flows feature, could you open up a ticket on that repo, please?

https://github.com/postmanlabs/postman-flows

Adding as much detail as possible will help the team understand the use case and the problem that the new feature will solve.

[2022-01-10 16:34] #10554 closed, assigned to nobody

[2022-01-10 16:39] thepirat000 commented on #1066
from 2015?

[2022-01-10 19:16] giridharvc7 commented on #10540
Do you think, as a stop-gap solution, you can export the Collection and make this change?

[2022-01-10 19:19] giridharvc7 commented on #10540
Got it.
If i understand this currently, you have to open the request, change the body, open another request and change the body again.
Can you help me understand why you need them both to be updated simultaneously?
Asking this to understand if there's a deeper use case here or you want a feature just to improve efficiency

[2022-01-10 19:23] giridharvc7 commented on #10416
Duplicate of #6719

[2022-01-10 19:23] #10416 closed, assigned to nobody

[2022-01-10 19:26] giridharvc7 commented on #10398
Thanks for the candid feedback :)
In the current setup, history loads only when you explicitly open the history tab and is not Pre-fetched.

Sorry about this. Can you help me understand how you intend to use history? This will help us build a better performant system that puts you first!

[2022-01-10 20:50] hunterwilhelm commented on #8195
autosave +1

[2022-01-10 21:51] sandeep609 commented on #2621
We are facing the same issue. We maintain different environment files corresponding to our deployment environments and each of them has around 200 variables. These variables can't be part of the "Global" variables files, as the environment files represent both pre-prod and production environments and some of the URLs (represented as variables) are different for pre-prod and prod environments. It g

[2022-01-11 01:20] riship2 commented on #8195
This is clearly never going to happen.

Move to Insomnia people, it has an auto-save feature and is very similar to Postman.

(Disclaimer - I am not associated with Insomnia)

[2022-01-11 01:53] near1024 commented on #10550
+1

[2022-01-11 02:30] Feixu2015 commented on #10548
Thanks a lot, I would try it.

[2022-01-11 02:40] #10548 closed, assigned to nobody

[2022-01-11 02:45] Feixu2015 commented on #10356
This feature is really helpful !

[2022-01-11 05:10] apkrieg commented on #9877
Any update on this? It's been over seven months now.

[2022-01-11 05:18] AvirukBasak opened #10555 "disable pull to reload in webapp"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Trouble when using postman on Chrome Android (tabs and mobiles).

When attempting to scroll down the certain views (eg: server response view in the 'Requests' section of a workspace), the browser tends to reload the page.

If you

[2022-01-11 08:11] thinkedem opened #10556 "Dragging a secret environment entry to a different position reveals the value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I rearrange the environment values, dragging a secret value will reveal the actual value while the type remains secret; as if I have clicked on the "reveal" icon.

### Steps To Reproduce

1. Open an environment
2. Make sure you have several entries added
3. Set one entry (with any non

[2022-01-11 08:59] aldjia95 commented on #3706
+1  we would also like to have this feature

[2022-01-11 09:02] tainmar commented on #4157
Too bad this is still unsupported.. 😢

[2022-01-11 09:22] malvikach commented on #10556
@thinkedem Thanks for taking the time to bring it to our attention.
Our team is looking into this and we will get back to you on this. Will let you know if we need any more details.

[2022-01-11 09:40] vlav98 commented on #1180
Is there any new about this feature ?  😔

[2022-01-11 10:02] inf1nite-lo0p opened #10557 "Postman Export Modal Appears Completely Broken in ManjaroLinux"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

I just installed the postman snap on Manjaro Linux. (One of) The entire point of snaps is eliminating the need to keep track of dependencies and all that, and I'm not sure if this is a dependency issue or what, but the export window (The modal which opens up when you want to select a path t

[2022-01-11 11:09] twitharshil commented on #10526
Thanks for reporting!
Seems to be a genuine issue, only reproducible after applying the updates on the Linux platform, we have sent a fix in Postman v9.8.3 for this issue. Closing the ticket, feel free to re-open if the issue is still reproducible on Postman v9.8.3 onwards :)

[2022-01-11 11:09] #10526 closed, assigned to nobody

[2022-01-11 11:44] KiraElric007 commented on #10556
Hello @thinkedem!
Thank you for letting us know. We were able to reproduce this issue. We are working to resolve this issue.

[2022-01-11 12:37] shashankawasthi88 commented on #10550
Hi @shinebayar-g @soltykszymon @Nxys @near1024 we have fixed the issue in version 9.8.3. You can sync the cookies from the browser to Postman by going to 'Capture requests and cookies' (bottom right corner) > Interceptor > Sync cookies. Let us know if this satisfies your usecase.

https://user-images.githubusercontent.com/71059054/148943571-f1a36def-6e45-41dc-b81f-37ae02e570a5.mov

[2022-01-11 12:37] #10550 closed, assigned to postman-staff

[2022-01-11 13:38] jjyoh commented on #6681
11th of January 2022 and still not feature release from Postman... Did anyone find an alternative to Postman that has this feature? We tried a hackish way with Cloudflare Access, you can now have a magic-link system on a subdomain through their proxy.

[2022-01-11 13:45] fuzemobi commented on #6681
I have used a couple of solutions to generate static documentation from my postman collections:

[2022-01-11 14:20] robatwabbi commented on #10477
I there a status on the investigation into this issue?

[2022-01-11 15:06] lewisst commented on #10515
Having the same issue. Used to run the console as separate popped out window; Can no longer from 9.7.0 I think.
This is in scratchpad (Work firewall/policies block us from using the signed in options)

[2022-01-11 15:33] AGVeem commented on #9566
It is 2022 over here...  seriously, it's been a year we are missing one of the basics functionality

[2022-01-11 17:27] mmustafa-nisum-com commented on #10540
Yes, you understand it right. I need to do that because in my organization
we work in the agile methodology so changes may occur every month that's
why i need to update all the request manually.

On Tue, Jan 11, 2022 at 12:19 AM Giridhar ***@***.***> wrote:

--

*Regards,*

*Mustafa Bin Sohail*

*SQA Engineer*

(c) +92-332-32-61608

(e) ***@***.***

nisum​

consulting *|* digital *|* innovation

w

[2022-01-11 19:10] siddh78 opened #10558 "<title>Provide a remark field for Variable"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When defining variable in various level, like Environment / Collection etc. It is good to have a remark field, which wll describe the purpose of the variable. It is more of a Useability point rather major enhancement. However it

[2022-01-11 19:14] siddh78 opened #10559 "<title>Reuseable Library for JS"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The feature is not related to a Problem in the product. But during my use, I have noticed I need to repeat 80% of code in multiple collection [8 - 12 at this point]. It will be great if we can put it as a common library.

### Des

[2022-01-11 19:29] razool76 commented on #5129
+1, would also use this.

[2022-01-12 00:18] TLKG commented on #4360
I'm getting this constant synching/rotating a few days ago, and now it draws 20% of CPU. Windows 10, Postman v7.27.1.

![image](https://user-images.githubusercontent.com/22269729/149041550-f8879b74-ef43-4d24-a3e9-fc2981b6f393.png)

[2022-01-12 02:22] rparias commented on #5817
It would be a really good feature! Thinking on the user (developer) experience.

[2022-01-12 05:12] postman-support commented on #10528
Hi **@**PathakAditya,

Just letting you know I’m still here so feel free to give me a shout if you’re still running into any issues.
via @Lincimary | Postman Support

[2022-01-12 06:37] Raj-postman commented on #10477
@robatwabbi Apologies but this hasn't been fixed yet. Our team will update this thread once resolved. Appreciate your patience.

[2022-01-12 07:19] giridharvc7 commented on #10559
Duplicate of #1180

[2022-01-12 07:19] #10559 closed, assigned to nobody

[2022-01-12 07:21] giridharvc7 commented on #10558
Duplicates #6714

[2022-01-12 07:21] #10558 closed, assigned to nobody

[2022-01-12 08:17] vatsekov commented on #1066
+1

[2022-01-12 08:32] jxh150535011 commented on #350
+10086

[2022-01-12 11:46] MobiusSlit commented on #8404
To import multiple environments into Postman using the Import | Raw Text feature, create json structured like a Postman data dump and populate the environments array.

{
  "version":1,
  "collections": [],
  "environments": [
    {
       "id": "guid",
       "name": "ENV1",
       "values": [
         {
           "key": "baseUrl",
           "value": "MY_BASE_URL",
           "enabled": true

[2022-01-12 12:42] bobck commented on #4079
+1

[2022-01-12 15:26] #10535 closed, assigned to bpedro

[2022-01-12 16:19] Lauren-Gill opened #10560 "Anchor tags don't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Anchor tags don't work and just send to the top of the document for published documentation. It seems to particularly happen in the single column layout.

### Steps To Reproduce

add an anchor tag to your published API documentation, and then try to use it on the published documentation usi

[2022-01-12 16:21] Lauren-Gill opened #10561 "Folders don't have custom subdirectory naming"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Instead of, for example, "https://api-docs.stuart.com/#634b1d7e-2f5f-402a-9ff8-0c5fa967bc67" we'd like to have "https://api-docs.stuart.com/jobs". This /name in the URL currently only works for a flat directory without folders, a

[2022-01-12 20:21] giwleb commented on #9483
We use Windows IIS, and our enterprise has a certificate server that "manufactures" signed internal certificates, signed by our enterprise root CA. In order for us to test these web APIs using postman, we have to import the enterprise intermediate PFX file in the settings for Postman on Windows. Being able to tell postman to use the Windows certificate store (like its "Trusted Root Certification A

[2022-01-12 21:47] Quaternions opened #10562 "Variable Type on Collection level variables"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No this is not related to a problem.  It's more of a missing feature.

### Describe the solution you'd like

I noticed with a recent Postman update that you added Type (default/Secret) for global variables.

![image](https://user

[2022-01-13 01:26] alex-bolenok-centralreach commented on #7606
@mohitranka @mccannt this still reproduces as of v9.8.3

[2022-01-13 01:44] cateyes99 commented on #9459
duplicate of #8519

[2022-01-13 03:06] thepirat000 commented on #1066
+999

[2022-01-13 04:09] shubhbhargav commented on #10518
@m3dbedb I am closing off this ticket for now but feel free to reach out here if the issue persists. We will re-open the ticket and look into it.

[2022-01-13 04:09] #10518 closed, assigned to nobody

[2022-01-13 05:31] jasAtPing commented on #6886
I see the same issue for Postman version 9.8.3 when I try to access MTLS URL.

[2022-01-13 10:26] postman-support commented on #10496
Hi there,

Just letting you know that I'm going ahead and closing this conversation. If you still need help, just respond to this ticket to re-open it. Otherwise, please feel free to reach out again later!

Have a great day:)

via @Lincimary | Postman Support

[2022-01-13 11:03] flexey-i commented on #10485
Hello!

No, reimport does not change behaviour.
When using the web version on mac os, everything works fine.

Yes, of course, I will attach screenshots and additional information.

[2022-01-13 12:39] postman-support commented on #10507
I'll be closing this next on our end as we haven't heard back. If the issue persists, please reach out to us by submitting a support request: https://www.postman.com/support ​so we can investigate further.

via @Raj-postman | Postman Support

[2022-01-13 12:56] #10241 closed, assigned to akshaydeo

[2022-01-13 13:11] #10507 closed, assigned to postman-staff

[2022-01-13 13:43] robatwabbi commented on #10477
Thank you for the status
________________________________
From: Kurmavathar ***@***.***>
Sent: Wednesday, January 12, 2022 1:37 AM
To: postmanlabs/postman-app-support ***@***.***>
Cc: Robert Duncan ***@***.***>; Mention ***@***.***>
Subject: Re: [postmanlabs/postman-app-support] Cannot save documentation on collections or requests (Issue #10477)

CAUTION: This email originated from outside of the

[2022-01-13 14:15] deepakaggarwal7 opened #10563 "Reuse Requests by referencing them in tree"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

As is mentioned in several threads, options to re-use requests are very limited and for most of the cases, programmatic use setNextRequest. The only visual option that allows re-using a request are Flows but it's overkill to use

[2022-01-13 14:15] hosseinhojjatyar opened #10564 "Unable send file in form data (first field)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello
I use Postman v9.8.3 and when I try to send files, first field always is empty

![Capture](https://user-images.githubusercontent.com/67653777/149344221-1d77838b-da65-4aa8-a7cb-19b8bd53d15f.PNG)

in the server side I got nothing

![Capture5](https://user-images.githubusercontent.com/67

[2022-01-13 14:51] apuri123 opened #10565 "Client Certificates get deleted on Postman update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When postman is updated installed client certificates are no longer there in settings and need to be re-added.

### Steps To Reproduce

1. install an older version than the current of postman.
2. go to settings.
3. install client certificate.
4. update to latest version of postman.
5. go to

[2022-01-13 17:26] twallace0123 opened #10566 "Postman - Unable to expand the left slider very far to the right"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

We have a bit longer Collection API call names but the slider does not expand any further like it used to.

### Steps To Reproduce

1. Open Postman
2.  Click on Collection
3.  Attempt to move the slider to the right
Actual: It only goes a small distance to the right

Expected: You should be

[2022-01-14 05:25] grakhejapstmn commented on #10552
Hi, I tried to replicate the issue mentioned but the mock server seems to work fine even with multiple query parameters.
We would like some more information about the requests that you created in examples and the ones you sent.
Can you provide us the same at help@postman.com

[2022-01-14 08:10] postman-support commented on #10551
Hi @natenho ,

Our engineers are currently reviewing the issue, it seems to be occurring with snap installations in certain circumstances, while it's possible this is related to the snap store, we are also checking if there' a culprit on our end.

We noticed that clearing Linux's font cache usually helps in such situations, would you be able to try clearing your front's cache and see whether the i

[2022-01-14 08:39] Bel4TST opened #10567 "collection restore from trash fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

i deleted my collection accidently so it was moved to trash.
when i tried to recover the collection  it throws exception. so i closed and reopened my postman application.
now my collection is not in trash too
![bug](https://user-images.githubusercontent.com/97727622/149477886-82a5ceb2-f728-

[2022-01-14 09:05] 21ki commented on #2701
+1 do want

[2022-01-14 09:22] kings1990 opened #10568 "Is there any postman api for Single Request document share and collections document share?"
### Describe your current workflow

Jetbrain Intellij  plugin (Fast Request)
So far，my plugin can export collections to postman!
And a have an idea,
i have single request and collections request, want to integration postman to share request and collections request.

![image](https://user-images.githubusercontent.com/8969637/149491069-46d3b5bc-44ff-4ec1-9b1a-a9917e07d37c.png)

![image](https://user

[2022-01-14 09:23] aditanase commented on #10524
@codenirvana Just saw this in 9.9.0 update, was super excited. It seems to be working at a general level, however on our backend I'm only seeing 2 out of 15+ services detected. Not sure how those specifically got selected.
Tested side by side with GrpcUI which shows everything correctly.

[2022-01-14 09:50] aditanase commented on #10530
Same here, although wanted to make sure you are considering multiple roots as part of this effort, our protos are split across 2 packages (internal and public, with internal depending on public).

[2022-01-14 09:58] aditanase opened #10569 "GRPC reflection does not show all services"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Using 9.9.0 I am trying to load service definition via reflection and I am only seeing 2 out of ~20 services. Tested against GrpcUI to make sure the server is properly configured.

![image](https://user-images.githubusercontent.c

[2022-01-14 10:01] aditanase opened #10570 "GRPC should support protobuf descriptors in addition to `.proto` and server reflection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes, currently both proto import and server reflection are broken.
- Importing a proto with import statements will break (#10547)
- Using reflection does not present all services (#10569)

### Describe the solution you'd like

Al

[2022-01-14 10:08] aditanase commented on #10569
Apologies, tagged this as feature,  it's a bug report, I can't edit the labels.

[2022-01-14 10:10] aditanase commented on #10524
Added https://github.com/postmanlabs/postman-app-support/issues/10569

[2022-01-14 10:14] DannyDainton commented on #10567
Hey @Bel4TST

Could you try and refine the steps to reproduce the issue please or create a short video showing the error that you're seeing.

In the Image, the Collection you have in the red box is also present in the left sidebar (Has the same name) so I'm unsure what you're trying to show in the picture.

[2022-01-14 10:38] Bel4TST commented on #10567
the one in collection side box is my new collection with same name . i was trying to restore the one i moved to trash before that. it failed so i imported a new one.

[2022-01-14 11:04] #10567 closed, assigned to nobody

[2022-01-14 13:09] menacingrabbit commented on #1066
Adding a humble +1 to this helpful request

[2022-01-14 18:57] Stacy-Sanders commented on #9186
Hello! I am also experiencing issues with the Postman Bootcamp for Windows. I was able to proceed to 56% completion for creating a mock server and then it stops. No more popups guiding my choices.

[2022-01-14 20:50] thoffmann-fms opened #10571 "SignalR support for WebSockets"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Postman's WSS support is almost perfect for SignalR testing against ASPNet.Core hubs but needs one minor change.   The SignalR messages need a 0x1E character appended to the JSON. I tried pasting that into the JSON screen but it

[2022-01-14 21:23] kaiserbergin commented on #2701
more than +1.

[2022-01-14 22:05] smai commented on #9690
I had the same issue when upgrading to the latest release, 9.8.3 from...I believe 8.10.0 on win64.  The above suggestion did not help, same issue.  I uninstalled postman, and I ran agent ransack to find anything with 'postman' in the filename.  I deleted all that.  Then did a fresh install with 9.8.3 and it worked.

[2022-01-15 02:53] Healthedata1 opened #10572 "Add responses to request automatically"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Manually adding a response as an example for each request in a collection is tedious and time consuming.  When I run a collection the responses are returned and It seems to be that by running the collection on a server you could

[2022-01-15 09:29] magnusart commented on #6719
I'm a paying customer and moving into a GraphQL workflow has been quite painful with Postman. I think everyone else has said why this is important 4 years is a long time. I'm going to start investigating Insomnia.

Feels like history repeating with SoapUI.

[2022-01-15 09:30] ssallmen commented on #10552
Actually I tried to replicate the issue from scratch with a new workspace and did not get the same issue either. But, then I went back to my earlier workspace and still got the same issue there. I started to wonder what could be different and noticed that I had used different kinds of query parameters, and the issue it not actually related to the number of query parameters but on what kind of quer

[2022-01-15 11:14] matpag commented on #7179
Same here, I would expect initial value to be picked as default if current value is missing

[2022-01-15 11:59] OmgImAlexis commented on #6719
@a85 can I get a real reply please?

[2022-01-15 16:19] sladg commented on #9437
Update, still not working for me on latest Postman 😢 any updates?

[2022-01-15 20:08] natenho commented on #10551
Hi, clearing the font cache worked! Dialog fonts are visible again:

![image](https://user-images.githubusercontent.com/4236481/149636275-a867d76f-40bd-44fa-837a-78defe123c43.png)

Thank you!

[2022-01-15 23:00] mugi-luffy commented on #8680
any updates on this?
Is this something that may be considered in a future release?

[2022-01-16 03:43] twosidedproof opened #10573 "Mobile app to continue API development on iPad or Android tablet"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Today, all API development has to happen on a traditional computer. It would be great to have an iPad app or [PWA](https://github.com/postmanlabs/postman-app-support/issues/10005) to be able to continue development, document or t

[2022-01-16 05:08] sladg commented on #7083
Bump here :) any news?

[2022-01-16 09:46] aynacorp commented on #8255
Just replace the existing application file in the Applications folder with the latest application file downloaded from Postman website. This worked and kept all data.

[2022-01-16 17:19] russellward opened #10574 "Add the ability to deploy an API to Kong API Gateway"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Postman API Repository is a great solution for curating, testing and managing API endpoints. The AWS API Gateway deployments is a great feature, but it would be great to see this expanded to other API Gateway providers

### Descr

[2022-01-17 03:57] #10498 closed, assigned to postman-staff

[2022-01-17 04:35] shubhbhargav commented on #10519
@AlexandrTairov I am closing this ticket as of now. Please feel free to let us know if you are still facing the issue. We will re-open the ticket and debug / resolve accordingly.

[2022-01-17 04:35] #10519 closed, assigned to nobody

[2022-01-17 04:35] shubhbhargav commented on #10514
@custj I am closing this ticket as of now. Please feel free to let us know if you are still facing the issue. We will re-open the ticket and debug / resolve accordingly.

[2022-01-17 04:35] #10514 closed, assigned to nobody

[2022-01-17 04:42] postman-support commented on #10362
Hey @junior,

Thanks so much for your patience!

Our engineering team has released the fix in Postman Web already and the fix will also be included in the next version of Desktop app (v.9.9.1), which will be rolled out this week.

May I request you to confirm the fix on Postman Web or on the Desktop app after the version update?
Thanks so much for your cooperation. I look forward to hearing back o

[2022-01-17 04:58] giridharvc7 opened #10575 "Make it easy for new users to generate OAuth2 token for an existing collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I dont' find the "Get New Access Token" that intuitive. I would expect to see the config in the first modal to be in the standard auth tab not showing all the config once you click that button.

(Thread from here - https://github

[2022-01-17 04:58] giridharvc7 commented on #4636
@jthake-msft Have created a new ticket for your feature request here https://github.com/postmanlabs/postman-app-support/issues/10575

[2022-01-17 04:58] Raj-postman commented on #10249
Marking this to `Closed` since the issue is now resolved 💯

[2022-01-17 04:58] #10249 closed, assigned to nobody

[2022-01-17 05:46] postman-support commented on #10528
Hi hello,

Just letting you know that I'm going ahead and closing this conversation. If you still need help, just respond to this ticket to re-open it. Otherwise, please feel free to reach out again later!

Have a great day:)

via @Lincimary | Postman Support

[2022-01-17 06:37] appurva21 commented on #10569
Hey @aditanase, thank you for the report!

Is this server publicly accessible? If not, will it be possible for you to share a scaled-down version of the server which we can use to reproduce the issue at our end?

Secondly, just to confirm, can you please check if the Auth and Certificates in Postman are configured correctly in accordance with your server requirements?

[2022-01-17 07:31] AlexandrTairov commented on #10519
@shubhbhargav
Sorry, I forgot about this issue. Problem was from our side and thank you for your help :)
Of course, You can close this tickect)

[2022-01-17 07:46] appurva21 commented on #10524
Hey everyone!

Really appreciate the early feedback and we are glad to let you know that Postman now supports Server Reflection in gRPC requests.

**To get started**:
1. Open gRPC request
2. Enter server URL
3. In the adjacent dropdown, select the "More ways to load services and methods" -> "Use server reflection"

![server reflection](https://user-images.githubusercontent.com/24985700/149727738-3

[2022-01-17 07:46] #10524 closed, assigned to codenirvana

[2022-01-17 07:51] postman-support commented on #10551
Hello @natenho

Thanks for the update! Great to see that clearing the font cache helped.

As it seems like everything is back into a working state now, I'll go ahead and mark the ticket as solved.

Feel free to reach back in case you need our assistance at any given time.
via @nasco-a | Postman Support

[2022-01-17 07:56] #10551 closed, assigned to postman-staff

[2022-01-17 08:20] puneet-mishra opened #10576 "Env values getting replaced with older values for single user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have been testing my APIs with postman using my development environment,
After taking the code live, I switched to Production environment to test the APIs, but after each API call, the environment variable is getting reset to older value(value being used in development environment).

http

[2022-01-17 08:23] puneet-mishra commented on #10576
1. I have tried duplicating the collection and checking there
2. I have tried signing out and signing in
3. I have also tried clicking on persist val for the env val

[2022-01-17 08:25] puneet-mishra commented on #10576
https://github.com/postmanlabs/postman-app-support/issues/8807 this was for team, but in my team only I am testing this API

[2022-01-17 08:55] malvikach commented on #10576
Hi @puneet-mishra thanks for writing to us.

I checked out your video, it seems once you send your request, the current value of the variable changes to something that was previously set. I wanted to clarify that the current values of your variable are not sycned with our database. The current values only reside as session values for your usage. Hence, it seems that the request you are sending mig

[2022-01-17 09:06] puneet-mishra commented on #10576
Located the issue, thanks for quick support. Closing the ticket.

[2022-01-17 09:06] #10576 closed, assigned to malvikach

[2022-01-17 09:27] malvikach commented on #10564
Hi @hosseinhojjatyar We had recently discovered a bug related to form-data in request body. I am suspecting the issue you are facing might have something to do with it. I would request you to update to the latest postman version 9.9.2 and give the above issue a try again.

Let me know if you still face this. Will be happy to dig deeper into it and have our dev team look at it.

Really appreciate y

[2022-01-17 10:36] 2shrestha22 commented on #6723
Any solution for Linux?

[2022-01-17 10:38] vipin-chandran-compatio commented on #9734
This would have been a useful feature for us too.

[2022-01-17 13:00] rpost commented on #1321
Anything new in this topic?

[2022-01-17 13:24] olegv2022 opened #10577 "Export option unavailable on the dropdown options on environments in sidebar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The Environment can't be opened in the tab.
So, the "Export" action is unavailable.

### Steps To Reproduce

1. Select an environment.
2. Click on the "eye" icon. Nothing happens.
3. By the click on the environment the tab doesn't open too.
4. The "Export" item is absent in the 3dot menu

#

[2022-01-17 13:36] kamaraju-p commented on #10477
The issue is resolved. The fix will be available with the next update v9.9.2. Thanks for your patience.

[2022-01-17 13:36] #10477 closed, assigned to Raja-Simha, kamaraj-p

[2022-01-17 13:36] codenirvana commented on #10440
@UA55 we've pushed a fix for this in the latest Postman app (v9.9.0). Can you update your app and confirm if that fixes your issue?

[2022-01-17 13:39] kamaraju-p commented on #10463
@jeffski The issue has been fixed. Closing the issue.

@iquabius we are working on a default editor option in settings. Thanks for your patience.

[2022-01-17 13:39] #10463 closed, assigned to Raja-Simha

[2022-01-17 13:45] codenirvana commented on #10125
Duplicate of #10116

This is fixed in the latest Postman app (v9.9.0).

<img width="721" alt="Screenshot 2022-01-17 at 7 13 19 PM" src="https://user-images.githubusercontent.com/4865836/149779779-4aede02c-eeca-4b68-a023-f212e9b9f7f4.png">

[2022-01-17 13:45] #10125 closed, assigned to codenirvana

[2022-01-17 13:47] codenirvana commented on #10116
@mickmcbride we've pushed a fix for this in the latest Postman app (v9.9.0). Can you update your app and confirm if that fixes your issue?

[2022-01-17 13:57] codenirvana commented on #7945
This is fixed in the latest version of the Postman app (v9.9.0).

<img width="574" alt="Screenshot 2022-01-17 at 7 20 26 PM" src="https://user-images.githubusercontent.com/4865836/149780814-b04d0fda-5aff-4fe9-9c92-4fbf28b7bd8a.png">

[2022-01-17 13:57] #7945 closed, assigned to codenirvana

[2022-01-17 16:40] DartMen commented on #9911
I suspect ''they'' have embedded a crypto miner which kicks in when idle

[2022-01-17 18:32] jviotti commented on #10346
Closing this ticket, as Postman does support macOS arm64 already!

[2022-01-17 18:32] #10346 closed, assigned to nobody

[2022-01-17 18:56] jviotti commented on #9899
Thanks for the suggestion! Out of curiosity, what would a Mac App Store version have as an advantage for you to the current distribution mechanism?

[2022-01-17 19:19] matthew8sweeney commented on #1066
Yeah, I just added a bunch of requests to my collection from a proxy debug session.  Now I have to delete them all or make a new collection.

[2022-01-18 04:28] shubhbhargav commented on #10541
@gauravpunj14 I am closing this ticket as of now. Please feel free to let us know if you are still facing the issue. We will re-open the ticket and debug / resolve accordingly.

[2022-01-18 04:28] #10541 closed, assigned to nobody

[2022-01-18 05:20] #6102 closed, assigned to preethammavin, ArjunSingh-PM

[2022-01-18 07:23] Hima2021-rajesh commented on #8929
+1

[2022-01-18 08:13] akshaydeo commented on #10572
@Healthedata1 Thank you so much for reaching out to us 🙂. We are in the process of improving the scenario creation for all mock endpoints this year. We might look into this once that is out; cc @Dhembla

[2022-01-18 09:29] vainyksi opened #10578 "More detailed error messages"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I can not find logs for gRPC.
It would be very helpful, even for the BETA phase for gRPC support.

I am trying to execute gRPC method, but for the response it says just `Status: 14 UNAVAILABLE`. My gRPC server is up & running.

#

[2022-01-18 10:12] franz-at-dns commented on #9488
just a little reminder that in 2022, this is still _fiendishly annoying,_

[2022-01-18 10:31] KristofNalesnyik opened #10579 "Change the color of "Console - Request / Response body editor" button"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

The "Console - Request / Response body editor" button has a very similar color as the background.
I have a display setting where I hardly see it. There were times I thought that the button had been removed.

### Describe the solu

[2022-01-18 11:34] DannyDainton commented on #10579
Hey @nalesnyik

Could you please include an image and the build version where you see the issue?

[2022-01-18 12:03] DannyDainton opened #10580 "Programmatically set the secret variable type"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

With the great addition of the `secret` variable type in the platform, users can now set the type manually through the UI but having the ability to set them via a script would round out the flow. By manually setting it, you would

[2022-01-18 12:31] gkssjovi commented on #3505
Also want CMD + R, with CMD + Enter, you must put the hand on mouse twice.

[2022-01-18 14:31] Ducane opened #10581 "Wrong curl generation for working POST request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello everyone,

If you create a POST Request with `Content-Type: application/x-www-form-urlencoded` filled with some form parameters and the response returns a 30x redirect response, then the executed postman request will work. The generated cURL command however is not working when pasted

[2022-01-18 16:30] mickmcbride commented on #10116
@codenirvana I tested with 9.8.3, not working, upgraded to 9.9.3 and it is working correctly.

Thank you,
Mick

[2022-01-18 16:36] KevinVanthuyne commented on #9424
This would be very useful if you want to construct a clickable link for the developer from response data

[2022-01-18 16:39] AndreBritoKD commented on #10254
you can use an older version
 https://go.pstmn.io/dl-win64-v7-latest

[2022-01-18 16:53] MikeyABedneyJr opened #10582 "Code snippet on by default (option)"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I am going through many API calls in a collection and rather than needing to click through the different tabs (header, body, etc), I would rather view the CURL requests in the code snippet.

Right now I need to click on each API

[2022-01-18 17:16] #10116 closed, assigned to codenirvana

[2022-01-18 17:17] rosennej commented on #10254
As it seems the Postman is determined not to support an offline mode, it seems they are determined to drive all their security aware customers to alternative products. This a pity, but the is no other option.

[2022-01-18 17:32] arlemi commented on #10254
You can use the Scratchpad to use Postman without login-in/syncing: https://learning.postman.com/docs/getting-started/using-scratch-pad/

[2022-01-18 17:34] rosennej commented on #10254
This a rather lame solution.

[2022-01-18 17:36] rosennej commented on #10254
This too is a lame solution.

[2022-01-18 17:45] Boorda commented on #6728
This would be good as an export Option, defaulted to false.

Also, it may make it more apparent that session variables are not exported (or by default if option is implemented) if the info icons next to the INITIAL VALUE & CURRENT VALUE included a statement about exporting.

![image](https://user-images.githubusercontent.com/20290181/149990554-c82994e3-c2df-4771-affa-5a4cdfbe0ecc.png)

[2022-01-18 19:11] jviotti commented on #10309
Closing this, as Postman v9 runs on Chromium v91

[2022-01-18 19:11] #10309 closed, assigned to nobody

[2022-01-18 19:11] jviotti commented on #10082
What version of Postman are you running?

[2022-01-18 19:54] Boorda commented on #3731
Also highly interested in this feature.
It is a bit concerning though that this ask has been sitting here for over four years now.

[2022-01-18 20:07] jviotti commented on #10460
I'm closing this ticket as we believe it is fixed in the latest Postman versions. Please re-open if this is not the case!

[2022-01-18 20:08] fmiras commented on #4079
+1

[2022-01-18 20:35] jviotti commented on #7326
Closing this notice issue, now that most users are on v8 or v9

[2022-01-18 20:35] #7326 closed, assigned to nobody

[2022-01-18 22:46] samirageb commented on #9877
I also use Stoplight, but you can't reliably import and use 3.1 definitions in Postman to take advantage of its testing capabilities.

[2022-01-18 23:28] jjduarte commented on #8929
+1

[2022-01-19 00:53] mikewim commented on #4079
+1

[2022-01-19 02:54] domclone commented on #8541
If anybody is still having trouble installing the postman cert on an ios simulator (dragging and dropping the cert from your machine to the simulator throws an error), I did the following to get it to work..

### Prerequisites
1. Configure proxy on your mac.
2. Not necessary, but to save any future headaches, I first made a copy of the postman cert and used the copy for the first step below. I put

[2022-01-19 04:42] gerhardvr-finclude opened #10583 "Group collections under a folder"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have a workspace with many collections (30+). Many of the collections are directly related. For example: four collections for the same companie's API (dev, uat, QA and prod environments). The variables for the collections are s

[2022-01-19 05:34] #10496 closed, assigned to postman-staff

[2022-01-19 06:07] akshaydeo commented on #9877
👋 everyone. This feature is already in development, and we will ship it in the first week of March 2022 🎉 .
Thank you so much for your patience.

I will keep this issue updated 🙂

[2022-01-19 08:06] qetza commented on #10008
Same issue with Azure API Management where the caller needs to provide a subscription key as a header or query parameter.

[2022-01-19 08:19] ToffeeLu commented on #2369
One tip for Windows user, try "Run as Administrator", now it can read hosts successfully

[2022-01-19 09:12] jroratorio opened #10586 "Unable to upload files in form-data on Postman Web"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

On Postman Web, when I'm trying to upload a file from any directory inside `form-data` , it checks for the ~/Postman/files directory, which fails with a syscall error NOENT

[code]

on the console.

Looks similar to this - https://github.com/postmanlabs/postman-app-support/issues/9361

###

[2022-01-19 09:31] vlav98 opened #10587 "Prefix tests with path in collection within monitors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, when the tests are being run on monitors, the only information that we have is the name of the request.
But it is then hard to find where the request is if we have a nested folders structure.
For example, this kind of

[2022-01-19 10:48] arattur opened #10588 "Unable to import WSDL, if it contains import of external schema definitions (error: "The element or type could not be found undefined")"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

It seems that WSDL import is not working and generated SOAP request body has following error:
`<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <error>The element or type could not be found undefined</error>
  </

[2022-01-19 12:05] ruthdiasoft opened #10589 "Mock server call log displays empty json body for content-type 'fhir+json'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I send a request with content-type 'application/fhir+json' and with a body that contains a json message.
This body is then displayed as '{}' in the call log.

If I use 'application/json' the message is correctly displayed.

It would be nice if at least always the raw body could be seen in c

[2022-01-19 13:38] kevinbull commented on #10460
I am still seeing this issue, just downloaded the Apple Silicon version this morning
![image](https://user-images.githubusercontent.com/6344178/150141435-1c5c67b9-0a4b-475e-be23-3f9d9949c6d2.png)

[2022-01-19 13:56] xuxingqiang commented on #10082
Sorry, I haven't used my PC for development in months. The software version has been updated during the period, so I am not sure which version it is at the moment. But I think this problem exists in various versions since then. I hope the development team can continue to pay attention to the memory usage problem during use, I think, it should be able to reproduce

[2022-01-19 14:08] postman-support commented on #10565
Hello @apuri123,
Thanks for writing in.

I've tried replicating the issue, but I was unable to

I did follow your steps, and downgraded to an earlier version of Postman, added client certificates, and then ran the updater to update to the latest version.
However, it does seem that the client certificates I added before triggering the update are still here

 ![](https://postman.zendesk.com/attachme

[2022-01-19 14:42] kpuscas commented on #10460
Same here. Just tried again and same issue

On Wed, Jan 19, 2022 at 8:38 AM Kevin Bull ***@***.***> wrote:

[2022-01-19 15:04] jviotti commented on #10460
Thanks for confirming! Re-opening the ticket so we can keep looking at this. @kpuscas Are you also running on an M1 Max?

[2022-01-19 15:36] shashankawasthi88 commented on #10574
@russellward thanks for raising the request. Is it possible for us to get onto a short call to discuss flows around deployment over Kong. We definitely have Kong on our radar. I'll be dropping you a mail on the email ID in your profile. Let me know if there is any other way to contact you. You can also use this link -https://calendly.com/d/ck2-hg7-654/gateway-dsicussion   to schedule a call with u

[2022-01-19 16:09] dranitski commented on #7596
+1

[2022-01-19 16:15] jviotti commented on #6723
Merging this ticket with https://github.com/postmanlabs/postman-app-support/issues/8205,

[2022-01-19 16:15] #6723 closed, assigned to nobody

[2022-01-19 16:15] jviotti commented on #9665
Merging this ticket with https://github.com/postmanlabs/postman-app-support/issues/8205.

[2022-01-19 16:15] #9665 closed, assigned to numaanashraf

[2022-01-19 16:17] jviotti commented on #8692
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8598

[2022-01-19 16:17] #8692 closed, assigned to cyrielle-hada, Raj-postman

[2022-01-19 16:21] jviotti commented on #10451
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6999

[2022-01-19 16:21] #10451 closed, assigned to nobody

[2022-01-19 16:21] jviotti commented on #8458
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9089

[2022-01-19 16:21] #8458 closed, assigned to nobody

[2022-01-19 16:23] #8980 closed, assigned to nobody

[2022-01-19 16:24] jviotti commented on #9002
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/10458

[2022-01-19 16:24] #9002 closed, assigned to nobody

[2022-01-19 16:24] #10458 closed, assigned to nobody

[2022-01-19 16:24] jviotti commented on #3897
Also see https://github.com/postmanlabs/postman-app-support/issues/9002

[2022-01-19 16:26] jviotti commented on #6576
Closing this ticket as we now offer customized MSI installations for enterprises as part of our Enterprise offering (https://learning.postman.com/docs/administration/managing-enterprise-deployment/). The Enterprise flavor of the app already disables auto-updates and there will be more settings added over time.

[2022-01-19 16:26] #6576 closed, assigned to nobody

[2022-01-19 16:27] jviotti commented on #3019
Closing this ticket as we now offer MSI installers for enterprises as part of our Enterprise offering (https://learning.postman.com/docs/administration/managing-enterprise-deployment/).

[2022-01-19 16:27] jviotti commented on #9483
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5930

[2022-01-19 16:27] #9483 closed, assigned to nobody

[2022-01-19 16:27] jviotti commented on #2700
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5930

[2022-01-19 16:27] #2700 closed, assigned to codenirvana

[2022-01-19 16:28] jviotti commented on #9911
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9787

[2022-01-19 16:28] #9911 closed, assigned to nobody

[2022-01-19 16:29] #8961 closed, assigned to nobody

[2022-01-19 16:30] jviotti commented on #7870
Merging this with https://github.com/postmanlabs/postman-app-support/issues/4687

[2022-01-19 16:30] #7870 closed, assigned to nobody

[2022-01-19 16:30] #10082 closed, assigned to nobody

[2022-01-19 16:31] #8761 closed, assigned to kamalaknn

[2022-01-19 16:32] jviotti commented on #4919
Merging this ticket with https://github.com/postmanlabs/postman-app-support/issues/8761

[2022-01-19 16:32] #4919 closed, assigned to numaanashraf

[2022-01-19 16:34] jviotti commented on #4361
Merging this with https://github.com/postmanlabs/postman-app-support/issues/7294

[2022-01-19 16:34] #4361 closed, assigned to numaanashraf

[2022-01-19 16:36] jviotti commented on #7417
Merging this feature request with https://github.com/postmanlabs/postman-app-support/issues/5473

[2022-01-19 16:36] #7417 closed, assigned to nobody

[2022-01-19 16:43] jviotti commented on #8326
Merging this ticket with https://github.com/postmanlabs/postman-app-support/issues/9794

[2022-01-19 16:43] #8326 closed, assigned to nobody

[2022-01-19 16:45] #8075 closed, assigned to chris-torruella

[2022-01-19 16:45] #8560 closed, assigned to nobody

[2022-01-19 16:45] jviotti commented on #8459
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5817

[2022-01-19 16:45] #8459 closed, assigned to nobody

[2022-01-19 16:49] jviotti commented on #8026
Merging this with https://github.com/postmanlabs/postman-app-support/issues/3884

[2022-01-19 16:49] #8026 closed, assigned to nobody

[2022-01-19 16:50] jviotti commented on #9674
Merging with https://github.com/postmanlabs/postman-app-support/issues/7349

[2022-01-19 16:50] #9674 closed, assigned to nobody

[2022-01-19 16:50] jviotti commented on #10557
Merging this with https://github.com/postmanlabs/postman-app-support/issues/10449

[2022-01-19 16:50] #10557 closed, assigned to nobody

[2022-01-19 16:51] kpuscas commented on #10460
Yes I'm running a 14in MBP with the M1Max. Note that Postman Canary that I
have works just fine

[image: image.png]

On Wed, Jan 19, 2022 at 10:04 AM Juan Cruz Viotti ***@***.***>
wrote:

[2022-01-19 16:52] jviotti commented on #10455
Merging this with https://github.com/postmanlabs/postman-app-support/issues/2833

[2022-01-19 16:52] #10455 closed, assigned to nobody

[2022-01-19 16:53] jviotti commented on #5135
Merging this with https://github.com/postmanlabs/postman-app-support/issues/6053

[2022-01-19 16:53] #5135 closed, assigned to nobody

[2022-01-19 16:55] jviotti commented on #10401
Merging this with https://github.com/postmanlabs/postman-app-support/issues/10449

[2022-01-19 16:55] #10401 closed, assigned to nobody

[2022-01-19 16:56] jviotti commented on #8513
We have re-written our Snap packaging logic and believe the issue is solved now. Please re-open if you face the same problem on newer versions of the app!

[2022-01-19 16:56] #8513 closed, assigned to nobody

[2022-01-19 17:00] #7881 closed, assigned to nobody

[2022-01-19 17:05] jviotti commented on #9708
Merging this with https://github.com/postmanlabs/postman-app-support/issues/6053

[2022-01-19 17:05] #9708 closed, assigned to nobody

[2022-01-19 17:05] jviotti commented on #10148
Merging this with https://github.com/postmanlabs/postman-app-support/issues/6053

[2022-01-19 17:05] #10148 closed, assigned to kamalaknn

[2022-01-19 17:06] jviotti commented on #7240
https://github.com/postmanlabs/postman-app-support/issues/6053 is an instance of this problem affecting auto-updates. In general, the application should obey system proxy settings

[2022-01-19 17:07] jviotti commented on #6053
Merging this ticket with https://github.com/postmanlabs/postman-app-support/issues/7240, as that's pointing out the bigger problem: that Postman does not obey system proxy settings, either on the app nor on the updates.

[2022-01-19 17:07] #6053 closed, assigned to nobody

[2022-01-19 17:07] jviotti commented on #9708
See https://github.com/postmanlabs/postman-app-support/issues/7240

[2022-01-19 17:07] jviotti commented on #10148
Also see https://github.com/postmanlabs/postman-app-support/issues/7240

[2022-01-19 17:10] jviotti commented on #6849
Merging this with https://github.com/postmanlabs/postman-app-support/issues/8935

[2022-01-19 17:10] #6849 closed, assigned to nobody

[2022-01-19 17:13] jviotti commented on #9366
Merging this with https://github.com/postmanlabs/postman-app-support/issues/7842

[2022-01-19 17:13] #9366 closed, assigned to nobody

[2022-01-19 17:15] kyledavis124 commented on #8179
Yes please +1

[2022-01-19 17:15] jviotti commented on #10517
I believe this is an instance of https://github.com/postmanlabs/postman-app-support/issues/8974, so I'll close it so we can continue the conversation here. Can you try running the app as an admin? We'll re-open if that doesn't work

[2022-01-19 17:15] #10517 closed, assigned to nobody

[2022-01-19 17:28] jviotti commented on #5468
This has been fixed in recent versions of Postman. The icon image is still broken, but we are tracking that separately (see https://github.com/Squirrel/Squirrel.Windows/issues/761).

![Screenshot 2022-01-19 132641](https://user-images.githubusercontent.com/2192773/150182853-f11ab6eb-c8ce-434c-9392-ca35c6f01a80.png)

[2022-01-19 17:28] #5468 closed, assigned to nobody

[2022-01-19 17:38] jviotti commented on #6920
Hey there! We have revamped our Snap packaging routines and I believe the issue is gone with later versions of the app. I'll close the issue, but we'll re-open if you find this is still happening on your system on the latest version of the Snap.

[2022-01-19 18:10] tdarci commented on #10547
Our protobuf files are nested in directories. When bringing one of these files into Postman, we encounter this error: `Error: ENOENT: no such file or directory` for all our `import` statements. Seems that we need to be able to set `proto_path` so that Postman can find all these imports. Other ideas?

[2022-01-19 18:57] ccheatham commented on #10460
Same issue: https://d.pr/i/Pq9tjU <https://d.pr/i/Pq9tjU>

[2022-01-19 19:29] Kcorb95 commented on #6657
Is there any updates on this feature? It's still being mentioned by users in the community. 😓
https://community.postman.com/t/what-happened-to-sharing-a-collection-environment-across-workspaces/29088

[2022-01-19 20:44] johnnybenson commented on #9488
Focusing Postman around the paid service was a product decision made by non-engineers. This banner will never go away.

[2022-01-19 20:51] pasha-github commented on #8168
Hello @codenirvana , I am still seeing this issue despite using `pm.request.url` to get the url automatically. I am using postman client v9.9.3. I have provided the script and associated error below -

**Script**
[code]

**Error**
[code]
Here is the cookie info:
``` _csrf=<Cookie Value>; Path=/; Secure; HttpOnly; ```

**Url is -**
``` https://anypoint.mulesoft.com/accounts/login ```

**Expected be

[2022-01-19 20:58] datta016 commented on #4033
Option #2 would be great.

Having multiple client certificates configured in the Postman settings with the same Host value but different cert files, with the restriction being that only one can be enabled at a time vs having to remove/add a new cert in each time from scratch.

[2022-01-19 20:59] datta016 commented on #7599
Would love this feature. Having multiple client certificates configured in Postman with the same Host value but different PFX (or otherwise) file locations, with the restriction being that only one can be enabled at a time vs having to remove/add a new cert in each time from scratch.

[2022-01-19 21:02] datta016 commented on #2849
Instead of having to remove/add a new cert in the settings each time from scratch, it would be great to have multiple client certificates configured in the Postman settings with the same Host value but different PFX (or other cert) files, with the restriction being that only one can be enabled per host at a time.

[2022-01-19 23:17] postman-support commented on #10434
Appreciate your patience here. At this time we are currently following guidelines/standard from IANA which mentions OAuth Parameters usage location in the `Token Request` only.

Adding it to the auth request would not be following the standard. Our team will be looking into a more customizable Auth to see if it is feasible, but at this time we are following the guidelines mentioned previously. We

[2022-01-19 23:48] Cabrinha2612 opened #10590 "Error with updating cookie through Set-Cookie after Expires or Max-Age time have expired"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

We have an application that sets a cookie through the Set-Cookie  command in the response headers.  This cookie has a relatively short Max-Age of 10 seconds (but the error also happens when Max-Age is longer). Somehow the cookie is not properly set if you run the collection iteratively ever

[2022-01-20 03:42] codenirvana commented on #8168
@pasha-github You need to first whitelist the domain for programmatic cookie access.

<img width="773" alt="Screenshot 2022-01-20 at 9 08 44 AM" src="https://user-images.githubusercontent.com/4865836/150269328-064fa2cf-4549-47ef-836f-c7cad7ae2587.png">
<img width="761" alt="Screenshot 2022-01-20 at 9 09 49 AM" src="https://user-images.githubusercontent.com/4865836/150269336-2b01abc6-2fba-47b5-9a5e

[2022-01-20 04:23] codenirvana commented on #10590
@Cabrinha2612 I am not able to reproduce this issue using the mentioned steps.
Check the screen recording for reference:

https://user-images.githubusercontent.com/4865836/150272671-a9b99f3d-3f40-4dce-8e12-51afd48f6433.mov

Are you trying to set the cookie during the failing collection run?

[2022-01-20 06:16] AradAral commented on #6719
@a85 Any time frame as to approximately when we can expect this feature to be implemented?

[2022-01-20 06:50] alexhass commented on #3019
I need this for non-enterprise, too.

[2022-01-20 09:27] MihaiSprinceana commented on #10460
Same issue on my side as well

[2022-01-20 09:54] AlexanderZheka commented on #448
extra option - you can copy the curl command by clicking `code snippet` icon _(to the right from main working area - see image below)_ and then place \n in curl string directly. After it copy curl and execute it in terminal.

<img width="154" alt="Screenshot 2022-01-20 at 10 52 35" src="https://user-images.githubusercontent.com/64766323/150315463-2acb81c1-1467-4a8e-a05a-4eb821e868cb.png">

[2022-01-20 09:55] aomsweet commented on #5473
Hi, @jviotti @numaanashraf

Are there new plans for this feature? I'm looking forward. Thanks

[2022-01-20 10:21] tahira702 commented on #5261
install Postman standalone

[2022-01-20 12:22] jviotti commented on #5473
Hey @aomsweet ,

Yes, there are! We have some internal designs going on and hopefully we can pick this up soon :)

[2022-01-20 12:28] aomsweet commented on #5473
Wow, great, I've been waiting for this for a long time. Thanks.

[2022-01-20 12:45] webjunkie commented on #9612
Maybe examples could be made "sendable" and possibly "request-only". That would solve it.

[2022-01-20 12:48] numaanashraf commented on #9573
Closing this as v8 and v9 is available on snap. v9 is the default track and will be used for all new installs.

[2022-01-20 12:48] #9573 closed, assigned to nobody

[2022-01-20 13:07] pasha-github commented on #8168
Appreciate the quick response, that helped. While I was aware about the domain whitelisting step, I figured that I was doing it incorrectly which caused the issue. The screenshots were very helpful. Thanks Again!!!

[2022-01-20 13:26] twitharshil commented on #10460
Hey @kpuscas, @ccheatham, @MihaiSprinceana
Could you try Postman v9.9.x and let us know whether the issue is fixed or not? We have done some improvements which should address this particular issue. Let me know, how it goes! You can move your existing application to Postman v9.9.x+ via in app-update or directly downloading it from the [website](https://www.postman.com/downloads/)

<img width="781"

[2022-01-20 13:49] ahlkar commented on #10281
I have seen the same behaviour with JSON syntax highlighting. When passing response size above 20 MB the rendering fails.

[2022-01-20 13:54] saturnsjazz opened #10591 "Code for C# RestSharp is generated incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

With the update to Restsharp v107 most of the client options are moved to RestClientOptions from IRestCleint.  This is how you can instantiate the client using the simplest possible way:

var options = new RestClientOptions("https://api.myorg.com") {
    Timeout = -1
};
var client = new Res

[2022-01-20 14:02] VShingala commented on #10474
@AJ-BM Your use case is certainly achievable with the current import flow with the following steps.

1. Due to many different use cases, we have added options to tweak certain behaviors. Options are as below and can be accessed while importing/generating collections under Show advanced options dropdown.

Make sure you've selected `Example` for the 2 options mentioned in the below image. This makes

[2022-01-20 14:02] #10474 closed, assigned to akshaydeo, umeshp7

[2022-01-20 14:25] ccheatham commented on #10460
I’m already using 9.9.3.  No dice.

[2022-01-20 14:35] kpuscas commented on #10460
Same here. On 9.9.3

[image: image.png]

On Thu, Jan 20, 2022 at 9:25 AM Ched Cheatham ***@***.***>
wrote:

[2022-01-20 14:40] tiolan opened #10592 "GRPC C-Style comments inside messages and services are treated as invalid syntax"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Comments in C-style `/* comment */` are generally valid in protobuf.
https://developers.google.com/protocol-buffers/docs/proto#adding_comments

In the test I used a .proto that as /* comments in front of services and messages - which seem to be fine.
There are also /* comments within a mess

[2022-01-20 15:23] Chadders13 commented on #1066
+1 in the hope it maybe soon

[2022-01-20 16:15] NateSwanson7 opened #10593 "[Postman Agent] Is there anyway to run postman-agent detached from the terminal on linux?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I'm using the new web interface, but I need the postman-app for making requests to my localhost. Everything works as expected, but I'd prefer to be able to run postman-agent in the background? Is there any option I can pass on the cli when running postman-agent so I don't have the process b

[2022-01-20 20:42] jviotti commented on #8823
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5980

[2022-01-20 20:42] #8823 closed, assigned to nobody

[2022-01-20 20:42] jviotti commented on #8765
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5980

[2022-01-20 20:42] #8765 closed, assigned to kamalaknn

[2022-01-20 20:43] jviotti commented on #9072
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5980

[2022-01-20 20:43] #9072 closed, assigned to nobody

[2022-01-20 20:43] jviotti commented on #9193
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5980

[2022-01-20 20:43] #9193 closed, assigned to nobody

[2022-01-20 20:43] jviotti commented on #8754
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5980

[2022-01-20 20:43] #8754 closed, assigned to nobody

[2022-01-20 20:43] jviotti commented on #9345
Merging this with https://github.com/postmanlabs/postman-app-support/issues/5980

[2022-01-20 20:43] #9345 closed, assigned to nobody

[2022-01-20 21:07] jviotti commented on #10593
@NateSwanson7 I believe you could run:

[code]

The `nohup` command detaches the child process from the terminal session.

[2022-01-20 21:34] RafaelTaleroWL commented on #7775
I solved this issue going to postman preferences and changing request timeout and max response size to 0

![image](https://user-images.githubusercontent.com/89103669/150425605-792f3f04-a7e1-4125-8c25-ac63a1310b5f.png)

[2022-01-20 22:16] AndrewGuenther commented on #8213
I'm seeing the 500 behavior as well. My collection file is only 350KB and I get a 500 error 100% of the time, but the collection does actually update. Similar use case to the requester: We want to update a collection from within our CI system. Here's the exact curl request:

[code]

[2022-01-20 22:36] rkulagowski commented on #9186
I'm getting failures when going through the bootcamp; on the Environments module, after setting the variable "environment_type" and clicking Next, nothing happens. I'm not guided to the next step.

[2022-01-21 00:09] tbcarver commented on #6722
Just to validate your workflow for API schema first development.
1. Create an API Schema and make some changes.
2. Click Generate Collection button (well placed on the upper right above the tabs on the api schema page). Now I have a linked collection.
3. Make edits to the API Schema.
4. Ignore Generate Collection (pretend it doesn't exist), go to the documentation tab, look to the right for valida

[2022-01-21 05:31] #10440 closed, assigned to codenirvana, malvikach

[2022-01-21 06:28] coditva opened #10594 "Show raw response for SVG responses"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I want to see the markup for the SVG responses. Currently Postman only shows the rendered SVG image in the response pane with no way to see the raw response.
![image](https://user-images.githubusercontent.com/8445768/150477370-c1

[2022-01-21 06:31] coditva commented on #10490
@randomev @nopeless This is now fixed on the latest Postman app.

@nopeless As for the issue of not being able to see raw response for SVG, I've created a feature request to track it: https://github.com/postmanlabs/postman-app-support/issues/10594. Please feel free to add anything that I might have missed.

Closing this ticket for now. Please feel free to re-open in case of any queries.

[2022-01-21 06:31] #10490 closed, assigned to giridharvc7, coditva, shubhbhargav

[2022-01-21 08:25] MarkusSeb commented on #9114
postman developer are not able to fix this stupid issue.
workaround: use shift-alt mouse click to select slashes and remove

[2022-01-21 09:45] akshaydeo commented on #6719
@AradAral We are releasing this by the end of Feb 2022 🙂. Thank you so much for your patience.

[2022-01-21 10:25] AradAral commented on #6719
@akshaydeo Good to know. Thanks.

[2022-01-21 11:05] mklueh commented on #6722
No, that is not what I meant. I meant "git-like diff" for the changes coming from an OpenAPI endpoint

The way I'd like it to be:

[2022-01-21 12:26] stuprice opened #10595 "Notify after long running API requests complete"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I frequently use Postman to run long running API requests and I'd like to know when they've completed without having to manually check the app (e.g. I work on something else while it's running).

### Describe the solution you'd l

[2022-01-21 14:34] stuprice opened #10596 "On-Going Request Duration"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I use Postman to frequently execute long running requests.  Although once complete it tells me how long the request took, I'd like to be able to see how long it's been running for as it's still executing.

### Describe the soluti

[2022-01-21 23:54] strangesongs commented on #9186
Using Postman v9.9.3 on macOS Monterey 12.1

I've been receiving similar errors for some time now. If I click away from a dialogue box in Bootcamp, the box disappears and I cannot continue with the lesson. Sometimes it seems that the box will disappear entirely if I click outside of the box or do not click NEXT or the item referenced (i.e. MOCK SERVER, GLOBALS, etc) directly.

Hitting RESUME on th

[2022-01-22 14:33] clarkwang commented on #5222
I wrote a simple Python script to sort the exported JSON file and then the sorted JSON can be imported back to Postman. Those who are interested in can give it a try. The script is at https://github.com/clarkwang/postman-sort .

[2022-01-22 14:33] clarkwang commented on #4253
I wrote a simple Python script to sort the exported JSON file and then the sorted JSON can be imported back to Postman. Those who are interested in can give it a try. The script is at https://github.com/clarkwang/postman-sort .

[2022-01-22 17:01] hosseinhojjatyar commented on #10564
Hi @malvikach,
I update Postman (v9.9.3) and it works very well.
Thank you

[2022-01-22 17:02] isc-garza commented on #6926
+1

[2022-01-22 22:44] downdrown commented on #5817
+1 ... my eyes demand this feature!

[2022-01-23 18:42] aagranovExtend commented on #3975
Yes please.

[2022-01-23 19:56] lexyehia commented on #5302
Yeah not sure why this is still an issue, makes Postman look ugly with the menu bar on Windows 11. Switching over to Nightingale until this is fixed.

[2022-01-23 20:12] petersamokhin opened #10597 "OpenAPI 3.0.0: unsupported: securitySchemes -> in"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

OpenAPI specification: https://spec.openapis.org/oas/v3.0.0#fixed-fields-22
The `components` -> `securitySchemes` -> $key -> `in` parameter is not supported.

### Steps To Reproduce

1. Create a GitHub integration
2. Sync by respecting the github file
3. Review the `definitions`

### Screen

[2022-01-23 20:14] petersamokhin commented on #10597
Oh, looks like it's only applicable to apiKey. Sorry.

[2022-01-23 20:14] #10597 closed, assigned to nobody

[2022-01-23 20:14] EagleVee commented on #6001
Still happening on MacOS, version 9.9.3

[2022-01-23 22:13] JoanChirinos commented on #10112
@giridharvc7 Any updates on this issue?

[2022-01-23 23:50] RoyalSix commented on #7348
Just pinging this, as I would also like to see this get implemented

[2022-01-24 01:36] CongAn opened #10598 "Some Chinese in the title are displayed as striped squares"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

1. After updating the system to MacOS Big Sur version 11.6.2, it is found that some Chinese characters of postman (v9.9.3) are displayed as striped squares.
2. Restart the computer and reduce the postman version to V8 12.5 (completely uninstall and reinstall), some Chinese characters are st

[2022-01-24 01:55] perevernihata opened #10599 "Auth2 custom request parameters"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We are using Auth0 as our identity provider. Inside auth0 there is a way to configure custom "connection" (connection is the relationship between Auth0 and a source of users - https://auth0.com/docs/authenticate/identity-provider

[2022-01-24 01:56] postman-support commented on #10362
Hey @junior,

I hope all is well! I just wanted to follow up on my previous message.

Please let me know if you are still facing this issue. Otherwise, I am going ahead and close this issue for now.

Have a great day and thanks for using Postman!

via @taehoshino | Postman Support

[2022-01-24 04:39] akshaydeo commented on #10588
@arattur We are looking into this issue.  I will keep this issue updated 🙇

[2022-01-24 04:46] akshaydeo commented on #9762
@DanDepot I know it's almost a year since you raised this issue 🙁 .
We have fixed this issue from our end; could you test and confirm 🙇.

Closing this issue for now, but feel free to re-open if things are still not working for you 🙂

[2022-01-24 04:46] #9762 closed, assigned to akshaydeo, Dhembla

[2022-01-24 04:59] akshaydeo commented on #10093
I am closing this issue for now. We will update this issue with the new UI-based solution when it's out (which will be pretty soon 🕺 ).

[2022-01-24 04:59] #10093 closed, assigned to akshaydeo, Dhembla

[2022-01-24 05:14] akshaydeo commented on #9467
👋 @haoj-loy I am closing this issue for now as we have a hard limit on the max size of the payload 🙇 . Feel free to re-open if you have any questions/concerns 🙂 .

[2022-01-24 05:14] #9467 closed, assigned to akshaydeo, Dhembla

[2022-01-24 05:19] akshaydeo commented on #9369
👋 @mrsGehred We are currently working on a revamped version of mocks, which is releasing in Q2 2022 would address this feature request 🙇 cc @Dhembla

[2022-01-24 05:22] akshaydeo commented on #9249
👋 @freddycoder We are working on a revamped version of mocks that should cover this feature request 🙂 that will release in Q2 2022. I will keep this issue updated 🙇 cc @Dhembla

[2022-01-24 05:48] Alihaider168 commented on #8195
recommending to add auto save feature in your next update ...

[2022-01-24 05:49] shubhbhargav commented on #9587
Hi @praveendvd, apologies for a long delay in responding here.

Are you still facing this issue? If yes, can you please share the following info:

- When you set the variable via `pm.environment.set(...)`, does the initial value get updated for the environment or does the current value change? **Currently pm.environment.set is supposed to update the current value in order to honour the execution c

[2022-01-24 06:22] shubhbhargav commented on #1066
Hey everyone, we are actively working on prioritizing this. The tentative timeline is by the end of this quarter. I will share more details in the upcoming weeks. Really appreciate the patience. :)

[2022-01-24 06:44] shubhbhargav commented on #7775
@cmonroeEIS @testerncoder Are you still facing this issue?

[2022-01-24 07:06] shubhbhargav commented on #10596
@stuprice Really appreciate the feedback. :)

Can you please share some more details around this, specifically the following?

1. Are these long running APIs owned by you? If yes, are they designed to take time?
2. Given the timer for the request execution, are you planning to halt the request if it crosses a certain threshold?

[2022-01-24 07:08] twinsant commented on #9021
Why not?

[2022-01-24 07:10] taozi0818 opened #10600 "Parse request body error using `import request`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

OS: MacOS
Postman Version: 9.0.9 (9.0.9)

When a field in request body contains JSON string, Postman can't parse JSON string correct by import request.

### Steps To Reproduce

1. Create request by `import request`
2. Select tab `Raw text`
3. Paste raw text
4. click button `continue`
5. cli

[2022-01-24 07:11] #10564 closed, assigned to malvikach

[2022-01-24 07:12] malvikach commented on #10564
@hosseinhojjatyar glad it works now!! Please feel free to write to us if you face any other issues.

[2022-01-24 07:17] biaomingzhong commented on #9174
What about Pure Functions

[2022-01-24 07:18] shubhbhargav commented on #6001
@EagleVee In order to debug further, can you please share the steps to reproduce it? (preferably a screenshot / video where you have selected the environment with the variable but it's failing when you send the request)

[2022-01-24 07:22] shubhbhargav commented on #10112
@semangard  @JoanChirinos Really appreciate the patience folks. We are expecting some delay in getting this done. The tentative timeline is mid-March. We will share explicit timelines within the next 2-3 weeks.

[2022-01-24 07:30] praveendvd commented on #9587
@shubhbhargav  Thanks for looking into this , yes the issue was when we can update initial value of env var . Now its not possible so this use case is not supported. But it would have been helpful to update var dynamically and modify response. But another challenge would be that , how this will work with newman

[2022-01-24 07:48] postman-support commented on #10598
Hey @CongAn,
Sorry to see you running into this issue.
We have tried replicating this on macOS Big Sur version 11.6 with the latest version of Postman but were unable to.
Attached is the screen record of what we have tried.

After initial searches, I suspect this is coming from mac: https://discussions.apple.com/thread/1246920.
Not completely sure.

Could you try updating Postman to the latest ver

[2022-01-24 08:25] Merati22 commented on #2559
Same Problme!
Thre Only Solution that works for me was restarting computer..!

[2022-01-24 08:47] giridharvc7 commented on #10595
Thanks for sharing this - Are these requests long running because of pre-requests/test scripts?
Also are these run primarily via the request sending flow or using Collection Runner?

[2022-01-24 09:56] VaishnaviChallaPostman commented on #10577
@olegv2022 Could you please confirm if the "Always open requests in new tab" option from the Settings > General tab is toggled ON? If not, can you toggle it ON to see if it affects anything?
![image](https://user-images.githubusercontent.com/76939396/150760964-3600ba4b-dda1-491b-9c09-339ef92430fe.png)

[2022-01-24 10:39] olegv2022 commented on #10577
Yes, the option wasn't set. I change this and Environments are opened in the tab. But I didn't change the option before and a few versions ago it worked.

[2022-01-24 12:16] stuprice commented on #10596
Sure no problem:
1. Yes they are owned by me and they are expected to take a long time.  They are typically ad-hoc in the sense they usually part of a data migration or system upgrade.  For example when I raised this request, I was re-exporting a load of company data from a customer's system into Zoho.  It's the kind of one off task that's not really possible other than to create a bespoke API in

[2022-01-24 12:19] stuprice commented on #10595
No they are long running because I am using Postman to execute my own bespoke API to do something like a data migration.  They are therefore a single request, not part of a collection or test script.

Please see a related request with more details here:
[https://github.com/postmanlabs/postman-app-support/issues/10596](https://github.com/postmanlabs/postman-app-support/issues/10596)

Thanks

[2022-01-24 13:23] HagnMarkus commented on #8478
Just a thought - even though the ticket has been closed for a long time:I think that copying and synchronizing / sharing are two different things.  I actually already expect to get a duplicate including "current values" when copying. It is still in my area and therefore not yet subject to any security aspect. Too bad, this makes working with environments very cumbersome.

[2022-01-24 14:54] postman-support commented on #10565
Hello @apuri123,

I hope you're doing well. I'm checking in if you had the chance to go through our last reply?
If yes would you be able to let us know if we're missing anything in the replication steps, as we were unable to replicate the certificate issue on our end?

Thank you.
via @nasco-a | Postman Support

[2022-01-24 14:59] muhammedOzbilici opened #10601 "Remove whitespaces at the end of url"
### Is there an existing request for this feature?

- [x] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

If url is copy pasted and contains whitespace, then postman gives "url not founded" kinda outputs.

### Describe the solution you'd like

If url copy pasted and contains whitespace, trim those characters would be great. (why some

[2022-01-24 15:07] Kabennsky commented on #6683
Having access to the saved examples in the Tests Section would be so usefull for testing.
Then we could easily compare received response with earlier saved once to detect diffs in the api.
At the moment i do work arrounds with saving the example responses additional as string in the tests section.

[2022-01-24 16:16] proshin-roman commented on #5817
+1 That's just a nightmare: I have a small app sitting in the tray that I can just click, and the whole system switches between light and dark modes. I usually switch to the dark mode in the evening, and all apps (I'm a web java developer) switch to the dark theme too except one - Postman. This has already prompted me to explore other apps similar to Postman. And I want to say: Postman is the best

[2022-01-24 16:31] ilan274 commented on #8195
Please add auto save asap.
It would help so much! :)

[2022-01-24 16:49] emaayan commented on #8195
i just came here to encourage everyone NOT to lose hope, for example intellij had a feature request with 200 votes ,
sure it took them 17 YEARS(!) to get around to it, but they did it...
https://youtrack.jetbrains.com/issue/IDEA-160167

[2022-01-24 17:24] perevernihata commented on #10599
in real application - yes, but not through postman - I tried to add `&connection=XXX` to some of the existing parameters, but postman is too smart - all data is URL encoded

[2022-01-24 17:46] Mavsousa30 commented on #8701
Worked for me too.

[2022-01-24 18:13] cdanielsen commented on #10407
@giridharvc7 was wondering if you had any thoughts on this / if there's any place for it on the PM roadmap?

[2022-01-24 23:50] ConductorPete commented on #5816
This is pretty much the only tool that I can't use on my Arch Linux ARM daily driver now. I've had to move to Hoppscotch in the meantime.

[2022-01-25 02:58] navinjd commented on #9086
This feature request was raised long back and currently there are more and more people are using rest assured for api testing. Is it possible to give priority to this feature?

[2022-01-25 04:27] etgregor opened #10602 "Filter variables"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It would be very helpful to be able to filter variables by name/values.

I have to configure many variables ( more than 50), and sometimes i try to reuse a variable, bus this work is complicated because y cant find an specific va

[2022-01-25 04:34] etgregor commented on #3078
I just add https://github.com/postmanlabs/postman-app-support/issues/10602 ( filter variables too), I wish in 2030 postman team can add this simples features

[2022-01-25 04:51] etgregor commented on #10602
![2022-01-24_17-10-10](https://user-images.githubusercontent.com/6732389/150913071-872e8592-f5a7-4b73-8fbe-f66279494f92.png)

[2022-01-25 04:57] ravikantdos commented on #9086
Good to have this feature, however now I have switched to postman only. I find it sweet and simple.

[2022-01-25 05:42] malvikach commented on #10602
@etgregor thanks for writing to us. Variable filtering is in our radar. However, I can't promise an ETA yet.

While our team picks this up, we would like you to try out postman on [web](https://www.postman.com/) On the web, you could utilize the browser (CMD+F) for this.

Please feel free to let us know if you are facing any other issues while working with postman.

[2022-01-25 05:59] Dhembla commented on #10553
@yurii2004 Thank you so much for reaching out to us. Postman currently allows saving a maximum of 5MB of data as example responses. You can read more about examples here - https://learning.postman.com/docs/sending-requests/examples/#adding-an-example.
Can you please help us understand your use-case as to why you want to store larger responses? cc @giridharvc7 @malvikach

[2022-01-25 06:53] giridharvc7 commented on #10601
Thanks for the feedback @muhammedOzbilici.
We'll see how we can fit in trimming whitespace into our request sending flow.

The URL textbox does have a way to show any whitespaces, but the contrast is very low right now. We will take this as a bug and fix it, which should make it more obvious for you to catch whitespaces in the URL
<img width="912" alt="Screenshot 2022-01-25 at 12 21 52 PM" src="ht

[2022-01-25 07:09] TheArKaID commented on #6999
It's one year since the last contributor responding here. I just wondering why it's so hard to make it off permanently ? It should be as easy as toggling a switch button with true or false value, isn't it ? Why are you guys even recommending a workaround by editing the hosts file instead of adding a simple-small-switch-button in the Setting ?

[2022-01-25 07:12] Stevemoretz commented on #6999
Because we don't work here, we're just like you but found a way so we share it so other people can use it too.

[2022-01-25 07:39] german-chacon opened #10603 "Select File in collection runner always shows same folder instead of last used folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Whenever I try to use a csv data file in the collection runner, I am always directed to one specific folder. I would like to use the last used folder so that I do not have to change to the folder I need every time I want to change the data.

I have tried to search on the Postman Settings, b

[2022-01-25 09:08] zohar-soul commented on #10569
same issue

[2022-01-25 10:25] UjjualUSspericorn commented on #9513
Have they fixed this issue ?

[2022-01-25 10:56] Naif95 commented on #9513
No

On Tue, Jan 25, 2022 at 1:25 PM Ujjual.US ***@***.***> wrote:

[2022-01-25 11:51] Uugsx commented on #10179
That's not what I meant. I want to import a wsdl so that the query structure is loaded immediately (a bare array of the query). How it is done in SOAPUI.

Now when I download the wsdl by the link, a RESPONSE MESSAGE is automatically generated for me, and not the REQUEST BODY ITSELF.
Do the same as in SOAPUI and there will be no price for you, my colleagues and I will be ready to switch to your sof

[2022-01-25 11:52] Uugsx commented on #10179
That's not what I meant. I want to import a wsdl so that the query structure is loaded immediately (a bare array of the query). How it is done in SOAPUI.

Now when I download the wsdl by the link, a RESPONSE MESSAGE is automatically generated for me, and not the REQUEST BODY ITSELF.
Do the same as in SOAPUI and there will be no price for you, my colleagues and I will be ready to switch to your sof

[2022-01-25 13:13] karsep5 opened #10604 "Proto file import from chromium not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Importing proto files from chromium source code throws error https://source.chromium.org/chromium/chromium/src/+/main:components/autofill/core/browser/proto/server.proto

There was an error while importing the protobuf definition. Go through the details to know more.
Error: illegal token 'm

[2022-01-25 14:45] jviotti commented on #5816
Hello everybody, we are doing some evaluation of whether we want to properly support ARM. What devices, specific architectures and Linux distros are you guys running?

[2022-01-25 14:46] jokaorgua commented on #5816
I'm running Linux Ubuntu 20.04 ARM in parallels VM on mac os Monterey 12.1

[2022-01-25 14:47] jviotti commented on #5816
After reading this thread again, looks like many users are on Chromebook's. How would you feel about a true native ChromeOS app vs a Linux ARM app?

[2022-01-25 15:01] vasani-arpit commented on #5816
Native ChromeOS for me because I can barely run VScode on Linux Arm. I don't know why but it is something about crostini which  is affecting the performance or something. Can't be bothered to go deeper into the issue so I changed ARM vscode to vscode.dev and used postman's web version. but native app will help a lot.

[2022-01-25 20:26] noahmonster opened #10605 "Description column selection does not persist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When using the Params or Headers tab for a request, I want to hide the "Description" column. I can do this just fine. However, the selection of this value seems to only stay around until I quit the application. When I start the application back up, the "Description" column shows up again.

[2022-01-25 21:26] vlad0337187 commented on #5970
As I understand we should just specify 2 variables instead of one.
Why not 3 or 4 ?

[2022-01-25 21:34] brendan-zeus commented on #5552
This would be great and bring environments to parity with collections. The activity log is helpful but you still need out-of-band communication to actually figure out what was changed.

[2022-01-25 22:26] ramji367 commented on #7650
Since Collections can [no longer be shared](https://blog.postman.com/collaborating-postman-workspace-roles/) between workspaces, this issue is not relevant anymore. Hence closing.

[2022-01-25 22:26] #7650 closed, assigned to nobody

[2022-01-25 22:33] deepumukundan commented on #6001
I had the same issue on macOS client 9.10.1 of Postman. After some troubleshooting, deleting and creating variables etc I think it is because of how the environment variable is saved the first time is causing this issue.

See screenshot below
1. Create env var, Assign an initial value, save - No issues, also Initial value is copied to current value
2. Redid step 1
3. Create env var, save, then ass

[2022-01-26 00:44] olivermonaco commented on #10535
I am currently experiencing this issue. What is the criteria for "The /environments endpoint returns a list of all environments that belong to you.."? I tried subscribing and watching multiple collections that I have access to, but can only access one collection. Thanks in advance

[2022-01-26 00:54] CongAn commented on #10598
@VaishnaviChallaPostman

[2022-01-26 01:05] srajamohan commented on #10426
This is the worst decision to restrict the users to detach console. What benefit it is providing to Postman? I can see slowly moving towards monopoly

[2022-01-26 01:19] junior commented on #10362
Hello, just tested with the v9.10.1 and worked.
<img width="469" alt="image" src="https://user-images.githubusercontent.com/551007/151086929-ab6364e1-54e2-4ff7-80e8-c00b9e874b54.png">

Many Thanks @taehoshino @postman-support

I'm closing the issue now.

[2022-01-26 01:19] #10362 closed, assigned to codenirvana, postman-staff

[2022-01-26 01:30] shraddhakul commented on #9352
I have been working on setting up Postman POC for api automation framework.So far I have have been leaning towards Postman and advocating this tool for the use of api automation in our company.
Our team certainly has major concerns around lack of this feature of syncing up workspace with github and have been suggesting Insomnia tool as an alternative.  Do you have an ETA as to when this feature wi

[2022-01-26 04:28] michael120288 commented on #9429
I have the same issue!!!

[2022-01-26 04:45] michael120288 opened #10606 "<<Cannot open request>>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I updated Postman for the latest version and now my Postman cannot open any requests.  MacBook Pro m1 Max

### Steps To Reproduce

1. Open Postman
2. Open Workspace
3. Open any collection
4. Open any request

### Screenshots or Videos

_No response_

### Environment Information

[code]

###

[2022-01-26 06:34] shubhbhargav commented on #10600
@taozi0818 Thanks for reporting the issue. I tried reproducing it on the latest Postman app 9.10.1 and wasn't able to reproduce it. Can you please try upgrading the app and see if the issue is persisting at your end?

I am sharing a reference recording below to verify if I followed the right steps:
Uploading Github-10600.mov…

[2022-01-26 07:36] taozi0818 commented on #10600
@shubhbhargav Thanks for your reply. It works on App(Version: `9.10.1`) !  I found this issue after `check for updates`  a few weeks ago, but didn't create issue at that time. I remember this bug a few days ago, so create this issue without upgrade. I'm sorry about this.

[2022-01-26 07:36] #10600 closed, assigned to nobody

[2022-01-26 10:58] alexbernotas commented on #6682
Waiting for this feature

[2022-01-26 11:47] afattahi54 commented on #1180
I found a solution at: [](https://postman-quick-reference-guide.readthedocs.io/en/latest/libraries.html#custom-libraries)

[code]

[code]

[2022-01-26 12:38] Akash402 opened #10607 "An option to choose both SOURCE and DESTINATION values of collection variables while resolving conflicts of a PR"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently, I can't find a way to to select both `SOURCE` AND `DESTINATION` values of a collection variable whenever there's a conflict in pulling changes into a forked collection or while a PR is created. A conflict is bound to h

[2022-01-26 12:56] STeeL835 opened #10608 "A button to send requests from examples"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Examples can show how you, the API user, can use a certain path to do different things and show you what you can get.
You can also use examples to save certain requests and responses to review them later, and they are nicely hidd

[2022-01-26 13:01] STeeL835 commented on #10608
sorry, right after I posted this, I found #3694

[2022-01-26 13:01] #10608 closed, assigned to nobody

[2022-01-26 13:07] STeeL835 commented on #3694
Come on, this is almost a must-have. An additional button that would copy request from an example to a new tab related to the example's postman request. Postman already can handle different tabs for the same saved request, this would just open a new one.
And it would help with organizing collections, because you wouldn't need to save the slight variations as separate requests.

[2022-01-26 13:11] shjyh opened #10609 "Could't import protobuf definition from wsl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

![1643202454(1)](https://user-images.githubusercontent.com/7910808/151168370-c52fae81-a2e8-41ae-afb3-ec0e3c7ba65d.png)

### Steps To Reproduce

1. import protobuf definition from local file
2. select file in wsl
![image](https://user-images.githubusercontent.com/7910808/151168606-d34de19e-9

[2022-01-26 13:16] STeeL835 commented on #10184
I have these suggestions:
* Move the tabs to the top (like in browsers), or rearrange panels to the left and to the right - to make more room for them horizontally
* make a setting to make ctrl+tab cycle through tabs in recently used order (like alt+tab or like in Firefox)
* Set a minimum width for tabs that will allow to show at least 2 words instead of 1 letter (like in Firefox again - they even

[2022-01-26 15:42] fclante commented on #8769
Atlassian has decided to end support for server products : https://www.atlassian.com/migration/assess/journey-to-cloud

[2022-01-26 15:42] Roboticol opened #10610 "Cannot start postman due to cannot perform operation: mount --rbind /dev /tmp/snap.rootfs_2v5AbY//dev: No such file or directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I was installing postman on my ubuntu 20.04 using `sudo snap install postman` but when it was installing I may have accidentally shut down my os.
when I started postman from my terminal it gave me this error:
`mount --rbind /dev /tmp/snap.rootfs_qMkgOg//dev: No such file or directory`

I Tr

[2022-01-26 17:20] coder-free commented on #4808
@codenirvana Hi, is it possible to add a method to change the response too?
like this:
[code]

[2022-01-26 18:04] coreyog commented on #9518
A year on and this is still happening.

[2022-01-26 18:45] ezebinker commented on #4671
It's 2022. Come on...

[2022-01-26 19:37] TMFRook commented on #8195
+1!!!

[2022-01-26 20:13] dylantack commented on #4488
Yes, it seems to have regressed. Theres another open issue: #8731

[2022-01-26 21:11] alec-irl commented on #7179
Don't get why this is still an outstanding issue. What exactly is the desired way for this to work? Because as a user I'm having a hard time understanding.

[2022-01-26 22:31] NathanBenz commented on #4033
Perhaps instead of thinking about this at a "global" setting, can we not just have it as part of the hierarchical settings for each workspace?  That way the certs for a workspace or for a folder or for an individual request are just set at that level like any other comparable setting.

[2022-01-27 05:01] malvikach commented on #9518
@coreyog @silverbullettruck2001 We have taken note of this behavior need. I do not have an ETA to share as yet to build this. I agree this would be a really helpful feature to quickly understand what value resides in a variable.

For the time being, I would request you to watch the attached video and use it as a workaround until this behavior is supported.

![image](https://user-images.githubuserc

[2022-01-27 05:14] shubhbhargav commented on #6886
@KKaranja @alchemist123 @jasAtPing This could be a different issue. In-case you are still facing it, can you please open a new issue?

[2022-01-27 06:29] VShingala commented on #8461
@joelasaxton As suggested in [OpenAPI spec](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#fixed-fields-10), Headers like `Accept`, `Content-Type` and `Authorization` are supposed to be ignored. Due to this, we have changed the default behavior of not including these headers.

You can still include these headers by turning on an option named `Keep Implicit Header` that is

[2022-01-27 07:24] svenbeck27 commented on #5222
+1

[2022-01-27 09:34] DannyDainton commented on #8936
Closing this issue due to lack of information - If the issue can be reproduced on the latest version we can look to open it again.

[2022-01-27 09:34] #8936 closed, assigned to giridharvc7

[2022-01-27 10:43] postman-support commented on #10565
Hello @apuri123,
I hope that you are doing great.

Since we haven't heard from you in a while, and we fail to reproduce the issue I will go ahead and mark this ticket as **Closed**

If any further questions or issues arise, please do not hesitate to reach us back at any given time.

via @nasco-a | Postman Support

[2022-01-27 11:23] STeeL835 commented on #8077
We get around this by using NSwag (or Swashbuckle, but we need to generate C#/TS clients too) to generate openAPI spec, that we later can use to generate the collection.

The problem here is that Postman is built around editing the api/collections in the app only, has forks, teams, apis, etc, when our reality is generation of spec/collection using our methods (NSwag in our case + combination of sc

[2022-01-27 11:33] postman-support commented on #10598
Hey @CongAn,

As the Web Version works, I'd first recommend ensuring your work is synced: https://go.postman.co/me/collections before trying the following:
=> https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-
You'll want to try the steps to remove local data.
**As mentioned previously, please ensure your work is synced via the web version.*

[2022-01-27 11:49] jviotti commented on #10610
Hi @OishikGuha ,

That seems quite strange! What I'd suggest is:

- Delete Postman through `snap`
- Stop the `snapd` service
- Clear the Snap cache using `sudo rm -rf /var/lib/snapd/cache/*`
- Potentially delete Snap-related files in the temporary file system: `sudo rm -rf /tmp/snap.*`
- Start the `snapd` service again
- Try installing Postman again

It might have been that shutting down the compu

[2022-01-27 14:28] ghost opened #10611 "Input from user"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Is there any possibility to have a prompt for a value from an user? Imagine I have MFA in my authorization endpoint which needs to be enabled for the user for the methods I like to test, there is no way I can write a test for it

[2022-01-27 14:32] DannyDainton commented on #10611
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/285

[2022-01-27 14:32] #10611 closed, assigned to nobody

[2022-01-27 15:52] Keki91 commented on #10517
It was running as an admin.

However, it's started working automatically again as soon as it installed an updated version about 3 days later.

[2022-01-27 16:08] alexkev commented on #7596
+1

[2022-01-27 16:32] kskilt commented on #9186
Following up that this still exists. Selecting environment at 56% is the last directed task before the lesson stops leading

[2022-01-27 16:50] graham-saunders commented on #9552
@Raja-Simha any updates on this? My company's logo isn't 1:1 so it looks extremely odd in Postman. Thanks!

[2022-01-27 16:53] OishikGuha commented on #10610
@jviotti Thank you for the reply, I will try that out.

[2022-01-27 17:30] akokov commented on #6356
issue still present and no example how to solve it

[2022-01-27 17:53] minoseah629 commented on #6356
@akoko, I haven’t tried. But it was 3 years ago.

[2022-01-27 19:41] ChrisRo89 commented on #8769
@fclante Atlassian still Sells there Data Center Products as alternative: "Support for Atlassian Server products ends on February 2, 2024, but you can stay supported and benefit from continued innovation by migrating to our Cloud or Data Center products." [https://www.atlassian.com/migration/assess/journey-to-cloud] which means there are still Bitbucket On-premise and this options is still interes

[2022-01-27 20:36] #10565 closed, assigned to postman-staff

[2022-01-27 21:12] rwilliams3 commented on #1066
This would be especially helpful when capturing requests via Proxy or Interceptor. Postman automatically saves all requests to the specified collection with no easy way to bulk delete or move endpoints that are needed/unneeded.

[2022-01-27 22:14] ryancabanas commented on #6926
+1

[2022-01-27 22:29] apptio-milarsen opened #10612 "Using _ => {} function notation rather than () => {} in pm.test causes test not to show up in tests results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When writing postman tests, if you use underscore for the "empty parameter" notation on the test callback function:
`pm.test("Some test", _ => { pm.response.to.have.status(200); })`
the code inside the test callback function will run, but will not show up in Postman's test report.
This occu

[2022-01-28 06:12] giridharvc7 commented on #10605
@noahmonster thanks for reporting and apologies for the trouble. Can you confirm if you are saving the request after updating the description?

[2022-01-28 06:25] Dhembla commented on #10552
Hey, @ssallmen Thank you so much for reaching out to us. We have released a fix for this issue yesterday and your mock server should work as expected by now. Please give it a try and let us know if the problem is resolved for you.

[2022-01-28 07:12] postman-support commented on #10606
Hi @michael120288,

Could you please try clearing your local cache for Postman, to see if that helps - as it might be a local issue with the installation?

Before clearing your local cache, please verify once in the web application that all of your data is synced, and in case you can see all of your data on the web, please follow the steps listed below :

**How to clear/rename Postman's local file

[2022-01-28 08:06] vinitajag opened #10613 "Postman should send notifications to a specific Slack Channel"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

We have created a Public Workspace on Postman and want comments received on the Workspace to be relayed to a dedicated Slack channel on our official Slack workspace.

We followed this article - https://learning.postman.com/docs/i

[2022-01-28 08:28] ssallmen-pro commented on #10552
Thank you for the fix. I tested it and it seems to work now like it should. I mean, query parameters with for example %5B and %5D characters, and hopefully also any other characters presented like that, will give the same result as if I use the same characters as such ('[' and ']' in this case). Didn't do any regression testing though, but at least my case is not solved.

[2022-01-28 08:29] Johnnyevans32 commented on #7399
this fucking worked! thanks chief

[2022-01-28 08:32] ssallmen commented on #10552
Sorry, was logged in with my other account when writing the comment above. But, it works now, like my other account said above 😉 Thanks!

[2022-01-28 10:44] shubhbhargav commented on #2559
@Merati22 Is this a recurring problem for you? If yes, can you please file a new ticket with some more details about the OS as well as any particular steps to reproduce the issue?

[2022-01-28 10:47] shubhbhargav commented on #9587
@praveendvd I would recommend to use the public APIs (for environment) to update the environment after the execution is finished (or at the time you would like the environment value to reflect on the mock / server side).
Here is a reference for the same: https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-9f175bea-1df5-44e6-af33-bf2de7f85bb5

Let me know if this sol

[2022-01-28 11:27] MattA48 opened #10614 "GraphQL SDL support for repeatable directives"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I am trying to consume our GraphQL schema generated by .NET / HotChocolate library and it's failing due to not accepting repeatable on a directive

### Describe the solution you'd like

Support for repeatable on directives for Gr

[2022-01-28 13:40] ghost opened #10615 "One integration should be able to be applied to multiple monitors"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Several different teams at my company are using Postman with several different monitors. Each team wants all of their monitor failures reported into a specific channel for them in Microsoft Teams. For example: All of Team A's mon

[2022-01-28 14:14] malvikach commented on #10586
@jroratorio Thanks for the details. I was able to replicate this issue on my end. Seems like this is specific to the web version of Postman. We will look into the issue to get a better understanding of the root cause.

[2022-01-28 14:34] Hashimlokasher commented on #7350
Issue still present on v9.11.0

[2022-01-28 15:43] reinaldorossetti commented on #4341
I have the same problem, I consider it as a bug critical because it stops my tests from running.

[2022-01-28 16:13] Beckfield commented on #10515
A disappointing lost feature.  I hope this is implemented soon.

[2022-01-28 17:37] Diomeh commented on #8455
Has anyone managed to solve this issue? Can confirm it still happens on postman v9.11.0 running on Windows x64

![image](https://user-images.githubusercontent.com/37487744/151594778-a6e6cdd8-7c45-476d-bfba-ce5e7a984c91.png)

As I couldn't find a way to solve it, I worked my way around it converting the JSON to valid `key:value` pairs and using the bulk editor

[code]

Produces:
[code]

This way th

[2022-01-28 18:13] khessels opened #10616 "changes in collections resulting from Moving directories are not saved"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have 2 main directory trees within a collection (trees are called V1 and V2)
When i create a sub directory in one tree, all goes well. When i restart the app and move sub dirs from one tree to the other and then restart the app, the move changes have not been persisted.
Seems like changes

[2022-01-28 22:50] olivermonaco opened #10617 ""GET /collections" is not listing all collections from all workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I believe this duplicates https://github.com/postmanlabs/postman-app-support/issues/10535 but this issue has been closed without resolution.

I'm only getting one result when executing the following code, and there should be more than eight results.

`curl --location --request GET "https://

[2022-01-29 02:14] larspaulsen opened #10618 "Postman's gRPC functionality to support HTTP/3 (QUIC), as the underlying transport mechanism."
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

If a given system uses the newly support HTTP/3 channel configuration then Postman's current TCP only implementation can not provide any usefulness.

### Describe the solution you'd like

The solution is for Postman's gRPC functi

[2022-01-29 10:17] kamil-bednarek commented on #7885
Same here. Unfortunately generator doesn't support error codes. Only error description is visible to viewer.

[2022-01-29 13:13] garvit-joshi opened #10619 "Postman Not able to start Up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When starting postman, it does not start:
[code]

### Steps To Reproduce

1. Postman Does not open, on clicking on App as well as terminal

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

_No response_

[2022-01-30 15:37] rnarv009 commented on #10603
I'm also facing the same issue

[2022-01-30 18:37] fidesachates commented on #6001
this needs to be reopened. Having this issue now.

[2022-01-31 00:49] sonam-selectsoftware commented on #7052
+1

[2022-01-31 03:27] leftbin-swarup commented on #10533
also it should be possible to disable hostname verification to support private certificates which is not supported in [BloomRPC](https://github.com/bloomrpc/bloomrpc) but is supported in [Wombat](https://github.com/rogchap/wombat)

[2022-01-31 04:12] VaishnaviChallaPostman opened #10620 "Cookies not passed as expected with the Special-Use domain names like .local"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Cookies are not working as expected with the Special-Use domain names like `.local`

### Steps To Reproduce

Update the /etc/hosts and send requests to the example `.local` requests.

### Screenshots or Videos

_No response_

### Environment Information

[code]

### Additional Context?

Log

[2022-01-31 04:20] shubhbhargav commented on #10596
Got it. Thanks for the info @stuprice. I am marking it as a feature request internally for now.

[2022-01-31 04:45] shubhbhargav commented on #10407
@cdanielsen Thanks for the feedback. Have you tried using the current values within the environment to avoid syncing the data? (ref: https://learning.postman.com/docs/sending-requests/variables/#specifying-variable-detail)

This way, you should be able to:

- Share the environment without sharing the variable values
- Keep the data / values local without sharing it

[2022-01-31 04:58] abhijitkane commented on #10615
Thanks @DougMurphyAbrigo - this is something we have on our roadmap. I agree with the workspace association being a limitation. In your example, do Team A and Team B use the same MS Teams "account", only with different channels to send monitor results to?

[2022-01-31 05:05] abhijitkane commented on #10613
Thanks @vinitajag. Does the team currently use the activity feed on the 'workspace overview' tab?

[2022-01-31 05:21] ConductorPete commented on #5816
My vote is for Linux ARM app, and I dare say you'll be seeing an influx of Linux ARM users once Asahi Linux becomes usable as a daily driver on M1 Macbooks. Seems like that timeline is about 3-6 months.

[2022-01-31 05:23] abhijitkane commented on #9352
@shraddhakul In a recent release (https://blog.postman.com/the-reimagined-api-first-workflow-for-developers/), we support syncing to GitHub at an API level. There are two changes from the older collection-based backup integration:
1. Adding collections to an API lets you tag older snapshots as "releases", enabling easier rollback
2. Commits to the repository need to be triggered manually. This avo

[2022-01-31 05:26] shubhbhargav commented on #10535
@olivermonaco Can you please reach out to us via `help@postman.com` and share more details about the issue, specifically around which collection are you unable to access via the `GET /collections` endpoint?

[2022-01-31 05:27] 5thdimensional commented on #9766
@brgrz with our v9 release last September we introduced [bi-directional sync of API assets between Postman and source code repos](https://learning.postman.com/docs/integrations/available-integrations/github/#syncing-your-api-schemas-on-github) (e.g. GitHub, Gitlab, Bitbucket, etc.). I wanted to touch base to see if you've had an opportunity to explore this feature? This feature addresses some of t

[2022-01-31 05:35] shubhbhargav commented on #4808
@coder-free Can you please provide a use-case where you need to update the response?

[2022-01-31 06:06] umeshp7 commented on #9941
@arghyaiitb Thanks for reporting this.

We have noted this internally and will be tracking this. There is no way to clearly identify that its a GraphQL request just using the cURL command unless we look into the content. We can try to _guess_ that its a graphql request by parsing the content of the `data-raw`. Currently the data-raw of curl command is mapped to a Raw body in Postman.

Having said

[2022-01-31 09:24] hongaar commented on #3731
This seems to be missing from the [new public roadmap](https://github.com/postmanlabs/postman-app-support/projects/45?fullscreen=true) now. Is this still on the radar @Raja-Simha or should we start considering alternatives? Would be good to get an update on this so we can plan for the future.

[2022-01-31 09:58] viktorvorobev opened #10621 "Socket.IO message without arguments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have a Python project that utilizes Socket IO API. I have a bunch of methods that process Socket IO events without arguments, e.g.:
[code]
But I can't do that with Postman, because currently it won't let me send a message witho

[2022-01-31 10:06] postman-support commented on #10598
Hey @CongAn,
Hope you are doing good!

I was wondering if you have had a chance to look at my previous comment? :)

via @VaishnaviChallaPostman | Postman Support

[2022-01-31 10:58] bpedro commented on #10617
Hi @olivermonaco,

Can you access the collections individually, e.g. by performing a `GET /collections/{collectionId}`? If not, what is the error message that you receive?

Thanks!

[2022-01-31 11:31] sombek commented on #4396
Still no update?

[2022-01-31 11:37] RaisinTen commented on #10619
Are there any Postman processes running in the background? If there are any, could you terminate them and rerun Postman and let us know how it goes?

[2022-01-31 12:11] RaisinTen commented on #10619
Can you also check if `~/.config/Postman/storage/settings.json.lock` exists or if it's a directory?

[2022-01-31 12:32] poddubitskya commented on #1180
Yup, strictly speaking you can load an external JS file

It could be cool though to use a bunch of external libraries securely, have some version tracking (ain't a dreamer?) and setting up a reusable reference once per collection

[2022-01-31 13:42] DougMurphyAbrigo commented on #10615
@abhijitkane That is correct. In my example, Team A and Team B are both teams at Abrigo and we all share the same Microsoft Teams instance. These channels will _very_ likely be in different Microsoft Teams teams, but I don't imagine that would be a factor that needs to be worried about since the integration should rely solely on the webhook URL anyway.

[2022-01-31 15:10] dractw opened #10622 "Empty tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After arestart there is a couple of used previously tabs doesn't load and unable to force close.

### Steps To Reproduce

1. Create a tab
2. Create a tab duplicate
3. Restart Postman

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/10141593/151818775-5a6d5e5c-7

[2022-01-31 16:49] moashxer opened #10623 "No GRPC option in my postman"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hi,

I am using the postman v9.11.0 free version, there is no GRPC option available in my app
Reference: https://blog.postman.com/postman-now-supports-grpc/

### Steps To Reproduce

1. Open new tab
2. In building blocks there should be GRPC option available in mine it doesn't

### Screensho

[2022-01-31 17:02] olivermonaco commented on #10617
Hi @bpedro , thanks for the response. Yes, I am able to get each collection individually via the collectionId listed in the Postman UI. I can even obtain the collections that were missing from my colleague's response.

[2022-01-31 17:28] numaanashraf commented on #10623
Hi @moashxer. It seems like you are on the Scratch Pad. gRPC is available only in workspaces at the moment.

[2022-01-31 17:49] valentinbeggi commented on #10617
Hello @bpedro , sorry for the delay.

After some investigations I think I know where the issue comes from.

When calling `GET /collections` with `API Key A`, it seems that only the collections created (or forked) using `API key A` are retrieved.

_To reproduce:_

Consider `workspace A` and `B`, `dev A` and `B`.
If collections in `workspace A` were all created by `dev A` and collections in `workspa

[2022-01-31 18:07] noahmonster commented on #10605
@giridharvc7 Removing the description column does not show the request as needing to be saved. However, making a different change to the request and saving it doesn't seem to have any affect on this behavior.

[2022-01-31 18:17] bpedro commented on #10617
Hi @olivermonaco and @valentinbeggi,

Thank you so much for providing those details. That helps a lot!

So, to summarize, there are two identified issues:

1. `GET /collections` is only listing collections that have been created or forked by the user making the request.
2. `GET /collections/{collectionId}` should return the fork status of the collection.

Can you please create a separate issue for

[2022-01-31 18:37] bpedro commented on #10535
More relevant information has been shared on https://github.com/postmanlabs/postman-app-support/issues/10617

[2022-01-31 18:57] gonazmul commented on #5651
This worked for me. Not sure why that does not automatically get generated in the OpenApi json.

[2022-01-31 20:31] zyrif commented on #8231
I don't understand why this issue is in the backburner. The 'Use Token' button only picks the access_token when many IDPs expect the id_token. This is one of those subtle details which you can easily miss and waste hours trying to figure out why the API is returning 401 when the Authorization header is being passed properly. Or am I the only one stupid enough to experience this?

[2022-02-01 07:37] dimalyshev commented on #9060
The feature is on great demand

[2022-02-01 09:32] maaland commented on #10530
Seeing the same with an `import "validate/validate.proto";` from a directory outside of the repository.

[2022-02-01 10:10] dinuvld commented on #9612
Indeed this would be a very useful addition. We are looking at automatically generating monitors from an OpenAPI spec that has multiple example bodies per request. Being able to natively support this instead of manually creating multiple requests using the Collection SDK would be an incredible time saver.

[2022-02-01 10:24] patrick-hurley commented on #2773
Hi - I see the same behaviour as your gif until I save changes to a request. If I then click on a different request, it opens that new request in a new tab. Is there any way to stop this from happening?

[2022-02-01 10:33] zfeed commented on #8747
You can use `insecureHTTPParser` option to bypass it

See [here](https://nodejs.org/api/http.html#httprequesturl-options-callback)

[2022-02-01 11:06] arlemi commented on #2773
@patrick-hurley Not at the moment, once you start doing some changes in a tab it'll pin it until you close it.

[2022-02-01 13:04] mmoutonn commented on #1603
Need this too!

[2022-02-01 13:31] garvit-joshi commented on #10619
Hi,
Just Checked now and found out that the postman is working fine. I restarted two times and nothing seems to work the day I created the issue.
Here is the output of the program:
[code]

[2022-02-01 13:37] adityajoshee commented on #5194
I don't see grpc option in the latest postman (version 9.11.0)

[2022-02-01 13:40] RaisinTen commented on #10619
Thanks! Did you get this output when the app was in a running state?

[2022-02-01 13:43] RaisinTen commented on #10619
Closing the issue as it seems to be resolved for now. Thanks!

[2022-02-01 13:43] #10619 closed, assigned to RaisinTen

[2022-02-01 13:44] sobhanatar commented on #8195
+1

[2022-02-01 13:54] codenirvana commented on #5194
@adityajoshee gRPC is not supported in Scratch Pad right now. Please login or switch to a Workspace.

---

Locking this closed thread conversation to avoid unnoticed bug reports and feature requests.

Everyone, feel free to raise a feature request and bug report related to gRPC here: https://github.com/postmanlabs/postman-app-support/issues?q=is:open+is:issue+label:grpc

[2022-02-01 14:09] ljgww opened #10624 "~/.config/Postman/window owned by root on ubuntu 18"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman wont start
last reported lines on run

at /home/lj/bin/postman-9.11.0-linux-x64/Postman/app/resources/app/node_modules/nedb/lib/storage.js:59:23
FSReqCallback.oncomplete (fs.js:171:23)

then exits and does not report any errors

### Steps To Reproduce

1. Download latest postman
2.

[2022-02-01 14:35] VShingala commented on #10179
Hey @Uugsx, I wasn't able to understand the question or issue. Could you explain a bit more on the following things?

- Is it an issue or a sort of feature request?
- If it's an issue and If possible, could you share WSDL spec or sample spec with an issue.
- In case of feature request, could you explain a bit more about what's current behavior for you and the expected behavior?

This would help us

[2022-02-01 14:40] VShingala commented on #10588
@arattur Thanks for reporting the issue.

Currently, we are not supporting remote references to schemas. (imports where schemaLocation is not a local file). We are working on supporting it in the future but currently, we do not have any ETA on it.

ATM, you can overcome this by resolving these imports to local files and import schema via `Import > Folder` flow.

[2022-02-01 15:01] xaviergm commented on #4753
Hi @a85
This has been opened for 3.5 years now... I added this to the forums today:

- [Feature request: Multiple User-Dependent Certificates for the Same Host](https://community.postman.com/t/feature-request-multiple-user-dependent-certificates-for-the-same-host/32095)

But was told to create a feature request here instead.
Then, I found this was already open but not moving.
I decided to comment

[2022-02-01 15:55] D96Fan commented on #10525
Another solution would also be to only expand on double click, like you would open a folder.

[2022-02-01 16:14] Edceballos commented on #4578
I've been having this issue for months and  so far nothing had worked, it takes up to 2 minutes for postman to start, once starts I can't switch on my tabs nor the collections for another minute, it is absolutely frustrating 👎

[2022-02-01 16:17] Edceballos commented on #4578
One new issue, I can't RENAME the tabs as it is not allowing it, I was able to just name or rename at the top, now I must do SAVE AS, and doing so it is soooo LAGGGYYYYYYY is there any other app like this to sue instead?

[2022-02-01 16:32] valentinbeggi opened #10625 "GET /collections/{collectionId} should return fork status"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

`GET /collection/{collectionId}` is not returning information about the fork status of the requested collection (forked from, fork label ...) whereas `GET /collections` does.

It would make sense for `GET /collections/{collectionId}` to contain at least as much information as `GET /collecti

[2022-02-01 16:44] oguizol commented on #4968
@malvikach I see that you replied for a different subject than the very first post. Since you are product manager at postman, may I ask you if the ability to make a request using multiple environments in postman will be added anytime soon?

Thanks.

[2022-02-02 01:40] asi-postman opened #10626 "Copy all Logs in Console includes disabled "x-www-form-urlencoded" parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The console request body is different from what is provided when using the (Copy all Logs) feature. This occurs when making a POST request with (x-www-form-urlencoded), and having 2 fields checked and 2 fields unchecked. The attached video will help with understanding the issue

### Steps T

[2022-02-02 05:07] shubhbhargav commented on #10612
@apptio-milarsen Thanks for highlighting this behaviour.

This is actually expected because `_` is considered as an argument in sandbox, similar to how `done` or `callback` is provided in javascript. Hence, similar to how `done()` or `callback()` works , `_()` needs to be called for the async callback to happen and the corresponding test results to be shown on the test report.

More info around th

[2022-02-02 06:09] #10623 closed, assigned to nobody

[2022-02-02 06:23] #10552 closed, assigned to Dhembla

[2022-02-02 08:32] bpedro commented on #10625
Thanks for creating this issue, @valentinbeggi. We will implement the changes that you mention.

[2022-02-02 08:45] ljgww commented on #10624
Was looking deeper in run log

`~/bin/postman-9.11.0-linux-x64/Postman$ ./Postman
The disableGPU setting is set to undefined
Not disabling GPU
Main~createDefaultWorkingDir - Default working dir creation already attempted
1643790908273 main info "Booting Postman 9.11.0, linux-5.4.0-96-generic on x64"
1643790908274 main info "EventBus~initialize - Success"
1643790908275 main info "Proxy configuratio

[2022-02-02 08:49] Dariusz-Gunia commented on #1603
Great idea!

[2022-02-02 10:34] Malachov commented on #5147
I faced the same issue as i couldn't test my application. I tried documented body with `mode: raw`, I tried `mode: file` as in normal requests in collection Json, no success. Finally I found workaround that is not documented. If I used just string in body, no structured Json

`body: "Test",`

in pm.request it works. If it's string file like .txt or .md you can load the content in JS and append dir

[2022-02-02 11:28] Dip686 commented on #9860
@siggemannen  are you still facing this issue? In case this still exists, can you share steps to reproduce this along with a sample URL for which this is happening.

[2022-02-02 12:27] siggemannen commented on #9860
Hi, @Dip686, i just upgraded postman to version  9.11.0.
Now, i see the send button even for those really long URLs.
Actually, now i think i realize why the problem was before. I "created an example", and it doesn't support "sending" requests. So it was a red herring. sorry about that!

[2022-02-02 14:14] coder-free commented on #4808
@shubhbhargav
like the request.
My server response data is encrypted:
[code]
Now my Tests script is:
[code]
![image](https://user-images.githubusercontent.com/2630290/152170196-0b0b5772-a062-4da9-8959-886c7cd28562.png)

I just want to see the decrypted result conveniently.

This need is not strong. Because I can also see the result from the console log. It's just not that convenient.

Thanks.

[2022-02-02 14:37] arattur commented on #10588
OK, thank you for reply.

[2022-02-02 14:37] #10588 closed, assigned to akshaydeo, raghumurthy-jayandran

[2022-02-02 15:37] #10612 closed, assigned to nobody

[2022-02-02 15:37] apptio-milarsen commented on #10612
Thanks! That clears this up.

[2022-02-02 17:35] pegasusnotunicorn commented on #8480
Is this going to be fixed anytime soon?

[2022-02-02 18:16] charlie-postman commented on #8480
Sorry that the opportunity is still pending and thanks for the queries. At the moment, we don't have a timeline to get the opportunity addressed due to other priorities.

[2022-02-02 18:34] PericlesFeltrin commented on #10461
I miss an option to export and import the saved messages.
I think this could be added with this feature.

[2022-02-02 19:31] griggsca91 opened #10627 "gRPC: Add metadata to requests for server reflection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When I try to get the services and methods via Server Reflection, any metadata that I defined is not being passed in.

### Steps To Reproduce

1. Open gRPC request tab
2. Add a new metadata field
3. Attempt to get the proto details via reflection
4. See that the metadata is not passed throu

[2022-02-02 21:36] 466725 commented on #7198
Surprisingly! I am using Postman v9.12.0 which is the latest version.

And I can reproduce this issue. My os is Windows 10

[2022-02-02 22:18] Gareth-W commented on #8038
FYI to those who like using Postman but this issue is show stopper...
I have Fiddler running and set to listen on port 8888 and Postman set to use 127.0.0.1:8888 as it's proxy. Fiddler then takes care of the NTLM authentication (as whatever user Fiddler is running as)
Not ideal but it works for now as a workaround until this issue, first reported two years ago, is resolved.

[2022-02-02 22:22] jbackofe commented on #1066
+1 please!

[2022-02-03 03:36] darcythomas commented on #4079
Oh hey!
4 year anniversary on this feature request!

[2022-02-03 03:51] shubhbhargav commented on #4808
This is interesting. Thanks for sharing it @coder-free. I would like to recommend an alternate to console (I know it's not ideal).
Have you tried the visualizer feature: https://learning.postman.com/docs/sending-requests/visualizer/? You can decrypt the response like the above and use pm.visualizer.set(...) to render it in the response tab under `Visualize`.

The idea of visualizer is to render cu

[2022-02-03 04:17] jflambert commented on #2931
Sorry, why was this closed? I'm using this [PPA](https://launchpad.net/~tiagohillebrandt/+archive/ubuntu/postman) and it hasn't been updated since 8.12.4

How am I supposed to get the latest version on 18.04?

[2022-02-03 05:01] appurva21 commented on #10627
@griggsca91 Thanks for writing in!

Currently, we do not support directly passing metadata in Server Reflection. We'll take this up but meanwhile, you can use the `Authorization` tab to pass on the metadata-based credentials with your method call.

![image](https://user-images.githubusercontent.com/24985700/152283042-b0d23c6b-e02f-420a-918b-aa58b15a6290.png)

Note: You'll need to have SSL/TLS conf

[2022-02-03 06:28] yeradis commented on #6452
For a product/company bragging about security https://www.postman.com/trust/security/ having no MFA but instead requiring to use a third-party it makes me think about what's true from all that brag

following @lrzuniga

`2022 and no MFA...disturbing`

[2022-02-03 07:48] jankrynauw commented on #10547
I'm really excited about this gRPC capability!

Looking at the [protoc](https://github.com/protocolbuffers/protobuf#protocol-compiler-installation) compiler, it accepts `--proto-path`, `-IPATH` or simply `-I` which allows one to say add the imported protos.

<img width="544" alt="Screenshot 2022-02-03 at 09 21 57" src="https://user-images.githubusercontent.com/18016598/152298663-67ddc778-0456-4e8b

[2022-02-03 08:37] jankrynauw commented on #10530
#10547 related with a few more examples on how **Import Paths** are handled in other applications.

[2022-02-03 10:47] JakobStadlhuber commented on #8433
Push

[2022-02-03 10:47] BharatB427 commented on #7982
+1, Interested in this feature.

[2022-02-03 11:07] kamaraju-p commented on #10560
Hi @Lauren-Gill , thank you reporting the issue. We are working on it and will release a fix in the upcoming week.

[2022-02-03 11:53] malvikach commented on #4968
@oguizol We do not have this in our immediate short-term plans. However, it will help me if you are willing to spare some time and talk about this with me.

Let me know your mail-id and I will coordinate with you if this sounds good. Your feedback will help us understand this need better and expand on it further.

[2022-02-03 12:13] SRKAdiraju commented on #2801
Any Update? Can I make a Http call with content-type as application/x-protobuf  and pass protobuf request in body

[2022-02-03 13:12] excanny commented on #1066
Bulk delete needed please. It's tedious deleting one after another.

[2022-02-03 13:12] griggsca91 commented on #10627
Thanks for the quick reply! Unfortunately that's not possible at the moment without some significant work since we don't support TLS locally and don't have a certificate to provide, will have to wait for this feature until then.

[2022-02-03 13:19] veebee commented on #2849
As a workaround, you can configure certificates for fake hostnames, and map these hostnames to the target's IP in your etc/hosts file. Not ideal, but it works.

[2022-02-03 14:21] ChadSpears commented on #5684
This would be a very nice feature to also have in the web client now that it exists.

[2022-02-03 15:29] pr0vieh commented on #8612
in our case adding "https://" solved the problem
![image](https://user-images.githubusercontent.com/61424/152372719-0b71ffe7-6148-4888-b63c-17123d22263b.png)
looks like the preceding https:// is ignored

[2022-02-03 15:34] cornopaez opened #10628 "Ubuntu: Mouse/Pointer size is incorrect when view is scaled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello all. This bug is more cosmetic than anything else.
In Ubuntu 20.04 LTS, when the display is scaled up to 200%, the mouse/pointer within the Postman view stays at the default size. If you have a 4K monitor with the view scaled, it means all text and windows looks great... but you end u

[2022-02-03 17:33] natgra opened #10629 "Change order of websocket requests"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Websocket requests are ordered by time of creation. Ordering websocket requests manually is currently not possible.

### Describe the solution you'd like

It would be great if a postman user could re-order the requests within a c

[2022-02-03 20:10] ortizman commented on #1066
Workaround uploaded to heroku https://post1066-front.herokuapp.com/

1. Import collection with URL (readonly)
2. Modify (Delete in bulk, Multi Drag&Drop, etc)
3. Export collection
4. Import in postman
5. Optional: Delete original collection

Not ideal, but saves a couple of hours

[2022-02-03 21:03] KMA71 opened #10630 "Find and Replace don't work with Everything"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In the tab 'Find and Replace'  nothing happens after after click 'Find' button. The only way to find is to choose collection in 'WHERE' block - 'Choose entities to find in'
Checkboxes do not affect the bug

### Steps To Reproduce

1. Input matched text (for example, request name, or its par

[2022-02-03 21:49] andreas-kuoppa commented on #10547
I was just looking for this feature @JDeuce described myself. This need to be implemented asap, really important for the grpc functionality of Postman to take off.

[2022-02-03 22:10] BonnieThorne commented on #6001
I am having a slightly different issue. If I put a persistent value in my environment, in this case my url, it will be picked up in my GET request, however for my tokens, I have a prerequest script that swaps the authentication token every iteration and assigns it to a key called token with a value left blank. This has worked in plenty of my other collections. However, I did originally receive the

[2022-02-03 22:47] StrohmyerTR commented on #4808
You have two options - one, shubhbhargav, describes above. Your second option is to send your request in a pre-request script, parse the response, decrypt your string, and execute call pm.request.body.update() to be sent to the https://postman-echo.com/post API. I have an example of each, let me know if you would like to see an example of the second option.

Here is an example of the first option,

[2022-02-03 23:18] daveAtCaptiv8 opened #10631 "Log in type identifier in member list"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Even as a basic team, I want to see whether users are logging in with username/password or SSO. This helps me to understand how secure access to postman is.  I would also be able to prompt people (manually) to change their log in

[2022-02-03 23:21] Preethiy commented on #8929
+1

[2022-02-04 00:28] jubbp opened #10632 "Changes to API Definition failing to be found during revalidation of Documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When editing an API definition, changes to the definition are not displayed after running a revalidation and are then not updated in the Documentation.

The only way I've found to force the issue is to generate new documentation.

### Steps To Reproduce

1. edit API definition (I've tried b

[2022-02-04 03:38] jflambert commented on #2931
PPA was just updated to 9.12.0 ;) thanks @tiagohillebrandt

[2022-02-04 03:47] tiagohillebrandt commented on #2931
@jflambert No problem :-)

[2022-02-04 06:09] umeshp7 commented on #10444
Closing this, as not reproducible anymore.

@konnor-willison-deepsee do reach out to us if you face this issue again :). Thank you!

[2022-02-04 06:09] #10444 closed, assigned to umeshp7

[2022-02-04 09:27] inkeytech commented on #5253
OK, so we're now in 2022 - is there a way to have markdown links open in a new tab yet?

[2022-02-04 09:38] EoinFalconer commented on #6682
+1

[2022-02-04 10:05] shubhbhargav commented on #7036
Closing this due to inactivity. In-case this is still an issue, please do let us know.

[2022-02-04 10:05] #7036 closed, assigned to saswatds

[2022-02-04 10:39] danielpce commented on #6682
+1

[2022-02-04 10:55] webholik commented on #10020
@JAELatDHI  The only difference between the `--data` and `--data-raw` is that with the former option you can specify a filename from where curl will fetch the data to be sent. You can do the same in Postman by selecting the body type as `binary` and selecting the file you want to send. You can also set the `Content-Type` header to match the content type of the file. If you can tell why exactly is

[2022-02-04 11:30] coder-free commented on #4808
@shubhbhargav @StrohmyerTR Thanks. Visualizer is a great solution. Using it not only gives me the results I want. More additional features can be implemented if more time is invested.

[2022-02-04 12:08] JAELatDHI commented on #10020
The exact use case is related to downloading a file using a GET request, which is a .i6z file type. (Which is proprietary to the IUCLID Database, some info on the DB here: https://iuclid6.echa.europa.eu/project-iuclid-6 )

I have since gone around the issues by writing the scripts in python, however it would be nice to also be able to do this in postman. Here is a snippet of what the code looks li

[2022-02-04 12:35] luismoramedina opened #10633 "Greater max horizontal size for sidebar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In the postman api client, now, you can drag the line between left sidebar and the main content to do greater the left side bar, but it has a limit (¿1/4 of the screen?). This limit makes difficult to find requests in folders whe

[2022-02-04 12:50] DannyDainton commented on #10633
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/10566

[2022-02-04 12:50] #10633 closed, assigned to nobody

[2022-02-04 12:56] dev415 commented on #6452
We are going to have to stop using the tool until MFA is enabled.

[2022-02-04 13:15] tom-schreiber commented on #8195
+1

[2022-02-04 14:13] postman-support commented on #10598
Hey @CongAn,
Since it has been a while, and we haven't heard back from you, I am going ahead and closing this thread here for the time being.
Feel free to re-open it if you are still facing any issues. Happy to help.
Have a great day :)

via @VaishnaviChallaPostman | Postman Support

[2022-02-04 16:18] vbeaudoin19 commented on #3975
It will be really apprecitating if the feature was updated soon since this request was open and it kind of missing.
This will improve our work for so many people in the community who use Postman.

[2022-02-04 16:22] coder-free opened #10634 "I have a tab can't close"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have a empty tab can't close.

### Steps To Reproduce

I don't know. I have many tab not close. Today I want close all tabs. I found there has a tab is empty and can't close.

### Screenshots or Videos

https://user-images.githubusercontent.com/2630290/152564498-9349b00d-5f05-4c1c-830f-91

[2022-02-04 16:27] coder-free commented on #10634
This issues is duplicate with #10622.

[2022-02-04 19:59] jkleint commented on #1603
+1
The argument of hurting portability doesn't make sense; postman collections with secrets already don't work out of the box, you have to manually set the secrets.  It's no harder and in fact easier to get those from the system environment rather than copy/pasting, especially when they change often.

[2022-02-04 20:00] skeezix opened #10635 "Merge request with cherry picked chunks - ie: merge parts of a collection, not all of it"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Scenario is .. if we have forked a collection from team workspace to personal workspace, then added some operations to it, and customized others with our own variables or body content etc for testing ... when we want to merge its

[2022-02-04 20:39] aakashsethi20 commented on #10179
Hi @VShingala, I'm still facing this issue locally using a link to top level WSDL in Postman 9.12. Are the multi-file WSDLs supported only through folder import?

[2022-02-04 20:54] artdedeco opened #10636 "Make Postman extensible so that we can add our own protocols"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

No

### Describe the solution you'd like

Make it so that we can extend Postman - with plugins, for example - so that we can enable support for other protocols besides HTTP (and WSS). There is a related issue #3321, but it's a bi

[2022-02-04 22:04] WizzerWorks commented on #6681
+1 I enjoy using this tool, BUT I definitely need a way to publish the document for private consumption. I will abandon this product at the end of this quarter (Mar 2022), if a solution can not be provided. This requirement is driven by my B2B clients.

[2022-02-04 23:50] vorou commented on #10185
The issue is still there for 9.13.0

[2022-02-05 02:17] tonynguyenit18 commented on #8606
@rdpravin1895
You can export from global, you will have a file like this
[code]
Then change `"_postman_variable_scope": "globals"` to `"_postman_variable_scope": "environment"`

Save and import it back.

[2022-02-05 04:01] shamasis commented on #10636
This is a great thought.

Technically speaking, as we add more and more protocols, we will arrive at a stable interface that's easy to repeat. Let's see what happens when we get there. 😊

Meanwhile, I'm more than glad to have people in our team who can build the MQTT support. MQTT needs attention for not just the client but to treat it like full API lifecycle with all the schema, sharing and other

[2022-02-05 04:20] VShingala commented on #10179
@aakashsethi20 Yes, `Import > Link` flow can only capture what's present at mentioned link and not anything other than that. At the moment, `Import > Floder` flow is the only way you can achieve multi-file imports.

[2022-02-05 06:33] kool79 commented on #7198
Same for me

[2022-02-05 10:18] eladchen commented on #6722
Correct me If I'm wrong, but updating the example of a property is not detected when validating the documentation...?

I'm using the v9.13.0.

Is there any docs on what type of changes are detected when "validating" a documentation/collection?

[2022-02-05 22:00] iquabius commented on #9706
I can't find the option "Remove from Workspace".

![image](https://user-images.githubusercontent.com/3139777/152660380-8a5ddf84-c7b2-4bdf-bf6a-12bb208eba8b.png)

Is it somewhere else?

Was it removed?

[2022-02-06 05:20] seerazz commented on #10426
This doesn't work on windows 11, although i already signed in to postman

[2022-02-06 10:33] shubhbhargav commented on #10247
@nikita-fuchs Can you please share a screenshot / video recording of the issue to help us debug this better?

[2022-02-06 10:46] shubhbhargav commented on #10058
Closing the issue given that the fix has been shipped out. @VaishnaviChallaPostman Please feel free to let us know if the issue still persists at your end.

[2022-02-06 10:46] #10058 closed, assigned to nobody

[2022-02-06 11:50] OfirD1 commented on #9103
One has to make sure that its environment is actually active:
![image](https://user-images.githubusercontent.com/30159171/152679457-adedc8a8-8042-4875-adcf-d50ef0c12d8c.png)

[2022-02-06 13:59] shubhbhargav commented on #10383
@johnnyman727 Can you please share a recording / screenshot of the issue to help us debug this further? Also do let us know if upgrading to the latest app (9.12.2) fixes the issue.

[2022-02-06 18:23] Healios commented on #7350
Just want to chime in, this is still terrible.

[2022-02-07 01:25] johnnyman727 commented on #10383
@shubhbhargav Thanks for popping in to help. Apologies, I don't have time right now to try to reproduce. Feel free to close the issue and I'll comment back here if it ever happens again. FWIW, I've been using Postman pretty regularly the past week and haven't had the problem.

[2022-02-07 01:25] #10383 closed, assigned to nobody

[2022-02-07 03:48] shubhbhargav commented on #10635
@skeezix Thanks for the feedback. Can you please share some examples for the changes which you would like to avoid getting merged?

If possible, do share some details around the workflow where these changes are introduced to the collection.

[2022-02-07 03:57] shubhbhargav commented on #9103
@sunnyttravers @cvanlabe  Is the issue still there for you? If yes, can you please share a screenshot / recording of the same? We are not able to reproduce it on our latest app (9.12.2).

[2022-02-07 04:52] akshay-kulkarni-03 commented on #9706
@iquabius as of today we don't have explicit un-sharing functionality. You try out the below options to restrict the collection which is already shared.

1. You can click on Manage roles -> explicitly remove members with whom you no longer want the collection to be shared. (You need to be an admin of the collection to do this)
2. You can delete the collection from this workspace.
3. You can move t

[2022-02-07 05:06] shubhbhargav commented on #10193
@rahman77889 Are you still facing this issue with the latest Postman app (9.12.2)? We are unable to reproduce it our end, hence let us know if the issue is still there.

[2022-02-07 05:26] postman-support commented on #10634
Hi @coder-free

Sorry to see you're encountering the issue.

We are aware of this case and the team is working on resolving the same. To let you know, the issue branched from the previous case where there were empty ids that can be cleared to resolve the same from your end. The resolution for the action would be:

- Signing out of your account
- Clearing cache as per the article here
- Re-logging

[2022-02-07 05:28] Raj-postman commented on #10622
Hi @dractw - Could you follow the steps mentioned in this thread here: https://github.com/postmanlabs/postman-app-support/issues/10634#issuecomment-1031088794

Note: Please make sure to save the tabs before performing the action to avoid any Data loss.

[2022-02-07 08:09] Swapnil-getpostman opened #10637 "Themes settings restores back after navigating between workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Theme settings restore back after navigating between workspaces (personal to the public) on a web browser.

### Steps To Reproduce

1. Go to the themes tab from the settings and select the dark theme
2. Navigate to one of your personal workspaces
3. Now go to any Public workspace and then g

[2022-02-07 09:09] #10004 closed, assigned to nobody

[2022-02-07 09:15] ljgww commented on #10624
Just to leave an observation.

Since this is config that is obviously used for different versions of postman that could be installed on the same system.
Once I have fixed access right to a file all other versions of postman I had installed started working as well.

[2022-02-07 09:43] shubhbhargav commented on #9965
Closing this off as the fix has been verified in the above comment.

[2022-02-07 09:43] #9965 closed, assigned to nobody

[2022-02-07 10:25] dinuvld commented on #7348
Hi, any update on this feature? Monitors for large apis can become rather cumbersome without this feature

[2022-02-07 10:33] sanch941 commented on #8195
Fuck this app

[2022-02-07 10:35] aymenfurter commented on #5816
Linux ARM App

[2022-02-07 10:47] shubhbhargav commented on #9829
@colross Are you still facing this issue?

[2022-02-07 13:27] jviotti commented on #10624
Thanks for the clarification @ljgww. I'll rename the title of this issue to better reflect the root problem.

[2022-02-07 14:00] mikiyasgirma commented on #9097
The same thing happening here. looks running but nothing happens

[2022-02-07 15:16] JoshuaWise commented on #10604
A fix for this has been implemented, and should be part of our next app release! 🎉

[2022-02-07 15:20] JoshuaWise commented on #10547
Hey everyone, we are actively working on supporting this, and we'll be able to roll it out soon 😌

[2022-02-07 15:47] jake-unl commented on #8231
+1 on this. Seems like it should be a simple fix that would save a lot of hassle

[2022-02-07 16:12] royOST commented on #8195
Insomnia Rest Client has auto-save 👀

[2022-02-07 16:48] SiebeVE opened #10638 "[Feature Request] Protected/Risky Environments"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When having multiple environments it happens that you accidentally have the wrong environment selected, thus running possible dangerous actions (DELETE, POST,...) on a production environment.

### Describe the solution you'd like

[2022-02-07 16:51] bencpeters commented on #7210
I have the same use-case as @phalverson (reading AWS credentials from the system file). This really doesn't seem like it should be such a difficult ask!

[2022-02-07 17:07] jviotti commented on #10603
Thanks a lot for letting us know about this issue and for the detailed report. We'll be taking a look into this one very soon!

[2022-02-07 17:08] Beckfield commented on #9598
A seriously annoying bug.  The same is true when starting the app, not just minimize/restore.

[2022-02-07 17:08] jviotti commented on #10300
Thanks a lot for the suggestion. We'll be discussing this internally!

[2022-02-07 17:09] jviotti commented on #10097
Hey @sathyarajagopal , are you still facing this problem?

[2022-02-07 17:10] #10628 closed, assigned to nobody

[2022-02-07 17:10] jviotti commented on #10030
Thanks a lot for the detailed report. We'll be taking a look at this very soon!

[2022-02-07 17:20] Beckfield commented on #9598
This is not true in my case.  I have version 9.12.2, which I believe is the latest (so it tells me).  Window controls are still there.

[2022-02-07 17:49] jviotti commented on #10022
Makes sense! Thanks a lot for raising this up. We'll be looking into this soon.

[2022-02-07 17:50] jviotti commented on #9958
Thanks for raising this up. We'll be looking into this very soon!

[2022-02-07 17:50] jviotti commented on #9939
@sryze Would you mind giving us the details of which GPU are you running?

[2022-02-07 23:23] rilham97 opened #10639 "How Expand View Summary Postman Runner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I tried to create many iterations, but I can't see all of the progress (only until iteration 32). I can't scroll right / left the screen to

### Steps To Reproduce

1. Open Postman Runner
2. Set iteration with many numbers (e.g: 100)
3. Run the collection
4. See result using View Summary in

[2022-02-08 00:23] NarendraRT opened #10640 "gRPC Newman support"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Thanks for your beta support for gRPC in postman. Currently I couldn't find Newman supports gRPC, We would like to have similar support from Newman as well.

### Describe the solution you'd like

To be able to run gRPC services f

[2022-02-08 01:22] Raja-Simha commented on #10632
@jubbp We are currently working on generating documentation from your API definition directly. This feature will be available for all users soon. Once available, we would love to hear your feedback and if it resolves your problem.

[2022-02-08 02:02] Raja-Simha commented on #10561
Duplicate of #5706

[2022-02-08 02:02] #10561 closed, assigned to Raja-Simha

[2022-02-08 03:23] Raja-Simha commented on #10436
@nachocifu I'd love to understand your comment further.

I believe you would like to create a develop portal using Postman with reference documentation, guides and tutorials.

As an alternative, you could create a team profile in Postman's API Network and create a public workspace with necessary elements like API definition, documentation, etc. Your public consumers can use this workspace to colla

[2022-02-08 04:30] shubhbhargav commented on #10638
Thanks for the feedback @SiebeVE. May I know how you tag production environments as of now and what other kinds of environments do you have?

[2022-02-08 04:36] shubhbhargav commented on #10639
Hi @rilham97, thanks for raising the issue. I am unable to reproduce it at our end. Can you please share a screen recording of the issue? This will help debug this better.

[2022-02-08 08:16] CongAn commented on #10598
The postman Canary version is useless. Uninstall, delete and reinstall all data, and still display garbled code.

I'm disappointed with your handling attitude. I have to find an alternative software.

---------------

Postman canary 版本没有用，卸载和删除所有数据并重装，仍然显示乱码。

你们的处理态度让我很失望，我不得不寻找一款替代软件。

[2022-02-08 08:46] CongAn commented on #10598
@postman-support

I found the problem. It's caused by a CSS style. Please fix it as soon as possible. Thank you.

-------

我找到问题是了，一个css样式引起的，麻烦尽快修复，谢谢。

![Snipaste_2022-02-08_16-42-32](https://user-images.githubusercontent.com/16128049/152950442-ea85f0ed-4f12-4001-ad78-2c5468a84596.jpg)
![Snipaste_2022-02-08_16-42-05](https://user-images.githubusercontent.com/16128049/152950456-6837f7aa-1f29-44c9

[2022-02-08 08:47] at-besa commented on #9614
I would also love to have this, since the responses are automatically generated and have to be deleted manually. just down show em would be an amazing option.

[2022-02-08 08:53] SiebeVE commented on #10638
Currently I use the name production, but it would be nice to mark any environment (regardless of name) as Protected/Risky

[2022-02-08 09:14] #10568 closed, assigned to Raja-Simha

[2022-02-08 10:23] michahell commented on #9510
This still doesn't work at all on `Windows 10 20H2 19042.1466` when creating a Postman dump, selecting the folder with that postman dump as working directory. I have a feeling this way of working is being frustrated on purpose due to the existence of Postman teams, or no effort is being put into maintaining this way of working.

[2022-02-08 10:55] bpedro commented on #10625
Hi again, @valentinbeggi. This is an update to let you know that we have implemented a fix and we're currently testing it. I will update again once the fix hits production. Thanks.

[2022-02-08 11:03] michahell commented on #10407
@cdanielsen honorable feature request, and much requested, also in other issues. But I think Postman is never going to even consider doing this, as it directly competes with their own teams feature:
`Why not give people the option to sync their workspaces/collections/environments to that instead of your private cloud?`

[2022-02-08 11:04] michahell commented on #10407
https://github.com/postmanlabs/postman-app-support/issues/9681

[2022-02-08 11:37] rafal-bouncer commented on #4888
I didn't really thought there might not be that feature when deciding to use postman for our public docs.
This feature is crucial for inbound sales process.

[2022-02-08 11:56] jviotti commented on #9465
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9910

[2022-02-08 11:56] #9465 closed, assigned to nobody

[2022-02-08 12:43] hvkooten commented on #6452
Please implement MFA!

[2022-02-08 13:20] LadghemSaid commented on #6682
+1

[2022-02-08 13:31] freenrg commented on #8322
This would be very useful! Please consider doing it!

[2022-02-08 14:36] savage-alex commented on #10112
We have a pre-request script for access token refresh when using authcodeflow if anyone is interested

[2022-02-08 14:41] vkjain603 opened #10641 "Request throws Error: read ECONNRESET error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

<img width="938" alt="image" src="https://user-images.githubusercontent.com/31352238/153007607-20d3b834-d7a5-4e18-8c92-9f4a3e3a055f.png">

I'm getting "Error: read ECONNRESET" error while hitting request.

Application is configured for certificate authentication.
Certificate is installed an

[2022-02-08 14:51] zoltang01 opened #10642 "Rest API endpoint for tracking license usage"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Hi,

This is related to problem [#97330], tracking license usage.

### Describe the solution you'd like

I was looking for an exposed endpoint in the api that would allow us to view the current license count.

We were looking int

[2022-02-08 16:59] tnstanislavko commented on #8838
I launch Postman and see you are offline message.
I may sign out and press sign in. Then message "Something went wrong! We're having some difficulties connecting to our authentication service. Try again after some time." appears with "Retry" button.
I tried to change DNS, use the 2nd intetnet provider, reinstall Postman.
I may sign in in web-Postman in a browser.
GET/POST to https://identity.getpo

[2022-02-08 17:16] calebruz commented on #10494
Yes. Please. I recently attempted to clone via postman API, which worked, but from what I was told is that those collections remain attached to the original workspace. This means that deleting the new workspace also emptied the original workspace. There was no documentation about this outcome that I could find.

This is also an issue with moving collections between workspaces. There should be an o

[2022-02-08 17:23] arverma77 commented on #6722
@arlemi sync is not working. I see that when we update the API name , only this particular change is taken into consideration. But if I try updating request parameter, the sync doesnt work. A ticked was logged for this issue in year 2020.

https://community.postman.com/t/user-feedback-updating-api-elements/13308

Can you please let me know how to sync a change to an attribute in API file to the co

[2022-02-08 17:34] arverma77 opened #10643 "Sync is not working for an API update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

 sync is not working. I see that when we update the API name , only this particular change is taken into consideration. But if I try updating request parameter, the sync doesnt work. A ticket was logged for this issue in year 2020.

Can you please let me know how to sync a change to an attr

[2022-02-08 18:48] tammarut commented on #8929
+1 🆙
We want these features!

[2022-02-08 19:15] cdanielsen commented on #10407
Agreed, I suspect the sync feature is embedded too deeply in every aspect of their data model.

[2022-02-08 19:19] cdanielsen commented on #10407
@shubhbhargav That feature is better than nothing, but I don't like the "Persist" button that allows for perhaps a less experienced user of Postmans very dense UI to accidentally push something like an API key up to the Postman cloud. It's also generally a band-aid on the underlying problem: you should be able to use all of Postman's nice features (Teams, git flow, etc.) to collaborate on private

[2022-02-08 21:56] lcapalbo commented on #5740
I'd just experienced this issue with the flatpak version, and reported it to https://github.com/flathub/com.getpostman.Postman/issues/168

This is what I found out: I was able to build the flatpak without the sandbox to the user home (by editing the `com.getpostman.Postman.yaml` manifest setting the `finish-args:` from `--filesystem=home` to `--filesystem=host`) and that fixed the issue for me, bu

[2022-02-08 23:17] br-tyler-milner commented on #4396
This is still an issue in Postman `9.12.2`. As with other folks, I need to access the value of the "Authorization" header that gets auto-generated by Postman via the request's inherited auth settings.

[2022-02-09 01:41] CongAn commented on #10598
After testing, removing the inter font from the font family in CSS can display Chinese normally.
-------
经过测试，CSS中font-family移除Inter字体可以正常显示中文。

[2022-02-09 04:32] shubhbhargav commented on #6501
@grgakshay I am unable to reproduce it on the latest version (9.12.2). Do let us know if you are still facing the issue.

[2022-02-09 05:24] malvikach commented on #6001
@deepumukundan @fidesachates This is an expected behavior wrt initial and current values. Thanks for your feedback on this though. We would love to talk to you and know more about your use cases though and understand what problems you are facing while working with environments. Let me know if you would be interested. Feel free to drop an email to me at malvika.chaudhary@postman.com or provide your

[2022-02-09 05:46] malvikach opened #10644 "Environment variable not being resolved when sending request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Description
I have an environment variable "urlApi" defined w/ a value of "http//localhost:5050". The environment variable is then used in a request as {{urlApi}}. When the request is sent the follow error message is displayed indicating the variable is not being resolved to the proper url.

[2022-02-09 05:47] #6001 closed, assigned to nobody

[2022-02-09 05:49] malvikach commented on #6001
Hi All,

We are going to track the issue (wrt variable not getting resolved while sending a request) on this ticket: https://github.com/postmanlabs/postman-app-support/issues/10644

Please feel free to provide additional information to reproduce this issue on the new ticket.

[2022-02-09 06:47] postman-support commented on #10598
Hey @CongAn
Sorry for the inconvenience.
Our Engineering team is looking into this issue and I will get back to you as soon as I have any updates.
Thanks for your patience.

via @VaishnaviChallaPostman | Postman Support

[2022-02-09 07:29] Vaibhav7Prakash commented on #8288
@codenirvana Postman is crashing when sending request of size 240-250 MB. After giving the payload in Body in json format, the application freezes for some time and then turns into a grey screen.
![Screenshot (345)](https://user-images.githubusercontent.com/32938521/153142261-fb267ea7-4381-47da-87cd-6d13ec64b614.png)
.

[2022-02-09 07:38] Vaibhav7Prakash opened #10645 "Grey Screen when a payload of 250 MB is put in body of a POST request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman is crashing when sending request of size 240-250 MB. After giving the payload in Body in json format, the application freezes for some time and then turns into a grey screen.

### Steps To Reproduce

1. Open a new request tab
2. Select the body tab
3. Select raw and choose json from

[2022-02-09 07:47] arverma77 commented on #6722
Only the attributes which has property required=true is validate for any change. Optional attributes are currently not validated against the API changes.