[2017-03-17 09:39] fonix232 commented on #2818
Tell that to the Transmission RPC API developers, they implemented their
RPC calls like this.

On 17 March 2017 at 04:51, Abhinav Asthana <notifications@github.com> wrote:

[2017-03-17 09:42] vegetableman commented on #2818
@fonix232 Did you try out the solution mentioned on https://github.com/postmanlabs/postman-app-support/issues/2818#issuecomment-287257763?

[2017-03-17 10:12] fonix232 commented on #2818
I'll try it in a moment. I only checked email notifications and for some reason @prashantagarwal 's answer wasn't there.

[2017-03-17 10:15] fonix232 commented on #2818
Accessing the property as an array member works. Thanks!

[2017-03-17 10:36] #2818 closed, assigned to nobody

[2017-03-17 10:47] saiudayakella opened #2819 "[Feature Request] Conditional Workflows - Should be able to set next request under a different folder"
1) When there are same named requests under different folders of a collection, user should be able to set next request under a specified folder.

2) When a condition matches the criteria ( truthy or falsy) in a specified request under a folder, user should be able to navigate to a different specified folder

[2017-03-17 10:49] saiudayakella opened #2820 "[Feature Request] Conditional Workflows - Provide an option to terminate the execution of folder"
Currently postman.setNextRequest(null) terminates the entire collection. It would be good to have an option to terminate the execution of requests under a specific folder

[2017-03-17 11:04] saiudayakella opened #2821 "[Feature Request] Ability for specific folders under a collection to refer the data files"
Currently when we run a collection and set the data file, it is applicable for the entire collection. It would be good if user can chose data files for specific folders under a collection.

Scenario:
 Create a collection for an API  and different folders under this collection . Requests under each folders are grouped such that they cater a specific workflows. So in this case, few workflows may nee

[2017-03-17 12:00] morganthrapp commented on #184
Oh, my bad. Should've checked the repo first!

`Cmd+B` works for me. I wasn't aware of that shortcut. Thanks for the help!

Could this be added to the Shortcuts tab in Settings? Or is there another location that lists the shortcuts?

[2017-03-17 12:23] sdnts commented on #2819
@saiudayakella If I understand correctly, you're looking to specify a complete path of sorts when using `setNextRequest`, right?

[2017-03-17 13:03] sdnts commented on #1945
@a85 For sure

[2017-03-17 13:04] sdnts commented on #2242
@emaborsa Looks like your API is returning that error. Maybe the API itself requires auth?

[2017-03-17 13:09] sdnts commented on #1880
Indeed, this has been possible for a while. Closing this.

[2017-03-17 13:09] #1880 closed, assigned to nobody

[2017-03-17 13:17] sdnts commented on #2177
@jeffheaton You can open up a second Postman window by using the New Window button on the top left. Opening up multiple _instances_ of the app isn't possible, since they both try to read from the same location. I'll let you guys know when we make progress :)

[2017-03-17 13:18] sdnts commented on #1522
Guys, this is being actively worked upon! While I don't have an exact ETA right now, this will hit production very soon :D

[2017-03-17 13:25] riquack commented on #2452
Would be nice just to have a `Refresh Token` button right next to the `Use Token` button 😄

[2017-03-17 13:27] PlanetJumble commented on #1983
Why do topics like this keep getting closed without comment while the problem itself remains? See #615 for example.

I also have this problem with the latest Chrome based version (4.10.3), every request that receives binary content like e.g. application/pdf does get repeated, while others are fine.

[2017-03-17 13:48] eko55 opened #2822 "Can't run a collection using runner or newman"
Version/App Information:
 1. Postman Version:4.9.3
 2. App (Chrome app or Mac app): Chrome app
 3. OS details:Win 7
 4. Is the Interceptor on and enabled in the app: Yes
 5. Did you encounter this recently, or has this bug always been there:Always(using postman for a several days)
 6. Expected behaviour: To be able to Export correctly the whole collection and to be able to run it using newman  in

[2017-03-17 13:56] sdnts commented on #2822
Hi @eko55, Does this happen for all collections in your case or only some of them? Do you have a collection I can verify this with? You can remove private data, I'm only interested in the overall structure.

[2017-03-17 14:11] wikski commented on #2086
+1

[2017-03-17 14:29] eko55 commented on #2822
Some of the tests show the same behavior no matter the collection.I made a collection with one of the test
and when I run it through the collection runner it shows 0 passed 0 failed.

![notestrequest](https://cloud.githubusercontent.com/assets/26481427/24047268/da58119a-0b2d-11e7-8aa6-5827f2d5f491.png)

![pic2](https://cloud.githubusercontent.com/assets/26481427/24047387/2d627aec-0b2e-11e7-81af-6e

[2017-03-17 16:15] wla2000 commented on #2606
I believe this same issue has occurred with me.  Postman fills the whole screen and I cannot resize it.  I can close with alt-f4 or File->Exit, but I cannot see the taskbar and I cannot move the application by dragging on the title bar.
I am using the native Windows postman app,  v4.10.3 on Windows 10 (10.0.14393 Build 14393).  I have uploaded a screen shot.
![image](https://cloud.githubuserconten

[2017-03-17 17:04] rjaxin commented on #1360
The Mac version looks like it now sends the clientid/secret in BOTH the header (as encoded basic bearer) and in the post form body when calling the access token endpoint in Oauth2 helper -> Authorization Code grant type.

This causes it to fail with an oauth2 product we are supporitng as it throws an exception when multiple forms of client authentication are sent.

The oauth2 spec seems to back th

[2017-03-17 19:02] thnk2wn opened #2823 "Postman hangs indefinitely on start if already debugging web app in Visual Studio"
If I'm already debugging a web app in Visual Studio and then launch Postman, it hangs indefinitely...

 1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: not sure
 6. Expected behaviour: Postman launches as normal regardless of

[2017-03-17 20:03] miguelzakharia commented on #2489
I'm also experiencing this problem on the Mac client. I'm on version `4.10.2` and am seeing the message to upgrade to `4.10.3`. When I click "Restart" the app closes, but never restarts. When I open it again I'm prompted to download and install `4.10.3` once more.

I don't have `~/Library/Application Support/com.postmanlabs.mac.ShipIt` either so please let me know if I can send any other files for

[2017-03-17 20:03] neverendingqs commented on #1360
I'm on Windows, and I'm seeing the same error (client credentials sent in both the header and the request body).

[code]

[2017-03-17 21:34] neverendingqs commented on #1360
As @rjaxin pointed out, this is a violation of the OAuth 2.0 spec. As per https://www.ietf.org/rfc/rfc2119.txt:

   definition is an absolute prohibition of the specification.

which means the previous Postman behaviour of only including it in the request body is actually more desirable, because `MUST NOT` is stronger than `NOT RECOMMENDED`:

   parameters is NOT RECOMMENDED and SHOULD be limited

[2017-03-17 21:38] neverendingqs commented on #633
@navarr - as a workaround, you can navigate to `chrome://inspect/#apps` in chrome, and inspect either the main Postman window or the pop-up when doing the authorization grant flow.

[2017-03-17 21:40] neverendingqs commented on #1360
@shamasis - this is an OAuth 2 issue, and should probably live in [OAuth 2](https://github.com/postmanlabs/postman-app-support/projects/12), not [OAuth 1](https://github.com/postmanlabs/postman-app-support/projects/11).

[2017-03-17 21:48] neverendingqs commented on #2296
Azure is implementing OAuth 2.0 wrong.

   authentication scheme for authenticating clients that were issued a
   client password.**

   parameters is NOT RECOMMENDED and SHOULD be limited to clients unable
   to directly utilize the HTTP Basic authentication scheme (or other
   password-based HTTP authentication schemes).  The parameters can only
   be transmitted in the request-body and MUST NOT

[2017-03-17 21:51] neverendingqs commented on #2088
@RaneofSoTN @a85 - probably should merge this with https://github.com/postmanlabs/postman-app-support/issues/1360

[2017-03-17 21:54] rjaxin commented on #1360
Agreed.  Ideally there should be a setting to send one or the other for max compatibility (but never both), and HTTP Basic Authorization header is preferred.

[2017-03-18 02:02] saiudayakella commented on #2819
@madebysid Yes, in addition to setNextRequest("request name") should be able to specify setNextRequest(F\r), setNetRequest(C\F\r)

C- Collection, F- Folder, r-request

I reckon specifying request number instead of request name is already in your works.

[2017-03-18 08:27] DSMjyp commented on #2782
I have the same issue. It just says “505 HTTP Version Not Support” .But my native app is Postman-win32-4.10.3-Setup.exe. Here is the Postman Console.
![postmanbug](https://cloud.githubusercontent.com/assets/26500207/24070389/761c4532-0bf7-11e7-9a8c-0c06e5e70720.jpg)

[2017-03-18 14:37] eko55 commented on #2822
The main question in my mind is why when exporting configuration in json format some of the information is lost,specifically the "event" attribute?Any ideas?

[2017-03-18 16:22] derpoho commented on #2316
Is there any update on this issue?

[2017-03-18 20:49] larismendi commented on #880
Thanks.

[2017-03-19 00:29] aburkholder opened #2825 "Postman hangs viewing >1MB responses in Pretty mode"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS 10.12.3 (Sierra), 2.6 Ghz i7, 8 GB RAM, solid state HD with 140 GB free space
 4. Is the Interceptor on and enabled in the app: ? no idea - what is it?
 5. Did you encounter this recently, or has this bug always been there: first encountered today
 6. Expected behaviour:
- be able to scroll through JSON respo

[2017-03-19 10:48] chauhan130 commented on #2111
Wasted 3 hours thinking something is wrong with my code, considering POSTMan parses the json correctly:

http://prntscr.com/elsiem
http://prntscr.com/elsj4r

I am on Version 4.10.3.

[2017-03-19 23:00] Vijayabaskar03 commented on #2813
@vegetableman Yes, that's a cool feature and serves almost 90% of the cases, except when the requests and responses are so large, that wrapping them would make it look confusing.

[2017-03-20 05:50] SamvelRaja commented on #2823
@thnk2wn Can you notice any log in the console?
You can open the console through the  View -> Show devtools option.

[2017-03-20 06:26] abdulkareemgs opened #2826 "Multiple Scrollbars impedes normal use case"
1. Postman Version:4.10.3
 2. App:Mac App
 3. OS details:MacOS sierra 10.12.3 (16D32)
 4. Is the Interceptor on and enabled in the app:No
 5. Did you encounter this recently, or has this bug always been there:Always there
 6. Expected behaviour:there should only one scroll bar or no nested scroll bars
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-po

[2017-03-20 06:35] SamvelRaja commented on #2826
@abdulkareemnalband How about having a two pane layout, which smoothens this workflow much.
view -> Toggle Two-pane view  (Alt+Cmd+V)

[2017-03-20 06:50] abdulkareemgs commented on #2826
@SamvelRaja sorry i didn't knew about two panes closing this issue

[2017-03-20 06:50] #2826 closed, assigned to nobody

[2017-03-20 06:52] sdnts commented on #2766
@alan-givati Ah, you should be able to middle-click to close a tab, but we'll look into making accidental tab closes rare.

[2017-03-20 07:48] sdnts commented on #2821
@saiudayakella If each folder is supposed to use independent data, isn't it better if you have just one data file with lots of keys and each folder accessing different keys?

For example, Folder 1 uses the first, second and third keys, Folder 2 uses the fourth, fifth and sixth keys etc.?

[2017-03-20 07:55] sdnts commented on #2822
@eko55 The collection runner's export format doesn't actually reflect the collection. It is a static structure that may be used to share collection runs. Are you expecting the `event` key in here?

Also, looking at your screenshots, it looks like different requests run in the Runner and the main window (the request names are different). Are you sure you're running the same collection in both place

[2017-03-20 08:10] sdnts commented on #2809
Hi @jlchavis0844 I have no experience with PHP, but I made a Node server that behaves as it should. Sending a urlencoded field of 261 characters (key and value) is received properly. Can you check if this is some error with your server?
Let me know if I missed anything.

[2017-03-20 09:10] emaborsa commented on #2242
@madebysid Yes, the API requires Auth0. I Send the crendentials using 'Authorization' header, but the Proxy blocks the request.

[2017-03-20 10:18] cawoodm commented on #2739
@vegetableman, this isn't rocket science: the default behaviour is unheard of. Imagine you start writing a new document in MS Word and then, when you open an existing document, it overwrites the new (unsaved) document you were working on. That's what Postman does today and it's killing me - I can't see the benefit. Never, EVER overwrite someone's unsaved work without prompting. It's not important

[2017-03-20 10:57] saiudayakella commented on #2821
@madebysid  Consider this scenario:
1) Folder 1 contains diff requests and should be validated by single user ( First request as "Authenticate User" and subsequent requests which valdate the workflow)
2) Folder 2 contains diff requests and should be validated by single user ( "Authenticate User" and subsequent requests which valdate the workflow)
3) Folder 3 contains diff requests and should be va

[2017-03-20 10:59] danielkucera commented on #1818
Postman for Chrome
Version 4.10.3
linux / x86-64
Chrome 56.0.2924.76

chromium-browser --version
Chromium 56.0.2924.76 Built on Ubuntu , running on Ubuntu 16.10

I'm getting this stack trace:

[code]

[2017-03-20 11:01] sdnts commented on #2821
Yep so what I had in mind was something like:

[code]

Since these three users have different roles (I think), they make logical sense as well, don't you think?

[2017-03-20 13:03] sdnts commented on #1983
@PlanetJumble I believe this was closed because this wasn't reproducible. Reopening this. Do you mean a response that contains a PDF gets sent twice? That's super weird (pretty sure I misunderstood, though)

[2017-03-20 13:07] sdnts commented on #2336
@gaieges The Pro API does not support collection variables (yet). We're actively working on making this possible. Will let you know here when we have an update.

[2017-03-20 13:10] suvaio commented on #1983
Faced the same issue just now.

[2017-03-20 13:44] sdnts commented on #2784
Hey @Tapppi Thanks for reporting this. I was able to reproduce this. We'll get on a fix.

[2017-03-20 15:29] dvishniakov commented on #2767
@madebysid sure, here are a few:
Screenshot 1: just after step 3 when Auth header is used - the URL is not changed yet
![screen shot 2017-03-20 at 11 23 45 am](https://cloud.githubusercontent.com/assets/11319948/24106969/e6fd495e-0d5f-11e7-8ec1-d87f94c035fc.png)

Screenshot 2: clicked "Send" button once after disabling usage of Auth header. URL is changed once
![screen shot 2017-03-20 at 11 24 04

[2017-03-20 15:48] PlanetJumble commented on #1983
@madebysid I find it quite easy to reproduce. I just added the following lines to a controller (Grails 3 in this example, but shouldn't matter if you respond in a similar matter):
[code]
When I call the mapped URL using any HTTP method the request is always repeated. Change the response to something else, text or JSON for example, the request only gets performed just once.

[2017-03-20 17:39] thnk2wn commented on #2823
@SamvelRaja Are you talking about built-in browser dev tools like Chrome Developer Tools or something built-in to Postman? Either way I don't see any way to see Console output as pre-launch there's nothing to debug and during the launch you're stuck at the splash screen w/no apparent way to see Dev Tools for that loading window.

[2017-03-20 17:44] dforney14 opened #2827 "Collection Runner - Is there a way to automatically save run results to a central location?"
Version/App Information:
 1. Postman Version: 4.10.3
 2. Native Windows App

Our organization has adopted Postman to run the majority of our rest service testing and we need the ability to save our run history for internal audit purposes.  Currently we can do this by manually exporting the Run Results for each collection (each time we run that collection), however this is becoming more of a hassle

[2017-03-20 21:10] jongio commented on #2755
Which API are you trying to call?  I have some of the ARM and IoT calls working, details here: http://blog.jongallant.com/tags/postman/

[2017-03-20 21:12] jongio commented on #2296
I will ask the AAD team about this. In the meantime, you can use this approach: http://blog.jongallant.com/2017/03/azure-active-directory-access-tokens-postman/

[2017-03-20 21:18] jongio commented on #1250
I've got it to work with the following: http://blog.jongallant.com/2017/03/azure-active-directory-access-tokens-postman/

[2017-03-20 22:50] 808codist opened #2828 "2nd instance of Postman Chrome (Windows) app hangs on startup"
1. Postman Version:4.10.3
 2. App (Chrome app or Mac app):Chrome App
 3. OS details:Windows 10
 4. Is the Interceptor on and enabled in the app:I don't know
 5. Did you encounter this recently, or has this bug always been there:I don't know
 6. Expected behaviour:2nd window starts up OR notification that Postman is already running.
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-c

[2017-03-21 03:38] saiudayakella commented on #2821
@madebysid Does this not iterate my entire collection as each element refers to one iteration? I can set this way if I have to validate all workflows(folders) with multiple users.

Point 3 which I pointed above will definitely be done by different users(roles), but if I specifiy user1, user2, user3 in the data file, I should duplicate the subsequent requests which validate the workflow. i.e. Authe

[2017-03-21 04:29] vmadman commented on #697
+1

I _think_ my use case matches with many of the users above.  We use [JWT](http://jwt.io/) for session tokens and clients must establish a session token before they can call any other API endpoint.

I've been trying to think of the best way to do this, but every solution I've come up with so far is really clunky.  Whether or not the Postman team follows the precise recommendations from this thr

[2017-03-21 07:50] vegetableman commented on #2828
@808codist Could you share a vid/gif showing the steps to reproduce the issue?. We are not able to recreate it.

[2017-03-21 08:00] czardoz commented on #632
This involves directly accepting the user's credentials to fetch the access token from a server: https://tools.ietf.org/html/rfc6749#section-4.3

[2017-03-21 09:01] czardoz commented on #861
@arekkas The RFC says that
[code]

https://tools.ietf.org/html/rfc6749#section-2.3.1

[2017-03-21 09:03] czardoz commented on #1439
Closing this in favor of #1446

Additional grant types (including client credentials grant) will be tracked there.

[2017-03-21 09:03] #1439 closed, assigned to nobody

[2017-03-21 09:05] aeneasr commented on #861
Again I have to apologize, looks like everything is working as specified :)

[2017-03-21 09:08] Anyqax commented on #2806
There is no SquirrelSetup.log or similar in C:\Users\xxx\AppData\Local\Postman.
I'm on a 64-bit system (i7), tried both 64-bit and 32-bit, no success.

[2017-03-21 09:34] czardoz commented on #2209
@jarroda Can you elaborate on the "hybrid" flow?

[2017-03-21 09:50] rusecure commented on #1475
+1

[2017-03-21 09:59] haidaraM commented on #2030
Any news about this feature ?

[2017-03-21 10:08] czardoz commented on #2453
Closing in favor of #2058

[2017-03-21 10:08] #2453 closed, assigned to nobody

[2017-03-21 10:30] Przem83 commented on #2807
Hi **@madebysid** ,
I've checked with the Postman Console and the Content-Type header is OK. After some try an error I've found out that what I'm experiencing is not a Header issue but rather a problem with importing collections from chrome. It seems that the request I'm using was not imported correctly by the windows app. While everything seems OK when looking at the GUI the x-www-form-urlencoded

[2017-03-21 10:43] Przem83 commented on #2807
OK - I found the root cause. There is a format inconsistency between the collections exported from chrome and the ones exported from windows app. The difference is within the body->urlencoded object. It seems that within the windows app two additional fields where added: "type": "text" and "enabled": "true" and that the windows app is unable to correctly import the x-www-form-urlencoded requests w

[2017-03-21 11:14] andyslater99 commented on #391
Hello, I also appear to be having this issue on OSX (10.12.2) + Postman (4.10.3) + Laravel (5.4), the app always receives the request as a GET? Any solutions?

Andy

[2017-03-21 11:34] naresh7690 opened #2829 "Issue with custom Content-Type in Response Header"
I have created a REST Web service, from that service i sending an xml structured response as a string with response header Content-Type: application/emergencycalldata.provideinfo+xml

My browsers chrome,IE is unable to display the content. Instead it is downloaded as a file.
but same response with header Content-Type: application/xml works as expected.

Is there any possible solution to display th

[2017-03-21 12:38] personal-mkkm opened #2830 "Hitting SSL Rest end point using SoapUI works, but not using postman"
1. Postman Version:
 2. App (Chrome app or Mac app): chrome app
 3. OS details: windows
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: Not sure where it exists already, but I encountered it recently.
 6. Expected behaviour:

I created a self signed certificate and imported into the PKCS12 keystore using the following co

[2017-03-21 13:13] aldav82 commented on #2296
@neverendingqs I can't quite get why you say Azure is implementing it wrong. In the very same link you provided
  https://tools.ietf.org/html/rfc6749#section-2.3.1

it clearly says:

   client credentials in the request-body using the following
   parameters:

Seems to me that sending client_id and client_secret in the request body is correct, no? In your comment, you quoted a text that said is wa

[2017-03-21 14:07] tejaskemkar commented on #1104
+1

[2017-03-21 15:02] neverendingqs commented on #2296
@aldav82 - my take is that HTTP Basic authentication scheme must be supported, even if using the client credentials in the request body is also supported.

The "alternatively" is making me rethink though. At its natural reading, it seems to override the MUST in the previous paragraph. It's strange to use MUST instead of RECOMMENDED though if an alternate is possible...

[2017-03-21 15:30] neverendingqs commented on #1360
Hmm might have to take back:

based on https://github.com/postmanlabs/postman-app-support/issues/2296#issuecomment-288106670.

   authentication scheme for authenticating clients that were issued a
   client password.

   client credentials in the request-body using the following ...

The "alternatively" is making me rethink. At its natural reading, it seems to override the MUST in the previous pa

[2017-03-21 15:41] martynas19942 commented on #1906
+1

[2017-03-21 16:41] tagyoureit opened #2831 "Simple JSON API request works in Chrome App, fails in Mac App"
1. Postman Version: 4.10.3 (Both Chrome & Mac)
 2. App (Chrome app or Mac app): Problem is with Mac App
 3. OS details: 10.12.3 Sierra
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: New API.
 6. Expected behaviour: API should return "{"status":0}" which it does from the Chrome App.  From the Mac app it returns an error "

[2017-03-21 17:44] renatomariscal commented on #1996
It just happened to me, I noticed that Mac was heating since I wake it up; After 1 hour decided to check the system monitor. A "Google Chrome Helper" was consuming 110% of CPU, killed it and Postman crashed.

[2017-03-21 18:31] itsgauravjain22 commented on #855
I am also interested to have some way to put causing failure in reporting part in postman.

I am doing schema validation for each json response.

tests["Schema is valid"] = tv4.validate(parsedResponse, jsonSchema);
console.error("Validation failed: ", tv4.error);

It would be great if there's some way to put causing error message in report instead of putting in console logs

[2017-03-21 23:17] curtisgibby commented on #2427
Any update on this? I'm having the same problem with `/noun/:id.json` type URL formats. Thanks for the workaround, but if you could get it working "right", that would be much appreciated!

[2017-03-22 00:01] AdGalesso commented on #1947
@easedev even if you create a environment variable you have to go to each request and add the headers =S. It would be great if you could bulk update all your requests.

[2017-03-22 01:32] 808codist commented on #2828
see mp4 w/in attached zip

[2017-03-21_15-22-13.zip](https://github.com/postmanlabs/postman-app-support/files/860122/2017-03-21_15-22-13.zip)

[2017-03-22 03:03] LolaYan commented on #1535
+1

[2017-03-22 03:47] LolaYan commented on #697
+1

[2017-03-22 06:58] jenssaade commented on #1906
+1

[2017-03-22 08:19] xiaobeiying commented on #2553
@vegetableman I have a problem when using `request.data`.
`var iContent = request.data["i"]`, the script worked great in Postman Sandbox, but the same script in Postman APP, its return is `undefined`.
Why???

[2017-03-22 08:31] magicdawn commented on #2225
Having this problem too.
Native App 4.10.3 (4.10.3).

![image](https://cloud.githubusercontent.com/assets/4067115/24188581/e464ae9e-0f1c-11e7-99bf-c98b125b4a6e.png)

![image](https://cloud.githubusercontent.com/assets/4067115/24188603/f7529b74-0f1c-11e7-92c8-5338ee6655ff.png)

But chrome app works fine under this network config

[2017-03-22 08:48] khawajaasim commented on #1171
@sobtiankit so is there way to do that in new tab rather than desktop window?

[2017-03-22 09:04] xiaobeiying commented on #2553
My problem have been resloved. @kunagpal Thanks.

https://postmancommunity.slack.com/archives/D37KCC05T/p1490171896263414

[2017-03-22 09:24] eko55 commented on #2822
The problem was that the requests(and tests in them) were not saved.I thought that when I close Postman all request are saved automatically,because after open it again all tests seem to be there.But obviously you should explicitly save your request before export.

[2017-03-22 09:24] #2822 closed, assigned to nobody

[2017-03-22 09:26] sdnts commented on #2822
@eko55 Ah, indeed, nothing is saved to your collections unless you explicitly do it. This is to prevent accidental overwrites.

[2017-03-22 10:22] skyboyer opened #2832 "collection runner: inconsistency with variables usage in tests"
Data loaded from CSV file in collection runner can be used the same way as ordinary variables: through {{variable_name}} notation.
Except "Pre-request"  and "Tests" sections. There I have to refer data[] variable.
At least I was unable to find data imported from CSV neither in environment[] nor globals[] variable.

So if I have tests with variables used I should change them each time I use Collect

[2017-03-22 11:42] vegetableman commented on #2831
@tagyoureit The request body being sent is different in the chrome app vs the mac app. `"OldName":"1Pergola Lights"` being sent from the mac app, instead of `"OldName":"Pergola Lights"`.

[2017-03-22 12:50] schellem opened #2833 "Postman opens off screen(s) when display monitors are changed"
V4.10.3 running on win 8.1, I opened Postman this morning and the app was not visible but has tray icon, tried again and get another tray icon. Can't switch to them, I opened my docked laptop to see if it was showing up on that screen and it's not.

**I actually can't use Postman now as I can't get to it**. I'm guessing the last time I opened POSTMAN was at home with laptop not docked and using a

[2017-03-22 13:43] frhd commented on #1906
+1

[2017-03-22 14:58] S33G commented on #285
Really nice new features in the above. @bhawna2109
However, I see the prompt as suggested by OP as being a really powerful feature and would love to see this implemented.

[2017-03-22 15:05] schellem commented on #2828
I see the same results with 4.10.3 on Win 8.1, the second instance sits on the solar system waiting image.

[2017-03-22 15:07] schellem commented on #2833
Finally figured out how to get it back onscreen. Hover over the Postman tray icon, right click the running instance and select Move, then use arrow keys to try and find it.

[2017-03-22 15:35] udev opened #2834 ""Publish gist" feature"
I work directly with a modest base of integration partners ranging from active, full-time to development staff to part-time contractors to relatively untrained hobbyists. It would be convenient to have a "publish gist" feature like in [Charles Proxy](https://www.charlesproxy.com/) that would take complete request and response body and header information and publish that information as a gist.

Fea

[2017-03-22 15:36] jcatric opened #2835 "[Feature Request] On the right-click on a tab offer the posibility to close tabs"
Hi,

It would be nice to add a feature that when you right-click on a tab, it gives an option to Close Tab, Close Other Tabs & Close All Tabs, Close unmodified

because it's annoying to have to click on each tab to close them when you have more than 10 open.

Thx.
Best Regards.
Jerome.

[2017-03-22 15:41] gausie commented on #2724
This would be really useful.

[2017-03-22 15:50] udev commented on #2834
https://developer.github.com/v3/gists/#create-a-gist

[2017-03-22 16:44] mitchellporter commented on #2071
Any update on revision history? Very excited for that functionality.

[2017-03-22 16:59] bruno-unna commented on #2818
@a85 Why do you say it's invalid javascript? This is supposed to be a JSON document, and it is valid according to my validators.

[2017-03-22 17:11] sdnts commented on #2818
@bruno-unna Test scripts are actually JavaScript, not JSON, so you cannot have variables with a `-`.

The request body is JSON, though.

[2017-03-22 18:53] gordody commented on #2803
A-ha! When I use "Raw", I see "OK". :)

I guess you could improve upon this behavior if you returned <This call
doesn't return anything> or something along those lines instead of an
error, since there is no context to the error and I have no way of knowing
that it is actually err-ing trying to render the (null) result of a
successful operation. :)

Thank you for the help,
Yours,
Gyuri

On Fri, Mar

[2017-03-22 19:26] zomby22 commented on #412
I also need an answer: when loading data from a database, this does not load correctly using the datatable (json). `<a href="sdfdsfdas">` because of the double quotes. I get invalid json when from data contains double quotes. Do I try to escape the double quotes in my ASP code or in the datatable jquery code? if so, How.

[2017-03-22 21:17] veglos commented on #727
Any plans yet for this feature?

[2017-03-22 21:43] myasutake opened #2836 "data.variables Undefined in Pre-request Scripts and Tests for Native App only"
Postman Mac app v4.10.3.
OSX 10.11.6
Not using Interceptor

Postman Chrome app
OSX 10.11.6
Not using Interceptor

Fairly new to this area of Postman, so I'm not sure how far back this issue potentially goes.

When running a Collection, I'd like to reference the data variables collected from a JSON Data File. I am able to fetch these variables with the Chrome app, but not the Mac app (shows undefin

[2017-03-22 21:50] squidcrash commented on #1104
+1

[2017-03-22 22:18] sebastian-serfe commented on #739
+1

[2017-03-23 01:41] dyihoon90 commented on #682
+1

[2017-03-23 01:42] Gyunikuchan commented on #682
+1

[2017-03-23 03:12] tadesamson commented on #1104
+1
I'm also in support of this.  unable to test my api server using postman due to this restriction.

[2017-03-23 03:14] jasonmorita commented on #1983
@PlanetJumble Same for me with Express.

Issue name change suggestion: The Postman Always Rings Twice

[2017-03-23 03:46] Singwai opened #2837 "[Feature Request] Public search for postman export"
Hello,

I am wondering if there is a way to publish and share postman export.

For example, if I want to learn about how does Github api work, I can just import an existing json file and make some sample call with a profile set up.

Best,
Singwai Chan

[2017-03-23 05:03] manas-mukherjee commented on #2684
@madebysid
Re - I see that your request tab is dirty.
Not sure what do you mean by 'dirty' here. Some of the headers(Postman-Token, cookie etc) are added by postman client.

My tokens are saved in env variables which are mentioned in the 'Authorization' tab( OAuth1.0).
Earlier it worked seamlessly. If you want then you can try Intuit's QBO V3 collection with your OAuth tokens. Couple of my colleag

[2017-03-23 07:15] vegetableman commented on #2828
Ah.. yes, the issue is reproducible for the native app. will keep you guys posted ^_^.

[2017-03-23 08:21] hakimio commented on #1048
Even with interceptor disabled html preview doesn't show images...

[2017-03-23 10:47] saiudayakella commented on #2821
@madebysid Did you get a chance to look into this issue?

[2017-03-23 12:31] sdnts commented on #2071
@mitchellporter It's very close. The ability to restore a collection to an older state is coming soon.

[2017-03-23 12:38] sdnts commented on #1048
Guys, are the Content-Type headers in your responses correct? I've been testing this with `http.cat/200`, and all images preview properly.

[2017-03-23 12:45] hakimio commented on #1048
"Content-Type:image/svg+xml"
Image set using CSS background property.

[2017-03-23 13:53] jorbascrumps commented on #2489
Still seeing this issue, except my install has somehow reverted to `4.8.0-canary.1`?

[2017-03-23 14:19] dvishniakov commented on #2540
I have a 4.10.3 Postman app on Mac and it looks good there

[2017-03-23 14:53] selop commented on #882
+1

[2017-03-23 16:18] mtoothman opened #2838 "Duplicate functionality behaves differently in different parts of app"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Mac
 3. OS details: 10.12.3 (Sierra
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: recently started using application
 6. Expected behaviour: "Duplicate" creates an independent copy of the duplicated request that can be freely modified without changing the orig

[2017-03-23 16:38] mitchellporter commented on #2071
@madebysid Awesome thanks for the fast response and definitely looking forward to it cheers!

[2017-03-23 17:39] 123dev commented on #1475
+1

[2017-03-23 19:46] BrunoBerisso commented on #2225
I also have the same problem. Native app 4.10.3, proxy settings doesn't work.

[2017-03-23 20:15] tagyoureit commented on #2831
Hi, yes you are correct.  I was running many different tests and must have posted the wrong screenshot (or log).  But the problem does happen when the exact same JSON string is sent from both apps:

1. Try to run the request with the body `{"OldName":"1Pergola Lights", "NewName":"Pergola Lights"}` in Mac app and it fails.
1. Copy the exact same JSON string to the Chrome app and it does work.

I ca

[2017-03-24 01:00] jhelbig commented on #697
+1

[2017-03-24 03:37] Dkstu commented on #2247
+1 Common scripts for all elements in my Collection and/or folders.

[2017-03-24 03:49] alexandruirimiea opened #2839 "Multi-line text field for URL"
Currently, the URL can be edited on a single line. This is especially difficult for long URLs, because I need to move the cursor whenever I need to access a hidden part of the URL.

I see there is a Key-Value edit for URL parameters, but I may ask, will a multi-line text field for the URL ever be considered for implementation?

![multilinepostmanaddresseditor](https://cloud.githubusercontent.com/a

[2017-03-24 04:01] prashantagarwal commented on #2839
Hey. Thanks for pointing it out. We are planning to change this very soon in our upcoming versions.
I will keep you updated about it.

[2017-03-24 04:02] alexandruirimiea opened #2840 "Keep URL and request name consistent"
Is there a possibility to keep the request name the same as the URL for that request?

For example, if I save a new request in a collection with URL `{{address}}/old-method`, it will automatically be saved accordingly, but when I change the URL to `{{address}}/new-method`, the request name will not change, so the request will appear as `{{address}}/old-method` in the collection, this causing confu

[2017-03-24 06:43] sdnts commented on #2684
Hi @manas-mukherjee By dirty, I mean your request wasn't saved completely.
I made an app on your dashboard, and I was able to make your collection work on the Runner.

One thing I did noticed was, none of the requests had an OAuth1.0 helper attached to it. Did you click `Save Helper to Request` in your OAuth1.0 helper? Without it, it will not get saved with the request, so the Runner wouldn't gene

[2017-03-24 07:31] zhrastic commented on #1137
+1

[2017-03-24 08:26] vegetableman commented on #2835
@jcatric If you are on the native app, you could right-click on the tab to select the former 3 options.  As for the fourth option, could you provide an example of an app/tool that provides it?.

[2017-03-24 08:26] sdnts commented on #2838
@mtoothman When you duplicate a tab, you're essentially opening the saved request in a new tab, so when you change and save the duplicated tab, the initial request is affected.
When a tab is opened, you can look at the sidebar to see which request you're working with.
However, I can see how this might be a little confusing. We'll look into this!

[2017-03-24 08:48] sdnts commented on #2832
@shamasis Thoughts?

[2017-03-24 09:29] vegetableman commented on #2745
Closing this issue. @d-schmidt Could you create an issue related to the `never save` option, so that we could keep you posted on the same ?

[2017-03-24 09:29] #2745 closed, assigned to nobody

[2017-03-24 09:35] sdnts commented on #2840
@alexandruirimiea While I understand your issue, the request name is generally separate from the URL, so having a link between them is probably not a good idea. Usually, you have names like `Get User details`. This makes it easy for collection subscribers to make sense of what a request does. This is also used when the collection's documentation is shared.

When you save a request, you can change

[2017-03-24 09:35] #2840 closed, assigned to nobody

[2017-03-24 09:56] vegetableman commented on #2834
@udev Sounds cool 👍 . Tagging this as a feature request.

[2017-03-24 10:42] InfobyteTarun opened #2841 "Collection Runner - If 1 API got failed(status not equal to 200), runner not running other APIs, any setting so that other APIs got run as well."
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-03-24 11:02] d-schmidt opened #2842 "[Feature Request] Add "Never save on close"-option"
I want to get rid of multiple tabs of slightly changed requests without being asked to save each of them one by one.
This could be a check box in the "save?" dialog or a general setting.

In the Chrome App it is, as of now, not, not possible to close all tabs (with or without saving).
Since `4.10.3` the native app supports "close all" but I can't verify if it asks to save.

relates to #2745

[2017-03-24 11:05] drywolf commented on #361
Just for reference ... the Postman native app is now available for Linux:
http://blog.getpostman.com/2017/03/14/going-native/ :smile: 👍

Any news on a Windows release ?

[2017-03-24 11:11] d-schmidt opened #2843 "[Feature Request] Bring back "close all without save on exit" as a setting"
This was the default behavior some versions ago. It allowed to start with a clean slate every time.

Maybe combine the control of the save behavior with #2842

In the Chrome App it is, as of now, not, not possible to close all tabs (with or without saving).
Since `4.10.3` the native app supports "close all" but I can't verify if it asks to save.

relates to #2745 #2842

[2017-03-24 11:35] sdnts commented on #2833
@schellem We'll definitely look into this, thanks for letting us know!

[2017-03-24 11:38] alexandruirimiea commented on #2840
@madebysid indeed, I am fully aware of what you are saying. What I was trying to say is that it would be nice if there was a checkbox in options like "Keep request name as URL", that the user can check (or uncheck) if he/she wants (or doesn't want) to avoid the redundancy issue that I described above.

[2017-03-24 11:40] czardoz commented on #361
@drywolf Windows has been available for a few months now, grab it here: https://www.getpostman.com/apps

[2017-03-24 12:13] sdnts commented on #2794
@smijar Thanks for reporting this. We're aware of this. We're currently working on allowing bodies for GET requests, so in a future version, you'll be able to see it at least. Closing this in favour of #2729, where this is being tracked.

[2017-03-24 12:13] #2794 closed, assigned to nobody

[2017-03-24 12:48] deyhle commented on #448
Thank you for that information.
However, when pasting some multi-line text into the canary version's editor, it still removes the newlines. Had to add them manually afterwards again.

[2017-03-24 14:01] jcatric commented on #2835
Ok my mistake i was talking about "postman for chrome"

![postmanchrome](https://cloud.githubusercontent.com/assets/5849848/24297228/5e4ef032-1078-11e7-82d0-c2179828836b.png)

(the fourth option is unnecessary, because postman native allow to close all tabs even if they have been modified)

 i will switch on postman native.

[2017-03-24 14:01] #2835 closed, assigned to nobody

[2017-03-24 14:35] lloydjatkinson commented on #2232
Yep still broken for me.

[2017-03-24 18:24] b4nst opened #2844 "Header auth template is not done at runtime"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Stand alone ubuntu
 3. OS details: Ubuntu 16.04
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: recently but did not try before

When:
Running a collection.

When I set Basic auth on request header templated with environment variable comming from last requests (s

[2017-03-24 19:15] drywolf commented on #361
😏 Ow, I did overlook the big link in the header, just saw the options below for Chrome/Mac/Linux.
Nice, I'm looking forward to try it out over the weekend.

Thanks @czardoz

UX-PS: maybe a more vibrant color for the download button in the header would make it more recognizable, I just visited the page in a hurry when I posted the above comment and I seriously overlooked it ☺️

[2017-03-24 20:41] tmack8001 commented on #1441
I also am having issues getting a "binary" body via file selection working with my API backend

[2017-03-24 20:45] tmack8001 commented on #2756
When I try to use binary body, it sends the request with no content to my local server.

[2017-03-24 21:30] qmcree commented on #2797
+1 ... Our org uses an internal self-signed Certificate Authority (CA) that is trusted on each client's workstation via Mac OS Keychain. This CA signs individual server certificates for staging and dev environments. Didn't have any trouble using the Chrome App, since it respected Keychain settings. Having to disable SSL verification entirely scares me. 😁  Thanks for the awesome app, guys!

[2017-03-24 21:33] jongio commented on #2315
+1 Feeling the collection versioning pain atm.

[2017-03-25 10:04] mrghosh opened #2845 "postman doing preflight request and CORS header check"
I am using postman to debug [qbittorrent API](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-Documentation). qbittorrent API doesn't send 'Access-Control-Allow-Origin' header. So, all XHR request made by postman is failing.

Previously, I used ARC(advanced rest client) extension, and It had an option to "disable" XHR. So, It worked fine according to my scenario.

Is there any way postma

[2017-03-25 10:58] LeightonFerris opened #2846 "Access token request returns the Postman app itself"
I'm following the Yelp Fusion API documentation and when trying to get a new access token I'm getting an error from Postman "Error getting access token from client_credentials flow: SyntaxError: Unexpected token < in JSON at position 0". After using Chrome's inspector to examine the request and its response I've found that the response appears to be the HTML for Postman itself (i.e the UI, referen

[2017-03-25 17:23] jordan-wright opened #2847 "FR: Ability to have Required or Optional request parameters"
1. Postman Version: 4.10.3 (4.10.3)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.12.3 (16D32)
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Always been there
 6. Expected behaviour: Having the ability to mark a request parameter as required or optional.

This is similar to #1155, but I thought it'd be wor

[2017-03-26 02:02] zrod commented on #739
Hi, any updates on this? Thanks!

[2017-03-26 18:13] a85 commented on #1113
@madebysid Can we keep this as under the "Feature" label?

[2017-03-26 19:16] swathisham opened #2848 "Unable to enable the inspect element feature in postman"
1. Postman Version: Postman for Windows
Version 4.10.3
win32 6.1.7601 / x64
 2. App (Chrome app
 3. OS details:
 4. Is the Interceptor on and enabled in the app: Disabled
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if applicable)

[2017-03-26 20:12] RatanShreshtha commented on #682
+1

[2017-03-27 01:39] JuanGilpin commented on #1475
+1

[2017-03-27 07:37] hariom282538 commented on #1384
This is not a postman problem at all. I got the same error and the reason for that was I was trying to produce @Produces("application/json") but I was actually returning a String. So, just check your code once, whether the method is returning json or not.

[2017-03-27 08:29] svenholder opened #2849 "Add possibility to switch between certificates"
1. Postman Version: 4.10.4
 2. App (Chrome app or Mac app): Chrome
 3. OS details: linux / x86-64
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: It's possible to choose every time between certificates via a button or function. To use for different requests, differents certificates
 7. Conso

[2017-03-27 09:15] numaanashraf commented on #2849
@svenholder Thanks for the feature request. Client certificates are automatically handled by the browser in Postman Chrome apps and we do not have programmatic control over them. We'll consider this as a feature request for Postman native apps.

[2017-03-27 09:17] numaanashraf commented on #2848
@swathisham Please share the steps to replicate this issue.

[2017-03-27 09:37] findel commented on #285
👍 An input and/or password prompt would be so useful. I don't really want my developers storing their password as plain text in a global/environment variable.

[2017-03-27 09:38] numaanashraf commented on #2845
@souravndp That's odd. Postman should not be doing a preflight request and CORS header check. Could you let us know your OS and exact Chrome version too? We'll look into this. In the meantime, you could try our native apps (www.getpostman.com/apps) which do not use XHR.

[2017-03-27 09:56] numaanashraf commented on #2844
Hi @BastienAr, we are having trouble replicating this at our end. I've shared a sample collection which fetches the authorization information from one endpoint and uses this info to generate basic auth for the next call. Do let me know if this collection works fine at your end.

https://www.getpostman.com/collections/bcc701dbde7ae6a8b8e0

[2017-03-27 10:45] Daszczu commented on #2825
I've also encountered this behavior. Win 10, latest Postman app.
Pretty is hanging the app and I had to kill the process.

[2017-03-27 11:55] blaxter commented on #1647
Actually the export data option doesn't export history, it only exports collections, environments, globals and header presets (and sync option is not working for me chrome app <-> desktop app).

[2017-03-27 13:26] shivamjain03 commented on #1441
You can easily upload a binary file in postman using following steps:
- Content-type should be multipart-formdata in Headers
- In body 'form-data' option should be remain as default.
- Choose 'File' option instead of 'text' from dropdown at the right side.
- Type 'File' in text box where placeholder is 'key'.
- choose your binary file to be uploaded by clicking choose files button.
- Click on send

[2017-03-27 13:48] jonrimmer opened #2850 "Cookies are not included in POST requests from Chrome app"
**NOTE: "Use the native app" is not a solution, at the native app does not support HSTS.**

 1. Postman Version: 4.10.4
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: macOS Sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: Yes, and yes.
 5. Did you encounter this recently, or has this bug always been there: Unsure.
 6. Expected behaviour:

When making a POST from the Ch

[2017-03-27 14:12] numaanashraf commented on #2850
Hi @jonrimmer, Postman Chrome app relies on your browser to set the cookie correctly while sending requests via the Interceptor. Please verify that the cookie you expect in the subsequent calls have been set correctly in the browser (chrome://settings/cookies). To debug the requests send via the Interceptor, open its DevTools via chrome://inspect/#extensions -> Inspect (Postman Interceptor
chrome-

[2017-03-27 14:45] b4nst commented on #2844
Yep, I somehow manage to get my stuff working (your collection works too) just by resetting my environment. The problem seems to occurs when the header was saved with values already setted in the environment. Actually I also have trouble to reproduce the behavior. I will try to replicate it, but you can close this issue since it seems to happen in really specific configuration.

I also noticed tha

[2017-03-27 14:48] jonrimmer commented on #2850
Hi @numaanashraf, yes, I can see the cookies in the browser settings.

Debugging the interceptor's background page networking confirms what I reported: the logged GET requests sent via Postman include the expected Cookie header, whereas POST requests sent via Postman do not include any Cookie header.

[2017-03-27 16:15] mrghosh commented on #2845
I didn't think about this before but now I realized chrome allows extension and apps to make XHR.

My OS is Windows 10 64 bit. Chrome Version 56.0.2924.87 (64-bit)

![capture](https://cloud.githubusercontent.com/assets/652191/24366398/a795cca0-1336-11e7-9247-4d4621bd9c84.PNG)

[2017-03-27 16:38] numaanashraf commented on #2845
Thanks for the screenshot, @souravndp. We are taking a look at this.

[2017-03-27 16:43] numaanashraf commented on #2850
Hi @jonrimmer, could you drop us a mail at help@getpostman.com with the cookie info? we'll take a look at why this cookie is not picked up in the POST request. Please redact the key, value and domain information from the cookie before you send us.

[2017-03-27 17:24] numaanashraf commented on #2845
Hey @souravndp, could you send us a screenshot of the Network tab with the failed request? Something like
![screen shot 2017-03-27 at 10 53 24 pm](https://cloud.githubusercontent.com/assets/3295568/24369034/4de3e8f4-1340-11e7-9022-11eb0ebe0521.png)

[2017-03-27 18:21] brian-prince commented on #1535
+1

[2017-03-27 19:11] mrghosh commented on #2845
![image](https://cloud.githubusercontent.com/assets/652191/24373454/11a7a2ae-134f-11e7-800b-8c55de0543f9.png)

![image](https://cloud.githubusercontent.com/assets/652191/24373509/2e9a0f78-134f-11e7-987b-20613189071c.png)

![image](https://cloud.githubusercontent.com/assets/652191/24373535/402b6f98-134f-11e7-90e7-6e3a42f98cce.png)

[2017-03-27 19:20] stevemcmillen commented on #1441
This would not work for our chunked upload API since it requires passing data as binary in body and thus I need to use the "binary" method for POST.

[2017-03-27 22:37] TheTooz opened #2851 "Feature Request: Add postman.setNextFolder() similar to postman.setNextRequest()"
In a collection with multiple folders I often times have many calls with the same names. It would be great if we could tell the runner which folder to go to next rather than a specific call.

[2017-03-27 22:48] smileatom opened #2852 "Too long decimals cause parse failure"
1. Postman Version: v4.10.3
 2. App (Chrome app or Mac app):mac app
 3. OS details: latest OSX
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: JSON values with ampersands in strings are returned as data
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools

[2017-03-28 01:59] scottadamsmith commented on #2756
@stevemcmillen Curious, does the installed app allow you to manually insert a Content-Length header? The chrome app restricts the ability to set this header.

Please disregard, just confirmed with a teammate that the installed app does let you set the value manually.

[2017-03-28 04:55] smileatom commented on #2852
I dont know what parser you are using but parsing these as strings and converting is safer than trying to parse as decimal.

[2017-03-28 16:45] aggieben commented on #2817
So is there no workaround?  How are we supposed to test different users on APIs?

[2017-03-28 16:50] aggieben commented on #2049
Is there any update on this?  Is there a way to manually remove the cookies?

[2017-03-28 17:04] robertjd commented on #1947
+1 for the ability to have a preset always applied to new requests.  Perhaps this is bound to an environment, rather than global?

[2017-03-28 18:01] malvadeza commented on #2418
Some problem here.
On Desktop App (Windows/Mac) it doesn't work, but as the Chrome App postman is able to show the response code (it works).

[2017-03-28 19:42] ddarling9 opened #2853 "Feature Request: Better Scrolling of Collection Runner results using keyboard"
The Collection Runner results screen has very annoying and inconsistent scrolling. It doesn't allow you to use standard keyboard commands like 'Home' ,'End', 'Page Up' or 'Page Down'. Ideally I'd like an option to have it keep scrolling to always show the latest. Scrolling of the iteration bar on the right hand side (which is the fastest way to scroll) is completely unusable while tests are still

[2017-03-28 20:19] rbalik opened #2854 "Hitting "Update Request" on auth tab gets rid of variables in URL"
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10 64-bit
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: Just switched to the window app today and started seeing it
 6. Expected behaviour: When I set a username and password and click "Update Request" the URL should not change.

[2017-03-28 21:44] fesguerraqa opened #2855 "DELETE request sends non-empty Request Body on Standalone Windows Postman"
1. Postman Version: **Version 4.10.3**
 2. App (Chrome app or Mac app): **Postman for Windows Standalone**
 3. OS details: **Windows 7**
 4. Is the Interceptor on and enabled in the app: **Not sure if there is a toggle for this on the Standalone version. If there is whatever is by default.**
 5. Did you encounter this recently, or has this bug always been there: **only recently but this was probab

[2017-03-28 22:52] jaskarangump opened #2856 "Issue in obtaining OAuth token due to duplicate credentials being sent from postman"
1. Postman Version: Version 4.10.4
 2. App (Chrome app or Mac app): Chrome
 3. OS details: OS X / x86-64
 4. Is the Interceptor on and enabled in the app: Off
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: As per Oauth spec, the client credentials should be sent either in body or header. However currently, it is being sent in both places.
A

[2017-03-29 13:03] ikawalec commented on #882
+1

[2017-03-29 13:26] khaosdoctor opened #2857 "Swagger Docs missing specification when importing"
__Description__:

When I import some swagger yaml or json documentation (even swagger's own examples like the petstore), some parameters are not loaded correctly, i.e. The body parameters are fetched with the description of the object and the auth method is aways "No Auth". This might have been referenced on #843 and more specifically on #2617

Version/App Information:
 1. Postman Version: 4.10.3

[2017-03-29 13:45] vegetableman commented on #2854
@rbalik Thank you for posting this issue 👍 . The issue has been fixed internally and will be part of the upcoming release.

[2017-03-29 14:52] tsmgeek commented on #2681
Same on 4.10.3.
Does not happen if you pass params though URL.

[2017-03-29 15:13] fschwalm commented on #1392
Duplicated https://github.com/postmanlabs/postman-app-support/issues/986

[2017-03-29 15:40] ipshing opened #2858 "Cookies cannot be deleted by domain"
Version/App Information:
 1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Windows 10 App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Found recently
 6. Expected behavior: When clicking on the X to remove all cookies in a domain, the cookies are actually deleted (and not just hidd

[2017-03-29 18:25] pmneve commented on #2352
Sorry about delay responding.   No.  Just tried to install the latest version and same thing.  process appears in task manager for about 10 seconds and then disappears

[2017-03-29 18:28] SamvelRaja commented on #2352
@pmneve can try opening the installer using command line?  And let me know if that thows any errors there.. 😞

[2017-03-29 18:34] pmneve commented on #2806
Have been having similar issue since September (#2352) except that I don't even get the error message.  No logs at all.  Both 32 and 64 bit (on 64 bit system).   The directories in AppData\Local\Postman are there but no logs

[2017-03-29 19:14] ipshing commented on #2858
Upon further investigation it appears that the "group" X effectively deletes one cookie at a time. They all disappear but when you open the window again, all but one have returned.

[2017-03-29 19:14] smijar commented on #2794
I am not sure if the other issue has any relevance here.  Mine was mainly a pointer for the UI to clear out the body or present an option to clear it out if switching from a POST to a GET request.

The other issue condones this issue by saying that GETs should be allowed to have a BODY.

[2017-03-29 19:15] weiwanning commented on #1869
This bug is still happening to me, I am on 4.10.5 the mac app.
Appear to work when I url decode once.

[2017-03-29 19:16] numaanashraf commented on #2858
Hi @ipshing, thanks for reporting this. We are trying to replicate this at our end and will keep you posted.

[2017-03-29 19:18] numaanashraf commented on #2855
Thanks for reporting this @takemori-san. We are trying to replicate this at our end and will keep you posted.

[2017-03-29 19:38] RatanShreshtha opened #2859 "How to save response of an API request to a CSV file and use that CSV as input for other API calls."
Hi

I have been using Postman for a while and I really love the tool but I am not able to understand how can I save response of an API to a CSV file, and later use the CSV file to fire some other APIs.

[2017-03-29 19:51] ghost commented on #1906
+1

[2017-03-29 21:23] robertmircea commented on #1906
+1

[2017-03-29 21:59] allanchiou commented on #1906
+1

[2017-03-29 22:16] rhildebrand opened #2860 "Send and Download not saving correctly"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Recent
 6. Expected behaviour: Download valid requested file to client.

1. GET http://blog.getpostman.com/wp-content/uploads/2014/07/logo.png and choose "Send and Download"
2.

[2017-03-29 22:25] SamvelRaja commented on #2860
@rhildebrand  Thanks for bringing this to our notice.  We are confirming the issue on the latest release. Will update the thread on the process.

[2017-03-30 00:05] chloeharper commented on #2860
I'm having the same issue.

[2017-03-30 06:45] antk43 opened #2861 "Variable is not resolving when value is null"
Version/App Information:

 1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Postman for Windows
 3. OS details:
 4. Is the Interceptor on and enabled in the app: no unable to set my own proxy settings
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: as per the Chrome extension version when using a data file; any cell that contains

[2017-03-30 07:42] Kanaduchi opened #2862 "Feature Request: Add setting in two-pane view to display address field on full width"
Currently when I switch to two-pane view address input is displayed only above left pane. When we use a long query, it's very inconvenient.

It will be great to add new option to display address field on full width above both panes.

See screenshot:
![2-pane view](https://cloud.githubusercontent.com/assets/7042994/24492909/55de4254-1546-11e7-9986-dc6734e24eff.png)

[2017-03-30 08:00] numaanashraf commented on #2802
Hi @dannyhajj Thanks for the suggestion. We are looking into this and tracking this at #2716.

[2017-03-30 08:00] #2802 closed, assigned to vkaegis

[2017-03-30 08:01] numaanashraf commented on #2862
Hi @Kanaduchi Thanks for the suggestion. We are looking into this and tracking this at #2716.

[2017-03-30 08:01] #2862 closed, assigned to vkaegis

[2017-03-30 08:23] selop commented on #2851
+1

[2017-03-30 08:39] wscherfel commented on #682
+1

[2017-03-30 09:25] stanac opened #2863 "Not possible to see full URL in collections"
Version/App Information:

 1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Postman for Windows
 3. OS details: win32 10.0.10586 / x64
 4. Is the Interceptor on and enabled in the app: makes no difference
 5. Did you encounter this recently, or has this bug always been there: always i believe
 6. Expected behaviour: There is horizontal scroll bar on collections and history for long urls

[2017-03-30 09:51] rickythefox commented on #348
@madebysid Shortcut is still not listed under Settings / Shortcuts it seems.

[2017-03-30 09:55] lynndotconfig commented on #1137
+1

[2017-03-30 09:55] saschazar21 commented on #2616
I understand that Postman for Linux is still in beta...
However, it would be nice to also have automated builds for different Linux distros, while you're not present in the different software repositories, so that people can install Postman at least manually and have it integrated in their system's applications...
Would it be possible to also publish a .deb or a .rpm release in Postman's next rele

[2017-03-30 10:00] sdnts commented on #2830
@manikdn84 Does a prompt to send a certificate with your request appear in your case? If it doesn't, can you try clearing Chrome's SSL cache and see if it appears? You should then be able to select a certificate.
Can you also try this out with our native apps? They have an inbuilt Certificate manager that should help you make this process easier.

[2017-03-30 10:11] sdnts commented on #2566
@robertkuhar Does the AWS signature helper not work for you either?

[2017-03-30 10:49] sdnts commented on #2829
@NareshEtoile Are you on the native or the Chrome app? I am unable to reproduce this with the latest version (4.10.5 as of now) by setting up a little Node server that returns this `Content-Type`.

Can you try updating and check if you can still see this?

Feel free to reopen if still happens.

[2017-03-30 12:38] PFarrell89 opened #2864 "[Bug] The test results under the 'Tests' tab in the response window are now displayed alphabetically."
1. **Postman Version: 4.10.5**
 2. **Windows Native Client**
 3. OS details: **Windows 10 x64 Bit**
 4. Is the Interceptor on and enabled in the app: **N/A**
 5. Did you encounter this recently, or has this bug always been there: **This appears to be a new issue.**
 6. Expected behaviour: **The tests that were created against the endpoint should match the order displayed in the Tests tab for the r

[2017-03-30 12:46] emersonf opened #2865 "Support all URI placeholders in Params section"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Mac app

RESTful URLs tend to have URI variables as well as query parameters. Unfortunately when using `{{placeholders}}` inside a URL, those placeholders are only resolved from the environment. I think it would be more convenient to be able to resolve them from the [query] _Params_ section, i.e. to change the _Params_ section to a more g

[2017-03-30 13:06] kamalaknn commented on #2864
Hi @PFarrell89,

Thanks for reporting this issue. This is an unintended outcome of our recent changes.

We have a fix ready for this. Will be rolled out as part of our next release.

I will update here when the release goes out.

[2017-03-30 13:19] cpttripzz commented on #1263
Not working on Native LInux App

[2017-03-30 14:06] mohamedmubarish-s-19801 opened #2866 "Post Method returns Get Response Newman"
Hi
I tried running a post method in newman but the response i got is for get method. It works well and good in Postman. Please check and let me as soon as possible

[2017-03-30 14:48] marmor7 commented on #1264
@madebysid can you explain a bit how to view responses?
I still can't find them in Postman Runner 4.10

[2017-03-30 14:57] msignataur commented on #1264
You can view responses at the run results page, clicking in the name of every iteration.

![screen shot 2017-03-30 at 11 56 11 am](https://cloud.githubusercontent.com/assets/7916444/24510543/e6f3402a-153f-11e7-9024-cc48a13f8e77.png)

[2017-03-30 14:57] spekdrum commented on #1983
Same problem here. Postman V. 4.10.3.
Its a POST service that returns a PDF (Content-Type: application/pdf). API is secured with cookie tokens.
Service is called twice. Using SoapUI does not happen.

Maybe it's related with the fact that the response its a file to be downloaded.

[2017-03-30 15:08] bhawna2109 commented on #2865
@emersonf I'm guessing your major issue is that the latter part of the URL is not visible and is hard to edit - is this correct?

If this is the case, then we've solved this usability issue in our latest update. Thus, when you click on the URL bar, it expands to show the complete url. More details here- http://blog.getpostman.com/2017/02/28/introducing-the-new-data-editor/

Let me know if this doe

[2017-03-30 15:31] jangirashok opened #2867 "Unable to copy data from Clipboard"
Hi Guys,
It's more like a request for a new feature. I use Postman to a lot of API testing. I love this tool as it's amazingly interactive and helps me understand everything going on from client side. So, in order to do my tests I do Certificate Based/ JWT authorization. For each new request I have to create signatures; which, I hope you understand, makes it really terrible.
If there was a way we

[2017-03-30 16:06] shrutiSS opened #2868 "Blank white page is displayed after installing Postman Version 4.10.5"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-03-30 16:57] pho3nixf1re commented on #2601
I just hit this bug as well. Postman Version 4.10.5. It was working fine and I updated to the latest version of Postman and now the test endpoints work but my internal app endpoints do not save the cookies in Postman.

[2017-03-30 17:06] payneBrandon opened #2869 "Large form-data post causes app to freeze"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for

[2017-03-30 19:37] philn5d commented on #1818
Runner is crashing constantly for me:

- Postman for Chrome
- Version 4.10.5
- win / x86-64
- Chrome 54.0.2840.87

I open Runner from Postman and Postman crashes after about 10 seconds. I was able to run a couple collections previously with this same setup. Nothing now. Looking for further clues about what is causing this - I saw the memory running up the same as @ppragnya but it went up over 1.2

[2017-03-30 20:50] valeshino opened #2870 "Cookie values with an equal sign (=) are not parsed correctly"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Mac app
 3. OS details: OS X Sierra (10.12.4)
 4. Is the Interceptor on and enabled in the app: n/a
 5. Did you encounter this recently, or has this bug always been there: Only on the newest version, updated today, and encountered the problem immediately
 6. Expected behaviour: Cookies with a value that includes an equal sign (=) should r

[2017-03-31 00:26] MehrdadMzfr opened #2871 "the dash letter in url causes problem when used as environment variable"
1. Postman Version:  4.10.5
 2. App:Chrome app
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: NO
 5. Did you encounter this recently, or has this bug always been there: just started to use
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Ma

[2017-03-31 00:54] okonomiyaki3000 commented on #2369
Ditto

[2017-03-31 01:08] bhimvu opened #2872 "Interceptor missing from Mac Postman"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Mac app (thick client)
 3. OS details: OS X 16.5.0 / x64
 4. Is the Interceptor on and enabled in the app: the icon is missing
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: There should be an icon to enable the Interceptor, but it doesn't seem to be present.
 7. Console logs: (see

[2017-03-31 03:03] chuoke opened #2873 "Can add a column to describe or explain each Key-Value ?"
In the first, please forgive me for my poor English.

I developing a lot of APIs in my work, and I test and archive  them in Postman, which is  really convenient. But I usually forget what is mean of some keys. That is terrible for me as some key have multiple meanings.
I always need to check many doc to live it over again.

So, I hope there is another column to explain the Key for each row.

I wi

[2017-03-31 03:26] psyfear commented on #907
+1

[2017-03-31 05:32] pairote commented on #2868
@shrutiSS
I am experiencing the same issue. Here is the details of my system environment:
1. Postman Version: 4.10.5
2. App: Mac app
3. OS details: MacOS Sierra 10.12.3
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: I just encounter this today.
6. Expected behaviour: The content in `<div class="requester-tab-contents">` sh

[2017-03-31 05:34] mohamedmubarish-s-19801 commented on #2866
Any Update on this.. Or Am I wrong ?..  I am using newman version 3.5.2.. please update me on the same as this is a show stopper for our progress

[2017-03-31 05:59] SamvelRaja commented on #2868
@shrutiSS @pairote Thanks for bringing this to our notice, we do traced out the issue.
You can still continue using postman by opening a new tab ? Can you guys provide me little more info on that?

[2017-03-31 06:19] pairote commented on #2868
@SamvelRaja
Negative. Opening a new tab still shows a white blank page.

Is it because of ES6 thing? Because I saw more console log about "Array.from is not a function" when javascript execution is at `_toConsumableArray(arr)` in requester.js#108753.

[2017-03-31 07:32] blueboxes commented on #1475
+1

[2017-03-31 08:29] prashantagarwal commented on #2868
Hey @pairote the app you are using is a Chrome app and the error occurred because of your chrome version(<45). Can you confirm the same?
We would recommend you to switch to our Native app (http://getpostman.com/apps)

[2017-03-31 08:58] pairote commented on #2868
Hey @prashantagarwal,

Thanks! You are right. My Google Chrome version is < 45. After I downloaded and installed the latest version, the problem is gone.

Anyway, should Postman checks the browser version if it satisfy minimum requirements? or perhaps includes polyfill that works as far down as ES5?

Thank you again for your help.

[2017-03-31 09:19] prashantagarwal commented on #2868
Yeah ideally it should have been transpiled to ES5 using Babel but somehow it was not being done in one the packages we were using. We will get this fixed in upcoming releases.

[2017-03-31 09:53] vegetableman commented on #2481
@kingstevo The issue has been fixed and is part of the latest release `4.10.5`. Feel free to reopen if it still exists. ^_^

[2017-03-31 09:53] #2481 closed, assigned to vegetableman

[2017-03-31 09:53] vegetableman commented on #2743
@matt-tingen The issue has been fixed and is part of the latest release `4.10.5`. Feel free to reopen if it still exists. ^_^

[2017-03-31 09:53] #2743 closed, assigned to vegetableman

[2017-03-31 10:16] kamalaknn commented on #2816
@schellem  Thanks for pointing this out to us. This was a result of an incorrect configuration from our side.

We have updated this in version 4.10.5. New installs will now create shortcut under "Postman" directory in start menu.

Closing this now. Feel free to re open if it still exists.

[2017-03-31 10:18] kamalaknn commented on #2757
Hey @xLegoz,

The fix for this issue has been rolled out as part of the 4.10.5 release.

Please let us know if this issue still exists. Closing this for now.

[2017-03-31 10:18] #2757 closed, assigned to SamvelRaja, kamalaknn

[2017-03-31 10:25] kamalaknn commented on #2793
Hey @Gleeble @Everis ,

The latest version 4.10.5 has a fix for this behaviour and is out now. Please update your apps and try it out.

Closing this issue. Feel free to re open if you see this again. Thanks.

[2017-03-31 10:25] #2793 closed, assigned to kamalaknn

[2017-03-31 11:12] vegetableman commented on #2867
@jangirashok Although we don't have a dedicated JWT authorization helper, you could also compute the signature on the pre-request script and then set it as an environment variable and pass that variable to the Authorization header. For example,

[code]
Also, how does access to the system clipboard help you in your scenario?

[2017-03-31 11:46] vegetableman commented on #2871
@MehrdadMzfr I am not able to reproduce the issue. You could verify the request being sent by checking the network tab on the devtools in the app. To enable devtools, you could refer: https://www.getpostman.com/docs/errors

[2017-03-31 11:46] kunagpal opened #2874 "Difference in HTTPS response behaviour between Native and Chrome v4.10.5"
Originally posted by @srpramod here: https://github.com/postmanlabs/newman/issues/944#issuecomment-290313838

 1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Chrome, native
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01

[2017-03-31 11:53] numaanashraf commented on #2874
Hi @srpramod, could you share more info about this issue? Are you facing this with all https calls? You could try sending a request to our echo service - `https://postman-echo.com/get`. Also, could you share a screenshot of the issue on native app along with any errors or output you see in the apps devtools and console? you can open them via `View->Show DevTools` & `View->Show Postman Console`

[2017-03-31 12:02] vegetableman commented on #2856
@jaskarangump The app does not set oAuth details on both the header and body at the same time. I  am guessing, the issue you are seeing is, the app does not remove the existing oAuth details from the body when switching to `Add params to header` and vice-versa ?

[2017-03-31 12:12] jangirashok commented on #2867
Okay: so I have like 15 different APIs I test on my environment; and they need certificate based authorization. Each time I have to test an API; I execute a Java program which generates a CMS Sign which then I copy and paste into Authorization header.
To make it a little efficient I added toolkit to my java program and when I execute it; it will automatically copy CMS sign into clipboard. Once cop

[2017-03-31 12:30] ghost commented on #697
+1

[2017-03-31 13:19] ShannonRichard opened #2875 "Posting a file in multi-part formdata through code-gen doesn't send the file"
1. Postman Version:  4.10.5
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Windows 10 (64bit)
 4. Is the Interceptor on and enabled in the app: I Think so, but I don't see any results
 5. Did you encounter this recently, or has this bug always been there: I don't know as I just started to use this feature
 6. Expected behaviour: uploading a file
![postman image 1](https://cloud.github

[2017-03-31 13:52] shrutiSS commented on #2868
@prashantagarwal Thank you folks for notifying this issue and answering in quick time. I still have to download the version of chrome mentioned on my office desk and check if its working or not.
@pairote Are you working postman api tool  for automation testing?

[2017-03-31 15:14] trs79 commented on #2606
Pressing F11 to toggle full screen fixed the issue for me

[2017-03-31 16:17] schmosef commented on #1137
+1

[2017-03-31 16:23] poisa opened #2876 "Feature request: link Environment to Collections"
As the number of Collections and Environment grows they become unmanageable. I think it would be great that you could only use the Environments that belong to a Collection so if you are using a tab that was saved in a Collection, then you could only use its Environments. This could, of course, be an optional thing to use.

Here's my specific use case. I have a microservice that I usually deploy on

[2017-03-31 16:24] ghost commented on #1137
Quit it with the "+1"s! [Read!](https://github.com/postmanlabs/postman-app-support/issues/1137#issuecomment-250112777)...

[2017-03-31 17:24] MehrdadMzfr commented on #2871
verified the request and it was a mistake on my side.

thanks for for the follow up and the nice product :)

[2017-03-31 18:10] srpramod commented on #2874
Hi @numaanashraf, @kunagpal  , the issue i can explain. Below are the details:
1. I have tried to run the link 'https://postman-echo.com/get' in the Postman windows,, response is displayed.
2. Similarly I have multiple https request with Post and Get Method for which no response is getting displayed.
3. But when same when proceed in the Chrome app - postman, i am getting the response for both Post

[2017-03-31 18:57] atom992 commented on #1066
needed too.

[2017-03-31 20:48] jakubkratina opened #2877 "Type select overlap"
Hi guys,

just have found this bug: http://prntscr.com/eqx0cm

[2017-03-31 21:25] potatogopher commented on #697
+1

[2017-04-01 00:53] ChrisCTX commented on #2870
Same thing happening on the Windows native App with the latest update.

[2017-04-01 01:19] dijitalmunky commented on #2232
Agreed, an update on progress/decisions would be nice.  While more automation around the flows defined by oauth2.0/oidc would be nice and a definite timesaver, we have gotten used to the auth helpers (https://www.getpostman.com/docs/helpers) and needing to constantly get new and delete expired tokens.

[2017-04-01 03:12] ericgreenmix commented on #2209
Here is the spec for the `hybrid` flow. https://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth

Basically, it allows `implicit` and `authorization code` on the same client. Since a SPA has to use an `implicit` flow, that blocks you from being able to use postman `authorization code` authentication. If you could set the SPA's flow to be `hybrid` then that would allow the SPA to authen

[2017-04-01 04:49] shrutiSS opened #2878 "How to send xml and json parameter as request in postman api tool for testing"
API for Login

Request
http://******/***/login.xml

Basic Authentication is - Username and Password

Response
JSON format
{"success" = "pass", "username" = " ", "password" = " "}

------------------------------------------------------------

API for Presence

Request
http://********/***/presence.xml
JSON
{
  "presence"{
   {
     "status" = "available",
      "messege" = "This is my status"
   }
}

[2017-04-01 07:13] pebrian opened #2879 "how to get real time response in postman"
Hello, I'm new with postman rest api. I have a project where must use aws signature to get json response request and I use postman then it works nicely !

![api-postman2](https://cloud.githubusercontent.com/assets/7486965/24576388/645f91ac-16e5-11e7-85cc-6614cad681aa.JPG)

My issue is I tried with my php code and it's not working. I want to know, is postman can make an access for me to get real ti

[2017-04-01 08:23] lloydjatkinson commented on #2232
I've started looking at alternatives, I can only assume XMLHttpRequest was broken deliberately so they can push "extra" features for some kind of pro/subscription model.

[2017-04-01 09:21] dpovey commented on #1854
I am currently using Postman 4.10.5 I get a correct id_token but I cannot seem to add it to the request. It only gives me a "Use Token" button when I click on the retrieved token. This will only allow access to the authorization token and not the id_token.

[2017-04-01 09:56] oferze commented on #1137
@rajparmar they have also not read [that](https://github.com/postmanlabs/postman-app-support/issues/1137#issuecomment-279258164). People see an issue and they don't scroll through to see what the state of it is. Just going to the bottom like on Facebook and writing their own +1.

[2017-04-01 10:08] themirror178 commented on #2418
Same problem here (Windows App), works on Chrome App.

[2017-04-01 12:53] coderjoe commented on #1137
@oferze it also doesn't help that the feature isn't visible on all platforms.

[2017-04-02 01:11] deanmoses commented on #1757
+1.  There has to be a way to stop executing tests!
Tests tend to build on one another. It's not sustainable to write:
[code]
Multiply this times 20 tests and you have 20 levels of nesting.

As an alternative to putting a test in `tests[]`, I'd love to see something like this:
[code]
... which stops JS execution entirely if the test is false.

[2017-04-02 01:27] #2425 closed, assigned to nobody

[2017-04-02 01:27] deanmoses commented on #2247
+1 Common scripts for all elements in my Collection and/or folders.

[2017-04-02 01:41] #1582 closed, assigned to nobody

[2017-04-02 01:42] #2699 closed, assigned to nobody

[2017-04-02 01:47] a85 commented on #2839
This is available now in 4.10.5

[2017-04-02 01:47] #2839 closed, assigned to nobody

[2017-04-02 01:54] a85 commented on #2866
Please post this here: https://github.com/postmanlabs/newman/issues

[2017-04-02 01:54] #2866 closed, assigned to nobody

[2017-04-02 04:37] pairote commented on #2868
@shrutiSS Yes, I am doing automate testing for my api, and Postman is one of my favorite tools to get the job done.

[2017-04-02 12:41] praveenv88 opened #2880 "Intuit's API Collection is not working in the Collection-Runner"
Hi,

Intuit's QBO collection which uses with OAuth1 tokens is not working in 'Collection Runner'. It works through the Intuit Developer API Explorer

Version/App Information:

 1. Postman Version: Version 4.10.5
 2. App (Chrome app or Mac app): Chrome App 56.0.2924.87
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app:Yes
 5. Did you encounter this recently, or has this bu

[2017-04-02 15:29] #2848 closed, assigned to nobody

[2017-04-02 15:30] #733 closed

[2017-04-02 15:30] #2589 closed, assigned to nobody

[2017-04-02 15:32] #1518 closed, assigned to nobody

[2017-04-02 15:32] #2007 closed, assigned to nobody

[2017-04-02 15:32] #1912 closed, assigned to nobody

[2017-04-02 16:28] mdaize opened #2881 "Feature Request: Collection-common Tests"
Hi there,

I am finding that I am performing a lot of test copy/paste between some/most/all of my tests within a collection. This results in a large amount of maintenance required to maintain if something changes between each/all of them.

It would be great if we had the ability to have a set of "common" tests that would run on each test within a collection -- a sort of (collection) global test.

[2017-04-02 18:25] xmedeko commented on #1757
IMO some custom exception like `StopTestError` may do the job. Plus a few helper functions like @deanmoses has mantiones `stoppingTest` would make it more comfortable.

[2017-04-02 22:04] wilcorrea commented on #907
+1 pleeassseeee

[2017-04-03 01:46] Opticsponge opened #2882 "runner with json object not working"
1. Postman Version:  4.10.5
 2. App (Chrome app or Mac app): mac
 3. OS details:
 4. Is the Interceptor on and enabled in the app:no
 5. Did you encounter this recently, or has this bug always been there: not sure
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app

[2017-04-03 05:19] ravichauhan03 opened #2883 "Code Generation for Curl Command doesn't work in [Postman for Chrome Version 4.10.5 OS X / x86-64 Chrome 56.0.2924.87]"
Below are the Postman plugin details :

Postman for Chrome
Version 4.10.5
OS X / x86-64
Chrome 56.0.2924.87

[2017-04-03 05:28] JennyIlinets opened #2884 "nested loop in Postman"
Need to validate search for only customer names  who have accounts A&B
[code]

[2017-04-03 06:09] SamvelRaja commented on #2883
@ravichauhan03 Could you provide me more specific information on the issue you are facing?

[2017-04-03 06:12] SamvelRaja commented on #2881
@MatthewDaize Trust us, something similar is already in our list, will update the thread once it is available.

[2017-04-03 06:37] ravichauhan03 commented on #2883
@SamvelRaja : Please find the details inline:
Do any post call using postman, it gets successful if the details are correct. But when you convert that http call to a curl command and use that command instead for getting the response from shell, you will not get any response against that.

Let me know in-case any other details are required. We have Authorization headers and some more header keys bu

[2017-04-03 07:02] joshualawson opened #2885 "Cookie not displaying"
Postman is not displaying cookies with wildcard domain in the Cookies tab, although when I get the Cookie in the test tab and log it to console it exists.

By wildcard domain cookies I mean setting the domain on the cookie to .mydomain.com (which will allow all subdomains of mydomain.com access to the cookie.

## Version/App Information:

 1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app)

[2017-04-03 07:12] vegetableman commented on #2883
@ravichauhan03 Chiming in behalf of @SamvelRaja here. Could you share a screenshot or the generated cURL code with the private details redacted?, so that we could help you better, as we are not able to reproduce the issue.

[2017-04-03 07:39] kamalaknn commented on #2882
Hi @Opticsponge,

We are trying to reproduce this issue.

Could you explain what you are seeing or you can open Dev Tools (View -> Show Dev Tools) in the runner and take a screenshot after running the collection?

Also I could see that the example JSON you gave is broken. Might be unrelated to the issue, but here is the updated one:

[code]

If you could create a sample collection where you see th

[2017-04-03 07:51] kamalaknn commented on #2885
Hi @joshualawson,

Thanks for reporting this issue. This is a bug in the recent release. Sorry, it affected your workflow.

We have a fix ready for this. We will roll the fix as a new release in a few days.

I will update here once the next version is out.

[2017-04-03 07:54] kamalaknn commented on #2854
Hey @rbalik,

The fix for this issue has been rolled out in our latest release 4.10.5.

Closing this now. Please feel free to re open the issue if you continue to see this.

[2017-04-03 07:54] #2854 closed, assigned to kamalaknn

[2017-04-03 08:30] domarmstrong opened #2886 "Add 'ignore this update' option to update dialogue."
1. Postman Version: 4.10.3
 2. App (Chrome app or Mac app): Linux App
 3. OS details: Mint

Please add the option to ignore an update, currently the app is not available in linux package managers and updating is a real chore. Often I do no 'need' the updates and can ignore several. Currently every time I open the app it tells me there is an update, this is annoying and also means I won't notice wh

[2017-04-03 08:31] blowsie commented on #1264
@marmor7 i found the desktop installation to be easier to use and more feature complete than the webversion

[2017-04-03 09:15] Telaran commented on #2707
Any Update or Roadmap on this Issue?
Currently I'm stuck on 4.9.3 and it seems there are some other issues with 4.10.5 (as far I've seen by a co-worker => Folder/Call Edit missing as an example)

[2017-04-03 09:36] sdnts commented on #2784
@Tapppi  Can you try updating to 4.10.5 and check if this is still happening to you?

[2017-04-03 10:18] matt-usurp opened #2887 "Ask for undefined URL variables"
There is this feature request #2865 which I would like to expand on.

Any variables that are used in the host (including GET parameters) should be prompted for when the `send` button is clicked.

## Example
The following URL could be given `{{host}}/api/tasks/{{task_id}}`. When a new user/session is created (in postman) and the send button is clicked a prompt window similar to the variables prompt

[2017-04-03 10:52] skyboyer opened #2888 "Replacing selection with variable"
Case: there are set of different requests
Goal: replace some hard-coded parameters with variables for several requests

Currently there is only way: replacing a value with variable by typing manually.
It's boring, takes some time and may lead to mistakes/mistypes(so named human factor).

Proposal is to use context menu for selected text that currently allows only set global or environment variable

[2017-04-03 10:58] numaanashraf commented on #2888
Thanks for the suggestion, @skyboyer. We'll take a look at this and see if we can fit this into our product roadmap.

[2017-04-03 11:01] #2886 closed, assigned to nobody

[2017-04-03 11:16] skyboyer opened #2889 "Multiple environments' composition"
Case: there are several independent groups of variables that should be changed at once. Say there could be different servers(development + QA + production - different domains, different ports, different parts of URL), different auth information(admin + client + guest - login + password + some flags to change flow through .setNextRequest()).

Currently: it's possible to pick just single ENV. So for

[2017-04-03 11:30] domarmstrong commented on #2886
Why is this closed? You shouldn't just close things without explanation..

[2017-04-03 11:38] mdaize commented on #2881
That's great to hear. :)

[2017-04-03 12:42] domarmstrong opened #2890 "[Feature request]: Add 'ignore this update' option to update dialogue"
Please add the option to ignore an update, currently the app is not available in linux package managers and updating is a real chore. Often I do not 'need' the updates and can ignore several. Currently every time I open the app it tells me there is an update, this is annoying and also means I won't notice when there are new updates because I'm used to closing it.

[2017-04-03 12:48] numaanashraf commented on #2890
Hi @domarmstrong, thanks for the suggestion. We'll take a look at this and try to include it in our roadmap.

[2017-04-03 12:52] cbarbaza commented on #884
Is this issue still under analyses ? I have same issue : with interceptor Postman working quiete well and after time i can't send request until i desabled interceptor

[2017-04-03 14:00] vegetableman commented on #2884
@ZheniyaS The JSON shared is invalid. Could you elaborate more on the issue?.

[2017-04-03 15:15] Opticsponge commented on #2882
whoops my stub json skills seem to be lacking, good news is somehow retrying hack in pre-req worked this morning.

postman.setEnvironmentVariable("request", JSON.stringify(data));

not putting in stringify in pre-req and attempting to send object data we get
Request Body:
mode:"raw"
raw:"[object Object]"

If this is the proper way to do it documentation would be great for others behind me

[2017-04-03 15:39] srpramod commented on #2874
Hi @numaanashraf , @kunagpal , The above information helped you?. Please let me know.

[2017-04-03 16:43] ghost commented on #1906
+1

[2017-04-03 17:09] JennyIlinets commented on #2884
________________________________
Hi ,
Here is Json
{
"resourceType": "Customer",
  "active": true,
  "identifier": [
    {
      "use": "usual",
      "type": {
        "coding": [
          {
            "system": "systemID",
            "version": "v1",
            "code": "TAX",
            "userSelected": true,
            "display": "Tax ID number"
          }
        ]
      },
      "system

[2017-04-03 18:51] roquie commented on #1985
For large saved responses problem still available. Postman application shows message when I save ~35k rows and (!!) saves it. I remove the saved response, sharing collections work successful now.

May be grant access edit response before user save it?

[2017-04-03 19:49] shrutiSS opened #2891 "How to convert "x-www-form urlencoded" request into "JSON" and Get a JSON Response - Facing Error as ** Unexpected '<' **"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-04-03 20:11] a85 commented on #907
We have an internal build for multi-level folders that we are testing out. Tons of moving parts especially around the data model. Thank you everyone for your patience. We are trying our best and hope to put this out soon.

[2017-04-03 23:18] kand617 commented on #1744
Hey All,

I am Kartik the CTO of APIMatic.
@AMEYCHAVAN could you please elaborate on the issue you mentioned?
Feel free to ping me personally at kartik@apimatic.io

Thanks
Kartik

[2017-04-04 01:49] internationalbridgeinc commented on #2392
+1

[2017-04-04 06:40] vsethi13 commented on #2889
+1
In the spring-boot world, it has a similar feature called "profiles". The concept is the same, that you logically group your config variables in different profiles and activate as many of them while running the program.

[2017-04-04 07:51] kamalaknn commented on #2882
Could you explain a bit on what you are trying to achieve, expected behaviour and actual behaviour and steps to reproduce?

It will help us in isolating any issues.

[2017-04-04 08:24] pdeak commented on #2883
I think I might be having the same issue as @ravichauhan03, so just adding my notes. Since 4.10.5 the cURL export -> import workflow seems to have completely broken. See screenshot of a basic post request:

https://i.imgur.com/7JwPVl6.png

After selecting Code -> cURL -> Copy to clipboard, and then re-importing it via Import -> Paste Raw Text, the request is completely broken. The URL is missing,

[2017-04-04 08:33] kunagpal opened #2892 "Bulk replace option for collection import"
Originally posted by @annguyen209 in https://github.com/postmanlabs/postman-collection/issues/228.

[2017-04-04 09:09] SeameX opened #2893 "Saved response are missing when using 'Save As'"
Version/App Information:
 1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Chrome 56
 3. OS details: win
 4. Is the Interceptor on and enabled in the app: no
 5. Did you encounter this recently, or has this bug always been there: recently

Steps to reproduce the problem:
      1. Go on an existing request
      2. send + save response
      3. save everything in another existing collect

[2017-04-04 09:19] numaanashraf commented on #2893
Hi @SeameX, thanks for reporting this. We were able to replicate this issue when saving a request with saved responses into another collection with the 'Save As' option. We'll include a fix in the coming releases.

[2017-04-04 09:45] codenirvana commented on #882
+1

[2017-04-04 09:48] codenirvana commented on #1180
+1

[2017-04-04 09:52] jefcasters opened #2894 "Unable to enter @ in URL text field"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Postman for Chrome/ Postman for windows
 3. OS details: win / x86-32
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: user is able to use special chracters such as "@# in the url
 7. Console logs (http://blog.getpostman.com/2014/0

[2017-04-04 12:00] anton-arsentyev opened #2895 "[Bug] env variable disappear in URL after deleting 1 character"
1. Postman Version:  **4.10.5**
 2. App (Chrome app or Mac app): **Mac App**
 3. OS details: **MacOS Sierra**
 4. Is the Interceptor on and enabled in the app: **NO**
 5. Did you encounter this recently, or has this bug always been there:  **recently**
 6. Expected behaviour: **only 1 character removed**
 7. Console logs:

[code]

 8. Screenshots / steps:

We have non-existing env variable in URL:

[2017-04-04 14:37] anton-arsentyev commented on #119
@a85 can you point me how to view raw request ?
all issues closed, but still i cant find the way to see it

[2017-04-04 14:39] ghost opened #2896 "Delete API is not working for POSTMAN release 4.10.5"
1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 8. Screenshots (if

[2017-04-04 15:03] simonwilbert commented on #682
+1. numerical pre-fixing is not a maintainable solution. considering switching to SOAPUI purely because of this issue which would be sad

[2017-04-04 15:03] asidarovich commented on #682
+1

[2017-04-04 15:06] mikhail-amurov commented on #682
+1

[2017-04-04 15:13] sureshdollu commented on #682
+1

[2017-04-04 15:23] Topener commented on #682
Can everyone stop doing `+1` on this ticket and just Thumbs-up the ticket instead?

[2017-04-04 15:23] ghost commented on #682
+1

[2017-04-04 15:24] Topener commented on #2894
You know, Chrome app is deprecated and chrome will remove them soon too. Use the dekstop application instead

[2017-04-04 17:31] jessicaalvarezbayer opened #2897 "Could not get any response on Windows App"
Hi, Im using Postman for Windows app v4.10.5 on Windows 7 on company proxy. I do not use interceptor.
First time I have to send certificates with a request.
Every request ends up with an error Could not get any response.

![1](https://cloud.githubusercontent.com/assets/26798195/24670092/2cd61bba-1943-11e7-94a8-e14cc00fa184.PNG)

Certificates tab:

![2](https://cloud.githubusercontent.com/assets/26

[2017-04-04 18:15] gauravshetti commented on #2247
+1 Need that badly

[2017-04-04 18:23] a85 commented on #119
Go to View > Console and you should see the full HTTP request logged.

[2017-04-04 18:28] Innovolutions-LLC commented on #1520
Is there any update on this ask?

[2017-04-04 18:30] meswanholm opened #2898 "OAuth 2 issue on Mac Client"
When attempting to use OAuth 2 to retrieve (and use) a token on the Mac OS client (Postman for Mac
Version 4.10.5 OS X 16.4.0 / x64) the retrieval of the token fails with the error "Error getting access token from client_credentials flow. Could not send request". In the console a 403 is generated: Failed to load resource: the server responded with a status of 403 (Forbidden).

The EXACT same OAuth

[2017-04-04 18:40] jdiaz4517 commented on #1180
+1

[2017-04-04 19:49] aroemen opened #2899 "Feature Request - Bulk Import / Export Environments"
I have many environments for various APIs. When something shared across different environments needs to change, it would be nice to download a JSON document of all the environments in order to make those changes. Then once the changes have been made, import the document overriding the existing environments that were in the JSON document.

[2017-04-04 19:53] barryku commented on #2883
I am also having issues with the curl command it generates.  The issue with mine is that postman ignores parameters with the same name, and simply takes the last one.  It was working for me last week that all parameters got appended properly, so I am guessing something got changes in the new version.  The rest API I use takes multi-values as multiple parameters with the same name.
![postman](https

[2017-04-04 20:06] andrewfraley commented on #1463
Another vote to at least warn about this or provide a pop-up asking if you want to include the credentials when exporting.  I almost shared pretty sensitive credentials and thought to look at the exported json first.

[2017-04-04 20:24] a85 commented on #2899
@aroemen We are building a refactoring tool right within Postman.

[2017-04-04 21:05] dempe commented on #785
I'm working with very complex APIs.  This would make my life so much easier.

[2017-04-04 21:31] aroemen commented on #2899
@a85 that sounds great!  Can you elaborate more on what that will all entail?

[2017-04-04 21:50] sutdisi commented on #2617
Any update on this?

[2017-04-04 22:49] heyitscoco commented on #327
I'm having the same problem. I have the most recent version of Postman (4.10.5) and I have an application running in production and on localhost. When I direct the request to localhost (or even when I just copy the cURL command), the Content-Type header is included as expected. But when I change the url to hit the production app, the Content-Type header is missing.

[2017-04-05 04:45] ghost opened #2900 "Postman Blank screen after installing Version 4.10.5"
1. Postman Version: 4.1.0.5
 2. App (Chrome app or Mac app):
 3. OS details:Windows 7 ,32 bit operating system
 4. Is the Interceptor on and enabled in the app:NO
 5. Did you encounter this recently, or has this bug always been there:

[2017-04-05 05:30] prashantagarwal commented on #2900
Hi @keepfightingnevergiveup, are you using chrome app ? Is so can you let us know the chrome version. It will help us debug the issue faster.

[2017-04-05 07:54] ghost opened #2901 "While running Post,Put API in Postman using Regular Expressions,the Postman creates the already existing random number ,hence the test cases fails.Also, while running in Runner mode, after too many iterations the test case pass."
1. Postman Version:4.1.0.5
 2. App (Chrome app or Mac app):
 3. OS details:Windows 7, 32 bit operating System
 4. Is the Interceptor on and enabled in the app:No

[2017-04-05 08:20] jefcasters commented on #2894
Behaviour also happens on native client for windows.

[2017-04-05 09:06] ghost commented on #2900
Hi Prashant,

Chrome version is 57.0.2987.133.
But remember , The issue is regarding about the Desktop Postman Client.

Thanks & Regards
Hitesh kumar Sharma

On Wed, Apr 5, 2017 at 11:00 AM, Prashant Agrawal <notifications@github.com>
wrote:

[2017-04-05 09:39] prashantagarwal commented on #2900
Thanks for sharing this. Would it be possible for you to check devtool's console and check are there any errors there, even better if you could share the screenshot of it.

Thanks.

[2017-04-05 09:55] rolfmadsen commented on #2621
If I could select multiple environments, that would solve this usecase for me.

I could place information like:
1. API version and credentials in one environment, which I would change depending on my test scenario in different collections
2. variables that I would use across collections in a separate environment.

I assume that wouldnt break exisiting setup for syncronization of environments to Po

[2017-04-05 10:41] tfchen2400 commented on #2768
thank you for you answer me
Hi @madebysid !
just only 304 status code.
http head E-tag is same
sorry
i response you so later

[2017-04-05 12:03] mstaalesen commented on #2678
This is so needed. cryptojs has not been updated the last 4 years either.

[2017-04-05 12:11] smonbi opened #2902 "INTERFACE Shortcuts doesn't work"
1. Postman Version: Version 4.10.5
 2. App (Chrome app or Mac app): Postman for Windows
 3. OS details: win32 10.0.15063 / x64
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, Vie

[2017-04-05 12:30] littlebitplus commented on #2797
+1...  Our org does exactly the same, and I couldn't understand why (on a mac) it wasn't respecting the Keychain, then read this and tried the Chrome App and that worked just fine.  Really looking for the native to respect the same.  And the same, thanks for the awesome app, it's well used

[2017-04-05 13:29] jessicaalvarezbayer commented on #2897
Can anyone help me, please?

[2017-04-05 14:52] ghost commented on #2900
Hi Prashant,

Thanks for the prompt response.
Please find the snapshot below.

[image: Inline image 1]

Thanks & Regards
Hitesh Kumar Sharma

On Wed, Apr 5, 2017 at 3:10 PM, Prashant Agrawal <notifications@github.com>
wrote:

[2017-04-05 15:17] ramseyjacob commented on #824
I found this feature request when searching for something simpler - I'm ok having Postman send the clear text value (it is up to me to use HTTPS) but it would still be nice to have the text box that I type my password into (whether param or header) treat it like input type=password on a web form...use dots to obfuscate it so when I do demos or have people look over my shoulder it isn't sitting rig

[2017-04-05 15:17] prashantagarwal commented on #2900
Hey. I think something went wrong. Unable to see the screenshot.

[2017-04-05 16:04] jessicaalvarezbayer commented on #2897
After investigating I found a proxy configuration issue

[2017-04-05 16:04] #2897 closed, assigned to nobody

[2017-04-05 16:06] thai-verys commented on #2895
This is a serious bug and is slowing down development.

[2017-04-05 17:05] vcmJonasTarnowetzki commented on #85
Can we modify the search pattern to not require a leading slash?  My company is working with an api specification that requires url segments with parameters be formatted as `/resource=id/`.  Postman is capable of generating correctly formatted api tests from our swagger.json (ie `/resource=:id/`) but it cannot identify the parameter `:id`.

EDIT: It would be better to make the pattern accept eithe

[2017-04-05 18:02] emersonf commented on #2865
@bhawna2109 the main issue is that URI variables can only be changed by manually messing with the URL, but query parameters can be changed from the convenient _Parameters_ section. I don't think they should be treated differently.

That would require a mechanism to mark a piece of the URL as a URI variable, which I suggested using `{{ }}` for.

[2017-04-05 18:45] valeshino commented on #2870
Is there anywhere to get the old version of postman? This is currently blocking me from using the tool at all since I cannot use or provide login cookies for a few sites I'm testing. I couldn't find an archive of old versions anywhere on the site or throughout the github, but I could have just missed it.

[2017-04-05 18:48] ChrisCTX commented on #2870
@valeshino I'm currently using the chrome extension version with the Interceptor plugin to load up my browser's cookies into it, of course this is limted to domains where I can write my own cookies.

[2017-04-05 18:50] a85 commented on #2895
We are pushing out a bug fix release soon.

[2017-04-05 18:57] a85 commented on #2797
@madebysid Yep. Ideally whatever worked on the Chrome app has to work on the Mac app.

[2017-04-05 20:20] bizentass commented on #2860
Facing this issue on the Mac app as well.

[2017-04-05 21:08] jimonthebarn opened #2903 "Binary file download broken"
It seems the binary file download using "send and download"is broken.

Steps to reproduce:
Just enter a link to a file (e.g. http://ipv4.download.thinkbroadband.com/5MB.zip) and issue a get request using the "send and download"button. It will download a file which ends up being almost twice as big. The file will be corrupted as well.

 1. Postman Version:
Postman for Windows
Version 4.10.5
win32 1

[2017-04-06 04:23] ravichauhan03 commented on #2883
Any update on this ??

[2017-04-06 04:28] davecanderson commented on #2601
I've got this issue with Windows Native 4.10.5 the cookies are set properly using the http://echo.getpostman.com/#Cookies end point but not from my app. This has occurred in all our environments that have updated to the latest version. I found one instance of Postman not yet updated and ran the same request which did assign cookies as expected. The same requests made through Chrome are setting coo

[2017-04-06 04:51] kamalaknn commented on #2601
Hi @davecanderson,

We can confirm that this is breakage in 4.10.5. We have fixed this internally and will release a bug fix version as soon as possible.

We are tracking this in #2885. Please subscribe to the tracking issue for updates.

[2017-04-06 06:25] munir131 opened #2904 "Postman app not sending request to server"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Linux App
 3. OS details: linux / x86-64 - Ubuntu 16.04 LTS
 4. Is the Interceptor on and enabled in the app: ON
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: Will request to server
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-post

[2017-04-06 06:33] kamalaknn commented on #2860
@bizentass This bug has been affecting all our native apps.

We have a fix ready for this. We will be releasing it as soon as possible.

[2017-04-06 07:30] kamalaknn commented on #2904
Hi @munir131

We are trying to reproduce this.

Could you open the app in debug mode `NODE_DEBUG=request /PATH_TO_APP/Postman` from terminal and share errors on the terminal if any?

Also could you attach a screenshot of the incomplete request on Postman Console (View -> Show Postman Console) ?

It will help us isolate the issue.

Thanks.

[2017-04-06 07:45] munir131 commented on #2904
There is nothing in console. Also it's working fine if i off interceptor.

On Apr 6, 2017 1:00 PM, "Kamalakannan" <notifications@github.com> wrote:

[2017-04-06 07:45] vegetableman commented on #2897
@JessiAlvarez Great to know, you resolved the issue ^_^. Could you let us know as to what was the proxy configuration issue?, you were facing, as it might help others who come across the same issue.

[2017-04-06 07:58] kamalaknn commented on #2904
From the screenshot you've shared I could see that you are using the chrome app. Chrome App with Interceptor seems to be working fine for us.

Could you try sending a request to `https://echo.getpostman.com/get` with the interceptor on, so we can have an idea?

[2017-04-06 09:18] munir131 commented on #2904
When I was going to send request on echo.getpostman I tried to on interceptor but it's shows me
![image](https://cloud.githubusercontent.com/assets/6319375/24746710/c57b0912-1ad7-11e7-9185-45631ea73042.png)
When clicked in install button i found that i had already installed postman interceptor extension on chrome.
![image](https://cloud.githubusercontent.com/assets/6319375/24746653/89e83834-1ad7-1

[2017-04-06 09:22] munir131 commented on #2904
I reinstalled postman Chrome app and now working fine. Sorry for inconvenience.

[2017-04-06 09:22] #2904 closed, assigned to nobody

[2017-04-06 09:24] gabipetrovay opened #2905 "Indentation, white space policy and tab size settings"
1. Postman Version: Version 4.10.5
 2. App (Chrome app or Mac app): Chrome app (Chrome 54.0.2807.0)
 3. OS details: OS X / x86-64
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour: be able to change the indentation setting of JSON/XML
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-c

[2017-04-06 09:24] kamalaknn commented on #2904
@munir131 Not a problem. Glad you got it solved.

[2017-04-06 09:32] redefinitionof commented on #2786
I have the same issue on 4.10.3 and 4.10.5 I am running 500 requests that each return 1 MB of data. It seems the large data does influence the occurance. Is it possible to download 4.10.2. I am unable to test due to this.

[2017-04-06 09:42] dipeshoffice commented on #670
Hi All,

I have a requirement of getting the value from the Header request and using it in a variable in POSTMAN.

Ex: when we perform oauth 2.0, we get the Authorization token.
That authorization token we can either use at URL or at Header.
If we are using the Authorization Token at the Header, i want to get that value and automatically set it in the environment variable.

So basically i want in

[2017-04-06 09:45] numaanashraf commented on #2896
Hi @keepfightingnevergiveup, we are not able to replicate this issue at our end. Could you share a screenshot of the request in app's DevTools and Postman Console (if you are on the native app, View > Show Postman Console)? Docs: https://www.getpostman.com/docs/errors

[2017-04-06 10:34] gabipetrovay opened #2906 "Exporting without saved response IDs and postman collection ID"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Chrome app (Chrome 54.0.2807.0)
 3. OS details: OS X / x86-64
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: yes
 6. Expected behaviour: stable saved response ID or having the possibility not to export the IDs of the saved responses at all.
 7. Console logs (ht

[2017-04-06 10:44] mcleane opened #2907 "aws sigv4 support: missing aws_session_token and unwanted content-type on get requests"
Hi,

Using postman, trying to test an api hosted on an aws api gateway that requires an aws v4 signature for authentication with federated credentials.

For a request, on the Authentication tab I can add the access and secret key but there is no where to add the session token. Session Tokens need to be sent in addition to Access and Secret Keys when using federated authentication.

As a work aroun

[2017-04-06 11:05] mshahat opened #2908 "issue | same instance through loadbalancer"
Hi,

[code]

I've a simple setup.
* 2 services running on 2 AWS EC2 machines.
* AWS ELB Classic TCP load balancer load balancing among both instances.
If i keep on hitting the loadbalancing service, i get response from the same instance for long time ( few minutes )
If  I use curl for e.g.
`curl --insecure --request GET --url https://apix-971872563.eu-west-1.elb.amazonaws.com:9233/ping`

then it w

[2017-04-06 12:49] jan-carreras commented on #2369
Same with OSX El Capitan 10.11.6.

[2017-04-06 12:57] dipeshoffice opened #2909 "Header Key value is not getting set in an environmental variable"
Hi All,

I have a requirement of getting the value from the Header request and using it in a variable in POSTMAN.

Ex: when we perform oauth 2.0, we get the Authorization token.
That authorization token we can either use at URL or at Header.
If we are using the Authorization Token at the Header, i want to get that value and automatically set it in the environment variable.

So basically i want in

[2017-04-06 13:30] alexandruirimiea opened #2910 "Clone POST body field"
It would be nice if there was an option to clone a field from POST body. This is useful for example when we have a long value that we want to modify and have two alternatives of it, enabling one of them at a time, like in the attached picture.
![duplicatefield](https://cloud.githubusercontent.com/assets/9987767/24756848/481ebb44-1ae6-11e7-958c-f0f9af332259.PNG)

[2017-04-06 13:35] bhawna2109 commented on #2910
@alexandruirimiea Hitting CMD+D duplicates a row, have you tried using it for your use case?

[2017-04-06 13:35] r0ssing opened #2911 "Authorization header not cleared on selecting "No auth""
Hello,

If I choose another method than "No auth", e.g. Basic Auth, in Postman and presses "Send" and then  change back to "No auth", I notice that Postman has not removed the authorization header in the "Headers" section (ie. there is still a header with "Authorization" and various values, depending on what value was selected. Sometimes the value for "Authorization" even becomes "application/json

[2017-04-06 13:37] alexandruirimiea commented on #2910
@bhawna2109 now that you said it, I've tried and it works. I expected there was a visual method though.

[2017-04-06 13:45] bhawna2109 commented on #2910
@alexandruirimiea Glad it worked for you. Also, thanks for the suggestion - adding contexual icons to the editor is a part of our roadmap. Will update this thread when we have a build ready. Closing this for now.

[2017-04-06 13:45] #2910 closed, assigned to nobody

[2017-04-06 14:39] urosjarc opened #2912 "Postman sandbox typescript definitions"
I'm developing postman tests in local code, for more informations please see: https://github.com/BigstickCarpet/postman-bdd/issues/6

I have created pull request in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/15691
Where I have created definitions files for sandbox env.

Can I ask you guys to maintain this package "@types/postman-sandbox" for all of us?

[2017-04-06 14:45] decadence opened #2913 "Cookies aren't persisted"
I have problems with cookies.
I make request to PHP site (Laravel 5.4) and can see 2 cookies in Response section, but they don't appear in Manage Cookies window and therefore Postman doesn't send them in next request.
Interesting thing is that site on Laravel 5.2 works ok.

Version/App Information:
 1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Windows Native App
 3. OS details: Wind

[2017-04-06 15:58] pixelwiz commented on #2516
Hi, so how can I pass a value calculated in the pre-request script into the URL variable?  I tried setting key={{variabkle}} amd key={{postman.getEnvironmentVariable("variable")}} neither worked for me, it puts the actual string in the URL.  So how do I make it resolve the variable?

[2017-04-06 18:29] ocmyhome commented on #2516
Call this:  postman.setEnvironmentVariable("SomeEnviroProp", calculatedVar);

This will set the enviro prop w/ your value...

[2017-04-06 18:36] pixelwiz commented on #2516
Thanks, I figured out that part, but I could not get it to actually be used in property as variables.  I was trying to do things like {{keyvalue}}  Turns out it does actually work, but you have to enable the environments first and then add one and select it.  Then it finally worked.  Also I was able to use CryptoJS functions, which was great, but the final piece of the puzzle was to encodeURI();

[2017-04-06 19:50] Skinner927 commented on #2903
From thinkbroadband.com

However, I too am experiencing this issue. Here's a test file that will actually extract: http://www.colorado.edu/conflict/peace/download/peace.zip but will fail with Postman.

[2017-04-06 22:14] IllyaMoskvin commented on #2895
Agreed with @thai-verys. Before seeing this topic, I thought this was something that occurred only when <kbd>Backspace</kbd> was pressed while the cursor was at the end of a variable. I was afraid that this was a "it's not a bug, it's a feature" sort of situation.

To be clear, if the situation I encountered is considered desirable, I'd argue strongly against it. Pressing <kbd>Backspace</kbd> at t

[2017-04-06 22:31] IllyaMoskvin opened #2914 "Forward slash (/) automatically inserted into {{vars}/} while typing URLs"
1. Postman Version: **4.10.5**
 2. App (Chrome app or Mac app): **Mac app**
 3. OS details: **macOS Sierra (10.12.4)**
 4. Is the Interceptor on and enabled in the app: **No**
 5. Did you encounter this recently, or has this bug always been there: **Recently**
 6. Expected behaviour: **Let me close the variable by typing }} without inserting /**
 7. Console logs: **Nothing relevant, just sync serv

[2017-04-06 22:54] IllyaMoskvin commented on #785
+1. I'd love to have this feature.

[2017-04-06 22:59] IllyaMoskvin commented on #1637
Dupe of #785, I think.

[2017-04-06 23:02] IllyaMoskvin commented on #2178
Unfortunately, toggling from "Bulk Edit" to "Key-Value Edit" after disabling a param in this manner will remove it permanently. (Confirm by toggling back to "Bulk Edit" afterwards.) Perhaps that is a separate bug, but relevant.

See also #785 for what seems to be the canonical issue of toggling params, specifically the [comment](https://github.com/postmanlabs/postman-app-support/issues/785#issueco

[2017-04-06 23:10] IllyaMoskvin commented on #2519
Dupe of #785, I think.

[2017-04-06 23:29] IllyaMoskvin opened #2915 "Avoid deleting param row on key clear if value is present"
1. Postman Version: **4.10.5**
 2. App (Chrome app or Mac app): **Mac app**
 3. OS details: **macOS Sierra (10.12.4)**
 4. Is the Interceptor on and enabled in the app: **No**
 5. Did you encounter this recently, or has this bug always been there: **Recently**
 6. Expected behaviour: **Do not delete param row if value is present**
 7. Console logs: **Nothing relevant, just sync service messages.**

[2017-04-07 04:12] gareth-a-jones commented on #1507
+1 from me.  I'm trying to share the tokens among a large set of calls, and having to paste them into my environment is a pain.  Letting me run auth as part of the environment rather than as part of a call would remove a bunch of clicks every hour.  Adding an automatic refresh token cycle would really make this super productive and get me paying for pro.

[2017-04-07 05:47] ghost commented on #2900
Hi Prashant,
I apologize for the delay
Please find the attached snapshot.

Thanks & Regards
Hitesh Kumar Sharma

On Wed, Apr 5, 2017 at 8:47 PM, Prashant Agrawal <notifications@github.com>
wrote:

[2017-04-07 05:58] numaanashraf commented on #2915
Hi @IllyaMoskvin, thanks for reporting this. We are working on few improvements to the url params section. We'll include this in those improvements too.

[2017-04-07 06:00] numaanashraf commented on #2914
Hi @IllyaMoskvin, thanks for reporting. We are looking into this.

[2017-04-07 06:18] prashantagarwal commented on #1482
Hi @PositiveAlex ,
We are tracking this issue #785 . Closing this duplicate issue

[2017-04-07 06:18] #1482 closed, assigned to nobody

[2017-04-07 06:21] prashantagarwal commented on #1799
Hi @deodeveloper ,
We are tracking this issue #785 . Closing this duplicate issue.

[2017-04-07 06:21] #1799 closed, assigned to nobody

[2017-04-07 07:55] chrismcneill opened #2916 "Modifying a {{var}} (eg fixing a typo) results in the var being removed completly"
*Steps to reproduce*
create a variable (either local or global)
type in the variable manually - purposfully (for this reproduction) typo it
attempt to fix the typo
*Expected*: I would expect the typo to be fixable without having to re-key the complete variable
*Actual*: Deleting/changing one letter causes the whole variable to be stripped out and needing re-keyed.

![corrections-remove-param](http

[2017-04-07 08:05] prashantagarwal commented on #2916
Hey @chrismcneill ,
Thanks for reporting this issue. This only happens when you press backspace. We are already tracking this issue here #2895 . We will be fixing this behaviour soon.
I am closing this issue and marking it as duplicate.

[2017-04-07 08:05] #2916 closed, assigned to nobody

[2017-04-07 08:07] urosjarc commented on #2912
Another option for generating those types: https://github.com/DefinitelyTyped/DefinitelyTyped#create-a-new-package

[2017-04-07 08:25] mousehappy commented on #2900
@prashantagarwal
I encounter the problem too， with Windows 7 and Chrome 57-64bit
After reinstall Chrome 57-32bit, the problem of blank tab is solved.

[2017-04-07 08:48] sijones-uk commented on #2913
I'm having the same problem (also using Laravel 5.4). Cookies are missing from the Manage Cookies window. I had to revert back to an earlier version of Postman where this is working.

[2017-04-07 08:54] decadence commented on #2913
@sijones-uk glad to hear I'm not the only one with this case and this is real bug and isn't my mistake.

[2017-04-07 09:14] kamalaknn commented on #2913
Hey, we are trying to reproduce this issue. Could you attach a screenshot of the Postman Console, so we can have a look at the `set-cookie` headers to investigate better?

[2017-04-07 09:15] decadence commented on #2913
@kamalaknn
You can confirm this bug with request to https://laracasts.com/ (I think it's using latest Laravel version).
It sends 3 cookies but only one present in Manage Cookies.

[2017-04-07 09:18] decadence commented on #2913
![screenshot_1](https://cloud.githubusercontent.com/assets/1434668/24793836/2f2d1116-1b8c-11e7-8605-e2f89ceb6e73.png)
Maybe problem with cookie length because it has very long value.
I can't even see all set-cookie string.

[2017-04-07 09:21] kamalaknn commented on #2913
@Decadence Thanks for the link. We could see the behaviour.

We will work on a fix for this. I will update this thread once we have it.

[2017-04-07 09:21] decadence commented on #2913
@kamalaknn thanks!

[2017-04-07 09:39] MichalFoksa commented on #2762
Please add it also into stand alone Postman apps (Win, Mac, ...).

[2017-04-07 10:08] kavare commented on #2258
After updating to `4.10.5` recently this issue happens again. The cookie is not being set even `set-cookie` header presents.

I am on a MacOS and not using `localhost` (using my local domain name assign to `127.0.0.1`

[2017-04-07 10:10] nonnenmacher commented on #697
did this feature will be considered more than a 5 minute denial when the
number of votes read 100 ??

As this has been asked on jun 2015, in few months we will be over 100 votes
and a 2 years anniversary.

At least this ticket will merit a decent cremation (I’ll drink on that!)
and we can get along, if there is still no interest from authors.

Regards

Vincent Nonnenmacher

On Fri, Mar 31, 2017 at

[2017-04-07 11:01] ChubbyArse opened #2917 "Feature Request: Allow Collections Items to Act Like Templates"
1. Postman Version: 4.10.5 (4.10.5)
 2. App: Mac App
 3. OS details: N/A
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: N/A
 6. Expected behaviour: N/A
 7. Console logs: N/A
 8. Screenshots: N/A

I have a suggestion for the team - the ability to use the stored items in a collection as templates. So rather than opening an

[2017-04-07 12:34] zihotki opened #2918 "SSL certificate verification doesn't ignore self-signed certificates during getting OAuth2 token when it's off"
1. Postman Version: v4.10.5
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10 Pro
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: don't know
 6. Expected behaviour: When 'SSL certificate verification' is off it should ignore all certificate errors
 7. Console logs (http://blog.getpostman.com/2014/01/

[2017-04-07 12:52] numaanashraf commented on #2918
Hi @zihotki, thanks for reporting this. Relaxing SSL verification is not supported for OAuth 2.0 flow at the moment. We will look into including this in our roadmap soon.

[2017-04-07 12:57] zihotki commented on #2918
As for the workaround, I managed to make it working using Chrome App by navigating first to the access token url, adding the certificate to exclusion list (advanced -> proceed to .. (unsafe)), and then requesting the token. Not ideal but at least works, but the best would be to make the setting work across all features.

[2017-04-07 13:27] bbrosius opened #2919 "Body resets to html when changing tabs"
1. Postman Version: 4.10.6
 2. App (Chrome app or Mac app): Windows App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there: Seems to be recent as of the last version.
 6. Expected behaviour: When changing tabs the body format selection isn't reset.
 7. Console logs (http://blog.getpostman.com/2014/01/2

[2017-04-07 13:50] Tapppi commented on #2784
Seems to be fixed, thank you!

[2017-04-07 13:50] #2784 closed, assigned to nobody

[2017-04-07 13:56] kamalaknn commented on #2919
Hey @bbrosius

Thanks for reporting the issue. We are looking into this. We will get back to you with a fix in the next version.

[2017-04-07 14:13] malabyan opened #2920 "Parameter inputs work extremely slow in v. 4.10.5"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Chrome
 3. OS details: win / x86-32
 4. Is the Interceptor on and enabled in the app: ON
 5. Did you encounter this recently, or has this bug always been there: everytime since latest update
 6. Expected behaviour: in previous version with a little bit other design of parameter-input fields input worked fine, it shouldn`t freeze
 7. Conso

[2017-04-07 14:55] ColinSquint commented on #571
This would be a lovely feature to have in the interface (concurrent/parallel interations of the same run) .. as I understand it, it would have to be native

For the meantime I am using newman and something like ;
for(var i = 0; i < 5; i++)
newman.run()

[code]

It keeps playing leapfrog in the console but the final output is quite easy to digest

[2017-04-07 15:04] jkweb3 commented on #2903
I too am experiencing this with PDF files from my system. Worked in previous versions of Postman for Windows as far as I know up until 4.10.5. Interestingly it works in Postman for Chrome 4.10.5.

[2017-04-07 16:21] mattdeluco opened #2921 "Body content for GET request still set in pre-request script request.data"
If a request has content set in the body and the method is changed to GET, the body tab is no longer active or available to be selected.  However, in a pre-request script the content from the body tab is still available in request.data.

Given that the body tab is disabled my expectation would be that there is no body content at all.

Version Info
 1. Postman Version: 4.10.5
 2. App (Chrome app or

[2017-04-07 17:41] mattdeluco opened #2922 "Feature Request: Make API available for variable substitution"
I'm running into an issue with my pre-request script that is the result of environment variables not being substituted in the request (request.url, request.data, etc.)

It's mentioned in a few closed issues here, and that behaviour is apparently by design.

So my request is that if environment variables are not going to be substituted before the pre-request script runs, could you make available th

[2017-04-07 17:57] avindra commented on #1473
CTRL+B does not seem to do anything. Nor is it documented in the shorcut list:

![image](https://cloud.githubusercontent.com/assets/126848/24812964/29831e1e-1b9a-11e7-95d6-c2a4eb8eff7f.png)

[2017-04-07 18:00] mtoothman opened #2923 "Overzealous autocompletion for environmental variables"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra, 10.12.3
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: unsure
 6a. Expected Autocomplete is only invoked between `{{}}`.
6b. Actual: Autocomplete is invoked everywhere.
 7. Console logs: n/a
 8. Screenshots (if applicable):

[2017-04-07 18:22] sburtonctr opened #2924 "Exporting/Importing from Settings/Data"
Version/App Information:

 1. Postman Version:  4.10.6
 2. App (Chrome app or Mac app): Windows app
 3. OS details: Windows 10 / x64
 4. Is the Interceptor on and enabled in the app:  off
 5. Did you encounter this recently, or has this bug always been there: new issue
 6. Expected behaviour:  import of all exported data

Reproduce:  (intermittent failure)
1. Export all your collections, environme

[2017-04-07 19:23] shamasis commented on #2922
This is a cool idea. Adding it to our list. Will ping when we get around to this.

[2017-04-07 19:24] mtoothman opened #2925 "Feature request: allow specification of default filename for exported collections"
1. Postman Version: 4.10.5
 2. App (Chrome app or Mac app): Mac app
 3. OS details: macOS Sierra 10.12.3
 4. Is the Interceptor on and enabled in the app: yes
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour: Ability to set default filename for exported collections. Current default is `$COLLECTION_NAME.postman_collection.json`, which is often lo

[2017-04-07 20:59] a85 commented on #2917
Thanks for the suggestion. We are working separately on the authorization changing the request part.

@bhawna2109 @vkaegis this is similar to the "Ghost tabs" that we were discussing.

[2017-04-07 21:03] #2519 closed, assigned to nobody

[2017-04-07 21:03] a85 commented on #2519
Closing as duplicate of #785

[2017-04-07 21:24] skyboyer commented on #2889
actually I've missed existing Feature request on this
https://github.com/postmanlabs/postman-app-support/issues/2621
Sorry for that

[2017-04-07 21:24] #2889 closed, assigned to nobody

[2017-04-07 21:32] mrgyf1 commented on #2153
+1 What can i do to fix it?

[2017-04-07 21:44] numaanashraf commented on #2258
Hi @kavare, this is addressed in `v4.10.6` that is out for Postman native apps now. Could you update and let us know if the issue is resolved?

[2017-04-07 21:47] numaanashraf commented on #2903
@jimonthebarn, @Skinner927, @jkweb3 This is addressed in `v4.10.6` that is out for Postman native apps now. Could you update and let us know if the issue is resolved?

[2017-04-07 21:51] skyboyer commented on #2434
[code]

[2017-04-07 21:59] skyboyer commented on #2493
+1
especially when some requests in the same collection should follow redirects and some - just test 'Location' header

[2017-04-07 22:20] skyboyer commented on #2922
Does it make sense to describe additional flag "recursive" per variable?
Then both literal {{var_name}} for headers/body as well as postman.get*Variable would stay untouched. And just parsing would be changed under the hood.

[2017-04-07 23:00] jkweb3 commented on #2903
I can confirm that I got 4.10.6 today and it has been fixed. Thanks!

[2017-04-07 23:43] #2903 closed, assigned to nobody

[2017-04-08 02:31] tonycody opened #2926 "Can you create a folder that supports multiple levels?"
Can you create a folder that supports multiple levels?
like this?sample:

- company name 1
	- project name 1
		- module name 1
		- module name 2
	- project name 2
		- module name 1
		- module name 2
	- project name 3
		- module name 1
- company name 2
	- project name 1
		- module name 1
		- module name 2
	- project name 2
		- module name 1
		- module name 2
	- project name 3
		- module name 1

[2017-04-08 04:48] tonycody opened #2927 "Request Body Do you want to add templates for reference"
Do you want to add templates for reference.

If you do not support the request to add a fixed request format template, the contents of the request may have been replaced. Standard format can not remember

sample:
![qq 20170408125559](https://cloud.githubusercontent.com/assets/6773121/24825857/d6d6584a-1c5a-11e7-9b30-14ea401172f3.png)

But that description takes up too much space to fold up

Body C

[2017-04-08 06:02] tonycody opened #2928 "Share individual links to requests"
![qq 20170408135410](https://cloud.githubusercontent.com/assets/6773121/24826251/f5e34834-1c63-11e7-91cb-d85bf1af1913.png)
![qq 20170408135447](https://cloud.githubusercontent.com/assets/6773121/24826252/f60e088a-1c63-11e7-88b5-c6bdbbda8291.png)
![qq 20170408135815](https://cloud.githubusercontent.com/assets/6773121/24826253/f637d5c0-1c63-11e7-9d8e-710c57c4fda1.png)

For reference only

[2017-04-08 06:14] tonycody commented on #2928
In addition, can you hide some of the information that is not commonly used?

[2017-04-08 07:18] vsethi13 commented on #2621
+1
In the spring-boot world, it has a similar feature called "profiles". The concept is the same, that you logically group your config variables in different profiles and activate as many of them while running the program.

[2017-04-08 08:34] ghost opened #2929 "Slow UI after updating to v4.10.6"
After updating to **v4.10.6** UI became slow. When clicking on Send button it takes a considerable amount of time for its text to become _Sending..._; Or when clicking inside body of a request to type a json object it takes some time(1 or 2 seconds) for cursor to appear.

 1. Postman Version: **4.10.6**
 2. App (Chrome app or Mac app): **Desktop Version**
 3. OS details: **Windows 10**
 4. Is the

[2017-04-08 10:05] kineticz commented on #1575
Doesn't really solve the problem. The real nice thing would be to configure such key-value pair once for all so that you don't have to set such a variable in EACH request.

[2017-04-08 10:48] dominiceden commented on #2545
I too have the same issue as @JamieDixon - there is no shortcut for pasting using `Cmd + V` - see screenshot attached. Very strange. I cannot assign the Postman application any shortcuts either in OS X as it's not a traditional Mac application.

Funnily enough I had the use of a 2015 MacBook Pro 13" recently and installed Postman, and `Cmd + V` did work out of the box.

![screen shot 2017-04-08 at

[2017-04-08 13:42] numaanashraf commented on #2545
Hi @dominiceden, looks like you are using 'Postman for Chrome' on OSX. Could you share your OSX and Chrome versions? Postman cannot control the `Paste` shortcut and menu behavior due to limitations from the Chrome apps platform. We'll dig around for any known issues on OSX or Chrome that might be causing this for you. In the meantime, we recommend giving the more native 'Postman for Mac' a shot (h

[2017-04-08 15:52] concordion2k commented on #2929
+1

Same details for me: Win 10, v4.10.6

The app as a whole is unresponsive for several seconds between UI clicks, such as opening a collection, clicking a request, etc. In one use case, I counted a full 15s before the UI responded to a click.

[2017-04-08 16:04] augustosamame commented on #2929
+1
Exactly the same issue for me when upgraded to last version
It gets progressively worse as more tabs are opened, until UI is virtually unusable

Postman Version: 4.10.6
App (Chrome app or Mac app): Desktop Version
OS details: OSX El Capitan
Is the Interceptor on and enabled in the app: No
Did you encounter this recently, or has this bug always been there: It appeared just now, today right after

[2017-04-08 16:20] numaanashraf commented on #2929
@miladamirzadeh @concordion2k @augustosamame We are looking into this.

[2017-04-08 16:24] #2258 closed, assigned to nobody

[2017-04-08 19:10] mshahat commented on #2908
AWS ELB Classic has a setting for idle timeout set to 60 sec by default. This is what was causing the behaviour. curl ends the process with every request, so probably the behaviour wasn't reproduced with curl.

closing this one.  Thanks

[2017-04-08 19:10] #2908 closed, assigned to nobody

[2017-04-08 19:20] numaanashraf commented on #2908
@mshahat Postman sends a `Connection: keep-alive` request header to reuse tcp connections for better performance on subsequent requests. I just noticed that we don't explicitly show this in the Postman Console of our native apps or talk about this on our docs. We'll document these to make debugging connection related behaviors easier.

[2017-04-08 19:22] mshahat commented on #2908
Thanks @numaanashraf  ... Does it make sense to expose this as a flag as well ? as in can be disabled ?

Would keep-alive have significance with layer-4 TCP load balancing ? with an idle-timeout similar to this one in AWS ELB Classic
https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html?icmpid=docs_elb_console

keep-alive is an application level layer-7 , isn't i

[2017-04-08 19:48] #461 closed

[2017-04-08 19:49] a85 commented on #943
This is available as a mock server feature in Postman Pro: https://api.getpostman.com

[2017-04-08 19:49] #943 closed

[2017-04-08 19:51] #1292 closed, assigned to nobody

[2017-04-08 19:52] a85 commented on #1509
This is available through the Postman Console now. View > Postman Console in the header menu.

[2017-04-08 19:52] #1509 closed, assigned to nobody

[2017-04-08 19:54] a85 commented on #1966
Closing as available in native apps: www.getpostman.com/apps

[2017-04-08 19:55] #2120 closed, assigned to numaanashraf

[2017-04-08 19:57] a85 commented on #1947
Folks, this will be available through the Collections feature instead through environments in the future. You will be able to set collection level auth and scripts that will allow for all sorts of use cases. Closing this particular feature request for now.

[2017-04-08 19:57] #1437 closed, assigned to nobody

[2017-04-08 19:57] #1689 closed, assigned to nobody

[2017-04-08 19:58] a85 commented on #2051
Available in the Postman Pro API now! https://api.getpostman.com

[2017-04-08 19:58] #2051 closed, assigned to sobtiankit

[2017-04-08 19:59] a85 commented on #1719
Postman now has a two pane view: View > Toggle Two-pane view. The request and response can appear side by side.

[2017-04-08 19:59] #1719 closed, assigned to nobody

[2017-04-08 19:59] #1551 closed, assigned to nobody

[2017-04-08 20:00] a85 commented on #1526
Closing as duplicate of #1658

[2017-04-08 20:00] #1526 closed, assigned to numaanashraf

[2017-04-08 20:01] a85 commented on #2337
@madebysid Was this fixed?

[2017-04-08 20:02] a85 commented on #2026
These are available on native apps now: www.getpostman.com/apps

[2017-04-08 20:02] #2026 closed, assigned to nobody

[2017-04-08 20:03] a85 commented on #2095
@numaanashraf Was this issue fixed?

[2017-04-08 20:14] a85 commented on #909
I think what we need here are enums. That is on the long term roadmap for variable type support. For now, you can switch values in the following ways:

1. Switch environments completely
2. Switch variables themselves. All values now have autocomplete to let you switch between different pre-defined variables that works pretty much like enums.

[2017-04-08 20:14] #909 closed

[2017-04-08 20:15] #1975 closed, assigned to nobody

[2017-04-08 20:17] a85 commented on #2178
Over the long term we will be deprecating bulk edit. It's being a blocker in supporting additional features on the main editor and essentially we have to create a translation layer between a text based format and the UI behavior. Hence, not all features will be supported in the bulk editor.

[2017-04-08 20:17] #2178 closed, assigned to nobody

[2017-04-08 20:17] a85 commented on #1790
This is possible now.

[2017-04-08 20:17] #1790 closed, assigned to nobody

[2017-04-08 20:18] a85 commented on #1714
Chrome apps are now deprecated hence closing this. Check out our native apps www.getpostman.com/apps that solve the Cmd+Tab issue.

[2017-04-08 20:19] #1714 closed, assigned to nobody

[2017-04-08 20:20] #2203 closed, assigned to nobody

[2017-04-08 20:21] a85 commented on #2346
These are available now in the new native apps!

[2017-04-08 20:21] #2346 closed, assigned to nobody

[2017-04-08 20:22] a85 commented on #2260
@numaanashraf We should list out the previous version of the app on the website. @kunagpal Possible right?

[2017-04-08 20:23] a85 commented on #1337
We just couldn't agree on the colors and will keep the simple dropdown for now.

[2017-04-08 20:23] #1337 closed, assigned to nobody

[2017-04-08 20:23] a85 commented on #1648
This should be improved now.

[2017-04-08 20:23] #1648 closed, assigned to nobody

[2017-04-08 20:24] a85 commented on #1785
@mstaalesen We are highlighting the collection now. The new sidebra with multi-level folders will have a new icon soon! Closing this for now.

[2017-04-08 20:24] #1785 closed, assigned to nobody

[2017-04-08 20:24] a85 commented on #2300
This is available now in our native apps.

[2017-04-08 20:24] #2300 closed, assigned to nobody

[2017-04-08 20:25] a85 commented on #2345
Available now in 4.10+

[2017-04-08 20:25] #2345 closed, assigned to nobody

[2017-04-08 20:25] #2368 closed, assigned to nobody

[2017-04-08 20:26] a85 commented on #2583
There are "Duplicate" and "Rename" keyboard shortcuts in the sidebar that should make this super easy.

[2017-04-08 20:26] #2583 closed, assigned to nobody

[2017-04-08 20:28] #1798 closed, assigned to nobody

[2017-04-08 20:30] a85 commented on #2926
Duplicate of #907

[2017-04-08 20:30] #2926 closed, assigned to nobody

[2017-04-08 20:31] a85 commented on #2173
Closing as duplicate for now. We are working on an overhaul of auth systems.

[2017-04-08 20:31] #2173 closed, assigned to numaanashraf

[2017-04-08 20:32] #1420 closed, assigned to numaanashraf

[2017-04-08 20:34] a85 commented on #1640
These are available through Postman Pro now. Postman can track version changes and also export to Github etc.

[2017-04-08 20:34] #1640 closed, assigned to nobody

[2017-04-08 20:35] a85 commented on #691
Closing this as a low-value item for now. Will come back to this later when we have more bandwidth.

[2017-04-08 20:35] #691 closed

[2017-04-08 20:35] #811 closed

[2017-04-08 20:38] prashantagarwal commented on #2914
Hey @IllyaMoskvin this has been fixed in version 4.10.6. Please update your Postman app.

[2017-04-08 20:38] #2914 closed, assigned to prashantagarwal

[2017-04-08 20:44] prashantagarwal commented on #2877
Hey @jakubkratina this issue has been fixed in Postman version 4.10.6. Please update your Postman app.

[2017-04-08 20:44] #2877 closed, assigned to prashantagarwal

[2017-04-08 20:45] prashantagarwal commented on #2868
This issue has been fixed in 4.10.6. Please update you Postman app.

[2017-04-08 20:45] #2868 closed, assigned to prashantagarwal

[2017-04-08 22:00] kunagpal commented on #2260
@a85 Yes, this should be fairly easy to do.

[2017-04-08 22:04] kunagpal commented on #2814
@madebysid That would require offloading newman reporters into distinct modules first.

[2017-04-09 01:23] d3020 opened #2930 "HTTPS calls not connecting - iOS simulator"
Hi,

This is my first post here and hoping someone can help. Would appreciate it. In a nutshell, I can't seem to get the https calls to show up in Postman. Here is what I have done.

- Installed Postman 4.10.6 (Mac app)
- Proxy settings are on and pointing to 5555
- In my Mac OS settings I have the http and https proxy settings on and set to 127.0.0.1 and port 5555
- When I go on the iOS simulator

[2017-04-09 04:10] mikealexds commented on #2929
+1
Gets unusable pretty quickly.
Postman Version: 4.10.6
App (Chrome app or Mac app): Desktop Version
OS details: OSX El Capitan

[2017-04-09 04:15] a85 commented on #1441
@stevemcmillen Closing this for now but will be tracking this one that you posted. https://github.com/postmanlabs/postman-app-support/issues/2756

[2017-04-09 04:15] #1441 closed, assigned to nobody

[2017-04-09 04:16] #2795 closed, assigned to nobody

[2017-04-09 04:16] #2718 closed, assigned to nobody

[2017-04-09 04:16] #2670 closed, assigned to nobody

[2017-04-09 04:16] #2641 closed, assigned to nobody

[2017-04-09 04:17] #2563 closed, assigned to nobody

[2017-04-09 04:17] #2634 closed, assigned to sdnts

[2017-04-09 04:18] #2553 closed, assigned to nobody

[2017-04-09 04:20] a85 commented on #2232
@lloydjatkinson No. We did not want to build another set of meta-tools when people start sending API requests within scripts. We have a better solution now through the new pm.api that is planned for release soon. We'll update the thread when it is out.

[2017-04-09 08:06] ferasodh commented on #2153
+1

[2017-04-09 08:14] numaanashraf commented on #2929
@miladamirzadeh @concordion2k @augustosamame @mikealexds We have identified the issue. Working on pushing a fix as soon as possible.

[2017-04-09 08:41] ferasodh commented on #2929
+1

[2017-04-09 09:08] ghost commented on #2929
@numaanashraf Thank you so much. Postman is a great tool.

[2017-04-10 05:20] Kimi-Arthur commented on #1337
Just use the same colors in History or Collections.

Sad... I guess you guys just don't want to do this... Never mind...

[2017-04-10 07:02] zolotokrylin commented on #1906
+1 🔥

[2017-04-10 07:34] Eli-Goldberg opened #2931 "Request - Postman Debian repository (PPA)"
It would be really awesome to be able to:

sudo apt install postman

:)

[2017-04-10 07:36] numaanashraf commented on #2931
Hi @Eli-Goldberg, thanks for the suggestion. This is on our roadmap but we don't have an ETA for this just yet. 😃

[2017-04-10 08:27] gaochengyidlmu commented on #2929
+1
please make it , thank u

[2017-04-10 08:30] numaanashraf commented on #2929
@miladamirzadeh @concordion2k @augustosamame @mikealexds @ferasodh @gaochengyidlmu We are rolling out `v4.10.7` to address this issue. Do update and let us know.

[2017-04-10 08:36] gaochengyidlmu commented on #2929
just now, the version 4.10.7 has been released.
the problem resolved.
Thank you very much!

[2017-04-10 08:39] numaanashraf commented on #2929
Glad to hear that @gaochengyidlmu. Thanks again for your patience and support. Have a good week. 😃

[2017-04-10 09:32] kamalaknn commented on #2885
Hi @joshualawson

We have rolled out a fix for this. Please update your app to the latest version.

We are closing this for now. Feel free to reopen if you continue to see this on the latest version.

[2017-04-10 09:32] #2885 closed, assigned to kamalaknn

[2017-04-10 09:55] kamalaknn commented on #2864
Hey @PFarrell89, the latest version of the app now displays the test results in the order you've defined them. Please update to it.

Closing this issue for now. Feel free to re open if you continue to see this.

[2017-04-10 09:55] #2864 closed, assigned to kamalaknn

[2017-04-10 09:57] PFarrell89 commented on #2864
@kamalaknn Thanks. Confirmed fixed :)

[2017-04-10 10:00] ghost commented on #2929
@numaanashraf  Thank you so much.

[2017-04-10 10:00] #2929 closed, assigned to nobody

[2017-04-10 10:00] kamalaknn commented on #2860
Hello everyone,

We have rolled out the fix for this in the latest version of our app. Could you update your apps to the latest version and let us know if it works?

Feel free to re open the issue if you continue to see this.

[2017-04-10 10:00] #2860 closed, assigned to SamvelRaja, kamalaknn

[2017-04-10 10:55] prashantagarwal commented on #2900
@mousehappy @keepfightingnevergiveup We released 4.10.7 with the fix. Can you please verify if this issue is fixed for you guys.

[2017-04-10 11:03] SamvelRaja commented on #2883
@ravichauhan03 @pdeak @barryku The issue has been fixed in our latest 4.10.7 update, can you guys check the same from your end.
Closing this issue now. Feel free to create new or reopen the same issue if problem still persists.

[2017-04-10 11:03] #2883 closed, assigned to SamvelRaja

[2017-04-10 11:13] tojagrut commented on #2860
It works!

Cheers.

[2017-04-10 11:40] henriquedesousa commented on #2242
The workdaround in https://github.com/postmanlabs/postman-app-support/issues/2242#issuecomment-252550883 is not working, for some reasons postman-app is stripping the `Proxy-Authorization` header. Why?!

[2017-04-10 12:24] pdeak commented on #2883
Yes, looks good to me, thanks.

[2017-04-10 12:30] tomex443 commented on #2920
+1

[2017-04-10 12:33] numaanashraf commented on #2131
@JordanAlimi This is fixed in v4.10.5+. Please verify and let us know.

[2017-04-10 13:05] d4nirod commented on #285
+1

[2017-04-10 14:30] IllyaMoskvin commented on #2914
Excellent! Thanks for the quick fix! :+1:

[2017-04-10 14:34] rhildebrand commented on #2860
Works for me at v4.10.7

Thanks!

[2017-04-10 14:35] oofpez commented on #2260
I'd love to have this option.  With the current size of my environments, & collections, Postman easily takes over 4GB of memory when I start it up (and some actions can take over a minute for the UI to respond).
It used to be more manageable in previous versions.

[2017-04-10 15:34] marcioAlmada opened #2932 "Automatically save collection to file upon edit"
1. Postman Version: Any
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Linux
 4. Is the Interceptor on and enabled in the app: Nope
 5. Did you encounter this recently, or has this bug always been there: It's a feature request
 6. Expected behaviour:

I'm using Postman + newman command line tool. Every time a collection is updated I have to export the collection file manually in order for

[2017-04-10 16:22] a85 commented on #2260
@oofpez We are constantly optimizing for memory and performance.

That said, older versions will be available for download through our website soon.

[2017-04-10 16:23] a85 commented on #2920
This should be fixed with the latest update.

[2017-04-10 16:24] OliverRC commented on #2857
I can confirm that postman is not using the body schema to populate the body tab
![image](https://cloud.githubusercontent.com/assets/1888486/24871740/f391caca-1e1a-11e7-9e59-ef5be4c2482c.png)

http://swagger.io/specification/#parameterObject

[2017-04-10 17:06] DoctorrDeep commented on #697
+1

[2017-04-10 19:18] byronsanchez commented on #2153
same

[2017-04-10 19:21] numaanashraf commented on #2153
@byronsanchez , @aguilera51284 @mrgyf1 Are you still facing this issue in the latest version of the app (`v4.10.7`)?

[2017-04-10 19:41] terrywolf commented on #2900
@prashantagarwal - I encountered the same problem and it still occurs on 4.10.7.

[2017-04-10 19:41] moored opened #2933 "Incorrect character escaping within Strings of Swift generated code"
When generating Swift code it is incorrectly escaping double quotes with two backslashes. It should only use one backslash.

Example:

Current code generation
[code]

Correct code generation
[code]

Version Info

1. Postman Version:  4.10.7
 2. App (Chrome app or Mac app): Mac App
 3. OS details: macOS Sierra 10.12.4 (16E195)
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encount

[2017-04-10 20:04] byronsanchez commented on #2153
@numaanashraf - just figured it out. For me it was because of a lot of history requests like @abhijitkane said. Cleared the history and it is back to normal. Yea, it was v4.10.7. But it's good now.

[2017-04-10 20:41] #2153 closed, assigned to nobody

[2017-04-10 20:44] a85 commented on #2864
@abhijitkane Why are we removing the labels? Will be helpful in regression testing later.

[2017-04-10 21:53] telfoster commented on #697
+1

[2017-04-10 21:54] pytong commented on #697
+1

[2017-04-10 23:14] chloeharper commented on #2860
Works for me too!
Thank you!

[2017-04-11 01:55] garthk opened #2934 "Feature Request: specify audience when getting OAUTH2 token"
My OAUTH2 provider's access token URL `/oauth/token` needs an `audience` when `grant_type` is `client_credentials`. Postman can't provide one.

Workaround: add a request for your authentication endpoint, with a test to save the token as a global variable. Caveat: leaks your access token to Postman.

[2017-04-11 02:03] garthk opened #2935 "Feature Request: private variable values in environment"
Working around #2934 requires OAUTH2 endpoint URIs, client IDs, client secrets, and the eventual `access_token` itself to be held in the environment. The environment is synchronised to Postman.

I'd much appreciate being able to choose some environment variables for which the _values_ should not be synchronise. Please do keep synchronising the keys; just replace the values with `[REDACTED]` and p

[2017-04-11 02:49] kentoj commented on #739
+1

[2017-04-11 03:17] daikaixian commented on #884
Disabling and then enabling the extension again in Chrome will fix the issue.

[2017-04-11 05:54] a85 commented on #697
Everyone. Thank you for your patience! This is a work-in-progress. As Postman itself sends API requests we never considered that as part of the original design of the scripting environment. Also, we did not want to build another level of meta-level of tools to debug these requests. With the Postman Console, debugging/logging becomes a lot easier and we are working on ensuring that requests put ins

[2017-04-11 06:22] SamvelRaja commented on #2933
Thanks for bringing this to our notice we shall let you know the progress in the same thread.

[2017-04-11 07:08] Structed commented on #739
Wow, more than two years later this was added to the OAuth2 TODO list! awesome! I really do hope it won't stick there forever... Would love to properly use postman at last!

[2017-04-11 08:03] nonnenmacher commented on #697
yeaah great news !!

I can’t wait to see that.

Great news.

On Tue, Apr 11, 2017 at 7:54 AM, Abhinav Asthana <notifications@github.com>
wrote:

[2017-04-11 10:12] victor commented on #135
It is now being required to sign-up with Postman before using it. Which is totally inappropriate as the tool will be most often used for work, while people are being requested personal data.

[2017-04-11 10:17] sdnts commented on #135
@victor You don't need to have an account to use Postman. When you open the app for the first time, there's a link right below the sign up form that should allow you to start using the app without signing in :)
![screenshot 2017-04-11 15 46 13](https://cloud.githubusercontent.com/assets/7689783/24904488/2cd55f50-1ece-11e7-9ac4-ec3939389b37.png)

[2017-04-11 11:15] Ciki commented on #213
+1

[2017-04-11 14:14] NikitaSavik opened #2936 "[Feature request] - show response in the generated API doc"
While the docs are very nice and useful, most of the developers would like to see what kind of response they get on the given request.  E.g. this type of information is required by 3rd party developers right now and this is the reason I can't use postman as a doc-generator.

[2017-04-11 14:15] #2936 closed, assigned to nobody

[2017-04-11 16:44] dforney14 commented on #2827
We have found a solution to accomplish what we were looking for.  By utilizing a combination of Newman and HP-UFT we are able to export our newman run reports and copy them to a central location utilizing some C#.  Just wanted to update this with our findings.

[2017-04-11 16:46] vcmJonasTarnowetzki opened #2937 "Extract RESTCONF specification url parameters"
1. Postman Version: 4.10.7
 2. App: Chrome app
 3. OS details: Ubuntu 16.04.2 LTS
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: Always as far as I know.
 6. Expected behaviour: When testing an api that uses RESTCONF specified url parameters, these parameters are extracted by Postman into the params window for editing.

[2017-04-11 23:32] hlubovac opened #2938 "v4.10.5: form-data sent with content-type=x-www-form-urlencoded"
It appears to be that one or the most recent updates broke form-data handling. Request header "content-type" is being set to wrong value, compared to the format of the request body.

![image](https://cloud.githubusercontent.com/assets/3127736/24934968/ccf2877e-1ed3-11e7-86b3-5c0561f54037.png)

Request body is encoded as multipart/formdata, while the request content-type is sent as "x-www-form-urle

[2017-04-11 23:33] hlubovac commented on #2938
I'm sorry, the problem was on my part. Closing...

[2017-04-11 23:33] #2938 closed, assigned to nobody

[2017-04-12 00:26] hughescr opened #2939 "Unicode characters in scripts do not sync correctly"
1. Postman Version: Version 4.10.7 (4.10.7)
 2. App (Chrome app or Mac app): Mac app
 3. OS details: 10.12.4
 4. Is the Interceptor on and enabled in the app: na
 5. Did you encounter this recently, or has this bug always been there: noticed recently, but probably always been there and I hadn't noticed
 6. Expected behaviour: Valid unicode characters in javascript should be correctly saved and ret

[2017-04-12 00:27] hughescr commented on #2939
Note that line 2 above works fine -- escaped unicode works; only inline unicode is breaking things, whether it's in a comment or a string, or probably elsewhere too.

[2017-04-12 06:45] ramsaymax commented on #1850
I'm also having the same issue, what is causing this?

Python requests code gen, in the chrome app

[2017-04-12 08:48] dracon commented on #2707
Pitty, is there any hope that we can change the shortcut settings? Norwegian keyborad has the same setup as the swedish. AltGr+2 = @

[2017-04-12 12:20] barnesm999 commented on #2247
+1 Proper script re-usability  prevents Postman from being a full fledged testing tool.

[2017-04-12 12:35] barnesm999 commented on #798
Any progress on this? Would really like the ability to load some complex data from files during Pre/Test Script. For example, I would like to load a JSON file which contains the expected response JSON schema. This would allow me to externalize the schema from the script and re-use it across multiple collections while only maintaining a single copy.

Currently I am stuck duplicating these schema de

[2017-04-12 12:55] timasjov commented on #814
Any ETA on the feature?

[2017-04-12 13:06] anton-arsentyev opened #2940 "Highlighting text while renaming request in Sidebar drags the whole request"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac App
 3. OS details: MacOs Sierra

![screen shot 2017-04-12 at 14 57 21](https://cloud.githubusercontent.com/assets/22887126/24958805/e9a806b0-1f90-11e7-8a1b-393c6735dd61.png)

Steps:

1.  Click "Rename" in Context menu
2. Try to highlight text to edit/delete, but instead i move whole element, like in non Edit mode.

[2017-04-12 13:23] kota65535 opened #2941 "Digest Auth in MD5-sess does not work"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): Linux app
 3. OS details: Cent OS 7
 4. Is the Interceptor on and enabled in the app: There is no interceptor but proxy setting icon...
 5. Did you encounter this recently, or has this bug always been there: always
 6. Expected behaviour:

I've tested using [this page ](https://httpbin.org/).
This address below can be accessed by user: `

[2017-04-12 14:39] josecols commented on #2369
Same with Version 4.10.7 on macOS Sierra 10.12.3

[2017-04-12 15:28] numaanashraf commented on #2940
Thanks for reporting this @anton-arsentyev. We are working on a fix and will roll it out in an upcoming release.

[2017-04-12 15:32] numaanashraf commented on #2369
Postman native apps, do not have support for `/etc/hosts` at the moment. We are working on this and will post updates here.

[2017-04-12 15:58] butlnor opened #2942 "Prevent desktop icon creation"
How can I disable creating desktop shortcut everytime Postman is upgraded? This is a serious bug, as no program should create desktop shortcuts without asking a user first. Please either remove the desktop shortcut creation, or add a setting where this can be prevented.

[2017-04-12 16:02] numaanashraf commented on #2942
Thanks for reporting this @butlnor. We are looking into this.

[2017-04-12 17:17] mikey923 commented on #2611
Hi, I think I stumbled upon the same issue.  I was testing an API that required Basic Auth for some requests and No Auth for other requests.  I had 2 tabs open, both with an auth header.  On one, I started testing an unauthed service so I went to the Authorization tab and selected No Auth and made sure the header was removed under the Headers tab.

None of the code snippets (like generating the cu

[2017-04-12 17:37] RandyMeyer commented on #2805
I've run into an issue with URL encoding working differently between the Windows and Mac apps. Both Windows and Mac are running the latest 4.10.7 version of Postman but the Windows one would not accept URIs with a colon ( : ) in them unless it was encoded but the Mac will accept it encoded or a literal colon character. ***Note:*** The space in the URL does not need to be encoded on either system.

[2017-04-12 17:51] sp71 commented on #907
+1

[2017-04-12 19:02] dangle1 commented on #1946
v4.10.7 (Windows 7) crashes for me when receiving a 1.89 mb JSON response as well.

[2017-04-12 19:21] eholley commented on #2427
The bug is still present in 4.10.7. Which, is very frustrating because I can't upgrade passed 4.4.3. The workaround is messy and is inconvenient in scripts. Using environment variables is not an option.

@madebysid "this happens only in case the variable name is succeeded by a special character. (. in your case)"

**The bug isn't due to the dot character. The bug is in the "Send" behavior. The "Co

[2017-04-12 22:12] rajaksanjay commented on #2859
Hi Ratan ,
Did you find any solution ? I am also looking for same. I have chain of API request and want to export final result to csv

[2017-04-13 02:20] RatanShreshtha commented on #2859
Hi Sanjay,

I saved the result in the environment variable in the form of an array of objects.

Something like this:-
[{key1: val1}, {key1: val1}, ........... ]

And then I saved the environment JSON to the location, using command line option --export-environment <path> of Newman.

I hope that this is helpfull.

[2017-04-13 05:41] ivanlewis commented on #2920
After new UI, setting parameters it is damn slow. Using Desktop app on Windows 10. This needs to be fixed asap. Thanks

[2017-04-13 05:51] tomex443 commented on #2920
I had this same problem. In Version 4.10.7 it's works fine than in previous versions.

[2017-04-13 07:14] udayms commented on #2369
Weird... My postman collection was working fine with the entry in /etc/hosts file till the latest update. After that, only ip access works.... in my case, my api server is running on a vm on my mac. I have been able to use postman for the last many months to connect to my vm through the name in my hosts file.

[2017-04-13 07:57] ressabrimirakl commented on #2805
Hi,

Thank you for your feedback.
I am working with Windows and in the previous version, i was able to send requests with the special character "|". I didn't need to encode this character.
Now i have to send "%7C" instead the pipe.

Do you think that i can use again the previous behavior, witout having to send the encoded characters in the URL?

Best Regards,

[2017-04-13 08:37] grinderX19 commented on #1180
+1

I wonder why modifications of tester_sandbox.html are not picked up by Postman native app (Linux one in my case). Second workaround with evaluation of global var is not very convenient to say the least...

[2017-04-13 09:10] csegyud commented on #907
Just updated and works great! BTW, do you plan in the future to further nesting folders into folders instead of "just" one level of folders in a collection? Thanks for the new feature!

[2017-04-13 09:28] Lloople opened #2943 "Can't write symbol @ in Windows App"
(Spanish keyboard layout) I think maybe it's because the shortcut Ctrl + Alt + 2 as I founda similar issue in PHPStorm

[2017-04-13 12:46] sumew commented on #285
+1

[2017-04-13 14:08] anton-arsentyev opened #2944 "[Feature]: Allow to rearrange environments"
Please add functionality to change order of environments in "Manage environments" window

![screen shot 2017-04-13 at 16 05 45](https://cloud.githubusercontent.com/assets/22887126/25008185/3f9289ce-2063-11e7-8254-43c0332df940.png)

[2017-04-13 14:22] HaraldNordgren opened #2945 "Mark 'Status: 401 Unauthorized' in a bigger font and/or with red text"
When sending a request I would like problematic error codes to be displayed more clearly.

I feel like the small text at the top right corner is too easy to miss.

[2017-04-13 14:58] sdnts commented on #2943
@Lloople Closing this, as we're tracking this here: #2707 . I'll keep that thread up-to-date.

[2017-04-13 14:58] #2943 closed, assigned to nobody

[2017-04-13 15:25] dougrchamberlain commented on #974
This really should be something to be considered, I spend a good amount of time changing context, and needing to click through 4 or so screens feels tedious.  It would be nice if clicking the 'eye' which shows the environment info could be edited directly there.

[2017-04-13 15:56] nicolasdalsass commented on #907
I don't understand why this is closed.

I just updated to the latest available Postman (4.10.7) on Ubuntu, and I don't think it contains this feature ?

Could you give use more info about the release status ?

[2017-04-13 16:29] jamesaspence commented on #907
@nicolasdalsass I believe you are mistaken. This issue is still open?

[2017-04-13 18:40] wendyleecook opened #2946 "Cannot generate collection link"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome (57.0.2987.133)
 3. OS details: Windows 7 SP1
 4. Is the Interceptor on and enabled in the app: On
 5. Did you encounter this recently, or has this bug always been there: Just in the last week or so
 6. Expected behaviour: I should be able to generate a collection link
 7. Console logs (http://blog.getpostman.com/2014/01/27/enablin

[2017-04-13 20:52] numaanashraf commented on #2946
Hi @wendyleecook, thanks for reporting this. I'm not able to replicate this issue. Could you try again and let us know if this is happening again?

[2017-04-13 23:01] jgroom33 commented on #2882
This seems to have the same issue:
https://www.getpostman.com/collections/937511b736db36d34c78

The behavior appears to exist when the imported array contains a child object that is meant to be the body.

import.json:

[code]

[2017-04-13 23:21] marr opened #2947 "Generated code snippets incorrectly escapes quotes"
1. Postman Version:
 2. App (Chrome app or Mac app):
Mac App
 3. OS details:
OSX El Capitan
 4. Is the Interceptor on and enabled in the app:
?
 5. Did you encounter this recently, or has this bug always been there:
Not sure, I assume it's always been there.
 6. Expected behaviour:
When I click _Code_ to copy a request, I expect the Headers to be properly escaped to pass into a shell for execution

[2017-04-13 23:44] igostavro commented on #907
this issue should still be open. There are no nested folders.
On OS X with the latest version, the feature is not present. Would be immensely helpful.

[2017-04-13 23:47] a85 commented on #907
@igostavro This issue is NOT closed. The issue that is closed is a duplicate of the same issue. There are multiple duplicate issues filed on the tracker and we close duplicates from time to time.

[2017-04-13 23:49] igostavro commented on #907
@a85 excellent

[2017-04-14 00:56] nathaniel-holder commented on #1947
+1

[2017-04-14 05:34] justux90 opened #2948 "Feature request: Preview tab with relative resources links."
Hello,
when you make request to server and it's responding with HTML page all relative links to CSS/JS/etc files will be broken and will not work. Full URLs is working fine.

So `/assets/style.css` will not work while `http://example.com/assets/style.css` will work in `Preview` tab and HTML is shown correctly.

---

Also it would be great to open links from JSON response in default browser rather

[2017-04-14 05:53] bluesky139 opened #2949 "[Bug] Memory leak"
1. Postman Version: 4.9.3
 2. App (Chrome app or Mac app): PC native app
 3. OS details: Windows 7 x64
 4. Did you encounter this recently, or has this bug always been there: always
 5. Screenshots
![image](https://cloud.githubusercontent.com/assets/1788897/25034469/4f8fa288-2119-11e7-8cf0-d4a3974a06d8.png)

 Open postman and send request again and again, you can see the memory always increase.
 I

[2017-04-14 08:48] kerembaydogan commented on #2258
Same issue here.
Mac Native App - Version 4.10.7 (4.10.7).  (Full uninstall/reinstall)

[2017-04-14 09:31] kamalaknn commented on #2258
Hi @kerembaydogan, can you attach a screenshot of the Postman Console (View -> Show Postman Console) with the response headers or copy paste the `set-cookie` header where you see this?

This will help us narrow down the issue. We haven't been seeing this in all the requests.

[2017-04-14 12:59] florian-krueger commented on #1104
+1

[2017-04-14 13:48] gordingin commented on #2823
I am having a non launch issue also. This is what I see.

xml.js:22 Notification System not initialized_show @ xml.js:22
xml.js:22 'FileError is deprecated and will be removed in M54, around October 2016. Please use the 'name' or 'message' attributes of the error rather than 'code'. See https://www.chromestatus.com/features/6687420359639040 for more details.
xml.js:22 Error: INVALID_STATE_ERR

[2017-04-14 19:16] stebielli commented on #1104
+1

[2017-04-14 19:43] #2131 closed, assigned to numaanashraf

[2017-04-14 20:25] qmcree opened #2950 "Response body preview doesn't update on subsequent requests w/o response body"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac
 3. OS details: Mac OS 10.12.3
 4. Is the Interceptor on and enabled in the app: N/A
 5. Did you encounter this recently, or has this bug always been there: recently
 6. Expected behaviour: Response body in preview tab should be blank on subsequent requests when the response body is empty.
 7. Console logs (http://blog.getpostman.com/

[2017-04-14 23:16] sutdisi opened #2951 "Cannot import Postman variables from Swagger spec"
Repros in Postman both chrome app and native app. Native app version 4.10.7

We have different environments with different hostnames and using either http or https. When I try to parameterize these while importing Postman I have two issues. 1) Variable gets corrupted 2) Postman always sticks http in front of any URL making it impossible to parameterize.

Repro Steps:
1) Import this modified minima

[2017-04-15 05:10] chiragsheta commented on #1137
+1

[2017-04-15 09:59] csegyud commented on #1633
FYI, enclosing the environment variable placeholder in double quotes solved the problem for me.
e.g.: `"name": "{{searchName}}",`
(I use Postman v4.10.5 on Windows x64.)

[2017-04-15 19:49] poisa commented on #2950
I just came here to report this but you already beat me to it. Started happening with the latest version.

[2017-04-15 20:24] soufian044 commented on #1850
1 year and 1 month and the bug still persists
![image](https://cloud.githubusercontent.com/assets/10144036/25066583/32943286-222a-11e7-9b4f-6f4afb970cef.png)

[2017-04-16 08:10] GhaythFuad commented on #1104
+1
Please support this.

[2017-04-16 08:49] stephan-simondshealth-com-au commented on #1535
+1

[2017-04-17 00:59] a85 commented on #2899
Basically a global find/replace with section specific replacements for specific types. Things like "Replace foo with bar in header params across collections, A, B and C". Will post more things as we have the design goals laid out better. :)

[2017-04-17 07:30] kerembaydogan commented on #2258
Hi @kamalaknn here is the screenshot. Please let me know if you need additional detail.

<img width="957" alt="screenshot at apr 17 10-27-16" src="https://cloud.githubusercontent.com/assets/3845600/25082334/c6eeaa54-2358-11e7-9291-7e5c673fea18.png">

[2017-04-17 09:35] sdnts commented on #2337
@a85 Not yet, some services still do not support Unicode completely.

[2017-04-17 11:47] plegault3397 opened #2952 "SSO we have a continue button to connect to the site"
1. Postman Version: v4.10.7
 2. App (Chrome app or Mac app): chrome
 3. OS details: Windows
 4. Is the Interceptor on and enabled in the app:no
 5. Did you encounter this recently, or has this bug always been there:always
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the

[2017-04-17 14:29] arpit0729 commented on #2952
Thanks for reporting this @plegault3397 . Could you mail us at help@getpostman.com your team-name and username.

[2017-04-17 18:38] hlubovac commented on #1263
@vegetableman, I'm using 4.10.5, and I see no "close all tabs" anywhere. Right-click on tabs does nothing.

[2017-04-18 00:20] rapidroamer commented on #907
+1

[2017-04-18 01:40] S0im commented on #2782
Sorry，recently I find postmannativeapp  dosn‘t support Simplified Chinese。But in the chrome app，the chrome encode the URI 。So，we can set an environment at the pre-request scripts like this ：“postman.setGlobalVariable("zhongwen", encodeURI("你好"));” ，and use the “{{zhongwen}}” in the request URI。

[2017-04-18 01:40] #2782 closed, assigned to nobody

[2017-04-18 06:35] sdnts commented on #2902
@smonbi The `Switch To Sidebar`& `Switch To Builder` shortcuts do not have a visible effect on the UI, they just shift focus to the sidebar and builder to allow you to use shortcuts that make sense in that context (such as moving around the sidebar using arrow keys). Are you looking for visual feedback when you use those shortcuts?
If not, could you elaborate a little as to what doesn't work and w

[2017-04-18 07:11] bohdaq commented on #622
+1

[2017-04-18 10:00] ghost opened #2953 "Second Instance of Postman Desktop loads forever(It seems)"
1. Postman Version: **v4.10.7**
 2. App (Chrome app or Mac app): **Desktop App**
 3. OS details: **Windows 10**
 4. Is the Interceptor on and enabled in the app: **Yes**
 5. Did you encounter this recently, or has this bug always been there: **This is the first time I have tried this.**
 6. Expected behaviour: **I expect second instance become ready for use or warn me(showing an error) that postma

[2017-04-18 10:16] ghost commented on #2953
I should mention that running an instance of chrome app simultaneously with desktop app has no problem, works fine.

[2017-04-18 12:43] daddyshortlegs opened #2954 "[Feature] Default view should be 'Body' rather than 'Authorization'"
When you click on a request in any collection, the default view is 'Authorization'. Most of the time, I'm really only interested in the request, so by default, would it be a better idea to make the default view 'Body'? It should save quite a few clicks.

[2017-04-18 16:44] portaljacker commented on #1475
+1

[2017-04-18 16:47] Laro88 opened #2955 "Collection level headers"
It would be great if one could put headers (like auth token etc) on the Collection level rather than on the individual calls - no more copy paste of auth tokens etc., and cleaning before sharing would be much easier.

[2017-04-18 18:34] strowk commented on #1263
Guys, it's not working in Chrome! If there is no possibility to create context menu, why could not in be done otherwise? We can double click and do very many different kinds of things with our keyboard!

[2017-04-18 18:43] strowk opened #2956 "Request: Close all tabs in Chrome app"
From https://github.com/postmanlabs/postman-app-support/issues/1263 I get that we can close all tabs now only in native app, but it would be great to have it in Chrome too.

Since one of the last update tabs become persistent (they stays even after reboot) and now plenty of tabs could only be closed one by one - it's veeery long. I think I have hundreds of them. It would take half an hour to close

[2017-04-18 18:44] strowk commented on #1263
Since it's not going to be supported in Chrome I created https://github.com/postmanlabs/postman-app-support/issues/2956 just to make it sure that the problem still exists.

[2017-04-18 20:22] hlubovac commented on #1263
OK, sorry, I confused the "in-Chrome" with how Postman used to run: literally inside Chrome window. It's still an extension (the way I have it), so I thought that would have been the same thing. Although since some point it launches within a separate window, it's still a Chrome extension (did I say that already), and so I thought that's what you might have meant by "using a native app". I didn't r

[2017-04-18 22:27] antonlva commented on #2921
In addition to this bug: duplication of POST request and changing it to GET works within preserving request body as well.

We've just got some fabulous moments investigating why our backends are reporting xss-attacks without any visible payload sent to them (it were just a duplicates of previous POST Postman duplicates with sampled XSSs).

[2017-04-18 22:44] chenxizhang commented on #1630
i meet the same issue @abhijitkane  please take a look

[2017-04-19 06:21] charanpreetKaur commented on #391
I am sending request to postman, that is supposed to download a pdf report. But postman is picking up the old jasper file inspite of it been updated in java code. how do i fix it?

[2017-04-19 07:33] forksofpower commented on #1495
+1

[2017-04-19 09:42] gitfool commented on #882
👍

[2017-04-19 10:59] snaits commented on #2949
I'm having a similar issue with Postman for Chrome on Windows 10 (x64) with version 4.10.7.

[2017-04-19 12:31] derekssmith commented on #2485
+1

[2017-04-19 13:42] lukeholder commented on #119
This is still not solved. The console is not the raw text of the whole response.

I need the full exact response to copy and paste easily into a external test suite.

[2017-04-19 13:43] ghost commented on #213
+1

[2017-04-19 13:43] fdw opened #2957 "ReferenceError when using tests"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Native Linux app
 3. OS details: Ubuntu 16.04
 4. Is the Interceptor on and enabled in the app: n/a
 5. Did you encounter this recently, or has this bug always been there: since last week, at least
 6. Expected behaviour: tests run without error, as described in [http://blog.getpostman.com/2014/01/27/extracting-data-from-responses-and-cha

[2017-04-19 13:52] kurtkanaskie commented on #882
I found a similar example of using global variables and eval to provide a "describe-it" style of behavior driven testing. Nice article here: http://blog.getpostman.com/2015/09/29/writing-a-behaviour-driven-api-testing-environment-within-postman/

[2017-04-19 13:58] abrahamduran commented on #1678
Any update on this? Seems forgotten :/

[2017-04-19 15:06] numaanashraf commented on #1678
@AIsaac08, this is on our roadmap. We'll update here when we have an ETA.

[2017-04-19 15:08] numaanashraf commented on #2957
Hi @fdw, we have deprecated and removed jQuery from the script sandbox in our native apps. We recommend you use Cheerio for extracting value from HTML response. You can find the info at http://blog.getpostman.com/2016/08/30/jquery-replaced-by-cheeriojs-in-postman-sandbox/ & https://cheerio.js.org/

[2017-04-19 15:30] johnpurser opened #2958 "Tab Completed text removed after sending a request"
1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Chrome App
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: No
 5. Did you encounter this recently, or has this bug always been there: I just installed it, not sure
 6. Expected behaviour: Should not remove 'tab completed' text in test after request is sent
 7. Console logs (http://blog.getpostman.com/2014/01/2

[2017-04-19 16:55] fdw commented on #2957
@numaanashraf: Thank you, this solves my problem! :)

[2017-04-19 17:30] numaanashraf commented on #2958
Hi @johnpurser could you post a screenshot showing the 'tab completed' text you are referring to?

[2017-04-19 17:31] numaanashraf commented on #2957
@fdw Glad to hear that. 😃

[2017-04-19 17:31] #2957 closed, assigned to nobody

[2017-04-19 19:01] gitfool commented on #2922
I have the exact same scenario - I need to replace / substitute variables to generate a custom Authorization header. This is my current workaround I use in the pre-request script:
[code]

[2017-04-19 19:12] nishantkyal commented on #285
+1

[2017-04-19 19:18] tsonev7 opened #2959 "Postman ignores the Cache-Control header"
I have web api which includes the Cache-Control header on GET

The postman response is
**Cache-Control →max-age=3600**
Content-Length →19
Content-Type →application/json; charset=utf-8
Date →Wed, 19 Apr 2017 19:12:42 GMT
Server →Microsoft-IIS/10.0
X-AspNet-Version →4.0.30319
X-Powered-By →ASP.NET
X-SourceFiles →=?UTF-8?B?RDpcdHNvbmV2XFByb2plY3RzXFdlYkFwaVRlc3QyXFdlYkFwaVRlc3QyXGFwaVx2YWx1ZXM=?=

I

[2017-04-19 19:32] gitfool opened #2960 "Simplify postman environment / global variable resolution"
Variables are fundamental to scripting, so even the slightest reduction in API overhead would be much appreciated. With that in mind, I should be able to resolve a variable regardless of its scope, given the simple assumption that environment variables override global variables.

Currently I have to check both, for example using `environment[varName] || globals[varName]`, when I should be able to

[2017-04-19 19:41] mattdeluco commented on #2922
@gitfool - the following is what I came up with.  I believe it should also work for nested substitutions, in fact it may be possible that it could get stuck in an infinite replacement loop with a clever env var.  I nabbed the regex from the Postman code itself, and in there I found that there's a limit of 19 replacement loops IIRC.

If you examine the regex you'll find it matches only the innermos

[2017-04-19 20:49] bdone commented on #2954
+1 for this. for saved requests within a collection, it would be nice to default to the last used tab (auth, headers, body, etc.), or add a preference to let users default to their own choice.

[2017-04-19 21:30] skyboyer commented on #2922
@mattdeluco
variable may be got from [data, environment, globals]
Somthing like:
[code]

@gitfool
`environment[varName] || globals[varName]` does not seem to be safe because variable may have valid value of empty string so postman and script given would have different results(I mean postman doesn't pick global variable if env variable is empty string)

[2017-04-19 21:47] mstaalesen opened #2961 "Feature request: List the versions of the javascript libraries that the sandbox has access to"
It would be really nice to have an option to display the version of the libraries that the sandbox is using. I'm aware that I can check https://www.getpostman.com/docs/sandbox to see what libraries are available. The problem with this right now, is that it does not show which version that is in use, and it will not show when you are updating the version of a library.

My request would be to have t

[2017-04-19 21:47] gitfool commented on #2922
@skyboyer That's intuitive to me since the environment variable is defined (as empty string) and so should override the global variable. Presumably you could "uncheck" the environment variable if you want to fallback to the global variable in that case.

[2017-04-19 21:57] skyboyer commented on #2922
@gitfool sorry, my point was not clear.
I just wanted to say `environment[varName] || globals[varName]` will use global variable(does not it?) if environment's one is empty string. And for postman's native variable substitution feature it works in different way(just like you've just described).

[2017-04-19 22:17] mstaalesen commented on #2944
Workaround while you wait: Add a number in front of your most used environments.

[2017-04-19 22:23] mstaalesen commented on #2905
+1!

Not sure if you know this though, but if you use ctrl + B to format the requests / tests etc. before you save them - this will reduce the problem with whitespaces in the diffs.

[2017-04-19 22:37] gitfool commented on #2922
@skyboyer You're right. All the more reason for Postman to supply the function! 😉

That said, if Postman implemented my suggestion in #2960, they should behave the same way.

[2017-04-20 02:15] lemtzas commented on #1854
Version 4.10.7 here. Same issue.

[2017-04-20 08:21] theManikJindal commented on #1470
@abhijitkane I face the same issue when importing a swagger with `securityDefinition` type `oauth2`. There is no Auth imported at all in any of my APIs even though the `security` object is present on each of them.

Should I log a separate issue?

[2017-04-20 08:24] barrycie opened #2962 "Programmatic access to Collection run status"
It would be useful if we had programmatic access to an object which can be queried to check on the status of a test collection?
My use case is that in the last test in a collection I would take a certain action (e.g. post to Slack) if the collection had any failures in general.
So Im making 20 requests with 4 tests in each - at the end I'd like to ping slack with a synopsis of failures if there we

[2017-04-20 10:30] IchordeDionysos commented on #739
I would like to have grant_type `service_account` :D

[2017-04-20 10:33] StBurcher commented on #2855
Hi
I'm facing the same problem with Version 4.10.7.

[2017-04-20 12:49] anton-arsentyev opened #2963 "[MacApp] [Bug] : Environment variables cleared after switching tabs"
1. Postman Version:  4.10.7
 2. App (Chrome app or Mac app): MacApp
 3. OS details: MacOs Sierra

Created new environment variables, didnt click "Update" button, switched tab to "Environment templates", switched back - variables disappear...

![screen shot 2017-04-20 at 14 43 35](https://cloud.githubusercontent.com/assets/22887126/25231371/f59d5bbc-25d7-11e7-8ae8-eadb337ce117.png)

[2017-04-20 12:53] numaanashraf commented on #2963
Thanks for reporting this @anton-arsentyev. We look into this and include a fix soon.

[2017-04-20 12:56] anton-arsentyev commented on #2963
@numaanashraf better fix this - https://github.com/postmanlabs/postman-app-support/issues/2545 ;) or this - https://github.com/postmanlabs/postman-app-support/issues/2895
Its much more important for me
Thanks

[2017-04-20 12:58] anton-arsentyev opened #2964 "[Feature]: Add closed issues to release notes on Github"
Please add closed issues to release notes on Github.
To understand what fixes/features comes.

Thanks!

[2017-04-20 13:33] staybfutrell opened #2965 "Feature request: Allow the URL text box height to be adjusted"
Postman for Chrome Version: 4.10.7 win / x86-32
Windows 10 Pro x64 build 10586.873
Interceptor is disabled

It would be nice to be able to resize the URL portion of the window to be able to see the entire URL without having to click on it.

Example:
https://example.com/api/products-detailed/?s=searchexact~nm~Custom%20Stringer%20NEMA%205-20%20Plug%20to%205-15%20Duplex%20Black%2F5-15%20Duplex%20Blac

[2017-04-20 13:40] #2952 closed, assigned to arpit0729

[2017-04-20 15:26] skyboyer commented on #2960
Note: #2832 is about slightly different thing but with the equal outcome: generic .getVariable would be more handful then separated getEnvironmentVariable/getGlobalVariable

[2017-04-20 17:44] johnpurser commented on #2958
![postman1-2017-04-20_12-31-08](https://cloud.githubusercontent.com/assets/8234611/25244630/2579a360-25c7-11e7-9a56-60a8da36403a.png)
![postman2-2017-04-20_12-31-08](https://cloud.githubusercontent.com/assets/8234611/25244629/25798f56-25c7-11e7-83c6-8a08730e1e54.png)

[2017-04-20 18:23] scottburnsmb opened #2966 "Right click does not work"
1. Postman Version: Version 4.10.7
 2. App (Chrome app or Mac app): Chrome
 3. OS details: Windows 10
 4. Is the Interceptor on and enabled in the app: On
 5. Did you encounter this recently, or has this bug always been there: Recently
 6. Expected behaviour: Can right click to set variables
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-04-21 00:08] rajaksanjay commented on #2859
Thank you . This is helpful

[2017-04-21 03:31] ghost opened #2967 "download url for a specific version is necessary !"
I wanna package Linux native app for postman, but I found it there is only an url avaliable - https://dl.pstmn.io/download/latest/linux64

This url always gives me the latest Linux native app, therefore I can not package it for my linux box.
You know, linux packaging system always need a version number.

[2017-04-21 05:48] strategist922 opened #2968 "Feature request: Code generate support R language (RCurl package or httr pachage)"
1. Postman Version: Postman v4.10.7
 2. App (Chrome app or Mac app): Windows APP
 3. OS details: Windows 7 / 10 64 Bit

could it possible to add R Language support in code generation function?
For example, could support generate code for R Language's RCurl or httr package.

[2017-04-21 06:28] seannguyen commented on #1374
Any update on this, as I am facing the exact issue on the Chrome `58.0.3029.81`, PostMan `4.10.7`, Interceptor `0.2.20`.

[2017-04-21 08:21] bhawna2109 commented on #448
@deyhle this feature is out in production now - can you recheck once and let us know if you're still facing the issue?

[2017-04-21 08:35] 70mmy opened #2969 "Runner data file is not loaded on retry"
When I run a collection and provide a data file, the first time running, the variables from the data file are loaded as expected, if I hit "Retry" the variables from the file are not loaded (the "data" variable is empty).

 1. Postman Version: 4.10.7
 2. App (Chrome app or Mac app): Mac app
 3. OS details: Mac os 10.12.4
 4. Is the Interceptor on and enabled in the app: -
 5. Did you encounter thi

[2017-04-21 09:20] deyhle commented on #448
@bhawna2109 it works, thank you! This issue can probably be closed.

[2017-04-21 09:29] #448 closed

[2017-04-21 09:30] numaanashraf commented on #2967
Hi @m31271n, which distro are you on? We are working on adding support for linux package managers.

[2017-04-21 09:31] ghost commented on #2967
@numaanashraf I am on Gentoo.

[2017-04-21 12:19] ghost commented on #2967
Current linuxXXXX.tar.gz is OK. Just need a version number, then we will have a package for Gentoo. ;)

[2017-04-21 13:48] ghost opened #2970 "Submitting NULL into POST body using IF statement fails to hit ELSE statement."
**1. Postman Version:**
Version 4.10.7
 **2. App (Chrome app or Mac app):**
58.0.3029.81 (64-bit)
 **3. OS details:**
win32 6.1.7601 / x64
 **4. Is the Interceptor on and enabled in the app:**
N/A
 **5. Did you encounter this recently, or has this bug always been there:**
Recent
 **6. Expected Outcome:**
POST Submission takes null value within variable name

**7. Abstract**
I'm having an absolute

[2017-04-21 14:13] GWJYonder commented on #907
Not sure if this is too late, since it looks like this issue is (hopefully) already past its 11th hour, but it would be great if we could re-order the folders and sub-folders manually. Right now the HTTP Requests can be dragged around at will, but the folders are locked alpha-numeric. We are currently prepending numbers to the folders to enforce our own ordering, but as you can imagine that makes

[2017-04-21 15:18] ghost commented on #2861
Hey,

Do we have any ETA on this, Its identical to the issue I'm having. However, I'm getting the same problem with both Chrome extension and windows installation

[2017-04-21 17:52] mathewdgardner commented on #2512
+1

[2017-04-21 21:19] rgangal commented on #1651
Thanks @a85 @abhijitkane . I was having the same issue and this post really helped :)

[2017-04-21 21:57] bmcminn commented on #2902
These shortcuts do work, however I noticed Postman doesn't listen for certain key events on the numpad.

Numpad events:
- <kbd>ctrl</kbd>+<kbd>-</kbd> to zoom out works
- <kbd>ctrl</kbd>+<kbd>+</kbd> to zoom in doesn't work
- <kbd>ctrl</kbd>+<kbd>0</kbd> to reset zoom doesn't work

Numrow events:
- <kbd>ctrl</kbd>+<kbd>-</kbd> to zoom out works
- <kbd>ctrl</kbd>+<kbd>+</kbd> to zoom in works
- <kb

[2017-04-21 23:13] czardoz commented on #2967
@m31271n, you can use this endpoint to fetch information about available versions, as well as a link to each one: https://dl.pstmn.io/changelog

[2017-04-21 23:23] ghost commented on #2967
@czardoz Thanks. That's what I want.

[2017-04-21 23:23] #2967 closed, assigned to nobody

[2017-04-22 23:39] cph2117 commented on #2920
I have 4.10.7, and am having this problem as well. It makes it almost unusable...

[2017-04-24 05:31] viebel commented on #872
I'm also interested in this feature

[2017-04-24 09:45] JamieFarrelly commented on #884
Over 2 years later and this still randomly happens.

[2017-04-24 10:00] numaanashraf commented on #884
We've found an issue that might cause interceptor to stop responding until its re-enabled. Working on a fix.

[2017-04-24 11:42] warrenc5 opened #2971 "add "none" body option with no content type for OPTIONS requests."
Create a OPTIONS request
Send the request and check the server header dumper.
Expect no body or content-type header.
Actually a content-type header of plain/text is received.

Recommend to add a 'none' option to the possible body tap radio options for body type, for OPTIONS requests.

form-data/x-www-form-urlencoded/raw/binary/none

If none is selected do NOT send content-type.

This may apply to

[2017-04-24 11:48] warrenc5 commented on #2971
related issue - https://github.com/postmanlabs/postman-app-support/issues/2630

[2017-04-24 15:04] Heloise-Chauvel opened #2972 "Postman doesn't deal with 80Mb file downloading (GET request)"
Overview:

The GET request works when I put it directly in the browser, but with Postman it hangs indefinitely and never download the file. I would like to use Postman for this in order to retrieve the responseTime of several files from several computers. I tried with 1Mb, 10Mb and 40Mb, it works. But for heavier files it doesn't.

Other weird behavior: when I try to send this GET request too many

[2017-04-24 16:24] ghost commented on #1429
+1

[2017-04-24 18:40] samlehman commented on #2550
+1 for mac too, 4.10.7

[2017-04-24 19:42] daviskoh commented on #1669
+1

[2017-04-24 20:12] jbeckton commented on #1180
The problem with $.getScript() is that it is async. Forget the shorthand method and use ajax directly so you can make it synchronous.

$.ajax({
    async: false,
    url: "jui/js/myscript.js",
    dataType: "script"
});

[2017-04-24 22:11] johnpurser commented on #2958
@numaanashraf

Screenshot added.  Please advise.

[2017-04-25 03:30] longxianlin opened #2973 "how to downgrade postman to old version？"
new version
style is terrible, and form is not good.
old version, form is best.

how to downgrade postman to old version?

 1. Postman Version:
 2. App (Chrome app or Mac app):
 3. OS details:
 4. Is the Interceptor on and enabled in the app:
 5. Did you encounter this recently, or has this bug always been there:
 6. Expected behaviour:
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabl

[2017-04-25 03:47] tbillington commented on #884
@JamieFarrelly  I enjoy getting notifications for this every now and again, makes me smile for some reason.

[2017-04-25 07:08] swateek opened #2974 "Slack - Postman Auth Login shows a blank page"
1. Postman Version: **4.10.7**
 2. App (Chrome app or Mac app): **Mac app**
 3. OS details: **Sierra**
 4. Is the Interceptor on and enabled in the app: **NO**
 5. Did you encounter this recently, or has this bug always been there: **Not Sure**
 6. Expected behaviour: **Postman should show an authorization page for Slack**
 7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-dev