[2018-07-25 06:28] prashantagarwal commented on #4781
Hey @jayakanth459 Can you try this out on canary and check if you are still able to reproduce this. You can download canary from https://www.getpostman.com/canary

[2018-07-25 06:51] jayakanth459 commented on #4781
Thanks. It worked for me now. What was the issue. Is this something different version?

[2018-07-25 06:54] prashantagarwal commented on #4781
Cool, good to know. I am not entirely sure but we fixed a lot of edge cases around mock, monitor and documentation creation. Also we have started releasing this on our stable Postman app in stages so soon this fix should be available there as well.

[2018-07-25 07:06] SamvelRaja commented on #4882
@fakhrulhilal  Possibly fix for this https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

[2018-07-25 07:13] Ashley-Clementi commented on #1535
+1

[2018-07-25 07:32] vkaegis commented on #4184
@govindrai Thanks for writing in! Seems like this could be a specific improvement just for shortcuts. However, we've kept this different from a toggle interaction to be able to allow customizable shortcuts in the near future. In general, we use Esc as a dismiss shortcut for any modal views. Closing this since we won't be implementing this specific solution, but we'll look at how to provide a more

[2018-07-25 07:32] #4184 closed, assigned to prashantagarwal, preethammavin

[2018-07-25 07:54] fakhrulhilal commented on #4882
Just tried it today, suddenly, it works now. I don't know exactly what's causing the bug.

[2018-07-25 09:31] kooliahmd commented on #3813
I want to send `Content-Type: application/json` , is there any documentation of `pm.sendRequest` method ?
I want to see the possible ways to use it.

[2018-07-25 10:42] vikalp commented on #2801
+1

[2018-07-25 10:43] numaanashraf commented on #3813
@Snake-Tn You can find the documentation at https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference#pmsendrequest.

[2018-07-25 11:08] blowsie opened #4883 "Postman wont open - error: "Could not find default workspace""
**Describe the bug**
Post man wont load, shows spinner
![image](https://user-images.githubusercontent.com/308572/43197322-bd778bea-9002-11e8-82a8-6558532b70f6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall Postman
2. Delete Postman folder in user/AppData/Local
3. Install Postman-win64-6.1.4-Setup
4. Open Shurctut generated by installer found on desktop

**Expected behavior**

[2018-07-25 11:40] sivcan commented on #4865
These values (file paths) are not saved/exported/synced intentionally because of security concerns.
As of now, you cannot use that in the runner.

Follow this issue for an update on file paths since it's related: https://github.com/postmanlabs/postman-app-support/issues/4320

You can dig more into [Newman](https://www.getpostman.com/docs/v6/postman/collection_runs/command_line_integration_with_new

[2018-07-25 11:40] #4865 closed, assigned to sivcan

[2018-07-25 11:43] SamvelRaja commented on #4882
Closing this for now :) Feel free to reopen this if issue appears again.

[2018-07-25 11:43] #4882 closed, assigned to SamvelRaja

[2018-07-25 11:50] mrsi commented on #3706
+1

This is a serious blocker for us. We won't be able to use postman enterprise for anything serious until this issue is addressed.

In postman/newman in general, client certs need the ability to be stored in environments, which would solve this problem. As postman is a chrome based app, I'm guess this may be a little tricky for your dev team, so for us at least, we would be fine with that being

[2018-07-25 11:51] qcastel commented on #3706
+1

[2018-07-25 11:53] bradparks commented on #2173
Insomnia supports callback, and is an opensource cross platform REST client:

https://github.com/getinsomnia/insomnia

[2018-07-25 11:54] bradparks commented on #1240
Insomnia supports callback, and is an opensource cross platform REST client:

https://github.com/getinsomnia/insomnia

[2018-07-25 11:54] bradparks commented on #283
Insomnia supports callback, and is an opensource cross platform REST client:

https://github.com/getinsomnia/insomnia

[2018-07-25 12:15] vkaegis commented on #2917
@ChubbyArse Just curious, have you tried modifying permissions on the collection? If you create a collection and allow only read access to it for your team, when they open it in a tab, it functions EXACTLY the way you mentioned.

![read only collection](https://user-images.githubusercontent.com/6038010/43200237-83d751e2-9032-11e8-8345-22058ca8038b.gif)

[2018-07-25 13:37] syan624 opened #4884 "[GET] How to get a request params as str[]"
Here my question:
![image](https://user-images.githubusercontent.com/41688238/43204162-c41fd09c-9052-11e8-82fe-36eeaad4e574.png)

I want to split params by "&",then sort by ASCII

[2018-07-25 13:46] makrada opened #4885 "Environmental Variables issue"
**Describe the bug**
A user creates two environmental variables where the second one includes the "_" symbol.

For instance, var1 and var1_2. In whichever API call the var1_2 is passed as an argument, it seems postman ignores the "_" in the request and instead passes the value of var1 to the call, hence the API response is not valid value. In my case is not valid token.

**To Reproduce**
Steps to

[2018-07-25 13:53] vkaegis commented on #4388
@brianbellon Could you tell me which version of the app you're using and on which OS? AFAIK, you should be able to right click on a request OR open it's context menu without selecting it / having it open in a tab.

@mr-newell Automatically deleting these tabs might cause unintended loss of data which we usually try to avoid. That said, I understand your use case. What we'll definitely be doing ove

[2018-07-25 14:00] vkaegis commented on #4869
@prashantagarwal @anudeepmedicharla We can fix the ellipses button to the right too.

[2018-07-25 14:04] vkaegis commented on #3939
@sixeyes We haven't yet explored a vertical arrangement for tabs yet, and we're pretty cautious about changing the main interface since a lot of our users have expressed concerns about the limited real estate. It's definitely a great idea though, and going forward we'll be looking at how users can customize the interface to their own needs.

For now, we're gonna be adding tooltips for all truncate

[2018-07-25 14:10] vkaegis commented on #4872
@fabb Thanks for writing in! Unfortunately, hiding the Request Attributes section might affect a lot of our users who rely on it for navigation. That said, we're working on a whole bunch of improvements around customizing the real estate within the tab, so in the coming versions, you should be able to collapse / hide the request or response sections as you please.

I'd love to hear more about how

[2018-07-25 14:20] aambekar91 opened #4886 "Not able to fire requests from US (East)"
Hi Team,

I have setup a monitor to run every morning on a collection. The monitor tests the requests from US (East) and US (West) region. I was able to see the requests from US (West) being run within a minute without any issue, however, I do not see any requests being made from the US (East) region. Can you please let me know if I'm missing something? I tried to change the monitor to test reques

[2018-07-25 14:26] fabb commented on #4872
I mostly use the irl field and the response window, apart from that tabs and environment are very important, headers only for some resources. I usually hide the Collection sidebar unless I need it.

[2018-07-25 14:47] KilgallonJ commented on #3845
+1

[2018-07-25 15:11] nsossonko commented on #3107
The original shortcut in the Postman folder may need updating as well. To do so, do the following:
1. Right-click on the shortcut and click "Properties"
2. Click "Change Icon..."
3. Click "Browse..." and go to "%LOCALAPPDATA%\Postman\"
4. Select "Update.exe"
5. The icon will now show, select it and click "OK"
6. If necessary, change the "Start in:" folder to "%LOCALAPPDATA%\Postman\"
7. Click "OK"

[2018-07-25 15:20] brianbellon commented on #4388
I am up to date with 6.1.4.  I see what you are referring to – but I don’t think that would be normal way of deleting something.  Normally you’ll have an open tab to show you what you’re deleting.
What’s broken is like I mentioned.  Clicking on a side item – having the tab show up on top – without a red edited dot.  Clicking to delete the side item and having it disappear – and the top item remain

[2018-07-25 18:07] abhijitkane opened #4887 "Creating a monitor from within the app sometimes results in it not being assigned to any workspace"
Not reproducible, app version 6.0.10

From a user:
I used the create monitor flow from inside the Postman app on a Mac. It was spinning setting up the monitor and it had a cancel button below it which I hit. We did this a couple of times and each time it resulted in a monitor, and I could delete all but one of them.

[2018-07-25 18:30] Postman-Gabriel commented on #4862
Hi @prashantagarwal, we figured out a "workaround", if you remove the  ~/.config/Postman/ file and restart, it apparently launches without error.

[2018-07-25 20:34] libasoles commented on #4262
Same here using Linux (latest Manjaro KDE).
5minutes and still seeing the splash with "Preparing your workspaces... This might take a few minutes".

I wonder why. I'm using it since 2 months already.

UPDATE: solution for Manjero/Arch linux is reinstalling using postman-bin instead.
https://github.com/postmanlabs/postman-app-support/issues/4374

[2018-07-25 21:09] chrisdeso opened #4888 "Feature Request – Surface documentation usage metrics"
**Is your feature request related to a problem? Please describe.**
Currently, it's not possible to know how/if published documentation is being used.

**Describe the solution you'd like**
Allow users/teams to pull metrics from published documentation.

**Describe alternatives you've considered**
An API would be wonderful 😄.

[2018-07-26 01:26] darrenshrwd opened #4889 "Roaming profile completely breaks postman (windows 7)"
**To Reproduce**
1. Have two laptops on the same network that share your roaming profile.
2. Try and install on one then the other (done cleanly as detailed below)

**Expected behavior**
The second laptop does not open the app from shortcut, when I ran it from the command prompt within the [user]\AppData\Local\Postman\app-6.1.4\ I got "Shared window not present".

**App information**
 - Native App

[2018-07-26 01:43] darrenshrwd commented on #4889
...I decided to completely shut down my old machine and try again on the new, it then got further, however had all the following issues on the chrome console:
![capture](https://user-images.githubusercontent.com/417178/43236551-0edc239e-90c9-11e8-8541-b819e2631cd2.PNG)

[2018-07-26 01:47] darrenshrwd commented on #4889
...I then started up the old machine and tried opening Postman on that (leaving other one open), did not open.

Then I shut down the new laptop...tried to open it on the old laptop, broken.

Exactly the same errors as above.

[2018-07-26 01:54] darrenshrwd commented on #4889
**Workaround:** If you are moving to a new laptop that will be connected to the same domain you will have to delete your roaming profile folder ([user]\AppData\Roaming\Postman\ ) from the network before using on another machine. (You can **NOT** successfully alternate between machines and keep your profile).

[2018-07-26 02:55] godfrzero commented on #4886
The US East region has the most load, so monitors in that region tend to take a bit longer to execute. I'm guessing that you monitor did *eventually* end up sending the request, but correct me if I'm wrong.

[2018-07-26 03:15] imtrobin commented on #2729
+1

[2018-07-26 03:33] dsatgithub55 commented on #3135
Any update on this issue please ?? @numaanashraf

[2018-07-26 03:45] AdamHeidfeld commented on #1607
+1

[2018-07-26 04:15] chitti-cc commented on #2638
@a85 @madebysid  is this issue got fixed? I am facing the same problem, let me know if there is a workaround.

[2018-07-26 06:00] jayakanth459 commented on #4781
Ok, I really appreciate your assistance. It helped us to choose postman for our automation testing with this suggestion. Thanks a lot for your time.

[2018-07-26 07:00] fayt81 commented on #3107
Thank you, @nsossonko! This solved the issue!

[2018-07-26 07:02] prashantagarwal commented on #4781
Thanks @jayakanth459 and stay tuned for whole new plethora of features in our future releases.

[2018-07-26 07:02] #4781 closed, assigned to prashantagarwal

[2018-07-26 07:47] numaanashraf opened #4890 "Sign In on Support Help Desk not working on Firefox"
**Describe the bug**
Sign In button on top right in help center (https://support.getpostman.com/hc/en-us/) not working on Firefox (v62 / MacOS). Works on Chrome.

**Screenshots**
<img width="1030" alt="screen shot 2018-07-26 at 1 14 42 pm" src="https://user-images.githubusercontent.com/3295568/43248642-21cdba8c-90d6-11e8-952d-7182436642c7.png">

[2018-07-26 07:58] vkaegis commented on #4872
@fabb Got it! As I mentioned earlier, we're working on a few improvements around this, so stay tuned for updates!

[2018-07-26 08:51] sankalp0o commented on #4888
@chrisdeso metrics like?

[2018-07-26 09:00] sankalp0o commented on #4869
This applies only if there are a lot of tabs, correct? If there is only one tab, the buttons should still come next to the last tab.

[2018-07-26 09:06] anudeepmedicharla commented on #4869
Oh yes. Similar to what chrome does.

On Thu, Jul 26, 2018 at 2:30 PM, Sankalp Agarwal <notifications@github.com>
wrote:

--
Thank you,
Anudeep. M.

[2018-07-26 09:15] Bakerstreetsoriginal commented on #4092
Facing this issue as well currently, oddly though, it's only for the first 5 calls in the runner that use a fresh auth token.

The token is valid, I've double checked it in in the request headers.

[2018-07-26 09:19] seancummins1 commented on #4092
If you save test case then run the test case it should error because of your variables in the body. If you then run the collection it should work for all requests.

[2018-07-26 10:25] zoso200 opened #4891 "{{$randomString}}, {{$randomGuid}} & extending {{$randomInt}}- dynamic variable feature request"
Hi,

Finding $randomInt very useful.

Would it be possible to add additional dynamic variables such as:

{{$randomIntLarge}} - 50 characters instead of 4

{{$randomGuid}} - creates a random 32 character GUID in standard format eg 11111111-1111-1111-111111111111

{{$randomString}} - creates a random string

[2018-07-26 11:04] ankit-m opened #4892 "Deleting a request with backspace shows an error"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
In a team workspace, on a collection for which I have edit permission, using backspace to delete a request shows an error saying you do not have permissions to delete the collection. Using the context menu to delete requests wor

[2018-07-26 11:53] deepakpathania-zz commented on #4229
Hey @galbarm, sorry for the delayed response. This has been fixed from our end.

Now, if you pass any collection body in a create endpoint, we take care of retracting all the ids for you so that you can use the response of `/get/{{colection_id}}` and chain it to a collection create without any additional efforts.

Can you please verify and let me know if it works for you? Thanks.

[2018-07-26 11:53] #4245 closed, assigned to ankitjaggi, deepakpathania-zz

[2018-07-26 11:54] deepakpathania-zz commented on #4305
Closing this due to inactivity, please feel free to reopen if the issue persists.

[2018-07-26 11:54] #4305 closed, assigned to ankitjaggi, deepakpathania-zz

[2018-07-26 12:03] galbarm commented on #4229
Still not working for some collections.
I have a collection that I'm performing GET on, then simply copying the response body to a POST collection request, but the response I get from the POST request is 400:

[code]

[2018-07-26 12:04] nathanawmk commented on #2672
the total run time is in which format? seconds or miliseconds?

[2018-07-26 12:07] Ramya-From-Postman opened #4893 "Folder level pre-request scripts not showing up unless you click on the body"
**Describe the bug**
If you have added any pre-request script for the folder in a collection, it will not show up when you edit the folder, You need to click on the editor/body to view the script placed in there.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit any folder which has the pre-request script saved init
2. Go to the Pre-rescript script tab & you notice it being blank

**Expec

[2018-07-26 12:20] prashantagarwal commented on #4893
Duplicate of #4755

[2018-07-26 12:20] #4893 closed, assigned to nobody

[2018-07-26 12:28] deepakpathania-zz commented on #4229
Hey @galbarm, do you mind sharing the collection body you're using to make the POST request, feel free to retract the sensitive data.

[2018-07-26 12:31] galbarm commented on #4229
Here it is:

`{
    "collection": {
        "info": {
            "_postman_id": "2eafddce-9bfb-4383-85de-0bfc5d31b5a3",
            "name": "Photos",
            "schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
        },
        "item": [
            {
                "_postman_id": "62b01cd5-962e-439c-a7ee-76fc14651e8e",
                "name": "Files Operations"

[2018-07-26 12:53] harryi3t opened #4894 "The tooltip for system generated headers blocks the header-value"
**Describe the bug**
The tooltip for system generated headers blocks the header-value

**Expected behavior**
The tooltip should not block the value

**Screenshots**
![postman](https://user-images.githubusercontent.com/5207331/43263439-e4f015f8-9100-11e8-80f6-59e4f9c3ae70.png)

[2018-07-26 13:21] cortopy opened #4895 "Security leak of Authorization bearer token in saved examples"
**Describe the bug**
If I publish a collection with examples in the endpoint, the Authorization header is included in full with the Example data.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with one request that requires Authorization with Bearer token
2. Make the request and save the response as an example
3. Publish docs with "No Environment" associated to it
4. Ope

[2018-07-26 13:24] aambekar91 commented on #4886
Hi Vivek,

The monitor did not send requests yesterday but when I tried it again this morning, it seemed to work fine. Thank you for your support. You may close this issue.

[2018-07-26 13:26] msreyad opened #4896 "import test run not worked"
**Describe the bug**
i try to import an already .json import test run, but i got an error pls check the file format

**To Reproduce**
1. go to runner
2. save any run result
3. remove it from the list
4. import the .json file again
5. i got an error

**Expected behavior**
test run imported

**App information (please complete the following information):**
 - Chrome App,
 - Postman Version  v6.2.1
 -

[2018-07-26 13:33] Goufalite commented on #4883
Look if the shortcut on the desktop points to the 6.1.4 version. But even launching the real exe (C:\Users\XXX\AppData\Local\Postman\app-6.1.4) the getShortcuts problem is still here

[2018-07-26 13:59] devstc commented on #4701
Installing the Canary version got me working again.  I clicked the link that @trogdor259 provided above.  Below are some of the errors I was getting.

I'm a new user, installed (v6.1.4) for the first time about 5 days ago, and everything was working fine.  Then started having problems for apparently no reason.  I believe an auto-update had been attempted and is when the problems started for me. Fo

[2018-07-26 14:13] steelerc commented on #4883
I am seeing the same issue.  I have downloaded the latest Canary, and it seems to work, whereas the 6.1.4 version does not.  There are two problems I'm seeing with the Canary though: 1) it doesnt seem to recognize the POSTMAN_DISABLE_GPU = true environment variable; and 2) it doesnt seem to see my history or collections from the real current postman.
![capture](https://user-images.githubuserconten

[2018-07-26 14:19] steelerc commented on #4883
Ignore #2 above I copied a bunch of directories from my PostMan into my Canary directory and have what is needed!

[2018-07-26 14:50] georgeholt commented on #4325
@harryi3t I don't think so because I've had this issue with Postman for ages. I have never been able to get one of these requests to work in Postman. You could be right, but then why are so many people having issues with this? Are there limitations or rules to using the raw json posting features that we aren't aware of?

I've created a test page using AJAX to post the request I'd like to make to m

[2018-07-26 14:54] raketenolli commented on #1719
Equally dysfunctional. I cannot scroll inside the response body using my mouse wheel (Windows 10, desktop app).

[2018-07-26 14:57] veetil09 commented on #3623
@prashantagarwal Verry sorry to reply late. I can update and see if the issue still persists.

[2018-07-26 15:41] tlair123 opened #4897 "Postman doesn't open - DB version is missing"
**Describe the bug**
Postman updated itself from 6.1.4 to 6.2.1 native app.  Now the screen opens, but the 3 dots circle endlessly.  I ran it from the command line and I got the attached error.  the heart of is is that "UpgradeError Dexie specification of currently installed DB version is missing"

[Postman Dexie error.docx](https://github.com/postmanlabs/postman-app-support/files/2232606/Postman.

[2018-07-26 15:59] ahmetgeymen commented on #1719
After two pane feature is brought, I began to use request view and response view side by side. Seems more effective.

[2018-07-26 16:19] davidschwab opened #4898 "Environment Variable "Bulk Edit" Option Missing"
**Describe the bug**
In the latest Postman GUI application, under manage environments, the "Bulk Edit" feature is no longer present.

**Expected behavior**
This feature was present in prior versions.

**App information (please complete the following information):**
 - App Type Native App
 - Postman Version 6.2.1
 - OS: macOS

[2018-07-26 16:32] mckennajones commented on #2672
@nathanawmk My vote would be milliseconds.

[2018-07-26 16:41] scottanthonymorin opened #4899 "Importing Collection loses unicode most Emojis"
**Describe the bug**
Emojis not  exported/imported consistently across instances of "Run in Postman"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.smooch.io/guide/postman-collection/
2. Click on 'Run in Postman'
3. Open the collection in the App
4. Go to **Message Types** folder
5. Find the `POST` for "Text Message with Emojis"
6. Look at the body of the call
7. Notice t

[2018-07-26 18:02] rberge commented on #2489
![screen shot 2018-07-26 at 10 54 06 am](https://user-images.githubusercontent.com/20893688/43279378-a1c54bd8-90c2-11e8-9900-cc4735f41e3f.png)
![screen shot 2018-07-26 at 10 53 48 am](https://user-images.githubusercontent.com/20893688/43279387-a77a4c90-90c2-11e8-8a40-ab0a6dc5f012.png)

I am unable to upgrade Postman.  I have followed the @JRpeq solution (see attached).  For Postman I am in an endl

[2018-07-26 19:36] charliensane opened #4900 "No memory allocation exception user feedback"
I couldn't find this in the issue reports.  Let me know if this is a duplicate.

**Describe the bug**
There is no process to handle allocation exceptions in the app initiation process.  The app just hangs on the "Preparing your workspaces screen" forever even though the node process itself has stopped doing anything.  If you run the process directly you see the following log output...

[code]

It

[2018-07-26 19:41] Coffee-Boyy commented on #3845
+1

[2018-07-26 19:43] D1rtyD commented on #4790
I am still having this issue with removing a user from my team.  Do you know when this will be fixed yet?

[2018-07-26 19:55] derdrdirk commented on #2363
same in Version 6.2.1

[2018-07-26 20:02] dnsbty opened #4901 "cURL code export doesn't escape brackets in the URL"
**Describe the bug**
When exporting a request to cURL in the "Generate Code Snippets" modal, if the URL has brackets in it, the request will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request with the URL:`http://mydomain.com/index?page[number]=1&page[size]=10`
2. Click on the `Code` button to pop up the `Generate Code Snippets` modal
3. Choose cURL from the dropdown

[2018-07-26 21:01] chrisdeso commented on #4790
@D1rtyD Would you reach out to help@getpostman.com with all of the relevant information so that we can get this sorted for you?

[2018-07-27 02:24] #4886 closed, assigned to godfrzero

[2018-07-27 03:13] TheCoderGuyVlad commented on #3888
Hi Postman team, could you please add an option to disable printing assertions to Dev Tools? Logging the assertions makes our Dev Tools output very illegible. All the effort we put into adding clear human-readable logging to our collections gets entirely wiped out by this.

Take for example this snippet (which is borderline unreadable, but representative of a typical use case)
`Assertion Skipping

[2018-07-27 03:28] llamafilm commented on #1710
@felixfbecker this workaround fails to import when I change the method to MKCOL.

[2018-07-27 05:24] deepakpathania-zz commented on #4229
Hey @galbarm, I was able to reproduce the issue on my end, thanks for sharing the collection. Will push out a fix soon and update here.

[2018-07-27 05:59] ash007-postman opened #4902 "APIMATIC integrations not showing"
![capture2](https://user-images.githubusercontent.com/41741228/43303907-810d9b48-918f-11e8-9aa5-3ab20de41003.PNG)
![image](https://user-images.githubusercontent.com/41741228/43303950-a9257fec-918f-11e8-8f5d-0ff650e64f2e.png)

 Made two integrations using Apimatic to push a collection to Github but cant see the integrations I just created in the workspace.When I try to recreate the integration I ge

[2018-07-27 06:01] sivcan commented on #4896
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3574

You can follow the above-mentioned thread for updates.

[2018-07-27 06:01] #4896 closed, assigned to nobody

[2018-07-27 06:19] ArnauNaval commented on #3171
+1

[2018-07-27 06:56] vkaegis commented on #4898
@davidschwab Thanks for writing in! This was an intentional change. Most of the functionality of Bulk Edit (drag to select, paste to replace etc.) is available in the tabular view itself.

That said, is there something we missed out? Do you feel there is something you cannot do in the tabular view itself?

[2018-07-27 06:57] wjans opened #4903 "Right click "Set: <Environment>" --> "<variable>" doesn't set the value in Postman 6.2.1"
**Describe the bug**
When right clicking to set variable from your currently selected environment, the value is not set anymore in Postman 6.2.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a simple request
2. Right click on any value in the reponse and choose "Set: \<Environment\>" --> "\<variable\>"
3. Check your environment variables afterwards and it will still contain your previo

[2018-07-27 07:03] ash007-postman opened #4904 "Issue with Re-ordering response in Pretty-view"
<img width="415" alt="screen shot 2018-06-21 at 11 02 23 1" src="https://user-images.githubusercontent.com/41741228/43306381-89ecad04-9198-11e8-9cbb-10b4fbce1ecd.png">
<img width="429" alt="screen shot 2018-06-21 at 11 02 28 1" src="https://user-images.githubusercontent.com/41741228/43306382-8a17be36-9198-11e8-923c-d9910a5512f3.png">

I'm on Mac OS X 12.12.6 and the version of Postman is 6.1.3.

W

[2018-07-27 07:13] kamalaknn commented on #4897
Hey @tlair123

I'm trying to reproduce this, but couldn't. I will need some more information to debug this.

1. Can you give us the logs from `View -> Developer -> Show DevTools (Shared)` and `Right Click -> Save As`? This would export all the logs for starting up. **Please redact any user related information**.
2. Can you execute the following script and send the logs for that?
[code]
This script

[2018-07-27 07:54] davidschwab commented on #4898
The bulk edit allows you to do just that: edit in bulk. You can easily copy (edit if needed) and paste everything in one shot. Trying to do the same in the grid format is painstakingly slow in comparison. This is a step backwards, please bring the bulk edit feature back.

[2018-07-27 08:00] a85 commented on #4898
@davidschwab I understand that but we'd like to map bulk editing flows to the editor. You should be able to multi-select as well as add in bulk through the data editor.

The raw text format has become an ad-hoc data format with people reporting bugs on how the raw editor is unable to convert to proper header values and how whatever they are pasting does not get automatically converted to proper va

[2018-07-27 08:04] tdcbm commented on #4361
Same issue here in version 6.1.4 and canary also happen too

[2018-07-27 08:56] ssjena commented on #4642
Hi All,
          My postman version 6.1.4 is not opening after upgrade. can someone help . Below screen is coming.
![42961833-d729b468-8b44-11e8-813e-062e014fa929](https://user-images.githubusercontent.com/41780565/43311773-9769aa8e-918b-11e8-9c91-5e95a19eea60.png)

[2018-07-27 08:59] SamvelRaja commented on #4642
@ssjena @gabriel-bronfman-postman  Could you open the app via `cmd`  from `C:\users\[USER]\AppData\Postman\app-6.1.4\Postman.exe`

[2018-07-27 09:06] harryi3t commented on #4885
@makrada Thanks for reporting the issue.
I tried reproducing this on my end but was unable to do so.
For me, the variable `var1_2` was being used even though `var1` was defined. Please see the attached screenshot
![postman](https://user-images.githubusercontent.com/5207331/43312196-2dd2fc5a-91aa-11e8-88d2-5f3eac60e425.png)

Am I missing something? If you are able to reproduce this, could you send

[2018-07-27 09:09] ssjena commented on #4642
Hi @SamvelRaja ,

                             I have tried from CMD as well but its all same. Do you have any solution to this issue.

[2018-07-27 09:12] SamvelRaja commented on #4883
@blowsie  @Goufalite  Could you open the app via cmd `C:\users\[USER]\AppData\Postman\app-6.1.4\Postman.exe` Which gives more logs on whats going wrong behind the scene.

Also.
@steelerc  We won't recommend moving the files into app data will work. If you are already a logged in user then your data would be available in our servers which you can log in back and get it.

I also recommend you to ope

[2018-07-27 09:19] SamvelRaja commented on #4642
@ssjena  Can you show the logs generated in cmd when you open the app.

[2018-07-27 09:21] ssjena commented on #4642
i got it resolved now . I have deleted all postman stuff from local,roaming folder in C drive and reinstalled it and worked.

Thanks

[2018-07-27 10:02] musanas commented on #2694
+1 for this

[2018-07-27 10:25] gee-forr commented on #4628
It's finally fixed in 6.2.1. Thanks @thecuriousdev. I'm irrationally happy about this :)

[2018-07-27 11:58] Ramya-From-Postman opened #4905 "Feature requests pertaining to API documentations ( Try it, search functionality & to be able to create standalone pages)"
1) ability to create extra standalone pages using simple document editors that including things like code samples here is a good example from lyft (https://developer.lyft.com/docs), they use readme.io for this whole page.

2) Try it functionality is nice to have

3) Search functionality across all pages and endpoints, here is another example from readme.io that is well managed: https://dev.clever.

[2018-07-27 12:09] Goufalite commented on #4883
Very interesting !! Here's the console output for 6.1.4
[code]
FYI, I installed the canary version since it fixes the problem

[2018-07-27 12:21] SamvelRaja commented on #4883
@Goufalite  Have you opened the 6.2.1 and went back to 6.1.4? We pushed 6.2.1 to part of the users.
And going back from the version is not possible. Since we made a change in the underlying indexeddb version.

[2018-07-27 12:49] sivcan commented on #4884
@syan624
You can filter out the variables like so:
[code]
Output of the above code:
[code]

To sort them:
[code]
Read more about sorting an array of objects in javascript here:
https://stackoverflow.com/questions/1129216/sort-array-of-objects-by-string-property-value-in-javascript

Hope this helps :)
Also, you can reach out to the postman community https://community.getpostman.com/latest
for how-t

[2018-07-27 12:49] #4884 closed, assigned to nobody

[2018-07-27 12:54] sunilsamantra commented on #4631
@a85 Awesome feature to have in terms of usability and automation perspective.Thanks for working on this. Any tentative timeline for this to be rolled out? Waiting to use this feature for my project.

[2018-07-27 13:16] machinefriendly opened #4906 "Request new feature: return response body content in monitoring API"
Hi,

I'm using postman monitoring API, and it works. Meanwhile, I need to note each time's response detail, given actual API only give body contentLength instead of exact response content.
![](https://cl.ly/3L0b2L0h1W35/[0477d5d96add9b4c956dce4149dec10d]_Image%202018-07-27%20at%203.13.34%20PM.png)
Is this a feature could be added? or there is a workaround/solution which I miss to get what I want?

[2018-07-27 13:52] aambekar91 opened #4907 "Monitor not able to replace environment variable before sending request"
I added a new environment variable {{api_version}} and its value is shown as below:

![screen shot 2018-07-27 at 8 44 31 am](https://user-images.githubusercontent.com/39306378/43324290-629f0f04-9179-11e8-927c-cfabc73a8551.png)

This value gets replaced at run-time when I use the "Runner" to run all requests. However, the "Monitor" is not able to replace the same variable which results in bad reque

[2018-07-27 14:21] Ramya-From-Postman opened #4908 "Long intergers are truncated (converts to a floating point notation) without any warning"
**Describe the bug**
While testing API, if the response of the API call contains a long integer, it is getting converted into a floating point notation in pretty view but the same works in raw view.

**Steps to reproduce the behavior:**
Call an API that gives you a long integer in the response or create a mock server with a long integer in the response body - you will notice a number being convert

[2018-07-27 16:31] sevencardz opened #4909 "Set global variable does not work at the folder level"
Setting a global variable is not working at the folder level.

**Steps to Reproduce:**
Create a folder within a collection and give it the following test, then run it:
[code]
The global variable should be set to 'SUCCESS', but on subsequent tests the initial value remains unchanged. Checking the value from within the Manage Environments pane also shows the value is unchanged. This is despite the v

[2018-07-27 18:42] bhargavkaranam commented on #4903
Hi @wjans,
Thank you for reporting this. We've fixed this in our canary app. You can download it from https://getpostman.com/canary

[2018-07-27 21:25] vwxyzjn commented on #2541
Is there any progress on this by any chance? Having to commit with thousands of lines of `_postman_id` changed every time we export the collection is not fun...

[2018-07-27 21:33] pbhughes commented on #3706
+1 this is essential for as well.  We have a machine to machine offering and we issue certs to vendors, so this is a must for us

[2018-07-27 23:41] dhcmega commented on #3255
Same for me, all api calls giving ETIMEDOUT. Thanks.

EDIT: solved by changing timeout from 12 (?) to 100000

[2018-07-28 03:28] godfrzero commented on #4820
Update: We've applied a fix and repeated runs/notifications should no longer be occurring.

@bbartoni Could you confirm?

[2018-07-28 03:53] harryi3t commented on #4892
@ankit-m This is fixed on our [canary build](https://www.getpostman.com/canary) and will be available on the production build in the next release.

[2018-07-28 03:56] harryi3t commented on #4903
@wjans This is fixed on our canary build which you can download from https://www.getpostman.com/canary
This should be available on the production build in the next release.

[2018-07-28 04:05] abhijitkane opened #4910 "The 'Clear All' button in History doesn't explicitly say that all history (not just the filtered, visible results) will be deleted"
If you're looking at a filtered history in the app, the 'Clear All' link could be interpreted to mean 'delete all the history items that are currently visible. The modal window (attached)
<img width="494" alt="screen shot 2018-07-28 at 09 32 48" src="https://user-images.githubusercontent.com/681190/43352923-8b0b1cfa-9249-11e8-9601-a3dcc10c4987.png">
isn't too clear either. But proceeding with this

[2018-07-28 04:23] harryi3t commented on #4909
@sevencardz Thanks for reporting the issue.
I tried reproducing on my end but was unable to do so.
Here's what I have tried:

### I am setting a global var from a folder pre-request script
![image](https://user-images.githubusercontent.com/5207331/43353034-afcd353a-924b-11e8-89e7-f7d02f318721.png)

### I am setting a global var from a folder test script
![image](https://user-images.githubuserconte

[2018-07-28 04:35] harryi3t commented on #4908
@Ramyasri1212 Thanks for reporting this issue.
The specification for JSON in [rfc 7159](https://tools.ietf.org/html/rfc7159#section-6) says:

   decimal digits.  It contains an integer component that may be
   prefixed with an optional minus sign, which **may be followed by a
   fraction part and/or an exponent part.**

So having an exponenet part is valid.

Also, it talks about the largest number

[2018-07-28 04:44] harryi3t commented on #4907
Hi @aambekar91,
Can you make sure the monitor was created with the same environment as the one which is selected in the App?
To check this, go the monitor page and click on `...` and then click on
<img src="https://user-images.githubusercontent.com/5207331/43353168-e014829a-924e-11e8-8d29-20976c14e62b.png" height="200px"/>

![image](https://user-images.githubusercontent.com/5207331/43353164-d85353

[2018-07-28 04:52] harryi3t commented on #3733
Closing this due to inactivity. Feel free to re-open the issue with the details if you still face the issue.

[2018-07-28 04:52] #3733 closed, assigned to harryi3t

[2018-07-28 06:51] wjans commented on #4903
Thanks @bhargavkaranam / @harryi3t , just tested it in the canary build and it works just fine.

[2018-07-28 06:51] #4903 closed, assigned to bhargavkaranam

[2018-07-28 08:00] vr00 commented on #4909
Same/similar problem here. I open saved request (2 folders deep in a Collection), click Send. Then in response body which is JSON (pretty) I select one string value (JWT access token) > right click > Set {Environment Name} > {Variable}.

Expected result:
Variable is saved

Actual result:
Nothing happens

Postman version 6.2.2, didn't notice that behavior before. Also, the sync icon flashes at that

[2018-07-28 08:13] prashantagarwal commented on #3613
@kbuzby This is fixed in our latest Postman app release.

[2018-07-28 08:13] #3613 closed, assigned to bhargavkaranam

[2018-07-28 08:15] prashantagarwal commented on #3862
@skumar45 This is fixed in our latest version of Postman app.

[2018-07-28 08:15] #3862 closed, assigned to bhargavkaranam

[2018-07-28 08:18] prashantagarwal commented on #4174
@govindrai This is fixed in our latest version of Postman app.

[2018-07-28 08:18] #4174 closed, assigned to bhargavkaranam

[2018-07-28 08:24] #4541 closed, assigned to prashantagarwal, vkaegis

[2018-07-28 08:25] prashantagarwal commented on #4570
@justmobilize variable sessions are now available on Postman app.

[2018-07-28 08:25] #4570 closed, assigned to a85

[2018-07-28 08:26] #4583 closed, assigned to sivcan

[2018-07-28 08:26] #4589 closed, assigned to prashantagarwal

[2018-07-28 08:27] #4696 closed, assigned to prashantagarwal, sujayvenaik

[2018-07-28 08:27] prashantagarwal commented on #4853
@VLbrezee We added this in our latest Postman app release.

[2018-07-28 08:27] #4853 closed, assigned to prashantagarwal, vkaegis

[2018-07-28 08:28] #4822 closed, assigned to sivcan

[2018-07-28 08:29] prashantagarwal commented on #4778
@viczem Can you update the Postman app to the latest version an verify if this is fixed for you.

[2018-07-28 08:30] prashantagarwal commented on #4725
@neerajdwiv This is fixed in our latest Postman app.

[2018-07-28 08:30] #4725 closed, assigned to sivcan

[2018-07-28 08:31] prashantagarwal commented on #4654
This is fixed in our latest Postman app.

[2018-07-28 08:31] #4654 closed, assigned to dhineshwiz

[2018-07-28 08:31] #4607 closed, assigned to nobody

[2018-07-28 08:35] kamalaknn commented on #3888
Hye @TheCoderGuyVlad

I can understand the global `tests` object is not very configurable. For that very reason we have introduced a newer API for writing tests in Postman - the `pm.*` API. Here's a full documentation of the API - https://www.getpostman.com/docs/v6/postman/scripts/postman_sandbox_api_reference

The newer API allows better control over messaging, skipping and much more. I hope that

[2018-07-28 08:35] #3888 closed, assigned to SamvelRaja

[2018-07-28 08:39] kamalaknn commented on #3888
I've closed this issue because the original issue reported with the count mismatch has been fixed.

You can continue any discussion on our [community forum](https://community.getpostman.com/) for better solutions from our user community.

If the new `pm.*` APIs are insufficient please create a new feature request issue so we can better track it.

[2018-07-28 12:39] merihsakarya commented on #2847
+1

[2018-07-28 14:10] aviweiss commented on #4636
I too have made this same request. Each collection ideally would have its own authentication configuration, since many clearly use collections as logical grouping of commands for a given system/api/service etc.

Additionally, it would be nice to have templatable “sprints” auto-key key names for each collections: so for dev box: “dev -%t” would generate the key name “dev 10:03” and “live - %d %t” w

[2018-07-28 14:15] aviweiss opened #4911 "Token manager feature request"
The “use key” does not properly set the key to be used. It must also be selected and visible in key window.

It would be nice to have templatable “sprintf” auto-key key names for each collections: so for dev box: “dev: %t” would generate the key name “dev: 10:03” and “live: %d %t” would create “live: 2018-07-25 13:14”. This would help in knowing which key is current, though ideally would be nice t

[2018-07-28 14:44] aambekar91 commented on #4907
Hi @harryi3t,

Yes, I've made sure that the right environment is selected. I also made sure that the variable not getting substituted (api_version) is declared in that environment.

[2018-07-28 16:30] bbartoni commented on #4820
I can confirm that the issue has been resolved. I'll keep an eye if I see some other issue. Thanks for your help.

[2018-07-28 16:42] abhijitkane opened #4912 "Private documentation does not show inherited auth"
My request has auth set to "inherit auth for parent". The parent collection has auth info saved, but viewing the documentation doesn't show any auth for the request or collection.

[2018-07-28 17:41] xhalo32 opened #4913 "Window turns black in i3-wm"
**Describe the bug**
The window except for the menu bar turns black

**To Reproduce**
1. Open postman
2. Click on `Pre-request Script` (or any other "tab" except for Authorization)
3. Move your mouse to another i3 workspace
4. Move your mouse back to postman

**Expected behavior**
I expect for the window to not turn completely black

**Screenshots**
- Opened postman
![image](https://user-images.gi

[2018-07-28 19:59] TheCoderGuyVlad commented on #3888
The new pm.* apis look promising, Thank you!

[2018-07-28 23:36] thecb4 commented on #3390
As someone new to Swagger/OAS and attempting to use current tooling, I would like to have Postman support OAS 3. Otherwise, Postman is not an option for me.

[2018-07-29 02:20] sbryden-mbo commented on #1475
+1

[2018-07-29 03:01] sevencardz commented on #4909
@harryi3t Thank you for your help with this. Now things get really interesting. :)

I have included two functionally identical collections. Collection 1 exhibits the _undesired_ behavior (the global variable value does NOT persist). However, collection 2 works _correctly_ and the value does indeed persist. The only difference between these two collections is that I did not add any test scripts to

[2018-07-29 04:23] vkaegis commented on #4388
@brianbellon Thanks again for taking the time to explain this! Your point about showing the red dot for edited tabs of requests which might have been deleted is great. As I mentioned, we're working on a whole bunch of improvements on how we handle tab states that should be out in the coming versions. I'll keep this open until your use case is solved.

[2018-07-29 08:05] sivcan commented on #4786
This has been fixed in the latest version of the Postman App (v6.2).

[2018-07-29 08:05] #4786 closed, assigned to sivcan

[2018-07-29 08:28] sujayvenaik commented on #3920
@tanwangzugata @tonyzheng1990
Its already fixed.

Closing this issue for now, reopen if you face any other issues related to this.

You can get the postman app from : https://www.getpostman.com/apps

[2018-07-29 08:28] #3920 closed, assigned to sujayvenaik

[2018-07-29 11:37] michaelmpschubert commented on #4635
Same issue for me with Postman Postman-win64-6.2.2 on Windows 10 Pro.
Running the app with Windows 8 Compatibility under Win 10 Pro 64 Bit helped for me.

[2018-07-29 13:24] guy-klebanov commented on #3251
same issue, any update ?

[2018-07-29 13:26] kamalaknn commented on #3251
This has been fixed in the library we use for sending requests - `postman-runtime`. We'll push the fix on our stable channels soon.

[2018-07-29 13:29] guy-klebanov commented on #3251
can u pls share an assessment when it will be released (i.e. soon means ?) ?

[2018-07-29 13:51] SeinopSys commented on #2707
I have a Hungarian keyboard as well and this is making entering e-mail addresses into requests a major pain. I hope this gets fixed soon.

[2018-07-29 14:24] Goufalite commented on #4883
Here's the cinematic :

- I opened 6.1.3 => worked and update available shown
- Postman done some things and showed the workspace
- I closed Postman
- I opened 6.1.4 => stuck on loading screen
At this point I didn't want to clear data because I thought it would loose my work, but I didn't knew it was automatically synced
- I downloaded and lauched canary => worked

I succeeded in retrieving my dat

[2018-07-29 17:06] DmitrySkibitsky opened #4914 "Dark screen during use"
**Describe the bug**
After opening the application and some time of work, a dark screen appears. Some patterns are not found

**Screenshots**
![deepinscreenshot_select-area_20180729194918](https://user-images.githubusercontent.com/20288556/43368653-4a01ab22-9369-11e8-9e7d-35332dcdfc06.png)

**App information (please complete the following information):**
 - App Type Chrome App
 - Postman Version 6

[2018-07-30 01:11] vermavikrant commented on #2392
+1

[2018-07-30 04:57] Muralinie opened #4915 "Integrating Postman Tests in GitLab"
## App Details:
Postman helps you develop APIs faster
Postman for Windows
Version 6.1.4
win32 6.1.7601 / x64
[code]

[2018-07-30 05:00] SauceCode84 commented on #4703
@DewaldDeJager
I'm having the same issue, also on Manjaro. Have you found any sort of solution or perhaps a workaround?

[2018-07-30 06:44] abhijitkane opened #4916 "Emails in the account switcher screen overflow the central white section"
See the attached screenshot.

![screen shot 2018-07-30 at 12 10 53](https://user-images.githubusercontent.com/681190/43381361-0c59f570-93f2-11e8-8148-157f2acad51b.png)

[2018-07-30 07:05] godfrzero opened #4917 "Long collection names deform selector in 'Add to workspace' modal"
**Describe the bug**
The input checkbox in the 'Add to workspace' modal deforms into a rectangle if the collection name is too long.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman app
2. Select any workspace, switch to the Build view
3. Create a new collection with a really long name, For example: `A collection with a really long name really long name really long name reall

[2018-07-30 07:17] anudeepmedicharla commented on #4875
Thanks for the suggestion @JayathmaChathurangani. We're already tracking this feature here:
https://github.com/postmanlabs/postman-app-support/issues/2282

Closing this issue as a duplicate.

[2018-07-30 07:18] #4875 closed, assigned to a85, numaanashraf

[2018-07-30 07:21] manendra-impactqa commented on #4679
After disbable POSTMAN_DISABLE_GPU = true; its working. Thanks

[2018-07-30 07:32] anudeepmedicharla commented on #2282
@a85 We could do this along with the breakup of network timings. What are your thoughts?

[2018-07-30 07:43] blowsie commented on #4883
@SamvelRaja  as requested

[code]

[2018-07-30 07:48] NizMech opened #4918 "Unable to import a collection"
Importing files via the IMPORT-function fails

**To Reproduce**
Steps to reproduce the behavior:
1. Click the import button
2. Select the data file (file .json)
3. Open file
4. Error

**Expected behavior**
The file should be imported.

**App information (please complete the following information):**
 - App Type :Chrome App
 - Postman-win64-6.1.4
 - Windows 7

![1](https://user-images.githubusercon

[2018-07-30 07:51] vkaegis commented on #4895
@cortopy We couldn't replicate this on our end. If you've used the Authorization Helper for Bearer Token provided in the Authorization tab of the request, a header should be added to your request. This particular header is never saved with the request or example. However, if you add an authorization header manually in the Headers tab, we treat it as a normal header and it will be saved with the re

[2018-07-30 08:17] Ettery commented on #1819
I have also had this problem with the native app v.6.2.2.  Reboot didn't help I had to export my collections, uninstall, delete the app folder and re-install.  Back to normal.  Problem seemed to be triggered by a Postman update I installed.

[2018-07-30 08:17] Ettery commented on #2559
I have also had this problem with the native app v.6.2.2.  Reboot didn't help I had to export my collections, uninstall, delete the app folder and re-install.  Back to normal.  Problem seemed to be triggered by a Postman update I installed.

[2018-07-30 08:31] harryi3t commented on #4909
@sevencardz @vr00 Thank you, using your feedback I was able to pinpoint the issue.
This bug affects the collections having scripts at multiple levels (collection, folder & request level).
So if you have a collection which has both folder scripts and request scripts, only the modifications made by request script are persisted.
If a collection only has folder scripts or only collection scripts then

[2018-07-30 08:41] ash007-postman opened #4919 "Postman App Performance Lag"
I'm using the desktop native app on a Windows 10 machine. I've closed all tabs within the collection and rebooted my machine. I'm authoring in form-data fields specifically in the Body section of a POST request of the collection and noticing a very long lag (~10-20 seconds) from keystroke to the character appearing in the text box. My requests are at 176 in that one collection so I understand I ma

[2018-07-30 08:42] cortopy commented on #4895
@vkaegis I used the Authorization Helper. In my case the header wasn't showing in the runner itself or the saved requests. However, in the file itself (as I got it from the browser) the examples do have the Authorization headers with the resolved values

[2018-07-30 09:14] jperucello commented on #4850
@prashantagarwal , I was able to do the video:
https://drive.google.com/file/d/1wV5b3_lt45ZMU8sIFrwa5JuUdoIizFC1/view?usp=sharing

So I send multiple requests that I trigger through Ctrl+Enter, and when I have the tab already opened, after the request is sent, I click and try to type on the box but the focus is kept on the response block.
After I change tabs then my focus change and I can again ty

[2018-07-30 09:15] Kraakj commented on #4320
Hi Guys, any update or Eta when this feature will be implemented?

[2018-07-30 09:31] dyre commented on #2082
still an issue. glad to see it has been added to the roadmap... only 2 years after the first report

[2018-07-30 09:34] #4918 closed, assigned to thecuriousdev

[2018-07-30 09:35] NizMech commented on #4918
It's working now!

[2018-07-30 09:36] SeanCondon commented on #6682
+1

[2018-07-30 10:09] numaanashraf commented on #4915
@Muralinie yes. Looks like few of our users has had success with running newman in GitLab's CI.
https://github.com/polarbase/docker-newman
https://github.com/wojciech-zurek/newman-ci

[2018-07-30 10:25] elliotblackburn commented on #824
Looks like this solves the top issue, it allows a synced "initial value" and then a "current value" which is never synced which can be used for passwords and keys if needed. I think this can probably be closed now.

[2018-07-30 10:56] sankalp0o commented on #166
Hello everyone!
I know this is long past due we're working towards supporting custom methods in Postman. The way we're thinking of doing this by (as someone here suggested) making the method selector accept custom input and save it for reuse.

![method list - option 2](https://user-images.githubusercontent.com/7601762/43393379-7b1361aa-9414-11e8-8133-a241f9bf53f3.png)

[2018-07-30 11:05] sankalp0o commented on #1710
Rather then supporting WebDAV specific methods, we're working towards allowing users to send and save custom methods in Postman. It's been late in coming but hopefully this will solve a bunch of use cases different people have.

![method list - option 2](https://user-images.githubusercontent.com/7601762/43393889-522150ac-9416-11e8-968b-6e83664fac6a.png)

[2018-07-30 11:12] jmaciasluque commented on #208
I also would like to add my support. My companies product has SOAP and REST services next to each other. It's way nicer to be able to use one tool to maintain requests for all of them.

[2018-07-30 11:25] sankalp0o commented on #2729
We're working towards making body/no body as a request level configuration rather than depending on the method. This will enable GET methods to have a body.

This is what it might look like:
![get with body](https://user-images.githubusercontent.com/7601762/43394439-62518314-9418-11e8-859a-9c60184904fd.png)

One question that arises here is should we discard the body data when someone toggles this

[2018-07-30 11:36] steelerc commented on #4883
My screen print above was from the cmd version of the program with the developer window open to see what errors are occurring.

[2018-07-30 13:13] aambekar91 commented on #4907
Hi @harryi3t,

It seems that the monitor has picked up the changes for the variable and is now working as expected. You may close this issue. Thank you.

[2018-07-30 13:14] #4907 closed, assigned to harryi3t

[2018-07-30 14:00] dbalthassat opened #4920 "Cannot save request - user not part of workspace"
**Describe the bug**
After having create or update a request, I can not save it.

**To Reproduce**
1. Open the window to create a new request or to update an existing one.
2. Change something in the window (the request URL for example).
3. Click on 'Save' (or Ctrl+S).
4. If it is a new request, the 'Save request' window opens. Then select a collection and click on 'Save to <collection name>'.

**E

[2018-07-30 14:12] Gustana opened #4921 "Missing icon app"
Describe the bug
After i open postman, the icon on the taskbar is missing, its like '.txt' icon

To Reproduce
Steps to reproduce the behavior:
1. Open postman app
2. See the icon of postman app

Expected behavior
The icon on the task bar shouldn't like '.txt' icon

Screenshots
![screenshot_1](https://user-images.githubusercontent.com/23212456/43402480-686a6888-9445-11e8-9eee-0550ad8ba1fc.png)

App

[2018-07-30 14:52] nicolasdalsass commented on #4897
Hi !  I got the exact same problem, so I'll allow myself to answer :

1.

﻿

In image (non searchable, but readable), form :
![image](https://user-images.githubusercontent.com/1837582/43404802-aca89ce0-9418-11e8-9c10-ab4958677745.png)

2.

Ran the command :

(function () { console.log('Update status', localStorage.getItem('dbInitContext')); var request = indexedDB.open('postman-app'); request.oner

[2018-07-30 14:55] tlair123 commented on #4897
Thanks!

Tom Lair
Senior Business Systems Analyst, Buyer Management
708-492-7918

Insurance Auto Auctions  IAAI.COM
Two Westbrook Corporate Center, Suite 500
Westchester, IL 60154

From: Nicolas Dalsass <notifications@github.com>
Sent: Monday, July 30, 2018 9:53 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Lair, Thomas <TLair@IAAI.com>; Mention <mention@norep

[2018-07-30 15:56] Sugavanas commented on #2282
This would be useful same as #156 when you are building an API that will be accessed by your own mobile apps.

[2018-07-30 16:10] and0x000 commented on #3390
You can try to convert your openapi 3 spec via [api-spec-converter](https://github.com/LucyBot-Inc/api-spec-converter) to swagger 2 which then in turn is accepted by postman. Needs some more tooling, native support of openapi 3 spec would obviously be the neater choice, but it works for me.

[2018-07-30 16:13] kibertoad commented on #3390
@and0x000 While there is a number of possible workarounds, it is somewhat troubling that a product with commercial support hasn't issued any official statement regarding plans to support OpenAPI 3.0.

[2018-07-30 16:17] jrsiegs opened #4922 "Skipping requests in pre-script and reporting skipped tests"
There have been many requests for there to be an option to skip a request by putting something in the pre-request scripts. If this does get implemented, it would be very helpful to have a graphic next to the "passed" and "failed" graphics in the test runner that shows how many tests were skipped. It would also be great to have this detail in Newman in the chart that is shown after every run.

## A

[2018-07-30 16:34] ctruzzi commented on #4871
This seems like a defect, it was working in prior versions as it has broken all my snippets.

[2018-07-30 16:47] harryi3t commented on #4909
@sevencardz @vr00 We have released the fix in our canary build which you can download from https://www.getpostman.com/canary

Please could you verify the fix?
Also, the same will be available in the next stable version of Postman

[2018-07-30 16:48] a85 commented on #4909
@harryi3t Can we write a short post-mortem here about the bug i.e. why this happened?

[2018-07-30 17:01] RobertAKARobin commented on #1180
+1 on this. JS embedded in JSON is super lame, and has me looking at alternatives.

[2018-07-30 17:15] vr00 commented on #4909
@harryi3t Tested canary release, works as expected. Good job on that one 👍

Thanks

[2018-07-30 17:54] wreddin opened #4923 "Can no longer set environment variables by right clicking on highlighted text"
With v6.2.2, I am no longer able to set variables by using the Right Click + Set:  option.  This now results in the initial value being cleared and the current value remains unchanged.

Here are my environment values before SET
![environment values before set](https://user-images.githubusercontent.com/25037380/43414096-caa7978c-93ff-11e8-9fd2-7f0e7c460e8f.PNG)

Right click > SET
![set environment

[2018-07-30 17:57] prashantagarwal commented on #4923
@wreddin We have released the fix for this on our canary app and will soon be releasing it on our stable apps. By the time you can download canary from https://www.getpostman.com/canary

[2018-07-30 18:03] #4628 closed, assigned to vkaegis

[2018-07-30 18:12] wreddin commented on #4923
I've tried it on the canary build and I have confirmed that it correctly sets the Current Value.  Thanks!

[2018-07-30 18:12] #4923 closed, assigned to nobody

[2018-07-30 18:48] Postman-Gabriel opened #4924 "Set:Environment variable in dropdown doesn't work on 6.2.1-6.2.2"
**Describe the bug**
When right clicking on values in the response body of a request, and trying to use the drop-down menu to set the value of the variable, it doesn't populate properly.

REGRESSION: Works on 6.1.4, not after 6.2 update

**To Reproduce**
Steps to reproduce the behavior:
1. Find a request body with an environment
2. Highlight some data
3. Right-click to try and set the variable wit

[2018-07-30 19:37] sevencardz commented on #4909
@harryi3t I have also tested the canary release and all is working as expected now. Thank you!

[2018-07-30 20:00] andystroz commented on #2729
+1

[2018-07-30 20:02] jcavalieri commented on #4044
👍

[2018-07-30 20:25] ashishjs commented on #2724
+1 YEP Please!

[2018-07-30 21:09] bdavidhicks commented on #4848
@mtpultz I have had a similar issue and some googling led me to #2378 which says you can use Ctrl+B to format the JSON body. I think that there may be a button added to do this task as well.

[2018-07-30 21:28] vjamwec13579 commented on #4919
I have the "new" desktop Windows app, I have installed it / uninstalled it and it runs poorly.  My laptop is a 4 core CPU with 16 GB of RAM running Windows 10 Enterprise.

It takes several minutes for it to respond to a mouse click.  When it does finally respond, it takes ages to search.  The interceptor feature was removed.  This is a horrible experience that I would not wish on my worst enemy. W

[2018-07-30 21:29] bdavidhicks opened #4925 "Valid JSON not sending properly until formatted"
**Describe the bug**
Supplying valid JSON in request body does not send properly until request body is formatted using Ctrl+B shortcut.

**To Reproduce**
Steps to reproduce the behavior:
1. Use valid JSON that is **NOT** formatted using Ctrl+B like the below:
[code]
2. Observe there are no errors with the JSON
3. Send the request, the API ignores parts of the request body (I gathered from trial an

[2018-07-30 21:54] Postman-Gabriel opened #4926 "Long strings are altered in environment when saved"
**Describe the bug**
Strings that are of a certain length are saved as a certain subset of the string, plus a "...". This seems to be a visual thing that mistakenly gets saved to the environment instead of the actual value of the string.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a long string
2. Attempt to save it
3. See error

**Expected behavior**
Expected to be able to use th

[2018-07-30 21:58] 1I1III1liL1 commented on #2700
Bump. The Chrome app has a reminder saying that Chrome apps are being deprecated, but this is critical functionality that I use daily.

[2018-07-30 22:28] twurm commented on #4091
@prashantagarwal any thoughts on a work around?  It's been six months, and the upstream issue is still open without any updates.

[2018-07-30 23:06] rocifier commented on #4842
I requested this feature in support ticket 16748 in the postman help center on May 05 2018. I don't know whether the feature was ever implemented, as support did not respond effectively to my description.  your description is better so I have created a follow-up support ticket and linked it to this issue.

[2018-07-31 00:35] imtrobin commented on #2729
discard, with error/warning

[2018-07-31 00:39] bhargavkaranam commented on #4924
This has been fixed in the canary release. You can download it from https://getpostman.com/canary
Incase, there's still an issue, please use the thread of issue #4903

[2018-07-31 00:39] #4924 closed, assigned to nobody

[2018-07-31 03:20] binitshah commented on #3232
Hey guys, still facing this issue.

[2018-07-31 03:31] MeaningOfLights commented on #3216
I have the same problem and I am on the latest version v6.2.2.
The GPU flag did nothing, what worked was deleting the  C:\Users\<userId>\AppData\Roaming\Postman. Take a back up as it will lose your settings.

[2018-07-31 03:49] ScottBurfieldMills commented on #2559
I've also run into this issue after installing v.6.2.2. Reinstalling now to see if that fixes it.

edit: Reinstalling didn't help although I'm not confident it uninstalled properly because all of my data was still there when it installed again. What fixed it for me was logging out of my Postman account, which clears all of your data.

[2018-07-31 03:54] kamalaknn commented on #4897
Hye @tlair123

From the logs it looks like you are trying to open an older version of Postman after opening the latest version(6.2.2). The internal storage structures have changed in the latest version making it incompatible with the previous versions.

This could have happened because you tried to open a previous version or the update process temporarily opened the current version before completi

[2018-07-31 04:12] kamalaknn commented on #4897
Hey @tlair123

From the logs I could see that the update process from `6.2.1` to `6.2.2` hasn't completed fully but is marked as complete leaving it in an inconsistent state.

I'm investigating this issue. Can you give me some more information here?

1. Are you signed in?
2. Do you have multiple signed in accounts in this app?

As a workaround, can you run the following script in your devtools and

[2018-07-31 04:27] harryi3t commented on #4925
@bdavidhicks Can you also post the screenshot of the error that you are getting?
Also, is the API endpoint that you are using public? If yes, please share the API details so that we can reproduce this on our end. If not, then please share the __exact__ raw JSON data with & without formatting.

[2018-07-31 04:52] jpaulus30 opened #4927 "Error View On Windows 8.1 64 Bit"
## App Details:

[code]

## Issue Report:
 1. I cannot view GUI postman after update postman 6.2.2
 2. See the atachment for detail
![image](https://user-images.githubusercontent.com/26064592/43438355-0d2afab4-94b8-11e8-9fa6-e715f9487aa8.png)

[2018-07-31 05:17] harryi3t commented on #4909
@a85 Sure, here's a short post-mortem about the bug

#### Q. What was the bug?
Changes made to variables (environment or globals) were not persisting for users having scripts at multiple levels (collection, folder, and request levels)

#### Q. Why did it happen?
Postman is built on top of [postman-runtime](https://github.com/postmanlabs/postman-runtime) which is its execution engine. In earlier ve

[2018-07-31 07:01] nsangeet18 opened #4928 "Can't get Postman installed on my desktop"
Postman app 6.2.2 will not open when installed.
Windows 8.1 Pro 64-bit

**To Reproduce**
1. Download and run the installer.
2. Postman is installed but app doesnt open.
3. Crash dump was seen in C:\Users\<User>\AppData\Local\CrashDumps

**Expected behavior**
Postman app is installed and could launch it sucessfully.

**Screenshots**
![image](https://user-images.githubusercontent.com/39327125/434430

[2018-07-31 07:07] thecuriousdev commented on #4918
@NizMech happy to hear that :) but any idea why its failed initialy?

[2018-07-31 07:58] NizMech commented on #4918
@thecuriousdev : I just deleted all the collections and environments I had in my workspace and retried to import .. And it worked.

[2018-07-31 08:29] ankit-m opened #4929 "Labels for workspaces"
**Is your feature request related to a problem? Please describe.**
Currently, I can distinguish my workspaces based on `team` and `personal`. Within these categories it becomes difficult to distinguish between workspaces (name being the only differentiator).

**Describe the solution you'd like**
Labels will allow for better organization and visibility of workspaces. In future, searching by labels

[2018-07-31 08:37] SamvelRaja commented on #4928
@nsangeet18 Could you provide me more insights on this issue?
Was you not able to open the app at all? If it is showing a crash warning, could you share a screenshot of it.

[2018-07-31 08:39] #4878 closed, assigned to thecuriousdev

[2018-07-31 08:39] SamvelRaja commented on #4927
Possible solution https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

Feel free to reopen this if this doesn't solve.

[2018-07-31 08:39] #4927 closed, assigned to nobody

[2018-07-31 08:41] thecuriousdev commented on #4877
@priyalviroja this is fixed, now we only check for conflicts in the current workspace scope. Available in Postman 6.2.0 or higher.

[2018-07-31 08:41] #4877 closed, assigned to thecuriousdev

[2018-07-31 08:43] SamvelRaja commented on #4921
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4814

[2018-07-31 08:43] #4921 closed, assigned to nobody

[2018-07-31 08:44] SamvelRaja commented on #4914
Possible solution https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

Feel free to reopen the issue if this doesn't solve it.

[2018-07-31 08:44] #4914 closed, assigned to nobody

[2018-07-31 08:45] #4819 closed, assigned to thecuriousdev

[2018-07-31 08:46] kamalaknn commented on #4794
This has been pushed to the stable channel. Please update to the latest version and try it out.

[2018-07-31 08:46] #4794 closed, assigned to kamalaknn

[2018-07-31 08:47] michaelmpschubert opened #4930 "Postman Window blanc with Windows 10 Pro 64Bit (only works with Win 8 compatibility settings)"
When I start Postman-win64-6.2.2 (after allready installed) on Windows 10 Pro 64 Bit (Build Version 17134.165), Intel HD Graphics 3000, the Postman Pogramm Window ist completely empty.
The only way to see the Postman GUI is to start the App with Windows 8 compatibility mode under Windows 10. Thats not sufficient, especially for new or unexperienced user!
Thanks for your investigations.

**To Repro

[2018-07-31 08:49] #4668 closed, assigned to thecuriousdev

[2018-07-31 08:51] thecuriousdev commented on #4669
@vdespa this is fixed. Will be available in Postman 6.2.0 or higher.

[2018-07-31 08:52] SamvelRaja commented on #4889
Duplicate of #4669

[2018-07-31 08:52] #4889 closed, assigned to SamvelRaja

[2018-07-31 08:53] thecuriousdev commented on #4315
@glenpike closing this. Feel free to reopen this if you face any further issues.

[2018-07-31 08:53] #4315 closed, assigned to kunagpal, thecuriousdev

[2018-07-31 08:54] prashantagarwal commented on #4745
@bah-sa Can you update to the latest Postman app and see if it is still happening. Also I think since you have so many requests open app memory consumption might be high.

[2018-07-31 08:54] #4745 closed, assigned to prashantagarwal

[2018-07-31 08:57] silentbrown commented on #3322
I also tripped over this. Solution from @aggieben works well - maybe include this in postman-collection sdk>

[2018-07-31 08:58] prashantagarwal commented on #4375
@vladah If you are still facing this issue can you update here.

[2018-07-31 08:59] SamvelRaja commented on #4930
Possible solution https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

Feel free to reopen this if it is not fixed still.

[2018-07-31 08:59] #4930 closed, assigned to nobody

[2018-07-31 09:02] nsangeet18 commented on #4928
I ran the installer and the postman GUI is blank showing me the process wheel.The second snapshot is the one which shows gui blank. There was no crash warning. Could you chk the dmp attached to see if you have any useful info.

[2018-07-31 09:09] kamalaknn commented on #4920
Hi @dbalthassat

1. Can you give me more info on what led to this flow?
2. Are you logged in at this moment?
3. Can you try logging out and logging back in?

[2018-07-31 09:26] rahul202 commented on #4262
Same here on MAC...
Where is the most time spent? Fetching what details? it was supposed to be very weight app....
if it can used as chrome app, then why it is so heavy to launch.

[2018-07-31 09:35] nicolasdalsass commented on #4897
Hi !

Just to mention a workaround : I deleted my local data (on ubuntu, I rm'ed `~/.config/Postman` ), relaunched, and it resynced everything from the cloud and working fine now !

[2018-07-31 09:41] prashantagarwal commented on #4911
@aviweiss Can you add some screenshots.

[2018-07-31 11:31] prashantagarwal commented on #4817
@loopDelicious There was some UI bug on the icon which we fixed. Shortcuts might not work in the case when you are using some app like spectacle whose shortcuts conflict with app. If you see this not working as expected in future please let me know.

[2018-07-31 11:31] #4817 closed, assigned to prashantagarwal

[2018-07-31 11:36] ashaalex28 opened #4931 "Resource interpreted as Document but transferred with MIME type image/gif"
Steps to reproduce:
1.Open new tab.Create a POST request to a rest API.
 Url: https://xxx.salesforce.com/services/apexrest/AccountRequests
2.Click the Authorization tab and select the type as OAuth2.0.
3.Click "Get New Access Token".
The Token settings are set as  below:
![image](https://user-images.githubusercontent.com/15902366/43456822-852725ae-94e2-11e8-98d0-2b0ab4694724.png)
4.Click "Request

[2018-07-31 11:39] schellem opened #4932 "After Editing and Environment return directly to the App"
When choosing the 'eye' (environment quick look) to edit an environment and then editing an environment when you click cancel or update you are not returned to the application, the manage environments dialog pops up. There is no reason to pass back thru the manage environments dialog. Making it a bit worse is that the manage environments dialog does not have a close\cancel button and you must use

[2018-07-31 12:25] aviweiss commented on #4911
Not sure how to add those here, or what kind of screenshot you are looking for.

[2018-07-31 12:48] deepakpathania-zz opened #4933 "Allow monitors to use current value in sessions for private monitors"
Consider the following scenario:
- I have a collection and environment shared in multiple workspaces.
- I do not want to share my credentials in the team workspace, so I only populate the current value in my environment leaving initial value blank so that the in the team workspace, only keys are shared and people can generate their own values based on that. (Sessions work great for this.)
- Now I

[2018-07-31 12:54] deepakpathania-zz opened #4934 "Multi select in data editor doesn't support scrolling"
In the environment modal, if we try to do multi-select by dragging for a lot of values, then the selector doesn't support scrolling for selecting and scrolling simultaneously.

Steps to reproduce the behavior:
1. Go to Manage Environments.
2. Create an environment with multiple values (to enable scroll)
3. Try to select multiple values (beneath the current view)
4. The selector box would not follo

[2018-07-31 13:56] ghost commented on #4778
Thanks, it fixed

[2018-07-31 13:56] #4778 closed, assigned to bhargavkaranam

[2018-07-31 14:31] lifewingmate commented on #4919
I'm a paying client (Postman Pro) and the one who reported the original lag issue. I'm running Windows 10 Enterprise on a laptop with a Core i7 processor and 16 GB of RAM, 64-bit OS.

[2018-07-31 14:55] jrsiegs opened #4935 "Jenkins plugin"
**Is your feature request related to a problem? Please describe.**
I am currently running my Postman collections through Jenkins CI. Since I have a great understanding of the tests I created, I know to go into the console output to see the performance of each request. However, my team would much rather be able to see a graph on the main page of the Jenkins project that shows how many requests and

[2018-07-31 15:07] 0x6B386F opened #4936 "204 status code is reported as "error""
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
204 status code is reported as "error"

**To Reproduce**
Steps to reproduce the behavior:
1. Click to "Send" button with request to API which returns status code 204..

**Expected behavior**
Show headers, status code, etc. Not e

[2018-07-31 15:08] 0x6B386F commented on #4936
Sorry, seems to be duplicate of #2418 :(

[2018-07-31 15:23] ethanjcohen commented on #4639
Any update on this? Tables are a very important feature for documentation.

[2018-07-31 15:29] ethanjcohen commented on #4639
Looks like if I put spaces before and after it renders ok - there's just a lot of space between multiple tables but that works 👍

[2018-07-31 15:36] bdavidhicks commented on #4925
@harryi3t @prashantagarwal I am not getting any error from the API and the API is not public. I already posted the exact JSON that I was sending both times above.

[2018-07-31 16:06] prashantagarwal commented on #4925
@bdavidhicks I just tried this but was unable to reproduce this. Can you try sending this with curl so that we can be sure that API server is not doing any sort of interpretations here.

[2018-07-31 16:07] prashantagarwal commented on #4925
@bdavidhicks Also in the unformatted JSON, do you have any newlines at the end of JSON ?

[2018-07-31 16:18] Kal6 commented on #1535
Hi There
I am a Test Automation Consultant, have been working on almost all popular tools in the market. POSTMAN is kind of cool tool to automate API testing but due to some of unsupported features which is becoming cumbersome. This feature is one of it which will be definitely a great feature if we can get this, because other tools provide a feature called library files where we can have reusable

[2018-07-31 16:20] Gmarn commented on #3503
Hi,
I am in a similar case since 2 days, I could not resolved it. I recently download the new version of postman but the error is still there.

Here an error:
![image](https://user-images.githubusercontent.com/20647745/43472602-39485a5e-94c4-11e8-8d94-35852f1c43a9.png)

Here an other one:
![image](https://user-images.githubusercontent.com/20647745/43472700-84d41954-94c4-11e8-8763-9ff6ec0ab0d7.png)

[2018-07-31 17:05] iftachk commented on #4926
👍

[2018-07-31 17:06] bdavidhicks commented on #4925
I'm on a Windows box at the moment and I was able to send the request using `Invoke-RestMethod` but I had to do a lot of conversion of the raw JSON in Powershell. I was able to recieve a response and it made sense for what I was sending. I looked closer at the raw JSON of the first request and I think the problem lies here:
[code]
as opposed to:
[code]
The colon has a space before it in the first

[2018-07-31 17:49] aviweiss commented on #4911
<img width="866" alt="pm1" src="https://user-images.githubusercontent.com/940588/43477084-42d71264-94c8-11e8-84ff-c5f604d19b9b.png">
<img width="758" alt="pm2" src="https://user-images.githubusercontent.com/940588/43477085-42e61520-94c8-11e8-9c4f-183540c20e3d.png">
<img width="572" alt="pm3" src="https://user-images.githubusercontent.com/940588/43477086-42f60aa2-94c8-11e8-9701-c33df901e1d2.png">

[2018-07-31 18:01] prashantagarwal commented on #4850
@jperucello It shows restricted access.

[2018-07-31 18:06] prashantagarwal commented on #4520
@sujitblues Can you update to the latest Postman app and see if the issue still persists.

[2018-07-31 18:11] #3770 closed, assigned to godfrzero

[2018-07-31 18:24] bbartoni commented on #4820
There could be a latent bug related to this ticket. Seeing occurrences where postman-monitors fails to send the success-after-fail slack notification @godfrzero

[2018-07-31 18:28] prashantagarwal commented on #4936
Closing as duplicate.

[2018-07-31 18:28] #4936 closed, assigned to nobody

[2018-07-31 18:29] bbartoni commented on #4820
correction - the slack notification triggers after second successful run.

[2018-07-31 18:57] Postman-Gabriel opened #4937 "Newman CLI fatal error on large tasks"
**Describe the bug**
When using Postman CLI integration with Newman, running many tasks at once over a long period of time causes a fatal error to occur where the Heap overflows.

My user is using running 50 jobs at once over 24 hours to look for something, which is causing the crash

**To Reproduce**
Steps to reproduce the behavior:
1. Look for information in a large data set over a long time
2.

[2018-07-31 20:01] kunagpal commented on #4937
## Workaround
This can be overcome by specifying a suitably large heap space size, as follows:

For CLI runs:
[code]

Or, if you're using Newman as a library,
[code]
In the command above, `newman-script.js` contains code that programmatically runs Postman collections with Neman.

A similar discussion has happened here: https://github.com/postmanlabs/newman/issues/1516

## Thinking of an actual fix

[2018-07-31 20:01] #4937 closed, assigned to kunagpal

[2018-07-31 20:13] laschalkh commented on #4937
I'm a little confused, when calling newman, can you pass the heap option directly from that command or do you have to go into the newman config files somewhere?

[2018-07-31 20:37] kunagpal commented on #4937
@laschalkh Yes, passing the heap space size override with the run command is possible. See the first example from my comment above 😄

[2018-07-31 20:46] laschalkh commented on #4937
aww, went right past that, I'm sorry.  I'll give that a try.  thank you!

[2018-07-31 20:53] DmitrySkibitsky commented on #4914
@SamvelRaja
[code]

Unfortunately it didn't help me.

[2018-07-31 21:26] laschalkh commented on #4937
I just tried another run.

I tried the 2k size and it still failed, I then up'ed to 4196, here is the start of my command:

NODE OPTIONS="--max-old-space=4196" newman run

There are about 50 concurrent jobs running on my linux box.  It's running a few thousand total.  After a few minutes I get the following:

FATAL ERROR: invalid table size Allocation failed - JavaScript heap out of memory
 1: nod

[2018-08-01 03:07] darrenshrwd commented on #4889
I can't see how this is a duplicate

[2018-08-01 03:15] heath3n opened #4938 "Duplicated request remains linked to original"
**Describe the bug**
Changing properties of a duplicated request affects the original request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request and duplicate it.
1. Change the title of the duplicated request and note that the title of the original changes too. Changing the request URL does not change the URL of the original but nevertheless puts it into an unsaved state. Some

[2018-08-01 03:26] andersonmendesdev opened #4939 "Postman does not open, even reinstalling."
**Describe the bug**
The postman only opens normally the first time after the installation. I thought it was windows 8.1, so I reinstalled windows and the problem persists. I tried as native x64 / 86 versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to open app.
Result : Fail
1. Go to open shell.
Result: Fail

**Expected behavior**

**Screenshots**
[Image problem](https://uploadde

[2018-08-01 03:50] SamvelRaja commented on #4939
Seems like a GPU issue, workaround https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

Feel free to reopen this if it is not fixing it.

[2018-08-01 03:50] #4939 closed, assigned to nobody

[2018-08-01 06:26] ash007-postman opened #4940 "Postman hangs on launch: MacSierra OS High"
1. The issue we’re experiencing happens after installing Postman on a MacBook Pro A1707; the program seems to hang. We’ve already tried clearing the local app cache and reinstalling the program with no luck. We have also tried and older version of the software with the same result.

2. Also ran the app via command line. Stuck on the loading view. ORM did initialize successfully.

3. Tried again. S

[2018-08-01 06:33] jperucello commented on #4850
@prashantagarwal sorry, updated.

[2018-08-01 06:56] otto-pflucker commented on #4898
I thought that there was no possibility to select multiple variables, copy them and paste them until I realized that with the SHIFT and ARROW keys it could be done, but it was difficult to discover it because the background color of the selected variables is TOO SIMILAR to the ones not selected. You almost do not notice that you've selected something, so it's easy to think that functionality does

[2018-08-01 07:21] makrada commented on #4885
Hi @harryi3t

I tried to replicate it but it doesn't seem the behavior to be consistent(there were times that the bug wasn't happening). I am trying to understand under what circumstances this occurs. Once I have a consistent scenario if this keeps happening I will revert to you with more details.

No need to have this issue open, I will open a new one if needed in the future.

Thank you for your

[2018-08-01 07:25] sivcan opened #4941 "Duplicating an example doesn't lead back to the request"
**Describe the bug**
On duplicating an example tab, the button to lead back to the request doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an example for a request
2. Right-click the tab and duplicate it
![image](https://user-images.githubusercontent.com/12631777/43507145-ea53d42a-9589-11e8-8bfe-00f2494f9e7e.png)
3. In the duplicated tab press the button (with the request n

[2018-08-01 07:27] shawnzxx commented on #4679
Great solution, I encountered the same issue which was using Windows 8, change POSTMAN_DISABLE_GPU = true settings saved my life.

[2018-08-01 07:36] thyn opened #4942 "Certificate Domain Validation"
**Describe the bug**

Situation. I have server with certificate for domain A. If I make request with Domain B I have certificate error. That's what I need. If I make Request again - I don't have error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Get Request to server https://google.com
2. Set host header vasya.com (or any)
3. Click Send
   We have validation error
4. Click Send ag

[2018-08-01 08:59] harryi3t commented on #4931
@ashaalex28 Thanks for reporting the issue.
Can you post some relevant screenshots/gif/video?
Also, is the API publicly available for testing? Can you point to the documentation to test this flow with this auth server?

[2018-08-01 09:05] SamvelRaja commented on #4928
@nsangeet18  Seems like a GPU issue we are facing.
Can you try the workaround provided in https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621

Feel free to re-open this issue, if this doesn't solve.

[2018-08-01 09:05] #4928 closed, assigned to SamvelRaja

[2018-08-01 09:08] harryi3t commented on #4885
@makrada
I am closing this issue then.
Feel free to re-open the issue if this happens in future.

[2018-08-01 09:08] #4885 closed, assigned to harryi3t

[2018-08-01 09:09] maitmansour opened #4943 "Select multiple requests And change their URI"
**Is your feature request related to a problem? Please describe.**
I always want to Select multiple requests (Not possible right now) and change their URI

**Describe the solution you'd like**
1- I want to select multiple Requests
2- I'd like to change their URI (for example from 127.0.0.1 to another URI)

**Additional context**
Sometimes i need to duplicate multiple requests so i can test them in

[2018-08-01 09:12] harryi3t commented on #4852
@johnnykang Were you using hard-coded values or variables for the Oauth-1 parameters?
Also, after you signed-in did it ever happen again?

[2018-08-01 09:17] johnnykang commented on #4852
hi,

i tried both hard-coded values and variables. They all have the same issues as mentioned above. I signed out, and resigned in, same issues as well.

i have to kill / close my account. Thus, I export all the configurations to a file, close my account, re-sign up , import all configurations, then everything back to normal working state again.

It is not longer happening because i have done the

[2018-08-01 09:23] harryi3t commented on #4796
@AlexTemina Closing this issue due to inactivity. Feel free to reopen if this is still happening.
Also, while reopening the issue please share the logs as requested in the comment above.

[2018-08-01 09:23] #4796 closed, assigned to harryi3t

[2018-08-01 09:32] harryi3t commented on #4775
@santhoshanna From the logs, it looks like the server does not support the `Implicit` grant type.

![42288965-ac0a0eae-7f82-11e8-805e-7ac4de193662 png 1917x420 2018-08-01 15-01-36](https://user-images.githubusercontent.com/5207331/43513599-cf02d7fe-959b-11e8-8aec-036cbe5ea35e.png)

Can you confirm this (check the docs for the relevant auth provider)?

[2018-08-01 09:37] harryi3t commented on #4643
@markbeij Closing due to inactivity. Feel free to reopen if this is still happening. Also, while re-opening please provide the extra information as requested in the comment above.

[2018-08-01 09:37] #4643 closed, assigned to harryi3t

[2018-08-01 09:41] numaanashraf commented on #4942
@thyn Thanks for reporting. We are able to replicate this issue at our end and are working towards fixing this.

[2018-08-01 09:42] Puiu commented on #3602
I am working on a complex integration of 2 systems, (one that is not so well documented) and seeing the request body of a call would be awesome!

[2018-08-01 09:52] abner-xin commented on #4320
We need this also. Will this be enhanced?

[2018-08-01 09:55] sivcan commented on #4673
@priyasuman If I got you clearly, then you're trying to update global variables but those are not being reflected because your requests are failing?

If it's simply not updating the globals then probably you have the 'Persist variables' option turned off before running the request.
Kindly check that.

Also, since you mentioned that 'Not able to upload the CSV file'  would that be the reason why yo

[2018-08-01 09:59] harryi3t commented on #4531
@dhineshwiz Can you share a screenshot of the data you enter and the error that you see.
You can blur-out the sensitive information.

Also, since you obviously can't share your credentials, can you try generating the signature outside of postman and confirm that Postman is not generating the correct signature? There are libraries available for many languages.

Check this https://docs.aws.amazon.co

[2018-08-01 09:59] wernerm opened #4944 "Postman 6.1.x fails to launch on Ubuntu 16.04"
**Describe the bug**

Postman 6.1.x fails to launch on Ubuntu 16.04.

The following error is thrown:

A previous Postman build (6.0.10) works just fine, so I guess something changed in the build process or version of Electron.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch Postman 6.1.x on Ubuntu

**Expected behavior**

Postman should launch

**App information (please complete the f

[2018-08-01 10:00] sivcan commented on #4277
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/2861

[2018-08-01 10:00] #4277 closed, assigned to sivcan

[2018-08-01 10:02] Shambler13 commented on #4531
Hello, All,

Sorry to keep this topic open,

I used POSTMAN just to simulate my request.

I, now since a good moment , was able to send authentified request using STM32 crypto library + my own code to create canonical request + string to sign.

BR

[2018-08-01 10:03] nejcr commented on #4262
Please fix it, its a great much-needed software, but it has really become to slow to work with, as described in the comments above.

[2018-08-01 10:05] #4531 closed, assigned to harryi3t

[2018-08-01 10:05] sivcan commented on #4092
@ryanhoward1988 @Bakerstreetsoriginal @seancummins1
Apologies for the late response.

Can you guys verify if the same is happening for you if you run the collection using [Newman](https://github.com/postmanlabs/newman)?
Let me know, thanks!

[2018-08-01 10:07] sivcan commented on #4078
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/2970

[2018-08-01 10:07] #4078 closed, assigned to sivcan

[2018-08-01 10:08] harryi3t commented on #4364
@lunicorn-x64 Closing due to inactivity.
Feel free to re-open the issue with more information if this still happens.

[2018-08-01 10:08] #4364 closed, assigned to harryi3t

[2018-08-01 10:09] sivcan commented on #4076
@smoyse @macux I was unable to reproduce this issue.
Can you guys update to the latest version of the Postman App (v6.2 as of now) and try exporting?
Let me know, thanks!

[2018-08-01 10:15] ashaalex28 commented on #4931
Hi,
This is a Salesforce Restful web service.It is not available for testing unless you have your own Salesforce sandbox org.
I have referred the following link to use OAuth and test the service with Postman.
https://blog.mkorman.uk/using-postman-to-explore-salesforce-restful-web-services/

Summary:
I created a Connected App in Salesforce and enabled Oauth Settings for it as shown in the screensho

[2018-08-01 10:15] sivcan commented on #4019
@mccannt The fix has landed in the latest canary build: https://www.getpostman.com/canary
You can try it out.

[2018-08-01 10:20] sivcan commented on #4019
@mccannt As per the logs it looks like a similar issue that we've fixed in our recent release.

Can you [download the v6.2.2](https://www.getpostman.com/apps) and test it out if it fixes it for you?

[2018-08-01 10:22] chriscoomber opened #4945 "When exporting to cURL, escaping double quotes "" in headers is wrong"
**Describe the bug**
See title

**To Reproduce**
Suppose my Postman request has a header:

[code]

If I convert this to cURL I get:

[code]

This is incorrect, as the header is enclosed in single quotes, so the `\` before each `"` are spurious.

**Expected behavior**
[code]

or

[code]

**App information (please complete the following information):**
 - App Type: Windows client
 - Postman Version

[2018-08-01 10:24] #3698 closed, assigned to sivcan

[2018-08-01 10:32] sivcan commented on #3378
@dkedmondson This is the expected behavior because replacing an unresolved variable with an empty string isn't quite right.

I'll be closing this issue.

[2018-08-01 10:32] #3378 closed, assigned to sivcan

[2018-08-01 10:57] sivcan commented on #2688
@rzizza @Voldacar21  Since the collection runner on starting the run, stores everything in memory
and cookies can't be cleared thus you've been facing this issue.

This feature request will solve this use-case
https://github.com/postmanlabs/postman-app-support/issues/3312

You can follow the same thread to receive updates.

[2018-08-01 10:57] #2688 closed, assigned to sivcan, preethammavin

[2018-08-01 11:13] sivcan commented on #4824
@jameseg We do not store data file paths anywhere in the Postman Environment.
This will be solved in a similar way when this issue will be resolved: https://github.com/postmanlabs/postman-app-support/issues/4320

We'll be tracking further updates on that thread.

[2018-08-01 11:13] #4824 closed, assigned to sivcan

[2018-08-01 11:24] harryi3t commented on #3252
@unchaoss I am closing this due to inactivity. Feel free to reopen this if the issue persists.

[2018-08-01 11:24] #3252 closed, assigned to a85, harryi3t, preethammavin

[2018-08-01 11:27] dividendsolo commented on #4824
?  The retry button doesn't work correctly. If you're not saving the data in the environment, then it's broken and therefore a bug  How can you expect the retry button to work if you have no access to the data file after it's run??

[2018-08-01 11:51] sivcan commented on #4824
@jameseg It's a bug but the only reason we are not storing any data file paths is because of security reasons associated with it.

You chose the data file and the runner runs the run.
However, once the run is finished we discard all the file paths and just store the run's result.
On retrying the run, it would not take up any data file that was previously provided before running the run.

I underst

[2018-08-01 11:56] dividendsolo commented on #4824
Ok fair enough. I'm wondering why save the path though. Why not just create and store a temp data file off the original until re-import or the client is closed?

[2018-08-01 12:16] harryi3t commented on #4852
@johnnykang Thanks for the quick reply.
I am closing this issue, if this happens in future please reopen the issue with the steps to reproduce it.

[2018-08-01 12:22] harryi3t commented on #4931
@ashaalex28 Thanks for the quick reply.
Can you open the app from the command line and share the logs while you are doing this flow.
It will a bunch of redirection logs.

Also, if possible you can perform this same flow in your browser. Just open the first URL in the logs above in your browser. Let me know what happens in that flow. If everything goes fine, you will end-up on a page with URL equal

[2018-08-01 12:25] sujayvenaik commented on #4938
Hey @heath3n

Did you duplicate the request from the sidebar where all requests are listed or did you duplicate the request when it was opened in the tab, and duplicated from the context menu ?

[2018-08-01 13:04] rgasioro commented on #2369
This should fix your hosts file issue:
Settings -> Proxy -> Use System Proxy -> OFF

[2018-08-01 13:20] duyn9uyen commented on #4262
With so many people reporting this is still an issue, can an admin of this thread reopen this?

[2018-08-01 13:28] prashantagarwal commented on #4262
Hey guys, some people have reported that this issue is also caused by the GPU issue for which we have proposed a workaround here https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621 . Please do let us know if this workaround doesn't solve the issue. In the meantime we are also actively working to find the solution for this.

[2018-08-01 13:32] harryi3t commented on #3820
@pburgr Closing due to inactivity.

[2018-08-01 13:32] #3820 closed, assigned to nobody

[2018-08-01 13:35] harryi3t commented on #3780
@frankvandebergh @amtsing @rkgrep @hoffepoffe @brianalbrecht
Is this still happening in the latest version of Postman? Can anyone please test this and let us know?

[2018-08-01 13:41] harryi3t commented on #3492
@kdcarlisle42 Can you test it on the latest version of Postman?
If this is still happening is there a way I can reproduce this on my end? Can you share the VM which does not have any sensitive information, just the server running?

[2018-08-01 13:54] aptem-k commented on #1710
@llamafilm As a workaround for MKCOL I created HEAD request instead and in pre-request script ran MKCOL with the same URL.

[2018-08-01 14:55] jonathan-techtwo commented on #4262
Hi @prashantagarwal , I've checked it again. Using the workaround of #4594 does fix it. I have multiple times deleted and added the work-around. I'm pretty sure it fixes the issue for me without using the backwardscompatible option.

I am using the internal INTEL GPU, I don't have a graphics card installed.

[2018-08-01 15:00] federico-piazza opened #4946 "Support json path response filter"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I recently tried Insomnia and found that it has a pretty cool feature in the response panel. At the bottom it contains a search box that it uses json path syntax. Once we start typin

[2018-08-01 15:11] morozovsk commented on #4226
If postman is built on Electron and now it is not working.
What I can use instead Postman?

[2018-08-01 15:31] rgasioro commented on #1014
I am exporting my collection via settings -> data, and I can see that some old responses are included in the export. How can I clear those?

[2018-08-01 16:22] paulsperanza opened #4947 "Right click in response window to set environment value does not set variable"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I can usually select text and right click in the response window to set an environment variable. This has stopped working.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a API call
2. Select text from response
3. Righ

[2018-08-01 17:37] laschalkh commented on #4937
I reduced the amount of data a query was requesting and the errors have stopped.  Thanks for the help.

[2018-08-01 17:41] bhargavkaranam commented on #4947
Hi @paulsperanza,
This has been fixed in the canary release. You can download it from https://getpostman.com/canary

[2018-08-01 18:11] bbuchan10 commented on #4947
I am also seeing this. do you have an ETA on production release?

[2018-08-01 18:32] heath3n commented on #4938
I duplicated it from the tab context menu. The sidebar appears to work as expected.

[2018-08-01 22:57] Craig-IntegraPay commented on #3975
+1. Need to be able to change the width or allow for sliding.

[2018-08-01 22:59] Craig-IntegraPay commented on #3975
+1 need to be wider or adjustable.

[2018-08-01 23:52] nsangeet18 commented on #4928
Yes Im currently running Postman 6.2.2 with GPU mode disabled and it worked fine for me.
Hope there is going to be a future fix available soon.
Thanks!

[2018-08-01 23:54] okonomiyaki3000 commented on #2369
@rgasioro That does not seem to fix anything. Why should it?

[2018-08-02 01:30] smoyse commented on #4076
I installed 6.2.2 this morning.
I ran my tests again, and was able to export the results even with some connection failures.
Thanks

[2018-08-02 01:30] #4076 closed, assigned to sivcan

[2018-08-02 04:45] ashaalex28 commented on #4931
Can you please elaborate on the steps to be followed?I am not sure what you meant by "first url".

I would also like to add that I am getting the token most of the time.But once the token expires and I request for a new token ,I get this error for the first few times.

[2018-08-02 05:15] harryi3t commented on #4931
@ashaalex28

Yeah sure. When you start the OAuth-2 flow, there are multiple redirections involved. We log all the interactions on the console.
Here's a screenshot of the console logs when opening Postman from the command line

![postman postman helper 2018-08-02 10-43-24](https://user-images.githubusercontent.com/5207331/43563708-1559868a-9641-11e8-96c8-340be22f1851.png)

[2018-08-02 05:29] sivcan commented on #4824
Thanks for the suggestion. We'll keep a note of this.
We'll update the main thread once we have an update regarding the data file paths. :)

[2018-08-02 05:32] harryi3t commented on #4926
@iftachk This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:32] #4926 closed, assigned to harryi3t

[2018-08-02 05:33] harryi3t commented on #4909
@sevencardz @vr00 This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:33] #4909 closed, assigned to harryi3t

[2018-08-02 05:33] harryi3t commented on #4199
@RossmannRoggenkamp @ugenlik This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:33] #4199 closed, assigned to harryi3t

[2018-08-02 05:34] harryi3t commented on #4488
@cuzic4n @Moily This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:34] #4488 closed, assigned to harryi3t

[2018-08-02 05:34] harryi3t commented on #3557
@amnoman  This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:34] #3557 closed, assigned to harryi3t

[2018-08-02 05:34] harryi3t commented on #4742
@mlambley This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:34] #4742 closed, assigned to harryi3t

[2018-08-02 05:44] harryi3t commented on #4947
@paulsperanza @bbuchan10 This is fixed in the latest version of Postman 6.2.3

[2018-08-02 05:44] #4947 closed, assigned to harryi3t

[2018-08-02 05:47] ankit-m opened #4948 "Personal workspaces Team section in workspace dropdown while app is syncing"
**Describe the bug**
After sign-in, while the app is syncing, all my **personal** and **joined** team workspaces show up in the *Team* tab of the workspace selector in `Workspaces you can join` section.

**To Reproduce**
Steps to reproduce the behavior:
1. Create team and personal workspaces
2. Wait for app to be in sync
3. Sign out
4. Sign in
5. Observe workspaces dropdown

**Expected behaviour**

[2018-08-02 05:52] sujayvenaik commented on #4938
@heath3n
From the tab context menu, this is the expected behavior.
It basically creates a clone (duplicate) of the request but points to the same request.

We are working on making it more clear to the users about the difference when you duplicate from the sidebar and the tab context menu.

[2018-08-02 06:00] bhargavkaranam commented on #4755
This has been fixed in the latest version of Postman 6.2.3.

[2018-08-02 06:00] #4755 closed, assigned to bhargavkaranam

[2018-08-02 06:08] DewaldDeJager commented on #4703
@SauceCode84 I installed the canary version from the AUR and it solved the issue. Not sure what it was.

[2018-08-02 06:22] vkaegis commented on #4749
@stewartadam Thanks for reporting this! This is a fair expectation to have, and we'll be looking at how to fix this in the coming versions.

[2018-08-02 06:27] vkaegis commented on #4943
@maitmansour Thanks for writing in! This has been a long requested feature and is definitely on our cards. No ETA just yet, but stay tuned for updates!

[2018-08-02 06:29] vkaegis commented on #4898
@otto-pflucker Yep, we realized this ourselves. 😅 We'll be rolling out improvements to the editor over the coming versions, as well as refining the interactions around it. Stay tuned for updates!

[2018-08-02 06:31] sumit0k opened #4949 "Feature Request: Description for Environment Variables"
**Is your feature request related to a problem? Please describe.**
I wanted to have a clear detailed description of what each environment holds and what each environment variable does, much like how there is description available for collections and request parameters or request form values

**Describe the solution you'd like**
Another column while listing environment variable, to be able to descr

[2018-08-02 06:41] heath3n commented on #4938
Huh...it seems like a rather arbitrary decision to have an option in one area of the screen do one thing and the same option elsewhere do another. IMO it would be clearer to just have a "Duplicate" and "Linked Duplicate" or whatever you choose to call it.

Thank you for clearing that up though; this ticket can be closed if you don't intend to leave it open as a reminder to improve clarity.

[2018-08-02 07:29] sujayvenaik commented on #4938
@heath3n

Sure.

Closing it now. We already have this noted on our road map.

[2018-08-02 07:34] harryi3t commented on #3322
@manuelbcd Request is not resolved in the pre-request script since the variables could be further modified there.
But you can use the `postman-collection` library within the scripts to resolve the request yourself.
Here's a sample script
[code]

Does this solve your use case? If yes, then I can close out this issue :)

[2018-08-02 09:07] prashantagarwal commented on #4670
@GYatesIII This bug is fixed in latest version of Postman app.

[2018-08-02 09:07] #4670 closed, assigned to prashantagarwal

[2018-08-02 09:32] anudeepmedicharla opened #4950 "Unable to move out of 'Continue where you left off' modal"
When I select 'continue where you left off' (bulb) icon, I get a modal. The modal doesn't get dismissed when I click outside of it. The escape key works though.

Steps to reproduce the behavior:
1. Click on the bulb icon

Expected behavior:
The modal should get dismissed when I click outside the modal.

**Screenshots**
![screen shot 2018-08-02 at 14 57 31 pm](https://user-images.githubusercontent.

[2018-08-02 09:58] jmatelet commented on #3977
@harryi3t can you confirm that this is a SSL problem ?

I can't make it work using HTTPS using the last version of postman... I used both autosign certificates and CA signed certificates.
Is there a way to configure postman server certificate validation?

[2018-08-02 10:25] sivcan commented on #4949
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4030

[2018-08-02 10:25] #4949 closed, assigned to nobody

[2018-08-02 10:29] ash007-postman opened #4951 "Seems Not to Expire Domain Cookie"
macOS 10.13.6 (17G65)
Native app: Version 6.1.4 (6.1.4)

1) create and call an API that sets a cookie for a the domain (e.g., ".yourdomain.test"), path of "/", and some future expiration date. Note in the Manage Cookies that it shows up.
2) create and call an API that sets the same cookie (with no content/value) with a prior date of expiration. Observe that it shows the Set Cookie in the response,

[2018-08-02 10:43] numaanashraf commented on #4950
@anudeepmedicharla We removed auto-close on click outside behavior for all modals. We'll add an explicit close button to this modal.

[2018-08-02 10:56] anudeepmedicharla commented on #4950
Yeah, makes sense. 👍🏼

[2018-08-02 11:40] sargin48 commented on #1257
+1 Collapse all / expand all xml json

[2018-08-02 11:51] didichuxing2 commented on #2369
not fix ？

[2018-08-02 12:09] antoniovassell commented on #4292
Where is Postman data on ubuntu?

[2018-08-02 12:24] henrymyers commented on #3602
+1
This would be remarkably helpful.

[2018-08-02 12:50] ambroselittle commented on #4951
Thanks, @ash007-postman.

Feel free to use my repro here:
https://github.com/ambroselittle/simple-server

Also, this happens on the Win10 client as well.

[2018-08-02 12:52] mccannt commented on #2906
I am going to throw a +1 on this issue as its something thats becoming more and more of an issue for my teams when checking changes into VCS.

Can we get some sort of an update as to where this falls on the roadmap?

[2018-08-02 13:53] perhan commented on #4586
This problem is happening again to me on Mac app for quite some time now and also in Version 6.2.3. Just out of the blue Postman change zoom and can't even detect cursor position properly.

[2018-08-02 13:55] MichelChouinard commented on #4472
Maybe simply record the request as it was sent, wit all variables decoded, could do the trick?

[2018-08-02 13:57] danilotavares commented on #1678
+1

[2018-08-02 14:54] ilya40umov commented on #4576
Just today I was installing Postman on a new Ubuntu system.
First tried via Chrome and it told me to use a Native App as Chrome Apps are deprecated.
Okey, fine. I removed the chrome app and downloaded the native one from the website, but it would not start.
If run in Terminal you get `./Postman: error while loading shared libraries: libgconf-2.so.4: cannot open shared object file: No such file or

[2018-08-02 15:02] ghisvail commented on #4576
@ilya40umov you might want to try installing the app via flatpak. Just follow these [instructions](https://flatpak.org/setup/Ubuntu/), and then install Postman with `flatpak install flathub com.getpostman.Postman` or via the Ubuntu or GNOME package manager.

[2018-08-02 15:11] numaanashraf commented on #4944
@wernerm This is a known issue and we are tracking the upstream Electron issue https://github.com/electron/electron/issues/4583

[2018-08-02 15:15] numaanashraf commented on #4913
Duplicate of #4764

[2018-08-02 15:15] #4913 closed, assigned to numaanashraf

[2018-08-02 15:23] BrambleRamble opened #4952 "Export to JSON v2.1 rewrites all _postman_id values, which makes diffing very impractical"
Using Postman 6.2.3, when I export a collection to JSON, all the _postman_id fields are regenerated.
When versioning the JSON file, this dominates the diff and makes it impossible to see the actual changes that were made.
On smaller collections it is an inconvenience but on larger files it is debilitating.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Create collection with

[2018-08-02 15:59] pgordon9 commented on #2691
Can't wait for this feature! Dev workflow will be much less error prone and require less verbal communication on check in processes.

[2018-08-02 16:41] SeriousM commented on #2691
We download the collection with an api call via curl to disc and check it
in. Straight forward and simple.

[2018-08-02 16:53] fcheadle opened #4953 "Chosen Files in formdata posts are not saved"
**Description**
If you have a POST request saved as part of a collection,
With a body of type "FormData",
When you choose a file to post,
Then export the collection,
The postman_collection.json file will not contain the source of the file chosen,
And an attempt to run it via Newman will throw a "Not Found" error

**To Reproduce**
1. Create a new and empty collection
2. Create a POST request to any

[2018-08-02 17:00] piersmacdonald commented on #3390
Add me to the train of wanting OpenAPI 3.0 support.

While we're at it, it would be great to import API functionality too so we can programmatically update our POSTMAN collection. Our API builds auto generate swagger3 specs, it would be great to have a CI step which updates POSTMAN so other developers on our account can start testing against our API immediately.

[2018-08-02 17:54] ybrodsky commented on #4687
Same here, above 1,4gb. That's one point four gigabytes. What the heck is it doing with so much ram.

[2018-08-02 17:56] raksahb commented on #982
As a postman user I would like the ability to filter and sort environment variables - both key and value, so I can easily find a key or value to edit or view its value

![postman](https://user-images.githubusercontent.com/2277664/43601706-b5df5c78-9642-11e8-80da-584e68f37c41.png)

[2018-08-02 20:28] itisadityaiyer commented on #4210
Still noticing significant memory issues. After modifying my collection, I notice that the old version of my collection is run instead of the new one. I confirmed this by looking at the inspect element.

[2018-08-02 21:32] derrickmehaffy commented on #3390
@and0x000 The problem being that the 2.0.0 spec doesn't properly support bearer JWT authentication (added in 3.0.0)

@robations That is the point of +1 to bring up this issue again.

@kibertoad I completely agree with you.

[2018-08-02 21:47] nikitasius opened #4954 "Duplicate "My Workspace" with limited functionality"
Well, here are strange bug

Application workspaces
![image](https://user-images.githubusercontent.com/3670331/43612780-9a4528d8-96ad-11e8-9c23-312b125fe28d.png)

Website workspaces:
![image](https://user-images.githubusercontent.com/3670331/43612829-c14b430e-96ad-11e8-80e5-6e1fc2e8676f.png)

1st in UI:
![image](https://user-images.githubusercontent.com/3670331/43612841-ccc43a24-96ad-11e8-8819-f046

[2018-08-02 23:35] sbhotika commented on #1475
+1

[2018-08-02 23:57] davecanderson commented on #4515
I've had SSL verification turned off for a long while since we use self signed certs for development. I'll try some different cert values and see if I can isolate the issue. It seemed to start when we began having multiple values in our Subject Alternative Name field in the cert i.e.

[code]
This was necessary as a result of [Chrome 58 no longer accepts certificates that fallback to common name (E

[2018-08-03 01:15] Tadimsky commented on #4814
I see the same thing - this is the icon on the Taskbar.
![image](https://user-images.githubusercontent.com/1149244/43618900-f0685678-967f-11e8-92d0-19b3b23d9ea8.png)

It happens all the time and shows up in the Start Menu as well

![image](https://user-images.githubusercontent.com/1149244/43618914-0aa64b80-9680-11e8-8d90-25d3a7967534.png)

[2018-08-03 01:17] Tadimsky commented on #4814
When I tried to manually change the icon I got this error:

![image](https://user-images.githubusercontent.com/1149244/43618935-269b338c-9680-11e8-9bdf-deeea0094149.png)

Verision 6.0.10 does not exist on my machine anymore.
![image](https://user-images.githubusercontent.com/1149244/43618957-47f92016-9680-11e8-9301-adb0345c6a98.png)

So maybe the shortcut isn't being updated after update?

[2018-08-03 04:56] kchanna opened #4955 "Can I set a variable, with it's scope set to the current execution scope?"
## App Details:

[code]

My requirement is this:
I have a request, in which I have to set a value (in the HTTP header) before sending the request.
There can be multiple values that can be set.
So I set an environment variable for this. And in the headers - I use this variable like {{my-variable}}
After web server sends back a reply - I have to validate that the response has the value set in the {{

[2018-08-03 07:41] numaanashraf commented on #4687
@ybrodsky We'ld like to get some additional information to debug this issue at our end. Could you let me know your OS version and Postman app version?

[2018-08-03 07:45] numaanashraf commented on #4586
@perhan I am not able to replicate this issue. Could you send us a screenshot or a recording of the issue? I'ld help us triage the issue faster.

[2018-08-03 07:51] kamalaknn commented on #4954
Hey @nikitasius

We do a series of steps right after you login, to move your data to your account. We remove the existing data only after we've moved all the data is moved to your account. Normally that should be done to completion in just a few seconds after you login, and you wouldn't notice anything.

It seems that in your case this process has ended midway and existing data is not removed. I s

[2018-08-03 07:51] numaanashraf commented on #4953
Duplicate of #4320

[2018-08-03 07:51] #4953 closed, assigned to nobody

[2018-08-03 08:45] BrambleRamble commented on #4952
I have uninstalled 6.2.3 and reinstalled 6.1.4 to try to work around this problem.
Unfortunately I haven't been able to stop it auto-updating to 6.2.3.
If anyone could advise how to do this as a temporary workaround, that would be hugely appreciated please.

Edit: It looks like I have managed to prevent automatic updates by deleting Updates.exe and app-6.2.3 from the AppData/Local/Postman folder.

[2018-08-03 09:24] carlYumana commented on #3518
+1 on 6.2.3 on Ubuntu Linux 18.04

The thing is when you try to add a Cookie when you don't have any cookie on that domain. When you have almost one you can add whatever you want.

Thanks in advance.

[2018-08-03 09:33] sivcan commented on #4955
@kchanna Firstly, I highly recommend that you update your app to the latest version of Postman.
You can download it here: [Download Latest Postman](https://getpostman.com/apps)

Also, just a side note that the variables that are being inside a run are not persisted until and unless the run **finishes**.

Before starting the run you can turn off the 'Persist variables' / 'Keep Variable Values' (_as

[2018-08-03 09:44] ashaalex28 commented on #4931
Thanks for the response.
This is what I see when I run postman from command line:
![image](https://user-images.githubusercontent.com/15902366/43636213-0c889250-972f-11e8-8517-c660756acadc.png)
I have not been able to see any info regarding the OAuth redirection flows

[2018-08-03 09:52] ashaalex28 commented on #4931
Hi,
After a couple of retrys,I can see"ORM Initialization successful".Please find the console log below:

C:\Users\ashaale1\AppData\Local\Postman\app-6.2.3>
ORM initialization successful
App events bus { name: 'booted', namespace: 'shared' }
App updater event { name: 'checkForElectronVersionUpdated',
  namespace: 'appUpdate' }
App events bus { name: 'booted', namespace: 'requester' }
@postman-app/

[2018-08-03 10:26] bamdan opened #4956 "postman extension doesn't show full http post request body. Cut ~5000 characters each time."
## App Details:

Postman Chrome Extension

## Issue Report:
 1. Recently encountered but could have always been there
 2. Expected behaviour: While using postman interceptor to track requests from a webpage I've noticed http post requests don't show all of the body of the request in the chrome extension app history. I'd expect the dev tools view of the post body to match the postman view of the po

[2018-08-03 10:48] vkaegis commented on #4946
@fedepia Thanks for writing in! We're working on some improvements on the code editor used to preview the response. Expect to see an update with this feature soon!

[2018-08-03 10:49] HaoyuBian commented on #1104
+1

[2018-08-03 10:58] vkaegis commented on #4472
@MichelChouinard With team workspaces now having a shared history, that would be a huge security concern for a lot of our users. We're thinking of a more blunt approach to solving your use case. For example, would just appending the environment name to the URL in the name of the history request provide value?

[2018-08-03 11:06] nikitasius commented on #4954
### i disconnected and connected and your tool wiped all local data, so have no more dublicates in a workspace.
___
But:
![image](https://user-images.githubusercontent.com/3670331/43639600-06026daa-971d-11e8-967a-1428a87b38b4.png)
Why it removes all?

Like i'm working offline. And i have stored data. Then i give ma laptop to someone to work fast locally with postman.
Guy disconnect, use laptop as

[2018-08-03 11:21] harryi3t commented on #3977
@jouzeroff I have confirmed that this is indeed an SSL verification issue.

@M3yo

The setting `SSL certificate validation` is only being applied to request sending.
For now I will be fixing this by making sure that the setting applies to OAuth-2 window as well.

[2018-08-03 11:24] rhexcasas commented on #4382
Not running on Windows 8.1.

[2018-08-03 11:59] ybrodsky commented on #4687
Ubuntu 17
Postman  v6.2.3

Another thing... I had a raw body with a base64 string, around 2mb. Its heavy but still quite distant from those 1,4gb it was using.

[2018-08-03 12:26] cyq7on opened #4957 "Postman native app for linux can not login"
I can't login using postman native app.

![screenshot](https://wx3.sinaimg.cn/mw1024/8b58ae51ly1ftws3o50phj20es0hajrw.jpg)
**App information :**
 - Native App
 - Postman-linux-x64-6.2.2
 - Ubuntu 16.04LTS x64

[2018-08-03 12:30] dantench commented on #4799
I've been having a similar issue where the APP and the Web server appear to be out of sync, in some cases by quite a significant space of time, this all despite having an orange sync icon and everything looking as though it's alright. When doing a sync in my app (v6.2.3 - pro license), I get a different error in dev tools to the OP, which I've attached. I'm on Windows 10.

![image](https://user-im

[2018-08-03 13:04] PrinceAnsong commented on #2761
+1

[2018-08-03 14:02] rcork commented on #3692
@harryi3t any progress on this "feature"? This is the main reason my company wont deploy Postman broadly across our enterprise.

[2018-08-03 14:27] cihanuygun opened #4958 "Blank Screen which black, white or brown on load"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman is not loading since v6.0.10

**To Reproduce**
Run postman from shortcut, cmd or directly from exe.

**Expected behavior**
Simply just run.

**Screenshots**
Initial run:
![image](https://user-images.githubusercontent.com

[2018-08-03 14:48] Unders0n commented on #3522
faced similar problem. Is there any updates for that?

[2018-08-03 14:56] quentin34 commented on #2302
Same thing here, would like to use  RSA-SHA1 for JIRA REST API.

[2018-08-03 15:01] zakiaziz commented on #2691
@SeriousM  do you have a snippet of code or CLI command you can share with us?

[2018-08-03 15:06] vizeke commented on #3692
Me and @alvarollmenezes manage to make the Postman app work behind a corporate proxy on Windows by disabling all postman proxy configs and setting the HTTP_PROXY, HTTPS_PROXY and NO_PROXY environment variables. Can you try that @rcork?

[2018-08-03 15:23] bamdan commented on #4956
I think it is related to the fact that the chrome->dev tools->network->Headers->Request Payload->view source there is an option to "show more" This corresponds to the cut off inside the app.

[2018-08-03 15:26] philipstratford commented on #4624
I've wasted hours because of this today, debugging an API that returns currency values. Didn't occur to me that my API was returning the trailing zeroes but Postman was not displaying them. Sure enough, they're there in Raw mode.

[2018-08-03 16:20] usernameistai commented on #4657
version 6.2.3 same issue as dsnkostic

[2018-08-03 17:53] chrisdeso opened #4959 "In-app "Learn More" link redirect broken"
**Describe the bug**
The invite button's `Learn More` redirect throws a `404` – [https://go.pstmn.io/docs-invite-to-workspace](https://go.pstmn.io/docs-invite-to-workspace)

**To Reproduce**
Steps to reproduce the behavior:
1. Update to `6.2.0+`
2. Click on the `Invite` button
3. Click on the `Learn More` button
4. Watch redirect `404` in browser

**Expected behavior**
The `Learn More` link should

[2018-08-03 18:15] JebediahSpringfield opened #4960 "Sign in once and my workspace belongs to Postman?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Can't tell
 2. Expected behaviour:
My workspace shouldn't be wiped out.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

Start Postman
Ad

[2018-08-03 19:05] rgasioro commented on #2369
System Proxy setting affects my Postman. When ON, hosts file is not honored, when OFF, all is good.
When you ping the host from your hosts file, do you see response?
Reply from 127.0.0.1: bytes=32 time<1ms TTL=128

[2018-08-03 20:27] chrisdeso opened #4961 "Dynamically set Billing Cycle Toggle for additions/renewals"
**Describe the bug**
When adding a user to a current billing cycle on a monthly plan, the `Billing Cycle` toggle is always set to `Annual` which may lead to unwanted billing cycle changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to monthly team's [billing page](https://app.getpostman.com/pay/billing)
2. Click on `Add User Slots`
3. See that `Annual` is selected

**Expected behavio

[2018-08-03 20:53] jhample commented on #1983
Happening to me also!  Just today got stats from the application I'm sending to and they have the same count of my Method call in their logs, exactly the same... twice!   They show a count of 3614 and then another line with count 3614 for my call.  Solutions?

[2018-08-03 20:57] kallen11 commented on #2559
I ran into the same problem with the stand-alone 6.2.3 application.  I use Postman everyday and it stopped working today.  Attempts to reinstall it didn't help.  I fired up my old Chrome app version to continue my work.

If anybody wants to troubleshoot this issue, I currently have a broken standalone Postman along with a working Chrome App Postman.  - kallen@traust.com

[2018-08-03 21:03] rgasioro commented on #2722
UPDATE: please disregard this. After further investigation, I have discovered that Postman is working as expected.

[2018-08-03 21:07] Robin-West opened #4962 "Blank screen with new install of Postman 6.2.3"
**Describe the bug**
The form/screen shows just the top menu and the rest of the form is black, tan, or white.  If I close the form, sometimes another copy pops up but it is also blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install Postman x64 for Windows
2. After install and anytime the program is run, the screen in blank.

**Expected behavior**
The Postman app loads

[2018-08-03 22:48] sivcan commented on #4962
@Robin-West Try this: https://github.com/postmanlabs/postman-app-support/issues/4703#issuecomment-397517447

[2018-08-03 22:54] sivcan commented on #4958
@cihanuygun Try this: https://github.com/postmanlabs/postman-app-support/issues/4703#issuecomment-397517447

[2018-08-03 23:03] sivcan commented on #4959
Also, the learn more link in the toast for collaboration limit is broken
![image](https://user-images.githubusercontent.com/12631777/43669281-7dd4d11a-979f-11e8-8187-6d7c1ed2d14b.png)

Leads to a 404

[2018-08-03 23:19] claireriley opened #4963 "Body isn't removed from JSON when changing requests from PUT to GET"
**Describe the bug**
Body of request is not removed from JSON export when you change it from PUT to GET (after saving first as PUT). Does not appear to be in other conversions (checked PUT and PATCH - didn't happen).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new PUT request with something in the body
2. Save it to a collection (any collection is fine)
3. Change the request met

[2018-08-03 23:37] a85 commented on #4959
This link can be changed through the redirection service right?

[2018-08-03 23:44] cnidus commented on #3791
Also hitting this myself. Would really like to capture ResponsBody in runner results.

[2018-08-04 05:27] numaanashraf commented on #4962
Duplicate of #4703

[2018-08-04 05:27] #4962 closed, assigned to numaanashraf

[2018-08-04 05:28] numaanashraf commented on #4963
Duplicate of #4502

[2018-08-04 05:28] #4963 closed, assigned to nobody

[2018-08-04 05:33] numaanashraf commented on #4958
Duplicate of #4703

[2018-08-04 05:33] #4958 closed, assigned to nobody

[2018-08-04 05:41] cihanuygun commented on #4958
Thank you @sivcan that solved my GUI problem and that time #4897 showed up and when i applied the workaround @kamalaknn provided now postman running properly. Thanks.

[2018-08-04 05:57] numaanashraf commented on #4960
@JebediahSpringfield We back up all your data including workspaces, collections, environments etc to Postman when you create an account with us and any new workspaces or collections you create are realtime synced to your Postman account.

When you sign out of a Postman app we remove all locally stored data, mainly for security. We do not support signing out while maintaining your data yet, but we'

[2018-08-04 06:48] abhijitkane opened #4964 "Unable to publish documentation through the Chrome app"
**Describe the bug**
I'm unable to publish documentation for a collection via the Chrome app

**To Reproduce**
Steps to reproduce the behavior:
1. Sign up via the Chrome app as a free user
2. Create a collection
3. Click Publish Docs from the collection's context menu
4. The web dashboard will show a screen asking you to select an environment and publish. Click Publish
5. Get a 404

**Expected beh

[2018-08-04 06:58] numaanashraf commented on #2722
@rgasioro, Could you open the Postman Console (View > Show Postman Console) in Postman App and send us a screenshot of the request/response logs?

Please note that in the Postman Chrome App - you'ld need to install and enable Postman Interceptor to turn off auto-follow of redirects.

[2018-08-04 07:01] numaanashraf commented on #2559
@kallen11 Could you open the Postman Console (View > Show Postman Console), re-send the request and send us a redacted screenshot of the logs there?

[2018-08-04 07:39] sivcan commented on #4522
Closing due to inactivity.

[2018-08-04 07:39] #4522 closed, assigned to sivcan

[2018-08-04 11:07] gigamac commented on #3446
your link
https://documenter.getpostman.com/view/214062/gh3446/6nBvAjc returns a 404

[2018-08-04 14:41] cedric-jonas-kisters commented on #1104
+1

[2018-08-04 17:34] nikitasius opened #4965 "Response pretty view is cut off when request description is toggled"
There is a visual bug:
1) open any call, open desription, send post call, get data (unformatted)
![image](https://user-images.githubusercontent.com/3670331/43678959-05d40aa4-981d-11e8-9f8e-eb2dd6a6e77b.png)
2) change to json format
![image](https://user-images.githubusercontent.com/3670331/43678962-131297d0-981d-11e8-8d93-ee823004001c.png)
3) close descrition and scroll output:
![image](https://us

[2018-08-04 18:22] fuweichin opened #4966 "Unable to send deleted file but still trying to"
When unable to send a select file(which was deleted or moved away), Postman is still trying to send, without an error dialog or something.

**To Reproduce**
Steps to reproduce the behavior:
1. New Tab, POST  form-data to http://192.168.199.102:8080/api/v1/file/uploadRaw with file(foo.txt), file(bar.txt),
2. Delete bar.txt on filesystem uncautiously
3. Click 'Send'
4. Server error
[code]
**Expected

[2018-08-04 18:28] kallen11 commented on #2559
There isn’t much to see.  I hit Send on a request that had been working a few days ago…

Postman says “Loading…”
[cid:image001.png@01D42BF6.B4D19410]

And then I went to see what was in the console….
[cid:image002.png@01D42BF6.B4D19410]

The day before it stopped working, I had closed a lot of the Postman request tabs.  Towards the end I did a force close (without saving).  Maybe that caused the p

[2018-08-04 18:42] nikitasius opened #4967 "Markdown visual bugs (bold text on 3rd level in lists)"
**Describe the bug**
Incorrect markdown interpretation in visual editor

**To Reproduce**
Write a list with following text (in a request description):
[code]

**Expected behavior**
Correct markdown

**Screenshots**
Here is in editor:
![image](https://user-images.githubusercontent.com/3670331/43679523-af491300-9826-11e8-9339-4366ba11c461.png)
Here is saved (fine):
![image](https://user-images.githu

[2018-08-04 19:11] mtpultz commented on #4848
Hi @bdavidhicks in my raw JSON request `Ctrl + B` doesn't work

[2018-08-05 00:32] winzig commented on #4262
I'm on a 2017 MacBook Pro, macOS High Sierra 10.13.6, and in general Postman is very, very sluggish.

I'm running Postman 6.2.2 right now. Are you saying there are GPU issues in my environment as well, or only on Windows?

My experience is that when I start up Postman, it takes about 5-10 seconds before the UI responds to my click to switch to the "Collections" panel, and then another 5-10 seconds

[2018-08-05 06:06] abhijitkane opened #4968 "Allow multiple environments to be selected for a request/collection/monitor"
**Is your feature request related to a problem? Please describe.**
I have one set of environments for Testing/Stage/Production, and one set of environments for different devices - Android/iOS. I'd like to mix-and-match environments while making requests: Stage+iOS / Production+Android, and avoid creating 3x2 environments to test each combination.

**Describe the solution you'd like**
Allow the Pos

[2018-08-05 06:24] abhijitkane opened #4969 "The key type dropdown hides behind the left-sidebar in the side-by-side layout"
**Describe the bug**
The key type dropdown hides behind the left-sidebar in the side-by-side layout

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to the vertical side-by-side view. Open the dropdown to select the data type for one of the rows in form mode. The dropdown hides behind the sidebar.

**Expected behavior**
The dropdown opens to the right, or over the sidebar.

**Screensho

[2018-08-05 07:26] djbrown commented on #2931
Today I came across this Issue, this is what I found:

- Unofficial Snap: https://snapcraft.io/postman

- Unofficial Flatpak: https://flathub.org/apps/details/com.getpostman.Postman

[2018-08-05 07:50] ghisvail commented on #2931
Indeed, there are multiple means to install and subsequently update,
Postman on Linux today.

Unfortunately, the ones you listed are not officially endorsed by the
upstream developers, and are maintained by their respective community on a
best effort basis. Therefore, the disclaimers you quoted are accurate and
necessary.

On Sun, 5 Aug 2018, 08:26 Daniel Brown, <notifications@github.com> wrote:

[2018-08-05 13:28] MinaZakaria commented on #1104
+1

[2018-08-06 00:32] justasitsounds commented on #1235
+1

[2018-08-06 06:12] junchaw opened #4970 "'Force Close Other Tabs' Option"
#### Screenshot

![2018-08-06 2 03 44](https://user-images.githubusercontent.com/34226239/43699504-9492e688-9981-11e8-87cb-ba077814a6d5.png)

#### Suggestion

As shown in the screenshot, there are 'Close', 'Force Close', 'Close All Tabs', 'Force Close All Tab', and 'Close Other Tabs' options. But more often I was focused on current tab and simply want to **'Force Close Other Tabs'**, I don't know

[2018-08-06 07:13] ash007-postman opened #4971 "Postman Sync help"
My sync button is blue and it keeps saying it is trying to sync – but it doesn’t… (and I do have an active internet session so I have network).

And I’m on the latest version (
![image001 1](https://user-images.githubusercontent.com/41741228/43702057-25acebca-9976-11e8-80c5-2ab28ee06194.png)
![image001](https://user-images.githubusercontent.com/41741228/43702058-25dbdf5c-9976-11e8-8ca3-3ee8651226a

[2018-08-06 07:17] kamalaknn commented on #4971
Hey @ash007-postman

Can you open the devtools for the sync process (`View -> Developer -> Show DevTools(shared)`) and share the logs with us so we can take a closer look at what's happening?

[2018-08-06 07:50] sivcan commented on #4177
@ben-eichler-abcs We've added this in our latest release. (**v6.2.3** as of now)
It's available in the sidebar for collection and folders and in the collection browser.

Eg:
_Sidebar_
![image](https://user-images.githubusercontent.com/12631777/43703643-03b7704e-997b-11e8-8661-29c2e85e8e27.png)

_Collection Browser_
![image](https://user-images.githubusercontent.com/12631777/43703741-646d7348-997b-

[2018-08-06 07:50] #4177 closed, assigned to a85, vkaegis

[2018-08-06 07:53] sivcan commented on #4115
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4177

[2018-08-06 07:53] #4115 closed, assigned to vkaegis, sankalp0o

[2018-08-06 07:56] danielsxiong opened #4972 "Set environment current value only via test script"
Hello,

I want to ask if I can set only the current value of postman environment via test script.
Right now, when I call pm.environment.set() it changes both initial and current value. It's quite troublesome to have to clean the initial values after every request.

Thank you very much

[2018-08-06 07:57] harryi3t commented on #1837
This is released with the latest version of Postman 6.2.3

[2018-08-06 07:57] #1837 closed, assigned to a85, vkaegis

[2018-08-06 08:02] #4669 closed, assigned to thecuriousdev

[2018-08-06 08:31] tmldsousa commented on #4581
@harryi3t can you please check if pm.cookies in the Tests scripts is fixed too? I'm having this issue but, while the cookie is set in cookie manager, pm.cookies is empty in my test script.

To be clear:
1 - I make a request that returns a Set-Cookie header with a secure cookie
2 - The cookie is added to the Cookie Manager (which is OK)
3 - In the post-script (Tests) of this request, pm.cookies is

[2018-08-06 08:56] vladovarga commented on #2833
v6.2.3 + win 10 stil hapening

[2018-08-06 09:22] Ramya-From-Postman opened #4973 "Monitoring graph tool tip is not showing correct average Response Time"
**Describe the bug**.
For monitors running on multiple regions, the value of Average response time in the tooltip remains same as the response time of Sum upon selecting "Average" from the drop-down.

**Steps to reproduce the behavior:**
1. Create a Monitor for multiple regions
2. Go to Monitors' page & run the respective monitor

**Expected behavior**
The tooltip value of graph should change depe

[2018-08-06 09:34] prashantagarwal commented on #4967
@nikitasius Seems to be issue with tab space vs normal space. Try indenting using tabs and see if it works for you.

[2018-08-06 09:38] prashantagarwal commented on #4758
Affects #4965

[2018-08-06 09:39] prashantagarwal commented on #4758
Affects #4967

[2018-08-06 10:16] NeilCrerar opened #4974 "After 6.2.3 update postman wont launch - error fetching user information stops any use of program"
## App Details:

[code]

## Issue Report:
Immediately following the autoamtic update to v6.2.3 widows postman app has stopped working and will not launch correctly.
Instead of getting to the main UI it gets stuck at the launch screen with the three circles and does not progress.
![image](https://user-images.githubusercontent.com/29798873/43711122-a41fccaa-9969-11e8-8577-58d0b871a222.png)
When view

[2018-08-06 10:21] NeilCrerar commented on #4974
Resolved via:
  DevTools > Current View
  Application
  Clear Storage
  Clear site data

[2018-08-06 11:00] kirkcola opened #4975 "Double brace syntax doesn't support object/array type value."
## App Details:
[code]

## Need Help:
   Hey guys, I met a problem when I tried to run the `Collection Runner` with a JSON data file like this:
[code]

When I tried to send a JSON request using the value from the data file in this way:
[code]
And I expect the keys `fields` and the `props` can be replaced with corresponding object/array in the file.

But the console showed these two keys' values in

[2018-08-06 11:39] sivcan commented on #4975
@kirkcola Yes, currently only string data type is supported.
Here's the issue raised for the same: https://github.com/postmanlabs/postman-app-support/issues/4173

As for now for a workaround - you can use variables in stringified format in the data file.
Or store these as environment variables and use them in your body.

[code]

Closing this issue since we'll be tracking all issue related to varia

[2018-08-06 11:39] #4975 closed, assigned to nobody

[2018-08-06 11:59] nikitasius commented on #4967
Yep:
![image](https://user-images.githubusercontent.com/3670331/43715422-c66565d8-9980-11e8-8a1c-3fc7768d3c21.png)
___
![image](https://user-images.githubusercontent.com/3670331/43715440-cf145b58-9980-11e8-87e5-1637ba25a08f.png)
___
With tabs it display correct, but in original markdown you just need 2 spaces for new level. Spaces are more handy and visually pretty (due smaller size).

[2018-08-06 12:27] abhijitkane opened #4976 "The Create-New-Monitor flow's last step links to monitor.getpostman.com, not the created monitor"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a monitor through the 'New' flow
2. In section 3 (Next Steps), the Check monitor results link points to monitor.getpostman.com, which takes me to my workspace listing

**Expected behavior**
The link should point to the results page of the newly created monitor.

**S

[2018-08-06 13:15] danieladougan opened #4977 "Postman Console "Something went wrong" error when opening an array"
Postman v6.2.3 in Windows x64.

I have written the following testing code:

[code]

In the console, I see this:

![image](https://user-images.githubusercontent.com/42144517/43718602-203d19fc-9959-11e8-81ce-5f0dc1638462.png)

When I click on formItemsList1 to expand the array and view the contents, I get this error:

![image](https://user-images.githubusercontent.com/42144517/43718632-369fea58-9959

[2018-08-06 13:46] rgasioro commented on #2722
@numaanashraf please close this issue, Postman is working as expected (I was misled by other clients.)

[2018-08-06 13:47] numaanashraf commented on #4952
@Al54321 This is a confirmed regression. We are working on releasing a fix this week.

[2018-08-06 13:54] numaanashraf commented on #2722
@rgasioro Glad to know that. Could you let us know what caused the confusion? It'll be very helpful for our community and we would also be able to make these issues easy to debug in Postman.

[2018-08-06 13:56] pkoetzmv commented on #1104
+1

[2018-08-06 13:57] numaanashraf commented on #4966
Thanks for reporting this @FuweiChin. I see that this is similar to #4761. Closing this as duplicate.

[2018-08-06 13:57] #4966 closed, assigned to nobody

[2018-08-06 14:03] abelsromero commented on #1104
This post is becoming a recurring joke. It'd be nice to have some official response

[2018-08-06 14:04] harryi3t commented on #4972
@danielsxiong You can turn off the setting `Automatically persist variable values`
After this only current values will be updated from scripts.
The setting is turned on by default for existing users that upgrade to the new version to keep the old behaviour (updaing the variable previously would sync immediately in previous versions)

![postman 2018-08-06 19-31-52](https://user-images.githubusercon

[2018-08-06 14:40] rgasioro commented on #2722
I guess the major source of confusion were cookies. Extension rest clients kept including them, even after deleting. I used another standalone rest client to verify that Postman is not at fault, and that in turn helped me uncover user error (I have assumed that since some extensions work as expected, I am on the right path, which was not true.)

BTW, it's the standalone Postman that works as expec

[2018-08-06 15:25] caseydoran opened #4978 "When exporting a collection, the JSON was from a different collection"
**Describe the bug**
I have 2 collections saved - one for our staging environment, and one for our production. The only difference is the post URL. I exported the staging collection to share with a teammate, and the post URL was from the production collection.

**To Reproduce**
Steps to reproduce the behavior:
0. Create two collections
1. Go to the ... menu and "export" on the 2nd collection in th

[2018-08-06 15:48] #3322 closed, assigned to harryi3t, kamalaknn

[2018-08-06 16:49] mrorat commented on #4636
Same here, it would be amazing if we could have more than one config for oAuth

[2018-08-06 16:58] aviweiss commented on #4636
Yes;

Collections should be able to be based on a API URL, and each API URL should have an oAuth URL used to get a token for that API.

I’m not quite sure why this modality wasn't envisaged from the beginning, as Postman is touted as a tool for testing APIs, and I have to imagine API developers are frequently testing against more than one API.

[2018-08-06 17:29] jldanford commented on #2559
I'm experiencing the same issue with 6.2.3. OAuth works fine but the request hangs. I've tried using GET and POST on several endpoints, using OAuth 2.0 and no auth, same result. The console doesn't show anything - no traffic, no logging, nothing - during the request but does log the OAuth POST.

The problem started today, the first time I tried to use it. I've logged off/logged on, cleared old ses

[2018-08-06 18:14] sivcan commented on #4955
Closing this issue.

If the above-mentioned solution doesn't work for your use case, let me know and I'll reopen this issue ticket.

[2018-08-06 18:14] #4955 closed, assigned to sivcan

[2018-08-06 18:28] mecvamecva commented on #4898
The multi-selection is not working as the old bulk edition at all. I have multi-selected and copied to a text editor. It was pasted as a single line JSON and then I formatted it to be more readable. Then I have edited the value of one variable and tried to paste it back to Postman's environment by multi-selecting all variables again. It pasted it as a new variable that the name was the entire JSON

[2018-08-06 19:25] johno1985 commented on #2082
Still an issue on version 6.2.3, Windows 10

[2018-08-06 21:26] felipeauol commented on #3845
+1

[2018-08-06 22:50] thetreythomas opened #4979 "Collection Runner - Quality of Life Improvements"
**Is your feature request related to a problem? Please describe.**
There are times when I need to run the exact same set of calls, for a long time, over multiple environments. In this latest batch of testing for a bug, I have the same collection of 5 API calls running on 8 servers. So I need to start a collection runner 8 different times, and have 8 different windows open to see the status of each

[2018-08-07 00:35] danielsxiong commented on #4972
Yes, thank you very much. It was not clear to me before

[2018-08-07 02:25] MartinHsu commented on #2559
I encounter same issue as @jldanford  from 8/6 ,2018
Postman hang on request sending, no any log on Postman console. I have tried re-install but no work.

Postman version:  v6.2.3
OS: Windows 10 v1803

Please help, thank you

[2018-08-07 05:31] #4972 closed, assigned to harryi3t

[2018-08-07 06:04] ankit-m opened #4980 "Searchable workspace dropdown in share collection modal"
**Is your feature request related to a problem? Please describe.**
For a large number of workspaces, it is very difficult to find workspaces in the dropdown when you share a collection. (Collection Menu → Share → Share in another workspace)

**Describe the solution you'd like**
Make the workspace dropdown searchable

**Describe alternatives you've considered**
Manually going scrolling to find the

[2018-08-07 06:14] steffenschebesta commented on #4912
any updates on this issue?

[2018-08-07 06:20] steffenschebesta commented on #4244
Will this also work with "inherit auth from parent"? https://github.com/postmanlabs/postman-app-support/issues/4912
Any updates on ETA? Currently, docs are basically useless without the auth information...

[2018-08-07 06:51] SamvelRaja commented on #4814
@Tadimsky  Thanks, this helped in finding the issue. I will update the thread once it gets fixed.

[2018-08-07 07:49] CharanmeetSingh opened #4981 "App initialization takes too long"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
App is being freezing for about 20-30 minutes and then later it starts normally each time I open it.

**To Reproduce**
Steps to reproduce the behavior:
1. Simply open app from your PC.
2. Or open app from command prompt user/app

[2018-08-07 08:02] p00j4 commented on #1757
As per design, **postman.setNextRequest**  is the last statement to be executed. I want to stop the same test to go forward when one of the test fails  (In one request, I have multiple tests)
what am I missing?

**Update**
Yes can be done without the new API

[code]

But with new API, logically, return comes out only from the immediate test not the entire

[code]

Wondering how to make it work wit

[2018-08-07 08:02] nejcr commented on #4262
Switched to postman canary , works as expected

[2018-08-07 08:16] SubhaRaju commented on #2750
Same issue exists for me.Could some one help me on this

[2018-08-07 08:20] ryanhoward1988 commented on #4092
@sivcan Yes the same is happening via newman
The first 2 iterations return HTTP 200 the following iterations all return HTTP 401

[2018-08-07 09:20] andmill opened #4982 "Postman API (api.getpostman.com) returning UnknownHostException"
## App Details:
Postman for Windows
Version 6.2.2
win32 10.0.17134 / x64

## Issue Report:
1. Did you encounter this recently, or has this bug always been there:
Encountered every night over the weekend (Fri, Sat, Sun, and Mon) and once previously a couple of weeks ago. Jenkins HTTP request unable to connect to the Postman API to download collections (api.getpostman.com).

2. Expected behaviour:
L

[2018-08-07 09:45] thecuriousdev commented on #4899
@scottanthonymorin thanks for reporting this issue, I am able to re-produce this.
The emojis are getting replaced with `????` when I try to import the collection with the generated `Run in Postman` button.
But its working fine if I try to import from the documentation https://documenter.getpostman.com/view/4667898/RWM6zDGd (By clicking the Run in Postman button in the documentation page)

We'll lo

[2018-08-07 09:53] #2750 closed, assigned to numaanashraf

[2018-08-07 09:58] BrambleRamble commented on #4952
@numaanashraf That's great, thank you for letting me know :-)

[2018-08-07 10:12] godfrzero commented on #4912
Not quite yet. It'll be on the roadmap soon. And yes, this will also address #4244 @steffenschebesta

[2018-08-07 10:24] ash007-postman opened #4983 "URL Param not being replaced"
I have a URL that looks like https://www.example.com/:page.html and the params list recognizes the "page" parameter and asks for a value for it, but when I send the request, it doesn't replace :page with the value that was set.

I'm on Postman v6.2.3. This was not an issue on the previous version I had (which was probably a few versions back, but I don't remember which it was).

[2018-08-07 10:43] codenirvana commented on #4983
Duplicate of #2427

[2018-08-07 10:46] hardy-devnix commented on #4657
For version 6.2.3 and windows 8.1 professional version , I am facing same issue as dsnkostic

[2018-08-07 11:35] sivcan commented on #4981
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4703

[2018-08-07 11:35] #4981 closed, assigned to nobody

[2018-08-07 11:42] scottanthonymorin commented on #4899
Thank you!

[2018-08-07 12:31] Nickedynick commented on #3566
To expand on @furick1 's answer, I ended upcopying this base64 value into an environment variable and writing a short [pre-request script](https://go.pstmn.io/docs-prerequest-scripts) to copy this into the headers for a given collection/folder:

    var proxyAuth = pm.environment.get("Proxy-Authorization");
    pm.variables.set("Proxy-Authorization", proxyAuth);

Doing it this way, you only need t

[2018-08-07 12:45] manoadamro opened #4984 "App shows splash screen but never actually opens"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I run the app, I get the splash screen, that goes, then nothing.

The Icon is in my launcher and has a dot below it as if it is running, but the window is not on any of my monitors or desktops. (I have checked all of the virtual

[2018-08-07 13:15] andmill commented on #4935
++

[2018-08-07 13:16] thecuriousdev commented on #4984
Hey @manoadamro thanks for reporting this. Please help me with some additional information,
1. Are you opening the app for the first time?
2. Is the Postman window is visible in mission control view?
3. Please share the console logs, ( you can open the console from the menu, View -> Developer -> Show DevTools Shared, and Show DevTools Current View)

[2018-08-07 13:31] steffenschebesta commented on #4912
@godfrzero Thanks for your response.
I know giving ETAs is sometimes hard, but can you give me a rough estimation whether this will be implemented a) within the next 3 months b) within 3 - 6 months c) within 6 - 12 months or d) in more than 12 months?
It's a crucial information for us to know since we're deciding whether or not to go with your solution (which is awesome in every other aspect so fa

[2018-08-07 13:42] thetestgame commented on #4605
Still having this issue on version 6.2.3.

[2018-08-07 13:44] lawnboyy opened #4985 "Postman hangs on sending any request when globals are missing"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Clicking send on any request does not send the request. The send button changes to "Sending..." and the area at the bottom says "Loading...", but nothing happens regardless of how long I wait. If I pull up the developer tools, n

[2018-08-07 14:17] athe0i commented on #4001
MacOS, Postman  v6.2.3, after 302 redirects method resets to GET.

[2018-08-07 14:52] kamalaknn commented on #4985
Hey @lawnboyy

Thanks for the report. From your report I was able to identify code flow that was causing this issue. I could see that you do not have global variables in the storage. That is causing the request sending flow to error out because it is assuming a global variables scope to always be present.

There are two parts to this issue.

1. The request sending flow should be tolerant to failur

[2018-08-07 14:58] xuther commented on #3386
:+1:

[2018-08-07 14:59] lawnboyy commented on #4985
Hey @kamalaknn

Thanks for the quick reply. I am signed in on Postman with my Google account. I have tried restarting the application and I've even uninstalled and reinstalled it. But I continue to get the error. This seems to have started when our corporate network changed. How do I access/configure the global variables?

[2018-08-07 15:10] kamalaknn commented on #4985
Hey @lawnboyy

Can you restart the app open the shared process logs with `View -> Developer -> Show DevTools (Shared)` and share any errors you see?

It will help me identify the cause for why globals are missing.

Also can you give me a description of what the state of your app is, how many workspaces do you see, collections, the sync indicator etc.

[2018-08-07 15:12] Ameer499 commented on #4262
Same issue with me.

[2018-08-07 15:15] lawnboyy commented on #4985
Here are the shared process logs:

![image](https://user-images.githubusercontent.com/8755968/43784912-db82918e-9a2a-11e8-88de-ebd53147ff81.png)

[2018-08-07 15:16] lawnboyy commented on #4985
![image](https://user-images.githubusercontent.com/8755968/43784927-e23794de-9a2a-11e8-886a-a8fb84e10473.png)

[2018-08-07 15:17] lawnboyy commented on #4985
Here is my application. I've never really set up workspaces. Let me know if there is something specific you'd like to see.

![image](https://user-images.githubusercontent.com/8755968/43785049-21a0a098-9a2b-11e8-8a60-52cef370d425.png)

[2018-08-07 15:28] kamalaknn commented on #4985
Hey looks like you have sync disabled. Can you open `Settings -> Sync` and check?

[2018-08-07 15:32] winzig commented on #4262
I concur with @nejcr, switching to [canary build](https://www.getpostman.com/canary) also seems to have resolved my performance/startup issues on macOS! Wonder what changed.

[2018-08-07 15:33] lawnboyy commented on #4985
Yes, it was disabled. I enabled it and it seems to be working again. Thanks a lot for your help!

[2018-08-07 15:44] kevinetore opened #4986 "Not adding the certificate to a request."
**Issue**
Postman is not adding the certificate to a outgoing request.
I'm sending a request to https://postman-echo.com, with SSL certificate verification both tested on on/off. And the certificate added under the settings/certificates section.

**To Reproduce**
1. Add certificate under the settings/certificates section.
2. Send request to https://postman-echo.com
3. Open console and validate if

[2018-08-07 15:49] victorcunya commented on #4984
![image](https://user-images.githubusercontent.com/5834885/43786953-7e5f48ee-9a2f-11e8-94d8-a04ad033afff.png)

[2018-08-07 15:50] kamalaknn commented on #4985
Glad that it worked.

[2018-08-07 15:58] kamalaknn commented on #4974
Hey @NeilCrerar

This seems to be a duplicate of #4897

[2018-08-07 15:58] #4974 closed, assigned to kamalaknn

[2018-08-07 15:59] kamalaknn commented on #4984
Hey @victorcunya This seems to be duplicate of #4897

Can you try the workaround suggested in the parent thread?

[2018-08-07 16:10] victorcunya commented on #4984
Yes, I resolved it by Clear Storage - Clear Data.
Thanks @kamalaknn

[2018-08-07 16:14] dadvir commented on #4001
Probably happens on all platforms, it’s a bug in design.
I suggest to (at least) show a warning.

[2018-08-07 17:18] soumyajit22 commented on #6682
+1

[2018-08-07 17:20] manoadamro commented on #4984
@thecuriousdev Since this was closed before I had a chance to answer your questions, I'll keep an eye on that parent thread for updates. (although I'm not sure it is a duplicate, since the solutions posted there didn't help).
I have a backup so I'm in no rush

[2018-08-07 17:45] ddfabbro commented on #3011
@prashantagarwal Did you reproduce this issue on Linux? I'm facing the same problem. When I click on `Run in postman` button on this [page](https://docs.saffe.co/), it doesn't show the option to import in native app (Linux), as opposed to when you click it on OSX.

![screenshot from 2018-08-07 14-44-17](https://user-images.githubusercontent.com/17279638/43792913-6d7e5a08-9a50-11e8-8283-9adbbdf2a0c

[2018-08-07 18:18] jrsiegs commented on #4935
I found a way around this by reporting the test results as a .xml and using a JUnit plugin to publish the results. However, there are some weird things that occur while doing this so I still think a Postman plugin would make test result visualization much better for development teams using Jenkins.

[2018-08-07 18:22] vkarumuri-phunware commented on #4374
Steps that solved my issue:

1. Delete Postman using Option 2 (directly from hard disk) https://macuninstallguides.com/remove-postman-2-1-3-on-mac.html
2. Reinstall the app
3. Open the app. -> This time It prompted to login again.

[2018-08-07 18:23] ghost commented on #1104
+1

[2018-08-07 20:33] csm-noahjahn commented on #4940
Hello, do you have any update on this issue?

[2018-08-07 23:46] jessebenson commented on #2801
+1

[2018-08-08 02:50] debodirno commented on #2082
Facing the same issue on version 6.2.3, Mac.

[2018-08-08 04:17] alibaghernejad commented on #3171
It's happened for me too.
Postman monitoring generate repeating error that say "Error: callback timed out"

[2018-08-08 04:34] yanxiaodi commented on #4488
Unfortunately, if Postman doesn't send the client_id in the body when using Password Credentials , it cannot get the accessToken from Microsoft AD. The error:
`The request body must contain the following parameter: 'client_id'.`

Could we provide an option to allow users decide it? Thanks.

[2018-08-08 04:44] SamvelRaja commented on #3011
Tracking it in https://github.com/postmanlabs/postman-app-support/issues/3798

[2018-08-08 04:44] #3011 closed, assigned to SamvelRaja

[2018-08-08 05:21] lejewk commented on #2559
I also have same problem. version 6.2.3, window10

[2018-08-08 05:31] RoyalRajdeep commented on #3822
+1

[2018-08-08 06:22] kamranghiasvand commented on #4404
if you want to call `pm.sendRequest` in global function ,try this:

 1. define global function in collection pre-request, like this:
    ` postman.setGlobalVariable("globalFunction", (parameters) => {
       console.log(parameters);
       pm.sendRequest('https://google.com/', function(err, resp) {
        pm.expect(err).to.not.be.ok;
        });
    });`

 2. use function like this:

    `eval(gl

[2018-08-08 06:23] kamranghiasvand commented on #882
if you want to call `pm.sendRequest` in global function ,try this:

 1. define global function in collection pre-request, like this:

    ` postman.setGlobalVariable("globalFunction", (parameters) => {
       console.log(parameters);
       pm.sendRequest('https://google.com/', function(err, resp) {
        pm.expect(err).to.not.be.ok;
        });
    });`

 2. use function like this:

    `eval(g

[2018-08-08 06:45] numaanashraf commented on #4940
@csm-noahjahn Could you open Postman's DevTools via (Menu > View > Show DevTools (Current View)) at let us know if you see any errors there?

[2018-08-08 06:47] numaanashraf commented on #4986
@kevinetore Your certificates seems to be mis-configured. Certificates are sent if the domain matches. It looks like the domain is `mydomain` while the request is sent to `postman-echo.com`.

[2018-08-08 06:48] #4983 closed, assigned to nobody

[2018-08-08 06:51] numaanashraf commented on #4379
Updated to node v8.2.1 in Postman v6.1+.

[2018-08-08 06:51] #4379 closed, assigned to numaanashraf

[2018-08-08 07:03] numaanashraf commented on #4102
Bulk edit option is deprecated and are being removed since v6.2 and we are working on enabling bulk edit based workflows on the main editor itself. We are tracking this change at #4898.

[2018-08-08 07:03] #4102 closed, assigned to nobody

[2018-08-08 07:03] prashantagarwal commented on #3194
Duplicate of #4869

[2018-08-08 07:03] #3194 closed, assigned to prashantagarwal

[2018-08-08 07:04] #4915 closed, assigned to numaanashraf

[2018-08-08 07:07] prashantagarwal commented on #4967
@nikitasius I am closing this for now since the workaround seems to be working. We are also looking into improving core text editor and I have linked this issue with the same.

[2018-08-08 07:11] prashantagarwal commented on #4000
Related to #4179

[2018-08-08 07:11] #4000 closed, assigned to prashantagarwal, preethammavin

[2018-08-08 07:31] kevinetore commented on #4986
@numaanashraf Thanks for your quick response. You are absolutely right, thanks! I'll close this issue.

[2018-08-08 07:31] #4986 closed, assigned to numaanashraf

[2018-08-08 07:58] abhijitkane opened #4987 "The example response prettify language is not auto-inferred from the response.content-type header"
My saved response has a response header: Content-Type: application/json
But the response body is shown with the 'Text' option as the default language - this should be inferred from the header, if one exists.

Postman 6.2.3, OSX

[2018-08-08 08:12] godfrzero opened #4988 "Transferring a collection leads to broken public documentation"
**Describe the bug**
If a collection is transferred to another user (for example, when a user is removed from the team) causes the public documentation to stop working. Visiting the public documentation displays an error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Be in a team with a user who has published documentation
2. Remove that user from the team, and while doing so, transfe

[2018-08-08 08:29] stepanbokoc commented on #1906
Hi,
what is the plan with this feature? For long time this is one of most requested features but if I look into your [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) it's not even in 1-year planning board. I find RAML best API description language, but it's lack of tooling is making it hard to use compared to others :-(

[2018-08-08 08:40] remisbaima commented on #2541
same issue here. I am using postman 6.2.3

[2018-08-08 08:55] harryi3t commented on #4488
@yanxiaodi There is an option already for this. Just choose `Send client credentials in body` from the `Client Authentication` dropdown.

![postman 2018-08-08 14-23-07](https://user-images.githubusercontent.com/5207331/43827084-99e461de-9b16-11e8-97f1-b69a78ea70b8.png)

We have only removed `client_id` from body when the first option `Send as basic auth header` is selected

[2018-08-08 09:00] bogdandevlpr commented on #3107
For me it worked after I pinned and unpinned the icon in the taskbar

[2018-08-08 09:30] sshushliapin commented on #2260
It seems recent versions (starting from 6.1.4) can be downloaded via [Postman Apps page](https://www.getpostman.com/apps#changelog-windows-app).

[2018-08-08 10:19] yanxiaodi commented on #4488
@harryi3t Great! Thank you very much.

[2018-08-08 10:29] numaanashraf commented on #2260
Please note that downgrading to older versions is not recommended can lead to data loss or the app not launching or working as expected due to incompatible formats of data stored locally.

[2018-08-08 10:32] sshushliapin commented on #2260
Yep, but #4952 brings much more harm IMHO.

[2018-08-08 11:08] snspinn commented on #3099
I have a similar issue. All test in my collection but the last are omitted from the collection.
This is a new collection. I have tried exporting in v2.1, v2 and v1 in that order and they all seem to have same issue.
This only cropped up recently and I have managed to export collection successfully before this only last week..

[2018-08-08 11:15] numaanashraf commented on #3099
@goldfishalpha could you let us know which Postman app version you are using?

[2018-08-08 11:24] harryi3t commented on #4892
This is fixed in the latest version of Postman 6.2.3

[2018-08-08 11:24] #4892 closed, assigned to harryi3t

[2018-08-08 11:28] snspinn commented on #3099
@numaanashraf Thanks for the reply.
I'm using v6.2.3 .

[2018-08-08 11:35] numaanashraf commented on #3099
@goldfishalpha Could you share screenshots showing the issue? We are having trouble replicating this at our end.

[2018-08-08 11:36] numaanashraf commented on #3099
@goldfishalpha Also, please open the app's devtools via (View > Show DevTools (Current View)) and send us a screenshot of any errors there after trying to export.

[2018-08-08 12:09] anudeepmedicharla opened #4989 "Website doesn't recognise if an account has been deleted"
I signed into my dashboard and later deleted the account. But the website still recognizes as I signed in and shows the "Dashboard" button. When I click on the button, the identity service returns "No such user found".

Steps to reproduce:
1. Sign into your postman dashboard
2. Delete that account
3. go to "getpostman.com"
4. You can see the "Dashboard" button.

Ideal behavior:
The website should

[2018-08-08 12:16] snspinn commented on #3099
@numaanashraf,
I sent those screen shots on to  help@getpostman.com

I forgot to mention my original problem before I came upon this one: The
urls were not being included in the collection either.
I started by manually adding these fields AFTER exporting the collection.

Attached are warnings I get when exporting my collection (1 warning each
time I do).
I have also included a screenshot of my pos

[2018-08-08 13:02] snspinn commented on #3099
So looks like I made a major oversight.
I had not saved changes to each request (tab) in the collection before I exported them or ran them!
I had hit the save button several times before without realizing the save would only take effect on the current request tab I had selected/highlighted and not all of them.

This seems like a strange setup in the GUI as I had closed postman (without closing ind

[2018-08-08 13:06] numaanashraf commented on #3099
@goldfishalpha Glad to know this is resolved. We agree that unsaved edits not being exported or used in collection runs can be a source of confusion and are part of the learning curve of. We'll get better at this with better documentation and communication within the app.

/cc @vkaegis

[2018-08-08 13:08] maguirpd commented on #4977
I have had the same issue with the Console window when using the javascript: console.log(...) statement. I have found that if I provide 1 arg, I can expand the value in the Console window. However, when I use 2 args like console.log("myObj", myObj); then expanding the value in the Console fails for me.

[2018-08-08 13:13] dDiverVS commented on #4677
Is there any update on this topic?
It's been a while and I am still unable to automatize my tests in the way I'd like to.

[2018-08-08 13:22] nephisha commented on #3099
When exporting a collection as v2.1 -- The resulting collection.json file doesn't have the body for any POST request. It is seen as "body": {
					"mode": "raw",
					"raw": ""
				}

But the actual POST request in the Postman app has a Json Body defined.

[2018-08-08 14:00] slaman75 commented on #4677
No update?

[2018-08-08 14:13] SamuelDev opened #4990 "Adding multiple access token methods"
## App Details:
Postman for Windows
Version 6.2.3
win32 10.0.16299 / x64

## Feature Request:
 1. Feature:
Authorization Access tokens

 2.  Request:
We have multiple environments that use Oauth2.0 for authentication.  Under this, we have different types of tokens depending on the environment we work in, where some may be implicit tokens, while other are client credential tokens.  On top of this,

[2018-08-08 14:22] andydavidson commented on #2931
Every application on my computer asking to maintain its own software updates and dependencies is going to leave a stinking mess. There is a reason the community has signalled a strong preference for a solution that works via the existing package manager in their linux distribution. Please adopt this method and not some trendy "I can update myself" poison.

[2018-08-08 14:28] datacreed commented on #4814
Same here,  I recreated a shortcut from the app executable for now, seemingly in early July 2018, which appears when this thread was created, but it works.  Icon is paper-white.

[2018-08-08 14:30] snspinn commented on #3099
@nephista in case you are making the same mistake as me; are all changes made to EACH POST request saved?
 If the request tab has a red/orange dot on it, the changes have not been saved

[2018-08-08 14:31] ghisvail commented on #2931
@andydavidson I totally agree with you, though I can understand the upstream developers' perspective. Especially if they are not familiar with the Linux ecosystem and packaging solutions.

The good news are that we have got some choice (snap and flatpak) and a community of users who are willing to help maintain and update those packages. Upstream may join the maintenance effort later, when they fe

[2018-08-08 14:31] x80486 commented on #2931
@andydavidson, If you use a Flatpak (or Snap), the dependencies thing is not an issue at all. Additionally, you would get the updates consistently (as long as they are published), etc.

Moreover, a PPA would be only a benefit for Debian-flavored distros.

[2018-08-08 14:42] kamalaknn commented on #3099
@nephisha

Are you on the `6.2.4-canary01`?

We are aware of an issue where raw body is not exported in the collection. We are pushing a fix for this on the canary channel soon.

**PostmanCanary 6.2.4-canary01 is the only version that is affected by this. The current production channel does not have issues with raw body on exports**

[2018-08-08 14:56] SeriousM commented on #2691
sure! this is done with windows batch but you can easily convert it to bash.

[code]

The collection id can be found if you query `https://api.getpostman.com/collections/` with the api key.

[2018-08-08 15:06] steffenschebesta commented on #4912
@godfrzero?

[2018-08-08 15:17] karelfavresse opened #4991 "Bulk Edit Collection variables is gone"
Starting from version 6.2.3, the option to Bulk Edit collection variables is gone.

Before that version, Bulk Edit would switch the table view to a single edit field where multiple variables could be edited as a single text block.

Very handy for copying variables between collections.

This is no longer possible.

Please reinstate this option.

[2018-08-08 15:26] numaanashraf commented on #4991
@karelfavresse Bulk Edit is deprecated and we are removing it starting v6.2. We are tracking this change at #4898 and you can find the detailed explanation of this change at https://github.com/postmanlabs/postman-app-support/issues/4898#issuecomment-408343416.

We are working on enhancing the table view to support bulk editing workflows. Currently, you can multi-select rows in the table view via c

[2018-08-08 15:26] #4991 closed, assigned to nobody

[2018-08-08 16:32] godfrzero commented on #4912
Ah, sorry. Like you said, giving an ETA is difficult, especially since there are multiple things already on the roadmap. I'd estimate 3-6 months for this particular feature right now, but that could change depending on what else pops up between now and then.

Either way, when we start implementing this features I'll be sure to update this thread.

[2018-08-08 16:47] csm-noahjahn commented on #4940
Hi @numaanashraf Attached are some of the screenshots of the result we get when launching Postman.

When opening Postman from Applications on MacOS, we receive the following result:
![image](https://user-images.githubusercontent.com/41996558/43851059-a89ed010-9b07-11e8-81b3-c579dee9915b.png)

When opening Postman from terminal we see the following result:
![image](https://user-images.githubusercon

[2018-08-08 17:48] aviray48 opened #4992 "Requests in Collection Getting Re-Ordered"
**Requests in Collection Getting Re-Ordered**
- When duplicating a Collection the ordering of the Requests in the duplicated Collection is being changed.
- When duplicating a Requests in a Collection the entire collection is reordered.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on a Collection
2. Click Duplicate
3. Open the duplicated Collection
4. Note that the order is dif

[2018-08-08 18:50] loopDelicious opened #4993 "Editing environment hangs"
**Describe the bug**
Opening the Manage Environments modal displays an empty environment which hangs for > 1 minute. During this time, the app is non-responsive. Can't close the window, view values, or edit values for this time. Once it loads it seems to take a very long time to edit values too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''Edit" link in the environment quicklook.

[2018-08-08 19:05] steffenschebesta commented on #4912
@godfrzero
I understand that you have multiple priorities atm. I just would like to point out that your automated API docs generation is currently completely useless for many very common authorization methods (sorry for the harsh words but it's the truth). And btw: that's a PRO feature that your customers are paying for...
Also, there's no workaround possible. I have tried out 3 methods to get the

[2018-08-08 20:29] ChrisSimmons commented on #4898
@a85 Is it possible to reveal this new data structure similarly to the older bulk edit view?  I totally see where you're coming from if you're limiting your data storage format to simple K/V like this, but this _is_ a frustrating loss of functionality.  Is there a compromise?  Maybe "bulk edit" in JSON form?

[2018-08-08 21:16] yanxiaodi commented on #4488
@harryi3t Can we add the custom params when requesting the token? It seems like that the `resource` param is mandatory for the Microsoft AD OAuth 2.0:

`The request body must contain the following parameter: 'resource'`

Should I open a new issue for it? Thanks.

[2018-08-08 21:34] ActionScripted commented on #1257
+1 Collapse/expand all toggles.

Would be great to have a larger inline expand/collapse toggle, too, similar to how Firefox handles JSON.

[2018-08-08 22:02] ahmetbombaci-united commented on #4677
I cannot make OAuth2.0 authentication process since it is mandatory to use TLS1.2 in the current setup

[2018-08-09 02:24] timhay68 commented on #4849
I can confirm this issue is present in Postman for Windows v6.2.3, win32 10.0.17134 / x64

Lenovo Yoga 720 with two secondary monitors in extend mode.
Windows 10 Pro x64 - 1803 (OS Build 17134.165)
Lenovo screen set to primary:
   Scale and Layout = 300% (Recommended)
   Resolution = 3840x2160 (Recommended)
   Orientation = landscape
Secondary 1 and Secondary 2:
   Scale and Layout = 100% (Recomme

[2018-08-09 03:08] raghav19 opened #4994 "Get Expected & Actual Result when a test fails in PostMan test scripts"
Hi,
I am trying to understand how to get the expected and actual result for each test of my test script in postman . Somethings that i tried is
1.  `pm.test("Status code is 200", function () {
      pm.response.to.have.status(200);
      console.log("TestCase: Status Code should be 200"+",
        Expected: "+"Response code should be 200"+", Actual: "+pm.response.code);
      });`

2.  `pm.test(`S

[2018-08-09 03:38] godfrzero commented on #4989
There might be a ~5 minute delay in user state propagation between services. Did this state persist for more than 5 minutes?

[2018-08-09 04:05] sahalsaad commented on #4703
I facing the same issue in **manjaro**.
POSTMAN_DISABLE_GPU=true still doesn't fix the problem.

1. Start postman
2. Go to pre-request script tab
3. Change to another window
4. Come back to postman = black screen

Update:
Fixed by using [postman-bin](https://aur.archlinux.org/packages/postman-bin/).
Problem only happen in [postman](https://aur.archlinux.org/packages/postman/)

[2018-08-09 04:09] damircuca commented on #3171
Love the product - but agree with everyone else 5 minutes doesn't make much sense. Now I have to copy / paste postman collections x 50 times - just to get around this issue.

[2018-08-09 04:29] kamalaknn commented on #4992
Hey @aviray48

I've tried the steps you've provided, but couldn't reproduce this behavior. Are you seeing this for all collections consistently or is it particular to a specific collection?

Do you see any errors in your devtools? Can you attach the logs from `View -> Developer -> Show DevTools(Current View)` and `View -> Developer -> Show DevTools(Shared)`?

[2018-08-09 04:47] kamalaknn commented on #4993
Hey @loopDelicious

Can you check the size of the values in your environment? Do you have very large values like stringified libraries for BDD testing in your environment?

It is possible that very large environment values could take time some time to load.

I tested an environment with the JQuery library loaded 10 times in an environment. It took 10-20s on macbook pro. These operations can be sys

[2018-08-09 06:28] sivcan commented on #4994
@raghav - You can open up the **Postman Console** and write a 'console.log' anywhere in the test script and you'll be able to print every value that you want to see.
The test results displayed in the UI are for pass/fail.

Eg:
[code]

Postman internally uses an extended version of chai: https://github.com/postmanlabs/chai-postman
You can read more about testing using chai in the docs: http://www.c

[2018-08-09 06:28] #4994 closed, assigned to nobody

[2018-08-09 06:34] xuyannus commented on #2801
+1

[2018-08-09 06:55] anudeepmedicharla commented on #4989
@godfrzero Yeah, it's been a few days now.

[2018-08-09 07:19] raghav19 commented on #4994
I tried doing this
`console.log("Actual: "+pm.response.headers.hasOwnProperty("Content-Type"));`

But its evaluating to false. The actual test is
`pm.test("TestCase: Check Content-Type is present" , function () {
   console.log("Actual: "+pm.response.headers.hasOwnProperty("Content-Type"));
   pm.expect(pm.response).to.have.header("Content-Type");
});`

[2018-08-09 07:20] godfrzero opened #4995 "Restore not working in Postman v6.2.3"
**Describe the bug**
I click on 'Restore' in the collection sidebar, it does nothing. If I open the console, I see that the request is being made with the incorrect verb.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any collection in the Postman App
2. Make some change, any change
3. Now open the activity feed for this collection
4. Click the 'Restore' link at a point before the chan

[2018-08-09 07:32] bhargavkaranam commented on #4994
Hi @raghav19,
Use `pm.response.headers.has('Content-Type'));` to check if `Content-Type` is present in the list that is returned. For reference, you can check http://www.postmanlabs.com/postman-collection/HeaderList.html

[2018-08-09 08:41] ankitjaggi commented on #4982
Hey @andmill! Is this something that you're still facing, or was it an intermittent issue at that time?

[2018-08-09 08:42] ankitjaggi commented on #4988
We have found the issue on our end. We will release a fix for this soon and keep this issue updated on the same.

[2018-08-09 09:11] Anwar-Ul-Haq commented on #2559
Having same issue for version 6.2.3 on  window10.
Tried re-installing few times but that did not help.

[2018-08-09 09:15] raghav19 opened #4996 "Run all iterations for a specific test and then call a specific API with no iteration data"
I have a Rest API which is used for registering some data using POST request. In postman i have multiple data iterations that i run it for using collection Runner and all that data is updated successfully and validated. POST request response is as below. The id generated is dynamic and is saved in postman test script for each iteration using the 'pm.info.iteration' for each id for later use

    [

[2018-08-09 09:16] Falx commented on #2559
same issue here!

[2018-08-09 09:16] shamasis commented on #1104
@abelsromero this is official: https://github.com/postmanlabs/postman-runtime/pull/623 ❤️

this is going out soon.

[2018-08-09 09:22] kamalaknn commented on #3099
Hey @nephisha

This is fixed and released as `6.2.4-canary02`

[2018-08-09 09:33] petrkohut commented on #2801
+1

[2018-08-09 09:50] andmill commented on #4982
Hi @ankitjaggi, in my test runs over the weekend, this was seen Friday, Saturday, Sunday and Monday nights. I have not seen the issue during the day or on Tuesday/Wednesday night into today.

[2018-08-09 11:59] raghav19 commented on #4996
The gist of the request is, the iterations should run for a specific request  or a set of requests and then no iteration is required, ,meaning control iterations at per request/multiple request level. Similar feature can be observed in ReadyAPI tool by SmartBear

[2018-08-09 12:18] venkatcc commented on #2985
Issue seen in v6.2.3 as well.

[2018-08-09 13:08] harryi3t commented on #4488
@yanxiaodi There's already an open feature request for this here https://github.com/postmanlabs/postman-app-support/issues/2523

Also, a user suggested a workaround (if you are not using client-credentials) on that thread https://github.com/postmanlabs/postman-app-support/issues/2523#issuecomment-339526853

[2018-08-09 13:34] numaanashraf commented on #4952
We've released v6.2.4 which includes the fix for this issue. Please update and let us know if this issue is resolved at your end.

Incident Report: https://status.getpostman.com/incidents/84xjf585mkf5

[2018-08-09 13:41] kamalaknn commented on #4985
@lawnboyy We've pushed a fix in `6.2.4` that will make sure the system continues to work with sending requests when there are failures with setting up globals.

[2018-08-09 13:41] #4985 closed, assigned to harryi3t

[2018-08-09 14:19] steffenschebesta commented on #3632
@godfrzero any updates on the ETA for the favicon?

[2018-08-09 14:20] steffenschebesta commented on #2732
Agreed - this would be a lot more user friendly.
Also should be fairly easy to implement

[2018-08-09 14:23] steffenschebesta commented on #4716
@godfrzero
Third open issue concerning the missing auth header in the documentation (other two are https://github.com/postmanlabs/postman-app-support/issues/4244 and https://github.com/postmanlabs/postman-app-support/issues/4912)

[2018-08-09 14:31] godfrzero commented on #4716
@steffenschebesta This issue is unrelated. You're referring to auth headers in the request. This issue is about response headers.

[2018-08-09 15:13] BrambleRamble commented on #4952
Yes, I've tried using 6.2.4 this afternoon and this issue isn't causing me problems any more :-)
(Detail: I've tried a straight import/export with no additional changes, and I've also tried making extra changes to my collection before exporting, just to be sure. Both look good now.)

Thanks again for all you help!

[2018-08-09 15:22] Anwar-Ul-Haq opened #4997 "Request sending hangs forever for V6.2.3 on Windows 10"
https://github.com/postmanlabs/postman-app-support/issues/2559#issuecomment-411693240

above issue appearing again for

Postman version: v6.2.3
OS: Windows 10

[2018-08-09 15:23] Anwar-Ul-Haq commented on #2559
@Falx bug reported

[2018-08-09 15:34] ilyabelkin commented on #2209
Is there a timeframe for Hybrid flow/Grant Type, specifically **[code id_token]** support in Postman?
Most of our new applications are setup as described here:
http://docs.identityserver.io/en/release/topics/grant_types.html#hybrid

Thank you for considering this!

[2018-08-09 15:55] maguirpd opened #4998 "I've found that the recent update has caused the Postman icons to disappear - Postman v6.2.4 is the latest version"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2018-08-09 15:56] maguirpd commented on #4998
![image](https://user-images.githubusercontent.com/5106520/43910581-1d119ba6-9bf5-11e8-8e20-beaa983f1ed8.png)

[2018-08-09 15:57] glenpike commented on #4321
Hi, I am still getting this when I swap between Mac OS at work and Ubuntu at home.  I will try again with latest versions, but was happening with recent ones the other day.

[2018-08-09 16:00] raghav19 opened #4999 "More Documentation details on use of certain specific scripting functions"
I am trying a few scenarios as a part of my tests in postman

1) Check presence of key and print status of key existence in  json response.
     check presence:  `pm.expect(pm.response.json()).to.have.property("id");`
     print status: `pm.response.text().has('id)
I couldn't find a way to print the status using `pm.response.json()` , how should I?

2) Get value from headers, Get value from respon

[2018-08-09 16:02] raghav19 commented on #4994
Thanks.It worked

[2018-08-09 16:25] cassioconti commented on #3022
Since this feature is not available, my workaround for now is creating folders inside a collection. Then I keep only one collection. By the way, drag-and-drop works for moving the saved requests.

[2018-08-09 16:47] #4952 closed, assigned to numaanashraf

[2018-08-09 16:48] kamalaknn commented on #4997
@TechLearner2 Hey could you try updating to the latest version v6.2.4 and testing the same?

[2018-08-09 17:25] ianlintner commented on #3390
+1

[2018-08-09 18:33] abarnwell opened #5000 "Collection variables not being compiled on documentation"
Collection variables are showing as {{}} on documentation. All other variables are replaced by the value of the variable but collection variables don't get compiled. This has meant that we can't use collection variables for collections we intend to use on documentation.

[2018-08-09 18:56] itsdarrylnorris commented on #2691
Hey @SeriousM , This works great only for the export part of it. However, it will be nice to have something we can use to automatically import into the postman collection and we can see it in the UI.

From what I have read online they are using [LevelDB](http://leveldb.org/), which makes importing this collection hard (maybe impossible), unless they give us an API or CLI to be available to import

[2018-08-09 18:59] fatihtekin commented on #3480
I had the same issue as @qpi because I forgot to set Authorization to `No Auth`

[2018-08-09 21:04] TheDavidJohnson opened #5001 "Data lost in Postman for Linux Version 6.0.10"
## App Details:
[code]

## Issue Report:

A few days ago I launched Postman for Linux for the first time in a few months. I clicked the button to update, but didn't install anything. My data was there in the app, but I had to set aside the project and closed the app.

Today, I opened Postman again and all my data is gone. I've looked through other support requests and can't seem to figure out wher

[2018-08-09 23:19] piersmacdonald commented on #3142
We need this feature as well before we fully migrate away from readme.io

[2018-08-10 04:33] SamvelRaja commented on #5001
@TheDavidJohnson
Few clarifications to help you better and fast.
1. Did you update the app from 5.x version?
2. When you opened 6.0.10 you had the data before?
3. Postman store data in ~./config folder, if that is removed in anytime, the data would be lost.
4. Also, recommend you to share the logs from View -> Developer -> Show Devetools (Shared)
     - Share the console logs and also
     - In de

[2018-08-10 05:55] sahanabadri commented on #1825
I followed the above-mentioned code to set dynamic values for the variables. But I m not able to reset every time, I call the function. How to make the req 2 to wait till req1 is completed... If I get an answer, I will you grateful to you... Many thanks in advance...

[2018-08-10 06:36] foxbaucia commented on #3386
Please, this might be Priority 1!
I constantly lose my saved request.

[2018-08-10 06:56] kavya-jain12 commented on #2005
Was facing the same issue.
 Try running php artisan passport:install --force o server and then run
php artisan passport:keys --force
This will solve your problem. This happens when you copy data from local to remote database. Re-installing passport on server helps where it generates its own keys and overrides the local keys in database.

[2018-08-10 07:00] SeriousM commented on #2691
There is no api for that yet.
Our approach is to maintain all requests/tests in one account, use the
batch file to download a collection for a product and use a docker image
with postman (npm) to run the tests in isolation.
I would love to have a collection file we could open to modify and check in
without the whole "everything is online", but that's not the case (yet?).

I hope that helped you. I

[2018-08-10 07:06] SamvelRaja commented on #4998
Tracking in #4814

[2018-08-10 07:06] #4998 closed, assigned to nobody

[2018-08-10 07:41] sivcan commented on #4999
@raghav19 -
You can import this collection in the native apps and I've documented some things to help you out  in the Test Scripts.
https://www.getpostman.com/collections/c370afaf5ffbb9008168

You can definitely do the testing in better ways but this was just to give you the jist of how things can be worked around in the test scripts.

Also, we maintain this repository for bug reports or feature r

[2018-08-10 07:41] #4999 closed, assigned to nobody

[2018-08-10 07:57] oyvigri commented on #4108
This is still not fixed?

[2018-08-10 08:45] glenpike commented on #4315
Hi,

This is still an issue with Newman v3.9.4 and Postman v6.2.3

The newman sample env is below:

[code]

If you add a "name" key / value to the root of the JSON it works, so either Newman needs to dump a name, or Postman needs to make that optional.

[2018-08-10 09:08] carodrigues opened #5002 "Can´t set,dynamically , environment variables"
Hi,

I have issue with set environment variables.

I have the follow GET body:

    [
        {
            "id": "2448ec2e-b849-4835-9c6a-02ea7b28f298",
            "name": "test sequence for Abort",
            "description": "This a test sequence",
            "type": "Product",
            "createDate": "2018-08-09T21:01:47.3120000Z",
            "lastUpdateDate": "2018-08-09T21:01:47.3120000Z

[2018-08-10 09:22] numaanashraf commented on #2209
@ilyabelkin We are looking into how we can support the Hybrid flow. We'll provide an update soon.

[2018-08-10 09:27] kalemdzievski commented on #3966
Have the same issue in Postman for Linux v6.2.4. Tried to remove ":" but didn't work.
Please reopen the issue.

[2018-08-10 09:29] bhargavkaranam commented on #5002
Hi @carodrigues,
Setting the environment variable within a loop should work. Can you open the Postman console and check if there are any errors?

[2018-08-10 09:32] carodrigues commented on #3503
Hi guys,

I the same issue when i execute "{{endpoint}}/api/sequences/"

Could not get any response
There was an error connecting to %7B%7Bendpoint%7D%7D/api/sequences/.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > Ge

[2018-08-10 09:35] SamvelRaja opened #5003 "Export V1 format doesn't have tests, pre-requests, currentHelper and helper data fields in request"
When exporting a collection in v1 format, it doesn't include the tests, pre-requests, currentHelper and helper data property

It was working till 5.x app version.

[2018-08-10 09:41] carodrigues commented on #5002
Hi @bhargavkaranam

I made a pm.environment.get() ... it seems it has the value.

 console.log( "var ID1 " + " " + pm.environment.get("varID1"));
console.log( "var Name 1 " + " " + pm.environment.get("varName1"));

But at the list of env variables, all variables are empty:

![list](https://user-images.githubusercontent.com/11546961/43951038-f206d440-9c89-11e8-92bb-0936e6979e9f.png)

Do you know wh

[2018-08-10 09:48] bhargavkaranam commented on #5002
Can you `console.log(jsonData[key].variables[j].id)` in the script and see what the value in the console is?

[2018-08-10 09:53] carodrigues commented on #5002
Yes,   i can.

[2018-08-10 10:05] bhargavkaranam commented on #5002
It's not null or undefined? Please note that if the value you are trying to set is `null` or `undefined`, empty value will be set for the environment variable.

I'm able to set the environment variables in a loop.

[2018-08-10 10:10] carodrigues commented on #5002
This is the console:

![list_console](https://user-images.githubusercontent.com/11546961/43952475-fc4c2e10-9c8d-11e8-8610-d913698e360a.png)

As i told, the variables at env variable list are empty:

![list](https://user-images.githubusercontent.com/11546961/43952699-946f4524-9c8e-11e8-91c9-ae63fbbacbe3.png)

But with a get, the variable have the value:

                   console.log( "var ID1 " +

[2018-08-10 10:29] Anwar-Ul-Haq commented on #4997
@kamalaknn updating to v 6.2.4 has fixed the issue.
All looking good.
Thank you

[2018-08-10 10:29] #4997 closed, assigned to kamalaknn

[2018-08-10 10:35] bhargavkaranam commented on #5002
Hi @carodrigues,
Is it possible for you to share a sample collection where this issue is reproducible? We are unable to reproduce this and want to take a closer look. You can use fake data and any endpoint.

Can you also please open Environment Quick Look and check if the values are empty or not?

[2018-08-10 10:54] numaanashraf commented on #3503
There are several unrelated request sending issues being posted on this thread as they all have the same symptom of 'Could not get any response'. This prevents us from tracking these issues individually, suggest possible workarounds and post updates on bug fixes and releases to our stable and canary channels. We are locking this thread to prevent further posts of unrelated issues.

If you get a "C

[2018-08-10 10:55] numaanashraf commented on #3255
There are several unrelated request sending issues being posted on this thread as they all have the same symptom of 'Could not get any response'. This prevents us from tracking these issues individually, suggest possible workarounds and post updates on bug fixes and releases to our stable and canary channels. We are locking this thread to prevent further posts of unrelated issues.

If you get a "C

[2018-08-10 10:56] numaanashraf commented on #4459
If you get a "Could not get any response" message from Postman native apps while sending your request, open Postman Console (View > Show Postman Console), resend the request and check for any error logs in the console. This should give you some information to troubleshoot the issue by searching for the same error in this issue tracker to find possible workarounds and fixes. If you are still having

[2018-08-10 10:59] mccannt commented on #4019
@sivcan So far so good. I have not run into this issue again in the latest release and I have not heard anything back from my teams about this being an issue still.

Will let you know if this does return.

Thx.

[2018-08-10 11:21] carodrigues commented on #5002
Hi @bhargavkaranam

I fixed this isue.
This was a problem on the run. I was running with selecting the correct variables group.

Sorry and thank you for your support.

[2018-08-10 11:24] #5002 closed, assigned to nobody

[2018-08-10 11:27] shanmugarajbe commented on #2851
+1

[2018-08-10 11:30] TheDavidJohnson commented on #5001
Thanks, @SamvelRaja

    1. Did you update the app from 5.x version?
    2. When you opened 6.0.10 you had the data before?
    3. Postman store data in ~./config folder, if that is removed in anytime, the data would be lost.
    4. Also, recommend you to share the logs from View -> Developer -> Show Devetools (Shared)
        - Share the console logs and also
        - In devtools -> Applications

[2018-08-10 12:02] sivcan commented on #4019
@mccannt That's great!
Let me know if this comes up again.

Closing this issue.

[2018-08-10 12:02] #4019 closed, assigned to sivcan

[2018-08-10 12:10] numaanashraf commented on #3232
https://github.com/mhart/aws4/blob/master/aws4.js#L116

[2018-08-10 12:11] numaanashraf commented on #4127
This is a confirmed bug. Seems to be caused by https://github.com/mhart/aws4/blob/master/aws4.js#L116.

[2018-08-10 13:19] shahidhk commented on #1669
We recently made a tool called graphqurl (https://github.com/hasura/graphqurl) for making GraphQL queries with custom headers etc. It's a CLI that has auto-complete, can open GraphiQL on any endpoint (with support for custom headers), supports subscriptions and can be used as a JS library. Let us know if you find it useful.

`gq https://gentle-anchorage-72051.herokuapp.com/v1alpha1/graphql -i` wil

[2018-08-10 13:33] ilyabelkin commented on #2209
@numaanashraf Thank you, looking forward to news on this!

[2018-08-10 13:41] #4530 closed, assigned to dhineshwiz

[2018-08-10 13:43] numaanashraf commented on #4645
@danielaguilmallea I'm afraid I don't understand your request. Do you wish to modify the response in the test script before it is showing in the UI?

[2018-08-10 14:01] numaanashraf commented on #3850
All these are supported in the current table view.

[2018-08-10 14:01] #3850 closed, assigned to nobody

[2018-08-10 14:02] #4714 closed, assigned to preethammavin

[2018-08-10 14:03] numaanashraf commented on #4190
Duplicate of #1906

[2018-08-10 14:03] #4190 closed, assigned to harryi3t

[2018-08-10 14:48] jboarman commented on #3418
@MacDisein @madebysid Would you mind re-opening this issue as there are a lot of folks that share this same issue and are looking for a more integrated solution.

For one, _if_ adding a `{{url}}` variable is recommended, when I import a collection from a swagger spec, then I would hope that the Base URL variable would be added to each URL for me.  That said, I'd rather not have to specify the vari

[2018-08-10 15:31] jamestown27 commented on #4814
This has also recently been happening to me on Windows 10 64bit and I've found a few temporary workarounds for this until it gets fixed. I can confirm that this issue seems to happen every time there is a Postman update.

One workaround is to right click the Postman icon on the taskbar (when its running) and click "Pin to taskbar", right after you do this right click the icon again and click "Unpi