[2019-06-24 05:22] abhijitkane commented on #2951
@sutdisi @mattcrwi @mslancashire Apologies for the delay on this. This has been fixed in Postman >7.2

[2019-06-24 05:22] #2951 closed, assigned to numaanashraf

[2019-06-24 05:28] Niels-Abel commented on #5611
I can confirm the bug for v7.2.2 (Windows).

[2019-06-24 05:41] abhijitkane commented on #5315
@misha-kotov I'm able to import this with the operationId showing up as request names in Postman 7.2+.

[2019-06-24 05:42] #5315 closed, assigned to nobody

[2019-06-24 05:42] suttermichael commented on #3233
@abhijitkane sorry, not using RAML anymore. Therefore I can't retest...

[2019-06-24 05:48] abhijitkane commented on #4458
@jdrews @cedricraud @centur This is fixed in the latest Postman version - 7.2+.

[2019-06-24 05:48] #4458 closed, assigned to abhijitkane

[2019-06-24 05:57] sebastian-hans-swm commented on #4709
Thanks! This is really helpful. 😄

[2019-06-24 06:44] #5213 closed, assigned to nobody

[2019-06-24 06:50] abhijitkane commented on #5809
@chucklu The experimental mode will soon be made the default. Can you file a separate issue for the `logisticsRecord` bug you mentioned with details of what request you're trying to generate code for?

[2019-06-24 06:50] #5809 closed, assigned to nobody

[2019-06-24 06:56] abhijitkane commented on #3579
@randalb1991 @daniel-lahoz Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-24 07:00] abhijitkane commented on #4166
@tannermorse @xiaohk Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-24 07:00] #4825 closed, assigned to numaanashraf

[2019-06-24 07:02] abhijitkane commented on #2780
@nlwillia Yep - we'll soon be making that the default. Thanks for confirming!

[2019-06-24 07:02] #2780 closed, assigned to numaanashraf

[2019-06-24 07:05] abhijitkane commented on #3623
Everyone - this has been fixed in Postman 7.2.1.

[2019-06-24 07:05] #3623 closed, assigned to numaanashraf

[2019-06-24 07:05] #4625 closed, assigned to numaanashraf

[2019-06-24 07:17] bgaprogrammer commented on #5039
@harryi3t I'm facing the same error on Mac OS Mojave (10.14.5), the postman version is: 7.2.2, no variables are replaced for any environment, I'm working on my workspace.

Edit: After sign out from postman and sign in back, it's working now

[2019-06-24 07:45] siemvaessen commented on #6736
Any update / eta on this would be appreciated. Thanks.

[2019-06-24 07:48] sarabsilveira commented on #1906
It would be really good to import a RAML 1.0 spec to a collection. That's preventing Postman to be used for testing purposes.

[2019-06-24 08:59] ratpik commented on #6356
@minoseah629 - We have pushed a fix for this. You should be able to mock examples that use `application/soap+xml`.

[2019-06-24 08:59] #6356 closed, assigned to ratpik

[2019-06-24 09:03] ratpik commented on #5216
@aulakhs - We have released a version that now supports resolution of Faker variables in your example responses. The list of variables is [here].(https://github.com/postmanlabs/postman-app-support/issues/971#issuecomment-501433055)

[2019-06-24 09:03] #5216 closed, assigned to Dhembla, grakhejapstmn

[2019-06-24 09:07] mubashir3gca commented on #6516
Yes, it is working fine now

[2019-06-24 09:11] cyrielle-hada commented on #6645
Not a `bug`. The app can't be updated due to the user's corporate environment. SCCM/MSI installer would be required but not supported at this moment. See issue [#4576](https://github.com/postmanlabs/postman-app-support/issues/4576)

[2019-06-24 09:11] #6645 closed, assigned to nobody

[2019-06-24 09:34] chucklu opened #6775 "The generated powershell script executed and lost content of some properties"
**Describe the bug**

The following generated powershell script executed,and lost content for logisticsRecord property
[code]

Result
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. turn on experimental codegen mode through setting-->general
2. run the following http post method

3.  code --> Generated code for Powershell - RestMethod
4.  save the code as .ps1 file
5.  run the .ps1 fi

[2019-06-24 09:35] chucklu commented on #5809
@abhijitkane  I have create another issue https://github.com/postmanlabs/postman-app-support/issues/6775

[2019-06-24 11:49] coditva commented on #6206
Temporary headers are not shown when:
- There was `ERROR: getaddrinfo ENOTFOUND` (i.e. incorrect hostname).
- There was an error parsing request headers (e.g. setting header `aaa:: "val"`).

Headers are logged when:
- The request failed with `404`, etc.
- The request was successful.

[2019-06-24 11:55] ghost opened #6776 "Request body editor options overflows"
**Describe the bug**
Request body editor UI is broken.
Look at the screenshot below

**To Reproduce**
Steps to reproduce the behavior:
1. Make the app window size (width of 1024px ~ 1137px) as done in the screenshot below
2. Open a request
3. Go to request body editor
4. Select content-type (should have a lengthy name like `JSON (application/json)` or `Javascript (application/javascript)`)
5. See

[2019-06-24 13:33] akshay-patel-dunelm commented on #4290
@a85 Thanks for the update, however, sessions really haven't solved anything for us.

Sessions aren't sufficiently explained in the application. And due to this users end up changing BOTH values when something isn't working right. This can break the workspace for multiple users.

We have information in our environment variables which is vital to our API's and must be kept up to date. But due to th

[2019-06-24 14:37] justtonytone commented on #6543
@shamasis @codenirvana @vkaegis if clicking on `Use Token` shares the bearer token with other people, is there an easier method to set the token in our environment?

Currently we need to copy and paste it, but it would be nice to add a button there to run a script that could automatically set an environment variable.

[2019-06-24 14:37] saswatds commented on #6761
Hi @santhoshTpixler Can you provide us with a sample test endpoint that you use which returns `application/json;charset=UTF-16`. It will really help us in debugging this issue ASAP.

Thanks

[2019-06-24 15:36] shamasis commented on #6543
Yep. We need to come up with a better flow. We have plans to rework on the oAuth flows. No ETA yet since we are at the phase where we are accumulating info.

[2019-06-24 16:24] bilal68 commented on #3358
+1 for this feature

[2019-06-24 16:46] JP-from-Postman opened #6777 "After upgrading, "Archived" collections notification still shown until logout + login"
**Describe the bug**
For _some_ teams who have upgraded to Postman Pro after their shared Collections are archived, users still see notifications for Archived collections until they've logged out of the app, and logged back in. Note that the Collections _are_ restored successfully during the upgrade process -- only the notification persists.

This may be confusing, because the web dashboard page f

[2019-06-24 16:48] JonathanNet commented on #6772
It is set for 200mb, so its not that, and I tested with Insomnia, and it works fine in that app, but I better like Postman :)

[2019-06-24 16:58] Exvitermini opened #6778 "Crashing while using Runner"
**Describe the bug**
I have a set of tests that I run in the Runner every day multiple times. The tests have not changed. Since the update to version 7.2.0, the runner window will go black and freeze. When I close the runner window, it will crash Postman as a whole. There has been two updates since (7.2.1, and 7.2.2) but those of those versions also exhibit the same issue.

**To Reproduce**
Steps

[2019-06-24 17:20] JonathanNet commented on #6772
As I wrote, It is sent as form-data, I have 16gb memory, and I use App version:

Postman for Windows
Version 7.2.2
win32 10.0.18362 / x64

[2019-06-24 17:59] eprothro commented on #6421
We are trying to use the revision control features in a new product's workflow and this issue is biting us.

1. fork (development)
2. publish fork with custom domain
3. merge + delete fork
4. re-fork
5. I can't associate the new fork's documentation with the custom domain

[code]

But I cannot as the collection is deleted.

Due to #5056, I don't see another way to view or un-publish the phantom co

[2019-06-24 18:06] eprothro commented on #6421
Workaround: delete and re-add the custom domain.

[2019-06-24 18:26] sankalp0o commented on #4290
Thanks for the feedback everyone! Setting up roles and permissions to environment is on our radar and we're tracking it at #6596.

[2019-06-24 18:28] derrikfleming opened #6779 "MD for tables not rendered correctly in app or web docs"
**Describe the bug**
I'm unable to change the alignment of MD table headers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any collection
2. Click on 'Edit'
3. Enter a valid Markdown for a table, such as:

[code]

**OR**

[code]

4. `Update`
5. Click `View in Web`
6. Confirm the is invalid in app and browser

**Expected behavior**
Table headers should be left-aligned

**Screenshots**

[2019-06-24 18:42] shamasis commented on #6778
Hmm this is bad. Is this happening for any collection you run or there’s something specific to it? Either there’s a memory related issue or something underlying is crashing. I tried to reproduce this by running a simple collection as hosted here https://docs.api.getpostman.com/?version=latest and could not.

Any way you can share a non sensitive scaled down collection with open APIs that exhibit t

[2019-06-24 18:59] jeremyml commented on #6730
Thanks for working on a fix!  This bug is affecting me also.

[2019-06-24 20:13] eugenerr commented on #4594
Hi @ankurdengla1996 thank you, downloaded v7.3.0-canary03, no problem installing!

[2019-06-24 21:08] JP-from-Postman commented on #5684
Adding on to this:

Really large responses end up bogging down the UI when viewed in Pretty mode. While the viewing mode can be toggled, the option doesn't appear until a response has been received (and this setting doesn't persist between app sessions). Ideas:

1) Option to set default response view
2) Ability to set response view, before receiving response (and, ideally, selection persists betwe

[2019-06-25 01:48] cschnierer commented on #350
+1!

[2019-06-25 02:04] saswatds commented on #6761
@santhoshTpixler Thanks for reporting this, we have been able to reproduce this issue. Will keep this thread posted after completing the RCA for the issue

[2019-06-25 05:30] glenp01 commented on #6712
Similar issue with autocomplete. I imported a GraphQL schema and when sending a request I selected the schema. But autocomplete works only for the GraphQL keywords like `query` or `mutation`

[2019-06-25 06:48] girishgadad opened #6780 "When trying to login to my postman app displaying "Something went wrong! We're having some difficulties connecting to our authentication service. Try again after some time.""
Description:
I am trying to login to postman app but every time it is displaying as:
**Something went wrong!
We're having some difficulties connecting to our authentication service. Try again after some time.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman application.
2. Click on 'Signin'
3. See error

**Expected behavior**
Should allow to login.

**Screenshots**

![image](h

[2019-06-25 07:12] pdctpa opened #6781 "I am using MAC OS Mojave, Cant expand PHP and other Dropdowns while generating code snippet"
Unable to generate a code snippet for PHP curl post method and other which has drop downs, it simply won't expand the dropdowns of PHP, NodeJS, and Java, etc.,

<img width="176" alt="image" src="https://user-images.githubusercontent.com/12509947/60076969-7f414680-9746-11e9-8459-a1f871066355.png">

[2019-06-25 08:42] ikazoy commented on #6397
any updates?

[2019-06-25 08:46] osya opened #6782 "Import RAML Folder not working"
**Describe the bug**
I tried to import RAML folder according to the doc https://blog.getpostman.com/2015/11/04/supporting-raml-folders-in-postman/.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository `git clone https://github.com/raml-apis/GitHub.git`
2. In Postman press "Import" button
3. Choose "Import Folder" tab
4. Choose GitHub folder
5. And nothing happens.

**Expected beh

[2019-06-25 08:47] abhijitkane commented on #6781
@pdctpa Please include all information requested in the issue template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensh

[2019-06-25 08:56] janv8000 opened #6783 "Console Raw view omits essential details when HTTP headername contains space"
**Describe the bug**
Console Raw view omits essential details when HTTP headername contains space

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with a custom header
2. add a trailing space in the key

**Expected behavior**
Console Raw view mentions no error, the pretty view however points to the exact cause

**Screenshots**

![image](https://user-images.githubusercontent.c

[2019-06-25 09:44] donald-jackson commented on #6550
The last working version is 7.0.9. Postman is now using the POST body when computing the Hawk payload, which isn't strictly incorrect, it just breaks everything for people who have been using Hawk without this for the past few years.

We are not in a position to change our API's to cater for this change as it would break many integrations so I propose(d) just adding it as a configuration option so

[2019-06-25 09:49] coditva commented on #6143
The problem here seems to be that `postman-echo.com` does not send `set-cookie` headers for `/cookies/set` params.

<img width="936" alt="Screenshot 2019-06-25 at 15 12 05" src="https://user-images.githubusercontent.com/8445768/60087996-a9e9ca00-975b-11e9-87db-2696b24d3ddb.png">

<img width="932" alt="Screenshot 2019-06-25 at 15 17 08" src="https://user-images.githubusercontent.com/8445768/6008846

[2019-06-25 10:00] vikiCoder commented on #6550
Hi @donald-jackson

We understand your issue and we have added an option to add payload hash in Hawk authentication and turn it off if needed. We will be releasing this option in our next release. Below is a screenshot showing this option.

![image](https://user-images.githubusercontent.com/16588032/60089399-04842580-975e-11e9-8397-47146c0b7293.png)

[2019-06-25 10:51] paulmwatson commented on #3358
+1 for this feature

[2019-06-25 11:41] vikiCoder opened #6784 "Exported CSV file from different applications is not working with collection runner"
Exported CSV file gives the following error while using it in collection runner.
[code]

CSV file that I am using:
[code]

The same file was working in collection runner before updating to Postman App version 7.2.1 but it is giving above error after update.

**Steps to reproduce the behaviour**
1. Create a CSV file with above-given content
2. Select that CSV file in collection runner
3. Press run

[2019-06-25 12:24] bherrmann7 commented on #6249
In Ubuntu 19.04,

[code]

downloading from the web site,
[code]
Boo I say.  I say BOO!

[2019-06-25 13:24] vikiCoder opened #6785 "Response header UI for saved response is broken"
**Describe the bug**

Response header UI in two pane mode is broken for the saved response when there are so many headers in the response. See the below GIF for example. The problem is only in two pane mode. It is fine in single pane mode.

**Steps to reproduce the behavior**

1. Send a request to a server that sends more than 15 headers in response. (you can use below server if you don't have one

[2019-06-25 15:56] cyrielle-hada opened #6786 "Update fail and app hangs when Automatic update is disabled"
**Describe the bug**
When using the app from a computer with no public network access and having turned off the auto update in settings, the app tries to connect and update, which fails. It takes a lot of time for the app to start up and to be usable (~30 minutes).

**To Reproduce**
1 - Download the previous version 7.2.0.
2 - Go to the Settings and disabled `Automatically download major updates`

[2019-06-25 15:58] arcdev commented on #6296
I'm having the exact same issue.
One thing I've noticed is that the `%AppData%\Postman\window` file appears to be mangled. It seems like this file is likely managed by NeDB.
And, yes, I've tried removing the file, the directory, deleting everything related to Postman and still, every time the file is recreated, it's mangled.
Here's an example:
[code]
It almost seems like there's a parallel write t

[2019-06-25 16:35] arcdev commented on #6296
While not exactly "great," I think I have a workaround.
Based on the notion that the `window` file (see earlier observation) was being written in parallel, I tried to start Postman with a CPU affinity of 1.  (It's more of a "hint" in Windows, but...)  With the idea being that it may more closely force a "single-threaded" idea...

From a command prompt, run this:
[code]

[2019-06-25 16:36] arcdev commented on #6689
Seems to be the same as #6296

[2019-06-25 17:52] mistryvipul2002 commented on #6236
When can we expect this? I am trying to delete the default Team workspace I only created, and I am not able to delete it.

[2019-06-25 18:28] alilland opened #6787 "Feature Request: Remove the red 0 failed runner icon when all tests pass"
**Describe the solution you'd like**
I don't know about anyone else, but I get a subconscious "oh crap something failed" on the inside every time I run my test runner, even though every test passed.

<img width="384" alt="Screen Shot 2019-06-25 at 11 21 02 AM" src="https://user-images.githubusercontent.com/14061357/60123275-ec9baa00-973b-11e9-8431-48204cde16cb.png">

**Describe alternatives you've

[2019-06-25 19:23] xephtar commented on #3174
Are there any improvements about that?

[2019-06-25 19:51] shkedy opened #6788 "Variable assignment on collection not working"
**Describe the bug**
A clear and concise description of what the bug is.
I was able to find a case where variables in the collection are not sent to the server correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with a single API call I had 2 variables in my API call
2. I set values in the environment and everything works great
3. I set values in the collection and

[2019-06-25 20:07] alfkonee commented on #6762
Same issue here

[2019-06-25 20:35] axa88 commented on #4105
This should be made its own new issue. i tried doing this until i uninstalled postman thinking it was just flaky

[2019-06-25 20:37] axa88 commented on #4105
This should be made its own new issue. I kept trying to change a collection variable until i thought postman was flaky, uninstalled and just wrote an application.

[2019-06-25 22:34] JP-from-Postman commented on #6365
@dhineshwiz Another occurrence of this was just reported via Support, except with a status 403 error instead of 404:
<img width="797" alt="Screen Shot 2019-06-25 at 3 30 30 PM" src="https://user-images.githubusercontent.com/43283131/60138281-a0159600-975e-11e9-8ae1-958861099fdc.png">
Flagging it here just in case it's relevant.

[2019-06-25 23:36] tony-tao-accolade commented on #1744
+1 for being able to use postman to export open API specs

[2019-06-26 03:21] preethammavin commented on #6780
@girishgadad can you check if the issue persists on other internet network as well? We have seen such issues if tried in an Internet which is hidden behind a Proxy where the calls to our Login Service might be blocked. If does fix it, please do write to us at help@getpostman.com so that we can sort it out.

[2019-06-26 03:37] preethammavin commented on #6619
@ash007-postman we have fixed the underlying issue, can you confirm the issue still persists?

[2019-06-26 03:40] preethammavin commented on #6578
Closing as there isnt enough information to move forward, and as it is not reproducible on our end. Feel free to reopen it if the issue persists.

[2019-06-26 03:40] #6578 closed, assigned to ankit-m

[2019-06-26 03:56] preethammavin commented on #6030
@JP-from-Postman we have pushed a fix for the same, can you verify if it has been fixed.

[2019-06-26 03:58] preethammavin commented on #5812
@fcheadle we have pushed fix for the same, can you confirm if the issue has been resolved at your end?

[2019-06-26 05:47] vkaegis commented on #6787
@alilland Thanks for writing in! You're spot on, this could definitely do with a face lift. Marking this a to-do, will keep you updated on progress.

[2019-06-26 06:07] groggi commented on #6296
@arcdev you just made my day. Thank you! I can confirm, that this approach allowed me to start Postman without it crashing.

[2019-06-26 08:16] kamalaknn commented on #6716
@Vladislav4er

We've pushed a fix for this on `7.3.0-canary04`. Can you update your app and confirm if this fixes your issue?

[2019-06-26 08:48] sheerlox commented on #2847
@a85 hey, even if I document properly (in terms of required fields) my JSON `requestBody` with OpenAPI 3.0, it's still not displaying on my documentation. Can we have an update on this, btw I am willing to make changes to converters or help in any way possible to see this feature ASAP. I actually use Postman to document the API of the company I work in and it's such a impediment not to be able to

[2019-06-26 09:01] vkaegis commented on #6766
@zgirod Thanks for writing in! We've had a ton of internal requests for this as well, definitely something on our roadmap. Stay tuned for updates!

[2019-06-26 09:17] codenirvana commented on #6140
@flakey-bit We've pushed a fix for this on our [canary channel](https://www.getpostman.com/downloads/canary) `v7.3.0-canary04`.

Let me know if the issue persists?

[2019-06-26 09:18] xmaska commented on #6764
We have the same issue.
For us it is really convenient to use google sheet for storing test data then just download it as CSV for feeding the Postman tests.
Their use double quotes '"' for escaping quotes in the csv.  Unfortunately this can not be parsed anymore after getting the updates by
7.2.219 Jun, 2019 - GitHub #3178

- There is no way to change the escape character for google sheet export.

[2019-06-26 09:25] vijaykumbhoje commented on #135
The link seems broken

[2019-06-26 09:29] shamasis commented on #6610
Prevents accidental mutation of the variables across teams.

@vkaegis if we introduce sessions for collection variables, that would address this. I guess. :-/

[2019-06-26 09:38] shamasis commented on #6429
We have released a fix for this (partially) in latest production and some more fixes are in Postman Canary and is scheduled to go out soon.

Tracking the issue as a part of: https://github.com/postmanlabs/postman-app-support/issues/4751

[2019-06-26 09:38] #6429 closed, assigned to nobody

[2019-06-26 10:04] chuongva commented on #6035
Same problem 7.2.2

[2019-06-26 10:21] shamasis commented on #6587
@andreagubellini ... we missed triaging this. will post an update asap. @postmanlabs/runtime can you have a look as to what is causing this?

[2019-06-26 12:00] tester1234562020 opened #6789 "Why I cannot use environment's variables from environment by BODY?"
For example, I have created a json like {a:data.a ,b:data.b} to get data from csv file, and I save it by environment when I use runner. But its value becames [object Object]! Finally,I use the enviroment like {{this}} to postman in body,BUT it is error~！

[2019-06-26 12:28] coditva commented on #6143
@ankit-m Here is a workaround for the problem. You can use this until we implement this in the API.

[code]

[2019-06-26 13:30] Tom-spec113 commented on #4690
would love to see this feature too..

[2019-06-26 13:41] TenLetters88 commented on #4555
Hi,

Any update in GET calls with query parameters with '+' in the params? It's still not working, regardless of using '+' sign or %2B.

Thank you!

[2019-06-26 13:51] xmaska commented on #6764
Here is a small python script that helps with converting the quote escaped csv files to the json ones that can be still parsed with Postman:

[code]

[2019-06-26 15:38] moravcik commented on #3302
I am experiencing the same issue, Postman version 7.2.2 (Linux)

[2019-06-26 15:39] gcaccia commented on #6730
Ditto here.  Hitting same bug.  Can't download data.

[2019-06-26 16:48] yiiness opened #6790 "Importing using curl does not implement method (gives default GET)"
**Describe the bug**
Importing using curl does not implement method (gives default GET)

**To Reproduce**
Steps to reproduce the behavior:
Importing using curl raw string copied from chrome request

**App information (please complete the following information):**
- Native app
- v7.2.2 have bug
- v6.7.4 and v7.2.0 have not bug
- OS: win7x64

[2019-06-26 17:11] JP-from-Postman opened #6791 "Can't edit monitor, error: Unrecognized field "versionTag"."
**Describe the bug**
When editing a monitor from the web dashboard, and clicking "Save Changes", the following error is displayed (regardless of whether or not any changes have been made):

<img width="406" alt="Screen Shot 2019-06-26 at 9 58 04 AM" src="https://user-images.githubusercontent.com/43283131/60199610-2da5c400-97f9-11e9-9555-fd72be177e37.png">

Any changes made are not saved.

**To Rep

[2019-06-26 18:00] gabrieligbastos commented on #2209
+1

[2019-06-26 18:23] craigmcnally commented on #4296
Still an issue in 7.2.2 :(

[2019-06-26 19:28] ebonertz commented on #6719
Agreed! This would be hugely helpful. At a minimum supporting an Introspection Query Response in JSON format would be nice too. I don't have the SDL schema available to me. Any plans to add this functionality in the near future?

[2019-06-26 19:30] a85 commented on #6719
@ebonertz Yes. This feature is still in beta along with our APIs feature. We are gathering use cases from different users. In our head, the mental model is that the schema lives "somwhere" - the somewhere can be a repository, a server URL, or some package. Postman will treat these as sources and integrate with these sources to allow for loading the schema dynamically. GraphQL calls it "introspecti

[2019-06-26 19:42] fjbranco commented on #3574
This problem is still active on 7.2.2

[2019-06-26 19:57] scott-wi commented on #4898
The Bulk Edit feature was one of the best features when having to setup a machine with multiple new environments. There needs to be more developer-friendly features like this in Postman, not more regressions toward guis with non-programmer friendly features. Simply editing a key-value pair here is sufficient to get the job done, and this table is extremely time-consuming and error prone. I've not

[2019-06-26 20:22] yanicakj commented on #41
@a85 Syntax highlighting was always working then all of the sudden it stopped... could there be any specific reason why JSON responses are no longer being highlighted? (macos native Postman)

[2019-06-26 20:44] yanicakj commented on #6198
@numaanashraf getting the same issue, but only in response bodies. Could there be a specific reason?

[2019-06-26 22:58] akaskj commented on #6682
+1

[2019-06-27 04:04] codenirvana commented on #5912
@trajano We haven't implemented changes from RFC6266 yet (and I think most web browsers as well).
I understood your problem and we will definitely fix this behavior, no ETA just yet because its a very low-level change in our form-data parsing library.

I hope your workaround solved the problem for now. We might also think of allow configuring the `Content-Disposition` header or just the `filename`

[2019-06-27 04:29] venkatcc commented on #2985
Still in v7.2.2 (on Windows 10).

[2019-06-27 05:03] chrisdeso opened #6792 "Make the Manage Accounts icon more intuitive in-app"
**Is your feature request related to a problem? Please describe.**
It isn't always clear to folks where the account/profile dropdown is in-app. The icon is a lovely balloon but doesn't necessarily call out `Profile`. With the ability to add multiple accounts to a single instance of the app, this would be a great addition.

**Describe the solution you'd like**
An icon (or text) that's a bit more in

[2019-06-27 05:45] tester1234562020 opened #6793 "When i use csv file for body(raw, application/json),after using runner ,the value is not string!"
![image](https://user-images.githubusercontent.com/44419851/60239244-91a2b800-98df-11e9-8ad8-989d8594a34f.png)
![image](https://user-images.githubusercontent.com/44419851/60239873-b13ae000-98e1-11e9-828a-a168b8bd2fc7.png)

[2019-06-27 06:30] saswatds commented on #2770
This feature is supported in the latest version of the app. Closing

[2019-06-27 06:30] #2770 closed, assigned to a85, vkaegis

[2019-06-27 06:31] vikiCoder commented on #6793
Hi @tester20183450

I did not understand your issue, can you please elaborate more. If possible, please provide exact steps to reproduce your issue with a sample collection and a CSV file without any sensitive data. Also, mention the Postman App version you are using.

[2019-06-27 06:32] saswatds commented on #2660
This feature is supported in the latest version app. Closing issue

[2019-06-27 06:32] #2660 closed, assigned to vkaegis

[2019-06-27 06:42] ashutosh2307 commented on #6152
Have same issue.
If I remove this from request **allow_redirects=False, timeout=undefined, allow_redirects=false**  its works fine. But cant edit in api documentation.

[2019-06-27 06:50] saswatds commented on #6752
@labifrancis The fix for this has been applied on `7.3.0-canary04`. Can you confirm if the issue is resolved in canary?

[2019-06-27 06:54] godfrzero commented on #6791
We've pushed out a fix for this and all monitor edits should now be working normally.

[2019-06-27 06:54] #6791 closed, assigned to nobody

[2019-06-27 06:57] ankurdengla commented on #3302
Hey @moravcik ! We are unable to reproduce the issue on Postman 7.2.2 at our end. Could you please share the steps to reproduce the issue along with relevant screenshots (if possible) ?

[2019-06-27 06:58] saswatds commented on #6761
Hi @santhoshTpixler, we have fixed this issue on our latest canary release `7.3.0-canary04`.
https://www.getpostman.com/downloads/canary

Can you confirm if the issue is resolved for you?

[2019-06-27 06:59] abhijitkane commented on #6790
@yiiness I'm not able to reproduce this. Importing `curl -X POST http://google.com` creates a POST request.

Can you paste the raw curl string you're trying to import?

[2019-06-27 07:02] vikiCoder commented on #6793
Looking at the screenshot you sent, seems like your problem is the string `YQTAPP` for `CUST_TYPE` is not in quotes. Using the variable in body only replaces its value without adding anything extra. So if you want this to be a quoted string you can use it as shown below:

[code]

which will result in the body as shown below:
[code]

[2019-06-27 07:03] codenirvana commented on #1044
Closing as this can be solved using the workaround mentioned in https://github.com/postmanlabs/postman-app-support/issues/1044#issuecomment-230813374

[2019-06-27 07:03] #1044 closed, assigned to codenirvana

[2019-06-27 07:47] codenirvana commented on #2342
This is fixed in the latest Postman app.

[2019-06-27 07:47] #2342 closed, assigned to vkaegis

[2019-06-27 08:01] m3dbedb commented on #5453
I confirm the same behaviour with postman 7.2.2 for windows 32 and 64 bit. Note that if I have stored request with Authorization, Postman sends it correctly. If I edit something, for example URL and send it again, Postman send it without Authorization data.

[2019-06-27 08:04] codenirvana commented on #1465
This is fixed in our Canary channel: https://www.getpostman.com/downloads/canary

[2019-06-27 08:16] codenirvana commented on #2700
Certificate configurations already support wildcards in the domain, Refer: https://github.com/postmanlabs/postman-app-support/issues/5123

Updated the issue title for this feature request.

[2019-06-27 08:21] codenirvana commented on #2291
Request mutation via pre-request script is supported in the latest Postman app, Refer https://github.com/postmanlabs/postman-app-support/issues/4631#issuecomment-477766260 for more details.

Closing as duplicate of #4631

[2019-06-27 08:21] #2291 closed, assigned to a85, codenirvana

[2019-06-27 08:25] codenirvana commented on #2056
You can specify the `Content-Type` in the request headers while posting the binary file.

<img width="708" alt="Screenshot 2019-06-27 at 1 54 14 PM" src="https://user-images.githubusercontent.com/4865836/60249826-3246a700-98e3-11e9-87a6-151da56ce325.png">

[2019-06-27 08:25] #2056 closed, assigned to a85, codenirvana

[2019-06-27 10:14] harryi3t commented on #6786
@cyrielle-hada
I see two issues mentioned here:

Turning this setting off only disables the app to auto-update to major versions. To know whether there is any minor/major update available or not, the app has to make a network call.
Also, before making that network call, the app checks whether it has any connectivity. Being connected to a private network also fall into the same category of having s

[2019-06-27 11:17] pawanbana opened #6794 "Save button In example saving get blurred out it looks like there is a process still happening."
Save button In example saving get blurred out it looks like there is a process still happening.

![save button issue](https://user-images.githubusercontent.com/31897605/60261891-8d37c880-98fa-11e9-98f3-042d5bfd0a0a.PNG)

Also there are two save button  Inside a tab for example saving it should say something descriptive like "save as example". it looks confusing for now.

![tempsnip](https://user-i

[2019-06-27 11:19] sujayvenaik commented on #6794
@pawanbana In the example view it basically means that you haven't made any changes since the last time, hence there are no unsaved changes. Therefore the button is disabled.

[2019-06-27 11:21] pawanbana commented on #6794
But after making changes it looks like process is happening

kind of confusing

[2019-06-27 11:31] tomaculum commented on #2933
Ran into an related issue in Version 7.2.2 (7.2.2):

[code]

the `postData` xml content is not escaped at all and should be:

[code]

[2019-06-27 11:47] vikiCoder commented on #6764
Hi,

We have fixed this issue and it is out in the [latest canary](https://www.getpostman.com/downloads/canary) of Postman App (version 7.3.0-canary05).

@cjtoth Now you can use quotes inside unquoted fields without escaping them in CSV file. As a result, you can now use JSON-like data inside CSV file without escaping quotes as it was before the 7.2.2 release of Postman App.

@xmaska We have also

[2019-06-27 11:55] vikiCoder commented on #6784
Fix for this is out in the latest canary of Postman App (version 7.3.0-canary05).

We have changed the escape character from `\` to `"` for CSV file. So now you can use exported CSV file from Google Sheets directly without preprocessing it.

[2019-06-27 13:10] mguinter opened #6795 "Resolve environment variables inside markdown content"
Inside the frames using Markdown, could be amazing if we could use environment variables as requests, params and so on.

Sometimes the API Documentation needs distinct texts for better explanation to users accordingly the destination environment.

[2019-06-27 13:44] jcrawfor74 commented on #4785
Thanks to your suggestion.. I have come up with an even simpler way in two steps:

1. In WS1 share "collection A" to WS2
2. Still in WS1, right-click on "Collection A" and choose Remove form workspace.

This only removes it from WS1 and leaves it in WS2.

Note: the environments do not come accross so you will have to export and import to hook them back  up to your new Workspace

[2019-06-27 14:04] cnx-brunomelo commented on #6730
I was having the same problem. I was able to export to a folder with full permission(777).

[2019-06-27 14:22] Filipe-Souza commented on #6236
Hey Postman Team, still looking forward for this. This management option is GREAT.

[2019-06-27 14:38] eric-reinstein-fmr commented on #6035
same problem 7.2.2

[2019-06-27 14:47] eric-reinstein-fmr commented on #5575
This appears to be the same issue:
https://github.com/postmanlabs/postman-app-support/issues/6035

[2019-06-27 14:59] arcdev commented on #6296
@groggi glad it helped!
For what it's worth, after starting Postman this way, I accidentally started it directly (via its normal icon) and it seems to be fine going forward.  So I'm not sure if this was a one-time thing to "bootstrap" Postman, or.... well, I don't know.  Might be worth a shot.
[Edit] -  after @petertirrell commented, I've noticed that mines *sometimes* starts directly from the ico

[2019-06-27 15:11] chrisdeso commented on #5046
Closing this one out due to inactivity on my end!

[2019-06-27 15:11] #5046 closed, assigned to vkaegis

[2019-06-27 15:12] chrisdeso commented on #5596
Closing this out as this issue was addressed with RBAC

[2019-06-27 15:12] #5596 closed, assigned to nobody

[2019-06-27 15:31] jeremyml opened #6796 "Prevent sync of passwords, api keys, and sensitive variables"
Postman does not have a feature to prevent credentials and other sensitive variables from being synced to Postman servers.  Unfortunately this is a large security vulnerability which prevents our organization from using Postman while signed in.  We must use Postman without signing in (local only) to prevent sync of production credentials.

I read the [Security page](https://www.getpostman.com/secu

[2019-06-27 15:48] steveostudios commented on #2724
This literally could not come any sooner! Thank you Postman team for this! It worked flawlessly for me the first time.

[2019-06-27 15:51] natanavra opened #6797 "Make it easier to deal with variables while crafting a request in builder"
**Describe the bug**
Can't use `Path Variables` in the host part of the URL (need at least 3 "/" symbols for the UI to shop up), this used to work on older versions (and the UI shows up if I use an old saved request that was configured that way)

**To Reproduce**
1. In the URL input enter `https://:host`
2. Note the `Path Variables` UI section doesn't appear.
3. Changing the URL input to `https://

[2019-06-27 15:52] Raj-postman commented on #6532
@ankitjaggi Let me know if there are any further details required to check on it

[2019-06-27 15:57] Raj-postman commented on #6692
@sankalp0o Yes, the issue was with the permissions

[2019-06-27 15:57] #6692 closed, assigned to vkaegis, ankitjaggi

[2019-06-27 17:54] eric-reinstein-fmr commented on #6035
Solved this issue with help from here: https://github.com/postmanlabs/postman-app-support/issues/6296

I had set my `NODE_OPTIONS` environmental variable to `--max_old_space_size=4096` for Angular development, which caused Postman to crash with the node::Init error listed above.
Reverting this change allowed my Postman to start normally.

[2019-06-27 19:18] chrisjohnson commented on #5369
Bleep Bloop

[2019-06-27 19:52] chrisdeso commented on #6413
@kamalaknn It looks like the underlying issue was addressed but @garrucho is still blocked on his end. We're getting some updated logs – let us know if you need any other pieces of info!

[2019-06-27 20:50] JP-from-Postman commented on #6742
Additional scenario:

New team is started, but invited billing user doesn't join.

This may be because a billing contact email is entered for the designated billing user, and this email is not ultimately used to register for an account.

Thoughts on what might help:
a) Provide instructions for registering for a user account, with invitation email
b) Provide additional messaging on ordering screen

[2019-06-27 23:07] manhActivePOS opened #6798 "Large numbers in CSV rounded in Runner"
**Description**

_Regression Issue_ When importing a .csv file for use in Runner, large numbers are being rounded and are no longer being preserved.  This is a script that I run weekly and this issue has appeared this week (I believe after 7.2.2 code drop... see [GitHub #3178] - Updated internal CSV parser to fix bugs with data files parsing in runner).  It appears to be a JS limitation as anythin

[2019-06-27 23:14] TravisEaster commented on #2853
Please add this! Also would be great for the console as well.

[2019-06-28 00:19] konstad commented on #675
After some digging, I found a way to accomplish this.

[2019-06-28 00:54] YOU54F commented on #675
@konstad care to share?

[2019-06-28 01:25] adamkerz commented on #4157
It is unbelievable that functions or scripts are not supported!

I have worked around it by adding an object to `pm`. In collection level tests:
[code]

Then, in a test's script:
[code]

I haven't tried this for pre-requests, it's the same general principal as @eloyucu said didn't work for him, so it probably won't work.

[2019-06-28 04:38] preethammavin commented on #6796
@jeremyml We have introduced session variables to address this issue, so that the sensitive information is not stored on our servers and also when you share the environment it doesn't get shared to you team members as well. In environment you should be able to see Initial value (which is synced) and current value which is only local to your device and is not synced.

We understand the users concer

[2019-06-28 04:38] #6796 closed, assigned to nobody

[2019-06-28 04:49] sankalp0o commented on #6794
@vkaegis Should we hide the button instead of disabling it? As a tab, this behaviour is slightly inconsistent.

[2019-06-28 04:56] santhoshTpixler commented on #6761
Hi @saswatds , I have tested the mentioned canary release. **The issue is fixed.**
Thank you for your valuable support.

[2019-06-28 05:21] shamasis commented on #6797
Hello. I’m afraid that the path variables format (one’s starting with colon,) is not intended to be supported in host part of the URL and is only available for “path”. You can use standard variables that are enclosed within double braces.

Older versions of Postman used to show erratic behaviour and as such, has been fixed in newer versions of Postman.

[2019-06-28 05:27] #4776 closed, assigned to ArifPMan

[2019-06-28 06:23] m3dbedb commented on #2851
I upvote for the feature postman.setNextFolder(). Runner and newman would execute specified folder from begining and you may rename requests in the folder and it would not break execution sequence.

[2019-06-28 06:24] ankit-m opened #6799 "Schema validation in API define tab"
**Is your feature request related to a problem? Please describe.**
The API define tab does not validate schema based on the type selected. Ex. OAS 3.0.0 validation

**Describe the solution you'd like**
Add inline schema validation which shows errors in the code editor if schema rules are violated.

**Describe alternatives you've considered**
Using other online schema validation tools.

[2019-06-28 06:31] arnitkun commented on #6788
Can you provide more information? I wasn't able to reproduce the behavior.

Steps I took:
1. Created a single request collection.
2.  Added 2 variables to an environment.
3.  Sent a request.
4.  Added variables to the collection and re-ran the request.

The process went out as normal, both the collection and environment variable got resolved on my end.

[2019-06-28 06:40] kamalaknn commented on #6716
@Vladislav4er I've tested the endpoint you have shared and a few others. This issue is fixed on the latest version of Canary.

I'm closing this issue now since this behaviour is observable only on Canary channel and is fixed on Canary channel now.

Please let us know if you are still seeing this.

Thanks.

[2019-06-28 06:40] #6716 closed, assigned to codenirvana, saswatds

[2019-06-28 07:22] zedbahn commented on #6730
Thx for fixing - looking forward to update to 7.3.

[2019-06-28 07:47] tobyurff commented on #285
+1 Would be extremely useful. We share Collections with common API actions and one of the most common issues is people not adding the env variables that are required to run them.

[2019-06-28 08:00] vikiCoder commented on #6798
Hi @manhActivePOS

You are right, we convert numbers without quotes in CSV file into JavaScript Number while parsing the CSV file in the Postman App. As a result, some numbers are changed because of the limitations related to how big number can be stored in JavaScript (learn more about it [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number#Properties)).

[2019-06-28 08:21] ylanen-anu opened #6800 "Clicking "New API" on the APIs tab caused Postman to become unresponsive for 15 min"
**Describe the bug**
I clicked the + New API link on the APIs tab.
![image](https://user-images.githubusercontent.com/28052324/60328155-ff0d2200-998d-11e9-83e9-c8cf1abfd8ad.png)
After that, Postman became unresponsive, and I was not able to switch the workspace, it just said "loading..." for a long time (perhaps 15 min)
![image](https://user-images.githubusercontent.com/28052324/60328232-2532c200-

[2019-06-28 08:44] natanavra commented on #6797
What's the reason not to support it in the host part?
Even if only a tiny bit of people use it... as in the mentioned examples - testing Shopify APIs requires using the shop's domain.

Using environment variables is not easily accessible to changing it at a rapid rate, unless using "Pre request script" but that moves the option to a different pane.

[2019-06-28 10:35] filfreire opened #6801 "Wrong view opened with "Manage Environments" keyboard shortcut in latest Canary release"
I've noticed that in the latest canary release I have installed, version `7.3.0-canary04`, when I do the keyboard shortcut `Option+Command+E` to open the "Manage Environments" menu, it opens the dialog to "Add environment", instead of the "Manage Environments" one. In version `7.2.2` this doesn't happen.

**Screenshots**
![Screenshot_2019-06-28_at_11_06_54](https://user-images.githubusercontent.co

[2019-06-28 10:38] sujayvenaik commented on #6801
Hey @filfreire
I was able to reproduce this, will fix this and push out ASAP.

Thanks for reporting.

[2019-06-28 10:51] DannyDainton commented on #3584
Hey @j27lee

This looks to be fixed in the latest Canary version.

<img width="704" alt="Screenshot 2019-06-28 at 11 53 24" src="https://user-images.githubusercontent.com/17089546/60337605-641b4480-999b-11e9-9497-4e9d94348e74.png">

https://www.getpostman.com/downloads/canary

[2019-06-28 11:59] filfreire commented on #6801
Thank you @sujayvenaik! :

[2019-06-28 12:04] arnitkun commented on #6788
I am sharing the collection and the environment with you that I used to replicate the issue you specified.

Link to my collection: [My collection](https://www.getpostman.com/collections/c5ed88a7ce645437314e)
Link to my environment:[testEnv.postman_environment.json.zip](https://github.com/postmanlabs/postman-app-support/files/3339070/testEnv.postman_environment.json.zip)

Import them to see if my s

[2019-06-28 12:13] geevb commented on #1535
+1

[2019-06-28 12:15] LayMuiToh opened #6802 "TypeError: Cannot read property 'content' of undefined"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
Run the post request in postman
GET http://{{hostname}}:8086/cm/x/response?conversationId={{convoId}}
Click the send
The body return has the content array
[
    {
        "conversationId": "xxxxx",
        "event": "UI",
        "message": {
            "content": [
                {
                    "command": "navigation"

[2019-06-28 12:20] Ghusar opened #6803 "Toast message for linking entity to api shows entity name as undefined"
**Describe the bug**
Try linking documentation to an API from postman web, success toast for that contains undefined instead of entity name

**Screenshots**
![image](https://user-images.githubusercontent.com/15612246/60341743-2c2cf500-99cd-11e9-833d-c0f088e7e006.png)

[2019-06-28 12:30] bhargavkaranam commented on #6802
Hey @LayMuiToh,
Looks like your response is returning an array of objects and you're not accessing it correctly in your test script. Closing this issue as this is not a bug with Postman itself and we would recommend posting this question on https://community.getpostman.com instead.

[2019-06-28 12:30] #6802 closed, assigned to nobody

[2019-06-28 12:46] Gcsaniz commented on #4253
Another vote to fix the missing sort icon!
On the latest version 7.2.2 of Postman for Mac OS and there is no way to execute the "Reorder Collections" function that is clearly documented on the Postman learning site:

https://learning.getpostman.com/docs/postman/collections/managing_collections/#reorder-collections

[2019-06-28 13:36] petertirrell commented on #6296
I can confirm, using `start /affinity 1 %LocalAppData%\Postman\app-7.2.2\Postman.exe` appears to successfully run the app for me now.  I haven't been able to run it via the normal shortcut after successfully running, though - if I launch using the `affinity` option it starts successfully, but immediately corrupts the `window` file if I launch normally.  In addition - I have to delete the corrupted

[2019-06-28 13:40] konstad commented on #675
Absolutely - want to email me at lokeysan@gmail.com?

[2019-06-28 14:03] txrackack commented on #675
Is there a reason not to post it so the rest of us could benefit?

On Fri, Jun 28, 2019, 8:40 AM Kristopher Onstad <notifications@github.com>
wrote:

[2019-06-28 14:04] ruaanviljoen opened #6804 "Improved behaviour when variables are not defined or empty"
Empty variables or undefined variables resolve to the variable name. This is frustrating behaviour because we often have services running on ports on our development environments, but none on production.  This forces us to maintain two copies of the same request for a massive number of requests, when Environments should be able to handle this.

 I've read using a space is a way around this, but th

[2019-06-28 14:04] SaiRamPothuganti commented on #2469
is this issue resolved  ?

[2019-06-28 14:36] luisdaglez commented on #4117
+1

[2019-06-28 14:37] stevenaw commented on #4117
Possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/2905 ?

[2019-06-28 15:25] konstad commented on #675
No - I just didn't want to get in trouble for anything!  Give me a bit and I'll get it typed up and posted on here.

[2019-06-28 15:33] YOU54F commented on #675
@konstad you won't get in trouble homie, and you never know, the postman team (may) incorporate it into the tool, regardless, you will make alot of people very happy!

I know a chap called Danny Dainton via Ministry of Testing who works with the postman team, so I will give him a nudge to look at it it too, and how they can incorporate it.

Cheers for your work! look forward to seeing it

[2019-06-28 15:51] Kotsuha commented on #4679
Thanks a lot!

[2019-06-28 16:31] konstad commented on #675
Okay, here is what I did:

I used Notepad++ to search through the Postman directories/files for existing snippet text.  I found a match in the 'app.asar' file, located in '..\AppData\Local\Postman\app-7.2.2\resources' folder.  The .asar file extension indicates this file is an Electron archive.  To open and unpack the archive, I downloaded 7zip, and then installed the .asar plugin from http://www.

[2019-06-28 16:57] JP-from-Postman commented on #6500
@abhijitkane Did this get released? Just received another user report that appears to be the same issue importing via API.

[2019-06-28 17:10] BrandonGordon126 opened #6805 "Update "Licence" to "License" on About screen"
**Describe the bug**
On the "About" screen in "Settings," the "Licences" link is misspelled. It should be changed to "Licenses."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on About
3.. See error

**Expected behavior**
Should say "Licenses"
<img width="1461" alt="Screen Shot 2019-06-27 at 3 20 10 PM" src="https://user-images.githubusercontent.com/48736195/60359139

[2019-06-28 18:15] JP-from-Postman commented on #6390
@abhijitkane Just received another report of this behavior. Billing user reports that they receive this error for any page on the web dashboard, not just the billing sections. Adding report to internal notes.

[2019-06-28 19:00] jeremyml commented on #6796
Ok, great!  I see that explanation now.

[2019-06-28 20:38] JP-from-Postman opened #6806 "Error: "request has the following fields missing or wrongly provided: collectionId""
**Describe the bug**
_Reported by support, on behalf of original user._

User is attempting to publish a Collection, and receiving the following error:

![image001](https://user-images.githubusercontent.com/43283131/60369794-a3509200-99a9-11e9-9f9b-c360bcabda16.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to publish Collections
2. Receive error

**Expected behavior**
Collecti

[2019-06-28 20:40] akaczinski opened #6807 "Cookies disappearing after 1 request"
**Describe the bug**
If a site sends me a "set-cookie" header, the cookie will save for only one more request. After that request, if another "set-cookie" header is not sent to replace the prior, it will be wiped from Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to site with a x-www-form-urlencoded body to send in username/pass
2. Confirm the server responded with a 'set-co

[2019-06-28 23:40] spdkb opened #6808 "Can’t use variables for certs domain and port number"
When I add certs domain and port as a variable I don’t see variables are picking from environment variables or globals

Steps to reproduce the behavior:
1. Create a global variable for the domain.
 Ex:
url-domain - google.com
Port - 1234
2. Create request accordingly
3. Add certs as {{url-domain}} {{Port}} and map certs from your local

Issue - postman is not picking certs dynamically based on var

[2019-06-29 12:02] shamasis commented on #6808
I’m afraid this is not supported in Postman yet. Certificates are general application settings and cannot have variable based reference owing to that limitation. I’m keeping this marked as a feature request and if things fit into the flow, will update here.

[2019-06-29 12:09] sujayvenaik commented on #6801
Hey @filfreire  We have fixed this in the latest canary (v7.3.0-canary06).
Thanks for reporting :)

[2019-06-29 15:54] harryi3t commented on #6807
@akaczinski
Thanks for reporting this issue.
We have found the root cause of this issue and are working on the fix.
Will update here once the fix is released.

Thanks again 👍

[2019-06-29 16:19] codenirvana commented on #6807
@akaczinski Thanks for using Postman Canary and reporting this issue.
But, We are not able to reproduce this at our end, can you provide more information or steps to reproduce?

Here's how I tried:
1. Clear all cookies for `postman-echo.com`
2. Request `http://postman-echo.com/cookies/set?foo=bar`

3. Request `http://postman-echo.com/cookies/set?bar=baz`

4. Request `http://postman-echo.com/cookie

[2019-06-29 22:39] konstad commented on #675
Was this not helpful?

[2019-06-30 01:54] txrackack commented on #675
This is awesome.   Thank you very much for sharing.  I can't wait to see
what else you come up with...  ;)

On Sat, Jun 29, 2019, 5:39 PM Kristopher Onstad <notifications@github.com>
wrote:

[2019-06-30 11:04] Bartimeus commented on #2773
Hi!
Please allow only one tab!

[2019-06-30 14:39] donald-jackson commented on #6550
@vikiCoder Thanks for this! Much appreciated by me and I'm sure many others :)

[2019-06-30 14:41] shamasis commented on #6798
Closing this as a close duplicate of https://github.com/postmanlabs/postman-app-support/issues/6746

When we add options to auto convert numbers to string, it would be easier to achieve what @vikiCoder suggested.

[2019-06-30 14:41] #6798 closed, assigned to codenirvana

[2019-06-30 14:44] shamasis commented on #6797
@natanavra - you’re bang on the buck. Instead of introducing an incorrect concept, we should make it easier to deal with variables.

@vkaegis - something to keep a track of.

[2019-06-30 16:52] thesaxonedone commented on #6377
As an added datapoint, I believe I have further diagnosed this as unpredictable behavior when the server responds to an in-flight HTTP request.   In other words, for example, if the client is trying to POST a 4 GB file, and the server responds with an HTTP 413 (or anything really, but we'll just use a 413 as an example), while the client is still transmitting data, Postman's behavior is unpredicta

[2019-06-30 17:49] shamasis commented on #542
Hello, this is a fairly old issue, but with the features added to Postman sandbox over time, this can be achieved and this issue can be closed.

1. pm.sendRequest can send requests from inside scripts
2. setTimeout of JavaScript pauses a script until the timeout is complete or cleared
3. postman.setNextRequest(null) stops a run
4. pm.test(function (done) {}) - the “done” parameter can be used to m

[2019-06-30 17:50] codenirvana commented on #6377
@thesaxonedone Thanks for providing the additional details and the RFC reference.

I tried reproducing this locally with our request sending library and it does terminate the ongoing request if the server ends the connection prematurely.

<img width="1081" alt="Screenshot 2019-06-30 at 11 06 17 PM" src="https://user-images.githubusercontent.com/4865836/60400101-fa628c80-9b8c-11e9-806d-eb43bb5a5155

[2019-06-30 17:50] #542 closed

[2019-06-30 17:57] shamasis commented on #929
Just an update to this thread, now you can select granularity of what requests to run before running a request.

[2019-06-30 17:58] thesaxonedone commented on #6377
I am unable to understand if you are acknowledging that this is a problem, or if you're saying this is expected behavior?   I am getting the impression that you mean the latter.

If a properly formed 400 or 413 (or really any HTTP response) is being sent back by the server, Postman should not be indicating an ECONNRESET or ECONNABORTED, when the reason for the ended connection was **not** a TCP RS

[2019-06-30 18:08] shamasis commented on #2982
You can achieve this by using any variable name of your choice as a value of header and then using pre-request script at a collection level to set its value. This actually allows you to set anything that you need and not be limited by what’s provided as dynamic variable. It’s also one-time inclusion in collection level script and doesn’t not need to be repeated for every item.

The dynamic variabl

[2019-06-30 18:08] #2982 closed, assigned to a85, vkaegis

[2019-06-30 18:10] shamasis commented on #3523
Just an update ... you can now do this as part of the collection runner. It’s still serial though.

[2019-06-30 18:10] codenirvana commented on #6377
@thesaxonedone I acknowledge that its an issue but I am not able to reproduce this locally (https://github.com/postmanlabs/postman-app-support/issues/6377#issuecomment-507054543).

Can you share your steps to reproduce this? Maybe provide a sample local server which can be used to reproduce the similar behavior at our end.

[2019-06-30 18:12] thesaxonedone commented on #6377
I will see if I can get something going for you.   Thanks for the followup

[2019-06-30 18:17] shamasis commented on #4064
Postman sends the content-length header for binary files all by itself. Need to reproduce under what scenarios is this missed. Still keeping this as a feature request so that we end up adding the configuration feature suggested.

[2019-06-30 18:21] shamasis commented on #3817
Also, related to: https://github.com/postmanlabs/postman-app-support/issues/422

[2019-06-30 18:55] shamasis commented on #5606
Note for future reference: @codenirvana we need to migrate to async_hooks from our current timerz implementation in postman-sandbox. That should open support for all language async features. Currently only setTimeout and setInterval are supported.

[2019-06-30 20:25] BrianARice commented on #6682
+1 I agree this would be super useful!

[2019-06-30 21:57] thesaxonedone commented on #6377
I do not readily have access to a server on which to do this, but I have created a github repository with code that will run a nodeJS application that will demonstrate the issue.   I have included what I believe to be relatively straightforward instructions for running this and demo-ing the issue

https://github.com/thesaxonedone/postman_issue6337_demo

[2019-06-30 23:00] victorregoz commented on #1583
I see many people asking the same question, how to save the ARRAY. regardless, people keep answering this with a stringify. why?? I need the array, the reason is that afterwards, I want to make a different request, each one with one array element. The problem is that when you call back this stringify from your globals/enviroment variables, it becomes really hard to iterate since the "stringify" ob

[2019-07-01 03:47] preethammavin commented on #6781
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 03:47] #6781 closed, assigned to nobody

[2019-07-01 03:51] preethammavin commented on #6786
@cyrielle-hada any chance you got to get the information required?

[2019-07-01 03:52] preethammavin commented on #6789
@tester20183450 can you provide the information as required by the template, with steps to reproduce this so that we can get this sorted.

[2019-07-01 04:02] preethammavin commented on #6189
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:02] #6189 closed, assigned to nobody

[2019-07-01 04:02] preethammavin commented on #6228
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:02] #6228 closed, assigned to shamasis

[2019-07-01 04:03] preethammavin commented on #6237
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:03] #6237 closed, assigned to nobody

[2019-07-01 04:03] preethammavin commented on #6277
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:03] #6277 closed, assigned to nobody

[2019-07-01 04:03] preethammavin commented on #6310
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:03] #6310 closed, assigned to nobody

[2019-07-01 04:04] preethammavin commented on #6336
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:04] #6336 closed, assigned to nobody

[2019-07-01 04:04] preethammavin commented on #6361
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:04] #6361 closed, assigned to nobody

[2019-07-01 04:05] preethammavin commented on #6451
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:05] #6451 closed, assigned to nobody

[2019-07-01 04:06] preethammavin commented on #6646
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:06] #6646 closed, assigned to nobody

[2019-07-01 04:06] preethammavin commented on #6679
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:06] #6679 closed, assigned to nobody

[2019-07-01 04:06] preethammavin commented on #6700
Closing the issue has with the current information , we are not able to deduce the issue. Please feel free to reopen the issue with the required information so that we can get it resolved.

[2019-07-01 04:06] #6700 closed, assigned to numaanashraf

[2019-07-01 04:08] codenirvana commented on #6789
@tester20183450 The variables lacks support for types that's why the object value is converted/represented as `[object Object]`. However, you can store the stringified object and parse the variable content whenever needed.

Example:
[code]

I hope this solves your problem. Also, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like t

[2019-07-01 04:08] #6789 closed, assigned to codenirvana

[2019-07-01 04:58] abhijitkane commented on #6762
@stephen-farmer-avalara @alfkonee Can you link to the file which you're not able to import? Importing https://petstore.swagger.io/v2/swagger.json works for me in 7.2.2.

[2019-07-01 05:22] Ramya-From-Postman commented on #6453
@mattfrear May I know if the issue still persists? If yes, could you try reproducing the issue by connecting your computer/laptop to a different network(maybe hotspot) and let us know if that works?

[2019-07-01 05:31] venkatesuluM commented on #6418
@shamasis , @codenirvana

We found issue on windows standalone desktop application.
Please find the below screenshots.
[Screenshot.docx](https://github.com/postmanlabs/postman-app-support/files/3344065/Screenshot.docx)

[2019-07-01 05:39] codenirvana commented on #6418
@venkatesuluM Please share what's the issue. Also, looks like the screenshot is broken.

@mukeshknoldus Exported environment always have initial values, that's the expected behavior. Know more about [sessions in Postman](https://blog.getpostman.com/2018/08/09/sessions-faq/).

[2019-07-01 06:21] #6680 closed, assigned to abhijitkane

[2019-07-01 06:24] #6472 closed, assigned to abhijitkane

[2019-07-01 06:26] abhijitkane commented on #6289
@oprogramador Feel free to add a comment if you're still seeing this in the latest build.

[2019-07-01 06:26] #6289 closed, assigned to abhijitkane

[2019-07-01 06:31] abhijitkane commented on #4499
Everyone - The latest Postman version (7.2.1+) supports generating the request body from the Swagger 2.0 schema.

[2019-07-01 06:31] #4499 closed, assigned to abhijitkane

[2019-07-01 06:35] abhijitkane commented on #3392
@voycey The new native apps support integration with the interceptor to sync cookies. Check https://community.getpostman.com/t/interceptor-integration-for-postman-native-apps/5290 for more.

Closing this issue for now. Feel free to comment if you're unable to get the cookie syncing to work.

[2019-07-01 06:35] #3392 closed, assigned to abhijitkane, numaanashraf

[2019-07-01 06:38] abhijitkane commented on #5365
@shamasis The issue is not in the codegen, but the request sending flow.

[2019-07-01 07:17] sujayvenaik commented on #6517
Hey @Kurmavathar
We have pushed certain stability improvements and fixes for shortcuts which is available on the latest Canary version. (https://www.getpostman.com/downloads/canary)
Try it out once and do let us know.

[2019-07-01 07:23] Ramya-From-Postman opened #6809 "Error in postman bootcamp tooltip message"
**Describe the bug**
The mock path in the tooltip message while creating a mock for a post request in Bootcamp is incorrectly shown as **Get** and this needs to revised.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Bootcamp
2. Take the course of creating mock for a POST request

**Expected behavior**
The tooltip message should display the right path which is POST

**Screenshots**
![

[2019-07-01 07:25] cirrusa opened #6810 "Postman python3 http.clent code generation problem"
**Describe the bug**
When I generated the python3 http.clent code, the dot was replaced with a comma.

**To Reproduce**
When you click code to generate the code

**Screenshots**
![TIM截图20190701151754](https://user-images.githubusercontent.com/7261963/60417885-1b21f500-9c14-11e9-92ba-c6fde13b712e.jpg)

**App information (please complete the following information):**
- Postman for Windows
- Version

[2019-07-01 07:43] ratpik commented on #3509
@PilotConway @selch - Postman Mock servers now support dynamic variable resolution for `{{$timestamp}}` and several other variables. The entire set of variables are listed in this issue #971

[2019-07-01 07:43] #3509 closed, assigned to ratpik

[2019-07-01 08:15] ghost commented on #4690
This would be a great addition. 👍

[2019-07-01 09:06] godfrzero commented on #6655
A fix for this was pushed out around June 23rd and we've been monitoring the system. Closing this ticket as the issue has been resolved now.

[2019-07-01 09:06] #6655 closed, assigned to godfrzero

[2019-07-01 09:09] godfrzero commented on #6030
Closing this since the new issue has also been fixed and the fix has been verified.

[2019-07-01 09:09] #6030 closed, assigned to godfrzero, ankit-m, preethammavin

[2019-07-01 09:41] chenfangzhi123 commented on #2801
+1 again

[2019-07-01 09:44] DonKonfetti opened #6811 "Notify user when app is in full screen mode"
**Describe the bug**
I'm unable to minimize, maximize or close the Postman (version 7.2.2) window as those buttons are not shown. Also the window cannot be dragged by clicking the title bar, keeping mouse button pressed and moving the mouse. When entering the window menu by pressing SHIFT+ALT+SPACE only the menu entries Minimize and Close are enabled, all others are disabled.

**To Reproduce**
Ste

[2019-07-01 09:52] zdlhappy opened #6812 "Post a file througth file param doesn't work, always 400"
version: 7.2.2  7.2.0

[2019-07-01 09:58] zdlhappy commented on #6812
When select file, the column of param name is blank, but when the mouse over, it would shows

[2019-07-01 09:59] kamalaknn commented on #4799
Hey @sumitkumar1209 @dantench

We made some improvements to the syncing flows in Postman v7. Can you upgrade to latest version of Postman above v7 and let us know if you are still seeing any issues?

[2019-07-01 10:01] F3sterski opened #6813 "Missing "accountID" header"
**Describe the bug**
missing header during request

**To Reproduce**
Steps to reproduce the behavior:
In main screen during sending request all my headers works fine but "accountID" is missing.

**Expected behavior**
header "accountID" should appear on server side

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/909231

[2019-07-01 11:04] kamalaknn commented on #5712
@hadidotj This is fixed on the Postman Canary channel now. We'll push it out to the stable channel soon.

[2019-07-01 11:26] gajendra-chandrakar opened #6815 "postman require('fs') is not returning FileSystem object in version 7.2.2"
**Bug Description:**
postman require('fs') is not returning FileSystem object in version 7.2.2
when used in scripts in "Tests" tab .
giving error ** TypeError: fs.writeFileSync is not a function**

**To Reproduce**
Steps to reproduce the behavior:

    Go to ' Tests' tab and write below code
    pm.test("response is ok", function () {
        outFilePath = 'out_file.txt';
        fileContent = 'He

[2019-07-01 11:31] nirradi commented on #3137
+1 First time user of postman collection runner, first thing I tried and it doesn't work :(

[2019-07-01 11:34] gajendra-chandrakar commented on #6815
Describe the bug
postman require('fs') is not returning FileSystem object in version 7.2.2
when used in scripts in "Tests" tab .

To Reproduce
Steps to reproduce the behavior:

    Go to ' Tests' tab and write below code
    pm.test("response is ok", function () {
        outFilePath = 'out_file.txt';
        fileContent = 'Hello World';
       fs = require('fs');
       console.log(fs);
       fs

[2019-07-01 12:14] saswatds commented on #6815
Hi @gajendra-chandrakar Postman does not support performing a file-system operation inside the test-script sandbox as of now.

To know about all the supported libraries that you can include checkout out the learning centre
https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/#___gatsby

[2019-07-01 12:22] saswatds commented on #6815
We are already tracking such a feature request to allow access to file-system using our new working directory concept as stated in Issue https://github.com/postmanlabs/postman-app-support/issues/6370
In efforts to keep issues properly tracked, I am closing this issue as a duplicate.
Feel free to thumbs up in the above issue.

[2019-07-01 12:22] #6815 closed, assigned to nobody

[2019-07-01 12:24] stephen-farmer commented on #6762
@abhijitkane This is the one I am trying to import:
https://complianceservice-dev.returns.avalara.net/swagger/v1/swagger.json

[2019-07-01 12:27] stephen-farmer-avalara commented on #6762
@abhijitkane This is the one I am trying to import:
https://complianceservice-dev.returns.avalara.net/swagger/v1/swagger.json

[2019-07-01 13:03] natanavra commented on #6797
@shamasis Environment variables are environment, it's not something that is configured on the request level.
That's why path variables and query parameters windows were introduced.
If you change the title of "Path Variables" to "URL Variables", fits the concept and works perfectly.
Why do more work?

[2019-07-01 13:09] jmzagorski commented on #6811
I am also experiencing this with the same setup, but I would also like to add I am on windows 1903.

Also, the app does not show up when you drag another window to the edge and list of other windows are shown to select one for a side-side view. Finally, i tried the `win+arrow` to move the postman window, but it does not work either.

One more update: The taskbar is not show/or hidden when the post

[2019-07-01 13:19] muslaydin opened #6816 "Pop-up is under scrolling"
https://i.imgur.com/8tq4an4.gifv

[2019-07-01 13:23] DannyDainton commented on #3233
Hey @abhijitkane,

I took a look at this some more to see if I could get more information about the issue.

Using this example in the section from the [raml-org](https://github.com/raml-org/raml-spec) GH repo:

https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#the-root-of-the-document

[code]

Added this as a `Raw Text Import` on version 7.2.2 - It failed to import and

[2019-07-01 13:26] abhijitkane commented on #3146
Everyone - we’re finally ready to launch a beta for the Interceptor integration for the native Postman apps!

The Interceptor is a very useful part of the Postman workflow - making API calls in the context of the browser’s session is a common use case. Any use-case which requires you to login to the browser (effectively setting a cookie) and performing API calls from Postman was cumbersome at best

[2019-07-01 13:27] Kastamat opened #6817 "Delete team"
Hi. I have a problem
I created a team to share requests as much as possible.But this function was useless for my purposes.
I decided to delete the team, but with it all my collections were deleted. Is there any way to restore the collections?

[2019-07-01 13:43] DonKonfetti commented on #6811
I'm on 1809. Updated the original post.

[2019-07-01 13:45] labifrancis commented on #6752
@saswat The user is getting this error "could not get any response"

[2019-07-01 14:07] saswatds commented on #6752
`Could not get any response` error occurs usually when the server fails to respond. Can you confirm that `Something Went Wrong` crash is no longer happening?

[2019-07-01 14:46] saswatds commented on #6812
Hi @zdlhappy I am not very sure what this issue is.
Could you help me out with the steps by which I can reproduce this issue? Images or a gif would be really helpful.

Thanks

[2019-07-01 14:52] saswatds commented on #5365
Hey @neesonqk over this period of time we have been actively fixing bugs. Could you update to the latest version of postman app and confirm that this problem still persists?

[2019-07-01 15:30] Artemy22 opened #6818 "An example for Pre-request script includes described bellow error"
**Describe the bug**
An example for Pre-request script includes described bellow error

**To Reproduce**
- go to https://learning.getpostman.com/docs/postman/scripts/pre_request_scripts

**Expected behavior**
Instead of `pm.environment.set("timestampHeader"); new Date());`
Should be `pm.environment.set("timestampHeader", new Date());`
**Screenshots**
![Selection_317](https://user-images.githubuser

[2019-07-01 16:15] rcdailey commented on #4105
I'm still seeing this issue on v7.2.2. This isn't fixed at all. Unless I'm missing something, but this should be really straightforward. I define a variable called `url` in my collection. I do `{{url}}/my/api/call` in the URL field for my request. The `{{url}}` shows as unresolved by Postman.

[2019-07-01 16:28] alanamircruz commented on #4105
Try removing (refreshing) your environment variables. It happened to me:
double check the declaration and using the proper settings (needed to
remove them then re add the environment.json file)

On Mon 1. Jul 2019 at 18:15, Robert Dailey <notifications@github.com> wrote:

[2019-07-01 17:22] rcdailey commented on #4105
What do you mean "removing/refreshing environment variables"? These are collection variables, I do not have an environment set. I'm new to Postman so if I'm missing something please let me know.

[2019-07-01 17:25] akaczinski commented on #6807
Hi,
I received a message from @harryi3t but I don't see it in the comments here so I am a little confused. However, I tried the latest PostmanCanary today and the problem still exists. I am assuming the bug fixes in canary07 "Fixed a bug where setting cookies on URLs with port number was not working" is meant to address this. Although, in my instance I was not using ports.

In the example you show

[2019-07-01 17:51] jameslaneconkling opened #6819 "Don't make the request result panel scrollable"
Enhancement: When viewing a sufficiently large result in the single pane view, both the app body and result panel are scrollable.

![Screenshot 2019-07-01 13 32 05](https://user-images.githubusercontent.com/4389360/60455557-a4313000-9c04-11e9-8814-1988a08ec407.png)

_(for context, in the above example, I'm referring to the inner panel containing the json as the result panel, and outer element cont

[2019-07-01 18:16] shamasis commented on #6813
Can you change the url in url bar to `https://postman-echo.com/headers` and post what response you’re getting?

[2019-07-01 18:37] vkaegis commented on #6819
@jameslaneconkling Thanks for writing in. We're tracking this issue here: https://github.com/postmanlabs/postman-app-support/issues/5903

Closing this one as a duplicate.

[2019-07-01 18:37] #6819 closed, assigned to vkaegis

[2019-07-01 18:43] alanamircruz commented on #4105
So as me Robert, none an issue.

I wish I could show how we manage this stuff but reading a little bit of
this helped us in the past.

https://blog.getpostman.com/2017/12/29/10-tips-for-working-with-postman-variables/

Let me know if you want we can check the issue/situation directly.

Regards,
Alan

On Mon 1. Jul 2019 at 19:22, Robert Dailey <notifications@github.com> wrote:

[2019-07-01 18:51] rcdailey commented on #4105
I have already read that article. Again I think this should be pretty straightforward. Variables work if I set them in an environment. But if I set the environment to empty/none and then set them in the Collection, it doesn't resolve the variables.

[2019-07-01 19:24] codigoalvo commented on #5039
Same problem here. I tried with 32 and 64 bits 7.2.2 version for Windows and with the Canary version. When the environment variable IS EMPTY the value is displayed as %7B%7Bvariablename%7D%7D . I tried to move from the account and relogin user, tried different folders in the system. Nothing seems to solve the problem.

[2019-07-01 19:42] akaczinski opened #6820 "After using find and replace, the changes save in Postman, but will not export with the changes"
**Describe the bug**
I have a collection in my shared workspace, which, if I were to share, would not help showcase this bug, for reasons soon to be explained.

The issue seems to have occurred after I performed a Find & Replace using the built-in Find feature in Postman. I searched for all uses of a certain variable in the request URLs of my tests, and replaced about half of the tests in my colle

[2019-07-01 20:06] iamvinny opened #6821 "It's not importing cURL requests with "$" on it"
**Describe the bug**
I'm trying to import a cURL request copied from Burp Suite, but it's adding the symbol "$" to the requests, which Postman doesn't seem to accept.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Postman**
2. Click on **Import**
3. Click on **Paste Raw Text**
4. [Paste the request copied from Burp Suite](https://pastebin.com/raw/N73kbscr)
5. Click on Import
6. See

[2019-07-01 20:56] BrandonGordon126 opened #6822 "Update button label on purchase flow"
**Describe the bug**
The button label on the purchase flow for adding slots needs to be updated from "Pay $XXX" to "Complete Purchase."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add Slots page on the Manage Team page
2. Select number of user slots
3. Click proceed
4. See error

**Expected behavior**
The button label should more clearly describe the action that the user is taking,

[2019-07-01 21:07] moravcik commented on #3302
Hi @ankurdengla1996 - I planned to document how to reproduce this problem but I found it was entirely my bug - my problem.
Few months ago I tried to add some headers to the request conditionally in the pre-request script, but at that time it didn't work. I forgot to remove my pre-request script and now I have installed the latest version of Postman and the pre-request script started to work, alway

[2019-07-01 21:09] DannyDainton commented on #6821
Additional information - By just removing the `$` from the method, it will import the request into the application but all the values will show the `$` prefix.

<img width="1291" alt="Screenshot 2019-07-01 at 22 07 53" src="https://user-images.githubusercontent.com/17089546/60466847-bd5dcf00-9c4c-11e9-84dd-d1cb8709b89f.png">

[2019-07-01 21:18] codenirvana commented on #3302
@moravcik Yes, We added support for request mutation via pre-request script in v7.0.9, [More Info](https://github.com/postmanlabs/postman-app-support/issues/4631#issuecomment-477766260).

I understand the source of confusion, categorizing system and programmatically added headers is definitely on our list and will be fixed with #6396.

Thanks for your feedback!

[2019-07-01 21:37] jantonacci commented on #2452
Pivotal Spring Services tokens expire in 30 seconds.  Spending more time refreshing tokens than running requests.  Back to Python scripts.

[2019-07-01 22:53] codenirvana commented on #6587
@andreagubellini Is possible to share a sample collection (without sensitive data) which we can use to reproduce this issue?

[2019-07-01 23:16] codenirvana commented on #6807
@akaczinski Can you confirm if you can reproduce the issue using the following steps:

1. Request `http://httpbin.org/cookies/set?foo=bar`
2. Request `http://httpbin.org/cookies`
3. Check Cookie Manager

httpbin's `/cookies` endpoint doesn't respond with `set-cookie` header as you expected.

[2019-07-01 23:29] codenirvana commented on #6377
@thesaxonedone Thanks for providing the sample server. However, Its working fine for me, no "Could not get any response" 😕

Can you try upgrading to the latest version of the Postman App and check if the issue persists?

[2019-07-01 23:57] loopDelicious opened #6823 "Could not import Open API spec v2.0"
**Describe the bug**
This OAS v2.0 will not import into Postman v7.2.2 (either from a file or from a link). However the import previously worked on Postman v6.7.4.

**To Reproduce**
Steps to reproduce the behavior:
### Importing as link
1. Import this OAS v2.0 link: https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.15/api/openapi-spec/swagger.json
2. See error: Swagger 2.0: Could n

[2019-07-02 00:01] JP-from-Postman opened #6824 "Large CSV file freezes Collection Runner, crashes app"
**Describe the bug**
When starting a Collection run using a large CSV file (65k+ rows, 4 columns), the Runner window freezes. Clicking anywhere on the Runner window will get the UI to update with a couple run iterations, but after a few iterations it locks completely. Closing the Runner window then causes the app to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Collection w

[2019-07-02 00:09] akaczinski commented on #6807
I think, what it requires, is the endpoint to still respond with a set-cookie header, but with a different cookie. Then, for whatever reason, PostmanCanary tosses the old cookies after this, except for the ones that were still in a set-cookie header in the last response.

e.g.
request 1 (login):
POST /loginPage/
body: loginCredentials

response 1:
set-cookie: loginCookie=thisGuy; pointlessCookie=o

[2019-07-02 00:18] thesaxonedone commented on #6377
How many times did you attempt the POST?    It usually takes a few tries for it to happen (it seems to happen as frequently as every other request and as infrequently as every ten requests, depending on who knows what).

For reference, I am running Postman 7.2.2, which appears to be the latest version?   Clicking "Check For Updates" results in an "Up To Date" message

[2019-07-02 03:10] Ramya-From-Postman opened #6825 "Request to improve the in-app "warning messages" when leaving the team"
Hi Team,

The fact is that the shared collections and the archived collections are associated with the team and If someone by mistake or deliberately exit from the team they will end up losing their data. So, it is important to enhance the in-app flow and make it clear enough for the user to act accordingly.

Currently, when a member attempts to exit from the team, he gets the following warning:
!

[2019-07-02 03:29] codenirvana commented on #6377
@thesaxonedone I tried around 20-25 request manually and then ran 150 iterations using the collection runner without any issue.

[2019-07-02 03:50] codenirvana commented on #6807
@akaczinski I am on Canary version `7.3.0-canary07` and the following NodeJS server behaves exactly what you mentioned above.

[code]

* `localhost:3000/login` -> 2 cookies
* `localhost:3000/info` -> 2 cookies
* `localhost:3000/anything` -> no cookies

I am still not able to reproduce the issue, try/change the local server accordingly and let me know if it works for you.

[2019-07-02 03:56] saswatds commented on #3137
Hi everyone postman does support file in collection runner from app version 7.1.0
More on how it works has been described in the comments
https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-490749103

In case of a situation where file-reference were not selected on the system you are running the collection,  you can check your postman console and find PPERM error in which c

[2019-07-02 03:57] thesaxonedone commented on #6377
@codenirvana maybe its some oddity with the OS network stack?   I'm running both Node and Postman on windows.   Yourself?

[2019-07-02 04:19] jscul commented on #3137
@saswatds _"If you want to access the file in some other computer, simply keep another copy of the file with the same name in the same directory path in the other computer, preferably in the working directory."_ This still seems like a headache... what's being asked for in this thread (IMO) is the ability to have files be stored by Postman (on a server) so when I update a request with a new image

[2019-07-02 04:23] thesaxonedone commented on #6377
@codenirvana Nevermind, I spun up a VM and got it to happen using both Postman Linux and Windows clients going to the referenced NodeJS app running on both Windows and Linux NodeJS instances.

Would it be helpful for me to demo it to you, since you seem unable to repro?

[2019-07-02 04:33] Ramya-From-Postman opened #6826 "Include an option to turn-off the indexing for public documentation"
Hi Team,

Currently, public documentation pages are always indexed. Also, have the ability to add them in the API Network or as a template that is searchable by the community. However, it will be good if there an option included for turning off the indexing so that only the people who have the link can access the document.

[2019-07-02 04:39] Ramya-From-Postman commented on #6453
The customer wrote an email to help@getpostman.com confirming this issue is resolved. Hence, marking this thread as closed.

[2019-07-02 04:39] #6453 closed, assigned to elssar

[2019-07-02 04:42] preethammavin commented on #6825
@Ramya-From-Postman there seems to be confusion here, there is no data deleted when a user leaves the team. When a user leaves the team the shared collections remain with the team as shared collections are team entities, the collections created by the user which are not shared with the team remain with the user.

We will improve the second part where the communication of what happens to the team w

[2019-07-02 04:49] codenirvana commented on #6377
@thesaxonedone I can confirm this is happening on Windows. I was testing on macOS previously.

Need to check what's causing this issue but it will be very tricky as its happening and the very low-level request sending layer.

Will update once I found the root cause of this issue.

[2019-07-02 04:55] preethammavin commented on #6820
@akaczinski I am unable to reproduce this, can you let us know if the following so that we can debug better
1) When you view the docs by clicking on `View in Web` do you see the changes reflected there?
2) The collection you are exporting does the collection reflect the changes in the variable edits that you made

[2019-07-02 05:02] thesaxonedone commented on #6377
Here is a possible theory:
Race condition between TCP FIN packet and unacknowledged receive buffer, though I don't know if its an OS level problem or a Postman problem.   That being said, I don't think I'm the first one in the world to deal with trying to gracefully terminate requests that are too large, so I imagine there is an accepted way to deal with this.  Some of the previous articles I link

[2019-07-02 05:04] shamasis commented on #6824
Can you let me know of the size of the file on disk?

[2019-07-02 05:04] Ramya-From-Postman commented on #6825
@preethammavin you are right. Explicitly mentioning **When a user leaves the team, the shared collections remain with the team as they are the team entities**" will help users who want to create a copy/duplicate of **their collection** that was shared with the team before they exit.

[2019-07-02 05:16] npaul23 opened #6827 "Unable to login to Postman App"
**Describe the bug**
I'm accessing postman through proxy. I am able to access it and sign in successfully through browser. But I'm unable to sign in through Postman App. We've whitelisted both *getpostman.com and *postman.co. We've tried with both custom proxy & system proxy. Its still the same issue. Is there any other URL we need to whitelist specific to the App?

![Screenshot1](https://user-ima

[2019-07-02 06:14] faizy-ahmed commented on #1060
This really worked for me! Thanks mate for the help.

[2019-07-02 07:09] godfrzero commented on #6710
We've pushed out a fix to address this problem, @ryanshores Could you let us know if this is still happening?

[2019-07-02 07:51] JulienSteel commented on #6653
Any update on this issue?

[2019-07-02 08:33] cyrielle-hada commented on #6653
@godfrzero @kartikjain26 would you be able to provide some heads-up on this issue? I did reproduce it on my end and it still throws the error.

[2019-07-02 08:43] kartikjain26 commented on #6653
@cyrielle-hada  Let me test this out. Can you make sure the monitor exist in the workspace that you're creating the integration in ?

[2019-07-02 08:50] ghost opened #6828 "Show branch name for collection in the Runner"
It would be nice if branch names for collections was shown in the runner, so we don't have to do a count to ensure we select the proper branch.

[2019-07-02 08:53] cyrielle-hada commented on #6653
I confirm that the monitor exists in the team workspace I have joined.
However, the collection is owned by another team member (who belongs to the team - so not an access delegation issue) and I do have the editor access on this collection.

[2019-07-02 09:43] pulkitsharma07 opened #6829 "All requests are shown as GET, regardless of the actual method specified for the request"
The tabs show the correct method (`POST`), whereas the sidepanel displays these requests as `GET`
![Screen Shot 2019-07-02 at 3 09 19 PM](https://user-images.githubusercontent.com/4774658/60502476-88e52400-9cdb-11e9-8305-d1c280a60369.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request in a collection
2. Change the request method to something other than `GET`

**App info

[2019-07-02 09:44] pulkitsharma07 commented on #6829
I have tried restarting the application, that didn't help.

[2019-07-02 09:45] sujayvenaik commented on #6829
Hey @pulkitsharma07
I see that you haven't saved the request yet.
The sidebar reflects the saved state of the request and I can see unsaved changes in your tab. Maybe you changed the method but did not save it.

Can you save it once and try if it's working as expected?

[2019-07-02 09:47] Ghusar commented on #6828
@ChristianMP Thanks for reporting this issue.

May I know which version of postman app, you are currently using?

[2019-07-02 09:48] larsduelfer commented on #6682
+1 We are also looking for a solution to test SSE requests

[2019-07-02 09:48] cyrielle-hada commented on #6397
@ankit-m @ankitjaggi would you be able to give some heads-up for this issue?

[2019-07-02 09:48] pulkitsharma07 commented on #6829
Oh, it displays the correct method now !

Seems like a bit counterintuitive to me to be honest. The side panel should also show the yellow/orange dots to signify that there are unsaved changes (and update its state according to current request's state).

[2019-07-02 09:49] #6829 closed, assigned to nobody

[2019-07-02 09:51] ghost commented on #6828
Postman for Linux
Version 7.2.0
linux 5.0.0-16-generic / x64

[2019-07-02 10:00] Ghusar commented on #6828
@ChristianMP  we have included this feature in version 7.2.2 of postman app. Can you try upgrading the app version and confirm it?

[2019-07-02 10:21] ghost commented on #6828
@Ghusar I was running Postman of Snap, I've now done a manual update to 7.2.2 and can confirm that it works. Thank you very much.

[2019-07-02 10:21] #6828 closed, assigned to nobody

[2019-07-02 10:45] harryi3t commented on #5183
Since the field was removed starting from version 7.2.0, closing the issue

[2019-07-02 10:45] #5183 closed, assigned to numaanashraf

[2019-07-02 11:35] arnitkun commented on #4375
Hi!

I tried to reproduce the issue. The steps I have taken:

1.  Create a bunch of dummy files (binary and text) of sizes **1MB, 100MB, 1GB, 2GB, 4GB.**
2.  Sent the files to a local _dummy server_ I made, by attaching them in form of form data-type and binary type body to my post requests.
3.  The above two steps have been tried on Windows 10 Home x64 and macOs 10.
4.  The postman _app version_

[2019-07-02 11:38] yoransabern commented on #4375
I no longer have this issue in 7.2.2, but i also have a new computer with windows 10 pro.

[2019-07-02 11:52] saswatds commented on #3137
Hi @jscul, we hear you.
The working-directory abstraction built inside that app was one of the first steps towards providing such a service.
We are actively looking at this and I am sure we will have something to share soon. I can't guarantee an ETA but rest assure that it's on our radar.

[2019-07-02 12:00] F3sterski commented on #6813
{
    "headers": {
        "x-forwarded-proto": "https",
        "host": "postman-echo.com",
        "accept": "application/json",
        "accept-encoding": "gzip, deflate",
        "authorization": "x",
        "cache-control": "no-cache",
        "correlationid": "1",
        "legal-mandate": "tax",
        "partyid": "10046444480",
        "postman-token": "c72c21f1-0d49-4164-b084-5883c922c2ab

[2019-07-02 12:14] fdriesenaar commented on #5253
And, did you already have a look at whitelisting the target attribute?

[2019-07-02 12:49] codenirvana commented on #6813
@F3sterski Is there any `pre-request` script setup in your folder or collection level?
Can you try the same request in a new tab (unsaved request)?

[2019-07-02 13:09] harryi3t commented on #6512
@iFreeon As @sujayvenaik has mentioned, the current values are not synced with our servers.
This allows people to keep sensitive information in these variables.

For more details please check our docs
https://learning.getpostman.com/docs/postman/environments_and_globals/sessions

[2019-07-02 13:09] #6512 closed, assigned to nobody

[2019-07-02 13:21] kamalaknn commented on #6304
@jacky0915 Can you download latest version of stable channel of Postman from https://www.getpostman.com/downloads/ and verify this?

If you are still seeing this could you send logs from `~/Library/Application\ Support/Postman/logs` and send to `help@getpostman.com`. Please include the GitHub issue number (6304) in the email.

[2019-07-02 13:25] neesonqk commented on #5365
Hi @saswatds tested with the latest postman and confirm that this problem still persists.

Postman version,

![image](https://user-images.githubusercontent.com/7279067/60516189-d4192a00-9d0f-11e9-8cab-69d7ebb99a5f.png)

Screenshot,

![2019-07-02 at 9 21 PM](https://user-images.githubusercontent.com/7279067/60516138-b64bc500-9d0f-11e9-8c87-a3be9006b355.gif)

[2019-07-02 13:58] 1BigDug opened #6830 "Invalid handling of double quotes in CSV since 7.2.2 update"
When trying to use collection runner with a file that has embedded double quotes, Postman reports an error Invalid Closing Quote: got """ at line 3 instead of delimiter...

To resolve the error, you have to replace the correctly escaped double quote format (2 double quotes in a row) with backslash quote (\"). This is not valid CSV format that can be used anywhere else, so you have to manually upda

[2019-07-02 14:21] ankitjaggi commented on #6397
@cyrielle-hada @ikazoy We have isolated the issue that is causing this. We're working on a fix for this.

[2019-07-02 14:41] magnusihle commented on #3822
+1

[2019-07-02 14:59] Rob-Barrow opened #6831 "Improved Collection Runner run summary stats"
**Is your feature request related to a problem? Please describe.**
When running some of our complex collections in the collection runner, due to the nature of the variables we use on our test sets we find that collection runs can sometimes prematurely terminate with sometimes no preceding FAILED tests prior to the failure of the run. when this happens the collection runner UI shows the number PASS

[2019-07-02 15:03] pearlberry opened #6832 "Relative links in response are no longer hyperlinked after v7.3.0 update"
**Describe the bug**
Attempting to click a link/URI in the response body and it is no longer a hyperlink. Version 7.3.0. I have reverted back to 7.2.2 and they are hyperlinked as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a call to any service that will return a URI in the response
2. Attempt to click on the URI in the response

**Expected behavior**
New tab should open w

[2019-07-02 15:08] codenirvana commented on #6830
@1BigDug Thanks for reporting this. We are aware of this issue and tracking it here: #6764

As mentioned in https://github.com/postmanlabs/postman-app-support/issues/6764#issuecomment-506313128, this issue is fixed in our [Canary channel](https://www.getpostman.com/downloads/canary) and will be fixed in our stable channel (v7.3.0) very soon!

Closing as duplicate of #6764

[2019-07-02 15:08] #6830 closed, assigned to nobody

[2019-07-02 15:27] mcandre opened #6833 "Manage multiple auth servers"
**Is your feature request related to a problem? Please describe.**

When developing against multiple authentication servers, I often have to edit the Get New Access Token form to switch the server address and client credentials back and forth.

**Describe the solution you'd like**

Offer an authentication server management list, similar to the token management list, so that I can rapidly select be

[2019-07-02 16:01] davidmpeace commented on #6730
When will this update go out?  I'm blocked, and cannot export Collections either.  Same error "Could not export the data. Please check the DevTools." after attempting to export a collection with version 7.2.2 on mac

![image](https://user-images.githubusercontent.com/2800023/60527906-13ac2b80-9ca8-11e9-862e-4b1693d52db5.png)

[2019-07-02 16:04] nikuscs commented on #6826
This is simple as adding a no-index header.

[2019-07-02 16:12] southpaw5271 commented on #2905
+1

[2019-07-02 16:21] JP-from-Postman commented on #6824
@shamasis CSV file size on disk: 3.4MB

[2019-07-02 16:42] kamalaknn commented on #6832
Hi @pearlberry

Thanks for reporting this. Absolute links in responses should work. I am assuming you are referring to relative links since you have mentioned appending to base URL. I'm updating the issue title as well.

We will look into this and share updates on this thread.

[2019-07-02 16:43] DRepinSLB opened #6834 "Open API v3 - global security section should be applied to the whole collection"
**Describe the bug**
The Open API v3 security schema can be applied to the whole API or to individual operations by adding the security section on the root level or operation level, respectively. https://swagger.io/docs/specification/authentication/
When the security section is applied globally to the whole API, I expect, after importing the swagger definition, that the created collection Authoriz

[2019-07-02 17:06] student020341 commented on #3845
+1, Given the "Log Responses > For failed requests" option in the collection running dialog, this definitely seems to be intended but missing.

[2019-07-02 19:06] shamasis commented on #1228
@KrilMun @regisbsb ... the programmatic access of cookies are being worked upon as I type. :-) You would be able to white-list a set of domains that would be programmatically manipulated. Will release in Canary soon and I hope to get feedback. :-)

[2019-07-02 20:01] cbrownfieldpp commented on #3358
Please do this. +1

[2019-07-02 20:53] akaczinski commented on #6807
I didn't even think of trying to make a server like that! Great idea. I was able to reproduce it, and I believe you should be able to now as well:

[code]
After calling /login, LOGIN_COOKIE is saved to Postman.
After the call is made to /info, LOGIN_COOKIE disappears.

[2019-07-02 21:01] akaczinski commented on #6820
1. View in Web does not show the changes made from Find & Replace
2. Exporting the collection does not show the edits made from Find & Replace, neither in the json nor if I import it back into Postman.

Let me know if I can provide any more info, I'd really like to see this fixed.

[2019-07-02 21:33] shamasis commented on #6758
Closing this owing to inactivity. Feel free to reopen.

[2019-07-02 21:33] #6758 closed, assigned to shamasis

[2019-07-02 22:32] JP-from-Postman opened #6835 "Monitor runs more frequent than every 5 minutes"
**Describe the bug**
User has a monitor set to run every 5 minutes. The dashboard console reflects the following run times:
15:04:36, 15:08:03, 15:11:04, 15:15:32, 15:20:27, 15:25:24

While most of the runtimes above line up around the 5 minute mark, one of the runs at 15:08:03 and 15:11:04 seem redundant, since both are around the 15:10:00 interval.

It's possible some of the runs above were trig

[2019-07-02 22:38] bcheerla4509 opened #6836 "Proxy settings not working on Mac"
**Describe the bug**
We have downloaded postman app for mac and were trying to use proxy settings for postman with various options. The end URL is accessible only through a proxy server so we wanted to use proxy before hitting end URL.
From Mac, we tried curl command to reach end URL via proxy and it worked. We also were able to SSH to proxy server with same credentials used for CURL.
Option 1:
So

[2019-07-03 01:34] genius00xp commented on #6744
Having the exact issue. When will this fix will be roll out to public user?

[2019-07-03 02:30] pearlberry commented on #6832
@kamalaknn yes I am referring to relative links. Thank you.

[2019-07-03 03:10] akaczinski commented on #6820
This is also happening with an environment file I'm using now. It's a fairly large file, about 80kb, and some of the changes I'm making are fairly small. I didn't use the Find & Replace on my environment file, so I now believe that is unrelated. There's just something about Postman not exporting small changes to large files.

[2019-07-03 04:00] carmenhchung-zz commented on #4818
Agreed with all the comments above - if we could have additional environments (we need testing and production, like the original poster) in the Postman documentation, that would be incredibly helpful! :)

[2019-07-03 04:29] krishofer commented on #4818
+1 on this!

[2019-07-03 05:10] F3sterski commented on #6813
I don't have any pre-request scripts but in new tabs works fine :) in all previous tabs doesn't. I restarted app and checked again in new tab and old, and nothing changes in new works and in old not.

I got it! It stops work when I load request from History.

[2019-07-03 05:14] preethammavin commented on #6820
@akaczinski if you are not able to see it on Web and when you export, most likely reason would be if
the edits were not saved to collection.

Can you check the things for me
1) In the find and replace you are on the collection section of it when you are replacing. Not on the tab.

If this does not solve it can you write to us at help@getpostman.com with logs to so that we can take a closer look wi

[2019-07-03 05:53] vinsree commented on #4068
Hi Team,

How to handle 'Request errors out' error in postman and continue running with the test script. Here collection stops and do not continue running remaining scripts
**Error: ESOCKETTIMEDOUT**

[2019-07-03 05:54] neesonqk commented on #5365
If I merge the output stream into one single line, then it starts to work, examples are as bellow,

**Doesn't Work**

[code]

**Work**

[code]

[2019-07-03 05:55] vinsree commented on #4068
Screen shot below:
![image](https://user-images.githubusercontent.com/23260753/60566687-fca23200-9daa-11e9-9657-6d2835bde50f.png)

[2019-07-03 05:56] preethammavin commented on #6790
@yiiness closing the issue for now, as it is not reproducible at our end  and with the information we have we are unable to address it. Do feel free to reopen the issue with the requested information so that we can address it.

[2019-07-03 05:56] #6790 closed, assigned to nobody

[2019-07-03 06:02] spdkb opened #6837 "Collection Runner Preview display for json data file is not showing Object Values in postman version 7.2.2 desktop app"
![image](https://user-images.githubusercontent.com/26374040/60566929-4cd2b300-9d1d-11e9-803b-7ee684b991cb.png)
![image](https://user-images.githubusercontent.com/26374040/60566933-522ffd80-9d1d-11e9-8ee9-bbfb3e3d8472.png)

[2019-07-03 06:08] spdkb commented on #6747
@codenirvana - Workaround which you mentioned is not working as per my requirement.  Please let me know if you have any other workarounds to resolve nested variables.

[2019-07-03 06:27] m3dbedb commented on #6595
Note that currently (in Postman 7.2.0) there is no warning if you use pm.variables.has to get user know the method is missing.

[2019-07-03 06:33] vicker commented on #4818
+1

[2019-07-03 06:41] batshoes commented on #4818
+1 this would be great!

[2019-07-03 06:56] spdkb opened #6838 "Postman Runner is slow when the collection consists of more than 150+ requests."
Steps to reproduce the behavior:
1. Create Collection with more than 150+ Request with approx 20  Main Folder & 20 Subfolders  (ex - 150 is divided across 20 Main & 20 Subfolders)
2. Launch Runner & select collection
3. Select JSON Data file
4.  Select Run Button
5. Collection requests will be executed successfully
6. On Collection Runner > Select Button (ex-New, Retry buttons, etc)

Issue - You w

[2019-07-03 07:01] TuringZhu commented on #3358
+1

[2019-07-03 07:30] codenirvana commented on #6595
@m3dbedb Support for this is already added in our [Canary channel](https://www.getpostman.com/downloads/canary) and will be available in our next stable channel release (v7.3.0) very soon.

[2019-07-03 08:33] cyrielle-hada commented on #6786
@preethammavin @harryi3t  Yes, I have the logs (shared internally).

[2019-07-03 08:39] elssar commented on #6827
Hi @npaul23,

That does sound like a network issue, most likely related to the proxy you're using.
It would be helpful if you could send the application logs from when this error happens to help@getpostman.com

How to get the logs -

1. Console logs
  1.1 View --> Developer --> Show DevTools(Shared)
  1.2 View --> Developer --> SHow DevTools(Current View)

2. Log files
  2.1 All log files from Vie

[2019-07-03 08:58] elssar opened #6839 "Allow disabling RelayState for Identity Provider initiated SAML sign-on"
For Identity Provider (IdP) initiated SAML sign-on, Postman requires that a _static relay state_ is add to the SAML configuration for Postman on the IdP. Some IdP's lack proper (or any) support for relay state and that makes is difficult (or impossible) to initiate sign-on from IdP. For example, ADFS requires that a URL with a encoded relay state be generated and be used for sign-on and has no sup

[2019-07-03 09:13] labifrancis commented on #6752
The user is not getting this error again `Something Went Wrong`

[2019-07-03 09:18] Cazaimi commented on #6806
@JP-from-Postman, could you send more details on this issue in the form of browser logs and steps required to get them.

[2019-07-03 09:20] Kenblair1226 commented on #6825
I think it's reasonable to warn the user that the shared collection will not be accessible anymore even it's the user himself/herself shared.

[2019-07-03 09:29] ghent12345 opened #6840 "GitLab integration not working with new Merge feature"
**Describe the bug**

Hi this is not a major issue but an issue I thought was worth mentioning nonetheless.

I have recently started using GitLab integration for backing up my collections to a repository, which has been great.

However I have also been using the new fork/merge feature that Postman has introduced recently.

The issue is when you fork a collection, make changes and then merge it in,

[2019-07-03 10:37] Cazaimi commented on #6425
@JP-from-Postman, If I understand correctly, there are more than one teams that are trying to register and then use, the same domain that was owned by a now disabled team? Could you clarify further?

[2019-07-03 10:52] rudrajeet03 commented on #6707
issue resolved as per above steps

[2019-07-03 10:54] VicKetchup opened #6841 "Feature request: Sort globals in alphabetical order"
**Is your feature request related to a problem? Please describe.**
We use a ton of global variables for our Automation, however when testing manually sometimes it makes more sense to change the global, which becomes quite difficult with large amount of them. You end up going up and down a list a few times before you can spot the right one.

**Describe the solution you'd like**
At the moment global

[2019-07-03 11:00] VicKetchup opened #6842 "Feature request: Use this for all when resolving conflicts in merge"
**Is your feature request related to a problem? Please describe.**
We have created forks for each of the environments we have for our API and in some cases changes happen only in one of the environments causing Merge Conflicts. Currently you have to go to each conflict and select the source and since there is no ability to jump to next conflict and you have to scroll, it takes quite a bit of time.

[2019-07-03 11:15] VicKetchup opened #6843 "Changelog for environments"
**Is your feature request related to a problem? Please describe.**
Sometimes team members may accidentally save a request that removes dynamic variables after doing some manual testing and not even realise they've done so.
Also if any member deletes a global or environment variable, this affects everyone, but no safe-guards are in place.

**Describe the solution you'd like**
Any changes that get r

[2019-07-03 11:20] VicKetchup opened #6844 "Feature request: Ability to revert changes in "Activity""
**Is your feature request related to a problem? Please describe.**
Sometimes a change is saved that was unwanted and there is no way to revert it. This is mainly cause by accidental saves as per this issue: https://github.com/postmanlabs/postman-app-support/issues/6843

**Describe the solution you'd like**
In the Postman app you can view Activity for the workspace, with any changes that were done

[2019-07-03 11:28] VicKetchup opened #6845 "Feature request: Ability to revert merges"
**Is your feature request related to a problem? Please describe.**
This is more of an edge case, however we had to do a revert of our Production environment after couple of days, meaning we should revert the merge from Pre-Prod branch. Unfortunately there was no way to view the history and revert to any of the previous states.

**Describe the solution you'd like**
Collections should have merge his

[2019-07-03 11:38] VicKetchup opened #6846 "Feature request: Allow minute selection for Week Day monitor runs"
**Is your feature request related to a problem? Please describe.**
With a large amount of monitors for different environments it is much better to run each environment at a specific time. With the times that are available for Week Day runs, you can only select specific hour, which is way too spread apart.

**Describe the solution you'd like**
As part of the solution for https://github.com/postmanl

[2019-07-03 11:42] VicKetchup opened #6847 "Feature request: Postman app doesn't have UK timezone for the monitors"
**Is your feature request related to a problem? Please describe.**
We are running our monitors in UK timezone, however that option is not available in the Postman App during the creating, meaning they have to be created on the web interface or edited afterwards.

**Describe the solution you'd like**
Add all available timezones from the web interface into the Postman app.

**Describe alternatives y

[2019-07-03 12:42] VicKetchup opened #6848 "Random conflict state for some opened tabs"
**Describe the bug**
Some open tabs go into Conflict state, this happens randomly and there is no one clear way to reproduce the issue. I have confirmed with other team members that the issue also happens with them. Weirdly it is mostly happening with the requests that have not been modified for a very long time (over a year).

**To Reproduce**
This mostly can be seen after Postman App has been op

[2019-07-03 12:56] verheyenkoen opened #6849 "Postman native Mac app forces focus on itself twice during startup"
**Describe the bug**
Whenever I start the Postman app, during loading, Postman takes the focus to itself twice. Usually what I do is start up Postman, switch to another space to continue working (cause who needs to see splash screens?). Then all-of-a-sudden my screen switches back to the space where Postman is loading. And if I switch to another space again, Postman does that a second time. That i

[2019-07-03 13:11] VicKetchup opened #6850 "Monitor Console log shows wrong URL for the request"
**Describe the bug**
In our collection we have a test to validate the response against swagger. In order to load a correct for the endpoint version swagger, in collection level test we send a request to grab it. When I looked at the monitor logs I saw that for a few requests the URL was set to our swagger rather than the actual request.

**To Reproduce**
Steps to reproduce the behavior:
1. In coll

[2019-07-03 13:19] wfajkowski commented on #5558
@numaanashraf Postman still change a default with v7.2.2 version

[2019-07-03 13:25] VicKetchup opened #6851 "Doing a search (Ctrl/Command + F) with Console Log open freezes the page in Chrome"
**Describe the bug**
When using the page search functionality in Chrome on Monitor results page with Console Log open, the page freezes. Usually nothing can be done and trying to refresh it will just keep it as it is, a new tab needs to be open, however sometimes Chrome will report the tab as unresponsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Monitor page
2. Select one of th

[2019-07-03 13:52] VicKetchup opened #6852 "Automatically persist variable values should be OFF by default"
**Is your feature request related to a problem? Please describe.**
We have a lot of data that manual testers may use, however that data may not be the wanted for monitor runs as it wouldn't cover all of the endpoints and scenarios. With this option being ON by default, any new members or for any new installations of Postman App could cause the data to be overwritten which is really undesirable beh

[2019-07-03 14:03] VicKetchup commented on #5958
@numaanashraf can you please look into this, this is still causing issues for us, even with everything that we did to try to avoid it.

[2019-07-03 15:21] amiebrown commented on #4780
+1.  I am very impressed with the direction of Postman and it's compelling features that are beginning to surpass those of SwaggerHub.  However, it's a big mistake for the Product Leaders of Postman to dismiss the value of an integration with bitbucket.  It feels like a bold move for Postman to build in version control as a first class feature in Postman.  It creates a silo'd pipeline independent

[2019-07-03 16:01] saswatds commented on #2479
Hello everyone, we are tracking this issue here https://github.com/postmanlabs/postman-app-support/issues/4751
As stated in one of the comments https://github.com/postmanlabs/postman-app-support/issues/4751#issuecomment-501420752 we have pushed a lot of performance fixes to our canary app.

Will be closing this issue as Duplicate and would want everyone to follow https://github.com/postmanlabs/pos

[2019-07-03 16:01] #2479 closed, assigned to a85, numaanashraf, preethammavin

[2019-07-03 16:01] preethammavin commented on #6844
@VicKetchup for changes in the collection which are saved the collection can be reverted to an earlier version by going to the Collection Change-log and selecting which revision of the collection you want to restore and clicking on restore. Can you confirm if this resolves your case.

[2019-07-03 16:05] preethammavin commented on #6843
@VicKetchup It would be a hard step if each save were to ask for a confirmation, as many collections are being worked upon in a collaborative environment. For Collection I would suggest that you only give edit permission to the users who would want to edit the collection, rest can still use variables for collection runs and edit request and send if they want to send it manually

We are also lookin

[2019-07-03 17:27] JP-from-Postman commented on #6744
@genius00xp You can download Postman Canary to try out the fix right now:
https://www.getpostman.com/downloads/canary

You can also use the Postman API to grab the contents of the request:
https://docs.api.getpostman.com/?version=latest#647806d5-492a-eded-1df6-6529b5dc685c

[2019-07-03 17:31] JP-from-Postman commented on #6730
You can download Postman Canary to try out the fix right now:
https://www.getpostman.com/downloads/canary

You can also use the Postman API to grab the contents of the request:
https://docs.api.getpostman.com/?version=latest#647806d5-492a-eded-1df6-6529b5dc685c

[2019-07-03 18:14] JP-from-Postman opened #6853 "Pulling changes to fork before updating throws error"
**Describe the bug**
[Reported by Postman Support, on behalf of original user]
User has a fork of a Collection, and is trying to pull changes from the parent Collection before merging changes.

Clicking Pull Changes results in a blank page, with the following errors in the browser console:

`raven.js:51 TypeError: e.split is not a function`

`raven.js:51 uncaught at fetchCollectionDiff TypeError:

[2019-07-03 20:06] jonathan3087 opened #6854 "eval(pm.globals.get("commonTests"): not working in folder tests"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-07-03 20:13] zgirod commented on #6766
With linking the requests one thing that would be nice as well is to link the example names.  It would be nice to be able to name your examples {{requestName}} - Success, {{requestName}} - Error.  That way when you update the request name or copy and modify a request the example names auto update to reflect the new name..

[2019-07-03 20:17] shamasis commented on #6838
😱 oh no! We were tracking a performance issue - but for a much unreasonable size. https://github.com/postmanlabs/postman-app-support/issues/6525

150 request slowing runner down isn’t acceptable. Can you check if you’re unchecking the option that retains responses? Having said that, we will re evaluate the runner performance benchmark and can definitely disk buffer some aspects to avoid slowdown.

[2019-07-03 20:18] shamasis commented on #6838
On a second thought, I’m keeping this opened until we append some insights to this thread.

[2019-07-03 20:21] shamasis commented on #6833
Neat idea. I’ve added appropriate tags to the issue to ensure we pick it up when we next address authentication feature improvements.

[2019-07-03 20:42] codenirvana commented on #6836
@bcheerla4509 Please share more details about the proxy.
Does it require authentication? If yes, what's the type of auth (Basic or NTLM)?

[2019-07-03 21:03] codenirvana commented on #5806
@VicKetchup Can you share a scaled-down collection which we can use to reproduce this issue?

[2019-07-03 21:55] adampatterson commented on #3089
I guess this isn't a thing yet, you can drag them around but that's not going to cut it.

[2019-07-04 00:49] danteay opened #6855 "The app is not displaying anithing"
**Describe the bug**
I've reinstalled the Postman app but is totally transparent, and don't show anything of the front app. Its running and present in desktop but it shows nothing.

**To Reproduce**
* OS:
* Package: Postman for Linux x64

1. Install by extracting the tar file into */usr/local/apps* folder
2. Make a link from */usr/local/apps/Postman/Postman* to */usr/local/bin/postman*
3 execute i

[2019-07-04 01:15] batshoes commented on #1070
+1 Please :)

[2019-07-04 01:16] carmenhchung-zz commented on #1070
+1 as well please! :)

[2019-07-04 06:24] metaclic commented on #5504
Same issue. It would be great to rerun "Pre-request Scripts" and "Tests" appart from the sending. Maybe placing a button into a new bar menu, like body response does.

[2019-07-04 06:27] pravat-sahoo opened #6856 "unable to sign in"
![error](https://user-images.githubusercontent.com/26546426/60644134-c9b37900-9e52-11e9-8c2f-07d6a6d66736.PNG)

unable to login.

pravat@nalashaa.com

[2019-07-04 06:55] elssar commented on #6856
@pravat-sahoo can you login to the Postman dashboard via the browser, or to the Postman app from another network? If you can then this is likely a firewall or proxy preventing the Postman app from connecting to our authentication service. If you have a firewall or proxy configured, could you update the rules to allow the app to connect to our authentication service.
In case the issue persists, you

[2019-07-04 07:13] Raj-postman opened #6857 "Usage of "Shared Requests" not getting updated after deleting shared collections"
**Describe the bug**
Usage of "Shared Requests" are not getting updated after deleting shared collections

**To Reproduce**
Steps to reproduce the behavior:
1) Go to ' Team Workspace'
2) Delete all collections
The usage limit doesn't reset.

**Expected behavior**
Once you clear all Team collections, the usage for "Shared Requests" should get updated.

**Screenshots**
![11](https://user-images.gith

[2019-07-04 07:21] prabodacode commented on #6296
When I added `NODE_OPTIONS` environmental variable to `--max_old_space_size=8048`  for angular development and it caused Postman to stop working. Then I deleted the environment variable and Postman works fine now.

[2019-07-04 07:55] aabolfazl commented on #6045
thank you is worked!

[2019-07-04 08:17] ghost commented on #4360
This has started happening again, since the latest update **Postman v7.2.2**

[2019-07-04 08:22] codenirvana commented on #6807
@akaczinski We've pushed a fix for this on `7.3.0-canary08`. Can you update your app and confirm if this fixes your issue?

[2019-07-04 08:25] sujayvenaik commented on #6848
Duplicate of #6383

[2019-07-04 08:25] #6848 closed, assigned to nobody

[2019-07-04 08:57] #3576 closed, assigned to vikiCoder

[2019-07-04 09:17] VicKetchup commented on #6843
@preethammavin I think there was a bit of misunderstanding in what I am asking for :)
We already restrict who can edit the collections, however a lot of the users who can edit are also manual testers, who may by accident Save the changes they've done.
What I am asking is confirmation on the screen of the person who is saving the changes/persisting variables etc., so just a little safe-guard to ens

[2019-07-04 09:51] pravat-sahoo commented on #6856
it's now working

[2019-07-04 09:51] #6856 closed, assigned to nobody

[2019-07-04 09:53] VicKetchup commented on #6848
@sujayvenaik this is different behaviour, nothing is ever edited on the requests I've provided as an example. when I made the calls, the requests were still in their original state, the other issue market as duplicate requires an edit to happen.

[2019-07-04 09:55] VicKetchup commented on #6383
For https://github.com/postmanlabs/postman-app-support/issues/6848 the conflict state happens without any edits, nobody has touched those requests we have issues with for a very long time (over a year).

[2019-07-04 09:56] VicKetchup commented on #5806
@codenirvana Don't think I could, as there is no guarantee that I will be able to reproduce this. The collection had ~15 more requests at the time (more now) and only those two calls had the issue. We also have another collection is ~50 requests and that issue wasn't spotted there. Could I send you collection/monitor info/ids through email for you to investigate.

[2019-07-04 10:04] ViettelGroup-hungnd67 commented on #3358
+1 although the request is opened from Aug 8, 2017 and today is July 4 2019

[2019-07-04 10:21] VicKetchup commented on #6844
@preethammavin with our workflow we do not create a whole new version of the APIs, many of the changes are just related to content changes, while the actual response contract stays the same. We are also creating a lot new endpoints for new features, which again, doesn't fit with API revisions strategy. We therefore don't use the API versioning functionality and need a way to be able to revert a sp

[2019-07-04 11:10] Alexand3r commented on #6297
I've figured it out, I think....

TL;DR: Set `ulimit -v unlimited`

It wasn't completely related to Postman, rather more tied to Kubuntu / Ubuntu's `ulimit -v` which was default set(?) to `625000`,  I've edited my `.bashrc` to have set `ulimit -v unlimited` and I can see that Postman stopped crashing, I'll close the issue in the next days if this fixed it for me

Edit:  After 2hrs, Postman starved

[2019-07-04 12:10] Raj-postman opened #6858 "Autocomplete doesn't appear in GraphQL for JSON type"
**Describe the bug**
When type [JSON] is used, the query autocomplete isn't working on GraphQL.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new API under APIs Tab
2. Select Schema as GraphQL
3. For type [JSON] query doesn't autocomplete

**Expected behavior**
Autocomplete be working the same for all types

**Screenshots:**
If image type [JSON] not working:
![image](https://user-im

[2019-07-04 13:09] kumarrajudt commented on #1667
I need it +1

[2019-07-04 13:27] ericvdkh commented on #6723
Same here for 7.3.1. 7.0.7 runs just fine, but anything later than 7.0.7 blocks during startup.

[2019-07-04 13:41] semiherdogan commented on #1066
+1

[2019-07-04 14:18] jooleeanh opened #6859 "Better anchor support in documentations"
**Is your feature request related to a problem? Please describe.**
I put in each of my endpoint's description what is returned. However, many of my endpoints return the same type of data (models, e.g. user, product). I therefore have lots of duplicates, which is hard to maintain.

**Describe the solution you'd like**
I was thinking of listing all the models that can be returned in the Collection's

[2019-07-04 22:50] hanreev commented on #6296
Even postman setup did not appear when `NODE_OPTIONS` env var set.

[2019-07-05 03:39] StevenElwell commented on #1783
Dr Mr/Mrs Postman
I can duplicate this with 20 people.   So before suggesting that I may be a bit challenged, please first try my steps shown below.
Step-1: A user new to Postman saves 4 requests in a collection
Step-2: User closes Postman, goes to lunch, or bed
Step-3: User comes back and tries to open one of the 4 previously saved requests
It doesn't matter how high the IQ of the user is, this c

[2019-07-05 04:17] An4ik commented on #1983
Hi, just have the same problem. Any request duplicated (sent twice).

[2019-07-05 04:33] StevenElwell commented on #1783
Update:

There is a splitter and pane on the left side of the UI (that may have to be expanded) and then to the right of the "History" option seen is a "Collections" option. Drilling down into the selected Collection shows the requests. For whatever reason this does not stand out to new users so perhaps a traditional menu item could assist new users.

The opening modal window/wizard could also off

[2019-07-05 05:55] codenirvana commented on #5531
@g0rd Thanks for the reply.

We tried reproducing this issue but as mentioned in https://github.com/postmanlabs/postman-app-support/issues/5531#issuecomment-444429169  this looks like a server timeout or request is not completed within the specified timeout in `Request timeout` setting.

Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the s

[2019-07-05 05:55] #5531 closed, assigned to saswatds

[2019-07-05 07:25] godfrzero commented on #6710
Closing this ticket for now as we've verified this fix from our end. If you're still seeing this problem, feel free to reopen this ticket.

[2019-07-05 07:25] #6710 closed, assigned to godfrzero

[2019-07-05 07:49] agataciesielska opened #6860 "Opening and URL in the browser changing characters to hex code"
**Describe the bug**
While opening the link received in the response, postman sends incorrect url to the browser.

**To Reproduce**
1. Go to postman.
2. Send some request, considering it return any url with parameters.
3. Press ctrl on your keybord and click on the link in the response.
4. Browser doesn't recognize the url: https://secure.payu.com/info/?orderId%3DP22FF8HWJR190705GUEST000P01%26toke

[2019-07-05 08:08] keulu-ing opened #6861 "postman app 7.2.2 broken on linux64x ?"
**Describe the bug**
postman app won't lunch anymore after updating....

**App information (please complete the following information):**
 - App Type [e.g. Native App]
 - Postman Version [e.g. 7.2.2.]
 - OS: [e.g. lmde3 64x]

**Additional context**
[code]

[2019-07-05 08:25] VicKetchup opened #6862 "Feature request: Display branch next to collection in the find menu"
**Is your feature request related to a problem? Please describe.**
We have branched our collection per environment and promote the changes up the branches as the changes are promoted in the environment. Sometimes you want to use a find all or replace all tool on specific branch, however it is impossible to tell which one you are selecting.

**Describe the solution you'd like**
Next to the collecti

[2019-07-05 08:34] andreagubellini commented on #6587
I'm working on a few mocked requests to let you work on it.
Thanks

[2019-07-05 08:46] coditva commented on #6854
Hi @jonathan3087, I went through the collection you shared and I think you might have missed a few things in the test scripts.

Firstly, you must serialise a function when putting it in a variable like this:
[code]

Secondly, in the code you shared, `commonTests` is a reference for an anonymous function (arrow function) and when you use `pm.globals.set("commonTests", commonTests.toString())`, the

[2019-07-05 08:48] #6854 closed, assigned to coditva

[2019-07-05 09:02] keulu-ing commented on #6861
just removed my ~/.Config/Posman folder and it works again :)

[2019-07-05 09:02] #6861 closed, assigned to nobody

[2019-07-05 09:50] abhijitkane commented on #3146
Closing this. There are multiple issues mentioned here. The latest versions of Postman (7.2.2+) support cookie syncing via the Interceptor extension.

[2019-07-05 09:50] #3146 closed, assigned to numaanashraf, preethammavin

[2019-07-05 10:56] cyrielle-hada opened #6863 "Improve path for disabling Monitor email notifications"
**Is your feature request related to a problem? Please describe.**
Currently, the path to disable the monitor email notifications in the dashboard is difficult to find.

See screen record for how to achieve that: https://www.loom.com/share/68bbff0f52104547bbef3c1f177e2557

**Describe the solution you'd like**
Have an Edit button that would be more visible/accessible where is listed the monitor.

*

[2019-07-05 13:48] sankalp0o commented on #6843
Hi @VicKetchup prevention of accidents and data loss is very important to us. Like Preetham said, we do want to look into more control over editing environments. However for collections, it is a fine line between providing control (through confirmation etc) and frustrating people who are just going about their routine. We'll relook at collection editing experience to allow control wherever possibl

[2019-07-05 13:50] sankalp0o commented on #6825
Thanks @Kenblair1226 , we'll look at improving the communication!

[2019-07-05 14:02] sankalp0o commented on #4818
Hi guys! Thanks for the feedback. Can I suggest you add reactions to the original issue instead of adding new comments? It ends up spamming the OP and others in the thread. Thanks!

So that I understand the problem better, why do you guys need multiple environments? I haven't seen a lot of public APIs with testing environments. Is that assumption incorrect?
Are your clients looking for multiple en

[2019-07-05 14:07] cyrielle-hada commented on #6825
Duplicate of [6751](https://github.com/postmanlabs/postman-app-support/issues/6751)

[2019-07-05 14:46] preethammavin commented on #6844
Sorry I should have worded it better, we give change-log for collections in the collection browser. This can be found by hovering on the collection and clinking on the right arrow mark to see the collection browser and under change-log you would see how your collection has evolved through revisions and restore to a chosen revisions to revert changes

For more information you can refer to the doc b

[2019-07-05 14:46] #6844 closed, assigned to nobody

[2019-07-05 14:50] preethammavin commented on #6845
@VicKetchup we do let users to restore the collection to an earlier version by looking at the collection change-log. Which reflects the changes which has occurred on the parent collection due to the merge activity, but we will work to see if we show a merge as an activity itself.

@vkaegis

[2019-07-05 14:53] preethammavin commented on #6847
@VicKetchup  this is something we are working on , will let you know once its out on production .

[2019-07-05 15:38] tannenbe commented on #6730
Upgrading fixed issue.. thanks!

[2019-07-05 15:40] preethammavin commented on #6851
@VicKetchup I am unable to reproduce this. Does this happen on every monitors console log?

[2019-07-05 15:50] Frost-on-Web commented on #3358
Well... +1 =/

[2019-07-05 15:52] Exvitermini commented on #6778
Hi,
Very sorry for the delayed response. It seems like it's not tied to a collection. It looks like the runner window it self is crashing. I think it happens while it tries to load the "Recent Runs" on the right side of the Runner window. Please see the screen recording. I hope this helps.
Video is 2:22 in length. https://youtu.be/HMauSSDJC_0
Thank you

[2019-07-05 16:00] preethammavin commented on #6857
@Kurmavathar the shared collection count is updated with throttle of 15 seconds. I am unable to reproduce this for any other scenario, closing the issue for now. Do let me know if there is a specific case you want me to look at.

[2019-07-05 16:00] #6857 closed, assigned to nobody

[2019-07-05 16:26] saswatds commented on #6778
@Exvitermini I believe that the running turning black and crash during loading of Recent Runs are two distinct issues.
I have been trying to replicate the crashing and have kind of succeeded in doing so but never reached a state of window turning black. My findings point towards the runner running out of permitted memory.

I would like to know a little bit more on the nature of collection that res

[2019-07-05 16:49] cyrielle-hada opened #6864 "Make Slack workspace activity integration should per workspace instead of a global integration"
**Describe the issue**
The Slack integration Team Activity Feed is set up for a Team Workspace A. The activity is triggered to Slack for the Team Workspace A but also for
- Team Workspace B
- Default Workspace C

**To Reproduce**
Steps to reproduce the behavior:
1. In the Web Dashboard, select a Team Workspace
2. Set up the Slack integration `Team Activity Feed`.
<img width="821" alt="Screen Shot

[2019-07-05 18:32] preethammavin commented on #6855
@danteay were you by any chance using multiple monitors? if so can you check if connecting to the other monitor and relaunching the app opens up in that monitor as we are unable to reproduce this on our end.

[2019-07-05 19:36] shamasis commented on #3447
Hello Internet! Just checking in to see whether anyone else has been facing this exact issue in Postman native apps? If so, can you post a way for us to reproduce it? Else would like to close this to clean up the tracker.

[2019-07-05 19:42] JP-from-Postman opened #6865 "Deep link to enterprise domain login"
**Is your feature request related to a problem? Please describe.**
For Enterprise teams, clicking `Enterprise user? Sign in here` requires a domain to be manually entered.

**Describe the solution you'd like**
Provide enterprise teams with a deep link directly to a login page for their domain. Example:

https://identity.getpostman.com/enterprise/<domain>/login

**Describe alternatives you've consi

[2019-07-05 19:56] shamasis commented on #6860
Ah. We did some improvements to the parsing of response and it’s subsequent linking. Maybe we broke something unintentionally. We will have a look and get back asap.

[2019-07-05 20:13] preethammavin commented on #3584
~~Closing the issue for now, as it is not reproducible. Feel free to reopen it, if it is not so.~~

This is fixed in the latest version of the Postman app (v7.3)

[2019-07-05 20:13] #3584 closed, assigned to nobody

[2019-07-05 20:30] Exvitermini commented on #6778
@saswatds thanks for getting back to me.
The collection I run on a daily basis has 161 requests in it and is synced with a team.
It uses both environment and global variables and the most of the requests set/replace environment variables. All together it has about 130 variables.
The script each request run are mostly tests and has some minor logic to check if elements and values are correct.
Norma

[2019-07-05 21:51] JP-from-Postman commented on #6425
@Cazaimi In the original ticket this came from:

- User U1 creates team T1, which has domain D1
- U1 leaves T1, and it is disabled
- Domain D1 is still associated with team T1, even though it is disabled
- U1 creates new team T2, and tries to give it domain D1, but can't because it is still "in use" by team T1

[2019-07-05 22:47] JP-from-Postman commented on #6806
@Cazaimi Added internal notes

[2019-07-06 03:18] hadidotj commented on #5712
Hi @kamalaknn. Thanks for the update. I can confirm this is fixed in the latest Postman Canary!

[2019-07-06 03:18] #5712 closed, assigned to nobody

[2019-07-06 04:47] danteay commented on #6855
@preethammavin as you can see in the first image, the interface is present but completely transparent, also in the image there is a pointer (arround the middle left of the image) that is possible to see a collection name, so the app is not in other monitor or something. the application is present in current desktop, but I've try it by connecting other monitor and the app still in the same error.

[2019-07-06 05:49] shamasis commented on #6852
Yep. We had this turned on to ease transition from original behaviour. We will set the default to be turned off very soon in future.

[2019-07-06 05:51] #6813 closed, assigned to coditva

[2019-07-06 11:45] #3970 closed, assigned to nobody

[2019-07-06 22:31] kamalaknn commented on #6860
Thanks @agataciesielska for reporting this.

This seems to have come up from the decoding handlers for the new link detectors in response view. We'll get this fixed and update this thread.

[2019-07-07 11:05] rammesaran opened #6866 "Getting Black Window When StartUp ( Version 7.2.0)"
**Describe the bug**

I Have installed the recent version ( 7.2.0) - Once it gets installed i am getting blank Screen Noting is seen.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the recent version ( 7.2.0) or ( 7.2.2)
2. After installation is completed - launch Postman.

**Expected behavior**
App Gets Launch.

**Screenshots**
![image](https://user-images.githubusercontent.com/454

[2019-07-07 23:36] carmenhchung-zz commented on #4818
Hi @sankalp0o, thanks for getting back to us!

We offer our partners the option of engaging with both testing and production environments for our public API in Postman through the "Run in Postman" button. As such, we'd like to offer both environments in our Postman documentation as well, so that the root domain can be automatically updated in the documentation to either production or testing, depe

[2019-07-08 00:16] sankalp0o commented on #6825
Closing this in favor of #6751

[2019-07-08 00:16] #6825 closed, assigned to sankalp0o, BrandonGordon126

[2019-07-08 00:23] sankalp0o commented on #6817
Thanks for reporting this @Kastamat. We are tracking this issue and will soon fix this flow. @cyrielle-hada can you assist with recovering the collections?

I'm closing this issue since we're already tracking this on #6751 but feel free to continue the conversation for recovering your collection.

[2019-07-08 00:23] #6817 closed, assigned to sankalp0o

[2019-07-08 02:46] Raj-postman opened #6867 "Account switch was not successful"
**Describe the bug**
Accidentally deleted workspace because of a bug that didn't switch the account

**To Reproduce**
Steps to reproduce the behavior:
1) Navigate to Account A
2) Export and import collection into Account B
3) Switch to Account A and Delete Workspace
But accounts did not switch, it signed in with Account B and workspace of Account B was deleted instead of A

**Expected behavior**
B

[2019-07-08 02:59] preethammavin commented on #6867
@Kurmavathar I am unable to reproduce this, have renamed the issue appropriate to the issue reported. Are there any steps to reproduce the issue where the account did not switch? or Did the UI have workspaces of the older account after switching?

[2019-07-08 03:04] preethammavin commented on #6668
Closing the issue as with the current information we are unable to triage this, feel free to reopen the issue with the information so that we can get it sorted.

[2019-07-08 03:04] #6668 closed, assigned to Ghusar, preethammavin

[2019-07-08 04:02] Raj-postman commented on #6867
@preethammavin Couldn't replicate this from my end, but this is in connection to the data loss issue reported by a user and raised this for tracking issues on the same line.

[2019-07-08 04:16] bisatech369 commented on #4624
I have wasted more than 2 hours trying to figure out the problem; please fix this bug.

[2019-07-08 04:23] saswatds commented on #4624
Hi @ElectronicMoney we have updated the response viewer in our latest canary https://www.getpostman.com/downloads/canary to be more accurate with responses.
Can you confirm its working for you in canary?

This should be out in our stable release soon.

Duplicate of #1465

[2019-07-08 04:46] anudeepmedicharla commented on #6865
@JP-from-Postman Thanks for raising the feature request! Was thinking of having something similar for enterprise accounts. @preethammavin We can use the default team domain URL (team-name.postman.co) too for logging in.

[2019-07-08 04:52] harryi3t commented on #6855
@danteay Can you give a try to our [canary build](https://getpostman.com/downloads/canary) which has an updated underlying platform?

[2019-07-08 05:06] kamalaknn commented on #6858
@Kurmavathar GraphQL spec only lists Int, Float, Boolean, String, ID as predefined scalar types, see - https://graphql.github.io/graphql-spec/June2018/#sec-Scalars JSON is not defined as a predefined scalar. Although defining it as a custom scalar would still be valid. Are you using JSON type without defining it as a custom scalar?

Am I missing something?

[2019-07-08 05:27] abhijitkane commented on #6810
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5837

[2019-07-08 05:27] #6810 closed, assigned to nobody

[2019-07-08 05:46] saswatds commented on #6778
Thanks @Exvitermini, this will it for now. I will keep this thread updated once there is some finding.

[2019-07-08 06:32] saswatds commented on #6812
Closing this issue due to inactivity.
Feel free to re-open if the issue persists

[2019-07-08 06:32] #6812 closed, assigned to saswatds

[2019-07-08 06:46] saswatds commented on #6776
The issue in `7.2.2` is an issue with older chrome version in electron `1.8` because of which UI breaks. It has been fixed in canary which has the newer version of electron.

The issue in canary is with the addition `GraphQL` section resulting in the language selector getting cramped. A possible fix is to update the collapse sidebar logic to account for the new options.

@vkaegis how do we go abou

[2019-07-08 06:59] Raj-postman opened #6868 "No response received when Request is sent with AWS Signature"
**Describe the bug**
When sending the GraphQL query without AWS authorization It succeeds. But the same request cannot pass with AWS authentication.

**To Reproduce**
Steps to reproduce the behavior:
1. Create request with GraphQL query
2. Set AWS signature to authorize the request
3. Click on "Send"
4. No response received
"Loading...." with "Cancel Request" button will be displayed at the respon

[2019-07-08 07:10] hellboy81 commented on #1498
Is there possible to enforce using own `Content-Type` and `Accept Charset` borrowed from `produces` and `consumes` OpenAPI spec for all requests ?

At the moment setting body type to `raw` with `JSON` overrides my own `Content-Type` and `Accept Charset` custom headers.

- Is there possible to define or override own raw types?
- Is there possible to enforece using header from `Headers` tab?

[2019-07-08 07:23] saswatds commented on #6464
Hi @ravi-9288

I have modified the request to be sent to our postman-echo test server
[code]
The only change I had to do was use `basic` instead of `Basic`.

The following is the response that I received
![Screenshot 2019-07-08 at 12 40 40 PM](https://user-images.githubusercontent.com/8796447/60789834-ae5fab00-a17d-11e9-84da-c0dd6472b7de.png)

The request payload for sending JSON also seems incorr

[2019-07-08 07:23] #6464 closed, assigned to saswatds

[2019-07-08 07:31] saswatds commented on #5305
Hi @vdespa, in the postman app version `>=7.1.0` we introduced the concept of `Working Directory` more on that I have mentioned in these comments
* https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-490749103
* https://github.com/postmanlabs/postman-app-support/issues/4320#issuecomment-494937207

You should now be able to store relative paths with respect to your working d

[2019-07-08 07:31] #5305 closed, assigned to saswatds

[2019-07-08 07:41] saswatds commented on #5555
Relates to https://github.com/postmanlabs/postman-app-support/issues/4751

[2019-07-08 07:44] saswatds commented on #5555
Hi @gabrieltaets We have been working actively on improving the performance of the native app while handling responses.

Can you try-out our canary build and see if you are encountering any sluggish behaviour.
https://www.getpostman.com/downloads/canary

[2019-07-08 07:58] saswatds commented on #4225
Hi @aprixon01112017 you can stop the run by using `postman.setNextRequest(null)`
More on this you can find here https://learning.getpostman.com/docs/postman/collection_runs/building_workflows/

Closing this issue now

[2019-07-08 07:58] #4225 closed, assigned to saswatds

[2019-07-08 08:15] saswatds commented on #6563
Hi @Tenaciousrm can you give a size estimation and iteration count of the collection that you are running?

[2019-07-08 08:29] KoenLav commented on #6035
@eric-reinstein-fmc thanks for pointing this out, removing NODE_OPTIONS from the environment variables indeed fixes the problem (allowing the installer to run and Postman itself to run.

The question now becomes: why does setting NODE_OPTIONS (or specifically max old space size, maybe) cause Postman to crash?

[2019-07-08 08:43] DDBdrift commented on #4898
Getting even worse: After bulk editing parameters descriptions has moved to other keys!!
Upgraded from "problem" to "disaster".

[2019-07-08 08:48] VicKetchup commented on #6851
@preethammavin on all of hours as far as I've tested, it maybe be due to amount of info we log (the response (original and the one without non-mandatory fields that were returned as null), relevant swagger (original and the one edited for x-nullbale support), the actual cURL and some other small bits.

[2019-07-08 09:00] VicKetchup commented on #6845
@preethammavin Maybe I am missing something, however without API versioning (that we don't do for our workflow) there doesn't seem to be an option to revert any changes. As per your comment here (https://github.com/postmanlabs/postman-app-support/issues/6844#event-2462945077)

We do not have "revisions" and no "Restore" option is shown anywhere, I've looked through activities in the app as well as

[2019-07-08 09:07] VicKetchup commented on #6843
@sankalp0o It may be that I am missing something, however the option to revert is not present for us, assuming this is because we don't do API Versioning, please refer to:
https://github.com/postmanlabs/postman-app-support/issues/6845
https://github.com/postmanlabs/postman-app-support/issues/6844

[2019-07-08 09:12] cyrielle-hada commented on #6817
@Kastamat, any collection originally created by a user, that is shared in a team workspace becomes a team owned collection. When a collection is shared with a team workspace, it doesn’t belong to your personal workspace anymore, although it co-exists inside your personal workspace. When you leave that team, the team collection remains with the team and you no longer have access to it.

Although we

[2019-07-08 09:17] mr-wakeup commented on #5263
Our documentation contains a lot of text in markdown, so there are no request samples to show.
Users have to view empty big black rectangle without request/response samples.
This is really ugly, like this: https://documenter.getpostman.com/view/33232/markdown-in-api-documentation/JsGc?_ga=2.100355414.914383578.1562570440-1996123061.1561626980&version=latest

Please, add ability to show published d

[2019-07-08 09:22] santhosh2512 commented on #4996
Hi,

I have used this setNext request function Ex: I have a request which need to run with 3 different value each time and i need to do different validation each time. How can i do that?

Thanks,
Santhosh

[2019-07-08 10:12] Michal-Kolomanski opened #6869 "Problem with cache memory"
Hello,

I have a problem with overfilling cache memory, using long newman runs. I run collection which adds some data to my database in live mode. It shouldnt stop but when its working about 2 hours, cache memory is filled and my computer stops working properly.

My computer has 8 GB RAM but its not enough.
![image](https://user-images.githubusercontent.com/47147210/60802517-5b83f480-a179-11e9-805

[2019-07-08 10:32] andrei-chirinciuc opened #6870 "Request parameter "access_token" not being sent, when Authorization type is OAuth2"
**Describe the bug**
Request parameter with name "access_token" not being sent to the endpoint

**To Reproduce**
Steps to reproduce the behavior:
1. Under Authorization tab, select type: OAuth2
2. Add authorization data to request headers
3. Obtain a valid access token using the Get New Access Token button.
4. Send a request to a rest service using request parameter name access_token for e.g.
loca

[2019-07-08 11:42] linnsha commented on #2086
+1

[2019-07-08 13:09] eric-reinstein-fmr commented on #6035
The Postman desktop app is built with the Electron framework.  I'm not too familiar with Electron, but I'm guessing it uses an embedded Node.js installation and setting environmental variables affects that. For max old space size specifically, it seemed to be causing a heap overflow.

[2019-07-08 13:28] labifrancis opened #6871 "Error "Something went wrong" when running a collection"
**Describe the bug**
A user gets this error "Something went wrong" when trying to run a collection

**Expected behavior**
The collection should run without an error

**Screenshots**
![image](https://user-images.githubusercontent.com/10200603/60813784-52505300-a18c-11e9-9c4b-832d73eb6d41.png)

**App information (please complete the following information):**
 - App Type - Native App
 - Postman Versi

[2019-07-08 14:01] kamalaknn commented on #6860
@agataciesielska This is fixed on the latest version of the canary channel now.

You can download the canary version from here - https://www.getpostman.com/downloads/canary

[2019-07-08 14:10] prashantagarwal commented on #6809
@Ramya-From-Postman We have updated the message accordingly.

[2019-07-08 14:10] #6809 closed, assigned to anudeepmedicharla

[2019-07-08 14:12] danteay commented on #6855
@harryi3t sure, letme try it and I'll give you my comments

[2019-07-08 14:17] AnkitMasand commented on #6850
@VicKetchup Is it possible to share a sample collection (without sensitive data) which we can use to reproduce this issue?

[2019-07-08 14:31] shreys7 commented on #4101
@jeffayan In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

This particular bug has been solved in experimental codegens. Switch on the experimental codegen mode from settings and select Swift - U

[2019-07-08 14:34] Kastamat commented on #6817
Just sent

[2019-07-08 14:50] VicKetchup commented on #6850
@AnkitMasand Will give it a shot and give you an update asap.

[2019-07-08 15:19] Raj-postman opened #6872 "Collection lost on changing accounts of a user"
**Describe the bug**
The collection shared with the team by the user is lost on removing the user

**To Reproduce**
Steps to reproduce the behavior:
1. User A creates a collection and shares it with Team
2. User A is removed from the Team
3. User B joins the Team
The shared collection is lost.

**Expected behavior**
Even if the user is removed/ updated the shared collections should stay intact

**

[2019-07-08 15:23] ericlima commented on #5093
people,

I'm using Fedora 29 and the problem was occured until I used:

tar -xvzf ./Postman-linux-x64-7.2.2.tar.gz

now is working fine !

[2019-07-08 15:30] shamasis commented on #1257
This has already been added. We need to have this documented and perhaps even highlighted as contextual in-product documentation. 🤦‍♂ Will close the ticket when the doc goes live.

[2019-07-08 15:38] shamasis commented on #4591
Hey ... this was fixed as part of v7.3 of app.

[2019-07-08 15:38] #4591 closed, assigned to nobody

[2019-07-08 15:48] shamasis commented on #4375
@yoransabern congrats on your new computer :-P ... and thanks for letting us know that this isn't happening anymore. We did a lot of underlying improvements to address this bit-by-bit. The latest app should have everything that sets the right expectation.

[2019-07-08 16:02] VicKetchup commented on #6850
Was able to reproduce it, please see the attached collection and here are screenshots from monitor showing wrong URL:
![image](https://user-images.githubusercontent.com/43671684/60824556-758df900-a1b2-11e9-972f-18d8db5ae6ca.png)
![image](https://user-images.githubusercontent.com/43671684/60824681-af5eff80-a1b2-11e9-9430-d209d3994521.png)

[Wrong URL in Console Log (Monitors).postman_collection.jso

[2019-07-08 16:19] akaczinski commented on #6807
It works great! Thank you very much. Tested on Postman v7.3.2-canary01

[2019-07-08 16:19] #6807 closed, assigned to codenirvana, harryi3t

[2019-07-08 16:54] sankalp0o commented on #6872
@Kurmavathar This behaviour isn't expected and we'd look into it.
@ankitjaggi @abhijitkane what can we to debug this issue?

[2019-07-08 17:18] sankalp0o commented on #6867
@Kurmavathar Looking at the original ticket, I see the user mentioning exporting and importing workspaces between multiple accounts, which is not something that we support. Can we dig deeper into this and figure out the root cause for the confusion between workspaces/accounts?

[2019-07-08 17:55] pho3nixf1re opened #6873 "Copy web URL from postman app examples"
**Is your feature request related to a problem? Please describe.**
I regularly want to quickly share saved examples in the Postman app with team members. Currently there does not seem to be a way to get the web URL through the app. I have to navigate through the web Dashboard, dig into the docs (we have a single super-collection to group our micro-services), then manually copy/paste the URL from m

[2019-07-08 18:41] phalverson commented on #285
+1
FWIW

In my specific case, I came here looking for `prompt` support because I have some requests that are destructive and I want to make the user confirm before submitting.

[2019-07-08 18:52] akaczinski opened #6874 "Hitting backspace while renaming a collection will prompt the user to delete the collection"
**Describe the bug**
In the left hand "Collections" column, if the user right clicks a collection, clicks on Rename, and hits Backspace, Postman will ask the user if they wish to delete the collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click a collection in the collections column on the left
2. Click rename
3. Press backspace

**Expected behavior**
Text should be deleted

[2019-07-08 19:07] preethammavin commented on #6845
@VicKetchup this is something which is available to our Pro and Enterprise users , for reference I have attached the collection change-log in the screenshot below
<img width="909" alt="Screenshot 2019-07-08 at 12 03 06 PM" src="https://user-images.githubusercontent.com/34742239/60835688-a4877900-a178-11e9-975d-fa1639e3b53a.png">

[2019-07-08 19:10] JP-from-Postman opened #6875 "Dashboard: viewing all team environments results in an error"
**Describe the bug**
A clear and concise description of what the bug is.

[Reported by Postman Support, on behalf of original user]

User attempts to load https://go.postman.co/team/elements?type=environment to view all team environments, but the page doesn't load any environments, and the following error shows in browser console:

"/api/environments?team=412119&uid=true undefined" for raven.js:51

[2019-07-08 20:26] kausality commented on #285
I am now unsubscribing to this thread. This is one of the oldest feature request here and every week I see several notifications of people requesting this feature.
Postman certainly doesn't care about its customers enough to implement something seemingly trivial.

[2019-07-08 20:31] lauksas commented on #2790
I use a framework which wrappers the response in a comment for "security" and I used to be able to modify the responseBody as below in order to postman show the response beautifully, but in the latest version I can't anymore, does anyone have any tips? seems that I can't modify the `responseBody` variable anymore...

`responseBody = responseBody.replace('/*-secure-','').replace('*/', '');`

[2019-07-08 20:58] danteay commented on #6855
@harryi3t Canary works fine

![Captura de pantalla de 2019-06-27 16-27-42](https://user-images.githubusercontent.com/9085902/60842238-4028e180-a199-11e9-8408-02ca8dc7b38d.png)

[2019-07-08 20:59] danteay commented on #6855
@harryi3t Canary woks fine

![Captura de pantalla de 2019-07-08 15-57-30](https://user-images.githubusercontent.com/9085902/60842281-5df64680-a199-11e9-8d88-498441a174da.png)

[2019-07-08 21:23] danteay commented on #6855
@harryi3t sorry bro, same error, after close an reopen the app still the error in canary

[2019-07-08 22:02] dpd73 commented on #1070
+1 👍 , would help overcome that when a collection is imported for publishing then an order could be stipulated rather than getting pot luck. Looks like I'll have to delete the examples and recreate in order to get my desired happy path preference

https://community.getpostman.com/t/order-response-examples-in-published-api-documentation/6385

[2019-07-08 22:58] Azz-L commented on #6035
@eric-reinstein-fmr thanks! that has solved my problem. I had the following environment variable set:
**NODE_OPTIONS : --max-old-space-size=8192**
After deleting that env variable i was able to install postman and able to start it up.

[2019-07-08 23:59] DOLPHYNNNN opened #6876 "Unable to Copy response text"
In version v7.3.1 I am unable to copy any of the body response text to the clipboard.  I can copy the input data, but not the response body data.
This is on Windows 10.
When selecting body text you can right click and hit copy and it nothing goes wrong, but if you try and paste you notice that nothing actually got copied to the clipboard.

To recreate, post to an endpoint in a collection.  Choose

[2019-07-09 01:04] hrobertson commented on #285
Unsubscribing too. Been happily switched to Insomnia for a few months now.

[2019-07-09 02:32] vkadam commented on #4785
From PostMan web ui (not the app), either select add collection to workspace or environment to workspace, then select source workspace, collection and/or environment import. nJoy :)

[2019-07-09 02:47] Raj-postman opened #6877 "No Inclusion of GraphQL Body in Documentation"
**Describe the bug**
In the auto-generated documentation, the body shows as blank and there's no inclusion of the GraphQL query.

**To Reproduce**
Steps to reproduce the behavior:
1. Expand your collection
2. Click on 'View in web'
3. GraphQL query is missing in Documentation body

**Expected behavior**
Be able to see the Body just as raw/form-data

**Screenshots**

In-App -

<img width="733" alt=

[2019-07-09 03:05] phainguyen commented on #4977
Same issue happens on 7.2.2
I try to using postman in https://www.getpostman.com/downloads/canary and don't face this issue anymore

[2019-07-09 03:23] Mouradif commented on #285
Yeah... 6 years and 4 months, 196 messages, countless thumbs up. I'm unsubscribing too. These notifications are just a painful reminder of how little our opinions matter. I'm switching to Insomnia too. It doesn't have all the features I liked in Postman yet but since it's Open source, it's just a matter of time, I will certainly contribute if I have the opportunity.

[2019-07-09 04:42] Thor07 commented on #5868
I have a publicly available URL and global variable doesn't substitute the value on monitor ,works fine on app.

[2019-07-09 04:46] godfrzero commented on #5868
@Thor07 Globals aren't supported within monitors. Only variables that are present in the collection + environment can be used.

[2019-07-09 05:41] visualisedata commented on #2302
+1 please

[2019-07-09 08:03] jkoehlerrfid commented on #4361
I have the same problem (using Win10), but when I start Postman in compatibility mode "Windows 8", it works much better.
Win10 = very high CPU utilization, even 10min after app start
Win10 using compatibility mode "Windows 8" = high CPU utilization in first 10s

[2019-07-09 08:21] kaustavdm commented on #1603
Reading environment variables makes sense for Newman. We still don't have it on our roadmap though. Till then, @QuinnBast's workaround in [this comment](https://github.com/postmanlabs/postman-app-support/issues/1603#issuecomment-443539008) can work for those who want to use system env vars in a CI setup with Newman.

But, we have decided not to implement this for the Postman app itself.

Trying to

[2019-07-09 08:29] dellagustin commented on #4001
Me and a colleague lost today at least, together, 4 hours of work because of this issue.
In special, when looking at the "Postman Console"
Please add some means to make it transparent to the user that the method was changed when following the redirect.

[2019-07-09 08:40] ritwijsinha commented on #6634
Hello @javiergarval,

Emojis are just characters that use the standard system font. This means, that depending on what OS the Postman app is running, the look and color of the emoji will be impacted.

Some apps, such as Facebook and WhatsApp, have built in their own variations of emoji that are different from the system font.

This is not a bug, but something implemented by other apps.

However, t

[2019-07-09 08:43] DannyDainton commented on #6818
Hey @Artemy22,

This image has now been replaced on the Learning Center.

[2019-07-09 09:14] TheNestea opened #6878 ""KEY_VALUES_MISMATCH" error when using .pfx certificate"
**AR**: Can't send requests to https with .pfx certificate

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Certificate
2. Click on ”Add Certificate”
3. Fill “Host” field with host, like “mmm-nn.ru” and port with ”8080”
4. Click “Choose File” in PFX file field and select .pfx file
5. Enter “Passphrase” of .pfx certificate
6. Click “Add” button
7. Send any request to this host

[2019-07-09 09:24] VicKetchup commented on #6845
@preethammavin SO I was missing something :) I found the option now and will use it to see if it resolves some of our issues. Thank you very much.

[2019-07-09 09:43] blakejolley commented on #1070
+1 - We need this !

[2019-07-09 09:47] dellagustin commented on #5092
I actually think that omitting Authorization headers should be default behavior, that could in turn be overridden per collection / request (the more granular setting wins).

[2019-07-09 09:51] dellagustin commented on #1603
Hello @kaustavdm how about referring to environment variables in the Current Value of environment / collection variables instead?
This would make the setup more flexible to the user of the environment / collection.

[2019-07-09 09:53] #6858 closed, assigned to vvs11

[2019-07-09 10:01] dellagustin commented on #6639
This is really important.
It should apply to variables in all scopes (Collection, Environment, Global).
Given that one of the recommended use cases of variables is for secrets, I struggle to understand how this was not considered from the beginning.

[2019-07-09 11:02] AdelKIHAL opened #6879 "Postman listen only to tcpv6"
**Bug description**
When starting "Capture requests and cookies with postman" it only listen to tcpv6 connections

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Capture requests and cookies with postman"
2. Change port to 8080
3. Toggle on

**Expected behavior**
Start listening on the 8080 port but only with tcpv6
output of netstat
[code]
**App information**
 - App Type [Native Ap

[2019-07-09 11:22] freerider7777 commented on #3312
What the... Such simple issue exists for 2 years...

[2019-07-09 11:56] Ghusar commented on #6768
@JP-from-Postman we have identified the issue related this bug. I will keep the thread updated till the fix goes to production

[2019-07-09 12:15] Michal-Kolomanski opened #6880 "Limitless or big data runs in Newman/Postman runner"
Hello,

I want to run a collection which will be adding live data to my database (limitless run) or a collection which will add plenty of data to my database. I wrote those collections, its ready to use but there is a huge problem called MEMORY. Durning live mode collection or that which adds plenty of data to my database (it can run a few hours) my memory is filled in 100% and my computer stops w

[2019-07-09 12:27] kamalaknn commented on #6876
@DOLPHYNNNN

Thanks for reporting this. We were able to reproduce this.

We did some improvements in the response body viewer, that has caused this. We will push a fix for this in the next release.

In the meantime, the `ctrl/cmd + C` shortcut should work for copying the selection. There is also a `Copy Response` icon on the top right of the response section.

We'll keep the thread updated.

[2019-07-09 12:45] juanpablo-delgado-tierconnect-com commented on #4401
Also this works for me too. Environment: Ubuntu 18.04

[2019-07-09 13:16] musamamasood commented on #4258
Thanks, It's working after upgrade.

[2019-07-09 14:16] campelo opened #6881 "Download PDF automatically on postman request"
Hi everyone!

I'm looking for a feature of postman like this issue #3269
I'm using postman for running tests automatically. In some requests, the response is a PDF file to download. The postman should download the file on HD without human interaction. I have not found a feature like this.

Could you help me?
Thanks!

[2019-07-09 14:23] saswatds commented on #6881
Hey @campelo if you are not using the runner then you can use the `Send & Download` feature
<img width="766" alt="Screenshot 2019-07-09 at 7 49 08 PM" src="https://user-images.githubusercontent.com/8796447/60895661-a9385400-a282-11e9-97e0-378ec6bf2d77.png">

By stating

I am assuming you want the download feature in the collection runner.

This feature is **not yet available** in the runner and I

[2019-07-09 14:34] WarrenFerrell opened #6882 "Sidebar filter loses current position in collection hierarchy"
I have a lot of nested folders from importing a swagger definition via Swashbuckle so I often just use the filter box to look for just the request I want. The problem is that this then collapses all the folders I currently have open.

The obvious solution is to make it so that the current navigation is restored after all filter text is removed.

An alternative though could be to allow multiple sea

[2019-07-09 14:52] fljoly commented on #2968
This would be nice. I've been struggling

[2019-07-09 15:38] slayb3ar commented on #2724
@abhijitkane Awesome to hear about the new set of code-generators. I'm having a little trouble figuring out how to enable the `Experimental Codegen mode`.

Could you walk me through how to enable this flag?

[2019-07-09 15:38] slaman75 commented on #5918
I still don't understand how this is an issue:

This is the default cipher list used by NodeJS (https://nodejs.org/api/tls.html#tls_modifying_the_default_tls_cipher_suite)

When support all of these... but when we turn off SSLv3 support, POSTMAN can't establish a handshake.  Are you SURE that Postman is using the default NodeJS ciphers for TLS?

TLS_AES_256_GCM_SHA384:
TLS_CHACHA20_POLY1305_SHA256

[2019-07-09 15:49] jonathan3087 commented on #6854
Those changes worked perfectly.  Thanks so much.

[2019-07-09 15:59] Cheas commented on #6035
@eric-reinstein-fmr thanks! that has solved my problem. I had the following environment variable set:
NODE_OPTIONS : --max-old-space-size=4096

[2019-07-09 16:34] brettsamann commented on #3312
It's also a problem for me that I can't programmatically control what happens in the cookie manager, or at the very least disable the "Set-Cookie" functionality. I know we have pm.cookies.get() and pm.cookies.clear() but as stated before the "clear" doesn't actually clear the cookies from the cookie manager. I have no idea why there's a .get and not a .set function - almost every function with a .

[2019-07-09 16:52] DannyDainton commented on #4381
Hey @LeslieMurphy - Would you be able to try this again on the latest version of the app, please?

[2019-07-09 16:54] FunksMaName commented on #6878
I can confirm that I am getting the the same error, on windows client v7.3.2, which is not listed on your website release notes. I have a valid PFX file setup as a client certificate for mutual authentication. This worked 2 hours ago until the upgrade.

[2019-07-09 17:09] preethammavin commented on #6866
@rammesaran can you try the steps detailed in the following thread https://github.com/postmanlabs/postman-app-support/issues/4594

and let us know if it solves the issue

[2019-07-09 17:10] WarrenFerrell opened #6883 "Import assigns null response when definition contains a recursive property."
When trying to import a swagger api doc that contains a definition that has a recursive property. The subsequent Postman collection assigns null to the body of the response.
Import the example below to see the behavior. Would recommend detecting this scenario and  including one level of inheritance from the top level object so the example can be understood to be recursive.

[code]

[2019-07-09 17:19] #6867 closed, assigned to nobody

[2019-07-09 17:36] sankalp0o commented on #6875
Not reproducible. Must be something wrong with that account. @ankitjaggi @ankit-m Could you guys take a look at this?

[2019-07-09 18:18] carolin-postman opened #6884 "Logging in using the native app via SSO leads to a spinning circle"
**Describe the bug**
When an enterprise user logs-in via SSO through the desktop app, the loading circle spins indefinitely.

**To Reproduce**
1. Open desktop client  7.2.2 (7.2.2)
2. Click on Enterprise user? Sign in here
3. Entered domain name
4. Select SSO option

**Expected behavior**
Be able to login successfully and access the application

**App information :**
 -  Native Postman App
 - Post

[2019-07-09 18:57] sanccie26 commented on #2973
Would like to acquire 4.10.7 - you have recommendations?  Thanks!
sanccie26@gmail,com

[2019-07-09 19:02] codenirvana commented on #6878
@TheNestea @FunksMaName Thanks for reporting this issue.

This looks like a side effect of OpenSSL upgrade from `1.0.2l` to `1.1.0` during the Electron upgrade in v7.3.

Until we verify this can you please check if one of the following fixes this issue:
1. Re-configure the client certificate configuration (remove existing and add again)
2. Remove the passphrase from pfx and try again

**Steps to r

[2019-07-09 19:31] pearlberry commented on #6832
@kamalaknn is there any ETA on when this will be resolved?

[2019-07-09 19:41] ebonertz commented on #6719
@a85 Any updates on this topic and when we may be able to load the schema dynamically through a url or introspection query?

[2019-07-09 19:52] daytonlowell commented on #2724
In Postman, go to the `Preferences > General` tab. 2nd switch down, under Request is "Experimental Codegen mode".

[2019-07-09 20:12] codenirvana commented on #3312
Hello everyone.
It took us a while but, we are currently adding support for programmatic access of cookies. 🎉
You would be able to programmatically manipulated cookies for the whitelisted domains (configurable).

Will post about the finalized API and its availability in our canary and stable channel soon!

[2019-07-09 20:19] brettsamann commented on #1228
Is there an ETA for that feature? It will be a huge help to some of the workflows I have.

[2019-07-09 21:53] JP-from-Postman opened #6885 "UI hangs when Generating code for embedded HTML, connection errors in logs"
**Describe the bug**
[Reported by Postman Support, on behalf of original requester]

User reports that when clicking Generate Code for embedding a Run in Postman button, the UI hangs and no code is generated.

User noted that their network blocks HTTPS traffic on any port besides 443. DevTools logs reflects numerous connection errors (shown below).

[code]

[code]

**To Reproduce**
Steps to reprod

[2019-07-09 22:28] thetreythomas opened #6886 "Socket hangup while sending request (in app version 7.3.0 to 7.3.2)"
**Describe the bug**
Just updated to 7.3.2. After Postman restarted I tried the same API call I was using before the update and get the error message below:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update Postman from 7.2.2 to 7.3.2
2. Attempt an API call

**Expected behavior**
For Postman to work like it did before the update :)

**App information (please complete the followin

[2019-07-09 22:52] thetreythomas commented on #6886
I noticed that you only have 7.2.2 offered to download on the web, and that the most recent Canary build is 7.3.2, which I just installed and encountered the exact same error.

Did the wrong build get promoted to the wrong branch?

I'm uninstalling 7.3.2 and reinstalling 7.2.2 and not updating.

[2019-07-09 23:00] thetreythomas commented on #6886
After removing 7.3.2 and installing 7.2.2, I'm back to normal.

If I `Check for Updates` from Settings, it shows 7.3.2 again, so I'm sure multiple people might start updating and encounter this.

[2019-07-10 01:14] VictorHOliveira commented on #5311
Yeah, I'm from Brazil and here we use Postman a lot, and o feel miss about the translate and more support in portuguese. Can I help with this?

[2019-07-10 04:23] kamalaknn commented on #6886
Hey @thetreythomas

Could you open the Postman Console(View -> Show Postman Console) from 7.3.2 or 7.3.2-canary and send us a screenshot of the errors you are seeing?

[2019-07-10 05:29] thetreythomas commented on #6886
@kamalaknn Here's a screenshot. I had reinstalled 7.2.2. I went through the update again to 7.3.2 and ran into the issue.

![image](https://user-images.githubusercontent.com/15376624/60942797-9422eb80-a2a9-11e9-8d90-adfcccee3bcc.png)

![image](https://user-images.githubusercontent.com/15376624/60942840-b3ba1400-a2a9-11e9-9ab1-d488f0879994.png)

[2019-07-10 05:37] ratpik commented on #6732
Closing this. The only way to choose between two saved examples which have the same request is to use the `x-mock-response-name` or `x-mock-response-id` to specify the example name or id while sending the mock request as mentioned by @tmdoit.

[2019-07-10 05:37] #6732 closed, assigned to ratpik, vvs11

[2019-07-10 05:43] saswatds commented on #6886
Hey @thetreythomas could you give some insights into which TLS version your server is using. I have a hunch that this issue could be related to https://github.com/nodejs/node/issues/21088

In the 7.3.x version of the app, we updated the underlying version of the platform which now comes with node v10.

[2019-07-10 06:04] thetreythomas commented on #6886
@saswatds - Our application previously supported SSLv3, TLSv1.0, TLSv1.1, and TLSv1.2.

Roughly five versions back we changed that to use only TLSv1.2.

[2019-07-10 06:07] AnkitMasand commented on #6850
@VicKetchup Thanks for reporting this. We have identified the bug that is causing the wrong information to get displayed. We will be pushing out the release soon and will inform you once it's done. Kindly acknowledge once after that.

[2019-07-10 06:43] clemkake commented on #1257
Ah finally a good answer @shamasis
I was hoping to see that!

[2019-07-10 06:43] saswatds commented on #1603
Hi @dellagustin can you provide a bit more insights into your current setup as to how you are using postman?
It would be helpful to understand your use-case and how having OS environments in Current Value would solve your problem.

[2019-07-10 07:13] wszk1992 commented on #974
Kindly ping

[2019-07-10 07:14] TheNestea commented on #6878
Only this helps, Thx

[2019-07-10 07:28] ardennext99 opened #6887 "Wrong visualization of response in pretty response"
Yesterday i've update Postman to the 7.3.2 version on my Win7 Pro OS.
I've tryed to send request to some service that response with json content (with wrong Content-Type = text/html; charset=UTF-8).
in the previous versions I usually chose the json option in the combobox, and the pretty output show me the content with the right indentation, but with the last update this not work properly.
The cont

[2019-07-10 07:40] agataciesielska commented on #6860
@kamalaknn great! Thanks for the fix.

[2019-07-10 07:50] codenirvana commented on #6887
@ardennext99 Thanks for reporting this. We are able to reproduce this.

We did some improvements in the response body viewer, that has caused this. We will push a fix for this in the next release.

[2019-07-10 08:02] codenirvana commented on #6886
@thetreythomas Can you try sending the failing request using curl with `-v` flag and share the verbose logs (without sensitive data)?

The verbose logs for SSL connection will help us debug this issue.

[2019-07-10 08:42] VicKetchup commented on #6843
Just wanted to update the status, as per discussion in https://github.com/postmanlabs/postman-app-support/issues/6845, I've managed to find the "Revert" option, so that definitely will help with some of the headache.
However recently it's been the changes to the environment variables that is causing us some issues, as someone is changing the booking data to the ones that don't have all the info to

[2019-07-10 08:46] arpitbatra123 opened #6888 "Postman snaps are out of date."
All Versions of Postman snaps on https://snapcraft.io/postman are out of date.

![Screenshot 2019-07-10 at 2 06 21 PM](https://user-images.githubusercontent.com/21967563/60954745-24e6df00-a31d-11e9-8478-0c81011a5b33.png)

[2019-07-10 08:53] Artemy22 commented on #6818
Thanks

[2019-07-10 08:53] #6818 closed, assigned to ArifPMan

[2019-07-10 09:06] VicKetchup commented on #5806
@codenirvana Tried to replicate the issue using the collection shared in https://github.com/postmanlabs/postman-app-support/issues/6850 and the issue seems to be present there as well, as the monitor had the swagger check while the runner didn't for the first request! Please try and use that collection :)

[2019-07-10 09:25] ankitjaggi commented on #6653
@cyrielle-hada We have found the bug causing this issue. We'll release a fix for this soon, and keep you updated.

[2019-07-10 09:51] abhishek-12355 opened #6889 "Select Path Variable from enum"
**Problem**
I always have to re-type the value of path variable which can be picked from enum.
Consider the following rest service
GET /api/v1.0/entities/:type
where type can be any of ["book", "stationery", "toy", ...]

![image](https://user-images.githubusercontent.com/18038510/60958343-d2f58780-a323-11e9-837e-fd3f7c3aeb44.png)

If I need to fetch book entities, I'll have to type in "book" in th

[2019-07-10 10:00] shamasis commented on #6889
Great idea. We need to think more about establishing the source of enum in a way that neatly fits into Postman. Something to explore when we go to our next round of work on Environments

[2019-07-10 10:47] VicKetchup opened #6890 "Request never stops executing causing App Crash and Monitor hang"
**Describe the bug**
Was testing a collection created for a different bug and now experiencing crashes on Postman App as well as hang in the monitor. I tried to call the request on which the crash happens on it's own and saw some strange behaviour. While response was given, the "Time" for it kept increasing all the way to 50.84 seconds before Postman crashed.
Please see the attached collection and

[2019-07-10 11:04] dmitriy-panasiuk commented on #6762
Same problem here. Here is a file i am trying to import
[swagger.json.zip](https://github.com/postmanlabs/postman-app-support/files/3377128/swagger.json.zip)

[2019-07-10 11:14] shamasis opened #6891 "Issue with saved example editor content beautification logic disrupting the authoring flows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a saved example
2. Select JSON or XML
3. Try to create or edit the example.
4. Notice how the editor does not respect changes and keep on overriding your keystrokes

**Expected behavior**
* I should be able to set whatever content I want and optionally beautify the ex

[2019-07-10 12:06] AdelKIHAL commented on #6879
It turned out that when listening to tcp6 it automatically listen to tcp4 as well.

[2019-07-10 12:06] #6879 closed, assigned to nobody

[2019-07-10 12:23] science695 commented on #4818
@sankalp0o Our use case is similar to what carmenhchung indicated.

We publish the docs for a collection to go to a client beginning with our testing environment, and when they are ready we switch it over to production. It would be much nicer if we could publish both testing and production environments. When I look at our docs (the private un-published versions), there are dropdowns for environmen

[2019-07-10 13:09] antoinemaschiR commented on #6886
Hello, we've got the same problem here at Renault with requests on some intern services. (Postman version 7.3.1 & 7.3.2)
Worked after downgrading to 7.2.2.

[2019-07-10 13:35] m3dbedb commented on #6446
Today in Postman 7.2.0 for windws 7 32 bit I turn on API capture option, and it crashed when I have pushed API capture button again.

[2019-07-10 14:09] shamasis commented on #6891
Latest v7.3.3 app upgrade seems to have addressed this issue. cc @DannyDainton

[2019-07-10 14:14] suraj-purohit opened #6892 "Not able to view Release Notes - Version 7.3.2"
**Describe the bug**
Not able to view Release Notes - Version 7.3.2 - In App

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Top Right Corner of the App'
2. Click on 'Settings -> Release Notes'
3. Scroll down to '....'
4. See error -> "Something Went Wrong"

**Expected behavior**
When you click on the Release Notes button - You should be able to see Release Notes related to update ver

[2019-07-10 14:16] aes1228 opened #6893 "Query Parameters not present in the Collection are present in the Documentation"
**Describe the bug**
Query Parameters not present in the Collection are present in the Documentation

**Expected behavior**
Records Parameter should not be present in the public documentation

**Screenshots**
Collection:
![image](https://user-images.githubusercontent.com/46380635/60976417-a62d7a00-a2fb-11e9-8112-2fda61d460d5.png)

Published Docs:
![image](https://user-images.githubusercontent.com/

[2019-07-10 14:17] javolek commented on #4775
OpenID Connect defines also `id_token` as response type for an implict flow. Could it be also supported?

[2019-07-10 14:34] asharma-gh opened #6894 "Cannot Disable Sync"
This glorified front-end GUI for cURL cannot have it's always online sync feature disabled.

Many people would not like another organization to possess things like Access Tokens and API Keys used in requests, but appreciate the conveniences that Postman offers such as performing signed AWS requests.

[2019-07-10 14:36] a85 commented on #6894
You don't need a user account to use Postman. User accounts are needed *for* syncing and Cloud features.

[2019-07-10 14:36] #6894 closed, assigned to nobody

[2019-07-10 14:40] TehWardy commented on #4726
Today i find this happening again ...
This time it's not localhost, and the option "SSL Certificate Verification" is set to off in the settings despite the server having a valid SSL cert and yet still Postman refuses to give me the response.

![image](https://user-images.githubusercontent.com/6891030/60978298-d2132480-a328-11e9-901f-8de3acfd281f.png)

Is this anywhere near close to be resolved?

[2019-07-10 14:40] #6891 closed, assigned to codenirvana, saswatds

[2019-07-10 15:18] marshallr12 opened #6895 "OAuth2.0 "Request Token" feature Broken"
**Describe the bug**
After requesting a token using "Get New Access Token", the embedded browser shows an empty screen on callback. Following the same steps below in v7.2.2 works properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'EDIT COLLECTION'
2. Click on 'Authorization tab'
3. Set "Type" dropdown to "OAuth2.0"
4. Click "Get New Access Token"
5. Fill in the form fields using

[2019-07-10 15:30] thetreythomas commented on #6886
@codenirvana Here you go. Let me know if you need anything else.

[code]

[2019-07-10 15:52] schadsey commented on #4296
Still an issue in 7.3.3.  However, it seems to occur on the 2nd and all subsequent run of a collection within the same Collection Runner session (i.e., clicking "Retry" after the 1st run).  If I close the runner and re-open it and run the collection, I see the response headers and bodies.  So the workaround appears to be to close and re-open the Runner window if you want to be able to examine the

[2019-07-10 18:02] audreyjbanks opened #6896 "Test v. PM.test"
I recognize that `tests[]` is being deprecated and so I wanted to change to `pm.test()`. However, when I use the same function that worked before in passing and failing with `test[]`, I get false positives with `pm.test()`. The example pictured below.

![image](https://user-images.githubusercontent.com/23407905/60990756-1c8ba580-a317-11e9-853f-d2faf3a0adef.png)

I am using an API that is returning

[2019-07-10 18:37] ayarrus opened #6897 "App Icon not available"
**Describe the bug**
The main icon is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman Ver 7.3.3 (last)

**Expected behavior**
The main icon is not visible.

**Screenshots**
![sdasdasdsad](https://user-images.githubusercontent.com/10744797/60995262-8e201f80-a328-11e9-981b-1e5c46b85a61.png)

**App information (please complete the following information):**
 - App Typ

[2019-07-10 19:01] DannyDainton commented on #6896
Hey @somebodie,

It might be worth closing this issue and raising a question over on our community.getpostman.com site.

These 2 things work slightly differently and it would be easier to explain with examples on that platform.

It also gives our community members a chance to pitch in and help with the question. 😁

[2019-07-10 19:15] audreyjbanks commented on #6896
Thanks @DannyDainton !

Just put the question in the help.

https://community.getpostman.com/t/test-to-pm-test-https-github-com-postmanlabs-postman-app-support-issues-6896/6456

[2019-07-10 19:15] #6896 closed, assigned to nobody

[2019-07-10 19:52] di118 opened #6898 "Plans and Pricing web page mobile version issue"
**Describe the bug**
The mobile version of the Plans and Pricing page is not displayed properly. User needs to scroll to the right to read the complete information about Postman Enterprise

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://www.getpostman.com/pricing'
2. Press F12 to activate Chrome's Developer Tools - Select any device such as iPhone X or use a mobile to access

[2019-07-10 20:43] shamasis commented on #6893
Can you try modifying parts of the collection and saving the request again? Want to double check if this is an issue with syncing changes

[2019-07-10 20:45] SXS73 commented on #6886
Just update to v7.3.3 and getting a similar error.
My console says --> Error: socket hang up

[2019-07-10 20:55] credencie1 commented on #6887
Same problem here, but I found a temporal workaround. After switching from HTML to JSON, you can select Preview or Raw and then return to Pretty. The "pretty body" will be working again. Besides, if you send another request, the pretty option will be rendering the body correctly, but you need to be in Pretty tab when sending the request, or you will have the same problem (selecting Raw or Preview

[2019-07-10 21:20] asdirc commented on #6682
I am interested too, let me know if you need any help with the implementation.

[2019-07-10 21:31] danielforster1 commented on #6895
I am also having the same issue. I am getting a blank screen when clicking "Request Token"

[2019-07-10 21:42] carlos-toscano commented on #6897
I have the same problem in the same version.
![Captura](https://user-images.githubusercontent.com/18338854/61007160-54034d80-a329-11e9-9b3f-19257c5c9f2c.JPG)

[2019-07-11 00:15] pratnala commented on #6895
Having the same issue. Been broken since v7.3.1. I am on Win 10 1903 x64.

[2019-07-11 00:39] DOLPHYNNNN opened #6899 "URL slashes are incorrect"
In Postman 7.3.1 with the new color formatting of responses the slashes in URL responses are now displaying both a backslash then a frontslash (\ /).  Using older versions of Postman shows the URL with just a single slash as expected but in the most recent versions the URLs have an extraneous slash displayed.

To recreate:  Hit an endpoint which returns an URL.  Notice that the slashes in the URL

[2019-07-11 00:43] DOLPHYNNNN commented on #6899
![BadSlashes](https://user-images.githubusercontent.com/52682172/61014029-3c809080-a33a-11e9-9773-79da2f7e7b87.png)
![GoodSlashes](https://user-images.githubusercontent.com/52682172/61014034-42767180-a33a-11e9-88dc-df783e4ed311.png)

[2019-07-11 01:57] jpSimkins commented on #1014
I have a paid version and I have a workstation I rarely use. It would not sync, spent over 24 hours and still not synced. The easiest way to fix this was to delete the (on Ubuntu) `~/.config/Postman` directory and restart Postman. Honestly, would love a way to delete all data and resync to my account. Also, different environments per collection.. it's too noisy.

[2019-07-11 01:59] jpSimkins commented on #6899
I too have ran into this annoying issue. This is actually misrepresenting data and being problematic.

[2019-07-11 02:05] jpSimkins commented on #6873
+1mil for this one. Seriously.. why this isn't there makes me sad inside...

On a side note, to get the URL for now, click on `Code` (under the Send button) and select `cURL`. You will be able to get the URL from the output but honestly, this seems like a hack to get the URL. I want to simply copy the URL as a URL with all the proper variables being set.

This is important when working with third-

[2019-07-11 07:10] chenjianeng0201 opened #6900 "slashes"
![image](https://user-images.githubusercontent.com/42136057/61029608-ff75d600-a3ed-11e9-9f08-d881f71cc02e.png)

[2019-07-11 07:47] Cazaimi commented on #6425
@JP-from-Postman , thanks for the clarification. Will look into it.

[2019-07-11 08:00] ankurdengla commented on #6895
@marshallr12 @danielforster1 @pratnala Thanks for reporting the issue. We are looking into this. It would be helpful to us if you could share the logs found in View -> Developer -> View logs in Explorer. Please mail the logs to help@getpostman.com

[2019-07-11 08:25] DavidKahnt commented on #3316
Is there any ongoing effort to implement this feature request? It would be nice to have it working "cross-platform", so you can also use your short keys on linux, windows and mac.

I am currently using Postman v7.2.2 and can't use short keys, or do I miss something?

[2019-07-11 08:47] aidanhyland commented on #2853
+1

[2019-07-11 08:52] Cazaimi commented on #6170
Thanks for reporting @ash007-postman .

This issue occurs if description text is vertically aligned using tabs (`\t`). It does work if spaces (` `) are used instead.

Looking into it.

[2019-07-11 09:04] T0mmyLee commented on #6899
Hope they will fix it soon!

[2019-07-11 09:08] coditva commented on #6890
Hi @VicKetchup, I was able to reproduce the issue (thanks for providing the sample collection!). Let me try and find the cause and I'll get right back to you.

[2019-07-11 09:31] coditva commented on #6890
@VicKetchup So, turns out the URL that you're requesting (http://petstore.swagger.io/v2/pet/findByStatus?status=available,available) keeps on sending data (probably a loop gone wrong 🤷‍♂).

This is why the Time keeps on increasing because the request never ends! You can even see this behaviour when you access the endpoint with a web browser.

Postman keeps on receiving the data and hangs/crashes b

[2019-07-11 09:42] ankurdengla commented on #6895
@marshallr12 @danielforster1  @pratnala
**UPDATE** - We are still investigating the issue but we found a workaround meanwhile. Could you try changing the callback url from https://www.getpostman.com/oauth2/callback to https://app.getpostman.com/oauth2/callback ? You'll also need to add it in `Allowed Callback URLs` in you Auth0 app

[2019-07-11 09:52] kaustavdm commented on #5078
Also reported on the Postman community forum: [How do I disable the dragable selection box?](https://community.getpostman.com/t/how-do-i-disable-the-dragable-selection-box/6435)

[2019-07-11 10:12] Swapnil-getpostman opened #6901 "Session Expired window on native app (v7.2.2)."
**Describe the bug**
Unable to access the postman app as the session got expired on the native app (v7.2.2), and when tried sign in, Postman tries to load an embedded browser (which is v59 chrome). As this version is being blocked by company policy, It is throwing an error message "**Not allowed to use the browser. (Sorry this web browser is not approved to use at your company)**"

Is there any wa

[2019-07-11 10:30] riteshsingh2204 commented on #2082
using v6.7.4  and still getting it as Resopnse.pdf.

[2019-07-11 11:25] OpeOnikute commented on #3117
+1

[2019-07-11 12:11] mika-kami opened #6902 "Unable to drag and drop requests(folders) to other folders(collections)"
**Describe the bug**
Unable to drag and drop requests(folders) to other folders(collections)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Collections'
2. Right click on any folder/request
3. Drag anв drop the request to another folder
4. See error

**Expected behavior**
Drag and drop works

**App information (please complete the following information):**
 - Native App
 - 7.3.2
 - O

[2019-07-11 12:35] aaronmbos commented on #6897
The Postman icon is also not being displayed in the taskbar for me.  I am running the same version of Postman (7.3.3) natively on Windows 10 version 1809.  This seemed to just start happening when Postman updated to 7.3.3.

![postman](https://user-images.githubusercontent.com/24758740/61051296-5065da00-a3ae-11e9-9c5a-6e5ef3020f69.png)

[2019-07-11 12:49] ayarrus commented on #6897
Problem: The main app **change install directory** but **not update the shorcut**.
Fix: **Delete old shorcut, and create new shorcut.**

![ssss](https://user-images.githubusercontent.com/10744797/61052095-0cc89b80-a3c1-11e9-98ae-2d2b82c71362.png)

[2019-07-11 12:55] SladeThe commented on #6045
It is unacceptable, that you can't use the stable branch, because the latest stable version simply doesn't work.
Postman team, shame on you.