[2018-12-02 18:20] dDiverVS commented on #4677
Hi @trev , I am still experiencing the same issue, I am not sure whether postman does support TLS since some oAuth requests which only support TLS 1.2 are working for me, but it is using by default SSL which should no longer be the case:

Error: write EPROTO 101057795:error:14094412:SSL **routines:ssl3_read_bytes:sslv3** alert bad certificate:c:\projects\electron\vendor\node\deps\openssl\openssl\s

[2018-12-02 20:26] QuinnBast commented on #1603
### I found a solution!
After sifting through many google searches I finally found out how to pass OS environment variables in to newman. This allows you to not include plain text usernames and passwords in your git repositories if using travis-CI with postman!

The simple procedure is as follows:
### 1. Setup environment variables in your Travis-CI repository.
![image](https://user-images.githubu

[2018-12-02 21:19] ivanrodjr opened #5602 "Variables are not being resolved in pre-request script"
**Description**
Global variables are not being resolved in pre-request scripts.

**Steps to reproduce the behavior:**
1.  Add a global variable in Manage Environments ex: username and password
2. Use the variables in the body of the pre-request script
`body: {
            mode: 'application/json',
            raw: JSON.stringify({
        	    grant_type:'password',
        	    identifier: pm.var

[2018-12-03 02:00] bencasper commented on #1667
+1 for interceptor on desktop app

[2018-12-03 03:00] vgosai86 commented on #5563
I am doing similar way but postman is adding cookie set by first user to all rest of the calls automatically which will invalidate the 2nd user attempt to login. That is why I have to clear cookies in order get successful response.

[2018-12-03 05:37] abhijitkane commented on #3390
@ccs018 Odd - we look through all components before constructing the requests. An example OAS spec would help.

[2018-12-03 07:57] kid1412621 commented on #2847
+10086

[2018-12-03 08:29] kid1412621 commented on #3358
+10086

[2018-12-03 08:30] kid1412621 commented on #2378
not work in example?

[2018-12-03 08:38] Alonski commented on #2378
@vkaegis Just another friendly reminder about this :)

[2018-12-03 08:51] deepakpathania-zz commented on #4107
Closing this due to inactivity, please reopen if the issue persists.

[2018-12-03 08:51] #4107 closed, assigned to godfrzero, ankitjaggi, ankit-m

[2018-12-03 09:08] numaanashraf commented on #5537
Closing due to inactivity

[2018-12-03 09:08] #5537 closed, assigned to nobody

[2018-12-03 09:13] SamvelRaja commented on #5580
@JP-from-Postman  This issue will happen when you tried to open the app while it is in the updating phase.
This should be resolved when you restart the app, kindly confirm the same.
Keeping this open to funnel people who face the same issue.

[2018-12-03 09:14] deepakpathania-zz commented on #5314
Hey @unlikenesses, sorry for the delay in response, can you try now and let me know if the issue still persists?

[2018-12-03 09:17] yandongxu commented on #1667
+1 for interceptor on desktop app

[2018-12-03 09:17] numaanashraf commented on #5601
@verglor This seems like a bug. Do you remember doing any specific actions in the app when you lost your workspace?

[2018-12-03 09:20] SamvelRaja commented on #5561
@matouel  Could you send us these informations(Redacted) to  `help[at]getpostman[dot]com`

1. logs from, `C://Users/[User]/AddData/Roaming/Postman/logs`
2. Is there any data available in `Devtools -> Application -> IndexedDb -> postman-app -> users`  table
3. Send the infomation from `window.localStorage`

[2018-12-03 09:27] harryi3t commented on #5602
Hey @ivanrodjr,
I tried reproducing this on my end but was unable to.
Here's my pre-request script
[code]

And this is what my body looks like (just using a local variable set in the pre-request script)
[code]

I am getting the correct data back from the server
<img width="1061" alt="postman" src="https://user-images.githubusercontent.com/5207331/49364976-8bfb4000-f70b-11e8-8d79-69c2092dbbff.png">

[2018-12-03 09:28] SamvelRaja commented on #5560
Continuing investigation [here](https://github.com/postmanlabs/postman-app-support/issues/5575)

[2018-12-03 09:28] #5560 closed, assigned to SamvelRaja

[2018-12-03 09:33] numaanashraf commented on #5599
@jengwood This looks like a duplicate of #4114. As of now, Postman changes POST & PUT to GET while following a redirect. We are working on giving more control of this behavior to our users.

[2018-12-03 09:33] #5599 closed, assigned to nobody

[2018-12-03 09:35] SamvelRaja commented on #5556
Will resolve via https://github.com/postmanlabs/postman-app-support/issues/5574

[2018-12-03 09:35] #5556 closed, assigned to nobody

[2018-12-03 09:47] deepakpathania-zz commented on #5166
Hey @benhamill, we have added support for importing Open API spec 3.0 to Postman via Postman API.
You can read the documentation [here](https://docs.api.getpostman.com/#331ec7d1-6ffd-450b-996b-022afcb692f8).

We are constantly improving the converter that handles the translation and you can subscribe to [this](https://github.com/postmanlabs/postman-app-support/issues/3390) thread for the updates o

[2018-12-03 09:47] #5166 closed, assigned to ankitjaggi

[2018-12-03 09:57] deepakpathania-zz commented on #5581
Hey @loopDelicious, we do have examples for successful responses as well in the example dropdown, would you like us to show that as the default response?

[2018-12-03 10:02] vkaegis commented on #5573
@Wimmmmm Thanks for writing in! As you could find with your fieldwork, we have a few issues around tabs that we're considering for improvements, possibly opening up configurations around this. Still exploring ideas, so no ETA on this just yet. Will keep you posted here.

[2018-12-03 11:01] ivanrodjr commented on #5602
Hi @harryi3t

Indeed it's working after I added the values to the current value column, thought it was added automatically. Working good, thanks for you help.

[2018-12-03 11:09] harryi3t commented on #5602
@ivanrodjr It's added automatically the first time. If later you remove the value manually then it's not auto-filled.
Glad that it worked for you.

[2018-12-03 11:09] #5602 closed, assigned to harryi3t

[2018-12-03 11:22] mehdiraized commented on #1669
+1

[2018-12-03 11:29] vkaegis commented on #5386
@XaWin Thanks for writing in! As @godfrzero mentioned, we wouldn't want to restrict folder levels just to fit in with the markdown hierarchy. That said, I can understand the need for distinguishing levels of nested folders. Marking this as a feature request for the same.

[2018-12-03 11:42] verglor commented on #5601
Nothing special - is there any log I can provide ?

[2018-12-03 11:46] nikita-fuchs commented on #3822
+10 !

[2018-12-03 12:47] Ramya-From-Postman opened #5603 "Ability to "Exclude global proxy" for certain IP addresses"
It would be useful to provide  IP patterns for exclusion in the "global proxy configuration" In my case, I would set 192.168.* as an exclusion – meaning, use the proxy for all requests except 192.168.*.

[2018-12-03 12:54] numaanashraf commented on #5563
Duplicate of #3312

[2018-12-03 12:54] #5563 closed, assigned to nobody

[2018-12-03 14:39] jcstanaway commented on #3390
I'll try to put a sample spec, but might take a couple days before I can do that.  Note that this was within the components section - an element in the components $ref'ed to something later within the components.

[2018-12-03 15:13] drswin01 commented on #2240
Is there any update on this feature?

[2018-12-03 17:25] abhijitkane commented on #3390
@ccs018 I'm able to import the JSON at https://gist.github.com/abhijitkane/9ca56ec40bc2668107b85ce92d4f402a with the properly generated response. The Pet schema is referenced in, but defined after Pets.

[2018-12-03 19:07] rafael-yure commented on #4718
Yeah I'm having the same issue. The value isn't been replaced.

[2018-12-03 19:36] JacobCarrell opened #5604 "Typo in Attribute Space Error"
**Describe the bug**
There is a Typo in the error message when there is no space between XML attributes 'attribute space is acequired"attribute"!!'

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the space between two attributes in an XML POST body.

**Expected behavior**
Expect Error message to have correct spelling and punctuation.

**App information (please complete the following i

[2018-12-03 19:46] itsjavi commented on #2427
any update on this?

what about using the variable delimiter for name start and name end, so Postman won't have to do presumptions?

e.g.

**current situation**
`/foo/:bar` (works)
`/foo/:bar.baz` (does not work)

**proposal**

`/foo/:bar:` (works)
`/foo/:bar:.baz` (works)
`/foo/:bar.xyz:` (works, variable name is `bar.xyz`)
`/foo/:bar.xyz:.baz` (works, variable name is `bar.xyz`)
`/foo/:bar.xyz::

[2018-12-03 19:52] itsjavi commented on #2427
for now, a workaround would be to use the path extension as another param:

e.g. `https:/example.com/foo/123.json` -> `https:/example.com/foo/:id:ext`

`https:/example.com/admin/product.json` -> `https:/example.com/admin/product.json`

[2018-12-03 20:36] jzabroski commented on #3216
Postman Desktop UI, on latest version (v6.5.3), turns completely blank after taking a long time to display a response:

![image](https://user-images.githubusercontent.com/447485/49399928-adaaf600-f710-11e8-984c-2a98ab7e1768.png)

You can see I am on the latest version with this screenshot:

![image](https://user-images.githubusercontent.com/447485/49399981-d6cb8680-f710-11e8-96c4-9d7d36b4989c.png)

[2018-12-03 21:01] g0rd opened #5605 "Pre-Request Script Body Issues"
.**Description**
I have a pre-request script body that has a nested structure as shown in snippet 1. With this kind of body I was getting a JSON parsing error. So, I tried Raw Data Mode as shown in snippet 2. This would mitigate the JSON parsing error but it will not resolve {{$guid}} to an actual value. It will send the request with the value of `id` being `{{$guid}}` and not some alphanumeric gu

[2018-12-03 21:02] Christian-Stahl commented on #1667
Please give us the interceptor on Desktop app, otherwise I'd like to continue using the Chrome app.

[2018-12-03 21:06] jzabroski commented on #3216
Here is a simple repro of the crashing issue.  Create an endpoint that generates periods using Enumerable.Range in c# and increments each period by one minute.  At one year of one minutely periods, Postman crashes.  Attached is a half year, which works "ok" but is still ridiculously slow for what it's trying to accomplish.

[halfyearresponse.txt](https://github.com/postmanlabs/postman-app-support/

[2018-12-03 21:09] jzabroski commented on #3216
For what it is worth, Swagger UI built with Swashbuckle.AspNetCore has the same issues.  When debugging in Chrome with Developer Tools and "out of memory crash prevention" enabled, I can see that my Swagger UI is choking inside of immutable.js Facebook library.  I have no idea if Postman uses immutable.js or what version of immutable.js my Swagger UI is using.

[2018-12-03 21:16] jzabroski commented on #4375
I believe I have narrowed the problem down to Immutable.Js Facebook library used in the [electron-react-boilerplate-site](https://github.com/amilajack/electron-react-boilerplate-site) for efficiently (hahaha LOLOL) determining whether the a sub-tree needs to be re-rendered or not based on whether an update is an actual update or not.  This is just a hunch since I don't have access to Postman code

[2018-12-03 21:19] jzabroski commented on #5288
@maxcr  How did you determine it was because of the Electron version?

[2018-12-03 21:35] matt-ball commented on #5605
Dynamic variables like `$guid` can't be used in the sandbox environment right now:
https://learning.getpostman.com/docs/postman/scripts/postman_sandbox/#dynamic-variables

For what it's worth, all variables retrieved in sandbox environments need to use the programmatic methods rather than `{{myVar}}`
https://learning.getpostman.com/docs/postman/environments_and_globals/variables/#accessing-variabl

[2018-12-03 21:47] jzabroski commented on #3216
Here is a quick C# repro for ASP.NET MVC Core:

[code]

[2018-12-03 21:47] sandstones commented on #4594
Still had to use the GPU workaround, December 2, 2018, version 6-5-3.  Being brand new to postman, having to do that to work around a bug that shows up as first reported back in 2016 makes me pretty dubious about the quality of this application.

[2018-12-03 21:48] g0rd commented on #5605
thanks @matt-ball! I will keep the issue open until I figure this out

[2018-12-03 21:55] g0rd commented on #5605
[code]

did the trick. Thanks once again

[2018-12-03 21:55] #5605 closed, assigned to nobody

[2018-12-03 23:01] jzabroski commented on #5601
@verglor Go to View -> Developer -> View Logs in Explorer

[2018-12-03 23:17] verglor commented on #5601
I already sent whole my application data folder (including logs) by email to help@getpostman.com (Request #26137)

[2018-12-04 05:57] massukio opened #5606 "pm.sendRequest is not working in promise.then() chain"
### **Describe the bug**
I wrote a function to wait for my async API to be done first and execute related tests later.

something like below:
[code]
test result ==>
[code]
**"Test B" is gone somehow**.

Then I checked the console output, the **request has never been sent, it seems like the pm.sendRequest is not working in promise.then().** Could anyone help? Any workaround?

### **Expected behavio

[2018-12-04 06:25] Eternalculture commented on #1060
Thanks a lot. You made my day.

[2018-12-04 07:03] Rohit-Metapercept commented on #2350
How did you solved this issue ? Can you suggest the way of defining it  ?

[2018-12-04 07:19] Ramya-From-Postman opened #5607 "An option to automatically reset the variable values ( Sync initial values with current values automatically)"
It would be very nice to have a feature to automatically sync the initial values with the current values of an environment variable or a toggle switch to disable the use of current values in the environment variable to overcome the below problem.

"Suppose the current value of person A is persisted to the initial value of person A and therefore synced to the initial value of person B.
But person B

[2018-12-04 08:55] Robert-Hillary commented on #1535
+1

[2018-12-04 10:57] ghost commented on #2701
+1

[2018-12-04 11:21] oceangravity commented on #2724
+1

[2018-12-04 11:30] kamalaknn commented on #5571
Hey @hellboy81

The `Save/Save example` option saves the response as an example response. If you want your requests you send(history) to store and sync responses you can toggle the `Save Responses` on the `History` sidebar(see attached image)

![image](https://user-images.githubusercontent.com/8401064/49439017-f54f8180-f7e5-11e8-8f86-d721c13ae089.png)

To see the saved responses click on the reque

[2018-12-04 13:33] StevenStreib commented on #5585
I can replicate the issue exactly as described. Just as an additional detail, the code generation appears to be broken in a few different ways (undefined key with no value, undefined key with undefined value, missing ampersands, etc.) depending on the selected language.
The only two generators that appear to be unaffected by this are:
- Javascript Jquery AJAX
- NodeJS Unirest

[2018-12-04 14:02] dineshvg commented on #4009
This is needed.

[2018-12-04 14:34] phcoliveira opened #5784 "Please remove search params from a request's URL"
Hello there.

It makes sense to display the search params on a request's URL, while using Postman, because it makes clearer what the request will be.

But, in my opinion, it does not make any sense in displaying all of them in the documentation. If disabled, they still appear grayed out on private view, but not on the published website.

It is enough to have a table of path and search params right

[2018-12-04 16:24] cgrange commented on #1667
+1 need interceptor on Desktop app.

[2018-12-04 18:49] Ryandaydev commented on #3390
Checked canary build against a working OpenAPI spec, and it imported successfully and requests worked.

[2018-12-04 19:39] scottglenblanch commented on #1667
+1 need interceptor on Desktop app

[2018-12-04 20:52] strongwinderic commented on #824
But what about the "hide" or "secret" flag that @ramseyjacob suggested? It is simple, but give us more security for over shoulder looking.

[2018-12-04 21:12] loopDelicious commented on #5581
@deepakpathania I don't believe the example dropdown is available in the documentation - only in the Postman app, correct?

In the documentation, it would be more helpful to the user to either display a successful response or multiple responses (that include at least one successful response).

[2018-12-04 22:26] djedi commented on #1667
I found a nice workaround for now https://www.screencast.com/t/wPpYRLLyuixr

[2018-12-05 01:11] marchy commented on #1678
@a85 Abhinav can you PLEASE make this happen?

It's frustrating how such a core feature, which does NOT have high effort associated, can be ignored for so long.

Listen to your damn users man. Seriously.

[2018-12-05 03:28] lvyahui8 commented on #1667
+1 need interceptor on Desktop app

[2018-12-05 03:57] steelwolf180 opened #5608 "Environment"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I am unable to delete a previous environment that was in the workspace but it still displays the environment for that workspace in published documentation.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://micro

[2018-12-05 03:57] #5608 closed, assigned to nobody

[2018-12-05 04:10] michael-herwig commented on #4079
+1

[2018-12-05 05:15] prithivraj commented on #1667
+1

[2018-12-05 06:07] rysbilinski commented on #3919
+1

[2018-12-05 06:19] abhijitkane commented on #5521
@preethammavin Confirmed

[2018-12-05 06:19] #5521 closed, assigned to ankitjaggi, ankit-m

[2018-12-05 06:46] vkaegis commented on #5065
@tijaune I'm presuming using session values worked? Glad this worked out. Feel free to open another issue if you have more feedback around this!

[2018-12-05 06:46] #5065 closed, assigned to vkaegis

[2018-12-05 08:35] vkaegis commented on #1966
@sunilphilip Thanks for the input. Could you open a new issue for this feature request? This would help us better manage these individual requests.

[2018-12-05 08:47] godfrzero opened #5609 "App unresponsive during initial sync"
**Describe the bug**
Upon launching the app, the UI is unresponsive when engaging in certain actions (opening a request, starting a collection run, etc.) until the initial sync is complete. Once syncing is complete, my actions seem to "replay" in the order that I performed them.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. While the app is syncing, click on a request in th

[2018-12-05 09:57] zmes50416 commented on #3390
Tried the canary03 version, import working really well!
But I got one issue that server template variable is not parsing correctly.

According to openAPI 3 document [here](https://swagger.io/docs/specification/api-host-and-base-path/), It does support server templating.
Can Postman parse it as the Environment variable?
Ex:
[code]
request should be parsed as` http://{{host}}:{{port}}/what/every/you

[2018-12-05 10:03] numaanashraf commented on #5531
@g0rd Postman support image responses. But it looks like the connection to server is timing out before we receive the response completely. Could you let me know which OS you are on? I can send you the steps to enable verbose logging in Postman's network stack, which might help us understand what is happening in this case.

[2018-12-05 10:06] numaanashraf commented on #5570
@allicanseenow Thanks for reporting this. We are working on providing more control over the automatic encoding behavior in Postman. We'll keep you posted here when we have new updates on that.

[2018-12-05 10:08] emilianobonassi commented on #5335
@ankitjaggi he has the admin rights.

[2018-12-05 10:15] numaanashraf commented on #5559
@leiguorui Thanks for writing in. I'm afraid this wouldn't be possible for the time being as you are asking to run Postman's entire cloud infrastructure locally. Could you let us know why you'ld want this?

[2018-12-05 10:39] JohnDeved commented on #1667
+1

[2018-12-05 10:46] JohnDeved commented on #1667
+1
the interceptor is one of the most important features in postman. i use postman mainly for capturing and editing requests. now that the chrome app is depricated, i cant move to the native desktop app, because this important feature is missing.

please, please, please ... update the chrome plugin to communicate with the native app!

[2018-12-05 11:14] numaanashraf commented on #1473
Apologies for the regression folks. I can confirm this has been fixed in the latest version of Postman (v6.5.3).

[2018-12-05 11:14] #1473 closed, assigned to sujayvenaik

[2018-12-05 11:20] numaanashraf commented on #2353
We'll take this up as part of the improvements planned in pretty rendering of JSON responses.

[2018-12-05 12:01] phcoliveira commented on #3346
https://github.com/postmanlabs/postman-docs/issues/1470

[2018-12-05 12:01] phcoliveira commented on #3395
https://github.com/postmanlabs/postman-docs/issues/1470

[2018-12-05 12:40] kataliyst commented on #5206
I have a v6 only endpoint and it’s a global IP (it’s openstack).  The call in postman never works.  Tried the client on Mac and Windows.  Tried both URL and [ipv6].  When using the [] - the call looks like it gets cut off at the first : so to me - it looks like it doesn’t understand v6.  Is there something special to get this to work ?   An option to turn on somewhere ?

[2018-12-05 16:26] geekysrm commented on #2985
Same issue on latest version
Ubuntu 18.04

[2018-12-05 17:28] discrete-projects commented on #6682
<details>
  <summary>
  off topic
  </summary>
I was having a very similar problem in regard to Postman support for other protocols. A few friends and I went ahead and created an API development tool called Swell. It's an electron application that enables developers to test API endpoints served over modern networking technologies including Server-Sent Events (SSE), WebSocket, and HTTP2. We're look

[2018-12-05 18:12] Phyziik opened #5610 "Monitor private domain Api"
Why can't we Monitor a private domain Api? I'm developping an Api inside of my company, for internal use, and I want to Monitor it while I'm developping it.

But I can't since the Monitor gets an error :

Thank you

[2018-12-05 18:19] g0rd commented on #5531
I am on Windows 10 64 bit

[2018-12-05 19:00] Hajk commented on #1667
+1 This is key feature for me

[2018-12-05 19:26] ty323 commented on #1667
+1 need interceptor on Desktop app.

[2018-12-05 20:30] erikthiem commented on #1667
+1 this would be great to have!

[2018-12-05 21:11] matt-ball opened #5611 "Continually receiving "You seem to be offline..." message"
**Describe the bug**
During normal use of the app, the "You seem to be offline. Any changes made while offline might not sync properly with other members of this workspace." message will appear.

Users on the same network are not experiencing the same problem.

**To Reproduce**
No specific steps other than launching the app

**Expected behavior**
No sync issues

**App information (please complete

[2018-12-05 22:43] stedwick commented on #3466
Auto save and save all, please!

[2018-12-05 23:32] Sraw commented on #1667
On Dec 5, 2017 by a85.  https://github.com/postmanlabs/postman-app-support/issues/1667#issuecomment-349276020

Congratulations everybody! Today is the first birthday of "Interceptor will work with the desktop apps soon"!

[2018-12-06 01:49] a85 commented on #3466
Improvements to tab management are in our Canary build right now. Postman now will store unsaved changes in buffers which means we don't have to prompt to ask people to save. The next bit here is to have an option for Auto Save. We have a version control system in place already (being able to rollback for example) - forking and merging will be available soon.

[2018-12-06 01:50] #5559 closed

[2018-12-06 01:54] a85 commented on #5585
@numaanashraf We should probably do a validation step and show warnings in the code generator before we send it for parsing. @vkaegis Tagging you here.

[2018-12-06 01:55] a85 commented on #2724
We are moving all code generators to a plugin based model so we can update them independently and add new ones on the fly.

[2018-12-06 01:55] a85 commented on #2701
No ETA on this but we'll track this as part of postman-runtime: https://github.com/postmanlabs/postman-runtime

[2018-12-06 01:59] a85 commented on #1535
We are looking at allowing tests to be composed of multiple Collections instead of having a declarative/inheritance based model. Composition is something that we think is going to be more flexible. Along with this, we are also thinking about having external libraries being referenced as part of scripts so common things don't need to be re-defined everywhere.

[2018-12-06 02:03] gauravshetti commented on #1535
So basically, 1 main test -> many collections (thats the idea ? )

[2018-12-06 02:14] a85 commented on #1678
@marchy We do listen to our users - which is why the entire Postman team is active on the tracker. What is not possible is personalized attention when there are hundreds of issues.

While it is easy to see all the people who want a feature, what is not apparent in an issue is the voices of all the people who DON'T want this feature. Adding features comes at a cost: performance, complexity, mainten

[2018-12-06 05:06] godfrzero opened #5612 "Let the user know if request failed due to missing variables"
**Is your feature request related to a problem? Please describe.**
It's common for requests to fail if there are unresolved variables. In the vast majority of cases, this is not intended by the user. The "error" state displayed when this happens isn't very helpful and can lead to journeys down rabbit holes and eventual dead ends.
This especially seems to be a problem when new users are being on-bo

[2018-12-06 08:11] oceangravity commented on #2724
Thank You @a85 great news!

[2018-12-06 08:24] chimit opened #5613 "Inactive GET parameter is deleted on saving request"
**Describe the bug**
If we have two similar parameters and mark the first one inactive it is deleted on saving. But if we mark the second parameter as inactive it stays.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two GET parameters with the same name
2. Uncheck the first one
3. Save the request
4. Parameter is deleted

**Expected behavior**
Unchecked parameters should not be dele

[2018-12-06 08:52] numaanashraf commented on #5514
@VSDekar Could you clarify the issue further? Are you adding extra debugging flags to your local Chrome installation and that is impacting Postman Desktop Apps? Or are you opening Postman Chrome Apps?

[2018-12-06 08:54] numaanashraf commented on #5507
@JP-from-Postman Do we have a sample request we can use to replicate this issue?

[2018-12-06 08:57] #5499 closed, assigned to ankitjaggi

[2018-12-06 09:03] numaanashraf commented on #5494
Thanks for reporting this @pfazzino. We have identified the issue and would be rolling out the fix in the coming releases.

[2018-12-06 09:13] numaanashraf commented on #5440
Closing due to inactivity and not enough information

[2018-12-06 09:13] #5440 closed, assigned to nobody

[2018-12-06 09:14] numaanashraf commented on #5438
This has been addressed in Postman v6.5 and above

[2018-12-06 09:14] #5438 closed, assigned to nobody

[2018-12-06 09:19] #5416 closed, assigned to harryi3t

[2018-12-06 09:50] Sofianio commented on #1678
@a85

Easy, Add toggle in settings disabled by default for "ppl who hate to see array count"

If it's harder to implement than it seems then say so from the beginning, not 2 years after! ... communication is key

If this was an open source project i'm sure the community would come up with an optimal solution then do a pull request, but it's not the case so we trust on postman's team skills to come

[2018-12-06 11:42] numaanashraf commented on #5423
@mattmiddlesworth Glad to know this is resolved at your end. We are tracking the root issue at #5494, which would be resolved in the upcoming releases.

[2018-12-06 11:42] #5423 closed, assigned to nobody

[2018-12-06 11:43] ash007-postman opened #5614 "Request for workspace level activity feed"
Added a slack integration into workspace1. Upon making activity in workspace2, the integration is triggering a slack message to the channel configured for workspace1. Upon checking integrations in workspace2, I see that there are no integrations configured. This is causing a lot of spam in our slack channels.

[2018-12-06 11:55] phcoliveira commented on #4316
It appears to be showing, now, but it is not rendered by Markdown. It is simply text.

[2018-12-06 13:17] Sofianio commented on #1678
In case it helps, this is what i used in my Tests tab for an API that returns categories with their subcategories

[code]
the result:
[code]

I know recursion will fail if the object has like 100 levels of depth, but most of the time it's not the case.

I hope this helps

[2018-12-06 13:22] gerardbosch commented on #4633
Hello @a85 , what do you mean by "in-build Postman"?
I support this feature request as well.

[2018-12-06 13:31] GitHubHelps opened #5615 "Run Collection - returns server error 500"
**Describe the bug**
I have create POST method to upload file/image through Body - form-data - file. If i run the request like a singe request is totally OK, because we DON'T put image/file (see picture 2), but if I run the same request through collection runner I got server error 500 and all other test are terminated! (see picture 1)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pos

[2018-12-06 14:05] ghost commented on #4891
+1
currently using {{$randomInt}} is giving me only 3 digit random number. How do i extend it to a 10 digit number?

[2018-12-06 15:43] leompeters commented on #3171
+1

[2018-12-06 16:03] charles-f opened #5616 "Set environment variable when response body is integer"
Using postman for API tests.

how do I set an environment variable when the request's response body is simply an integer '100'.

I've tried playing with the postman snippet from the test section to get it and I cannot get it to retreive the value from the response.

On other requests where the json data contains key IDs I have been able to do this, but not here.

Thanks in advance :)

[2018-12-06 16:08] charles-f commented on #5616
got it - ta

var data = JSON.parse(responseBody);
pm.environment.set("variable name", data);

[2018-12-06 16:08] #5616 closed, assigned to nobody

[2018-12-06 16:09] phcoliveira commented on #5784
Also, I believe the documentation's responsibility is to describe how the API **can be** used, not how it **was** used. Therefore, please also remove the `value` from the params table. It seems to always be useless since it points to environment variables which should not be interpolated on a released publication.

[2018-12-06 17:42] abhijitkane opened #5617 "Pro subscribers are being asked to upgrade to view a longer trash history"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm on a Pro team, and going to https://go.postman.co/me/trash shows a message saying:
"Find and restore your deleted resources from the Trash. Resources will be removed from the trash automatically after 30 days. Want a longer

[2018-12-06 17:45] abhijitkane opened #5618 "Pro users cannot view anything /me/trash page"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm on a Pro team, and going to https://go.postman.co/me/trash shows a "Something went wrong" message. The WS console shows a 500 response for the `/collection-trash?uid=true` call after 50 sec.

[2018-12-06 17:52] J5Dev commented on #1947
This so needs to be added... over 800 api requests in a collection, and due to changes in our app, I now need to be explicit about the content type header being sent.

I now have to manually update each one, adding the headers... even though every single one is teh exact same!

_*Disclaimer, I know there are semi-programatic ways... I can export, find/replace, but it isn't the point._

This featur

[2018-12-06 18:10] sivcan commented on #5615
Hi @GitHubHelps, the issue is that we do not store file path's in the app due to security reasons.
So, in the runner the file paths don't work for now.
But we'll be building upon a better way to solve this problem.

Here's more info explaining the issue of storing file paths in the app: https://github.com/postmanlabs/postman-app-support/issues/4824#issuecomment-409548624

You can follow the thread

[2018-12-06 18:10] #5615 closed, assigned to nobody

[2018-12-06 18:42] gekonwi commented on #3517
It would already make a big difference for us if you could just show the regular variable mouse-over / tooltip window (with the initial / current value + scope) for variables in the Raw Body Editor - the same window you show when hovering the mouse over variables in other text fields.

[2018-12-06 19:45] abhijitkane commented on #5617
If I'm being asked to upgrade to Enterprise, the message should indicate that, not just 'Upgrade'

[2018-12-06 22:59] andi-livn commented on #1947
Ouch @J5Dev! I agree this is a much needed feature. You might be better off exporting your collection to JSON, modifying or patching in those content type headers and importing it back into postman. Beats clicking about in the GUI for a fortnight.

[2018-12-06 23:23] muratatak77 opened #5619 "Error in Internet view"
Page doesnt open and get this errror :

![screen shot 2018-12-06 at 3 21 50 pm](https://user-images.githubusercontent.com/4965162/49617769-beef3f00-f96a-11e8-8da7-9c4f02bb6905.png)

[2018-12-07 00:15] jzabroski commented on #5617
"You want to pick through your garbage?!  You need to pay to do that." -- only in a SaaS context could this ever be possible way of making money

[2018-12-07 02:10] thoslin commented on #4401
Still seeing this issue in 6.5.2 and 6.5.3. I used a new computer running Linux version postman, and tried to sync from my collections from Mac OS version postman. It just keeps spinning. And the manual sync button is not clickable.

[2018-12-07 03:22] #5262 closed, assigned to SamvelRaja

[2018-12-07 03:30] numaanashraf commented on #5254
@paulsuen Closing this as this seems to be an isolated issue. Please re-open if you are still facing this issue.

[2018-12-07 03:30] #5254 closed, assigned to nobody

[2018-12-07 03:39] numaanashraf commented on #5233
Verified that the fix is available on stable (v6.5.3)

[2018-12-07 03:39] #5233 closed, assigned to kamalaknn

[2018-12-07 03:48] numaanashraf commented on #5170
@rasecaccedo We are having trouble replicating this at our end. Could you share a sample collection?

[2018-12-07 04:08] numaanashraf commented on #5095
@runner95 We are having trouble replicating this issue at our end and this seems to be an isolated issue. Please re-open if you are still facing this issue.

[2018-12-07 04:08] #5095 closed, assigned to kamalaknn

[2018-12-07 04:38] #196 closed

[2018-12-07 04:39] #4959 closed, assigned to preethammavin

[2018-12-07 04:40] a85 commented on #5607
The manual action is an intended behavior.

[2018-12-07 04:40] #5607 closed, assigned to nobody

[2018-12-07 04:40] numaanashraf commented on #4957
@cyq7on This seems to be due to an intermittent issue with our authentication services. Let us know if you are still facing this issue.

[2018-12-07 04:40] #4957 closed, assigned to numaanashraf

[2018-12-07 04:41] a85 commented on #5588
Postman will be eliminating the notion of an owner. These and other issues will be handled by a role based access control system.

[2018-12-07 04:41] #5588 closed, assigned to nobody

[2018-12-07 04:43] numaanashraf commented on #4944
@wernerm This is resolved in the latest version of Postman. If you are on Linux, we recommend using our Snap package - https://snapcraft.io/postman

[2018-12-07 04:43] #4944 closed, assigned to numaanashraf

[2018-12-07 04:44] a85 commented on #5491
Workspaces have data objects that are not exportable. We recommend using invitation flows to collaborate on workspaces.

[2018-12-07 04:44] #5491 closed, assigned to nobody

[2018-12-07 04:47] a85 commented on #5328
Closing this as there are other issues in the tracker where we talk about reusability and composition. Postman will support some inheritance constructs for specific objects but we typically lean towards composability as debugging inherited models becomes progressively harder.

[2018-12-07 04:47] #5328 closed, assigned to vkaegis

[2018-12-07 04:49] a85 commented on #5160
We are improving the experience on collaboration continuously. However, there are no immediate plans to send backups for archiving over email.

[2018-12-07 04:49] #5160 closed, assigned to nobody

[2018-12-07 04:49] a85 commented on #5158
We recommend using the "Find & Replace" tool to do this. We have talked about inheritance/composition at other places.

[2018-12-07 04:49] #5158 closed, assigned to nobody

[2018-12-07 04:51] a85 commented on #5037
Will be handled through Role Based Access Control system.

[2018-12-07 04:51] #5037 closed, assigned to sankalp0o

[2018-12-07 04:52] a85 commented on #5020
Sorry but there are no plans for a private cloud/on-prem version yet.

[2018-12-07 04:52] #5020 closed, assigned to numaanashraf

[2018-12-07 04:52] #4960 closed, assigned to numaanashraf

[2018-12-07 04:54] a85 commented on #4744
Using the 2-pane layout should help keep only one scrollbar in the interface. Closing this for now.

[2018-12-07 04:54] #4744 closed, assigned to vkaegis

[2018-12-07 04:55] a85 commented on #4660
There are no plans for this feature now or in the near future.

[2018-12-07 04:55] #4660 closed, assigned to a85, vkaegis, preethammavin

[2018-12-07 04:57] a85 commented on #4347
There are no plans for super global variables right now. Every variable scope introduces an additional level of coupling. We discourage global coupling as it's not a good practice.

[2018-12-07 04:57] #4347 closed, assigned to a85, vkaegis

[2018-12-07 04:59] a85 commented on #2640
Improvements to code generation through plugins will handle this workflow. Closing this for now.

[2018-12-07 04:59] #2640 closed, assigned to numaanashraf

[2018-12-07 05:00] a85 commented on #4874
Closing this as Stride is shutting down.

[2018-12-07 05:00] #4874 closed, assigned to ankitjaggi

[2018-12-07 05:05] #3256 closed, assigned to a85, vkaegis

[2018-12-07 05:06] a85 commented on #5457
We discussed this internally and there are no current plans to change this behavior.

[2018-12-07 05:07] #5457 closed, assigned to nobody

[2018-12-07 05:07] #2917 closed, assigned to a85, vkaegis

[2018-12-07 05:08] a85 commented on #4157
@shamasis We need to solve this generally in the runtime. Both with respect to re-usability within a collection and across collections.

[2018-12-07 05:09] a85 commented on #2719
This should be available now.

[2018-12-07 05:09] #2719 closed, assigned to godfrzero, sankalp0o

[2018-12-07 05:11] a85 commented on #383
There are currently no plans for this feature now or in the near future.

[2018-12-07 05:11] #383 closed

[2018-12-07 05:12] a85 commented on #3555
I believe this is available now @preethammavin?

[2018-12-07 05:13] a85 commented on #1647
There are no plans for history exporting right now or in the near future. We recommend importing/exporting more specifically through collections.

[2018-12-07 05:13] #1647 closed, assigned to a85

[2018-12-07 05:14] a85 commented on #2978
@preethammavin This has shipped as well right?

[2018-12-07 05:14] a85 commented on #3386
Closing as duplicate of #2195. This is shipping in the next version.

[2018-12-07 05:15] #3386 closed, assigned to sujayvenaik

[2018-12-07 05:15] a85 commented on #3874
Closing as duplicate of #1667

No ETA yet but we'll have an announcement soon on the roadmap for this.

[2018-12-07 05:15] #3874 closed, assigned to a85, vkaegis

[2018-12-07 05:18] #5432 closed, assigned to nobody

[2018-12-07 05:18] numaanashraf commented on #4720
We have made some improvements to our sync service that should help with the intermittent connection issues. Please re-open this issue with the error logs if you are still facing this.

[2018-12-07 05:18] #4720 closed, assigned to kamalaknn

[2018-12-07 05:21] a85 commented on #4321
We have made several improvements to Sync since this issue was reported. Closing this for now.

[2018-12-07 05:21] preethammavin commented on #5427
@JP-from-Postman Should be fixed now.

[2018-12-07 05:21] #5427 closed, assigned to godfrzero

[2018-12-07 05:21] #4321 closed, assigned to SamvelRaja

[2018-12-07 05:26] numaanashraf commented on #4502
@zbstof Body will no longer be exported if you select 'none' under Body tab.

[2018-12-07 05:26] #4502 closed, assigned to numaanashraf

[2018-12-07 05:29] numaanashraf commented on #4438
@EgorZotov We are not able to replicate this at our end. Please re-open if you are still facing this issue.

[2018-12-07 05:29] #4438 closed, assigned to sujayvenaik

[2018-12-07 05:32] numaanashraf commented on #4399
@SchizoAA We have made various improvements to our response rendering flow that should prevent issues like this. Please update to the latest version and re-open if you are still facing this issue.

[2018-12-07 05:32] #4399 closed, assigned to sujayvenaik

[2018-12-07 05:38] numaanashraf commented on #4269
@zhanpengli Closing due to insufficient information. Please provide logs from Postman Console (View -> Postman Console) if you are still facing this issue.

[2018-12-07 05:38] #4269 closed, assigned to numaanashraf

[2018-12-07 05:38] preethammavin commented on #5360
Closing it in reference to #5360

[2018-12-07 05:38] #5360 closed, assigned to nobody

[2018-12-07 05:40] numaanashraf commented on #4219
This is resolved in the latest version of Postman (v6.5.3)

[2018-12-07 05:40] #4219 closed, assigned to numaanashraf

[2018-12-07 05:42] numaanashraf commented on #3963
Closing due to inactivity

[2018-12-07 05:42] #3963 closed, assigned to numaanashraf

[2018-12-07 05:54] kamalaknn commented on #2950
This fix has been rolled out to the stable channel. Please update and let us know if you continue to face this.

[2018-12-07 05:54] #2950 closed, assigned to kamalaknn

[2018-12-07 06:28] deepakpathania-zz commented on #5581
@loopDelicious The example response dropdown is tied to the example request dropdown, so in your case, you're looking at the `Error: invalid params` example request, clicking on that shows the various request-response pairs, which has the success responses as well.

Please let me know if I misunderstood something and I'd be happy to correct myself.

[2018-12-07 06:36] a85 commented on #3165
We will open an app level API for these workflows but there are no plans currently for command line arguments.

[2018-12-07 06:36] #3165 closed, assigned to a85

[2018-12-07 06:37] a85 opened #5620 "WADL Support"
Consolidating all WADL issues in one place:

https://github.com/postmanlabs/postman-app-support/issues/1136
https://github.com/postmanlabs/postman-app-support/issues/1135
https://github.com/postmanlabs/postman-app-support/issues/1134

[2018-12-07 06:38] #1136 closed, assigned to shamasis

[2018-12-07 06:38] #1135 closed, assigned to shamasis

[2018-12-07 06:38] #1134 closed, assigned to shamasis

[2018-12-07 06:41] a85 commented on #704
We will be handling this through composition/schema support in Postman. There are no plans to support inheritance/templating models for reusability at a global level. They will exist at a collection level though.

[2018-12-07 06:41] #704 closed

[2018-12-07 06:43] #850 closed

[2018-12-07 06:46] preethammavin commented on #2978
Yes the feature has been released

[2018-12-07 06:46] #2978 closed, assigned to a85, shashankawasthi88

[2018-12-07 06:46] preethammavin commented on #3555
This has been added as part of Integrations.

[2018-12-07 06:46] #3555 closed, assigned to ratpik, vkaegis, ankitjaggi

[2018-12-07 06:46] a85 commented on #5318
Thanks for reporting. We are looking into this.

[2018-12-07 06:49] a85 commented on #5126
Not on the roadmap but we are considering making the code generator as a pane that is always visible.

[2018-12-07 06:50] #5061 closed, assigned to prashantagarwal, vkaegis

[2018-12-07 06:50] a85 commented on #5054
We will solve this using versioning for Postman collections.

[2018-12-07 06:53] a85 commented on #4816
We are moving this functionality out into plug-ins and we will track importer related issues separately. Closing this issue for now.

[2018-12-07 06:53] #4816 closed, assigned to numaanashraf

[2018-12-07 07:47] numaanashraf commented on #3441
Closing this due to inactivity

[2018-12-07 07:47] #3441 closed, assigned to numaanashraf

[2018-12-07 08:00] #2722 closed, assigned to numaanashraf

[2018-12-07 08:34] preethammavin commented on #4593
Closing due to inactivity

[2018-12-07 08:34] #4593 closed, assigned to godfrzero

[2018-12-07 08:37] preethammavin commented on #4798
@godfrzero can we update the monitor summary mails to link to the monitor usage page?

[2018-12-07 08:38] numaanashraf commented on #4736
We have started showing a banner warning for delinquent teams

[2018-12-07 08:38] #4736 closed, assigned to vkaegis

[2018-12-07 08:41] numaanashraf commented on #5341
This has been fixed in Postman v6.5

[2018-12-07 08:41] #5341 closed, assigned to nobody

[2018-12-07 08:41] preethammavin commented on #5214
Not reproducible

[2018-12-07 08:41] #5214 closed, assigned to ankit-m

[2018-12-07 08:44] numaanashraf commented on #5399
This has been addressed in Postman v6.5

[2018-12-07 08:44] #5399 closed, assigned to nobody

[2018-12-07 08:57] mm-matthias commented on #3390
Are OpenAPI files with $refs to other files supported yet? I've got something looking like:

api.yaml:
[code]

And the models.yml contains the corresponding schema.

When I add api.yaml in Postman's "Import files" section, the importer will complains

`Error while importing Open API 3.0: ref models.yml#/components/schemas/some-model not found.`

When I try to use the "import folder" option (all my

[2018-12-07 09:18] alkemann commented on #3555
🍾

[2018-12-07 09:20] J5Dev commented on #1947
Exactly what I did... But, as said it isn't the point. It would have still been faster in the gui to just quickly add 2 headers to the collection which applied to all calls within it.

[2018-12-07 10:07] rasecaccedo commented on #5170
@numaanashraf i did test it with version 6.4.4 and it seems to be working.
I will review just in case i didnt test it well and get back if i found something.

Thanks for the support!

[2018-12-07 10:38] mm-matthias commented on #3390
Do you have any plans to add generation/editing of request bodies with OpenAPI 3.0? Having only the urls and query params doesn't really address our needs as all the meat is in the request body.

[2018-12-07 12:07] thomasazdon commented on #3773
My pains are similar to the above - but moreso from a consolidated set of solutions.  We use AHA for our roadmap - which gives us a good tickets site.  We use Confluence for our documentation that is more - how to etc. Prometheus for system statuses, and postman for API documentation in 3 flavors (user stories, end point by end point models, and how to's.  A client of ours now has 4 login id's and

[2018-12-07 12:12] Sainath77601 opened #5621 "Able to see file not chosen, but after sending request, Image is uploading."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
able to upload image with invalid message saying "No file chosen".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Collection.
2. Create a request.
3. Pass parameter value with file.
4. Click on choose files.
5.

[2018-12-07 12:25] PetrusKiendys opened #5622 "[BUG] HTTP tab of "Generate Code Snippets" view is inaccurate"
**Describe the bug**
The HTTP tab of the "Generate Code Snippets" view does not encode and delimit the request body correctly, delimiters are completely omitted.

By comparison if I have a request (cURL tab):
[code]
We can see that the POST request body is correctly delimiting keys and values.

However for the (HTTP tab):
[code]
The subsequent keys are concatenated with the previous value, there's

[2018-12-07 12:29] arthurlauck commented on #3358
Must implement

[2018-12-07 12:58] harryi3t commented on #1614
Hey @jasollien,

If you are trying to implement Oauth2 server side, I would highly recommend reading this RFC https://tools.ietf.org/html/rfc6749

Basically there are 4 types of Oauth2 grant types. Based on the input that you have provided, looks like your are using the `Authorization Code` grant type.
In this, there are 2 calls to be made by the client. First one involves getting the `authorizati

[2018-12-07 12:58] #1614 closed, assigned to harryi3t

[2018-12-07 13:33] cyq7on commented on #4957
Yeah,It's OK now,thanks!

[2018-12-07 13:59] a85 commented on #1444
Closing as duplicate of #843

[2018-12-07 13:59] #1444 closed, assigned to a85

[2018-12-07 14:48] msignataur commented on #4172
+1

[2018-12-07 15:02] benhamill commented on #5166
@deepakpathania This is very exciting! Thank you! We'll have a look and play with it and bring up any problems we notice. 💖

[2018-12-07 15:15] konradjurk opened #5623 "Postmans "An update is ready to install" dialog consumes 100% CPU while logged into different MacOS User Account"
**Describe the bug**
Postman 6.3.0 is running in MacOS. When you switch to a different system-user account and the Postman instance finds an update, it consumes 100% CPU forever until you switch back and close it. I read the patch notes for the succeeding versions but couldn't find a note that this was fixed.

**Screenshots**
<img width="629" alt="bildschirmfoto 2018-12-07 um 15 59 10" src="https:

[2018-12-07 15:25] m3dbedb opened #5624 "Mark unsaved to file collection with italics font"
**Is your feature request related to a problem? Please describe.**
Sometimes I need to open two postman instances and it's hard to understand when there are unsaved collections

**Describe the solution you'd like**
It is common practice to mark unsaved documents

**Describe alternatives you've considered**
Mark unsaved colection with arterisk

**Additional context**
If you suppose that some people

[2018-12-07 16:18] philsturgeon commented on #3390
Entirely agree that request bodies and example requests / responses should be built up using the OpenAPI Schema provided for that request/response.

[2018-12-07 16:55] ntodorov commented on #4262
I have v6.6.0 for windows and the slow startup showed up today - not as bad as in older versions that I've tried (at the time took more than a minute to start up) but still waiting 20-30s is very annoying compared with the instant opening of the Postman chrome extension.
Adding POSTMAN_DISABLE_GPU true as System Environment variable actually helped, but I waned to tell you that it is still not fix

[2018-12-07 18:18] rjouhann commented on #2691
Same + 1

[2018-12-07 18:57] ghost commented on #3822
+20

[2018-12-07 19:53] JP-from-Postman opened #5625 "Monitor alert emails contain text "FAILURES in run at Invalid date UTC""
[Submitted by Postman Support, on behalf of user]

**User report:**

[2018-12-07 20:06] brpeterman commented on #4744
That's not a solution. The two-pane layout (1) is not the default view, so the default UX is still broken and (2) makes very poor use of screen space.

Below is a pair of screenshots showing the same request in the default view and and the two-pane view. The two-pane view is borderline unusable in this situation.

* Default view: https://i.imgur.com/b6AEJfe.png
* Two-pane view: https://i.imgur.com

[2018-12-07 20:47] loopDelicious commented on #5581
@deepakpathania I didn't realize there was also an examples dropdown in the documentation.

My 2 cents is to display a successful response in the documentation by default (for the Postman API), since the primary purpose of the documentation is to show someone how to use the API.

And for UX suggestion, perhaps consider displaying a successful response as a default for all documentation. Also gener

[2018-12-07 21:55] bickelk commented on #3574
I'm seeing this same problem in v6.5.3.

[2018-12-07 22:04] bickelk commented on #2228
Still seeing this problem on v6.5.3.

[2018-12-07 22:17] cythrawll commented on #1667
+1 this makes everything so much easier if we had interceptor back.

[2018-12-07 22:45] adispennette opened #5626 "Global proxy refuses connection"
Attempting to send Postman requests through ZAP proxy fails for connection refused.

**To Reproduce**
Steps to reproduce the behavior:
1. Open OSWAP ZAP application
2. Open settings dialog
3. Go to Local Proxies
4. Set address to localhost and port to 9972 (this is what I was using)
5. Open Postman
6. Set global proxy to to the same settings above
7. Attempt to execute an request to http://localho

[2018-12-07 23:00] adispennette commented on #4996
Hi @sivcan thanks for the response.  That collection is a bit overkill I think. All I needed was the condition on the iteration and count.
So Request 1 checks pm.info.iteration === pm.info.iterationCount-1 and until that is true only the first request is executed.
When it does finally evaluate to true I let it move on to the next request in the collection and from there just let the normal flow ha

[2018-12-08 02:53] Felixclement commented on #3822
+1

[2018-12-08 10:04] puneethnviraat commented on #2352
For windows: Right click on the .exe file select troubleshoot compatability option then follow the istrucions.
i did the same now running fine postman.exe

[2018-12-08 11:59] abhijitkane opened #5627 "The 'Usage' column sorting on the Monitoring usage page sorts alphabetically, not numerically"
On https://go.postman.co/usage/monitors, clicking on the 'Usage' column header sorts by the alphabetical value of usage, not the numeric value. See screenshot.

<img width="502" alt="screen shot 2018-12-08 at 17 28 15" src="https://user-images.githubusercontent.com/681190/49685732-d2d3a600-fb0e-11e8-8c2e-34c7993ebc90.png">

[2018-12-08 12:20] abhijitkane commented on #3390
@mm-matthias Could you share a sample spec? Right now, the importer generates a sample request body/example response body based on the schema (for form-data, urlencoded, and raw-JSON formats only). Are you using an XML schema?

[2018-12-09 08:57] aviranhanan commented on #1499
This feature will change my life!!

[2018-12-09 16:19] a85 commented on #2195
Rolling out now with version 6.6!

[2018-12-09 16:19] #2195 closed, assigned to a85

[2018-12-09 19:39] umpc commented on #4677
SSLv3 has been known to be vulnerable for over 4 years. This is surprising in late 2018.

[2018-12-10 04:38] venkatcc commented on #2985
The issue is still seen in v6.5.3.

Tested on Windows 10.

[2018-12-10 05:04] jinliming2 opened #5628 "Feature Request - TLS1.3 Support"
Is there a plan to support TLS 1.3?

TLS 1.3 Test: https://tls13.crypto.mozilla.org/

[2018-12-10 07:43] Montago commented on #4744
How hard can it be to just let the result expand into infinity ???

it's only a matter of settings !!

[2018-12-10 09:00] numaanashraf commented on #5170
@rasecaccedo Thanks for letting us know. Feel free to re-open this issue if you are still facing it.

[2018-12-10 09:00] #5170 closed, assigned to nobody

[2018-12-10 09:26] alikrc opened #5629 "postman doesn't open in maximized window at start"
Its a basic bug. Postman doesn't open in maximized window at start in windows 10. There is an empty space gap at outer bounds. It becomes annoyig after some time. Please fix it.

![image](https://user-images.githubusercontent.com/2185905/49722822-9ae77280-fc76-11e8-9f68-0d371d04bfa2.png)
![image](https://user-images.githubusercontent.com/2185905/49722836-a33fad80-fc76-11e8-931b-0feb53d39b78.png)

[2018-12-10 10:10] akshayvaliya-rakkanchath commented on #1667
+1

[2018-12-10 10:29] koenvb commented on #2934
Checked this and could not get this to work using the client credential options.

![image](https://user-images.githubusercontent.com/76891/49726682-d8e09880-fc6e-11e8-895a-51095124876c.png)

Is there a workaround to support auth0 authentication?

[2018-12-10 12:57] deepakpathania-zz commented on #5581
Valid points. Unfortunately, you can't order examples right now(afaik) and since the documentation is generated using those examples, we can't put something as a default. Is that the case or am I missing something? @vkaegis

A possible solution to the current situation is to delete the examples and recreate them in an order which satisfies the successful response being shown as the default point.

[2018-12-10 14:18] ghost commented on #5199
Hi,
Any update on this?

[2018-12-10 15:02] wspencer commented on #5611
+1.  I get this message on and off throughout the day.  It disappears after a few seconds.  No disruption in functionality is apparent.  However, it's very distracting / annoying because the UI "twitches" every time this message appears or disappears.  I've noticed it only in the last couple of months.  I don't think this was happening six months ago.

I'm on Windows 10, but I don't know what vers

[2018-12-10 15:07] wspencer commented on #5586
+1. This is happening to me too.  Very annoying!

[2018-12-10 17:22] ramanbuttar commented on #2934
The workaround we use is to have the first test in our collection make a POST request to Auth0 and save the returned authenticated token as a global variable to be used by the rest of the tests in the same collection.

[2018-12-10 17:55] qmcree commented on #5611
Yes, I experience the exact same problem, and it is quite distracting. It started within the past few months. I am running the latest version of Postman for Mac.

This issue was created on my behalf by Postman Support.

[2018-12-10 18:08] mikecousins commented on #3117
Any idea if this will be improved shortly? Our company is about to make our purchasing decision and this will weigh heavily on it. Thanks.

[2018-12-10 19:46] theomarshanti commented on #4009
+1

[2018-12-10 20:12] fg78nc commented on #1906
I am surprised why official Postman documentation claims to support RAML 1.0, while it does not.
+1

[2018-12-10 20:29] corygross commented on #4631
+1

[2018-12-10 21:27] germyjen commented on #3312
I need to be able to clear an auth cookie between tests, is there a way to do that without manual intervention? The cookies seem to persist even between folders and I'm at a loss.

[2018-12-10 23:13] tparikka commented on #2762
This may be useful to someone. I'm connecting to a WCF SOAP service and was running into this error when trying to cut out the headers:

[code]

In my case, I got around the issue by setting the following in the soap:Header section of my request body:

[code]

My prerequest contains:

[code]

[2018-12-10 23:34] cmac3333 commented on #4751
Is there any update on the progress of this issue with large responses even without parsing the results?  This is limiting our use.  Thanks.

[2018-12-11 02:27] omnipresent07 commented on #4320
Is there a reason this was closed? this is still happening. Storing relative path to the file is critical for collections. When I run my collection (that has an endpoint that requests a file), the collection fails from postman

[2018-12-11 04:05] andreyvolodko1996 commented on #3312
Yes, with the help of Newman, but it is not so good way if we are talking
about cookie.
Tell me please the whole way you get your cookie? Where do you take it?

On Tue, Dec 11, 2018, 00:27 germyjen <notifications@github.com wrote:

[2018-12-11 04:55] kishoretangudu commented on #2538
+ is transforming as space " " in the request URL. is it solved? I am using postman 5.5.4 version. Please tell me. Anticipating quick reply.

[2018-12-11 05:15] guiyanakuang commented on #1667
+1

[2018-12-11 05:23] kishoretangudu commented on #4555
is the + symbol issue got resolved? can anybody respond me pls. I am using postman 5.5.4. I still see the same issue.

[2018-12-11 06:03] torbjornlarssen commented on #2847
+1

[2018-12-11 06:26] deepakpathania-zz commented on #5314
Closing this due to inactivity. Feel free to reopen if the issue still persists.

[2018-12-11 06:26] #5314 closed, assigned to nobody

[2018-12-11 06:28] deepakpathania-zz commented on #4982
Couldn't reproduce. Closing this for now, please let us know if the issue still persists and we'd be happy to dig deeper.

[2018-12-11 06:28] #4982 closed, assigned to ankitjaggi

[2018-12-11 07:07] numaanashraf commented on #4836
Fixed in Postman v6.6

[2018-12-11 07:07] #4836 closed, assigned to sivcan

[2018-12-11 07:11] RT-TL opened #5630 "Slack integration not receiving messages"
**Describe the bug**
I installed the slack integration for my monitor. The authorization works fine and Slack is showing Postman with the proper rights. However, no results (neither success nor failure) get actually send to Slack.

**To Reproduce**
I deleted the slack integration and set it up again: Same result.

**Expected behavior**
Monitor results being displayed in slack.

**Screenshots**
![i

[2018-12-11 08:16] mennopot commented on #5607
Hi Abhinac Asthana.
I do understand that the manual action is intended.
My big question is, how can I make sure we all run the same tests with the same values.
Please let me know how this is possible.
I just can't understand that I'm the only one having this desire and therefore facing this issue.

I really love Postman, but I have to say that this strange behavior of the app as well as the way ti

[2018-12-11 08:23] mennopot commented on #5607
Hi,

As I just can't understand why it's programmed like this, could you please help me by explaining this.
There is a toggle to automatically persist your value after performing a test.
This persisted value is synced, but not used unless you manually reset it.
So what's the use of an automated step to store values, which you can't automatically use. We're talking about a tool for test automation

[2018-12-11 08:42] mennopot commented on #982
I really would like this feature as well.
I have a lot of variables already, and it's always a search for the correct one.
Could you please implement this?

[2018-12-11 08:47] ghost opened #5631 "Variable evaluation in Example Response/Mock Body"
<img width="838" alt="screen shot 2018-12-11 at 9 38 02 am" src="https://user-images.githubusercontent.com/5994259/49788494-c6776500-fd29-11e8-8712-e4c192f98969.png">
This may potentially be beyond the scope of mocks, but although reading from environmental/global variables seems to function in headers and endpoints, they aren't evaluating in the bodies of example responses (like they would in req

[2018-12-11 09:11] sujayvenaik opened #5632 "App crashes on toggling to browse view for a workspace"
**Describe the bug**
App crashed on moving to the browse view

**To Reproduce**
Steps to reproduce the behavior:
1. Toggle to browse view

**Expected behavior**
Expect postman to work normally

**Screenshots**
<img width="3007" alt="image001" src="https://user-images.githubusercontent.com/11532114/49789713-ab6d1b00-fd52-11e8-9ba6-7e84c62f2d80.png">

**App information (please complete the following

[2018-12-11 09:43] BrambleRamble commented on #4320
@sivcan In your comment on #5615 you mentioned 'building upon a better way to solve this problem'. Do you know what options are being considered for this please? My team is having to work around this issue on a near-daily basis so we're very interested in its progress. Thanks!

[2018-12-11 09:56] PFaz540 commented on #5515
![image](https://user-images.githubusercontent.com/44571878/49792463-b449f680-fd2a-11e8-87c9-ddfb79ff5609.png)

@sujayvenaik I've confirmed this has been fixed on Windows on version v6.6.0
But the issue I mentioned above is still present. Shall I create a new ticket for the above issue?

[2018-12-11 10:54] soodri opened #5633 "Postman 6.1.4 screen not getting loaded"
Everytime i try opening postman , it gets sturck and doesn't open up. Either it takes hours to open up .
I tried uninstalling and installing the postman , but still not resolved .

Mouse cursor keeps blinking and black screen of postman is shown.

[2018-12-11 10:54] hebrayah commented on #4594
I have brand new Postman and new laptop with clean operating system. The same issues/screens apply to my situation.

[2018-12-11 11:58] Kiemes commented on #5577
I would also love this feature. Besides Vault, LastPass would be great.

[2018-12-11 12:00] numaanashraf commented on #5633
Duplicate of #4594. Please try the workaround detailed at https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621.

[2018-12-11 12:00] #5633 closed, assigned to nobody

[2018-12-11 12:21] h418982 commented on #1667
+1 for interceptor on native applications

[2018-12-11 12:22] Maor-Katz commented on #4824
WHY IS IT CLOSED???

[2018-12-11 12:37] DedMorozzz commented on #2096
+1 for customize hotkeys, or just remove hotkey from "quit"...

[2018-12-11 12:52] abhijitkane opened #5634 "Users in expired trial teams cannot use monitors"
On `https://web.postman.co/workspaces/<private-workspace-ID>/monitors`, I'm seeing a 'Something went wrong' error. On checking the WebSocket logs, the call to `GET "/api/metrics?populate=jobTemplate&populate=jobTemplate.createdBy&populate=jobTemplate.collection&populate=jobTemplate.environment&populate=lastFailedJob&aggregate=avg` is failing, giving the following response:

[code]

I'm part of a t

[2018-12-11 14:20] mkamoski opened #5635 "Minor. Default Start In folder and Icon folder to be paths that are NOT version-specific."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Default the Start In folder and the Icon folder to be paths that are NOT version-specifi

[2018-12-11 14:31] clemz25 opened #5636 "Unable to delete folder created from duplicate"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When trying to delete a folder that was created from duplicating a folder containing requests, it fails to delete. The duplicate folder contains requests to the same URI, but with different HTTP methods.

**To Reproduce**
Steps

[2018-12-11 15:51] KatrinaC commented on #3115
@numaanashraf do you have an ETA for this fix?

[2018-12-11 15:57] KatrinaC commented on #2734
I'm also having issues with this. Any timeline for a fix?

[2018-12-11 16:11] fernandops26 commented on #2378
Good response, just a consideration, ctrl + b worked after saving the changes of my request.

[2018-12-11 16:57] TheFRedFox commented on #2302
+1

[2018-12-11 17:52] surewould commented on #2985
I'm seeing this in an up to date Manjaro install. 6.6.0-1 from aur/postman-bin. Previous versions had it as well.

[2018-12-11 18:00] a85 commented on #5607
@mennopot There are several issues related to collaboration, security etc. I had written about it in an RFC a while back that you can find here: https://community.getpostman.com/t/sessions-in-postman/1925

Running the same tests with the same values is possible already but we enforce a manual step so there is no magic behavior in somebody else's session in a collaborative workflow. Sessions will u

[2018-12-11 19:34] jamarciano commented on #1647
Thank you for noting the issue with the dates @smendez-hi, because I do care a bit about such things. By debugging the script @stephenmcd1 so wonderfully provided (thank you so much for that!), I was able see that the old history used a "timestamp" field in milliseconds while the current history uses a "createdAt" Date. This very slightly updated version of stephen's import script will handle that

[2018-12-11 20:52] yagotome opened #5637 "Expand-collapse long string"
I have been using Postman to request some APIs that returns JSON containing some string fields too long and then I have missed a feature to collapse/expand string.

Something similar is requested in #895 . I suppose they are different features but have some common things.

[2018-12-11 20:53] MisterSquishy commented on #1667
+1

[2018-12-11 21:31] Alexsey commented on #4131
@shamasis how does the [async_hooks](https://nodejs.org/docs/latest-v9.x/api/async_hooks.html) connected to Promise? And async/await is a feature that has been introduced in Node 7.6, in the time when `async_hook` was a separate library

[2018-12-11 22:14] jsayubi commented on #1667
+1 need interceptor for native windows version

[2018-12-12 00:25] gctmadhumitha commented on #4751
Same here... I can no longer use it... it  just froze.. Any updates?

[2018-12-12 01:34] ankit-m commented on #5619
We have fixed this issue and are testing it on our beta platform. Will update this thread once the fix is deployed.

[2018-12-12 01:36] ankit-m commented on #5508
@chrisdeso any errors in the console?

[2018-12-12 01:42] ankit-m commented on #4807
The copy has been changed to warn the user about environments being removed.

[2018-12-12 01:45] #2518 closed, assigned to ankit-m

[2018-12-12 02:09] SamD commented on #4842
I just started with the scripting capabilities and I was stumped by this, I spent half a day trying different approaches only to discover that the cookies are oddly available in the **tests** but not the **pre-request**. I'm not certain the reasoning behind this, I had thought at first it might have something to do with pm.sendRequest but the exact same script I would run in pre that didn't work w

[2018-12-12 02:13] rocifier commented on #4842
Agreed. I decided not to use postman for my solution in the end, and coded a small node.js script to do my automation instead. That way I had full control over the requests and passing the cookies around, including passing them through a 302 redirect like web browsers do (and postman does not).

[2018-12-12 03:23] konradjurk commented on #5623
As suspected it still occurs with version 6.6.0

[2018-12-12 04:44] danfowler commented on #3390
https://swagger.io/docs/specification/authentication/

I've defined and applied a security scheme at the root level only, so I would expect each endpoint of the imported collection have an Authorization of type "Inherit auth from parent".  Instead, after importing a new collection from my OpenAPI file, each endpoint's Authorization is set to Basic Auth.  This is inconvenient, because I then have t

[2018-12-12 05:22] paulosotu commented on #4128
Having exactly the same issue as @tomershay any updates on this one @harryi3t ?

[2018-12-12 07:44] vkaegis commented on #5581
I'm presuming what qualifies as a success is also a bit subjective since we don't have a parameter tracking that. We could parse the response code to get that, but still a bit iffy. But thanks for the feedback @loopDelicious! Adding the number of responses makes sense.. will look into that.

[2018-12-12 07:52] vkaegis commented on #3117
No ETA on this yet. This is a huge priority for us as well, but we have some prerequisites to be taken care of.

[2018-12-12 07:56] vkaegis commented on #2378
@Alonski We've added Beautify as an explicit action in places like the request body (if you choose JSON) but have a better solution for exposing this as a consistent set of actions on the code editor / viewer. That is gonna take a bit longer. Thanks for the reminder though. 👍

[2018-12-12 10:27] umityavuz53 commented on #1667
+1 for interceptor on native applications

[2018-12-12 13:53] abhijitkane commented on #3390
@mm-matthias @philsturgeon We've open-sourced the converter at https://github.com/postmanlabs/openapi-to-postman. The current Postman Canary uses 0.0.7.

We've added basic support for generating XML request/response bodies too - this should show up in the next Canary release.

@danfowler Agreed - will work on this.

[2018-12-12 17:06] anna-seredinskaya commented on #3690
The issue is back... Exact same reproduction steps as described by the original author of this issue.
Postman version: v6.7.0-canary01
OS version: Windows10 Home Edition version 1803, x64

[2018-12-12 18:21] madmax911 commented on #726
Cool program!  I have a soft of similar issue though.  I'm running the linux client and looking to intentionally put a CRLF into a raw post body but just because of OS differences I have no way to type/paste in exact text into the window.  It seems to auto-change intentional CRLF's into just LF's.  I think it would be convenient if they could be escaped in some way -- eg. \r\n - like a sort of 3rd

[2018-12-12 18:23] a85 commented on #3390
Thank you for your patience everyone. Closing this issue now. If you have comments/suggestions/bug reports for the feature please file it in the repo that @abhijitkane linked to. We'll be soon rolling out the ability to update plug-ins without having to update the app and improvements to converters will ship much faster.

[2018-12-12 18:23] #3390 closed, assigned to a85, abhijitkane, vkaegis

[2018-12-12 18:58] tparikka commented on #4052
I landed here because the documentation at https://learning.getpostman.com/docs/postman/environments_and_globals/variables/#variable-scopes is still very confusing. Lack of concrete examples of what these scopes mean, particularly local, is in my opinion a major shortcoming in that section of the docs.

[2018-12-12 19:03] MiGlez90 commented on #3249
Hello there, I know this issue is closed but I have recently had the same problem.  The params for my endpoint are not displayed properly.  Please, could you help me out?
![screen shot 2018-12-12 at 1 01 53 pm](https://user-images.githubusercontent.com/15187254/49892273-33642b00-fe0e-11e8-8d19-b2a741a40f97.png)

[2018-12-12 19:15] madmax911 commented on #4808
That gave me an idea to solve my CRLF issue - thanks man!

![image](https://user-images.githubusercontent.com/11963048/49892914-2b10ed80-fe18-11e8-9a1d-8f27733982c7.png)

[2018-12-12 19:19] madmax911 commented on #726
Ok, I think I just solved my own issue -- in this post:
https://github.com/postmanlabs/postman-app-support/issues/4808#issuecomment-446708870

[2018-12-12 20:46] Nmirontsev commented on #1667
+1

[2018-12-12 21:02] Putnam14 commented on #2352
This is still an issue with Postman 6.6.1, running Windows 10 64-bit. Running in compatibility mode does not fix it. @skwirking's solution does not seem to work either.

[2018-12-12 21:53] broom9 commented on #5452
Has this been fixed? I'm using v6.6.0 and still seeing this issue.

1. Adding a collection variable named "myKey"
2. In Collection Authorization tab, choose "Basic Auth", then input `{{myKey}}` in the username field.
3. It shows "unresolved variable", although if I create a request and choose "inherit auth from parent" it works.

[2018-12-12 22:56] sivcan commented on #4052
Hi @tparikka, we're working around improving our docs and as you can see here https://github.com/postmanlabs/postman-docs/issues/1442, the issue is already open.
You follow the thread for updates regarding the variables docs.

Thanks!

[2018-12-13 01:42] rj93 opened #5638 ""Could not get any response" when invalid header"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When attempting to make a request with an invalid header, for example "Content Type ", postman displays a "Could not get any response" message. This is misleading as the request wasn't actually sent, and I had to look into the l

[2018-12-13 03:12] godfrzero commented on #3249
@MiGlez90 What parameters are you expecting to be displayed? Also, are you seeing this problem in the private or public documentation?

[2018-12-13 03:21] atljoseph commented on #3045
I have this same issue. Downloaded and installed. Tried GET to https://google.com ... 200. GET to http://localhost:5000/api/v1/values returns zilch. No response. I can go there in chrome over https or http. Why is this an issue??

[2018-12-13 05:34] ShikhaSomvanshi commented on #2701
Hi @a85,

Does this thread imply that I cannot use postman for testing my APIs which are implemented with a view to run over HTTP/2? I am not clear yet , that  if I do the implementation of my APIs for being supported on HTTP/2 will I be using any new headers that are not in Postman.

Please guide.

[2018-12-13 07:23] numaanashraf commented on #5637
Duplicate of #5600

[2018-12-13 07:23] #5637 closed, assigned to nobody

[2018-12-13 07:26] elephantchau commented on #5181
+1 IanCampbellCode
Postman v6.6.1 on windows 7 still able to reproduce the bug

[2018-12-13 08:22] rob7429 commented on #1070
+1 Please implement. I love the tight integration between development and documentation that I felt was sorely missing when using Swagger, but we need control over the ordering of examples to present documentation that makes sense in the face of ongoing changes.

[2018-12-13 08:54] sivcan opened #5639 "Collection getting imported multiple times when using RiP button [Windows]"
**Describe the bug**
On clicking the RiP in the browser on a windows machine, the app imports the collection multiple times. If the collection already exists then the modal opens up saying 'Do you want to replace this or import as a copy', even on choosing to replace it, it imports the collection multiple times.

Other OS behaviour:
-  Mac: Not reproducible
- Linux: Needs to be tested

**To Reprod

[2018-12-13 09:38] tyrann0us commented on #5294
And maybe Postman should automatically use the Dark Theme if macOS's Dark Mode is active?

[2018-12-13 12:11] haritzmedina commented on #3822
It would be so useful! +1

[2018-12-13 12:19] joelpro2 commented on #3418
I share the same inconvenience.
I have a server with many packages and in every URL i have to write {{baseURL}}/{{version}}/{{package}}/endpoint
Instead, postman could have in folders breadcrumb, along with description, auth, ... , default URL.
and it would behave like:

My collection (with {{baseURL}}/)
---->My version1 folder (with {{version1}}/)
-------->My package1 folder (with {{package1}}/)

[2018-12-13 12:43] mictoln opened #5640 "Themes settings is only stored localy and not synced to my account"
I work with postman on my work computer and at home, on my personal computer. When I do a theme setting at work it seems like it is stored localy and not synced to my account. Because when I get home I have to do the same setting again.

I think it would be a nice feature if this setting was synced to the account. What do you say? put this on your backlog :-)

[2018-12-13 12:49] abhijitkane commented on #4861
@dvdoliveira Can you check if this works correctly for you now?

[2018-12-13 15:22] benhamill commented on #3892
I agree with @jgroom33. We use the tags for organization of endpoints logically in a way that isn't necessarily related to the URLs. Using the first tag would be what I'd expect and is, I'm pretty sure, what other tools that use OpenAPI do (e.g. redoc).

[2018-12-13 15:30] benhamill opened #5641 "Overwrite collection on Import"
Recently, y'all released [an endpoint to import OpenAPI 3.0 specs as new Postman collections](https://github.com/postmanlabs/postman-app-support/issues/5166#issuecomment-443649399). It seems good and the responsiveness to requests is really wonderful.

However…

The problem I actually want to solve is that my team would like to maintain our API spec in OpenAPI and not import it to Postman a single

[2018-12-13 15:38] Alexsey opened #5642 "Log of function prints null in console"
**Describe the bug**
Logging of a function in Pre-Request or Test script will prints `null` in console

**To Reproduce**
Steps to reproduce the behavior:
1. Open any request the may be executed
2. Open `Pre-Request` section
3. Add code `console.log(() => {})`
4. Execute request
5. Look at the console

**Expected behavior**
In case of v8 it would output `[Function]`. I think would be good for Postm

[2018-12-13 15:49] smartnav commented on #4009
+1

[2018-12-13 16:14] lwslau opened #5643 "Postman 6.6.1 and 6.2.4 return different API status for PATCH endpoint"
Description:
Attempting to run a PATCH endpoint to update a user's information results in a 404 error status code in version 6.6.1. Running the exact same endpoint and request body in Postman version 6.2.4 results in a 200. Currently, most of us use 6.6.1, and cannot re-download version 6.2.4. from the Postman website. Additionally, version 6.5.3. returns the same 404 as version 6.6.1, so we can't

[2018-12-13 16:25] E1337Kat commented on #4666
ya, I also am having a similar issue when trying to run through my companies Oauth2 strategy. I can log-in then make the call to `/oauth/authorize`, and everything is fine. But when I make the POST to `/oauth/token` with all correct info, the authentication fails and the devTools console shows like 2 warnings for this issue.

I can provide more details and even a login to use to test self if neede

[2018-12-13 16:56] molliejaeron commented on #2978
Can anyone get this to work since news came through that the feature was released? I can see the Gitlab custom domain integration set up section but keep getting an error.

[2018-12-13 17:57] chrisjohnson commented on #5369
Still hopeful to see a resolution to this seemingly simple problem of just increasing the schema max. This is still preventing my team from properly using your tool that we are paying for.

[2018-12-13 18:03] chrisjohnson opened #5644 "Import API endpoint needs concept of workspaces"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I want to be able to automate importing a whole workspace worth of collections/environments/variables. Right now I have to do this by hitting several endpoints frequently and the ver

[2018-12-13 18:45] cjrutherford commented on #2724
+1, would love to see this as well.

[2018-12-13 18:49] cuzic4n opened #5645 "Oracle Cloud Infrastructure: OCI Signature Feature Request"
Native Postman v6.6.1  application on Mac OS X Mojave v10.14.1

Feature Request for OCI Signature Authorization header:
<img width="423" alt="screen shot 2018-12-13 at 10 47 08 am" src="https://user-images.githubusercontent.com/204951/49960184-7e407a00-fec4-11e8-8abc-b55da5506e72.png">
... 'like' AWS signature..

Specs and code examples for it are here => https://docs.cloud.oracle.com/iaas/Content

[2018-12-13 20:08] cbou commented on #4815
@bhargavkaranam I was able to reproduce the issue.

The issue is that POST request that get a 301 will be redirect with a GET method.

<img width="767" alt="screenshot 2018-12-13 at 21 06 39" src="https://user-images.githubusercontent.com/611389/49964605-36007680-ff1b-11e8-8ab6-913537a7bc09.png">

[2018-12-13 20:28] andrew-smith-nz commented on #3574
Still occurring on v6.6.1.

[2018-12-13 20:32] will-fsanches opened #5646 "Change shorcut behavior"
When I press the shortcut for inserting the question mark (?), AltGr+W, postman closes the tab I'm wornking at. Please change this behaviour so I can use the shortcut.

[2018-12-13 21:12] 3xlogicTomHamilton opened #5647 "POST is missing Content-Length header"
Postman for Windows x64 desktop application
v6.6.1

When I send a POST request with a raw body, the Content-Length header is not being automatically added as it was in previous versions of Postman, e.g. 5.5.4.

[2018-12-13 21:48] snotmare commented on #2621
+1 Our use case is similar to others. We have a url like this:
`https://{{host}}/foo/{{version}}/bar/etc`

If I could select multiple environments to use, I could select the host I want and separately select the version. That would be a lot better than having separate environments for all the different combinations.

[2018-12-13 23:18] iyerkm commented on #1667
+1, please

[2018-12-14 00:13] base64 commented on #5263
We are also looking for the feature, mainly due to our markup descriptions being quite wide, the site displays much better in single column mode.

[2018-12-14 00:48] zbaysf commented on #2086
+1

[2018-12-14 03:51] samohd opened #5648 "Console Raw view shows unchecked Header/Body Key/Values"
The console Raw view shows Key/Values from Header and Body that are unchecked. Pretty view doesn't show them.

[2018-12-14 06:23] codenirvana commented on #5219
Duplicate of #4396

[2018-12-14 06:44] kartikjain26 commented on #2978
@molliejaeron Can you confirm if you are using protocol (http/https) along with your domain url. Something like- https://example.com
And also that your personal access token has not expired.

[2018-12-14 07:48] ankit-m commented on #5617
A fix for this has been deployed.

[2018-12-14 07:48] #5617 closed, assigned to ankit-m

[2018-12-14 07:48] ankit-m commented on #5540
A fix for this has been deployed.

[2018-12-14 07:48] #5540 closed, assigned to Ghusar

[2018-12-14 07:50] ankit-m commented on #5619
A fix for this has been deployed.

[2018-12-14 07:50] #5619 closed, assigned to ankit-m

[2018-12-14 07:52] ankit-m commented on #5419
A fix for this has been deployed.

[2018-12-14 07:52] #5419 closed, assigned to ankit-m, Ghusar

[2018-12-14 07:53] ankit-m commented on #5297
Closing due to inactivity.

[2018-12-14 07:53] #5297 closed, assigned to nobody

[2018-12-14 07:55] ankit-m commented on #5627
@dhineshwiz friendly bump.

[2018-12-14 07:55] ankit-m commented on #5625
@JP-from-Postman what alerts are being talked about here? Emails?

[2018-12-14 07:58] ankit-m commented on #5508
Closing due to inactivity.

[2018-12-14 07:58] #5508 closed, assigned to ankit-m

[2018-12-14 08:04] ankit-m commented on #5134
This should be fixed now. If the issue still persists, please reopen the issue.

[2018-12-14 08:11] ankit-m commented on #5022
This issue has been fixed.

[2018-12-14 08:11] #5022 closed, assigned to ankit-m

[2018-12-14 09:09] A77AY commented on #1667
+1

[2018-12-14 09:42] manoj-makkuboy commented on #1667
+1

[2018-12-14 09:51] n0v3xx commented on #1667
+1

[2018-12-14 10:04] kartikjain26 commented on #5630
@RT-TL Can you confirm if the collection associated with your monitor is present in the workspace and if the monitor itself ran as per the schedule.

[2018-12-14 10:17] Ramya-From-Postman commented on #5134
@ankit-m, the issue still persists. the page is still throwing 404 error.

[2018-12-14 10:21] godfrzero commented on #5134
@Ramya-From-Postman This issue refers to the `docs/creating_documentation` link embedded in the public documentation. That link has been removed. Which page is throwing a 404?

[2018-12-14 10:28] dhondtlaurens commented on #2724
+1, this would be great for documentation

[2018-12-14 11:38] sujayvenaik commented on #5646
Duplicate of #2096

[2018-12-14 11:38] #5646 closed, assigned to nobody

[2018-12-14 11:51] sandorsasovits opened #5649 "Keyboard shortcuts in other countries"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Hungarian language keyboard layout has the @ character on the "V" key. We can use it only by pressing AltGr + V. Which is a keyboard shortcut in Postman for the "Toggle Two-Pane View" functionality. It gets a bit more annoying e

[2018-12-14 12:05] RT-TL commented on #5630
@kartikjain26 Yes, I can confirm that. The monitors are running and I can see them in the workspace. I also do receive the notification emails, can access the log etc. Here are two screenshots from the dashboard showing a bit of configuration which looks good to me.

<img width="641" alt="screenshot 2018-12-14 at 13 04 04" src="https://user-images.githubusercontent.com/13029793/50002556-c3d27500-f

[2018-12-14 12:32] dhineshwiz commented on #5627
hey @abhijitkane thanks for reporting the issue, It looks like the vendor library which we are using is sorting with default javascript sort `Array.prototype.sort()` which sorts by string. We will fix it by adding custom sorting method, and keep this thread updated

[2018-12-14 13:22] Phyziik commented on #5610
How do I know if and when this will be implemented, or worked on?

[2018-12-14 13:35] larsts commented on #4594
Each of the three proposed workarounds for disabling gpu worked for me on a 2012R2 server:
* Adding environment variable (did not require reboot)
* Setting Combatibility mode "Windows 8" on start menu shortcut
* Adding to shortcut start menu target: --process-start-args="--disable-gpu"

While I'd contest this does not affect the quality of this application, I would suggest an opt-in solution for g

[2018-12-14 16:23] sbrendtro commented on #2978
I had the same experience... adding the protocol fixed it.  However, I just checked my integrated GitLab repo, and no backup files are posted.  I made changes to two separate collections that are supposed to be backed up, and no changes were posted to the repo.  Followed the instructions here:  https://learning.getpostman.com/docs/postman_pro/integrations/gitlab/  Is there a way to see why it's no

[2018-12-14 17:44] z3ugma commented on #3358
+1

[2018-12-14 17:45] dylanh724 commented on #2086
How's the progress **[since submitted 2 years ago]**?

[2018-12-14 19:08] Daemon42 commented on #3774
Wasted quite a lot of time before I found this topic.   This is definitely very confusing, because when you click on the request under the collection, it shows all the latest changes, even if it's not saved.   I even closed Postman and reopened it and these apparently unsaved requests were still there.  I just couldn't figure out why the Runner wouldn't run them.
Agree that change in state of the

[2018-12-14 20:34] norchow opened #5650 "API Documentation Versioning"
I'm developing an API, and new changes are being included. I need a clear way for the users to select which version of the API they are using and get its documentation.

I would love if my users could select which version of the API they are using, maybe similar to how they choose an environment.

Locally, i cloned the collection with the previous version of the API, and modified it for the newest

[2018-12-14 23:35] bradwbradw commented on #4631
If it helps, i was able to get something similar working:

In the pre-request script, set a global variable / environment variable

[code]

 then just interpolate it in the Params / Headers section of the Request Editor by setting the value to `{{temp}}`.

[2018-12-15 01:32] ankit-m commented on #5223
This issue is fixed.

[2018-12-15 01:32] #5223 closed, assigned to Ghusar

[2018-12-15 01:43] genachka commented on #1744
+1 We use POSTMAN extensively for various projects and that's not changing but some of our customers want a Swagger / OpenAPI 3.0 version of the APIs we build and maintain in POSTMAN. It's been more two years since this was requested and assigned with lots of folks very interested in this. @a85 when??? The silence isn't helping.

[2018-12-15 06:21] prashantagarwal commented on #4576
Just an update for linux users, we have released Postman app on [Snap Store](https://snapcraft.io/postman). http://blog.getpostman.com/2018/12/05/linux-users-can-now-install-postman-as-a-snap

[2018-12-15 12:58] rejas commented on #5501
Had our IT guys re-install my laptop from the ground up due to other issues as well.

[2018-12-15 12:58] #5501 closed, assigned to SamvelRaja

[2018-12-15 14:46] kartikjain26 commented on #2978
@sbrendtro  can you check if you had given api scope while creating personal access token for gitlab ?
Like this one here-
<img width="611" alt="screen shot 2018-12-15 at 8 13 09 pm" src="https://user-images.githubusercontent.com/26088676/50044228-44c76480-00a6-11e9-996f-e55726cbe372.png">

[2018-12-15 14:48] yagotome commented on #5637
@numaanashraf #5600 suggests collapsing all fields of an object. What I suggested was collapsing **string** fields independently of being or not in an object. They are different features, aren't they?

[2018-12-15 15:06] seitbekir commented on #4009
Is there is a plugin support for Postman and the plugin that implements this feature?

[2018-12-15 18:00] JCMerrick commented on #4594
I had the same problem with Postman on Windows 8.1 laptop.  It ran the 1st time, but started acting funky when I tried to re-launch the app the next morning.  As an absolute NOOB, all I can say is, "I.LOVE.YOU and THANK YOU! for taking your time to share with others."  I never take that for granted; in the (past) era of prima-donnas, folks would hold onto their fixes and insights to secure their e

[2018-12-16 01:08] damaru-inc opened #5651 "Postman doesn't recognize a valid openapi 3 yaml file"
**Describe the bug**
I created an openapi 3 file, and I'm using Swagger to generate the API code. That works fine, so I'm confident that my file is valid.

**To Reproduce**
1. Open Postman
2. Click Import
3. Select the file - I've copied it here, it's not very long
4. Postman shows the message: Error while importing: format not recognized

**Expected behavior**
I would expect the file to be import

[2018-12-16 12:18] abhijitkane commented on #5651
@damaru-inc I see the root-level 'components' property is defined twice - line 8 and line 61. The spec should convert after merging the two. We'll work on showing better error messages.

[2018-12-16 14:01] rodrigoimas commented on #2617
+1

[2018-12-16 14:19] harryi3t commented on #5651
@damaru-inc Thank you for reporting this issue.
Postman uses [openapi-to-postman](https://github.com/postmanlabs/openapi-to-postman) plugin for the conversion which has it's own repository. I have opened an issue there https://github.com/postmanlabs/openapi-to-postman/issues/7
Kindly subscribe to that issue for the updates.

[2018-12-16 14:19] #5651 closed, assigned to nobody

[2018-12-16 16:30] damaru-inc commented on #5651
Thanks a lot!

Michael

[2018-12-16 17:22] rodrigoimas commented on #1235
+1

[2018-12-17 02:27] asyba opened #5652 "How to join files spec in one big file"
How the relative path reference works? I have a project with this in the openapi.yaml root file but when I copy this to the editor, it doesn't fill the content using each file inside of the project. So this is super frustrating how I can export my swagger project for example to postman? If my swagger project contains a lot of files and Postman only need 1 file.

[code]

[2018-12-17 05:25] sujayvenaik commented on #5649
Duplicate of #2096

[2018-12-17 05:25] #5649 closed, assigned to nobody

[2018-12-17 05:28] codenirvana commented on #3768
@leonardschneider I understood your use case, this can be achieved using the [variables](https://learning.getpostman.com/docs/postman/environments_and_globals/variables/).

I feel we misunderstood this feature request initially as JS expressions can't be evaluated directly in the request body.

[2018-12-17 05:45] hpete opened #5653 "Export and import of collection from file does not preserve the order of requests"
Export and import of collection from file does not preserve the order of requests

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with multiple requests
2. Export collection to file (Collection v2.1 (recommended))
3. Import collection from file
4. Order of request in collection is not the same

**Expected behavior**
Order of requests in collection should be the same.

**A

[2018-12-17 05:58] rcmstark commented on #5263
Hi guys, any preview of when you guys will add this feature? As it is in the preview, I guess it will not be to add in the published documentation.

[2018-12-17 06:00] rcmstark commented on #5263
Do you guys have any preview of when you guys will add this feature? As it "View in Web" author area, I guess it will not be complicate to add in the published documentation.

[2018-12-17 06:05] harryi3t opened #5654 "Environment Edit issues via Quick Look"
Originally reported by gopikrishna4595 on Postman Discourse community https://community.getpostman.com/t/environment-edit-issues-via-quick-look-6-6-0/3559

When editing the environment variable via quick look, the next successive variable value is also updated with the same. Refer to the attached gif for better understanding.

[REDACTED]

and also once the variable value updated from Quick look an

[2018-12-17 06:13] codenirvana commented on #3742
Blocked on: https://github.com/form-data/form-data/issues/412

[2018-12-17 06:31] codenirvana commented on #4124
@gjnk Request name can be fetched via `pm.info.requestName` or using the workaround you suggested.

[2018-12-17 06:31] #4124 closed, assigned to codenirvana, kunagpal

[2018-12-17 09:12] surfsun commented on #3563
+1

[2018-12-17 09:34] manish-kevre commented on #4262
This Solved my problem.

[2018-12-17 09:51] abhijitkane commented on #5652
@asyba Since Postman only supports single-file schemas, you'll need to use something like https://github.com/maxdome/swagger-combine to convert your files to a single-file spec.

[2018-12-17 09:52] pdsorensen commented on #3438
Thanks for looking into the feature request! +1

If it's possible to generate the documentation as static assets, it would also allow for the option to serve documentation from non-domain locations such as s3.

Also, any plans to support documentation publishing or doc generation through the newman cli?

[2018-12-17 09:59] Ramya-From-Postman opened #5655 "Provide an option to configure generation of code snippets in the documentations"
It would be very nice if we have an option to configure the generation on code snippets on the postman documentation.
For example, the curl command of a request: https://postman-echo.com/get in the documentation looks like :
![image](https://user-images.githubusercontent.com/40994626/50079643-1fef0080-0210-11e9-8992-10a8aa8f9918.png)
In the above command, Why do we have to use "--request" while it

[2018-12-17 10:01] shadow000902 opened #5656 "为啥 postman 更新版本后，把环境变量位置的“Bulk Edit”功能给去掉了？"
之前的历史版本，编辑环境变量的时候，也是可以使用“Bulk Edit”模式的，但是更新了版本后，就不支持这个功能了，现在整理环境变量非常的麻烦，能否把这个功能加回去？

[2018-12-17 10:34] fjjozjn commented on #1667
+1 need interceptor on Desktop app.

[2018-12-17 10:41] XaWin commented on #5386
Hi @vkaegis @godfrzero,

Thanks for the feedback. I removed the part on restricting the levels of folders.

I still believe that not propagating the hierarchy of the Postman folders into a proper hierarchy in markdown is a bug and not a feature request. Otherwise, could you please elaborate on the reason for the hierarchy in your Postman interface ?

And whatever the classification, do you have an

[2018-12-17 10:53] uvarajkrishna commented on #4559
Is there any chance of this issue getting resolved? My Customer's entire organization testers works in a similar VM setup of mine and none could use Postman.
The issue still persists with app-6.6.1

[2018-12-17 11:20] sunnylum commented on #1667
+1

[2018-12-17 11:28] Laffarli commented on #3825
:+1: Thanks in advance for adding PKCE support.

[2018-12-17 11:40] asyba commented on #5652
Thanks!

* I am pretty close got some errors in the editor:
[code]

[code]

* also if I want to import in SoapUI will happen the same like Postman? It requires single file?

[2018-12-17 16:15] E1337Kat commented on #3813
@AnkitKabra20 @lirenwang
Can't you though? Using this as a reference: http://www.postmanlabs.com/postman-collection/RequestBody.html#file, you could probably formulate the request as such:

[code]

I think this would work, but I have not tested it. The documentation for `file` is confusing to me:

Does that mean you have to build the path with Node file library stuff, or could you just do a string

[2018-12-17 18:30] aowie1 opened #5657 "Cannot save new request"
**Describe the bug**
Error occurs while attempting to save a new request.

**To Reproduce**
Steps to reproduce the behavior:
1. Open existing request and alter
1. Choose Save As
2. Navigate to a folder directory pane
4. Click "Save to <folder>"

**Expected behavior**
I expect it to create a new request within that folder

**App information (please complete the following information):**
 - Native A

[2018-12-17 18:55] andrewtuplin commented on #519
It's been almost 5 years. I think there are still a lot of people that would like to be able to format a JSON response as a table. Is this going to happen?

[2018-12-17 19:37] norchow commented on #5650
I keep thinking about it, and i think it can work for us if we can publish several collections (one for each version) and make them available as subdirectories.

For example:
https://developers.bitex.la refers to Bitex API V2.0
https://developers.bitex.la/v2.1 can refer to Bitex API V2.1 (and so on).

Maybe we can even configure the subdirectory as an attribute of the collection.

I don't know if

[2018-12-17 22:05] ericflynn67 commented on #4751
I've narrowed down this problem further. It seems that if the HTTP response has a really long line in it that wraps over hundreds display lines in the scrolling view, the app gets sluggish once the start of this wrapping line is scrolled up some distance past the top of the scrolling view.

[2018-12-17 22:51] AnkitKabra20 commented on #3813
no

On Wed, Oct 24, 2018, 12:24 AM lirenwang <notifications@github.com wrote:

[2018-12-17 23:58] 433845 commented on #1104
I want to use this feature, if it is in the app, can someone show me a screenshot of how to use it with a form-data widget of type "file"?

[2018-12-18 00:02] neoscrib commented on #1486
This is not a duplicate of 1104

[2018-12-18 00:24] lirenwang commented on #3813
@E1337Kat Thanks for the reply. I believe I've found somewhere in the document/blog says something like "in sandbox it does not have access to the file system", though, I cannot really find that page. Guess it is not a good, at least not recommended, approach to do file upload request in test/pre-request script. I personally skipped it and create some actual request and that fits my scenario fine.

[2018-12-18 03:46] johnoscott commented on #519
I agree. (cough! console.table cough!)

On Tue, 18 Dec 2018 at 05:55, andrewt <notifications@github.com> wrote:

[2018-12-18 11:19] wiesniak opened #5658 "Beautify for JSON in raw request rounds long numeric values"
**Describe the bug**
When I use Beautify in request body text area for json, ulong value is rounded.

**To Reproduce**
Steps to reproduce the behavior:
1. Open new tab
2. Select POST request method
3. Select "Body" tab
4. Select "raw" radio button and "JSON (application/json)" content type
5. Paste in text area
`{"id":8741825358579525632}`
6. Click "Beautify"
7. See formatted JSON - it is
[code]

[2018-12-18 11:32] jonathancbarros opened #5659 "Postman sorts data in JSON Pretty mode without being told to"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently.
 2. Expected behaviour: The data is showed in the order I defined in my backend processing.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if

[2018-12-18 11:50] BazToth commented on #1966
Hey Guys, so when is the "run multiple collections" function coming to PRD as this convo has started years ago and haven't seen anything yet. thanks

[2018-12-18 12:40] martijnvdwoude opened #5660 "Mock server is returning example responses for the wrong request in the collection when `x-mock-response-name` is used"
**Describe the bug**
Mock server is returning example responses for the wrong request in the collection when `x-mock-response-name` is used.

**To Reproduce**
I have two requests in my collection.
`GET /callOne`
`GET /callTwo`

For both requests I have added two example responses to test. These examples have names "200" and "201", with matching status codes and the following response bodies:

`/ca

[2018-12-18 12:56] martijnvdwoude opened #5661 "Request is not added to the mock server when a request is copy/pasted"
**Describe the bug**
A request in a collection is only mocked when a fresh request is added with the "Add request" option. It is not mocked when a request is copy/pasted from a different request and then modified.

**To Reproduce**
Steps to reproduce the behavior:
1. In a collection, add a new request by clicking '...' > 'Add request', give it name `Call One`
2. Set the path `/callOne`
3. Add an e

[2018-12-18 13:17] maskaravivek commented on #3563
+1 This would be useful for us as well :)

[2018-12-18 13:26] smacktoid commented on #285
+1

Would make it easier to use Collections, particularly for APIs using hypermedia links.

[2018-12-18 13:33] antydemant commented on #2617
+1

[2018-12-18 13:39] #5661 closed, assigned to nobody

[2018-12-18 13:52] kszafran opened #5662 "Markdown not rendered inside tables"
**Describe the bug**
Markdown is not rendered inside tables. I have reported a similar bug before https://github.com/postmanlabs/postman-app-support/issues/5346, which has been fixed. This time Markdown is not rendered in _any table_.

**To Reproduce**
Import the following collection into Postman:
[code]
View the documentation in web.

**Expected behavior**
Markdown should be rendered inside table

[2018-12-18 15:14] eduardoHoefel opened #5663 "New Postman not working on Windows"
**Describe the bug**
Just opened Postman today and found out that there is a new native app. Installed it, sent a local GET request and received:

![image](https://user-images.githubusercontent.com/8729915/50163995-bf6fca00-02c8-11e9-92e0-cbe816856ef2.png)

Tried the same request using Google Chrome and got the correct response.
Tried the same request on the old app and got the correct response.
T

[2018-12-18 15:16] thomaslazar commented on #3977
Any ETA on this issue? I wasted about half a days worth trying to find out why postman wouldn't show anything in the window when clicking "Request Token".
First I thought my ADFS server was bonkers but it turned out it was exactly because it doesn't honor the ignore SSL Cert setting.
Was using Postman 6.6.1

[2018-12-18 16:53] Mouradif commented on #1432
o_O Why not Ctrl+Tab like litterally every other app ?

[2018-12-18 17:46] DaniVSainz commented on #5636
I'm also running into this issue while using Postman v6.6.1

[2018-12-18 18:17] jzabroski commented on #3216
Is anyone looking at this issue?

[2018-12-18 18:18] jzabroski commented on #3216
@numaanashraf What more do you need to know that I have not given in my simple repro?

[2018-12-18 19:51] karthik-cc opened #5664 "Postman Pre-req Function for future timestamp assign"
I am trying to  assign future timestamp on some date fields in my pre-request. to solve the start (current time of the date ) and end time ( future time of the date).

Pre-request script :
postman.setGlobalVariable("timestampUtcstart", new Date().format('{yyyy}-{MM}-{dd} {HH}:{mm}'));

// Is it possible to add delay within the pre-request function call  ?

postman.setGlobalVariable("timestampUtcen

[2018-12-18 22:40] RevolvingDCON commented on #4594
Hey guys could we get an official update on the progress of this bug? It's been open for half a year and I do believe it's quite critical as shortcut flags isn't really the best long term solution.

Thanks!

Edit: Please correct me if my opinion on the severity of this bug is incorrect.

[2018-12-19 00:13] AnthonyB28 commented on #3511
I too am having this issue on Windows 10.
But in Chrome, as others have mentioned, it does not occur.

If I have my server responds with anything in the body (and correctly setting the Content-Length) - the Chrome version shows the body of the response.
In the native Windows app, it just shows Error: Parse Error.

[2018-12-19 01:53] huixisheng commented on #4631
+1

[2018-12-19 02:23] bluet commented on #4576
@prashantagarwal Finally! Thank you so much for making the snap.
After a long time with insomnia, we can finally come back to Postman.

[2018-12-19 02:41] bluet commented on #4576
I've installed the snap version via `sudo snap install postman`, which should be the **latest** version.
But once opened postman, it says there's a new update and it failed.

![2018-12-19 10-37-56](https://user-images.githubusercontent.com/51141/50195534-7a0bd500-037a-11e9-8bd5-b50d28d2649c.png)

![2018-12-19 10-37-23](https://user-images.githubusercontent.com/51141/50195542-84c66a00-037a-11e9-979

[2018-12-19 03:00] steeeveen commented on #1667
+100

[2018-12-19 06:55] M1TR opened #5665 ""Run in Postman" button does not pull any collection data or configuration to the native app [LINUX]"
I have a Postman collection that is hosted in documenter.getpostman.com and I want to import it to my native app. Clicking on "Run in Postman" button just opens up the native Postman app but does not import the collection.

There is no option to "Download" the collection from the website, so it is not possible to import a file. Neither is there any import URL that can be used from inside the nativ

[2018-12-19 09:02] pdsorensen commented on #4823
This is also relevant for use cases where you have different products with seperate API documentation right? Not just for clients.

So it could potentially allow something like:
-  `www.docs.robot-company.com/api/fluffy-robot`
-  `www.docs.robot-company.com/api/old-robot`
-  `www.docs.robot-company.com/api/new-robot`

[2018-12-19 09:15] pecliu opened #5666 "POST method will automatically add 'undefined' param, in x-www-form-urlencoded format"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
An 'undefined' param will be added, when use x-www-form-urlencoded POST method

**To Reproduce**
1. create a new api
2. change method to POST
3. add x-www-form-urlencoded key
4. send data
5. an ‘undefined’ param will be added to

[2018-12-19 10:15] kanduvisla commented on #1906
+1

[2018-12-19 11:09] truestbyheart commented on #3344
i have the same problem

i recently developed a simple api with php and while testing it locally it seemed to work fine but when i uploaded it to a server, when i use my browser it works fine but when i use postmen and my other app it returns an error like so
![screenshot 1](https://user-images.githubusercontent.com/37019531/50216771-bb5ead80-0397-11e9-9338-c542afd46c81.png)
![screenshot 2](https:

[2018-12-19 11:21] lenart commented on #1070
Adding a comment to show my support for this feature. 🙏

[2018-12-19 11:35] venkatesuluM opened #5667 "Not able to read postman cookie"
Issue:
Not able to read postman cookies using below function:
postman.getResponseCookie(cookieName) not working in 6.6.1 version Windows desktop application.

Please look into this issue.

[2018-12-19 15:27] numaanashraf commented on #5666
Duplicate of #5585

[2018-12-19 15:27] #5666 closed, assigned to nobody

[2018-12-19 15:29] numaanashraf commented on #5653
@hpete Could you share a screenshot showing the issue? We are not able to replicate this our end.

[2018-12-19 15:32] numaanashraf commented on #5663
@eduardoHoefel That's strange. Could you share a publicly accessible endpoint we can use to replicate this?

[2018-12-19 15:33] numaanashraf commented on #5656
Duplicate of #4898

[2018-12-19 15:33] #5656 closed, assigned to nobody

[2018-12-19 15:37] numaanashraf commented on #5647
@3xlogicTomHamilton Thanks for writing in. Would it be possible to share a screenshot of the Postman Console showing the request you had sent? (View > Show Postman Console)

[2018-12-19 15:42] numaanashraf commented on #5664
@karthik-cc We do not recommend adding delay in the JS code to achieve this. Postman Sandbox has built-in modules that'll help you do this. For time related computations, we recommend `moment`. Here's the link to an article from the Postman community detailing how to use moment in your scripts - https://dannydainton.com/2018/05/21/hold-on-wait-a-moment/

[2018-12-19 15:42] #5664 closed, assigned to nobody

[2018-12-19 16:03] eduardoHoefel commented on #5663
I can't because the issue was just tested at my office and I cannot share an endpoint here.

I can inform you that the api was hosted at localhost, port 3000, and that I am behind a proxy server, although I don't think that is as issue since the server is local

[2018-12-19 17:17] tanguc commented on #4320
It's still there, any update ? @a85

[2018-12-19 18:31] chrisdeso commented on #5520
Bumpity @ankitjaggi

[2018-12-19 19:12] MareoRaft commented on #4904
Hi, I contacted support and they recommended I put my comments in this Issue...

In Postman.app (6.6.1) on macOS (10.14.1), when viewing a JSON object (to send in the body or a received one), I would like to have the ability to sort the keys alphabetically (currently, this does *not* occur). This would allow me to find what I'm looking for more easily, and to group related things together (assumin

[2018-12-19 19:43] karthik-cc commented on #5664
@numaanashraf Thank you. I will apply moment as in article and let you know the results

[2018-12-19 19:46] Infinitay commented on #3822
Any update on this?

[2018-12-19 19:50] Quezion commented on #2489
I've been trying to update Postman also for around 2 years without success. The `chown` solution didn't work & moving it to the user's `Applications` also failed.

Stuck in the same bootloop that @rberge wrote up.

I'll try a manual uninstall + reinstall later, but this permission issue broke 2 years of Postman software updates for me and _still_ isn't fixed. Not a good look.

[2018-12-19 22:19] Quezion commented on #2489
I tried the solution posted by @daimor from a while back with no luck.

What got me updated for today is launching Postman with root and updating there (no signin, just skip to app), then closing & manually relaunching as root.

After closing the second root instance I could launch the updated app on my normal account.

With the disclaimer that running as root is a bad idea for many security reaso

[2018-12-19 22:22] gosiapolitowska commented on #1603
@QuinnBast your solution works for newman but not for postman so the original problem is still not solved

[2018-12-20 02:28] SamvelRaja commented on #5665
@M1TR
Could you check the desktop entry is equivalent to the instruction specified here
https://learning.getpostman.com/docs/postman/launching_postman/installation_and_updates/#linux-installation

[2018-12-20 03:19] mehdi-mousavi commented on #5052
Any update on this feature request?

[2018-12-20 04:30] M1TR commented on #5665
@SamvelRaja
The .desktop file is configured correctly. Like I said, clicking on "Run in Postman" does launch Postman. But it just doesn't do anything after the app loads. I've waited for a few minutes after the app loads in case it is doing something in the background, but nothing really happens.

[2018-12-20 04:54] SamvelRaja commented on #5665
@M1TR

Clicking the button opens the app means Desktop entry working correctly.
Now we should verify whether the collection is getting imported.

To verify that.
1. Through Logs
   i. View -> Developer -> View Logs in File Explorer
   ii. Forward us Main.log file here
   iii. It shoudl have handleOpenUrl with the url to open

2. Verify in live
 i. Keep the app opened.
 ii. Click View -> Developer

[2018-12-20 05:30] M1TR commented on #5665
@SamvelRaja
Hey. Reconfigured the .desktop file with the %U solved the issue. Run in Postman works perfectly now.
Thanks so much for your help!

[2018-12-20 05:30] #5665 closed, assigned to nobody

[2018-12-20 05:41] abhijitkane opened #5668 "Signing up via the lessons section doesn't preserve app state"
I was not signed in, but tried to start a lesson. The app asked me to sign up or sign in. When I got back to the Postman window after signing in, the 'lessons' modal was not open.

App version: 6.6.0, Mac native app

[2018-12-20 05:44] abhijitkane opened #5669 "The WS browse view empty state doesn't disappear after creating a collection"
1. Start with a new Postman installation (signed-in to a free account).
2. Switch to the browse view for 'My Workspace'
3. Click the 'or create a collection' link in the empty state.
4. Create a collection
5. The empty state still says 'you don't have any collections'.
6. Moving to the build view and back shows the collection

Also, once the collection name shows up in the Browse view, deleting it

[2018-12-20 05:47] abhijitkane opened #5670 "Workspace activity feed (browse view) is always empty"
1. Start with a new Postman installation (signed-in to a free account).
2. Create a few collections in 'My workspace', add folders, delete folders, add requests etc.
3. Switch to the 'Browse view' > Activity feed
4. Notice the lack of activity history.

The text says 'collaborate with your teammates to see activity', but this is a personal workspace.

Seen on Postman v6.6, Mac native app

[2018-12-20 05:50] abhijitkane opened #5671 "Browse view History items are unclickable"
1. Start with a new Postman installation (signed-in to a free account).
2. Send a few requests in 'My workspace'
3. The requests should show up in the Build view (History tab)
4. Switch to the browse view's history tab.
5. Hovering over the history items shows a pointer cursor, but clicking on them does nothing.

Seen on Postman 6.6, Mac native app

[2018-12-20 05:53] abhijitkane opened #5672 "Wrong/no empty state in the collection runner's workspace switcher"
The team tab empty state for the collection runner's workspace switcher doesn't work like the one in the main Postman window:

1. If I'm signed in to a non-team account, the 'Team' tab in the collection runner's workspace switcher doesn't have an empty state.

2.  If I'm not signed in, the team tab tells me that I don't have an active internet connection. (I know I do)

[2018-12-20 05:54] abhijitkane opened #5673 "Typo in the pre-signin lessons modal"
If I'm not signed in, clicking on the 'Learn' tab says:
improve your skills through an `iteractive` tutorial

Seen on Postman v6.6, Mac native app

[2018-12-20 06:00] abhijitkane opened #5674 "Error AND success message while trying to publish a template"
1. Start with a new Postman installation (signed-in to a free account).
2. Create a collection - My first template
3. Collection context menu -> Publish docs
4. Check the 'Collection discovery' checkbox
5. Select the 'Postman templates' option
6. Notice how the categories input has all categories selected. (It doesn't - you need to click on each of them to actually 'select' them)

Problem 1: The p

[2018-12-20 06:06] abhijitkane opened #5675 "Confusing UX in the `New > Create documentation` flow in the app"
1. Start with a new Postman installation (signed-in to a free account).
2. Create a collection (with name and description)
3. New > Documentation > (Use collection from this workspace)

Problem 1: The text still says 'Enter the requests you want to document'. This is relevant for the `Create a new API` tab, not the `Use collection from this workspace` tab.

4. Select the collection you created

Pr

[2018-12-20 06:07] abhijitkane opened #5676 "No description/explanation in Settings > Certificates"
There's no explanation of what `Client certificates` are. An empty state, description, or link to documentation would help here.

![screen shot 2018-12-20 at 11 36 43](https://user-images.githubusercontent.com/681190/50266955-a5122980-044b-11e9-88fa-c0685496f1cb.png)

[2018-12-20 06:08] deepakpathania-zz commented on #5644
Hey @chrisjohnson , if I understand correctly, you would like to import a bunch of entities (collections/environments etc) inside a workspace in a single go.

If that is indeed the case, you can use the `/workspaces` endpoint provided in the Postman API to do the same. Refer to the documentaion [here](https://docs.api.getpostman.com/#06d312dc-ed82-49d4-b047-597a8659c172).

So for eg, if I have a b

[2018-12-20 06:10] abhijitkane opened #5677 "Add a 'copy link' button when the published URL is shown"
A button to copy the generated URL would be super-helpful here.

<img width="825" alt="screen shot 2018-12-20 at 11 39 10" src="https://user-images.githubusercontent.com/681190/50267057-f02c3c80-044b-11e9-9735-34124cb97342.png">

[2018-12-20 07:00] codenirvana commented on #5372
**Note:** We are preserving the headers capitalization, this is because of a known issue with NodeJS https://github.com/nodejs/node/issues/3591#issuecomment-256784252

Specifically with [setHeader](https://github.com/nodejs/node/blob/v10.14.2/lib/_http_outgoing.js#L468) method where headers are stored internally in object representation with lowercase header name.

[2018-12-20 08:28] Kyngo commented on #3822
Not AFAIK. @numaanashraf any words on this?

[2018-12-20 08:36] nikita-fuchs commented on #3822
Let's go guys, the world needs this !

[2018-12-20 09:19] vonboth commented on #4359
This is still unsolved.

I'm running Ubuntu 18.04.

Deleting the complete .config/Postman folder cannot be an accepted solution for this problem as one will loose all data.

Is there a solution in sight? It is quite a pain **** to do this for every update.

[2018-12-20 09:30] AntonPot commented on #1070
Yes, please!

[2018-12-20 09:36] AndriiHavrylyak opened #5685 "How to send a base64 image to Postman?"
You need to request an API with an image encoded in base64. I would like to assign the "Фото1
![1](https://user-images.githubusercontent.com/38010614/50276766-6c725000-044b-11e9-9c6b-5abdc97622b0.jpg)
" time to base64 via the Get-request, but there is an error!

[2018-12-20 10:29] AndriiHavrylyak opened #5678 "How to send a base64 image to Postman?"
You need to request an API with an image encoded in base64. I would like to assign the "Фото1
1
![1](https://user-images.githubusercontent.com/38010614/50279616-e0fcbd00-0452-11e9-8910-0bd04fdfe020.jpg)
" time to base64 via the Get-request, but there is an error!

[2018-12-20 11:59] rathodamol commented on #5275
Use this configuration as well.

![image](https://user-images.githubusercontent.com/38079053/50283700-fe338a80-0456-11e9-80b1-779f52a794e0.png)

[2018-12-20 12:22] m3dbedb opened #5679 "[7.0.6 win 32] closing runner closes console"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When I close the runner console screen closes either

**To Reproduce**
1.open console window
2.Run some collection in runner
3.Close runner window

**Expected behavior**
I have opened console window myself so it's supposed to st

[2018-12-20 14:10] jaircuevajunior commented on #1983
I was running into this issue with the version 6.6.1 (Latest).
Switched back to Deepin 15.8 default one which is currently 6.0.9 and no duplicated requests happened with the same route.

[2018-12-20 14:12] chrisjohnson commented on #5644
@deepakpathania If I'm understanding correctly, this requires the collections and environments to already exist. Let me explain my use case a little better:

We maintain all of our collections and environments locally in a git repository so it fits into our workflow, and run the examples via newman. We want the ability to keep our postman workspace in sync with the git repository (the source of tr

[2018-12-20 15:30] dcarbone commented on #1647
If you're on a mac and want to be REALLY lazy about it, you can also just copy over the entirety of the `/{user}/Library/Application\ Support/Postman/*` to your new machine.  Seems to work.  Unintended side effects unknown.

[2018-12-20 17:30] yurii-github commented on #4359
your data is in  ./config/Postman/IndexedDB
after ./config/Postman is recreated just replace  ./config/Postman/IndexedDB with old data

p.s.
ofcourse backup whole  ./config/Postman folder if something goes really bad

[2018-12-20 17:33] amaschas commented on #3956
I am also having this problem. Deleting the config files doesn't fix it. I just want to be able to use this app without signing into an account.

[2018-12-20 17:51] ryanshores commented on #5605
I am having similar issue, but I am not using the new dynamic variables. The API request has headers that also use the body of the request to authenticate. When I import `pm.request.body` I get the body but it doesn't get the variables.

In body - raw I have
`{ "Url": "{{myVar}}" }`

In the pre-request script it shows up as
`{ "Url": "{{myVar}}" }`
But I am expecting
`{ "Url": "https://www.url.com

[2018-12-20 18:13] PS-StuartZahn commented on #5194
+1

[2018-12-20 18:16] qortex commented on #5093
Similar kind of error for me, fresh Fedora 29 install, running fresh Postman downloaded from the website fails with:

[2018-12-20 18:18] qortex opened #5680 "Postman fails to launch on Fedora 29"
**Describe the bug**
Starting fails with (from terminal output) :

**To Reproduce**
Fresh Fedora 29 install.
Download latest Postman archive from the website.
Unpack, launch, fails.

**Expected behavior**
Should launch without error.

[2018-12-20 22:59] codenirvana commented on #2307
@stormposse As mentioned above, the app is using [xml2js](https://github.com/Leonidas-from-XIV/node-xml2js) and even though `xml2json` don't support additional options to customize the conversion behavior since its legacy api and newer way is to directly `require` the library, so you can directly require the `xml2js` in your script and use options mentioned in its documentaion.

Example:

[code]

[2018-12-21 00:43] fckbo commented on #3602
+1

Actually maybe having some sort regex to match body against exemples and thus select response depending on matching exemple might be considered

[2018-12-21 02:25] NeilyoQin opened #5681 "Installation failed in Windows 10"
Facing error while installing Postman-win64-6.6.1 in Win10. Error log as below:

2017-11-21 10:52:14> Program: Starting Squirrel Updater: --install .
2017-11-21 10:52:14> Program: Starting install, writing to C:\Users\FQIN1\AppData\Local\SquirrelTemp
2017-11-21 10:52:14> Program: About to install to: C:\Users\FQIN1\AppData\Local\slack
2017-11-21 10:52:14> CheckForUpdateImpl: Couldn't write out sta

[2018-12-21 02:38] vladah opened #5682 "Not all variables in the JSON body get replaced"
Dear Postman Team,

I noticed that a certain POST request is failing as some of the variables don't get replaced:

For example I'm using nested variables to construct variable names to be able to set different environment variables for the same repeated requests:

{{variable1_{{variable2}}}}

The following JSON body is failing when submitted:

[code]

From the failure message I can see that nested

[2018-12-21 05:01] SamvelRaja commented on #5681
@NeilyoQin  The log doesn't have postman in it.
I would recommend you to open the setup using cmd. This will give us some logs.

[2018-12-21 06:05] NeilyoQin commented on #5681
While I am using CMD to install, same error window pop up, please check screenshot '1', while click the button 'Open the Setup log' on the pop up window, it will default open the log by notepad, please check the attached txt file for detail.
![1](https://user-images.githubusercontent.com/46038464/50327135-b9782400-0528-11e9-8b04-d1cc24c37f00.png)

[SquirrelSetup.log](https://github.com/postmanlabs

[2018-12-21 06:24] abhijitkane commented on #5682
Reproducible on Postman for OSX 6.6.0

[2018-12-21 06:34] abhijitkane commented on #5667
@venkatesuluM Can you elaborate? I tried a console.log(postman.getResponseCookie('cookie-name')), and it printed the cookie object in the console. Are you getting a syntax error in the script, or is nothing being printed in the console? A dump of the logs (View > Developer > Show logs) will help

[2018-12-21 06:47] abhijitkane commented on #5256
@ash007-postman We'll need more context here. Can you add more details to the linked JIRA ticket for this issue?

[2018-12-21 06:57] abhijitkane commented on #5319
@numaanashraf https://go.pstmn.io/docs-tests-scripts is giving a 404. @Postman-Gabriel The latest version of the app doesn't have a test-docs link as indicated in the screenshot.

[2018-12-21 06:59] deepakpathania-zz commented on #5644
Hey, we actually have an import endpoint that you would be able to use for this, you can refer to the documentation [here](https://docs.api.getpostman.com/#46e97f24-cfd7-4547-bf83-244002931314).

Basically, when you export all your Postman data, we create an archive that you can use to import that data back to the app. In your use case, you would have to create that archive with all the collection

[2018-12-21 07:03] ratpik commented on #5660
@martijnvdwoude - If you are using `x-mock-response-name` header to match and you happen to have multiple example responses with the same name stored within your collection then mock server cannot deterministically determine which one of them you want it to return. You can use the `x-mock-response-id` header instead which is unique for every request. To get the id of an example response, you need

[2018-12-21 07:03] #5660 closed, assigned to nobody

[2018-12-21 07:27] abhijitkane commented on #4124
@codenirvana Why do we have different behavior for name and description?

[2018-12-21 07:34] #5134 closed, assigned to godfrzero

[2018-12-21 07:37] abhijitkane commented on #4861
Closing due to inactivity

[2018-12-21 08:20] LisaBails commented on #3956
what fixed it for me was downloading latest version

[2018-12-21 08:27] codenirvana commented on #4124
`pm.request.description` is inherited from the `PostmanItem`.
This is because of a bug in SDK, where the description will be added to all the child class which extends `PostmanProperty`.

[2018-12-21 14:24] saifalfalah commented on #3774
Same thing happened to me too. I forgot pressing save and created the monitor.

[2018-12-21 14:27] sujayvenaik opened #5683 "Remove referer header on redirects"
**Is your feature request related to a problem? Please describe.**
When there are multiple redirects, on subsequent requests I don't want the referer header to be forwarded

**Describe the solution you'd like**
The referer header to be ignored/dropped

**Describe alternatives you've considered**
Works on postman chrome app

**Additional context**

![capture-01](https://user-images.githubuserconten

[2018-12-21 14:37] chrisjohnson commented on #5644
That was the endpoint that I was referring to in my original post. It doesn't seem to have any concept of specifying a workspace while importing, nothing I see documented anyway. Am I missing something?

[2018-12-21 14:38] chrisjohnson commented on #5644
Oh wait, maybe I'm understanding now. I could mass-import all the envs+collections, and then turn around and tag them to the workspace using the `/workspaces` endpoint you referred to earlier. Is that what you mean?

[2018-12-21 16:02] rzaharenkov commented on #1228
please fix it before you close it!

[2018-12-21 16:58] chrisdeso opened #5684 "Setting: Set response view to RAW"
**Is your feature request related to a problem? Please describe.**
Some prefer to work with raw responses. Adding a setting to default to the RAW view in-app would address this.

**Describe the solution you'd like**
A way to default to the `RAW` view for responses in-app.

**Additional context**
[filed by postman]

[2018-12-21 17:06] baylee commented on #1535
+1

Tests aside, some form of reusable requests would be greatly beneficial for organization. For example, it is helpful for our API developers to see requests organized by microservice (e.g., different folders in a collection), while it is often helpful for API and client developers to see requests organized by user behavior flows. Copy-pasting requests into multiple locations doesn't scale well.

[2018-12-22 01:47] StefansArya commented on #4687
My solution is using chrome extension, but it's going to be deprecated.

[2018-12-22 06:50] deepakpathania-zz commented on #5644
Oh, I understand now. Sorry for the confusion earlier. Well, you can specify a workspace in the import call by specifying it as either a header or a query param.
Header: `X-Workspace-Id`
Query param: `workspace`

These are both documented as example requests in the documentation. So if you click on the dropdown example requests in the documentation, you should be able to get a better idea. Here's

[2018-12-22 15:32] sbkrish commented on #3344
This problem exist, if you were disabled JavaScript manually in your browser. Otherwise the issue arise from your server side when you are using a free hosting services like InfinityFree.  So kindly check with your server whether they provide an enabling feature for JavaScript or not.

Some of them allow Javascript _only for web browser and not for API, bot and cURL services_. For this, you need t

[2018-12-22 17:24] kytmanov commented on #2691
Guys, try this app https://github.com/kytmanov/postmanBackup . Works fine for me.

[2018-12-22 18:09] andreyoshev commented on #4142
So?)

[2018-12-23 04:00] AnthonyB28 commented on #3511
I figured it out - there was a junk character in my HTTP response message from the server.

The first 4 characters are junk and the desktop app was not happy about it. Looks like the Chrome app was ignoring the characters, and accepting the message anyway like Chrome, Firefox, and other browsers behave.

Once I cleaned the response up on my server:

Both the Chrome app & the desktop app have the s

[2018-12-23 07:46] ghost commented on #4849
I can confirm it still happening today in Postman for Windows Version 6.6.1 win32 10.0.17134 / x64
Dell XPS 15
Windows 10 Pro x64 - 1803 (OS Build 17134.472) 4K Touch screen display w/ 2 secondary 1280x1024 monitors attached in "Extend" mode
**I use only the secondary monitors.

[2018-12-23 10:32] imranbangladeshi opened #5686 "Not showing the icons properly & not showing the pop up menu properly at pop up menu of collection at postman."
**Describe the bug**
Not showing the icons properly at clicking pop up menu icon of collection at postman.
& not showing the pop up menu properly at clicking pop up menu icon of collection at postman.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the Postman App.
2. Make it window size.
3. Create multiple collections at collections tab.
4. Create multiple folders under the collection

[2018-12-24 05:21] sumit0k opened #5687 "[FR] Open in Postman button, when in browser"
**Is your feature request related to a problem? Please describe.**
I cannot find easier way to share a link of collection, which my colleague can use and directly navigate to collection in specific workspace.
`Run in Postman` is very risky, as `Replace` word is dreadful, if you just want to look at test scripts, unsure on what it could do.

**Describe the solution you'd like**
A link which opens d

[2018-12-24 05:43] riffadi commented on #2022
I have a problem with execute the postman, when I open postman a see the notice
"Failed execute the postman.
Failed to execute child process “/home/riff/Downloads/Postman/Postman” (No such file or directory).
"

can anyone help me?

[2018-12-24 05:52] codenirvana commented on #4485
@cypher0six You are right but RFC2616 is obsoleted by RFC7230 which deprecates such behavior:

[code]
https://tools.ietf.org/html/rfc7230#section-3.2.4

Also, newline in header content is an invalid character for NodeJS HTTP parser which we use to send the request. Reference: https://github.com/nodejs/node/blob/v10.14.2/lib/_http_outgoing.js#L460

[2018-12-24 06:36] codenirvana commented on #5474
@jaywhar I tried reproducing this issue and cookies are persisted correctly for a domain or subdomain.
The issue here is how the server set's the cookie using the `Set-Cookie` response header.

As seen in the collection shared by @harryi3t, the cookies are set as `Host-Only` for which the request host must exactly match the domain of the cookie.

I assume you are facing the same issue, I suggest y

[2018-12-24 06:45] codenirvana commented on #3500
@krogold I am not able to reproduce this issue, can you check if this issue still persists with the latest Postman App.

[2018-12-24 10:00] codenirvana commented on #4446
@Rast1234 You are right, Postman should not reject the response in this case.
But, we use NodeJS HTTP client to send the request and its parser fails if multiple `Content-Length` headers are present.

[2018-12-24 11:44] numaanashraf commented on #3691
Fixed in latest version of Postman (v6.6+)

[2018-12-24 11:44] #3691 closed, assigned to sujayvenaik

[2018-12-24 11:56] numaanashraf commented on #3960
This is fixed and released as part of Postman v6.6.0

[2018-12-24 11:56] #3960 closed, assigned to numaanashraf

[2018-12-24 12:02] numaanashraf commented on #5643
@lwslau Is there a publicly accessible endpoint we can use to triage this?

[2018-12-24 12:06] numaanashraf commented on #5678
Duplicate of #5685

[2018-12-24 12:06] #5678 closed, assigned to nobody

[2018-12-24 21:06] SlvrEagle23 opened #5688 "Error Importing OpenAPI: Cannot read property 'hasOwnProperty' of undefined"
Currently attempting to import an OpenAPI 3.0 YML file into Postman, and running into the following issue:

[code]

I've been hammering away at this for a while and I can't seem to be able to inspect into the OpenAPI importer library itself (`openapi-to-postmanv2`) in order to figure out what part of the YML file is actually failing validation.

The YML file I'm attempting to parse and import is a

[2018-12-25 06:15] a-m-dev commented on #2724
any updates yet?

[2018-12-25 07:50] yoavamir opened #5689 "Error when importing collection"
Hi, i am using the postman desktop app.
I've created several collections , but when trying to export them, and than import them in a different computer, some of my requests urls, headers and body isn't sent correctly, and the data from one request is 'copied' to other requests.

[2018-12-25 08:30] timesculptor commented on #1667
+1 need interceptor on Desktop app

[2018-12-25 11:27] numaanashraf commented on #5689
@yoavamir Could you share a sample collection file we can use to replicate this?

[2018-12-26 05:58] deepakpathania-zz commented on #5644
Closing due to inactivity, feel free to reopen if there's any other issue or confusion regarding the last answer.

[2018-12-26 05:58] #5644 closed, assigned to nobody

[2018-12-26 08:10] SamvelRaja commented on #5681
I could see that you are running a setup available outside of your users directory?
Could you try move it inside your user scope and run it?

[2018-12-26 08:21] NeilyoQin commented on #5681
The same issue:
![image](https://user-images.githubusercontent.com/46038464/50438747-46a4e980-092a-11e9-8aa1-f8a5cd0310a1.png)

Log as attached
[SquirrelSetup.log](https://github.com/postmanlabs/postman-app-support/files/2709804/SquirrelSetup.log)

[2018-12-26 08:28] SamvelRaja commented on #5681
This is odd 😢
Unfortunately, the setup log doesn't have updated information.
Could you check you have access to `%LocalAppData%` directory?
Also, check any anti-virus blocking the run.

[2018-12-26 08:40] bayan9 commented on #4328
charlesproxy supports this, but i wish it was possible with postman

[2018-12-26 09:31] sujayvenaik opened #5690 "Environment dropdown on applying a filter has empty spaces/rows"
**Describe the bug**
On filtering through the environment drop-down menu, has certain empty spaces

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Environment drop down
2. Create a number of environments
3. apply a filter

**Expected behaviour**
No empty added space/rows

**Screenshots**
![kapture 2018-12-26 at 14 57 26](https://user-images.githubusercontent.com/11532114/50441066-fe33f

[2018-12-26 10:24] venkatesuluM commented on #5667
@abhijitkane

It was displaying as Null value and also attached screenshots.
console.log(postman.getResponseCookie("avs_cookie"));

Note: No errors on show dev tools console.

Screenshots:
![postman cookie](https://user-images.githubusercontent.com/45995990/50442722-25da9500-0926-11e9-87be-b1a3ebc9f308.png)
![show postman console](https://user-images.githubusercontent.com/45995990/50442723-25da950

[2018-12-26 12:42] shamasis commented on #5053
- to make entire collection available in sandbox??
- then allow update of session variables of collection

[2018-12-26 12:46] #2307 closed, assigned to shamasis, codenirvana

[2018-12-26 13:24] m3dbedb opened #5691 "Resolve nested variables when using pm.variables.get"
**Describe the bug**
When I use environment variable in pre-request script, it does not being resolved if nested.

**To Reproduce**
Steps to reproduce the behavior:
Step 1. Set environment variables:

**pre-request script**

    pm.environment.set('base_ip','192.168.1.1');
    pm.environment.set('port',8089);
    pm.environment.set('ip','{{base_ip}}');
    pm.environment.set('protocol','http');

[2018-12-26 13:52] codenirvana commented on #3500
@krogold Works fine on Postman App v6.6.1.

<img width="876" alt="problem with chai assertions - 3500" src="https://user-images.githubusercontent.com/4865836/50447703-1158c580-0943-11e9-99c8-116917669241.png">

Feel free to reopen if you're still facing this issue.

[2018-12-26 13:52] #3500 closed, assigned to codenirvana, kunagpal

[2018-12-26 14:13] r3m4k3 commented on #3602
+1

Any update on this?
I think it's one of the most important features in mock server indeed.
Why should we pay for a solution that doesn't work as it should?

In my opinion, you should at least give us info if is it possible and if so, when can we expect you to introduce this change.
Postman and its' mock-server are really powerful and great software, I'm sure that this feature could easily make

[2018-12-26 14:33] sujayvenaik opened #5692 "Tab goes in conflicted state on update of name and description when same requests are open on multiple tabs"
**Describe the bug**
When same requests are open in multiple tabs and we edit the name and description the tab goes in conflicted mode

**To Reproduce**
Open request r1 in two different tabs, make tabs dirty and edit name and description

**Expected behavior**
Tab doesn't become conflicted

[2018-12-26 14:54] gbetances089 commented on #1535
+1

[2018-12-26 16:14] felipeplets commented on #5606
@timmy8526 I had the same issue and solved it by leaving an open timeout while processing the async code. [Here is my solution](https://stackoverflow.com/questions/53934311/how-to-use-promises-in-postman-tests).

[2018-12-26 16:17] felipeplets commented on #4131
Hey guys, thanks for the tips here. I had the same issue and just documented the solution (using a global setTimeout) [at Stack Overflow](https://stackoverflow.com/questions/53934311/how-to-use-promises-in-postman-tests).

[2018-12-26 17:15] arkhoss commented on #1321
I would love to see this feature in Postman, tip: "take a look of SwitchyOmega Chrome extension", if Postman can do that... would be really powerful and support proxy settings for multiple profiles / envs.

thanks!

[2018-12-26 17:23] ratpik commented on #3602
@r3m4k3 @fckbo @Emidomenge @cianiandreadev @henrymyers @Puiu - What data format do you use in your request body? (Eg. JSON)

[2018-12-26 17:25] r3m4k3 commented on #3602
@ratpik As for me, I use usually json format. Is there any way to handle different bodies when sending a request?

[2018-12-26 22:08] jzabroski commented on #3216
@numaanashraf What do you need to know?

[2018-12-26 23:03] r21gh opened #5693 "Unhandled defer error in golang code snippet"
**Feature description**
in "generate code snippets" part, for generating Golang code, Postman always create a simple
`defer res.Body.Close()`
but it does not handle any errors, and it is good to atleast handle defer error.

**Describe the solution you'd like**
we can replace the the defer part with this snippet:
[code]

[2018-12-27 06:30] sujayvenaik commented on #5396
@phillip-haydon @bpconfigit
When you duplicate a tab, it is pointing back to the same request. Hence you see conflicts.

Duplicating a tab points to the same request while duplicating a request actually creates a new request.

While debugging this we found another issue in the conflict state flow and are tracking it on a separate issue. (#5692)

Closing this, if you have other issues related to co

[2018-12-27 06:30] #5396 closed, assigned to sujayvenaik

[2018-12-27 06:42] m3dbedb commented on #5691
Same happens in test section.

[2018-12-27 07:39] godfrzero commented on #5224
This has been fixed now. Feel free to re-open if you still see this happening.

[2018-12-27 07:39] #5224 closed, assigned to ankit-m

[2018-12-27 09:11] sujayvenaik commented on #4763
This is out with Postman(v6.6.1)

[2018-12-27 09:11] #4763 closed, assigned to vkaegis, sujayvenaik

[2018-12-27 09:53] IlanPearlman commented on #4891
This would be an excellent extension of the tool

[2018-12-27 10:00] ash007-postman opened #5694 "Default environment for each collection"
**Is your feature request related to a problem? Please describe.**
Yes, so if I select a call from the collection (existing tab) it already has selected one of the possible environments for this collection - then the selection can't be changed (For example I configured local, stage & prod and defined local as default. So when I make a call to stage environment then opened another call in a new tab

[2018-12-27 11:01] hatakawas commented on #4079
+1

[2018-12-27 11:20] ericliang commented on #2857
Is there any plan for this issue/feature?  It's so important since we're using auto-generated swagger documents and favor postman for collaboration.

[2018-12-27 12:55] dzottola commented on #1809
Same issue +1

[2018-12-27 14:57] achaiah commented on #4401
Hi,

I'm also experiencing syncing issues. Nothing is syncing between my computer and my team. I'm on Mac OS with Postman v6.6.1. It works fine on Windows but the mac version refuses to sync.

[2018-12-27 15:13] hiugocosta commented on #3929
Agree. Why was this closed? @kamalaknn when did this bug became a feature?

[2018-12-27 16:10] theivanxu commented on #1667
+1

[2018-12-27 19:19] abourne1 commented on #1235
+1

[2018-12-27 19:25] kimpenguin commented on #1235
+1

[2018-12-27 20:46] gekonwi commented on #5583
@vkaegis - any updates on this?

[2018-12-27 20:46] gekonwi commented on #5578
@numaanashraf - any updates on this?

[2018-12-27 20:49] gekonwi commented on #3517
@vkaegis - any updates on this?

[2018-12-28 06:31] mateja82 commented on #5591
Yeap, same here... deleted the cache, installed from 0, not starting

[2018-12-28 07:03] IceMimosa commented on #713
Is there any feature to remove duplicate history? thanks @abhijitkane

[2018-12-28 10:11] sujayvenaik commented on #5692
Fixed in v6.7.0-canary04
Canary can be downloaded from https://www.getpostman.com/canary

Will update this thread once this gets out on the stable release.

[2018-12-28 10:13] sujayvenaik commented on #5515
Fixed in v6.7.0-canary04
Canary can be downloaded from https://www.getpostman.com/canary

Will update this thread once this gets out on the stable release.

[2018-12-28 10:43] yegorandrosov commented on #4594
I believe this Win issue, not Postman. I had everything working, but then I updated system using Win10 Update Assistant. Everything with GPU render broke - Steam, Slack, etc., so disable gpu flag should be attached to everything now. Interesting, that some games which had not worked before, started working after Win update.

maybe some testing can be done on launch. i guess you can get somehow inf

[2018-12-28 11:04] numaanashraf commented on #5694
@ash007-postman this is a bug report or a feature request? please follow the template https://github.com/postmanlabs/postman-app-support/issues/new/choose and provide the required information.

[2018-12-28 11:10] numaanashraf commented on #5691
@m3dbedb Thanks for writing in. `pm.environment.get` & `pm.globals.get` are not designed to auto-resolve values when used. They are simple getter/setter APIs exposed to set or get values to and from environment / globals.

[2018-12-28 12:27] Jeevankumar555 commented on #1667
+1 need interceptor feature on Desktop app

[2018-12-28 13:00] m3dbedb opened #5695 "Wrapping pm.expect with pm.sendRequest doesn't work"
**Describe the bug**
I have an assertion inside send request and test gives an error. When I have changed wrap order, assertion fails as it should

**Steps to reproduce the behavior:**

1. Call some method with listed assertion inside tests tab:

    pm.test("Array is empty", function () {
       pm.sendRequest(str, function (err, res) {
         if (res) {
            pm.expect(res.json().data.le

[2018-12-28 15:31] julweng opened #5696 "response should be okay to process fails in scheduled monitor"
**Describe the bug**
The following test used to work in our scheduled monitor runs:

[code]

Today, we ran this monitor twice in postman cloud. Status code for every request is 200, but every request response fails this test.

We then ran a collection runner locally, and every test passed.

**To Reproduce**
- run a request with this test locally
- run a request with this test in postman cloud

**E

[2018-12-28 15:32] pies opened #5697 "Postman doesn't start - Shared window is not available"
**Describe the bug**
Application doesn't start. Presents with errors:

[code]

[code]

**To Reproduce**
1. Start app

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/37940/50519946-a4b60600-0abd-11e9-8ba2-a19a86188229.png)

**App information (please complete the following information):**
 - Na

[2018-12-28 15:38] pies commented on #5697
Nevermind, machine restart fixed it.

[2018-12-28 15:38] #5697 closed, assigned to nobody

[2018-12-28 15:48] moleksyuk opened #5698 "Collection with context of own environment"
**Is your feature request related to a problem? Please describe.**

My setup:
**Project_1**
- has postman collection - `Collection_1`
- has envs: `env1_local`, `env1_stage`

**Project_2**
- has postman collection - `Collection_2`
- has envs: `env2_local`, `env2_prod`

Actual:
I'm working in parallel on both projects (because it's integration between them).
Both of them is up and running, so I exec

[2018-12-28 15:49] moleksyuk commented on #5694
@numaanashraf this ticket was created based on contact by email.
I created it according to rules and it's a feature request.
I explained with more details here #5698

This ticket can be closed.

[2018-12-28 18:24] chrisjohnson commented on #5644
@deepakpathania this doesn't need to be re-opened, but can you link me to the version of the docs you are looking at? I'm realizing now the reason I assumed that the import API didn't have a concept of workspaces is that the public docs don't mention the example shown in your screenshot: https://docs.api.getpostman.com/#331ec7d1-6ffd-450b-996b-022afcb692f8

Are we looking at different versions?

[2018-12-28 18:26] chrisjohnson commented on #5644
AH!! The examples are a dropdown and you can pick other examples. That is not intuitive. But I appreciate you walking me through it. Thanks rubber duck

[2018-12-28 20:38] atscripter commented on #1475
+1

[2018-12-28 20:54] chrisjohnson commented on #5644
I'm sorry to keep blowing up your inbox. But I'm having a hell of a time forming a valid request. The first problem is that the postman-sdk package on npm does not provide a convenience method for uploading files (which seems to be the only valid input that the examples show). So after writing my own raw wrapper around node's request module, I'm now finding it impossible not to get back

[code]

f

[2018-12-28 21:18] aev-mambro2 opened #5699 "[Console] Raw log body for multipart/form-data post fails to log form boundary and content-disposition in payload"
**Describe the bug**
Raw log body for multipart/form-data post fails to log form boundary and content-disposition in payload.
The raw log shows the form boundary in the Content-Type header, but the payload lacks both the content-disposition and the form boundary. Postman does generate and send them. They just don't show up in the raw console view. What does get shown in the console does NOT comply

[2018-12-28 22:22] reeceengle opened #5700 "Monitor test started failing unexpectedly, is working when running locally"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just started occurring between 8 pm yesterday and 12am today.
 2. Expected behaviour: Tests would pass.
Code for failing monitor test
[code]
 3. Console logs - Cannot retrieve console logs from monitor and everything locally is passing

 4. Screenshots (if applicable)

![image](https://

[2018-12-28 22:25] JP-from-Postman opened #5701 "Slack integration setup fails"
[From Postman Support]

When adding the Slack integration to a workspace (for a monitor), a notice of the integration appears in the target Slack channel, but no prompt is show during setup to select a monitor, and the integration does not appear in the dashboard integrations for the workspace.

Steps to reproduce:

1. From Dashboard, go to integrations view for a workspace
2. Select Slack > Monit

[2018-12-29 12:12] baddlan commented on #4546
Similar to the "Retain headers when clicking on links" setting, can you add "Retain Authorization parameters when clicking on links"?

[2018-12-29 15:54] daMichaelB commented on #4186
Also experiencing this issue running 6.6.1 and trying to invoke AWS Sagemaker endpoint.

[2018-12-29 21:35] Marusyk commented on #4891
any news?

[2018-12-30 07:56] realflash commented on #5093
@SamvelRaja

This issue occurs on a machine which has never had Postman installed so it isn't to do with upgrading.

I downloaded and installed version [6.5.3](https://dl.pstmn.io/download/version/6.5.3/linux64) which worked OK, and then re-installed 6.6.1 which then worked fine too (both extracted to the same place). So maybe putting down 6.5.3 creates some file which is missing in 6.6.1?

[2018-12-30 13:59] RalphSu commented on #3477
Does native app Postman 2 support autoconfig proxy like chrome plugin?

[2018-12-30 15:38] Ghusar commented on #5450
Hey @NeilAttewell Are you still facing this issue?

[2018-12-31 04:41] ankit-m commented on #5701
A fix for this has been deployed.

[2018-12-31 04:41] #5701 closed, assigned to nobody

[2018-12-31 05:29] shamasis commented on #4677
This thread has become super confusing by the way. This could also overlap with the feature request of ssl `cipher` customisability. The OpenSSL error messages are definitely not helpful either. One good soul compiled this gist - https://gist.github.com/64/5b10ad1e2142970fefecdaefa2b339b9 . Is there a nice error message helpful message map that I can get hold of? Anyone? :-p

[2018-12-31 05:34] shamasis commented on #3684
One more point. I might have originally misread the feature request. Postman already supports chunked *responses*. And this one is a a feature-request for sending *request* in chunked format. Correct me if I re-reinterpreted it wrong!!

[2018-12-31 06:41] codenirvana opened #5702 "Export: Invalid header list on overwriting Content-Type header"
Overwriting `Content-Type` header added via body mess up exported header list.

Steps to reproduce the behavior:
1. Create a new request
2. Choose any body type which adds a `Content-Type` header
3. Overwrite the `Content-Type` header
4. Export the collection

[code]

 - App Type: Native App
 - Postman Version: 6.6.1
 - OS: macOS Mojave 10.14.2

[2018-12-31 07:03] numaanashraf commented on #5691
@m3dbedb I've converted this to a feature request instead

[2018-12-31 07:05] numaanashraf commented on #5694
Duplicate of #5698

[2018-12-31 07:05] #5694 closed, assigned to nobody

[2018-12-31 07:07] numaanashraf commented on #5696
@julweng Could you give us a sample response we can use to test this?

[2018-12-31 08:30] r21gh commented on #5693
@numaanashraf I have sent a pull request for this feature.

[2018-12-31 08:38] sijiton opened #5703 "API Documentation copy to clipboard incomplete"
**Describe the bug**
In the automatically generated web page of my API documentation, the code examples cannot be fully copied to clipboard unless they are expanded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://<your_project>.postman.co/collections/<collectionID>?workspace=<workspaceID>
2. Click on Copy to Clipboard button for any example request that can be expanded.
3. You

[2018-12-31 13:21] arun-chandran-c commented on #3574
Still got error "Could not import test run. Please check the format of the file." with v6.6.1. Does this issue got resolved ? any work around available.

[2018-12-31 14:13] christophla commented on #2934
Over a year and a half and still waiting on this one. The audience querystring param *does not* work with *client_credentials* grant - it must be in the body. We consider the postman application to be a *client*, so this grant type is more ideal than the others.

[2018-12-31 14:17] alihasanimam commented on #3519
Can you reopen the issue? What is the solution? I am having same problem.

[2018-12-31 15:31] julweng commented on #5696
@numaanashraf

example response:
[code]
Last Friday when I clicked the console log tab, it crashed. Today I was able to view the console log
<img width="431" alt="screen shot 2018-12-31 at 7 22 08 am" src="https://user-images.githubusercontent.com/32506699/50562882-f41e5100-0ccc-11e9-934e-6007741d4bc2.png">

The above console error `expect X in response to contain property ''` appeared for every `

[2018-12-31 17:11] jonathanmcmahon commented on #5558
Can confirm this on Postman for Linux, Version 6.6.1 (linux 4.15.0-42-generic / x64) on Ubuntu 18.04.

Super annoying. Postman sets itself as the default app each time the app is launched, so manually changing the default app for `.html` files back to a browser or whatever only works until the next time you launch postman.

[2018-12-31 18:02] leonardorb commented on #3519
To all that are having the same issue, try logging out from your accounts. This will delete local data. After logging back again, you'll be able to delete the folder. At this, this worked here.

[2018-12-31 20:30] mrosendin commented on #2627
I am experiencing an issue where, when quoting the data variable as shown above, it is no longer accessible in tests. Instead it is `null`.

E.g.,

[code]

Logs `null` and `bar`, respectively.

It seems the only workaround is to escape quotes in the data file like so:

[code]

This makes it accessible in the tests but frustratingly, when comparing it to strings, it contains quotes!

For example:

[2018-12-31 20:36] ButchAnton commented on #4401
Same issue here on my Mac running Mojave.  Postman 6.6.1 spins the sync indicator forever, and changes do not show up on Windows machines.

[2019-01-01 06:54] yyh-gl commented on #3519
@leonardorb
Thank you for your information.

I signed out, after that I tried to delete folder again.
As the result, I can delete that.

[2019-01-01 15:14] ermlauri commented on #5093
I had same issue on fresh Ubuntu 18.04. First time, when extracting tar.gz in GUI and the copying the folder I got an error that one .js file could not be found. After that got the same circular-json error.

Solution was to exctract using terminal:
`tar -xvzf ./Postman-linux-x64-6.6.1.tar.gz`

Third time, to verify the issue, I just extracted the file in GUI and tried to run it, but got the same e

[2019-01-01 16:33] schivmeister commented on #4594
I confirm that on Windows 8.1 Pro x64 this works. All the symptoms posted in the issue description are not present, and Postman loads quickly as usual.

Still to be seen whether everything works as expected, but at least I can start the new year without this annoyance, which had taken a toll on my workflow for the entirety of 2018!

[2019-01-01 16:36] SajidSalim commented on #4912
Any updates on this?

[2019-01-01 18:21] fernplant commented on #1667
+1

[2019-01-02 00:12] abes-dabir commented on #3117
+1

[2019-01-02 05:34] jsk999 commented on #2806
![image](https://user-images.githubusercontent.com/46309537/50581195-4f0ba000-0ea7-11e9-9aae-a5bfbe7c3f97.png)

This error is due to AppLocker in our environment. It is basically extracting files to C:\Users\User\AppData\Local\Postman folder and then tries to run the program from that location. If you move it (the whole Postman folder) to a location that is excluded from AppLocker then run it, it

[2019-01-02 05:44] numaanashraf commented on #5695
@m3dbedb We discussed this internally, and there are no plans to implement this at the moment. `pm.test` & `pm.expect` are designed to work at an immediate nesting level, and adding support for async calls like `pm.sendRequest` between them would unjustifiably increase complexity for the sandbox API. For now, the recommended way to use `pm.expect` inside the `pm.sendRequest` is to add additional `

[2019-01-02 05:44] #5695 closed, assigned to nobody

[2019-01-02 05:47] numaanashraf commented on #5685
@AndriiHavrylyak Please provide detailed steps to replicate this issue.

[2019-01-02 05:49] numaanashraf commented on #5685
Based on the nature of your query, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-01-02 05:49] #5685 closed, assigned to nobody

[2019-01-02 05:51] numaanashraf commented on #5689
We are closing this due to inactivity. Feel free to re-open this issue with steps to replicate this.

[2019-01-02 05:51] #5689 closed, assigned to nobody

[2019-01-02 09:25] yoavamir commented on #5689
Hi @numaanashraf , sorry i didn't see your response.
my collection file has data that i can't share .
The problem, is that importing collection doesn't work properly and some request content are copied to different requests.

[2019-01-02 09:29] numaanashraf commented on #5689
@yoavamir Is this happening consistently on all imports? Would it be possible to send us a sample collection without the sensitive data?

[2019-01-02 09:51] yoavamir commented on #5689
@numaanashraf  it doesn't always happens, and more specifically it happens when importing collections from windows to Ubuntu.

[2019-01-02 09:56] testica opened #5704 "Could not get any response cause - Error: Parse Error"
I am fetching a JSON, but postman show me the message "Could not get any response" and postman console show:

![image](https://user-images.githubusercontent.com/7244247/50586570-481a6880-0e7a-11e9-8482-15da4938ea0b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Set Url and select GET method
2. Click on Send
4. See error

**Expected behavior**
Json response:
[code]
**App information:**

[2019-01-02 11:08] alorwu commented on #5350
Been having the same issue for months now. Ctrl + 9 doesn't scroll the tabs. It just shows the last tab in the list of opened tabs. You other tabs before the last one are still not visible. And about the use of the mouse, not everyone uses a mouse unfortunately

[2019-01-02 11:10] mmahmoodictbd commented on #5591
On mac, I deleted /Users/username/Library/Application Support/Postman/ directory, solved the problem.

[2019-01-02 11:19] Ju4nKrl0s commented on #1667
+1

[2019-01-02 12:30] luijoy commented on #3822
+1

[2019-01-02 12:32] movAX13h commented on #4167
Still nothing. I start the program, the window stays blank and the mouse cursor indicates that it is loading something. But it never finishes.  (win8)

[2019-01-02 12:35] movAX13h commented on #4594
Can someone who really knows the code fix it please? Fresh install on win8.1 and I get a blank window just like described here more than half a year ago.

[2019-01-02 12:41] yegorandrosov commented on #4594
@movAX13h no solution ever provided. you can try another windows image. reinstalling GPU drivers will never help (at least for me). I have to search for 'disable GPU render feature' in every application.
Mine PC broke after I updated Windows to latest version

[2019-01-02 14:40] gustawdaniel commented on #3831
@bofrede - your tutorial should be pasted in official page

For example next too buttons below `Postman for Linux` described as `command line method`.

[2019-01-02 14:45] rishabhgpt opened #5705 "Undefined and null variables treated similarly in console.log"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Ideally in test scripts `pm.variables.get` API should return 'undefined' on `console.log`  if an undefined variable is passed to it, instead we get null on console which can create confusion in differentiating if a variable is a

[2019-01-02 14:57] vkaegis commented on #3517
@gekonwi No ETA on this just yet. Our editor itself requires some tweaking to enable this, so waiting on some prerequisite tasks.

[2019-01-02 14:58] norchow opened #5706 "Add custom ids for folders and requests"
**Is your feature request related to a problem? Please describe.**
It is not a problem _per se_, but it looks better to share in public places a link like https://developers.bitex.la#market instead of https://developers.bitex.la/#18739eda-629a-44b2-8baf-12132d0d82f6

**Describe the solution you'd like**
I would like to be able to specify the HTML ID to be used in each folder and request, and then

[2019-01-02 15:44] Tomiiisin commented on #4199
Hello I have this same issue,

The variable is not updated with the new value. see my configuration below
Can someone please point out what I am doing wrongly
![image](https://user-images.githubusercontent.com/44162340/50599165-84b38780-0ead-11e9-9e90-ab94ba66a02c.png)

![image](https://user-images.githubusercontent.com/44162340/50599217-ac0a5480-0ead-11e9-9373-03b47e8a24d4.png)

[2019-01-02 16:00] harryi3t commented on #4199
@tomiiisin shouldn't it be:
[code]
?

[2019-01-02 16:27] JohnArrowwood commented on #2749
I'm sorry, but I don't see how my ask has been satisfied.

I want a dummy request that doesn't make a request.  If I leave the URL blank, it errors out.  So for now, I put www.example.com, but that is not fair to them, and it slows down my execution.

[2019-01-02 16:30] JohnArrowwood commented on #2749
And I can't seem to re-open the issue.

[2019-01-02 17:04] JohnArrowwood opened #5707 "Request a way for nodes in collection to be logic-only, no request issued"
See also #2749, which was closed without understanding what was being asked for

In order to create collections that implement logic, I create nodes as branch points for loops and flow control.  For example:

* INITIALIZE LOOP VARIABLES
* FOR EACH XYZ
* | First Request
* | Second Request
* NEXT XYZ
* LAST XYZ

In a collection like this, the only thing the ALL-CAPS requests do is manipulate global

[2019-01-02 18:44] shamasis commented on #5707
@JohnArrowwood this use case and many that I see (and personally face) each day are extremely interesting and shows how we are composing APIs to get ever-increasing value out of development.

As such, there are a few things we are thinking along those lines, namely - trying to figure out a way to do visual composition of APIs using a new DSL for the API-first development ecosystem. There should si

[2019-01-02 21:19] kclinden commented on #285
+1

[2019-01-02 23:38] r3m4k3 commented on #3602
@ratpik Do you need more information?
If so, please just let me know and I'll provide it.

[2019-01-03 01:03] patdaman commented on #285
Adding this would make it so that our dev teams can add accounts to our services without us needing to create a web app for the same purpose.  We don't need an entire application to fill out a form, and I am just trying to keep them from manually editing JSON
+1

[2019-01-03 07:27] rabi112 opened #5708 "Server returning status code 306 in v6.6.1 but correct response in v5.5.4"
## App Details:

[code]

## Issue Report:
 1.  Has this bug always coming on service call.
 2. In Version 5.5.4  i can able to post call but in Version 6.6.1 getting error
 3. Console logs: {"Error":"Please check the configuration"}
 4. 306 status.

[2019-01-03 07:43] numaanashraf commented on #5708
@bini0209 Could you try sending the request via cURL and let us know whether you are seeing the same error? You could also try inspecting the request that was sent via the Postman Console (View > Show Postman Console). It'll help you debug the difference between the requests send in the two requests.

Postman shows the response and status code exactly as it received from the server. So it seems li

[2019-01-03 07:45] numaanashraf commented on #5704
@testica Is there a publicly accessible endpoint we could use to replicate this?

[2019-01-03 08:59] testica commented on #5704
@numaanashraf no, sorry. It's a private local service.
From curl:
![image](https://user-images.githubusercontent.com/7244247/50629613-8e84cb80-0f3d-11e9-8e95-7b903da8212e.png)

From postman chrome extension:
![image](https://user-images.githubusercontent.com/7244247/50629708-018e4200-0f3e-11e9-9d5a-af769a8f0cc4.png)

[2019-01-03 09:57] harryi3t commented on #2058
We are tracking this feature request here https://github.com/postmanlabs/postman-app-support/issues/4636

[2019-01-03 09:57] #2058 closed, assigned to abhijitkane

[2019-01-03 09:57] harryi3t commented on #4990
We are tracking this feature request here https://github.com/postmanlabs/postman-app-support/issues/4636

[2019-01-03 09:57] #4990 closed, assigned to numaanashraf

[2019-01-03 10:04] powelli commented on #5226
Same issue present in the native Mac client too

- Native app
- Postman Version 6.6.1
- OS: MacOS High Sierra Version 10.13.4

[2019-01-03 10:06] numaanashraf commented on #5704
@testica Thanks. Could you share the request and response headers from curl or postman chrome extension?

[2019-01-03 11:03] mishsom commented on #1667
+1

[2019-01-03 11:04] abhijitkane commented on #5700
@reeceengle Can you check the browser's DevTools console for any errors? Also, you can try adding `console.log(responseBody)` to your request's test script to check the actual response returned by the server for each request.

[2019-01-03 11:24] abhijitkane commented on #3690
This is being tracked at https://github.com/postmanlabs/postman-app-support/issues/3592

[2019-01-03 11:26] abhijitkane commented on #5696
@julweng This is a bug with the current version of the app. The following assertions should work (moving the assertions with .not to the end, and removing the empty string arg from .to.have.jsonBody):

[code]

The root bug being tracked here - https://github.com/postmanlabs/postman-app-support/issues/3592

Closing this for now

[2019-01-03 11:26] #5696 closed, assigned to nobody

[2019-01-03 11:49] testica commented on #5704
@numaanashraf
For **request headers** I am not specifying one.

For **response headers:**
[code]

[2019-01-03 12:28] #5634 closed, assigned to godfrzero

[2019-01-03 12:31] abhijitkane commented on #5568
Possibly related to https://github.com/postmanlabs/postman-app-support/issues/5658 - the same bug in the console

[2019-01-03 12:33] strongoose opened #5709 "SSL verification broken for wrong host errors"
**Describe the bug**
Calling a server with an incorrect SSL host setup will fail the first time they are called after starting postman, but subsequent requests will succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable SSL verification
1. Restart postman
2. Send a GET request to https://wrong.host.badssl.com/
3. Postman will display a connection error
4. Send the GET request again

[2019-01-03 12:44] LoveFishSoup opened #5710 "Add API description which support markdown"
I am always troubled with colleagues who hardly review API documents during the cooperated project.

I strongly suggest your team could develop the feature named API description(at the same level of [Params], [Headers], [body] and so on, next to [Tests]) which aims to describe the API descriptions and support markdown grammar is the best.

The advantages of this feature show as below:

 - The deve

[2019-01-03 13:15] zhukangfeng commented on #1667
+1 need interceptor on Desktop app

[2019-01-03 13:24] abhijitkane commented on #5594
@ash007-postman If you can still reproduce this, can you add screenshots that better illustrate this.

Also, specifying the app version/platform would help.

[2019-01-03 13:53] jrumbinas commented on #5520
+1

[2019-01-03 15:19] litzk commented on #1667
+1 need interceptor on Desktop app

[2019-01-03 15:34] dmillman commented on #3007
That Set item doesn't seem to exist in 6,.6.1:

![image](https://user-images.githubusercontent.com/12037325/50645970-ed990f00-0f42-11e9-8445-af53f79d84df.png)

[2019-01-03 17:15] JohnArrowwood commented on #5707
I think I'd like to know more about this DSL.  :)

On Wed, Jan 2, 2019 at 1:44 PM Shamasis Bhattacharya <
notifications@github.com> wrote:

--
John Arrowwood

[2019-01-03 17:54] JPhillipBrooks commented on #5611
I'm experiencing the same problem.  I noticed it start happening after I created a Team and added a coworker to the team.  She also noticed it started happening as soon as she joined the Team Workspace.

If I can help by gathering Console logs, please let me know.

[2019-01-03 18:00] TwentyKnots commented on #3555
@preethammavin is this GitHub Integration feature available for Pro users? Or do you have to be a Postman Enterprise user to use the GitHub Enterprise Integration?

Thanks!

[2019-01-03 18:55] brbsBruno commented on #1667
+1

[2019-01-03 19:05] ghost commented on #4898
I have scripts that would query a database and output variables in a text format that was compatible with the bulk edit feature. Very disappointed in the removal of this as it was something I used weekly to update my environment.

[2019-01-03 19:20] JP-from-Postman opened #5711 "Browse mode shows no environments for workspace, after duplicating an environment"
**Describe the bug**
In Browse mode for the native app, selecting Duplicate for an environment reloads the Environments view showing no environments for the current workspace.

Switching to a different view, and then switching back to Environments, shows the environments for the workspace again, as well the copy that was created.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to Brow

[2019-01-03 20:18] hadidotj opened #5712 "JSON Pretty Response Displays Even When JSON is Invalid"
## App Details:
[code]

## Issue Report:
### Did you encounter this recently, or has this bug always been there:
Recent

### Expected behaviour:
When "Pretty Printing" JSON, if there is a parse error in the JSON response, the "Pretty" view should report that error. However, if the response contains invalid JSON (i.e. pesky PHP notices before the JSON) then the Pretty view still shows the "JSON" fi

[2019-01-03 20:40] qmcree commented on #5611
I can also confirm that this issue began after I created a Team and added members to it.

[2019-01-03 22:18] thardy commented on #1667
I will not use Postman Desktop app without Interceptor.  I'd prefer to find another solution that makes my workflow as seamless as the Postman chrome app does.  Getting irritated at the constant reminders to "upgrade" to an inferior solution.

[2019-01-03 23:03] thetreythomas opened #5713 "Permissions for a new team collection - Need to have a global setting or ability to set during creation"
**Environment**
Windows 10
Postman v6.6.1

**Is your feature request related to a problem? Please describe.**
By default, when you create a new collection on a team, the permissions are set by default to "Can view". As a team, we are constantly adding collections based on a feature we might be testing individually, but will be used by the entire team later. It's cumbersome to have to go in and mod

[2019-01-04 00:10] re-jim commented on #5452
I'm using v6.6.1 and I'm still seeing this issue

[2019-01-04 03:17] Eljhoset commented on #882
here is a workaround
[code]

and ...
[code]

[2019-01-04 06:17] kartikjain26 commented on #3555
@klpeltie It is available for Postman Pro users.

[2019-01-04 08:14] abhijitkane commented on #3392
@numaanashraf This is the native-app <-> interceptor issue, right?

[2019-01-04 08:28] abhijitkane commented on #3576
@numaanashraf We should define the intended behavior here. Either we treat every item in the data row as a JSON primitive or treat everything as a string.

[2019-01-04 09:13] abhijitkane commented on #3734
Related to https://github.com/postmanlabs/postman-app-support/issues/3688

[2019-01-04 09:20] abhijitkane commented on #3742
@codenirvana Will the `.prototype` workaround suggested on https://github.com/form-data/form-data/issues/412 not work?

[2019-01-04 09:27] abhijitkane commented on #3765
@kamalaknn If the app has updated the runtime version after Sep, can you check if this is still an issue?

[2019-01-04 09:41] RedDeathGitHub commented on #3130
Any fix for the above? I duplicate/copy a request and it's empty...

[2019-01-04 09:42] Kiholm opened #5714 "AssertionError: expected false to be truthy"
**Describe the bug**
I use the "Runner" function. I have a Collection and start the runner with default values (except I use Delay 10 ms). After running the collection some of the Requests end in Failed with:
"AssertionError: expected false to be truthy".
If I thereafter run the request manual it ens in Passed.
A collection can have about 690 request and some of them have a test like:
"tests["Stat

[2019-01-04 09:46] sujayvenaik commented on #3130
@RedDeathGitHub
Can you provide more information? Which app version and if you see any error logs.
You can get the error logs from  "View -> Developer -> View Logs in Finder" and send us the logs.

[2019-01-04 09:59] kamalaknn commented on #3765
@abhijitkane This issues seems to exist. I think this is because the App uses a different logic to parse path variables.

[2019-01-04 10:39] RedDeathGitHub commented on #3130
Sure, v6.6.1, update says it is the latest version.
[logs.zip](https://github.com/postmanlabs/postman-app-support/files/2726652/logs.zip)
I hope I attached the logs correctly ^ :)

When I duplicate/copy only the name is copied, no url/parameters etc.

[2019-01-04 11:06] xbitres commented on #5194
+1

[2019-01-04 11:13] schwichti commented on #350
+1

[2019-01-04 12:42] mjlaz38 opened #5715 "Windows 10 Post Request Always Returning 404"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2019-01-04 12:42] mjlaz38 opened #5716 "Windows 10 Post Request Always Returning 404. I tried a course with the code: const Joi = require('joi'); const express = require('express'); const app = express(); app.use(express.json()); const courses = [ {id:1,name:'course1'}, {id:2,name:'course2'}, {id:3,name:'course3'} ] app.get('/api/courses',(req,res) => { res.send(courses); }); /*Handle POST*/ app.post('api/courses/',(req,res) => { const course = { id: courses.length + 1, name: req.body.name }; courses.push(course); res.send(course); }); const port = process.env.PORT || 3000; app.listen(port,() => { console.log(`Listening on port ${port}...`); }) . this is a simple node/express test to try in Postman, but I am always getting 404 error."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2019-01-04 12:47] #5715 closed, assigned to nobody

[2019-01-04 12:47] #5716 closed, assigned to nobody

[2019-01-04 12:52] mjlaz38 opened #5717 "Postman Native always returning 404 error on post request"
I am attempting to take a nodejs course and am stuck on the part where we test a post request on Postman. It is a simple example of a node/express app. I can run the GET request without an issue, but the POST is always a 404 error. Can anyone run the code that I list below?

const express = require('express');
const app = express();

app.use(express.json());

const courses = [
    {id:1,name:'cour

[2019-01-04 14:09] janmyszkier commented on #3344
I have encountered this issue today and only on OSX version. Trying to post on Shopify API.
Work fine with most recetn postman on Linux, but on OSX, we're getting HTML page with information about javascript being disabled. Same collection imported to both Postman instances, only OSX version results with javascript not being enabled.

[2019-01-04 14:38] danyalaytekin commented on #4785
This would be very helpful.

[2019-01-04 15:08] germainalb opened #5718 "Collection monitor not updating the environment variables which are set in tests"
Postman for Windows
Version 6.6.1
win32 10.0.15063 / x64
[code]

[2019-01-04 15:44] smeierhofer opened #5719 "OData URL, parameter, and header auto-suggest"
An OData REST service provides a metadata document that describes the entity model and services. This metadata document provides all the details necessary to know how to construct HTTP requests to do Query+CRUD operations on entities. It specifies the properties of each entity, their relationships, and the actions and functions that operate on entities or operate independent of any entity.

The HT

[2019-01-04 16:33] dugcool commented on #1038
What "testmonger" wrote is the answer, we had been using this in our code in Postman Ver: 6.6.1 and it works beautifully in a production setting.

[2019-01-04 17:08] shamasis commented on #2392
Hello everyone. Before I do an elaborate update on what are our plans around this, I thought it would be a good idea to post a link to a similar issue here where I commented roughly how we intend to solve this use case.

https://github.com/postmanlabs/postman-app-support/issues/5707

Essentially, this should be feasible in Postman where you should be able to pick and choose what you want to run, h

[2019-01-04 18:05] codenirvana commented on #5717
@mjlaz38 Typo in `post` path. Try changing it to `app.post('/api/courses/'`.

Also, please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue. This issue tracker is only for Postman App related issues.

[2019-01-04 18:05] #5717 closed, assigned to nobody

[2019-01-04 21:23] JP-from-Postman opened #5720 "Team members not able to edit Collection, despite permissions being set correctly"
[Reported on behalf of user, by Postman Support]

**Describe the bug**
Team members are not able to edit a Collection, and it still shows the locked icon, despite permissions being set correctly and team members being a part of the workspace it is shared to.

Both individual (and team default) permissions are set to can edit.

_UPDATE 1:_
User was able to resolve this issue by duplicating the affe

[2019-01-05 07:49] nisheetsun commented on #4783
I am trying without `Content-Type: video/mp4` in headers and still, the response body converts to the media player. The URL I am hitting is

[2019-01-05 08:59] albertotn commented on #5707
@JohnArrowwood  do you think something like https://en.wikipedia.org/wiki/Business_Process_Model_and_Notation ?

[2019-01-05 10:45] ygModesto opened #5721 "The space occupied by the application multiplies"
**Describe the bug**
Every time I open a postman, I create a Postman-timestampt folder (~ 214MB) and a tar.gz file (~ 70MB) and they never get deleted, it has gotten to occupy 8GB

**To Reproduce**
Launch Postman App

**Expected behavior**
Have a version of the application

**Screenshots**
![captura de pantalla de 2019-01-05 11-36-43](https://user-images.githubusercontent.com/9286546/50723498-ed35

[2019-01-05 12:53] maoz123 opened #5722 "Add support for navigator in Postman Sandbox"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
While add a pre-request script in postman native app, I encounter the following error

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. In the postman native app, Create a

[2019-01-05 13:57] numaanashraf commented on #5722
@maoz123 navigator is a browser specific API and has been removed in Postman Native apps. Our native apps use the Postman Sandbox and you can find the API definitions at https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/. There are no plans to support navigator in the native apps sandbox at the moment - do let us know what info you are accessing from the navigator

[2019-01-05 14:00] numaanashraf commented on #5718
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-01-05 14:00] #5718 closed, assigned to nobody

[2019-01-05 14:04] numaanashraf commented on #5714
@Kiholm Please provide a sample collection we can use to understand your issue better.

[2019-01-05 14:12] numaanashraf commented on #5710
@LoveFishSoup Markdown supported description are already available in Postman. You can add a description to a saved request via the add description button beside the request name in the tab, or going to the edit option on the sidebar and filling description in the modal.

<img width="964" alt="screenshot 2019-01-05 at 7 40 08 pm" src="https://user-images.githubusercontent.com/3295568/50725318-014e

[2019-01-05 20:04] wajid23071dev commented on #131
Postman does not allow you to add payload with Get request, however for Elastic search you can do that anyrequest tab in elasticsearch head plugin.

[2019-01-05 23:12] NikolaiTsepalov commented on #2672
Any update?

[2019-01-06 03:32] harryi3t commented on #131
@wajid23071dev
Postman does allow setting the payload (body) with requests having any method (including GET)
Please update to the latest version. This was released with version 6.5.0

[2019-01-06 07:23] pg07codes opened #5723 "run in postman linux ubuntu 18.04 fails loading collection"
**Describe the bug**
when i click the RUN IN POSTMAN button on apidocs.imgur website, the postman opens up but with no collections. It opens like a new window having not request collections.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'apidocs.imgur.com'
2. Click on 'RUN IN POSTMAN'

**Expected behavior**
all request collection for imgur docs should load

**App information (please

[2019-01-06 07:38] ghost commented on #2671
It is slow like a hell. I assumed it is Electron and then I googled it and now I am here to confirm my assumptions.

[2019-01-06 11:48] deepakpathania-zz commented on #5644
Hey @chrisjohnson, sorry for the delayed response. Not sure why you need the postman-sdk package for achieving what you wanted. I'll try to clarify a few things in this answer which should help you get started with the endpoint quickly.

1. If you look at the documentation, there should be a `Run In Postman` button at the top right of the documentation. If you click on that, you would get that ent

[2019-01-06 11:57] shashankmishra091 opened #5724 "Support google geolocations to get latitude and longitude"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to

[2019-01-06 16:01] chrisjohnson commented on #5644
My question was more about the format of the input itself, not the rest of the request, and the provided example doesn't include a file to review the format of. I tried submitting with `type: json` and sending a JSON `input` but then I get `The request body has invalid values for the type parameter. Value must be file for import_type exported.` so it seems like I do have to formulate my `input` as

[2019-01-06 20:20] a85 commented on #5650
@norchow Thank you for submitting the feature request! We are working on something that will help enable this.
@vkaegis Let's talk about this in the context of versioning + version tags.

[2019-01-06 20:21] a85 commented on #4823
@sankalp0o We'll need to build some sort of mapping configuration between APIs + Domains + Collections.

[2019-01-06 22:35] a85 commented on #2385
This is hitting soon on production: https://twitter.com/kamalaknn/status/1081855945649483782

[2019-01-07 02:31] a85 commented on #4466
@NG-tylerholden Comments are now available in our Canary release and shipping to production soon. You can tag team members as well. You can get the Canary version here: https://www.getpostman.com/downloads/canary

[2019-01-07 06:22] LoveFishSoup commented on #5710
Thanks a lot!!!! I am too careless~~~~

[2019-01-07 07:01] kamalaknn commented on #5712
This looks like a remnant of special parsing for JSONP responses. However this should not be affecting all responses.

Quick search tells me there is no particular content-type header that we can use to identify JSONP responses. Will have to dig deep.

[2019-01-07 07:50] kid1412621 opened #5725 "Cannot update to latest version by snap"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
provide the latest snap release.

**Describe alternatives you've considered**

**Additional context**

[2019-01-07 07:52] kid1412621 commented on #5574
cannot update to latest version through snap

[2019-01-07 08:45] harryi3t commented on #5725
This is being tracked here https://github.com/postmanlabs/postman-app-support/issues/5574

[2019-01-07 08:45] #5725 closed, assigned to nobody

[2019-01-07 10:52] flhaz commented on #4359
I was getting this error, I tried to delete the .config/Postman folder after saving IndexedDB
Same error
I downloaded the last version with no more .config/Postman or .config/PostmanCanary folder.
I am now getting

This is not working.

[2019-01-07 11:01] SamvelRaja commented on #4359
@flhaz  Could you try killing all running Postman process and retry?

[2019-01-07 11:11] vpArth commented on #4044
Any progress on this?

It's not too difficult to implement, but too important for users.
Too much apis use custom header authorization.
Several of them changed to custom header authentication from BasicAuth(after I create a collection in Postman).
Should be **a way to map this API change** into Postman.
These API changes are reason differs that issue from #1947

Minimal is simple authorization met

[2019-01-07 12:19] kamalaknn commented on #5050
This should be fixed in the latest version of Postman.

[2019-01-07 12:19] #5050 closed, assigned to numaanashraf

[2019-01-07 12:37] kamalaknn opened #5726 "Clearing history in the App deletes only those on Sync"
**Describe the bug**
When the app syncs, only the latest 100 history requests in any workspace are pulled. As a result clearing the history only deletes those 100 requests on Sync service. If there are more requests in that workspace it becomes impossible to delete them.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Postman App
2. Join a workspace that has more than 100 requests
3

[2019-01-07 12:57] deepakpathania-zz commented on #5644
You can go to https://go.postman.co/me/export to export your Postman data, which is the expected input for `type` file and `import_type` as `exported`, if that's what you're looking for.

The `type` json is basically for importing external specifications, currently Open API, for which the endpoint already has an example.

[2019-01-07 13:17] flhaz commented on #4359
`ps aux | grep postman` returns no result

[2019-01-07 13:54] budajeff commented on #3130
I'm having this problem as well in v6.6.1 on Windows 7. The duplicated request does not have any of parameters, headers, or body copied from the original request.

[2019-01-07 14:06] Schuttrim commented on #1667
+1

[2019-01-07 14:14] abhijitkane commented on #4282
@harryi3t Can you update the status for the fix?

[2019-01-07 14:22] abhijitkane commented on #4218
@sivcan Assigning back to you

[2019-01-07 14:25] abhijitkane commented on #4077
@harryi3t Is this scheduled with the next app release?

[2019-01-07 14:31] bobdesaunois commented on #5713
+1, need this!

[2019-01-07 14:42] abhijitkane commented on #4326
Closing due to inactivity

[2019-01-07 14:42] #4326 closed, assigned to kamalaknn, preethammavin

[2019-01-07 14:50] abhijitkane commented on #4325
Acc. to http://php.net/manual/en/reserved.variables.post.php, $_REQUEST and $_POST are only for multipart-form / urlencoded POST bodies.

I'm using Slim v2 locally, and the following controller definition successfully returned the decoded JSON:
[code]

In Postman:
<img width="838" alt="screen shot 2019-01-07 at 20 19 45" src="https://user-images.githubusercontent.com/681190/50774499-9c2dae80-12b9-

[2019-01-07 15:02] mlb5000 commented on #3137
This is a real hinderance during development of test collections. Even if you populate the `src` portion of a File field in a multipart request directly in the `postman_collection.json`, if you then import it into the Postman application, make changes to **other** requests/add new ones, and then export the collection to a file again (i.e. to save it before sending it up to CI to be executed, or to

[2019-01-07 15:21] #5710 closed, assigned to nobody

[2019-01-07 15:25] abhijitkane commented on #4539
@godfrzero Any updates on this?

[2019-01-07 15:31] abhijitkane commented on #4548
Closed due to inactivity on the support ticket

[2019-01-07 15:31] #4548 closed, assigned to ankit-m

[2019-01-07 15:44] abhijitkane commented on #4501
@zbstof The verbose mode shows a `Note`, not a warning. We're working on adding options for code generators, but I don't expect the default behavior to change unless there's an actual drawback or loss of functionality.

[2019-01-07 15:44] ray-kay commented on #3602
+1
Any update on this?
@ratpik JSON ;)

Thanks devs 👍

[2019-01-07 15:55] abhijitkane commented on #4479
@daraul We have example support for OpenAPI3 specs - you can import those if possible. We'll be updating the Swagger 1.2 importers too.

[2019-01-07 16:20] abhijitkane commented on #3639
@matiashidalgo If you select the whole collection to run, Postman will start by executing the first request in the collection (whether it's in a folder or not), and proceed in order until a setNextRequest command is encountered. After running the specified request, Postman should continue normally.

Collection requests: `r1, r2, r3, r4, r5`
If r2 has `setNextRequest(r4)` in its test script, the ex

[2019-01-07 17:00] abhijitkane commented on #4835
Closed due to inactivity

[2019-01-07 17:00] #4835 closed, assigned to harryi3t

[2019-01-07 17:05] abhijitkane commented on #4844
Closed due to inactivity

[2019-01-07 17:05] #4844 closed, assigned to numaanashraf

[2019-01-07 17:06] abhijitkane commented on #4846
@codenirvana

[2019-01-07 17:27] pomeh opened #5727 "Errors in async functions in scripts are not reported in the UI"
**Describe the bug**
Adding `async` keyword adds side-effects on JavaScript parser

**To Reproduce**
Steps to reproduce the behavior:
1. Test following snippet in Tests tab:

[code]

2. Test the same snippet, only adding `async` keyword before the function:

[code]

**Expected behavior**
Both snippets should behave the same, and should throw an error like 'ReferenceError | myVar is not defined'.

[2019-01-07 17:41] JohnArrowwood commented on #5707
First response:

It's great for novices, but probably a poor solution for power users,
unless implemented skillfully.

Compare JMeter and Gatling.  JMeter uses a visual, node-based model.
Simple things are enabled by the nodes, but it gets increasingly difficult
to do complex things.  Gatling, by comparison, is implemented using a DSL
written in scala.  As a result, you have the full power of an a

[2019-01-07 18:02] pomeh commented on #5606
For information, this bug looks similar to issue #4131 and https://community.getpostman.com/t/using-native-javascript-promises-in-postman/636/5. If confirmed, this is a known issue.

@felipeplets do you know why your workaround works ? This `clearTimeout(interval)` thing drives me crazy, I don't get why this would make the code work ! I would like to use this trick while using `await`, so there is

[2019-01-07 18:04] pomeh commented on #4131
For information, this bug looks similar to issue #5606 and https://community.getpostman.com/t/using-native-javascript-promises-in-postman/636/5. If confirmed, this is a known issue.

[2019-01-07 20:14] nayema commented on #2512
+1

[2019-01-07 20:55] matheusfalcao20 opened #5728 "Failed to import collection ***"
Steps to reproduce the behavior:
1. Go to Import
2. Click on Import From Link
3. Click on Import
4. See error "Failed to import collection ***"

The erro in DevTools is:
Error: folder is not available in the root subtree. 874eda64-3370-487c-9ab0-e4ecaaaf2242
    at __WEBPACK_IMPORTED_MODULE_1_lodash___default.a.forEach.childRef (vendor-shared.js:137575)
    at arrayEach (vendor-shared.js:669)

[2019-01-07 21:10] kclinden commented on #1475
+1

[2019-01-07 21:40] ghost commented on #5283
I think I'm having a similar issue but just to be sure: can you still use these variables even if they don't show up in autocomplete?

[2019-01-07 22:01] ghost opened #5730 "Collection variables not resolving in Collection's "Get New Access Token" window"
**Describe the bug**
Variables declared in Collection aren't resolving in Collection's _Get New Access Token_ window.

**To Reproduce**
1. Edit a Collection
2. Add a new variable to Collection
3. Open the _Get New Access Token_ window
4. Attempt to use variable created in step 2
5. See that variable isn't resolved

**Expected behavior**
Variables declared in Collection should resolve in Collection

[2019-01-08 00:58] hadidotj commented on #5712
Hi @kamalaknn,

I believe **if** the Content-Type header is "application/json", it should be safe to assume the response is **not** JSONP and the *entire response* should try to be parsed as JSON, as [RFC 4627 - The application/json Media Type for JavaScript Object Notation (JSON)](https://www.ietf.org/rfc/rfc4627.txt) outlines that "application/json" should be used strictly for JSON notation, whi