[2019-01-08 02:50] gummie2 opened #5731 "How can I get different responses 200 and 404 for the same request to mock server?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2019-01-08 02:50] gummie2 opened #5732 "Need Specific Requests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2019-01-08 02:52] gummie2 commented on #5732
I have a collection with multiple folders/requests. When running the collection on a monitor, all of the requests are sent but I only need specific requests to be sent depending on the response to the initial request (first request in the collection). Is this possible? If so, how do I do this?

[2019-01-08 02:52] gummie2 commented on #5731
I have setup mock server with endpoint containing two examples (same request, different response one with status 200 OK and one with status 404). The request is basically the same, together with endpoint. How can I get different responses 200 and 404 for the same request to mock server?

Thanks

[2019-01-08 06:02] kthulsidoss opened #5733 "PostMan unable to handle large responses"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**

The issue is with postman handling large responses ~14 MB , the postman UI reports back it  cant find the server

**To Reproduce**
Steps to reproduce the behavior:
The request is of multi -part form request with file handle , w

[2019-01-08 06:04] kthulsidoss commented on #5733
![postman_error](https://user-images.githubusercontent.com/42998906/50812582-57e1f300-1339-11e9-9c90-78ebc22abfe8.JPG)

[2019-01-08 06:04] kthulsidoss commented on #5733
sorry by mistake closed it

[2019-01-08 06:13] codenirvana commented on #5733
Duplicate of #4751
Please follow that issue for updates.

[2019-01-08 06:13] #5733 closed, assigned to nobody

[2019-01-08 06:24] numaanashraf commented on #5732
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-01-08 06:24] #5732 closed, assigned to nobody

[2019-01-08 06:37] michaelhays commented on #5034
This issue appears to be fixed for me after going to Help > Check for Updates in the Postman Linux app, and updating Postman.

[2019-01-08 06:47] krittamk opened #5734 "Error while importing curl"
**Description**
When trying to import a new request from curl Postman says :: Error while importing Curl: TypeError: Invalid format for cURL.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Import'
2. Click on 'Paste Raw Text'
3. Paste the mentioned curl
4. Click on  'Import'
5. See error :: 'Error while importing Curl: TypeError: Invalid format for cURL.'

**Expected behavior**
I sh

[2019-01-08 06:48] #5734 closed, assigned to nobody

[2019-01-08 06:53] Krittam opened #5735 "Error while importing cURL with --compressed option"
**Description**
When trying to import a new request from curl Postman says :: Error while importing Curl: TypeError: Invalid format for cURL.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Import'
2. Click on 'Paste Raw Text'
3. Paste the mentioned curl
4. Click on 'Import'
5. See error :: 'Error while importing Curl: TypeError: Invalid format for cURL.'

**Expected behavior**
I sho

[2019-01-08 07:24] numaanashraf commented on #5735
@Krittam we do not support `--compressed` option at the moment. We have taken this up as a bug and would be fixing in the coming releases. As a workaround, you can remove the compressed option to import this cURL snippet.

[2019-01-08 07:25] numaanashraf commented on #5731
@gummie2 You can use the `x-mock-response-code` header to get these different responses. Detailed documentation is at https://learning.getpostman.com/docs/postman/mock_servers/matching_algorithm/

[2019-01-08 07:25] #5731 closed, assigned to nobody

[2019-01-08 07:27] numaanashraf commented on #5724
@shashankmishra091 Please provide more details about your use case. You can follow the issue template detailed above to provide this info.

[2019-01-08 07:44] IanKemp commented on #2689
How is this incredibly important bug not addressed yet? If I send a request I expect it to have the headers I explicitly set or allowed to be sent via the program's options, I do NOT expect additional headers like `accept-encoding` (name is a violation of the HTTP spec BTW) to be appended! Doing so breaks the whole point of an app that is supposed to allow for testing of HTTP requests!

Postman fo

[2019-01-08 08:04] IanKemp opened #5736 "Native app UI does not conform to Windows style guidelines"
If you're going to ship a "native" app, at least take the time to make it work like every other native app on the particular operating system in question.

* File > Settings should be under Tools > Options... menu
* File > Settings > About tab should be under Help > About menu
* with a request selected in a collection, F2 does nothing - should rename
* Ctrl+F4 does nothing - should close current t

[2019-01-08 08:10] Kiholm commented on #5714
[Test.postman_collection.zip](https://github.com/postmanlabs/postman-app-support/files/2735690/Test.postman_collection.zip)
![2019-01-08 08_38_19-collection runner](https://user-images.githubusercontent.com/14884974/50817773-36770c00-1325-11e9-9d03-79e16cccd442.png)

[2019-01-08 08:49] AnkitMasand opened #5737 "cURL import with '$' in request body are malformed"
I tried importing a sample Curl request from my local machine to the postman app. The import succeeded but some fields in the request-body that had "$" at the beginning of the name, transformed into a blank space.

Steps to reproduce the behavior:
1. Go to postman app
2. Click on import -> paste raw text
3. Paste a sample curl request with a request-body. Eg: {details : {$id :1, name:something }}

[2019-01-08 08:59] IanKemp commented on #2689
To get around this and essentially "unset" the unwanted `accept-encoding` header, manually specify `Accept-Encoding: identity` (see [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding)).

[2019-01-08 09:01] IanKemp opened #5738 "Postman native app always adds "accept-encoding: gzip, deflate" header"
See #2689 (which should be reopened).

[2019-01-08 09:48] numaanashraf commented on #5737
@AnkitMasand Please provide a sample cURL snippet we can use to replicate this issue.

[2019-01-08 10:11] ray-marr commented on #2302
Need this for Xero API integration.

[2019-01-08 10:13] AnkitMasand commented on #5737
Sure. Attaching a sample code.

`curl --location --request POST "https://sample.com" \
  --header "Content-Type: application/json" \
  --data "{
  \"details\": {
    \"$id\": \"11\",
    \"sample\": {
      \"name\": \"ankit\"
    }
  }
}"`

[2019-01-08 12:28] albertotn commented on #5707
@JohnArrowwood thanks for let me know of Gatling! Postman is defined as "Api development platform" and Gatling "performance testing". For me is something that can work together.. but are not the same.
I'm also intrigued by some sort of high level DSL, because draw diagrams is a mess if there is a "big scenario" to model.
I wonder also if, using something like this high level DSL, is possible to an

[2019-01-08 13:35] jvalteren commented on #3977
Same here. I'm trying to login to Exact Online using oauth2, which apparently first does a POST which redirects to GET which then should respond with a location header that has the access token 'code' parameter in the query string (it does in a normal browser).
However, in the DevTools (Current Shell) view in Postman 6.7.0, it show the request in red with status canceled.

**UPDATE (Workaround):**

[2019-01-08 13:41] mickael-palma-argus opened #5739 "Unrelated GET request body appears despite set to none"
**Describe the bug**
This request: https://developer.largus.fr/#dd21e319-cd52-a164-844b-a174bbf034b1
had unrelated body despite being set to `none`.
I had to set to `raw` and save it.
When I switched back to `none` and save it, I had the proper behaviour.

**To Reproduce**
I did not reproduce it since then.

**Expected behavior**
When set to `none` I expect no body on the online documentation.

**

[2019-01-08 14:00] Willem1987 commented on #1667
+1

[2019-01-08 14:04] strikeflare commented on #4594
Not sure if this is the same issue but it may have some similarities:
I downloaded Postman-win64-6.6.1-Setup.exe and installed it on a Windows Server 2012 R2 server. On startup, I got following error:
![image](https://user-images.githubusercontent.com/2511622/50834766-2ecf5b80-1355-11e9-83d4-c701669fa601.png)
After choosing Ok, the splashscreen won't disappear anymore and the GUI won't render eith

[2019-01-08 15:16] zoso200 commented on #4891
Response from Postman Dev on this would be great. It's the one thing that'd holding back my testing using this tool at the moment.

[2019-01-08 15:33] thesilvanator commented on #5322
Any update regarding the ETA?

[2019-01-08 21:05] thetreythomas commented on #3473
+1 - Would love to be able to add color to the console.

[2019-01-08 21:23] timkeeler commented on #5784
Completely agree.

This is a blocker for me currently as I want to show optional parameters in the documentation without having to 'check' the parameter which forces it into the URL.

[2019-01-08 21:44] SunderlandJames opened #5740 "[Linux] Symlinks shown as files in the native file selector"
## App Details:
[code]

## Feature Request:
Recognise Symlinks for directories as directories rather then files to allow traversal for import/export and other related features.

As an example on my machine, I have an SSD and a HDD with my boot and home drive on the SSD. Due to space concerns i have all my home directories (music, pictures, documents, downloads) as Symlinks to the HDD.

Currently P

[2019-01-08 21:56] MatthewRyanRead commented on #5611
It's not related specifically to team creation, just being part of a team at all.  I've seen the same as wspencer where it's only been the last 2 months or so.

[2019-01-08 22:05] JP-from-Postman opened #5741 "GitHub Enterprise Integration Not Syncing behind firewall"
[Filed by Postman Support, on behalf of user]

**Describe the bug**
GitHub Enterprise integration (on-prem) is not syncing anything to the designated repo. All configuration appears to be valid, including a valid repo/branch being selected.

Updates to Collection in question appears to be syncing to Postman servers.

**To Reproduce**
Steps to reproduce the behavior:
_Unknown_

**Expected behavior*

[2019-01-08 22:14] JP-from-Postman opened #5742 "Support for crowd-funding service(s) as billing method"
Add integration with Patreon (or other crowd-funding services) as a billing method, to support indie/open source/decentralized dev teams. This way:

- No one has to use their own credit card
- Subscription payments can be donation-based
- Independent co-developers can each chip in for a team subscription, instead of needing to have one person pay up front and be reimbursed (etc)

[2019-01-09 00:57] thetreythomas commented on #5611
I'm seeing this everyday now as well. I'm also using a workspace and collection that is part of a Team.

Windows 10
Postman v6.6.1

[2019-01-09 01:12] thetreythomas opened #5743 "Postman console is removing extra whitespace"
**Describe the bug**
I don't think this is the same as this one - https://github.com/postmanlabs/postman-app-support/issues/2905...

I'm trying to console.log a table, and when I add extra whitespace, the Postman console is always removing it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Test with a console.log() that contains multiple spaces
Ex. console.log("|     Row 1     |

[2019-01-09 01:13] thetreythomas commented on #5743
Ha, the added whitespace was removed on my example on Step 1.

[2019-01-09 01:19] thetreythomas commented on #5743
Ok, just found something that works. '\xa0'

https://stackoverflow.com/questions/33539797/how-to-create-string-with-multiple-spaces-in-javascript

I guess this is the only way to get this to work?

![image](https://user-images.githubusercontent.com/15376624/50870102-4706a100-137c-11e9-86e1-d24ffe4cb25c.png)

[2019-01-09 02:39] zjh-coder opened #5744 "Authorization OAuth 1.0 can't disable encode OAuth signature"
I used to use Postman for Chrome(Version 5.5.4) and it works fine,.
Recently I upgrade to use the native app, but I can't disable encode OAuth signature in Authorization -> OAuth1.0.
I have to go back to use the chrome version, can you have this feature back or is there any other solutions?

[2019-01-09 02:54] chipallen2 commented on #4253
Any update on this? My collections also got reordered and now the sort icon isn't there next to the add collection button like it is supposed to be so I can't resort them.

I'm on v6.6.1 - windows.

I tried going to https://web.postman.co/me/collections and I don't see a sort button over there either to help me.

[2019-01-09 04:43] abhijitkane opened #5745 "Received a 500 response from the /app_bootstrap called"
Discovered internally at Postman. See linked JIRA issue for more details.

[2019-01-09 06:45] nhunghuynhthihong commented on #4186
Also met the same issue on `6.6.1`

[2019-01-09 07:30] maoz123 commented on #5722
@numaanashraf we are using the navigator object to get some browser related info and create some token related info. Currently, we only check the the three fields : "navigator.userAgent, navigator.appName, navigator.appVersion". Some value type and length in our code will adapt to different kind of browser and version.

[2019-01-09 08:34] abhijitkane opened #5746 "Attempting to upgrade to a paid plan with a problematic card doesn't let me change the card to retry"
See internal JIRA ticket for more

Attempt to upgrade with a card that isn't being accepted by the bank. On retrying, there's no provision to enter a new card and hence no way to upgrade.

[2019-01-09 08:50] abhijitkane opened #5747 "Unable to invite users to a personal workspace"
While sharing a personal workspace, the workspace is converted to a team workspace, but I don't see the invited users.

Discovered internally - see linked JIRA issue for details.

[2019-01-09 10:35] numaanashraf commented on #5738
Duplicate of #2689

[2019-01-09 10:35] #5738 closed, assigned to nobody

[2019-01-09 10:53] abhijitkane opened #5748 "Errors during various auth flows"
Different flows that lead to a new postman.sid sometimes return a 500:

1. Signin
2. Signup
3. Flows that take you from the app to the web dashboard

Discovered internally. See linked JIRA issue for details.

[2019-01-09 11:01] debjeetsarkar opened #5749 "Unable to login to Postman Web Dashboard"
Failures to log in to Postman web dashboard. These happen due to errors when a user session verification fails in the login flow.

Discovered internally. See linked JIRA issue for details.

[2019-01-09 11:09] rathodamol commented on #1434
any updates on this issue?

[2019-01-09 11:39] numaanashraf commented on #3524
@walterpinson We are closing this issue as we are not able to replicate this at our end and the use case seems to work as expected when we follow the steps provided. Feel free to re-open if you are still facing this issue.

[2019-01-09 11:39] #3524 closed, assigned to numaanashraf

[2019-01-09 11:52] debjeetsarkar opened #5750 "Failures while performing user and team management via Postman web dashboard"
These events occur intermittently while trying to save request's session data.

Discovered internally. See linked JIRA issue for details.

[2019-01-09 11:58] debjeetsarkar opened #5751 "Failures in user session verification while trying to sign up via team invitation."
This flow affects signup via invitations to a Postman team, where a user's session couldn't be verified and the user is not able to proceed with the signup process.

Discovered internally. See linked JIRA issue for details.

[2019-01-09 12:00] numaanashraf commented on #4565
@timatanu This is intended. During file export, we remove the internal _postman_ids of all the entities in the collection. While you are using the Postman API, we preserve all the internal ids so that you can identify and continue to work with individual entities via the Postman API.

[2019-01-09 12:00] #4565 closed, assigned to ankitjaggi

[2019-01-09 12:05] numaanashraf commented on #4519
@Toradora270291 Postman does text replacement of the final raw string while replacing the variables. It looks like url and new-lines in the CSV can lead to the final JSON being invalid in your use case. The current recommendation is to make sure that you are passing in the correct encoded values in the CSV so that the final request payload is valid.

[2019-01-09 12:05] #4519 closed, assigned to sivcan

[2019-01-09 12:15] numaanashraf commented on #4509
The current implementation works as designed. Tracking this request as a feature/improvement.

[2019-01-09 12:19] numaanashraf commented on #4515
Duplicate of #3609

[2019-01-09 12:19] #4515 closed, assigned to numaanashraf

[2019-01-09 12:27] sorenhansen-dk commented on #4594
I'm having the exact same problem.

Running Windows 8.1 Pro x64

Same here

**Update**

I can confirm that the canary release works with the environment variable `POSTMAN_DISABLE_GPU=true`

[2019-01-09 12:33] numaanashraf commented on #4887
Closing this as we are not able to reproduce this on the current version of Postman (v6.6)

[2019-01-09 12:33] #4887 closed, assigned to numaanashraf

[2019-01-09 12:57] numaanashraf commented on #5268
@kishoreVIP We are closing this due to lack of info to triage and replicate this issue. Feel free to re-open with the info requested.

[2019-01-09 12:57] #5268 closed, assigned to nobody

[2019-01-09 13:01] numaanashraf commented on #5246
@garychapman Could you elaborate on your issue? This specific issue seems to be on the Postman Echo service.

[2019-01-09 13:06] numaanashraf commented on #5249
Changing this to a feature request as this is an unimplemented functionality.

[2019-01-09 13:14] numaanashraf commented on #5283
@Bibz87-CG Yes you can. They are just not shown in the UI auto-complete.

[2019-01-09 13:19] numaanashraf commented on #5299
@pkgajulapalli It looks like the form-data file is not setup correctly. Did you import this request from cURL or manually create via the Postman UI?

<img width="564" alt="screenshot 2019-01-09 at 6 48 01 pm" src="https://user-images.githubusercontent.com/3295568/50901789-3703c580-143f-11e9-9bef-e2227bb75463.png">

[2019-01-09 13:19] mjendza commented on #4186
Also I have problem with 6.6.1 version

[2019-01-09 13:25] numaanashraf commented on #5323
@danielcooke1996 The cookie string mentioned in the original report is invalid. If you need to add a `AJAXTimeoutLimit=5` cookie, then you need to change the `Cookie_5=value` to `AJAXTimeoutLimit=5`. Check the detailed comment at https://github.com/postmanlabs/postman-app-support/issues/4581#issuecomment-431665553

[2019-01-09 13:25] #5323 closed, assigned to nobody

[2019-01-09 13:27] numaanashraf commented on #5323
@pineapplemachine We have closed this issue as the original issue is resolved. For your issue, could you try using 127.0.0.1 instead of localhost in the cookie domain?

[2019-01-09 13:29] numaanashraf commented on #5336
Related to #4751

[2019-01-09 13:29] #5336 closed, assigned to nobody

[2019-01-09 13:37] dan-cooke commented on #5323
@pineapplemachine yes apologies. I realise that I was inputting the cookie in the incorrect format. Thanks for your help

[2019-01-09 13:51] numaanashraf commented on #5129
@luckerby Custom resolution is not supported at the moment. We'll track this as a feature request and post any updates here.

[2019-01-09 14:04] sujayvenaik commented on #5144
Hey @adadouche
This issue is addressed. You can update the app to the latest version.
Refer:
1. https://github.com/postmanlabs/postman-app-support/issues/5403
2. https://github.com/postmanlabs/postman-app-support/issues/5399

[2019-01-09 14:04] #5144 closed, assigned to godfrzero

[2019-01-09 14:05] ghost commented on #5283
Indeed, I just tried and it does work.

That means #5730 is a different issue, then.

Thanks!

[2019-01-09 14:07] #5167 closed, assigned to numaanashraf

[2019-01-09 14:16] joaosoft commented on #5636
i also have this issue

[2019-01-09 14:23] numaanashraf commented on #5191
Duplicate of #4894

[2019-01-09 14:23] #5191 closed, assigned to nobody

[2019-01-09 14:55] Theemuts opened #5752 "LinkedIn V2-API + 2.0.0 protocol: can successfully perform request with curl, but postman fails"
**Describe the bug**
The LinkedIn V2-API in combination with the 2.0.0 protocol cannot make successful requests to the ugcPosts-endpoints; the response has status 500 with the message that contains a Java ClassCastException.  I I make the same request using curl, everything works as expected.

Unfortunately, in order to reproduce this error yourself, you will need a valid authorization token which

[2019-01-09 15:09] numaanashraf commented on #4692
This has been resolved and is verified on Postman v6.6

[2019-01-09 15:09] #4692 closed, assigned to numaanashraf

[2019-01-09 15:36] pkgajulapalli commented on #5299
Hi @numaanashraf, the problem is resolved after selecting the file through "select file option" as in the [screenshot](https://drive.google.com/open?id=0B3Ttr4V3TQI1T0tKX3Npc2FtQlVWVWVvbFotV3E0bEtqel9R).

[2019-01-09 16:21] pomeh opened #5753 "pm.sendRequest does not store cookies in app"
**Describe the bug**
If I use `pm.sendRequest` to call a service, and this service responds with `Set-Cookie` header(s), those cookies are not stored into Postman UI and not sent with the next "normal request" (without `pm.sendRequest`)

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman native App
2. Empty *all* cookies, for *all* domains

3. Open Postman Console

4. Go to Postman

[2019-01-09 16:23] pomeh commented on #4842
+1

I also need this feature !

For information, I just created a ticket related to `pm.sendRequest` and cookie storage (#5753).

[2019-01-09 16:37] pomeh commented on #5753
As a side note, when I do the `pm.sendRequest` call within the Pre-Request script, the cookies are stored ! This could answer to my use case and can be used as a workaround (use `pm.sendRequest` within Pre-Request and not within Request script).

I should have done this test before opening this ticket. But still, I think this behavior could be useful in some cases.

[2019-01-09 16:42] shershen08 opened #5754 "Chrome interceptor ext opens Chrome Postman app instead of native app"
**Describe the bug**
How to make Chrome interceptor ext to open a native Postman app instead of outdated Chrome app?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Chrome interceptor extension dropdown
2. Click on 'Postman Chrome App'
3. See opening a older chrome app instead of native installed one

**Screenshots**
clicking this
![screen shot 2019-01-09 at 17 40 19](https://user-imag

[2019-01-09 16:59] adherr opened #5755 "Support for RFC 6570 URI templates"
**Is your feature request related to a problem? Please describe.**
We use [RFC 6570 URI Templates](https://tools.ietf.org/html/rfc6570) in our hypermedia API, and I am always frustrated when I click a templated link in a response, because Postman doesn't parse the templated params correctly

**Describe the solution you'd like**
I would like each of the expandable parameters from the URI Template t

[2019-01-09 17:30] FeChagas commented on #3358
+1

[2019-01-09 17:49] Kerruba opened #5756 "Postman pre-request post doesn't work but identical regular request does"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A pre-request script with a POST request for an OAuth token doesn't use provided protocol in the request URL.
Using a regular POST request instead works as expected and return the payload with the OAuth token

**To Reproduce**
S

[2019-01-09 18:06] chrisdeso opened #5757 "PATCH Truncated in documentation"
**Describe the bug**
`PATCH` Requests are being truncated to `PATC` in published documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with a `PATCH` request
2. Publish documentation
3. Navigate to published documentation
4. See error

**Expected behavior**
`PATCH` requests should render as `PATCH`

**Screenshots**
<img width="264" alt="image" src="https://user-im

[2019-01-09 18:26] JohnArrowwood commented on #5707
Correct, Postman and Gatling are not competing tools.

But JMeter and Gatling are.  The point in mentioning them is that what you
have proposed takes you down a similar path that JMeter took. I'm
recommending that you go down the path that Gatling took.  Instead of
trying to shoe-horn everything into a GUI, create a concise, usable DSL
that lets you express exactly what you need to do.  Build a ni

[2019-01-09 18:33] a85 commented on #5707
@JohnArrowwood Agreed. That's exactly we are heading. This was also the underlying reason why we built a Javascript editor in Postman first instead of trying to do everything through a UI. Javascript will probably continue to be the underlying language for the DSL. The UI that we want to build will be on top of the DSL. We see that there is massive friction for people just getting introduced to Po

[2019-01-09 18:36] timkeeler commented on #5784
There also seems to be some inconsistency between `GET` and `POST` requests.

If items in the `POST` body are unchecked they still appear in the published website. In a `GET` request, if items in the params are unchecked they do not appear in the published website.

This is leading to inconsistent formatting in my published documentation.

[2019-01-09 18:53] ghost opened #5758 "Resource area for URL loses focus when using backspace for removing text"
**Describe the bug**
Resource area for URL loses focus when using backspace for removing text.

For instance if I have typed a resource URL for a GET request and I execute the request, and I need to switch the servername.
If I hit backspace until the http:// part and start typing the server name, it will only let me type the first letter.

Example. This is the URL for an example service

http://se

[2019-01-09 19:40] a85 commented on #5618
@abhijitkane Can't seem to replicate this. @ankit-m @preethammavin Can we check issues like this and start closing if they are fixed or can't be replicated?

[2019-01-09 21:10] ray-kay commented on #3117
+1 @a85 any update/timeline on this? I am new to global IT consultant company (16k employees) and I would like to establish Postman as dev. documentation tool #1 but not to being able to document individual fields in a JSON BODY request/response like to you can in swagger is big blocker.

thanks

[2019-01-09 21:29] BenjaminPelletier opened #5759 "Pre-script environment variables do not persist outside of request"
**Describe the bug**
Very similar to #5170, `pm.environment.set` does not create a persistent environment variable when run in a pre-request script.

**To Reproduce**
Steps to reproduce the behavior:
1. File->Settings->General->Enable "Automatically persist variable values"
2. Select an Environment using the Environment dropdown in the upper right
3. Add new request querying `{{host}}`
4. Hover ov

[2019-01-09 21:49] #5756 closed, assigned to nobody

[2019-01-09 21:54] Kerruba commented on #5756
This is not an issue anymore as I was creating creating the script in the wrong way.

For the double POST response, I had two pre-request scripts: one in the collection and one in the folder within the collection

The corrected script uses a different request object. Here the corrected one if anybody stumble upon this ticket and wants to know
[code]

Sorry for any inconvenience

[2019-01-09 23:04] KingdomOfEnds commented on #1104
+1 for me too :) Thanks!

[2019-01-10 01:23] chrisdeso commented on #4850
Closing as we haven't seen much action here :).

[2019-01-10 01:23] #4850 closed, assigned to sujayvenaik

[2019-01-10 01:37] coredumperror commented on #4726
Just discovered this bug in Postman and lost 40+ minutes to hair-pulling frustration at seeing my webserver clearly respond as normal to my POST requests, only for Postman to say "it didn't work" with absolutely no information in regards to *how* it didn't work.

Please fix this!!

[2019-01-10 02:44] garychapman commented on #5246
@numaanashraf I'm seeing it on Postman v6.7.1 in Pretty view only (Raw and Preview are ok).

I've highlighted the _AvgCost_ value where Postman has removed the trailing decimal zero.

![image](https://user-images.githubusercontent.com/2315465/50942641-797bdf80-14dd-11e9-82d4-3177c946e8ab.png)

[2019-01-10 08:16] albertotn commented on #5707
@a85 cool a nice DSL is a plus, but decide what is a "nice" DSL is the hard part for sure. From user perspective it would be great if Gatling and Postman share same DSL (some kind of "standard" involved here?) so I can switch or reason on same language, I'm asking too much I know it!

About gui: data flow, do you mean somthing like [Pentaho](https://www.hitachivantara.com/en-us/products/big-data-i

[2019-01-10 08:52] ankit-m commented on #5627
A fix for this has been deployed.

[2019-01-10 08:52] #5627 closed, assigned to dhineshwiz

[2019-01-10 09:05] sujayvenaik commented on #5692
This is fixed in the latest version v6.7.1

[2019-01-10 09:05] #5692 closed, assigned to sujayvenaik

[2019-01-10 09:06] sujayvenaik commented on #5515
This is fixed in the latest version v6.7.1

[2019-01-10 09:06] #5515 closed, assigned to sujayvenaik

[2019-01-10 09:07] bhargavkaranam commented on #5673
This has been fixed in the latest version of the app (v6.7.1)

[2019-01-10 09:07] #5673 closed, assigned to bhargavkaranam

[2019-01-10 09:07] bhargavkaranam commented on #5668
This has been fixed in the latest version of the app (v6.7.1)

[2019-01-10 09:07] #5668 closed, assigned to bhargavkaranam

[2019-01-10 09:11] numaanashraf commented on #5299
@pkgajulapalli Thanks for the confirmation. I've renamed this to reflect the root issue.

[2019-01-10 09:56] vkaegis commented on #2385
Aaaand it's in production! Feel free to open another issue if you have feedback around the implementation.

[2019-01-10 09:56] #2385 closed, assigned to a85, vkaegis

[2019-01-10 10:09] vkaegis commented on #5054
You can now fork collections and merge changes back between them (as of v6.7.1).

For this exact use case, this means that the collection whose documentation is published can be maintained as a fork of the main collection, and you can merge changes back to it as and when required.

Closing this issue for now, feel free to open another issue if you have any feedback around the implementation!

[2019-01-10 10:09] #5054 closed, assigned to vkaegis

[2019-01-10 10:13] vkaegis commented on #3795
Hey guys, you can now fork collections and merge changes back between them (as of v6.7.1).

What this means in the context of this particular use case is that you can now maintain the collection which has published documentation as a fork of your main collection, and pull changes from the master as and when required. Or you can create your own workflows around this.

Closing this issue for now, fe

[2019-01-10 10:13] #3795 closed, assigned to vkaegis, sankalp0o

[2019-01-10 10:15] vkaegis commented on #3729
Hey guys, you can now fork collections and merge changes back between them (as of v6.7.1).

This gives you a lot more granularity on what changes you want to merge back into a collection which multiple people are working collaboratively on. We'll be building further improvements on this, such as a review process for merge requests, and once we have role-based access control in place (coming soon),

[2019-01-10 10:15] #3729 closed, assigned to vkaegis

[2019-01-10 10:21] vkaegis commented on #2740
Hey guys, you can now fork collections and merge changes back between them (as of v6.7.1).

This fits in to your exact use case as your original collection or "master" can be forked to create multiple "normal" collections, and changes to the normal ones can be merged back into the master as and when required.

Closing this issue for now, feel free to open another if you have more feedback around t

[2019-01-10 10:21] #2740 closed, assigned to a85, vkaegis

[2019-01-10 10:24] vkaegis commented on #2463
Hey guys, you can now fork collections and merge changes back between them (as of v6.7.1).

What this means in this particular context is that your one massive collection can be treated as sort of a "master" collection from which you can create forks for your functional tests. Changes to the master collection can be pulled into the forks and changes to the tests in the forks can also be merged bac

[2019-01-10 10:24] #2463 closed, assigned to a85, vkaegis

[2019-01-10 10:27] vkaegis commented on #2315
Hey guys, you can now fork collections and merge changes back between them (as of v6.7.1).

This provides a basic level of versioning and being able to manage changes between collections. We'll also be adding integrations to native git systems which can work with our versioning constructs, and also allow tagging of collection versions which can map with your changes to code repos. No ETA on all th

[2019-01-10 10:53] ezenwankwogabriel commented on #5636
Same issue here

[2019-01-10 10:57] sdnts opened #5760 "Feature Request: It'd be nice to see all collections' fork labels when saving a request"
👋 Hello!

App: Postman @ 6.7.1

**Is your feature request related to a problem? Please describe.**
I find it difficult to differentiate between forked collections when saving a request

**Describe the solution you'd like**
An indicator for forked collections in the collection explorer in the Save Request modal (maybe the fork label?)

**Describe alternatives you've considered**
Currently, I can re

[2019-01-10 14:13] Katobring commented on #5759
I am seeing the same behaviour in Version 6.7.1 (6.7.1) on mac. Very frustrating indeed.

[2019-01-10 14:25] Katobring commented on #5759
One additional detail:
My request is set to print environment variables to console as a test step, and the variables are correctly displayed in the object that's returned. They do not show (or can be read) in the actual environment file when opened/viewed in the postman app.

[2019-01-10 14:48] fossterer commented on #2022
@riffad1 See the comment above yours https://github.com/postmanlabs/postman-app-support/issues/2022#issuecomment-418602252 . I upgraded to 6.7.1 and I have the same issue. Though I need to figure out what I need to bring back to have all my collections. Instead of deleting the folder, I renamed it to be something irrelevant. @abhijitkane  @czardoz

[2019-01-10 14:50] echhung1-zz commented on #1669
this is taking a while =(

[2019-01-10 15:09] fossterer commented on #2022
Found it! Look for a folder named "IndexedDB" inside .config/postman . By copying it from my renamed folder to newly created folder (after starting app once and then closing), I got all my Collections and Tests back.

Still waiting for a response to see how to get Environments etc. back

[2019-01-10 15:32] craigstjean-wf commented on #3057
@a85 what is this a duplicate of?  As others have mentioned, this would be very valuable for MuleSoft developers (such as me).  Thank you!

[2019-01-10 15:33] taozhi8833998 commented on #1669
Any updates on this feature??  I hava to switch to Insomnia for testing graphql api now

[2019-01-10 15:35] JohnArrowwood commented on #5707
@albertotn - the only way Gatling and Postman can share the same DSL is if
Postman were completely re-written from scratch using Scala, and it
compiled and ran Scala code for its scripting language.  That's asking an
awful lot.  Sure, it would be cool if you could use the same code for both,
but even as a Gatling enthusiast, I think it's asking too much.  The
problem domains are too different.

Mo

[2019-01-10 16:37] harryi3t commented on #5759
I was not able to reproduce this and it works as expected.
That being said, we have seen [some cases](https://github.com/postmanlabs/postman-app-support/issues/5039) where users on Linux were facing this issue. This was because of the way they were updating their Apps. Here's the link to the short post-mortem explaining the issue and the fix https://github.com/postmanlabs/postman-app-support/issue

[2019-01-10 16:45] mdickin commented on #1719
I don't know why this is closed, I still frequently have issues using the scroll wheel inside the response. It seems there's some distinction between scrolling while the cursor is over the left half of the text area versus the right. But then sometimes it doesn't work over the left either.

I'm using Windows desktop v6.6.1

[2019-01-10 17:02] dbkaynor commented on #2011
I have a collection that works fine in runner but will not run with Newman. The issue is that the collection level variables do not seem to be exported so Newman cannot find them. I see there is a way to import an environment (-e, --environment [file|URL]) but I do not know how to export the environment.

[2019-01-10 17:03] dbkaynor opened #5761 "Collection variables not working with newman"
I have a collection that works fine in runner but will not run with Newman. The issue is that the collection level variables do not seem to be exported so Newman cannot find them. I see there is a way to import an environment (-e, --environment [file|URL]) but I do not know how to export the environment.

[2019-01-10 17:42] BenjaminPelletier commented on #5759
There is unexpected behavior in 6.6.1 on Windows (the version I just installed recently).  The behavior is as expected in 6.0.7 on Linux (which I have been using for a while).

I am very surprised you can't reproduce this issue; my Windows installation is nearly brand new with no previous installation on the machine and the repro steps are short and simple.  When you say "works as expected", what

[2019-01-10 18:00] BenjaminPelletier commented on #5759
Well, I went to do a screen recording and now I can't reproduce (things seem to work properly now).  I hadn't even closed Postman since I was reproducing to write this bug.  I did create a new collection and environment to practice for the screen recording and at that point noticed that my DMX environment (which you can see existed and that I had selected on the screenshot) had disappeared.  After

[2019-01-10 18:02] lostless13 commented on #4253
Second this feature. Have to manually sort a large request collection is really frustrating. The ability to sort by folder/request name would be a big improvement.

[2019-01-10 18:40] 0xjorgev commented on #5591
Did 2 things, did moved the postman App to ~/Applications instead of /Applications and did deleted the folder that @mmahmoodictbd did mention and got it working, this happened to me on 2 different macs

[2019-01-10 19:13] bvisin commented on #4901
Any idea when this will be fixed?

[2019-01-10 19:43] jscavalcante commented on #3566
Its Working for me. THX...

[2019-01-10 19:48] KingdomOfEnds commented on #1104
**Ninja update:** Not sure if this will help anyone else but there is a workaround for a specific scenario where you have multiple file types / content types being uploaded in a single multipart POST request.

1. Set the Header `Content-Type` to `multipart/mixed`.
1. Select the `form-data` option in `Body`.
1. Convert all of your items into files. String content should become a text file, etc.
1.

[2019-01-10 20:03] stedwick commented on #1669
Switching to insomnia for now...

[2019-01-10 20:07] kgilfilen commented on #1788
I am having this problem right now, with 6.7.1.  Looking at the column that shows which request you’re running, it shows requests from other folders. So now my collection runner is not going to the next folder, and I don’t know which request to look at.

[2019-01-10 22:04] tmdoit-zz opened #5762 ""Bad string" error when trying to use variable in JSON example response"
Value is integer, I don't want to put it inside double quotes. Error doesn't affect test, which runs properly.
![screenshot 2019-01-10 at 22 57 46](https://user-images.githubusercontent.com/26081817/50999960-f9c93180-152b-11e9-8623-fc5b479f4de6.png)

Postman Version 6.6.1 (6.6.1)

[2019-01-10 22:26] nagelm commented on #3566
Yes @furick1 's example does work but I have to manually configure for each request. I can abstract the b64 token to an environment variable but there does not seem to be a way to add a new header automatically with each request.

[2019-01-10 22:40] tmdoit-zz opened #5763 "Dynamically generated values in pre-request script are not evaluated for docs - always is used current variable value"
**I have some tests (POST {{url}}/users):**
- CreateUser-InvalidEmailAddress-NoAtChar
- CreateUser-InvalidEmailAddress-NoDotChar
- CreateUser-InvalidEmailAddress-NotAtLeastOneCharBeforeAt

**JSON body for request defined in Postman:**
[code]

**I have JSON data object set to env dataObj:**
[code]

**Pre-request Script section:**
[code]

For each test I set new value for "e-mail" variable from data

[2019-01-10 22:43] JP-from-Postman commented on #5741
Update: issue turned out to be caused by host firewall. Feel free to either close, or maybe there's room for a feature request of some kind about logging failures/alerts?

[2019-01-11 01:11] whomakemecrazy commented on #5194
+1

[2019-01-11 01:23] archomai commented on #5194
+1

[2019-01-11 04:38] harryi3t commented on #5574
@kid1412621 @sabatesduran @Deus-Rex @edo9k
This is fixed in the latest version of Postman 6.7.1
It should update automatically or you can manually refresh also.

[2019-01-11 04:38] #5574 closed, assigned to harryi3t

[2019-01-11 04:58] harryi3t commented on #5759
@BenjaminPelletier That is expected. When there is no environment selected and from the script, you are trying to set a variable, it's value is thrown away (since there is no target environment available to save it into)

@Katobring Are you able to reproduce this consistenly?

[2019-01-11 04:59] harryi3t commented on #4077
@abhijitkane @paul3291 This has been fixed in the latest version of the Postman v6.7.1

[2019-01-11 04:59] #4077 closed, assigned to codenirvana, harryi3t

[2019-01-11 05:21] harryi3t commented on #4085
This has been fixed in the latest version of the Postman v6.7.1

[2019-01-11 05:21] #4085 closed, assigned to kunagpal

[2019-01-11 05:21] sujayvenaik commented on #5632
This is fixed in the latest v6.7.1

[2019-01-11 05:21] #5632 closed, assigned to nobody

[2019-01-11 05:51] abhijitkane opened #5764 "The correct monitoring region list isn't shown in the monitoring details page"
If I update a monitor from running on 2 regions to 1, older jobs in the detail page will still show the updated region list (1 region) in the dropdown, even though they ran on 2 regions. The dropdown should reflect the region list from the actual run, not the current state of the monitor.

Seen on the Postman web dashboard 2.11.3.

[2019-01-11 06:20] kamalaknn commented on #5494
This issue has been fixed in Postman 6.7.1

[2019-01-11 06:20] #5494 closed, assigned to nobody

[2019-01-11 06:24] kamalaknn commented on #4461
We've updated `postman-runtime` to the version that includes the fix for this in Postman 6.7.1. That should fix the ordering issues you've been seeing.

Please update your app and let us know if you are still seeing this.

[2019-01-11 06:24] #4461 closed, assigned to codenirvana

[2019-01-11 06:27] kamalaknn commented on #5682
We've pushed the fix for this in Postman 6.7.1 😄

[2019-01-11 06:27] #5682 closed, assigned to numaanashraf, codenirvana

[2019-01-11 06:31] BenjaminPelletier commented on #5759
Right, it is expected for variables not to be saved when there is no environment selected.  But note step 2 of the repro procedure and observe that my screenshot has an environment selected.  I don't know how to reproduce exactly, but it appears that sometimes Postman indicates an environment is selected when there really is no environment selected.

[2019-01-11 06:54] kamalaknn commented on #3592
We've pushed a fix for this in the latest version Postman 6.7.1. Could you update and lets us know if you're still facing any issues?

[2019-01-11 06:54] #3592 closed, assigned to codenirvana, kunagpal

[2019-01-11 07:11] peter-janssen opened #5765 "Postman closes if incorrect passphrase is used for a key file"
**Describe the bug**
Postman on debian closes if incorrect passphrase is used for a key file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Certificates' tab in 'Settings'
2. Click on 'Add certificate' and fill in hostname, certificate path, key path and an _incorrect_ passphrase
3. Close 'Settings' and try to call an endpoint needing tls
4. The app chrashes and closes.

**Expec

[2019-01-11 08:09] gardwired commented on #5396
I have to say that making duplicate tab not really create a new independent tab seriously violates the "principle of least surprise"  it just isn't intuitive and invites confusion.  simple tabs should work simply. if there is a need to keep them linked then come up with some other name/process that doesn't sound like making a separate copy.  just my 2 cents.  postman is a joy but this makes no sen

[2019-01-11 08:38] dannyhajj commented on #3592
Works as expected now! Thanks!

[2019-01-11 11:13] Ramya-From-Postman opened #5766 "Allow the ability to transfer collection ownership while revoking user role permission for any member of team"
Currently, if you revoke the user role for any member of a team, the other users in the team workspace will lose access to the shared collections created by that user.
It would be great if there is an option to given to transfer the ownership of the collections owned by the user to a different user before revoking the user access.

**Note**: Deleting the user is not an appropriate solution as the

[2019-01-11 11:48] jakubfijalkowski commented on #5766
It might also be good to make collections without owner so that they always belong to a workspace even if the user leaves it.

[2019-01-11 12:45] harryi3t commented on #4775
@santhoshanna Closing this since it looks like the issue is with the Oauth2 provider itself and that it does not support implicit grant type.
Feel free to re-open if that is not the case.

[2019-01-11 12:45] #4775 closed, assigned to harryi3t

[2019-01-11 13:38] Katobring commented on #5759
@harryi3t  I realised the behaviour I see is slightly different.

What I see is that variables set as part of a run via the runner, where I only run a sub-sub folder in a collection, are not persisted in the environment file.
The folder structure is

collection
- setup
- test
-- test1
-- test2 etc.
- tear down

There are three request in the the setup folder which set a number of environment varia

[2019-01-11 15:36] nac0n commented on #3566
@nagelm One way is to put all requests in a folder which holds the authorization header. Then with each new request just use the "Inherit auth from parent" type for authorization. This isn't a real fix but could ease the workflow for now.

[2019-01-11 16:43] vladah commented on #5682
Thanks guys!

Vlad

[2019-01-11 16:50] hogank commented on #1667
+1

[2019-01-11 16:52] shaunc869 commented on #5350
Same here, not working.

[2019-01-11 18:38] vinguan commented on #3418
Is there a way to do this yet?

[2019-01-11 20:11] JohnArrowwood opened #5767 "Add a function to interpolate a string, injecting variables from the environment"
Suggest adding a function that will take in a string, and interpolate environment variables exactly the way they are in other parts of the application, such as the url, request parameters, etc.

For example: compare the way we have to do it today:

    let url = pm.variables.get("PROTOCOL") + "://" + pm.variables.get("ADMIN-SERVER") + pm.variables.get("TOKEN-SERVICE");

To what it might look like

[2019-01-11 22:00] antoniobaiao commented on #7134
@shamasis any news about this?

[2019-01-11 22:21] lfir commented on #5034
I tried this and Postman's directory size went down from 3 GiB to 450 MiB.

[2019-01-11 22:38] nagelm commented on #3566
I am already using "inherit auth from parent" for the app auth but I hadn't thought to try it with another folder layer above for the proxy auth. Not sure if it will be possible if you are already using inheritance for app auth but thanks for the tip, I'll give it a go!

[2019-01-11 23:08] malammar commented on #2902
Does the focus sidebar hotkey not work anymore? I can't seem to find it on mac.

[2019-01-12 07:50] vkaegis commented on #5760
Thanks for writing in @madebysid! 😄 This is definitely on the cards in terms of short term improvements to the forking and merging flows. Stay tuned for updates!

[2019-01-12 20:06] Alexei000 opened #5768 "Issuing a GET request with NTLM authentication [beta] and HTTPS endpoint closes the application"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I am trying to perform a GET request against a localhost https url that uses NTLM authentication. I am using the default settings except for SSL certificate verification (turned off). Doing this closes the application after abou

[2019-01-13 04:16] benwinding commented on #4551
Also encountering this issue

[2019-01-13 04:38] kamalaknn commented on #5702
@codenirvana @sujayvenaik Were you able to reproduce this issue?

[2019-01-13 04:42] sujayvenaik commented on #5702
@kamalaknn Yes, when you edit the key for the content type header and export, it's exporting two headers.

[2019-01-13 04:42] kamalaknn commented on #4176
I just tried this out on the latest version 6.7.1 and it seems to be working.

I'm closing this issue. Please let us know if you're still seeing this issue.

[2019-01-13 04:42] #4176 closed, assigned to numaanashraf

[2019-01-13 04:48] kamalaknn commented on #3216
@jzabroski I think the issue you have been experiencing is related to large responses slowing down Postman. We are tracking it as part of https://github.com/postmanlabs/postman-app-support/issues/4751

@zeleznickm @MeaningOfLights We pushed some improvements to the request handling and environment update infrastructure couple of versions ago. Could you give the latest version a try and let us know

[2019-01-13 05:07] kamalaknn commented on #3199
We've added `ajv` library to the sandbox scripts. This should be available in Postman native apps starting from 6.7.1.

[2019-01-13 05:07] #3199 closed, assigned to shamasis

[2019-01-13 05:36] sujayvenaik commented on #4367
Hey @nickm8
I just tried this out on the latest version 6.7.1 and it seems to be working.
I'm closing this issue. Please let us know if you're still seeing this issue.

[2019-01-13 05:36] #4367 closed, assigned to sujayvenaik

[2019-01-13 06:53] thetreythomas commented on #285
I'll go ahead and throw my +1 in the ocean.

@a85 - Any updates on on this comment you made:

After reading all the use cases above, mine is a little different. I want to be able to choose a path a test might go down.

1. Run a GET
2. If the previous GET is a 200, prompt the user how they want to continue.
3. For example... Just run the rest of the collection on a specific piece of hardware
4. Or

[2019-01-13 09:56] vosamoilenko commented on #697
+1

[2019-01-13 10:43] pomeh commented on #4845
This issue looks similar to #882 and #4193. Maybe you'll find some solutions in those threads (and maybe this one could be closed ?).

[2019-01-13 10:45] pomeh commented on #4193
This issue looks similar to #882 and #4845. Maybe you'll find some solutions in those threads.

[2019-01-13 10:46] pomeh commented on #882
This issue looks similar to #4193 and #4845. Maybe you'll find some recent solutions in those threads.

[2019-01-13 17:13] filipkratochvil commented on #4171
Guys, please fix it...

[2019-01-13 22:52] AuriR commented on #4171
Can you just open source it and I'll fix it? :)

[2019-01-13 23:48] wimgielis opened #5769 "Feature request: Format single filed objects in JSON values in single line"
Hi,

In (my) JSON output for a IBM Cognos TM1 REST API query, I get pairs of "Name": "name", which is correct. But the curly braces { and } are formatted on different lines. So each pair takes 3 lines in the output. Would it be possible to show each pair on 1 line ? That makes it easier to check/read, less scrolling, etc.

Version: I just upgraded to the latest version.

Many thanks ! Keep up the

[2019-01-14 01:00] mannharleen commented on #492
Any update on this ?

[2019-01-14 04:08] MetalJacx commented on #3290
Any update on this. Though with SSL certification verification off works for most api. I have now run into an issue where the API will not accept non ssl cert verification. My cert is accepted as trusted root on my system but postman refuses to leverage or see this cert.

[2019-01-14 04:23] DviK2 commented on #1667
+1

[2019-01-14 07:04] dhineshwiz commented on #3302
This is fixed in the latest version.

[2019-01-14 07:12] mikem commented on #3302
Which version is that? I just tried 6.7.1 and the issue still persists.

In fact, repeating the steps in the initial report, I see two `Accept` headers.

[2019-01-14 07:36] abhijitkane opened #5770 "Enterprise customers unable to sign in / download certificate"
Team using ADFS 4.0.

Internal ticket - see attached JIRA for details

[2019-01-14 08:18] kamalaknn commented on #5761
Hey @dbkaynor

The collection variables are stored and exported as part of the collection itself. Can you verify the collection JSON for `variable` or `variables` property?

[2019-01-14 08:21] dhineshwiz commented on #3302
hey @mikem, i just verified in v6.7.1, a request with two `Accept` headers and one disabled, the postman console doesn't render the disabled headers

<img width="1042" alt="screenshot 2019-01-14 at 1 49 35 pm" src="https://user-images.githubusercontent.com/10631268/51102036-56b23980-1803-11e9-880e-03edfcd51a58.png">

[2019-01-14 08:27] Alslinet opened #5771 "Sign DLLs installed with postman."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When doing whitelisting With Microsoft Application Control or Applocker, its useful to be able to allow code signed With a specific signature to run. This makes Your rules Version independant.

But in postmans case the DLL files

[2019-01-14 08:54] Miq3l commented on #3302
Hi @dhineshwiz ,
I'm just now experiencing the same issue. I'm using v6.7.1 in Windows .
All the best,
Miquel

[2019-01-14 08:56] kronnakrit commented on #1667
+1

[2019-01-14 09:41] pomeh commented on #5767
Very nice idea @JohnArrowwood !

I've written my own simple function to do that:

[code]

Right now, it doesn't handle unexisting variables, regex is over-simplified etc. but it works for simple cases.

[pm.variables.get](https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/#pmvariables) will read variables from Iteration Data, Environnement or Global scope (the one t

[2019-01-14 11:40] vbob commented on #2707
AltGr + W is the shortcut for Question Mark ('?') on Brazilian Portuguese ABNT2 Keyboard.

On Postman, it closes the current tab, making it impossible for me to type '?'.

[2019-01-14 12:27] Martin91 commented on #1667
We absolutely need this feature! Currently I have to use Postman Chrome app in order to use the feature. But as known, [Google is phasing out Chrome apps for Mac and Windows ](https://www.engadget.com/2016/08/19/google-ending-chrome-apps-for-mac-and-windows/), I am afraid that I can not find any backup solution before that.

[2019-01-14 13:20] mikem commented on #3302
@dhineshwiz I forgot to specify that I'm looking at the Raw version of the request in the console, not the pretty version as in your screenshots. Here's what I see:

<img width="763" alt="screen shot 2019-01-14 at 21 16 42" src="https://user-images.githubusercontent.com/62569/51115058-19b96780-1842-11e9-996f-a97ed15f6ad9.png">

<img width="777" alt="screen shot 2019-01-14 at 21 17 19" src="https:/

[2019-01-14 14:18] bharatup opened #5772 "POSTMAN desktop app is getting crashed after the latest update."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

POSTMAN desktop app is getting crashed after the latest update.

**Describe the bug**
After updating postman to latest version 6.7.1 the POSTMAN desktop app is just loading asking to reach out to support. PFB the screenshots
![postman1](https://user

[2019-01-14 14:40] A77AY commented on #1667
Could you answer about the current status of this feature? @a85 @abhijitkane

[2019-01-14 15:25] piersjones commented on #1667
+1, really need to authenticate in Chrome so I can use Postman in my workflow.

[2019-01-14 15:45] GuilhermeMorais commented on #3331
I could send JSON files with Postman, in Windows 10:
   1 - I save as JSON extension (Like @sify21)
   2 - But I put it on the path "c:\fileName.json" Then it worked!

I hope it helps others.

[2019-01-14 15:49] chrisron95 opened #5773 "When the only tab open is the default untitled request, opening a call should replace that tab"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

When no tabs are open, the default `Untitled Request` tab opens. That's fine, but when I open a call, it should replace that default tab if nothing has been done in it. The op

[2019-01-14 16:37] GregoryPellegrin commented on #4142
come on guys, we need this feature :)

[2019-01-14 17:18] pbassut commented on #5772
I'm getting an issue here as well but it's regarding authentication. It's saying the app is having trouble connecting to their authentication service.

[2019-01-14 17:44] neumann1990 commented on #4092
@sivcan Pinging again to keep visibility on this issue. I've just run into the same problem myself.

[2019-01-14 18:44] xalimar commented on #3290
This is basic SSL validation, this needs to be added to your roadmap.  Please don't contribute to users thinking it is OK to disable certificate validation.

[2019-01-14 19:22] Achilles1515 opened #5774 "Unable to update from within the application"
Sorry if this has been posted before, but I couldn't find a similar issue.

If I click on "Help" --> "Check for Updates", or check for updates through the settings, the application correctly identifies that I am not on the latest version (I am currently on 6.6.1 for Windows).

![image](https://user-images.githubusercontent.com/23387905/51135130-50be5780-1807-11e9-9887-b050266fc734.png)

I then cli

[2019-01-14 22:31] bnymn commented on #4029
Hi @numaanashraf ,

Would you please use the following configurations?

### With POST (Working)
![screenshot from 2019-01-14 20-30-31](https://user-images.githubusercontent.com/3506402/51145553-4ddd5a00-183b-11e9-81ff-f415112eaff8.png)

### With PUT (Not Working)
![screenshot from 2019-01-14 20-31-07](https://user-images.githubusercontent.com/3506402/51145588-6cdbec00-183b-11e9-8ad1-93fa9817d476.p

[2019-01-14 23:04] kgilfilen commented on #3639
I have the same problem; here is my structure:
a. pre-request to get token

1. Post
a. check if done using GET
b. check if done using GET, if done set next request to 2
c. check if done using GET, if done set next request to 2
d. check if done using GET, if done set next request to 2

2. Post
a. check if done
b. check if done using GET, if done set next request to 3
c. check if done using GET, if

[2019-01-15 05:01] sujayvenaik commented on #5773
Hey @chrisron95
This behaviour has been up since the time we made a refactor to our tabs layer.

For the Untitled Requests, we are working on a no tab state which is on our roadmap and will eventually help to get rid of this problem. cc: @vkaegis

[2019-01-15 07:05] rogsa commented on #1667
+1

[2019-01-15 07:52] Satak commented on #5529
Can we change the 5 minute timeout somewhere? I have the same issue, getting these in the end: `Error: callback timed out`

[2019-01-15 07:56] Satak commented on #3171
We have the same issue. Hitting the 5 minute mark because we have long running tests. Please increase this to 10 minutes.

[2019-01-15 08:27] MuntzMathias commented on #5636
Same issue here Version 6.7.1 OSX

[2019-01-15 09:05] akshitkrnagpal commented on #5761
@dbkaynor
I think you are confusing Collection Variables with Environment Variables.

Collection Variables are found in a Tab named `Variables` when you are editing the collection. These values (*initial value not current value*) are exported with the collection. They will be accessible when you run a collection with Newman.
See [Defining collection Variables](https://learning.getpostman.com/docs/

[2019-01-15 09:06] slootjes commented on #3687
Also have this with _Postman-win64-6.7.1-Setup.exe_ on a Windows 10 Pro machine.

I managed to install after deleting the folders **Postman** and **SquirrelTemp** from **C:\ProgramData\_username_**. Hope it helps others ;)

[2019-01-15 09:15] meetDeveloper opened #5775 "The pre-request written in editor is not the one executed."
I wrote a pre-request script and saved it and then when I tested, the executed script was not the current script but the earlier script. Maybe the action when I saved script was not trigger so the earlier script is running.

[2019-01-15 09:19] kamalaknn commented on #5081
We've fixed an issue where assertions from pre-request scripts were not shown in the Runner.

The fix is available on the latest version of the native apps. Please update and let us know if there are any issues.

[2019-01-15 09:19] #5081 closed, assigned to kamalaknn

[2019-01-15 09:33] PhanNN commented on #1066
+1 Please :)

[2019-01-15 10:51] Kiholm commented on #5714
any news on this issue?

[2019-01-15 11:00] phcoliveira commented on #3795
@vkaegis, while I appreciate having version control on Postman, I would like to point out that it is not as straightforward as using GIT.

Pulling changes from origin seems to be some sort of accident which is recommended to comply, rather than actively choosing to pull.

You see, this can not be seen as having a master and a develop branch, because public branch (develop) is not supposed to be me

[2019-01-15 11:08] BrambleRamble commented on #3574
I can still reproduce this in v6.7.1.

[2019-01-15 11:27] crustater commented on #5081
Thank you, I can confirm it works in 6.7.1. BTW I cannot see how to
update/close ticket

On Tue, 15 Jan 2019, 09:19 Kamalakannan <notifications@github.com wrote:

[2019-01-15 11:50] sankalp0o commented on #3795
@phcoliveira thanks for the detailed explanation! Version control management is definitely difficult to implement than a simple boolean property but it allows for a much greater flexibility in what you want to show/omit or change for public view. Your rationale about an explicit "pull from origin" action sounds good and we will definitely consider this.

[2019-01-15 11:50] phcoliveira opened #5776 "Hide requests on published docs (in response to #3795)"
@vkaegis, while I appreciate having version control on Postman, I would like to point out that it is not as straightforward as using GIT.

Pulling changes from origin seems to be some sort of accident which is recommended to comply, rather than actively choosing to pull.

You see, this can not be seen as having a master and a develop branch, because public branch (develop) is not supposed to be me

[2019-01-15 12:15] vkaegis commented on #5776
@phcoliveira Thanks for writing in! Pulling changes from the parent is something we're actively working on and should be out in a few weeks.

Regarding the simpler "boolean property", our general principle while working on features is to assess impact and provide solutions that can help a large community of our users. This helps us to prioritize issues as well as design solutions which can solve m

[2019-01-15 12:33] phcoliveira commented on #3795
@sankalp0o, thank you for your readiness, but let me comment on your business rather than on your software.

Hiding requests or entire folders on the published docs is a feature that has been requested for a long time, and yet you keep saying that it will be considered or something better is yet to come.

Having version control management to filter what should or should not be displayed to the pub

[2019-01-15 12:40] phcoliveira commented on #5776
@vkaegis, thank you for your readiness, but let me comment on your business rather than on your software.

Hiding requests or entire folders on the published docs is a feature that has been requested for a long time, and yet you keep saying that it will be considered or something better is yet to come.

Having version control management to filter what should or should not be displayed to the publi

[2019-01-15 13:19] felipeplets commented on #5606
@pomeh I don't know exactly why it works, but I imagine that the timeout make the session stay open while Promise and Async/Await is not doing that.

[2019-01-15 13:35] numaanashraf commented on #1196
Detailed assertion errors are available on Collection Runner from Postman v6.6

[2019-01-15 13:35] #1196 closed, assigned to nobody

[2019-01-15 13:41] sujayvenaik commented on #5497
@Ramya-From-Postman  This issue is fixed in the latest v6.7.1.

[2019-01-15 13:41] #5497 closed, assigned to kamalaknn

[2019-01-15 14:03] numaanashraf commented on #5019
Bulk find and replace is available in the stable version of Postman now

[2019-01-15 14:03] #5019 closed, assigned to numaanashraf

[2019-01-15 14:04] AndrewBoryk commented on #1070
This would be AMAZING, that way I can make sure all my API docs show the success response first

[2019-01-15 14:06] numaanashraf commented on #5007
@lewisvoncken Could you provide a sample file to help us to replicate this issue?

[2019-01-15 14:27] kamalaknn commented on #5081
Thanks @crustater for the confirmation. I've closed the ticket.

[2019-01-15 14:32] numaanashraf commented on #5257
Duplicate of #5276

[2019-01-15 14:32] #5257 closed, assigned to nobody

[2019-01-15 14:54] numaanashraf commented on #5714
@Kiholm It looks like your tests expect your API to return a 201, but while running the collection, it returned a 200 instead and that lead to the failure of the test and the run. We recommend you use the Postman Console (View > Show Postman Console) to debug the actual request that is sent out and the response received.

[2019-01-15 14:54] #5714 closed, assigned to nobody

[2019-01-15 15:29] numaanashraf commented on #5003
Closing this as exporting in collection v1 format is deprecated

[2019-01-15 15:29] #5003 closed, assigned to harryi3t

[2019-01-15 15:43] numaanashraf commented on #4987
This is addressed in Postman v6.4

[2019-01-15 15:43] #4987 closed, assigned to sujayvenaik

[2019-01-15 18:33] yarick commented on #1719
I am seeing this issue on OSX as well

[2019-01-15 19:21] bega888 opened #5777 "melting screen/menus"
Bug Description
When I open Postman Windows application is starts to meltdown applications screen, starting from top corners and menus. When I scroll down on the melting area with mouse it turns to normal.

To Reproduce
Steps to reproduce the behavior:
1. Go to 'www.getpostman.com'
2. Click on 'Download the app installer x64 for windows' (mine is Dell XPS 15" 2in1 with 4K display)
3. After install

[2019-01-15 20:26] gdfSheldon commented on #4103
Following the comments here, I agree that an environment variable doesn't fix this. Having the params in the route instead of query string is common but I don't see that it's supported. And by creating an environment variable it simply replaces the value, but provides no documentation unless I'm not understand this correctly.

[2019-01-15 20:39] john-osullivan commented on #1669
Postman is much more mature than Insomnia, but I'm working with GraphQL APIs!  Please add the future and take my team's money.

[2019-01-15 22:30] chrisdeso opened #5778 "API – Team management endpoints"
**Describe the solution you'd like**
Exposing endpoints in the Postman API for team management. More specifically, automating user management.

i.e. `/users` might return a list of user email addresses, their respective roles/permissions, last login, auth types used, etc

**Additional context**
[Filed by Postman]

[2019-01-15 23:24] ardevd commented on #4103
I'm curious about this as well. The API documentation produced by Postman looks a bit iffy when you are unable to describe the environment variables.

[2019-01-16 00:37] tdhatcher commented on #1667
+1

[2019-01-16 02:36] gdfSheldon commented on #4733
Curious if there was any progress on c# documention.

[2019-01-16 03:17] chrisdeso opened #5779 "Variables containing `#` in URL are cut off"
**Describe the bug**
Variables (Environment) that contain `#` are cut off upon saving – both in the UI and the payload.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an environment variable that contains `#` i.e. `userID#2`
2. Create a request and pass the variable in the request (query param / header / etc)
3. Save
4. Notice that the variable placeholder – i.e. {{userID#2}} – is tr

[2019-01-16 04:15] numaanashraf commented on #5775
@meetDeveloper Would it be possible to share a screen recording of this issue? We are having trouble replicating this.

[2019-01-16 04:23] kamalaknn commented on #5775
@numaanashraf I saw this when it happened. This looks like an issue from the ace editor, where the internal state of the editor was updated but not propagated correctly outside. I verified that there is nothing wrong with the temporary cache on the tab storage. The tab storage wasn't aware of the change.

Closing and reopening the tab fixed the issue. It was hard to reproduce the same issue after

[2019-01-16 04:43] numaanashraf commented on #5739
@mickael-palma-argus Is any other teammate working on the same collection or request?

[2019-01-16 05:01] madawei2699 commented on #1667
+1

[2019-01-16 06:07] pss-miracle commented on #2773
This sound exactly the feature we need in our organisation. Tab madness is killing effectiveness
Hope to see this in the upcoming releases

[2019-01-16 07:11] andimueller commented on #2248
It would be great if this feature request would be opened again.
It is quite impractical to save a collection via export. We do not use Github/Gitlab. We have our own Git Repository and are not interested in saving our tests on external repositories / servers.

Thanks in advance!

[2019-01-16 07:11] nhunghuynhthihong commented on #4186
I am able to workout like this:

In Authorization, after you click Preview Request, back to Headers tab and enable Authorization key and its value (or copy it to a new line)

[2019-01-16 07:32] andimueller commented on #3312
**+1**

[2019-01-16 07:40] gecimli opened #5780 "UI breaks when response header values are long"
**Describe the bug**
After calling any service, it does not fit on the screen when there is a long sequence of characters in the result field.
Screnrecord attached
![header section problem](https://user-images.githubusercontent.com/1707525/51233239-6ef89480-197a-11e9-94de-53411697bbf5.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a New Service Call
2. Click on Send
3. Look at t

[2019-01-16 08:48] vkaegis commented on #5776
Hey @phcoliveira, sorry you feel that way. :( As I mentioned, we appreciate you providing your inputs on the feature that solves your exact use case, and we continue to assess which implementation / feature is apt for this. We aren't claiming that Version Control is the ideal solution for your problem, just that it unblocks you and allows you to continue with your work. We will keep you updated if

[2019-01-16 09:18] Manish503 commented on #3383
@prashantagarwal  is this issue still exist?

[2019-01-16 09:31] JacobPoldenValtech commented on #3825
Any update on this?

[2019-01-16 09:57] vkaegis commented on #5776
@phcoliveira With reference to this: postmanlabs/postman-docs#1470

That repo is for documentation of the Postman product. Could you raise this as a separate issue in https://github.com/postmanlabs/postman-app-support? Thanks!

[2019-01-16 10:38] ynsgnr commented on #4382
Solved it thanks

[2019-01-16 10:42] julwil commented on #4450
+1

[2019-01-16 11:26] knowaknet commented on #3602
I am looking for solution to solve this right now and I found this issue, so I supposed it doesn't work right now. I am also interested solution/feature for this case :)

[2019-01-16 11:30] majidalavizadeh commented on #2847
+1 in 2019 :)

[2019-01-16 11:32] fshafiee commented on #1070
We'd have to clear everything and add examples in the correct order. This is not very productive to be honest and is a feature should have been there from early releases IMO. It gets wors cause I also have an strange issue where sometimes my saved examples go blank when I have them open in a tab. When I switch back to that tab, all of the fields (including name of the example) are empty. Undoing d

[2019-01-16 11:58] komape opened #5781 "Automatic Save of Requests for Collection Runner"
**Is your feature request related to a problem? Please describe.**
If I create a collection and requests for that, I have to use the save button before I can run the collection runner. Intuitively I expect the request to be saved automatically before I run the collection runner. Took me some time to find out the requests were just not saved.

**Describe the solution you'd like**
An automatic save

[2019-01-16 11:59] komape commented on #5781
Postman App Version: 6.7.1
OS: Windows 10 Pro 64-bit

[2019-01-16 12:26] ricardf-cmp commented on #3466
Any forecast when this feature will make it live? We're a team of 9 QA's using this app (Pro accounts) and just discovered this nice "easter egg" from Postman. If not solved soon we might very well migrate to some other tool that doesn't force us to save all modifications manually, one at a time...

[2019-01-16 12:28] chrisneal commented on #1669
My team has also switched to Insomnia for GraphQL dev. Frustrating!

[2019-01-16 12:44] phcoliveira opened #5782 "Remove search params from a request's URL (Docs)"
Hello there.

It makes sense to display the search params on a request's URL, while using Postman, because it makes clearer what the request will be.

But, in my opinion, it does not make any sense in displaying all of them in the documentation. If disabled, they still appear grayed out on private view, but not on the published website.

It is enough to have a table of path and search params right

[2019-01-16 12:56] szarykott opened #5783 "Remove NTLM password and user on collection export"
**Describe the bug**
When a collection in Postman is created on Windows 10 Native App and it has NTLM authorization configuration set up, during exporting it to a file, username and password are exported along with. Other people are then able to read it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new collection
2. Configure NTLM authorization for it (pass in username and password

[2019-01-16 13:46] mickael-palma-argus commented on #5739
Write rights are just for me.
But the collection is shared with the team.

[2019-01-16 15:23] brcinho commented on #1535
+1

[2019-01-16 15:25] numaanashraf commented on #5782
Duplicate of #5784

[2019-01-16 15:25] #5782 closed, assigned to nobody

[2019-01-16 15:39] drexmogu commented on #1475
+1

[2019-01-16 16:41] numaanashraf commented on #5243
@sumitkumar1209 Is this still happening. Can you share steps we can use to replicate this?

[2019-01-16 16:45] numaanashraf commented on #5469
Duplicate of #4594

[2019-01-16 16:45] #5469 closed, assigned to nobody

[2019-01-16 16:59] numaanashraf commented on #5735
Duplicate of #5424

[2019-01-16 16:59] #5735 closed, assigned to nobody

[2019-01-16 17:12] sarahalhawi92 commented on #4898
When is bulk edit going to be brought back? Honestly it was working absolutely fine don't know why it's been changed it is way worse than before!!!

[2019-01-16 17:19] blackat opened #5785 "url not correctly imported"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
URL is not correctly imported when there are placeholders.

Imported
[code]

JSON file
[code]

**Expected behavior**
I expect to have the same placeholders to be use in the environment definition.

**Screenshot**
![postman](http

[2019-01-16 18:42] prabhuvikas commented on #5591
Deleting the directory as suggested by @mmahmoodictbd  worked for me.

[2019-01-16 19:49] davidschwab commented on #4898
@a85 This is unacceptable that the bulk edit feature hasn't been brought back yet.

If you ate your own dog food you would admit the grid edit is crap and make the bulk edit available again.

I can't believe we're still having to ask for this back. Don't force us to drop Postman and go elsewhere.

[2019-01-16 19:49] karandtu commented on #3713
could anybody assist me in resolving this issue .
Please check the screenshot.
![image](https://user-images.githubusercontent.com/19607478/51274737-8c872780-1995-11e9-87a9-62ddb0713749.png)

[2019-01-16 19:50] karandtu commented on #3713
![image](https://user-images.githubusercontent.com/19607478/51274794-b5a7b800-1995-11e9-83cd-3226fb0a7270.png)

[2019-01-16 19:52] karandtu opened #5786 "Could not get response: SSL23_GET_SERVER_HELLO error"
@RestController
@RequestMapping("/v1/accounts")
public class ActivateSwitchController {

	private static final Logger LOGGER = LoggerFactory.getLogger(ActivateSwitchController.class);

	@Autowired
	private ActivateSwitchService activateswitchService;

@RequestMapping(value = "/reactive/MultiLineFeature", method = RequestMethod.POST ,produces = "application/json")
	public Mono<MultiLineFeatureListI

[2019-01-16 19:53] karandtu commented on #5786
![image](https://user-images.githubusercontent.com/19607478/51274933-1b943f80-1996-11e9-923a-a775df23635e.png)

[2019-01-16 20:49] thinklarge commented on #4092
Just so this gets more awareness I'd say I'm getting this too.

The temp fix that has worked is @shahidhafiz suggestion to not use Inherit From Parent.

Another fix that worked for me is, if I have the runner open and I manually fire a single request from the collection (not runner), the whole chain works.  This won't work for Newman.

[2019-01-16 23:20] vpetrovic-cw commented on #3574
Me too. Postman 6.7.1, Ubuntu Linux 16.04.

[2019-01-16 23:28] felipexw commented on #771
+1

[2019-01-16 23:28] forresthopkinsa commented on #4091
Recent updates on request/request#2866 reflect that Node will be shipping native Brotli support in their next release.

[2019-01-17 03:45] gaia commented on #2790
+1 to filter directly in the GUI

[2019-01-17 06:38] sumit0k commented on #5243
I didn't signed in fresh after that, so cannot confirm re-occurence.

[2019-01-17 07:10] king4sam commented on #3199
Did anyone use ajv successfully on postman native app v6.7.1? ( on MacOS )
I followed instructions [here](https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference) to  require ajv in test script, but I got error as below

[code]

Is there somebody met the same issue or I require ajv in the wrong way?

[2019-01-17 07:22] codenirvana commented on #3199
@king4sam You can refer the example given [here](https://learning.getpostman.com/docs/postman/scripts/test_examples/).

You either have to use `{logger: console}` option or `{logger: false}` to avoid the ReferenceError.

Example:
[code]

This is because `console` is not directly available(inside sandbox) to Ajv and when `logger` option is missing, Ajv will [assign console](https://github.com/epobe

[2019-01-17 07:29] king4sam commented on #3199
@codenirvana thank you!

[2019-01-17 08:17] m3dbedb commented on #5679
In postman 6.7.1 for windows 7 32 bit it does not reproduse  sustainability. I keep watching, if it would occur I will comment here.

[2019-01-17 08:48] sujayvenaik opened #5787 "Display timezone when creating/editing monitors"
**Is your feature request related to a problem? Please describe.**
I was editing the monitor and got confused as to the time I am scheduling it at is which timezone.
Is the timezone of the region I am selecting or my current timezone.

**Describe the solution you'd like**
Indicate the timezone

**Additional context**
Current screenshot which does not have the timezone
![screen shot 2019-01-17 at 1

[2019-01-17 10:41] jonathansocol opened #5788 "Occurred is misspelt in message "An error occured while running this request""
Steps to reproduce the behavior:
1. Create a new request to a nonexistent end-point (for example: http://localhost/api/whatever)
2. Open the Runner module
3. Execute the collection containing the previously created request
4. The following message is displayed in the results view: _An error occured while running this request. Open DevTools for more info._

**Expected behavior**
The following messa

[2019-01-17 11:33] numaanashraf commented on #5788
@jonathansocol Thanks for pointing this out. We'll get this fixed.

[2019-01-17 11:39] numaanashraf commented on #5786
@karandtu Could you try turning off SSL verification in Settings? Postman does not support self-signed certificates at the moment.

[2019-01-17 12:22] Kalyse opened #5789 "Disable "Click to Expand" on Postman Documentation"
**Is your feature request related to a problem? Please describe.**

My documentation is frequently miss-read by internal and external developers because Postman auto hides content in a "Click to Expand" table and there is no option to turn this off.

For example:

![vr4_0969](https://user-images.githubusercontent.com/199760/51318375-1399d580-1a52-11e9-8299-fe706ec8352d.png)

**Describe the solutio

[2019-01-17 12:23] jphiloon opened #5790 "Every collection/folder suddenly expands"
Postman v6.6.1.  Not sure what causes it, but suddenly every collection/folder in the app is in the expanded condition.  Argh!   Since there is NO WAY TO COLLAPSE ALL (see issues), this causes tremendous pain.  I will append to this issue if the cause of the expansion is found.  Since it seems to happen asynchronously, I suspect it has something to do with sync.

Ah, deleting a collection causes a

[2019-01-17 13:11] dafo commented on #422
I have also tried different approaches (including \r\n) with no success. Adding such functionality would be great.

[2019-01-17 13:13] numaanashraf commented on #5790
@jphiloon Thanks for reporting this. Would it be possible to grab a screenshot of the sidebar next time this happens? We expand all folders when you are trying to filter/search in the sidebar - could you verify this is not the case?

[2019-01-17 13:28] numaanashraf commented on #5783
Thanks for writing in @SzaryKot. The recommended way to store and use sensitive information in collections and shared resources is via Environments (Docs: https://learning.getpostman.com/docs/postman/environments_and_globals/intro_to_environments_and_globals/). There are no plans to support redacting specific fields while exporting a collection at the moment.

[2019-01-17 13:28] #5783 closed, assigned to nobody

[2019-01-17 13:32] numaanashraf commented on #5780
@gecimli Thanks for reporting this. We would address this in the coming releases.

[2019-01-17 13:36] numaanashraf commented on #5754
This is related to #1667. We are working on Interceptor support for native apps.

[2019-01-17 13:36] #5754 closed, assigned to nobody

[2019-01-17 13:38] jphiloon commented on #5790
Ah, pass two - that is the condition, exactly.  I had two collection showing, match a filter "Foo".  I then duplicated one of the collections (which created a name also matching the filter), and that act caused all collections to expand.  I would suggest this: if a filter matches a collection name, do not expand all folders.  If a filter matches a folder name or a request within a folder, then exp

[2019-01-17 13:39] louislewatcn commented on #4631
That above is exactly what I want to say.

I would like to write a universal postman collection to test all kinds of get request.
I hope to set the host, params, headers method all as variables,which will make a template so that i can run different api tests with differet params and heads.
The key point is : different api have different params keys or header keys and aslo different amount.
e.g.
I

[2019-01-17 13:50] SteamWind commented on #872
That could be a button that accept Javascript after the request send?
User is then responsible for his use...
With this we can't even navigate [filp/whoops](https://github.com/filp/whoops)

[2019-01-17 15:25] numaanashraf commented on #5739
@mickael-palma-argus Thanks for clarifying. Do you remember when you had created this request? Was this created before Postman added support for request bodies in GET request?

[2019-01-17 15:28] HrDahl commented on #4355
Is there any updates to this issue? I see same issue as @wstoettinger
Here are the response header from the server I try to call:

Response Headers:
Cache-Control:"private"
Content-Type:"text/html; charset=utf-8"
Server:"Microsoft-IIS/10.0"
**WWW-Authenticate:
0:"Negotiate"
1:"NTLM"**
X-Powered-By:"ASP.NET"
Date:"Thu, 17 Jan 2019 15:21:33 GMT"
Content-Length:"6165"

[2019-01-17 15:31] mickael-palma-argus commented on #5739
I created this collection in may 2017.
I don't know when you added the request bodies in GET request.

[2019-01-17 15:32] numaanashraf commented on #5727
@pomeh This is the expected behavior with async functions. They return an implicit promise and errors are silent unless you explicitly "catch" the error.

<img width="724" alt="screenshot 2019-01-17 at 9 00 30 pm" src="https://user-images.githubusercontent.com/3295568/51329232-18cf4280-1a9b-11e9-968c-8d848d2b8ee9.png">

[2019-01-17 15:32] #5727 closed, assigned to nobody

[2019-01-17 15:37] numaanashraf commented on #5768
@Alexei000 Thanks for reporting this. Could you check for any errors in the app logs? (View > Developer > Show Logs)

[2019-01-17 15:38] numaanashraf commented on #5790
Thanks for the feedback @jphiloon. We'll look into how we can support this.

[2019-01-17 15:41] numaanashraf commented on #5758
@gustaph2016 Thanks for reporting this. Would it be possible to share a screen recording of this?

[2019-01-17 15:54] luke-hill commented on #1465
As a +1 also, I'll just add I spent a good hour diagnosing what was the problem. Until I found a few of these links. This affects numbers both big and small - But for some reason doesn't seem to affect integers, just floats

[2019-01-17 16:02] a85 commented on #4898
@Davidschwab I do eat my own dog food, I built Postman because I got sick of using text editors and curl. I’d like to know the use cases better on why the editor is needed which is why this thread exists. However if you’d like Postman and me to engage on the thread, I’d suggest being civil on the thread. We don’t prioritise development because somebody yells the loudest. The bulk editor in its ear

[2019-01-17 16:07] pbindy commented on #3358
+1

[2019-01-17 16:34] numaanashraf commented on #5648
Duplicate of #3302 & #5207

[2019-01-17 16:34] #5648 closed, assigned to nobody

[2019-01-17 16:46] numaanashraf commented on #5571
We are closing this due to inactivity. Please let us know if you are still facing this issue.

[2019-01-17 16:46] #5571 closed, assigned to nobody

[2019-01-17 16:58] numaanashraf commented on #5407
This issue has been addressed in the latest version of Postman (v6.7)

[2019-01-17 16:58] #5407 closed, assigned to nobody

[2019-01-17 17:24] davidschwab commented on #4898
@85 Thank you for responding. I apologize for sounding so frustrated, but I am. And it sounds like a number of others are as well.

The exponential support has been pushed onto end-users having to manually enter in a bunch of individual cells on the grid edit.

I guess we are just not going to agree on this.

[2019-01-17 17:40] jonismobile commented on #4898
the feature for us is most used when developer modifies the variables after modifying the API in bulk edit they copy out there variables and paste them in a sharepoint doc, then slacks the team that modifications were made and the team can paste in the needed changes in there bulk edit. or when there is a new developer they can populate there variables quickly and be up. it seems like you could re

[2019-01-17 17:43] numaanashraf commented on #2986
This is addressed in the latest version of Postman (v6.7)

[2019-01-17 17:43] #2986 closed, assigned to a85, sivcan, preethammavin

[2019-01-17 18:04] karandtu commented on #5786
Let me try and get back to you.

[2019-01-17 18:25] jphiloon commented on #5790
I would refine my suggestion.  When using a filter, expand a node that matches the filter, but do not expand recursively.  That is, a match on a collection would expand to show the folders in the collection, but would not recursively expand each folder.  A match on a folder would expand to show all the requests in the folder.

[2019-01-17 19:40] norchow opened #5791 "Docs with custom domain not getting the favicon correctly"
**Describe the bug**
The favicon is not displayed in the documentation, even though it does exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a documentation in a custom domain (example: https://developers.bitex.la)
2. See favicon

**Expected behavior**
It should display the favicon loaded in https://bitex.la/favicon.ico

**Screenshots**
![image](https://user-images.githubuserco

[2019-01-17 21:12] iskandarovBakshi opened #5792 "'Parse Error' while sending request"
**Describe the bug**
Postman shows only smaller json responses, my api works fine with postman chrome app

I'm running laravel app with docker on localhost:8000

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/15240881/51349050-bb98b880-1abd-1

[2019-01-17 21:26] panagath commented on #4898
We use the bulk-edit very often as we need to be able to quickly edit some variables so we can use them for security/authorization/parameterization. We have tools that generates these for us and we just want to be able to quickly add them to postman so we can use the endpoints. By removing it we have to manually paste each value one by one in a mechanism that does not work that well (some times yo

[2019-01-17 22:57] ykhodos commented on #4898
@85, I don't know what problems the environment editor caused to the others. It worked just perfect for me. So I personally see the editor removal as a setback. Also the introduction of INITIAL VALUE and CURRENT VALUE is confusing (if for somebody it isn't , would you care to explain ?)

[2019-01-17 23:20] jkewley commented on #4898
As an aside, I've been wondering about the naming of the two values as well. I know it's subjective, but I think something like 'local value' and 'synced (or shared) value' are more intuitive.

I convinced my company to invest in PM Pro and, while not a showstopper, I see the removal of bulk edit as a step backwards. It's clear that there's demand here for it, so I'm hoping the PM team adds it to

[2019-01-18 02:48] Anakin-Hao opened #5793 "Add "Delete all run results" in collection runner window."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
I have a lot postman collection run results. There's no way to purge all results.

**Describe the solution you'd like**
In the collection runner, it wold be nice to have a "Clear res

[2019-01-18 07:10] kartikjain26 commented on #5791
@norchow  Have you also setup a custom favicon in Postman Dashboard ( Team Settings page) ?
If yes, then that will be loaded else it will be picked from your custom domain. I would suggest you to hard refresh your browser. The middle line `href=/favicon.ico` is needed to load postman default favicon from root incase there is no favicon on domain.
PS: you can also upload your favicon on postman das

[2019-01-18 07:59] lh52114 commented on #1667
+1

[2019-01-18 09:14] ghost opened #5794 "I can't log in - the website and the application is just spinning"
Unable to access the postman app & web dashboard as the page keeps spinning. Find below are the screenshot of related logs.

![image](https://user-images.githubusercontent.com/40994626/51377575-45359e00-1b31-11e9-9d5d-29d9de69df6d.png)

![image](https://user-images.githubusercontent.com/40994626/51377606-5383ba00-1b31-11e9-88ef-f8b03c3e3399.png)

![image](https://user-images.githubusercontent.com/

[2019-01-18 09:17] ChristianSauer commented on #1535
Yes, it would be great for testing - especially if we could marry it with parameters.
E.g. define some steps somewhere else, add them to your test and customize the moving parts via parameters (e.g. imagine that i got an id in the test and want to use it in the step)

[2019-01-18 09:29] ttotal commented on #4785
it works!!!!!

[2019-01-18 10:52] thsaravana commented on #2790
@mirfilip I recently had the same requirement, to post process the Json response. I ended up writing a test script for this. It turns out that we can write pretty much execute any JS script there. And I wrote the below:

[code]

This spits out the output in the Postman Console. Similarly you can do whatever you want with the JSON response. The amount of JS that you can execute is less, and it woul

[2019-01-18 11:50] p00j4 commented on #2392
Is this feature in any near roadmap?
In my case, it's very inconvenient to add/remove setNextRequest in many tests every-time. Having a newman flag to say ignore and a small feature for bulk selection in runner to disable/enable.

[2019-01-18 13:30] jmzagorski commented on #4355
I have multiple proxies at work, and for some reason one was not working (a request could not be sent), but when I changed it to our other proxy by turning off **User System Proxy** and instead select **Global Proxy Configuration** I was able to get a response from my dotnet core 2.0 app using windows authentication. Under authorization i selected NTLM Authorization [Beta] and filled in username a

[2019-01-18 13:55] toucedam commented on #3633
I would love to have this feature. I need to attach the evidence of the runner at Jira and I need to log more  than 300 requests. Is there a way I can do that?

[2019-01-18 13:55] anta40 opened #5795 "Postman automatically appends three dots while values on Body"
**Bug description**
While inputing values on Body, Postman automatically appends three dots (...) at the end of them, after clicking on any other cells. API consuming these values will give different response.

email **steve@gmail.com** and password **hello123** returns OK, but Postman appends three dots, which means values sent to API is **steve@gmail.com...** and **hello123...** which gives not

[2019-01-18 14:08] norchow commented on #5791
Hi @kartikjain26, thanks for your response.
I've just set up the favicon in the Team Settings page, republished the collection and hard-refreshed the browser, but no change has happened.

![image](https://user-images.githubusercontent.com/7334576/51391624-5078d180-1b11-11e9-8ba0-c2da2efed455.png)
![image](https://user-images.githubusercontent.com/7334576/51391654-638ba180-1b11-11e9-8b63-0d7bfa2c1a

[2019-01-18 14:16] rcmstark commented on #1070
Guys, fix this issue ASAP. It's open since 2015!

[2019-01-18 14:25] kartikjain26 commented on #5791
@norchow can you test this in multiple browsers just to make sure it isn't a chrome issue.

[2019-01-18 14:31] norchow commented on #5791
@kartikjain26 Well, in fact, it seems to be an issue with Chrome. It works fine in Firefox and Safari, at least for macOS.
Can you validate that and fix it for Chrome?

Thanks

[2019-01-18 14:33] yami12376 commented on #1066
+1

[2019-01-18 15:21] ucatal commented on #285
+1

[2019-01-18 15:39] jmurowaniecki commented on #85
Hello there!

Somebody can tell me if it's possible to use multiple **optional** uri segments like `/user(/:id|:username)`?

I'm planning to use **:id** or **:username** - both are optional since when nothing is informed the response are the user logged.

Or maybe are easier to duplicate and change the uri with proper descriptions :thinking: ??

Now I'm using this way:

[code]

But the idea is rep

[2019-01-18 15:39] Lokutus opened #5796 "postman.getResponseCookie.value with URI encoded values"
I have an issue with reading value of the cookie in Postman Version 6.6.1 on Windows 10/x64.

`console.log(postman.getResponseCookie("SESSIONID"));`

Result is:

`Object:{}
domain:"localhost"
hostOnly:true
httpOnly:true
name:"SESSIONID"
path:"some/path"
value:"%22prefix%3Asuffix%22"`

The correct value suppose to be `prefix:suffix` without quotations and real values instead of URI encoded values.

[2019-01-18 15:46] jmurowaniecki commented on #2427
Hello there!

Somebody can tell me if it's possible to use multiple **optional** uri segments like `/user(/:id|:username)` (or, like itsjavi proposed `/user/:id::username:`) ?

I'm planning to use **:id** or **:username** - both are optional since when nothing is informed the response are the user logged.

Now I'm using this way:

[code]

But the idea is replace by
[code]

What do you think? It mi

[2019-01-18 16:03] gaia commented on #2790
That is progress but I don't see why just not leave it to JQ. Put a JQ syntax filter in there. The licensing (MIT) couldn't be easier.

[2019-01-18 16:11] vicdup commented on #1669
Same here, very frustrating...

[2019-01-18 16:28] mcelhennyi commented on #3117
+1 this is needed big time!

[2019-01-18 18:01] SamvelRaja commented on #5795
@anta40  Could you open postman console to cross verify the same.

You can open the console by the console icon in the bottom left.

![screenshot 14](https://user-images.githubusercontent.com/5114052/51404328-f58eac80-1b07-11e9-9a08-872d2b61a168.png)

This will show you what goes out off postman under the hood.

[2019-01-18 18:10] Alexei000 commented on #5768
Yes, I have managed to isolate the error in the logs. Please, check it below:

[code]

[2019-01-18 19:30] anta40 commented on #5795
As I typed some values, the Postman Console didn't display anything.
Is it supposed to display some kind of debugging log?

[2019-01-18 21:36] AndrewGene commented on #4044
My login endpoint returns an object like

`{
    "email": "...",
    "firstName": "...",
    "lastName": "...",
    "token": "4e3463c2-9476-4e9a-9ed2-45347ea02275",
    "userId": "2094"
}`

**Token** is the key used in every other request's **Authorization** header.  It is short-lived (couple of hours).

So I made a "Test" in postman that reads and stores the token value into a global variable
`le

[2019-01-19 08:43] basinilya commented on #2493
Can't properly implement a j_security_check login: 302 means successful login and I'm not interested in following the redirect after that. 200 means bad password.

[2019-01-19 13:28] anta40 commented on #5795
I just noticed that this bug is not that easy to be replicated concistently.
Input some keys and values in Body.
No extra three dots? Good. Erase some values and input again.
Eventually, after some typing, the bug will happen.

[2019-01-19 13:43] chayanbansal9195 commented on #4167
same for me

[2019-01-19 14:08] abhijitkane opened #5797 "Impossible to remove the 'user' role from a team member on the team listing page"
On the `/team` page, when I click `Manage Roles`, I'm able to unselect admin and billing, but not user.

There's nothing printed in the console, and no calls go over the websocket when I click "user".

[2019-01-19 15:54] flash-me opened #5798 "Postman not launching / crashes when NODE_OPTIONS are set"
**Describe the bug**
When NODE_OPTIONS environment variables are set, the process of Postman immediately stops without any errors.
This is really annoying, because we are making heavy usage of them and in order to avoid typing the flag down to every task in the project, we are using the environment variables for it.

**To Reproduce**
[Screen Recording](https://user-images.githubusercontent.com/524

[2019-01-19 15:56] veee-hao commented on #124
what's the status now ?  Does this feature being implemented ?

[2019-01-19 17:39] ankit-m commented on #5797
Can you check if the team already has two support accounts? Removing a `user` role is equivalent to adding a support user and we limit that in the UI to 2.

There is no feedback given and we can improve that.

[2019-01-19 17:55] abhijitkane commented on #5797
Yep - that seems to be it. This also means that if my user slots are full, there's no way I can re-assign the user role without upgrading my plan. To move the user role from u1 to s1, I first need to add the user role to one of the support members (s1), save, and then remove the user role from u1. This means exceeding my user slots temporarily, which is also not allowed.

[2019-01-19 21:05] chunkai-meng commented on #4487
I have the same problem

[2019-01-19 22:39] chunkai-meng commented on #3358
+1

[2019-01-20 11:04] ppuskar commented on #5680
problem still persist

[2019-01-20 11:58] DispatchCommit commented on #1667
Nice to see that 2 years later you guys still don't have a solution to this issue.

[2019-01-20 16:43] harshzalavadiya commented on #1667
I still have desktop app and chrome extension as desktop app still lakes interceptor.
as postman desktop is also electron based might not be big deal to port it from chrome extension.

[2019-01-21 06:03] imranhassangithub commented on #2950
I am using v6.7.1. #5400 still not reflecting any change for 204 response

[2019-01-21 06:35] ddeshpande opened #5799 "Postman desktop app (Version 6.7.1) crashes upon using "Cancel Request" button when the request contains timeout in Pre-request Script"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman desktop app (Version 6.7.1) crashes upon using "Cancel Request" button when the request contains timeout in Pre-request Script

**To Reproduce**
Steps to reproduce the behavior:
1. Open a request in Postman which contain

[2019-01-21 06:36] sujayvenaik commented on #2950
@imranhassangithub
I tried replicating this by spinning up a local server that returns 204 response but could not replicate.

Can you send a screen recording of the scenario where you encountered this so we could debug this?
Or a public API where we can reproduce this?

[2019-01-21 06:55] sujayvenaik commented on #5799
@ddeshpande
We were able to reproduce this and looking into it.
Thanks for reporting.

Logs for reference:
[logsGH5799.txt](https://github.com/postmanlabs/postman-app-support/files/2777827/logsGH5799.txt)

[2019-01-21 07:27] SamvelRaja commented on #5798
@kqadem  Thanks for bringing this out notice. Yes we do need to upgrade electron to achieve it.
We will update this thread once we does it.

Related to https://github.com/electron/electron/issues/12695

[2019-01-21 08:24] m3dbedb commented on #5410
The issue is still here with postman 6.7.1 for windows 32

[2019-01-21 10:52] m4rcinkowski commented on #5410
Since a couple of weeks ago (more than a month, I think) I'm testing a different package providing postman and **haven't experienced the issue yet**.
As Manjaro is based on ArchLinux, I use AUR packages both now and before. You might want to analyze the differences in PKGBUILD files to see what the core reason is.

**Wrong package** (the one that showed the issue), postman 6.2.4: https://aur.archl

[2019-01-21 10:57] zainbnv commented on #493
any update on this? its 2019 already.

[2019-01-21 12:46] mojo2012 opened #5800 "The generated code snipped for HTTP produces an incorrect result"
**Describe the bug**
The generated code snipped for HTTP produces an incorrect result. The output for an form `POST` looks like this:
[code]

The param values are just concatenated without and `&` in between. Also null-values are rendered incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman and create a new request
2. Set it to `POST`
3. Set any url, eg. `https://postman

[2019-01-21 13:15] ttodua commented on #350
Probably it's better to use "Copy as Curl" and then import in Postman with "raw text"

[2019-01-21 16:39] cdiazc commented on #1070
Would be super nice to have a fix, have been longing for such a feature for quite a while !

[2019-01-21 16:42] yamioliva commented on #1070
+1

[2019-01-21 16:59] mariojulian opened #5801 "Application Keeps Refreshing failing to open in Windows 8.1"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2019-01-21 18:37] jerret-halter commented on #3312
+1

[2019-01-21 18:56] numaanashraf commented on #4971
We are closing this due to inactivity. Please update to the latest version of the app and let us know if you are still facing this issue.

[2019-01-21 18:56] #4971 closed, assigned to numaanashraf

[2019-01-21 19:00] numaanashraf commented on #5032
@ash007-postman Could you post more information regarding the issue? Steps to replicate, screenshots etc?

[2019-01-21 20:43] bobjackman commented on #4044
@AndrewGene I do basically this very same thing. It works, but the problem with it is that you have to ensure that every other call you make remembers to include this custom value. There's no way to "import" this value as a header on the collection itself.

[2019-01-21 21:23] AndrewGene commented on #4044
Yes but the other issue mentioned above will address the custom header per collection problem. Postman said they will be releasing that “soon”.

Andrew Gene Goodwin

[2019-01-21 22:04] ralyodio commented on #1667
This still doesn't work. I get the HSTS error message. MacOS/Chrome

[2019-01-22 03:48] SamvelRaja commented on #5801
@mariojulian  Could you give us more information on the issue?
Screen shot or a screen capture video would be useful.

[2019-01-22 03:58] SamvelRaja commented on #5795
@anta40
Postman console will display the request sent along with response received in more verbose manner.

1. Open the console window
2. Type the request you want to send
3. Click send button.
4. You can see the request and response in the console window.

Take a screenshot of the request you typed in UI and the request sent out in the console window.
Kindly redact any sensitive information.

[2019-01-22 05:15] mariojulian commented on #5801
Hello,
The issue is resolved. The issue was related to the GPU. I had to set the
env variable POSTMAN_DISABLE_GPU to false.
Thanks for the support.
I will update the same in the forum.

On Tue, Jan 22, 2019, 09:18 SamvelRaja <notifications@github.com wrote:

[2019-01-22 05:33] numaanashraf commented on #5801
Duplicate of #4594

[2019-01-22 05:33] #5801 closed, assigned to nobody

[2019-01-22 05:38] mhadidg commented on #5302
We have the same issue in Linux. Please add the option to toggle menu bar visibility in both Linux and Windows.

[2019-01-22 08:36] Ramya-From-Postman opened #5802 "Error 404 on SSO authentification"
I've made some configuration to use OKTA's authentification. I've got an error 404 when connecting throw Okta
![image](https://user-images.githubusercontent.com/40994626/51522495-7e328300-1e4f-11e9-80a7-6f51504e3026.png)

[2019-01-22 08:55] fireydude commented on #3234
If you click on the **Code** link (just under **Send** on the right hand side) you can copy the URL, you just need to add `http://` at the beginning.

[2019-01-22 09:01] arunkal1 opened #5803 "Enable Javascript in Response Preview"
## App Details:

## Issue Report:
 1. Sending a request to some pages, keep getting the error 'Javascript is disabled on your browser. Please enable Javascript and refresh this page'. The page works on the browser but on Postman it comes up with that error. Initially thought it was the page so tried another and still keep getting the error. Tried on other machines but they keep getting the error a

[2019-01-22 09:22] sidd607 commented on #2801
Any update if this is being implemented?

[2019-01-22 09:23] numaanashraf commented on #5795
Postman shows a `...` in UI when you have a multi-line value. Please click on the value and make sure there are no multi-line or new-line characters in the value. This `...` is purely in the UI and the full multi-line text is sent while is request is sent (which might cause the error in your case)

![screenshot 2019-01-22 at 2 51 39 pm](https://user-images.githubusercontent.com/3295568/51524976-48

[2019-01-22 09:23] #5795 closed, assigned to SamvelRaja

[2019-01-22 09:29] numaanashraf commented on #5803
Duplicate of #2646

[2019-01-22 09:29] #5803 closed, assigned to nobody

[2019-01-22 09:29] numaanashraf commented on #5024
Duplicate of #2646

[2019-01-22 09:29] #5024 closed, assigned to numaanashraf

[2019-01-22 09:35] bmdako commented on #5063
Hi @numaanashraf it's not just in the _preview_ the 'app' field is missing. It's missing from the request as well.

[2019-01-22 09:59] arunkal1 commented on #5803
Hi, does not resolve my issue !!!

[2019-01-22 11:50] godfrzero commented on #5791
Multiple favicon tags have been added to maximize browser compatibility, since the behavior we're going for is to use the Postman icon as a fallback and the custom domain or uploaded favicon as the default. Since there's no standard way to do this within browsers, browsers allow multiple favicons to be specified, but their behavior varies when it comes to choosing the one to use. Some browsers use

[2019-01-22 11:52] abhijitkane opened #5804 "Dragging a folder from a collection to a 1st-level folder results in a cyclicImportError on the websocket"
Steps to reproduce:
1. The user signed in to Postman - v6.7.1 for Mac.
2. Waited till the Sync icon turned orange.
3. Expanded a collection in the sidebar - c1.
4. Tried to move a root-level folder (c1.f2) to another root-level folder (c1.f1) (to get c1.f1.f2).
5. The app UI reflected the correct state, but on inspecting the app's websocket connection found that the `/folder/transfer/f2` call made

[2019-01-22 12:01] bugb opened #5805 "Get Collection name in Scripts"
I Google a lot about it but I cannot find out how to get Postman collection name from the current request (in test section).

Could you please give me some help?

Thank you a lot!

[2019-01-22 13:09] seppestas commented on #7134
Is there a place / issue where information on the plugin system can be found? Having a test client for CoAP with CBOR integration would be amazing, and most people already know how to use Postman...

[2019-01-22 14:03] kszafran commented on #5662
Any updates on this issue?

[2019-01-22 14:28] norchow commented on #5791
Hi @godfrzero,
Thanks for the detailed explanation and for going deeper into this. You've been super helpful.

I've just tried resizing the icon and reuploading it. And it seems to work!  I've never imagined that was the cause of the unexpected behaviour, and even less given that Chrome is usually flexible and it was the only one with this bug.

I suggest that from your side, a validation can be i

[2019-01-22 15:13] cruinh commented on #3574
I've also been seeing this repeatedly since I started using the Runner a few weeks ago.  I have yet to ever successfully import a test...

[2019-01-22 16:42] sureshnath commented on #2736
Thanks to - https://mahasak.com/hacking-bigint-in-api-testing-with-postman-runner-newman-in-ci-environment-eb69961d16fc - working fine in postman 6.7.2

[2019-01-22 17:11] numaanashraf commented on #5803
@arunkal1 This is not supported at the moment and we are tracking this as a feature request at #2646

[2019-01-22 17:13] geez0r commented on #675
5 years later.....

[2019-01-22 17:25] numaanashraf commented on #5805
@bugb Thanks for writing in. Could you help us understand your use case better? Why would you like to access the collection name in your scripts?

[2019-01-22 17:29] VicKetchup opened #5806 "Collection Runner not running a test for some endpoints"
**Describe the bug**
We have swagger validation implemented into our collection. The functions and all the code is in the Collection Tests and after using a tool to produce JSON Schema a tv4 check is run.
Everything works fine when running the endpoints manually, using postman and even Monitors, however during a run with the Runner two endpoints do not run the test (one currently fails other succe

[2019-01-22 18:27] JP-from-Postman opened #5807 "Documentation: Show last updated/published timestamps, versioning info"
**_[From Postman Support, on behalf of user]_**

Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
Documentation viewers may not be aware of changes to the page contents, unless the publisher has manually included versioning or _las

[2019-01-22 18:31] slaman75 commented on #5628
We are still waiting for TLS v1.2 support:
https://github.com/postmanlabs/postman-app-support/issues/4677

No word at all...

[2019-01-22 18:57] JP-from-Postman opened #5808 "Environment Quick View: Mirror columns hidden in MANAGE ENVIRONMENTS view"
_**[From Postman Support]**_

**Is your feature request related to a problem? Please describe.**
From Community thread: https://community.getpostman.com/t/remove-hide-initial-value-from-environment-quick-look/3854
- Hiding INITIAL or CURRENT VALUE columns in MANAGE ENVIRONMENTS does not change which columns are shown in the environments quick
- There is no way to hide columns in the environments q

[2019-01-22 21:39] Snogren commented on #1535
+1
was searching for how to do this and stumbled across this request

[2019-01-22 22:31] AnsurM commented on #2256
What I did to solve my issue is as follows:

Went to:

"C:\Users\Ansur\AppData\Local\Postman\app-6.7.1" (that is where my postman.exe is installed, not update.exe).

Right click, open Properties>Compatibility tab>
Tick "Disable Display Scaling on High DPI Settings"
and
Tick "Run this program as administrator",

And I got my display back and app working fully.

Thanks!

[2019-01-23 01:32] thamerla opened #5809 "Undefined=undefined in code generated request body"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman adds undefined=undefined to request body.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request
2. Choose POST
3. Set url
4. Set body parameters with urlencoded key=value
5. See code. It throws rando

[2019-01-23 01:34] thamerla commented on #5809
Also would like to point out that editing existing body parameters causes the same problem.

[2019-01-23 01:42] jijiechen commented on #2729
This feature confused me a lot. Can you add a switch to turn this feature off? Ideally, this feature should be default to off, since it's not following typical HTTP practice.
People send payload through GET requests by mistake sometimes (they just change URL on a past POST tab) and get 417 or 400 responses from servers. It spend us an hour to questioning the Postman could be the source of the issu

[2019-01-23 01:44] godfrzero commented on #5791
Awesome, thanks for confirming that this was the problem! We'll work on streamlining the uploading experience. @vkaegis @sankalp0o

[2019-01-23 01:48] jijiechen opened #5810 "Feature request: add a switch to turn off sending body through GET requests"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
No, not related to a problem, but related to a recently added feature #2729
The feature of allowing GET requests to send body confused me a lot.
People send payload through GET reque

[2019-01-23 02:22] jinliming2 commented on #4677
Google Chrome will deprecate TLS 1.0 and TLS 1.1 in Chrome 72 and will be disabled altogether in Chrome 81.
https://security.googleblog.com/2018/10/modernizing-transport-security.html

[2019-01-23 02:41] bugb commented on #5805
@numaanashraf The problem is suppose I have a collection, inside it I have 2 folders one is  for testing in  staging (for example the folder named: Staging) and one for testing production environment (for example the folder named: Production), the test scripts for each environment for each test case is almost the same except some scripts.
The different scripts is based on Staging or Production, if

[2019-01-23 02:47] habibix commented on #2931
+1

[2019-01-23 02:51] chucklu commented on #5114
@harryi3t  Encounter the same problem caused by proxy without protocol specified. Thanks for your solution.

[2019-01-23 03:10] jbiffis commented on #1535
+1

[2019-01-23 06:30] chucklu commented on #3942
Encounter the same problem, and make it work with @nrobert 's solution

[2019-01-23 06:36] nolimitdev commented on #3290
It is first time I installed Postman but Im wondered that Postman does not use system certificate store and does not enable adding own CA certificate. Disabling SSL verification is not acceptable solution.

[2019-01-23 07:27] ZhangYiJiang commented on #4169
I just lost about fifteen minutes of work because of this. Thanks.

I'll also note that while editing everything else will trigger a warning if you then try to close the tab, editing the description does not, and while Ctrl + S saves everything, it doesn't save the description even if the description textbox is in focus. It's not even consistent with the module title, which *does* automatically sa

[2019-01-23 07:51] kexiaoyang opened #5811 "send a parameter of the date type"
Hi，
I send a parameter such as '2017/11/12 00:00:00' is efficient.
Why I fail to send the parameter as '2017-11-12 00:00:00'？
Does it have some difference between '/' and '-' in postman?

If you have some advice, you can contact me with 'lynorc@126.com'.

Best regards,
kxy

[2019-01-23 08:46] vkaegis commented on #5810
@jijiechen Thanks for writing in! Flagging this as a possible configuration for the app. No ETA on this just yet, but we'll assess it along with other configurations that have been requested by the community.

[2019-01-23 09:11] #5811 closed, assigned to nobody

[2019-01-23 10:22] Ramya-From-Postman opened #5812 "Unable to leave the team"
Hi,

**Describe the bug**
I cannot delete myself/ other members from the team, I get the message "**Something went wrong.  An error occurred while removing the user. Please try again**."

**Steps to reproduce the behavior:**
1. Go to https://go.postman.co/team
2. Try delete your email address or any users email address remove them from the team
4. You see the error "Something went wrong" as shown

[2019-01-23 10:25] shahp00ja opened #5813 "Search: not working :: version 6.7.1"
**App information:**
 - App Type: Native App
 - Postman Version:  6.7.1
 - OS: macOS 10.13 high sierra

**Update:** On canary, it started working by itself on 3-4 close and re-open app however the 6.7.1 version, it doesn't work for any search now.

Initial **Description**
Observe the screenshots, the search feature is not able to find the global variables (though works for environment variables).

[2019-01-23 10:37] lhyla opened #5814 "Order of requests inside folders changes after collection merge"
To Reproduce:
Steps to reproduce the behavior:
1. Create a 'base' collection with some requests (I had ~180 requests)
2. Fork the base collection
3. Do some changes on fork
4. Merge the fork into base collection
5. Check the order of requests inside folders

I expected that order of requests inside a specific folder will not change after merge (there were any changes in orders of requests in chang

[2019-01-23 10:58] prashantagarwal commented on #5813
@shahp00ja Looks like there is some whitespace in the string while you are searching for it.

[2019-01-23 11:01] pajangid opened #5815 "getting aws signature issue while hitting multiple times in postman"
Hi,
It seems me surprising getting aws signing issue while hitting multiple times a same API url, keeping everything as same. most of the times it worked, but if i keep hitting sometime I get **403-forbidden** issue.

**Please find below error:**

{"message":"The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult

[2019-01-23 11:05] AndreMaz commented on #7134
I'm glad to see that I'm not the only one who wants to see Postman supporting CoAP.

@shamasis @kunagpal you can check the @mkovatsc's [Copper (Cu) CoAP user-agent](https://github.com/mkovatsc/Copper) and [Copper for Chrome (Cu4Cr) CoAP user-agent](https://github.com/mkovatsc/Copper4Cr). These apps/extensions (for browsers) implement the CoAP protocol and provide a basic GUI with GET/POST/PUT/DELE

[2019-01-23 11:15] shahp00ja commented on #5813
No definitely not, that's the first thing checked for whitespaces, newline characters.  For reconfirmation, retried with typing again freshly, no help.

[2019-01-23 11:17] gitanoqevaporelmundoentero commented on #5558
Same problem here (Linux 4.15.0-43-generic x86_64 and Postman 6.6.1 and also Postman 6.7.1).

[2019-01-23 11:24] ghost commented on #5558
@numaanashraf: label "installation" on this issue is probably misleading. It sets itself as a default application for html on each postman start, not on postman installation

[2019-01-23 13:48] #4616 closed, assigned to ankitjaggi

[2019-01-23 13:48] numaanashraf commented on #4616
We are closing this due to inactivity. Please let us know if you are still facing this issue.

[2019-01-23 14:07] ghost commented on #5758
Hi. Sorry for late reply. My screen recording is 26 mb and too large for attaching.
Actually I managed to upload the compressed movie to my website http://www.hjemliebe.dk/postman.zip please do allow some minutes before downloading since I am hosting my website on Heroku free solution where my page goes idle after 24 hours of no requests. Thanks

[2019-01-23 14:26] numaanashraf commented on #5739
@mickael-palma-argus Thanks for clarifying. This might be a one-off migration issue when we rolled out GET requests with body. We'll take a deeper look why this might have happened. Have you noticed any other requests that had the same issue?

[2019-01-23 14:28] mickael-palma-argus commented on #5739
I switched back and forth on every affected requests so they are all good now.

[2019-01-23 14:36] numaanashraf commented on #2707
We are working on a configuration to disable all keyboard shortcuts till we have a long-term solution for this. We will update here when this configuration is available on our stable or canary apps.

[2019-01-23 14:37] numaanashraf commented on #3596
This is related to #2707 and we are tracking progress and posting updates there. Closing this as duplicate.

[2019-01-23 14:37] #3596 closed, assigned to vkaegis

[2019-01-23 15:00] WendallHersh commented on #3463
Has there been any progress on this request as of late? I figured I would ask since it has been 6 months since the last comment.

[2019-01-23 15:00] nathanchilton opened #5816 "Linux arm64 Support"
I am using Postman on an arm64 Chromebook, running Linux using the Crouton method.  The Chrome app works, but there isn't a native version for arm64 linux.  Would you please consider making an arm64 linux native version before you completely kill the Chrome version?

Thank you for your consideration.

[2019-01-23 15:13] numaanashraf commented on #3856
This is related to #2893 and we are tracking updates and progress there. Closing this as duplicate.

[2019-01-23 15:13] #3856 closed, assigned to numaanashraf

[2019-01-23 15:16] sujayvenaik commented on #5813
@shahp00ja
At the time you are searching, can you check once on the quick look (eye icon) that you have these global variables?

Maybe a case where you are creating the global variable from your script when they do not exist from before.

[2019-01-23 16:10] fcheadle commented on #5812
I commented in the forums, but I think it worth pointing out some more information here - I used to be a member of a paid team, but we decided not to renew our subscription several years ago. There is only one other member of the team, and it allowed me to transfer admin permissions to him, but failed to delete myself after. I am still listed as a team administrator on the postman website

[2019-01-23 16:11] jjonathan313 opened #5817 "Feature: Enable Dark/Light theme based on OS theme"
It would be nice to match the theme of Postman to the theme enabled on the host OS (macOS and Windows 10), maybe as a third option in themes.

[2019-01-23 18:56] adachenski opened #5818 "204 response with non-zero content-length takes too long to finish"
**To Reproduce**
1. Send a valid DELETE request

**Expected behavior**
1. Verify that the execution time is reasonable and the response and the status code is 204

**Actual behavior**
Right after sending the request the app hangs
[App hangs JPG](https://drive.google.com/file/d/1APvQ_CoDqnY-kz9hgXC8iKBBGortnVao/view?usp=sharing)
Than it takes very long to execute(1 min)
[Long to execute JPG](https:

[2019-01-24 04:18] SteveIves commented on #4578
I have this problem in 6.7.2!!! And the --disable-gpu setting DOES WORK!!! It's on a Windows 2012 R2 server VM, there IS NO GPU!!!

[2019-01-24 06:31] jjsty1e commented on #1228
why this was remove from the Mid term roadmap? I eagerly hope you guys add this feature to postman mac native apps, thanks very much.

[2019-01-24 07:22] weirdsci commented on #3796
When to expect an Integration for TFS? We're not using any of the supported integrations, but would very much like to sync our postman collections to TFS and integrate them in the CI pipeline.

[2019-01-24 07:27] numaanashraf commented on #5629
@HasanAliKaraca We do not automatically maximize, and window position and sizes are a matter of subjective preference. You can manually maximize if you prefer that and Postman would remember your last used window position and size in further launches.

[2019-01-24 07:29] #5629 closed, assigned to nobody

[2019-01-24 08:52] silvervesi commented on #1113
Found a workaround. Export the collection, then open the exported json file in notepad and edit:

[code]

src will be empty, add the full path with backslash characters escaped: C:\\Users\\silverv\\Desktop\\testcerts\\testcert.cer

Now, import the collection back to Postman, either as a copy or overwriting the previous one. Now, Postman will still not show this file in Request body, nor will it wo

[2019-01-24 08:54] silvervesi commented on #4320
Found a workaround. Export the collection, then open the exported json file in notepad and edit:

[code]

src will be empty, add the full path with backslash characters escaped: C:\\Users\\silverv\\Desktop\\testcerts\\testcert.cer

Now, import the collection back to Postman, either as a copy or overwriting the previous one. Now, Postman will still not show this file in Request body, nor will it wo

[2019-01-24 10:12] jcnaud commented on #4946
Same for me. The description of the solution proposed by @fedepia will be perfect.

[2019-01-24 10:41] drake1979 commented on #2707
Some serious architecture issues there if this is such a big problem for you 👎
I would like to hope that this is the only quality issue with your product, but it's kind of hard.

Thanks for your efforts anyway!

[2019-01-24 10:42] lubainaz commented on #5803
Hi,

I am facing the same problem. I want to send an an autheticated call on LinkedIn. It was working perfectly fine till few days back. Now it says 'You need to enable JavaScript to run this app.'

Can someone guide me what might be wrong?

Thanks
<img width="1028" alt="postman-3" src="https://user-images.githubusercontent.com/42442764/51673019-42bdc300-1fcd-11e9-8433-ac68d07140b8.png">

<img wid

[2019-01-24 11:45] jeff-goddard opened #5819 "OAuth2 (with self signed certificates) no longer works since 6.7.2"
**Describe the bug**
After upgrading to 6.7.2 OAuth no longer works with self signed certificates

**To Reproduce**
* Set up OAuth 2.0 using a self signed certificate for a request (We are using the Authentication Code flow)
* Ensure that SSL certificate validation is disabled
* Click on Request Token

See this error:

Could not complete OAuth 2.0 login.
Check Postman Console for more details.

Po

[2019-01-24 12:06] ccarcaci opened #5820 "Application folder copied (and zipped)"
## App Details:

[code]

## Issue Report:
I always had this bug.
Every time I run Postman it creates a copy of the application folder (and a zip file too) with trailing timestamp in the name (see the screenshot).

* Open Postman
* Call someone
* Voilà you have won a new folder and zip file!

![screenshot from 2019-01-24 12-55-29](https://user-images.githubusercontent.com/7973726/51676902-4e62b700-

[2019-01-24 13:28] bcusto commented on #4310
I had the same problem with version 6.7.2 windows 10 and managed to get around it
Right click the *setup.exe
Click on Compatibility
Tick the box "Run this program in compatibility mode for:"
and choose Windows 8
press okay.
double click the *setup.exe

[2019-01-24 13:49] JakeSteam opened #5821 ""Pretty" view fails to parse \u009a (š)"
**Describe the bug**
"Pretty" view fails to parse \u009a (š).

**To Reproduce**
Steps to reproduce the behavior:
1. Make a `GET` request to https://api.nasa.gov/planetary/apod?date=2019-01-23&api_key=DEMO_KEY
2. Toggle between "Raw" and "Pretty" views.

**Expected behavior**
I expected `Lukáš Veselý` under `copyright`, instead I received `Luká\u009a Veselý`.

**Screenshots**
![image](https://user-

[2019-01-24 14:39] DanielPetatCes commented on #5819
Same problem here.
I can send "normal" requests to the server, but OAuth 2.0 does not work anymore.

SSL certificate validation is disabled.

[2019-01-24 14:45] EvanMulawski commented on #2853
This needs to be an option (and probably on by default). Currently, it's completely useless when trying to monitor an endpoint (application, load balancer, etc.) during deployments.

[2019-01-24 15:07] bkirkendall opened #5822 "Ability to share functions defined within a collection run across separate scripts"
## App Details:

[code]

## Issue Report:
To facilitate code re-use I have created an object of functions that I define in the pre-request area of a collection. These are defined in the form:

utils = {
    myFunction1: function() { <do something> },
    myFunction2: function(myValue) { <do something with myValue> }
};

I then invoke them in my test scripts using the form:

utils.myFunction1();
ut

[2019-01-24 15:57] tijaune opened #5823 ""Use Token" in "Manage Access Token" always skips current tab token, other tabs ok"
**Description**
`Use Token` apply the new obtained token to all tabs except the current one.

**To Reproduce**
1. I have 2 tabs with the same `Access Token` xxx.
2. `Access Token` xxx expired, so I used `Get New Access Token`, `Request Token`.
3. A new `Access Token` yyy is received, so we can click on `Use Token`.
4. The new `Access Token` yyy only update other tabs, not the current one.

![snap

[2019-01-24 15:59] timmeade commented on #3773
Agreed Concur with @thomasazdon almost same situation here.

[2019-01-24 16:14] flowdee commented on #2847
+1

[2019-01-24 16:21] JakeSteam commented on #5821
Closed as it [looks like it's not a Postman fault](https://github.com/google/gson/issues/1459).

[2019-01-24 16:21] #5821 closed, assigned to nobody

[2019-01-24 16:38] SORC3r3r opened #5824 "Collapse postman runner results"
Hi,
is there a way to collapse all the expanded views of the postman tests in the postman runner?

I have a collection with 100+ requests which all include between ~1-30 tests.
When the postman runner finishes with the run, everything is expanded.
It would be nice to have a button or shortcut or anything to collapse all (if not already there ;)

[2019-01-24 18:21] bkosborne commented on #4058
Yes maybe this issue should be re-opened so first class support for such a feature could be implemented?

[2019-01-24 19:26] zzxcqa opened #5825 "Postman crashes when sending request with environment not selected"
Postman crashes when clicking on "Send" for a request that has a pre-request script using environment variables, but without any environment selected.

To reproduce:

1. Create a request with pre-request script referring to environment variables.
2. Do not select any environment
3. Click on "Send"
4. Postman crashes

I would expect Postman to show some sort of error message instead of just crashin

[2019-01-24 21:46] JP-from-Postman opened #5826 "Allow monitor failure threshold for notifications to be configured"
[From Postman Support, on behalf of user]

Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
If a monitor is expected (by Collection design/the systems it monitors/the test assertions used) to fail more than 3 times in succession, t

[2019-01-25 00:21] JP-from-Postman opened #5827 "Manage Environments loads slowly with many, large variables"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
The MANAGE ENVIRONMENTS view in app loads slowly when there are a high number of variables, and large values.

Example via Postman Support is:
- ~87 global variables, all containing schemas
- load time for MANAGE ENVIRONMENTS vi

[2019-01-25 00:28] andersonllda commented on #5457
I have the same issue, and this is anoying.

[2019-01-25 02:00] lvillal commented on #5721
I have the same issue
![screenshot from 2019-01-24 22 59 38](https://user-images.githubusercontent.com/2653583/51720293-c8705b80-202b-11e9-9722-128c4a214caf.png)

[2019-01-25 02:47] jhardin-aptos commented on #1180
A definite +1 on this feature.

We have a desire to run a database query to get the data to verify the REST results (potentially in a loop) vs. hardcoding the data in the tests or running some external scripted step to generate an environment file - the npm package **mssql** looks like it would be perfect, but the web of dependencies and potentially their size makes the prospect of trying to inclu

[2019-01-25 03:48] chrisdeso opened #5828 "Spawn new tabs when selecting new requests"
**Is your feature request related to a problem? Please describe.**
Currently, opening a new request will only spawn a new tab if the current tab/request has unsaved changes.

**Describe the solution you'd like**
Spawning new tabs whenever a request is selected.

**Additional context**
[Filed by Postman]

[2019-01-25 04:00] SamvelRaja commented on #5825
@zzxcqa  Could send us logs from `%appdata%/Postman/logs/main.log`
and,
I would like you to open the app using cmd from `%localappdata%/Postman\app-6.7.2\Postman.exe` and send the log in cmd when it is crashing.

This will help us in identifying the issue.

[2019-01-25 05:13] sujayvenaik commented on #5828
Hey @chrisdeso

There is a setting `Always open requests in new tabs` which will solve your use case.

<img width="706" alt="screen shot 2019-01-25 at 10 42 32 am" src="https://user-images.githubusercontent.com/11532114/51726541-fc7c6880-208d-11e9-8688-1cbe87a41688.png">

[2019-01-25 08:22] sharypovandrey commented on #4009
Postman, we love you! Give us a WS testing tool, please

[2019-01-25 08:45] qortex commented on #5680
now working for me, but don't really know what I changed in the configuration of my fedora in the meantime :(

[2019-01-25 08:59] shahp00ja commented on #5813
@sujayvenaik that's not the case, the global variable exists and even if that wasn't, still the variable should be found in the pre-request (Open tabs or collections)

[2019-01-25 09:32] zl7261 commented on #4009
+10086

[2019-01-25 11:24] Ramya-From-Postman opened #5829 "Cannot modify permission on forked collection"
Hi,

When you fork a collection from its original workspace to a Team Workspace, there is no way to set "Modify Permissions" on the new forked collection.
It only works when you instead fork to the original workspace, then share to the Team Workspace.

[2019-01-25 12:38] numaanashraf commented on #5813
@shahp00ja These results would show up under open tabs / collections. One factor that might impact the results not showing up is the FILTER. Could you verify that pre-request script / tests are enabled in the filter?

<img width="561" alt="screenshot 2019-01-25 at 6 03 26 pm" src="https://user-images.githubusercontent.com/3295568/51746350-da094000-20cb-11e9-8c49-9c5a628edd4b.png">

[2019-01-25 13:10] #5828 closed, assigned to sujayvenaik

[2019-01-25 13:23] #5761 closed, assigned to nobody

[2019-01-25 13:28] numaanashraf commented on #5786
We are closing this due to inactivity. Please let us know if you are still facing this issue.

[2019-01-25 13:28] #5786 closed, assigned to nobody

[2019-01-25 13:28] zlfnhmd commented on #350
+1

[2019-01-25 13:35] numaanashraf commented on #5796
@Lokutus Could you open the Postman Console (View > Show Postman Console), re-send the request and verify the format of the cookie value in the response header?

<img width="1004" alt="screenshot 2019-01-25 at 7 04 16 pm" src="https://user-images.githubusercontent.com/3295568/51749030-396b4e00-20d4-11e9-96fb-6050c5a31b74.png">

[2019-01-25 13:38] lhyla opened #5830 "Cannot merge big collection (10k requests)"
1. Forked a 'base' collection containing 200 requests,
2. Added around 10k of requests to the forked collection.
3. Clicked 'merge changes'
4. Received error 'Cannot merge changes' from Postman webapp

I exported the JSON and it has 600k lines. That`s an estimated size of collection when we will prepare all the tests which we want to prepare so basically I want to check how Postman will handle suc

[2019-01-25 13:46] lhyla commented on #4375
Having same problem.

Collection ~10k requests and exported JSON~600k of lines (160mb)
After clicking 'import' postman screen goes black, and after some seconds Postman is turning off.

Windows 10 x64
Postman Desktop 6.7.2

[2019-01-25 14:18] lucamaf commented on #1946
version 6.7.2 on Fedora crashes with POST and binary/stream format of 300MB

[2019-01-25 14:27] msjonathan commented on #5819
We have the same issue with SSL certificate validation disabled.

When we browse to the identity server url with edge it states the certificate is valid, When we do the same test with chrome and browse to the it states that the certificate is invalid.

- Postman: 6.7.2
- OS: Windows:  17134.523

[2019-01-25 14:29] JohnnieShort commented on #1667
+1

[2019-01-25 14:57] alexcuevag commented on #5322
We are experiencing the same issue in our company. Any update on this will be appreciated. Thank you.

[2019-01-25 15:00] lawrencek76 commented on #5819
Same issue here after upgrade to 6.7.2.
Reinstalling 6.7.1 the issue goes away.

[2019-01-25 16:04] numaanashraf commented on #5819
Related to #2918

[2019-01-25 16:06] kaustavkarmakar2 commented on #5829
Server Setup Wizard runs automatically when you visit
Team Workspace Server in your browser the first time Server is started.
The Setup  guides you to:
Specify the default language for Server.
Connect Workspace Server to an external database (the internal HSQL
database is great for evaluating Workspace Server, but is not
recommended for production installations). You'll need to have
created the ex

[2019-01-25 16:13] numaanashraf commented on #5819
@jedigo @DanielPetatCes @msjonathan @lawrencek76 Thanks for reporting this. We fixed an issue in how SSL certificates were validated in Postman in 6.7.2 and this seems to have had a side-effect in the OAuth2.0 flow. This was not caught in our testing as self-signed certs is not officially supported in the OAuth2.0 flow (the SSL cert verification setting only affects normal request sending flow via

[2019-01-25 16:19] benjefferies opened #5831 "Cannot backup and restore environment from API"
**Describe the bug**
Cannot backup and restore environment via the postman API due to 100 item limit

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Export environment with more than 100 variables
1. Update environment `curl -XPUT https://api.getpostman.com/environments/$ENVIRONMENT -H "X-Api-Key: $TOKEN" -H "Content-Type: application/json" -d "@postman.json"`

**Expected behavior**

[2019-01-25 16:26] BrandonDusseau commented on #3834
I hate to reopen very old issues, but I'm currently experiencing this issue on 6.7.2. I am unable to disable the "Files on Demand" option as it's enforced by group policy.

For now I'm working around the issue by moving the certs out of OneDrive, but it's not ideal as my organization has migrated all of active directory to OneDrive so these files are now only local to my machine. _Personally,_ I d

[2019-01-25 17:03] yossarian123 commented on #3796
yes, this would be a great feature to have.

[2019-01-25 17:16] Bluscream commented on #350
+1

[2019-01-25 19:03] JP-from-Postman opened #5832 "Remove escaped whitespace characters from JSON bodies, in request code generator"
[User feedback, submitted by Postman Support]

Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
For some languages, the Generate Code Snippets tool includes newlines (\n) and tabs (\t) for JSON request body strings. User feedback is that these may be superfluous, and can be om

[2019-01-25 19:25] JP-from-Postman opened #5833 "Add support for aiohttp to Code Generator, other languages as well"
[User request, submitted by Postman Support]

Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
_User request:_
Add support for "_additional code generation targets, such as_ **aiohttp** _(which uses Python's new asynchronous paradi

[2019-01-25 20:05] zzxcqa commented on #5825
@SamvelRaja here is the log when launching Postman from cmd:

1548446143159 main info ["EventBus\\x7einitialize - Success"]
1548446143164 main info ["UpdateHandler\\x7einit - Success"]
1548446143165 main info ["RuntimeExecutionService\\x7einitialized: Success"]
1548446143165 main info ["ProtocolHandler\\x7einit - Success with status: true]"]
1548446143275 main info ["PluginHost - Booted for 1th ti

[2019-01-25 20:09] zzxcqa commented on #5825
@SamvelRaja I noticed something else as well when trying to reproduce this issue. "No Environment" should be selected before sending any request after Postman starts. If an environment was selected and a request sent, even though I change to "No Environment", the previously selected Environment seems to be used when sending requests

This possibly belongs as a separate bug report - Postman does no

[2019-01-25 21:26] Hesamedin commented on #3312
+1

In addition to that, I would like to set Environment programatically, too. Please look at my question in stackoverflow if the feature is already there. Thanks.

https://stackoverflow.com/q/53766614/513413

[2019-01-25 21:43] shamasis commented on #1947
I have a thought for a quick relief from this pain, can we share feedback? Here it goes:

We introduced folder and collection level scripts that adds the ability to attach a test/pre-req script at folder / collection and that gets run every time a request gets run. Now, if we add the ability to modify the request from pre-request script using `pm.request.*` APIs.

This would alleviate the problem

[2019-01-25 22:40] barakbd-bluevine commented on #1947
@shamasis - have you tried it? I tried it a while ago, and I ran into this issue - request object is read only:

https://learning.getpostman.com/docs/postman/scripts/postman_sandbox#requestresponse-related-properties

[2019-01-26 06:47] jcwilson commented on #2458
Without this payload hash functionality, the Hawk Authentication feature can't be used for much of anything beyond `GET` requests.

As mentioned above, this isn't new functionality in the underlying hawk library js implemention. In fact, it was present at the time the Hawk Authentication feature was originally added to Postman, so its absence is curious. It should be fairly easy to pass in the pay

[2019-01-26 07:24] kession commented on #1667
year of 9102 ...... where is the   Interceptor feature in native app?

[2019-01-26 07:35] myylow commented on #5309
I have a similar problem when typing using unicode in Postman (for me, it happens when typing in Thai language). Something strange happens with the cursor, it skews way out of position and you can not accurately position it where you want to type. The problem gets worse the more you type, and makes Postman basically unusable to type in if using Unicode. It would be massively helpful if this can be

[2019-01-26 08:30] tvvbbb commented on #3602
The newest Postman did not support yet. I am disappointed.

[2019-01-26 18:24] numaanashraf commented on #5831
Thanks for reporting this @benjefferies. We are tracking this at #5369. Closing this one as a duplicate.

[2019-01-26 18:24] #5831 closed, assigned to nobody

[2019-01-26 18:33] numaanashraf commented on #5721
Thanks for reporting this @ygModesto @lvillal. We are tracking this at #5034. Closing this as duplicate.

[2019-01-26 18:33] #5721 closed, assigned to nobody

[2019-01-26 18:34] numaanashraf commented on #5820
Thanks for reporting this @claudiocarcaci. We are tracking this at #5034. Closing this as duplicate.

[2019-01-26 18:34] #5820 closed, assigned to nobody

[2019-01-26 22:03] leonklingele opened #5834 "Allow running requests inside collection concurrently"
It would be great to allow running requests inside a collection concurrently.

The [Go race detector](https://golang.org/doc/articles/race_detector.html) (enabled with `-race` flag) only reports data races that actually happen. To test a Go web service for data races, (HTTP) requests to it must happen concurrently. It would be nice to use Postman for that.

This is an xpost of https://github.com/p

[2019-01-27 04:08] tvvbbb opened #5835 "What mock server return is not expected"
I am excited about postman to provide mock server, but I am very disappointed after a few days' uses. What mock server return is not what I expect. For example:
I write 2 examples:
First, no query params then return a,b,c.
Second, with query params 1, then return d,e,f.
But, when I post no query params, mock server return d,e,f, not a,b,c. This is I can't accept.

[2019-01-27 07:24] JC5 commented on #5819
FYI, I am also experiencing this issue with certificates issued under a internal CA. A root CA that's not found elsewhere.

[2019-01-27 09:42] arunsathiya commented on #4795
This is a great suggestion! On Mac though, I am currently using Cmd+1/2/n, as mentioned here https://blog.getpostman.com/2017/05/03/speeding-up-workflows-with-keyboard-shortcuts/

[2019-01-27 15:56] arunsathiya opened #5836 "Feature request: Auto-focus a certain parameter field on request selection"
**Is your feature request related to a problem? Please describe.**
I use Postman for sending `POST` requests and I'd need to fill a certain parameter field before sending the request. Clicking on that parameter field is possible only using the mouse at the moment and I would love to use only keyboard throughout this experience.

**Describe the solution you'd like**
When I choose the request in que

[2019-01-27 17:43] nhhockeyplayer commented on #4594
who is building this stuff

cannot even install it

?????????

[2019-01-28 00:30] jsaya01 opened #5837 "Commas showing up in python3 code generation"
This issue occurs whenever trying to produce code from the Postman application.

To reproduce:
Create a request
go to code
choose python -> python3 http
*this will show commas where there are suppose to be slashes in the request

App information:
Postman Desktop App
Version 6.6.1 (6.6.1)
MacOs mojave

[2019-01-28 09:13] i3anaan commented on #1946
Experiencing crashes when trying to use the runner for testing performance on a 4.3Mb js file.

[2019-01-28 09:20] thomas-lucas1985 commented on #5819
FYI, we are also experiencing this issue with certificates issued by Let's Encrypt.

[2019-01-28 09:36] p00j4 opened #5838 "Tests: nextRequest: the current script's execution to stop on encountering nextRequest"
Postman flow’s scope as mentioned:
[code]

Does this also mean that for the request, even if the nextRequest is called in a **pre-request**, it will still execute "Tests" section before moving to the next request?

I’m having postman.setNextRequest() in pre-request, still for the last run, the current request’s test script is executed i.e. the task i’m doing in the “test” section, **repeats 1 more

[2019-01-28 09:42] amstrad commented on #2724
+1

[2019-01-28 09:59] marioabbey commented on #2185
Any update on this issue #5199 ?

[2019-01-28 10:12] TomasAndersen opened #5839 "Mock dynamic response based on authorization/headers"
**Is your feature request related to a problem? Please describe.**
We would like to be able to send calls towards the postman MOCK to simulate a OK/UNAUTH response based on the correct Basic Auth username/password set in the header to test that the client in development has remembered to add authorization.

**Describe the solution you'd like**
We would like to be able to add examples for a mock re

[2019-01-28 10:13] #5041 closed, assigned to numaanashraf

[2019-01-28 10:46] pomeh commented on #5727
oh ok ! Thanks @numaanashraf for this info and answer :+1:
And sorry for the invalid ticket created ! :-1:

[2019-01-28 12:23] attilahogyai commented on #697
+1

[2019-01-28 12:41] shahp00ja commented on #5813
@numaanashraf yes, everything is selected, the problem persist irrespective of anything [Updated to 6.7.2 and still the same]
(even after shutting down machine and fresh launch, the problem persists)
Strange that how it gradually stopped working for everything (it used to work, then it stopped working only for global variables and now for none -> suspected if the settings have gone wrong somewhere

[2019-01-28 12:56] ElijahKuranets commented on #5819
The answer is to ADD SELF-SIGNED SSL certificate to POSTMAN.
1.Open Git Bash and add next:
openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout privatekey.key -out certificate.crt
2.Then fill all text in console that are required.
3.Close Git Bash.
4.Next find your certificate.crt. (my was in C:\Users\User)
5.Open Postman -> Settings -> Certificates -> Add Certificate.
I added only host and

[2019-01-28 13:23] numaanashraf commented on #5727
@pomeh Glad I could help. I have updated the PR title to make it easier to find for other users.

[2019-01-28 13:27] numaanashraf commented on #5819
@ElijahKuranets That's odd. Settings > Certificates > Add Certificate is for configuring client certificates. They would ideally not impact verification of self-signed server certificates.

[2019-01-28 13:41] roger7467 opened #5840 "Tab is not shown/displayed properly when selected"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When I click on a request in the collection, the request details are not displayed on the right-hand side.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any request in the collection
2. Click on any request
3. Noth

[2019-01-28 14:57] arashberlin commented on #5819
I have the same problem with SSL certificate validation disabled.

I also tried and added the certificate in Settings > Certificates > Add Certificate
With host, CRT & Key and host and CRT and also only host

RESULT:
Error: unable to verify the first certificate

Can't use Postman anymore.

CERT is installed in cert store local computer (My and trusted cert auth)

With chrome and firefox there is

[2019-01-28 15:46] DanielPetatCes commented on #5819
In my case, Google Chrome accepts the certificate, because it is signed by our companies CA. This root CA is installed on all computers per group policy.
I am not sure, why Postman says, it is invalid?  But this may be another problem.

[2019-01-28 15:50] EverestJoo commented on #4555
yes, postman with old version by using the chrome app has the feature which can do the urlencoding for the get params and post params. However the newest version, v 6.7.2, can not automatically do the urlencoding for the request parameters, I have to do this manually.
Hope to fix this issue soon!

[2019-01-28 15:52] tegomass opened #5841 "Postman returns an error when there is a renegotiation of certificate"
**Describe the bug**
When 2 requests are sent too quickly, Postman returns an error on the 2nd request due to the renegotiation on certificate set on the server.

The test has been done also on a web browser using fetch and xhr functions. Plus with node.js request module. And the issue doesn't happen on them.

This bug happens on Postman and also on Newman.

**To Reproduce**
Steps to reproduce the

[2019-01-28 16:07] WillTaylor22 commented on #2458
+1

[2019-01-28 16:24] roger7467 commented on #5840
This is quite urgent and blocking my test.
Anyone there?

[2019-01-28 16:27] sujayvenaik commented on #5840
Hey @roger7467

Could you send us the logs from View -> Developer -> Show DevTools (Current View)?

Also, for quickly unblocking yourself you can open requests in a new tab. (Right-click on request name and press Open in New tab)

[2019-01-28 16:40] roger7467 commented on #5840
![image](https://user-images.githubusercontent.com/695876/51851271-d7088c80-2323-11e9-83f3-465599fc74ce.png)

[2019-01-28 16:43] roger7467 commented on #5840
[-1548693763982.log](https://github.com/postmanlabs/postman-app-support/files/2803972/-1548693763982.log)

[2019-01-28 16:47] neeraj15599 opened #5842 "Curl command generated from postman is not correct"

[2019-01-28 16:51] sujayvenaik commented on #5840
@roger7467  Thanks for the logs.
We will debug this further and update this thread.

[2019-01-28 16:53] prashantagarwal commented on #5813
@shahp00ja Looks like these screenshots are of just before clicking on Find. Can you add a screenshot after you have clicked on the Find button?

[2019-01-28 18:07] towndwarf commented on #4167
(hash)metoo. :)
I mean, postman stalled in some infinite loop. Cannot use.

[2019-01-28 19:29] thdoan opened #5843 "JSON response not beautified"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I got an alert saying "Could not beautify" for a JSON response with `Content-Type: application/json` (see screenshot below).

**To Reproduce**
This is an internal server, so you would not be able to reproduce it.

**Expected beh

[2019-01-28 20:15] shamasis commented on #1947
@barakbd - I am suggesting this. It is not yet done that way. What are your thoughts?

[2019-01-28 21:30] Balagii opened #5844 "Suppressing auto-added request headers"
**Is your feature request related to a problem? Please describe.**
Postman (native app v6.7.2 on Win 10) emits "Accept: \*/\*" request header every time unless the "Accept" header value is explicitly overridden. I would like to be able to suppress this header completely - not to be sent at all. Right now there doesn't seem to be a way to do this.

Better control of exact request headers sent to th

[2019-01-28 21:58] chrisdeso opened #5845 "More contextual error messaging on Sign in page"
**Is your feature request related to a problem? Please describe.**
When receiving an invitation to join a team, users are redirected to the [sign in page](https://identity.getpostman.com/login). If the user hasn't registered for a Postman account, a generic error message is surfaced which doesn't indicate that the **Create Account** action should be used.

![image](https://user-images.githubuserco

[2019-01-29 03:26] nhhockeyplayer commented on #4657
this product refuses to install or do anything

[2019-01-29 05:24] sujayvenaik commented on #5843
Hey @thdoan
Can you send a screenshot with the response headers as well?

[2019-01-29 09:05] adglow-dbarredo commented on #4359
@flhaz same error here... running it as a superuser it works: sudo ./Postman... but I haven't figured out why yet

[2019-01-29 10:34] #5470 closed, assigned to harryi3t

[2019-01-29 11:38] codenirvana commented on #4114
@schmod @j4velin This has been fixed in Postman native apps starting from 6.7.1.

[2019-01-29 11:38] #4114 closed, assigned to shamasis, codenirvana

[2019-01-29 11:46] codenirvana commented on #3582
@blikblum We've added support for JSON schema assertions which uses `ajv` library under the hood.
This should be available in Postman native apps starting from 6.7.1.

[code]

[2019-01-29 11:46] #3582 closed, assigned to shamasis, kunagpal

[2019-01-29 12:04] cesardka commented on #1535
+1

I'm quite surprised that this feature wasn't implemented yet, but glad to know that you guys are at least aware of this demand

[2019-01-29 12:16] andre-kvernberg opened #5846 "Shortcut Collection Variables"
Can you please add an Shortcut to edit collections variables?

[2019-01-29 13:12] shahp00ja commented on #5813
:) 100% these are after "find" click, the exact same screen gets rendered after find click as no results are found. Scrolling in results area (if somehow UI issue) was the guess not useful too.
gif for your reference:
![postmansearchbug](https://user-images.githubusercontent.com/12966925/51910339-ec99b700-23f4-11e9-8015-963fd22364da.gif)

[2019-01-29 13:54] numaanashraf commented on #5813
@shahp00ja Thanks for screenshots. This indeed looks like a bug.

[2019-01-29 14:58] thamerla commented on #5809
@sujayvenaik any chance to fix it?

[2019-01-29 15:47] mancave commented on #4038
A lote of calls made last week with the same collections. But now without changing the collection I get the errors  "self signed certificate in certificate chain". But to enable or disable the "SSL certificate verification" we get the message "self signed certificate in certificate chain".

Current version: Postman for Windows, Version 6.7.2, win32 10.0.17134 / x64

[2019-01-29 16:00] numaanashraf commented on #4038
@mancave Are you referring to OAuth2 flow with self-signed certificates? https://github.com/postmanlabs/postman-app-support/issues/5819#issuecomment-457625628

[2019-01-29 16:09] mancave commented on #4038
Yes I have the same problems

[2019-01-29 16:28] cesardka commented on #4785
Thank you for this quick and easy workaround!

[2019-01-29 16:37] numaanashraf commented on #4038
@mancave Thanks for confirming. Please follow #5819 for updates on this issue.

[2019-01-29 16:48] abhijitkane commented on #1667
The Postman-Interceptor integration is a priority, and we're working on ironing out a few issues and completing a security review. I can't offer an exact release date yet, but we hope to see a basic integration with Postman out soon.

[2019-01-29 17:13] jhardin-aptos opened #5847 "xml2Json() does not properly convert XML NIL to JSON null"
We're working on developing a framework for doing data-driven Postman tests, and one of the approaches we're exploring is to dump the results from the reference query into an Environment variable in XML format, then in the tests convert that to a JSON object for easier handling.

One problem is that `xml2Json()` isn't properly handling the XML NIL attribute that's used when the data returned by th

[2019-01-29 18:13] numaanashraf commented on #4380
@Jasonseah This issue does not seem to be reproducible on the latest version of the app (v6.7.2). Please re-open if you are still facing this on the latest version.

[2019-01-29 18:13] #4380 closed, assigned to numaanashraf

[2019-01-29 18:56] JP-from-Postman opened #5848 "Closing runner mid-run, causes native app to crash"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Cancelling a request while it is pending, or closing the Collection Runner window before the active run completes, causes the native app to crash.

**To Reproduce**

Import attached Collection into Postman app:
[Cancel Bug.postm

[2019-01-29 19:03] numaanashraf commented on #5757
@vkaegis Why is this a bug? We explicitly do this for methods with more than 4 characters.

[2019-01-29 19:05] sujayvenaik commented on #5848
Duplicate of #5799

[2019-01-29 19:23] JP-from-Postman commented on #5819
[From related Support request]

_...upon further research it appears that this problem is limited to OAuth token requests._

_...I determined that if I use a (non-integrated) collection request I defined for OAuth testing to obtain the token it succeeds, and I can then use the returned bearer token to perform other OAuth requests._

[2019-01-29 19:54] chrisdeso opened #5849 "Team Administrators unable to invite users"
**Describe the bug**
Team administrators are unable to invite users via the web dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Teams page](https://go.postman.co/team)
2. Click on `Invite Users`
3. Enter an email address
4. See error

**Expected behavior**
Administrators should be able to invite team members via the self-serve flow.

**Screenshots**
![image](https://user

[2019-01-29 20:22] SarathVakacharla commented on #2721
For mac?

[2019-01-29 20:40] jerodg commented on #3692
Need this feature as well.

[2019-01-29 21:25] Madhu031090 opened #5850 "Unable to start the app."
Description:
The app is just loading forever.
Developer tools, I am seeing the following error message.
 "the server responded with a status of 403 (Forbidden)"

Steps to reproduce the behavior:
1. Download 6.7.2 version of Postman Desktop app
2. Run the .exe file
3. Postman app install is successful
4. App Loads and nothing other than "exit" works

**App information (please complete the following

[2019-01-29 21:28] wsfuller opened #5851 "New owner of transferred Collection unable to modify permissions to new users"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
There was a developer that created and owned collection. The developer left the company transferring ownership to another user. The new owner of the collection inherited the collection and was able to View & Edit. The issue we f

[2019-01-29 22:15] vmarkova commented on #3128
Hi there,

Have exactly same issue described above, but disabling SSL didn't help :(
All tests are successful in Postman API Runner, monitor keeps being failed thou. Exact same errors in console log, but all advices above don't help (tried disabling SSL, checked url, checked enviroment).

Attaching 2 screenshots - postman runner successful results and monitors failure. (URLs and collection names a

[2019-01-30 03:59] makahn64 commented on #5008
Was there ever a resolution to this? I am seeing it on my Mac as well.

[2019-01-30 06:46] junaidq57 commented on #798
check this out
The pre-request and test script sections of the Postman app rely on JavaScript (not text). Therefore, you can use Postman’s pm.* API, like the pm.iterationData.get(“variable-name”) method, to access the values loaded from the data file.

https://blog.getpostman.com/2018/04/11/looping-through-a-data-file-in-the-postman-collection-runner/

[2019-01-30 07:06] Ramya-From-Postman opened #5852 "Cannot merge fork"
Unable to merge the forked collection a the page is getting timed out.

![image](https://user-images.githubusercontent.com/40994626/51964255-ff12ff80-248b-11e9-9167-9e50ac71305e.png)

14 replies

[2019-01-30 09:04] julienloizelet commented on #3358
+1

[2019-01-30 09:29] TopHatCroat opened #5853 "cURL raw POST request with double quoted body not imported properly"
Using Firefox 64.0.2 developer tools to copy a request on Windows will use a double quote as an escape character, this does not get parsed by Postman properly and produces invalid JSON in POST body.
Example cURL request generated by Firefox when you select 'Copy' > 'Copy as cURL' on a request in developer tools:
[code]
This produces invalid JSON body as seen here:
![image](https://user-images.gith

[2019-01-30 12:35] irishelp commented on #1607
+1
Waiting for official

[2019-01-30 14:22] abhijitkane opened #5854 "Monitors page error"
Discovered internally at Postman - see attached JIRA for details.

A free user is trying to access their personal workspace's monitors, and sees a 'something went wrong' page.

The WS call to /api/metrics is returning a 403.

The collections tab of the same workspace works properly, and the collection the monitor is on is also visible to the user.

[2019-01-30 15:16] yahya-uddin commented on #3684
@shamasis Yes this is a feature request for *SENDING REQUEST* in chuncked format. Not receiving a response in chunked format which I think PostMan already does.

[2019-01-30 15:41] eaglesvr opened #5855 "Postman missing collection menu items"
## App Details:
Postman for Windows
Version 6.7.0-canary06
win32 6.1.7601 / x64

## Issue Report:
Collection/Folder menu missing these items:
- Share Collection
- Modify Permissions
- Export
- Monitor Collection
- Publish Docs
- Remove from workspace

The only available items are:
-Rename
-Edit
-Add Request
-Add Folder
-Duplicate
-Delete
The app is signed in,
The same issue with the old Chrome App

[2019-01-30 15:51] sujayvenaik commented on #5855
@eaglesvr
Can you provide screenshots for the view where you faced this?

[2019-01-30 17:07] jhardin-aptos commented on #1947
It would be nice to not have to drop into code to do this.

I'd like to see a "Headers" tab in the Edit Collection and Edit Folder UIs... Define a header there and it's included in all requests in that collection/folder. Individual folders/requests could override the collection/folder default header by redefining the header explicitly in that one folder/request.

[2019-01-30 17:26] hishamshoukathali commented on #4731
Getting 403 error while trying to access a endpoint hosted in google cloud but the same can be access via browser

[2019-01-30 18:04] swamy526 commented on #4167
I am also facing same issue

[2019-01-30 18:20] eaglesvr commented on #5855
My fault- I copied collection to a folder and was looking at the wrong menu item. Closing

[2019-01-30 18:20] #5855 closed, assigned to nobody

[2019-01-30 23:25] esheafer opened #5856 "Error: self signed certificate in certificate chain in version 6.7.2"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: It just started after updating to Postman 6.7.2.
 2. Expected behaviour: In version 6.7.1 I could hit our OATH2 token service and get an authorization token with no issues. Now in version 6.7.2 I keep getting this "Error: self signed certificate in certificate chain". I rolled back to

[2019-01-30 23:51] codenirvana commented on #5856
Duplicate of #5819

@esheafer  Please follow #5819 for updates on this issue.

[2019-01-30 23:51] #5856 closed, assigned to nobody

[2019-01-31 00:54] ghost opened #5857 "Able to copy text outside of modal in Documentation example body"
In published documentation, clicking on a JSON example brings it out into a modal body. If you click into the modal and ctrl+A ctrl+c, you end up grabbing the whole webpage, not just the contents of the modal

[2019-01-31 01:10] JP-from-Postman opened #5858 "Documentation: Generated cURL contains empty --data attribute"
Problem:
On documentation site, generated cURL examples for GET requests without a body include an empty `--data ""` attribute.

See example site: https://documenter.getpostman.com/view/5293839/RztkPpZU

[2019-01-31 02:44] adityagoel commented on #2691
+1

[2019-01-31 05:29] abhishek-kandala opened #5859 "expected false to be truthy at assertion:1 in test-script Issue"
I am having old assertions in my postman collections:
tests["Service Status is 100"] = responseBody.has("<serviceStatusCode>100</serviceStatusCode>");
While integrating with jenkins and running the test scripts its failing with following error:
expected false to be truthy at assertion:1 in test-script

Can you please let me know what parameters I need to pass in NewmanRun command.

## Issue Report

[2019-01-31 09:44] chr1573r commented on #2918
Experiencing the same issue

[2019-01-31 10:00] boddens opened #5860 "Cookie is not saved when connecting to an IPv6 address"
**Describe the bug**
When connecting to an IPv6 endpoint, the cookie is not saved while it is send from the server, so it will not be used in subsequent requests. If connecting using IPv4 to the same endpoint (and getting the same cookie header), then the cookie is saved and used.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to an IPv6 host (used the format https://[2a00:aaaa:aaaa

[2019-01-31 10:03] tomkidron commented on #3385
I've encountered the same issue, using "Postman for windows" Version 6.7.2.
After trying every js linter known to man, i think i found a possible solution\workaround:

1. Download an IDE (i used VS Code)
2. Download and enable the jslint extension (install jslint using npm, if needed)
3. Copy and paste the test script from postman to VS Code
4. Fix all errors and warning detected by the jslint ext

[2019-01-31 10:34] grnito opened #5861 "Token Button - Use Token dont pass the value"
## App Details:

[code]

## Issue Report:
Postman button for authenticaion

1 - Click on Authorization
2 - Click Get New Access Token
Type: Client Credentials, OAuth 2.0, HeaderRequest
Client ID, Client Screte and Scrope. Send as Basic Authr Header.

3 - After some time of use, the Button Request Token doesnt pass the token to the Postman.
I need to copy and paste to the line of the request.

-->

[2019-01-31 10:43] seb-noel-bil opened #5862 "Better logging for import failures"
**Description**
My friend uses Native Postman 5.1.3 Windows 8. He exported his work as Postman Echo.postman_collection.json and also the dump via Settings -> data.
I now want to import it on my Native Postman 6.1.4 on Windows 8 also. IMport -> Drop files -> Importe as A copy => Failed to import collection Postman Echo copy.
In the postman console, nothing. What to do ? Where can I see a log file ?

[2019-01-31 10:49] seb-noel-bil commented on #5862
Note also that I can't signIn on my Native Postman 6.1.4 but it worked on the Postman for Chrome Version 5.5.4, where the import works.. it is something related ??

[2019-01-31 11:02] seb-noel-bil commented on #5862
Maybe I have some clue :
- i put the request I want in a new separated Collection, I exported it as Collection v2 (it was v1 in the first case). And it solves the import problem. ... I am no more stuck.. but now this "bug" can be translated as a feature request TO HAVE MORE LOG on import error.

Thanks for your job POstman is great !

[2019-01-31 11:59] Faz540 opened #5863 "When attempting to save a request to a collection, there is no way for the user to know which collection is the original or the forked version."
**Describe the bug**
When attempting to save a request to a collection, there is no way for the user to know which collection is the original or the forked version.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a collection "Regression"
2. Create a fork from that collection
![image](https://user-images.githubusercontent.com/9334128/52052381-10bcdb80-254e-11e9-9a92-be8a03f4b4db.png)

[2019-01-31 12:00] #5757 closed, assigned to godfrzero, vkaegis

[2019-01-31 12:04] Faz540 opened #5864 ""Select a collection or folder to save to" window should be resizable. It currently only shows 3 collections!"
**Is your feature request related to a problem? Please describe.**
When trying to save a new request to a collection it's always a pain selecting the collection as there's only space for 3 collections in the window.
![image](https://user-images.githubusercontent.com/9334128/52053109-5bd7ee00-2550-11e9-821d-97f0ca07d2fb.png)

**Describe the solution you'd like**
The bottom section of the Save Reque

[2019-01-31 12:27] manasesjesus opened #5865 "Spellchecking"
Using Postman on macOS – The Description textboxes (e.g. when saving a request to a collection) don't keep the UX of the already integrated spellchecker.

[2019-01-31 14:23] ghost commented on #2369
I'm also quite shocked, that this issue is not resolved after 2 and a half years.
My favorite part is though, that the Chrome App, that has that essecial feature, has been deprecated.
But well, I still got the hope, that it will be fixed some day after has now been accepted, that this is a Bug and not a Feature..

[2019-01-31 15:16] pralhadgoggi opened #5866 "Allow automated save for responses and publishing docs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when...
To publish samples of my API, I currently manually save responses and then click “Publish Docs” for every collection I have in my project.

**Describe the solution you'd like**
Provide some way either through Newman or Runner to save all reque

[2019-01-31 15:35] ajanczak commented on #1744
+1

[2019-01-31 15:54] mccannt commented on #3919
This is something that I feel would be quite useful to have for the same reasons that @vdespa has mentioned.
Especially for dev/qe folks who are new to the tool and used to IDE's that allow for things like this.

I believe this can help drive use and adoption for some as it can take the guess work out of things for in-built libs.

[2019-01-31 16:13] esheafer commented on #5856
@codenirvana thanks!

[2019-01-31 18:39] BenJuan26 opened #5867 "Download dialog box does not automatically resize on macOS"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
In the `Download` dialog box on macOS, clicking the down/up arrow to switch between simple and advanced finder views does not resize the window. Clicking the button a second time greys out the button, so the user can't go back a

[2019-01-31 19:22] vmarkova opened #5868 "Monitoring is failing in postman pro"
**Describe the bug**
Monitors keep failing. Have exactly same issue described in ticket #3128, but that ticket is closed and I'm not sure if I could get any other response there. Tried advised there disabling of SSL - didn't help :(
All tests are successful in Postman API Runner, monitor keeps being failed thou (Console logs in monitor aare actually saying that monitor gets correct and successful

[2019-01-31 19:40] chdig commented on #4636
This is a drop-dead giant bug that means we cannot use postman.  It is definitely not "expected behavior", or a feature request.  It's simply to do what Postman is advertised to: test multiple APIs.  Since most APIs have their own different authentication/token retrieval, Postman doesn't actually allow seamless use of multiple APIs/collections.

The bugs run deep:
The user experience is very confu

[2019-01-31 20:03] HeroicOvenmitt commented on #2418
I had a silly issue causing this same problem for a little while. For me I was returning a 204 with 'Success' set to false. -_-

[2019-01-31 20:25] aviweiss commented on #4636
Concur.

Postman makes a big deal out of their tool set that in theory should allow for testing different APIs by different people and teams, yet have an oauth implementation that assumes only ONE api via one access token path will be accessed by one person at any given time, which is an extremely silly expectation.

It’s like buying a Bugatti Veyron and equipping it with 4 temporary spare tires..

[2019-01-31 20:57] rmorrise commented on #2434
Any update on this?

[2019-01-31 20:59] dbasargin commented on #4092
+1 Here.
I too am experiencing this with NTLM Authorization.

While iterating over a JSON file In the collection runner and from the command line,
after the second iteration all following requests receive a 401 unauthorized.

Postman Version is up to date: v6.7.2

I do notice: If I add NTLM Authentication headers at the Collection level, then Inherit from parent in all requests, all requests fail.

[2019-01-31 21:17] chrisdeso opened #5869 "More informative error stacktrace"
**Is your feature request related to a problem? Please describe.**
With large scripts, it becomes difficult to pinpoint where errors are being thrown.

**Describe the solution you'd like**
More contextual/direct error messages – i.e. pointing to line numbers, etc

**Additional context**
[Filed by Postman]

[2019-01-31 22:12] loopDelicious opened #5870 "API Network and Templates - search, sharing, etc."
General feature requests for the API Network and Templates under the +New button:

Positioning
- Clarify the difference between Templates and API Network. For example, HarperDB has published their API documentation under the API Network. They have also published a Getting started example for their API that should probably be under Templates.

Housekeeping
- There are several templates created as t

[2019-01-31 22:47] zeeshanejaz commented on #223
Why is this happening again? I use postman for scenario testing and order is really important.

[2019-01-31 23:23] Kavitapillai15 opened #5871 "Invalid Token Error in Postman 6.6.1"
When i POST a request to a link within my org firewall I am receiving the error
{
    "error_code": "invalid_token",
    "error_description": "Invalid token",
    "errorMessage": {
        "error": [
            {
                "errorId": 1001,
                "domain": "OAuth",
                "category": "REQUEST",
                "message": "Invalid token",
                "longMessage": "Inv

[2019-01-31 23:48] dakujem opened #5872 "Authorization header not being sent"
**Describe the bug**
Authorization header is not being sent to the server.

**To Reproduce**
1. either set the authorization to bearer token and add a token
2. or use the headers section and fill in anything and set the authentication to none

Neither works, no matter how i try to set the header.

**Expected behavior**
I would expect the `Authorization` header to be sent.

**Screenshots**
If I try

[2019-02-01 00:05] okonomiyaki3000 commented on #2369
@wwild The chrome app had this because chrome has it. So it kind of got that for free. It's fine. Insomnia works. Just use that.

[2019-02-01 00:16] #5455 closed, assigned to nobody

[2019-02-01 00:16] drod3763 commented on #5455
I just figured out I could access these with pm.iterationData.get("name");

[2019-02-01 00:19] dakujem commented on #5872
BTW: is there any way to analyze network traffic inside Postman (except for network sniffers like wireshark)? The network tab in the devtools shows nothing.

**I have to appologize for this report.**

I tried manually sending the request using cURL and found out that it is actually Apache eating away the header!!

**The solution** was adding
[code]
to the `.htaccess` file.

Sorry, it did not occur

[2019-02-01 00:19] #5872 closed, assigned to nobody

[2019-02-01 00:37] Kavitapillai15 commented on #5871
its resolved.

[2019-02-01 00:37] #5871 closed, assigned to nobody

[2019-02-01 00:38] Kavitapillai15 commented on #5871
resolved

[2019-02-01 01:14] ryannnnnn commented on #3225
I got around this for now by stringifying the object from iterationData and putting it into environment data with a different name name:

`pm.environment.set('myObject2', JSON.stringify(pm.iterationData.get('myObject')))`

[2019-02-01 05:29] galanoff commented on #4009
+2

[2019-02-01 05:58] adithyaonline commented on #3631
+1
this issue has been open for more than a year, pls prioritize and get it fixed !!

[2019-02-01 06:27] SamvelRaja commented on #5863
Duplicate of #5760

[2019-02-01 06:27] #5863 closed, assigned to nobody

[2019-02-01 06:59] numaanashraf commented on #3631
@adithyaonline Could you share with us any steps we can follow to replicate the issue you are facing?

[2019-02-01 07:47] harryi3t commented on #5063
@bmdako Thanks for reporting this issue.
We have reproduced this on our end and are working on the fix.
Will update the thread once the fix is out.

[2019-02-01 07:55] mancave commented on #5819
Any progress on this issue? its blocking our developments. If not how can we restore a previous version of postman

[2019-02-01 08:22] DanielPetatCes commented on #5819
@mancave you can download the previous version from here:  https://www.getpostman.com/downloads/release-notes
There is a download link next to each version.

[2019-02-01 08:59] ghost commented on #2369
@okonomiyaki3000 Makes sense...
I'll continue using the chrome app for now, until I'm too annoyed by the deprecated message and then I'll have a look at Insomnia.
Or until they remove the app without having this issue fixed, which would be the icing on the cake..

[2019-02-01 09:13] numaanashraf commented on #5765
@peter-janssen Thanks for reporting this. We are having some trouble replicating this at our end. Would it be possible to share more information on the client certificate? Specifically the cipher used to create the client key.

<img width="521" alt="screenshot 2019-02-01 at 2 38 04 pm" src="https://user-images.githubusercontent.com/3295568/52113556-a714fe00-262f-11e9-9da2-9bf1b4d02505.png">

[2019-02-01 09:21] andmill commented on #4092
I've given up and moved to a Java framework using apache http client and testNG. Working like a charm, runs from the command line in Jenkins using maven. All open source so no yearly cost to the company from Postman enterprise. More difficult to implement but the benefits far outweigh that. For starters, it works! Also, I can validate csv and xml files easily as well as DB validation.

[2019-02-01 09:32] numaanashraf commented on #4092
@dbasargin Could you verify whether you are facing the same issue while running the collection via newman? https://github.com/postmanlabs/newman#newman-run-collection-file-source-options

[2019-02-01 10:30] olgunyldz commented on #1663
I'm also facing same problem while uploading file via Api Gateway. File is lesser than 10 mb. If file key name is **debug22019 -+(.txt** is not working, and if rename the bucket name to **debug22019 -(.txt** is working fine.

[2019-02-01 11:02] ronm1 commented on #824
Dear Postman Developers,

Reading the comments on a feature request in 2014, the only thing the users of Postman, are actually asking for the last 5 years already, is just a way to hide the contents of a variable in the screen... That's all what is requested. Okay there are also people who are concerned about sending the password in clear text as a parameter in the URL. I can imagine this has some

[2019-02-01 11:20] vghetau opened #5873 "AWS Authentication: The request signature we calculated does not match the signature you provided"
**Bug**
When computing the AWS authentication token, AWS responds with a message along these lines:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authorization, select AWS Signature
2. Click on Body tab, add a file upload, key='file' value=some file on local machine

It works without this file and by disabling the `Content-type=application/x-www-form-urlencoded` header, but i

[2019-02-01 11:27] wabiloo commented on #1947
There seems to be wide agreement that this is needed. How much would it take for the Postman team to accept the "will of the people"?  (guess what country I live in...)

[2019-02-01 13:30] Nicolai6120 commented on #3358
You can trim all comments before sending JSON data, you just provide the handy way to present addditional information for new API users, who will use this method. Like some kind of specification. It can be separated field, but showed on screen at the same time with JSON data. Yeah, we have a @comments@ link at the right top corner, but it is absolutely not convinient!

Look what we have in swagger

[2019-02-01 13:50] cedw032 commented on #131
I would prefer the freedom to send a body with get.  Not being able to do so is going to make my express code look gross. I'm writing my own API not using elasticsearch. +1 for elasticsearch

[2019-02-01 13:51] ehausen commented on #1667
Yup. Tried to set up the proxy thing but did not find out yet how to setup, as the link in the documentation is still broken...

[2019-02-01 13:52] VenkattaPidikiti opened #5874 "Dynamics 365 CE 9.0 API Testing Error at Postman version 6.7.2"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
error for Dynamics 365 CE 9.0 API while testing from Postman version 6.7.2 and 6.7.3. But we don't have any issues with 6.7.1 and earlier versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman
2. Click on

[2019-02-01 13:52] CraigEaston commented on #5819
I tried that and it worked for a little while..

Problem is, even with "Automatic Updates" disabled as soon as you restart PostMan.. it gets upgraded to 6.7.2 and you are in the same boat.

[2019-02-01 16:14] mshindal commented on #5819
I've been using the Chrome app in the meantime: https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop//%40

[2019-02-01 16:18] CraigEaston commented on #5819
OK, found a workaround for this...
Install 6.7.1
Find the postman.exe in that folder and create a shortcut directly to that.
The shortcut that the install created points to the "updates.exe" or something, that runs the updates.  But if you make your own short cut that points directly to 6.7.1 it won't auto-update on you

[2019-02-01 17:35] josefanostylus commented on #1066
Are we going for a third year on this ? C'mon guys

[2019-02-01 17:36] dbasargin commented on #4092
Hi Numaan,
I have verified that, yes, I am experiencing this with both newman and the collection runner.

[2019-02-01 18:05] terramare commented on #4636
In a day I too will need to hit 2 or 3 different OAuth 2 services. Doing this in Postman is painful.

It does seem the OAuth config should fit the notion of Workspaces creating isolation within Postman, if not even Collections.

[2019-02-01 18:54] thertzelle commented on #5611
Is this issue going to be resolved for the desktop application? Moving the UI to a button or some less obstructive location would be fantastic. All day long the UI shifts up and down.

[2019-02-01 21:24] hiqqs commented on #1966
This is probably one of the biggest features missing IMO

[2019-02-01 21:49] joeygit commented on #1475
+1

[2019-02-01 22:17] chrisdeso opened #5875 "Monitoring Blocks shown as Overage Charge in dashboard and Receipt"
**Describe the bug**
Monitoring blocks that are purchased/billed appear as `Overage Charge` in the billing dashboard and in the generated receipt.

**To Reproduce**
Steps to reproduce the behavior:
1. Purchase monitoring blocks
2. Navigate to billing page – https://go.postman.co/billing
3. See monitoring blocks listed as overages

**Expected behavior**
Monitoring blocks should be billed as `Monito

[2019-02-02 06:52] kamleshwebtech commented on #831
How can we post form fields data eg. name, email along with a file by PUT method? I am getting null value after submitting the form in Postman. How can i check my api, please suggest me. Thanks.

[2019-02-02 07:05] kamleshwebtech commented on #4029
Upload file with other form fields by using form-data is still not working in Postman. Kindly suggest.

[2019-02-02 10:14] JC5 commented on #5819
Unfortunately there is no link to 6.7.1 for the Mac.

[2019-02-02 14:02] jguyenot commented on #1947
I confirm the need of this feature.

[2019-02-02 15:57] coccoinomane commented on #4636
Hello,

Please consider allowing the definition of per-collection or per-environment OAuth2 configurations.

Re-write the OAuth2 configuration everytime I change API is time consuming.

Thank you,
Guido

[2019-02-02 16:34] gitaumoses4 commented on #4142
Yes please. We really need this feature.

[2019-02-02 16:46] JinJoes opened #5876 "results in Test Results overlapping each other if doing tests [...] in a loop"
Hi,
I am trying this simple in my test body to eliminating any other issues: (so basically the loop should run 3 times no matter what)

let counter = 3;
for (i=0 ; i < counter; i++)
{
   console.log("input = : " + i);       //this is outputting 3 times which is correct

   tests[" input is < 2"] = i < 2;                 // this will only give me FAIL - seems only gives me the

[2019-02-02 21:43] ersentekin commented on #3602
:sad-parrot:

[2019-02-03 03:01] guili33 commented on #2801
@garrettsickles Thanks for your solution, I follow it, but get some problems, can you pls help to explain more?
In postman, I do "post" a request, take the 'Person.proto' as an example, what's the request body should be ?

Thanks in advance.

[2019-02-03 05:53] numaanashraf commented on #5874
@VenkattaPidikiti We are tracking this issue at https://github.com/postmanlabs/postman-app-support/issues/5819#issuecomment-457625628. Please follow that issue for updates.

[2019-02-03 05:53] numaanashraf commented on #5874
Duplicate of #5819

[2019-02-03 05:53] #5874 closed, assigned to nobody

[2019-02-03 05:55] numaanashraf commented on #5861
@grnito Would it be possible to share a screen-recording of this issue?

[2019-02-03 05:58] numaanashraf commented on #5859
@abhishek-kandala This seems to be an issue with the assertions in your script. We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with this issue.

Issue Guidelines: https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues

[2019-02-03 05:58] #5859 closed, assigned to nobody

[2019-02-03 06:07] numaanashraf commented on #131
@cedw032 Could you elaborate better? Request body is not sent by default in GET requests, but you can choose to send it, if your API supports it.

[2019-02-03 06:12] numaanashraf commented on #5867
@BenJuan26 Thanks for reporting this. We are tracking this together with a related issue at #5381. Please follow that for updates. Closing this as duplicate.

Duplicate of #5381

[2019-02-03 06:12] #5867 closed, assigned to nobody

[2019-02-03 06:32] numaanashraf commented on #5818
@adachenski Is there a publicly accessible endpoint we can use to replicate this issue?

[2019-02-03 06:33] numaanashraf commented on #5818
@adachenski could you send us a screen grab of the response headers after this happens?

[2019-02-03 06:36] numaanashraf commented on #5806
@VicKetchup Could you share the full test script that includes the specific test you are facing issues with?

[2019-02-03 06:39] numaanashraf commented on #5708
We are closing this due to inactivity. Please let us know if you are still facing this issue.

[2019-02-03 06:39] #5708 closed, assigned to nobody

[2019-02-03 06:44] #2378 closed, assigned to sujayvenaik

[2019-02-03 06:52] Alonski commented on #2378
Hey @numaanashraf Was this fixed?

[2019-02-03 06:55] numaanashraf commented on #2378
@Alonski Yes. You can format via the shortcut (Cmd/Ctrl+B) or use the beautify button.

<img width="760" alt="screenshot 2019-02-03 at 12 24 45 pm" src="https://user-images.githubusercontent.com/3295568/52173672-c4240b00-27ae-11e9-8c00-ab5107592c37.png">

[2019-02-03 07:09] Alonski commented on #2378
@numaanashraf Amazing! Thanks!

[2019-02-03 07:12] Alonski commented on #2378
@numaanashraf I think one last piece that could also help improve this is to add to the shortcuts screen a new `Editor` section that teachs the Ctrl+B shortcut.

Another option that could complement or be instead is adding a tooltip over the Beautify button.

[2019-02-03 07:13] numaanashraf commented on #5842
@neeraj15599 Please provide more information regarding the issue in this format.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2019-02-03 07:15] numaanashraf commented on #2378
Thanks for the feedback @Alonski. We'll include these in an upcoming update.

[2019-02-03 07:15] numaanashraf commented on #2378
/cc @vkaegis @sujayvenaik ^

[2019-02-03 07:18] numaanashraf commented on #5876
@JinJoes `tests['...'] = ` syntax is deprecated. Please use the recommended `pm.test` method to generate tests like these within a loop.

Reference: https://learning.getpostman.com/docs/postman/scripts/test_examples/

[2019-02-03 07:18] #5876 closed, assigned to nobody

[2019-02-03 07:51] #5414 closed, assigned to kamalaknn

[2019-02-03 07:52] numaanashraf commented on #5474
@jaywhar We are closing this due to inactivity. Do let us know if you are still facing this issue.

[2019-02-03 07:52] #5474 closed, assigned to numaanashraf

[2019-02-03 08:02] numaanashraf commented on #5838
Yes, Postman will execute the request to completion (pre-request script -> request sent -> response received -> test script) even if you call setNextRequest in the pre-request script.

[2019-02-03 08:02] VonTalavang commented on #1687
posts stills as gets

[2019-02-03 08:06] VonTalavang commented on #4043
I just stop using it, going back to soapUI.

[2019-02-03 08:06] numaanashraf commented on #4325
We are closing this due to inactivity. Do let us know if you are still facing this issue.

[2019-02-03 08:06] #4325 closed, assigned to nobody

[2019-02-03 08:08] VonTalavang commented on #4307
I cant create a post request

[2019-02-03 08:08] VonTalavang commented on #3441
I cant request using post

[2019-02-03 10:07] numaanashraf commented on #4043
@VonTalavang Please verify that your server is not sending a redirect for your POST request. More details at https://github.com/postmanlabs/postman-app-support/issues/450#issuecomment-435352122

[2019-02-03 10:10] numaanashraf commented on #5850
@Madhu031090 Could you provide a screenshot of the 403 error?

[2019-02-03 10:33] abhijitkane commented on #5652
@asyba Yep - Postman can only import Swagger2 / OpenAPI specs. You'll need to export your SoapUI project in one of these formats to import into Postman.

For the error, can you share the file you're trying to import and the console logs (View -> Developer -> Show Logs) with us at help@getpostman.com?

[2019-02-03 10:52] abhijitkane commented on #5229
Not reproducible in Postman 6.7.3

[2019-02-03 10:52] #5229 closed, assigned to abhijitkane

[2019-02-03 11:48] VenkattaPidikiti commented on #5874
Hello,
I understood you have made a duplicate as per 5819 for self-signed certificates. Please note I have disabled SSL Certifications verification from settings at 6.7.1 and 6.7.2 and 6.7.3 as well

Venkatta

[2019-02-03 11:50] VenkattaPidikiti commented on #2918
Experiencing the same issue from 6.7.2 and 6.7.3

[2019-02-03 12:08] gjsterenborg commented on #4009
+1

[2019-02-03 13:44] judgej commented on #1687
I'm using the console window a lot more these days to see what is happening on the wire (or close to the wire). That highlights redirects a lot more obviously.

[2019-02-03 14:26] AlexanderTunick commented on #4043
I had to completely delete a few request from the collection and write brand new exactly the same request and it works, since opening this report I’ve never encountered it again and enjoyably using Postman, which is despite some bugs is the coolest tool for work with http request so far.

[2019-02-03 22:41] MiguelBonachea commented on #4620
Have similar problem after updating to latest Postman, I had to log in again and I can see all of my old collections. However I am unable to create new collections or save to old ones. I am also getting errors about invalid workspace in devtools... Please fix soon!

[2019-02-03 22:42] MiguelBonachea commented on #4620
Just noticed this issue is closed... can someone please post solution or patch?

[2019-02-04 05:09] olgaivanovaplutora commented on #4321
I experience the same issue now.
**Preconditions:**
Having two POSTMAN instances at work and at home logged in under the same work account.
Both instances have never been online together, only one after another.
Created a collection with groups of requests on one instance (create new requests and change order).
Modified a collection on another instance (create new requests and change order).
**Ste

[2019-02-04 05:15] numaanashraf commented on #4620
@millennial-web Could you post a screenshot of the error in devtools?

[2019-02-04 05:36] natiki opened #5877 "Long Running Requests Freeze the GUI////"
- Postman Native Application 6.7.3 on Windows 10 Professional
- Put in a request that is connecting to a slow remote server. The GUI shows waiting with the white background

![image](https://user-images.githubusercontent.com/4738140/52191956-59043280-289b-11e9-8705-816bbc94764a.png)

and then eventually changes to:

![image](https://user-images.githubusercontent.com/4738140/52191872-ea26d980-289a-

[2019-02-04 05:41] numaanashraf commented on #5877
@natiki Is there a publicly accessible endpoint we can use to replicate this? Else, could you share more information regarding the request & response?

Response size
Response headers
Are you using pre-request or test scripts?
- If yes, are you setting environment or variables in these scripts?

[2019-02-04 05:44] natiki commented on #5877
* Unfortunately this is not a publicly accessible end point
* No pre-request scripts
* I will have to work out what the response size is using a different tool etc.

FWIW if I run the Postman Console at the same time it also goes grey as the main window at the same time. As that only shows the response headers I would not have expected this as it should be unaffected by response size.

[2019-02-04 05:49] natiki commented on #5877
Hmmmm Response Body is in the Postman Console as well.... Perhaps the returned content is too big for the window. Any way to TURN OFF the body appearing in the Console window?

[2019-02-04 05:51] numaanashraf commented on #5877
@natiki could you try sending the request via cURL?