[2016-03-03 13:17] mstaalesen commented on #1783
+1 on this.

In 3.2.20 (and earlier), there was a setting called "Open history/collection requests in a new tab" & "Track unsaved requests in tab"
They are now missing, and it's really messing up my way of working (only have 1 request open at once).

Hopefully this is a bug and they will bring back the possibility of doing it the "old fashioned way".

[2016-03-03 15:01] mstaalesen opened #1784 "Feature requests: Presentation Mode"
Presentation mode is really about showing the requests and the responses. Often we are using either a TV or a projector while demonstrating new functionality. Before 4.0.0 I had to manually set the size of the text in the request body by doing "inspect element" and changing the font size there.
With presentation mode, it becomes a bit easier, but it is still hard to read on a screen. It would also

[2016-03-03 15:03] mstaalesen opened #1785 "Usability: Make it easier to distinguish if a collection is opened or not"
As of right now, the difference in color on the Collection pan when selected/opened or not is rather hard to make out. (Especially in the dark theme). It would be nice if the icon for the collection could change from "closed" to "open", and also the background color for the tab be even more "highlighted" so that it is clear that the collection is either opened or closed.

[2016-03-03 15:31] ryankask opened #1786 "Manage cookies form issues in Mac app"
I've just switched to the Mac app and the "Manage Cookies" form is not working. Here are some of the issues I've noticed:
- It's a bit hard to use (confusing)
- I added an empty domain and now I can't delete it or the values associated with it
- If I delete the domain, the values associated with it remain remain visible
- You can't have no domains -- if you delete all domains, app.postman.com come

[2016-03-03 18:20] kams-mash opened #1787 "Cannot add enviroment vars in request body anymore in Postman 4.0.0"
I recently updated my chrome to 49.0.2623.75 and as a result postman app was auto-updated to 4.0.0 and now I'm not able to pass environment vars in the request body anymore, i tried both formats below:

My request body is json format.

format 1- this used to work in previous postman app:
`{
  "username": "{{username}}"
}`

format 2:
`{
  "username": {{username}}
}`

Any ideas on how to fix this? o

[2016-03-03 19:28] abhijitkane commented on #1772
Thanks for reporting this. We've fixed this internally, and will push a fix for this in the next release.

[2016-03-03 20:07] abhijitkane commented on #1787
@kams-mash I'm not able to reproduce this. Is the environment selected? Does this work if `username` is a global variable instead?

[2016-03-03 20:26] kams-mash commented on #1787
Thanks for your quick response on this.  If it helps I'm on (linux/x86-64).

Please see the attached screenshot of the issue, i'm able to reproduce. As you can see in the response the server is sending back the environment var, which indicates that the value substitution for the environment var did not happen in the request body.

I created a global var with the same name (i.e. sso_st) and still i

[2016-03-03 20:27] abhijitkane commented on #1787
@kams-mash  Are there any errors in the console? (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)

[2016-03-03 20:42] kams-mash commented on #1787
Now it works, after I completed the steps to enable dev tools and restarted it started working, I re-tested by disabling the dev tools and it still works. I'm guessing all that was needed was a restart.

When in doubt restart :)

Btw, dev tools is very helpful I can see the request and responses over the wire.

Thanks for your quick help on this.

[2016-03-03 20:42] #1787 closed, assigned to nobody

[2016-03-03 20:51] jonahpatriarche opened #1788 "Collection Runner Subfolders do not work"
When running subfolders in Collection Runner:
- some requests in subfolder are NOT sent
- requests from other subfolders ARE sent
  #
  Version: 3.2.20
  OS: Mac

[2016-03-03 20:52] abhijitkane commented on #1788
@jonahpatriarche Is there a sample collection that you can share that you can reproduce this issue with?

[2016-03-03 20:54] jonahpatriarche opened #1789 "Collection tests fail from runner and pass when run individually"
When running a collection, requests fail and halt the run, but if the individual requests are run from the editor, they all pass.

Version 3.2.20 (packaged)
OS: Mac

[2016-03-03 21:00] jonahpatriarche commented on #1788
Probably not. I’m currently testing my API on a local server.

[2016-03-04 06:14] deepal opened #1790 "Ability to decrease UI font size in Mac App"
Compared to the chrome packaged app, I see the font size in Mac App is way too large. It's nice if there's a way to decrease the font size of UI, not only response.

[2016-03-04 07:39] numaanashraf commented on #1790
@dpjayasekara, could you let us know what screen resolution you are using and also share screenshots of both the Chrome App and Mac App?

[2016-03-04 07:57] abhijitkane commented on #1789
Can you check the Network tab in the runner (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)? Might help to figure out why the requests fail.

[2016-03-04 08:32] roeschjohannes opened #1791 "Variables are not replaced in request in v4.0.0 for Windows"
Since i updated to version 4.0.0 for Windows, postman does not replace variables in request body with their values. Postman always sends the variable with {{...}}. See example with {{SysTenant_ID}} below.
It's impossible to use postman anymore.

**Request Body:** `{
    "uaaURL":"https://{{SysTenant_ID}}.example.com",
    "tenantadminClientID":"tenantadmin",
    "tenantadminClientSecret":"password

[2016-03-04 08:46] abhijitkane commented on #1791
@roeschjohannes Can you check is there are any errors in the console when you send the request? (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)

[2016-03-04 09:01] roeschjohannes commented on #1791
No, there is no error in console. I already tried to enable and disable dev-tools like in Issue [1787](https://github.com/postmanlabs/postman-app-support/issues/1787) but it does not work.

But there is an error after starting the App.
`window.localStorage is not available in packaged apps. Use chrome.storage.local instead.
     (anonymous function)   @   extensions::platformApp:15`

`beforeunload

[2016-03-04 09:05] abhijitkane commented on #1791
Can you add the following to your 'pre-request-script`?

[code]

and the following in the tests script:

[code]

This should print out the values of the variables in the console when you run the request. Are the correct values being printed out?

[2016-03-04 09:07] roeschjohannes commented on #1791
Yes. The variables in pre- and post-script are both correct

[2016-03-04 09:27] abhijitkane commented on #1791
With the environment selected in the UI, can you enter this in the console:

`pm.envManager.getCurrentValue("{{SysTenant_ID}}");`

Does it return the correct, value, or does the replacement not work? Appreciate your help debugging this!

[2016-03-04 09:31] roeschjohannes commented on #1791
This command returns the correct value.

[2016-03-04 09:47] abhijitkane commented on #1791
Can you run these 3 commands (one-at-a-time) after you send your request?

`pm.tabManager.getCurrentRequest().get("body").get("data");`
`pm.tabManager.getCurrentRequest().get("body").get("dataMode");`
`pm.tabManager.getCurrentRequest().get("body").get("transformedData");`

The first should return the data with the variables unresolved. The second should return `raw`. The third should return data w

[2016-03-04 09:55] roeschjohannes commented on #1791
That commands are also working correct.

[2016-03-04 09:58] abhijitkane commented on #1791
Can you ensure that the 'Send Postman Token' header is set to ON?

Do you face the same issue even while trying to send URL parameters / Headers that use environment variables? You can send requests to http://echo.getpostman.com/get?param=value to test this.

[2016-03-04 10:02] roeschjohannes commented on #1791
Send Postman Token is set to ON.
Header parameters with variables inside does not change anything.

I tried to read the request.data variable in console. It has also the correct values.

[2016-03-04 10:04] abhijitkane commented on #1791
How about this - `pm.tabManager.getCurrentRequest().get("body").setTransformedDataAndGetPayload();`?

This is the actual payload that's set in the XHR request before it's sent. This should be the same as what you see in the Network tab of the DevTools window.

[2016-03-04 10:05] roeschjohannes commented on #1791
I got the correct Body

[2016-03-04 10:10] Fr4ncis commented on #1770
I was told it was fixed in the internal release, is there going to be a new public release soon?

[2016-03-04 10:13] abhijitkane commented on #1791
Is this different from what you see in the 'request payload' section when you click on your request in the Network tab?

[2016-03-04 10:24] roeschjohannes commented on #1791
i can't find the 'request payload' in network tab.

[2016-03-04 10:25] abhijitkane commented on #1791
Attaching a screenshot here -
<img width="1080" alt="screen shot 2016-03-04 at 15 54 33" src="https://cloud.githubusercontent.com/assets/681190/13524476/6ffcd99c-e221-11e5-98db-654dcdc7bcdd.png">

[2016-03-04 10:33] roeschjohannes commented on #1791
I only get this
![2016-03-04_11-32-41](https://cloud.githubusercontent.com/assets/15650263/13524661/d9a0750e-e1fc-11e5-99b8-91b518f04d2a.png)

[2016-03-04 10:36] abhijitkane commented on #1791
Ah..can you try running it with the Interceptor disabled?

[2016-03-04 10:38] roeschjohannes commented on #1791
Thats it. Now it works.

[2016-03-04 11:02] roeschjohannes commented on #1791
Thanks for your realy fast support.

[2016-03-04 11:46] jvosantos commented on #366
+1

[2016-03-04 12:06] abhijitkane commented on #1791
No problem! We'l push a fix for this in the next release.

[2016-03-04 12:31] rvnath opened #1792 "postman pre-request script - can I make a URL hit to get initial data?"
I have a requirement to test an accounting server api.  The api has a "debit" function.  To test this api correctly, I need to insert some account balance to ensure the account "really" has some balance (via another api) using pre-request script, and then call the current api to do the "debit" operation.

Is this possible to do so?  If not, then sequencing the test cases in a proper order (such as

[2016-03-04 12:38] abhijitkane commented on #1792
@rvnath Sending AJAX requests in the pre-request script section will result in undefined behavior. We cannot guarantee that the actual request will run after your AJAX call completes. For now, the only way to get such a flow to work is to have two requests in the collection.

[2016-03-04 13:36] rvnath commented on #1792
ok

[2016-03-04 13:36] #1792 closed, assigned to nobody

[2016-03-04 14:49] tjones788 opened #1793 "Can't copy values from Header after 3/3/2016 Update"
I am no longer able to copy the values from a header field after making a request. Can't install old version manually in Chrome.

[2016-03-04 14:50] abhijitkane commented on #1793
@tjones788 We'll be pushing a fix for this in a day or two. Thanks for reporting this.

[2016-03-04 14:52] tjones788 commented on #1793
Thank you!!!

[2016-03-04 16:20] mfulton26 opened #1794 "Ability to set Request Font Size (px)"
There is the ability to set the Response Font Size (px) but not the Request Font Size (px). Please add.

[2016-03-04 16:23] mfulton26 opened #1795 "Ability to reformat request body"
I often get unformatted XML/JSON from client/server log viewers and I'd like to be able to paste them into Postman and reformat them instead of pasting them into a third-party app (e.g. an IDE like Eclipse or IntelliJ or some other tool that supports XML), reformatting, copying, and then pasting into Postman.

[2016-03-04 16:30] mfulton26 opened #1796 "Ability to view the request and response side-by-side"
The request and response viewing panes are part of a vertically scrollable area but I'd rather view the request and response side-by-side, the request on the left and the response on the right.

[2016-03-04 16:35] mfulton26 opened #1797 "Ability to snap response pane to the remaining tab area"
I like how I can adjust the request pane's vertical height but I cannot adjust the response pane's vertical height. Given a toll enough Postman window size I'd like to force the response pane to use only the space available between the bottom of the request pane and the bottom of the tab/window. Thank you. (Having a scrollable area inside of a scrollable area can be troublesome.)

[2016-03-04 17:12] cnanney commented on #1793
Awaiting this fix as well.

[2016-03-04 18:59] benwa opened #1798 "Description word wrapping"
For Collection, Folder, and Request descriptions, I would like to be able to set the text box to word wrap so I do not have to scroll when writing and editing.

[2016-03-04 19:28] deodeveloper opened #1799 "query parameters should have an enable/disable button by it's side"
# query parameters should have an enable/disable button by it's side so that we don't have to delete and type the query parameters again if we trying a GET request with different parameters

[2016-03-04 19:53] mfulton26 commented on #1799
:+1:

[2016-03-04 20:43] mfulton26 opened #1800 "Correctly decode XML entity references when clicking on links in XML response bodies"
Clicking on links in XML response bodies does not properly decode the XML.

e.g. If the raw representation of an XML document contains `<searchURL id="postman">https://www.google.com/#safe=active&amp;q=postman</searchURL>` then clicking on the link should set the request URL in a new tab to https://www.google.com/#safe=active&q=postman but it instead sets it to `https://www.google.com/#safe=active

[2016-03-04 20:47] mfulton26 opened #1801 "Pretty XML does not decode XML entity references"
If an XML response body contains XML numeric or character references should they not be decoded when displayed in the "Pretty" format? This is what web browsers appear to do (e.g. Chrome, Firefox, etc.).

e.g. If the raw representation of an XML document contains `<searchURL id="postman">https://www.google.com/#safe=active&amp;q=postman</searchURL>` then it should be displayed as `<searchURL id="p

[2016-03-04 21:08] jonahpatriarche commented on #1788
Perhaps this will help. Here is a collection I tried to run:

I ran the collection once and got this result:

Issues:
- Tests were run from different folders
- The pass/fail counts do not make any sense.
- In many places. the test results do not make sense. GET requests are returning 422 or 201, POST requests are returning 200, etc… I promise that my API does not behave this way.

~Jonah

[2016-03-04 21:27] gavincornwell opened #1802 "JSON Pretty Preview Parse Error With Empty Body"
I'm getting an error in the pretty preview for JSON with empty body responses such as 204 and 202.

This was working fine in 3.x.

I'm using 4.0.4.

<img width="1080" alt="screen shot 2016-03-04 at 21 24 20" src="https://cloud.githubusercontent.com/assets/1194868/13540678/df18871c-e24f-11e5-9b57-845666355bd5.png">

[2016-03-04 22:14] abhijitkane commented on #1802
Thanks for reporting this. We'll push a fix for this in the next release.

[2016-03-04 23:35] dmaselbas commented on #1779
Awesome, thanks for postman! Cant wait for the iOS app :)

[2016-03-05 11:26] ankitsharma301093 commented on #156
+1

[2016-03-05 16:04] kams-mash commented on #1663
@abhijitkane, @czardoz - I'm seeing the same issue as @sanmarco (i.e. signature mismatch when using env. var in header). This started happening since 4.0.1 for me.

I'm using AWS Auth, and when I have "x-amz-security-token" header value as environment var then the request fails with signature mismatch error response from AWS, but if I substitute the environment var with the actual session token va

[2016-03-06 10:23] abhijitkane commented on #1663
@czardoz Will your pull-request fix this?

[2016-03-06 10:35] ghost commented on #1759
@SamvelRaja The error is gone since 4.0.3. Problem solved

[2016-03-06 12:02] czardoz commented on #1663
It should, unless it's some other issue

[2016-03-06 12:03] czardoz commented on #1663
My fixes will ensure that environment variables are substituted, but some AWS services require special headers to be added etc. Those cases will require better handling.

[2016-03-06 20:52] atkawa7 opened #1803 "Post Not working after chrome upgrade"

[2016-03-06 23:07] rlinyard opened #1804 "Right-click to set environment variables does not work in version 4"
I often use results from one POST call (say when I receive an Auth Token) to set environment variables. It was very handy to be able to select a portion of the result, right-click, and set an environment variable. It looks like version 4 does not have this functionality. PLEASE bring it back.

[2016-03-07 01:16] pella07 commented on #1804
I'm having the same issue. I can access the shortcut menu used to assign returned values to variables but they don't appear to be stored. I can manually copy them in though through the environment manager menu.

[2016-03-07 01:23] pella07 opened #1805 "Variable value isn't being passed in call"
I have a token assigned to a variable and the {{variable}} listed in the header of a GET call. However it doesn't appear that the variable value is being passed because I get a server 500 error. When I paste the actual token into the field instead of the {{variable}} the request works just fine.

[2016-03-07 04:24] rlinyard commented on #1804
Yes. I can do the same, but what a pain. 4.0.1 seems to have the behavior you describe, but there is not even a shortcut menu for me in 4.0.4.

[2016-03-07 07:21] abhijitkane commented on #1805
@pella07 Is the environment selected? You should see `variable -> actual_value` when you click on the icon to the right of the environment selector.

Also, are there any errors in the console - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/?

[2016-03-07 09:09] #1759 closed, assigned to nobody

[2016-03-07 11:38] michael-andre opened #1806 "x-www-form-urlencoded parameters not properly sent"
With Chrome Extension 4.0.0 / Chrome 48.0.2564.116
x-www-form-urlencoded parameters are not properly sent, they are replaced by `[object Object]`

Example request with 2 params :

[code]

[2016-03-07 11:46] abhijitkane commented on #1806
@michael-andre Thanks for reporting this. We've fixed this in our internal build, and will rolling the fix out to all users this week.

[2016-03-07 12:02] rpajaziti opened #1807 "Switching from Pretty to Preview tab, then return to Pretty again issue"
If you have a JSON response type, then switch from Pretty tab to Preview, then return to Pretty again, response text will be like 1/3 smaller, and the whole body will display in there.

[2016-03-07 12:02] abhijitkane commented on #1806
Also, this should work if you switch the interceptor off.

[2016-03-07 12:02] abhijitkane commented on #1807
@RamadanPajaziti Can you mention the Postman version that you're using?

[2016-03-07 12:13] michael-andre commented on #1806
OK, thanks for the quick feedback

[2016-03-07 12:17] ravigajera opened #1808 "Where is the option of Open history/collection requests in a new tab"
in this version
4.0.1
( win / x86-32 )
( Chrome 48.0.2564.116 )

where is the option of **Open history/collection requests in a new tab**

![image](https://cloud.githubusercontent.com/assets/15246318/13569187/864a53ce-e48c-11e5-819b-a647bd15035e.png)

![image](https://cloud.githubusercontent.com/assets/15246318/13569196/8f5219de-e48c-11e5-9f77-a83168093b96.png)

[2016-03-07 12:32] cebor commented on #1582
:+1:

[2016-03-07 16:23] emersonf commented on #816
I still don't see the descriptions and I'm running 3.2.20. Can you point them out please?

[2016-03-07 16:44] gablorquet commented on #156
+1

[2016-03-07 17:09] rpajaziti commented on #1807
Im ussing the lattest, downloaded today, ver: 4.0.4.
Just try with one API that returnes JSON as a type(didnt tryed with others).

[2016-03-07 17:23] vividhsv opened #1809 "Runner not running request sequentially"
Upon selecting the collection to run on the runner, API Requests within the collection are not running sequentially in the order listed. My API requests are chained, that is response from the previous request is required for next request.

How can I have my tests run sequentially ?

[2016-03-07 17:33] darrylkuhn commented on #1809
We're seeing the same thing on the latest version (4.0.1) on OSX

[2016-03-07 19:41] darrylkuhn commented on #1761
I have followed up via email and will close the ticket here.

[2016-03-07 19:41] #1761 closed, assigned to nobody

[2016-03-07 20:07] dgofman opened #1810 "OPTIONs Request Body got in NEW version again."
That issue was fix in 2015

OPTIONs Request Body #1168

In new update we again cannot pass body by using OPTION method.

Please follow to W3 rule

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

[2016-03-07 21:04] abhijitkane commented on #1810
@dgofman Thanks for reporting this. We'll be pushing a fix for this in the next release.

[2016-03-07 22:01] pella07 commented on #1805
Yes the environment is selected.

This is the only error I got:

<errorInfo>
<errorCode>500</errorCode>
<errorDescription>Server error</errorDescription>
</errorInfo>

I've attached a screenshot of where I got the error from.

![error](https://cloud.githubusercontent.com/assets/17693577/13584834/5cb97fdc-e50c-11e5-92f6-61835292f0d2.png)

[2016-03-07 22:05] abhijitkane commented on #1805
@pella07 Any errors in Postman's DevTools window (Console tab)? Also, what version of Postman are you using? I'm not able to reproduce this.

[2016-03-07 23:29] abhijitkane commented on #1809
@vividhsv What version of Postman are you using? Also, do you have folders, or are all the requests within the collection itself?

[2016-03-08 06:14] pella07 commented on #1805
I got this error: Failed to load resource: the server responded with a status of 500 (Internal Server Error).

The situation resolves itself when I paste the actual into the field instead of referencing the variable. I tried assigning a different variable name to the field and the error still persists.

[2016-03-08 06:26] pella07 commented on #1805
Here is a code snippet of the GET statement. In the code snippet the variable gets passed in correctly. It only fails when I execute the call.

GET /brands?detail=basic&showhidden=yes HTTP/1.1
Host: <private host URL is normally here>
x-apdm-api-version: 2.0
Content-Type: application/xml
x-apdm-userid: <user id is normally here>
x-apdm-usertoken: Token variable value
Accept: application/xml
Cache-

[2016-03-08 07:06] SivaKrishnaKorlam opened #1811 "My account not syncing - its says offline always"
Hi,

I am using postman client with below version:
4.0.0
( linux / x86-64 )
( Chrome 49.0.2623.75 )

I am using my Google account for login and am able to login to account successfully. Issue is, my account sync is not working. When i click on sync button on top right corner, it show that connecting and then in few seconds went back to offline.

Please help me to resolve this issue.

Thanks,
-Shiv

[2016-03-08 07:10] abhijitkane commented on #1811
@SivaKrishnaKorlam Were you able to use Sync before? We've had reports of corporate proxies interfering with sync connectivity.

[2016-03-08 07:13] abhijitkane commented on #1805
@pella07 What version of Postman are you using? Can you attach screenshots of the Postman screen and Postman's console when you send the request?

Also, you can try toggling the Interceptor off and sending the request.

[2016-03-08 07:18] SivaKrishnaKorlam commented on #1811
Yes am.. I just reinstalled my OS two days back.. before am able to connect without any issues.

[2016-03-08 07:19] abhijitkane commented on #1811
Can you open the DevTools window (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) and see if there are any errors in the console?

[2016-03-08 08:32] SivaKrishnaKorlam commented on #1811
tried the steps given in the blog. but i am unable to open Devtools by right clicking on postman client.

[2016-03-08 09:48] praburaja commented on #448
+1

[2016-03-08 10:26] JuliaFernee commented on #1771
I have reinstalled postman and have managed to recover my collections. The performance has improved. However, it seems there is an issue with this extention that causes it to degrade over a period of time.

[2016-03-08 10:27] #1771 closed, assigned to nobody

[2016-03-08 13:53] magnusart commented on #1810
@abhijitkane ran into this as well just now, do you have a public release schedule so I know when to expect it to show up?

[2016-03-08 14:08] definesfineout commented on #1804
My team is experiencing the same behavior as @pella07 - we can access the context menu, but the value isn't saved to the variable.

[2016-03-08 14:09] mstaalesen commented on #1807
@abhijitkane I have observed the same behavior, switching from the Response Body (Pretty) to the Tests tab (on response) and back again.

Screenshots to explain:
1. First view of response (74 lines)
![postman_002](https://cloud.githubusercontent.com/assets/14194793/13603609/c640e364-e53e-11e5-9e98-c44c3b34918d.png)
1. Switched to test tab and back again (39 lines and a big blank space below it):

[2016-03-08 14:41] aeagal commented on #1804
Also experiencing this issue on 4.0.1. Variables that I had before the update still work. But if I update them with a new value they do not get into my request. Additionally, new variables do not work.

By 'do not work' I mean that when I highlight some returned text (e.g. auth token) from a post response, right-click and set a variable, the variable gets blanked out. Reproduce these steps, and ch

[2016-03-08 15:52] mstaalesen opened #1812 "Collection Runner Statistics: Filter on "Failed" shows the same result as "All""
Just ran 3000 requests (500 iterations) with the collection runner and had a problem with ~40% of said requests. Wanted to see some more detailed statistics over just the failed requests, but when i clicked "Failed" on the statistics tab, it shows the same result as "All". The filter for "Passed" is working as it should.

Version: Postman v4.0.1

[2016-03-08 15:54] mstaalesen commented on #1611
+1

[2016-03-08 15:59] byteshinobi commented on #1737
This is affecting me as well.  The app I'm testing doesn't like the "file://" Origin, so I can't test it w/ the Mac app.  It's probably a misconfiguration in the app, but it'd be nice to be able to change the origin.

Thanks for a great app.  The standalone app will be a great improvement for me.

[2016-03-08 16:44] srbangre commented on #1750
@a85 - there is another problem here.
I have 2 environments saved. so if i run one test case in env1 and save it.
next time i am switching to env2. this time the orange circle shows up. I did not change anything in the tests still its asking me to save the test.

[2016-03-08 17:10] abhijitkane commented on #1812
@mstaalesen That's odd - I'm not able to reproduce this. Can you attach screenshots of the 3 states?

[2016-03-08 17:19] joeborysko opened #1813 "Cannot interact with lower Team Library "View Docs" or "Subscribe" buttons"
I cannot interact with some of the bottommost Team Library buttons. When I mouse over the Subscribe or View Docs buttons for the upper collections, these buttons become darker, indicating that I can click on them. These buttons never becomes darker for the lower collections, and likewise clicking on them doesn't result in any noticeable action. In order to click on these, I need to either reduce t

[2016-03-08 18:15] abhijitkane commented on #1811
When the app is open, head to `chrome://inspect/#apps` in your browser. Click `Inspect`. This should open Postman's DevTools window.

[2016-03-08 18:26] joeborysko commented on #1813
I just noticed that the same issue happens for the dropdown for selecting an environment.
![screenshot](https://cloud.githubusercontent.com/assets/11723697/13611592/8fe51f56-e520-11e5-9805-8a636f93672e.png)

[2016-03-08 18:35] numaanashraf commented on #1813
@joeborysko Thats odd. Could you let us know your Chrome and OS version?

[2016-03-08 18:36] sebastianarena opened #1814 "Mac app, CMD+W closes two tabs instead of one"
Hello.
I've been trying for the last few days the "new" Mac app.
It's great!
Having CMD+W closing tabs and warning of unsaved changes is great.
The only problem is that it seems the app is closing two tabs instead of one with a single tab of CMD+W.
Thanks!
Sebastian

[2016-03-08 18:38] abhijitkane commented on #1814
@kaminoo Thanks for reporting this - we've fixed this in our internal build, and will push out an update tomorrow.

[2016-03-08 18:38] sebastianarena commented on #1814
@abhijitkane Awesome!!!

[2016-03-08 19:43] mstaalesen commented on #1812
I forgot to add that I selected one of the requests under the statistics page by clicking the (I) button:
![collection runner_006](https://cloud.githubusercontent.com/assets/14194793/13613885/3d8b1370-e56e-11e5-9e33-9eb62be0a7b0.png)

Then the following happends (1. "All", 2. "Passed", 3. "Failed")
![collection runner_008](https://cloud.githubusercontent.com/assets/14194793/13613903/53fd02a8-e56e-

[2016-03-08 19:51] joeborysko commented on #1813
@numaanashraf It appears to be an issue with my machine itself, because I just noticed it happening to [SourceTree ](https://www.sourcetreeapp.com/) as well.

Chrome version: 48.0.2564.116
OS: Windows 8

[2016-03-08 19:51] mstaalesen opened #1815 "Feature request: Manage Environments - Move Bulk edit to top"
When managing environments, I often tend to mass edit with the "Bulk Edit" feature. The only "problem" I have with the way it is implemented now, is that the button to go into "Bulk Edit"-mode is at the bottom of all the stored environment variables (for both Global and Environment variables). It can be a bit tedious to scroll to the button when I have a long list of stored variables, and it would

[2016-03-08 19:59] mstaalesen opened #1816 "Usability: Confusing with both "Submit" and "Update" buttons available when Bulk editing"
When Bulk editing either environment or global variables, I have more than once clicked the wrong button when I want to store the changes that I made. As it is right now, managing the environment variables in Bulk Edit mode looks like this:

![postman_012](https://cloud.githubusercontent.com/assets/14194793/13614398/88ff405e-e570-11e5-9160-b4228c13716b.png)

As I also wrote in the screenshot, havi

[2016-03-08 22:02] cviebrock commented on #1780
FWIW, I saw the note in the 4.0.4 release that this was fixed, and indeed those parameters are importing now. However, the issues I mention in #1782 still exist, so there is a fair amount of manual editing that needs to happen after importing a Swagger document.

Thanks!

[2016-03-08 22:23] wheelspinner commented on #1809
I'm using Mac 4.0.4 and I see the same issue.  It happens if the requests are in the same folder or in separate folders.  I haven't tried removing all folders yet though.

[2016-03-08 22:51] Atomixx opened #1817 "Postman 4.0.1 copy function removes linefeeds and spaces from JSON"
Using the Copy button spaces and line feeds removed from the response body JSON.
![snag-00004](https://cloud.githubusercontent.com/assets/17732378/13619147/d31da772-e587-11e5-9d60-f3ff25c71d81.gif)
![snag-00005](https://cloud.githubusercontent.com/assets/17732378/13619173/f58945b4-e587-11e5-8275-dd4e3d8c02e4.gif)
![snag-00006](https://cloud.githubusercontent.com/assets/17732378/13619302/911ad254-e

[2016-03-09 00:15] pella07 commented on #1805
@abhijitkane I'm using 4.0.1. I had a look at the server send of the request and I can see that a "%01" has been added to the front of various variables. The "%01" isn't part of the variable and isn't being stored in the variable.

<HOST IP> - - [09/Mar/2016:10:23:56 +1100] "GET /brands/**%01**E5529482-923A-4727-8660-95F6A8A321E0/brandProducts/717A4D5C-C7A9-4284-B7D6-16C2F0CE866D/verificationQuest

[2016-03-09 06:25] SivaKrishnaKorlam commented on #1811
Thanks for the help abhijitkane :+1:
i can see these errors from console output:

extensions::platformApp:17 window.localStorage is not available in packaged apps. Use chrome.storage.local instead.(anonymous function) @ extensions::platformApp:17
extensions::platformApp:17 beforeunload is not available in packaged apps.

[2016-03-09 06:28] SivaKrishnaKorlam commented on #1811
when i clicked on extensions::platformApp:17 i can see this from source code:
- @param {string} messagePrefix text to prepend to the exception message.
  */
  function generateDisabledMethodStub(messagePrefix, opt_messageSuffix) {
  var message = messagePrefix + ' is not available in packaged apps.';
  if (opt_messageSuffix) message = message + ' ' + opt_messageSuffix;
  return function() {
    co

[2016-03-09 07:23] abhijitkane commented on #1811
Those error messages are expected. Are you behind a corporate proxy in office? If so, can you try connecting from home?

[2016-03-09 07:25] abhijitkane commented on #1805
@pella07 %01 is a non-printing character. Can you go to the Manage environments window, and edit your environment - clear out the value of the variable and type it out again, making sure there any no leading or trailing spaces.
If you'd pasted the value from somewhere else, it's possible that one extra non-printing character might have been included.

[2016-03-09 07:55] abhijitkane commented on #1817
@Atomixx Thanks for reporting this. We'll be pushing a fix in the next release.

[2016-03-09 08:00] darkstone commented on #544
How can this be closed if the app is still broken?

[2016-03-09 09:30] ravigajera opened #1818 "Large number of history requests cause Postman to crash"
too many crash when working how can i install old version of postman

[2016-03-09 09:34] abhijitkane commented on #1809
@wheelspinner Can you share a sample collection that you're able to reproduce the issue with? Does the page at https://app.getpostman.com/dashboard/collections/private?expand=1 show the requests and folders in the correct order?

[2016-03-09 09:52] mstaalesen commented on #1818
Agreed. It keeps crashing several times per hour now.

Any instructions on how to get the debug-log or crash logs from Postman are welcome!

Postman v4.0.1

[2016-03-09 09:53] abhijitkane commented on #1818
@ravigajera  @mstaalesen Can you try the following:
1. Clear all your history requests (trashcan icon in the history tab), and restart after a minute or two.
2. If it's still not resolved, check the Console for errors - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

[2016-03-09 10:08] mstaalesen commented on #1818
@abhijitkane
1. I've reinstalled the app twice. Attempting to clear the history requests now.
2. Console for errors:
   Crash of postman also closes the developer tools window, so i'm not able to see any errors there. Or am I doing something wrong?

[2016-03-09 10:13] abhijitkane commented on #1818
Is there any specific action in the UI that triggers the crash?

[2016-03-09 10:20] deive opened #1819 "Issues making calls - stuck on "Loading...""
I'm using the Windows Chrome plugin and have just got updated to 4.0.1 ( win / x86-64 ) ( Chrome 48.0.2564.116 ).
Almost all the time this issue is happening, here is the console log:
"requester.js:153692 Uncaught TypeError: Cannot read property 'map' of undefined"

[code]

[2016-03-09 10:24] deive commented on #1180
If it helps you can put js into an environment variable and load it with:
`eval(postman.getGlobalVariable("environment variable key"));`

[2016-03-09 10:28] deive commented on #1803
I am also having a problem after update (see https://github.com/postmanlabs/postman-app-support/issues/1819) this could be the same as your problem? Can you check using the console if you get an error (see http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ if you need help viewing the console)?

[2016-03-09 10:44] SamvelRaja commented on #1819
Thanks for bringing this to our notice. We have found the RC. Will release a patch for it in the next version.

[2016-03-09 11:05] mstaalesen commented on #1818
Not that I can tell.

From the top of my head it has happened during:
- Sending a request (crashed just as the response was shown)
- Editing parameters for a request
- Switching between tabs
- Opening a request in a collection

That's why I was hoping there was some way to start Postman with some extra debug-parameters that would be stored to a file. Perhaps I can enable Chrome-debugging?

[2016-03-09 11:09] abhijitkane commented on #1818
The DevTools is the only way to debug the app. But, as you said, a crash of the app will close the DevTools window as well.
How many collections do you have saved?

[2016-03-09 11:10] mstaalesen commented on #1818
12 collections at the moment. ~200 requests in total over the different collections.

[2016-03-09 11:13] deive commented on #1819
Awesome, thanks!

[2016-03-09 11:22] mstaalesen commented on #1818
Ok, I might have found a way to get some logging. I enabled google chrome debug logging:
`google-chrome --enable-logging --v=1`

This stores a file to `~/.config/google-chrome/chrome_debug.log`

I was able to recreate a crash (by just clicking around for a while, opening a few requests in different tabs and clicking send ~20-30 times on one request). I think this might be related to the crash:

I'

[2016-03-09 11:28] mstaalesen opened #1820 "Search/Replace with Dark theme has white font on white background"
It is impossible to see what is written in the search/replace fields when the Dark theme is selected. The font for the text and background are almost (if not exactly) the same color:

![postman_013](https://cloud.githubusercontent.com/assets/14194793/13633905/4c1a58e0-e5f2-11e5-80b7-9cb0ce237174.png)

To be able to see what is written, I have to select it:

![postman_014](https://cloud.githubuserc

[2016-03-09 11:42] numaanashraf commented on #1820
@mstaalesen Thanks for reporting this. This has been fixed in our internal build and should land in tomorrow's release.

[2016-03-09 11:57] mstaalesen commented on #1820
Cheers!

[2016-03-09 11:57] #1820 closed, assigned to nobody

[2016-03-09 11:58] SamvelRaja commented on #1812
I hope the Failed results also includes the Requests **passed** in `iteration 1` and **didn't run** in the  `iteration 2`.
If so, we have found an RC and fixed in our internal build, will be available in the next version.
Can you cross check and let us know is that the scenario happened?

[2016-03-09 12:03] SamvelRaja commented on #1807
@mstaalesen, RamadanPajaziti Yes, you can expect the fix for this problem as well in the next release. Thanks for bringing to us.

[2016-03-09 12:10] mstaalesen commented on #1818
Alright, I've pinpointed the problem. It's a memory leak somewhere in Postman.
To be able to reproduce this quickly. Open ~10 request tabs, and click Send a few times. Watch as the memory usage steadily increases untill the following message appears in the Command Line where Chrome was started with debug:

---

Another crash:

Let me know if there is anything else I can do to help you with this.

[2016-03-09 12:15] mstaalesen commented on #1818
Every "Send" click allocates ~300 MB memory.

[2016-03-09 12:32] mstaalesen commented on #1812
Yeah, that sounds to be correct. Sorry for not being clear, but:

All: Shows Passed and Failed Requests
Passed: Shows only Passed Requests
Failed: Shows Passed and Failed Requests

[2016-03-09 14:35] willrichboa opened #1821 "Postman not saving values of AWS signature helperAttributes"
Just updated to the new version: 4.0.1
( win / x86-32 )
( Chrome 47.0.2526.106 )

All of my aws signature helper values have been wiped out.  Attempts to add them back in seems to work, but when you close and reopen the request they are again missing.  Downloading the collection then shows all of the helperAttributes as empty strings.

ex
"currentHelper": "awsSigV4",
            "helperAttributes"

[2016-03-09 14:36] johnnavarra commented on #1180
That's a great idea!

On Wed, Mar 9, 2016 at 5:24 AM, deive notifications@github.com wrote:

##

AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2016-03-09 14:36] abhijitkane commented on #1821
@willrichboa Are you checking the 'Save helper data to request' checkbox before saving the request?

[2016-03-09 14:38] willrichboa commented on #1821
Yes.  If the "Save helper data to request" checkbox is set to false then the request doesn't save the authorization at all.  i.e. it is set to "No Auth".

[2016-03-09 14:45] mikedevita commented on #1137
:+1:

[2016-03-09 15:18] wheelspinner commented on #1809
This one:  https://www.getpostman.com/collections/720200519aa0d061c89a

In the "02 Add Contacts" folder the 'getNewlyAddedContact' request appears
to be running too soon.

BTW - I had no issue before I updated postman (don't remember the previous
version) and I have no issue running this from newman 1.3.0.

On Wed, Mar 9, 2016 at 4:34 AM, Abhijit Kane notifications@github.com
wrote:

[2016-03-09 15:47] mdconatser opened #1822 "Copying text from a request's description no longer works in 4.0.1"

[2016-03-09 15:49] mdconatser commented on #1822
It was nice being able to copy the full description including markup for a request and paste it into a document to make a quick API document, but this is no longer possible on 4.0.1.

[2016-03-09 16:17] shamasis commented on #1180
Yeah. Make a request to your JS and in its test script, save the response in a global or environment variable. Then in subsequent scripts, simply eval the variable at the beginning.

[2016-03-09 16:59] hisplan commented on #158
I'm no longer seeing encode/decode option when right-click on text. Has this been removed from the recent version?

[2016-03-09 17:25] willrichboa commented on #1821
I updated to the newest version of chrome and found that the issue remains.
To help clarify what I am seeing I decided to give a step by step breakdown of how this is working.
1. Create a new request or use an existing one.
2. Under the "Authorization" tab: select type of "AWS Signature".
3. Update, "AccessKey", "SecretKey", "AWS Region", and "Service Name" to any values.
4. Select the checkmark o

[2016-03-09 17:49] abhijitkane commented on #1822
Thanks for reporting this. We'll push a fix in the next release.

[2016-03-09 18:08] abhijitkane commented on #1821
Got it. We've fixed this in our internal build, and will be pushing out a fix in a day or two.

[2016-03-09 18:28] wkuckro opened #1823 "new tests taking a long time to sync"
I am having the same issue as previously described. It can take an hour sometimes to get a test changed in postman to update for call via url in newman.

https://github.com/postmanlabs/postman-app-support/issues/1554

[2016-03-09 18:35] sobtiankit commented on #1823
Hi @wkuckro, the -u option works with collections that are explicitly pushed to the server, I.e. Click on the 3 dots next to the collection > Share > Update link. Is that what's taking time?

[2016-03-09 18:50] wkuckro commented on #1823
yes. I've updated a test, saved the test script, updated the link for the collection, and it's still taking over 30 min so far to run the new test.

I can see the test in another OS's Postman APp, so i know the sync worked at least

[2016-03-09 18:52] abhijitkane commented on #1823
@wkuckro Do you see the updated test script when you open the URL in your browser (use an Incognito Chrome tab - otherwise Postman will open and import the collection)

[2016-03-09 18:59] wkuckro commented on #1823
Yes. I see the test in the browser.

I ran the test in newman again just to check, and the test is not visible there. I am running newman in Ubuntu 14.04 LTS

[2016-03-09 19:00] abhijitkane commented on #1823
@czardoz Could this be some sort of caching issue with Newman?
@wkuckro When you use the collection in newman, try appending `?random=123` at the end of the URL. That might force newman to re-download the collection.

[2016-03-09 19:08] czardoz commented on #1823
No, Newman does not cache anything between two different runs.

@wkuckro, the collection links are not related to Sync. The URLs you use in Newman are handled separately.

[2016-03-09 19:09] abhijitkane commented on #1823
@czardoz Not newman itself of course, but the Node layer.

[2016-03-09 19:12] paulsperanza commented on #1821
Is this the same issue? - I'm right clicking on the response body to set environment variables and they are not be applied. For example, I have a login function that returns an auth token in the response. When I run another call I get HTTP Error 400. The request is badly formed. I looked at it in fiddler and my authorization header just shows Bearer     (Bearer [] - used brackets to emulate null)

[2016-03-09 19:13] czardoz commented on #1823
No, they're separate processes and do not share anything, unless @wkuckro is using Newman as a library.

@wkuckro, can you share the exact command you're using to run Newman? (If the collection contains sensitive information, do not share the URL)

[2016-03-09 19:14] wkuckro commented on #1823
$newman -u `collection link copied from postman`

[2016-03-09 19:17] abhijitkane commented on #1823
@wkuckro Does appending `?random=123` to the URL help?

[2016-03-09 19:18] abhijitkane commented on #1821
@paulsperanza No, this is a different issue, but this will be fixed in the next release as well :)

[2016-03-09 19:21] wkuckro commented on #1823
well, i jsut restarted my test machine, and now the issue isn't occurring

I wonder if there is a intermittent updating cache issue somewhere that isn't allowing an update when you call the collection

[2016-03-09 19:25] czardoz commented on #1823
@wkuckro, are you behind a HTTP proxy or firewall?

[2016-03-09 19:27] wkuckro commented on #1823
firewall

[2016-03-09 19:31] czardoz commented on #1823
That's probably what is caching the collection URL. Just add any URL parameter to the collection URL and change it for each run (like @abhijitkane mentioned before). That should bust the cache every time.

[2016-03-09 19:37] wkuckro commented on #1823
ok thanks

[2016-03-09 20:20] donhmorris opened #1824 "Text could be bigger"
Postman 3.0 looks good but it seems to not be fully cooked.
1. Font for choosing format for body in put request are really small. They dont enlarge when you choose a bigger font scheme.
2. The font for the text editor is too small when entering json data
3. I lied it better when postman was integrated into chrome as a tab. Im usually testing a web page alongside webstorm. It was easier to click a

[2016-03-09 20:31] blowback opened #1825 "Let pre-request script generate JSON request body"
I'm trying to use API chaining to 1) fetch an object from a GET endpoint 2) modify it in a pre-test script and 3) upload the modified object using a PUT endpoint.

Currently there seems to be no way of doing this. Pre-request scripts only have read-only access to the request object, and you can't use {{...}} style template vars inside the hard-coded request body (well, not without enclosing them i

[2016-03-09 20:37] blowback commented on #1825
In my GET request test script I tried:

[code]

and in the PUT request pre-request script I tried:

[code]

And the PUT request body:

[code]

[2016-03-09 20:47] ngleav commented on #1524
Any update on this?

[2016-03-09 21:45] Atomixx commented on #1817
Thanks for the quick fix.

[2016-03-09 22:03] Atomixx opened #1826 "Postman 4.0.1_File preview formatting error in the test runner"
Data source: csv
These defects exist:
- Scroll bar not visible at the bottom
- Headings are centered vertically
- Overlaid presentation of content
- Window data preview very narrow

![snag-00007](https://cloud.githubusercontent.com/assets/17732378/13652198/1cf46386-e64b-11e5-82f1-b6be49cb36c6.gif)
![snag-00008](https://cloud.githubusercontent.com/assets/17732378/13652197/1cf4ab2a-e64b-11e5-9ce1-36

[2016-03-09 22:44] ghost opened #1827 "Remember last preview type"
The latest version dosen´t remember the preview options of the response .

[2016-03-09 23:32] abhijitkane commented on #1825
@blowback You can try something like this:
In the test script for request 1:

[code]

In the pre-request script for request 2:

[code]

And the body:

[code]

[2016-03-09 23:35] abhijitkane commented on #1827
@ZStelmo Are you talking about when you re-open the app, or switch tabs?
In the second case, all response options (pretty/raw/preview) are being preserved. Can you also mention the version of Postman that you're using?

[2016-03-09 23:37] joeborysko commented on #1813
Restarting my computer resolved this. Sorry for the false bug!

[2016-03-09 23:48] digitalmaster commented on #332
+1

[2016-03-10 00:56] abhijitkane commented on #1809
@wheelspinner Does the issue persist if you import the link you pasted, choose 'Import as Copy', and run the new collection?

[2016-03-10 01:11] #1813 closed, assigned to numaanashraf

[2016-03-10 04:50] pella07 commented on #1805
That appears to have solved it. I'll let you know if it crops up again.

Thanks!

[2016-03-10 04:58] #1805 closed, assigned to nobody

[2016-03-10 06:27] SivaKrishnaKorlam commented on #1811
sure..i tried to set corporate proxy ..but in my office m not able to access.. any solution on this?

[2016-03-10 07:50] blowback commented on #1825
Aha! Marvellous. Many thanks!

[2016-03-10 07:50] #1825 closed, assigned to nobody

[2016-03-10 08:06] SamvelRaja commented on #1826
@Atomixx Thanks for bringing this to our notice. you can expect a fix in our next release.

[2016-03-10 08:58] andreassiegel opened #1828 "Context menu not working in 4.0.4 on OS X 10.11.3"
No matter where I click in the Postman app on OS X, I don't see any context menu.

Right clicks can only be used for cursor positioning in text fields.

[2016-03-10 09:18] ghost commented on #1827
I´m using the v 4.0.1 and working  in the same tab the response options options always go back to (pretty) i have to click on the (preview) every time that i send the request.
I´m a PHP developer use a lot of var_dump for debugging , have to change from pretty to preview in all request.

[2016-03-10 09:57] #1576 closed, assigned to nobody

[2016-03-10 10:42] Maximk0o opened #1829 "Copying text from a environment properties preview no longer works in 4.0.1"
Steps to Reproduce
1. Click on the eye icon in the right-top corner
2. Try to select text in the appeared dialog
Expected Results
Text should be able to selecting and copying
Actual Results
Text isn't selectable
Examples
Video: http://screencast.com/t/LfuTKz4w

[2016-03-10 10:50] SamvelRaja commented on #1829
@Maximk0o This had been fixed in our internal build. Will be out in the next release. Thanks for bringing to our notice.

[2016-03-10 11:05] SivaKrishnaKorlam commented on #1811
i have disabled proxy and tried... its started working.. issue is ..i have applied proxy for system level in my ubuntu desktop. so it's effected to postman as well . I have changed system proxy to none then its working.

Thanks abhijitkane .

[2016-03-10 12:00] SamvelRaja commented on #1827
@ZStelmo We missed that in our current version, in the meantime we have implemented in our internal build. Will be available to you in the next version

[2016-03-10 12:03] ghost commented on #1827
Thanks in advance. ;)

[2016-03-10 12:03] #1827 closed, assigned to nobody

[2016-03-10 13:50] jayonsoftware commented on #1824
Yep. I like to see the Font size bigger.

[2016-03-10 13:55] bbsimonbb opened #1830 "How do I know this is not a phishing scam?"
The Postman Oauth2 sign-in-with-google pops in a window without an address bar.You're asking people for their google password, perhaps the most sensitive piece of information they have. And their's no way for the user to verify the destination of this info. This urgently needs fixing.

[2016-03-10 15:37] zgin commented on #131
+1 elastic. Please.

[2016-03-10 15:50] DarthOpto commented on #1083
I am having this problem in 4.0.1

[2016-03-10 15:51] abhijitkane commented on #1083
@DarthOpto this was a regression in our 4.0.1 release. We've fixed this internally, and will be rolling out the fix to users by tomorrow.

[2016-03-10 16:08] johnhenderson commented on #1783
+1

[2016-03-10 16:08] johnhenderson commented on #1808
+1

[2016-03-10 16:24] suhaim opened #1831 "Error while importing Curl: Zero or Multiple option-less arguments. Only one is supported (the URL)"
I get this error when using the following curl

`curl -i -X POST -H "Content-Type: multipart/form-data" -H "Authorization: SIMPLE pass" -F "card={\"text\":\"sometext\", \"userName\":\"%USERNAME%\", \"screenName\":\"screenName\", \"avatarUrl\":\"https://someurl\"};type=application/json" -F "pic=@file.jpg" "https://someurl" -v —insecure
`

Error while importing Curl: Zero or Multiple option-less arg

[2016-03-10 17:15] DarthOpto commented on #1083
@abhijitkane Thank you very much got on this morning and everything was working again. Thank you so very much.

[2016-03-10 19:09] quantrung9 opened #1832 "How to import multi URL to Postman Collection?"
Hi, I want to import multi URL to Postman Collection. I have to import URL requests manually, it's quiet inconvenient.

How can I do that? Thank you.

[2016-03-10 19:28] derickson82 commented on #1104
There is another option for my use case, specifically a 2 part upload, one image and one json file. When both parts are "File" uploads, instead of "Text" for the json, a file with the ".json" extension will have the Content-Type set to "application/json".

While this does work, it also means that I have to select 2 files instead of 1 every time, and the json content is not saved to the collection.

[2016-03-10 20:44] xp500 opened #1833 "File uploads stopped working"
The requests generated when posting files are not being created properly.

This is a POST to www.google.com attaching one file as a `form-data`

[code]

I am sure this was working yesterday so I'm not sure if it's the same as #1806

I'm using the Postman app on Windows 10.

[2016-03-10 20:59] mdconatser commented on #1822
Thanks for quickly fixing this in 4.0.2.

[2016-03-10 20:59] #1822 closed, assigned to nobody

[2016-03-10 21:23] elpoisterio opened #1834 "Interceptor Not working"
With Latest Update interceptor is not showing api in postman client and some issues with client see picture.
Both screenshot taken in a gap of 10 minutes
![screenshot from 2016-03-11 02 49 50](https://cloud.githubusercontent.com/assets/7325457/13684998/69c46370-e734-11e5-92eb-51efadbed32a.png)
![postman](https://cloud.githubusercontent.com/assets/7325457/13684999/69e03a96-e734-11e5-87d9-6bcae872c4

[2016-03-10 22:11] sGuid commented on #212
This isn't working for me either, I can only drag within collections, and not between collections.  Is this suppose to still be working, or is there already a bug for this?

Version 48.0.2564.116 (64-bit)

[2016-03-10 22:15] sGuid commented on #1390
+1  - i would really like to move/copy requests between collections.
I see this is suppose to have been implemented in issue #212, but it doesn't work now.

[2016-03-10 23:13] ta3pks opened #1835 "after update cannot send any requests under ubuntu 15.10"

[2016-03-11 00:10] ianomad opened #1836 "Windows 7 in dark theme when search in response, text is not visible"
Steps to reproduce:

Version: win/ x82-32 Chrome 48.0.2564.116 Postman: 4.0.1
Postman dark theme
Make request to any API with json response and try to search in response by text by clicking CTRL + F, start typing text - white text is not visible in white textbox

[2016-03-11 01:14] nategranatir commented on #1257
+1 this makes a big difference when you get a huge response and want to traverse by node. without collapse all, for larger responses I have to copy/paste the response into another viewer.

[2016-03-11 02:42] SamvelRaja commented on #1836
@ssymbol we have released our latest version which already had the fix for this, can you update your postman and check the same.

[2016-03-11 02:45] SamvelRaja commented on #1819
@deive can you confirm the fix which went on for this issue in **4.0.2**

[2016-03-11 02:47] SamvelRaja commented on #1829
@Maximk0o we have released the build **4.0.2** can you check the same for your fix.

[2016-03-11 02:49] SamvelRaja commented on #1826
@Atomixx we have came up with the latest version  **4.0.2** . Which has the fix for this. Can you confirm the same.?

[2016-03-11 02:50] SamvelRaja commented on #1817
@Atomixx we have a fix for this in our latest version  **4.0.2** kindly update and check the same

[2016-03-11 02:51] SamvelRaja commented on #1814
@kaminoo you can find the fix for this in our latest  **4.0.2** app

[2016-03-11 02:53] SamvelRaja commented on #1812
@mstaalesan you update to  **4.0.2**  to get the fix for this.  Thanks for reporting

[2016-03-11 02:54] SamvelRaja commented on #1807
We have released our latest version  **4.0.2**  which would solve this problem. Can you confirm the same ?

[2016-03-11 02:55] SamvelRaja commented on #1793
The fix had been released with the latest update  **4.0.2**

[2016-03-11 06:29] SamvelRaja commented on #1827
Hey @ZStelmo we have pushed our `4.0.2` update can you check with that. we implemented this missed out feature there

[2016-03-11 08:01] mstaalesen commented on #1807
Confirmed, working in 4.0.2

[2016-03-11 08:36] mstaalesen commented on #1812
confirmed, working again.

[2016-03-11 08:36] #1812 closed, assigned to nobody

[2016-03-11 08:49] AhmadMuzakkir commented on #1808
+1.

Can I also request a feature when Cmd + Click on a history/collection request, it will open the request in a new tab.

[2016-03-11 09:01] #1814 closed, assigned to nobody

[2016-03-11 09:09] ghost commented on #1827
The feature is implemented , thanks .

[2016-03-11 09:53] #1807 closed, assigned to nobody

[2016-03-11 10:41] roeschjohannes opened #1837 "Feature-Request: Session Variables"
It would be useful, to have a third space to store variables. This space should be in session context. Each time postman is started, this space is created and i can store variables in it. On closing Postman the space will be destroyed.
It would be useful, because i can store many temporary variables, without the need to clean it up.
A function like "postman.clearSessionVariables()" could also be v

[2016-03-11 10:47] hartono-sulaiman-kaskus opened #1838 "Invalid signature when using Oauth 1 and method POST with x-www-form-urlencoded"
Hi

I got invalid signature when use Oauth 1, POST with content-type `application/x-www-form-urlencoded`

My investigation found out that Postman does not include form field in base string when creating signature

http://oauth.net/core/1.0a/#anchor13

[code]

i use postman

[code]

[2016-03-11 11:29] turchinc commented on #158
I can confirm this (and can no longer use the latest version FML).
Why doesn't postman just take care of this transparently, at least as an option via settings or something? It seems like a pretty normal expectation and the parameters can be inspected before the request is sent...

[2016-03-11 11:33] turchinc commented on #158
The funny thing is the code generated e.g. for node.js is correct:

`var http = require("http");

var options = {
  "method": "GET",
  "hostname": "xxx.xxx.xxx.xxx",
  "port": null,
  "path": "/mc/rs/entityprofile/7923?hello=%7B%22oasdf%22%3A%22asdf%22%7D",
  "headers": {
    "cache-control": "no-cache",
    "postman-token": "2c2148bc-69be-4942-2373-132db5166d8d"
  }
};

var req = http.request(opt

[2016-03-11 11:47] HenrikHL commented on #1610
@abhijitkane thank you for fixing this (and sorry for the late reply) - I can confirm it is working now

[2016-03-11 11:49] #1610 closed, assigned to nobody

[2016-03-11 12:57] sschizas opened #1839 "Markdown support Postman v4.0.2"
In my documentation of each API i use a lot of the <pre> and ### (fon indicating headings). In v4 they are broken.

[2016-03-11 13:02] oi-io commented on #1724
this is fixed in new version.

[2016-03-11 13:05] oveits commented on #1724
Thanks a lot for fixing this. It works fine.

[2016-03-11 13:05] maxihornes commented on #1724
Thanks!

[2016-03-11 13:06] #1724 closed, assigned to nobody

[2016-03-11 13:09] numaanashraf commented on #1839
@n3trino Could you give us a sample description and a screenshot of how it renders within the app?

[2016-03-11 13:13] eXeDK commented on #1839
Also seems like Postman Documenter (Documentation feature) does not render Markdown.

[2016-03-11 13:15] maxihornes commented on #1726
Yes, that is what I mean. It looks that was fixed in 4.0.2.

[2016-03-11 13:16] sschizas commented on #1839
![screen shot 2016-03-11 at 15 15 47](https://cloud.githubusercontent.com/assets/1173551/13703115/269fd1b6-e79c-11e5-94c0-1d3b031a01f3.png)

[2016-03-11 13:21] numaanashraf commented on #1839
# test

[2016-03-11 13:47] pawanrawal commented on #1839
@eXeDK - Could you share the screenshot of the documentation that is generated for you , and the raw description which is not being rendered?

[2016-03-11 13:50] abhijitkane commented on #1838
@hartono-sulaiman-kaskus Thanks for reporting this. We'll push a fix for this soon.

[2016-03-11 13:56] eXeDK commented on #1839
Just edited the code found that some tabs indenting the code had an effect. It works as expected now.

[2016-03-11 14:08] mstaalesen commented on #1726
I agree. This issue can be closed now.

[2016-03-11 14:09] #1726 closed, assigned to nobody

[2016-03-11 14:17] dhoyt commented on #1839
Here is what all my documentation looks like now ...

![image](https://cloud.githubusercontent.com/assets/10944880/13704433/ef02f3aa-e769-11e5-93a9-6afd41c6be19.png)

![image](https://cloud.githubusercontent.com/assets/10944880/13704452/144d12da-e76a-11e5-9d87-f47f2825518d.png)

In Documenter ...

![image](https://cloud.githubusercontent.com/assets/10944880/13705725/0f4cdd1e-e770-11e5-818f-b12746d

[2016-03-11 14:28] ms88privat commented on #1257
:+1:

[2016-03-11 14:44] eXeDK opened #1840 "Postman Documentation does not support saved responses"
Instead of having to show responses in the markdown it would be nice that the documentation could show the saved responses for the requests.

[2016-03-11 14:48] sosuke3 opened #1841 "HTTP response Reason Phrase no longer being displayed in version 4 (chrome app) for custom http codes"
The latest version seems to have broken/removed the reason phrase for custom http response codes. This worked fine in 3.2.19.

Version 3.2.19:
![3.2.19](http://i.imgur.com/Nfaa5RN.png)

Version 4:
![4](http://i.imgur.com/GUEL5IL.png)

[2016-03-11 15:05] Wijnko opened #1842 "# After 4.0.2 update, Interceptor no longer intercepts PUT Messages"
Since the Postman update to 4.0.2 the interceptor no longer catches PUT Messages. Before the update the interceptor worked fine, and PUT Messages showed up in the History. Since the update to 4.0.2, PUT Messages do not Show up in the history anymore.

[2016-03-11 16:04] mikefadhl opened #1843 "POST form-data does not upload Filedata"
Version: 4.0.1
After choosing file to POST the filename is undefined, this what the generate code looks like:

POST /profile/services/users/6633580729/avatar?maxSize=350 HTTP/1.1
Host: ecn91-www.nikedev.com
Cookie: slCheck=4YSKqJWXbZk9coFlCFcWxq/ufWmHFiYtI2vQ5PR72jBMO5uJitOUED3yHMK3Ol/vLPGpC/C9UUHEaJ0qWRJ92A==
Cookie: sls=3
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxk

[2016-03-11 16:31] M-Crosscma opened #1844 "4.0.2. Update - Can not DELETE strange line spacing in XML file"
When I opened Postman today, it appears that it's been upgraded to 4.0.2 (not sure what the last version I had was)

Now, all of my XML files have sporadic line spaces in them, and I can NOT delete them.  Deleting actually ADDS more lines.

[2016-03-11 16:57] rburkitt commented on #1844
I am also having this issue.
While testing a SOAP web service, I copy a block of xml into the body textbox and extra lines of empty space appear throughout the xml.
I am also on version 4.0.2.

[2016-03-11 16:58] maxmarkus opened #1845 "Better RAML 0.8 import behavior"
Hello,

I'd like to see some raml import improvements. Currently I'm importing raml, then exporting collection and do search-replace along for lots of query params and path values.

It would be great to see things like:
- taking automatically default value if available (query params). currently it looks like `endpoint?fields=&pageSize=` and its necessary to change or delete all manually. raml defi

[2016-03-11 17:39] paolobiavati commented on #1764
This feature don't work ALSO in the new chrome extension version.
You right click on a result and the pop up menu say "set >ACTIVE_ENVIROMENT> / <KEY> " but this dont set a value!! please fix this!   it copy a white space instead of the selected string

[2016-03-11 18:19] ghost commented on #1844
I am seeing this same issue on version 4.0.1

[2016-03-11 19:34] skozz commented on #366
+1

[2016-03-11 19:40] abhijitkane commented on #1764
@paolobiavati We've fixed this in our internal build, and we're rolling out the fix in our Chrome version over the next few days.

[2016-03-11 19:53] abhijitkane commented on #1844
@rburkitt @Ann25 thanks for reporting this. We're working on this and will release a fix ASAP.

[2016-03-11 20:06] M-Crosscma commented on #1844
Thank you!  I look forward to a fix ASAP.

[2016-03-11 20:36] Atomixx commented on #1817
Successfully tested

[2016-03-11 20:36] #1817 closed, assigned to nobody

[2016-03-11 20:38] ianomad commented on #1836
@SamvelRaja
I am looking for an update as chrome plugin, but there is no update yet. What version is it?

[2016-03-11 20:51] abhijitkane commented on #1843
@mikefadhl We've fixed this in our internal build, and will slowly be rolling out the fix to all users over the next few days.

[2016-03-11 21:13] abhijitkane commented on #1842
@Wijnko Thanks for reporting this. We'll be pushing a fix for this in the next release.

[2016-03-11 21:15] Atomixx commented on #1826
**Test Result:**

Scroll bar not visible at the bottom   -   resolved
Headings are centered vertically      -   not fixed
Overlaid presentation of content      -   resolved

[Data.zip](https://github.com/postmanlabs/postman-app-support/files/169976/Data.zip)

![snag-00012](https://cloud.githubusercontent.com/assets/17732378/13715450/17768200-e7d5-11e5-8da1-ef607ada42fe.gif)
![snag-00013](https://c

[2016-03-11 21:37] numaanashraf commented on #1660
Hi @prashcr, this has been fixed in Mac App v4.0.0

[2016-03-11 21:37] #1660 closed, assigned to nobody

[2016-03-11 21:50] numaanashraf commented on #1396
@A570343 This issue has been fixed in v4.0.0

[2016-03-11 21:50] #1396 closed, assigned to nobody

[2016-03-11 21:54] numaanashraf commented on #1499
@prabhukirannarava We've added folder transfer along with a whole host of new features in Postman 4.0

[2016-03-11 21:54] #1499 closed, assigned to nobody

[2016-03-11 21:55] #1431 closed, assigned to nobody

[2016-03-11 22:03] numaanashraf commented on #1645
@VMTrooper @rcchen We've added an option to disable certificate verification in the Mac App, that should help to run requests against servers with self-signed certificates. You can find the option in `Settings > SSL certificate verification`

[2016-03-11 22:03] #1645 closed, assigned to nobody

[2016-03-11 22:07] numaanashraf commented on #1210
@tompson This has been fixed in v4.0

[2016-03-11 22:07] #1210 closed, assigned to nobody

[2016-03-11 22:08] cs45977 opened #1846 "Header Variable"
I am attempting to send and authorization header using a environment variable.

The Variable , unfortunately, is sent as a the string literal  '{{apitoken}}'  rather than the value.
Attached are screen shots demonstrate the issue

Invalid token Response
<img width="1273" alt="screen shot 2016-03-11 at 3 47 11 pm" src="https://cloud.githubusercontent.com/assets/561268/13716787/dd60ddfe-e7a2-11e5-88

[2016-03-11 22:15] numaanashraf commented on #1308
@Ivashkin, We recommend using our `Environments` feature for this use case. You can find more information [here](https://www.getpostman.com/docs/test_multi_environments).

[2016-03-11 22:28] rcchen commented on #1645
Working for me, thanks @numaanashraf!

[2016-03-11 22:30] numaanashraf commented on #1282
Fixed in 4.0

[2016-03-11 22:30] #1282 closed, assigned to nobody

[2016-03-11 22:37] numaanashraf commented on #1356
Fixed in v4.0

[2016-03-11 22:37] #1356 closed, assigned to nobody

[2016-03-11 22:48] numaanashraf commented on #1234
Fixed in v4.0

[2016-03-11 22:48] #1234 closed, assigned to numaanashraf

[2016-03-11 22:51] numaanashraf commented on #1844
@M-Crosscma @rburkitt @Ann25 We've pushed v4.0.4 with a fix for this. Do verify and let us know.

[2016-03-11 23:00] numaanashraf commented on #1835
@NikosEfthias Please let us know your Postman app version and Chrome version. Also, would it be possible to open the console check if there are any errors there? You can find the steps to open the console [here](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/).

[2016-03-11 23:07] numaanashraf commented on #1836
@ssymbol We are rolling out 4.0.x updates over the course of this week. You should be getting the latest version (4.0.4) over the next couple of days.

[2016-03-11 23:27] numaanashraf commented on #1804
@rlinyard @pella07 @dustinfineout @aeagal We've fixed this issue in our internal build and will be rolling it out over the next couple of days.

[2016-03-12 02:43] sormbrek opened #1847 "JSON Response Viewer cut"
Thank you first for this great application!

Problem: JSON response in pretty print cuts off, scrolls prematurely above the bottom of the panel.

To reproduce: Call an API.  By default, response is shown in "Pretty".  In my example, there are 22 lines shown.  Switch to "Raw", then switch back to "Pretty".  Now JSON is seen only on 12 lines, and cut off there.  However, I can still scroll in that 1

[2016-03-12 04:24] ta3pks commented on #1835
@numaanashraf
http://i.imgur.com/1u4QTEQ.png heres console output theres nothing weird
![test](https://cloud.githubusercontent.com/assets/9097437/13720736/5a37a168-e821-11e5-8d69-85542fe49999.gif) heres the wierd behaviour nothing is happening
heres the chrome version http://i.imgur.com/1R57CFM.png
postman version http://i.imgur.com/kAEsSGN.png

[2016-03-12 05:23] shahidmau opened #1848 "How to show result in full screen."
Is there any way to show result in full screen mode? Or at-least we should be able to maximize the output result. Also, is there any way to customize the theme as we do in sublime or other tools? Such as we should be able to change font size, color and background color etc.

[2016-03-12 05:42] a85 commented on #1847
This has been fixed in the latest updates to the app.

[2016-03-12 05:43] a85 commented on #1840
It does. The dropdown on the right hand side shows saved responses.

[2016-03-12 05:45] a85 commented on #1830
That's an API provided by Chrome for OAuth 2 flows. Not sure what we can do here but will look into it.

[2016-03-12 08:13] maciej-szlosarczyk opened #1849 "When pinned to start on Windows 10, Chrome app looses its icon"
When I pin the Windows app to start menu, it uses the Chrome icon instead of postman one.
![image](https://cloud.githubusercontent.com/assets/2331765/13721812/07df200c-e83b-11e5-946c-1c6b9d5e1313.png)

In the taskbar or on the desktop the correct icon is used.

[2016-03-12 08:31] abhijitkane commented on #1835
@NikosEfthias can you try disabling the Interceptor (satellite icon in the top bar) and sending the request?

[2016-03-12 09:55] pconesa commented on #1836
same on MAC, nice tool by the way! ;-)...hold on...I switched back to dark theme and now results showed up.

I've relaunched POSTMAN and looks ok!. Weird.

[2016-03-12 13:13] ta3pks commented on #1835
it does work when i disable that @abhijitkane

[2016-03-12 15:26] abhijitkane commented on #1835
@NikosEfthias Can you try disabling and enabling Postman Interceptor from `chrome:/extensions`? If that doesn't work, you should check for errors in Postman's console when you try to send the request - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

[2016-03-12 15:26] #1836 closed, assigned to nobody

[2016-03-12 16:35] sappenin commented on #1737
I have this issue as well -- the weird "file:///" origin header is precluding access to one of my API's because the API requires a valid origin as part of its CORS checks.

[2016-03-12 18:56] SamvelRaja commented on #1826
@Atomix can you update for one last time. The actually fix went in at **4.0.4** it's my mistake mentioning the wrong version😐

[2016-03-12 19:03] abhijitkane commented on #1802
@gavincornwell Can you try upgrading to the latest version? (chrome:/extensions > Enable 'Developer Mode' > Update extensions now)

Should be fixed in v4.0.3/4.0.4.

[2016-03-12 19:09] SamvelRaja commented on #1839
@dhoyt adding space after #'s would work in new version. Let we check and tell you about supporting without space sooner in this thread itself. And @eXEdk we had included the support for pre in our internal build will roll out the same in the next version

[2016-03-12 19:21] eXeDK commented on #1839
Thanks a lot @SamvelRaja :-)

[2016-03-13 04:25] LaughlinJames commented on #1833
I'm seeing the same thing using the Postman app on OSX 10.11.1 El Capitan

[2016-03-13 04:28] LaughlinJames commented on #1833
One thing I've noticed is that if I remove the file field by clicking the x on that line, then add it back in, choose my file and run the API call, it works immediately.

[2016-03-13 06:41] abhijitkane commented on #1833
@LaughlinJames @xp500 What version of Postman are you running? The `filename="undefined"` issue should be fixed in the latest versions.

[2016-03-13 06:59] LaughlinJames commented on #1833
v 4.0.5

[2016-03-13 07:04] xp500 commented on #1833
@abhijitkane v4.0.2

[2016-03-13 09:54] abhijitkane commented on #1833
@LaughlinJames Are you toggling the Interceptor on/off? After every toggle, you'll need to reselect the file.

[2016-03-13 11:41] abhijitkane commented on #1846
@cs45977 Can you ensure that there are no non-printing characters before and after "api_token" (both in the headers section, and in the Manage environments modal?

Also, you can add this: `console.log(environment);` to the request test script and send the request. The list of currently active environment variables will be printed in the console (Cmd + Option + I). Is the correct value of `api_toke

[2016-03-13 13:32] natizlp commented on #1712
+1

[2016-03-13 23:39] soufian044 opened #1850 "Post request body is not added to the generated code if not modified"
Hello

generating codes was working good in the past , until today I used it and it didn't generate the body code, I am not sure if there has been a newer version released since then.

so when I generate the code it generate the body as null
`OkHttpClient client = new OkHttpClient();
Request request = new Request.Builder()
  .url("https://www.oncf-voyages.ma/ResultatsTarifs.aspx")
  .post(null)`

[2016-03-14 00:04] mstaalesen opened #1851 "Collection Runner freezes if the Folder that is attempted to be executed has changed name AFTER collection runner is started"
1. Start the collection runner from a collection by first selecting the Folder and then "Run".
2. Ensure that said folder is selected in the collection runner and that the correct environment is set
3. Start the collection runner and observer that everything is working as it should.
4. Keep the collection runner open
5. Rename the folder that collection runner just ran
6. Select the new folder in

[2016-03-14 01:24] grifx commented on #1205
@Rychard Thanks!

[2016-03-14 05:52] RonakThakkar opened #1852 "OAuth 2.0 settings not saved in Version 4.0.5"
Hi,

I am using Postman version 4.0.5

I am calling API using OAuth 2.0 Authorization code Grant Type.

I have selected Type = "OAuth 2.0", enter necessary information like Auth URL, Access Token URL, ClientID, Client Secret and clicked on "Request Token". This gets me token which I use to send API request. Everything works fine.

Next time when I open Postman again and click on "OAuth 2.0" again

[2016-03-14 07:16] SamvelRaja commented on #1852
Hi @RonakThakkar thanks for taking this to our notice. The RC had been found. Will be out in the next version update.

[2016-03-14 07:39] abhijitkane commented on #1850
@soufian044 Can you mention the Postman version you're on?
We're not able to reproduce this issue. I clicked on a request (in the left sidebar) that had a x-www-form-urlencoded body, and the generate code button had the correct data.

[2016-03-14 07:57] SamvelRaja commented on #1712
@wesleyalmeida and @merikan I tried reproducing it in the latest version `4.0.5` it is working fine.
One quick note, did you enabled the **Save Helper data** option before saving the request
![auth1 0](https://cloud.githubusercontent.com/assets/5114052/13738084/4eaff0de-e9e8-11e5-895d-af1af1ca6f1e.gif)

If the problem still persist, can you check the app's console (http://blog.getpostman.com/2015/

[2016-03-14 08:10] henry40408 commented on #131
+1 for ElasticSearch, please

[2016-03-14 08:47] adampopkiewicz commented on #1809
I had the same issue with 4.0.4, with 4.0.6 update it's fixed. that's on OSX, with both standalone client and chrome app.

what it was, it didn't preserve sorting from previous version, and because it seems popular with others as well that we use folders for features, we prepend numbers before names so they run in specific order (i.e. first tests without login, then login requests & tests, then te

[2016-03-14 09:01] adampopkiewicz opened #1853 "collection runner: filter failed"
tldr; please add optional filter on results to just show requests that failed.

I have big collection file, it's useful to run all tests in single go to verify if everything is ok with api. When few of them fail, it'd be nice to be able to just focus on these failed ones. For that I always switch to newman, but it's not automatically in sync with my collection/team, so I'd prefer to use collection

[2016-03-14 12:02] xxldoctor commented on #1783
+1
middle mouse button for new tab will bi nice

[2016-03-14 12:27] dhoyt commented on #1839
@SamvelRaja ... thanks for the response. Are you saying that you are going to fix the problem by supporting without a space in a future version ?

[2016-03-14 12:49] M-Crosscma commented on #1844
Thank you... Updated to version 4.0.5 and issue appears to be resolved.

[2016-03-14 12:49] #1844 closed, assigned to nobody

[2016-03-14 13:02] SamvelRaja commented on #1839
@dhoyt After the discussion, i am afraid that we are **not** going to support the # followed by contents **without spaces**, as it is not the common way of representing Headings in most of the markdown editors, say github.

[2016-03-14 13:16] gioid commented on #697
+1

[2016-03-14 14:05] joshboley opened #1854 "OAuth2 id_token in Authorization header 4.0.2"
When my team uses the OAuth2 flow to get a token, our oauth provider return both an access_token and and id_token.  As of version 3.2.20, the id_token would show up in the Postman UI and we could select it and add it to an environment variable easily that would be passed in the Authorization header.  On Friday, some team members were auto-upgraded to 4.0.2.  After this upgrade, the only options we

[2016-03-14 14:23] srbangre opened #1855 "Unable to download the test runs from collection runner"
When i try to download the test runs from collection runner on chrome app for windows, it downloads the whole collection.json file. How do i just download the test runs??
app version - 4.0.5
chrome version - 48.0.2564.116

[2016-03-14 14:31] igostavro commented on #907
+1

[2016-03-14 14:46] ghost opened #1856 "4.0.5: Enter isn't sending the request"
I think it would be useful if we can execute the request pressing Enter in the URL, params, headers, etc.

[2016-03-14 15:16] soufian044 commented on #1850
@abhijitkane  here we go , i am in version 4.0.5

here , i made a gif animation take a look
http://i.giphy.com/l2JJuI8WEw61z5B8k.gif

i will try later to uninstall and install again , maybe it's just me

[2016-03-14 15:36] otolabqu opened #1857 "Keyboard shortcut for "close tab""
It seems not to exist as it is now (not listed in settings-shortcuts).

Also, postman behavior is inconsistent with browser behavior: CTRL-T opens a new tab in postman as expected, but CTRL-W closes postman completely, it should just close the current tab.

[2016-03-14 17:53] arashb31 opened #1858 "Generate code snippet for "ab" tool"
It would be great if there was a way to generate a code snippet for the "ab" load testing tool for  the command line.

[2016-03-14 18:22] dhoyt commented on #1839
Wow ... So I have to change, by hand, hundreds of collections totaling hundreds if not thousands of endpoints to fix what you already allowed ... not good ... not good at all.

[2016-03-14 18:41] didiermichel commented on #19
That's sad Globals canot be imported.

[2016-03-14 18:43] didiermichel opened #1859 "Globals canot be imported in the app"

[2016-03-14 20:39] dcc635 commented on #1764
We are also waiting on this in the Mac app. Thanks for the fix.

[2016-03-14 20:46] eXeDK commented on #1839
@dhoyt so you can't write a script to do that? Can't see how your invalid Markdown is Postman's problem.

[2016-03-14 22:50] cs45977 commented on #1846
@abhijitkane I've consoled out the value and in the environment file it is correct but what is being passed in the request is not (see the Authorization header in the Network Tab)

<img width="1238" alt="screen shot 2016-03-14 at 5 49 51 pm" src="https://cloud.githubusercontent.com/assets/561268/13762476/3c256f00-ea0d-11e5-8ab4-f9cfb7014f70.png">
<img width="1260" alt="screen shot 2016-03-14 at 5

[2016-03-14 23:15] sebastianarena opened #1860 "Copy+Paste feature request"
Hello awesome people.
Me again with a feature request.
I constantly use Postman tu test my APIs.
Most of the time I leave tabs opened with results from various API calls.
It seems when I select something from the result to copy to another tab, and then leave the origin tab, if I need the same piece of data again I need to re-select for the CMD+C to take effect, even though the information is alrea

[2016-03-15 07:08] andy-g opened #1861 "My synced postman collections are gone locally and on the site"
I was using the Postman Team Sync Beta while the program was in Beta, and all my collections where in there and syncing to the postman cloud.

I realise that the beta program is closed now, so wasn't expecting team sync to work any longer, but I opened the app yesterday and the layout was a bit broken and all  my history and collections were gone.

![image](https://cloud.githubusercontent.com/asse

[2016-03-15 07:13] fkranenburg opened #1862 "Set environment combobox is too small to fit content"
I have a lot of environments to select and some have a bit long name. In previous versions of Postman this was never an issue. But now I have to check the current environment manually by clicking on the combobox and select the environment I need of the list.
1. But there is no indication of the current selected environment in the dropdown list
2. The current selected environment combobox is just t

[2016-03-15 07:29] timotiusericks opened #1863 "Bulk edit is missing in postman version 4.0.5"
In previous version there is bulk edit in POST body form-data

![screen shot 2016-03-15 at 2 25 48 pm](https://cloud.githubusercontent.com/assets/14273203/13770503/0d0648c2-eaba-11e5-807f-03dd33bfb12a.png)

But, in version 4.0.5, I can't find bulk edit button in form-data

[2016-03-15 07:29] alvinchandra commented on #1852
Hi @SamvelRaja, i had the same problem with Oauth1 in Postman version 4.0.5. I'm waiting for the next postman update. Big thank's.

[2016-03-15 07:50] Tornhoof opened #1864 "Saved Response Usability in 4.05"
Hi,
The saved response is now not a link anymore and it is not really clear where to click to open the saved response, if you double click on the text it selects the text.
Please revert to a proper link again.

[2016-03-15 08:03] abhijitkane commented on #1861
@andy-g There's probably an issue with the latest Chrome release that's preventing the app from loading properly. As for your collections and environment, they're still there but not visible on the website. You will need to migrate to Postman Cloud (using the migrate email you should have received earlier) to continue accessing your collections in the main Postman app (https://chrome.google.com/we

[2016-03-15 08:05] abhijitkane commented on #1863
@timotiusericks There were a few issues with the way files were handled in the bulk-edit window, so we've removed it for now. We're working on a fix for this, and will try to reinstate it soon.

[2016-03-15 08:26] gavincornwell commented on #1802
I've upgraded to 4.0.5 (packaged Mac version) and I can confirm that I no longer see the error, many thanks for fixing this so promptly.

[2016-03-15 08:27] #1802 closed, assigned to nobody

[2016-03-15 09:19] Gutbuster commented on #1666
After the postman was updated, the issue has re-appeared. The old user name is once again shown as the owner of a collection.

[2016-03-15 10:05] adampopkiewicz commented on #1809
actually, problem still occurs, when saving collection from standalone OSX app, newman reads out sequence in wired way (like collection runner used to in previous 4.x versions, in 4.0.6 works fine)

workaround is to store collection from postman chrome app

[2016-03-15 10:20] zorker opened #1865 "Font-Size and menu color hack for 4.0.5"
The font size was way to tiny for me before but now with 4.0.5 it is bonkers. You guys hardcoded the font-size per element? Additionally you picked a grey menu font-color on a grey menu.

Had to hack postman via **Chrome inspect App** to fix it
chrome://inspect/#apps

[code]

Any way we can write our own themes?

[2016-03-15 10:55] Fr4ncis opened #1866 "4.06 still have issues my our collection"
Hi there, postman has been broken since v4 and we cannot use it. **Can you please make sure you test with our collection**? I provided to support the keys and secrets to test it yourself.

This time it seems that "Authorization > OAuth 1.0 > Add params to header" still adds the params to the body.

V3 of postman works fine.

Collection URL: https://www.getpostman.com/collections/fc13d501598107a361

[2016-03-15 11:01] andy-g commented on #1861
Thanks for the quick response @abhijitkane.

I've upgraded by account to postman cloud (30 day trial), but I don't have any of my collections there. Tried to log in to the site and the app, but even once it's `IN SYNC` there are no collections there.

I'm happy to lose access to other team members collections that were shared with me, but I just want to recover my collections. How can I simply rec

[2016-03-15 11:04] sobtiankit commented on #1861
@andy-g Can you send an email to help@getpostman.com from your registered email id on the beta, with your beta and production user ids? I'll restore the data for you.

[2016-03-15 11:07] uda commented on #1856
It was working in pre-v4, why the change?

[2016-03-15 11:15] andy-g commented on #1861
Thanks @sobtiankit,

I've just sent that mail, please let me know if you need anything else from me.

[2016-03-15 11:22] SamvelRaja commented on #1852
@RonakThakkar and @alvinchandra yeah the fix is on it's way. But till that will tell you a dirty trick to access your saved tokens. Just toggle the radio buttons under the PREVIOUSLY USED list column in **OAUTH2** editor, the saved tokens gets visible there now.

[2016-03-15 11:40] andy-g commented on #1861
Thanks so much @sobtiankit. I thought there were quite a few more collections but the ones I'm really interested in are there at least. Thanks for the assistance, I really appreciate it.

[2016-03-15 11:40] #1861 closed, assigned to nobody

[2016-03-15 12:19] enekochan commented on #1833
Switching the interceptor off fixed the problem for me (version 4.0.5 here). Thanks!

[2016-03-15 13:05] abhijitkane commented on #1809
@czardoz How does Newman order the requests in a collection with folders?
@adampopkiewicz Can you share the collection URL which runs differently in Newman?

[2016-03-15 13:26] adampopkiewicz commented on #1809
@abhijitkane sure, I created these 2 collections with new setup:
abc: good one
https://www.getpostman.com/collections/c0468282a08869b7f667
bcd: bad one
https://www.getpostman.com/collections/5ee9968692c74fa4e434

abc was created originally with sequence of 01, 02, 03...
for bcd I copied each folder from abc and moved to bcd, this time in reverse order 03, 02, 01
when running with newman it seems t

[2016-03-15 13:26] a85 commented on #1865
Can you share the following?
1. Is this the Chrome app or the Mac app?
2. Your screen resolution.

We test on a wide variety of platforms and screens but not possible to test for everything.

[2016-03-15 13:26] BandoKal commented on #1137
+1

[2016-03-15 14:39] deive commented on #1819
Sorry for the delay in response, I have now got version 4.0.5 and this seems to have been fixed, thanks muchly!

[2016-03-15 14:45] Winawer opened #1867 "Tests with dynamic name marked as failing and passed at the same time?"
We're running a series of tests on an internal API using the collection runner and a CSV file and a number of the tests are coming back marked as 'fail', but they're marked as passed in the overall report and in the summary of the number of tests beside each entry (see image attached).

We're almost certain that this is because we were debugging the test itself using a dynamic value in the test na

[2016-03-15 14:47] zorker commented on #1865
I use an iMac 27" (~from 2010). On the iMac runs Windows7 via Bootstrap. The app is inside Chrome. My screen resolution is 2560x1440. My Windows display size multiplier is set to 125%.

I will add two screenshots to give you an idea. The one with the grey menu font is the default view. The other one is with my added stylesheet.

http://imgur.com/a/Sn1Fk

My final CSS hack is:

[code]

I really do

[2016-03-15 14:55] abhijitkane commented on #1867
@Winawer Can you mention what version of the app you're using, and if it's the Chrome app or the Mac app?

[2016-03-15 15:35] Winawer commented on #1867
Postman for Mac, v4.0.6 (at least in the Check for Updates dialog ... the About dialog still says 4.0.5, which might be a separate bug. :)

[2016-03-15 15:59] numaanashraf commented on #1867
@Winawer Would it be possible to share screenshots of the version disparity between Check for Updates & About dialog?

[2016-03-15 17:08] OscarGarciaPeinado commented on #697
+1

[2016-03-15 19:30] morrisnc commented on #1837
This would be very useful for testing where we pass values between endpoints when running a test in a collection.  An example would be a create runs that passes back an id that is then used to run the next step (endpoint) in the collection to find that user by id.

[2016-03-15 19:46] viniciusfiorio commented on #697
+1

[2016-03-15 19:56] Winawer commented on #1867
@numaanashraf Sure! Taken a few seconds after each other:

<img width="307" alt="version-1" src="https://cloud.githubusercontent.com/assets/768583/13792242/d3864faa-eae8-11e5-87d6-e4bbadf21b23.png">
<img width="491" alt="version-2" src="https://cloud.githubusercontent.com/assets/768583/13792241/d3863fb0-eae8-11e5-9019-67a621e23cb6.png">

[2016-03-15 20:40] abhijitkane commented on #1867
@Winawer Thanks for reporting this.
As you suspected, the issue was the dynamic test name. If the dynamic names are `score1`, and `score2`, the first one show up as "pass" initially, but changes to "fail" as soon as the 2nd request completes.
We've made a fix, and will be pushing it out soon. The status will be "fail" iff at least one instance of that test has failed.

[2016-03-15 21:38] stevenhornung commented on #366
+1

[2016-03-15 22:00] gioid commented on #1193
+1

[2016-03-15 23:57] emmanuel-umana opened #1868 "Export is changing collection folders sorting"
Today I got an update of Postman, the app looks good, but it has a problem that is affecting the way we use it.

The folders in our collection are sorted by name, and we need to export the collection exactly in the same sorting. On this new version, when I export the folders, they have a different order, causing us a lot of errors when running the exported collection with Newman due to new sorting

[2016-03-16 02:13] evanpurkhiser opened #1869 "Postman is double encoding query parameters using OAuth 1.0"
As far as I can tell, postman is _not_ decoding parameters before normalizing them when it follows the [3.4.1.3.2.  Parameters Normalization](https://tools.ietf.org/html/rfc5849#section-3.4.1.3.2) step of OAuth. This causes the parameters to be encoded _twice_.

The spec does specifically state that the query parameters should be decoded before they are passed along to be normalized: [3.4.1.3.1.

[2016-03-16 04:33] xankwondo opened #1870 "Collection Runner Getting Stuck on Initialization"
I have been trying to run my collection with a csv file but the collection does not run, it just gets stuck in the initialization sequence, have restarted computer and tried ~10 times over the last hour (including different csv files). Nothing has appeared in the statistics view either.

The collection ran successfully before the recent update but this is the first that I've tried it since.

 4.0.

[2016-03-16 05:35] followztx opened #1871 "4.0.5 Language detection set JSON,bug not work"
4.0.5 Language detection set JSON,bug not work.
early version work.

upgrade from early version to 4.0.5, when i change "Language detection",it become not work

[2016-03-16 09:17] abhijitkane commented on #1870
@xankwondo Can you try upgrading to the latest version - chrome:/extensions, enable 'Developer Mode', click 'Update extensions now'.

If that doesn't help - try checking the console - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

[2016-03-16 09:35] abhijitkane commented on #1869
@EvanPurkhiser Thanks for reporting this. We'll investigate and try to push a fix ASAP.

[2016-03-16 10:04] #1793 closed, assigned to nobody

[2016-03-16 10:16] abhijitkane commented on #1868
@emmanuel-umana Thanks for reporting this. We'll be pushing a fix for this ASAP.

[2016-03-16 10:32] #1778 closed, assigned to nobody

[2016-03-16 10:32] a85 commented on #1778
Closed @RicDAC

[2016-03-16 10:42] scholary-tim opened #1872 "Postman (Mac) v4.0.6 - nonce defaulting to 6 chars and not saving other values"
When setting up fields for OAuth 1.0, the nonce value is defaulting to 6 characters whenever the request is saved or updated.

Any value put into this field should be kept and updated in the header on refresh. Might also be really useful to have a setting in Postman that enables the length of a default value to be controlled. Thanks.

[2016-03-16 10:56] SamvelRaja commented on #1871
@followztx Thanks for reporting to us. It had been fixed in our internal build, will be out in the next version.

[2016-03-16 13:59] emmanuel-umana commented on #1868
@abhijitkane Thanks! Is there a way to downgrade while this bug is solved?
We really need to export our collection sorted by folders name.

[2016-03-16 14:23] gioid commented on #907
+1

[2016-03-16 15:06] kalanchoej commented on #697
:+1:

It would be useful, for example, to have a pre-request script that fired off another request in the collection to go get a list of items to act on, then repeatedly call another request to act on each item on the list.

[2016-03-16 15:09] xasx commented on #1856
Apparently, `Ctrl+Enter` works here.

Good enough for me. Consistent with other tools I use, like IntelliJ IDEA (e.g. commit dialog).

[2016-03-16 15:56] jebeaudet commented on #1574
Seems to be fixed in the latest version.

[2016-03-16 16:05] brianpowell opened #1873 "Selecting Items from Collection in new tab reverts back to open tab from history"
*_Issue: *_ You cannot open more than one "Collection" item instance at a time (unless you open multiple windows). Anytime you select a Collection item from the menu with a new tab open, the app just selects the an existing tab with that Collection Item (even if modified) and does not populate the request in the new tab.

**In Past:** In the Chrome App, you could open multiple instances of Collect

[2016-03-16 16:43] sepehr commented on #971
This would be very useful.

[2016-03-16 17:13] OscarGarciaPeinado commented on #675
+1

[2016-03-16 17:14] cs45977 commented on #1846
User Error :(

There was a space when using
postman.setEnvironmentVariable("apiToken ", apiToken);
fixed with
postman.setEnvironmentVariable("apiToken", apiToken);

You may want to consider messaging a user when a variable does not have a set value , rather than sending a literal {{foo}}

Thanks for the help!!

[2016-03-16 17:14] #1846 closed, assigned to nobody

[2016-03-16 18:44] jeremymills opened #1874 "Postman POST OAuth 1.0a Signature Invalid"
A colleague and I are having problems accessing the same resource with different versions of Postman.

My version: v3.2.2
Colleague: v4.0.6

Whenever he tries to sign a POST request using OAuth 1.0a authentication it returns an invalid signature. But myself and another colleague both using v3.2.20 get successful returns?

[2016-03-16 19:37] jeremymills commented on #1874
~~I apologize, the solution was simpler than we thought, we are using Apigility to build our API and did not whitelist the `application/x-www-form-urlencoded` content-type... everything is fine now.~~

This seems to persist even with the `application/x-www-form-urlencoded` Content-Type set

[2016-03-16 19:38] yargevad commented on #907
+1, subfolder support would be great

[2016-03-16 19:56] ajsager commented on #1856
I agree, this is already a very missed feature.  Not sure why the keystroke was changed.  Enter is not being used for anything else I can see, so I don't see the need to change this to Ctrl/Cmd+Enter.  Just Enter was so much more natural.

[2016-03-16 19:58] ghost commented on #1856
The shortcuts list confirms the CTRL+Enter to send the requests. I am good with that.

[2016-03-16 19:59] Wanaco commented on #1854
I agree!
This is very frustrating...
Is it in the dev team radar?

[2016-03-16 20:22] prih opened #1875 "Wrong time of request"
if you make a request with the body (like POST with raw data), and the tab "Body" will be opened at the time of the request - the request is a distortion of time shows 5 times longer,
![image](https://cloud.githubusercontent.com/assets/3285877/13827502/7abbdbbe-ebc5-11e5-9024-d8238376275c.png)

but if the request to open a tab, such as "Headers", time request becomes correct.
![image](https://clou

[2016-03-16 20:31] mel111 commented on #1854
stoppp sending this crap !!!!!!!!!!!!!!!!!!!!!

On Wed, Mar 16, 2016 at 2:59 PM, MGS <notifications@github.com> wrote:

[2016-03-16 23:46] swathisham commented on #1632
thank you

[2016-03-17 07:14] #1632 closed, assigned to elssar

[2016-03-17 07:34] jaydp17 commented on #156
+1

[2016-03-17 07:53] abhijitkane commented on #1854
Yes, @Wanaco, we're working on a fix for this and will try to push it out soon.

[2016-03-17 07:55] OscarGarciaPeinado commented on #1514
I have the same problem with the export order... we are awaiting for the new update =)

[2016-03-17 07:56] numaanashraf commented on #1875
@prih Could you let us know your app version? You can find it under _Settings > About_

[2016-03-17 08:00] tonycody opened #1876 "collections folder"
When multiple child folder, can have a better level.
Can support to create a more level folder?
![qq 20160317160019](https://cloud.githubusercontent.com/assets/6773121/13839852/69bc593a-ec59-11e5-8caa-b763932aa1e9.jpg)

[2016-03-17 08:01] a85 commented on #1862
Yep. Understand the issue @fkranenburg. Will get back to you with more details here.

[2016-03-17 08:03] tonycody opened #1877 "chrome plugin auto update"
why can't auto udpate??

always,uninstall. then reinstall.

[2016-03-17 08:12] abhijitkane commented on #1877
@tonycody Chrome's update process is a mystery to us too. To force an update, you can head to chrome://extensions, enable 'Developer Mode', and click 'Update extensions now'.

[2016-03-17 08:15] tonycody commented on #1877
Not updated,I'm tried!

[2016-03-17 09:08] calfzhou commented on #131
+1 for ElasticSearch

[2016-03-17 09:18] mahendranv opened #1878 "Saved response replaces template URL with resolved one"
Say my url is
`{{BASE_URL}}/bookmarks/popular-websites`

After opening the saved response it resolved with the actual URL.
`http://mysite.com/bookmarks/popular-websites`

And my request marked as dirty. Accidentally saving this would make my template variable to be gone.

[2016-03-17 11:11] mirszy opened #1879 "Testing - add library with RSA encryption and Hex encoding"
I'd like to use Postman to test my authorization API. First request returns session id. Second request contains encoded sessionId and password. It would be great to have a possibility to do such encryption in pre-request script (e.g. to have access to library like jsencrypt), and encode it to hex.
Currently it's blocking me from using Postman to do my tests.

[2016-03-17 11:21] fnkr opened #1880 "Middle mouse click on tab should close it"
Just like Chrome does it. This would be very handy.

[2016-03-17 11:23] prih commented on #1875
@numaanashraf
4.0.4
( win / x86-32 )
( Chrome 48.0.2564.116 )

[2016-03-17 11:49] sschizas commented on #1839
How about the < pre>< /pre> issue?

[2016-03-17 12:05] numaanashraf commented on #1839
@n3trino We will be supporting html tags, including `<pre>` in the coming release.

[2016-03-17 12:22] tofra commented on #1786
+1

Going "Manage cookies"
Then select your domain on the left side, click on - button to delete it.
Close the popup
Going back to "Manage cookies"
Then the domain is still there

[2016-03-17 13:28] stloc commented on #1748
not possible to use twitter API because of this regression
because Nonce parameter is refresh every time

[2016-03-17 13:30] abhijitkane commented on #1748
@stloc
https://dev.twitter.com/oauth/overview/authorizing-requests

[code]

The nonce value is supposed to be a randomly generated alphanumeric string that is supposed to change each time you make a request. I'm able to make requests to the Twitter API via Postman. Can you confirm the version of the app you're using?

[2016-03-17 13:32] abhijitkane commented on #1786
@tofra Can you check if the cookie string has a `path`? If the path is something other than `/`, there's a bug which will prevent it from being deleted.

[2016-03-17 14:14] ghost opened #1881 "Issue posting a request with multpartfile"
I'm having an issue after a recent update.
A rest service which has as a parameter an array of multpartfile . When I submit is receiving as a unique file. No changes were made in server side code. And It was working quite well before this update. Help

![request](https://cloud.githubusercontent.com/assets/4961663/13848542/1ad7685a-ec31-11e5-9685-d8f8532427b2.png)
![response](https://cloud.githubus

[2016-03-17 14:17] abhijitkane commented on #1881
@igorchucky Can you check the Network tab in DevTools to verify the exact payload that was sent?
For the Chrome app, http://blog.getpostman.com/2015/06/13/debugging-postman-requests/
For the Mac app - Cmd+Option+I

[2016-03-17 14:33] ghost commented on #1881
@abhijitkane Sure. I've checked. It seems is not getting my array of files just getting a unique file. I've used the same request as shows in images sent . 2 files in request parameter file.  Take a look at the payload . Can you help me ?

![error_payload](https://cloud.githubusercontent.com/assets/4961663/13849229/fd2383b8-ec33-11e5-9898-f1a32fa09ce0.png)

[2016-03-17 14:38] stloc commented on #1748
@abhijitkane

**twitter generated curl call from https://dev.twitter.com/oauth/tools/signature-generator/12102315 (result OK) :**

curl --get 'https://api.twitter.com/1.1/search/tweets.json' --data 'q=%23bretagne&result_type=popular' --header 'Authorization: OAuth oauth_consumer_key="fEgiyvQs5RkKlpWGER7yjtD4X", oauth_nonce="cb368cfe9c4b6eec05d946e8296ead15", oauth_signature="CwAs6r1Q1Jnk2YYnh69UBI

[2016-03-17 15:25] scholary-tim commented on #843
+1

[2016-03-17 16:06] uda commented on #1856
+1 but a changes popup for something so fundamental would be nice...

[2016-03-17 16:06] joshboley opened #1882 "v4.0.5 OAuth 2.0 Input Fields not preserved after closing and re-opening packaged app"
I hate to log another issue, but noticed that after upgrading to 4.0.5, my OAuth 2.0 input fields get deleted if I close and re-open the packaged app.  Here are the fields I'm talking about:

![capture](https://cloud.githubusercontent.com/assets/5840836/13852511/ba3fade2-ec38-11e5-9007-fa8735ed3dff.PNG)

[2016-03-17 16:09] ajsager commented on #1856
@maxihornes I don't have a problem with the documentation.  I just don't know why they changed the functionality.  The Enter key was not re-purposed to some other action.  It now just does nothing.  There may be a very good reason for the change, but I just can't figure out what it was.

[2016-03-17 16:48] ChrissiFi opened #1883 "Requests not saving"
I've successfully saved 8 GET requests to a collection this afternoon but the 9th hasn't saved.  There's no indication on adding to collection that it hasn't saved but it's not showing in the collection.  Have closed the app and re-opened but no change.  Please advise asap.

[2016-03-17 16:49] abhijitkane commented on #1883
Can you check the console at http://blog.getpostman.com/2015/06/13/debugging-postman-requests/ for any errors?
What happens if you open a new tab and try to save that request?

[2016-03-17 16:54] abhijitkane commented on #1881
Got it. We'll be pushing a fix for this in the next release. Thanks for reporting this @igorchucky

[2016-03-17 17:01] ChrissiFi commented on #1883
I've tried new tabs and re-opening the app and creating the request from new.  Not familiar with the developer tools but assume top item is latest. I'm getting:
beforeunload is not available in packaged apps.
window.localStorage is not available in packaged apps. Use chrome.storage.local instead.

[2016-03-17 17:02] ChrissiFi commented on #1883
Cleared logs and tried again - nothing in developer tools this time but still not saving.

[2016-03-17 17:02] abhijitkane commented on #1883
What version of the app are you using? You should be able to find this in Settings (icon in the top-right) > About.

[2016-03-17 17:03] ChrissiFi commented on #1883
3.2.20  Been using it about a week and fine until now.  Haven't tried reboot yet - will be closing down in 10.

[2016-03-17 17:21] danielcooperxyz commented on #1849
I see a similar issue
![postman](https://cloud.githubusercontent.com/assets/5233036/13854683/9b341592-ec64-11e5-8686-50df2034c6fb.png)

[2016-03-17 17:23] ghost commented on #1881
Thanks @abhijitkane

[2016-03-17 17:30] numaanashraf commented on #1849
@d4nc00per @maciej-szlosarczyk Could you let me know your chrome version? This is an existing issue in Chrome on Windows 10. We'll confirm and get back to you once the fix hits Chrome stable/Canary.

[2016-03-17 17:31] numaanashraf commented on #1849
Related thread in Chrome forum - https://productforums.google.com/forum/#!topic/chrome/H_G-xgNSkPs

[2016-03-17 18:07] jaredcnance commented on #1137
+1

[2016-03-17 22:02] troyschneringer commented on #533
What's the status on this?  Are there plan to implement this feature?

[2016-03-18 06:33] CrannaA commented on #1137
It would be great if this were added in such a way that Newman could also use NTLM.

[2016-03-18 08:50] ChrissiFi commented on #1883
This is working this morning.

[2016-03-18 08:50] #1883 closed, assigned to nobody

[2016-03-18 09:19] xasx commented on #1856
Perhaps a requirement from the Chrome framework?

I just remember that the Quit keystroke there is not bound to Ctrl+Q -- probably not only but also because OWA has occupied this binding to mark messages as read -- would be very uncomfortable to close the browser instead.

[2016-03-18 10:01] akabab commented on #739
+10 on the grant type for password

[2016-03-18 10:41] a85 commented on #1731
Glad it's sorted out @Alicia-L. Closing this ticket. Let us know if you need any help.

[2016-03-18 10:41] #1731 closed, assigned to nobody

[2016-03-18 10:45] #1709 closed, assigned to nobody

[2016-03-18 10:45] #1707 closed, assigned to nobody

[2016-03-18 10:45] #1701 closed, assigned to nobody

[2016-03-18 10:45] #1698 closed, assigned to nobody

[2016-03-18 10:46] a85 commented on #1692
@arnzel How do you connect to the MongoDB database? You can do that inside Postman too if the database is available as a REST API.

[2016-03-18 10:47] #1691 closed, assigned to nobody

[2016-03-18 10:51] abhijitkane commented on #1866
@Fr4ncis Can you check what version of Postman you're on? I'm not able to reproduce this.

[2016-03-18 10:59] Fr4ncis commented on #1866
@abhijitkane 4.0.6 try the POST requests, it seems that GET requests work fine. ON postman v3 they all work fine.

[2016-03-18 11:01] abhijitkane commented on #1866
Works even for POST requests (the signature is added to the header if 'Add params to headers' is set).

Can you check for any errors in the console - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/?

[2016-03-18 11:08] tofra commented on #1786
It has a path, with value /v0/api
I also observed something weird:
Open Postman, verify that there is no cookie for api.domain.com.
run a request on api.domain.com
Open Manage Cookies, the cookie is there for api.domain.com (with path=/v0/api)
Close postman, open it again, then the cookie isn't there anymore in manage cookies

[2016-03-18 11:20] Fr4ncis commented on #1866
@abhijitkane  In the devtools console everything is fine as it is not reported as an error, calling POST /user/checkemail on our system just replies with 401
"{
  "error": 3,
  "description": "OAuth details invalid"
}"

it works fine on Postman v3 as stated (right now I have two postmans open, one as mac app v4.0.6 and one as chrome ext v3.x)

I checked on "Add params to header" and parameters are

[2016-03-18 11:22] matthieugeerebaert opened #1884 "Certificate based authentication support"
We have a legacy ws gateway, offering basic or certificate based authentication. We would be pleased to use the runner in that last context, as we do with soap-ui.

[2016-03-18 11:29] Fr4ncis commented on #1866
@abhijitkane screenshots at http://we.tl/o2o75cgwLk

[2016-03-18 11:39] matthieugeerebaert opened #1885 "Generate json raw based on swagger definition"
As soap-ui does for soap ws

[2016-03-18 11:43] matthieugeerebaert opened #1886 "How to generate postman collection through an api ?"
We would like to integrate a postman collection generator, swagger as input parameter, for our service, thus our users can retrieve a nice package, with everything they need to start working on API.

[2016-03-18 12:26] czardoz commented on #1885
@Treabereeg We use this module to convert Swagger to Postman collections: https://github.com/postmanlabs/swagger2-to-postman

For sample usage, see the tests: https://github.com/postmanlabs/swagger2-to-postman/blob/b28db9cf42a95456a658e40046ffa88bd5db4b75/test/converter-spec.js

[2016-03-18 12:28] czardoz commented on #1886
@Treabereeg I've answered your question at #1885

In short, you can use this: https://github.com/postmanlabs/swagger2-to-postman :smile:

[2016-03-18 12:28] #1886 closed, assigned to nobody

[2016-03-18 12:40] a85 commented on #1886
@Treabereeg Also, we'd love to talk to you about how you are using Swagger and Postman together. We are trying to make this integration better. Let us know if you are interested at help@getpostman.com

[2016-03-18 13:01] arnzel commented on #1692
Hi, for soaup ui i use the jdbc driver for mongo.

the rest api enables only selects, i cant insert data

[2016-03-18 13:19] matthieugeerebaert commented on #1886
Great, I should have listed postman project first :)

As we are working on an API Designer ( yes another one ) we want to offer a nice ui integration and a ready to go package to start or speed up realization.

We re just starting with this workflow swagger -> postman, I think we will expose it as "micro service". We worked a lot more by creating collection by hand, using runner and newman ( TM Fo

[2016-03-18 13:50] matthieugeerebaert commented on #1885
I meant body request generation, inside a generated collection :) I imported swagger and the code snippet generator doesn't generate json example value. Swagger ui does.

![capture d ecran 2016-03-18 a 14 05 04](https://cloud.githubusercontent.com/assets/3653040/13879597/95208794-ed18-11e5-8083-ae084a9b7693.png)

[2016-03-18 13:52] a85 commented on #86
We recommend using the copy as curl feature now or the Interceptor. https://twitter.com/adrian_philipp/status/710438593936932864

No other way to do this.

[2016-03-18 13:52] #86 closed

[2016-03-18 13:55] SamvelRaja commented on #1691
@Srajanacharya we released our latest version `4.1.0` can you update and check it?

[2016-03-18 13:55] a85 commented on #720
We don't have a full fledged directory yet but we have introduced a "Run in Postman" button and we are listing down companies who offer public APIs. https://www.getpostman.com/integrations/run-button

If you are interested in being listed there, let us know here!

[2016-03-18 13:55] SamvelRaja commented on #1655
@andytaw This has been fixed in versions 4.1+

[2016-03-18 13:56] SamvelRaja commented on #1882
@joshboley we have released our latest version `4.1.0` which has the fix for it. Kindly can you confirm the same and close the issue?

[2016-03-18 13:56] a85 commented on #731
The recommended way for sharing requests through a link is Postman Collections.

[2016-03-18 13:56] #731 closed

[2016-03-18 13:57] a85 commented on #681
This is available on the Mac app now. Windows/Linux coming soon. www.getpostman.com/apps

[2016-03-18 13:57] #681 closed

[2016-03-18 13:58] SamvelRaja commented on #1871
@followztx The build is out with as `4.1.0` update can you update your chrome app and check the same.

[2016-03-18 13:59] #1712 closed, assigned to nobody

[2016-03-18 13:59] a85 commented on #1674
If you have installation issues, please let us know at help@getpostman.com

[2016-03-18 13:59] #1674 closed, assigned to nobody

[2016-03-18 13:59] a85 commented on #1679
@peletiah Is this still an issue?

[2016-03-18 14:00] SamvelRaja commented on #1868
@emmanuel-umana we have released a our latest `4.1.0` version which has the fix for it. Kindly, can you update and check the same.

[2016-03-18 14:00] #1664 closed, assigned to nobody

[2016-03-18 14:00] #1638 closed, assigned to nobody

[2016-03-18 14:00] #1631 closed, assigned to nobody

[2016-03-18 14:00] a85 commented on #746
This should be fixed in 4.0+

[2016-03-18 14:00] #746 closed

[2016-03-18 14:01] #1578 closed, assigned to aditikul

[2016-03-18 14:01] SamvelRaja commented on #1852
@RonakThakkar and @alvinchandra the fix is live in the version `4.1.0` kindly update the version to check it.

[2016-03-18 14:01] #1519 closed, assigned to nobody

[2016-03-18 14:02] #1502 closed, assigned to nobody

[2016-03-18 14:02] #1472 closed, assigned to nobody

[2016-03-18 14:03] a85 commented on #1411
We have pushed several performance improvements to the app. Is this still happening?

[2016-03-18 14:03] SamvelRaja commented on #1862
@fkranenburg we have added the tooltip which shows the environment name without clipping in out latest `4.1.0` version. can you update and let us know your experience.

[2016-03-18 14:03] a85 commented on #1352
This is available in 4.0+! :D

[2016-03-18 14:04] #1352 closed, assigned to nobody

[2016-03-18 14:04] a85 commented on #948
This should not be happening in 4.0+. Let us know if it does. Will reopen.

[2016-03-18 14:05] #948 closed

[2016-03-18 14:06] #1232 closed, assigned to nobody

[2016-03-18 14:06] #1118 closed, assigned to nobody

[2016-03-18 14:06] #1278 closed, assigned to nobody

[2016-03-18 14:06] #1247 closed, assigned to nobody

[2016-03-18 14:06] #1248 closed, assigned to nobody

[2016-03-18 14:06] #1252 closed, assigned to nobody

[2016-03-18 14:06] #1436 closed, assigned to nobody

[2016-03-18 14:07] a85 commented on #1436
This should be fixed in 4.0+

[2016-03-18 14:07] a85 commented on #1406
This should be fixed in 4.0+

[2016-03-18 14:07] #1406 closed, assigned to numaanashraf

[2016-03-18 14:07] a85 commented on #1424
This should be fixed in 4.0+

[2016-03-18 14:07] #1424 closed, assigned to nobody

[2016-03-18 14:07] a85 commented on #1423
This should be fixed in 4.0+

[2016-03-18 14:07] #1423 closed, assigned to numaanashraf

[2016-03-18 14:08] a85 commented on #1715
This should be fixed in 4.0+

[2016-03-18 14:08] #1715 closed, assigned to nobody

[2016-03-18 14:08] a85 commented on #1750
This should be fixed in 4.0+

[2016-03-18 14:08] #1750 closed, assigned to nobody

[2016-03-18 14:08] SamvelRaja commented on #1839
@n3trino the latest update `4.1.0` will support the HTML tag now.

[2016-03-18 14:14] a85 commented on #1863
It's back!

[2016-03-18 14:16] SamvelRaja commented on #1804
@rlinyard @pella07 @dustinfineout @aeagal It had been released with the latest version `4.1.0`

[2016-03-18 14:21] SamvelRaja commented on #1777
This had been fixed in the latest release. Can you update the app?  Latest version: `4.1.0`

[2016-03-18 14:59] scholary-tim commented on #1872
Seems to be fixed in 4.1.0.

[2016-03-18 14:59] #1872 closed, assigned to nobody

[2016-03-18 14:59] emmanuel-umana commented on #1868
@SamvelRaja Exc! thanks!  I just checked and I found its updated to that version, will check and will let you know. Thanks!

[2016-03-18 15:01] daecabhir commented on #1884
:+1: I would like to add a few details to my experience with client certificate authentication:
- If I connect to a web service that requires two-way SSL authentication using Postman (2.0 or 3.0) first, I will get a "Could not get any response" error, and no prompt for an SSL certificate
- If I connect to the same web service from a plain Chrome tab first, I will get prompted for the certificate,

[2016-03-18 15:08] qwo commented on #1777
Looks like it was fixed in 4.0.11. Thanks

[2016-03-18 15:08] #1777 closed, assigned to nobody

[2016-03-18 15:11] scholary-tim commented on #1881
+1 thanks

[2016-03-18 15:38] peletiah commented on #1679
Thanks for inquring! I have not used postman as heavily since. I'll reopen if I stumble over it again!

[2016-03-18 15:38] #1679 closed, assigned to nobody

[2016-03-18 16:21] abeckerman commented on #1411
Yes, I've noticed the significant improvements in the latest version. Nice work! It's way better than waiting many minutes to get going, but after the first few seconds of responsiveness in the app, there's still a ~15s delay in usability before it frees up again.

See this video, which hopefully helps illustrate the experience: http://screencast.com/t/Q4EktLqBddiq

[2016-03-18 16:23] dabfleming opened #1887 "Request with unresolvable domain hangs on "Loading...""
I'm using the Chrome App, v4.1.0, on Chrome 48 on OSX.

Attempting to request URL `{{var-name}}/foo` when `var-name` is not set in the environment generates a net::ERR_NAME_NOT_RESOLVED error and the interface hangs on "Loading..." with no indication of what has happened.

I recall that in a recent previous version an error message was displayed that made it easy to realize the variable was not be

[2016-03-18 16:27] definesfineout commented on #1804
@numaanashraf @SamvelRaja Thank you!!

[2016-03-18 17:08] rlinyard commented on #1804
Great - it works!

[2016-03-18 17:28] #1804 closed, assigned to numaanashraf

[2016-03-18 18:13] weswesley commented on #1712
Can confirm it works on v 4.1

[2016-03-18 18:31] vasujain commented on #720
@a85 One of our team is working on it. Will contact you once we are done with the integration. :)

[2016-03-18 18:32] gregory-chapman commented on #650
The spec says also:

[code]

According to @a85 the implementation of OAuth2 in Postman was to suit big company implementations: https://github.com/postmanlabs/postman-app-support/issues/1614#issuecomment-165597128

I'm not sure why they went off spec but it is prevalent in the web:
http://oauthbible.com/#oauth-2-three-legged
https://aaronparecki.com/2012/07/29/2/oauth2-simplified

It would be nice

[2016-03-18 18:42] a85 commented on #1857
This is implemented properly in the Mac app. We can't control the Ctrl+W shortcut on Chrome until the underlying platform gives us access.

[2016-03-18 18:42] #1857 closed, assigned to nobody

[2016-03-18 18:43] a85 commented on #1705
The button generation code is now available in the "share" modal. :)

[2016-03-18 18:43] #1705 closed, assigned to aditikul

[2016-03-18 18:45] a85 commented on #1504
SSL certificate settings can now be overridden in the Mac app. Windows/Linux apps coming soon.

[2016-03-18 18:45] #1504 closed, assigned to nobody

[2016-03-18 18:45] a85 commented on #1353
@stevemcmillen What do you feel about the new shortcuts in 4.0+?

[2016-03-18 18:46] a85 commented on #1305
We have a new re-designed dark theme for 4.0+. Let me know what you think!

[2016-03-18 18:47] #1176 closed, assigned to nobody

[2016-03-18 18:47] a85 commented on #1176
Closing. This is part of a bigger project now to have custom renderers

[2016-03-18 19:09] coolidm opened #1888 "Collection Runner Interface goes crazy"
When running a collection it appears that after each result is appended to the results pane, the pane gets wider. With larger collections it becomes so wide its no longer reasonable to scroll.

See the scroll bar at the bottom
![image](https://cloud.githubusercontent.com/assets/16841160/13889144/5c3f5592-ed1b-11e5-890a-466e0cd4f0ff.png)

Version:
4.0.5
( win / x86-32 )
( Chrome 49.0.2623.87 )

[2016-03-18 20:49] bijeebuss commented on #1180
+1

[2016-03-18 21:10] spark85 commented on #1444
has this feature been implement in v 4.0.5 for mac?

[2016-03-18 21:14] spark85 commented on #843
I wasn't able to convert my swagger file using https://github.com/lucybot/api-spec-converter, and I can't import the swagger 2 YAML or RAML file into postman.  If this feature is not supported in the current release it should be clear in your documentation.

[2016-03-18 21:17] a85 commented on #843
@spark85 It's unfortunately not possible to implement every variation of every spec format into Postman and keep them up to date. We are working with members of the community in making it happen.

[2016-03-18 22:13] mstaalesen commented on #1715
Confirmed!

[2016-03-18 22:57] mstaalesen opened #1889 "Feature request: Make it possible to select existing Collection/Folder with arrowkeys when saving a request"
As of 4.1.0 it is not possible to use the arrow keys to select the existing Collection or folder that I want to save the request too. Adding this feature would increase my productivity.

![animation](https://cloud.githubusercontent.com/assets/14194793/13894108/d6b026d2-ed64-11e5-804b-fd1563ca652f.gif)

Also, after selecting the Folder (or Collection), the dropdown menu does not disappear. (I have

[2016-03-18 23:31] kinlane commented on #843
To keep ahead of spec curve, consider - https://apitransformer.com/

[2016-03-18 23:59] emmanuel-umana commented on #1868
Exc!!!! thank you!!! just in time for one important relase! we really need that one! :-)

[2016-03-19 03:26] askpatrickw commented on #1574
awesome job!

[2016-03-19 03:26] #1574 closed, assigned to numaanashraf

[2016-03-19 05:01] stevemcmillen commented on #1353
Esc and Cmd-Enter work in some dialogs but not in all cases.  Sometimes
they only work when you get into the dialog like the env dialog but not
once you've gone into one of the environments, and change and pressed
control-Enter.

I think its cleaner for users to use things like Cmd-E for environment
instead of sequence of keys (though I was fine with the sequence).  I often
had to explain to users

[2016-03-19 05:02] stevemcmillen commented on #1352
Thanks!  Its nice.    Better if I can dismiss the dialog with escape key :)

On Fri, Mar 18, 2016 at 7:04 AM, Abhinav Asthana notifications@github.com
wrote:

##

-- Steve

[2016-03-19 06:16] a85 commented on #843
@kinlane Thanks for linking API Transformer! The spec curve is pretty steep right now! :)

[2016-03-19 08:00] abhijitkane commented on #1881
@igorchucky Can you confirm this working in 4.1.0?

[2016-03-19 08:27] maciej-szlosarczyk commented on #1849
@numaanashraf: 49.0, the same as in the Chrome issue you pointed out. Thank you for your response.

[2016-03-19 09:12] mstaalesen commented on #1785
Adding gif for a small explanation about what I meant:
![animation2](https://cloud.githubusercontent.com/assets/14194793/13897700/0442ccfc-edbb-11e5-899b-a993e922cdf0.gif)

[2016-03-19 12:15] igorchucky commented on #1881
I can confirm this on 21th march, next monday, ok ? As soon as I try this again and reply here for you

[2016-03-19 12:52] czardoz commented on #1885
Well, I completely misunderstood you there! Marking this as a feature request.

[2016-03-19 17:31] chluther opened #1890 "response with HTML content being lost"
In recent update (Chrome 4.1.0) all HTML encoded in the response from our API endpoint is being pruned.  This did not happen in an earlier release.

Sending the request via CURL the result returns (edited for clarity)

[code]

The result displayed by the same API call via the Postman Client.  Note that the **mails.newVerification.htmlBody** element is missing.

![p](https://www.evernote.com/shard/

[2016-03-19 17:43] abhijitkane commented on #1890
@chluther Can you include the response headers (The Headers link next to Body and Cookie)? Is the response shown correctly in the pretty view?

Also, the DevTools window (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) might be useful here. The Network tab will show you the response payload that Postman received. Is that part correct?
If so, you can check for any errors in the D

[2016-03-19 18:35] chluther commented on #1890
@abhijitkane - Thank you for the quick response.  The response was displaying similarly in the pretty view.  I followed your diagnosis recommendations and for whatever reason the response started coming back correctly.  I don't know what if anything I changed.  It is hard to know if the issue was with the API or the client. But it worked from CLI, and since there had been a recent upgrade in the c

[2016-03-19 18:35] #1890 closed, assigned to nobody

[2016-03-20 01:11] xxldoctor commented on #1815
+1

[2016-03-20 01:12] xxldoctor commented on #1816
+1

[2016-03-20 08:43] glennschmidt commented on #1719
I thought I must be the only one having this problem. It's been driving me nuts since early versions of Postman.
I'm also using the Mac desktop version, maybe it is specific to that version.

[2016-03-20 09:22] powersu commented on #1881
Before the 4.1.2 release, I had same issue.
I can confirm it's fixed now.

[2016-03-20 11:22] deardooley commented on #533
+1

[2016-03-20 12:26] ghost commented on #1881
Thanks @powersu . I was really having some troubles with this bug. I thought it could be an error in my server side code, but it was not . Great!

[2016-03-20 12:34] fkranenburg commented on #1862
Yes, many thanks it works great now. Thank you for the fast fix!

[2016-03-20 12:34] #1862 closed, assigned to aditikul

[2016-03-20 15:33] tuantmdev opened #1891 "Oauth 2.0 could not complete login with error "Can't open same-window link...""
I got this message (in Console of Developer Tool) when request oauth 2.0 token. Any idea to fix this?

I'm using Postman 4.1.2. This is what i'm sending to get token.

[code]

[2016-03-21 06:00] aquitania99 opened #1892 "Interceptor crashes constantly"
Hi guys!

First of all let me say that I love this tool it's awesome!
However since the last update I've been having many dramas with interceptor.
Everytime I activate it to run a request to one of the endpoints that need authentication, interceptor crashes and freezes the whole postman. I've tried reinstalling Chrome, Postman, Interceptor and even installed the Postman app for mac, but no luck so

[2016-03-21 08:10] numaanashraf commented on #1891
@tuantmdev Could you let us know your Chrome and Postman app versions and also include a screenshot of the console error, if possible?

[2016-03-21 08:13] SamvelRaja commented on #1888
@coolidm  we had fixed this in our latest release can you update the app and check the same?

[2016-03-21 08:19] #1881 closed, assigned to abhijitkane

[2016-03-21 08:21] #1868 closed, assigned to nobody

[2016-03-21 08:22] abhijitkane commented on #1867
@Winawer This has been fixed in the latest version - 4.1.2.

[2016-03-21 08:22] #1867 closed, assigned to nobody

[2016-03-21 08:23] #1833 closed, assigned to nobody

[2016-03-21 08:23] abhijitkane commented on #1838
@hartono-sulaiman-kaskus
Can you check if this has been fixed in the latest version of the app - 4.1.2?

[2016-03-21 08:23] #1847 closed, assigned to nobody

[2016-03-21 08:26] abhijitkane commented on #1834
@elpoisterio I'm not able to reproduce this. Can you check with the latest version of the app - 4.1.2?

[2016-03-21 08:29] abhijitkane commented on #1823
@wkuckro We've also added a no-cache header on our API - so your firewall/proxy shouldn't be caching it anymore.

[2016-03-21 08:29] #1823 closed, assigned to nobody

[2016-03-21 08:29] #1819 closed, assigned to nobody

[2016-03-21 08:30] abhijitkane commented on #1821
@willrichboa Can you confirm this fixed in the latest version - 4.1.2?

[2016-03-21 08:33] abhijitkane commented on #1791
@roeschjohannes Can you confirm this fixed in the latest versions of the app?

[2016-03-21 08:40] scholary-tim commented on #1881
Hi @abhijitkane - when is 4.2.0 likely to be released? Many thanks for the fast turnaround on this one.

[2016-03-21 08:58] abhijitkane commented on #1887
@dabfleming Thanks for reporting this. Seems to be an issue with the Interceptor. We'll push a fix for this soon.

[2016-03-21 09:07] turchinc opened #1893 "Regression: Ability to URL encode parameters (#158)"
Since apparently I cannot re-open issues, I am creating a new one.

Ability to encode URL Parameters was created with #158

Now this option is missing.

The funny thing is the code generated e.g. for node.js is correct:

[code]

[2016-03-21 09:26] elpoisterio commented on #1834
the latest version doesn't shows you the recent history. One has to scroll down and then scroll up see the latest history.

[2016-03-21 11:32] praveenps071 opened #1894 "OAuth 1.0 secret key variables are not reflected/saved after closing and opening the request in v4.1.2"
I have parametrized the secret key variable in "manage environment" section and same parameter name is used while sending API request, but after closing and opening the request i'm not able to see the parameter name under the request. this is causing me to enter the variable name for each and every request. This is becoming tedious job. Please address this issue ASAP

Note: After entering the para

[2016-03-21 11:41] numaanashraf commented on #1893
@turchinc We are working on this and the option to encode URI via context menus will be added in the coming releases.

[2016-03-21 12:28] paulsperanza commented on #1821
Yes

Paul Speranza

[2016-03-21 12:30] #1821 closed, assigned to nobody

[2016-03-21 12:43] Ekusu1 commented on #19
Importing globals would be great, but for now you could use some regex, as a workaround, to create the "bulk"-format which you can then paste in the bulk edit mode
1. remove every line that's not necessary:
   `^[\t\[\]\{\},\n]*("(type|enabled)": .*\n)?`  ->  ` ` (nothing)
2. get the key-value-pairs:
   `"key": "(.*)",\n"value": "(.*)",\n`  ->  `$1: $2\n`

Those would convert

[code]

to

[code]

[2016-03-21 13:00] Ekusu1 commented on #1859
I just wrote a comment on an other issue with a workaround which you could use
Here is the link: https://github.com/postmanlabs/postman-app-support/issues/19#issuecomment-199256066

Should have checked the issues before posting it there... ^^

[2016-03-21 13:51] willrichboa commented on #1821
@abhijitkane It is not saving the "Service Name" value

4.1.2
win / x86-32
Chrome 49.0.2623.87

[2016-03-21 14:02] alahosky commented on #1501
Certainly when POST'ing using Collections, the main (only?) thing you're generally changing is the Body of the post. Config stuff like Authorization, Headers, etc. almost never change for me.

So definitely agree that Body should be the default tab!

[2016-03-21 14:17] billpaetzke opened #1895 "Critical blocker: body text area does not respond correctly to text input/delete"
The ability to write anything or delete anything in the body text area is unpredictable. If the cursor is in one place, the inserted or deleted text character will be somewhere else random. It only applies to body text area. The url text box works fine. My only workaround is to edit my json body in another text editor and copy paste into postman. See before and after image of me trying to delete t

[2016-03-21 14:32] numaanashraf commented on #1895
@billpaetzke That's odd. Does it occur every time you try to edit the raw body?

[2016-03-21 14:39] numaanashraf commented on #1895
@billpaetzke We are unable to replicate this on Postman 4.1.2/Chrome 48/Win 8.1. Would it be possible to check the console and send us a screenshot of any errors there? Steps to access console are detailed [here](http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/).

[2016-03-21 14:47] billpaetzke commented on #1895
Yes happens every time. I'll check the console...

[2016-03-21 14:55] billpaetzke commented on #1895
Errors happen upon load of Postman. No errors happen while I insert/delete text in the body text area.

3x: extensions::platformApp:17 window.localStorage is not available in packaged apps. Use chrome.storage.local instead.(anonymous function) @ extensions::platformApp:17
1x: extensions::platformApp:17 beforeunload is not available in packaged apps.

![postman-console-errors](https://cloud.githubu

[2016-03-21 15:07] numaanashraf commented on #1895
Thanks @billpaetzke. Those startup warnings are expected. Could you let us know your Chrome version also?

[2016-03-21 15:14] billpaetzke commented on #1895
4.1.2
win / x86-32
Chrome 49.0.2623.87

What do you advise? I would like to continue using Postman but not sure what else I can do here.

[2016-03-21 15:16] a85 commented on #1895
Can you share a screen recording? @billpaetzke

[2016-03-21 15:18] billpaetzke commented on #1895
Ok so you want me to record and post a few seconds of the failure to insert and delete characters correctly, is that right?

[2016-03-21 15:18] a85 commented on #1895
Yes. That'll help a lot.

[2016-03-21 15:25] billpaetzke commented on #1895
Is there a free screen recorder that you recommend for Chrome or Windows?

[2016-03-21 15:52] billpaetzke commented on #1895
https://www.dropbox.com/s/ccllljo19qys1vs/Untitled%20Screencast.webm?dl=0

I write a line of text and try to delete a word in the middle of the line. I try to insert text at the end of the line. Notice that cursor position quickly moves ahead of where it should be and it totally off.

Here's a pic of the end:
![postman-screenshot-end](https://cloud.githubusercontent.com/assets/1972564/13924715/919

[2016-03-21 15:57] numaanashraf commented on #1895
@billpaetzke Thanks for the screen capture. Is the same issue happening in the Pre-request Script or Tests editor also?

[2016-03-21 15:59] billpaetzke commented on #1895
Yes

[2016-03-21 16:07] numaanashraf commented on #1895
@billpaetzke Alright, we have a hunch on whats happening now. Could you run the following script inside the console and let us know what it prints? Almost there! :)

[code]

[2016-03-21 16:08] billpaetzke commented on #1895
window.getComputedStyle(document.getElementsByClassName('ace_editor')[0])['font-family']
"Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace"

[2016-03-21 16:13] billpaetzke commented on #1895
Seems like I don't have any of those fonts on my machine. Just checked in Microsoft Outlook while composing an email.

[2016-03-21 16:15] abhijitkane commented on #1895
@billpaetzke Can you try installing Monaco and Menlo? You'll probably need to restart the app and/or Chrome after installing:
https://github.com/hbin/top-programming-fonts/raw/master/Menlo-Regular.ttf
https://github.com/todylu/monaco.ttf/raw/master/monaco.ttf

[2016-03-21 16:20] billpaetzke commented on #1895
Ok, guys, we have a winner! It works now after installing Menlo.

So the problem was that my machine did not have your list of expected fonts. Solution: install one of the expected fonts.

I'm assuming that Consolas was your Windows font? I see that people are having issues with that font in Windows 8.1. (That would include me). But I never would have guessed this in a million years. Perhaps inclu

[2016-03-21 16:22] abhijitkane commented on #1895
Right..now that we've isolated the issue, we'll probably end up bundling one of these fonts with the app itself. The component we're using for the text editor only supports monospace fonts.
Thanks for reporting this.

[2016-03-21 16:22] #1895 closed, assigned to nobody

[2016-03-21 16:28] thirtified opened #1896 "No interpolation in cURL code for x-www-form-urlencoded parameters?"
Seems that variables don't get expanded when creating cURL code from a x-www-form-urlencoded form. Here is an example of the generated output:

[code]

Tested on a Mac with v4.1.0 (native) and v4.1.2 (Chrome).

[2016-03-21 16:30] damienleroux commented on #697
+1

[2016-03-21 16:33] abhijitkane commented on #1896
@thirtified Thanks for reporting this. We've fixed this in our internal build, and will push the fix in the next release.

[2016-03-21 18:17] Pavel910 opened #1897 "Re-import collection"
This is a feature request. Would be great to have a `re-import` action on collections that were imported from URL. We have an automated API documentation for Postman and it is always located on the same URL,  and as we develop our platform the API docs change, and simply clicking re-import would save a lot of clicking and typing.

If not that, at least have Postman remember the last URL that was u

[2016-03-21 20:05] Schweigi opened #1898 "OAuth 1 params missing in "Generate code""
When using the "Generate code" feature of v4.1 the OAuth 1 parameters are only copied to the "HTTP" snippet but not to all other snippets (e.g. "cCurl").

Steps:
1. Add "Authorization" => "OAuth 1.0" parameters
2. Go to "Body" => "x-www-form-urlencoded" (the OAuth params should be visible)
3. Click "Generate Code"

Expected:
If e.g. the cCurl snippet is selected then the OAuth1 parameters should b

[2016-03-21 20:06] thomasruns commented on #1808
+1 No idea why this would have been removed

[2016-03-21 20:10] abhijitkane commented on #1898
@Schweigi Can you attach a screenshot of this? Unless the OAuth1 signature has been added to the URL/headers/body, it should not show up in the snippet.

[2016-03-21 20:31] thirtified opened #1899 "Enhancement Request: make Generate Code Snippet Type Selection Sticky"
Would be great if Postman could remember the selected type/language on the Generate Code dialog. As of now (tested on Mac v4.1.0 native and v4.1.2 Chrome) the Generate Code Snippet dialog always starts with showing "HTTP", regardless of what has been selected before. Since I am pretty much always look for the cURL code, I always have to change the selection after opening the dialog.

As an alterna

[2016-03-21 20:57] joshboley opened #1900 "4.1.2 - OAuth2 Call Back Url is blank?"
I opened Postman this morning and my OAuth 2 callback url is blank.  It seems to say that I can set it from the app settings page, but I can't find it anywhere.  Any advice?   Thanks.

![capture](https://cloud.githubusercontent.com/assets/5840836/13933959/04dc8672-ef86-11e5-8c3c-973b7ff17be9.PNG)

[2016-03-21 20:59] joshboley commented on #1882
Yes, this seems to be working now.  However, I am having another issue that I logged here #1900

[2016-03-21 21:17] jeremymills commented on #1843
~~getting this in v4.1.0, what is the status of the release ?~~ resolved in v4.1.2

[2016-03-21 21:53] Schweigi commented on #1898
@abhijitkane

The OAuth1 signature appears in the body. I attached you some screenshots:

Authorization:
![authenticate](https://cloud.githubusercontent.com/assets/1357884/13935315/0419b7ee-ef74-11e5-9b2a-87e40095fd3d.png)

Request Body - Fields got automatically added when clicking "Update Request" in Authorization screen:
![request body](https://cloud.githubusercontent.com/assets/1357884/1393532

[2016-03-21 22:10] NRaf opened #1901 "Make return/enter close tab with unsaved data"
When closing a tab with unsaved data I get a confirm dialog. Pressing enter to accept the dialog does nothing, instead I have to use the mouse. When closing multiple tabs in quick succession this gets a bit tedious.

[2016-03-22 03:00] GabbyChangSH commented on #1445
@abhijitkane  where to check console.log result? I ran it in the postman and newman, but cannot find the output of console.log. Could you point out? Thank you.

[2016-03-22 03:29] tuantmdev commented on #1891
I'm using Chrome version 49.0.2623.87 (64-bit) on Mac OSX 10.11.3, Postman version 4.1.2. I can not reproduce this bug today but it's still error

![Imgur](http://i.imgur.com/fXHC2hU.png)

[2016-03-22 04:43] a85 commented on #1900
That's weird. Probably a font issue. You should see this: https://www.dropbox.com/s/ez9b1kvl6lz684m/Screenshot%202016-03-22%2010.13.42.png?dl=0

[2016-03-22 09:19] abhijitkane commented on #1898
@Schweigi Got it. We'll be fixing this in the next release.

[2016-03-22 09:21] abhijitkane commented on #1445
@DaisySu For newman, it'll be printed in the command line. For Postman, check DevTools - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

[2016-03-22 09:32] abhijitkane commented on #1900
@joshboley Can you also check the console for any errors - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/ ?

[2016-03-22 10:08] mstaalesen commented on #1901
+1

[2016-03-22 10:08] mstaalesen commented on #1899
+1

[2016-03-22 10:42] Shimmi opened #1902 "Add "Quick edit" button for currently selected environment"
Hi there,
First of all, great work on Postman! Thanks!

I would really appreciate a button next to "View current environment" (The one that shows current environment variables) allowing to edit the current environment.

**Little background**
As I have approx 20 different environments setted-up and as I need to update them somehow often (eg changing variables like User ID) It is starting to be unco

[2016-03-22 11:00] owentin opened #1903 "pre-request Same key in request.data"
Hi, I followed a post from [stackoverflow](http://stackoverflow.com/questions/12756688/is-it-possible-to-send-an-array-with-the-postman-chrome-extension?answertab=votes#tab-top) to send an array data, and I need to get the data from request.data in pre-request.
But I always get last value with request.data['my_array[]'], how can I get all array data?
Thanks

[2016-03-22 11:14] abhijitkane commented on #1903
@owentin This is currently a limitation of the app - `request.data` is a JS object, and cannot have more than one value for a property. We're working on changing this so that `request.data['my_array[]']` returns an array.

[2016-03-22 11:15] owentin commented on #1903
Got it and thanks for quick response.

[2016-03-22 11:27] SamvelRaja commented on #1900
@joshboley We had found a RC for this, fix will be out in the next version.

[2016-03-22 11:43] coolidm commented on #1888
I just checked and it is better but still not resolved. It seems to be impacted by long URL strings.

[2016-03-22 11:47] SamvelRaja commented on #1888
@coolidm it seems it is working fine in our end. Can you give us a sample Screen shot with the URL?

[2016-03-22 12:01] chadcampbell opened #1904 "Resizable Request Body Space"
Hello,

I have a feature request. When POSTing a request, I often use the "raw" option to fill out the body. By default, I can make it grow. However, I can't make it shrink. I think it would be useful to be able to have more control over the height of the body area. This would enable developers to see more of the response on a screen.

[2016-03-22 12:05] coolidm commented on #1888
![postman2](https://cloud.githubusercontent.com/assets/16841160/13950976/80bf7eba-f004-11e5-973d-d5d65cbee606.PNG)
![postman](https://cloud.githubusercontent.com/assets/16841160/13950975/80bd46f4-f004-11e5-8957-25b018c4c71a.PNG)

I can't share the full URL, but the length is around 2,700 characters (I know that's huge). See the screenshots, specifically the scroll bar at the bottom.

[2016-03-22 12:23] SamvelRaja commented on #1888
@coolidm Thanks for the SS, it helps alot. You will get the fix in the next version.

[2016-03-22 12:48] tredston opened #1905 "4.1.2 - Send and Download creates empty/invalid files"
Hi,

We've encountered a couple of bugs in the new versions of Postman. These previously worked in 3.2.20 but are not working in 4.0.1 and 4.1.2.

**Bug 1:** When trying to retrieve a zip first time with "Send and Download" the result is 0 bytes.

Steps to reproduce:
0. Open a new tab
1. GET https://github.com/postmanlabs/postman-app-support/archive/support.zip
2. "Send and Download"
3. Save the f

[2016-03-22 13:00] rauar opened #1906 "RAML 1.0 support"
RAML Version 1.0 (RC) has been released a couple of days ago.

[2016-03-22 13:12] joshboley commented on #1900
If you found a fix, awesome! To answer the other questions...I don't think it would be a font issue because the network tab in dev tools never shows a request being sent.  Also, here's a screenshot of the errors.  They happen when I first open Postman though and seem to be unrelated.  Thanks guys!

![capture](https://cloud.githubusercontent.com/assets/5840836/13952706/314b1e8e-f00e-11e5-8762-ac40c

[2016-03-22 13:58] realshadow commented on #882
+1

[2016-03-22 14:42] xasx opened #1907 "Detect vendor-specific Content-Type (XML)"
### Steps to reproduce

I want to POST a request
- containing XML satisfying a certain schema
- `Content-Type` is set to some `application/vnd.whatever.namespace.i.choose+xml`

In the _Body_-Tab, using _raw_ content, I have something like

[code]
### Observed

I see red crosses, indicating errors by telling me for the first line

And for the second line of XML:

### Expected

The error messages sh

[2016-03-22 15:22] synotna opened #1908 "form-data files with spaces in filenames are left out of requests"
form-data files with spaces in filenames are left out of requests

![chrome_2016-03-22_16-21-41](https://cloud.githubusercontent.com/assets/3313126/13956770/401e7438-f04a-11e5-93cf-ba21624a4328.png)

The same request without spaces in the filename works

[2016-03-22 15:26] abhijitkane commented on #1908
@synotna What version of Postman are you on? I'm not able to reproduce this. Can you try changing the URL to https://echo.getpostman.com/post?
<img width="697" alt="screen shot 2016-03-22 at 20 54 58" src="https://cloud.githubusercontent.com/assets/681190/13956890/78a22194-f070-11e5-9780-f4c003f8e4e1.png">

[2016-03-22 15:44] synotna commented on #1908
Strange, I can confirm the same behaviour on https://echo.getpostman.com/post

I also tested the behaviour with another client (Advanced REST client) on both https://echo.getpostman.com/post & the other API: it has identical behaviour on https://echo.getpostman.com/post & it works fine on the other API (I tested before opening this ticket, is why I believed the bug lay in postman)

Now we are not

[2016-03-22 16:39] ChrissiFi opened #1909 "Postman v4.1.2 stuck at "Sending""
At approx 15:45 GMT Postman stopped working.  I'm running a series of tests against an OData API that have worked fine throughout the day but from this point they get as far as "being initialised" in the Runner and "Loading..." in the Builder but then hang.  I've restarted Postman, rebooted my laptop but still nothing's happening.  Urgent assistance is needed as I have a tight deadline.

Postman u

[2016-03-22 16:46] BrakTalk commented on #1229
I second this.  We have multiple environments as code gets promoted towards a release.  Not being able to tell which environment was accessed is a rather profound issue for us.

[2016-03-22 16:51] BrakTalk opened #1910 "Extraneous newlines in formatting of XML response"
Not sure if this is a config issue on my end but the formatting of the XML responses requires an unnecessary/extra step in our workflows.

![image](https://cloud.githubusercontent.com/assets/646062/13959976/b8a532c0-f02c-11e5-82cb-dd8cf1287aa7.png)

[2016-03-22 17:01] SamvelRaja commented on #1900
@joshboley yes it is a different issue.

[2016-03-22 17:09] ChrissiFi commented on #1909
Working again now.

[2016-03-22 17:09] #1909 closed, assigned to nobody

[2016-03-22 17:33] ghost opened #1911 "Changing Toggle sidebar OS X shortcut"
Current Toggle Sidebar OS X shortcut is `Cmd + \`, which is used by default by OS X to show notification center. It would be better to have it on other shortcut, for instance `Cmd + [` - just removing `Shift` from switch to previous tab shortcut seems convenient.

[2016-03-22 17:38] ghost opened #1912 "Re-adding active variables shortcut"
In pre-4 Postman versions there was `q` shortcut, which toggled popup with currently active variables, right now accessible by eye icon button right next to environment selection drop down menu. I edit variable values dynamically via tests and it would be great help to be able to check current variables values with shortcut.

[2016-03-22 17:42] ghost opened #1913 "Open Settings shortcut not working in some places"
Environment: 4.1.0, OS X 15.3.0 / x64

Open Settings `Cmd + ,` shortcut is not working in some places, like for instance when response Pretty edit text field is focused, or when request raw body edit text is focused.

[2016-03-22 17:45] gregholland commented on #1374
Not sure if this is related, but I had an issue where my session cookie was frequently but randomly going missing, as soon as I uninstalled the interceptor the problem stopped.

[2016-03-22 17:48] rayfaddis commented on #1843
I still experience this with version 4.1.2

[2016-03-22 17:49] ghost opened #1914 "Esc not closing popup if environment was updated"
Environment: 4.1.0, OS X 15.3.0 / x64

Steps to reproduce:
1. Open Manage Environments popup with `Cmd + e`.
2. Select Environment. (Result: Environment variable - value pairs popup is is opened.)
3. Press `Update` button OR use `Cmd + Return` to save changes. (Result: Going back to Manage Environments popup.)
4. Press `Esc` to close Manage Environment popup. (Result: Nothing happens.)

This only

[2016-03-22 17:52] abhijitkane commented on #1909
@ChrissiFi Great! If you see this again, can you check http://blog.getpostman.com/2015/06/13/debugging-postman-requests/ for any errors?

[2016-03-22 17:58] abhijitkane commented on #1910
@BrakTalk Didn't realise this was the same issue as the twitter thread. In the Mac app, you can open the console with Cmd+Option+I.

Also, can you paste the raw response (from the raw tab) here? Probably an issue with our XML formatter.

[2016-03-22 18:00] abhijitkane commented on #1843
@rayfaddis Is this from the HTTP Preview? The code generation module doesn't handle filenames right now. Can you try posting a file to POST http://echo.getpostman.com/post? The response should contain the filename.

[2016-03-22 18:01] BrakTalk commented on #1910
This is Win32.  Due to sensitive nature of data, I am unable to post the response.  Is there a public test API you would suggest and see if it's reproducible there?

[2016-03-22 18:05] abhijitkane commented on #1908
In Advanced Rest Client, you should be able to right click and open DevTools (Inspect element).
In Postman, http://blog.getpostman.com/2015/06/13/debugging-postman-requests/

Can you compare the 2 requests (Network tab), and see if there's any difference there?

[2016-03-22 18:11] ghost commented on #1902
I think it would be great to have shortcut for it too.

[2016-03-22 18:20] numaanashraf commented on #1914
@danielpigan Thanks for reporting this. We will fix this in the coming releases.

[2016-03-22 18:24] abhijitkane commented on #1905
@tredston Got it. We've fixed this, and will push the fix out in the next release. Thanks for reporting this.

[2016-03-22 18:48] sujalw opened #1915 "How to extract value from a String"
str = "http://abc.com/foo/bar/12345/blah"

how to extract 12345 from the above string. url format in the string is fixed

[2016-03-22 18:55] rayfaddis commented on #1843
@abhijitkane yes I was looking at the preview via Generate Code. Though the file still isn't actually being submitted for me which is why I'm noticing this at all.

I submitted a POST to http://echo.getpostman.com/post as well and no file in the response.

**Response:**

**Form-Data**
![postman](https://cloud.githubusercontent.com/assets/1969780/13963864/9ba1c330-f03d-11e5-9592-b5fc4dab92b7.png)

[2016-03-22 19:02] dangerman commented on #1905
@abhijitkane Glad to hear it's fixed :+1:

I noticed that it isn't specific to zip files (in 4.1.2 I've reproduced Bug 2 with .xlsx files), so perhaps we should update the issue title?

[2016-03-22 19:44] ankitj commented on #1257
+1

[2016-03-22 19:47] ageorge2 commented on #1809
We are also having the same problem with Win7, Postman 4.1.2.  The collection runner doesn't run in the order that we set.  If it fails the run and you try to do re-run it starts in weird places so have to keep opening and closing the collection runner.  We noticed the bug happens the moment it runs into a failed test.

[2016-03-22 20:00] karjoh2525 commented on #1909
I am having the same issue.  Did it just START working for you?

[2016-03-22 21:17] abhijitkane commented on #1909
@karjoh2525 Is the Interceptor on? Do you see any errors in the console - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/ ?

[2016-03-22 21:19] abhijitkane commented on #1809
@czardoz How does Newman order the requests in a collection with folders?
@ageorge2 Does this happen with a failed test (test result = false), or an error in the test script (referencing an invalid variable, for example)?

[2016-03-22 21:26] srbangre opened #1916 "what's wrong with my global env file?"
Hi,
I created global env file, downloaded it as json and shared it with my teammate.
he is unable to download it. postman throws some error. But when i try to download it, i get no errors.
Can you please check whats wrong with my env file attached here?
[globals.postman_globals.txt](https://github.com/postmanlabs/postman-app-support/files/185024/globals.postman_globals.txt)

please remove the file

[2016-03-22 21:30] abhijitkane commented on #1916
@srbangre Right now, Postman does not allow importing of global files. These are only usable in Newman (https://npmjs.org/package/newman).
To import the same data as an environment (rather than globals), your teammate can use this link - https://gist.github.com/abhijitkane/123e27cd48081ffd519c

[2016-03-22 22:44] advil0 opened #1917 "Newman is not replacing URL variables?"
Hi,  I have a collection and environment setup to run through and test our API but it doesn't seem to be replacing the URL variable I have setup, right now the collection sets an environment variable for each run to get the latest data variable, but I have also tried just using the data variable name in the URL and it doesn't work.  This same collection does run just fine in the Postman UI, but we

[2016-03-22 22:45] mstaalesen commented on #1915
This has nothing to do with Postman per se, but - one way of doing it is:

num = str.replace(/^\D+|\D+$/g, "")

[2016-03-22 22:47] mstaalesen commented on #1913
This bug is also present in Ubuntu 14.04 with Postman 4.1.2

[2016-03-22 22:49] mstaalesen commented on #1914
This bug is also present in Ubuntu 14.04 with Postman 4.1.2

[2016-03-22 22:54] abhijitkane commented on #1917
@advil0 The scripts seem fine. Can you add a log statements to print out the variables you're setting? eg. In the test script for the first request, add `console.log("Setting setStoreNumber = " + environment.setStoreNumber);` as the last line of the test script.

You'll be able to see this printed when newman runs.

[2016-03-22 22:57] advil0 commented on #1917
@abhijitkane I added that line and it shows it's coming in as "undefined", my CSV seems to be fine though?  The CSV itself is in the zip I attached in the original post FYI.

[code]

[2016-03-22 23:01] abhijitkane commented on #1917
How about `console.log(data)`?

[2016-03-22 23:06] advil0 commented on #1917
Looks like the data is coming in, one note is that it's removing leading 0s, for our use case this is imperative that it keeps the leading 0s.  But it should at least be showing "3904" instead of "undefined"?

[code]

[2016-03-22 23:12] abhijitkane commented on #1917
The CSV file in your archive is 300+ bytes. Looks like there are some extra characters which are preventing the file from being read properly. Save this file, and newman should work correctly - https://gist.githubusercontent.com/abhijitkane/0fa8d84086fe6b25820c/raw/0177594349bce344f78eb0e95942ebbce461025f/mobile_ping.csv

[2016-03-22 23:15] abhijitkane commented on #1172
@xlash @raycheung @Nahis We have a basic flow control mechanism in the latest versions of Postman - http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/

[2016-03-22 23:15] abhijitkane commented on #1364
@wirsing We have a basic flow control mechanism in the latest versions of Postman - http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/

[2016-03-22 23:17] illinar opened #1918 "Status reason phrase is not displayed in the new version (4.1.x)"
Previous versions of Postman correctly displayed custom reason phrase returned alongside the status code. New version (observed in 4.1.2) displays the status code but custom reason phrase is nowhere to be found. For example,

`This text should appear somewhere` is not displayed anywhere in the UI. Note that according to HTTP spec

[2016-03-22 23:18] abhijitkane commented on #1918
@illinar We've fixed this in our internal build, and will push out a fix soon.

[2016-03-22 23:40] ageorge2 commented on #1809
@abhijitkane test result = false , however most of the falses are due to the runner not keeping the order properly and thus creating the error.  So there is 2 things happening.  1 running out of order, 2 dumping out of the runner when a test = false

[2016-03-22 23:51] abhijitkane commented on #1809
@ageorge2 Does this collection run for you - https://www.getpostman.com/collections/391d6436163c8947ac73 (all tests should pass)?

[2016-03-23 00:16] xlash commented on #1172
Thanks, but i had to build my own.

Guillaume
Le 2016-03-22 19:15, "Abhijit Kane" notifications@github.com a écrit :

[2016-03-23 00:18] jeremymills commented on #1843
@abhijitkane using postman to POST to `echo.getpostman.com/post` does not show the filename or parameters for me either, it seems the implementation or the dependencies between them may have been broken. My implementation of POST for my api receives the postman's POST with the file and all data without problem, all the testing I have done shows that POSTMAN itself is working properly.

I am wonder

[2016-03-23 01:00] jainprash commented on #124
+1.... This is a must needed feature, for multiple collection groups. Atleast a default environment for a given collection, would be good start

[2016-03-23 01:01] jainprash commented on #213
+1

[2016-03-23 01:21] jeremymills commented on #1874
Further testing, the signature is not being created properly with POST parameters that have a "space" character in it, it seems the parameter is not getting url encoded properly

[2016-03-23 01:29] jeremymills commented on #1874
when clicking generate code it is encoding the space with a `+` when it should be a `%20`

[2016-03-23 05:16] czardoz commented on #1809
@abhijitkane, Newman just picks up folders in the order they exist in the collection

[2016-03-23 05:26] iarief opened #1919 "Feature Request : Generate to HTML form"
Hi, i know that there's a lot of generated source code for many programming language, but can we have a generated to basic html form? This might be a requirement for some of us that needed to give a testing form to clients of software that we developed. And they usually doesn't want to be troubled by using a terminal (for curl command) or installing any programming language in their pc.

[2016-03-23 07:25] ghost opened #1920 "Bulk Edit for Url Params field is not Working in Mac Client (Version 4.1.0 (4.1.0))"
The Bulk edit button removes all the inputted data and only let's the user to add new fields. Already typed in fields could not be edited.

[2016-03-23 07:28] numaanashraf commented on #1920
@faizanke Thanks for reporting this. We will include a fix in this week's release.

[2016-03-23 07:32] ghost commented on #1920
@numaanashraf Awesome :) The Bulk Edit button's throughout the Postman app doesn't seem to be working. Kindly have a check.

[2016-03-23 07:32] elmi82 commented on #1487
Same Issue on Fedora 23 (GNOME Shell 3.18.4) with 4K Monitor or the Retina Display of the MacBook Pro is close to unreadable. Scaling responses works fine, but everything else is way to small. Any plans to allow scaling or at least generally increase font size of the UI via a setting?

[2016-03-23 07:48] numaanashraf commented on #1920
@faizanke Sure. This is fixed in our internal build and is being tested now. You'll get the fix in the next release, which should be out in a day or two.

[2016-03-23 08:05] scholary-tim commented on #1881
Guys, any update on this please? This is a real problem for me at the moment. Many thanks.

[2016-03-23 08:08] abhijitkane commented on #1881
@tjdurden Are you using the Chrome app? If so, you can upgrade to 4.1.2 (chrome:/extensions > Developer Mode > Update)

[2016-03-23 08:59] numaanashraf commented on #1758
@xxldoctor This has been fixed in 4.0+ versions.

[2016-03-23 08:59] #1758 closed, assigned to nobody

[2016-03-23 09:00] numaanashraf commented on #1639
@octurion This has been fixed in 4.0+ versions.

[2016-03-23 09:00] #1639 closed, assigned to nobody

[2016-03-23 09:04] numaanashraf commented on #1242
@lantyu Fixed in version 4.0 and above.

[2016-03-23 09:04] #1242 closed, assigned to nobody

[2016-03-23 09:05] numaanashraf commented on #1237
@gszeszko Fixed in versions 4.0 and above

[2016-03-23 09:05] #1237 closed, assigned to nobody

[2016-03-23 09:06] numaanashraf commented on #1125
@liaosankai @mm-gmbd @deldrid1 GFM support has been added in version 4.0+, which fixes this issue.

[2016-03-23 09:06] #1125 closed, assigned to nobody

[2016-03-23 09:08] numaanashraf commented on #1121
@morrisnc Could you update to our latest 4.0+ version and let us know if this problem still exists?

[2016-03-23 09:11] numaanashraf commented on #1115
@johnnavarra Fixed in version 4.0+

[2016-03-23 09:11] #1115 closed, assigned to nobody

[2016-03-23 09:12] numaanashraf commented on #1108
@MahaSamir We've rolled out a new design for the collection runner in Postman 4.0. This issue has been addressed in the new design.

[2016-03-23 09:12] #1108 closed, assigned to nobody

[2016-03-23 09:16] numaanashraf commented on #920
@rprince You can undo deletion of environments, collections, requests & folders in Postman 4.0. This should help you recover any accidental deletes.

[2016-03-23 09:16] #920 closed

[2016-03-23 09:19] numaanashraf commented on #773
@jorgegarciamule @ksatirli This has been addressed in Postman 4.0.

[2016-03-23 09:19] #773 closed

[2016-03-23 09:22] numaanashraf commented on #1628
@AliSepehri We've addressed this issue in version 4.0+

[2016-03-23 09:22] #1628 closed, assigned to nobody

[2016-03-23 09:24] ChrissiFi commented on #1909
Karjoh2525, yes it came back with no intervention from my end - lost 1 1/2
hours productive time :(  The console showed that the get request had been
sent and that data had been retrieved so in theory the 'Loading' message
was erroneous.

On Tue, Mar 22, 2016 at 9:17 PM, Abhijit Kane notifications@github.com
wrote:

[2016-03-23 11:17] turchinc commented on #1893
please add it back soon. like I said, it was already a feature since #158 and my development depends on it.

[2016-03-23 12:22] ykiran opened #1921 "Old Postman app doesn't show anything and nothing is working"
I opened the app (this is the old postman app) today after closing it yesterday.
I see that there is nothing in history, none of the buttons are working when I'm clicking on them and there is a strange scrollbar to the right with an empty window.
![postman_err_screenshot](https://cloud.githubusercontent.com/assets/5526410/13984995/f443814e-f11f-11e5-9edf-acd26e789c45.jpg)

In addition to that, whe

[2016-03-23 12:56] abhijitkane commented on #1921
This is due to a change in Chrome. The app hasn't been updated for over a year. We've stopped supporting this app. You'll need to install the packaged app - https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en

[2016-03-23 12:59] #1915 closed, assigned to nobody

[2016-03-23 13:05] abhijitkane commented on #1891
@tuantmdev Can you provide a sample set of credentials to us at help@getpostman.com so we can try to debug this?

[2016-03-23 13:09] ghost commented on #1881
@abhijitkane @tjdurden I'm using 4.1.2 now , and it's working again. Thanks. Issue solved.

[2016-03-23 13:13] wcandillon commented on #571
I have started to build a newman test runner that runs requests in parallel at https://github.com/wcandillon/courrier

[2016-03-23 13:27] SamvelRaja commented on #1894
@praveenps071 Yeah, this will be fixed in next version of the app.

[2016-03-23 13:33] advil0 commented on #1917
That file does work, however the number in that file does not include the leading 0s as I mentioned before.  I opened the CSV in a text editor and added the 0s but Newman seems to be stripping them as this is the output I get when it's run.

[code]

[2016-03-23 13:42] ageorge2 commented on #1809
@abhijitkane - So not sure if an update/patch was done during the night but this morning the runner appears to be now functioning properly when it comes to run order.  However I am still running into test result = fail causing the runner to kick me out of run.  Your test collection was successful.  I retested other collection runs and ones that are 100% pass run in order and 0 test results = fail.

[2016-03-23 13:46] ageorge2 commented on #1809
@abhijitkane I spoke to soon just found another weird instance.  I tried to run a new folder in my collection without closing the Collection Runner in between.  This caused the new run to go out of order and fail things out.  I then closed the collection runner window completely.  Reopened it and ran the exact same folder, the tests then ran in the proper order up until an expected failure and the

[2016-03-23 13:48] karjoh2525 commented on #1909
Thanks so much for your quick response.  In this case, it was my fault.  I did not have the correct ip address set in my host file.  I apologize, but I do appreciate this blog and the info shared!

[2016-03-23 13:51] synotna commented on #1908
I did that, then noticed that I no longer had the same behaviour: and realised when testing with https://echo.getpostman.com/post I was turning off the interceptor without thinking!

With interceptor turned on, the file is left out of the request

![chrome_2016-03-23_14-50-22](https://cloud.githubusercontent.com/assets/3313126/13987188/a2252f7a-f106-11e5-83ed-46f6533b8671.png)

[2016-03-23 13:52] abhijitkane commented on #1908
@synotna If you toggle the Interceptor, you'll need to delete the row with the file and re-select it. The file is read in a slightly different way if it has to be sent through the Interceptor.

[2016-03-23 13:52] abhijitkane commented on #1869
@EvanPurkhiser We'll be pushing a fix in the next release.

[2016-03-23 13:53] synotna commented on #1908
No, that's not the issue

I have removed the row, re-added it, re-selected, does not work

If I pick a file without spaces again, it works

If I pick the file with spaces again, it doesn't work

[2016-03-23 14:00] abhijitkane commented on #1908
@synotna Got it. We'll be pushing a fix for this in the next release.

[2016-03-23 14:12] synotna commented on #1908
Awesome, thanks for the great assistance in debugging!

[2016-03-23 14:24] wirsingj commented on #1364
Thanks!  Very cool.

On Tue, Mar 22, 2016 at 5:16 PM, Abhijit Kane notifications@github.com
wrote:

[2016-03-23 14:54] advil0 opened #1922 "Collection Runner only running once?"
I have a collection that I'm running using a CSV file, when it runs, the first iteration runs great but it refuses to run any further iterations, it just stops as if it's done.  Any idea what I'm doing wrong?

[2016-03-23 14:58] advil0 commented on #1917
Fixed this by adding a function that adds leading 0s to the data, works OK now.

[2016-03-23 14:58] #1917 closed, assigned to nobody

[2016-03-23 15:34] abhijitkane commented on #1809
@ageorge2 If you change the test in `r3` of my collection to `tests["correct reqIndex"] = globals.reqIndex == 4;`, do the requests not run in order?
If they do, can you share a sample collection where the order gets messed up after a test failure?

[2016-03-23 15:34] abhijitkane commented on #1922
@advil0 Can you try upgrading your app? If you're on Chrome, chrome://extensions, enable 'Developer Mode', click 'Update extensions now'.

[2016-03-23 15:35] abhijitkane commented on #1917
@czardoz Can you check if/why Newman strips leading 0s from the CSV?

[2016-03-23 15:41] srbangre commented on #1916
if i am correct, the link you shared will actually create a new environment in postman.
i already have one env selected to run my scripts. that env file has lots of fields along with endpoints.
how can i use my-globals and other env file at the same time?
also is there any reason postman doesn't allow importing global files?

[2016-03-23 15:41] abhijitkane commented on #1892
@aquitania99 Can you share authentication details (not the actual key/secret, but the helper name/other settings etc)?

[2016-03-23 15:42] abhijitkane commented on #1916
Yes, that will create an environment. We're working on adding globals - the issue is that you can import a new environment (which won't overwrite anything), but importing globals has the potential to overwrite existing data.

[2016-03-23 15:49] abhijitkane commented on #1474
@alhimic37 The latest versions of the app have this fixed. Thanks for reporting this.

[2016-03-23 15:49] #1474 closed, assigned to nobody

[2016-03-23 15:49] advil0 commented on #1922
I was actually using the Mac app, it was up to date, I downloaded and installed the Chrome app and it is now working, would this be considered a bug?

[2016-03-23 15:50] abhijitkane commented on #1922
Yep - the Mac app will get the fix this week.

[2016-03-23 15:52] ageorge2 commented on #1809
Today the errors are very inconsistent

I did the changes you suggested and the test fails as expected the runner also completes.  I unfortunately cannot share any of my collections due to privacy issues.  From what I can see the runner seems to Pause/Stop if it in counters 500 errors then when you click start test again it is actually picking up where it left off.

I suspect something has changed

[2016-03-23 15:53] srbangre commented on #1916
that's true for normal env files as well f they have same names. you can probably put a message to be displayed to user when they import the global file saying - 'it will replace your global file. are you sure?'
another way - not sure if this is possible to duplicate the regular env file to globals instead of copying field by field.
So shall i wait for next update for importing global env or modif

[2016-03-23 15:55] abhijitkane commented on #1916
Importing globals is still a while away.

One thing you can do - import the file as an environment, edit it, scroll to the bottom, and click Bulk Edit.
Copy the values, head to the Globals editor > Bulk Edit > Paste.

[2016-03-23 15:59] srbangre commented on #1916
cool i can live with that. thanks so much you can close this issue :)

[2016-03-23 16:01] #1916 closed, assigned to nobody

[2016-03-23 17:03] kyle7johnson commented on #1918
Noticed this as well. Thank you!

[2016-03-23 17:35] willrichboa commented on #1821
Should I open a separate issue for the service name not being saved?

[2016-03-23 17:44] willrichboa opened #1923 "Formatting issue with AWS and duplicating folders in postman collections"
I've run into an issue where the helperAttributes value in the postman collection is in the wrong format causing issues with command line execution.

I would expect it to always be in this format:
    "currentHelper": "awsSigV4",
    "helperAttributes": {
                    "accessKey": "a",
                    "secretKey": "b",
                    "region": "c",
                    "saveToReques

[2016-03-23 17:45] willrichboa commented on #1923
I reported something similar here: https://github.com/postmanlabs/newman/issues/353

[2016-03-23 19:37] abhijitkane commented on #1923
@willrichboa Thanks for reporting this. W'll be pushing a fix in the next release.

[2016-03-24 03:25] riconegri opened #1924 "Setting the screen loading background color"
orange is very strong, at least set the intensity of it.

[2016-03-24 06:13] nickwb opened #1925 "Numerous errors in console, causing postman to crash"
See attached image of errors.

![image](https://cloud.githubusercontent.com/assets/594211/14009790/264d7274-f1db-11e5-9bd8-300591a472b1.png)

I'm not sure when I last used postman, but perhaps ~3 weeks ago it wasn't an issue.

It causes the whole app to crash, see below.

![image](https://cloud.githubusercontent.com/assets/594211/14009819/52c41a38-f1db-11e5-9242-be65148ea0d5.png)

[2016-03-24 06:21] nickwb commented on #1925
FYI, I resolved by uninstalling from chrome and re-installing. This wasn't ideal, as I was working offline and lost all my collections. I had to restore from a backup.

[2016-03-24 06:25] GabbyChangSH commented on #571
@a85 Does postman support parallel testing now?

[2016-03-24 07:47] abhijitkane commented on #1925
@nickwb This was an older version of Postman that stopped working due to a Chrome update. To update without reinstalling, head to chrome:/extensions, enable 'Developer Mode', and click 'Update extensions now'. This would have preserved your collections.

[2016-03-24 07:48] #1925 closed, assigned to nobody

[2016-03-24 09:06] calebrepkes commented on #1772
Hey @abhijitkane ,

I have not seen this working in version 4.1.0
OS X 15.3.0 / x64

Could it be, because the build in interceptor is not intercepting cookies in the correct order when they are coming from http://localhost?

[2016-03-24 10:01] thirtified opened #1926 "Duplicated Collections have the same Collection URLs"
Choosing "duplicate" on a collection creates a new and separate collection which uses the same shared Collection URL: published changes to either of these collections will overwrite what has been published before, and there is no way to un-link the Collection URL.

Tested on Mac native v4.1.0.

[2016-03-24 10:11] abhijitkane commented on #1926
@thirtified Thanks for reporting this. We'll be pushing a fix for this in the next release of the app - should be out in a day or two.

[2016-03-24 14:26] WagnerMoreira commented on #1924
+1

[2016-03-24 14:34] akapoor47 opened #1927 "When running collection in newman using -d option, how does it know the location of data file in my system? Do I have to specify the location or have data file in a particular folder?"

[2016-03-24 14:34] riconegri opened #1928 "Filter by request type when collection is open"
Ex.: Collection X is open
Collection X [get, post, delete] - original state
GET url1
POST url2
GET url3

Collection X [**get**, post, delete] - changed state
GET url1
GET url3

thanks

[2016-03-24 14:35] mateusleon commented on #1924
I guess this is quite important to guarantee healthy eyes for more time than it's expected for programmers/developers. Good point, indeed.

[2016-03-24 14:45] mstaalesen commented on #1927
If you don't give a path, but just the filename it will look in the current folder. I would recommend always adding full path to the file, so that it won't matter where you are executing newman from. The same should be said about other input files (environment, globals etc), and output files (reports).

Just a tip: Newman issues should be posted here: https://github.com/postmanlabs/newman

[2016-03-24 14:47] mstaalesen opened #1929 "Some keyboard shortcuts are currently not working"
It seems that the following keyboard shortcuts are not working as of right now (4.1.2):
ctrl + n (new tab)
ctrl + p (preview)

[2016-03-24 15:12] akapoor47 commented on #1927
Thanks for the info and tip. It is helpful.

[2016-03-24 15:12] #1927 closed, assigned to nobody

[2016-03-24 15:53] bennerham opened #1930 "http://petstore.swagger.io/#!/user/createUser"

[2016-03-24 17:14] genaro-picazo opened #1931 "Testing API Timeouts"
Is there a way to test intentional API timeouts via POSTMAN/Newman? I have a request that I expect to timeout, and I would like to add a test case that validates that the request indeed times out. Is that possible?

[2016-03-24 17:56] replaysMike commented on #1885
I just came here to say this. I was wondering why Postman does not have this if it bothered to import the swagger schema. It's great to have a list of endpoints and all, but pretty useless if I can't even view the request object schema and/or generate sample request objects (like Swagger UI does).

[2016-03-24 19:22] mstaalesen commented on #1931
What is "timeout"?
Postman has an internal timeout setting (default is infinity), but if you attempt to set the timeout to 1 ms, you will see that when POSTMAN decides that the request timed out, it will not give you any possibility to do asserts on the request itself. I do believe it is the same with newman.

I'm a bit curious about the use case for this too. Do you have a defined time a timeout

[2016-03-24 19:48] akshah123 opened #1932 "Curl: generated snippet in curl doesn't escape $"
If you have a url like

`
https://www.test.com?$parameter=value
`

It does not properly escape `$` in the url.

It generates:

[code]

It should instead do:

[code]

[2016-03-24 21:01] ericnewton76 commented on #1601
coming soon? +1 this feature.  variables really should be per collection, and you can use the globals if you dont create a collection

[2016-03-25 05:19] latifrons commented on #1904
Agreed! The request area occupies 3/4 on my 1366*768 screen. Each time I fire a request, I have not choice but scroll down the screen to see the results.

[2016-03-25 08:00] abhijitkane commented on #1932
@akshah123 For now, can you try choosing Shell > cURL from the menu instead of cURL? This should solve the issue.

[2016-03-25 08:30] AlicanGultekin opened #1933 "to be deleted"

[2016-03-25 10:01] abhijitkane commented on #1930
@bennerham What's the exact issue here?

[2016-03-25 10:04] abhijitkane commented on #1929
@mstaalesen The shortcut for new tab is Ctrl+T. We're working on shortcuts for new windows.

[2016-03-25 10:18] abhijitkane commented on #1910
Can you include the raw body part that corresponds to the section shared in your first screenshot?

[2016-03-25 13:13] #1780 closed, assigned to nobody

[2016-03-25 15:06] johndevedu opened #1934 "Ctrl-w closes the entire window instead of closing tabs"
I am used to the browser method of using the keyboard combination ctrl-w to close tabs. This has the undesirable effect of closing the entire Postman window and losing all tabs. Can you wire ctrl-w to closing the active tab? Thanks!

[2016-03-25 15:10] mstaalesen commented on #1929
Ok, thanks!

FYI, the Settings screen for shortcuts states ctrl + n:
![image](https://cloud.githubusercontent.com/assets/14194793/14046822/233b528a-f2a4-11e5-88f7-3900f3a6bcfe.png)

[2016-03-25 15:37] tojagrut commented on #1905
@abhijitkane  may I know when can I expect this release?  I need this fix to proceed.

[2016-03-25 16:01] akshah123 commented on #1932
Yes, that worked. What is the difference between the two?

On Fri, Mar 25, 2016 at 4:00 AM Abhijit Kane notifications@github.com
wrote:

[2016-03-25 16:09] genaro-picazo commented on #1931
Closing the request since it doesn't really make sense anymore :)

[2016-03-25 16:09] #1931 closed, assigned to nobody

[2016-03-25 17:59] bvanders commented on #744
Is sending an Origin header still supported using Postman with Interceptor?  I haven't been able to get it to work with Postman 4.1.2 and Interceptor 0.2.18.

[2016-03-25 18:23] rayfaddis commented on #1843
@abhijitkane @jeremymills I stumbled across issue #1908 and have confirmed my issue is exactly the same as the one described there, if I submit files without spaces on version 4.1.2 they go through successfully. @jeremymills not sure if your tests included a file with spaces or not. It seems my comments here are more so related to that issue and not the bug that was previously fixed in this issue.

[2016-03-25 19:24] jheld opened #1935 "exporting tests on a collection/request when downloading"
I have a use case where I'm importing (to an external app) a Postman collection of requests with tests for each.

It would be nice to have the tests included on the export/download, so that I may not have to run it twice. Granted the other side would have to include support for parsing those pieces out of the collection, but that's not in this scope since you have no control over that.

[2016-03-25 19:38] prasad0616 commented on #1922
I had the same issue. Does your collection have number of api's chained together to form a collection. If thats the case pls have the iteration value as n+1, where n is the number of apis chained together to form your collection.

[2016-03-25 22:21] jeremymills commented on #1908
this will also close #1874

[2016-03-25 22:24] jeremymills commented on #1843
@rayfaddis funny that issue was brought up I submitted an encoding issue #1874 that upon further investigation came down to exactly that, spaces not getting encoded properly.. looking forward to next update as well!

[2016-03-26 10:54] xujialiang opened #1936 "Support chinese and other feature requests"
1.Environments should auto switch by collections.
2.If I Share a collection,the environment should be shared automatically.
3.Not Support Chinese?My Login Name can't be display correct.
4.Runner , not all the api I want to run, I think I could choose what apis to run, without create a new collection.
5.I want to group my Collections.
6.When I switch from x-www-form-urlencoded to form-data, it shou

[2016-03-26 14:36] SimonRingeisen commented on #1932
I think this error doesn't only apply to $, but to a wide range to special chars (e.g. a raw body, send with post).

http://stackoverflow.com/questions/17560858/command-prompt-having-trouble-escaping-quotes-and-braces

[2016-03-26 14:39] snydercoder opened #1937 "Default focus on search textbox"
Hi Guys,

I love your product!  One thing that would be great is if when you click the magnifying glass to search for text in the response that the search textbox would have focus so the user can start typing their search immediately.  I'm running Postman on OSX El Capitan.

Thanks!
Matt

p.s. If you want to open source it I'd be happy to fork, fix, and PR. ;-)

[2016-03-26 19:11] RichardFoo opened #1938 "Provide more details for SSL failures"
‘SSL Certificate Validation’ - it’s valuable for this to stay defaulted to On (to expose issues early in development), but better error messaging is needed – an SSL failure is a very different problem from a connectivity issue, but in 4.1.0 they are lumped together.

An SSL failure should provide as much detail as possible (server name mismatch, CA not recognized, cert expired, no acceptable ciphe

[2016-03-26 19:42] RichardFoo opened #1939 "Improve analysis of server connection failures"
Provide more detailed error messaging by trapping the socket errors and offering an interpretation.  (In 4.1.0, a generic "Could not get any response" is returned.)  More detail would greatly accelerate fixing the cause.
- If you get a TCP connection request timeout (ETIMEDOUT), that’s a connectivity issue.  It could be a network problem, or a firewall / iptables silently dropping the requests.  _

[2016-03-26 21:36] RichardFoo commented on #1902
+1.  For Globals too.
Perhaps, hyperlink the title of each section (Environment name; Globals), or add an "[Edit]" next to the title lines that opens the right variable editor.

[2016-03-26 21:42] RichardFoo commented on #1884
FYI, I've separately filed an [enhancement request](https://github.com/postmanlabs/postman-app-support/issues/1938) for generally better feedback on SSL failures, but client certificates was not something I considered.

[2016-03-26 21:45] RichardFoo commented on #1938
Loosely similar to a different [enhancement request](https://github.com/postmanlabs/postman-app-support/issues/1884), which is specific to client-side SSL certificates.

[2016-03-27 00:51] oldboyxx commented on #682
+1
I'm building a restful api and really missing reorder :disappointed:

Otherwise an awesome product :+1:

[2016-03-27 09:36] eyalstein commented on #533
+1

[2016-03-27 09:43] sobtiankit commented on #533
Asynchronous testing is making its way into the app soon. However, in case anyone is looking to retry the current request (without the async timeout), you can checkout: medium.com/@sobtiankit/conditional-workflows-in-postman-f79c05306671. Docs here: https://www.getpostman.com/docs/workflows

[2016-03-27 13:23] IsCaster commented on #448
+1

[2016-03-27 15:59] eyalstein commented on #533
Thanks @sobtiankit !
I implemented your solution using setNextRequest and it works for now.
Waiting to hear when it will be added to the app.

[2016-03-27 19:06] evanpurkhiser commented on #1869
Thank you @abhijitkane

[2016-03-28 06:40] ruiwen commented on #1752
Hi guys,

Don't mean to be a nag, but I've lost all my collections and history again. And this time round, the IndexedDB section is empty. Any thoughts?

(Should I open a new issue?)

@abhijitkane

Edit: This is on Chrome Version 51.0.2687.0 dev (64-bit), with Postman 4.1.2

![screen shot 2016-03-28 at 14 38 40](https://cloud.githubusercontent.com/assets/307558/14072432/fc89c288-f4f2-11e5-85dd-8f3

[2016-03-28 07:39] abhijitkane commented on #1752
@ruiwen Did you just open your app and see your data missing? Can you send the zipped contents of your indexedDB (head to chrome://indexeddb-internals/, search for fhbjgbiflinjbdggehcddcbncdddomop) to help@getpostman.com?

[2016-03-28 07:54] ruiwen commented on #1752
@abhijitkane Yup that's correct. Opened it this morning and it was all empty. (Chrome may have updated in the meantime)

There look like there are multiple hits for that search though.

There are a few access keys saved in my collections/history that I'd rather not have released I'm afraid. Could you guide me through instead?

[2016-03-28 08:10] abhijitkane commented on #1752
You could zip the contents, reinstall Postman, and unzip the backup in the same location.

[2016-03-28 08:37] ruiwen commented on #1752
@abhijitkane No luck I'm afraid. I tried copying those files to another Chrome profile where I had Postman installed, but the saved collections didn't show up. Tried copying the entire extension folder over either, but that didn't work too.

Is the uninstall/reinstall step critical here?

[2016-03-28 11:05] wind57 commented on #1104
+1
curl can do it, would be nice if postman would

[2016-03-28 14:34] jbelmont opened #1940 "Body Tab in Post Request has unsaved changes circle always"
When I make a post request in postman and use the raw json radio button the body tab never seems to save at least through the ui it appears not to save my changes in the request. I would expect that when I save this route that the body tab shows as saved too if I have raw json.
![screen shot 2016-03-28 at 10 32 00 am](https://cloud.githubusercontent.com/assets/2974744/14080037/616f6860-f4d0-11e5-8

[2016-03-28 14:50] vicenteg opened #1941 "authentication type selection and params are not saved"
For a request I can set the authentication type to Basic, then I set the username and password to variables I've created in the environment. I update the request, then click save.

When I leave the request and return, Type has been reset to No Auth, and I need to re-enter authentication information.

[2016-03-28 15:43] fynixw commented on #1782
I have the same issue...

[2016-03-28 17:25] xp500 commented on #1833
This is still broken for me...I don't have the interceptors extension installed.

[2016-03-28 17:32] abhijitkane commented on #1940
@jbelmont The blue dot next to "Body" indicates that the request has a body, not that it is unsaved.

[2016-03-28 17:32] abhijitkane commented on #1941
@vicenteg Are you checking the 'Save helper data to request' checkbox?

[2016-03-28 17:33] abhijitkane commented on #1833
@xp500 What version of Postman are you on now?

[2016-03-28 17:45] vicenteg commented on #1941
I don't see any such checkbox. Here are my versions:

[code]

On Mon, Mar 28, 2016 at 1:33 PM, Abhijit Kane notifications@github.com
wrote:

[2016-03-28 18:00] vicenteg commented on #1941
Just found it on the authorization panel - had been looking in the settings. Will test and report back. Thanks!

[2016-03-28 18:01] vicenteg commented on #1941
That took care of it. Thanks.

[2016-03-28 18:01] #1941 closed, assigned to nobody

[2016-03-28 18:12] xp500 commented on #1833
@abhijitkane Still 4.1.2...there doesn't seem to be a newer one in the Windows Chrome Store

[2016-03-28 18:13] abhijitkane commented on #1833
@xp500 No, that's the latest version. Can you try removing that particular row in the form-data editor and re-adding the file?
Are you able to make POST requests to http://echo.getpostman.com/post with the file?

[2016-03-28 18:19] xp500 commented on #1833
@abhijitkane Yes, the files are posted correctly.

The problem is the "Generate Code" button which doesn't load the filename properly. For example, if I generate a curl request this is what it does

[code]

Note the `"file=@[object Object]"` which should be `"file=@/path/to/file"`.

With HTTP it directly puts `undefined` (as in my original snippet).

Tried readding the row, using a row other than

[2016-03-28 18:21] abhijitkane commented on #1833
Ah..this issue was the filename not being sent at all. We're looking at the issue you mentioned - filenames not included in the generated code.

[2016-03-28 18:44] jbelmont commented on #1940
@abhijitkane I see what you mean now. I guess I was comparing the behavior I noticed in older postman app versions. I didn't recall seeing the blue dot like this before but yeah that seems like a better indicator than before.

[2016-03-28 18:44] #1940 closed, assigned to nobody

[2016-03-28 20:35] ghost commented on #682
+1

[2016-03-28 20:48] ghost commented on #1937
+1
I'm running Postman on Windows 7.

[2016-03-29 01:56] dogeviper commented on #1240
Hi, have you guys taken a look at this? I am working with an OAuth flow that requires the callback url to be specified. Also, is there a way to manually add the callback url field in the meantime?

[2016-03-29 03:09] rfyiamcool commented on #131
+1 for Elastic   !

[2016-03-29 03:38] a85 commented on #1934
We can't until Chrome allows it. If you're on OS X, check out the native app: www.getpostman.com/apps

[2016-03-29 06:30] ssahni30 opened #1942 "Postman - REST Client shortcut Not Working"
After my Chrome Canary upgrade to Version 51.0.2692.0 canary (64-bit). Postman have stopped working.
 Postman is not working at all. I am unable to access URL params or headers or any other option. Even send button is not working no request is being generated in network tab of chrome's inspect element.

My console shows this error while opening POSTMAN -
Uncaught TypeError: Cannot assign to read o

[2016-03-29 11:17] Aaargh20318 opened #1943 "'Send and Download' base64 encodes binaries."
I was testing a REST interface after I made some modifications to my code and suddenly all the images I saved using postman were base64 encoded. Capturing a request using Wireshark shows the responses from the server _are_ binary, postman is doing the base64 conversion when saving to disk.

This bug was introduced in a recent release as I used the same scenario a week or so back and at that time e

[2016-03-29 11:24] ghost commented on #1918
I have it. Is there any possible way to reveal this kind of response information?

[2016-03-29 13:37] baselsalam commented on #576
@albertdev that's exactly what I expected postman to do. Honor the boundary if I include it in the header.

[2016-03-29 14:17] joshlrogers opened #1944 "When encountering a failed request Postman hangs at loading"
When testing an API that returns a status code signifying a failed request Postman does not complete the request within the UI.  When looking at the inspector you can see that a status code of 404 is returned by the request, for instance, but the Postman screen still says the request is loading.  We have tested across multiple developer machines against different API endpoints and we see the same

[2016-03-29 14:18] abhijitkane commented on #1944
@joshlrogers What version of Postman are you using? In the latest version (4.1.2), a GET request to `http://httpbin.org/status/404` shows the 404 in Postman.

[2016-03-29 14:38] joshlrogers commented on #1944
We are on version 4.1.2.

Your link does indeed work for us...so it is possible it is something specific to this particular API then?

When I look at the network tab in Chrome I see this:
![image](https://cloud.githubusercontent.com/assets/6315573/14111800/c21e4c00-f591-11e5-8ae6-e4784fea4a08.png)

These are the response headers:
HTTP/1.1 404 Not Found
Content-Encoding: gzip
Content-Type: applicat

[2016-03-29 15:35] thibaultlaurens commented on #383
+1

[2016-03-29 21:58] ohadmuch opened #1945 "Open requests in new tab"
First of all, you have a great app keep up with the good work.
When i open an existing request in a collection it's opened on the current focused tab , overriding the last request I used.
It will be more efficient if each request will be opened in new tab.
Thanks

[2016-03-30 06:39] zvercheto commented on #1905
@abhijitkane I also hit this issue. When will the fix be available?

[2016-03-30 07:49] abhijitkane commented on #1905
@zvercheto @tojagrut We'll be pushing a fix for this today.

[2016-03-30 08:46] roeschjohannes commented on #1791
Yes, CONFIRM.
Now it works everything fine.

[2016-03-30 08:46] #1791 closed, assigned to nobody

[2016-03-30 09:49] a85 commented on #1034
Fixed in the latest version.

[2016-03-30 09:49] #1034 closed, assigned to nobody

[2016-03-30 09:50] #991 closed, assigned to nobody

[2016-03-30 09:50] a85 commented on #951
The UI has been changed so this should not happen.

[2016-03-30 09:50] #951 closed

[2016-03-30 09:51] #947 closed

[2016-03-30 09:51] #945 closed

[2016-03-30 09:51] a85 commented on #945
Fixed in 4.0+

[2016-03-30 09:53] #924 closed

[2016-03-30 09:55] a85 commented on #712
Closing this issue. Haven't seen any reports where Postman is not sending requests.

[2016-03-30 09:55] #712 closed

[2016-03-30 09:59] #1326 closed, assigned to nobody

[2016-03-30 10:01] #1591 closed, assigned to aditikul

[2016-03-30 10:05] a85 commented on #1789
Unverified.

[2016-03-30 10:05] #1789 closed, assigned to nobody

[2016-03-30 10:06] #1852 closed, assigned to nobody

[2016-03-30 10:07] #1863 closed, assigned to nobody

[2016-03-30 10:08] #1882 closed, assigned to SamvelRaja

[2016-03-30 10:49] ValeryDubrava commented on #1280
I have the same issue.

[2016-03-30 12:13] kranthikiranbandaru commented on #746
Could you please let me know when the version 4.0+ is being released? I have the same issue when I try to get a pdf from WSO2 ESB.

[2016-03-30 12:14] abhijitkane commented on #746
@kranthikiranbandaru What version are you on? You can update by going to chrome://extensions, enabling 'Developer Mode', and clicking 'Update extensions now'.

[2016-03-30 12:26] ghost commented on #1041
I am also now getting this problem, a few weeks ago I was seeing the response message along with the code, but now it just says 400 Bad request. When I watch the request using fiddler  I can see "HTTP/1.1 400  Invalid Transaction Type" where "Invalid Transaction Type" is the message I am expecting to see and was seeing up to a week or so ago in Postman.

Thanks
Richard

[2016-03-30 13:08] kranthikiranbandaru commented on #746
Hello Support team,

I'm using the 4.1.2 version. Yet i see that the request is issued twice if
the return response is a pdf.

[image: Inline image 1]

Best Wishes
   _Kranthi Bandaru_:-)
   Mobile : 248 495 7091

On Wed, Mar 30, 2016 at 8:15 AM, Abhijit Kane notifications@github.com
wrote:

[2016-03-30 13:24] a85 opened #1946 "Large file support in Postman"
Postman has problems in supporting large files. It was not designed for heavy loads but we intend to take this up as a priority now. Adding all issues from Github below and close them so that we have one place to track this:

https://github.com/postmanlabs/postman-app-support/issues/555
https://github.com/postmanlabs/postman-app-support/issues/791
https://github.com/postmanlabs/postman-app-support

[2016-03-30 13:24] #1843 closed, assigned to nobody

[2016-03-30 13:24] #1301 closed, assigned to nobody

[2016-03-30 13:24] #1089 closed, assigned to nobody

[2016-03-30 13:24] #1117 closed, assigned to nobody

[2016-03-30 13:25] #1188 closed, assigned to nobody

[2016-03-30 13:25] #1277 closed, assigned to nobody

[2016-03-30 13:25] #791 closed

[2016-03-30 13:26] #555 closed

[2016-03-30 13:31] ghost opened #1947 "Set default header for all requests"
I would like to be able to set Content-Type key to application/json value for the Header as a default, so that I do not have to set it manually for every new request.

[2016-03-30 14:31] ageldt commented on #1299
It should be forbidden by law to write software that is doing nothing, not even complaining.
People who still release such software should go to jail and being forbidden to write code for the rest of their life.

having same issue. Lost an hour for that peace of crap. Better stay with curl don't try postman - save your nerves.

[2016-03-30 14:54] a85 commented on #1299
https://www.youtube.com/channel/UCocudCGVb3MmhWQ1aoIgUQw

[2016-03-30 14:56] numaanashraf commented on #1942
@ssahni30 That's odd. Could you let us know your Postman app version and OS version?

[2016-03-30 15:02] numaanashraf commented on #1937
@snydercoder @Ann25 Got it! We'll include this in the coming release. In the meantime, you can open the searchbox and autofocus it by using the `Cmd + F` or `Ctrl + F` key shortcut while the response is in focus.

[2016-03-30 15:38] numaanashraf commented on #1913
@danielpigan @mstaalesen Thanks for reporting this. We are taking a look at this and should have a fix out soon.

[2016-03-30 17:29] ObviouslyGreen opened #1948 "oauth1 with raw body Uncaught TypeError"
I am trying to make a post request that uses oauth1 and takes in a json, and was having trouble. I tested it generically by posting to http://httpbin.org/post and got the same error, so I'm thinking it is a bug.

Uncaught TypeError: Cannot assign to read only property 'value' of {
    "generic": "json"
} requester.js:207138