[2017-12-27 02:25] sfragrance opened #4006 "Portable version requirement"
In some professional environments there is no possibilities to install software using the standard "setup.exe", due to policy restrictions.
And, many people **HATE** installation.
When are'you going to propose a portable Postman ?

[2017-12-27 05:27] milan2404 commented on #1538
facing the same issue.

Can someone share the solution?

[2017-12-27 07:14] harryi3t commented on #283
@a85 I am afraid it's not.
Creating an internal ticket for this.

[2017-12-27 08:59] TAkbay opened #4007 "added a "=" at the end of a request url raw when exporting a collection v2.1 to v2.1"
## App Details:

[code]

## Issue Report:
 1. The bug is seen in the 2.1 Version.
 2. Expected behaviour: If you export an already existing Postman Collection in Version 2.1. again to Version 2.1. there should not be any changes in the url raw.

Steps to reproduce the problem:
1. Import a collection in version 2.1
2. Export it as a collection in version 2.1
3. The end of the url raw in a request h

[2017-12-27 10:11] Alvyre opened #4008 "Auth token not sent with request (Linux)"
## App Details:

[code]

## Context

Hello !

After several mails with the support, they told me to add a new issue to the Github repository, so here I am :).
About the issue, on Linux (openSUSE leap) I downloaded Postman to try and test about an API. This API is using oAuth 2.0 authorization token, I can get successfully the token but when I try to use it with my request, it's not working (I can'

[2017-12-27 10:45] ManojAshok commented on #2617
+1   facing same issue   Swagger 2.0 JSON in Postman 5.4.0

[2017-12-27 11:03] jordanch commented on #1473
Re-open, this is still undocumented under shortcuts.

[2017-12-27 11:30] freedomfee commented on #3963
I'm having the same problem on win/x86-64

[2017-12-27 11:45] prashantagarwal commented on #4005
@dennisslavid Thanks for reporting this.

[2017-12-27 11:46] prashantagarwal commented on #4006
@gragrance Thanks for suggesting this.

[2017-12-27 11:47] prashantagarwal commented on #4007
@Mina05 Thanks for reporting this we will investigate this and keep you updated.

[2017-12-27 11:58] kamalaknn commented on #4008
@Arctic76 Hi,

I'm guessing the token response for your OAuth provider does not have an `access_token` field. Postman tries to use `access_token`(as per the specifications) for Authorization. It is possible that some providers return the token in other names like `id_token` etc.

You can verify this by opening the token in `Manage Tokens`. If that is the case you can manually copy the token and pa

[2017-12-27 12:53] crmatei commented on #2030
+1

[2017-12-27 13:23] kalinchih commented on #4003
@madebysid  , thanks for your reply.
When I use chrome extension, the head method works. Server also has the access log.

But the latest PC version does not work on head method. (Before I update, head works. After update, the head method doesn’t work).

[2017-12-27 13:48] esztam commented on #2851
+1

[2017-12-27 13:50] esztam commented on #2819
+1

[2017-12-27 22:49] cbrownie commented on #824
I too would love a built-in feature for this, mainly for over-the-shoulder security concerns.

@loraxipam @thomas-oo @ramseyjacob @BlueHatbRit @jbloch135
One method I've used to obfuscate my passwords a bit is to use a combination of a pre-request script and a test script to decode and encode my passwords.

First, I take my plain text password and run it through javascript's built-in `btoa()` func

[2017-12-28 05:10] jafarbtech commented on #285
+1

[2017-12-28 05:23] mrollo commented on #1603
This is needed. And/or, prompting for credentials (or any value) at runtime. I'm not sure that using Postman is really a valid option for me without it. Storing any sensitive data in a cleartext Postman file basically equates to "Don't use Postman" for me.

[2017-12-28 05:26] mrollo commented on #285
+1

There is a definite need to provide a way to set values at runtime. Sensitive data should not be stored with requests/collections/anything.

[2017-12-28 07:41] lyneca commented on #3390
+1

[2017-12-28 09:24] Alvyre commented on #4008
@kamalaknn Hi,

I checked and in the manage tokens section, the "Access Token" Field is filled.
Moreover, the API is using a oAuth library which uses 'access_token' field.

![access_token](https://user-images.githubusercontent.com/10566948/34406411-259703f2-ebb9-11e7-97f5-4fcb0d6af7f8.png)

Best,

Romain

[2017-12-28 09:34] kamalaknn commented on #4008
@Arctic76 I can see that in the token response the `token_type` is `string`. If you are using a general OAuth implementation it should be `bearer`.

Although the spec allows specifying any token type, it is up to the consumer to interpret the type. Postman only understands the widely used `bearer` token type, which it does by adding a `Bearer` Authorization header.

We could add this as a warning

[2017-12-28 09:52] Alvyre commented on #4008
@kamalaknn This was the problem thank you, I will check if this modification may impact other things in the API.

Thanks for your help !

[2017-12-28 10:55] elliotblackburn commented on #824
@cbrownie this is a great idea thanks for sharing, I may go ahead and implement this one for my own usage. Though I do think this feature should be rolled into postman as this doesn't make it super friendly for sharing collections / environment templates.

[2017-12-28 11:04] puneetv05 commented on #285
when prompt/alert ?

[2017-12-28 12:53] #4008 closed, assigned to kamalaknn

[2017-12-28 14:28] simonhamp commented on #2452
I routinely have to test 3 different grant types with an increasing number of scopes, each on 3 separate environments (at least) - local, staging and production. Our tokens last for 48 hours, but lacking the ability to refresh tokens is the cause of a lot of personal frustration right now:

1. It causes the current Postman workflow to be very stop-start as I have to go into the Auth panel, request

[2017-12-28 17:08] ripfire44 commented on #4006
+1
I was looking for this also.

[2017-12-28 19:59] a85 commented on #4007
@prashantagarwal Is this due to the transformer?

[2017-12-28 19:59] matanpramp opened #4009 "Support WebSocket Endpoints"
Websocket support, even the most basic (no tests, code generation, collections), would be very useful.

Basic support IMO would be:
- the ability to establish connections
- read incoming messages
- send outgoing messages
- maintaining support for existing Postman features such as headers, cookies, viewing and editing the messages

Considering the nature of many modern, interactive web applications

[2017-12-28 20:06] iamavieira commented on #3979
Hey @felipeaf !

I ran into the same problem within native application.

What I thought was if the internet connection in the browser is working, maybe the deprecated google extension of postman might too.

So it does! try it out and let me know.

[2017-12-28 20:34] dncosta commented on #3917
Yeah... unfortunately this is not a new thing. Their syncing is not trust worthy yet.
It's easiest way is duplicating the whole collection and publishing the new one.

[2017-12-28 21:51] paulyk1983 commented on #3942
+1 Same here

[2017-12-29 01:48] kalinchih commented on #4003
@madebysid ,

I find a workaround to fix this issue.
The steps are:

1. uninstall Postman PC
2. delete {user}/AppData/Local/Postman folder
3. delete {user}/AppData/Roaming/Postman
4. reinstall Postman PC 5.5.0

So I think there is a bug in the upgrade scripts.

thanks,
Kalin

[2017-12-29 08:05] quangpld commented on #3963
I'm having the same problem on Windows 10 x64.
![error](https://user-images.githubusercontent.com/899515/34432431-9d6f781e-eca9-11e7-9adb-4fff8a915131.png)

[2017-12-29 08:46] kunagpal commented on #4007
@Mina05 I was unable to reproduce this with the following collection:
[code]

Could you share the complete collection that causes this behaviour? Feel free to redact sensitive details 😄

[2017-12-29 09:57] Sutty100 commented on #3117
+1 on an update!

This is a blocker for us using postman pro as we can not document our API's request/response JSON models to the same level that we can with swagger

[2017-12-29 10:28] calebrepkes commented on #3751
Hey @prashantagarwal @harryi3t any updates? :-)

[2017-12-29 11:25] marinomeneghel opened #4010 "Names longer than 31 characters are not supported on the destination volume"
`Please choose a filename that is no longer than 31 characters.`
## App Details:
[code]

## Issue Report:
I started seeing this bug as soon as I switched to the Postman standalone app

### Console logs
[code]

### Screenshots
![screenshot 2017-12-29 12 19 50](https://user-images.githubusercontent.com/3415753/34436106-df283758-ec92-11e7-8930-3af05fc1aa66.png)

### Steps to reproduce the problem
- A

[2017-12-29 11:45] rajanverma-me commented on #3405
ubuntu 16.04 LTS. native app keeps crashing. not even opening

[2017-12-29 12:27] SamvelRaja commented on #4010
@marinomeneghel Seems like the error is bubbling up from the OS level, can you confirm that the file name size is more than 31 characters.

[2017-12-29 12:29] DmytroPuzhay commented on #2899
FYI Workaround would be using dump file (Settings -> Data -> Export data -> Download) which saves everything, then doing your changes, then importing it again.

P.S. Before importing it back one has to delete environments first due to bug https://github.com/postmanlabs/postman-app-support/issues/3365

[2017-12-29 12:31] SamvelRaja commented on #4009
Thanks for your feedback. I am marking this a feature request. I cannot promise an ETA now.
We will update this thread when we pick this feature.

[2017-12-29 13:03] seelts opened #4011 "[Bug] Can not remove query params from the final URL"
## App Details:
[code]

## Issue Report:
 1. Bug: query params are not removed from the final URL, when using `pm.request.url.query.clear()`
 2. Expected behaviour: query params will be removed

Create request. Add some params to it. Add pre-request script: `pm.request.url.query.clear();`.
The request is still made with query params. You can see it in History or in _Code_ snippets.
But at the same

[2017-12-29 14:14] marinomeneghel commented on #4010
@SamvelRaja I can confirm that the name have more than 31 characters.
The weird thing is that once the problem happens, even by changing the name to "name" (or whatever short) the error persist.
A thing that could be worth mentioning is that the name actually have exactly 31 chars, and it contains two dots. The format is like the following:
`nameLongExactly31Characters.postman_collection.json`

[2017-12-29 19:48] pprogrammingg commented on #1535
+1 this is a desirable feature and if added it can help us move from SOAP UI project.

[2017-12-30 06:55] akoSalman opened #4012 "PUT method does not work."
## App Details:

[code]

## Issue Report:
When sending `PUT` request through POSTMAN to my `localhost` Laravel-5.4 project, everything works fine and i can catch data with `PUT` request in my project, But when sending same request to the api in the `Production ENV` , server catches the request as a `GET` request, and so i can not catch the data with the request.

[2017-12-30 09:36] Nom1fan commented on #1552
+1

[2017-12-30 18:03] kvnapavl commented on #3031
@sharduul What method(s) did you use to test view the body in the POST request?

[2017-12-31 04:26] azharmdk commented on #3960
Any update on this? It has been very difficult to identify errors especially when you are using test data from a data file.

[2017-12-31 09:30] amritms commented on #3405
ubuntu 16.04 LTS. native app crashes system, need to restart everytime I hit wrong endpoint.

[2017-12-31 18:52] barneydmedia commented on #2225
I'm having the same issue in v5.5 for OSX. Curl and browsers can reach my dev server through OpenVPN, but Postman cannot.

[2018-01-01 00:46] ttop commented on #2521
Agreed, I just spent a bunch of time troubleshooting an issue where I was trying to test an app with a POST with no Content-Type specified but it appeared as if a Content-Type header was being set to 'text/plain' even though my Postman config had no such header defined. I thought there was a bug in the app code since nothing in Postman indicated it was sending this header. Eventually by debugging

[2018-01-01 10:12] suvrachat commented on #285
+1
I stumbled upon this requirement within a few hours of starting to build my first postman collection. Will be a good feature to add

[2018-01-01 13:21] tomershay commented on #3089
+1

[2018-01-01 17:50] harryi3t commented on #3751
@calebrepkes I was not able to reproduce it.
I tried all formats (form-data, x-www-form-urlencoded, raw & binary)

![postman_console](https://user-images.githubusercontent.com/5207331/34469620-6a1a494c-ef49-11e7-89c2-6becb42a51fc.jpg)

Please share the screenshot of your postman console

[2018-01-01 19:09] BrainStone commented on #3751
@harryi3t this is was I get:
![Screenshot](https://puu.sh/yS9Ds/7f651810de.png)

I created a fresh request, added the content and set the type. `Content-Length` is not set.

[2018-01-02 00:15] BrainStone commented on #3751
Note I use the Windows version

[2018-01-02 00:42] lpj145 commented on #3331
If Somebody needed [Solution link by me](https://stackoverflow.com/a/48054400/6923849)

Add field name as array.
![image](https://user-images.githubusercontent.com/11980109/34472248-60814848-ef3c-11e7-8fd8-fbbb4aba71a6.png)

[2018-01-02 05:50] prashantagarwal commented on #4012
@akoSalman I am not totally sure but my guess is your API is pointing to an endpoint which is redirecting this request to your actual server. In such scenario PUT request is being redirected as get. Can you verify once that the request that you are making is to the actual server and that it is not being redirected to that. Thanks.

[2018-01-02 06:19] harryi3t commented on #3751
@BrainStone Thanks for your input.
I see that the request was not successful (connection was refused). When I tried this (hitting to an invalid endpoint), I could also not see the `content-length` header in the console.
But when I intercepted the same request using a proxy in between, I found that it was actually set.

![menubar_and_postman_console_and_mitmproxy_-p_8079_--setheader___q_x-proxy_mit

[2018-01-02 11:54] PinoEire commented on #1906
+1

[2018-01-02 11:59] esodot commented on #2082
Postman **v5.5.0** is still **NOT** extracting the correct filename from Header with name "Content-Disposition". Hey guys, imho it's easy to fix this issue. Please give it a greater priority. Thank you. Kind regards esodot

[2018-01-02 12:03] esodot commented on #2082
please also for response of type "application/octet-stream", where current response is being saved to "response.bin" file. Thank you

[2018-01-02 15:06] akoSalman commented on #4012
@prashantagarwal Thank you for your response.
I don't know what you mean from another endpoint, but i make the `PUT` requests directly to where my API is located.
I think maybe `apache`  redirects (or converts) the `PUT` requests to a `GET` one.
I check it and report it here ASAP.

[2018-01-02 15:45] DeeNarsi opened #4013 "After installing postan, Click on postman icon is opening google chrome page but not the actual postman"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-01-02 15:46] WORMSS commented on #2336
@dasjestyr I can confirm that the variable "looks" like it is in red and therefor not working.. But a collection variables does in fact work in the URL.
[code]

[2018-01-02 16:35] joaogomes44033 commented on #1906
+1

[2018-01-02 16:40] BrainStone commented on #3751
Indeed, It seems to be working when the requests suceeds. Though I definately have had issues with it even though the request itself was working. I mean the application I was working on was crashing because of the missing header. Though admideiately I sent a request before the server was online. And once it was the `content-length` header was definately missing. (Causing my server to crash)

Scree

[2018-01-02 17:09] hwerner-rms commented on #3498
I have reverted to the original (tabbed) Postman. I found the Chrome app overengineered. Less is more.

[2018-01-02 17:53] nithyamuth commented on #3639
Is there going to be a fix for this?

[2018-01-02 19:01] samuelt1 commented on #3025
I am having the same problem on the mac app. v5.5.0

[2018-01-02 19:46] cmosboss commented on #1669
Any update on this? Insane that this is not a key feature of postman in 2018.

[2018-01-03 00:01] JuanZamudioGBM opened #4014 "White screen after a few seconds of opening the app"
## App Details:
[code]

## Issue Report:
Steps to reproduce
- Open the app
- Wait for it to load
- Two minutes later the screen turns white
---

 1. Did you encounter this recently, or has this bug always been there:
This has been happening for about 2-3 weeks
 2. Expected behaviour:
Continue to use the app
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-ins

[2018-01-03 03:36] aksbenz opened #4015 "Postman tabs not restored and console not exiting with main app"
Since version 5.5.0, when we close the main Postman App window, the console does not exit.
This causes 2 issues:
1. Postman main app does not open again until we close the console window
2. (more severe) After closing console, and re-launching Postman, all the previous tabs are lost, even the ones which were not saved.

![postmanissuetabsnotrestored](https://user-images.githubusercontent.com/12194

[2018-01-03 06:14] prashantagarwal commented on #4015
@aksbenz Thanks for reporting this issue. We will look into it and keep you updated.

[2018-01-03 06:17] prashantagarwal commented on #4012
@akoSalman Were you able to figure that out. I don't think Postman is causing this issue. If you feel otherwise feel free to reopen this issue.

[2018-01-03 06:17] #4012 closed, assigned to prashantagarwal

[2018-01-03 06:18] prashantagarwal commented on #4013
@DeeNarsi Can you please add a screenshot, which google chrome page gets open when you click on the icon.

[2018-01-03 06:19] prashantagarwal commented on #4014
@JuanZamudioGBM Does this happen when you send the request or when the app is idle.

[2018-01-03 09:20] masterada opened #4016 "Feature request - Workflow script"
## Feature request
It would be nice to be able to write a workflow script, where you can programically call requests in any order. This would give us much better control then the setNextRequest() calls. I realize this is a long shot and might not conform to postman's philosopy, but it would be nice to know if/when this feature can be expected.

## My Issue
I'm trying to use postman for seeding dat

[2018-01-03 09:26] masterada opened #4017 "Feature request - allow to modify pm.iterationData"
## Feature request
Allow to modify pm.iterationData, so we can save/delete iteration-scoped variables.

## My Issue
I'm trying to use postman for seeding data. I have nested resources (eg: a member resource, and under it multiple image resources). My data file is a nested json that represents this. Currently it's very complicated to iterate through the nested resources and create them 1-by-1. This

[2018-01-03 10:30] gototester commented on #3934
Hi,

I'm seeing the same issue as @hujunhaorobert while duplication folders as shown in the example above.

Currently I'm using the latest windows version 5.5.0. (win32 10.0.16299 / x64)

Is this a sync Issue?

[2018-01-03 10:52] gototester commented on #3934
I just logged out of the postman and imported the same collection locally and duplicated folder and I works as expected. When I signed back into postman and all my data was in sync I duplicated the same folder and all requests were duplicated.

This seems to be a sync issue, because when it first duplicated the folder it was fine and then a few seconds later the dupes appeared.

![image](https://u

[2018-01-03 10:58] dotancohen opened #4018 "Importing POST requests with empty POST data fails"
## App Details:
[code]

## Issue Report:

1. Click "Import" button near upper-left corner of window.
2. Click "Paste Raw Text" button.
3. Paste the following request: `curl "http://simplesniff.com/" --data ""`
4. Click "Import" at bottom of dialogue.

**What happens:** Postman presents an error message:
`Error while importing Curl: TypeError: Invalid format for cURL.`

**Expected behaviour:** Impo

[2018-01-03 11:20] stokito commented on #2013
Hi @madebysid do you have any update on this?
As for me it would be good feature for enterprise license. You can allow for example, few envs for free and any additional can be paid.
Now we cant use postman in our company because for strict security reasons our creds should never be transmitted to internet.

[2018-01-03 11:37] fosple commented on #3604
Any update? @harryi3t

[2018-01-03 12:50] SamvelRaja commented on #4010
@marinomeneghel  Wierd that it is working for me :thinking:
![export](https://user-images.githubusercontent.com/5114052/34521224-ad137722-f0b2-11e7-82a2-c0b7c048d199.gif)
Let me check further and get back

[2018-01-03 13:10] mccannt opened #4019 "Collection Runner Hangs"
## App Details:

[code]

## Issue Report:
 1. Intermittently when stopping a run in the collection runner, it will hang the runner and gives the message "Stopping ...". This appears to stop the actual execution of the run, however the collection runner window does not reset and needs to be closed and reopened to continue.
 2. Expected behaviour: I would expect the collection runner window to stop

[2018-01-03 15:43] DeeNarsi commented on #4013
I’ve re installed and it worked

From: Prashant Agrawal [mailto:notifications@github.com]
Sent: Wednesday, January 03, 2018 1:19 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Narsina, Deekshith (CONT) <Deekshith.Narsina@capitalone.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] After installing postan, Click on postman

[2018-01-03 16:11] yenoomluap opened #4020 "Feature request: Ability to receive updated OAuth credentials from onprem service"
I would like to be able to connect to postman and update OAuth tokens for our connections. Postman would accept and update the authorization code saved in the environment specified.  This automation would save time from having to manually using postman to get a refresh token for our APIs.

[2018-01-03 16:24] #4013 closed, assigned to prashantagarwal

[2018-01-03 16:41] Aryanr64x commented on #3127
If you have a request with which you used to work in an older version of postman,then this problem is likely to occur if you update your app,I created a new request with the new version and it works fine but all the requests of my previous version give the above error.

[2018-01-03 16:44] JuanZamudioGBM commented on #4014
@prashantagarwal  when the app is idle

[2018-01-03 19:18] akashpatel2891 commented on #3832
@stevegoulet  Workaround suggested by you helped. Thanks.

[2018-01-03 21:43] ssevern1 commented on #3962
Did you ever resolve this?  I'm seeing the same.

[2018-01-03 22:07] imindrajit commented on #3962
Remove ~/Library/Applications \Support/Postman directory and try to login again. The issue should be resolved.

[2018-01-04 00:01] watadarkstar commented on #1345
A tooltip would be nice!

[2018-01-04 00:55] a85 commented on #1669
Everyone,

Thank you for your patience with this feature. We are super excited about GraphQL. Postman is being re-written to operate through a plugin based architecture. This will help us support API design/definition/schema formats (RAML, GraphQL, Swagger - even SOAP) properly and ship updates as soon as versions of these format tick up rather than having to update Postman itself. We want to supp

[2018-01-04 01:38] solariswu commented on #2907
Find the issue of

when a GET request is created, an unwanted Content-Type header of application/x-www-form-urlencoded is automatically added to the request even though no Content-Type header is set nor any content in the body. This additional header breaks my api as its deemed an unsupported media type.

in native Mac OSX postman 5.5.0

[2018-01-04 02:22] natty4GitHub commented on #495
#PIB Lost all rest call customized request. To my surprise, i lost the installation of postman altogether after security updates and restart. I've no clue.

[2018-01-04 05:22] vpzed commented on #3977
I'm also having trouble with invalid_grant and grant_type= line not having the & separators.

This looks very wrong:

    grant_type=authorization_codecode=Msomestuff-ce16b4678cderedirect_uri=https://www.getpostman.com/oauth2/callbackclient_id=123456

Should it be more like:

    grant_type=authorization_code&code=Msomestuff-ce16b4678cde&redirect_uri=https://www.getpostman.com/oauth2/callback&clie

[2018-01-04 05:39] prashantagarwal commented on #4018
@dotancohen Thanks for reporting this. We were able to reproduce this. I will update the ticket once we release the fix.

[2018-01-04 05:42] prashantagarwal commented on #4019
@mccannt Thanks for reporting this. Does this happen for all your collections or just a particular one.

[2018-01-04 05:46] prashantagarwal commented on #4020
@pc-mooney I think you should be able to do this by fetching OAUTH tokens in your pre-request script using` pm.sendRequest` and setting the fetched tokens to your environment variable.
This [gist](https://gist.github.com/madebysid/b57985b0649d3407a7aa9de1bd327990) has some pm.sendRequest examples which you can use for reference.

[2018-01-04 06:24] mlambley commented on #3315
Could this issue be given priority, perhaps even fixed in the next version? It is quite a significant inconvenience. Thank you.

[2018-01-04 06:24] mlambley commented on #3386
Could this issue be given priority, perhaps even fixed in the next version? It is quite a significant inconvenience. Thank you.

[2018-01-04 07:19] ryan1st opened #4021 "[Auth] AccessToken not properly recognized(remains blank) after successfully issued"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: ```First tried and first met today.```

 2. Expected behavior:
[code]

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[code]

 4. Screenshots

Screenshot1
![screenshot_

[2018-01-04 07:48] harryi3t commented on #4011
Hi @seelts,
I have discussed this issue with our team and found out that modifying the request from scripts was never supported.
So I am marking this as a feature request.

As a workaround, you can always use variables.
Let me know if I can help you with this :)

[2018-01-04 09:14] astraydog opened #4022 "Request working in curl but not in postman"
I copied the request  from GENERATE CODE SNIPPETS of CURL,it is working in curl.
`curl -X POST \
  http://xxx.xxx.xxx.xxx:9911 \
  -H 'Cache-Control: no-cache' \
  -H 'Postman-Token: f9b03f77-1f22-b90a-dcb4-12b67db281d3' \
  -d 'data={"dspid":"xxxx" , "timestamp":1488787766, "sign":"xxxxx", "code":110}'`
![curl](https://user-images.githubusercontent.com/2909868/34557045-e96ca880-f173-11e7-8e27-fdd

[2018-01-04 10:59] fosple commented on #3604
I also made a video of the behaviour:
https://www.dropbox.com/s/opx18ppq8qnv2jr/20180104_Postman_bug.mov?dl=0

According to the title of the OAuth Popup the second request is not even triggered anymore. The title of the page stays "Postman OAuth 2.0".

Im using Version 5.5.0 (5.5.0) Standalone on MacOS.

[2018-01-04 11:48] SamvelRaja commented on #4021
@ryan1st Thanks for bringing this to our notice,
Since there are lots of possible ways the access token can be returned by the servers. We are looking for a more generic solution for handling this case.

We shall update the thread once we implemented the same. Until, we recommend you to manually copy the accessToken received.

[2018-01-04 11:55] jpambulo commented on #3444
Do you already have the functionality for this?

[2018-01-04 11:56] SamvelRaja commented on #4022
@astraydog  The error message shows that request has been sent to the server from postman and the server responded with the Error.
Also, can you check the request sent out of postman using postman console (View -> Show Postman Console)

[2018-01-04 11:56] mccannt commented on #4019
@prashantagarwal Where its intermittent I cant say I see it on all of my collections, but I can say I have seen it happen on more than one.

[2018-01-04 12:22] kamalaknn commented on #4021
@ryan1st The root cause is that Postman is looking for `access_token` in the response (which is the specification for a standard OAuth2 implementation).

You can circumvent this for now, by using copy-pasting the `accessToken` into the `Access Token` input box.

We'll add more contextual information inside the App.

[2018-01-04 13:27] josslamberti commented on #3291
If anyone is still looking at reproducing this issue, it seems to occur more with a large repository and after having opened a large number of tabs.

[2018-01-04 14:07] shabrad commented on #2489
I have the same problem but with 5.4.1 installed and an update to 5.5.0 available.  With an update on Mac OS Sierra I normally have to supply a password for the sys admin for the mac but this upgrade doesn't ask for this.  I just have to click 'Remind me later' every time I run Postman.

[2018-01-04 14:56] jooleeanh opened #4023 "Collection run: missing total duration information"
## App Details:

[code]

When doing a collection/folder run, the total duration of the run isn't visible anywhere. It is only available when exporting the run (`"totalTime"`). It is the same for 'delay' (albeit seemingly less important).

It would be nice to see the information in the following places:
-  Collection Runner > Run Results (perhaps next to the 'just now')
![image](https://user-images

[2018-01-04 15:23] joaogomes44033 commented on #2385
+1

[2018-01-04 16:00] realpratiknikam commented on #3934
Any update on this? Having exact same issue @kamalaknn

[2018-01-04 16:46] nrobert commented on #3942
Hi all,

Got the same here.
As I cannot remove the HTTP_PROXY and HTTPS_PROXY environment variables for other use, I used another workaround which is solving my problem: set"NO_PROXY" environment variable:

SET NO_PROXY=localhost,127.0.0.1

Then it's working!

[2018-01-04 17:00] cool-george opened #4024 "Feature Request: Reference another request by name"
## App Details:

[code]

## Issue Report:
Please add a feature that allows references to be made from request (x) to request (y) in the scripts. pm.setRequest(); uses a URL and postman.setNextRequest(); uses the name but has to be used in conjunction with the Collection Runner, which doesn't do what I need it to do. Perhaps, using something like this: pm.getRequest("Request_Name (y)");

[2018-01-04 17:02] kamalaknn commented on #3934
@pratiknikam  We're working on a major revamp of our data structures. Issues like this should be fixed in the next couple of releases.

[2018-01-04 17:12] nick-randal commented on #3099
Still Broken in 5.5.0 but the workaround is still valid.

[2018-01-04 17:39] econno11ee commented on #59
Any plans to enable sharing a request as a link?

[2018-01-04 19:31] realpratiknikam commented on #3934
Thanks for update @kamalaknn . Any timeline for upcoming release?

[2018-01-04 19:39] GKandekar opened #4025 "No API Found to Create Users"
I am trying to Integrate Postman with Sailpoint IIQ to provision user in Postman Team. Their is no API to create user. No Use if we have to create user manually for each employee and Active them Manually.

[2018-01-04 20:15] SnorreFossland opened #4026 "Is it possible to put a environment variable from 1st request and put it in the responseBody of the 2nd request?"
## App Details:

Postman for Windows
Version 5.5.0
win32 10.0.15063 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently
 2. Expected behaviour:
The Body of 2nd request should contain the json data from the environment variable "Json_response"
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2018-01-04 21:00] varunbtr commented on #166
MOVE

[2018-01-04 21:07] hlubovac commented on #166
I don't think this is happening. I wish they say what the reason for that might be.

[2018-01-04 21:38] nathanboktae commented on #2013
That is not strict, it's reasonable and should be the policy of every company. It was that way when I was at my last < 10 person startup. This feature is a deal breaker for corporate usage, period. I have no idea why it's not being worked on immediately.

[2018-01-05 01:34] jpSimkins commented on #4005
I too am having some serious syncing issues. I have always noticed syncing issues with Postman.

My issues are:
- Missing folders in a collection
- Missing requests
- Collection name changes and new requests are missing

To give more insight, these issues happened when I had Postman opened on multiple devices. It seems syncing is not aware that one device should override the other device. For exam

[2018-01-05 01:50] astraydog commented on #4022
@SamvelRaja the request in postman console is below

![postmanconsole](https://user-images.githubusercontent.com/2909868/34592312-0c80c358-f1fe-11e7-88b5-54626082d50a.jpg)

I can not find the difference between curl code and postman tool...

[2018-01-05 03:13] SamvelRaja commented on #4022
@astraydog  The dev log shows postman is sending the request properly to the server.
You check your server logs to verify the same for the difference in the data received.

[2018-01-05 03:54] degraaf commented on #1947
This should be re-opened and support added for headers. I currently use two layers of authentication - basic auth (stage environment) and api key (for the application). Without folder level headers this cannot be managed centrally. Should be manageable at folder level.

[2018-01-05 06:49] tvvignesh opened #4027 "Manage Environments UI bug"
## App Details:
[code]

## Issue Report:
Environments displayed in one view but not in another. There are 2 ways now to manage environments (one via new in the top left portion and another via cog icon->manage environments at right portion)

Both show different data for same thing. Image attached below

**WHEN CLICKING NEW->Environment**
![p2](https://user-images.githubusercontent.com/1165845/3459

[2018-01-05 08:24] built-by-vjallada opened #4028 "Collection Runner when opened from collection does not default the Collection folder."
## App Details:
Postman for Windows
Version 5.5.0
win32 6.1.7600 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently. This feature was working fine during the earlier postman versions.

Steps to Reproduce:
1. Open the Postman application.
2. On the Collection Folder Click on ">" and then click on [Run]
3. Check that the Runner is opened successf

[2018-01-05 08:49] neilghosh opened #4029 "PUT methods does not upload the file."
## App Details:

[code]

## Issue Report:
 1. This bug always been there:
 2. Expected behaviour:
      When you select a file tp be uploaded as part of PUT request it does not confider the file. Also the code generated does not have --upload-file parameter.

1.Select the method as PUT and browse the file from file system.
2.Send the request and observe the request does not upload the file selecte

[2018-01-05 08:50] sbarberuk opened #4030 "Provide a description field for Global and Environment variables"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have never been able to add a description to an environment or global variable
 2. Expected behaviour:
I would like to be able to provide a description against my global variables, currently the editor only allows me to enter a name and a value, a third column for description would be

[2018-01-05 09:34] seelts commented on #4011
@harryi3t thanks for explanation
Variables are not such convenient in that case.
It is much easier to use query params, because
 - they have separate, dedicated input fields
 - they are on the first tab

[2018-01-05 10:01] astraydog commented on #4022
it's not convenient for us to check the sever log....
![image](https://user-images.githubusercontent.com/2909868/34604364-71ffb93e-f242-11e7-8b5c-d872f5b06e34.png)

[2018-01-05 10:22] tegomass commented on #1757
@RobbyDeLaet Sadly, it doesn't work in a collection runner context...

[2018-01-05 10:38] RobbyDeLaet commented on #1757
@tegomass what do you mean exactly? I run all my tests in the collection runner context without a problem.

[2018-01-05 11:39] TAkbay commented on #4007
@kunagpal I could make a small postman collection for you and I could reproduce the problem.
It only appears in URLs with "?wsdl" and placeholder like "{{PLACEHOLDER}}.
So it changes the url after the export from v2.1 to 2.1 to "?wsdl=" and "{{PLACEHOLDER}}="
Here the collection.json this should be sensitive enough 😄

[code]

[2018-01-05 12:14] tegomass commented on #1757
@RobbyDeLaet Hi Robby, thanks to you, after testing again, it works fine. I had to miss something... Thank you for your answer :+1:

[2018-01-05 12:27] numaanashraf commented on #4027
@tvvignesh Thanks for writing in. Could you clarify the issue? The first one is a screen to create a new environment and the second screen is a list of environments you currently have that you might want to manage.

[2018-01-05 12:31] numaanashraf commented on #4025
@GKandekar Thanks for writing in. Are you trying to setup Sailpoint IIQ as an identity provider for your Postman Team? Please write to us at `help@getpostman.com` and we'll be happy to walk you through setting up this integration.

[2018-01-05 12:34] tvvignesh commented on #4027
@numaanashraf : OOPS! Sorry.. I got it wrong. Its working fine. I got a bit confused since New->Environment gave a differnt screen and Cog->Manage Environment gave a different screen. But when I clicked cancel, it brought me back to the list.

[2018-01-05 12:34] #4027 closed, assigned to numaanashraf

[2018-01-05 12:38] numaanashraf commented on #4029
@neilghosh Thanks for writing in. Are you trying to send the file as a form data or as a binary payload in the request?

[2018-01-05 12:40] numaanashraf commented on #4023
Thanks for the feedback @jooleeanh. I've passed this along to the team. 😄

[2018-01-05 12:42] numaanashraf commented on #4028
@sekhar-selenium Thanks for writing in. We are looking into this.

[2018-01-05 12:49] numaanashraf commented on #4026
@SnorreFossland, You can use the value from the environment variable directly in the URL of the second request - `localhost:8080/{{Json_response}}`;

[2018-01-05 12:51] numaanashraf commented on #4030
@sbarberuk Thanks for the feedback. I've passed this along to our team.

[2018-01-05 13:24] jooleeanh opened #4031 "Allow new line characters in Test Results"
## App Details:

[code]

### Feature Request

Have `\n` result in a new line in test results.

### Current situation

New line characters are ignored when test results are generated:
[code]
results in:
[code]

### Scenario

If one wants to display all the errors generated by a schema validation with tv4, the current best solution (in terms of readability) is to generate a test for each error. This

[2018-01-05 15:27] neilghosh commented on #4029
It's binary form upload.

On 5 Jan 2018 6:08 pm, "Numaan Ashraf" <notifications@github.com> wrote:

@neilghosh <https://github.com/neilghosh> Thanks for writing in. Are you
trying to send the file as a form data or as a binary payload in the
request?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/postmanlabs/postman-app-sup

[2018-01-05 15:38] snaits opened #4032 ""Manage Access Token" close button after getting new access token not working as intended"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been here
 2. Expected behaviour: Click close button, "Manage token" closes
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

In th

[2018-01-05 16:20] fefranca commented on #3300
This issue still persists in Postman client (macOS 10.12 / 10.13). Testing tv4 from source brings up both properties (dataPath and schemaPath). This would be really useful for debugging endpoint schema changes using Postman app / monitors.

[2018-01-05 16:20] pdeak opened #4033 "Support switching client certificates on the same domain"
Considering Postman's function as a development / testing tool, the ability to test different client certificates (i.e. to test different users or accounts) on the same domain seems like it would be a common use case?

Certainly in all our projects, we have been forced to continue using the Chrome App version of Postman, as it allows us to select a new certificate from the system's installed clien

[2018-01-05 16:56] chadbr commented on #3390
any updates here? an ETA?

[2018-01-05 16:57] loganhuskins commented on #3691
Same here. I seem to remember not having this issue always though? Unsure when it started.

[code]

[2018-01-05 16:58] a85 commented on #3390
Commented here on our approach towards this: https://github.com/postmanlabs/postman-app-support/issues/1669

[2018-01-05 20:49] punchdrunkdetective commented on #2970
I think my issue is related to this bug.

I am parsing a csv file with empty fields. I can actually log out the data object's properties in the pre-request script of postman, and postman seems to be correctly parsing ,,, into four nulls in my form json body. But when I capture what data is sent in the post itself, I see {{varirableName}} inside the body  instead of null.

Is there any update on th

[2018-01-06 00:06] pc-tvaishnav commented on #3968
x-www-form-urlencoded request doesn't work on mac native client 5.5.0 - it works on chrome app.

[2018-01-06 01:18] ankr11 commented on #1066
I can't believe that this is still not a thing :/

[2018-01-06 02:44] kamalaknn commented on #4024
Thanks, @cool-george

I'm marking this as a feature request. We'll share updates on the status here.

[2018-01-06 05:25] shairozan commented on #3691
Same issue here

[code]

[2018-01-06 13:34] GioLogist opened #4034 "(GET method) request.data empty"
## App Details:

[code]

Encountered recently.

Expected behavior:
**request.data includes params from URL**

Actual behavior:
**request.data is empty**

[2018-01-07 01:04] ericnewton76 commented on #3907
Agreed.  I had suggested this a long time ago as well.

Its Collections that need specific Environments.  Usually my collections need one of several different baseUrls: dev/stage/production to run some smoke tests against.

Still hoping to see this feature soon.

[2018-01-07 10:39] TatianaDenel opened #4035 "Postman app history disappears in VDI"
Postman app installed at Windows 7, running through VDI.
My problem is, that any time Image update all users lost there history at postman.
Where is postman app locates it's settings and history in the image? How can we protect it from deleting?
## App Details:

[code]

[2018-01-07 11:47] BalazsR commented on #3602
+1: for taking "POST request body JSON object properties" into account within the matching algorithm. So, we could get different example responses for different request body properties.

[2018-01-07 15:34] eyJhb opened #4036 "HTTP Status code 204"
## App Details:
[code]

## Issue Report:
When the API/webservice sends a 204 (no-content), that Postman app will say it failed to get a response from the server..

It should just display nothing, with the HTTP Statuscode 204.

[2018-01-07 16:02] eyJhb opened #4037 "If invalid JSON is given, nothing is sent without information the user"
## App Details:
[code]

## Issue Report:
If invalid json is specified, nothing is sent to the backend server, instead of just sending the invalid json data....

[2018-01-07 16:11] eyJhb commented on #4037
Related to Laravel, not Postman.

[2018-01-07 16:11] #4037 closed, assigned to nobody

[2018-01-07 21:38] SitiSchu commented on #166
Could do it similar to the REST Client in PyCharm (or possibly all IntelliJ IDEs) where you have a dropdown but you can also write in your own Method name (I don't need it badly, just wanted a way to test BREW and WHEN and it would be nice if you could do it in postman)

[2018-01-08 01:17] ryan1st commented on #4021
@kamalaknn I understand. I wish there were some option I can specify the key name for the access token. Anyway, for now I'll add another `access_token` key for the access token.
Thank you!

[2018-01-08 03:41] #2992 closed, assigned to nobody

[2018-01-08 03:42] #3707 closed, assigned to nobody

[2018-01-08 04:02] pww22 commented on #4005
I just had this issue occur myself:

1. Created a Folder in an existing collection
2. Dragged items into it
3. Received the sync error, I accepted all local changes
4. Folder disappeared, along with all requests

I can see the missing folder in the Web, and on a colleagues postman instance, when subscribing for the first time, the folder also appears there.

Resolved the issue by Signing Out and S

[2018-01-08 04:09] shreyaskarnik commented on #2931
+1 on Snap package!

[2018-01-08 04:10] kamalaknn commented on #4021
@ryan1st Adding a key name to extract the token has been on our minds. The configuration being global to all requests in the App and first user experience have to be considered too. We'll look into this when we do the next wave of OAuth 2.0 improvements 😄

[2018-01-08 05:05] Vegapa commented on #1632
i want to get the all the values for the brand from the below JSON, How do i get it from postman tool
[
    {
        "brand": "Suncorp",
        "productType": "NPR",
        "productSystemID": "1109890",
        "productSystemPartyID": "09821347"
    },
    {
        "brand": "Suncorp",
        "productType": "OBP",
        "productSystemID": "3456345",
        "productSystemPartyID": "518564425

[2018-01-08 07:48] pyarun commented on #971
+1

[2018-01-08 08:27] yogeshdengle opened #4038 "Postman error while reaching endpoints with self signed certs"
## App Details:
[code]

## Issue Report:
When calling an API with a self signed cert even with the the Settings-> General -> SSL Certificate Verification turned off, the SSL handshake fails.
The error message is:

**Error: write EPROTO 101057795:error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure:c:\projects\electron\vendor\node\deps\openssl\openssl\ssl\s23_clnt.c:769:

[2018-01-08 09:00] gototester commented on #3934
@pratiknikam Good news,  Looking forward to the fix.

[2018-01-08 11:37] thecuriousdev commented on #4036
@eyJhb thanks for reporting this issue, I tried from my side but not able to re produce the issue, can you please provide more details (screenshot, URL if its publicly available)?

[2018-01-08 11:42] thecuriousdev commented on #4031
@jooleeanh thanks for reporting this, We will look into it.

[2018-01-08 11:49] thecuriousdev commented on #4033
@pdeak thanks for reporting this, we'll look into this.

[2018-01-08 11:51] claudio-incomedia commented on #2750
Same problem here. I simply get a Parse Error with no explanation about it.
Curl and chrome browser work fine.

[2018-01-08 11:53] thecuriousdev commented on #4034
@GioLogist thanks for reporting this issue, please provide more details to debug this issue.

[2018-01-08 11:56] thecuriousdev commented on #4032
@snaits thanks for reporting this issue, we'll look into this.

[2018-01-08 11:56] GioLogist commented on #4034
Sorry about that, I was speaking in regards to test scripts.

`request.data` returns empty when using the `GET` method

[2018-01-08 12:01] thecuriousdev commented on #4035
@TatianaDenel thanks for reporting this issue, we'll look into this and get back to you soon.

[2018-01-08 12:02] GioLogist commented on #4034
Sure.

`request.data` returns empty when using the `GET` method in test scripts. I would expect it to show `params`. However, it returns empty.

Here's an example:
![screenshot 2018-01-08 04 01 17](https://user-images.githubusercontent.com/4120754/34669868-a979893e-f428-11e7-9e95-5c4190b9c9ea.png)

[2018-01-08 12:10] thecuriousdev commented on #4038
@yogeshdengle thanks for reporting this issue, can you please provide a screenshot of settings->certificates

[2018-01-08 12:36] yogeshdengle commented on #4038
There are no client side certs configured.

![image](https://user-images.githubusercontent.com/3128121/34670988-934a92f4-f49e-11e7-94f9-abd76c6a165c.png)

[2018-01-08 14:56] willybill commented on #3181
This serious bug, which causes a breakage when using newman, is 7 months old. If you have no intention of fixing it can you simply say so and we'll start moving to another testing app.

[2018-01-08 16:20] trajano commented on #2750
@claudio-incomedia post the output of `curl -v` pls

[2018-01-08 17:18] punchdrunkdetective commented on #1167
This is an old post, but I think Im seeing this same issue in version 5.5.0. If I put nothing in the csv file for a var, I get the stringified var name. If I put null in the csv file, I get "null" for the var.

My postman script has some like this in it's post body:
"var": "{{var}}"

[2018-01-08 17:31] irmingard commented on #3535
Still happening in v5.5.0, can you please reopen the issue?

[2018-01-08 20:23] willybill commented on #3181
It just got worse as we are seeing this problem inside Postman now, in v5.5.0.

[2018-01-08 21:53] mcs130 opened #4039 "POSTMAN app itself (UI not just the Runner) appending = to variables in query params Mac App"
## App Details:

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:  Issue was not there until latest 5.5.0 update was made.
 2. Expected behaviour: When setting query parameters based on Environment variables associated with a SELECTED Environment config file - it should just add the exact string without any mutations/additions
 3. Console logs (http://blog.g

[2018-01-09 00:46] JuanZamudioGBM commented on #4014
any updates on this? do you need more info?

[2018-01-09 02:51] Calamitous opened #4040 "Lost all collections"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I experienced this today.

 2. Expected behaviour:
Collections would not vanish.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]
 4. Screenshots (if applicable)
N

[2018-01-09 07:12] claudio-incomedia commented on #2750
Here you go. It happens only with POST so I added "--data" to curl.

`curl -v --data "{ \"type\": \"import\", \"input\": { \"path\": \"E:\\\\yotis.iwzip\" }` `}"http://192.168.0.88:1024/operation`
`*   Trying 192.168.0.88...`
`* Connected to 192.168.0.88 (192.168.0.88) port 1024 (#0)`
`> POST /operation HTTP/1.1`
`> Host: 192.168.0.88:1024`
`> User-Agent: curl/7.47.0`
`> Accept: */*`
`> Content-Le

[2018-01-09 07:38] ipaskhover commented on #156
Version 5.5.0 on Mac includes the feature and it looks like this:
![screenshot 2018-01-09 09 37 27](https://user-images.githubusercontent.com/34438704/34709688-d8714594-f520-11e7-84ee-bc8291e3d154.png)

[2018-01-09 08:39] sinan-gul commented on #971
+1

[2018-01-09 09:50] polydoreplasden commented on #4028
Hi, this looks like the same issue previously reported under https://github.com/postmanlabs/postman-app-support/issues/3916

[2018-01-09 09:57] polydoreplasden commented on #3887
We are seeing this issue also, previously reported under https://github.com/postmanlabs/postman-app-support/issues/3916

[2018-01-09 09:57] mattisebastian opened #4041 "Postman for Windows is not capturing any requests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have this issue with the desktop version, switching from the Chrome App
 2. Expected behaviour:
I want to activate request capturing but it is not capturing anything
 4. Screenshots (if applicable)

## Steps to reproduce the problem

I have to use a proxy at my company:
![image](http

[2018-01-09 11:05] malyalal opened #4042 "Can't find postman collections which I have not used for few months."
I am a postman pro user. I lost all old postman collections, how can I restore them?
it is nearly same as issue #4040

## App Details:

Postman for Mac
Version 5.5.0
OS X 17.3.0 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
yes, since i started using postman downloaded app.
 2. Expected behaviour:
Restored all collections I created.
 3. Console log

[2018-01-09 11:23] Luthien-in-edhil commented on #2521
Copy that. I need to be able to test the scenario where no Content-Type header is given.

[2018-01-09 11:45] kamalaknn commented on #4040
Hi,

Sorry that you've lost your data. Postman stores all its data in the `~/.config/Postman` for Linux. Could you verify if you have data in it?

Anyways, if you had signed in, signing in again should bring back all the data.

If none of these work, could tell us if you saw the sign in screen that led to your data loss?

[2018-01-09 11:48] kamalaknn commented on #4042
I've left a comment on #4040, could you try loggin in again?

I'm closing this as a duplicate. Please follow the parent issue for update.

[2018-01-09 11:48] #4042 closed, assigned to nobody

[2018-01-09 11:53] SnorreFossland commented on #4026
Thanks, Im not able to change the Content-Type  from text/html to application/json.
The Body content is like this:

HMTL tags.... Error
        <pre>Cannot GET /%7B%22metis%22:%7B%22$%22:%7 ................... json data sting
HTML tags

I set the Headers to:
 Content-Type:application/json
Accept:application/json
but still got only HML response.

[2018-01-09 11:55] kamalaknn commented on #4041
I could see that, in your manual proxy configuration, you've used `http://proxy` as opposed to `localhost` which Postman listens to for capturing requests.

You can read more about capturing requests from our docs - https://www.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests

Hope this helps.

[2018-01-09 12:16] harryi3t commented on #4007
@Mina05 This is a known bug and the fix is already in progress.
You can expect this to work in the next version :)

Also, this is duplicate of https://github.com/postmanlabs/postman-app-support/issues/3991
please subscribe to the original issue for updates.

[2018-01-09 12:16] #4007 closed, assigned to prashantagarwal, harryi3t

[2018-01-09 12:18] harryi3t commented on #4039
@mcs130 This is a known bug and the fix is already in progress.
You can expect this to work in the next version :)

Also, this is duplicate of https://github.com/postmanlabs/postman-app-support/issues/3991
please subscribe to the original issue for updates.

[2018-01-09 12:18] #4039 closed, assigned to harryi3t

[2018-01-09 12:22] harryi3t commented on #3181
@willybill We have found the root cause and have fixed it.
With the next version of Postman, this should work fine.

[2018-01-09 12:25] harryi3t commented on #3181
Related issue: https://github.com/postmanlabs/postman-app-support/issues/3991

[2018-01-09 13:28] ppaulocm commented on #2331
"Identified problems: selected file saved does not appear after you close the tab. Also, you can not hold two requests using different files."

Is There any target for this? In my case, I have a collection that is exported to be ran by newman on Teamcity environment. Everytime that I need to change some test, I have to open all tabs that has some "file upload test" and put the files again. In a su

[2018-01-09 14:58] Calamitous commented on #4040
There are a number of files in ~/.config/Postman:

[code]

I'm not sure where in here the collections would be stored.

I was not signed in.  I did not see a sign in screen; I opened it like I usually do (from the command-line), there was an introductory/welcome screen, but no data behind it.

[2018-01-09 15:28] AlexanderTunick opened #4043 "Last Postman version. Can't execute POST request"
Having just simple POST request, after installing the newest Postman version
And now having the same data i do it successfully in "old" postman and can't in the new one

`There was an error in evaluating the test script:  JSONError: Unexpected token '<' at 1:1 <!DOCTYPE html> ^`

I will give more info if you need

[2018-01-09 16:20] somadeaki commented on #3596
A simple "disable hotkeys" switch would suffice. The app is basically unusable on non-English keyboard layouts.

[2018-01-09 16:41] mjkraner commented on #2493
Would love this too

[2018-01-09 16:51] dangithubs commented on #1946
I think the issue must still exist as I am getting the same behaviour. It displays some of the data retrieved from the endpoint and then the postman panel just goes white and locks up. You then have to manually kill the process. I'm running Version 4.10.2 as the updater seems to be broken as well so it wont update to 5.5.0.

[2018-01-09 18:10] psi-4ward commented on #204
Pls give an option to download the docs

[2018-01-09 19:11] trevorhanus commented on #1180
+1

[2018-01-09 23:00] johnle192 commented on #285
+1

[2018-01-09 23:14] bfan1256 commented on #2729
Any updates on the implementation of this?

[2018-01-09 23:32] PrimeTimeTran commented on #1498
I'm getting this error on the stand along app Postman 5.5

[2018-01-10 00:37] javabrett opened #4044 "Add Collection Authorization type "Headers""
## App Details:
[code]

## Issue Report:

This is an enhancement request to add a new Authorization type to the existing types available for a Collection: the new type might be called _Headers_ or _Custom Headers_.

The idea being that you can add an arbitrary set of Header name/value pairs to be used as authorization tokens and added to each request.

Sometimes when you are developing you just ne

[2018-01-10 06:10] j9feng commented on #2225
Same issue here. Proxy doesn't work in 5.3.2

[2018-01-10 07:13] hainee commented on #1947
+1000000

[2018-01-10 08:03] Rylai-Zihang commented on #2214
How about error"Error: socket hang up" in console view of postman?
I've tried to turn off SSL but not work.
I visited by IP.
My backend is OK.

[2018-01-10 08:28] javabrett commented on #1947
@degraaf and others arriving here - this issue is closed.  I've opened #4044 to push for generic Headers as a new Auth type. Might be worth adding thoughts or a thumbs-up there.

[2018-01-10 08:47] dlgoodchild commented on #4044
+1 (just as in #1947)

Seriously, this app _really_ needs ability to set common headers and properties for all requests.

[2018-01-10 08:58] supersuf commented on #1552
+1

[2018-01-10 09:30] szyb opened #4045 "Local proxy settings"
This problem occurs in standalone windows version.
I have local proxy installed and all traffic goes through this proxy. Proxy is configured in Windows proxy settings. I'm trying to sent GET request to http localhost service. In Windows proxy settings I set "Do not use proxy for local connections" (which is most likely not taken into account)
Proxy settings in Postman are set to "Use system Proxy"

[2018-01-10 10:20] laclance commented on #3963
same problem on the mac app, Sierra 10.12.6

[2018-01-10 10:34] abhishekbhalani opened #4046 "Issue on the Authorize token request"
## Password not sending with POST request:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Yes
 2. Expected behaviour: Password must be send along with request.
3. Screenshots (if applicable)
http://prntscr.com/hyg0h6
http://prntscr.com/hyg0ow

[2018-01-10 10:51] tanpnguyen139 opened #4047 "How to store list of values in environment variable and use them for next request?"
Dear all,

Please help me on this case: below is my 1st request response, you can see that in "content" object has many "policyNum" and "policyNumEncrypt".  I am trying to store policyNumEncrypt value to variable and use them on next request but still don't have any solution for this. Please help me solution to how to store in environment and use this environment for next request? I have tried cod

[2018-01-10 12:38] Goltergaul commented on #3902
This does not work for me on 5.5.0 on ubuntu. tabs are still not remembered :(

[2018-01-10 12:50] Goltergaul opened #4048 "Postman does not remember open tabs"
## App Details:
[code]

## Issue Report:
 1. This issue has been here since i switched from the browser extension to the native app
 2. Expected behaviour: When i have open tabs, close Postman and reopen Postman then the tabs should be restored. Instead all are gone.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->To

[2018-01-10 12:51] SamvelRaja commented on #4043
Can you try switching to preview mode in the response view?
The server giving a HTML response, which postman trying to do JSON.parse

[2018-01-10 12:55] SamvelRaja commented on #4044
I don't think we will add this feature as new authorization header, but we get your concern of having common headers for all the requests in a collection. We shall look in that way and solve the usability.

[2018-01-10 12:56] SamvelRaja commented on #4045
Can you share us the screenshot of the postmanconsole?
view -> show postman console, this will give us much information to debug thing faster.

[2018-01-10 13:02] szyb commented on #4045
Sure, here you go. "Invalid protocol 127.0.0.1" it says...
![postman](https://user-images.githubusercontent.com/1598139/34774233-d055e542-f60e-11e7-86ac-6c32d190eef1.png)

[2018-01-10 13:03] SamvelRaja commented on #4046
If I am not wrong, the password property in the data is not showing in the code generated?
In that case, it is properly showing for me.
Kindly check and let me know if I missed any flow.
![code-gen](https://user-images.githubusercontent.com/5114052/34774365-0fa1b08e-f635-11e7-9185-2434b56d8648.gif)

[2018-01-10 13:13] SamvelRaja commented on #4047
@phuctan139  This blog has the step by step procedure for storing and using an environment variable across requests.
http://blog.getpostman.com/2014/01/27/extracting-data-from-responses-and-chaining-requests/

And in your problem, `var len=data.content.length;` should be replaced with `var len=data.formDataJson.content.length;`

[2018-01-10 13:13] #4047 closed, assigned to nobody

[2018-01-10 13:16] SamvelRaja commented on #4048
Thanks for bringing this to our notice, we are tracking this here :) https://github.com/postmanlabs/postman-app-support/issues/3202

[2018-01-10 13:16] #4048 closed, assigned to SamvelRaja

[2018-01-10 13:22] Goltergaul commented on #3202
i can confirm the same behavior that @JordanTribley reported for version 5.5.0 on linux ubuntu

[2018-01-10 13:31] thecuriousdev commented on #4034
the `request.data` is represents the request body, since GET doesn't have a request body its returns empty. I think you are looking for `request.url`

[2018-01-10 13:31] #4034 closed, assigned to thecuriousdev

[2018-01-10 13:31] harryi3t commented on #4045
@szyb Just add protocol to your windows proxy settings

It should be `http://127.0.0.1` instead of `127.0.0.1`

[2018-01-10 13:34] harryi3t commented on #4045
Possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/3667

[2018-01-10 13:41] Saif03 opened #4049 "Postman windows native application installer failed"
Postman for Windows Native Application
Version win64 5.5.0
OS windows 10

When I try to run postMan native application installer for windows I get the following error:
"There was an error while installing the application. Check the setup log for more information and contact the author."

Setup Log:
[SquirrelSetup.log](https://github.com/postmanlabs/postman-app-support/files/1618956/SquirrelSetup.l

[2018-01-10 13:45] SamvelRaja commented on #4049
@Saif03  The log you provided shows,
[code]
Can you check the permission of the directory?

[2018-01-10 13:52] dlgoodchild commented on #4044
This is great news to hear that common headers may finally arrive. My usage of Postman has been in slow decline, because of that one major missing feature...it really is quite vital for large systems.

[2018-01-10 13:59] yasiralijaved commented on #3531
I also got the same issue. Resolved it after removing the _crf and _crf-backend cookies.

[2018-01-10 14:05] eyJhb commented on #4036
@thecuriousdev I've made the request with postman standalone client, and then again in python - printing out the status_code, to show that it  gets something.

Images here - https://imgur.com/a/hsFNu

The headers that python gets in return are

`{'Content-Type': 'application/json', 'Cache-Control': 'no-cache, private', 'Date': 'Wed, 10 Jan 2018 14:01:42 GMT', 'Server': 'nginx/1.13.3', 'Connection'

[2018-01-10 14:10] harryi3t commented on #4045
@szyb

Since you have selected "Do no use proxy for local addresses", the request should not go through the proxy.

But there is an exception to this, if there is an environment variable is set up for proxy (http_proxy, https_proxy, HTTP_PROXY or HTTPS_PROXY) then Postman will use that.

Also, in that case, we expect the protocol to be present. This error is seen when you have an environment varia

[2018-01-10 14:31] mattdeluco opened #4050 "[Feature Request] Make environment dropdown wider"
Right now the environment selection dropdown box is around 40 characters wide.  I've got a lot of environments with a lot of detail in their names often exceeding the width of the dropdown.

It would be nice if the dropdown could be wider to accommodate longer names **or** if a tooltip would pop up displaying the full name.

The box displaying the current environment is even more narrow - around 3

[2018-01-10 14:33] szyb commented on #4045
@harryi3t
Yes, I have http_proxy setup. Changing it to "http://127.0.0.1" haven't solved my problem due to my configuration (explained below). I just cannot use proxy to local connections - it just don't work in my case. When I remove this environment variable then it works fine. But I would like to have it defined.

My configuration is:
I have local proxy (port 4480) which don't requires authenti

[2018-01-10 14:53] szaza commented on #4043
Hi,
I observed the same issue, the POST request worked for me with the version 5.4, however it doesn't work with the current one:

Postman for Windows
Version 5.5.0
win32 10.0.15063 / x64

I figured out it works if I specify the protocol in the URL like: https://domain.example.
With the old version it works well without specifying the protocol.

Right now if I put simply domain.example in the URL

[2018-01-10 14:54] amnoman commented on #3171
I'm facing the same problem. My collection need much more time because to send next request I've to wait for certain update. Need a solution asap!

[2018-01-10 15:02] harryi3t commented on #4045
This is a known issue/feature request (a setting to disable proxy for env vars also)
For now, there are 3 workarounds

1. You can remove the `http_proxy` env variable. Other non-terminal apps should continue to work using the proxy from operating system.
2. If the above is not possible, then you can also set another env var `NO_PROXY` to the URL(s) that you wish should not go through the proxy
3.

[2018-01-10 15:05] callmeaatrey commented on #4050
@mattdeluco You can try dragging the line that is there to the left of the environments dropdown to resize it if you want to view more details. Please feel free to re-open it if I misunderstood.

[2018-01-10 15:05] #4050 closed, assigned to nobody

[2018-01-10 15:12] mattdeluco commented on #4050
Hah, amazing.

I checked to see if I could drag something wider, but was looking in all the wrong places.

Thanks!

[2018-01-10 15:14] tomershay commented on #3845
+1

[2018-01-10 15:49] danielo515 commented on #1627
@prestonvanloon as it is true that you can configure your load balancer and/or server better, there are situations where this is not possible, and even not desirable.
I don't see why could not you accept an optional parameter indicating the port that should be used for calculating the mac.
If you don't want to make this configurable in an easy manner, at least allow the more advanced users to cust

[2018-01-10 16:02] barrettlee opened #4051 "Authorization OAuth2.0 Type with grant type "Authorization Code" missing "resource" argument in /token POST"
## App Details:
[code]

## Issue Report:
#### 1. Did you encounter this recently, or has this bug always been there:
*Encountered recently but only recently tried the authorization OAuth2 feature*
#### 2. Expected behaviour:
*Receive bearer token from **Azure** using Auth code flow*
#### 3. Console logs
POSTing to  `https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/oauth2/toke

[2018-01-10 20:44] vdespa opened #4052 "Documentation confusing when it comes to variable scopes for local variables"
First of all, what is a local variable anyway? The [documentation](https://www.getpostman.com/docs/postman/environments_and_globals/variables) refers to them, but no example is given. So my understanding is that a local variable is a variable that I defined inside a pre-request or tests section, like:

`var foo = "bar";`

The documentation gets more confusing after you read this:

It seems that yo

[2018-01-10 21:01] EricPSU commented on #4038
I'm having the same issue in v5.5.0 for Linux.  I'm attempting to use a self-signed certificate to make my API call.  With the `SSL Certificate Verification` setting `ON`, I get an error `SSL Error: SELF_SIGNED_CERT_IN_CHAIN`.  When I turn the `SSL Certificate Verification` setting `OFF`, it doesn't send my certificate with the API call.

Shouldn't the `SSL Certification Verification` setting shou

[2018-01-10 21:29] EricPSU commented on #3631
I'm having the same issue in v5.5.0 for Linux.  I'm attempting to use a self-signed certificate to make my API call.  With the `SSL Certificate Verification` setting `ON`, I get an error `SSL Error: SELF_SIGNED_CERT_IN_CHAIN`.  When I turn the `SSL Certificate Verification` setting `OFF`, it doesn't send my certificate with the API call.

It appears the `SSL Certification Verification` setting doe

[2018-01-10 22:33] brpaz opened #4053 "import collections programatically into Postman app."
Hello.
Is there any way to import collections to programatically to the Postman App? I would like to create a script, that will fetch a couple of Postman collections from multiple sources and automatically import them to Postman App without the user having to import one by one.

After some investigation I discovered everything is stored on the local storage.  I tried to open ithe "file__0.localsto

[2018-01-10 23:12] vpzed commented on #3977
Over the last couple days I have tried every option I can think of to see if I could get Oauth 2.0 working with Postman 5.5.0 on Windows but no luck.  It was working without issues in a previous version (unfortunately I don't remember the version number) but the Oauth 2.0 screen was different - it was the previous one with the Request access token locally checkbox at the bottom.

I'm open to sugge

[2018-01-11 01:38] javabrett opened #4054 "Import swagger.json cannot negotiate WWW-Authenticate: Basic"
## App Details:
[code]

## Issue Report:
Postman Import (e.g. of `http://someserver/swagger.json`) cannot negotiate a 401 `WWW-Authenticate: Basic` response from a remote server.  Ideally Postman would either allow pre-authentication, or on a Basic auth challenge launch a web-browser style Basic auth dialog, then continue with the authentication header in-place.

As a secondary bug (and perhaps fi

[2018-01-11 04:32] tanpnguyen139 commented on #4047
@SamvelRaja

THanks for your reply, it worked now, now I will has an array variable policyNumEncrypt, so how can I set it on next request since it is an array?

Here is my body for request

`{
 "principle": "290338803",
 "formDataJson": {
   "policyNum" : "{{policyNumEncrypt}}"
   }
}`

[2018-01-11 05:02] built-by-vjallada commented on #4028
There are couple of other observations made:

1. When ever the collections in the application are less such as 4 or 5 collections, I see that on clicking on RUN button for the collection, it takes me to the runner page where the Collection as well as the Environment are pre-populated.

2. When ever the collections in the application are more than 10 (on my application I got 23 collection folders),

[2018-01-11 06:04] Saif03 commented on #4049
@SamvelRaja well that's because no such directory exists, my user name is **sghalib**, not **sghaLocal**. I don't know what its trying to do there.

I guess the directory path should be:
`"C:\Users\sghalib\AppData\Local\Postman\app-5.5.0\lib\net45"`

or am I wrong?

[2018-01-11 07:08] szyb commented on #4045
@harryi3t
I will go with 3rd option.
Thank you for your support

[2018-01-11 07:26] akki1997 opened #4055 "Generate response data similar to what we get in Postman in Newman"
I have to run 3 post requests with image uploads. Hence use newman instead of postman. The requests are working fine. But the JSON file exported does not have the response data as fetched in Postman. I have to use newman as I want to run a large number of iterations with image uploads and Postman does not support it.

Tried using -O but it didnt work.
I require the output in the following format

[2018-01-11 08:08] barontechIO commented on #285
+1

[2018-01-11 10:54] harryi3t commented on #3977
@vpzed

grant_type=authorization_codecode=Msomestuff-ce16b4678cderedirect_uri=https://www.getpostman.com/oauth2/callbackclient_id=123456

This should not happen. What are you using to intercept the request?
I tried with a proxy in between ([mitm proxy](http://docs.mitmproxy.org/en/stable/install.html)) and this is what I see

![mitmproxy_-p_8079_--setheader___q_x-proxy_mitm___python3_6_](https://u

[2018-01-11 11:54] sivcan commented on #4054
If I understand correctly, you're trying to import a swagger file behind an authentication barrier.
If so, postman doesn't support this yet.

Link import was designed to import unauthenticated links, this doesn't look like a feature we'll be supporting.

[2018-01-11 11:54] #4054 closed, assigned to nobody

[2018-01-11 11:58] ghost commented on #2729
+1

[2018-01-11 12:01] sivcan commented on #4055
Hi @akki1997 , this is an issue for Newman.
Kindly report the same on the Newman Repo : [Newman Issues](https://github.com/postmanlabs/newman/issues)

Closing the issue here.

[2018-01-11 12:01] #4055 closed, assigned to nobody

[2018-01-11 12:03] sivcan commented on #4053
Hi @brpaz , we've been thinking about implementing a postman CLI with functionality aiming at a similar objective.
I'm adding this as a feature request and will keep you updated.

[2018-01-11 12:06] sivcan commented on #4053
There was a similar feature request raised here [#2691](https://github.com/postmanlabs/postman-app-support/issues/2691)

You can follow the same.
Closing this issue.

[2018-01-11 12:06] #4053 closed, assigned to nobody

[2018-01-11 12:24] sivcan commented on #4051
Hi @barrettlee,
Resource is not part of OAuth2 Spec. For more details refer the following :
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/2523#issuecomment-331790634

[2018-01-11 12:24] #4051 closed, assigned to nobody

[2018-01-11 13:09] sivcan commented on #4052
Hi @vdespa.
Variables are simply used in Postman the way you actually use them in a programming language.

Let's look at an example :
Suppose you want to hit the 2-3 domains with a simple get request as :
**url-to-be-hit/get?test=params-to-be-added**

The way we'll be using it in the request builder is  :
**{{domain-url}}/get?test={{params}}**

Now, for domain-url's you can set them as **environme

[2018-01-11 13:53] ghost commented on #2659
Finally I realized about the error.
The problems comes from wrong Header, A Header Content-length.
From Chrome App this Header is ignored.
I delete this header and now works fine.

[2018-01-11 13:56] barrettlee commented on #4051
Thanks. I will use the workaround mentioned in the other ticket.
You should consider adding custom fields for body parameters like this to add flexibility.

[2018-01-11 14:47] malyalal commented on #4040
As suggested by @kamalaknn I signed back in still, I don't see missing collections there.

[2018-01-11 14:53] vpzed commented on #3977
@harryi3t I copied that from the "Postman Console" accessed via View > Show Postman Console.

Here is what is shown in Powershell when postman is started via ./postman.exe

	Opening auth login window https://www.bungie.net/en/oauth/authorize?response_
	type=code&state=supersecret&client_id=20895&scope=&redirect_uri=https%3A%2F%2Fwww.getpostman.com%2Foauth2%2Fcallback
	Received redirect on auth log

[2018-01-11 15:12] efrenette11 commented on #3888
I've tested this on MAC with version Version 5.6.0-canary01 (5.6.0-canary01) and those always failed. How can I solve this issue ? how could I update to canary03 ?

[2018-01-11 15:51] rozaydin commented on #1180
+1

[2018-01-11 16:11] efrenette11 commented on #2392
+1

[2018-01-11 16:12] jmatelet commented on #3977
On my side, I observe a different behavior than the one described by @vpzed
when I press the Request Token button (flow auth code) I don't see any log in the Postman Console. A blank Postman window is opened and I can see the following line in PowerShell, then nothing happen. the request is never sent to the authorization server :

`Opening auth login window https://192.168.70.130:8089/api/oauth/a

[2018-01-11 16:22] fedebaier commented on #746
I'm having this same issue now, with version 5.5.0.

I'm making just a simple DELETE request and Postman makes it twice, no matter what Accept header value I set, or no Accept header at all.

[code]

[2018-01-11 16:25] efrenette11 commented on #3845
+1

[2018-01-11 16:27] vdespa commented on #4052
Thanks for your long response.

I still consider the documentation confusing, as it puts the local variables in the same "bucket" as the rest of the variables.

[2018-01-11 17:17] marcelomelodf commented on #3327
Deleting %APPDATA%\Roaming\Postman also worked for me.

[2018-01-11 17:41] sivcan commented on #4052
@vdespa - No problem.
We'll look over the same and see what we can change to make it even more easier to understand.
I'll be closing this issue now.
If you feel that there's still anything that's not clear then feel free to reach out.

[2018-01-11 17:41] #4052 closed, assigned to sivcan

[2018-01-11 18:45] AlexanderTunick commented on #4043
@SamvelRaja, thanks for the response, preview mode says:
_

_
so none useful information
@szaza, thanks, but originally I always specify protocol, therefore it's ok,
and here as well:
`http://34.234.5.97/api/v1/` I use it in variable `{{api_base_url}}`

[2018-01-11 18:46] brandon-clair commented on #3405
I'm also experiencing these crashes on the native Postman 5.1.3. I'm running it on Linux Mint 18.2 Cinnamon 64-bit:
[code]
The trigger for the crash has been inconsistent.

[2018-01-11 18:47] richmeyer7 commented on #6682
+1

[2018-01-11 18:58] vamsi9993 opened #4056 "Variables used in POST requests not properly being substituted by data file values in collection runner"
Hi,

I am trying to run a collection of requests in the collection runner that utilizes a data file in order to run tests. The bodies of each request is raw JSON using postman variables. An example of this is below:

{
   "uniqueId": {{uniqueId}},
   "clientReference": {
        "leadId": {{leadId}},
        "transactionId": {{transactionId}}
      }
}

My data files contain keys matching the vari

[2018-01-11 19:49] bgrabar opened #4057 "Default tab"
## App Details:
[code]

## Feature Request:

When I open an API request, Postman opens to the Authorization tab, which I don't use. I use the Headers and Body tabs.

Would it be possible to have a global setting to set a default tab (e.g., Authorization, Headers, Body, etc)?

Is it possible to have Postman remember the last tab displayed for a request and reopen that tab when the request next open

[2018-01-11 19:52] jmfayard opened #4058 "How do I reuse my code when writing tests?"
## App Details:

[code]

## Issue Report:

I have been using postman tests extensively, and came up with a set of little helper functions that fits perfectly my particular workflow.

What has been annoying is that I found no better way than to copy/paste them in each and every request, which becomes very quickly annoying when you have to synchronize them.

So today I was pretty excited to discover

[2018-01-11 19:53] culli commented on #3425
One way to work around this would be to add a preference to make urls not be clickable in results.  Also it might be nice to make them open in the default system browser instead of in postman.  https://github.com/postmanlabs/postman-app-support/issues/2030

[2018-01-11 20:19] HolisticDeveloper commented on #283
Interested in a resolution for this as well.

[2018-01-11 20:26] kunagpal commented on #4058
@jmfayard At the moment, context is not shared across collection/folder/request scripts, so you'll have to proceed with the above workaround for now. This would be a useful addition though, so I'm marking this as a feature request.

[2018-01-11 21:35] jacree opened #4059 "Postman works in GUI just fine. Does not from clipboard in my application (python)"
## App Details:

[code]

## Issue Report:
I'm trying to run the Postman App using the clipboard Python output from the body tab and I assumed I could do this in my own scripts. However only the Postman Gui works and having confirmed this. I get a return code of 200 or 202 something similar and I see my app executing. When I copy the clipboard and include, the endpoint app complains that it has rec

[2018-01-11 22:20] smacktoid commented on #3425
Whilst that would be one way to resolve the issue it's not the ideal solution when you're developing an API with hypermedia links in the body.

Developers of such APIs (like me!) would prefer the links to be clickable within Postman, so that they can design a nice, easily navigable URL structure. The current behaviour (opening a new tab) is fine, as long as the application behaves consistently onc

[2018-01-11 23:47] rgranadino commented on #1535
1+ for this, I was hoping the "Runner" functionality to work similar to SoapUI's Test Case functionality. ☹️ In SoapUI one defines the end points, create a test case which defines which requests are to be tested and what order they're in (+transferring data between requests and assertions).

[2018-01-12 01:37] popcornylu commented on #285
+1

[2018-01-12 02:16] sethb43 commented on #2833
Its late but...
@hnoe-c7ks7s, you have to hover over the postman icon on the task bar until the preview window comes up then right click on the preview window.  The alt+control+m solution that PaulRobson85 gave is a keyboard shortcut that does the same thing.

Still exists on v5.5.0 + windows 10 for me

[2018-01-12 04:23] l2eady commented on #1885
+1

[2018-01-12 04:24] l2eady commented on #1235
+1

[2018-01-12 06:52] cawoodm opened #4060 "Open Request should not reset tabs"
Whenever I open a new request, Postman defaults to the first request tab "Authorization".
This is a real pain sometimes, especially when one is only interested in the body.
Please keep the last request tab visible.

[2018-01-12 06:58] joshidhruv commented on #971
+1

[2018-01-12 10:47] Adraesh commented on #2489
Hi!

Any news on this topic?

![screen shot 2018-01-12 at 12 46 52 pm](https://user-images.githubusercontent.com/3873988/34871537-c43120f4-f796-11e7-8322-8c7b9f0b102a.png)
![screen shot 2018-01-12 at 12 46 42 pm](https://user-images.githubusercontent.com/3873988/34871538-c4515d10-f796-11e7-859a-420d4cc30689.png)
![screen shot 2018-01-12 at 12 46 36 pm](https://user-images.githubusercontent.com/387

[2018-01-12 10:53] Huffers commented on #3740
This has come up as a key issue at several retrospectives where I work.

We want automated tests of our API (which involves file uploads), so we use Newman to run the tests on build machines and Postman to edit and run them locally. Every time we export a collection it loses all the file uploads and we have to carefully commit only the changes we intended. And every few days someone accidentally c

[2018-01-12 11:42] sivcan commented on #2489
@Adraesh - By any chance is your **Postman.app** inside your Downloads folder ?
If yes, move it to the **Applications** folder and then try updating.

[2018-01-12 11:43] Adraesh commented on #2489
@sivcan Thanks for your fast answer! My Postman.app is in the Application folder.

[2018-01-12 11:59] sivcan commented on #2489
@Adraesh - Did you try this https://github.com/postmanlabs/postman-app-support/issues/2489#issuecomment-313596858 as mentioned ?
If yes, share the logs.

[2018-01-12 12:08] Adraesh commented on #2489
@sivcan Thanks it worked by starting the app with the console!

![screen shot 2018-01-12 at 2 06 04 pm](https://user-images.githubusercontent.com/3873988/34874491-ca5427aa-f7a1-11e7-9b87-139bc07e2f0a.png)

[2018-01-12 12:24] sivcan commented on #2489
@Adraesh - Awesome!

[2018-01-12 12:34] sepehr commented on #971
Ah, please stop commenting +1s and triggering email notifications for issue subscribers. You can instead use the reaction button.

[2018-01-12 13:13] marcelomelodf commented on #2913
Still seeing this in Postman v5.5.0. Both in Windows and MacOS. Can not set a Cookie value, only the default value is persisted.

[2018-01-12 13:58] zmb5000 commented on #649
I'm experiencing the same issue, as I am trying to get the variables within my raw JSON body to be evaluated for the POST request I am trying to send. I have the variables in my environment, and most are strings, but 2 are integers and they are not being evaluated. Is this an ongoing bug that is still being fixed?

[2018-01-12 14:01] zmb5000 opened #4061 "raw Variables inside the body of a PSOT request are not being evaluated"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

I have a post request that requires my variables to be dynamical

[2018-01-12 14:19] frankcastro commented on #1850
I am on Mac OS 10.12.6 running Postman 5.5.0. I am having the same issue.  I have a simple GET request, and when I generate the curl code, it always includes -d POST body.  I realized what was happening what that I had saved this GET from an original POST request.  Even though it's now a GET, and you can't access the Body, it still has a body saved.  So just change the GET to a POST, click on Body

[2018-01-12 14:47] GioLogist commented on #4034
Right, just figured maybe it'd be a good idea to parse params from URL when using GET. However, I don't mind parsing them myself via URL if need be 👍🏻

[2018-01-12 15:38] ShemrickFlannigan opened #4062 "Collection with NULL name stops Team synchronizations"
Postman for Windows
Version 5.5

Expected behavior:
App does not permit Collections with NULL names

Current behavior:
App permits Collections with NULL names. NULL name Collections prevent Team Collections and Environments from synchronizing, as well as individual Collections from being created or saved.

Steps to Replicate:
1. Confirm that the Team Collections & Environment are syndicating
2. Cr

[2018-01-12 15:49] miiitch commented on #2934
Hi @a85 any news?

[2018-01-12 16:28] TheParad0X commented on #1104
+1

[2018-01-12 20:51] rsweetland commented on #3300
Issue persists for me, too (macOS 10.13 / Postman 5.5.0). It would be very helpful if this could be fixed.

*Update*: Could upgrading tv4 to latest version (1.3.0) fix the issue? Looks Postman Sandbox is [running 1.2.7](https://github.com/postmanlabs/postman-sandbox/blob/b79aa0e14ded0683e751f34d8ca0a76d05c0f556/package.json#L78)

[2018-01-12 23:39] SitiSchu opened #4063 "[BUG] Postman App (Win10) shows "Could not get any response" when the return code is large than 999"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Has always been there
 2. Expected behaviour:
It should normally display the returned data
 3. Console logs
Postman console just shows `Error: Parse Error` for the Request.
 4. Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/18517178/34899574-13b32ef2-f7fa

[2018-01-12 23:50] poisa opened #4064 "Set Content-Length header automatically when posting a binary file"
It would be really handy if Postman set the Content-Length header automatically after you select a binary file. If this behaviour is not desired for everyone, it could be turned into an optional setting.

[2018-01-12 23:57] rsweetland commented on #3300
I found a workaround:

Explicitly log `tv4.error.schemaPath`.
[code]

[code]

[2018-01-13 02:42] ramanbuttar commented on #2934
I would also like to use this feature to generate an `access_token` from Auth0

[2018-01-13 07:58] numaanashraf commented on #4063
@SitiSchu Thanks for bringing this to our notice. HTTP Status codes, as per the spec should be three digits - (https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1.1). So anything above 999 will be treated as invalid HTTP message and will lead to a parse error. At the moment, we have no plans to support status code behavior outside of the HTTP spec.

[2018-01-13 07:58] #4063 closed, assigned to nobody

[2018-01-13 19:06] escoffie opened #4065 "Postman 5.5 crashes my Windows 10 (Blue Screen of Death)"
## App Details:

[code]

## Issue Report:
 1. Earlier this week, my Windows 10 suddenly started to crash (BSOD) every now and then just after I give focus to Postman (already running).
 2. Expected behaviour: Windows should not crash when using Postman.
 3. Console logs not available.
 4. Screenshots:

![2018-01-10 09 08 12](https://user-images.githubusercontent.com/3408273/34909209-04376a3e-f862-

[2018-01-14 17:03] vmarcinko commented on #3124
Same thing here... Sometimes it crashed during first request, and sometimes it last just few requests. Native and chrome extension, regardless. Linux Mint BTW.

[2018-01-14 18:24] nicolattuso commented on #3312
@kamalaknn I have the same problem, I can't automate things properly while this feature is missing. I am using version 5.5.0 on Linux.

[2018-01-15 03:14] harryi3t commented on #3977
@vpzed This is exactly the same issue I was talking about.
We captured the `code` from an intermediate URL before it could redirect to the registered redirect URL
[code]

We have already fixed it internally. This will be shipped with the next Postman release :)

@jmatelet Still we are not sure what might be causing this. You have already mentioned that there are no proxies involved. Could you try

[2018-01-15 07:45] ayedhedi commented on #6682
+1

[2018-01-15 09:56] mattisebastian commented on #4041
Hi,
Thank you for the quick reply. I put localhost in my network settings, but still no requests are captured. Do you have any further ideas? In theory, every website I visit in chrome should be captured once the proxy is activated, right?

![image](https://user-images.githubusercontent.com/2878488/34936713-b6e801c6-f9e2-11e7-8511-5ed5c981f1c9.png)

[2018-01-15 11:46] SamvelRaja commented on #4041
@mattisebastian  Can you provide me a bit more details on the issue?
Is postman not capturing any requests? or it is is not capturing specific requests?
The reason is, it is working in our environment.

[2018-01-15 11:53] thecuriousdev commented on #4064
@poisa thanks for suggesting this, We'll look into this and keep you posted here.

[2018-01-15 11:57] thecuriousdev commented on #4062
Hey @ShemrickFlannigan thanks for reporting this issue, Can you please provide steps to reproduce this problem?

[2018-01-15 12:12] thecuriousdev commented on #4061
@zmb5000 thanks for reporting this issue, You are using an older version of Postman app, Can you try updating the Postman app and check whether this issue is still occurring?

[2018-01-15 12:22] thecuriousdev commented on #4065
Hey @escoffie thanks for reporting this issue, Can you share your system's resource usage details, especially Postman's resource consumption?

[2018-01-15 13:00] Alextunchii commented on #4043
Really hate this Postman version with these bugs which in addition to this nobody consider
Chrome Postman: everything ok
New Postman, 400 bad requests or other problems with the same request migrated via synchronization

[2018-01-15 14:10] dressjo commented on #2681
Tested with latest  Postman v5.6.0-canary01 build. Postman still converts header keys to lowercase.

[2018-01-15 15:38] zmb5000 commented on #4061
I'm using the current version of the local app. It's not evaluating the
variables for numbers and boolean values currently. If I use a string, it's
fine, but with other variable types, it still occurs.  I've sent pictures
to show you my current issue. I hope they are helpful in discovering the
issue.

On Mon, Jan 15, 2018 at 7:12 AM, Akhil CS <notifications@github.com> wrote:

[2018-01-15 15:42] leon opened #4066 "Support custom auth headers for a folder"
I'm trying to consume an api which doesn't use use a standard way of authentication,
It instead relies on you sending two custom headers.

Access-Token: somesha1
Client-Secret: somesha1

It would be great if you could add another option for the authentication letting you add arbitrary headers as a mean to authenticate.

This way I could add the headers to a folder and all requests in that folder w

[2018-01-15 16:38] luismospinam opened #4067 "Curly braces variable in the pre-request script"
In previous versions of postman I was able to use an environment variable using the curly braces "{{variableName}}" in the pre-request script. in the new 5.5.0 version this won't work.

For instance, I define a "baseUrl" variable as an environment variable, I'm able to use that in the main URL script within curly braces ("{{baseUrl}}/events") and it works great, but if i try to use the pre-request

[2018-01-15 16:49] jpSimkins commented on #4005
Also noticing numerous duplicates... I have 6 duplicates of the same endpoint. I only added it once. This happens on numerous endpoints and the duplicate number varies

[2018-01-15 17:00] ShemrickFlannigan commented on #4062
Yes, those Steps to replicate the issue have been added to the issue

[2018-01-15 21:50] aaiezza commented on #2232
I appreciate that `pm.sendRequest` is a thing; however, when I try to use it, I get an error:

![image](https://user-images.githubusercontent.com/8107121/34962977-c4dc3576-fa0b-11e7-9453-cf39b066751a.png)

Thoughts?

[2018-01-15 21:53] albertossilva commented on #285
+1

[2018-01-16 01:34] serkand commented on #4005
+1

Please fix, this is causing our CI jobs to fail as our collection in the postman cloud is getting corrupted !

[2018-01-16 03:42] joshidp opened #4068 "Exception Response is not Displayed by Postman"
Hi,

Thanks for this wonderful tool.

When I send a request to ASP.NET WebAPI and get an exception I don't see any HTTP response in Postman like 500 error. I only see below message.

![image](https://user-images.githubusercontent.com/7415276/34970920-4c8b034e-fa9d-11e7-8c00-ec47b0d88a58.png)

Please let me know how to see raw HTTP response.

Thanks again.

[2018-01-16 05:08] chimit opened #4069 "[macOS] Postman is always opened in fullscreen after split view last time"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: always
 2. Expected behaviour: Postman should not be opened in fullscreen
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

I always put P

[2018-01-16 06:05] kunagpal commented on #2232
@aaiezza Are you on the Chrome app? This feature is exclusive to native apps.

[2018-01-16 06:13] samuel-ye commented on #2833
encounter the postman window missing problem in Mac, where width and height are strangely set to 0 in requester.json. after modify them manually to normal size, the window is back.

[2018-01-16 09:06] Nemowxy commented on #1104
+1

[2018-01-16 09:08] sify21 opened #4070 "Add support for character encoding in Basic Auth"
## App Details:
[code]
## Issue Report:
 1. Using Basic Auth, When username has chinese characters, the encoded authorization header is not correct. This bug always been there.
 2. Expected behaviour:
postman should encode the auth string with utf-8, then with base64

## Steps to reproduce the problem
1. Prepare a web application.
I'm using a spring web application. A GET method is secured by spri

[2018-01-16 09:44] mattisebastian commented on #4041
Hey, it is not capturing *any* requests at the moment. The only exception being requests sent from Postman itself.

[2018-01-16 09:54] mattisebastian commented on #4041
I also tried setting my IP address in the proxy as explained in the postman doc, but no luck.

[2018-01-16 13:22] aaiezza commented on #2232
I think I am. Where can I download the native app?

## Correction

Actually , when I start Postman on macos, I see a warning that Chrome apps are being deprecated and to download the free native app for continued support and better performance.

[2018-01-16 14:17] mattisebastian commented on #4041
@SamvelRaja do you mind sharing your setup?

[2018-01-16 14:55] efenderbosch commented on #2681
Works correctly for me w/ 5.5.0. Here's a captured request w/ mixed case header.

https://hookbin.com/bin/Ezgzd5Mm/6b73fdb1

[2018-01-16 15:28] kunagpal commented on #2232
Yes, you can download the native app from: https://getpostman.com/apps

[2018-01-16 15:54] sharmatha commented on #2392
+1

[2018-01-16 15:57] JhonatanGarcia92 commented on #3264
@madebysid is this fixed?

[2018-01-16 16:30] jmatelet commented on #3977
@harryi3t
It is working for the client credentials flow which is also using HTTPS with the same server, so I don't think it can be related to https. Plus I didn't had to add any certificates.
Anyway, If I manually create an oauth/authorize request I can reach the server. It doesn't even reach the server with the OAuth2 request token with authorization code grant.

[2018-01-16 17:13] aaiezza commented on #2232
@kunagpal, gotcha. So I actually did use that link to install Postman. I download, unzip, and drop the .app file into Applications and run it.
However, it seems to be "connected" to Chrome still somehow.

For instance, I still don't see that `pm` functionality working in my pre-scripts.
And `⌘+Tab` does not switch between Postman & Chrome, even though the Postman app has an icon in the Application

[2018-01-16 17:44] sivcan commented on #2232
Hi @aaiezza,
If you do a spotlight search (**⌘+Space**) you can see the two apps like so:
<img width="683" alt="screen shot 2018-01-16 at 11 05 11 pm" src="https://user-images.githubusercontent.com/21001736/35003173-fc5536cc-fb11-11e7-9c54-418867dd56cf.png">

The one that's the native app will have 'Applications' written besides it.
The chrome app has 'Chrome Apps' written besides it.
Can you conf

[2018-01-16 17:56] aaiezza commented on #2232
Hi @sivcan,

I actually do not see a Chrome App version at all. I do not think I have any chrome apps installed.
In Spotlight, it says Postman is an application.
When running Postman, I also have that menu that you have shown here.

I did run your test though!
I quit Google Chrome (entirely) and Postman.
When I was sure they were both terminated, I started ONLY Postman.
Postman started. Also, whil

[2018-01-16 19:35] aaiezza commented on #2232
Eureka!
I have found [Postman Canary](https://www.getpostman.com/canary)!
Very strange... But this one seems to work.
Thank you all!

Except now my issue is that environment variables are no longer resolved in the Pre-request scripts.
Any ideas?

[2018-01-16 21:22] artischocke commented on #3405
I'm experiencing this issue as well, even without using Environments as the title suggests (Ubuntu 16.10)

[code]

The number of "tabs" open does seem to influence how quickly the app crashes.

[2018-01-16 21:36] nicolattuso commented on #3706
@prashantagarwal I would also like to have this feature :slightly_smiling_face:

[2018-01-16 22:28] mtatrung opened #4071 "when Duplicating a folder, the new folder contains duplicates of the requests"
## App Details:

[code]

## Issue Report:
 1. Recently
 2. Expected behavior:
Happens only on a shared collection, with at least one subscriber
When duplicating a folder (FolderA) , that contains:
CollectionA> FolderA > Red1, Req2, the newly created folder contains duplicates of the requests: CollectionA> FolderA copy > Red1, Req2, **Req1**, **Req2**
 3. Console logs (http://blog.getpostman.com/20

[2018-01-17 00:38] omaric commented on #2611
I have also experienced this.

I've sent the same request twice in quick succession with and then without the authorization header, getting the same successful response. When I do the same thing in curl from the terminal, my credentials are rejected without the auth header. Unless our server is caching responses when it detects the user is using Postman, something is wrong.

Upon further inspectio

[2018-01-17 07:11] vdespa commented on #4067
You should use the pm.* API for that.

For example

`var url = pm.variables.get('baseUrl') + "/events"`

and

`pm.sendRequest({ url: url, .....`

[2018-01-17 07:20] vdespa commented on #4066
You could use variables in your request headers and set them properly in your pre-request script.

[2018-01-17 07:58] sivcan commented on #2232
@aaiezza - I can confirm that the environment variables are being resolved on **Postman Canary**.
I wrote a simple request and did set the environment variable using the pre-request script.

<img width="1920" alt="screen shot 2018-01-17 at 1 24 21 pm" src="https://user-images.githubusercontent.com/12631777/35031686-00ea0410-fb8a-11e7-83d1-d7974eeb2f6b.png">

You can see the response below that the

[2018-01-17 09:24] nbsoftware commented on #3472
Hello,
Seems the issue is still present.
Any update?

[2018-01-17 09:28] cen1 commented on #2392
There should just be a simple checkbox to disable specific calls, just like you can disable HTTP headers without actually deleting them. The use cases are many. `setNextRequest` is a bit wonky.

[2018-01-17 10:56] sivcan commented on #4069
@chimit - It's a behaviour that it remembers your last window config.
Since one app is always needed in full-screen mode for the macOS to get another app into split mode with it, you can simply just swipe up on your mac and drag sequel pro to the postman fullscreen window.
Your apps will enter the Split View. It's something you'll naturally always do to get into split view.
You wouldn't need to ex

[2018-01-17 10:56] #4069 closed, assigned to nobody

[2018-01-17 11:04] sivcan commented on #4068
@joshidp - You can use the postman console.
Inside Postman go to View > Postman Console.
Now send the request and you can see it inside the console.
Click on the drop down and now It'll show you the RAW in there.

<img width="1615" alt="screen shot 2018-01-17 at 4 40 20 pm" src="https://user-images.githubusercontent.com/12631777/35039862-27cbcd14-fba5-11e7-9776-0ca83da082ca.png">

Hope this helps.

[2018-01-17 11:27] msvaillant opened #4072 "Feature request: package Postman thruogh Microsoft Store"
Good day, it would be nice to ship postman officially through Microsoft store, that will help users easily find it, be easy of install update and review.

Electron-based apps can be just published with a few additions to CI/CD system. this is officially suppoerted feature, what do you think of this flow for Windows 10 devices (and even W10S)?

P.S. Links on the topic implementation
- [Electronjs g

[2018-01-17 13:31] skyboyer commented on #3386
#2195 is about the same

[2018-01-17 13:44] grrseguin opened #4073 "Params within URL (not query string) are not written on a published doc"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just noticed this after check [my publish Postman doc](https://documenter.getpostman.com/view/718322/hl2-panorama-api/7TGkEcB#7c0737f6-ae7e-ffc4-fce3-c402f59a6b59)

 2. Expected behaviour:
When writting parameters inside the URI like `:parameter`, it should be showed in the publish Pos

[2018-01-17 14:35] ghost commented on #1180
+1

[2018-01-17 14:45] bhadkeYD opened #4074 "POSTMAN not returning correct content-length header for range request."
## App Details:

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Yes
 2. Expected behaviour: content-length header should return proper value.
 3. Console logs (had some issue while getting logs)
 4. Screenshots (if applicable)
![postmanissue](https://user-images.githubusercontent.com/35532024/35048103-1c2405ae-fbc2-11e7-8f40-d4f7be93c1a9.png)

[2018-01-17 14:56] TuomasKiviaho commented on #3999
Can this be related. After the update I'm getting sometimes `oauth_token="true"` as authentication or then the Preview Request doesn't produce Authentication header at all. This is somehow OAuth1 related because the other authentication methods do respond in to the button.

[2018-01-17 15:42] GraemeAllanBryce commented on #4044
working with AWS Cognito authorisation this is needed.  It is not resolved by only having AWS Sig4

+1

[2018-01-17 16:04] chiragpurohit71085 commented on #3306
hI @madebysid

is there any way to sort api by names in postman? I know api order is important etc, but we are creating api as per controller names, so sorting by api name is sort of must for us.

Also if that is not directly possible is there any other way to do that? ( sorting by drag and drop is not possible) like creating new collection and exporting etc... Please help me.

[2018-01-17 16:20] TaylanT commented on #3405
same here

[2018-01-17 16:48] #4068 closed, assigned to sivcan

[2018-01-17 17:57] aaiezza commented on #2232
@sivcan, Forgive me for being unclear.
I mean that in the **pre-request script** itself, there was variable replacement happening. In PostmanCanary, there is not.

![pmexample](https://user-images.githubusercontent.com/8107121/35058182-bf8b2056-fb7c-11e7-9932-fecdbc9bb442.jpeg)
![pmexampleconsole](https://user-images.githubusercontent.com/8107121/35058412-7e360e62-fb7d-11e7-963d-2a6074fa8313.jpeg)

[2018-01-17 21:00] ckee83 commented on #3274
Plus 1 vote

[2018-01-17 21:27] julianohsf commented on #2617
+1 facing same issw Swagger 2.0 JSON in Postman 5.5.0

[2018-01-17 21:37] julianohsf opened #4075 "Import from swagger using folders to group requests by tags"
## App Details:
[code]

## Issue Report:
I have so many requests in my API Docs using Swagger v2 JSON. 99% of them, starts with /api. When I imported it into Postman, all my requests started with /api was placed in a unique folder named api. It will so great if Postman had group my requests following the _paths.{path}.{httpMethod}.tags_ API Docs JSON property.

[2018-01-17 23:14] d-shenoy commented on #4019
I am seeing the same thing. Mysteriously started happening with version 5.5.0 on mac exactly as described by others. If I look at the dev console, there isnt an API which is hanging waiting for a response. I am running it using the Collection Runner UI

[2018-01-18 00:25] MartinP7r commented on #2489
Opening the app through console actually didn't help in my case. the file gets downloaded but then can't be installed due to permission error. Even when executed as root.
[code]

[2018-01-18 01:15] c-f-allen commented on #2302
+1

[2018-01-18 03:03] peter-wangxu commented on #3469
Any update on this issue?

[2018-01-18 03:31] smoyse opened #4076 "Can't export results from runner when there has been a connection failure."
## App Details:

[code]

## Issue Report:

After using runner to perform a test on a number of different servers by parameterising the hostname of the request in a csv file.
If any of the requests fail because of a connection issue - SSL issue, or connection timeout then I am not able to export the results. I get the error:

Failed to export collection run: TypeError: Cannot read property 'code' o

[2018-01-18 03:48] jwadhams commented on #3181
This issue appears to be resolved (for my use case) in 5.6.0, if you're willing to use the "Canary" until 5.6.0 ships for real. https://www.getpostman.com/canary

[2018-01-18 04:26] mlambley commented on #2195
https://github.com/postmanlabs/postman-app-support/issues/3386 is a duplicate of this. If you haven't already, I suggest having a look and seeing the grief encountered by many users at what I thought was a technical/workload limitation of the devs.

I'm following the discussion in this ticket and I can see that instead, it is a design decision. The original reasoning, that people are accidentally

[2018-01-18 04:33] timbkbasic commented on #2260
You mention providing older versions for download, but they still do not appear to be available. Some of us out here (i.e., myself) are stuck on older Mac OS platforms (need to test there) and are unable to run Postman. Specifically, I need a version of Postman that will run on MacOS 10.8.5. Can anyone please tell me where to get a version of Postman that is compatible with MacOS 10.8.5?

[2018-01-18 04:39] whippet-rider opened #4077 "Postman for Windows fails to follow 307 with 'Automatically follow redirects on'"
Postman for Windows (on Windows 7)
Version 5.5.0
win32 6.1.7601 / x64

We are POSTing a file to an end point that has a temporary redirect present and it times out in Postman. Going through old testing logs it was working fine at the end of Nov 2017, can't say what version we were using of Postman at the time.

Fiddler shows that the 307 is returned with the new Location but Postman doesn't seem t

[2018-01-18 05:28] neilrogers commented on #285
+1 come on its 2018 this was asked for in 2013

[2018-01-18 05:58] vebs60719 opened #4078 "Not able to send null value from csv file"
## App Details:

Postman for Windows
Version 5.5.0
OS Windows X

## Issue Report:

After sending null value for optional variables from csv, Postman is not able to understand null value.
For Example : "VariablaName" = "{{VariableName}}"
Same csv is working correctly from Chrome Extension.

Screenshot From Postman Windows version :
![image](https://user-images.githubusercontent.com/35371204/3508252

[2018-01-18 06:07] Saif03 commented on #4049
@SamvelRaja Any update on this??

[2018-01-18 06:25] Saif03 commented on #3799
I am having a similar issue ( #4049 ) as this, and mine one is also assigned to @SamvelRaja, there has been been no update since a week. How can I get support if my issue is left hanging like this?

[2018-01-18 07:36] Sparshith commented on #1947
+1

[2018-01-18 07:45] numaanashraf commented on #4072
@msvaillant Thanks the suggestion. We are looking into this. 😃

[2018-01-18 07:47] numaanashraf commented on #4071
@mtatrung Thanks for reporting this. We are working on few improvements to our sync and collaboration features that should solve this issue. Thanks for your patience.

[2018-01-18 08:09] numaanashraf commented on #4066
@leon Thanks for the suggestion. This seems to be a highly requested feature and we are exploring ways to handle this use case.

For the mean time, you can use the workaround recommended by @vdespa. It does involve manually adding the header in your requests and then setting the value via folder pre-request scripts.

I'm closing this issue as a duplicate (#4044) for now.

[2018-01-18 08:09] #4066 closed, assigned to a85, vkaegis

[2018-01-18 08:13] numaanashraf commented on #4067
@luismospinam Thanks for writing in. Curly braces syntax was never planned for the `pm.sendRequest` API and the initial support for the same was unintended. We have dropped support for it now and we recommend using `pm.*` API to use variables in your scripts as explained by @vdespa.

[2018-01-18 08:13] #4067 closed, assigned to nobody

[2018-01-18 08:14] kmteam commented on #4006
+1
We're also very interested on portable version of Postman!

[2018-01-18 08:17] numaanashraf commented on #4073
@grrseguin Thanks for reporting this. We are looking into this issue. /cc @godfrzero

[2018-01-18 08:20] numaanashraf commented on #4074
@bhadkeYD Thanks for writing in. Could you provide us version details of your OS, Postman App and (Chrome browser, if using the Chrome app)?

[2018-01-18 08:22] numaanashraf commented on #4075
@julianohsf Thanks for the suggestion. We are looking into this. 😄

[2018-01-18 08:23] harryi3t commented on #4070
@sify21 Thanks for reporting this bug. We will look into this.
Will update the thread once the bug is confirmed.

[2018-01-18 08:23] bhadkeYD commented on #4074
Postman for Chrome
Version 5.4.0
win / x86-64
Chrome 63.0.3239.132

[2018-01-18 08:24] numaanashraf commented on #4076
@smoyse Thanks for reporting this. We are looking into this issue.

[2018-01-18 08:25] numaanashraf commented on #4077
@paul3291 Thanks for reporting this. We are looking into this issue.

[2018-01-18 09:35] whippet-rider commented on #4077
:thumbsup:

[2018-01-18 11:27] ApeksIT commented on #1425
I think I got the same issue with the latest version. When I've been logged in using Basic Auth and then removed the cookies and use new/other credentials, somehow the old credentials are used to log in with a new request.

Also when after changing to No Auth, I can still send a successful request, because the old info is used

Postman v5.5.0

[2018-01-18 11:49] sdnts commented on #4056
Hey @vamsi9993, nested properties in the CSV aren't supported yet. Can you try moving the `transactionId` property to the root level and try again?
Also, the JSON file is an array of objects. I assume the JSON you gave me was a typo, but your JSON file would have to look like this to work:
[code]

[2018-01-18 11:53] vamsi9993 commented on #4056
Hey @madebysid , Yeah the JSON file was a typo, sorry for that.
If I keep the "transactionId" in root level, it works. Unfortunately, I can't change this as we will get this data from an upstream application in bulk.

Is there any other solution/apps you would suggest to get this done?

[2018-01-18 11:59] sdnts commented on #4056
@vamsi9993 Maybe you could have a script that flattens the object you get from your upstream app?

[2018-01-18 12:05] sdnts commented on #4059
Hi @jacree, if I understand correctly, the code generated by the app isn't working the way you expect, but the app itself sends the request correctly, right?
Currently, we use an external library to generate these, but we're working on a better way for you guys to contribute (using plugins) so that issues like this don't occur. I'll let you know here when such an option is available.

Unfortunatel

[2018-01-18 12:08] sdnts commented on #4078
Hi @vebs60719, thanks for reporting this. We'll be taking a look at bugs related to CSV parsing in the app soon, I'll make sure we fix this as well. I'll let you know here when I do.

[2018-01-18 13:46] Indystef commented on #3963
I had the same issue. I made requests to a local service _http://localjost:8080/myApi_- it worked fine in previous versions, but after updating to 5.5.0 it failed. I followed the suggestion, and looked at the console. This line gave me the answer:
**Error: getaddrinfo ENOTFOUND http http:80**
looks like postman expects port 80 for http requests, and that doesn't fly with the specific port 8080. Th

[2018-01-18 15:13] EskoCruz commented on #3646
Same 😃

[2018-01-18 15:26] rkgrep commented on #3780
+1. Same issue. Content-Length is not set.
Postman for Mac
Version 5.5.0

[2018-01-18 18:36] harryi3t commented on #4077
@paul3291
Can you try this test endpoint and share a screenshot of the output that you see?
Make a **POST** request to https://00353ed9-79ce-4edc-a4c9-284a4118d23e.mock.pstmn.io/redirect

Also, what type of data are you posting? (form-data, x-www-form-urlencoded, raw or binary)

[2018-01-18 20:32] darcythomas opened #4079 "Feature: Option to be able to compress (gzip) request body"
## App Details:

[code]

## Issue Report:
Problem: I am wanting to send gziped (and Deflate etc) requests to a server (with and without  Content-Encoding headers)

It would be nice if Postman has something like an option to:

With a check box

(so you can test what happens, when the headers are omitted).

I have tried pre compressing my data into a file and setting the body to the compressed file;

[2018-01-18 21:32] cebbens commented on #1104
+1

[2018-01-19 03:00] dfeehrer commented on #2724
+1 Would still really like to see this, thanks!

[2018-01-19 06:15] chiragpurohit71085 commented on #3306
Also there is way to drag and drop multiple requests?

[2018-01-19 06:18] chiragpurohit71085 commented on #3089
Is there way to drag and drop multiple requests?

[2018-01-19 06:26] SharmaHarsh7 commented on #3306
@chiragpurohit71085, Agree with you.

Also it would be more better idea if we have can open one project API at a time.

Currently postman shows all the Collections in the left sidebar, which is completely useless if we are working on a single application.

There is no way in the app to remove/hide/filter unnecessary  collections from the left sidebar.

Sorting, Collection Filtration etc. are some

[2018-01-19 07:32] tarunlalwani opened #4080 "Async and Await linting errors for valid code"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just tested, may have been there always

 2. Expected behaviour:
No linting errors for valid code
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
Not needed

 4. Screens

[2018-01-19 07:43] apoorvaagrawal86 commented on #2804
Postman Version: Postman v5.5.0
    App (Chrome app or Mac app): Native app for Windows
    OS details: Windows10
    Is the Interceptor on and enabled in the app: NA
    Did you encounter this recently, or has this bug always been there: I've only started using collection runner recently, but the problem has always been there for that time.
    Expected behaviour: Collection Runner should run tes

[2018-01-19 08:37] doschi commented on #3386
I would also appreciate that option.
The Dialog is quite annoying

[2018-01-19 09:34] dressjo commented on #2681
@efenderbosch, maybe i have misunderstood. But I am using Postman v5.6.0-canary01 on windows. I have attached screenshot of the request header definition in Postman and the actual sent request from
postman log. As you can see "AuthToken" is converted to lowercase "authtoken".

![postman_request_header](https://user-images.githubusercontent.com/961610/35144064-b5a9d112-fd03-11e7-8562-75649b4b23f2.P

[2018-01-19 10:53] CodeInDreams commented on #622
+1

[2018-01-19 11:43] vmurin commented on #4038
We have the same problem (same error message) but with normal (not self-signed) certificates from Amazon API Gateway. The actual problem is not the fact of self-signing but the SSL Version!
Postman tries to make connection with SSLv3 and it is considered as insecure  and therefore refused by Amazon Gateway.
It could be also the reason in other cases not only for Amazon.
Postman for Chrome (v.5.4.0

[2018-01-19 12:07] marcadams commented on #285
+1

[2018-01-19 13:49] jakwo commented on #1947
+1

[2018-01-19 14:41] htmtester opened #4081 "Postman test script nested for loop persisting variable value"
## App Details:
Postman for Windows
Version 5.5.0
win32 10.0.15063 / x64

## Issue Report:
I am facing an issue with nested for loops in my test script. My code is like this:

  for (var index = 0; index <= VAR1; index++) {
        //statements
        for (var index2 = 0; index2 <= VAR2; index2++)
        {
                //statements
         }
}

my issue is that the first loop executes correc

[2018-01-19 15:09] pysurendra opened #4082 "How to pass the array value inside body of post request"
Hi Team,

I have created a global array
count = ["1","2","3"]
I am trying to pass the array inside body as following,
{
	"Data": [{
                     "count:" "{{count[0]}}"
                     },
                     {
                     "count:" "{{count[1]}}"
                     },
                     {
                     "count:" "{{count[2]}}"
                     }
            ]
}

[2018-01-19 15:23] fkasumovic commented on #285
+1

[2018-01-19 15:39] GrzegorzPi opened #4083 "Windows: Shortcut with AltGr key work not correctly"
I constantly invoke shortcut when i'm typing some utf-8 symbols like ć (AltGr + c).

### App Details:
Postman for Windows
Version 5.5.0
win32 10.0.16299 / x64

### Issue Report:
 1. Recently behaviour

 2. Reproduction: 100%

 3. Expected behaviour:
pressing 'AltGr + letter' key combination will not work as shortcut

### Scenario:
1) press Ctrl + Alt + C
2) Console window is open
3) close console

[2018-01-19 15:42] toddbeckum opened #4084 "I'm trying to import a file into Postman and receiving 'Failed to Import: Format not Reognized."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-01-19 15:46] toddbeckum commented on #4084
When trying to import a json file from source control I received the message Failed to import data; format not recognized.
I was able to import a .json file similar to this 2 days prior.

[2018-01-19 15:52] efenderbosch commented on #2681
Must be a regression from 5.5 to 5.6 because I have a mixed case header name "HEADER-header" that worked correctly.

[2018-01-19 15:53] GrzegorzPi commented on #4082
You can save only string in global variable.

When you load something from global, it is string. You have to parse it do array in pre-request Script.
Save the whole data for body in variable.
Load whole body from variable.

parsing example:
count = ["1","2","3"]
[code]
console: "1string"

or

count = [1,2,3]
[code]
console: "44"

[2018-01-19 16:23] GrzegorzPi commented on #4081
I can not confirm:

[code]
works fine for me

Postman for Windows
Version 5.5.0
win32 10.0.16299 / x64

[2018-01-19 16:38] mtoothman commented on #3887
FWIW, same issue with
Version 5.5.0 (5.5.0)
macOS 10.13.2 (High Sierra, not Sierra as reported above)
Neither environment nor collection are selected when pressing the "run" button

[2018-01-19 16:42] sivcan commented on #4081
@htmtester - Can you share the steps to reproduce this issue ?
Share the script maybe.

<img width="787" alt="screen shot 2018-01-19 at 10 09 46 pm" src="https://user-images.githubusercontent.com/12631777/35161208-863aac00-fd65-11e7-9a06-f0b0f5383cc1.png">

I wrote this script which is similar to yours and it works fine.

[2018-01-19 17:26] kpmani81 commented on #495
@madebysid my chrome got recently upgraded and my "postman rest client" got deleted automatically. i had lot of collections how to recover that now? there is no option in old postman rest client to sign in and save. where it will be stored locally in my machine

[2018-01-19 23:19] MrGarry2016 commented on #1228
+1,

for disabling cookie for the postman

[2018-01-20 04:56] Iliev88 commented on #4044
+1

[2018-01-20 05:44] pysurendra commented on #4082
Thanks for the reply, But how can I apply this to the body of the request which I mentioned above with my question

[2018-01-20 07:20] kevlawz commented on #2616
Maintaining packages can be time consuming for a small start-up. Better to look into Snap or Flatpak. One Flatpak probably resolves the issue for 99.9% of the people requesting the Enhancement.

[2018-01-20 08:14] ghost commented on #3472
Any Alternative To Postman ?
There Is A Tool Present Called hurl.it but it is Fully Online And Browser Based And Needed Captcha Verification After 5 Requests

[2018-01-20 10:16] nirmalgoswami commented on #2418
same issue here

[2018-01-20 11:45] elDan3k commented on #4083
same issue
Postman for Windows
Version 5.5.0
win32 6.1.7601 / x64

[2018-01-20 12:20] konohiroaki opened #4085 "Cannot send request properly when schema is uppercase"
Thank you for the great tool. I found a trivial bug so let me report it in this issue ticket. :)

## App Details:
[code]

## Issue Report:
When using uppercase for schema part, it seems the request is sent wrongly.

### Example 1 (correct behavior):
Choose `GET` method and set `https://github.com/` in the url form. It sends this request...
[code]
The server responds properly.
### Example 2 (wrong

[2018-01-20 17:02] dayeggpi commented on #4065
exactly the same issue here.
pretty stable system, no BSOD at all since beginning.
It only started once I installed Postman (software, not Chrome plugin).

Random crashes BSOD, even when I dont run Postman.

Variable BSOD reasons:
IRQL NOT LESS OR EQUAL
VIDEO SCHEDULER INTERNAL ERROR
KERNEL SECURITY CHECK FAILURE
SYSTEM THREAD EXCEPTION NOT HANDLED (Apsx64.sys)
MEMORY MANAGEMENT
SYSTEM SERVICE EXC

[2018-01-20 18:46] azoz158-zz commented on #2845
Any solution yet?

[2018-01-21 05:09] JKalash commented on #1947
+1

[2018-01-21 19:20] marinomeneghel commented on #4010
Hey @SamvelRaja, any news about this? I'm still having the error in a consistent way 🤔
I noticed another thing that may be helpful: even with a short name (like `test_collection`) this error happen for me, but only when I try to save to the directory that postman automatically suggests (both if the file already exists there and if its the first time it's saved).
If before saving I change the locat

[2018-01-21 20:43] Cloudmersive commented on #2701
+1

[2018-01-21 21:37] owenfarrell commented on #208
Like many people here, I've been looking to move on from SoapUI in favor of Postman. In looking at the [RAML](https://github.com/postmanlabs/raml2postman) and [Swagger](https://github.com/postmanlabs/swagger2-to-postman) conversion projects, I took a stab at creating a [wsdl2postman converter](https://github.com/owenfarrell/wsdl2postman).

The general idea is that it creates a bona fide SOAP clien

[2018-01-21 22:33] ashlindias06 commented on #1763
I am unable to log in, says following
![screen shot 2018-01-22 at 9 32 46 am](https://user-images.githubusercontent.com/26864072/35199786-46b5627a-ff57-11e7-8bd2-f8f9e7a9b035.png)

[2018-01-21 22:40] kunagpal commented on #1763
@ashlindias06 We're currently working on resolving this, you can track the current status via [status.getpostman.com](http://status.getpostman.com).

[2018-01-21 22:54] serkand opened #4086 "Unable to login to Postman - URGENT"
## App Details:
Postman for Windows
Version 5.5.0
win32 10.0.16299 / x64

## Issue Report:
Unable to login via the the window app or via the web (https://identity.getpostman.com/login).

In the Windows app, we don't get passed the sign in prompt. In the web, we get the "something went wrong" message. This is from Chrome developer tools console:

login Failed to load resource: the server responded

[2018-01-21 22:56] kunagpal commented on #4086
Hey @serkand, we're aware of the issue and are working to get things back to normal. 😄
Live updates are available here: [status.getpostman.com](http://status.getpostman.com)

[2018-01-22 00:21] whippet-rider commented on #4077
Hi @harryi3t ,
we are posting an image via form-data within postman.

no output from postman.
![image](https://user-images.githubusercontent.com/2818069/35200643-3672b4a8-ff66-11e7-84ad-0a28131f18d3.png)

Fiddler shows this..
![image](https://user-images.githubusercontent.com/2818069/35200655-60536cb8-ff66-11e7-9abd-3702bc0e2f3d.png)

Hope that helps.

Regards Paul

[2018-01-22 00:37] escoffie commented on #4065
Hi @thecuriousdev,

Sorry it took me so long. As you can see, memory consumption seems to be very high. I just opened, with four tabs, but I didn't actually did any request. The first snapshot is from one minute after open Postman and the second one, after about five minutes. I didn't did nothing, just let it there.

Thanks for investigate this issue.

![image](https://user-images.githubuserconten

[2018-01-22 01:00] ashlindias06 commented on #1763
Hey, @kunagpal looks like the issue is fixed. Thanks for the assistance

[2018-01-22 02:10] kunagpal commented on #4086
@serkand Things have now come back to normal. Feel free to revert if you're facing issues.

[2018-01-22 02:10] #4086 closed, assigned to nobody

[2018-01-22 06:29] sivcan commented on #4082
Hi @pysurendra

_Edit_
Solved in https://github.com/postmanlabs/postman-app-support/issues/4082#issuecomment-486072669

[2018-01-22 07:54] darylpeeters commented on #3009
Same problem here, it seems that it would like to interpret it as a hyperlink and at that moment it becomes almost unresponsive

[2018-01-22 10:01] #4081 closed, assigned to sivcan

[2018-01-22 11:26] htmtester commented on #4081
Actually I missed a point when giving you guys the code to reproduce. When you use tests[index2 +'X'] = ANYVAR > 0 ; the issue happens. you must use the index of the for loop in the tests statement. can you take another look @sivcan ? thanks

[2018-01-22 11:51] thecuriousdev commented on #4085
@konohiroaki thanks for reporting this issue, we'll look into this.

[2018-01-22 11:53] thecuriousdev commented on #4084
@toddbeckum thanks for reporting this, It can be an issue with the JSON file that you are trying to import. Can you share a sample file here so that we can debug this issue

[2018-01-22 11:55] thecuriousdev commented on #4083
@GrzegorzPi thanks for reporting this issue, we'll look into this and keep you posted in the following thread, https://github.com/postmanlabs/postman-app-support/issues/2707

[2018-01-22 12:00] #4083 closed, assigned to nobody

[2018-01-22 12:05] thecuriousdev commented on #4080
@tarunlalwani thanks for reporting this issue, we'll look into this issue and keep you posted here.

[2018-01-22 12:07] thecuriousdev commented on #4079
@darcythomas thanks for suggesting this feature, we'll look into this.

[2018-01-22 14:51] AxelDalenAndersenP commented on #793
Yes, still an issue.
I have time right now to type this while waiting for Postman to switch tab...

[2018-01-22 16:16] devlemire commented on #2905
+1

[2018-01-22 17:43] sivcan commented on #4081
@htmtester I am unable to understand what you're trying to convey.
Can you share a code snippet of the script ?

I am not sure what you're trying to achieve.

[code]
Something like this^

[2018-01-22 17:57] htmtester commented on #4081
it would be something like this @sivcan

for (var index = 0; index <= 10; index++)
{
     tests[index + 'is the value of index'] = 3 == 2;
     for (var index2 = 0; index2 <= 20; index2++)
     {
           tests[index2 + 'is the value of index2'] = 3 == 2;
     }
}

I know these tests are supposed to fail. My point is that when using the value of the control variable of the for loop in a tests st

[2018-01-22 18:13] #4036 closed, assigned to thecuriousdev

[2018-01-22 18:38] sivcan commented on #4081
@htmtester I am assuming that 'tests' is an object that you're checking.
And you're trying to generate a key using index + 'some character'
eg: `tests['1X'] or tests['2X']`

Is that so ?

Can you share the complete script that you've written ?
Exactly as you are using ?

Feel free to redact any information.
It'll be easier for me to understand it and then I'll try to solve your problem.

[2018-01-22 18:42] htmtester commented on #4081
from postman documentation:

_Older style of writing Postman tests
The older style of writing Postman tests relies on setting values for the special tests object. You can set a descriptive key for an element in the object and then say if it’s true or false. For example, tests["Body contains user_id"] = responsebody.has("user_id"); will check whether the response body contains the user_id string._

[2018-01-22 18:45] htmtester commented on #4081
@sivcan if you can´t reproduce the issue even with my last code nevermind don´t wanna waste your time

[2018-01-22 18:56] sivcan commented on #4081
@htmtester -  It's okay man, the postman team is always here to provide support. 😄

I'm looking into it.
I'll get back to you in a bit.

You can  use the new method also to test your requests.

[2018-01-22 19:56] sivcan commented on #4081
@htmtester - What you're doing is that you're overwriting the key value pair of the 'tests' object.
Let's take this example :

[code]

This is the output :
<img width="144" alt="screen shot 2018-01-23 at 1 13 42 am" src="https://user-images.githubusercontent.com/12631777/35240830-b38c3a30-ffda-11e7-80ad-82e46290b500.png">

If I change the inner index key now to this :
[code]

The following will be

[2018-01-22 20:03] ruariobrien commented on #3290
I would like to see the ability to point postman to a CA bundle, will this be a future enhancement?

[2018-01-22 20:10] enguyen commented on #4019
Exact same error, here, on same version of Postman and OSX. I see the error in the console immediately when I open Postman. The Collection runner shows a message in the UI when I try to run it:

![image](https://user-images.githubusercontent.com/107458/35241978-2257bd5e-ff6d-11e7-8a6a-8726c38ba72d.png)

No new console messages are printed with this message, though.

UPDATE: Logging out, deleting a

[2018-01-22 20:55] JAnderson1122 commented on #726
@abotalov I believe the section you quoted goes on to say:

The following section goes on to say:

I believe what Postman should do is to convert all LF to CRLF, at least when using the 'raw' option for the request body.

[2018-01-22 20:56] FlanderJam commented on #2861
This issue is still occurring on Postman 5.5.0 for Windows.

{{varname}} resolves to {{varname}} if the value of varname = null. I would like for {{varname}} to resolve to null if the value of varname is indeed null.

Is there any update available for the resolution of this bug?

[2018-01-22 20:57] JAnderson1122 commented on #422
What is the status of this issue?  3years+ later and it is still an issue.

I really need the ability to send a properly delimited 'raw' form-data request.  Is there a workaround for embedding CRLF in the raw body editor?

Thanks.

[2018-01-22 21:03] tvvignesh opened #4087 "Ability to set collection based context url"
This is inspired a bit from WSO2 API Manager. It will be nice if we could set a base url for a collection/folder (optional) and all the APIs within will have that as the Base URL without having the need to include the host environment variable to the url.

All we would be needing to add is the relative path.

This is how WSO2 handles it.
![swapping-api-version-and-context-in-url](https://user-imag

[2018-01-22 21:05] tvvignesh opened #4088 "Ability to TAG items"
What if you could add the ability to TAG collections, folders and APIs? It will help in organizing them and searching them. Having tags will avoid the need for having so many folders within a collection and will also help in filtering.

The tags can be added by the user and synced with the server.

[2018-01-22 21:09] tvvignesh opened #4089 "API Network within postman"
You guys have done a great job of adding [API Network](https://www.getpostman.com/api-network/).

Would be nice if API Network is browsable from within postman client rather than having to go to the website. You could add another tab to browse the network and run it within postman.

Also, would be nice if you could add a search bar in the website for API Network.

[2018-01-22 21:49] leantorres73 commented on #1104
+1

[2018-01-22 23:00] NeilHarper commented on #3171
We have a background process that runs on our server on a regular 5 minute period to process some of the data that was uploaded via our API. My tests require me to wait for 5 minutes after I do an upload to make sure that the processing is complete. This means that my monitor fails on the first test (and I have quite a few tests in the suite :-( ). I would really appreciate a solution to this.

[2018-01-23 02:53] bcodermicro opened #4090 "Syncing takes a long time"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: REcently
 2. Expected behaviour: Sync Should Hapen in a few seconds but sync is taking forever...in the old chrome app version it syncs almost instantaneously.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, Vi

[2018-01-23 04:57] forresthopkinsa opened #4091 "Postman not decompressing Brotli response"
## App Details:
[code]

## Issue Report:
 1. I've only now encountered this problem; it worked (and works) on the Chrome app version
 2. Expected behaviour: Postman decodes the `br` encoding just the same as `gzip`
 3. Console logs:

[code]

 4. Screenshot

![image](https://user-images.githubusercontent.com/4433153/35258754-d129d1f4-ffbe-11e7-99ff-1ccc4b818605.png)

For context, I'm spoofing a Fac

[2018-01-23 06:13] walfud commented on #3780
I send a GET request with form data in url(localhost:3000/api/num?price=0). No Content-Length be filled in header.
Postman for Windows
Version 5.5.0

[2018-01-23 06:34] raghuugare commented on #1983
We found this issue Today too, with Postman app, version 5.5.0
It's sending POST requests twice.

[2018-01-23 07:09] apoorvaagrawal86 opened #4092 "401 unauthorized error for NTLM auth while running collection"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered this issue for the first time
 2. Expected behaviour: Running test collection with several GET and POST requests, gives 401 unauthorized error on certain iterations of the collection. Ideally, it should give 200 OK status since it executed correctly when executed individual

[2018-01-23 08:33] MarKco commented on #4090
Hello,
I'm experiencing the same issue here as well, on both windows and mac :-/ Is something happening to the servers?

[2018-01-23 08:38] prashantagarwal commented on #4089
@tvvignesh We have already included API Network in Postman app itself. If you are on native app the click on `New` button on top left corner
<img width="1275" alt="screen shot 2018-01-23 at 2 06 20 pm" src="https://user-images.githubusercontent.com/3762808/35265645-b8045860-0046-11e8-9341-88a39d95f9c1.png">

[2018-01-23 08:38] #4089 closed, assigned to nobody

[2018-01-23 08:40] MarKco commented on #4090
I apparently solved the issue by logging out on both devices and cleaning data. I guess this was a data sync issue on the single machine.

I hope this helps!

[2018-01-23 09:19] JohannesRudolph commented on #3835
+1 it's a constance nuisance (even if you know how to workaround/fix it)

[2018-01-23 10:01] #4082 closed, assigned to sivcan

[2018-01-23 11:12] sobkowicz commented on #1947
+1

[2018-01-23 11:12] sobkowicz commented on #4044
+1

[2018-01-23 11:57] Rocking80 commented on #2331
Hi Guys,

It has been more than 1 year since daniellemoreira1 raised this issue. Just wonder is there any progress on this enhancement? If we cannot save attached file in collections, actually we cannot automate the collections by postman runner, because every time we need to specify the file in the form data manually. Otherwise the post request will fail because of missing file data.

[2018-01-23 12:45] nickyadvokaat commented on #1643
Hey @pawanrawal

I had some issues with this too. I might help to know that Postman cannot deal with double quotes (") in XML from the imported .csv file. These will be ignored which results in invalid XML data in the body.

I solved this by replacing all double quotes in the XML with single quotes ('). (Which is valid in XML)

[2018-01-23 12:53] bertramn commented on #3903
I agree with @brentco every time you switch a request or collection and fiddle with the settings, the prior settings are lost. This is particularly annoying when for some services one will need to add fancy hacks like #4051. :+1: for persisting the authorization context per collection with ability to override it per api call.

[2018-01-23 13:43] Nindouja opened #4093 "[FEATURE PROPOSAL] Local sync in choosen folder (VCS integration)"
I want to put my postman collection and a sample environement in my version control system. I know postman sharing is cool and do a lot but if one API endpoint change any of its parameters from release A to B and I checkout from one to another, I need to do some more action before I can get my test working in postman. Postman is no aware of different version of local sources.

What i propose is th

[2018-01-23 14:11] Sergi0 commented on #3390
Swagger just announced Swagger Inspector, so openapi 3 support looks like a crucial feature now

[2018-01-23 14:29] soroushchehresa commented on #1131
The problem is happening when use more than one account in postman!

**steps to resolve this issue:**
1: sign out from all accounts
2: login to postman with one account
3: 👍  in sync

**note:**
if you don't want to sign out from your accounts, you can use google chrome postman app :)

[2018-01-23 14:57] massukio commented on #3973
Same issue in my end, I have a parameter with http:// prefix which causes the request duplicating the parameters.

and I found a easy workaround is that replace "http://" with "http%3A%2F%2F" which can work perfectly for now. Looking forward to next release :)

[2018-01-23 15:53] harryi3t commented on #4077
@paul3291 Thanks for the input.
I could reproduce this. This is happening for only `form-data` body type.

Marking this as a bug. Will update this thread about the fixes.

[2018-01-23 16:02] viraxslot opened #4094 "Collection Runner stops running with error "Cannot read property 'toString' of null""
## App Details:
[code]
## Issue Report:
I have few steps in my project and I can run them one after another without any problem from main window of Postman.

In first and second request I use `pm.environment.set`.
In third request I use also something like that:
`
var filteredRec = _.filter(jsonData.data.test, {GroupId: Id})
`

When I try to use collection runner Postman returns an error and run s

[2018-01-23 16:07] kunagpal commented on #4094
@viraxslot Thanks for reporting this! This is happening because the variable value you are trying to set is `null`. While a fix is being worked on, could you include a fallback value for the suspected `.set` statements, like so:
[code]

[2018-01-23 16:16] viraxslot commented on #4094
@kunagpal Thank you very much, your advice helped me. I set "null" explicitly, because sometimes my parameters should be empty. Now I set empty string and the project runs without errors.
But I hope you'll fix it :)

[2018-01-23 16:48] bcodermicro commented on #4090
It appears just to be to an account using GLogin and not one which just logs on locally to their service....interesting

[2018-01-23 17:00] DeshpandeO1 commented on #1885
+1

[2018-01-23 17:03] mazerte commented on #1906
+1

[2018-01-23 17:16] forresthopkinsa commented on #4087
it looks like even 'WSO2' requires referencing a variable, just the same as you would in Postman

[2018-01-23 17:33] tvvignesh commented on #4087
@forresthopkinsa Nope. It does not require referencing a variable once set. It does it automatically (image below). Here, the Base URL is already made available once configured and we just have to enter relative paths.

![contextapi](https://user-images.githubusercontent.com/1165845/35290890-9ff7144c-0091-11e8-9249-6790f99b33f9.png)

[2018-01-23 17:40] forresthopkinsa commented on #4087
Okay, I see. Does this pose any advantages other than not having to type in the variable in the URL field?

[2018-01-23 18:09] dbkaynor opened #4095 "Is it possible to display line numbers of the related code in the console for debugging purposes?"

[2018-01-23 18:16] mc2qcriley opened #4096 "Missing Launcher"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:  Recent installation. Only installation on current computer:
![image](https://user-images.githubusercontent.com/22920973/35292488-7f18aa7c-0025-11e8-8d27-ea1e858680b8.png)

 2. Expected behaviour:  Start menu should contain icon with product launcher.
 3. Console logs (http://blog.getp

[2018-01-23 18:30] dbkaynor commented on #4095
Also is it possible to send a command to the console to clear it before running a test or collection?

[2018-01-23 18:30] #4095 closed, assigned to nobody

[2018-01-23 18:56] willmero commented on #2302
+1

[2018-01-23 19:06] tvvignesh commented on #4087
@forresthopkinsa Nothing specific. Just saves time of having to type in base url everywhere and managing it. Rather, all we have to do is specify a context url per collection and then just specify relative url for the rest. Easier to manage as well. Not a blocker or anything. Just a suggestion.

[2018-01-23 20:18] KennyGoers commented on #4079
+1

[2018-01-23 21:19] whippet-rider commented on #4077
Thanks @harryi3t

[2018-01-23 21:31] CreepyGnome opened #4097 "Feature Request: Improved Navigation and Management of Open/Working Items"
## App Details:
Postman for Windows
Version 5.5.0
win32 10.0.16299 / x64

## Feature Request
Depending on monitor resolution and orientation after getting a few to a dozen tabs open it becomes difficult to manage them.

It would be nice if there was a way to easily scroll through them left and right, as well as a way to see all tabs in a list. Like a menu option called "Tabs" or something similar

[2018-01-23 21:36] DedMorozzz commented on #3386
+1

[2018-01-24 04:00] jumpingstone commented on #3405
same here, crash every time on ubuntu LTS 16.04

[2018-01-24 08:28] JRPeq commented on #2489
sudo chown -R myUser /Applications/Postman.app/
chmod -R +x /Applications/Postman.app/

Solved my problem!

[2018-01-24 09:16] GrzegorzPi commented on #4081
You can just simply put both of index into test name for guarantee uniqe test name:

[code]

[2018-01-24 09:19] andreipet commented on #2523
+1 for suggestion from @salanford
Optional parameter....but without it you will get AADSTS50001...funny

[2018-01-24 09:22] granak commented on #4090
Same issue here, using GLogin... still Syncing (postman opened all night), nothing was synchronized yet.

[2018-01-24 09:31] dhruv-niki commented on #3251
Has this been fixed for Postman v5.5.0 ?

[2018-01-24 09:50] GrzegorzPi commented on #3737
I have a similar behaviour but only with interact between 2 collections.

My collection example:

1. collection

- subfolder

-- req11

-- req12

-- req13

-- req14

2. collection
- subfolder

-- req21

-- req22

-- req23

-- req24

In some drag and drop event it don't work correct:

**Scenario1:**
1) drag req21
2) drop on line after req14
3) req21 drops actualy between req13 and req14
Expected:
r

[2018-01-24 09:56] AndySoHotRightNow commented on #3737
Although not a permanent solution, this behaviour vanished once I restarted Postman, could you confirm if the same happens to you?

[2018-01-24 11:14] htmtester commented on #4081
thanks a lot

[2018-01-24 11:58] sivcan commented on #4081
@htmtester - No problem! 😄

[2018-01-24 12:37] olada opened #4098 "Syncing does not work behind corporate proxy (via websocket)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

According to other issues, it had been fixed in the past; however, I can observe that the bug still exists in the latest version.

 2. Expected behaviour:

After logging into the account, the application should sync with your account. However, no such connection can be established whi

[2018-01-24 13:21] GrzegorzPi commented on #3737
I have been looking a bit more into this.

I suddenly saw 2 type of dropping requests:
- drop on upper drop line
- drop on lower drop line

2 drop lines are so close, so I didn't see this until now (screen):

![postman](https://user-images.githubusercontent.com/35603973/35333532-5abb5036-010f-11e8-96c7-b11deafe2dad.png)

Behaviour:
1) drag in the same collection - dropping request on lower or uppe

[2018-01-24 13:36] khalyomede commented on #1345
Would gladly use Body to set my key-value pairs instead of directly passing those to the URL in a GET request. Upvote if you might find this feature useful.

[2018-01-24 13:49] hoomb commented on #2082
Still waiting for this feature. even after 1,5 Years

[2018-01-24 15:08] rawaludin opened #4099 "Can't handle big response"
My API have this response https://gist.github.com/rawaludin/1c0c988b155a6de56fc7d096804a8f50

I could get the response on curl on terminal and insomnia app. But postman give me error.

<img width="1278" alt="screen shot 2018-01-24 at 10 08 02 pm" src="https://user-images.githubusercontent.com/1274849/35339396-13e91abe-0153-11e8-915d-1956a96dec26.png">

[2018-01-24 15:21] bcodermicro commented on #4090
Hopefully this will be dealt with....ver frustrating. I can go back to 5.4 chrome app but want to be on 5.5 all around.

[2018-01-24 16:05] Rob-DeRosia commented on #4099
Your response isn't that large. Have you tried the steps listed under the **Why this might have happend** section? My guess is that you will need to disable the SSL setting.

[2018-01-24 16:11] Rob-DeRosia commented on #2240
Any update on when we can use Windows credentials for authentication purposes? I'd rather not store my username and password with my collection and instead have the application behave like it did with the Chrome app, passing it behind the scenes.

[2018-01-24 16:16] numaanashraf commented on #4099
@rawaludin Can you open the Postman Console (Menubar > View > Show Postman Console), resend the request and verify if you have any errors there?

[2018-01-24 16:21] zoboomafoo57 opened #4100 "Cannot create monitor, possibly because can't sync either"
## App Details:

[code]

Hey there I can't create monitor in Postman, when I submit a request to monitor a collection I'm getting "problem in creating the monitor" error without additional details. Using dev tools I can see the error returned i.e.

{"error":{"name":"instanceNotFoundError","message":"Instance not found in the database.","details":{"model":"collection","model_id":"3579022-c92a571f-7

[2018-01-24 18:23] jeffayan opened #4101 "Request Snippet was not formed Properly - Swift"
//MARK:-  In Below code postData serialization snippet from the
body was missing. it was not formed on request snippet.

import Foundation

let headers = [
  "content-type": "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW",
  "x-requested-with": "XMLHttpRequest",
  "authorization": "Bearer jA1YmU5NGNlMmNmM2EyODYiLCJpYXQiOjE1MTEzNTYzNjUsIm5iZiI6MTUxMTM1NjM2NSwiZXhwIjoxNTEyNjUyM

[2018-01-24 18:27] cyrfer commented on #1180
+1

[2018-01-24 18:43] whiteatom commented on #2762
Same issue.. new to Postman and was disappointed not to find WWSE as an option. I'm going to try emulating with manual headers and I'll let you know how it goes.

[2018-01-24 19:27] icebrg commented on #285
+1

[2018-01-24 19:45] ghost commented on #3759
+1

I have added a subdomain. On Chrome everything works well but Postmen can't see new subdomain until I flush my DNS.

[2018-01-24 19:50] Cloud-RF opened #4102 "Bulk Edit loses Descriptions"
## App Details:
[code]

## Issue Report:
When switching methods from 'form-data' to 'x-www-form-urlencoded', the bulk edit tool allows copy-pasting of rows of data. It doesn't carry over the description column so all my description fields are gone now and must be re-written, row by row.

[2018-01-24 20:42] steveostlind commented on #2086
+1

[2018-01-24 22:21] TylerKasper commented on #285
+1

[2018-01-24 23:28] genachka commented on #3963
+1 on Linux x64 (Ubuntu 17.10). BTW still issue with latest 5.6.0 canary build. How can I download 5.4.0??

[2018-01-24 23:32] genachka commented on #2260
Due to bug https://github.com/postmanlabs/postman-app-support/issues/3963 need to revert to previous version. How can I download 5.4.0? Can't believe it's been almost 2 years since this was asked and still not easily possible if even possible?

[2018-01-24 23:53] SamvelRaja commented on #2260
@genachka you can get it here https://www.getpostman.com/apps#changelog-mac-app

[2018-01-25 02:39] chris-burkhardt commented on #1947
+1

[2018-01-25 03:56] ScrappyXII commented on #3214
I have seen the same issue where some servers will throw an error if client_id is included in the request body. While the spec does say client_id MAY be included, some servers are more strict about this than others.

[2018-01-25 03:58] ScrappyXII commented on #3977
Experiencing the same issue as @jmatelet where the request does not reach the server with an OAuth2 request with authorization grant. Empty pop up occurs and nothing happens.

[2018-01-25 04:12] macejiko commented on #2906
Any progress on this? Really blocks our team from using postman..

[2018-01-25 05:02] rawaludin commented on #4099
@numaanashraf that one help me. It show `Error: The header content contains invalid characters`

You might want to suggest user to show this console when error happened. Thanks!

[2018-01-25 05:02] #4099 closed, assigned to nobody

[2018-01-25 05:03] Iliev88 commented on #3312
+1

[2018-01-25 06:45] timbkbasic commented on #2260
Still need version compatible with MacOS 10.8.5. Nowhere to be found...

[2018-01-25 06:54] numaanashraf commented on #2260
@timbkbasic The minimum version we support for MacOS is 10.9. We recommend using our Chrome apps if you are on MacOS 10.8

[2018-01-25 07:24] timbkbasic commented on #2260
<minor rant>Modern operating systems are designed to allow support for previous OS versions rather easily, so I am quite surprised so many developers force an operating system upgrade for their software.</minor rant>

That said, there must be a version of Postman somewhere that will run on MacOS 10.8.5. I am assuming that the version worked at that time. All I need is a download. I am not looking

[2018-01-25 07:58] JordenLCH commented on #1066
I need it too

[2018-01-25 10:38] sschocke opened #4103 "URL Segment parameters and documentation"
## App Details:
Postman for Windows
Version 5.5.0
win32 10.0.17074 / x64

## Issue Report:
I noticed that URL segment parameters work perfectly in the app itself, with a section in the **Params** area to fill in the value and a description. And this has been in place since 2015 from the issues I found surrounding URL segment parameters. Thanks for that and awesome work.

My problem is that those p

[2018-01-25 12:07] TomRed97 opened #4104 "Bug with OAuth 2 authorization."
## App Details:

[code]

In the previous version when you choose Authorization -> OAuth 2.0 -> click get new access token -> use token, it appears in your url
After last update when you click get new access token then when you click use token , you have to click it several times and then it doesn't appear in url. It sounds like several windows are created but not destroyed.

[2018-01-25 13:00] Amer21214 opened #4105 "[SOLVED] Collection variables not working"
## App Details:
Postman for Mac
Version 5.5.2
OS X 15.6.0 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always
 2. Expected behaviour: When using {{_variableName_}} in a request where the _variableName_ is set in the **Collection Variables** section, it is not being recognized in the request which is trying to use it.

![scrsh1](https://user-images

[2018-01-25 13:29] Saif03 opened #4106 "Postman windows native application installer failed"
Postman for Windows Native Application
Version win64 5.5.0
OS windows 10

When I try to run postMan native application installer for windows I get the following error:
"There was an error while installing the application. Check the setup log for more information and contact the author."

Setup Log:
[SquirrelSetup.log](https://github.com/postmanlabs/postman-app-support/files/1618956/SquirrelSetup.l

[2018-01-25 13:40] believersconnect commented on #2086
+1

[2018-01-25 13:56] callmeaatrey commented on #4104
@TomRed97 I'm sorry you had to witness this issue. But, good thing is that we already accounted for this fix in the upcoming release. Feel free to open the issue again if it still persists after that.

[2018-01-25 13:56] #4104 closed, assigned to callmeaatrey

[2018-01-25 13:59] TomRed97 commented on #4104
Thank you.

[2018-01-25 14:31] mrpronerd commented on #3506
On Mac OS 10.13.2 this now takes three undo attempts to get it to undo one step.

[2018-01-25 14:32] daverondell opened #4107 "GET Single Monitor always returns status failed when called during monitor execution"
**Given:** A Postman Cloud Monitor has continuously run successfully
**And:** That Monitor is currently being executed
**When:** Retrieving details of that monitor with the GET monitors/{monitor_id} endpoint
**Then:** The API responds with a status of 'failed' for the 'lastRun' (json element monitor.lastRun.status)

This is misleading, since the (most recently completed) lastRun was actually succe

[2018-01-25 14:47] frahugo commented on #1104
+1

[2018-01-25 14:59] DerekSansom opened #4108 "Right click > Copy doesn't work"
## App Details:

Postman for Linux
Version 5.3.2
linux 4.10.0-42-generic / x64

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
ALways
 2. Expected behaviour:
Select some text in response field > right click > copy, paste to a text file, expect it to paste the copied text
But it doesn't, it pastes whatever was copied before.
Ctrl C does work as expe

[2018-01-25 15:09] genachka commented on #2260
@SamvelRaja thank you, but looks like that supports only the current and immediate previous. They updated today to 5.5.2 so the only other one I can grab is 5.5.0 leaving 5.4.0 not downloadable. :(

[2018-01-25 15:10] genachka commented on #3963
5.5.2 resolved it for me.

[2018-01-25 15:22] dcp65 commented on #1104
Come on guys, with [Swagger Inspector](https://swagger.io/swagger-inspector/) now on the scene, you finally have some competition. Time to give the people what they want.

[2018-01-25 16:19] vdespa commented on #4105
That is a known issue that will be fixed probably in the next release.
You can still use the variables in the request builder, even if they are marked as unresolved.

[2018-01-25 16:39] sdauwalder opened #4109 "Incorrect folder order on sync"
## App Details:

[code]

## Issue Report:
2 synced accounts have different order of the folder of a collection

[2018-01-25 16:43] Amer21214 commented on #4105
Oh, awesome then! :)

[2018-01-25 16:45] EricPSU commented on #3963
@genachka Version 5.5.2 did not solve it for me on Linux x64 (CentOS 7).  I'm using self signed certs, which means I need to turn off `SSL certificate verification` in Settings > General.  Attached screenshot shows the first GET was with the setting ON, and it returns an SSL error which is expected.  Second GET is with it OFF, it does not attempt to send the certificates with the request.  It appe

[2018-01-25 17:17] ghost opened #4110 "Latest online docs layout has broken some features"
This is an issue with the latest online documentation.

I've written all of my documentation to allow users to link back to key pieces of information such as the authentication process for each request by clicking on a link in the explanation of that request.

This was based on the documentation that postman itself had for it's own api's;
https://docs.api.getpostman.com/?_ga=2.234138839.812167779.

[2018-01-25 17:36] ashu153535 commented on #1966
I tried to Create a Collection (Sprint) and under Collection Sprint added 2 more Collections as Sprint1 and Sprint2 and dragged dropped or created New Methods under Sprint1 and Sprint2. After that try to run Collection Sprint and that will run all the methods of Sprint1 and Sprint2.

[2018-01-25 21:08] davemoos commented on #285
I'd add my +1, but I'm not sure it would help.  5 years since this was asked?  Any ETA or is this just a dead issue?

[2018-01-25 22:54] franjo2016 commented on #2750
I started getting same issue on latest postman (5.5.2) after importing a collection from a file. Everything else worked ok, but the imported ones kept giving "parse error" and "no response". Very annoying. Exact same collection imported in chrome app worked just fine.

[2018-01-26 00:27] dbkaynor opened #4111 "Feature request for console"
1. Add a command which can run from pre-request scripts to clear the window.
2. Add a tail like feature to keep newest data visible.
3. Add debug line numbers that reference the Body or test editor lines.

[2018-01-26 07:09] adis-io commented on #974
+1

Needed shortcut to focus selectbox with environments

[2018-01-26 10:05] lloiacono commented on #4091
Same for me using the OSX app Version 5.5.2 (5.5.2)

[2018-01-26 12:21] granak commented on #4090
This got resolved for me in 5.5.2

[2018-01-26 12:23] Zymlex commented on #4006
+1

[2018-01-26 15:00] worldyuan commented on #3687
me too for Postman-win64-5.5.2-Setup

win10

[2018-01-26 15:37] mathewrg commented on #4044
+1
Thanks for all the good work you guys are doing. Having this feature will increase the usability very much. Thanks..

[2018-01-26 15:55] bgrabar commented on #4060
Related issue: https://github.com/postmanlabs/postman-app-support/issues/4057

[2018-01-26 16:03] joeyciechanowicz opened #4112 "Folders Pre-Request Scripts blank in dark theme"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not present on the default theme, and not present on a collections pre-request scripts. Only a folders.
 2. Expected behaviour: You can see your pre-request scripts for a folder
 3. Console logs: n/a
 4. Screenshots (if applicable):
Before:
![image](https://user-images.githubusercontent

[2018-01-26 16:07] skhg commented on #283
+1

[2018-01-26 16:15] vinogradoff commented on #2681
doesn't work for me in 5.5.2

just put like Content-Type Header and try

[code]

it is actually another bug, just linking here:
#4113

[2018-01-26 16:25] vinogradoff opened #4113 "Postman converts Request Headers to lower case when running test scripts"
## App Details:

[code]

## Issue Report:
1. Send any GET request with Header "Content-Type: abc"
2. Write tests

[code]
-> Results:
FAIL
PASS

Expected: don't change headers, so:
PASS
FAIL

[2018-01-26 17:02] wizzy25 commented on #1906
+1

[2018-01-26 18:04] schmod opened #4114 "308 Redirects are always turned into a GET request"
If I try to make a POST, PUT, or DELETE request to an endpoint that returns a 308 redirect, Postman always transforms the into a GET.

Here's a runkit app that demonstrates the issue:
https://runkit.com/schmod/5a6b6b89e3908200129ff6cf

Use Postman to make a PUT request to:
https://runkit.io/schmod/5a6b6b89e3908200129ff6cf/branches/master/redirect

![screen shot 2018-01-26 at 1 03 01 pm](https://us

[2018-01-26 19:40] CallumWatkins opened #4115 "Add "new request" option to collection/folder menu"
## Feature Request
Ability to right click (or click 3 dots) on a collection/folder and add a new request.

I believe there are two ways of implementing this:
1. Open up the standard "save request" dialog, but where the collection/folder location has already been selected.
2. Or, a slightly more polished version would be an "add request to [collection/folder name]" dialog where the ability to selec

[2018-01-26 19:45] pabloharrys commented on #3390
+1

[2018-01-26 21:01] atartanian commented on #2819
+1

[2018-01-26 21:21] binarymist commented on #824
The fact that Postman stores secrets unencrypted is simple insanity. There are many ways to do this much better.

[2018-01-26 21:57] atartanian commented on #2851
+1

[2018-01-26 22:11] bscarlavai commented on #3955
I'm seeing this issue as well
[code]

[2018-01-26 22:48] pedro75757 opened #4116 "Collection Runner Not Loading"
Postman for Windows
Version 5.5.2
Windows 10 x64
[code]

[2018-01-27 07:39] hashunst commented on #1947
+ 1

[2018-01-27 08:39] andreypolyak opened #4117 "Add ability to change indentation size in settings"
## App Details:
[code]

## Issue Report:
Postman by default use 4 spaces for auto indentation (Ctrl+B). I cannot find any place in settings where it can be reduced to two spaces. Can it be added to settings?

![image](https://user-images.githubusercontent.com/7446762/35470229-6214a83e-0356-11e8-883a-64b0f3a1096e.png)

Thanks,
Andrey

[2018-01-27 09:10] andreypolyak opened #4118 "Auto indentation adds empty line between variable and code in editor"
## App Details:

[code]

## Issue Report:
I mostly use Postman for SOAP calls where envelope is very verbose. To hide it and show only body of SOAP request I use two variables: ```{{header}}``` at the top place of a request and ```{{footer}}``` at the bottom.

Sample:
![image](https://user-images.githubusercontent.com/7446762/35470416-2714691e-035a-11e8-8e64-adcdced8d47e.png)

When I try to auto i

[2018-01-27 09:52] arenaq commented on #4044
+1

[2018-01-27 11:52] elliotblackburn commented on #824
@binarymist can you please provide some examples, that might be helpful to the rest of us who need to push this information through postman and into our API's for testing?

[2018-01-27 12:12] Iliev88 opened #4119 "How to clear cookies automatically"
## App Details:

[code]

## Issue Report:

1. I need to obtain a token which is changed every day.
2. For the purpose two requests are chained (first one gets the authorization path and the second one obtains the desired token, then the token is used throughout the whole collection).
3. This works as expected only the first time when I run the collection.
4. On every next attempt an exception is t

[2018-01-27 12:39] Iliev88 commented on #4119
I have just run my collection via **newman** and it runs as expected.

So maybe I find a solution of the problem by empirical approach.

If you have any other comments please add or just close that issue. :)

[2018-01-27 12:46] AbdelrahmanHafez commented on #3737
Same thing happens to me, whenever I try to move a folder from one place to another in the same folder, it gets moved to either inside a sibling folder, or move to a higher level of folders.

Sometimes when I move a folder, other folders disappear, the drag and drop features inside the collections need a lot of work.

[2018-01-27 13:16] AbdelrahmanHafez opened #4120 "Collection drag and drop doesn't work properly"
I've been trying to recover my lost requests for the past 4 hours, and I found a backup.
The issue is that when I tried to move a folder from one level to another, or even reorder it in the same level. Very weird things have happened, requests disappeared, even some folders.

The surprising solution was that I use the light theme instead of the dark theme, I don't know if this can be relevant or n

[2018-01-27 14:09] Iliev88 commented on #4120
I am always using dark theme and such kind of problem is not faced.

[2018-01-27 14:14] kahneraja commented on #1678
lets make this happen!!!

[2018-01-27 14:34] AbdelrahmanHafez commented on #4120
Do you happen to be syncing with a team? It's possible this bug has to do with syncing.

[2018-01-27 18:10] PyExplorer commented on #3503
Hi, I've encountered the same situation for native app and the reason was in the external proxy (Settings-> Proxy->Global Proxy Configuration  had been turned on)

[2018-01-27 18:56] andreypolyak opened #4121 "Show request names in History panel"
## App Details:
[code]

## Issue Report:
I use Postman mostly to send SOAP requests where all requests have one endpoint URL. This makes Histoty panel totally useless because it only shows endpoints of the requests and not their names.

Screenshot:
![image](https://user-images.githubusercontent.com/7446762/35475294-c7404992-03ac-11e8-8774-26d4bb28ebb7.png)

It would be nice to have both endpoint a

[2018-01-27 20:14] t-mdo commented on #3386
Hey guys. Still no news about that update ? It's been quite a while now.

[2018-01-27 20:28] x80486 opened #4122 "Provide a "snap" as software package — for Linux systems"
Snaps are containerized software packages that are simple to create and install. They auto-update and are safe to run. And because they bundle their dependencies, they work on all major Linux systems without modification.

If you use snap packaging (Ubuntu's new universal packaging standard), we can submit this application to Ubuntu's Developer Portal and have it show up in the software store.

Fo

[2018-01-27 21:29] petrovi4 commented on #166
+1 for custom methods

[2018-01-27 21:43] binarymist commented on #824
Hi @BlueHatbRit

I'm assuming you mean "How I would go about making postman safe"?

A good place to start would be to lock up any fields such as passwords, api keys in an encyrpted (using a proper KDF https://f1.holisticinfosecforwebdevelopers.com/chap06.html#web-applications-countermeasures-data-store-compromise-which-kdf-to-use) database/vault. Tools such as the free and open source KeePass woul

[2018-01-28 07:28] youcef-laribi commented on #1744
+1

[2018-01-28 10:05] xavier-b commented on #4044
+1

[2018-01-28 10:18] chhahira commented on #3962
@imindrajit how can i remove the directory you mentioned. I could not find it in my system. I have the latest postman installed. APologies if this is a silly question. I am still not able to login to my postman account.

[2018-01-28 16:19] jacek-s commented on #3472
@SumanKhanra You can always use curl if you don't mind using command line.

[2018-01-28 19:36] binarymist commented on #824
I'm not sure how the historical requests are saved and handled, I'm guessing we could handle them the same way we would handle intentionally saved requests. Possibly they could be saved with fields containing values we want to not be seen by blanking them out before save, and reloading the same way as intentionally saved requests.
I'm guessing we would store a key with the field of any saved reque

[2018-01-28 22:14] Anton-V-K commented on #3019
Recent versions 5.5.x still install themselves into current user profile, thus considerably eating disk space, since each version is about 200 MB (and updates itself regularly).
The app should install itself into the location for all user and update itself only after the user enables such feature.

[2018-01-29 02:30] godfrzero commented on #4110
Could you shoot an email to help@getpostman.com if you haven't already, with a link to your documentation? I'm not seeing the same problem on other docs we're hosting, so this might be something specific to your collection. I'll know for sure once I take a closer look.

[2018-01-29 02:32] snowmen233 commented on #4006
+1
Though there are already several 3rd-party portable Postman REST Client, we would trust the official version the most :)

[2018-01-29 07:36] razikallayi commented on #2256
Same blank screen issue for me too.
Postman version: 5.5.2
Windows 10 64bit Os

![image](https://user-images.githubusercontent.com/11429908/35498623-144c908a-04f5-11e8-89be-bc1eb0300381.png)
![image](https://user-images.githubusercontent.com/11429908/35498670-43283706-04f5-11e8-84aa-84b5e25581f4.png)

The problem is with windows app. I have tried reinstalling the windows app.
But chrome app is wor

[2018-01-29 09:04] dotancohen commented on #1257
Note that to unfold a portion of JSON with `Alt-Shift-L` (See abhijitkane's comment for link), the cursor must be on the *folded marker*, not simply on the line.

[2018-01-29 10:03] ssparasuram commented on #1947
+1

[2018-01-29 10:44] DerAlex23 commented on #3688
I run into the same issue with german umlauts.
OS: Windows 10 Pro (64 Bit)
Postman: 5.5.2 (up to date)

I try to access a REST-API. The url looks like http://localhost/users/XXXXXX (where X is the username).
Sending in postman a request like http://localhost/users/fööbär results encoding error and returns something like this as username: f??b?r (where ? are non printable invalid chars).

[2018-01-29 11:13] KevinvdBurg commented on #2256
I can confirm that the app still shows a blank screen. The issue at the postman issue tracker is therefore still open.

[2018-01-29 11:38] khamiltonuk commented on #1180
+1

[2018-01-29 12:45] bartdkmediahuis commented on #1381
@a85 : Mind sharing a link to the documentation of this feature in this ticket ? Thanks !

[2018-01-29 13:29] sdnts commented on #4088
@tvvignesh Thanks for the feature request! We're actually working on a concept of workspaces which should behave the way you want. You would be able to organize collections/environments etc. by placing them in workspaces. This will be out on our Canary channel very soon.

You can download our Canary builds here:
OSX: https://dl.pstmn.io/download/channel/canary/osx_64
Windows 32-bit: https://dl.pst

[2018-01-29 13:29] #4088 closed, assigned to nobody

[2018-01-29 13:31] sdnts commented on #4090
@bostonmacosx @granak @MarKco Are you guys still seeing this with the latest version?
We've been working on making the Sync layer a lot more stable recently. The upcoming version should have these changes, so that should solve most of these issues. I'll let you know here when the next version is out.

[2018-01-29 13:35] sdnts commented on #4092
@apoorvaagrawal86 This sounds like an issue with your CSV file. Does your CSV file have enough data for all 6 iterations?
Can you keep the Postman Console (Cmd/Ctrl+Alt+C) open during the run and verify if the calls outgoing are correct?
If they are, it would point to an issue with your server. Let me know if they're not.

[2018-01-29 13:41] sdnts commented on #4093
Hi @BancarelValentin, if you're on the Pro plan, you can take a look at our GitHub integration. If I understand correctly, that would solve your issue. You can also restore collections to a previous state from within the app if you're on Pro.

If you're not on Pro, you can export a collection from the app at any time and commit those to a VCS. This is a manual process.

I'm closing this for now as

[2018-01-29 13:41] #4093 closed, assigned to nobody

[2018-01-29 13:46] sdnts commented on #4096
Hi @mc2qcriley, I'm unable to reproduce this. I installed the app, and a shortcut was created on the desktop. The Start Menu also had the Postman shortcut.
Am I looking in the correct place? Where are you expecting the launcher? Can you attach a screen capture or something similar? It'll help me debug this faster.

[2018-01-29 13:51] sdnts commented on #4097
Hi @CreepyGnome, thanks for the suggestions! We've been working on a couple of features to help out this use case!
First off, you should be able to scroll through the tabs list by scrolling left/right or up/down when hovering over the tab bar. I understand this has its limits (if you have a lot of tabs open).

Starting with the next release, you'll be able to create workspaces, which is a way to o

[2018-01-29 13:53] sdnts commented on #4098
Hi @olada, this is a known issue. Our Sync layer is built on top of WebSockets, and some corporate proxies do not allow WebSocket connections. Does your proxy/firewall allow this?
If not, I'm afraid there's little we can do.

I'm closing this for now, but please let me know if WebSockets are allowed and Sync still does not work :)

[2018-01-29 13:53] #4098 closed, assigned to nobody

[2018-01-29 14:14] connorsadlervelo opened #4123 "API to export config data for backups"
## App Details:

[code]

## Issue Report:
Is there a way or please could you create a way to allow me to export Postman config settings by running a script or making an API call?
I would like to backup my project files myself by copying files on my file system.
I do not wish to use online services as the data may be sensitive.
I raised this with support and they suggested "regularly exporting app

[2018-01-29 14:23] sdnts commented on #4100
Hi @zoboomafoo57, can you head over to your [dashboard](https://app.getpostman.com), click on the user icon at the top > Profile and make sure all your collections are intact? You can do so by clicking on a collection's name, and verifying requests and folders in there. Since you say you have only one request, this should be easy to do.

If they are, you should be able to safely sign out + sign ba

[2018-01-29 14:25] sdnts commented on #4105
@Amer21214 As @vdespa said, these variables are not being populated in the autocomplete menus, but they do work. This has been fixed internally, and it will be out in the next release.

[2018-01-29 14:42] Nindouja commented on #4093
I tried the GitLab integration as I'm an user of GitLab in my company. But we are running a private instance of GitLab which doesn't seems to be integrated. So bad :/

[2018-01-29 15:44] gjnk opened #4124 "Request name (pm.request.name) is undefined in Tests"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **First time trying this**
 2. Expected behaviour: **Expected pm.request.name to return the name of the Request**
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): **See b

[2018-01-29 16:06] gmile commented on #2604
We see the issue to. Unfortunately our tests fail due to this. @prashantagarwal would it be possible to have this as a configuration option?

We're using 5.6.0 canary.

[2018-01-29 16:32] sharq88 opened #4125 "Sync/Duplicate random new endpoints / changes not saved"
Hi.

Not sure why this happening, but this is very annoying... Just duplicated a folder and since then the app behaves very weird! Done this before, but never had any issue... now things randomly disappear and new endpoints created out of the wild!

## App Details:
Postman for Mac
Version 5.5.2 (5.5.2)
OS X 10.12.6

## Issue Report:
 1. Did you encounter this recently, or has this bug always been

[2018-01-29 18:08] wildsurfer commented on #6682
+1

[2018-01-29 19:16] kissgyorgy commented on #3098
On Linux it says "You can only use your Security Keys with Google Chrome."

[2018-01-29 19:42] jmoniatte commented on #3691
Same issue here too
[code]

[2018-01-29 21:16] poisa commented on #2847
I would love to have this too. Discriminating between optional and required is a must when writing documentation.

[2018-01-29 21:16] EMBuildEngineer commented on #649
@zmb5000 i too experience the same issue where a variable set in environment variable is not substituted in the raw body request. I tried within quotes and without quotes too still not working.
Let me know if you had got it working.

[2018-01-29 21:19] zmb5000 commented on #649
I definitely will. The more help, the merrier. :-)

On Mon, Jan 29, 2018 at 4:16 PM, EMBuildEngineer <notifications@github.com>
wrote:

[2018-01-29 21:20] poisa opened #4126 "Feature request: Globally assignable GET parameters"
Take pagination and search for example. In my case, 99% of my API endpoints contain the same pagination and search options (which are of course optional). It would be great if I could define these in a global place and then assign these parameters to any requests that I like.

This would save me from having to copy/paste these GET parameters in all my other -hundredths- of endpoints and will also

[2018-01-29 21:39] zmb5000 commented on #649
Are you using the most recent version postman? I updated my version and it
worked now. I am able to evaluate variables without quotes around them now,
even though booleans and integer variables being referenced from the
environment will be highligthed red, as if they are not being evaluated.
After all of your variables are in place, run the request and see if it
returns a 200... if not then it may

[2018-01-29 21:50] EMBuildEngineer commented on #649
![image](https://user-images.githubusercontent.com/35581860/35536264-3cc7bbb0-04fb-11e8-8c06-9b857fb78e7b.png)
@zmb500 thats the version i am using.

[2018-01-29 21:53] EMBuildEngineer commented on #649
@zmb5000 when  i use the same variable in URL, it works fine. But its not evaluating itself when used in Body --> raw (i checked text, application/json formats)

[2018-01-29 23:00] gmile commented on #2604
We were able to get around the problem by "skipping" redirection, e.g. specifying https in the first place instead of http in postman requests.

[2018-01-29 23:03] danielingegneri commented on #285
+1 I guess? I am still searching for this functionality. First page I hit.

[2018-01-29 23:16] govindrai commented on #1947
+1

[2018-01-29 23:24] govindrai opened #4127 "AWS auth sets default content-type as application/x-www-form-urlencoded"
## App Details:
Postman for Mac
Version 5.5.2
OS X 10.13.1 / x64

Hi guys. Hope it's another good day at Postman Labs! We are using Postman's AWS Signature feature for signing requests. The problem is Postman sets the default content-type as application/x-www-form-urlencoded. Why? It's causing requests to fail and return "Unsupported Media Type" from AWS.

Also, this is another pleading request fo

[2018-01-29 23:25] degraaf commented on #4044
+1

[2018-01-30 00:27] zoboomafoo57 commented on #4100
Hi @madebysid, not sure exactly what happened here but after checking my profile online and starting postman afterwards, the sync miraculously started to work! I can now not only see my collection but also create a monitor. Note that I had tried to sign out and back in before w/o success. I had also tried to stop sync and restarting it

Thanks for your reply

[2018-01-30 01:11] geoffwellman commented on #285
+1

[2018-01-30 04:46] garethcollinson commented on #2302
+1 - required for any xero accounting integrations

[2018-01-30 06:18] harishKD commented on #3902
Still happening on Ubuntu(16.04)
App Version - 5.5.0

[2018-01-30 06:40] apoorvaagrawal86 commented on #4092
Hello Sid,

Thanks for the reply. I verified the csv file and it has complete data for all the 6 iterations.

Please find the snapshot for 2 GET calls in the postman console. One returns 200 status whereas the other returns 401 status.
I am a novice in evaluating the api's, hence please let me know what all parameters should I look to identify the correctness of an api.

![image](https://user-imag

[2018-01-30 07:35] cae5ar commented on #3786
I have the same problem after update and I can't disable gpu acceleration. Chrome, Visual Code, Atom and the other applications which use Electron Framework have alike artefacts when use gpu acceleration.
macOS Sierra 10.12

[2018-01-30 07:44] cae5ar commented on #3786
I have stared Postman via terminal `Postman.app/Contents/MacOS/Postman --disable-gpu`, but I couldn't find "gpu disable" item in the application preferences

[2018-01-30 09:32] tomershay opened #4128 "Collection test runner shows up black"
## App Details:
Postman for Mac
Version 5.6.0-canary01
OS X 17.2.0 / x64

## Issue Report:
I recently upgraded to Postman Canary from the previous Postman version, because I thought it might help resolve this issue, but it seems to happen in Canary as well (few weeks after using it).
From some reason, when clicking the "Runner" button and opening the collection runner, it loads the screen and then

[2018-01-30 09:36] Alishankhan commented on #2931
+1 on Snap package!!

[2018-01-30 10:50] joeyhub opened #4129 "Duplicate doesn't work, no cookies"
In Chrome Canary, duplicate only creates a new entry in the same collection with the name plus copy appended. Saving it fixes this, however the save button always appears grayed out (giving the impression it's non-operative) and as though it does nothing.

Cookies also aren't showing at all.

[2018-01-30 11:19] zoso200 commented on #1966
Would also like to see the original suggestion

[2018-01-30 11:40] dennisslavid opened #4130 "Env/Global variables are interpreted differently between Runner and 'manual' requests"
When using environment or global variables with int values, these seem to be interpreted differently depending on whether you manually send the request or use runner to go over them.

eg. environment variable with:
key = iterator
value = 1

- When triggered manually this is interpreted as string value "1"
- When using Runner this is interpreted as int value 1

## App Details:
Postman for Windows
V

[2018-01-30 12:30] klapperkopp commented on #2931
snap pls

[2018-01-30 12:36] rorysmorris commented on #4125
Can confirm this is happening on a fresh install of Postman for me too.

[2018-01-30 12:49] sharq88 commented on #4125
More accurate way of reproduction: duplicate a non-empty folder in a shared collection (team lib)
Duplication is quite important functionality if you have an existing codebase. Is there any way to get looked at this?

@numaanashraf - Sorry for pinging you directly. Found your comment in regards of downgrading the app. I'm thinking on it as I have not seen this problem before.

[2018-01-30 12:58] kingloong91 commented on #2801
just what I want

[2018-01-30 13:11] sharq88 commented on #4125
Tried to downgrade the app to 5 different versions down to 5.0.2 all versions produces the same problem as described above - which makes me think the problem is with the sync, not the app itself.

[2018-01-30 14:16] zmb5000 commented on #649
Can you send what code you have so far?

On Mon, Jan 29, 2018 at 4:53 PM, EMBuildEngineer <notifications@github.com>
wrote:

[2018-01-30 16:19] ghost commented on #4110
Apologies @godfrzero, it's actually only the  documentation i.e. when you log in to your account and view the docs from there.
It's not an issue on the public docs, the style there hasn't changed.

This only changed in the last week or so.
I'll email on links and screenshots anyway.

[2018-01-30 17:12] godfrzero commented on #4110
Ah, okay. I'm guessing you're using the `======` header syntax in your markdown description rather than the `#`. This is a known bug in how we're parsing the markdown and we'll be pushing out a fix for it in the next day or two.

In the meantime, if this is critical, using the `#` syntax should fix your links. I'll post here once we've pushed out the fix.

[2018-01-30 17:24] hammhacks commented on #2942
Requesting as well.

[2018-01-30 17:30] ghost commented on #4110
I'm using the h1 tags e.g. `<h1>Authentication</h1>` which used to to add an id to the <h1 tags that it rendered.
When I manually inject the id into the HTML it works.
It used to also output a list under the introduction and above the endpoints which it no longer does.
The list had a class of "toc". It seemed to just pick up all of my `<h1>` tags.

[2018-01-30 17:39] godfrzero commented on #4110
Right, the fix we're pushing out should take care of this too. 👍

[2018-01-30 17:44] ghost commented on #4110
Great. Thank you.

[2018-01-30 18:22] lucasyvas commented on #4108
Also having this issue on Linux (Ubuntu 17.10)

Edit: Postman 5.5.2

[2018-01-30 19:22] tarunlalwani opened #4131 "Support for Promises & Async / Await in scripts"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always
 2. Expected behaviour:
The variable updates happen even through async code
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

Enter

[2018-01-30 19:41] johanngomes commented on #2030
+1

[2018-01-30 21:06] sam-sarmento commented on #2494
I also need this feature. Any news?

[2018-01-30 21:39] Tanz0rz opened #4132 "Dragging and dropping saved REST calls in Collections rarely works on Linux"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This bug has been around for as long as I can remember (~6 months)
 2. Expected behaviour:
Dragging a saved call to a new position in my collection should work
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, Vi

[2018-01-30 22:02] ifmx commented on #1983
I got the same issue with the Postman app, version  5.5.2

[2018-01-30 23:56] odran037 opened #4133 "Python3 http.client syntax error"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: As of the latest update
 2. Expected behaviour: When using the Code generator, the syntax is separating url and parameters with commas instead of dots and slashes. (See screenshot)
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ fo

[2018-01-31 00:05] lorengreenfield commented on #3444
@madebysid Sorry to comment on a closed issue!
I'd pay extra on the monthly membership fees to have this functionality. Our swagger file is generated from our application with hapi-swagger, which we then import into postman. Being able to re-import and merge (so that tests are not lost), would be awesome. Using the endpoint as a key for merging seems reasonable, no?

[2018-01-31 00:53] tobiaspetrasch commented on #1983
Same issue. Sends a post request twice.

[2018-01-31 02:37] zoboomafoo57 opened #4134 "Run sequence in runner not maintained in monitor"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: New issue
 2. Expected behaviour: I have a collection with 2 requests, the 2nd collection is depending on the first one. When I run the collection in runner the sequence is preserved, however if I run the same sequence in monitor the 2nd request always runs first (confirmed by console

[2018-01-31 05:43] DullCat-c opened #4135 "postman's DNS not change immediately"
First thanks for the team of postman ,  this is a very good tool , but why postman not like Curl and HTTPie change hosts's DNS immediately .This makes me very disturbing.

[2018-01-31 07:35] sergey-netdev commented on #1854
Any updates on this?

[2018-01-31 08:52] Ne4istb commented on #1535
+1

[2018-01-31 12:07] sdnts commented on #4102
@Cloud-RF, While I cannot promise a release date yet, we've been working on some improvements to the data editor in the app, and will take this use case into consideration.

[2018-01-31 12:09] sdnts commented on #4103
Hi @sschocke, Path variables like you're using are still not parsed by our documentation. These parameters are being deprecated in favor of environment variables, which offer the same functionality, and are more robust. Can you try using environment variables instead? These will also show up in the documentation correctly.

I'm closing this for now, but please reopen if I misunderstood :)

[2018-01-31 12:09] #4103 closed, assigned to nobody

[2018-01-31 12:10] sdnts commented on #4109
HI @sdauwalder, we've been working on making the Syncing process a lot more stable. These improvements will land with the next version very soon, so can you check then if issues like this reappear? I'll let you know here when the next version goes out.

[2018-01-31 12:11] sdnts commented on #4107
Hi @daverondell, thanks for reporting this.
@ankitjaggi Can you look into this?

[2018-01-31 12:30] kyleturner commented on #391
Still experiencing this issue on the native Mac client. Agree very frustrating, how can we help?

[2018-01-31 14:49] olada commented on #4098
Hi @madebysid,

in previous versions (where Postman was still a Chrome App, Syncing has definitely worked).
However, in the deprecated Chrome App version, it also does not work anymore.

So if the actual sync mechanism has not changed (and worked via websockets previously), the corporate proxy / firewall should not be the issue here (unless their policy changed of course)

For what it's worth, her

[2018-01-31 15:00] peeeto commented on #2617
+1

[2018-01-31 16:13] Frank591 commented on #3390
Any plans about OpenAPI3 support?

[2018-01-31 16:24] maximevdk commented on #285
+1

[2018-01-31 19:09] brunorafa commented on #903
up

[2018-01-31 19:39] turbokat opened #4136 "Postman adding "=" at the end of variables in certain conditions"
## App Details:

[code]

## Issue Summary:
the postman seems to be adding an "=" at the end of variables, which makes it difficult if not impossible to use them in URLs. e.g. http://my.server.instance/my.request?param={{postman-variable}} with **postman-variable** having the value say **foo** results in the URL http://my.server.instance/my.request?param=foo= (with the = at the end that I did not a

[2018-01-31 20:27] gnchiesa commented on #3136
Hi All. Has a solution for this ever been found? Postman simply cannot talk to apis hosted on https servers. I cannot do anything with the certificate as the server is managed by some external company and won't give it to me under any circumstance.
For now, I'm using a plain rest client that's no match for postman, but for this, it just works.
Would you fix this guys? pretty please?

[2018-01-31 21:57] todduk opened #4137 "Cannot use Postman without internet connection - NO ACCESS TO COLLECTIONS"
I use Postman in a VM which has not had internet access for more than a month. Today when I load Postman I am shown a sign in screen with no possibly to do anything constructive.

I have no access to my previous work, and clicking 'Cancel and take me to signed in account' does nothing.

This is absolutely unacceptable.

[2018-01-31 23:36] govindrai commented on #2378
Feature request: Can you please add this feature as a shortcut in the edit menu? I wasn't able to find this anywhere. Also is this documented somewhere?

[2018-01-31 23:38] govindrai commented on #3562
In addition to this, could you also add the shortcut into the `Edit` menu?

[2018-02-01 00:47] surfjedi commented on #2392
+1

[2018-02-01 06:50] Saif03 commented on #4106
Is this repo dead or something?

[2018-02-01 06:58] numaanashraf commented on #4106
@Saif03 That's odd. Could you check your antivirus settings?

[2018-02-01 07:02] numaanashraf commented on #4135
@DullCat-c Thanks for reporting this. Could you provide us with steps you followed in cURL/HTTPie and Postman to better understand your use case?

[2018-02-01 07:02] Saif03 commented on #4106
@numaanashraf I don't have any added antivirus installed, just plain old windows defender in windows 10. I'll try again after disabling it.

[2018-02-01 07:02] numaanashraf commented on #4132
@TannerMoore That's odd. We are looking into this.

[2018-02-01 07:04] Saif03 commented on #4106
@numaanashraf I tried disabling windows defender still no success.

[2018-02-01 07:11] numaanashraf commented on #4128
@sh-tomer Thanks for writing in. Looks like this is an issue in the underlying framework Postman is built on. We will include a fix for this as soon as it is available. In the meantime, you can try the workarounds mentioned here - https://github.com/electron/electron/issues/4380

[2018-02-01 07:26] fineday009 commented on #388
It worked. :+1:

[2018-02-01 08:31] heidemn commented on #285
+1
Why is this taking so long to implement?
How are we supposed to add variables like username and password?! (was easy with the Chrome app + Postman Interceptor, but it is deprecated)

[2018-02-01 09:13] alaczibb commented on #2931
Snap us please! :)

[2018-02-01 11:04] andreaforzani commented on #2476
+1

[2018-02-01 11:09] ameersabith commented on #1632
someone please explain its answer????

[2018-02-01 11:42] letaoana commented on #1508
Thanks @mbirtwistle

[2018-02-01 11:44] priyavj opened #4138 "From my Json output, i have a date field as "created": "2016-09-30T10:42:54.778Z", how can i set the filter to only return created after 2018"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-02-01 11:47] YellowFish085 commented on #3614
Update to my previous message.

I looked in the postman_collection.json file that is generated when you export a collection, and  it appears that some subdirectories didn't have the `_postman_isSubFolder` key.

I added it to all the subdirectories in the .json, removed the current collection from the app an imported the .json in the app, and for now I didn't encounter the problem described in this

[2018-02-01 13:56] jgf5013 commented on #285
I'm thinking this probably fell off of their radar. Maybe we should open another issue so it bubbles back up to the top?

[2018-02-01 14:20] metalcamp commented on #2691
Any updates on this feature?

[2018-02-01 14:21] sdnts commented on #4111
Hi @dbkaynor, thanks for the feature requests! We'll take these into consideration!

[2018-02-01 14:23] sdnts commented on #4112
Hi @joeyciechanowicz, thanks for reporting this. I was able to reproduce this. This isn't related to the theme you are in, I can see this on the light theme as well.

I'll get this fixed in an upcoming version.

[2018-02-01 14:32] dannylevenson commented on #2392
+1

[2018-02-01 14:37] tomershay commented on #4128
@numaanashraf , thank you, but none of the workarounds there resolve the problem.
No matter what I do, still a black screen.
Any idea what may have caused this issue to suddenly appear? It worked a for a while, but then stopped working.

[2018-02-01 15:07] edwardgalligan commented on #3819
Update on this bug - unfortunately I don't have much data, as it's difficult to reproduce reliably. It seems to only affect me when I'm not in a good position to debug (i.e. have no internet access and haven't pre-planned having debugging tools at the ready).

The best I can offer is a description and screenshot:

![screen shot 2018-02-01 at 14 56 56](https://user-images.githubusercontent.com/1702

[2018-02-01 15:19] TheNemus opened #4139 "Postman still use proxy even if disabled"
## App Details:
Postman for Linux
Version 5.5.2
linux 4.4.0-112-generic / x64

## Issue Report:
 1. I encountered this issue with 5.4.0, 5.5.0, 5.5.2
 2. Disabling the "global" and "use system" proxy settings from postman (and disabling the OS proxy too), should force Postman to make a direct call to host
 3.
`GET
http://localhost:3000/api/events
05:05:59.557
Pretty
Raw
Error: connect EINVAL 10.0.

[2018-02-01 17:32] edwardgalligan commented on #4137
See also #3819

[2018-02-01 18:55] escoffie commented on #4065
I switched back to Chrome version and everything was fine again. Then I needed access to pm object to store some values in env variables, so I had to use the stand alone version again, and sadly after a couple hours, again giving focus to Postman (maximize it) causes a Blue Screen Of Death.

[2018-02-01 19:11] comanche commented on #4006
+1

[2018-02-01 19:17] jdinardo30 opened #4140 "OAuth 2.0 Authorization header not being added by Postman"
Postman is not adding an Authorization header to my requests when using the built in generator.  I've seen this issue before (issue number below) and it was supposedly fixed, however I am seeing it now in the latest version.  I've tried uninstalling, re-installing, creating new requests, etc. but the header is not being added.

## App Details:
Postman for Windows
Version 5.5.2
win32 6.1.7601 / ia3