[2016-05-19 04:35] abhijitkane commented on #1011
@chiragpurohit71085 Can you please email help@getpostman.com with your App version number and user id? You can find this under Settings > About. Also, is the data visible at https://app.getpostman.com/dashboard/collections/private?expand=1?

[2016-05-19 10:58] sebastian121212 commented on #1997
Yes, its working now 👍

[2016-05-19 11:19] mplungjan commented on #569
Lost all collections and history Chrome 50 Win7.
Created a new collection, closed Postman, opened it; collection and history gone

[2016-05-19 11:35] abhijitkane commented on #569
@mplungjan Did you have sync enabled? If yes, can you check https://app.getpostman.com/dashboard and https://app.getpostman.com/dashboard/collections/private?expand=1? These links should show you your sync activity and the current state of your data.

[2016-05-19 12:24] mplungjan commented on #569
1: How to enable sync
2: Are we even talking about the same extension? My issue was with "Postman REST client" v 0.8
3: I installed YOUR Postman v4 from Chrome store - there are also no sync there. When I click on it in the app screen, it does not run - it crashes the tab instead

PS: I see "Error: QUOTA_EXCEEDED_ERR" in requester.js

[2016-05-19 12:33] abhijitkane commented on #569
@mplungjan
Postman Rest Client 0.8 was deprecated a long time ago. This does not have Sync. Collections added in 0.8 will not be available anywhere else.

You can try to locate the database file - You can try to recover the IndexedDB database which Postman uses. The IndexedDB files can be found in a location like this: ~/Library/Application\ Support/Google/Chrome/Profile\ 1/IndexedDB/chrome-extens

[2016-05-19 12:35] mplungjan commented on #569
I see nothing. The tab closes

On Thu, May 19, 2016 at 2:33 PM, Abhijit Kane notifications@github.com
wrote:

[2016-05-19 16:11] kaosdg opened #2074 "MRU URLs always revert to history Item when modifying and trying to send via keyboard."
Using Postman Mac App 4.2.0, on El Capitan 10.11.4 (15E65)

When I select a URL from the MRU dropdown, if I then modify that url and send the request via keyboard (command-Enter), the URL will always revert to the unmodified history URL then send the old request.

(I can successfully send the request if I physically click on the send button)

[2016-05-19 20:19] abhijitkane commented on #2074
@kaosdg Got it. We've fixed this in our internal build, and will be pushing the fix out in the next release.

[2016-05-19 22:12] #1997 closed, assigned to abhijitkane

[2016-05-20 08:05] Znarkus opened #2075 "Cmd+Enter unreliable on Mac app"
Hi! Cmd+Enter on the Mac app doesn't work reliably. When it doesn't work it either resets the URL to previous URL, or sends double requests. Restarting the app temporarily resolves this issue.
1. Postman Version: 4.2.0
2. App (Chrome app or Mac app): Mac app
3. OS details: 10.11.5 (15F34)
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always

[2016-05-20 08:06] abhijitkane commented on #2075
Right. We'll be pushing a fix for this in the next release.
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/2074

[2016-05-20 08:06] #2075 closed, assigned to nobody

[2016-05-20 10:23] #1957 closed, assigned to nobody

[2016-05-20 10:39] djgeary commented on #1674
Same problem here on with Postman 4.2.1 on Windows 7. I had to reinstall the app and lost all history and collections.

[2016-05-20 13:08] pkokoshnikov commented on #622
+1. It will be cool.

[2016-05-20 13:14] Etrunon opened #2076 "Gui not showing or Postman crash at startup"
Please include the following:
Hi,
I have a problem with which I can't open and use postman. When I click on the Icon or try to launch from terminal, the program seems to open and there is the icon in the launch bar, but I can't see the gui anywhere (alt tabbing show the running program but chosing it has no effect) and it isn't hidden on the screen under something else.
# Postman cannot launch #12

[2016-05-20 14:06] buennerbernd opened #2077 "Body is not displayed for Content-Type →image/svg+xml; charset=utf-8"
Please include the following:
1. Postman Version: 4.2.1
2. App (Chrome app or Mac app): Chrome 50.0.2661.102
3. OS details: win / x86-32
4. Is the Interceptor on and enabled in the app: no

I have a get-request that returns an SVG.

Response headers displayed in postman:

Content-Length →7733
Content-Type →image/svg+xml; charset=utf-8

The body is not displayed. There is only a broken icon. Also C

[2016-05-20 14:07] abhijitkane commented on #2001
--Also from issue 2077--

[code]

[2016-05-20 14:07] abhijitkane commented on #2077
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/2001

[2016-05-20 14:07] #2077 closed, assigned to nobody

[2016-05-20 16:03] Gutbuster commented on #1666
@abhijitkane Issue still persists. Verified with version 4.2.1.

[2016-05-20 21:09] mikaey commented on #2058
At the very least, it would be nice if the authorization type were saved with the request, so that I don't have to select OAuth 2.0 every time I open my request.

[2016-05-20 21:28] sqlrob opened #2078 "Hawk authentication fails when using variables"
Assuming valid hawk credentials configured in postman,
when going to a hawk authenticated URL that happens to contain a variable (either straight variables such {{baseurl}}, or function like ones such as {{$guid}}), the request returns 401. If the variable/function is expanded by hand into a constant , the request succeeds.

Postman Version: 4.2.1
App (Chrome app or Mac app): Chrome
OS details: Wi

[2016-05-21 10:03] abhijitkane commented on #2078
@sqlrob In 4.2.1 - I can see the Auth ID, ext, app, and dlg fields getting replaced. Are you not seeing the same behaviou
![screen shot 2016-05-21 at 15 32 46](https://cloud.githubusercontent.com/assets/681190/15447732/52d62d5c-1f69-11e6-9ce7-b188e08530bc.png)
r?

[2016-05-21 10:38] abhijitkane commented on #2078
@sqlrob Can you try sending a request as described at http://echo.getpostman.com/#hawk?
![screen shot 2016-05-21 at 16 08 16](https://cloud.githubusercontent.com/assets/681190/15447897/44b21dee-1f6e-11e6-95df-52daeafc80ae.png)

[2016-05-21 12:51] halilim commented on #213
+1 for "project" support. Currently I can use the environment of a project in another project and that doesn't make sense. Instead, I'd like to group collections, environments and presets etc. as projects in which;
- The said environments and presets would only be available in that project,
- When a request which belongs to a project is opened, the top environment for that project would be automat

[2016-05-21 13:05] sqlrob commented on #2078
I wasn't able to reproduce with host variables on your host, but I was able to reproduce with {{$guid}}

![image](https://cloud.githubusercontent.com/assets/926539/15448541/36d656b6-1f2a-11e6-8e4c-d487a7df467f.png)

![image](https://cloud.githubusercontent.com/assets/926539/15448547/7646b1ce-1f2a-11e6-9e82-b51759745cff.png)

[2016-05-22 06:58] sryze commented on #414
Reordering manually seems to work fine on the machine where you originally do it, but the order appears to be not synced between different installations. It would be nice to have it sync as well.

[2016-05-22 10:33] abhijitkane commented on #414
@sryze Can you check the order at https://app.getpostman.com/dashboard/collections/private?expand=1? If it's not the same, try signing out and signing back in to your app.

[2016-05-23 08:09] lal1029 commented on #1834
I just installed the latest Postman client for mac, along with Postman interceptor. Though the interceptor is clearly working, nothing shows up in the history bar in Postman.

[2016-05-23 08:10] abhijitkane commented on #1834
@lizerspockzebrafish The Interceptor does not work with the Mac app. You'll need to use the Mac app's proxy for this - https://www.getpostman.com/docs/capture_mac

[2016-05-23 08:54] ZeWaren opened #2079 "Oauth 1.0 access token always included in signature even if empty"
1. Postman Version: 4.2.1_0.
2. App (Chrome app or Mac app): Chrome app.
3. OS details: Irrelevant.
4. Is the Interceptor on and enabled in the app: Irrelevant.
5. Did you encounter this recently, or has this bug always been there: Was not present in the legacy app.
6. Expected behaviour: Oauth 1.0 signature is generated correctly.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-ch

[2016-05-23 08:58] abhijitkane commented on #2079
@ZeWaren Does the 'Add empty params to signature' option help?

[2016-05-23 09:00] EpocDotFr commented on #2079
I encounter this blocking issue too.

[2016-05-23 09:47] ZeWaren commented on #2079
@abhijitkane Yes it does.
My bad. That behavior was not the same in the legacy app and I assumed my problem came from there.

[2016-05-23 09:47] #2079 closed, assigned to nobody

[2016-05-23 10:00] abhijitkane commented on #2079
@ZeWaren Cool..different OAuth1 providers have different server-side implementations - we needed to add a few options to make it work for most services.

[2016-05-23 10:03] ZeWaren commented on #2079
To add more details: Postman 0.8.4.17 did not consider `oauth_token` when listing the empty parameters, and thus having the checkbox checked did not trigger the behavior I described.

[2016-05-23 14:51] wkuckro opened #2080 "calls leave subfolders and move up one level to collection"
Please include the following:

It only started with this collection. It is owned by another user on my team. I've made extensive modifications to it. When i opened it up recently a few things were out of place. I reordered them back. When i had to close and restart my computer recently, ALL the individual calls were outside their subfolders
1. Postman Version: 4.2.1
2. App (Chrome app or Mac app):

[2016-05-23 15:38] yyoungs commented on #1809
I have also experienced the runner executing calls in a different order to the order set in Postman. I am using folders of tests on 4.2.1 win / x86-32 Chrome 50.0.2661.102.

I have experienced several times in the past.

After experiencing the issue I closed and reopened Postman and the runner. This resolved the issue. After doing some tests I suspect that the runner is taking the order of the tes

[2016-05-23 17:10] tobilarscheid commented on #1228
+1

[2016-05-23 20:09] stupid-genius commented on #712
@abhijitkane I am also seeing this in Chromium (45) even with the JS exception added.

[2016-05-24 02:23] owentin commented on #1903
@abhijitkane sorry for late reply,
I have tried with version 4.2.1, and it works with myarray[], but not with myarray itself, and the value is like value-1,value-2,
thanks

[2016-05-24 08:06] rivierasolutions commented on #366
+3 So annoying

[2016-05-24 08:48] abhijitkane commented on #1903
@owentin For a request like the one in the screenshot, `request.data.myarray = ['v1','v2'];`. Are you not seeing this behavior?
![screen shot 2016-05-24 at 14 17 51](https://cloud.githubusercontent.com/assets/681190/15497856/645be3ac-21ba-11e6-8aa2-2232548d4229.png)

[2016-05-24 09:47] owentin commented on #1903
@abhijitkane sorry, I think I made a mistake, I can get correct value with request.data.myarray and request.data["myarray"],
Thanks

[2016-05-24 09:48] #1903 closed, assigned to abhijitkane

[2016-05-24 10:13] bertop89 commented on #883
I came across this problem. While I appreciate the "Add empty params", the behavior of POST and GET requests seems to be different in my case. In GET requests, leaving the "Token" field blank, doesn't generate an empty "oauth_token" param. However, in POST requests, leaving this field blank generates an empty "oauth_token" param which might lead to confusion when computing the signature.

[2016-05-24 13:22] borbamartin commented on #414
Seems fixed in the latest update. Thanks!

[2016-05-25 02:35] appcrazyprateek commented on #884
https://www.codechef.com/snackdown/2016?REF=crazyprateek

[2016-05-25 17:57] thkang2 opened #2081 "Postman hangs if you have too much previous data"
- Please notice that scrollbar on the right is very thin (many autocomplete data)
- Postman just hangs on startup for a few seconds, If you go to location bar and try to type anything and autocomplete is triggered. I'm not on SSD
- This may be because
  - autocomplete + sync with postman server on startup is heavy load
  - or there is just too much data to autocomplete
- there should be a way to r

[2016-05-25 18:00] thkang2 commented on #2081
how to reproduce: goto location bar, type `h`, wait minutes++ for postman trying to autocomplete 1000+ addresses that starts with `h` (https?:// .. everything)

[2016-05-25 19:10] adegroff opened #2082 "Look at response headers to determine file name on "Send and Download""
1. Postman Version 4.2.1:
2. Chrome app
3. win / x86-32
4. Interceptor on and enabled
5. Feature enhancement
6. Expected behaviour:

I have an endpoint that returns a file with the headers:

[code]

Postman opens up a save dialog to save the response as "**response.pdf**"
It would be nice if Postman would default to save the file under the filename provided in the header (eg. "**filename.pdf**")

[2016-05-25 21:15] kaosdg opened #2083 "Apply a transform to URLs when clicking?"
This _might_ end up being a feature request, but is there anyway to apply transforms to a URL when clicking on them in Postman?

I do a lot of iOS development, and our feeds return many urls as app-specific URI patterns:
"someapp://{section}/{identifier}"  which would correspond to:
http://api.someapp.com/feeds/version/{section}?id={identifier}&key=apikey

currently I have to do a lot of copy/past

[2016-05-25 21:30] samwalshnz commented on #448
+1

[2016-05-25 21:58] tee33 opened #2084 "Postman request to EMC ECS"
Please include the following:
1. Postman Version: 4.2.0
2. App (Chrome app or Mac app): Mac app
3. OS details: 10.11.5
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently, using aws signature to provide id/key to do a GET on EMC ECS.
6. Expected behaviour:
   Does PostMan support EMC ECS?
   <Error>
   <Code>InvalidArg

[2016-05-26 00:32] abhijitkane commented on #2084
@tee33 The EMC ECS API needs its own auth header (http://www.emc.com/techpubs/ecs/ecs_api_object_control_service-1.htm#GUID-3E2A3F7A-53F1-488E-BED9-2642DEE6E20C). AWS's signature algorithm will not be accepted by ECS.

[2016-05-26 05:40] sidd081-zz commented on #1263
+1

[2016-05-26 08:12] rajeshrite opened #2085 "Make it easier to build JSON"
Something like what this site does

http://www.objgen.com/json

[2016-05-26 09:13] rajeshrite opened #2086 "Show body first for PUT/POST requests - rather than authorization"
For PUT and POST requests... one has to go click Body everytime to see the body...but that's the primary part of the request in most cases....

Or perhaps some kind of default setting can be provided

[2016-05-26 09:31] liemqv opened #2087 "Can't install Postman offline from .crx file"
Postman is the best REST tool, but I'm having a problem follows:
I can't install postman offline from .crx file, error message: **"Apps, extensions, and user scripts cannot be added from this website."**
1. App (Chrome app or Mac app):Chrome app
2. OS details: Windows 7

![Error](https://lh3.googleusercontent.com/YfE4VPyt_4B_oDYFhWNOzgkbxMhEFsSzqxFZhJdGQgxmei6J7e7SCbg6LDndJ1i9oyTn=s170)

[2016-05-26 15:05] RaneofSoTN opened #2088 "OAuth 2 token request fail"
Currently my requests to use the oauth2 helper within the postman app have been broken. They were not always this way. It seems to be due to a recent upgrade of the app.

When we perform the oauth2 flow, everything works up until retrieval of the token from out endpoint. At this point, postman is listed as sending in both the basic auth header and the details in the body. Which is currently forbid

[2016-05-26 15:35] reggi opened #2089 "download collection naming is messed up."
Here's the colleciton

[code]

Here's the env

[code]

[2016-05-26 19:10] jamesaspence commented on #907
+1. I very much want collections with folders, with subfolders inside the folders, etc. etc.

[2016-05-26 23:05] jhalterman opened #2090 "Save authorization type"
Somewhat related to and #1463 - it would be great if postman **did** save the authentication type. As mentioned in #1463, the headers don't necessarily need to be saved, but the type at least should. This works well when the auth values are parameters that are substituted for an environment.

[2016-05-26 23:07] jhalterman commented on #1971
Tried it - looks good 👍

[2016-05-26 23:07] #1971 closed, assigned to nobody

[2016-05-27 06:23] MattiasMM opened #2091 "IndexedDB is growing uncontrolled >20GB"
4.2.1
win / x86-32
Chrome 50.0.2661.102
Interceptor ON

I send POST request with attachments in the form-data.
As a consequence the IndexedDB grows and grows with every message I send from Postman.

The folder:
...\AppData\Local\Google\Chrome\User Data\Default\Storage\ext\fhbjgbiflinjbdggehcddcbncdddomop\def\IndexedDB\chrome-extension_fhbjgbiflinjbdggehcddcbncdddomop_0.indexeddb.blob\ currently ho

[2016-05-27 08:49] jimonthebarn commented on #2085
I think that Json is simple enough by itself. I really dont see any value to create yet another form of abstraction. Besides if i look at the "demo" showcased at the referred link the json is already easier to read and comprehend than the "model definition". There are certainly more interesting features to implement.

Just my 5 cents though. :)

[2016-05-27 13:04] blowsie commented on #1525
+1, id like to see this lib in the sandbox

[2016-05-27 13:36] rajeshrite commented on #2085
Thanks jimonthebarn for considering my request.

PS: Postman's a great product....looking forward for it getting even more easier-to-use and useful :)

[2016-05-27 13:36] #2085 closed, assigned to nobody

[2016-05-27 15:13] tomhundt commented on #1173
This is still is not working a/o 5/27/16 (11 months later).  Exporting is possible but importing is not.

**Workaround** is to store Globals in a text file and use Bulk Edit and copy/paste back and forth.

[2016-05-27 18:05] KennethScott commented on #1137
+1

[2016-05-27 18:40] Jelloman commented on #2061
I've seen similar issues within a single session.  But for me, mostly, Postman 4.2.1 simply never remembers the file I've selected for a file field in the Body.  I have to re-"Choose File..." every time I launch Postman.

[2016-05-27 22:26] ghost commented on #2049
+1

I really need to be able to test as multiple users

[2016-05-27 22:38] ghost commented on #1224
Is it possible to do something similar in v4.2.0? I can't sign out of my current google oauth account.

[2016-05-29 16:13] abhijitkane commented on #2091
@MattiasMM The next version of the app will not store sent files in the history requests. For now, you can clear your history - click the trashcan icon (screenshot), and select 'Clear all'.
<img width="299" alt="screen shot 2016-05-29 at 21 43 17" src="https://cloud.githubusercontent.com/assets/681190/15634640/6990dc3a-25e6-11e6-8eb1-2d43e04867cc.png">

[2016-05-29 16:20] #1514 closed, assigned to nobody

[2016-05-29 16:20] #1458 closed, assigned to czardoz

[2016-05-29 16:20] #2002 closed, assigned to numaanashraf

[2016-05-29 16:20] #1457 closed, assigned to czardoz

[2016-05-29 16:21] #2006 closed, assigned to abhijitkane

[2016-05-29 16:21] #1923 closed, assigned to nobody

[2016-05-29 16:21] abhijitkane commented on #2074
@kaosdg Can you confirm this fixed in 4.2.1?

[2016-05-29 16:25] abhijitkane commented on #2048
@wcandillon Sorry, got the version numbers messed up. 4.2.2 shows the URL correctly. Just imported your dropbox link.

[2016-05-29 16:25] #2038 closed, assigned to nobody

[2016-05-29 19:18] borut-t commented on #2064
+1

[2016-05-29 21:41] divayprakash commented on #1228
+1

[2016-05-30 03:47] a85 commented on #366
Postman is available as a Mac app at www.getpostman.com/apps. A Windows app is going to be out pretty soon. Linux is in the works too. We can't put Postman in a tab because of restrictions of the Chrome platform.

[2016-05-30 05:51] chimit commented on #2086
Absolutely agree! Here was my similar request:
#1501

[2016-05-30 08:01] BrianLaughlan commented on #2066
+1

[2016-05-30 09:06] kanishka84 commented on #1583
I need to use few of the values which i saved as an environment variable inside body of a request which sends a json. Example:
Request 1 gives out response
"value": {
      "_id": "8cc912dd2a60288f466d20562902f629",
      "_rev": "255-42de29459eece1ec0004dec5027d9e0d",
      "ID": "120",
      "post_content": "SBI P.O. 2015, changed",
      "post_title": "SBI P.O. 2015",
      "regular_price": "50

[2016-05-30 09:32] dorian-marchal commented on #1524
Any update on this ?

[2016-05-30 12:15] wichert commented on #1444
This does not work for me with Postman 4.2.2.

[2016-05-30 14:07] dimalusa opened #2092 "cannot access to DB"
Postman - REST Client shortcut 0.8.4.8
On chrome ==> Version 51.0.2704.63 (64-bit)
Log
requester.js:112 Uncaught TypeError: Cannot assign to read only property 'indexedDB' of object '#<Window>'(anonymous function) @ requester.js:112
window.webkitIndexedDB

![image](https://cloud.githubusercontent.com/assets/6318802/15651544/9d22962a-2680-11e6-912b-20a3a165a616.png)

[2016-05-30 14:56] shafrir opened #2093 "Collection is missing"
Please include the following:
1. Postman Version:
   4.2.2
   win / x86-32
   Chrome 50.0.2661.102
2. Chrome app
3. Windows 10
4. disable
5. New bug
6. collection is missing
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

i have a VERY important collection this morning and now i see

[2016-05-30 15:00] sobtiankit commented on #2093
@shafrir Can you email help@getpostman.com with your account details?

[2016-05-30 15:46] tfrydrychewicz commented on #739
+1 for grant_type=password

[2016-05-30 20:20] wcandillon commented on #2048
@abhijitkane still can reproduce it with 4.2.2

[2016-05-30 20:23] ghost opened #2094 "Clear OAuth2 cached login credentials"
I'm trying to find a way to clear the cache so that I can change the OAuth2.0 user. I need to be able to do this because I need to test with multiple users to make sure that my API handles permissions correctly. I'm currently stuck as being logged in with one user and am unable to spawn a window that lets me select which count I want to authenticate with.

I'm using the Mac app, v4.2.2, running on

[2016-05-30 22:59] abhijitkane commented on #2048
@wcandillon Can you confirm the version again? I can see only 2 slashes when I import the link.
![swaggerimport](https://cloud.githubusercontent.com/assets/681190/15659449/366d2f0e-26e8-11e6-8bb2-2f94eefdb614.gif)

[2016-05-30 23:05] abhijitkane commented on #2092
@rdierickx Can you try upgrading (chrome://extensions > Enable developer mode > Upgrade extensions now). This was fixed in the latest version.

Also, this version isn't supported anymore. You should try the Postman app (https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en)

[2016-05-30 23:05] #2092 closed, assigned to nobody

[2016-05-30 23:06] abhijitkane commented on #1444
@wichert Can you include a sample YAML file that you're not able to import?

[2016-05-30 23:08] abhijitkane commented on #2067
@psaswat @open-mdm @hanyghazal In v4.2.2 of Postman, we've included a 'Persist Variables' option in the runner that should let you mimic the old behavior.

[2016-05-31 03:14] Scottsuen commented on #2006
yes，the issue is fixed. thx @abhijitkane

[2016-05-31 03:29] wcandillon commented on #2048
@abhijitkane It works great if you import from a link but not if you import the same file downloaded on your computer.

[2016-05-31 06:20] cristianmuntianu commented on #1905
Hello,

We are still experiencing this problem on postman 4.2.2.
Would you kindly review this issue and check if it's actually fixed?

The bug/error occurs when downloading archived database dump files from S3 using Api calls.

I ruled out the error from our api call since i've tried countless times to reproduce the bug using cURL calls and worked perfectly.
The file is around 200 MB in size.

Hav

[2016-05-31 06:32] cristianmuntianu opened #2095 "4.2.1 - Send and Download creates empty/invalid files"
Hello,

I have opened a new issue as a continuation of the closed issue #1905 .
We are still experiencing this problem on postman 4.2.1, and possibly even v4.2.2.
Would you kindly review this issue and check if it's actually fixed?

The bug/error occurs when downloading archived database dump files from S3 using Api calls.

I ruled out the error from our api call since i've tried countless times t

[2016-05-31 07:52] abhijitkane commented on #2095
@cristianmuntianu Do smaller files like https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png work for you?

[2016-05-31 07:55] cristianmuntianu commented on #2095
Hello @abhijitkane ,
Yes the smaller files work. I'm refering to .zip files not images.

Regards,
Chris

[2016-05-31 10:40] marcelubach commented on #1966
I'm also looking forward to have the original feature

[2016-05-31 13:15] toddmcbrearty opened #2096 "changing shortcuts"
is it possible to change the shortcuts?
I would so love command+r to execute the queries.

Please include the following:
1. Postman Version: 4.2.2
2. App (Chrome app or Mac app): mAC
3. OS details: 10.11.5
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01

[2016-05-31 13:40] kaosdg commented on #2074
@abhijitkane just pulled down 4.2.2, and the issue is corrected

[2016-05-31 18:08] dmitry-saritasa commented on #2022
[code]

sorry for a late reply - was travelling

[2016-05-31 19:44] #2074 closed, assigned to nobody

[2016-05-31 19:44] abhijitkane commented on #2096
@toddmcbrearty We're working on ways to make the shortcuts customizable, but we can't offer an ETA yet.

[2016-05-31 19:45] abhijitkane commented on #2048
@wcandillon That's odd - works for me with a saved file as well. The code flow is exactly the same for links and files.

[2016-05-31 21:50] cdanielsen opened #2097 "Postman/Newman both resolve templated values of null as a string"
**Setup**
1. Postman Version: 4.2.2
2. Chrome 50.0.2661.102
3. Windows 10 (win / x86-32)
4. Interceptor disabled
5. Bug seems to have always been there

**Steps to reproduce:** Attempt to resolve a templated value in a request with the valid JSON value of `null` via a global, environment, or data variable.  Example:

[code]

**Expected behavior:** `someKey` should be resolved with the valid value

[2016-06-01 07:08] wichert commented on #1444
@abhijitkane This is the YAML file I used: https://dl.dropboxusercontent.com/u/448540/swagger.yaml

[2016-06-01 07:52] czardoz commented on #2022
@saritasa are you able to open any other Chrome Apps?

As the log file says, your Chrome is consuming a lot of memory, and is not able to launch Postman because of that.

[2016-06-01 07:53] phillip-haydon opened #2098 "Cannot disable hyperlinks in responses"
Please include the following:
1. Postman Version: 4.2.2
2. App (Chrome app or Mac app): Windows Chrome App
3. OS details: Windows 8.1
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: All the time
6. Expected behaviour: Copy paste link without it opening new tab
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-

[2016-06-01 07:57] lgilz commented on #2022
At least I can open any other app.

[2016-06-01 08:41] ghost commented on #1104
+1 to this

[2016-06-01 11:31] kkrawczy commented on #739
+1

[2016-06-01 12:45] wichert commented on #1285
Is this feature still planned?

[2016-06-01 16:31] guatedude2 commented on #1921
Is there a way to import my collection from the Postman extension to the app? I can't export my collection from the extension due to this error.

[2016-06-01 18:29] lagane commented on #569
Folks,
I have similar issue after a chrome upgrade today. It is very critical for me to restore all my collections.

OS: Windows
Postman - Postman rest client
Snapshot of POSTMAN after chrome upgrade -
![image](https://cloud.githubusercontent.com/assets/19694273/15721040/2b93e514-2805-11e6-9c98-24c6163c1a3a.png)

Also looking at my indexeddb.leveldb . What can i do with this ?

Any help is truly a

[2016-06-01 18:31] lagane commented on #569
My version of Chrome is Version 51.0.2704.63 m (64-bit)

[2016-06-01 18:35] lagane commented on #569
Postman rest client version -  0.8.4.8

[2016-06-01 22:10] dmitry-saritasa commented on #2022
@czardoz yes I can open other apps, just not postman.

[2016-06-02 05:16] swapnilpatne commented on #634
How to handle file download request from Newman? Can someone please answer?

Postman's 'Send and download' doesn't handle it quite gracefully as I can see filename returned in response header along with file type whereas Postman simply opens up save as window without providing the actual file name returned from server as if Postman doesn't know what file was returned from server.

[2016-06-02 09:29] hsgfan commented on #1651
+1

[2016-06-02 09:55] hsgfan commented on #1651
@bgaillard: Any update on this? I find it tiresome to update the link in case of changes before we run Newman.

[2016-06-02 10:11] a85 commented on #1651
@hsgfan @bgaillard Synced API collections are available for Postman Cloud plan users. Documentation is available here https://api.getpostman.com/ and http://www.getpostman.com/docs/cloud_api.

[2016-06-02 10:24] czardoz commented on #2022
[code]

This suggests that your Chrome profile is somehow creating a corrupted version of that file. Can you try installing a build of Chromium browser: https://download-chromium.appspot.com/ and then installing Postman in that?

[2016-06-02 10:27] mstaalesen opened #2099 "Feature request: When using Save As on a request, remember/pre-fill the collection/folder it is in."
When working with requests, I often want to duplicate them for doing similar requests. Using Save As is the quickest way of doing this, it would be really nice if Postman could pre-fill the Collection/folder field with current collection (if the request that is being copied was in a collection/folder)

[2016-06-02 18:30] alessandrorodi commented on #448
+1

[2016-06-02 22:05] mfranco84 opened #2100 "Syncronizing issues"
Please include the following:
1. Postman Version: 4.2.2
2. App (Chrome app or Mac app): Chrome 50.0.2661.102
3. OS details: win / x86-32
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Been There more than 3 months
6. Expected behaviour: Syncronize collection in a proper way

Hi, I belong to AristaMD team, we previously re

[2016-06-03 02:24] tjwebb commented on #156
+1

[2016-06-03 05:53] mayurbhorkar opened #2101 "Postman Extension not working in latest Chrome Version 51.0.2704.79 m"
It seems after updating Chrome's latest Version 51.0.2704.79 m, Postman has stopped working.I Saw some javascript failure in "requester.js" file. Please find below details,
1. Postman Version: Chrome Extension V 0.8.4.8
2. App (Chrome app or Mac app):  Chrome Version 51.0.2704.79 m
3. OS details: Windows 7
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or

[2016-06-03 06:19] fmarais opened #2102 "Persist sort order"
Please include the following:
1. Postman Version: **4.2.2**
2. App (Chrome app or Mac app): **Chrome**
3. OS details: **Linux**

Sort order is not persisting on restart of application, very annoying!

[2016-06-03 07:10] a85 commented on #2051
The first version of the Cloud API is out. Documentation here at https://api.getpostman.com (published using Postman Cloud). POST calls coming soon for Collections so you should be able to automate this directly from Jenkins. :)

[2016-06-03 07:11] #2067 closed, assigned to nobody

[2016-06-03 13:18] aelgali commented on #907
+1

[2016-06-03 13:33] ghost commented on #1983
Hi guys. Not sure if we're talking about the same issue, but I just noticed my request (a simple GET) is sent twice too. It happens only with the shortcut Cmd+enter, when the focus in on the URL input.
- clicking "send" is OK ✅
- pressing enter when the focus is in the url input is OK ✅
- pressing Cmd+enter when the focus is in the body input is OK ✅
- pressing Cmd+enter when the focus is in the u

[2016-06-03 15:46] gablegar commented on #2101
Could reproduce, Although this extension is no longer supported, at least a fix for this should be provided to export the collections at least. I'm losing all my information :( .

This is a duplicate of #1942

[2016-06-03 16:05] soufian044 commented on #1850
03-jun-2016 the bug still there

[2016-06-03 17:24] macpie commented on #2044
Any update on this?

[2016-06-03 17:55] jjmartin opened #2103 "templating value is overwritten by the value in header (template isn't saved)"
Please include the following:
1. Postman Version: 4.2.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: Win 10/ x86-64  Chrome 50.0.2661.102
4. Is the Interceptor on and enabled in the app:  i think so
5. Did you encounter this recently, or has this bug always been there: probably always - just started using the templates
6. Expected behaviour:  when i put a template in a header value in

[2016-06-03 19:20] barbu110 opened #2104 "Font is too small for my vision and this cannot be increased in other ways than hacking the code"
The UI font in the application is very very small. I am having vision problems and it's always a struggle to use the application. Although I like it, I will probably have to move away if you guys don't give a hacking solution of changing the code somehow.

The results font can be changed in settings. However the overall UI font cannot be changed in any way. What can be done for a temporary solutio

[2016-06-04 00:08] ruslansokolov commented on #256
@abhijitkane Has this been implemented? I've deleted a shared collection, but it's still accessible via the URL.

[2016-06-04 08:42] wcandillon commented on #2051
This is very cool!

On Fri, Jun 3, 2016 at 9:10 AM, Abhinav Asthana notifications@github.com
wrote:

[2016-06-04 18:27] ameymahadik opened #2105 "Curl command Import"
Hi

I am trying to import the below curl command and then run it on postman but it gives me an error - Not Found"

Whereas when i run the same command using curl - it works fine and i receive a valid json string in return

curl https://api-sandbox.uphold.com/oauth2/token -X POST -H "Content-Type: application/x-www-form-urlencoded" -u f21abe7ec197bb5f841b53bce10dde670c4f20aa:feae50496d0d14594cc45e9

[2016-06-05 05:23] abhijitkane commented on #256
@ruslansokolov If you were signed in when you uploaded the collection, you can click your username (on the top-right corner of the Postman window) > My collections. Here, you should see an entry for this collection which you should be able to delete.

[2016-06-05 12:53] Gladskih commented on #1137
'must have' feature! I've been surprised it's not available in the app.

[2016-06-06 05:28] RonakThakkar opened #2106 "Delete button not visible when clicking Existing Tokens Name"
Please include the following:
1. Postman Version:4.3.0
2. App (Chrome app or Mac app): Chrome app
3. OS details: Windows
4. Is the Interceptor on and enabled in the app: Don't know. But may be not.
5. Did you encounter this recently, or has this bug always been there: Yes, after release of version 4.3.0
6. Expected behaviour: Delete button for deleting Tokens was there previously.
7. Console logs

[2016-06-06 05:53] numaanashraf commented on #2106
@RonakThakkar We've changed the design of OAuth2 Token List a bit in 4.3.0. You can now select a token from the list to see the token details Postman received during authorisation. You can find the delete button at the top of this detailed token view.

![oauth2deletetoken](https://cloud.githubusercontent.com/assets/3295568/15812999/db71eed2-2bd8-11e6-8c4e-f7f70f17738a.jpg)

[2016-06-06 05:58] numaanashraf commented on #2102
@fmarais Could you let us know which sort order is not persisting and send us a screenshot if possible?

[2016-06-06 06:05] RonakThakkar commented on #2106
Here is what I see.

![postman-tokenerror](https://cloud.githubusercontent.com/assets/10152601/15813209/bdbda082-2bda-11e6-8e47-4e120ece6b0c.png)

[2016-06-06 06:23] numaanashraf commented on #2106
@RonakThakkar that looks like a bug. We'll include a fix for this in the next release.

[2016-06-06 06:25] RonakThakkar commented on #2106
I found the problem. There is a long horizontal scroll bar and then at end I get 2 buttons, Use Token and Delete.

I think Token text is not wrapped properly. It does not look good so please fix that.

[2016-06-06 06:39] numaanashraf commented on #2101
@mayurbhorkar @gablegar We had pushed a fix for this issue in v0.8.4.17. Could you try force updating by clicking on 'Update extensions now' in chrome://extensions?

![screen shot 2016-06-06 at 12 06 10 pm](https://cloud.githubusercontent.com/assets/3295568/15813798/7cdfd440-2bdf-11e6-9a84-cb0af2c22178.png)

[2016-06-06 07:13] numaanashraf commented on #2087
@liemqv Could you let us know where you downloaded the `.crx` from and also your Chrome version?

[2016-06-06 08:06] #1889 closed, assigned to aditikul

[2016-06-06 09:47] ebomcke commented on #2064
Hi @abhijitkane ,

Can you give any information on when this release would be ready? I understand that it might be difficult to pinpoint an exact date, but it would be great to know what 'soon' means (couple of days, weeks, months? ).
By the way, as it's my first time commenting here I'll state this for the record : this is an amazing tool that you built, I had been struggling for years with API d

[2016-06-06 10:37] sebjamesfd commented on #1273
This is due to the boundary within the form data not being generated correctly.

According to specifications (https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html), the boundary in the form-data must be prepended with two extra dashes '--', and for the final boundary must also be appended by two extra dashes '--'

[2016-06-06 12:56] RonakThakkar commented on #2106
This is small but important to fix as we have to horizontal scroll so long for "Use Token" button to be accessible.

[2016-06-06 13:14] ipsi commented on #1104
Exactly the same use case as @derickson82 - this would be very helpful.

[2016-06-06 13:19] ed-george opened #2107 "Feature Request - Request POJO code generation"
Postman Version: 4.2.2
App (Chrome app or Mac app): Chrome App
OS details: Mac

I believe it would be highly beneficial for the application to add POJO creation within its "Generate Code" Java section.

Many popular libraries (e.g. Retrofit, GSON) use POJOs in HTTP requests during serialization, so having Postman generate these objects from a request would therefore be quite useful.

An example of

[2016-06-06 14:58] maxmarkus opened #2108 "connection refused for conditional workflow tutorial ip 159.203.233.237:1337"
hello,

the cool coopers meal plan demo for conditional workflows does not work anymore, because  http://159.203.233.237:1337 is not reachable, getting connection refused.

its mentioned at least here and there:
http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/
https://documenter.getpostman.com/view/583/coopers-meal-plan/4u2

all the best,
markus

[2016-06-07 10:05] TheBabaYaga commented on #903
👍

[2016-06-07 10:18] michaelfreund commented on #1983
Having the same issues with cmd+enter on v4.2.2. On my other mac running v4.1.0 everything works as expected.

[2016-06-07 14:23] VSerykh opened #2109 "Not working in Google Chrome 51"
Postman extension not working at all because of errors in console.
1. Postman - REST Client shortcut 0.8.4.8
   Google Chrome Version 51.0.2704.84 m (64-bit)
2. Google Chrome extension
3. Windows 8.1 Pro x64
4. Is the Interceptor on and enabled in the app: I don't know.
5. In Google Chrome 50 extension was working properly.
6. Expected behaviour: no errors in conlose.
7. Console logs:

requester.j

[2016-06-07 14:24] abhijitkane commented on #2109
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/2101

[2016-06-07 14:24] #2109 closed, assigned to nobody

[2016-06-07 14:33] ay18 commented on #448
+1

[2016-06-07 17:04] ryanfreeth opened #2110 "Don't save keyboard shortcut"
1. Postman Version: 4.2.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 8.1
4. Is the Interceptor on and enabled in the app: No (N/A)
5. Did you encounter this recently, or has this bug always been there: Just noticed. Not sure about the history of it.
6. Expected behaviour: Keyboard goodness

Hey Postman!

Is it possible to get keyboard shortcuts for the `Do you want to save?`

[2016-06-07 20:05] mrbarletta commented on #1441
Solved doing what @jemshit said

[2016-06-07 22:43] ruslansokolov commented on #256
Like I said, I have deleted the collection. It does not show up under My Collections. However, if I hit that URL, it still returns the JSON with collection data. It's been 4 days and it's still available.

[2016-06-07 22:45] abhijitkane commented on #256
@ruslansokolov Can you share the collection link here or send an email to help@getpostman.com? We'll manually delete the link.

[2016-06-07 23:17] efvincent commented on #2106
+1 - Renders Postman unusable in my environment where we're constantly generating new bearer tokens, can't get to the "Use Token" button without obscene amount of scrolling.
- Postman v4.3.0
- win / x86-32
- Chrome 50.0.2661.102

[2016-06-08 01:37] gms5683 commented on #2101
@mayurbhorkar You how to solve this problem?
My Postman Version: Chrome Extension V 0.8.4.8
My Chrome Version 51.0.2704.84 m

[2016-06-08 04:33] liemqv commented on #2087
Hi @numaanashraf ,
- I download .crx from Chrome Store: https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop, use "Get CRX" extension.
- Chrome version: 51.0.2704.79 m

Thanks!

[2016-06-08 08:11] fmarais commented on #2102
The last selected sort order item does not persist on the 'Collections' list.
On startup of postman it seems to select the default sort item which in this case is 'Sort by name'

[2016-06-08 12:33] jvm99 commented on #2101
I tried to do the "Update extensions now", but it didn't load v0.8.4.17.

[2016-06-08 13:18] Rahul91 opened #2111 "Postman Json parser not invalidating incorrect json"
I am using RESTful flask api and I was able to post the following payload and got the respective reply:

![screenshot from 2016-06-02 13 20 45](https://cloud.githubusercontent.com/assets/4932690/15737686/034a91fa-28c5-11e6-81cc-bbe2a9f2e222.png)

Then I tried validating json itself on http://www.jsoneditoronline.org/ , I got this error while parsing json:

![screenshot from 2016-06-02 11 54 55](ht

[2016-06-08 14:33] dmthakrar opened #2112 "Postman is getting crashed with 2GB file size attachment."
Please include the following:
1. Postman Version: 4.3.0
2. App (Chrome app or Mac app): Chrome 50.0.2661.102
3. OS details: win / x86-32
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: recently face this issue, it was working fine with old version
6. Expected behaviour: File should be attached / success fully uploaded
7. Conso

[2016-06-08 15:10] kgarber commented on #1985
When I look at the network, I see that I get a 413 Request Entity Too Large.  There are some requests that are quite large, like passing 10k objects in a json.  Is there any work around for this?

[2016-06-08 15:34] mtuulu commented on #1263
+1

[2016-06-08 15:39] stefanomcghee opened #2113 "Collection Runner not substituting values from CSV"
Please include the following:

Postman Version:4.3.0
OS X / x86-64
Chrome 51.0.2704.84
1. Is the Interceptor on and enabled in the app: No
2. Did you encounter this recently, or has this bug always been there: Always there
3. Expected behaviour: GET contains data from CSV
4. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View

[2016-06-08 15:42] shahidsabadia opened #2114 "PostMan issue in chrome"
Postman crashes as soon as its starts by clicking the extension in chrome. I tried to install again after uninstalling but same issue persist.

I see in chrome console that error occurred at: requester.js:112 Uncaught TypeError: Cannot assign to read only property 'indexedDB' of object '#<Window>'

Please include the following:
1. Postman Version: 0.8.4.8
2. App (Chrome app or Mac app): Chrome Ext

[2016-06-08 18:10] mstaalesen commented on #2110
Try the spacebar :)

[2016-06-08 19:26] cdanielsen commented on #2097
Bump?

[2016-06-08 20:25] jaguth commented on #1499
I'm on postman 4.3.0 and i do not see a folder transfer feature.  that feature is not in the current documentation.  was that feature scrapped?

[2016-06-08 20:27] abhijitkane commented on #1499
@jaguth You can simply drag a folder from one collection to another.

[2016-06-08 20:30] jaguth commented on #1499
Ah, I see, it has to be a folder **within** a collection (top level folder).  That works for me.  I was trying to move a collection (top level folder) into another collection (top level folder).  Thank you @abhijitkane!

[2016-06-08 21:14] mstaalesen commented on #2097
As said on slack. Removing the "" around {{someValue}} seems to solve it in Postman.

credit: bsn2007

[2016-06-08 21:29] cdanielsen commented on #2097
Think I was using an outdated version when I originally noticed this. Thanks!

[2016-06-08 21:29] #2097 closed, assigned to nobody

[2016-06-09 02:02] zmorris commented on #391
Confirmed, I just experienced this with two Postman tabs with identical urls and multipart/form options with the same file selected.  One tab worked repeatedly and the other did not, and I have two coworkers as witnesses.

Reselecting the same file from the find file dialog did not fix it.  But selecting a different file and then selecting the original file DID fix it.

I believe a clue to the iss

[2016-06-09 09:44] abhijitkane commented on #2114
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/2101

[2016-06-09 09:44] #2114 closed, assigned to nobody

[2016-06-09 09:49] abhijitkane commented on #2113
@stefanomcghee The CSV fole says 'role', and the URL says roleid.

Can you try running this collection: https://www.getpostman.com/collections/87d02029976ee533e360 with a simple data file:

[code]

[2016-06-09 14:20] brandonmarino commented on #882
+1

[2016-06-09 16:26] geegonzalez commented on #882
+1

[2016-06-09 16:32] ghost commented on #882
+1

[2016-06-09 16:58] ghost commented on #576
Not sure if things have changed recently but now the problem i have is content type is multipart/form-data for the main header. But inside the boundary it has application/octet-stream whereas my file is json so it should be application/json

Is there a way to say my uploaded file is of type application/json and dont think it is application/octet-stream

[2016-06-09 17:07] ambar-cloudcover commented on #803
+1 for multi-select drag and drop

[2016-06-09 18:31] sethaugustus commented on #2101
I also lost all of my histories and Postman stopped working with Chrome v51.

**Here are some notes about reverting to v50:**
If you revert back to chrome v50, you’ll get all of your histories back and Postman will work again.  You’ll also need to disable auto-updates, which is not at all ideal...so write a note to yourself to re-enable auto updates after this is fixed or you find another app to r

[2016-06-09 19:29] gablegar commented on #2101
The update didn't work, the wise thing to do is to get the earlier version of chrome back up your collections and pass to the postman chrome app.

[2016-06-09 21:06] cviebrock commented on #1782
Still would like to see a fix for this.  The amount of manual editing I need to make on each import is making this a bit painful. 😞

[2016-06-10 05:40] open-mdm commented on #2067
Just checked it out.  Thank you!

Keyboard shortcuts coming soon?

[2016-06-10 07:43] bertyhell opened #2115 "Feature request: JSON array count"
It would be nice to show counts for arrays inside JSON replies:

eg:
Instead of:

[code]

Add a counter for the arrays in the pretty printen view:

[code]

Chrome console does something similar:
![image](https://cloud.githubusercontent.com/assets/1710840/15957544/20e27b84-2ef0-11e6-8d32-fba5c282c523.png)

[2016-06-10 09:54] DavydeVries opened #2116 "Feature request: Post multidimensional array"
We love postmen, but our api supports multidimensional arrays.
But it's hard to fill those in, in postmen. We now use the text and fill value with:

[code]

But it looks like this:
<img width="682" alt="schermafbeelding 2016-06-10 om 11 52 57" src="https://cloud.githubusercontent.com/assets/7860305/15960833/ef7612b0-2f01-11e6-9dbc-d293c834489f.png">

Our suggestion is an option with array/listed v

[2016-06-10 14:41] a85 commented on #2086
@aditikul We should seriously consider this. Making Body the default tab in the Mac app is possible because we can now send bodies for the GET method using the new runner.

[2016-06-10 15:40] JuanManuelFigueroa commented on #2101
I have the same issue with chrome version Version 51.0.2704.84 (64-bit)

[2016-06-10 19:33] mkmoisen commented on #495
Sorry to kick a dead horse, but this has happened to me twice in the last 3 months.

[2016-06-10 20:26] awross-reed opened #2117 "Request Description is cleared on import"
Version: 4.3.2
App: Chrome app
OS: Windows 7 Enterprise
Interceptor: No

I export a simple Collection of requests as a V2 Collection. I then import this file and overwrite the original. I expect the description I set for my request to be imported, but it is not.

Exported JSON, original:

[code]

Exported JSON after import:

[code]

[2016-06-10 20:31] abhijitkane commented on #2117
@awross-reed Thanks for reporting this. We'll push a fix in the next version of Postman.

[2016-06-10 21:17] ryanfreeth commented on #2110
Totally works.
I never noticed that Don't Save had focus before.

[2016-06-10 21:17] #2110 closed, assigned to nobody

[2016-06-12 02:27] njwangchuan commented on #2101
中国人民发来贺电,Postman dose not work any more with Chrome 51.0.2704.84.

[2016-06-12 09:20] DimitrK commented on #930
any news??

[2016-06-12 09:26] a85 commented on #930
There is not going to be any opera specific versions but native apps are already here. The Mac app can be downloaded from www.getpostman.com/apps. Windows will be out in a bit. :)

[2016-06-12 17:14] benstaker commented on #2101
I'm getting the same issue on Windows 10 64-bit, with Chrome 51.0.2704.84 m (64-bit).

I have tried using the "Update extensions now" action, but it doesn't update the version to v0.8.4.17.
![image](https://cloud.githubusercontent.com/assets/2591500/15992690/ea97b414-30c9-11e6-845f-5646cc4c230c.png)

[2016-06-12 20:18] krutkowski86 commented on #719
@buehler @SJApps @jimthedev @abhijitkane @petalvlad
It's possible to use remote schema. Just make your schema available to get from your API then send a request for it (which should be your first step before other requests) and save responseBody to postman global variables

postman.setGlobalVariable("schema", responseBody);

Afterwards if you would like to use it in postman tests
var schema = JSON

[2016-06-12 23:51] ghost commented on #1104
This would be really useful. For now CURL will have to do. 👍

[2016-06-13 04:50] thibaultmeyer commented on #930
@a85 Any release date estimation for the Windows version ?

[2016-06-13 04:51] a85 commented on #930
@0xbaadf00d This week. Just testing out the update flows. :)

[2016-06-13 08:33] abhijitkane commented on #2101
@benstaker @njwangchuan @JuanManuelFigueroa @gablegar

You seem to have been using an unofficial build of Postman - https://chrome.google.com/webstore/detail/postman-rest-client-short/mkhojklkhkdaghjjfdnphfphiaiohkef?hl=en.

Postman is available at https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm?hl=en (the legacy app), and https://chrome.google.com/we

[2016-06-13 08:35] benstaker commented on #2101
@abhijitkane that seems to be the case, thank you for the investigation.

[2016-06-13 08:40] njwangchuan commented on #2101
thanks a lot!

---

Chuan Wang
njwangchuan@gmail.com

[2016-06-13 11:25] vasko77 commented on #1137
This feature is absolutely necessary

[2016-06-13 13:29] oleynikd commented on #290
What if I'm using standalone MAC version? Can I override `User-Agent`?
Thanks.

[2016-06-13 15:44] mpurdon commented on #907
+1

[2016-06-13 16:23] ghost commented on #2094
After upgrading to 4.3.2, I've been able to click the "Manage Cookies" button and clear all the cookies in the app. This causes the OAuth workflow to prompt for user account again.

[2016-06-13 16:23] #2094 closed, assigned to nobody

[2016-06-13 18:09] Etrunon commented on #2076
It happened again,

I "solved" installing postman on google-chrome-beta...

But this afternoon I believe that I accidetally double clicked on the top bar of the app (the one of the os, with the name of the app and the button to close minimize etc)... the app minimized.
I could see the name in the top and the icon in the launcher but yet again all the other UI elements were gone...
I tried delete t

[2016-06-13 18:49] adequatica opened #2118 "Content is not active after open Generate code snippet pop-up"
Steps:
1. In Postman builder after created request click [Generate Code];
2. Generate code snippets pop-up appears;
3. Press CMD+A – search form in background was selected, but nothing changed in pop-up.

Content area in Generate code snippet pop-up is not active after open, it cases manual click to [Copy to Clipboard] for coping cURL command.

Expected behaviour, that context of opened pop-up doe

[2016-06-13 20:51] ghost commented on #1885
:+1:  Yea this is a major drawback. Was hoping to use Postman for convenience. Looks like it's pulling from the Parameter Definition Object's description property when in: body and ignoring any examples/ Definition Objects referenced in the spec.

Found this `definitions.request.oneOf[0].properties.body.properties.mode.enum` in [v2.0.0](https://schema.getpostman.com/json/collection/v2.0.0/collecti

[2016-06-14 00:38] LexFrench commented on #285
+1

[2016-06-14 08:47] abhijitkane commented on #2076
When you open Postman, can you try right-clicking on the icon in the dock/taskbar and see if there's a Maximize option?

@czardoz any thoughts?

[2016-06-14 09:02] abhijitkane commented on #2100
@mfranco84 Can you upgrade to the latest version (4.3.2), and then give it a shot? If it still happening, could you send us an email at help@getpostman.com with the exact steps that you're following?

[2016-06-14 09:04] abhijitkane commented on #2089
@reggi In the latest version, all files downloaded from Postman have the "json" extension.

[2016-06-14 09:04] #2084 closed, assigned to nobody

[2016-06-14 09:05] abhijitkane commented on #1809
@YoungYoungs We fixed one problem related to this in v4.3.2. Can you upgrade to this version and check?

[2016-06-14 09:06] abhijitkane commented on #2078
@czardoz

[2016-06-14 09:08] abhijitkane commented on #2080
@wkuckro We made a number of changes to this in the latest version of the app (4.3.2). Can you upgrade to the latest version and see if this happens again?

[2016-06-14 09:14] Etrunon commented on #2076
In the Doc, there are only the "Lock to launchbar" and "Quit" option
I could solve again the problem... Unistalling and clearing completely Chrome... But it happened again this morning... It's becoming quite funny xD
In fact this morning when it happened there was a whitepage behind postman... When it disappeared there was a slight shadowing... And it was my little postman!

Maybe it was this all

[2016-06-14 13:23] danballance opened #2119 "Test runner - "current run" section to small to use"
I think the trigger was deleting all of my previous test runs from the left-hand panel. This seemed to cause the div (I'm guessing it's a div!) under current run to become very small. So small I can't access my projects to run more tests. Please see screenshot, it should hopefully make the problem clearer.

I've tried all manner of restarts and ways I can think of to try and get the section to exp

[2016-06-14 13:49] NikKosse opened #2120 "Postman does not send any requests"
System and error info:
1. Postman Version: 4.3.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 7 SP 1
4. Is the Interceptor on and enabled in the app: No and no
5. Did you encounter this recently, or has this bug always been there: recently, first started a week ago
6. Expected behaviour: send any kind of request
7. Console logs: No errors appear in the console!  Looking at the

[2016-06-14 13:53] abhijitkane commented on #2120
@NikKosse Can you attach a screen recording using something like http://www.cockos.com/licecap/?

[2016-06-14 14:18] numaanashraf commented on #2119
@danballance Could you let us know your Chrome version too?

[2016-06-14 14:34] gkohen commented on #1942
Same issue here. Too bad it happened just before a demo we had :(

[2016-06-14 15:16] #2089 closed, assigned to nobody

[2016-06-14 15:20] abhijitkane commented on #1921
@guatedude2 @heyyoyo

Which Postman Extension do you have - https://chrome.google.com/webstore/detail/postman-rest-client-short/mkhojklkhkdaghjjfdnphfphiaiohkef/reviews?hl=en or https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm?hl=en?
The first one is an unauthorized clone of Postman, and we cannot provide support for that. If you're on the second one,

[2016-06-14 15:21] abhijitkane commented on #1942
@gkohen @heyyoyo @ssahni30

Which Postman Extension do you have - https://chrome.google.com/webstore/detail/postman-rest-client-short/mkhojklkhkdaghjjfdnphfphiaiohkef/reviews?hl=en or https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm?hl=en?
The first one is an unauthorized clone of Postman, and we cannot provide support for that. If you're on the second

[2016-06-14 15:21] #1942 closed, assigned to numaanashraf

[2016-06-14 15:21] danballance commented on #2119
Hi, yes of course: Chrome 48.0.2564.97

[2016-06-14 18:33] shamasis commented on #2064
@mliq @borut-t @ebomcke - hey we've gotten ready with a Canary version of our Mac app that has a whole new underlying runtime for sending and requests.

Now you can send restricted headers like you asked for - it will come to production App soon. You can give it a spin while we smoothen out the rough edges!

http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-contro

[2016-06-14 19:17] numaanashraf commented on #1511
Available in version 4.2 and above.

[2016-06-14 19:17] #1511 closed, assigned to nobody

[2016-06-14 20:22] kevinplaut opened #2121 "POST not working when Body is empty"
Please include the following:
1. Postman Version:
   4.3.2
   win / x86-64
   Chrome 51.0.2704.84
2. App (Chrome app or Mac app):
   Chrome ver. 51.0.2704.84 m (64-bit)
3. OS details:
   Windows 7 Professional, version 6.1 (Build 7601: Service Pack 1)
4. Is the Interceptor on and enabled in the app:
   Yes
5. Did you encounter this recently, or has this bug always been there:
   Just recently noti

[2016-06-14 20:28] abhijitkane commented on #2121
@kevinplaut Can you try changing the URL to http://echo.getpostman.com/post, and see if you face the same problem?

[2016-06-14 20:36] kevinplaut commented on #2121
Hi @abhijitkane, thanks for the quick reply! I'm not seeing the issue for that URL (
http://echo.getpostman.com/post). And a colleague here didn't have the
issue using a Mac on any of the URLs I'm having the issue with.

On Tue, Jun 14, 2016 at 1:28 PM, Abhijit Kane notifications@github.com
wrote:

[2016-06-14 21:27] abhijitkane commented on #2121
@kevinplaut Does toggling the Interceptor off help?

With the Interceptor off, you can check the network tab (https://www.getpostman.com/docs/errors) to see the exact request payload that was sent.

[2016-06-14 21:42] kevinplaut commented on #2121
@abhijitkane That did it! I haven't been using Interceptor for too long so forgot to try
with  that off (and the Mac user had it on with no issues), but
it seems that was causing the issue on my machine. With Interceptor
off it works as expected. With Interceptor on it looks like the request
isn't being sent at all. The attached screenshot (bottom two highlighted
lines) is what Network shows when

[2016-06-14 22:51] abhijitkane commented on #2121
@kevinplaut When using the Interceptor, you'll need to open the DevTools window of the Interceptor. That's where the XHR request is actually fired from.

[2016-06-14 22:51] abhijitkane commented on #2093
--Follow up via email--

[2016-06-14 22:51] #2093 closed, assigned to nobody

[2016-06-14 22:53] abhijitkane commented on #2087
@liemqv Can you attach a screenshot of the link for the .crx file?

[2016-06-14 22:54] abhijitkane commented on #2073
@vkelman Feel free to open the issue if you're still seeing this.

[2016-06-14 22:54] #2073 closed, assigned to nobody

[2016-06-14 22:57] #2048 closed, assigned to nobody

[2016-06-14 22:58] abhijitkane commented on #2044
@macpie We'll be pushing a fix for this in the next release of the app.

[2016-06-14 22:59] abhijitkane commented on #2029
@faizanke We have the undo feature specifically for this. You can undo an accidental delete within 5 seconds.

[2016-06-14 22:59] #2029 closed, assigned to nobody

[2016-06-14 23:00] #2021 closed, assigned to nobody

[2016-06-14 23:02] #2005 closed, assigned to nobody

[2016-06-14 23:06] kevinplaut commented on #2121
@abhijitkane Ah ok, please see the attached screenshot showing the request I'm getting the issue with.
![image](https://cloud.githubusercontent.com/assets/17710142/16062707/d8c2c108-3249-11e6-98c5-88946e7ba115.png)

[2016-06-14 23:41] abhijitkane commented on #1950
@sryze @aqyblitz This should be fixed in the latest version of the app. Can you confirm?

[2016-06-14 23:45] aqyblitz commented on #1950
Confirmed. Thanks for the good work :)

[2016-06-14 23:45] #1950 closed, assigned to abhijitkane

[2016-06-14 23:45] aqyblitz commented on #1950
Whoops, didn't mean to close it as well. Hope that was okay.

[2016-06-15 03:21] asifpasha29 opened #2122 "postman getting crashed while executing collection from Runner"
Please include the following:
1. Postman Version:4.3.2
2. App (Chrome app or Mac app):Chrome 51.0.2704.84
3. OS details:win / x86-64
4. Is the Interceptor on and enabled in the app:yes
5. Did you encounter this recently, or has this bug always been there:yes
6. Expected behaviour:no
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrom

[2016-06-15 03:31] sryze commented on #1950
Yes, it's working now. Thanks!

[2016-06-15 04:39] asifpasha29 opened #2123 "Garbage collection -getting invalid reponse-we need to get response as : "abc" which is expected from the current api but we are getting "xyz" which response of the previous request and we are used"
Hi
Garbage collection - when we run the individual request , we are getting previous request response and hit same request once again we are getting result as expected

Postman Version:4.3.2
App (Chrome app or Mac app):Chrome 51.0.2704.84
OS details:win / x86-64
Is the Interceptor on and enabled in the app:yes
Did you encounter this recently, or has this bug always been there:yes
Expected behaviou

[2016-06-15 06:56] shamasis commented on #1023
@celesteking we released a canary version of our Mac app that allows you to send restricted headers. http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-06-15 06:58] shamasis commented on #1177
@JoMisk we released a canary version of our Mac app that allows you to send restricted headers - https://github.com/postmanlabs/postman-app-support/issues/1023

[2016-06-15 09:45] #1023 closed, assigned to nobody

[2016-06-15 10:01] abhijitkane commented on #2122
@asifpasha29 Can you provide the exact steps to reproduce this problem? Is this happening with every collection you run, or just one collection?

What happens if you toggle the Interceptor off and try?

[2016-06-15 12:26] assembledadam commented on #450
Had the exact same issue with http -> https!

[2016-06-15 12:31] simonemazzoni commented on #808
Same issue here. I had to switch to another client. Please fix it.

[2016-06-15 14:07] priyanka92feb commented on #1444
Hi,

I am unable to import yaml file to postman as well. Attaching the file.
[input.zip](https://github.com/postmanlabs/postman-app-support/files/316249/input.zip)

Could someone let me know what is it thats going wrong? Please help.

[2016-06-15 14:39] NikKosse commented on #2120
![Here ya go!](https://cloud.githubusercontent.com/assets/1736386/16083999/b2d3fb72-32dc-11e6-937a-d7d3c24a1856.gif)  As you can see, there is nothing happening in postman when I try to send a request.

[2016-06-15 14:42] numaanashraf commented on #2120
@NikKosse Could you let us know your Chrome version too?

[2016-06-15 16:20] dnoakeselcom opened #2124 "Test failing to pick up on error 400"
Currently using a test to make sure any failure is captured without using any text as the 400 error can have a different error text, depending on the XML sent

tests["Status code is 400"] = responseCode.code === 400;

It is failing to pick up the 400 code from the XML response;

<?xml version="1.0"?>
<!DOCTYPE cXML SYSTEM "http://xml.cxml.org/schemas/cXML/1.1.010/cXML.dtd">
<cXML version="1.1.010"

[2016-06-15 16:41] NikKosse commented on #2120
Chrome version: 51.0.2704.84 m

[2016-06-15 16:50] webward09 opened #2125 "OAuth1 authentication failure with POST and certain characters in post vars"
Hi

Recently I have found OAuth1 authentication has been failing when using Postman to make the requests.

The verification only fails when doing a POST, where the body is sent as x-www-form-urlencoded, and the post parameters contain certain characters (space, or any of @%&"$?,:)
eg. if the Body contains:
name:Test User
email:test@test.com
Verification will fail on the server due to the space and

[2016-06-15 17:12] webward09 commented on #2125
Just to update on this, using the Developer tools I checked the base string coming out from Postman. For the post var value "test@test.com", the base string contains "test%252540test.com", showing that the string has been url encoded 3 times.
However for the post var value "test'test.com", the base string contains "test%2527test.com", showing that the string has been url encoded 2 times. So there

[2016-06-15 17:17] macpie commented on #2044
Sweet, thanks!

[2016-06-15 19:40] jefferyyuan opened #2126 "Postman Post/Put/Delete doesn't work - 403 forbidden"
Thanks for building this useful tool.

Found today that Post/Put/Delete doesn't work - it returns 403 forbidden.

**This problem happens in multiple setup - mine, and 3 other coworkers.**
- Postman doesn't send out request at all. I add breakpoint in server side.

I followed http://blog.getpostman.com/2015/06/13/debugging-postman-requests/, it failed at xhr.send.

Please fix this as this will make

[2016-06-15 19:56] abhijitkane commented on #2126
@jefferyyuan 403 is the response code. It has to come from the server.

Since you're using the Interceptor to send the request, check the Network tab of the Interceptor -
1. `chrome://extensions/`
2. enable `Developer mode`
3. Search for Interceptor, click on Inspect background page.

I've attached a screenshot of the Interceptor successfully sending a POST request.
<img width="1136" alt="screen s

[2016-06-15 20:27] abhijitkane commented on #1444
@wichert Two lines (725 and 731) spanned 2 lines. You can view the correct file at https://gist.github.com/abhijitkane/ae76f3cbb61565350a90ca83a89c1e97

@pritianka What format are you trying to import? A Swagger file must have a root `swagger` property, whose value is `2.0`

[2016-06-15 20:28] abhijitkane commented on #2124
The "400" is not the response code. You'll need to use xml2Json (https://www.getpostman.com/docs/sandbox) to parse the response, and then check for the 400.

`responseCode.code` refers to the HTTP response code, which is `200` in the attached screenshot.

<img width="335" alt="screen shot 2016-06-16 at 01 58 37" src="https://cloud.githubusercontent.com/assets/681190/16096290/dfac5002-3365-11e6-805

[2016-06-15 20:32] abhijitkane commented on #2123
@asifpasha29 What happens if you try with the Interceptor off?
You can also re-enable the Interceptor by going to `chrome://extensions`

[2016-06-15 20:34] abhijitkane commented on #2121
A `502` indicates a server error. Is there anything odd in your server logs when you make the request?

[2016-06-15 20:38] abhijitkane commented on #1177
@JoMisk Available at http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-06-15 20:38] #1177 closed, assigned to nobody

[2016-06-15 22:16] jefferyyuan commented on #2126
Thanks so much for your response. @abhijitkane

Actually we figured out it's our fault. Recently another developer added a CORS Filter that will check Origin header. But we forgot to update our postman script to include the Origin header.

After add it, the API works now.

Thanks so much and I will close the issue.

[2016-06-15 22:16] #2126 closed, assigned to nobody

[2016-06-15 23:07] asifpasha29 commented on #2123
Hi ,

Even I tried both way it's coming same as I mentioned above

Thanks & regards,
Ashid
On Jun 16, 2016 02:03, "Abhijit Kane" notifications@github.com wrote:

[2016-06-15 23:42] yarandoo opened #2127 "All postman history has disappeared!"
All the valuable postman history has disappeared! This is really annoying as lot of request were quite important and takes time re reading docs to generate the api calls.

I am not the only one affected, as other colleagues have also lost their histories as today.

1. Postman Version:  0.8.4.8
2. App (Chrome app or Mac app): Chrome extension
3. OS details: IOS
4. Is the Interceptor on and enabled

[2016-06-15 23:43] abhijitkane commented on #2127
@yarandoo

Which Postman Extension do you have - https://chrome.google.com/webstore/detail/postman-rest-client-short/mkhojklkhkdaghjjfdnphfphiaiohkef/reviews?hl=en or https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm?hl=en?
The first one is an unauthorized clone of Postman, and we cannot provide support for that. If you're on the second one, head to chr

[2016-06-16 00:31] yarandoo commented on #2127
@abhijitkane thanks very helpfull answer. I will switch to the authentic POSTMAN ;) do you know if I can easily migrate the history from one to the other?

[2016-06-16 03:26] asifpasha29 commented on #2122
steps to reproduce:
1. create any post request with necessary elements in xml
   2.build database query in test tab to fetch data from database
2. create one node.js database  service to fetch the database values and insert query in body which we created in post request test tab.
3. here we are getting first time previous request response and again hit same service we are getting excepted response

[2016-06-16 03:50] jmevel commented on #2101
You have to understand that this unofficial extension exists (and it's not the only one) because there is no way to display Postman icon in the menu bar beside other extensions like on this screenshot. (I installed another unofficial to have this icon back)
![postman](https://cloud.githubusercontent.com/assets/2572775/16104946/4f7dec0e-33b8-11e6-856c-d3292b37f433.PNG)

[2016-06-16 03:55] clairestreb opened #2128 "Where are the release notes for the release history?"
Where are the release notes for the release history?

[2016-06-16 03:56] clairestreb opened #2129 "Chrome told me today that Postman needs more permissions. Why?"
Chrome told me today that Postman needs more permissions.  Why?

[2016-06-16 04:24] swapnildaga17 commented on #1263
+1
Close all tabs , Close other tabs would be great

[2016-06-16 05:21] aditikul commented on #1263
We have added shortcuts so it's less painful to close the save modal - enter to save, esc to dismiss and space for "Don't Save." Hope these shortcuts are working for you.

A close all tabs + close other tabs option is also on my list but can't give an ETA as of yet. Will update this ticket once it's out in the Mac app and Chrome app. Thanks for pointing this out.

[2016-06-16 05:57] ebomcke commented on #2064
Hey,
Thanks for the heads up @shamasis, I'll check it out asap.
Cheers,
Etienne

[2016-06-16 10:13] a85 commented on #2129
The permissions from Postman haven't changed in years. Which version are you on right now?

[2016-06-16 10:14] a85 commented on #2128
https://www.getpostman.com/apps

[2016-06-16 11:54] zappen999 commented on #907
+1

[2016-06-16 12:07] fractalawareness commented on #539
+1 here, now it's almost impossible to work with the diffs.
And the Postman Activity Feed shows only the person, date and collection name that has been changed, but not the actual changes(which would be awesome).

[2016-06-16 15:19] worrel opened #2130 "Feature Request: Request/Response panes side-by-side rather than vertical split"
i often have very long JSON requests & responses that are relatively narrow.  It would be easier to view them side by side rather than having the response follow the request body.  It would nice to have an option to specify horizontal or vertical split layout.

[2016-06-16 16:02] DavidTNguyen commented on #1137
+1

[2016-06-16 16:13] JordanAlimi opened #2131 "Auto completed requests are not affected by undo."
Version/App Information:
1. Postman Version: **4.3.2**
2. App (Chrome app or Mac app): **Chrome app with electron**
3. OS details: **Ubuntu 15.04**
4. Is the Interceptor on and enabled in the app: **Disabled**
5. Did you encounter this recently, or has this bug always been there: **Unsure, found recently**
6. Expected behaviour: **Undo to affect auto completed requests**
7. Console logs (http://bl

[2016-06-16 20:49] a85 commented on #1622
Cmd+W closes a tab now in all Postman apps.

[2016-06-16 20:49] #1622 closed, assigned to numaanashraf

[2016-06-16 20:49] a85 commented on #1249
I believe this has been fixed in the latest Postman version on Chrome and Mac.

[2016-06-16 20:49] #2128 closed, assigned to nobody

[2016-06-16 20:50] a85 commented on #2127
@yarandoo You can take a data dump from the legacy version and import it in the new version: http://www.getpostman.com/docs/migration

[2016-06-16 20:50] #2127 closed, assigned to nobody

[2016-06-16 20:51] #2113 closed, assigned to nobody

[2016-06-16 20:52] a85 commented on #2082
This is fixed as part of the new Postman Runtime project. Details on our blog: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-06-16 20:53] a85 commented on #2042
Closing as fixed. Will reopen if this issue occurs again.

[2016-06-16 20:53] #2042 closed, assigned to nobody

[2016-06-16 20:54] a85 commented on #2014
Is this on the Mac app or the Chrome app?

[2016-06-16 20:55] a85 commented on #1949
@aaronweatherall Being tested on our staging environment now.

[2016-06-16 21:11] kevinplaut commented on #2121
@abhijitkane Unfortunately no, or at least that I can see.

[2016-06-16 21:27] cosbor11 commented on #682
+1

[2016-06-16 21:52] pianovwork commented on #697
@abhijitkane Hi, can you help me please, what am I doing wrong?
I have the next collection and I'd like to execute some next request and setup environment using postman workflows staff, but it doesn't work for me. (latest version for mac os and the same with plugin)
https://www.getpostman.com/collections/4f168947eeef39ee1d33

[2016-06-17 02:00] chforsb commented on #2014
In the Mac app.

[2016-06-17 06:35] raksja commented on #814
Why is this closed? OP's statement is true. There is no way we could find to do multipart/mixed with a payload(application/json) and a file with postman. For example this curl command, cant be achieved in postman.
curl -i -X POST -H "Content-Type: multipart/mixed" -F "somepayload={\"name\":\"mypayloadname\"};type=application/json" -F "uploadfile=@somevalid.zip" http://localhost:8080/url

[2016-06-17 08:35] ebomcke commented on #2103
Hey,
I'm experiencing the same issue, but only in the latest Postman Canary (Mac app) release. (Version 4.3.2-canary.2)

Tested with the Chrome app, the environment variables are correctly preserved (Chrome app v 4.3.2, Chrome v 51.0.2704.84, Interceptor enabled).

OS details : OSX v10.11.5 (15F34)

Etienne

[2016-06-17 08:41] abhijitkane commented on #2103
@jjmartin
Can you upgrade to v4.3.2 of the Chrome app and check? I'm not able to reproduce this.

@ebomcke
Reproducible on Postman Canary. We'll push a for this in the next release.

[2016-06-17 10:15] ohavryl opened #2132 "Cannot enable/disable query parameters in Key Value Editor"
According to the documentation https://www.getpostman.com/docs/keyvalue_editor I should be able to enable/disable or comment/uncomment query parameters in Key Value Editor.

[2016-06-17 10:22] abhijitkane commented on #2132
@ohavryl This is a limitation due to the way the URL is stored. We'll soon be introducing a new underlying data format which should allow this.

Thanks for pointing out the discrepancy in the docs - we'll fix this today.

[2016-06-17 10:29] ubuntudroid opened #2133 ""No module named libmproxy" when trying to start pmproxy"
1. Postman Version: 4.3.2
2. App (Chrome app or Mac app): Packaged app
3. OS details: OSX 10.11.5, Chrome 51.0.2704.79 (actually it's vivaldi, but that shouldn't make a difference for the issue at hand)
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: just installed the app for the first time, so can't say
6. Expected behav

[2016-06-17 11:18] dn-nguyen opened #2135 "query: how to capture value from server response"
Hello World :-),
can you give me a hint to solve this issue?
Example: I call a HTML page and get this response

**Given**:
`<input type="hidden"
        name="content"
        data1="this_is_a_text"
        data2="12345678" >`
**When**: I want to get the value of the attribute "data1" and put following code into the test section:
`var input1 = document.getElementsByName("content")[0].getAttribute(

[2016-06-17 11:45] ubuntudroid commented on #2133
Okay, this can be fixed by installing mitmproxy 0.16 as the current version 0.17 doesn't seem to incorporate libmproxy any more.

[code]

[2016-06-17 12:56] cdraeger commented on #285
+1 (I Just stumbled upon this and it would be very useful for me)

[2016-06-17 13:38] rohitjoshi commented on #879
@matttrawicki Problem  is when stored in the GitHub.  Given it reorders and generates uid based on the machines, git diff doesn't work.

[2016-06-17 13:41] rohitjoshi commented on #539
+1 It has been difficult to modify by multiple team members particularly when it is stored in the GitHub.  My team is thinking to move to different tools as we can't predict if existing test cases are overwritten.
 Any suggestion would be greatly appreciated.

[2016-06-17 13:44] abhijitkane commented on #879
@rohitjoshi The latest version of the app strips out all IDs (except one) while exporting (you'll need to choose the v2 option). This should make using version control a lot easier.

[2016-06-17 14:17] ubuntudroid commented on #2133
The proxy somehow starts now, but right after it has started I receive the following error.

[code]

[2016-06-17 15:14] kccarter76 commented on #1137
+1

feature is an absolute necessity for testing web api calls in a intranet environment

[2016-06-17 17:28] rohitjoshi commented on #879
@abhijitkane thanks.  We exported to V2 but our newman execution is failing. Is there a particular version or patch needed?

[2016-06-17 17:52] niminmp opened #2136 "UI issue : URL params not fully removed from URL when deleted"
Postman Version : 4.3.2
App : Chrome App
OS : Windows 7
Interceptor is ON
Encountered this issue recently when starting to use the feature.

Issue details : After typing in a URL param in 'params' key field, removing the value from key is not completely removing the param from the address field. The first letter of the param still exist.

![image](https://cloud.githubusercontent.com/assets/1099484

[2016-06-17 18:10] soodyravi commented on #1131
Hi,
I logged out of postman and when I logged in all my collection were lost.
I noticed that the sync status is always offline.
When i logged in I see the connecting status but then it changes to offline within few mins.
Please help/advice

[2016-06-17 18:49] KaMagno opened #2137 "Screen change when a Picture has been dropped on"
1. Postman Version: 4.3.2
2. App (Chrome app or Mac app): Mac app.
3. OS details: OS X 15.0.0 / x64.
4. Is the Interceptor on and enabled in the app: -
5. Did you encounter this recently, or has this bug always been there: Recently.
6. Expected behaviour: It just should not happen.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome

[2016-06-17 20:15] rahulj123atwork opened #2138 "Collection export / import roundtrip loses the description for each of the methods."
1. Postman Version: 4.3.2
2. App (Chrome app or Mac app): Chrome 51.0.2704.84
3. OS details: OS X / x86-64 - 10.11.15
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently, or has this bug always been there: Noticed it today 6/17/2016
6. Expected behaviour: Description text for each api method should not be lost in the round-trip.
7. Console logs (http://blog.getp

[2016-06-17 20:18] abhijitkane commented on #2138
@rahulj123atwork Thanks for reporting this. We've fixed this in our internal build, and will be pushing out a fix this week.

[2016-06-18 11:11] ubuntudroid commented on #2133
I'm now using the proxy fork from [noodleOne](https://github.com/noodleOne/PostmanProxy) which appears to work just fine. But I didn't manage to find the proxy settings menu in the app. Returning to Charles for the time being and will check this out again in half a year.

[2016-06-19 05:28] a85 commented on #2133
@ubuntudroid Looking into this. The Postman Mac app itself acts as a proxy and there is no need to use pmproxy. We are bringing that to Windows and Linux too.

[2016-06-19 10:08] ubuntudroid commented on #2133
@a85 ah, so on which port do I have to connect to proxy the data from my mobile phone through the app?

[2016-06-19 10:17] a85 commented on #2133
The default is 5555. https://www.dropbox.com/s/m66sbi2t4xptpof/Screenshot%202016-06-19%2015.47.17.png?dl=0

[2016-06-19 10:41] ubuntudroid commented on #2133
So probably I'm just not clever enough to find the button to open this modal dialog. oO Where do I exactly have to click on to pull this up? Feeling really stupid now. :P

[2016-06-19 10:46] ubuntudroid commented on #2133
Argh, I had the packaged Chrome app installed, not the Mac app. Sorry for the confusion. 🐼 🌴

[2016-06-19 11:17] ubuntudroid commented on #2133
Monitoring SSL requests from e.g. an Android app isn't supported by the Mac App, is it? They are not appearing in the history.

[2016-06-19 14:42] sagiavinash commented on #1640
@sobtiankit awesome to hear that. looking forward to it

[2016-06-19 18:28] a85 commented on #2133
I'd let @abhijitkane answer that. I do think we added SSL support but not sure if it can be done through Android.

[2016-06-19 18:31] #505 closed

[2016-06-19 18:31] a85 commented on #505
HTTP Status codes return descriptions sent by the server.

[2016-06-19 18:31] a85 commented on #508
XMLTree is not present in the new app. We have switched to Ace Editor.

[2016-06-19 18:32] #508 closed

[2016-06-19 18:34] a85 commented on #958
Closing this as duplicate of #166. The new Postman Runtime based on Node.js will solve this: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-06-19 18:34] #958 closed

[2016-06-19 18:35] #871 closed

[2016-06-19 18:37] a85 commented on #1054
Windows native apps are available now:

64-bit: https://dl.pstmn.io/download/latest/win?arch=64
32-bit: https://dl.pstmn.io/download/latest/win?arch=32

[2016-06-19 18:37] #1054 closed, assigned to nobody

[2016-06-19 18:37] a85 commented on #1129
We are currently focusing on native apps. Web apps can't ping to localhost or internal services and won't add much value.

[2016-06-19 18:37] #1129 closed, assigned to nobody

[2016-06-19 18:39] a85 commented on #1198
This can be accomplished through pre-request scripts/test scripts + environment variables now. Tutorials at blog.getpostman.com

[2016-06-19 18:39] #1198 closed, assigned to nobody

[2016-06-19 18:41] a85 commented on #1362
Multi-admin support is available now in the Postman Cloud admin panel.

[2016-06-19 18:41] #1362 closed, assigned to nobody

[2016-06-19 18:42] a85 commented on #1343
We have Mac and Windows apps now that can be installed this way. Linux is coming soon.

[2016-06-19 18:43] a85 commented on #1452
This is out through environment templates now in Postman Cloud.

[2016-06-19 18:43] #1452 closed, assigned to nobody

[2016-06-19 18:44] a85 commented on #1668
Can try this out in Postman Canary now on the Mac: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-06-19 18:44] #1668 closed, assigned to nobody

[2016-06-19 18:45] a85 commented on #1721
Closing as duplicate of #1710

[2016-06-19 18:45] #1721 closed, assigned to nobody

[2016-06-19 18:46] a85 commented on #1737
Can be done through the new Postman Runtime. Details here: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

We have a build available on a channel that we are calling Postman Canary.

[2016-06-19 18:46] #1737 closed, assigned to nobody

[2016-06-19 18:47] a85 commented on #1512
You can use the postman.setNextRequest function for this now. Details here: http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/

[2016-06-19 18:48] #1512 closed, assigned to nobody

[2016-06-19 18:48] a85 commented on #2041
Closing as duplicate of #804

[2016-06-19 18:48] #2041 closed, assigned to nobody

[2016-06-19 18:48] #2129 closed, assigned to nobody

[2016-06-19 18:48] a85 commented on #2129
Changelog: www.getpostman.com/apps

[2016-06-19 18:51] a85 commented on #1381
Access control features are being tested out. Build going in production this week!

[2016-06-19 18:51] #1381 closed, assigned to nobody

[2016-06-19 18:54] #1919 closed, assigned to a85

[2016-06-19 18:54] a85 commented on #1919
This needs to be a 3rd-party plugin using the Collections format.

[2016-06-19 18:55] a85 commented on #1902
Edit buttons for environments and globals are available now in the Quicklook view.

[2016-06-19 18:55] #1902 closed, assigned to a85

[2016-06-19 18:56] a85 commented on #1990
The Cloud API is out now! Check out docs at https://api.getpostman.com

[2016-06-19 18:56] #1990 closed, assigned to sobtiankit

[2016-06-19 18:58] a85 commented on #1832
Not sure if this is a valid/common use case. Can you elaborate more?

[2016-06-19 18:59] a85 commented on #1837
You can do this using environment variables: http://blog.getpostman.com/2014/02/20/using-variables-inside-postman-and-collection-runner/

More improvements on this coming soon. Check out the Postman blog: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-06-19 19:00] #1776 closed, assigned to nobody

[2016-06-19 19:00] a85 commented on #1776
There is no sane way to store a reference to files right now.

[2016-06-19 19:01] a85 commented on #1773
You can get the Postman Canary build to help us test this out. Details here: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

Closing this as a duplicate of #1584

[2016-06-19 19:01] #1773 closed, assigned to nobody

[2016-06-19 19:02] #2028 closed, assigned to nobody

[2016-06-19 19:03] a85 commented on #2118
@numaanashraf The focus should shift to the Generate Code modal automatically.

[2016-06-19 20:48] abhijitkane commented on #2119
@danballance Can you upgrade to v4.3.3 and check? This should be fixed now.

(chrome://extensions, enable 'Developer Tools', 'Update extensions now')

[2016-06-19 21:25] Shimmi commented on #1902
It is awesome! Thank you and the team behind Postman.

[2016-06-20 02:00] abvincita commented on #1137
+1!

[2016-06-20 07:01] jimonthebarn commented on #1137
+1

[2016-06-20 07:34] musiKk opened #2139 "Cannot manually sort requests or headers"
1. Postman Version: 4.3.2
2. App (Chrome app or Mac app): Chrome 51.0.2704.103 (64-bit)
3. OS details: Ubuntu Linux 14.04
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behaviour: Being able to sort headers and requests.
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-too

[2016-06-20 08:45] wcandillon commented on #2051
@a85 I'm looking forward to be able to post/publish collection/documentation.

[2016-06-20 10:42] abhijitkane commented on #2138
@rahulj123atwork Can you confirm this fixed in v4.3.3 of the app?

[2016-06-20 10:52] abhijitkane commented on #2136
@niminmp Thanks for reporting this. We'll aim to push a fix for this ASAP.

[2016-06-20 12:46] dn-nguyen commented on #2135
The solution I got from the user "faizan" in channel "testing" of https://postmancommunity.slack.com/messages/testing/. And it works, thanks!

`var responseHTML = document.createElement("html");
responseHTML.innerHTML = responseBody;
var x= responseHTML.getElementsByTagName("input");
var data = x[0];
var value = data.getAttribute("data1");
console.log(value);`

[2016-06-20 12:46] #2135 closed, assigned to shamasis

[2016-06-20 14:51] RachelScodes commented on #532
_bumping this thread_

Now that the postman chrome extension no longer works, it would be nice to be able to use clockwork in the standalone app.

[2016-06-21 00:27] Sshapo2003 opened #2140 "I don't see interceptor icon in Postman"

[2016-06-21 00:29] Sshapo2003 commented on #2140
Add Interceptor to Chrome.
Enabled it.
Restarted Chrome and Postman. No Interceptor icon
http://screencast.com/t/bdpZMkGaToia

Postman version
Version 4.3.2 (4.3.2)

[2016-06-21 00:30] abhijitkane commented on #2140
@Sshapo2003 The screenshot shows the Mac app, not the Chrome app. You can get the Chrome app from https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en.

[2016-06-21 05:21] jimior2 commented on #1137
+1

[2016-06-21 06:15] Ajeey opened #2141 "Add copy to clipboard functionality in "Pretty" response mode"
Allow user to copy while in the "Pretty" response mode.

App Details -

4.3.3
OS X / x86-64
Chrome 51.0.2704.84

Screen shot -
<img width="1065" alt="screen shot 2016-06-21 at 11 44 10 am" src="https://cloud.githubusercontent.com/assets/1799117/16219669/8c0f2106-37a5-11e6-9f60-3aac4e10b472.png">

[2016-06-21 07:55] abhijitkane commented on #2141
@Ajeey You need to select text to be able to copy it. We also have a separate copy button that lets you copy the whole response.
<img width="225" alt="screen shot 2016-06-21 at 13 23 48" src="https://cloud.githubusercontent.com/assets/681190/16222034/a1fefc9e-37b3-11e6-946e-d40a17be11fc.png">
<img width="334" alt="screen shot 2016-06-21 at 13 24 46" src="https://cloud.githubusercontent.com/assets/

[2016-06-21 08:00] #2141 closed, assigned to nobody

[2016-06-21 09:23] Ajeey commented on #2141
@abhijitkane Since it is an href, it should allow me to copy without selecting.

[2016-06-21 10:34] jpdenford commented on #1445
I know I'm a bit late to the party but alternatively in most cases you could use JSON.parse to parse the string before comparing eg.
`tests["Test"] = roundDist === JSON.parse(environment.dist);`

[2016-06-21 10:59] rbawachkar610 opened #2142 "Postman 4.3.3- Moving requests around-----does not work---need urgent solution"
Moving requests around

You can transfer requests to any other folder or collection in the sidebar. Just drag-and-drop the request to a collection, or any of its child folders.

**This functionality does not work. I am not able to transfer requests anywhere.
needs urgent solution ....pls**

[2016-06-21 11:03] rbawachkar610 commented on #2142
Is there something like, 32bit machine problem ?
it was working previously....but suddenly it stops working to transfer

[2016-06-21 11:09] rbawachkar610 commented on #2142
is there any setting for this ?
is this Postman's version issue ?

[2016-06-21 11:11] abhijitkane commented on #2142
@rbawachkar610 This seems to occur after you drag-and-drop a file into the app (for importing). A restart of the app should fix this. We're working on fixing the root cause of the problem.

[2016-06-21 11:59] rbawachkar610 commented on #2142
ah....yes restarting the app is workaround.
Thanks

[2016-06-21 13:12] abhijitkane commented on #2142
@rbawachkar610 You can also resize the app window a tiny amount. We've figured out a permanent fix - this will go out in the next release.

[2016-06-21 13:13] crittelmeyer commented on #739
+1!

[2016-06-21 13:30] abhijitkane commented on #1336
@mbuquet Apologies for the late response. We've updated the app quite a bit, and the scrollbar has better contrast now.

[2016-06-21 16:45] richardblynd opened #2143 "When export and import a collection the request inside the folders are put outsite"
1. Postman Version: **4.3.3**
2. App (Chrome app or Mac app): **Chrome 54.0.2704.103**
3. OS details: **Windows 7 64 bits**
4. Is the Interceptor on and enabled in the app: **No**
5. Did you encounter this recently, or has this bug always been there: **Noticed it today 6/21/2016**
6. Expected behaviour: **When import a collection all data is put out of folders.**
7. Console logs (http://blog.getpo

[2016-06-21 19:45] kdprince opened #2144 "Postman does not send un-named body parameters on POST"
1. Postman Version: 4.3.3
2. App (Chrome app or Mac app): Chrome App
3. OS details: window 7
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Unknown
6. Expected behaviour: Un-named body parameters should be sent as part of the POST request
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tool

[2016-06-21 20:02] Aaronphall commented on #2143
I have ran into the same issue and accidently discovered a workaround.

If someone is using version 4.3.2 the folder structure will stay correct. Have validated that a user can import from a version 4.3.3 created collection and as long as they have version 4.3.2, they will have the correct structure.

[2016-06-21 20:58] acca commented on #833
Thank you guys !

[2016-06-21 21:05] caioiglesias opened #2145 "Setting empty headers"
I intercepted an HTTP GET request with [Charles](http://www.charlesproxy.com), then I tried to recreate it on the Postman app, but it didn't work.

I found out that one of the GET headers should be empty, but I wasn't able to set it to empty on postman. On [libcurl](https://curl.haxx.se/libcurl/c/httpcustomheader.html) you just add a semi-colon to the header and it will expand to empty.

[code]

I

[2016-06-22 00:01] akirayamamoto commented on #1228
+1

[2016-06-22 01:40] abhijitkane commented on #2143
@Aaronphall @richardblynd Thanks for reporting this. You can use the v1 export format for now. We'll be pushing a fix for this in the next release.

[2016-06-22 08:42] arushi-pant commented on #2143
I am facing the same issue with both v1 & v2 export formats in Postman v4.3.3.
How do I downgrade postman version to 4.3.2?

[2016-06-22 09:28] webward09 commented on #2125
So can I please get confirmation that this is actually a bug?

I know OAuth 1 isn't as popular as OAuth 2. But for those of us who do use OAuth1, we need it to work properly.

[2016-06-22 13:39] sankotm commented on #569
Oh crap, same thing happened to me today :(( lost all collections.
Chrome 51.0.2704.103 m, Win 8, Postman Rest client 0.8.4.8

[2016-06-22 16:02] stramel commented on #1998
:+1: I would love to see this as well!

My scenario is as follows:

We have an Express, Zuul, and API layer that setup a `{{baseUrl}}` that use certain variables like `{{env}}` and `{{tenant}}`.

We then have various different environments (`{{env}}`) and tenants `{{tenant}}`. It would be nice to be able to set these up on different postman environments to be able to select a combination of them.

[2016-06-22 16:46] andreykats commented on #1257
+1

[2016-06-22 16:58] esambo commented on #874
Perhaps try a combination of [pre-request script](http://sqa.stackexchange.com/questions/11777/testing-rest-api-with-sha1-hmac-authentication#answer-14046) and [httpie-api-auth](https://github.com/pd/httpie-api-auth/blob/master/httpie_api_auth.py)

[2016-06-22 20:02] abhijitkane commented on #2143
@arushi-pant Not sure how you're seeing this with v1. That part of the app hasn't changed in years, and I'm not able to reproduce this. Can you duplicate the collection and try exporting as v1?

There's currently no way to downgrade app versions. We'll be pushing the fix for the v2 issue in the next release.

[2016-06-22 20:22] abhijitkane commented on #2125
@webward09 -
`encodeURIComponent("test'test.com")` gives `test'test.com`
`encodeURIComponent("test@test.com")` gives `test%40test.com`

We tried using Twitter's OAuth1 API, and Postman seems to work fine. I've attached a screenshot of the Postman window that produced the last 3-4 tweets at https://twitter.com/____hal9000____

<img width="938" alt="screen shot 2016-06-23 at 01 50 34" src="https://c

[2016-06-22 20:24] #2140 closed, assigned to nobody

[2016-06-22 20:49] abhijitkane commented on #1257
@andreykats @voxon2 @gotwilk890 @sebrandon1 @bilalvirgo10 @dtw45 @aguetat @ankitj @ms88privat
You can use `Alt-0 (Win)    / Command-Option-0 (Mac)` for 'fold all', and `Alt-Shift-0 (Win) /  Command-Option-Shift-0 (Mac)` for 'Unfold all'.
The focus will have to be on the response JSON/XML, though.

[2016-06-22 21:07] andreykats commented on #1257
@abhijitkane Amazing! Let's put this in the documentation.

[2016-06-22 21:12] abhijitkane commented on #1257
Yep. All AceEditor shortcuts (https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts) should work.

[2016-06-22 22:05] nategranatir commented on #1257
@abhijitkane you're a hero

[2016-06-23 01:49] pipiliang opened #2146 "The pop-up menu can not scroll up and down"
Postman Version: 4.3.2
App (Chrome app or Mac app):  Chrome app , Chrome 50.0.2661.87 m
OS details: Windows 7
Is the Interceptor on and enabled in the app:
Did you encounter this recently, or has this bug always been there: Always
Details: After typing in "xml" in 'Headers' value field, the popup menu can't scroll up and down when hit `↑` or `↓`.
![issue](https://cloud.githubusercontent.com/assets

[2016-06-23 07:18] vegetableman commented on #2139
@musiKk Thank you for reporting. The issue has been fixed. Will be part of the next release.

[2016-06-23 08:39] musiKk commented on #2139
I can confirm it's working now. Thanks!

[2016-06-23 08:39] #2139 closed, assigned to vegetableman

[2016-06-23 11:59] webward09 commented on #2125
Hi abhijitkane,

Thanks for getting back to me. In your Twitter example you used form-data. The bug only appears with x-www-form-urlencoded.

I have reproduced the problem with a test Twitter account https://twitter.com/oauth1testing. In the first example, I am posting testing@testing.com as the status. In the second example, posting testing.testing.com as the status allows the post to go through.

[2016-06-23 17:49] jarnix opened #2147 "requester.js:112 Uncaught TypeError: Cannot assign to read only property 'indexedDB' of object '#<Window>'"
This error appears in the console and the interface does not do anything (I can only open the settings modal)
1. Postman Version:
   latest from the store
2. App (Chrome app or Mac app):
   Chrome extension
3. OS details:
   Windows 10
4. Is the Interceptor on and enabled in the app:
   ?
5. Did you encounter this recently, or has this bug always been there:
   New issue, cannot tell from when (<

[2016-06-23 17:51] jarnix commented on #2147
It's a duplicate so I close this one. Sorry

[2016-06-23 17:51] #2147 closed, assigned to nobody

[2016-06-23 19:18] #2138 closed, assigned to nobody

[2016-06-24 08:09] #1042 closed, assigned to abhijitkane

[2016-06-24 08:10] #1760 closed, assigned to nobody

[2016-06-24 10:00] cvietor commented on #1137
+1

[2016-06-24 13:24] ChrisBDFA commented on #1137
+1

[2016-06-24 16:14] #1336 closed, assigned to nobody

[2016-06-24 16:15] #2119 closed, assigned to numaanashraf

[2016-06-24 17:14] dhoyt opened #2148 "Feature Request : Create a default option in settings to export collections to V1 or V2"
Having to take an action each time to export all my collections to V2 is a pain. I would like to make my choice in settings once.

Thanks ... RJ

[2016-06-24 17:19] vpavliuk-diosoft commented on #367
Hi all, i have next question:
If i want run posman collection from newman with environments. When i run just one file newman cant see url (http://prntscr.com/bkk49t)
 How i can do that?
I have try export Backup.postman_dump.json and run in to newman, but no action (http://prntscr.com/bkk49t)

[2016-06-25 13:28] jwardle commented on #739
+1

[2016-06-25 14:20] barbu110 commented on #2104
Great that nobody cares about accessibility here.

[2016-06-26 07:07] abhijitkane commented on #2143
@arushi-pant @Aaronphall @richardblynd This has been fixed with v4.4.1 of the app. You can force an upgrade (https://www.getpostman.com/docs/updating)

[2016-06-26 07:07] #2143 closed, assigned to abhijitkane

[2016-06-26 07:10] abhijitkane commented on #2072
@hirenrojasara Can you confirm this fixed in the latest version?

[2016-06-26 07:12] hirenrojasara commented on #2072
@abhijitkane Yes. Working Fine. Looks fixed.

[2016-06-26 07:12] #2072 closed, assigned to nobody

[2016-06-26 07:13] abhijitkane commented on #1985
@kgarber No, we have a limit on our server which prevents large amounts of data from being saved. You could try splitting your collection into 2-3.

[2016-06-26 07:15] #1888 closed, assigned to SamvelRaja

[2016-06-26 07:16] #1866 closed, assigned to abhijitkane

[2016-06-26 07:17] abhijitkane commented on #1854
@Wanaco @joshboley We've pushed updates to the OAuth2 flow in the latest version (4.4.1) that should fix this.

[2016-06-26 07:18] #1834 closed, assigned to nobody

[2016-06-26 07:19] #1803 closed, assigned to nobody

[2016-06-26 07:20] abhijitkane commented on #1788
@jonahpatriarche We've made a few fixes related to this recently. Can you check if you're still facing the issue in v4.4.1?

[2016-06-26 07:23] abhijitkane commented on #1772
@calebrepkes v4.4.1 of the Mac app fixes this.

[2016-06-26 07:23] #1772 closed, assigned to nobody

[2016-06-26 07:25] abhijitkane commented on #1748
@stloc Are you still seeing this with v4.4.1?

[2016-06-26 07:25] #1620 closed, assigned to nobody

[2016-06-26 07:26] #1447 closed, assigned to czardoz

[2016-06-26 07:28] #1349 closed, assigned to nobody

[2016-06-26 08:11] gitis commented on #156
+1

[2016-06-26 08:56] martinjbaker commented on #156
This doesn't have to be byte accurate... To the nearest KB would be better than nothing. It can just say "approximately" in the UI.

[2016-06-27 06:57] sdnts commented on #2106
Can you update to the latest version and check if this is fixed? We pushed a fix recently

[2016-06-27 07:05] sdnts commented on #2118
Can you update to the latest version (4.4.1) and try again? A fix went in that should solve your issue.

[2016-06-27 07:07] sdnts commented on #2102
Can you try updating to the latest version and try again? Fixes in v4.4 should solve your issue

[2016-06-27 07:42] adequatica commented on #2118
Fixed, thanks a lot, now works as expected!

[2016-06-27 08:40] numaanashraf commented on #1914
@danielpigan @mstaalesen We have pushed a fix for this issue. Could you update to the latest v4.4 version and verify?

[2016-06-27 14:03] uditkumawat commented on #191
what is the difference between form-data and x-www-form-urlencoded in POSTMAN ?

[2016-06-27 14:14] #2118 closed, assigned to numaanashraf, SamvelRaja

[2016-06-27 14:47] stloc commented on #1748
@abhijitkane yes ! and the problem is solved

[2016-06-27 17:55] Tillman-Z commented on #1104
+1

[2016-06-27 18:03] efvincent commented on #2106
It's much better, the right hand pane is now fully visible horizontally, which means the "Delete" and "Use Token" buttons are in reach. There still seem to be layout issues, for example with a bearer token selected, the value of the `access_token` now wraps, but now is so long that it flows out the bottom of the  "Authorization" section of the request pane, behind the entire response pane, and bey

[2016-06-27 18:23] danprado opened #2149 "History is not working in new version"
Hi.
I don't know if I'm using it wrong but, it looks like the history is not working in the new version.
Whenever I make a request it doesn't append the request to the top of the history. It just replace the top record instead.
Is this a bug or am I missing something?
1. Postman Version: 4.4.0
2. App (Chrome app or Mac app): Chrome.
3. OS details: win / x86-32
4. Did you encounter this recently, o

[2016-06-27 19:36] brandonmarino opened #2150 "Feature Request: Postman Cloud-Monitor - Send email on collection failure"
Having the option to email a specific person if a test collection run fails in the cloud-monitor would a be great addition to the service.

[2016-06-27 19:41] gthieme commented on #2138
Yep, its fixed after an update.

[2016-06-27 20:37] afalvella opened #2151 "{{$timestamp}} global variable is not being replaced by its value"
1. Postman Version: 4.4.1
2. App (Chrome app or Mac app): Chrome app
3. OS details: ubuntu linux 15.10
4. Is the Interceptor on and enabled in the app: no, it's disabled
5. Did you encounter this recently, or has this bug always been there: recently
6. Expected behaviour: the timestamp variable should be replaced to a value instead of the same string '{{$timestamp}}'
7. Console logs (http://blog.g

[2016-06-27 20:51] #1748 closed, assigned to abhijitkane

[2016-06-27 20:52] abhijitkane commented on #2149
@DanPrado This is a bug that was introduced in the latest version. We've fixed this internally, and will be pushing a fix for this soon.

[2016-06-27 20:57] abhijitkane commented on #2151
@afalvella Can you contact us at help@getpostman.com with your username and the monitor/collection for which you're seeing this?

[2016-06-27 21:17] heajink commented on #1538
Anyone could you please let me know how to adjust the font size on Postmane ? I installed it from Chrome Web Store. I am on the window 10 laptop.

thank you for your help in advance.

[2016-06-28 05:54] grifx commented on #971
It would be AWESOME!

[2016-06-28 08:28] grifx commented on #971
It would be AWESOME!

**Usage**
body:

[code]

result:

[code]

**How**
It should be relatively easy to implement:

[code]
- Add the function:

[code]
- Change the implementation of **processString** to pass the string through **run**

This is a killer feature! I can't wait to use it.

Thanks

[2016-06-28 08:30] SamvelRaja commented on #1851
Hey, @mstaalesen i tried reproducing the same in my latest 4.4.1 app, i couldn't able to reproduce the same. I attached the gif of my flow. Let me know if i misses something
![runner-freeze](https://cloud.githubusercontent.com/assets/5114052/16408912/993e9b34-3d38-11e6-8ba9-bf00c5dd5342.gif)

[2016-06-28 10:12] SamvelRaja commented on #1037
@pbellchambers it is fixed in our latest update. Can you check the same and let us know is it still happening from your end and close the issue.

[2016-06-28 11:20] grifx commented on #971
If you can't wait to be able to do that: http://g.recordit.co/AfS7Rzjum9.gif (2MB)
Follow the instructions here: https://gist.github.com/grifx/95a99ad062945f8fe359cb6c8b8ddf40

[2016-06-28 11:48] abhijitkane commented on #1999
@trayburn
This: `curl -X POST -H 'Content-Type: application/json' -d '{"Handle": "this isn\'t a test"}' http://httpbin.org/post` won't work in the shell either.

You'll need to use the unicode escape sequence - `curl -X POST -H 'Content-Type: application/json' -d '{"Handle": "this isn\u0027t a test"}' http://httpbin.org/post`.

[2016-06-28 12:14] abhijitkane commented on #1801
@mfulton26 Can you confirm this fixed in v4.4.1?

[2016-06-28 12:23] abhijitkane commented on #1800
@mfulton26 @atzmon Thanks for reporting this. We'll be pushing a fix for this in the next release.

[2016-06-28 12:46] danprado commented on #2149
Cool! Thanks @abhijitkane ! =)

[2016-06-28 12:54] Bubelbub commented on #555
Still having the issue on files larger than ~ 30 MB.

[2016-06-28 13:10] abhijitkane commented on #1782
@cviebrock @F-12 We'll be pushing a fix for this in the next release.

[2016-06-28 13:13] abhijitkane commented on #1887
@dabfleming Can you confirm this fixed in the latest version of the app / interceptor (v4.4.1 / V0.2.18)?

[2016-06-28 13:14] mfulton26 commented on #1801
I just checked version 4.4.1 and the same issue is present. I would expect `<searchURL id="postman">https://www.google.com/#safe=active&amp;q=postman</searchURL>` to be displayed as `<searchURL id="postman">https://www.google.com/#safe=active&q=postman</searchURL>` in the "Pretty" viewer.

[2016-06-28 13:19] abhijitkane commented on #1150
@vsabella Can you confirm this fixed in the latest version of the app / interceptor (v4.4.1 / v0.2.18)?

[2016-06-28 14:04] abhijitkane commented on #1959
@jonathanmorr Hm..we're using JSON.parse to beautify the JSON. Since the order of keys isn't guaranteed (http://stackoverflow.com/a/5525820/384155), there's not much we can do here.

`JSON.parse('{"11511":1,"11500":2}')` returns `Object {11500: 2, 11511: 1}`

Closing this as non-actionable.

[2016-06-28 14:12] HenrikHL commented on #2149
It seems to be a problem with 4.4.1 as well:

4.4.1
win / x86-32
Chrome 51.0.2704.84

[2016-06-28 14:40] tamjd1 commented on #1441
Solved doing what @jemshit said as well.

[2016-06-28 14:58] dhoyt commented on #2150
That's funny ... I am getting emails from the Monitor and would like to know how to shut them off.

[2016-06-28 16:38] emcga commented on #1113
Has this issue been fixed? I am writing many tests and would like to be able to save the file path.

[2016-06-28 16:55] fmarais commented on #2102
Hi there, thanks for the response

It looks like the issue still exists in v4.4.1

Some screenshots
_1st open (sorted by name a-z automatically) *_CORRECT*
[image: Inline image 1]

_1st open (selected sort by date) CORRECT_

_[image: Inline image 2]_

_2nd open after sorting by date(reverts back to 'sorted by name a-z
automatically')_
_INCORRECT, should persist previous sort order selected_

_[ima

[2016-06-28 18:14] JuanCAlpizar commented on #930
@a85 is there gonna be a Linux version?

[2016-06-28 19:48] bcardi commented on #2149
Yes, i am experiencing this same issue with 4.4.1
4.4.1
win / x86-32
Chrome 51.0.2704.103

[2016-06-28 19:53] abhijitkane commented on #2149
This was reported in 4.4.0 and 4.4.1. The fix will go out in the next version.

[2016-06-28 20:37] thibaultmeyer commented on #930
@a85 Is the windows version ready ?

[2016-06-29 01:22] bfarayev commented on #1273
Postman generated POST request using form-data and it works fine for me in Python + requests.

[2016-06-29 07:40] sdnts commented on #2102
@fmarais I can't see the images you attached, can you re-attach?

[2016-06-29 08:09] sebjamesfd commented on #1273
@bfarayev That's because python requests generates the boundary string, not Postman. Try generating a curl request.

[2016-06-29 09:34] sumanmitra opened #2152 "Cannot enable interceptor."
1. Postman Version: 4.4.1
2. App (Chrome app or Mac app): Chrome
3. OS details: Windows 8.1
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: First time using. So not sure about previous behaviour.
6. Expected behaviour: I should able to enable interceptor..
   ![postman-interceptor](https://cloud.githubusercontent.com/assets

[2016-06-29 09:42] abhijitkane commented on #2152
@sumanmitra Can you open Chrome, head to `chrome://extensions`, and see if the Interceptor is listed there?

[2016-06-29 09:48] HenrikHL opened #2153 "Very slow response time when entering data in an empty field"
1. Postman Version: **4.4.1**
2. App (Chrome app or Mac app): **Chrome**
3. OS details: **Win10**
4. Is the Interceptor on and enabled in the app: **No (not installed)**
5. Did you encounter this recently, or has this bug always been there: **recently.. I haven't been using POSTman for the last 2 months - before that it worked fine**
6. Expected behaviour:**when I click in an empty field (eg a new

[2016-06-29 09:51] sumanmitra commented on #2152
What I see below.

[code]

 @sumanmitra Can you open Chrome, head to chrome://extensions, and see if the Interceptor is listed there?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-29 09:53] abhijitkane commented on #2152
@sumanmitra The screenshot wasn't uploaded correctly.

[2016-06-29 09:54] HenrikHL commented on #2149
@abhijitkane what is the timeframe for next version? Is it within days or weeks?

This case (together with case [2153](https://github.com/postmanlabs/postman-app-support/issues/2153)) is really a show-stopper for me. It is too cumbersome to use POSTman when these things don't work :-(

[2016-06-29 09:59] abhijitkane commented on #2149
@HenrikHL At least a week. For now, you can delete your old history items to fix this.
If you have Sync enabled, signing out and signing back in will also fix this.

[2016-06-29 10:08] abhijitkane commented on #2117
@awross-reed Can you confirm this fixed in v4.4.1 of Postman (https://www.getpostman.com/docs/updating)?

[2016-06-29 11:21] HenrikHL commented on #2153
Here is a [link to a video](https://www.dropbox.com/s/oboa1z1u35fq038/2016-06-29%2011.08.02.mp4?dl=0) showing the problem

[2016-06-29 11:25] fmarais commented on #2102
Maby your mailing provider is blocking them, here they are as attachments
in a zip file :)
images.zip

On Wed, Jun 29, 2016 at 9:40 AM, Siddhant Sinha notifications@github.com
wrote:

[2016-06-29 11:36] sumanmitra commented on #2152
![chromeextensions](https://cloud.githubusercontent.com/assets/14543160/16450628/ae90f66a-3e1b-11e6-9d3a-0a9224b7c56e.jpg)

[2016-06-29 11:39] abhijitkane commented on #2152
You also need to install the Interceptor. Head to https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en in chrome, and click 'Add to Chrome'

[2016-06-29 11:44] sumanmitra commented on #2152
I did it before in IE but not from Chrome itself. Its working now. Thanks,

[2016-06-29 11:44] #2152 closed, assigned to nobody

[2016-06-29 11:48] sdnts commented on #2102
I've identified the error at our end, we'll push a fix for this in the next release.

[2016-06-29 12:00] abhijitkane commented on #2019
@nickpestov This appears to be an issue because the folder names are displayed in bold. This is a Chromium bug being tracked at https://bugs.chromium.org/p/chromium/issues/detail?id=470655

[2016-06-29 12:01] #1959 closed, assigned to abhijitkane

[2016-06-29 12:07] abhijitkane commented on #1956
@toanqc Are you still seeing this with v4.4.1 of the app?

[2016-06-29 12:31] abhijitkane commented on #1768
@mitchellarchibald Thanks for reporting this. We'll fix this with the upcoming release of the app.

[2016-06-29 13:22] abhijitkane commented on #2125
@webward09 Thanks for reporting this. We'll push a fix in the next release.

[2016-06-29 13:46] sdnts commented on #1952
We've fixed this in our internal build, we'll push a fix in the next release :)

[2016-06-29 14:29] toanqc commented on #1956
@abhijitkane : Yes, I just try it today and still have the same issue on v.4.4.1

[2016-06-29 14:31] tomrossi7 opened #2154 "Updated Postman Cannot Override User Agent"
Before upgrading Postman on my Mac, I had requests that worked fine with the User-Agent being set in the Headers section. After upgrading, I can no longer set the User Agent because it gives an error Restricted HTTP Headers. I can't find anywhere else within the app that I can set the User Agent?

Version/App Information:
-->
1. Postman Version:
   4.4.1
2. App (Chrome app or Mac app):
   Mac App

[2016-06-29 15:22] awross-reed commented on #2117
Can confirm this is fixed as of v4.4.1

[2016-06-29 15:22] #2117 closed, assigned to nobody

[2016-06-29 15:32] BRivSr commented on #285
+1
A Prompt for variables would work nice for non static values.

[2016-06-29 15:38] brandonmarino commented on #2150
Oh, its being sent to my junk folder. /facepalm.

Hey dhoyt, I'd probably just make a rule in whatever service I was using to send the spam from the monitor directly to your trash or your junk folder. Good-luck!

[2016-06-29 15:38] #2150 closed, assigned to nobody

[2016-06-29 21:58] HeathNaylor commented on #1280
I have the same issue as well.

[2016-06-29 23:17] boblindman commented on #2013
Add me as a requestor as well.  Any chance we will see this soon?  Or at least the ability exclude environments from the sync?

[2016-06-30 01:09] comster commented on #1113
This appears to still be the case with v3

[2016-06-30 04:27] jaggerwang commented on #622
+1. Is there any plan to do this? This feature is very useful, and implemented in other tools, like "DHC Rest Client", which I used before.

[2016-06-30 10:56] danballance commented on #2119
Sorry for the long delay on this. I can confirm that this is now working for me. Thanks ever so much for your help!

[2016-06-30 12:36] anavioc commented on #2082
I think doesn't work.
I had downloaded Postman Canary and name proposed for save file is "response.pdf"

Http Headers include:
Content-Disposition →attachment; filename="xxx"

[2016-06-30 13:40] razventures commented on #569
i also lost all my collections on version .8.xx.     to recover i had to go to the location of the database mentioned in this thread (for me, on my mac, it was /library/application support/google/chrome/default/indexeddb/chrome-extension_fdmmgilgnpjigdojojpjoooidkmcomcm_0.indexeddb.leveldb)    and then go into time machine and go back to when i had a .ldb file in there.  then restore all files in

[2016-06-30 13:45] abhijitkane commented on #569
@sankotm @lagane

Which Postman Extension do you have - https://chrome.google.com/webstore/detail/postman-rest-client-short/mkhojklkhkdaghjjfdnphfphiaiohkef/reviews?hl=en or https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm?hl=en?
The first one is an unauthorized clone of Postman, and we cannot provide support for that. If you're on the second one, head

[2016-06-30 14:55] bgarrison25 commented on #832
Just so you know the problem STILL exists in 4.3.3 I kept on thinking I was doing something wrong in my generation and finally found this.

[2016-06-30 18:39] abhijitkane commented on #832
@bgarrison25 What's the Interceptor version you have? The latest version is 0.2.19. To update, check https://www.getpostman.com/docs/updating. Enabling the Interceptor in Postman and clicking 'Send and Download' works correctly.

[2016-06-30 23:28] CNBoland commented on #832
I'm seeing it too calling a service that returns a PDF. I saved the
returned PDFs to file and opened them in a text editor. The contents of the
file saved when Interceptor was enabled are Base64 encoded, while the
contents of the file saved when Interceptor was not enabled is proper PDF
code.

Perhaps I'm using Interceptor incorrectly. I'm using Interceptor v0.2.19
and Postman v4.4.1, but don't se

[2016-07-01 00:34] thepipecat commented on #930
@a85 any news about Windows version?

[2016-07-01 04:31] luqmansungkar commented on #286
+1 Still an issue
Chrome 51.0.2704.106 (64-bit)
Postman 4.4.1
Linux Mint 17.3 Rosa

[2016-07-01 05:45] greglockwood commented on #1999
A related problem I am finding is that importing CURL commands that have the data parameter surrounded by single quotes ends up with the single quotes in the body text inside Postman, rather than treating them correctly as delimeters and omitting them from the body text.

Postman version 4.4.1
win / x86-32
Chrome 51.0.2704.103

[2016-07-01 09:13] domnikl commented on #1674
Same problem here with Postman 4.4.1 and Fedora 23

[2016-07-01 11:34] abhijitkane commented on #832
@CNBoland The Send and Download button is available if you click the little arrow next to the Send button.

<img width="1032" alt="screen shot 2016-07-01 at 17 04 02" src="https://cloud.githubusercontent.com/assets/681190/16520469/d8d4d78c-3fad-11e6-9a96-02f4ef289cf2.png">

[2016-07-01 11:38] abhijitkane commented on #1999
@greglockwood Can you give an example of a curl command that fails?

[code]

works correctly.

[2016-07-01 11:45] abhijitkane commented on #2154
@tomrossi7 Did you upgrade from the Chrome app to the Mac app, or just to a newer version of the Mac app?
In any case, you can download Postman Canary via https://www.getpostman.com/app/postman-osx-canary. This includes a new runtime which lets you send all restricted headers, including User-Agent.

[2016-07-01 11:57] abhijitkane commented on #1956
@toanqc How about at https://ace.c9.io/? Ace is the editor we use for our raw body component.

[2016-07-01 12:00] abhijitkane commented on #2148
@dhoyt In the next release, we'll preserve your choice. Selecting v2 once will cause v2 to be selected the next time you open the modal.

[2016-07-01 12:39] tomrossi7 commented on #2154
Thanks @abhijitkane! I was using the Mac app, but just installed Canary and it works like a charm...

[2016-07-01 12:39] #2154 closed, assigned to nobody

[2016-07-01 13:56] xxldoctor opened #2155 "Feature request: Import/export of globals"
4.4.1
win / x86-32
Chrome 51.0.2704.84
Interceptor on
- export globals (Download as json)
- import it back through the import button in environments (1) or in main window (2)

expected: imported globals
actual (1): imported new empty environment
actual (2): Failed to import data: format not recognized

[2016-07-01 14:25] CNBoland commented on #832
Thanks for the clarification, Abhijit. "Send and Download" worked.

On Fri, Jul 1, 2016 at 6:34 AM, Abhijit Kane notifications@github.com
wrote:

[2016-07-01 14:28] dangerman opened #2156 "Changing theme makes contents of response body panel 2 lines tall"
Found in:
Postman Version: 4.4.1, Chrome 51
Windows 10
Interceptor not enabled

**Steps to reproduce**
- Make a successful request
  - Response body panel should be populated
- Go to Settings and change Theme

**Expected**
- Response body panel looks the same as before, but with updated theme.

**Actual**
- The text within response body is only 2 lines tall, but the panel itself remains the same s

[2016-07-01 14:47] toanqc commented on #1956
@abhijitkane : oh right, seem like this is the ace editor issue. I have the same problem on Chrome but not Firefox on RedHat 6.7

[2016-07-01 15:00] tomridl opened #2157 "Response Pretty view rounding non-zero numbers to zero"
If a number is less than 0.0001, it is rounded down to 0.0000 in the pretty view. For example:

Raw:

[code]

Pretty:

[code]

Version/App Information:
1. Postman Version: Version 4.4.1
2. App (Chrome app or Mac app): Mac app
3. OS details: OSX 10.11.5

[2016-07-01 20:26] ShawnTalbert opened #2158 "OAuth 1.0 not supported by NetSuite RESTlet"
1. Postman Version:
   4.4.1
2. App (Chrome app or Mac app):

chrome app
1. OS details:

Linux  Mint 17
1. Is the Interceptor on and enabled in the app:

Enabled: no
1. Did you encounter this recently, or has this bug always been there:

I think it's always been there
1. Expected behaviour:

Successful authentication with OAuth 1.0 to a NetSuite RESTlet
1. Console logs (http://blog.getpostman.com/

[2016-07-02 13:30] bautrey commented on #1712
This seems to have come back on Mac app 4.4.1 for me.

[2016-07-02 13:33] bautrey commented on #1712
never mind... Save Helper Data seems to make it stick.  Not sure why you'd ever want that not checked...

[2016-07-04 05:01] adamtickner commented on #907
+1

[2016-07-04 10:40] jannemann opened #2159 "tagging for collections and environments"
while using the API to download collections and environments it came to my mind that it would be helpful to select a bunch of collections/environments by some tag.

i don't know what the best implementation look like, but i would consider key/value tags.

[2016-07-04 10:43] makison commented on #907
+1

[2016-07-04 10:53] jannemann opened #2160 "show uid in app ui"
it would be helpful to optionally see uid for collections and environments in the app

[2016-07-04 12:26] abhijitkane commented on #2158
@ShawnTalbert Sure, you can send the credentials to help@getpostman.com

[2016-07-04 12:34] #832 closed

[2016-07-04 13:03] Yabko opened #2161 "Postman Collection -- Cannot pull the requests up/down inside the folder"
Hello there,

**Version/App Information:**
1. Postman Version: 4.4.1
2. App (Chrome app or Mac app): Chrome 51.0.2704.103
3. OS details: Win 10 / x64
4. Is the Interceptor on and enabled in the app: OFF
5. Did you encounter this recently, or has this bug always been there: It's a new bug, haven't seen it before.

**Steps to reproduce the problem:**
1. Start Postman;
2. Go to Collections;
3. Have a

[2016-07-04 13:05] abhijitkane commented on #2161
@Yabko Is the collection shared by someone else? If they changed the permissions to read-only, you won't be able to edit the collection or its requests.

[2016-07-04 13:13] abhijitkane commented on #2155
@xxldoctor Thanks for reporting this. We'll be pushing a fix in the next release.

[2016-07-04 13:14] abhijitkane commented on #1859
@didiermichel Tracking at https://github.com/postmanlabs/postman-app-support/issues/2155
Will be pushing a fix in the next release.

[2016-07-04 13:14] #1859 closed, assigned to nobody

[2016-07-04 13:14] abhijitkane commented on #1173
Tracking at https://github.com/postmanlabs/postman-app-support/issues/2155
Will be pushing a fix in the next release.

[2016-07-04 13:14] #1173 closed, assigned to nobody

[2016-07-04 14:17] Yabko commented on #2161
I'm the collection owner, so i'm the only one with the permissions to edit the collection.

[2016-07-04 14:18] abhijitkane commented on #2161
@Yabko Can you contact us at help@getpostman.com with your username/email?
Also, are there any errors in the console - https://www.getpostman.com/docs/errors?

[2016-07-04 20:14] HardikThakkar commented on #283
@a85, any updates on this?

[2016-07-04 21:46] emmanuel-umana opened #2162 "Postman sync is restoring already deleted requests"
Version/App Information:
1. Postman Version: 4.4.1
2. App (Chrome app or Mac app): Windows 10 and Macs
3. OS details:
4. Is the Interceptor on and enabled in the app: Off
5. Did you encounter this recently, or has this bug always been there: not always there, it seems is affecting from some months ago
6. Expected behaviour: Removed requests are not restored during Sync. Currently for some reason t

[2016-07-04 22:24] emmanuel-umana commented on #2162
One more thing, looking at activity feed UI found this actions the user never did, probably it happened during app loading sync.

June 22
dobando modified the request PILOT-804: Search user by Role in the collection AristaMD 10:32 AM dobando added the request PILOT-804: Search user by Role to the collection AristaMD 10:32 AM
dobando created the folder PILOT-804 eConsult Panelist Set to Saved in th

[2016-07-05 06:06] rommelatienza commented on #391
unable to see my fileName even
 though i already attach it.

----WebKitFormBoundary7MA4YWxkTrZu0gW
Content-Disposition: form-data; name="data"; filename=""
Content-Type:

![image](https://cloud.githubusercontent.com/assets/12545654/16575325/f149e744-42b9-11e6-9910-afe89f77604e.png)

[2016-07-05 07:17] samupl commented on #712
I'm also experiencing this on 51.0.2704.106 on Fedora. I don't have, however, any errors in the developers console. The last message I have in the console window is 'watchdog checking connection health', the request then hangs indefinitely and the request never hits my application.

[2016-07-05 07:18] samupl commented on #712
Postman info:

[code]

[2016-07-05 07:21] abhijitkane commented on #712
@samupl Is this for all URLs? Can you try making a GET request to echo.getpostman.com/get ?

[2016-07-05 07:26] abhijitkane commented on #391
@rommelatienza Your screenshot shows the response headers. The server doesn't need to include the filename. The filename is included in the request body.
![screen shot 2016-07-05 at 12 55 28](https://cloud.githubusercontent.com/assets/681190/16576912/cdcb832c-42af-11e6-8787-9c2a7ee3f0b7.png)

[2016-07-05 09:47] samupl commented on #712
@abhijitkane For all URLS, my local ones and echo.getpostman.com.

[2016-07-05 12:11] KannushiLink opened #2163 "Chinese Input Method Editor close the whole popup when hit Enter/Return to confirm the input"
1. Postman Version:
   4.4.1
2. App (Chrome app or Mac app):
   Chrome App
   (Chrome 51.0.2704.103)
3. OS details:
   OS X / x86-64 (10.11.1) (also happen on Windows 10)
4. Is the Interceptor on and enabled in the app:
   No
5. Did you encounter this recently, or has this bug always been there:
   Happen when I use today
6. Expected behaviour:
   Hitting enter should not close the popup when conf

[2016-07-05 12:14] abhijitkane commented on #2163
@KannushiLink This is intended behavior. 'Enter' will confirm the name and close the modal. To keep the new name and switch to the description editor, use 'Tab'.

[2016-07-05 12:27] Yabko commented on #2161
Sorry, but yesterday I played around with enabling/disabling sharing the Collection with the team and it fixed the problem.
So, i doubt if now my console can show anything useful.
It might be just a glitch, or might be a bug, but now I can't reproduce it either.

[2016-07-05 12:27] #2161 closed, assigned to nobody

[2016-07-05 12:53] KannushiLink commented on #2163
I know that hit Enter in single line textfield will save the input and close the popup right away, but the problem is I still want to keep entering the name in Chinese.

In Chinese Input Method Editor (IME), confirm input key (Enter/Return) will override all other programs that listen to the key while the texts in queue is not confirmed.

Modern Chinese IME will alter the text in queue as you type

[2016-07-05 14:07] guillaumegarcia13 commented on #156
+1

[2016-07-05 15:29] droca commented on #882
+1

[2016-07-05 15:32] aviscasillas commented on #882
+1

[2016-07-05 16:37] abhijitkane commented on #2162
@emmanuel-umana Are all members of the team on v4.4.1 of the app? Also, can you contact us at help@getpostman.com with your username, and the owner of the 'AristaMD' collection? This will help us trace exactly what happened to the deleted folder.

[2016-07-05 17:18] emmanuel-umana commented on #2162
Yes, all of we are using that same version, I just check with each of them.

4.4.1 / win / x86-32 / Chrome 51.0.2704.103
4.4.1 / OS X / x86-64 / Chrome 51.0.2704.103
4.4.1 / win / x86-64 / Chrome 52.0.2743.60
4.4.1 / win / x86-32 / Chrome 51.0.2704.103
4.4.1 / OS X / x86-64 / Chrome 51.0.2704.103
4.4.1 / OS X / x86-64 / Chrome 51.0.2704.103
4.4.1 / OS X / x86-64 / Chrome 51.0.2704.103
4.4.1 / win

[2016-07-05 18:41] DanPatten opened #2164 "Unable to re-order collections"
Updated to postman 4.3.3 and I am no longer able to reorder items in my saved collections. This was working before the update.

[2016-07-05 18:41] DanPatten commented on #2164
Duplicate #2161

[2016-07-05 18:41] #2164 closed, assigned to nobody

[2016-07-05 19:02] sheluchin commented on #739
+1

[2016-07-05 19:10] gagichce commented on #739
+1

[2016-07-05 19:17] emmanuel-umana commented on #2162
Hi abhijitkane,

This is the information requested about this issue:

1) All the team is using the same version, I just check with each of them.

Emmanuel Umaña: 4.4.1 / win / x86-32 / Chrome 51.0.2704.103
Elberth Quesada Porras: 4.4.1 / OS X / x86-64 / Chrome 51.0.2704.103
Darryl Kuhn: 4.4.1 / win / x86-64 / Chrome 52.0.2743.60
Karolina Muñoz: 4.4.1 / win / x86-32 / Chrome 51.0.2704.103
Jose Dani

[2016-07-05 19:20] asookazian commented on #2155
I am reproducing, is there a workaround or ETA on the patch?  Also, shouldn't this be classified as a bug not a feature?  thx.

4.4.1
os x 10.11.4
chrome 51.0.2704.106 (64-bit)

exported globals (download as json: globals.postman_globals.json)
import globals

consistently getting "Failed to import data: format not recognized" when I drag/drop file from finder to the postman import window.  same re

[2016-07-05 20:12] crunchtime-ali opened #2165 "Folders and their requests missing when exporting/importing via share link"
1. Postman Version: 4.4.1
2. App (Chrome app or Mac app): Mac app
3. OS details: macOS 10.11.6
4. Is the Interceptor on and enabled in the app: Off
5. Did you encounter this recently, or has this bug always been there: don't know
6. Steps to reproduce the problem:
   - Create a collection
   - Create a folder inside this collection
   - Add one or more requests into this folder
   - Share the coll

[2016-07-05 20:13] kurtkanaskie commented on #882
+1

[2016-07-05 20:15] abhijitkane commented on #2165
@dj-hedgehog I'm not able to reproduce this. Can you try importing this link: https://www.getpostman.com/collections/ed81698d5b22ea9d772a (it should give a collection with a folder, and one request in the folder)?

If this imports correctly, can you check the console for any errors (https://www.getpostman.com/docs/errors) while exporting/importing?

[2016-07-06 01:20] MicrocontrollersAndMore opened #2166 "Postman settings to upload image to Twitter?"
1. Postman Version: 4.4.1
2. App (Chrome app or Mac app): Chrome
3. OS details: Windows 7
4. Is the Interceptor on and enabled in the app: tried with and without Interceptor enabled
5. Did you encounter this recently, or has this bug always been there: only tried recently
6. Expected behaviour: successfull POST
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-

[2016-07-06 01:38] devjack opened #2167 "Oauth 2.0 tokens cannot be viewed/used/deleted in 4.4.2"
1. Postman Version: Postman 4.4.2
2. App (Chrome app or Mac app):  Chrome 51.0.2704.103
3. OS details: OS X / x86-64
4. Is the Interceptor on and enabled in the app: Installed & Enabled
5. Did you encounter this recently, or has this bug always been there: Recently encountered, previously sporadic and now occurs every time.
6. Expected behaviour: When I select a token I should be able to view and

[2016-07-06 09:59] abhijitkane commented on #2166
@MicrocontrollersAndMore I was able to upload an image to twitter (see screenshot). In the "form-data" section, change the type of the "media" parameter to "file", and select the image file.
<img width="941" alt="screen shot 2016-07-06 at 15 28 20" src="https://cloud.githubusercontent.com/assets/681190/16614349/64d26c3e-438e-11e6-8449-e6da6d6f9b41.png">

[2016-07-06 10:20] abhijitkane commented on #2167
@devjack Thanks for reporting this. Can you open the console (https://www.getpostman.com/docs/errors), enter the following:

[code]

and send the result to help@getpostman.com? This will help is isolate the root cause of the problem. If the output has any sensitive token data, you can erase that, but make sure the overall structure is maintained.

[2016-07-06 10:52] abhijitkane commented on #2148
@dhoyt This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:53] abhijitkane commented on #2001
@Janpot This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:54] abhijitkane commented on #2142
@rbawachkar610 This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:54] abhijitkane commented on #1999
@greglockwood @trayburn This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:55] abhijitkane commented on #1270
@cvmocanu This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:56] abhijitkane commented on #2125
@webward09 This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:57] abhijitkane commented on #1782
@cviebrock @F-12 This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 10:57] abhijitkane commented on #1768
@mitchellarchibald This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 11:29] vanduc1102 opened #2168 "Wrong encoding for parmas"
Hi,

I really love postman,

When I want to create a request like this:

![2](https://cloud.githubusercontent.com/assets/3014017/16616131/661b047c-43a5-11e6-8411-6c3d93975026.jpg)
This is SoapUI, a heavy one.

I want to the same in Postman, And I got error:

Now I got the URL created by SoapGUI paste to PostMan, and It work

And of course, you can look at the Params. It is encoded.

![1](https://c

[2016-07-06 11:31] abhijitkane commented on #2168
@vanduc1102 You can select the text, right click > Encode/DecodeURIComponent to change the encoding. Postman sends what is visible in the UI.

[2016-07-06 11:34] Janpot commented on #2001
Works 👍

[2016-07-06 11:34] #2001 closed, assigned to SamvelRaja

[2016-07-06 12:59] abhijitkane commented on #2155
@asookazian @xxldoctor This has been fixed in v4.4.2 of the app (Chrome only). Can you update (https://www.getpostman.com/docs/updating) and check?

[2016-07-06 13:58] a85 commented on #930
@0xbaadf00d @thepipecat Yep. https://twitter.com/postmanclient/status/742449939439984640

[2016-07-06 14:00] xxldoctor commented on #2155
Fixed partly. It works if I import globals through import buuton in main window. But if import through import button in "manage environments" window - it still create "new environment" (empty) instead of importing globals.

[2016-07-06 14:00] a85 commented on #2105
Seems to work fine for me. Can you check by updating to the latest version?

[2016-07-06 14:00] #2105 closed, assigned to nobody

[2016-07-06 14:14] dmitry-fedoseev commented on #907
+1

[2016-07-06 14:24] cviebrock commented on #1782
Thanks!  I switched to the native OSX app, which is still at 4.4.1, so I'll confirm when the app is updated.

[2016-07-06 14:39] webward09 commented on #2125
Hi @abhijitkane

Yes, I can confirm this is fixed. I tested in Postman 4.4.2 (Chrome) using our own system and also using twitter. All looks good.

Thanks for the fix.

[2016-07-06 14:41] #2125 closed, assigned to abhijitkane, numaanashraf

[2016-07-06 15:45] benhowes commented on #1044
I'm using this kind of gist as a workaround: https://gist.github.com/benhowes/ebf9d2f905d7744e7aa093afe19ddbcd

It would be great to be able to leverage a built in library for this. It would also be cool if there was a way you could add some scripts to the collection which let you define utilities to use in all tests of that collection. Might be a more flexible approach to start off?

----

Edit,

[2016-07-06 16:22] asookazian commented on #2155
I was able to import as xxldoctor stated above.  However, in runner mode, one of my tests is failing due to the variable substitution for a path param in the endpoint URI is not happening.  In non-runner mode the path param is being substituted.  Using the same "no environment" as I am in the default (non-runner) mode.  Please advise.  Also, how can I import the global json file into a specific na

[2016-07-06 17:32] asookazian commented on #2155
If I create a new environment and bulk edit as key/value pairs to add the global environment variables, save and then run the runner of the collection tests using the test envmt vs the no envmt (globals I presume), the error (not replacing the variable in the URI) is not reproducing and all my tests are passing.

[2016-07-06 18:05] aleross commented on #1139
+1

[2016-07-06 18:11] ameymahadik commented on #2105
Hi

Still does not work ... tried with the latest version as well

Try importing the below command

curl https://api-sandbox.uphold.com/oauth2/token -X POST -u
f21abe7ec197bb5f841b53bce10dde670c4f20aa:feae50496d0d14594cc45e91f549f0a3406e6384
-d "grant_type=client_credentials&scope=vouchers:read vouchers:write"

When i run the same using curl , i get the below json response

{"error":"unauthorized_

[2016-07-06 18:47] abhijitkane commented on #2105
@ameymahadik This is due to the server rejecting requests with the "origin" header that Chrome sends.

This request fails in curl too:

[code]

[2016-07-07 10:04] abhijitkane commented on #2155
@asookazian Globals and environments are different. You cannot import globals into an environment right now.

[2016-07-07 10:04] #2168 closed, assigned to nobody

[2016-07-07 10:58] shamasis commented on #1139
Can you try our Canary build - http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

We are updating the entire underlying script execution runtime. It will get into production soon.

[2016-07-07 10:58] #1139 closed, assigned to shamasis

[2016-07-07 13:42] MicrocontrollersAndMore opened #2169 "Postman not displaying an image after a successful GET"
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 7
4. Is the Interceptor on and enabled in the app: tried with and without interceptor
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: should display image ??
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-pos

[2016-07-07 13:48] MicrocontrollersAndMore commented on #2169
Sorry, I tried again with Interceptor turned off and now the image displays successfully

[2016-07-07 13:48] #2169 closed, assigned to nobody

[2016-07-07 16:16] joelfogue commented on #682
I found a temporary fix for this while the Postman team implements this much needed feature.
I noticed that the folders order themselves alpha-numerically so just append a 0,1,2,3 to the beginning of your folders or rename them alphabetically, a,b,c,d like below:

Numerically:
0-firstFolder; 1-secondFolder; 2-thirdFolder

OR alphabetically:
a-firstFolder; b-secondFolder; c-thirdFolder

This should

[2016-07-07 18:20] matttrawicki commented on #879
Enjoying the v2 format! 🎆 Finally, some sanity when reviewing PRs. Thanks for finally servicing this request.

[2016-07-07 19:51] #2091 closed, assigned to nobody

[2016-07-07 21:09] marky04 commented on #1441
Solved doing what @jemshit said

[2016-07-08 00:57] mitchellarchibald commented on #1768
@abhijitkane I've tested with the latest version and can confirm the filename is now correct.  Thanks for your help!

[2016-07-08 00:57] #1768 closed, assigned to nobody

[2016-07-08 09:02] NoNameProvided opened #2170 "Feature Request - Allow copy of data from environment overview when data is double clicked"
Double clicking on the values in the overview (the popup which appears when the eye icon is clicked on the top right corner.) of the environment variables should copy that value to the clipboard
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: OS X El Captain 10.11.5
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has th

[2016-07-08 11:58] thtp commented on #1137
+1

[2016-07-08 14:18] a85 commented on #208
@abhijitkane can we do a parser for this and close this issue too?

[2016-07-08 18:44] sergeny commented on #1270
Curl export is not doing percent-encoding either. I've had "(" and ") "in the URL query string, as in
"http://server?location=point (1,2)", and it should've generated "http://server?location=point+%281,2%29".

[2016-07-08 18:46] sergeny opened #2171 "curl: no percent-encoding"
Related to https://github.com/postmanlabs/postman-app-support/issues/1270

Curl export is not doing percent-encoding. I've had "(" and ") "in the URL query string, as in
"http://server?location=point (1,2)", and it should've generated "http://server?location=point+%281,2%29".

[2016-07-08 19:46] tsibiski opened #2172 "Launch a multitude of the same GET requests with different variable in for loop"
Hello,

In looking for the solution to my problem, I came across https://github.com/postmanlabs/postman-app-support/issues/697. This issue seems to address part of my needs, but I think my need takes it to a different place.

Here is what I need:

I am creating a Collection that grabs a server url and a version number from our API. Then, I build the url for a second GET using these returned values

[2016-07-08 21:12] curtisgibby commented on #1239
See also #2030

[2016-07-09 07:54] abhijitkane commented on #2172
@tsibiski the .setNextRequest function described in #697 will solve this. In the test script of your third request, use `postman.setNextRequest("Name of third request");` to keep repeating it.
You can set an environment variable to change the URL each time the 3rd request is run. You'll also need to store an environment variable that functions as a loop counter.

Check http://blog.getpostman.com/2

[2016-07-09 07:55] abhijitkane commented on #1270
@sergeny Tracking the encoding issue at #2171.

[2016-07-09 07:56] #2148 closed, assigned to nobody

[2016-07-09 19:34] orarbel commented on #204
Started a flask based project to convert postman collection to slate: https://github.com/YoApp/postman2slate
https://postman2slate.herokuapp.com

[2016-07-09 21:57] #2149 closed, assigned to nobody

[2016-07-09 21:58] #1887 closed, assigned to nobody

[2016-07-10 14:51] amateusz opened #2173 "OAuth 1.0 , no callback field."
1. Postman Version:
2. Chrome app
3. OS..Win 10.. doesn't apply
4. Is the Interceptor on and enabled in the app: doesn't matter
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
8. Screenshots

[2016-07-11 07:36] #2142 closed, assigned to vegetableman

[2016-07-11 09:57] JacobHansen89 commented on #1137
+1

[2016-07-11 09:58] phriedel commented on #1137
+1

[2016-07-11 13:19] tsibiski commented on #2172
Thank you!

[2016-07-11 13:26] #2172 closed, assigned to nobody

[2016-07-11 14:31] neverendingqs commented on #1360
+1. Only header should be sufficient as well, since the header is MUST, and all authorization servers must support it.

[2016-07-12 02:48] cviebrock commented on #1782
App was updated to 4.4.2, and path parameters are now imported correctly.  However, all parameters (path, body, etc.), still have silly default values attached to them (i.e. `{{conversationId}}`, `{{content}}`, etc.):

![screen shot 2016-07-11 at 9 44 10 pm](https://cloud.githubusercontent.com/assets/166810/16753637/12f4e352-47b1-11e6-9235-03d89792d43c.png)

I have to manually clear all the unused

[2016-07-12 12:20] thirtified opened #2174 "Wrongly encoding URL parameters in Postman 4.4.2-canary.1 (Mac)"
1. Postman Version: 4.4.2-canary.1
2. App (Chrome app or Mac app): Mac App
3. OS details: 10.11.5
4. Is the Interceptor on and enabled in the app: no
5. Did you encounter this recently, or has this bug always been there:
6. Expected behaviour: GET URL parameter values should be sent unchanged and not encoded, as described in https://www.getpostman.com/docs/requests (and done so by the non-Canary v

[2016-07-12 12:34] z3ntu commented on #1582
@aditikul I have just tested it, right click is still not working, but the triple dots don't disappear when there is a long name. Closed as there isn't really a need for right-click anymore?

[2016-07-12 13:10] midrissi commented on #285
👍
it would be so nice

[2016-07-12 13:58] thirtified commented on #1360
My interpretation would be that even with passing the credentials twice in the request it would still count as just one authentication method in the sense of the spec ("Client Password").

However, I do agree that @bberliner's suggestion of an option to select whether to pass credentials in the header or in the body would be the better solution.

[2016-07-12 19:41] tripflex commented on #380
POSTMAN is now showing exclamation when using "Cookie" header type and says to use Interceptor .... is this really the case, you have disabled setting the Cookie header value to force people to use interceptor???

[2016-07-12 19:43] abhijitkane commented on #380
@tripflex No. The new Postman app cannot set the cookie header. The XHR API explicitly forbids this (https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name). We have to make use of the Interceptor to send cookies.

[2016-07-12 19:46] tripflex commented on #380
Ahhh, **I apologize for my ignorance and appreciate your very quick response.**

Is there any way to prevent existing cookies in Chrome from being automatically used in POSTMAN requests?  My problem is i'm trying to set my XDEBUG cookie but everytime I do it pulls in the WordPress cookies, which throws an error because REST API does not support OAuth and Cookie authentication at the same time.

Th

[2016-07-12 19:52] abhijitkane commented on #380
With the Interceptor on, you can manage cookies from chrome://settings/cookies

[2016-07-12 21:27] MicrocontrollersAndMore commented on #2166
Thanks for the update.  Upon further review of the Twitter API, I realize that there are 3 steps to performing an image upload to Twitter and that I was only doing the first of the three.  Since Postman was doing everything correctly all along I'm going to close this issue.

[2016-07-12 21:27] #2166 closed, assigned to nobody

[2016-07-12 22:19] BrakTalk commented on #1229
Any update for this issue?  i.e. any potential fix release?

[2016-07-12 22:43] aditikul commented on #1582
@z3ntu Good to know that the bug with long names is fixed for you, thanks. We can keep this open for now as there are other use cases for a right click context menu. We can take it up on a long term basis though as a feature request. Thanks!

[2016-07-12 22:53] midrissi commented on #682
👍

[2016-07-12 23:47] xmollv commented on #2096
I completely agree. On **macOS**, CMD+R should be the default shortcut to send requests instead of CMD+Enter.

[2016-07-13 06:55] crunchtime-ali commented on #2165
It worked with your Postman collection.
I tried again adding a folder (and requests) to the project I previously had trouble with but now it works.
I'm closing this issue until the problem occurs again.

[2016-07-13 06:55] #2165 closed, assigned to nobody

[2016-07-13 07:30] abhijitkane commented on #2171
@sergeny Only the space needs to be encoded to %20. We'll push a fix for this in the next release.

<img width="809" alt="screen shot 2016-07-13 at 13 00 31" src="https://cloud.githubusercontent.com/assets/681190/16795226/ce0335a6-48f9-11e6-8f35-b41dc3458dba.png">

[2016-07-13 07:41] abhijitkane commented on #2153
@HenrikHL This could be due to a large number of history requests.

Can you also check the console for the value of these properties - pm.urlCache.getUrls().length and pm.history.length?

These are all the URLs that are offered as autocomplete suggestions.

[2016-07-13 07:47] abhijitkane commented on #2137
@KaMagno Thanks for reporting this. This has been fixed in the latest version (4.4.2) of the app. To update - https://www.getpostman.com/docs/updating

[2016-07-13 07:47] #1999 closed, assigned to abhijitkane

[2016-07-13 07:48] #1270 closed, assigned to nobody

[2016-07-13 07:48] abhijitkane commented on #1157
@stkrzysiak This has been fixed in the latest version (4.4.2) of the app. To update - https://www.getpostman.com/docs/updating

[2016-07-13 07:49] abhijitkane commented on #1800
@mfulton26 The link detection issue has been fixed (</URL> is no longer detected as part of the link) in the latest version - 4.4.2 - of the app.

[2016-07-13 07:50] abhijitkane commented on #1952
@mstaalesen This has been fixed in the latest version (4.4.2) of the app. To update - https://www.getpostman.com/docs/updating

[2016-07-13 10:41] Simonowicz opened #2175 "Refused to set unsafe header "Cookie" with interceptor on"
1. **Postman Version:** 4.4.2
2. **App (Chrome app or Mac app):** Chrome app
3. **OS details:** Ubuntu 14.04 and Windows 7
4. **Is the Interceptor on and enabled in the app:** It is installed, on in chrome and enabled in postman.
5. **Did you encounter this recently, or has this bug always been there:** Loads of topics online, none provides help, so I suppose it's been around for quite some time.

[2016-07-13 11:01] abhijitkane commented on #2175
Can you try to replicate the following scenario? (httpbin.org/cookies, Cookie: hello=world, Interceptor turned on). This endpoint will return cookies that have been set on the domain.

<img width="780" alt="screen shot 2016-07-13 at 16 32 23" src="https://cloud.githubusercontent.com/assets/681190/16801280/6762f4da-4917-11e6-83d7-8780798a4e4c.png">

[2016-07-13 11:12] Simonowicz commented on #2175
The endpoint works correctly for me. The problem is still being logged, but the request headers that I inspect in interceptor do contain cookie values. I'm trying to set JSESSIONID cookie in my request using PUT method and body that is multipart/form-data type.

![cookie not set](https://cloud.githubusercontent.com/assets/4785876/16801526/7e6201ec-48fb-11e6-808d-5b0aa00a4e49.png)

[2016-07-13 12:59] abhijitkane commented on #2153
@HenrikHL Before you delete history, can you also check the console for the value of these properties - `pm.urlCache.getUrls().length` and `pm.history.length`?

These are all the URLs that are offered as autocomplete suggestions.

[2016-07-13 14:06] baldemarch commented on #675
Agree on this, also would be great to have that snippet bar hideable / resizeable.

[2016-07-13 14:12] baldemarch opened #2176 "Feature Request: Snippets bar hideable / resizeable"
I found the snippet sidebar a bit intrusive when writing tests since I don't use them because I can't add my own, but mostly because uses spaces that I would like to have available to write my code. I couldn't find any place where I could learn how to do this, seems like you can't. So I'm respectfully requesting this feature as an improvement for the UI and devs.

[2016-07-13 17:39] p-mcgowan commented on #332
in case anyone else ends up here as I did - #1257 has shortcuts for fold/unfold all:
Alt-0 (Win) / Command-Option-0 (Mac) for 'fold all', and Alt-Shift-0 (Win) / Command-Option-Shift-0 (Mac)

[2016-07-14 10:18] Joyce-Stack commented on #2145
+1

[2016-07-14 14:33] nibras85 opened #2177 "Add ability to open multiple instances of Postman in multiple Windows 10 virtual desktops"
I'm using Windows 10's virtual desktops feature and I'm trying to open an instance of Postman in more than one desktop. What I noticed is that if I have an instance of Postman open in one desktop, it won't open in any other desktop. I have to close the first instance first before being able to open it in any other desktop. It would be nice if I could use multiple instances of Postman in different

[2016-07-14 21:43] shamasis commented on #2151
This issue should be resolved with our latest update to the monitoring system. Feel free to reopen if that is not the case.

[2016-07-14 21:43] #2151 closed, assigned to JamesMessinger

[2016-07-15 08:27] rms81 commented on #2049
+1

[2016-07-15 18:10] kirugan commented on #1263
We need this feature very much, can`t wait for it arrival

[2016-07-15 18:21] kirugan commented on #966
@nyurik you can use XDEBUG_SESSION_START param (POST, GET) with the same idekey-value if you wish

[2016-07-15 18:24] kirugan opened #2178 "Disable param in bulk edit with shortcut"
Disabling in bulk edit view is simple now, just add "#" in the line beginning. I wish there would be option to do this with shortcut (many ide use cmd + / for commenting in editor window).

[2016-07-15 19:39] msignataur commented on #1264
+1

[2016-07-16 06:04] jungor commented on #204
+13800138000

[2016-07-16 16:12] ZebGirouard commented on #327
Just installed Postman from Chrome web store last week.  This seems to be happening for me as well.  I see this when I examine curl request:

curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: e27e5c15-fdb6-4bbd-ad70-525fa9d6afda" -d '{
"name": "Piccapizza",
"sauce": "bad sauce",
"cheese": true,
"mushrooms": true
}' "http://localhost:9292/pizzas"

...but very much have (key) Content-Type

[2016-07-16 16:21] ZebGirouard commented on #327
Uninstalled and reinstalled, still see the same "problem" (header doesn't show up) for all my POST requests. But this issue is a real stumper.  I am an instructor, and this issue (empty object) seems to be unique to one app from one of my students, but they can make it work from their computer (and their Postman extension) just fine.  Also command-line curl works from my machine, so I'm 99% sure i

[2016-07-16 18:54] ElSifi commented on #1831
+1

[2016-07-17 02:19] monkora opened #2179 "When viewing an authorization token, content overflows its panel."
1. Postman Version: 4.4.2
2. App: Mac & Chrome
3. OS details: OS X 10.11.2
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behaviour: Should be able to resize panel or to scroll.
7. Console logs:
8. Screenshots

![screen shot 2016-07-17 at 2 02 47 pm](https://cloud.githubusercontent.com/assets/13706254/16

[2016-07-17 06:15] abhijitkane commented on #2176
@baldemarch What version of the app are you using? The sidebar is resizable (hover over the right edge of the sidebar and drag). To hide, click the button near the top-left of the window.

[2016-07-17 06:21] abhijitkane commented on #2156
@dangerman Can you confirm this fixed in the latest version of the app (4.4.2)?

[2016-07-17 06:24] abhijitkane commented on #2133
@ubuntudroid It can support SSL to a certain extent. If the server has HSTS enabled, then the proxy will be unable to eavesdrop correctly. Are you able to browse https sites through your browser with the proxy enabled?

[2016-07-17 06:29] #2132 closed, assigned to nobody

[2016-07-17 06:30] #2124 closed, assigned to nobody

[2016-07-17 06:31] abhijitkane commented on #2123
@asifpasha29 If you're still seeing this, can you check the Network tab in the console (https://www.getpostman.com/docs/errors)? This will show the exact request/response payloads that Postman is sending/receiving.

[2016-07-17 06:33] #2121 closed, assigned to nobody

[2016-07-17 06:34] abhijitkane commented on #2112
Tracking at https://github.com/postmanlabs/postman-app-support/issues/1946

[2016-07-17 06:34] #2112 closed, assigned to nobody

[2016-07-17 06:55] abhijitkane commented on #2069
@bpeikes-tl You can now export in the v2 format which strips IDs while exporting.

[2016-07-17 06:55] #2069 closed, assigned to nobody

[2016-07-17 06:55] abhijitkane commented on #2078
@czardoz

[2016-07-17 08:40] abhijitkane commented on #2081
@thkang2

Can you check the console for the value of these properties - pm.urlCache.getUrls().length and pm.history.length? (https://www.getpostman.com/docs/errors)

These are all the URLs that are offered as autocomplete suggestions.

Possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/2153

[2016-07-17 08:42] abhijitkane commented on #2107
@ed-george Can you file this at https://github.com/Mashape/httpsnippet? That's the library we're using to generate code snippets.

[2016-07-17 08:42] #2107 closed, assigned to nobody

[2016-07-17 08:43] #2101 closed, assigned to nobody

[2016-07-17 08:45] abhijitkane commented on #2098
@phillip-haydon Got it. We'll soon push a fix that lets you copy the text without having it open a new tab.

[2016-07-17 08:46] czardoz commented on #2103
@ebomcke, are you able to reproduce this in the latest version? (v4.4.2-canary.1)

[2016-07-17 08:47] abhijitkane commented on #1922
@prasad0616 @advil0 Can you confirm this fixed in the latest versions?

[2016-07-17 08:49] abhijitkane commented on #2027
@keeper3000 Due to the restrictions Chrome apps have w.r.t the filesystem, Postman can't read and write files in custom locations w/o user consent each time.

You can try exporting the collection in the v2 format (this should reduce merge conflicts in your version control system).

Closing as non-actionable.

[2016-07-17 08:49] #2027 closed, assigned to nobody

[2016-07-17 08:50] #2080 closed, assigned to nobody

[2016-07-17 08:51] #2087 closed, assigned to nobody

[2016-07-17 08:53] abhijitkane commented on #2122
@asifpasha29 "Getting expected response which is not previous response" is not the same as the issue title.

Can you include screenshots that shows the issue you're facing?

[2016-07-17 08:54] abhijitkane commented on #2090
@jhalterman There's a 'Save helper data to request' option. If this is checked, clicking 'Save' will save the helper data (tokens/secrets etc). with the request in the collection.

Feel free to re-open if it doesn't work.

[2016-07-17 08:54] #2090 closed, assigned to nobody

[2016-07-17 09:04] ed-george commented on #2107
Thank you @abhijitkane - I have filed a request [here](https://github.com/Mashape/httpsnippet/issues/79)

[2016-07-17 19:26] aditikul commented on #2179
@monkora Thanks for reporting this we'll check why this is happening and get it fixed shortly.

[2016-07-18 04:38] mahendranv opened #2180 "Need copy option for links in Response body"
Links in response body might be image urls, which postman can't handle. Clicking on them opens a new tab which I found totally unusable. It would be great if you provide option to copy link in right click context menu.
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Chrome App
3. OS details: OS X / x86-64
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this rece

[2016-07-18 09:29] blowsie commented on #1264
It is possible to use chrome dev tools by going to chrome://inspect , however as the original post mentions, It would be great if postman could show this information inline with the tests

[2016-07-18 11:53] ebomcke commented on #2103
@czardoz : I just tested it with v4.4.2-canary.1 and the issue is not present anymore.

[2016-07-18 12:03] #2103 closed, assigned to czardoz

[2016-07-18 12:48] fmarais commented on #2102
I can confirm that the 'persist collections sort order on restart' bug has
been fixed in v4.4.2

Nice, good work! 😄

On Wed, Jun 29, 2016 at 9:40 AM, Siddhant Sinha notifications@github.com
wrote:

[2016-07-18 12:48] #2102 closed, assigned to numaanashraf

[2016-07-18 14:29] abhijitkane commented on #2180
@mahendranv In the next version, you'll be able to select the link (by dragging the cursor), and right click > copy. Selecting the link will not open the URL in a new tab.

[2016-07-18 17:38] hildoer commented on #1786
+1

Eta on this fix?

[2016-07-18 21:17] andreybeta commented on #156
+1

[2016-07-18 21:41] macpie commented on #2044
Hi,

I am using v4.4.2 and I still don't see the fix. Is this issue still being worked on?

[2016-07-18 22:36] pearson-lucas-dev opened #2181 "Cors Issue"
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Mac App
3. OS details: OS X 15.5.0 / x64
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Recently (But I hadn't downloaded the app until recently)
6. Expected behaviour: Post to work
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-too

[2016-07-19 03:10] baldemarch commented on #2176
I'm using version 4.4.2 on OS X 15.6.0 / x64.

I know the left sidebar is resizable and how to do it.

What I'm talking is about the Snippets bar which are on the right side of the Tests area. That Snippets sidebar cannot be hidden or resize.

<img width="249" alt="screen shot 2016-07-18 at 23 10 22" src="https://cloud.githubusercontent.com/assets/1851559/16937434/d320bfc6-4d3c-11e6-8edc-a3d56577a

[2016-07-19 07:54] abhijitkane commented on #2181
@pearson-lucas-dev You can check out a fix in Zend here - https://github.com/zf-fr/zfr-cors/issues/29

Alternatively, you can download Postman Canary for Mac here - https://www.getpostman.com/app/postman-osx-canary. This will let you specify a custom `Origin` header - something like 192.168.0.1 should do.

[2016-07-19 07:56] abhijitkane commented on #2176
@baldemarch Ah...misread the 'snippets' part. We're working on improving the UI around the snippets section - including a collapsible sidebar and custom snippets. Will keep this thread updated.

[2016-07-19 08:02] abhijitkane commented on #2044
@macpie We pushed a related fix (cookies set in a request were only available in the test script of the next request to that domain).

This issue seems to be different - the cookie is for 127.0.0.1, but the URL includes a custom port, which is interfering with the cookie detection. We'll fix this in the next release.

For now,
1. Navigate to the directory containing Postman.app in your terminal
2.

[2016-07-19 10:25] tyteen4a03 commented on #1284
I think I am experiencing this issue. I generated my own signature with the PHP console and can confirm that it does not match the one Postman generated.

[2016-07-19 12:29] pearson-lucas-dev commented on #2181
@abhijitkane Yeah I have been all through that, thanks.

[2016-07-19 12:29] #2181 closed, assigned to nobody

[2016-07-19 14:16] baldemarch commented on #2176
Thank you @abhijitkane

[2016-07-19 15:44] gabel commented on #833
👯  The world peace is possible again - thx for the dedicated app!

[2016-07-19 17:18] abhijitkane commented on #1786
@tofra The second issue you're describing is probably that the cookie is a session cookie. Restarting postman will clear session cookies.

[2016-07-19 18:41] sftsk opened #2182 "Special Headers in native app"
Like elaborated in #1667 Interceptor is not part of the native app and like mentioned in #781 Interceptor is needed for sending some headers Chrome would not allow. i.e. `Host`.

It does not seems like the native app supports them either. Could you please tell me what to do?
Trying to test something behind a load balancer and need to make sure to reach the right  vhost.

Thank you so much for this

[2016-07-19 18:43] abhijitkane commented on #2182
@sftsk The current version of the native app overcomes restrictions for some headers (like `Cookie`).

We have a 'canary' channel, where the native app uses the Postman Runtime (http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/) to send requests, and can send the `Host` header. You can download this from https://www.getpostman.com/app/postman-osx-canary

[2016-07-19 20:24] sftsk commented on #2182
Perfect, thank you so much :) !

[2016-07-19 20:24] #2182 closed, assigned to nobody

[2016-07-20 05:08] krishna6100 commented on #1957
I am facing the same issue with .csv files, but with .json data file it is working fine. I also given the number of iterations provided from the entries in the .csv file.
Can anyone help me on this ?

[2016-07-20 05:37] kanika9190 commented on #1520
Hi,
i am facing the same issue, can somebody help on this.

[2016-07-20 09:49] Hubbitus commented on #1425
I saw similar issue.
Additional cookie sent when I discover site even with postman and postman interceptor was deleted from chromium. That cookie indeed was set in one of my debug session.
Then I check and delete **all** cookies for the site from dev tools resources tab.
But it still listed if I look at them on [chrome://settings/cookies](chrome://settings/cookies). Found answer at http://stackove

[2016-07-20 11:16] mboveiri commented on #1977
+1

[2016-07-20 11:19] subham27 commented on #286
I am fetching data from a view having more than 300 columns and 100 k rows.Although the rest service returns the list.But postman fails to display data.It displays data only if I populate 1000 records.

[2016-07-20 13:31] NikKosse commented on #2120
Any word on a fix for this?  Or anything I can do to try and fix it myself?

[2016-07-20 13:36] abhijitkane commented on #2120
@NikKosse Can you uncheck the 'Disable Cache' box? If that doesn't help, can you attach a screenshot of your Postman settings (wrench icon in the top right)?

[2016-07-20 14:24] wojo commented on #697
+1

[2016-07-20 15:11] NikKosse commented on #2120
Unchecking the disable cache button didn't change anything.  I have attached the screenshot of the settings page, as well as a screenshot of the about page, in case there's anything there that can help you.  Thanks!

![general settings](https://cloud.githubusercontent.com/assets/1736386/16991761/5452d2ca-4e62-11e6-9571-f4fec1770e03.PNG)
![about postman](https://cloud.githubusercontent.com/assets/1

[2016-07-20 15:57] baldemarch opened #2183 "Enhancement: Change Environment on Tab Change"
When working with different API Endpoints, you may need to use different Environments for each endpoint.

It would be very useful to change to the environment on which the tab was saved to. That way you can optimize the use of different collections, tests etc.

Thanks!

[2016-07-20 19:00] RomanMinkin opened #2184 "Code generator for HTTP for multipart/form-data generate invalid code"
1. Postman Version: `4.4.2`
2. App (Chrome app or Mac app): `Chrome`
3. OS details: `OSX 10.10.5`
4. Is the Interceptor on and enabled in the app: `No`
5. Did you encounter this recently, or has this bug always been there: `always`
6. Expected behaviour: Boundary value for `multipart/form-data` should be generated correctly for `HTTP`
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling

[2016-07-20 19:33] tariqghalib opened #2185 "Feature Request : Run database queries(SQL) from postman"
I have been looking into building up an end 2 end solution for API testing. Postman is the way to go but currently I have no way to run database queries to build by test data as part of my automation through Jenkins. **If postman can support running server side database queries (SQL) that will make it an end to end solution for API test automation.**

Version/App Information:
1. Postman Version: v

[2016-07-20 19:36] abhijitkane commented on #2185
@tariqghalib Unless the DB exposes an HTTP API, Postman cannot make DB queries. It's meant to be HTTP API management tool. We're looking at Websockets as a potential area of expansion, but not direct DB queries. You can look at http://blog.ulf-wendel.de/2014/mysql-5-7-http-plugin-mysql/ for a mysql-http plugin.

Closing as non-actionable.

[2016-07-20 19:36] #2185 closed, assigned to nobody

[2016-07-20 19:48] abhijitkane commented on #2184
@RomanMinkin Thanks, we've fixed this in our internal build. We'll push this fix in the next release.

New output:

[code]

[2016-07-20 20:05] RomanMinkin commented on #2184
@abhijitkane Awesome! Thanks for heads up!

[2016-07-20 20:52] sweetw0r opened #2186 "GUI: POST, SEND and SAVE buttons overlapped"
1. Postman Version: Version 4.4.2 (4.4.2
2. App (Chrome app or Mac app): Mac
3. OS details: OS X 10.11.4
4. Is the Interceptor on and enabled in the app: n/a
5. Did you encounter this recently, or has this bug always been there:
6. Expected behavior: Should not overlap
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->T

[2016-07-21 01:20] #2156 closed, assigned to SamvelRaja

[2016-07-21 01:50] normanhh3 commented on #1137
+1

[2016-07-21 02:07] shuperry opened #2187 "could not delete cookie with the browser way"
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Mac Postman App
3. OS details: os x El Captian

I write some api with node, when I visit with my chrome browser at same url, my backend app excuted `ctx.cookies.set('jwt', null)` to delete cookie, this works in chrome and the cookie is removed, but in Postman app, cookie still there.

[2016-07-21 04:47] abhijitkane commented on #2187
@shuperry Does manually deleting the cookie from the 'Manage Cookies' section work?

[2016-07-21 05:19] vegetableman commented on #1264
The new postman beta supports viewing logs and responses on a new window which could be accessed through `View > Show Postman Console`. Please let me know if it helps.
https://chrome.google.com/webstore/detail/postman/peehcbpemhaoijngpfpammccddlbafdl

[2016-07-21 06:02] shuperry commented on #2187
@abhijitkane Yeah, delete domain and cookie from `Manage Cookies` works.

[2016-07-21 10:17] maphongba008 opened #2188 "Testing with Postman"
I want to test my API, that 1 function has many test cases, how can I do this in Postman. Do I have to write many requests for 1 function?
Ex: I want to test login function, and I write 2 requests, 1 for correct email/password, and 1 for wrong email/password?

[2016-07-21 11:57] stianlagstad commented on #1180
+1. Glad you're working on this!

[2016-07-21 12:56] iMacTia commented on #2064
@shamasis just bumped into this issue today.
When will the update come to the standard mac app?

Thanks

[2016-07-21 13:35] jjmartin commented on #2103
i have 4.4.2 now and its still happening:

fresh load:
![image](https://cloud.githubusercontent.com/assets/607183/17024514/cff7e9e0-4f1d-11e6-81f1-ca51982e1819.png)
after i hit send:
![image](https://cloud.githubusercontent.com/assets/607183/17024542/efb6b1b2-4f1d-11e6-874b-d8698e9122c6.png)

so now if i was to save the request... the template value for {{aws_security_token}} would be gone and the

[2016-07-21 15:26] gperrudin commented on #882
+1

[2016-07-21 15:30] tariqghalib opened #2189 "Load external JS in pre-request script"
I am new to postman testing. I am currently trying to load an external script that I wrote to pull some db data as part of pre-request script. The script is:

var express = require('express');
var app = express();
app.get('/', function (req, res) {
    var sql = require("mssql");
    // config for your database
    var config = {
        user: 'xxxx',
        password: 'xxxx',
        server: 'xxx

[2016-07-21 16:07] nathan-alden-sr opened #2190 "Widen Environment drop-down list"
The environment drop-down list is too small horizontally. I am forced to abbreviate my environment names to accommodate this. Preferably, the drop-down list would be wide enough to accommodate lengthy names, or at the very least resize itself automatically.

This is an issue because currently, the Environment feature is useful for more than just Test and Prod. For example, my team uses environment

[2016-07-21 16:08] nathan-alden-sr commented on #2183
It would be nice to have an Environment "override" per endpoint. If it's not specified, then the global setting would be used. Good suggestion!

[2016-07-21 17:12] Spiralis commented on #1137
+1

[2016-07-21 18:03] jfeltis opened #2191 "Postman Echo - Delete Cookies Tests Fail"
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Both
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Not sure
6. Expected behaviour: Tests pass
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Too

[2016-07-21 18:14] jfeltis opened #2192 "Postman Echo - Streamed Response Test Fails Intermittently"
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Both
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Not sure
6. Expected behaviour: Tests pass
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Too

[2016-07-21 19:12] abhijitkane commented on #2189
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/1180

[2016-07-21 19:12] #2189 closed, assigned to nobody

[2016-07-21 19:22] tariqghalib commented on #1180
I am new to postman testing. I am currently trying to load an external script that I wrote to pull some db data as part of pre-request script. The script is:

var express = require('express');
var app = express();
app.get('/', function (req, res) {

var sql = require("mssql");
// config for your database
var config = {
user: 'xxxx',
password: 'xxxx',
server: 'xxx.xx.xx.xx',
database: 'xxxxxxxx',
p

[2016-07-21 23:14] aditikul commented on #2190
@nathan-alden Makes sense. That's a common use case. We have increased the width of the dropdown recently however totally understand that it's not enough. We'll look into this again. We're also looking at better ways to manage environments and variables in the long run. Will update this ticket.

[2016-07-21 23:35] a85 commented on #415
Closing this issue as the UI in the new Postman version has changed a lot.

[2016-07-21 23:35] #415 closed

[2016-07-21 23:36] a85 commented on #637
Encoding values is available through the right click menu.

[2016-07-21 23:36] #637 closed

[2016-07-22 08:47] bublik opened #2193 "User-Agent is not overriden in headers"
1. Postman Version:4.4.2
2. App (Chrome app or Mac app): Chrome app
3. OS details: OSX 10.9.5
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behaviour: User-Agent header will be enabled
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App,

[2016-07-22 11:50] nathan-alden-sr commented on #2190
Thanks for the quick reply. Postman is a must-have tool for my team. Keep up the great work!

[2016-07-22 14:22] aditya-mittal commented on #1991
Any updates?

[2016-07-23 11:55] JRoppert commented on #285
+1

Any news about that feature?

[2016-07-23 13:47] maciekdragan opened #2194 "Tab - close others"
It would be very convinient to keep only current tab and close all other.

Tab Right click -> Close others

[2016-07-23 13:48] maciekdragan opened #2195 "Tab - close without prompt (settings option)"
It would be very convinient to close tab without prompt to "save it".
It could be option in settings.

[2016-07-23 17:08] KRA2008 commented on #2195
+1

[2016-07-23 17:08] KRA2008 commented on #2194
+1

[2016-07-23 20:06] mvrkljan commented on #1977
+1

Any news on ETA for Request font size setting?

[2016-07-24 02:47] uherberg commented on #739
+1

[2016-07-24 21:35] aeneasr commented on #861
The OAuth2 Specification is pretty clear on this issue: https://tools.ietf.org/html/rfc6749#section-4.1.3

This isn't a feature, it's a bug

[2016-07-25 06:40] r998877 commented on #1137
Re-using Chrome's NTLM session worked in the past. But with one of the latest updates it doesn't work anymore.

[2016-07-25 07:25] skymeyer commented on #1360
Looks like somebody is running into this issue passing the credentials in both places: https://github.com/postmanlabs/postman-app-support/issues/2088

I also like the option as suggested by @bberliner

[2016-07-25 07:32] skymeyer commented on #1749
Same here using the following test client credentials:

[code]

My auth server reports `%3ETzkfU%3EdvoBVbn%3FEt%2C(Mot%3C%3ESK` as the client secret when trying to obtain an access token through postman using the `client_credentials` grant type. Looks like some url encoding action is going on on the client secret.

[2016-07-25 07:51] abhijitkane commented on #2193
@bublik This is a restriction of the Chrome platform. We have a "Postman Canary" app for OSX which lets you override all headers - https://www.getpostman.com/app/postman-osx-canary

The Chrome app will never be able to send these restricted headers.

[2016-07-25 08:15] bublik commented on #2193
thanks for reply

Voloshin Ruslan
skype: voloshin_ruslan

2016-07-25 10:51 GMT+03:00 Abhijit Kane notifications@github.com:

[2016-07-25 08:25] #2193 closed, assigned to nobody

[2016-07-25 08:36] abhijitkane commented on #861
@arekkas @eli-b
![screen shot 2016-07-25 at 14 01 13](https://cloud.githubusercontent.com/assets/681190/17095116/880fce62-5270-11e6-92a6-70fb67f3ca2c.png)

With the "Request access token locally" option selected, this is the POST /access_token request that's made from the app. The `redirect_uri` parameter is included in the form data, and the request content type is application/x-www-form-urlencod

[2016-07-25 08:38] abhijitkane commented on #2184
@RomanMinkin Can you confirm the fix in v4.4.3 of the app?

[2016-07-25 10:12] kubah opened #2196 "Bulk Edit option doesn't preserve inserted text"
When editing text in Headers section with Bulk Edit option, new text disappears when current section (tab) is changed to another.
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Chrome 51.0.2704.103
3. OS details: win / x86-32 (reported in Settings -> About section). Actually it is Windows 10 64 bit.
4. Is the Interceptor on and enabled in the app: tested with both, enabled and disabled

[2016-07-25 10:24] alaczi commented on #1137
+1

[2016-07-25 10:27] kubah opened #2197 "Authorization type is not preserved when closing request tab"
Chosen authorization type is lost (not saved) when we open another request in the same tab.
1. Postman Version: 4.4.2
2. App (Chrome app or Mac app): Chrome 51.0.2704.103
3. OS details: win / x86-32 (reported in Settings -> About section). Actually it is Windows 10 64 bit.
4. Is the Interceptor on and enabled in the app: tested with both, enabled and disabled Interceptor
5. Did you encounter this

[2016-07-25 10:29] abhijitkane commented on #2197
@kubah You need to explicitly save the Auth data with the request - check the 'Save helper data to request' box, and hit 'Save'. This section often contains sensitive information, and automatically saving it could be a security issue.

[2016-07-25 11:21] aeneasr commented on #861
Right, sorry, my bad. In fact, everything was (almost) working fine - except that postman seems to be url encoding special chars in client secrets. For example, the password `lidFNXvQOf5eH!$h` yields this base64 string `YTVkZTRiOWUtOTEyNS00ZmZiLTg2NTMtN2Y3ZTkzMjRjMzM1OmxpZEZOWHZRT2Y1ZUghJTI0aA==` which gives, when decoded `a5de4b9e-9125-4ffb-8653-7f7e9324c335:lidFNXvQOf5eH!%24h`

[2016-07-25 14:15] abhijitkane commented on #2171
@sergeny This has been fixed in v4.4.3 of the app.

[2016-07-25 14:56] laurentyhuel opened #2198 "Postman not starting"
Version/App Information:
-->
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Version 52.0.2743.82 (64-bit)
3. OS details: Ubuntu 14.04 LTS (64)
4. Is the Interceptor on and enabled in the app: NA
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: launch app
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-t

[2016-07-25 16:15] gchiacchio commented on #85
@abhijitkane Do you think in the future there will be a way to access the path variables as the environment variables from the pre-request scripts?

[2016-07-25 16:30] RomanMinkin commented on #2184
@abhijitkane Yes, fixed in `v.4.4.4`! Thanks for a quick fix!

[2016-07-25 16:30] #2184 closed, assigned to nobody

[2016-07-25 17:58] foragerr commented on #156
👍

[2016-07-25 19:38] shamasis commented on #156
Hello everyone! I've some good news on this issue. Since we upgraded the internals of our requesting engine, we are now in a position to safely implement this feature and others like it.

Read more about postman runtime: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

Get your copy of Postman Canary and give it a spin. The response size would come to i

[2016-07-25 21:48] neosab commented on #285
+1

[2016-07-26 08:02] czardoz commented on #2198
I think this is a problem with your Postman window being minimized on start. I have experienced this before unfortunately.

Does Postman show up when you alt+tab?

[2016-07-26 09:22] laurentyhuel commented on #2198
I have 2 screens plug on my PC, main is on, other is always off. Postman was launched by default on other screen. Sorry for that mistake.

[2016-07-26 09:22] #2198 closed, assigned to czardoz

[2016-07-26 11:38] kburnell commented on #285
+1 this feature would be very helpful

[2016-07-26 12:08] #1264 closed, assigned to nobody

[2016-07-26 12:14] abhijitkane commented on #2180
@mahendranv Can you confirm this working now?

[2016-07-26 12:14] abhijitkane commented on #2174
@czardoz Can you update this ticket if fixed?

[2016-07-26 12:17] #1952 closed, assigned to numaanashraf

[2016-07-26 12:19] abhijitkane commented on #1359
@tenstriker Apologies for the delay on this. The latest app (v4.4.3) should let you select a link from the response without it opening in a new tab.

[2016-07-26 12:22] #2137 closed, assigned to numaanashraf

[2016-07-26 12:26] abhijitkane commented on #1989
@mstaalesen This is fixed in the latest version - thanks for reporting this.

[2016-07-26 12:26] #1989 closed, assigned to SamvelRaja

[2016-07-26 12:28] abhijitkane commented on #1967
@emattheis We've released 'Postman Canary' for Mac which has a setting to let you control this behavior - https://www.getpostman.com/app/postman-osx-canary.

We'll soon be releasing this in the production Mac app.

[2016-07-26 12:28] #1967 closed, assigned to numaanashraf

[2016-07-26 12:50] mahendranv commented on #2180
I can able to select link and copy as in normal text.

Thank you.

Mahendran V.
On Jul 26, 2016 5:44 PM, "Abhijit Kane" notifications@github.com wrote:

@mahendranv https://github.com/mahendranv Can you confirm this working
now?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
https://github.com/postmanlabs/postman-app-support/issues/2180#issuec

[2016-07-26 12:50] #2180 closed, assigned to nobody

[2016-07-26 13:59] blowsie commented on #1264
This does not work when on the runner window

[2016-07-26 14:30] kubah opened #2199 "Obtain and delete OAuth 2.0 token does not update Existing Tokens list"
With OAuth 2.0 authorization type obtain new access token and delete it does not update table with Access Tokens.
1. Postman version: 4.4.2 and 4.4.3
2. Chrome version: 51.0.2704.103
3. OS version: win / x86-32 (reported in Settings -> About section). Actually it is Windows 10 64 bit.
4. Encountered recently, not sure if it has been there already.
5. Expected behaviour: Access Token should not be

[2016-07-26 15:19] kubah commented on #2197
@abhijitkane thanks for your response.
I would like to discuss 2 problems connected with this issue.
First, in my opinion this issue is more about Postman keeping last used authorization type (also for OAuth 2.0) per request, maybe without saving sensitive informations and without explicit checking 'Save helper data to request' box.
Next thing is connected with security issue. As you wrote in your

[2016-07-26 15:59] vegetableman commented on #1264
hey @blowsie, thanks for reporting. The fix will be part of the next release.

[2016-07-26 20:32] tariqghalib opened #2200 "Newman running scripts from secured server"
Our collections are currently on a SVN. If we use Newman to run those scripts by providing the URL's, can we also perform basic authentication from Newman before connecting the svn?

Version/App Information:
1. Postman Version: 4.4.0
2. App (Chrome app or Mac app): Chrome
3. OS details: Windows 7 Professional
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this recently,

[2016-07-26 23:47] octohub opened #2201 "Cookies Overlap in UI"
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Mac App
3. OS details: 10.11.5, OS X El Capitan
4. Is the Interceptor on and enabled in the app: No.
5. Did you encounter this recently, or has this bug always been there: It has been there for at least July 1 2016.
6. Expected behaviour: The cookies should not overlap, it makes them very difficult to read.
7. Console logs (http://blog.getp

[2016-07-27 03:38] czardoz commented on #2200
If you're talking about collection URLs, yes, you can specify basic auth in them.

[code]

[2016-07-27 06:53] blowsie commented on #1264
No problem, this feature is great :+1:

[2016-07-27 08:38] tyteen4a03 opened #2202 "Support oauth_callback for OAuth1.0a requests"
According to [Section 6.1.1](http://oauth.net/core/1.0a/#auth_step1) of the OAuth1.0a specification, an `oauth_callback` parameter must be supplied with the request (this was not required in 1.0).

Could you please add an `oauth_callback` field to make the request 1.0a compliant?

[2016-07-27 08:40] tyteen4a03 commented on #2202
Oops, duplicate of #2173.

[2016-07-27 08:40] #2202 closed, assigned to nobody

[2016-07-27 08:40] tyteen4a03 commented on #2173
+1

[2016-07-27 08:42] tyteen4a03 commented on #2173
Duplicate of #1240 and #283 (3 years ago!)

Can we get this added please?

[2016-07-27 12:58] anujbahuguna commented on #1137
Chrome's NTLM is no longer working with Postman after latest upgrade of chrome :(

[2016-07-27 13:39] naoisegolden commented on #125
Mandatory registration into Postman isn't what I would have expected for this, especially with solid solutions like Chrome Sync or even Dropbox _et al_.

[2016-07-27 13:58] kubah opened #2203 "Use '=' and '&' to separate key and value in x-www-form-urlencoded form"
It would be great if values and keys from x-www-form-urlencoded form (Body) could be concatenated with '=' and '&' instead of ':' and '\n'.
Such feature would improve usability because user will have possibility to write (or paste) correct url and then edit each key-value pair separately.

[2016-07-27 14:04] kubah opened #2204 "Starting Postman with lately used tabs"
It would be great if Postman could remember recently used tabs and open them when starting.

[2016-07-27 14:21] kubah opened #2205 "Cannot save request when authorization type is set"
Cannot save request when authorization type is set to Basic, Digest, OAuth 1.0, Hawk or AWS
1. Postman version: 4.4.3
2. OS version: win / x86-32 (reported in Settings -> About section). Actually it is Windows 10 64 bit.
3. Chrome version: 51.0.2704.103
4. Encountered recently, not sure if it has been there already.
5. Expected behavior:
   - Choose Basic, Digest, OAuth 1.0, Hawk or AWS authorizat

[2016-07-27 14:24] shamasis commented on #125
The solutions with Dropbox and Chrome Sync isn't as robust as it is thought to be. And with them realtime sync performance blocks good user experience. For example, with the [changes](https://blogs.dropbox.com/developers/2015/11/dropbox-api-v2-launches-today/) and [deprecations](https://blogs.dropbox.com/developers/2015/04/deprecating-the-sync-and-datastore-apis/) dropbox rolled out, it would have

[2016-07-27 14:26] shruk commented on #2076
this happens to me as well, after I minimize the postman, i can't get gui back! restart the computer, remove from chrome, re add, doesn't work. how can i use the app if I can't get gui showingup?

Postman Version: Latest available
App (Chrome app or Mac app): Chrome app
OS details: windows 7
Is the Interceptor on and enabled in the app: don't think, Never used it
Did you encounter this recently, o

[2016-07-27 17:37] neverendingqs commented on #1360
@abhijitkane - would you be able to give a comment on the status of this issue?

[2016-07-27 18:58] stepharr commented on #1205
@abhijitkane Is this feature still coming soon?

[2016-07-27 19:32] jakubkratina commented on #697
+1

[2016-07-27 21:53] josephnoall commented on #1831
+1

[2016-07-27 21:54] abhijitkane commented on #1831
@ElSifi @Jayuda @suhaim This curl command can successfully be imported in v4.4.3 of Postman.

[2016-07-27 21:54] #1831 closed, assigned to nobody

[2016-07-28 02:09] Arkitecht commented on #391
I am seeing this happening - but in the opposite manner. I have a POST request that succeeds in Postman, but fails via cURL cli and PHP curl with a 405 Method Not Allowed. I made the request with no data - just hitting the URL.

[2016-07-28 05:49] aditikul commented on #2195
@maciekdragan Unfortunately this was leading to some people losing their work when they close a tab. You can jump quickly through this modal by using the shortcuts space for "Don't Save" enter for "Save" and escape for cancel. Hope this helps.

[2016-07-28 05:50] aditikul commented on #2194
@maciekdragan Good point! Yes this is definitely something we are looking at. Will update this ticket once the app is updated with this.

[2016-07-28 05:58] janghwan opened #2206 "Default Origin header content "file://" is not a valid URI"
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Mac / Chrome
3. OS details: Mac OS X yosemite
4. Is the Interceptor on and enabled in the app: on and off
5. Did you encounter this recently, or has this bug always been there: it's been there for long time i think.
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2016-07-28 06:25] lukeholder commented on #1973
This is a big 👍  from me. I use postman to test a request and then copy the response into a mock text file I load during automated tests in my php code. Being able to copy all the headers at once would be a huge time saver.

[2016-07-28 08:19] SamvelRaja commented on #1249
@jmartigny  @maxiwheat @vsabella It has been fixed in our internal build will be available in the next release.

[2016-07-28 08:26] zxning opened #2207 "using Postman Proxy to Capture https requests"
I want to using Postman Proxy to Capture https requests from Android Devices, but ,according to the following:
http://blog.getpostman.com/2016/06/26/using-postman-proxy-to-capture-and-inspect-api-calls-from-ios-or-android-devices/

In Android Devices my app's request failed

[2016-07-28 08:35] maciekdragan commented on #2195
@aditikul you are right. So maybe you can add this feature as an option in setting (for people knowing what they are dooing)? Or as a checkbox "don't as me again" in dialog box? I have many situations where I must close i.e. 10 tabs without saving it.

[2016-07-28 08:58] Leo-Mahon commented on #882
+1

[2016-07-28 09:19] abhijitkane commented on #2206
@janghwan We've moved to a new request platform in our "Postman Canary" app for OSX. you can get it here - https://www.getpostman.com/app/postman-osx-canary. We'll soon push this to the production channel.

[2016-07-28 11:18] p00j4 opened #2208 "Replay Post request doesn't work if it requires session"
[code]

**Actual**
I want to write a test case for an api which requires session
for that I'm trying to replay/repeat the post call which is behind Authentication.
Using the awesome Postman Interceptor I got login & the post call both recorded in postman history but while sending it again, it brings the index page in response as if the session is not maintained
i'm doubting it has to do something

[2016-07-28 13:17] 0juba commented on #675
+1

[2016-07-28 14:58] jarroda opened #2209 "Add hybrid flow (grant type) to OAuth2 auth helper"
Postman currently supports Authorization Code and Client Credentials flows, but providing support for hybrid flow would be very useful.  We have a javascript SPA app that authenticates with our API using implicit flow, but would like to test our API endpoints using postman.

Providing support for hybrid flow means that our SPA app can continue to login along with allowing postman to authenticate u

[2016-07-28 15:18] nicolas-despres commented on #971
@grifx , that's great! I tried it with `Postman`and it worked well. However, can this work with newman? Probably not because it uses `window` right?

[2016-07-28 19:01] lucaspiressimao commented on #697
+1

[2016-07-29 00:31] majew7 commented on #1552
+1

[2016-07-29 00:59] vegetableman commented on #2196
hey @kubah, Thanks for the detailed report 👍 . The issue has been fixed in our internal build. Will update you on the release version it will be part of.

[2016-07-29 06:30] canine-afficionado opened #2210 "Can't Post"
Hello, I can't get Postman to successfully send a POST in the application but if I use Postman to Generate Code and run using cURL or Python it works as expected.
1. Postman Version: 4.4.3
2. App (Chrome app or Mac app): Mac
3. OS details: OS X 10.11.6
4. Is the Interceptor on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: Always
6. Expected behav

[2016-07-29 07:14] p00j4 commented on #2208
- @abhijitkane any idea, is it something blocked by chrome app?

[2016-07-29 08:43] pencilkill commented on #882
+1

[2016-07-29 09:23] calmchang opened #2211 "Uncaught Error: Minified exception occurred;"
requester.js:1032 Uncaught Error: Minified exception occurred; use the non-minified dev environment for the full error message and additional helpful warnings.

[2016-07-29 09:55] numaanashraf commented on #2211
@calmchang Please share your App type (Chrome/Mac/Windows), App version and OS details and also any steps you took that resulted in this error.

[2016-07-29 10:00] numaanashraf commented on #2210
@b3nda1ley Could you keep DevTools open, send the request and check the Network tab in DevTools for the request that was sent? It seems like Postman is sending the POST request, but there is some issue with the API/server implementation that yielded a `500 Internal Server Error`.

[2016-07-29 10:02] numaanashraf commented on #2204
Hi @kubah, thanks for the suggestion. We'll try to accommodate this in our backlog and get back to you when we have an ETA.

[2016-07-29 10:03] numaanashraf commented on #2201
@octohub Thanks for reporting this. We'll roll out a fix soon.

[2016-07-29 10:05] numaanashraf commented on #2199
Thanks for reporting this @kubah. We'll take a look and push a fix soon.

[2016-07-29 11:38] canine-afficionado commented on #2210
Thanks - normally I'd agree except if I generate code for cURL or Python and run it there is no issue. It only fails when sending from Postman. Here's the network tab:

![image](https://cloud.githubusercontent.com/assets/20718341/17247203/fe7dfb34-55d4-11e6-86da-133bcea6a5ab.png)

Is it something to do with that origin header?

[2016-07-29 14:36] tariqghalib opened #2212 "Postman runner stuck in the middle of execution"
**Problem Statement:**
I have a lot of test cases and when I try to run one of the folder under a collection, postman runner pauses at a test case and stays stuck at that forever.

**Version/App Information:**
1. Postman Version: 4.4.0
2. App (Chrome app or Mac app): Chrome App
3. OS details: Windows 7 Professional
4. Is the Interceptor on and enabled in the app: Yes
5. Did you encounter this rece