[2019-06-06 02:25] fifn2 commented on #4454
I'm also interested in getting this to work on the rPi

[2019-06-06 02:42] mlbjay commented on #758
Now, I use Siege which has this feature, hope Postman updating with this feature too.

[2019-06-06 03:25] felangga commented on #3822
+1

[2019-06-06 03:42] parthpatwala commented on #6644
I tried with different scenarios and found that when we copy and paste the value from different source instead of manually typing, this happens.
Closing this issue since it's not a problem with the Postman.

[2019-06-06 03:42] #6644 closed, assigned to vikiCoder

[2019-06-06 04:52] preethammavin commented on #6659
@yossarian123 thanks for the feedback, we are looking at bettering the experience on Fork and Merge , no ETA as of yet but be tuned :)

[2019-06-06 05:08] WallEnd commented on #6652
It seems that it is!

[2019-06-06 05:38] harryi3t commented on #6663
@HugoBCuri @jessica-pixvana
Could you provide us some more information about the issue you are facing?

1. Is the App not opening after downloading from our website? Can you try opening it from the terminal add see if there are any errors? Also, if this is the case, please share the logs (View -> Developer -> View logs in File Manager) at `help@getpostman.com` with the title `Logs for GitHub #6663

[2019-06-06 05:43] AnkitMasand commented on #5737
curl --location --request POST "https://sample.com" --header "Content-Type: application/json" --data "{ "details": { "$id": "11", "sample": { "name": "ankit" } } }"

@abhijitkane I executed the above Curl command. Attaching a screenshot from the latest version of the Canary app ( Version 7.1.1-canary06 (7.1.1-canary06) ). Doesn't seem like it has been fixed.

![image](https://user-images.githubuse

[2019-06-06 06:18] Sanjay-K-S commented on #4898
Please Bring Back the Bulk Edit Option!! :(

[2019-06-06 06:37] SivaPrasad186 opened #6665 "Unable to access environment variable in Request Body."
I have set an environment variable in one of my API's. The variable is accessible in sub sequent API URL's but not in their body content. In the screenshot, this is clearly visible. Could you please let me know why this is happening?
<img width="675" alt="Screenshot 2019-06-06 at 12 01 38 PM" src="https://user-images.githubusercontent.com/48505922/59011692-1fe0cc80-8853-11e9-893b-9b038320cb62.png"

[2019-06-06 07:04] mukeshknoldus commented on #6418
Environment variable values not getting updated while running through the runner and when I export the environment json file, it is still showing values as initial values not current values.
postman for linux, version 7.1.1

@shamasis

[2019-06-06 07:45] wonboyn opened #6666 "Request body not generated from API that has schema defined"
**Describe the bug**
A collection generated from an API that uses Swagger/OpenAPI v2 that has request body schema definitions does not generate requests with a matching request body

**To Reproduce**
Steps to reproduce the behavior:
1. Create an API
2. Import the schema from a file using OpenAPI v2 that has a request with a request body schema definition such as:

...
      "post" : {
        "tag

[2019-06-06 08:00] LakhanMaq opened #6667 "Dynamic query in graphql without graphql schema"
![image](https://user-images.githubusercontent.com/45222693/59015868-9aaee500-885d-11e9-8c43-9492913a1708.png)

this is what i am trying to run but   getting 400 bad request

I am not using content-type: application/graphql
i have pass this in body as raw data with application/JSON

Please provide me solution
if more clarification required please let me know

@a85

[2019-06-06 08:24] numaanashraf commented on #1669
@ljdev1 In our first production release, we'ld have auto-completion of queries & mutations using schemas stored inside APIs in Postman. We are exploring ways to present schema docs and power auto-completion via introspection from server schemas.

[2019-06-06 08:27] numaanashraf commented on #6667
@LakhanMaq Postman's GraphQL support is available for early access on our Canary channel. You can edit and send query and graphql variables directly from the UI. Please follow this thread and refer this comment to download the Canary builds - https://github.com/postmanlabs/postman-app-support/issues/1669#issuecomment-494384520.

Regarding the 400 bad request, I'm afraid this is specific to your Gr

[2019-06-06 08:27] #6667 closed, assigned to nobody

[2019-06-06 08:30] numaanashraf commented on #6665
@SivaPrasad186 Is the value not resolved while sending the request?

[2019-06-06 08:34] SivaPrasad186 commented on #6665
@numaanashraf Nope. It is not resolving. Getting this error.

{
    "message": "Invalid request body"
}

To add to it, the request body type (raw) I am using is **Text** for my API.

[2019-06-06 08:38] JaanusR opened #6668 "Sync doesn't update public documentation"
After i merged collection changes to team collection some of the request and folders were missing from published documentation. Whats wierd is that desktop postman shows everything correct with all of the requests and folders but web documentation is messed up.

I feel like that syncing broke after i made changes to exsisting request. It was easier for me to just delete request and create new one

[2019-06-06 08:59] TMUNYU commented on #982
This would be an awesome feature.
A quick search feature would be awesome as well.

[2019-06-06 09:21] Ramya-From-Postman opened #6669 "Collection disappeared suddenly and not found in trash"
**Describe the bug**
A collection got disappeared suddenly from all the workspace. However, the collection owner can see the collection being present at https://go.postman.co/me/collections but he can neither access the collection nor share it with any workspace

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://go.postman.co/me/collections'
2. Search for collection in question .

[2019-06-06 09:25] sankalp0o commented on #4834
Duplicate of #3171 , closing this.

[2019-06-06 09:25] #4834 closed, assigned to sankalp0o

[2019-06-06 09:38] sulmanbashir commented on #3171
+1

[2019-06-06 11:23] twothe commented on #4849
I am using Postman 7.1.1 on Windows 10, external Monitor (which is not scaled) and I have the same issue. However my main monitor is scaled, so it looks to me like Postman is getting the scaling information from the wrong monitor.

[2019-06-06 11:30] rk-7 commented on #3919
This will be awesome! I'm waiting for this feature since it helps you write code fast and without silly mistakes.

[2019-06-06 12:21] c0desurfer commented on #4751
Same here. My response is about 100MB small. Please fix this issue.

[2019-06-06 12:58] capyash commented on #4604
@vkaegis, would it be possible to have this config (or another) show non-printing characters in other text fields? I just spent quite a while with postman crashing and finally installed insomnia to see that the URL I had copied had non-printing characters. Insomnia shows those as red dots, btw. Postman just crashes and exits.

[2019-06-06 13:27] cyrielle-hada commented on #6551
The issue appears to be fixed.

[2019-06-06 13:37] m3dbedb opened #6670 "Ability to log runner requests to postman history"
**Feature request description.**
It is hard to work with request data in text mode in console after collection run

**Describe the solution you'd like**
I propose to add ability to store runner requests to Postman history

[2019-06-06 14:56] HugoBCuri commented on #6663
### It worked
1. I have to remove manually
[code]
2. Install libgconf-2-4
[code]
3. Download [latest version](https://www.getpostman.com/downloads/)
4. Unzip file
[code]
5. Move to directory that I want to install it
6. Create the file ~/.local/share/applications/Postman.desktop
[code]
copy and paste, change **YOUR_INSTALL_DIR**
[code]
 7. Open the app

[2019-06-06 15:17] abhijitkane commented on #6666
@wonboyn We'll be releasing an update to the Swagger2 importer soon. For now, you can check out our open-source converter (https://github.com/postmanlabs/swagger2-postman2) - this should generate a Postman Collection with examples.

You'll need to add a description to each response, though - that's a required property.

[2019-06-06 15:38] squishz commented on #675
+1

[2019-06-06 15:46] salemgolemugoo commented on #2493
Please add this feature!

[2019-06-06 16:08] devuberoi opened #6671 "Hard crash when making requests starting with special characters"
**Description:**
Postman app crashes when trying to make a request with special characters at the beginning of a URL.

**Steps to reproduce the behavior:**
1. Type in URL starting with special character e.g. `"https://www.google.com`
2. Click on 'Send'
3. Wait for crash

**Expected behavior:**
The app should not crash instead display an error.

**App information:**
 - App Type: Native App
 - Postm

[2019-06-06 16:22] cebaa commented on #4441
+1 for this.

It actually would be good to add a per-tab environment override, so that there's one global environment that is a default when a new tab is opened, but that can be overridden if needed.

I.e. current variable scopes are:

Global -> Collection -> Environment -> Data -> Local

and what I'm proposing is:

Global -> Collection -> Environment -> Tab -> Data -> Local

where the new Tab can

[2019-06-06 16:28] yossarian123 commented on #6657
I'm wondering if the following would be a better approach, I mentioned it in passing in my original issue.
When user creates a collection fork, all environments in that workspace are automatically branched along with the collection.  Then when edits can be made to both env & collection - when the changes are ready to be merged they're merged as a single transaction.

[2019-06-06 17:46] sankalp0o commented on #6657
@yossarian123 Thanks for reaching out!
Environment permissions are something we're already looking at. One direction it might take is for "Viewers" to only have the ability to change the Current (local) value of a variable and only "Editors" to be able to change the Initial (cloud) value. While we haven't decided if this is how it'll work, it sounds like it will solve some of your use case.
We don

[2019-06-06 17:49] sankalp0o commented on #6657
@vkaegis @preethammavin Forking/merging for environments might be worth looking into. I recall some older issues about people duplicating environments and wanting to see a diff between two environments.

[2019-06-06 20:14] juliatetrud opened #6672 "API-Network in-app and on the website are out of sync"
**Describe the bug**
The in-app API Network and web-based API Network are not in sync. The APIs should be listed in the same order and render the same information, but this is not happening.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.getpostman.com/api-network/
2. Click on "Business Solutions"
3. Open the app and press the "New" button
4. Select "API Network"
5. Click

[2019-06-06 20:20] rsweetland opened #6673 "UI: Clearly indicate shared env variables"
The **Manage Environments** tab in Postman (7.1.1 OSX) should make it more obvious when an env value is being shared.

The verbiage explains, but inadequate for the level of security risk.

Postman convention uses the the "shared person" icon to show a shared resource. Adding this to the "Initial Value" column would help:

![image](https://user-images.githubusercontent.com/81267/59063049-1ad44b00-

[2019-06-07 03:21] Raj-postman commented on #4751
Performance issue:

- Number of Requests in Collection - Above 100 and 3000 for some requests.
- Number of collections in the workspace ~35
- Number of collections across all workspaces ~35 ( one workspaece)
- open request tabs - 1
- number of environments 8
- number of variables across environments ~40
- Specific request that causes the system lag? :
    The collection with the issue has two loop

[2019-06-07 03:31] preethammavin commented on #6663
Thanks letting us know, will be closing the issue for now

[2019-06-07 03:31] #6663 closed, assigned to nobody

[2019-06-07 03:35] preethammavin commented on #6668
@JaanusR this is weird, can you give me a steps that you took to reach this state so that I can try to reproduce this.

[2019-06-07 03:44] preethammavin commented on #6672
@juliatetrud  we are working on getting the API network to be more extensible, we will be unifying the experience both in app and dashboard. Closing the thread for now.

[2019-06-07 03:44] #6672 closed, assigned to nobody

[2019-06-07 04:53] ebabel-eu commented on #4401
Postman stopped syncing for me too.

![Screenshot 2019-06-07 at 06 55 57](https://user-images.githubusercontent.com/4309770/59082027-5d943280-88f1-11e9-8429-a5fd2065567b.png)

[2019-06-07 04:59] ebabel-eu opened #6674 "Postman not syncing"
Postman is not syncing.

Steps to reproduce the behavior:
1. Go to Postman desktop app
2. Click on 'Sync
3. See error in DevTools console:

![Screenshot 2019-06-07 at 06 55 57](https://user-images.githubusercontent.com/4309770/59082083-97653900-88f1-11e9-9286-2653b18eae04.png)

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version 4.4.1
 - OS:

[2019-06-07 05:02] pratik-toptal commented on #971
+1

[2019-06-07 06:02] dhineshwiz opened #6675 "Documentation published on custom domains has some extra path in URL"
**Describe the bug**
Some of the documentation published on custom domain has some extra paths in URL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to published documentation
2. Extra path is added to the url

**Expected behavior**
No extra path should be added to the URL

**Screenshots**
<img width="571" alt="Screenshot 2019-06-07 at 11 20 32 AM" src="https://user-images.githubusercont

[2019-06-07 06:10] sujayvenaik commented on #6674
Hey @ebabel-eu
We recommend updating to the latest version i.e. [v7.1.1](https://www.getpostman.com/downloads/) and try again.

[2019-06-07 07:45] codenirvana commented on #6664
@mblufkin Thanks for reporting this, we've already fixed this in our internal library and will be fixed in our next stable release.

Closing as duplicate of #6533

[2019-06-07 07:45] #6664 closed, assigned to codenirvana

[2019-06-07 07:46] codenirvana commented on #6671
@devuberoi Thanks for reporting this, we've already fixed this in our internal library and will be fixed in our next stable release.

Closing as duplicate of #6533

[2019-06-07 07:46] #6671 closed, assigned to codenirvana

[2019-06-07 07:57] codenirvana commented on #6109
Duplicate of #2638

[2019-06-07 07:57] #6109 closed, assigned to saswatds

[2019-06-07 07:59] #6455 closed, assigned to shamasis

[2019-06-07 08:08] #6652 closed, assigned to saswatds

[2019-06-07 08:09] sarthak-sehgal opened #6676 "Dropdown not accessible when no tabs open"
**Describe the bug**
Dropdown menu is not accessible when no tabs are open and the left sidebar is closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Close all the open tabs
2. Close the left sidebar (Cmd+\)
3. In the tabs section, click on the ellipsis (...) to open the dropdown.

**Expected behavior**
The dropdown should not overflow from the window.

**Screenshots**
<img width="1440"

[2019-06-07 09:14] ash007-postman commented on #6619
@preethammavin Another user facing a similar issue, he can't access web dashboard, getting a spinning circle while opening the web-dashboard and the page never loads.

[2019-06-07 09:49] vkaegis opened #6677 "Cannot scroll workspace dropdown using mousepad"
**Describe the bug**
I can't seem to scroll through the workspace dropdown list using gestures on the mousepad. It scrolls the tab in the background instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Workspace dropdown
2. Try to scroll the workspace list

**Expected behavior**
The workspace list should scroll.

**App information (please complete the following information):**

[2019-06-07 10:22] harryi3t commented on #6663
@HugoBCuri Thanks for sharing the steps to fix the issue.
Here's a short explanation about what might have happened.

You had installed Postman from snap where the latest version on the `stable` channel is 6.7.x
Installing from snap also creates the desktop file automatically for you. So when you search for Postman, the icon in the search comes because of this desktop file.
Then, you downloaded th

[2019-06-07 11:20] tanistra commented on #6558
the same problem but with ` or ' character before url

[2019-06-07 14:09] dhireng commented on #4977
the problem still happens on 7.1.1  can this be reopened?

[2019-06-07 14:23] echoesbr opened #6678 "Visual editor for OpenAPI definitions"
Manually writing your OpenAPI definitions isn't an easy task and might take some time and investment to learn its syntax.

**Describe the solution you'd like**
Besides having the manual editor, Postman could have a visual editor. Making it easier to create and edit OpenAPI definitions.

**Additional context**
There are some companies moving in this direction, such as SwaggerHub and Spotlight.io, h

[2019-06-07 15:05] Apostolos-Daniel commented on #6205
I'm running into the same issue. Even if I try getting all my collections using the Postman API key (https://community.getpostman.com/t/where-do-you-see-your-own-uid-for-collection/3537) I generated I get a 'connection refused' response.

Request:

curl  https://api.getpostman.com/collections?apikey=XXXXXXXXXXXXXXX/ -v

Response:
Failed to connect to api.getpostman.com port 443: Connection refused

[2019-06-07 19:59] whithang commented on #5039
i'm getting the same issue on macOS Mojave. the app is installed in the applications folder

[2019-06-07 20:33] yaredw commented on #2734
So 2+ years later...hopefully this will be prioritized soon? It's kind of a big deal...

[2019-06-07 21:16] nardoguy14 opened #6679 "Something Went Wrong Vendor-Shared Library"
**Describe the bug**
fails to open, displays something went wrong

**Screenshots**
<img width="1081" alt="Screen Shot 2019-06-07 at 2 15 53 PM" src="https://user-images.githubusercontent.com/4164460/59134041-c3eb7600-892e-11e9-908c-7c22cae50dcb.png">

**App information (please complete the following information):**
 - native app
 - Postman Version 7.1.1
 - OS: Mac OS Mojave

[2019-06-08 01:06] aeharake commented on #5591
1) Set POSTMAN_DISABLE_GPU=true in System Environmental Variables (Computer > Properties > Advanced System Settings > Environmental Variables ... )
2) Delete the Postman Folder from %AppData% both Roaming and Local.
3) Install Postman
4) Right click on the Postman shortcut and change the path, let it point to /app-7.1.1/Postman.exe (7.1.1 in my case, for ur case it might differ) instead of /Update

[2019-06-08 04:49] mprice-mule commented on #4190
Can someone confirm if (or when) Postman will fully support RAML 1.0?

[2019-06-08 06:48] discotroll65 commented on #5982
@vikiCoder I noticed that when using Oauth1 , if the signature key has a + in it, then what ends up getting sent to the server actually has ' ' in place of the plus, and it results in an error from the server looking like this:
[code]

[2019-06-08 08:13] preethammavin commented on #6679
hey @nardoguy14 can you write us the steps which led to this state?

[2019-06-08 12:01] atjason commented on #6322
Can't understand why there's such a feature to keep temporary headers and don't allow users to remove or disable or edit or overwrite it.

[2019-06-08 12:27] saswatds commented on #6322
Hi @atjason I have tried to explain what these temporary headers are why they are visible here https://community.getpostman.com/t/temporary-headers/5243/15?u=saswatds

@sharq88 I can understand that code-generation has started to add these additional headers. The intention here was to give the end-user the exact header that postman was sending so that debugging could get easier.

It a valid featur

[2019-06-08 12:40] atjason commented on #6322
@saswatds Already has such issue to disable temporary headers: https://github.com/postmanlabs/postman-app-support/issues/2689

[2019-06-08 12:41] ebabel-eu commented on #6674
It worked, thanks!

[2019-06-08 12:41] #6674 closed, assigned to nobody

[2019-06-08 12:46] saswatds opened #6680 "Option to disable temporary headers in code generator"
**Is your feature request related to a problem? Please describe.**
The temporary headers have been added to UI to represent the actual behavior of postman but as a side-effect the headers are now also a part of code-generator. A large group of users may not want to have these headers as part of the generated code and only would want to see what they have explicitly added.

**Describe the solution

[2019-06-08 12:54] saswatds commented on #6322
@sharq88 I have created an issue on behalf of everyone for an option to disable the headers in code-generators. If this could solve your issue, feel free to give a 👍
https://github.com/postmanlabs/postman-app-support/issues/6680

[2019-06-08 17:36] zachheine commented on #4365
I would also appreciate this just for our internal users to be able to hit [docs.ourdomain.com](#) and get the latest published version while logged in.

[2019-06-08 17:43] zachheine opened #6681 "Restricted access to public documentation"
I have set up the subdomain [docs.ourdomain.com](#) and would like to be able to publish our docs so that only logged-in team members can see them.

[2019-06-08 17:46] zachheine commented on #6681
This is to have a quick shortcut to the current collection page, rather than: https://company.postman.co/collections/6976389-266cf775-bb91-4635-b64f-d58749f607ba?version=latest&workspace=88e96b36-c21c-4778-a58b-cdd3e68577ba

[2019-06-09 05:42] G-Rath commented on #3822
I'd be happy to take a crack at doing this myself, if someone could point me to where to look to start - ideally a nice document, but even just pointing to the other code generator files would be good.

[2019-06-09 10:32] AnvarNazar opened #6684 "App not starting on Ubuntu"
### Output
[code]

[2019-06-09 17:01] christhomas commented on #4296
The fact that they tell you only the top 10 are stored means that this can't be a bug, it's programmed in behaviour. Otherwise it wouldn't say specifically 10 historical run is stored.

But what means a historical run? I get this on the first run, the last run shouldn't count as being more than the last 10 historical runs, right?

Or does it mean it only stores response bodies for the last 10 requ

[2019-06-09 17:03] christhomas commented on #4556
Yeah it's nice that you know it's a duplicate. So since you're aware of the problem, why don't you hussle on over there and actually provide support for it. Just a thought. It's over a year since the issue was reported and people are reporting since then the problem exists and nothing has been done about it.

[2019-06-09 18:58] chrisdeso opened #6685 "Workspace / Collections disappear when the owner/creator is removed from team"
**Describe the bug**
Upon removing a user from a team – the workspaces they had created (and the associated collections) are reported to be going missing.

More specifically – a collection that's associated with a team is shown as being synced/shared but is nowhere to be found by the users of the team in question.

**To Reproduce**
I haven't been able to reproduce the behavior and the information

[2019-06-10 03:26] godfrzero commented on #6655
We've isolated the issue and are working on a fix. I'll post here once we've pushed it out.

[2019-06-10 06:30] xsauce opened #6686 "Postman crash after sending a request"
**Describe the bug**
Postman crash after sending a request which url contains a invisible character. And I find some error message in ~/Library/Application Support/Postman/logs/main.log:

[26250][1560136290743][main][error]["Main~handleUncaughtError - Uncaught errors",{"name":"TypeError","message":"Cannot read property 'toLowerCase' of null","stack":"TypeError: Cannot read property 'toLowerCase' o

[2019-06-10 06:36] abhijitkane commented on #6642
@Gone4Codin We're working on a fix, and hope to release this soon. Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6666

[2019-06-10 06:36] #6642 closed, assigned to nobody

[2019-06-10 07:59] sharq88 commented on #6322
Awesome! Thank you! @saswatds

[2019-06-10 09:54] harryi3t commented on #5039
@whithang Is the issue happening on the `My workspace` or all workspaces?
Can you try doing the same on a new workspace? If that works just sign-out and sign-in back.

[2019-06-10 10:31] sankalp0o commented on #6681
@zachheine Thanks for the input! Maybe a dumb question, but if you set up a redirect on that subdomain, would that not work?

[2019-06-10 11:37] aksharagpostman opened #6687 "creating this issue just to delete it and check if the changes are being reflected in the table"
(Couldn't think of a better way to know this until there's a response from stitch)

[2019-06-10 13:25] shamasis commented on #6628
What we we remove all "smarts" from the import ... and keep on appending whatever is imported? Wjat else may break because of this? @vkaegis ( cc @a85 )

[2019-06-10 13:32] bskiefer opened #6688 "Render markdown links containing variables"
**Is your feature request related to a problem? Please describe.**
Markdown links that contain variables don't render to proper HTML. Say I have a link in the description `{{home}}/index.php`. The text displays the correct link `https://example.com/index.php`, but the href attribute is html encoded `{{home}}/index.php`. Clicking the link does not take you to the rendered [valid] URL.

**Describe t

[2019-06-10 14:03] aditrades commented on #5330
We recently bought postman for showing docs and this is a really crucial feature for us.

[2019-06-10 14:07] aviranmoz commented on #5330
This feature will very helpful

[2019-06-10 14:32] bskiefer commented on #6681
@sankalp0o Not OP, but besides the custom domain, maybe just a short URL such as `https://company.postman.co/workspace-slug/collection-slug`

[2019-06-10 14:37] zachheine commented on #6681
@sankalp0o I set it up as a custom domain in Postman and ideally it would just be the canonical URL for the docs and would also give the formatting that public publishing has

[2019-06-10 17:12] cyrielle-hada commented on #6551
Reopening this as the issue seems to be reoccurring @preethammavin

[2019-06-10 17:13] cyrielle-hada commented on #6551
Reopening this as the issue seems to be reoccurring @preethammavin

[2019-06-10 17:14] prashantagarwal commented on #6551
@cyrielle-hada We haven't fixed this issue yet. I'll update this ticket once we have a fix for this issue.

[2019-06-10 17:27] cyrielle-hada opened #6689 "Postman crashes on launch"
**Describe the bug**
Postman crashes on launch on Windows 10.
Postman was running fine for months and just recently stopped launching.

**To Reproduce**
Try opening the app from the desktop

**App information (please complete the following information):**
 - App Type - Native App
 - Postman Version 7.1.1
 - OS Windows 10

**Additional context**
What has been done and didn't help
- Clearing the cac

[2019-06-10 17:33] debjeetsarkar commented on #6461
This should be fixed now.

[2019-06-10 17:33] #6461 closed, assigned to debjeetsarkar

[2019-06-10 21:44] chrisdeso opened #6690 "Unable to remove members from Team"
**Describe the bug**
Large team administrators are seeing an error message when attempting to remove users from a team, leaving them unable to manage their own teams.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://go.postman.co/team`
2. Hover over the user you'd like to remove
3. See a generic error message – `Failed to remove the user from the team. Our engineers have been n

[2019-06-10 22:45] matheusgonzagafs commented on #1070
+1

[2019-06-10 23:27] eugenerr commented on #4594
With or without POSTMAN_DISABLE_GPU variable set I couldn't start installers PostmanCanary-win64-7.1.1-canary07-Setup.exe or Postman-win64-7.1.1-Setup.exe using options Run -> Integrated Graphics or Run -> High Performance NVIDIA processor on Win 10 Lenovo T480 laptop.
Integrated Graphics is Intel UHD Graphics 620 and NVIDIA card is GeForce MX150.

PostmanCanary-win64-7.1.1-custom-Setup.exe has in

[2019-06-11 00:48] ash007-postman opened #6691 "Unable to delete Postman account"
**Describe the bug**
Unable to delete Postman account via settings from the web dashboard

**To Reproduce**
1. Go to Settings
2. Click on "Delete Account"
4. Comes back to the login page

**Expected behavior**
The account should get deleted after clicking on "delete account"

**App information (please complete the following information):**
 - App Type [e.g. Chrome App, Native App]
 - Postman Versi

[2019-06-11 03:20] tonythere commented on #974
+1

[2019-06-11 04:48] preethammavin commented on #6691
@ash007-postman the account is deleted and later he is taken to that screen. We will work on the messaging to inform the user with a confirmation.

[2019-06-11 05:01] shamasis commented on #6686
Thanks for reporting. We have identified this bug and would fix it in our next release.

[2019-06-11 06:13] Raj-postman opened #6692 "Restore button doesn't appear under Activity feed"
**Describe the bug**
Unable to see the Restore button under the Changelog from Application

**To Reproduce**
Steps to reproduce the behavior:
1. Expand the collection
2. Click on ChangeLog Tab
3. Scroll down to restore any changes made earlier
4. Restore button is missing

**Expected behavior**
Be able to restore the changes made earlier

**Screenshots**

![Capture](https://user-images.githubuserc

[2019-06-11 06:32] numaanashraf commented on #6684
@AnvarNazar Please fill the following template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your

[2019-06-11 07:08] numaanashraf commented on #5920
@martyscholes Thanks for the detailed writeup. You are in-fact right about how the current functionality works and we understand why these might be confusing to begin with. Just to summarise the current behavior:

1. requests in the sidebar are 'saved' requests which are saved within a collection in your workspace and also synced to your account and any teammates who are members in the same worksp

[2019-06-11 07:10] numaanashraf commented on #5920
@martyscholes @oskar-fjeld We've passed the feedback to our internal teams and we'ld be looking at how to make these more intuitive in upcoming releases. Closing this issue for now.

/cc @vkaegis

[2019-06-11 07:10] #5920 closed, assigned to nobody

[2019-06-11 07:21] AnvarNazar commented on #6684
it started to work again after a restart.

[2019-06-11 07:21] #6684 closed, assigned to nobody

[2019-06-11 07:50] Cazaimi opened #6693 "Postman Web dashboard does not load up in Internet Explorer 11"
**Describe the bug**
After singing into the Postman dashboard, a blank screen is all there is. On opening the browser console, an error is displayed. (Can be found below in the screenshots section).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Postman Web dashboard
2. Sign in/Sign up
3. Blank screen is displayed

**Expected behavior**
The postman web dashboard should be displaye

[2019-06-11 08:05] dhineshwiz commented on #6693
hey @Cazaimi thanks for reporting the issue, will fix it soon

[2019-06-11 08:49] morrisond91 commented on #2302
I was able to get around a similar scenario with this workaround, see my solution here

https://github.com/morrisond91/PostmanRsaSupport/blob/master/README.md

[2019-06-11 08:49] ruescar commented on #6691
Hi. I was the one who originally reported the bug. Just FYI, the account does not get deleted. So it is not just about the way this action gets confirmed.

[2019-06-11 08:50] morrisond91 commented on #1607
I have a similar solution to nguyenthinam, except my only is only for RSA signature creation.

solution can be found here: https://github.com/morrisond91/PostmanRsaSupport/blob/master/README.md

[2019-06-11 09:37] blowsie commented on #4605
I still have this issue

[2019-06-11 09:40] blowsie commented on #4642
A year has passed and I still have this issue.

related: https://github.com/postmanlabs/postman-app-support/issues/4605

[2019-06-11 09:43] gunters63 commented on #4660
We need to do that very often, out of the same reasons as zhak.

A quick and dirty solution seems to be to delete this folder:
`%APPDATA%\Postman\IndexedDB `

[2019-06-11 09:56] Raj-postman commented on #6251
App Version: v7.1.1
Os: Windows
Same issue. The Merge all changes button is greyed out until all conflicts have been resolved.

[2019-06-11 10:14] sotanodroid commented on #4009
Need this one

[2019-06-11 10:28] matanos5 commented on #5330
Hoping this feature will be added in the near future.. Very important!

[2019-06-11 10:30] JaanusR commented on #6668
1. Create fork from team collection
2. Removed one of the request and added similar with the same name
3. Added multiple new folders with multiple requests
4. Start merging changes
5. Pulled changes from team. Had conflicts chose my changes on top of team changes
6. Cancelled merging, made more changes. Then i found out that i have two request with the same name under folder(same request i deleted

[2019-06-11 10:40] codenirvana commented on #6686
Duplicate of #6533

[2019-06-11 10:40] #6686 closed, assigned to codenirvana

[2019-06-11 10:41] codenirvana commented on #6558
Duplicate of #6533

[2019-06-11 10:41] #6558 closed, assigned to vikiCoder

[2019-06-11 10:41] codenirvana commented on #6571
Duplicate of #6533

[2019-06-11 10:41] #6571 closed, assigned to codenirvana

[2019-06-11 10:48] preethammavin commented on #6668
@JaanusR everything looks on on the team collection in the app? but not in the public documentation?

That is definitely weird, can you write to us at help@getpostman.com with the collection name from your registered email id so that we can take a closer look?

[2019-06-11 10:54] kaustavdm opened #6694 "Visually distinguish resolved variables in request URLs of published documentation"
**Is your feature request related to a problem? Please describe.**
If a collection is published with an environment, the public documentation page resolves environment variables and replaces the variable placeholders in path. For example, if my request URL is `{{url}}/users`, and my published environment has a variable `url` with value `https://api.example.com`, the rendered request URL is `https:

[2019-06-11 12:10] BrandtSolovij commented on #1014
This is the sort of thing that makes me loath postman.

[2019-06-11 12:26] numaanashraf commented on #6689
Relevant error from logs
[code]

[2019-06-11 12:30] numaanashraf commented on #6665
@SivaPrasad186 We are having trouble replicating this at our end. Did you type in that raw body or copy paste it from any other location?

Postman v7.1.1
<img width="670" alt="Screenshot 2019-06-11 at 5 59 46 PM" src="https://user-images.githubusercontent.com/3295568/59272087-d76e4800-8c72-11e9-8b95-342b82aed2eb.png">

[2019-06-11 12:34] SivaPrasad186 commented on #6665
@numaanashraf  Were you able to use the environment variable in your body content? When the body is of type "Text" ?  Instead of JSON(application/json)

[2019-06-11 13:44] numaanashraf commented on #6677
@vkaegis Could you provide a screen recording? Not able to replicate this on 7.1.1-canary07 windows build.

[2019-06-11 13:45] workabyte opened #6695 "Mock Server Support For Path Variables"
**Describe the bug**
when creating a Mock server using a collection that leverages path var the route is not able to be determined when making calls to the mock instance

**To Reproduce**
Steps to reproduce the behavior:
1. create collection leveraging path variables. example: {{url}}/users/:userId/favorites
2. publish mock server
3. post to mock server with value provided for the :userId path var

[2019-06-11 14:02] numaanashraf commented on #6665
@SivaPrasad186 IF you use type 'Text', the environment variable will not be highlighted, but it will still be replaced with the variable value when the request is sent out. Could you verify whether the request that is sent from Postman has the variable replaced? You can check this via the Postman Console (View > Show Postman Console)

[2019-06-11 14:56] chrisjohnson commented on #5369
Bump

[2019-06-11 15:03] ronnac commented on #4045
In my case, what helped was:
setx http_proxy ""
setx https_proxy ""

[2019-06-11 15:48] sankalp0o commented on #5231
I'm closing this in favor of #3217 which is the same feature request.

[2019-06-11 15:48] #5231 closed, assigned to sankalp0o

[2019-06-11 15:51] philmagr opened #6696 "Allow pop-out of Environment Quick Look view"
**Is your feature request related to a problem? Please describe.**
I like to look at my variables, but they're hidden all the time and require a click to display, a scroll to bring into view, and then some human-eyeball-based filtering to find my variable.

This is inefficient, and my eyeballs hurt enough already. The computer should be doing this job.

**Describe the solution you'd like**
Allow t

[2019-06-11 15:52] sankalp0o commented on #4933
@deepakpathania Current value aren't synced and therefore can't be used by monitors. I feel it'll be best to use separate environment for this. Workarounds for using the same environment for two completely different use cases wouldn't make sense. I'm closing the issue but feel free to comment if you have any thoughts on this.

[2019-06-11 15:52] #4933 closed, assigned to sankalp0o

[2019-06-11 15:54] sankalp0o commented on #5444
@godfrzero Correct me if I'm wrong, but wouldn't someone be able to define a custom cron pattern using the Postman API?

[2019-06-11 15:58] philmagr opened #6697 "Sometimes can't save variable value"
**Describe the bug**
When the current value is null, you cannot save a new value in the environment quick look screen without pressing the enter key.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Environment Quick Look
3. Scroll down to a variable that already exists but has a current value that is null
4. Click pencil to edit
5. Put a value there
6. Click elsewhere on the screen

[2019-06-11 15:59] sankalp0o commented on #6250
@chrisdeso the team admin (and billing too if i'm not wrong) can look at all the monitors at /usage/monitors.
We don't have short term plans to introduce a similar view for the app as for most people (specially admins and billing users), having this view on the web suffices. I'm closing this issue but feel free to reopen this in case this didn't answer the user's requirement in some way.

[2019-06-11 15:59] #6250 closed, assigned to sankalp0o

[2019-06-11 17:03] sankalp0o commented on #3420
@gaieges I don't understand the security considerations you're talking about. Can you elaborate on that?

[2019-06-11 17:14] SofiaCarGo commented on #6324
I was presenting the same issue in windows 10 and new version 7.1, I´m tried everything!! but this works!!
Delete cache and cookies and sign out.
Go to View tab > Developer > Show DevTools (Current View) > Application Tab > Clear Storage
1. Uncheck all boxes but keep check it "cache storage"
2. Clear site data
3. Closed window
4. sign out - deleting local data
5. Log in again -  sometimes is neces

[2019-06-11 17:20] gaieges commented on #3420
I don't recall the original context I was considering this in, but I can imagine a case where you want different alerts to go to different people / DL's, and not have to make various DL's just for a single alert.  Hence the ask to allow to specify the alert recipients in a programmatic way.

[2019-06-11 17:41] Sirine-LBC opened #6698 "Put request works with duplicate key at the json body"
**Describe the bug**

POSTMAN sends put request with duplicate key in json body
**To Reproduce**
Steps to reproduce the behavior:
1. Create a PUT request using JSON body containing duplicate key
2. See error
3. Send the request
4. The response is 201 Created

**Expected behavior**
POSTMAN doesn't send put request with duplicate key in json body

**Screenshots**
![image](https://user-images.githubu

[2019-06-11 18:16] frankbret commented on #519
I don't know if its the right place to suggest this, but it seems complementary...
I would like to see my data in **tree view** like notepad++ (or vs code) "json viewer" do it :
![tree view](https://user-images.githubusercontent.com/403073/59285105-6cede580-8c3b-11e9-8d54-2ed367f5938c.png)
Maybe the Response body "Preview" mode could do this...

[2019-06-11 19:24] ddanf commented on #5528
also encountering this, however, if I change the case of the header (X-Amz-Server-Side-Encryption) it works fine...

[2019-06-11 19:42] gharika commented on #4404
Been a year, do we have something in progress so that we don't have to update a test in every request?

[2019-06-11 22:14] rwdennis opened #6699 "Postman response header UI does not preserve whitespace."
We have an API that is attempting to return a custom HTTP header with data similar to the following:

{"dynamicTicket":"#DynmSysTckt-Ovrd-Edit-Strc                03023520874000000554      023520874000007678      023520874000745419      "}   (note - this doesn't post correctly in the issue either - there should be multiple spaces between each component of the string)

I have confirmed that this is

[2019-06-12 00:40] johnoscott commented on #519
Yes I agree. When can we have such a view in Postman ?

On Wed, 12 Jun 2019 at 04:16, François Breton <notifications@github.com>
wrote:

[2019-06-12 04:01] shamasis commented on #6699
To clarify, this data is returned as a value of a header field? Also can you use the three backtick markdown formatting to post your original data?
[code]

Meanwhile, I’m assuming you have a data like above in header and the white spaces in them are stripped. With this assumption, I will do some tests to replicate the issue and get back to you.

[2019-06-12 04:02] GTHell opened #6700 "Option to filter out some field in body that could freeze the Postman (Base 64)"
The Postman freeze out whenever there's a field contain large or multiple data like Base64.

**To Reproduce**
Steps to reproduce the behavior:
1. Just do a request for any large Base64 or multiple Base64.

** OS **
Macbook Pro 2017

**App information: **
 - Postman Latest Version

[2019-06-12 04:05] shamasis commented on #6698
Postman is a debugging tool. It allows all forms of request and even malformed ones so that developers can identify issues with client or server. Postman would try highlight the problem but is designed to not stop you from sending it.

[2019-06-12 04:05] #6698 closed, assigned to nobody

[2019-06-12 04:33] preethammavin commented on #6541
We have pushed a fix for the same, closing the issue for now. Do feel free to reopen it if it isn't so

[2019-06-12 04:33] #6541 closed, assigned to ankitjaggi

[2019-06-12 04:34] preethammavin commented on #6685
We have pushed fixes for the same, closing the issue for now, feel free to reopen it if it isn't so.

[2019-06-12 04:34] #6685 closed, assigned to ankitjaggi

[2019-06-12 04:41] preethammavin commented on #6569
@chrisdeso we pushed a fix , all the roles must be reflecting now.

If a user leaves a team, all collections and other elements shared with the team are left with the team with respect to RBAC

[2019-06-12 04:41] #6569 closed, assigned to abhijitkane, ankitjaggi

[2019-06-12 04:57] preethammavin commented on #6669
@Ramya-From-Postman we have pushed a fix for the same, closing the issue for now. Feel free to reopen it if it isn't so.

[2019-06-12 05:03] preethammavin commented on #6654
The issue has been fixed so closing the issue, feel free to reopen it if it isn't so

[2019-06-12 05:03] #6654 closed, assigned to ankit-m

[2019-06-12 05:25] ash007-postman commented on #6432
Another user getting the same error while trying to create the Monitor.

[2019-06-12 06:46] vikiCoder commented on #3178
Hi everyone,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. This issue is fixed as part of those changes. It is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. You can checkout [canary](https://www.getpostman.com/downloads/canary) and let us know if you

[2019-06-12 06:46] codeasashu commented on #2401
Can someone please provide an ETA for this feature? I am really stuck and unable to share collection in my team. Someone changes Folder/request name and it breaks multiple relying tests.

[2019-06-12 06:47] BorntraegerMarc commented on #5825
For me postman also crashes when a variable IS selected:

[code]

[2019-06-12 06:55] BorntraegerMarc commented on #6533
I work with env variables like so and get the exact same error:
![Screenshot 2019-06-12 at 08 55 05](https://user-images.githubusercontent.com/7549295/59329693-cb749b80-8cef-11e9-9155-3c7512764541.png)

[2019-06-12 06:56] vikiCoder commented on #3427
Hi everyone,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. This issue is fixed as part of those changes, postman now trims extra spaces before and after the `,` while parsing CSV file. It is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. You can check

[2019-06-12 06:57] BorntraegerMarc commented on #5825
Also possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/6533

[2019-06-12 06:58] vikiCoder commented on #3115
Hi everyone,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. This issue is fixed as part of those changes. It is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. You can checkout [canary](https://www.getpostman.com/downloads/canary) and let us know if you

[2019-06-12 07:00] BorntraegerMarc commented on #6533
My mistake: Turns out env variables need to be accessed without the `$` -> after removing that char postman doesn't crash anymore.

Although I believe postman should defenitly not crash in this scenario

[2019-06-12 07:13] sensoeurn commented on #3136
Go to File menu -> Settings > General, turn off 'SSL cerificate verification' and try again.
It works for me.

[2019-06-12 07:15] vikiCoder commented on #5404
Hi @dallyingllama @gekonwi

We convert numbers without quotes in CSV file into JavaScript Number while parsing the CSV file in the Postman App. As a result, some numbers are changed because of the limitations related to how big number can be stored in JavaScript (learn more about it [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number#Properties)).

If you

[2019-06-12 07:23] vivekpatel111 opened #6701 "Postman code snippet - Python code fails to run when header values contains " (double quotes)"
**Describe the bug**
Python code fails to run when header values contains " (double quotes)

**To Reproduce**
Steps to reproduce the behavior:
1. Add any request header with value containing " (double quotes)
![image](https://user-images.githubusercontent.com/8190653/59331045-9593df00-8d10-11e9-8c16-ea1eaf66ae92.png)

1. Click on code and select Python language (select any option in python sub-men

[2019-06-12 07:24] vikiCoder commented on #5551
Hi @Ramya-From-Postman,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. You can now escape the double quotes with a backslash (`\`) instead of using two double quotes(`""`) inside a string in CSV file. Below is a sample CSV file which will produce desired result as you want.
[code]

 This change is available on the [latest cana

[2019-06-12 07:30] vikiCoder commented on #2734
Hi everyone,

We convert numbers without quotes in CSV file into JavaScript Number while parsing the CSV file in the Postman App. As a result, leading zeros from the number is removed because that information can't be stored in JavaScript Number. If you want to keep numbers with leading zeros as it is, you can specify them as a string in CSV file by wrapping the number in double quotes like below:

[2019-06-12 07:54] Graveheart opened #6702 "Matching collection example depending on request body parameters doesn't work"
**Describe the bug**
Setting up the `x-mock-match-request-body` header returns "We were unable to find any matching requests for this method type and the mock path, '/api/authenticate', in your collection."

**To Reproduce**
Steps to reproduce the behavior:
1. Add an example to a mocked collection request with POST method and body parameters
![Screenshot 2019-06-12 at 09 47 19](https://user-images

[2019-06-12 08:04] vikiCoder commented on #2861
Hi everyone,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. This issue is fixed as part of those changes, Postman App now treats null values as empty string while parsing CSV file (same as Newman). It is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. Y

[2019-06-12 08:10] vikiCoder commented on #3576
Hi @gqy117,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. We haven't changed the behavior of parsing boolean values but negative numbers are now being parsed correctly as Number instead of String. It is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. Y

[2019-06-12 08:16] vikiCoder commented on #2970
Hi everyone,

I would like to inform that we have made some changes related to CSV file parsing under the hoods in the Postman App. This issue is fixed as part of those changes, Postman App now treats null values as empty string while parsing CSV file (same as Newman). It is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. Y

[2019-06-12 08:40] Graveheart commented on #6702
The same thing works now for some reason

[2019-06-12 09:03] gigamac commented on #4555
Hi
Getting same issue in postman v6.7.4 with Japanese characters in a GET request - is there a solution or not? I am getting 404 but when I copy and paste the (unencoded) url into chrome or Firefox I get the correct result. Safari returns 404 too btw

[2019-06-12 09:13] neothoms commented on #4345
Hi I would like to suggest a better and simplest way to handle multiple environments.
Just add a User Interface with the environments in columns and variables in rows.
It will be verry simple to copy paste variables and see wich ones have been modified / deleted / added.

![image](https://user-images.githubusercontent.com/11428292/59338642-06cc9580-8d03-11e9-90b5-3530d4143ae5.png)

[2019-06-12 09:20] frederic-mamath commented on #5591
Applied @mmahmoodictbd 's solution and it worked for me.

Thanks.

[2019-06-12 10:02] Ramya-From-Postman commented on #6669
@preethammavin,

The issue is still happening, collection owner doesn't have edit permission on the collection in a team workspace.
![image](https://user-images.githubusercontent.com/40994626/59342383-4c9b5500-8d27-11e9-9a0e-57f976d355d8.png)

[2019-06-12 10:12] shamasis commented on #6699
Found the issue! It is in UI alone. Will fix it.

[2019-06-12 10:16] harrymt commented on #3845
This would be appreciated too. In our case we have a test that returns text instead of JSON, this means postman throws an exception when we call `pm.response.json()`. We are then forced to wrap this in a try catch, to continue running the other tests, e.g.
[code]

[2019-06-12 10:20] vikiCoder commented on #1228
Hello everyone,

We have added the following options in collection runner to provide more control over cookies while running a collection:
- Run collection without using stored cookies
- Save cookies after collection run

These options are available in [Postman App version 7.1.0 or later](https://www.getpostman.com/downloads/). Below is a screenshot showing off these options in runner window.

Scr

[2019-06-12 10:23] rathodamol commented on #6562
Hello @sujayvenaik

Are you planning to do something on the above mentioned improvement?

[2019-06-12 12:08] aamir-ahmed opened #6703 "Removing User breaks Public Documentation"
**Describe the bug**
1. User A belonging to Team A publishes Documentation A for a collection in Workspace A
2. Admin for Team A removes User A from Team
3. You get a 403 error when you navigate to the published Documentation A link.

**To Reproduce**
Steps to reproduce the behavior:
1. Admin creates a Team A and adds User A
2. Admin creates a Team Workspace A and add User A
3. User A creates a co

[2019-06-12 12:13] vikiCoder commented on #5528
Hi @benschmi,

It looks like you have copy-pasted `["x-amz-server-side​-encryption"]` header from somewhere because it contains some non-ASCII characters which are not allowed to be sent in HTTP headers. I confirmed it by copy-pasting the same header text you posted in the terminal and it looks like below screenshot in the terminal (note the non-ASCII characters after `x-amz-server-side` in the sc

[2019-06-12 13:04] vikiCoder commented on #6550
Hi @serpien73,

I believe that the issue is because of the `Content-Type` header in the request. If you are not setting `Content-Type` header manually from the Postman App UI then the App will add it automatically for you which is causing the problem.

We are working on making payload hash verification optional in Hawk Authentication and will be releasing that soon, stay tuned for that. Until then

[2019-06-12 13:20] vikiCoder commented on #6651
Similar to this issue: https://github.com/postmanlabs/postman-app-support/issues/6180

[2019-06-12 13:46] fmobus commented on #3161
Same problem for me on MacOs native app using `cmd+shift+]`. This forces me to use the mouse.

Version 7.1.1 (7.1.1)

[2019-06-12 15:01] regisbsb commented on #1228
@vikiCoder This does not help when you need to clear the cookies as part of a request. It would be very nice just to add cookie manipulation to the script

[2019-06-12 15:01] ramesh2014 commented on #3358
+1 for this feature.

[2019-06-12 15:41] vvs11 commented on #6695
Hi @workabyte , thanks for reaching out.
As per the functionality of mocks, you have to make a collection and create an example of the API which you want to mock. The mock server will mock the example as it is. In your case, you'll have to create an example and provide a value for the variable for which you want a response. For instance, in the example API , put a value '1234' against the variable

[2019-06-12 15:48] cevjg commented on #4636
i think same as aviweiss.
You can add folder in collection and parameter authorisation for folder with "Inherit from parent" or not.
But not inherit change configuration from parent. That is a bug!

[2019-06-12 15:49] kholmukhamedovme commented on #6538
Thank you very much! This issue has been fixed in the latest v7.1.1-canary08.

[2019-06-12 17:44] bobjackman commented on #4044
This is excellent! Thank you! This will be a huge improvement for my workflow.

I've got requests working using this new feature, however, it looks like the headers added during the pre-request script are NOT added to the export/code dialog (see screenshots) this means I can't copy/paste the request into a terminal if needed (unless I go dig up the header names and values and add them to the curl

[2019-06-12 17:51] cwarden commented on #3977
I'm not sure if it's the same issue(s) reported here, but when using the Authorization Code Grant Type, Postman sends the `client_id` when exchanging the code for a token, which violates RFC 6749.  This will break the code exchange against servers that validate the form variables.  (I ran into this with Salesforce.)

There was a similar bug in the Go oauth2 library.  The fix may be helpful for ref

[2019-06-12 18:42] vikiCoder commented on #1228
@regisbsb We are working on improving cookies UI in the App with more options to manage cookies as well as allowing cookies control from scripts. There is no final release date for those features yet. Stay tuned for the updates.

[2019-06-12 18:46] sgehrman commented on #973
Had this problem today.  This should be fixed as we are using Postman for API docs and we can't properly document all our endpoints.

[2019-06-12 19:21] a85 commented on #5288
We are making some fundamental improvements to Postman's response rendering including using the Monaco editor for better memory optimization and rendering speeds. You can try out these updates in the Canary channel here: https://www.getpostman.com/downloads/canary

<img width="1790" alt="Screenshot 2019-06-12 12 19 53" src="https://user-images.githubusercontent.com/653409/59379813-72ffc700-8d0c-11

[2019-06-12 19:22] a85 commented on #4919
We are making some fundamental improvements to Postman's response rendering including using the Monaco editor for better memory optimization and rendering speeds. You can try out these updates in the Canary channel here: https://www.getpostman.com/downloads/canary

<img width="1790" alt="Screenshot 2019-06-12 12 19 53" src="https://user-images.githubusercontent.com/653409/59379813-72ffc700-8d0c-11

[2019-06-12 19:22] a85 commented on #4408
We are making some fundamental improvements to Postman's response rendering including using the Monaco editor for better memory optimization and rendering speeds. You can try out these updates in the Canary channel here: https://www.getpostman.com/downloads/canary

<img width="1790" alt="Screenshot 2019-06-12 12 19 53" src="https://user-images.githubusercontent.com/653409/59379813-72ffc700-8d0c-11

[2019-06-12 19:22] a85 commented on #4751
We are making some fundamental improvements to Postman's response rendering including using the Monaco editor for better memory optimization and rendering speeds. You can try out these updates in the Canary channel here: https://www.getpostman.com/downloads/canary

<img width="1790" alt="Screenshot 2019-06-12 12 19 53" src="https://user-images.githubusercontent.com/653409/59379813-72ffc700-8d0c-11

[2019-06-12 19:26] a85 commented on #1669
GraphQL support is out in production as part of the 7.2 release. More details to be posted on our blog soon at blog.getpostman.com. Closing this ticket now!

[2019-06-12 19:26] #1669 closed, assigned to a85

[2019-06-12 19:31] a85 commented on #2392
Everyone, this feature is out in production. More details to follow on our blog soon. The GIF describes this feature better than words.

On this feature to exist outside of Postman: We have designed Newman to be used for explicitly automation scenarios and you should be using a Collection file for this. We will create generators from Collection Runner but "enabling/disabling" requests will not be

[2019-06-12 19:31] #2392 closed, assigned to a85, vkaegis, saswatds, preethammavin

[2019-06-12 19:50] workabyte commented on #6695
I see so the :var will get expanded when creating the mock server as long as there is a sample value in the collection?

[2019-06-12 19:59] shamasis commented on #971
Hello. This took a while, but we ultimately got around to adding a dummy data producing method right inside Postman. And it starts with addition of over a hundred new dynamic variables that return random data of various kinds. The feature has landed in Postman v7.2, but is still in beta pending support for auto-complete and documentation.

Dynamic variables are just like the concept of global vari

[2019-06-12 20:04] shamasis commented on #971
@zakhenry and everyone else... thanks for the patience and love you have shown.

[2019-06-12 23:31] g0rd commented on #5531
I have stopped working on the project. Sorry cannot provide more info

[2019-06-13 02:52] rocasyeh commented on #6635
This also happened on me.

Version 7.2.0
win32 10.0.16299 / x64

[2019-06-13 03:15] chrisdeso opened #6704 "Web Dashboard throwing permission error and forever-loading"
**Describe the bug**
When accessing the team dashboard, the interface won't load (spinning wheel) and a permission error is thrown in the browser's Javascript console.

`You do not have access to this workspace`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://go.postman.co/
2. Sign in
3. See spinning wheel – open Javascript to see permission error

**Expected behavior**
- The l

[2019-06-13 05:08] shamasis commented on #6649
Hello Fai. From your issue description I am unable to conclude what you’re trying to do and what isn’t working. Can you elaborate?

[2019-06-13 05:40] hungndiam commented on #2253
For me in window 10,
I just need to check on "Don't use the proxy server for local (intranet) addresses"
![image](https://user-images.githubusercontent.com/47909105/59406395-34374300-8dd8-11e9-827c-c3cfbd6c6bf1.png)

[2019-06-13 06:28] codenirvana commented on #4044
@KOGI We are tracking this feature request here: #6349

[2019-06-13 07:10] codenirvana commented on #6533
This is fixed in the latest version of the Postman App (`v7.2.0`).

[2019-06-13 07:10] #6533 closed, assigned to codenirvana, saswatds

[2019-06-13 07:12] codenirvana commented on #5825
Closing as duplicate of #5768

[2019-06-13 07:12] #5825 closed, assigned to codenirvana

[2019-06-13 07:23] codenirvana commented on #5528
@benschmi As mentioned in https://github.com/postmanlabs/postman-app-support/issues/5528#issuecomment-501246256 this is because of non-ASCII characters present in the header name.

@ddanf Header names are case-insensitive and as we can see the actual issue is not related to that.

We are planning to highlight these invalid characters or whitespaces instead of filtering/removing automatically.
Clos

[2019-06-13 07:23] #5528 closed, assigned to codenirvana

[2019-06-13 08:08] sirio3mil opened #6705 "GraphQL body doesn't sync across devices"
**Describe the bug**
I have a project in one Windows device with some GraphQL requests, all with body, requests are sync with other Mac devices but all without body

**To Reproduce**
Steps to reproduce the behavior:
1. Create a GraphQL request
2. Fill the body
3. Wait to sync with other device
4. See error

**Expected behavior**
I was expecting having the body filled

**App information (please com

[2019-06-13 08:20] zamankul74 opened #6706 "Settings > Update."
In ubuntu version 6.7.1 got message:

"Your team updated to Postman v7.0. To keep your collections and workspaces in sync with your team, you must also update to v7.0 by going to  > Settings > Update."

But i have not update there in settings !!!!

[2019-06-13 08:23] sujayvenaik commented on #6705
Hey, @sirio3mil  I tried but the data seems to sync across devices.

Can you help us with logs? (View -> Developer -> View logs in Finder)
Also steps to reproduce this behavior.

[2019-06-13 08:29] sirio3mil commented on #6705
I don't have access right now to Windows 10 device, send you meantime MacOs's logs (here I don't have the requests bodies)
[logs mac os.zip](https://github.com/postmanlabs/postman-app-support/files/3284918/logs.mac.os.zip)

[2019-06-13 09:00] sujayvenaik commented on #6706
Are you using a snap version of the app?
If yes, can you refer [here](https://github.com/postmanlabs/postman-app-support/issues/6045#issuecomment-471177118).

[2019-06-13 09:18] rudrajeet03 opened #6707 "Error while installing Windows app: Failed to extract installer"
**Describe the bug**
Downloaded the version 7.1.1 for windows x64 from https://www.getpostman.com/products.
Installation fails with the error: _Failed to extract installer_
Issue persists with the same package downloaded on a different system as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Downloaded package Postman-win64-7.1.1-Setup.exe'
2. Double Click on package to install

[2019-06-13 09:34] hvt commented on #5447
This looks like a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2512.

[2019-06-13 09:59] preethammavin commented on #6690
@chrisdeso we have pushed a fix which optimises this flow, should not be happening anymore. Closing the issue for now, do feel free to reopen it if it occurs again.

[2019-06-13 09:59] #6690 closed, assigned to ankitjaggi, ankit-m

[2019-06-13 10:24] andriysavin opened #6708 "Consider switching installer to MSIX on Windows"
The [new MSIX isntaller/package format](https://docs.microsoft.com/en-us/windows/msix/overview) looks very promising, and, in particular provides "isolated" app installation, making sure it stores its files only in predefined places on disk, and registry changes are virtualized as well. I tried to manually convert Postman installer to an MSIX package via MSIX Packaging Tool, and this works fine ex

[2019-06-13 10:45] numaanashraf commented on #6494
Fixed in Postman v7.2.0

[2019-06-13 10:45] #6494 closed, assigned to nobody

[2019-06-13 10:51] numaanashraf commented on #6422
Fixed in Postman v7.2.0

[2019-06-13 10:51] #6422 closed, assigned to nobody

[2019-06-13 11:49] codenirvana commented on #6566
@emssw Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.
Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2019-06-13 11:49] #6566 closed, assigned to codenirvana

[2019-06-13 11:50] codenirvana commented on #6537
@f3rgames Fixed in Postman v7.2.0

[2019-06-13 11:50] #6537 closed, assigned to saswatds

[2019-06-13 11:53] codenirvana commented on #5916
Fixed in Postman v7.2.0

[2019-06-13 11:53] #5916 closed, assigned to codenirvana

[2019-06-13 11:55] numaanashraf commented on #5992
This is available from Postman v7.2.0 onwards.

[2019-06-13 11:55] #5992 closed, assigned to nobody

[2019-06-13 11:56] codenirvana commented on #2427
This is fixed in the latest version of the Postman App (v7.2.0).

[2019-06-13 11:56] #2427 closed, assigned to shamasis, codenirvana

[2019-06-13 11:58] codenirvana commented on #3765
This is fixed in the latest version of the Postman App (v7.2.0).

[2019-06-13 11:58] #3765 closed, assigned to codenirvana

[2019-06-13 12:00] codenirvana commented on #6344
Fixed in Postman v7.2.0

[2019-06-13 12:00] #6344 closed, assigned to codenirvana

[2019-06-13 12:07] chucklu commented on #5992
@numaanashraf  Thanks a lot.

[2019-06-13 12:44] kamalaknn commented on #6705
@sirio3mil It is possible that the graphql body you created on your windows machine were synced to your mac machine on an older version that did not support graphql. The update that supports graphql might have been applied after the changes were synced.

Can you try logging out and logging in on your mac machine?

[2019-06-13 13:05] vikiCoder commented on #1976
Duplicate issue: https://github.com/postmanlabs/postman-app-support/issues/6098

[2019-06-13 13:37] sirio3mil commented on #6705
@kamalaknn it works! regards!

[2019-06-13 13:37] #6705 closed, assigned to nobody

[2019-06-13 13:43] jzabroski commented on #4751
First of all, thanks for making this a completely separate exe and not replacing the old one.  It makes it easy for me to do side-by-side comparison to see if things are better or not.  I don't know if that was deliberate or not, but it's nice.  I also like that the canary icon is blue, whereas the regular postman is orange/red.  We follow similar practices on my team.

I just tested on 10,000 dat

[2019-06-13 13:45] jzabroski commented on #4751
@a85 - it looks like the Auto dropdown for selecting the file content type is broken.  Not a huge deal, since I literally never used this feature, but thought I'd mention it. - I was more curious to see if I could break the new speed gains somehow.

[2019-06-13 13:47] vikiCoder commented on #6009
Hi @m3dbedb,

I tried to reproduce the issue in the current version of the Postman App (v7.2.0) but it seems to be working fine. You also can pass an array in JSON data file like shown in below example:

**DataFile.json**
[code]

And you can access elements of this array as shown in below code snippet
[code]

However, judging by the error you are getting, I think the issue in your case is not rela

[2019-06-13 13:52] galvesribeiro commented on #1669
Looking for the blog post. I've made the update but I'm not able to use GraphQL on it yet :(

[2019-06-13 14:04] chrisron95 opened #6709 "When a lot of tabs are open, most tabs show "..." instead of name"
**Describe the bug**
Since I updated Postman to v7.2.0, as the tabs get smaller, they show less and less text while adding "..." to the end consistently. Well when the tabs get very small, to their smallest size I believe, those three dots are the only things that can fit in the tab, so that's all they showed. Before the update, I was able to see about the first 4 characters even with the tabs at

[2019-06-13 14:12] sebAtos commented on #4751
For me, the problem is the same.
As above, I continue my tests with a response size of 725kb.

The loading of the response body is really too long even though with Canary I have a gain of one second, measured by myself, because by watching your response time, it's exaclty the same in both Postman and Canary (732ms).

But be vigilant, about the body loading, taking close to 4 seconds...
Really stra

[2019-06-13 14:23] ryanshores opened #6710 "Body(none) treated differently than Body(raw) with no input"
**Describe the bug**
Postman monitors treat "Body(none)" differently than "Body(raw/application/json)" with no value in it when reading the value from a pre-request script. The pre-request script functions correctly on a local test, but the cloud monitor requires that the body be set to raw to match the required values.

**To Reproduce**
Steps to reproduce the behavior:
Console.log(request.body) w

[2019-06-13 17:07] schinivision commented on #6354
Using Postman v7.2.0 I also have this problem....
Error: unable to verify the first certificate

Server Certificate is valid and can be verified... (by chrome for example) could it be that Postman only supports certificates that are delivered with the whole chain?

Setup is: GCP HTTPS Forwarding rule -> https proxy (terminate ssl) -> Loadbalancer -> Service

[2019-06-13 17:35] cyrielle-hada commented on #6612
@preethammavin do you have any updates on this?

[2019-06-13 18:17] kartikjain26 commented on #6612
@cyrielle-hada  The fix is under review. Should be out in next release.

[2019-06-13 18:35] chrisdeso commented on #6658
Adding a relevant screenshot here – the link that is throwing `400` error is being thrown when a user is rerouted to the web dashboard from an invitation, is currently part of a different team and clicks on the `Leave your existing team` link.

![image](https://user-images.githubusercontent.com/4734306/59458351-dad31200-8ddf-11e9-8c82-ec02701eb8de.png)

![image](https://user-images.githubuserconte

[2019-06-13 20:12] tmdoit-zz opened #6711 "Require confirmation on app quit"
On macOS after hit cmd+q app is closing immediately. App should ask if user is sure.

[2019-06-13 20:51] mmckenz commented on #5459
We've even gone as far as making these values environment variables so they change appropriately as you select different environments.

Now if only 'Token Name' would allow resolving a {{}} environment variable, we could have the token names pre-populated as '{{environmentName}} Token' :)

Regardless, allowing these values to be saved with the collection would avoid requiring others to also enter

[2019-06-13 21:58] DeadcatDev commented on #3137
+1 again... really, i need this badly :D

[2019-06-13 22:02] shasti421 opened #6712 "GraphQL: Autocompletion not working"
In Version 7.2.0 (7.2.0), unable to use graphql support with my application and also other sample apps.  Generate collection throws error "Error while generating collection: format not recognized". Auto-completion also not working.

Here is a sample schema that fails.. https://www.graphqlbin.com/v2/6RQ6TM

Here are some more schema's that are generating errors
   https://github.com/gjtorikian/grap

[2019-06-13 22:52] chrisdeso commented on #6712
Dropping in to say that I was able to reproduce the error when using the `Generate Collection` action with the schema.graphql file.

**Gif**
![](https://i.imgur.com/0UUyJGw.gif)

**Screenshot**
![image](https://user-images.githubusercontent.com/4734306/59472195-437fb600-8e03-11e9-998a-bbaa99c697fa.png)

---

Autocomplete does seem to work though – @shasti421 Is the schema selected in the request b

[2019-06-13 23:06] chrisdeso opened #6713 "Feature Request: Auto-generate GraphQL schema"
**Is your feature request related to a problem? Please describe.**
When sending a request to a GraphQL endpoint, it would be useful to have Postman build/import/generate the schema automatically.

**Describe alternatives you've considered**
Explicit file imports or manual creation within the app which already exists

**Additional context**
[Filed by Postman]

[2019-06-14 03:43] jeremyml commented on #3358
+1 It would be nice

[2019-06-14 04:24] dpearce-aconex commented on #4352
Me too.

[2019-06-14 05:08] a85 commented on #4751
@jzabroski Thanks! That is very helpful. Glad to know the response is loading quickly. We have some more improvements on the way like streaming responses but we'll go ahead with the current set of changes in the production build. We are switching to a new editor so there will be some differences in behavior that the team is fixing. I appreciate your patience and helping test this out.

@sebAtos Ca

[2019-06-14 05:36] a85 commented on #6712
Collection generation is not currently supported.

[2019-06-14 06:22] liyinchigithub opened #6714 "Hello, I and a lot of the teams wanted postman's environment variable to be annotated"
![image](https://user-images.githubusercontent.com/19643260/59487620-d8d88400-8eaf-11e9-8c79-543969232118.png)

[2019-06-14 06:24] liyinchigithub commented on #6714
![image](https://user-images.githubusercontent.com/19643260/59487730-163d1180-8eb0-11e9-88da-d61da89299f4.png)
just like

[2019-06-14 06:52] sebAtos commented on #4751
@a85 Which API with a size of over 700kb can I test, with postman-echo.com ?

[2019-06-14 06:54] a85 commented on #4751
Try sending these requests: https://documenter.getpostman.com/view/55577/S1ZudWWm?version=latest

[2019-06-14 07:14] groggi commented on #6296
Still present with Postman 7.2.0 and Windows 10 1809 (OS Build 17763.557 / Version 10.0.17763.557):
[code]

[2019-06-14 07:38] sebAtos commented on #4751
With these request, hard to explain behaviours because time response are not consistent. It probably mays depend on the load, I don't know.
For instance with postman-echo.com/bytes/1200/kb?type=json, sometimes I have a response time with Chrome, Postman or Canary of less than 3 seconds and sometimes a response time of more than 60 seconds...

[2019-06-14 07:46] m3dbedb commented on #6469
The issue is reproduced in postman 7.2.0 under windows 7 32 bit

[2019-06-14 08:53] acornforth commented on #3142
My concern with postman automatically publishing docs to a 'Private' area is that it's not really private...

It might be obscured pretty well with long UUID-like hex string in the uri, but anyone with that link can see the documentation, and though the risk is small, they could conceivably be stumbled upon by a malicious bot or scraper....

i give my +1 not just to a password protection option fo

[2019-06-14 09:21] marijnhurkens commented on #2797
Any update on this? This issue and the oauth settings issue are pretty glaring bugs with no activity...

https://github.com/postmanlabs/postman-app-support/issues/4636

[2019-06-14 09:38] tarunKongsberg commented on #4276
Is there any update on it because I am facing the same issue.

[2019-06-14 09:40] tarunChaudharyQA commented on #4276
Is there any update on this issue because I am facing the same problem?

[2019-06-14 10:08] number005 commented on #4141
Why is this closed? I can still not decide where to install to?

[2019-06-14 11:15] TehWardy commented on #3136
@FlorianPfisterer
I get where you're coming from ... kinda odd that I would need to "work around localhost" in a tool designed for testing endpoints though.

@LightningINC @sensoeurn
The key thing you're missing is that I've already done that (literally stated it in the first line of my second post on this thread) and something is going on that causes this setting not to work on what seems to be a

[2019-06-14 11:29] faisalmirza commented on #5286
Same issue. Anyone found a workaround?

[2019-06-14 12:15] tmdoit-zz opened #6715 "Set "baseUrl" variable in env after mock endpoint is created"
**Is your feature request related to a problem? Please describe.**
When no env set when creating new mock server, Postman creates env only with set "url" variable.

**Describe the solution you'd like**
Set "baseUrl" variable like "url" variable - with the same data (mock server url)

**Describe alternatives you've considered**
Change "baseUrl" variable to "url" in url request field

EDITED 22.12.1

[2019-06-14 14:38] danieladougan commented on #1966
The original feature request would be very useful for me and my colleagues!

[2019-06-14 14:56] cyrielle-hada opened #6716 "Unable to read Cyrillic symbols in response body"
**Describe the bug**
The JSON response doesn't return Cyrillic symbols. It returns Unicode symbols instead.
Content-Type of response is text/html; charset=UTF-8.

**To Reproduce**
1. Go to either Version 7.1.1-canary08 or Postman version 7.2.0
2. Send a GET request to an endpoint that renders Cyrillic symbols (e.g. https://www.rambler.ru/location/current)
3. See only Unicode symbols
![reproduce](h

[2019-06-14 15:49] labifrancis commented on #6511
Our API does have some rate limiting – 60 requests per minute – and each response from the API has a header identifying the consumption:

https://docs.api.getpostman.com/?version=latest#rate-limits

This user was exceeding the rate limit of 60 requests per minute.

[2019-06-14 15:49] #6511 closed, assigned to nobody

[2019-06-14 16:08] chrisdeso commented on #6330
@preethammavin – here's a collection & workspace!

Collection – `CKAN`
Workspace – `Correcthosting`

[2019-06-14 16:30] VijayendraM commented on #1475
+1

[2019-06-14 16:49] GregTurner commented on #3716
I got burned strange behaviour.  This feels like a bug, if the Headers->Key is edited from `Authorization` to another name it should re-evaluate if the header should be overridden.  Minor bug IMO.

[2019-06-14 17:48] rcollette opened #6717 "Support multiple redirects in OAuth2 flows"
**Is your feature request related to a problem? Please describe.**
We are using an implicit OAuth2/OIDC flow with Okta.
We are using an IDP

So our authorize call looks like:
https://our-hostname.oktapreview.com/oauth2/the_client_id/v1/authorize?nonce=1232e132&idp=idp_id&response_type=token&state=sdf&client_id=the_client_id&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fcallback

Prior

[2019-06-14 18:07] kegan9060 commented on #6035
Same problem 7.1.1

[2019-06-14 20:38] jkshobby commented on #5286
Issue is due to header is bigger than postman can handle.  Manually copy paste the headers, urls etc. this should solve.

[2019-06-15 07:56] Vladislav4er commented on #6716
I reproduce this case using GET https://www.rambler.ru/location/current request. (watch attached file)
![reproduce](https://user-images.githubusercontent.com/30718334/59548729-23afd580-8f5c-11e9-8dc6-b94eaee540bb.jpg)

[2019-06-15 14:59] yura3d commented on #1669
Thanks for the update.
But in 7.2.0 I don't see 2 important things for GraphQL (or I don't know how to enable them): query check-up and auto-completion for remote GraphQL schemas, like they are made, for example, in Insomnia.
![image](https://user-images.githubusercontent.com/10958696/59553127-3eed0600-8f99-11e9-9b85-5d88496ad867.png)

[2019-06-16 01:58] kamalaknn commented on #1669
Hey @yura3d

In Postman, GraphQL autocompletion is available through API schemas. You can find out how to use them [here](https://community.getpostman.com/t/graphql-support-in-postman-available-for-early-access-on-canary-channel/5524/8?u=kamalaknn)

[2019-06-16 07:48] sujayvenaik commented on #6709
Hey @chrisron95
You can turn off the tab title icons.
Settings -> General -> User Interface
![image](https://user-images.githubusercontent.com/11532114/59561084-3e0bb100-9039-11e9-8931-16ec99751ae4.png)
You can toggle `Show icon with tab names` to off.

[2019-06-16 14:26] yura3d commented on #1669
@kamalaknn thanks. But I'm on API development stage and its scheme is very often updated. So, changing the scheme in 2 places (Server and Postman) is not rational solution for me. I will wait for support of introspection, it is really helpful thing in GraphiQL or Insomnia.

[2019-06-16 17:03] johnkwaters opened #6718 "Sharing collection - all URLs and Bodies empty!"
When sharing a collection, either by link or team space, or exporting it, most of the data is lost. No URLS, headers or bodies - just the request names. See example file

[Montage.postman_collection.txt](https://github.com/postmanlabs/postman-app-support/files/3294347/Montage.postman_collection.txt)
![2019-06-16_13-02-20](https://user-images.githubusercontent.com/3422637/59567100-187da800-9037-11e

[2019-06-16 19:12] galvesribeiro commented on #1669
@kamalaknn I'm pretty sure that is not what people are looking for. People are looking for replacing GraphiQL/GraphQL Playground with Postman. Forcing people to use a 3rd party thing to get the schema is no sense...

How difficult is to add a new option on the API to "Import from URL" where people can paste the GraphQL endpoint and it would use introspection to query it?

Also, once the schema is

[2019-06-16 19:38] a85 commented on #1669
@galvesribeiro This is not the final version of the product nor is it trying to replace GraphiQL or other GraphQL tools. I am locking this thread as future feature requests can be filed elsewhere.

[2019-06-16 19:52] galvesribeiro opened #6719 "Allow importing of GraphQL schemas using a URL"
After the _kind_ comment [here](https://github.com/postmanlabs/postman-app-support/issues/1669#issuecomment-502479806) and the thread being locked, I've decided to open this issue as I know other people is waiting for proper GraphQL support like myself.

**Is your feature request related to a problem? Please describe.**
1. The current GraphQL support rely on people having to describe the schema on

[2019-06-16 20:16] wmedali commented on #4276
@dgmyers Yes the documentation is incorrect
the Bug is still open and the feature is broken apparently !

[2019-06-16 21:11] tungpham opened #6720 "Request Body tab should be the default view when open a request"
In practice, when you open a request, most of the time, it's the request body that you care about, so it should be the default display view, instead of the Params tab

[2019-06-16 22:02] kiwinz2015 commented on #4353
Still able to reproduce. Is this issue fix underway?
Cheers

[2019-06-16 22:05] kiwinz2015 commented on #4591
Still able to reproduce.
FYI: I'm using a JSON file (UTF-8)

[2019-06-17 03:02] #6706 closed, assigned to nobody

[2019-06-17 03:06] preethammavin commented on #6718
@johnkwaters I see all the request tabs being dirty, can you confirm all the changes made on the request were saved and when you try to export it exports empty?

Steps to check:
Click on collection
Open a request
Make changes
Save the request
Try exporting/sharing via the team and check if it is visible.

[2019-06-17 03:41] tarunChaudharyQA commented on #4276
@wmedali  Any timeline for the fix to be available?

[2019-06-17 04:10] sky54521 commented on #2617
The latest version 7.2.0 still have this problem.

[2019-06-17 04:32] preethammavin commented on #5447
@hvt yes this is a duplicate, closing the issue do follow the other thread please

[2019-06-17 04:32] #5447 closed, assigned to godfrzero

[2019-06-17 04:33] kamalaknn commented on #6716
Hey @Vladislav4er

Thanks for trying out the Canary channel and reporting this issue. Also thanks for sharing the endpoint. We are able to replicate this issue from our side. We will update this thread once the fix is ready.

[2019-06-17 04:42] preethammavin commented on #6691
@ruescar I am able to delete the account, just dont see the confirmation email. Can you try deleting the account again and try signing in.

Note: if you sign-in via google, it creates an account for you if you dont have any. We can also check if your account has been deleted on our end once you confirm the action

[2019-06-17 04:47] preethammavin commented on #6669
@Ramya-From-Postman I see the confusion, the copy for the tool tip will be updated

But as of RBAC, a collection owner is just a creator and has no special role on the element in general

The user with the editor role on the collection can assign the said role the user. Will keep the issue open till we update the copy and enable it.

[2019-06-17 05:06] hvt commented on #2512
Like @nilskp mentioned, here the 'official' link describing the `+json` suffix: https://tools.ietf.org/html/rfc6839#section-3.1 and the IANA registration of the content type: https://www.iana.org/assignments/media-types/application/vnd.api+json.

Would indeed be great if JSON API requests and responses would be formatted as JSON :].

[2019-06-17 05:40] abhijitkane commented on #2724
Everyone - the latest Postman Canary has support for a new set of code-generators, including JS-Fetch and Powershell.

Canary can be downloaded from https://www.getpostman.com/downloads/canary, and run be run side-by-side with your regular Postman app. You'll need to enable the `Experimental Codegen mode` option in Postman's global settings to see the new language options.

cc @krisdev @Leoooob @r

[2019-06-17 05:41] abhijitkane commented on #1475
Everyone - the latest Postman Canary has support for a new set of code-generators, including Powershell and JS-Fetch.

Canary can be downloaded from https://www.getpostman.com/downloads/canary, and run be run side-by-side with your regular Postman app. You'll need to enable the Experimental Codegen mode option in Postman's global settings to see the new language options.

cc @VijayendraM @ziabytes

[2019-06-17 06:14] kaushikpatel1396 commented on #6602
Hi ,

The issue is fixed, not sure how - but i guess its related to number of requests limits, as the new month began i tried to make the API calls again and they worked.

Also, please also check if your using environments, remove them and just try with direct urls.

Thanks for regular support by the team :)

[2019-06-17 06:42] numaanashraf commented on #6700
@GTHell Could you send us a sample request or collection we use to replicate this case?

[2019-06-17 06:50] Raj-postman commented on #6707
- App Type: Native App
- Postman version: 7.20 (stable) and 7.1.1 (Canary)
- OS: Windows 7
Same error message while installing the application with Stable and Canary version.

[2019-06-17 07:22] TangQingFengPHP opened #6721 "Could not export the data. Please check the DevTools."

[2019-06-17 07:26] vvs11 commented on #6702
Hi @Graveheart , Thanks for reaching out.
We don't have support for form-data in body matching for mocks. All the other body parameters are supported

[2019-06-17 08:10] ruescar commented on #6691
@preethammavin Ok. I think we have solved the mystery, which is my misinterpretation on how the sign up/cancel account workflow works. Signing in via google happens so quick and smooth without any confirmation, that you don't realise that a new account is created under the hood. To prove my account was deleted I created a new Postman workspace, then I deleted the account, then I signed in again vi

[2019-06-17 08:22] tmdoit-zz opened #6722 "Add an option to "Update Collection" generated from the APIs tab"
**Is your feature request related to a problem? Please describe.**
When updating collections from API schema, all examples are lost - you need recreate all examples from zero - this kind of development is useless if you prefer develop collections from API spec.

**Describe the solution you'd like**
Add option "Update Collection" next to "Generate Collection" in APIs tab

**Describe alternatives yo

[2019-06-17 08:41] godfrzero commented on #6618
Both the daily & weekly monitoring summary emails now include a direct link to the notification preferences page, where the user can choose to unsubscribe from one or both of the emails.

[2019-06-17 08:44] rudrajeet03 commented on #6707
Hello @Kurmavathar
 The issue I was facing is resolved. It seems there was a conflict with the security policy of my organisation regarding installation of non-standard applications from the internet.

Once I had the necessary exemptions from my IT dept, it installed just fine.

[2019-06-17 09:11] vvs11 commented on #6715
Hi @tmdoit. Thanks for reaching out.
Could you elaborate a little more on your use case so that we can get a better understanding of your feature request?

[2019-06-17 09:31] tmdoit-zz commented on #6715
Hi!
Created endpoints from API spec has set in url request field reference to variable {{baseUrl}} ie. {{baseUrl}}/users.
When creating mock server for a collection, the mock server address is set to "url" variable, so after mock creation I have to change "url" variable name to "baseUrl".
I will attach gif to show the problem if I'm still not clear.

[2019-06-17 09:37] tmdoit-zz commented on #6722
Sorry for confusion, now I see that response examples are generated from API spec.

[2019-06-17 09:52] tmdoit-zz commented on #6715
When endpoint generated from API spec, I see that when sending request, Postman is resolving "baseUrl" to url from spec (OAS 3)
[code]
It's strange because collection has not set any env.

[2019-06-17 09:54] vkaegis commented on #6696
@philmagr Thanks for the feedback! We've been working on a couple of features around variables to better solve this problem. No ETA just yet, but stay tuned for updates.

[2019-06-17 09:55] mandrije opened #6723 "Postman app unable to launch and getting stuck on "Preparing your workspaces..." step"
**Postman 7.2.0 x64 gets stuck on Win10 machine in "Preparing your workspaces..." step**

**To Reproduce**
1. Install Postman 7.2.0 for Windows x64 from Postman website on Windows 10 RS4 machine (possibly RS4 version is not critical, but I can't test on other Win10 versions like RS5 or 19H1).
2. Launch Postman from Windows start menu (in case in doesn't auto-launch)
3. Choose either to skip authen

[2019-06-17 10:01] vkaegis commented on #6697
@philmagr Thanks for writing in. Could you let us know the version of the Postman app you're using, as well as the operating system you're running it on?

Would be swell if you could add a short GIF showing us what exactly is happening.

[2019-06-17 10:05] vkaegis commented on #6714
@liyinchigithub Thanks for writing in! Variable descriptions are definitely on our roadmap. No ETA just yet, but stay tuned for updates.

[2019-06-17 10:09] vkaegis commented on #5897
@ddunlop Thanks for writing in, and apologies for the long delay in getting back. Redirects in general need a better representation in the Postman app, and we have a slew of features planned around tacking this. No ETA just yet, but we'll keep you updated here.

[2019-06-17 10:13] vkaegis commented on #6678
@echoesbr Thanks for writing in! And you're absolutely right, visual and interactive creation flows for schemas are the way to go. That said, we're still thinking on a bunch of ways we can tackle this, from having a custom UI ourselves, to opening this up in the form of plugins. Something for our long term roadmap. Will keep you updated on any developments here.

[2019-06-17 10:15] vkaegis commented on #6670
@m3dbedb Thanks for writing in! We're looking at better ways to integrate request and run history, definitely something on our roadmap. No ETA just yet, but stay tuned for updates.

[2019-06-17 10:16] vkaegis commented on #6636
@philmagr Blasphemy indeed. There's some work required from our end to make this more consistent, definitely something on our roadmap. Will keep you posted!

[2019-06-17 10:23] tmdoit-zz opened #6724 "Support for multiple response examples when generating from API spec"
**Is your feature request related to a problem? Please describe.**
Collection generated via API spec adds only one example response per status code when used multiple possibilities via "oneOf" keyword.

**Describe the solution you'd like**
Suppose we have defined responses in OAS3 spec:
[code]
Postman could generate two examples for 422 status code where one could be hit by header key set to ie. "

[2019-06-17 10:26] #6506 closed, assigned to elssar, ankit-m

[2019-06-17 10:30] vkaegis commented on #6548
@zgirod @turnspike Thanks for writing in! This is quite an obvious miss from us, definitely have plans to allow duplication of examples and a more consistent UX when it comes to working with lists of things in general. Will keep you posted.

[2019-06-17 10:30] preethammavin commented on #6691
We will be looking into why the confirmation is not shown to the user.

[2019-06-17 10:30] #6691 closed, assigned to ankit-m

[2019-06-17 10:31] Andriy1024 commented on #3871
I had same issue.
I fixed this when started setup as administrator. Hope it will help you too.

[2019-06-17 10:35] sujayvenaik commented on #6723
Hey @mandrije
Can you help us with the logs (View -> Developer -> View Logs in Explorer)? and email them to help@getpostman.com.
We will take a look and get back. Also, mention the Github issue number in the subject.

[2019-06-17 10:35] preethammavin commented on #6721
Description does not provide enough information to look into the issue. Closing the issue for now, feel free to reopen it with the appropriate description so that we can look into the issue

[2019-06-17 10:35] #6721 closed, assigned to nobody

[2019-06-17 10:36] preethammavin commented on #6649
Description does not provide enough information for us to look into the issue. Closing the issue for now, feel free to reopen it with the appropriate description so that we can look into the it

[2019-06-17 10:36] #6649 closed, assigned to nobody

[2019-06-17 10:44] Vladinho10 commented on #2096
{
  name: 'sendCurrentRequest',
  label: 'Send Request',
  shortcut: 'mod+r',
  keyLabel: 'Ctrl+R',
  keyLabelDarwin: 'R' },

[2019-06-17 10:48] Vladinho10 commented on #2096
1. cd /Postman/app/resources/app/js
2. vim vendor-ui.js
search in your editor sendCurrentRequest. You will find this object
{
  name: 'sendCurrentRequest',
  label: 'Send Request',
  shortcut: 'mod+enter',
  keyLabel: 'Ctrl+Enter',
  keyLabelDarwin: '⌘↵' },
3. change it with this
{
  name: 'sendCurrentRequest',
  label: 'Send Request',
  shortcut: 'mod+r',
  keyLabel: 'Ctrl+R',
  keyLabelDarwin: '

[2019-06-17 10:50] saswatds commented on #6360
The feature has been released as part of Postman Client App v7.2.0 🎉
Closing this issue now.

[2019-06-17 10:50] #6360 closed, assigned to saswatds

[2019-06-17 10:51] preethammavin commented on #6688
@bskiefer can you specify where you encountered it, and let us know your workflow as well for more context.

[2019-06-17 10:52] guinnessgh commented on #285
+1 I would love Postman to have this feature.  Extremely powerful for automation test runs where we need to provide a value not exposed through the API to allow tests to continue.

[2019-06-17 10:54] preethammavin commented on #6712
@shasti421 collection generation is not supported for GraphQL as of now, but can you elaborate on the autocompletion not working issue.

[2019-06-17 11:22] codenirvana commented on #6080
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/4751#issuecomment-501420752, you can try out improvements in the Canary channel here: https://www.getpostman.com/downloads/canary

Closing as duplicate of #4751

[2019-06-17 11:22] #6080 closed, assigned to nobody

[2019-06-17 11:25] shamasis commented on #5822
Treating this as a feature request for long-term consideration.

[2019-06-17 11:25] shamasis commented on #5822
Treating this as a feature request for long-term consideration.

[2019-06-17 11:27] Raj-postman commented on #6602
@pareekkhushboo77 Sure, we will continue tracking this further on https://github.com/postmanlabs/postman-app-support/issues/6525

[2019-06-17 11:27] #6602 closed, assigned to saswatds

[2019-06-17 11:40] echoesbr commented on #6678
Hi @vkaegis, thanks for the follow up. Looking forward to seeing it live someday. :)

[2019-06-17 11:41] shamasis commented on #6097
@vkaegis @numaanashraf - we should also consider the following:

Show whitespace at the beginning and end of strings in data editor component like IDEs show for codes

[2019-06-17 11:41] arnolde commented on #6364
Works now with 7.2.0. Thank you!

[2019-06-17 12:04] shamasis commented on #6184
Closing due to inactivity and inability to reproduce at our end with the info I had.

[2019-06-17 12:04] #6184 closed, assigned to vikiCoder

[2019-06-17 12:30] makuc commented on #2096
How could one do this on Windows?
1. I navigated to: `%localappdata%\Postman\app-7.0.7\resources` (the latest version installed)
2. I used: `npx asar extract app.asar app` to extract the archive.
3. Opened: `app\js\vendor-ui.js` and edited it (replacing the shortcut: `Ctrl+Alt+v` with `Ctrl+Alt+p`...for all instances as in the above example)
4. Re-packed it: npx asar pack app app.asar
5. Launch Po

[2019-06-17 12:53] Vladinho10 commented on #2096
be attentive in register,
{
          name: 'toggleLayout',
          label: 'Toggle Two-Pane View',
          shortcut: 'mod+alt+p',
          keyLabel: 'Ctrl+Alt+P' // this must upper case,
          keyLabelDarwin: '⌥⌘P',
          menuShortcut: true
}
P.S. I think keyLabelDarwin must be just 'P' not  '⌥⌘P', you can try both

[2019-06-17 13:03] makuc commented on #2096
@Vladinho10 Still doesn't work. Fixed the upper case, as well as tried both versions for `keyLabelDarwin`.

In Settings it is properly displayed as `Ctrl + Alt + P`, yet when I press this combination nothing happens. Pressing `Ctrl + Alt + V` toggles it just the same as it used to. (I'd be satisfied if I could remove only this shortcut, because this is combination for writing `@` on my keyboard, h

[2019-06-17 13:05] bskiefer commented on #6688
@preethammavin When adding a link to the description, using variables, the rendered link in the postman cloud is the url encoded variable. Happens everywhere you can put a description.

The link I'm adding to the description: `https://{{home}}/api/call`
The link text rendered in postman cloud: `https://home.com/api/call`
The link's href attribute in postman cloud: `https://%7B%7Bhome%7B%7B/api/cal

[2019-06-17 13:11] johnkwaters commented on #6718
Thanks, that was it!

From: Preetham <notifications@github.com>
Sent: Sunday, June 16, 2019 11:07 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: John Waters <john.waters@cto4hire.net>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] Sharing collection - all URLs and Bodies empty! (#6718)

@johnkwaters <https://github.com/john

[2019-06-17 13:13] Vladinho10 commented on #2096
remove menuShortcut: true in that object

[2019-06-17 13:14] abala1980 opened #6725 "IntelliSense mechanism would be useful while coding"
As a newbie native Postman User I would like to have IntelliSense mechanism while I am typing the code snippet in order to learn available functions more quickly and use features effectively.

Currently I can find the predefined code snippet and choose it but it is a way less effective way of programming in Postman than it could be especially for newbies which do not know yet the available options

[2019-06-17 13:24] mackignacio opened #6726 "Black window version 7.2.0"
**Describe the bug**
Postman shows only a black window after updating to version 7.2.0. I already did the suggestion on #4703 but that doesn't work. I also try to install older version of postman but it keeps on updating to version 7.2.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Install any version of Postman.
2. Update it to 7.2.0
3. Run postman wait for 10 to 20 second after the ini

[2019-06-17 13:26] Raj-postman opened #6727 "No emails received for monitor failures"
**Describe the bug**
The monitor failure emails for the collections aren't being received to the recipients.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 monitors for a single collection
2. Add 2 recipients for each monitors
3. When the monitor fails, no emails are received

**Expected behavior**
Recipients should be able to receive the monitor failure emails

**Screenshots:**

!

[2019-06-17 13:33] makuc commented on #2096
Still the same... Nothing changes.

[2019-06-17 13:36] kvskranthikumar commented on #2209
I am looking for Hybrid support, any updates on this?

[2019-06-17 13:36] preethammavin commented on #6718
@johnkwaters thanks for confirming, closing the issue for now

[2019-06-17 13:36] #6718 closed, assigned to nobody

[2019-06-17 14:09] numaanashraf commented on #6725
Thanks @abala1980. We are tracking this issue at #3919 - we'll be posting updates there.

[2019-06-17 14:09] numaanashraf commented on #6725
Duplicate of #3919

[2019-06-17 14:09] #6725 closed, assigned to nobody

[2019-06-17 14:16] mandrije commented on #6723
Hi Sujay,

Thanks for fast response! I can't get to Postman UI beyond the splash
screen, so I can't follow the path specified in your email (assuming it's a
navigation within Postman). Therefore I'm sending all the .log files
related with Postman on my file system. Please let me know if anything else
is needed for investigation. Btw, Postman has also updated on my last
machine that was running the

[2019-06-17 14:28] chrisron95 commented on #6709
Thanks @sujayvenaik, I'll do that so I can at least see the names instead of just the method. But I did like being able to see them both, made it very easy for me to identify what was what. It looks like the spacing may have changed or something because it only started hiding everything in this last update. Before that it showed text rather than ellipsis, even with the method still showing. I coul

[2019-06-17 15:30] stevenbal commented on #3845
+1, this would be a very nice feature to have

[2019-06-17 15:33] IsrraBanton opened #6728 "Add ability to export current values of the environment"
**Describe the bug**
The postman's enviroments have Initial and current value but when I save I got the initial value in the json file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any enviroment
2. Create a new variable
3. Set differentes value in initial value and current value of your variable
4. Export enviroment and save the json file
5. Delete the enviroment and import from jso

[2019-06-17 15:45] shamasis commented on #3778
Closing it as a duplicate in master issue: https://github.com/postmanlabs/postman-app-support/issues/4555

[2019-06-17 15:45] #3778 closed, assigned to codenirvana

[2019-06-17 15:45] shamasis commented on #3688
Noting this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/4555

[2019-06-17 15:46] shamasis commented on #3778
Closing it as a duplicate in master issue: https://github.com/postmanlabs/postman-app-support/issues/4555

[2019-06-17 15:58] shamasis commented on #3734
Closing as very very close duplicate of https://github.com/postmanlabs/postman-app-support/issues/4555

[2019-06-17 15:58] #3734 closed, assigned to codenirvana

[2019-06-17 16:35] vkaegis commented on #6709
@chrisron95 You're probably right on that change, keeping this open so we can track it. Going forward, we ideally want to increase the minimum width of the tab as well, along with providing better navigation for multiple open tabs.

[2019-06-17 16:57] qhreul commented on #6721
When trying to export a complete collection with Postman 7.2.0 on Windows 10, I get an error with regards to the inability to export the data (see screenshot).
![unnamed](https://user-images.githubusercontent.com/20356112/59622315-d7e56380-90f6-11e9-9ff8-ec601eb7955b.png)

[2019-06-17 16:57] shamasis opened #6729 "Difficulty in selecting between text and file type of form-data (data-editor)"
**Describe the bug**
While working on the user interface for regular workflow, it is difficult to select the type of the form-data row.

1. hard to spot that you can actually change this
2. hard to hover on it or target a click
3. weird disappearance of the option on the selected row

**To Reproduce**
Too unpredictable to reproduce. But is a very frequent occurrence. Just try using an API that req

[2019-06-17 17:24] shamasis commented on #6140
Well... this would be very very odd and super low-level bug. So, I had a second look. I created a simple request with two text files in form-date and sent a POST request to http://postman-echo.com/post. Captured it using WireShark... and did not find this issue. Screenshot attached.

I even tried hard-coding a content-type in UI and set a boundary in it ... like ` multipart/form-data; boundary=---

[2019-06-17 17:32] shamasis commented on #6352
This is intended behaviour of Postman. I suggest that you unset that variable right after testing so that any of them set in previous scripts do not affect the next. Closing.

[2019-06-17 17:32] #6352 closed, assigned to codenirvana

[2019-06-17 17:39] shamasis commented on #6414
Can you point me out to the server that is causing this? An open endpoint or perhaps the name of the server application (apache / node / etc)?

[2019-06-17 17:49] sffej commented on #6721
I'm getting the same error message:
"Could not export the data. Please check the DevTools."

Here are my settings:
Version 7.2.0
win32 10.0.17134 / x64

I've rebooted and current with system updates.

Since this has been closed created new issue: https://github.com/postmanlabs/postman-app-support/issues/6730

[2019-06-17 17:55] shamasis commented on #6394
@sgoendoer Postman does not convert headers to lower-case.

Here is an example wireshark capture that I made a few minutes back... notice the Host header and another header I have underlined that has all sorts of upper and lower case.

<img width="1021" alt="Screenshot 2019-06-17 at 23 20 01" src="https://user-images.githubusercontent.com/232373/59625347-b4520580-9156-11e9-8650-3421e5987335.png">

[2019-06-17 17:59] sffej opened #6730 "BUG: Could not export the data. Please check the DevTools."
**Describe the bug**
When trying to export Postman data getting the error: "Could not export the data. Please check the DevTools."

This has already been experienced by another user but event was just closed
without followup: https://github.com/postmanlabs/postman-app-support/issues/6721

Update: 6/19 - Additional related issue filed by another user under: https://github.com/postmanlabs/postman-ap

[2019-06-17 18:05] shamasis commented on #3780
This issue has become difficult to triage. Original issue was around oAuth1 and subsequent issues are filed on the issue title and not as per description.

I suggest that we retry sending request ensuring that content length and content-type headers in the request is not set or set appropriately before sending request. For form-data and other types, content length is auto calculated and content-ty

[2019-06-17 18:06] henriquemattos commented on #973
Had to parse not only the hash (#) sign but also the percentage (%) sign. Clearly I don't have a web-friendly variable to be passing, but I think this should be encoded by default, or?

[2019-06-17 18:09] abhijitkane commented on #3780
@bcatalin @saifuddinrangwala  We can split this into two possible issues:

1. Postman not capturing the request correctly: This will need detailed information on how the request is being captured - using either the proxy or interceptor, and the Postman version
2. The content-length not being sent: Postman doesn't re-compute the content-length if it has been explicitly set by the user, or is presen

[2019-06-17 18:09] #3780 closed, assigned to abhijitkane

[2019-06-17 18:25] philmagr opened #6731 "New graphic on "no response yet" page is distracting"
**Describe the bug**
The new graphic that appears on every request page before you've made a request yet is unnecessarily detailed and thus, is visually distracting when it doesn't need to be

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman

**Expected behavior**
I do not have to exert mental effort in order to not pay attention to background/unimportant elements of the UI.

**Sc

[2019-06-17 18:28] shamasis commented on #4267
Some notes:

new-line is not allowed in domain so, we need to choose an appropriate behaviour as to whether this needs to be encoded or requesting be blocked

1. In "path" part of the url, this can be tacked with encoding and is already handled (something else is breaking here.)
2. In domain part, no encoding can handle this (so we have to error out)

Now, having said that... I ran a few tests:

1

[2019-06-17 18:33] shamasis commented on #4776
@Magdiel ... do let us know ... if adding http works, then we will simply document this. Would not like to change this cross-platform default behaviour of our underlying codebase.

[2019-06-17 18:37] philmagr commented on #6697
I'm running on Windows, and this seems to be somewhat intermittent - this happens way way more often than the one case above. Current postman version is 7.2.0 and it still happens there, though I reported this in 7.1.1 or something like that.

In every scenario when the value doesn't get saved, there's a red border-box around the variable value as if it's failing some sort of validation. If I can

[2019-06-17 18:44] chrisdeso opened #6732 "Wrong example returned when the same mock path is used for different examples/requests"
**Is your feature request related to a problem? Please describe.**
When different responses are mocked but have the same path, the mock service only picks up one of the examples and not the other.

i.e. The paths below would return the same example even though they have different examples associated with them

`(in progress) /api/users` – Request 1
`(200) /api/users` – Request 2

In the example ab

[2019-06-17 18:44] shamasis commented on #3759
@HakanDmr @BerkanYildiz @totoleo - can you still reproduce this issue?

1. We could not reproduce this. DNS related network aspects have too many intermediate moving parts and hard to get original env reproduced

2. Postman app, by itself, has no DNS cache-ing whatsoever. It relies on whatever the OS/Network DNS decides.

Will close this issue after some inactivity time.

[2019-06-17 18:49] shamasis commented on #4218
duplicate of https://github.com/postmanlabs/postman-app-support/issues/2418 ? @codenirvana

[2019-06-17 18:53] shamasis commented on #4218
Note to self: This issue is for situation when external response related issue causes collection run to break / abort. Solution is to add request level or runner level configuration to not abort on network errors.

This is a substantial work since, on network error, we need to stop bailing out and proceed flow without a response... the impact on various post-response flows with absence of response

[2019-06-17 19:31] chrisdeso opened #6733 "Bulk operations on collections in workspaces"
**Is your feature request related to a problem? Please describe.**
Currently, there isn't a way to move entire workspaces or to toggle them from `personal` to `team` after they're created.

**Describe the solution you'd like**
The ability to make a shared/team workspace personal

![image](https://user-images.githubusercontent.com/4734306/59631046-79c37b00-910c-11e9-848a-49f372fa02b3.png)

**Descri

[2019-06-17 20:21] fedorareis commented on #6635
Also happens on Mac (not surprising since it is an electron app). It however does work properly with side to side scrolling on my touchpad.

Version 7.2.0
macOS 10.14.5

[2019-06-17 20:49] flakey-bit commented on #6140
Hi @shamasis

As per the ticket description, the bug manifests when an HTTP DIGEST Authorization header is present in the request (i.e. digest authorization credentials were added to the request in Postman). I can't see an Authorization header in your captured request which makes me think you missed this step. Take a look at my screenshots from the bug description.

[2019-06-17 20:53] codenirvana commented on #5844
We've added support for request mutations via `pre-request` scripts, Refer: https://github.com/postmanlabs/postman-app-support/issues/4631#issuecomment-477766260

We are tracking a similar feature request to disable all auto-generated request headers here: #2689

[2019-06-17 20:53] #5844 closed, assigned to codenirvana

[2019-06-17 20:59] abala1980 commented on #6725
Thank you I knew it is a greate idea worth to be considered and implemented. Keeping fingers crossed over. Good luck @numaanashraf !

[2019-06-17 21:12] gamory commented on #285
+1 here as well, though I am not holding my breath seeing as how this is so old.

[2019-06-17 21:31] codenirvana commented on #6140
@flakey-bit Not able to reproduce with Digest auth as well.
<img width="1423" alt="Screenshot 2019-06-18 at 2 56 26 AM" src="https://user-images.githubusercontent.com/4865836/59638017-d9557100-9174-11e9-9f60-c67b949e25ad.png">

Is there any public endpoint which we can use to reproduce this issue?

[2019-06-17 21:41] flakey-bit commented on #6140
Hi,

Not currently. I'll try and sort one out later today.

[2019-06-17 21:44] lionel-rowe commented on #2724
In a weird coincidence, literally yesterday I made a Postman collection → `fetch` API converter as a workaround. I guess it's of limited use now that this is in Canary, but I'll stick it here for posterity's sake:

https://codepen.io/lionel-rowe/full/zVrLvw

I suspect it's considerably less stable and featureful than even a canary release, but maybe someone might find some marginal use for it.

[2019-06-17 21:45] codenirvana commented on #2369
@vikaspro90 Please check the attached screenshot.
Can you try configuring the same IP for `postman-echo.com` (screenshot)?

<img width="1171" alt="Screenshot 2019-06-18 at 3 08 38 AM" src="https://user-images.githubusercontent.com/4865836/59638833-0c98ff80-9177-11e9-8938-6ded38778573.png">

[2019-06-17 22:15] codenirvana commented on #1976
Closing as duplicate of #6098

[2019-06-17 22:15] #1976 closed, assigned to vkaegis

[2019-06-17 22:19] #6098 closed, assigned to saswatds

[2019-06-17 22:19] #6009 closed, assigned to nobody

[2019-06-17 22:30] codenirvana commented on #2797
We've added support for configuring root/trusted CAs in the latest Postman App, Refer: https://github.com/postmanlabs/postman-app-support/issues/3290#issuecomment-477468406

[2019-06-17 22:30] #2797 closed, assigned to a85, codenirvana, vkaegis, Raja-Simha

[2019-06-18 00:05] fillx commented on #6726
I have a same problem. Postman 7.2.0. Windows 8.1 pro x64.

[2019-06-18 00:33] chrisdeso opened #6734 "Feature Request: Add the ability to move monitors between workspaces"
**Is your feature request related to a problem? Please describe.**
Currently, there isn't a way to move monitors (and historical dashboards) between workspaces. In the event that a user has a monitor in their personal workspace (or a shared/private workspace) the only option within the UI is to share the underlying collection to the desired workspace and to create a new monitor

**Describe the sol

[2019-06-18 00:50] #6594 closed, assigned to saswatds

[2019-06-18 02:18] myaming commented on #3358
+1

[2019-06-18 02:35] codenirvana commented on #6226
Request mutation is supported in the latest Postman app, Refer: https://github.com/postmanlabs/postman-app-support/issues/4631#issuecomment-477766260

[2019-06-18 02:35] #6226 closed, assigned to codenirvana

[2019-06-18 03:20] preethammavin commented on #6733
@chrisdeso converting the team workspace to personal workspace is not something we will look into as the users who have built their work flows on the team workspace would be blocked if one user converts a Team Workspace into a personal Workspace, bulk action is something we can look at enabling as that would enhance the current flow.

[2019-06-18 03:32] preethammavin commented on #5232
@ash007-postman this issue has been fixed, users should be able to remove the custom domain once they have downgraded

[2019-06-18 03:32] #5232 closed, assigned to ankit-m

[2019-06-18 03:57] vvs11 commented on #6695
@workabyte :var will work as long as there is an example in the collection with a specific value assigned to :var

[2019-06-18 05:14] mkulgeorge commented on #4808
Hi numaanashraf,

Storing the value in the environment variable and manipulating that in pre-request Script and assigning that environment variable to the body.
Very good workaround for changing the POST body parameters dynamically.
This was very useful.

Thanks.

[2019-06-18 05:20] harryi3t commented on #6726
@Mackignacio Did you try setting an environment variable `POSTMAN_DISABLE_GPU=true` as mentioned in the other thread https://github.com/postmanlabs/postman-app-support/issues/4703? You can verify that in a terminal by running `echo %POSTMAN_DISABLE_GPU%`, you should see the output as `true` (case sensitive)

Can you also try a custom canary build that we had released a few days back here https://g

[2019-06-18 05:21] vkaegis commented on #6720
@tungpham Thanks for writing in! You're absolutely right, in a lot of cases, it's the request body thats most worked upon. However, instead of going ahead and changing the default tab to Body for everyone, we'd like to solve this by allowing you to customize your own defaults. Definitely on our short-term roadmap, will keep you updated here.

[2019-06-18 05:48] vikiCoder commented on #4352
Hi,

We've fixed this problem. The fix is available on the [latest canary](https://www.getpostman.com/downloads/canary) version (Version 7.1.1-canary07) of the app. You can checkout [canary](https://www.getpostman.com/downloads/canary) and let us know if you are still facing this issue in it.

[2019-06-18 06:50] saivan commented on #6722
But I still think this is probably valid, unless I missed something. What about keeping any tests we wrote in a collection?

[2019-06-18 07:21] saswatds commented on #2536
Duplicate of #5918

[2019-06-18 07:21] #2536 closed, assigned to shamasis, a85, codenirvana

[2019-06-18 07:32] saswatds commented on #5765
Fixed in Postman v7.2.0

[2019-06-18 07:32] #5765 closed, assigned to saswatds

[2019-06-18 07:38] saswatds commented on #5971
Hi @clintnetwork, As part of the latest Postman app we have added support for custom API key authorization that can be used to add custom authorization with headers and query-params
<img width="1128" alt="Screenshot 2019-06-18 at 1 06 42 PM" src="https://user-images.githubusercontent.com/8796447/59662137-f1a3ab00-91c9-11e9-8c33-736c120faaf4.png">

[2019-06-18 07:38] #5971 closed, assigned to saswatds

[2019-06-18 07:51] stianlagstad opened #6735 "I would like the option to mark a collection that I've created as read-only"
**Is your feature request related to a problem? Please describe.**
I have a collection of requests that I use as a reference, and that I should not edit, but every now and then I edit wrong requests by mistake.

**Describe the solution you'd like**
I would like the ability to mark a collection that I've created myself as read-only.

**Describe alternatives you've considered**
I could for example m

[2019-06-18 08:09] labifrancis opened #6736 "Public documentation hangs when rendering code snippets"
**Describe the bug**
When a user tries to access a public documentation, the page loads slowly. In some cases, the page does not complete loading at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://documenter.getpostman.com/view/1439503/S1ZufBvY?version=latest using Firefox. The bug exists in all browsers, but is more pronounced in Firefox.
2. The page will load, but the ri

[2019-06-18 08:26] tmdoit-zz commented on #6722
For me the point is to create API spec with examples and then based on it, generate collection  - API spec first approach. Currently one missing feature is to generate from spec more than one example if response has more than one possible returned value per status.
If I understand well, you are talking about collection first approach - generating API spec based on collection?

[2019-06-18 08:33] saswatds commented on #6182
Duplicate of #2366

[2019-06-18 08:33] #6182 closed, assigned to nobody

[2019-06-18 08:42] saswatds commented on #5956
Duplicate of #5767

[2019-06-18 08:42] #5956 closed, assigned to nobody

[2019-06-18 08:56] saswatds commented on #2922
Note:
Duplicate of #5767

[2019-06-18 09:12] kartikjain26 commented on #6625
@harshachelle  @preethammavin This is found to be working in production. Let me know if there is a specific case where it fails consistently.

[2019-06-18 09:19] preethammavin commented on #6735
@stianlagstad I would suggest 2 ways to do it with the current set of features, as I do not think we would be picking up a similar feature in the short to mid term
1) This would be to organise it according to the workspace so that you know which collection/request to edit in the context of a workspace
2) If you would want to enforce a read only collection create a team (which is free) manage permi

[2019-06-18 09:19] #6735 closed, assigned to nobody

[2019-06-18 09:26] diman82 commented on #6208
I'm facing the same issue, even though I'm accessing in internal server API (proxy should not be hit), and also have [px](https://github.com/genotrance/px) configured.
Installed Canary build, but same behavior.

** Eventually, I had a redirect to another hostname, and seems Postman (and curl as well) doesn't know how to deal with this).

[2019-06-18 09:31] imclint21 commented on #5971
Very nice!

[2019-06-18 09:31] Raj-postman commented on #6727
The user receives 1/2 emails once the monitor fails. This is the expected behavior as failure emails are only sent for the first three consecutive failures.

[2019-06-18 09:31] #6727 closed, assigned to godfrzero

[2019-06-18 09:37] rohitpai opened #6737 "Native Postman Issue with boundary parameter in multipart form data"
I am using native postman to validate HTTP server inside an Embedded device which I have.
The multipart form data web service works file with POSTMAN chrome extension but do not work with the native postman.
When I tried to debug why my HTTP server was rejecting the request from native postman I found that the multipart boundary is not the same.

Here is the trace from the wire.

start boundary >

[2019-06-18 09:44] mmcgilluk commented on #285
+1 from me for this feature.  I'm testing a database creation API and would like the DB Name to be passed via a prompt.

[2019-06-18 09:44] csicky commented on #4253
Is this thing on?

[2019-06-18 10:00] vikiCoder commented on #4312
Hello,

We have added the following options in collection runner to provide more control over cookies while running a collection:
- Run collection without using stored cookies
- Save cookies after collection run

These options are available in [Postman App version 7.1.0 or later](https://www.getpostman.com/downloads/). Below is a screenshot showing off these options in runner window.

Screenshot:

[2019-06-18 10:01] vikiCoder commented on #4709
Hello,

We have added the following options in collection runner to provide more control over cookies while running a collection:
- Run collection without using stored cookies
- Save cookies after collection run

These options are available in [Postman App version 7.1.0 or later](https://www.getpostman.com/downloads/). Below is a screenshot showing off these options in runner window.

Screenshot:

[2019-06-18 11:05] codenirvana commented on #5123
@qcastel Try using a URL match pattern, e.g, for your use-case: `*.example.com`

![Screenshot 2019-06-18 at 4 33 17 PM](https://user-images.githubusercontent.com/4865836/59677162-deeb9f00-91e6-11e9-882e-38f9582abe21.png)

[2019-06-18 11:06] qcastel commented on #5123
is that a new feature from postman @codenirvana ?

[2019-06-18 11:08] codenirvana commented on #5123
@qcastel Always supported (v6+), not documented well.
Can you verify if that works for you?

[2019-06-18 11:11] codenirvana commented on #5945
@TTcheng Are you still facing this issue in the latest version of the Postman App.
If so, can you please provide more information about the issue you are facing?

[2019-06-18 11:12] BerkanYildiz commented on #3759
Have not touched to Postman for so long, sorry. (I don’t normally do web dev)

But the bug is definitely not an issue of Postman and therefore should be closed, I suppose.

As stated, cleaning Windows’s DNS cache fixes it.

The problem is the library (I guess ?) Postman uses to handle all the web requests, etc..

Need to handle the DNS system yourself by doing the hostname resolution by itself, pa

[2019-06-18 11:13] edwardselby opened #6738 "Cannot Update Postman on Ubuntu 18.04"
**Describe the bug**
Cannot update 6.7.1 -> 7.x.x

**To Reproduce**
Steps to reproduce the behaviour:
1. `snap refresh postman` yields `snap "postman" has no available updates`
2.  `[spanner] > Settings > Update` does not exist!
3. `snap remove postman` && `snap install postman` installs 6.7.1

**Expected behaviour**
To be able to update the app

**Screenshots**
Screenshot show non-existent "Updat

[2019-06-18 11:14] qcastel commented on #5123
indeed, it works! Thanks!

[2019-06-18 11:14] #5123 closed, assigned to codenirvana

[2019-06-18 11:18] tmdoit-zz commented on #6715
![postman](https://user-images.githubusercontent.com/26081817/59677962-79d68000-91cb-11e9-87f8-9d919f9b9e80.gif)

[2019-06-18 11:29] codenirvana commented on #6737
@rohitpai That's how `multipart/form-data` works.
The entire payload is terminated by the boundary value suffixed with a `--`.

Example:
[code]

Refer: https://tools.ietf.org/html/rfc7578#section-4.6

[2019-06-18 11:34] bmatraves opened #6739 "allow the selection of XLS in runner"
**Is your feature request related to a problem? Please describe.**
If you collect data in a spreadsheet, it is quite tedious to break tabs in to individual CSV files for use in runner (well, its not the end of the world, but it could be slicker)

**Describe the solution you'd like**
In runner, for data "select file" allow also common spreadsheet formats, such as XLS, XLSX and allow the selection o

[2019-06-18 11:37] theLucasAntunes commented on #1228
@vikiCoder As a user who rarely uses the Collection Runner, but test individual requests instead, I find this to be a very niche-focused improvement. I'm not saying it's a bad feature, but we could have this setting for each request.. Maybe a simple checkbox inside the existing "Cookies" window.

[2019-06-18 11:45] ankurdengla commented on #4594
@eugen-nw The fix for this issue is now available in the latest Canary app - [Postman Canary 7.3.0-canary01](https://www.getpostman.com/downloads/canary).
This build does not have the 1 month limit.

[2019-06-18 11:48] ankurdengla commented on #4412
The fix for this issue is now available in the latest Canary app - [Postman Canary 7.3.0-canary01](https://www.getpostman.com/downloads/canary). Please check it out and let us know if the issue still persists.

[2019-06-18 11:50] ankurdengla commented on #4591
The fix for this issue is now available in the latest Canary app - [Postman Canary 7.3.0-canary01](https://www.getpostman.com/downloads/canary). Please check it out and let us know if the issue still persists.

[2019-06-18 11:51] ankurdengla commented on #4721
@vfedorin The fix for this issue is now available in the latest Canary app - [Postman Canary 7.3.0-canary01](https://www.getpostman.com/downloads/canary). Please check it out and let us know if the issue still persists.

[2019-06-18 11:52] ankurdengla commented on #5381
The fix for this issue is now available in the latest Canary app - [Postman Canary 7.3.0-canary01](https://www.getpostman.com/downloads/canary). Please check it out and let us know if the issue still persists.

[2019-06-18 12:49] flakey-bit commented on #6140
Hi

@codenirvana @shamasis

There is a test site up at http://eddie-digest-auth-test.azurewebsites.net/

If you hit that page in a browser, it will serve a simple form from which you can upload a file. I don't think it matters hugely what you upload.

![image](https://user-images.githubusercontent.com/4413825/59682684-0c9e0b80-921a-11e9-97ac-122642895433.png)

Submitting the form will POST to the

[2019-06-18 12:50] jgfet commented on #1996
I had the exact same issue today. When I tried to install Postman-win64-7.2.0-Setup.exe on a VM with Windows Server 2016 and Java
java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)
it sent my VM into meltdown.
Had to kill VM a couple of times and reboot it.
I noticed after the install that Java was behavin

[2019-06-18 12:59] tmdoit commented on #6724
Postman collections support multiple response examples for one status code, so there is no need for creating new http header keys, we can use existing x-mock-response-name and x-mock-response-code.
x-mock-response-name when creating collection from API spec is getting name from response status description.

[2019-06-18 13:06] vfedorin commented on #4721
Cool, thanks! I will test it once the app is updated.

[2019-06-18 13:26] Pietro89 commented on #3822
+1

[2019-06-18 13:33] mbratz commented on #2617
I'm also looking forward to use this feature.

[2019-06-18 13:51] anuj9196 opened #6740 "Allow markdown support in variables"
**Is your feature request related to a problem? Please describe.**
I have defined a global variable in the collection's variable like

| VARIABLE | INITIAL VALUE | CURRENT VALUE |
| --- | --- | --- |
| REQUIRED_FLAG | \**\`required\`** | \**\`required\`** |

And in the request body field's description column. I have added

| KEY | VALUE | DESCRIPTION |
| --- | --- | ---|
| grant_type | password |

[2019-06-18 14:11] abhijitkane commented on #5809
@nonyy @chucklu
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 14:13] abhijitkane commented on #5089
@bkmeneguello

Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

For this particular use-case, there's a separate curl-level 'Follow redirects' setting, which you can control onc

[2019-06-18 14:16] abhijitkane commented on #4945
@chriscoomber Not able to reproduce this in v7.x of Postman.

Also, in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet. This can be enabled with the 'Experimental Codegen Mode' flag enabled in Postman's global settings. In the new cURL snippet, the headers are enclosed in doubl

[2019-06-18 14:16] Raj-postman opened #6741 "Error merging forked collection"
**Describe the bug**
When the owner of the collection tries to merge the forked collection to the original collection, receives an error "You are not permitted to perform the action".

**To Reproduce**
Steps to reproduce the behavior:
1) Create a fork on an original collection
2) Apply changes to the fork collection
3) Merge changes from Forked to the original collection
4) Error "You are not perm

[2019-06-18 14:18] abhijitkane commented on #4901
@bvisin @dnsbty
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

For this particular issue, the generated snippet is `curl -X GET "http://mydomain.com/index?page%5Bnumber%5D=1&p

[2019-06-18 14:20] abhijitkane commented on #4825
@ericdallo
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 14:43] mackignacio commented on #6726
@harryi3t  Yes I did and I already mentioned it on my issue. I already fix it by uninstalling Postman then deleting all the postman folder on my %appdata% folder. Both on local and roaming folder I also deleted those postman folder. Then I reinstall the newest version 7.2.0 then it run smoothly.

I wonder why when you update it will no longer work. Maybe the problem is on the automatic update by e

[2019-06-18 16:10] kalashnikof commented on #4412
@ankurdengla1996 works fine on PostmanCanary-linux-x64-7.3.0-canary01
Linux  5.0.0-15-generic / x64

![Screenshot from 2019-06-18 19-01-06](https://user-images.githubusercontent.com/10325703/59700313-c20d9680-91fb-11e9-95a1-c2826a427be3.png)

[2019-06-18 16:52] jdrews commented on #1475
I pulled down the latest Postman Canary (Postman v7.3.0-canary01) and I don't see powershell as an option. Am I looking in the wrong place?

![image](https://user-images.githubusercontent.com/172766/59703475-f5363280-91c7-11e9-8a94-66576966bebc.png)

[2019-06-18 16:55] a85 commented on #1475
<img width="793" alt="Screenshot 2019-06-18 09 54 49" src="https://user-images.githubusercontent.com/653409/59703647-2eae7400-91af-11e9-95c7-67e2e15df812.png">

@jdrews
 You need to enable the experimental code gen mode in settings first.

[2019-06-18 16:56] jdrews commented on #1475
Tada! Thanks

[2019-06-18 17:14] JP-from-Postman opened #6742 "Teams without an active billing user cannot manage billing, or re-assign billing role."
**Is your feature request related to a problem? Please describe.**

Scenario:
- Team has 1 billing user, who is no longer at the company. This user needs to be removed, and billing rights transferred to someone else.
- Team admin (who doesn't have the billing role) cannot remove them, because they're the only member of the team with the billing role.
- Team admin cannot grant the billing role to s

[2019-06-18 17:56] a85 commented on #1667
@MMRandy Have you tried using the Postman Proxy feature to capture requests: https://learning.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests/

[2019-06-18 18:03] abhijitkane commented on #4771
This has been fixed in the 'Experimental codegen mode' feature in Postman 7.2.1.

[2019-06-18 18:03] #4771 closed, assigned to numaanashraf

[2019-06-18 18:05] #4465 closed, assigned to numaanashraf

[2019-06-18 18:06] #3496 closed, assigned to numaanashraf

[2019-06-18 18:07] JP-from-Postman opened #6743 "Same POST request works in 7.0.9, but not 7.1.1"
**[Reported by Postman Support, on behalf of original user]**

**Describe the bug**
When user sends the same POST request to upload an image, the requests succeeds in v7.0.9 of the native app, but returns an error message in v7.1.1.

Error message is as follows:
<img width="1200" alt="Screen Shot 2019-06-18 at 10 59 56 AM" src="https://user-images.githubusercontent.com/43283131/59707824-49391b00-9

[2019-06-18 18:08] abhijitkane commented on #5380
@jaxley
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

@rchasman Using the experimental mode, you can change the line continuation character to `^` (for Windows) or `\` for OS

[2019-06-18 18:11] abhijitkane commented on #5308
@phiferd
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

For cURL, you can switch between `\` and `^` as line-continuation characters.

[2019-06-18 18:12] abhijitkane commented on #5293
@tstw
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 18:12] #5293 closed, assigned to nobody

[2019-06-18 18:13] abhijitkane commented on #5213
@vincepeng
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 18:17] abhijitkane commented on #5128
@Ramya-From-Postman
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 18:17] #5128 closed, assigned to numaanashraf

[2019-06-18 18:20] abhijitkane commented on #4625
@c-warnick
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 18:20] abhijitkane commented on #2999
@udev
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 18:20] #2999 closed, assigned to numaanashraf

[2019-06-18 18:23] abhijitkane commented on #2984
@shuxiao9058 @antidote2
Not able to reproduce this anymore. Also, in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

[2019-06-18 18:23] #2984 closed, assigned to numaanashraf

[2019-06-18 18:30] taebox commented on #5293
It appears that double slashes, and triple, etc... are preserved when using experimental codegen.

[2019-06-18 18:33] tstw commented on #5293
I tried it, and it appears fixed.

[2019-06-18 18:33] abhijitkane commented on #5293
@tstw Great - Thanks for the confirmation!

[2019-06-18 18:35] ritman-us commented on #6682
will this feature this be implemented in the near future ?

[2019-06-18 18:36] abhijitkane commented on #2780
@nlwillia
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

[2019-06-18 18:37] #5999 closed, assigned to nobody

[2019-06-18 18:39] abhijitkane commented on #5800
@mojo2012
Not able to reproduce this anymore. Also, in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

[2019-06-18 18:39] #5800 closed, assigned to nobody

[2019-06-18 20:03] psonoh commented on #6525
I'm having the same problem. I'm running a collection that several of my colleagues can run with no issue - but for me it crashes when it's approximately 80% done :(

[2019-06-18 20:14] udev commented on #2999
I haven't used Postman in a while but I'll consider it. Thanks.

[2019-06-18 22:29] kiwinz2015 commented on #4591
Hey, it's looking better now in **7.3.0-canary01**, which is not just detecting the Data File Type but also the iteration number.
Now, I noticed that in the Preview mode all JSON objects are not recognized as shown below:

![2019-06-19_10-14-28](https://user-images.githubusercontent.com/51891425/59723856-ed37ca80-927b-11e9-8c61-1222559312d2.png)

![2019-06-19_10-14-00](https://user-images.githubus

[2019-06-18 22:40] nlwillia commented on #2780
Confirmed that the issue seems to be fixed by the flag in 7.2.1.  With the flag off, the original problem still occurs.  With the flag on, it encodes correctly.

[2019-06-18 23:01] JP-from-Postman opened #6744 "Error when exporting Collection: "Cannot read property 'dataMode' of null at _sanitizeRequestBody""
[Reported by Postman Support, on behalf of original User]

**Describe the bug**
User has a certain Collection that throws an error when being exported. Other Collections appear to be unaffected.

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. User attempts to export a specific Collection affected by issue above
2. User receives error noted
3. Collection is not exported

**Expe

[2019-06-18 23:39] ntodorov commented on #2671
Not sure what is slow for you? GPU situation is the only thing I saw slow with Postman. It is a sleak app.
Try using SoapUI - java written tool and compare it with Postman ...

[2019-06-19 01:52] chucklu commented on #5809
@abhijitkane   The previous problem was resolved in version 7.2.1

I also tried with the powershell code, the logisticsRecord property lost content
[code]

[2019-06-19 01:55] chucklu commented on #5809
By the way the problem was resolved only in Experimental Codegen mode.

[2019-06-19 02:48] nixuewei commented on #6682
It really helps if postman support SSE function. waiting for good news in the near future.

[2019-06-19 03:22] preethammavin commented on #6741
@Kurmavathar have addressed the issue internally.

[2019-06-19 03:22] #6741 closed, assigned to nobody

[2019-06-19 03:50] abhijitkane commented on #6666
@wonboyn This has been updated in Postman 7.2.1. For the Petstore Swagger2 spec (https://petstore.swagger.io/v2/swagger.json), you should see the request body generated from the schema. Closing this for now.

Feel free to add a comment if you're still seeing issues.

[2019-06-19 03:50] #6666 closed, assigned to nobody

[2019-06-19 03:50] rohitpai commented on #6737
Thanks for the replay.

Does it mean that the Postman chrome extension does not follow the same suffixed boundary value?
Trace from postman chrome extension

[code]

[2019-06-19 03:59] abhijitkane commented on #5622
Not able to reproduce this anymore. Also, in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

@PetrusKiendys Do add a comment if you're still seeing this issue in 7.2.1.

[2019-06-19 03:59] #5622 closed, assigned to nobody

[2019-06-19 04:05] abhijitkane commented on #5585
@chimit - Not able to reproduce this anymore. Also, in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

Closing this for now, but do feel free to add a comment in case you see this issue with the 'E

[2019-06-19 04:05] #5585 closed, assigned to nobody

[2019-06-19 04:34] saswatds commented on #6507
Hi @akrz we have pushed some performance updates to the latest Postman app version 7.2.1. Can you test if your issue still persists in the latest version?

[2019-06-19 04:57] vikiCoder commented on #3178
Fix for this is out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 04:59] vikiCoder commented on #3427
Fix for this is out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 04:59] vikiCoder commented on #3115
Fix for this is out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 05:06] vkaegis commented on #6603
@m3dbedb Thanks for writing in! Marking this as a feature request.

On a similar note, have you tried keeping this single request in a folder in the beginning of a run, just to unblock you?

[2019-06-19 05:06] vikiCoder commented on #5551
The changes that I mentioned in my previous comment are out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 05:13] vikiCoder commented on #2861
The fix that I mentioned in my previous comment is out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 05:15] vikiCoder commented on #2970
The fix that I mentioned in my previous comment is out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 05:17] vikiCoder commented on #3576
The changes that I mentioned in my previous comment are out in [latest Postman App](https://www.getpostman.com/downloads/) (v7.2.1) as well.

[2019-06-19 05:29] vikiCoder commented on #6509
This issue is fixed in the [latest Postman App](https://www.getpostman.com/downloads/) release (v7.2.1).

[2019-06-19 05:34] vikiCoder commented on #6651
This issue is fixed in the [latest Postman App](https://www.getpostman.com/downloads/) release (v7.2.1). Passing non-string data into the raw body will not crash the app now.

[2019-06-19 05:39] vikiCoder commented on #6592
Hi @krichter722,

This issue is fixed in the [latest Postman App](https://www.getpostman.com/downloads/) release (v7.2.1). The app will now show the error message as shown in below screenshot instead of success message while downloading the response in a directory without write access.

<img width="394" alt="Screenshot 2019-06-19 at 11 08 14 AM" src="https://user-images.githubusercontent.com/16588

[2019-06-19 06:19] abhijitkane commented on #5274
@govindrai @NogrTL
Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.
All reported issues should be fixed with this flag enabled.

@sanusi87 - the case you mentioned is still a bug

[2019-06-19 06:32] #6592 closed, assigned to vikiCoder

[2019-06-19 06:35] #6509 closed, assigned to vkaegis

[2019-06-19 06:36] #5551 closed, assigned to vikiCoder

[2019-06-19 06:37] #3115 closed, assigned to nobody

[2019-06-19 06:38] #3427 closed, assigned to saswatds

[2019-06-19 06:39] #3178 closed, assigned to nobody

[2019-06-19 06:41] #2861 closed, assigned to numaanashraf, codenirvana

[2019-06-19 06:42] #2970 closed, assigned to nobody

[2019-06-19 06:55] stianlagstad commented on #6735
Thank you for the response @preethammavin. For your second suggestion: Do I need multiple postman accounts in that team to do so?

[2019-06-19 07:07] sankalp0o opened #6745 "Accounts logged out on updating to 7.2.1"
I had multiple accounts signed in to Postman app (some 7.0+ version). I updated the app to 7.2.1 and all but one of the accounts were logged out.

[2019-06-19 07:14] preethammavin commented on #6735
Yes, you would need multiple accounts for this.

[2019-06-19 07:15] vikiCoder opened #6746 "Option to define a custom column separator for CSV file parsing in Collection Runner"
We can specify a CSV data file in collection runner to be used while running a collection. The Postman App parses the provided CSV file before using it. Because of the fixed parsing behavior of App's CSV parser, given CSV file needs to be in a specific format that the app understands. The problem is when someone wants to parse specific data in CSV file differently than the default behavior of the

[2019-06-19 07:21] codenirvana commented on #6737
No, working as expected.

![Screenshot 2019-06-19 at 12 49 43 PM](https://user-images.githubusercontent.com/4865836/59744760-e23b6500-9290-11e9-8b9e-ecf2069884b7.png)

[2019-06-19 07:21] #6737 closed, assigned to codenirvana

[2019-06-19 07:28] tmdoit-zz commented on #6732
You can choose example response to return by mock server by setting x- mock-respnse-name or x-mock-response-code in request header.

[2019-06-19 07:36] codenirvana commented on #6140
@flakey-bit Thanks for providing the testing endpoint.
We are able to reproduce the issue and will fix this as soon as possible.

[2019-06-19 07:38] flakey-bit commented on #6140
Do you need me to leave the test endpoint up or can I get rid of it?

[2019-06-19 07:38] spdkb opened #6747 "Variable within variables are not populating when request is sent through pm.sendRequest"
Variable within variables are not populating when request is sent through pm.sendRequest.

Steps to reproduce the behavior:

1. Create an Global variable of:
key = BaseUrl
value = https://www.microsoft.com:{{PortNumber}}
2. Create environment variable of:
key = PortNumber
value = 1234
Select this environment in Postman

3. In the pre-request script, add:

pm.sendRequest({ method: 'GET',
  url: pm.

[2019-06-19 07:40] codenirvana commented on #6140
@flakey-bit We identified the issue in our low-level request sending library.
You can remove the testing endpoint now.

[2019-06-19 07:45] abhijitkane commented on #3333
@thearegee Apologies for the inordinate delay here. In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings. One of the code-specific settings is the ability to `Include Temporary Headers` - these are hea

[2019-06-19 07:45] #3333 closed, assigned to numaanashraf

[2019-06-19 07:53] codenirvana commented on #6747
@spoloju `pm.globals.get` don't resolve nested variables.
We are tracking this feature request here: #5691

There's a workaround for this, Refer: https://github.com/postmanlabs/postman-app-support/issues/6078#issuecomment-479408141

Closing as duplicate of #5691 & #5767

[2019-06-19 07:53] #6747 closed, assigned to codenirvana

[2019-06-19 07:56] abhijitkane commented on #5549
@Ramya-From-Postman With Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

This is fixed for Swift in the new codegen UI. We'll be adding Objective-C to this list soon.

[2019-06-19 08:09] rohitpai commented on #6737
OK, thanks for clearing it up.

[2019-06-19 08:13] abhijitkane commented on #5240
@Ramya-From-Postman @ParrisSikorski in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

This particular issue has been fixed, and can be seen with the 'Experimental Codegen mode' flag set.

[2019-06-19 08:13] #5240 closed, assigned to numaanashraf

[2019-06-19 08:15] abhijitkane commented on #4610
@blueneosky In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

This particular issue has been fixed, and can be seen with the 'Experimental Codegen mode' flag set.

[2019-06-19 08:15] #4610 closed, assigned to numaanashraf

[2019-06-19 08:16] abhijitkane commented on #5021
@chrisdeso in Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings.

This particular issue has been fixed, and can be seen with the 'Experimental Codegen mode' flag set.

[2019-06-19 08:16] #5021 closed, assigned to numaanashraf

[2019-06-19 09:03] vdespa opened #6748 ""mockRequestNotFoundError - This collection does not have any Examples" when using collections with versions"
**Describe the bug**
It seems that mocks are the respective collection version are not properly linked. The error is not very clear that the issue is.

**To Reproduce**

I cannot constantly reproduce this but it does occur often.

Steps to reproduce the behavior:

![postman-issue](https://user-images.githubusercontent.com/1197635/59755036-d31cdd00-92b9-11e9-9785-f03e96ad162e.gif)

1. Generate a co

[2019-06-19 10:02] NDTChan commented on #6534
Thanks dude

[2019-06-19 10:06] 1013461195 opened #6749 "i want delete team, but have a bug"
![未命名 3](https://user-images.githubusercontent.com/23392657/59756481-60613100-92bc-11e9-9be6-10f8426742be.png)
i want delete team but have a problem. alert need team people add to other workspaces, but this team only me. later i click Leave workspac, alert You can't remove all members from a workspace
![未命名 4](https://user-images.githubusercontent.com/23392657/59756748-f301d000-92bc-11e9-8e0b-8baa

[2019-06-19 10:46] #3759 closed, assigned to codenirvana

[2019-06-19 11:00] vivekpatel111 opened #6750 "Json should be given as option to select body type in post call"
**Is your feature request related to a problem? Please describe.**
As most of the APIs have adopted json format, to select json as content type for post call, user needs to select `raw` button and then select `JSON(application/json)` from dropdown.

**Describe the solution you'd like**
| In latest Postman release, graphql [support](https://trello.com/c/u4DE4WU8/58-release-720-graphql-support) is a

[2019-06-19 11:01] codenirvana commented on #5121
Closing as we are tracking a similar feature request here: #2578

[2019-06-19 11:01] #5121 closed, assigned to shamasis

[2019-06-19 11:08] JulienSteel commented on #6653
Is there any update on this issue? Thank you in advance

[2019-06-19 11:30] sujayvenaik commented on #6745
This issue is fixed in v7.2.2. Please update your app to the latest version.
In case you face any issues please log out and log in again.

Let us know if you still face any issues.

[2019-06-19 12:29] beaver71 commented on #6744
same issue with a collection having 180 requests

[2019-06-19 12:44] mikewolfen commented on #6744
same issue with a collection of 23 requests, it works for a collection of few requests (eg. 1, 4 and 5)

[2019-06-19 12:55] cyrielle-hada opened #6751 "Edit Modal when Leaving Team to avoid Lost Collections issues"
**Is your feature request related to a problem? Please describe.**
Currently, nothing warns a user that any collection shared with a team becomes a team owned collection (in terms of RBAC) and is no longer accessible once they leave it.

AND, if a single user of a team leaves, our warning message only says that the team gets deleted.
<img width="565" alt="Screen Shot 2019-06-19 at 13 41 51" src="h

[2019-06-19 12:56] leolozes commented on #4849
Same here with a Dell XPS 13 4K display and with a 1080p Dell Monitor attached to it.
Latest build of Windows 10, Postman 7.2.2. The scroll works if I do it in a corner (original size) as described on the issue.

[2019-06-19 13:22] labifrancis opened #6752 "Form-data with files upload is crashing the app in certain cases"
**Describe the bug**
When sending a request that has a file attached, this user gets an error "Something went wrong"

**Screenshots**
![image](https://user-images.githubusercontent.com/10200603/59768983-2d5b7500-929d-11e9-9dee-50859c295fe4.png)

**App information (please complete the following information):**
 - App Type - Native App
 - Postman Version 7.2.0
 - OS: Windows

[2019-06-19 13:41] akrz commented on #6507
@saswatds Seems like the update fixed the issue. Thanks!

[2019-06-19 13:41] #6507 closed, assigned to saswatds

[2019-06-19 13:45] ivanrodjr commented on #6745
I updated to 7.2.2 and now the issue is I cant change between users, when I try, it always returns to the same account I was.

[2019-06-19 13:49] sujayvenaik commented on #6745
@ivanrodjr. Can you try logging out and logging in once with the user with which you are facing this incident? This will mostly fix the issue.
Let us know if you still face some issues.

[2019-06-19 13:50] ivanrodjr commented on #6745
@sujayvenaik It worked, now I can change users without issues, thanks.

[2019-06-19 14:14] GSamuel commented on #6682
We use postman a lot and recently started using SSE. It would be really helpfull if postman supports SSE.

[2019-06-19 14:47] TastyMantou commented on #4578
This issue still happen every time Postman got updated (v.7.2.1). It's super annoying to have to go to cmd and type Postman.exe --disable-gpu.

[2019-06-19 14:59] rrichardsonindy commented on #1966
The original suggestion -- having the ability to run multiple collections in Postman Runner -- would be valuable for our team.

[2019-06-19 15:00] ariezs opened #6753 "After update my switch is not working?? why?"
console.log(pm.response.json());
let role = pm.environment.get("role");    **//role has the value "admin"**

switch(role) {
  case "admin":  **// i expected it to jump to this case**
    pm.test("response is created", function () {
    pm.response.to.have.status(201);
    });
    console.log("User is " + role);
    break;
  default:
    console.log("The role '" + role + "' is not allowed for this

[2019-06-19 15:52] fabiohbarbosa commented on #6682
+1 for SSE support

[2019-06-19 15:59] kamalaknn opened #6754 "Beautify action on text editor resets the undo stack"
**Describe the bug**
After performing the beautify action on text editors in request body or script editors the undo stack is reset and the undo functionality does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pre-request scripts tab.
2. Type some text
3. Press cmd+B or ctrl + B
4. Press cmd + Z or ctrl + Z
5. Undo does not take effect

**Expected behavior**
Undo should be

[2019-06-19 16:07] kkoenen commented on #5622
Same problem here. In the menu, For instance, "JQuery AJAX" and "XHR" are not visible. Workaround : F11 (full screen). Version 7.2.2.

![afbeelding](https://user-images.githubusercontent.com/1116248/59781884-162c7f80-92bd-11e9-9f66-89a8c648379f.png)

[2019-06-19 16:37] sankalp0o commented on #6745
Issue looks fixed after updating to 7.2.2, all accounts restored as well.

[2019-06-19 17:03] abhijitkane commented on #5424
@jasonye This is fixed in Postman v7.2.1.

[2019-06-19 17:03] #5424 closed, assigned to numaanashraf

[2019-06-19 17:04] cyrielle-hada opened #6755 "Account creation error message username already exists"
**Is your feature request related to a problem? Please describe.**
When the Username already exists an error message appears on top of the form instead of being on top of the field.

![1a526478-9205-4c54-8575-8ef80871a287](https://user-images.githubusercontent.com/47351631/83893191-8d198d00-a747-11ea-96c9-1991d6a9928a.png)

Every so often the user thinks to own an account with the email address re

[2019-06-19 17:07] abhijitkane commented on #2617
@sky54521 @mbratz @mutaimwiti @DaRolla This should be fixed in Postman 7.2.1. In the petstore_full, example I can see the following request body being generated for the `Add a new pet to the store` request:

[code]

Any issues with the way the request body is generated can be opened as separate issues :). Closing this for now.

[2019-06-19 17:07] #2617 closed, assigned to numaanashraf

[2019-06-19 17:30] yaredw commented on #3178
I'm now receiving this error when attempting to run a collection with a CSV that were both working fine yesterday (before the newest release):
[code]

[2019-06-19 17:41] shamasis commented on #6739
Yeah. It would definitely be slicker. Would need to explore how difficult it is to actively support all quirks of different excel versions and so many third party excel compatible file formats.

Maybe this in future could become part of the plugins concepts we are working on so that our community can give it more love than we can. I’m keeping this as a feature request for now.

PS: we recently fix

[2019-06-19 17:44] shamasis commented on #6740
Interesting. Ideally all descriptions should support markdown in theory unless this comes under any exceptions. @vkaegis you should be able to tell us more if this can be a good feature to add in data editor?

[2019-06-19 17:47] shamasis commented on #6750
Stay tuned ... we have big plans for the body selection. It will come in stages. First is to make this into a drop down and then give each body types some facelift along with adding configuration for body inputs. This idea of yours could well go into that. Cannot be sure now, but will keep this thread posted.

[2019-06-19 18:14] shamasis commented on #6753
Umm ... I would need more info to interpret what’s going on. What’s not working correctly? What is the correct behaviour for your use case? What error do you see? Which version of app are we talking about? How do we recreate it locally?

Also ... do console log your response.text() to see what are you getting in the body?

[2019-06-19 18:31] shamasis opened #6756 "Environment preview in-line editor shows weird behaviour"
**Describe the bug**
There are two ways to edit environment variables in Postman - in-line within preview and the full fledged data editor.

1. They exhibit different input behaviour
2. They have issues in expressing intent to save the change.

**To Reproduce**
Preview in-line editor:

- edit values
- unless keyboard enter is pressed, even focussing out does not save the value
- preview in-line ed

[2019-06-19 18:31] JP-from-Postman commented on #6251
One user has been able to workaround this issue by manually resolving conflicts directly in the requests themselves, although this is obviously not ideal.

[2019-06-19 18:46] chrisdeso commented on #6658
@ankit-m Closing this out as we've pushed a fix for the redirect!

[2019-06-19 18:46] #6658 closed, assigned to ankit-m

[2019-06-19 19:53] thubble commented on #6744
We are also experiencing this issue, with the exact same stack trace. 2 different Windows 10 workstations, one with version 7.2.0 and one with 7.2.2.

This looks similar to #6730 and #6721 .

[2019-06-19 19:54] lhu-smartling commented on #3137
+1 Would be really helpful

[2019-06-19 20:25] ariezs commented on #6753
What you see in my example is a simple switch.. where the role has the value "admin".
Instead of jumping to case admin.. it jumps down to the default case..

BEFORE the new postman update it worked perfectly.. but after it updated my postman my simple switch no longer works.. i hope this makes sense :)

[2019-06-19 21:48] JP-from-Postman commented on #6105
Another occurrence of this has been reported via Support.

[2019-06-19 21:51] yaredw opened #6757 "Ability to disable automatic minor updates"
**Is your feature request related to a problem? Please describe.**
With v7.2.2, I got this error when trying to input my CSV into Collection Runner:
```Error while parsing data file: Error: Invalid Closing Quote: got """ at line 2 instead of delimiter, row delimiter, trimable character (if activated) or comment```
Rather than try to figure out why my CSV (which was seamlessly accepted yesterday an

[2019-06-19 22:26] JP-from-Postman opened #6758 "SSL Certificate: Request fails on Windows Server 2016, succeeds on 2008"
**Describe the bug**
User has a POST request that succeeds when sent from the Postman app on Windows Server 2008. However, when sending the same request from the Postman app on Windows Server 2016, the request fails to get a response. Both machines are running the same version of Postman (7.2.0).

The service targeted by the request uses a certificate. Turning off `SSL certificate verification` re

[2019-06-19 22:28] dmboucher commented on #6105
Excellent.

Well... not excellent... but I'm glad I'm not the only one!  :)

I haven't had time to try to redo everything.  Please let me know if you
find out anything or if you need any elevated permissions to our repo.

Thanks.

-- Dave

On Wed, Jun 19, 2019 at 3:48 PM JP-from-Postman <notifications@github.com>
wrote:

[2019-06-20 00:42] sffej commented on #6744
Also experiencing same problem. Submitted issue a couple of days ago at:

https://github.com/postmanlabs/postman-app-support/issues/6730

[2019-06-20 03:10] ThanhNg commented on #3827
Stupid and lazy answer!

[2019-06-20 03:42] zcwang3 opened #6759 "support variable which can be used to retrieve accessToken/refreshToken for Collection -> Authorization -> OAuth 2.0 Flow"
I am sorry, i can not find the solution for the following requirement by Google search and issue search in this forum. So i post this new feature request.

**Is your feature request related to a problem? Please describe.**
I am using OAuth 2.0 authorization code flow in Collection -> Authorization tab, and as following screenshots shown, I can get access Token successful.
![image](https://user-ima

[2019-06-20 03:43] axelonet commented on #6745
It worked when I updated to 7.2.2.

[2019-06-20 04:08] abhijitkane commented on #5286
@madskunker @pernielsentikaer I'm able to import both cURL snippets in the latest Postman version - 7.2.2. Closing this for now.

[2019-06-20 04:08] #5286 closed, assigned to nobody

[2019-06-20 04:10] abhijitkane commented on #5737
@AnkitMasand Fixed in the latest builds of Postman - Production (7.2.2) and Canary.

[2019-06-20 04:10] #5737 closed, assigned to nobody

[2019-06-20 04:14] abhijitkane commented on #4770
@enginaar @Yevhenii-me All reported issues around extra options are fixed in the latest Postman version (7.2.1).

@gs-nkumar If you're having trouble importing curl snippets in Postman v7.2.1, could you include the original curl snippet here?

Closing this for now.

[2019-06-20 04:14] #4770 closed, assigned to numaanashraf

[2019-06-20 04:16] abhijitkane commented on #3135
@dsatgithub55 @qkdreyer This should be fixed in Postman 7.2.2. Feel free to add a comment if you see any other issues around this.

Closing for now.

[2019-06-20 04:16] #3135 closed, assigned to numaanashraf

[2019-06-20 05:00] var23rav commented on #3337
@madebysid  Any update on this feature.

[2019-06-20 05:49] TTcheng commented on #5945
I don't known,Im now using manjaro,but this problem doesn't appear on manjaro(Arch-based, Kernel: 5.18，with DDE).

[2019-06-20 05:49] #5945 closed, assigned to codenirvana

[2019-06-20 06:40] mytestingithub commented on #1632
@Vegapa ,@pjamgithub

Looks like thats not complete Json response body,  assuming above response body it will be like this

Here is the code, add this in test window
--------------------------------------------------------
var jsonData = JSON.parse(responseBody);
for(var i=0; i<jsonData.brand.length; i++)
{
   postman.setGlobalVariable("VariableName"+[i], jsonData.brand[i]);
}

-------------------

[2019-06-20 06:52] vikiCoder commented on #3178
@yaredw If you were using double quotes '"' inside an unquoted string in CSV file with previous version of the app then it will now work with the latest version. You have to wrap the string in double quotes and escape the quotes inside the string using backslash `\` for it to work with latest version of the app.

See this comment if you need an example: https://github.com/postmanlabs/postman-app-s

[2019-06-20 06:59] ash007-postman opened #6760 "Editor under "body" has distorted view"
**Describe the bug**
After sending the request, the lines are overlapping in "Body" editor

**To Reproduce**
Steps to reproduce the behavior:
1. click on  'Body"
2. Lines are overlapping

**Expected behavior**
Lines shouldn't be overlapping

**App information (please complete the following information):**
 - Postman Version [e.g. 7.2.0]

![Screenshot 2019-06-20 at 12 17 29 PM](https://user-images.

[2019-06-20 07:12] kamalaknn commented on #6760
Hi @ash007-postman

We are not able to reproduce this issue from our end.

Can you get more information from the user to help us identify the issue?

1. Is this reproduceable consistently?
2. Is this new on Postman 7.2.2 or has the same text and request worked in previous versions?
3. Can you send a screen recording of the issue or a collection with saved request containing request body that can h

[2019-06-20 07:26] saswatds commented on #6752
@labifrancis I have been able to replicate this issue. Will apply the fix ASAP

[2019-06-20 07:42] daehee75 commented on #6760
Hi @kamalaknn

This is Dean who created this issue.

This situation is reproducible consistently and it can be found in previous versions.

But I'm not sure only Postman app's problem. Because I can find same situation in some online editor like attached image.
![image](https://user-images.githubusercontent.com/21234550/59830072-d1b2e980-9379-11e9-937e-1d340fa5fcff.png)
I think it works on some ap

[2019-06-20 09:01] harryi3t commented on #5968
@mayankag02 Are you still facing the issue and are able to reproduce it?
We have updated the underlying installation/updation framework we use and have released it as part of our canary releases.
You can get our canary build from https://www.getpostman.com/downloads/canary

[2019-06-20 09:13] mikewolfen commented on #6744
I imported and older Postman collection file that has been modified and then successfully exported!

[2019-06-20 09:16] shamasis commented on #5767
We have gotten around to opening up variable substitution within scripts. That would solve this. Tracking this in master issue: https://github.com/postmanlabs/postman-app-support/issues/2922

[2019-06-20 09:18] harryi3t commented on #5301
@Saif03 @wassimsalib @dzakibuchori @alibux  Are you still facing the issue and are able to reproduce it?
We have updated the underlying installation/updation framework we use (squirrel) and have released it as part of our canary releases.
You can get our canary build from https://www.getpostman.com/downloads/canary

Please let us know if this fixes the issue.

[2019-06-20 09:18] #5767 closed, assigned to codenirvana

[2019-06-20 09:20] harryi3t commented on #5771
Closing this since this is not happening anymore.

[2019-06-20 09:20] #5771 closed, assigned to nobody

[2019-06-20 09:40] santhoshTpixler opened #6761 "Response body not displayed"
**Describe the bug**
After there update v7.2.2 response body is not displayed. But the console the response body.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request to an end point which responds with "application/json;charset=UTF-16"

**Expected behavior**
The response body displayed in the postman console should be displayed in the response body section of the app

**Screenshot

[2019-06-20 09:46] sebAtos commented on #4272
This feature is really important for us. Do you know why it's still missing in 7.2.2 ?

[2019-06-20 09:51] vikiCoder commented on #6753
Can you show the output from Postman console for the script you've posted?

[2019-06-20 10:00] numaanashraf commented on #6738
@edwardselby Postman v7 is on the candidate channel on the snap distribution for now. Please switch to channel to update - https://learning.getpostman.com/docs/postman_pro/managing_postman_pro/migrating_to_v7/#updating-app-to-postman-v7-after-migration

[2019-06-20 10:00] #6738 closed, assigned to nobody

[2019-06-20 10:04] Graveheart commented on #6702
Thanks for the reply @vvs11. I just found this header mentioned another Github issue but I didn't see it documented anywhere. Are you planning to implement something like that in the future?

[2019-06-20 10:14] sujayvenaik commented on #6745
Closing this for now, if you face any other issues feel free to comment on this thread.

[2019-06-20 10:14] #6745 closed, assigned to nobody

[2019-06-20 10:19] harryi3t commented on #4578
@TastyMantou @thoward333 @SteveIves @cuzzlor @nergalex @jawn @seven-huang @MG-CDS

We were able to trace the root cause of this to a combination of OS version + GPU hardware + Driver versions that did not work well with Electron/Chrome (which is internally used by Postman).

We have updated the Electron version on our canary channel which you can get from
https://www.getpostman.com/downloads/canar

[2019-06-20 10:24] saswatds commented on #5404
Closing this issue in favour of the options feature.

[2019-06-20 10:24] #5404 closed, assigned to nobody

[2019-06-20 10:25] saswatds commented on #2734
Closing this issue for now in favour of the options feature

[2019-06-20 11:29] #4709 closed, assigned to a85, codenirvana

[2019-06-20 11:29] #4312 closed, assigned to codenirvana, vikiCoder

[2019-06-20 11:54] Simaky commented on #6635
Also happens on my Mac.

Version: 7.2.2
macOS: 10.14.4

[2019-06-20 11:58] sankalp0o commented on #6751
Thanks for reporting Cyrielle.

@abhijitkane If the last person is leaving the team, we should probably let him transfer shared collections and environments, instead of letting them be lost with the defunct team.

[2019-06-20 12:06] vicky18782 commented on #6296
Same issue here

Any help would really be appreciated

Thanks
Vikrant

[2019-06-20 12:20] barajasss commented on #65
thank you bro... i also had the same issue and forgot to put
header("Content-Type: application/json; charset=UTF-8");

[2019-06-20 12:35] ghost commented on #4272
As well as sorting collections, would be nice to also control the sort of requests INSIDE each collection

[2019-06-20 13:27] OpitiCalvin commented on #3358
+1 this feature is needed

[2019-06-20 13:31] labifrancis commented on #6736
Another user experiencing the same issue with this domain https://docs.oipa.nl/

[2019-06-20 14:08] stephen-farmer-avalara opened #6762 "Importing a json file throws an error"
**Describe the bug**
Attempting to import a json file (or json raw text) taken from a Swagger page will throw an error and not import.
`Error while importing Swagger 2.0: (Patchable) response.description is mandatory`

**To Reproduce**
Steps to reproduce the behavior:
1. Select Import button or File > Import
2. Select json file
3. Observe error is immediately thrown
4. Observe same behavior when u

[2019-06-20 14:13] Phara0h commented on #4905
I was told to add my suggestion here about making Postman Documenter released open source as our company can't have cloud-based hosting of our documents but love using postman. Having some way to spit out MD or HTML docs via the client and still keeping the option to hosting it on the cloud.

[2019-06-20 14:19] Yevhenii-me commented on #4770
OMG! Thanks, guys! I'll check it right now.

On Thu, Jun 20, 2019 at 7:14 AM Abhijit Kane <notifications@github.com>
wrote:

[2019-06-20 14:28] DigitalSecurityMod commented on #5759
I'm seeing a similar issue where my pre-request script for one of my requests does seem to be setting the initial value of my environment variable when running the request from the monitor. Everything persists as expected when I run my requests from the editor.

My editor is Postman for Windows - Version 7.2.2

[2019-06-20 15:04] ghost opened #6763 "Drip"
The httpbin repo:

https://github.com/postmanlabs/httpbin

offers drip method:

[code]

However it seems Postman Echo does not offer this service:

https://postman-echo.com

[2019-06-20 15:11] rodrigoimas commented on #2617
Great job, Postman Team! This has been a much anticipated feature!

[2019-06-20 15:41] shreys7 commented on #6680
@saswatds In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings. You can switch off the include temporary headers option in configurations of the snippet generated.

The options can be seen with the 'Ex

[2019-06-20 15:44] shreys7 commented on #6472
@liguoqinjim  In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'Experimental Codegen Mode' flag enabled in Postman's global settings. You can switch off the include temporary headers option in configurations of the snippet generated.

The options can be seen with the

[2019-06-20 16:00] shreys7 commented on #3412
Hey @who Can you try this is Postman 7.2.1, with the 'Experimental Codegen Mode' flag enabled in Postman's global settings? We've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet.

For this particular use-case, there's a separate curl-level 'MultiLine Curl Request' setting, which you can control onc

[2019-06-20 17:18] sankalp0o commented on #6692
@Kurmavathar thanks for reporting this!
I suspect that the user might not have edit permissions on the collection, hence she/he is not seeing the "Restore" option. Can you ask them to check if this is the case? One way to check would be to look for a "lock" icon next to the collection name in the sidebar.

[2019-06-20 18:59] cjtoth opened #6764 "JSON in CSV does not parse"
**Overview**
I have a POST endpoint that takes an array of an arbitrary size:

![Screen Shot 2019-06-20 at 12 44 35 PM](https://user-images.githubusercontent.com/13530304/59869565-33169080-9359-11e9-868d-c61dc031dd40.png)

The `vehicle_data` is fed by a CSV that contains JSON-like data:
![Screen Shot 2019-06-20 at 12 49 30 PM](https://user-images.githubusercontent.com/13530304/59869845-eaaba280-93

[2019-06-20 19:04] saif003 commented on #5301
I faced this issue again when I last tried around a month or two ago. Will check tomorrow if it is still happening or not.

[2019-06-20 21:34] drod3763 commented on #971
This is awesome, I just started using it for some API Testing and I have a couple of bits of feedback:

1. Seperate {{$randomPhoneNumber}} from Phone numbers with extensions as not all APIs deal with these in the same fields. Perhaps have another version call {{$randomPhoneNumberExt}} or {{$randomPhoneNumberWithExt}} so that we have a choice.

~2. As I understand it, I cannot access dynamic variab

[2019-06-20 21:45] bass3l commented on #4361
Hey @a85 ,

Thank you guys for this amazing tool. Here are some info so it can help you diagnose the issue:
Version: 7.1.1
Windows 10
Number of collections: 4 with around 20 small requests total
CPU usage while idle: +70% CPU usage at 100% the time
Here is a screenshot:

![Capture](https://user-images.githubusercontent.com/9248745/59883408-aa7e0b80-93bd-11e9-8298-e92b8677adb3.PNG)

Tell me if I ca

[2019-06-20 22:23] Jamiewarb commented on #5170
I also seem to be encountering this issue on 7.2.0

[2019-06-21 02:25] digaomatias commented on #6038
How can I plus one this?

[2019-06-21 02:31] digaomatias commented on #4854
Just adding to this. It would be helpful to actually run our integration testings, because then we could match mock-server data in our asserts.
Lets say we are testing ApiA, and it hits ApiB and ApiC. We don't care how ApiB and ApiC works. We could create mock-server for ApiB and ApiC and do our tests against ApiA, which would hit the mock-servers. Then, after the test against ApiA is ran, it call

[2019-06-21 03:36] saivan commented on #6722
Well. I was going to use postman for my tests. So you generate the openapi file; then make a collection from it. After that, write tests in postman. It would be good to not have to lose all of your tests when you want to change the openapi file.

[2019-06-21 03:39] preethammavin commented on #6722
@saivan thanks for the feedback it is a valid use case, will keep it as a feature request

[2019-06-21 04:25] JasonM77 commented on #4318
Regarding #5112, it would be good to get some better contrast between the background and foreground colours, especially in the Collection list and the Requests within the Collections. I don't want to use Dark Mode.

![image](https://user-images.githubusercontent.com/9814304/59897501-46485f80-9430-11e9-9cc9-ae5e928234be.png)

[2019-06-21 05:28] shamasis commented on #6763
Hey ... good find. Can you keep using httpbin. At some point we would merge the code that serves both. 😊 and not maintain two codebases.

[2019-06-21 05:28] #6763 closed, assigned to nobody

[2019-06-21 05:31] ghost commented on #6763
I can't use httpbin because it only offers https not http

[2019-06-21 05:41] kamalaknn commented on #6760
Hey @daehee75

Like you have mentioned I don't think this is a bug in Postman as such since you are also seeing it on a different tool on browser.

It looks like there is some issue with how these editors are rendering in your environment. Can you share more information on your system hardware, operating system and browser so we can check if there are any known issues related to it?

[2019-06-21 06:02] daehee75 commented on #6760
Hi @kamalaknn

Device : Macbook Pro (15-inch, 2017)
OS : macOS Mojave (10.14.5)
Browser : Chrome 74.0.3729.169 (64bit)

in Safari, there is no bug.

[2019-06-21 06:18] harryi3t commented on #6760
@daehee75
Could you give a try to our canary build which you can get from https://www.getpostman.com/downloads/canary
It has an updated version of the underlying platform (Electron) on which Postman is built.

[2019-06-21 06:31] preethammavin commented on #6757
@yaredw we have disabled control on minor and patch releases to ensure that all fixes are reflected to the major versions of the app (including security and bug fixes). This is done keeping in mind we do not want to break users workflow and the team continuously works to ensure there is no regression bugs. Please do file a bug with the issue, we will take on priority and fix it if it is a bug.

Th

[2019-06-21 06:31] #6757 closed, assigned to nobody

[2019-06-21 06:41] fergardi commented on #3874
Any news?

[2019-06-21 07:28] daehee75 commented on #6760
@kamalaknn

I tried PostmanCanary but still remain this bug unfortunately. :(

![image](https://user-images.githubusercontent.com/21234550/59905593-98de4780-9441-11e9-873d-a7947cbdee68.png)

[2019-06-21 08:03] tmdoit-zz commented on #6722
@saivan now I get it - tests, not examples 🙂

[2019-06-21 09:21] shamasis commented on #6758
Hmm... there is not enough info in this. But I can try shooting in the dark. :-p

Could the two servers have different root certificates involved? My hunch is that the server 2008 has older certificates and hence working. The server 2016 does not have this APIs SSL certificate in its trusted list. Maybe this doc could help? http://woshub.com/updating-trusted-root-certificates-in-windows-10/ or htt

[2019-06-21 09:33] shamasis commented on #6764
@cjtoth ... we fixed a number of bugs underlying the CSV parsing in latest release. I am assuming that this code path worked previously because a bug in parsing. This is a hunch from first impressions. @vikiCoder can elaborate if that is the case.

Our alternatives are:
1. Use a small CLI code to pre-process before sending to Postman
2. Check if providing additional CSV parsing options would help

[2019-06-21 09:41] shamasis commented on #5565
@dantench ... +1 on the fact that logs get ignored. Let us think more on this. Copying @vkaegis .

Essentially the problem statement is:
1. There are additional information that we want to convey as part of our test specs
2. The information is of same or similar importance level as the test's pass/fail status
3. Test status are limited to pass/fail/skipped

One solution we discussed is associating

[2019-06-21 09:44] shamasis commented on #4922
`pm.test.skip()` is available in sandbox. https://github.com/postmanlabs/postman-app-support/issues/2698 @WendallHersh

[2019-06-21 09:45] shamasis commented on #4922
There is an argument that assertions should not be manipulatable from outside. Hence, the combination of ideas in this thread: https://community.getpostman.com/t/bypass-or-skip-tests-for-a-request/2704/3 coupled with the new feature to be selectively able to run parts of collections in runner should solve this. Closing.

[2019-06-21 09:45] #4922 closed, assigned to codenirvana, vkaegis

[2019-06-21 10:01] shamasis commented on #4726
Just asking the experts in community: Are there any unseen side effects for implicitly trusting all certificates? :-p

Also, what if Postman always showed responses whether certificate is valid or not and instead showed a warning in UI if SSL is invalid. As a dev-tool, Postman's security considerations are different than a browser IMHO. We could always allow all responses (with warning for SSL fai

[2019-06-21 10:10] shamasis commented on #4693
Closing this and tracking it here https://github.com/postmanlabs/postman-app-support/issues/4808

We added mutating URLs and headers for requests ... mutating other parts like auth and body (to some extent) would follow in short to mid term. :-) Meanwhile, in UI we need to have ways to see what exactly was sent (since programmatic changes are hard to spot.)

[2019-06-21 10:10] #4693 closed, assigned to shamasis, vkaegis

[2019-06-21 10:11] shamasis commented on #4808
We added mutating URLs and headers for requests from within pre-request script ... mutating other parts like auth and body (to some extent) would follow in short to mid term. :-) Meanwhile, in UI we need to have ways to see what exactly was sent (since programmatic changes are hard to spot.)

[2019-06-21 10:20] shamasis commented on #3495
This is exactly how this works now! See attached screenshot. What am I missing?
<img width="850" alt="Screenshot 2019-06-21 at 15 47 43" src="https://user-images.githubusercontent.com/232373/59916192-2028bc80-943c-11e9-9345-cbafac191cfd.png">

Well, it could be that we fixed this (intentionally or as a side effect of fixing some other issue) and forgot to update this issue?

[2019-06-21 10:23] shamasis commented on #3495
Regarding:

The best way to do that is using variables and scripts. Use `{{$myRandomNumber}}` in request and set its value with collection scripts and a lot of other stuff we added in the last few years. Closing. :-)

[2019-06-21 10:23] #3495 closed, assigned to shamasis

[2019-06-21 10:30] shamasis commented on #4508
We missed replying to this. I'm so sorry for that. But it looks like a quick fix. All we needed to do was `JSON.stringify` the variable before setting it. I just tried this and it works.

Similar to:
[code]

Closing this. Down the line, we intend to support type-system on the variables. Then this stringification would also not be needed.

[2019-06-21 10:30] #4508 closed, assigned to vkaegis, saswatds

[2019-06-21 10:42] shamasis commented on #278
Showing a fully streamed response (HTTP2/Websocket/etc) is a different beast than the issue of choking on large responses. Additionally, postman does support receiving streamed responses... it just does not have a way to stream it to the UI and because it loads at one chunk, it causes buffer overflow.

What @mccannt mentioned at https://github.com/postmanlabs/postman-app-support/issues/278#issueco

[2019-06-21 11:07] rimKtari commented on #4460
You have just to update postman version

[2019-06-21 12:54] shamasis commented on #3768
This use-case can now be achieved using editable requests from pre-request scripts programmatically. Albeit this specific need to edit "body" is not yet supported. But is in the roadmap in short to mid term.

The same is being tracked at: https://github.com/postmanlabs/postman-app-support/issues/4808

[2019-06-21 12:54] #3768 closed, assigned to a85, vkaegis

[2019-06-21 13:00] shamasis commented on #3096
The reason phrase capitalisation has been fixed to match RFC https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.2 .

It now looks like
[code]

Meanwhile, we would work towards improving auto-complete and other such in-editor feature to better improve the experience.

[2019-06-21 13:00] #3096 closed, assigned to shamasis

[2019-06-21 13:11] shamasis commented on #3639
Summarising the issue: The original issue posted was around expecting an alternate behaviour of the collection run than it is done now. Currently, sub-selecting a part of the collection limits the runner from even being able to run any request pointed out of the scope using setNextRequest. This is by design. And changing this would break a large number of existing workflows. Having said that, this

[2019-06-21 13:17] vicky18782 commented on #6296
I found a fix from Postman Helpdesk

1. Navigate to the following links and confirm if all your collections are present here:

https://go.postman.co/me/collections - Personal collection
https://go.postman.co/team/elements?type=collection - Team collection

2. If you can see that all your collections are present then you can try deleting the postman folder at the following location:

Open File Expl

[2019-06-21 13:24] shamasis commented on #3817
@codenirvana @saswatds ... can we double check in the requesting mechanism that all postman injected line endings are OS agnostic and add tests for confirmation?

Also, for header having newline, @vkaegis lets bring the error upfront and out of console. Header with a newline is not a valid request that can be sent out. Currently the error for that is limited to console.

[2019-06-21 13:38] kamalaknn commented on #6730
This has been fixed in PostmanCanary 7.3.0-canary03 now.

[2019-06-21 13:38] shamasis commented on #971
Indeed! Thank you for such amazing feedback @drod3763.

I can see that we need to ensure that it is documented how to use this in scripts (point 2). Plus @codenirvana  is working on an API that would open up the function that we use to do variable replacement. Using that, point 2 will be resolved.

Point 1 is very true! I should have spotted that earlier. ;-) Even the APIs I deal with takes just n

[2019-06-21 13:39] kamalaknn commented on #6754
Fix for this is available on PostmanCanary 7.3.0-canary03

[2019-06-21 13:44] shamasis opened #6765 "Modify behaviour of $randomPhoneNumber and add $randomPhoneNumberWithExt"
Seperate {{$randomPhoneNumber}} from Phone numbers with extensions as not all APIs deal with these in the same fields. Perhaps have another version call {{$randomPhoneNumberExt}} or {{$randomPhoneNumberWithExt}} so that we have a choice.

Related to https://github.com/postmanlabs/postman-app-support/issues/971

[2019-06-21 15:21] zgirod opened #6766 "Link requests with their examples"
**Is your feature request related to a problem? Please describe.**
Sometimes I have a request with 5 different examples.  If a parameter name on the request changes I need to go into each example and manually make the update.

**Describe the solution you'd like**
It would be cool if example's parameters were linked to the request's parameter.  For example when you update a request's parameter user

[2019-06-21 15:47] vkaegis opened #6767 "Incorrect cursor on hovering over History items"
**Describe the bug**
The History section of the sidebar doesn't show a hand cursor when hovering over titles, indicating that it's not interactive when in actuality, it is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to History section of the sidebar
2. Hover over an item

**Expected behavior**
A hand cursor to show on hover, indicating interactivity.

**App information (please comple

[2019-06-21 16:56] JP-from-Postman opened #6768 "Javascript Error when trying to Merge a fork"
[Reported by Postman Support, on behalf of user]

**User report:**
_I am trying to merge some changes from a forked branch of my collection to the "master" and it loads a page with a spinning circle, and just sits there doing nothing. Checking the Console log in Chrome it appears to be throwing a Javascript error_

Error is:
`uncaught at fetchCollectionDiff TypeError: cannot read property 'find' o

[2019-06-21 19:48] chrisdeso opened #6769 "Improve messaging around the need for a unique username during account creation"
**Is your feature request related to a problem? Please describe.**
When creating a new account, Postman requires that both username and email address be _unique_.

When a username is already in use, the error message does indicate that the username is in use but that leads to some folks believing that they already have an account with Postman.

* [Learning Center documentation](https://learning.ge

[2019-06-21 20:09] loopDelicious opened #6770 "Cannot import collection with GraphQL requests"
**Describe the bug**
Importing a template with GraphQL requests fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to New+ button
2. Import Template called `Working with GraphQL`
3. See "something has gone wrong" error

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1461" alt="Screen Shot 2019-06-18 at 4 15 46 PM" src="https://user-images.gith

[2019-06-21 20:19] pdemello opened #6771 "Have Postman keep collections in the native filesystem and detect changes"
**Is your feature request related to a problem? Please describe.**
It happens a lot where I:
1. Import a collection.  Open some tabs.  Run requests and do stuff.
2. Pull from github.
3. Forget to re-import the collection.
4. I run an existing tab again.
5. Oops it was from before I pulled.
6. Feeling of frustration.

**Describe the solution you'd like**
Not sure how easy this is, but it would be g

[2019-06-21 21:22] drod3763 commented on #971
Thanks for the quick response @shamasis. I think if the documentation is made to make it easier to use in scripts (resolving Point 2), we can resolve Point 3 on our own allowing us to reuse the relevant items in different places.

[2019-06-21 22:55] mdobosz-isp commented on #5459
On more vote to persist the parameters in the dialog to the workspace/collection. It seems completely backwards that the parameters are not persisted but the token obtain via the 'New Token' button is.

[2019-06-22 01:40] Alfian5229 commented on #3358
+1 for this feature

[2019-06-22 04:30] ratpik commented on #6770
The underlying issue was related to an outdated schema of the collection being used. The version of the schema has now been updated.

[2019-06-22 04:30] #6770 closed, assigned to nobody

[2019-06-22 09:53] wabiloo commented on #4044
Thanks for this massive improvement!
The collection-level headers created through pre-request scripts also don't appear in the "Temporary Headers" panel on individual requests. Would be great if they could appear there as well!

[2019-06-22 10:15] kamalaknn commented on #6744
We've updated PostmanCanary 7.3.0-canary03 with a fix for this.

[2019-06-22 16:18] clairestreb commented on #5456
I, too, was looking for this exact same functionality as described by @avles.  I find it disheartening that Postman Support basically said No, and closed the issue.  Without this enhancement, we are forced to deal with multiple files, complicating the end user experience.  Please reopen this issue and enhance the Postman User Experience so we can continue on our Customer Journey.

[2019-06-22 18:16] JonathanNet opened #6772 "Upload file over 10 mb"
**Upload file over 10 mb fails**
I discovered that if I upload a image over 10 mb then my php doesnt recive the file from postman POST call, I post it as form-data.

[2019-06-22 18:44] shamasis commented on #6772
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/4375

Note that it’s been hit and miss for us in reliably reproducing this earlier. Maybe you could add more info to that issue.

[2019-06-22 18:54] JonathanNet commented on #6772
It dosent do black screen as the issue you posted.

I use the last version of postman, and then I select a file under 10 mb, it works, but if the file is larger I dont get any infomation about $_FILES in the php

[2019-06-22 21:35] shamasis commented on #6772
Ok. I have reopened the issue. We will try reproducing this at our end. Meanwhile, for us to be able to reproduce, kindly send us details of app version, OS and how much memory your system has. Also, are you uploading file as raw body or as part of form-data? As much information you send, it will help us that much to solve this faster.

[2019-06-23 04:43] abhijitkane commented on #6772
@JonathanNet Also, can you check the `post_max_size` and `upload_max_filesize` directives in php.ini? You can override this limit in your php script too - https://stackoverflow.com/a/11381040/384155

[2019-06-23 05:07] DawnImpulse opened #6773 "Implementation of JMESPath in Postman to apply query filters on JSON response"
Issue :
Most of the times the JSON returned by the backend has large no of lines & usually, we need to see one or two things in that entirely long JSON.

Solution:
Implementation of JMESPath query language baked inside postman to easily sort/filter the JSON.

Alternative:
Usually, I copy/paste the JSON at http://jmespath.org/ and then apply query filters.

[2019-06-23 05:48] shamasis commented on #6773
@DawnImpulse - having any query mechanism is the first part. We need a way to present that information elegantly. We are working on features that would make this possible.

[2019-06-23 07:15] Prussia commented on #4642
Should be something wrong with workspace data. After i clean up the workspace, it looks fine.

[2019-06-23 10:13] ziez commented on #2701
+1

[2019-06-24 03:19] flute commented on #3822
+10086

[2019-06-24 04:01] vdespa commented on #971
I have looked over the entire list and documented here my findings:
https://postman-quick-reference-guide.readthedocs.io/en/latest/dynamic-variables.html

Let me know if I should create any issues.

[2019-06-24 05:09] abhijitkane commented on #3233
@suttermichael Apologies for the delay on this. Is this something you're still seeing in Postman 7.2+? If yes, attaching a link to a RAML doc that's failing will help debug this.

[2019-06-24 05:10] abhijitkane commented on #6538
@kholmukhamedovme This is fixed in prod as well.

[2019-06-24 05:10] #6538 closed, assigned to nobody

[2019-06-24 05:13] abhijitkane commented on #3002
@anentropic @chappellnick @g4r37h Apologies for the delay on this. This has been fixed in the latest version of Postman - 7.2.1.

[2019-06-24 05:13] #3002 closed, assigned to numaanashraf

[2019-06-24 05:17] abhijitkane commented on #2857
Everyone - https://github.com/postmanlabs/postman-app-support/issues/2617 has been closed. The latest Postman version (7.2.1+) supports generating the request body from the Swagger 2.0 schema.

[2019-06-24 05:17] #2857 closed, assigned to numaanashraf

[2019-06-24 05:19] abhijitkane commented on #4018
@dotancohen This should be fixed in the latest Postman version - 7.2+

[2019-06-24 05:19] #4018 closed, assigned to numaanashraf

[2019-06-24 05:20] shamasis commented on #971
@vdespa the doc itself is a huge effort. I will create all the relevant issue needed around this and push changes to canary asap.

[2019-06-24 05:21] harsh-reality opened #6774 "SSO Implementation- Improve User Management"
**Is your feature request related to a problem? Please describe.**

After implementing SSO, the admin wants to ensure that all the users login through SSO *only*.
Currently, the users have to log out of their current session and then login through SSO.

The problem is- admins can ask our users to log out and log back in, but most likely, they would not because they don’t have to. Having more user