[2017-10-09 13:10] kamalaknn commented on #3608
@krmr

Could you open `Manage Tokens` from the `Available Tokens` dropdown and select the token and share a screenshot?

You can mask the `Access Token` field.

[2017-10-09 13:28] harryi3t commented on #3604
@jbrinkle We have confirmed the bug and have this fixed internally. We will be releasing a fix soon in the next version of Postman.

__We have also identified that this bug is specific to the authentication provider, in this case, `okta`.__

@devjack The `client_secret` parameter will not be part of the token request body if you have `Send as basic auth header` selected for `Client Authentication`

[2017-10-09 13:34] krmr commented on #3608
Sure, I had to take two screenshots as the token does not fit into the window as it has 876 characters.
![grafik](https://user-images.githubusercontent.com/3511772/31340685-3e722514-ad07-11e7-88ff-4a056375f521.png)
![grafik](https://user-images.githubusercontent.com/3511772/31340690-4245630e-ad07-11e7-99f9-1e95d15e9ea7.png)

[2017-10-09 13:36] medjai commented on #2941
@harryi3t I wanted to break this up into two issues but I am using a product that utilizes Digest Auth and ServerPush to reply back to the API call (continually pushes live information about the product).

When utilizing Digest Auth MD5 with local variables it seems to fail the first time even though "Yes, disable retrying the request" is turned off.

Second issue is that Postman doesn't seem to s

[2017-10-09 13:38] medjai opened #3611 "ServerPush Support"
No server push support on postman for API that continually provides live updates/information so long as the connection is alive.

Can we add support for this?

Video shows issue for ServerPush and DigestAuth issues but this bug/enhancement ticket is just for ServerPush.

Video: [REDACTED]

[2017-10-09 13:50] medjai commented on #2941
I forgot to attach the console log. Please see

![image](https://user-images.githubusercontent.com/16169426/31341365-46afeb88-acd7-11e7-809c-0412f42cdb8f.png)

[2017-10-09 13:53] mhw commented on #3608
I'm seeing the same behaviour on macOS 10.12.6. I've tried uninstalling Postman and then reinstalling, but that's made no difference. I can see the access token value on the Authorisation tab, but it's not getting added to the request headers (as seen in the Postman console log).

[2017-10-09 13:57] FelixBoers commented on #1137
Works as expected on Windows 10!
Thanks for this awesome feature. I've waited for this so long!

[2017-10-09 14:00] loraxipam commented on #3587
Thanks go also to you all. Getting this to work with variables would be AWESOME. I can see putting a variable in place of the DTD, so if the variable got expanded first, and then the ENTITY, that would be extremely powerful.

[2017-10-09 14:01] ameyvaert commented on #2247
+1

[2017-10-09 14:02] harryi3t commented on #2941
@medjai Thanks for the video and the screenshot. But unfortunately, they don't show what's happening behind the scenes. I need the logs for all the requests that are being sent.

To avoid too many back and forth comments here, would you mind joining our slack community channel where I can directly help you out?
Here's the link to join - https://www.getpostman.com/slack-invite

[2017-10-09 14:03] kamalaknn commented on #3608
Hi,

We've identified the root cause for the issue and fixed it internally. We'll roll out a fix within a week. I'll update this thread as soon as the fix is out on Production.

You can find the download link to `5.2.1` here - https://www.getpostman.com/apps#changelog. This will unblock you to continue working.

We're sorry for the trouble with the upgrade, we'll try to roll out the fix quickly.

[2017-10-09 14:05] harryi3t commented on #1137
Thank you @flex87 and @RobbyDeLaet for confirming the fix and thank you for your patience.
Closing this.

[2017-10-09 14:05] #1137 closed, assigned to czardoz, harryi3t

[2017-10-09 14:40] pilak commented on #1499
Hi,
yes should move top folder into top folder and make it subfolder...
Think about import too if possible
Thank you for the great job :)

[2017-10-09 15:27] zwtan commented on #3608
@kamalaknn I'm facing similar issue where information is entered for Google OAuth 2.0 but console stated that "parameter not for this message: state". This happens when 5.3.0 update came in, not sure if anything added in the backend. I've tried downgrade to 5.2.1 but no avail

<img width="1074" alt="screen shot 2017-10-09 at 11 24 02 pm" src="https://user-images.githubusercontent.com/8004516/31345

[2017-10-09 15:52] jbrinkle commented on #3604
Thanks for fixing. Is Okta doing something "wrong" or is it just an
implementation difference? Okta might be interested in knowing of the issue.

On Mon, Oct 9, 2017 at 7:28 AM Harendra Singh <notifications@github.com>
wrote:

[2017-10-09 16:50] sdauwalder opened #3612 "When I press on "Environment quick look" button, the application hangs"
## App Details:

[code]

## Issue Report:
When I press on "Environment quick look" button (the eye) the application hangs (consuming full CPU). I tried to reinstall, with no exit. Also happens in Canary version.
 1. Did you encounter this recently, or has this bug always been there: It appeared to me a few versions ago
 2. Expected behaviour: No hanging!
 3. Console logs (http://blog.getpostman.co

[2017-10-09 17:40] kamalaknn commented on #3608
@zwtan What you are experiencing is a different issue. You can find more details on it in #2811

[2017-10-09 18:21] stiggity commented on #2345
How do I switch between the two? (I happened across some key sequence and it went side by side, now I can't switch it back. This is the top hit when trying to Google how to switch back.)

[2017-10-09 18:30] stiggity commented on #2345
Okay - when you click the Settings button, the drop down menu has Settings at the top. Given the line beneath "Settings" I mistook this for a column header rather than a separately clickable entity. Click Settings there at the top of the dropdown.

Two-pane view is used to toggle between top down and side by side.

Plus side, in sorting this out I discovered Postman has a dark theme.

[2017-10-09 18:36] kamalaknn commented on #2345
@stiggity There is also a shortcut for switching the Two Pane View - `cmd + opt + v`(if you are on macOS) or `ctrl + alt + v`.

On the latest version of the app, you can use the toggle icon on the bottom right of the app. It should look like this

<img width="204" alt="screen shot 2017-10-06 at 11 29 36 pm" src="https://user-images.githubusercontent.com/8401064/31353082-c23e651e-ad4e-11e7-8fc7-4ba

[2017-10-09 20:48] kbuzby opened #3613 "Leading whitespace in variable value isn't preserved when saving from bulk edit"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered today and reproducible.
 2. Expected behaviour: If whitespace is entered in the value of the key-value pair in bulk-edit mode, it should be preserved.
 4. Screenshots (if applicable)
Existing environment variables:
![image](https://user-images.githubusercontent.com/2800467/

[2017-10-09 22:26] kbuzby opened #3614 "Difficulty re-ordering requests in folders"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered Today
 2. Expected behaviour: Request Should drop where the dividing line is
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable):

[2017-10-09 23:11] zwtan commented on #3608
@kamalaknn thank for the redirect to the correct answer. tested and work, cheers!

[2017-10-09 23:28] mlg-mario commented on #2316
Any update on this?

[2017-10-10 01:01] hungapl commented on #3606
Thanks for the quick reply.  After sending a request with basic authentication, I can see a Authorization header added to the request like the screenshot shown above.  Then I go back to Authorization tab, change to 'No Auth', click Send again.  I go back to the Headers tab, the Authorization field is still there with Value 'Basic XXXXX'.  So changing the Authorization to 'No Auth' does not seem to

[2017-10-10 03:29] S0im opened #3615 "JS in pre-request script does not work well"
Postman for Chrome
Version 5.3.0
win / x86-64
Chrome 61.0.3163.100

## Issue Report:

Creat a pre-request script like this:
 `    var date = new Date();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if ( month <= 9) {
        month = "0" + month;
    }
    if (strDate <= 9) {
        strDate = "0" + strDate;
    }
    var var1 = "string" + date.getFullYear() + month +

[2017-10-10 04:50] sryze commented on #3013
Isn't this issue #3013?

[2017-10-10 04:51] sryze commented on #3013
Can Postman do HTTPs traffic capturing similar to other proxies that generate you a unique root certificate (or whatever it is, not sure) and you just install it on the device? Again, I'm not entirely sure how that works, but mitmproxy and Charles can do it.

I would like to use Postman instead of those apps since it's easier and has a lot of other features (and the UI is much better) but right no

[2017-10-10 05:38] kamalaknn commented on #3606
@hungapl

Could you clarify if the header you are seeing is similar to the first screenshot(a yellow warning saying 'This is a duplicate header') or the second one(a black warning saying 'This is a temporary header')?

Temporary headers should be reset on changing auth, not the user entered headers(the duplicate header).

[2017-10-10 05:59] hungapl commented on #3606
I am not getting either a yellow or black bar on the side of Authorization:
![image](https://user-images.githubusercontent.com/30487789/31371418-faa15f94-add3-11e7-9ea1-78da656c8843.png)

[2017-10-10 06:16] kamalaknn commented on #3606
@hungapl could you join our [community slack](https://github.com/postmanlabs/postman-app-support#the-community) so I can get on a chat for more details, and avoid the back and forth comments on GH issue?

[2017-10-10 06:30] hungapl commented on #3606
@kamalaknn I would love to chat, but I wouldn't be online for the rest of the week due to family commitment.  I have request for a slack invite.  I am about to head off now, should be back online and testing with postman again next Monday.

[2017-10-10 07:09] harryi3t commented on #3013
@sryze Oh snap! Must have opened the same page in 2 diff tabs.
Re-opening it.

Although this is not on our immediate roadmap, we will take a look at the feasibility of this feature.
@shamasis Thoughts?

[2017-10-10 07:29] mwshubham commented on #414
is there any support to sort by title or time in addition to drag and drop support

[2017-10-10 07:58] harryi3t commented on #3615
@S0im This is just how javascript works.
You can try this in a node console
![image](https://user-images.githubusercontent.com/5207331/31375344-d75f120c-adbe-11e7-80a3-966f5eda4c6c.png)

[2017-10-10 07:58] #3615 closed, assigned to nobody

[2017-10-10 08:57] fosple opened #3616 "OAuth 2.0 issue in standalone app / working in Chrome"
## App Details:
[code]
(Standalone on Mac)

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Since upgrading from Chrome Postman 5.3. to standalone 5.3 the bug occurred. I migrated all settings via the download / import option in Postman settings dialogue.

Works in:
[code]

Doesn't work in:
[code]

 2. Expected behaviour:
Filled the OAuth2.0 dialog "Get new

[2017-10-10 09:26] dannyhajj commented on #3456
This may be an issue with Unity though. It used to happen to me with different applications as well. For example, when trying to open the file dialog to upload files in Firefox.

[2017-10-10 09:50] harryi3t commented on #3616
@fosple Thanks for reporting the issue.
Could you try restarting the app and try it again?

[2017-10-10 10:13] S0im opened #3617 "When close the newopened postman window , all postman windows are gone..."
## App Details:

[code]

## Issue Report:
Open a postman window from the OPEN NEW butten on the left top beside the Runner butten, then just close the new postman window, all your postman windows are gone......
![tim 20171010181015](https://user-images.githubusercontent.com/25290478/31381207-7316d78a-ade6-11e7-912f-70cf595726cd.jpg)

[2017-10-10 10:18] aaabramov commented on #2745
I will leave this for people who are using newer versions and are trying to find `Close All Tabs` button:

<img width="1020" alt="screen shot 2017-10-10 at 13 17 40" src="https://user-images.githubusercontent.com/11317222/31381539-8776916c-adbd-11e7-8e14-2c7524b133c6.png">

[2017-10-10 10:20] aaabramov commented on #2745
How? How this could ever happen? I have unassigned @vegetableman from this ticket :D

<img width="780" alt="screen shot 2017-10-10 at 13 19 10" src="https://user-images.githubusercontent.com/11317222/31381598-b387dc98-adbd-11e7-924f-03f6fbe81973.png">

[2017-10-10 12:05] sapiens-sapide opened #3618 "DAV, cardDAV, calDAV request methods"
## App Details:

[code]

## Feature request:
I'm working on a cardDAV server implementation and I must be able to use DAV related verbs as the request methods :
[code]

[2017-10-10 12:10] prashantagarwal commented on #3611
@medjai Thanks for suggesting this feature.

[2017-10-10 12:12] prashantagarwal commented on #3618
@sapiens-sapide We are already tracking a similar issue #166 . Closing this as duplicate.

[2017-10-10 12:12] #3618 closed, assigned to nobody

[2017-10-10 12:14] prashantagarwal commented on #3617
@S0im Thanks for reporting this issue. We are already tracking a similar issue #3222 .

[2017-10-10 12:14] #3617 closed, assigned to nobody

[2017-10-10 12:15] prashantagarwal commented on #3614
@kbuzby Thanks for reporting this. We will investigate the issue and keep you updated about this.

[2017-10-10 12:17] prashantagarwal commented on #3610
@Billy Thanks for pointing this out. We will get this updated soon. I am closing this issue as this is not a feature or bug related to postman app.

[2017-10-10 12:17] #3610 closed, assigned to nobody

[2017-10-10 12:22] prashantagarwal commented on #3613
@kbuzby Thanks for reporting this. We will get this fixed in upcoming releases.

[2017-10-10 12:24] prashantagarwal commented on #3612
@sdauwalder Thanks for reporting this. Just to debug this better, Can you let me know how many variables do you have in your Global variables and in the active Environment. Also can provide me a.
screenshot of devtools when you see this error.

[2017-10-10 12:26] prashantagarwal commented on #3609
@agelbess Thanks for reporting this issue. We will try to investigate this and keep you updated about this.

[2017-10-10 12:28] prashantagarwal commented on #3607
@wang6771264 If I understand this correctly, you want variable suggestion in raw body like we have in form-data or url.
Or you just want to use variables inside raw body.

[2017-10-10 14:02] djejaquino commented on #3386
@bhawna2109 First of all, thanks for implementing this.
But I have to say, that is not what we were expecting.
A simple option to disable the save confirmation would be much simpler and effective.
Please, keep this issue open until it happens.

Thanks

[2017-10-10 14:32] fosple commented on #3616
@harryi3t I did reboot my mac and now it works. Thanks.

[2017-10-10 14:37] eightyeighteyes commented on #2195
Thanks for the update, @bhawna2109 !!! Unfortunately, the ctrl+alt+w shortcut does not work for me on Windows 10 (alt-click to close works, and everything works for me in macOS Sierra).

[2017-10-10 14:38] fosple commented on #3616
@harryi3t
I know how to reproduce the bug:
1 ) Start Postman
2 ) Request token with "Custom callback URL" (which is responding wrong data)
3 ) Try to request another token with Postman callback URL (https://www.getpostman.com/oauth2/callback)
--> doesn't work

1 ) Start Postman
2 ) Try to request another token with Postman callback URL (https://www.getpostman.com/oauth2/callback)
--> works

1 ) St

[2017-10-10 15:23] harryi3t commented on #3616
@fosple
This should not happen (point 1)
Using an incorrect callback URL should show some error (if the server supports it)
and changing it back to the correct URL should just work fine

![ezgif-5-a29e63d492](https://user-images.githubusercontent.com/5207331/31394608-5a4361c2-adfc-11e7-846c-a70dec65036f.gif)

Is this not happening for you?

[2017-10-10 17:18] neverendingqs opened #3619 ""Send as Basic Auth header" Client Authentication option should NOT include "client_id" in the POST body"
## App Details:

[code]

## Issue Report:
1. Did you encounter this recently, or has this bug always been there:
    - I encountered this recently.

2. Expected behaviour:
    - When `POST`ing to `Access Token URL`, if `Client Authentication` is set to `Send as Basic Auth header`, the `client_id` should **not** be included in the `POST` body.

3. Console logs:
    - **Form Data**
grant_type:author

[2017-10-10 17:20] neverendingqs commented on #1360
Looks like 5.3.0 took a step closer, but still leaves `client_id` in the POST body for some reason. See https://github.com/postmanlabs/postman-app-support/issues/3619 for details.

[2017-10-10 17:35] neverendingqs commented on #3619
Closing for now - looks like I missed the following and need to think on this:

[2017-10-10 17:35] #3619 closed, assigned to nobody

[2017-10-10 17:39] kamalaknn commented on #3619
@neverendingqs this part of the RFC is why we've included `client_id` in all token requests. However, we've seen some providers rejecting the token request authenticates using Basic auth header and sends `client_id` in the body, although the RFC allows it.

[2017-10-10 18:14] lostpebble opened #3620 "Save Request Dialog "Select Collection" area is way too small and non-resizable"
## App Details:

[code]

## Issue Report:

The Save Request dialog allows you to select a collection at the bottom of the dialog. But this dialog only allows space enough for three collections to display at once, and can't be resized. It makes scrolling and selecting a collection feel rather awkward and cramped.

 1. Did you encounter this recently, or has this bug always been there:

Always been

[2017-10-10 20:31] udev commented on #1906
@cebor I think it's due to lack of an upvote/downvote system? I dunno... At any rate,

**+1**

[2017-10-10 21:00] chrisron95 commented on #3504
I have also been having this issue. Anytime I rename or reorder a call, I have to wait for the sync conflict dialog to pop up. The majority of the time there's not even any difference between the local and server values, but I always select local values. Also, a lot of times when I go to reorder any of my calls, I have to start to move it by clicking and dragging, then I have to wait for the app t

[2017-10-10 21:26] ian-weatherhogg-refractiv commented on #3604
I have the same problem and guessed the same - missing client_secret.
I've tried Send client credentials in body but it doesn't help - probably because the auth header isn't present.

[2017-10-10 21:27] zodeus commented on #3079
You are correct, thanks and sorry for that.

On Fri, Oct 6, 2017 at 2:32 PM, Vivek Thuravupala <notifications@github.com>
wrote:

[2017-10-11 02:49] rowinf commented on #3616
@harryi3t I'm experiencing similar problem, using implicit flow on microsoft's azure AD. The auth pop up disappears and I receive no token.
![azure-test](https://user-images.githubusercontent.com/964049/31420015-7d90940c-ae9b-11e7-8935-19b0fe7727cc.gif)

Postman 5.3
OSX El Capitan 10.11.6

[2017-10-11 03:02] harryi3t commented on #3616
@rob Please try restarting the app one and try again.

On Wed, 11 Oct 2017 at 8:20 AM, Rob <notifications@github.com> wrote:

--
Sent from my iPhone

[2017-10-11 03:27] rowinf commented on #3616
hey it worked that time 👍

[2017-10-11 03:46] kamalaknn commented on #3616
We are looking into why this is happening for the first attempt. We've found that restarting the app fixes this.

We'll work on a fix to make sure it works on the first attempt though.

[2017-10-11 05:25] andrewgl504 commented on #2302
+1

[2017-10-11 07:59] kunagpal commented on #3361
This has been fixed in v5.3.0 of the app, do go ahead and check it out 😄

[2017-10-11 07:59] #3361 closed, assigned to kunagpal

[2017-10-11 08:00] kunagpal commented on #3181
This has been fixed in the latest version of the app (v5.3.0), do go ahead and check it out 😄

[2017-10-11 08:01] kunagpal commented on #3239
@solvingj This is now supported in v5.3.0 of the app, do go ahead and check it out 😄

[2017-10-11 08:02] kunagpal commented on #3292
@AmrEldib Did the suggested fix work for you?

[2017-10-11 09:29] obkdev commented on #3616
Windows, Desktop App.

After retrieving a token using the OAUTH2 authorization, Postman is no longer attaching it to the authorization header (can be seen through Fiddler).

I have "Add authorization data to" set to Request Headers.

When I click "Preview Request" I get an error "Could not update authorization data".

Have restarted the app _numerous_ times.

My current workaround is to take the t

[2017-10-11 10:01] TomONeill opened #3621 "Exporting a collection cleans body.file.src"
## App Details:
[code]

## Issue
When having a file selected in the Body tab using binary data, this is what the exported Collection contains regarding the file:
[code]
Notice that request.body.file.src is empty. I read that this is normal (since it's not supported by Postman), but manually entering a file location like `"src": "./some.png"` works to be ran using _newman_.
However, when importing

[2017-10-11 10:04] Jasonlhy commented on #739
+1

[2017-10-11 10:31] harryi3t commented on #3616
@obkdev
We have identified this bug and have fixed it internally and we will be releasing this with Postman 5.3.1 (within a week).

I am sorry for the inconvenience caused 😞
For the time being, you can use the previous version.
Download Link - https://dl.pstmn.io/download/version/5.2.1/windows64

[2017-10-11 11:52] fosple commented on #3616
My behaviour is exactly the one of @rowinf

[2017-10-11 12:28] sdauwalder commented on #3612
Thanks for answering. I have found the causing problem. I tried to look at the global variables, and it was impossible, everything was hanging. The issue was that I was saving a 2MB json in a global variable. That made it impossible to view the global variables. When I deleted it, everything worked fine again.
So it is not actually an error, but maybe a improvement could be to show only partial in

[2017-10-11 12:45] prashantagarwal commented on #3612
@sdauwalder Good to hear you were able to debug it. Actually the idea behind quick look was to provide users a way to see their actual variable values, but yeah we never made it to handle MB's of data. We are working on some improvements for Environment quick look, we will surely take into consideration there.

[2017-10-11 12:45] #3612 closed, assigned to numaanashraf

[2017-10-11 13:20] willybill commented on #3181
Thank you!
    On Wednesday, October 11, 2017, 4:00:40 AM EDT, Kunal Nagpal <notifications@github.com> wrote:

This has been fixed in the latest version of the app (v5.3.0), do go ahead and check it out 😄

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-11 14:20] lef-nicolas commented on #1104
+1

And the possibility to set our own "ContentID" for each part :)

[2017-10-11 15:25] medjai commented on #2941
works as expected had to remove the echo variables.

[2017-10-11 15:26] medjai commented on #2941
@harryi3t  @shamasis can you please close this?

[2017-10-11 15:27] medjai commented on #3611
@prashantagarwal I want to clarify that this is not the HTTP2 ServerPush feature but HTTP/1.1 multipart/x-mixed-replace with boundary.

@harryi3t knows the details

example: http://www.howtocreate.co.uk/php/serverpushdemo.php

Example shows it for images but we use it using `Content-Type: text/plain` and `Content-Type: application/json` for real-time data pushed rather than multiple requests made

[2017-10-11 15:38] #2941 closed, assigned to shamasis, harryi3t

[2017-10-11 16:24] gaheinrichs commented on #1180
+1

[2017-10-11 16:26] psimoneau22 commented on #3608
just subscribing to this thread.  I have the same issue.  In addition, after upgrading, all of the settings that I previously had in my OAuth2 modal were wiped out and I had to go and re-enter all of that information.   I'm not sure if that will be fixed also, but it would be nice if upgrading in the future does not wipe out my settings.

[2017-10-11 17:27] cafferata opened #3622 "Scrollspy inside the documentation"
## App Details:

[code]

## Feature request

It would help end users when a scroll spy is added to online documentation. This makes it better to know which folder they are currently in. In our case, we have the versions as main directories. From there you can find the same call multiple times. For example, when you use the browser search option you don't know if you are looking at V1.0 or V2.0. By

[2017-10-11 17:52] ertyseidohl commented on #2489
I fixed this issue by moving the Postman executable from my Downloads folder into my system-level Applications Folder.

[2017-10-11 18:25] martincalvert commented on #3181
I am still seeing it with newman 3.8.3 and OSX app 5.3.0

Request looks like `{{proto}}://{{envhost}}/api/v1/{{path}}?{{params}}&cache={{$guid}}` and params is still getting a `=` at the end.

[2017-10-11 18:36] kamalaknn commented on #3604
We've rolled out a fix for this in our Canary channel in 5.3.1-canary01.

Here are the Canary download links for all platforms,
[code]

It would be great if someone could confirm this is fixed.

[2017-10-11 18:40] kamalaknn commented on #3608
@psimoneau22 we're sorry that we couldn't carry over the settings for OAuth 2 dialog after the update. We made several changes to internal workings of OAuth 2.0, and we couldn't do it while retaining existing data. Rest assured, this is a one-time event and subsequent updates will preserve the settings in the dialog.

As for the original issue, we've rolled out a fix for this in our Canary channel

[2017-10-11 19:01] jbrinkle commented on #3604
I just tried it.

It now works with Okta authorization server IF
* I set client authentication to be sent in the body
* I manually and explicitly set callback url to
https://www.getpostman.com/oauth2/callback even though the little help icon
says leaving the field blank uses the default URL (did the default URL
change? Is this a separate bug?)

Thanks for the fix.

On Wed, Oct 11, 2017 at 12:36 PM

[2017-10-11 19:10] veetil09 opened #3623 "Importing curl code into Postman should detect and decode "x-www-form-urlencoded' data"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

Encountered recently.

 2. Expected behaviour:

Sample ```cURL``` command generated by Postman:

[code]
Now if we try to import the above curl command, Postman does not decode the ``` config_type``` data correctly, like seen below:

<img width="597" alt="screen shot 2017-10-11 at 3 06

[2017-10-11 19:13] yunti commented on #2489
@ertyseidohl Thanks , that worked perfectly for me.

[2017-10-11 19:27] kamalaknn commented on #3604
@jbrinkle client authentication as Basic Auth headers does not work with Okta because Okta considers `client_id` in request body as a [duplicate credential](https://developer.okta.com/docs/api/resources/oauth2.html#token-authentication-methods). However, the RFC mandates us to send `client_id` in the body for all token requests. We cannot ignore this because there might be other providers who mand

[2017-10-11 19:35] kamalaknn commented on #2976
Hi @sivakrishnajee,

We've made sure OAuth 2 token requests use the client certificates configured in Postman starting `5.3.1-canary01`.

Here are the download links
[code]

could you verify this?

[2017-10-11 19:57] transome opened #3624 "Execution time display improvements"
It would be nice to be able to see a running execution time during a call, instead of just waiting to see after the call finishes. It would also be nice to be able to display it in a more human readable format (aka minutes) and be able to copy the execution time.

[2017-10-11 20:14] transome opened #3625 "Collections Pane improvements"
It would be nice to have a collapse all button, and be able to have more than one level of hierarchy.

[2017-10-11 20:24] kamalaknn commented on #3616
@obkdev we've rolled out a fix for what you are seeing on our Canary channel. You can find more details on it [here](https://github.com/postmanlabs/postman-app-support/issues/3608#issuecomment-335907768).

[2017-10-11 20:34] nithril commented on #2454
It exists jsonpath libraries for javacript since years:
https://github.com/s3u/JSONPath
https://github.com/dchester/jsonpath

[2017-10-11 21:34] a85 commented on #119
Raw dumps are part of the console now: https://www.dropbox.com/s/6wggehds1qcp6k8/Screenshot%202017-10-11%2014.34.22.png?dl=0. So glad to finally close this issue. :)

[2017-10-11 21:34] #119 closed

[2017-10-11 22:06] RobPostman commented on #3489
We have another request for this from another user.

[2017-10-11 23:53] thegoldenmule commented on #812
Bump-- any update? The workaround for this bug is another bug (#2392) that needs yet another workaround.

[2017-10-12 00:49] serkand opened #3626 "Console displays request body as "=undefined" string when viewed in "Raw" view"
## App Details:
Postman for Windows
Version 5.3.0
win32 10.0.15063 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently
 2. Expected behaviour:
Request Body is displayed correcly in raw view
3. Screenshots (if applicable)
![consolerawview](https://user-images.githubusercontent.com/22509908/31473940-5403cd4a-af43-11e7-9096-61db03e2b20b.jpg)

Steps

[2017-10-12 01:45] steresi commented on #3316
Okay, I'm using Postman 5.3 and still hoping we will eventually get a keyboard shortcut for "Don't Save" when closing an individual tab. I believe in Mac dialog boxes, the default keyboard shortcut for each button was "command" plus "first letter of the button name." I don't know if that's still a Mac standard, but it's the behavior in Microsoft Word and BBEdit for instance.

[2017-10-12 01:46] a85 commented on #3316
@steresi The shortcut is Cmd/Ctrl + Alt + W as @bhawna2109 mentioned in her comment.

[2017-10-12 01:56] steresi commented on #3316
I see! Thanks!

However, if you hit command-W to close the tab, it still brings up the "Do you want to save your changes?" dialog box, and there's no keyboard shortcut for the "Don't Save" button. You have to think ahead of time and hit command-option-W. That will close the tab without bringing up the dialog box.

That seems a bit like unusual behavior... I'm not familiar with a Mac app that gives

[2017-10-12 03:36] #3066 closed, assigned to prashantagarwal

[2017-10-12 03:39] #3507 closed, assigned to sdnts

[2017-10-12 03:39] #3510 closed, assigned to sdnts

[2017-10-12 03:40] #2495 closed, assigned to sdnts

[2017-10-12 03:42] #2604 closed, assigned to czardoz

[2017-10-12 06:21] kusumaRS opened #3627 "Hi,"
## App Details:

[code]

## Issue Report:
 1. Recently encountered
 2. Expected behaviour: I have around 31 test cases i expect all of these text cases to run but only 17 of them are executing .
 3. Console logs :i don't find logs on running the collection
 4. Screenshots (if applicable)
![screenshot from 2017-10-12 11-51-29](https://user-images.githubusercontent.com/29597683/31482153-b17ae688-af4

[2017-10-12 06:27] #3627 closed, assigned to nobody

[2017-10-12 06:28] numaanashraf commented on #3620
Thanks for the feedback @lostpebble. 😃

[2017-10-12 06:31] numaanashraf commented on #3622
Thanks for the suggestion @cafferata

[2017-10-12 07:04] sdnts commented on #3626
@serkand Thanks for reporting this! I was able to reproduce this with a raw POST body, we'll get a fix out with an upcoming release, planned sometime next week.

[2017-10-12 07:14] prashantagarwal commented on #3594
@chrisron95 I can suggest you a workaround. You can create a local node server and expose a POST endpoint from that. Then you can start sending your API response to this POST request and on the server side just write this received response to a file. This is a [blog post](http://blog.getpostman.com/2017/09/01/write-to-your-local-file-system-using-a-postman-collection/) which will help you in doing

[2017-10-12 07:15] prashantagarwal commented on #3489
@RobPostman @Pawana93  I can suggest you a workaround. You can create a local node server and expose a POST endpoint from that. Then you can start sending your API response to this POST request and on the server side just write this received response to a file. This is a blog post which will help you in doing that. Also we recently included pm.sendRequest which will help you in sending a request f

[2017-10-12 07:22] prashantagarwal commented on #3572
@bobderrico This looks weird. As far as I know we don't do any sort of manipulations on the received response. Also response is displaying some error related to Java whereas Postman uses Javascript. I will assume your server is built using Java so this could be possible that you are receiving this response from server itself.

[2017-10-12 07:29] prashantagarwal commented on #3522
@PerthCharern Can you clarify what output you are expecting here. Also can you try this by using `/pet{{aaaaa}}` instead of `/pet{aaaaa}`.

[2017-10-12 07:32] prashantagarwal commented on #3625
@transome Are referring to the sidebar ?

[2017-10-12 07:35] prashantagarwal commented on #3624
@transome Thanks for the suggestion. Just out of curiosity what use you are trying to achieve. Generally response time for requests are in seconds. Also any particular reason you want to see running execution time here.

[2017-10-12 07:49] harryi3t commented on #3603
@fmohammedjackpine Just to confirm, you want to be able to directly __use a token from env variables__
If this is the case then I am happy to inform you that with Postman 5.3.0 we have added an extra input field for __Access Token__

Now you can use an env/global variable
  ![image](https://user-images.githubusercontent.com/5207331/31484909-a700b650-af4f-11e7-9512-efab5b3c1465.png)

Let me know if

[2017-10-12 08:07] prashantagarwal commented on #3598
@Architmantry I don't this this is an issue related to Postman. We use this Github repo to keep track of bugs and features. I think stackoverflow would be a better place for this question.

[2017-10-12 08:07] #3598 closed, assigned to nobody

[2017-10-12 08:12] prashantagarwal commented on #3596
@drake1979 Thanks for the suggestion. This is there on our roadmap but I don't have exact timeline for this. We will keep you updated about this.

[2017-10-12 08:15] kamalaknn commented on #3597
hi @gabipetrovay,

The assumption now is that only successful request/collection runs will update the environment/global. That being said, it should be possible to do what you are looking for.

Let's say that you had a function to skip the current request from the script without throwing an error, would that solve your use case?

[2017-10-12 08:18] #2615 closed, assigned to kamalaknn

[2017-10-12 08:19] #2659 closed, assigned to harryi3t

[2017-10-12 08:39] alahosky commented on #3389
Agree this is very, very annoying.

When you think about it, for saved items in Collections:
- Authorization: you probably edit once and never again
- Headers: same
- Body: I'm constantly changing values in here

So Body should just be the 1st (and default) tab, as it is by far the most used.
thanks!

[2017-10-12 08:42] #3021 closed, assigned to nobody

[2017-10-12 08:43] #3534 closed, assigned to numaanashraf

[2017-10-12 08:44] #3247 closed, assigned to sdnts

[2017-10-12 08:57] ocallm1 commented on #3021
thanks I've updated and haven't seen the problem again locally! It was with a tab I think that threw an error and I had maybe 50 tabs open, I think closing them all fixed it too!

[2017-10-12 09:10] koenbud commented on #1475
PowerShell would be great! +1

[2017-10-12 09:34] stsrki opened #3628 "Easier to create collections for CRUD requests"
It would be great of there is an option to create collection based on the predefined template.
Right now I have collections for my APIs that have requests for create/get/getAll/update/delete. Every collection is defined for different model (Employees, Departments. Cities, ...) and almost all of them have the same structure. The problem is that when I need to add new collection for my model i need

[2017-10-12 10:42] Nuluvius opened #3629 "Bulk Reordering"
## App Details:
[code]

## Issue Report:
I can't seemt to find a way to reorder a number of requests beyond drag & drop. This causes significant inconvenience if there's lots of similar requests.

For example, when recording a user's workflow through a site and then wanting to replay this later: If one saves the requests to a collection and then replays this it will play the requests in the wrong

[2017-10-12 10:58] krmr commented on #3608
Thanks for the update @kamalaknn , I have just tried with the Canary version for windows 64 bit and it workes fine for me.

[2017-10-12 12:16] FreeWillaert commented on #3058
Any news on this?
Sharing templates is a good thing, but whenever a template is updated it must be manually synched, which is a real pain...

[2017-10-12 12:17] prashantagarwal commented on #3629
@Nuluvius Thanks for suggesting this feature.

[2017-10-12 12:18] prashantagarwal commented on #3628
@stsrki Thanks for suggesting this feature.

[2017-10-12 14:00] transome commented on #3625
Yes, the collections pane on the left side.

[2017-10-12 14:05] transome commented on #3624
For me the times are in milliseconds. I often start a long running api call, but forget to keep track of when I started it, and it would be useful to see how long it has gone for already in case it has gone for longer than expected, or just to have an idea of how long it has left to go. I often have to share execution times with other team members, and currently when I have to do this, I have to m

[2017-10-12 15:13] mbuquet commented on #3625
I agree, I would love to have a "Collapse all collections/folders" button. I have a lot of collections and each with a lot of folders.

[2017-10-12 15:14] malyalal opened #3630 "Issues with version 5.2.1 - Request payload keep changing to the previously saved request after saving the response."
Once a request is sent and the response is saved, the request is not available to resend again.
Then clicking back on the request will remove the saved request payload
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **In this version of postman.**
 2. Expected behaviour: **Option to "Resend" the request without clicking back button

[2017-10-12 15:52] Dismissile commented on #3604
Seems Postman 5.3.0 also doesn't like id_token for OpenID. I get a token back in the response (inspected with the Console) but Postman shows Access token undefined. In the old version it wouldn't automatically copy the token to the Authorization header (since it was expecting access_token) but I could at least copy it manually. Now I don't see it in the dialog.

New version:
![image](https://user-

[2017-10-12 16:41] kamalaknn commented on #3604
Hi @Dismissile,

Could you try out our Canary Apps and see if this is fixed? You can find the download links [here](https://github.com/postmanlabs/postman-app-support/issues/3604#issuecomment-335906596).

If not, please share the details of the provider so we can identify and fix this.

[2017-10-12 17:03] varsitynetworks commented on #3608
Also having same problem with PM 5.3 using Mac OS 10.12.2

After obtaining access token, and clicking on "use token" (obscured in window, by the way), subsequent api calls all claim that authorization header is missing. Enclosed is a screen shot.

As can be seen, the token is there and "supposedly" being used. The request is a get and scope was correctly set on token request.

![image](https://use

[2017-10-12 17:24] kamalaknn commented on #3608
@varsitynetworks We've rolled out a fix for this on the Canary channel. The download links are in the [comment above](https://github.com/postmanlabs/postman-app-support/issues/3608#issuecomment-335907768).

We'll push an update to the stable channel with this fix in a few days.

[2017-10-12 17:26] PerthCharern commented on #3522
The Postman host name is not populated correctly:

If the path is simply `/pet`, you will get `http://petstore.swagger.io/v2/pet` in the host name box.

But when the path is `/pet{aaa}`, you will get `pet:aaa`. The expected hostname should be `http://petstore.swagger.io/v2/pet:aaa`.

Using `/pet{{aaa}}` gives this hostname: `pet:/:aaa`, which is still incorrect. Even if this gives out the correct

[2017-10-12 17:29] JacksonBailey opened #3631 "Disabling SSL certificate validation doesn't seem to work in native"
## App Details:

[code]

## Issue Report:
 1. When I used the Chrome App, if I set a page and got the general error about SSL issues, but visited it in Chrome and added a security exception, then I would still be able to hit it
 2. In the native app, I can't seem to disable SSL certificate validation, even when the option is off in the settings.
3. In the Chrome App it seems to work when I disable

[2017-10-12 17:36] PerthCharern commented on #3522
Just to clarify why `http://petstore.swagger.io/v2/pet:aaa` is the expected hostname. This is how you guys currently parse path parameter: `/pet/{petId}` gets parsed into `http://petstore.swagger.io/v2/pet/:petId`. (Use the host and base path in the doc, and then append the path, and replace `{variable}` by `:variable`).

When path is `/pet{aaa}`, the path itself gets translated to `pet:aaa` but i

[2017-10-12 17:53] krich commented on #3537
@harryi3t
Hello Harry!
  I picked up the latest version of Postman and see the new UI for OAuth 2.0, GREAT!!!

However, I am having a little trouble getting my access token. I have completed the new GET NEW ACCESS TOKEN form, and click Request Token.

The call-back works, and I am able to log into the Grant Access page and grant access. However, nothing happens after that. I don't get an Authoriza

[2017-10-12 18:12] Dismissile commented on #3604
This build fixed the issue!

Travis Ellis
Solution Consultant
Mobile: 402.415.6398
Deliveron Consulting Services
[cid:image009.png@01D1E822.C4FFDE10]<http://www.deliveron.com/>

[cid:image016.png@01CF0620.0729E520]<https://www.facebook.com/deliveron>

[cid:image017.png@01CF0620.0729E520]<https://twitter.com/deliveron>

[cid:image018.png@01CF0620.0729E520]<http://www.linkedin.com/company/deliveron-

[2017-10-12 18:17] nicksloan commented on #3604
@kamalaknn Many OAuth2 server implementations are (and should) be picky about matching the client with a registered callback URL. The feature of shepherding the authorization code for users is very useful, but it is completely useless if you don't tell us what callback URL to use with our client.

[2017-10-12 18:27] Dismissile commented on #3604
@kamalaknn That did not fix the issue. I posted a comment on another issue that this build did fix, but the dialog still shows undefined when the auth server only returns an id_token.

[2017-10-12 20:04] clarkeb commented on #3025
Currently having this same problem in postman v5.3.0, Windows native client.

[2017-10-12 20:39] 2bj commented on #1947
+1

[2017-10-12 20:40] ghost commented on #3603
Harendra,

Maybe, unfortunetly since I moved to 5.3, and I tried 5.3.1 Canary. I
cannot get past the REQUEST TOKEN to validate. After I click request token,
I go through the user sign in then the pop-out collapses after
authentication. After that anytime I click REQUEST TOKEN the popout opens
and closes immediately. I have to restart POSTMAN and the process repeats
itself.

Regards,
Faisal

On Thu

[2017-10-13 00:35] gregarrayent opened #3632 "Feature request: Allow multiple customizations of favico.ico, logo and URL for Postman doc publishing"
## App Details:
[code]

## Issue Report:
We are a SaaS company and we need to publish documentation for multiple tenants

Current Postman
1.	Allows us to publish with a custom URL to match our tenant’s brand – That’s great and we can do this multiple times for multiple tenants
2.	Allows us to customize the logo – great – but only one logo? (we’d like as many logos as URLs)
3.	Does not allow us to

[2017-10-13 06:33] chhorz commented on #2336
Hey there,
its a while since the last update on this issue. Is there any update in the meantime?
This would be a very helpful feature.

[2017-10-13 07:27] cen1 commented on #1947
I guess this is kinda solved now by using global or env variables in postman collections. For example, adding a JWT token to all requests in a collection:
1. Acquire the auth token and write a test that sets a global variable.
2. Use the global variable in Authentication header in other collection requests.

Not 100% what people here have in mind but shuld have the same effect on collection level.

[2017-10-13 08:04] Faz540 commented on #3428
I'm able to reproduce this on windows client 5.3.0
`
{
	 "isRestricted": false
}
`
Given I have the above response in an endpoint.
I hit the GET request and save the value as a postman variable.
`
var response = JSON.parse(responseBody);
postman.setEnvironmentVariable("myBoolean", response.isRestricted);
`

I duplicate the endpoint but this time I'm asserting that the value returned in the respons

[2017-10-13 08:13] DavydeVries commented on #3608
@kamalaknn Tested on macOS 10.13.1 bèta (17B25c) with Canary version and it works! Thank you a lot because we were struggling the last couple of days with this issue!

[2017-10-13 08:22] harryi3t commented on #3537
@krich Can you try these steps
- Restart the app (Quit and Reopen on mac)
- Make sure you send the client credentials in the header and not in body. For this choose `Send as basic auth header` from the `Client Authentication` dropdown

If it does now work, please see this small video that I recorded.
https://youtu.be/yzkE5I9ysBg

If you still have issues, you can contact me on our slack community

[2017-10-13 08:39] harryi3t commented on #3603
@fmohammedjackpine I am sorry to hear that the new version is not working for you.
There is an issue about it here https://github.com/postmanlabs/postman-app-support/issues/3604.
Please comment on that thread with the error message you are getting, and we will try to find the issue. Details are very much appreciated.

And, since this issue was about  "to be able to directly use an env variable for

[2017-10-13 08:39] #3603 closed, assigned to harryi3t

[2017-10-13 10:03] andymcf opened #3633 "Feature Request: Enable Send and Download in Runner"
## App Details:
Mac Version 5.3.0 (5.3.0)

## Feature Request

I'd like to be able to use the Send and Download option from within Runner

[2017-10-13 11:08] nicksloan commented on #3604
I just wanted to update based on my comment above so that it may clarify things for some users.

It appears that Postman is now grabbing the authorization code directly from the URL, rather than requiring that it be sent to a particular server. It can do this because it is serving as the user agent for the OAuth2 flow. It seems that you can use any valid URL, and the URL may not even need to be re

[2017-10-13 11:58] harryi3t commented on #3604
@nicksloan

Correct!

Yes, if you have registered your application with one or more callbacks, you MUST use one of them. Otherwise, you can put anything. We will use a default empty URL if not provided.

No, it's not an actual URL.

It's work in progress and will be updated soon.

[2017-10-13 12:23] nicksloan commented on #3604
@harryi3t So what is the default URL that you send if the user doesn't supply one?

One more question: does the callback URL ever get loaded by postman, or does it simply cut the process after receiving the 302 response? Would it work with an authorization server that uses JavaScript location.href (or, hell, even a hyperlink) to send the user to the callback URL? Technically, I think both are vali

[2017-10-13 12:57] harryi3t commented on #3604
@nicksloan
We will use `/` as default callback URL

We are listening for the [electron events](https://github.com/electron/electron/blob/master/docs/api/web-contents.md#class-webcontents) for any redirects or any navigation change. Please let us know if it's not working for some specific auth providers.

In most cases, the callback URL won't be hit. But if for some reason the event did not fire be

[2017-10-13 14:04] timeshifter opened #3634 "Feature request: Default values for Bearer Token authentication"
The thing even suggests using an environment variable for that field, it would make sense for it to remember when you do so.

Also, that message could do with not appearing on every single window, especially after it's been dismissed a dozen times...

[2017-10-13 14:30] timeshifter commented on #3634
It seems it already does both, it just didn't "click" immediately. Might have just gotten confused with already-open tabs.

[2017-10-13 14:30] #3634 closed, assigned to nobody

[2017-10-13 15:59] kamalaknn commented on #3604
@Dismissile  We've identified why the token responses without `access_tokens` do not show the response in the token details.

We have a fix ready for this and will push it out in the next release in a few days.

[2017-10-13 16:06] a85 commented on #574
Closing this issue for now as the Chrome app platform itself has been deprecated. We have open-sourced several libraries that are part of the new Electron app: https://github.com/postmanlabs. We still need to refactor large parts of the codebase and work through data layers. Will hopefully have more to share in 2018.

[2017-10-13 16:06] #574 closed

[2017-10-13 16:08] a85 commented on #1435
I don't think we'll modify any URL directly but we will show helpful warnings to get out of error states like this.

[2017-10-13 18:13] bobderrico commented on #3572
That is correct that this is a Java server, however the request returns the expected result of `1` with `curl` and Javascript's `fetch()` API.

I am beginning to think that this is actually an underlying issue with NodeJS. We are exploring several avenues for testing, including using NodeJS and the Chakram testing library, and I see the same result there as on Postman. I haven't had a chance to do

[2017-10-13 20:39] grandcamel commented on #1113
@premsompura Would you be so kind as to share your hack/workaround for this issue?

[2017-10-14 07:11] gareth-a-jones commented on #3608
it works some of the time in the canary, but some of the time still just stops as previously.  very flaky.  Plus Doesn't give any sign that it refreshes automatically yet, so need to do that in a collection request, so need it to go into an environment variable, not a header, so the first request in the collection can be to run token refresh.

[2017-10-14 07:23] ssp0xd7 commented on #3440
I've tried Version 5.3.0,it feels better,thx~

[2017-10-14 18:17] gustaf-uy commented on #350
Hi, everybody!
I implemented a php script for importing .har files into postman collection v2.
https://github.com/gustaf-uy/postman-importer

I spect this helps.

[2017-10-15 09:04] matiashidalgo commented on #2819
+1

[2017-10-15 10:03] syberkitten commented on #3127
having the same issue, for express (nodejs) app
which uses HTTPS.

The response is returned and parsed using my tests,
but postman says could not get any response.

postman version: 5.3.0

[2017-10-15 10:58] dotancohen opened #3635 "Pretty View hiding HTML in application/json responses."
## App Details:
[code]

## Issue Report:
 1. I'm not sure how long the bug has been in Postman, I just noticed it now.
 2. Expected behaviour:
When there is HTML in an application/json response, it is not show in the Pretty view. This makes debugging difficult. Common server side technologies, such as PHP with xDebug, will output errors in HTML.
For instance:
[code]
The Pretty view will show the f

[2017-10-15 14:27] nicksloan commented on #3604
@harryi3t One more thing to note, and then I'll get out of your hair. You have been super helpful.

I would recommend changing the default callback URL. "/" is unlikely to be a valid value for any OAuth2 provider (as it would imply redirecting to a URL on the provider's own server), and probably isn't something that the user can register with most providers. If that is the case, then it seems less

[2017-10-15 15:07] yishaycompit commented on #1429
+1

[2017-10-15 21:16] cpironmo opened #3636 "Content-Type always set to text/html."
Postman for Mac
Version 5.3.0
OS X 17.0.0 / x64

## Issue Report:
 1. I believe I've only begun to encounter this since I installed a recent update.
 2. When I set a header Key: Content-Type Value: application/json I expect to see this in the results Header section after sending my POST request. However it always remains as Content-Type: text/html; charset=utf-8. This prevents my node API using th

[2017-10-15 21:32] ronaldsalas opened #3637 "Postman callback url not in authentication helper"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: No

Before version 5.3.0, the Postman callback url can be found and can be copied when trying to get a OAuth2 access token thru the authorization helper. But I can't find it now. Can we find it somewhere else in Postman? The callback url field is blank when I open it.

When trying to s

[2017-10-15 21:55] ykhodos commented on #2454
It looks like there is JsonPath for Javascript
[https://www.npmjs.com/package/jsonpath](https://www.npmjs.com/package/jsonpath)
[http://goessner.net/articles/JsonPath](http://goessner.net/articles/JsonPath/)
What does it take to make it work in Postman?

[2017-10-15 23:36] hungapl commented on #3606
@kamalaknn I have joined the postman slack community

[2017-10-15 23:42] catcalling commented on #2734
Hi, I also have the same problem. Can i ask when will this be fixed? :(

[2017-10-15 23:43] catcalling commented on #2734
Hi, I also encountered the same problem. Is this fixed already?  Or when will it be fixed? :(

[2017-10-16 01:41] sdknintex opened #3638 "Postman 5.3 keeps deleting mode-auto.js"
## App Details:
Postman for Windows
Version 5.3.0
win32 10.0.14393 / x64

## Issue Report:
Postman regularly says it can't find _/AppData/Local/Postman/app-5.3.0/resources/app.asar/html/mode-auto.js_. I have been unable to track down exactly when this occurs, although it reliably has occurred by the start of each day, after system has hibernated for several hours.

This prevents me getting new OAu

[2017-10-16 05:13] okonomiyaki3000 commented on #2369
Congratulations on v5.3! The new features look really great! I look forward to using them someday if this glaring, year-old bug ever gets fixed!

[2017-10-16 05:24] gabipetrovay commented on #3597
There are 3 ellements that are important for our collections to work properly:

1. Skipping the request if a validation/consistency error is detected
2. Saving some global variables to perform in-between execution validations and deletion protection
3. Displaying a human readable UI error to the user showing what he did wrong, what he is missing or what request to execute instead

Until recently,

[2017-10-16 06:30] prashantagarwal commented on #3632
@gregarrayent Thanks for suggesting this feature.

[2017-10-16 06:58] kamalaknn commented on #3637
Hi @ronaldsalas,

In the `5.3` version of Postman we've removed the restriction on callback URLs, i.e. you can enter any value in the callback URL input. This is because not every user has control over changing the callback URLs the can register with the identity providers.

So you can use any URL in the callback URL input, as long as it matches with the one you have registered with the identity p

[2017-10-16 07:33] prashantagarwal commented on #3625
@transome @mbuquet Cool, thanks for the suggestion.

[2017-10-16 07:40] prashantagarwal commented on #3624
@transome I think a better solution would be to add a test case for this scenario in user rest script.
Something like this
[code]
So now you can very easily keep a check on your response times. Also you can use Moment.js in your test scripts, so you can convert this time into whichever format you like and log it in Postman console (from where it should be very easy to copy).

[2017-10-16 08:18] matiashidalgo opened #3639 "Runner do not run a whole Collection with folders if setNextRequest is used"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I'm pretty new with Postman Collection Runner, working with request for a long time ago, now trying to make my day to day easier I've learned how to use "setNextRequest" then I can make conditional flows which result in a perfect way to test use cases but then I noticed that I can't ru

[2017-10-16 09:41] kamalaknn commented on #3606
@hungapl you can find me at `@kamalaknn` on the community slack, feel free to reach out to me.

[2017-10-16 09:54] Rob-Barrow opened #3640 "Feature Request -"
## App Details:
Postman for Linux
Version 5.3.0
linux 4.8.0-53-generic / x64

[code]

[2017-10-16 09:59] josslamberti opened #3641 "Feature request: allow setting through a variable the name of the file to upload"
## App Details:
Postman for Windows
Version 5.3.0
win32 10.0.15063 / x64

## Feature Request:
When a request includes a file to upload, I'd like to be able to set the name of the file through a variable and/or in the pre-request script.
Currently, when I set the body to 'form-data' and add a key with the type 'file', the only way to set the file to upload is through the file picker. It would be us

[2017-10-16 11:31] red15 commented on #3314
I've also encountered this, I did notice the `reponseBody` does contain the actual PDF data. (ChromeExtension)

Can also confirm exact same request works in "native" application.

[2017-10-16 13:11] wangzhi0417 opened #3642 "Different results between 5.3.0 32bit and 64bit"
I tested using 2 different version postman:

Version A - Postman for Windows
Version 5.3.0
win32 6.1.7601 / x64

Version B -
Version 5.3.0
win / x86-32
Chrome 61.0.3163.100

1) url:
`http://www.xxx.net/rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=updated_at&searchCriteria[filter_groups][0][filters][0][value]=2017-10-06 7:50:56&searchCriteria[filter_groups][0][filters][0][cond

[2017-10-16 16:04] debbabi commented on #1744
+1

[2017-10-16 16:07] gregarrayent commented on #3632
@prashantagarwal -- sure. And we really need it (we thought it was there when we decided to use Postman Docs -- my bad). When do you expect it will be implemented?

[2017-10-16 16:54] prashantagarwal commented on #3640
@Rob-Barrow You can click on the request/Folder press `Ctrl + C` to copy and then in whichever collection you want go there and press `Ctrl + V`.

[2017-10-16 16:54] #3640 closed, assigned to nobody

[2017-10-16 17:09] prashantagarwal commented on #3630
@malyalal Currently we don't allow to send the saved Examples. This behaviour might change in future.

[2017-10-16 17:14] prashantagarwal commented on #3633
@andymcf Thanks for suggesting this feature. Any particular use case you are trying to achieve through this feature ?

[2017-10-16 17:28] prashantagarwal commented on #3636
@cpironmo I just tried this and I am correctly getting the application/json in the response header
<img width="1120" alt="screen shot 2017-10-16 at 10 52 31 pm" src="https://user-images.githubusercontent.com/3762808/31625780-f4e4140c-b2c4-11e7-9715-d250e82955ec.png">

Just to get back response content-type as application/json you should send a valid json in response or specifically set response he

[2017-10-16 17:31] bahar-p commented on #1066
+1

[2017-10-16 17:54] ronaldsalas commented on #3637
Thanks @kamalaknn I understand why you need to remove the restriction. But does that mean we can't use the old Postman callback url anymore? Which is (after some googling.....) https://www.getpostman.com/oauth2/callback.

Or that, we have to take note of this url on our own as we won't find this url displayed in the app anymore? And if we do want to use it, we have to enter it on the field? (I can

[2017-10-16 18:12] kamalaknn commented on #3637
I understand your thoughts. Usually, you should be able to get the callback URL from your the identity provider settings where you've registered your OAuth 2 application(where you would find your client id and client secret).

Like this for GitHub.
<img width="577" alt="screen shot 2017-10-16 at 11 35 48 pm" src="https://user-images.githubusercontent.com/8401064/31627621-7ff00ea6-b2cb-11e7-9bb2-8a

[2017-10-16 18:16] ronaldsalas commented on #3637
ok, thanks @kamalaknn

[2017-10-16 18:16] #3637 closed, assigned to kamalaknn

[2017-10-16 18:16] kamalaknn commented on #3608
@garethj-msft we are more pushing fixes to OAuth 2.0 in Postman over the next couple of days. That should solve your issues with getting a token.

Also, you are right that Postman does not yet support refreshing the OAuth 2.0 tokens. We are working on possible ways to allow refreshing tokens. To begin with, we might start with giving you an option to manually refresh tokens.

[2017-10-16 18:23] kamalaknn commented on #3638
@sdknintex This might not be related to the missing `mode-auto.js`.

We've identified the root cause and have fixed it internally. We'll be rolling out the fix in the next couple of days. Until then reloading the app should do the trick for you(`View -> Reload`).

We are tracking this in #3616. I am closing this issue, you can subscribe to the root issue for updates on release.

[2017-10-16 18:23] #3638 closed, assigned to kamalaknn

[2017-10-16 19:48] a85 commented on #3589
@sobtiankit Can we increase these limits now?

[2017-10-16 20:51] mikehenken commented on #3506
+1

[2017-10-16 21:04] GuyPaddock opened #3643 "Sort order in docs does not match sort order in application"
## App Details:

[code]

## Issue Report:
This is the first time I've encountered this issue.

### Steps to Reproduce the Problem
1. Create a collection.
2. Add some requests to the collection.
3. Clone some of the requests in the collection and give the clones new names.
4. Drag and drop some of the clones to the top of the list of requests.
5. Re-arrange a few of the other requests.
6. Export do

[2017-10-16 21:52] GuyPaddock commented on #3643
As a workaround, this works:
1. Re-order requests in the order you want them in the docs.
2. Export the collection to JSON.
3. Delete the collection inside Postman.
4. Import the collection from the exported JSON file.
5. Generate docs.

I'm guessing that the order requests appear in docs is based on some internal "insertion order" / "creation order" that Postman is tracking for the items. When a

[2017-10-16 23:06] 7omasz commented on #3262
FWIW url encoding the parameters outside out postman resolves the issue.

[2017-10-16 23:21] JaimeLynSchatz commented on #3229
For anyone else who comes across this thread via Google, the linked issue #3243 has instructions for something to try:

[code]

[2017-10-17 04:09] heylucky commented on #990
oh, no! I just spent 2 days to find out this problem. Referer won't be sent which contained in headers,it was no allowed by Chrome, no wonder i can't get my correct  responses. sad....... and forgive my poor English

[2017-10-17 06:39] bensullivan commented on #2082
Bump.

Content-Disposition →attachment; filename="advice-0542961c-c82d-408a-9934-1a020c098dc5.sheba"
Content-Type →application/xml
Date →Tue, 17 Oct 2017 06:35:31 GMT
Server →Jetty(9.4.4.v20170414)
Transfer-Encoding →chunked

Result is still saving the file as "response.xml" and not "advice-0542961c-c82d-408a-9934-1a020c098dc5.sheba"

I'm running version 5.3.0 on OSX 10.11.6

Any update on when th

[2017-10-17 07:12] S0im opened #3644 "Numbers in .csv are not send correct when use Runner"
## App Details:
[code]

## Issue Report:
Numbers in .csv are not send correct when I use runner . Here is the numbers in my .csv:

num1,num2,num3
1,1,1
10,10,10
01,01,01
02,02,02

This is  the preview in the runner of Postman for Chrome:
![1](https://user-images.githubusercontent.com/25290478/31650642-ec72986c-b34a-11e7-8217-2de152e0f6ba.jpg)
And here is the preview in the runner of Postman for Wi

[2017-10-17 07:26] jasperloos opened #3645 "Error: read ECONNRESET on several calls after update to v5.3.0"
## App Details:
Postman for Windows
Version 5.3.0
win32 10.0.10586 / x64

## Issue Report:
Since the update to version 5.3.0, running a Collection against an Environment causes the run to fail after several calls. The Runner shows "An error occured while running this request. Open DevTools for more info." In the console, "Error: read ECONNRESET" is logged. Nothing is logged on the API side for thi

[2017-10-17 10:47] devblaz commented on #2225
I am behind a company proxy which requires authentication.
Could you please add functionality to authenticate on proxy servers?

[2017-10-17 12:14] sdnts commented on #2225
@devblaz Can you try using the System proxy the way @harryi3t has explained and check if things work?

[2017-10-17 12:16] prashantagarwal commented on #3642
@wangzhi0417 Thanks for reporting this, we will look into this issue.

[2017-10-17 12:18] prashantagarwal commented on #3644
@S0im Thanks for reporting this. We are already tracking a similar issue #2734 . I am closing this as duplicate issue.

[2017-10-17 12:18] #3644 closed, assigned to nobody

[2017-10-17 12:23] prashantagarwal commented on #3643
@GuyPaddock Thanks for reporting this. We are looking into this issue.

[2017-10-17 12:37] devblaz commented on #2225
Hi @madebysid,
I have. I am using Postman 5.3.0 and have enabled "Use System Proxy".
When i try to reach a webservice on the internet, i get 407 authorization error from our company proxy.

We will be working around this problem so this is not blocking me at the moment. But i think it would be a great improvement of Postman if the already improved proxy-support would be further enhanced with authe

[2017-10-17 13:08] Faz540 commented on #3428
@madebysid Can this isssue be re-opened or shall I create a new ticket?

[2017-10-17 13:18] harryi3t commented on #2225
@devblaz Yes, that is expected. The operating system does not expose us the proxy credentials.
This would work when we have authentication for custom proxy (proxy defined in app), for which there is a feature request here https://github.com/postmanlabs/postman-app-support/issues/3566

[2017-10-17 14:23] jawinn commented on #1678
👍  +1

[2017-10-17 14:29] tvvignesh commented on #3600
@bhawna2109 Oh! I dont know if this was newly implemented. My app updated and now, I am able to see this working. Will close this. Thanks :+1:

[2017-10-17 14:29] #3600 closed, assigned to nobody

[2017-10-17 14:57] fonbrauzen commented on #1137
Hmm, I saw this Beta NTLM Auth after release, but now it's gone somehow. Have you changed something?

[2017-10-17 15:10] sdnts commented on #1137
@fonbrauzen You might have accidentally switched to the Chrome app, NTLM is supported only on native apps for now.

[2017-10-17 15:51] JoseExposito opened #3646 "Allow to use Node.js crypto library in the sandbox"
## App Details:

[code]

## Feature Request:

This is not a bug report, just a feature request.

It'd be nice if [Node's crypto module](https://nodejs.org/api/crypto.html) could be accessible from the sandbox.

I'm trying to generate a ES256 JWT token before each request in my collection but CryptoJS does not implement the ECDSA algorithm.
Also, crypto implements much more functionality that Crypt

[2017-10-17 18:28] trajano commented on #2750
I have the same issue but I can only use Postman Console rather than the Chrome App since I am not allowed to install extensions on Chrome.

I am also on Windows 10, but on my home computer (also Windows 10 but more current) it works correctly.

I notice is if I send in the `Authorization: Bearer token` header.

[2017-10-17 18:28] trajano commented on #2750
![image](https://user-images.githubusercontent.com/110627/31682244-828e4bba-b347-11e7-9a7d-878631bf3b8f.png)

[2017-10-17 18:53] joaokamun commented on #2638
I'm having the same problem with macOS native app.
Change to chrome extension app worked for me.

[2017-10-17 19:44] harryi3t commented on #3646
@JoseExposito I am glad that you like our product so much :)
Adding support for crypto is already on our roadmap. Will keep you posted.

Thank you for your patience.

[2017-10-17 22:24] qarinaflavia opened #3647 "Auth1.0 - Add authorization to Request Header"
I used for my request OAuth1.0 and I would add the authorization to the header. After I updated to the new version (5.3.0) my requests don't work anymore. I get error: Invalid login attempt. I want to specify that my requests were working correctly before. The only change was to update the Postman.

What could cause this?

[2017-10-18 02:15] RyanKys commented on #1235
+1 for this. This is a very useful feature to streamline development. I am using Spring Rest Controller + Swagger UI to generate the Swagger Spec -> Import to postman -> **[Tidy up it in Postman] -> Gradle + Newman test automation.
This feature can save a lot of rework / human mistake when preparing API testing in Postman

[2017-10-18 04:59] kamalaknn commented on #3647
@qarinaflavia could you make sure the `Timestamp` and `Nonce` fields are empty in your `Authorization` tab?

If left empty Postman will fill in auto-generated values for the fields. I am guessing there are stale values in those fields that are used for authorization.

If removing those fields do not help please share a screenshot of you Authorization tab and the Postman Console(`View -> Show Postm

[2017-10-18 05:13] vdespa opened #3648 "postman vs pm - is postman getting deprecated?"
There are now **two ways to work with variables**, for example: `postman.getEnvironmentVariable("foo") ` and `pm.environment.get("foo")`. **Same goes for `tests`**, old style vs `pm.test`.

I have recently noticed that the snippets panel has changed and uses the pm version to work with variables / tests.

I am a bit confused, because the documentation is out-of-sync with the actual product. Is the

[2017-10-18 07:12] sdnts commented on #2750
@trajano Do you think this has something to do with the response you're expecting? If possible, could you share a sample response you're expecting? Just the structure (you can replace sensitive information with dummy data) will be useful.

Also, which version of the app are you on?

[2017-10-18 07:21] Viacheslav-Romanov commented on #3647
The same thing. Return an update button!

[2017-10-18 07:29] kamalaknn commented on #3648
Hi @vdespa,

The `pm.*` API is new and we are adding new features to it. We are slowly moving our documentation to the new API, and the first step is the update to snippets in the Postman App.

There are a few features on `postman.*` for which no alternative exist on `pm.*` like `postman.setNextRequest`. We'll put out a notice for `postman.*` deprecation once `pm.*` is feature complete.

That bein

[2017-10-18 07:45] kamalaknn commented on #3647
@Viacheslav-Romanov the older versions of the app would add `Timestamp` and `Nonce` every time you did `Update Request`. In the new version, Postman would use whatever the values you've entered. It will generate values internally if the fields are left empty.

Removing the fields should make the send work. If you have any particular use for the `Update Request` we'd love to hear.

[2017-10-18 07:57] slashsbin commented on #1885
👍

[2017-10-18 08:07] talonx commented on #2611
I encountered this too. Btw, why was this closed without any reason being given?

[2017-10-18 08:09] prashantagarwal commented on #2611
@talonx Can you download our native app and see if you are facing the issue there as well.

[2017-10-18 08:55] sdnts commented on #990
@heylucky You should be able to use the native apps to send a Referrer header. Native apps can be downloaded [here](https://getpostman.com/apps)

[2017-10-18 08:55] lemonysoft commented on #1441
@stw-services me too...

[2017-10-18 08:59] sdnts commented on #3229
@JaimeLynSchatz I've seen a similar issue when your username contains the character `#` in it, does this apply to you?

Have you tried what I suggested earlier? Also, do you see any errors in the DevTools console for the Runner?

[2017-10-18 08:59] sdnts commented on #3262
Hi @7omasz, we've pushed out a fix for this with 5.3.0, can you try updating your app to see if this is still an issue?

[2017-10-18 09:07] trajano commented on #3511
In my case I have gotten it to manifest without the content length
[code]

[2017-10-18 09:08] trajano commented on #3511
![image](https://user-images.githubusercontent.com/110627/31710200-54e0578c-b3c2-11e7-8400-992b2fecb337.png)

[2017-10-18 09:09] trajano commented on #2750
I think we can merge this with #3511

[2017-10-18 09:11] sdnts commented on #3635
Hi @dotancohen, if I understand correctly, your server is returning HTML with an `application/json` Content-Type, correct? We usually look at the content type header to determine how to parse the response, which is why you're seeing this. Can you show me an example response that does this? I'm only interested in the structure, you can remove any sensitive values from there.

Also, can you try doin

[2017-10-18 09:42] MrBenGriffin opened #3649 "Memory Leak? Slowdown and leading to Hang in App."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I'm new to Postman
 2. Expected behaviour:
Fast switching between examples, instead of increasingly larger delays.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
They

[2017-10-18 09:54] trajano commented on #3511
One other thing to note, this error does not occur on Postman for Chrome

[2017-10-18 10:17] kamalaknn commented on #3604
@jbrinkle @devjack @ian-weatherhogg-refractiv @Dismissile

The fix for this has been rolled out in `5.3.1`. Could you update your Postman app to the latest version and verify that this works?

[2017-10-18 10:29] prashantagarwal commented on #3649
@MrBenGriffin Thanks for reporting this. We will be investigating this issue.

[2017-10-18 10:29] kamalaknn commented on #3608
@asmeikal @garethj-msft @DavydeVries @krmr @psimoneau22 we've pushed a fix for this in 5.3.1 version of Postman. Could you update your apps to the latest version and confirm this?

[2017-10-18 10:30] rvdfox commented on #2611
I tried that too, didn't worked, and even in the latest version its not working, switched to SoapUI

[2017-10-18 10:31] MrBenGriffin commented on #3649
@prashantagarwal, it may have been fixed in today's update (Version 5.3.1), to be honest.

[2017-10-18 10:37] ranjanbipul commented on #285
+1

[2017-10-18 10:38] dhoeric commented on #3608
@kamalaknn works well :)

Here are my steps:
1. `Get New Access Token` on Authorization tab
2. Add authorization data on either `Request URL`or `Request Header`, click `Preview Request`
3. Successfully send the request with access token 👍

[2017-10-18 10:48] trajano commented on #3511
You can use https://github.com/trajano/app-ms/tree/0e04cce71148004c15f01c52b6a8a04b619b87f1 for the test cases.  The postman files are in https://github.com/trajano/app-ms/tree/0e04cce71148004c15f01c52b6a8a04b619b87f1/src/test/postman you can start up the whole cluster using `docker-compose up --build -d`

[2017-10-18 10:54] kamalaknn commented on #3608
@dhoeric great, you can actually skip `Preview Request`.

1. `Get New Access Token`
2. Follow the dialog to get a token
3. Select `Use Token` when you see the token details
4. Send the request

Closing this issue, feel free to leave a comment if something is off.

[2017-10-18 10:54] #3608 closed, assigned to kamalaknn

[2017-10-18 10:55] sdnts commented on #3535
@scenage We've made several improvements here, can you update your app to the latest version (5.3.1 as of right now), and check if you're still seeing this? Please reopen if you do :)

[2017-10-18 10:55] #3535 closed, assigned to nobody

[2017-10-18 11:15] sdnts commented on #3649
@MrBenGriffin Out of curiosity, how large are these responses? 2 examples per request should not slow down the app as much.

[2017-10-18 11:18] sdnts commented on #1441
@stw-services @lemonsoftltd The image upload logic you're talking about would need to go in your server, so I'm afraid I won't be able to help there.

@OfficialKeen Looks like a response was received, but it isn't what you expect, can you check your server to make sure everything is in place there?

[2017-10-18 11:21] sdnts commented on #2638
@jazoom @joaokamun Do you use /etc/hosts somewhere? Our native apps do not support this at the moment, but we're tracking this in #2369
Chrome app requests are made via the Chrome browser, which is why it works.

Do you think this might be happening to you as well?

[2017-10-18 11:22] trajano commented on #3511
I'll be on Gitter for a bit if you want to discuss.

[2017-10-18 11:23] jazoom commented on #2638
@madebysid I don't now but I might have at the time I first commented above.

[2017-10-18 11:25] sdnts commented on #3632
@gregarrayent This hasn't been planned yet, so there's no ETA yet, but we'll keep you posted here :)

[2017-10-18 11:38] sdnts commented on #3641
@josslamberti Thanks for the suggestion! We'll take a look at this.

[2017-10-18 11:44] sdnts commented on #2734
@catcalling This isn't fixed yet unfortunately, but we'll be taking a look at this.

[2017-10-18 11:59] lokirangers opened #3650 "No longer remembers open tabs after upgrade to 5.3.1"
## App Details:
Postman for Windows
Version 5.3.1
win32 10.0.14393 / x64

## Issue Report:
Since upgrading to version 5.3.1 postman no longer remembers my list of open tabs when I close and re-open postman, and it defaults to a blank list of tabs.   It also displays a blank page as the icon in the task bar.

[2017-10-18 12:05] SamvelRaja commented on #3650
@lokirangers We are investigating it right away as we speak. will update the thread once we find the root cause.

[2017-10-18 12:37] MrBenGriffin commented on #3649
Not that many - about 15 or 20 examples, and each of them are small.  I know it's another thing, but also it would be good to be able to delete cookies - especially private cookies - from examples.

[2017-10-18 12:42] tsantzi opened #3651 "UI controls/editors do not regain focus along with main window after upgrade to 5.3.1"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Issue appeared after upgrading to 5.3.1
 2. Expected behaviour:
When the main window looses focus, and then regains it (e.g. with ALT-TAB), the last-focused widget in the window should be focused.

Steps to reproduce the problem:

1. Use/focus any control in Postman main window, e.g. t

[2017-10-18 12:54] SamvelRaja commented on #3651
Thanks for bringing this to our notice, we shall look into and update the status here.

[2017-10-18 13:09] devblaz commented on #2225
Ah that explains.
Great to hear there is already a feature request for that. I could not find it, sorry i must have overlooked it.
Thanks for your answer.

[2017-10-18 13:22] o15a3d4l11s2 commented on #2316
I believe this is now possible in the app.

From the changelog (part of it):

[2017-10-18 13:26] SamvelRaja commented on #2316
@o15a3d4l11s2 mentioned, adding multiple user accounts and switching between them is available in our native apps v5.3.1

[2017-10-18 13:26] #2316 closed, assigned to nobody

[2017-10-18 14:06] qarinaflavia commented on #3647
Thank you for suggestion. I had to clear Timestamp and Nonce and it worked.

[2017-10-18 14:08] JaimeLynSchatz commented on #3229
@madebysid No special characters in my username and I saw no errors in the DevTools console. Clearing all data from Postman (as described in #3243) resolved the issue for me. Thank you!

[2017-10-18 15:27] Viacheslav-Romanov commented on #3647
Are you gonna to explain it everyone who uses a new version?

[2017-10-18 15:30] JustinLavertu-iQ commented on #1066
I have 300 tests I have to move to 10 different folders......one at a time. Please, _please_ add an option to select multiple so we can mass, move/delete.

[2017-10-18 15:34] kamalaknn commented on #3353
@maxima120 could you update to our latest version `5.3.1`?

From this version, we have added an input where you can enter your "Access Token". Also we've added the `Password` grant type to the `Get New Token` flows.

I am closing this issue since this has shipped out. Feel free to leave a comment if you are facing any issues. Hope this helps.

Note: The new features are only available on our Nativ

[2017-10-18 15:34] #3353 closed, assigned to bhawna2109

[2017-10-18 15:35] EricWafford opened #3652 "Using .not causes other tests to fail."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **Recently**
 2. Expected behaviour: using .not.be in test sandbox should not cause issues with other tests elsewhere.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): No

[2017-10-18 15:39] kamalaknn commented on #3239
We've added more fixes to the OAuth 2.0 flows in Postman `5.3.1`. That should fix a lot of rough edges.

Please do update your apps and test it out.

Note: The new updates are only available on our Native apps. [Download Link](https://www.getpostman.com/apps)

[2017-10-18 15:39] #3239 closed, assigned to kunagpal

[2017-10-18 15:40] kamalaknn commented on #2976
This should be out in Postman `5.3.1`. I am closing this issue, feel free to reopen if you are facing difficulties.

[2017-10-18 15:40] #2976 closed, assigned to kamalaknn

[2017-10-18 15:44] kamalaknn commented on #2975
@sivakrishnajee Starting from `5.3.1` Postman would use any Client SSL certificates you've defined under `Settings -> Certificates`. Please update your apps to the latest version and give it a try.

Please note that this is only available on our Native apps. Here's the download [link](https://www.getpostman.com/apps).

[2017-10-18 15:44] #2975 closed, assigned to harryi3t, kamalaknn

[2017-10-18 15:45] #2811 closed, assigned to harryi3t

[2017-10-18 15:50] kamalaknn commented on #2209
@ericgreenmix, for now, Postman(starting from `5.3.1`) supports requesting OAuth 2.0 tokens using `implicit` grant types. That should allow you to continue working until we work on the `hybrid` flows.

[2017-10-18 15:55] kamalaknn commented on #2045
@lrozenblyum starting from `5.3.1` Postman will not save the headers or URL parameters `Authorization` section adds.

So switching to `No Auth` would clear the Auth header. Also, note that since Postman does not save the auth headers with the request you do not have to manually change the auth to `No Auth`.

Please note that this feature is only available on our native apps.

[2017-10-18 15:55] #2045 closed, assigned to nobody

[2017-10-18 15:58] kamalaknn commented on #1723
Hi everyone,

We've shipped support for `Bearer` token authorization in Postman `5.3.0`. Please update your apps to the latest version and give it a try.

Please note that this feature is only available on our native apps. Here's the download [link](https://www.getpostman.com/apps).

[2017-10-18 15:58] #1723 closed, assigned to nobody

[2017-10-18 15:59] #1454 closed, assigned to nobody

[2017-10-18 16:03] kamalaknn commented on #3616
The fix is out on Postman `5.3.1`. Please update your apps and try it out.

[2017-10-18 16:50] EricWafford commented on #3592
Sorry, I didn't see this before even though I did try to search, but I have the same issue here: https://github.com/postmanlabs/postman-app-support/issues/3652

It will also fail other tests after the use of .not.be

[2017-10-18 17:25] armandogonzalezKG commented on #285
+1

[2017-10-18 18:13] timothyholmes commented on #3327
I am experiencing this issue on the desktop client for macOS, on a fresh copy of the app. I am able to log in to the the chrome extension.

[2017-10-18 18:15] lrozenblyum commented on #2045
Thank you!

[2017-10-18 18:34] joaokamun commented on #2638
@madebysid My `/etc/hosts` is the default, never changed but I'm using Docker.

[2017-10-18 19:04] SamvelRaja commented on #3327
@timothyholmes can u provide me a screencast of the issue you are facing? helps us to trace it down much easier.
Can you open the app using the command line?
`open <LOCATION_OF_THE_APP>/Contents/MacOs/Postman`
and try to log in, this gives us the additional details we need. Kindly send the screenshot to help[at]getpostman.com by hiding the sensitive data.

[2017-10-18 19:41] tariqghalib commented on #2394
@madebysid @abhijitkane @a85 Anything on this, we are in dead need of this. As we are on cloud and there is literally no way to share globals

[2017-10-19 00:07] 7omasz commented on #3262
@madebysid I'm already on 5.3.0. Updated to 5.3.1. The issue persists.

[2017-10-19 03:16] xutl opened #3653 "Please change the font"
Please change the font under the Windows version, in the non-English display, very small, or even see, such as Chinese。

[2017-10-19 03:17] xutl opened #3654 "Hope that environment variables can be associated with collections"
I hope that the environment variable can be associated with the set, so that you can set a custom environment variable for each collection, in the development environment, pre-environment, and online environment can easily switch a unified URL constant

[2017-10-19 03:18] xutl commented on #3654
It is possible to set an environment that belongs only to the collection

[2017-10-19 07:13] mraty commented on #2030
+1

[2017-10-19 08:16] deepakpathania-zz commented on #3653
Hey @xutl
While I am not sure whether you can change the font itself but you can definitely change the font size in the settings modal if it seems too small to you. Find below a picture for your reference.

![selection_008](https://user-images.githubusercontent.com/15071438/31760882-c60551c6-b4d3-11e7-8c8c-9c85a4dbb56d.png)

More on this here : https://www.getpostman.com/docs/postman/launching_pos

[2017-10-19 08:28] deepakpathania-zz commented on #3654
Duplicate of #2876.
Follow #3205 for the roadmap.
Read about managing environments here https://www.getpostman.com/docs/postman/environments_and_globals/manage_environments

[2017-10-19 08:28] walkiri commented on #3589
I keep seeing this few times per day even after deleting example.

[2017-10-19 08:50] CosminTS commented on #3604
You can try selecting Send client credentials in body which will send the client_secret in the request body instead of in the header.

@harryi3t

After reading the above comment I resolved one of my problems, now I'm encountering a problem with the State parameter in **version 5.3.1**. Our authentication OAuth2 has the State parameter required, but Postman is not sending the parameter even if I in

[2017-10-19 09:25] kamalaknn commented on #3604
@CosminTS Postman sends the `state` in the `Authorization Request`, that opens the `Auth URL` on a window. `state` parameter is not sent in the `Access Token Request` as it is mandated by the [spec](https://tools.ietf.org/html/rfc6749#section-4.1.3).

Does your server expect the `state` parameter to be present in the `Access Token Request`?

[2017-10-19 09:41] wichert opened #3655 "client secret not included in oauth2 token request"
## App Details:

[code]

## Issue Report:

I am trying to request on Oauth2 token from HubSpot. This is failing on the last step: HubSpot [requires the client secret to be in the token request](https://developers.hubspot.com/docs/methods/oauth2/get-access-and-refresh-tokens). Postman does not include that, which is causing the token request to fail.

[code]

(On a side-note: the `&`-separator betw

[2017-10-19 10:01] harryi3t commented on #3655
@wichert This is most likely happening because the server only supports the client credentials in the request body while you are sending it in the header.

Could you try with `Client Authentication` set to `Send client credentials in body`?
![image](https://user-images.githubusercontent.com/5207331/31765497-33899438-b4e2-11e7-819f-30374f6f25f8.png)

Before 5.3.0 we were sending the credentials in

[2017-10-19 10:11] mpereira-dev commented on #1947
@cen1 that is a work around but it requires editing every request manually. There isn't an easy way that I know of to add a header that is applied to all / a larger subset of requests. (Like apply / remove a preset to an entire folder or collection) @a85 any progress on this feature, no idea why you closed it. Similar issue: https://github.com/postmanlabs/postman-app-support/issues/1575

[2017-10-19 10:15] mpereira-dev commented on #2692
+1 , Why is it closed ? no plans on implementing it? https://github.com/postmanlabs/postman-app-support/issues/1947

[2017-10-19 10:34] dlgoodchild commented on #1947
Yeah this work around is pretty laborious, I really wish they'd consider a proper solution and reopen this.

[2017-10-19 10:49] harryi3t commented on #3655
@wichert Also thanks for reporting the `&-separator` bug in postman console.
We will fix it in the next version.

[2017-10-19 10:50] wichert commented on #3655
Thanks for the quick response! Switching to credentials in the body indeed fixes it.

[2017-10-19 10:50] #3655 closed, assigned to harryi3t

[2017-10-19 10:59] mpereira-dev commented on #1947
If you can't wait here is a work around I just made:

1. Export your collection (data format v2.1)
2. Open firefox , dev tools, scratch pad
3. Replace the header information with your header
4. Paste the code below replacing the var a with your contents of the exported .json file
5. Run the script
6. The copy(b) command will put the new data with in your clipboard
7. In postman, click import > Pas

[2017-10-19 12:19] mstaalesen commented on #3456
That may be true! I'll close this issue since it seems to be hard for you to reproduce.

[2017-10-19 12:19] #3456 closed, assigned to sdnts

[2017-10-19 12:39] cen1 commented on #1947
@mpereira-dev not sure what you mean with "editing every request manually". You simply add for example: `Authorization Bearer {{jwtToken}}` in every collection request and it will auto-fill. So once you have the collection set up with variables there is zero editing involved. You can then either set the variable automatically when executing the first auth request or set it once in the env json fil

[2017-10-19 13:25] q42jaap commented on #2947
Hi, this issue is still present, not only in shell command, but all versions of `generate code snippets`. strings with " are escaped twice, when you use NodeJS Request, a value of
[code]
is escaped to
[code]
while `"` quotes don't need to be escaped in a `'`-quoted string, the `\` needs to be. So it would seem that the general layer of sharing data is escaping and the particular format is also esc

[2017-10-19 13:36] q42jaap commented on #3482
This is also happening for NodeJS Native, NodeJS request types of code snippet.

[2017-10-19 14:26] mllanos commented on #285
+1

[2017-10-19 14:49] codewithtyler opened #3656 "Load collection from file system on app load"
## App Details:
[code]

## Feature Request:

I work on multiple **open source** web app projects and we use Postman to test our endpoints as we build them. Unfortunately this causes our team to have to export and share our collections back and forth a lot as we build new endpoints. It would be really helpful if Postman had a setting we could enable that would let us point it at a file on the file

[2017-10-19 15:15] msanecki commented on #3566
@harryi3t  In which version/when are you going to provide this feature?

[2017-10-19 16:09] deepakpathania-zz commented on #3656
Hey @tylerbhughes. Collection exports actually reflect the collection as a snapshot in time, and therefore must be updated to refresh the changes to the collection. Your point of pointing to a single file that can be synced seems valid but collection links kinda already do the same as far as my understanding goes.

I mean if you generate a collection link or embed or share collections via the embe

[2017-10-19 16:51] ArminArdekani commented on #166
+1 MERGE

[2017-10-19 17:51] destevezitexico commented on #2209
@kamalaknn I have already installed the Postman 5.3.1 for windows and I don't see the **implicit** grant type in the list of options available.

[2017-10-19 18:14] mblasiusnyc commented on #285
+1  I'd love for this feature to be added! Might even buy premium for my team for this

[2017-10-19 18:22] mccannt opened #3657 "Support to Read File Contents In Postman/Newman"
## App Details:

[code]

## Issue Report:
Currently in Postman there is no way to read in the contents of files outside of iterations using a data CSV file.
If I wanted to read in the full contents of a file and then parse the data once its been read in as a string, I am currently not able to do this.
ReadyAPI has the ability to do this via Groovy scripts and is currently a blocker for my company

[2017-10-19 20:24] tlemons commented on #3199
I would like to motivate upvoting of this feature, but don't know how to accomplish what jvkaam suggested. That said, is this feature being considered for a future release?  Thanks!

[2017-10-19 20:45] ernestojpg commented on #1257
That's cool, but I never remember the shortcut. Why isn't there an easy to see button, or an option in a contextual menu for doing it? :)

[2017-10-19 21:04] mpereira-dev commented on #1947
@cen1 Yeah the use case is for a new header. I love postman and environment variables are great! But in my case the security requirements (or my assumption of the requirements) changed after I built a large collection. So needed to go back and add a new header to each request. Also in the near future I will need to go back and modify a subset of the requests by either replacing the header or addin

[2017-10-20 03:05] xutl commented on #3653
@deepakpathania You said that the solution can not solve the problem.

![111](https://user-images.githubusercontent.com/20939388/31803476-84ef250a-b586-11e7-98dd-a3f54247f4ab.png)

[2017-10-20 03:50] kamalaknn commented on #2209
@destevezitexico Once you select `Get New Access Token` button on `OAuth 2.0` under the Authorization section, you should a dialog like this,

<img width="633" alt="screen shot 2017-10-20 at 9 17 39 am" src="https://user-images.githubusercontent.com/8401064/31804575-df413c0a-b577-11e7-810f-f333bf92152c.png">

The `Implicit` option should be available on the `Grant Type` dropdown. Note that this fe

[2017-10-20 05:03] deepakpathania-zz commented on #3653
@xutl Not sure what you mean by that. I simply meant that I was not sure about updating the font itself but the font size can be easily updated through the settings modal if you wish so.

[2017-10-20 08:31] gyuuu commented on #1104
+1

[2017-10-20 11:59] jemshit commented on #2489
It is already in Applications folder, still update does not work. I click restart, Postman is closed, then never gets open again unless i open it myself. (and it didn't update). I have to manually download new postman from website and replace. (macOs sierra, postman 5.3.0)

[2017-10-20 13:15] apoorv-yadav opened #3658 "Error while sending request: Failed to execute isetRequestHeader on IXMLHttpRequest: 'User-Agent:' is not a valid HTTP header field name."
Hi,

I have been working on Tickspot API (https://github.com/tick/tick-api/blob/master/sections/roles.md) and recently I have started facing an issue regarding headers which says :  **Failed to execute isetRequestHeader on IXMLHttpRequest: 'User-Agent:' is not a valid HTTP header field name.**

BUT when I used cURL, it worked fine with no issues. So, pls help and suggest a solution and cause of is

[2017-10-20 13:28] fostec82 opened #3659 "Postman support SOCKS proxy"
## App Details:

[code]

Trying to route Postman native app through a SOCKS proxy setup via ssh.  For example:

~$ ssh -D 33333 user@myserver.com

Leveraging simple curl commands works as expected

~$ curl --proxy socks5h://localhost:33333 "http://url-to-call-on-myserver.com"

However (I think as expected) the SOCKS proxy/tunnel does not work in Postman Native app.

![screen shot 2017-10-20 at 9 2

[2017-10-20 14:59] eexit commented on #3650
Issue confirmed on macOS Sierra with same Postman version.
This is very annoying :(

[2017-10-20 16:00] prmichaelsen commented on #3109
Ok. So this feature has been implemented. Now how do I use it?

[2017-10-20 16:20] deepakpathania-zz commented on #3109
@prmichaelsen Simply click on the ellipsis in the tab section in the builder for the dropdown to appear and then select 'Close All Tabs'. Image attached for reference.

![selection_010](https://user-images.githubusercontent.com/15071438/31831321-a175eda8-b5e0-11e7-8673-1f251c5ac3d0.png)

[2017-10-20 17:04] prmichaelsen commented on #3109
Thank you!

On Fri, Oct 20, 2017 at 9:20 AM Deepak Pathania <notifications@github.com>
wrote:

[2017-10-20 23:26] cicerocruz opened #3660 "Connect firebase with authentication"
I'm trying to connect to Firebase with Bearer authentication, I'm not understanding how to do it ...

Rule in Firebase:
{
   "rules": {
     ".read": true,
     "users": {
       "$ uid": {
         ".write": "$ uid === auth.uid"
       }
     }
   }
}

[2017-10-21 08:54] lxhunter commented on #1744
+1

[2017-10-21 17:04] iversa commented on #450
This is becoming funny. I had add the / at the end of the URL and then the POST started working again.

[2017-10-22 00:25] Mariani88 opened #3661 "Something went wrong. And we are reporting a custom error message"
Hi, i am doing GET request to my Api rest with command line, with Postman proxy between my PC and my API. The postman proxy return next error message:
Something went wrong. And we are reporting a custom error message, but http code is 200.
when i do GET with postman to proxy address, it works.
Any have idea why this happen?
Thanks

[2017-10-23 03:24] Jasonlhy commented on #1946
Using raw response will be much better if the response size is over some threshold.

[2017-10-23 03:28] webmobiles commented on #1669
yes I'm working well with Insomnia, option for variables; auth bearer,  but sync for 5$ monthly,   postman will be paid?

[2017-10-23 05:15] shamasis commented on #3657
In Newman you can try reading the file and passing the content as environment/global variables.

[2017-10-23 05:17] shamasis commented on #3657
You could also try running local file to http server and read the local file contents via requests (and even inside scripts using pm.sendRequest.)

[2017-10-23 06:23] TomONeill commented on #3621
Any updates on this @kunagpal ?

[2017-10-23 09:09] Mark90 commented on #2489
@jemshit Try opening the app from the terminal as described by @SamvelRaja up in this issue. This may "magically" resolve the issue, if not then you'll have logs to post here for debugging.

[2017-10-23 09:18] sworisbreathing commented on #3124
I've just encountered this issue as well and can did some playing around with it. In my case I had a lot of open request tabs in Postman. If I clicked on another request in a postman collection, instead of opening the request up, Postman would crash. It happend 3 or 4 times in succession. I closed a few of the open tabs and it started working again, so I guess that kind of supports @numaanashraf's

[2017-10-23 09:21] jemshit commented on #2489
@Mark90 I followed `e. In the network tab there should be an API call that went in to check the updates`, which showed me `update is already downloaded` insteading of sending request. So i clicked Update and Restart, which got stuck again. Current v 5.3.0. Log:

[code]

[2017-10-23 10:30] rlogiacco commented on #285
+1

[2017-10-23 12:32] mccannt commented on #3657
Thx for the response @shamasis

I am going to try using the local HTTP server to get this going but the issue longer term is many people would run these tests though Newman and most likely some sort of CD pipeline like Jenkins.
The issue here is if we don't have a central HTTP server these point to it would make it much harder for this to be more portable and there for always require that HTTP ser

[2017-10-23 13:21] kunagpal commented on #3621
Related to #3641

[2017-10-23 13:25] raulpires commented on #285
+1

[2017-10-23 14:27] codewithtyler commented on #3656
@deepakpathania I tried that out with a team member on the project and I was able to make a change and save it but we didn't see a way for him to be able to sync and see my changes. Do you know how to do that without him having to delete the collection and repull from the link? Also what if he has an endpoint to add and I want to see his change? How would that work?

[2017-10-23 14:31] bennymeade commented on #1137
@harryi3t / Everyone fantastic addition.

With this NTLM Beta version, should the extracted RestSharp code work in Visual Studio?
Because in VS I still get "Unauthorized".

(edit) SOLUTION:
using RestSharp.Authenticators;

RestClient client = new RestClient(_baseURL);
client.Authenticator = new NtlmAuthenticator();

[2017-10-23 15:07] harryi3t commented on #1137
@bennymeade I am afraid that this is not supported yet.
Generating code snippets only works with simple information like `URL` and `headers`, etc
Currently, it does not take the `authentication` into account.

Please open a new issue for this as a feature request.

[2017-10-23 15:27] deepakpathania-zz commented on #3656
@tylerbhughes Hey, what you are asking for is available in the Postman Pro version. As you can see at the bottom of the modal in the image I shared earlier, it says that

Check the following links out for more information. https://www.getpostman.com/docs/postman/team_library/sharing#sharing-collections
https://www.getpostman.com/docs/postman/collections/sharing_collections

[2017-10-23 16:09] bennymeade commented on #1137
@harryi3t No need for a new issue, it is working.

Once I added client.Authenticator = new NtlmAuthenticator(string username, string password);  to my VS RestSharp project.

[2017-10-23 18:25] joseph4tw commented on #2013
Does anyone know if there has been any movement on this?

[2017-10-24 01:50] xutl commented on #3653
@deepakpathania Setup mode can not update the font in the tab, and the default font for the software is not friendly to Chinese.

[2017-10-24 06:52] DanielPetatCes opened #3662 "Opened tabs are not saved on exit"
## App Details:
[code]

## Issue Report:
Hello,
when I leave some tabs / requests open, close the app and start it again, it always starts with only one "New tab".
So after every restart, I have to re-establish my workspace.
The collections are saved and loaded correctly.

A few versions ago (I think before updating to version 5.3.0 or 5.3.1) it saved all the tabs that were open on exit, and resto

[2017-10-24 06:53] SamvelRaja commented on #3662
It's a regression introduced in 5.3.1, we are tracking it here.
Closing it as the duplicate of #3650

[2017-10-24 06:53] #3662 closed, assigned to nobody

[2017-10-24 07:45] jakublang commented on #3329
I have somilar problem with "!". I am using delta query and when I try send delta token https://example.com/api/MyEntitySet?!deltatoken='123' the endpoint receive https://example.com/api/MyEntitySet?%21deltatoken='123'.

[2017-10-24 08:22] mattcanty opened #3663 "Feature Request: Private documentation"
We use Postman across our development teams, however I fear that documentation may accidentally be published. At this time it would mean that the our documentation would be public.

We'd like a way of allowing developers to click "publish" safe in the knowledge that it will only be available to the team.

[2017-10-24 09:22] jasperloos commented on #3645
It had to do with the VPN settings in our office. Connecting to a different VPN made the collection work again. **This issue can be closed.**

[2017-10-24 09:24] #3645 closed, assigned to SamvelRaja

[2017-10-24 09:37] shoaibjdev commented on #1762
@clintfidel - Still your JSON is incorrect, A comma is missing after "title": "coding"

I too faced the same issue, and it was missing comma issue during transformation on API Gateway layer.

[2017-10-24 09:44] prashantagarwal commented on #3653
@xutl You can use `Cmd + '+'` to Zoom in. This will help you to see the small font better.

[2017-10-24 09:47] prashantagarwal commented on #3652
@EricWafford closing this as duplicate. We are already tracking it here #3592

[2017-10-24 09:47] #3652 closed, assigned to nobody

[2017-10-24 09:55] prashantagarwal commented on #3656
@tylerbhughes Like @deepakpathania suggested, your use case very well qualifies for a Postman Pro account. Using Postman Pro you will get seamless Collections and Environment sharing across your team. Also in future we are planning to include many more features which fill further enhance the collaboration experience in Postman. For any further information you can write to us at help@getpostman.com

[2017-10-24 09:55] #3656 closed, assigned to nobody

[2017-10-24 10:01] prashantagarwal commented on #3658
@apoorv-yadav I can see there is a `:` in User-Agent header. Also I would recommend you to move to native app rather than using Chrome App.

[2017-10-24 10:04] prashantagarwal commented on #3659
@chrifost We are already tracking this issue #1321  . I am closing this as duplicate.

[2017-10-24 10:04] #3659 closed, assigned to nobody

[2017-10-24 10:10] prashantagarwal commented on #3661
@Mariani88 Thanks for reporting this.

[2017-10-24 10:16] prashantagarwal commented on #3660
@cicerocruz We use this repo to track issues and features related to Postman app. I think you might get better help in our slack community or StackOverflow.

[2017-10-24 10:16] #3660 closed, assigned to nobody

[2017-10-24 10:16] prashantagarwal commented on #3663
@mattcanty Thanks for suggesting this feature.

[2017-10-24 10:47] adiworkoholic commented on #3485
This is an absolute necessity. Please address this sooner.

[2017-10-24 10:55] xutl commented on #3653
![111](https://user-images.githubusercontent.com/20939388/31939427-ef05e71c-b8ec-11e7-913c-4a04da97484c.png)

@prashantagarwal The method will enlarge the font as a whole。You can compare Chome version and App version。

[2017-10-24 10:55] xutl commented on #3653
![111](https://user-images.githubusercontent.com/20939388/31939435-f649daec-b8ec-11e7-90e8-366957092737.png)

[2017-10-24 11:36] lwohlhart commented on #1368
+1

[2017-10-24 12:08] fostec82 commented on #1321
Is there a timeline on this feature?

[2017-10-24 14:24] rkolias commented on #3650
Just so you guys are aware of the magnitude, this nasty v5.3.1 version is killing our team. Every day we have tons of tabs open, each developer on their desktop to all various endpoints. And now version v5.3.1 does not remember the last open tabs you had open when you restart it.

Please, please, please I implore you: Make this your highest priority to fix this issue. It is costing time, money, an

[2017-10-24 15:05] midrissi opened #3664 "Closing a newly openend window exits postman"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

**Encounter recently**

 2. Expected behaviour:

Closing a newly openend window should not exit postman.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

**No errors**

[2017-10-24 15:11] midrissi opened #3665 "Ctrl+Shift+N should do not open a new collection runner window"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

**Encountered recently**

 2. Expected behaviour:

**Ctrl+Shift+N should open a new postman window**

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

**No Logs**

 4.

[2017-10-24 15:42] deepakpathania-zz commented on #3665
Hey @midrissi , that is intentional. You might want to do **Ctrl+N** for a new Postman window. Refer to the shortcuts tab in the settings modal for more information. Image attached for reference.

![selection_011](https://user-images.githubusercontent.com/15071438/31953100-f18908da-b8ff-11e7-893b-a83d07c8470e.png)

More on this here. https://www.getpostman.com/docs/postman/launching_postman/naviga

[2017-10-24 15:46] rtrigoso commented on #2469
Just to post more information:

The request body shows on Postman Console, under the RAW request tab, but it doesn't show under the PRETTY request tab.

[2017-10-24 15:55] deepakpathania-zz commented on #3662
@SamvelRaja You referenced the wrong issue, I guess. 3653 is about the smaller font size for Chinese in tabs, you probably meant 3650.

[2017-10-24 16:00] midrissi commented on #3665
Hey @deepakpathania . As you can see in the attached image that you have sent, Ctrl+Shift+N should  open a new postman window. But it opens the collection runner instead! :(

The same shortcut is shown in the main view:

![postman](https://user-images.githubusercontent.com/3237344/31954198-36c39fca-b8e5-11e7-85e2-446213a4cd97.PNG)

Thanks.

[2017-10-24 16:06] deepakpathania-zz commented on #3665
@midrissi Totally missed that, you're right. Also, **Ctrl+SHift+R** doesn't seem to open the runner window either.
@kunagpal Please have a look.

[2017-10-24 16:06] sdnts commented on #3665
@midrissi Hey, just chiming in to let you know that I've verified this is indeed a bug on Windows (only on Windows I see), we'll get this fixed as soon as possible.

[2017-10-24 16:08] deepakpathania-zz commented on #3665
@madebysid I was able to replicate this on the Linux app as well.

[2017-10-24 16:13] deepakpathania-zz commented on #3664
@midrissi Could not reproduce this on the Linux app. Might be specific to the windows app.
@madebysid Please check.

[2017-10-24 19:45] mybyte commented on #3327
Having the same issue. After successful validation of the credentials, the App just takes me back to the log-in screen. Nothing interesting to screenshot/capture. The highlighted line is interesting though. Maybe the login mechanism is not the issue, but the UI rendering...

IOVARendererID property not found
**_/Library/Caches/com.apple.xbs/Sources/AppleGVA/AppleGVA-9.1.12/Sources/Slices/Driver/AV

[2017-10-24 19:50] williamokano opened #3666 "Postman sending GET over POST when query string is present"
## App Details:

[code]

## Issue Report:
Everytime I choose POST method but I do have some query string parameter, it send GET as method instead of POST, even with POST selected.

[2017-10-24 20:26] mponton opened #3667 "Postman uses http_proxy by default if proxy is disabled in settings + does not parse it correctly"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
**It has always been there since I started using Postman App about 1-2 months ago.**

 2. Expected behaviour:
**When Proxy is disabled in the settings (global and system), proxy should not be used.**

 3. Console logs:
**Error: tunneling socket could not be established, cause=getaddrin

[2017-10-24 21:36] govindrai commented on #3117
@madebysid Shouldn't this be open? I know we can use the description section and markdown for documenting raw body, but it's cumbersome and I know it would make the documenter that much powerful.

[2017-10-24 21:50] govindrai commented on #3117
@a85 one idea is to simply mirror what you have for form-data and x-www-form-urlencoded in addition to being able to type out raw bodies. It would be even better if you could determine from the JSON or XML structures nested fields and autopopulate the key column. That would be ideal.

[2017-10-24 22:02] govindrai opened #3668 "Feature Request: Add ability to define required/optional fields/headers and field types"
Postman Documenter is a lifesaver. However, when trying to create complete documentation, something that will be very helpful is having the ability to define which fields/headers are required or optional and the type of field that will be required. I know this can be specified in the description, but it is not ideal. :)

Here are the columns I am proposing for headers:
KEY | VALUE | DESCRIPTION |

[2017-10-24 22:17] a85 commented on #3117
@govindrai We have a new data editor in works that will allow for this but we might have some work to do on the data structure. I'll reopen this.

[2017-10-24 23:42] ray-qu commented on #519
Would like to know if this feature is in place. If yes, could you please shed light on enabling it as it doesn't seem to appear in standard view?

In case its still being considered, would suggest to refer Grid view in Altova XML spy for JSON or XML content, which is somewhat similar to the original request, but need with direct edit capability as well. There seems to be many links to this feature

[2017-10-25 03:15] TheCoderGuyVlad commented on #1180
+1 for thread
+1 for eval global var idea
+1 for other suggestions here

[2017-10-25 06:09] drahnieR opened #3669 "[Feature Request] Rename variable reference within a collection"
## App Details:

[code]

## Issue Report:
So consider I got an API collection from App1 and another collection from APP2. Both collections uses client_id, client_secret for oauth.
But I'm actually working at a bigger scope which coordinate both apps. I don't really want to duplicate a lot of common variables into 2 environments, and switch back and forth.
So instead of creating 2 environment for e

[2017-10-25 06:16] ibnbd opened #3670 "Problem with pm instance"
I am using most recent standalone version of Postman. I have some Pre-Request-Script.

[code]

Which works perfectly on my MacBook every times I try. But on my windows computer sometimes it's working sometimes giving this error : `There was an error in evaluating the Pre-request Script: pm is not defined`.

I doubt Postman sometimes fails to load all dependencies, is there any other explanation fo

[2017-10-25 06:18] apoorv-yadav commented on #3658
@prashantagarwal when I remove the **:** chrome app gives error.

But when I tried in postman's native app then it worked. THANKS MAN FOR YOUR HELP!!

[2017-10-25 06:18] #3658 closed, assigned to prashantagarwal

[2017-10-25 06:19] mattboothman commented on #3651
This is also an issue on Windows 10: Postman v5.3.1

[2017-10-25 06:55] prashantagarwal commented on #3664
@midrissi We are already tracking this issue here #3222. Closing this as duplicate issue.

[2017-10-25 06:55] #3664 closed, assigned to nobody

[2017-10-25 07:03] prashantagarwal commented on #3666
@williamokano I was unable to reproduce this. Could you provide a screenshot of Network tab inside chrome devtools when you make this request. Folllow these steps.
- Open Chrome Devtools in your Postman app.
- Select Network tab.
- Make your POST request
- See that the request shows up in your Network tab.
- Click on the request to see details and take the screenshot of it.

[2017-10-25 07:04] prashantagarwal commented on #3666
@williamokano Also if it is possible for you, could you switch to our native apps and try running your request there.

[2017-10-25 07:13] prashantagarwal commented on #3668
@govindrai We have reopened #3117 . I am closing this one so that we can easily track this feature. This will be automatically linked to #3117 which will make sure your inputs are considered when we work on this feature.
Again, Thanks for suggesting this feature.

[2017-10-25 07:13] #3668 closed, assigned to a85

[2017-10-25 07:21] prashantagarwal commented on #3669
@drahnieR If I got your question right, your referring something like Find & Replace. We are actively working on this feature and as a result of which we already have `Find` functionality out in our native apps. In coming releases we will introduce `Replace` as well, using which you can replace all instances of the searched string with a single click. But yeah, again, this only available in our na

[2017-10-25 07:24] prashantagarwal commented on #3670
@ibnbd By any chance are you using chrome app on your Windows computer. `pm` is only available for our native apps.

[2017-10-25 07:30] ibnbd commented on #3670
@prashantagarwal no I am using 64bit windows standalone version. Version 5.3.1, which I downloaded again yesterday. It worked after installation, now saying pm is not defined.

[2017-10-25 07:31] prashantagarwal commented on #3670
@ibnbd Can you provide me the screenshot of the whole app when the error occurs.

[2017-10-25 07:35] ibnbd commented on #3670
@prashantagarwal

This is a successful call : https://imgur.com/ITGXiCZ

This is error : https://imgur.com/WmUCn56

[2017-10-25 07:37] mrbinr opened #3671 "Postman crashes since last Chromium update"
## App Details:
[code]

## Issue Report:
Since this morning, after having  updated Chromium as usual when system asks to do it, when i launch Postman, splash screen is displayed, after few seconds it close and then notification appears «Postman has crashes, click on notification to start again».

[2017-10-25 07:39] ibnbd commented on #3670
@prashantagarwal
I have the standalone version, which I downloaded from :
https://dl.pstmn.io/download/latest/win64

[2017-10-25 07:39] prashantagarwal commented on #3670
@ibnbd Definitely the error one is the Chrome app. By any chance do you have both native and chrome app on your Windows. If you are using some utility (like Spotlight Search in mac) that might be unable do differentiate.

[2017-10-25 07:40] prashantagarwal commented on #3670
@ibnbd Open your chrome browser and type `chrome://apps/`
If you see postman, remove it from there.

[2017-10-25 07:40] ibnbd commented on #3670
@prashantagarwal I don't have Chrome app version of Postman. Only standalone version.

[2017-10-25 07:59] mrbinr commented on #3671
Here is logs from syslog :

    service name='org.bluez' unit='dbus-org.bluez.service'
Oct 25 09:43:29 ME dbus[903]: [system] Activation via systemd failed
    for unit 'dbus-org.bluez.service': Unit dbus-org.bluez.service not found.
Oct 25 09:43:29 ME chrome-fhbjgbiflinjbdggehcddcbncdddomop-Default.desktop[12169]:
    ATTENTION: default value of option force_s3tc_enable overridden by environment.

[2017-10-25 08:00] mrbinr commented on #3671
Standalone Postman works, but Chrome extension not.

[2017-10-25 08:05] ibnbd commented on #3670
@prashantagarwal  thanks, my MacBook didn't had Chrome app but windows computer did.

[2017-10-25 08:07] prashantagarwal commented on #3670
Cool, closing this issue now.

[2017-10-25 08:07] #3670 closed, assigned to nobody

[2017-10-25 08:21] drahnieR commented on #3669
@prashantagarwal Thanks for the quick response. That really sounds good to me.
I've already worked around it the same way you mentioned ;)
cheers

[2017-10-25 08:32] prashantagarwal commented on #3669
@drahnieR Great !!

[2017-10-25 08:32] #3669 closed, assigned to prashantagarwal

[2017-10-25 09:03] chenlei354 opened #3672 "How to extract data from the postman results of response, and extract the data output to the file Note: the result of response is XML format"
How to extract data from the postman results of response, and extract the data output to the file
Note: the result of response is XML format

[2017-10-25 09:15] #3489 closed, assigned to a85

[2017-10-25 09:16] prashantagarwal commented on #3672
@chenlei354 you get request response as `responseBody` in `Test scripts`. Now what you can do is create a local server and expose a `POST` endpoint and then, using [pm.sendRequest](https://gist.github.com/madebysid/b57985b0649d3407a7aa9de1bd327990) call this POST endpoint with the `responseBody` as data. Also this is one [blog post](http://blog.getpostman.com/2017/09/01/write-to-your-local-file-sy

[2017-10-25 09:17] #3594 closed, assigned to nobody

[2017-10-25 10:22] JavOLeeN commented on #3327
FYI
https://github.com/electron/electron/issues/7466

[2017-10-25 11:49] szepczynski commented on #2617
Problem still exists

[2017-10-25 11:59] deepakpathania-zz commented on #3671
Hey @mrbinr, Chromium has actually indicated they will be fully deprecating chrome apps in the second half of 2017, therefore, I highly recommend using the native Linux app for your usage.[ Here](https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html) is the article for your reference.

[2017-10-25 12:15] cpage-nexway commented on #2851
+1

[2017-10-25 12:19] prashantagarwal commented on #3667
@mponton Thanks for opening this issue. Have you found a workaround for your issue or is there anything that you expected to be available in the Postman app itself.

[2017-10-25 12:56] repkins commented on #2931
Yeah, would be nice to have ASAP especially for frequent updates.

[2017-10-25 13:19] terencemcdevitt-argondigital commented on #2676
Love the idea - find myself doing the exact same thing. Another thought on this - rather than just a one time warning at start up, how about something more obvious but non-intrusive? Something like a configurable watermark on the Postman background that reads "Warning!" or "Production!", etc. Or maybe a thin red border around key elements on the screen? Something that will really grab your attenti

[2017-10-25 13:32] samudurand commented on #2676
I think what you are suggesting might also be a good idea, whichever would be great to have

[2017-10-25 14:00] mrbapa commented on #2030
+1

[2017-10-25 15:03] mrbinr commented on #3671
@deepakpathania thanks for your answer, and it's what i've done... i've removed Chromium app and installed native linux app to be able to continue my job :)

[2017-10-25 15:08] #3671 closed, assigned to numaanashraf

[2017-10-25 15:58] chrisron95 opened #3673 "Collection browser in runner window scrolls up when you open a collection"
## App Details:
[code]

## Issue Report:
_Please note, this is a very minute issue. It's not overly important, just a bit annoying._
 1. Did you encounter this recently, or has this bug always been there:
This started sometime within the last few updates, not sure exactly when but it was fairly recent.
 2. Expected behaviour:
When using the collection browser in the runner window, as you go into a

[2017-10-25 16:47] #2228 closed, assigned to nobody

[2017-10-25 16:48] a85 commented on #2230
@shamasis @SamvelRaja can we close this now?

[2017-10-25 16:56] srinivas258 commented on #553
Hi Could you please let me know how to get delayed timestamp? per1 hour or 2 hour pirior to the sys date?
my request is like below

url?starttime=2017-10-25T12:00&endtime=2017-10-25T13:00 also this is fine(end time = sysdate) rite now i am doing manually want to do it dynamically

http://host.php?timestamp=2017-10-24T13:00&endTimestamp={{timestampUtcIso8601}}

[2017-10-25 16:59] btrdurfee commented on #3327
I am having this issue as well with MacOS version 5.3.1. After authenticating, it takes you back to the login screen.

[2017-10-25 18:09] jbrz commented on #3327
This happens to me in 5.3.1 on OSX - not sure if relevant, but I'm using 2FA for Google.

[2017-10-25 18:44] wkuckro opened #3674 "UI Imporvement for dual-pane layout"
## App Details:
[code]

## Issue Report:
Improvement: I'd like the UI elements here to be lined up together when viewing side-by-side. You can see there are two different layout styles specifically for the `JSON` dropdown

![image](https://user-images.githubusercontent.com/16108658/32016668-22d63090-b98a-11e7-94f1-5e5c198f1901.png)

[2017-10-25 20:07] medjai commented on #3611
@prashantagarwal @harryi3t was there a conclusion to this in your team meeting last week?

[2017-10-25 21:25] mponton commented on #3667
Yes, the workaround for me is pretty simple, unset the http_proxy environnement variable. However I think the fact that it is used should be documented and also, the simple hostname:port format should be parsed correctly if you guys want to keep using it.

[2017-10-25 21:53] jayonsoftware commented on #2617
Any update on this, its just a pain typing a json when we should be able to just import.

[2017-10-26 01:57] salanford commented on #2523
I was butting heads with this too and discovered that the resource value can be passed in the query string instead of the body. So your authorize endpoint would look something like this: https://login.microsoftonline.com/{{tenantId}}/oauth2/authorize?resource={{resource}}

[2017-10-26 05:27] maissom-abbasi-confiz opened #3675 "While running test cases from CSV file, can I tell postman to skip certain cases?"
## App Details:

[code]

## Question: While running test cases from CSV file, can I tell postman to skip certain cases?

So I have a bundle of test cases maintained in a CSV file format. Is there a way to tell postman runner to skip a test case based on a particular field in the CSV file. For example If I want to add a column "Execute" and it has associated values "Yes/Skip" for al the test cases

[2017-10-26 05:49] krdeepak commented on #2265
I have a crt file which i imported in mac keychain. But chrome extension postman app does not show  that certificate in the select certificate prompt when hitting the api (just shows one certificate by apple - com.apple.idms.appleid.prd.68432b4c5531556751724a4d757363383770524679513d3d)

Using mac native app and adding crt file also fails with
 `(Error: write EPROTO 140735815500736:error:14094410:S

[2017-10-26 06:59] harryi3t commented on #2523
@salanford Thank you very much for the workaround.
Closing this now since there is nothing else required here.

[2017-10-26 10:44] louisnguyen1012 opened #3676 "Encoded unicode character."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Try to post with body: {"expression":"'\u0027 + @@version + \u0027'"}
 2. Expected behaviour:
It should similar with Chrome did. The Chrome transferred that body to  {"expression":"'\\\u0027 + @@version + \\\u0027'"}

[2017-10-26 10:49] louisnguyen1012 commented on #3676
It also occur with display response: if the response is {"expression":"'\\u0027 + @@Version + \\u0027'"}.
The Chrome showns: {"expression":"'\u0027 + @@Version + \u0027'"}
But the Postman shows: {"expression":"'\\u0027 + @@Version + \\u0027'"}

[2017-10-26 11:38] swateek commented on #2622
Facing a similar trouble, my express server is doing a gzip for my code. I can see it in cURL, but the same is not seen on POSTMAN. Any help @madebysid ?

[2017-10-26 11:38] sdnts commented on #3651
Hi @tsantzi @mattboothman We released 5.3.2 which has a fix for this, can you try updating and confirming it works correctly now?

[2017-10-26 11:38] sdnts commented on #3665
@midrissi @deepakpathania We released 5.3.2 which has a fix for these issues on Windows and Linux, can you update and confirm it is fixed?

[2017-10-26 11:40] sdnts commented on #3650
@lokirangers @eexit @rkolias We pushed out 5.3.2 which has a fix for this. Can you guys try updating and confirm that it works correctly now?

[2017-10-26 11:44] sdnts commented on #3673
@chrisron95 I was able to replicate this. The scroll position is persisted when you go through collections, we'll push out a fix for this with the next release. Thanks for reporting!

[2017-10-26 11:44] swateek opened #3677 "Postman shows "Could not get any response" when Content-Encoding is set as gzip."
I have an API that is serving response as gzip encoded, when Accept-Encoding is set.

Even though my API is giving a 200 OK response, I don't see anything on Postman except which says "Couldn't get any response".

Does it have anything to do with encoding being set?

I tested against [https://postman-echo.com/gzip](https://postman-echo.com/gzip) and this works very well.

When I fire cURL requests

[2017-10-26 11:49] sdnts commented on #3674
Hi @wkuckro! Are you talking about the `JSON (application/json)` dropdown on the left?

[2017-10-26 11:53] sdnts commented on #3675
@maissom-abbasi-confiz Do you use the new `pm` API to write your tests? If so, what you can do is  add a conditional assert inside your `pm.test` block.
Even if you use the `tests` object, you should still be able to populate a test key conditionally.

So it would look something like:

[code]

or

[code]

Please feel free to reopen if I misunderstood :)

[2017-10-26 11:54] #3675 closed, assigned to nobody

[2017-10-26 12:02] eexit commented on #3650
Problem solved!
Thanks!

[2017-10-26 12:23] toolmania1 commented on #1535
+1

[2017-10-26 13:44] wkuckro commented on #3674
Either or. Basically, these elements don't line up Consequently a request body and response body that are identical in terms of length are offset and that is visually disruptive

[2017-10-26 14:03] Elektra-2 opened #3678 "Postman Nonce"
Hello,

The API I am using the consume service using Postman only accepts nonce in numbers.
Is it possible to change this on the settings as postman only creates nonce in numbers and letters?

thanks,

[2017-10-26 14:23] shdunning commented on #2302
+1

[2017-10-26 14:41] glenwinters opened #3679 "Blank window after duplicate username error"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I saw this on first install of Postman.
 2. Expected behaviour: I'm not sure what it's supposed to do, but perhaps it should prompt for a new username since the one I gave was taken.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2017-10-26 14:59] maissom-abbasi-confiz commented on #3675
Hi @madebysid ,

I did not quite understand the solution.

Let me try to walkthrough by my scenario.

I have a CSV file with 16 rows of test data permutation against a single API call. I intend to add another column (say "execute" that has values "Yes/Skip". Can I control the execution of running the suit by adding a check in pre-request script that just altogether skips the iteration if the "data

[2017-10-26 15:01] TopherGopher commented on #2030
+1

[2017-10-26 15:23] d-shenoy opened #3680 "AWS Authorization header for uploading binary file calculated incorrectly"
## App Details:

[code]

## Issue Report:

 <?xml version="1.0" encoding="UTF-8"?>
<Error>
    <Code>XAmzContentSHA256Mismatch</Code>
    <Message>The provided 'x-amz-content-sha256' header does not match what was computed.</Message>
    <ClientComputedContentSHA256>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</ClientComputedContentSHA256>
    <S3ComputedContentSHA256>1c0847b15

[2017-10-26 15:30] unlikelyzero commented on #2302
+1

[2017-10-26 15:47] deepakpathania-zz commented on #3665
@madebysid Fixed in the Linux app.

[2017-10-26 15:49] #3665 closed, assigned to sdnts

[2017-10-26 16:24] robertocross commented on #2968
I would like this feature added too.

[2017-10-26 16:37] cyrilhamidechi commented on #3232
Hello @madebysid

Thanks a lot for your work and your response but it does not help...
Actually, this is not about "taking a better look at auth helpers".
It's about fixing the SIGv4 support for binary payload.

Is there any known workaround?

Again, great thank you for your work and help on this useful tool

Best,

Cyril

[2017-10-26 16:49] tsantzi commented on #3651
Hi @madebysid I can confirm that 5.3.2 fixes this bug in Linux, many thanks!

[2017-10-26 16:56] mattboothman commented on #3651
Hey, thanks for the speedy response. I can confirm this is now fixed on Linux for 5.3.2. I will check Windows later.

[2017-10-26 17:27] waltmoorhouse commented on #3589
We're holding off on purchase until this is resolved, as it makes it impossible to use for documenting our API or mocking, because the responses we need are very large.  Please fix asap and let us know when done so we can contact sales.

[2017-10-26 19:06] swateek commented on #3677
My Bad!

1. I was getting a print on the console, instead of a zip file when using curl.
2. My zipping wasn't correct.

This stackoverflow question helped - [https://stackoverflow.com/questions/14778239/nodejs-send-data-in-gzip-using-zlib/14778600#14778600](https://stackoverflow.com/questions/14778239/nodejs-send-data-in-gzip-using-zlib/14778600#14778600)

[2017-10-26 19:06] #3677 closed, assigned to nobody

[2017-10-26 21:07] sobtiankit commented on #3589
@waltmoorhouse we're going to increase this limit in 5.4 version of the app. Just curious, what is a typical large response size for you?

[2017-10-27 04:19] #3667 closed, assigned to harryi3t

[2017-10-27 04:24] prashantagarwal commented on #3653
@xutl I am still not sure what you are expecting here. I can see your windows version in zoomed out, which can be increased using the method I mentioned above.

[2017-10-27 04:25] #3650 closed, assigned to SamvelRaja

[2017-10-27 04:27] prashantagarwal commented on #3649
@MrBenGriffin We were able to identify the cause for it. We have released a fix for this in 5.3.2 . Feel free to reopen the issue if you are still facing this issue.

[2017-10-27 04:27] #3649 closed, assigned to prashantagarwal

[2017-10-27 06:43] krdeepak commented on #3251
How can we add certificate with only .crt file available and not the key file. For normal ssl handshake, only crt file is needed.

[2017-10-27 07:13] midrissi commented on #3665
@madebysid Fixed in windows too :+1:

![bitmoji](https://render.bitstrips.com/v2/cpanel/7834193-282480426_5-s1-v1.png?transparent=1&palette=1&width=246)

[2017-10-27 07:15] #3651 closed, assigned to SamvelRaja

[2017-10-27 07:29] pokryva commented on #1180
biiiig +1 for being able to load external js libraries for use in pre-request scripts **in the native app**, given [this](http://blog.getpostman.com/2017/03/14/going-native/) blog post and the big yellow warning that appeared in my chrome app today ;)
![image](https://user-images.githubusercontent.com/15121868/32092520-3af2e306-baf9-11e7-8853-499ba82eec8e.png)

[2017-10-27 07:30] KevinvdBurg commented on #2256
I still got a whitescreen on the native app. The chrome app is fine. I'm using Windows 10 (fall creators update), Intel Core i7-2760QM 2.40GHz. 16gb ram, 64bit.

Native:
![Native](https://user-images.githubusercontent.com/4567644/32092539-56ee7980-baf9-11e7-928e-eed2f94aaf00.PNG)

Chrome:
![Chrome](https://user-images.githubusercontent.com/4567644/32092551-6049b8aa-baf9-11e7-86fd-e60bca64c34d.PNG)

[2017-10-27 07:41] SamvelRaja commented on #2256
@KevinvdBurg  By any chance, you are running ia32bit version on your 64bit OS?

[2017-10-27 07:49] hongaar opened #3681 "Console errors in documentation on custom domain"
## App Details:
[code]

## Issue Report:
On a custom documentation domain, I get a bunch of these errors in the console:

[code]

and

[code]

[2017-10-27 07:52] prasadpnair commented on #3650
This is happening even in 5.3.2 linux version

[2017-10-27 07:52] kamalaknn commented on #3251
It looks like we are canceling out both certificate files if there was an error with one file. We'll take a look at this again.

Thanks for reporting this.

[2017-10-27 07:54] DoveAz commented on #3653
I have same problem
![image](https://user-images.githubusercontent.com/15158280/32093454-ea269b26-bb2e-11e7-985f-eea12f3562ec.png)
color too light ,  we need a option to change font

[2017-10-27 07:55] ygeelen-tb opened #3682 "Postman Proxy HTTPS certificate errors"
I'm experiencing the exact same issue as this guy:
https://stackoverflow.com/questions/41078313/using-postman-as-proxy-for-android-phone-certificate-error
I’m also trying to record HTTP requests done on my Android tablet.
Do you have any idea why I’m getting certificate errors? I tried disabling SSL verification in the Postman settings also.

[2017-10-27 08:09] hongaar opened #3683 "Documentation feature requests"
We recently switched from Swagger UI to Postman documentation and it's a real lifesaver to have API testing and docs integrated! Here are some suggestions which would make the documentation even better:

- Optionally integrate example responses (which are already saved in collection request examples)
   (_I see now that https://docs.api.getpostman.com/ already has this, but can't seem to get it to

[2017-10-27 08:11] DoveAz commented on #3653
see  active tab

![image](https://user-images.githubusercontent.com/15158280/32093822-5c858d34-bb30-11e7-8a5f-5011a86f8a43.png)

word in the active tab not clear

if add font-size in css

![image](https://user-images.githubusercontent.com/15158280/32093847-6e49627a-bb30-11e7-884a-630a167c385d.png)

we need  options to change tabs  fong-size  and change font , default font display is bad ..... micr

[2017-10-27 09:37] wilhen01 opened #3684 "Feature Request - Support for Transfer-Encoding: chunked"
I came across a case recently where I wanted to test sending POST requests using Transfer-Encoding: chunked. It would be cool if POSTMan had the ability to send requests in this manner and control the size of chunks used in the sending process (in bytes maybe). I appreciate this is quite a niche case but it would have saved me writing some code!

[2017-10-27 10:40] JurgenPostelmans opened #3685 "Error: The request body must contain the following parameter: 'client_secret or client_assertion'."
Hi,

I'm trying to get an access token using Azure AD for the Microsoft Power BI REST Service or Dynamics 365. When I fill in the details about the Token Request and execute it, I get the following response in the console:

The request body must contain the following parameter: 'client_secret or client_assertion'.
 Trace ID: d04b3b58-8deb-42da-9869-d70bfdab2a00
 Correlation ID: 73e48134-84b0-4983-

[2017-10-27 13:58] JurgenPostelmans commented on #3685
And one more thing I noticed is that when I make exactly (!) the same token request using on old Postman V5.2 running on windows, it works without any issues!

[2017-10-27 14:21] guestz0r opened #3686 "Unable to use conditional statements with pm.* API"
## App Details:
Postman for Mac
Version 5.3.1
OS X 16.7.0 / x64

## Issue Report:
Hello, I have originally asked my question here:
https://stackoverflow.com/questions/46929974/how-to-use-conditional-statement-with-postmans-new-pm-api

I'm having problem with fully moving my test scripts to pm.* API as I cannot get a conditional statement to work. Here is an example of my old test script and the ne

[2017-10-27 14:26] HudsonAfonso commented on #3653
+1
"we need options to change tabs fong-size and change font, default font display is bad"

[2017-10-27 14:37] JurgenPostelmans commented on #3685
Upgraded my Windows Postman client app, and now it showing the same behavior. So it is still an issue...

[2017-10-27 15:20] oumiller21 commented on #3685
Same issue here

[2017-10-27 19:19] jeubank12 commented on #3682
I have similar issue, I am watching this bug: [3631](https://github.com/postmanlabs/postman-app-support/issues/3631)

[2017-10-27 19:23] ovictorpinto commented on #2701
+1 me too

[2017-10-27 22:11] jbrinkle commented on #3604
I don't know if Okta changed something but current status:
5.2.1 - still works
5.3.1 - **doesn't work anymore**. When it comes time to respond with a redirect with the auth code, it redirects back to the login page instead
5.3.2 - **doesn't work**

I'm uploading two files containing fiddler traces (https://www.telerik.com/download/fiddler). My desktop is running 5.2.1 and it works perfectly. The l

[2017-10-28 02:54] coryasilva commented on #2851
+1

[2017-10-28 08:29] frankiedrake commented on #3646
Also waiting for crypto :D Thanks!

[2017-10-28 17:52] EricZimmerman commented on #3127
seeing this too in standalone app, but not in chrome extension/app

[2017-10-28 19:25] tejpratap46 opened #3687 "App Crashed even before it opens"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 I do not use postman regularly (my current app does use any api's) but maybe this happened after updating to 5.3.1
 2. Expected behaviour:
App should have opened properly.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the

[2017-10-29 05:11] nkpaladugu commented on #2256
I have same issue on windows 7 32 bit, installed postman v5.3.2.. On opening, its just turned into a white screen.

[2017-10-29 08:21] kamalaknn commented on #3678
@Elektra1 Could you share the Authentication Type you are using?

In general, Postman has an option for you enter your values for any of the fields that you want to override. So you should be able to enter any `nonce` in the advanced section and it should just work. Could you check that?

[2017-10-29 16:31] mhamri opened #3688 "utf-8 is not supported"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: yes, I just setuped the stand alone postman application and encounter this issue, on chrome it works fine
 2. Expected behavior: i am sending this "http://localhost:50610/س/" and at server side i'm receiving "3" instead of "س"
or

[2017-10-29 20:51] sepehrr opened #3689 "Saving two examples in one tab after each other"
## App Details:

Postman for Mac
Version 5.3.2 (5.3.2)
OS X

## Issue Report:
I make a request and click on "save response" and save it as an example with the title I want. that's fine.  now I change the request and click send and then I try to save new response as new example, but I can't change the example title to what I want, it's not editable, it's read only.

PS. If I close tab and select re

[2017-10-29 22:52] lippsm opened #3690 "pm.response.to.not.be causes later assertions to work backwards."
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I'm new to the program, so I'm not sure if this has been existing behavior. The code I was using, however, was found in an example in the 'Test Scripts' section of the getpostman website. I took out a lot of the fluff from the code to il

[2017-10-30 04:24] bkmetzler opened #3691 "Copy to Clipboard with Pretty JSON response failing"
## App Details:
Postman for Linux
Version 5.3.2
linux 4.4.0-97-generic / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Issue was not present in Postman-linux-x64-5.1.3.tar.gz
Next version I installed, that shows the issue, is Postman-linux-x64-5.3.2.tar.gz

 2. Expected behaviour:
Being able to copy data from JSON output to clipboard.

 3. Console lo

[2017-10-30 05:58] danbyrne opened #3692 "Support NTLM Auth for System Proxy"
## App Details:
[code]

## Issue Report:
Hi Team,
With further notice that the Chrome version of the app will become desupported, we have been trying (yet again) in vain to get the Windows version of Postman to successfully work with our Corporate Proxy, which happens to enforce NTLM Auth.
It seems that with version 5.3, 'Windows Auth' is now an Auth mechanism for API calls, but that doesnt necess

[2017-10-30 06:14] danbyrne commented on #3692
FYI it seems the only way we can work around this is to use 'another' app as a proxy for Postman, such as Fiddler (this seems to work)... but that is certainly not an elegant solution.

[2017-10-30 06:18] kamalaknn commented on #3685
@JurgenPostelmans Azure AD Token request expects `client_secret` to be in the request body. The default is to send them as `Basic Authorizorization Header`.

**Switching the `Client Authentication` to `Send client credentials in body` should fix it.**

In versions older than 5.3 Postman would send the credentials in request body, that wasn't ideal for all users. So we've changed this behavior to g

[2017-10-30 06:18] #3685 closed, assigned to nobody

[2017-10-30 07:36] kamalaknn commented on #3686
@guestz0r you are seeing this because `pm.test` does not return the result of the test. This is because you can have multiple assertions in one `pm.test` and those are executed asynchronously.

That said, the `pm.test` is a much more powerful API and you should be able to do a lot more with this.

To give an example, this would be the equivalent of your code example with the new `pm.test`
[code]

[2017-10-30 07:36] #3686 closed, assigned to kamalaknn

[2017-10-30 07:36] cawoodm opened #3693 "Improved Folder Handling"
Like many other people I am responsible for multiple systems with multiple environments. Say you have 3 systems and each has DEV, TEST, PROD you have 9 systems and I manage these via folders currently (maybe there's a better way and I'd be glad to hear it).

The problem with folders is that when you search it searches across all folders and expands all of them. This is a pain when you have the sam

[2017-10-30 08:10] LeopoldLerch commented on #3344
same here

This is a adfs-request to a local server, eg in connection with sharepoint. The redirect after successful authentication there is done via javascript on that page. so, when javascript is not working, there will be no redirect and the error message is shown.

This problem is occurring if one sends the request directly via post,  or if you try to do the authorization via eg "Get new Acces

[2017-10-30 08:23] cawoodm opened #3694 "Send saved Examples"
I noticed the new examples feature and decided to re-organize all my requests. So instead of having 5 requests for each object (GET, PUT, POST, DELETE and SEARCH) I made one request per object and created 5 examples.

However, there seems to be no way to "Send" an example request. That's a pity - could this be added?

![image](https://user-images.githubusercontent.com/498834/32160915-fdbf69c0-bd53

[2017-10-30 08:26] prashantagarwal commented on #3694
@cawoodm We are already tracking this here #3630 . I am closing this as duplicate.

[2017-10-30 08:32] prashantagarwal commented on #3693
@cawoodm Thanks for the suggestion. I think your use case could be better handled by using [Environment variables](https://www.getpostman.com/docs/postman/environments_and_globals/manage_environments).

So you can move all your environment dependent things (urls, tokens etc) to specific environments and then use variables. This will save you from the trouble of maintaining separate requests.

[2017-10-30 08:44] josslamberti commented on #3291
I've been reproducing the issue more and more over the last few days. It's starting to really impact my output.
Since I'm the only one apparently still reporting it, could there be an issue with my repository? Should I do a backup, delete everything and import everything again? Do you think this may help?
Thanks in advance.

[2017-10-30 08:48] prashantagarwal commented on #3684
@wilhen01 Thanks for suggesting this feature.

[2017-10-30 08:51] prashantagarwal commented on #3683
@hongaar Thanks for suggesting these. We will surely have a look a them

[2017-10-30 09:01] SamvelRaja commented on #3291
@josslamberti  The data you provided is proper as far I went through it. If your data is already synced with the postman server, you can go ahead, log out and log in back should get the fresh sets of data from the sync server.
By which we are ensuring that the corrupted local data is removed.

[2017-10-30 09:03] melnikaite opened #3695 "Feature request: Add Fetch API to the list of generated js code"
Fetch API documentation https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API

[2017-10-30 09:20] josslamberti commented on #3291
Sync is off so I'll be doing it via a manual back up.

[2017-10-30 09:20] cawoodm commented on #3693
Yep, that does indeed work well. Still not convinced the search should expand everything though.

[2017-10-30 09:22] prashantagarwal commented on #3693
@cawoodm Yes, that's a good suggestion. Also we introduced `Find` feature in our native apps. You can try that as well to search inside you request, collections, etc.

[2017-10-30 09:22] #3693 closed, assigned to prashantagarwal

[2017-10-30 09:22] cawoodm commented on #3694
You're sure it's the same issue? The OP of 3630 did not mention the "Examples" feature.

[2017-10-30 09:25] prashantagarwal commented on #3693
@cawoodm Yes in that ticket Examples are referred as saved responses.

[2017-10-30 09:26] prashantagarwal commented on #3694
@cawoodm Yes in that ticket Examples are referred as saved responses.

[2017-10-30 09:32] onionsheep commented on #1321
i wanna this feature too

[2017-10-30 10:16] guestz0r commented on #3686
Thank you for the detailed answer, @kamalaknn, this helps a lot

[2017-10-30 10:19] prashantagarwal commented on #3695
@melnikaite closing this as duplicate of #2724

[2017-10-30 10:19] #3695 closed, assigned to nobody

[2017-10-30 11:01] ghost commented on #2418
<img width="1440" alt="screen shot 2017-10-30 at 18 00 27" src="https://user-images.githubusercontent.com/12474491/32167687-3d3a4bcc-bd9c-11e7-8f63-8f68d5c267ae.png">
I've the same issue in macOS native app and chrome app. But if the service was called from localhost everything work fine.

[2017-10-30 13:29] bukko opened #3696 "New install on SurfacePro (Win10) not starting"
Postman for Windows
Windows 10 / x64
(Unfortunately I can't get to "Settings / About" to copy anything from there, but the problem occurs with the lastest stable version (haven't tried earlier or less stable versions))

Installed a fresh download of Postman (latest stable version).
On startup it goes through all the amusing phrases, then goes through them again, etc.
(Around the 15th cycle it beco

[2017-10-30 14:59] silvanu commented on #1180
+1

[2017-10-30 15:25] sergey-netdev commented on #1854
@madebysid, can you please describe how we do that in "Get New Access Token" dialog?

[2017-10-30 15:39] Bragolgirith commented on #2253
Should this issue really be closed?
That is a nice workaround, but the underlying issue - Postman ignoring the proxy settings - hasn't been fixed.

[2017-10-30 18:31] ngrigoriev opened #3697 "Google sign-in with secure key (Yubi) does not work"
I have just installed the native app on OS X when migrating from Chrome App to the native one. I have attempted to sign in with my GMail account. My account has MFA configured with several methods, including the one with YubiKey (my preferred MFA device). After entering the GMail username and password I have got to the part of the login process where Google asks to insert the key. That window was

[2017-10-30 18:54] StevenGall commented on #3327
@btrdurfee @jbrz It seems to be fixed in 5.3.2. I would suggest downloading the update if you haven't already. 👍

[2017-10-30 21:07] ocmyhome commented on #3127
Any insight into this issue?  Postman is rendered useless for me until this can be figured out.

I have automation that runs on my same dev machine that issues the same requests w/ out a problem.  It's only when using Postman when requests aren't responding in Postman properly.

I've talked to IT about whether it's our anti-virus causing issues, and we've determined it's not.

If anything, can we

[2017-10-30 21:20] HoGuan6666666 commented on #1180
+1

[2017-10-30 22:00] Ghazibelaam commented on #3127
Yes I  have the same issue with the stand alone version 5.3.2
the chrome app works fine.
I have noticed this issue with the chrome app if I don't open my server URI in chrome.
but now that the app is stand alone, it is doing the same. and going to chrome and putting my URI in there would not fix it of course.
I think there is some session token or something that needs to added to the headers, but

[2017-10-30 22:53] ocmyhome commented on #3127
I figured out what was wrong (for me), and it's completely user error and I'm an idiot.

At some point I set the timeout to some tiny amount (in ms) and some/most of my requests wouldn't respond in time.  I'd love it if a Postman upgrade changed this from seconds to ms, so I can feel better about my stupidity, but I doubt that's the case...

[2017-10-30 23:07] agaitaud opened #3698 "Equals sign dropped from request in postman collection runner"
## App Details:

[code]

## Issue Report:
 1. Issue with Collection runner in Postman for Windows application, where character = is dropped from certain requests. I never had this issue with Postman Chrome extension, and only ran into it when when switching to Postman for Windows. Equals sign is dropped when either at the end of a request, or when surrounded by non-url encoded special characters (

[2017-10-31 06:14] deepal opened #3700 "Feature Request: Inline Console (Similar to Browser Console)"
Hey guys,

Is there a possibility of making the postman console inline as a panel at the bottom of the page (similar to dev tools in chrome) other than a separate console window? I badly need the console, but it's really painful when it opens up in a new window.

Thanks.

[2017-10-31 07:50] DanielRamosAcosta commented on #2931
Also, it would be nice to have a debian package.

[2017-10-31 09:39] pegaltier commented on #2076
@mbirtwistle Thanks

[2017-10-31 10:05] charles-studio commented on #2406
![image](https://user-images.githubusercontent.com/15262389/32218390-b28b5c44-be65-11e7-9775-1343b9ef29fd.png)
Authorization:Bearer undefined

[2017-10-31 10:12] dyymmi opened #3701 "Synchronization error when value from runner's delay field is empty"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **Recently but can't guarantee it wasn't there before**
 2. Expected behaviour: **App should not allow to leave *delay* field empty or handle this under the hood**
 3. Console logs:
[code]

## Steps to reproduce the problem:

1. Open Runner
2. Delete value from delay field
3. Run colle

[2017-10-31 10:17] Kars-de-Jong commented on #2476
+1 for me too. Response times are less than 100 ms with the Chrome app, and > 800 ms with the native app. This starts getting especially important now that the Chrome app is about to be discontinued.

[2017-10-31 10:53] gavinclarkeuk opened #3702 "Closing second Postman window exits application"
## App Details:

[code]

## Issue Report:
If I open a second postman window (File->New Postman Window), and then close again it using either the X in the top right, or by using File->Close Window it closes the entire application. I'd expect it to just close the window I selected and leave the original window open, especially given Exit and Close Window are separate menu items.

Just started notici

[2017-10-31 11:09] joe-mojo opened #3703 "Follow Authorization header when redirecting to a different host"
## App Details:

[code]

## Issue Report:
Postman Mac doesn't re-send headers on redirect as Postman Chrome did.

1) Create a collection in Postman Chrome
2) Create a GET with Basic auth. The endpoint must redirect on another IP
3) launch the request

Expected : like in Postman Chrome, Postman Mac should follow 302 and retry the request on the new location with same header (including auth) and get

[2017-10-31 11:16] deepakpathania-zz commented on #3702
Hey @gavinclarkeuk, As per the discussion on #3222, this was a windows specific issue. I would recommend updating to the latest version, 5.3.2, to see if this persists and then report again.

[2017-10-31 11:23] gavinclarkeuk commented on #3702
Somehow copied and pasted incorrect version info above, am using latest 5.3.2 on windows and issue persists but I see #3222 is still open, so will close this as a dupe

[2017-10-31 11:23] #3702 closed, assigned to nobody

[2017-10-31 12:31] liam-hitchcock-dev commented on #2250
Currently this issue is showing up again on postman v5.3.2: 'expected the response type to be 'text' but got 'text/csv'
Is there any chance to get this issue looked at again?

[2017-10-31 12:43] miluoalbert commented on #3631
you can fix this by turning off 'SSL certificate verification' in **Settings > General**

[2017-10-31 12:55] jeubank12 commented on #3631
@miluoalbert he says in 2. above that the setting is not working. I have experienced the same

[2017-10-31 12:59] neoty opened #3704 "dosen't work postman on mac"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-10-31 13:09] moskal91 commented on #2253
Same issue for me in Postman 5.3.2! How it could be closed just like that without fix? Postman is still using system proxy even if it is disabled in options (`HTTP_PROXY` and `HTTPS_PROXY` environment variables are still respected). Only elegant way to fix this issue under Windows is setting `NO_PROXY` envronment variable to `localhost,127.0.0.1` (turning on "Don't use the proxy server for local (

[2017-10-31 13:18] davidpastrana commented on #3389
I agree with that, would be very helpful for Mac Postman app.
I have to constantly go to the Body tab as is the most used for everyone.
Therefore, I would like to avoid the default tab of Authorisation.

Thanks,
David

[2017-10-31 13:35] xavier-b commented on #1885
+1

[2017-10-31 13:47] maslennikov-yv commented on #285
+1

[2017-10-31 13:51] moskal91 commented on #285
+1

[2017-10-31 14:07] yurii-github commented on #3531
almost same here on Debian with standalone app
Postman for Linux
Version 5.3.2
linux 4.9.0-4-amd64 / x64

bugged just an hour ago

in console output IS good. Remove anything from "Tests" and no more "loading..." stuff

how to reset it? It's app breaking thing

p.s.
probably it is because
I was using xDebug and clicked POST again while STILL debugging previous session

p.p.s.
After running on newly

[2017-10-31 14:09] jaxspades commented on #2240
I would love to see this as a part of some of the other authentication types as well. I have endpoints that are using NTLM + Kerberos. I can't seem to get everything working with them using simply NTLM on the native windows client. They used to work with the Chrome App as Chrome was supplying my credentials behind the scenes.

[2017-10-31 15:33] leolozes opened #3705 "Wrong position on second screen every time Postman opens"
Two screens setup, one laptop with HiDPI (3200x1800) and a 1080p external screen.
Usually I always opened Postman on the second screen.
Since the last two-three versions, Postman always open in a weird size / position on the second screen.

## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.16299 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been the

[2017-10-31 15:40] xavier-b commented on #1947
+1

[2017-10-31 15:56] sergioatzori commented on #2082
Same here: Postman stand alone, 5.3.0.

Cache-Control →no-cache, private
Connection →Keep-Alive
Content-Disposition →attachment; filename="sistema-latruccheria.pdf"
Content-Encoding →gzip
Content-Type →application/octet-stream
Date →Tue, 31 Oct 2017 15:50:31 GMT
Keep-Alive →timeout=5, max=100
Server →Apache/2.4.10 (Debian)
Transfer-Encoding →chunked
Vary →Authorization,Accept-Encoding

When I "sav

[2017-10-31 16:42] powelli opened #3706 "Feature Request: Client certificate support for Monitors"
# Feature Request
We use Postman Pro internally for developing and testing our APIs. The public endpoints are protected by SSL mutual authentication using client certificates. We would love to be able to set up automated monitoring and testing of our endpoints using Monitors and make full use of our Pro subscription, but currently this doesn't seem to be possible as Monitors don't support the conf

[2017-10-31 20:09] blairg23 commented on #499
This needs to be re-opened. It's still occurring in latest version with 2.1 collections.

[2017-10-31 20:15] TheBox193 commented on #499
@blairg23 Make a new issue with details and reference this one.

[2017-10-31 21:50] jaxspades commented on #2253
Even with all proxy settings in Postman turned off and the `NO_PROXY` environment variable set to `localhost,127.0.0.1`, I still have to use a local proxy like Fiddler just to get it to route appropriately on my machine, otherwise I get the generic "No response" message.

[2017-10-31 23:45] shreyashdholakia commented on #1678
👍 +1

[2017-11-01 03:30] daya0576 opened #3707 "Postman window does not show up after opening it."
## App Details:
[code]

## Issue Report:
After opening the `Postman-osx-5.3.2`, it shows in docker, but I cannot find the actual window..
tried "Show All Windows", still does not work.
![image](https://user-images.githubusercontent.com/6239652/32258735-49bb34b2-be8a-11e7-981a-5adb2ca56db2.png)

[2017-11-01 03:37] anshupitlia commented on #2850
why was this issue closed, is it fixed?

[2017-11-01 06:10] rankun203 commented on #3127
I'm facing the same issue, local proxy shows the request responded with correct data, but Postman the standalone app didn't show it, instead, it gives an Error: socket hang up. If it's not a Postman issue, maybe it's about Electron?

----

Edited: In my case, if I disable the proxy setting, it works just fine.

[2017-11-01 08:55] zizifn commented on #3707
Same issue. Version 5.3.2 on windows 7.

[2017-11-01 11:42] gukoff opened #3708 "Repeated GET-params disappear"
## App Details:
[code]

How to reproduce:
1. Put in the URL `http://google.com?a=1&a=2&a=3`
2. Uncheck any of the repeated params
<img width="765" alt="2017-11-01 16 39 08" src="https://user-images.githubusercontent.com/5655837/32273187-3bc64ee8-bf23-11e7-9323-3fbcd278793c.png">
3. Unchecked params disappear instead of getting disabled
<img width="763" alt="2017-11-01 16 40 19" src="https://user-i

[2017-11-01 11:46] rdehouss commented on #1104
+1

[2017-11-01 14:38] Fuerte1 opened #3709 "Postman Desktop (Windows) does not work (proxy?)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
First time I used Desktop version, and it has never worked.
 2. Expected behaviour:
It should connect to server.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Scre

[2017-11-01 14:41] Fuerte1 commented on #3709
Postman console shows this:

Error: Invalid protocol: proxy:

[2017-11-01 15:03] mbrasier commented on #3692
We are seeing the same issue, but are unable to use another proxy to work around it, so now that the chrome app is no longer supported we unfortunately can no longer use Postman. Removing the chrome app was very premature given you cant authenticate through an NTLM proxy.

[2017-11-01 16:12] mbrasier commented on #3709
Postman doesnt seem to support NTLM proxies in the desktop app - this is a major limitation as it makes it unusable in corporate environments. Not sure why they decided to discontinue the chrome app without making sure this works.

See also https://github.com/postmanlabs/postman-app-support/issues/3692

[2017-11-01 16:40] mbniehues commented on #2874
My team is facing an issue that I believe is the same thing. We're using Postman Windows native client 5.3.2. I get ```Error: SSL Error: UNABLE_TO_VERIFY_LEAF_SIGNATURE``` when using HTTPS to POST to our production REST API. However, this works for other team members.

One of our team members gets the error when using HTTPS to POST to our staging REST API. However, I'm able to do that just fine. A

[2017-11-01 16:46] CestDiego commented on #3692
We are seeing the same issue. Whenever we need to specify custom proxy like:  'http://user:passwd@proxy:8080/' Postman Custom proxy field strips that out, I imagine it's not supported, @postman-admin please work on this.

Also adding support to automatically configured proxies by giving an http endpoint that connects to  a PAC file for example.

[2017-11-01 17:35] JDunn3 commented on #1507
+1
Right now I have a collection feeding off of a data file to iterate, and it runs my oauth request every time and stores in an environment variable. Would be great to be able to automatically handle refreshing the token without having to write it myself in a pre-request script for every request.

[2017-11-01 18:01] JacksonBailey commented on #3631
To give more details on this, my company has a proxy we must use (BlueCoat, I believe), and I believe it is terminating the connection.

In the postman console I see this error in red: `Error: read ECONNRESET`. After googling this it seems to be a Node error that happens when the other side of the TCP connection resets the TCP connection unexpectedly.

I ran wireshark and sure enough the proxy see

[2017-11-01 19:45] cauvery-guda-eb commented on #2876
Looking forward for this change.

[2017-11-01 19:46] cauvery-guda-eb commented on #3654
Looking forward for this change, badly need this.

[2017-11-01 20:02] GeekMustHave opened #3710 "Newman runs, only displays first 2 assertions for each Test"
## Me
I am a newbie to Newman and I've learned a lot, still have got miles to go before ...

## App Details:

[code]

## Issue Report:
 1.This problem has always been there
 2. All of the Assertions run in "Runner", expected to see all of them run in Newman
 3. For every test, there are 11-15 assertions, in Runner they all execute
 4. Running the same collection/environment in Newman only the firs

[2017-11-01 20:30] GeekMustHave commented on #3710
Of course right after I posted this I ran Newman without redirecting the output to an HTML reporter and found this, it doesn't like "has"???

   #  failure                detail

 01.  Error                  self signed certificate in certificate chain
                             at request
                             inside "000 Set Global test routines"

 02.  Error                  self signe

[2017-11-01 20:36] GeekMustHave commented on #3710
OK, Just found the answer to my own question.

https://github.com/postmanlabs/newman/issues/603

I added a (-k) to the Newman command and everything is better now.

[2017-11-01 21:48] mjkraner commented on #3529
What if you don't want an empty string?  you want it to be null

[2017-11-01 21:51] mjkraner commented on #2861
this seems to still be the case, we need a null to go in but when we leave the field blank it pulls the variable name instead

[2017-11-01 22:49] ghost commented on #450
Same here! Started working after adding / at the end.

[2017-11-01 23:09] stephenmcd1 commented on #1647
I'm in the process of moving from the Chrome App version of Postman to the Native version and was also looking for a way to export/import my history.  I couldn't find anyway through the front-end, but I hacked together some javascript to do it.  It's not pretty but it worked!  There is probably a cleaner way to write the code (I was too lazy to use actual callbacks/event handlers so you can't exec

[2017-11-01 23:44] surajpasuparthy opened #3711 "Large files upload via postman crashes postman"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-11-02 01:32] losinggeneration opened #3712 "Feature request: Code generator for Postman Sandbox API"
It would be useful to be able to turn a Postman request into something that could be used in Pre-Request or Test scripts. This can currently be done by selecting `Code->NodeJS->Request`, but the generated code needs changes to make it work as a Pre-Request or Test script. One example of this is that environment variables used in the original Request are expanded. The NodeJS Request options object

[2017-11-02 06:25] markozxuu opened #3713 ""Error: socket hang up" while sending request"
**Postman for Mac**
**Version 5.3.2**

<img width="1280" alt="screen shot 2017-11-02 at 00 14 23" src="https://user-images.githubusercontent.com/16585386/32312582-2eaec83e-bf64-11e7-9836-313d6213b576.png">

[2017-11-02 06:42] nickm8 commented on #1180
+1

[2017-11-02 06:55] numaanashraf commented on #3713
@MAPESO Are you facing the same issue when you request GET `https://postman-echo.com/get`? `socket hang up` error is usually caused by the server closing the connection or timing out.

[2017-11-02 07:07] kamalaknn commented on #3712
@losinggeneration Thanks for the suggestion. That would be an interesting use of code generation in Postman.

One more thought, can this request part of your collection. If we gave you more control over the execution order of a collection would that help? We are building something over `postman.setNextRequest`. We'll try to include this while building that.

[2017-11-02 07:18] markozxuu commented on #3713
@numaanashraf
<img width="1280" alt="screen shot 2017-11-02 at 01 17 03" src="https://user-images.githubusercontent.com/16585386/32314071-9c968024-bf6b-11e7-97b6-1aa3f0f96ded.png">

[2017-11-02 08:48] Faz540 opened #3714 "[Bug] - Postman Monitors -The View and Region dropdowns need to be vertically larger to fit all the text"
![image](https://user-images.githubusercontent.com/9334128/32317070-8162c666-bfaa-11e7-98ab-0d35b16f1179.png)

See the text displayed in the dropdown menus above the graph.

[2017-11-02 09:22] sudeepto-dutta commented on #1678
:+1: +1

[2017-11-02 09:24] neon096 opened #3715 "Windows Desktop Proxy issues, Chrome app works fine"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.14393 / x64

This is the proxy settings

Global Proxy Configuration

ON
Specify a global proxy setting to act as an intermediary for requests sent to the server.Learn more about using a global proxy
Proxy Type
HTTP =  Y
HTTPS = Y
Proxy Server xxx.xxx.xxx.xxx:1
Use System Proxy

ON

When sending a message through the Desktop app to our in

[2017-11-02 09:42] mbrasier commented on #3715
This is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3692
caused by not supporting NTLM proxies before withdrawing the chrome app

[2017-11-02 10:10] josslamberti commented on #2657
I'd suggest having a 'collapse all collections' button as well, collapsing both folders and collections.

[2017-11-02 11:23] exoquester commented on #2701
+1 here as well !!!

[2017-11-02 12:09] OliverRC commented on #2857
Guys is there any update? If your code was open source I would happily try and assist fixing this.

[2017-11-02 13:22] hoose145 commented on #3327
not sure that it is fixed in 5.3.2.

i try to login and it just gives me a blank screen and doesn't do anything else.

[2017-11-02 13:27] yurii-github commented on #3531
happened again. diff distro copy did not help
removing tests help

it's app breaking bug

[2017-11-02 13:31] labbati commented on #3531
In my case I noticed that this issue was caused by a cookie including binary data. Removing that cookie everything was fine (even with tests). Unfortunately I am not able to provide neither that cookie value, nor to reproduce with different cookies.

[2017-11-02 13:34] yurii-github commented on #3531
labbati
thanks! I got some random _crf cookie, after removing it all is fine now
I guess that's the true issue

p.s. on 1st encounter I also cleared cookie, but it didn't help that time. maybe cache or something

[2017-11-02 13:54] luqmansungkar commented on #3531
Wow, thanks @labbati ! That solved the problem!

[2017-11-02 14:27] vishwasec commented on #1104
+1

[2017-11-02 15:40] prashantagarwal commented on #3676
@louisnguyen1012 Thanks for reporting this.

[2017-11-02 15:44] prashantagarwal commented on #3679
@glenwinters Thanks for reporting this.

[2017-11-02 15:46] prashantagarwal commented on #3680
@d-shenoy Thanks for reporting this.

[2017-11-02 15:49] prashantagarwal commented on #3687
@tejpratap46 Thanks for reporting this.

[2017-11-02 15:54] prashantagarwal commented on #3688
@mhamri Can you update to the latest Postman app version and see if it is still happening for you.
Also can you provide me with a screenshot of Postman Console after sending this request.

[2017-11-02 15:56] prashantagarwal commented on #3689
@sepehrr That's odd. We were unable to reproduce this at our end. We will investigate more.

[2017-11-02 16:00] prashantagarwal commented on #3691
@bkmetzler Are you still facing this issue. I was unable to reproduce it on MacOS. I will try to reproduce this on Linux.

[2017-11-02 16:05] prashantagarwal commented on #3697
@ngrigoriev Thanks for reporting this.

[2017-11-02 16:16] prashantagarwal commented on #3700
@dpjayasekara Thanks for the suggestion. And yes it is there in our roadmap. We will have this soon

[2017-11-02 16:19] prashantagarwal commented on #3698
@agaitaud We were unable to reproduce this on our end. We will try to investigate it more and keep you updated here.

[2017-11-02 16:23] prashantagarwal commented on #3701
@dyymmi Thanks for reporting this. Were able to reproduce. We will release the fix in upcoming version.

[2017-11-02 16:24] prashantagarwal commented on #3703
@joe-mojo Thanks for reporting this.

[2017-11-02 16:25] #3704 closed, assigned to nobody

[2017-11-02 16:27] prashantagarwal commented on #3705
@LeoLozes Thanks for reporting this. We will investigate this issue.

[2017-11-02 16:27] prashantagarwal commented on #3706
@powelli Thanks for suggesting this feature.

[2017-11-02 16:29] prashantagarwal commented on #3707
@daya0576 @zizifn By any chance are you using multiple monitors and use postman app on that secondary monitor.

[2017-11-02 16:32] agaitaud commented on #3698
Thank you for the update. If I can assist in some way let me know. I was able to work around the problem by adding an ampersand to the end of the request as though I would be passing in another query string parameter to the api.

[2017-11-02 16:33] prashantagarwal commented on #3708
@gukoff Thanks for reporting this we were able to reproduce this issue.

[2017-11-02 16:35] prashantagarwal commented on #3698
@agaitaud It would be helpful if you could share the url for which you were facing this issue. I tried with Postman echo collection, but was unable to reproduce this issue.

[2017-11-02 16:37] #3710 closed, assigned to nobody

[2017-11-02 16:39] prashantagarwal commented on #3711
@surajpasuparthy Thanks for reporting this. Can you let us know steps to reproduce this issue. Thanks

[2017-11-02 16:41] agaitaud commented on #3698
Even if I sent you the url, you wouldn't be able to call the services that I use to test postman unfortunately. They are secured, and I would not be able to grant access.

[2017-11-02 16:42] prashantagarwal commented on #3698
@agaitaud That's fine. I just want to see the url structure so that I am not missing anything.

[2017-11-02 16:44] agaitaud commented on #3698
Ok here you go:
{{url}}/ishop/v4.0/vehicle/qualifiers/v2.0?m1VehicleId=eWVhcj0yMDA3Jm1ha2U9RG9kZ2UmbW9kZWw9Q2FiKyUyNitDaGFzc2lzJnN1Ym1vZGVsPVIzNTAwK0hEJmVuZ2luZT02LjcmZnVlbFR5cGU9RGllc2VsJmVuZ2luZUNvZGU9RVRKJmJvZHlTdHlsZT1QaWNrdXAmZHJpdmVUeXBlPTRXRCZ0cmFuc2ZlckNhc2VUeXBlPVBhcnQrVGltZSZ0cmFuc21pc3Npb25Db250cm9sVHlwZT1BdXRvbWF0aWM=

[2017-11-02 16:44] prashantagarwal commented on #3714
@Faz540 Thanks for reporting this.

[2017-11-02 16:45] prashantagarwal commented on #3714
@Faz540 Can you also share the browser details on which you are seeing this issue.

[2017-11-02 16:46] prashantagarwal commented on #3715
@neon096 I am closing this as duplicate of #3692

[2017-11-02 16:46] #3715 closed, assigned to nobody

[2017-11-02 16:51] daya0576 commented on #3707
Yeah, I'm using multiple monitors.

Fixed by
1. Entering full screen(from menu bar or shortcut)
2. Creating a new window.

[2017-11-02 16:52] prashantagarwal commented on #3595
@rylancates This should be fixed in Postman version 5.3.2. Feel free to reopen the issue if you are still facing this issue.

[2017-11-02 16:52] #3595 closed, assigned to prashantagarwal

[2017-11-02 16:53] #3590 closed, assigned to harryi3t, kamalaknn

[2017-11-02 16:54] #3464 closed, assigned to godfrzero

[2017-11-02 16:55] #2846 closed, assigned to harryi3t

[2017-11-02 16:56] #2242 closed, assigned to SamvelRaja

[2017-11-02 16:58] #2157 closed, assigned to numaanashraf

[2017-11-02 16:59] #2666 closed, assigned to czardoz, harryi3t

[2017-11-02 17:00] #2994 closed, assigned to harryi3t

[2017-11-02 17:00] #3001 closed, assigned to harryi3t

[2017-11-02 17:03] prashantagarwal commented on #3525
@DavydeVries This should be fixed in latest Postman app versions. Feel free to reopen this issue if it does not solves your issue.

[2017-11-02 17:04] #3573 closed, assigned to harryi3t

[2017-11-02 17:08] prashantagarwal commented on #3707
@daya0576 This might be possible duplicate of #2992. I am closing this to keep better track of this issue.

[2017-11-02 17:11] #3647 closed, assigned to kamalaknn

[2017-11-02 17:12] #3624 closed, assigned to prashantagarwal

[2017-11-02 17:12] #3607 closed, assigned to prashantagarwal

[2017-11-02 17:27] codynolf-legacy commented on #1535
+1 I would like to do this as well. If changes are required we need to update multiple places.

Thanks,
Cody

[2017-11-02 17:30] emazv72 commented on #2082
Would be nice to have for my use case, like testing a REST download API.

Postman stand alone 5.3.2

Method: POST

Response headers:

Content-Disposition →attachment; filename="test-pubblica-2.pdf"
Content-Type →application/pdf
Date →Thu, 02 Nov 2017 17:22:31 GMT
Server →Apache-Coyote/1.1
Transfer-Encoding →chunked

Postman saves a generic "response.pdf"

[2017-11-02 18:11] stdunbar commented on #2833
Problem still exists in 5.3.2 on Windows 10.

[2017-11-02 18:58] nithyamuth commented on #3181
Any idea when this will be fixed? I am using 5.3.2 in the windows desktop app and still have runner appending = to the get request.

[2017-11-02 19:30] Saibobba opened #3716 "This is a duplicate header and will be overridden by the Authorization header generated by Postman."
This is happening after the latest update of postman. Is there any way I can turn it off. This duplicate header is affecting my responses to API calls.

Repro Steps
1. Select oauth 2 authorization.
2. Get the Bearer Token
3. Use the token and click send for valid API call.
4. See the Headers section ----> It has 2 headers. One that's generated and other is duplicate which is dynamically generated.

[2017-11-02 19:43] losinggeneration commented on #3712
I think it could, yes. It may require us to structure our collections differently though. The main drawback, from our team's perspective with using multiple requests in a collection is sharing state between requests. The environment can be used, but it persists outside of the scope of those request(s).

I'll describe our main usage of Postman below so you have a better idea what we're doing, tryin

[2017-11-02 19:59] udev opened #3717 "Unable to import RAML"
Pretty much identical problem as #2335

## App Details:
Postman for Chrome
Version 5.3.2
OS X / x86-64
Chrome 61.0.3163.100

**AND**

Postman for Mac
Version 5.3.2
OS X 16.7.0 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **likely a regression**
 2. Expected behaviour: **Raml files are imported OR an detailed error explains why they can not be**
 3

[2017-11-02 20:11] nithyamuth opened #3718 "Feature Request: Ability to monitor the disk space in postman"
Writing log entries into our system consumes the disk space. Hence until the disk space is emptied, the processes that need to be run are put in queue.

So wanted to know if we have any integrations with postman that would help resolve this issue by monitoring the disk space.

[2017-11-02 21:28] planux commented on #285
I opened an issue for this on the new feature request tracker. Feel free to jump over there and comment/vote if this is still a feature you want!

https://community.getpostman.com/t/prompt-for-authentication/71

Cheers!

[2017-11-02 21:42] bajabob commented on #285
@planux having followed this particular issue now for sometime with the number of followers it has, it is safe to say this should be a high priority item. Asking us to buy in again after we have already seems like a delay tactic. TBH I have been trying to get postman installed on my QA's and PM's machines, and this feature which would allow for devs to communicate to less technical concentrations,

[2017-11-02 21:57] govindrai opened #3719 "Feature Request: Ability to Modify and Test Requests inside documentation"
## App Details:
[code]
I'm trying to convince my organization to adopt postman, but one of the biggest features they are looking for is ability for developers to edit and test requests inside api docs. Postman creates great docs and even generates code in various languages. However, it does not allow the user to modify requests in the docs and test responses, a feature that is currently available

[2017-11-02 22:53] ihommani commented on #1607
This is indeed needed. Google for instance uses SHA256withRSA to sign JWT.
So to mimic all the authentication flow through Postman this is mandatory.

[2017-11-03 00:43] acceptableEngineering opened #3720 "[Bug] Command-Return stops sending requests after changing tabs, or sending requests"
## App Details:

[code]

## Issue Report:
 _1. Did you encounter this recently, or has this bug always been there?_
I believe this began with version 5.3.2

 _2. Expected behaviour:_
Shortcut keys function persistently while using the app

**Steps to reproduce the problem**
 1. Click into the request pane and press `Command-Return`. Observe the request is sent as expected. Now use shortcut combo `

[2017-11-03 02:29] prettyyjnic opened #3721 "app.getpostman.com is unreachable"
app.getpostman.com is unreachable， I can not sign in with username and password or sign in with google , is there other ways to sign in ?

[2017-11-03 03:36] sdnts commented on #3721
Hi @prettyyjnic, is login failing or does the page not load at all for you? FWIW, I can access it right now, can you retry?

[2017-11-03 03:36] ram-rana-16 opened #3722 "trouble in sign-in with google tap method"
[code]

## Issue Report:
 1. Not able to sign-in with google tap (on mobile) method, although in mobile side its sign-in approved

Steps to reproduce the problem
* Open desktop application, and try sign-in with google account

[2017-11-03 03:41] abhijitkane commented on #3722
@rb16 What's the exact issue you're facing? Is there any error message you're seeing? A screenshot of Postman and the DevTools window (https://www.getpostman.com/docs/postman/sending_api_requests/debugging_and_logs) would help.

[2017-11-03 03:43] sdnts commented on #3716
Hi @Saibobba, when you have an authorization set, Postman will automatically generate an Authorization header for you. If you do not want this, you can select No Auth from the Authorization tab. This will not add the extra Authorization header that you're seeing.

Ideally, you shouldn't need the manual step of adding the auth header to your request. Is there a reason you want to do it on your own

[2017-11-03 03:50] sdnts commented on #3719
@govindrai This is great! We will look into this :)

[2017-11-03 04:12] ram-rana-16 commented on #3722
I have enabled my 2 factor authentication google account using google mobile prompt (https://support.google.com/accounts/answer/6361026?co=GENIE.Platform%3DAndroid&hl=en), I validated my self from mobile side but postman app not logging in.

Now It worked 😄 when i tried multiple times, but earlier (first time after installation) it wasn't working.

[2017-11-03 06:24] kamalaknn commented on #3716
@Saibobba Are you adding an `Authorization` header manually or could you check if one was accidentally saved with the request? If that is the case removing this header will solve the issue.

If you don't find either, please check if any of your scripts add the `Authorization` header. If you don't find any of these and still seeing two headers generated by Postman, that would be something we would

[2017-11-03 06:53] JasonMing opened #3723 "Can not import the the request body in examples"
## App Details:

[code]

## Issue Report:
 1. I export a whole collection via v2 format
 2. Then import into my Postman for Mac
 3. Everything is ok except the request body in the examples
 4. The exported collection is in attachment [foo.postman_collection](https://github.com/postmanlabs/postman-app-support/files/1440255/foo.postman_collection.txt) (By some reasons, I've already hidden the reques

[2017-11-03 07:39] kamalaknn commented on #3712
@losinggeneration Thanks for your detailed report. This gives great insights on how Postman collections are structured and used.

I'm forwarding this @a85 and @shamasis. We are building a set of features for reusability and organization in Postman Collections, we'll include this in our design discussions.

[2017-11-03 08:05] paperp commented on #2207
the same problem too.Anyone have solutions?

[2017-11-03 08:07] KevinvdBurg commented on #2256
@SamvelRaja no I downloaded the 64bit version

[2017-11-03 08:26] 4F2E4A2E commented on #3205
How to export a collection in order to use with newman? It seams not possible to export any collection at the moment, only via settings -> export (dump / backup) => not the same as collection export
![image](https://user-images.githubusercontent.com/64590/32365154-08d51166-c079-11e7-82f0-ba0eaf0e5180.png)

[2017-11-03 08:34] #3722 closed, assigned to nobody

[2017-11-03 08:35] sdnts commented on #3720
@markmutti Thanks for reporting this, I was able to replicate this. We will get on a fix.

[2017-11-03 08:42] DavydeVries commented on #3525
What is the latest app version? Because I'm running on:
Postman for Mac
Version 5.3.2
OS X 17.2.0 / x64

And this is still happening:
![schermafbeelding 2017-11-03 om 09 40 13](https://user-images.githubusercontent.com/7860305/32365722-4625c2de-c07b-11e7-95ba-7a68c2094278.png)

[2017-11-03 08:53] kamalaknn commented on #3525
@DavydeVries We haven't enabled variables in `Token Name` yet. We will be adding a few improvements to the OAuth 2.0 flow in the near term that would make it easy for you to identify tokens without adding timestamp to token names.

[2017-11-03 09:03] PavelKa opened #3724 "Option Oauth 2 ‘Request Access Token Locally’ missing in 5.3.2"
Documentation : https://www.getpostman.com/docs/postman/sending_api_requests/authorization
mentions:
If your OAuth2 provider is not publicly accessible (hosted locally or on your intranet), make sure the ‘Request Access Token Locally’ option is enabled.
But this option is missing in 5.3.2:
![image](https://user-images.githubusercontent.com/1038522/32366351-0c714c2c-c07e-11e7-9476-e6634e043606.png)

[2017-11-03 09:15] sdnts commented on #3718
Hi @nithyamuth, there isn't a Postman integration for what you're mentioning. However, this seems like a feature that is out of scope of Postman, so I'm closing this. Please reopen if I misunderstood :)

[2017-11-03 09:15] #3718 closed, assigned to nobody

[2017-11-03 09:22] p10tyr commented on #2392
+1
Even something simple as if the folder or test starts with ! or something just ignore it

[2017-11-03 09:30] guestz0r commented on #1196
@madebysid
Could you please tell me how could this be done with pm.* API? I'd like to see the error message in the title of the test when it fails (with an informative reason of course instead of "expected false to be true"). The old workaround provided by @rjlouro works fine for my old tests but I'm having trouble transforming it to the newest pm.* API.

[2017-11-03 10:54] josslamberti opened #3725 "Feature request: small improvements to the Environment Quick Look pop up"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.16299 / x64

## Feature Request:
When I click on Environment Quick Look (the eye icon), I would benefit from 2 improvements:
1 - Only show the first line of data for long pieces of data (as when editing values). In my case I have a base64 PNG to scroll through and since today it needs to be much bigger because of a minimum size rule!
2 -

[2017-11-03 10:56] josslamberti commented on #3291
So far, since I have cleared my repository and reimported (instead of replacing), the issue has not occurred yet.

EDIT: It has now.

[2017-11-03 11:18] MAPESO commented on #3127
<img width="1280" alt="32312582-2eaec83e-bf64-11e7-9836-313d6213b576" src="https://user-images.githubusercontent.com/16585386/32371433-6f25c9ce-c056-11e7-9c5a-2ddcd22255c9.png">

[2017-11-03 11:30] kpashov commented on #2611
Hello, I tried both the Chrome and the standalone apps and I am getting the same issue. Seems like this has been an issue since at least 2015...

https://stackoverflow.com/questions/31015522/cookies-are-being-cached-when-i-send-a-new-get-request

[2017-11-03 11:31] neverfan commented on #1383
WTF? 2 years?!!

[2017-11-03 11:32] Bloodlog commented on #1383
+1 Why?!

[2017-11-03 11:34] markozxuu opened #3726 "Error: sockect hang up"
Postman for **Mac**
Version **5.3.2**

<img width="1280" alt="32312582-2eaec83e-bf64-11e7-9836-313d6213b576" src="https://user-images.githubusercontent.com/16585386/32371939-7776eade-c058-11e7-97dc-99e53e717b05.png">

I've been investigating the problem but I can not find a solution anywhere :(
I need help please

[2017-11-03 11:35] #3713 closed, assigned to numaanashraf

[2017-11-03 11:48] drbuys commented on #2611
Hi, I am having the same issues as above (in both the Chrome and the standalone apps). Would be great if someone could look into this please!

[2017-11-03 12:38] ManikandanRajendran commented on #675
+1

[2017-11-03 12:57] harryi3t commented on #3566
@msanecki I am afraid this is not on our immediate roadmap.
There is a workaround though, you can set an environment variable for using proxy
[code]
Some imp points
 - If using localhost, make sure to use actual IP instead since localhost is converted to ipv6 `::1` which might not work for your local proxy server
 - If you don't want other applications to be affected then create a script file (dep

[2017-11-03 13:43] reager opened #3727 "Token window does not close when pressing Use token"
## App Details:

[code]

## Issue Report:
 1. When the window with the token appear after pressing Get new access token -> Request token it does not close after pressing "Use token". Pressing the X to close the window requires 8 clicks, and the modal window gets more transparent for each click before finally it closes.
 2. Expected behaviour:
The window closes when clicks "Use token" or on the fir

[2017-11-03 14:59] bkmetzler commented on #3691
I'm still able to reproduce it.

[2017-11-03 15:25] nithyamuth commented on #3718
Hi, I understand that there isn't an integration n Postman at the moment. I got an email from Rob Anderson from postman team asking me to submit a feature request which might be considered at a later point of time.

[2017-11-03 15:32] ghost commented on #2050
I have the same issue. What Ronak is requesting is a must feature to us. We started using Postman which is a great tool but the lack of an automated Oauth2 get token mechanism will force us to find another solution. All of our tests must be automated and having to manually get a toekn is not viable to us

[2017-11-03 15:33] Saibobba commented on #3716
@kamalaknn  @madebysid  Im sorry... this has caused due to saving a header with requests.
Once I deleted the old header and saved the requests, it's doing fine.

Thanks again

[2017-11-03 15:34] #3716 closed, assigned to kamalaknn

[2017-11-03 15:58] sgaree opened #3728 "Socks proxy support"
## App Details:

[code]

## Issue Report:
 Neither global proxy setting in native app or via system proxy settings appears to honor SOCKS proxy config.

e.g. Global setting: "socks5://localhost" gets changed to simple "localhost" and does not use the local (SSH tunneled) SOCKS5 server.

System proxy set to socks, localhost, 1234 works for browsers (IE, FF), but postman fails.

![image](https://use

[2017-11-03 16:02] dconlisk commented on #2050
+1 for this feature

[2017-11-03 16:23] Saibobba commented on #3007
@a85 Hi ABhinav,
Did you figure out the way to save the returned token and use across all the API calls?
I get the Oauth2 token and it's pain to update every call with new token before I run them.
Please share me an example in case if this can be done.

Thanks.
--Sai

[2017-11-03 16:25] nufrifin commented on #2360
A year later I tried to get a token from Okta using implicit flow and got this back in a well hidden chrome dev tools console:
`"The+'nonce'+parameter+is+required+for+authorize+requests+with+either+the+'id_token'+or+'token'+response+types.."`

[2017-11-03 17:24] Voltir commented on #2462
Copy paste on linux is broken :/ (native app)

[2017-11-03 17:38] CoolDadTx opened #3729 "Need to be able to control when updates to shared collections occur"
When using a shared collection the only options you have are view and edit. When edit is enabled then any user who makes a change to the collection in Postman will automatically update the shared collection. This isn't desirable in most cases because each dev may create or change their own collection in Postman. Right now those changes would be pushed to the shared collection. The only workaround

[2017-11-03 17:59] Saibobba commented on #2050
+1 for this feature.
Waiting for this feature to be available.
Right now, even if we are automating the calls, we have to still add the token to every call manually.

[2017-11-03 18:15] rsweetland commented on #3719
This would be amazing... +1

[2017-11-03 18:22] kenshub commented on #285
+1

[2017-11-03 18:37] kwhat opened #3730 "Postman Pre-request Script Hangs"
## App Details:
[code]

## Issue Report:
 1. Encountered this recently
 2. Expected Pre-request Script to execute.
 3. Console logs: ```Cannot read property 'headers' of undefined
(anonymous) @ console.js:153296
wrapper @ common.js:5658
handleInternalMessage @ console.js:152199
handleElectronMessage @ console.js:152231
(anonymous) @ console.js:152170
emitTwo @ events.js:106
emit @ events.js:191```

[2017-11-03 18:47] shamasis commented on #2050
Can you try pm.sendRequest in your pre request script and save the token in a variable for now. We upgraded many parts of oauth2 in v5.3 native app and we are assessing the best way to get automated refresh taken care of.

[2017-11-03 18:59] rsweetland opened #3731 "Docs: Custom CSS. Request to re-prioritize."
[code]
I know custom CSS is [already on the roadmap](https://trello.com/c/F8NLGock/13-custom-css-for-docs). This ticket is my attempt to convince you to release a simple implementation sooner rather than later : )

I would be more than happy with something as simple as this...
 * Restrict to paid accounts.
 * If a global environment variable exists called `{{styleshet_url}}`...
 * Render the style

[2017-11-03 19:14] vinmean commented on #2797
is there any update on when this is going to be fixed?

[2017-11-03 19:29] protegesolutions opened #3732 "Response Body Missing"
## App Details:
[code]

## Issue report:
I'm new to Postman but issue is reproducible in one call setup but not in a seemingly-identical one.

The calls are oAuth2 token requests.

One call receives:
    "error": "invalid_request",
    "error_description": "The required grant_type parameter was not provided."

The other receives:
    "error": "invalid_grant".

NOTE: The Authorization Codes are ide

[2017-11-03 19:38] protegesolutions opened #3733 "oAuth2 Access Token Request Failing"
## App Details:
[code]

## Issue Report:
Request for an oAuth2 Access Token fails on the Authorization Code exchange due to one of two possible reasons:

1. The Request Body contains _client_id_ and not _state_ (I pass _client_id_ and _client_secret_ in the headers as a Basic Auth encoded _username:password_ pair), or
2. The _code_ (Authorization Code) parameter is incorrectly encoded as a 16-char

[2017-11-03 20:00] Charles-AndreMartin commented on #1104
+1

[2017-11-04 00:20] #3726 closed, assigned to nobody

[2017-11-04 00:51] jahrichie commented on #1818
Ubuntu crashing on every request or click.  Please advise :-(

[2017-11-04 00:56] jahrichie commented on #3405
Ubuntu 16.04.2 LTS native app crashes on every request.  Tried clearing history completely still crashes.  Any advice?

[2017-11-04 01:33] sndwow opened #3734 "Encoding of URL query string is incorrect"
## App Details:
[code]

## Issue Report:

For example url : http://abc?plate_no=粤123456
Using fiddler will display：http://abc?plate_no=�123445

[2017-11-04 04:33] markozxuu commented on #3127
@numaanashraf @prashantagarwal

<img width="1280" alt="32371433-6f25c9ce-c056-11e7-9c5a-2ddcd22255c9" src="https://user-images.githubusercontent.com/16585386/32402359-8f8fbb02-c0e7-11e7-8ab5-f732140be041.png">

 **Error: socket hang up** is related to mongoose.
This error occurs with the mongoose version >=  **4.4.4**

**Solution**
You have to make use of the promises to be able to connect mongoos

[2017-11-04 06:52] dvlancer commented on #2302
+1

[2017-11-04 07:43] deepakpathania-zz commented on #3729
Hey @CoolDadTx, interesting point, I would like to suggest a walk around which might be useful to you.
So in cases like these, try considering shared collections as a version-controlled entity and rather than editing the commonly shared collection directly, maintain a local copy( say by exporting the collection and importing with a patch name, there might be a better way for this), edit that and o

[2017-11-04 12:40] rodrigodata commented on #2833
+1

[2017-11-04 12:45] affiliedge commented on #3127
Having the same issue.
Postman app version 5.3.2
Calling a simple get request on localhost:8888.
In the browser the request is as expected.
In postman - Could not get any response

[2017-11-04 15:47] cirick commented on #2030
+1

[2017-11-04 16:55] CoolDadTx commented on #3729
Thanks for your feedback. I mentioned the basics of what you describe in my original post but as I mentioned, it really isn't scalable or reliable. Perhaps short term but nothing permanent. Here's the scenarios I can think of.

Scenario 1
User logs into Postman which automatically pulls down the shared collections. User wants to look at a particular request so they open it and make a request. They

[2017-11-04 17:05] CoolDadTx opened #3735 "Feature Request: Need to be able to manage large number of collections"
As the number of collections a team has grows, the existing dashboard becomes unusable. Right now it seems to simply list them in the order they were added. A team should be able to better organize them.

1) At a minimum provide sorting options such as newest to oldest or alphabetical.
2) Provide the ability to group collections together (i.e. Public, Private, Obsolete, Preview, Test).
3) It would

[2017-11-04 17:20] deepakpathania-zz commented on #3729
I totally agree with this and can imagine this being problematic in maintaining large no of collections.

For the first scenario though, simply trying a particular request of a collection wouldn't affect the shared collection in general. You can also try playing around with permissions a little bit( view and edit) to switch between the two if you want only experienced devs to have the edit access