[2020-09-03 20:34] #9025 closed, assigned to nobody

[2020-09-03 21:13] mccannt commented on #8536
Apologies, we are currently investigating this further.
We will share updates when we have something.

[2020-09-03 21:15] dcdraper commented on #4636
Please, please change this to be unique per folder/request. We have collections where multiple creds are used for different areas of the api based on security roles.

[2020-09-03 21:31] Mechanicalkeyboard commented on #7502
Happy to try to help here, if you can collect the console logs of one of the requests which is failing following the guide:
[Here](https://learning.postman.com/docs/sending-requests/troubleshooting-api-requests/#:~:text=Clear%20the%20list.-,Accessing%20console%20logs,see%20the%20app%20debug%20logs.)
Along with a sample request, we can investigate further.

[2020-09-03 21:51] eidylon commented on #285
Just want to add my voice here. We have a API URL that has one segment that is a loan number. Would love for the user when running the script to be prompted for it as a variable. But instead we have to hard code a dummy in the URL and tell them "just replace the loan number each time you run". Kludgey!!

[2020-09-03 22:20] mccannt commented on #8536
We should have this now resolved.
@danielmhanover and @olivoil can you verify this is now resolved in the most recent version of the application?

[2020-09-03 22:32] mccannt commented on #6233
Closing this issue out.
If others experience the same issue, please let us know.

[2020-09-03 22:32] #6233 closed, assigned to ritwijsinha

[2020-09-03 22:36] mccannt commented on #6368
@cyrielle-hada Is this still happening or can we close this out?

[2020-09-03 22:40] mccannt commented on #6521
We have made some improvements in regards to performance and stability in recent months. Is this still an issue for anyone here on the latest version?

[2020-09-03 22:48] mccannt commented on #6621
@deepakpathania-zz Are you still experiencing this on the most recent version of the application?
We have made some performance improvements since this was opened and I am not seeing this issue, myself.

[2020-09-03 22:55] mccannt commented on #6824
@JP-from-Postman Are you still seeing this issue?

[2020-09-03 23:16] mccannt commented on #7830
@parsh7 @bauzer714 Are you still facing this issue with the most recent version of the application?
We have made recent performance and stability improvements that should help with this issue.

[2020-09-03 23:18] bauzer714 commented on #7830
I haven't been using postman as much lately, but don't recall still having this issue.

[2020-09-04 04:22] Vipisanan commented on #5803
yeah, I'm using the latest version. still same error :(

[2020-09-04 07:22] DannyDainton commented on #6475
Closing this one as there have been no further users reporting the issue.

[2020-09-04 07:22] #6475 closed, assigned to cyrielle-hada

[2020-09-04 07:24] DannyDainton commented on #7116
Closing this one out as we haven't heard from the user, we can open this up again if this is still an issue.

[2020-09-04 07:24] #7116 closed, assigned to abhijitkane

[2020-09-04 07:41] DannyDainton commented on #5335
Closing out this issue, we can reopen this is the issue still persists.

[2020-09-04 07:41] #5335 closed, assigned to ankitjaggi, kartikjain26

[2020-09-04 07:43] pankajk07 commented on #5461
@joneldiablo I will be closing this feature request for now. Feel free to create a new request for new features that you would like to see in the app.

[2020-09-04 07:43] #5461 closed, assigned to nobody

[2020-09-04 07:45] DannyDainton commented on #7338
Closing out this issue - We can look to open it up again if the issue persists.

[2020-09-04 07:45] #7338 closed, assigned to abhijitkane, debjeetsarkar

[2020-09-04 07:47] pankajk07 commented on #5904
@GitHubHelps We did a few changes around in our code-editor to improve the editing experience like better validation, extensive suggestions including suggestions for `pm.*` APIs, customizing editor settings, etc. Do give it a try and let us know if it serves your purpose.

[2020-09-04 07:51] DannyDainton commented on #7530
Closing this issue due to inactivity - We can open it up if the issue persists.

[2020-09-04 07:51] #7530 closed, assigned to abhijitkane

[2020-09-04 07:53] #7560 closed, assigned to abhijitkane, BrandonGordon126

[2020-09-04 07:55] DannyDainton commented on #7652
Hey @Syslog2905 - Closing this out due to inactivity, if you're still seeing the issue please reach out to us and we can take a closer look.

[2020-09-04 07:55] #7652 closed, assigned to nobody

[2020-09-04 07:56] #7616 closed, assigned to SueSmith

[2020-09-04 07:57] DannyDainton commented on #6983
I'm going to close this one out but we can reopen if you're still seeing the issue.

[2020-09-04 07:57] #6983 closed, assigned to numaanashraf

[2020-09-04 08:00] #7975 closed, assigned to ArjunSingh-PM

[2020-09-04 08:00] DannyDainton commented on #7975
Closing this after confirmation from @aamir-ahmed that it's no longer an issue.

[2020-09-04 09:19] dish25 opened #9026 "Postman Dashboard: 'Cancel' button is not functional under 'Create pull request' page"
**Describe the bug**
Postman Dashboard: 'Cancel' button is not functional under 'Create pull request' page

**To Reproduce**
Steps to reproduce the behavior under postman:
1. Create a collection(Example: "I am parent Collection") and add a request to it .
2. Create a fork(Click on kebab menu next to collection-->choose 'Create a fork' from the drop down menu) from the parent collection. Make some

[2020-09-04 09:20] cyrielle-hada commented on #6368
@mccannt closing this out!

[2020-09-04 09:20] #6368 closed, assigned to sobtiankit, ankitjaggi

[2020-09-04 09:31] ankit-m commented on #9026
@dish25 thank you for pointing this out. Looks like the navigation fails in some scenarios. Will keep this ticket updated when we have fixed the issue.

[2020-09-04 10:10] newARTixBazon commented on #4808
need to modify request body via pre-request script

[2020-09-04 10:35] marcelmrottmann commented on #4193
I also need this feature

[2020-09-04 11:30] Mechanicalkeyboard commented on #7000
I was able to quickly test against https://server.cryptomix.com/secure/ with any generated key/crt pair.

@Golgo1  Please let me know if you are able to test against something like this.

[2020-09-04 11:40] Mechanicalkeyboard commented on #8878
@Archimedyz  Thanks for the information. I was able to reproduce the behaviour using the request you provided. We will investigate it further.

[2020-09-04 12:52] edwinvdb commented on #4671
Add an optional setting AND provide a popup showing the requests that will be saved with a checked checkbox which you can uncheck for the things you don't want to save.

[2020-09-04 12:53] ankit-m commented on #8189
Issue fixed.

[2020-09-04 12:53] #8189 closed, assigned to nobody

[2020-09-04 13:07] RadwaSaleh commented on #5759
I have the same issue on postman / mac. I can't set the access token environment variable from the pre-script tab.

[2020-09-04 13:41] gohumble commented on #8505
Same issue here. Any suggestions ?

[2020-09-04 14:05] Zefiro commented on #285
+1 for the need of a prompt in use together with multi-factor auth.
In our environment I have to add an authentication token to my password. That token has a 60 seconds lifetime. This makes editing it in any kind of configuration (variable, environment, url) and then sending the request a race condition.

[2020-09-04 14:12] bvivek77 commented on #8612
This is due to MITM.

[2020-09-04 14:51] Mechanicalkeyboard commented on #8008
I was unable to reproduce this issue using the example provided.
If you have a scrubbed OpenApi 3.0 spec that you can provide that exhibits this behaviour, please reopen and let me know!

[2020-09-04 14:51] #8008 closed, assigned to vvs11

[2020-09-04 15:22] dmchodnicki commented on #8981
Experiencing the same problem on v7.31.1 from a Windows 10 laptop.  Thanks.

[2020-09-04 15:25] Mechanicalkeyboard commented on #8187
Unable to reproduce this issue on the latest version of postman app. If this issue is still present, please reopen and we will investigate further.

[2020-09-04 15:25] #8187 closed, assigned to sankalp0o

[2020-09-04 15:38] Mechanicalkeyboard commented on #8016
We are continuing to look at solutions to this, another potential work around is to put the entire thumbnail.png as the path param. It's not ideal as user would have to populate it with a value such as "thumbnail.png"

[2020-09-04 16:09] #7942 closed, assigned to vvs11, codenirvana

[2020-09-04 16:13] Mechanicalkeyboard commented on #7314
I was unable to reproduce the issue. If this comes up again, please feel free to reopen!

[2020-09-04 16:13] #7314 closed, assigned to abhijitkane

[2020-09-04 16:27] tmoney100 commented on #982
Any progress on this? This would be super helpful for all my team!

[2020-09-04 16:35] VicKetchup opened #9027 "[Feature Request] Ability to delete and add current value of a variable"
**Is your feature request related to a problem? Please describe.**
Postman automation relies on variables to be set correctly and in many cases it is beneficial to unset or clear variable(s) to make sure no old data is being passed. However, with current implementation of "unset" and "clear", if an someone runs a script that uses one of these methods, everybody in the workspace will lose the varia

[2020-09-04 16:50] mccannt commented on #6061
Closing this issue, not able to reproduce.
If this is still an issue, please let us know.

[2020-09-04 16:50] #6061 closed, assigned to nobody

[2020-09-04 16:52] mccannt commented on #7488
Closing this out for now.
Please let us know if this is still an issue with the latest version of the application.

[2020-09-04 16:52] #7488 closed, assigned to codenirvana, coditva

[2020-09-04 16:58] mccannt commented on #6424
Closing this out for now as this specific issue appears to be resolved.
If it is still an issue, please let us know with the results and we can investigate further.

[2020-09-04 16:58] #6424 closed, assigned to mccannt

[2020-09-04 17:00] jmatlockTechtonic commented on #4167
im having this problem right now, on mac

[2020-09-04 17:10] mccannt commented on #8347
@avirinenin We will close this issue for now.
If this is still an issue, please feel free to reopen.

[2020-09-04 17:10] #8347 closed, assigned to ankit-m

[2020-09-04 17:14] mccannt commented on #7403
Closing this issue out.
If this is still happening, please let us know.

[2020-09-04 17:14] #7403 closed, assigned to nobody

[2020-09-04 17:16] mccannt commented on #6993
Closing this issue out. If it is still a problem, please let us know.

[2020-09-04 17:16] #6993 closed, assigned to shamasis, codenirvana

[2020-09-04 17:19] mccannt commented on #7670
Closing this out as it appears it may no longer be an issue.

[2020-09-04 17:19] #7670 closed, assigned to charlie-postman

[2020-09-04 17:29] avirinenin commented on #8347
Sounds good. I got  to test that out and I don't want to risk my real data on that. So I need some time

[2020-09-04 17:39] djbeckett commented on #1066
+1 it's really odd that this is not already there. It's a fundamental list UI tool. Please add!

[2020-09-04 17:46] Dastano commented on #9022
On the Web Version, if I scroll down in my History, it loads the History fine. But on the Desktop App, there is like an Cap?
On WebApp I can go back over a few month, in the App, it is like 2 month at max.

[2020-09-04 18:09] mccannt commented on #8116
Closing this issue out.
If you are still experiencing this issue, please do let us know.

[2020-09-04 18:09] #8116 closed, assigned to appurva21

[2020-09-04 18:28] SabriH10 commented on #9003
Hey @blackhumors,

Just wanted to check-in - Hopefully, the information shared in my previous response helps for your use case.

[2020-09-04 18:30] AjaySewradj commented on #5904
@pankajk07 The editor within Postman is slightly better, but is nowhere near the experience of a full-blown IDE. Are you guys considering a VS Code plugin?

[2020-09-04 18:32] SabriH10 commented on #8860
Hi @harrymaurya05,

Thanks for following up. What troubleshooting suggestions did you try? The Postman Console should provide more insight for the request. If some requests are failing but not all I'm inclined to believe digging deeper into those particular requests ( why it works outside of Postman vs the app ) by comparing the request (e.g. compare the request in Postman vs cURL ) should help he

[2020-09-04 20:01] serhiikartashov commented on #1744
+1

[2020-09-04 20:57] yashbhutwala commented on #5222
Any updates on this, much desired feature, thanks!

[2020-09-04 21:53] chrisdeso commented on #6914
@sankalp0o API schemas, mainly. The latter does sound _better_ though :).

Another ask here would be to have the ability to interact with forked collections/schemas via the Postman API. Happy to file that as a new feature request but have updated the title/description for now.

[2020-09-05 05:52] DannyDainton commented on #6520
Hey folks,

Is anyone still experiencing this issue in the latest version of the app?

[2020-09-05 05:54] DannyDainton commented on #8728
Hey @jesse-msp,

Are you still facing this issue on the latest version of the app?

[2020-09-05 06:14] DannyDainton commented on #6096
Closing this one out, we can look to reopen if the issue persists.

[2020-09-05 06:14] #6096 closed, assigned to numaanashraf

[2020-09-05 08:27] DannyDainton commented on #6397
Closing this one out for now, if folks are still having issues merging forked collection we can reopen the issue.

[2020-09-05 08:27] #6397 closed, assigned to ankitjaggi, ankit-m

[2020-09-05 08:35] DannyDainton commented on #6712
Hey folks,

Is anyone still having issues with the Auto-completion in the latest version?

If you are, could you please provide details (including screenshot/recording) of what you're currently seeing in the app.

[2020-09-05 08:40] DannyDainton commented on #7118
Is anyone still facing this issue on the latest version of the app?

[2020-09-05 08:47] DannyDainton commented on #6707
Hey @asi-postman,

Is this still and issue for that use / any other users trying to install the latest version of the app?

[2020-09-05 08:49] DannyDainton commented on #7263
Hey @cyrielle-hada,

Do you know if we have received anymore reports for this particular issue in the latest version?

[2020-09-05 08:52] DannyDainton commented on #7603
Hey folks

Is anyone still having issues with this after removing the protocol or just using `localhost` without the port?

[2020-09-05 09:00] #6851 closed, assigned to godfrzero, charlie-postman

[2020-09-05 09:10] DannyDainton commented on #8642
Hey @bensullivan,

We have very recently added the Collection Runner into a tab, on the main window. All the Collection navigation is done through the Collection sidebar.

This is available on our Canary build which can be run in parallel with your main Postman app.

https://www.postman.com/downloads/canary/

[2020-09-05 09:14] DannyDainton commented on #6421
Hey @Cazaimi,

Are we able to close this out or convert from a bug to a feature request?

[2020-09-05 12:36] Mechanicalkeyboard commented on #8720
I was unable to reproduce this issue with the following open API file.
[openapi.txt](https://github.com/postmanlabs/postman-app-support/files/5178070/openapi.txt)

Please let me know if this issue is still present, and if so, can you provide a scrubbed version of your YML file?

[2020-09-05 14:55] cyrielle-hada commented on #7263
@DannyDainton I'm not sure it is entirely resolved. We are now able to delete them for the users if the issue happens though.

[2020-09-05 20:58] therockstorm commented on #3747
I second this. [Algolia DocSearch](https://docsearch.algolia.com/) is free for developer documentation. However, one of the items on their checklist before applying is,

[Docusaurus handles this](https://v2.docusaurus.io/docs/search/#using-algolia-docsearch) by allowing you to provide your Algolia API key and Index name in the config. Once this exists, Docusaurus shows the search bar in the header

[2020-09-06 19:04] AlexHedley commented on #3062
Would this be better using https://github.com/postmanlabs/postman-code-generators now?

[2020-09-06 19:16] kevinswiber commented on #3062
@AlexHedley Yes, that’s right!

[2020-09-06 19:44] AlexHedley commented on #3062
For ref: https://github.com/postmanlabs/postman-code-generators/pull/57

[2020-09-06 22:19] vijayvt2016 commented on #6723
I was able to solve this same issue with steps outlined in your document @mccannt - thank you!

[2020-09-06 22:45] a85 commented on #8570
Hmm. Why do you want to disable robots.txt if the API is public?

[2020-09-07 00:35] hamesjan commented on #4167
Postman app is not opening on Mac as well

[2020-09-07 06:05] umeshp7 commented on #8863
@nickwinsor
Thanks for the update. We have taken this up and we will have an update on this super soon. :)

[2020-09-07 06:57] nils-work commented on #6831
[This issue related to skipped tests](https://github.com/postmanlabs/postman-app-support/issues/8512) may impact this scenario too.

[2020-09-07 07:01] ooohroel opened #9029 "500Internal Server"
Hi,

trying to send data for our API but I got error 500Internal Server.

Can you help?

my version is : Postman v7.31.1

Thank you

[2020-09-07 07:01] chughmayank commented on #5931
Hi @petrheckoHims !
Could you please confirm if you are still facing this issue?

[2020-09-07 07:39] DannyDainton commented on #9029
Hey @ooohroel

Not sure if there is much that we can do here as this feels more like an issue coming from the endpoint/API that's you're calling.

I'm going to close this issue out, it doesn't feel like a functional issue with Postman as that status code is being returned by the server.

Our awesome Postman community might be able to help you with this problem, if you wanted to raise a new thread

[2020-09-07 07:39] #9029 closed, assigned to nobody

[2020-09-07 07:53] nils-work opened #9030 "Imported runner results show incorrect stats"
**Describe the bug**
Imported runner results show incorrect stats

**To Reproduce**
Steps to reproduce the behavior:
1. Run something in the Runner with some failed **and skipped** tests
2. Click on 'Export Results'
3. Go back to Collection Runner and click on 'Import Runs'
4. Runner report shows failed tests (**Update**: these are actually skipped tests) but the summary of tests at the top shows

[2020-09-07 09:37] chughmayank commented on #8039
This is being tracked at #5905

[2020-09-07 09:48] chughmayank commented on #3682
Hey @ygeelen-tb ! Could you please confirm if you are still facing this issue?

[2020-09-07 11:14] cyrielle-hada commented on #6520
@DannyDainton we never received any other reports of this issue. However, it looks like we never managed to solve it retroactively

[2020-09-07 12:00] plysachev opened #9031 "Drag-n-drop one call scrolls the console"
**To Reproduce**
1. Take a collection with 100+ requests
2. Run it couple of times so you get a lot of records in the console
3. Take one request from the top of the list
4. Start dragging to the bottom of the collection

**Actial Result**
When your mouse pointer moves over the console window, console messages are scrolled up

**Expected behaviour**
When your mouse pointer moves over the console w

[2020-09-07 12:05] DannyDainton commented on #9031
Hey @plysachev

Could you fill in the template issue please, this will allow us to investigate the issue that you're currently seeing? We need to ensure that we're looking at the correct platform, OS and Postman version. The more details you can provide the easier it will be for us to see what's going on.

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduc

[2020-09-07 12:32] ygeelen-tb commented on #3682
@chughmayank I no longer have that proxy setup, it's been too long sorry.. :-D

[2020-09-07 13:24] plysachev commented on #9031
Done

[2020-09-07 13:32] BartVanRaemdonck opened #9032 "team members don'ts see my collections"
**Describe the bug**
I've created collections in the team workspace but my team members don't see those new collections.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new collection in the team workspace
2. Ask a team member if he sees that new collection

**Expected behavior**
The team member sees the new collection

**Screenshots**
![Picture 117](https://user-images.githubusercont

[2020-09-07 13:38] leehambley opened #9033 "Feature request: Send Authorization header when fetching GraphQL schema"
**Is your feature request related to a problem? Please describe.**

My GraphQL schema introspection relies on having a user's JWT present. The JWT contains a platform specific schema which describes which queries/mutations people can use. Part of that, is that describing the entire schema is a privilidge we don't expose to all clients. Additionally we use directives to hide and authenticate access

[2020-09-08 05:07] Raj-postman commented on #9032
Hi @BartVanRaemdonck - one thing I would cross-check is to see if my application is synced. The sync icon should help you know this. Click on "Sync Icon" {Orange = Synced, Blue-Spinning = Syncing}

![image](https://user-images.githubusercontent.com/47771757/92434917-af93ca00-f1be-11ea-93a6-fc711d8ae826.png)

Once done, navigate to [Web-dashboard](https://go.postman.co/me/collections) and see if th

[2020-09-08 06:00] 308820773 commented on #2096
me too

[2020-09-08 06:39] chughmayank commented on #3682
@ygeelen-tb It looks to be fixed and I am marking this issue as Closed. However, please feel free to Reopen the ticket if you face the same issue :)

[2020-09-08 06:39] #3682 closed, assigned to numaanashraf

[2020-09-08 06:45] BartVanRaemdonck commented on #9032
Hi @Kurmavathar,

We already tried that but still my other team member doesn't see any new
collection I create in the team workspace.

KR,

Bart

Op di 8 sep. 2020 om 07:07 schreef Kurmavathar <notifications@github.com>:

[2020-09-08 07:12] Totti10as commented on #3845
+ 1

[2020-09-08 08:13] mchenx commented on #5194
+1

[2020-09-08 08:22] Raj-postman commented on #9032
Thank you @BartVanRaemdonck. In that case, could you please [submit a ticket to Support](http://support.postman.com/) along with the screenshots of the complete app (Personal and Team Member view) and we will further take a look at it?

[2020-09-08 08:22] daniel-shuy commented on #5194
☝️

[2020-09-08 08:39] BendicoE commented on #8040
+1

[2020-09-08 08:57] #9032 closed, assigned to nobody

[2020-09-08 08:57] BartVanRaemdonck commented on #9032
Hi Kurmavathar,

I just signed in with the other team account and I found the problem.
My team members were just working in their workspace.
Sorry for the time and effort.

KR,

Bart

Op di 8 sep. 2020 om 10:22 schreef Kurmavathar <notifications@github.com>:

[2020-09-08 09:22] S-J-D-13 commented on #4450
+1

Also, I have set up a webhook to run my monitors and then add data to a database using zapier, this approach might be helpful to some of the commentators on this post

[2020-09-08 09:40] Raj-postman commented on #9032
@BartVanRaemdonck No problem. Glad to know you managed to resolve this issue :)

[2020-09-08 10:10] plambrechtsen commented on #7494
Any idea if this feature could be added, I am trying to create a SAML request and for that I need to zlib compress the SAMLRequest header. Would be awesome if zlib could be included.

[2020-09-08 10:39] DannyDainton commented on #4359
Going to close this issue due to inactivity - If anyone is still facing an issue we can open this back up again.

[2020-09-08 10:39] #4359 closed, assigned to harryi3t

[2020-09-08 10:43] DannyDainton commented on #7078
Closing this issue due to inactivity - We can open this again if the issue still persists for users.

[2020-09-08 10:43] #7078 closed, assigned to numaanashraf

[2020-09-08 11:48] mccannt commented on #7041
@danieleteti Can you confirm if this is still an issue for you on the latest version of the application?

[2020-09-08 12:17] vvs11 commented on #2906
@lbenedetto to which component do these ids belong to? I mean the ids that you see in the diff? Also, if you can explain your workflow a bit, it'd be helpful

[2020-09-08 12:20] Cazaimi commented on #8987
@andre-bohlsen , it looks like the CNAME and TXT records for your domain, `docs.mydomain.app.br` have not been created yet (Since, we're past the propagation time).

<img width="1266" alt="Screenshot 2020-09-07 at 6 14 21 PM" src="https://user-images.githubusercontent.com/13660453/92475799-9d844c80-f1fb-11ea-8ba0-eb4b73515f3f.png">
<img width="1264" alt="Screenshot 2020-09-07 at 6 14 29 PM" src="h

[2020-09-08 12:40] bencorke commented on #8863
+1 seeing the same behaviour

Error message when importing GraphQL as collection:

`Error while importing GraphQL: Could not generate collection. Error Message:Cannot read property 'getFields' of undefined`

[2020-09-08 13:42] mccannt commented on #8737
This issue should be resolved now in v7.32
Closing this issue. If you are still experiencing this issue on the latest version, let us know.

[2020-09-08 13:42] #8737 closed, assigned to vikiCoder

[2020-09-08 13:43] mccannt commented on #8924
This issue is now resolved in v7.32 of the application.
Closing this issue. If you are still experiencing this issue in the latest version, please let us know.

[2020-09-08 13:43] #8924 closed, assigned to codenirvana

[2020-09-08 13:44] mccannt commented on #8972
This issue is now resolved in v7.32 of the application.
Closing this issue. If you are still experiencing this issue in the latest version, please let us know.

[2020-09-08 13:44] #8972 closed, assigned to codenirvana, saswatds

[2020-09-08 13:46] mccannt commented on #8811
This issue is now resolved in v7.32 of the application.
Closing this issue. If you are still experiencing this issue in the latest version, please let us know.

[2020-09-08 13:46] #8811 closed, assigned to codenirvana, vkaegis, vikiCoder

[2020-09-08 13:55] hcmehta opened #9035 "Error Message: Could not open Postman"
I am unable to open Postman Tool.
It was working fine, but afterwards, i uninstalled it and installed it. Now it shows the error message as below:

AdapaterError:Malformed error from adapater:should always be an Error instance, but instead,got:
[OpenFailedError: UpgradeError Dexie specification of currently installed DB version is missing]

[Note: I am unable to upload the snapshot with the bug de

[2020-09-08 13:58] DannyDainton commented on #9035
Hey @hcmehta

What's the version that you're trying to install and on which Operating System?

[2020-09-08 14:00] hcmehta opened #9036 "How to enable this textbox for JsonPath Expression input (in POSTMAN Tool) under "Visualize" tab?"
How to enable this textbox for JsonPath Expression input (in POSTMAN Tool) under "Visualize" tab?
I want to use JSONpath queries to filter data of Response Body in POSTMAN Tool.

![Query 1](https://user-images.githubusercontent.com/29515239/92486375-a419c080-f209-11ea-9f31-94e5ceb9f54f.jpg)

[2020-09-08 14:03] hcmehta commented on #9035
Version : 7.31.1
Tool Setup Ref: Postman-win64-7.31.1-Setup
Operating System: Windows 10, 64 bits

[2020-09-08 14:04] DannyDainton commented on #9036
Hey @hcmehta

As that's a community created template, the best for this question would be over on our Community Forum.

Would you be able to raise that in there, please?

https://community.postman.com/

[2020-09-08 14:04] #9036 closed, assigned to nobody

[2020-09-08 14:10] hcmehta commented on #9036
I have posted into it
Ref:
https://community.postman.com/t/how-to-enable-this-textbox-for-jsonpath-expression-input-in-postman-tool-under-visualize-tab/15689

[2020-09-08 14:37] vigneshrajvvr commented on #4167
I too had this issue. In my case, i accidentally installed 0.X version. So uninstalled it and installed 7.32. Now, it's working fine.

[2020-09-08 17:06] mccannt commented on #7043
@RadwaSaleh I am not able to replicate this issue. Can you give us a bit more information on how you are reproducing this issue?

[2020-09-08 17:06] PetraRouvoet commented on #7043
Beste postmanlabs/postman-app-support,

Bedankt voor je e-mail. We nemen je vraag zo snel mogelijk in behandeling,
maar vragen in verband met grote drukte daarbij wel om enig geduld. We
willen daarom vriendelijk vragen om even te wachten voordat je telefonisch
contact opneemt.

*Voor vragen over een lopende of nieuwe klusaanvraag raden we je aan om
eerst onze veelgestelde vragen te raadplegen
<htt

[2020-09-08 18:04] DannyDainton commented on #9030
Hey @nils-work,

I've been trying to recreate the issue but I'm failing 😬 - Maybe it's the collections that I'm running.

Do you have any scaled down collections or run results exports that we could use to reliably reproduce this issue?

Any other contextual information would be awesome too.

[2020-09-08 18:08] DannyDainton commented on #9021
I don't believe this is something that we're planning to do but if there is enough interest in a FF interceptor, we might need to rethink this decision. 😁

[2020-09-08 19:03] lbenedetto commented on #2906
@vvs11

collection.info._postman_id
collection.item[0]._postman_id (folder)
collection.item[0].item._postman_id (request)

Workflow:
A bunch of tests are stored in Postman. When adding a test, create a fork, and export the fork to the json in your Git branch. Push the changes for review (along side your actual code changes). When accepted, merge the postman fork, and then merge your git branch. Du

[2020-09-08 19:04] byrdman opened #9037 "Option to replace a collection instead of create a copy has been lost"
**Describe the bug**
With the latest update 7.32.0 when importing a collection you no longer get the option to replace or create a copy if a collection already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Go into Postman
2. Import collection x
3. Import it a second time (now you have X and X (copy)

**Expected behavior**
Previously you were given an option to replace an existing c

[2020-09-08 19:18] bbrashier opened #9038 "Collection Runner inconsistently not recognizing "Find and Replace" variable changes"
**Describe the bug**
After using "Find and Replace" to update requests, some requests in Collection Runner do not recognize the change.

**To Reproduce**
Steps to reproduce the behavior:
1. Change a Collection variable name that is used as a parameter in a request or requests.
2. Use "Find and Replace" to update the requests in the collection that use the variable.
3. Run the collection or folder

[2020-09-08 19:34] th3third commented on #1996
Confirmed that https://github.com/postmanlabs/postman-app-support/issues/1996#issuecomment-522606835 worked for me after I was seeing 20-40% constant CPU usage and noticeably slow UI interaction. Reinstalling didn't help until those folders were deleted.

[2020-09-08 19:41] DannyDainton commented on #9038
Hey @bbrashier

Just to clarify / confirm one thing - Are you saving the request each time you make a change to the collection?

Wanted to confirm that you have no unsaved changes in the collection before running the collection Runner, all _unsaved_ changes are not reflected in the Runner.

[2020-09-08 19:57] bbrashier commented on #9038
Hi Danny,

I don't think that request had any unsaved changes, but I can't guarantee
it - I've been updating the collection since last week and had moved on
from that particular request. The test was passing before I made the
variable change. I did try closing Postman and reopening it when I saw the
Collection Runner was using the old variable name - would that have
mattered (meaning would closing

[2020-09-08 20:12] DannyDainton commented on #9038
Would you be able to share some images of the full app window before and after the changes?

Make sure you mask any sensitive information before sending.

It will really help bringing the information to life. 😁

[2020-09-08 20:20] bbrashier commented on #9038
I'm sorry, I don't have those images. I moved on to other work, and I
didn't take screenshots of the full app either before or after. I can try
reproducing the issue and get those.

Brenda Brashier
Quality Engineer II
Endurance International Group - Bluehost

On Tue, Sep 8, 2020 at 2:13 PM Danny Dainton <notifications@github.com>
wrote:

[2020-09-08 20:24] andrkhr commented on #7351
Yes, this is often very necessary. Move to the area where the open request is located.

[2020-09-08 23:06] mccannt commented on #8612
Thanks for all the input everyone. We are still working to resolve this soon.

[2020-09-08 23:43] mccannt commented on #6723
Is anyone else stuck on this any longer?

[2020-09-08 23:48] andrew-jones commented on #8754
And again, another snap remove and snap install.

[2020-09-08 23:54] steve-r-west opened #9039 "Visualizer doesn't display anything on Linux"
**Describe the bug**
Visualizer is empty when something is being visualized.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learning.postman.com/docs/sending-requests/visualizer/#rendering-html
2. Click on *Run in Postman*
3. Click on *Postman for Linux*
4. Execute Request in Postman
5. Click on *Body* -> *Visualize*

**Expected behavior**
You should see something

**Actual be

[2020-09-09 00:04] armchairdeity commented on #7610
even if we had a `pm://` URL scheme so that we could tell the visualizer that what we want is a new request tab using this value in the parameters...

[2020-09-09 02:25] nils-work commented on #9030
Hi @DannyDainton

Sample collection is below.

This is the report when I first run the test (note that skipped tests are slightly misleading when [marked as 'Pass'](https://github.com/postmanlabs/postman-app-support/issues/8512))

![Runner report](https://user-images.githubusercontent.com/60594671/92546155-429f3380-f295-11ea-866d-05b78e409cdf.PNG)

This is after I export the results, then import t

[2020-09-09 06:16] DannyDainton commented on #9030
Thanks for that information @nils-work !! 🏆  It really helped to replicate the issue.

I've raised a bug for this so that our team can take a closer look at what's going on - We will update this thread once we have have more details to share.

[2020-09-09 06:21] DannyDainton commented on #9015
Hey @VincentChen1212,

Without the basic information, we will be unable to do anything about this issue. I'm closing the issue for now but we can reopen if we receive more context about the problem.

[2020-09-09 06:21] #9015 closed, assigned to nobody

[2020-09-09 06:52] waaromikniet commented on #6723
I still have the issue. The only version that works for me is V6.7.4.
I have a corporate dev server without internet connection

[2020-09-09 07:32] iamprakashom commented on #576
In 2020, I am getting the same error. API is working fine when posting data from HTML form but not working from the postman. Getting error "The submitted data was not a file. Check the encoding type on the form."

[2020-09-09 07:46] alskaer commented on #2751
👍

[2020-09-09 08:02] aomsweet commented on #5302
Why can't the title bar be the same as vscode? Postman is too ugly.

[2020-09-09 08:16] DannyDainton commented on #9039
Hey @steve-r-west

I've not been able to replicate this problem on my Linux machine - I see the table rendered in the visualize tab.

In your final image, I can see that the table is rendered - Are you seeing that additional empty space each time you send the request?

You can debug the visualizer, by right-clicking in the visualize tab and it will display the `Inspect visualization` option.

[2020-09-09 08:28] DannyDainton commented on #9038
Hey @bbrashier

Following your steps, I changed a variable name in the Collection and then used `Find and Replace` to change the request.

![Screenshot 2020-09-09 at 09 23 03](https://user-images.githubusercontent.com/17089546/92573755-204deb80-f27e-11ea-99a7-5102d8012b7a.png)

On changing the variable name in the request, the tab now has _unsaved_ changes, this can be seen by the orange dot on th

[2020-09-09 09:25] DannyDainton commented on #8389
Hey folks,

I'm going to close out this issue for now but if users are still experiencing an issue here, we can open the issue again and look into the details of the problem.

[2020-09-09 09:25] #8389 closed, assigned to sankalp0o, sujayvenaik

[2020-09-09 09:39] DannyDainton commented on #7892
Closing this out for now but we can open it again if the issue is still occurring for users.

[2020-09-09 09:39] #7892 closed, assigned to nobody

[2020-09-09 09:43] DannyDainton commented on #7638
Hey @prashantagarwal

Is this an issue that you're tracking on the Onboarding squad?

[2020-09-09 09:43] sankalp0o commented on #7392
@Ramya-From-Postman Sorry for the delay in getting back. Shared collections get archived because of the sharing limits for free teams. Public documentation views have a separate limit and therefore it's not archived.

That being said, we are working on making this flow better so users can unpublish the documentation for archived collections if they want. cc @Raja-Simha

[2020-09-09 10:42] FCulig opened #9040 "Indicator when file in form-data gets deleted"
**Is your feature request related to a problem? Please describe.**
When sending files as form-data if the file is deleted after it is selected postman doesn't indicate that. For example, I select a file to be sent, delete it on my machine, and then send a request and spend time debugging my code.

**Describe the solution you'd like**
I would like to have some red ! by the file name to indicate tha

[2020-09-09 11:44] AnupriyaGit commented on #9020
Tried the workaround mentioned above but it doesn't work.

Could you please provide more details about resolution or any other workaround.

[2020-09-09 12:00] verhyppo commented on #7466
Morning,
There are no updates on this issue?

[2020-09-09 12:09] DannyDainton commented on #9020
What is it that doesn't work @AnupriyaGit, could you please provide details about that.

[2020-09-09 12:15] kkapell commented on #8747
Can someone provide a little more details as to how to use this variable? Where to set it or how to reference it?

[2020-09-09 12:15] mccannt commented on #5905
Thanks for the follow-up @TeslaTaken
We are actively looking into this issue currently. hope to have a fix for it very soon.

[2020-09-09 12:48] AnupriyaGit commented on #9020
I tried below:

var bodyToSend = `MSH|^~\&|Roche Vantage||WPE||20200227111520||OUL^R21|{{identifier}}|P|2.4|
PID|||123456789112^^^UNK^HOSP||TestSurname^TESTPATIENTForename||19700809|M|
SAC||0020H3000{{requestid}}|
ORC|SC||0020H3000{{requestid}};A;1;1||IP||||||||||||||||||||{{status}}
OBR|1||0020H3000{{requestid}};A;1;1|{{derivative}}^StatusUpdate||||||||||||||||0020H3000{{requestid}};A;1;1|`.repla

[2020-09-09 12:51] reedbapex commented on #8747
It will depend on you operating system & recommend the following instructions.

Win10 - https://www.architectryan.com/2018/08/31/how-to-change-environment-variables-on-windows-10/
Mac - https://medium.com/@himanshuagarwal1395/setting-up-environment-variables-in-macos-sierra-f5978369b255
Linux - https://www.serverlab.ca/tutorials/linux/administration-linux/how-to-set-environment-variables-in-linux/

[2020-09-09 13:09] steve-r-west commented on #9039
Hi @DannyDainton ,

I have been able to reproduce this on two linux machines (both arch). This one running Postman 7.26.1.

In the final image **I have hacked the** DOM using developer tools, I forced the webview to be a specific size. The table you see is _not_ postman, it's the iframe I added. _The first screenshot with the empty space is what I actually see_. As best I can tell when using this

[2020-09-09 13:26] aomsweet commented on #7417
Is there any news?

[2020-09-09 13:36] vishnukantraman commented on #6682
+1

[2020-09-09 13:55] steve-r-west commented on #9039
Hi @DannyDainton, I debugged this a bit more. This is entirely a problem with how my distro is building the postman package (using the one off the website, or the `pre-built` one works fine) I suspect it might have something to do with the version of Electron it is using maybe.

I did find this issue, which says that webviews are disabled in newever versions of Electron, and it looks like it is us

[2020-09-09 14:13] bbrashier commented on #9038
Ok - is it possible to either: 1) When the variable is replaced using "Find
and Replace" to prompt the user to save the change or have it automatically
save, since the user has made the choice to change it or 2) have Postman
notify the user when running Collection Runner and Builder after making
changes with "Find and Replace" that there are now unsaved changes in the
updated requests? Option 1 wo

[2020-09-09 14:16] mccannt commented on #6723
@waaromikniet Can you grab the logs from the app and send them to help@postman.com ? This will help us troubleshoot the issue for you better.
You can get the logs by going to `View -> Developer -> View Logs`

[2020-09-09 14:25] mviegasdeb commented on #7728
Hi! I'm from Agentina and we need same feature because we have all documentation in Spanish and that headline is weird to our customers.

[2020-09-09 14:26] DannyDainton commented on #9039
Ah - Maybe that's why I wasn't seeing the same thing here 😄

Glad you got it sorted. Closing this one out! 👍

[2020-09-09 14:26] #9039 closed, assigned to nobody

[2020-09-09 14:52] DannyDainton commented on #9038
Currently, the app doesn't 'autosave' changes. Editing the requests within a collection could be from a number of different actions, it's not specific to changing something with the `Find and Replace` feature.

As a long term user of the app, I have been caught out on far too many occasions with not saving my changes before running the collection so I feel your pain. We're moving the runner into a

[2020-09-09 14:52] #9038 closed, assigned to nobody

[2020-09-09 15:17] DannyDainton commented on #9020
Have the wrapped that body text in quotes?

[code]

Have you added the variable key from the `Pre-request Script` to the request body?

[code]

[2020-09-09 15:46] firstlight-comm opened #9041 "Install/upgrade to 7.32 fails"
**Describe the bug**
I am trying to upgrade from win64 6.7.4 to win64 7.32.0. It fails. So I tried to uninstall 6.7.4 compeletely, including removing the AppData folders. The install still fails.
![image](https://user-images.githubusercontent.com/67800114/92621068-5ea0d600-f291-11ea-967c-0eea1a8858d7.png)
Go to the suggested website to resolve the error did not provide any useful information

**To

[2020-09-09 15:50] bbrashier commented on #9038
Great - thanks for the information. I will take a look at Canary.
Brenda Brashier
Quality Engineer II
Endurance International Group - Bluehost

On Wed, Sep 9, 2020 at 8:52 AM Danny Dainton <notifications@github.com>
wrote:

[2020-09-09 18:00] AndrewYoungQA commented on #3171
+1

[2020-09-09 18:43] averypfeiffer commented on #1744
I truly don't understand why this hasn't been implemented. You can easily **import** an OpenAPI 3.0 specification when building an API, why is the reverse not possible? The builder interface is so clunky and much less useful than the collection builder interface. Why can't I build my API like I build my Collection Endpoints? It just seems so backwards.

Is this simply an artificial limitation?

[2020-09-09 19:53] KoffeeToKode commented on #6833
+1

[2020-09-09 20:41] jesse-msp commented on #8728
I just tried the 7.32.0 version - same behavior.

[2020-09-09 20:48] DannyDainton commented on #8728
Hey @jesse-msp

Thanks for responding - Would it be possible to take a recording of what you're seeing please?

I've need to able to replicate this on my machine and seeing it happen would be a huge help.

[2020-09-09 20:53] JP-from-Postman opened #9042 "XML tags not autocompleting"
**Describe the bug**
User reported that autocompletion for XML in request bodies is broken.

Previously, adding a tag ( `<tag>` ) would autocomplete `</tag>` . This is not occurring in the current version of the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open request builder in app, and select Raw body type
2. Select XML for body type
3. Type  <tag>  in body, see that no  </tag>  i

[2020-09-09 21:34] dandiep commented on #7325
would really like this feature but without custom coding. E.g. we have a failing test due to a bug. Would be great to just disable the request via a checkbox

[2020-09-09 22:03] FireByTrial commented on #6757
this would be lovely as I have had Postman brick/corrupt itself on three separate systems (two windows 10 and an ubuntu system, usually hits one of the machines each year seemingly at random), requiring a complete uninstall and deletion of all data after doing it's update which just makes it either: spin the wheel forever or present a blank window

[2020-09-10 03:28] typelogic commented on #3606
I seem to be experiencing this issue now. My system is Ubuntu 20.04, and I installed postman the other day. I have to restart my 'spring boot server' just to make POST request fail due to a 'basic auth' wrong password test case. Scenario is, I select-run the wrong password test case and request failed as expected. Next, I select-run the correct password test case and request succeeds as expected.

[2020-09-10 04:01] xk0der commented on #8821
@hengjt1 Do you have the internal ticket ID handy? I couldn't locate it internally.
cc: @asi-postman

[2020-09-10 04:50] nagendra-UTM commented on #6723
@mccannt
I resolved the issue by using Postman executable inside app folder. Thanks for the link :+1:

[2020-09-10 05:14] mahirk commented on #9004
@VShingala I see the PR is merged. I'll close this issue and wait for the release. Thank you!

[2020-09-10 05:14] #9004 closed, assigned to VShingala

[2020-09-10 06:02] #8039 closed, assigned to nobody

[2020-09-10 06:28] DannyDainton commented on #6532
Hey @Raj-postman

I'm not sure where to go with this issue - Do we know if any other users have reported this?

[2020-09-10 06:31] DannyDainton commented on #8158
Hey @tristandenyer / @preethammavin

Is this still an issue with the latest version?

Not sure what this page is or how users are accessing this information, would either of you be able to provide some context?

[2020-09-10 07:33] asadmalik3 commented on #6806
@JP-from-Postman I think this is happening when your local postman environment is not yet synced with cloud environment.

[2020-09-10 07:39] Raj-postman commented on #6532
No @DannyDainton.

Apart from those two cases, I haven't seen recent reports on this. I will keep this thread posted if we receive any.

[2020-09-10 08:17] waaromikniet commented on #6723
@mccannt
I am not able to get the logs, because I never get past the preparing workspaces window.
Also starting the exe in the app folder directly has no effect for me.

[2020-09-10 09:37] KroezeC commented on #8981
I've got same problem with Windows Laptop and Postman  v7.32.0

[2020-09-10 10:05] doom-fr commented on #5093
But how is it possible ?? It's a ubuntu bug ?
If yes, does someone reported this bug to ubuntu ?

[2020-09-10 10:39] coditva commented on #8981
Hey everyone,
Just wanted to let you know that we've been working on an improvement where you can have the Runner open as a tab in the main window itself as a tab. 🤯

You can also find the recent runs in the sidebar in History tab in correct order as well:

![image](https://user-images.githubusercontent.com/8445768/92718628-ac940780-f37f-11ea-9ea5-d64b36339d60.png)

If you would like to try this o

[2020-09-10 12:28] mccannt commented on #6723
@waaromikniet You don't need any internet connection to be able to launch the application, so you should be fine.
You can manually navigate to the directory where the logs are, for example, `C:\Users\trent\AppData\Roaming\Postman\logs` zip these up and send them over to help@postman.com and we should be able to dig in a bit more and give you some suggestions.

[2020-09-10 12:34] alxtr1bal commented on #6723
Same behavior, with all electrion apps it seems... (i e  gitkraken)

[2020-09-10 12:41] waaromikniet commented on #6723
I have sent the logs. The log files do not contain very much information.

[2020-09-10 12:52] alxtr1bal commented on #6723
Just uninstalled a recent windows KB (about .net i think), and now works again. (gitkraken as well) ...

[2020-09-10 12:59] ea-smith commented on #9020
My colleague has confirmed that the workaround has now been implemented correctly and provides us a temporary solution. Thanks for your assistance.

[2020-09-10 12:59] waaromikniet commented on #6723
My development box is a managed system so I can't uninstall patches . But this problem is already occurring since last year with previous versions also.

[2020-09-10 13:41] arlemi commented on #6757
@FireByTrial Have you given a try to [Postman on the web](https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/)? It requires to install an agent locally (for now) which doesn't require many updates and the rest is done in your browser.

[2020-09-10 14:12] FireByTrial commented on #6757
I have not, I will give that a try.
Now that I think about it, those problem apps may have been the old chrome based version of postman

[2020-09-10 20:27] asi-postman commented on #8821
@hengjt1 I have located your existing ticket (closed) and reopened so we can look further into the issues your encountering. Please check your inbox or Zendesk for updates to ticket 54610.

[2020-09-10 20:40] jesse-msp commented on #8728
Hi @DannyDainton - I will try to get that over to you, can I send that via email? Also there is a support ticket open that might have more details from a screen share.

[2020-09-10 21:40] jkewley commented on #6757
I'd like to see this, too. My corporate firewall sees the call to the Postman update check domain as a malicious request and locks me out. Makes it difficult to use Postman when I have to unlock my account every few minutes.

I guess I could add a hosts file entry for go.pstmn.io, but I'd rather Postman give me the option to disable all phone home calls.

[2020-09-10 22:29] Firstlist-comm commented on #9041
Note: I just downloaded the 7.31.0 executable installer and it installs fine on my machine (as does a v6 installer). I'm only having trouble installing 7.32.0

[2020-09-11 00:50] ghost opened #9043 "Cookie management does not work AT ALLL!!!! in postman."
The Manage Cookies section is COMPLETELY!!! broken in Ubuntu 20.04 LTS. After adding a cookie, it cannot be edited. "Save" closes the editing box but the cookie is not updated. After adding a bunch of cookies, and closing the manage cookies dialog, all cookies are lost.

The alternative, Interceptor, only supports google chrome. Seriously?

[2020-09-11 01:04] ryanbu-zillowgroup commented on #6841
Please do this

[2020-09-11 02:18] topshef commented on #1066
+1 surprised that collections can't just be drag and dropped, seems like a basic missing feature

+$10 I'd stake some money on this if there were a monetary voting feature, maybe via http://kpay.live/

[2020-09-11 02:59] djy0 commented on #5920
Maybe you could add an **autosave** option

[2020-09-11 09:25] geoffturk commented on #8712
@mohitranka That was the case. Selecting "No Environment" sorted the issue for me.

[2020-09-11 09:35] SheikSena opened #9044 "Windows freezing after starting postman application"
**Describe the bug**
Hello Team, Whenever I open the postman application in my windows machine the entire system is getting struck not able to open other applications as well. Can you please fix this issue. Thanks

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version: 7.32.0
 - OS: Windows 10

[2020-09-11 10:08] sarthak-satish-ps opened #9045 "Facing Tunneling Socket issue while sending request behind proxy"

[2020-09-11 10:30] pankaj-cashify commented on #6722
@arlemi I do not see any option on UI to update attached collections for OpenAPI. Am I missing something?

[2020-09-11 10:40] arlemi commented on #6722
@pankaj-cashify You should see a **Validate** button next to the collection you've previously generated, you need to navigate to either the Develop, Test, or Observe tab to see it.

![updateelement](https://user-images.githubusercontent.com/5029719/92914543-a22b4980-f423-11ea-96ec-f21c70e9fcb2.gif)

[2020-09-11 10:43] arlemi commented on #6757
@jkewley We're tracking this in #6999, you can subscribe their to be updated when there will be something new. 🙂

[2020-09-11 10:53] DannyDainton commented on #9045
Hey @sarthak-satish-ps

Could you also fill in the details for the rest of the headings, please? The more detail that you can provide, the easier it will be for us to investigate the problem that you're seeing.

[2020-09-11 11:01] iamchughmayank commented on #4811
@ayushkamadji  - In case ipv6 is available, Postman will use it and start the proxy server at "::", however, if it is not available, the proxy server will be started at "0.0.0.0".

I hope this answers your query. Please feel free to reopen the ticket if find any issue in this.

[2020-09-11 11:02] chughmayank commented on #4811
@ayushkamadji  - In case ipv6 is available, Postman will use it and start the proxy server at "::", however, if it is not available, the proxy server will be started at "0.0.0.0".

I hope this answers your query. Please feel free to reopen the ticket if find any issue in this.

[2020-09-11 11:02] #4811 closed, assigned to numaanashraf

[2020-09-11 11:09] DannyDainton commented on #9043
Hey @davidmoseler

Would you be able to clarify which parts are broken? Could you walk through how you're adding and editing the cookies, please?

This is a short clip of me creating and editing cookies - Is this close to what you're seeing?

![Cookies](https://user-images.githubusercontent.com/17089546/92918630-8164f300-f427-11ea-8fa9-7a7414ae961f.gif)

Also, which version of the app are you curr

[2020-09-11 11:12] pankaj-cashify commented on #6722
@arlemi sync is not working for me. I have attached a sample OpenAPI doc. I tried updating request parameter **app_version3** to **app_version5**

[test.json.txt](https://github.com/postmanlabs/postman-app-support/files/5208541/test.json.txt)

[2020-09-11 11:24] DannyDainton commented on #9031
Hey @plysachev

I've been able to replicate what you're seeing, this is also the case if you had the `Find and Replace` tab open.

![console_scroll](https://user-images.githubusercontent.com/17089546/92920014-7317d680-f429-11ea-810d-2ea33cbe87d5.gif)

I'm going to open a Bug for this issue - We will update this thread once we have more information.

[2020-09-11 11:28] danieleteti commented on #7041
@mccannt Yes, same error with the last version (v7.32.0)
![image](https://user-images.githubusercontent.com/1428644/92920122-0fde7200-f432-11ea-9ffd-95357cddb98a.png)

![image](https://user-images.githubusercontent.com/1428644/92920385-7fecf800-f432-11ea-8584-b189371c8220.png)

![image](https://user-images.githubusercontent.com/1428644/92920406-867b6f80-f432-11ea-8963-3a640e459326.png)

## This is

[2020-09-11 12:03] abhinaba-ghosh commented on #6722
Hi @pankaj-cashify we've been able to reproduce what you are facing. We have opened a bug for this issue. We will update this thread once we have more information. Thanks.

[2020-09-11 12:36] abhinaba-ghosh opened #9046 "OpenAPI collection validation issue with `x-www-form-urlencoded` param"
**Describe the bug**
Updating and validating the `x-www-form-urlencoded` param in the OpenAPI schema does not update the collection parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the attached OpenAPI schema
2. Generate a collection from the schema
3. Navigate to the Develop tab and validate the collection
4. Change a `x-www-form-urlencoded` parameter (suppose app_version3

[2020-09-11 12:40] abhinaba-ghosh commented on #6722
Hi @pankaj-cashify , we have been able to reproduce what you are facing. We have opened a [new ticket](https://github.com/postmanlabs/postman-app-support/issues/9046) to track the issue. We will be posting updates once we have more information.

[2020-09-11 12:46] lauxjpn commented on #5920
I'll ask again: What is the status of this issue? Fixing this should be prioritized. Until it is fixed, it should be **reopened**.

[2020-09-11 13:39] andersnm commented on #8713
Having the same problem in recent versions: wrote some requests a few months ago which are now failing with "BAD_ENCODING" without any changes. Seems to affect only requests where a certificate is used. Requests with a certificate work in 7.22.1

[2020-09-11 14:08] mccannt commented on #7041
@danieleteti Thanks for the detailed response and for confirming this issue is still existing for you on the most recent version.

I am trying to replicate this locally but not seeing the issue. So a couple of things.

1. In the screenshot example above. I notice in one you are sending in "note" vs the session in httpie does not include it. Not sure if this has any impact or not but something I no

[2020-09-11 14:19] DannyDainton commented on #5246
Hey @ArjanKranenburg

Would you be able to provide an example of what you're seeing in the latest version for that beautify issue, please?

[2020-09-11 14:45] Mechanicalkeyboard commented on #8667
I am not seeing the behaviour describe in the ticket when trying to reproduce this issue.
@qabandlab Could you please see if this issue is still present?

[2020-09-11 14:53] DannyDainton commented on #5202
Closing this issue as this it's now covered with the functionality within the visualizer.

[2020-09-11 14:53] #5202 closed, assigned to kaustavdm

[2020-09-11 14:55] DannyDainton commented on #7548
Closing this issue as it's been resolved.

[2020-09-11 14:55] #7548 closed, assigned to loopDelicious, Raja-Simha

[2020-09-11 14:57] michaelvannevel opened #9047 "Environment Window as a Tab"
**Describe the solution you'd like**
I would like to see the Environment Window move to a Tab. Basically leave the environments dropdown at the top, but once it is clicked...open it in a tab.  The current environment window which pops up as a modal is too small in width in many scenarios.  When you put json, html, urls, long variable names, it becomes extremely difficult to see any of the informat

[2020-09-11 15:01] VShingala commented on #1906
RAML 1.0 support is available in App and as API itself. Feel free to report any issues you have with conversion at [raml1-to-postman](https://github.com/postmanlabs/raml1-to-postman/).

[2020-09-11 15:01] #1906 closed, assigned to a85

[2020-09-11 15:02] Mechanicalkeyboard commented on #8720
Closing this issue for now, please feel free to re-open if issue is still present

[2020-09-11 15:02] #8720 closed, assigned to vvs11

[2020-09-11 15:04] Mechanicalkeyboard commented on #7000
Closing issue, please feel free to re-open if the issue is encountered again!

[2020-09-11 15:04] #7000 closed, assigned to codenirvana

[2020-09-11 15:06] #7502 closed, assigned to saswatds

[2020-09-11 15:07] daviddayanto commented on #8656
Any update since 9 days ago has anyone elese figured this out?

[2020-09-11 15:08] Mechanicalkeyboard commented on #8670
This looks like it was resolved in a previous release. If the issue is experienced again, please re-open! Thank you

[2020-09-11 15:08] #8670 closed, assigned to nobody

[2020-09-11 16:56] brunodaga commented on #4171
I this was closed ? The problem is still there on version 7.32

[2020-09-11 18:04] mccannt commented on #8656
@daviddayanto Apologies. These things can take time to resolve fully and properly, so please hang tight.
Have you tried the workaround from above?

[2020-09-11 18:39] cueo commented on #8789
+1 to making it configurable via Settings.
Holding down Alt (or ⌥) is still an inconvenience. I think everyone would be happy if we could just have a toggle in the settings.

It isn't an issue since it always was seamless. Once a user hits Send, (s)he is mostly interested in the response. So even if the scrolling is hiding the request pane, it is fine.

### Please make it configurable via Settings

[2020-09-11 20:22] fmichala opened #9048 "Stop Working on Mac"
**Describe the bug**
Gray window after open aplication on Mac

**To Reproduce**
Steps to reproduce the behavior:
1. Open application
2. wait a little to crush application

**Screenshots**

<img width="1440" alt="Screen Shot 2020-09-11 at 17 15 38" src="https://user-images.githubusercontent.com/52753175/92969288-09142700-f453-11ea-86f8-f5b87a599505.png">

**App information (please complete the foll

[2020-09-11 21:34] carcus88 opened #9049 "JSON pretty response stopped working in 7.32.0 on MacOS"
**Describe the bug**
Pretty JSON response no longer working

**To Reproduce**
Steps to reproduce the behavior:
1. Run an API query that returns JSON
2. View it using the "Pretty" output

**Expected behavior**
A JSON tree should be produced

**Screenshots**
![image](https://user-images.githubusercontent.com/95110/92974703-cb180280-f454-11ea-92a8-509c6e486da0.png)

**App information (please complete

[2020-09-12 04:25] agdgdh commented on #9049
This issue was very critical especially 2byte iso overlaying works.
"I'm from ,U.K.,U.S.,Fr.,De.,Japan.
Strong especially From Japan.
Often Japanese page appears this pages do not translate and stalking effectively.
License file is locked do not modify. This means third party like harm real attacking material. Combined python fake trapped.

[2020-09-12 06:20] DannyDainton commented on #9049
Hey @carcus88,

Thanks for writing in, I mocked out a response that I thought might cause the issue after seeing your response body. It looks like a mixture of single and double quotes is impacting the beautify option.

<img width="1498" alt="Screenshot 2020-09-12 at 07 13 25" src="https://user-images.githubusercontent.com/17089546/92988903-b6288700-f4c7-11ea-96de-7ace301b9c14.png">

I tried the s

[2020-09-12 13:23] Mechanicalkeyboard commented on #7526
Issue #8825 has been resolved with version 7.30.0. Closing this issue.

If there is another issue present here, and it is still reproducible, please re-open and we will investigate!

Thank you

[2020-09-12 13:23] #7526 closed, assigned to vikiCoder

[2020-09-12 14:46] saswatds commented on #8288
Hi everyone 👋 . We have had some breakthrough over the last few releases of postman app. If you are on the latest version of Postman, ie. `v7.32.0` you should no longer be facing the issue of postman crashing when receiving large responses.

We had some deep technical limitations before which caused response > 100MB to sometimes crash the app.
With the latest release, we were able to overcome most

[2020-09-12 14:46] #8288 closed, assigned to vvs11, codenirvana

[2020-09-12 14:49] saswatds commented on #4751
Hi @sarbajitdutta @dkendall100  as I have mentioned in https://github.com/postmanlabs/postman-app-support/issues/8288#issuecomment-691500931 . Your issue should be resolved now if you update to the latest version of postman app  `7.32.0`.

[2020-09-12 15:01] ionutale opened #9050 "optional activate window when application finish Launching"
90% of the time postman is a secondary application that i use.
It is very annoying  that while i do something, when postman finish launching it will just become focus and i it interrupts me from my work.

postman it is a great application, but it is not my only, main or most important application

can i choose to open it and get back to it later?

---

imagine while you where doing research on chr

[2020-09-12 17:50] agdgdh commented on #9050
I certainly force type appear ,question 10times same setup interfere oath 1time pass word master pass lose.
It's nonsense.

[2020-09-12 17:57] ionutale commented on #9050
Can you elaborate?

Inviato da iPhone

[2020-09-12 18:53] MuraliKrishna4550 opened #9051 "PostMan two pane view"
**Describe the bug**
In previous versions means 28.0 or less, two pane view supporting all parameters in response or request.
But in latest version only one header values only i am seeing. I am using samelaptop and same UI [settings](url
![Capture](https://user-images.githubusercontent.com/49240755/93002828-54aff900-f557-11ea-91c0-ebe0caa73abe.PNG)
)
Please fix it is irritating to switch between t

[2020-09-13 05:22] msn60 commented on #8656
Thanks. With this definition in system variable, it works

[2020-09-13 06:36] agdgdh opened #9052 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-09-13 11:22] redallaraj commented on #6205
i was testing Nest JS ,APIs on postman and i had the same problem,but you either check the proxy settings on postman or start:dev

[2020-09-13 16:20] n2ygk opened #9053 "Openapi (OAS 3.0) deepObject incorrect rendering on import."
**Describe the bug**
Import of a deepObject parameter definition results in incorrect query parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the attached example openapi spec file which has this definition:
[code]
2. Look at the query parameters generated, e.g. for the GET of /v1/Courses: `&fields[0]=<&fields[1]=o&fields[2]=b&fields[3]=j&fields[4]=e&fields[5]=c&fields[6]=t&

[2020-09-13 16:28] bwinchester commented on #6681
@postman @Raja-Simha . This was marked 'Later' 7 months ago? Any update? Coming up on renewal and I'm going to ditch you and roll our own if I can't get a commitment on this by the end of this year. I pay more for this service than a continuous delivery server, and can't even publish my documentation privately. Absurd.

[2020-09-14 02:18] DivyaMoryani commented on #8667
Working now, no issues! thank you...

[2020-09-14 03:03] Farhahtahir opened #9054 "Send Email"
Hi all, I hit the error below when i trying to send email using postman

{
    "Code": "00000"
}

Below is the request that I used:

http://10.180.1.26:94/Streamline_UtilityAPI/Email/SendMail
POST /Streamline_UtilityAPI/Email/SendMail HTTP/1.1
Host: 10.180.1.26:94
Content-Type: application/json
Cache-Control: no-cache
Postman-Token: b94c7fbf-4f86-cfae-a632-563e2cafac7b
{
    "FromAddress": "",

[2020-09-14 05:40] satyamsaty commented on #1535
+1

[2020-09-14 05:44] DannyDainton commented on #9054
Hey @Farhahtahir

This seems like a perfect question for our community site - There are lots of awesome Postman users who would be able to offer a solution to your problem.

https://community.postman.com

As this is not a functional issue with the app, I'm going to close this out.

[2020-09-14 05:44] #9054 closed, assigned to nobody

[2020-09-14 06:14] corwestermaniddink commented on #1535
@kinlane In my opinion this gonna be a dealbreaker to proceed with Postman in general. To not have the ability to re-use requests takes allot of maintenance and extra work that we don't have if we choose other api-test tooling.

Even if this is not possible on GUI level, but just on javascript level would make a huge difference.

Also I think it's a huge business opportunity, to have another extra

[2020-09-14 07:11] abhijitkane commented on #9052
Closed as being incomprehensive.

[2020-09-14 07:11] #9052 closed, assigned to nobody

[2020-09-14 08:59] arlemi commented on #1744
Hey everyone,

As mentioned by @a85 in his [previous message](https://github.com/postmanlabs/postman-app-support/issues/1744#issuecomment-489468280), we've been working a lot on [the API Builder](https://learning.postman.com/docs/designing-and-developing-your-api/the-api-workflow/) to improve the experience of defining APIs directly in Postman, and to give the ability to generate documentation, mo

[2020-09-14 09:55] chughmayank commented on #7427
This is being tracked at #6833 . Closing this ticket. Please feel free to reopen the ticket if you feel your request/issue is different from the parent issue

[2020-09-14 09:55] #7427 closed, assigned to nobody

[2020-09-14 11:09] ArjanKranenburg commented on #5246
I cannot reproduce this anymore. Perhaps it was solved in the latest version?

[2020-09-14 11:11] #8667 closed, assigned to vvs11

[2020-09-14 11:47] rajib-raiyat opened #9055 "Sync api(s) collections on personal server"
If I want to sync my postman collection, I need to have a postman account and all my postman collections will sync itself with the postman server.

I would like to use my **own server** to **sync api(s) collection** including postman user accounts and admin panel like [Bitwarden](https://github.com/bitwarden). Is there any option?
If not so, then **please develop this feature**

[2020-09-14 11:57] DannyDainton commented on #9050
Closing this as it's a duplicate of #6849

[2020-09-14 11:57] #9050 closed, assigned to nobody

[2020-09-14 12:03] DannyDainton commented on #5246
Thanks for getting back to me - I'm going to close this one out for now but if the issue reappears for other users, we can open the issue again.

[2020-09-14 12:03] #5246 closed, assigned to nobody

[2020-09-14 12:10] DannyDainton commented on #6915
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:10] #6915 closed, assigned to ankitjaggi

[2020-09-14 12:12] DannyDainton commented on #8235
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:15] DannyDainton commented on #6386
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:15] #6386 closed, assigned to nobody

[2020-09-14 12:17] DannyDainton commented on #7716
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:17] #7716 closed, assigned to harryi3t

[2020-09-14 12:19] bondezbond commented on #8235
@DannyDainton sorry didn't see that first ping. So I'm still seeing this issue. If I use Bearer Token auth for the first request and when I click on a link in the response. The second response won't pick it up since it defaults is "inherit from parent" but since the request isn't part of a collection it just fails. I have to manually setup bearer token auth again for the second request to make the

[2020-09-14 12:20] DannyDainton commented on #6568
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:20] #6568 closed, assigned to nobody

[2020-09-14 12:22] DannyDainton commented on #6570
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:22] #6570 closed, assigned to abhijitkane, numaanashraf

[2020-09-14 12:24] DannyDainton commented on #8044
I'm going to close this issue but we can open this up again if this is still a problem that people are facing.

[2020-09-14 12:24] #8044 closed, assigned to numaanashraf, vvs11

[2020-09-14 12:26] DannyDainton commented on #8235
Thanks for getting back to us - I've reopened the issue.

We will keep the thread updated with details once we have more information.

[2020-09-14 13:02] vikiCoder opened #9056 "Improvements in sharing of OAuth 2.0 token and token generation details"
Over the last few years, Postman has evolved to become an API Development Platform. The ability to build a request and inspect the response is one of the core features that we offer. Authentication is a fundamental part of an API and within this, OAuth 2.0 has emerged as one of the most used auth methods. We have made a few improvements to make the OAuth 2.0 experience better in a collaborative en

[2020-09-14 13:11] vikiCoder commented on #4636
Hi everyone,

We have made a few changes in OAuth 2.0 helper in the Postman app to address the problems discussed here. These changes are available in the [Postman Canary](https://www.postman.com/downloads/canary/). Please download the latest Postman Canary app and check it out.

See the issue #9056 to know more about the changes. Feel free to leave your feedback at #9056.

[2020-09-14 13:13] vikiCoder commented on #7537
Hi everyone,

We have made a few changes in OAuth 2.0 helper in the Postman app to address the problems discussed here. These changes are available in the [Postman Canary](https://www.postman.com/downloads/canary/). Please download the latest Postman Canary app and check it out.

See the issue #9056 to know more about the changes. Feel free to leave your feedback at #9056.

[2020-09-14 13:14] vikiCoder commented on #5459
Hi everyone,

We have made a few changes in OAuth 2.0 helper in the Postman app to address the problems discussed here. These changes are available in the [Postman Canary](https://www.postman.com/downloads/canary/). Please download the latest Postman Canary app and check it out.

See the issue #9056 to know more about the changes. Feel free to leave your feedback at #9056.

[2020-09-14 13:32] stefanluchian commented on #7325
Yes, it would be very nice to be able to skip the current step i.e. the current request and its tests and let Postman decide which is the next step.

[2020-09-14 13:50] saswatds commented on #4230
Hi everyone 👋 . Over the past few released, he had made a lot of progress in handling really large request and response bodies. Currently we have pushed it to around ~700MB size. This comment https://github.com/postmanlabs/postman-app-support/issues/8288#issuecomment-691500931 has more information. Would like everyone to update to version >= 7.32.0 to see the difference and give us your feedback.

[2020-09-14 13:50] #4230 closed, assigned to saswatds

[2020-09-14 13:51] ohalsudarshan commented on #9041
I am facing the same issue. can someone please help me urgently

[2020-09-14 13:56] Mechanicalkeyboard commented on #6756
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5220

[2020-09-14 13:56] #6756 closed, assigned to vkaegis

[2020-09-14 14:00] ohalsudarshan commented on #9041
@Firstlist-comm : Do you got any resolution on this issue?

[2020-09-14 14:05] Mechanicalkeyboard commented on #7981
Closing this issue for now, if the issue is still present, please feel free to reopen

[2020-09-14 14:05] #7981 closed, assigned to vvs11

[2020-09-14 14:12] carcus88 commented on #9049
Sure thing, here is the full response

[response.json.zip](https://github.com/postmanlabs/postman-app-support/files/5218964/response.json.zip)

[2020-09-14 14:48] Mechanicalkeyboard commented on #8377
I was able to reproduce this issue.

[2020-09-14 14:55] Mechanicalkeyboard commented on #8426
Closing this issue for now, please feel free to re-open if this issue is still present.

[2020-09-14 14:55] #8426 closed, assigned to codenirvana, saswatds

[2020-09-14 15:03] VShingala commented on #9053
@n2ygk Thanks for reporting issue.

The issue is happening due to wrong handling of empty objects, which is fixed with https://github.com/postmanlabs/openapi-to-postman/pull/294 and should be available in App with upcoming releases.

This will mean that for mentioned parameter object no query params will be added.

Also just to confirm that issue is present only when no properties are mentioned fo

[2020-09-14 15:08] Martin-Suska commented on #5039
Thanks Erik, worked for me.

And for all not being able to logout (as me) - https://community.postman.com/t/where-is-the-logout-button/1763

[2020-09-14 15:27] n2ygk commented on #9053
@VShingala Thanks! For the time being I've changed my definition like this:
[code]

This generates a single query parameter like this: `fields[<typename>]=<string>`

[2020-09-14 16:09] Mechanicalkeyboard commented on #8123
Closing this issue, please feel free to reopen if it is still present.

[2020-09-14 16:09] #8123 closed, assigned to vvs11

[2020-09-14 16:22] mccannt commented on #5830
Closing this issue. If you are still experiencing this, please let us know.

[2020-09-14 16:22] #5830 closed, assigned to mccannt

[2020-09-14 16:36] mccannt commented on #6723
Thanks for sending the logs in @waaromikniet
We will be in touch with any further information we may need.

[2020-09-14 17:45] kinlane commented on #1535
Where there is no direct way in the app to select a request in a collection, and reuse it currently, it confounds me this thread continues in the direction it does. There has been much work in this area, and continues to be:

1) You can generate multiple collections from the same OpenAPI or Swagger truth for different purposes (ie. mock, docs, test). "Reusing the same request in multiple collectio

[2020-09-14 17:58] mccannt commented on #8536
Closing out this issue. If you are still experiencing issues with this let us know.

[2020-09-14 17:58] #8536 closed, assigned to mccannt

[2020-09-14 18:01] mccannt commented on #8455
@JessePreiner Any updates on this?

[2020-09-14 18:02] mccannt commented on #6621
Closing this issue out.
If you are still experiencing this issue, please let us know.

[2020-09-14 18:02] #6621 closed, assigned to mccannt

[2020-09-14 18:03] mccannt commented on #6521
Closing this issue for now. We are always making improvements to the application, please reach out if you are still experiencing this issue.

[2020-09-14 18:03] #6521 closed, assigned to mccannt

[2020-09-14 20:19] colingoodale commented on #1850
Hi I'm on Windows 10 and this still persists with no clear solutions.

[2020-09-15 01:00] simontankersley opened #9057 "Automatically set baseUrl to base path of link used to import an openapi spec with url set to /"
**Is your feature request related to a problem? Please describe.**
I have to manually update the `baseUrl` variable of a collection created when I import an openapi spec using a link and the `url` of the spec is `/`

To explain further say I have an openapi spec with `/` set as the `url` like so

[code]

When I import this into postman via a link (say from `http://localhost:8080/api-docs`) then th

[2020-09-15 06:18] #8995 closed, assigned to nobody

[2020-09-15 06:21] ohalsudarshan commented on #9041
I got the resolution for this issue

Steps
1. Install version 7.1.1
2. install or override version 7.25.0 (You will get message "Version updated to 7.25")
3. Close and relaunch postman (You will get message "Version updated to 7.32")

@Firstlist-comm : Can you please try the above steps and let me know if its working fine for you?

[2020-09-15 10:21] DamienGarrido opened #9058 "Get the raw unmodified response body in test scripts"
**Describe the bug**
In test scripts, in some cases`pm.response.text()` returns the body modified.

**To Reproduce**
Steps to reproduce the behavior:
1. Write the following test script to display the body in hexadecimal form as well as its corresponding MD5:
[code]
2. Send an HTTP request which returns a response with a body content of exactly one byte whose value is 0x97.
3. See the output of the

[2020-09-15 10:40] sankalp0o commented on #6974
Hi @durbin-studio! We have the ability to annotate request body and it works very similar to what you suggested. Please give it a try and let us know how we can improve the experience! I'm closing the ticket, but looking forward to your feedback.

[2020-09-15 10:40] #6974 closed, assigned to vkaegis

[2020-09-15 10:56] andyg101 commented on #1535
@kinlane  All of that work sounds great but I think there is a simple point here. If you have a set of API calls for your test flow perhaps with some data set up steps that are repeated over and over you just don't want to be duplicating those requests it is not DRY. I have some scripts with circa 30 requests to get a system into a state where I want to test it and that results in a lot of duplica

[2020-09-15 11:00] Ardian-i opened #9059 "Unable to generate collection for API from OpenAPI 3 specification"
**Describe the bug**

Importing OpenAPI 3 Json-File in Postman not working since Version v7.32.0. I'm getting the error message 'Unable to generate collection for CustOrderHandling API.' when trying to import the attached JSON-File (please see Postman_CustOrderHandling_v3.zip).

[Postman_CustOrderHandling_v3.zip](https://github.com/postmanlabs/postman-app-support/files/5224290/Postman_CustOrderHan

[2020-09-15 11:08] vikiCoder commented on #9058
Hi @DamienGarrido

The response you get using `pm.response.text()` is not the exact byte-to-byte data received in raw response. It processes the response using defined charset in the `Content-Type` response header and converts it into JavaScript `String` representation.

For your use case, check out `pm.response.stream` property. That will give you a JavaScript `Buffer` containing exact data recei

[2020-09-15 11:08] #9058 closed, assigned to nobody

[2020-09-15 11:23] abhinaba-ghosh commented on #9059
Hi @Ardian-i , Thanks for reporting the issue. I am able to re-produce this in the latest version of the app. We will be posting further updates here.

[2020-09-15 12:14] aoyama-val commented on #1180
+1

[2020-09-15 12:36] Firstlist-comm commented on #9041
@ohalsudarshan I now get the same error when I run Postman-win64-7.25.0-Setup.exe (after previously successfully installing v7.1.1). So unfortunately the steps you completed to resolve the issue don't work for me.

[2020-09-15 13:00] DannyDainton commented on #9049
Hey @carcus88

I created a mock server which returns you response body and I was unable to see the same response as you were getting.

![Screenshot 2020-09-15 at 13 55 01](https://user-images.githubusercontent.com/17089546/93212966-31ee3200-f75b-11ea-8e68-ffd5021f9f21.png)

My example was using invalid JSON so the expectation there would be that the formatting work work upto the point of the singl

[2020-09-15 15:48] m-urban commented on #8783
@codenirvana, were you able to reproduce this issue? Anything we can do to support?

[2020-09-15 15:49] carcus88 commented on #9049
Quitting and restarting a couple times fixed the issue somehow. Sorry about the false positive...

![image](https://user-images.githubusercontent.com/95110/93233812-7f61a380-f749-11ea-92a2-e3c2f7d6d2c6.png)

[2020-09-15 15:49] #9049 closed, assigned to nobody

[2020-09-15 15:50] DannyDainton commented on #9049
Yay, no worries. Glad that sorted it out for you.

[2020-09-15 15:51] kinlane commented on #1535
I get what is being asked here completely. I am just stating I don't think folks are considering the big picture of re-use (ie. OpenAPI as truth of that reuse). How difficult what is being asked is across 12M use cases, and I am unconvinced of it being a blocker, and something folks will walk away from postman from if they can't do (which folks love to throw out). Each request has a unique ID and

[2020-09-15 15:54] kinlane commented on #1535
Now that we are on the web. I am focused on $ref usage across OpenAPI, and leveraging of components object in OpenAPI and across OpenAPI -- multi-file support for referencing of requests. Which would trickle down to this slice of the reuse pie and give y'all what you are looking for in the UI. So bonus points for any $ref use cases of reuse.

[2020-09-15 17:29] a85 commented on #1535
@andyg101 The reason we have been cautious around this is that "reusing" creates dependency graphs between entities. Building reusable requests like the way has been described in this request not only involves referencing but also managing these graphs. We haven't done this yet because then sharing, debugging, managing these graphs becomes a higher level problem. Another problem is that not only d

[2020-09-15 17:46] Mechanicalkeyboard commented on #7466
@verhyppo @sbiemont  After reproducing this, I am seeing an error returned that is more descriptive.

Closing this issue. If the behaviour seen in the most recent version is not up to your expectations, please re-open.
![Screen Shot 2020-09-15 at 2 44 35 PM](https://user-images.githubusercontent.com/9625128/93245824-44b83500-f762-11ea-9550-6bb6090d51d6.png)

[2020-09-15 17:46] #7466 closed, assigned to codenirvana

[2020-09-15 17:56] Mechanicalkeyboard commented on #7105
We have resolved a related issue: https://github.com/postmanlabs/postman-app-support/issues/8177 which appears to be a similar case to this item.

Closing this. If there is a difference in the workflows between the two tickets, and this item is still reproducible in the most recent version of the app, please feel free to re-open

[2020-09-15 19:46] SergeyShidlovsky commented on #3466
They have directed you to this thread and what did they ask from your side to do in this thread?

[2020-09-15 20:33] SabriH10 commented on #9035
Hi @hcmehta ,

Have you had an opportunity to try the following troubleshooting guidelines to see if it helps? Referenced here: https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-
Particularly regarding deleting local data and re-install the App. Please make sure to, before deleting anything, pay particular attention to the recommendations re

[2020-09-15 20:56] lucasltv commented on #8040
+1

[2020-09-16 01:38] 7934345 commented on #3126
@arlemi It's not A solution for app, its just a branch of postman.

but for those who using web postman, it should be enough.

thx anyway.

[2020-09-16 03:18] tristandenyer commented on #8158
@DannyDainton I found this page by Googling "postman bigcommerce".
And it is still an issue.

[2020-09-16 03:41] zhangbin90 opened #9060 "Set proxy for a single request in postman"

[2020-09-16 03:47] ohalsudarshan commented on #9041
@Firstlist-comm : Can you please remove 7.1 and try installing 7.25, lets try that option for you

[2020-09-16 04:01] leonvzGit opened #9061 "Change environment scope in pre-request or test scripts"
Feature Request:  I would like to access the variables in a specific environment based on the response body of the request in the current environment from at least test scripts. Environments are collections I should be able to retrieve variables from other environments while executing tests.

Scenario:
I have 7 Environments, Each environment has a URL and Token defined, let's say request A on Envi

[2020-09-16 04:16] wilyfreddie commented on #8040
+1

[2020-09-16 04:34] aktur commented on #3466
Observe it for news

Observe it for news.

[2020-09-16 04:57] sarthakverma14 commented on #8626
@codenirvana is this feature implemented?

[2020-09-16 06:26] mefalamin commented on #5827
I'm running v7.32.0, its lagging and consumes cpu more when i try to add  or modify a variable

[2020-09-16 07:01] andyg101 commented on #1535
Just some responses. I'm just looking to understand what you are getting at, I have used Swagger a little but I wouldn't say I'm an expert.

I don't understand what you mean by showing a single use case 'via API'. Can you clarify for me please? I think my use case is fairly simple. Let's say I have a request _createFoo_ (I just happen to be using graphQL but I guess it could be a normal rest endpo

[2020-09-16 07:06] DannyDainton commented on #9060
Hey @zhangbin90

A proxy will be applied to all requests and cannot be used against just a single request.

https://learning.postman.com/docs/sending-requests/capturing-request-data/proxy/#configuring-proxy-settings

[2020-09-16 07:14] kmichielsenphilips commented on #1535
+1

Re-use of a request or folder in the same or outside a collection would have great benefits for the maintainability of collections. Examples as also mentioned by @andyg101 are also applicable to me - the execution of for instance login (cross collection) and list/validation requests receptively in one collection to verify transactions executed earlier - are both regularly used practices. The s

[2020-09-16 07:25] ghost opened #9062 "Search and sort environment variables"
In bigger projects the number of our (environment) variables grows. This leads to management challenges in the interface.  A few 'minor' improvements would make life of environment management much easier:

**Sorting**
In short - be able to sort the environment variables by key. It will make searching and organising much easier.

**Filter**
Have a small search box which allows to filter the variabl

[2020-09-16 09:37] danijelk commented on #7118
Confirmed and works on Mac - Version 7.32.0.

[2020-09-16 09:37] #7118 closed, assigned to nobody

[2020-09-16 10:06] commakoerschgen opened #9063 "Setting collection variables does not work after clearing cookies."
**Describe the bug**
After clearing cookies in a pre-request script, setting collection variables in the same script does not work.

**To Reproduce**
Steps to reproduce the behavior:

*Update: Make sure that example.com is NOT on the cookie whitelist.*

1.  Setup a new GET request to `example.com`.
2.  Pre-request script:
[code]
3.  Tests
[code]
4.  Ensure that the collection does not have any col

[2020-09-16 11:05] DannyDainton commented on #9063
Hey @commakoerschgen

I've tried to reproduce this but I'm not seeing the same thing in the console output

![Screenshot 2020-09-16 at 12 01 20](https://user-images.githubusercontent.com/17089546/93328999-712c8980-f814-11ea-8c80-1df4036acae3.png)

Is there any other contextual information that you could give us that might be the cause of the issue?

Is the domain whitelisted? Only whitelisted doma

[2020-09-16 11:28] zebahmad commented on #5827
I'm on the Postman canary build Version 7.32.0-canary03 (7.32.0-canary03) ... The global variables hangs for a minute or more on my Mac, if i want to move them around and re-arrange them so that they similar variables are located near each other.

[2020-09-16 11:36] commakoerschgen commented on #9063
Thank you for the swift response, @DannyDainton

It turns out that whitelisting the domain (`example.com` in my original example) prevents the issue.

---

However, this is still weird behavior: If the domain is not whitelisted, `jar.clear` fails, but the failure is managed through a callback (like `jar.clear('https://example.com',function(error){console.log(error)});`), and calling the clear meth

[2020-09-16 11:59] DannyDainton commented on #9063
I'm still seeing the same abut this time the error is in the console:

Is this what you're seeing?

![Screenshot 2020-09-16 at 12 54 59](https://user-images.githubusercontent.com/17089546/93334023-2282ed80-f81c-11ea-8b45-20efb0660d1d.png)

As we are unable to see what's in front of you, you will need to provide a screenshot of what you're seeing, please.

[2020-09-16 12:37] GreatScott000 commented on #4604
Really really need some sort of highlighting of non-printable characters.  Here is an example in the the parameters definition.
![image](https://user-images.githubusercontent.com/4333956/93337771-7cd27d00-f821-11ea-990a-96d121a7011e.png)
Can you see the non-printable character in the parameter value?

This cost me 12 hours of frustration, debugging and critical project time.

I am not even sure wh

[2020-09-16 12:40] commakoerschgen commented on #9063
Here is a screenshot:

![screenshot](https://user-images.githubusercontent.com/40790681/93338270-7694ce80-f82a-11ea-922a-d549be7e298f.png)

Have you cleared out the collection variables again? Apart from that, the only difference I can think of would be the platform since you appear to be using macOS. Could there be a Windows-specific glitch in the script runner?

[2020-09-16 13:18] vfragola commented on #3466
Stare at it and hope it happens via osmosis.

[2020-09-16 14:00] levicki opened #9064 "Allow setting remote filename for POST form-data file uploads"
As far as I am aware it is currently impossible to specify remote filename for `mutlipart/form-data` requests. Postman sends the full local path to the server in the `Content-Disposition` header.

For example for this request:
![image](https://user-images.githubusercontent.com/16415478/93347293-31c26500-f835-11ea-89ad-83d78de119a2.png)

Code button shows that the following headers would be sent:
[

[2020-09-16 16:22] Phara0h commented on #8739
Same issue here, Team subscription. We are all on macs latest postman version (7.32.0) and we have constant syncing issues. The big one I am currently seeing request example body (raw json) any changes to this JSON it seems to not be reflecting those changes. It might be all related though.

[2020-09-16 17:28] whobutsb commented on #7301
This would be a nice feature to include in the documentation.

[2020-09-16 17:29] aidanjporter commented on #7301
+1 for this feature

[2020-09-16 18:24] filfreire opened #9065 "Lossy parsing of large numbers from JSON responses using pm.response.json()"
**Describe the bug**
There's loss of data when trying to get "big integer" fields parsed with `pm.response.json()`. A number like `9223372036854775807` gets converted into `9223372036854776000`.

**To Reproduce**
Steps to reproduce the behavior:
1. `curl --location --request GET 'https://filfreire.com/test.json'` (or try and parse locally `{ "somebignumber" : 9223372036854775807 }`)
2. Observe the

[2020-09-16 18:39] kevinswiber commented on #9065
Hi @filfreire,

The JSON specification allows implementations to set limits on numbers, and in fact, suggests constraints imposed by IEEE754-2008, which allows the range [-(2**53)+1, (2**53)-1].

I would recommend placing a bigint in a string to help maintain interoperability with tooling.

Reference: https://tools.ietf.org/html/rfc7159#section-6

[2020-09-16 18:47] mahirk commented on #9004
Hey @VShingala I apologize I never asked: When would this be released?

[2020-09-16 21:22] mdotson commented on #8747
This worked for me. If you set this environment variable in your shell and then launch the app from that same shell, the issue is resolved. For example on mac:

This in your `~/.bash_profile` or equivalent:
` export NODE_OPTIONS="--http-parser=legacy"`

Then you can launch postman like this (change path to wherever your postman is installed):
`open /Applications/Postman.app`

[2020-09-16 23:08] dsschapira commented on #4751
I'm on Postman v `7.32.0` on a 2019 MacBook Pro running Mojave (10.14.6) and while I'm able to get my response back, I cannot download to file without the app totally freezing.

Here is my response, with ~175MB payload:
<img width="1295" alt="Screen Shot 2020-09-16 at 7 05 37 PM" src="https://user-images.githubusercontent.com/28044482/93401222-b5894b00-f84f-11ea-8c7f-b1e46c3f7251.png">

After sele

[2020-09-17 04:49] VShingala commented on #9004
@mahirk This will be released with next release, which will be available on start of next week.

[2020-09-17 05:46] Alexand00r commented on #5222
Also looking forward this feature in desktop app. Thank you in advance

[2020-09-17 06:51] lnxosk commented on #4567
any update on this feature?

[2020-09-17 07:59] Ray-Barker commented on #6351
+1

[2020-09-17 08:01] jelnur opened #9066 "Show timestamp in Postman console logs"

[2020-09-17 08:13] DannyDainton commented on #9066
The timestamps can be toggle on/off using the `3 dots` icon to the right of the console window.

![Screenshot 2020-09-17 at 09 12 07](https://user-images.githubusercontent.com/17089546/93439097-089de500-f8c6-11ea-804d-b81b13149d0b.png)

[2020-09-17 08:13] #9066 closed, assigned to nobody

[2020-09-17 09:45] adharsh05 opened #9067 "i just duplicate a postman request, which is POST request. Internally changed that request to GET. Not updating in the left side bar list."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-09-17 09:46] adharsh05 commented on #9067
<img width="361" alt="Screenshot 2020-09-17 at 1 46 10 PM" src="https://user-images.githubusercontent.com/26116417/93454500-27af6d80-f8ec-11ea-9d72-381a2bc6d270.png">
Leftside list not updating

[2020-09-17 10:15] niklaswallerstedt commented on #8940
@abhijitkane any updates/timeline when this will be available?

Facing this issue and appreciate @therockstorm's use case description as it's something similar we're working towards in our team.

[2020-09-17 10:49] richard-bubble commented on #576
+1 - ended up writing a python script using requests, which is slightly easier to work with as a test harness than curl

[2020-09-17 11:16] DannyDainton commented on #9067
Hey @adharsh05

Could you please fill in the details of the template to help up to replicate when you're seeing.

Steps to reproduce and the environment details are the important things here to get clarity on.

[2020-09-17 12:58] VShingala commented on #8940
@niklaswallerstedt We have been working on the mentioned task by you under issue https://github.com/postmanlabs/postman-app-support/issues/7914 and the issue is already fixed in the corresponding open-source module via https://github.com/postmanlabs/openapi-to-postman/pull/286.

It will be available on App with an upcoming release next week.

[2020-09-17 13:07] martijnvanschie opened #9068 "Postman hangs when updating "Request timeout in ms" setting"
**Describe the bug**
When updating the "Request timeout in ms" settings in the General menu the application becomes unresponsive and used high CPU and Memory.

This issues occures when you update the setting by clicking the input field. When using the TAB key the issues is not occuring.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'General'
3. Click on the inp

[2020-09-17 13:21] hcpx opened #9069 "Folder edit Authorization cannot take effect"
Describe the bug
When I keep the authorization variables in the working range, I edit the folder authorization. Its sub files and sub requests can't add authorization synchronously, and they must be reset in each request

To Reproduce
Steps to reproduce the behavior:

Go to 'collections'
Right  Click on any yourself collection
choice edit->Authorization
setting type BearerToken and token
click upd

[2020-09-17 13:29] Nikoloutsos commented on #8195
This would be really helpful.

[2020-09-17 14:29] aaroncornelissen opened #9070 "Bad request when using queryparameters"
With the postman 7.3 version I experience an error when using query parameters.
When I send a request like https://www.example.com/api?q={"id": "1234"} I get an 400 bad request error.

I downgraded my postman to 7.2 and it worked again.

I am using windows 10, my collegue on a mac is experiencing the same problem.

[2020-09-17 15:12] DannyDainton commented on #9069
Hey @hcpx

Can you provide the additional template details, please?

---

**Steps To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

**App information:**
 - Postman Version:
 - OS:

**Additional context**
Add any other context about the problem here.

[2020-09-17 15:17] DannyDainton commented on #9070
Hey @aaroncornelissen

Can you confirm the version you're using, please?

We will also need to know a little bit more context of what you're trying to do, can you provide some steps to reproduce to the problem?

Any screenshots (masking the sensitive data) of the real requests you're sending and the Postman Console output of the request.

A 400 request would suggest something wrong at the server-s

[2020-09-17 16:09] grimsa commented on #9037
Just came here to report this issue, but found it already reported. We have the same use case - exporting/importing collections in source control.

After the regenerating IDs issue (https://github.com/postmanlabs/postman-app-support/issues/2906) and now this, it is starting to feel that Postman is pushing users to adopt some different workflow.

If that is the case and "export-commit-import" workf

[2020-09-17 20:11] JP-from-Postman opened #9071 "Current values do not persist between browser version tabs"
**Is your feature request related to a problem? Please describe.**
The current value of variables (environment, global) do not persist between different tabs of the Postman web build. If I modify a current value and then switch to a different tab of the web build, this change is not reflected in the new tab.

**Describe the solution you'd like**
Changes to current values are reflected across all o

[2020-09-17 23:37] cobbi1309 opened #9072 "Grey screen"
**Describe the bug**
The postman´s windows turned gray

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman
2. Wait 5 minutes
3. The window turned gray.

**Expected behavior**
The window doesnt turn gray

**Screenshots**
![image](https://user-images.githubusercontent.com/71472271/93538808-aae4b980-f914-11ea-9113-1d1921c1bae9.png)

**App information (please complete the following info

[2020-09-18 02:27] santoshmohan commented on #9072
I have the same issue as well.
![image](https://user-images.githubusercontent.com/6982545/93548253-378d8700-f9aa-11ea-895f-03e54d108df3.png)

Postman v7.32.0
Platform Windows 10  2004

[2020-09-18 03:43] JasonTheAdams commented on #7654
@arlemi Eventually, I did figure out how to recover the collections. Thanks for asking!

Keep in mind that in my example I was importing a collection that went far beyond the limit in and of itself, so I never saw any kind of approaching warning. I went from 8-9 collections to 40-50 by importing one collection. That's why I consider it important to provide a warning if the act of importing will pu

[2020-09-18 05:37] j-c17 opened #9073 "Postman incorrectly read the values in CSV file (modified the value)"
**Describe the bug**
Postman can read my csv file but incorrectly read the value (the value is modified by Postman).

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare csv file as described in https://blog.postman.com/looping-through-a-data-file-in-the-postman-collection-runner/
2. Click Runner -- Collection Runner window will appear
3. Choose the request that we want to run
4. In Data

[2020-09-18 05:47] DannyDainton commented on #9073
Hey @j-c17

This might help to understand why that number gets converted:

https://github.com/postmanlabs/postman-app-support/issues/9065

[2020-09-18 07:00] aaroncornelissen commented on #9070
Hello @DannyDainton,

Thank you for your quick response.
I am using now version v7.32.0, I tested the request also with version v7.2.0 and there it worked.

I am sending my requests to a oracle API ([see docs](https://docs.oracle.com/cd/E56351_01/doc.30/e87809/developing-REST-applications.htm#AELIG90103)). I am using the query parameters to filter my results in de database before I recieve them.

[2020-09-18 07:08] hanayashiki opened #9074 "The name of postman is not gender-neutral"
**Describe the bug**
The name of postman is not gender-neutral. We should promote gender-neutrality in naming.

**To Reproduce**
-
**Expected behavior**
A gender-neutral name for this application.

**Screenshots**
![image](https://user-images.githubusercontent.com/26056783/93567114-029a1980-f943-11ea-8f67-11458ff0ab8d.png)

**App information (please complete the following information):**
 - App Ty

[2020-09-18 08:23] sandy2008 commented on #9074
You can just not use it, you Libtard

[2020-09-18 08:31] DannyDainton commented on #9070
We have made changes between those 2 versions around the URL processing - You can read the full details on this here:

https://github.com/postmanlabs/postman-app-support/issues/8154

[2020-09-18 08:37] aaroncornelissen commented on #9070
Thank you!,  disabling the "Use next-generation URL processing" settings solved my issue.

[2020-09-18 08:50] #9070 closed, assigned to nobody

[2020-09-18 10:29] DannyDainton commented on #9072
Hey @cobbi1309 / @santoshmohan

Would you be able to switch over to the Canary build, to see if that loads up the app for you, please?

https://www.postman.com/downloads/canary/

This can be downloaded and run in parallel to your main Postman app.

[2020-09-18 10:29] DannyDainton commented on #9048
Hey @fmichala

Would you be able to switch over to the Canary build to see if that loads up the app for you, please?

https://www.postman.com/downloads/canary/

This can be downloaded and run in parallel to your main Postman app.

[2020-09-18 10:40] Dooghy commented on #822
Tried to import a simple RAML 1.0 with traits and it fails with error like:

```Error while importing RAML 1.0: TypeError: Cannot assign to read only property '0' of object '[object String]'```

If I don't apply the trait to the POST method, I can import the RAML into Postman ... :-(

Extract from RAML:

#%RAML 1.0

title: User API
version: 2.0
baseUri: /api/users-api/{version}

description: This

[2020-09-18 11:00] JamesElliott-Wren commented on #8754
Same issue for me, It works if I use a windows laptop.
It's been like this for months, is there no progress on this issue?

[2020-09-18 11:03] DannyDainton commented on #6532
@Raj-postman I'm going to close this one for now and if we get any more reports of this happening we can open it up again.

[2020-09-18 11:03] #6532 closed, assigned to ankitjaggi

[2020-09-18 11:15] DannyDainton commented on #8005
Closing this issue for now but if this is still an issue, we can look to open it up again.

[2020-09-18 11:15] #8005 closed, assigned to VShingala

[2020-09-18 11:43] magnuswikhog commented on #8626
If I activate **Encode URL automatically** and **Use next generation URL processing**, I expect parameters to be encoded, including `+` characters.

Maybe it's just me, but it doesn't really make sense to me that some special characters (for example `/`) in a GET-parameter  arrive intact on the server, but others (i.e. `+`) get mangled into spaces. Is this expected behaviour?

I'm using the Postma

[2020-09-18 12:16] mkapiczy commented on #6682
+1

[2020-09-18 12:49] lukyer commented on #4598
same problem here, what is actually ":parameter" syntax for? Does it have some semantics?

[2020-09-18 13:32] mccannt commented on #8747
Just wanted to drop a quick update here for everyone. We have this currently in our backlog to be resolved, thankfully it looks like we have the workaround listed above for those that are impacted by this.
We will let you know when we have any updates.

[2020-09-18 14:51] cobbi1309 commented on #9072
It works perfectly, thanks!!

[2020-09-18 15:10] JeffIPV opened #9075 "Digest Auth Second Request Missing. WWW-Authenticate quotes"
Digest Auth Second Request Missing.
It keeps sending a request without inputting username and pass from the response from the server.
Is postman dependent on quotes required for every parameter in WWW-Authenticate?
From what I understand no quotes should be supported and preferred. Quotes is only required on realm
https://tools.ietf.org/html/rfc7235

[code]

`
2.2.  Protection Space (Realm)
.....

[2020-09-19 12:13] seimnseimn commented on #5827
Just upgraded to 7.32.0 version on macOS after not using it for a while and now it's unusable :(
Editing vars is very slow, rearranging is almost impossible. (No high CPU or Memory load though).

I have only about 50 vars in my current env (some are nested, very few are larger than 200 chars, max length of the largest is 600 chars)

[2020-09-19 13:44] davidmoseler commented on #9043
Hi @DannyDainton ! Thanks for the answer.

Yes, that's the workflow I was following. Weirdly, I didn't find the version number anywhere in the application. But it had been just downloaded from the website for Ubuntu 20.04 LTS, so I guess it was the last one.

I tried replicating the bug today, but things are working normally as far as I tried. I'm 100% sure the problem was happening that day, beca

[2020-09-19 13:48] DannyDainton commented on #9043
That's a strange one but looks like it's all good now. 🏆

I'll close this issue out for now but we can open it up again if you see the issue again.

[2020-09-19 13:48] #9043 closed, assigned to nobody

[2020-09-19 16:35] Svansiepansie commented on #2030
jep still broken

[2020-09-19 20:10] ZooDoo4U commented on #7163
Have to agree, nice to see there recently was an option added to allow the results/content coming back we can set the font size, but that is only 10% of what i would like a larger font.    Seems it really depends sometimes the user's screen size/resolution might make a given font usable or not.   Would assert those who wrote Postman did so and made stuff to look fine for there environment, but tha

[2020-09-20 05:02] rajib-raiyat opened #9076 "Tab switch shortcut and customize shortcut"
Bring a future that I can **switch between tabs** with new shortcut and also need **shortcut customize option**.

**Shortcut for switch between tabs**

- To go left tab

- To go right tab

[2020-09-20 06:59] DannyDainton commented on #9076
Hey @rajib-raiyat

You currently have 2 options to switch between tabs. These are the options for macOS.

To go to a specific tab:

[code]

To move left and right through the tabs:

[code]

To show all the shortcuts, you can go to `Settings > Shortcuts` or using `Command + ?`

[2020-09-20 08:10] rajib-raiyat commented on #9076
No I want this option. Mainly **shortcut customization options** in cross platform

[2020-09-20 13:17] mrgrieves4 commented on #3121
Very sad to see the developers of Postman refusing to engage with this.  Also want to thank @zersiax for the links to other tools that seem to take this kind of thing more seriously.

[2020-09-20 14:19] oliverm2112 commented on #7235
This one drives me nuts. I can't stop hitting F2! I had to install a keyboard re-mapper for this app so that I could use F2 to edit names ;)
It would be best is all keyboard shortcuts were customizable.

[2020-09-20 19:05] ranchanarajasekaran commented on #8524
This issue has been fixed. Please reopen the issue to report any feedback on the same.

[2020-09-20 19:05] #8524 closed, assigned to godfrzero, Raja-Simha

[2020-09-21 02:21] rashidablanca commented on #8480
Same issue here. Any update on well will this be fixed?

[2020-09-21 02:52] anand-acharya opened #9077 "Postman v7.32.0 desktop agent not syncing on MacOS Catalina 10.15.6"
The postman desktop agent is not syncing on my Mac machine. As a result I am unable to view my personal and team workspace on the desktop agent. Please see attached screenshot.

Kindly fix this issue or let me know the steps to resolve this issue.

[Postman sync issue.pdf](https://github.com/postmanlabs/postman-app-support/files/5253276/Postman.sync.issue.pdf)

[2020-09-21 06:00] DannyDainton commented on #9077
Hey @anand-acharya

Would you be able to switch over to the Canary build, to see if that loads up the sync app for you, please?

https://www.postman.com/downloads/canary/

This can be downloaded and run in parallel to your main Postman app.

I also noticed the app if offline and you have updates pending. Would you be able to sign out and in again?

[2020-09-21 07:06] DannyDainton commented on #8730
Hey @yhminbv

I'm going to close this issue for now, we can look to open it again if this is still an issue for you.

[2020-09-21 07:06] #8730 closed, assigned to ankit-m, preethammavin

[2020-09-21 07:40] Myster commented on #8668
I have another scenario where code folding does not work and it does not include any CDATA blocks.
Raw Body:
[code]
Xml folding treats the </ALTLABELS> as the closing for <AMENITYGROUP>
![image](https://user-images.githubusercontent.com/354777/93742443-3aa2a480-fc42-11ea-8d27-b73863697657.png)

But using HTML view folds correctly

[2020-09-21 07:50] hkaur008 commented on #5182
same isssue

both cURL (bash) and cURL (cmd) dont works.

[2020-09-21 08:12] KrausLove commented on #8962
I have the same problem,but following your advice, but i still face the same issue

[2020-09-21 08:45] KasperLK commented on #4193
Insomnia's [request chaining](https://support.insomnia.rest/article/43-chaining-requests) is very easy to setup and even reuse in variables.

[2020-09-21 09:17] chughmayank commented on #5889
hey @joeminicucci  and @ClaysonIO , is this something you are still facing on the latest version of postman app?

[2020-09-21 09:19] Lyra2108 commented on #7427
I do not have the permissions to reopen this request.

I would say that this are different features. The one you mentioned is not about OpenAPI, it seems to me that there the goal is to switch between different authentication methods for a request, where all methods are valid.

With this I dont want any switching of auth methods, because in my main use case I need both at the same time.

From the

[2020-09-21 10:50] yaronyudov commented on #6351
+1

[2020-09-21 12:45] vikiCoder commented on #9073
Closing this as a duplicate of this feature request: https://github.com/postmanlabs/postman-app-support/issues/6746

See this comment for a possible workaround: https://github.com/postmanlabs/postman-app-support/issues/6798#issuecomment-506642247

[2020-09-21 12:45] #9073 closed, assigned to nobody

[2020-09-21 13:02] VShingala commented on #822
@Dooghy Are you importing this schema as a file/text or you are using Import folder flow? Also, it would help if you could provide App information such as version and OS etc.

[2020-09-21 13:43] elfantome commented on #285
+1 as in some runners we need to update a var and it would be easier and faster to prompt a user input

[2020-09-21 14:50] joebiker commented on #8918
@retzloff Thanks for posting this issue.  I was really confused.
I guess it makes sense if the auto-generated columns are hidden, but would be a good fix.

[2020-09-21 14:56] SabriH10 commented on #8860
Hi @harrymaurya05 & @rahul2891987 ,
I'll be closing this issue as we haven't received a follow-up with additional information to help troubleshoot further.
Feel free to reach out to help@postman.com or the [Community Forum](https://community.postman.com/) if you still require assistance and please do include the information requested above. Have a great day!

[2020-09-21 14:56] #8860 closed, assigned to nobody

[2020-09-21 15:36] scottmmmm commented on #285
I +1ed this years ago but the lack of acknowledgement led me to abandon Postman.

Insomnia does this quite well, so if people are still looking for this feature you’ll get it over there.

https://insomnia.rest

[2020-09-21 16:52] dshippy56 commented on #4253
To summarize:

- this existed in Postman 5

- it was noted as being broken in 6.0.7 **more than 2 and a half years ago**

- it is still not fixed at 7.32.0

- see #4272 [](https://github.com/postmanlabs/postman-app-support/issues/4272) for details

- IMHO it is not a new feature being requested...it is a bug to be fixed.  Enhancements to as-is functionality from Postman 5 would be a new feature.

[2020-09-21 20:38] andrew-luminal commented on #8231
Adding a +1 to this, really would help for those of us using Auth0

[2020-09-21 21:48] RadwaSaleh commented on #7009
I still have this issue, not all collections are displayed, only few of them

[2020-09-22 01:12] anand-acharya commented on #9077
app was online and it was upgraded to latest version, but same issue even after sign out and sign in.

Also getting same issue with postman canary. Please check why I am unable to view my personal and team workspace in the desktop app.

[same issue with postman canary.pdf](https://github.com/postmanlabs/postman-app-support/files/5258795/same.issue.with.postman.canary.pdf)

[2020-09-22 04:40] Raj-postman opened #9078 "Postman crashes while switching fields on press of Tab"
**Describe the bug**
Postman crashes upon clicking Tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a "key name" in Params, press Tab to input the corresponding value.
2. Press Tab again to navigate all the way to input the second "Key name" in params.
3. Continue to enter 2-3 key-value pairs.
4. Upon pressing tab during one of the instance to switch the placeholder, the app crashe

[2020-09-22 05:38] DannyDainton commented on #9077
The app is offline so sync wouldn't happen.

![Screenshot_20200922_063352.jpg](https://user-images.githubusercontent.com/17089546/93847032-b54cdd80-fc9d-11ea-8d72-ecdc74ce541d.jpg)

Are you using this on a VPN, behind a company firewall or with a proxy?

Can you see your data on the Web version of Postman?

https://go.postman.co/build

[2020-09-22 06:17] anand-acharya commented on #9077
Hi Danny, yes the app is online. PFB the snapshot of the app.

![image](https://user-images.githubusercontent.com/69621802/93847971-c91f3080-fceb-11ea-8ce6-5de67315a15c.png)

I am currently working from home and using Zscaler Security to connect to the company network. I am not aware of company firewall or proxy.

Yes, I can see my data (both personal and team workspace) in the web version of Post

[2020-09-22 07:02] classicalguss commented on #2096
Wow postman. You have one of the best technological apps, and yet it can't do the thing that almost every other App does? I hope it can be done too.

[2020-09-22 07:22] ArjunSingh-PM commented on #8480
@akperiste Thank you for sharing this issue with us. This is not supported by Monitors as of now, but we will be taking this up as a feature request.

[2020-09-22 10:36] abhijitkane commented on #9037
@byrdman @grimsa This was a regression, unfortunately. We'll be including a fix for this in the subsequent release.

[2020-09-22 11:02] TomGranot commented on #7056
@mccannt Thanks!

[2020-09-22 12:24] VShingala commented on #9053
@n2ygk This issue has been resolved with the latest App release v7.33. Closing this for now.

[2020-09-22 12:28] VShingala commented on #8438
Closing this issue as resolved, feel free to reopen for any further problems.

[2020-09-22 12:28] #8438 closed, assigned to VShingala

[2020-09-22 12:30] #7914 closed, assigned to vkaegis, Raja-Simha

[2020-09-22 12:30] #8463 closed, assigned to nobody

[2020-09-22 12:30] #8474 closed, assigned to nobody

[2020-09-22 12:30] #8906 closed, assigned to nobody

[2020-09-22 12:30] #9024 closed, assigned to nobody

[2020-09-22 12:39] VShingala commented on #7643
@jehrlich This issue should be fixed with the latest App release v7.33. The expected behaviour mentioned by you is followed. Closing this for now, feel free to reopen this issue for any further problems.

[2020-09-22 12:39] #7643 closed, assigned to abhijitkane, VShingala

[2020-09-22 12:43] VShingala commented on #8474
@kentmaxwell This issue should be fixed with the latest App release v7.33. The expected behavior mentioned by you is followed. Closing this issue for now, feel free to reopen this issue for any further problems.

[2020-09-22 12:46] countzero commented on #3466
+1 for this option.

[2020-09-22 12:50] VShingala commented on #9004
@mahirk This issue should be fixed with the latest App release v7.33. Closing this issue for now, feel free to reopen this issue for any further problems

[2020-09-22 12:52] VShingala commented on #7914
@jsooter This issue should be fixed with the latest App release v7.33. Closing this issue for now, feel free to reopen this issue for any further problems.

[2020-09-22 12:56] abhijitkane commented on #7914
This won't retroactively update collections, though. Previously imported OpenAPI  docs will need to be reimported.

[2020-09-22 14:01] ChaoJJ commented on #4396
can confirm, still an issue for me on `v7.33.0`.
`pm.request.auth.type` returns _undefined_ if the request inherits authentication.

[2020-09-22 16:08] pankajk07 commented on #9024
@andreypolyak We fixed this issue as part `v7.33`. Please do try it out and let us know if you encounter any other issues.

[2020-09-22 17:54] vdespa commented on #5182
@hkaur008 make sure you have the latest Postman version.

[2020-09-22 22:02] mtaylorfsmb opened #9080 "Open API Generating Collection does not properly generate string request body when using format"
**Describe the bug**
I have an OpenAPI YAML file that I in Postman that I'm using to generate a collection. Whenever it generates the collection it generates request bodies that have bad values for properties that are string but have a format string. Specifically it always puts in "<string>" or "<date>", etc. But this isn't valid for a formatted string so running the validation option under Test p

[2020-09-22 23:55] hegerdes commented on #6824
I also encountered this bug. Had a much larger CSV file 100 MB with 2 columns.
But I don't even can start the Collection run. The App crashes while reading the CSV file.

[2020-09-23 01:45] anysoft opened #9081 "Support importing http raw data as a request"
**Is your feature request related to a problem? Please describe.**
yes.  i try to use postman to import a http raw data.  Of course it failed

**Describe the solution you'd like**
I hope we can support import a http raw data as a request.

**the http raw data for example：**

POST https://api.github.com/api/v3/auth/device/centrifugo/token/ HTTP/1.1
Host: api.github.com
Connection: keep-alive
Conten

[2020-09-23 04:05] santoshmohan commented on #9072
I am still facing the issue with Canary build.
I am using dark mode, is this something related with?
![image](https://user-images.githubusercontent.com/6982545/93965534-b5d09b80-fda5-11ea-8194-32729825632b.png)

[2020-09-23 05:26] chughmayank commented on #8542
@allfortips  - The issue has been resolved. Feel free to reach out in case you still face the issue.

[2020-09-23 05:26] #8542 closed, assigned to shreys7

[2020-09-23 05:37] chughmayank commented on #7409
Hey guys! the issue has been resolved with upgrade v7.33.0. Feel free to try it and reach out if you still face some issue.
cheers!

[2020-09-23 05:37] #7409 closed, assigned to abhijitkane

[2020-09-23 05:50] chughmayank commented on #3522
@PerthCharern  - This issue is resolved now. Try out the latest version of Postman! Feel free to reach out if you face any issues!
Cheers!

[2020-09-23 05:50] #3522 closed, assigned to numaanashraf

[2020-09-23 05:52] VShingala commented on #9080
@mtaylorfsmb You can provide options while generating collection under `Show advanced setting` dropdown, here you can set `Request parameter generation` and `Response parameter generation` options to use `Example` instead of `Schema`.

What this will do is use Eample/Fake value according to your schema and generate an actual value which can be validated correctly further.

[2020-09-23 05:53] chughmayank commented on #5931
Closing this since there is not much traction here. Please feel free to reach out in case you face any issue
Cheers!

[2020-09-23 05:53] #5931 closed, assigned to ankitjaggi

[2020-09-23 06:45] nickchampion opened #9082 "Variables not retained between sessions in web interface (web.postman.co) when over certain length"
**Describe the bug**
I have JWT tokens in my environment variables, every time I reboot my laptop or restart by browser these tokens no longer work as they seem to be truncated at 228 characters, they are approximately 400 characters in length.

This never used to happen with the downloadable client, its only not happening when I moved to the web interface

Is there a character limit of variables?

[2020-09-23 08:31] vvs11 commented on #4636
@dcdraper @va-vessels @peter-umb @surfgirl @gsacavdm @nielszz @mblakesley @TheTallMan67 @MarcBKirsch @ursusursus @shtrip @tofalck @aviweiss @jpsv @rollendxavier @cevjg @aviweiss @chdig @masterl1983 @nickgsoft @coccoinomane @mrorat @bogadopedro @StephenNay
Could you guts refer to the comment by @vikiCoder and try out our canary build and share your feedback? It will really help us figuring out the

[2020-09-23 10:17] vvs11 commented on #7537
@timothyhoffmann @dirkesquire @marshallr12 Could you try our Canary build and see if the solution meets your requirements?

[2020-09-23 10:18] vvs11 commented on #5459
@JamKage @jonathanlarsen @eparizzi @bananaspliff @tjharrop @utsav-gupta @cmplank
Could you try out or Canary build and see if the solution meets your requirements?

[2020-09-23 10:21] vvs11 commented on #1507
@ronaldsalas @nateritter @garethj-msft @joshstella75 @JDunn3 @dmasur Could you refer to #9056 and check if the solution meets your requirements? We have pushed the changes to out Canary build for you to try

[2020-09-23 11:16] mlbonniec opened #9083 "Postman makes my requests alone at night, without asking for anything"
**Describe the bug**
Postman makes my requests alone at night, without asking for anything
On my console I see this:
`34.232.46.60 - - [22/Sep/2020:22:08:54 +0000] "DELETE /api/v1/images HTTP/1.1" 200 22`
When I debug the request, with the user-agent, I see that it's PostmanRuntime/7.26.5 and in the header it's my authentication token, and the x-forwarded-for header it is this IP `34.232.46.60`. H

[2020-09-23 11:24] mlbonniec commented on #9083
I'm just dumb. There was an automatic monitor... *you can delete the issue*

[2020-09-23 11:24] #9083 closed, assigned to nobody

[2020-09-23 11:59] gyana12 commented on #7094
i too noticed the issue.

[2020-09-23 11:59] gyana12 commented on #7094
but couldn't find any solutio.

[2020-09-23 12:18] samuelj90 opened #9084 "Manage environment hangs up postman when try to edit variables"
Environment variables editor in postman hangs up when the number of variables is high.

**Describe the bug**
When  postman is loaded with more than 100 environment variable the postman app will freeze when try to edit it with environment editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Add more than 100 environment variables.
2 Try to edit the variables
3. Window will freeze.

**Expec

[2020-09-23 12:21] gyana12 commented on #4555
i am using latest postman version, i am facing issue with respect to ÷ division char. If i am sending empty request {} body then the encoding getting changed to Ã·

[2020-09-23 12:29] va-vessels commented on #9056
It's been GREAT!!  I already have four or five different collections to support effort with multiple partners.  Implicit, Code, Code w/PKCE and of course all with different client_id, client_secrets and redirect_uri settings.  I've had no issues.

Big THANKS again.

[2020-09-23 12:52] mccannt commented on #6824
Thanks for the feedback @hegerdes
We are continually making changes to help with the stability and performance of the application. Hoping to have some changes rolled out in the coming month to hopefully help here.

[2020-09-23 13:02] DannyDainton commented on #9084
Hey @samuelj90,

This is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/5827 and all updates around the issue will be posted there.

[2020-09-23 13:02] #9084 closed, assigned to nobody

[2020-09-23 13:03] mccannt commented on #7009
@RadwaSaleh Can you give us more information on your exact issue? Steps to recreate. App information and anything else that may be related.
Thanks

[2020-09-23 13:48] mtaylorfsmb commented on #9080
@VShingala Going that way helps some. Firstly, if the other approach doesn't really work at all except for perhaps basic strings then why even give it as an option?

The problems with using the examples is that it impacts all values. So every schema needs an example. But also the parameters in paths, which use variables when you use the other approach, now just use an example value. In my experien

[2020-09-23 14:21] mtaylorfsmb commented on #9080
@VShingala sorry I was incorrect about path parameters using vars. It doesn't do that, I was just used to doing that. However I tried putting an example on the parameter and it was ignored when it was generated.

[code]
It generated a random string value.

[2020-09-23 14:22] VShingala commented on #9080
@mtaylorfsmb So the `Schema` for resolution is used toward documentation/reference purposes and `Example` is more focused on value that actually follows schema defined in API definition.

Also you need not to define examples for each schema, `Example` option will use schema faker to generate fake data based on schema when example not available.

For example, Generated value will respect all [keywo

[2020-09-23 14:33] Raja-Simha commented on #1070
@conradpronto We are working on fixing the underlying limitation and we expect to release a fix for this by end of November.

[2020-09-23 14:49] mtaylorfsmb commented on #9080
OK, yes the "data faker" isn't too great for my purposes. An example is better but it doesn't seem to respect patterns or enums or other formatted values. But this doesn't have to be perfect so I can live with it as I'm going to have to hand edit the collections anyway.

[2020-09-23 14:54] VShingala commented on #9080
As for this, the Mentioned example seems incorrect. The below mentioned parameter will achieve what you are trying to do.

[code]

[2020-09-23 15:00] mtaylorfsmb commented on #9080
That was a typo. It doesn't work under the schema for me. It still autogenerates an example value instead. Maybe I'm doing it wrong but I'll look into that later.

[2020-09-23 15:16] mtaylorfsmb commented on #9080
I think I figured out the issue with the example. The type I'm using for this parameter is backed by a schema object. That schema object's example is taking priority over the explicit example given in the parameter. This is not good for my purposes but might make sense for others. In my word "closer" examples should take precedence over schema examples.

[2020-09-23 15:48] josephbleau commented on #2773
Is it compatible with postman collections?

[2020-09-23 15:49] josephbleau commented on #2773
This is a much needed feature! Force close tabs is a ridiculous suggestion. Did you even read the original request?

[2020-09-23 15:50] atom88888 commented on #7294
I have noticed the same thing when I only have 2-3 tabs open but a local "collection" of 150-300 requests.  I think perhaps a large number of collections is causing CPU / memory issues.  I have had to prune down my number of stored / saved requests in order to improve postman's performance.  At first I thought it was my computer or OS but when I closed POSTMAN my system resumed normal response tim

[2020-09-23 15:52] atom88888 commented on #7294
that's a great idea, where do you find those settings?  How to you clear it out if you find them?

[2020-09-23 16:02] atom88888 commented on #6525
I have noticed the same thing when I only have 2-3 tabs open but a local "collection" of 150-300 requests.  I think perhaps a large number of collections is causing CPU / memory issues.  I have had to prune down my number of stored / saved requests in order to improve postman's performance.  At first I thought it was my computer or OS but when I closed POSTMAN my system resumed normal response tim

[2020-09-23 16:43] thoiboi commented on #6824
I too have been having this issue,  the CSV file is only one column with 250K rows making the file size about 2.2MB, it crashes at about row 16K

[2020-09-23 16:47] GrantDaly commented on #5273
The key for me was adding the "%U" parameter placeholder in the .desktop file exec field. Allows URL's to be passed.

https://blog.postman.com/run-in-postman-is-now-available-for-linux/

[2020-09-23 18:13] HeroicHitesh commented on #6688
I would like to give it a try @preethammavin let me know if I should working on it or not.

[2020-09-23 18:44] juloko commented on #8040
Difficult without sync free.

[2020-09-23 21:07] deepayadav06 commented on #7210
Hi @shamasis  Any updates on this feature, We use GraphQL where we have lots of mutations and queries against which automated tests are written, But we are struggling at the moment to deal with last and complex data sets.  Thanks

[2020-09-23 22:55] ShaneFromFargo commented on #4193
Adding my +1 here as well. This would've been very useful for me today.

[2020-09-24 03:51] devsgtech commented on #6029
try this
`sudo spctl --master-disable`

[2020-09-24 06:15] shtrip commented on #9056
Very nice improvement!

I'm using a variable for the token name and the value is set by the active collection. When I'm getting a new access token the old token is also still kept. As far as I know in OAuth2 the old access and refresh token should be invalidated when you get a new token so I'm wondering why old tokens are kept.

Wouldn't it be better to keep just one token per token name? That way

[2020-09-24 07:58] BruceZhang1993 commented on #4808
the workaround should work for most situations, except if I want to encrypt the whole original body before sending it.

[2020-09-24 08:11] jzyrobert commented on #8856
Hi, I am having this issue as well.
Was https://github.com/postmanlabs/postman-app-support/issues/622 not a solution for this, or was that only for manual requests sent within Postman?

[2020-09-24 08:47] mickyinba commented on #9074
No. Go create your own gender-neutral app.

[2020-09-24 08:55] Montago opened #9085 "Interface is HUGE"
![image](https://user-images.githubusercontent.com/456040/94122898-6648a900-fe53-11ea-92c2-0935dc8c9fac.png)

There's a ton of FLUFF in regards to the interface.

I'm here working on a 150DPI FullHD screen (working as secondary montitor) and 3/4 of the screen is just FLUFF

Marked in red are interface that is not really essential:
- Black bar in top is unnecessary huge, and could for the most part

[2020-09-24 12:33] sankalprao opened #9086 "Generate Code Snippet -RestAssured Library support for Java"
Request for RestAssured Library support for Java under generate code snippets feature of postman.

Currently only Java OkHttp and Java Unirest is supported at the moment. It would be great to test an api in postman and then use code generator to generate the code and plunk it in my RestAssured project and then add assertions.

Look forward to seeing this feature added.

[2020-09-24 14:19] DerekSansom commented on #5697
This is happening to me, a couple of times now, and I realy don't want to reboot each time Postman decides to become unresponsive

[2020-09-24 14:23] DerekSansom opened #9087 "Postman doesn't start - or hangs, with Shared Window open"
As described on Postman doesn't start - Shared window is not available #5697

Postman stops responding, I have 2 postman windows open, main and collection runner, but a 3rd "Shared" is also there,
Shutting down postman and restarting opens a blank window with no content

**To Reproduce**
Wait for Postman to hang then try restarting it

**Expected behavior**
Postman to open cleanly and just work

*

[2020-09-24 14:23] DerekSansom commented on #9087
![Screenshot at 2020-09-24 15-22-14](https://user-images.githubusercontent.com/6429523/94158119-e97cf580-fe79-11ea-9ace-fb4fd7b76bed.png)

[2020-09-24 14:55] arlemi commented on #9074
Hey @hanayashiki - thanks for reaching out. We're using this repository to track feature requests, integrations, and bug reports with the Postman app. For discussions about the Postman brand please use our contact email `info@postman.com`.

[2020-09-24 14:55] #9074 closed, assigned to loopDelicious

[2020-09-24 15:17] UranusLin opened #9088 "Chinese filename use form-data upload, flask request.files.filename have wrong value"
**Describe the bug**
use form-data upload Chinese filename file and flask use request.files to get file and files.filename to get the filename, the filename will append " in the string.

**To Reproduce**
Steps to reproduce the behavior:
1. POST API, Body use form-data and select Chinese filename file
2. flask use request.files get file and files.filename to get the filename
3. filename have "

<im

[2020-09-24 16:17] apham-sy commented on #1470
I am still waiting on this feature as the auto generated docs require manual intervention in order to be seamlessly used by our users. It's producing a identical header `x-api-key`. I would at least think that's a simple fix to not generate an identical header if it's already been defined in the securitySchema.

[2020-09-24 18:17] gillallifam commented on #3774
I request the implementation of auto save.

[2020-09-24 18:43] jeff-ramos commented on #7918
Is there an ETA for this update?

[2020-09-24 19:17] NoorKokoon commented on #2401
Same issue as the OP here :( Is there any friendly ID's somewhere that we can use that I'm missing?

[2020-09-24 19:50] loganaaaflag commented on #6713
+1 for this, would be helpful for us too 😄

[2020-09-24 21:35] JoaoPedro150 opened #9089 "Option to not download updates over limited connections"
**Is your feature request related to a problem? Please describe.**
Today I had a very limited internet connection, configured as a limited connection in the system settings, but Postman did not consider this option when downloading his updates, consuming a considerable amount of data.

**Describe the solution you'd like**
An option to disable automatic updates only when using limited connections.

[2020-09-24 23:49] andrew-jones commented on #8754
More problems, can't save, can't sync.

[code]

[2020-09-24 23:56] anand-acharya commented on #9077
Hi @DannyDainton , any update please on how to resolve this issue ?

[2020-09-25 00:04] andrew-jones commented on #8754
And I'm reinstalling again.

[2020-09-25 00:11] andrew-jones commented on #8754
How do I get support on this?  We pay for a 20 person team.  Now seriously looking for alternatives.

[2020-09-25 00:22] xk0der commented on #8754
Hey @andrew-jones sorry to see you run into that issue, it does sound bad 🙁

May I request if you try out the steps listed here: https://support.getpostman.com/hc/en-us/articles/360025359014 to remove/rename the local Postman folder and then re-install the app again.

If that doesn't fix it either, please do reach out to our Support Channel either by logging a ticket here: https://www.postman.com/

[2020-09-25 00:27] xk0der commented on #8754
Anyone facing this issue - try out the steps at this article: https://support.getpostman.com/hc/en-us/articles/360025359014
If that doesn't work, do submit a ticket with us at the [Support Channel](https://www.postman.com/support/) so that we can dig further.

Cheers

[2020-09-25 03:52] swasthik8 commented on #3312
I have a scenario where i need to clear cookies after a Request, but when i run the Collection, Cookie gets stored and following Requests will fail as it expects loggedIn=false. ( because of the cookies stored)

i used this script , still not able to resolve . can someone help me here

const jar = pm.cookies.jar();
jar.getAll(pm.request.url, function (error, cookies) {
  // error - <Error>
  // co

[2020-09-25 04:22] vikiCoder commented on #3312
@swasthik8 Make sure that you have whitelisted the domain of request URL (`pm.request.url`) as suggested in this comment: https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288

[2020-09-25 05:37] DannyDainton commented on #9077
In the Web version, are you able to go to the build mode (left tab at the top of the app) - From here, you can download the Postman agent to make requests.

In the bottom right you should see a 'play' button, select this and switch to  desktop. There a link in the message to download the agent.

Are you are to do this and send requests?

[2020-09-25 06:05] numaanashraf commented on #8848
@ShamanFromSiberia

We haven't gotten a response to further triage and debug this issue. With the information that is currently in the issue, we don't have enough details to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-09-25 06:05] #8848 closed, assigned to harryi3t

[2020-09-25 06:36] JayanthanSivaloganthan opened #9090 "API Error | Covid-19"
Hi ,

We have been using below given API for a couple of months.
https://api.covid19api.com/all

We are getting the below error from last week. Could you please advise on this issue?

DataSource.Error: Unable to read data from the transport connection: The connection was closed.

Jayanthan

[2020-09-25 07:05] gosua commented on #285
+1 Some business users are using our collections, for them, it'd be way more handy to get a prompt for required values.

[2020-09-25 07:42] anand-acharya commented on #9077
Hi @DannyDainton ,

Yes, I am able to send requests from the web version using the desktop agent.

But how to resolve the sync issue that I am facing with the postman app tool?

Regards,
Anand

[2020-09-25 09:08] Gennady77 opened #9091 "postman doesn't opened"
Installed last version of postman agent. it doesn't open

**Describe the bug**
it doesn't open

**To Reproduce**
Steps to reproduce the behavior:
1. install the Postman Agent
2. Click on icon in tray
3. nothing to happens
4. See error

**Expected behavior**
Postman should be opened

**App information (please complete the following information):**
 - nothing where I can see the version. some last.

[2020-09-25 09:24] AdemHodzic opened #9092 "Export request to curl"
I use Postman regularly but not all of my colleagues do. It would be awesome if someone implemented a way to export a request as a curl command.

**Describe the solution you'd like**
Add a button that says "Export to curl" that opens a modal with curl command in a span element and a button that coppies that command.

[2020-09-25 09:33] DannyDainton commented on #9092
Hey @AdemHodzic

Is this what you're looking for 😄

![code_gen](https://user-images.githubusercontent.com/17089546/94251340-4af4a100-ff1a-11ea-8e36-e96211cd213d.gif)

You will find curl and a number of other languages in this feature.

[2020-09-25 09:40] AdemHodzic commented on #9092
Ah awesome.

That's exactly what I'm looking for.

[2020-09-25 09:40] #9092 closed, assigned to nobody

[2020-09-25 09:56] DannyDainton commented on #9090
Hey @JayanthanSivaloganthan

This repo is for issues related to the Postman application.

Would you be able to raise an issue on the https://github.com/postmanlabs/covid-19-apis/issues repo, please?

[2020-09-25 09:56] #9090 closed, assigned to nobody

[2020-09-25 10:00] DannyDainton commented on #9088
Closing this issue as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8537

[2020-09-25 10:00] #9088 closed, assigned to nobody

[2020-09-25 10:02] DannyDainton commented on #9087
Hey @DerekSansom

Would you be able to try our Canary build to see if this unblocks you in the short term and loads the app?

https://www.postman.com/downloads/canary/

[2020-09-25 10:04] DannyDainton commented on #9091
Hey @Gennady77

Would you be able to provide some screenshots or a short video of what you're currently seeing, please?

[2020-09-25 10:04] Ramya-From-Postman opened #9093 "Add ability to "Send and Download/Save response" while using Postman Desktop Agnet."
**Is your feature request related to a problem? Please describe.**
Currently, the **_Send and Download_** button is not available while using the Postman desktop agent.

**Describe the solution you'd like**
Enable the Send and download button to save responses for the desktop agent as well

Screenshot:
![image](https://user-images.githubusercontent.com/40994626/94254571-9459e600-ff44-11ea-97dc-e4f

[2020-09-25 10:38] VShingala commented on #1470
@coolbung @IanKemp @apham-sy  We have fixed the mentioned issue in App v7.33. Try it out and feel free to report any problem with the fix.

Now conversion will not add individual header in the collection and use Authorization of request instead. You will see Authorization set to defined key at the global or request level depending upon where Security Requirement Object is defined. Furthermore, as

[2020-09-25 10:52] Ramya-From-Postman opened #9094 "UX issue | Tooltip in the test script section prompts immediately and not able to select/edit the text easily"
**Is your feature request related to a problem? Please describe.**
When you hover on the line in the test script section, the tooltip message prompts immediately and blocks the line that needs editing which is causing inconvenience.

**Describe the solution you'd like**
Adding the tooltip message above/below the pointed text would really help in terms of usability perspective.

Screenshot:
![image

[2020-09-25 11:01] pankajk07 commented on #9094
@Ramya-From-Postman, we are already tracking this issue as part of https://github.com/postmanlabs/postman-app-support/issues/8829.

Marking it as duplicate and closing it out.

[2020-09-25 11:02] #9094 closed, assigned to nobody

[2020-09-25 11:09] samuelj90 commented on #5827
I am currently using Postman v7.32.0-canary04 the issue is still there.

[2020-09-25 11:27] Gennady77 commented on #9091
I'd like to make screenshot too but I see only icon in the right bottom corner and when I click on it there is nothing happened

[2020-09-25 11:48] amlwwalker opened #9095 "Example response request URL does not update when the request URL is changed"
**Describe the bug**

It's hard to know whether the POSTMAN team consider this a feature, however it caused a bug for me, so I'm reporting it as one.
* When a new endpoint is created it has a request URL. On receiving the response I save the response as an example so that I can use the mock servers.
* I then change the url of the request. So far thats fine, the example in the documentation shows f

[2020-09-25 12:06] DannyDainton commented on #9091
It's going to be difficult to advise anything without seeing what you can see without a screenshot or a video.

[2020-09-25 15:38] zleroy commented on #8245
A GitLab integration for storing collections would be much appreciated

[2020-09-25 15:39] zleroy commented on #8844
Our organization would also benefit from a GitLab integration

[2020-09-25 15:57] DannyDainton commented on #9077
Would you be able to provide us with a Netlog recording - Here's an example of how to capture this:

https://www.loom.com/share/6772037fdb174e30a85d47b3866ff5d8

Once you have that, could you please send it to help@postman.com from your registered Postman account and reference this issue.

[2020-09-25 18:30] ajtran303 commented on #8884
Hey @lornajane have you used Insomnia? It's tab navigable and has easy keyboard shortcuts.

[2020-09-25 18:32] ajtran303 commented on #3121
For everyone who is finding this thread now: just use Insomnia.

Insomnia is keyboard navigable with the tab key and easy keyboard shortcuts.

[2020-09-25 19:29] thiagotrentin commented on #6682
+1

[2020-09-26 00:06] brorbw commented on #4318
+1 for custom themes. Having an editor and a terminal with the same themes and postman default themes looks odd. Even slack allows for custom themes

[2020-09-26 00:17] AssetKid commented on #9089
I just got hit by a ~$2 charge (85 MB x $0.02) due to a Postman auto-update. 😧

![image](https://user-images.githubusercontent.com/40426812/94324673-86877d80-ffa3-11ea-995f-84d5d64fbeb1.png)

I am currently forced to use a prepaid plan (charged per MB) & my connection is set to metered on Windows.

All other apps I am using **respect the metered connection flag** or have an option to **turn off au

[2020-09-26 02:28] einSelbst commented on #6056
Exactly this.

[2020-09-26 03:38] Shelby86 commented on #2646
So you made your app totally useless and still won't fix it

[2020-09-26 06:33] JayanthanSivaloganthan opened #9096 "API Error | Covid-19"
Hi ,

We have been using below given API for a couple of months.
https://api.covid19api.com/all

We are getting the below error from last week. Could you please advise on this issue?

DataSource.Error: Unable to read data from the transport connection: The connection was closed.

Jayanthan

[2020-09-26 06:58] DannyDainton commented on #9096
Hey @JayanthanSivaloganthan

This repo is for issues related to the Postman application.

Would you be able to raise an issue on the https://github.com/postmanlabs/covid-19-apis/issues repo, please?

[2020-09-26 06:58] #9096 closed, assigned to nobody

[2020-09-26 11:13] ke1echi commented on #8455
![Screen recording here](https://recordit.co/LFKoTQfGci)

Also having same issue (POST returns {})
Windows with v7.33.1
Tried it on another app and works perfectly.

[2020-09-26 11:39] mshparber opened #9097 "Cannot open Postman Agent - nothing happens"
**Describe the bug**
Cannot open Postman Agent - nothing happens

**To Reproduce**
Steps to reproduce the behavior:
1. Donload Postman Agent-win64-0.2.1-Setup.exe
2. Click on it
3. "Installing Postman" appears then disappears
4. Nothing Happens
5. Find postman Agent in Windows programs, click on it
6. Nothing happens

**Expected behavior**
Expected to open

**Screenshots**
If applicable, add scree

[2020-09-26 12:37] JayanthanSivaloganthan opened #9098 "API Error | Covid-19"
Hi ,

We have been using below given API for a couple of months.
https://api.covid19api.com/all

We are getting the below error from last week. Could you please advise on this issue?

DataSource.Error: Unable to read data from the transport connection: The connection was closed.

Jayanthan

[2020-09-26 16:52] DannyDainton commented on #9098
Hey @JayanthanSivaloganthan

This repo is for **issues related to the Postman application**.

The repo to raise issues about the COVID APIs is this one - https://github.com/postmanlabs/covid-19-apis/issues

This is the 3rd time you've raise the same thing and the 3rd time I've mentioned the other repository.

Further to this, these are external APIs that are owned by other people and are not owned

[2020-09-26 16:52] #9098 closed, assigned to nobody

[2020-09-26 17:02] JayanthanSivaloganthan commented on #9098
Hi Danny,

I have updated the issue in the given link as well, but no one has replied

https://github.com/postmanlabs/covid-19-apis/issues/318

[2020-09-26 17:22] DannyDainton commented on #9098
Given that it's the weekend, there wouldn't be anyone looking that those issue right now.

I'm also not sure that we would be able to do anything about this issue. We don't own or have any involvement in the creation of these APIs.

[2020-09-26 20:24] vvs11 commented on #8975
@rcodd closing this issue for now. Feel free to reopen if you have questions/concerns

[2020-09-26 20:24] #8975 closed, assigned to nobody

[2020-09-27 02:40] milmoe commented on #8455
I am having this issue with version v7.33.1 . any idea whats going on?

[2020-09-27 09:59] swasthik8 commented on #3312
@vikiCoder i did whitelisted the request url, sill its storing the cookies and following calls fail.

![Screenshot 2020-09-27 at 3 26 55 PM](https://user-images.githubusercontent.com/51586332/94362037-29d8af80-00d6-11eb-85d1-ef244b4d929c.png)

[2020-09-27 12:54] jeygeethan commented on #7055
Asking a dev to reboot their system is ubsurd. Just use

`pkill -f Postman`

[2020-09-27 14:14] ke1echi commented on #8455
No idea, same issue I had earlier on

[2020-09-28 01:19] Microsoft-Hates-Opensource commented on #5147
It's getting close to 2021 here guys. Would you all consider an interim work-around where tests that include file-uploads aren't shared with others? For those of us working alone (like students) there's literally no reason for this to not work. Instead, we're in a position where no-one can use it because it won't work for shared runners. What about un-shared runners? Would having 2 types of runner

[2020-09-28 05:17] shashankawasthi88 commented on #8245
@zleroy A GitLab Integration to backup (store) your collections already exist (https://learning.postman.com/docs/integrations/available-integrations/gitlab/).

[2020-09-28 07:20] swasthik8 opened #9100 "Cookie is being stored automatically when we hit any request, this leads to failing of following requests"
**Describe the bug**

- Hit an API Request ( for eg: Login API
- Hit 2nd API ( Cookies is being stored in headers automatically) this leads to failing requests which do not expect cookies.
- Try writing script to clear cookie

Still the Cookie in being stored ( tried in newman as well)

**Expected behaviour**

Cookies should not get stored automatically, leads to failures of following requests

**

[2020-09-28 10:34] smshuja commented on #208
@wiffelwicht @JacobcarrellWork I am able to import WSDL just fine in Insomnia Designer. But Insomnia Core doesn't seem to have this feature.

[2020-09-28 11:08] shashankawasthi88 commented on #4779
@musanas @lineshr @stanislav-radionov May I know the workflow that you are trying to achieve by backing up the Environment.

If it is running the Collections using Newman than you can leverage the Postman Cloud APIs in conjunction with Newman to fetch the Collection and Environment from the postman cloud.
https://github.com/postmanlabs/newman - Look at the usage segment, to see the use of Newman i

[2020-09-28 11:31] TomONeill opened #9101 "Export ids change every export"
**Describe the bug**
Everytime I export a collection, the ids are being regenerated. I need them to stay the same every single export, what seem to have been the case in the past. Unfortunately I don't know a version number in which this behavior had changed.

**To Reproduce**
1. Export a collection (v2.1)
2. Export the same collection with the same version as 1

**App information**
Version 7.33.1

[2020-09-28 11:49] singun-lxd commented on #2701
any update?

[2020-09-28 12:42] vvs11 commented on #9101
@TomONeill We have a thread around this going on #2906. We are working on finalizing a fix for this. Will post the update on the issue itself.

[2020-09-28 12:42] #9101 closed, assigned to nobody

[2020-09-28 13:20] gabrielcamen commented on #9097
Hello, I encountered the same issue and after trying the most common fixes nothing has worked (reinstalling app, opening installation with admin, looking at logs etc.) I am using Windows 10 with the same Postman Agent-win64-0.2.1 installer.

**Thanks in advance!**

[2020-09-28 13:26] TomONeill commented on #9101
@vvs11 I didn't see that one. Thanks for your quick response!

[2020-09-28 14:27] vvs11 commented on #9097
@mshparber @gabrielcamen  could you attach a video of this happening? Will help us understand the issue better

[2020-09-28 15:38] zleroy commented on #8245
Thanks for your reply. I am interested in a two way sync like the GitHub
integration.

On Mon, Sep 28, 2020, 12:17 AM Shashank Awasthi <notifications@github.com>
wrote:

[2020-09-28 16:02] shashankawasthi88 commented on #8245
@zleroy thanks for the clarification. We are evaluating GitLab/ other git repositories, for two-way schema sync integration. Will post the updates on the thread itself.

[2020-09-28 16:32] nicoguillier commented on #8933
Hello,
I think this would be great.
I need this too for switching between distinct certificates (on the same domain) depending on the environment.
Thank you !

[2020-09-28 19:19] gauravhalbe commented on #8626
@codenirvana I'm on the latest version (7.33.1) and I can still reproduce this issue. '+' in query parameters still goes out as a blank space.

[2020-09-28 19:29] theGeekyLad commented on #4009
Hoping to see a beta release at the least, with the basic HTTP handshake and required upgrade headers by the spec. What do ya'll think?

[2020-09-28 19:48] fabianocouto commented on #7301
+1

[2020-09-28 20:07] VboxNick commented on #8040
+1

[2020-09-28 20:17] VShingala commented on #5426
This issue should be fixed now. I have verified it, and is working in the latest Postman App v7.33. The new behaviour is exactly as mentioned in https://github.com/postmanlabs/postman-app-support/issues/5426#issuecomment-492974600.

[2020-09-28 20:17] #5426 closed, assigned to nobody

[2020-09-29 00:02] Microsoft-Hates-Opensource commented on #5147
Ignore me. I just found the newman solution. I like newman better than the GUI runner.

[2020-09-29 05:45] Manask322 commented on #2801
+1 would be great if it is implemented !!

[2020-09-29 06:31] VShingala commented on #8719
@weickmanna We have added support for parameter serialization in conversion and validation flows. This should be fixed with latest Postman App v7.33. Closing this issue, for now. Feel free to reopen this issue if you face problems further.

[2020-09-29 06:31] #8719 closed, assigned to abhijitkane, vvs11, VShingala

[2020-09-29 06:35] VShingala commented on #8600
@rionalab Sorry for the late reply. Could you specify what URL it is or what is the content present at the resource that you are trying to import?

[2020-09-29 07:04] VShingala commented on #7996
@paunovic @owlas  You can use options while generating collection under `Show advanced settings` dropdown. Make sure you select `Example` for options `Request parameter generation` and `Response parameter generation`, this will make sure that the value generated follows examples present in the definition or fake data based on schema as fallback when example not present.

[2020-09-29 08:23] shashankawasthi88 commented on #3219
@niranjv This issue has been fixed. Closing this thread, feel free to open this if you have any doubts.

[2020-09-29 08:23] #3219 closed, assigned to ankitjaggi

[2020-09-29 08:59] PCurd commented on #8656
As a note, we had a ~40KB header doing the same thing so we had to increase the environment variable a fair bit but it still worked with

[code]

It would be helpful if Postman could at least tell us how big the header that overflowed is - we had to find this value with trial and error!

[2020-09-29 10:52] fanadol opened #9102 "Postman APIs Validation Generate [object Object] for Parameters Description after Review Issue"
**Describe the bug**
Postman APIs generate [object Object] for parameter description from OpenAPI 3.0 yaml after "Review Issue".

**To Reproduce**
Steps to reproduce the behavior:
1. Create postman APIs
2. Define some OpenAPI 3.0 format in "Define" tab
3. Move to "Develop" tab and Add documentation -> Create new documentation
4. Click "Click to Validate" button under "Validation" column.
5. At thi

[2020-09-29 11:28] chughmayank commented on #7701
@Ramya-From-Postman   - the issue has been resolved and is available on live now. Please feel free to reopen in case you find any other issue here

[2020-09-29 11:28] #7701 closed, assigned to vinitshahdeo

[2020-09-29 11:46] JonasMatos0 commented on #4739
Having proxy per collections would really be handful.
That does prevent automating tests through postman in scenarios in which external tokens are needed for local environment setup.

[2020-09-29 12:02] nutmix commented on #4222
its Sept 2020, and still this issue is not fixed?  I cant use postmans variables, it always says "unresolved variable" for variables which are correctly defined in the current active collection.  I have to hard code everything, and ether use duplicates of the apis for different envs, or hand edit each api depending on the env.  Does anyone know of any work arounds to this issue?

[2020-09-29 12:38] nutmix opened #9103 "env vars are incorrectly marked as "unresolved variables""
I cant use postmans environment variables in some rest api collections, it always says "unresolved variable" for variables which are correctly defined in the current active env. I have to hard code everything, and either use duplicates of the apis for different envs, or hand edit each api depending on the env. Does anyone know of any work arounds to this issue?

Observations:

- some api collectio

[2020-09-29 12:46] VShingala commented on #9102
@fanadol Thanks for reporting the issue. We have identified the problem and will be fixing it with upcoming releases.

[2020-09-29 13:08] DannyDainton commented on #9100
Hey @swasthik8

Has the domain that you're trying to access been added to the Cookie whitelist?

https://learning.postman.com/docs/sending-requests/cookies/#whitelisting-domains-for-programmatic-access-of-cookies

There's an additional request level setting that can be applied to disable the cookie jar:

![image](https://user-images.githubusercontent.com/17089546/94562458-43583380-025d-11eb-8c82-2

[2020-09-29 13:10] VShingala commented on #8457
@richbraman @ivan-nenov Thanks for raising the issue. We have identified the issue and we'll update this thread with more information.

[2020-09-29 13:18] VShingala commented on #8404
@cookopotamus Thanks for raising the issue. From what I understand you have multiple Environment JSON files and you want  all of them to import at the same time. In that case, you can select multiple files during `Import File` flow (keep pressing ctrl/cmd while selecting multiple files) or you can use `Import Folder` flow which will import all files from specified directory.

Do let us know if tha

[2020-09-29 13:56] rtrompier commented on #2360
I agree with @CCob. For exemple, NONCE params is now mandatory with latest version of Keycloak ;)

[2020-09-29 14:10] VShingala commented on #8250
@rob4629 Thanks for raising the issue.

You can select options while Importing or Generating collection from API definition under `Show advanced settings` dropdown. Make sure you select `Example` for options `Request parameter generation` and `Response parameter generation`. This will make sure that the value that is generated adheres to the schema. For the API definition mentioned, the header val

[2020-09-29 14:10] #8250 closed, assigned to abhijitkane, VShingala

[2020-09-29 14:12] Alphasaurs commented on #363
This feature has been successfully implemented in postman app (7.33.1), so this issue can be closed.

[2020-09-29 14:26] VShingala commented on #6883
@WarrenFerrell Thanks for raising the issue. This should be fixed with the latest Postman App v7.33. This was also tracked here https://github.com/postmanlabs/openapi-to-postman/issues/124. You can follow that thread for more reference.

We are closing this issue for now. Feel free to reopen this issue if you have any further problems with this.

[2020-09-29 14:26] #6883 closed, assigned to abhijitkane, VShingala

[2020-09-29 15:15] VShingala commented on #8982
@Morgunov-Vitaly Thanks for raising the issue.

This is the intended behavior. According to the API definition provided, it has query parameters which are of type: `array` and according to [OpenAPI specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#style-values) default behavior for this case is `style: form` and `explode: true`.

This means each element in t

[2020-09-29 15:21] VShingala commented on #8212
@simundev We are closing this issue as it's a duplicate of issue https://github.com/postmanlabs/postman-app-support/issues/7794. You can communicate further on that thread.

[2020-09-29 15:21] #8212 closed, assigned to abhijitkane

[2020-09-29 15:21] VShingala commented on #7794
@melaniemarc @AlexZeitler Thank you for reporting this.

We do support multi-file schemas for OpenAPI but not currently through the 'Generate Collection' button in the API tab.
To import multifile schemas as a collection you can use the IMPORT button on the top left corner of the Postman app and choose the option Folder to upload the entire folder containing this multi-file schema. It will be conv

[2020-09-29 15:47] VShingala commented on #8468
@yoshutch @molteninjabob Thanks for reporting the issue.

We have[ fixed](https://github.com/postmanlabs/openapi-to-postman/pull/294) this issue and the fix should be available on the latest Postman App v7.33. We are closing this issue for now. Feel free to reopen this issue if you have any further problems with this.

[2020-09-29 15:47] #8468 closed, assigned to VShingala

[2020-09-29 17:31] grf5 commented on #285
Using Postman without the feature for interactive user input is the equivalent of biting into a Reese's peanut butter cup and finding out its hollow. Postman team, I'll ship several box of Nerds™ Ropes to your team if you implement this.

[2020-09-29 17:32] pratikjain5 commented on #4818
Hey @sankalp0o @Raja-Simha Not sure what is the status on this issue. Its definitely use case for many companies to provide documentation for Sandbox and Production environments. In our company, we have to provide sandbox environment to client and would like to have environment selector. It seems you can't publish two environments currently on postman

[2020-09-29 18:57] obarat commented on #8440
This is obviously a scheme to make offline collection management painful so more people buy their premium offerings

[2020-09-30 02:51] firephantomassasin commented on #5222
+1!

[2020-09-30 03:55] swasthik8 commented on #9100
@DannyDainton Thanks, both ways working

[2020-09-30 04:09] fanadol commented on #9102
Hi @VShingala thank you for your quick reply, could you tell me the release date for the patch ? The feature is really great, and our team love to explore this feature more.

Cheers

[2020-09-30 05:31] #9100 closed, assigned to nobody

[2020-09-30 07:05] tosulc commented on #363
I have the newest version (7.33.1) and ordering of collection isn't working (or I don't know how to find it).

[2020-09-30 07:37] keshavram-kuduwa commented on #7373
I needed a Handlebars Helper Pipe to format date-time from milliseconds to readable time format. I tried doing:

[code]

I used CDN to require moment.js but it didn't help. Following @eholley's comment, this is what I did:

[code]
and here's my template:

[code]

[2020-09-30 08:58] Sayusuli opened #9104 "Collection monitor fails with request order and skips some requests."
**Describe the bug**
Collection monitor in one case does not run the requests in order they are organized into folders.
As I don't use setNextStep and only expect requests to run in order the tests keep failing on one collection.
having 7 total collections and only one of them fails.

Tests work fine in collection runner and in newman.
Scenario:
1. get all preferences
2. post add 4 new preferences

[2020-09-30 09:21] Aurorxa opened #9105 "Why is there no multilingual version"
Why is there no multilingual version，for example chinese

[2020-09-30 09:21] gomzalo commented on #3897
More than 2 years, still not working. Uninstalling, using POST client extension for VSCode instead.

[2020-09-30 09:38] DannyDainton commented on #9104
Hey @Sayusuli

Are you able to share an image of the Monitor run and the one you see in the runner, please?

This will help visualize the issue rather than trying the list out the order and help with the comparison.

[2020-09-30 09:48] arlemi commented on #8440
@obarat You can follow improvements on that flow in #2906.

[2020-09-30 10:59] cretara commented on #7294
Hi all,
i have issue in my Windows 10 x64 pc at work
![image](https://user-images.githubusercontent.com/13657261/94676980-71e91380-031c-11eb-97a8-83fce8012514.png)

![image](https://user-images.githubusercontent.com/13657261/94677125-aeb50a80-031c-11eb-8b25-451c83a81d00.png)

I cannot sync my API with other pc i use

[2020-09-30 11:17] Sayusuli commented on #9104
![Screenshot 2020-09-30 at 13 54 44](https://user-images.githubusercontent.com/69350371/94678633-7b2bad80-0327-11eb-9a4a-d2df7e10b774.png)
![Screenshot 2020-09-30 at 13 53 01](https://user-images.githubusercontent.com/69350371/94678642-7e269e00-0327-11eb-8809-c0feae37b5a3.png)

collection runner and same part from the collection in monitor.

[2020-09-30 11:27] VShingala commented on #9102
@fanadol Thanks.! I can't promise an exact date but It should be fixed by end of next month.

[2020-09-30 12:21] JanDoggen commented on #3466
Agree with a lot of earlier posters - this feature should have been in the interface yesterday! The environment becomes a mess with tons of open tabs, many with unsaved data. I have lost data this way.
In addition to the 'save' features, the tabs should also have the ability to autoclose, i.e. only one remains open:
As soon as more tabs are open than fit in the current view, it is much easier to o

[2020-09-30 12:41] noelevans opened #9106 "Copying json without styling"
**Issue**
I am often copying json out of Postman's input and output screens to paste the data in to Jira tickets / chat windows / Excel / etc. Generally I don't want to have the text color / font / background color (I use Postman's dark theme which is given to the clipboard). Sometimes when pasting in to Jira through Firefox, extra escape characters seem to be added, garbling the json I want to pa

[2020-09-30 15:07] nvseerx commented on #3358
This is very helpful to add as a feature for people trying to learn new APIs that have various body structures for the requests, comments would make this much easier! ++++++++++++

[2020-09-30 15:43] MahalakshmiMasilamani opened #9107 "Headers, AUTH, BODY don't change the position. Its required extra clicking"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-09-30 15:47] MahalakshmiMasilamani commented on #9107
Previously version has all the headers, AUTH, body section in the right place

[2020-09-30 15:53] prashantkamdar commented on #285
+1

am trying to automate testing using postman runners
need this feature for letting the user input a one time password as part of 2FA

[2020-09-30 15:54] prashantkamdar commented on #285
@a85 still waiting for your detailed response here

[2020-09-30 15:57] skargbo opened #9108 "Text for Code Snippets fail to render properly on macOS Big Sur Beta"
**Describe the bug**
Text and column in the 'Generate Code Snippets' field do not render properly (if at all) on macOS Big Sur beta (20A5364e).

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Code' on API request window
2. In 'Generate Code Snippet' window, note that text is not rendered or only briefly displays

**Expected behavior**
Text and information for Code snippets should r

[2020-09-30 15:59] DannyDainton commented on #9106
Hey @noelevans

Would you be able to provide the version of the app that you're using, please?

Also, could you walk through you're copy/paste process using some images? This would help us to visualize what you're currently seeing on your side :D

[2020-09-30 16:07] DannyDainton commented on #9107
Hey @MahalakshmiMasilamani

Could you use the template provided and add the relevant details and version information?

As you're referencing something in the UI, an image would also be awesome. 🏆

[2020-09-30 16:09] DannyDainton commented on #9108
Hey @skargbo

Are you also seeing this happening in the light theme?

[2020-09-30 16:41] rpkrupali1 commented on #1535
+1

[2020-09-30 16:48] rpkrupali1 opened #9109 "Find the usage of variables"
Is there any way to find the usage of variables? How do I know where all my variable has been used?
This is extremely useful when I feel my environment or global variable is no longer needed and I would like to delete. But before deleting I want to confirm where all it has been used.
This will also help me to update my variable values. And will help me in the reusability of variables.

[2020-09-30 17:00] noelevans commented on #9106
I'm using the free version. I don't see a way to get a release version on the app. Under the install directory (C:\Users\my_username\AppData\Local\Postman) I see a folder "app-7.33.0" and another "app-7.33.1.

Here I am about to copy the highlighted text on the RHS:
![image](https://user-images.githubusercontent.com/185298/94716001-20ee1500-0346-11eb-9058-d3b4f3297454.png)

I paste the json in to

[2020-09-30 17:23] skargbo commented on #9108
Hey @DannyDainton - Yes, seeing this also with the light theme.  I'll note that a similar issue appears to exists with the field tip text for 'Request description (Optional)' in the 'Save Request' window launched by '+New' > 'Request'.

[2020-09-30 17:25] josh-endries commented on #430
This isn't actually correct, e.g. it doesn't include the chunk lengths when receiving a chunked response.

[2020-09-30 17:51] DannyDainton commented on #9108
As that's a new OS and not fully released I would imagine that it would have a few UI issues in there. As it's in Beta, we can't guarantee when these would be fixed.

Thank you for reporting them, we will be looking to address these issues and other found during testing before Big Sur is GA.

[2020-09-30 18:07] DannyDainton commented on #9106
Does this happen if you use the 'copy' option in the top right of the response window?

[2020-09-30 18:16] r3faat1 opened #9110 "Sync is not working - Unable to sync data."
I am using Postman Desktop app, version: 7.33.1. This is used on Windows 10, 1909.

When I sign on to my account, it signs on successfully. However, my "Sync" function is not working. When I try to create a workspace, it says to "Enable Sync". When I click on "Enable Sync", it just takes me to a website.

![image](https://user-images.githubusercontent.com/33644294/94723997-70185380-030e-11eb-9af0-

[2020-09-30 18:57] skargbo commented on #9108
Sounds good.  Thanks for taking the time to have a look.  Cheers!

[2020-09-30 19:18] preethammavin commented on #9110
@r3faat1 hey can you write to us at help@postman.com to get this sorted out for you?

[2020-09-30 19:26] ruedigerm-playster commented on #196
Issue is closed, but I think its still not available. Would be a nice and useful feature.

[2020-09-30 19:37] arlemi commented on #196
@ruedigerm-playster If you're using [Postman in your browser](https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/) you can now share the URLs directly with your teammates and it'll open the same request, they need to be part of the same workspace to access it though.

[2020-10-01 01:24] jbh999 commented on #4690
### **`UPVOTE`**

[2020-10-01 05:59] umeshp7 commented on #7024
@kgonyon We don't have support for updating collection already imported, it is either replaced or a copy is created as of now. Feel free to open a new issue for this specific feature.

Closing this issue for now.

[2020-10-01 05:59] #7024 closed, assigned to nobody

[2020-10-01 06:34] DamayantiVinayakam2010 opened #9111 "Manage environment window display blank for false value"
**Describe the bug**
Manage environment window display blank for false value

**To Reproduce**
Steps to reproduce the behavior:
1. Define a environment variable with value as false
2. for eg : isTest = false
3. Now on click of the view environment variables , the value for isTest = false
4. but when u load the environment to edit values Manage environment window loads the values , in this the
init

[2020-10-01 06:43] #8982 closed, assigned to VShingala

[2020-10-01 08:00] freerider7777 opened #9112 "Pre-request Script (and Tests) slow global variables update"
When clicking Send quickly (2x per second for example) the variable is not updated as needed. Looks like it's updated asynchronously...

Postman for Windows
Version 7.33.1
win32 10.0.19041 / x64

Steps to reproduce the behavior:
1. Pre-request Script (Tests the same):

let counter = parseInt(pm.globals.get("counter")) || 100;
pm.globals.set("counter", counter + 1);
console.log("counter: " + counte

[2020-10-01 08:49] Dooghy commented on #822
@VShingala Sorry for the late reply.

I import it as a folder, as I have many RAML fragments as types, traits etc.

After upgrading to the latest version of Postman (see below details), I can import using the traits, but not with **_securedBy_**

[code]

Above example is imported with the traits applied, although they don't work, but it fails because of _securedBy_

**Environment Details:**

- **O

[2020-10-01 09:06] noelevans commented on #9106
It doesn't, no. I hadn't spotted that before. Nor had a colleague who I checked with before making this ticket.

[2020-10-01 09:09] DannyDainton commented on #9106
So does that solve the formatting issue by using that option? 😄

[2020-10-01 09:58] hahyes opened #9113 "UUID generator in headers editior"
**Is your feature request related to a problem? Please describe.**
Hi there,

I'm using Postman on Windows 10 and I have little annoying problem. I'm testing requests to some REST API and I need to create UUID to Trace-Id header in order to get in response proper Trace-Id string. This string is used to report errors for devs of REST API.

**Describe the solution you'd like**
There is possibility t

[2020-10-01 10:05] DannyDainton commented on #9113
Hey @hahyes

You can use the dynamic variable `{{$guid}}` in the header value - Would that suit your needs?

[2020-10-01 10:26] hahyes commented on #9113
Oh, I didn't know about that. And yeah, it's enough for me. Thanks.

[2020-10-01 10:26] #9113 closed, assigned to nobody

[2020-10-01 10:36] cvanlabe commented on #9103
Having the same issue. If it matters, I first created the collection with the variable defined there. Then later I created the environment with the variable defined there (and removed from the collection). It's saying the variable is not defined in the active collection, environment or globals. This is not correct, it is definitely defined in the environment.

[2020-10-01 10:46] vileppanen commented on #8269
Had this massive performance issues also in macOS 10.15.7 and Postman version 7.33.1

Saw this hint about the History data and clearing them, after doing so I'm currently experiencing much better performance.

Before doing the clearing, the activity monitor showed Postman process to constantly being at some > 100% of CPU time.

After clearing histories, it dropped below 10% 🤷

[2020-10-01 18:07] jviotti commented on #8935
I'm guessing that the reasoning behind this is that if you *are indeed* focusing on the splash screen, then you want to ensure the app itself gets focused once the splash screen closes (and not something else, which is OS/WM dependent AFAIK).

Assuming that's correct, the BrowserView could only set the focus *if* the splash screen was focused by the time it opens.

[2020-10-01 20:18] carl87gt commented on #285
+1

[2020-10-01 20:33] cbasolutions commented on #8455
I was having this same issue.

The only thing which worked was setting the encoding to application/x-www-form-urlencoded. Then I stumbled upon this - https://stackoverflow.com/questions/57632438/post-is-empty-on-nginx. Problem solved.

In addition to better understanding what PHP was expecting, it seems that there is an issue with the way Postman is calling a URL without a trailing /. The POST dat

[2020-10-01 22:07] r3faat1 commented on #9110
Sure.

[2020-10-02 00:33] r3faat1 commented on #9110
Issue as been resolved. Support team re-enabled my sync settings.

[2020-10-02 00:33] #9110 closed, assigned to nobody

[2020-10-02 07:08] danieldonev commented on #8731
@vikiCoder Do you have update on this issue. It seems that this problem is still in existence.

[2020-10-02 07:44] zekikaraca commented on #7210
Any progress on this feature guys? An update would be great. I would love to be able to use this in Postman.

[2020-10-02 11:50] noelevans commented on #9106
Actually it doesn't. If I want to highlight a portion of the payload and copy just that I can't. Instead the whole json gets copied.

I also don't think it's very good using the button from a UX standpoint.

[2020-10-02 14:59] ibubnevich commented on #3466
+1

[2020-10-02 15:36] katlimruiz commented on #3551
I woudl even say just do it automatically without right click

[2020-10-02 16:46] fermin-silva commented on #8783
I can confirm I'm experiencing the same problem when the password contains the # symbol.
Going through cURL works, but getting error 407 in postman

[2020-10-02 17:17] MahalakshmiMasilamani commented on #9107
![Screenshot 2020-10-02 at 19 10 51](https://user-images.githubusercontent.com/42213280/94950660-42d0ce80-04e3-11eb-87b7-3ae0aa5cb99a.png)

Hi @DannyDainton,

Attached the UI screenshot. Even the response section also same to click and check the test response and headers.
When we are performing testing, eg: new API, request payload changes... We need to verify the logs with the header response(Tra

[2020-10-02 17:19] PhoenixTilea commented on #3121
Thanks so much for the alternative links. I'm a blind developer currently going through a coding bootcamp, and testing my API projects has been an absolute nightmare. I got to the point where I tried to make my own Postman alternative, and while it seems to work sometimes, I'm just not knowledgeable enough yet to get it working reliably. I'm downloading Insomnia now and really hope it will improve

[2020-10-02 17:37] zersiax commented on #3121
You're very welcome. I'm a blind developer as well and it's disheartening that such a well-known name in the industry apparently doesn't want to live in the 21st century.
Feel free to reach out if you have blind-specific questions re: programming. I'm sure you'll be able to find me :)

[2020-10-02 17:46] emilianopenedo opened #9114 "When part of commented out Json Raw body is uncommented it fully gets uppercased"
**Describe the bug**
When part of commented out Json Raw body is uncommented it fully gets uppercased

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Json Raw Request Body'
2. Click on 'Ctrl+k + Ctrl+c'  to comment Json block
3. Click on 'Ctrl+k + Ctrl+u'  to uncomment Json block (selected text, more than single cursor position)
4. See error, the uncommented block converted to upperca

[2020-10-02 18:31] splinter89 commented on #8175
@abhijitkane Please see https://github.com/postmanlabs/postman-app-support/issues/8505
It contains all the details for this pesky issue.

[2020-10-02 18:33] PhoenixTilea commented on #3121
Unfortunately, I am having some real issues with Insomnia. It's way more accessible, but I still can't figure out how to send a request. Or rather, hwo to fill out all the information I need to. I'll keep trying, but it's really discouraging that something which is so simple and straight-forward for other developers is a massive hurdle for us when it doesn't have to be.

[2020-10-02 18:44] zersiax commented on #3121
@PhoenixTilea  I just had a quick look. It seems things are in stages, so ...you first give the request a name and VERB; the button that says get expands into the common HTTP verbs and a custom option. After you hit create, you get into a UI where you can set things like auth type, headers etc using the tabs and input fields.
Not everything is labeled though, I will make them aware of that when I'

[2020-10-02 19:26] xsimo opened #9115 "Feature Request: restore collection tree folding state on search filter dismissal"
Greetings,

Using postman with my team since nearly a year, I have a small feature suggestion that could improve postman greatly for users that have a large library of requests.

When I use a search filter for requests, I find what I am interested in, no problem, but then when I'm done searching and click on the small cross sign to erase the filter string i typed in, all the collections and folder

[2020-10-02 19:44] PhoenixTilea commented on #3121
I did get past that part, but it's the next bit that is very frustrating. I've gone back to using my own tool and that's actually working alright. It's super simple right now and needs more testing, but once I get it to a state I think it might be helpful for others, I'll put a link here if people want another option (An accessible tool developed by a blind programmer). I doubt it will replace too

[2020-10-02 20:15] lucasnz opened #9116 "incorrect encoding of proxy password special characters"
**Describe the bug**
When using a corporate proxy that requires authentication, and the user has a password with special characters, they receive a response:
statusCode=407

If the user changes their password to only contain numbers and upper or lower letters, then connection succeeds.

With basic authentication, special characters must be percent encoded. https://developer.mozilla.org/en-US/docs/

[2020-10-02 21:04] slothentic opened #9117 "Detect dark mode before showing loading screen"
**Is your feature request related to a problem? Please describe.**
When you launch Postman on Mac, it does not detect the dark mode setting before showing the loading screen, and also takes up both screens in my case.

What this means is both of my screens go from dark to very bright which is extremely jarring especially at night time, and because you can't minimize the app, it overtakes your scre

[2020-10-03 22:00] DonBakke commented on #8977
I came across this thread after preparing to post my own complaint with Postman. Everything written above describes my own problems. I uninstalled and reinstalled the stable release to no avail. Postman just updated to 7.33.1 and it still exhibits the same problems. I finally installed 7.32.0-canary04 and I'm finally able to use Postman normally again. I'm running on Windows 10.

[2020-10-04 05:15] k-byun opened #9118 "Bootcamp Walkthrough stops at 23% "Remember the path" on "Design an API""
**Describe the bug**
Under the Bootcamp in Postman, BootCamp stops prematurely at 23%.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Postman
2. In Bootcamp window, click "Designing and mocking APIs"
3. Select first lesson - "Design an API"
4. Go through the steps as prompted, but the procedure stops at 23% "Remember the path"

**Expected behavior**
Next step after 23%

**Screenshots*

[2020-10-04 05:26] k-byun commented on #9118
Similarly, I can't get past a step at 12% in the "Design an API in a minute" lesson module under the Bootcamp "Designing and mocking APIs" - see the attached animated gif file below:
![Untitled1](https://user-images.githubusercontent.com/72177353/95007700-e5ff1200-05cf-11eb-9872-af9dcfcc2771.gif)

[2020-10-04 07:28] aksharma53 opened #9119 "Feature request: Save and Close All Tabs"
A fast way to **save** all open tabs with one click/hotkey as well as **close** them.

![save all](https://user-images.githubusercontent.com/50196057/95009641-39f60f00-0641-11eb-8fa3-01a2a2c765dc.PNG)

[2020-10-04 07:35] aksharma53 opened #9120 "Feature request: Trash Accessibility Locally"
After clicking to Trash, it will redirect to webpage. It would be great if it would be accessible locally like other components.

[2020-10-04 19:49] davewburns commented on #9118
I also have the same issue with stopping at 12%, I had previously completed the first lesson "Design an API"

[2020-10-04 20:56] alexibz opened #9181 "Publishing the generated collection"
In the postman app there's an option to Share the collection and then "Update public link". With the collection being regenerated with the library each time, is there a way to have the same "public link" be updated? Or maybe completely forego the UI, and have a command line option that would update the collection at that link?

[2020-10-05 00:43] calebreid opened #9121 "Can't access objects returned in JSON array in postman test"
**Describe the bug**
I have a GET request which returns an array of objects, I want to validate that each object has both an id and a name

This is the response (I have abbreviated it to 3 items for clarity)
[code]

This is my test:
[code]

But I get this error against the two pm.expect statements `Validate JSON data of summary list | AssertionError: object tested must be an array, a map, an objec

[2020-10-05 01:15] lucasnz commented on #9116
I've just done a packet capture, and the special characters are percent encoded. So, the issue must be more complex. But I've had about 6 users change their passwords and remove special characters and it has resolved their issue... Having done, the packet capture, it does make me wonder if it's the way the proxy is handling the special characters. But surely postman is not the only application usi

[2020-10-05 06:26] aksharma53 opened #9122 "Feature request : Clear All Enviroment"
A single button to clear all saved Environment both global and local

![Capture](https://user-images.githubusercontent.com/50196057/95046397-bea86200-0701-11eb-8e15-4360ed5568de.PNG)
.

[2020-10-05 08:03] stefan123t commented on #3684
You can select the Code button (right side under Send / Save) to generate code for some runtimes, e.g. curl.
curl will send data with transfer-encoding: chunked if you set the header and leave out the content-length header.
But there is no option for setting an arbitrary chunk-size.
I have not verified what Postman will actually send via Wireshark or whether it uses libcurl in the back.

I therefo

[2020-10-05 09:14] Kiholm opened #9123 "Postman Runner crash"
Problem when I start Runner (Postman v 7.33.1)
I can select Run, chose a collection and click Run, but then I get a gray window.

Looking in log files I se this in
"renderer-shell":
[12268][1601888636352][shell][error]["Render process for runner webview crashed",{"isTrusted":false}]

and this in "renderer-runner"

[12268][1601888628309][runner][info]["EventBus~initialize - Success"]
[12268][160188

[2020-10-05 09:51] DannyDainton commented on #9114
Hey @emilianopenedo

Are you able to provide a short recording of this happening in the app, please?

[2020-10-05 10:10] DannyDainton commented on #9121
Hey @calebreid

This seems like a question that would be best asked over on our community forum - https://community.postman.com

You could probably achieve this check using something basic like this:

[code]

[2020-10-05 10:10] #9121 closed, assigned to nobody

[2020-10-05 10:40] KatseNarniaan opened #9124 "Postman doesn't react to keyboard"
**Describe the bug**
I installed new Postman from snap and now I'm unable to use the keyboard at all in Postman. I click in a text field, try typing, but nothing happens. For example the login screen, can't type anything for the email/username or password fields and mouse rightclick doesn't offer the rightclick menu for copy/paste. When I skip login, or login via webpage, and then try to type some

[2020-10-05 10:59] John0x commented on #6719
This is actually the only reason why I'm not using Postman for GraphQL and therefore not at all right now :/
Same goes for a lot of my colleagues

[2020-10-05 11:01] maryst1986 opened #9125 "why works in postman and dont work on the site"
why works in postman and dont work on the site
postman make this code . other curl works on the server,,,,but this doecnt work. why?
<?php
error_reporting(E_ALL);

$curl = curl_init();

assert(curl_setopt_array($curl, array(
  CURLOPT_URL => "https://api.sbis.ru/retail/sale/create",
 CURLOPT_AUTOREFERER => true,
CURLOPT_BINARYTRANSFER => true,
CURLOPT_COOKIESESSION => true,
CURLOPT_FOLLOWLOCATION

[2020-10-05 11:03] maryst1986 commented on #9125
`<?php
error_reporting(E_ALL);

$curl = curl_init();

assert(curl_setopt_array($curl, array(
  CURLOPT_URL => "https://api.sbis.ru/retail/sale/create",
 CURLOPT_AUTOREFERER => true,
CURLOPT_BINARYTRANSFER => true,
CURLOPT_COOKIESESSION => true,
CURLOPT_FOLLOWLOCATION => true,
CURLOPT_FORBID_REUSE => false,
CURLOPT_RETURNTRANSFER => true,
CURLOPT_SSL_VERIFYPEER => false,
CURLOPT_CONNECTTIMEOUT => 1

[2020-10-05 11:46] umeshp7 commented on #6719
@eladcandroid @drowhunter @John0x

You can import a GraphQL schema using a URL which returns the JSON object of the schema, but currently it is only supported for **unauthenticated** URLs.

@drowhunter The Spotify Schema that you mentioned also imports successfully in Postman. 🎉
@justtonytone Could you try again importing via the endpoint you created it should work now.  🎉

[2020-10-05 13:25] #9123 closed, assigned to nobody

[2020-10-05 13:26] Kiholm commented on #9123
found a workaround

[2020-10-05 13:28] rileypriddle commented on #8195
Please add this is. especially annoying when duplicating a request and its duplicated based off of the last save, not the latest unsaved

[2020-10-05 13:30] coditva commented on #9123
@Kiholm Hey, can you also post the workaround here so that it may help other users which face this issue?

It would also help us in finding out the issue and fixing it so that you won't have to use the workaround at all!

Sidenote: We also made several improvements to the Runner which are available in [Postman Canary](https://www.postman.com/downloads/canary/). You can also check that out too! 🚀

[2020-10-05 13:32] Kiholm commented on #9123
Workaround: Created a new folder and moved all the collections step by step to the new folder

[2020-10-05 14:46] John0x commented on #6719
Will it be possible to fetch the schema automatically like almost all graphql clients do?
Fetch the schema once you've entered the url (without having to create an api in postman)

[2020-10-05 14:53] DonBakke commented on #8977
Follow-up: I was able to clear out my cache as per the instructions posted above and this seems to have helped.

[2020-10-05 15:28] dylanbromby opened #9126 "Doesn't sync"
**Describe the bug**
Two machines, side-by-side, both running v.7.33.1. Team collection is updated on machine 1, click sync. Click sync on machine 2 but the update does not sync. Every time. Hasn't worked in a week or more.

**To Reproduce**
Steps to reproduce the behavior:
See above.

**Expected behavior**
I expect the collection updates to sync.

**Screenshots**
n/a

**App information (please co

[2020-10-05 15:35] DannyDainton commented on #9126
Hey @dylanbromby

Can you drop us a message to help@postman.com so we can have a look at this a bit closer to see what's going on?

[2020-10-05 16:04] dartmedved commented on #1066
+1 really need that feature.

[2020-10-05 16:36] hellotorax commented on #8656
I am still unable to use it with above solution. Getting Error:Parser Error:Header OVERFLOW. Can someone help

[2020-10-05 18:18] MSchreijen commented on #6354
I am having this exact issue. "SSL certificate validation" is turned off (I did turn it on and off a couple of times). I am developing an ASP.NET Core application, with a self signed certificate, which I have trusted in Microsoft Certification Manager.

[2020-10-05 19:45] calebreid commented on #9121
Hi @DannyDainton

Your solution does not work either. Could you explain why this isn't a bug given the error message? That would help me understand why this is better asked in the community forum.

Thanks

Caleb

[2020-10-05 21:20] DannyDainton commented on #9121
What is it that does work?

Can you expand of that please and maybe provide a screenshot or an error messag?

The message is coming from the Chai assertion library so if this is an issue, it would be with that library rather than specifically something that Postman has created.

This is a link to the API method that you're currently using in the test.

https://www.chaijs.com/api/bdd/#method_includ

[2020-10-05 21:47] calebreid commented on #9121
Hi @DannyDainton. Thank you for the explanation, that makes sense. And thank you for the documentation, I realised I was using your solution wrong and I've got it working now.

To help me understand for next time, is there an easy way for me to determine whether a problem I'm having is a bug in postman vs one of the libraries it uses?

[2020-10-05 21:51] DannyDainton commented on #9121
Glad you have it working now.

Feel free to raise it if you feel it's a bug in the platform - We can take a look at it on our side and let you know.

I would advise posting a question on the community forum and gauge the reaction there too - lots of awesome people on there can let you know if they also feel it's an issue too.

[2020-10-05 22:21] NikhilKGupta commented on #8288
We are using 7.33.1, still seeing the same issue on mac. Postman hangs with the data response of 499 mb

[2020-10-05 22:24] a85 commented on #8288
@NikhilKGupta Curious. What exactly is being downloaded here? Are these like video files or machine images?

[2020-10-05 22:27] NikhilKGupta commented on #8288
It is the usual json payload. We are calling an HTTP endpoint, it returns the response. But as soon, as I click the UI say for saving the response, it hangs until terminated.

[2020-10-05 23:45] a053a opened #9127 "Signature calculated for AWSV4 multipart/form-data wrong"
**Describe the bug**
Incorrect signature calculated when signing a request with AWS Signature with form-data parameters.

**To Reproduce**
Pre-requistes:
Create a REST API Gateway in AWS.
Create a route using AWS_IAM authentication.
Deploy the route.
Create an Access Key for your AWS account so you can sign with the AccessKey and SecretKey.

<img width="631" alt="image" src="https://user-images.gi

[2020-10-05 23:46] salmonz commented on #9127
Related:
- https://github.com/postmanlabs/postman-app-support/issues/8180
- https://github.com/postmanlabs/postman-app-support/issues/5873
- https://github.com/postmanlabs/postman-app-support/issues/4186

[2020-10-05 23:47] enmanuelr7 commented on #8195
Please add this feature! I think it could be good if it saves after a request is sent!

[2020-10-06 01:30] hainguyenh opened #9128 "[Import Collections] Always create a copy collections after imported instead of overwrite existed collections"
Used on version v7.33.1

I tried to import a collection, but it always creates a copy instead of overwriting

**To Reproduce**
Steps to reproduce the behavior:
1. I have a collection A in the Postman environment & local hard disk
2. Import the collection A again

**Actual results:**
On postman collections, I have 2 collections
- A
- A - copy

**Expected behavior**
A pop-up will display and ask the

[2020-10-06 02:50] codenirvana commented on #8288
@NikhilKGupta Thanks for verifying that it's not crashing while sending the request. 😄
Currently, saving a large response to the file works for 100-150 MB size. We are tracking this issue internally and will let you know once we have an update on this.

[2020-10-06 04:09] harsh-reality opened #9129 "Ability to observe and share Postman Monitoring results effectively within an organisation"
**Is your feature request related to a problem? Please describe.**

- Knowing and understanding the API performance is something that a lot of people in an org would want to know and currently there's no way to share/ broadcast this information outside of Postman (only users get to access the monitoring dashboard and results).

- Currently email notifications are available but there's no great way

[2020-10-06 04:16] harsh-reality opened #9130 "Improvement to monitoring dashbaord"
**Is your feature request related to a problem? Please describe.**
Not being able to easily track/ trace the request- currently it's mostly guessing in case of peaks. Also, lack of ability to observe trends within a timeframe.

**Describe the solution you'd like**

- Show color legend in the monitoring overview (request split) so we can easily trace / select a type of request

- Be able to show th

[2020-10-06 04:29] harsh-reality opened #9131 "Integration with Azure DevOps"
**Is your feature request related to a problem? Please describe.**
Currently custom scrips should run to take backups of collections. Disadvantage is the high number of API requests to be executed and the missing traceability about who did what change. Audit logs have some value, but are limited in that sense.

**Describe the solution you'd like**
An integration support for Azure DevOps like the o

[2020-10-06 05:29] joelkim commented on #1180
+1

[2020-10-06 05:37] ajtran303 commented on #3121
@PhoenixTilea  Please can you share your tool?

[2020-10-06 07:11] Venkat43210 opened #9132 "In postman ,Facing tunneling issue after adding the custom proxy configuration"
Facing the issue "could not send request " and "Error: tunneling socket could not be established, cause=connect ECONNREFUSED 127.0.0.1:8888"

Steps to recreate
1. In postman settings,adding the custom proxy configuration with localhost and portnumber
2.Clicking on send button after providing the valid GET HTTPS Request.
3.I am intercepting the postman local host proxy withe Jmeter Https recording

[2020-10-06 08:37] alexandru opened #9133 "Postman cannot execute on macOS Catalina"
Running on macOS Catalina 10.15.6. Don't know Postman's version, because I can't run it:

<img width="532" alt="Screenshot 2020-10-06 at 11 30 44" src="https://user-images.githubusercontent.com/11753/95177905-6f2c6980-07c7-11eb-85d9-7d10d909ac9b.png">

The issue was reported before:

- #6029
- #8507

This is most likely a package signing issue. Since this problem only manifests with Postman, and h