[2017-12-01 09:59] cebor opened #3887 "Runner: Collection and Environment are deselected."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
      since 5.3
 2. Expected behaviour:
      If i click the "RUN" Button in a collection menu, then the collection and the current active environment should be selected in the runner.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postma

[2017-12-01 10:17] VictorHarris opened #3888 "Following the 5.4.0 update, there appear to be problems with setting tests as false."
Postman for Windows
Version 5.4.0
win32 10.0.15063 / x64

Following an update to 5.4, there is a change in the behaviour of tests.

I would have expected that setting tests["criteria"]=true will pass and tests["criteria"]=false will fail.

What I see is that the false state registers as a FAIL but the summary (in the tab) shows it as a pass. Also, the FAIL description claims that there is an an As

[2017-12-01 10:30] kamalaknn commented on #3888
@VictorHarris  thanks for reporting this.

The test failure count on the Tests tab should be `(1/2)`. We'll get a patch out with a fix for this.

The `AssertionError: expected false to be truthy` is just additional information we have added to help you debug your assertions.

[2017-12-01 10:54] wateva opened #3889 "All requests hangs after update to 5.4 on lubuntu"
## App Details:

[code]
## System Details:

[code]

## Issue Report:
After updating to 5.4 version of Postman app for Linux there are no requests which executing correctly.
On previous versions similar problem occurred during using new pretty "Authorization" tab. It was avoided by manually adding the "Authorization" header and choosing "No Auth" option in "Type" field. But now requests don't works

[2017-12-01 11:02] SamvelRaja commented on #3889
@wateva We found the root cause of the issue and fixing the same, will be available in our canary channel very soon.

[2017-12-01 11:32] danledgard opened #3890 "version 5.4.0 posts incorrect payloads when edited"
## App Details:
[code]

## Issue Report:

Following the update to 5.4.0 opening a request created previously to update and editing the raw payload does not send the expected data

* Open an existing POST or PUT request that was created prior to the 5.4.0 version and edit the raw payload
* Send the request
* The requests sent will contain the payload of the request BEFORE the editing

Opening an ex

[2017-12-01 11:33] kamalaknn commented on #3883
Coul you open the `DevTools`(View -> Show DevTools) and check if there are any errors?

[2017-12-01 11:48] oofpez commented on #3890
I was just coming here to report this, I'm experiencing this as well.

[2017-12-01 12:05] sdnts commented on #3875
@pschumacher We currently do not store file references when you save collections for portability and security reasons. We're tracking this as a feature request in #3740

[2017-12-01 12:05] #3875 closed, assigned to nobody

[2017-12-01 12:08] kamalaknn commented on #3890
Hey,

We are trying to reproduce this. We suspect that this might have something to do with your current state of data.

Could you export the data in your app (Settings -> Data -> Export data) and send to help@getpostman.com? If you have sensitive information in your data you can export the particular collection and remove the sensitive data before sending it to us.

[2017-12-01 12:12] sdnts commented on #3876
Hey @cdeckelm, is the endpoint you're trying to hit public? If not, is there a public endpoint that behaves this way?
If it's private and you'd rather not share it here, you can email us at help@getpostman.com so we can investigate. Thanks :)

[2017-12-01 12:15] sdnts commented on #3878
@jackwilsdon There is no way to do this currently, but I'm adding this as a feature request so we can take a look at this.

[2017-12-01 12:17] sdnts commented on #3880
@spottedmahn Are there any cookies set by that domain? Can you try clearing them and see if you get the logic screen again?

[2017-12-01 12:19] sdnts commented on #3884
@Muzurio This can definitely be done, we'll take a look at this. :)

[2017-12-01 12:22] sdnts commented on #3887
Hi @cebor, I'm unable to reproduce this. Just to confirm, this is the `Run` button you're referring to, correct?
<img width="413" alt="screenshot 2017-12-01 17 51 53" src="https://user-images.githubusercontent.com/7689783/33482703-56b9e0c0-d6c0-11e7-9277-06a83dd6f314.png">

[2017-12-01 12:24] madebysid commented on #3877
@9fingerdev Could you elaborate a little on what you mean by basic tests?

[2017-12-01 12:26] sdnts commented on #3885
@KSib I'm unable to reproduce this, does this happen for all requests in your case or just this one?

[2017-12-01 12:47] KSib commented on #3885
All requests

[2017-12-01 13:03] cebor commented on #3887
@madebysid yes, my looks little bit different, but i think its the same.

<img width="897" alt="screen shot 2017-12-01 at 13 51 34" src="https://user-images.githubusercontent.com/1576120/33483914-6da4a362-d6a0-11e7-809f-75ccb968d1a6.png">

[2017-12-01 13:04] manufunk commented on #2494
Any news? Our company would love working with Postman but without PFX or CER support it is not possible for us. All openssl transformations to crt/key failed so far by handshake errors.

[2017-12-01 13:13] cebor commented on #3887
Have this issue on 3 machines (osx / windows 7)

On Windows the collection is selected but the environment not.

[2017-12-01 14:08] AndriiStepura commented on #3888
Same problem, "You are up to date! Postman v5.4.0-canary04 is the latest version."

[2017-12-01 14:31] roukmoute commented on #3883
I forgotten to specify this but in my issue but nothing happens.
![image](https://user-images.githubusercontent.com/2140469/33487181-af83dfee-d6ac-11e7-989e-02dda332dfaf.png)

[2017-12-01 14:48] mohitkhanna opened #3891 "Version 5.4.0: After update one of my HTTP GET call is hanging"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Until the upgrade this specific API call was working all fine. My API server which hosts multiple APIs is up and running. POST, DELETE calls work all fine. Only this specific GET call gets stuck at Sending.... status. Other GET calls (different API endpoints) are working.

The same API

[2017-12-01 14:55] YellowFish085 commented on #3614
The same issue is present in the Linux version of the app with some more problems.

[code]
![output2](https://user-images.githubusercontent.com/11556009/33487271-e79a988c-d6ac-11e7-933b-13fc3304eac4.gif)

As you can see in the gif above, in addition to the requests the issue is present for the folders too. Furthermore some folders are also deleted when moved and/or requests inside them seem to be

[2017-12-01 14:55] KSib commented on #3885
Happens on my home pc as well Windows 10 Pro 64bit

[2017-12-01 15:18] purvesh007 commented on #1104
+1

[2017-12-01 15:54] 9fingerdev commented on #3877
Thanks for your reply. One example is a rest api that sends an email and
requires the following data:

   - Oauth2 token
   - email from address
   - email to address
   - subject
   - message

I'm looking for a solution that would create tests with expected results
for the happy path along with test that omit some off the data. Expecting
the solution to create the test from OpenAPI/Swagger defini

[2017-12-01 16:32] PurpleBabar commented on #3813
Hi,
[code]
it should help you :)

[2017-12-01 16:32] kamalaknn commented on #3891
Hi @mohitkhanna

This is a duplicate of #3889. Closing this. Please follow the parent thread for updates.

[2017-12-01 16:32] #3891 closed, assigned to nobody

[2017-12-01 16:35] kamalaknn commented on #3889
Hey @wateva

We've rolled out a fix for this in our Canary channel. You can find the download link here - https://www.getpostman.com/canary

Could you try out the Canary build and let us know if this is fixed?

[2017-12-01 16:35] kamalaknn commented on #3888
Hey @VictorHarris  @AndriiStepura

We've rolled out a fix for this in our Canary channel. You can find the download link here - https://www.getpostman.com/canary

Could you try out the Canary build and let us know if this is fixed?

[2017-12-01 16:39] deepakpathania-zz commented on #3885
I was able to reproduce this on the linux app. On closing the search dialog by clicking on X, the dialog doesn't open up again on a single click of the search icon(requires two clicks to open). Works fine if closed by clicking on the search icon itself.

[2017-12-01 17:00] wateva commented on #3889
Hi @SamvelRaja
Yes, in that canary version all works fine, thanks)

[2017-12-01 17:33] danledgard commented on #3890
Unfortunately I cannot export all the data as there is far too much sensitive pieces in there, redacting it all would change all the collections, environments etc.

However I have been able to reproduce this using the Postman Echo collection.
* open the Request Methods POST request
* edit the body to add more lines
* open the Postman console and send the request
* looking at the body of the reques

[2017-12-01 18:00] carlosber commented on #1104
+1

[2017-12-01 18:39] kamalaknn commented on #3890
@danledgard Thanks for reporting the issue. We've identified the issue and will be fixing it in the next release.

In the meantime, you can switch to `5.3.2` from the Changelog section here - https://www.getpostman.com/apps

[2017-12-01 21:31] davmrv commented on #3358
@abhijitkane yeah, but this is a testing tool, not a JSON validator, commenting out JSON could be a great tool for testing APIs, because is a pain to send many information using the form-data / urlencoded tool

[2017-12-01 21:37] rcork commented on #3692
I just got our corporate IT to allow us to install the standalone Postman app instead of using the chrome app come to find out it wont work behind our corporate firewall. Good luck trying to get enterprises to pay for Postman if you can't work with NTLM authentication.

[2017-12-01 21:56] joshuawoodward opened #3892 "When importing OpenAPI spec use tags versus paths"
If you import a OpenAPI (swagger) spec file, the collection and folders appear to be grouped by the paths, versus the tags.

In a Swagger UI endpoints are grouped and ordered by the Tags
![2017-12-01_13-49-13](https://user-images.githubusercontent.com/1133928/33504995-a73a5ede-d69e-11e7-9ac5-c741d2f19ac2.png)

In Postman the endpoints are grouped and ordered by the paths (just the root)
![2017-12-

[2017-12-02 00:15] astewart-twist opened #3893 "Feature Request: Code snippet generation for R"
Code snippet generation in Postman is such a handy feature!

I'd like to submit a feature request for supporting snippets in R as well.  `httr` (https://github.com/r-lib/httr) is probably the most analogous library to something like python's `requests`.

[2017-12-02 13:17] Fohlen commented on #1669
This is a crucial tool for every 2017 and 2018 backend engineer. When can we expect that feature to be shipped?

[2017-12-02 13:45] cdelgadob commented on #1669
Indeed. Specially after Amazon’s native support for GraphQL with AWS AppSync -
https://aws.amazon.com/es/appsync/

[2017-12-02 13:48] Fohlen commented on #1669
I was especially referring the trend of serverless architectures because not all of them (erm erm, Lambda!) do ship GraphiQL by themselves.

[2017-12-02 13:50] YounesRahimi commented on #1744
+1

[2017-12-02 18:19] chrisrymer commented on #3869
I did, I tried a couple of the know tips to get it working. It’s doesnt seem to be able to use the proxy via the OS but didn’t seem to work when I specifically put in usr:pass.

If I output the command as curl it worked fine in terminal. I’ll try again on Monday and update

[2017-12-02 18:30] deepakpathania-zz commented on #3893
Hey @astewart-twist . Postman actually uses a third party [library](https://github.com/Kong/httpsnippet) to generate code snippets and therefore do not control the languages covered directly.
I can see that there is already a feature [request](https://github.com/Kong/httpsnippet/issues/101) for R there in the issues, you can probably upvote there to get this some attention.

[2017-12-03 01:15] demystifier opened #3894 "Double quotes in curl examples"
Greetings
This is a feature request:

I would like to suggest curl client examples be generated with double quotes instead of single quote. That way api doc authors could use environment variables in the header/body examples and users can set those environment variables and easily get a working example by copy/paste them from postman. This eliminates the need to manually modify postman examples to

[2017-12-03 14:51] aruckoj commented on #3890
I also can reproduce the same issue on 5.4.0 and 5.4.1-canary01.
The issue remains when duplicating an original response.
Can also reproduce with freshly imported collections (via ["Run in Postman"](https://app.getpostman.com/run-collection/57aa74ccb45fb269ac54#?env%5BPandaDoc%20API%20Reference%5D=W3sidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJjbGllbnRfaWQiLCJ2YWx1ZSI6IiJ9LHsidHlwZSI6InRleHQiL

[2017-12-03 16:46] SamvelRaja commented on #3890
@danledgard The fix for this issue is pushed in our latest canary 5.4.1-canary02. Kindly, check the same from your end. https://www.getpostman.com/canary

[2017-12-03 21:48] bobmclaren commented on #1475
I just authored a pull request for this.
https://github.com/Kong/httpsnippet/pull/105

Hopefully it gets some legs.

[2017-12-03 22:41] kalmas commented on #3099
@moquist's collection rename collection workaround worked for me. Version 5.3.2 for win64.

[2017-12-03 23:58] calabresechris commented on #2225
Same issue here. Proxy doesn't work in 5.3.2

[2017-12-04 00:39] trev commented on #2452
@asgeirn That works fine for the Resource owner credentials grant type but not the Authorization code grant.

[2017-12-04 00:42] trev opened #3895 "Duplicate authorization header not matching expected advertised behavior."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

 2. Expected behaviour:

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

 4. Screenshots (if applicable)

In the following gif, the Postman injected authorization head

[2017-12-04 01:21] eyemouth commented on #3881
@SamvelRaja Sorry for replying late. I have fixed it by maximizing it using taskmgr. It seems postman is working well in the background for I can see it in the taskmgr. Thank you for your reply.

[2017-12-04 06:13] AndriiStepura commented on #3888
@kamalaknn hi, I update to Postman v5.4.1-canary02. but issue not resolved:
![image](https://user-images.githubusercontent.com/30338636/33538613-aeceb750-d8c2-11e7-89b8-be72b8b3ac73.png)

[2017-12-04 06:59] kamalaknn commented on #3882
Hi @terencechow

I tried to recreate this scenario by setting up a small node server locally and measuring the response time on Postman.

I saw an initial 35ms - 50ms extra time in Postman that includes the socket creation, DNS lookup. It then reduced to 5ms - 7ms once the TCP level socket caching and DNS lookup caching(OS level) kicked in.

Could you verify that your measurement is accurate and i

[2017-12-04 07:46] kamalaknn commented on #3895
Hi @trev,

Thanks for reporting this issue. We can confirm this behaviour. We'll roll out a fix for this in the release.

About the refresh token flows, we do have plans to enhance the current OAuth 2.0 implementation.

[2017-12-04 08:13] kamalaknn commented on #3893
Hi,

I'm marking this as a feature request. We'll need support from https://github.com/Kong/httpsnippet before we can support it in Postman. Please follow the parent thread for updates.

[2017-12-04 08:23] abenhaim commented on #2253
Same issue as @moskal91.
Access to a local network IP, with proxy config file (.pac) defined
Postman chrome : works perfectly
Postman Windows 10 :
- Without the NO_PROXY parameter : doesn't work
![image](https://user-images.githubusercontent.com/20885691/33542810-d60ca90a-d8d4-11e7-92d0-7e6e188b85d6.png)

- With NO_PROXY=10.196.211.5 : works
![image](https://user-images.githubusercontent.com/20885

[2017-12-04 08:26] aruckoj commented on #3890
Everything became normal for me on 5.4.1-canary02.
Thanks for the fix!

[2017-12-04 09:23] VictorHarris commented on #3888
I concur with @AndriiStepura. I have the following version installed now...

Postman for Windows
Version 5.4.1-canary02
win32 10.0.15063 / x64

And I see the following results...

![image](https://user-images.githubusercontent.com/26603230/33544983-b1b4184a-d8d4-11e7-8bac-39506fb0b6a2.png)

[2017-12-04 10:30] terencechow commented on #3882
I decided to remove all kubernetes related things and just have an express server.

index.js
[code]

1. `npm install express`
2. `node index.js`
3. with postman make a get request to `localhost:8080/test`
4. postman reports 250-400ms
5. Repeat step 3. Postman always reports 250-400ms.
6. run `ab -c 20 -n 1000 localhost:8080/test`
7. AB reports 99% takes less than 20 ms. Longest one took 17 ms.

[2017-12-04 10:32] Faz540 opened #3896 "[Bug] - All tests are marked as passed in the 'Test Results' tab when tests have failed"
**Postman Version: 5.4.0 Windows**

Given I have a request that returns the below response:
[code]

The below test will/should fail:
[code]
All tests are marked as passing in the 'Test Results' tab.
However when looking at the tests this is actually failing.

![image](https://user-images.githubusercontent.com/9334128/33547673-c0dad554-d8dc-11e7-81d9-d16e471ba863.png)

I've tried writing this the "

[2017-12-04 10:41] SamvelRaja commented on #3896
Tacking in here #3888

[2017-12-04 10:41] #3896 closed, assigned to nobody

[2017-12-04 11:05] Faz540 commented on #3506
Still present in Windows version 5.4.0

[2017-12-04 11:41] danledgard commented on #3890
@SamvelRaja I can confirm that 5.4.1-canary02 is working as expected

Thanks for the rapid resolution on this

[2017-12-04 11:47] kamalaknn commented on #3894
Hi,

Postman uses the [httpsnippet](https://github.com/Kong/httpsnippet) library for generating code examples. Could you bring this up with the authors of the parent project?

[2017-12-04 11:47] #3894 closed, assigned to nobody

[2017-12-04 12:01] gschmidl opened #3897 "Postman native app installer should ask for install directory"
## App Details:

[code]

## Issue Report:
The Postman installer does not ask for an installation directory, but just installs into the user's profile. This is not only rude but also causes issues on restricted environments where not every user can install to their profile.

Expected behaviour:
Ask for an installation directory and install there instead of just installing to the profile directory.

[2017-12-04 12:21] henrikje commented on #1906
+1

[2017-12-04 12:22] kamalaknn commented on #3882
@terencechow

Are you using the Chrome App or the Postman Native app? You can find it from the "How can I tell if I’m on the Postman Chrome app or Postman native app?" section in this [blog](http://blog.getpostman.com/2017/03/14/going-native/).

[2017-12-04 12:47] oleksiyserg commented on #1446
any updates on when the implicit grant flow will be supported in Postman?

[2017-12-04 12:57] m3talstorm commented on #2082
Just hit this myself, would be great to see this added.

[2017-12-04 13:12] stevegoulet commented on #3832
Any update? Or is there a workaround?

[2017-12-04 13:21] kamalaknn commented on #1446
@BukeMan `Authorization Code/Client Credentials/Password/Implicit/` grant types are supported in Postman Native apps starting from `5.3.0`.

Could you make sure you're on the latest version of Postman Native app and check for OAuth 2 grant types?

[2017-12-04 13:42] stevegoulet commented on #3832
I found a workaround -- create your CSV in Windows Excel and export from there, it will then work on Postman/Mac.

[2017-12-04 13:56] terencechow commented on #3882
I am on the Postman Chrome app

[2017-12-04 14:23] kamalaknn commented on #3882
Ah, that explains it.

Could you try downloading the Postman Native Apps and check out the response time. The Native apps allow us more control over the request sending flows so we can get better results for response times.

[2017-12-04 14:24] sumit1317 commented on #743
Hi,
An api call from postman is working perfectly fine, but when I take the code from postman and run it as part of nodejs, it is giving me an error. Code generated by postman is -
  var options = { method: 'POST',
              url: 'https://uat.nlis.mla.com.au/soap/upload.aspx',
              headers:
               { 'postman-token': '52cdfc42-4f0f-fd7c-0e94-3301a3c0e520',
                 'cac

[2017-12-04 14:32] sumit1317 commented on #1729
Hi,
An api call from postman is working perfectly fine, but when I take the code from postman and run it as part of nodejs, it is giving me an error. Code generated by postman is -
var options = { method: 'POST',
url: 'https://uat.nlis.mla.com.au/soap/upload.aspx',
headers:
{ 'postman-token': '52cdfc42-4f0f-fd7c-0e94-3301a3c0e520',
'cache-control': 'no-cache',
'content-type': 'multipart/form-data;

[2017-12-04 14:32] malyalal commented on #3630
@prashantagarwal, you got me wrong!! I am not trying to send the saved example but trying to resend the same original request once again after saving the response

[2017-12-04 14:32] sumit1317 commented on #191
Hi,
An api call from postman is working perfectly fine, but when I take the code from postman and run it as part of nodejs, it is giving me an error. Code generated by postman is -
var options = { method: 'POST',
url: 'https://uat.nlis.mla.com.au/soap/upload.aspx',
headers:
{ 'postman-token': '52cdfc42-4f0f-fd7c-0e94-3301a3c0e520',
'cache-control': 'no-cache',
'content-type': 'multipart/form-data;

[2017-12-04 14:33] sumit1317 opened #3898 "Nodejs code generated via Postman"
Hi,
An api call from postman is working perfectly fine, but when I take the code from postman and run it as part of nodejs, it is giving me an error. Code generated by postman is -
var options = { method: 'POST',
url: 'https://uat.nlis.mla.com.au/soap/upload.aspx',
headers:
{ 'postman-token': '52cdfc42-4f0f-fd7c-0e94-3301a3c0e520',
'cache-control': 'no-cache',
'content-type': 'multipart/form-data;

[2017-12-04 14:37] malyalal opened #3899 "Postman native app is not working"
## App Details:
My team is using Postman pro paid version. Since the Postman's chrome add-on is deprecated, we are trying to using the native app. However that never opens, if it opens after several attempts, cache clear etc, it is not synced correctly with the latest changes.
This is lagging our work progress.
I see messages like "opening valves... moving sattelites into position etc.." The wait

[2017-12-04 14:52] SamvelRaja commented on #3888
The fix had been released in PostmanCanary-5.4.1-canary03 version. I would request you guys to update the app to the latest and test it out.

[2017-12-04 14:56] SamvelRaja commented on #3890
Thanks all for the patience :)
I would recommend everyone to stay in Canary channel if you guys need the features ahead 😄

[2017-12-04 15:01] AndriiStepura commented on #3888
@SamvelRaja, hi, with PostmanCanary-5.4.1-canary03 version works fine.

[2017-12-04 15:42] Arbitrary-T commented on #1104
+1

[2017-12-04 15:43] VictorHarris commented on #3888
@SamvelRaja, I also have been able to test this and it is working fine. Many Thanks.

[2017-12-04 15:57] Hibbem opened #3900 "empty (RQL) parameters gets truncated on request"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **always in the new native app**
 2. Expected behaviour: **send the request that I entered**
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): **Nothing special to see, on

[2017-12-04 18:44] ghost commented on #882
@ivan-marinov yes, and you have to duplicate these 2 LOC everywhere... which doesn't solve anything.

But thanks for the workaround / effort.

[2017-12-04 19:15] stevemcmillen commented on #882
This is basically the solution I use as well.  But agreed, it'd be nice to have a way to avoid having to add this to every method its needed in.

[2017-12-04 21:08] blairg23 commented on #2559
Had to reinstall native app to resolve problems on native app.

[2017-12-04 22:44] CoeusCC commented on #3874
Whoa, I didn't realize I was giving up this feature when I transitioned to the Windows desktop app. Hope to get this feature back soon. Really could have used it today.

[2017-12-05 00:15] KwangzSan commented on #3865
@madebysid I made a script for you to test.
http://luckymeow.com/api/test/server/status

[2017-12-05 05:06] kamalaknn commented on #882
Hi everyone,

We've been working on a feature to allow `prerequest/test` scripts at collection/folder level. This is now out our Canary channel https://www.getpostman.com/canary. Please give it a try.

The docs aren't up to date yet. We're working on it.

The gist is that you can add a `prerequest/test` script by editing a collection/folder. These scripts are run for every request in the `collecti

[2017-12-05 07:35] alexander-welt opened #3901 "Export Collection shall ask for unsaved changes to be saved before"
## App Details:
Postman for Windows
Version 5.3.2
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Command 'Export Collection' is not asking for saving modified changes within the collection
 2. Expected behaviour:
If modified changes are present and 'export collection' is triggered, ask user if unsaved changes shall be saved before exp

[2017-12-05 08:06] raesteyn commented on #3327
On windows, removing the contents of C:\Users\[USER]\AppData\Roaming\Postman seems to have resolved the issue.

I purged my cache, which broke the desktop apps login. I am guessing the solution would be the same regardless of how we arrived at the problem though.

[2017-12-05 08:24] DanielPetatCes commented on #3650
This bug is back in Windows x64 Version 5.4.1.

[2017-12-05 08:28] DanielPetatCes opened #3902 "No longer remembers open tabs after upgrade to 5.4.1"
## App Details:
Postman for Windows
Version 5.4.1
win32 10.0.16299 / x64

## Issue Report:
Today I updated from version ~~5.4.0~~ 5.3.2 to 5.4.1 and the bug from #3650 is back in Version 5.4.1.

Steps to reproduce:
* Open a tab with any request
* Close postman
* Start it again -> The tab is gone

[2017-12-05 08:35] brentco opened #3903 "OAuth2 token credentials per saved request"
## App Details:

[code]

## Issue Report:
When I have request A saved in my collection, with a certain set of credentials for OAuth2, and I have a request B saved with a different set of credentials, when I try to request a new token for either, it will take the credentials that were last entered, no matter which request.
I personally find this very unusable, because I may have different OAuth2 re

[2017-12-05 09:08] Faz540 opened #3904 "[Bug] - Using the Copy shortcut command needs to be performed twice in order for it actually store the value in clipboard"
**Version: Windows 5.4.1**

This bug must have been raised before but I couldn't find it in the issue backlog, so I'm raising just incase it hasn't been raised :)

**Issue:**
Users are unable to copy items to clipboard using the CTRL+C shortcut command  from the "environment quick look" window. In order to copy items to the clipboard they have to perform the copy command twice.

This issue has bee

[2017-12-05 09:22] dotancohen commented on #3635
Thank you.
Yes, the server is responding with Content-Type application/JSON because that is what the response _should_ be. However, due to whatever bug I coded at the moment the server is outputting an HTML error message.

Postman is in fact being very helpful by ignoring this HTML. Too helpful, as in fact while debugging I need to see these error messages. It would be nice if Pretty View hiding o

[2017-12-05 09:37] a85 commented on #3899
Seems like you are on an outdated copy. Can you get a new version from www.getpostman.com

[2017-12-05 09:42] akaradzha opened #3905 "Blank page when trying sign in via google"
## App Details:

[code]

## Issue Report:
getting blank page when trying to sign in with google account

console output:
Starting Browser login with URL: https://www.getpostman.com/client-login-appid?id=undefined&app_id=erisedstraehruoytubecafruoytonwohsi&version=5.3.2&channel=prod&type=app_native&platform=linux&os=linux 4.4.0-101-generic&architecture=x64
Cleared all storageData for clean session:

[2017-12-05 09:45] oleksiyserg commented on #1446
@kamalaknn indeed, the implicit grant type is present and is working properly with Azure AD. thank you!

[2017-12-05 09:52] SamvelRaja commented on #3902
@DanielPetatCes We were able to reproduce this regression in the windows application. We will patch it up and update the thread.

[2017-12-05 10:06] maxnag commented on #3127
I account with the same problem after update on Postman for Linux Version 5.4.1.
I send DELETE method and get 204 and have this error

![2017-12-05 12-02-07](https://user-images.githubusercontent.com/182560/33601337-9744e512-d9b4-11e7-9077-8f4a11aee200.png)

Answer from Nginx

172.18.0.1 - - [05/Dec/2017:09:59:11 +0000] "DELETE /api/event/1/history/3 HTTP/1.1" 204 880 "-" "PostmanRuntime/7.1.1"

[2017-12-05 10:08] #1446 closed, assigned to harryi3t

[2017-12-05 10:10] SamvelRaja commented on #3127
@maxnag can you let us know the response headers you received?

[2017-12-05 10:26] butlnor opened #3906 "Move the OAuth2 "Use token" button to a better location"
## App Details:
[code]

The button for "Use token" is hidden well below the token data. This is completely unintuitive and a bad UX. Can it be moved to a more obvious and visible location?

This is how it looks in my case, I need to scroll to get to the button:

![token](https://user-images.githubusercontent.com/11555256/33602069-80c9df50-d9ae-11e7-820d-57861747a931.png)

Also, the token managemen

[2017-12-05 10:30] #3738 closed, assigned to godfrzero

[2017-12-05 10:31] #3730 closed, assigned to SamvelRaja

[2017-12-05 10:34] butlnor commented on #3906
Also, if I open the OAuth login dialog in a browser, it can remember the username/password. But when the same login dialog is opened inside Postman via "Get new access token", it cannot remember them, so I need to enter them every 10 minutes. Can something be done about this?

[2017-12-05 10:41] GuryYu opened #3907 "Feature request: Collection Environment"
In the case of a very large number of collections, each with its own distinct Environment, the existing Environment mechanism is particularly cumbersome to choose from. In the 5.4.1 release, a new Collection variable functionality was added. Extend this functionality to "Collection Environment." Provide a different Environment for each Collection, and quickly switch between them.

[2017-12-05 10:55] abdelaliz commented on #519
this feature would be a killer. please please please

[2017-12-05 11:15] cascer1 opened #3908 "Display status codes for examples in documentation"
## App Details:

[code]

## Issue Report:
When I define examples for my requests in postman, I can set a status code when creating a response. However, this status code isn't visible in the online documentation (`documenter.getpostman.com/...`). This makes it more difficult for people implementing my API to know which status codes they can expect, and what the response bodies with such a status co

[2017-12-05 11:16] #2738 closed, assigned to nobody

[2017-12-05 11:16] a85 commented on #2738
Seems to be fixed in the latest release.

[2017-12-05 11:24] a85 commented on #1667
Can't give a definite date just yet but yes, Interceptor will work with the desktop apps soon!

[2017-12-05 11:42] chrisxue815 commented on #1469
basePath is still ignored if it contains a question mark.
`basePath: /index.php/api/v2`: works.
`basePath: /index.php?/api/v2`: ignored.

[2017-12-05 12:13] butlnor opened #3909 "Remember OAuth2 username and password"
## App Details:
[code]

If I open the OAuth2 login dialog in a browser, it can remember the username/password. But when the same login dialog is opened inside Postman via "Get new access token", it cannot remember them, so I need to enter them every time. Can something be done about this?

[2017-12-05 12:17] agatheblues commented on #1429
+1

[2017-12-05 13:51] prashantagarwal commented on #3909
@butlnor Thanks for reporting this. I am not sure we would want to do that for security reasons. The browser is able to do it because you might have enabled autocomplete fields in your browser settings (to which Postman has no access).

[2017-12-05 13:51] #3909 closed, assigned to nobody

[2017-12-05 13:52] prashantagarwal commented on #3908
@cascer1 We are already tracking this in #3417 . I am closing this as duplicate.

[2017-12-05 13:52] #3908 closed, assigned to nobody

[2017-12-05 13:53] prashantagarwal commented on #3907
@GuryYu Thanks for suggesting this feature.

[2017-12-05 13:55] prashantagarwal commented on #3906
@butlnor Thanks for suggesting this. We will definitely take a look at this. I will keep you updated about this.

[2017-12-05 13:56] prashantagarwal commented on #3905
@akaradzha Thanks for reporting this. Would it be possible for you to provide a screenshot of console inside devtools.

[2017-12-05 13:58] futurechan commented on #1667
This is seriously awesome!

[2017-12-05 14:02] prashantagarwal commented on #3903
@brentco Thanks for reporting this. We will have a look at this.

[2017-12-05 14:10] prashantagarwal commented on #3900
@Reyske Can you provide a screenshot of Postman console when you make this request.

[2017-12-05 14:12] EricThieme commented on #1228
+1
nice issue... worth to join it to get the "postman is alive ping". ;)

Stumbled across this issue today and it would really help to delete the cookies. Now I have to skip a few tests in my Postman Runner and make a few weird assumptions to other tests that I can only do because I know the backend implementation...

[2017-12-05 14:13] prashantagarwal commented on #3897
@gschmidl Thanks for suggesting this we will definitely look into this.

[2017-12-05 14:18] EricThieme commented on #3312
@elistemann same problem with windows version 5.4.1 I tried out your tests. They worked, but the cookies remained as I could see in the reaction of my backend in the following test.

[2017-12-05 14:33] Hibbem commented on #3900
![image](https://user-images.githubusercontent.com/6367525/33612360-8d3fe536-d9d1-11e7-8e01-d9d66d30d832.png)

Here you go

[2017-12-05 14:51] wwaaijer commented on #3900
![image](https://user-images.githubusercontent.com/6366926/33613032-c41ec5ac-d9d3-11e7-811b-a3932606aba1.png)

I have reproduced the problem. While the Chrome app did support this. Haven't upgraded for this reason.

[2017-12-05 15:02] tobilarscheid commented on #1228
If only postman was open source... the other day I was dreaming about a postman that uses curl under the hood (instead of the strange chromium stuff)

[2017-12-05 16:53] KatjaLeu commented on #3497
I have pretty much the same problem here - i.e. our whole team cannot connect with postman 5.4.1, it just loops as soon as we click on "Connect/Synch" - what is the problem??

[2017-12-05 16:53] curtisgibby commented on #3907
Dupe of #213 (and therefore #3205)

[2017-12-05 17:06] grzegorzjudas commented on #2861
Confirming on OSX app - `{{varname}}` resolves to `{{varname}}` if it's value is null instead of actually parsing it and putting `null` in it's place.

Need to pass null in a POST body and I indeed want to pass null...

[2017-12-05 17:26] numaanashraf commented on #3497
@KatjaLeu That's odd. Could you drop us a mail at `help@getpostman.com`? We'll help you get this sorted.

[2017-12-05 18:18] NuSkooler commented on #3904
This is happening to me as well -- in what appears to be any field in the application.

Elementary OS Loki x86_64 (Ubuntu 16.04)

[2017-12-05 20:33] danny-stateside commented on #3127
Hi. I'm also havind this issue in the windows app. Using the chrome extension works fine! :/

[2017-12-05 21:11] ishepherd opened #3910 "feedback: Postman's designed to store its stuff in a hidden database..."
## App Details:

[code]

## Issue Report:

I read [this blog post on backup/sync of Postman collections](http://blog.getpostman.com/2017/03/10/backup-and-sync-your-postman-collections-on-github/) and got irritated because it's my main bugbear with Postman:

Couldn't it store its collections as normal directories?
Containing tests and environments as text files?
In my choice of location - ie a loca

[2017-12-06 02:27] SamvelRaja commented on #3127
@danny-stateside  Can you provide us a little more information on the problem?
Details from devtools and postman console.
Devtools - View -> Show devtools
PostmanConsole -  view -> PostmanConsole

[2017-12-06 03:05] liester commented on #3874
@CoeusCC You can still use the web app if you need it.  That is what I do for now.  If you save them to a collection you should be able to sync them to the desktop application afterwards.

[2017-12-06 03:50] maxnag commented on #3127
@SamvelRaja - about response  headers
_Response Headers unavailable_
by the way all DELETE method has the same problem (

[2017-12-06 04:53] javiersuweijie commented on #1104
+1

[2017-12-06 05:22] SamvelRaja commented on #3127
@maxnag  Thanks for your info.
We need a debug information from our underlying request library.
Can you open postman with `NODE_DEBUG=request` environment

`NODE_DEBUG= request  ./[PATH TO POSTMAN]/Postman/Postman`

[2017-12-06 05:31] SamvelRaja commented on #3904
Thanks for bringing this to our notice. We will patch this up in one of our releases.

[2017-12-06 05:40] shamasis commented on #1104
@kamalaknn our requested supports `contentType` with form data. We need to accept it from outside. We need to add another column in UI?

[2017-12-06 05:43] SamvelRaja commented on #3890
This patch has been included in our latest 5.4.1 version 😄

[2017-12-06 05:43] #3890 closed, assigned to SamvelRaja, kamalaknn

[2017-12-06 05:44] SamvelRaja commented on #3889
Patched up in 5.4.1 stable. Closing this.

[2017-12-06 05:44] #3889 closed, assigned to SamvelRaja

[2017-12-06 05:49] SamvelRaja commented on #2340
Are you guys facing the problem in 5.4.1 Native app?

[2017-12-06 07:50] xmedia-nl opened #3911 "Feature request: extend monitoring API"
Hi guys,

I was working with the monitoring feature and fetching the results with the Postman API. This all work amazingly simple, but there was some information I was missing from the monitoring API.

- Results of the set tests (eg. tests['Response latency is acceptable'] = responseTime < 1000;)
- Fetch test results of x tests to create an historical overview like the webinterface

We are looking

[2017-12-06 07:53] lazyboywu commented on #1180
+1

[2017-12-06 08:14] akaradzha commented on #3905
its a native app,  also i'm using system proxy
http_proxy , https_proxy

system: ubuntu 16.04 lts

[2017-12-06 09:27] mstaalesen commented on #3887
Linux: Environment is set, Click on the ">" on the collection, choose 'Run' from the dialog that appears. Runner is started: Environment (inside the runner) is reset to "No Environment".

Postman-Linux version: 5.4.1

[2017-12-06 09:35] poniat opened #3912 "[Bug] CSV Runner not working for subfolders"
**Version:**
Windows desktop v5.4.1

Today I have updated Postman to newest version. I have used runner for my collection, and it was fine.
After that I have used runner and selected **CSV file**.
Postman detected how many rows I have in CSV, but when I run it - it does nothing.

I have tried with 20 rows, 200 rows and 3k rows - each time I have 0 pass and 0 fails. Request are not send to my backe

[2017-12-06 09:56] SamvelRaja commented on #3912
@poniat I tried reproducing the issue you are facing, but it seems working for me.
Attaching a gif to ensure that this is the use case i need to check
![runnercsv](https://user-images.githubusercontent.com/5114052/33655708-d8ed6cc4-da99-11e7-9811-d68c93f9608a.gif)

[2017-12-06 10:12] poniat commented on #3912
@SamvelRaja I assume you have same version as me.. only difference is that you are using Mac and I use Windows version.

This is what I experience:

![csv_seeder](https://user-images.githubusercontent.com/2472934/33656431-532e8c9e-da76-11e7-91df-201658013e7c.gif)

[2017-12-06 10:24] adamlc commented on #3518
I can confirm this is this still isn't working on macOS v5.4.1 using localhost or 127.0.0.1 with a port.

Edit:
It seems to be any domain with a non standard port doesn't work, e.g. ```google.com:8080``` doesn't work either :(

[2017-12-06 10:24] cascer1 opened #3913 "Allow reordering of examples"
## App Details:

[code]

## Issue Report:
Currently, request examples cannot be re-ordered. I like to order my examples by status code.
Because of this, my examples might become out of order when I add a new one that doesn't have the highest status code.

I would like to be able to change the order in which examples appear.

[2017-12-06 10:34] SamvelRaja commented on #3912
@poniat You have sync enabled?
If so check the collections in the your dashboard and relogin in the app.
Seems like the data is corrupted internally.
If is not enabled, just move the nested folder to the top level and run it, it should work.
Meanwhile we first patch this up in our next canary release.

It is recommended to take the backup of data, if the sync is not enabled.
Settings -> Data -> Do

[2017-12-06 10:57] #3882 closed, assigned to kamalaknn

[2017-12-06 11:08] kondal99 opened #3914 "Sync issue when duplicate the folders within a collection"
Sync issue when duplicate the folders within a collection. duplicated folder is overriding with original folder requests values while syncing between local and server.

Steps:
1. Create a folder test1 with 10 requests.
2. Duplicate folder test1 and rename it to test2
3. update the folder test2 by adding or deleting some requests
4. wait until sync popup appears and select the sync with local value

[2017-12-06 11:11] polydoreplasden opened #3915 "Poor performance when editing or deleting collections or folders"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This bug has been present for several months
 2. Expected behaviour:
Expect copying or deletions of folders/collections to be done in a timely manner
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle

[2017-12-06 11:16] polydoreplasden opened #3916 "When selection a Collection or Folder in Builder window the details are no longer passed to the Runner"
## App Details:

Postman helps you develop APIs faster
Postman for Windows
Version 5.4.1
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This used to work ok but stopped working with the previous release.
 2. Expected behaviour:
When selecting a Collection or folder to run in the Builder window the details should get passed to Collecti

[2017-12-06 11:21] sdnts commented on #3910
@ishepherd Thanks for the feedback! We currently use IndexedDB to store all data. This dates back to when Postman was just a Chrome extension, so writing to files was not an option. However, this can be revisited for our native apps.
I can definitely appreciate your use case. We will look into this :)

[2017-12-06 11:25] sdnts commented on #3911
Thanks for the feature request @xclusionmedia!
You're looking to fetch monitor results for a run, correct? We could perhaps add an endpoint to the Pro API.
We'll look into this and let you know of the progress here.

[2017-12-06 11:27] lukeoliff commented on #285
https://stackoverflow.com/questions/21243599/alternative-to-javascripts-prompt-for-google-chrome-web-app

[2017-12-06 11:27] sdnts commented on #3913
Hi @cascer1, you're right in noticing that examples do not have an order right now. We'll be working on this soon. You can follow #1070 for updates.
Closing this as duplicate :)

[2017-12-06 11:27] #3913 closed, assigned to nobody

[2017-12-06 11:30] sdnts commented on #3915
@polydoreplasden Thanks for reporting this. How many collections, folders and environments do you have?

[2017-12-06 11:32] sdnts commented on #3916
@polydoreplasden Looks like you're on a pretty old version of the app. I tried this with 5.4.0 (latest version as of now), and it seems to be working. Can you try updating and check if that resolves your issue?

[2017-12-06 11:37] sdnts commented on #3914
@kondal99 I'm unable to reproduce this. I created a new collection and tried this. Is this happening for all collections in your case? If not, would it be possible to send over a collection that does this? You can email it to help@getpostman.com if posting it here is not an option.

Ideally, the Sync popup should not be shown in the first place.

[2017-12-06 11:38] poniat commented on #3912
@SamvelRaja I don't sync scripts. Everything I have is my local copy.

But when I moved my subfolder to top and execute runner - then it's working fine.

Thx for helping me. For now I will use this walkaround.

[2017-12-06 11:39] polydoreplasden commented on #3916
@madebysid sorry that app version was wrong - I've now put in the right version. We are running with the latest version.

[2017-12-06 11:53] polydoreplasden commented on #3915
Hi @madebysid I have around 19 environments, 95 collections and >500 folders. However a colleague who has the same issue has reduced the number of collections to around 15 with 150 folders with some improvement in performance. Thanks for looking at this - it's having a real impact on productivity!
Note: we see the same issue when we Import collections.

[2017-12-06 12:12] cascer1 opened #3917 "Examples don't properly sync to online documentation"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have always encountered this issue
 2. Expected behaviour:
When removing or modifying examples, these changes should be correctly synced across devices and to online documentation

1. Create request with several examples
2. Sync to postman cloud
3. Modify some examples, and remove so

[2017-12-06 12:22] sdnts commented on #3917
@cascer1 Does the icon on the top right say `IN SYNC`?
Can you also try doing a force sync? You can do this by clicking on that icon. It should momentarily turn blue, then back to orange.

Let me know if either of these things help.

[2017-12-06 12:32] cascer1 commented on #3917
@madebysid Unfortunately syncing (either waiting for the automatic sync, or manually syncing by pressing the button) does not resolve the issue. The weird part is that these duplicated and incorrectly removed examples do not display as such inside postman itself, everything in postman looks the way it should.

It seems to happen only when I duplicate a request that already has some examples, and t

[2017-12-06 12:44] kondal99 commented on #3914
@madebysid, this is happening many times.
The sync popup showing many times while updating more collections in folder. I will send my collections.

[2017-12-06 13:03] bbartoni commented on #2819
is there any progress on this feature? It's really the missing piece in a wonderful tool.

[2017-12-06 14:01] espaciomore commented on #2931
Thank you, made my day!

[2017-12-06 16:10] Stevoisiak opened #3918 "Updater displays unhelpful error for self-signed HTTPS certificates"
## App Details:
[code]

## Issue Report:

If an error occurs when attempting to download a Postman update with *File -> Settings -> Update*, Postman will display a [vague and non-specific error message](https://user-images.githubusercontent.com/1330770/33669679-22428234-da71-11e7-89ae-144d50417142.png).

I suspect my specific download issue is due to using Postman on a corporate network which inte

[2017-12-06 18:17] jongio commented on #2523
This doesn't work with the client_credentials flow.
![image](https://user-images.githubusercontent.com/2163001/33677721-8ac9bc44-da6e-11e7-97c0-a86067dd64e9.png)

@postman-admin Can you add the ability to specify additional body parameters so I can add a "resource" parameter to satisfy Azure's resource requirement.  I'm asking to add a generic way to add parameters, not Azure specific.  Thanks.

[2017-12-06 18:41] vdespa opened #3919 "Feature Request: Autocomplete for tests / scripts"
It would be nice to have an autocomplete functionality for the scripts. Especially the new pm API and the chai assertions are a bit harder to master and having autocomplete would make our lives easier.

I would just like to know if this is something you are planning for.

Thanks for your work.

[2017-12-06 18:43] tanwangzugata opened #3920 "Copy as cURL for GET requests also contains body from previous non-GET request."
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just started using Postman
 2. Expected behaviour:
Request body is not copied when copying as curl

1. Make a POST request with Postman (include a raw body in the request)
2. Change to a GET method - the "Body" tab is disabled but still contains the body i used for POST
3. Copy as curl

[2017-12-06 19:01] btwynham commented on #3776
I must have hadd about 100 Collections.

I saved my collections off and then deleted them.

And reduced my collections to a total of 12.

Once i did this I no longer have the issue of moving requests.

So I think you guys probably have a scalability issue.

I had thought it had to do with your sync feature but I turned that off and I still ahd the issue.

So maybe when I go to move a request I thi

[2017-12-06 19:01] zamazan4ik opened #3921 "Create packages for Linux-based OS"
Hello,
I use Postman on Linux-based OS (now it's Fedora 27). And on Linux i must download tarball from Postman's site, extract it and run Postman executable.

For Linux-users native way is using package managers.

Can you create packages for the most widely-used Linux-based OS (Debian, RHEL, Ubuntu, Fedora, etc.)? There are only two major package type: .deb and .rpm.

Also you can choose way with

[2017-12-06 19:34] Lucy4Ever opened #3922 "Feature Request: Put search in Environment Quick Look"
I would like to find the variables and values in a faster way than just scrolling though the globals.

[2017-12-06 19:39] mblandfo commented on #2159
Looks like duplicate of https://github.com/postmanlabs/postman-app-support/issues/929

[2017-12-06 19:41] mblandfo commented on #929
Tags would be awesome. Here is my use case:

Server dev creates collections of requests by service.

Client dev doesn't care about what service requests come from, client dev wants them by feature.

Server dev tags them by feature, shares link to tag to client dev.

[2017-12-06 19:47] mblandfo opened #3923 "Exporting a collection exports your unsaved requests."
## App Details:
[code]

## Issue Report:

1. Click "New" button in top left and select Request, give it a name
2. Select your request and enter a url.
3. On the collection your request is under, click export
4. Your request is exported without the url, because the changes (adding a url) wasn't saved!

Expected behavior:
When you are exporting something that hasn't been saved, the app should either

[2017-12-06 19:51] mblandfo commented on #3923
Apparently if I close postman and reopen postman my request is still there, but in an unsaved state. Weird. It'd be nice to have something in settings to always autosave your changes.

[2017-12-06 19:55] mblandfo commented on #3923
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3901

[2017-12-06 19:55] #3923 closed, assigned to nobody

[2017-12-06 19:55] mblandfo commented on #3901
It would also be nice to have an Always Autosave setting so I don't have to click save.

[2017-12-06 20:15] steveardis commented on #3444
I was hoping for the same type of functionality.  Wouldn't an update be possible if you used the endpoint URL and HTTP verb?  For example, "GET" and "/v1/someEntity/".  You would need to ignore the protocol, hostname and port I believe.

[2017-12-06 20:56] jfneis opened #3924 "Duplicated request loses body after saving example"
## App Details:
Postman for Linux
Version 5.3.2
linux 4.4.0-59-generic / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: found it this week after working with several SOAP XML requests/responses.
 2. Expected behaviour: after saving the first example, the request body should remain the same as the one that originated the request.
 3. Console logs: does

[2017-12-06 21:23] Asuquo12 commented on #2076
@mbirtwistle Thanks bro

[2017-12-06 21:49] philmirez commented on #2978
Will an update be posted here or should I just keep checking the community channel?

[2017-12-06 22:18] centur commented on #2833
5.4.1 on windows 10 - still exists =( Also subscribing to the thread to see when it's resolved.

Alt+Space, then M and arrows help, though. Thanks for the hint @PaulRobson85 , was missing that feature after Win8 menus changed.

[2017-12-07 01:45] isaru66 commented on #3566
I have run into this issue after upgraded from chrome app. Hope postman team will make this work out of the box soon.

For me, i have use CTNLM(http://cntlm.sourceforge.net) proxy as a work arround and it works very well.

[2017-12-07 07:27] tonyzheng121 commented on #3920
This is a big bug.

when a send a GET request, then change to send POST resquest, but it still send a GET request.

[2017-12-07 07:28] sdnts commented on #3898
@sumit1317 Maybe there's an issue with your backend service? It is very difficult for us to debug without information about your server.
Closing as this is not related to Postman. Please reopen if you feel otherwise :)

[2017-12-07 07:28] #3898 closed, assigned to nobody

[2017-12-07 08:07] RuggeriLuca opened #3925 "Restrive iteration status using : postman.__execution.tests"
Hi ,
using the previews version of Postman i was able to run the below command in the tests phase , so i was able to retrieve all tests that was run for the iteration

    var verification = JSON.stringify(postman.__execution.tests);.

Now with the new version the above command return Null string .

My scope is to retrieve the status of the iteration to understated if there are failed test or not

[2017-12-07 08:08] sumit1317 commented on #3898
It is related to Postman, because API call from Postman is working perfectly fine ( hence no issue in server ) , but the NodeJS code generated from Postman is not working fine.

Regards,
Sumit Singh Chadha

[2017-12-07 08:12] RuggeriLuca commented on #2962
Hi ,
There are any news regarding this feature ?

Luca

[2017-12-07 08:59] taotao365s commented on #1947
+1

[2017-12-07 09:15] Fabriciuz opened #3926 "New native Postman app - 401 unauthorized"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Been there since the new native app, worked fine in Chrome app
 2. Expected behaviour: Authorization via Windows AD, like the Chrome app
 3. Console log:
[code]

 4. Screenshots (if applicable)

Steps to reproduce the problem:
Call a web service that assumes that the user is logged in

[2017-12-07 09:29] Ocsidot commented on #2336
Hello,
Normally, the collection variable feature should be in the current release.
I can add variables in the collection, it's good, but I can't use these variables in any request or in tests.
Is there something wrong ?

Thanks

[2017-12-07 09:32] kamalaknn commented on #2336
@Ocsidot Thats odd. Could you elaborate on how you're setting and using the collection variables?

Maybe a screenshot of the app or the exported collection will help us narrow it down.

[2017-12-07 09:50] bofrede commented on #3831
I have the same problem: All versions after 5.2.1 are broken.
Requests doesn't seem to be sent. No output on the Postman console.
It doesn't matter if the requests are from an existing collection or whether it has authentication or not. Even new GET requests fails.
Latest test:
Postman 5.4.1 on Linux 4.10.0-40-generic / x64
Rolling back to 5.2.1 is all we can do for now. :-(

Is there any investig

[2017-12-07 10:00] Ademord commented on #292
Any updates on this?

[2017-12-07 10:07] skyboyer opened #3927 "pm.sendRequest to return promise instead of pm object"
Currently pm.sendRequest returns pm object itself(btw it is not described into documentation - 'sendRequest' is described as 'pm.sendRequest:Function' and that's it).

So far it allows us to write
`pm.sendRequest(firstUrl).sendRequest(anotherUrl)`.
This way requests will be sent in parallel.

But it does not make a lot of sense:
1. in comparison with two separated lines it does not save time(`pm.`

[2017-12-07 10:07] kamalaknn commented on #3831
@bofrede

This should not happen. Can you give us more details on the following points so we can look deeper?

1. Could you share a screenshot or the exported collection json we can use to reproduce this?
2. Are you seeing this for all requests? Could you try sending the request to `https://postman-echo.com/get`? You should see a json response.
3. Is your network connection on a Proxy? Could you v

[2017-12-07 10:08] DaveWishesHe commented on #3889
An addendum to this - I continued to experience the described issue in v5.4.1 after copying the new install over the top of the old one (as I would normally do).

To resolve, I completely removed the install and added the new one back in.

[2017-12-07 10:15] SamvelRaja commented on #3889
@DaveWishesHe  can you provide me the OS version?

[2017-12-07 10:20] skyboyer commented on #2207
I believe this one and #3013 are about the same

[2017-12-07 10:35] Ocsidot commented on #2336
@kamalaknn Here are some screenshots

![2017-12-07 11_31_05-postman](https://user-images.githubusercontent.com/6094145/33710967-9274e21e-db42-11e7-983f-a0c300fa01e7.png)
![2017-12-07 11_32_32-postman](https://user-images.githubusercontent.com/6094145/33710975-9595bd2e-db42-11e7-8b2d-7e437829200b.png)

And I don't know how to call this collection variable inside a test script ??
Thanks for your hel

[2017-12-07 10:36] bofrede commented on #3831
Proxy is off.
All requests fail on 5.4.1, including `GET https://postman-echo.com/get`

I saved the `GET https://postman-echo.com/get` request using version 5.2.1, where it worked.
On version 5.4.1, the Postman Console is empty.
I did however find an error message in the Developer Tools Console:
[code]

[2017-12-07 10:43] kamalaknn commented on #3831
Hi @bofrede

This could be an issue with upgrade.

Could you explain your update workflow? Could you try removing your installation directory and reinstalling the Postman App?

[2017-12-07 10:46] skyboyer commented on #1072
probably should be merged with #1535

[2017-12-07 10:49] kamalaknn commented on #2336
@Ocsidot

Can you make sure you've saved the collection after adding the variables and the request into this collection?

You should be able to use the collection variables in scripts with `pm.variables.get('testVar')`.

If you're not able to see this working could you export the collection and share it with us?

[2017-12-07 10:52] skyboyer commented on #1535
When I export collection I can see each collection has it's own unique _postman_id.
Once request gets its unique id too it would be easier to implement "linking" or "referencing" to shared request.

[2017-12-07 11:13] DaveWishesHe commented on #3889
@SamvelRaja absolutely, same (almost) as original bug report

[code]
Postman:

[code]
Resolved by removing and re-adding entire directory, but a bit weird. I was a bit behind on my updates too, if that makes a difference. Upgrade was from 5.3.0 to 5.4.1.

[2017-12-07 11:36] mighty98 commented on #1632
Guys.. In  this example can someone please help me know how to store email ids of a specific LIJ.
In this example i need to store email ids coming under "LIJ": "mmmm9-42c324c71bb0" alone and not from the whole response

[2017-12-07 11:39] bofrede commented on #3831
# Yes - success!
I miss a self-update feature in Postman, so I made a simple bash script:
[code]
As you can tell, the old folder was never deleted.
The last line, which is commented, is only necessary on the initial install.

I have just renamed the old Postman program folder inside `/opt`, installed the new version again.

## It works now
Comparing the old and new folders, I have a lot of files a

[2017-12-07 11:41] thecuriousdev commented on #3922
@Lucy4Ever, Thanks for this feature request! We are already tracking this in #3235

[2017-12-07 11:43] mighty98 opened #3928 "Need help with JSON nested response"
Guys, can someone please help with below.
My JSON response has a structure like below. I need to store all location ids for user 2 here in a variable in postman. How do i do it

[
    {
        "email": "mit@mit.com",
        "firstname": "mit",
        "lastname": "mit",
        "id": 3979,
        "location": [
            {
                "id": 1,
                "location_name": "Chennai",

[2017-12-07 11:57] thecuriousdev commented on #3928
You can make use of test scripts in Postman App, https://www.getpostman.com/docs/postman/scripts/test_scripts

And save the data into an environment variable

This might be helpful,
https://www.getpostman.com/docs/postman/scripts/postman_sandbox

[2017-12-07 12:01] #3922 closed, assigned to nobody

[2017-12-07 12:08] kamalaknn commented on #3831
@bofrede Great!

We'll look into "Updating Linux App" docs and make sure this is communicated properly.

[2017-12-07 12:08] #3831 closed, assigned to kamalaknn

[2017-12-07 12:12] thecuriousdev commented on #3921
@ZaMaZaN4iK thanks for this feature request, we are tracking this in #2931

[2017-12-07 12:12] #3921 closed, assigned to nobody

[2017-12-07 12:14] thecuriousdev commented on #3919
@vdespa thanks for this feature request, we'll keep you posted here.

[2017-12-07 12:15] SamvelRaja commented on #3889
@DaveWishesHe  Thanks :)

[2017-12-07 12:26] thecuriousdev commented on #3927
@skyboyer thanks for reaching out! Since postman core is used in multiple platforms (Postman app, Newman, Monitors) we cannot use JavaScript promises at this point. So for now we have to stick with callbacks. Once node v4 support is completely dropped we'll consider moving to promises.

https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-12-07 12:26] #3927 closed, assigned to nobody

[2017-12-07 12:36] thecuriousdev commented on #3918
@Stevoisiak thanks for reporting this issue. We'll look into this and try to display this error in an informative way. We'll keep you posted here.

[2017-12-07 12:41] thecuriousdev commented on #3920
@tanwangzugata thanks reporting this issue, We are able to re-produce this issue, and will get it fixed soon.

[2017-12-07 12:51] thecuriousdev commented on #3924
@jfneis thanks for reporting this issue, We'll look into it, and will keep you posted here.

[2017-12-07 12:51] pawan-mittal commented on #2406
I am also facing same issue. Bearer token is un-defined for Auth 2.0

[2017-12-07 13:46] tylrd commented on #1947
With 5.4.1, we can now add variables, authorization, pre-request and test scripts to a collection or folder, but still no default collection/folder level headers. Please add this feature - without default headers a lot of the collection-level variables and pre-request scripts are not useful to me.

[2017-12-07 14:22] Ocsidot commented on #2336
@kamalaknn , thank you, now it works in test and pre-request scripts :+1:

I can use the variable in request but the auto completion and the  preview does not work.

[2017-12-07 14:32] kamalaknn commented on #2336
Great! Closing this issue then.

We'll work on improving this in the next few releases where we'll work on auto-completion and preview.

[2017-12-07 15:35] jgf5013 commented on #285
+1

[2017-12-07 19:30] nihaals commented on #3266
I'm on 5.4.1 and still getting this

[2017-12-07 19:50] tienle488 commented on #2738
thank YOU for the fix!!

[2017-12-07 20:01] BrianKilby opened #3929 "Variables within a variable in the environment scope"
We use to be able to declare a global/environment variable that referenced other variables such as the below.  With the latest Postman release v5.4.1, this no longer works.  Is this lost of functionality by design or in error?  We used this technique to reduce/eliminate duplication.  As of v5.4.1, we've had to hard-code those values in 2 places.  Not ideal.

Example environment file:
{
  "id": "94

[2017-12-07 22:05] tomselvi commented on #2857
https://insomnia.rest/ is open source and looking for someone to add swagger support if closed Postman team cannot keep up with community requirements

[2017-12-07 22:13] brentco commented on #3903
I'm assuming this goes for all forms of supported authentication. Thanks for the response!

[2017-12-07 22:39] emptyway opened #3930 "Feature Request: Combining 1 or multiple Environment Variables"
Currently only one Environment can be choosed. Which is already very useful to quickly change URL, username/password, access token, etc.

But If I have multiple URLs(Dev, QA, PROD) and multiple username(Free, Paid and Premium Type User)
I need to create  my Envs like this:
-  Dev - Free Type
-  Dev - Paid Type
-  Dev - Premium Type
- QA - Free Type
- QA - Paid Type
- QA - Premium Type
- PROD - Fre

[2017-12-07 23:01] EtonDoze opened #3931 "Scrollspy Postman documentation"
I love postman documentation and its great and neat tool for quick documentation.
It would be cool to have scrollspy like feature in documentation where the left navigation would highlight the specific API based on the scroll position. Postman documentation tends to be longer (long single page) and reader needs a feedback mechanism to know which section/API he is looking at at any point of time. L

[2017-12-08 03:39] mighty98 commented on #3928
Thanks @thecuriousdev. However these didnt help me with the speicific query :(

[2017-12-08 05:40] kamalaknn commented on #3903
@brentco Thank you for your feedback.

We have a few improvements planned for OAuth 2.0 token flows. We would want to make OAuth 2.0 credentials attached to the request just like other Authorization methods.

We are working a few other interesting features for now. We'll pick this up after this.

[2017-12-08 05:50] surajds opened #3932 "Suggestion: Request Body > Form-data to json"
I believe it will be very useful if we can get any simple functionality to convert the form data (key value list) to json data right in place.

[2017-12-08 10:46] KatjaLeu commented on #3497
Hello

The problem was configurative – I had to change some proxy configs, it works now

Have a nice day

From: Numaan Ashraf [mailto:notifications@github.com]
Sent: Tuesday, December 05, 2017 6:27 PM
To: postmanlabs/postman-app-support
Cc: Leuenberger Katja (IT-SWE-TF-TS2); Mention
Subject: Re: [postmanlabs/postman-app-support] Although I am logged in I cannot sync (#3497)

@KatjaLeu<https://gith

[2017-12-08 11:12] SamvelRaja commented on #3930
Thanks for providing the feature request. We shall analyze this internally and try to provide the possible solution for it.

[2017-12-08 11:14] SamvelRaja commented on #3932
Thanks for providing the feature request. We shall put this to our UX team to get with a better solution.

[2017-12-08 11:19] SamvelRaja commented on #3931
@EtonDoze we do have the anchor for the requests, by which you can actually provide the link to a particular request in the documenter.
https://docs.postman-echo.com/#54dfe6f2-5887-1078-1f3c-3cf36acc648e

We still have the issue of not opening up the folder when it is inside it, we shall look into it. Thanks for bringing this to our notice.

[2017-12-08 11:35] SamvelRaja commented on #3925
@LRuggeriPostman
You can very well use the tests object.
console.log(JSON.stringify(tests));
But, anyway, the async tests won't be available in that.
Can you provide us the use case for the that?
![tests](https://user-images.githubusercontent.com/5114052/33764330-015f00c2-dc3a-11e7-9cd3-ac37c183f2fa.gif)

[2017-12-08 11:39] kamalaknn commented on #3929
Hi @BrianKilby ,

We are trying to reproduce this. I imported this environment and used it with a request. I am able to see the variable being resolved.

![out](https://user-images.githubusercontent.com/8401064/33764473-82bb8546-dc3a-11e7-87ae-3668f944984f.gif)

Could you provide more information to help us debug this?

[2017-12-08 12:06] petrussorin opened #3933 "Unable to run requests from a specific folder using ./node_modules/newman/bin/newman.js"
1. Installed the newman using the following commands.

npm init (created a package.json)
npm install --save newman (installed newman and added to package.json)

2. I'm running the tests in the following way:

./node_modules/newman/bin/newman.js run
3. Adding --folder option I'm getting each time same result...that the folder doesn't :

NOTE: using "newman run" (version 3.8.3)  instead of "./node_m

[2017-12-08 12:27] joaovpmamede commented on #697
But Is it possible to select a request from a collection (with all data in place) without having to code everything in `pm.sendRequest()`?

[2017-12-08 12:28] kunagpal commented on #3933
Closing as a duplicate of https://github.com/postmanlabs/newman/issues/1324

[2017-12-08 12:28] #3933 closed, assigned to nobody

[2017-12-08 13:07] hujunhaorobert opened #3934 "Duplicate a folder generates the Requests twice under the duplicated folder"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently found this error
 2. Expected behaviour: Should only duplicate 1 time of the Requests under the newly created folder
 3. Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/10079887/33766891-a4ea082a-dc73-11e7-9f81-a4ecd07d0662.png)

[2017-12-08 13:46] michelics commented on #3127
![image](https://user-images.githubusercontent.com/15693278/33768507-74a7a9c6-dc0d-11e7-91e5-0094e41bb48f.png)

[2017-12-08 13:49] michelics commented on #3127
![image](https://user-images.githubusercontent.com/15693278/33768598-c9a7edc8-dc0d-11e7-9e63-9e27206530d2.png)

[2017-12-08 13:55] deepakpathania-zz commented on #3933
Hey @petrussorin, thanks for reporting it, this has been fixed and released in [3.9.1](https://github.com/postmanlabs/newman/releases/tag/v3.9.1). Go ahead and try it and feel free to reach out in case you have any other queries. :smile:

[2017-12-08 13:58] petrussorin commented on #3933
Thanks guys

[2017-12-08 15:06] SamvelRaja commented on #3127
@michelics  Can you try updating to out latest version 5.4.1?

[2017-12-08 17:59] Arunkeshavareddy opened #3935 "Unable to get value of Environment variables"
After updating Postman to  5.4.1, Pre-request and Tests Scripts are unable to get the value of Environment variable.

[2017-12-08 18:14] MikeBergstrom opened #3936 "Issue with request to Virtual Machine"
## App Details:

[code]

## Issue Report:
 1. Recent Issue
 2. Expected behaviour: API response from virtual machine hosted app
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
Request Headers:
cache-control:"no-cache"
user-agent:"PostmanRuntime/7.1.1"
accept:"*/*"
host:"192.168.99.1

[2017-12-08 18:27] curtisgibby commented on #2340
Looks good 👍 in the latest native app:

![screenshot from 2017-12-08 11 26 12](https://user-images.githubusercontent.com/1086964/33779535-98dcd63e-dc0a-11e7-9f9d-1c37319bb01f.png)

[2017-12-08 18:54] ghost opened #3937 "Content-Type in consistent Mac App to Chrome App"
When I make an attempt to upload a file, in some instances form-data in the body of the call is all that I need to use. In others it seems as though I have to specifically declare multipart/data content-type in the header otherwise something is overriding the formdata and I get an, "415: Unsupported media type error."

* Other uploads work to other endpoints. Other users (Chrome Browser Client), a

[2017-12-08 20:12] BrianKilby commented on #3929
Try with an aync call such as :

// Load live schemas for comparison
    pm.sendRequest({
        "url": pm.environment.get("core-protocol") + "://" + pm.environment.get("core-domain") + "/jobBoardsApi/v1.0/jobBoards/schema",
        "method": 'GET',
        "header": {
            "Accept-Language": pm.environment.get("core-header-accept-language"),
            "Authorization": pm.environment.get

[2017-12-08 20:26] amagsomb-ford commented on #2050
+1 we need it now! lol

kidding aside, looking forward too on this feature.

[2017-12-08 22:33] mxdi9i7 commented on #3518
+1, still not fixed as of today.

[2017-12-08 22:40] ahaberbosch opened #3938 "stray apostrophe in Team Library message"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: "The Team Library and its collaboration tools..."
http://theoatmeal.com/comics/apostrophe

Open Team Library without it being enabled.
"The Team Library and it's collaboration tools..."

[2017-12-09 01:14] sh3raawii commented on #697
Yes it would be extremely useful if we can select a request from a collection instead of re-writing everything again in `pm.sendRequest()` much like `postman.setNextRequest('request-name')`

[2017-12-09 04:25] SamvelRaja commented on #3902
@DanielPetatCes The issue has been resolved in our canary channel can you try that out and confirm the same from your end?
https://www.getpostman.com/canary

[2017-12-09 04:40] SamvelRaja commented on #3938
Thanks for bringing this to our notice 👍

[2017-12-09 08:35] kamalaknn commented on #3929
@BrianKilby I get your point now.

If you're using the `pm.environment.get`, it now returns the value and not resolved nested value..

At the moment there is no alternative to this. You'll have to construct the variable in the script. We'll see if we can expose an API to resolve variables to use in the scripts.

[2017-12-09 08:35] #3929 closed, assigned to kamalaknn

[2017-12-09 09:08] Keoven commented on #1180
+1

[2017-12-09 09:10] sixeyes opened #3939 "Can't read tab descriptions when more than a few are open"
Can the tab position be changed from Top (as it is currently) to Left (appear next to History / Collections)?

Once you open a few tabs it's impossible to read the descriptions, even on a large monitor.

If they could be placed down the left hand side (next to History / Collections), all the tabs would be readable, even if 20+ were open.

Alternatively can tooltips be enabled, so that hovering ove

[2017-12-09 10:04] ratatatKE commented on #1647
This is perfect, worked like magic. as @AgentMC  said, make sure you execute the code one comment to the next.. to the next .. while reading the comments and replacing the `data` variable.

[2017-12-10 06:06] prashantagarwal commented on #3938
@ahaberbosch We got this fixed in 5.5.0 release. Thanks for reporting this.

[2017-12-10 06:06] #3938 closed, assigned to SamvelRaja

[2017-12-10 06:08] prashantagarwal commented on #3902
@DanielPetatCes We have fixed this in 5.5.0 release. Feel free to reopen this issue if you are still seeing this.

[2017-12-10 06:08] #3902 closed, assigned to prashantagarwal, SamvelRaja

[2017-12-10 06:10] prashantagarwal commented on #3723
@JasonMing This is fixed in 5.4.0+ versions of Postman. Feel free to reopen this issue if you are still seeing this.

[2017-12-10 06:10] #3723 closed, assigned to prashantagarwal

[2017-12-10 06:11] prashantagarwal commented on #3701
@dyymmi This is fixed in Postman 5.4.0+ versions. Feel free to reopen if you are still seeing this issue.

[2017-12-10 06:11] #3701 closed, assigned to prashantagarwal

[2017-12-10 06:12] prashantagarwal commented on #3654
Closing this as duplicate of #2876

[2017-12-10 06:12] #3654 closed, assigned to kamalaknn

[2017-12-10 06:14] prashantagarwal commented on #3283
@efulmo We have got this fixed in 5.4.0 version. Can you update to the latest version of Postman and verify that this is resolved.

[2017-12-10 06:15] prashantagarwal commented on #3222
@Vietntse02406 This is fixed in latest version of Postman. Thanks

[2017-12-10 06:15] #3222 closed, assigned to prashantagarwal

[2017-12-10 06:16] prashantagarwal commented on #3162
@pauloallex24 This is now fixed in the newer releases of Postman. Can you please update your app. Feel free to reopen if you are still seeing this issue.

[2017-12-10 06:16] #3162 closed, assigned to prashantagarwal

[2017-12-10 06:19] #3678 closed, assigned to kamalaknn

[2017-12-10 09:22] littlefisher666 commented on #882
+1

[2017-12-10 09:29] prashantagarwal commented on #882
Collection/ Folder level scripts are out in Postman 5.5.0. You can read more about it here https://www.getpostman.com/docs/postman/scripts/intro_to_scripts#execution-order-of-scripts.

[2017-12-10 09:29] #882 closed

[2017-12-10 13:00] hkalex commented on #2701
+1 here!!

[2017-12-10 13:41] AlexanderTunick opened #3940 "How to setEnvironmentVariable for data from array"
Hi. I have this piece of code where i wanna setEnvironmentVariable out of  "id": 1856
I made this:
var Jdata = JSON.parse(responseBody);
postman.setEnvironmentVariable("delete_geo", Jdata.data.data.data.id);

but it doesn't work (value is undefined), could you give me an advice?
next i gonna pass it to delete request in row {{api_base_url}}target/geo/{{delete_geo}}
{
    "data": {
        "segment

[2017-12-10 17:21] stevemcmillen commented on #882
Awesome.  Just tested this out on canary build and working great so far.  Very nice!  Thank you for adding this!!

Nicely implemented with auth, variables and pre/post-request scripts.  Override is a good idea for max flexibility.

[2017-12-10 18:25] agluquetc commented on #1906
+1

[2017-12-10 21:25] cebor commented on #3887
Issue still in `5.5.0`

[2017-12-11 00:07] bluesman commented on #285
+1

[2017-12-11 00:35] hujunhaorobert commented on #3934
Just updated to latest POSTMAN desktop app version V5.5.0 (11/12/2017), the issue is still there and reproducible.

[2017-12-11 02:21] jonathan-clark commented on #2030
+1

[2017-12-11 03:48] dordal commented on #2617
+1 on this. Would really like this to get fixed; we're using Postman to demo our API and this makes it a lot harder for users.

[2017-12-11 04:59] a85 commented on #720
The API Network is rolling out with 5.5. More details to follow soon in a press release.

![screenshot 2017-12-06 15 52 44](https://user-images.githubusercontent.com/653409/33816329-1eed8d36-de5e-11e7-834b-02a08d359a2b.png)

[2017-12-11 04:59] #720 closed

[2017-12-11 05:01] a85 commented on #2775
We will change the behavior of presets at a later date. Closing this now as we are backlogged heavily.

[2017-12-11 05:01] #2775 closed, assigned to a85

[2017-12-11 05:03] a85 commented on #3032
Postman with 5.4+ now supports collection and folder level scripts which will eliminate duplication across requests. We are working on a plug-in framework that will help deal with external dependencies. Will be part of a separate initiative.

[2017-12-11 05:03] #3032 closed, assigned to a85

[2017-12-11 05:08] a85 commented on #3571
I don't think this is going to be on our roadmap any time soon as we intend a collection to be a source of truth. We suggest creating multiple collections/multiple documents and linking them together.

[2017-12-11 05:08] #3571 closed, assigned to a85

[2017-12-11 05:08] harryi3t commented on #3926
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/2240
Please upvote and/or subscribe to the original issue for updates.

[2017-12-11 05:08] #3926 closed, assigned to harryi3t

[2017-12-11 05:11] a85 commented on #430
The entire HTTP transaction is available in the console:

![screenshot 2017-12-11 10 41 17](https://user-images.githubusercontent.com/653409/33816563-d9eb5f72-de5f-11e7-81fb-319a66572cd4.png)

[2017-12-11 05:11] #430 closed

[2017-12-11 05:36] dannash918 commented on #2601
Any workarounds for this?

[2017-12-11 05:46] dannash918 commented on #3518
For those looking for a workaround I was able to add cookies using just localhost (no port). Thanks to @adamlc for recognising it was a port issue.

![image](https://user-images.githubusercontent.com/20009111/33817272-c6b8dbea-de92-11e7-9412-241ebdbe9dd3.png)

[2017-12-11 07:07] harryi3t commented on #3869
Support for auth in proxy is not there yet.
There is a feature request for this here https://github.com/postmanlabs/postman-app-support/issues/3566
Please upvote and/or subscribe to the original issue for updates.

[2017-12-11 07:07] #3869 closed, assigned to prashantagarwal

[2017-12-11 09:34] DanielPetatCes commented on #3902
Works again, thank you. :)

[2017-12-11 09:44] anasnajaa commented on #3935
@Arunkeshavareddy Did you manage to fix this issue?
I'm having the same problem in Postman v5.5.0, desktop version.

Edit:
I managed to find a temporary fix by replacing "/" in variable names with another character ("_" in this case). Environment variables used to work previously with forward slashes.

[2017-12-11 09:48] abargstaedt opened #3941 "Postman doesn"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-12-11 09:48] #3941 closed, assigned to nobody

[2017-12-11 09:48] abargstaedt commented on #3941
Accidentally pressed enter

[2017-12-11 10:02] abargstaedt opened #3942 "Postman doesn't bypass proxy for localhost if HTTP_PROXY is set"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Our environment has changed recently. So not sure it always behaved like this.
 2. Expected behaviour:
When you issue a request to localhost respectively 127.0.0.1 it should bypass the web proxy. Postman seems to do so until you set the environment variables HTTP_PROXY and HTTPS_PROXY

[2017-12-11 10:17] abargstaedt commented on #3942
I wrote a command line script that works well as a work-around and this way it also confirms that the environment variables are the cause.

<pre>SET HTTP_PROXY=
SET HTTPS_PROXY=
START %LOCALAPPDATA%\Postman\Update.exe --processStart "Postman.exe"</pre>

[2017-12-11 10:40] Faz540 commented on #2273
How on earth isn't this more requested? haha 😛
Unless this is a duplicate issue and the original has a lot more +1s.

@a85 Is there any progress on this or is this part of the roadmap at all?

Other than my community post below, the only workaround is to just delete and re-share an environment and then tell your team members to re-subscribe to the new environment.

https://community.getpostman.com

[2017-12-11 10:45] jasperloos commented on #3940
Hi Alex, can you try if this is working?

var Jdata = JSON.parse(responseBody);
postman.setEnvironmentVariable("delete_geo", Jdata.data.data.data[0].id);

[2017-12-11 11:48] Faz540 opened #3943 "[Feature Request] - Expose the new pm.test() tests to the 'tests' object"
Hi,
Given I have the below test script in my endpoint and I'm expecting both tests to fail.
[code]

The console will only output the first test, the "old" way of writing tests.

![image](https://user-images.githubusercontent.com/9334128/33829620-f99925a8-de68-11e7-88e2-f8c4772a5d2d.png)

If possible, can we expose the newer "pm.test()" tests to the same tests object. Or given them their own object

[2017-12-11 11:50] martijnvp opened #3944 "Feature request: Postman monitors to monitor a subset of requests from a collection"
It would be useful to identify a subset of requests from a collection as relevant for monitoring. This allows a collection to be re-used for a full API test (for instance running on code commit through newman) while also allowing a subset of the same requests and related test scripts to be monitored where monitoring requirements do not call for running the full test suite.

[2017-12-11 12:04] kamalaknn commented on #3934
@hujunhaorobert Thanks for reporting the issue. We'll look into this.

[2017-12-11 12:16] AlexanderTunick commented on #3940
Hi jasperloos, thanks! It works, I made a mistake and could not figure out, but problem turned out to be little nonsense

[2017-12-11 12:16] #3940 closed, assigned to nobody

[2017-12-11 12:24] a85 commented on #1285
This is available now in 5.5+

[2017-12-11 12:24] kamalaknn commented on #3944
Hi @martijnvp I'm marking this as a feature request. We can't guarantee the timeline on this. We'll keep the thread updated.

[2017-12-11 12:24] #1285 closed, assigned to nobody

[2017-12-11 12:26] #1123 closed, assigned to nobody

[2017-12-11 12:27] a85 commented on #1159
Collection level scripts are now available in Postman 5.5+! Docs at www.getpostman.com/docs coming soon.

[2017-12-11 12:27] #1159 closed, assigned to nobody

[2017-12-11 12:29] a85 commented on #1495
This is available as the Postman API Network in versions 5.5+

[2017-12-11 12:29] #1495 closed, assigned to nobody

[2017-12-11 12:31] a85 commented on #2400
You can now use Collection level auth, pre-request scripts, test scripts and variables to reduce duplication at a request level. I suggest trying those out. Available in versions 5.5+

[2017-12-11 12:31] #2400 closed, assigned to nobody

[2017-12-11 12:32] a85 commented on #2247
Collection level scripts (pre-request, test) scripts are available in version 5.4+. Docs to follow soon!

[2017-12-11 12:32] #2247 closed, assigned to nobody

[2017-12-11 12:34] a85 commented on #2749
Collection and folder level scripts are now available in 5.4+

[2017-12-11 12:34] #2749 closed, assigned to a85

[2017-12-11 12:35] a85 commented on #2881
Collection level scripts are available in Postman 5.4+!

[2017-12-11 12:35] #2881 closed, assigned to SamvelRaja

[2017-12-11 12:35] a85 commented on #2876
Closing this and tracking the thread here #3205

[2017-12-11 12:35] #2876 closed, assigned to nobody

[2017-12-11 12:36] a85 commented on #2955
Collection level scripts, auth etc. are now available with version 5.4+!

[2017-12-11 12:36] #2955 closed, assigned to nobody

[2017-12-11 12:40] a85 commented on #3476
I don't think we will do this feature as part of our current roadmap. We recommend using separate collections right now. We are working on tools to help with similar requests across collections (find and replace, refactor) etc.

[2017-12-11 12:40] #3476 closed, assigned to a85, godfrzero

[2017-12-11 12:41] AlexanderTunick opened #3945 "Pass data to POST request from JSON file"
Hi! Briefly.
I have **POST** request. (here is url.)

In body:
Key: **targetingCriteriaId** ( I pass only one number, but i want to pass 1 out of 4 number ( 1 || 2 || 3 || 4) randomly.

I created json file:
[code]
and want to pass one of these numbers to Value of **targetingCriteriaId**

How to do that or maybe exists an easier way to do something like that, I'm aware that possibly it is "amateur"

[2017-12-11 12:43] a85 commented on #3773
Sorry but we won't have this on the immediate roadmap. Documentation is not a static HTML/CSS page that we can publish. There are several other systems that will complement docs as part of the full SaaS offering for Pro/Enterprise (annotations, versioning, real-time collaboration etc.). We'll re-open this thread if plans change. I'd recommend using an external library for converting and hosting do

[2017-12-11 12:43] #3773 closed, assigned to godfrzero

[2017-12-11 12:53] #1366 closed, assigned to nobody

[2017-12-11 12:54] #1376 closed, assigned to nobody

[2017-12-11 12:56] a85 commented on #1717
https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-12-11 12:56] #1717 closed, assigned to nobody

[2017-12-11 12:56] #1685 closed, assigned to nobody

[2017-12-11 12:58] #2352 closed, assigned to nobody

[2017-12-11 12:58] #2891 closed, assigned to nobody

[2017-12-11 12:59] saurav28 opened #3946 "Client certificate authentication not working"
i am trying to simulate client certificate based authentication for my APIs in postman.

https://www.getpostman.com/docs/postman/sending_api_requests/certificates

I have followed this document and was able to send the certificate (as shown in postman console).

In server side i look for ssl_client_cert header name to check if it is a certificate based authentication (as i have other modes of auth

[2017-12-11 13:02] a85 commented on #1897
This is much more complicated to implement and manage over time than it looks. We suggest using the team library feature to collaborate with others or just re-importing from the URL.

[2017-12-11 13:02] #1897 closed, assigned to nobody

[2017-12-11 13:05] a85 commented on #3910
There are other data types (test results, sessions, certificates, application state) that Postman stores and storing them in a git repository is not feasible - which means Postman now needs to maintain it's own data store as well as everything the filesystem has. For API collaboration, Git repositories then need to be accessible across several teams which means everybody needs to have access to th

[2017-12-11 13:06] #3910 closed, assigned to numaanashraf

[2017-12-11 13:10] MitchDart commented on #285
+1

[2017-12-11 13:10] loraxipam commented on #3205
Great work on this, guys! This is fantastic.

[2017-12-11 13:43] #3636 closed, assigned to prashantagarwal

[2017-12-11 13:43] #1595 closed, assigned to nobody

[2017-12-11 13:43] #2332 closed, assigned to SamvelRaja

[2017-12-11 13:44] #2340 closed, assigned to SamvelRaja

[2017-12-11 13:44] #3519 closed, assigned to SamvelRaja

[2017-12-11 13:45] a85 commented on #3633
You can copy/paste the response from the body. We'll have more features around this announced when we do a new version of the runner.

[2017-12-11 13:45] #3633 closed, assigned to a85

[2017-12-11 13:45] #3666 closed, assigned to prashantagarwal

[2017-12-11 13:45] #3572 closed, assigned to prashantagarwal

[2017-12-11 13:46] #3784 closed, assigned to harryi3t

[2017-12-11 13:46] #3802 closed, assigned to sdnts

[2017-12-11 13:47] #3810 closed, assigned to SamvelRaja

[2017-12-11 13:47] #3855 closed, assigned to numaanashraf

[2017-12-11 13:47] #3881 closed, assigned to SamvelRaja

[2017-12-11 13:47] #3899 closed, assigned to SamvelRaja

[2017-12-11 13:48] #1696 closed, assigned to nobody

[2017-12-11 13:49] AlexanderTunick opened #3947 "Error Message: Unexpected token ) when I Run folder via Runner and no error when do it manually"
Hi everyone!
I have some issue and need some help.

In Collection, I have a folder named "Segments"
I configured 'tests' with Environment variables for requests to be successively executed.
**When I do it manually from 1 request to the last in a folder - everything is ok without any problem.**

But when I running the same folder via Postman Runner,
the second request unexpectedly give me **400 Bad

[2017-12-11 13:50] a85 commented on #1973
The full HTTP transaction is available in the Postman console in the desktop apps now. Closing this issue!

[2017-12-11 13:50] #1973 closed, assigned to nobody

[2017-12-11 13:51] a85 commented on #1945
Most of these changes have been implemented. The app also has a setting to always open a request in a new tab. Closing this issue now!

[2017-12-11 13:51] #1945 closed, assigned to a85, numaanashraf

[2017-12-11 13:52] #3190 closed, assigned to vkaegis

[2017-12-11 13:52] #2863 closed, assigned to nobody

[2017-12-11 14:00] winkelsdorf commented on #1973
@all Thanks for all the support and the countless thumbs up for this request!

@a85 A big thank you for implementing it 🥇

[2017-12-11 14:26] farkass commented on #3824
Hi @numaanashraf
Sorry, just read notification mail you have closed this. Somehow not received earlier mail about your comment.

I am setting manually the cookies.

I am using the same name JSESSIONID for different path
as foo3:
JSESSIONID=d9033c35; path=/core...
and
as foo2:
JSESSIONID=fdd97d5c4ee0; path=/equipments...

I have two separate services using the the same called cookie with different

[2017-12-11 14:43] a85 commented on #3838
I doubt that Chrome has those APIs available for detecting Chrome app availability. :/

[2017-12-11 14:43] #3295 closed, assigned to sdnts

[2017-12-11 14:46] #3465 closed, assigned to kunagpal

[2017-12-11 14:47] #3283 closed, assigned to prashantagarwal

[2017-12-11 14:48] a85 commented on #3262
Please let us know if it still persists in 5.5

[2017-12-11 14:48] #3262 closed, assigned to sdnts

[2017-12-11 14:49] a85 commented on #2214
Closing this issue as there might be multiple reasons for this request to not work. Does not seem to be a particular problem with the postman-runtime.

[2017-12-11 14:49] #2214 closed, assigned to nobody

[2017-12-11 14:52] #2737 closed, assigned to a85, harryi3t, kamalaknn

[2017-12-11 14:53] polydoreplasden commented on #3916
@a85   Hi, any reason this has been closed without resolution?

[2017-12-11 14:54] a85 commented on #1991
Closing as the Chrome extension is not supported any more. Please follow other threads for multipart/mixed support in the issue tracker.

[2017-12-11 14:54] #1991 closed, assigned to shamasis

[2017-12-11 14:54] #2175 closed, assigned to nobody

[2017-12-11 14:55] a85 commented on #2207
Closing this as duplicate of #3013

[2017-12-11 14:55] #2207 closed, assigned to shamasis

[2017-12-11 14:55] bradobro commented on #1717
Thanks @a85

[2017-12-11 14:55] a85 commented on #2537
We recommend using the Postman native apps now as the Chrome apps are deprecated.

[2017-12-11 14:55] #2537 closed, assigned to czardoz

[2017-12-11 14:56] a85 commented on #2739
This behavior has been fixed now in the latest versions of the app.

[2017-12-11 14:56] #2739 closed, assigned to nobody

[2017-12-11 14:57] #2909 closed, assigned to nobody

[2017-12-11 14:57] a85 commented on #3346
Param descriptions are shown in the documenter now.

[2017-12-11 14:57] #3346 closed, assigned to godfrzero

[2017-12-11 14:57] #3402 closed, assigned to kamalaknn

[2017-12-11 14:58] #3538 closed, assigned to numaanashraf

[2017-12-11 14:58] #2930 closed, assigned to nobody

[2017-12-11 14:59] #2856 closed, assigned to nobody

[2017-12-11 14:59] #2841 closed, assigned to nobody

[2017-12-11 15:00] aditya-mittal commented on #1991
Can you please link this with other issue in issue tracker? Since this is not just chrome extension issue? Alternately, give me link to issue tracker.

[2017-12-11 15:01] #3564 closed, assigned to numaanashraf

[2017-12-11 15:01] a85 commented on #3567
I'd recommend checking this article out for exporting values/data: http://blog.getpostman.com/2017/09/01/write-to-your-local-file-system-using-a-postman-collection/

[2017-12-11 15:01] #3567 closed, assigned to numaanashraf

[2017-12-11 15:01] #3015 closed, assigned to nobody

[2017-12-11 15:05] mjgp2 commented on #3346
Thanks!

[2017-12-11 15:05] #3422 closed, assigned to SamvelRaja

[2017-12-11 15:07] a85 commented on #1636
This should be fixed now.

[2017-12-11 15:07] #1636 closed, assigned to nobody

[2017-12-11 15:08] a85 commented on #1557
Postman now contains an API Network to help with API discovery in general. We will hopefully incorporate Google's APIs too soon.

[2017-12-11 15:08] #1557 closed, assigned to nobody

[2017-12-11 15:09] a85 commented on #2808
This is fixed in the latest app versions.

[2017-12-11 15:09] #2808 closed, assigned to nobody

[2017-12-11 15:10] a85 commented on #2892
Bulk import/export is not a recommended way for collaboration. Closing this for now.

[2017-12-11 15:10] Pacerier commented on #3564
Bug is fixed?

[2017-12-11 15:10] #2892 closed, assigned to nobody

[2017-12-11 15:11] dsenta00 opened #3948 "Question/Support: Database reset after PUT/POST API request"
Hello,

I have started to use your tool recently. Everything works great, but I was wondering what is the best way trigger command (or something else) in order to reset database again to the initial state.

In other words, the test will return 201 JSON response on the first call, but on the second API call will return 409 (Conflict) as expected. How to avoid that?

Thanks in advance,
Regards,
Duje

[2017-12-11 15:15] a85 commented on #3916
@polydoreplasden Wasn't sure from your comment that the issue is still valid.

[2017-12-11 15:21] polydoreplasden commented on #3916
@a85 yes we are still seeing this issue.

I have just upgraded to
Postman for Windows
Version 5.5.0
win32 6.1.7601 / x64

But this issue is still present.

[2017-12-11 15:24] jmatelet commented on #1446
implicit and authorization code are not working properly with local AS. The window "Request token" stays blank.
The option to retrieve from local is not available in this version...

[2017-12-11 15:31] dmytrocx75 commented on #3251
@kamalaknn I got the same problem `"certificate load error: ENOENT: no such file or directory, open ''`
 trying to send a request with SSL certificate verification ON and .crt file added.
Could you advise me any workaround until it's fixed or tell when it will be fixed?

[2017-12-11 15:41] a85 commented on #1751
Unfortunately not on the cards any time soon as we are working on a separate data editor. Will look at this thread in the future.

[2017-12-11 15:41] #1751 closed, assigned to nobody

[2017-12-11 15:42] a85 commented on #3257
@kamalaknn Is this fixed now?

[2017-12-11 15:43] a85 commented on #3172
@kamalaknn Is this fixed?

[2017-12-11 15:43] mfrtrifork commented on #3257
@a85 Yes, I can confirm that it was fixed 👍

[2017-12-11 15:44] a85 commented on #3093
Seems to be fixed in 5.5

[2017-12-11 15:44] #3093 closed, assigned to SamvelRaja

[2017-12-11 15:44] a85 commented on #3257
Awesome!

[2017-12-11 15:44] #3257 closed, assigned to kamalaknn

[2017-12-11 15:45] a85 commented on #3264
@madebysid Is this fixed?

[2017-12-11 15:46] a85 commented on #3457
Can't seem to reproduce this in 5.5

[2017-12-11 15:46] #3292 closed, assigned to kunagpal

[2017-12-11 15:47] a85 commented on #3275
@madebysid Is this fixed now?

[2017-12-11 15:47] a85 commented on #3208
@madebysid Is this fixed now?

[2017-12-11 15:49] a85 commented on #3316
@steresi Good point. We'll add the shortcut to the button itself. Getting the actual behavior consistent across different platforms along with Postman's use cases is hard but we find this solution to work for everyone.

[2017-12-11 15:50] a85 commented on #3423
@madebysid Is this fixed?

[2017-12-11 15:50] a85 commented on #3454
@madebysid Is this fixed?

[2017-12-11 15:52] a85 commented on #3916
Seems to be working fine for me. I'm on OS X

[2017-12-11 16:04] Faz540 commented on #3457
@a85  Yep, unable to reproduce this in Windows 5.5.0. :)

[2017-12-11 16:53] megadix commented on #3275
Just tested on new version *5.5.0*, it seems that bug is still there.

[2017-12-11 16:59] LSTANCZYK opened #3949 "Discrepancy between collection and published documentation"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently
 2. Expected behaviour:
Collection structure (folders and requests) should match between application and the generated documentation.
 3. Console logs

================================================================
sails.io.js:142 🌏 sync service connectivity initiated
sails.i

[2017-12-11 17:01] LSTANCZYK commented on #3949
I was able to find a workaround for this - by moving API 6 Request in Postman Win app to another folder and then dragging it back to the one where it belongs.

[2017-12-11 17:01] megadix commented on #3275
Small update:
The bug is visible only when `Iterations` is > 1, so it is not a problem with "one-shot" tests.
Sample code for calculating the total times:
[code]

[2017-12-11 17:24] tmulry commented on #3275
This is still an issue for me in 5.5.0 (as it was in 5.3.2 ).  All the times in the runner report are showing and concatenating as strings instead of numbers.

[2017-12-11 17:35] Arunkeshavareddy commented on #3935
Hello Anas Najaa,
Your solution is not working on mine. Thanks for the advice.

On Mon, Dec 11, 2017 at 1:44 AM, Anas Najaa <notifications@github.com>
wrote:

[2017-12-11 17:37] jerrfi commented on #3172
This problem still exists for our usage.

The response header for a single API call includes line like these: (in this order)

Link →<http://server/endpoint?...&page=3>;REL=next
Link →<http://server/endpoint?...&page=3>;REL=previous

The Test to validate the response includes:

var linkIndexNext = postman.getResponseHeader("Link").toString().indexOf("REL=next");
tests["Link Header contains REL=nex

[2017-12-11 18:45] johngronberg-okta commented on #3874
@prashantagarwal is this the best issue to track for updates? Or where can we follow along? The interceptor flow is vital to a number of our postman collections.

[2017-12-11 19:22] prashant-pokhriyal commented on #1947
Suppose you add a folder to a collection. Under the Authorization tab, the default authorization type is set to **Inherit auth from parent**.

The **Inherit auth from parent** setting indicates that every request in this folder by default uses the authorization type from the parent. In the following example, the collection is using **No Auth**, so the folder uses **No Auth**, meaning all requests

[2017-12-11 19:23] prashant-pokhriyal commented on #2692
Suppose you add a folder to a collection. Under the Authorization tab, the default authorization type is set to **Inherit auth from parent**.

The **Inherit auth from parent** setting indicates that every request in this folder by default uses the authorization type from the parent. In the following example, the collection is using **No Auth**, so the folder uses **No Auth**, meaning all requests

[2017-12-11 20:22] ishepherd commented on #3910
@a85 Beyond git, it would mean that Postman now plays in the whole wide universe of file-based tools. For example, I could `grep` my tests to see if a particular endpoint is covered.

Current situation feels like my tests belong to Postman instead of to me. I do get that while you were a Chrome extension you were stuck like that. But now spread your wings :)

[2017-12-11 20:38] ishmatok opened #3950 "Feature request: Allow postman app to include the number of the line of code, that failed, with an error message, to make debugging easier."
![debugging feature request](https://user-images.githubusercontent.com/18681004/33852685-77b4a9ce-de89-11e7-8b51-910aeeb7d045.png)

## App Details:

[code]

[2017-12-11 23:27] provmarkayers opened #3951 "Send button hidden at reasonable window widths"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Dunno
 2. Expected behaviour: Send button should always be visible, even when postman isn't taking up 75% of my screen width
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac ap

[2017-12-12 01:05] Jothay opened #3952 "Client very slow with a large collection expanded"
## App Details:
[code]
## Issue Report:
**1. Did you encounter this recently, or has this bug always been there:**
Ever since I first loaded a large collection a while ago. The deprecated chrome extension/app and the current windows application both have this same issue.
**2. Expected behaviour:**
Opening Postman, navigating with the collection expanded, filtering, etc. should all perform within a

[2017-12-12 02:40] gl2007 opened #3953 "Postman window is hidden and cannot be resized by any means"
## App Details:

[code]

## Issue Report:
1. Postman was started in my office where I have an extra monitor. Postman was maximized.
2. Come home and try to open Postman.
3. Postman window does not show up but is probably hidden since it was maximized. No way to resize the window or to see if. Tried window scaling options in Postman.exe properties to no avail.

Tried to see in regedt32 to see if an

[2017-12-12 02:45] gl2007 commented on #3953
Found a workaround!
1. Hover the mouse over the taskbar icon, until windows shows the "window preview".
2. R-click on the "preview" window.
3. You can now use the maximize option to resize Postman to the current screen sizes.

In my case, the Postman was showing the "Update" popup as well. Wonder, if that is the cause of this behavior or is unrelated.

[2017-12-12 05:50] gronel opened #3954 "Please Add Proxy Setting"
good day Dev,

 I cant continue to used your desktop platform because our connection here is using proxy connection, please see attach file capture.png for your reference visual studio code use same technology as you used Electron build. they check if your connection is used proxy then proxy authentication dialog well appear.

[Capture.png](https://p3.zdusercontent.com/attachment/555292/qfpTYOvJoe

[2017-12-12 08:23] jooleeanh commented on #2588
I believe this is solved ? @madebysid

[2017-12-12 08:37] jooleeanh opened #3955 "Markdown syntax interpreted differently on app than on generated documentation"
## App Details:

[code]

## Issue Report:
__1. Did you encounter this recently, or has this bug always been there:__
Not sure.
__2. Expected behaviour:__
The preview of a markdown text in a request's description should be the same than standard markdown editors.
__3. Console logs__
None
__4. Screenshots (if applicable)__
None

### Steps to reproduce the problem

The following text:

[code]

Becaus

[2017-12-12 09:22] getalphacode commented on #1667
The native app is useless without this feature. This was the only feature I used postman for. I used swagger for sending requests.

[2017-12-12 09:22] anshchauhan commented on #1667
The native app is useless without this feature. This was the only feature I used postman for. I used swagger for sending requests.

[2017-12-12 09:26] Citizen01 commented on #3845
I have the same ~~issue~~ feature request.
One would expect the Collection runner to execute all the requests in a collection no matter what and then check the results to see which one are **OK** and which one are **KO**.
I'll use newman in the meantime and follow that issue.

[2017-12-12 09:28] valt449 commented on #285
+1

[2017-12-12 09:31] jhr commented on #3816
I didn't read the RFC, to be honest. Referring to [Wikipedia](https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters) instead, all characters with special meaning shall be encoded. The `=` sign has a special meaning since it separates name from value in GET parameters. If the value itself contains an `=` sign, it only makes sense to encode it, in my opinion.

[2017-12-12 10:44] Faz540 commented on #3945
Hi, if these values are always the same - so if it's always 1 - 4 then I would just write Javascript in the pre-request script to randomly select 1 - 4.

Example:
In the 'Pre-request Script' tab in Postman I'd write the following Javascript:
[code]
This is creating an environment variable called 'randomNumber' and it's using the random function from Lodash to select a number between 0 and 5.

http

[2017-12-12 12:05] sdnts commented on #3935
@Arunkeshavareddy @anasnajaa How are you guys getting the environment variables in your test scripts?

[2017-12-12 12:07] sdnts commented on #3954
Hi @gronel, Postman already supports proxies for requests. If you head over to Settings (`Cmd+,`), you should be able to switch to the `Proxy` tab and set up a proxy there.

[2017-12-12 12:07] #3954 closed, assigned to nobody

[2017-12-12 12:08] sdnts commented on #3954
It just occurred to me, do you want to use the proxy for signing in to the app, or for sending requests?

[2017-12-12 12:10] sdnts commented on #3953
Hi @ghanashyaml This is a known issue, and has since been fixed in our Canary version. The fix will land on our stable channel in coming releases. You can follow #2992 for updates :)

[2017-12-12 12:10] #3953 closed, assigned to nobody

[2017-12-12 12:13] sdnts commented on #3952
@Jothay We're aware of performance issues, and are actively working to get these fixed. Your collection should help immensely after we're done to ensure the problem is actually fixed. I will let you know here when this happens so you can send forward your collection to our support email. Thanks for reporting this.

[2017-12-12 12:16] sdnts commented on #3951
Hi @provmarkayers, we ensure the Send button is visible as much as possible for reasons you mentioned. How wide is the Postman window right now? You can open up the DevTools by heading over to the `View Menu > Show DevTools`, and then resizing the window even slightly should show up window dimensions on the top right.

[2017-12-12 12:17] sdnts commented on #3950
Hi @ishmatok, thanks for the feature request! This sounds useful indeed.

[2017-12-12 12:17] clytemnestra commented on #3221
Same issue here.

[2017-12-12 12:20] sdnts commented on #3949
Hi @LSTANCZYK, this usually happens when the app goes out of sync with our Sync servers. When you reorder your requests, it forces a sync, and the order is fixed. Logging out + Logging in should have the same effect. As a side note, what you see in the documentation is always the state of the server.

Have you been able to reliably reproduce this? We're working on improvements that should fix this

[2017-12-12 12:20] #3949 closed, assigned to nobody

[2017-12-12 12:22] sdnts commented on #3948
Hi @dsenta00, this is something that your server would have to provide. Since Postman does not directly talk to your database, there isn't a way to do this from the app, I'm afraid.
If your server provides a `/reset` endpoint, you can hit that to reset the state of your database.

[2017-12-12 12:22] #3948 closed, assigned to nobody

[2017-12-12 12:24] sdnts commented on #3947
Hi @Alextunchii, would it be possible to share your pre-request script here?
Is your script using some sort of data that makes it so that a part of your code only runs in the Runner (things like this include using the `iteration`, or `data` variables, or a mismatching environment). Your script should clear this out, so I can assist better :)

[2017-12-12 12:26] sdnts commented on #3945
Hi @Alextunchii, what @Faz540 said should work perfectly. I'm closing this for now, but if his suggestion does not work in your case, please reopen so we can take another look.

[2017-12-12 12:26] #3945 closed, assigned to nobody

[2017-12-12 12:29] sdnts commented on #3955
Hi @jooleeanh, thanks for pointing this out, I believe the app should respect Markdown guidelines more strictly, I'll look into this.

[2017-12-12 12:30] sdnts commented on #3946
Hi @saurav28 while this may be obvious, are you sending your request to an HTTPS endpoint? @kamalaknn @harryi3t Can you guys take a look at this please?

[2017-12-12 12:35] sdnts commented on #3943
@Faz540 Thanks for this request. We're aiming to deprecate the old tests object, so this seems counter-intuitive to me. However, it is understandable that there might be old requests that use a combination of these kinds of assertions. @shamasis @kamalaknn Thoughts?

[2017-12-12 13:33] magmasystems commented on #3905
I also experienced this problem yesterday on a Macbook. We also use the system proxy and are behind a firewall.

[2017-12-12 13:42] oliverjanik commented on #3816
@jhr that is woefully ignorant position. What you refer to as keys and values, is a part of the HTML specification that defines how forms construct query string for method="GET". URL spec above knows nothing about key and value pairs.

If you choose not to read the spec, please do not suggest anything as it's interpretations much like yours that are causing harm in the first place. Unfortunately t

[2017-12-12 14:29] masterada commented on #3878
+1

I'm currently using this workaround, which I'm pretty sure might break at any moment:
[code]

[2017-12-12 14:44] jhr commented on #3816
@oliverjanik Well, how about supporting that "HTML specification" then? I am more than aware that URLs do not have keys or values in that sense. But thanks for the blunt reminder.

Postman supports, via its UI, to put in Key, Value, and Description as GET params. It, therefore, does this exact distinction between keys and values. Within such value, an `=` sign should be encoded in order to work as

[2017-12-12 15:34] Faz540 commented on #3943
@madebysid Please tell me there will be a way to monitor the true/false values of the new "pm.test()" tests in the future? Ofcourse, other than viewing the Tests tab in the UI.

[2017-12-12 16:54] provmarkayers commented on #3951
Okay, I figured out some more details. When the window is scrolled to the top, the app behaves as expected down to about 900px width, which is acceptable. The issue happens when the window is wider than that when scrolled up to the top, and then the user scrolls down (visually detaching the send/url bar), and then resizes the window to be less wide. On my 2560px wide screen, the send button can be

[2017-12-12 17:28] dsenta00 commented on #3948
That is what I thought also. Thanks for a quick answer!

Regards,
Duje

[2017-12-12 17:35] repac commented on #3013
Can I just add support for the idea of getting Postman Native working with HTTPS? We currently use HTTPS and access our in-house test environment via a reverse proxy, no HTTPS support means I can't test using Postman on our pseudo-Live environment.
Apologies to everyone who has alerts enabled for this thread, I'm new to GitHub and there doesn't appear to be a way to upvote an issue without spammin

[2017-12-12 17:45] Arunkeshavareddy commented on #3935
Hello Siddhant Sinha,
Both Pre-request and Test Scripts are unable to get values of Environment
variables after updating postman to 5.4.1 & 5.5.0

On Tue, Dec 12, 2017 at 4:05 AM, Siddhant Sinha <notifications@github.com>
wrote:

[2017-12-12 18:02] midumitrescu commented on #285
+1

[2017-12-12 20:31] steven-bailey commented on #3269
+1

We also have a similar route, which allows fetching a previously generated document off of file storage.  Would be great if this response didn't trigger a save dialog in Runner (at least).  Interrupts flow if you're trying to test a large API.

[2017-12-12 20:36] rastephens86 commented on #2861
updated postman to the latest version and i am experiencing this same issue. any updates?

[2017-12-12 21:09] joemonti opened #3956 "Stuck in Sign In Loop"
## App Details:

[code]

## Issue Report:
Postman somehow got stuck unable to sign in. I typically Sign In with Google. When I sign in with Google, Postman goes to the orbiting loading screen and then returns to the Sign In screen. I also tried signing in to Postman with my email/password, but the same thing happens. I don't get a Sign In error, I just get sent back to the sign in screen. I tried

[2017-12-12 21:11] joemonti commented on #3956
I also see this in the Chrome App, presumably from all of my login attempts.

![screenshot from 2017-12-12 16-10-46](https://user-images.githubusercontent.com/764037/33908627-123cabe0-df57-11e7-8a79-53da55520040.png)

[2017-12-12 21:12] acobster opened #3957 "Error: "Unable to resolve variables" on request using no variables"
I have the following request configured in Postman:

[code]

After I click Send, the response pane displays the "Loading..." text with the cancel button, as if the request is pending; however, actual server-side access logs and the Postman dev console indicate that the request doesn't go out at all. Instead, the console displays this error:

Unable to resolve variables. Require a List type propert

[2017-12-12 23:23] TheAllThing commented on #3276
Related to this issue, I've seen where a team member has content in the body that is not in sync with what's in the web view. We were able to sync the first issue by making a small change on the desktop client's body and it pushed all changes from client up to the web.

Conversely, we have also seen where the web view content is _empty_, but the body on the local desktop app has the content we exp

[2017-12-12 23:56] sumit1317 commented on #3898
If anyone can help on this ?

[2017-12-13 01:10] acobster commented on #3957
Not sure why, but completely removing Postman and reinstalling 5.5.0 fixed this for me. Probably a corrupted download or something?

[2017-12-13 01:10] #3957 closed, assigned to nobody

[2017-12-13 06:43] skbr1234 commented on #2992
Still experiencing this on Windows 10 x64

[2017-12-13 07:13] thecuriousdev commented on #2992
The issue got fixed in **PostmanCanary 5.6.0-canary01**

get the build from https://www.getpostman.com/canary

[2017-12-13 07:14] thecuriousdev commented on #3018
The issue got fixed in **PostmanCanary 5.6.0-canary01**

get the build from https://www.getpostman.com/canary

[2017-12-13 07:14] thecuriousdev commented on #3707
The issue got fixed in **PostmanCanary 5.6.0-canary01**

get the build from https://www.getpostman.com/canary

[2017-12-13 07:48] IOsonoTAN opened #3958 "There is no pre-request script's tab when i create a folder."
## App Details:
[code]

## Issue Report:
1. I tried to create a new folder of collection.
2. I want insert a pre-request script but there is no tabs.

<img width="483" alt="screen shot 2560-12-13 at 14 40 13" src="https://user-images.githubusercontent.com/3783531/33927338-74f2664a-e014-11e7-865f-35ccebff16d3.png">

And i try to update Postman but it show me message "Something went wrong. Please ch

[2017-12-13 07:51] SamvelRaja commented on #3958
Can you try https://github.com/postmanlabs/postman-app-support/issues/2489#issuecomment-313596858 specified in this comment?

[2017-12-13 07:51] #3958 closed, assigned to SamvelRaja

[2017-12-13 08:15] selfboot commented on #1066
Please, please add an option to select multiple so we can **duplicate** at the same time.

[2017-12-13 09:36] thomas-alrek commented on #6682
+1

[2017-12-13 10:55] harryi3t commented on #3013
@repac Just click the thumbs up icon on the top comment :)
![image](https://user-images.githubusercontent.com/5207331/33935415-dceab04c-e021-11e7-8a21-fa6dcfa157c4.png)

[2017-12-13 11:23] harryi3t commented on #3956
@joemonti Thank you for reporting this. I was able to reproduce this using your steps.
Marking this as a bug. We will look into this and update this thread.

[2017-12-13 11:51] repac commented on #1983
Another "Me too" here.  Using Native client 5.5.0 on Windows 10.
My simple GET with no headers is run twice (as verified by viewing the response in Postman Console).
I shared my Collection containing the request, with a colleague and he also ran the request. For him (also Native client 5.5.0 on Windows 10), it is only run once. (as verified by viewing the response in Postman Console).

[2017-12-13 11:58] harryi3t commented on #3956
@joemonti
While our developers are looking into this bug, may I suggest you a workaround?
You can delete (or rename) the folder where Postman stores all the configuration.

__Warning: All data which is not synced will be lost! This should not be a problem if you were signed in before getting stuck in this issue.__

1. Quit Postman, if running.
2. Delete (or rename) the folder using the following c

[2017-12-13 12:37] y3g0r commented on #3904
This is happening to me as well in standalone app (5.5.0) since chrome app was deprecated.
Ubuntu 16.04.3 LTS 64-bit and gnome desktop environment (ubuntu-gnome-desktop 0.58.3).
Thanks to this issue now I know that I can workaround this problem by repeating Ctrl-C twice.

Nor Ctrl-C neither right-mouse-click, copy, don't work for me not only in environment quick look window but everywhere in UI

[2017-12-13 13:15] pawlox commented on #3795
Is there any update on that? Can we expect some feature to cover above use case? It would be nice to have it.

[2017-12-13 13:44] ps-dfritzsch commented on #285
+1

[2017-12-13 14:35] TomONeill commented on #3779
How is development coming, guys? I see no commits referencing this issue yet. I still have high hopes.

[2017-12-13 15:10] catogtp commented on #3208
@a85 As of 3 minutes ago using build 5.5.0 updated today, the problem still exists.

[2017-12-13 15:15] AlexanderTunick commented on #3947
Hi @madebysid, thanks for your response. I guess i resolved this issue. The reason might be in that, I wanted to use "pre-script" in this folder, but I couldn't, because I wanted to tie json file to test but I failed trying do that and then deleted "pre-script" from one request where I needed it. But how I understand it, postman still has seen pieces of code in pre script and outputted this error

[2017-12-13 15:16] #3947 closed, assigned to sdnts

[2017-12-13 16:48] araneforseti commented on #1228
+1

Makes even exploratory testing a bear since we have to clear the cookies so often. Weird thing is we weren't affected this issue until recently.

[2017-12-13 17:24] Enver-Yilmaz commented on #2523
+1 for suggestion from @jonbgallant

[2017-12-13 17:37] isurugiu opened #3959 "Postman getting irresponsive on a simple GET request"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I just ran into this
 2. Expected behaviour: produce output in the debug window and run the tests
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if app

[2017-12-13 19:27] mgroeneweg opened #3960 "Collection Runner does not show assertion error details when a test fails."
## App Details:
Postman for Windows
Version 5.5.0
win32 10.0.16299 / x64

## Issue Report:
I pass a descriptive string to pm.expect so I have detailed information in the assertion error.
When I run a separate request from Postman, the test result shows the assertion errors:
FAIL Check response data | AssertionError: **reservationFeePP not found in class**: expected undefined to exist

When I run f

[2017-12-13 20:02] pdougla002 commented on #3959
I will second this. My colleague did not update his Postman (his is 5.4.0 win/x86-64) and it plays as expected. My updated version (Version 5.5.0 win32 10.0.15063 / x64) no longer performs. Here is a sample response:
_Could not get any response
There was an error connecting to http://x1.x1.x1.xx6/gohere/v1/resources?fields=results(resourceId,lastUpdatedTime,properties/userData).
Why this might hav

[2017-12-13 20:34] mikecg commented on #1946
Is this supposed to be fixed? I cannot retrieve a 40mb JSON response payload. Using Windows v5.5.0. Postman eventually hangs and I need to kill the process. The request works in Chrome, as well as in Insomnia.

[2017-12-13 20:46] #1658 closed, assigned to nobody

[2017-12-13 20:47] a85 commented on #2197
Should be fine now with the new auth implementation.

[2017-12-13 20:47] #2197 closed, assigned to nobody

[2017-12-13 20:47] #2687 closed, assigned to nobody

[2017-12-13 21:10] Gosherm commented on #1947
This doesn't work for situations where dev has implemented a non-standard bearer request. In my case, the request is Authorization = {{key}}, NOT Authorization = bearer {{key}}. Really need a way to address this at the global level, not by having to set an individual key on every single request.

[2017-12-13 22:06] makuc commented on #2096
Same as @Ludakic300 , I too have a problem with **ctrl+alt+v** (or actually **alt gr** / **right alt** equaling both, **ctrl + alt** ) being my key combination for "@" and it automatically screwing my workspace... A fix would be awesome!

*Just turning it off would be awesome, since I don't really need a shortcut for changing my work-space!*

[2017-12-13 22:37] #3750 closed, assigned to prashantagarwal

[2017-12-13 22:37] #3815 closed, assigned to prashantagarwal

[2017-12-13 22:37] a85 commented on #3827
Read the docs: www.getpostman.com/docs

[2017-12-13 22:37] #3827 closed, assigned to prashantagarwal

[2017-12-13 22:38] a85 commented on #3791
@ranujn Not at the moment.

[2017-12-13 22:38] #3791 closed, assigned to kunagpal

[2017-12-13 22:38] a85 commented on #3928
Please direct coding questions to stackoverflow.com or community.getpostman.com

[2017-12-13 22:38] #3928 closed, assigned to thecuriousdev

[2017-12-13 22:39] a85 commented on #3867
@AndySoHotRightNow Glad the issue is fixed. Closing this.

[2017-12-13 22:39] #3867 closed, assigned to sdnts

[2017-12-13 22:40] #3925 closed, assigned to sdnts

[2017-12-13 22:42] a85 commented on #2521
We'll fix this issue around setting the Content-Type header automatically in a future version. For now, we recommend setting the Content-Type explicitly.

[2017-12-13 22:42] #2521 closed, assigned to prashantagarwal

[2017-12-14 01:07] chhahira opened #3961 "Hi there, I am not able to connect to my postman account after i updated my postman canary app."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-12-14 01:07] chhahira opened #3962 "Cannot connect to Postman account since v5.6.0-canary01"
I am not able to connect to my postman account after i updated my postman canary app.

[2017-12-14 01:13] #3961 closed, assigned to nobody

[2017-12-14 03:00] ArashJalalian commented on #292
I would love this.

[2017-12-14 04:55] numaanashraf commented on #3959
@isurugiu Thanks for reporting this. We were able to replicate this issue and are looking into this.

[2017-12-14 05:13] numaanashraf commented on #3959
@isurugiu Seems like the app hangs at the console.log step in the test script. Could you verify this by removing the console.log?

[2017-12-14 05:15] numaanashraf opened #3963 "Could not get response in v5.5.0. Works in v5.4.0."
Originally posted at https://github.com/postmanlabs/postman-app-support/issues/3959#issuecomment-351506000 by @pdougla002

My colleague did not update his Postman (his is 5.4.0 win/x86-64) and it plays as expected. My updated version (Version 5.5.0 win32 10.0.15063 / x64) no longer performs. Here is a sample response:
Could not get any response
There was an error connecting to http://x1.x1.x1.xx6/

[2017-12-14 05:16] numaanashraf commented on #3959
@pdougla002 Created #3963 to track your issue.

[2017-12-14 05:17] numaanashraf commented on #3963
@pdougla Could you open the Postman Console (View -> Show Postman Console), resend the request and send us a screenshot of the expanded request log in the Console?

[2017-12-14 05:20] numaanashraf commented on #3962
@chhahira Thanks for reporting this. Could you share a screenshot or steps to replicate the issue you faced?

[2017-12-14 05:23] numaanashraf commented on #3960
@mgroeneweg Thanks for reporting this.

[2017-12-14 05:32] syacko commented on #2494
I will add my voice to the choir, I need PFX support in order to use this tool for my ADP project.

[2017-12-14 07:17] yaghouti opened #3964 "Feature Request: drop down to select domain in address bar"
There are many cases that I must publish and test APIs on several servers, so I need to either change the domain of request in address bar or create different requests.
Creating different requests with the same data and keeping them synchronized takes time, so it would be more user friendly if you separate the domain from the rest of address, so we can select the domain using a drop down button.
T

[2017-12-14 07:26] yaghouti opened #3965 "Feature Request: On/Off button for properties of JSON data"
This feature has been applied to headers and form-data and is really helpful and time saving for a developer. Applying it to JSON data which allows us to on/off properties saves lots of time as well.
Thanks.

[2017-12-14 09:07] qinshiheng opened #3966 "postman don't resolve environment variables"
I use environment variables which works fine in previous versions. After upgrading to v5.5.0, when sending requests, postman use plain url address instead of resolving it.
For example, I have an environment variable {{host:port}} which refers to 127.0.0.1:8080, and my url address is http://{{host:port}}/path/to/myapp. In older versions postman will visit http://127.0.0.1:8080/path/to/myapp, and wo

[2017-12-14 09:42] andrefigueira opened #3967 "No longer able to make any requests to my docker APIs after upgrade on Ubuntu 16.04"
## App Details:
[code]

## Issue Report:
I'm unable to make requests after updating to 5.5.0 on Ubuntu, my APIs live on docker containers on my local Ubuntu instance. The error I get is:
[code]
When I load up Postman console, this is the error:
[code]
If I use the code option and make the request with the generated curl on command line, then it works, but I can't seem to get any request to my dock

[2017-12-14 10:09] andrefigueira commented on #3967
Ignore, was a stupid host file setting :disappointed:

[2017-12-14 10:09] #3967 closed, assigned to nobody

[2017-12-14 10:43] GreatSeaSpider commented on #1744
+1

[2017-12-14 11:53] prashantagarwal commented on #3964
@yaghouti If I understand your use case correctly. You just want to test the same endpoint on different servers. For example. `https://server1.com/get` and `server2.com/get`. If so then what you can do essentially is save your api url as  {{serverUrl}}/get. And save `serverUrl` in your environment. Then you can create different environments with different value for `serverUrl` and then just switch

[2017-12-14 11:55] OStoneO opened #3968 "Is there some changed on Request between Postman for windows and Postman for Chrome App?"
## App Details:

[code]

## Issue Report:
 1. I used same Url/Header/Body but get two different results。
     Is there some changed on Postman for windows or maybe my settings is wrong(I used default settings)?
 2. Screenshots like
     Chrome App Ver:
     ![Chrome App](https://raw.githubusercontent.com/OStoneO/GitHubStorage/master/Picture/postman1.png)
     Postman for windows Ver:
     ![Postma

[2017-12-14 11:57] OStoneO commented on #3968
Sorry for my English  _(:з)∠)_

[2017-12-14 12:01] prashantagarwal commented on #3968
@OStoneO Is it possible for you to debug what is causing your server to crash.

[2017-12-14 12:01] sdnts commented on #3935
@Arunkeshavareddy What I meant was, can you share the part of your test / pre-request script where you get the variables?

[2017-12-14 12:03] OStoneO commented on #3968
If status is 500，I can't get params in java.

Used SpringMVC

[2017-12-14 12:03] AlexanderTunick commented on #3945
@Faz540 Thanks for your response and suggestion, it looks more convenient to use and more logical.
But I would like to point out something:
Initially, I tried to use your code sample, but it didn't work, then I just replaced it with:

`postman.setEnvironmentVariable("randomNumber", _.random(1, 4));`
and then it started working fine.
I understand that the point is the same and thank you one more ti

[2017-12-14 12:06] prashantagarwal commented on #3965
@yaghouti Thanks for requesting this feature. This one is definitely on our roadmap.

[2017-12-14 12:09] prashantagarwal commented on #3966
@qinshiheng Can you try removing `:` from the variable name

[2017-12-14 12:16] #3966 closed, assigned to prashantagarwal

[2017-12-14 12:59] isurugiu commented on #3959
@numaanashraf I can confirm the app hangs at the console.log which was actually my purpose. I wanted to take a look at that output.

[2017-12-14 13:17] maissom-abbasi-confiz opened #3969 "Not able to run my collection after updating postman to 5.5.0 (Collection was running fine at earlier version = 5.3.2)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

My team members are encountering this issue after the update 5.5.0

 2. Expected behaviour:

The collection should run as it was running on earlier versions of postman

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chro

[2017-12-14 13:26] Hibbem commented on #3900
Any updates here? As wwaaijer indicated, I can see the parameters are double url encoded

[2017-12-14 13:30] JoGosGitHub commented on #2392
+1

[2017-12-14 14:17] le-munch commented on #2494
Same here. I also need this feature in enterprise environment

[2017-12-14 14:31] pdeak commented on #2494
I would like this feature too, but in the meantime I created the following Windows batch script to convert a .pfx file to it's corresponding .crt and .key files (requires OpenSSH on the path):

[code]

Then if you put the batch file in your path, you can convert blah.pfx by doing:

```convertpfx blah password```

This will produce a blah.crt and a blah.key file.

[2017-12-14 15:09] pdougla002 commented on #3959
Thank you, folks! Not clear if you’d like me to try any of this. Let me
know if so
Peter

On Thu, Dec 14, 2017 at 6:59 AM isurugiu <notifications@github.com> wrote:

[2017-12-14 15:39] megadix opened #3970 "Collection Runner shows "1 Failed" when all tests pass"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
  - recently
 2. Expected behaviour:
  - run collection
  - if all tests pass show "0 Failed" instead of "1 Failed"
 3. Console logs: nothing relevant
 4. Screenshots (if applicable)

Here is a screenshot:

![postman-runner-issue](https://user-images.githubusercontent.com/1434231/34000

[2017-12-14 18:29] Sporky023 commented on #2691
Thank you @madebysid for addressing this.  I'm also interested in this feature, and my use case is that I want to include a Foreman export as json in my git repository for my app.

I'd like to work this export into some kind of a git pre-commit hook, or at least have a command to do it so I can manually run the export before committing files.

You mentioned that you'd add collection exports as a f

[2017-12-14 18:42] yaghouti commented on #3964
Exactly what I was looking for, even better. Thank you so much.

[2017-12-14 18:42] #3964 closed, assigned to prashantagarwal

[2017-12-14 18:48] #3965 closed, assigned to a85

[2017-12-14 19:26] pdougla002 commented on #3959
I re-tested and please see my console output below. I hand-pasted the jwt
twice and notice it seems to have an extra space at the end of it. This was
not there in my clipboard. Identical GET worked with Fiddler. Thanks!

Filter Messages
Clear

Love working on Postman? Work with us to make Postman better!
https://go.pstmn.io/postman-jobs
GET
http://10.21.1.206/mwe/v1/resources?fields=results(resour

[2017-12-14 20:20] ikrasnopeev commented on #1137
Worked for me in 5.3.2, but stopped working in 5.4.1 and 5.5.0.

In my scenario I'm switching different users during same collection run, e.g.:
loginAsUser1
doSomething1
loginAsUser2
doSomething2
loginAsUser1
doSomething3

NTLM auth scheme is used.
In 5.3.2 I was able to do this by adding fake logins using BASIC auth requests.

So effectively loginAsUserN actually was 2 requests:
loginAsUserN-1 -

[2017-12-14 22:34] chhahira commented on #3962
![2017-12-15_092945](https://user-images.githubusercontent.com/16698798/34017610-88c35ff0-e17a-11e7-9593-e9409e2b2063.png)

@numaanashraf Thanks for your reply.
I believe I started seeing the issue after i updated my postman canary app. Not able to login to my account since the update.
It says connecting and then goes offline after some time.
Surprisingly I am not able to connect to my account usi

[2017-12-14 22:45] glenpike opened #3971 "Linux update is frustrating experience"
Postman native update for Mac happens seamlessly - click update and the app will get on with it, you can even tell it to update in the background.  This is lovely.

On Ubuntu, however, it is a different story.  You have to download a tgz, unpack this to a folder on your computer (then remember to re-run the command as root) and run the binary from there.  There's no icon, you have to try to roll t

[2017-12-15 02:56] jkewley commented on #3506
Would love to see this fixed as well.

[2017-12-15 07:02] SyedAmeeruddin opened #3972 "Error for windows native client"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)
![screenshot 1](https://user-images.githubusercontent.com/3361620

[2017-12-15 07:10] SyedAmeeruddin commented on #3972
For every request this is the response. Please rectify it.I installed recently and it has default configuration.

[2017-12-15 07:19] harryi3t commented on #3970
@megadix Thank you for reporting this.
I have few questions
1. Does this happen every-time?
2. Did you try this with other collections as well? If yes, is it happening for all/some collections?
3. If this is easy to reproduce, could you share a collection link with me? If you are sharing a collection, please remove all extra data/tests/requests.

Note: To share a collection, click on collection co

[2017-12-15 07:22] numaanashraf commented on #3971
Thanks for the feedback @glenpike. We are exploring few options to make Postman for Linux easier to install and update. 🙂

[2017-12-15 07:23] numaanashraf commented on #3969
@maissom-abbasi-confiz Thanks for reporting. We are looking into this.

[2017-12-15 07:31] numaanashraf commented on #3972
@SyedAmeeruddin Thanks for writing in. Seems like you are trying to send a request to `localhost` over `http`. Please verify that you have a server running that is listening to port `80` on your `localhost`.

[2017-12-15 07:44] harryi3t commented on #3969
@maissom-abbasi-confiz If possible, could you share the collection, environment and CSV file in which you are having this issue? This would really help us in reproducing and fixing the issue.
You can remove all extra requests, tests, variables and replace endpoints to fake ones until you are able to see the error.

[2017-12-15 07:53] josslamberti commented on #3291
@SamvelRaja, this is still very much an issue for me, even after saving a back-up, deleting all my collections and importing my back-up.
It looks like the issue is linked to creating duplicates.

[2017-12-15 07:54] maissom-abbasi-confiz commented on #3969
@harryi3t

Thanks for following up. I will update you after mocking the scenario.

[2017-12-15 08:47] SyedAmeeruddin commented on #3972
Thanks for swift reply.It is by default  as you said in the first place.Kindly suggest me other possibilities.

[2017-12-15 08:53] numaanashraf commented on #3972
@SyedAmeeruddin Yup. Could you try the steps detailed here
1. Open the Console via (Menu -> View -> Show Postman Console)
2. Send the request
3. Expand the log line for this request in the console
4. Share screenshot of this log in the console. (redact any sensitive information in the logs 🙂 )

[2017-12-15 09:11] jannemann commented on #2159
@mblandfo I think you are right

[2017-12-15 09:11] #2159 closed, assigned to nobody

[2017-12-15 10:02] SyedAmeeruddin commented on #3972
![screenshot 3](https://user-images.githubusercontent.com/33616209/34037001-1e603a9c-e1ad-11e7-8c11-faf7b80f393c.png)

[2017-12-15 10:31] FreeWillaert opened #3973 "Postman duplicating request parameters - in specific cases"
## App Details:

[code]

## Issue Report:

I have this issue with 5.5, not only in collection runner (which happened before but I never really looked into it), but now also in the builder.

Steps to reproduce the problem:

Create a collection, then create a request in that collection:
GET {{tmp-uri}}/test?uri=https://example.com
with tmp-uri:http://localhost:3000

The easiest way to reproduce this

[2017-12-15 10:40] datenzar commented on #843
+1

[2017-12-15 10:58] numaanashraf commented on #3972
@SyedAmeeruddin Looks like the server is not responding in time and the request has timed out. Is the same GET request working via cURL or Chrome? Also please verify the request timeout settings in the app (Settings > General > Request > Request timeout in ms) -> should be `0` by default.

[2017-12-15 11:07] jooleeanh opened #3974 "Pasting a line in Headers or Body (form-data/url-encoded) unfocuses from request zone (prevents easy use of save shortcut)"
## App Details:

[code]

## Issue Report:
 1. Encountered recently (may have been here from the start)
 2. Expected behavior:
    1. Copy 1 or more lines of headers/params from a request
    2. Paste it in the headers/params of another request
    3. Use save shortcut 'cmd-s' -> should save

Steps to reproduce the problem

   1. Copy 1 or more lines of headers/params(form-data/url-encoded) from a

[2017-12-15 11:13] chhahira commented on #3962
@thecuriousdev @numaanashraf  the issue still remains....i have tried reinstalling postman, but no luck...still cannot connect to my postman account. Appreciate if you could take a look please. Thanks!

[2017-12-15 11:29] jooleeanh commented on #3955
Here are some screenshots to help:

__4. Screenshots (if applicable)__

Markdown editing:
![image](https://user-images.githubusercontent.com/9873597/34040303-5cc70d66-e193-11e7-9725-259b1eca4a7c.png)

Markdown preview in-app:
![image](https://user-images.githubusercontent.com/9873597/34040290-4f4472dc-e193-11e7-8cbd-414e18720f9e.png)

Generated documentation :
![image](https://user-images.githubus

[2017-12-15 11:40] irmingard opened #3975 "Published Docs - increase sidebar max width"
//Posting here again so it can be linked with the help center ticket

For the published docs, the max width of the sidebar on the left is currently 260px. This is not ideal on very wide displays where the right sidebar then appears to be mostly empty while not all contents of the left sidebar are even readable. Please increase the width.

As an example, please check your own documentation at [http

[2017-12-15 13:01] jooleeanh opened #3976 "[Feature] Function to show notification/toast and prompting dialogs in scripts"
## App Details:

[code]

## Notification/Toast

**Situation:**
I have some code that updates an environment variable (a user token) during the test script in some of my requests, and this happens without the postman user knowing (unless they already know or look at the test script).

It would be useful to have a function that shows a notification/toast in the app's UI, such as the one when there's

[2017-12-15 13:37] SyedAmeeruddin commented on #3972
The problem is solved now after changing timeout to 0 but i cant comprehend that previously when it is  0 i got the same error.later  i changed  it to 1 for testing.now when i changed to zero it is responding.. By the way before doing this i installed two chrome extensions and i got positive results.Please explain me the exact reason for the error?
![restclients](https://user-images.githubusercont

[2017-12-15 14:02] jmatelet opened #3977 "Authorization OAuth 2.0: Request Authorization Code not working"
Authorization OAuth 2.0: enable to request a authorization code token

## App Details:
Postman for Windows
Version 5.5.0
win32 10.0.10586 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I did not encounter this issue when using the chrome app. This problem is since the windows application.

 2. Expected behaviour:
I should be able to request an Autho

[2017-12-15 14:30] joemonti commented on #3956
Thank you @harryi3t ! yes that did resolve the issue for me

[2017-12-15 14:43] numaanashraf commented on #3972
@SyedAmeeruddin Glad to hear the issue is resolved at your end. We are looking into why the default timeout setting was not being honored initially.

[2017-12-15 14:43] #3972 closed, assigned to nobody

[2017-12-15 14:45] numaanashraf commented on #3976
Thanks for the suggestion @jooleeanh.

[2017-12-15 14:46] numaanashraf commented on #3975
@irmingard Thanks for the feedback. 🙂

[2017-12-15 14:48] Voxar commented on #285
+1

[2017-12-15 14:49] SyedAmeeruddin commented on #3972
I am so grateful for your support and cordiality.I wonder why default timeout should be zero!?.

[2017-12-15 14:55] d42ohpaz commented on #1228
@tobilarscheid re: open source, if I'm not mistaken (and I very well could be), you may want to look at https://github.com/postmanlabs/postman-runtime -- this appears to be the engine that drives Postman.

[2017-12-15 14:58] ratpik commented on #2978
We will close this issue after we roll out this feature. Until then all updates go to https://community.getpostman.com/

[2017-12-15 15:02] d42ohpaz commented on #1228
@madebysid any status on the progress of this issue?

Similar to working in the Headers/Body tabs of a request, I'd be happy with the ability to toggle on/off a cookie from the "Manage Cookies" UI. Better yet, though understandably a more complex solution, scrap the Manage Cookies UI and create a Cookies tab that sits alongside the Headers/Body tabs. This would allow for a consistent interface, ut

[2017-12-15 15:38] pdougla002 commented on #3959
Sorry that is pretty useless and now I’m on vacation through 12/18. I’ll
keeep track and try again next week if still needed.
I wondered if the token has a concat white space if that matters

On Thu, Dec 14, 2017 at 11:26 AM Peter Douglas <pdougla002@gmail.com> wrote:

[2017-12-15 15:51] arctouch-eltonsantana commented on #1180
+1

[2017-12-15 17:25] LaughlinJames opened #3978 "404 error preventing Sync (stuck in offline mode)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

- Just noticed

 2. Expected behaviour:

- I should be able to click the "offline" icon and sync with my online account

 3. Console logs:

- Failed to load resource: the server responded with a status of 404 (Not Found)

 4. Screenshots (if applicable)
-
![screen shot 2017-12-15 at 1

[2017-12-15 18:17] felipeaf opened #3979 "Postman native for Linux does not connect (for sync) through proxy"
Hello!
My Postman Native for Linux is unable to connect to cloud through authenticated corporate proxy at all. Even the browsers are working with system proxy configuration.

The proxy is authenticated. I've had the same results configuring though Ubuntu GUI or though environment variables (HTTP_PROXY, HTTPS_PROXY, like http://user:pass@ip:port/ where user, pass, ip and port are the correct values

[2017-12-15 18:31] miguelhughes commented on #3887
I also have this on postman 5.5.0
macOS sierra 10.13.2
Chrome 63.0.3239.84
Neither environment nor collection are selected when pressing the "run" button

Updated chrome to 63.0.3239.108, and relaunched postman and chrome: same behaviour

[2017-12-15 23:45] wilder commented on #3893
I would like to work on this! How can I proceed? If I want to start working on it which repository should I clone https://github.com/postmanlabs/httpsnippet-fsless or https://github.com/Kong/httpsnippet?

[2017-12-15 23:50] a85 commented on #3893
@WilderPereira I believe Kong's library.

[2017-12-15 23:57] wilder commented on #3893
@a85 Thanks! I was looking the commits history now, it seems that Kong's library haven't been updated in a while...

[2017-12-16 00:26] alewmt opened #3980 "Unable to resolve variable in Pre-request Script"
Variable is not resolved in pre-request script

## App Details:
[code]

## Issue Report:
 1. This issue appears when I updated postman to the latest version. Version 5.4.1 has the same problem.

![image](https://user-images.githubusercontent.com/9164890/34065218-dde4eb3e-e210-11e7-856b-d246aa918071.png)

[2017-12-16 00:30] alewmt commented on #2260
Two resent version is not enough. I submitted an issue https://github.com/postmanlabs/postman-app-support/issues/3980 which exists in all of them.

[2017-12-16 04:11] Kathy87 opened #3981 "How verify empty array"
I have response json as below:
{
    "data": [],
    "included": [],
    "meta": {
        "totalRows": 0
    }
}
I want to verify array data is empty. How can i verify it?
I try $.[?(@.data.length()>0)].id but error is "There is no marching node for JsonPath: $.[?(@.data.length()>0)].id'"

Please help. Thanks
Kathy

[2017-12-16 07:04] rameshsubramanian87 opened #3982 "Collection variable not present in autocomplete"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 Yes, but this is my first attempt at using the collection variable feature

 2. Expected behavior:
The collection variable is accessible in the collection to use.

 3. Console logs
NA

 4. Screenshots (if applicable)
I declared a collection variable & clicked update.
![postman_collect

[2017-12-16 09:15] ghost commented on #1180
@abhijitkane @shamasis Is this feature still on the roadmap (as this issue is from 2015)? Postman is excellent but not being able to add to the sandbox libraries is very limiting. The current workaround (storing an entire library as a global variable after a GET request) is not ideal.

[2017-12-16 15:33] #1287 closed, assigned to nobody

[2017-12-16 15:35] a85 commented on #1395
Points 1 and 3 are addressed now. Environment variables show up in autocomplete menus and collection and folder level scripts are available in 5.5+

[2017-12-16 15:36] a85 commented on #1649
We are reviewing the body input editor but it has been around for a while now so we can't change it right away.

[2017-12-16 15:36] #1649 closed, assigned to nobody

[2017-12-17 05:30] rameshsubramanian87 opened #3983 "Collection level basic authorization not working"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Yes, but this is my first attempt at using the collection level authorization.

 2. Expected behavior:
The basic auth defined on a collection level works in the collection.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the

[2017-12-17 08:47] rameshsubramanian87 commented on #3982
On further review, it looks like more of a UI issue as it shows the variable as unresolvable in the collection, but I can use the variable.

[2017-12-17 09:29] prashantagarwal commented on #3982
@rameshsubramanian87 Yes, we will soon be making these variables available in autocomplete.

[2017-12-17 13:44] deepakpathania-zz commented on #3981
Hey @Kathy87, if I understand the issue correctly, you're simply trying to verify that an array in your response body is empty using a test script. If that is indeed the case, then you can do this by using the `pm.*` API like this:
[code]
You might have to modify the content of `pm.expect` if your returned data is wrapped around something else, so for example if your data is something like
[code]

[2017-12-17 17:47] imindrajit commented on #3962
I too am facing the same issue. I have attached screenshots for reference.

Screenshot when trying to login via google account

<img width="1280" alt="screen shot 2017-12-17 at 11 15 10 pm" src="https://user-images.githubusercontent.com/3801358/34082225-5e00d0a6-e380-11e7-93e1-f469e5d037a8.png">

Next screen

<img width="1280" alt="screen shot 2017-12-17 at 11 15 16 pm" src="https://user-images.gi

[2017-12-18 03:05] a85 commented on #3983
Seems to be working fine. Can you test this with postman-echo.com?

[2017-12-18 03:53] rameshsubramanian87 commented on #3983
@a85 looks like this is working. I stored the credentials in variables & there seems to have been a typo. I am closing the ticket.

Thanks for taking a look!

[2017-12-18 03:53] #3983 closed, assigned to nobody

[2017-12-18 06:09] harryi3t commented on #3977
@jmatelet Does your network requires a proxy to work? The request for the modal window does not go through any proxy, so that might be causing issues.

Also, could you share a screenshot of the filled modal (Get new access token)?

[2017-12-18 06:24] harryi3t commented on #3980
@alewmt  variable resolution is not supported for request sent through `pm.sendRequest`
For more information check this thread https://github.com/postmanlabs/postman-app-support/issues/3929

[2017-12-18 06:24] #3980 closed, assigned to nobody

[2017-12-18 09:24] harryi3t commented on #3973
@FreeWillaert Thanks for reporting the issue. I am happy to confirm that this is a known bug and the fix is already in progress. You can expect it to be fixed in the next version :)

[2017-12-18 09:28] megadix commented on #3970
Update: I think I've found out why this happened:

- the code for `firebaseLogin` included some `pm.expect...` tests
- one of those tests failed because of a syntax error in js code
- since the `JWT` variable was already stored, subsequent requests did execute smoothly

The strange thing was that the failed test was *not* reported in the runner results, only the **failed tests count** indicated so

[2017-12-18 09:38] harryi3t commented on #3482
@johnhamelink @petermarcoen @q42jaap
I have confirmed the bug and we are looking into it. Since there is an already open issue for this here https://github.com/postmanlabs/postman-app-support/issues/2947, I am marking this as duplicate and closing it.

Please subscribe to the original issue for updates.

[2017-12-18 09:38] #3482 closed, assigned to harryi3t

[2017-12-18 09:49] jmatelet commented on #3977
@harryi3t there is no proxy. Requests to the token services (client credential) is working good, but the authorization code doesnt work.
![postman](https://user-images.githubusercontent.com/32544062/34099874-089bbb60-e3e1-11e7-9809-255efeb49669.png)

[2017-12-18 10:21] i-bartolome opened #3984 "Postman Collections Gone or disorganized"
## App Details:

Postman for Windows
Version 5.5.0
win32 10.0.10586 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I just restarted my PC and most of my collections were gone, or disorganized.
 2. Expected behaviour: I want to get my collections back

How could I get my collections back?

[2017-12-18 10:29] chimit opened #3985 "Make "Auth, Headers, Body, e.t.c." tabs collapsable"
## App Details:
[code]
For example, for `GET` requests there is no big need to keep Auth tab always opened, while it takes a lot of space:

![postman 2017-12-18 18-21-16](https://user-images.githubusercontent.com/839349/34101450-c036a3a4-e420-11e7-916c-e3fcfcac6742.png)

If you make these tabs collapsable it would be much better for `GET` requests and not worse for all other types of requests.

[2017-12-18 11:57] sdnts commented on #3978
@LaughlinJames Are you still seeing this?

[2017-12-18 11:59] sdnts commented on #3979
Hi @felipeaf, thanks for reporting this. This is a known issue since most corporate proxies do not allow WebSocket communication, which is how our Sync service currently works.
Please reopen this if your proxy does allow websockets, but it still doesn't work. I'm closing this for now :)

[2017-12-18 11:59] #3979 closed, assigned to nobody

[2017-12-18 12:00] sdnts commented on #3981
Closing this. Please feel free to reopen if the above suggestion does not work for you :)

[2017-12-18 12:00] #3981 closed, assigned to nobody

[2017-12-18 12:03] sdnts commented on #3984
Hi @i-bartolome, I'm sorry to hear that you're having problems.
Do you use Sync? If yes, all your collections should be intact. Can you head over to your dashboard `https://app.getpostman.com/library/collections` and check if you see your collections there? If yes, signing out + in should bring all collections back.

If you do not use Sync, all your collections remain local to your machine. Did yo

[2017-12-18 12:03] sdnts commented on #3985
Hi @chimit, thanks for the suggestion! We will look into this :)

[2017-12-18 12:06] sdnts commented on #3974
@jooleeanh Thanks for reporting this, I wasn't able to see this.
I copied a parameter from the data editor in Headers and pasted it into the data editor of another request in another tab, and Cmd+S was working as expected. Could you possibly attach a GIF or something so I can try and reproduce exactly the way you are? Thanks.

[2017-12-18 13:38] harryi3t commented on #3977
@jmatelet Thanks for the details.
Can you make sure once that the callback URL registered on your auth server is "https://www.getpostman.com/oauth2/callback" only

Opening the modal window is almost same as opening a browser window (with few query parameters added). So ideally this should not have issues.

Can you try opening the same in a browser? You need to substitute `AUTH_URL ` and `CLIENT_ID

[2017-12-18 13:46] cyth319 opened #3986 "how to see request headers after making a get/post call?"
postman only shows response headers after making a request. but i also want to see request headers? is there a way for it? I did what this [SF](https://stackoverflow.com/questions/33793629/postman-how-to-see-request-with-headers-and-body-data-with-variables-substitut) question is sayin, however no magic "response headers" section appeared in Builder

i know this place is not for questions but plea

[2017-12-18 14:56] jooleeanh commented on #1368
Spent two hours figuring out why the schema validation tests were always positive even when putting bad schemas... Would it be possible to indicate this lack of feature in the documentation when talking about TinyValidator ?

Is this feature in the works ?

### Work-around

In the pre-request scripts, you can call the url and store the schema in a global or environment variable, to then use it in

[2017-12-18 15:47] georules commented on #3977
I have also observed an issue with postman 5.5.0 (osx) that sounds similar to this one.  I am not sure if related, but our /auth route has multiple stages, and it seems postman closes the login window before it allows the transition to the next page.  This doesn't happen in the chrome version or older versions of postman (5.4.0?)

I note that grant_type doesn't have separators between fields and v

[2017-12-18 16:03] felipeaf commented on #3979
Hi @madebysid! I can assure you that our corporate proxy supports WebSocket Communication and this is a OS specific bug.

I have dual boot in this computer. In Windows, with the same proxy configuration, Postman works fine. Most time i can only use proxy (other connections to internet are blocked), and postman  sync always works on windows.

The same machine, the same proxy server, works in window

[2017-12-18 16:19] jelle-art commented on #1850
Still present...

[2017-12-18 16:41] megadix commented on #3970
For a more complete picture, I've  managed to create a POC Collection + Runner results:

[POC_Postman_Issue_3970.zip](https://github.com/postmanlabs/postman-app-support/files/1568757/POC_Postman_Issue_3970.zip)

Based on this new material, I would say that the problem lies in **Pre-request Script** handling, i.e. if there are *failing* tests in Pre-request Scripts, the fail count in runner increas

[2017-12-18 17:12] chrisron95 opened #3987 "Duplicating and moving requests causes postman to hang indefinitely"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
It has gotten more and more prevalent over the past few months
 2. Expected behaviour:
Duplicating and/or moving requests should, you know, work as you would expect with no problems.

Duplicating and/or moving calls, especially (but not exclusively) when between collections, causes syn

[2017-12-18 18:12] dasjestyr commented on #2336
This actually still does not work for me. I set the value in the collection and it shows up as "unresolved" in the test URI

![collectionvariable](https://user-images.githubusercontent.com/3200529/34120865-50075c36-e3e4-11e7-8814-e536022cbe40.png)
![unresolved](https://user-images.githubusercontent.com/3200529/34120871-540f42d0-e3e4-11e7-8965-585354cc21db.png)

[2017-12-18 19:38] chrisron95 commented on #3987
Also a side note, it took 3 hours to unfreeze, and the calls I mentioned before are gone and won't recover. I even tried recovering all the way back to Friday. Nothing. I click the recover button and it flashes to "recovering" briefly then just goes back to saying "recover" and does absolutely nothing. Now I have to rewrite all of the tests and everything that I wrote for them, because I can't see

[2017-12-18 20:19] mgirotti commented on #675
+1

[2017-12-19 00:17] tennisoctocat commented on #2559
Same here-- Reinstalling fixes the problem. Thanks everyone for commenting that it works!

[2017-12-19 02:40] okonon commented on #2934
@garthk i am wondering if you found another solution?

[2017-12-19 02:41] okonon commented on #2934
@a85 any update on this feature request?

[2017-12-19 03:56] Vegapa commented on #1973
how do i check for the value of the response headers by writing test case is postman?

[2017-12-19 06:33] maissom-abbasi-confiz commented on #3969
Hi @harryi3t ,

I spent sometime in identifying the root cause. Here is what I found and did:

There was a code block where a value was not initialized, and later being dereferenced (as an index of a specific JSON array). When I fixed this code block, there was no collection run exception and my execution (pre-request and tests scripts) ran as expected.

In earlier versions of postman ( < 5.5.0),

[2017-12-19 08:01] ghost opened #3988 "text gets truncated at # in value string"
[code]

## Issue Report:
I want to send a GET with following param
query=ASK WHERE {<https://id.milieuinfo.be/imjv/observatie/6808/em/8/obs/9/2011#id> ?p ?v.}

However this text gets truncated at the # in the url.

[2017-12-19 08:17] kghost opened #3989 "Can't access console API"
## App Details:
[code]

## Issue Report:
Chrome Console API:
https://developers.google.com/web/tools/chrome-devtools/console/console-reference

Only console.log work, All others doesn't exist.
Error running scripts: TypeError | console.table is not a function

[2017-12-19 09:17] sarfaras opened #3990 "Postman not sending request to server. This is standalone postman installation in windows 7. It was working but all of sudden it stopped working and not sending request anymore. Meanwhile I am able to send same request from chrome (just to make sure there is no connectivity issue)"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-12-19 09:52] #3990 closed, assigned to nobody

[2017-12-19 09:53] sarfaras commented on #3990
Seems to be a weird network issue. Postman is working when i connected to a different network provider

[2017-12-19 11:36] sdnts commented on #3986
Hi @cyth319, the headers you add to the Headers section in the request are the ones that are sent. You can also open up the Postman Console (Cmd/Ctrl + Alt + C) if you're on the native apps too see these.
Please reopen if this does not work for you :)

[2017-12-19 11:36] #3986 closed, assigned to nobody

[2017-12-19 11:39] sdnts commented on #3989
Hi @kghost, this isn't supported by postman-runtime yet, but I'll add this as a feature request :)

[2017-12-19 11:42] sdnts commented on #3988
Hi @PaulZH, could you provide a GIF or something? I'm unable to correctly understand what you're trying to do. Thanks!

[2017-12-19 11:45] sdnts commented on #3987
Hi @chrisron95, do you see any errors in the DevTools console when this happens? Also, does this happen for all collections you have? How many collections / folders / requests do you have?

We're also working on a bunch of improvements for the underlying layer responsible for working with collections, which I suppose should solve this issue. This is aimed to hit production with v5.6 (next release)

[2017-12-19 12:00] pytnik89 commented on #2392
+1

[2017-12-19 13:05] ebonnet commented on #3905
I also experienced the same problem from Ubuntu 16.04 OS.
The workaround is to use postman from google chrome application but I would prefer to use native postman client application.
Don't know if this following log can help:
`(postman:1933): LIBDBUSMENU-GLIB-WARNING **: About to Show called on an item wihtout submenus.  We're ignoring it.
`

[2017-12-19 13:51] gmlion commented on #3963
I'm having the same problem on Linux x64. The Postman Console remains empty

[2017-12-19 14:42] wywywywy opened #3991 "Electron app automatically adds "=" to the end of URL, Chrome app does not"
Hi all,

Basically I am trying to interface with a 3rd party CGI API, and the URL endpoint looks like this -

http://localhost:9999/cgi-bin/api?service

Notice that the query string is non-standard.

It all works fine in the Chrome app.

But in the Electron app, it automatically adds a "=" to the end of the URL, making it http://localhost:9999/cgi-bin/api?service=

And the CGI API refuses to proce

[2017-12-19 17:09] vostersc opened #3992 "Add publish capability to API"
Right now I can save my documentation to the postman platform via a POST request. But if I want to publish the docs I can only do so via the manual online interface. It would be great if there was a way to publish via the API!

I'd also appreciate the implementation of a custom css sheet for docs. I am excited that it is on your [roadmap](https://trello.com/c/F8NLGock/13-custom-css-for-docs)!

[2017-12-19 17:43] jmatelet commented on #3977
@harryi3t
The problem is not coming from my AS authorize service as the following request is successfull
`{{AUTH_URL}}?response_type=code&state=12344&client_id={{CLIENT_ID}}&scope=resource.READ&redirect_uri=https://www.getpostman.com/oauth2/callback`
From a browser, I can login and I receive the code in the callback response https://app.getpostman.com/oauth2/callback?code=of76sfoPZaJNQ9gCLHdARsOKs

[2017-12-19 20:24] cyth319 commented on #3986
@madebysid opening up the console worked for me, thanks. however i think we should be able to see request headers in the builder. For example in this case, i did not write any Headers but console showed me   that postman sent  8 request headers. one of them was "referrer" which was the cause of my problem

[2017-12-19 21:54] tegomass commented on #6682
+1

[2017-12-19 23:00] lmorda commented on #6682
+1

[2017-12-20 01:14] jkleckner commented on #3720
Still bug in Version 5.5.0.

[2017-12-20 02:45] unifreak opened #3993 "can't login, again"
see #3866 . I don't know how to reopen an issue, so have to open a new one.

[2017-12-20 02:49] unifreak commented on #3993
Please let me know if your auth service is back running normally. for now I'll just to revert back to older version which can let me access my collection without signing in.

[2017-12-20 03:04] MatthewHartstonge commented on #2805
I've just had this issue upgrading to 5.5.0 on Windows 10 x64.

For our RESTful APIs we follow Google API design spec, therefore operations that don't fit in the normal HTTP verbs use `/{resourceID}/:action`

For example, the following now fails again:
[code]

'Code' shows:
[code]

This shows up correctly via 'code' but fails:
[code]

'Code' shows:
[code]

Finally, URL Encoding the colon works:
[c

[2017-12-20 03:18] matthewhartstonge opened #3994 "Colons and rest of URL disappearing"
## App Details:
[code]

## Issue Report:
### 1. New bug or old?

I've just upgraded to 5.5.0 on Windows 10 x64.

For our RESTful APIs we follow Google API design spec, therefore operations that don't fit in the normal HTTP verbs use `/{resourceID}/:action`. Postman has started stripping the colon and following words  from the URL.

The same behaviour is described in issue #2805 which was closed in

[2017-12-20 04:19] wtam commented on #3956
Same issue and I'm on Windows native client and where is the config file to delete?

[2017-12-20 05:12] arjunUnniumbath commented on #3173
is this issue fixed?

[2017-12-20 08:40] jooleeanh commented on #2978
+1, the gitlab integration was one of the main reason we purchased the Pro membership. Comes as a bad surprise to see it doesn't work with private GitlLab servers.

[2017-12-20 08:58] sivcan commented on #3994
@MatthewHartstonge
`:feed` in the url will be served as a **path variable** in the postman app and when you're trying to make the request, postman checks for it's value and since the values are undefined, the app truncates it.

To get this working there are two ways :
1. Add a variable to your collection with the key as "feed" and the value as ":feed"
Your url will look like so :
`http://localhost

[2017-12-20 08:58] mohammad6006 opened #3995 "UTF-8 characters not being displayed correctly in the response status message"
## App Details:

[code]

## Issue Report:

status message not support utf-8 and I cant copy message to encode it
![image](https://user-images.githubusercontent.com/553379/34198937-434beca2-e581-11e7-95d2-8692649e7440.png)

[2017-12-20 09:49] harryi3t commented on #3956
@wtam and to all new visitors facing this issue, here's the location of postman config directory across all platforms
[code]

[2017-12-20 10:04] Tzaphkiel commented on #1906
+1

[2017-12-20 10:12] Tzaphkiel commented on #3057
Which issue is duplicating this one?

 I also would like to see RAML 1.0 supported especially in the "Tests" tab in postman with response code validation, schema validation, etc. i.e.: basic checks extracted from the definition of the API in RAML v1.0 with types

[2017-12-20 10:39] ghost opened #3996 "Self-signed certificate breaks OAuth2 authorization in standalone Postman app"
## App Details:

[code]

## Issue Report:

We use self-signed certificates for development purpose. These certificates break the OAuth2 authorization in the standalone Postman app: Requesting a new OAuth2 token opens a new window, but the window is empty. Disabling SSL certificate verification (Settings > General) or adding an client certificate (Settings > Certificates) does not affect OAuth2 aut

[2017-12-20 10:57] dennissterzenbach commented on #2724
Any updates?
Still are waiting to see support for Postman to generate JavaScript Fetch API compatible code...

[2017-12-20 11:51] brazenvoid commented on #1946
Yes, it hangs still (on windows). I have 897KB file which comes as part of the JSON response and it hangs like no tomorrow.

[2017-12-20 12:08] polival42 commented on #285
+1

[2017-12-20 13:16] BalazsR commented on #350
+1

[2017-12-20 13:18] nomadesoft commented on #1906
+1

[2017-12-20 13:51] sivcan commented on #3996
@hodjo - Thanks for reporting this. We'll look into this.

[2017-12-20 13:53] sivcan commented on #3995
@mohammad6006 - Can you tell me how you're producing that custom status message?
The steps that we can follow to reproduce this error.

[2017-12-20 14:10] harryi3t commented on #3991
@wywywywy Thank for reporting this bug.
This is a known bug and the fix is already in progress.
You can expect this to work in the next version :)

[2017-12-20 14:33] ghost commented on #3988
<img width="1646" alt="screen shot 2017-12-20 at 15 31 58" src="https://user-images.githubusercontent.com/437781/34211935-f792f05c-e59a-11e7-9031-ae2c0130d632.png">

I need to input a # in the url (the key in the database (triple store)). However I cannot get past it. What comes at that position is thrown away.

[2017-12-20 15:30] AvivSimDS commented on #3959
Tested it today again:
With standalone postman 5.5.0 windows app it fails with this error message:
------------------------------------------------------------------------------------------------------
Could not get any response
There was an error connecting to https://cosigndemo.arx.com:8081/sapiws/CreateSign.
Why this might have happened:
The server couldn't send a response:
Ensure that the back

[2017-12-20 16:41] #3935 closed, assigned to nobody

[2017-12-20 16:41] a85 commented on #3993
Please email help@getpostman.com with your credentials and we'll help out.

[2017-12-20 16:41] #3993 closed, assigned to nobody

[2017-12-20 16:41] surfjedi commented on #971
+1

[2017-12-20 16:48] wywywywy commented on #3991
Thanks for the update.

Any ETA? :D

[2017-12-20 17:07] kdujmic commented on #1264
You can log fail response this way
tests["test that fails"]  = false;
if(!tests["test that fails"]) {
 console.log("Failed response: " + responseBody);
}

then look for it in console log ( chrom app chrome://inspect/#apps)

[2017-12-20 19:13] a85 commented on #1850
I can't replicate the issue. Screenshots below:

![screenshot 2017-12-20 11 12 47](https://user-images.githubusercontent.com/653409/34224165-c645ade2-e576-11e7-8016-2ef4a631af5e.png)
![screenshot 2017-12-20 11 12 34](https://user-images.githubusercontent.com/653409/34224166-c65e3600-e576-11e7-967d-a9419d7c9d56.png)

[2017-12-20 19:18] a85 commented on #2215
Closing as an old bug and should be fixed as part of updates to the new collection format.

[2017-12-20 19:18] #2215 closed, assigned to czardoz

[2017-12-20 19:22] a85 commented on #1983
Can't seem to replicate. Can everyone please send a request to Postman Echo (https://docs.postman-echo.com) instead of their servers and verify?

[2017-12-20 19:24] #3457 closed, assigned to sdnts

[2017-12-20 19:47] evanmiller67 commented on #3861
To provide clarity, this is something that exists in the chrome extension.

After switching from the extension to the native client and importing my collections, they are not working.

[2017-12-20 22:18] matthewhartstonge commented on #3994
Hi there,

Thanks for that. I had a quick look at the docs provided and there was no mention of Path Variables. I did find them mentioned in [Requests](https://www.getpostman.com/docs/postman/sending_api_requests/requests) though. It may be worth updating the variable docs to include this for other people who abide by the [Google RESTful API Design spec](https://cloud.google.com/apis/design/).

It

[2017-12-20 22:25] acceptableEngineering opened #3997 "[Bug] Items lose their body when moved from one collection to another (sometimes)"
## App Details:

[code]

## Issue Report:
As the title suggests, when moving a collection item ("test"?) from one collection to another, that item's body/arguments will sometimes not follow the item into the target collection

[2017-12-21 01:52] rosdi commented on #3127
I am using Postman 5.5.0
I solves this by turning off 'SSL Certificate Verification'

[2017-12-21 05:20] satwise commented on #3057
I couldn't agree more it would be so useful to be able import the RAML
available on our MuleSoft's Exchange API portals, which have fully
documented data type descriptions and examples fully defined. Not it's an
extra step to manually create a Postman collection after the RAML is
defined, which we don't have the Dev Cycles for.

Ed Jankauskas

On Dec 20, 2017 5:12 AM, "Sébastien" <notifications@gi

[2017-12-21 05:26] adis-io commented on #285
+1

[2017-12-21 06:54] unifreak commented on #3993
@a85 sent. I'm wondering why I'm encountering this problem. Seems you guys know the cause.

[2017-12-21 07:29] mohammad6006 commented on #3995
@sivcan I user Laravel and return response like this
[code]

[2017-12-21 08:26] wtam commented on #3956
@harryi3t Thanks it work

[2017-12-21 08:26] suseek commented on #2030
+1

[2017-12-21 09:08] jooleeanh opened #3998 "Change behavior of escape key-press in Collection Edit pop-up"
## App Details:
[code]

## Feature request:

#### Change behavior of `escape` key-press in Collection Edit pop-up

I keep and edit a lot of code in my collection pre-request and test scripts since that's the only way of creating functions available in the whole collection (ref #882: [Reusing pre-request scripts across requests in a collection](https://github.com/postmanlabs/postman-app-support/iss

[2017-12-21 09:23] jooleeanh commented on #3638
My computer froze, I hard-rebooted it, and Postman gave me the following error:

![image](https://user-images.githubusercontent.com/9873597/34249102-bbbc2848-e638-11e7-99f5-01054f8d81f3.png)
Neither `View > Reload` nor restarting the app worked.
I don't use OAuth2.0 tokens so I don't think it's related to #3616.

## App Details:
[code]

[2017-12-21 10:11] gklp commented on #1180
+1

[2017-12-21 10:39] repac commented on #1983
Frustratingly, it's not sending my requests twice today (even when running the very same GET I was running when I posted in this thread!). I tried sending all verbs and each only sent once to Postman Echo.

[2017-12-21 11:32] feskovio commented on #1180
+1

[2017-12-21 13:28] StanSvec commented on #285
Is this feature going to be released anytime soon?

[2017-12-21 13:31] AdaptableTester commented on #3862
Any luck yet ?

[2017-12-21 13:40] gurkanyerlikayaoglu commented on #2302
+1

[2017-12-21 15:20] dvh commented on #3390
+1

[2017-12-21 18:51] kzettlmeier commented on #3942
+1 I can confirm that this is happening on my machine as well.  Using the above work around for now.

[2017-12-21 19:33] geoffrothman commented on #1744
yes please!! +1

[2017-12-21 20:52] pdougla002 commented on #3959
Hi folks,
I ditched the Windows version 5.5.0 x64 referenced in this email chain and
am running fine on the Mac version of your app. I'll keep an eye out on
this, but for now can proceed with our API testing etc.
PD

On Wed, Dec 20, 2017 at 9:31 AM, AvivSimDS <notifications@github.com> wrote:

[2017-12-21 21:23] zcramos opened #3999 "401 Unauthorized when sending OAuth1 request - cannot disable url-encoding of OAuth Signature in headers"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently, I think this UI change was in 5.5.0 but I'm not certain.
 2. Expected behaviour: Application should allow me to toggle URL-Encoding of the OAuth Signature
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome Ap

[2017-12-21 22:02] a85 commented on #3998
Thanks for the feedback @jooleeanh. Collection and folder editing is moving out of a modal and coming into tabs pretty soon. This way they would abide by the dirty/non-dirty tab rules and code edits will remain.

[2017-12-21 22:54] kbuzby opened #4000 "Environment Variables only store unix style line endings"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Allow raw strings in environment variables.

When trying to enter a multi-line value for an environment variable the line endings are unix style (only \n). However, in the scenario we are testing the response from our API is giving windows style (\r\n),

[2017-12-21 23:55] n-dragon opened #4001 "[Bug] Postman doesn't forward the right method when receiving a 301"
## App Details:
[code]

## Issue Report:
 0. we encountered this issue recently but seems to have always been here

1. create a  request http endpoint A to return 301 with a location X in the header
example from putsrequest.com
[code]
2. create another http endpoint  B with location header X set to the value you put above in the header
3. request endpoint A with a POST request
3.1 Postman automati

[2017-12-22 04:13] mhmacleod commented on #2336
Same here. Any reply on this?

[2017-12-22 06:21] kamalaknn commented on #2336
@mhmacleod @dasjestyr Collection variables are available for use within the request. We are working on adding support for collection variables in the auto complete and variable highlighting in the next couple of releases.

You should still be able to use the variable.

[2017-12-22 07:03] matthewhartstonge commented on #3994
Hi @sivcan, what's the road map on this as I wouldn't consider it fixed.

[2017-12-22 07:11] prashantagarwal commented on #3994
@MatthewHartstonge We are planning to deprecate path variables in future and hence it is recommended to use Postman variables wherever possible.

[2017-12-22 07:18] matthewhartstonge commented on #3994
Sweet, thanks! That's awesome to know 😄

[2017-12-22 10:36] gustavoponce7 commented on #2082
Any update on this implementation?

Currently using the latest version (**5.5.0**) and postman doesn't respect the filename defined in the header.

[2017-12-22 10:48] chakibBH commented on #2030
+1
much need thanks a loaf :sake:

[2017-12-22 10:51] thecuriousdev commented on #4001
@NicolasDragon thanks for reporting this issue! we'll look into this, meanwhile can you try updating the postman app, and see whether the issue is still occurring for you?

[2017-12-22 11:55] mccannt commented on #2273
I would love to see this make it into a release in the near future.

[2017-12-22 12:12] dayan2 commented on #2833
Just hold your moves in the Postman tab in the taskbar, when small pop-up appears, right click on it and Maximize it. This works for windows 10.

[2017-12-22 14:26] kbuzby commented on #3879
Verified it was fixed. Thanks!

[2017-12-22 14:26] #3879 closed, assigned to SamvelRaja

[2017-12-22 16:39] itLead797 commented on #3122
I'm running into the same issue tv4.validate is always returning true.
Postman App: v5.5.0

**The test:**
if(responseCode.code === 200) {
    tests["Status code is " + responseCode.code] = responseCode.code === 200;
    var jsonData =  JSON.parse(responseBody);
    const schema = {
        "required": ["val1", "val2", "val3"],
        "properties": {
            "val1": { "type": "string" },

[2017-12-22 21:03] #3876 closed, assigned to kamalaknn

[2017-12-22 21:04] #3860 closed, assigned to sdnts

[2017-12-22 21:21] #3721 closed, assigned to abhijitkane

[2017-12-22 21:25] #3531 closed, assigned to kamalaknn

[2017-12-22 21:28] #3400 closed, assigned to kamalaknn

[2017-12-22 21:31] a85 commented on #3192
Seems to be working in the latest versions of the app.

[2017-12-22 21:31] #3192 closed, assigned to sdnts

[2017-12-22 21:36] a85 commented on #3643
@GuyPaddock Are you still seeing the issue? We had pushed an update to fix this.

[2017-12-22 21:42] a85 commented on #2394
Collection variables are available in versions 5.5+!

[2017-12-22 21:42] #2394 closed, assigned to nobody

[2017-12-22 21:44] a85 commented on #3249
These area available now in the latest version of the documenter!

[2017-12-22 21:45] #3249 closed, assigned to godfrzero

[2017-12-22 21:47] a85 commented on #3445
This is available now in the latest versions of the app.

[2017-12-22 21:47] #3445 closed, assigned to SamvelRaja

[2017-12-22 22:10] #1569 closed, assigned to nobody

[2017-12-22 22:39] a85 commented on #3498
Can see the confusion here but duplicating a tab is different than duplicating a request. Duplicating a tab means the same request is in multiple tabs. We will make this more apparent in the UI.

[2017-12-23 02:04] #2681 closed, assigned to nobody

[2017-12-23 02:07] #2602 closed, assigned to nobody

[2017-12-23 02:09] #2540 closed, assigned to nobody

[2017-12-23 02:11] #2386 closed, assigned to numaanashraf

[2017-12-23 02:13] a85 commented on #1983
Closing this for now. Will re-open if I see more reports.

[2017-12-23 02:22] #3859 closed, assigned to kamalaknn

[2017-12-23 02:26] barunhflipkart commented on #1647
It is showing 'undefined' after running each statement. @stephenmcd1  @AgentMC

[2017-12-23 02:26] #1850 closed, assigned to nobody

[2017-12-23 05:18] narmadhasugumar commented on #3127
If you have the issue in postman then go to setting>general>SSL certificate verification == off it

[2017-12-23 10:06] tegomass commented on #2050
Hey guys,
I was looking for something similar. I tried to manage OAuth2 with succession of GET/POST requests, but there are encrypted values generated to send in order to success the authentification that take time to manage, so I finally didn't go further this way.

Instead, I automatize the OAuth2 part and get the token using a browser like headless Chrome (or PhantomJS), then use the token to m

[2017-12-23 10:42] n-dragon commented on #4001
still occuring with :
[code]

[2017-12-23 13:09] AgentMC commented on #1647
@barunhflipkart That is expected. All the output from each set of statements is stored in variables, so there is nothing to output to the console.

[2017-12-23 18:29] a85 commented on #2934
@okonon Not yet but we have another round of updates planned for OAuth 2 pretty soon.

[2017-12-23 18:34] a85 commented on #2281
Closing this issue as this might not be feasible. For automated testing scenarios, APIs typically present an alternative auth scenario that would work with Postman/Newman.

[2017-12-23 18:34] #2281 closed, assigned to shamasis

[2017-12-23 18:36] a85 commented on #874
Custom auth can be written using pre-request scripts at the Collection level now.

[2017-12-23 18:36] #874 closed

[2017-12-23 18:37] a85 commented on #808
@harryi3t Is this fixed for good?

[2017-12-23 18:40] a85 commented on #739
This should be available in the latest versions of Postman:

<img width="652" alt="screenshot 2017-12-23 10 40 27" src="https://user-images.githubusercontent.com/653409/34321885-b6b794a4-e7cd-11e7-8036-8fe78dbfa84f.png">

Login requests like the one that @Structed suggested can be written at the collection level now inside a pre-request script.

[2017-12-23 18:41] a85 commented on #739
@harryi3t @kamalaknn @shamasis Can this be closed?

[2017-12-23 18:41] #494 closed

[2017-12-23 18:44] a85 commented on #2619
We have decided against trimming values automatically and in general not modifying user input unless there is an explicit direction. Closing this.

[2017-12-23 18:44] #2619 closed, assigned to a85

[2017-12-23 18:56] a85 commented on #1601
Collection variables are available now in the latest versions of the app!

[2017-12-23 18:57] #1601 closed, assigned to shamasis

[2017-12-23 18:59] #2504 closed, assigned to nobody

[2017-12-23 19:00] a85 commented on #2504
Checking through the updated_at attribute is not the ideal way to check versions. We recommend exporting to source control or using the in-built activity feed to checking last updated results.

[2017-12-23 19:02] a85 commented on #844
Closing as we'll probably open up customizations through a style guide in the future.

[2017-12-23 19:02] #844 closed

[2017-12-23 19:03] #1435 closed, assigned to nobody

[2017-12-23 19:04] #2513 closed, assigned to nobody

[2017-12-23 19:05] a85 commented on #3366
I don't think this is going to make it to the app. Importing from a data dump and changing state is not an expected behavior.

[2017-12-23 19:05] #3366 closed, assigned to a85

[2017-12-23 19:08] a85 commented on #2183
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1256

[2017-12-23 19:08] #2183 closed, assigned to nobody

[2017-12-23 19:09] a85 commented on #3625
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2657

[2017-12-23 19:09] #3625 closed, assigned to vkaegis

[2017-12-23 19:13] a85 commented on #2050
Collection level pre-request scripts are available for all sorts of custom flows that can be specified once and will apply for the whole collection. Updating progress on other threads about specific auth behavior.

[2017-12-23 19:13] #2050 closed, assigned to nobody

[2017-12-23 19:22] #3570 closed, assigned to kamalaknn

[2017-12-23 19:22] a85 commented on #3914
We have a big overhaul for the sync layer coming up. Closing this issue as an isolated case. Tracking sync related issues elsewhere in the tracker.

[2017-12-23 19:23] #3914 closed, assigned to SamvelRaja

[2017-12-23 19:29] a85 commented on #2467
This should be fixed now.

[2017-12-23 19:29] #2467 closed, assigned to sdnts

[2017-12-23 21:36] efenderbosch commented on #2681
Was this ever fixed?

[2017-12-23 21:38] dasjestyr commented on #2336
@kamalaknn I'm not sure what that means. Are you saying that despite the unresolved warning, it should still work when I hit send? Because when I do that, it doesn't fill the value and I get a request error.

[2017-12-24 00:06] a85 commented on #3094
I believe you can now use Collection variables for this now and overwrite these values with environment variables.

[2017-12-24 00:17] a85 commented on #3169
Seems to be fixed now.

[2017-12-24 00:17] #3169 closed, assigned to sdnts

[2017-12-24 00:23] #2230 closed, assigned to czardoz

[2017-12-24 02:42] a85 commented on #3673
Seems to be fixed in the latest release.

[2017-12-24 02:42] #3673 closed, assigned to sdnts

[2017-12-24 02:48] a85 commented on #3338
@garethj-msft Added the Auth label. Thanks for the suggestion!

[2017-12-24 02:53] a85 commented on #3184
You can use setNextRequest and the scripting sandbox to achieve this. Check out our docs: www.getpostman.com/docs

[2017-12-24 02:53] #3184 closed, assigned to a85

[2017-12-24 03:32] a85 commented on #2922
@shamasis This should be possible now through the sandbox. Yeah?

[2017-12-24 03:39] a85 commented on #1611
This is now available through collection level scripts in the latest apps!

[2017-12-24 03:39] #1611 closed, assigned to nobody

[2017-12-24 03:40] a85 commented on #3530
A bit confused: the name is visible in the collection runner in the top bar.

[2017-12-24 10:28] ghost commented on #2931
A Snap package (https://snapcraft.io, https://www.ubuntu.com/desktop/snappy) would be another solution that would cover many of the popular Linux distributions.

[2017-12-24 12:22] jakubkratina commented on #1669
+1

[2017-12-24 21:25] a85 commented on #3708
Closing as duplicate of #3311. Tracking progress there.

[2017-12-24 21:25] #3708 closed, assigned to SamvelRaja

[2017-12-24 21:40] a85 commented on #2872
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1667

[2017-12-24 21:40] #2872 closed, assigned to nobody

[2017-12-24 21:43] a85 commented on #3389
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2086

[2017-12-24 21:43] #3389 closed, assigned to bhawna2109

[2017-12-24 21:50] a85 commented on #2318
This is fixed in the latest versions of the app.

[2017-12-24 21:50] #2318 closed, assigned to nobody

[2017-12-24 21:51] a85 commented on #2594
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1937

[2017-12-24 21:51] #2594 closed, assigned to nobody

[2017-12-24 22:01] a85 commented on #3406
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/1429

[2017-12-24 22:01] #3406 closed, assigned to bhawna2109

[2017-12-24 22:22] a85 commented on #2681
Yep. Fixed in the latest release.

[2017-12-25 00:07] samuraitruong commented on #186
The proxy doesn't solve my problem too because I need to capture the OAuth redirect to get token and set it into postman variable.
Note: I don't have control on server side to capture that token

[2017-12-25 00:47] a85 commented on #3014
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/2719. Will be out in public docs soon!

[2017-12-25 00:47] #3014 closed, assigned to a85

[2017-12-25 01:46] Felix-Pobaby commented on #285
+1

[2017-12-25 01:58] afrnukq opened #4002 "limit"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-12-25 07:00] kalinchih opened #4003 "Postman v5.5.0 cannot send HEAD request"
## App Details:

[code]

## Issue Report:
Cannot send HEAD request.
Always display Loading...

[2017-12-25 09:09] barunhflipkart commented on #1647
Yes, it has worked, thanks a lot.

[2017-12-25 14:36] tanguc opened #4004 "Collection runner don't executes few requests"
Version 5.5.0 (5.5.0)

Postman for Mac
OS X 10.13.2 (17C88)

## Issue Report:

 1. Did you encounter this recently, or has this bug always been there:
Recent - My actual collection is composed of 80 requests, however during the collection runner few requests of my initial collection are not ran. It's always the same kind of requests that are not ran during the runner, however usually it's the same

[2017-12-25 15:42] harryi3t commented on #808
@a85 yes!
Unless the user has provided a nonce value input (in advance options), Postman will always use the one provided by the server.

[2017-12-25 15:42] #808 closed

[2017-12-25 15:44] harryi3t commented on #739
@a85 yes, we support all the 4 grant types.

[2017-12-25 15:44] #739 closed

[2017-12-25 15:48] alahosky commented on #2086
Defo +1, as per my comment in other issue:
https://github.com/postmanlabs/postman-app-support/issues/3389#issuecomment-336061305

[2017-12-25 15:58] harryi3t commented on #1446
@jmatelet Could you open a separate issue for this with more details? I will be happy to debug and solve the bug.
Please include relevant screenshots, console logs (Postman console and Chrome dev console) and if possible, Auth URL and Access token URL too.

[2017-12-25 16:04] harryi3t commented on #957
@stajs You can share an environment across your team, which can have the oauth token.
And then everyone can use that env var in the Oauth-2 input. Would that work for you?

About your [second comment](https://github.com/postmanlabs/postman-app-support/issues/957#issuecomment-77949546), there is a feature request for this here https://github.com/postmanlabs/postman-app-support/issues/2452

[2017-12-25 17:18] #4002 closed, assigned to nobody

[2017-12-25 20:53] rmlira commented on #3173
Yes, with the additional parameters it works properly.

[2017-12-26 01:33] selfboot commented on #1607
+1 for asymmetric cryptography

[2017-12-26 02:23] XuluWarrior commented on #1850
I have just seen this bug.  I'm running Postman v5.5.0 on Windows 7.
I will see if I can reproduce it without sensitive details and post screenshots.

Also, when I click Send on the same request, the form values aren't sent.

[2017-12-26 02:27] XuluWarrior commented on #1850
Opening and closing Bulk Edit mode as suggested by bulkmeout fixes the issue with the generated code for that request but doesn't fix the Send action.

Opening Bulk Edit mode, making a white space change and deleting, and then closing Bulk Edit mode also fixes the Send action.

[2017-12-26 02:28] XuluWarrior commented on #1850
I wonder if this bug is related to syncing of requests across devices.  My problematic request was creating in the Chrome App via the Interceptor but didn't work when synced with the native app.

[2017-12-26 02:46] EeeMt commented on #184
`Ctrl+b` works, but why can not find this shortcut at `SETTINGS -> Shortcuts` ?

[2017-12-26 09:35] Stvovers commented on #285
+1

[2017-12-26 11:31] saurav28 commented on #3946
@madebysid thanks for the response...yes i am sending against an HTTPS endpoint...any update on the issue meanwhile ?

[2017-12-26 11:35] sdnts commented on #4001
@NicolasDragon Currently, when a 301 redirect happens, method is changed to a GET (and the request body is stripped). Although the RFC does not enforce this, we emulate browsers, that do this. We will look into this soon.

[2017-12-26 11:36] sdnts commented on #4003
@kalinchih, I'm unable to reproduce this. Can you check your server logs to make sure the request is received there and handled correctly? I'm closing this, but please let me know if this needs to be reopened.

[2017-12-26 11:36] #4003 closed, assigned to nobody

[2017-12-26 11:37] sdnts commented on #4004
Hi @tanguc can you confirm for me that there aren't any `setNextRequest`s in your collection? This usually causes the jumps that you're seeing.
If the same requests are skipped every time, it also points to an error like this.

[2017-12-26 11:39] sdnts commented on #4000
@kbuzby Thanks for reporting this :) We're working on a better way to allow users to handle data like this in the app, which should make it explicit what is actually being stored in the environment variables. We will look into this then.

[2017-12-26 11:40] sdnts commented on #3999
@zcramos Thanks for reporting this. @kamalaknn @harryi3t Can you guys look into this please?

[2017-12-26 12:54] dinfyru commented on #1180
+1

[2017-12-26 12:55] BobinMax commented on #1180
**+1**

[2017-12-26 13:10] harryi3t commented on #3946
@saurav28 you mean __HTTPS__ right, not __HTTP__?
Also, we do not set the certificate related headers. The way certificates are used in these scenarios is that it is set in the TLS socket and is used during the TLS handshake.

Are you using any proxy (Apache, Nginx, etc) in front of your server? If yes, I think it's usually the job of the proxy to set the header that you are looking for. Can you m

[2017-12-26 13:24] n-dragon commented on #4001
ok nice!
just for info, I saw that in the rfc 2616
[code]

I don't understand when you say 'we emulate browsers'

[2017-12-26 13:24] dennisslavid opened #4005 "Sync issues when moving requests/folders inside collection"
I get sync issues, sometimes resulting in disappearing requests, when moving around requests within the same collection.

When it occurs you get a popup saying the are syncing issues with the option to choose local or remote state to keep. I always choose local, as that is where I made the most recent changes.

It seems to occur most often when I try to move a request within the same folder to the

[2017-12-26 14:04] XuluWarrior commented on #1850
Interceptor does seem to be part of the problem.  I just replicated the issue doing the following

- Enable Interceptor addon
- Enable Interceptor sync in Postman addon
- Enable Sync API request across devices in both Postman addon and native app
- Send a POST request using https://resttesttest.com/
  - METHOD: POST
  - Endpoint: https://httpbin.org/post
  - Parameter Name: testparam
  - Parameter

[2017-12-26 14:12] rafaelmaruta commented on #1066
Please! Need so much

[2017-12-26 14:14] soufian044 commented on #1850
I confirm what @XuluWarrior said about the interceptor,  you can't reproduce the issue if you create the request manually, the problem appears when you try to generate the code for the intercepted requests using the chrome extensions.

[2017-12-26 15:10] laghutaarora commented on #3838
I downloaded the windows app and i lost the old API collections(chrome app)
is there any way to restore the old collection?

[2017-12-26 15:35] kbuzby commented on #3530
I've been using the Windows native app recently and everything is showing there now, and have an easy to way to log the requests / responses to see the variables used. I don't remember what the chrome app looked life off the top of my head, and I know that's been discontinued in favor of the native apps recently. I'll close the issue. Thanks!

[2017-12-26 15:35] #3530 closed, assigned to sdnts

[2017-12-26 17:26] saurav28 commented on #3946
@harryi3t ..thanks for the response...i don't have any proxy in front of our server..
same certificate when i am sending through Java's  javax.net.ssl.HttpsURLConnection in my java program is working fine..

[2017-12-26 18:40] tanguc commented on #4004
Hi @madebysid yes you're right, I've completely missed this point, thanks !

[2017-12-26 18:40] #4004 closed, assigned to sdnts

[2017-12-26 18:57] a85 commented on #283
@harryi3t I believe this is fixed now?

[2017-12-27 02:07] voeurnchy commented on #2153
+1