[2017-07-11 10:20] kamalaknn commented on #3255
Hey @daugustus,

Could you open Postman Console (`View -> Show Postman Console`) and then send the request with the console open, and share the logs? You can remove the authentication part in the logs though.

[2017-07-11 10:31] bhawna2109 commented on #3258
@alvmunoz Got it - environments are meant to support this very use case :)

I would suggest having different environments for different users in this case. For example, if I have 3 users, I would create 3 environments, namely User1, User2 and User3.
Each of these environments would share the same set of keys (user credentials), but with different values for each user.

You can use these keys in yo

[2017-07-11 10:42] sasasa42 opened #3259 "How to upload a json file to create a POST request?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-07-11 10:52] alvmunoz commented on #3258
At the moment we are using the Enviroments dropdown to choose the "enviroment" where we send the requests (that is, PRODUCTION, SIS, DEVELOPMENT, LOCAL, etc. ).

The only option is to have an enviromemnt for user. So we would increase the number of enviroments * number of users credentials.... Which is not easy to manage....

[2017-07-11 11:03] kamalaknn commented on #3259
Hey @sintoanto

You can select the request method as `POST` and then find various options to upload a file under the `Body` section. You can then select the file you want to upload based on the type of request body you choose.

I'm closing this issue as this is not a bug with the Postman App itself. Feel free to continue the discussion here.

[2017-07-11 11:03] #3259 closed, assigned to nobody

[2017-07-11 11:12] bhawna2109 commented on #3258
@alvmunoz Yep, I understand the need. We're tracking a similar issue here #2621
Improving the UX around Environments is a part of our roadmap, and we'll definitely look into this. Thanks for bringing this up - will update this thread once we have something concrete.

[2017-07-11 11:24] alvmunoz commented on #3258
Yes, that's exactly what I want! nested enviroments!

You can close this issue and I will track the progress in that one.

Thanks :)

[2017-07-11 11:27] bhawna2109 commented on #3258
That would be good @alvmunoz
Closing this as duplicate.

[2017-07-11 11:27] #3258 closed, assigned to bhawna2109

[2017-07-11 13:54] shubhamj-cuelogic commented on #3201
Hey @madebysid .. Any update on same?

[2017-07-11 14:13] unchaoss commented on #3252
Pl take a look at the comments I have added, thanks and regards

On 2017-07-10 03:38, Siddhant Sinha wrote:

[2017-07-11 15:00] decode007 opened #3260 "Wait for next call"
Hi, I am using POSTMAN for one restconf operations.
One of my request is for link bring-up. In which after successful post call. It takes around 5 min for link to come up.
That why my get request fails, when i run as a collection.
I can not set interval on the complete collection as it is for one call only.

I tried with setTimeout, set interval also in test tab. But that too is not working.

`fun

[2017-07-11 15:00] Faz540 opened #3261 "[Feature Request] - Highlight the differences in the 'Resolve Sync Conflicts' window"
Lately I've been seeing the 'Resolve Sync Conflicts' popup in Postman between what's been synced to the server and what the local value is.

Ideally, the difference between the local and server values should be highlighted to make it obvious to the user what changes they're committing to.

This is pain if the app crashes and it's asking the user lots of conflicts.
Feel free to ask if you need more

[2017-07-11 16:34] daugustus commented on #3255
The log entries are below. They show a simple timeout but this seems unlikely as it happens immediately.
[code]

[2017-07-11 17:25] danbrotherston commented on #682
+1

[2017-07-11 19:11] geraldbaeck opened #3262 "Postman Collection runner duplicates query paramaters"
I have a similar problem as described in  issue #3141

PASSES manual post:

{{url}}/niu/image?imageUrl=https://some/path/to/image/cb5999d6de7c44deb8750f0ee9edd1a2.png&employeeID=0ba9916e-e305-4df6-b318-a671013118a1

FAILS This is the requestUrl when using the test runner:

{{url}}/niu/image?imageUrl=https://some/path/to/image/cb5999d6de7c44deb8750f0ee9edd1a2.png&employeeID=0ba9916e-e305-4df6-b318-

[2017-07-11 23:34] sainejob commented on #3120
I'm seeing this in:
Postman for Chrome
Version 5.0.2
OS X / x86-64
Chrome 59.0.3071.115

![screen shot 2017-07-11 at 4 34 11 pm](https://user-images.githubusercontent.com/377227/28095359-ce7ae210-6656-11e7-8cf5-b81894b53694.png)

It works fine in Postman for Mac:

Repro Steps:
1) Go to: https://documenter.getpostman.com/view/2374336/broken-pre-request-script/6fYUinS
2) Click '> Run in Postman' > '

[2017-07-12 02:16] sasasa42 commented on #3259
Hi @kamalaknn
But, this does not work. I chose the file in the body section. After sending the request, what I am getting is just a piece of some info. PFA the screenshot.
<img width="964" alt="screen shot 2017-07-12 at 10 13 28 am" src="https://user-images.githubusercontent.com/30074470/28098784-debda506-66ea-11e7-81de-85f1b5629fde.png">

[2017-07-12 07:45] avjabalpur commented on #697
?

[2017-07-12 11:00] prashantagarwal commented on #3260
Hey @decode007 .  Currently there is no straight forward way to do this from Postman., but in upcoming releases we are bringing some new improvements which should make all this possible very easily. In the meantime you can refer #1038 for some work arounds.

[2017-07-12 11:00] #3260 closed, assigned to prashantagarwal

[2017-07-12 11:02] SLinde commented on #3178
Reproduces for Postman v5.0.2 for Windows win10 / x64.
If create a txt, and change it to csv, nothing changes.
As the result the last row data is always appended with '\r'. Otherwise an extra line at the end is parsed to additional column 'null' with '\r' value.

[2017-07-12 11:04] prashantagarwal commented on #3261
@Faz540 Thanks for suggesting this. Point duly noted. 👍

[2017-07-12 11:40] prashantagarwal commented on #3262
@geraldbaeck Hmm, I was unable to reproduce this. Can you try to reproduce this with `GET` request in Postman Echo collection. Just add these query parameters to the `GET` request and see if this happens again.

[2017-07-12 13:49] mcanepa commented on #2742
Just download 5.0.2
Still getting a blank window and the error is the same:
Failed to load resource: net::ERR_FILE_NOT_FOUND
file:///C:/Users/#1\AppData\Local\Postman\app-5.0.2\resources\app.asar\background-modules/../html/requester.html

May be that "#1" in the path (username) has something to do with it

[2017-07-12 15:14] ryancap-ual opened #3263 "Global Variables not saving"
## App Details:
Postman for Windows
Version 5.0.2
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: New Issue
 2. Expected behavior: When I create a new global variable key/value so that I can do what is in the video https://www.youtube.com/watch?v=DTOS_dFeXvM&t=552s. It does not save the variable definition.

1) Make new global variable

[2017-07-12 15:55] ejerlun opened #3264 "Import Folder of Collections Not Working"
## App Details:
Postman for Chrome
Version 5.0.2
win / x86-64
Chrome 59.0.3071.115

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recent
 2. Expected behaviour: Import > Import Folder > Drag and Drop | Select Folder then collections in the selected folders imported.
 3. Console logs:
common.js:128041 Uncaught (in promise) TypeError: Cannot read property '

[2017-07-12 17:17] johnomalley opened #3265 "Feature Request: new tab should use last selected body content type (e.g. JSON)"
## App Details:
[code]
Feature Request: remember body selection for PUT/POST.

I primarily work with JSON APIs.  It's a bit tedious to open a new tab, select POST, click on 'raw', then select JSON from the dropdown.  The defaults to me seem not very useful (form-data and 'Text' for raw).  It would be really nice if you remembered the last selection.  It's true I could use a collection but that see

[2017-07-12 17:25] sainejob commented on #3120
@madebysid - Should I open a new ticket?  I have no way to re-open this.

[2017-07-12 18:02] kenjones-cisco opened #3266 "Import Collection with Request Variables issue"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
     Only recently noticed
 2. Expected behaviour:
      Request Variable to display the Key, Value, and Description.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[2017-07-12 20:17] kunagpal opened #3267 "Import Folder doesn't work from v5"
Originally posted by @gauravshetti in https://github.com/postmanlabs/newman/issues/1126

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Scre

[2017-07-12 21:03] gauravshetti commented on #3267
Yes, the behaviour was consistent or as expected (import from folders) in v4.5. However in latest 2 versions (v5.0, v5.0.2) I am not able to import collections or environments using import Folder functionality.

Here is the error thrown on Postman DevTools
[code]

[2017-07-12 21:11] kunagpal commented on #3267
Duplicate of #3264

My bad, I didn't see that one earlier.

[2017-07-12 21:11] #3267 closed, assigned to nobody

[2017-07-12 22:05] unchaoss opened #3268 "Can someone please take a look at #3252"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-07-13 03:40] saiudayakella commented on #2821
@madebysid  We have many scenarios falling under this umbrella. If I individually run specific folders under a collection, I do not have any problem but when we run the entire collection(practical case), I do not want all the folders to be iterated and just specific folders. Can you discuss?

[2017-07-13 03:53] saiudayakella opened #3269 "Postman prompts me to save the file instead of downloading automatically"
## App Details:
Postman for Windows
Version 5.0.2
win32 10.0.15063 / x64

Issue:
We have an API that generates PDFs  as the response. Currently when I test the respective endpoint, postman/collection runner opens the "Save File" dialog instead of downloading the PDF automatically.

I tried the option "Send and Download" assuming that downloads the file without prompting to save but that too doesn'

[2017-07-13 05:16] maulanasly commented on #697
+1

[2017-07-13 06:13] SamvelRaja commented on #2786
@ovdsom Can you help us in debugging this much further by providing the logs from background layer. To get the logs you need to follow these steps.

Opening up the app from cmd, so that we can get the logs about it.
a. Go to cmd
b. C:\Users\[USER]\AppData\Local\Postman\app-5.0.0\Postman.exe
c. This will open the app for the user with console mode to track background data flow.

Once the app is ope

[2017-07-13 08:03] #3268 closed, assigned to nobody

[2017-07-13 08:43] sdnts commented on #3263
Hi @ryancap-ual, I'm not able to reproduce this.
When you say you click out of the window, are you referring to the Globals window? If so, you have to explicitly press Save at the bottom to save your globals. This additional steps makes sure no accidental saves take place.

If this does not work, can you share the script you're using to set the variable?

[2017-07-13 09:54] redefinitionof commented on #2786
Hi SamvelRaja,

I have not experienced the issue any more. I expect that it was caused, because my application that I was testing had a memory leak. When all system memory was full, Postman probably couldn't create a UI window any more.

Steven

________________________________
Van: SamvelRaja <notifications@github.com>
Verzonden: donderdag 13 juli 2017 08:13
Aan: postmanlabs/postman-app-support
C

[2017-07-13 10:38] stevenb9 commented on #1669
+1

[2017-07-13 10:43] sdnts commented on #3264
Hi @ejerlun, thanks for reporting this. I was able to reproduce this. We will get this fixed as soon as possible.

[2017-07-13 12:37] batjko commented on #1669
@nithincscubet I don't think that would make sense, since GraphQL itself has no concept of file uploads yet.

[2017-07-13 13:22] qarasha opened #3270 "Prettify/Beautify JSON and XML in Request Body"
# Prettify/Beautify/Minify in Request Body
It would be cool to have a Prettify/Beautify and eventually Minify feature for request body.
For us that are extensively using Postman, we do loose some amount of time on prettifying/beautifying JSON/XML in request bodies (especially when collected and pasted directly to postman).

## App Details:

[code]

[2017-07-13 13:26] geraldbaeck commented on #3262
sorry it was a POST request

[2017-07-13 17:06] Arkemlar opened #3271 "Accept-Language is sent but I not specified it."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: just got it, worked fine before
 2. Expected behaviour: do not send Accept-Language
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)
![ima

[2017-07-13 19:58] andewkeith259 opened #3272 "PERL Support"
Hi Postman Team,

We recently migrated our documentation from Apiary to Postman Pro and are loving the functionality we are getting. One thing we had in Apiary however that a client has mentioned that they are missing from the old documentation is PERL support.

They need it for the language dropdown in the documentation tool and as an option for the "Generate code snippets" feature in the Postman

[2017-07-13 20:41] kwood-netrist commented on #2337
@madebysid Just wondering if you have a timeline on Unicode support. We'd love to be able to share unicode characters in the body of POSTs in our collection.

[2017-07-13 22:01] m67hoff opened #3273 "code generate - node.js request - fs.createReadStream quotes"
the  code generate  for a multipart/form-data POST  for  node.js request
has a quoted  fs.createReadStream()  call - so it will not read the file!
(instead it sends  the sting "fs.createReadStream(...)" )

#### 5.0.2 code sample:

[code]

#### should be :

[code]

[2017-07-13 22:14] choerth commented on #3272
Yes, Perl please!

[2017-07-14 03:40] eblanshey commented on #362
If I have multiple chrome profiles open, for example work and personal, and interceptor is installed on both, how does Postman decide which window's cookies to use?

[2017-07-14 03:45] somhpq commented on #2697
I am a king of new - I have Postman for Windows 64 - version 5.0.0 at work.

1. It does not work with NTLM - I set the Authorization Type to "No Auth" - with no Headers
2. It does not work with NTLM - I set the Authorization Type to "No Auth" - with Headers of Authorization : Negotiate xxxxxxx ...... ( I stole the value from Chrome Dev Tool - Chrome browser can hit the GET action directly )
3. I d

[2017-07-14 08:45] stianlagstad opened #3274 "Feature request: Change collection owner to another team member"
I'd like the ability to transfer the ownership of a collection I've shared with my team to someone else on the team (we're Postman Pro users).

[2017-07-14 09:10] sdnts commented on #3274
@stianlagstad Thanks for the feature request! While this isn't part of our immediate [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers), we'll dig deeper into this problem :)

[2017-07-14 09:11] sdnts commented on #3273
@m67hoff Thanks for pointing this out! We'll get this fixed.

[2017-07-14 09:12] sdnts commented on #3272
Thanks for the feature request! We'll look into this :)

[2017-07-14 09:25] sdnts commented on #3271
Hey @Arkemlar, are you using the Interceptor to send your requests?

Also, as an alternative, can you try this out on our [native apps](https://getpostman.com/apps)?

[2017-07-14 09:27] sdnts commented on #3270
@qarasha You can beautify the raw body by selecting everything and using the shortcut `Cmd+B`. Is this what you were looking for?
Please feel free to reopen if not!

[2017-07-14 09:27] #3270 closed, assigned to nobody

[2017-07-14 09:28] sdnts commented on #3265
@johnomalley That sounds like a useful thing to have. I'm adding this as a usability feature request.

[2017-07-14 09:48] bhawna2109 commented on #3265
Hey @johnomalley thanks for the suggestion! Customizing the interface based on user's history of usage is definitely useful in a lot of places. However, for your use case, I'd like to suggest a bit quicker way: if your request is NOT saved inside a collection, you can right click on a tab and duplicate it. This way, your settings will be preserved, and you'd just have to tweak the content.

Do let

[2017-07-14 11:00] sdnts commented on #3266
Hi @kenjones-cisco thanks for the detailed report! I was able to replicate this. We'll get on a fix.
One question: Did you export the collection from the app or did you create it yourself?

[2017-07-14 11:03] sdnts commented on #3269
@saiudayakella I agree that the download dialog should be suppressed in the Runner at least.
@a85 What are your thoughts on this?

[2017-07-14 11:17] vinaygoel79 commented on #1663
@nwayve @abhijitkane @sanmarco @czardoz @kams-mash @dennisoverbeeke @kabilanvk @kams-mash @shamasis @sh1n0b1 @SamvelRaja I am facing the same problem.
I set:-"Access key:- xxxxxxxxxx
         Secrete key:-xxxxxxxxxx
         Aws region:- ap-south-1
         service name:- execute-api"
Can anyone me to solve this problem. Thanks in advance.

while **POST** i get this error
`{
    "message": "The re

[2017-07-14 14:43] megadix opened #3275 "Exported Run Results JSON file contains wrong results.totalRequestTime : concatenated string instead of sum"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This is the first time I've used this feature
 2. Expected behaviour:
`results.totalRequestTime` in exported JSON file should be a number (perhaps long?) with the sum of the elapsed request times
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-in

[2017-07-14 14:52] AndrewPirkola commented on #3208
I have the same issue. We need to use a vendor API to trigger sending an e-mail, and one of the parameters is the e-mail subject. The problem is that the subject must include the pattern ##{id}## for it to get properly handled.

Why that's a URL parameter rather than being something in the body of a post message is something I'll forever not understand, but it's what I have.

[2017-07-14 15:29] stevenhurth commented on #739
I'd definitely appreciate the password grant type as well.

For a simple use case workaround, I was able to put the type and credentials right in the query string when making the request for an access token. I just left the selected grant type in Postman as 'Client Credentials'.

Obviously, I'm not sure if everyone's implementation supports this, and I do not recommend using this approach in produ

[2017-07-14 15:35] shark0der commented on #739
Also beware that in the solution proposed by @stevenhurth the webserver
will keep logs with plaintext credentials which is definitely not a good
idea.

[2017-07-14 15:38] tribou commented on #1669
@madebysid @numaanashraf @a85 I'd love to get an update on this feature. This issue has been open for a year and a half now; and with the proliferation of GraphQL, I would have expected more progress (or at least more communication).

I think you've got two incredible opportunities for Postman, and you don't need to try to tackle both at once:

1. Support the GraphQL syntax in Postman to send API

[2017-07-14 15:59] stevenhurth commented on #739
Right on @shark0der - know your infrastructure if you plan to use that approach.

I was only dealing with local development, running only an application server. No web servers, load balancers, etc in between.

[2017-07-14 16:56] CRC-Mismatch commented on #2622
@drkhannah being a byte array, are you sure it's gzipped? If it's just the value that's messed up, it could be one or more of
1. As JSON has no concept of 'byte', if the server is returning JSON, maybe it interprets a byte array as a string when encoding to JSON?
2. Is the server sending the correct Content-Type and Content-Encoding headers?
3. If it's only the value, while other data appears fine

[2017-07-14 17:26] kristyoverton commented on #2992
I'm having this issue now, in v5.0.2.

[2017-07-14 20:05] ycho46 opened #3276 "Body in post is deleted when it is being work on simultaneously"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Been working around this for a while
 2. Expected behaviour: Body to be in sync
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

1. Creat

[2017-07-14 20:37] vl4dt commented on #2858
I am having a similar issue, I can see the Cookies tab next to Body with a list of all cookies but there are no buttons or any way to delete them, it's just a read only list of all cookies, which is very useful but I'd like to run some test with a fresh environment.

[2017-07-15 00:58] johnomalley commented on #3265
I have a few collections but honestly they are like browser bookmarks - too much work to maintain when you jump around so much during a typical workday.  I rely primarily on history.

I realize it sounds perhaps a tad lazy but as an engineer I interact with sometimes dozens of APIs in a typical day.   I am a consultant and I often have multiple projects going at once. It's really not practical to

[2017-07-15 01:29] Arkemlar commented on #3271
@madebysid I use smetimes, but during this tests it was disabled. In native app everything is ok, the header is not sent when not specified.

[2017-07-15 11:49] leozilla commented on #2247
+1

[2017-07-15 16:35] katzbo commented on #2476
+1. it takes ever :(.

[2017-07-15 19:21] karol-pawlowski commented on #697
+1

[2017-07-17 07:17] akaguny commented on #697
+1

[2017-07-17 07:31] alvmunoz opened #3277 "Delete other user's environment templates"
## App Details:
[code]

Hi,
We have in our postman a number of environments that were shared by people that are no longer in the Company. Despite of being admin, there is no way to delete them.

At least admins should have the rights to delete any environment template.

[2017-07-17 07:39] sdnts commented on #3120
Hi @sainejob You don't need to require cryptoJS to use it, it is already available as a global. [Docs](https://www.getpostman.com/docs/postman/scripts/postman_sandbox)

If you still can't get it to work, I'll reopen this.

[2017-07-17 07:53] bhawna2109 commented on #1501
Hey guys, we're tracking this here - #2086
Closing this as duplicate.

[2017-07-17 07:53] #1501 closed, assigned to nobody

[2017-07-17 07:54] bhawna2109 commented on #2954
Tracking a similar issue here- #2086
Closing this as duplicate.

[2017-07-17 07:55] #2954 closed, assigned to nobody

[2017-07-17 08:10] bhawna2109 commented on #3265
Got it @johnomalley - thanks for the detailed explanation! We're tracking a similar issue of having the 'Body' tab as default here #2086 , and this could perhaps be an extension of it. We'll update this thread when we have something out.

Regarding the issue of managing multiple unrelated collections - we're working an an idea of having *Workspaces* in Postman. This will give you the ability to pu

[2017-07-17 09:25] ghost opened #3278 "Feature: Collection Runner -> follow the latest tests and variable width of results-column"
for me it would be nice to have the chance to expand the "results"-column in the collection runner.

Also, in my opinion, there should be a switch, so that the column always follow/show the latest tests or works in the way as it already does
(2 possible ways... the Scrollbar always moves to the last position or the test list is upside down, so that the latest test is always on top of the list)

[2017-07-17 10:27] kamalaknn commented on #3278
@vega5 Thanks for your feedback.

I am forwarding this to our design team. They'll look into this.

Could you explain which part of the Runner you mean by `results` column? Could you attach a screenshot for any particular case you are having trouble with?

[2017-07-17 10:40] kamalaknn commented on #3276
Hey, @ycho46 ideally it should warn you with a message `This request has been modified in another open tab.`. Did the request body change without a confirmation dialog?

Could you share more info on what/how you changed the request body, that is causing you to lose your work? (screenshots or screen capture would be super helpful).

[2017-07-17 10:55] kamalaknn commented on #3275
@megadix Thanks for reporting this. This should have been handled properly.

We'll update the thread once this is fixed.

[2017-07-17 10:58] kamalaknn commented on #3277
Hey @alvmunoz

Could you email your `Team` id and the `Environment templates` you want to remove to `help@getpostman.com`?

We'll take a look at it.

[2017-07-17 11:09] StanSvec commented on #285
Any guesstimate when this feature is released?

[2017-07-17 12:52] senpl opened #3279 "cURL import without space parameter"
## App Details:
Postman for Linux
Version 5.0.2
linux 4.4.0-59-generic / x64

## Issue Report:
 1. Problem was present in previous and current version
 2. Expected behaviour: Import -> Paste Raw Text -> curl -H"data=example1&data2=example2" http://URL/example.cgi
to be imported, it work with space after -H curl -H "data=example1&data2=example2" http://URL/example.cgi
 3. not required
 4. not appli

[2017-07-17 13:11] bdone commented on #2086
plus one

[2017-07-17 13:24] bhawna2109 commented on #285
Hi everyone, this is on our roadmap, but there's no ETA yet. We'll update this thread when we have a prototype ready to test out. Thanks for your patience.

[2017-07-17 14:32] kingio commented on #2369
@okonomiyaki3000  i switched to insomnia as postman is useless without `hosts` file support. It's quite bad vs postman but at least works.

[2017-07-17 14:58] jbasko commented on #1710
The workaround doesn't work for PROPPATCH for which I have an XML body. The body tab isn't enabled and isn't sent even though the original request and the exported json file contains body specification. Content-Type header is set to application/xml. Interestingly, when I click on "Code" button an choose to generate say Python requests code, the body is included.

Using Postman 5.0.2

[2017-07-17 15:35] javiber opened #3280 "Shortcut for cycling through tabs"
It would be nice if we could use `ctrl+PgUp` / `ctrl+pgDown` to cycle through tabs the same way as it works in Chrome.
IMHO all tabs-related shortcuts should be the [same as in Chrome](https://support.google.com/chrome/answer/157179?hl=en)

[2017-07-17 16:32] seekingua commented on #2247
+1

[2017-07-17 18:29] tzejohn opened #3281 "authorization error in digest with quoted query parameters"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just experienced it, but it was probably there from before.
 2. Expected behaviour:
I expect that using digest authentication for a GET request where a query parameter has quotes on it would work and not result in a (401) Unauthorized error. When the request gets to the end point the pa

[2017-07-17 20:08] staticvoidmaine opened #3282 "cURL Request Provided By Published Docs Not Functional With No Workaround"
## App Details:
documenter.getpostman.com

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: published documentation should provide an immediately usable cURL request
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac ap

[2017-07-17 20:35] rylancates commented on #3282
This is an issue when the documentation is for external customers.

The URLs need to be human-readable in the actual written documentation, so URL encoding is undesirable at that point.

Conversely, when the user clicks the 'Copy to Clipboard' button, the expectation is, "Now I'm going to paste this into my terminal and hit enter and it will just work."

[2017-07-17 22:17] rylancates commented on #3282
I poked around a little more and have some more info on this issue.

I looked further into your API documentation documentation (rolls off the tongue ;) ) and found the example request/response functionality. This looked promising at first glance. So, I rigged up some request examples.

The request I was testing accepts two different query parameter schemes.

The first is a single query parameter

[2017-07-18 01:23] ahmetmert commented on #2606
Full screen mode is very annoying. I must have mistakenly pushed f11 key and had the same issue with wla2000. I though it was a bug or something

[2017-07-18 03:27] virusdefender opened #3283 "Example request body is missing after import operation"
## App Details:

[code]

## Issue Report:

recently

No error message in console log

## How to reproduce

 Create a collection and add an example,  the example request body is `raw` with `JSON(application/json)`

![image](https://user-images.githubusercontent.com/4939404/28299242-a31e36c2-6baa-11e7-9baf-2f5e5f6261ae.png)

 Export the collection with v2 format and then import it

 The example requ

[2017-07-18 03:48] Jbaker9868 opened #3284 "Redacted"
Redacted - emailed help address so that cloud info could be included.

[2017-07-18 06:26] yoqu commented on #576
question +1

[2017-07-18 09:00] #3284 closed, assigned to nobody

[2017-07-18 09:01] sdnts commented on #3280
@javiber Cycling through tabs is possible using `Cmd+Shift+]` & `Cmd+Shift+[`.
Is this what you were looking for?

Please reopen if not :)

[2017-07-18 09:01] #3280 closed, assigned to nobody

[2017-07-18 09:03] sdnts commented on #3271
Ah, as I suspected. When you send out XHR requests from Chrome, it auto-attaches this header.
I'd suggest shifting to the native apps anyway, since Chrome apps will deprecated by Google this year.
I'm closing this since the native apps behave as expected. Please reopen if you feel otherwise :)

[2017-07-18 09:03] #3271 closed, assigned to sdnts

[2017-07-18 09:48] mzky commented on #1567
var jsonData = JSON.parse(responseBody);

tests["API_Name_message:"+responseBody] = jsonData.status == "0";//1

console.log("message:"+responseBody);//2

[2017-07-18 10:53] Arkemlar commented on #3271
@madebysid the strange thing is that this issue appeared recently, so it might be something with browser upgrade. But nvm, I will use native app then.

[2017-07-18 11:51] anit05 commented on #3231
Hi
I have downloaded postman app for windows(around 70 mb size).

I have first Account folder and then Address folder in my collection.
But the runner is skipping account folder and my collection is set up such that it should be run in sequential order, so address folder api calls fails.

I am not sure what has changed as it was running pretty well few weeks earlier.
One more thing is that this co

[2017-07-18 12:59] slowwit commented on #2833
Hello,
This has also occurred on my system Windows 7 Service pack 1 64bit.
 I enjoy the product.  Thank you
If I was a better program I would help, but at least I can offer praise.
Postman
Version 5.0.2
win / x86-64
Chrome 59.0.3071.115

[2017-07-18 13:39] dudeintown commented on #3178
Hi I am still getting the error as 500 server error while creating JSON file data . attaching CSV for reference..

[2017-07-18 14:48] ili101 commented on #3039
Thank you @kwstoikonomou
I'm facing the same problem.
I tried to use Postman to send an API request and was getting a "syntax error", To see the problem I then used Postmen for windows "PROXY" option and sent the request to it, the parenthesis was encoded to %28 and %29 so the request was failing.
I then did the same thing on the Chrome version the () was not encoded and the API worked.

Please ma

[2017-07-18 15:54] sdnts commented on #3283
Hi @virusdefender, thanks for reporting this. I was able to replicate, and we will get on a fix for this. I'll let you know here when a fix is available.

[2017-07-18 15:56] sdnts commented on #3281
Hi @tzejohn Can you try this on our [native apps](https://getpostman.com/apps) as well and check if you still get this error?

[2017-07-18 16:27] willperring commented on #3265
Hey guys! @madebysid pointed me in this direction - glad to see someone beat me to the request!

Just to add my own use case to it, I've been trying to use postman to compare the output of two JSON apis - they have almost identical structure, save for a few minor differences, and I'd been trying to compare the output in tree view. Because the body view resets to standard HTML each time, it's not c

[2017-07-18 16:56] taufikp commented on #2437
+1  ... Postman only shows black background. Running Ubuntu 16.04 in VirtualBox with 3D acceleration. Setting the 3D Acceleration off will raise the CPU usage.

[2017-07-18 18:12] quicksketch commented on #3168
This may be a duplicate of #3172.

And confirmed this is a big problem for the `Set-Cookie` header, for which some applications set many cookies, each with a separate header.

[2017-07-18 18:32] rylancates commented on #3282
I restructured my issue request to simplify after more testing.

Here is a description of a problem with the only workaround I could think of:

I created an example request where I manually url encoded the request. Then, when I refreshed the documentation page, I found that the example curl request had 3 distinct sections:
1. The query parameters I url encoded in the proper order, but **url decode

[2017-07-19 00:21] jhamele opened #3285 "Unable to retrieve cookie details in 'Test' after response successfully returned."
Postman for Mac
Version 5.0.2
OS X 10.11.6

 1. Encountered this issue recently.
 2. Expected behaviour: able to use getResponseCookie method to obtain information contained in a cookie.
 3. Console Logs: See attached screenshot.
 4. Screenshots (if applicable)
![screen shot 2017-07-18 at 5 14 18 pm 3](https://user-images.githubusercontent.com/3768840/28345102-b8994c8a-6bdc-11e7-9ceb-4a62e43ff27e.

[2017-07-19 04:47] innovanik opened #3286 "The value of this.request.description is undefined"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 Same as previous version
 2. Expected behaviour:
it must be defined as the value of the description.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
N/A
 4. Screenshots

[2017-07-19 06:58] prashantagarwal commented on #3279
@senpl Thanks for reporting this. We are looking into the issue.

[2017-07-19 07:05] prashantagarwal commented on #3282
@rylancates Thanks for reporting this. We are looking into this issue and will get back to you with the fix.

[2017-07-19 07:47] prashantagarwal commented on #3286
@dopenik Thanks for reporting this. We were able to reproduce this and will release a fix for it soon.

[2017-07-19 09:30] tatyanaprokopenko opened #3287 "Get Collection URL is not working"
Application info:
Postman for Mac
Version 5.0.2
OS X 15.6.0 / x64

I tried to get collection URL
collection->Share collection->Collection Link->Get link->No url appears->Fetch link-> error "Something went wrong while generating a shareable link for your collection. Try again after sometime."

[2017-07-19 11:22] prashantagarwal commented on #3287
@tatyanaprokopenko Hey, I am unable to reproduce this. This error generally occurs when you are offline (not connected to internet). Can you once please verify your network connection status.

[2017-07-19 11:34] tatyanaprokopenko commented on #3287
Just checked my network connection, seems like it is fine
<img width="1323" alt="screen shot 2017-07-19 at 13 32 37" src="https://user-images.githubusercontent.com/16290695/28364943-e40983da-6c86-11e7-8d10-a0988292313c.png">

[2017-07-19 11:39] prashantagarwal commented on #3287
Hmm, Ok can you open devtools and check network panel to see what happens when you click on Get Link.

[2017-07-19 11:49] tatyanaprokopenko commented on #3287
![screen shot 2017-07-19 at 13 48 23](https://user-images.githubusercontent.com/16290695/28365466-023cd92c-6c89-11e7-931f-f87fdec515c8.png)

[2017-07-19 11:52] prashantagarwal commented on #3287
Okay just one last thing, what's the response you are getting for this request ?

[2017-07-19 12:02] tatyanaprokopenko commented on #3287
Only for events I have response
{"RecordId":"5fInY8GQ+HjpfQ9EzZulhsj1f0HTxZsYSGU5vINoaXzRFyEPlYc3DfCsipb1q/PFbZveet4go1Xe2Tl9/4XPt13sLxmRnxTYRqLnDyVJUImN/QLhLCzhHs/yU6vD01RVqaOfIqUuRfH6IQNh/Ufs+tYyM5z91PzUhK1p6kR15qRL3z0EwqN2aL195kqCwCqPoJeP6F5o455YmrhMQlpf/C1+8LeSXwmd"}

![screen shot 2017-07-19 at 14 01 38](https://user-images.githubusercontent.com/16290695/28365931-d279b672-6c8a-11e7-8635-b8491

[2017-07-19 12:05] prashantagarwal commented on #3287
No, I mean I can see your collections request failing in the above screenshot. I want to see are you getting 400 for some reason or any other status. So can you open the response of that collections request (the one which is red in above screenshot) and see what status/error the API is returning.

[2017-07-19 12:08] kamalaknn commented on #3285
Hey @jhamele

I am not able to reproduce this. Are you seeing this for all the requests/cookies or only for this request?

Could you try sending a request to `https://postman-echo.com/cookies/set?FOO=bar` and `console.log(postman.getResponseCookie('FOO'));` in the test scripts to confirm this?

Also, could you attach a screenshot of the `Set-Cookie` header you see on the response `Headers` section

[2017-07-19 12:15] tatyanaprokopenko commented on #3287
It says
(failed) net::err_connection_reset
![screen shot 2017-07-19 at 14 15 02](https://user-images.githubusercontent.com/16290695/28366367-adf8d59c-6c8c-11e7-8fad-59b5862727bd.png)

[2017-07-19 12:23] prashantagarwal commented on #3287
Hmm, So this means that this request is not going to network because of some network connection issue. Any chance that you are behind a network proxy ? Also have you recently started facing this issue or was it there before ?

[2017-07-19 12:25] tzejohn commented on #3281
Yes. I tried this with the Mac native app, and it behaves the same way.

Postman for Mac
Version 5.0.2
OS X 15.6.0 / x64

[2017-07-19 12:35] tatyanaprokopenko commented on #3287
I will check with my DevOps team and let you know.
Thank you for help

And I have one more problem, in the morning I sent message in Postman help desk but still don'e have answer. Maybe you can help me
"Hello postman team,

My account is tatyana.prokopenko (tatyana.prokopenko@gmail.com) and yesterday I accidentally updated all my new collections with old data. How it happened:
I have several postm

[2017-07-19 13:14] titenis commented on #697
+1

[2017-07-19 13:32] sdnts commented on #3281
Thanks for confirming. We'll look into this and let you know here when a fix is out :)

[2017-07-19 13:35] #3287 closed, assigned to prashantagarwal

[2017-07-19 13:44] Heydiddly opened #3288 "Collection runner locks up when hitting and exiting from a request with no URL"
Found a bit of a bug... I ran the collection runner and it hit a request I'd forgotten to remove which doesn't actually have a URL... would expect this to just be skipped but instead the runner got stuck :confused: fine, I go and delete the offending request and hit stop to run it again... and now the runner is stuck "stopping"!

[2017-07-19 13:46] sdnts commented on #3288
@Heydiddly I was able to reproduce this, I'll let you know here when a fix is out

[2017-07-19 13:53] sdnts commented on #3168
Hi @quicksketch I verified that the headers are actually being sent to the server, but the Console (or the Runner for that matter) only list it once. I'm closing this as duplicate of #3172 as you said, since these appear to be the same issue. Please let me know if you feel otherwise.

[2017-07-19 13:53] #3168 closed, assigned to kamalaknn

[2017-07-19 13:54] Heydiddly commented on #3093
So _that's_ the problem! Spent a long time trying to figure out why my parameters copied from working requests were never being picked up!

[2017-07-19 13:58] sdnts commented on #2437
This looks like an [issue](https://github.com/electron/electron/issues/4380) with Electron. We're actively watching the thread and will let you know here when we make progress.

[2017-07-19 14:02] sdnts commented on #3178
@SLinde Do you also see the extra characters while previewing the file?

@dudeintown What do you mean you get a 500 when creating the data file?

Can you guys attach a sample CSV with which you see this, here?

[2017-07-19 14:05] sdnts commented on #3231
Can you confirm that there aren't any `setNextRequest` statements that might be causing this?
Can you share a sample collection you're seeing this with?

[2017-07-19 14:09] sdnts commented on #3277
I'm closing this in favour of #3274, as this will be taken up with that feature request. Please reopen if you feel otherwise.

[2017-07-19 14:09] #3277 closed, assigned to abhijitkane

[2017-07-19 14:19] sdnts commented on #1669
@tribou This is definitely something we're looking into. I agree that supporting the GraphQL syntax should be quickly doable.
I'd also suggest looking at out [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers), which we'll update with GraphQL status soon. Thanks for the patience! :)

[2017-07-19 14:27] jakeNiemiec commented on #697
There are 100 people subscribed to this issue now. Consider using the +1 button instead of making a comment:
![image](https://user-images.githubusercontent.com/16782063/28372115-73e8cee8-6c64-11e7-9dec-d9fb8d6e86c6.png)

[2017-07-19 15:01] javixeneize opened #3289 "Fuzzing option in postman"
Hi

This is not an issue at all, its just a question. I would like to know if i could create some type of loop in postman

I want to do a loop where i read every line from this text file and i inject that value to a field in the body and check the assertion

For example, i have a text file with several payloads (every line is a payload). Lets say:

' or 1=1; --
<script>alert("1")</script>
injectio

[2017-07-19 15:21] alan-givati commented on #3146
Hi.  I'm experiencing the same issue on 5.1.0-canary02.
Postman Interceptor 0.2.23

[2017-07-19 15:33] gauravcanon commented on #3146
@numaanashraf can you update on this

[2017-07-19 16:03] taufikp commented on #2437
Yeah I also agree that Electron is the problem. Atom for Linux also has exactly the same problem when 3D acceleration in VirtualBox is enabled.

[2017-07-19 16:14] javiber commented on #3280
Hey @madebysid, Thanks for the quick response,

First of all, I use Ubuntu so for me it's `Ctrl+Shift+]` & `Ctrl+Shift+[` and although your right, that *does* works on Postman but the problem is that for Linux and Windows, Chrome uses `Ctrl+Tab`/`Ctrl+Shift+Tab` or `Ctrl+PgDown`/`Ctrl+PgUp` (check this [link](https://support.google.com/chrome/answer/157179?hl=en)). So it would be great for Windows

[2017-07-19 19:12] oligriffiths commented on #2340
I'm seeing exactly the same issue.

[2017-07-19 20:42] a85 commented on #907
The feature is out in 5.1! Get it here: www.getpostman.com/apps

[2017-07-19 20:42] #907 closed

[2017-07-19 20:42] a85 commented on #682
The feature is out in 5.1! Get it here: www.getpostman.com/apps

[2017-07-19 20:42] #682 closed

[2017-07-20 00:48] beevor commented on #2437
Yes, I want to confirm on Ubuntu 16.04 in a VM that only a black background shows up, freezing the VM . Disabling 3D acceleration 'fixes' the problem.

[2017-07-20 03:09] virusdefender commented on #3289
You need Burp Suite

[2017-07-20 03:22] Roam-Cooper commented on #2302
Almost a year and no progress on this issue?

[2017-07-20 04:43] hvernanda commented on #2082
Just want to "up" this issue

Access-Control-Allow-Headers →Origin, X-Requested-With, Content-Type, Accept
Access-Control-Allow-Origin →*
Connection →keep-alive
Content-Disposition →attachment;filename=yearly_data_user.csv
Content-Length →331
Content-Type →text/csv; charset=utf-8
Date →Thu, 20 Jul 2017 04:41:20 GMT
ETag →W/"14b-JN9w/1EOr+hx9LxGE1c2zaIwhuE"
X-Powered-By →Express

Result is still sa

[2017-07-20 06:24] Comradin opened #3290 "Custom SSL CA support in Postman Desktop apps"
## App Details:
Postman for Windows
Version 5.1.0
win32 6.1.7601 / x64

## Issue Report:
 1. We could verify this with 5.0.0/5.0.2/5.1.0
 2. Accessing an encrypted website with a certificate issued by company CA
 3. The console shows the following error: Error: SSL Error: UNABLE_TO_GET_ISSUER_CERT_LOCALLY

I try to access an internal ssl protected URL with the latest postman client for windows. Ju

[2017-07-20 09:25] Odame commented on #2636
It's been about two months since the last comment on this issue. Any fix yet?

[2017-07-20 10:05] rdohms commented on #2585
I seem to have the same issue, but only in newman, not in postman. My Postman monitors are also broken, no proxy in play, not sure what to do?

I get this error in DevTools:
[code]

[2017-07-20 10:33] Dmytro-Komaryst commented on #2585
I found the bug in my application. Fixed bug and postman start work correct.
The bug in my application consisted in that:
For 304 and 204 responses I returned not empty body (body contained one symbol (')) and with header (Content-Type →application/json; charset=UTF-8) this caused falling the Postman.

[2017-07-20 10:35] Dmytro-Komaryst commented on #2585
Try clearing body before sending the response to your application, maybe it helps you.

[2017-07-20 10:35] rdohms commented on #2585
As far as we can tell, we have no Content-Type headers and nothing in the body.

[2017-07-20 10:39] rdohms commented on #2585
[code]

[2017-07-20 10:42] Dmytro-Komaryst commented on #2585
Try this request for checking Postman
https://postman-echo.com/status/304

[2017-07-20 10:47] Dmytro-Komaryst commented on #2585
If this request works fine it's the same problem as at me
I also thought that in response I have an empty body.
And Chrome app Postman works fine (but native Postman win app is fall)

[2017-07-20 10:54] Dmytro-Komaryst commented on #2585
Native windows Postman app and Newman works on the lib request.js Node.js
Chrome Postman app - works on another principle (for this reason it works fine)

[2017-07-20 12:22] Alexsey commented on #2155
@madebysid Now it's 5.0.2 and the bug is still there :(

[2017-07-20 12:40] rdohms commented on #2585
So,

- https://postman-echo.com/status/304 works fine
- our endpoint does not really show anything in the body
- i'm on a mac with the native app but i can reproduce this in runner and postman monitors.

The server we see this on runs on a new ALB structure on AWS, that is the only difference we can see.

[2017-07-20 13:51] yehosef commented on #907
great! - but I went to the page and don't see 5.1 - am I missing something?

[2017-07-20 16:12] Techcadia commented on #907
The Canary build fails to export the  json files with correct foldering and "_postman_isSubFolder": true. But the Actual current 5.1 works fine. Figured I might mention it here.

[2017-07-20 16:50] SamvelRaja commented on #907
@yehosef we released only for native application at present.
And
@Techcadia thanks for bringing this to our notice we shall take a look at that 👍🏻

[2017-07-20 17:04] yehosef commented on #907
ok - I was looking at the page after the github issue was closed - but the
site wasn't updated yet.  Now the site is updated.

On Thu, Jul 20, 2017 at 7:50 PM, SamvelRaja <notifications@github.com>
wrote:

[2017-07-20 17:40] brandonh-msft opened #3291 "Can no longer reorder requests w/in a folder"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just encountered after recent update(s). When you attempt to reorder w/in a subfolder, the item is placed at the top level (collection root) no matter where you drop it.
 2. Expected behaviour:
I should be able to reorder requests w/in a subfolder in a collection. This was possible bef

[2017-07-20 18:00] shobhitvaish commented on #1508
@mbirtwistle You are genius!

[2017-07-20 18:03] AmrEldib opened #3292 "Slash is Missing when Importing Collection with Base URL as Parameter"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
__I've encountered this bug recently.__
 2. Expected behaviour:
__I expect URLs to have double slashes after protocol when importing a collection. Ex: http:// and not http:/__
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the

[2017-07-20 20:04] efrenette11 commented on #675
+1

[2017-07-21 00:31] skoold2003 commented on #1946
V5.1.1 Mac crashes with 14.1MB JSON response. Kind of an extreme example but I don't have a payload to test that's smaller. Works in Safari on the same query.

[2017-07-21 00:50] SamvelRaja commented on #3291
@brandonh-msft are you seeing any error in the console?
Can you provide me exact steps to reproduce the issue?

[2017-07-21 04:14] affect commented on #1850
I believe I'm getting the same issue.

.post(null)

Version 5.0.2
win7 / x86-64
Chrome 59.0.3071.115

is this fixed?

[2017-07-21 05:50] mikob commented on #1463
I feel the authorization shouldn't be a tab in the requests, next to headers, body etc. Alternatively, Authorization could be set on the collection level -- "Authorize collection"? From there the user could decide what variables to store the output of authorization into -- bearer token, or username, password etc.  In my case I would store the bearer token generated via oauth2 into a `bearer_token`

[2017-07-21 06:52] S0im opened #3293 "Console logs print headers which has already been disabled in the case."
## App Details:
Postman for Windows
Version 5.1.0
win32 6.1.7601 / x64

## Issue Report:
Console logs print headers which has already been disabled in the case. See this，I disabled the "bug",and it still appeared in the log,  but in fact postman didn`t sent the "bug".

![console bug](https://user-images.githubusercontent.com/25290478/28452135-c15cbdb8-6e23-11e7-955a-52858563529e.jpg)

1.disabled a

[2017-07-21 08:14] Dmytro-Komaryst commented on #2585
So, for my case (I use Yii framework for my application) helps next hook:
if 204 or 304 then clears the headers, cookies, content, body data, stream.
Maybe it's not your case, I don't know :)

[2017-07-21 10:27] prashantagarwal commented on #3289
Hey @javixeneize you can post this question in our slack community. Someone will definitely help you out there.

[2017-07-21 10:27] #3289 closed, assigned to nobody

[2017-07-21 10:30] prashantagarwal commented on #3293
@S0im Thanks for reporting this. I was able to reproduce this. We will get this fixed soon.

[2017-07-21 11:12] merkuriy commented on #350
+1 HTTP Archive (HAR)

[2017-07-21 12:03] mugrufis opened #3294 "Postman code not generating swift code for post request"
I am doing a post request using postman to get the code snipet.Doing a post request with Body->raw->JSON(application/json) and passing as body empty brackets [] everything is working, I get a response from server and I can also generate a Swift snipet to use for my project.Doing the same as above, but instead of empty brackets passing a JSON inside, the postman request gets again a response from t

[2017-07-21 12:14] prashantagarwal commented on #3290
@Comradin Thanks for reporting this. We are investigating this issue.

[2017-07-21 12:16] prashantagarwal commented on #3294
@mugrufis Thanks for reporting this. We are investigating this issue.

[2017-07-21 13:34] rdohms commented on #2585
@madebysid any progress on the investigation on your side?

[2017-07-21 13:49] lietu commented on #2369
The issue does not seem to be limited to only native apps, I'm using Postman via Chrome's Apps and it also does not use my `c:\windows\system32\drivers\etc\hosts` -configuration

[2017-07-21 14:12] kamalaknn commented on #3292
Hey @AmrEldib

Thank you for reporting this. We have tracked the issue to [`postman-collection-transformer`](https://github.com/postmanlabs/postman-collection-transformer). We will work on a fix for this.

Also, the path variable syntax `:variable` is deprecated in favor of the newer syntax `{{variable}}`. In the meantime, you can switch to the newer syntax and continue working while we fix this.

[2017-07-21 18:30] rfonrouge opened #3295 "[Chrome] Deactivated environment variable seen valid in scripts"
## App Details:
Postman for Chrome
Version 5.0.2
win / x86-64
Chrome 59.0.3071.115

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
No idea, just started working with scripts.

 2. Expected behaviour:
When getting a deactivated environment variables (unchecked in Manage Environments window) with getEnvironmentVariable() or getGlobalVariable(), the value sho

[2017-07-21 18:32] KeynesYouDigIt commented on #907
What happened to this feature? When I go to get the linux native app v5.1, v5.0 downloads again and I loose nested folders, which messes us up a bit

[2017-07-21 18:33] KeynesYouDigIt commented on #907
Can someone link me to 5.1 or was it broken in someway?

[2017-07-21 20:18] invernizzie commented on #2030
Much needed.

[2017-07-22 06:13] Ezilkannan opened #3296 "Sort by HTTP Method type"
It would be nice to have a "sort by request method type" option in the desktop app.

## App Details:
[code]

[2017-07-22 11:14] Tong-c opened #3297 "params don't supply '#'"
i have a request ,but when i write the params  contains '#',i can't type the params in the input box

[2017-07-22 20:51] studgeek commented on #350
#86 is related to this, but not exactly the same (and closed). This request is to support importing the HAR (HTTP Archive) format that Chrome and other tools support (including IE,  FIrefox, Fiddler, and Charles Proxy).
http://www.softwareishard.com/blog/har-12-spec/
https://en.wikipedia.org/wiki/.har

[2017-07-23 02:37] studgeek opened #3298 "Suggestion: Provide code snippets for urlfetch/URLFetchApp (Google Apps Script, App Engine)"
As a suggestion, it would be handy if Postman provided code snippets for urlfetch
for Google App Engine and URLFetch for Google Apps Script. I think they actually are pretty similar under the hood.

Here are doc links:
https://cloud.google.com/appengine/docs/standard/python/issue-requests
https://developers.google.com/apps-script/reference/url-fetch/url-fetch-app

Thanks!

## App Details:
[code]

[2017-07-23 09:07] RobbyDeLaet commented on #1137
Come on guys, be serious for a moment. We are requesting ntlm authentication for 2 (TWO) years now. At the moment I'm forced to use Insomnia because they support ntlm. When is Postman finally going to do something about this issue.

As a consultant I work with clients that only support Windows Authentication, making Postman a useless tool.

[2017-07-23 20:13] jdsans opened #3299 "Unusual activity in postman history"
Not sure but i'm seeing some get requests in my postman which i have no idea how they were made. I never made those requests and don't know the nature or purpose of requests but i'm seeing it in the postman. There's also request headers attached to those get requests. How and why?

![postman](https://user-images.githubusercontent.com/180413/28502511-ca8c9152-6fc1-11e7-945f-6db73c4302b9.jpg)

[2017-07-24 06:41] dsithija commented on #2340
This worked for me.
Go to Headers tab and remove everything (specifically Content-Type).

[2017-07-24 06:55] jayanthktn commented on #3025
I am latest update. i am not able to access the API. keep on displays, ssl certificate issue. really horrible. but its not displaying in Chrome extension. only displaying in Windows application.
![postman](https://user-images.githubusercontent.com/27004220/28511463-f0071dea-706a-11e7-83a8-614eea51d4f7.PNG)

[2017-07-24 07:24] bugmeout commented on #1850
[code]

 to `payload = ""`  by default.

bug still not be fixed.

HOPE YOU  GUYS CAN FIXED IT!

[2017-07-24 08:38] sdnts commented on #3295
Hi @rfonrouge, I was able to reproduce this on the Chrome app, we'll get this fixed.

However, this does not appear to be happening on the [native apps](https://getpostman.com/apps). can you try this out there? I'd recommend using the native apps anyway since Google will deprecate Chrome apps soon :)

[2017-07-24 09:02] rfonrouge commented on #3295
I've just installed the windows native app and it works fine. Thanks @madebysid :)

[2017-07-24 10:07] sdnts commented on #3299
@jdsans Can you open your Postman [sessions dashboard](https://app.getpostman.com/dashboard/sessions) and check if you have any sessions you do not recognise? I think you might be logged into some other app, which is where the history requests are made.

If you have sync enabled, I'd recommend checking if all collections are intact [here](https://app.getpostman.com/dashboard/collections/private?ex

[2017-07-24 10:10] sdnts commented on #3298
Thanks for the request! We'll look into adding more code snippets to the already existing list.

[2017-07-24 10:16] jdsans commented on #3299
@madebysid Thanks for your reply. I looked at my sessions history yesterday and have already revoked all my sessions. I use postman only on my PC, so i didn't see any active session in the sessions history besides the one i had opened. The strange thing is on the 18th i might have been working on my project and i see those localhost requests being made which are the only one's i ever made through

[2017-07-24 10:22] sdnts commented on #3299
Installing the interceptor wouldn't have anything to do with it, since the Interceptor doesn't log you in in any way. If you do not see any other sessions any more, no more weird history should appear anymore.

I wonder, were you experimenting with the Proxy? If you were, maybe those requests were captured?

[2017-07-24 10:24] sdnts commented on #3297
Hi @Tong-c, we're aware of this, and are tracking this over at #3208

[2017-07-24 10:24] #3297 closed, assigned to nobody

[2017-07-24 10:26] sdnts commented on #3296
Hi @Ezilkannan, are you referring to requests within collections? If so, this would be weird to have, since requests inside collections have a defined order, so just sorting by method will mess with that.

Or are you looking for this in the history sidebar?

[2017-07-24 10:51] Ezilkannan commented on #3296
Hi @madebysid, I did refer to the requests within collections. It has a sort by name and sort by date option. I felt that a sort by request method would also be helpful. Or does the sort work only on the collections as a whole and not for requests within the collection?

[2017-07-24 10:52] sdnts commented on #3296
Ah indeed, the sort that you are referring to applies only to collections as a whole, not the contents, since the order of content is important.

[2017-07-24 10:55] sdnts commented on #2033
Closing as this should have been solved with the data editor.

[2017-07-24 10:55] #2033 closed, assigned to nobody

[2017-07-24 12:28] kajdo opened #3300 "tv4 error objects missing major information in native app and newman"
## App Details:

[code]

## Issue Report:
 1. I can't tell if this issue was there before - this was my first try to work with tv4
 2. Expected behaviour: the error object should carry the same information in **native app and in newman**, unfortunately it just carries
[code]
efficient bugfixing after validating several hundred parameters would need the full error object (or at least the **dataPath

[2017-07-24 12:33] jdsans commented on #3299
Nope don't use proxy. I'm always on direct connection. I'll keep any eye for any further such activity

[2017-07-24 13:21] TehWardy commented on #3136
Nope ... gone again.
How frustrating this is!

Loaded chrome, visited the API url it gave the message "your connection is not secure", I clicked the proceed link, then hit send in postman again and it's worked.

... eh?

[2017-07-24 13:49] sijones-uk commented on #2913
@kamalaknn has this issue been fixed now?

[2017-07-24 14:46] withoutclass commented on #1744
This would be a great feature to have.  Currently [Paw](https://paw.cloud) supports this but I'd rather not need multiple tools.

[2017-07-24 15:34] jlsinnott opened #3301 "Postman Update 5.1.2 Failing"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there?
Recently. I am trying to update my Postman app to 5.1.2
 2. Expected behavior: That the app will update

4. Screenshots (if applicable)
<img width="500" alt="screen shot 2017-07-24 at 11 32 52 am" src="https://user-images.githubusercontent.com/19391060/28531142-e89e3590-7063-11e7-9753-

[2017-07-24 15:36] sdnts commented on #3301
Hey can you make sure that your Postman App is in the /Applications directory? We've seen this error get resolved after the app moves to /Applications.

[2017-07-24 15:39] jlsinnott commented on #3301
Moved it and the update was successful. Thanks for the quick reply!

[2017-07-24 15:39] #3301 closed, assigned to nobody

[2017-07-24 15:45] cebor commented on #3212
Seems to be fixed in 5.1.2

[2017-07-24 16:13] loraxipam opened #3302 "Postman Console rendering disabled headers"
## App Details:
[code]

## Issue Report:
 1. Recently seen. (Broken by 5.1.1?)
 2. Expected behaviour: using a different Accept encoding, the Console would show the correct type sent in the request.
 3. Console log shows "Request Headers: Accept: "application/xml" even when "application/json" was requested.
 4. Screenshots
![image](https://user-images.githubusercontent.com/17756560/28533874-b23681

[2017-07-24 17:11] kamalaknn commented on #2913
Hey, @sijones-uk we just pushed a few cookie related fixes in `5.1.2` version of the app. Could you update your app to the latest version and let us know if it still exists?

[2017-07-24 17:14] ravibhagat opened #3303 "Its very hard to recognize on which tab I am currently if there are multiple tabs opened."
Its very hard to recognize on which tab I am currently if there are multiple tabs opened.

[2017-07-24 17:15] sijones-uk commented on #2913
Do you mean 5.0.2? That's the version I get when I download it from your website.

[2017-07-24 17:37] ravibhagat commented on #3303
![image](https://user-images.githubusercontent.com/17745162/28536327-7f27968c-7064-11e7-842d-479e95296705.png)

[2017-07-24 17:39] ravibhagat commented on #3303
Please see above tabs, its really difficult to know which is current tab. please do some coloring to entire tab which is opened as of now.

[2017-07-24 18:12] kamalaknn commented on #2913
@sijones-uk 5.1.2 is our latest version.

Could you try now? The newer versions take some time to propagate through our caches.

[2017-07-24 18:35] brandonh-msft commented on #3291
repro steps are pretty self-explanatory

1. Create a collection
1. put one request in the collection
1. create a folder w/in the collection
1. put one request in the folder
1. try to move the item from step 2 in to the folder.
1. try to reorder the requests w/in the folder

[2017-07-24 19:13] bryankindleysonos commented on #1235
+1!

[2017-07-24 20:19] tobeliketree commented on #3263
I am having the same problem.  I am using the following code in the tests window to attempt to capture the organization id from the json response and then set it as environmental variable.

`var jsonData = JSON.parse(responseBody);
postman.setEnvironmentVariable("organization_id", jasonData.data.org.id);`

The response body is as follows and I am expecting  'O00006zZL5oD.wxw' to be set as an envir

[2017-07-24 20:49] tobeliketree commented on #3263
I have some additional information to add to my post above.   The problem seems to be happening with any new attempt to set global or environmental variables.  I have long running / existing endpoints that use the exact same code block (different key values I'm looking for of course) and those work perfectly.  It's any new attempt at using this code block that seems to be a problem.
Interestingly

[2017-07-24 21:34] IvanVasilko commented on #2247
+1

[2017-07-24 22:16] tmilowski opened #3304 "Error while using SSL Certificate"
## App Details:
Copy paste this from Settings > About
![image](https://user-images.githubusercontent.com/20779477/28546860-0565c5fe-7081-11e7-9028-ea026564043f.png)
[code]

## Issue Report:
The following error displays while calling the REST API which requires self-signed certificate:
![image](https://user-images.githubusercontent.com/20779477/28546969-8bd3453a-7081-11e7-9721-c8c45997fc5d.png)
Spe

[2017-07-25 01:43] ramnov commented on #1475
+1

[2017-07-25 05:06] SharmaHarsh7 opened #3305 "Update Button Under About Tab"
Hi,

I want to request a new feature to have a button under About tab to check if any latest postman version is available or not. So that we can manually upgrade our setup to the latest version if it is not automatically updated.

Thanks,

[2017-07-25 05:11] SharmaHarsh7 opened #3306 "Sorting Folders and APIs under a collection"
Hi,

I would like to request a new basic but useful feature.

It would be appreciated if you can add functionality to Sort API Folders and APIs under them.

It is very helpful if we are dealing with large number of APIs and need to find one.

Currently, we have to check each api to find some.

Many Thanks,
Harsh

[2017-07-25 05:14] SharmaHarsh7 commented on #3305
Closing issue, as the requested feature is covered under 5.1.2

[2017-07-25 05:14] #3305 closed, assigned to nobody

[2017-07-25 05:20] #3221 closed, assigned to sdnts

[2017-07-25 06:15] ismaelhamed commented on #3084
@madebysid Can you guys just give us the option to set up the proxy manually, like most apps?

[2017-07-25 06:55] rajiv3444 opened #3307 "Cookie option (link/button) not available in my postman app"
## Cookie option is not available in my postman:

Cookie option is not available in my postman. Hence I am unable to use this option to deal with cookie.

[2017-07-25 07:06] kamalaknn commented on #3307
Hey @rajiv3444,

The Cookie management options are only available on the native applications. Could you verify if you are on the Native applications or the Chrome App?

The "How can I tell if I’m on the Postman Chrome app or Postman native app?" section in [this blog](http://blog.getpostman.com/2017/03/14/going-native/) will help you identify your app.

If you want to use Cookie management options

[2017-07-25 07:07] #3307 closed, assigned to nobody

[2017-07-25 07:13] kamalaknn commented on #3306
Het @SharmaHarsh7, this looks like a duplicate of #3089. I'm closing this. Please follow the parent thread for updates.

[2017-07-25 07:13] #3306 closed, assigned to nobody

[2017-07-25 07:14] sdnts commented on #3306
On a side node @SharmaHarsh7, if you're looking for a request, you should be able to use the search bar at the top of the sidebar.

[2017-07-25 07:17] kamalaknn commented on #3303
Hey @ravibhagat

I can understand this could be painful for you while working with many tabs open.

I'm looping in our design team to this thread. We'll look into how we can improve this behavior.

[2017-07-25 07:18] SharmaHarsh7 commented on #3306
Yes, The search bar is there at the top, but sometimes we need to search under a specific collection or a folder and this is when the sorting is required.

Because multiple collections might have same request and that can cause issues ...

[2017-07-25 07:24] LeWestopher commented on #2340
@dsithija Removing the Content-Type header (or any headers for that matter) does not work, for myself at least.

[2017-07-25 07:29] jachin84 commented on #3101
+1

[2017-07-25 08:12] linxiang-dev commented on #2317
same here
Mac app version 5.1.2, does not support the Chinese url params
but chrome app works fine

[2017-07-25 08:38] sydneyhenrard opened #3308 "JSON Data variables in raw body request are not replaced"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour: Run the request for all the instance of data from the JSON file
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-07-25 09:04] decadence commented on #2913
@kamalaknn I tried 5.1.2 version and seems like issue is resolved. I was able to login on Laravel 5.4 site using Postman. You can close this if there are no other problems.

[2017-07-25 09:29] kamalaknn commented on #2913
@decadence That's great.

@sijones-uk I'm marking this issue as resolved. Feel free to revive this thread if you are still seeing this.

[2017-07-25 09:29] #2913 closed, assigned to kamalaknn

[2017-07-25 09:33] oooarthur commented on #3291
Seeing this too in 5.1.2 Also can't reorder existing tests in a folder

[2017-07-25 09:45] oooarthur commented on #3291
Workaround seems to be to duplicate the "offending" request. You can reorder that ok, and then delete the original

[2017-07-25 10:36] kamalaknn commented on #3302
Hey @loraxipam

Thanks for reporting this. I was able to reproduce this.

There is something wrong with how the Request Headers are listed on the console. It appears that it only shows the last value of a header. Also, this would only affect the console and does not affect the behavior of the request.

We'll work on a fix. I'll update this thread once a fix for this is pushed.

[2017-07-25 10:49] SamvelRaja commented on #3291
@brandonh-msft, @oooarthur I tried reproducing the same from my end but it works from my end.

Attaching a gif to represent the steps i followed. let me know if i need to test any specific flow i missed.
![reorde_request](https://user-images.githubusercontent.com/5114052/28568854-fa18d52c-7154-11e7-8aaa-690e3f66753f.gif)

If you guys sees any errors in the console kindle send it at help[at]getpost

[2017-07-25 11:03] kamalaknn commented on #3308
@sydneyhenrard

I could see from your example that `{{data}}` is an Object and raw body is actually String. This could be the reason why the data as an object is not replaced in the raw body.

If you wish to use it, you could store your body as a stringified version on the data file like

[code]

I am closing this issue is not an actual issue with the Postman App. Feel free to continue any discuss

[2017-07-25 11:03] #3308 closed, assigned to nobody

[2017-07-25 11:12] kamalaknn commented on #3300
@kajdo this could be because we use [`postman-sandbox`](https://github.com/postmanlabs/postman-sandbox) to execute our scripts in the Native apps and Newman.

We'll take a look at this.

[2017-07-25 12:17] DrakaSAN commented on #2931
Any update since april? Currently, updating on linux is a pain if you didn't setup a script to do it for you...

[2017-07-25 12:26] harryi3t commented on #3017
duplicate of https://github.com/postmanlabs/postman-app-support/issues/808

[2017-07-25 12:46] shamasis commented on #2045
side-effect fix from: https://github.com/postmanlabs/postman-app-support/issues/1463

[2017-07-25 12:46] loraxipam commented on #3302
I wonder if this is limited to Accept or it if is any time there are multiple entries in the possible Header array.

[2017-07-25 13:08] kamalaknn commented on #3302
@loraxipam Yup, this is not specific to `Accept` header. Any header with duplicate values would go through this flow.

[2017-07-25 13:59] Gopaljeepurwar commented on #1983
Facing same issue with POST call:
 Chrome Version : 59.0.3071.115 (Official Build) (64-bit)
 Postman Version : 5.0.2
OS version : macOS Sierra  10.12.5 (16F73)

[2017-07-25 16:39] willybill commented on #3181
Can we get an ETA on when this will be fixed?  It's a serious bug that has blocked us from moving forward with the newman upgrade and I'm getting pressure to look for another test application if things like this can't be fixed in a reasonable time.

[2017-07-25 18:37] brandonh-msft commented on #3291
what happens if you add more requests and keep trying? mine all have much more than two in them (5+)

[2017-07-25 18:57] wzup commented on #1257
@abhijitkane

(https://github.com/postmanlabs/postman-app-support/issues/1257#issuecomment-227872031):

Is there an option to have a JSON response first level fields collapsed by default? In order to make less keyboard clicks to collapse them

[2017-07-25 21:15] MaximeMaillet commented on #2602
Hi. Got the same issue and I found solution.
I unchecked "Content-Type: x-www-form-urlencoded" in Headers.
(postman 5.0.2)

NodeJS side : I use https://www.npmjs.com/package/express-fileupload

[2017-07-25 23:12] tmilowski commented on #3304
Thinking that maybe the problem relates to my generated certificate CN name I regenerated it to use fully qualified CN name.
The URI to my REST service is https://MSBC509.ohsum01.ohsu.edu:9090/ws/rest/wrObject hence I made sure the CN name is set to MSBC509.ohsum01.ohsu.edu. Same problem persists.

[2017-07-26 07:35] sravanisatharla opened #3309 "Same url is getting returned in the newman report though we see different urls in the newman while executing Postman collection for many iterations(15)"
Team,

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This was encountered recently, Same url is getting returned in the newman report though we see different urls in the newman while executing Postman collection for many iterations(15).
 2. Expected behaviour:
It should take different input data from input sheet and hit different urls

[2017-07-26 07:49] sravanisatharla opened #3310 "Json script error in different API's while running postman collection in newman"
Issue:
Json script error in different API's while running postman collection in newman

Steps to Reproduce:
1. Created a collection with different input data in the input json
2. Run the collection with input json in newman
newman run Collection_name.postman_collection.json -n 15 -d Input_P_S.json -e PD.postman_environment.json -r html,cli

3. Getting Json script error while running it for differe

[2017-07-26 07:51] gabrielmuresan opened #3311 "Parameters with identical names are removed when disabled in GET requests."
## Issue Description:
When trying to add a list of parameters and then disabling one of them starting from the first one, parameters disappear instead of getting disabled.

## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: __recently__
 2. Expected behaviour: __Parameter should remain visible, but disabled.__
 3. Console logs: __Not ap

[2017-07-26 07:52] nbarel commented on #2155
@madebysid Same happens to me on Postman App for windows v5.1.2, when I import any environment file

![capture](https://user-images.githubusercontent.com/18085493/28610120-eb80678c-71ef-11e7-8f0d-1ead13209326.PNG)

to reproduce:
1. create a new environment
2. download it to external file
3. import the downloaded file

[2017-07-26 07:59] rj93 opened #3312 "Delete cookies programmatically"
I'm looking for a way to clear cookies between each test, I know I am able to do this via the GUI but I want to do it automatically in the pre-request scripts. I tried `document.setCookie = ...`, but `document` isn't defined.

My current work around is to set the cookies into global variables, and use these variables in the header values, which allows me to set the values to empty strings at the b

[2017-07-26 08:04] nbarel commented on #2155
@madebysid Same happens to me on Postman App for windows v5.1.2, when I import any environment file

![capture](https://user-images.githubusercontent.com/18085493/28610768-2e733d60-71f2-11e7-9ab2-fa9bb836ae59.PNG)

to reproduce:

create a new environment
download it to external file
import the downloaded file

[2017-07-26 08:44] KMayne commented on #2366
+1 Spent a few hours debugging my app when this was the cause :disappointed:

[2017-07-26 09:27] rsabirov commented on #3190
I agree, font sizes too small.

[2017-07-26 09:35] rsabirov opened #3313 "Scrollbars are very small"
## App Details:

[code]

## Issue Report:
Scrollbars are very small. They are hard to hit by mouse. Especially on wide screens.

[2017-07-26 09:36] sdnts commented on #3311
Hi @gabrielmuresan, we were able to reproduce this, we'll get on a fix ASAP

[2017-07-26 09:42] sdnts commented on #3313
Hi @rsabirov, we use default browser scrollbars everywhere. Can you try zooming in (Cmd+)? This will widen the scrollbars as well.

I'm closing this, but please reopen if you feel zooming in doesn't help.

[2017-07-26 09:42] #3313 closed, assigned to nobody

[2017-07-26 09:45] kamalaknn commented on #3304
@tmilowski I've just made sure that client certificates work on windows as well. Looking at the error, I am also drawn to think that there should be something wrong with how the certificates are extracted from the `.pfx` file.

You could open the extracted private key and check for not RSA key values that could have affected it. I am linking to a Stack Overflow answer on alternatives to extract th

[2017-07-26 09:46] sdnts commented on #3310
Hi @sravanisatharla, can you create an issue over at the [Newman](https://github.com/postmanlabs/newman/issues) repository? This will make sure the correct people address your issue :)

As a side note though, a JSON script error usually means you're doing some sort of JSON.parse on a variable that isn't a string. If you're parsing the response body, can you make sure the body is what you expect?

[2017-07-26 09:46] #3310 closed, assigned to nobody

[2017-07-26 09:46] sdnts commented on #3309
Hi @sravanisatharla, the [Newman](https://github.com/postmanlabs/newman/issues) repository would be the correct place to create this issue :)

[2017-07-26 09:46] #3309 closed, assigned to nobody

[2017-07-26 11:11] sdnts commented on #3209
Hey @MrJ0rdan, are you still seeing this on 5.1.2?

[2017-07-26 11:18] sdnts commented on #3146
@gauravcanon I'm unable to reproduce this on v5.0.2 on Chrome.
The Interceptor is not available on the native apps. Can you make sure you're on the Chrome App?
Also, can you try this out on our [native apps](https://getpostman.com/apps)? These have inbuilt cookie handling and this shouldn't happen there.

[2017-07-26 11:41] rajiv3444 commented on #3307
Hi @kamalaknn
Thank you for your quick response.
Yes, I could see the cookie option available on native app.

Thanks

[2017-07-26 11:41] sdnts commented on #3181
We've isolated the problem and a fix will be out with the next release. Thanks for your patience.

[2017-07-26 12:19] lhomme-a opened #3314 "download content is "undefined""
## Issue Description:
When i execute a request with a response contening a pdf file a message box ask me for a location for response.pdf
I select a repository and click Save.
The file is created but its content is only the word "undefined".

## App Details:

[code]

[2017-07-26 12:23] sdnts commented on #3314
@lhomme-a I was able to save a PDF returned from a server with the correct contents. Can you make sure the PDF being sent from your server is correct?

[2017-07-26 12:27] sdnts commented on #2602
I'm reopening this. Can you guys also try this out on or [native apps](https://getpostman.com/apps) and let me know if you see this there as well?
I'd recommend switching to native apps anyway since Chrome apps will be deprecated by Chrome soon.

[2017-07-26 12:32] sdnts commented on #3017
Closing in favour of https://github.com/postmanlabs/postman-app-support/issues/808 :)

[2017-07-26 12:32] #3017 closed, assigned to nobody

[2017-07-26 12:38] lhomme-a commented on #3314
Hi

Here is a sample i can use to reproduce the issue.
For me the content of response.pdf is always undefined.
Therefore the body.length is 113897

De : Siddhant Sinha [mailto:notifications@github.com]
Envoyé : mercredi 26 juillet 2017 14:24
À : postmanlabs/postman-app-support
Cc : LHOMME Alain; Mention
Objet : Re: [postmanlabs/postman-app-support] download content is "undefined" (#3314)

@lhomme-

[2017-07-26 12:40] sdnts commented on #3212
Awesome, closing this.

[2017-07-26 12:40] #3212 closed, assigned to kunagpal

[2017-07-26 12:42] kajdo commented on #3300
its strange ... running it this way, i get the dataPath and schemaPath

`var responseData = JSON.parse(responseBody);
var result = tv4.validateMultiple(responseData, schema,false,true);
tests["JSON response complies to schema"] = result.valid;
//console.log(JSON.stringify(result));
result.errors.forEach(function(currentValue,index,array){
    console.log("#"+index+": "+currentValue.message+", data

[2017-07-26 12:43] sdnts commented on #3069
@dvinell Can you update to 5.1.2 and check if this is fixed now?

[2017-07-26 12:43] sdnts commented on #3104
@miqmago This should be fixed in 5.1.2. Can you update and confirm?

[2017-07-26 12:44] fedemendez commented on #1603
Please, I want this. I am doing things that are bad for my psyche

[2017-07-26 13:30] cyrilchapon commented on #2602
@MaximeMaillet this is perfectly normal. Both Multer and express-fileupload only handle **multipart** data, which must be set in the Content-Type header.

@madebysid, for myself, since recent updates, I don't have that issue anymore, in chrome extension

Need more testing I think though

[2017-07-26 13:34] msanecki commented on #2225
I have also similar problem with Postman standalone
FD607AB7BBF6F542681055A915787B6A24EADD54 Postman-5.1.2-full.nupkg 68928972
OS: Windows

Working behind system firewall - not possible: "Could not get any response"
Working without system proxy - no problems!

[2017-07-26 13:43] mistriel commented on #166
+1 For Custom Methods,
Common guys its a must and easy to add

[2017-07-26 14:01] QUDUSKUNLE commented on #1991
I had same issue. Can this be fixed?

[2017-07-26 14:18] Bartvds commented on #166
@loopDelicious @vegetableman When will this appear on the roadmap?

[2017-07-26 14:21] kdp8791 commented on #2621
+1

[2017-07-26 15:32] bronius opened #3315 "cmd-z Undo in request URL text field cumbersome and undelightful"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Always been here
 2. Expected behavior:
When typing changes in any text field in any application, typically Command-Z to Undo is not character-by-character, often words of changes or even entirely submitted values difference.  Instead, in the URL text field in Postman, I find cmd-Z to b

[2017-07-26 15:37] PaulRobson85 commented on #2833
Just had this issue also after unplugging my laptop from a dock with dual monitors in Windows 10 64 bit. Postman was not open at the time, but I assume saved its position from the last time I was using it.

Strangely the windows snap shortcuts did not work (winkey + -->)

Work around "Press [Alt]+[Space], [M] and use the arrow keys to get it back into your main window." did the job for me.

After

[2017-07-26 17:01] schellem commented on #2833
Just learned the same issue occurs with the Console Window. I went to use it today and nothing happened after diffing around a bit I realized it's open but not where I can see it.

[2017-07-26 17:10] jasekiw commented on #682
Rearranging and publishing docs seems to be broken. One of my folders is stuck inside another in docs even though I moved it back to the top level.

[2017-07-26 17:15] SamvelRaja commented on #682
@jasekiw can you provide me the app version you are in? If you are in 5.1.2 (the latest version) can you send us a email to help[at]getpostman.com from your registered email address.

[2017-07-26 17:58] chemalopezp commented on #2214
Using Postman 5.1.2, localhost doesn't work when the url is provided via a environment variable.

I have a {{domain}} environment variable to select easily which system to test ({{domain}} = http://url.system.com)
Works fine with every system, also ngrok urls, but there's no way to use it with localhost.
I tried defining the variable with:
http://127.0.0.1:8081
http://localhost:8081
http://[::1]:8

[2017-07-26 18:14] jasekiw commented on #682
Version 5.1.2.

It is weird After moving the folder around multiple times I was able to get the docs to follow but it was definitely bugging out there for a little bit. If I run into it again I will send an email but I do want people to be aware that can happen.

[2017-07-26 18:44] sbialobok commented on #3189
I've run into the exact same problem.  Was prompted to login and clicked take me to the app.  The 50+ api calls i had in my collection are now all gone.

[2017-07-26 20:16] NekoKikoushi commented on #3209
Looks fixed to me! Thank you kindly!

On Wed, Jul 26, 2017 at 7:11 AM, Siddhant Sinha <notifications@github.com>
wrote:

[2017-07-26 20:25] steresi opened #3316 "Add "command-D" keyboard shortcut to "Do you want to save?" dialog window in Mac client"
When closing a tab and seeing a "Do you want to save?" dialog box, I'm not able to dismiss the window using the keyboard in all cases on the Mac Postman app.

Can "command-D" please be assigned to the "Don't Save" button?

Thank you a million for this usability improvement!!

Screenshot:

<img width="507" alt="screen shot 2017-07-26 at 4 18 54 pm" src="https://user-images.githubusercontent.com/681

[2017-07-27 00:34] leaanthony commented on #2366
+1 as above. Wasted at least an hour on this thinking it was poor 3rd party parsing libraries only to accidentally discover that the x-www-form-urlencoded header was still present :angry:

[2017-07-27 03:32] Mr-ZeroX commented on #2225
I use the native app and get the message `Could not get any response` when I use the proxy `Shadowsocks`.
I changed the proxies in the Network Preferences and it works now.

![wx20170727-112721](https://user-images.githubusercontent.com/3412003/28653271-3eece312-72bf-11e7-87e0-88a774e84852.png)

[2017-07-27 05:49] pravin0 commented on #1720
Do u get any resolution?? i am facing the same issue..... Thanks

[2017-07-27 06:45] danceric0919 commented on #2392
It's a very wanted function from my side.
postman.setNextRequest is good but not good enough. why not just let ppl disable script they don't want to execute?

[2017-07-27 08:11] tahirm commented on #1228
+1

[2017-07-27 10:29] sdnts commented on #3315
Hi @bronius thanks for reporting this. I was able to replicate, we'll investigate better ways to handle undos :)

[2017-07-27 12:36] kamalaknn commented on #3209
Great! I am closing this issue then.

[2017-07-27 12:36] #3209 closed, assigned to kamalaknn

[2017-07-27 13:20] mgfjx commented on #882
+1

[2017-07-27 13:46] sebastien-savalle opened #3317 "Variable exported with "id" are duplicated."
When a collection (created with a previous version of postman) is exported, variables are export in an array. Each element is stored with at least an "id" and a "value". In that case, each variable is stored twice in the array.
[code]
With recent collection, the "id" is replaced by a "key". In that case, there is no duplicates.
[code]
## App Details:
[code]

[2017-07-27 14:56] bronius commented on #3315
A personal response!  Thanks!!

I really love the tool.  It's been so helpful, and I enjoy uncovering
unused features.

Please let me know if there's anything I can do to help or beta test or
whatever.

Cheers
-Bronius

On Thu, Jul 27, 2017 at 5:30 AM, Siddhant Sinha <notifications@github.com>
wrote:

--
http://www.bronius.com
web | kiosk | drupal development

[2017-07-27 15:25] another-guy commented on #3136
@TehWardy ~I'm getting a similar issue here. Would be nice to get the official right way setup documented.~

My own stupidity. I was not even making calls via *httpS* protocol.

[2017-07-27 18:53] drpoggi commented on #1433
@abhijitkane Any update on this?

[2017-07-27 19:58] chadsaun commented on #1893
It would be fantastic to save all my parameters as url decoded, and then have Postman automatically url encode them.  That way it's easier for me to read the values and play with them.

[2017-07-27 21:01] pontifex commented on #2585
@Dmytro-Komaryst I was hit by (almost?) exactly same issue as described by you. Same as in your case, problem was on my side. When I was doing curl request with -v resulted in ```Excess found in a non pipelined read: excess = 2 url = /api/test/123 (zero-length body)``` Fixed bug on my side and Postman is able now to handle request properly. What was misleading for me, executing curl without -v res

[2017-07-27 21:10] mpereira-dev commented on #2772
There is something off about responseBody. It doesn't work as expected.

[code]

[2017-07-28 08:03] oleksandrzelentsov commented on #1763
i cannot sign in now, it says
```Something went wrong. Please try again later.```

[2017-07-28 08:17] sebastien-savalle opened #3318 "Variable value is not imported"
When importing a collection which was recently exported, the variable value is no more imported.

I have noticed that the json model has been changed.
Previous model
[code]
New model
[code]

The import of collection using older model is still working as expected and values are correctly fulfilled

## App Details:

[code]

## Issue Report:

 1. Create a collection and a request containing variables

[2017-07-28 08:23] JonasGao commented on #1763
@oleksandrzelentsov +1

[2017-07-28 08:58] aligang commented on #1763
@**oleksandrzelentsov** +1

[2017-07-28 09:28] nchaluse commented on #141
Hello, I don't know if I can request a feature here, I believe it would be nice to be able to edit a variable in the request url, request body or even in tests. To do that, a right click on the variable {{variableName}} could bring up a menu in which we could modify the variable value.

[2017-07-28 09:30] MiaLinke commented on #1763
I also had same problem:
I cannot login :(
Something went wrong. Please try again later.

[2017-07-28 09:32] oleksandrzelentsov commented on #1763
i think it is because they have some problem in their server

2017-07-28 11:30 GMT+02:00 Mia Linke <notifications@github.com>:

[2017-07-28 09:33] MiaLinke commented on #1763
@oleksandrzelentsov  Thank you for information.
Where can we report this issue. I will mail to help@getpostman.com :)

[2017-07-28 09:38] sdnts commented on #1763
Guys, we had an issue with our login service during deployment, it should be up very soon. You can track status [here](http://status.getpostman.com)

[2017-07-28 09:39] oleksandrzelentsov commented on #1763
thanks for info

2017-07-28 11:38 GMT+02:00 Siddhant Sinha <notifications@github.com>:

[2017-07-28 09:54] MiaLinke commented on #1763
@madebysid  Thank you for Info.

[2017-07-28 10:05] justlauzadis commented on #3172
Could this help?:

When I attempt to call `postman.__execution.response` I receive an `Error: Invalid Chai property: _postman_propertyIsList`

[2017-07-28 10:25] oleksandrzelentsov commented on #1763
@madebysid hey it still doesn't work, define "pretty soon" plz, tasks are hanging time is passing

[2017-07-28 10:26] oleksandrzelentsov commented on #1763
now it says
`Your session has expired. Please sign in again.`

[2017-07-28 10:27] oleksandrzelentsov commented on #1763
and after that it says "Something went wrong" again

[2017-07-28 10:54] igoel commented on #2920
same here, using:
Version 5.1.2
linux / x86-64
Chrome 56.0.2924.87

[2017-07-28 11:39] RaziMailk commented on #831
**expressjs server don't send data back to Postman**
when i make post request from postman, the request data was shown server but server response i.e status code and json object  was not send to poastman, poastman was loading...

[2017-07-28 11:44] oleksandrzelentsov commented on #1763
looks like it works now, thanks to everybody helping

[2017-07-28 11:48] RaziMailk opened #3319 "express.js server don't send data back to Postman"
when i make post request from postman, the request data was shown server but server response i.e status code and json object was not send to postman, postman was loading...

here is my server.js class

var bodyParser = require('body-parser');
var express = require('express');

var {mongoose} = require('./db/mongoose');
var {Todo} = require('./models/todo');
var {Users} = require('./models/Users');

[2017-07-28 11:52] sdnts commented on #1763
Things are back to normal now. You should be able to login to the app as well as the website.

[2017-07-28 12:13] RaziMailk commented on #3127
I have this same issue, though turning off automatically follow redirects did not solve the issue? here is my console
![post man issue](https://user-images.githubusercontent.com/28179617/28716821-9b318822-73b8-11e7-8e3f-6f175d32ba0a.JPG)

after some time it show this

![postman1](https://user-images.githubusercontent.com/28179617/28716890-f9565b58-73b8-11e7-92f1-9cb90de36cf2.JPG)

data sent throug

[2017-07-28 12:55] gukoff commented on #2232
Same here.

I use Postman for Mac. It doesn't have `XMLHttpRequest` in the tests' namespace: `ReferenceError: XMLHttpRequest is not defined`.

I want to collect the urls from the API response and verify all of them are accessible. That said, requests to them return HTTP 200. And I can't do such a basic test.

[2017-07-28 13:12] justlauzadis commented on #3172
Workaround:
`var resHeaders = postman.__execution.response.headers;`
`var auth = resHeaders.filter(function(header){`
  `return (header.value.includes('Authorization='))`
`})[0].value;`

[2017-07-28 13:32] nchaluse commented on #1130
I second amylovejoy's comment...

[2017-07-28 14:37] emackie9 opened #3320 "Postman update no longer retains sessions with Laravel 5.4"
## App Details:

[code]

## Issue Report:
 1. After installing the Postman update v5.1.2, Postman no longer retains the same session with my Laravel API. A new token is generated with each request. This does not happen in v5.0.2 nor does it happen on other client apps consuming the API.
 2. Expected behaviour:
 - Run a login endpoint that authenticates (using basic auth) and initiates a session wi

[2017-07-28 15:25] Whyounes commented on #2418
Problem still exists in version 5.1.2

[2017-07-28 15:42] danherd commented on #1498
I'm building my first JSON API compliant API and simply cannot believe I can't view pretty-printed responses in Postman if they have the correct JSON API header.

Does this mean I'm going to have to return `application/json` while testing, before reverting to `application/vnd.api+json` when I finally release it?

[2017-07-28 17:35] sleyzerzon commented on #2545
I too just experienced this issue, would be nice to have it working.  In Windows it used to work fine.  Thanks.

I'm on MacBook Pro macOS Sierra v. 10.12.6
Postman details:

 Postman for Chrome
Version 5.1.2
OS X / x86-64
Chrome 59.0.3071.115

[2017-07-28 20:36] AndreySurzhan commented on #1137
+1

[2017-07-28 20:47] hemikak opened #3321 "Custom Plugins"
HI,

Does postman supports adding custom plugins to the UI ?

Regards,
Hemika

[2017-07-29 06:03] nubitech commented on #1885
+1

[2017-07-29 06:29] Ezilkannan commented on #3296
I guessed so. Thanks for the clarification.

[2017-07-29 06:29] #3296 closed, assigned to sdnts

[2017-07-29 14:48] Startouf commented on #3009
I also have this issue when I try to copy paste a base64 image in an environment variable to be reused in postman API calls

[2017-07-30 15:04] ludocode commented on #3291
Can confirm, this bug is happening here also, starting with 5.1.2. I cannot re-order requests within folders, neither on Arch Linux nor on Mac OS X with version 5.1.2.

The [workaround suggested above](https://github.com/postmanlabs/postman-app-support/issues/3291#issuecomment-317686516) does not work here. It seems a copied request can only be moved once, and even then, its new position is not sy

[2017-07-30 19:27] manuelbcd opened #3322 "pre-request script. request.data is not updating variables if it's passed to a function"
## App Details:

[code]
Using pre-request script to try to send a payload based hash into a header.
The behaviour is really confusing me.

// The value will contain the request data WITHOUT parsing the variables
var a = btoa(request.data);

// The value will contain the request data perfectly parsed (final payload).
var a request.data;

Due to this behaviour I cannot use the request.data to calcul

[2017-07-31 04:41] gauravsars commented on #1508
@mbirtwistle thank you

[2017-07-31 07:11] ValentinOdier commented on #3291
Hi, same here . I have 1 folder with many folders in it. When i'm at the bottom of the tree i can't reorder my requests. Sometimes i get it working sometimes not. If a copy my folder it usually unlock the situation.

------
Postman for Chrome
Version 5.1.2
linux / x86-64
Chrome not on.

[2017-07-31 09:06] Millais commented on #2030
Is this feature being considered? (It would really help with certain types of workflows)

[2017-07-31 10:17] enayetullah opened #3323 "Saved Examples in Postman Collection are not accurately matched for retrieval"
## App Details:
Postman for Linux
Version 5.1.2
linux 4.10.0-27-generic / x64

## Issue Report: Mocking Backend Services Using Postman
Since the beginning the saved Examples in Postman Collection are not accurately matched for retrieval:
Save Example with userid of 10:
GET https://xyz-api.com/api/prod/v2.01/users/**10**/reservations/227967/
with a saved example response body.

Using Postman API, t

[2017-07-31 10:26] shubhamj-cuelogic commented on #3201
I have uploaded my file on below link :
https://ufile.io/v62tw

The file will be deleted in 30 days so please download as soon as possible
@madebysid

[2017-07-31 11:47] sdnts commented on #3320
Hi @emackie9, can you check if this is happening because the cookie is expired? We've fixed an issue internally where cookies get expired before they're supposed to, so I just want to make sure this isn't another instance of the same problem.

If this is indeed happening because the cookie is expired, can you try this out on our Canary channel and see if this is fixed?

You can download canaries u

[2017-07-31 11:51] sdnts commented on #3321
Hi @hemikak, this isn't supported right now, but we've been looking into this. I'm marking this as a feature request.
You can follow our [Product Roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) for updates.

[2017-07-31 11:54] sdnts commented on #3317
Hi @ellavas! Thanks for reporting this. Can you tell me approximately which version of the app the faulty collection was created from? If I understood correctly, collections created from 5.1.2 and up do not misbehave, right?

[2017-07-31 11:59] sdnts commented on #3319
Hi @RaziMailk, this doesn't look like a problem with Postman itself, so Im closing this.

Also, as far as I know, mongoose does not use Promises, which is why code inside your `then` blocks doesn't execute, so the response is never sent. StackOverflow would be more suited for this question, as this might be an issue with the way your server is set up :)

[2017-07-31 11:59] #3319 closed, assigned to nobody

[2017-07-31 12:02] sdnts commented on #3318
Hi @ellavas, I think this is a duplicate of #3266. Can you take a look at that issue and confirm?
I'm closing this, but please let me know if your issue is different :)

[2017-07-31 12:02] #3318 closed, assigned to nobody

[2017-07-31 12:12] sdnts commented on #3322
Hi @manuelbcd! Thanks for reporting this. Since `request.data` is an object, you cannot do a `btoa` on it directly. This will actually try to convert the object into a string (which will be `[object Object]`), which will always yield the wrong hash. You should do: `btoa(JSON.stringify(request.data))` to make sure the object is stringified correctly.

You can verify all of this by doing a little te

[2017-07-31 13:01] sebastien-savalle commented on #3317
Hi, sorry but I have no idea of the version. Collection was created first in 2016.
And the previous export was in May. Collections were successfully exported.

[2017-07-31 13:11] staticvoidmaine opened #3324 "Allow Each Collection's Documentation to Have Own Branding"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not a bug but rather a feature request
 2. Expected behaviour: Each documented collection can accept branding
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): N/A
 4. Scre

[2017-07-31 13:17] davehorn commented on #3320
FYI - Experienced same problem on same OSX build.  Canary build working fine.

[2017-07-31 13:19] hemikak commented on #3321
Thanks @madebysid .

Does postman have an email group which has ongoing discussion. ?

Regards,
Hemika

[2017-07-31 13:24] staticvoidmaine opened #3325 "Run Requests Directly From Postman Documentation"
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been there?
 2. Expected behaviour: Instead of being provided with scripts to copy/paste in order to run requests from documentation, be able to run requests directly within documentation
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for

[2017-07-31 13:26] hemikak commented on #3321
Can we contribute as well ?

[2017-07-31 13:38] emackie9 commented on #3320
Thanks for the responses guys,

So I ran on Canary and it worked fine, had a peek at the cookies for both new Postman build and Canary. It looks like an issue with the expiration date. The server has the cookie set to expire in 2 hours, the difference is in Canary gives me the cookie with expires in GMT time, as my server delivers it in the header. Postman build converts it to an EDT time (a corre

[2017-07-31 14:08] KohinoorRoy opened #3326 "Issue is accessing Postman Runner Data File Variable from JSON Request Body"
## App Details:

[code]

[2017-07-31 14:34] ghost commented on #3326
If this is the "Evaluator.js:235 TypeError: Cannot read property 'length' of undefined" I'm getting it. Seems to be valid ever since the 24th July release:

    at eval (eval at loadCustomFile (Evaluator.js:231), <anonymous>:11:24)
    at eval (eval at loadCustomFile (Evaluator.js:231), <anonymous>:134:16)
    at r.loadCustomFile (Evaluator.js:231)
    at Evaluator.js:220

[2017-07-31 14:48] ghost commented on #3322
Is this the same issue as what i seem to be getting on another post?:

_

_

[2017-07-31 16:17] dylandechant commented on #576
still not solved. killed my morning.

[2017-07-31 16:24] dtsob75 opened #3327 "Can't log in to postman via Google id"
When I try to log on to postman, I use the login via google. In the last few days, I installed postman on a server I am trying to test and when I click the Sign In with Google button, the google login page flashes on for a few seconds and then reverts to the general Sign in page.  I only get this problem on the new server I am trying to use.  I need to be able to share the api calls to this server

[2017-07-31 18:03] ziplarson commented on #1508
GENIUS : On Windows 10, hold down SHIFT and right-click the task bar icon. A Maximise option then appears which allows you to restore the UI.:)

[2017-07-31 18:19] ratpik commented on #3323
If an exact match is not found for a saved example request, then fuzzy matching is triggered which looks at similar urls in your saved examples. So the **10** in your URL is matched with **20** since both are numbers. If you expect mock to not do a fuzzy match in this case, pass something that is not a number like **AA** instead of **20**.

[2017-07-31 19:29] skyfloyd opened #3328 "Postman: Unable to authenticate using access token"
Recently I decide use Postman but I can't create mocks because of this error "Unable to authenticate using access token."
![error](https://user-images.githubusercontent.com/9090865/28794623-e66090a4-7647-11e7-9f21-9b125c375d22.png)

Any idea how can I solve this problem?

I am just trying to make this sample https://www.getpostman.com/docs/postman/mock_servers/mocking_with_examples

[2017-07-31 20:08] ghost opened #3329 "Postman encodes '+' as %20 in request endpoint"
## App Details:

[code]

## Issue Report:
 1. I'm submitting email address 'test+1@test.com' to Java REST service via parameter.
 2. Postman encodes this as '&email=test%201%40test.com'.
 3. The %20 is being interpreted as space in email and breaks the service (note space inside email address: there is a problem with the email address :test 1@test.com\njava.lang.Thread).
 4. When I submit email wi

[2017-07-31 20:54] enayetullah commented on #3323
@ratpik That is not what I want. I want to save two examples, one with a URL as "GET https://{{mockId}}.mock.pstmn.io/api/prod/v2.01/users/**10**/reservations/227967/" and one with "GET https://{{mockId}}.mock.pstmn.io/api/prod/v2.01/users/**20**/reservations/227967/"

When I call "GET https://{{mockId}}.mock.pstmn.io/api/prod/v2.01/users/**20**/reservations/227967", it will just return the respon

[2017-07-31 22:10] MarkAllan007 opened #3330 "I am unable to drag or resize the Postman app"
Postman for Windows
Version 5.1.2
win32 10.0.15063 / x64

I am unable to drag or resize the Postman app. For example, I want to split the screen with two apps, each app taking up half the screen.

1. Does Postman contain controls that allow it to be dragged from the menu bar?
2. Does Postman contain controls that allow the user to resize it from the menu bar, sides or corners?

I cannot drag or re

[2017-07-31 22:13] ianjstewart commented on #3266
I am experiencing the same exact issue, and for me it occurred after using the App to create a collection, exporting it, then re-importing it.

[2017-07-31 23:43] manuelbcd commented on #3322
@madebysid  Thanks for your answer but this is exactly the problem... stringify throws the same result.

ie.  var v = btoa(JSON.stringify(request.data));
output of "v" (after base64decode) -->  whatever: {{whatevervar}}, whatever2: {{whatevervar2}}

but  if I do:  var v = request.data;
output of "v" -->  whatever: "value1", whatever2: "value2"

If I use stringify only the result is ok
but  if I do

[2017-07-31 23:52] jcavalieri commented on #1973
👍

[2017-08-01 00:10] manuelbcd commented on #3322
@madebysid  Actually I have done it by replacing the vars wildcards by myself, following the info from this issue  https://github.com/postmanlabs/postman-app-support/issues/1541

[code]
So finally it's working.
But I'm still wondering why it's so strange the behaviour when passing the request.data directly to btoa or hashing functions.

[2017-08-01 06:58] ratpik commented on #3323
@Rashid-007 - If you have two URLs saved like that, a call to mock the URL with **20** should be returning the URL with **20** (and **10** should return the one with **10**). The fuzzy matching happens only when you have one example saved with URL **10** and you are calling mock with a URL where the **10** is replaced by **20**.

Can you verify that you have **two different saved examples** for **

[2017-08-01 07:17] ysmintor commented on #119
@a85 Thanks, I look around for a while, finally you help me out this problem. Now the desktop version should View -> Show postman console,

[2017-08-01 08:21] enayetullah commented on #3323
@ratpik For **20**, save response is small json Array with 3 elements. When I call using postman API, it return the example response save under **10** (The long one).
![image](https://user-images.githubusercontent.com/4485140/28815533-f92ecb06-76a1-11e7-953b-51cb2eb81425.png)
![image](https://user-images.githubusercontent.com/4485140/28815611-3a33fce8-76a2-11e7-92ef-e828091b2c48.png)
![image](http

[2017-08-01 08:22] shankyty opened #6682 "Server Sent event testing"
Hi,
How to handle server side events, in postman/newman.
Handling and verifying all events(including data close).
Regards,
shanky_ty

[2017-08-01 08:25] kunagpal commented on #6682
@shankyty Could you provide more context on what you're trying to do?

[2017-08-01 08:36] shankyty commented on #6682
@kunagpal I have api which is streaming data periodically.
Looking for a way to hook listener for each data push and validate response using tests. [SSE](https://www.w3schools.com/html/html5_serversentevents.asp)

[2017-08-01 08:59] sdnts commented on #3330
Hi @MarkAllan007, the app is resizable and draggable.
You should be able to drag the app by the title bar. Resizing is also possible by dragging any corder of the app.

AFAIK, on Windows, if any app is maximized, it is not resizable. You might need to `Restore` using the three window controls.

I'm closing this, but please reopen if you cannot resize even after restoring the app window.

[2017-08-01 08:59] #3330 closed, assigned to nobody

[2017-08-01 09:00] gampasandeep opened #3331 "How to send application/json data along with file in postman multipart/form-data post request?"
Postman for Windows 10
 x64
[code]

[2017-08-01 09:03] sdnts commented on #3324
Hi @rylancates, when you say `branding`, I'm guessing you mean changing the documentation colors and the logo (on the top left).

Changing the logo is possible on a team level, meaning the logo will change for all docs published from a team. As of now, collection specific styling isn't possible, but I'll add this as a feature request.

You can follow our [roadmap](https://trello.com/b/4N7PnHAz/pos

[2017-08-01 09:06] sdnts commented on #3326
Hi @KohinoorRoy you can access variables from data files in the JSON request body the same way you use environments, i.e. `{{variable}}`.

@Forebinder2010 Looks like you're on the Chrome app. Can you elaborate a little? How do I replicate this? Thanks.

[2017-08-01 09:09] sdnts commented on #3325
Hi @rylancates! Unfortunately, this isn't on our roadmap as of now. However, you should be able to use the `Run In Postman` button for something similar. When someone clicks on the `Run In Postman` button from the collection documentation, the collection will be imported into their app, and they can fire requests from the app, like you said.

I'm still adding this as a feature request, though. Our

[2017-08-01 09:18] sdnts commented on #3328
Hi @skyfloyd, thanks for reporting this, we're looking into this. I'll let you know when we've made a fix on our end so you can retry.

[2017-08-01 09:19] sdnts commented on #3327
Hi @dtsob75 Are you still seeing this? I'm able to sign in using Google on 5.1.2.

[2017-08-01 09:40] josslamberti commented on #3291
I'm pretty sure the issue has been introduced (or reintroduced if it existed earlier) in 5.1.2.
It's not 100% reproducible and sometimes, the duplicating workaround works, but other times it doesn't.
This is on the Chrome extension.
I have not updated the standalone app and I have no such issue there.

[2017-08-01 09:41] dowlingw opened #3332 "OAuth2 `state` variable - insufficient entropy"
## App Details
[code]

## Feature Request
Some Authorization servers will reject client `state` values that do not appear to have high enough entropy. For example, ORYs Hydra product rejects `state` values less than 8 characters long.

In the case of Hydra, it is doing so to ensure application clients are not vulnerable to specific threats, see the following:
https://tools.ietf.org/html/rfc6819#se

[2017-08-01 10:10] dannyhajj commented on #3291
I had a similar issue, but maybe this can offer more details.

I have a large collection with many subfolders, and one of those folders has a subfolder on its own (Gonna call it a sub-subfolder). Ordering items, in subfolders, is possible. But ordering items, in the sub-subfolder, is not possible.

While trying to order one of those items, I was not able to position it in a different location insi

[2017-08-01 10:10] robinglen opened #3333 "Code preview not including same headers as postman call"
I'm not sure this is a bug but can get confusing.

When using postman if I make a GET request to an API it appears to add accept-encoding headers under the hood because for example if I call the following:
`http://www.matchesfashion.com/mens/just-in/just-in-this-month?page=1&noOfRecordsPerPage=60&sort=&q=&format=json&navMode=notfull&noattraqt=Set`

You will see it returns the headers for gzip enco

[2017-08-01 10:17] josslamberti commented on #3291
I don't use subfolders so is this issue only happening on the lowest level of a given collection?

[2017-08-01 10:38] msanecki commented on #2225
It is really strange because the request goes trough the proxy occasionally.
This is what I get in Postman console when it does not work:

GET
https://echo.getpostman.com/digest-auth
12:30:30.036
Error: tunneling socket could not be established, statusCode=407
Proxy:
host:"10.252.76.110"
port:8080
match:"http+https://*/*"
tunnel:true
Request Headers:
cache-control:"no-cache"

and by the second cal

[2017-08-01 11:34] sdnts commented on #3333
Hi @thearegee, are you on the native apps?
These are added by the library we use to actually send the request. I'll make it so the generated code snippets match. Thanks for letting me know.

[2017-08-01 11:36] sdnts commented on #3332
Hi @dowlingw, thanks for letting me know. I'm adding this as a feature request.
If not configurable, we should at least be able to increase the state value size!

[2017-08-01 11:39] sdnts commented on #3331
@gampasandeep Can you elaborate?
If you want to send over a file, you should be able to change the dropdown value next to the `key` column from `Text`to `File`.

[2017-08-01 11:39] robinglen commented on #3333
Hey I'm using the Chrome App - no problem, messed my head right out last night finding this issue :)

[2017-08-01 12:06] miguelhughes commented on #3291
I'm have this as well. apparently started yesterday when upgraded to 5.1.2
it happens on team/shared collections, in folders with just 4 tests, or in folders with 12 or more tests. On collections only owned by me, I can reorder fine. I hope this helps.

The test gets grayed out when dragging but the orange line that indicates the new position doesn't show up within the same folder. Nevertheless, I

[2017-08-01 12:21] MarkAllan007 commented on #3330
Madebysid,

"the app is resizable and draggable."
My take away - I should be able to drag and resize the Postman app.

When I open Postman, it expands and takes up the entire screen.
1. I cannot drag Postman, because it’s title/main menu bar does not respond to dragging.
2. The title/main menu bar does not contain window controls for resizing.
3. The task bar popup menu does not contain options fo

[2017-08-01 13:10] staticvoidmaine commented on #3324
Yep, you nailed it. Thanks!

[2017-08-01 13:15] staticvoidmaine commented on #3325
That's okay, example requests are suitable for now. Thank you for considering this request all the same.

Just for the sake of context - this use case is for sharing documentation with organizations who have a heavily locked down environment where installing postman and 'run in postman' is not an option for them, but still allowing them to have a rich experience in the documentation like you get i

[2017-08-01 13:35] ghost commented on #1687
duplicates #1490

[2017-08-01 13:35] ghost commented on #102
duplicates #1490

[2017-08-01 13:37] waffe7 commented on #2811
+1 on 4.10.7

[2017-08-01 14:02] KohinoorRoy commented on #3326
Hi @madebysid, Thank you for your response.
Using {{variable}} is throwing a json format error, so giving "{{data.variable}}" in the request body and giving values for variable in data file of postman runner. But postman is not able to read the data from the data file dynamically.

[2017-08-01 17:49] dtsob75 commented on #3327
Yes, just tried it again.  Not sure if it makes any difference, but the box I am attempting to logon from is Windows server 2012 r2

[2017-08-01 18:32] ghost commented on #3326
Quite simple to replicate to be fair,
Put a environment set up inside the pre-request script:

postman.setEnvironmentVariable("customer_reference_number", data.Rule_No);
if(data.title == "undefined" && data.title !== null ){
    postman.setEnvironmentVariable("title", data.title);
}
else{
    postman.setEnvironmentVariable("title", "Mr");
}

And then

execute with a test inside the post-Tests

You

[2017-08-01 18:34] thePurpleMonkey opened #3334 "Request body deleted if that body type is not selected when app is closed"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been there, but I only started using Postman recently.
 2. Expected behaviour: Request body of all formats are saved.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac ap

[2017-08-01 19:07] staticvoidmaine opened #3335 "Display of Example Responses In Documentation Is Inconsistent"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently/Always
 2. Expected behaviour: Example responses are displayed in a consistent way. Either display them in a scrollable element, or an expandable element, but not either at (what seems like) random.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-develop

[2017-08-01 19:09] staticvoidmaine commented on #3335
Bonus points for inconsistent/random ordering of examples with no way to set the order (to my knowledge)

[2017-08-01 19:11] MarkAllan007 commented on #3330
![postman tool screenshot](https://user-images.githubusercontent.com/4197055/28842424-4d1198d6-76c3-11e7-84ad-b928f5dde341.jpg)

[2017-08-01 19:12] MarkAllan007 commented on #3330
Notice that there are no window controls for changing the windows size.

[2017-08-01 19:18] Dismissile commented on #1854
@abhijitkane This was addressed over a year ago and doesn't seem to be fixed. Are you guys still planning on fixing this?

[2017-08-01 20:45] MarkAllan007 opened #3336 "Unable to drag or resize the Postman app"
Postman for Windows
Version 5.1.2
win32 10.0.15063 / x64

Related to issue: 3330
Status: Reopened

Madebysid,

"the app is resizable and draggable."
My take away - I should be able to drag and resize the Postman app.

When I open Postman, it expands and takes up the entire screen.
1. I cannot drag Postman, because it’s title/main menu bar does not respond to dragging.
2. The title/main menu bar do

[2017-08-01 23:02] khushboovdesai commented on #914
POSTMAN Client crashes when trying to POST a binary file of size 2.4gb

[2017-08-01 23:12] khushboovdesai commented on #2112
I am using v5.1.2 ; interceptor = enabled; filesize = 2.4gb . Neither form-data works nor binary. Help needed to resolve this.
TIA

[2017-08-02 00:58] andydude commented on #350
https://har.tech/

[2017-08-02 01:49] d1820 commented on #3089
I have a request folder with 100+ requests in it. There does not seem to be a way to sort those requests, but i can sort the folders. Any plans to be able to sort the requests inside a folder. It forces me to search all the time, but if i have to run many requests in a row that also becomes a hassle.

this feature work I'd be great

[2017-08-02 03:34] SamiUrias commented on #450
Thanks for your contribution @madebysid it is appreciated

[2017-08-02 04:49] gareth-a-jones opened #3337 "Persist state of OAUTH2 dialog fields along with retrieved token"
## App Details:
Postman for Windows
Version 5.1.0
win32 10.0.15063 / x64```
Postman for Mac
Version 4.11.0
OS X 16.4.0 / x64
[code]

[2017-08-02 04:53] gareth-a-jones opened #3338 "Allow the OAUTH2 dialog to project values into the environment"
Having used the oauth2 dialog to get a new token, I don't want to take further manual steps to inject the output into my environment.  Rather, I want to set up the dialog to push the access and refresh tokens retrieved into named environment variables.
 See #3337  for the necessary precursor issue for OAUTH2 state management to make this useful.

[2017-08-02 05:06] gampasandeep commented on #3331
![capture](https://user-images.githubusercontent.com/29592177/28858454-4081e3fe-776e-11e7-8b73-3da8ad7b08f6.PNG)

In the screenshot along with that file i need to send the below data.Is it possible??
{
"field1":"",
"field2":"",
"field3":""

}

[2017-08-02 08:16] bhawna2109 commented on #763
Hi guys, we are working on a few concepts around this, but there's no ETA for this just yet. One of the concepts is to actually bring all the variables which you've used in your current request at one place, show them in the context of the request, and allow for quick editing from there.

We'll update this thread when we have a prototype out to test. Thanks much for your patience! :)

[2017-08-02 08:42] Faz540 commented on #3336
Apologies if I'm incorrect, but it seems, judging by the screenshot, that your Postman app is in Full Screen mode.
Press F11 to exit Full Screen mode and you should be able to resize, move the window. (It seems Postman remembers if it was in Full Screen mode when you exit the program)

[2017-08-02 08:43] Faz540 commented on #3330
Press F11 to toggle Full Screen mode off/on.

[2017-08-02 08:57] sdnts commented on #3084
@ismaelhamed Ah indeed, we've done exactly that. The custom proxy is out on our Canary channel right now. You'll find it under Settings > Proxy
This will make its way into our stable channels with the next release.

Here are download links for Canary:
[OSX](https://dl.pstmn.io/download/channel/canary/osx_64)
[Windows 32-bit](https://dl.pstmn.io/download/channel/canary/windows_32)
[Windows 64-bit](

[2017-08-02 09:46] sdnts commented on #3201
Hi @shubhamj-cuelogic, I see there's an extra character (`\r`) at the end of your file. If you preview the file from the Runner, you'll see it too.
If you open the CSV and remove the extra line from the end (`\r` translates to a new line ), everything should work. When you do an explicit `.trim()`, this will remove the `/r`, which is why it works.

Can you try this and let me know?

[2017-08-02 09:55] ShivaniGaba1 commented on #2185
Does this problem has some solution now? I want to connect to postgres db and get parameters for post request from db

[2017-08-02 10:01] sdnts commented on #3266
@kenjones-cisco @ianjstewart We've been able to isolate and fix this. We'll push out a fix for this with 5.2!

[2017-08-02 10:02] sdnts commented on #3316
Hi @steresi, thanks for reporting this, we've made a fix for this, and it will be out with the next release (5.2)

[2017-08-02 11:25] justinebateman commented on #675
+1

[2017-08-02 12:13] sdnts commented on #3334
@thePurpleMonkey Thanks for reporting this, I was able to replicate. We'll get on a fix

[2017-08-02 12:16] sdnts commented on #3336
@MarkAllan007 Did you try what @Faz540 suggested? This is what I was saying as well. Looks like your app is in full screen mode and is stuck there. F11 should fix this.

[2017-08-02 12:17] sdnts commented on #3337
Hi @garethj-msft, I'm marking this as a feature request, thanks for this!

[2017-08-02 12:18] sdnts commented on #3338
@garethj-msft This sounds like a good idea, and a useful thing to have. I'm marking this as a feature request!

[2017-08-02 12:28] sdnts commented on #3335
@rylancates I'm looking into this. Ideally, examples are shown as is, but if they're too long, they're truncated and you can view them by expanding.

As for the example reordering, this is on our roadmap, and will be part of an upcoming release. I'll let you know here when it is out. Currently, they're ordered by the time they were created.

[2017-08-02 12:34] tobeliketree commented on #3263
@madebysid  Can you take a look at my update documented above?  I still cannot save any variables.  All I get are null values -  this same code worked before but doesn't any longer in newest version of the app for mac.

[2017-08-02 12:37] sdnts commented on #3263
Hi @tobeliketree, from your screenshot, it looks like `Avatar` is an array. In this case, the correct selector would be `jsonData.data.Avatar[0].avatar_id`. I'm guessing this is why your variables were not being saved. Can you try this and let me know what happens?

[2017-08-02 12:43] sdnts commented on #2185
Guys, this was closed since Postman is a REST client. Databases have different protocols that they use to communicate. What I'm trying to say is, this is something that Postman was not designed to do.

However, as @abhijitkane said, if you do have a REST API for your database, the app can talk to the API and indirectly interact with your database.

[2017-08-02 12:45] sdnts commented on #3331
Sure. Just adding these field below your file field, as separate rows should work fine.

[2017-08-02 12:56] sdnts commented on #914
@khushboovdesai Are you on the native apps? This fix was only for native apps.

[2017-08-02 12:58] sdnts commented on #1854
@Dismissile We're planning on major auth improvements in the near term, this will be a part of that. You can follow our product [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) for consistent updates :)

In any case, I'll let you guys know here when a fix lands on stable.

[2017-08-02 13:06] sdnts commented on #3326
@KohinoorRoy In the request body, you do not have to include the `data.` prefix. You can simply do `{{variable}}`.

@Forebinder2010 I'm not seeing this on the Chrome app, which is weird since you seem to be getting this pretty consistently. Can you attach a collection + CSV you're seeing this with? (doesn't have to be your actual CSV, any file you see this with will do). Also, which version of the

[2017-08-02 13:07] sdnts commented on #2112
@khushboovdesai Are you on one of our native apps?

[2017-08-02 13:13] sdnts commented on #3291
Guys, we're taking a deeper look into this. I'll keep you guys updated here.

@dannyhajj Weird that it happens only for older collections. subfolders and sub-subfolders shouldn't be behaving differently at all.

[2017-08-02 13:41] usfalami commented on #482
I can't find Certificates Tab !!

[2017-08-02 14:01] sdnts commented on #3327
@dtsob75 When you say you get redirected to the general sign in page, do you mean the Google sign in page or the getpostman.com sign in page?

We did push some fixes for this yesterday, but if you still cannot log in, I'd recommend resetting your password via `https://app.getpostman.com/forgot-password` and trying a normal login.

[2017-08-02 14:18] elliotblackburn commented on #824
@a85 would it not be possible to have a toggle in the environment variable interface of shown / hidden? That would enable us to turn its visibility on or off easily.

This would be a really useful feature to me, even just during pair programming exercises.

[2017-08-02 14:19] Dismissile commented on #1854
Is it possible to access the token using a Pre-Request script? It’s a huge pain to have to copy the value directly.

From: Siddhant Sinha [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 7:59 AM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Travis Ellis <travisellis@deliveron.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/po

[2017-08-02 14:21] artisom commented on #1104
+1. Why this request is ignored for  > 2 years. sad face

[2017-08-02 14:26] MarkAllan007 commented on #3336
Hi Faz540 & Madebysid,
Yes, I found the control to toggle/turn the drag and resize controls on/off for Postman.
Thank you so much!
Mark

Internal tracking
Company: Postdot Technologies
Accounting: CSRI
Assessment: HARAWS, HCTAJS

![view - toggle full screen mode](https://user-images.githubusercontent.com/4197055/28878343-9e1e0d12-7764-11e7-9889-e04d3ab50a1d.jpg)

[2017-08-02 14:26] #3336 closed, assigned to sdnts

[2017-08-02 15:39] staticvoidmaine commented on #3335
To supply my experience, I have seen all example responses contained within a 200px tall box where the width is responsive to window width. The only difference is, like I mentioned, whether the box is click-expnadable or scrollable.

[2017-08-02 15:41] appsassociates-dev commented on #3232
is there any solution, I could still see the issue.

[2017-08-02 15:45] javixeneize opened #3339 "Collection data loop in one specific service"
Hi

This is not an issue, its more a question about a feature that i dont know if it is available

I can run a loop from a data file (adding a data file in collection runner and mapping it to a variable, as explained in https://www.getpostman.com/docs/postman/collection_runs/working_with_data_files)

My question is... I have a project that contains 3 services. Lets call it A,B and C.

I want to ru

[2017-08-02 15:46] redefinitionof commented on #2786
OK, I have the issue again: But now immediately. I updated to version v5.1.3 and it worked for 2 days. Now when I start collection runner I see an electron process in task manager increasing to 3GB and at 3GB I get a white screen at the collection runner and the process disappears.

[2017-08-02 15:48] appsassociates-dev commented on #1663
#3232 known issue

[2017-08-02 17:57] khushboovdesai commented on #914
Hi Siddhant,

It's an  In-browser Chrome extension without a UI (Postman Interceptor).

On Wed, Aug 2, 2017 at 5:56 AM, Siddhant Sinha <notifications@github.com>
wrote:

--
*Thanks and Regards,*
*Kushboo Desai*

[2017-08-02 18:00] lilling opened #3340 "numbers as names in environment variables"
## App Details:
Postman for Chrome
Version 5.1.2
win / x86-64
Chrome 59.0.3071.115

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: encounter this recently
 2. Expected behaviour: to be able to save enviornment variables as numbers
 3. Console logs : None
 4. Screenshots:
![image](https://user-images.githubusercontent.com/11631465/28887358-8feeaa6a-77c5-11e

[2017-08-02 18:13] gampasandeep commented on #3331
Yeah Thank you.
It is working fine.But can i send all the fields as single object???

[2017-08-02 18:49] emorgado commented on #3126
Brazil

[2017-08-02 19:29] oligriffiths commented on #576
I'm experiencing the same issue. When selecting `multipart/form-data` adding a file part, with the name `data`, I see no files being received by the server. Additionally, when clicking the `code` link on the right below the `send` button, I get this:
[code]
The `filename` field contains no value. I selected a simple image, nothing fancy. However the curl output *does* contain almost the correct in

[2017-08-02 19:55] oligriffiths commented on #576
Here is the charles debug output:
[code]
Here is the postman screen:
![image](https://user-images.githubusercontent.com/1246671/28892151-e80fa1d4-779a-11e7-881b-e6e7df3e3c86.png)

As you can see, file is selected, but does not show in the request

[2017-08-03 01:43] mtwomey commented on #1420
@shamasis I don't fully understand the answer here - this seems like a good  sensible enhancement. I also have vendor APIs for which I can't use segment variables because of this limitation. I don't want to go through the steps to update an env variable each time when I want to test several IDs in a row (this segment functionality is perfect for that).

In addition - the code output already does t

[2017-08-03 01:44] mtwomey commented on #2556
I think this is due to #1420 yes?

[2017-08-03 08:17] Heydiddly commented on #3261
These suggestions have probably already occurred to you, but it would also be great to have wider/resizable text areas for the local/remote sections, and have each request be collapsible.

[2017-08-03 08:18] kimkha opened #3341 "Support OAuth 2.0 with Resource Owner Password Credentials"
Please support OAuth 2.0 option with grant_type = "password", which describe as "Resource Owner Password Credentials" in https://tools.ietf.org/html/rfc6749

[2017-08-03 08:43] scottclayton commented on #3320
I also had this issue with `5.1.2` (on MacOS) using a session cookie. I'm happy to report that Postman `5.1.3`, released yesterday, does not have this issue for me.

Thanks!

[2017-08-03 08:53] bunyaminsg opened #3342 "Delay when scrolling on large sized entries of response data"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: noticed recently
 2. Expected behaviour: Usual behaviour
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): none
 4. Screenshots (if applicable): not applicable

I have a m

[2017-08-03 09:02] prashantagarwal commented on #3320
@scottclayton , Thanks for confirming this. @emackie9 This should also work for you. If it still does not work for you, feel free to reopen the issue.

[2017-08-03 09:02] #3320 closed, assigned to kamalaknn

[2017-08-03 09:22] kamalaknn commented on #3320
Hey @emackie9,

Your description has nailed the exact problem. The older versions of the Postman App(up until `5.0.2`) would offset the cookie expiration time with the user timezone. Which is why it used to work for you earlier, but not ideal for everyone. It would also mean your cookie expired at a different time than what the server intended to.

We've fixed that in `5.1` where we treat all `exp

[2017-08-03 09:42] imwower opened #3343 "copy the real url string instead of the Environment/Global variables"
hi, when we use Environment/Global variables, the url is presented like:
www.google.com/foo/{{profile}}
while the {{profile}} variable stands for `develop`,
so, could postman add a feature or function which can copy the exactly url string:
www.google.com/foo/develop
instead of :
www.google.com/foo/{{profile}}

thanks.

![image](https://user-images.githubusercontent.com/1744486/28915896-13dd261e-78

[2017-08-03 09:43] sdnts commented on #3340
@lilling I was able to replicate this on our Chrome apps, but not our [native apps](https://getpostman.com/apps). I'd recommend switching to the native apps anyway since Chrome apps will be deprecated by Google later this year.

Please reopen if I misunderstood.

[2017-08-03 09:43] #3340 closed, assigned to nobody

[2017-08-03 09:47] sdnts commented on #3343
@imwower I guess a context menu option that does this should be doable. I'm adding this as a feature request :)

[2017-08-03 09:50] sdnts commented on #3339
Hi @javixeneize [postman.setNextRequest](https://www.getpostman.com/docs/postman/collection_runs/building_workflows) should be able to do what you want.

Essentially what you'd want is a global variable (counter) that keeps track of how many times the request has run. AT the end of the request (in the test script), you'd have to increment the counter and `setNextRequest` to the same request if the

[2017-08-03 09:50] #3339 closed, assigned to nobody

[2017-08-03 09:53] sdnts commented on #3341
Hi @kimkha This looks like a duplicate of #1446, so I'm closing this.
We've planned to re-look at all auth helpers in the near future, so we'll take this up then. You can keep an eye on our [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers)

[2017-08-03 09:53] #3341 closed, assigned to nobody

[2017-08-03 09:54] mihailmeleca commented on #283
on May 21, 2013 "The oauth form is missing 2 fields". 4 years passed, still not fixed :(

[2017-08-03 09:56] sdnts commented on #914
Ah, the Interceptor only works with the Chrome app, so you must be on the Chrome app. Can you try this on our native apps and see if you still see this? If you're using cookies from Chrome via the Interceptor, can you try creating these cookies on the in-built Cookie Manager in the native apps and try?

[2017-08-03 09:59] michalhudecek commented on #2811
+1

[2017-08-03 10:00] sdnts commented on #3232
Guys, we'll be taking a better look at auth helpers in the near future, we'll take this up then. You can follow our [product roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers) for updates

[2017-08-03 10:02] sdnts commented on #1854
@Dismissile If you save the token to an environment variable, you can access it in the pre-request and test scripts.

[2017-08-03 10:05] qualityworld opened #3344 "Error on POST request: "JavaScript is required. This web browser does not support JavaScript...""
## App Details:
Postman for Mac
Version 5.1.2
OS X 16.7.0 / x64

Also tested on:

Postman for Windows (Both in Parallels on Mac and a Desktop PC with same Windows version)
Version 5.1.2
win32 10.0.15063 / x64

And I get the same problem on all systems.

## Issue Report:
I'm new to Postman and my first try-out ever is causing problems...
I keep getting a "This webbrowser does not support JavaScript

[2017-08-03 10:40] ryansonshine commented on #1475
+1

[2017-08-03 11:14] lilling commented on #3340
![image](https://user-images.githubusercontent.com/11631465/28919416-0ae2a484-7856-11e7-9538-1c03c0f501e6.png)
isnt it native app?

[2017-08-03 11:15] javixeneize opened #3345 "data stored in server?"
Hi

One question about postman usage. The requests that you send are purely stored in your local computer, or is there any information that is synchronised and stored in postman servers?

I mean... will any of my test data, endpoints etc... go to any form of postman infrastructure?

Thanks

[2017-08-03 11:16] tkrolbm commented on #3084
@madebysid thank you for this update. I had exactly the same problem as original poster and manually setting proxy details allows me to use postman properly.

[2017-08-03 11:20] lostpebble commented on #2672
Yep, just changed over to the installed version from Chrome and this is a sorely missed stat in the collection runner.

[2017-08-03 13:33] mardann commented on #3263
I have encountered same issue:
I'm using a static global variable in place of a header value needed across all services in a collection.

## Reproduction:
1) set global variable via  "Manage Environment" window `access_token:xxxx`, save

2) place variable in request header:
`Content-Type:application/json
Mobile-App:1
Access-Token:{{access_token}}`

3) run request - everything fine:
`Content-Type:a

[2017-08-03 13:59] cphoover commented on #166
stop using non standard http methods?

[2017-08-03 14:29] javixeneize commented on #3339
Hi

Its near to what i want, but not exactly that. I can run this "C" service now in a loop using the setNextRequest, but, the second part of this is not working for me

I have a data file with a fixed number of rows, I want to run this "C" service in a loop with the info in the data file for that subsequent iteration

It is, if i have a datafile with 4 rows, and data is 1,2,3,4... I want it to ru

[2017-08-03 14:58] mjkraner commented on #3291
I'm having this same issue, I am doing a lot of copying of tests and after I copy I can't move the copied one.  Also have had issues where I can't move tests into folders.  However, I have had some tests that I have copied and can move with no issues. Very frustrating!

[2017-08-03 15:00] josslamberti commented on #3291
I can confirm that the issue is reproducible with 5.1.3.
I'm so glad I've not updated the standalone app yet.

[2017-08-03 15:14] heruan commented on #166
@cphoover why? Custom HTTP methods are totally legit and a versatile tool like Postman should really support the definition of arbitrary methods to use. I suggest people stop asking here for method FOO or method BAR just because they need that specific verb: nobody will add the method you ask, no matter the +1 it takes.

I rather hope someone from Postman Labs to give us a feedback about a release

[2017-08-03 15:24] hlubovac commented on #166
What @heruan said!

I'd rather the http-method dropdown gets changed to either a textbox, where we type what we want (even standard methods) or one of those textbox-dropdown control combinations. I honestly can't understand the resistance to this. It's been 5 years that this was requested (and the request is sound) - it's beyond ridiculous that it hasn't been implemented.

[2017-08-03 16:51] ewpeters commented on #2847
I would love this as well

[2017-08-03 16:53] miguelhughes commented on #3291
I’ve updated to 5.1.3 and its working somewhat better. the ui feedback of
moving a test is still missing (no orange rulers), but if I drop it in
another place, it moves.

sometimes it goes back to previous behavior and won’t move them, I noticed
it happens when I have the collection runner open.

[2017-08-03 17:11] khushboovdesai commented on #914
Hey, Thank-you for your assistance! I am using postman native app and my
2gb file does get uploaded though the server is unable to handle without
streaming. Any references that you would like to suggest for the same? Or
anyone who could assist on the same?

Thanks again, Siddhant!

On Thu, Aug 3, 2017 at 2:56 AM, Siddhant Sinha <notifications@github.com>
wrote:

--
*Thanks and Regards,*
*Kushboo D

[2017-08-03 17:43] mjgp2 opened #3346 "Param descriptions not shown in web view"
The param descriptions that our devs add to endpoints are not visible in the web view.

Can you please add the params table to the web view?

Thanks!

[2017-08-03 20:19] elmojo commented on #3291
I have 5.1.3 and am also experiencing this issue as well.  Seems to have been introduced with 5.1.2 which allowed nested folders.

Sometimes the issue causes the UI to do nothing when trying to reorder, other times it moves the request to the parent collection, ejecting it from the folder.

[2017-08-03 21:09] brianpburns commented on #1535
+1

[2017-08-04 00:15] sburtonctr opened #3347 "eval( ): Executing a JavaScript function"
Postman for Windows
Version 5.1.3
win32 10.0.14393 / x64

This issue starting happening after 4.10.7.  I thought I would try to upgrade to see if it was fixed, but it appears to be broken or you have changed do not allow this any more.

## Issue Report:
I load several custom JavaScript into a memory varaible before my test run.  This is one of my scripts that is loaded in the Tests tab.

`postman.

[2017-08-04 00:20] sburtonctr commented on #3347
https://github.com/postmanlabs/postman-app-support/issues/2973#issuecomment-305848595

Let me try your suggestion first.  Sorry, I didn't see you resposne

[2017-08-04 00:23] sburtonctr commented on #3347
That worked, Closing this issue.

[2017-08-04 00:23] #3347 closed, assigned to nobody

[2017-08-04 09:08] cpeeyush commented on #184
Cmd+B works for xml as well ? For me it only works for json not xml.

[2017-08-04 11:29] MBurchard commented on #1535
+1

[2017-08-04 11:53] cacti77 commented on #3084
@madebysid How do you specify the username and password details in the Global Proxy Configuration for the Canary build? I'm using Windows 64-bit but it only lets me enter a server name and port. My HTTPS_PROXY and HTTP_PROXY environment variables have formats like this:

`HTTPS_PROXY=http://<user_id>:<password>@<proxy_server>:<proxy_port>/`

[2017-08-04 11:56] prashantagarwal commented on #3342
Thanks for the suggestion @bunyaminsg . We will surely look into improving this.

[2017-08-04 11:59] prashantagarwal commented on #3346
@mjgp2 Are you referring to API Documentation. If so then you will be happy to know that we are working on a version of Public API Documentation which we are planning to release shortly. This will start showing your param descriptions.

[2017-08-04 12:02] prashantagarwal commented on #3345
@javixeneize If you are not using Sync (Sync is off), then no information related to your api, collections etc goes to Postman servers.

[2017-08-04 12:02] #3345 closed, assigned to nobody

[2017-08-04 12:08] cacti77 commented on #3084
Somebody showed me a workaround that works in Windows: create a .bat file that unsets the environment variables you may have. i.e.,:
[code]
Put this bat file in the same directory as Postman (C:\Users\<Your_Windows_Username>\AppData\Local\Postman\app-5.1.3 in my case) and run it. Then my requests worked fine:). This is using the regular Postman build v5.1.3 and I didn't change any of the default s

[2017-08-04 12:53] mjgp2 commented on #3346
Yes the web view of the documentation which can optionally be made public.

Thanks for the update, let me know when it's GA!

[2017-08-04 13:30] prashantagarwal commented on #3344
@qualityworld We don't allow Javascript to run in preview mode in Postman for security reasons. And so when you are using javascript to hide this text, it is not running.

[2017-08-04 14:40] foldvari commented on #2707
CTRL+ALT+V still conflicts with AltGr+V (@) on the Hungarian keyboard. Would it be possible to stop using CTRL+ALT combination or make the shortcuts configurable?

[2017-08-04 16:28] ianjstewart commented on #882
+1

[2017-08-04 16:55] rtabor commented on #2679
+1

[2017-08-04 18:25] phpguru opened #3348 "Cannot send "api_key" as a custom header"
## App Details:

[code]

## Issue Report:
I cannot send "api_key" as a custom header.

I can send "api-key" (hyphen instead of underscore) or "x-api-key" or "foo", but for some reason, not "api_key". It makes no sense and took me awhile to debug.

[2017-08-04 18:39] udev commented on #1973
Kind of related... I had a request a while back for a "publish gist" feature. It got shut down without much discussion and the closing comment didn't particularly acknowledge the feature request. Even just having the raw headers would be a nice improvement.

https://github.com/postmanlabs/postman-app-support/issues/2834

[2017-08-04 19:00] nagabhiru commented on #3137
Our web application requires us to upload a zip file and then run a job through REST APIs.
I have created a collection that does this but I can run it only through Newman.
I understand that collections can be shared and the file path would be different across machines.
Currently Collection Runner has option to select data file (json/text/csv)
If you can enable option to manually select any file to

[2017-08-04 20:57] HarryF514 opened #3349 "Can't move item in folder"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: previous version existed too.
 2. Expected behaviour: drag and move item in folder should move.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

xml.js:22 Requests not f

[2017-08-04 21:10] jeff-r-skillrev opened #3350 "Postman Params - Seeing double"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This bug has been present for a few versions. At least for all 5.x versions.
 2. Expected behaviour:
I expect to see one row for dealing with key/value pairs on Params. Instead, I see two tables.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-i

[2017-08-05 10:58] chnouman commented on #2242
check proxy browser you may have any proxy browser running mine was zenmate.

[2017-08-05 12:10] dehypnosis commented on #1429
++++++1

[2017-08-05 20:05] tomershay commented on #3089
+1 on this idea. Will be great to have a way to sort requests inside a collection.

[2017-08-06 05:35] monix16 commented on #697
I see that https://github.com/postmanlabs/postman-runtime/pull/288 has been merged. How and when can we start using it.

[2017-08-06 12:08] matt-usurp opened #3351 "Feature Request: Smarter request body"
I have this use case where an endpoint that we maintain has a bunch of optional fields, and removing these to test the endpoint is getting tedious. A way to make this less painful would be the ability to accept a different input format that doesn't affect the `mime-type`.

For example, `YAML` has comment support and it would be much easier to comment out each line so I can test the endpoint with d

[2017-08-06 13:01] medvednic commented on #2247
+1

[2017-08-06 14:20] jvkaam opened #3352 "CSV check"
As a lot of api's still output CSV it would be nice if we could use something like CSV Schema Language validation. Take a look at: http://digital-preservation.github.io/csv-schema/csv-schema-1.2.html#introduction.

[2017-08-06 18:09] ayampols commented on #1104
+1

[2017-08-06 21:24] asmarkis commented on #2942
Requesting this feature as well.

I only use the desktop for shortcuts to files I am currently working on. No apps have shortcuts on my desktop unless programs annoyingly add them every update!

[2017-08-06 21:34] DenniLa2 commented on #2851
+1

[2017-08-06 21:35] DenniLa2 commented on #2819
+1

[2017-08-06 22:23] chalalo1533 commented on #3009
I have same problem :(

[2017-08-07 00:38] RJ05 commented on #1711
I am getting following error while implementing the same.

`There was an error in evaluating the Pre-request Script:  ReferenceError: XMLHttpRequest is not defined`

[2017-08-07 01:00] homerepope commented on #3146
@madebysid On the desktop app When i set Auto follow re-directs to false, it tells me I need to enable the Inteceptor?  Why is this the case if it is not part of the desktop app? (v5.1.3), I am constantly getting 302's on all my requests.  Thanks.
![screenshot](https://user-images.githubusercontent.com/10887296/29008790-982842d6-7aea-11e7-9b1f-e01362af1bae.png)

[2017-08-07 02:12] RJ05 commented on #1180
+1

[2017-08-07 06:18] kamalaknn commented on #3137
@shamasis @numaanashraf what are your thoughts on this?

[2017-08-07 08:02] alvmunoz commented on #2621
+1

[2017-08-07 12:13] redefinitionof commented on #2786
There is nothing in the log. Could you explicitly state which logs you mean (how to view them.)? I tried from the postman view menu ->"Show Postman Console::". I also tried memory profile. There are too many calls to make sense out of it.

[2017-08-07 12:23] redefinitionof commented on #2786
In the allocation profile, there is nothing BTW. The allocation timeline shows all the data, but it seems not from the runner, since I see no major memory leak.

[2017-08-07 12:59] tgmuender commented on #2392
+1

[2017-08-07 13:03] ratpik commented on #3351
Have you checked out the new **Examples** feature in Postman? - http://blog.getpostman.com/2017/05/17/mock-responses-in-postman-by-using-examples/

[2017-08-07 13:49] kostyay-lms commented on #843
Any update on this? It has been ages since this was first reported.

[2017-08-07 14:47] nddipiazza commented on #2462
:+1: open this... it's broken as hell

[2017-08-07 15:21] jonpcunanan commented on #1228
+1

[2017-08-07 15:49] maxima120 opened #3353 "Paste OAuth token"
## App Details:
Postman for Windows
Version 5.1.3
win32 10.0.15063 / x64

## Issue Report:
1. Expected behaviour:
be able to paste a token as is for OAuth 2

2. what I get:
clicking on Authorization tab and selecting OAuth 2 gives no editable fields.. only way is to use Get New Access Token. Which I cannot use because we use grant type "password" and Postman has no such thing (or at least I cant f

[2017-08-07 16:09] anton-arsentyev opened #3354 "[Bug] [Mac] : $timestamp unresolved variable"
## App Details:

[code]

## Issue Report:

Shows its unresolved, but actually runtime its resolved:

![screen shot 2017-08-07 at 17 59 59](https://user-images.githubusercontent.com/22887126/29035281-406dc136-7b9b-11e7-91df-681660067228.png)

Mb add some description in tooltips for system variables ?

[2017-08-07 16:12] festus3001 commented on #2232
Same here.

Perhaps it's just in the backlog and not a lock-in strategy?  Please add XMLHttpRequest back in.

[2017-08-07 16:16] fheidrich commented on #1228
Maybe I'm missing something here, but if I click on the 'Cookies' link and it opens the 'Manage Cookies' window, there I can manually remove cookie individually. So it seems the core functionality is there, and what I wanted was a way to say 'please remove all cookies before sending this request (or all request)'.

[2017-08-07 16:45] mastermunj commented on #2490
@ShilAggarwal I'm also keen on knowing the solution.

@abner-xin did you find solution yet?

[2017-08-07 16:56] ShilAggarwal commented on #2490
Hi,

I was able to achieve this using the native postman app. I uploaded both
json data and file as file uploads.

Thanks
-shilpa

On Aug 7, 2017 22:15, "Munjal Dhamecha" <notifications@github.com> wrote:

[2017-08-07 17:06] mastermunj commented on #2490
Okay, got it. Thank you. :)

[2017-08-07 18:55] ghost commented on #3350
Just an observation. I see two tables as well when I have both path params and query params. The top table seems to be for path params, and the bottom table for query params. It threw me at first, but I've gotten used to it.

[2017-08-07 19:10] ghost opened #3355 "Unexpected behavior reordering items in folders"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently since subfolders within collections introduced.
 2. Expected behaviour:
Expect to be able to drag items within a folder to reorder. Sometimes, this will fail, and when it fails, a request item may be duplicated or deleted.
 3. Console logs (http://blog.getpostman.com/2014/01/2

[2017-08-07 20:18] syntheticzero commented on #1973
+1

[2017-08-07 22:58] YenF commented on #2756
5.0.2 still has this issue. Updated to 5.1.3 and everything is good.

[2017-08-07 23:52] DraakUSA opened #3356 "AWS response redirect resign"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just encountered
 2. Expected behaviour:
Redirect without signing redirected location
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
None
 4. Screenshots (if applicable

[2017-08-08 03:13] fuintis commented on #3349
Same issue on Windows 7 box. In previous version this bug existed but not always showed. In latest version of Postman, always shown.

[2017-08-08 03:20] rcfrias commented on #1663
Having the same issue, any idea how to get the session token if using a login-less access?

[2017-08-08 07:56] #3344 closed, assigned to prashantagarwal

[2017-08-08 08:00] prashantagarwal commented on #2900
@terrywolf We are closing this issue. If you are still facing this issue please right to help@getpostman.com

[2017-08-08 08:00] #2900 closed, assigned to nobody

[2017-08-08 08:05] prashantagarwal commented on #3104
@miqmago This is fixed in the latest Postman version. Feel free to reopen this issue if you still see it.

[2017-08-08 08:05] #3104 closed, assigned to kamalaknn

[2017-08-08 08:09] prashantagarwal commented on #3352
@jvkaam Thanks for suggesting this. We will look into it and see if it fits in our roadmap. I will keep you updated about this.

[2017-08-08 08:11] prashantagarwal commented on #3354
@anton-arsentyev Thanks for bringing this up. We realised it already and have fixed it internally. This should be available in upcoming releases.

[2017-08-08 08:11] anton-arsentyev commented on #3354
@prashantagarwal perfect!, thanks

[2017-08-08 08:21] prashantagarwal commented on #3348
@phpguru Hmm this seems odd. Are you not receiving this header on your server ? As far as I know some servers do drop headers with underscores silently. For example Apache 2.4 onwards do this to prevent cross-site-scripting attacks via header injection.

[2017-08-08 08:22] qualityworld commented on #3344
Hi again - thanks for the answer, but I'm not sure if my question was unclear or if I simply dont understand the answer ?!
I use postman to send the attached request - and I should then simply get a response containing a JSON Web Token and thats it, no javascript or anything else.
BUT what I get when using Pretty/Raw or Preview is a html-respons with a Javascrip error text inside... that is my pro

[2017-08-08 08:28] prashantagarwal commented on #3344
@qualityworld I think this might not be related to Postman. I believe this is coming from the server.  Do you have access to this server so that you can debug this.

[2017-08-08 08:30] qualityworld commented on #3344
Great - thanks for pointing me in this direction, I will contact the API developer and ask if they can debug the request from their end!

[2017-08-08 08:56] TehWardy commented on #3136
And this morning I load up one of my applications and the same problem ... chrome takes me straight to my auth message (the expected result) and in postman, the usual "could not get a response".

Is anyone working on this problem?

[2017-08-08 09:02] prashantagarwal commented on #3353
@maxima120 Thanks for suggesting this. We are already working on some improvements around authorization flows. We will try to incorporate this suggestion as well.

[2017-08-08 09:06] prashantagarwal commented on #3355
@watchwithjames Thanks for reporting this. We will investigate and try to reproduce this issue reliably. I will keep you updated about this here.

[2017-08-08 09:06] javarr commented on #882
+1

[2017-08-08 09:16] matt-usurp commented on #3351
@ratpik Thanks, I didn't see this feature get released so that's cool. I will admit that this will help the use case and maybe makes my example moot, but I would like to still keep this open for input type feature.

[2017-08-08 09:40] SamvelRaja commented on #3356
Thanks for bringing this to our notice, we shall let you know the progress in the same thread.

[2017-08-08 09:50] paulhilliar commented on #2185
Agree that Postman is a REST client not a DB client.  But sometimes you just have to get at the data....

My suggested workaround is to write a small REST service, running locally, that has DB access.
It would expose an API for DB queries and return results as JSON.

[2017-08-08 10:01] maxima120 commented on #3353
thank you... are you planning to add grant type "password" (or to similar effect) for "get new token"? it would be very useful too (as tokens expire, you know :) )

[2017-08-08 10:20] adnan-i commented on #712
Worked for me after removing and installing postman again.

[2017-08-08 10:56] mcfedr opened #3357 "Oauth token request uses multiple client id authentication"
The request from Postman to Access Token URL (eg /api/oauth2/token) after getting a code includes both Basic auth and post values for client_id and client_secret

The Oauth2 RFC specifically states in [Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3) "The client MUST NOT use more than one authentication method in each request."

The server that I am using throws an error saying the cl

[2017-08-08 11:00] TehWardy commented on #3136
Ok did some digging (after yet another postman reinstall ...
I opened up the postman dev tools and console to see if I could figure out more about what was going on.

First up I get this error in the console ...

![image](https://user-images.githubusercontent.com/6891030/29068738-f3c64f70-7c2f-11e7-9e86-94bff12ba275.png)

So I took a look in my certs list under settings and found this ...
![image]

[2017-08-08 11:02] TehWardy commented on #3136
As per the advice above I have also turned off the setting "SSL Certificate Verification" under settings > General.

In short ... post man seems to have problems no other application on my computer has and I'm still none the wiser.

[2017-08-08 11:13] horacehylee opened #3358 "Raw body editor JSON comment"
It would be great if request raw body editor can support comment, for easier testing

[2017-08-08 12:08] jmoody commented on #2773
Please allow a single tab.

[2017-08-08 12:13] prashantagarwal commented on #3358
@horacehylee You can add comments to raw body. Can you explain a bit more about the use case you are trying to achieve.

[2017-08-08 13:53] jonasezitis commented on #1180
+1

[2017-08-08 14:45] Seb-degraff commented on #2030
+1

[2017-08-08 15:12] rcfrias commented on #1663
Ok, I have the right session now, still the same issue. Any Ideas?
Using Version 5.1.3 (5.1.3)

[2017-08-08 16:03] jagadeesh666 opened #3359 "I have 5 to 6 collections about 100 requests and my postman always crashes."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-08-08 16:17] ycho46 commented on #3276
Hi @kamalaknn, so the message "This request has been modified in another open tab." appears when we are about to close the tab and somebody else worked on it. Our problem is that when we open a random post, sometimes the Body of the post would be missing. We initially thought this was a sync issue that when people are simultaneously working on the same post the sync would get messed up and body wo

[2017-08-08 17:25] johighley commented on #3084
Using canary version v5.2.0-canary01.  I normally go through a corporate proxy, which works ok (settings get sync'd).  However, I need to make a request to a local server and can't use the proxy.  Turning off the proxies in settings is still trying to use the proxy though, per the console showing the error returned by the proxy.  Creating the .bat file as cacti77 is a work around.  There needs to

[2017-08-08 17:32] cacti77 commented on #3084
One thing I haven't tried is to set NO_PROXY inside the Windows .bat file for accessing endpoints inside the company rather than unsetting HTTP_PROXY and HTTPS_PROXY.

[2017-08-08 17:40] johighley commented on #3084
From what I can tell, clearing the proxy variables in the .bat doesn't break the app's outside requests for syncing and update checks. It seems to be using the system proxy settings for app requests and the environment variables for the user defined requests.

[2017-08-08 19:31] chrisron95 opened #3360 "Runner should not stop when an error arrises"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
always there
 2. Expected behaviour:
The runner should keep going through tests even when a simple error arrises.
3. Actual behavior:
If we make a call that results in an html error page (normal html page, starts with <!DOCTYPE html>), the runner just stops dead in it's tracks and logs

[2017-08-08 19:32] chrisron95 commented on #3360
This is also not strictly this computer. This happens on all computers I've tried on, including Mac.

[2017-08-08 22:38] jhelbig opened #3361 "Runner executes calls with disabled parameters"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
    - This just noticed the runner was failing tests after updating to 5.1.3
 2. Expected behaviour:
    - Runner executes and applies tests to calls, ignoring any of the disabled or unchecked parameters

## Steps to reproduce the problem
 1. create a new folder and api call
 2. enter s

[2017-08-09 00:00] AmrutaBirar commented on #2172
@tsibiski - can you post your collection (after removing proprietary code), I have a similar challenge
- first get api returns all the physicians in a City
- second get api needs to loop through those physicians (need to test for 200 OK)

[2017-08-09 02:59] horacehylee commented on #3358
@prashantagarwal Yes, we can add comments to raw body. But it shows red error highlight for JSON.
![postman_json](https://user-images.githubusercontent.com/16369356/29103305-6d6cf97a-7cf1-11e7-8ddc-b1e9f3f47cda.png)

Can we have a similar syntax highlight as in Javascript.
![postman_json_2](https://user-images.githubusercontent.com/16369356/29103363-c4631c8c-7cf1-11e7-827e-3ef15eadd2e5.png)

[2017-08-09 03:46] dareaze opened #3362 "Pre-request Script: Wrong MD5 encoding when using dynamic variables $timestamp & $randomInt"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Notice the error after testing new API request using pre-test script dynamic variables $timestamp and $randomInt. The response success IF define key=fixed variable.
 2. Expected behaviour:
Response message success
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-

[2017-08-09 06:01] LouVaiano opened #3363 "Concurrent Environments with precedence"
## App Details:
[code]

## Feature Request:
Environments allow a set of pre-configured values to be defined. When shared they allow others to access these values. However sometimes I would like to override one or more of these values with locally personalised values. For example a shared Environment might define a key with a generic email address, noreply@mydomain.com. However when I use that key

[2017-08-09 07:35] phpguru commented on #3348
I'm using nginx with PHP-FPM.

We noticed "x-api-key" was a "default" available header in postman and switched our code to expect that instead.

[2017-08-09 07:38] prashantagarwal commented on #3348
Yeah, nginx drops headers with underscores, unless you have enabled them in the config.
http://nginx.org/en/docs/http/ngx_http_core_module.html#underscores_in_headers

I am closing this issue since this is not related to Postman app.

[2017-08-09 07:38] #3348 closed, assigned to prashantagarwal

[2017-08-09 09:14] SORC3r3r commented on #2761
I think it is still not possible to export a nested-folder as seperate collection.
And via drag/drop I am not able to drag/drop a nested-folder to the 'collection level'.
Are you planning on improving this?

[2017-08-09 09:30] SamvelRaja commented on #2761
@SORC3r3r can you provide me the info on which version of the app and the steps to reproduce the issue you are facing? This will help in tracing down the issue much closer.

[2017-08-09 09:50] OmarKan commented on #2316
Any update on this ?

It's VERY helpful to have this feature, I personally use 4 Accounts for postman, as I work with 4 different teams on 4 different projects, and each of them require a different email address.

[2017-08-09 10:15] SORC3r3r commented on #2761
I am using Version 5.1.3
I have nested folders in my collections which I would like to export as stand-alone collection.
For example I have a collection which contains bug tests for an api.
Every bug test is in a nested folder within the collection and may consist of multiple REST calls.
I need to run the collection in the postman runner to test all bug fixes. But I would like to export the bug-te

[2017-08-09 10:37] guvkon commented on #1180
+1

[2017-08-09 10:59] hoogenbj commented on #3099
Hi, this bug should be reopened. It happens on Linux (64-bit) in version 5.1.3!
Look at this empty collection I exported:
{
	"variables": [],
	"info": {
		"name": "Product Summary",
		"_postman_id": "af41194f-9ee7-544c-6300-de9279cbab10",
		"schema": "https://schema.getpostman.com/json/collection/v2.0.0/collection.json"
	},
	"item": []
}

[2017-08-09 11:02] hoogenbj opened #3364 "Export v2 collection results in empty collection json file - regression"
## App Details:
Postman for Linux
Version 5.1.3
linux 3.16.0-38-generic / x64

## Issue Report:
 1. This started happening recently
 2. Expected behaviour: export a collection that contains everything
 3. Instead an empty collection gets exported:
{
	"variables": [],
	"info": {
		"name": "Product Summary",
		"_postman_id": "af41194f-9ee7-544c-6300-de9279cbab10",
		"schema": "https://schema.getpost

[2017-08-09 11:14] edininjas commented on #3274
Plus 1 vote

[2017-08-09 12:33] mslancashire commented on #3349
I have the same issue, can't move any item about within a folder.  I have been able to do this in previous versions.

`Postman for Chrome
Version 5.1.3
win / x86-64
Chrome 59.0.3071.115`

Using Chrome developer tools I see an error pop in the console:
`Requests not found in order`

Comes from common.js line 127152.

[2017-08-09 12:47] SamvelRaja commented on #3349
@mslancashire can you provide some more debug information?
What type of collection it is?
1. Imported
2. Shared (Owned)
3. Subscribed (Owned by someone else)
4. Not shared own collection

` I have been able to do this in previous versions.`
Do you have idea on which version of the app you could able to do it properly?

[2017-08-09 14:07] Faz540 commented on #3349
I've had this issue occur for me (Windows App/ Windows 10 64 bit)

**Example:**
I have an existing collection with a child folder in them.
I duplicate a request inside the child folder and it's moved to the bottom of the child folder.
If I attempt to move the duplicate request anywhere else in that child folder, it moves outside the child folder and is moved to the bottom of the parent folder (the

[2017-08-09 14:25] mslancashire commented on #3349
Can't tell you the exact version but it was before the Sub Collection / Child Folder feature was added.  I use Postman for post deployment checks, the order they run in is important.  I remember arranging the order of the items about a week ago if that helps.

The collection is not an imported collection built and owned by myself.  It has been exported thou for use by the build server.

I use simp

[2017-08-09 15:29] SORC3r3r commented on #3360
Same here.
I edited the tests so they would not quit the runner:

[code]

[2017-08-09 15:33] Faz540 commented on #3349
Just happened again!

I've managed to get around the issue for now by moving the older requests below the new request that cannot be moved. This only seems to occur with the newly created request...sync issue? I'm able to move the older requests without a problem.

I recreated this by following my example above.

**EDIT:**
By the time I wrote this comment, I was then able to move the newly created

[2017-08-09 17:06] jasonkaskel commented on #285
+1

[2017-08-09 18:14] jvkaam commented on #2232
+1

[2017-08-09 19:39] szafirov commented on #2756
I have 5.1.3 on Mac, and I still have the issue. Selecting the binary option in the Body tab, browsing to a local file and the file is not sent on POST with headers: "Content-Type: application/json"

[2017-08-09 21:19] HarryF514 commented on #3349
I can't move old request in a folder neither.

[2017-08-09 21:24] sowsan commented on #482
same here cant find the certificate tab, using 5.1.3 version win/x86-64 , chome 60.0.3112.90

[2017-08-09 21:36] digicyc commented on #3274
Plus 1 vote

[2017-08-09 22:20] dgofman opened #3365 "Environment (copy)"
Every time by importing a dump file the environment name and properties duplicates.

Easy to reproduce:

1) Export a project  (Settings->Data->Export data download)
now import a dump file back

2) Click on Choose Files pick a dump file.

3) Go to "Manage Environment" the new environment added with (Copy) post-fix.

Workaround delete existing environment before importing a project. Expecting replac

[2017-08-09 22:27] dgofman opened #3366 "Active or Default Environment state is missing"
After importing a project I would like to replace "Environment Drop-down" by last selected Environment in the dump file.

We have two solutions:
1) Add a new property value on top level
{
	"version": 1,
        **"activeEnvironment": "NewEnvironment",**
	"collections": [
...
2) Adding flag in the array of environments
        "environments": [
		{
			"name": "OldEnvironment",
			"values": [
...

[2017-08-09 23:15] appraveen opened #3367 "2FA authentication for Postman APP"
## App Details:

[code]

## Issue Report:
I am using MAC Postman APP. While sending requests from POSTMAN APP, some of the hosts require 2FA authentication. Since POSTMAN APP does not prompt for password and manage the session, my requests fails.
I am able to achieve this through chrome postman app. Steps I follow for chrome app,
* Goto chrome and hit the host URL, chrome then prompts for 2FA auth

[2017-08-10 02:50] joelpresence opened #3368 "Postman should not round 64-bit integer ids"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Recently
 2. Expected behaviour:
A 64-bit integer id returned in a JSON body should be preserved exactly and not truncated.  Javascript is rounding it by storing it as float64 which truncates the mantissa to 53 bits.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chro

[2017-08-10 02:52] joelpresence commented on #2736
See also https://github.com/postmanlabs/postman-app-support/issues/3368 .  This is holding us up from buying a bunch of Postman Pro seats since we use int64 ids extensively and we don't have the bandwidth to start sending back a bunch of "id_str" type hacks.  Otherwise we're just going to buy more units of PAW for Mac.  Thanks!

[2017-08-10 08:28] xhanrot commented on #2811
+1 on 5.1.3

[2017-08-10 12:29] elliotpryde commented on #697
Can't find any test coverage for POST requests in this merge, only GET.

[2017-08-10 13:14] staticvoidmaine opened #3369 "Postman Documenter -- Ability to Add n Appendixes"
Hi there,

I'd like to submit a feature request for Postman Documenter:

Documentation Appendixes.

This would be very helpful for attaching information that should be included, but may be long and should come after requests.

Thanks,

Rylan

[2017-08-10 13:38] arapoport commented on #771
Hi!

I have the same problem. I send a POST request using Postman:
`https://example.org/create?!!!!!!!!!!!!!!!!`
and on the server side nginx logs following:
`"POST /create?%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21 HTTP/1.1"`

When I send the same request from my program nginx logs it correctly without exclamation marks being escaped.

This is very painful because Postman nowhere shows the

[2017-08-10 14:59] Faz540 opened #3370 "[UI Improvement] - When successfully sharing an environment, the fields are cleared and no successful message is displayed."
Windows App. 64 Bit, Windows 10.

Open 'Manage Environments' and the popup appears.
Click 'Share' on any environment.
Notice the fields have been cleared and no success message is displayed to the User.
When this first occurred, I thought that the sharing was unsuccessful.

**Before:**
![image](https://user-images.githubusercontent.com/9334128/29269938-18ba340c-80ec-11e7-8939-91d6c4caef2a.png)

**

[2017-08-10 15:17] curtisgibby opened #3371 ""Manage Environments" modal should have a filter"
## App Details:
[code]
In the "Manage Environments" window, when you have a lot of environments, it would be nice to have an input box to quickly filter down to the specific environment you're looking for, rather than scrolling through a long list.

[2017-08-10 15:31] jonzim commented on #3019
Rather than installing everything in “%UserProfile%/AppData/Local/Postman”  (as it currently does), postman needs to use (per windows standards):

• “Program Files/Postman” for the program binaries and updater
• “%UserProfile%/AppData/Local/Postman” (as you currently use) for the application ‘data’ (ie settings, local database, history, logs, etc).

this would allow install for all users, where ea

[2017-08-10 16:04] deinspanjer commented on #3349
I'm using Postman app Version 5.1.3 (5.1.3) on OSX 10.12.6 (16G29) and have hit the same issue.

I have a shared collection with 73 requests saved across 15 folders.  Trying to drag a request from the bottom position in a folder to the middle position in the same folder fails.

I am able to drag it into a different folder, and then back into the old folder.
After I do so, if I try to drag it to a

[2017-08-10 19:09] slooker commented on #1723
It's been a few months, and I was curious if there was any update on this?  Without it, I can't use postman to work with anything JWT related.

[2017-08-10 21:40] tangochris commented on #3355
I have this issue constantly. I can rarely, if ever, re-order items in a folder. Here is a screencast to demonstrate: https://www.screencast.com/t/c8hJ8dTdi. Quitting and restarting does not help. Is there a workaround?

`Postman 5.1.3 for Mac OSX 10.12.5`

[2017-08-10 22:49] amurad opened #3372 "Postman icon not displaying in taskbar"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
For quite some time
 2. Expected behaviour:
Postman icon should be displayed in taskbar instead of generic document icon.

 3. Console logs:
No message in console.log

 4. Screenshots (if applicable)
On Desktop
![image](https://user-images.githubusercontent.com/2021240/29195348-a66fbff

[2017-08-10 23:53] pedrolarap commented on #2340
Me sucede exactamente lo mismo.

[2017-08-11 00:19] pedrolarap commented on #576
Buenas noches Oligriffiths, purists resolver el problema.Me sucede exactamente lo mismo.

[2017-08-11 00:20] pedrolarap commented on #576
Buenas noches Oligriffiths, pudiste resolver el problema?
Me sucede exactamente lo mismo.

[2017-08-11 00:30] patrickhousley opened #3373 "Socket hang up"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently encountered.
 2. Expected behaviour: Postman should show the response information.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
[code]
 4. Screenshots (if ap

[2017-08-11 04:03] beast opened #3374 "API Doc Description Markdown HTML style does not work"
Postman for Mac
Version 5.1.3
OS X 16.7.0 / x64

Hi, all. When I try to apply style in HTML tag of API Doc markdown. For example, highlighting certain text with background-color. It does not work. In fact, all styles appears not working. Is this intended? I found the API doc product lack of ways to stress very important contents, even when I look at the example, it never had any good example of hi

[2017-08-11 04:15] godfrzero commented on #3374
Which tags would you like to include/style?

The markdown to HTML conversion within the documentation service strips out all tags and attributes which haven't been explicitly whitelisted. This is being done in order to neutralize possible XSS vectors.

[2017-08-11 04:30] beast commented on #3374
@godfrzero If this is protecting for XSS, that is fine. But I really need some sort of way to show some important messages to my customer. If there is anything you could suggest with the current limitation, please do. For example, like the info and warning box at this doc link https://www.billplz.com/api

[2017-08-11 04:37] godfrzero commented on #3374
I think I might be able to work something out, gimme a day or two get back to you on this.

[2017-08-11 04:42] beast commented on #3374
@godfrzero Thanks! Looking forward to it

[2017-08-11 04:46] godfrzero commented on #3374
CC @vkaegis

[2017-08-11 09:06] webmobiles opened #3375 "multiline json, Add new "JSON Graphql" in dropdown in Body section , like graphiql"
When I send the graphql query string, I must to do it in just one line,

{"query":"query{allQuotes{text}}"}

it's possible to add a new 'json graphql' , so i can type the query in multilines like graphiql, in type like this:

[code]

[2017-08-11 11:51] Ustimov commented on #2049
There is any way to log out?

[2017-08-11 11:55] dannyhajj opened #3376 "Feature request: Ability to clear the URL bar's history"
It would be nice if we are able to clear the history of the URL bar in Postman. Keep in mind I'm not talking about history panel to the left, but the history inside the input field.

If possible, the ability to remove a single URL from that history would even be better. It could work by pressing the <kbd>delete</kbd> button when one of the history items is selected (The same way it is currently im

[2017-08-11 12:22] dannyhajj opened #3377 "Improvement request: Append newline to the end of the JSON export of collections and environments"
When exporting collections or environments, the resulting JSON file does not end with a newline. This makes some coding standards tests fail when we run them, and even Git complains about it when we commit the export to a Git repository.

Is it possible to make exports end with a newline instead of the `}` character?

## App Details:
[code]

[2017-08-11 14:48] mslancashire commented on #3349
Don't know if this helps but I have a work around.

So for Folders that you can not change the order of requests by drag and dropping. Create a new Folder, move all your requests to the new Folder, drag and drop now works in the new folder.

Looking at the debugger when you move requests about in in the old folder and it fails to be moved a
`Requests not found in order` exception is thrown.

The c

[2017-08-11 18:07] a5ync commented on #3355
Same here. I can re-order only the root-level items.

@intranetchris @prashantagarwal I think I've found a workaround, at least it works on Windows. Try to duplicate the directory (using three dots menu of directory).
The new clone will allow you to re-order items.

`Windows 10 Pro, Postman 5.1.3`

[2017-08-11 18:21] ghost commented on #3355
I just saw that there's another issue that contains some comments similar to my experience in this ticket.

https://github.com/postmanlabs/postman-app-support/issues/3349

[2017-08-11 18:22] a5ync commented on #3349
@harryyuanfeng @mslancashire I think I've found another workaround. If you create a duplicate of the directory You are trying to re-order, the clone will allow you to re-organize the collection.
Then delete the original directory/subdirectory and rename the duplicate.

[2017-08-11 18:46] anshulgupta0411 commented on #450
@rogierborst for me it was the other way round. It worked with trailing slash. Thanks for the input

[2017-08-11 23:22] joelpresence commented on #3368
Bump.  Any updates @a85 ?  Thanks!

[2017-08-11 23:49] patrickhousley commented on #3373
I believe this can be closed. The issue is most likely attributed to https://github.com/pleerock/routing-controllers/issues/243 and https://github.com/nodejs/node/pull/14399.

[2017-08-12 06:13] elizabeththecountess666 commented on #2585
URL https://postman-echo.com/get?test=123.

[2017-08-12 20:09] dkedmondson opened #3378 "Regression Issue Introduced Between Postman v5.1.2 and Postman v5.1.3"
## App Details:

[code]

## Issue Report:
 1. The Postman v5.1.2 "Run Collection" feature did not previously pass the variable name {{First_Name}} in a POST message's JSON Payload when the .csv file did not contain a value for the variable, it merely sent an empty value...
 2. The Postman v5.1.3 "Run Collection" feature now passes the variable name {{First_Name}} in a POST message's JSON Payload w

[2017-08-13 03:02] rawaludin opened #3379 "Postman just hang, can't force quit on osx"
## App Details:
Can't open postman. It hang.

[code]

## Issue Report:
I don't know how to reproduce this, but I believe this is because large payload. My postman currently hang and force quite can't close it. I tried open activity monitor, but couldn't find process named postman. I tried `ps aux | grep postman` found nothing. The postman app keep running

<img width="845" alt="screen shot 2017-08

[2017-08-13 07:40] nikilKaranjit commented on #2005
i had same problem and this was due to i forgot to turn on my server

[2017-08-13 11:47] abirstolov opened #3380 "Runner doesn't run all folders"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently
 2. Expected behaviour: run tests in all sub foldfolders

To Reproduce:
- Select a collection with sub-folders
- Run with the _Runner_
Results:
a folder has been skipped, ran other 2 folders
Expected:
run all folders

[2017-08-13 23:05] gomnet commented on #1678
Do you have any feedback about this request? It would be very appreciate for us to have it available.

Thx in advance.
David.

[2017-08-14 00:29] fgilio commented on #450
Omg, thank you guys for this. I was going crazy.

Just for the record:
I was using `https://domain.dev/endpoint/` and changed it to `https://domain.dev/endpoint`
So, I just removed the trailing `/`.

[2017-08-14 01:17] hvkale commented on #2811
Is there any way to see the returned token?

[2017-08-14 02:31] lewis-hu commented on #1137
4 years and counting.

[2017-08-14 04:26] sridevicherukuri commented on #3290
Are there any updates on this issue?

[2017-08-14 04:33] beast commented on #3374
@godfrzero @vkaegis Hi, all. Apart from the the markdown HTML attribute, what I think will really make Postman doc a killer app is to offer something like something similar to github that you could do markdown for specific languages. And that translate into replacing the example on the right panel for example code. Because the generated example code at the moment is too simple and does not allow c

[2017-08-14 09:47] tomcooke commented on #2086
+1 yes please

[2017-08-14 10:19] jonathanwiesel commented on #1104
+1

[2017-08-14 12:12] Rachit1980 commented on #798
Need a way to read a txt/CSV file in tests and compare values to JSON element values

[2017-08-14 13:01] Yardglass commented on #2191
This is still not quite right. The tests pass now, but the names are wrong:

    tests["Body contains cookie foo2"] = !('foo2' in responseJSON.cookies);
    tests["Body does not contain cookie foo2"] = !('foo1' in responseJSON.cookies);

Should be:

    tests["Body does not contain cookie foo1"] = !('foo1' in responseJSON.cookies);
    tests["Body does not contain cookie foo2"] = !('foo2' in respo

[2017-08-14 13:10] JoshMcCullough opened #3381 "Allow body for GET requests."
## App Details:
[code]

## Issue Report:
GET requests should allow a body since it is allowed in the HTTP spec. When preparing a GET request in Postman, the "Body" tab is disabled and a body cannot be entered.

[2017-08-14 14:12] HarryF514 commented on #3349
@a5ync verified that it is a valid work around.

[2017-08-14 15:30] IlianIliev opened #3382 "Unicode characters in URLs are not percent encoded"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have a local app running. When I try the following address `http://localhost/ägg` I can see that the request comes unchanged.
If I do the same request in Chrome I see the `ä` character percent encoded.
I have found it recently and I am not sure if it has been the same before.

 2. Ex

[2017-08-14 16:23] moberacker commented on #1885
+1

[2017-08-14 19:40] okader opened #3383 "Can not run the entire collection with Runner, get error message"
## App Details:

Version 5.1.3
win32 6.1.7601 / x64
[code]

[2017-08-14 19:41] okader commented on #3383
![capture](https://user-images.githubusercontent.com/31016827/29288534-18e673d0-8107-11e7-8482-cdd9825bd017.PNG)

[2017-08-14 19:42] okader commented on #3383
![capture](https://user-images.githubusercontent.com/31016827/29288564-34c18f36-8107-11e7-8e9e-5fe457b718a8.PNG)

[2017-08-14 20:01] mjkraner commented on #3349
This issue is SO frustrating, please fix soon!

[2017-08-14 20:08] markkimsal opened #3384 "401 Unauthorized response prevents sign-in window"
When requesting an OAuth2.0 authorization page, if the server responds with 401 and a login form Postman will not open the window and allow the opportunity to login.

[2017-08-14 20:58] jeff-r-skillrev commented on #3350
Thanks for explaining that. I at least know why they're both there now, which helps usability.

[2017-08-14 21:05] emcarson commented on #1983
Facing a similar issue. Whenever I paste an URL in the Chrome address bar (not even using the Postman App) the request is sent twice to the server. If I disable the Postman extension this does not happen.

Google Chrome: 60.0.3112.90 (Official Build) (64-bit)
Postman Version: 5.1.3
OS: Linux Mint 17.3 Rosa - Cinnamon 64 bit

[2017-08-14 22:14] #2611 closed, assigned to nobody

[2017-08-14 22:28] abhijitkane commented on #1490
@shevyf @soluwalana For the Chrome app, the only way to prevent auto-following redirects is to enable the Interceptor and toggle the 'Automatically follow redirects' setting in Postman.  The Chrome app uses the XHR object, which makes it impossible to control this behaviour without the Interceptor installed.

The native apps ([https:/www.getpostman.com/apps](https:/www.getpostman.com/apps)) suppor

[2017-08-14 22:35] abhijitkane commented on #1041
@richcbaker This should be fixed now. Feel free to reopen if you see this again.

[2017-08-14 22:35] #1041 closed, assigned to nobody

[2017-08-14 22:38] abhijitkane commented on #976
@hekailiang We've made a number of updates to the app and the interceptor. Feel free to reopen if you're still seeing this.

[2017-08-14 22:38] #976 closed

[2017-08-14 22:40] abhijitkane commented on #1304
@avikb As mentioned above, you'll need to enable the interceptor and set the 'Automatically follow redirects' setting (in Postman) to NO.

Chrome follows all redirects without regard to the original request method, and this is not visible to Postman.

You can also switch to the native apps (https://www.getpostman.com/apps) that support this without the Interceptor.

[2017-08-14 22:40] #1304 closed, assigned to nobody

[2017-08-14 22:41] abhijitkane commented on #2993
@dialex You can delete all sessions via https://app.getpostman.com/dashboard/sessions

[2017-08-14 22:41] #2993 closed, assigned to nobody

[2017-08-14 22:41] #2712 closed, assigned to nobody

[2017-08-14 22:42] #1348 closed, assigned to nobody

[2017-08-14 22:44] abhijitkane commented on #3358
@horacehylee The JSON schema (http://www.json.org/) does not support comments. Postman supports disabling parameters for form-data / urlencoded types, but cannot do so for JSON - the entire body is treated as the request payload.

[2017-08-14 22:45] #3304 closed, assigned to kamalaknn

[2017-08-14 22:45] abhijitkane commented on #3012
@okjim3GH You'll need to look at third party services that offer this. Postman doesn't support customized URLs for collections.

[2017-08-14 22:45] #3012 closed, assigned to nobody

[2017-08-14 22:47] abhijitkane commented on #2995
@anudhingra You can refer to standard JS docs - adding an exclamation mark before the condition will negate it: `tests["Body matches string"] = !responseBody.has("string_you_want_to_search");`

[2017-08-14 22:47] #2995 closed, assigned to nobody

[2017-08-14 22:48] abhijitkane commented on #2884
@ZheniyaS You can checkout lodash as an easy way to navigate your JSON object - https://lodash.com/. This is supported in the test sandbox as well.

[2017-08-14 22:48] #2884 closed, assigned to nobody

[2017-08-14 22:48] #3203 closed, assigned to kamalaknn

[2017-08-14 22:48] #3053 closed, assigned to ankitjaggi

[2017-08-14 22:49] #3000 closed, assigned to nobody

[2017-08-14 23:05] #3236 closed, assigned to abhijitkane

[2017-08-15 01:06] anudhingra commented on #2995
Somehow it was not giving reliable results. I had to write a simple logic around it to get the expected result.I was curious if there can be a built-in function to make life easy.

On Monday, August 14, 2017, 3:47:18 PM PDT, Abhijit Kane <notifications@github.com> wrote:

@anudhingra You can refer to standard JS docs - adding an exclamation mark before the condition will negate it: tests["Body mat

[2017-08-15 01:16] serkand opened #3385 ""To many errors. (XX% scanned)" warning in Postman Sandbox"
I am getting this "To many errors. (XX% scanned)" warning in some of my pre-req and test scripts.

When I copy the code to a jslint validator ( say in Visual Studio Code or an online validator) I can see the errors. Even though most are warnings and quite trivial which can be ignored, they are annoying!!!

Here are some examples:
Postman's data object:
file: 'file:///c%3A/Users/.../Desktop/temp.js

[2017-08-15 01:39] mlambley opened #3386 "Option for turning off save confirmation"
## App Details:
[code]

## Issue Report:
Previously I could close tabs without an extra button click. Now I must also click on "Don't Save".

I would appreciate an option for "Don't ask me again", either on the dialog box itself or in the settings.

![postman save](https://user-images.githubusercontent.com/17264636/29298874-4b3f8aa4-81ae-11e7-97e6-c3e053659eb1.png)

[2017-08-15 03:36] jaredbloch commented on #824
I could use this very much when I give demos as well. @BlueHatbRit nailed it.

[2017-08-15 04:00] ceduquey commented on #1437
You could try Apibot an easy to use, integration testing tool, that would let you upload data variables on a CSV file, and you could run your test case multiple times.
[http://apibot.co](url)

[2017-08-15 04:19] Yardglass opened #3387 "Postman Echo - Delete Cookies Tests have wrong descriptions"
## App Details:

## Issue Report:

1. Download Postman Echo JSON from here: https://www.getpostman.com/view-collection/cb422f2f53444914b07f
2. Import the JSON
3. Go to Cookies->Delete Cookies and look at the tests

Expected:

tests["Body does not contain cookie foo1"] = !('foo1' in responseJSON.cookies);
tests["Body does not contain cookie foo2"] = !('foo2' in responseJSON.cookies);

Actual:

test

[2017-08-15 04:27] beast commented on #3374
@godfrzero Any update you could provide for this? This is increasingly important as I want to use the Postman doc tool to provide our API to our vendors. Thanks.

[2017-08-15 05:19] prashantagarwal commented on #3357
@mcfedr We are making some improvements around Authentication flows. We will investigate it and release a fix in upcoming releases.

[2017-08-15 05:21] prashantagarwal commented on #3359
@jagadeesh666 Can you update your app to 5.1.3 and check if this is still happening. We made a lot of performance and stability fixes after 4.11.0

[2017-08-15 05:27] prashantagarwal commented on #3360
@chrisron95 Yeah this makes sense. We will try to enhance runner with this suggestion. I will keep you updated here about this.

[2017-08-15 05:31] prashantagarwal commented on #3361
@jhelbig Hey, can you provide some screenshot of the request you are running and Postman console. It will help us debug this issue faster.

[2017-08-15 05:36] prashantagarwal commented on #3362
@dareaze We don't support dynamic variables inside Pre-request script and test script.
https://www.getpostman.com/docs/postman/environments_and_globals/variables

If you want you can use vanilla javascript to mimic the $timestamp

[2017-08-15 05:36] #3362 closed, assigned to prashantagarwal

[2017-08-15 05:41] prashantagarwal commented on #3363
@LouVaiano Yeah that makes sense. So we do prioritise Environment variables over Global variables as of now, it is just that you cannot share Global variables.

[2017-08-15 05:51] prashantagarwal commented on #3365
@dgofman Thanks for bringing this up. I think a better solution would be to show a dialog box if a same environment already exists and ask user to whether import it as copy or replace the original one. This is what we are doing for collection imports as well.

[2017-08-15 05:54] prashantagarwal commented on #3366
@dgofman That's a good suggestion. We will try to fit this in our roadmap. I will keep you updated about this here.

[2017-08-15 05:57] prashantagarwal commented on #3367
@appraveen We are already working on lots of improvements around Authentication flows. We will try to include this as well as a part of it. I will keep you updated about this here.

[2017-08-15 05:58] LouVaiano commented on #3363
Thanks for getting back to me.

Just so I am clear, does that mean my request is on the roadmap or so I
make do with the Globals, which doesn't meet my objectives?

Regards,
Lou

Lou Vaiano
LTX Pty Ltd
PH: 0422 660 798
EM: lou.vaiano@ltx.com.au

On 15 August 2017 at 15:41, Prashant Agrawal <notifications@github.com>
wrote:

[2017-08-15 05:59] mrshyam commented on #3221
Working with keyboard  Ctrl- and not working with numeric keyboard.

[2017-08-15 06:02] prashantagarwal commented on #3363
@LouVaiano We will discuss it internally and see if this use case can be solved by making Global variables shareable, so that you can share global variable **noreply@domain.com** and then in your environment variable override this with **me@domain.com**

[2017-08-15 06:05] LouVaiano commented on #3363
Excellent, thanks.

Lou

Lou Vaiano
LTX Pty Ltd
PH: 0422 660 798
EM: lou.vaiano@ltx.com.au

On 15 August 2017 at 16:02, Prashant Agrawal <notifications@github.com>
wrote:

[2017-08-15 06:10] prashantagarwal commented on #3368
@joelpresence We are already tracking this in #2736 . I am closing this as duplicate issue.

[2017-08-15 06:10] #3368 closed, assigned to nobody

[2017-08-15 06:16] prashantagarwal commented on #3369
@rylancates Thanks for the suggestion. Duly noted.

[2017-08-15 06:18] prashantagarwal commented on #3370
@Faz540 Thanks for pointing this out. We will get this fixed in upcoming releases.

[2017-08-15 06:19] prashantagarwal commented on #3371
@curtisgibby Thanks for this suggestion. We will try to get this included in future releases.

[2017-08-15 06:24] prashantagarwal commented on #3372
@amurad this issue is a duplicate of #3107 .We have suggested a way to fix this in that issue.

[2017-08-15 06:24] #3372 closed, assigned to kamalaknn

[2017-08-15 06:24] #3373 closed, assigned to nobody

[2017-08-15 06:30] prashantagarwal commented on #3375
@webmobiles We are already tracking this in #1669 . Supporting Graphq is there in our [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers).

[2017-08-15 06:30] #3375 closed, assigned to nobody

[2017-08-15 06:32] prashantagarwal commented on #3376
@dannyhajj Thanks for suggesting this. We will look into this and get back to you. I will keep you updated about this here.

[2017-08-15 06:35] prashantagarwal commented on #3377
@dannyhajj We will look into this and get back to you. I will keep you updated about this here.

[2017-08-15 06:42] prashantagarwal commented on #3381
@JoshMcCullough We are already tracking this issue here #2729. I am closing this as duplicate

[2017-08-15 06:42] #3381 closed, assigned to nobody

[2017-08-15 06:45] prashantagarwal commented on #3383
@okader we are already tracking this here #3360 . I am closing this as duplicate

[2017-08-15 06:45] #3383 closed, assigned to nobody

[2017-08-15 06:46] prashantagarwal commented on #3382
@IlianIliev Thanks for reporting this. We will investigate this issue and release a fix in upcoming Postman releases

[2017-08-15 06:52] prashantagarwal commented on #3386
@mlambley Thanks for the suggestion. We will look into this and try to release this enhancement in upcoming versions.

[2017-08-15 07:02] prashantagarwal commented on #3387
@Yardglass Hey, I am not sure what is wrong here.

<img width="609" alt="screen shot 2017-08-15 at 12 31 13 pm" src="https://user-images.githubusercontent.com/3762808/29305319-bdcf2532-81b5-11e7-96b2-34d5ef7a8772.png">

[2017-08-15 07:27] Yardglass commented on #3387
@prashantagarwal thanks for the quick look at this - the delete method is removing both foo1 and foo2, (https://echo.getpostman.com/cookies/delete?foo1&foo2) but the tests aren't showing that at all. The above tests you are showing do not match what I am seeing though, but are also wrong if your method is the same?

It's deleting both cookies in my version which I downloaded from here: https://www