[2017-11-04 19:06] tienle488 commented on #3371
Yes, please!  Thank you.

[2017-11-04 19:35] tienle488 commented on #2738
yes, please!

[2017-11-05 15:35] nian88 commented on #3327
i have the same problem

[2017-11-05 16:06] a85 commented on #3735
Thanks! This is exactly what we are working on with the idea of #3205. More news soon!

[2017-11-05 16:09] andymcf commented on #3633
I wanted to be able to save the response from the runner

[2017-11-05 17:42] neman commented on #482
How can I use desktop Postman when client certificate is on smart card? I can not point to a crt or pfx file, since private key will never leave smart card. What are the options for this?

[2017-11-05 18:46] phoffer7874 commented on #2462
Vignesh,

Copy paste in the Google Chrome Application is working correctly.

Thanks,

Peter

2017-11-03 15:24 GMT-02:00 Nick Childers <notifications@github.com>:

[2017-11-06 00:28] tommarkallen commented on #2909
You can save the authorization request header like this

auth_token=request.headers.authorization;
postman.setEnvironmentVariable("Authorization",auth_token);

[2017-11-06 01:15] selfboot opened #3736 "Feature request : Postman should modify response content."
Now we can only use pre-request and tests script:

![](https://s3.amazonaws.com/postman-static-getpostman-com/postman-docs/59184189.png)

But sometimes the response is encrypted, and it's better if we can use js to decrypt it and then display it.  So can postman add a **pre-response** process, and allow us modify the response content?

[2017-11-06 03:23] brianlovin commented on #3518
+1 here, will follow along with this issue to hopefully add cookies to localhost requests :)

[2017-11-06 07:31] cawoodm commented on #3506
+1 Windows 10

[2017-11-06 07:59] AndySoHotRightNow opened #3737 "Drag and dropping inside collection folder exhibits erratic behavior"
When I try to click, hold and move (i.e. drag and drop) a request within a collection folder it gets moved to a completely different place.

To give you a concrete example:

![screen shot 2017-11-06 at 3 52 06 pm](https://user-images.githubusercontent.com/17130123/32430568-d54ed9d2-c30a-11e7-8ba5-25232f26e531.png)

This is me trying to move `public/admins/login` request one position upwards (i.e.

[2017-11-06 09:35] Jummartinezro commented on #3709
Same issue over my corporate network, even if I properly configured the proxy Postman for Chrome works as expected but new Postman doesn't

[2017-11-06 09:47] ivaaaan commented on #1368
+1. Doesn't work even if I have hardcoded schema:

[code]

Card schema looks like:

[code]

[2017-11-06 09:48] skyboyer commented on #1196
@guestz0r  I believe he is talking about pm.response.to.have.jsonBody call like shortcut to validate some concrete path inside the JSON response.
as for tv4.validateResult I believe next approach can be used:
[code]

[2017-11-06 09:55] skyboyer commented on #2392
+1
there are a lot of request, each time we need to run different subset of them(say, authorization + something around checking permissions and then - different things to get different flows) - that's why setNextRequest does not help

[2017-11-06 09:59] skyboyer commented on #1180
+1

[2017-11-06 10:02] mslancashire commented on #2392
+1

[2017-11-06 10:33] pencilkill commented on #1180
+1

[2017-11-06 10:42] skyboyer commented on #2493
is it possible to integrate into pm object so it could be used in pre-request script?

[2017-11-06 11:04] oscarrobinson commented on #2302
+1

[2017-11-06 12:49] SamvelRaja commented on #3737
@AndySoHotRightNow  Thanks for bringing this to our notice. Can you send us an email to help[at]getpostman[dot]com from your registered email id?

[2017-11-06 12:52] SamvelRaja commented on #3736
I can understand your concern. You can very well console.log the decrypted response in the test script which will eventually show up in our postmanConsole (View -> Show postman console).

[2017-11-06 12:52] #3736 closed, assigned to nobody

[2017-11-06 12:54] SamvelRaja commented on #3734
Thanks for bringing this to our notice, we shall look at the issue and update the progress in the same thread again.

[2017-11-06 12:55] SamvelRaja commented on #3733
Thanks for bringing this to our notice, we shall have a look at the issue and update the thread on the status.

[2017-11-06 13:00] SamvelRaja commented on #3730
@kwhat  We are having a hard time in reproducing the issue you mentioned, can you provide us a screencast of the issue you are facing. If the data is much sensitive to show in public, can you send us a mail to help[at]getpostman[dot]com with your registered email id?

[2017-11-06 13:03] SamvelRaja commented on #3728
Closing this as it is the duplicate of #1321

[2017-11-06 13:03] #3728 closed, assigned to nobody

[2017-11-06 13:05] SamvelRaja commented on #3727
@reager you are seeing any kind of error in the dev console while doing this.
You can open the console by View -> Show Devtools

[2017-11-06 13:29] reager commented on #3727
Dont know if its related, but this is what show up in the dev tools

![image](https://user-images.githubusercontent.com/668343/32443321-e19e3dce-c2fe-11e7-802c-298acc0fec14.png)

[2017-11-06 14:55] rentman-theodore commented on #1818
@jahrichie Not sure if it is applicable in your case, but for me on Ubuntu 16.04, Postman crashes when it has a lot of tabs open. Closing the tabs fixes the crashes.

[2017-11-06 15:16] harryi3t commented on #3709
@Fuerte1 @Jummartinezro  Does your proxy needs authentication?
If yes, then I am afraid this is not yet supported. There is a separate thread https://github.com/postmanlabs/postman-app-support/issues/3566

[2017-11-06 16:03] mbrasier commented on #3709
@harryi3t It isn't as simple as proxies requiring authentication its about NTLM as an authentication mechanism for proxies. This is absolutely a requirement for any use of postman in a corporate environment. It is supported in chrome, but not in the desktop app, making the desktop app unusable.

[2017-11-06 16:08] staticvoidmaine opened #3738 "Can't Publish Documentation for a Collection"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Yes
 2. Expected behaviour: I am able to publish documentation for a collection
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[code]

 4. Screenshots (if applicable):

[2017-11-06 16:39] godfrzero commented on #3738
@rylancates Could you shoot us an email at help@getpostman.com with the ID of the collection you were trying to publish, and the email associated with your postman account?

[2017-11-06 17:08] staticvoidmaine commented on #3738
You bet

[2017-11-06 19:39] kwhat commented on #3730
Hi @SamvelRaja,

I have no idea what was going on with the endpoint.  I basically copy pasted all of the values from the broken endpoint to a new one and it just worked.  Duplicating the misbehaving endpoint, duplicated the error.  I ended up just deleting the endpoint and recreated it.  I did notice that the exported item had a strange anomaly in the request body, despite setting it to post 'form

[2017-11-06 20:36] hegemony2 opened #3739 "Cannot Paste From Keyboard On Mac When Command Key Remapped to Control Key"
## App Details:
Postman for Mac
Version 5.3.2 (5.3.2)
OS X 10.11.6 / x64
[code]

[2017-11-06 22:21] dtopcuog opened #3740 ""src" and "value" attributes from the "form-data" gets removed after exporting the collection using the postman 5.3.2"
[code]
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 `Recently.`
 2. Expected behavior:
 `src and value should not be removed from the collection if already existed`
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

[2017-11-06 23:22] 7omasz opened #3741 "Monitor performance dashboard doesn't reflect all failed tests"
Periodically our monitors fail with a cryptic error message in the `Console Log - Error: Anomalous test`, e.g.:

[code]

The collection monitor then reruns and only the last run is recorded on the dashboard and no notification is generated that the original test failed.

[2017-11-06 23:43] MattGurney commented on #2082
I would also like this feature. It appears that Postman heeds the content-type header to determine the file name extension ("content-type:application/zip" produces response.zip) but ignores the content-disposition header filename property and makes the start of the file name always "response".

[2017-11-07 00:27] maxmilton commented on #884
Still not able to send requests regardless of whether interceptor is turned on or off in either the extension or the app.
[code]

[2017-11-07 02:40] ym13349140 opened #3742 "Postman no selected files caused bad request"
## App Details:
[code]

## Issue Report:
I use Python-Flask on my server end.I want to use postman POST form-data to test my API.I have to upload an image to the server,when I manually select an image,the server request.files['cover'] can get the file and return the correct response,but when there is no selected file,then I get a 400 bad request response.when I check the server end,I find that pyt

[2017-11-07 03:23] Pr1Smiley commented on #2750
![0a8345e5-ea92-4db9-8c27-af7e60520a59](https://user-images.githubusercontent.com/25694929/32475670-aa440a4a-c338-11e7-81b2-ddf36685046f.GIF)

[2017-11-07 03:24] Pr1Smiley commented on #2750
Sorry for the late response, had a few releases I had to get out

[2017-11-07 03:48] SamvelRaja commented on #3725
Thanks for your valuable feedback. We will forward your input to our UI/UX team 😄

[2017-11-07 03:53] SamvelRaja commented on #3724
@PavelKa  Yes, we deliberately removed it and makes fetching the token locally as default.
Are you facing any kind of problem making this as default? If so, kindly let us know.
We shall update the documentation as we speak 😄

[2017-11-07 03:53] #3724 closed, assigned to kamalaknn

[2017-11-07 03:58] SamvelRaja commented on #3723
Thanks for bringing this to our notice, we were able to reproduce the issue from our end. We shall update the progress here.

[2017-11-07 04:36] Pr1Smiley commented on #2750
![image](https://user-images.githubusercontent.com/25694929/32477331-e61c3c2c-c342-11e7-94d3-ad9e1ddafc3b.png)

![image](https://user-images.githubusercontent.com/25694929/32477342-f7c1ba42-c342-11e7-8400-c0bff47f41cd.png)
![image](https://user-images.githubusercontent.com/25694929/32477348-083dff3e-c343-11e7-80c0-6a2f9cb39df3.png)

[2017-11-07 04:40] trajano commented on #2750
What do you get if you use `curl`?

[2017-11-07 04:52] Pr1Smiley commented on #2750
Have not tried it yet

[2017-11-07 05:02] Pr1Smiley commented on #2750
hello,

Checked in fiddler works ok

![image](https://user-images.githubusercontent.com/25694929/32477821-9a245382-c346-11e7-9e7c-9eda9af57251.png)

[2017-11-07 05:13] Pr1Smiley commented on #2750
Curl works also

[2017-11-07 06:58] SamvelRaja commented on #3717
Thanks for bringing this to our notice. We shall update the progress of the issue here.

[2017-11-07 06:59] SamvelRaja commented on #3724
https://github.com/postmanlabs/postman-docs/pull/164  Fixes this.

[2017-11-07 07:00] SamvelRaja commented on #3735
Closing this in reference with #3205

[2017-11-07 07:00] #3735 closed, assigned to nobody

[2017-11-07 07:06] SamvelRaja commented on #3740
@dtopcuog we are removing the src in form-data for security concerns.
But, the idea of having it as an environment variable, we shall look at as a feature and try to analyze the possibilities around it.

[2017-11-07 07:09] SamvelRaja commented on #3741
Thanks for bringing this to our notice 👍  we will investigate and update the status here.

[2017-11-07 08:07] zedbahn commented on #2247
+1

[2017-11-07 08:10] Fuerte1 commented on #3709
I think that the proxy does not need authentication. Or the authentication is automatic using certificate etc.
I googled this NTLM authentication, and probably it is that.
https://www.cisco.com/c/en/us/support/docs/security/web-security-appliance/117931-technote-ntml.html

[2017-11-07 08:21] thwint commented on #285
+1

[2017-11-07 08:23] nikhileshshah opened #3743 "Test are not running On Native App whereas It is working as expected in chrome extension"
Today, I installed Postman Native app and tried to execute my existing automation script which was developed on  Postman chrome extension and strange part is my script is working fine with chrome extension and it is failing with Native App

## App Details:
Postman Native App:
Postman v5.3.2 is the latest version

[code]

## Issue Report:
I have been using Postman client browser extension from last

[2017-11-07 09:44] AndySoHotRightNow commented on #3737
Just a follow up.

Today I was having the same problem, however, at some point this window popped out:

![screen shot 2017-11-07 at 5 40 33 pm](https://user-images.githubusercontent.com/17130123/32486931-138dfb50-c3e3-11e7-9d5d-8880b8cb71e7.png)

After clicking on `Resync` the erratic behavior disappeared.

[2017-11-07 09:44] AdrianoLRibeiro commented on #2247
+1

[2017-11-07 09:57] wojcikcp commented on #3405
@jahrichie Same situation. I think my 500's are so bad that they crashes postman :dancer:

[2017-11-07 10:19] harryi3t commented on #3709
@Fuerte1 As I was expecting, your proxy requires authentication.

In Postman Chrome, Chrome is providing a lot of functionalities out of the box including transparently authorizing the proxy. And among other things, this is one the functionality that we need to add to the native apps and we are working on it.

This is not exclusive to windows native app and I mentioned earlier, there is a separate

[2017-11-07 10:19] #3709 closed, assigned to harryi3t

[2017-11-07 10:44] vinterskogen commented on #1383
Because, when you are making a typical POST request you are simulating a usual HTML-form submission.

Check the "Content-Type" header of the POST request you are making - if it has value of "multipart/form-data" it is so. That means you have the same abilities, which a usual HTML-form has: (1) pass strings, (2) pass files.

On the other hand, sending an AJAX ("Content-Type": "application/json") al

[2017-11-07 10:50] huseyin-kilic commented on #2899
I am also waiting the feature of mass export for selected environments.
Find & replace will be very useful too.

[2017-11-07 11:20] trajano commented on #2750
What's the output of `curl -v`? specifically looking at the resulting header part.

[2017-11-07 12:12] prashantagarwal commented on #3717
@udev We tried to reproduce this from our side but were unable to do so. If it is possible for you can you email the Raml file you are trying to import to help@getpostman.com.

[2017-11-07 12:40] prashantagarwal commented on #3701
@dyymmi We have fixed this internally. It will be available in next release. From now onwards if you don't provide any delay it will take it as 0ms

[2017-11-07 14:06] cchretien commented on #3740
I'm also seeing this issue. We specifically create our collections to work with newman and it is painful if we have to manually update every time we export.

https://github.com/postmanlabs/newman#file-uploads

[2017-11-07 14:10] akshay2604 commented on #3186
Any updates on this?

[2017-11-07 14:47] sdnts commented on #3739
Hi @hegemony2, I did what you said, but I'm unable to see this.
I was able to copy and paste. Can you check if you can paste in any other application?

[2017-11-07 15:11] chrisron95 opened #3744 "Runner should always keep the response body logged"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Been there as long as I can remember
 2. Expected behaviour:
When a test fails in the runner, or the runner is stopped entirely, it should keep the response body logged. However, more often than not it just says either "response body unavailable" or "Data unavailable" (see screenshot)

[2017-11-07 16:27] idevtech opened #3745 "Need "Workspaces" to group collections"
As I use Postman for multiple projects and clients I'm finding a single list of collections limiting. What would be useful is a higher level grouping mechanism like a "workspace" or "project" which would contain collections. This organization could be achieved by using a collection as the parent and then creating folders to group requests. However, this limits capabilities like mocking a collectio

[2017-11-07 16:29] covolution commented on #3124
Hi, I am using the Native app on Linux and get random crashes so switching to that won't fix it.  Is there any sort of log file or crash reporting?  I just send basic json calls and it crashes at random.

[2017-11-07 16:32] sdnts commented on #3745
Hey @idevtech! Thanks for the feature request! Workspaces are actually a requested feature and are on our [roadmap](https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers).
We're tracking it at #3205. We'll update that thread when we make progress!

[2017-11-07 16:32] #3745 closed, assigned to nobody

[2017-11-07 17:27] ricjohn commented on #2433
+1

[2017-11-07 17:28] arashidkargo commented on #1498
can anyone tell why I am seeing this error when running postman collection AssertionFailure  Content-Type is application/json at assertion:4

[2017-11-07 18:48] reggi opened #3746 "Feature Request: Cookies / Response Headers variable available in Test"
When I make a request in the Cookies tab I have Cookies that were sent in the response. I would like to take these Cookies and use them in the "Test" so that I can put them in as global variables, or test to see if they are available. Ideally the sandbox API would support `responseCookies` or `responseHeaders` (which would contain the cookies) along with `responseBody`, or even better a full `resp

[2017-11-07 18:49] orryrotem-buildinglink commented on #3107
This fix applies to the Postman icon in the Start menu as well

[2017-11-07 19:12] hegemony2 commented on #3739
Yes, it works in other applications.  It also works when I map the keys back to their original function.

I was able to get it to work…  I had an App Shortcut for the keyboard that maps ctrl-v to “Paste and Match Style”…  when I deleted and re-added that to my system/keyboard preferences, I can now paste in postman:

[cid:image001.png@01D357B9.48467660]

Perhaps upon installation, postman is not p

[2017-11-07 19:29] reggi commented on #3746
I just updated to the latest version which has `pm.cookies.get();` 💯

[2017-11-07 19:29] #3746 closed, assigned to nobody

[2017-11-07 20:45] ypolishetty opened #3747 "Search For Published Documentation"
Could you please add support to search for APIs in the published documentation instead of a regular search on the web page? Something similar to the search you have in the below link:

https://www.getpostman.com/docs/postman/api_documentation/publishing_public_docs?q=&idx=blog&p=0&is_v=2

[2017-11-07 22:16] caddac commented on #2214
I was having this same issue on Mac postman 5.3.2, turns out I had an incorrect header, I had this error in the console: `Error: Header name must be a valid HTTP Token`. Seems like that error should be displayed to the user?

[2017-11-08 01:00] jdfurlan opened #3748 "Windows Native App not showing all cookies"
I've used the chrome app for several months now, and I would use interceptor in chrome to handle the auth cookie that our web app requires for authenticated requests. Now that I've switched to the native app on windows, I don't see any way of doing that. When I look in the cookie store, it doesn't show all the cookies that are actually in the browser. Without the auth cookie, we can't test our API

[2017-11-08 02:32] treefitty commented on #3740
Hi @SamvelRaja, I was just wondering if you could voice these concerns (just so we can empathise) as it's quite an frustrating problem; actually my case might be different..

FWIW I have an issue where I export the collection on my Linux (Ubuntu 16.04) desktop, save to git and then import that onto my Mac. Once I export it again it has removed all the references to "files" and I have to manually r

[2017-11-08 04:41] ferronrsmith commented on #3485
this is needed.

[2017-11-08 06:13] foaadnami commented on #1973
+1

[2017-11-08 08:24] baszczewski opened #3749 "New distribution format for Linux - Flatpak"
[code]

## Issue Report:
1. Postman at the moment is available on Linux in archive with binary file.
2. It's not convenient way to install it. User have to manually create shortucts etc.
3. It's not also to secure, because any security bug inside your's software can affect userspace.
4. There is solution in new, multiplatform package distribution for Linux: Flatpak.
5. It's easy to use, but most i

[2017-11-08 09:33] 0pen5pace commented on #285
+1

[2017-11-08 10:48] abionescu commented on #2225
**Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64**

Proxy:
host:"127.0.0.1"
port:8888
match:"http+https://*/*"
Request Headers:
cache-control:"no-cache"
postman-token:"ff0f6276-e3ed-403f-8263-70fe3a7088bb"
user-agent:"PostmanRuntime/6.4.1"
accept:"*/*"
host:"postman-echo.com"
cookie:"sails.sid=s%3ArUJcR0l8iPAxmjV5vO_TD5LwIiM4fKOI.y3eQ2mVrxJrmO6g5LumhExdBjJ%2BrDZ7OxHRQ4fc72b4"
accept-enco

[2017-11-08 12:40] prashantagarwal commented on #3626
@serkand This is fixed in 5.3.2. Please update your app and feel free to reopen the issue if you are still seeing this.

[2017-11-08 12:40] #3626 closed, assigned to sdnts

[2017-11-08 12:41] #3616 closed, assigned to harryi3t

[2017-11-08 12:42] prashantagarwal commented on #3613
@kbuzby Do you have a specific use case for which you want this whitespace

[2017-11-08 12:43] prashantagarwal commented on #3606
@hungapl Was this issue resolved ? If not feel free to reopen this issue.

[2017-11-08 12:43] #3606 closed, assigned to kamalaknn

[2017-11-08 12:49] xsisec opened #3750 "How to reflect correct value in in the test result?"
Hello everyone,

If my test success I get in the result label "amount" and "name",
instead I would like to have  "Kalle and "1 110,00" presented.

Could someone help me I been tried to log correct the value I am trying to fetch but I don't really succeeded,

[code]

Could someone help me ?

Thank you in advance

Regards

Elmnas

[2017-11-08 12:59] kbuzby commented on #3613
Yes, the whitespace is part of the values for the variables for the application im testing. If I don't save the whitespace in the variable then I'll have to add it to the request body before the variable

Also, not only is it something I have a use case for, but the fact that I can save whitespace in the key-value edit mode, but not the bulk edit mode I think is the real problem. It'd be better if

[2017-11-08 13:10] nikhileshshah commented on #3743
@postman-admin : Can someone help me on this Please.

[2017-11-08 13:18] RuniQa commented on #2392
At first, I admire your work on Postman.
At the second, +1 to this thread. setNextRequest needs to be set on preceding request. However to have full workflow control you need to check conditions before request is send.

[2017-11-08 14:14] mikhail-amurov commented on #3740
I confirm this issue as well for v.5.3.2. Exporting "src" and "value" attributes from the "form-data" works fine in older version v.5.1.3.

[2017-11-08 14:42] mniyaz commented on #1104
+1

[2017-11-08 14:44] smanolloff commented on #2905
+1
Enforcing a tab delimiter is hilarious. Come on, at least make it 4 *spaces*, if you absolutely don't want to make it configurable.

[2017-11-08 15:00] mhamri commented on #3688
when i check for the update it say that i have the latest version
![image](https://user-images.githubusercontent.com/8991783/32555723-81761b66-c4d8-11e7-8ea4-98072a0ab56c.png)

but the problem still is there

[2017-11-08 15:20] calebrepkes opened #3751 "Header Content-Length no longer set correctly (not visible in Postman Console)"
## App Details:

[code]

## Issue Report:

1. On certain network environments, the Header Content-Length is not send properly. Or either I dont see it back in the Console, as that its send. I have this issue, since at my client we changed our Proxy settings. In the old settings, it still works. But with the new one it doesnt.

Though when I hard code the Content-Length field with a value, then my

[2017-11-08 16:41] calebrepkes commented on #3751
Im on the slack channel, I think that would work a bit faster.

[2017-11-08 17:20] mikecg commented on #1475
+1

[2017-11-08 20:00] ScottMorris commented on #2979
I'm trying to run Postman on Linux Mint 18.2 and am getting a black screen when I launch the application.  I've tried launching it with `--disable-gpu` with no prevail.  It looks like an [electron issue](https://github.com/electron/electron/issues/4380) relating to this one is still open, however my notebook as an Intel HD graphics GPU.

Have anyone found any other workarounds?

My environment is,

[2017-11-08 20:11] a-marinin opened #3752 "Postman app shortcut pinned on start menu on Windows 10 hasn't a thumbnail"
## App Details:

[code]

## Issue Report:
**Description**: Postman app shortcut pinned on start menu on Windows 10 hasn't a thumbnail.
**Environment**: Windows 10 Pro
**Steps to Reproduce**:

1. Uninstall Postman app for Windows;
2. On Windows, click on the "start" icon;
3. Write down "Postman" on the search field;
4. Right click on "Postman Desktop app"
5. Click on "Pin to start" option;
6. Close

[2017-11-08 21:28] gaieges commented on #3511
I think I'm experiencing the same issue.  My situation is that I have a response that looks like this (no content returned in body, no content-length header):

[code]

But when I run that same thing via postman UI (or even newman) I get the parse error exception that @trajano is getting.

What's going on here?  Any workarounds for this?

Running version 5.3.2 of the UI App, 3.8.0 of newman.

[2017-11-08 21:40] gaieges opened #3753 "Feature request: Add option to "Open.." a file to newman native app instead of just importing it"
Feature request: be able to edit a collection file on disk on the fly, instead of having to import and export the collection as desired.

The case that I run into that is an annoyance from time to time is during editing of a collection file in git that gets used downstream in my CI pipeline. In its current form, I'm required to import the existing collection from git, and then export it to the fil

[2017-11-08 21:51] eraac commented on #3327
Fresh app, just unzip (no move to Application directory)

- MacOS 10.13
- Postman app 5.3.2
- MFA on Google

Just after login with Google, window is close and give me postman login page again

[2017-11-08 22:11] ma198307 commented on #1014
Hi, the ability to delete all collections would give test cases portability and ease of use. If I have 500  apis and 50 collections to test those. With new  environments feature,  I can use a variable to replace to replace host name in URL. Environment variables gives flexibility to quickly change the hostname  but consider a real world scenario where multiple variables are used in test cases say

[2017-11-09 01:52] trajano commented on #3511
Try using `request` from npm and run the following code on node

[code]

[2017-11-09 05:44] ranujn opened #3754 "Change Postman URL for multiple request"
Hi ,

Can we change URL for multiple request in one go. IS there any feature in postman for this.

I have 300 request for that I need to change end points.

Thanks in Advance

[2017-11-09 06:01] misaya opened #3755 "Multi-language suggestion"
If support the language packages, we will get better feelings

[2017-11-09 06:06] misaya commented on #3126
may you  make postman a better software  support Chinese languages (zh-cn) ,   Most of Chinese Programmers are not good at English.  they can read but not good feelings.

China has a large amount of programmers , we like  software such as postman.

it's cool .

[2017-11-09 06:14] jcnitkkr commented on #391
I'm getting this issue as well. I have a POST request, but the server is receiving a GET request.

[2017-11-09 06:23] #3672 closed, assigned to prashantagarwal

[2017-11-09 06:25] maan6050 opened #3756 "empty array while sending raw json"
i am trying to send json data in raw. but getting empty array. i have attached the screenshot please review and provide back feedback about what i might be doing incorrect.

Regards

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-develop

[2017-11-09 06:25] maan6050 commented on #3756
![issuejb](https://user-images.githubusercontent.com/22326605/32591396-e97d8804-c544-11e7-81e2-49bb4410be54.png)

[2017-11-09 06:35] deepakpathania-zz commented on #3750
Hey @elmnas If I understand your question correctly, you would like to access the properties in your body object. In your for loop, after you check whether your responseBody has the body object, simply store the `body[i]` in another variable to access them. So something like this.
[code]
This will give you
[code]

[2017-11-09 06:53] Rashmi-Nuviso commented on #1066
Bulk Select and Move is needed in postman . Please consider this as an Prioritized Improvement .

[2017-11-09 07:17] maan6050 commented on #3756
- actually i am using postman after a long time. so i can i encountered it very recently.
- I expect the array values in the array.
- i have attached the screenshot already

-

[2017-11-09 07:26] abhijitkane commented on #3327
@nian88 @Eraac @hoose145 Can you head to View>Show DevTools and repeat the process? Any errors you see in the console might be helpful.

[2017-11-09 07:44] harryi3t commented on #3743
@nikhileshshah I have few questions
 1. Are your APIs protected by windows auth
 2. Is there a proxy involved which requires windows auth
 3. which windows auth is it? (NTLM/Kerberos/Negotiate)

We already support NTLM auth for API requests.
So if the answers to above questions are in order **YES, NO, NTLM** then you can just update all the requests with the new NTLM auth that is supported by the

[2017-11-09 07:51] postema commented on #727
on the roadmap at oct2015 and still no solution???

[2017-11-09 08:41] prashantagarwal commented on #3755
@yemadu Thanks for the suggestion.

[2017-11-09 08:43] prashantagarwal commented on #3754
@ranujn We are actively working on this and this will be an addition to our current feature `Find Elements`. For now as a workaround you can export the collection, make your changes using some IDE and then upload the collection file back.

[2017-11-09 08:43] #3754 closed, assigned to nobody

[2017-11-09 08:46] prashantagarwal commented on #3753
@gaieges I am not sure about this. You can anyways edit you collection file using some IDE, it is just that you must be aware what a property inside collection JSON represent.

[2017-11-09 08:50] prashantagarwal commented on #3756
@maan6050 This looks something that your server returned and not the Postman itself. Can you do couple of things.
- Update to latest Postman app (5.3.2).
- Add screenshots of Postman Console after sending the request

[2017-11-09 08:50] #3756 closed, assigned to nobody

[2017-11-09 08:53] prashantagarwal commented on #3752
@a-marinin Thanks for pointing this out. We will get this fixed.

[2017-11-09 08:56] prashantagarwal commented on #3751
@calebrepkes We will investigate this and reach out to you incase we need some more input.

[2017-11-09 09:19] notarmara opened #3757 "Https Requests Problem"
## App Details:
[code]

## Issue Report:
![image](https://user-images.githubusercontent.com/12168345/32597150-159854be-c536-11e7-8563-a3db73407ce7.png)

I have this problem on https requests both for localhost and for any internal net backend.
I have tried different settings configurations:

Disabling all on general section:
![image](https://user-images.githubusercontent.com/12168345/32597302-877a

[2017-11-09 09:29] ZhangQuan1219 opened #3758 "postman-mac版runner问题"
Postman for Mac
Version 5.3.2
OS X 10.12.6
[code]

[2017-11-09 09:58] msmpeteclark commented on #3327
@abhijitkane I have just tried logging in with the console open, no errors are included in the console output.

[2017-11-09 10:17] ltn100 commented on #3650
Yes, I have v5.3.2 on Ubuntu Linux (16.04LTS), and this is still happening for me.

[2017-11-09 10:19] eraac commented on #3327
@abhijitkane Developer Tools Console and Postman Console are absolutely empty 😢

[2017-11-09 10:23] HakanDmr opened #3759 "HTTP Request DNS Problem"
## App Details:
[code]

## Issue Report:
Hi,
 When I try to send a request after the few other request Postman not sending my request.
 Subsequently, I'm flush my dns cache with the below command and Postman started to working.

`ipconfig /flushdns`

I'm not sure about this is a bug or something about my computer.

Thanks.

[2017-11-09 10:28] SamvelRaja commented on #3327
@Eraac Can you remove ~/Library/Applications \Support/Postman directory and try again.
If the problem persists, can you send us a screencast/video to help[at]getpostman[dot]com

[2017-11-09 11:37] gLes commented on #3727
I can also reproduce the issue. It happens when I use the **Get New Access Token** dialog and the **Manage Tokens** dialog is shown immediately after. It's as if multiple instances are shown of the same dialog. The overlay behind the dialog is more and more transparent after every click on the close button of the dialog, until the dialog finally disappears.

Same error is visible in the console:
!

[2017-11-09 12:05] nikhileshshah commented on #3743
Yes, our API's using integrated windows authentication (IWA). I tried passing NTML but getting same error

[2017-11-09 12:15] johnoscott commented on #519
I would very much like a feature to display JSON records as a table.

[2017-11-09 12:30] eraac commented on #3327
@SamvelRaja directory removed, it's work correctly now ! (and the login interface has changed) ❤️

[2017-11-09 12:48] #3758 closed, assigned to nobody

[2017-11-09 12:49] prashantagarwal commented on #3759
@HakanDmr Thanks for reporting we will investigate this.

[2017-11-09 13:10] kallekarlberg commented on #3631
We have services with self issued certs and when we point "standalone" postman towards these the connection fails. Not sure on how to get more logging out of it.

Pointing a browser to the same endpoint givea a warning on "self-issued" cert that can be "avoided".

Using the "chrome app" and allowing these self issued certs in chrome makes the crome app work.

To add some more detail.
Hitting our h

[2017-11-09 13:36] boorac opened #3760 "Can't copy from textarea using right click -> copy"
## App Details:

[code]

## Issue Report:
 1. I encountered the bug as soon as the standalone app was installed.
 2. Expected behaviour:
I should be able to copy from text editors, a selection of any size using right click -> copy
 3. No console errors are reported

## Steps to reproduce
1. Enter a textarea
2. Select text using mouse
3. Right click --> Copy
4. The selection is not in the buffer

[2017-11-09 14:13] grinderX19 opened #3761 "Auto-scroll to selected environment on opening Environments drop-down"
I have a bunch of environments (more than 30) and when I need to switch between them I often need to scroll down in the Environments drop-down. I believe it would be much more convenient if the drop-down would open already scrolled to the currently selected environment.

For example:

Preconditions:

- have more than 13 environments (because opening Environments drop-down will show "No Environment

[2017-11-09 14:18] harryi3t commented on #3743
@nikhileshshah
Can you share the logs from postman console?
-  Open Postman Console
-  Clear if any logs are present
- Send *one* request having NTLM auth to your end point
Q1. How many logs do you see in the postman console?
Q2. Please share the entire logs here (of *every* request from console)

[2017-11-09 14:57] xsisec commented on #3750
This is definitely more what I looking for now is it just the last part left to assign the BodyProp included in the result so it says Amount: + (BodyProp).

Thank you

[2017-11-09 15:14] xsisec commented on #3750
I solved it by:

[code]

[2017-11-09 15:14] yakup38 commented on #3566
@harryi3t
Your work around doesn't work behind our corporate Proxy on Win 7.
I have set system env variable but still doesn't work on native app.

What am i misssing ?

[2017-11-09 15:43] deepakpathania-zz commented on #3750
@elmnas Glad, I could help.
@prashantagarwal This can be closed.

[2017-11-09 16:04] ChrisAllisonMalta opened #3762 "Logo has disappeared on Windows"
## App Details:

[code]

## Issue Report:
I'm not sure which updated version this happened in but its been there for a while, basically the Postman logo isnt on my taskbar (or whatever its called in Windows10!) Its there on my mac and it for sure used to be.

![image](https://user-images.githubusercontent.com/11945453/32615321-c631e752-c56f-11e7-93e8-bad77a2319ee.png)

To the right of the VS Code

[2017-11-09 16:21] mattdeluco commented on #3648
Is the updated documentation available for perusal?

[2017-11-09 16:23] godfrzero commented on #3747
Thanks for the suggestion! We'll see if and when we can squeeze this into our development timeline. I'll post updates here when they're available.

[2017-11-09 16:49] correajd opened #3763 "Postman cloud is saving a request with a folder id that doesn't exist"
## App Details:

[code]

<!--
Some guidelines:

1. Please file Newman-related issues at https://github.com/postmanlabs/newman/issues
We have been building a node.js app that ingests collection data from the www.getpostman.com/collections api where we piece together selected folders in our own dynamic collection. We noticed that one of the requests has a folder id of a non-existent folder which is

[2017-11-09 16:55] mwyld opened #3764 "Importing Folder only imports the first file"
Importing a folder with a collection.json and environments.json results in just one file being imported.

Importing manually one by one works fine

DevTools gives the following:

Uncaught (in promise) TypeError: Cannot read property 'id' of null
    at xml.js:22
    at child.importData (xml.js:22)
    at xml.js:22
    at common.js:5634
    at baseForOwn (common.js:3775)
    at Function.forOwn (com

[2017-11-09 16:56] thecodemill commented on #2476
+1 I'm getting > 5000ms responses compared to the ~200ms previously!

[2017-11-09 17:03] rober710 opened #3765 "Diactitics on variable names cause error when replacing URL value"
When I create a request with path parameters, which have diacritics in their names, like this:
`http://127.0.0.1:8000/api/applications/product-evaluations/:idAplicación`, Postman cannot parse the variable name correctly, taking it as `idAplicaci`:
![image](https://user-images.githubusercontent.com/25037552/32618176-f60f7d66-c544-11e7-872a-35aa12ce4fff.png)
Thus, the request is sent like this:
`PAT

[2017-11-09 17:20] OwlLaboratory commented on #3390
It would be very usefull ! :)

[2017-11-09 18:06] davidsbond commented on #6682
+1 for this

[2017-11-09 18:18] cascer1 opened #3766 "Display more authentication information in generated documentation"
## App Details:
[code]

## Issue Report:
This is not a bug.

Currently, when I create a request with authentication information (such as a bearer token) in Postman, the documentation simply displays a little padlock icon next to the request. However, this does not inform the visitor what kind of authentication is requested.

Instead, I would like to see additional authentication information, such

[2017-11-09 18:55] krishreddy82 opened #3767 "Postman POST method Header Key and custom value will send ISO-8859-1 or UTF-8"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-11-09 19:08] gaieges commented on #3753
Yeah I edit collection files frequently via IDE's / text editors, thats why I've put in this ticket because it's really cumbersome to do so (the json syntax specifically, I have another ticket open to request supporting YAML files as well for ease of editing).

[2017-11-09 19:18] rgangal commented on #3171
any update on this ? I am running into same issue where my tests needs to wait for 10 mins.

[2017-11-09 19:22] josluimg commented on #3704
Postman osx 5.3.2

macOS Sierra 10.12

Postman can not open
<img width="1190" alt="captura de pantalla 2017-11-09 a las 20 23 39" src="https://user-images.githubusercontent.com/3416114/32625192-e76a5046-c58b-11e7-9e43-2254ffcf6c9c.png">

[2017-11-09 19:33] leonardschneider opened #3768 "Feature request: Request body support for JS expressions"
It would be great if the request body could support JS expressions, so we could do things like:
[code]
If the result of the evaluation is undefined, then the whole field is ignored.

[2017-11-09 19:37] gm90043 opened #3769 "Windows application crashes searching a large response"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Occurs more often recently.
 2. Expected behaviour: Search functionality should be responsive.

If a response returns a large set of data (600k+ lines) attempting to search that data causes a huge memory spike and crashes the application. This occurs as soon as the search icon is click

[2017-11-09 20:41] srulandhs commented on #3127
Having this issue too.

Just trying to switch away from the chrome app. Have a simple WebAPI service exposing a GET method with no auth and no params.

Chrome Browser (v62) - Succeeds
Postman Chrome App (v5.3.2) - Succeeds
Postman Windows app (v5.3.2) - Fails - ECONNREFUSED

[2017-11-09 21:43] BrainStone commented on #3751
For me the Content-Length header isn't set at all. I've set a raw body in a post request. Content-Type header is updated correctly.

[2017-11-09 22:29] cauvery-guda-eb commented on #3205
Is there any rough ETA for this feature. Looking forward to it.

Thank you.

[2017-11-09 23:01] landonvg commented on #2833
Same problem in Window 7 with v5.3.2.

[2017-11-10 01:55] crabmusket commented on #2369
Same issue, I think, on Ubuntu 16.04 with version 5.3.2. I get no response though, the request just loads indefinitely. It works fine with the browser extension so I guess I'll use that until this is fixed.

EDIT: I might be having a different issue. It seems all my requests are hanging. Going back to version 4.10.7 fixed that. I'm working around the hostfile issue by making all requests to my loc

[2017-11-10 03:03] 5p3c7r3 opened #3770 "Anchors in published documentation don't scroll to the anchored service"
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I just encountered this issue, I'm not sure if it has been there before or for how long.
 2. Expected behaviour: The browser should scroll to the service that matches the anchor tag in the URL

## Steps to reproduce
* Navigate to published documentation for a collection
* Scroll down to a folder and expand it

[2017-11-10 04:06] godfrzero commented on #3770
This is something we've noticed breaking in Chrome 61+, and we're working on a fix for it. I'll update here once we've pushed it out. If you notice it breaking in any other browsers/devices, please let us know.

[2017-11-10 04:07] 5p3c7r3 commented on #3770
Sounds good thank you!

[2017-11-10 04:35] terenceng2010 commented on #1475
+1

[2017-11-10 07:26] Jas0nch commented on #3691
I can also reproduce this issue in windows native app(not chrome app).
Here's my issue report.

## App Details:

[code]

## Issue Report:
 1. Bugs description:
I have used native app instead of chrome app because of notification in chrome app.
But when I was using formatted json by VS Code as a body of one request, I found unexpected responses like this:
a.
{
    "Message": "The request is invalid

[2017-11-10 07:33] udev commented on #3717
Going to close this one out as I've since moved on to another solution. Thanks for the follow up.

[2017-11-10 07:33] #3717 closed, assigned to prashantagarwal

[2017-11-10 07:40] harryi3t commented on #3566
For windows please try creating a `.bat` file
[code]
Save this file and put it in the postman installation directory.
For windows, it should be `C:\Users\Postman\AppData\Local\Postman\app-5.3.2` for the latest version.

When you open this file, the set environment variable will only apply to the Postman process.
I have tested this on win 10. Let me know if you have any issues with win 7.

[2017-11-10 08:13] abhisek193 opened #3771 "Postman extension crashed when POST done for 1301447L of REST payload"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-11-10 10:00] coolbung commented on #1470
Do you support the security definitions yet ? I have the following securityDefinition in my swagger file
[code]

but postman seems to be ignoring it when importing the swagger file.

[2017-11-10 10:22] westphalen commented on #391
This has happened sporadically to me several times in the past, and continues to do so now in your native clients. In my most recent scenario, changing the method from PUT to POST made the body data reach the server. Also switching to x-www-form-urlencoded data seems to work. But really frustrating that I think I'm looking at a problem with my code, and really it's just the data not reaching the s

[2017-11-10 11:49] malayladu commented on #1060
Yeah..that did the trick for me too :)

Thanks!

[2017-11-10 12:02] Thilaknath commented on #2604
@prashantagarwal  I still have this issue, despite having the latest version postman.

Environment : Windows 10

A quick summary, I try to do a POST with the authentication headers and that is supposed to return me with a json response, But i don't receive any and instead being redirected to the login screen of the app. When i toggle off the Autoredirect, i get a 302 but the content is not rendere

[2017-11-10 12:17] Sam-Levene opened #3772 "Collection Runner - Unusual folder-related errors"
## App Details:
[code]

## Issue Report:
 **1. Did you encounter this recently, or has this bug always been there:**
 I have encountered this recently

 **2. Expected behaviour:**
Runner to pass the appropriate tests no matter what folder I am in.

 **3. Console logs** (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools

[2017-11-10 12:21] Sam-Levene commented on #3772
Nevermind. Self-fixed by moving the collection to the first item. Clearly somewhere in the suite, something is causing the auth token to become invalidated.

[2017-11-10 12:21] #3772 closed, assigned to nobody

[2017-11-10 12:30] kitkittan commented on #1104
+1

[2017-11-10 12:33] nikhileshshah commented on #3743
Sorry, I am unable to open PostmanClient (Native App) console, I have added console.log( ) function in test tab and executed test, after execution when i right click on window it is not showing me any option to inspect.

Could you please help me to get postman Native App console log, Please

[2017-11-10 12:43] nikhileshshah commented on #3743
Hello,

I enabled NTLM and passed my windows credentials but still its failing. So I captured logs for the same.

`Error running scripts: ReferenceError | m is not defined Objectmessage: "m is not defined"name: "ReferenceError"type: "Error"__proto__: Object
exception @ xml.js:22
invokeCallbackSafely @ xml.js:22
(anonymous) @ xml.js:22
emitMany @ events.js:127
emit @ events.js:201`

Note: Same requ

[2017-11-10 12:59] harryi3t commented on #3743
@nikhileshshah The logs are not related to NTLM at all. This error is happening coz you are trying to log a variable `m` which is not defined.

Please remove the `console.log` and then send the request.
I want to see the logs of the request being sent.
See the sample screenshots

### Normally 3 requests are sent for NTLM authentication
![image](https://user-images.githubusercontent.com/5207331/326

[2017-11-10 13:00] yakup38 commented on #3566
Hi,
thank you for your kind suggestion.
In my case i have a NTLM auth proxy i guess since it doesn't work with your suggestion.
However, the working workaround was using CNTLM local proxy from sourceforge.net.

Now, my main problem is the WSSE Authorization which just works fine out of the box on SOAPUI but unfortunately couldn't make it work on Postman till now.

I guess some scripting should pro

[2017-11-10 13:43] nikhileshshah commented on #3743
Hello,

If i remove console.log(), Logs are not getting printed in Developer tool.

Thank You

[2017-11-10 14:33] johnddias commented on #2617
Adding request for this to be addressed, makes Swagger import practically pointless if we have to manually add the request body.

[2017-11-10 15:08] dantenchghx opened #3773 "Feature Request: Option to privatly host documentation"
The formatting of the postman documentation and the ease in which it is created is fantastic.

Unfortunately, our API is not available for public consumption and is for the use of other internal systems created by the company that rely on the data we store.

As such, we wouldn't want to publicly host any API documentation via postman on the web for all to see, we'd love to see that as part of post

[2017-11-10 15:38] pogermano commented on #1538
I have the same problem, it is not open on win 10

[2017-11-10 15:49] viraxslot opened #3774 "Runner doesn't run the collection and returns error "request url is empty"."
Hi guys,

## App Details:
[code]
Steps to reproduce problem:
**1. Add new collection "TestCollection"**
**2. Add new GET-request with variables**
http://{{host}}/api/flight?orig={{orig}}&dest={{dest}}&dep={{depDate}}&ret=&adt={{adtCount}}&chd={{chdCount}}&inf={{infCount}}

The result link is: http://somehost/api/flight?orig=XXX&dest=XXX&dep=20171115&ret=&adt=1&chd=0&inf=0
Without any dots in domai

[2017-11-10 16:22] reinouts opened #3775 "Cannot read property 'coords' of undefined when running requests"
## App Details:

[code]

## Issue Report:
 1. I've only observed the issue with the linux native client
 2. Expected behaviour: request is processed normally
 3. Console logs: there are no entries in the Postman console
 4. Screenshots (if applicable)

Steps to reproduce the problem
Try to run a POST or GET request. The request does not appear to finish but in the terminal from which Postman was l

[2017-11-10 16:31] deepakpathania-zz commented on #3773
Duplicate of #3663.

[2017-11-10 16:39] kpashov commented on #2611
@prashantagarwal Do you know if someone is looking into this?

[2017-11-10 17:08] AbrahamGo commented on #2617
Having this issue too. This issue has a big impact because makes useless "import" option from swagger. Highest priority please!!

[2017-11-10 17:12] kartiknk commented on #2617
Having this issue as well.  Using com.smoketurner dropwizard-swagger 1.1-1.1
Pretty useless if we have to manually modify request for each and every test case

[2017-11-10 17:21] a85 commented on #3773
@dantenchghx You don't need to expose anything publicly. The default view for documentation is private and URLs are accessible only to your team members.

[2017-11-10 17:30] deepakpathania-zz commented on #3760
Hey @boorac, I wasn't able to replicate this behaviour locally. Can you specify more clearly what you mean by the `textarea` here? The body tab of the builder or something else?

[2017-11-10 18:54] btwynham opened #3776 "Postman Mac App Hangs for several minutes when trying to move requests between collecitons"
##
Postman Helper goes to 100% CPU usage and Postman app/Gui hangs for several minutes when I move a request between a collection

## App Details:
Postman for Mac
Version 5.3.2
OS X 15.6.0 / x64

## Issue Report:
 1. I started seeing this issue more and more over the past month I did not initially have this issue.
 2. I should be able to move requests across collections with out seeing this issue

[2017-11-11 09:05] xavierlefevre opened #3777 "Feature request: Emulate network connectivity with Postman"
Hello guys,

We love your product here, and we would like to use it in order to keep a good eye (monitor) on the performance of our APIs. However we do have a need to test our routes in "real customer conditions".

Is there any plan to emulate network connectivity?
Would be awesome, like for Chrome: https://developers.google.com/web/tools/chrome-devtools/network-performance/network-conditions.

Th

[2017-11-11 10:34] armpogart opened #3778 "Encoding of URL paths is incorrect"
## App Details:

[code]

## Issue Report:
 1. I use the request that is working in chrome app, but in native app I get `incorrect symbols in header` response from the API server, it's something with request encoding, I have russian characters in request endpoint name and it is working ok in chrome app. Request is something like `http://endpoint:port/odata/standard.odata/Catalog_Пользователи?$forma

[2017-11-11 10:37] armpogart commented on #3778
Maybe something related to https://github.com/postmanlabs/postman-app-support/issues/2263

[2017-11-11 10:40] armpogart commented on #3778
Also if I encode url manually and use the encoded string there - everything is working.

[2017-11-11 14:29] selfboot opened #3779 "Feature request: Use data file to set the name of the file to upload"
# App Details:

Postman for Mac
Version 5.3.2 (5.3.2)
OS X 10.12.6

# Feature Request:

In doc  [Command line integration with Newman: File uploads](https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#file-uploads), it describe a way to upload file in a request.  But it's useless because we need to set the file path every time we run the collection.

It can

[2017-11-11 18:26] a85 commented on #3777
Thanks for the feature request! Great to hear that you love the product. We don't have simulations yet but marking this to take up in the future.

[2017-11-11 18:35] a85 commented on #3764
Folder imports are not supported right now.

[2017-11-11 18:42] a85 commented on #805
Closing it as non-critical as importing is available through the modal and easy to reach. We'll consider more options for importing at a later date.

[2017-11-11 18:42] #805 closed

[2017-11-11 18:43] a85 commented on #1324
The Postman Console now gives you the full response that can be copy/pasted: https://www.dropbox.com/s/snd0tvd7vsv1uvj/Screenshot%202017-11-11%2010.43.17.png?dl=0

[2017-11-11 18:43] #1324 closed, assigned to nobody

[2017-11-11 18:44] a85 commented on #1229
The Postman Console shows fully resolved values for each request which you can use instead of the history now.

[2017-11-11 18:44] #1229 closed, assigned to nobody

[2017-11-11 18:46] a85 commented on #1350
We have finally figured out a better way to do this. Will announce the approach more on our blog soon!

[2017-11-11 18:46] a85 commented on #1350
In an upcoming version, we will have the "replace" feature out soon that should make working with multiple requests of the same type super easy though.

[2017-11-11 18:46] #1350 closed, assigned to nobody

[2017-11-11 18:47] a85 commented on #2016
Search is available now in the Postman app. "Replace" coming soon.

[2017-11-11 18:47] #2016 closed, assigned to nobody

[2017-11-11 18:48] a85 commented on #2012
I don't think we ever found a way to support this without surprising people. Closing this request.

[2017-11-11 18:48] #2012 closed, assigned to nobody

[2017-11-11 18:53] a85 commented on #3041
Postman supports git based workflows through export/import of JSON or through the API. For Pro users, you can directly export to Github repos. Collection files distributed across multiple sources quickly get out of sync or have to be manually updated.

[2017-11-11 18:53] #3041 closed, assigned to a85

[2017-11-11 18:56] a85 commented on #3256
Inter-team collaboration will be possible through #3205 but they are far away in the roadmap right now. You'll have to export/import manually.

[2017-11-11 18:57] a85 commented on #3250
Closing here. Will be tracking features like these through #3205

[2017-11-11 18:57] #3250 closed, assigned to a85

[2017-11-11 18:59] a85 commented on #3528
I don't think it does. The activity feed only shows activity for the shared collections.

[2017-11-11 19:20] frankvandebergh opened #3780 "POST is missing body and content-length"
## App Details:

[code]

## Issue Report:
 1. I'm trying to perform oauth token request to Azure AD. A post request with body as x-www-form-urlencoded containing 3 parameters.

The result is 400 because of missing grant_type parameter in the body.
Console logs show that the body is not sent and content-length header is empty.

 2. Console logs :

content-type: application/x-www-form-urlencoded
use

[2017-11-11 19:57] jm3 opened #3781 "Support HMAC auth"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: first time for me
 2. Expected behaviour: AWS accepts signed, authenticated request
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

<img

[2017-11-11 22:03] vlorenzosoleri commented on #3760
@deepakpathania I have the same bug, also on the standalone app.

App details:

[code]
To reproduce it:

1. Send a request that returns some JSON
2. Set the "Pretty" option ON on the Response Body section (I checked with Raw ON and the bug doesn't happen)
3. Try to copy part of the response body from the response text area with right-click. It won't work

[2017-11-12 02:50] azharmohammedk opened #3782 "Getting undefined on running tests using data object"
## App Details:
Postman helps you develop APIs faster
Postman for Windows
Version 5.3.2
win32 6.1.7601 / x64
[code]

[2017-11-12 07:13] deepakpathania-zz commented on #3760
Hey @vlorenzosoleri, thanks for the steps, I was able to reproduce this locally.
In the screenshot below, after choosing to copy the selected part, it doesn't work.

![screenshot from 2017-11-12 12 34 46](https://user-images.githubusercontent.com/15071438/32696733-08013aa6-c7a6-11e7-98de-9b18c909e477.png)

Also, duplicate of #3691

[2017-11-12 09:44] harryi3t commented on #3743
@nikhileshshah No, not developer console, please check postman console.
See my screenshots above.
To open it click on main menu `View` -> `Show postman console`

[2017-11-12 14:28] bramhaag opened #3783 "Cursor misaligned"
## App Details:
[code]

## Issue Report:
Cursor is misaligned when typing in the Body > Raw textbox, this happens in the normal view and Two-Pane view. See this gif for more information: https://owo.whats-th.is/1c62ff.gif

Increasing/decreasing postman's font size does not appear to affect the offset of the cursor

[2017-11-12 15:57] chenxizhang opened #3784 "I can't get the access token"
## App Details:

[code]

## Issue Report:
I am always can not get the access token for Microsoft Graph
![image](https://user-images.githubusercontent.com/1996954/32700802-2b028db6-c805-11e7-9d6e-10b9dd933b16.png)

and the error message is below
![image](https://user-images.githubusercontent.com/1996954/32700803-3090bdd4-c805-11e7-91fb-c2d3c90b8887.png)

[2017-11-12 15:59] yishayn opened #3785 "Set environment variable is updating additional wrong variable"
## App Details:

[code]

## Issue Report:
When using Right-Click feature to set/update environment variable from the response window,
It set the value on two different variables , only because the selected variable name is starting the same letters.
I have the two variables: "ks" and "ks-Admin"
I select variable name "ks" to update from the response window,
after that, I can see that this new valu

[2017-11-12 17:08] kmute90 commented on #2707
+1 for conflict on Hungarian keyboard :(

[2017-11-12 23:37] alphabetek commented on #3774
I guess you are missing a step before 6, click button "Save".

[2017-11-13 02:36] chimit opened #3786 "Visual problems"
## App Details:
[code]

## Issue Report:
Some time ago my desktop Postman got visual problems:

![2017-11-13 10 32 01](https://user-images.githubusercontent.com/839349/32707370-564db6ae-c85e-11e7-877a-c02be3c69751.png)

Apparently, it's related to hardware acceleration, but I can't disable GPU in Postman.

[2017-11-13 03:58] Kanmuri commented on #2556
Due to the notice of the Chrome Apps going away soon, I switched from the Chrome app (version 5.3.2) to the Windows native app (also version 5.3.2) last week.

I've never had this issue in the Chrome App, but I immediately ran into it in the Windows native app. I just checked the Chrome App again and I *still* don't have this issue there. It's extremely frustrating. :(

[2017-11-13 04:19] sanamvarma commented on #3122
Hi,
I am facing a similar issue:
my response schema is

const  resSchema =
{
    "$schema": "http://json-schema.org/draft-04/schema#",
"required": ["T1","T2"] ,
"properties":
{
    "topicId": { "type": "integer" },
    "topicNamesssss": { "type": "string" },
    "topicNote": { "type": "string" },
    "grade": { "type": "integer", },
   }

};

My response is :
{
           "topicId": "1",
        "

[2017-11-13 04:44] sanamvarma commented on #3173
Hi,
I am facing a similar issue:
my response schema is

const resSchema =
{
"$schema": "http://json-schema.org/draft-04/schema#",
"required": ["T1","T2"] ,
"properties":
{
"topicId": { "type": "integer" },
"topicNamesssss": { "type": "string" },
"topicNote": { "type": "string" },
"grade": { "type": "integer", },
}

};

My response is :
{
"topicId": "1",
"topicName": "2",
"topicNote": "Area: Concep

[2017-11-13 05:09] ranujn commented on #3754
Thanks for the update. Can you please let me know which IDE I can use?

[2017-11-13 05:37] vdespa opened #3787 "UI problems in Postman 5.3.2 for macOS"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
only recently
 2. Expected behaviour:
View entire menu and status bar.
3. Screenshot:

<img width="350" alt="screen shot 2017-11-13 at 06 39 05" src="https://user-images.githubusercontent.com/1197635/32711101-8380698a-c83d-11e7-8d0c-b35b633b801c.png">

Steps to reproduce the problem

O

[2017-11-13 05:46] #3787 closed, assigned to nobody

[2017-11-13 07:23] viraxslot commented on #3774
@alphabetek there is no "save" button at all.

[2017-11-13 07:34] yishayn commented on #3785
i apologize for the inconvenience.
After checking, it seems that this API , taken from Team collection included test scripts that applied it.
Closing this as there is no bug

[2017-11-13 07:34] #3785 closed, assigned to nobody

[2017-11-13 08:21] cherepets opened #3788 "Desktop icon is created without user permission"
## App Details:
[code]

## Issue Report:
After the installation Postman creates desktop icon without any question/permission.
Even if you manually delete it, it will reappear after the next update.

[2017-11-13 09:18] sumit16986 commented on #1066
Please provide multiple select option  for moving and deleting requests as it will take so much time to select one by one request and move into a different folder.

[2017-11-13 09:29] alphabetek commented on #3774
Normally there is a button "Save":
![image](https://user-images.githubusercontent.com/5899023/32718450-757b7184-c85d-11e7-8d19-4f47c1ddd485.png)

[2017-11-13 09:29] dantenchghx commented on #3773
@deepakpathania I don't think it's a duplicate, we're not worried about accidental publication - as it's quite obvious I think if it is published or not.

@a85 I understand that, unfortunately not everyone who works in my company uses postman. The company has a lot of employees, all working on different systems, however many of these different systems use our API - as such we are required to keep

[2017-11-13 09:49] viraxslot commented on #3774
@alphabetek omg, sorry and thanks. Strange UI logic for me.

[2017-11-13 09:59] #3774 closed, assigned to nobody

[2017-11-13 11:07] misog commented on #2012
If it is optional and/or configurable then it will surprise users only in a positive way. Content-Type and response code could determine the preferred TAB - it should be straightforward to implement and to configure by users in settings.

Moreover, in recent months many developers got angry at Firefox for [removal of HTML preview](https://www.reddit.com/r/firefox/comments/6h7n50/why_was_http_respo

[2017-11-13 11:29] richp10 commented on #1947
+1 and I am not sure this is being properly understood.  The issue is that if you have big api and for example change from basic-auth to jwt, you need to go through every endpoint adding the Auth bearer header - using {{token}} tags helps, but it is still painful.

[2017-11-13 12:33] gerciljunio commented on #3379
Same problem here!

[2017-11-13 12:50] sdnts commented on #3783
Hey @bramhaag, did you, by any chance, change the typeface that is used in these editors? We use a monospace typeface by default, and the offset is based on that.

[2017-11-13 12:53] sdnts commented on #3786
Hi @chimit, which version of macOS are you on? We've seen this resolve with a restart of the app, but we will investigate this.

[2017-11-13 12:55] sdnts commented on #3788
@cherepets Thanks for reporting this. We have been looking to have a more customizable installer in the future, will take this into consideration. You can follow #3019 for updates :)

[2017-11-13 12:55] #3788 closed, assigned to nobody

[2017-11-13 14:01] we2seek commented on #2242
Hi everyone! I just switched to native app v5.3.2 and noticed it doesn't respects to system proxy configuration. Unfortunately, I can't setup proxy manually (and do not wont) because of my proxy use authentication. Please, provide me, where I fail? )

[2017-11-13 14:41] arunsingh0708 opened #3789 "Support client certificate authentication for Smart Card"
I am using Postman Native app.How can I use desktop Postman when client certificate is on smart card? I can not point to a crt or pfx file, since private key will never leave smart card. What are the options for this?

[2017-11-13 14:55] nikhileshshah commented on #3743
hello @harryi3t,

Thank you, please find attached screenshot. I did not see any authenticate tag under request/response. I passed NTML request with username and password.

![postman client console log](https://user-images.githubusercontent.com/6782463/32731860-eca8bb42-c8b0-11e7-9fe7-53ceaf1ff7ac.png)

[2017-11-13 15:44] harryi3t commented on #3743
@nikhileshshah Thanks for the input.
I noticed that the required header `www-authenticate` was not sent by the server.
Using this header server tells the user what authentication is expected. See my screenshot above for reference.

Also, here's the official reference for NTLM
https://msdn.microsoft.com/en-us/library/cc237540.aspx
In this they mention

[2017-11-13 16:06] poisa commented on #3528
I'm going to close this issue because with the latest version this is not happening anymore.

[2017-11-13 16:06] #3528 closed, assigned to a85

[2017-11-13 16:47] bramhaag commented on #3783
I haven't changed fonts for postman specifically. [These](https://owo.whats-th.is/daf699.png) are the fonts selected in the gnome tweak tool.

[2017-11-13 20:08] joe94 opened #3790 "Postman is not responsive with large requests"
## App Details:

[code]

## Issue Report:
 1. I recently found this issue.
 2. I expect the app to stay responsive no matter how many requests I have sent through it and no matter what kind the requests were.

## Steps to reproduce the problem

1. Simply generate a couple of requests with URLs of length > 60k characters
2. Now try to use the app as you normally would.
3. You will notice that almos

[2017-11-13 21:17] JordanTribley commented on #3202
I would like to report the same in version 5.3.2 of the Linux native application (Ubuntu). BUT it only happens when clicking the "X" on the application title bar to close the program. Using "File->Quit", "Ctrl+Q", or even when the application closes unexpectedly, the tab state is preserved when the application is re-opened.

[2017-11-13 21:58] ranujn opened #3791 "Need to export Request Body in JSON Report through Collection Runner"
I want to export Request and Response Body in the JSON Report through Collection Runner.
To export Response Body I written below statement
                 tests["Response:"] = responseBody;
But I am not able to export Request in same way. Can you someone please let me know how I can export Request Body in the Report.

Thanks in Advance.

[2017-11-13 23:05] mliq commented on #1667
Since you now are hoping for us to move away from the Chrome app, you should really provide better documentation on how to migrate our workflows to the native app. Interceptor plugin was very easy, proxy not as much (I have spent 10 minutes and have not got it working, fortunately I can just stick with Chrome Postman for now).

Currently your docs show a use case of capturing iphone requests, and

[2017-11-13 23:06] ugenlik opened #3792 "Can't order Test in Folders, Adding a test to a folder puts the file in Random Folder"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: always there
 2. Expected behaviour:Should able to re-order tests suits and folders
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
![screen shot 2017-11-13 at 6 04 42 p

[2017-11-13 23:10] mliq opened #3793 "Add better documentation on how to migrate Interceptor workflows to Native Postman"
Since you now are hoping for us to move away from the Chrome app, you should really provide better documentation on how to migrate our workflows to the Native app. Interceptor plugin was very easy, proxy not as much (I have spent 10 minutes and have not got it working, fortunately I can just stick with Chrome Postman for now).

Currently your docs show a use case of capturing iphone requests, whic

[2017-11-14 01:00] WinBlue commented on #2833
Problem exists with v5.3.2 on Windows 10.

[2017-11-14 01:32] ratsdiov commented on #2030
+1

[2017-11-14 03:45] chimit commented on #3786
macOS Sierra 10.13.1

[2017-11-14 04:21] takuy commented on #3039
agree, this makes Postman unusable on Windows.

[2017-11-14 07:55] ghost opened #3794 "Hope to add Chinese version"
Hope to add Chinese version.
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-11-14 08:00] harrisrobin commented on #2724
+1

[2017-11-14 08:38] mits87 opened #3795 "Feature Request: Hiding resource"
## App Details:
[code]

## Feature:
Hi, a few days ago I bought `Postman Pro`.
This is really great product but...

I created many resources in POSTMAN and I would like use API documentation feature but I can't, because all of my resources will be displayed on api doc page and I can't show all of my resources.
What do you think to create "hide from doc" feature for resource and all directories?

N

[2017-11-14 09:01] yakup38 commented on #2030
+1

[2017-11-14 09:26] AlexHedley opened #3796 "Feature Request: TFS - Sync your Postman Collections"
Is there a Roadmap feature to create more Sync options for Postman Collections?

I'd like to sync to TFS (VSTS)

Backup and Sync your Postman Collections on GitHub
http://blog.getpostman.com/2017/03/10/backup-and-sync-your-postman-collections-on-github/

Integrate API tests with Postman, Newman, and Travis CI
http://blog.getpostman.com/2017/08/23/integrate-api-tests-with-postman-newman-and-travis-

[2017-11-14 09:37] sdnts commented on #3762
@ChrisAllisonMalta Thanks for reporting this. Do you use Sync? If yes, can you make sure all your collections are intact (and synced) and try re-installing the app to see if the logo reappears?
I want to verify if this was caused during an update or not.

Please don't try re-installing if you do not use Sync, as this will lead to all your collections and environments to be removed. You'll need to

[2017-11-14 09:37] nikhileshshah commented on #3743
@harryi3t : Thank You.
So, Developer has to handle this right?

[2017-11-14 09:39] harryi3t commented on #3743
@nikhileshshah yes, the developer who wrote the logic for the auth server should take care of this.

[2017-11-14 09:39] #3743 closed, assigned to harryi3t

[2017-11-14 09:58] nikhileshshah commented on #3743
Thank You @harryi3t ,

[2017-11-14 10:01] ShruthiMukunda commented on #812
I need this feature for executing the tests from CI tools. Can you please prioritize this feature implementation?

[2017-11-14 10:24] note commented on #1263
Shouldn't it be reopened?

[2017-11-14 10:38] adekola commented on #1583
I'm also having the same issue as @kanishka84 ....can @abhijitkane be of help please?

[2017-11-14 10:50] Millais commented on #2030
The type of scenario where this would be beneficial is with HATEOAS links that require manual user interaction: e.g authentication in the browser.

Really like @jimonthebarn's idea to use a simple modifier combination like _cmd + click_ to access this feature.

![screen shot 2017-11-14 at 10 44 42 am](https://user-images.githubusercontent.com/7149113/32775964-e93ea944-c928-11e7-9070-07078efae8e7.p

[2017-11-14 10:54] daniel-lahoz commented on #3579
Postman for Mac
Versión 5.3.2
OS X / x86-64

I don't Know what happend here, in previous versions the code works and also was more elegant solution.

[2017-11-14 11:15] covolution commented on #3124
Any ideas on how to find the problem?  It is crashing far to often to be usable.  I really like Postman but think I will have to change to something else unless I can get it to stop crashing when I need it.

[2017-11-14 11:21] WilliamSkyWalker commented on #3127
Check your system host config. That's how I fixed this.

[2017-11-14 11:34] anupam587 opened #3797 "run concurrent request in postman runner 2.0"
how to send concurrent requests using runner 2.0 in postman . I came across some github conversatoin which states that runner 2.0 with canary has functionality to send multiple concurrent request using runner.

[2017-11-14 11:35] bhawna2109 commented on #1263
This is available in the native apps now! Clicking on the three dots next to the new tab icon (+ icon) brings up a dropdown with options to close and force close all tabs.

![image](https://user-images.githubusercontent.com/14976346/32777840-cb12f95e-c95d-11e7-8734-e2d5bae525e9.png)

[2017-11-14 11:38] stormeyes commented on #3739
+1, the same problem, hope it can be fixed or we can redefine shortcut

[2017-11-14 11:39] numaanashraf commented on #3124
Hi @covolution, could you share more information with us? Like average size of the JSON responses, number of open tabs, environments and scripts in the requests. Also, have you noticed any particular action that triggers the crash, like sending a request, updating environments etc?

[2017-11-14 11:46] bhawna2109 commented on #2195
@eightyeighteyes sorry we missed this. I just tried it on my windows machine and it works for me. Could you recheck once and let us know if you're still facing this issue?

[2017-11-14 13:01] covolution commented on #3124
Unfortunately, I haven't found a pattern. That's why I was asking if there's a log file.  I have a basic collection that calls the ElasticSearch Api.  When I click "Send", the UI says "loading" and it crashes completely.

[2017-11-14 13:07] deepakpathania-zz commented on #3760
@madebysid Mind looking into this? Thanks.

[2017-11-14 13:47] nkaraolis opened #3798 "Allow linux support for the embed button"
## App Details:

[code]
## Feature request:
Hello I have just used the share and embed button feature to allow postman tests to be run on a github readme file. It picks up the markdown correctly and is able to find the collection as expected.

However, it doesn't pick up the linux version I have installed. Would it be possible to extend the embed button to allow linux support?

[2017-11-14 14:29] suvaraj opened #3799 "Windows native app fails to install"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always there for last 2 weeks
 2. Expected behaviour: While starting the installation it fails with error message installation has failed.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools

[2017-11-14 14:30] suvaraj commented on #3799
![2017-11-14_0926](https://user-images.githubusercontent.com/17775557/32785030-722a43fe-c91e-11e7-87ff-762df7871c42.png)

[2017-11-14 14:56] sdnts commented on #3761
@grinderX19 Thanks for the feature request! We will definitely look into this.

[2017-11-14 14:59] note commented on #1263
@bhawna2109 you're right, sorry for confusion

[2017-11-14 15:00] sdnts commented on #3748
@jdfurlan The cookie store in the app is independent of your browser's cookie store. If you want to use your browser's cookies, you'll have to add them here.
Alternatively, if you use an endpoint to set cookies, you can just hit that endpoint from the app and the cookies will be created automatically.

[2017-11-14 15:01] bhawna2109 commented on #1263
No problem, @note! Let us know if there's anything else we can help with.

[2017-11-14 15:01] sdnts commented on #3749
Hi @baszczewski Thanks for the request! We will look into this and let you know here when we make progress :)

[2017-11-14 15:03] Faz540 opened #3800 "[Feature Request] - Allow Users to move the Response Body window to a different screen/monitor"
I know there's a "two pane" selector in the app settings so we can see the Body and Response Body either side, however, **I'd like the ability to detach the Response Body and move that to a different screen/monitor.**

This way, the request body gets a full screen to itself and so does the Response Body 😄
This means I won't have to deal with the response body window getting in the way whilst writi

[2017-11-14 15:04] sdnts commented on #3757
@notarmara Can you also try enabling the System proxy (if you use one) to check if that helps? A little more information about the server itself would help us debug this.

[2017-11-14 15:08] sdnts commented on #3763
Hi @correajd, What were you doing when you encountered this? Did you see a Sync issue modal that made you aware of this error?

[2017-11-14 15:12] vijaykiran225 commented on #1104
+1 this would be a huge win as so many apis are looking to accept multipart and we could hit it and test it in postman itself.

[2017-11-14 15:15] sdnts commented on #3764
@mwyld More specifically, importing folders the way you're looking for (collections and environments all in one go) isn't supported right now. I'm adding this as a feature request, though :)

[2017-11-14 15:17] sdnts commented on #3765
@rober710 Thanks for reporting this. I was able to reproduce this. We will look into this!

[2017-11-14 15:19] sdnts commented on #3766
@cascer1 Thanks for the feature request! I can definitely understand the use case behind this.
We will look into this :)

[2017-11-14 15:19] sdnts commented on #3767
@krishreddy82 Can you provide a little more info about this? Steps to reproduce would definitely help us debug this.

[2017-11-14 15:21] sdnts commented on #3768
@leonardschneider Thanks for the request! We will try to look into supporting more ES6 JS features. I'll let you know here when we make progress.

[2017-11-14 15:22] sdnts commented on #3769
@gm90043 Thanks for reporting this, we will look into this. We're always looking to improve performance, so this would be one place we will focus on.

[2017-11-14 15:22] Faz540 opened #3801 "Enable autocompletion for Postman Sandbox API"
Hi,
I'm liking the new "pm" syntax and I'm sure it's still a work in progress at the minute, but here's a little suggestion to make writing tests quicker.
Just a suggestion, can we change "environment" to "env" to make tests cleaner.
Instead of calling
[code]
We could call:
[code]

[2017-11-14 15:23] ZuechB opened #3802 "Runner is now crashing every time I run it"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.16299 / x64

When I run runner it gets about half way down and then just crashes, I can select a batch at a time and run each batch fine, but that defeats the purposes of being able to test all my apis in one shot.  Let me know if I can help in anyway

## Issue Report:
 1. Did you encounter this recently, or has this bug always been ther

[2017-11-14 15:23] sdnts commented on #3771
@abhisek193 Can you provide a little more info about this? Steps to reproduce will help us get to the bottom of this faster.

[2017-11-14 15:25] sdnts commented on #3801
@Faz540 Thanks for the feature request! In the mean time, you can also use pm.variables (which will look for the variable in the environment as well as global) if that looks neater.
@shamasis Thoughts?

[2017-11-14 15:27] sdnts commented on #3775
@reinouts Thanks for reporting this. Just to be sure, can you make sure your pre-request / test scripts are not throwing this error?
@kamalaknn Could this be  related to postman-runtime?

[2017-11-14 15:28] mwyld commented on #3764
awesome, thanks @madebysid. I also noticed that importing the same collection asks to replace but importing the same environment doesn't ask me it just makes an copy I need to delete each time

[2017-11-14 15:29] sdnts commented on #3776
Hi @btwynham Is the app in a `Syncing` state when it hangs? 3000 requests is not a lot of requests, so this sounds like a performance problem.

[2017-11-14 15:55] notarmara commented on #3757
@madebysid I have already done this in one of my past attempts.

I have tried both this solution:

![image](https://user-images.githubusercontent.com/12168345/32789299-c3e23228-c95b-11e7-9628-fb7ad6be4fe9.png)
and this:

![image](https://user-images.githubusercontent.com/12168345/32789347-e35a354c-c95b-11e7-980a-fa83610b2d08.png)

but nothing.

if it can help, this is the output of the console:

t

[2017-11-14 15:57] chrisron95 opened #3803 "Test errors should show more information"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
It's been there as long as I've been using the app.
 2. Expected behaviour:
When there's an error with the tests, it should show more information. For example, as shown in the screenshot below, if a test is looking for something in the JSON response and can't find it, the error should

[2017-11-14 16:01] chrisron95 commented on #3004
Issue has been resolved

[2017-11-14 16:01] #3004 closed, assigned to nobody

[2017-11-14 16:17] reinouts commented on #3775
@madebysid Given that the same tests run fine on the same machine in the Chrome app (as opposed to the standalone one), what information would it add if the error was thrown by a pre-request script?

[2017-11-14 16:58] RomanNess commented on #3775
I am experiencing the same issue after installing updates via package manager on Linux Mint 18 (for the second time now). None of the requests in my standalone Postman 5.3.2 works any longer. The same stacktrace as in the initial report is visible in the terminal.

I can confirm that the error is not thrown by any pre-request script. However, for me the issue only occurs if an authorization type i

[2017-11-14 17:50] btwynham commented on #3776
No I don't believe the App is in syncing state, but I am happy to check.

I installed the postman canary which i think is more streamlined and I can move requests just fine with that.

I have a pretty beffy mac, 16 GM of Ram and 2.5Ghz Intel Core i7 processor so I don't think it is a performance issue on my end. This is usually the only app running in addition to google chrome.

Could their be a c

[2017-11-14 17:55] zac11 opened #3804 "Mismatch between api data returned in browser vs Postman Desktop App"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Encountered this issue today itself.
 2. Expected behaviour:
When hitting an API endpoint that has special characters like % in the url, the output returned should be same between Chrome browser and Postman.

Chrome browser returns a JSON when the endpoint is hit, while Postman returne

[2017-11-14 18:14] kamalaknn commented on #3775
This is coming out of `postman-runtime` when it couldn't handle the errors properly. This has been fixed in `postman-runtime`. The next release of Postman should include this fix.

That should give you enough details as to what crashed while sending the request for you to debug.

[2017-11-14 19:07] utezduyar commented on #3590
I tried it, things are much better. Thanks.

[2017-11-14 19:43] chrisron95 opened #3805 "Feature Request: specific indicator for unsaved changes"
## App Details:

[code]

## Feature Details:
A great feature would be some kind of detailed indicator showing where unsaved changes are. I have many times made a single change, forgot to save, then when I look back and see that a tab has unsaved changes, I have to comb through it to figure out what changed if I don't remember. I think a feature similar to what Atom and Sublime Text do when there's

[2017-11-14 22:06] consolibyte commented on #1669
+1

[2017-11-14 23:18] ryanhinton opened #3806 "Receiving intermittent Error running scripts: JSONERROR | Unexpected token '<' at ..."
Hello,

I am receiving intermittent errors randomly on the Runner and my Newman execution.  Sometimes it runs perfectly and more often I receive the error mentioned in the subject line.  When I run the test individually, most of the time it works fine, but on a blue moon it will give the error, but if I try again it then works without changing anything.  I know the scripts work, so I cannot unders

[2017-11-15 01:57] APEBRiN opened #3807 "Feature request: improve JSON parameters editor"
## App Details:
[code]

## Description:
Most JSON APIs only accept "raw" input with "application/json" header

![screen shot 2017-11-15 at 11 30 16 am](https://user-images.githubusercontent.com/33675751/32814515-54a97376-c9fb-11e7-8fa9-1e8efe53225d.png)

Having to type in the JSON formatting manually is a bit annoying (`{"key":"value"}`).

Since JSON APIs are so common, it would be great to have a

[2017-11-15 02:35] krishreddy82 commented on #3767
we got the required info. Headers can accept only ISO-8829-1 not UTF. its required the RFC2047 implementation.

Thanks for reply.

[2017-11-15 02:35] #3767 closed, assigned to sdnts

[2017-11-15 04:35] bhawna2109 commented on #3805
Hi @chrisron95 thanks for the feature request! This is something we've been looking at doing, especially as the number of fields within a tab increase  - will keep you posted on this.

[2017-11-15 04:47] bhawna2109 commented on #3807
Thanks for the request @APEBRiN - this is currently in the works :) There's no ETA yet, but we'll update this thread when we have a prototype to test out.

[2017-11-15 05:05] mnimer opened #3808 "double evaluations (in desktop client only)"
## App Details:
[code]
compared with
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This has been around for awhile. It breaks in the desktop client and works in the old chrome app

 2. Expected behavior:
Variables should only be evaluated once per request

If I try to use {{$guid}} more then once it is re-evaluated every time, but only in the desk

[2017-11-15 05:36] sdnts commented on #3780
@frankvandebergh Are you using the in-built authorization methods to make this request or are you generating this body on your own?

[2017-11-15 05:42] SamvelRaja commented on #3800
Since #3513 covers the same feature, closing this in favor of it.

[2017-11-15 05:42] #3800 closed, assigned to nobody

[2017-11-15 05:45] sdnts commented on #3778
@armpogart Thanks for reporting this, we will investigate this. @kamalaknn This looks related to runtime. Related: #3734, #3765

[2017-11-15 09:40] amitavmishra opened #3809 "Verification of Module, sub module response body(Partially and completely)"
## App Details:

[code]

## Issue Report:
The Response which I am getting is
{
    "recordCount": 5,
    "items": [
        {
            "id": 1,
            "name": "30 "
        },
        {
            "id": 2,
            "name": "17 "
        },
        {
            "id": 3,
            "name": "66"
        },
        {
            "id": 4,
            "name": "14 "
        },
        {

[2017-11-15 09:57] SamvelRaja commented on #3760
Tracking in #3691

[2017-11-15 09:57] #3760 closed, assigned to nobody

[2017-11-15 09:59] SamvelRaja commented on #3781
@jm3  Thanks for taking this to our notice, we will get back to you on the status soon.

[2017-11-15 10:08] SamvelRaja commented on #3782
@azharmohammedk  I tried the same scenario from my end, it is working as expected.
can you provide us a screencast of the exact problem you are facing, would be easy for us to debug.
Also, attaching the way I tried out from my end.

![testing data](https://user-images.githubusercontent.com/5114052/32830379-f85165be-ca1a-11e7-8e79-37038c913e3c.gif)

[2017-11-15 10:13] harryi3t commented on #3784
@chenxizhang Since the error message is `The request body must contain .....`
I would suggest you to once try changing the `Client Authentication`dropdown value to `Send client credentials in body`

![image](https://user-images.githubusercontent.com/5207331/32830582-a8bcda96-ca1b-11e7-8450-eb19e73bdb4f.png)

[2017-11-15 10:14] SamvelRaja commented on #3789
Thanks for bringing your concern here, we shall analyze the possibilities and provide a solution for this. At present, providing the key file is the only option we have.

[2017-11-15 10:17] SamvelRaja commented on #3790
we are already tracking this issue here #793. Closing this as duplicate

[2017-11-15 10:17] #3790 closed, assigned to nobody

[2017-11-15 10:20] kunagpal commented on #3791
@ranujn You can do this as explained below:
[code]

[2017-11-15 10:20] SamvelRaja commented on #3792
Tracking in #3614

[2017-11-15 10:20] #3792 closed, assigned to nobody

[2017-11-15 10:27] SamvelRaja commented on #3793
@mliq I can understand your concerns and I will put forward your points to the team when we have this on our roadmap. And keep you posted on the status as well.

[2017-11-15 10:29] SamvelRaja commented on #3794
Tracking in #3755

[2017-11-15 10:29] #3794 closed, assigned to nobody

[2017-11-15 10:32] SamvelRaja commented on #3795
Thanks for bringing to our notice.
At present, I would recommend you to create a separate collection out the one you need to publish the documentation. In the meantime, we shall think of the solution for the above use case/ scenario

[2017-11-15 10:36] SamvelRaja commented on #3796
Thanks for bringing this our notice, we shall update the status of our roadmap when we plan this into it 😄

[2017-11-15 10:38] SamvelRaja commented on #3797
Tracking in #493

[2017-11-15 10:38] #3797 closed, assigned to nobody

[2017-11-15 10:45] harryi3t commented on #3781
@jm3 After having a quick look at the docs, I think `Amazon Product Advertising API` does not even use `aws4` auth. It uses`HMAC-SHA256`

Though aws4 internally uses the same `HMAC-SHA256`, the headers or params requirements are quite different than that compared to simple `HMAC-SHA256`

Also, check this official [aws4 doc](http://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html)  for more

[2017-11-15 10:46] SamvelRaja commented on #3798
@nkaraolis Yeah, the support needs to be provided from the electron framework we use for our native apps, where they are currently developing the feature, I shall update the same thread when we adopt the version in our app.

[2017-11-15 10:48] SamvelRaja commented on #3799
@suvaraj  Can you forward the logs here  or to help[at]getpostman[dot]com

[2017-11-15 10:50] SamvelRaja commented on #3802
@ZuechB are you seeing any kind of error on the console before the crash?
View -> ShowDevTools for opening the dev console.

[2017-11-15 10:53] SamvelRaja commented on #3803
Thanks for raising your hand on a feature, yes indeed this in our list of things to be done, we shall update the thread when we take it.

[2017-11-15 10:54] ratpik commented on #3796
@AlexHedley - Thanks for the bringing this up. Currently we have integrations with Github and Gitlab. We have Bitbucket Cloud on our roadmap. We do not have TFS (VSTS) on our roadmap yet.

However we do support an integration with [Microsoft Flow](https://flow.microsoft.com/en-us/connectors/) which has a connector to [VSTS](https://flow.microsoft.com/en-us/connectors/shared_visualstudioteamservice

[2017-11-15 11:01] SamvelRaja commented on #3804
@zac11
Postman sses the content-type header sent by the server to display the response in JSON / XML / HTML / Text format.

You can very well open our postman console (view - Show postman console) to check the network call we made to the server.

Also, regarding %, can you provide me bit more insight on what was the expected and the actual behavior?

[2017-11-15 11:17] SamvelRaja commented on #3806
The error shows like, you are doing JSON.parse(response) on an HTML response.

[2017-11-15 11:17] #3806 closed, assigned to sdnts

[2017-11-15 11:34] SamvelRaja commented on #3809
I can see that items is an array, so the below code will work for you.

[code]

[2017-11-15 11:34] #3809 closed, assigned to SamvelRaja

[2017-11-15 11:45] anna-seredinskaya commented on #1429
+1

[2017-11-15 11:55] mits87 commented on #3795
Thank you for your response.
Now I can't create a separate collection because is too big.
I'd appreciate it if you add the feature.

[2017-11-15 12:00] kamalaknn commented on #3808
@mnimer Postman now generates a new UUID for each usage of `$guid`. It's been this way since the introduction of our native apps, changing it now might break things.

You can still achieve the same effect with `{{myUuid}}` in body, and the following in your pre-request script
[code]

Hope this helps, closing this issue for now. Feel free to continue the discussion here.

[2017-11-15 12:00] #3808 closed, assigned to kamalaknn

[2017-11-15 12:21] Michalfsn commented on #3795
This functionality is crucial for my company and is keeping us from moving our documentation to postman service.

It's no option for us to create two different "folders" that will keep public/private requests.

It would be good thing to be able to set scope in request/folder context to be able to show only "public" scoped ones in the public documentation, but keep "private" in documentation dedica

[2017-11-15 12:51] amitavmishra commented on #3809
Thanks! that worked.

[2017-11-15 13:04] duyatran commented on #6682
+1

[2017-11-15 13:17] pburgr commented on #3007
using right click will copy not just access_token_value, but additionaly with text "token_type"; same as manual copying
Use Token button works fine, but as Saibobba mentioned, it must be done every time
Does somebody have a test script to set obtained token(s) as Env. variable(s) automaticaly?

thx
pbu

[2017-11-15 13:37] dinolupo opened #3810 "Feature Request: Act as system proxy on startup"
The "act as system proxy on startup" option will be a nice addition.
If selected, the app should automatically attach to WinINET/IE (like Fiddler). Previously this was achieved with the Chrome Interceptor Plugin, now with client app does not work anymore.

Thanks.

[2017-11-15 13:41] AlexHedley commented on #3796
Thanks for the links @ratpik, I'll look into the MS Flow for now. I'm hoping to automate it instead of a manual process but at least that's an option.

[2017-11-15 14:06] suvaraj commented on #3799
The log file is empty.I tried mulitple times and all the times the logs are empty

[2017-11-15 15:31] maissom-abbasi-confiz opened #3812 "Setting API method type (POST, GET) dynamically inside pre-request"
## App Details:

[code]

I wanted to know if there is a way to dynamically set API method type (such as POST, GET etc.) within pre-request script. I have a project where I have developed a generic postman framework that can test any API call with given parameters and expected response (xml/json etc.). This works well for POST call (which is currently the scope).

Is there a way where I can set the

[2017-11-15 15:39] mnimer commented on #3808
requiring and using uuid.v4() is a simple enough. Thanks!

[2017-11-15 15:56] Vita-Ketsman opened #3813 "pm.sendRequest, mode: 'formdata'. Could someone help with an example for the formdata body ?"
## App Details:
Version 5.3.2
OS X 16.7.0 / x64

Hi guys, I am trying to write an API test, where I need to authenticate the  request with sending POST call with form-data values.

The call itself looks like:

And I need to execute it in pre-request Scripts, means something like

How do I pass the formdata values ?

Thanks in advance,
Vita

[2017-11-15 16:03] ryanhinton commented on #3806
Thank you for your response.  You just guided me into realizing that the problem is indeed a code problem and it is related to an update of a framework I am using.  Have a good day!

[2017-11-15 16:21] boylec commented on #1264
when one exports the results of the runner the response bodies are not exported - was this intentional?

[2017-11-15 16:34] andmill commented on #3485
Agreed!! The only way I'm working it now is to Export them and save the collection files, then delete from Postman. Not a neat solution though but sufficient for keeping the workspace clean.

[2017-11-15 16:50] zac11 commented on #3804
@SamvelRaja Thanks for looking into it.

I will surely take a look at the console tomorrow in office.

Regarding the output , I would expect both chrome and POSTMAN to return json formatted output.
The % is in the URL  params itself.

[2017-11-15 18:04] jdfurlan commented on #3748
Ya so that's what I've been doing as a working solution - but this means that every time I authenticate with our app, I need to go into Chrome cookies, literally copy the cookie name and cookie data out, and paste it into a new cookie in the Postman cookie store. I understand this is a limitation of the native app, but it makes it essentially useless for testing any web app that requires an authen

[2017-11-15 18:04] #3748 closed, assigned to kamalaknn

[2017-11-15 18:22] jm3 commented on #3781
Sounds right 👍

[2017-11-15 18:23] harryi3t commented on #3781
Cool, marking this as a feature request

[2017-11-15 19:55] magdazacharska opened #3814 "Error Parsing Json response"
Postman for Windows
Version 5.3.2
win32 6.1.7601 / x64

I'm getting Parse Error when response is in JSON format.    Here is the output of the  Postman Console:

![image](https://user-images.githubusercontent.com/25852404/32856933-3d378746-ca14-11e7-80f1-aba2ae723fef.png)

 Postman for Chrome behaves as expected and returns:
![image](https://user-images.githubusercontent.com/25852404/32857090-c6089

[2017-11-15 21:23] invertium opened #3815 "Editing Request JSON causes JSONDecodeError on Backend"
I recorded a webhook request from stripe with postman, resending the request works fine, but when I change a value in the JSON in the Body->Raw Tab, my backend throws a JSONDecodeError. Copy and Pasting the code to python requests (via the "code" dialog) works fine though.

[2017-11-15 21:27] aichholzer commented on #3117
While you can add descriptions to `form-data` parameters, there is no way to do the same for `JSON` request bodies. Also, the markdown editor seems like a hack around this. Parameter or body descriptions should be consistent and handled by Postman in a similar way.

Any further progress with this?

[2017-11-15 22:02] jsonxr commented on #450
If you turn off "Automatically follow redirects" in the preferences, you will avoid all manner of this confusion inducing behavior.

[2017-11-15 22:11] ranujn commented on #3791
@kunagpal Thanks for your reply.

I am very new to JSON. I dont know what pm var represent to. Can you please let me know how I can define pm var.

[2017-11-15 22:20] pratiks commented on #3801
I would propose auto-complete over abbreviating the word.  While I also wish it was env over environment, there is cost associated with updating my scripts to reflect pm.env.

Auto-completion on the other hand would provide writing tests faster overall, not only for the environment module.

[2017-11-15 22:44] pratiks commented on #2050
Absolutely a must-have.  +5.

[2017-11-16 00:15] krish7718 commented on #1264
I can see the responses but no option to automatically save the responses to a file.
"Export results" is providing summary and not the responses.

[2017-11-16 00:47] any626 commented on #3007
If you want to set the token to your env variables then you'll have to hit the api directly. Don't use the Authorization tab.
Under the Tests tab use
[code]
Under your other end points you'll need to add the header
`Authorization: {{token}}`
Adjust as needed.

[2017-11-16 05:09] kunagpal commented on #3791
@ranujn You don't have to define the `pm` variable, it is inbuilt within the Sandbox, like `tests`.

[2017-11-16 05:38] ranujn commented on #3791
@kunagpal Its giving me attached error
![image](https://user-images.githubusercontent.com/33507161/32875517-7e5b59ea-caec-11e7-8c82-816475057ad9.png)

[2017-11-16 05:39] SamvelRaja commented on #3810
@dinolupo if your requirement is for getting the requests to postman (history/collection) automatically, then we have the solution already in it. https://www.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests

Kindly let us know if this solves your use case?

[2017-11-16 06:44] oliverjanik opened #3816 "[Bug] Do not encode query charcters that don't need encoding"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64

## Issue Report:
Just upgraded from Chrome extension to Desktop version. Chrome version had this working well.

Send like this:
[code]

Postman actually sends this:
[code]

Relevant RFC spec: https://tools.ietf.org/html/rfc3986#section-3.4

Funny enough I just reported a similar issue against insomnia.: https://github.com/ge

[2017-11-16 06:51] vircoder commented on #1263
@bhawna2109
After updating ubuntu not able to load this native app

![postman erro](https://user-images.githubusercontent.com/33712990/32877671-a0bee228-cac8-11e7-943a-25958071bddb.png)

[2017-11-16 06:56] zac11 commented on #3804
So, I had a look at the console for Postman and the request doesn't tell much either

![2017-11-16_1218_1](https://user-images.githubusercontent.com/8002297/32877726-ee7544d0-cac8-11e7-9ae5-f114594183be.png)

The response headers are

![2017-11-16_1221_1](https://user-images.githubusercontent.com/8002297/32877747-0396e17a-cac9-11e7-92a1-9b7552a39394.png)

You see the response has content type `tex

[2017-11-16 07:28] kunagpal commented on #3791
@ranujn It looks like you're on the Chrome app, or an older version of the Native app. Could you update to v5.3.2 and confirm if this issue persists? Thanks!

[2017-11-16 07:41] drahnieR opened #3817 "Line ending in raw request payload not consistent with headers"
## App Details:

[code]

## Issue Report:
 1. Compose a POST request with raw/Text payload
 2. Input some text with line breaks in the payload and send it.
 3. Postman interprets the line breaks as "\n" in HTTP body, while uses "\r\n" in the header lines.

I think postman should translate line breaks according to OS, or at least, keep translation the same between headers and payloads.

[2017-11-16 07:56] evgenysalnikov commented on #1906
+1

[2017-11-16 08:41] sdnts commented on #1263
@vircoder Are you on the native or Chrome app?
Can you open up the DevTools and check if you see any errors there?

[2017-11-16 10:34] glenpike opened #3818 "Native app doesn't "remember" last browsed folder like Chrome extension"
[code]

## Issue Report:
 1. Noticed when started using native app.
 2. If I browse for a file, choose that, then browse for another, the app should start in the directory that the first file chosen resides in.

* Choose "Import", then click "Choose Files" (can also do with a form-data "file" type key/value pair) - doesn't have to be valid file.
* Browse for another file via Import or form-data fi

[2017-11-16 11:19] VictorBadea commented on #2750
I also have this issue... it seems to be caused by when I manually add an Authorization token to the header.

EDIT: as in, if I remove that token... the call goes through and the server responds with a missing authorization response.

[2017-11-16 11:57] testmonger commented on #1535
scalability and maintenance--hello? it just makes sense to be able to re-use request and test items, especially when they are parameterized.

[2017-11-16 12:01] RobCrichton commented on #3692
I'm not sure whether to raise this as a different issue but even when my request is for a localhost api I'm getting the NTLM proxy authentication error.  Postman appears to be ignoring the proxy exclusion list and even if I switch off proxy settings for Postman it still appears to attempt the request via the proxy as I get the 407 response again. What else can I try please?

[2017-11-16 12:04] prashantagarwal commented on #3812
@maissom-abbasi-confiz There is no straight forward way to do this.
Either you can use newman (our CLI tool) to do the as it allows setting you method as a variable. Also you can try to leverage `pm.sendRequest()` I am not sure whether this will work for you but these are the only two things that come to my mind for achieving this.

[2017-11-16 12:04] #3812 closed, assigned to nobody

[2017-11-16 12:15] prashantagarwal commented on #3814
@magdazacharska Thanks for reporting this. So you don't see any response on the native app ?

[2017-11-16 12:17] prashantagarwal commented on #3815
@JulianSchneider Can you tell me what JSON exactly are you trying to send when you get this error.

[2017-11-16 12:21] prashantagarwal commented on #3816
@oliverjanik I am unable ton reproduce this. Can you provide some screenshot of Postman console.

[2017-11-16 12:24] prashantagarwal commented on #3817
@drahnieR Thanks for reporting this. I don't think I got you correctly. Do you have new lines in request headers as well ?

[2017-11-16 12:25] maissom-abbasi-confiz commented on #3812
@prashantagarwal

Thanks for following up. Can you please give an example using newman. I am familiar with newman and use it to run our postman scripts through command line.

[2017-11-16 12:27] prashantagarwal commented on #3818
@glenpike Thanks for reporting this issue. We will look into it.

[2017-11-16 12:28] cen1 commented on #3744
This happens whenever a JS error is thrown in the test script and should probably be fixed. Until then, writing JS tests in a way to never cause errors is the workaround.

[2017-11-16 12:29] prashantagarwal commented on #3813
@Vita-Ketsman Are you using `pm.sendRequest` in pre-request scripts ?

[2017-11-16 12:30] OneCrazyRussian commented on #793
This is still an issue on both request bodies and request results in the native app, not only high CPU usage (100% on single core) but also high HDD throughput on every request change (mostly writing into IndexedDB .log files, why even do that while I'm editing the request?), this completely kills my perfomance and does not allow to test services with large request support (up to 100mb)

Moreover

[2017-11-16 12:41] edwardgalligan opened #3819 "Allow access to collections when offline & authentication has failed"
Bug  #1634 seems to have been requesting this feature in 2015, but it was closed after resolving a (related, but distinct) bug in the app, and it seems - as far as I can tell - the feature was never pursued further.

Are there any plans to make Postman fully work offline? As it stands, in order to use Postman offline  (according to the fix in  #1634) I'd have to get online somehow, connect to Post

[2017-11-16 12:48] oliverjanik commented on #3816
Here's a screen cap from a sniffer:
![image](https://user-images.githubusercontent.com/2280140/32891942-9c7c5280-cb28-11e7-92f2-3c8b4a2af789.png)

[2017-11-16 13:02] pburgr opened #3820 "Set the OAuth2 access token as a variable automatically"
I want to automate my whole request collection.
I am not able to set access_token_value as variable when using Authorization tab (issue #3007)

So I try to avoid the Authorization tab, obtain authorization_code itself and than exchange it for access_token. There is no problem to obtain the authorization_code, but I must do it in browser. Is there any way, how to obtain authorization_code directly

[2017-11-16 13:06] sdnts commented on #3819
@lucideer The app does not require you to sign in to be able to use it. You should be able to skip sign in and start sending requests. Is this not working for you?

[2017-11-16 13:21] saithis commented on #1131
I have the same issue.

I was editing a collection (adding/modifying/renaming request) and suddenly a screen asking me to choose between local values and server values appeared. I chose the local values(they were pre-selected), clicked resync and it deleted all my edits. This happened about 4-6 times in the last 2 hours. I restarted postman several times in the hope it wouldn't happen again afterw

[2017-11-16 13:43] edwardgalligan commented on #3819
Hey @madebysid, thanks for replying so quickly, and sorry if I misunderstood how this should work. Yes, the app was not working earlier today when I was out-of-office and offline.

Earlier it was presenting the sign-in screen. There was no option to skip - the closest thing was a small grey link at the bottom saying something like "Take me to a signed in account" or some similar, quite cryptic tex

[2017-11-16 13:45] Vita-Ketsman commented on #3813
@prashantagarwal  yes, I do use the pm.sendRequest in pre-request scripts

[2017-11-16 14:01] yeegr commented on #3382
I second this issue. A simple get statement with UTF-8 characters in Chrome returns the correct document, but fails in Postman. I console.log(request.url), Chrome sends a correctly escaped string whereas Postman does not.

[2017-11-16 14:40] magdazacharska commented on #3814
The request posts the data but the postman for windows doesn't display the response.   If I send a consecutive request to the service to GET  the data for the user from POST request, it will display correctly.
![image](https://user-images.githubusercontent.com/25852404/32896803-01b7bea4-cab2-11e7-81e7-7d70a6f047d0.png)

If I don't provide the required headers for the POST request and the response

[2017-11-16 15:59] ldeveikis commented on #2931
Any news?

[2017-11-16 16:30] gtagle commented on #1180
+1

[2017-11-16 17:01] eightyeighteyes commented on #2195
Thanks @bhawna2109 ... I uninstalled and reinstalled Postman and the feature behaves as expected.

[2017-11-16 18:59] alvarollmenezes commented on #3692
Same here, except we don't use NTLM but LDAP instead.

We usually specify custom proxies like mentioned ('http://user:passwd@proxy:8080/'). Some applications also make use of http_proxy, https_proxy and no_proxy environment variables, so we don't need to write our credentials everywhere.

[2017-11-16 19:00] robolivable commented on #3386
Adding some noise to this thread as I'm still being pestered by these dialogs. Please fix soon, thanks.

[2017-11-16 19:02] alvarollmenezes commented on #3692
Me and @vizeke have already helped in https://github.com/Microsoft/Git-Credential-Manager-for-Windows with proxy issues and we are happy to help here, if needed.

We have some node.js background.

[2017-11-16 19:05] hlubovac opened #3821 "Inconsistency within Postman's Import + related feature request"
When I choose to import a swagger-json via the app's main "Import" button/dialog, all swagger-defined variables (`{variable-name-here}`) get transformed to this pattern: `:variable-name-here`.

It would be helpful if Postman-Import imported this using this pattern instead: `{{variable-name-here}}`.

It would also be helpful if a concept of variable-groups is introduced, importable into environment

[2017-11-16 19:23] hlubovac commented on #3821
Maybe even take this a little further and also provide JS templates for pre-request and test scripts. I know you cannot possibly know how to obtain a value from a response content of a request (so that it can be passed to another request as a variable, via test script, when these requests are set up to execute in chain), but if there is some nifty JS template already defined for me, with a functio

[2017-11-16 19:41] sdnts commented on #3819
This looks odd. We will look into this.

[2017-11-16 21:34] G-Rath opened #3822 "Feature request: Support generating code snippets for Axios"
Axios is a pretty cool HTTP client for the browser and node.js.

It seems rather popular, especially for React projects, and as an alternative to Request.

It would be awesome if Postman could generate code snippets for Axios (both for the browser and nodejs).

[2017-11-17 00:55] nathankopp commented on #1667
I rely on the interceptor for authentication. Compared to simply logging in via the browser and then POSTing messages, the need to manually copy/paste session cookies between Chrome and the Postman app every time I want to test the API of a real server sounds horrible!

[2017-11-17 02:16] ranujn commented on #3791
@kunagpal Thanks for quick response.

I was using Chrome app. Its working in Native app. but through this statements, Request and Response both are not exported in the report.
Its coming like this
"tests": {
				"Status code is 201 Success with valid details": true,
				"Response:": true,
				"Request:": true
	    }

I want exact body which I am passing and Response that I am getting.

[2017-11-17 02:37] ronpeled opened #3823 "How can I add 'x-www-form-urlencoded' to the header in the newest version of Postman?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-11-17 02:46] #3823 closed, assigned to nobody

[2017-11-17 06:49] vircoder commented on #1263
No, I am not using chrome extension for postman but it is native app with
ubuntu.
It was working fine some days before on ubuntu 16.04 but when I downloaded
and installed the ubuntu updates it stopped working.
It is still loading loading and loading ...
you can see the screenshot for reference.

On Thu, Nov 16, 2017 at 2:11 PM, Siddhant Sinha <notifications@github.com>
wrote:

[2017-11-17 06:54] xingchen19 commented on #1321
Without this feature, I have to give up using native postman and continue for Chrome app.

[2017-11-17 06:55] drahnieR commented on #3817
I have them, but the line feeds in headers are not consistent with line feeds in raw text body

check the dump below

[code]

from 01a0 starts the http body, all line feeds in body are '0a' only.

BTW, I know there's build-in mechanism that could be used to generate multipart requests. But what I want here is upload a tiny file without local file coupled.

[2017-11-17 07:25] farkass opened #3824 "Cookies with same name but different path"
## App Details:
Postman for Windows
Version 5.3.2
win32 6.3.9600 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This is the first version I use so it was always there
 2. Expected behaviour:
Use Cookie with same name twice for different path and domain.
 4. Screenshots (if applicable)

On my VM there apps using JSESSIONID cookies.
One has a JSESSION

[2017-11-17 08:32] Atulg23 commented on #3124
Every time i called request then crashing. I updated also but can't work. I like postman for testing. but i am finding another option

[2017-11-17 08:37] zac11 commented on #3804
any updates on this one @SamvelRaja ?

[2017-11-17 09:16] ghost commented on #3390
We're upgrading stuff to use swagger.core.v3 which gives us OpenApi v3. Support for this in Postman would be very useful!

[2017-11-17 09:17] harryi3t commented on #3692
@RobCrichton

 - I am assuming you have turned off both (global & system) the proxy settings
    ![image](https://user-images.githubusercontent.com/5207331/32939377-46e0254a-cba5-11e7-93d4-110b10b9cf4a.png)
 - Can you also make sure that the `http_proxy` or `HTTP_PROXY` environment variables are not set? If they are set, please open postman with these variables unset. If you cannot unset these var

[2017-11-17 10:01] tacovandenbroek opened #3825 "PKCE support for OAuth 2.0"
## App Details:
[code]

## Issue Report:
I'ld like to be able to use the "Proof Key for Code Exchange" extension of the OAuth 2.0 spec for Authorization Code Grant flows.

RFC: https://tools.ietf.org/html/rfc7636

[2017-11-17 10:26] HNeukermans commented on #1538
same here

[2017-11-17 10:53] dragonalvaro opened #3826 "BUG Can't copy response from "pretty" view"
When I try to copy some response from the panel (pretty tab), it doesn't copy to the clipboard. I have to switch to Raw view and copy from there. Neither CTRL+C or Right Button -> Copy works from pretty view

## App Details:

[code]

## Issue Report:
Since I moved from chrome app version, to standalone version, I'm having this issue.

http://imgur.com/yg2jK7Ll.png

## Reproduce:
Make a request, tr

[2017-11-17 12:09] ssparasuram commented on #2247
+1
I was duplicating more codes.Please help me to solve that duplication.

[2017-11-17 12:16] deepakpathania-zz commented on #3826
Duplicate #3691.

[2017-11-17 12:24] azzimuth commented on #2604
I'm having this issue as well. I try to call an API on http which should redirect to https but Postman just says `Could not get any response. There was an error connecting to XXX`. I see in Fiddler that the server returns 302 but somehow Postman cannot handle that. I'm running version 5.3.2.

[2017-11-17 12:28] kunagpal commented on #2851
Mentioning this here for completeness: https://community.getpostman.com/t/improve-postman-setnextrequest/258

[2017-11-17 12:43] mlvramesh commented on #3127
Hi This issue is resolved for me.

setting ->general -> Requesttimeout in ms = 0

[2017-11-17 13:19] SandhyaBee commented on #1906
+1

[2017-11-17 13:21] #3826 closed, assigned to nobody

[2017-11-17 14:01] yuranos commented on #1906
+1

[2017-11-17 14:04] DylanC commented on #3390
Also interested in this feature.  Ready API has supported this feature for some time already.

[2017-11-17 18:02] mliq commented on #1667
@nathankopp it does now exist on native app but it is not clear how to set it up: see and upvote issue #3793

[2017-11-17 18:47] Stevoisiak commented on #553
This page is the first result when searching "Postman Format Timestamp" and "Postman Date Format", so this issue seems to be somewhat common.

At the very least I would like to see this issue re-opened, since the issue has yet to be solved.

[2017-11-17 19:47] brianquintin commented on #3793
I currently use Interceptor to authenticate a session in chrome, allowing me to use Postman without even having to touch any cookies--the Postman chrome app automatically uses the browser session passed by Interceptor. If there is a way to enable this flow in the Native app, I'd love to see it documented.

[2017-11-17 21:18] btwynham commented on #3776
I took two samples of my Mac when it gets stuck and when it isn't stuck.

There are lot more nested electron framework when it gets stuck maybe a nested loop there?

[SampleWhenNotStuck.txt](https://github.com/postmanlabs/postman-app-support/files/1483872/SampleWhenNotStuck.txt)
[SampleWhenStuck.txt](https://github.com/postmanlabs/postman-app-support/files/1483873/SampleWhenStuck.txt)

[2017-11-17 23:05] steveblackmon commented on #3589
i would like to see a higher limit as well.  some of our endpoints returns several megs of json uncompressed.  perhaps if the response is past a certain size, the example response could be saved as a blob such that it can be only be previewed in the client (or in the published docs) with an additional click and server request by the viewer?

[2017-11-17 23:48] waltmoorhouse commented on #3589
That's great news @sobtiankit !  The one I was trying to save when I got this error is 360k characters, but it is English only, we also have some calls that include French, so I ran one of those and it is over 600k characters, so I think if the max size were 1,000,000 it would accommodate our largest current outputs.

[2017-11-17 23:53] casey-robertson commented on #1475
I'll add mine too!  +1

[2017-11-18 00:35] EricZimmerman commented on #3127
mine was set to 0 already and i am seeing it, so thats not it

[2017-11-18 08:14] dzoba commented on #2724
Would also really like this.

[2017-11-18 16:23] tazmaniax commented on #3137
+1 to add support for uploading files specified as file paths in the runner data

[2017-11-18 16:29] ishwarchandratiwari commented on #290
how can i edit req.headers['user-agent']
....i am using postman to test my api..where is want hit my api with modified  req.headers['user-agent']

[2017-11-18 16:41] ishwarchandratiwari opened #3827 "how can i edit req.headers['user-agent'] ....i am using postman to test my api..where is want hit my api with modified req.headers['user-agent']"
how can i edit req.headers['user-agent']
....i am using postman to test my api..where is want hit my api with modified req.headers['user-agent']

[2017-11-18 16:41] ishwarchandratiwari commented on #3827
how can i edit req.headers['user-agent']
....i am using postman to test my api..where is want hit my api with modified req.headers['user-agent']

[2017-11-18 18:25] raminkhakzad commented on #1210
This issue still exists in v5.3.2

[2017-11-18 18:47] cakirpro commented on #2247
+1

[2017-11-18 20:42] azharmohammedk commented on #3782
Thanks. It was a user error. I will close this.

[2017-11-18 20:42] #3782 closed, assigned to SamvelRaja, sdnts

[2017-11-18 21:09] azharmohammedk opened #3828 "Newman Report - Multiple sets of same request is shown for multiple iteration even though the pass/fail count is already included in the first request"
Newman Report - Multiple sets of same request is shown for multiple iteration even though the pass/fail count is already included in the first request

## App Details:
Postman for Windows
Version 5.3.2
win32 6.1.7601 / x64
Website
Twitter
Licences
Changelog
Documentation
Report an issue
[Newman Report Issue.docx](https://github.com/postmanlabs/postman-app-support/files/1485032/Newman.Report.Issue.

[2017-11-19 06:56] evgeny-sureev opened #3829 "Postman macOS app update not working if working under account without administration rights"
## App Details:

[code]

## Issue Report:
 1. Bug always been there. If update is available, file successfully downloaded, but after restart version stays the same, and prompt for updating shows again.
 2. Expected behaviour: if update is available, it should be installed.

Steps to reproduce:
 1. Install Postman app under user account without admin rights.
 2. Try to update app.
 3. Check version

[2017-11-19 10:00] yonisade opened #3830 "[feature] Include Response Body in Runner export results output"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64

## Issue Report:
We can see the Request output in the Collection Runner Results window under each iteration by clicking on the [collection name]->"Response Body", but it will be much more useful to see it also as part of the JSON **results export file** under key "responseCode".

Currently, we can only see this output under

[2017-11-19 14:22] AhlenSDA commented on #3661
I have error like this. Don't know why it's not working for me.
![image](https://user-images.githubusercontent.com/31600157/32991510-4dc1e972-cd3d-11e7-8977-67f9cafb3f41.png)

[2017-11-19 15:16] safadig commented on #2050
ditto

[2017-11-20 06:24] hoogenbj opened #3831 "Collections that work in Postman 5.2.1 is broken since 5.3.0 up to latest"
## App Details:
Postman for Linux
Version 5.3.2
linux 3.16.0-38-generic / x64```

## Issue Report:
1. This issue appeared with 5.3.0 and is still there
2. Expected behaviour is that after I upgrade, my collections should still work. For the one collection, the console logs are empty (screenshot 1 attached). For one of the other collections, there are some output in the console logs (screenshot 2 a

[2017-11-20 06:35] Sraw commented on #1667
Native app is useless without the ability of using chrome's app. I cannot believe this is such a thing your team highly recommends.

[2017-11-20 07:31] harryi3t commented on #3680
@d-shenoy We have already received this bug report here https://github.com/postmanlabs/postman-app-support/issues/3232

You can upvote that issue, and subscribe to it for updates :)

[2017-11-20 07:31] #3680 closed, assigned to harryi3t

[2017-11-20 08:42] harryi3t commented on #3232
@cyrilhamidechi @webbnh and all
I have confirmed this behaviour and marked it as a bug
I will update this thread as soon as we have this on our immediate roadmap.

[2017-11-20 09:10] wabiloo opened #3832 "Runner - "Error: Each row must have an equal number of columns" with valid CSV file"
## App Details:
[code]

I've been trying to run a folder with a CSV file, which is generated automatically from my energy supplier's website. That CSV file opens fine in Excel, and looks fine when opened with a text editor.

Yet, when I try to use it as my data file in Runner, I get the following error message:
"Error reading data file: Error: Each row must have an equal number of columns."

I att

[2017-11-20 09:51] crsantini commented on #2302
+1

[2017-11-20 10:11] Pederytter opened #3833 "[feature request] Expand the "Select a collection or folder to save to:""
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64

After working with Postman the past few months and added hundreds saved of request inside different folders its beginning to get quite annoying with such a small "folder view" when you save a request. Also when you scroll there is times when you jump over a folder, so you have to use the scroll bar on the side to slowly find

[2017-11-20 10:12] vojtarylko commented on #285
+1

[2017-11-20 10:45] AgentMC commented on #1647
@stephenmcd1 worked great, just couple of notes for the other guys who will use it:

1. This script must be executed from comment to comment. Read text in comments. (it is not obvious that those are meaningful until you read them)
2. I don't know for Chrome, but in Vivaldi, the file is saved straight in Downloads directory without any notifications at all.
3. To open "Chrome DevTools on the backgr

[2017-11-20 11:54] tgskiman opened #3834 "Cannot use certificates stored in OneDrive"
## App Details:

[code]

## Issue Report:
Just had the need to use client certificates and was attempting to use a cert stored in "OneDrive" under the path ```c:\[user]\OneDrive\``` and received the following error in the console: ```certificate load error: einval: invalid argument, fstat```.

If I attempt to use the same files in another location (like "My Documents") certs/client auth works as e

[2017-11-20 12:02] prashantagarwal commented on #3834
@tgskiman Looks like you might have `File on Demand` settings enabled Try disabling from OneDrive settings.

There was some underlying issue with node, which was recently fixed. Once we move to latest electron version, this should work out of the box by the time, you can try disabling `File on Demand`

[2017-11-20 12:03] prashantagarwal commented on #3834
Pull Request in https://github.com/electron/electron/pull/10377

[2017-11-20 12:05] prashantagarwal commented on #3833
Duplicate of #3620 . Closing it. will help us in better tracking this issue.

[2017-11-20 12:05] #3833 closed, assigned to nobody

[2017-11-20 12:06] prashantagarwal commented on #3832
@wabiloo Thanks for reporting this we will look into this issue.

[2017-11-20 12:07] gavenkoa opened #3835 ""Could not get any response" when new line is in header value"
I get `Could not get any response` from some time and I found the reason for that error here:

https://github.com/postmanlabs/postman-app-support/issues/3127#issuecomment-330030920

What is surprising that exported `curl` command works great but Postman fail without any hint why.

I put authentication token to variable with trailing new line from copy/paste.

**Postman should warn about dangerous

[2017-11-20 12:11] prashantagarwal commented on #3835
@gavenkoa Thanks for pointing this out. We will look into this and get it fixed in upcoming releases.

[2017-11-20 12:13] prashantagarwal commented on #3831
@hoogenbj Thanks for reporting this issue. Just couple of questions. Does your request include Authorization. Also do you get any error response

[2017-11-20 12:16] andreas-bergstrom commented on #3518
This does seem to be fixed in the current mac version. I also had this issue previously but using the latest version I can set cookies for localhost, at least if it is a domain (i.e. app.localhost which is then pointed to localhost using the hosts file).

[2017-11-20 13:08] sivaprabug commented on #3793
I am struggling with same issue, How can i handle the session in Native App. Before i am using simply install interceptor extension and postman extension.

when ever i launched the session **_just turn on interceptor_** icon the session all cookies capture in postman app.

but now **really difficult to handle**, we don't know how capture sessions

[2017-11-20 13:48] prashantagarwal commented on #3830
@yonisade  we are already tracking it here #3633 . Closing it as duplicate.

[2017-11-20 13:48] #3830 closed, assigned to nobody

[2017-11-20 13:49] prashantagarwal commented on #3829
@evgeny-sureev Known issue. We can write to file system if you don't provide the app write access.

[2017-11-20 13:49] #3829 closed, assigned to nobody

[2017-11-20 13:51] prashantagarwal commented on #3828
@azharmohammedk You can report Newman issues in its own repo. It will help us in keeping better track of these issues.

[2017-11-20 13:51] #3828 closed, assigned to nobody

[2017-11-20 13:52] prashantagarwal commented on #3827
@ishwardeveloper You can set User-Agent Header in Postman app.

[2017-11-20 13:54] prashantagarwal commented on #3825
@tacovandenbroek Thanks for requesting this feature.

[2017-11-20 14:28] Saibobba commented on #2050
@shamasis  Yes. For now, i am able to declare a token variable and sending the token into it's value.
It's just one step every time before i make the calls.
Automated refresh could be the best feature !!

[2017-11-20 14:28] rikbosch commented on #1475
+1

[2017-11-20 14:42] evgeny-sureev commented on #3829
Why you can't make it like in all other apps? Ask administrator password upon update. I have dozens of apps and only Postman unable to update.

[2017-11-20 15:00] Stevoisiak commented on #160
@a85 Why was this issue closed? It seems like a valid feature request.

[2017-11-20 15:43] mkimont commented on #1228
Guys, on July 2018 we will have 3th anniversery of this request, I will bring the 5 wine, can somebody bring the food and some entertainment ?

[2017-11-20 15:48] tobilarscheid commented on #1228
The regular emails I receive from this issue keep reminding me that postman still exists 🤓

[2017-11-20 15:56] chrisron95 opened #3836 "Keyboard shortcut for submitting request doesn't always work"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
As long as I have been using the app
 2. Expected behaviour:
This is a weird one. When using keyboard shortcuts to scroll go through the tabs and submit the requests by using (on mac) command+} go to the next tab then command+enter to submit request, it should always submit the request

[2017-11-20 15:59] pratiks commented on #2050
The problem with a pre-request is we have 10s of 100s of requests.  Each one will require an update to the pre-request script if our auth mechanism changes.   This is a maintenance nightmare.

Calling nextRequest() and a subsequent retry is a not a viable solution for semantic checks, etc.

[2017-11-20 18:44] yetibob opened #3837 "Get New Access Token not using variable value for Token Name"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Expect token name to use value of postman variable
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

![ima

[2017-11-20 19:43] ottens commented on #3793
I would love to see better documentation on this as well. In my normal workflow I log in to a website via Chrome and then after that use Postman to test API request for an already authenticated session without having to worry about authentication, replicating that functionality in Postman would be awesome. One way would be to add a basic browser to Postman, not sure if that would be an option.

[2017-11-20 19:50] Stevoisiak commented on #383
There are many valid reasons for wanting to dictate Postman's save directory.

_For example_: I am currently working with a private API which includes confidential company data. All sensitive data must be saved locally to a secure drive, meaning Postman's built-in data synchronization is simply not an option for me.

[2017-11-20 20:07] ishwardeveloper commented on #3827
how?

[2017-11-20 20:09] ishwarchandratiwari commented on #3827
HOW?

On Mon, Nov 20, 2017 at 7:22 PM, Prashant Agrawal <notifications@github.com>
wrote:

[2017-11-20 22:41] dcfsc opened #3838 "Installing Windows Postman over the Chrome App version results in "lost" configuration."
## App Details:

[code]

## Issue Report:

I had several hundred APIs configured but had not been able to sync for a long time due to our company adopting a zscaler proxy and not being able to sync.

I had Postman installed as the old Chrome app, and then installed the new one to improve proxy usage. That is when I lost all my stuff. Completely empty. I could have restored a backup if I had one. :

[2017-11-20 23:19] azariz commented on #1678
+1

[2017-11-21 00:17] blakethepatton commented on #3691
I can confirm that this isn't working from the pretty view on linux for the desktop app. The dev console(ctrl+shift+i) shows no errors. In Preview mode, I'm unable to even get the right click context menu to show up. Copy pasting seems to work fine in raw though.

[2017-11-21 02:09] caddac commented on #3130
While I see this is closed, it is extremely confusing that duplicating behaves differently depending on where you choose to duplicate from (side bar vs header).

[2017-11-21 05:21] mailtogj commented on #3480
I am trying to create a dictionary object of the response json's using postman's pm api sendRequest.

Wrote a recursive function to get all the responses but the problem is the response dictionary object population happens way before even the response comes back.

Is there any way to wait the dictionary population before each of the respective response is received so as to capture the response wit

[2017-11-21 05:29] mailtogj opened #3839 "Need to wait further action till the response for pm api sendRequest is back"
## App Details:

[code]

## Issue Report:
Encountered recently,  I am trying to create a dictionary object of the response json's using postman's pm api sendRequest.

Wrote a recursive function to get all the responses but the problem is the response dictionary object population happens way before even the response comes back.

Is there any way to delay the dictionary population before each of the

[2017-11-21 05:37] hoogenbj commented on #3831
Yes, it includes basic auth. For the one collection, but not the other. As you can see in the middle of each screenshot, I get no response. The request just hangs.

[2017-11-21 07:58] silviucotilici commented on #2030
+1. It will save tons of time

[2017-11-21 09:18] pburgr opened #3840 "cookie test - help"
I have 2 different requests, one returns a cookie, the other one does not
how can I test, if a cookie was returned?
Can anyone share a piece of script?

I tried google something up, but it`s not working as I expected.

tests["no cookies"] = responseCookies[0] !== null

this test will pass in both of my requests

thanks for any advice

[2017-11-21 09:40] mailtogj commented on #3839
So its not a pm api issue but a js behavior.
Following code works:
[code]

[2017-11-21 09:40] #3839 closed, assigned to nobody

[2017-11-21 09:53] deepakpathania-zz commented on #3840
Hey, have you tried something like `postman.getResponseCookie("CookieName").value != null` ?

[2017-11-21 10:00] pburgr commented on #3840
it returns an error: Cannot read property ´value´ of null in both my requests

[2017-11-21 10:04] pburgr commented on #3840
without the .value
tests ["cookies"] = postman.getResponseCookie("CookieName") != null;
will fail in both requests

[2017-11-21 10:27] Pixelartist commented on #2734
Having the same issue - would be nice to see it fixed.

[2017-11-21 10:28] kamalaknn commented on #3837
Hey @Robocrypt,

This is a duplicate of #3525. In summary, we don't support variables in token names yet. We'll be working on improving oauth 2.0 token flows to add more information about tokens. However we can't give an ETA for it yet. Please follow the original issue for updates.

[2017-11-21 10:28] #3837 closed, assigned to nobody

[2017-11-21 10:30] prokhorovn commented on #2617
Vote for this issue. Lack of possibility to import swagger-doc examples makes import from swagger useless, because the API shape is the only thing, which could be imported.

[2017-11-21 10:33] kamalaknn commented on #3836
Hey @chrisron95, thanks for reporting the issue. We'll investigate this and get back to you.

[2017-11-21 10:37] kamalaknn commented on #3838
@dcfsc That's a great idea. We'll investigate if and how we can do this.

I am marking this as a feature request. We'll keep this thread updated. Thanks again.

[2017-11-21 10:52] Faz540 opened #3841 "[Bug] - Unticking a query parameter that is not the last one will remove the key/value from the list of parameters rather than untick it."
Postman Windows v5.3.2

Issue 1:

![image](https://user-images.githubusercontent.com/9334128/33068646-ddb4a1b0-cea9-11e7-954a-df2b90023157.png)

Given the above, if I wanted to send the request without the last query parameter I can untick it.
This works fine.
However, if I wanted to send the request without sending any other parameter by unticking them, this will delete the key/value from the req

[2017-11-21 11:23] ray-qu commented on #3592
+1

Another way to put this issue is as below based on my observation:

**SUCCESS:**
[code]

**FAILURE:**
[code]

[2017-11-21 11:48] butlnor opened #3842 "Lost the "Get new access token" settings for OAuth2 after upgrading to v5.3.2"
## App Details:
[code]

## Issue Report:
I resisted the updating for a long time, but now I accidentally clicked to update. So now I have lost my settings in the "Get new access token" dialog for OAuth2.
This is not cool! I had troubles finding those values in the first place, and now I will have to find them again!

Why are those settings not preserved during the version upgrade? Like the other t

[2017-11-21 11:49] butlnor commented on #3842
Btw, I don't remember, which version of Postman I used before. Is it possible to downgrade and get those settings back?

[2017-11-21 11:50] tomasz-sienn commented on #2392
+1

[2017-11-21 11:58] butlnor commented on #3842
Also, it's not cool for postman, to popup the "upgrade" dialog after I already wanted to make some request, I wanted to click some other button, but unfortunately just at the exact same time, the "upgrade" button displayed in the same place, so I mistakenly clicked it...

[2017-11-21 12:31] ChrisAllisonMalta commented on #3762
Hi @madebysid I just tried uninstalling it and reinstalling it, the logo hasn't appeared again unfortunately

[2017-11-21 13:01] kamalaknn commented on #3842
Hi @butlnor,

Sorry that you lost your data in the OAuth 2.0 settings. This happened because we changed the internal storage format of the OAuth 2.0 settings in `5.3`. This is a one time change and any further update would preserve your settings in your OAuth 2.0 settings. Unfortunately, there is no option to get the saved data in the old version.

For your update concern, you can open up the upda

[2017-11-21 13:01] #3842 closed, assigned to nobody

[2017-11-21 13:04] kamalaknn commented on #3841
@Faz540 Thanks for reporting this issue.

After testing it out, I could see that the issues you are seeing happen when you have duplicate keys. We'll take a deeper look and fix this soon.

[2017-11-21 13:37] qiangmao commented on #2790
+1

[2017-11-21 13:53] glenthomas opened #3843 "Colour contrast too low in postman client"
## App Details:
[code]
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always
 2. Expected behaviour: Higher contrast
 3. Console logs: N/A
 4. Screenshots (if applicable)

The contrast in the Windows (and I assume other platforms) client is too low, it is killing my eyes. Grey on black or grey on white does not provide enough contrast between text and back

[2017-11-21 14:14] antonioribeiro opened #3844 "Could not get any response"
## App Details:
<!--
Postman for Mac
Version 5.3.2
OS X 17.0.0 / x64
[code]

[2017-11-21 14:15] antonioribeiro commented on #3844
Found a bug on Github. :/

[2017-11-21 14:15] #3844 closed, assigned to nobody

[2017-11-21 14:18] Vita-Ketsman commented on #3813
Can someone help me with this?

[2017-11-21 14:20] RuniQa opened #3845 "Collection runner stops to run if one request fails."
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.15063 / x64

## Issue Report:
Description
One of my services (name it service_X) is off from time to time. In that case there I will not get response from it.
![screenshot 48](https://user-images.githubusercontent.com/33484160/33076994-c2df0c8e-cece-11e7-9c6b-69a2dad97390.jpg)

However rest of my services will respond with success. Servi

[2017-11-21 14:57] pburgr commented on #3840
I tried:
tests ["Cookies"] = ResponseCookie =! null

it works fine, but in the "cookie" request only
in the request without cookie is it:
![obrazek](https://user-images.githubusercontent.com/32922341/33078940-80ff5be2-ced4-11e7-92e8-337aca370909.png)

wrong test or a bug?

[2017-11-21 15:07] antonioribeiro opened #3846 "Could not get any response ERROR"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I just installed the macOS app

3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/3182864

[2017-11-21 15:14] pburgr commented on #3840
what the hack?

tests ["Cookies"] = ResponseCookie = "null"
vs
tests ["Cookies"] = ResponseCookie = null

![issue_3840](https://user-images.githubusercontent.com/32922341/33079916-1344e8b2-ced7-11e7-8cdb-ae499fd99c0c.jpg)

[2017-11-21 15:42] rsaa commented on #1535
+1

[2017-11-21 16:17] satbirbains commented on #1535
Two years guys.. time to move on I think, it doesn't look like test automation is the focus. The importance and benefit this would have brought has been missed which is a shame.

[2017-11-21 16:24] MBurchard commented on #1535
I'm sorry to say this, but it turned out that Postman is unsuitable, as it is implemented now. Even the Pro version has no advantages. Postman's not evolving. This tool looks great. It is easy to use, but it's not enough for productive use.
You can't reuse modelled requests properly again.
You cannot use different test data in the form of CSV files for every request. Iterations are only valid for

[2017-11-21 17:03] somadeaki opened #3847 "Ability to disable hotkeys"
Please allow users to disable hotkeys entirely. It makes the app completely unusable for me, since with my keyboard layout, almost all special characters are associated with a hotkey.

## App Details:
[code]

## Issue Report:
 1. A recent update introduced new hotkeys
 2. I can't type any special characters anymore, since with my keyboard layout, the key combinations are associated with Postman ho

[2017-11-21 17:12] Stevoisiak opened #3848 "Documentation: Links between articles missing /docs on mobile"
## App Details:
[code]

## Issue Report:
Issue: When viewing documentation on mobile, the links at the bottom of a page for navigating between articles are broken. (Missing /docs)

Expected behaviour: The link at the bottom of the page should bring me to the next article.

## Steps to reproduce the problem

1. On safari for iOS, open https://www.getpostman.com/docs/postman/launching_postman/instal

[2017-11-21 17:35] buteomont opened #3849 "Copy/Cut to clipboard does not work from context menu in body"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: New
 2. Expected behaviour: Copy/Cut to clipboard
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app): No logs
 4. Screenshots (if applicable)

In request body, highlight som

[2017-11-21 17:42] prmichaelsen commented on #519
Still hoping for this feature. It would also be nice to be able to input json data in a tabularized view

[2017-11-21 17:51] prmichaelsen opened #3850 "Easier data entry for tabularized request bodies"
## App Details:

[code]
## Feature request
More excel-like data entry for entering request body information in tabularized views such as: `form-data`, `x-www-url-form-encoded`.
 * hitting enter should return user to the next row of the column that was first edited in this row
 * hitting shift-enter should enter a new line in this cell (common behavior in modern apps)
 * hitting tab should move to

[2017-11-21 22:36] correajd commented on #3763
I was analyzing the json response from the getpostman.com/guid link. I noticed that one of the requests stored a folder id that didn't exist in the collection.

[2017-11-22 09:22] krmr commented on #3727
I am also experiencing this issue. Just now I finally noticed that this only happens if more than one tab is open. Actually the dialog has to be closed once per open tab.

[2017-11-22 09:27] pburgr commented on #3840
tests ["Cookies"] = ResponseCookie = "null"
&
tests ["Cookies"] = ResponseCookie = null

are sufficient for me, closing issue.

[2017-11-22 09:27] #3840 closed, assigned to sdnts

[2017-11-22 10:03] pburgr opened #3851 "testing responseBody - weird test results"
I have this json response:

[code]

and following tests:

1. will pass
[code]

2. will fail
[code]

1.+2. will both pass
[code]
how can I proceed the second test to pass?

[2017-11-22 10:08] Faz540 commented on #3851
[code]

You weren't testing a specfic item in the "vehicle" array.
vehicle[0] is the first item in the array so the above code should now pass.

Your first test isn't really testing anything so it'll pass by default

[2017-11-22 10:25] pburgr commented on #3851
[code]
works fine
I still learning every day

one more question, if the responce would be:
[code]
the test would be:

[code]
am I right?

[2017-11-22 10:32] kamalaknn commented on #3851
Hi @pburgr,

@Faz540  is correct. Your json response body property is an array. You have to use array methods to check for presence. Alternatively, you can use the new and expressive `pm.test` API.

[code]

Closing this as this is not an issue with Postman in itself.

[2017-11-22 10:32] #3851 closed, assigned to nobody

[2017-11-22 10:33] Faz540 commented on #3851
Hi, I think your first test passing is a false positive.
[code]

That would be the test to test the first item in the vehicles array.
[code]
That would be the test for the userVehicles array.
If you wanted to test the second item in the array it would be:
[code]

[2017-11-22 10:38] Faz540 commented on #3851
@pburgr feel free to message me on the Postman Slack channel if you need more help.
Add me on slack with the name "pfarrell"

[2017-11-22 10:42] kamalaknn commented on #3849
Hi @buteomont we are having trouble reproducing this. Could you share more information on this?

1. Are you selecting a section of a value, or an entire row? (could you share a screenshot with the selection)
2. Are you using the `Key-Value edit` more or the `Bulk-Edit mode`?

[2017-11-22 10:43] kamalaknn commented on #3848
Hi @Stevoisiak

Thanks for reporting the issue. We'll take a look at this and get back to you soon.

[2017-11-22 10:46] kamalaknn commented on #3846
@antonioribeiro I think the error in the developer tools does not look related to the request. Could you check your settings if you have a timeout configured? Could you send a screenshot of the console item expanded so we can take a closer look?

[2017-11-22 10:50] pburgr commented on #3851
I am happy with:

[code]
thanks guys for the kick

[2017-11-22 11:00] kamalaknn commented on #3845
@RuniQa we do stop the run if a request errors out. Unfortunately, I do not see an option to disable this yet.

I am marking this as a feature request. In the meantime you can run the same collection using our command line tool [newman](https://github.com/postmanlabs/newman) with the `--bail` option set to `false`.

[2017-11-22 11:03] kamalaknn commented on #3847
Hi @somadeaki

Thanks for reporting the issue. This is a duplicate of #3596.  Closing this, please follow the original issue for updates.

[2017-11-22 11:03] #3847 closed, assigned to nobody

[2017-11-22 12:16] buteomont commented on #3849
Sorry, should have mentioned it was raw body. Selecting a word, a few characters, a whole line, doesn't matter.  I should mention that CTL-C and CTL-X work properly in this scenario.  Screenshot:
![screenshot from 2017-11-22 06 10 32](https://user-images.githubusercontent.com/1907543/33127071-91e4a372-cf4c-11e7-9138-c424dbbf306f.png)

[2017-11-22 12:57] antonioribeiro commented on #3846
@kamalaknn, I'm not in that workstation now, but I had just installed the app, so settings were all in their defaults.

[2017-11-22 12:58] spdaley commented on #2773
If I could +1 million this I would. This new tab behavior is driving me insane. Even with the force close all tabs option, I don't want multiple tabs most of the time so I find myself continuously having to click the "force close all tabs" option. I really love postman and what I can do with it but if there was one feature I could eradicate it would be this multi-tab feature (and the annoying red

[2017-11-22 13:24] Isanderthul opened #3852 "Cant use Google App Password"
I am unable to sign into my google account using an app password. I am not prepared to give out my account password.

[2017-11-22 13:49] mattbrasieratos commented on #3846
This is likely a proxy issue - the chrome app is using chrome's proxy settings. The desktop version doesn't use the chrome proxy settings, tries to go directly to the site and fails.

[2017-11-22 14:18] maedox opened #3853 "Segmentation fault at startup"
## App Details:

[code]

## Issue Report:
I'm using Postman more or less every day, and today it suddenly SIGSEGV at startup.

gdb bt:
[code]

Any ideas what happened? It might be the infamous "I added and removed a bunch of packages and didn't reboot for a while so now it suddenly blew up in my face". (It's an Electron app isn't it? The Slack app still works...)

[2017-11-22 14:30] maedox commented on #3853
Well, rebooted to 4.13.0-16-lowlatency. Postman works. Rebooted back to 17-generic. Postman still works. It's f##ked. Let's hope it was a one-time fluke of some package I removed before rebooting.

[2017-11-22 14:30] #3853 closed, assigned to nobody

[2017-11-22 14:35] Kskohli commented on #2397
@a85 , the dropbox png image is not working.

[2017-11-22 14:48] silviucotilici commented on #622
+1
This would be a very useful feature.

[2017-11-22 15:27] n1k1ch commented on #2030
+1

[2017-11-22 15:37] malenze opened #3854 "Exporting Collection v2.1 format does not work with variables"
## App Details:

[code]

## Issue Report:
1. Did you encounter this recently, or has this bug always been there: (always)

Exporting collections where environment variables are used in URLs are not working, e. g.:
[code]
runs fine in Postman App, after export/import this becomes:
[code]

Exporting Collections where variables are used in x-www-form-urlencoded POST requests are not exported as varia

[2017-11-22 19:12] sbrendtro commented on #2978
+10 Our company's CI/CD infrastructure is built on private GitLab servers, repos, build runners, etc.  Having a sync to private servers is a huge need, as we could further automate API testing using Newman as part of our build process.

[2017-11-22 20:53] mehle commented on #2088
Postman seems to be in violation of RFC 6749 with this, which states that multiple authentication methods must not be used.  Also, using credentials in the POST body should only be used if the client is incapable of using Basic Authentication.  Perhaps it can be exposed as an option, but right now, it's unusable for us.

[2017-11-22 21:11] harryi3t commented on #2088
@mehle this issue has been fixed.
Now we have a dropdown menu to select where the credentials should be added.
Please update to latest postman native app.
Let me know if it’s not working for you.

[2017-11-22 21:11] #2088 closed, assigned to nobody

[2017-11-22 21:14] harryi3t commented on #1360
This issue has been fixed.
Please update to a latest version of Postman native app

[2017-11-22 21:14] #1360 closed, assigned to nobody

[2017-11-22 21:30] mehle commented on #2088
Thanks!  I just realized that this was resolved on the native app, but it probably won't make it to the Chrome version.  Time to switch.

[2017-11-22 23:23] ranujn commented on #3791
@kunagpal  Is there any way to get request and response body in the Report. I used statement provided by you but its showing only status of test case pass and failed, not the actual request and response.

Thanks in Advance.

[2017-11-23 06:45] kumarvastav opened #3855 "Not able to define setPrevious request under Prescript tab. Are we supporting this anytime sooner ?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-11-23 06:56] numaanashraf commented on #3852
@Isanderthul Thanks for reporting this. We do not support app passwords at the moment. I've passed this along to the team and we'll keep you posted on any updates here.

[2017-11-23 07:22] burlacio commented on #1321
Hope you can integrate this before the Chrome apps are deprecated
![image](https://user-images.githubusercontent.com/4939140/33161998-c1863454-d02f-11e7-801d-0a12329a013e.png)

[2017-11-23 09:29] numaanashraf commented on #3854
@malenze Thanks for writing in. I'm having trouble replicating this issue. Can you mail a sample exported collection to help@getpostman.com? Thanks.

[2017-11-23 09:31] numaanashraf commented on #3855
@kumarvastav Thanks for writing in. I'm having trouble understanding your issue. Could you elaborate on the issue with sample scripts?

[2017-11-23 10:17] numaanashraf commented on #3824
@farkass Thanks for reporting this. Are you using the `Manage Cookies` feature to set the cookie for each path? Or setting the cookie via request header manually? Could you verify whether your second request is overwriting the cookie needed for the first request via the set-cookie response header.

I've attached screenshots below for the use case I tried.

Request to /get sends foo2 and foo1 cooki

[2017-11-23 10:58] dhiren-mudgil-olx commented on #1319
+1

[2017-11-23 11:38] fosple commented on #3604
Same problem here. Sometimes it works but sometimes the OAuth 2.0 Pop-up just shows a empty white page.

However, I can't send you a bug report because the developer tools are not working in that window and the whole OAuth 2.0 communication is happening over HTTPS...

[2017-11-23 11:39] mikodigital commented on #348
thanks cool stuff

[2017-11-23 13:01] dannyhajj opened #3856 "Saving a request somewhere else with Ctrl+Shift+S doesn't handle saved responses correctly"
When we try to "Save As" a request in order to save it somewhere else, the Examples in that request aren't handled correctly.

## Steps to reproduce:
- Open any request.
- Make sure it has at least one saved response.
  I suggest creating a new one for testing. As this response will be lost and cannot be recovered.
- Use <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>S</kbd> (Or <kbd>Cmd</kbd>+<kbd>Shift</

[2017-11-23 13:22] numaanashraf commented on #3856
@dannyhajj Thanks for reporting. We were able to replicate this issue and will be fixing this in the coming releases.

[2017-11-23 14:38] hoffepoffe commented on #3780
I'm having the same problem. POSTs with body (application/x-www-form-urlencoded) are sent without the body and content-length: 0. Postman captured an AJAX request from Chrome, and then I resent it with Postman. I can see in Wireshark that Chrome sends the full request with body (also shows up in Postman), but when I send the POST again in Postman, I can see in Wireshark that it's sent without the

[2017-11-23 15:17] vdecristofaro opened #3857 "Instruct postman to nslookup at every request"
## App Details:

[code]

[code]

## Issue Report:
This is more a question than a issue report.

We have tried to use Postman to test an high availability setup on Azure that uses Azure Traffic Manager. We have setup a Runner with 600 request to the same endpoint, with a 500ms interval.

After started the runner we have immediately stopped the primary endpoint and we expected that, after the switch

[2017-11-23 15:20] krogan commented on #1849
i originally had the chrome app and uninstalled it and then installed the local client
then the icon went blank as displayed above. irritating!

but on closer inspection, the tile was pointing to a defunct shortcut in:
C:\Users\XXXXXX\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Chrome Apps

I deleted the shortcut to postman in this folder and then re-pinned the Postman app (desktop app)

[2017-11-23 17:30] lushc opened #3858 "Parse Error when receiving responses with a smaller Content-Length"
## App Details:
[code]

## Issue Report:
Due to a bug in my own application, a JSON response included erroneous content after the payload. At first I didn't notice because the Content-Length header was being set to the payload's size, so the browser & Chrome app rendered the response as expected. Here's an example response:

[code]

The native app's console displays the following, alongside a "Cou

[2017-11-23 18:03] malenze commented on #3854
Sorry, Layer 8 problem.
I did the export, when several Builder tabs were still open and not finally saved. So the intermediate last saved status was exported. When I save all Builder tabs before the export, everything is fine.

Thus please close the bug report as "Fixed".
Sorry for the effort and time you spent in vain.
Nice evening. Thanks for the support!

[2017-11-23 18:03] #3854 closed, assigned to numaanashraf

[2017-11-24 07:29] peeveeone commented on #3386
Would like see an option to disable the dialog all-together, I rarely want to close all tabs, just the ones I cannot reuse and are created by following links in my test cases.

[2017-11-24 08:16] samhattangady commented on #3488
Along these lines, would it be possible to change tabs within postman using ctrl+PgUp and ctrl+PgDn, similar to Chrome and Firefox. Thanks.

[2017-11-24 09:07] vignesh675 opened #3859 "Does time shown in postman client inclusive of reading response and processing it ?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

1) Execute a rest call
2) Observe the time shown

Few questions

[2017-11-24 09:58] SimeonPetkovAtlaSense commented on #3171
We have the same problem with our API acceptance tests that need to wait for some data to get synced before they check the data.

[2017-11-24 11:36] powelski commented on #2948
What is the status of this issue? I believe it would be great if previewing HTML in Postman mirrored browser's behavior as much as possible. Relative URLs are a standard accepted by W3C.

[2017-11-24 12:45] rlcomte commented on #3390
As we are using Postman for API testing, and we want to upgrade our Swagger API specs to 3.0, it is a must-have.

[2017-11-24 13:08] EmirGluhbegovic commented on #3816
Hey,

I am experiencing the same issue making the following get request:
localhost:3114/api/users?filter(name, test)
It encodes the parans and the coma. How can I disable this from happening?

 "GET /api/users?filter=%28name,test%29 HTTP/1.1" 500 174 "-" "PostmanRuntime/6.4.1"

[2017-11-24 13:32] numaanashraf commented on #3858
@lushc Thanks for letting us know. Chrome apps use Chrome's networking layer to send requests, which is a lot more forgiving with malformed responses. The native app is more strict in terms of spec compliance and there are no plans to relax this at the moment, as that would be a slippery slope to stand on as an API development tool. 😅 Anyway, we are always working on improving debug information fo

[2017-11-24 13:32] #3858 closed, assigned to nobody

[2017-11-24 13:38] kamalaknn commented on #3859
Hi @vignesh675

The response time you see is the time from sending the request over the network and receiving the end of the response. This does not include the time Postman uses to process or display the response.

At the moment there is no option to compute the total time(response time + time Postman takes to show the response).

Could you explain your use case for this? Usually users optimize f

[2017-11-24 13:45] kamalaknn commented on #3857
Hi @vdecristofaro,

We use a wrapper on node's [request](https://github.com/request/request) module for sending requests. We suspect that `node`'s `dns` module is caching the lookups.

I am tagging this as a feature request. @shamasis can clarify more on the feasibility.

[2017-11-24 13:56] kamalaknn commented on #3857
@vdecristofaro the `request` module also caches connections from previous requests. Could you try adding `Connection: close` header to your request to actively close connections on every request?

[2017-11-24 14:00] nishant-malodkar-globant opened #3860 "Not able to do POST and PUT through postman after our QA environment changed"
Steps:

1. Load the rest URL to postman
2. Apply headers in terms of auth. and content-type
3. Set body as json body.
4. Hit the request.

Expected behaviour:
The request should get post and successful response should be received.

Actual result:
"Could not get any response" whereas for same request I am able to run GET method without changing an inch in the URL.

Note: Apologies for the request U

[2017-11-24 16:13] janpridal commented on #3331
Same for me. I need to upload a file and json as multipart as it is nicely summarized in the answer here: https://stackoverflow.com/questions/27609569/file-upload-along-with-other-object-in-jersey-restful-web-service
Unfortunately it is not possible to set the content-type for each part in Postman though it is allowed by specification as one can see from samples therein: https://www.w3.org/Protoco

[2017-11-24 16:28] evanmiller67 opened #3861 "Params within URL (not query string) are not resolved"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just noticed this after switching from Chrome app to the desktop client
 2. Expected behaviour:
When using parameters inside the URI, they should resolve anywhere, not just in the query string.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insi

[2017-11-24 17:33] reinaldomoreira commented on #2786
I'm having the exact same problem when I have a request of 5MB +/- and try to locate any string (CTRL + F)

[2017-11-24 19:45] ghost commented on #3376
Yes this is what I am looking for actually...

[2017-11-25 02:48] AdaptableTester opened #3862 "Data editor within header preset modal doesn't have autocomplete enabled"
__Steps to reproduce the problem__ (Desktop v5.3.2)
1. Go to 'manage header presets' dialog.. there is a placeholder message  "_Quickly add groups of header key/value pairs to the request. Start typing the name of the preset name and it'll show up in the dropdown list._"
2. But when I give a 'header preset name' and start typing in the 'Key' and 'Value' fields, the __dropdown list does NOT show up

[2017-11-25 05:44] shamasis commented on #3857
@vdecristofaro Not caching DNS or connection is not suitable to be turned on by default for all users. Postman uses the settings and mechanisms exposed by the underlying operating system.

@kamalaknn using `dns.resolve`instead of the underlying `dns.lookup` would bypass the OS. However it would also cause all local features such as loopback resolution, etc/hosts to not work. In certain OS conditio

[2017-11-25 18:36] TheWeirdDev commented on #3691
I'm having the same issue.
[code]

[2017-11-25 19:38] You2s commented on #2931
Please make as soon as possible the update messages that you can't remove in the settings drive me crazy

[2017-11-26 19:46] PurpleBabar opened #3863 "Make postman available as a desktop app on ubuntu :)"
Hi guys, i love postman, but since it's an appimage now, it's not automatically available as a desktop app in ubuntu. In order to do so, ubuntu just needs a .desktop app, so i made a gist :)

https://gist.github.com/PurpleBabar/567fbe8f43ed6a171af72cb488da147c

Anyway, just wanted to post it here so people can find the solution if they search it :)

[2017-11-27 02:23] Realetive commented on #3463
Next proposal for me is a use some types for additional UI of value. For example: create select-box from array for choose pre-installed value with label:

| Key    | Value    | Type  | Data                                                                  | Description |
|--------|----------|-------|-----------------------------------------------------------------------|-------------|
| gender | ma

[2017-11-27 07:24] vdecristofaro commented on #3857
Hi all, no problem at this to be a setting in the app. In my mind I thought it exactly like this.
Please let us know when this feature will be available and keep up the good work! 👍

[2017-11-27 09:14] j-blandford commented on #3863
Very useful, definitely needs a .deb installer (maybe allowing for auto-updates, too?) Would make this program even greater

[2017-11-27 09:44] j-blandford opened #3864 "Postman's internal login endpoint returns 500 internal server error"
Hello
It seems that the login feature of Postman is currently non-functional, and I cannot access the app at all!
Some debugging in Chrome gives me the following request when trying to login on the website:

Request URL:https://identity.getpostman.com/login
Request Method:POST
Status Code:500 Internal Server Error
Remote Address:52.73.37.51:443
Referrer Policy:no-referrer-when-downgrade

[2017-11-27 09:52] markashton commented on #3864
Also getting a 500 when trying to log in. Is there a way to use this offline, because getting a 500 and not being able to use the app has highlighted a risk with relying on this tool. Hopefully just a temporary blip.

[2017-11-27 09:56] j-blandford commented on #3864
@markashton  I had some success getting the app to open by unplugging my ethernet cable before logging in, and then reinserting it midway. It's a hack, but I am able to use the program again.

If you click "Sign out" when the dialog box appears, when it asks to delete local data, you can press "Cancel" and it keeps your logged in data whilst being signed out. I think that's a bug but it works in o

[2017-11-27 10:12] SamvelRaja commented on #3864
@prasoc @markashton we are facing a small internal downtime, things will be normal soon.

[2017-11-27 10:13] markashton commented on #3864
Thanks @SamvelRaja - things seem to be working now.

[2017-11-27 10:13] #3864 closed, assigned to nobody

[2017-11-27 10:47] edesdan commented on #3130
I'm having this issue duplicating a request, it is very annoying.

[2017-11-27 11:11] brynhr commented on #6682
+1

[2017-11-27 12:33] sdnts commented on #3860
Hi @nishant-malodkar-globant, do you use an internal proxy for your requests? If so, have you set it up in the Proxy section of settings?
Can you give me a little more info about your environment? Nothing specific, just an overview of what it looks like, that'll help us get to a solution faster.

[2017-11-27 12:35] sdnts commented on #3863
@PurpleBabar Thanks for this! We will look into this for sure :)

[2017-11-27 12:38] sdnts commented on #3862
Hey @skumar45, I'm able to see the header preset in the Header section when I type in the header preset value. Where are you typing when looking for the preset?

<img width="1033" alt="screenshot 2017-11-27 18 06 30" src="https://user-images.githubusercontent.com/7689783/33266990-b831f61a-d39d-11e7-8e7a-fb7dd9c43827.png">

Also, the message is wonky for sure, I'll look into this.

[2017-11-27 12:57] AdaptableTester commented on #3862
@madebysid It's not from the main section (the screenshot you've attached) mate. The issue is  from the 'MANAGE HEADER PRESETS' dialog box ... 'Add header preset'.

Click on 'Preset's from the RHS of your screenshot. Manage 'header presets' dialog appears... Then you see the message text .. click 'Add' and that's where it is.
![image](https://user-images.githubusercontent.com/922566/33324622-0e7c0

[2017-11-27 13:36] igorwojda commented on #1345
This is unintuitive. You should think about hiding the "body" instead of disabling it or add some tooltip with explanation

[2017-11-27 13:44] sdnts commented on #3861
@evanmiller67 Can you try out environment or global variables for this?

[2017-11-27 14:07] evanmiller67 commented on #3861
@madebysid That works. However, for my use case, not a great solution. I have 2000+ hosts.

[2017-11-27 14:10] Lupeipei commented on #3127
I account the same problem, I solved it by check the environment.

[2017-11-27 16:05] leMedi commented on #350
+1

[2017-11-27 17:59] dkpalmer commented on #285
+1

[2017-11-27 22:28] maxp-edcast commented on #1460
Does this apply to the standalone OSX app or just the Chrome app? If there is a way to set breakpoints in the standalone app the same way as it's possible to do in the browser (e.g. the `debugger` keyword), can anyone please advise on how to do it?

The reason we use the standalone app as opposed to the Chrome app is because the Chrome app does not support the [test scripts library](https://www.ge

[2017-11-28 01:46] KwangzSan opened #3865 "OS X App - Could not get any response"
I just switch from chrome app to os x app and then I got the "Could not get any response" error showing up.
Chrome app still working fine.

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I just use os x app for the first time.

 2. Expected behaviour:
:)

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-devel

[2017-11-28 08:54] unifreak opened #3866 "can't sign in, gave me 'Something went wrong. Please try again later.'"
## App Details:
[code]

## Issue Report:
Today, postman suddenly told me that my sign in session is expired, and prompt me the login page. I typed in my login info, hit the sign in button, and after awhile, it gave me `Something went wrong. Please try again later.`. I tried again and again, still can't login. also, the `https://getpostman.com/` url is not accessable, too.

## Update
I also tried s

[2017-11-28 09:45] AndySoHotRightNow opened #3867 "Mismatch of collection order between app/runner and documenter/monitor."
## App Details:

Version 5.3.2 (5.3.2) for Mac

## Issue Report:

There is a discrepancy between the order of folders/requests of my collection on the app/runner and on the documenter/monitor despite the app indicator claiming everything is "in Sync".

Here are the screenshots to clarify:

_Order of items is "admins", "guests1", "categories", "dashboard"... etc._

**App**

![App](https://user-imag

[2017-11-28 09:54] anchnk commented on #3602
I do have the exactly same need but for request query strings parameters.

I don't really understand how the matching algorithm actually but it doesn't fulfill application black boxing use cases.

I would like to be able to return a different responses according to each unique set of query string parameters which is the only way for me to black box test my application.

I was mainly doing a POC to

[2017-11-28 10:39] cdechery commented on #2225
Proxy support is broken in 5.3.2.

It was working fine and then it stopped, and it won't work again no matter what I do. I tried every possible settings combination for this. Even uninstalled Postman and installed it again. Nothing.

I have disabled "Global Proxy" to make it use the System Proxy, but the console still shows its attempts at connecting to the IP configured in Global Proxy. The "Syst

[2017-11-28 11:32] sdnts commented on #3866
@UniFreak Can you try again now?

[2017-11-28 11:40] unifreak commented on #3866
@madebysid I just tried again. same result. Is there additional thing I can provide to you for debug?

[2017-11-28 12:05] sdnts commented on #3865
@KwangzSan Can you provide a little more info about the request itself? (URL, scripts etc. if possible)? It'll help me get to the bottom of this faster.

[2017-11-28 12:08] sdnts commented on #3867
@AndySoHotRightNow The order reflected in the Documenter and Monitoring is the order actually stored on our servers. Can you try a force sync? You can do this by pressing the Sync icon again.

If that doesn't help, can you head over to https://app.getpostman.com/library/collections and check if all your requests are there? If so, signing out + signing in should solve your issue.

[2017-11-28 12:18] ivan-marinov commented on #882
There is another workaround, see example below.

1. In the environment, create a variable called `test_script`, set value to:
[code]
2. In the pre-request-script:
[code]

[2017-11-28 12:18] sdnts commented on #3866
@UniFreak Do you see any errors in the Console?
Since you say you cannot send any requests, it sounds like the app is unable to talk to the internet. Do you use a proxy or something?

Can you also drop in an email to help@getpostman.com from the email you use to log in?

[2017-11-28 12:27] unifreak commented on #3866
@madebysid after I click `Sign In`, there is only two network request. one is `https://app.getpostman.com/api/signin` with my authentication payload, and it got stalled. Another is `https://analytics.getpostman.com/events`, and this one got a fine response.

Here what's in my console:
![image](https://user-images.githubusercontent.com/7945546/33319623-54029f40-d47a-11e7-98c8-776af70f4cfd.png)

I h

[2017-11-28 13:09] johnmeredith opened #3868 "setEnvironmentVariable Test Causes Environment Variable to Delete"
## App Details:
Postman for Windows
Version 5.3.2
win32 10.0.14393 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recent
 2. Expected behaviour: pass parsed variable into environment variable
 3. Console logs
[code]

Steps to reproduce the problem
1. I have set an environmnet variable 'sct-id'
2. I add the following test:
[code]
3. I send the reques

[2017-11-28 13:12] unifreak commented on #3866
@madebysid I let my colleague tried to sign in his account, he is in Mac, and never has registered one account. He tried sign in with google, and works fine. We are in the same network, and I don't have a vpn connected.

[2017-11-28 13:27] rubensa commented on #2918
You should **document this on docs** as I've spent more than an hour trying to guess If my server was the problem (cause I have _SSL certificate verification_ disabled on _Settings_)

**As a side note**:  There is **no log in Postman Console** (in stand alone version) about the request to the server when _Gran Type_ is _Authorization Code_ and server certificate is auto-signed (so no way to guess

[2017-11-28 13:35] GrimSmiler commented on #1180
+2

[2017-11-28 13:59] AndySoHotRightNow commented on #3867
Thanks.

Force syncing didn't change a thing but the second suggestion (to log-out and back in) did solve the issue.

At this point what I would suggest Postman to do is investigate why the Sync indicator reflects an incorrect sync status.

From my point of view the problem is solved.

Just a heads up, the link [https://app.getpostman.com/library/collections]() leads to a 404, I think you meant [h

[2017-11-28 14:12] zihotki commented on #2918
Given that Chrome Apps workaround soon will stop working (Chrome Apps are obsolete, you know), there will be no solution for the problem. And this is essential for testing APIs internally/locally where self-signed certificates are used.

[2017-11-28 14:15] johnmeredith commented on #3868
OK - solved it - array syntax but anotehr exampel of the variable delete bug.

[code]

[2017-11-28 15:49] chrisrymer commented on #2225
Same issue: 407s over authenticated proxy

[2017-11-28 15:56] chrisrymer opened #3869 "407 Errors over Proxy with Authentication"
## App Details:
Postman helps you develop APIs faster
Postman for Mac
Version 5.3.2
OS X 15.6.0 / x64

I have just switched to the Desktop app and was setting up some oauth endpoints. I was constantly getting 'Could not get any response'.

![image](https://user-images.githubusercontent.com/1926784/33329385-54ad39d0-d454-11e7-9449-dfd2ba56d6a5.png)

With the resultant error:
`Error: tunneling socke

[2017-11-28 16:23] bjartur opened #3870 "Generate Robust C# Code"
## App Details:
[code]

## Improvement Suggestion:
I would have liked the following autogenerated C# for a HTTP POST request with the single parameter `err` of value `+ &` serialized as _x-www-form-urlencoded_ in the body.
[code]

but what Postman did produce for me was the following C# code:

[code]

## Rationale
1. `parameter("err", "+ &");` is more readable than "[..] `err=%2B%20%26` [..]". The

[2017-11-28 16:32] deepakpathania-zz commented on #3870
Hey @bjartur, thanks for the detailed report. Postman actually uses a [third party library](https://github.com/Kong/httpsnippet) to generate code snippets and therefore do not control these details directly. You can try opening an issue there if you believe the change is substantial and can help the overall community.

[2017-11-28 16:40] lvian commented on #2214
Was having the same problem using the Windows App accessing a linux server running on vagrant.

Had to ditch the windows app and use the browser version, working like a charm now.

[2017-11-28 16:46] #3870 closed, assigned to nobody

[2017-11-28 17:34] amosbaker opened #3871 "Install does not create shortcut in start menu or on desktop."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: N/A, just switched from chrome extension recently.
 2. Expected behaviour: When installing I would expect basic options like 'Create shortcut on Desktop' or 'Install Directory'. Some of us don't use our C drive in windows. Also finding the executable after installation is not really do

[2017-11-28 17:47] gjnk opened #3872 "Feature request: compare response against example"
Ability to mark an example as a baseline (expected JSON).
Every time that one re-runs the same request, provide an option to compare the new response against the previous baseline and mark the differences similar to jsondiff.com.

This will help tremendously when working with large JSON responses to understand the differences between expected and new, without writing detailed tests.

[2017-11-28 17:47] cdavidowski commented on #285
+1

[2017-11-28 19:09] suvaraj commented on #3799
Is there any update on the issue?

[2017-11-28 19:22] rmlira commented on #3173
I have tried with the banUnknownProperties (https://github.com/geraintluff/tv4#the-banunknownproperties-flag) and it works.

Just do:

tv4.validate(JsonData, schema, false, true);

[2017-11-28 20:29] mverma-va commented on #1987
@abhijitkane I am new to javascript, can you tell me how to convert the $timestamp from milliseconds to this format "2017-11-26T17:02:26Z" within the request body?

[2017-11-28 21:33] ramseyjacob commented on #1947
@richp10 - Exactly!  Having Collection level injection of headers before the request is sent and allow the value of the injected header to be pulled from an environment variable...would be a perfect feature.

[2017-11-28 21:36] gjnk opened #3873 "Enhancement request: Increase size limit of example"
Increase example size limit from 100,000 characters to 5,000,000 characters.
I frequently see JSON responses over 1MB in size, so this would be a useful enhancement.

[2017-11-28 22:41] abcondas commented on #3181
I too am using v5.3.2 in Ubuntu and am seeing the issue.  Thanks for the great product!  Any ETA on this fix?  :-)

[2017-11-29 00:04] shanmugamganesan commented on #2050
+1 I am looking forward to have this functionality.

[2017-11-29 00:08] jric commented on #2559
After installing the native app, I had to uninstall the chrome extension, and then these symptoms cleared for me.

[2017-11-29 02:30] unifreak commented on #3866
I have to fallback to earlier version to continue my API development. 5.3.2 force me to sign in.

[2017-11-29 03:56] skwirking commented on #2352
Installation of 64-bit version 5.3.2 is failing for me too. I do get an error dialog, however, unlike the OP. The message is "Installation has failed: Failed to extract installer"

![image](https://user-images.githubusercontent.com/6760178/33357088-2d9b0dde-d4fb-11e7-9c7a-fc232a01234c.png)

I tried executing from the command line. The console returns immediately with no output, and a moment later

[2017-11-29 04:10] ioneyed commented on #2242
Utilizing the v5.3.2 it prompts me to signin. This signin prevents the ability to adjust the proxy preferences. There use to be a "take me to the app" without a signin however it only gives me the "Cancel and take me to signed in account". When debugging the issues within the Dev Tools I noticed that regardless of how many times I `clear cache` or `delete browser data` in chrome I always see the f

[2017-11-29 07:28] SamvelRaja commented on #3727
Thanks for the great info! Confirming that this is the case :) Will patch it up in next release 👍

[2017-11-29 07:40] Cehnee commented on #3312
Hi, is there any update on this issue, or others like this (https://github.com/postmanlabs/postman-app-support/issues/1228, I'm looking at you)? As it happens, we had no other option but to turn away from using Postman for anything automated in our company, this is a make-or-break feature for us.

[2017-11-29 09:17] KevinvdBurg commented on #2256
Almost a month has past and this issue is still not fixed.  I had contact with the support team but it keeps telling to starts postman from the Command Line (what I did).
![2017-11-17 08_54_35-command prompt](https://user-images.githubusercontent.com/4567644/33367316-60823bda-d4ee-11e7-90b6-910730b58ce1.png)

What I found is that if I click and drag on the postman screen it exactly drags something

[2017-11-29 09:46] saliehendricks commented on #2302
+1

[2017-11-29 09:49] OliverRC commented on #3290
I'd definitely add my vote to have this implemented. Working in a corporate environment it is common to have a local CA for development environments.

It is interesting to note that the Chrome extension works because it reuses the Chrome certificates. It would be a great addition to allow the Desktop app to do the same.

[2017-11-29 09:50] eiselems commented on #1667
From the docs:

This is the thing that bugs me the most.
It was the easiest thing on earth to browse the PROD webapp and then after that have a request inside Postman Chrome App having all the right headers and cookies set.

Now that is not possible anymore since nowadays every properly staged app should have HTTPS and prevent you from basically MITM the requests.

Think I will stay with the chrom

[2017-11-29 10:44] jobec commented on #3290
Same here. It also feels very wrong having to disable this globally if a single server has an internally signed certificate.

Lots of other tools allow to specify this in some sort of config file:
- pip (for installing python packages)
- git
- vagrant
- Pycharm

[2017-11-29 10:53] jhr commented on #3816
On the other hand, characters that actually need encoding are left as is, like `=`.
`GET /foo?q=(a=b)` is encoded to `GET /foo?q=%28a=%29`. I would expect it to be `GET /foo?q=(a%3db)`.

[2017-11-29 11:26] asgeirn commented on #2452
Since I'm working with an internal IDP with 1 hour expiration, I've set up an OAuth 2.0 request as the first in the collection to get a valid access token.

[OAuth 2.0.postman_collection.json.txt](https://github.com/postmanlabs/postman-app-support/files/1513600/OAuth.2.0.postman_collection.json.txt)

[2017-11-29 12:00] sdnts commented on #3868
@johnmeredith Can you make sure the value of the variable does not evaluate to `undefined`?

[2017-11-29 12:02] sdnts commented on #3873
@gjnk We've been looking to increase this limit as pointed out in [this](https://github.com/postmanlabs/postman-app-support/issues/3589#issuecomment-339801253) issue. Closing this one.

[2017-11-29 12:02] #3873 closed, assigned to nobody

[2017-11-29 12:18] rubensa commented on #2918
I was talking about @numaanashraf documenting that:

PS:  I'm using the Native Postman App, not the Chrome App.

[2017-11-29 12:40] prashantagarwal commented on #3871
@amosbaker Thanks for reporting this issue. We will investigate this and keep you updated about it.

[2017-11-29 12:42] prashantagarwal commented on #3869
@chrisrymer Did you try using Proxy settings inside app.

[2017-11-29 12:43] prashantagarwal commented on #3872
@gjnk This sounds pretty cool. Sounds like snapshot testing of API. We will look into this feature request and keep updated.

[2017-11-29 13:28] matthew-a-thomas commented on #3852
Add me to the list of people reluctant to hand out my Google account credentials. Please keep us up-to-date on progress incorporating App passwords

[2017-11-29 13:37] sosensible opened #3874 "Postman Interceptor Desktop Workflow needed"
OK, we understand Chrome Desktop will be going to no updates. But, what about the "Postman Inspector". Are we loosing those features? Will that be updated to work with the native desktop? Or how do we get that now?

[2017-11-29 13:42] prashantagarwal commented on #3874
@sosensible Yes, That's definitely on our roadmap. We do realise how important this is for some user flows. We will keep you updated about this.

[2017-11-29 14:37] gjnk commented on #3589
We have responses as big as 1,500,000 characters, so I suggest setting a limit to 5,000,000, just to make sure.

[2017-11-29 14:51] pschumacher opened #3875 "Importing a collection does not find form-data parameter files."
Importing a collection does not find form-data parameter files.

Steps to Reproduce:
1. Create a collection which contains a request that has a form-data parameter of type file.
2. Export the collection into the same folder, where the file exists
3. Check the exported json file
-> src of the file is exported fine
4. Import the folder which contains the previously exported collection and file

Actu

[2017-11-29 15:20] cdeckelm opened #3876 "POSTMAN Native App v5.3.2 sends GET instead of PUT"
I switched to the POSTMAN Native App v5.3.2.

When trying to send a PUT request to my application with a JSON Body (Content-Type: application/json) / RAW, I'll receive a GET Request in my logfile.

Tn the meantime, the exact same request being sent from the old Chrome app will be correct.

[2017-11-29 15:26] yingw787 commented on #2872
Same here.

[2017-11-29 15:27] mverma-va commented on #1987
I got the solution, thanks for sharing sugarjs info.
var temp1 = new Date();
var temp2 = new Date().rewind({hour: 1});
pm.environment.set('iso1', (temp1).toISOString());
pm.environment.set('iso2', (temp2).toISOString());

[2017-11-29 15:27] QifanViseo commented on #2166
@MicrocontrollersAndMore Hello, I got the same issue like u here, could u tell me what 3 steps are you talking about to solve this problem?
Thx a lot.
![Uploading c6494d0d8b557bd8e2745861ee887a5c23a6ba35.jpeg…]()

[2017-11-29 15:28] QifanViseo commented on #2166
@MicrocontrollersAndMore I got the same issue like **Code 32** could u pls tell me what u have done to solve this ?
Thx a lot.
![c6494d0d8b557bd8e2745861ee887a5c23a6ba35](https://user-images.githubusercontent.com/26463934/33382961-60dc0d3e-d522-11e7-823d-b3354e14358e.jpeg)

[2017-11-29 15:33] bradobro commented on #1180
+1

[2017-11-29 15:43] jonathancrosmer commented on #2799
It's even worse on Linux.  Automatic updates are not possible in Linux, so there is no way to avoid the nuisance popup on start.

[2017-11-29 16:44] sridhar576 commented on #391
This has happened sporadically to me several times in the past, and continues to do so now in your native clients. In my most recent scenario, changing the method from PUT to POST made the body data reach the server. Also switching to x-www-form-urlencoded data seems to work. But really frustrating that I think I'm looking at a problem with my code, and really it's just the data not reaching the s

[2017-11-29 16:58] MrAaronOlsen commented on #2030
+1
I've had a few scenarios where I've wanted the response, not just a link from preview, to pop open my default browser automatically. We have some rather complicated OAuth procedures and it would really help with our Dev Env to be able to fire off an OAuth flow from Postman but continue in a "real" browser environment. Like others here I end up copying and pasting my request in the browser manua

[2017-11-29 20:22] 9fingerdev opened #3877 "New Feature request - Generate tests from OpenAPI / Swagger yaml or json file"
I would like to see a new feature that creates basic tests for api calls based on OpenAPI/Swagger definition.

[2017-11-29 21:17] jackwilsdon opened #3878 "Callback for when all tests pass"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not sure, never tried to do this before.
 2. Expected behaviour: I can register a callback which is run when all tests pass. This is useful for setting variables once the response is ensured to be correct.

[2017-11-29 21:44] bruceg-qualtrics commented on #1180
+1

[2017-11-29 22:28] kalevish commented on #3506
Same issue undo is very slow.... but redo doesn't work at all.
Mac 10.12.6
Postman Mac version 5.3.2
How to reproduce:
1. type any character in Postman request URL field.
2. Undo - Hit cml+d twice to undo the character   (This is annoying but some how managed it)
3. Redo - cmd+shift+z to redo ... nothing :(

[2017-11-29 23:03] kbuzby opened #3879 "Postman Native App listed as "Electron" in Windows Task Manager"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered Today
 2. Expected behaviour: Application labeled as Postman
 4. Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/2800467/33403696-01b14d6a-d527-11e7-8e82-392a327813c2.png)

The Postman application in windows is listed as Electron in windows t

[2017-11-29 23:29] Kamaros commented on #3874
+1. Around 90 developers at my workplace use Postman to debug and interact with our app, and it's very tedious to copy all the relevant authentication and tracking cookies to Postman by hand.

[2017-11-29 23:43] handeyeco commented on #2905
+1

[2017-11-29 23:52] spottedmahn opened #3880 "Please reauthenticate and try again"
## App Details:
[code]

## Issue Report:

I'm trying to get an `access token` [from within postman against Azure AD B2C](https://stackoverflow.com/questions/47275079/request-access-token-in-postman-for-azure-ad-b2c/47275299) and I'm receiving the following error:

 Correlation ID: bee2c5c1-2c04-4687-bdb7-d3d20f71ec7e
 Timestamp: 2017-11-29 23:46:19Z

The trouble is, I'm not getting the login scree

[2017-11-30 02:37] oliverjanik commented on #3816
@jhr why? based on RFC spec `=` is a `sub-delim` which is allowed in query string.

[2017-11-30 03:41] eyemouth opened #3881 "Postman opens in the background after using multiple monitor"
![screen](https://user-images.githubusercontent.com/25559357/33411910-3d0fb878-d5c3-11e7-99c6-e64816ce88f0.png)

## App Details:

[code]

## Issue Report:
It was working fine before, but now if I want to start it, after I click starting icon,  I can just see the icon in the taskbar without any starting page. I have tried to reinstall several times and results are the same. The Chrome version is wo

[2017-11-30 06:22] kondal99 commented on #1131
I am having same issue, edited couple of collections and suddenly a screen popup, asking me to choose local/server values, I selected local values and clicked on resync.  It deleted all my edited collection. Postman always having sync issues.

[2017-11-30 06:27] SamvelRaja commented on #3881
@eyemouth  Can you try removing C:\Users\[USER]\AppData\Roaming\Postman\requester.json
ruuner.json and console.json

[2017-11-30 06:29] brianalbrecht commented on #3780
I have the same issue.  I captured a request from chrome and I observe the following behaviors:

1.  When I send the captured POST request with x-www-form-urlencoded, no body is sent. (I also verified with wireshark)
2.  I cannot change the URL.  Even if I change it to POST to https://requestb.in/xxxx it still sends to the original URL.

My requests did not use authorization at all.

Postman for M

[2017-11-30 07:26] prashant7090 commented on #798
@barnesm999 Hey did you get any solution to externalize the JSON response schema files?

[2017-11-30 09:22] thecuriousdev commented on #3879
Thanks for letting us know about this issue. the issue is fixed now, will be released soon!

[2017-11-30 10:43] kondal99 commented on #2392
+1

[2017-11-30 10:44] terencechow opened #3882 "Postman latency does not match server latency"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: not sure
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

1. I am running a kubernetes cluster with 2 restify serv

[2017-11-30 11:45] roukmoute opened #3883 "Tab "Authorization" does not work"
## App Details:
[code]

## Issue Report:
 1. Always been there
 2. Expected behaviour:
Send a request
 3. Console logs: Nothing visible
 4. Screenshots are in the report

Currently I have a problem with "Authentication" tab and only on Linux.
When I use Basic Auth for example and I send a request:
![image](https://user-images.githubusercontent.com/2140469/33429332-af959332-d5cc-11e7-8e89-8f9680025

[2017-11-30 12:12] J-o-h-n-M opened #3884 "Download only available in .EXE (blocked by corporate firewall)"
I was trying to download your application today at work, but as our corporate firewall does not allow any download of .EXE files, it was not possible (I tried a lot of ways)

I actually have to wait till I am home this evening, download it, zip it and then put it on a USB drive.

This is a LOT of work just to try your application. It would make life a lot easier for corporate users if you put the

[2017-11-30 13:18] unifreak commented on #3866
Today I tried to download the latest version of Postman(5.3.2), now I can sign in. I guess there was something wrong with your auth service earlier?

[2017-11-30 16:31] KSib opened #3885 "Search Button not working as expected"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered today
 2. Expected behaviour: When you click the Search icon after sending a request, it should only take one click to make the search menu appear, but it takes two for some reason.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-insi

[2017-11-30 16:57] andrefatchip commented on #2369
Also affected by this on KDE neon. As well using chrome app which will do the trick intermediate.

[2017-11-30 18:25] renelc30 commented on #2523
@salanford thanks so much for posting the trick. Did it for me

[2017-11-30 19:08] arthurgrig commented on #3390
This is a must have.

[2017-11-30 21:23] dbrezack commented on #3518
Can confirm this is occurring on win x64 5.3.2 (current as of today) on windows.

[2017-12-01 03:29] midasdy opened #3886 "Postman opens in the background after using multiple monitor"
Hi,

I have been using Postman without any issues until I plugged my Windows 10 Surface Book to USB with dual monitor. I can see the instance in the task bar but not able to bring the app to the 'top'.

I have tried and uninstalling and reinstalling v5.3.2 and removing the Chrome extensions without resolution.

Has anyone encountered this and have resolved the issue?

Regards,
Midas

[2017-12-01 03:30] moquist commented on #3099
I've got the same issue. I'm importing a WADL file and then trying to export it, and a v2 export is empty (as shown above, by Moegamad) unless I modify it somehow, first. Renaming the collection seems sufficient to provoke an actual v2 export. I've tested with several versions, but I'm currently using Postman-linux-x64-5.3.2.

[2017-12-01 03:33] SamvelRaja commented on #3886
Tracking it here @midasdy #3881

[2017-12-01 03:33] #3886 closed, assigned to nobody

[2017-12-01 08:23] sdnts commented on #3866
@UniFreak We did for a little while, glad it's resolved now :)

[2017-12-01 08:23] #3866 closed, assigned to sdnts

[2017-12-01 08:54] elistemann commented on #3312
@kamalaknn the issue described by @krogold still exists, at least in the native OSX app. It seems that the [CookieList](http://www.postmanlabs.com/postman-collection/CookieList.html) is not linked to the cookies in the CookieManager. For example if i have a request which sets a cookie "xy" i can successfully run this test:
[code]
But when i look into the CookieManager it's still there. Also pm.coo