[2019-10-07 00:40] #7282 closed, assigned to preethammavin

[2019-10-07 00:40] #7284 closed, assigned to Ghusar

[2019-10-07 03:41] sankalp0o commented on #6626
Hey Cyrielle, thanks for reporting. Realtime notifications are available now for comments on APIs as well, both in app and emai.

[2019-10-07 03:41] #6626 closed, assigned to nobody

[2019-10-07 09:17] mstaalesen commented on #6015
It happends every time. If i clear my environment-variables, it will be quicker for a few requests. And then it gets slow again (since i have a lot of environment variables).

Because of this, I can only have 1 environment in Postman. If i change to several environments, it gets even slower.

I am on Linux btw.

[2019-10-07 09:55] breart commented on #4117
Any ETA on this feature? It's been more than a year since it was created.

[2019-10-07 10:04] elyaell commented on #7425
It doesn't work even with the requests using no variables.

[2019-10-07 10:33] aamir4hmed opened #7444 "Provide a Metadata file to upload into iDP configuration"
**Is your feature request related to a problem? Please describe.**
An Enterprise states as their requirement, that they need Postman to provide a Metadata file, so it can uploaded into a required field into their iDP configuration

**Describe the solution you'd like**
A metadata.xml file which can be uploaded into an Enterprise's iDP configuration

**Additional context**
Add any other context or s

[2019-10-07 10:44] aamir-ahmed opened #7445 "Provide a Metadata file to upload into iDP configuration"
Is your feature request related to a problem? Please describe.
An Enterprise states as their requirement, that they need Postman to provide a Metadata file, so it can uploaded into a required field into their iDP configuration

Describe the solution you'd like
A metadata.xml file which can be uploaded into an Enterprise's iDP configuration

Additional context
Add any other context or screenshots a

[2019-10-07 10:51] aamir4hmed commented on #7444
Duplicate issue: https://github.com/postmanlabs/postman-app-support/issues/7445

[2019-10-07 10:51] #7444 closed, assigned to nobody

[2019-10-07 12:34] abhishek0073 commented on #4450
+1

[2019-10-07 12:41] sidnt commented on #7426
@Kwadz it's subjective. On Mac, in Vivaldi & Opera browsers, the close tab button is on the left side of the tab while in Firefox, Chrome, Chromium the close tab button is on the right.

[2019-10-07 12:45] Kwadz commented on #7426
@sidnt, it's not subjective with an ergonomic approach. Firefox, Chrome, Chromium just break UX consistency. It's not because they are a lot to be wrong that means they're right.

[2019-10-07 12:46] sidnt commented on #7443
From where did you start dragging the request?

[2019-10-07 12:51] sidnt commented on #7443
#1066

[2019-10-07 13:28] happycappie commented on #6102
Hi Postman Team,

We also would like to have 'Super Admin' role be available.  In our case, the developer in charge of a particular Collection is out on a long holiday.  We are now unable to merge a fork into that Collection.  This is impacting our business.

What if the developer who has access were to suddenly resign or get hit by a bus?

Please consider making Super Admin access available as so

[2019-10-07 13:52] Gicminos commented on #7443
From my current open requests, as in the image:
![requests](https://user-images.githubusercontent.com/9993624/66317737-fe334700-e911-11e9-8bea-b9f5c448198e.png)

[2019-10-07 15:34] SimoTod opened #7446 "Postman API support for the new APIs Tab"
**Is your feature request related to a problem? Please describe.**
At the moment, we can't use Postman API (https://docs.api.getpostman.com/?version=latest) to interact with the new APIs tab (https://learning.getpostman.com/docs/postman/design_and_develop_apis/introduction_to_apis) therefore it's not possible to keep the api definition up to date between postman and a project stored in Github.

**

[2019-10-07 15:40] preethammavin commented on #7425
@FaithFeather  that does seem weird can you try sending a get request to `https://postman-echo.com/get?foo1=bar1&foo2=bar2` and check if you do get a response. Sending a request is independent of the workspace that you are sending it from. If it is not able to send the request can you shoot us a mail with the logs (found in top Bar View-> Developer-> view logs) and if possible a screen recording t

[2019-10-07 16:17] sankalp0o commented on #7446
Thanks for writing to us @SimoTod!

Postman API will soon let you work with APIs, this is already part of our short term roadmap. We're also considering syncing the API definition between Postman and code repos, will let you know as soon as we make progress on it.

Just curious, do you want to sync from Postman to GitHub or from GitHub to Postman? How are you using your API definition in Postman?

[2019-10-07 17:54] rhanton commented on #6232
I have a similar use-case/need for granting read/execute only action to some users on our team who use postman simply as a http API client from time to time to check/test endpoints to provide client support. It is hard to justify the cost of paying for Postman Pro/Enterprise for these users when they only use it a few times a month, but they do need access to our organization's private collections

[2019-10-07 19:14] singhravi1 opened #7447 "Header suggestion does not get hightlighted"
When you type something, for example, "auth", and press down button once, it should highlight the first suggestion which is "Authorization". If you'd press enter it would select it but *it is not highlighted*

To reproduce:
- Type "auth" in headers key field.
- You'd see two suggestions, "Authorization" and "Proxy-Authorization"
- Press down button once.
- Now, "Authorization" option should get hi

[2019-10-07 19:20] mbpakalin commented on #2182
@gioccher I cant override host header too, did u fixed it somehow this ?

[2019-10-07 21:33] SimoTod commented on #7446
Hi @sankalp0o
That's great news. My team has started a new project and we decided to use the new postman tab to define our APIs and regression tests. We also need the definition file (openapi schema) to be in our project so we can validate incoming requests against the schema and we would like them to sync automatically when the schema changes.
The direction of the sync (and our dev process) will

[2019-10-07 21:42] diawl commented on #7431
@Ghusar No collections in sync. I probably didn't even login. It worked without logging in until everything was gone. 😂

[2019-10-07 23:59] Daniel15 commented on #3290
Thank you @codenirvana!

One small suggestion: Could the "There was an error connecting to [...]" error message mention this feature? Currently it just suggests turning off SSL cert validation.

[2019-10-08 07:36] nao3301 commented on #3438
+1

[2019-10-08 07:57] stanislav-radionov commented on #4779
Hey everyone,

Do we have any updates on this topic?

Thanks in advance,
Stas

[2019-10-08 09:30] vdespa opened #7448 "Cannot set Postman variable with large numbers #7440"
**To Reproduce**
Steps to reproduce the behavior:

- Run the following code `pm.globals.set("id", 749617470231784573);`
- Check the global variables
- You will notice that the value that was saved is: `749617470581444000`
- Notice that the last 3 digits are now 0.

**Expected behavior**
Postman variables should be able to handle large numbers.

**App information (please complete the following info

[2019-10-08 09:54] sivcan commented on #519
@imtrobin I published a template that should help you out - https://explore.postman.com/templates/3769

You can import it in the app and run it to visualize any JSON / CSV response.

[2019-10-08 10:32] elyaell commented on #7425
@preethammavin well, i tried again this morning and... It works now.
There has been no change in the environment or the requests, so i'm kind of awestruck.
I will keep in touch if it happens again.
Thanks

[2019-10-08 10:32] #7425 closed, assigned to kaustavdm

[2019-10-08 12:30] kamalaknn commented on #6015
Hey @mstaalesen

Could you give us some more information regarding your environment?

1. How many environment variables do you have?
2. How big is the total size of the environment? (you can export the environment as JSON and get the character length, we just want a rough estimate)

Also, can you tell us the version of Postman you are on? We pushed some performance improvements for response render

[2019-10-08 13:46] cyrielle-hada opened #7449 "Wrong user slots availability in Team management [Web Dashboard]"
_Filed by Product Support_

**Describe the bug**

The web dashboard shows that there are no available slots for his 2 slots team while there is only one User (`Developer` role) in the team.

![Team management issue](https://user-images.githubusercontent.com/47351631/66401105-81b86b00-e9da-11e9-9d93-7580a55f2ad2.png)

**To Reproduce**

1.  Purchaser bought 2 Enterprise licenses for an Enterprise te

[2019-10-08 13:59] dmankacio commented on #7332
the same problem

[2019-10-08 15:46] seantcanavan commented on #6888
So `latest/stable` will turn into `v6/stable`? Which channel will change to `latest/stable` after that? Will the change be automatic or require uninstalling / reinstalling from the updated channel?

[2019-10-08 16:02] ronenneumark opened #7450 "Variable is not resolving for all objects when value is missing in one Json object"
**Describe the bug**
Variable is not resolving for all objects when a value is missing in one JSON object.
i would like to use JSON as reference for the collection runner, however some of the objects are not containing specific param, and I saw that runner ignore this param even if it exists in other objects in the JSON file. in the example below the following elements are missing from the first o

[2019-10-08 17:16] jpmcb commented on #285
+1 plz!

[2019-10-08 20:02] chrisdeso opened #7451 "Add support for Swagger 2.0 Path Parameters"
**Is your feature request related to a problem? Please describe.**
Currently, importing a Swagger 2.0 file that contains path parameters throws an error – `Error while importing Swagger 2.0: Could not import”`.

i.e.
[code]
* [Swagger 2.0 Path Parameters](https://swagger.io/docs/specification/describing-parameters/#path-parameters)

**Describe the solution you'd like**
Support for path parameters

[2019-10-08 21:05] pythoneer commented on #2985
Problem still exists on Version 7.8.0
linux 5.3.4-arch1-1-ARCH / x64

out of the box

@Axzc where do i change the font? I only found a setting for the font size (Settings->General->User Interface)

[2019-10-09 04:16] kamalaknn commented on #7388
Hey @timothyj-splunk @LonerKO

Thanks for reporting this issue. I tried reproducing this issue by creating a mock server that returns the JSON you have provided(https://6113ac09-2d1b-4a7b-9dc9-9e888e3de159.mock.pstmn.io/get). I don't see any issues and the formatting is applied correctly.

Also, I don't see any difference between the two JSON texts you have provided.

If you are seeing the JSON no

[2019-10-09 05:04] abhijitkane commented on #7451
@chrisdeso We're working on the issue that's preventing importing this sort of schema. However, on the Swagger Editor, this schema shows an error -
[code]

[2019-10-09 06:22] manishbeetch commented on #7294
I am facing the same problem. Postman keeps consuming high cpu even with 0 requests in the workspace. after closing the app it keeps running in the background, consuming large amount of CPU.
Native App
Version: 7.8.0
Windows 10  version 1903

[2019-10-09 08:08] ebookerd1 commented on #3455
Could another button in the snippet screen be added to resolve the pre-request variables from the previous sent request? That would be go enough for me in regards to this issue.

[2019-10-09 08:42] koreyba commented on #7448
Actually for me setting of variables just doesn't work at all with latest update (7.8.0)
This doesn't work:
pm.environment.set("variable_key", "variable_value");
pm.globals.set("variable_key", "variable_value");});

[2019-10-09 09:04] nouknouk commented on #5290
highly interrested too ; this would be very helpful and time saving to have auto-completion in the request body, both for writing & reviewing actual values.

[2019-10-09 09:09] elssar commented on #7136
This is not something we can do anything about as it is related to your internal network configuration/setup. You can run the following collection to check whether there is a network level block on the Postman app's user agent - https://documenter.getpostman.com/view/6314135/SVfJTB7J

[2019-10-09 09:09] #7136 closed, assigned to elssar

[2019-10-09 09:09] elssar commented on #7135
This is not something we can do anything about as it is related to your internal network configuration/setup. You can run the following collection to check whether there is a network level block on the Postman app's user agent - https://documenter.getpostman.com/view/6314135/SVfJTB7J

[2019-10-09 09:09] #7135 closed, assigned to elssar

[2019-10-09 09:10] elssar commented on #7077
Closing the ticket since we haven't been able to reproduce.

[2019-10-09 09:10] #7077 closed, assigned to elssar, godfrzero, anudeepmedicharla

[2019-10-09 09:11] #6288 closed, assigned to pankajkumar005, ArjunSingh-PM

[2019-10-09 09:14] elssar commented on #6827
Closing the issue due to inactivity.

[2019-10-09 09:14] #6827 closed, assigned to elssar

[2019-10-09 09:21] tomsowerby opened #7452 "Feature Request: Access raw API definition file"
The new API definition section is great, and it generates good documentation. We’d like to use it as the “source of truth” for our API specification, but to do that, we would need a way to access a particular version of the raw file so that it can be used during the validation stages of our build process.
I can’t see a way to do this.

Ideally, an export endpoint would be available on the API to r

[2019-10-09 09:30] m3dbedb opened #7453 "Global variable is exist, but not shown in GUI"
**The bug description**
Postman variables dropdown menu shows empty list of global variables, but tests shows globals variables, defined at previous step

**To Reproduce**
1. Work in Postman to make it crash (https://github.com/postmanlabs/postman-app-support/issues/6469)
2. Start Postman again
3. See data loss (there is no collections and variables)
4. Load some collection and environment
5. Run

[2019-10-09 09:45] tomsowerby commented on #7452
Perhaps could be solved by https://github.com/postmanlabs/postman-app-support/issues/7446 actually. I'll consider this related.

[2019-10-09 09:45] #7452 closed, assigned to nobody

[2019-10-09 09:46] m3dbedb commented on #6469
The issue is reprodused in Postman 7.8.0 under windows 7 32 bit

[2019-10-09 10:11] zihotki commented on #6723
It's sad that version 7 and onwards creating so many blocking issues. I wish they paid more attention to the quality control.

[2019-10-09 11:44] Raj-postman commented on #7276
User is now able to Submit the support ticket.  Hence, closing this issue.

[2019-10-09 11:44] #7276 closed, assigned to abhijitkane, elssar

[2019-10-09 12:31] Cugar15 opened #7454 "json key including char '-' not referenced correctly"
Following json is returned by the website:

`
{
    "x-access-token": "some_stuff"
}
`

In Tests, the following code is executed:

`
var data = pm.response.json();
console.log(data.x-access-token);
`

The following error is created in the console:

`
ReferenceError | access is not defined
`

Looks like the key is cut after the '-'

Any comments/help?

Thanks

[2019-10-09 13:03] ryankeener commented on #7350
@HarpunDK I've been frustrated by this as well and I agree that it's unexpected behavior. However, I just learned that if you 'duplicate' a request from the sidebar instead of a tab it will create a copy that is not linked to the original. Having the same command do two different things is bad UX but hopefully that workaround helps you out.

More info here: #4938

[2019-10-09 13:21] jagfarrell opened #7455 "Define which SSL Certificate to use when sending the message"
PROBLEM:

I'm using Azure API Management for my customers. The endpoint for all customers is the same. Using the SSL Certificate thumbprint, I'm directing the requests to the appropriate environment.

When I add a second SSL certificate for the same endpoint, but with a pfx for a different client, it overrides the initial SSL certificate uploaded. I can only have one pfx defined for the endpoint w

[2019-10-09 13:51] labifrancis commented on #6521
A user is still experiencing this issue on version 7.8.

After working with the app for a while, the user gets the black screen.

[2019-10-09 14:48] edoreld commented on #6780
Is there a solution to making Postman work behind a proxy? I would like to use it at work, but can't actually because of this error.

[2019-10-09 15:07] edoreld commented on #6780
Nevermind, it works after configuring proxy settings in terminal.

https://www.serverlab.ca/tutorials/osx/administration-osx/configuring-a-network-proxy-for-osx/

[2019-10-09 15:14] argex18 opened #7456 "Greetings. Avast Free Antivirus was installed by this version of Postman: "https://drive.google.com/open?id=1sAZWnJZ08FZH30PY19oLNw0Vi6ft3DrN". This was done without asking my consent before. I'd like to know why and if this had happened to other people before. I'd also want to tell that, because of this unlucky event, i had to format my pc to make it work fastly as previously. Regards"
**Notice**

If you've found a vulnerability in our service or website, or want additional information regarding how we manage security, please send an email to security@getpostman.com. We will review it and respond to you within 24 hours. Please use our [PGP public key](https://assets.getpostman.com/getpostman/documents/publickey.txt) to encrypt your communications with us.

If you are a security

[2019-10-09 15:33] cyrielle-hada opened #7457 "Improve Invite member flow in Team Management"
_Reported by Product Support_

**Is your feature request related to a problem? Please describe.**

The flow to add support-only accounts on [https://go.postman.co/team/invite](https://go.postman.co/team/invite) may be confusing as the action of adding Via Email automatically attributes the Developer role and you cannot untick the box for Developer while there is no slot available for the team.

![

[2019-10-09 16:59] einnor commented on #3358
+1

[2019-10-09 17:22] Warkdev commented on #2240
Hello folks,

Are you planning to integrate kerberos authentication? That would be handy in several cases.

Regards.

[2019-10-09 23:31] gofydo commented on #5039
i'm running Version 7.8.0 (7.8.0) and running in the same issue.

[2019-10-10 02:00] yunji7 commented on #3358
+1

[2019-10-10 03:40] klowdo commented on #1070
+1

[2019-10-10 03:54] happycappie commented on #1070
+1

[2019-10-10 04:02] ylanhds commented on #6650
The problem still remains unresolved
To Reproduce
Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/24424233/66538113-9a00c500-eb55-11e9-9c31-c08ee10bb450.png)
![image](https://user-images.githubusercontent.com/24424233/66538136-b270df80-eb55-11e9-88a7-537907d992da.png)

[2019-10-10 04:22] ninyawee commented on #5309
Hello 👋 , any progress on this issue.

[2019-10-10 07:02] parkerroan commented on #973
Also ran into this issue, url encoding would be a nice addition

[2019-10-10 07:46] blackcater commented on #5294
Any update?

[2019-10-10 08:50] augar5 opened #7458 "Provide Chinese language support"
I can provide english-chinese translation, which is free

[2019-10-10 10:51] joseviro commented on #3646
+1

[2019-10-10 11:56] Samelandslaget commented on #2934
As several people have written, adding the audience as a query string parameter to the Auth URL does indeed work (with Send client credentials in body). It would, however, probably be more user friendly to make this functionality more obvious. I would suggest something like an optional Audience parameter in the GET NEW ACCESS TOKEN window.

[2019-10-10 14:50] batjko commented on #6712
No autocomplete for me (v7.9.0), and selecting a schema does not work: There's none to select for some reason?

![image](https://user-images.githubusercontent.com/7287076/66580066-b4e33180-eb75-11e9-8aef-6fd9628a982d.png)

[2019-10-10 15:25] kriggo15 opened #7459 "Session has Expired Error - Failure to Authenticate"
Note that my previous issue was closed as my IT department worked on a solution but the issue still persists. [https://github.com/postmanlabs/postman-app-support/issues/7256](url)

**Describe the bug:**
When trying to sign into the desktop app, I'm receiving an error around connecting to the authentication service. When clicking on Retry, I receive the same error. I am able to log into the web por

[2019-10-10 16:20] vdespa commented on #6748
Okay... interesting fix. Thank you for looking into it.

[2019-10-10 18:02] timothyj-splunk commented on #7388
Thank you!  I can no longer reproduce it. It was definitely there (after update) and it's definitely gone.  I may have restarted postman.

[2019-10-10 18:19] ameduza commented on #7436
Hi @shamasis , @kaustavdm - did you have a chance to review this issue? I just updated on v7.9.0 and it still lreproduces

[2019-10-10 18:47] neoeinstein commented on #2934
No. This definitely _does not work_ with Auth0 when using the `client_credentials` grant type. The `audience` field must be in the body, _not_ the query string.

<img width="987" alt="Screen Shot 2019-10-10 at 2 44 09 PM" src="https://user-images.githubusercontent.com/18165/66597360-d1c73700-eb6c-11e9-8e88-ac1b48f75c0c.png">

[2019-10-10 18:51] friend0 commented on #3466
This is RIDICULOUS. Making multiple edits across requests is super common, and I can't be sure the requests I'm building are the same ones my product team is using unless I go through every single request and save. This will be the reason I abandon this tool and cancel our team account. FIX THIS NOW

[2019-10-10 19:07] jlevitt commented on #7294
I've had high postman memory usage and sluggishness ever since upgrading to 7.x. What used to be a fast lightweight application is now a sluggish, unusable memory hog. What changed? There's a noticeable delay when clicking any UI element. Sometimes the formatting of JSON/XML responses takes ~30 seconds!

![image](https://user-images.githubusercontent.com/1840826/66598624-6894f300-eb6f-11e9-8b7d-c2

[2019-10-10 19:52] kamalaknn commented on #7294
@jlevitt  We are looking into the cause for these issues. Could you give us a bit more information to help us identify the root cause?

1. How many request tabs do you have open?
2. How many saved requests/collections do you have?
3. What is the average size of the request in the tab/collection/history?
4. How many variables do you have in your active environment?

[2019-10-10 20:46] vdespa opened #7460 "Inconsistent Postman variables pm.* API"
**Describe the bug**
With the introduction of writable collection variables In Postman 7.9.0, the pm.* API has become even more inconsistent.

**Let's recap**

You set a global variable with: `pm.globals.set()`
You set an environment variable with: `pm.environment.set()`
You set a collection variable like `pm.collectionVariables.set()`
You set a local variable with `pm.variables.set()`

Notice how

[2019-10-10 20:47] jlevitt commented on #7294
Sure thing, thanks for the quick response!

It varies, but generally ~10. Closing tabs doesn't seem to help though.

The main collection that our company uses has 735 requests. I have 12 other collections with a combined total of 279 requests.

For the request body? Most would be less than 500 bytes. The response bodies can be multiple megabytes. The issue doesn't seem to improve when I close tabs

[2019-10-10 20:59] marciobarroso commented on #285
+1 plz

[2019-10-10 21:09] MichaelPeter-Shockoe commented on #7084
@Raja-Simha I do not believe this is a duplicate of the issue you mentioned. That issue describes a use case where the documentation is still consumed only by logged in team members. The ask here is for limited public sharing outside of the team.

My team also has a strong use case for this. We work with a number of clients who would benefit from viewing our API documentation but do not merit a se

[2019-10-10 21:14] krishnakumar-tce commented on #1380
any update on this? this would be very useful to view pdfs inline in response or in console

[2019-10-11 00:39] peterb0yd commented on #4791
@dmorrow is this feature available somewhere? I'm not seeing the option to add confirmation to a request. Would love this feature! Thanks.

[2019-10-11 02:22] dmorrow commented on #4791
No, this is something I requested that never got implemented as far as I can tell.

[2019-10-11 03:43] dfc12315 opened #7461 "Software Carton can't. Opening it takes more than 50% of the CPU."
Software Carton can't, open it will take more than 50% of the CPU, how to solve this problem?

[2019-10-11 03:57] #7461 closed, assigned to nobody

[2019-10-11 05:07] kamalaknn commented on #7294
@jlevitt  Thanks for the info. I have some follow up questions,

1. How big are your request descriptions, pre-request, and test-scripts? Do you use a lot of URL query parameters or form-data/urlencoded body type?
2. How big are your responses on average?

We don't have a quick workaround that you can apply on existing apps, but when we have the fixes ready we will push the changes to Canary first

[2019-10-11 06:43] pnadkar commented on #5194
+1

[2019-10-11 06:44] BernierCR commented on #7294
I don't think it's related to any of that stuff. I have very few things loaded. It was still horrible. It was actually good today, but earlier in the week, horrible. How am I supposed to develop an API if postman uses all the CPU? There's no cpu left for the API. So it takes 10 seconds for your API call because postman and the server are running on the same computer at that point. Today it was fin

[2019-10-11 07:01] anthony-alekseiev commented on #5194
+1

[2019-10-11 07:06] vbisrikkanth commented on #4058
+1 This something that we would like to have as well.

[2019-10-11 09:56] vvs11 commented on #7454
Hi @Cugar15 , Thanks for writing in
can you try using `console.log(data['x-access-token'])`?
let us know how it works out 😄

[2019-10-11 10:06] vladox commented on #4272
Version 7.8.0, still missing:

![image](https://user-images.githubusercontent.com/2648461/66643685-8883ef80-ec1f-11e9-9736-67d5a8647bb4.png)

[2019-10-11 10:20] Sevyls opened #7462 "API Editor misses validator details, templates, autocomplete"
**Is your feature request related to a problem? Please describe.**
I tried to write an OpenAPI 3 Spec with Postman, but got only a generic error message when the spec was not fulfilled: "Invalid schema supplied" (when trying to generate collection for docs

Other tools like https://github.com/p1c2u/openapi-spec-validator do give more detailed problem descriptions where to fix the missing syntax, i

[2019-10-11 11:21] Cugar15 commented on #7454
yes, this works...

Thanks!

[2019-10-11 11:21] #7454 closed, assigned to nobody

[2019-10-11 11:30] BrambleRamble opened #7463 "Cannot import collections/environments in 7.9.0 without being a member of a workspace"
My team's standard workflow in Postman is to import/export collections and environment files, which we manage separately according to our more general development process.

As of Postman 7.9.0, using the Import button or importing through the Manage Environments dialog opens a 'Only members of a workspace can perform this action' dialog:
![image](https://user-images.githubusercontent.com/40172442/

[2019-10-11 11:30] rkpatnaik opened #7464 "Postman crashes on start"
**Describe the bug**
Whenever I am trying to open postman app, it crashes. It brings up the screen but closes instantaneously.

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version: 7.8.0
 - OS: Windows 7 64-bit

**Additional context**
I tried to uninstall the app and re-install the same, but the issue still persists.

[2019-10-11 12:32] vvs11 commented on #7412
Hi @untone, Thanks for writing in!
Could you elaborate a little more on your requirement? It'd be great if you can give us the use-case you're trying to solve using this.

[2019-10-11 12:57] plusonedev commented on #3553
I just ran into this issue.  It has hidden a bug in our app for months.

[2019-10-11 13:33] Absynth723 commented on #3438
+1 I'm evaluating Postman and I gotta say I was dumbfounded when I noticed that documentation cannot be exported to PDF.

[2019-10-11 13:48] ecournane commented on #6105
I have the same issue, my collections are only being saved if I modify them.  Otherwise they are not synchronized.  Should they be synchronized and this is a defect I am experiencing?  Or is this a feature that needs to be added?

[2019-10-11 13:59] fglazemakers opened #7465 "Environment sync not working anymore"
**Describe the bug**
We work in teams and when a user adds/changes environment variables theyre values are not synced anymore to the other team members which worked previously without issues. Even when syncing explicitly. Noticed issue since 10/10/2019. We see the variable key appearing but not the values.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to environments and add variable wi

[2019-10-11 14:02] jlevitt commented on #7294
@kamalaknn

We don't use request descriptions or pre-request scripts. Our test scripts are only on a few requests and none are longer than 5 lines. We normally don't use query parameters, but when we do it's no more than 3. We don't use form-data; it's all json or xml.

It varies wildly depending on if we're calling list routes or singular routes. For a list route, ~500kb would probably be average

[2019-10-11 15:33] sbiemont opened #7466 "Simultaneous headers content-length and transfer-encoding leads to ParseError"
**bug**
When both headers `content-length` and `transfer-encoding` are present, postman raises a `ParseError` and prints the message "Could not get any response".

**example**
`transfer-encoding: chunked`
`content-length: 250`

It's not coherent to have these 2 headers in a response (but they can be present).
If so, the `content-length` could be used first, without checking the `transfer-encoding`

[2019-10-11 15:51] rirribarren opened #7467 "Can't move folders or reorder scripts within folders in tree view"
**Describe the bug**
Running Postman 7.9.0 client on mac, I created a copy of a folder and when I click and drag it to another location, releasing it to another collection or another folder does not release (and move) the folder to the intended location. The same problem happens when attempting to reorder scripts within the same folder.

**To Reproduce**
Steps to reproduce the behavior:
Click and

[2019-10-11 16:00] rirribarren commented on #7467
Found issue to replicate when using only the mouse (touchpad worked fine).

[2019-10-11 16:00] #7467 closed, assigned to nobody

[2019-10-11 17:58] preethammavin commented on #7463
@BrambleRamble for you to view the environment you need to be in a workspace, saying that there is a default personal workspace every user is a part of if you are trying to import into that it will import the collection/environment. This is usually shown when you are working in a team workspace, for which you need to be a part of it import/create/edit data in that workspace.

I would want to under

[2019-10-11 18:01] preethammavin commented on #7441
@jeffska we are working on enabling all history to be fetched on demand, there is a limit on historical data synced when you sign-into the client by default.

Will keep the thread updated with the results.

[2019-10-11 18:12] preethammavin commented on #7459
@kriggo15 that shouldnt happen, can you verify if it occurs on other networks as well?

Can you try running the collection in this documentation so that we know if we are able to connect to our service, https://documenter.getpostman.com/view/6314135/SVfJTB7J?version=latest. Thanks

[2019-10-11 18:19] preethammavin commented on #7465
@fglazemakers as you mentioned that the variable_keys are present but not the values, most likely the users are updating the current value which is only kept locally and not synced. This is done in case you want to keep API-keys or access tokens in environment variables and do not accidentally sync them across.

For the values that you want to sync please keep them in initial value as these are sy

[2019-10-11 18:19] #7465 closed, assigned to nobody

[2019-10-11 18:23] 21anujashah commented on #3438
Right now, I am doing print as pdf and saved in the directory .  I am waiting for this feature

[2019-10-11 19:01] jayanmjoseph commented on #3174
Is there an update on this requirement?

[2019-10-11 20:13] Qix- commented on #7194
Can be reproduced using the [pet store example OpenAPI specification](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml).

![image](https://user-images.githubusercontent.com/885648/66682079-67012300-ec74-11e9-9062-d494aaf60e86.png)

[2019-10-11 21:07] lordrhodos opened #7468 "OpeanAPI import Error Message Not Helpful"
**Describe the bug**
Can not import a valid OpenAPI speficication from a local file and can not get any further information what the error is. The only information I get is:

**To Reproduce**
Checkout the repository here:

https://github.com/rodacker/members-openapi-specification

and try to import the specification here
https://github.com/rodacker/members-openapi-specification/blob/postman-error-

[2019-10-11 21:35] lordrhodos opened #7469 "App opens in browse view after update to 7.9.0"
**Describe the bug**
After the update to `7.9.0` all links from existing collections open in a new browser tab instead of the app ... maybe MacOS related (MacOS High Sierra 10.13.6)

**To Reproduce**
click on an exisiting collection

**Expected behavior**
click should open the colelction in side the already opened app

**App information (please complete the following information):**
- mac os nativ

[2019-10-12 03:04] BruceAn1978 opened #7470 "Add changing font feature"
The default font family and size is not friendly to Chinese, the font size is smaller and is not clearly for Chinese, so it's hard to read clearly.

The best solution is change default font family to microsoft yahei and font size 12px, this is simple for the feature.

Hope postman gets better and better!

[2019-10-12 03:54] Melodyn commented on #7464
+1

Ubuntu 18.04
Yesterday I received an update to version **7.8** and the application stopped running.
![Screen](https://user-images.githubusercontent.com/26752238/66694516-00542780-ecbd-11e9-9edb-89a116b91368.png)

Log:
[code]

[2019-10-12 07:46] BigMing8 commented on #7459
I also have this situation, I entered the correct username and password, but the prompt "Incorrect credentials provided." I am a Chinese user. Do I need a VPN?

[2019-10-12 08:34] ddcatgg commented on #3358
+1

Or you can keep the raw mode, but add a table editing mode like `form-data` to json to generate json, which can also achieve the ability to add comments to json.

[2019-10-12 16:18] preethammavin commented on #7459
@BigMing8 if you are getting incorrect credentials, can you reset the password and try again?

[2019-10-12 21:24] danioso commented on #3117
Any solution for documenting the raw bodies?

[2019-10-12 23:28] hardcodet opened #7471 "Basic Auth only working the first time"
It appears as if Postman only sent the configured basic auth header on the first request - the API I invoke returns for all subsequent requests a 401. As soon as I restart Postman, I can again send 1 call, and then am back to getting the 401s. Tried that a couple of times with consistent behavior.

If I invoke the same API endpoint programmatically with the same credentials, all calls go through.

[2019-10-13 00:39] BigMing8 commented on #7459
Yes，I tried，but I couldn't get the mail!------------------ 原始邮件 ------------------
发件人: "Preetham"<notifications@github.com>
发送时间: 2019年10月13日(星期天) 凌晨0:18
收件人: "postmanlabs/postman-app-support"<postman-app-support@noreply.github.com>;
抄送: "BigMing8"<1059848654@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [postmanlabs/postman-app-support] Session has Expired Error -Failure to Authenticate

[2019-10-13 01:10] BigMing8 commented on #7459
Yes，I tried，but I couldn't get the mail！

[2019-10-13 09:48] shamasis commented on #7456
Hi,

It is unlikely that official distributions of Postman would exhibit any such behaviour. Our distributions are strongly tested and goes through a number of audits before being released. Additionally, I wouldn’t like to retain a public link to any file on GitHub if it is suspected. Please email us at help@getpostman.com

I’m deleting this thread.

[2019-10-13 09:48] #7456 closed

[2019-10-13 11:07] kamalaknn commented on #7388
@timothyj-splunk Thanks for the clarification. I'm closing this issue since there is not seen again the issue does not have enough information for us to identify any problems. Feel free to let us know if you encounter this again.

[2019-10-13 11:07] #7388 closed, assigned to kamalaknn

[2019-10-13 16:54] hoshauch commented on #1066
+1

[2019-10-13 18:44] sankalp0o commented on #7463
@BrambleRamble

*A bit about Workspaces*
Every user has a default workspace when they start using Postman called "My Workspace". They can additionally create more free personal as well as team workspaces. Workspaces help organise environments and collections by different contexts.

*Possible solution to your problem*
Now from what I understand, you or someone in your team created a workspace that

[2019-10-13 18:44] #7463 closed, assigned to sankalp0o

[2019-10-13 18:47] sankalp0o commented on #7469
@lordrhodos I'm not completely sure what's happening, but I have a hunch that you are in the "Browse" view of the app. Look for a toggle on the bottom of the screen and go to the "Build" view to continue your work.

Please let us know if this does or does not solve your problem, and maybe add some screenshots if this does not.

[2019-10-13 18:54] lordrhodos commented on #7469
@sankalp0o thx for your feedback. You are right, it was the `Browse` view and after I restarted the app yesterday it was back to "Build" view. I had never use the browse view before therefore I have been confused. Not sure if the update mechanism changes this though or if I managed to change it by accident 🤔

Anyway, why would links in the "Browse" view inside the local app link to the web app and

[2019-10-13 22:01] preethammavin commented on #7459
@BigMing8 can you write to us at help@getpostman, we will help sort it out.

[2019-10-14 07:10] numaanashraf commented on #7470
Thanks for the suggestion @BruceAn1978. We are tracking this at #4142.

[2019-10-14 07:11] numaanashraf commented on #7470
Duplicate of #4142

[2019-10-14 07:11] #7470 closed, assigned to nobody

[2019-10-14 07:37] yrong commented on #2985
this fucking issue last for 3 years, lose patience for postman

[2019-10-14 07:50] vvs11 commented on #7466
Hi @sbiemont, Thanks for writing in!
I tried sending a POST request with both the headers and its working for me.
Could you provide us with exact steps and screenshots of what you're trying to do?

[2019-10-14 08:36] Raj-postman opened #7472 "Add collection name to the requests"
_Reported by Product Support_

**Is your feature request related to a problem? Please describe.**
Unable to differentiate requests with same name of two collections

**Steps to reproduce the behavior:**
1. Create two collections - C1 & C2
2. Create requests (R1 in C1 & R2 in C2) in each collection with the same name (Eg: DataInit)
3. Click on R1, then on click on R2.
4. The request (R1) gets repla

[2019-10-14 08:45] BrambleRamble commented on #7463
Sorry for the delay in replying, I was offline over the weekend.

@preethammavin Our workflow uses Postman as a viewer, editor and ad-hoc runner, but we version the collections and environments in the same source control as our other code, which is why the importing/exporting is necessary. I don't think I've ever touched the workspace settings before today, since I don't need a team one and genera

[2019-10-14 09:24] bvic-dev commented on #5394
I'm also waiting for this, it will help a lot :)

[2019-10-14 10:01] numaanashraf commented on #6888
@seantcanavan `latest/stable` will have the Postman v7.x version after we perform this migration. For users who would like to stay in Postman v6.x (which is a very small number) can switch to `v6/stable` manually after the migration.

[2019-10-14 11:09] kriggo15 commented on #7459
I was able to connect on a different network. Appears to be a issue on my company's side on the connection.

[2019-10-14 12:26] sbiemont commented on #7466
Hi @vvs11 !

More info:
* I'm using a bearer token, in a GET request (it responses a 404 but the result is the same with a 200, I just have a lot more headers in the 200).
* The root and the token are in variables.
* Version: `Postman-linux-x64-7.9.0` on Ubuntu

All present headers in the response:
* `transfer-encoding: chunked`
* `Content-Type: application/json; charset=utf-8`
* `Content-Length:

[2019-10-14 13:16] Michael-List commented on #6682
+1

[2019-10-14 14:03] arueckauer commented on #5611
Getting this way too often on v7.9.0 (Windows). Restarting app and/or computer does not help. Any workaround? Or any news on this @numaanashraf ?

[2019-10-14 14:18] sankalp0o commented on #7463
Glad it worked for you @BrambleRamble!
We will look into why this might've happened. Thanks for bringing this to our attention and trying to reproduce it!

[2019-10-14 14:29] sankalp0o commented on #7469
Glad this worked @lordrhodos!
Do you use multiple workspaces? Sometime when you switch to another workspace which you haven't joined (through the dropdown on the header in the middle), you end up in Browse view by default.

Regarding your question, the links open in the web app for the time being but we are making efforts towards changing this behaviour. There are a couple of design as well as eng

[2019-10-14 15:16] vivirusdi commented on #7472
I prefer:
1. Each request only opens in New tab, if it is Edited/ Save/ Request sent (Default)
2. On each request there is a description of the parent Collections for that Request. Workspace I think is optional since usually works only on a specific Workspace.

[2019-10-14 15:29] zthulj commented on #1906
+1 ..

[2019-10-14 17:19] bskiefer commented on #3807
Yeah... never going to happen.

[2019-10-14 17:34] saswatds commented on #7283
Hi this issue has been fixed in the latest version of the app v7.9.0.
Closing this issue now. Feel free to re-open incase you find otherwise.

[2019-10-14 17:34] #7283 closed, assigned to coditva

[2019-10-14 17:41] Omsad commented on #7294
Is there a way to log what Postman is doing? I came back to the below after having closed Postman some hours ago. The user interface was no longer visible but the process as still running in the background.

![image](https://user-images.githubusercontent.com/18362326/66770992-debb9180-eeb0-11e9-95a5-d1b5aa866326.png)

I'm using version 7.9.0. Earlier that day I had updated one variable which is us

[2019-10-14 20:07] preethammavin commented on #7459
@kriggo15 got it, if you are stuck the next time, do run the collection the logs are quite informative to understand if the issue is with the network. :)

[2019-10-14 20:07] #7459 closed, assigned to nobody

[2019-10-14 21:24] jehrlich opened #7473 "API schema in source control"
**Use Case**

In API-first development, the API schema should be under source control. In my case, this is a github repo with a folder for each openAPI schema and a branch cut for each released version. Now I want to copy each released schema to Postman, or better yet point Postman to my repo directly. The schema may include multiple files, a root file named `openapi.yaml` and files for components

[2019-10-14 23:56] adritabhor opened #7474 "Fresh login doesn't show my collections right away"
**Description**
I was logged out of Postman App, when I logged back in as an enterprise user into the team, my collections list was empty. Then I clicked around and moved back to the collections tab on the left, my older collections got populated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login page for the Postman Client App
2. Login as an Enterprise User into the team.
3. Click

[2019-10-15 00:28] sunergeo commented on #4009
badly needed

[2019-10-15 04:42] harryi3t commented on #7241
@KlasikTom @Tomis1 Postman v7.9.0 was just released. Can you try updating to it?

[2019-10-15 05:55] Raj-postman opened #7475 "Loss of data (Collections/Environments) after updating to the latest version"
_Reported by Product Support_

**Describe the bug**
Once the Non-signed-in users update the application then the data doesn’t transfer over to the new app version and gets lost

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the Postman native app without being signed-in
2. Create any collection/ environment and save it
3. Update the app version
4. The data that are present locally in

[2019-10-15 06:02] g-macd opened #7476 "Collections did not get unarchived on upgrading"
**Describe the bug**
I am an Admin for our Team. We were previously a Free team, and our Collections were Archived. We have since upgraded to Pro, but i cannot get to the /usage/archive page to un-archive our collections. When we try, we receive error message

_**You don't have permissions to view this page**
Only users with the plan can view this page._

**To Reproduce**
Steps to reproduce the be

[2019-10-15 06:33] khushboobansal1910 commented on #1947
upsert is not working. It is appending the new value to previous value and not updating it to a new value.

[2019-10-15 09:02] kolonuk commented on #5226
Bit late, but yes, this is now fixed in 7.8.0.  Thanks!

[2019-10-15 09:03] ManikandanRajendran commented on #3174
+1

[2019-10-15 09:11] kamalaknn commented on #7475
@Raj-postman This report is from an old version of Postman. Are we seeing the same issue in the latest versions of Postman as well?

[2019-10-15 09:31] Link631 commented on #4137
How can I install Postman Client offline? When I run the 64 bit setup.exe on my mashine, I get an error that I can not connect to the authentication service. Because of that I am not even able to install postman.

[2019-10-15 11:23] ankurdengla commented on #5143
Fixed in Postman v7.9.0

[2019-10-15 11:23] #5143 closed, assigned to nobody

[2019-10-15 12:44] MarKco opened #7477 "Missing example data when importing openapi3 in postman v7.9.0"
I'm importing a swagger openapi 3.0.0 file in Postman. I have some example data in swagger that I'd like to be synchronized in the postman collection.

Example of example data:

[code]

I tried three different ways:

1- Importing the JSON/YAML as it's exported from swagger directly in Postman. It works and I get the collection with all the methods I'm looking for BUT I'm missing example data. For

[2019-10-15 13:05] cyrielle-hada opened #7478 "Data Loss - data removed after first sign-in (when using the app w/o account)"
_Filed by Product Support_

**Describe the bug**
Data does not transfer over after the very first sign-in of a non-signed-in user.

**To Reproduce**

1 - Using Postman w/o being signed-in - `Skip signing in and take me straight to the app` - on a version 6.7.4
2 - Have a bunch of locally populated data.
3 - Sign in to an old account (in this scenario an account already exists so **the data loss oc

[2019-10-15 13:08] sankalp0o commented on #7473
Thanks for the feedback @jehrlich!
We're working on providing integrations so that the schema can remain in sync with code repos. We're also considering multi-file schema support.

We recently released the support for adding and modifying schema using the Postman API, so you might be able to use this to keep your schemas in sync till we work on a proper integration. Take a look at the documentatio

[2019-10-15 13:11] sankalp0o commented on #7446
@SimoTod We released support for endpoints around APIs, API versions, Schemas and Relating other entities with the API. Please check the documentation here - https://docs.api.getpostman.com/?version=latest#1d08c63e-6d79-4dc7-9e87-ee15de1d74a0

Let me know if this does not help solve your use case.

[2019-10-15 13:13] sankalp0o commented on #7452
@tomsowerby Just released endpoints for working with schemas, please check it out - https://docs.api.getpostman.com/?version=latest#1d08c63e-6d79-4dc7-9e87-ee15de1d74a0

Let me know on  #7446 if there's anything we can do to improve it!

[2019-10-15 13:15] cyrielle-hada opened #7479 "Data Loss - data removed after being prompted to sign in"
Filed by Product Support

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1 - Sign in to the application and uncheck `Keep me signed in` from the sign-in modal.
<img width="419" alt="Screen Shot 2019-10-16 at 12 39 57" src="https://user-images.githubusercontent.com/47351631/66915990-34f41600-f012-11e9-8ea6-8f3e2ee36c96.png">
2 - Create a few collections a

[2019-10-15 13:20] sankalp0o commented on #7476
Hey @g-macd , thanks for writing to us. When you upgraded, all archived collections would've been unarchived and restored to respective workspaces. Is there a collection that was archived but you can't find now?

The messaging on the page is misleading and we will correct that.

[2019-10-15 13:48] jehrlich commented on #7473
@sankalp0o asks how I hope to use the Postman schema.

I maintain a server which supports several apps maintained by developers I employ (not unlike Postman itself in many ways). How should I introduce a new feature? Like this:
1. add an issue to the github repo holding an openAPI specification of the API. When server and app developers agree on what endpoints will be needed for the new feature, c

[2019-10-15 13:51] ramchandravgr commented on #723
@pareshsji , instead of undefined,  '0' is giving correct result

pm.test("Check JSON Response body is empty", function () {
    var jsonData = pm.response.json();
    pm.expect(jsonData.length).to.eql(0);
});

[2019-10-15 14:20] 3579km opened #7480 "Cancel shares and return to free plan"
Hello,

For now my collections is archived.
How can I cancel my shares for team and continue use and add collections without sharing it?

[2019-10-15 14:32] SimoTod commented on #7446
Thanks @sankalp0o, it looks perfect. I'll give it a go. Thanks again.

[2019-10-15 14:42] jonsworkalias opened #7481 "Disable Auto-complete/Typing suggestions in postman - getting unneeded/unrelated suggestions"
**Describe the bug**
(not new, been happening for a while)
Frequently when editing code in postman I will mouse in to a section of code and delete a letter, or otherwise edit the code, and postman tries to suggest variables to replace the partially edited text. If I use the arrows to navigate it will often replace things I never intended. I have to hit esc or use the mouse to click away to get rid

[2019-10-15 14:43] jehrlich commented on #7397
I think @rpbarbati is describing what I just ran into. Given this snippet from an openAPI.yaml schema:
[code]
The collection generator creates a request for `user2`, or if the `user2` example is removed, then the request has placeholder data. The generator should generate a request for `user1` with the above snippet.

[2019-10-15 16:04] SimoTod commented on #7446
@sankalp0o Sorry, it may be a silly question but how can I get the schemaId to call getSchema ({{url}}/apis/{{apiId}}/versions/{{apiVersionId}}/schemas/{{schemaId}}).

I was expecting to have a getAllSchemas ({{url}}/apis/{{apiId}}/versions/{{apiVersionId}}/schemas}). Would it be possible to add it?

[2019-10-15 16:29] TasMot opened #7482 "Disable Automatic Updates"
**Describe the bug**
Due to security concerns, all development is done in an offline environment. There is no connection to the wider Internet and there will never be one. So while I am in Postman there is a red dot on the wrench telling me that the updates failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman on an offline machine
2. Wait about 2 to 5 minutes
3. At the top

[2019-10-15 17:31] jitDotBlake commented on #3117
Any updates?

Suggestion: provide a comment box per JSON key (like form-data, path variables, etc.)

Schemas are cool, but I don't believe it's what this request is about - people at #3358 would appreciate raw JSON body commenting too.

[2019-10-15 17:54] SimoTod commented on #7446
Sorry for the noise, I think I found the answer to my question and a small bug. The documentation says that the ApiVersion object should include a list of schemas (https://docs.api.getpostman.com/?version=latest#e7e1d153-a66c-4ecc-b541-864543d14198) but, at the moment, it doesn't.

[2019-10-15 18:05] lehoa2411999 opened #7483 "Error: connect ECONNREFUSED 127.0.0.1:8080"
**Describe the bug**
Could not get any response
Error: connect ECONNREFUSED 127.0.0.1:8080

**To Reproduce**
Steps to reproduce the behavior:
1. I created request post with url is http://localhost:8080/api/users
2. In header,
Request Headers:
Content-Type:"application/javascript"
Accept:"application/json"

3.  In body,
firstName:"Hoa"
lastName:"Le"
email:"lehoa08121998@gmail.com"
password:"lehoa12

[2019-10-15 18:07] stcalica commented on #6152
@Cazaimi Any updates? I have a user waiting on this bug to be fixed.

[2019-10-15 18:16] johanlunds opened #7484 "APIs Beta: Mock server endpoint /things/:id will instead go to /things"
**Describe the bug**

Using APIs Beta and creating a Mock server with 2 endpoints (using a Swagger/OpenAPI 2.0 spec in "Define" tab) like `/things/:id` and `/things`, when sending a request to `https://25f-....-547a.mock.pstmn.io/things/32` you will get response for `/things` back instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Use APIs Beta
2. Create API using Swagger 2.0 spec and

[2019-10-15 18:33] david-creigh-msi opened #7485 "Typo ("Path Varaibles" -> "Path Variables") in "Find" menu filter dropdown list"
**Describe the bug**

There is a typo in one of the entries in the "FILTER (ALL FIELDS)" dropdown list.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open "Find" menu (crtl + shift + F)
2. In the text entry field with the prompt "Enter text to find...", type anything at all (the search terms are completely irrelevant)
3. Click "Find" button
4. In either the "Open tabs" or "Collecti

[2019-10-15 22:33] g-macd commented on #7476
Hi @sankalp0o, our collections weren't unarchived, and the postman app is still saying "Some collections were archived because you’ve reached the shared requests limits."

Our team is https://asp-it-devops.postman.co, are you able to check & unarchive them?

[2019-10-16 02:18] MMRandy commented on #1667
Awesome, thank you!  The "Save Response" behavior is a little quirky imo...not really sure what it accomplishes.  Seems like you still have to fire the captured request again and save as an Example.  Why can't the Original captured request include the Saved response during the History capture process?  Regardless...thank you  for your work on this feature, it's been missed!

[2019-10-16 02:48] godfrzero commented on #7263
As of now, this only affects admins attempting to delete a monitor which they do not have access to otherwise. A fix is in the works.

[2019-10-16 03:19] wisteso commented on #7352
For the past month, Postman has been logging itself out of the sessions way too quickly.  I typically have to re-log in several times a week now (which is a hassle when using Google + 2FA).

This is a webservice client, not a banking website.  It doesn't need to be that aggressive on security.

[2019-10-16 04:11] preethammavin commented on #7352
@wisteso can you write to us at help@getpostman.com so that we can take a closer look at why your sessions are expiring so quickly. At the time of signin if the remember me check box is checked we keep the session active for 30 days, would help us get to the bottom of it quickly if we check there are any weird behaviours around it.

[2019-10-16 05:02] xk0der opened #7486 "Indicate if Google Account was used to setup Postman account when requesting password resets"
**Is your feature request related to a problem? Please describe.**
A user may forget that they had used their Google Account to create a Postman account.
And if they request for a password reset, that would not work for them

**Describe the solution you'd like**
The reset email should include that a Google Account was used, which would be helpful to the user trying a password reset.
Might also app

[2019-10-16 05:45] sankalp0o commented on #7476
Thanks for getting back! This looks like a bug, we'll take a look and fix this as soon as possible.

[2019-10-16 05:49] ubuntu2204 opened #7487 "不能正确删除字码"
**Describe the bug**
body->raw->json
已经打的很多字，删除的时候，删掉的不是想要删掉的字

**Screenshots**
![image](https://user-images.githubusercontent.com/44113641/66891408-abe1dc80-f01b-11e9-8010-fab2131d86de.png)

**App information (please complete the following information):**
 - App Type [ Native App]
 - Postman Version [v7.9.0]
 - OS: [ubuntu1804lts]

[2019-10-16 05:53] ramya303 opened #7488 "PUT requests are not getting executed correctly through Postman"
I am trying to execute a PUT request through Postman, but I get the error as '405Method Not Allowed'.
On looking at the response, I see that the method name 'PUT' is passed incorrectly as 'UT'

Refer the below image.

![image](https://user-images.githubusercontent.com/19899372/66891591-35d37a80-f007-11e9-9148-85ca5c6f2250.png)

[2019-10-16 07:02] Cazaimi commented on #6152
@stcalica , this fix should be out on the Web dashboard on the 17th, with the fix on public documentation following a couple of days later.

[2019-10-16 07:05] codenirvana commented on #5053
Postman v7.9.0 added support for new **pm.collectionVariables** API which gives you more control over interacting with the collection scoped variables.

Just like `pm.environment`, it's an instance of [VariableScope](https://www.postmanlabs.com/postman-collection/VariableScope.html) and has all the methods available like:
[code]

[2019-10-16 07:05] #5053 closed, assigned to codenirvana

[2019-10-16 07:12] codenirvana commented on #6380
@aqeelsmith @naclma @teunis90 Postman v7.9.0 added support for bypassing global proxy settings on a per-host basis.

![Screenshot 2019-10-16 at 12 39 18 PM](https://user-images.githubusercontent.com/4865836/66896236-0d04b280-f012-11e9-8793-6087d829a8de.png)

Try it out and share the feedback.

[2019-10-16 07:12] #6380 closed, assigned to codenirvana

[2019-10-16 07:32] Warkdev commented on #7464
Hello,

I have the exact same problem. Wiping Postman data allows to get it back but the problem is re-occuring usually within the same day:

`{
	"_e": {
		"message": "",
		"name": "Error",
		"stack": "Error
		at getErrorWithStack (file:///C:/UserTemp/Apps/Postman/App/Postman/app-7.9.0/resources/app.asar/js/vendor-shared.js:152313:12)
		at new DexieError (file:///C:/UserTemp/Apps/Postman/App/Postm

[2019-10-16 08:02] codenirvana commented on #3942
Hey everyone 👋
We've made some improvements in the latest version of the Postman app (`v7.9.0`) to fix issues around proxy configuration.

We understood the problem discussed in this issue thread and also noticed that few users (knowingly or unknowingly) rely upon the proxy configuration using the`HTTP_PROXY`, `HTTPS_PROXY`, and `NO_PROXY` environment variables.

So, we added a new setting under t

[2019-10-16 08:02] #3942 closed, assigned to codenirvana

[2019-10-16 08:36] kamalaknn commented on #7306
Hey @maknahar

I'm closing this issue since we are not able to see similar issues and we do not have enough information to reproduce this issue. Please do get back to us if you are seeing this issue again.

[2019-10-16 08:36] #7306 closed, assigned to nobody

[2019-10-16 09:24] Cazaimi commented on #7433
Duplicate of #6152

[2019-10-16 09:31] Raj-postman commented on #7475
Yes @kamalaknn, this occurs when the users update the application from 6.7 > 7.x.
Reported this as part of tracking issues on this line, will check and link recently reported tickets.

[2019-10-16 10:35] MarKco commented on #7477
I edited the issue with some further details

[2019-10-16 10:39] cyrielle-hada commented on #7347
Closing the issue - while the collection appears to be in the personal workspace, it is actually shared with a team workspace.
In terms of RBAC
- Any collection originally created by a user, that is shared in a team workspace becomes a team owned collection (i.e shared collection).
- Although the shared collection coexists inside your personal workspace, it doesn’t longer belong to the personal wo

[2019-10-16 10:39] #7347 closed, assigned to nobody

[2019-10-16 11:39] godfrzero commented on #7433
Closing as a duplicate of #6152, please follow the original issue for updates.

[2019-10-16 11:39] #7433 closed, assigned to abhijitkane, Cazaimi, Raja-Simha

[2019-10-16 12:22] JedatKinports commented on #2701
+1

[2019-10-16 12:34] pvgennip commented on #7464
Same here with new release Postman 7.9.0 desktop app on Mac OS Mojave 10.14.6. As soon as app is started: popup with: **Could not open Postman** Please contact help@getpostman.com OK.
Then it continues with Preparing your workspaces... but does nothing. Any option clicked from the application menu crashes the program.

[2019-10-16 13:45] VijitCoder opened #7489 "Background suspicious activity"
**Describe the bug**
Updates are turned off:

![2019-10-16_20-29](https://user-images.githubusercontent.com/8523131/66924527-f9c70680-f054-11e9-92e9-c6c9961dad98.png)

But when I stating the program, in the background it download something and messing up in the directory, that not belongs to this program.

It doing something more cause after closing the program a strange window remains with a zero

[2019-10-16 14:45] yogevglucome commented on #2469
Anyone has a workaround for this one?

[2019-10-16 15:33] matt-ball opened #7490 "Extend Postman Monitor API to ingest results of externally run collections (e.g. via Newman)"
**Is your feature request related to a problem? Please describe.**
Whilst Newman's reporting function is highly customizable, it doesn't provide a method for feeding its results back into Postman's web dashboards.

Newman is often run on a scheduled basis whenever a Postman Monitor is not feasible: private networks, local testing, strict security requirements etc.

This is crucial to (at minimum)

[2019-10-16 15:39] brandonforster commented on #4660
Anyone know where this data is stored on macOS since the devs don't like us?

[2019-10-16 16:33] DannyDainton opened #7491 "Mock Server - No ability to add Request Headers"
**Describe the bug**

When creating a new Mock server, the wording on the modal suggests that the users can add a Request Header to the example request.

This is not an option on the list when selecting the (•••) icon. This leads to creating the new `Mock Server`, with the example requests and then manually going in and editing the example to add the request header you require.

**To Reproduce**
S

[2019-10-16 17:05] phebus commented on #7360
I am also seeing this exact issue attempting to import a valid Openapi 3.0 yaml file. If there has been any movement on this outside of this issue please advise. Thanks! I can provide any details necessary if need be.

[2019-10-16 17:25] bzmw commented on #7360
Nothing yet from the Postman team here or in a support email thread I have :(

[2019-10-16 21:19] michaelhamel-vertex commented on #5039
I appear to be having this issue on Version 7.8.0 (7.8.0). Restarting the desktop app did not resolve.

Desktop App. MacOS 10.14.6.

Environment variables appear ineffective. Collection variables work ok.

Using app while not signed in.

[2019-10-17 03:50] sankalp0o commented on #7382
@xk0der We've updated the messaging so that users don't see the "No dropdown" state and are informed that they have a role that is inherited from the Team's role on the workspace.

I know this doesn't solve the root problem that admins are not able to delete workspaces. We will track that on #6102 (which is a feature request since this is expected behaviour) and keep everyone updated on how and wh

[2019-10-17 03:50] #7382 closed, assigned to nobody

[2019-10-17 06:15] odwrotnie commented on #4009
+1

[2019-10-17 06:46] Askill commented on #3438
+1
Any news on this?

[2019-10-17 06:54] sankalp0o commented on #7473
Thanks for explaining it so well @jehrlich. This is goldmine for good feedback!

All of the things you mentioned (e.g. test generation) are already part of our roadmap and you should see them in Postman soon. If I could bother you, I had a couple more questions
1. You mentioned you use mocks. Do you use Postman Mock Servers? You should be able to generate one from the API specification (given exam

[2019-10-17 07:26] jazzyarchitects commented on #7446
Hi @SimoTod
Thanks for pointing out this issue. We have added this bug fix to our next release which should happen before end of this month.

Since an APIVersion supports only a single schema, we would be providing the list of schema ids in the `APIVersion findOne` request as stated in the documentation instead of providing a `getAllSchemas` .

[2019-10-17 07:40] bo44arov opened #7492 "Memory and CPU consumption on sending big files after request has finished"
**Describe the bug**
On a server side I needed to read just a few first lines of a large file from request stream and then return 200 (without uploading the whole file)
But once recieve 200 responce Postman still consumes CPU and memory as if posting a stream goes on.

**To Reproduce**
Steps to reproduce the behavior:
1. Create sample api method within any language that reads few lines (bytes) fro

[2019-10-17 07:52] aamir-ahmed opened #7493 "Validation disallows Identity Provider Issuer field to be filled without protocol present"
**Is your feature request related to a problem? Please describe.**
The URL that uniquely identifies the SAML identity provider in the metadata file does not contain a protocol(http, https) for one of the Postman Users, this is blocking them from saving the Identity Provider Issuer field while configuring the Identity Provider details in the Postman Web application.

**Describe the solution you'd l

[2019-10-17 08:01] saifeiLee commented on #6205
I had the same issue. And I found a solution:
1. Clear DNS cache.
[code]
2. Trun Off Postman system proxy

[2019-10-17 08:42] m3dbedb commented on #4287
I would like to clarify the issue. I have 'data' folder with two data files called

    fizusers.json
    uzers.json

1. I execute collection in runner with users.json data file applied
2. I press 'retry' in runner and it retries collection execution with first (by name) file (fizusers.json) from folder with data files.
Issue confirmed with postman 7.9.0 for windows 7 64 bits

[2019-10-17 09:21] MauriceS commented on #1066
Putting requests 1 for 1 into a folder is cumbersome. Multi-select and dragging would be so brilliant +1

[2019-10-17 09:22] MauriceS commented on #2520
Any progress on this?

[2019-10-17 10:09] ColinRichardsonYotta commented on #3697
@thisisjjd I just managed to do it using the "login from phone" not sure about the TOTP

[2019-10-17 11:02] igorbljahhin commented on #2798
Hi @abhijitkane !

I remember there were some funny messages on Postman's startup and they are gone after some version. Where I could find them? I tried to find them in the file mentioned in comment above, but there are not there anymore.

[2019-10-17 11:46] elstari-marc commented on #6015
I'm using the latest version; right now that's 7.9. On Windows 10, 64 bits, with latest update an empty environment, without any requests or variables it already starts with 600 MB memory usage.

Embarrassing.

I know it's Electron's fault, but please fix this. I'm not going to keep using Postman this way. Switch to an other programming tool with which you can produce a more elegant app.

[2019-10-17 12:34] dschmide commented on #4795
Please add the option to switch back and forth between two tabs using CRTL + Tab. Most browsers already support this.

Tab A -> Tab B -> Tab A (instead of going through C, D, E F tabs which are also open.) I really dislike using CRTL + Shift + Tab. CRTL + Tab reflects the normal Alt + Tab more closely this way.

[2019-10-17 12:38] thomaslaurent-ma commented on #3845
+1 When I run a collection containing more than 100 requests to test it, I don't want the runner to stop when one fails.

[2019-10-17 13:02] jackpowers commented on #2302
+1

[2019-10-17 13:12] grimsa commented on #7464
Same here after upgrading to `Postman 7.9.0, win32-10.0.18362 on x64`

[code]

Uninstalling the app via Programs and Features and reinstalling after downloading latest installer from the official site did not help.

[2019-10-17 13:37] jehrlich commented on #7473
At this point I am learning Postman. I have been using openAPI for some time and IT tests on the server which will definitely benefit from being transferred to Postman. Currently no mocks. I wrote the previous app myself, and now faced with the communication problems of moving from a one-man-show to team development, so what I am writing here is really a plan for moving forward.

I plan to explore

[2019-10-17 14:53] kpalczewski commented on #4563
pm.response.responseSize > 0

[2019-10-17 15:23] QUDUSKUNLE commented on #1380
Any update on this?

[2019-10-17 16:01] ritman-us commented on #6498
Any update on this request ?

[2019-10-17 16:46] WarrenFerrell commented on #2452
Hope this gets prioritized a little better. This essentially makes the built in Auth useless for a large number of applications

[2019-10-17 17:52] Aeroverra commented on #4733
Agreed, Im looking for Java and C# and honestly those are the only languages I care to display.

[2019-10-17 17:59] gangstead opened #7494 "make `zlib` module available in sandbox"
I'm trying to gzip requests.  If I could require [zlib](https://nodejs.org/api/zlib.html) in the sandbox then I could make a compressed body in a pre-request script.

The alternative I'm using now is compressing the body in a script outside of postman and then loading it as a external binary file, but I'd like to do it all in postman.

There is a related feature request to load any external file #

[2019-10-17 18:08] sorakiu opened #7495 "Postman Interceptor does not connect to native app on mac os"
**Describe the bug**
I followed the instructions listed here: https://learning.getpostman.com/docs/postman/sending_api_requests/interceptor_extension/#installing-the-interceptor-bridge/

**To Reproduce**
Steps to reproduce the behavior:
1. install native postman app
2. install interceptor bridge
3. install interceptor extension in chrome
4. turn on capture requests in chrome
5. enable interceptor

[2019-10-17 18:23] sorakiu commented on #7495
So if you run `/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome` from the command-line, it will output errors to the terminal window. It repeatedly lists `[68962:72963:1017/141837.385548:ERROR:native_process_launcher_posix.cc(89)] Error launching process`

On a whim, I also changed nativeserver-MacOS to executable:
[code]

Then I started getting security errors, so I right clicked on

[2019-10-17 18:23] #7495 closed, assigned to nobody

[2019-10-17 19:47] ThorntonStuart commented on #1070
+1

[2019-10-17 19:58] abhijitkane commented on #7495
@sorakiu Yep - this is specific to OSX Catalina. We're working on an improved installation experience.

[2019-10-17 20:24] MikeGJennings commented on #4009
+1 -- badly needed

[2019-10-17 21:12] Hossman333 commented on #5294
Hoping this becomes a priority soon!

[2019-10-17 22:00] jehrlich opened #7496 "Unable to log in or post to forum"
**Describe the bug**
Unable to log in or post to forum

**To Reproduce**
1. Go to https://www.getpostman.com/community
2. Click on Login button
3. redirected to https://identity.getpostman.com/accounts, click on my postman account
4. redirected to https://vcpr-org.postman.co/workspaces?type=personal

**Expected behavior**
at step 4 should be redirected to the discourse forum as a logged-in user

*

[2019-10-18 04:42] Sunbreak commented on #4009
Firefox just release their own WebSocket Inspector: https://hacks.mozilla.org/2019/10/firefoxs-new-websocket-inspector/

[2019-10-18 07:15] vyomanaut commented on #2469
any updates on how to fix this ? same issue with restsharp generated code on postman

[2019-10-18 07:19] Raja-Simha commented on #4733
Glad to inform you guys that private documentation can now generate code snippets for many more languages, including C# and Java, with options to configure generated code. We are going to release similar functionality for public documentation as well within a week. Happy to discuss any feedback from you guys.

[2019-10-18 07:20] i3anaan commented on #2969
Experienced this issue (twice) with a later version:

Postman for Windows
Version 7.9.0
win32 10.0.18362 / x64

Therefore I would like to request @madebysid or @70mmy to reopen this issue

[2019-10-18 07:23] Florleseige commented on #1070
+1

[2019-10-18 07:34] Raja-Simha commented on #1070
I apologize for our delayed response to this. We are looking into this and will get back to you guys once we have a plan. I appreciate your patience and feedback.

[2019-10-18 07:39] mustela commented on #6205
It's true that running that fixes the issue, but I have to do it over and over :/

[2019-10-18 08:04] sankalp0o commented on #7480
Hey Igor,

You can go to https://the.postman.co/me/export and take an export of the data. You can re-import this data into a personal workspace so that it isn't shared. For existing shared collections which aren't archived, you should be able to "Remove" them from the team workspaces they are in.

Let me know if you face problems doing this, happy to guide you further. If you don't mind, I'm curio

[2019-10-18 08:04] #7480 closed, assigned to sankalp0o

[2019-10-18 09:07] kamalaknn opened #7497 "Pressing escape when there are unsaved changes in a modal dialog closes without confirmation"
**Describe the bug**
When there are unsaved changes in a modal dialog, pressing escape closes it and leads to complete loss of the user input

**To Reproduce**
Steps to reproduce the behavior:
1. Click "Edit" on a collection
2. Enter "Description" or "Tests" or "Pre-request Scripts"
3. Press escape
4. Click "Edit" on the same collection, notice all data is lost.

**Expected behavior**
Pressing esc

[2019-10-18 09:31] harryi3t commented on #7489
@VijitCoder That is expected behaviour. You have disabled downloading the __major updates__.
Postman always downloads the minor updates and bug fixes automatically.

![Postman](https://user-images.githubusercontent.com/5207331/67082965-dc5e7d80-f1b7-11e9-8b84-8376a6e73355.png)

That being said, I think we can certainly improve on communicating this in a better way to our users.
- cc @vkaegis

[2019-10-18 09:32] #7489 closed, assigned to numaanashraf, harryi3t

[2019-10-18 09:46] AndraSafe commented on #5053
that's great that we can now use collection variables this way! It would be great if we could see them easily as well... like we have the eye icon to see environment and globals, could we also have the collection variables listed there? it could be more of a variables quick view, i guess

[2019-10-18 10:04] VijitCoder commented on #7489
But what about

What is that?

[2019-10-18 10:09] VijitCoder commented on #7489
I understood about the "minor" sense. It is about the version indeed: _major.minor.build_.

[2019-10-18 10:27] kamalaknn commented on #7489
The "Shared" window is a background browser process that uses browser stack to perform actions. This allows us to perform network and compute intensive programs(like syncing and versioning offline data) in the background without sacrificing the responsiveness of the Postman UI windows.

[2019-10-18 10:42] Ghedeon opened #7498 "[Question] Is it possible to have private environment for shared Workspace?"
Correct me if I'm wrong, but at the moment, the shared workspace environment is also shared. Is there any way to have an additional private environment for my shared workspace?

[2019-10-18 10:55] cyrielle-hada opened #7499 "Block sign out in versions < 7.xx to prevent data loss"
_Filed by Product Support_

**Is your feature request related to a problem? Please describe.**

Users who are using the app with sync disabled only have their data stored locally.

The warning that is triggered on the signout process was implemented for version 7.xx - it warns that the local storage gets wiped out once we sign out from the app.

<img width="473" alt="Screen Shot 2019-10-18 at 11 5

[2019-10-18 12:13] obecker opened #7500 "Authorization token will be shared for shared collections"
**Bug description**
In a team workspace where we have a collection of APIs and all of these require OAuth2 authentication, the received token from the authentication helper is also shared for all team members. To make it worse, it is shared independently from the environment (so all environments also share the same token). This makes the usage of shared collections nearly unusable for us.

Update:

[2019-10-18 15:09] NikolayKozlov opened #7501 "Invalid usage of access token"
When I request new access token via special window, new token actually will be used only in the last tab.

Steps to reproduce the behavior:
1. Open few request tabs (at least 2, suppose)
2. Go to 'Authorization' tab in request params in all of the tabs
3. Select type OAuth 2.0 (or some other, don't know exactly) in all of the tabs
4. Paste some token (maybe different tokens) in all of the tabs
5.

[2019-10-18 15:29] danni-popova commented on #5194
+1

[2019-10-18 16:33] preethammavin commented on #7411
@loopDelicious the issue is fixed

[2019-10-18 16:33] #7411 closed, assigned to abhijitkane

[2019-10-18 16:36] preethammavin commented on #7431
@diawl I would highly recommend keeping the collections in sync so that it is backed up continuously or keep data backed up locally.
I would like to know did you happen to do any action for this to occur, was it an update or any other action?

[2019-10-18 16:40] preethammavin commented on #7451
Closing the issue for now as the schema was not valid and the user was unblocked by editing the schema

[2019-10-18 16:40] #7451 closed, assigned to nobody

[2019-10-18 16:49] preethammavin commented on #7478
@cyrielle-hada in this case did you update then sign-in or sign-in and then update?

[2019-10-18 16:52] preethammavin commented on #7479
I am unable to reproduce the issue, can you add a bit more details? What sort of data loss do you see , is it on every app version?

[2019-10-18 16:57] preethammavin commented on #7482
I understand the concern @TasMot but taking into account that large section of users depend on Postman to dependable and have security expectation disabling minor updates are not something we provide, saying that we do give an option to turn off major version updates.

[2019-10-18 16:57] #7482 closed, assigned to nobody

[2019-10-18 16:59] prashantagarwal commented on #7267
@deepakpathania This is fixed now. Thanks for reporting.

[2019-10-18 16:59] #7267 closed, assigned to prashantagarwal

[2019-10-18 16:59] preethammavin commented on #7483
@lehoa2411999 would redirect you post the question on https://community.getpostman.com, our community is very active and would definitely be there to help you out.

[2019-10-18 16:59] #7483 closed, assigned to nobody

[2019-10-18 17:21] nezoic commented on #4551
Also seeing this issue.

[2019-10-18 17:39] swissarmychainsaw commented on #5803
Why is this closed?

[2019-10-18 20:01] nikandlv commented on #5803
@swissarmychainsaw they dont want to allow it because of security concerns

[2019-10-18 20:19] 03rohit opened #7502 "APIs could not get response from Postman whereas it works with SOAP UI?"
We have standard APIs for Oracle ERP. When I try to test APIs using the postman I am getting an error "Could not get any response" whereas with the same API URL, the same system, same parameters I tried with SOAP UI. It works absolutely fine.
Also when we tested the API with postman on my colleague's machine it works.

The screenshot of the API with error
![API Postman Error](https://user-images.g

[2019-10-18 20:46] vijayphani opened #7503 "The passed count in the collection is not correct."
The count after running a collection is wrong.

Create a collection and run the collection.  The count of passed tests is 0. Although all of them passed.

[2019-10-18 21:12] fivesixzero commented on #5905
I ran into this today while working on a project.

This project's build system/environment is huge with lots of legacy cruft, so modifying its dev-mode bind ports is nigh impossible. So the workaround of changing its ports to avoid occupying the ones Postman's Proxy Server claims by default isn't really possible.

Here's the exception from Postman's logs when this happens.

[code]

So there are re

[2019-10-19 08:05] debjeetsarkar commented on #7449
This should be fixed now.

[2019-10-19 08:05] #7449 closed, assigned to nobody

[2019-10-19 08:25] advapiIT commented on #7492
Got a similar problem when sending 256MB via JSON. Postman IDE closed (I have not checked immediatly if the process was still on. Found after 12 hour 10GB of process in RAM!!!)

[2019-10-19 13:46] Angelk90 opened #7504 "Open postman passing the information to be executed"
**Is your feature request related to a problem? Please describe.**
I'm writing the documentation for the bees, I'm using this https://redocly.github.io/redoc/#tag/pet, as you can see there is a part on the right where it shows you the type of call Get, Post, address, payload, etc.

I would do this via a button if you click to send all this information to postman to be able to set up the call and t

[2019-10-19 14:56] BartusZak commented on #492
Any update?

[2019-10-19 14:56] BartusZak commented on #1854
Any update?

[2019-10-19 19:56] shamasis commented on #7503
@vijayphani ... while we try reproducing this at our end, can you help by providing a sample collection that reproduces this issue? Also which version of app and platform are you on?

[2019-10-19 20:01] shamasis commented on #7502
Can you hit send and check immediately if any error comes up on Postman Console.

[2019-10-20 13:42] jehrlich commented on #7496
The failure was because I had not confirmed my email address. There was a warning at the top of the web UI (step 3 above), but I ignored it because I was using the app which seemed to behave correctly.

`Welcome to Postman! We've sent you an email with a link to verify your email address. Didn't get the mail? Resend it`

This makes it my error, I suppose, but a better warning would have helped. It

[2019-10-20 14:04] jehrlich commented on #7477
I find that Postman will import example data if it is provided in openapi.yaml within the request at the ` schema` level, but not using  `$ref`, or in child objects. This does need to be fixed because the workaround is very un-DRY.

For example, this snippet works for me, but defining a data object which includes an example then referring to it with `$ref` does not.:
[code]

[2019-10-20 14:21] jehrlich commented on #7311
openapi allows customization. Maybe It could work something like
[code]
which postman would translate to example data `username: {{myVar}}`

[2019-10-20 14:34] jehrlich commented on #7091
It seems to me that the way to implement this is for Postman to adopt OAS v3 as your native archiving format, adding a set of `x-postman- ` custom elements

[2019-10-20 16:09] 03rohit commented on #7502
Not sure exactly what you are requesting. I run the API by clicking on send button and in response i get the error. I downloaded the response file may be that helps.

[response.zip](https://github.com/postmanlabs/postman-app-support/files/3748045/response.zip)

[2019-10-20 18:45] thomasmoors commented on #2478
The bug seems to be back. My current version is 7.9.0 for Mac OS.

[2019-10-20 20:54] jehrlich commented on #7477
I found a more DRY way to do an example in openapi.yaml so that Postman imports it correctly. Define your example as a `component` , like in the OAS3 snippet below `example-123` is a key value chosen by me and the example object is added as the value for the `value:` entity.
[code]
Then you can reference your example like
[code]

[2019-10-21 03:37] sankalp0o commented on #7498
Hey @Ghedeon , it is not currently possible to have private environments in shared team workspaces. Can you help me understand the use case better? What are you looking to do?

[2019-10-21 04:48] kamalaknn commented on #7487
Hey @godot0413301

I am having a little trouble understanding this issue. Translating with Google shows

Are you saying that you are seeing issues with the Text editor where the text you are seeing is differing from the saved version?

If you can clarify the actual issue and give more information on how to reproduce it, we can help you better.

[2019-10-21 05:16] LouiseYau commented on #7220
will this be fixed? I'm also having this issue with putting binary files to s3 via postman (files of anysize )
This dosen't happen with put calls without binary files and this also wasn't happening in the previous version of postman(i'm currently using version v7.9.0)
.
sometimes the put is successful but the postman closes/crashes immediately so the 200 message only appears for a second.
when the

[2019-10-21 07:09] coditva commented on #7488
Hey @ramya303,
I haven't been able to reproduce this on my end. Here are some things that can be done as first steps to debug this:
- Can you tell me what is the response when you send a put request to `https://postman-echo.com/put`?
- Can you also try and send a request to the localhost endpoint via curl and see if it's a problem with the endpoint itself? You can use the [Code generation feature

[2019-10-21 07:10] sankalp0o commented on #7473
Currently the choices while generating a collection don't actually affect it, only helps in organising it within the API. But we are planning to use this information to generate more useful collections in future. I think an example would be to make sure things like OpenAPI description fields are correctly used if the generated collection is for documentation.

I'll pass on the feedback regarding s

[2019-10-21 08:55] Ghedeon commented on #7498
Let's say a team of devs is making requests to staging server from Postman. Usually, there is a shared pool of test accounts on staging. That's ok, but as a developer, I'd want to have my personal set of testing accounts and credentials in Postman's environment, so we don't make conflicting requests. I don't mind sharing this data with others but I don't see a point of doing that. Having a private

[2019-10-21 09:17] Angelk90 commented on #7504
Hi @shamasis : Is there anything new if this functionality could be integrated?

[2019-10-21 10:34] Raj-postman commented on #7479
@preethammavin The issue is usually seen on the 7.x version, which leads to loss of collections/environments. My only suspect is that the data wasn't synced after some point. Linked an issue on the same lines.

[2019-10-21 11:12] TomYeoman commented on #5611
I'm on 7.9.0 i'm apparently offline whilst writing this and browsing the web..

[2019-10-21 12:31] Raj-postman commented on #6707
@numaanashraf The issue persists with the latest version of the application on both Stable and Canary version (v7.9 -Windows 10 x64). Hence, reopening this issue.

[2019-10-21 13:31] cimpresovec opened #7505 "Postman Collection Runner stop bug on unavailable server"
**Bug description**
When running a collection that includes a request to an unavailable server the request fails (with a ECONNREFUSED error in the runner) and stops the whole collection. Inspecting the console output the error is in parsing the response. The response doesn't have a responseTime value since it was refused, crashing/stopping the runner.

[code]

**To Reproduce**
Steps to reproduce t

[2019-10-21 13:35] tejaslodaya commented on #5194
+1

[2019-10-21 13:48] coditva commented on #7505
@cimpresovec Thanks for reporting! I was able to reproduce this. Will fix and update this issue.

[2019-10-21 15:10] theartyanya commented on #5194
+1

[2019-10-21 16:51] kamalaknn commented on #7499
@cyrielle-hada This dialog with the warning message is shown before sign out for version 6 of Postman. What exactly is the version where you are not seeing this warning message?

[2019-10-21 16:53] kamalaknn commented on #7479
@Raj-postman Is this the same as #7475?

[2019-10-21 17:33] darkdreamingdan opened #7506 "Ability to send requests without pre-request script"
Version 7.8.0 (7.8.0)

**Is your feature request related to a problem? Please describe.**

A recent release of Postman has prevented requests from being fired if the pre-request script fails.  This is inconsistent with old behaviour, where the request would fire anyway.

This makes it annoying to run a request anyway if the pre-request was trivial, especially if there are pre-request scripts withi

[2019-10-21 17:33] cyrielle-hada commented on #7499
@kamalaknn the user was on version 6.7.2

[2019-10-21 21:07] vvs11 commented on #6627
We have released this with App version 7.7. You can now edit mock servers after they are created.

[2019-10-21 21:07] #6627 closed, assigned to ratpik, sankalp0o, preethammavin

[2019-10-21 21:36] lasergoat opened #7507 "Better way to add billing/admin ("support") users"
**Is your feature request related to a problem? Please describe.**
Yes.

1. the team management page talks about how you can add a `support` role. BUT it doesn't actually say that a `support` role is "a user with a `billing` role and no other role" - I had to figure it out on my own, also not clearly in the docs.

    a. the docs [here](https://learning.getpostman.com/docs/postman_pro/managing_pos

[2019-10-21 22:02] LouiseYau opened #7508 "crashing on any put request where body is a binary file and authorisation is AWS signature"
**Describe the bug**
When a Put request is sent with a binary file as the request body, postman immediately crashes either before or just after response is received. (if response is reeived postman crashes about a second or less later not long enough to see any erorrs, however this happens for success responses too)

**To Reproduce**
Steps to reproduce the behaviour:
1. use put request with a requ

[2019-10-22 02:03] technovasation opened #7509 "Monitor for Team Not using Env Variables"
**Describe the bug**
Able to run a monitor successfully in personal workspace but when the same monitor is created from the same environment and collection in the team workspace it fails to use the environment variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Monitor a collection"
2. Fill out the required parameters:
 a. **Monitor Name**: "Test Monitor"
 b. **Collection**:

[2019-10-22 02:19] debugbb opened #7510 "manjaro kde桌面环境使用postman7.9版本，无法同步collections"
manjaro kde桌面环境使用postman7.9版本，无法同步collections。
尝试了重新安装，重新登录，都不能同步。
同步按钮会转很长时间，最后同步按钮变灰，不能再次点击同步。
![2019-10-22_10-19](https://user-images.githubusercontent.com/6327466/67255602-7c1c5400-f4b5-11e9-832d-da9a25ca739b.png)

[2019-10-22 03:41] diawl commented on #7431
@diawl Now I have learned it the hard way, the sync is on.

I was trying to open it then the postman window just didn't show up(another issue I often see), I had to right click the app on dock then click `new window`. But this time it didn't work either.

Then I just tried to kill the app and open it again. This time I realised two Postman apps on my laptop, one in `~/Application` one in `~/Downlo

[2019-10-22 03:42] wywarren commented on #7150
I just emailed the Postman team about the exact same issue. They pointed me to this thread, and also suggested using a single enterprise license and creating private workspaces for clients. The downside is you’d have to be in charge of billing your clients as their accounts would be managed under your license. For most higher end clients, they require ownership and management of their own APIs so

[2019-10-22 04:34] sudhirkhanger commented on #5990
Is there anything in the settings which would improve the performance? I have a whole year's worth of endpoints opened in Postman and maybe loading them is taking up so much time and slowing up the whole app.

[2019-10-22 05:41] Raj-postman commented on #7479
@kamalaknn Not entirely, here the issue was seen on the version above 7.x and the data loss is usually reported after users receive "Session timeout" popup asking for reauthentication.

[2019-10-22 06:24] holmesjr commented on #5039
I'm having the same issue on version 7.9.0 on a Mac.

[2019-10-22 07:05] ThomasCaud commented on #3845
+1

[2019-10-22 07:58] digitalthjarta opened #7511 "Use collections for simple load testing"
I'd love to the that Postman could have a basic form of load testing. Basically what running all requests in a collection is today, but be able to set it to repeat X time over a period of Y minutes. As for reporting I'd like to the when it breaks and how response times is affected.

I know there are plenty of tools that does this, but it's hard to find a tool that is as easy to use as Postman and

[2019-10-22 08:28] numaanashraf commented on #7510
Translation:

Title: Manjaro kde desktop environment uses postman7.9 version, unable to synchronize collections
Body: The manjaro kde desktop environment uses the postman 7.9 version and cannot synchronize collections.
I tried to reinstall, log in again, and I can't sync.
The sync button will turn for a long time, and finally the sync button will be grayed out and you cannot click sync again.

[2019-10-22 08:31] kamalaknn commented on #7499
@cyrielle-hada This warning dialog is present in 6.7.2 version as well. I'm closing this issue for now. Please update if there is any additional information that will help us reproduce this issues.

[2019-10-22 08:31] #7499 closed, assigned to nobody

[2019-10-22 08:52] harryi3t commented on #7421
@abhinavgurung What is the exact version of CentOS that you are using? If you are on or above CentOS 7.6, you can install Postman using Snap - https://snapcraft.io/postman

[2019-10-22 09:01] kamalaknn commented on #5008
Hey @makahn64 @bryangunn

Can you update your apps to the latest version and let us know if you are still seeing this issue?

[2019-10-22 09:02] pdewitt commented on #6701
For me the generated code works when you replace the "," by "." in the parameter on line 3. This gives a valid host.

Also on line 11 the URL on the host ("undefined") has to start with "/". If there is a second part on it ("undefined/something") the parts are separated by a ",". This should be replaced  by "/".

[2019-10-22 09:04] DroneZzZko commented on #2905
any updates on this?

[2019-10-22 09:16] HichamOUAHIDI commented on #5039
Hi I have the same issue
![image](https://user-images.githubusercontent.com/18144576/67272721-58f5a280-f4bd-11e9-876f-f4bdb2863488.png)

[2019-10-22 09:19] HichamOUAHIDI commented on #5039
I'm having the same issue on version 7.9.0 on a windows
![image](https://user-images.githubusercontent.com/18144576/67272973-dcaf8f00-f4bd-11e9-9cb5-71f8e8a108ee.png)

[2019-10-22 09:21] aterreno opened #7512 "Skip 'certain' endpoints when monitoring a collection"
Hi there, I'd like to skip some endpoints when monitoring a whole collection, is there anyway to achieve this?

For example, I don't want to run endpoints that do POST/PUT as they change state

[2019-10-22 10:08] coditva commented on #7505
Closing because it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3845

[2019-10-22 10:08] #7505 closed, assigned to coditva

[2019-10-22 10:32] myazid opened #7513 "Publish document still exist even thought the collection has been deleted."
**Describe the bug**
Publish document still exists even when Collection has been deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. From Team Workspace, publish document
2. Delete collection from Team Workspace
3. Publish document still viewable.

**Expected behavior**
Published document should not be viewable.

**Screenshots**
No screenshot.

**App information (please complete the fol

[2019-10-22 10:36] hari2anand opened #7514 "pm.environment.get("variable_name") in tests not picking the value from the test data csv file"
**Describe the bug**
Test Fails on assertions as the "(pm.environment.get("variable_name"))" fails to load the value from data file (csv) in tests["Response Validation"] =pm.expect(pm.response.json().variable_name).to.equal(pm.environment.get("variable_name"));
**To Reproduce**
Steps to reproduce the behavior:
1. Write a test to assert value in the response to match the environment variable
 tests

[2019-10-22 10:40] hari2anand commented on #7514
update!
 works fine! if used pm.variables.get("variable_name") instead pm.environment.get("variable_name")

[2019-10-22 10:41] bparthu commented on #6682
+1

[2019-10-22 10:47] Mujaddadi commented on #5039
Having the same issue in version 7.9.0 on Windows 64 bit.

[2019-10-22 11:22] Mujaddadi commented on #5039
Ok so for me the collection variables worked but not the global and environment

[2019-10-22 12:21] godfrzero commented on #7513
@myazid I just wanted to clarify one thing: Are you deleting the collection, or removing it from the workspace? Technically, if a collection has been deleted, it _can't_ fetched and displayed as a published documentation.

[2019-10-22 12:25] godfrzero commented on #7509
@technovasation Regarding the monitor that's failing, was it run on a schedule or using the API/webhook?

[2019-10-22 12:54] myazid commented on #7513
I deleted the collection.

[2019-10-22 12:55] godfrzero commented on #7513
Alright, since this is a published documentation, it should be okay to post the URL here. If you'd like to avoid that, please send us the URL via help@getpostman.com

[2019-10-22 12:57] myazid commented on #7513
Will email you.

[2019-10-22 13:34] vmachacek commented on #4463
Why you would ever for love of god want to duplicate tab but not the request (resulting it's pointing to the same instance of request) What I'm expecting is to create copy of the tab with copy of the request. This looks like sloppy UX to me

[2019-10-22 13:42] arlemi opened #7515 "App crashes when using any menu item from keyboard or from shortcuts"
**Describe the bug**
When on the login/signup page, either when opening the app or after login out, clicking `Postman` in the menu bar and then `Preferences` completely closes the app. Looks like a crash but no error message from either the OS or Postman is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new Postman session / logout from Postman
2. Click on `Postman` in the

[2019-10-22 16:26] joymon commented on #2934
I tried client_creds flow with Azure AADv2 (Microsoft Identity Platform) and could see that the JWT is not having audience and the request to resource url fails. Great if the support to add the audience is added.

[2019-10-22 16:49] ritman-us commented on #758
any update on tis request ?

[2019-10-22 17:16] oooarthur commented on #2493
Feature definitely required.

[2019-10-22 18:30] sonuame commented on #4463
@vmachacek Let me explain this to you. Lets say there is a request A with 5+ custom headers, api url with 2/3rd of part same and sometimes same request body with minimal changes.

I know common headers can be set for once on the parent folder but trust me i have been into cases where endpoints of same server differs with the header values too.

Now, right clicking on the left side bar and select "

[2019-10-22 18:34] kneufeld-pbp commented on #7468
I am having a similar issue with
Postman Version: 7.9.0
os: macOS 10.14.6

### To Reproduce:
Importing TeamCity Swagger:
https://gist.githubusercontent.com/kneufeld-pbp/cd4db727e63f3f8ba2da9b3b16202e79/raw/6fdb0590ba98415b3222581189c9189f2ce70de9/TeamCity_2018_swagger.json

ON Import from link OR from file Postman hangs with a blank black window which has to be forced quit and restarted.

[2019-10-22 18:34] philmagr commented on #7294
I had this and appear to have immediately fixed it by clearing my entire history.

Acceptable workaround for me, as I never use the feature.

Is postman needing to scan over the entire history list to append an item?
I experienced general slowness, and extreme UI lag immediately after any call completion.

[2019-10-22 19:41] heytimj commented on #4912
A year and a half later and still happening on version 7.9.0. All requests in the collection use the same basic authorization so I have it configured at the collection level. All generated docs and code snippets are incorrect without including the inherited authorization headers. Any update?

[2019-10-22 22:20] deanblackborough commented on #7294
@philmagr You might be onto something, I deleted my history (took an absolute age) and memory usage has dropped dramatically.

Additionally, my request history only appeared to go back five days; however, after killing and restarting POSTMAN I saw history entries going back 6 weeks. What is shown doesn't match up with what exists, at least for me anyway.

[2019-10-22 22:39] moose1882 commented on #7509
on a schedule.

[2019-10-22 23:44] sebastien-ma opened #7516 "Unable to get file request body in pre-request script"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement custom signing in pre-request scripts. I've noticed that I can't get the request body when selecting a local file in the request. I need to read the file content in order to calculate a digest of the file content.

**Describe the solution you'd like**
Be able to get the file content in pre-request script.

*

[2019-10-23 00:18] shabubu opened #7517 "pm.environment.get before pm.environment.set is rewriting initial values in environment"
**Describe the bug**
Under certain scenarios environment variables for postman retrieved and set within a prerequest script are overriding the initial value.  This is a big deal for my team as this is now taking values considered secret that are only set in `current value` columns, copies these secrets to initial value and finally syncs it to POSTMAN.

**To Reproduce**
Steps to reproduce the behav

[2019-10-23 03:42] alysonYan commented on #6506
App Type: Native App
Postman Version: v7.9.0
OS: windows10
my account cannot login

[2019-10-23 05:06] alexsandro-xpt commented on #5194
+1

[2019-10-23 06:42] marwin1991 commented on #6205
same issue here

[2019-10-23 06:46] kaiwie commented on #7479
Today i had the same issue. Starting, Postman and ask for login. Entire Data is gone :(
Postman for Windows
Version 7.9.0

[2019-10-23 07:04] harryi3t commented on #6888
We have released Postman v7 on the "latest/stable" channel. All users will get this update automatically.
You can force the update by running
[code]

### How this might affect you
- You don't have to do anything if any of the following is true
  - you have not installed Postman from Snap
  - you haven't signed-in to Postman
  - your Postman account does not belong to a team
  - your team has alrea

[2019-10-23 07:10] coditva commented on #7188
Closing this issue since this is the intended behaviour. Please feel free to comment or re-open if any doubts.

[2019-10-23 07:10] #7188 closed, assigned to coditva

[2019-10-23 07:22] qiyuan-wang opened #7518 "path variables are not replaced in example request of generated document"
**Describe the bug**
**path variables** are not replaced in example request part of document.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Create a request in collection created by step 1
3. Use path variables in URL
4. Save request
5. Select 'View in web' in collection panel
6. Check the request example in generated document.

**Expected behavior**
Request example

[2019-10-23 07:26] kunalfirstblood commented on #4058
This feature will make life easy

[2019-10-23 07:28] elssar commented on #6506
@alysonYan can you give us a bit more detail on what exactly is happening? If you're seeing the same error from the screenshot above, then can you once check if there is some proxy or firewall that might be blocking Postman from connecting to its auth servers?

[2019-10-23 09:04] cyrielle-hada commented on #7479
@kaiwie, would it be possible to submit a ticket from [this page](https://www.getpostman.com/support)? Also, could you provide a high-level list of steps that I might be able to take to reproduce the behavior locally? That will help us track down what’s happening and figure out the best way forward.

[2019-10-23 09:10] #6888 closed, assigned to numaanashraf

[2019-10-23 09:47] jkshan commented on #6354
Any update on this issue, I'm facing this for service hosted under Digitcert with EV.

[2019-10-23 10:43] edesdan commented on #4785
Looking forward to this feature!

[2019-10-23 12:05] CuriousSecGuy commented on #3088
Hey ... it's 2 years later and it's still the same :(
Working with Postman in Vertical makes this pretty painful.

[2019-10-23 12:25] EduardKuzhir commented on #2478
Also faced this bug on windows 10.

[2019-10-23 14:16] mpern commented on #5053
Please add `pm.collectionVariables` to the docs 🙇

https://learning.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference/

[2019-10-23 15:09] SOTFNicole opened #7519 "New Collection Variable Access Fails in Newman"
**Describe the bug**
Thanks to enhancement [5053](https://github.com/postmanlabs/postman-app-support/issues/5053#issuecomment-542555156) we can finally set and get collection variables. This is highly helpful to not pollute environment with variables specific to a collection. But it seems that while this is running just fine in Postman Runner, it triggers an error when run by Newman.

I have made

[2019-10-23 15:40] ben-pearson commented on #2302
+1

[2019-10-23 17:13] dglanville opened #7520 "Collection Runner does not return to the selected folder after running Collection then clicking on Collection Runner in top left of same window"
Collection Runner does not return to the selected folder after running Collection then clicking on Collection Runner in top left of same window

Steps to reproduce the behavior:

1. Open Postman
2. Choose your Personal or Team in the upper middle
3. Click on the Runner button in the upper left of the main window
4. In the Choose a collection or folder browse to your collection (Mine is 3 folders d

[2019-10-23 17:16] michiel-schoofs commented on #4891
+1

[2019-10-23 17:35] cirofeitosa commented on #4578
Same issue here, using version 7.9.0 on Mac

[2019-10-23 18:42] DallasAnderson commented on #7313
Do you all need anything from me on this?

[2019-10-23 19:33] philmagr commented on #7294
The issue came back fairly quickly, initially I thought i was mistaken about history being the issue but wiping history again today has restored functionality.

The indicator I am using for "restored functionality" is "ability to click on a tab as soon as a request completes"

When it's being slow, clicking on a different tab becomes impossible for .3-.5 seconds after request completion.

Also lik

[2019-10-23 19:34] vvs11 commented on #7514
Great! @hari2anand Closing this for now. Let us know if you still face any issues

[2019-10-23 19:34] #7514 closed, assigned to nobody

[2019-10-23 21:38] snsakib commented on #6126
having the same issue on windows desktop app v7.9.0

[2019-10-24 01:04] kevinburke16 commented on #4687
Been having the same issue since I updated windows 10. Postman is unuseable for me it's 1 min when trying to access the folder.

Does anyone have suggestions on how I can copy my data from postman so I can use something else?

[2019-10-24 01:14] asi-postman opened #7521 "Mac Native App (7.9.0) Bootcamp Module Discrepancy"
**Describe the bug**
When using Bootcamp (Collaboration Module) on the native app, I notice the status *progress* remains the same and the lesson is at 0%.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Bootcamp' > 'Collaboration'''
2. Click on 'Collaborate with your team > Learn'
3. Go through module > after inviting the helper window is closed after 30%

**Expected behavior**
If th

[2019-10-24 02:40] osowskit opened #7522 "OAuth 1.0 POST with unselected form url encoded params can generate incorrect signature"
**Describe the bug**

:wave: I've been building out a OAuth 1.0 Auth header validation tool and noticed the Postman can occasionally generate an incorrect OAuth signature. This only happens when I have a POST request using `x-www-form-url-encoded` parameters and some of the key/value pairs are unselected. Note that the unselected params are correctly not sent to the server -- just used in the sign

[2019-10-24 03:29] vhooz opened #7523 "Save response as example - Save request body without variables"
**Problem:**
As an automation QA developer, when I save an example from a successful request, the request body comes with the variables and not with the actual request.

**Solution**
Save the request that was actually sent and not the variables.

**Context**
Why would the end-user want to use/see an example of a request if this comes with a variable and not the actual value? Then the example becom

[2019-10-24 04:34] danioso commented on #4888
Hi guys, what is the status of this? I would like to be able to include my own Google Analytics code

[2019-10-24 04:39] abhijitkane commented on #7178
The min. length limit exists to ensure some common words are not taken up by teams. We'll be updating the messaging to be consistent - "must have a minimum of 6 characters".

[2019-10-24 04:40] kamalaknn commented on #7478
@cyrielle-hada Can you give us more details on this issue as the steps that lead to this? Is it possible to share logs for cases where this has happened?

[2019-10-24 04:42] kamalaknn commented on #7479
@cyrielle-hada Could we get access to application logs for cases where this has happened?

[2019-10-24 06:52] jazzyarchitects commented on #7446
Hi @SimoTod
We have fixed the issue. Now you should be able to get schema ids in the APIVersion object (https://docs.api.getpostman.com/?version=latest#e7e1d153-a66c-4ecc-b541-864543d14198).

Let us know if you face any other issue

[2019-10-24 06:59] netanelravid commented on #7464
same here
tried 7.9, 7.8, 7.7.3
all of them crashed

[2019-10-24 07:23] kaiwie commented on #7479
@cyrielle-hada of course. @kamalaknn Tell me which logs are of interest and I'll add them.

[2019-10-24 08:21] cyrielle-hada commented on #7479
@kaiwie To find your app logs, navigate to `View > Developer > View Logs in Finder/Explorer`
<img width="757" alt="Screen Shot 2019-10-24 at 09 05 59" src="https://user-images.githubusercontent.com/47351631/67466727-794d6a80-f63f-11e9-964d-1dca9b08be3e.png">

[2019-10-24 08:58] DannyDainton commented on #7519
Hey @SOTFNicole

What version of Newman do you have installed?  I have `4.5.5` and this is working for me.

I've set a Variable at the Collection level and I'm using this in 2 places, the Params and logged the value out to the console using the same code that you posted.

<img width="1318" alt="Screenshot 2019-10-24 at 09 47 54" src="https://user-images.githubusercontent.com/17089546/67469359-f975

[2019-10-24 09:27] debugbb commented on #7510
可能是网络问题，第二天发现同步下来了。
Translation:
It may be a network problem, and the next day it was found to be in sync.

[2019-10-24 09:27] #7510 closed, assigned to nobody

[2019-10-24 10:03] castroalves commented on #5905
I run into this problem today. I've tried all workarounds above but none has worked for me.

[2019-10-24 10:23] castroalves commented on #7409
Same as #5905. I run into this problem today and I can't use this feature.

My setup:
- Native App
- Postman Version 7.10.0
- MacOS Mojavi 10.14.6 (18G103)

[2019-10-24 13:35] samsoul33 commented on #285
What about this feature requested for more than 6 years ??
Many users need it ...
Please, do something to make it available !!
Thank you in advance

[2019-10-24 13:39] tgulick opened #7524 "Mutual TLS authentication not working on Windows 10 "socket hangup", 6.7.4 and 7.9.0"
**Describe the bug**
Using a request and client cert/key that work on MacOS and Linux versions of Postman app on Windows 10 results in a connection timeout. Postman console shows the cause to be a "socket hangup". Have tried both 6.7.4 and 7.9.0 on Windows 10 and both show the same behavior.

Using tcpdump on the target shows the cert that the client sends is either missing (0 length) or corrupted

[2019-10-24 13:52] everm1nd commented on #2762
@munkiepus thanks for the script and idea with pre-request hook. it solved my issue. unfortunately original code wasn't working for me, so I wrote my own version: https://gist.github.com/everm1nd/1f0eee4df9d6369da9e0fad3d7529044

[2019-10-24 14:08] SOTFNicole commented on #7519
Apologies! There was some confusing amongst my DevOps team when I first followed up on this, they were looking at the wrong environment. Updating newman to 4.5.5 on our linux server resolved the issue.

[2019-10-24 14:08] #7519 closed, assigned to nobody

[2019-10-24 14:25] jrodalo commented on #903
As a workaround, environment's name supports emojis, so something like this can help to differentiate them:

![postman](https://user-images.githubusercontent.com/1197514/67494773-b03c7400-f671-11e9-8fc1-7ff41f8afd3e.png)

[2019-10-24 14:28] markstos commented on #903
Great idea.

For those wondering which emojis those are you find them with names like
"Red Circle" and "Blue Circle":
https://emojipedia.org/large-red-circle/

On Thu, Oct 24, 2019 at 10:25 AM Jose <notifications@github.com> wrote:

--
    Mark Stosberg
    Director of Systems and Security
    RideAmigos

[2019-10-24 14:28] leofrances-extflowbird opened #7525 "Select a request in tree view from the runner"
**Description of my problem**
When I run my tests in the runner and some tests fail, I'm always very frustrated I cannot open my request in the tree viewer from the runner and open the editor after. My collections have a lot of requests (between 500 and 1000). So, it is very complicated to retrieve my failed requests in the tree view to open the request editor. The only solution I found is: read t

[2019-10-24 14:47] CircleOnCircles commented on #5309
A support guy told me that she reassign this to the dev team, but we can't expect the fix in the next release or any time soon.

[2019-10-24 14:53] LucasZuzarte opened #7526 "Error on Request Token OAuth2.0"
**Describe the bug**

After setting the data and clicking on "Request Token" Postman shows an error message "Could not complete OAuth 2.0 login. Check Postman Console for more details."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authorization on a request
2. Select type OAuth 2.0
3. Click "Get New Access Token"
4. Fill in requested information
5. Click on Request Token
6. See erro

[2019-10-24 15:00] LucasZuzarte commented on #7526
Postman version: Version 7.10.0

[2019-10-24 15:13] evan-k-wright opened #7527 "tv4 Validation does not console.log where my error is at"
Since the new Postman update, anytime I use **tv4.error.dataPath** and **tv.error.schemaPath**, the console no longer shows me where the error is at.

How do I get the console to show me my errors and where they are at in the schema?

[2019-10-24 15:14] evan-k-wright commented on #7527
Sorry I don't have a lot of information, screenshots, or steps to reproduce. Feel free to ask me questions for me clarification.

[2019-10-24 15:23] chrisjohnson opened #7528 "Environments schema has several issues (Postman API)"
There are several issues with the environments schema:

* The environments schema isn't hosted anywhere like the collection schema is. When I go to validate my collections and environments in my CI build, I can point the json schema validator right to `https://schema.getpostman.com/json/collection/v2.1.0/collection.json` but there doesn't appear to be such a thing for the environment schema. The b

[2019-10-24 15:32] chrisjohnson commented on #7528
To be clear, the schemas that you list under POST and PUT are different, and don't seem to actually match the real schema that your API actually uses.

I have an environment that I am POSTing to your API. When I validate that environment locally using the schema you have listed under POST, it passes validation. However when I actually submit it to your API, your API rejects it for being invalid.

[2019-10-24 15:38] Wotuu commented on #6540
What's the status on this? I'm running into this right now. This makes it unusable for automation.

[2019-10-24 15:43] ykartsev opened #7529 "DevTools->Network is not showing information about the calls made."
**Describe the bug**
According to the [documentation](https://learning.getpostman.com/docs/postman/sending_api_requests/debugging_and_logs#network-calls-with-postman-console):

Although, my DevTools->Network only shows javascript-related requests (see screenshot below) after I execute a request. I.e. data about the executed request is not shown.

In Chrome App this was not an issue - it was always

[2019-10-24 15:47] Cazaimi commented on #7518
Investigating this.

[2019-10-24 15:48] kevinburke16 commented on #4687
I5, 7200U, 2.70GHz, 8GB RAM, 64-bit windows 10

[2019-10-24 15:55] mattroberts297 commented on #7306
![Screenshot 2019-10-24 at 16 53 52](https://user-images.githubusercontent.com/705501/67503076-eb916f80-f67e-11e9-9f0c-44229a3f9834.png)

I see a similar problem.

OS: macOS Mojave 10.14.5
Postman Version: 7.8.0
App Type: Native

Happy to discuss over email.

[2019-10-24 16:14] mauricioleoncio commented on #3919
Hi there! any update on this feature? :)

[2019-10-24 17:30] apolloniusoftyana commented on #6053
@numaanashraf Just to understand... Sign-in, update, sync etc... does not use the proxy settings in preferences(macOS)? Does the app respect the system settings at all for these operations? My testing indicates that it is not using native macOS settings or the defined settings in Postman.

[2019-10-24 17:38] Ostapp opened #7530 "Connection not secure error"
**Describe the bug**
I am receiving "connection not secure" error (not allowing me to access (yes, I tried using "Advanced" option (it does not let me through))) when accessing any website through Chrome browser on my iPad mini via Postman proxy set up on my laptop

**To Reproduce**
Steps to reproduce the behavior:
1. set up everything according to this tutorial https://blog.getpostman.com/2019/06

[2019-10-24 17:47] kevinburke16 commented on #4687
It appears my postman file was corrupt, orders were populating to a background collection. Thankfully I was able to access my clean history and just had to resave the routes to a new collection and files. Created a backup now and its clean for future.

Does anyone know why this could have happened?

[2019-10-24 18:21] SimoTod commented on #7446
Thank you, I'll give it a go tomorrow. 👍

[2019-10-24 19:54] jlevitt commented on #7294
I have a quick update: I created a new workspace and shared 2 collections (the ~700 request one and a 2 request one) and one environment. Using this workspace, everything is back to being snappy. Maybe this leans towards a large number of environments being part of the issue?

[2019-10-24 20:34] Chealer commented on #903
Thank you @jrodalo
It seems Unicode 6.0 only has red and blue circles. Yellow, orange and green circles were only added in 12.0 (2019).
There are green hearts and apples though, and yellow hearts.

[2019-10-24 22:33] DerekSansom opened #7531 "Opening Test runner causes postman to freeze"
**Describe the bug**
Since last updating it'sno longer possible to run the collection runner, and attempting to ope it freezes everything

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman.
2. Hover over a collection
3. click arrow top right of collection name to open collection runner
4. Panel opens, at top of panel click Run

Nothing happens and the whole app freezes, so this pan

[2019-10-25 00:19] xk0der commented on #7527
@evan-k-wright  Thanks for writing in here as well.
I'm putting the information I shared with you internally as a reference for others as well.

VT4 has been deprecated and it is recommended that you use [AJV](https://github.com/epoberezkin/ajv) for JSON schema validation.

*References:*
- GitHub Issue: https://github.com/postmanlabs/postman-app-support/issues/3199
- https://learning.getpostman.co

[2019-10-25 01:01] g-macd commented on #7476
Hi @sankalp0o, thanks for looking in to this for us - have you been able to make any progress?

[2019-10-25 02:32] CryptoGL opened #7532 "Cookies and Code button over flowing under Toggle Two-Pane View"
**Describe the bug**
Cookies and Code button over flowing under Toggle Two-Pane View

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main Window'
2. Click on 'Toggle Two-Pane View' in 'View'
3. Scroll down to 'Cookies' & 'Code'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/22292685/67538784-b46c9e00-f712-11e9-8e2a-2c275a9574e5.png)

**App information

[2019-10-25 03:33] kamalaknn commented on #7306
@mattroberts297 Can you share the steps you took before the app came to this state, and logs from `View -> Developer -> Show logs in Finder` to help@getpostman.com?

Please include the GitHub issue number - 7306 in the email.

Thanks

[2019-10-25 03:37] kamalaknn commented on #7294
@jlevitt We are tracking some rendering performance issues when there are more variables in the active environment.

Can you tell us if you are seeing high memory usage or sluggishness in rendering and responsiveness?

If you could give us the number of environments and the number of variables in them which generally caused these issues that would be helpful.

[2019-10-25 04:46] sankalp0o commented on #7446
Closing the issue for now. Happy to hear more thoughts on the API!

[2019-10-25 04:46] #7446 closed, assigned to sankalp0o

[2019-10-25 04:55] Weilet opened #7533 "Generate code snippets layout bug"
**Describe the bug**
The secondary menu of language selection in generate code snippets panel are invisiable.
In Windows 10 1903, setting zoom to 150%

**To Reproduce**
Steps to reproduce the behavior:
1. create a reuqest
2. click 'code' to enter generate code panel
3. click the language selection
4. The secondary menu are invisiable

**Expected behavior**
A secondary menu should be seen.

**Scree

[2019-10-25 06:05] harryi3t commented on #7241
@Tomis1 We are closing this due to inactivity. Please let us know if you are still facing the issue.

[2019-10-25 06:05] #7241 closed, assigned to nobody

[2019-10-25 06:25] DannyDainton commented on #7533
Hey @W

What version of the App is this?

There is a right scroll bar within that menu that I can see, that will show what you're looking for.

This post on our Community fourm will also provide some help:

https://community.getpostman.com/t/not-able-to-see-the-javascript-or-node-js-code-in-postman/8433

[2019-10-25 06:36] codenirvana commented on #7532
Duplicate of #7324

[2019-10-25 06:36] #7532 closed, assigned to nobody

[2019-10-25 06:48] vikiCoder commented on #7220
Hi everyone,

We have identified the issue and we will be releasing the fix in the upcoming release of the Postman App.

[2019-10-25 06:52] vikiCoder commented on #7508
Hi @LouiseYau ,

Thanks for reporting the bug. We have identified the issue and we will be releasing the fix in the upcoming release of the Postman App.

For now, I am closing this issue as it is duplicate of the following issue: https://github.com/postmanlabs/postman-app-support/issues/7220

[2019-10-25 06:52] #7508 closed, assigned to nobody

[2019-10-25 06:52] codenirvana commented on #7527
Duplicate of #3300

@evan-k-wright tv4 is deprecated in favor of Ajv. Check https://github.com/postmanlabs/postman-app-support/issues/3300#issuecomment-460177101 for more details.

Ajv have great documentation around debugging the validation errors https://github.com/epoberezkin/ajv#validation-errors

[2019-10-25 06:52] #7527 closed, assigned to nobody

[2019-10-25 07:13] Soraga54 opened #7534 "Postman doesn't open"
**Describe the bug**
When I run postman, either by click icon or by run with command 'postman', nothing happens.
I had look for the processus postman and I didn't find the processus postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Either click icon or run a command to run postman
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/29144613/67550543-0a3b49

[2019-10-25 08:13] JavaPioneer opened #7535 "Password recovery mail not received"
When I retrieve my password, the system does not send me a password recovery email.

I retrieve my password  by :
https://identity.getpostman.com/trouble-signing-in

and Client , My email is  **@163.com;

[2019-10-25 08:28] BazzJiang opened #7536 "Postman pre_request_scripts issue"
**Describe the bug**
In pre_request_scripts you can add those code,but the result is not as expected
[code]

[2019-10-25 08:32] codenirvana commented on #7536
Probably its string "null".

[2019-10-25 08:58] codenirvana commented on #7526
@LucasZuzarte what's the error message in the console?

[2019-10-25 09:04] codenirvana commented on #7516
Similar to #7210

[2019-10-25 09:11] codenirvana commented on #4891
A large list of dynamic variables is added in the latest version of the Postman app.

Refer: https://github.com/postmanlabs/postman-app-support/issues/971#issuecomment-532167955

For custom length random int and strings. I suggest setting a local variable in the pre-request script as mentioned above https://github.com/postmanlabs/postman-app-support/issues/4891#issuecomment-474870063

[2019-10-25 09:11] #4891 closed, assigned to shamasis

[2019-10-25 09:14] Weilet commented on #7533
Solved, I found myself ignore right scroll bar on the buttom of the selection.

[2019-10-25 09:14] #7533 closed, assigned to nobody

[2019-10-25 09:15] codenirvana commented on #7313
@DallasAnderson I am a little confused about your use case.
If you want to modify the response body (or represent in different forms), I suggest exploring the new [Visualizer](https://learning.getpostman.com/docs/postman/sending_api_requests/visualizer/) feature.

[2019-10-25 10:14] DiamondBug commented on #6320
You can use rich text editor, replace ": " to ":".   : )

[2019-10-25 12:10] LucasZuzarte commented on #7526
@codenirvana there in no message on the postman console.

[2019-10-25 12:28] ismdcf commented on #2392
Is it possible to do the following like mentioned in the initial post to skip the request with the help of pre-request script like postman.skipRequest

[2019-10-25 12:55] thoffmann-fms opened #7537 "Support multiple OAuth2 setups"
I tend to switch between several different OAuth2 controlled APIs so it would be great if the current Get New Access Token screen was just a dropdown list of Settings (with an add/edit button) which would contain all the fields (except possibly Token Name) so I could swap quickly between different setups by selecting the setup name from the dropdown rather than having to copy/paste in the 7 fields

[2019-10-25 13:12] vikiCoder commented on #6966
Hi,

We have added Akamai's EdgeGrid authentication method in the latest version of the Postman App (v7.10.0). You can [update your Postman App](https://learning.getpostman.com/docs/postman/launching_postman/installation_and_updates/#updating-postman) and try it out. We would love to hear feedback about it from you.

<img width="1141" alt="Screenshot 2019-10-25 at 6 40 56 PM" src="https://user-ima

[2019-10-25 13:46] kevcam4891 commented on #4727
This is becoming a critical reason I can't use Postman for work with AWS. Cognito doesn't want "Bearer" text in the Authorization header. I understand I could just add a custom "Authorization" header, but then I can't easily use Oauth2 support in Postman.

This should be a very simple enhancement that will have significant benefit for those using services that don't need the "Bearer" string, or ne

[2019-10-25 13:46] VicKetchup commented on #6851
@godfrzero I guess we can close this issue unless you are ok with making custom search into console log :)

[2019-10-25 13:57] VicKetchup commented on #6850
Using current version of Postman (7.10.0) the issue seems to be resolved and haven't spotted it in the logs since your comment :)
![image](https://user-images.githubusercontent.com/43671684/67576832-3d95cc00-f737-11e9-97a0-b8e1c41abd6d.png)

[2019-10-25 14:08] evan-k-wright commented on #7527
Thank you @xk0der and @codenirvana! I really appreciate the quick responses and the information on the new software to use.

[2019-10-25 14:18] VicKetchup commented on #6845
The suggested solution is working fine for us, closing the ticket.

[2019-10-25 14:18] #6845 closed, assigned to vkaegis

[2019-10-25 14:36] Holly-Marie commented on #6682
+1

[2019-10-25 15:13] VicKetchup opened #7538 "Better team management - license usage / activity report"
**Is your feature request related to a problem? Please describe.**
Our Postman team has been growing quite rapidly and we have a lot of users throughout different roles, offices and even countries, so it is really hard to keep track of who is actually using their license. This means we may be paying for users who really do not need the license and those spots can be used for someone else.

**Descr

[2019-10-25 15:40] Nmirontsev opened #7539 "Console displays only response bodies less than 10kb"
Steps to reproduce:
1. Make a request which will have response body larger than 10kb.
2. Observe that console doesn't display it and shows the message "The console only shows bodies smaller than 10 KB in size. To view the complete body, inspect it in the Builder window."

In previous versions the limit was 1mb. It became very inconvenient, especially if request is done from pre-request script and

[2019-10-25 17:08] sasifpop opened #7540 "update function not available to use .."
**Describe the bug**
We have set of values in multi select values . we want to add new value by using post man . for example :  we have application field repositories. 2 values are alerady there we want to add new values dockercommon-remote. new values will be getting added . PUT ,Post should add new values with distrubing other values .

 "repositories": [
    "dockerhub-remote",
    "bintray-doc

[2019-10-25 17:28] joshua-bn commented on #5052
I am documenting the request and response bodies with Markdown code blocks. I use 3 backticks followed by "javascript" or "json" to signify the language. I would like for the documentation to highlight the syntax of these if I supply a language.

[2019-10-25 17:30] joshuaadickerson commented on #5052
I am documenting the request and response bodies with Markdown code blocks. I use 3 backticks followed by "javascript" or "json" to signify the language. I would like for the documentation to highlight the syntax of these if I supply a language.

[2019-10-25 18:38] dosse commented on #7464
Same for me with Postman 7.10.0 on Win64. Postman refuses to revert to previous version. How do you wipe Postman data?

[2019-10-25 20:04] 01binary commented on #2934
Client Credentials grant in Postman does not support specifying audience. My ASP.NET Core WebAPI is rejecting the resulting token with 401 because the audience is not set properly. In my case, the audience has to be the Azure AD App ID URL. Passing through query string doesn't work.

Should I send a pull request for this?

[2019-10-25 20:30] tguedes-connectwise opened #7541 "Cannot set multiple cookies using pm.cookies.jar()"
**Describe the bug**
I am attempting to set multiple cookies but only the first one is actually being set. The other set calls aren't even called.

**To Reproduce**
Steps to reproduce the behavior:
Using the Postman test scripting environment
1. Add the following code:
[code]

Output:
`xxx`

Only the first cookie will be outputted.

I've even added the callback function to see if there is an error

[2019-10-25 23:13] Yon2068 commented on #5053
I found a bug in collectionVariables,
Variables in the "runner" window cannot synchronize with those in the main window.

[2019-10-26 00:34] imclint21 opened #7542 "Custom mimetype"
Hi,

Could you allow any mime type ? I would like by example set text/csv or other!

Thanks

[2019-10-26 06:37] Monukushwaha opened #7543 "didn't adding the latest version."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-10-26 21:37] martin-traverse commented on #2701
+1
Would love to be able to use Postman for a platform I'm implementing with HTTP/2

[2019-10-27 08:07] milititskiy commented on #7539
+1 Its very inconvenient ! I have several redirects that I can check only in console. Guys, if you have made on aoption " show timestamps" and "hide network" , why you cant add another option "show bodies bigger than 10KB".
For now, I am  downgrading to the 7.9.0 version. What a pitfull  update...

[2019-10-27 10:40] baztian opened #7544 "App crashes when trying to open any dialog"
**Describe the bug**
For happens the same as in #7515. But additionally the app crashes when I run "new" or any other dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'new'
4. See error

**Expected behavior**
It should just work as documented.

**App information (please complete the following information):**
 - App Type: Native App
 - Postman Version 7.9.0 and 7.10.0
 - OS: Linu

[2019-10-27 17:29] RehanaMuhammed commented on #2819
Even I have come across the same requirement. the test script sometimes demands to run the request which is in some other folder of same collection. WE definitely need some enhancement in postman.setNextRequest () function.

The suggestion given by @raijinsetsu makes sense. either this function should accept request full path or a new function to be introduced.

@Team, Please bring this implementa

[2019-10-27 18:30] Nmirontsev commented on #7539
@milititskiy , how to do a downgrade?

[2019-10-27 18:51] milititskiy commented on #7539
Uninstalled 7.10 version and downloaded 7.9 There is no owhter option to resolve this issue. And by the way it is very furstrating, as it seems noone cares about that.

[2019-10-27 18:55] Nmirontsev commented on #7539
@milititskiy , thank you. New console interface is not good, even not considering 10 kb issue. It should be addressed at some point.

[2019-10-27 18:57] milititskiy commented on #7539
You are 100% right! I hope they will hear us. At least they can change 10kb issue.

[2019-10-28 01:18] Axzc commented on #2985
@pythoneer in /Postman/app/resources/app/js/requester.css  search .editor.ace_editor

[2019-10-28 03:06] michaeltarleton commented on #4898
Pls add this back!

[2019-10-28 03:13] gsperk opened #7547 "Dash in Collection Variable value resolves as NaN in Uri"
**Describe the bug**
I'm starting to replace some environment variables with collection variables.
But a dash in Collection Variable value resolves as NaN in the request Uri. The same value in an environment variable is sent correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a collection variable. e.g. pm.collectionVariables.set("reqUrlEntity1Id", JSON.parse(res.text()));
2. Use

[2019-10-28 08:18] mathudak commented on #6682
+1

[2019-10-28 11:20] fredrikseiness commented on #7539
I too was disapointed to discover this change. I believe the reason given was that large response bodies in the console could cause the tool to crash sometimes. Frustrating as that may be I find the new limit on size even more frustrating. I hope this is altered again soon so that we are able to view larger bodies in the console again.

[2019-10-28 11:24] MarKco commented on #7477
It works!
Thank you so much! :-)

[2019-10-28 11:24] #7477 closed, assigned to abhijitkane

[2019-10-28 11:30] arlemi commented on #7542
Hi @clintnetwork,

You can set the MIME type that you wish in the Headers tab of your request.
![Screenshot 2019-10-28 at 11 30 07](https://user-images.githubusercontent.com/5029719/67675141-53450480-f976-11e9-99d1-dd9fcb1ab187.png)

Is that what you're looking for?

[2019-10-28 12:03] arbijs-tiket commented on #5805
possible for get collection name in script ?

[2019-10-28 12:58] yrong commented on #2985
@Axzc  modify to what?

[code]

[code]

[2019-10-28 13:43] crunkid commented on #4361
Had a similar issue but managed to resolve mine by renaming the old version folder.
I had two versions app-7.9.0 and app-7.10.0, so i renamed app-7.9.0 to app-7.9.0-OLD and now the app works at under 25% CPU Usage.

[2019-10-28 13:44] molechka opened #7548 "Broken image link in doc «Variables complete reference»"
**Describe the bug**
Link for picture — https://assets.postman.com/postman-docs/ariables-Chart.png
Need to add «V» at the beginning — Variables-Chart.png

**To Reproduce**
Steps to reproduce the behavior:
1. Go to «Variables complete reference» — https://learning.getpostman.com/docs/postman/environments_and_globals/variables_complete_reference/
2. Click on picture in «Variables’ scope pictorially»

[2019-10-28 14:09] clintnetwork commented on #7542
ha yes it's true, but maybe you can add a `custom` option in the list where we have json, text, etc

[2019-10-28 14:09] #7542 closed, assigned to nobody

[2019-10-28 14:35] erwanlr commented on #6762
I had the same issue, swagger file was generated by [Apipie](https://github.com/Apipie/apipie-rails), and I noticed some ```"description": null``` which made the import fails apparently:

[code]

So I replaced all ```"description": null``` by ```"description": ""``` and the import was successful

[2019-10-28 14:57] Wotuu commented on #7435
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/6540. I'm running into your exact issue and hope that this gets added soon.

[2019-10-28 15:07] froblesmartin commented on #7534
It is something related with the latest version. I have found a basic workaround :sweat_smile: , install the previous version:
`sudo snap install postman --channel=v6/stable`

[2019-10-28 17:17] mikepalfrey commented on #4186
Looks like this is still an issue on 7.10.0 on macOS. Tried all the workarounds here but no luck. Bit disappointing as I thought this was a cool feature which would save me a fair bit of work!

[2019-10-28 17:57] ColdPenguinDevelopment opened #7549 "More data in Collection listing"
**Is your feature request related to a problem? Please describe.**
When building out the documentation, it is time consuming to go through every request to see if an example is available or not.  Also, while building out the collection, having to review the Collection Runner details is time consuming to make sure all of the requests are performing as expected.

**Describe the solution you'd like**

[2019-10-28 19:15] vdespa opened #7550 "Auth helpers are pre-filled with data"
**Describe the bug**
It seems that the OAuth helpers are pre-filled with the last auth data when they actually should not be.

Two cases:

- the request in a different collection
- the request is not associated with a collection
- completely new workspaces

**Expected behavior**
I would not expect the auth helpers to be prefilled with any information when being opened.

**Screenshots**
![image](ht

[2019-10-28 19:28] vdespa opened #7551 "Console remains empty / request not sent after OAuth2 token request"
**Describe the bug**
I am trying to fetch an OAuth2 token using the OAuth2 helper for "Client Credentials" grant type.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authorization
2. Select OAuth 2.0
3. Click "Get new access token"
4. Select Grant Type "Client credentials" (or Authorization Code)
5. Fill in some data
6. The error appears: "Could not complete OAuth 2.0 login. Check Pos

[2019-10-28 22:19] loughrao commented on #7551
Similarly I am not seeing anything in the postman console on successful Oauth2 requests. Is there a way that we can revert to 7.9? I have been unsuccessful at downgrading.

[2019-10-29 01:33] Axzc commented on #2985
@yrong change to the appropriate font
This is my setting in ubuntu18.04
.editor.ace_editor {
 1148     font: 12px "Ubuntu Mono", "Menlo", "Monaco", "Consolas","source-code-pro", "Cousine", monospace, monospace; }

[2019-10-29 01:33] godot0413301 commented on #7487
the bug is that：my os is ubuntu 1804lts，I edit the char （include delete char），but in fact，I edited other char。just like the picture up there 。in os windows10，the same operation is no bug。

[2019-10-29 01:35] godot0413301 commented on #7487
the text I edit，is not the text I edited。only in os ubuntu1804lts

[2019-10-29 03:36] kamalaknn commented on #7487
@godot0413301 This looks like a duplicate of #2985 where the cursor position that is shown on the editor is different from where the characters are inserted or deleted. Can you confirm?

[2019-10-29 04:40] kamalaknn commented on #7543
@Monukushwaha We are not able to identify the issue from your bug report. Please follow the issue template and [guideline](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) to help us identify the root cause better.

[2019-10-29 04:40] #7543 closed, assigned to nobody

[2019-10-29 05:02] ankit-m opened #7552 "Request duplicate shortcut throttling"
**Describe the bug**
I want a duplicate a request 3 times. So I hold down `Cmd` and press `D` three times (quickly). However, the request is only duplicated twice.

**To Reproduce**
1. Create a collection
2. Add a request
3. Save an example to the request
4. Select the request
5. Hold down `Cmd` (or `Ctrl` for windows) and press `D` multiple times quickly

Observe that there is a difference betwee

[2019-10-29 05:19] sankalp0o commented on #7376
This has been fixed in the latest release of Postman app v7.10. Closing the issue but feel free to report back if this doesn't work!

[2019-10-29 05:19] #7376 closed, assigned to sankalp0o

[2019-10-29 05:48] sankalp0o commented on #7549
Hey @ColdPenguinDevelopment, thanks for the feedback! Regarding the request for showing last run status, could you talk more about your current workflow? Specifically
- How often do you run the collection? What triggers it?
- When do you feel the need to see the last run status?

The nuances here might help us in designing a better experience for you.

Also, why does viewing all the example in the

[2019-10-29 05:56] harryi3t commented on #7544
@baztian That you for providing the additional information on the bug.
I am closing this in favour of https://github.com/postmanlabs/postman-app-support/issues/7515
Will be adding this additional information to the original bug ticket.

[2019-10-29 05:56] #7544 closed, assigned to nobody

[2019-10-29 06:09] baztian commented on #7515
It should work if you first hit the skip sign in link. At least this worked for me

[2019-10-29 06:12] harryi3t commented on #7534
@Soraga54
When did this start happening (after an update or fresh install)?
Can you try running the following commands to just confirm that the `postman` command is pointing to the snap binary
[code]

Also, if possible please share the logs at help@getpostman.com (please mention the GitHub issues number: 7534). This would help us in identifying the issue faster.
You can get the logs from `~/snap/p

[2019-10-29 08:24] andalike opened #7553 "Version mismatch detected error on launch"
OS: MAC Catalina
Version: Postman-osx-7.9.0

Issue:
1) On Opening Postman, Error prompts:

"Look's like you've used a newer version of the postman app on this system. Please download the latest app and try again".

2) I am already using the latest app.

[2019-10-29 08:24] andalike commented on #7553
![Screenshot 2019-10-29 at 1 51 15 PM](https://user-images.githubusercontent.com/43137695/67749666-a3de5f80-fa53-11e9-9885-ac4a60d1b330.png)

[2019-10-29 08:25] andalike commented on #7553
![Screenshot 2019-10-29 at 1 55 02 PM](https://user-images.githubusercontent.com/43137695/67749724-bce71080-fa53-11e9-98d8-4c0892bcb43a.png)
![Screenshot 2019-10-29 at 1 55 06 PM](https://user-images.githubusercontent.com/43137695/67749725-bce71080-fa53-11e9-92ce-e73ac6cffe6d.png)

[2019-10-29 09:37] vdespa commented on #7551
@loughrao The changelog has download links for all previous versions of Postman.

https://www.getpostman.com/downloads/release-notes

[2019-10-29 10:01] piero-b commented on #6762
Seems it now errors on the responses missing the description property for the defaults

`"default": {
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    }`

Adding in an empty description fixes the import but I shouldn't have to do this...
`"default": {
					"description": "",

[2019-10-29 10:02] cyrielle-hada commented on #7553
The issue was reported to Product  Support as well.

![image001](https://user-images.githubusercontent.com/47351631/67756678-50a7e500-fa32-11e9-886c-03e1c753686d.png)

**Relevant information**
The app is running on Windows
Version 7.9.0

The application stopped working and threw the Version mismatch detected error before spinning for hours with no progress.

Downloading version 7.9.0 from the [dow

[2019-10-29 10:27] froblesmartin commented on #7534
In our case, using Fedora 30 and having Postman installed with Snap this is the result of those 2 commands:

`/var/lib/snapd/snap/bin/postman`
`lrwxrwxrwx. 1 root root 13 Oct 24 11:30 /var/lib/snapd/snap/bin/postman -> /usr/bin/snap`

About the logs, there is nothing. No log receive anything even using the desktop launcher or just running `postman` in terminal.

[2019-10-29 10:51] nabihnadhif opened #7554 "Unchecked query parameters doesn't appear on the published API documentation but does on "View in web""
**Describe the bug**
Unchecked query parameters are displayed when we view documentation via "View in web", but not on published documentation.
We use unchecked parameters to tell API users that the parameters are optional.

**Screenshots**
View in Web
<img width="652" alt="Screenshot 2019-10-29 at 11 56 29" src="https://user-images.githubusercontent.com/601134/67761726-2bbc6d80-fa44-11e9-9bab-8e4

[2019-10-29 11:22] AuthorProxy commented on #2905
Any updates? We need this future..

[2019-10-29 11:23] AuthorProxy commented on #4117
Any updates on this future? We waiting for this so long..

[2019-10-29 11:42] coditva commented on #7221
@mbracero We have updated the Postman Console to include a lot of information to help debug issues like these. Can you update to Postman v7.10.0 and try finding the cause of the timeout?

In the Console you see the re-directs and information about proxy which might help!

Download link: https://dl.pstmn.io/download/version/7.10.0/win

[2019-10-29 11:42] harryi3t commented on #7534
@froblesmartin I am assuming you meant there are no logs on the terminal. Can you check the logs directory on the file system `~/snap/postman/current/.config/Postman/logs`?

Also, was the same app working fine before the 7.10.0 update?

[2019-10-29 11:59] froblesmartin commented on #7534
Hi @harryi3t. Yes, those logs are the ones I mean, none of them have been modified since the new versions was released, even running the app through the CLI either the .desktop launcher.

Yes, last week it was working in 5 computers and since Thursday we have been suffering this in all of them.

[2019-10-29 13:03] andalike commented on #7553
Installed another version of postman by below

1) Renamed the folder "/Users/ankit/Library/Application Support/Postman" to "/Users/ankit/Library/Application Support/Postman.old".
2) Reinstalled Postman, it works now.

Issue:
1) The old data is gone
2) If i rename "Postman.old" to "Postman", the same "Version Mismatch" issue appears.

[2019-10-29 15:33] nbstrat commented on #7553
Having same issue as described by cyrielle-hada.

Relevant information
The app is running on Windows
Version 7.9.0

The application stopped working and threw the Version mismatch detected error before spinning for hours with no progress.

Downloading version 7.9.0 from the download page leads to the same error on the launch.

Attemping to uninstall the application and rename the AppData/Local/Post

[2019-10-29 16:49] ghaith4 commented on #4325
just change http:// to https:// and it'll work for you, post request requires https

[2019-10-29 17:39] chakpongchung commented on #3893
@astewart-twist @a85 @kamalaknn @wilder @deepakpathania

Good news! the long awaited R http request support is merged into master branch of 3rd party libraries postman is using: https://github.com/Kong/httpsnippet/pull/131

When will we see it to be used by postman?

[2019-10-29 17:47] eddielovelace commented on #6723
Any fix for this yet? It's happened to me today.

[2019-10-29 18:37] pbrink231 commented on #6719
I have been using insomnia for all graphql calls and postman for rest calls.

This is the main reason I use insomnia over postman.  Having the schema autocomplete makes working with it very easily.

[2019-10-29 20:36] AllanOricil commented on #7539
There is an issue saying that we can't install a previous version once we have installed a current one.
https://github.com/postmanlabs/postman-app-support/issues/7553

[2019-10-29 21:16] ducka opened #7555 "Postman integration into CI/CD pipline for creating and updating postman collections"
I'm currently doing a lot of research for my company in how we can propagate API Documentation (via the Swagger/Open API Spec) from our Microservices to our API Gateway product (like Azure API Management) and our API Documentation product (like Readme.io). My aim is to do this in such a way that our publicly facing API Documentation is always kept up to date as new changes are deployed to the publ

[2019-10-29 21:55] MontrealSergiy commented on #5077
@abhijitkane
Sometimes code just needed to show a counterexample to colleague who hates, or just prefers avoid GUI based tools.

[2019-10-30 01:32] jlevitt commented on #7294
I'm seeing both.

In my main workspace I have ~50 environments with ~20 variables each.

[2019-10-30 03:01] Raja-Simha commented on #7555
Hi @ducka, thanks for writing to us.

We are aware of the need to keep collections and API documentation up to date by integrating with CI/CD pipeline. We are working on initiatives to help resolve this need. Could you please take some time to help us understand how you 'currently' manage your workflow, specifically, how do you ensure that your API documentation is up to date with any new changes

[2019-10-30 03:08] ash007-postman commented on #7281
@shivam-postman  Another user reported the same and more details can be found at `40026" (Zendesk Ticket)

[2019-10-30 03:17] alfianmalik commented on #2801
+1

[2019-10-30 04:30] chuchuva commented on #4276
Please make it easier to examine resulting JSON file. I look at this code and have no idea what it means:

[code]

[2019-10-30 06:26] numaanashraf commented on #7553
@andalike @nbstrat Could you try re-installing the latest version of Postman, while we investigate this further? `7.10.0` is available at https://www.getpostman.com/downloads/

[2019-10-30 06:28] numaanashraf commented on #7529
@ykartsev For Postman Desktop Apps, the network logs do not appear inside the DevTools. Please use the Postman Console to view your request logs. - https://learning.getpostman.com/docs/postman/sending_api_requests/debugging_and_logs/#for-the-native-app-for-mac--windows--linux-1

[2019-10-30 06:28] #7529 closed, assigned to nobody

[2019-10-30 06:32] bikash019 commented on #7553
I had the same issue but solved when I reinstalled a newer version i.e  7.10 for window 10(64 bit).

[2019-10-30 08:23] andalike commented on #7553
@numaanashraf :
1)Tried with 7.10.0 on Catalina.
2) Postman app does not respond(open)
3) Renamed the folder "/Users/ankit/Library/Application Support/Postman" to "/Users/ankit/Library/Application Support/Postman.old".
4) Reinstalled Postman, v 7.10 works now

I find the issue is below.
1) If there is a existing folder in "/Users/ankit/Library/Application Support/Postman"( 7.9) then it errors out,

[2019-10-30 09:24] sankalp0o commented on #7555
@ducka We allow generation of collection from OpenAPI specifications via an API call. What can be tricky is to create/update a Run in Postman button from the CI/CD pipeline.
We've recently launched some features which allow you to save your specification in Postman and generate documentation from it. We're working on syncing the documentation when the schema changes, so it would definitely help wi

[2019-10-30 10:11] daverondell commented on #1535
+1

[2019-10-30 10:24] jeremos commented on #5990
I have dramatic performance issues with postman 7.10.0 and canary. A 169ms localhost request is displayed with 6 to 8 seconds delay on a macpro ;( Please... update needed !

[2019-10-30 10:49] fredrikseiness commented on #7539
@AllanOricil there is a - slightly painful - way around this. follow these steps to delete all your local files and you will be abel to install version 7.9.0: https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-error-Could-not-open-Postman-

Beware that postman will still download version 7.10.0 and install it when you restart the tool (even if you disable automatic up

[2019-10-30 12:24] lifebender commented on #5990
Agreed, very annoying,

[2019-10-30 13:30] d0x7 commented on #3216
Same issue over here. The request itself is quite fast.

Apparently the issue is, well, looking the DNS up, but I don't really get why. Using 127.0.0.1 it's super fast (around 6ms for the whole request, DNS is cached that way), but for `localhost` looking up the DNS takes, as you can see, around 500ms.

![image](https://user-images.githubusercontent.com/17951467/67861854-503a4780-fb21-11e9-819b-24

[2019-10-30 13:44] AllanOricil commented on #7539
I found a solution to install a previous version. Create a new windows/Mac  user and install the older version. It will not complain about version mismatch.
But thank you @fredrikseiness for you post.

[2019-10-30 15:36] Nmirontsev commented on #7539
@AllanOricil , anyway Postman doesn't allow to control minor version updates. For that reason 7.10 will be downloaded and installed automatically when you relaunch Postman.

[2019-10-30 16:00] christianprim commented on #5816
I understand, that you drop Chrome app for native apps on pc/linux/mac. But on a chromebook the Chrome app is the best solution. So please reconsider your decision. I think, you can test the client os, and only allow the install of chrome app on a chromebook, if you want to push native app on pc/linux/mac. Has support for Chrome app not dropped on these platforms?

[2019-10-30 16:49] sarangjaiswal commented on #4296
This issue exist in 7.10.0 as well. Do you have ETA by when this will be fixed?

[2019-10-30 16:52] zihotki commented on #6723
Only to fallback to v6. I didn't manage to find the cause or other workarounds.

[2019-10-30 17:35] jomel commented on #5141
really @ankit-m not a bug?!!

We just became "victim" of this too.

Our process was:

1. make sure that any collections that the person owned were "shared" or "forked" to the team workspace.
2. make sure that all relevant environments are "team workspace" environments
3. ( since the monitors rely on accessing a specific collection and environment (in this case both on a team workspace) we expected

[2019-10-30 18:03] DocGreenRob commented on #2030
But how do I do this in postman? What is the postman syntax to click on a link. for example, I know how to save values in the response to variables, but how do I click a link using the api where the link is in the response body?

[2019-10-30 18:14] stcalica opened #7556 "500 response on large collection POSTMAN API"
filed on behalf of user.

**Describe the bug**

**EXAMPLE REQUEST:**
[code]
**RESPONSE**:
`requests.exceptions.HTTPError: 500 Server Error: Internal Server Error for url: https://api.getpostman.com/collections?workspace=XXXXXX-XXXX-XXXXX-XXXX-XXXXXX`

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a large collection
2. create a `POST` request with the `collection.json` file to `http

[2019-10-30 18:26] stcalica opened #7557 "SDK Client code generation"
Feature request on behalf of the user.

The user would like to be able to generate SDK client code from Collections.
Code for frontend frameworks.

[2019-10-30 19:07] ykartsev commented on #7529
Thank you @numaanashraf , it's not only viewing that I need... otherwise console would be just fine. What I can't do from console - is to copy request as cURL and other useful options (but mainly this one). Are there any plans to fix DevTools or maybe introduce "copy as cURL" option to the console? Should I add a feature request for that?

Thank you.

[2019-10-30 19:26] shamasis commented on #7550
Hmm. This was a frequently requested feature back in 2014. I will let @vkaegis look back at this and see if these can be converted to tiny in modal settings/checkboxes to toggle this behaviour - but this just an idea and might conflict with our design components.

[2019-10-30 19:33] cyrielle-hada commented on #7553
@numaanashraf issue was reported to be solved with the latest version 7.10.0

[2019-10-30 21:05] xyh1 commented on #4171
+1

[2019-10-30 21:14] akrueger opened #7558 "Documentation example request/clarification"
I'm looking for an explanation in the documentation for the following arguments given to the `jsonBody()` function:

[code]

What do these refer to?
`optionalExpectEqual:Object`
`optionalExpectPath:String`
`optionalExpectPath:String, optionalValue:*`

I am wanting to see if my object property exists.

The object:
[code]

`pm.response.to.have.jsonBody('data')` seems to check that the data object is

[2019-10-30 22:30] software-opal opened #7559 "Generate code snippet doesn't include GraphQL data"
**Describe the bug**
When trying to generate a code snippet for a request with a GraphQL body, the GraphQL body is not included in the generated code.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request with a GraphQL body(the content doesn't matter)
2. Click on `Code`
3. Note that the GraphQL body is absent from the code snippet.

**Expected behavior**
The code snippet sho

[2019-10-30 22:37] software-opal commented on #7559
This also affects the documentation view

[2019-10-30 22:58] stcalica opened #7560 "Email Subject Postman Pro when on Free Plan"
Writing on behalf of the
<img width="741" alt="Screen Shot 2019-10-30 at 3 49 16 PM" src="https://user-images.githubusercontent.com/5624835/67905292-158adc00-fb2e-11e9-8f45-2c88d523e7f4.png">
user

**Describe the bug**
Invite emails to teams when on the free team mention Postman Pro in the subject.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a free team
2. invite a teammate
3. che

[2019-10-30 23:09] software-opal commented on #7559
For those who need to access the request as-sent, you can use `nc -l 8080` and send the request to localhost:8080

[2019-10-30 23:52] TravisEaster commented on #7539
Yea and here I was about to be happy that the console output scrolls down automatically but the request I need to see is hidden because it's too big... Would really like at least the option to try and see larger requests.

[2019-10-31 01:28] moose1882 commented on #7509
has there been any progress on this issue?

[2019-10-31 01:32] josephpconley opened #7561 "Duplicate environments being generated, possibly due to version mismatches"
**Describe the bug**
In our team workspace, we've been experiencing an issue where our environments are being duplicated (often several times).  We believe this is likely due to some members being on version 7+, while others were on 6

**Expected behavior**
I expect environments to not be duplicated

**App information (please complete the following information):**
- Native App
- Postman Version 6

[2019-10-31 01:41] keshav commented on #2701
+1

[2019-10-31 08:24] ankit-m opened #7563 "Add support for Cmd + K to clear console logs"
**Is your feature request related to a problem? Please describe.**
I want to clear the console using keyboard shortcut.

**Describe the solution you'd like**
Support Cmd + K to clear.

**Describe alternatives you've considered**
Click the `Clear` button.

[2019-10-31 08:54] coditva commented on #5841
@tegomass I was able to reproduce the issue. The problem seems to be that the `renegotiate` function calls the callback with error only if the renegotiation was successful. You must add a listener to `error` event on the socket to handle this case as:
[code]

The error on renegotiation is:
[code]

I tried this request with `curl` with the `--verbose` flag and found that this request is failing the

[2019-10-31 09:18] harryi3t commented on #7534
@froblesmartin
Could you try opening the app directly using the executable

[code]

This will help us narrow down the issue and would let us know if the issue is specific to the snap variant of Postman.

[2019-10-31 09:32] markashton opened #7564 "Unable to Merge changes from forked Collection back to parent"
**Describe the bug**
Using a collection that has been forked from a Team workspace, and has changes that should be merged back, selecting "Merge Changes" takes me to the Postman website but the page just sits with a spinner and an uncaught exception shown in the developer console.

**To Reproduce**
Steps to reproduce the behavior (on my forked collection, YMMV) :
1. Go to 'Forked collection ... me

[2019-10-31 09:47] Ghusar commented on #7564
@markashton Thanks for reporting this issue. Until we triage and fix this from our end. Can you try updating the script (both pre-request and tests) of parent collection as well (empty string would be fine)? Which should unblock you for the merge

[2019-10-31 10:00] codenirvana commented on #4407
This issue is fixed in the latest version of the Postman app. Feel free to reopen if the issue persists.

[2019-10-31 10:00] #4407 closed, assigned to saswatds

[2019-10-31 10:05] tegomass commented on #5841
Hi coditva,

I'll check that.

Whether it works or not, big thanks to you !

[2019-10-31 10:19] codenirvana commented on #5353
Closing as duplicate of #2418

@jsamr we are currently working on the original issue as mentioned in https://github.com/postmanlabs/postman-app-support/issues/5353#issuecomment-491784071

[2019-10-31 10:19] #5353 closed, assigned to codenirvana

[2019-10-31 10:22] vadimklimov opened #7565 "Postman Echo: Request body is omitted when Content-Type is missing"
**Describe the bug**
While using Postman Echo service, it has been noticed that when requests contain content in the body and don't contain indication of MIME type of the body (a header 'Content-Type' is missing in the request), the service omits submitted body content.

**To Reproduce**
1. In Postman application: send a POST request to https://postman-echo.com/post with some body content and remo

[2019-10-31 10:24] shamasis commented on #5704
Hi everyone. Parse Error can be reached due to a failure from multiple flows. We are tracking some edge cases where we get parse error, but not sure if the ones mentioned here map on to those. "Works in browser X" is not helping us isolate what exactly the issue is.

I would love to have this tested via getting access to a shareable collection and either a publicly available server or a simple nod

[2019-10-31 10:43] sankalp0o commented on #7476
Hey @g-macd , we have identified the problem and are working towards fixing it. Our highest priority right now is to unblock you and your team. Hopefully this will get resolved within the next week. Sorry for the inconvenience!

[2019-10-31 10:54] sankalp0o commented on #7498
Thanks for helping me understand @Ghedeon. For organising things better in team context, we recommend using workspaces. You can either
1. Create a new workspace with the shared collections and private environments. This will avoid polluting the team workspace with things that only you use. Your collections and requests will still keep in sync.
2. Utilise current value (unsynced) in the same enviro

[2019-10-31 11:20] codenirvana commented on #6126
The single quote in the URL **path** is converted to `%27` in Postman.
However, double quotes are converted to it's encoded value `%22` in both Postman as well as browser (not in curl 😕).

[2019-10-31 13:50] kctang commented on #7534
i was facing this issue yesterday when using wayland. today i switched back to x11 and postman (installed via snap) launched without issue. just sharing in case wayland is the cause of the incompatibility - i am not 100% sure.

[2019-10-31 16:47] ryanhinton opened #7566 "Cannot tell when an endpoint finishes rendering after clicking Send button and switching to a different endpoint."
**Is your feature request related to a problem?
I frequently must use one endpoint before another in sequence for testing and to save time, I would like to render an endpoint and immediately move on to the next tab to click Send on the next tab.  It would be beneficial and a time-saver to know once an endpoint has completed rendering when the rendering tab is not in focus.

**Describe the solution

[2019-10-31 16:55] joshua-bn opened #7567 ""Migrate my team to v7.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2019-10-31 16:56] joshua-bn opened #7568 ""Migrate my team to v7.0" "Learn more" link broken"
**Describe the bug**
Got a notification to migrate my team to v7. Clicked on the "learn more link" get a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Pl

[2019-10-31 18:07] owenblacker commented on #4142
It would definitely be useful to be able to change the font size in the body window. My eyesight ain't what it used to was… 👴🏼

I'm on Windows and I can't see a CSS file in the application directory to mess with, unfortunately.

[2019-10-31 20:56] bdelamatre commented on #3418
This is such an obvious option to add that a dismissal to add it by Postman is hard to accept. All that is needed is a "base url" option that can be cascaded and set with variables, just like how Authorization works. That option would be as easy and logical as the Authorization configuration, saving users from having to specify {{VARIABLE_NAME}} on every single request that they create, creating a

[2019-10-31 21:36] kwhat commented on #4578
Eh, fix didnt work just looping when trying to sign in with google.

[2019-10-31 22:21] rgmembreno opened #7569 "Cannot log in via Google Account on Postman Desktop 7.10.0"
**Describe the bug**
I started up Postman today after not using it for a few weeks, and I was prompted to sign out and sign back in.  My account is tied to my GSuite account, and when I click the "Sign in with Google" button the screen hangs and does not take me to a screen to authorize access to my Google account.

**To Reproduce**
Steps to reproduce the behavior:
1. Log out of Postman, and then

[2019-10-31 23:03] JavierPDev commented on #7569
The same exact thing is happening to me on Ubuntu 19.10 with the same version of Postman (7.10.0)

[2019-10-31 23:09] Mentioum commented on #7569
Happening for me too on latest version of PopOS.

Just installed from snap

[2019-10-31 23:15] mheap commented on #5548
Adding our voice here. At Nexmo we use OpenAPI to document all of our APIs and love the import to postman functionality. However, some of our APIs use JWTs for authentication. Whilst it would be possible to generate and paste in a token manually, it would expire and require a regeneration each time I came back to my collection.

Using other tools I can provide my private key and a set of claims an

[2019-10-31 23:22] JAZ-013 commented on #7569
Exact same thing happened to me this morning.  Windows 10.  I've signed out.  I've also revoked access from the Google Account settings, in the hope that it will force a re-auth.  Nope.  Postman just sits there chewing up some CPU while doing nothing.

[2019-10-31 23:47] vadim-kovalyov commented on #7569
+1. The same problem on Windows 10. I also tried removing `C:\Users\<user>\AppData\Roaming\Postman` but still no luck.

[2019-11-01 00:02] xk0der opened #7570 "Typing '{' in the middle of request URL of an imported collection results in an error"
**Describe the bug**
A user reported that they had imported a collection and when they type '`{`' in the middle of the URL, an error is instantly thrown.

I found out after some investigation that the Collection JSON had variable descriptions with fields that aren't part of Postman's Collection JSON schema.

And importing this collection resulted in the creation of "empty" variables.
<img width="5

[2019-11-01 00:04] xk0der commented on #7570
To anyone landing here for a similar issue, check [collection variables](https://learning.getpostman.com/docs/postman/environments-and-globals/variables-complete-reference/#collection-variables) and if you find any empty variables, removing those should help fix the issue.

[2019-11-01 01:38] jianglgit opened #7571 "你好，postman支持扩展java写的私有协议吗？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-01 02:25] jianglgit opened #7572 "Hello, does postman support extending the proprietary protocol written by java?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-01 05:29] ablyeom commented on #7569
I have same issue on MacOS 10.15.1.
I deleted Postman with all of files about application, and reinstalled but not working.
I stuck like below attachment.

![image](https://user-images.githubusercontent.com/2979043/68004225-fc139c80-fcb3-11e9-888d-bd97e9214a88.png)

[2019-11-01 06:17] aborilov commented on #7569
same here

[2019-11-01 06:57] feeeper commented on #3669
It's already done as I can see. You can open `Find and Replace` panel with `Ctrl+Shift+F` (on Windows).

[2019-11-01 08:06] kepikoi commented on #7569
Sign In via google not working on `Postman 7.10.0, win32-10.0.18362 on x64`.
As a workaround I was able to reset the password in the app prompt and login via a regular Postman account.

Here some hopefully relevant logs:

`render-requester.log`
[code]

`render-auth.log`
[code]

`renderer-shared.log`
[code]

[2019-11-01 08:53] vdespa commented on #6614
It seems that currently there is no way to get the current schema (if one was defined) in the scripts.

[2019-11-01 09:08] cybd commented on #7569
I have the same issue on Linux MInt 19.
Try to use "Trouble signing in?" to reset password. Then login using email/newPassword instead of Google SignIn

[2019-11-01 09:51] jbauerrfid commented on #7569
Same issue on WIndows 10.
I tried to downgrade to Postman 7.9.0, but this did not solve the issue.

[2019-11-01 11:01] prositen commented on #7569
Thank you! This helped me out.

[2019-11-01 13:37] harryi3t commented on #7534
Thanks @kctang for providing this extra information.
@froblesmartin Are you using Wayland or x11? If using Wayland, could you try switching to x11?

[2019-11-01 13:50] b1oki commented on #5248
How fix this error?

[code]

Delete config via `rm -rf ~/.config/Postman` doesn't help.

[2019-11-01 13:52] timothyhoffmann commented on #7551
Same issue.  Fiddler shows the request being made and rejected but the console remains blank.

[2019-11-01 13:54] whitesoup12 commented on #4898
I'm surprised this is still an issue for people. Just select all the variables in the environment and copy them, which copies as a JSON object. Paste the JSON in an editor like VSCode, make your bulk updates, copy the new JSON, then paste it back into the environment. Easy as pie...

[2019-11-01 13:56] b1oki commented on #5248
Turned back to postman (v6/stable) 6.7.6, it's doesn't crash, but auth throw Google don't works.
Change to 7.10.0, try start without auth. It's works. How I can fix auth via Google?

[2019-11-01 14:33] JesseLabruyere commented on #7569
Same issue on Ubuntu 18.04

[2019-11-01 14:55] optimique commented on #7569
Same issue on Mac 10.15 Catalina

[2019-11-01 15:19] mgeissen commented on #7569
Same issue on Mac 10.14.4 with Postman 7.10 - @cybd solution works! Thx!

[2019-11-01 15:25] jcbinet commented on #7569
Same issue on Windows 10 / Postman 7.10. I tried reinstalling the app and resetting the config but it did not solve the issue.

[2019-11-01 16:28] gabrielsroka commented on #6701
@pdewitt

yes, i came to report the same thing. eg, Postman says
[code]

but you need
[code]

so:
change `HTTP` to `HTTPS`
on line 3, change `,` to `.`
on line 5, change `,` to `/` (and add leading `/`

[2019-11-01 16:36] gabrielsroka commented on #4133
"New Code Generation Mode"

![image](https://user-images.githubusercontent.com/14354736/68040203-0cfbe800-fc8b-11e9-90e6-e19f3026693c.png)

[2019-11-01 16:36] gabrielsroka commented on #6701
seems to be fixed: https://github.com/postmanlabs/postman-app-support/issues/4133

![image](https://user-images.githubusercontent.com/14354736/68040225-1c7b3100-fc8b-11e9-844d-22542910f163.png)

[2019-11-01 17:35] sudeeshr commented on #7055
`pkill -fi Postman`
This works for me

[2019-11-01 20:16] NylonDiamond commented on #4230
Been having the above issue for many months. Our company is debating on using an alternative.

[2019-11-01 20:58] jkewley commented on #4898
Spent a few minutes trying to multi-select in the environment variables area. Kept hitting escape to try to remove focus from a field and set selection to the row, which closed the interface. What black magic do you use to select multiple rows? Where do you select when pasting?

[2019-11-01 21:01] whitesoup12 commented on #4898
Select the bottom empty variable row, hold down shift, and press the up arrow to select everything.

[2019-11-01 21:03] jkewley commented on #4898
Can confirm this works. Thanks for pointing it out!

[2019-11-01 21:17] d1820 commented on #4898
yeah that works, but when you have hundreds or thousands of vars,
navigation through the json and selecting it all is a pain. it's obv
postman team don't care to help out on this based on the amount of time
this thread has been active.

 I will have a post coming on how our company implemented our own bulk edit
variable system. with GitHub and JavaScript if anyone interested. if
postman won't help

[2019-11-01 22:04] tbreitenfeldt commented on #3121
I too would like to know if there has been any progress working on accessibility. There are a lot of API developers that use postman, and as a web developer myself who is blind, it is frustrating that I cannot use Postman for testing my APIs where everyone else can use it. I am stuck finding an alternative, which there are not many good ones out there, so I often just right my own tests which take

[2019-11-01 22:39] zersiax commented on #3121
Ok, since it has been years and nothing was actually done, I am done being nice. Here are some alternatives that trump Postman when it comes to accessibility:
https://marketplace.visualstudio.com/items?itemName=humao.rest-client

A VS Code plugin that lets you test APIs. Visual studio Code is quite accessible especially with NVDA.

https://insomnia.rest is pretty much a Postman alternative as well

[2019-11-02 06:27] godot0413301 commented on #7487
this bug a little like #2985.but different is My windows10 pro does the same thing，there is no bug.the bug is only on my ubuntu1804lts

[2019-11-02 21:55] jongio commented on #4898
@d1820 Yes. Please share.

[2019-11-03 00:13] Gosunet commented on #6682
+1

[2019-11-03 03:11] rizaloy commented on #3376
any update on this?

[2019-11-03 05:10] a85 commented on #1667
Closing this issue! Thank you for your patience everyone. This was super hard to pull off. More updates on other threads.

@abhijitkane

[2019-11-03 05:10] #1667 closed, assigned to a85, abhijitkane

[2019-11-03 07:33] harryi3t commented on #5740
@SunderlandJames
I was not able to reproduce this. Let me know if I missed something. Here's what I have tried:

- Created a new VM for Ubuntu 16. (Looking at the Linux kernel version (4.4.0), looks like you are on Ubuntu 16)
- Attached a separate hard drive
- Created a shortcut on my desktop to a folder on another hard drive
- Tried exporting a collection

![image](https://user-images.githubuserc

[2019-11-03 09:52] alastair-todd commented on #1180
Can someone explain why we are forced to use a sandbox at all?

I'm a big boy now.

Seriously, we have stock code for obtaining a jwt token from AWS Cognito and writing it to an environment variable in an automated fashion, and here I am trying to hack around with loading the Cognito javascript libraries through ajax and eval....Billy Bonkers

[2019-11-03 09:59] alastair-todd opened #7573 "Add Cognito to the sandbox"
**Is your feature request related to a problem? Please describe.**

I cannot currently user Cognito in an automated fashion to login in a specific user (for testing an api), and using the resultant jwt token in my request by writing it to an environment variable.

**Describe the solution you'd like**

**option a**: (quick win) add https://www.npmjs.com/package/amazon-cognito-identity-js to the san

[2019-11-03 12:16] sionhalaf commented on #7341
Postman team, just purchased professional licenses.
Unfortunately, there is no sort option for the requests..

When can this is available please?

![image](https://user-images.githubusercontent.com/50303789/68085020-652a1a00-fe44-11e9-9bc1-6eb201fd6c37.png)

[2019-11-03 16:58] harryi3t commented on #6707
@Raj-postman Could you share some screenshots/screen-recording to help us identify the issue.
Also, please share the `SquirrelSetup.log` which is present at `%LOCALAPPDATA%\Postman`
![image](https://user-images.githubusercontent.com/5207331/68088864-24082900-fe89-11e9-9a06-34721f30bc07.png)

[2019-11-03 18:30] harryi3t commented on #7323
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/6707
@steven7mwesigwa I am closing this issue, please subscribe to the original issue for future updates. Also, if you could share some more information about the issue, that would help.

[2019-11-03 18:30] #7323 closed, assigned to numaanashraf, harryi3t

[2019-11-03 19:03] harryi3t commented on #5681
@NeilyoQin The logs provided by you looks like the logs from Slack, not Postman.
Can you try a clean installation of the latest version of Postman?

@m3dbedb The issue you were facing seemed different. The website should auto select 32-bit Postman if the system is running as 32 bit.

[2019-11-03 19:19] harryi3t commented on #7258
This issue is being tracked here https://github.com/postmanlabs/postman-app-support/issues/5681

[2019-11-03 19:19] #7258 closed, assigned to numaanashraf

[2019-11-03 19:20] brewmanz commented on #4117
How hard can it be to add File - Settings - General - Tab size ?

[2019-11-03 19:21] harryi3t commented on #3799
Closing this due to inactivity. Please let us know if the issue persists.

[2019-11-03 19:21] #3799 closed, assigned to harryi3t

[2019-11-03 19:31] sthornton commented on #4355
Same as everyone else. 401 unauthorized consistently. Show stopper for me. Just wasted 3 hours of my life. On to a product that I know works.

[2019-11-03 20:52] pvaland commented on #1966
Hiya,

Wondering if there's any progress to this, would love to be able to run multiple collections to build up a testsuite.

[2019-11-03 21:47] mackaaij commented on #7383
Super annoying indeed. About two weeks ago, Postman decided to hide the sidebar at launch and I use it every time to navigate to the calls I saved. Would be nice to be able to pin the sidebar.

[2019-11-03 22:20] DeeplyDiligent commented on #6967
+1

[2019-11-03 23:39] kevin-postman commented on #7487
@godot0413301 You see the same issue in Windows 10... earlier you mentioned on Windows 10 it was not a bug? Can you provide the text in the screenshot above pasted here so I can try to copy/paste the same to reproduce the issue?

[2019-11-04 01:55] kamalaknn commented on #7553
Hey @andalike @bikash019 @nbstrat

Can you give us some information on what led to this? Did you try manually downgrading to an older version(7.9) after the update(to 7.10), by downloading or opening the 7.9 version of Postman?

Can you share the logs from `View -> Developer -> Show logs in Finder` with us at `help@getpostman.com`?

Also, can you confirm that updating to 7.10 fixes the issue?

[2019-11-04 02:01] kamalaknn commented on #7404
Hey @sinahosseini76

I'm closing this as a duplicate of # 7294. Please follow the original thread for updates.

[2019-11-04 02:01] #7404 closed, assigned to numaanashraf, kamalaknn

[2019-11-04 02:05] kamalaknn commented on #7475
@Raj-postman Do we have the logs from any users who have reported these issues when upgrading from v6 to v7?

[2019-11-04 02:19] kamalaknn commented on #7391
@kumar-nitish Can you send the logs from `View -> Developer -> Show logs in Finder` to `help@getpostman.com` to help us identify the root cause of this issue?

[2019-11-04 02:28] xk0der commented on #7570
More details provided by our user internally at Zendesk states that the library used to generate the collection was https://github.com/postmanlabs/swagger2-postman2

[2019-11-04 02:30] kamalaknn commented on #7342
Hey @lvyahui8 are you still seeing this issue? If yes, can you send the logs from `View -> Developer -> Show logs in Finder` to `help@getpostman.com` so we can take a closer look at this issue?

[2019-11-04 03:30] codenirvana commented on #2493
We've added support for Request Level Configurations in the latest version of the Postman App.

You can configure redirects by setting the `Automatically follow redirects` configuration.

![Screenshot 2019-11-04 at 8 56 19 AM](https://user-images.githubusercontent.com/4865836/68098165-3746e300-fee1-11e9-9317-5bab5664ec0c.png)

We'll be adding support for the folder and collection-level configurati

[2019-11-04 03:30] #2493 closed, assigned to a85, codenirvana, vkaegis

[2019-11-04 04:49] VigneshwariSrinivasan opened #7574 "https://github.com/postmanlabs/postman-app-support/issues/3157"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**App information (please complete the

[2019-11-04 04:52] VigneshwariSrinivasan commented on #3157
Hi,
Is this issue fixed.Because iam facing a similar issue.
I cant able to find any updates on this issue.

[2019-11-04 06:17] #6966 closed, assigned to codenirvana

[2019-11-04 06:18] codenirvana commented on #7299
Fixed in Postman v7.10.0.

[2019-11-04 06:18] #7299 closed, assigned to codenirvana

[2019-11-04 06:21] codenirvana commented on #7288
@andre-exads @Duckbringer This issue is fixed in the latest version of the Postman app `v7.10.0`.

[2019-11-04 06:21] #7288 closed, assigned to coditva

[2019-11-04 06:22] codenirvana commented on #7437
@zackfinix This issue is fixed in the latest version of the Postman app `v7.10.0`.

[2019-11-04 06:22] #7437 closed, assigned to saswatds

[2019-11-04 06:23] codenirvana commented on #7051
@akaczinski This issue is fixed in the latest version of the Postman app `v7.10.0`.

[2019-11-04 06:23] #7051 closed, assigned to codenirvana, vikiCoder

[2019-11-04 06:51] saswatds commented on #7440
Hi @vdespa, as you may be aware `749617470581443931` is a value beyond integer range. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number
This is a limitation of javascript as the language (As javascript is being used to script the pre-post request events).
You can even try this in the chrome devtools and find the same result.  The ideal way to represent such bi

[2019-11-04 06:51] #7440 closed, assigned to nobody

[2019-11-04 06:58] newmangreen opened #7575 "UTF-8 Content-Type problem"
When posting a json string to the server, turkish characters are mingled when reading on server.

At postman, header is:
Content-Type: application/json; charset=UTF-8
JSON is pasted to Body as "raw".

Sent data on Postman: 	"name": "REST işçğüö",
Received data on server: "name": "REST iÅŸÃ§ÄŸÃ¼Ã¶",

At server, request character encoding is set to UTF-8, but no chance.

Postman version: v7.10.0

[2019-11-04 07:06] saswatds commented on #7574
This is issue lacks information on how to reproduce. We would request you to reopen this issue with step or more information help us identify the issue.

[2019-11-04 07:06] #7574 closed, assigned to nobody

[2019-11-04 07:16] pramanikriju commented on #4525
Is this feature coming anytime soon?

[2019-11-04 07:26] milititskiy commented on #7539
No updates and news on this issue? We are staying on 7.9.0?

[2019-11-04 07:44] codenirvana commented on #6180
This issue is fixed in the latest version of the Postman app `v7.10.0`.

[2019-11-04 07:44] #6180 closed, assigned to codenirvana

[2019-11-04 07:53] codenirvana commented on #6402
Low-level network details are now accessible in the Postman Console (Postman v7.10).

<img width="643" alt="Screenshot 2019-11-04 at 1 17 18 PM" src="https://user-images.githubusercontent.com/4865836/68105760-89016480-ff05-11e9-8a19-39d882a67de2.png">

[2019-11-04 07:53] #6402 closed, assigned to codenirvana

[2019-11-04 07:59] numaanashraf commented on #7421
@abhinavgurung We do not officially support CentOS at the moment. Keeping this as a feature request and we will pick this up if more users are interested in this.

Current supported Linux platforms: https://learning.getpostman.com/docs/postman/launching-postman/installation-and-updates/#linux

[2019-11-04 08:01] numaanashraf commented on #7421
Closing issue for now. We will reopen if more users are interested in this.

[2019-11-04 08:01] #7421 closed, assigned to nobody

[2019-11-04 08:09] codenirvana commented on #5918
We've added support for Request Level Configurations in the latest version of the Postman App which allows to:
- Specify the order of cipher suites
- Specify the SSL and TLS protocol versions to be disabled during the handshake
- Use the server's cipher suite order instead of the client's during the handshake

![Screenshot 2019-11-04 at 1 28 54 PM](https://user-images.githubusercontent.com/4865836

[2019-11-04 08:09] #5918 closed, assigned to codenirvana

[2019-11-04 08:11] harryi3t commented on #7259
@mccannt This looks like a device-specific issue which is not related to Postman.
Other people facing the same issues seemed to have resolved it by installing the missing update file from Microsoft: https://support.microsoft.com/en-us/help/2533623/microsoft-security-advisory-insecure-library-loading-could-allow-remot

References:
https://www.reddit.com/r/discordapp/comments/6sny2w/the_procedure_en

[2019-11-04 08:11] #7259 closed, assigned to numaanashraf

[2019-11-04 08:12] DeonNel1 commented on #3121
Yes clearly universal access is very low on postman's priorities...  Maybe
someone should start commenting on their facebook page whenever they make a
post to highlight this...  That was the only way I got any
feedback/progress from Jetbrains last year, they also had 10 year old
accessibility issues in intelliJ idea that just didn't get any attention
until I started highlighting this whenever they

[2019-11-04 08:14] kamalaknn commented on #4883
This issue has not been seen in the recent versions of Postman. I'm closing this issue now. Please let us know if you are seeing this issue again.

[2019-11-04 08:14] #4883 closed, assigned to nobody

[2019-11-04 08:21] kamalaknn commented on #7464
This looks like a duplicate of #5373

I'm closing this issue for now. Please follow the original thread for updates.

[2019-11-04 08:21] #7464 closed, assigned to numaanashraf

[2019-11-04 08:29] kamalaknn commented on #5189
Closing this due to inactivity. If you are facing similar issues, please let us know. Please attach logs from `View -> Developer -> Show logs in Explorer` to `help@getpostman.com` so that we can take a closer look at this issue.

[2019-11-04 08:29] #5189 closed, assigned to nobody

[2019-11-04 08:30] harryi3t commented on #7442
@andrewliles There are two parts to this. The first one is the bug that Postman window should not open in such a low dimension even on adding secondary displays.
That is being tracked here https://github.com/postmanlabs/postman-app-support/issues/6304

The other is adding that extra menu item for `zoom`. I am marking that as a feature request for that case.

[2019-11-04 08:47] VigneshwariSrinivasan commented on #7574
Step 1 - I had a collection having 3 POST and 2 GET requests.
Step 2 - My collection is for User Registration.
Step 3 - But while running the collection , i cant able to run all 3 POST and 2 GET requests, instead it is running only one request.
But i want to run all the requests from my collection.

[2019-11-04 08:52] saswatds commented on #7539
Hi everyone, one of the major features that we added in the new console was to persist logs even when the console was closed, show whitespace characters, etc. This meant that anything we store and show would consume a lot of memory(RAM) and disk-space consumption. The `10kb` limit was a very calculated limit that we put on all **automatically** stored data so that things do not crash and work for

[2019-11-04 08:54] harryi3t commented on #7534
We are tracking this issue here https://github.com/postmanlabs/postman-app-support/issues/6252

[2019-11-04 08:54] #7534 closed, assigned to harryi3t

[2019-11-04 09:05] jeremos commented on #5990
up !
Postman is unusable on mac os catalina ! I don't know where the trouble is but when I start a very simple get request on a local virtualbox server, the spin indicator never disapears. I tried the same request with macpaw or curl and all works fine.
I really need the js capabilities and team sharing of postman, do you have a workaround  or a quick fix ?

[2019-11-04 09:08] milititskiy commented on #7539
Thank you for reply.
So, let me get it right: you have calculated that 10kb is enough for stable work of your program,after an update that you have made. And before the update there wehere not many complaints on the problem of large responses?
The next thing you are proposing me to use "console.log()" command instead of out of the box funtionality that was present in previous versions? I will not

[2019-11-04 10:17] vdespa commented on #7440
I understand that. I would have expected for at least a warning to be issued in the Postman console.

[2019-11-04 11:56] ash007-postman opened #7576 "Permission error while trying to access archive collections"
**Describe the bug**
User is getting Permission error while trying to access archive collections

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to  https://go.postman.co/usage/archive
2. Getting "**You don't have permission to view this page**"

**Expected behavior**
User should be able to download the data from the archive

**Screenshots**
![Screenshot 2019-11-04 at 2 37 28 PM](ht

[2019-11-04 13:00] numaanashraf commented on #7487
Duplicate of #2985

[2019-11-04 13:00] #7487 closed, assigned to nobody

[2019-11-04 13:51] Nmirontsev commented on #7539
@saswatds , thank you for your response. I understand the reasons behind the decision, but my test suites have thousands of requests. Going through all of them, taking a look which ones have more 10KB response and add console.log to them will be a pain.
It would be more convenient approach if you would add this as a configuration in settings similar to your "Max response size in MB" config. Defaul

[2019-11-04 14:24] markashton commented on #7564
Thanks for the suggestion @Ghusar, but updating the parent collection pre-request and test scripts did not allow a merge to take place. The same error appears in the browser console log.

[2019-11-04 14:43] adamkelm opened #7577 "Support for treating .app packages as directories in import/export flows"
**Describe the bug**
On MacOS, when a user has an existing .Net application folder, a user can't export a collection file to a folder within the .Net application folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any .Net application folder on MacOS, i.e. "Example.app"
2. Create a collection in Postman.
3. Choose the option to Export the collection, then confirm Export.
4. In the

[2019-11-04 15:43] keithrz commented on #7004
I see this in Postman v7.10.0, the latest version.  Please reopen this issue.  Thank you!

[2019-11-04 16:34] shamasis commented on #7539
Just chipping in ... this WILL NOT be limited to 10kb 😊😊 ... in a couple of iterations we want to add an on-demand loading of truncated strings and make this even greater than previous 1mb-ish limit and that too in a controlled non-crashing fashion. What use is console if the aspect you use to debug is itself not showing full info. 😛

[2019-11-04 16:38] 18549 commented on #3774
The UI is quite obtuse in this area.

Why should whether a request is saved even have any impact on whether it can be run in the collection runner? If the request can be run using its current state in the main window it makes no sense whatsoever that it cannot be run in the collection runner.

'Save' means 'will this object's state be persisted if I close the application'. Not 'does this thing exi

[2019-11-04 16:49] pwaterz commented on #5990
@jeremos Your issue is unrelated to this one. Open a new ticket and provide more thorough details please. Also remember this is an open source project, be polite, you are getting the software for free.

[2019-11-04 17:22] jeremos commented on #5990
yes sorry; i'll do it and I don't want to be unpolite. Postman is a amazing tool and when it freezes, it's like an earthquake in my digital life ;(
For me, Postman is a commercial product with a $576/year cost. It should be cool to have a commercial support also.

[2019-11-04 18:59] ntbrierly commented on #7539
Just wanted to add my voice - this 10 KB limit is very inconvenient, and I hope something can be done to either increase it or provide some other way to easily view large responses.  It is also a problem when you have several tests that need to be run together because some rely on the results of previous tests, or on variables set in previous tests.  You can't just run one of them in isolation, wh

[2019-11-04 19:29] bytestream commented on #5681
I had the exact same errors when using the latest version from the website - something about Slack (which I also have installed). The log messages are genuine and what is opened when you click 'Open Setup Log'...

I fixed the issue by `rm -rf` the following Windows directories:
[code]

Using the same latest x64 download which was causing the error, I double clicked to run and it finally worked.

[2019-11-04 20:16] d1820 commented on #4898
If anyone ( @jongio ) is interested this is how we added value back into using the postman variables system

https://github.com/d1820/PostmanVariablesSample

[2019-11-04 20:30] pdcarroll commented on #2773
First, tabs in the Postman UI do not add value to the user experience. There is already a way to navigate your requests: the sidebar menu. Having an inferior UI abstraction to access requests (i.e., the tabs) is not needed.

Second, in addition to not adding any obvious value, the existence of tabs actually adds friction to the user experience. It clutters the UI and creates additional work for us

[2019-11-04 22:38] narbit opened #7578 "GitHub Integration - support for Pull Requests"
This is a general question about GitHub integration.

Forking and merging described in the [docs](https://learning.getpostman.com/docs/postman/collections/version-control-for-collections/) - appears to be Postman's functionality for team collaboration and change tracking. When forking, no actual fork is created in GitHub. Is there currently any way to get team's feedback via some type of Postman e

[2019-11-04 23:41] SimoTod commented on #7555
HI @Raja-Simha and @sankalp0o

Not sure if this is the right thread, but I don't want to create duplicates, let me know if you want me to create a new ticket, please.

We are facing a similar challenge in my organisation: we have set up a CI/CD pipeline so when we update the openapi schema in our repository and the build passes, the pipeline automatically updates the relevant API version in postma

[2019-11-05 00:09] xk0der commented on #7105
A user reported this internally and this issue is hampering their API testing.
I have updated internal tickets with more details.

[2019-11-05 02:39] glau2 commented on #5222
+1 on adding ability to sort in both collection level and folder level

[2019-11-05 03:53] sankalp0o commented on #7555
Hey @SimoTod ,
We're trying to do auto-update the documentation on schema update. You should see them soon!

I have one question for you, do you add anything to the documentation after generating it from schema or do you use it as is?

[2019-11-05 03:54] #7478 closed, assigned to nobody

[2019-11-05 03:57] preethammavin commented on #7511
@digitalthjarta hey, this is not on our roadmap as of yet, but I am taking this as a feature request for Load Testing. We would look at how we can enable the use-case in the future

[2019-11-05 03:59] preethammavin commented on #7578
@narbit thanks for the feedback, we are looking at how we can address this workflow. Will definitely reach out when we have a better idea of how we can solve this. Taking this feedback for now.

[2019-11-05 04:04] kamalaknn commented on #7571
Duplicate of #7572

[2019-11-05 04:04] #7571 closed, assigned to nobody

[2019-11-05 04:06] kamalaknn commented on #7570
@xk0der Can you provide a sample collection that we can use to reproduce this issue?

[2019-11-05 04:09] kamalaknn commented on #7567
@joshua-bn We are not able to understand the issue you are facing from this description.

If you are having trouble migrating your team to Postman v7 please reach out to `help@getpostman.com` from your registered email address.

If you are seeing any unexpected behaviors when trying to update to Postman v7 or using Postman after upgrading to v7 please provide more details so we can take a closer l