[2020-08-14 10:26] ilam-natarajan opened #8939 "Not able to export postman collections"
Same issue reported in https://github.com/postmanlabs/postman-app-support/issues/6730

macbook pro - macOS Catalina
postman - Version 7.30.1 (7.30.1)

[2020-08-14 11:02] ilam-natarajan commented on #8939
got solved after i restarted postman :/

[2020-08-14 11:02] #8939 closed, assigned to nobody

[2020-08-14 11:52] VicKetchup commented on #2578
We have taken a lot of steps to improve Postman performance in all scenarious, however in some cases it's a choice between having smoother running app and monitors that take longer to run and therefore may timeout.
Having a way to identify where the execution is happening will allow us to use different approaches and ensure best performance in all cases.

[2020-08-14 12:31] Niush commented on #2418
@eysikal Did you find any suitable solution for this? Postman seems to just throw `Error: Parse Error: Expected HTTP/` and also ignore the cookie so user is not authenticated.

[2020-08-14 13:47] duddukurimd commented on #8900
@codenirvana , settings wise we think it was initialized correctly only. As mentioned earlier for the resources who are currently facing the issue have the postman working for them as expected and suddenly they started getting the issue.

As suggested above options to check the request in Postman console, Tried validating the request and seems everything is matching and the only difference we see

[2020-08-14 14:13] DannyDainton commented on #8900
The differences I can see are the file paths to the certificate locations - both in terms of names and `/` or `\` 🤔

Would that cause an issue @codenirvana? Are these paths related to the directory set in the Working Directory?

[2020-08-14 14:17] DannyDainton commented on #8900
@duddukurimd I removed the images as the _masking_ you used, was not really masking any of those details like the client_id and client_secret. 😬

[2020-08-14 14:35] satuday commented on #4361
Im also experiencing this in Win 10 with Postman v7.30.2-canary01.  As soon as I open postman, taskman show postman is using 30% - 40% cpu.

[2020-08-14 15:05] eysikal commented on #2418
@Niush No, I never did. I ended up using Chrome extension tool to test my API and that’s when I discovered that it was Postman that had the issue.

[2020-08-14 15:21] DannyDainton commented on #8698
Hey @anaw4804

Are you still seeing this issue?

[2020-08-14 15:23] NicolasDepoilly commented on #8823
my postman is totally frozen and not working, which is a bit painful.

lsb_release -a
No LSB modules are available.
Distributor ID:    Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:    18.04
Codename:    bionic

Got as well a snap install

I have the same screen as above, and am not able to use postman anymore.
I sent a mail with my logs, hope this will help.
Thanks

[2020-08-14 16:21] DannyDainton commented on #8571
@sivcan Is this one that we can close out now?

[2020-08-14 16:29] DannyDainton commented on #8470
Hey @solitarypenman

Just checked the latest version on the web and I can see the icons. Can you confirm that you're seeing them too? 🙏

![Screenshot 2020-08-14 at 17 27 36](https://user-images.githubusercontent.com/17089546/90271394-aa5b8d80-de53-11ea-91b1-333e9e3bd2ed.png)

[2020-08-14 16:35] DannyDainton commented on #8408
@codenirvana Is this one for the https://github.com/postmanlabs/newman repo?

[2020-08-14 16:39] DannyDainton commented on #8352
Hey @fenoloco

Are you/your team still facing issues with merging forks in the latest version?

[2020-08-14 16:40] jerrfi commented on #8806
I agree, this "improvement" is much more like a bug and a big step backward in usability for the Two Pane View.  And the Single Pane View is very limiting since it forces too much back & forth scrolling in 2 windows to synch their contents.

Please return to the fixed tabs for both panes.

Alternately, at least include the Test Results success failure ratio when the tabs go to a drop down.   Examp

[2020-08-14 16:45] DannyDainton commented on #8344
Hey @kevyaugusto

Is this something that you're still having an issue with?

[2020-08-14 16:56] VicKetchup commented on #6266
@godfrzero @ArjunSingh-PM I was doing some performance improvements on our collections to ensure the monitors don't time out (as we started having some issues again) and after some changes that clearly reduce the time of execution of tests, I ran the monitors and still got timeouts. I started looking at time stamps and noticed that on the runs where timeouts occur, there is a few seconds delay bet

[2020-08-14 17:00] DannyDainton commented on #5073
Hey @anudeepmedicharla

Is this something that we can close out now?

[2020-08-14 17:49] EwertonDutra commented on #7294
same problem

Consuming a lot of CPU (30% and never stops)
version 7.30.1
Windows 10 64 bits

[2020-08-14 18:03] Edgame2 commented on #2847
Big +1 . Would be super helpful.

[2020-08-14 20:58] DannyDainton commented on #8571
This issue has now been fixed.

[2020-08-14 20:58] #8571 closed, assigned to godfrzero, Raja-Simha

[2020-08-14 22:21] mccannt commented on #6554
@chrisdeso Is this still an issue?

[2020-08-14 22:29] mccannt commented on #5980
@btobiczyk122 @SpeedySpidey @reawei Is this still an issue for you in the most recent version of the app? We have made many improvements to the application since this was logged.

[2020-08-14 22:34] mccannt commented on #6015
Is this still an issue for anyone in the thread? We have made many performance improvements to the application recently.
Can you please try the most recent version of the Postman app and let us know if this is still an issue?

[2020-08-14 22:37] mccannt commented on #6061
@wolfadactyl Is this still happening in the most recent version of the app?

[2020-08-15 07:04] duddukurimd commented on #8900
@DannyDainton Sure. Thank you for deleting.

we are selecting the same certificate, the path would be different but the certificate is the same.

[2020-08-15 08:13] DannyDainton commented on #8853
Hey @henry-ceo

We haven't heard back from you, regarding the information we need to move this request further.

I'm going to close out the issue for now but we can look to open it again when we receive the clarifying details.

[2020-08-15 08:13] #8853 closed, assigned to nobody

[2020-08-15 08:24] DannyDainton commented on #8741
Hey @Saurabh9455

Are you still seeing this issue?

[2020-08-15 08:30] DannyDainton commented on #7824
Hey @emimarz

Are you still facing this issue on the latest version?

[2020-08-15 08:33] DannyDainton commented on #7503
Hey @vijayphani

I'm going to close out this issue due to inactivity/lack of details to allow us to debug this locally. We can look to open this back up if the problem still persists.

[2020-08-15 08:33] #7503 closed, assigned to saswatds

[2020-08-15 08:35] DannyDainton commented on #5973
Hey @ronenneumark

I'm going to close out the issue for now but we can look to reopen this if more details to reproduce the issue are received.

[2020-08-15 08:35] #5973 closed, assigned to codenirvana

[2020-08-15 08:38] DannyDainton commented on #8206
Hey @Raj-postman

Would you be able to flesh out and expand the details of this feature request, please?

[2020-08-15 08:40] DannyDainton commented on #8639
Hey @sonalezops

Are you still facing this issue?

[2020-08-15 08:48] DannyDainton commented on #999
Hey @saswatds

Should we transfer this issue over to the HTML reporter or Newman repo?

Or maybe look to close it as there are alternative reporters out there which can handle this request. 😄

[2020-08-15 08:59] DannyDainton commented on #2261
Hey @travisspencer

I appreciate it's been a while since this was raised but I'm just looking over the issue tracker to see what can be closed out.

There have been many changes to the platform since this was created as a feature request - Are we ok to close this request out now?

[2020-08-15 09:03] travisspencer commented on #2261
This kinda lack of functionality has made Postman unusable for me in the work I do on OAuth and OpenID Connect. So, we invented an alternative -- oauth.tools. When I can't use that for something unrelated to those spec, I use curl and curlie. As a result, I'm no longer a Postman user and am indifferent to the state of this ticket.

[2020-08-15 09:32] DannyDainton commented on #6240
Hey @benfletcher

The error you described is no longer part of the latest version of the native desktop app.

<img width="722" alt="Screenshot 2020-08-15 at 10 29 45" src="https://user-images.githubusercontent.com/17089546/90309669-62377c00-dee2-11ea-8c97-b35a56ed809a.png">

I'm going to close this issue and open up one on our docs repo to add this information..

[2020-08-15 09:32] #6240 closed, assigned to nobody

[2020-08-15 15:50] #2261 closed, assigned to nobody

[2020-08-15 20:25] therockstorm opened #8940 "Support OpenAPI-First, Forked Collection Workflow"
We use a Postman Team account to publish Collections and Documentation and drive everything off of the OpenAPI spec during CI in an automated fashion. An ideal workflow would be,

1. Update OpenAPI spec
1. Upload to Postman via [Update Schema](https://documenter.getpostman.com/view/631643/JsLs/?version=latest#41ec3c7c-1cea-40a4-8dbf-0fdd5e9fbffb), triggering the Collection created from that schema

[2020-08-16 07:30] arvinsebastian commented on #6351
+1

[2020-08-16 11:30] sankalp0o commented on #8940
@therockstorm thanks for the detailed explanation! This helps us understand the various gaps in the workflow and we will work towards addressing all of them.

Have you tried updating the downstream artifacts using this workflow - https://learning.postman.com/docs/designing-and-developing-your-api/validating-elements-against-schema/#updating-api-elements?
If this works for you, we can expose the sa

[2020-08-16 12:51] mccannt commented on #6552
@tparikka @pranoy10 Is this still happening to you on the most current version of the app?

[2020-08-16 14:10] tparikka commented on #6552
This issue seems to be resolved for me in win32 10.0.18363 / x64.

[2020-08-16 14:10] #6552 closed, assigned to nobody

[2020-08-16 15:50] therockstorm commented on #8940
Thanks for the quick reply @sankalp0o!

I've seen this workflow, but it seems much more manual than the `openapi-to-postman` tool. If exposed though the API, that would help. However, I just ran a simple test and it didn't pick up my change, so I fear this would just introduce another list of workarounds.

1. Create a new API in Postman and "Generate Collection" from that schema
1. Go to the Devel

[2020-08-16 17:00] bsantos09 commented on #8612
Any update on this? I'm having this issue

[2020-08-16 18:59] mohitranka commented on #8930
@vikiCoder Can you please validate this issue?

[2020-08-16 19:08] mohitranka commented on #8919
@codenirvana Can you take a look into this, and see if they are related to boringSSL issue?

[2020-08-16 19:14] mohitranka commented on #8917
@connorgraves99 I am unable to reproduce this issue locally. Is it possible to share a collection on which this behaviour can be reproduced?

[2020-08-16 20:42] mccannt commented on #6552
Great, thank you for following up with us on this @tparikka

[2020-08-17 02:49] larryding1981 commented on #4009
I am eagerly waiting for it.

[2020-08-17 03:18] ilyaskarim commented on #4009
This issue should get award for the ignored issues of Github.

[2020-08-17 06:10] ArjunSingh-PM commented on #6266
@VicKetchup Thank you for bringing this up. Could you please raise a separate ticket for this.

[2020-08-17 06:14] anudeepmedicharla commented on #5073
@DannyDainton not sure if this is solved. @ankit-m ?

[2020-08-17 08:15] sjkaiv commented on #8917
Issue reproducible in following case also:
1. Run a collection
2. Stop Run in between
3. Close the Collection Runner window
4. Click Runner button in main window
App crashes
Version - v7.30.1
OS - Windows

[2020-08-17 08:17] Raj-postman commented on #8206
Sure @DannyDainton - wanted to see a way where a collection has a "Header" unchecked such that it remains hidden from documentation and is accessible only from the Imported collection. Screenshots of current behavior:

Header Unchecked:

![image](https://user-images.githubusercontent.com/47771757/90373543-addb5880-e08f-11ea-9d9d-8b00a3054b53.png)

Internal Documentation:

![image](https://user-ima

[2020-08-17 08:22] udsharma015 opened #8941 "Show Newly added Add-Request after its addition"
**Is your feature request related to a problem? Please describe.**
When I add a new request, the new request gets added in the background, I am shown the old Request again instead of the newly added request.

**Describe the solution you'd like**
I feel for User experience, whenever a User adds a New Request inside a collection, and click on SAVE, then User should be shown the newly added request,

[2020-08-17 08:49] DannyDainton commented on #8206
@Raja-Simha - Is that enough information for this particular FR?

[2020-08-17 08:57] seth-rah commented on #2096
4 years later and still open, oh boy.

Doesn't help that some of the shortcuts are none-standard and now I need to adapt to new shortcuts.

[2020-08-17 08:59] DannyDainton commented on #8926
Hey @NadaBahaa

I'm going to close out this issue due to a lack of information, we can look to open it up again if we receive these details.

[2020-08-17 08:59] #8926 closed, assigned to nobody

[2020-08-17 08:59] DannyDainton commented on #8923
Hey @ritika50

I'm going to close out this issue due to a lack of information, we can look to open it up again if we receive these details.

[2020-08-17 08:59] #8923 closed, assigned to nobody

[2020-08-17 09:16] mohammedgqudah commented on #4009
@SamvelRaja any updates? are you going to implement this feature cuz we are all waiting.

[2020-08-17 09:26] VicKetchup opened #8942 "Monitors struggle with big Global variables"
**Describe the bug**
A bit of backstory:
We are currently experiencing issues with Monitors timing out, so started doing some optimisations.
Our collections used to store swagger jsons as variables to do swagger validations, however this caused the UI to be quite unresponsive and was tedious work for us to update all collections/branches. We moved to making a request to our spec page on each reque

[2020-08-17 10:17] neha19988 commented on #1533
Hey i have an issue like in post api there are 14 parameters so i have to test positive scenario as well negative  so in negative if there will be any null value
i have to give a msg like provide valid value for  that in pre request script i write
let swicthCaseIteration= +pm.environment.get("swicthCaseIteration");
 switch(swicthCaseIteration) {
  case 0:( for postive)
pm.environment.set("userMobi

[2020-08-17 10:20] neha19988 opened #8943 "How can i reduce pre request scripts"
Hey I have an issue like in post API there are 14 parameters so I have to test positive scenario as well negative so in negative if there will be any null value
I have to give a msg like provide a valid value for that in the pre-request script I write

[code]

So like this, I write 14 cases by providing null value respectively and in the test I use switch case like
If switch `iteration===1` then p

[2020-08-17 10:31] james-postman commented on #8941
Hi @udsharma015,

Thanks for writing in, that sounds like a great question for the Postman community!

https://community.postman.com

James

[2020-08-17 10:58] arlemi commented on #8943
@neha19988 Please ask that question on [the community forum ](https://community.postman.com/) (you can log in with your Postman account) since this isn't a bug nor a feature request. We'll be able to help there. 🙂

[2020-08-17 10:58] #8943 closed, assigned to nobody

[2020-08-17 14:27] Liz1979 opened #8944 "Graphql body changes are not viewable within Postman Pull requests"
**Is your feature request related to a problem? Please describe.**
The issue I am having is when I create a pull request from a forked collection that uses the GraphQL body element, any changes made here do not show up, but if there is a request that uses the raw body request it shows these changes in the pull request. This is causing an issue as we can't review the actual request that has been ad

[2020-08-17 14:52] SabriH10 commented on #8902
Hey @mattalexander-pantheon, following my previous comment, I'll go ahead and close out this issue. Feel free to reach out if you have any other questions or concerns.

[2020-08-17 14:52] #8902 closed, assigned to SabriH10

[2020-08-17 14:56] mohitranka commented on #8712
@geoffturk We are not able to reproduce the issue.

The diff of the attached files are about the variables. When you upload the data via Postman, the environment variables get resolved to their values, giving the impression that upload is not working.

Please let me know if that is the case.

[2020-08-17 15:19] tester-xm opened #8945 "The problem for interceptor about decoding and encoding?"
![image](https://user-images.githubusercontent.com/60353008/90412637-f02c8600-e0df-11ea-80c6-52d2fcf7c5f1.png)
I get the body from interceptor, and my request body has chinese.
So,I need help?
Thanks~

[2020-08-17 15:23] DannyDainton commented on #8945
Hey @tester-xm

Could you also provide information about the App Version, Interceptor Extension Version and your OS, please?

Any other information about how to replicate this issue would also be really useful. Is there a particular endpoint that you're hitting?

[2020-08-17 17:03] AyushG3112 opened #8946 "collections do not build proper payload when using variable with multiline string"
**Describe the bug**
GIven a collection with the pre-request script,

[code]

A request using the following payload:

[code]

which finally translates to:

[code]

Which is rejected by the API Server, because this is not valid JSON

**To Reproduce**
Steps to reproduce the behavior:
1. Import the collection provided in the link at the end
2. Run the collection

**Expected behavior**
Request Payload

[2020-08-17 17:33] kartikjain26 commented on #8944
@Liz1979 Are you able to reproduce this issue ? If yes, please can you elaborate the steps here.

[2020-08-17 17:37] Ariemeth opened #8947 "Support mqtt npm package in sandbox"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When testing our APIs many of them should generate an mqtt message to a client.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
We would like to be able to establish a mqtt connection in a t

[2020-08-17 17:48] vvs11 commented on #8947
Hi @Ariemeth. This is something that is on our roadmap. No timelines yet. Will keep you posted. Thanks for the writing in

[2020-08-17 18:06] obieo commented on #6722
Hello – Thanks for the response however unless I’m missing something, this feature that is referenced does not hit on the scenario I was describing.

I see that you’re manually able to define the schema however what if I’m just looking to import the OpenAPI spec, using a url from the spec that I have already created a collection from.

When I go to import, I’m only left with 2 options (Copy, Repla

[2020-08-17 19:25] SabriH10 commented on #8860
Hi @harrymaurya05 , Did you get a chance to follow some of the suggestions to troubleshoot? I'd suggest comparing the request via Postman vs cURL - The Postman Console should help in that regard. Are you running behind a VPN or Proxy?
Are all requests failing for you via Postman or just a particular request?

[2020-08-17 19:40] lallenmaestro commented on #8934
Any updates?

[2020-08-17 20:46] tank104 commented on #6722
I agree with Obieo,
I still don't see the feature to updte existing collection, unless I am mistaken.

[2020-08-17 21:08] SabriH10 commented on #8693
Hi @deshmanedr , Just wanted to follow up to let you know I'm going to close this out. Hopefully, the information provided in Danny's response helped here regarding the difference between `undefined` and `null`. Feel free to reach out if you have ant questions or concerns.

[2020-08-17 21:08] #8693 closed, assigned to SabriH10

[2020-08-17 23:28] andrew-jones commented on #8754
Getting the same console errors on Ubuntu 18.04.  Second time in a couple of weeks I've had to reinstall. `View -> Developer -> View logs in File Manager` did not launch file manager.

[2020-08-18 06:40] DannyDainton commented on #8946
Hey @AyushG3112

If you change the `/n` to `</br>` it will work and display the markdown.

[code]

<img width="1197" alt="Screenshot 2020-08-18 at 07 38 59" src="https://user-images.githubusercontent.com/17089546/90479101-0eb57000-e126-11ea-9856-233d18f78b85.png">

[2020-08-18 06:53] AyushG3112 commented on #8946
@DannyDainton yes, but in the actual use case, `data` is received as a response from another API, which I set into collection variables, and read it in the next request. I would rather not modify the response I received before setting it in the collection variables.

[2020-08-18 07:28] senthilprabhut commented on #1066
+1

[2020-08-18 07:39] joelbiffin commented on #8944
@kartikjain26 I was able to reproduce this.

1. Create new request in fork of main collection
![Screenshot 2020-08-18 at 08 36 59](https://user-images.githubusercontent.com/2061283/90484509-34467780-e12e-11ea-9f27-1f6beafb137f.png)

2. Create pull request

3. Inspect 'Changes' tab to see no 'GRAPHQL QUERY' section
![Screenshot 2020-08-18 at 08 37 41](https://user-images.githubusercontent.com/20612

[2020-08-18 07:46] kartikjain26 commented on #8944
@joelbiffin Does this happen for every collection ? Can you try this on a freshly created collection and let us know if similar behaviour exists ?

[2020-08-18 07:48] DannyDainton commented on #8946
Those new lines in the variable are being handled in a different in the app.

As a workaround, you could do this to replace the `\n` before setting the variable in the pre-request:

[code]

[2020-08-18 08:01] AyushG3112 commented on #8946
@DannyDainton thanks, that worked. Also, can this be marked as a feature request, or can this behaviour be documented somewhere?

[2020-08-18 08:15] DannyDainton commented on #8946
So for some reason (maybe because it's early), I didn't see the obvious issue with setting that string into a JSON body.

You need to wrap the string with `JSON.stringify()` before setting the variable:

[code]

The body needs to be also changed to be this:

[code]
The `{{data}}` variable needs to be added _without_ the quotes.

[2020-08-18 08:19] Liz1979 commented on #8944
@kartikjain26 Hi yes this happens for every collection you are not able to see the queries people are creating in their Pull requests.

[2020-08-18 08:31] kartikjain26 commented on #8944
@Liz1979 Can you also check the same as @joelbiffin .
1. Create a new collection with requests
2. Create a new fork and modify request
3. Check if the Graphql query/variables are present or not.

[2020-08-18 08:33] AyushG3112 commented on #8946
@DannyDainton thanks that worked!

[2020-08-18 08:44] #8946 closed, assigned to nobody

[2020-08-18 08:56] Liz1979 commented on #8944
@kartikjain26 So I recreated the steps above:
created and forked a new collection
![Screenshot 2020-08-18 at 09 49 14](https://user-images.githubusercontent.com/32060388/90492090-b045bd00-e138-11ea-8142-43428aa730e0.png)

added two requests - a graphQL body request and a raw body request
![Screenshot 2020-08-18 at 09 54 47](https://user-images.githubusercontent.com/32060388/90492275-ec791d80-e138-

[2020-08-18 09:10] MuhamedVrajolli opened #8948 "Copy url to clipboard options"
When copying an url of a request that has environment attributes for example:
[code]
for example `base-url` in this case has the value `http://localhost:8080`.

It would be useful to have an option to copy it as raw or to copy with environment attributes parsed.
When copied as raw, it copies it like this:
[code]
and when copied with environment attributes parsed, it copies it like this:
[code]

[2020-08-18 09:19] kartikjain26 commented on #8944
Thanks @joelbiffin  @Liz1979  This was reproducible on our end and we have filed this bug. We'll track it on our roadmap and provide constant updates on this.

[2020-08-18 09:25] Niach commented on #4009
+1 !!!!

[2020-08-18 09:26] arlemi commented on #8934
@lallenmaestro No updates on this specific issue but while we're looking into it I can recommend to try out the [web version of Postman](https://go.postman.co/build) and see if it helps.

[2020-08-18 09:32] Liz1979 commented on #8944
@kartikjain26 Thank you

[2020-08-18 09:47] DannyDainton commented on #8948
Duplicate of #3234

[2020-08-18 09:47] #8948 closed, assigned to nobody

[2020-08-18 10:33] arlemi commented on #4009
Hey everyone,

We've given our point of view on this previously, admittedly it's not that easy to find because of all the +1s so here it is:

Also, we are hiring and expanding fast. So if any of you are interested in helping us build this, let me know! ;)

As said before this is something we want to build, but we do not have an ETA yet.
We see and read all your comments, be sure you'll be the firs

[2020-08-18 10:34] ritika50 commented on #8923
Hi Danny ,

The Issue is  -

1.Go to Postman
2.Click on Body section>>raw -Text (See screenshot)
3.Provide Text as  'Hello  world'
4.Now go to Settings >>Data-Download only my data (This file will be saved
on your system as Json file)
5.Open this Json file (Check Req5-Data option is Null even when data is
entered) -See Screenshot

It means save is not working properly
--

On Mon, Aug 17, 2020 at 2

[2020-08-18 12:27] DannyDainton commented on #8923
Could you confirm that you're saving the request after you have entered "Hello World"?

I followed your step, the first time I didn't save the changes and the text was not in the data download. I then followed the steps again but saved the changes before downloading the data, this time the "Hello World" text was in the downloaded file.

[2020-08-18 13:30] ritika50 commented on #8923
Yes,I am saving that Text But still 'Data Option' is null.
Please see screenshot.

I am very much sure that this is defect.

On Tue, Aug 18, 2020 at 5:57 PM Danny Dainton <notifications@github.com> wrote:

[2020-08-18 13:32] DannyDainton commented on #8923
We cannot see any of the screenshots that you're sending.

If you're replying via an email client, that might be this issue. Could you go to Github from a Web browser and attach the files please.

[2020-08-18 13:36] ritika50 commented on #8923
This Issue is resolved -When I am selecting some other option than
Text(say javascript)-Save it
and then again  Select Text  and save it-Then Import that file and
check data option -It is not null.

On Tue, Aug 18, 2020 at 7:00 PM ritika shukla
<ritika.shukla537@gmail.com> wrote:

[2020-08-18 13:39] ritika50 commented on #8923
![dataPotionNullJson](https://user-images.githubusercontent.com/69587412/90519863-39cfac00-e186-11ea-9bb9-3f40053d74fc.png)
![ReselectText](https://user-images.githubusercontent.com/69587412/90519887-418f5080-e186-11ea-8d63-6ec7b47da7b6.png)

[2020-08-18 13:41] krushnachulet512 commented on #6723
I faced same issue.
Then I tried Uninstalling Postman.
Also Delete Postman Folder from below locations:
C:\Users\<user>\AppData\Local
C:\Users\<user>\AppData\Roaming
Then ReInstall Latest version.

[2020-08-18 13:42] ritika50 commented on #8923
save button is not working properly

[2020-08-18 13:43] ritika50 commented on #8923
![image](https://user-images.githubusercontent.com/69587412/90520403-ead64680-e186-11ea-918e-f7753bdba7ff.png)

[2020-08-18 13:45] ritika50 commented on #8923
let me know If needs more Info

[2020-08-18 14:04] paymand commented on #8682
:+1: for this feature request. Would be great to see the changes introduced by the PR after it is merged.

[2020-08-18 14:12] DannyDainton commented on #8923
Can you provide a scaled-down collection showing the issue, please?

It's becoming difficult to piece together what's going on with all the individual messages, could you collate them all together and provide a single description of the problem, please.

[2020-08-18 14:58] Andrewsuares commented on #6015
Version 7.30.1 is still slow. 300 - 350 MB RAM consumed doing nothing. About 100 API requests inside collections. 15 seconds of initial start time spent on looking at the spinner.

Windows 8.1, 12 GB RAM.

[2020-08-18 15:20] arlemi commented on #6722
@obieo The current feature doesn't allow you to update a collection by importing a new version of the schema as a collection. It allows you to update collections generated from a schema in the API Builder.
In your case you'd need to:
- Import your schema as an API
- [Generate a collection from it ](https://learning.postman.com/docs/designing-and-developing-your-api/the-api-workflow/#generating-a-c

[2020-08-18 15:52] obieo commented on #6722
Thanks @arlemi for the explanation. We will try this in the meantime.

I do believe that a future enhancement of allowing users to update a collection based of changes to a schema, while maintaining the tests and variable would be very valuable. Especially as Postman continues to find was to automate the integration with OpenAPI.

An example of this workflow would be

1. Changes to API schema are

[2020-08-18 16:04] arlemi commented on #6722
@obieo From my understanding what's missing here is the ability to have the update done automatically or triggered through an API. We're already tracking two similar requests around the same:
- Support OpenAPI-First, Forked Collection Workflow #8940
- Trigger an update to the collection from Postman API #8697

Give a 👍 on the original posts there if this is what you're looking for, this helps us p

[2020-08-18 17:08] abhijitkane commented on #7914
@raja @jsooter This is a bug with the code-generation bit. The generated collection has the API Key header in the root request, but not in the example request. The latter is what's used to generate the code snippet.

[2020-08-18 18:29] josh-endries commented on #7294
Just happened to me (that I noticed). When I closed it, the UI went away, but it kept using 50-90% CPU for maybe 30 seconds before it went away in Task Manager.

[2020-08-18 18:33] EwertonDutra commented on #7294
PostmanCanary for now it's working for me!

[2020-08-18 20:45] babenkovitaliy commented on #8936
I have the same bug. I can try to provide as much details as possible where I noticed this bug. Some of the information may be useless, but I will still provide it.

My collection runner consists of two requests:
**Request 1**

- Type: POST
- URL contains an environment variable for the hostname (etc. www.google.com). Contains no parameters.
- Content-Type is application/json
- Contains body text.

[2020-08-18 21:01] DannyDainton commented on #8936
Hey @babenkovitaliy,

I appreciate you trying to explain your collection details with us, could you share the actual collection file instead?

This can either be via the public link or pasting the raw json from exporting the collection to your local machine.

There might be other details in there that help us to understand what's going on.

Another think you could try is the Runner in the latest v

[2020-08-18 21:09] babenkovitaliy commented on #8936
@DannyDainton Unfortunately, they are private endpoints, and I am not sure that I am allowed to provide them to anyone outside of my work.

What I can do, is find any public facing endpoints (I know Postman has a service called echo where I can test those endpoints). I can then try to recreate as much as I can where I can (hopefully) get the same issue to happen. If successful, I can then provide

[2020-08-18 23:25] conterio commented on #2833
i'm having this issue.  disconnected my laptop from my duel monitors and postman is out of screen, I even reset.  I hope I don't have to connect to my doc again just to get postman app front and center.  the window + left or right keys are not moving the application

[2020-08-19 03:34] dvdvdmt commented on #6722
@arlemi no it is not what @obieo described. Update of the Postman collection could be manual.
In a simple form:
1. A user changes `openapi.yml`.
2. A user imports `openapi.yml` as a collection.
3. Existing collection updates but its tests, variables, pre-request remain intact.

[2020-08-19 03:41] westofer commented on #4009
What happened to the creator of the issue though? @matanpramp
Are you still alive? Do you still work on web development?  Hope you are well

[2020-08-19 03:46] tank104 commented on #6722
@dvdvdmt is right - its just a manual button.
So in our case where we are prototyping/change frequently the api spec, we can update what we have already, without everything being replaced.

[2020-08-19 03:55] YukiGibson commented on #824
I'm trying to use this for our Devops pipeline, is there really no way to deal with secrets inside a collection?

[2020-08-19 07:15] krycha2341 commented on #8789
Hi,
when can we expect new version with old scrolling bar?
Working with new bar is really annoying.

[2020-08-19 07:17] mohitranka commented on #8789
@krycha2341 We have a solution that allows for seamless scrolling that should be available in the next or the release after next.

[2020-08-19 07:29] vikiCoder commented on #8930
@jeromeklam , can you please explain a bit more regarding what is your expected result v/s Postman generated result you are seeing while using Hawk authentication?

[2020-08-19 08:10] JamesElliott-Wren commented on #7294
I have this issue using My Mac computer at work, but if I use a windows laptop, it works fine.

[2020-08-19 09:29] ravikumarkornu opened #8949 "Not able to open the postman"
**Describe the bug**
Not able to open the lastest version postman application.
It's showing below error

Error: Migration: IndexedDB schema migration failed. IndexedDb was not upgraded successfully after `dexie.open`.

Please try restarting the app. If the issue persists, please refer to https://go.pstmn.io/troubleshoot-could-not-open

Logs:
vendor-shared.js:223852 Initializing the global config
v

[2020-08-19 09:55] imankurpatel000 commented on #8782
I agree with @DavydeVries, I was looking for a way to hide the left panel on the left side of the window. I spent almost half an hour looking for and searching on google how to hide the left panel in Postman and I got to know that the icon is in the bottom right while reading this issue. If the users can't figure out how to hide the side panel easily I would consider that a huge design flaw. Hope

[2020-08-19 10:07] arlemi commented on #2833
@conterio Can you try the recommendations here to move the window back to the main screen? https://www.howtogeek.com/howto/windows/bring-misplaced-off-screen-windows-back-to-your-desktop-keyboard-trick/

[2020-08-19 12:31] arlemi commented on #6722
@dvdvdmt @tank104 Understood, and this is the whole point of this feature. I think there's a misunderstanding as to how you're supposed to use it.

Postman allows API-first development and has a whole section of the app (called the API Builder) dedicated to authoring APIs as well as generating collection from a specific API schemas. You can create an API directly from the API tab or by selecting i

[2020-08-19 13:02] Totti10as commented on #4193
Feature must!

[2020-08-19 13:15] UzairRashid commented on #4409
how did you fix it

[2020-08-19 13:36] obieo commented on #6722
@arlemi what you have posted makes sense however most of our teams aren't developing/authoring APIs within postman.

- They are doing so in their own IDE and committing those changes to the repo which then updates the OpenAPI spec upon the build.

- From there someone from the team (generally a tester) will go to Swagger, grab the spec url and import it into postman to generate the collection.

-

[2020-08-19 13:52] cdolan92 commented on #6722
I agree with obieo - our team is pushing code out and we’re grabbing the Open API spec from the deployed code, which is then imported into Postman.

Once inside postman, updating the collection such that endpoint changes are accepted but documentation & markdown are preserved is the desired goal. This is particularly of interest because we’re using Postman’s hosted API documentation page.

The onl

[2020-08-19 13:55] lallenmaestro commented on #8934
I will try Web version.

[2020-08-19 14:29] malpanivaibhav commented on #8789
Wow. Thanks. Time to turn ON automatic updates now 😂

[2020-08-19 14:33] AlexLombry commented on #4193
For instance it's a feature already working with Paw : https://paw.cloud/docs/auth/jwt
I use this now

[2020-08-19 14:59] arlemi commented on #6722
Ok, I think we're on the same page then!

In both your use-cases, your Open API spec is pushed _somewhere_, if that somewhere is a GitHub repository you can then have it [automatically sync with Postman](https://learning.postman.com/docs/integrations/available-integrations/github/#syncing-your-api-schemas-on-github) (no need to grab it anymore) and all that is left to do is update the attached col

[2020-08-19 15:04] obieo commented on #8245
Azure Git Repos

[2020-08-19 16:20] andreynovikov95 commented on #5373
been happening after Linux Mint 20 Xfce update. But it runs with sudo ./Postman
If I run ./Postman I get:
(electron) 'getName function' is deprecated and will be removed. Please use 'name property' instead.
Not disabling GPU
Main~createDefaultWorkingDir - Default working dir creation already attempted
1597853296161 main info "Booting Postman 7.30.1, linux-5.4.0-42-generic on x64"
1597853296162 mai

[2020-08-19 16:27] obieo opened #8950 "Ability to Update Collections when manually importing an API Spec"
**Is your feature request related to a problem? Please describe.**
Currently when manually importing an API spec that was not built in postman, the user has no option to "update" a collection that was previously created based off of that spec. Therefore the only option is to replace the collection (all tests, parameters, etc. are not retained) or make a copy of that collection and manually add tes

[2020-08-19 16:29] obieo commented on #6722
Thanks @arlemi. I have created feature request #8950 for updating collections on manual imports.

[2020-08-19 16:57] dkendall100 commented on #4751
Same here this should be fixed. It would be nice if one could clear out past responses as well...

[2020-08-19 18:51] Totti10as commented on #1535
Hi @kinlane, I didn't manage to understand with all latest correspondence here, is the "Request reuse" feature is ready for release on WEB  / Desktop client?

[2020-08-19 18:53] kinlane commented on #1535
@Totti10as unfortunately not yet. there are some really lofty and heated debates going on internally about it works. I'm hoping soon. It is top of my list, and I'm lobbying hard.

[2020-08-19 19:00] Totti10as commented on #1535
Ok, got it

[2020-08-19 22:23] topil commented on #7370
logout/login works for me.

[2020-08-19 22:56] sleepysnow1 commented on #285
Nothing and I can't find an alternative still. Disappointing that there is still no response to this issue.

[2020-08-19 23:56] JP-from-Postman opened #8951 "Remember what token is selected for each collection"
**Is your feature request related to a problem? Please describe.**
For OAuth 2, the token that is selected persists across collections and workspaces. This requires users to employ variables and environments to easily switch authorization details when switching collections and/or workspaces.

**Describe the solution you'd like**
Save context of what token is selected per collection, or at least pe

[2020-08-20 01:47] CPC-Dison commented on #5816
Why does Postman think x86 (and x86_64) is the only CPU architecture for Linux?

Doesn't Postman know there have been a flood of announcements of new Arm laptops, now that Apple has announced Arm (aka Apple Silicon) for Macs?

The lack of support for Arm CPU by Postman makes no sense.  I use Chromebook with Arm CPU (and Linux enabled) and prefer this over x86 Chromebook. It is archaic that Postman

[2020-08-20 04:11] Raj-postman commented on #8867
@srinivasskc Marking this as close since the issue is now resolved via ticket. Feel free to reopen if the error repeats :)

[2020-08-20 04:11] #8867 closed, assigned to Raj-postman

[2020-08-20 04:17] Raj-postman commented on #8949
Hi @ravikumarkornu

Clearing local files of your Postman installation generally resolves this issue. May I know if you have followed the steps mentioned in this article below?

- [Could not open Postman error](https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-)

[2020-08-20 04:28] Raj-postman commented on #8821
Also, to update if you have missed this - You can now use [Postman on Web](https://go.postman.co/build) more details below:

[2020-08-20 05:54] Raj-postman commented on #8619
Hi @lenart , Glad to know you managed to have a workaround for this situation - it should be helpful for other users looking for this :) As of now, we do not have this feature in place but I would request you to track or add comments only in this thread: https://github.com/postmanlabs/postman-app-support/issues/6841 to avoid losing such vital information.

This thread is for tracking "Performance

[2020-08-20 06:52] ravikumarkornu commented on #8949
Thanks for your response. Its working after deleting the files .
macOS - Go to Finder (Cmd+Opt+Space) > Go to folder (Shift+Cmd+G) > Paste ~/Library/Application Support/Postman  > hit return > Delete the files.

[2020-08-20 06:57] Garry14 opened #8952 "Give Back The Vertical Scrollbar at the rightest side as ur .17 version"
**This useful scrollbar has been disappeared by you**
![Feedback POstman](https://user-images.githubusercontent.com/14907169/90726838-91882780-e2ec-11ea-8198-2fa12380c7e9.jpg)
So that when I need to see my response from my code, I need to scroll down the bottom part and I just have 1/4 of my screen to view it..
It makes me headache, I swear.!

**This is your App v7.17 and there is scrollbar at the

[2020-08-20 07:19] Raj-postman commented on #8949
Awesome! In that case, will mark as Closed :)

[2020-08-20 07:19] #8949 closed, assigned to Raj-postman

[2020-08-20 08:33] DannyDainton commented on #8952
Duplicate of #8789

[2020-08-20 08:33] #8952 closed, assigned to nobody

[2020-08-20 08:58] DannyDainton commented on #8792
Hey all,

As there are many issues/threads talking about the same thing, in a bid to centralise the information and feedback, I'm going to close this issue out and ask everyone to follow the discussion here #8789.

We will be providing more updates on the scroll behaviour, on that GH thread.

Thanks.

[2020-08-20 08:58] #8792 closed, assigned to vkaegis, coditva

[2020-08-20 09:20] microkof opened #8953 "'Import' - 'Raw Text' import Unicode Error"
**Describe the bug**
When 'Import' - 'Raw Text' import Unicode, the char '\\' (a backslash) will be disappeared.

**To Reproduce**
Steps to reproduce the behavior:
1. 'Import' - 'Raw Text'
2. Paste curl code, the value contains Unicode.
3. Submit.
4. the code '\\' will be disappeared.

**Expected behavior**
the char '\' will not be disappeared.

**Screenshots**

**App information (please complete

[2020-08-20 09:27] DannyDainton commented on #8953
Hey @microkof

Would you be able to provide an example of the curl code you're posting, please?

[2020-08-20 09:36] microkof commented on #8953
[code]

[2020-08-20 09:38] microkof commented on #8953
the char '\\' disappeared:

[code]

[2020-08-20 13:36] CeterusMike opened #8954 "Differentiate tabs with different requests, but matching titles"
**Is your feature request related to a problem? Please describe.**
When working with generically-named requests across two different collections or folders within the same collection, there isn't a quick way to differentiate open tabs for each.

For example, I'm currently working on a system where we have routes like this:

- /api/accounts/service1/data
- /api/accounts/service2/data

Each of these

[2020-08-20 15:02] msn60 commented on #8656
I have the same issue and I could not fix this issue by settings max-http-header-size.
I use Windows 10 and the version of Postman is 7.30.1 but this issue remains and I can not get the response of some POST requests.
I want to ask how can I fix it or when Postman contributors fix it.

[2020-08-20 15:06] AjaySewradj commented on #5904
Any updates on this question? I would also very much like to integrate postman/newman into my development workflow.
We are currently running integration tests in our CI/CD pipeline with newman+postman collections. It works really great, but the development experience when writing the tests are not so great.
My main problems are:

- Everytime I change the collection I have to export the collection

[2020-08-20 15:15] AjaySewradj commented on #3563
How do you vote this ticket up?

We also desperately need file-system integration as described in all the posts above.
Any updates on this ticket?

[2020-08-20 15:21] prmichaelsen commented on #3563
It’s been a top issue for years and no official response. It would seem this is not a priority for postman. I would consider a product that’s open source as an alternative.

[2020-08-20 15:39] stefanluchian commented on #285
Commooon, guys, speak to us!
We document our integration-tests with Postman-Collections. So, we export them from Postman and save them in our Test-Environment.
Do you mean we have to keep saving the passwords?
It would be so usefull to just make a prompt to input the password at runtime, when the tester runs the collection in Postman.
Please, make us all happy!

[2020-08-20 16:06] a85 commented on #285
Everyone, As I mentioned in a previous post on the thread: this issue has become a combination of multiple concerns all put together. The Postman UI is consistently being updated to support 1 or more sub-concerns and we will have a detailed update here soon.

[2020-08-20 16:36] IanKemp commented on #1470
Importing the following schema as a collection results in all API operations being set to "Inherit auth from parent", but the collection's authorization is set to "No auth" (it should use API Key with the specified header name):

[code]

Importing the following schema as a collection results in all API operations being set to "No auth", with a header of "api" added to every applicable operation, a

[2020-08-20 17:25] therockstorm commented on #8940
Any update on this @sankalp0o @abhijitkane @vvs11 @Raja-Simha?

[2020-08-20 17:50] a85 commented on #8940
@therockstorm We are looking into this. One question: are you also generating the OpenAPI schema from your codebase through annotations or manually writing that?

[2020-08-20 18:19] therockstorm commented on #8940
We start everything from the manually written OpenAPI schema. So an example of adding an endpoint would be,

1. Update OpenAPI schema
1. Generate server-side domain objects from schema
1. The Vert.x framework imports the schema to handle things like Auth and validation [more info](https://vertx.io/docs/vertx-web-api-contract/java/)
1. Once the endpoint is implemented, we deploy our API and steps 2

[2020-08-20 20:02] wiltonlazary opened #8955 "new-line character included when copying a single line and pasting into the Collection/Environment variables"
Issue Editing collection or environment variables.
When triple-click to select all it's seems to include the newline character where it should not.

*Platform/Version*
* Postman for Linux | Version 7.30.1
* linux 5.4.0-42-generic / x64

*Screenshots/Videos*
![postman-line-copy_paste](https://user-images.githubusercontent.com/21366/90845531-57855700-e3ba-11ea-840d-be71c723e795.gif)

[2020-08-20 20:25] DannyDainton commented on #8955
Hey @wiltonlazary

If this is an issue that you're reporting, could you also provide some environment (App version and OS) details please.

We will also require the steps to reproduce the issue and some screenshots of what you're seeing to help bring the information to life.

[2020-08-20 20:42] balbesina commented on #4117
+1

[2020-08-20 20:43] wiltonlazary commented on #8955
Linux Ubuntu 20.04,

When triple click to select all it's seems to include the newline character where it should not.

[2020-08-20 21:01] DannyDainton commented on #8955
Which app version are you seeing this issue on?

Can you share an image of what it looks like please?

[2020-08-20 21:15] Garry14 commented on #8789
Dear, postman..

Old Vertical Scrollbar is more expected..
And ur new system is annoying at all, and makes me headache..

I hope you give it back to us for the next version..

[2020-08-20 21:51] wiltonlazary commented on #8955
https://www.dropbox.com/s/lfex8d9zqyha2z9/postman-line-copy_paste-2020-08-20_18.19.10.mp4?dl=0

[2020-08-20 22:04] wiltonlazary commented on #8955
I put the references on the first comment.

Thanks.

[2020-08-21 05:26] aksswami commented on #3518
Issue still there on MAC Version 7.29.0 (7.29.0).

[2020-08-21 07:52] nils-work commented on #5918
Hi @codenirvana
Postman v7.30.1 (Windows) doesn't seem to show the TLS detail as you highlighted in your [screenshot](https://github.com/postmanlabs/postman-app-support/issues/5918#issuecomment-549253999), was it removed or not available in Windows?

[2020-08-21 07:56] codenirvana commented on #5918
@nils-work are you requesting an HTTPS API? can you share the screenshot of your Postman Console (hide sensitive details)?

[2020-08-21 08:11] nils-work commented on #5918
Hi @codenirvana

Hope this is enough? -
![image](https://user-images.githubusercontent.com/60594671/90867693-1f414100-e3d9-11ea-8607-c117d6cd7051.png)

I also don't have the globe icon shown on this page, but understand that may be an older version? -
https://learning.postman.com/docs/sending-requests/certificates/

![image](https://user-images.githubusercontent.com/60594671/90867929-77784300-e3d9

[2020-08-21 08:25] codenirvana commented on #5918
@nils-work I see you are behind a proxy and that's why Postman doesn't have all the information about the final request sent.

[2020-08-21 09:58] DannyEnsink opened #8956 "Content-Type header automatically added to Response even if it's defined in the OpenAPI specification"
**Describe the bug**
When defining a content-type header in the OpenAPI specs, the API Docs generator still adds a "Content-Type" header even though one is manually defined.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new OpenAPI spec with the following example included:
[code]
2. Generate an API Documentation based on the OpenAPI Specs
3. Open the generated documentation and Ex

[2020-08-21 13:17] liukangwei1213 opened #8957 "Can't see the Send and Save button anymore"
postman The right no Send and save type，But there is one Comments，what's this case?
![88ca86d866e7ea024ae1e3410acfa78](https://user-images.githubusercontent.com/30920753/90894403-207f6780-e3f3-11ea-932c-40e638142dbf.png)

[2020-08-21 13:23] #8957 closed, assigned to nobody

[2020-08-21 13:53] liukangwei1213 opened #8958 "why my doesn't +Add Cookie work?"
Unable to use after adding domain name,What's the problem?
![微信图片_20200821215317](https://user-images.githubusercontent.com/30920753/90898113-bf5a9280-e3f8-11ea-89c5-8350547f4dfe.png)

[2020-08-21 14:10] VicKetchup opened #8959 "[Feature Request] Ability to collapse/hide unchanged code in Merges/PRs"
**Is your feature request related to a problem? Please describe.**
Our collections have a lot of code on Collection level and even more code that may be present on Folder or Request level (up to ~8000 lines). When a change is done in one or multiple of these locations, it is difficult to find the changes and review them properly as you have to do a lot of scrolling.

**Describe the solution you'd

[2020-08-21 15:01] eemechs opened #8960 "Error: Invalid character in header content ["Host"]"
**Describe the bug**
Error to send GET on {{apiQueryUrl}} variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'GET on {{apiQueryUrl}}/1/sales/paymentId'
2. Click on 'Send'
3. Scroll down to 'Body - Response'
4. See error

**Expected behavior**
Error: Invalid character in header content ["Host"]

**Screenshots**
If applicable, add screenshots to help explain your problem. Please m

[2020-08-21 15:33] #8960 closed, assigned to nobody

[2020-08-21 16:59] #8470 closed, assigned to nobody

[2020-08-21 17:17] #8639 closed, assigned to nobody

[2020-08-21 17:21] #8357 closed, assigned to nobody

[2020-08-21 17:33] #7182 closed, assigned to chrisdeso

[2020-08-21 20:39] #6450 closed, assigned to godfrzero

[2020-08-21 20:56] tangphillip opened #8961 "Very High CPU/GPU usage while a request is pending"
**Describe the bug**
While a Postman request is waiting for a response, and while that request's tab is visible in the Postman window, Postman consistently uses 60-70% of CPU (according to Activity Monitor) on the `Postman Helper (GPU)` and `Postman Helper (Renderer)` threads. That amount of CPU is excessive—more than a Google Meet call!

I'm assuming that Postman is using the GPU and renderer thr

[2020-08-22 01:24] #8955 closed, assigned to nobody

[2020-08-22 07:57] #8958 closed, assigned to nobody

[2020-08-24 02:18] AliciaLITP opened #8962 "Error Message - Could not open Postman"
**Describe the bug**
Adapter Error: Marformed error from adapter. Should always be an Error instance, but instead, got.

[OpenFailedError: UpgradeError Dexie specification of currently installed DB version is missing.

**To Reproduce**
Nil, can't open the app

**Expected behavior**
As per error message which pops up when i attempt to run the app.

**Screenshots**
![Postman - error message](https:/

[2020-08-24 02:46] xk0der commented on #8962
Hey @AliciaLITP  did you attempt the steps at the article shown in the error message? https://go.pstmn.io/troubleshoot-could-not-open

Since you are on windows, follow the steps listed for Windows platform.
And **make sure to rename/clear both the Postman folders** before you re-install the app
* `C:\Users\<user>\AppData\Local\Postman` and
* `C:\Users\<user>\AppData\Roaming\Postman`

[2020-08-24 03:27] AliciaLITP commented on #8962
Dear Amit,

Thanks for your advice.

I still face the same issue, same error message.
[cid:image001.png@01D67A09.7997BC90]

Thank you.

Regards,

Alicia Lee
Executive  l  Online Learning (OLE)

[cid:image004.jpg@01D67A09.799B8D20]

Singapore University of Social Sciences
463 Clementi Road, Singapore 599494
t +65 6240 8810  l  suss.edu.sg<http://www.suss.edu.sg/>

Privileged / Confidential informat

[2020-08-24 03:36] xk0der commented on #8962
@AliciaLITP - That doesn't good!
Do submit a ticket with us from this page: https://www.postman.com/support so that we may assist you!
Provide the Postman app logs from this location "`C:\Users\<username>\AppData\Postman\logs`" when you create a ticket.
Read here if you need help collecting logs: https://support.postman.com/hc/en-us/articles/360033270134

And in the meanwhile, try out the Canary b

[2020-08-24 05:55] AliciaLITP commented on #8962
Hi, my laptop is issued by my organisation. Is that the reason why I cannot see AppData\Postman\logs under my user account ID?

[2020-08-24 06:15] tester-xm commented on #8945
ok, my app version is  Postman v7.30.1,  the intercepter package is from https://community.postman.com/t/postman-interceptor-bridge-download-failing/11204/6, my os is win10 professional.

[2020-08-24 08:34] vdespa commented on #8799
Looks good, Danny! Thanks.

[2020-08-24 08:38] DannyDainton commented on #7374
Closing this issue as it has now been resolved in version: 7.23

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-08-24 08:38] #7374 closed, assigned to saswatds

[2020-08-24 08:43] DannyDainton commented on #8799
Awesome!! Going to close this one out now!!

Thanks for reporting this! 🏆

[2020-08-24 08:43] #8799 closed, assigned to coditva, saswatds

[2020-08-24 09:18] nils-work commented on #5918
Thanks @codenirvana
When not behind a proxy, is the information that's logged to the console (the Network detail including ciphers and TLS version) available for use in a test script at all? (it doesn't seem to be available in pm.request/pm.response)

[2020-08-24 10:32] darkworks opened #8963 "Remove leading whitespace when pasting text into the Bulk Import feature"
When we send post request from chrome and inspect it in developer console it's like in this format mostly

[code]

As you can see after **:** there is space when we copy this form data to postman by clicking Bulk Edit button and paste and when we switch back then there is space added to start of every value.

I think it will be good if space is removed after `:` from values, it will be a lifesaver

[2020-08-24 10:38] pwyss0 opened #8964 "File is missing"
**Describe the bug**
With the Postman App it is no longer possible to import a file via POST request / form-data. With the Postman Chrome App it works perfectly fine.

**To Reproduce**
Steps to reproduce the behavior:
1. First a job with a POST request has to be created
Request: https://system.xy.net/bulk-configuration/v1/import-jobs/jobs  -> note down the id of that job e.g. 1001
Body (raw):

[co

[2020-08-24 10:38] DannyDainton commented on #6500
@abhijitkane / @JP-from-Postman

Can this be closed out now?

[2020-08-24 10:56] DannyDainton commented on #8963
Hey @darkworks

Are you able to breakdown each section of where you are seeing an issue and provide some screenshots of the behaviour you're seeing, please?

We will also require information about the Postman version and OS that you're using.

[2020-08-24 11:15] darkworks commented on #8963
ya am on windows and using latest build of post man .
here is screenshot

![image](https://user-images.githubusercontent.com/12841788/91038743-b8b06300-e624-11ea-886f-0171c9bc79e2.png)

seems OK visually , but there is space it start which is not good. so will be good if on bulk post man remove space it each value

![image](https://user-images.githubusercontent.com/12841788/91038776-c82fac00-e624-

[2020-08-24 11:17] abhijitkane commented on #6500
Should be. @JP-from-Postman Feel free to reopen is this is seen/reported again :)

[2020-08-24 11:17] #6500 closed, assigned to ankitjaggi

[2020-08-24 11:42] Mahonnant commented on #4254
I am also encountering this issue, more so when working from home through a VPN and sending requests to our test environment (which is to be expected). The problem is not the socket hangups themselves but the fact that, when running a set of test cases in the Runner it completely stops the run instead of flagging the test case as Failed and continuing with the following test case.
This is highly d

[2020-08-24 11:47] musanas opened #8965 "Collection Pre-requisite Scripts : Can not read the global variable set in request test"
Hi,

It is observed that if i **set a global variable in a request test**, (say step 1) the same global variable can't be read back by invoking a function which is at collection pre-requisite script, with in the same execution of the request (say step 2).

pm.globals.get("varibaleName") returns it as undefined, but at the same time i see the variable gets persisted in the postman ide global variab

[2020-08-24 12:11] DannyDainton commented on #8965
Hey @musanas

There seems to be an issue with your script, I would expect it to be something like this:

[code]

Also, I would recommend that these types of questions are asked over on our Postman Community site, we have many folks over there willing to help.

https://community.postman.com/

I'm going to close this issue out for now and see you over on the community forum.

[2020-08-24 12:11] #8965 closed, assigned to nobody

[2020-08-24 12:30] musanas commented on #8965
Thanks @DannyDainton  for responding
Sure, I will get over to the community

The only difference i see in my script is how the property **function1** in the object **global_functions** is defined
I used a double quote for -  "function1" , not sure that matters or not

If i remove it and made as you pasted above, the result is same :(
Not sure whether am missing anything here

Warm Regards
Musa

[2020-08-24 13:25] VicKetchup commented on #5958
Hello, was wondering if this could be re-visited (or updated with any dicussions that happened internaly).

Currently if viewer deletes (clears/unsets) variables by script, the current value of the variable will have a warning that it is deleted, however if an editor does same request, the variable will be deleted for everyone. Would love to have an option that would make deletion of variables by

[2020-08-24 13:35] mccannt commented on #8690
@hugodasilvadasilva Can you try this on v7.30?

[2020-08-24 14:03] DannyDainton commented on #8964
Hey @pwyss0

Could you confirm that files you're selecting are in the same directory as the path set for the working directory, in the app's settings

https://learning.postman.com/docs/getting-started/settings/#working-directory

[2020-08-24 14:30] DannyDainton commented on #8663
Duplicate of #7427

[2020-08-24 14:30] #8663 closed, assigned to abhijitkane, sankalp0o

[2020-08-24 14:36] underscorenico commented on #7286
+1

[2020-08-24 15:00] musanas commented on #8965
`global_functions = {

function1 : (pm)=>{
   console.log("Here executing function1 to get petResponse global variable, which was set in request");
   var globVariable = pm.globals.get("petResponse");
   console.log(globVariable);
},
}`

this would solve this problem
the scope of 'pm' variable inside the function1 was the prob

[2020-08-24 15:01] DannyDainton commented on #7059
Closing this issue as it has now been resolved in version: 7.6.0
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-08-24 15:01] #7059 closed, assigned to abhijitkane

[2020-08-24 15:09] mccannt commented on #7009
Issue has been resolved. Closing this issue, if it is still a problem, feel free to reopen.

[2020-08-24 15:09] #7009 closed, assigned to kartikjain26

[2020-08-24 15:38] vvs11 commented on #8335
@mustela This is fixed now. Please feel free to re-open if you're still facing the issue

[2020-08-24 15:38] #8335 closed, assigned to nobody

[2020-08-24 15:50] rglos opened #8966 "Allow for Postman to operate over a set of files on disk for better source control integration"
**Is your feature request related to a problem? Please describe.**
Source control.  I'd like to be able to track who and when changes are made and use our existing source control not something off-premise.

**Describe the solution you'd like**
Allow Postman to operate over a collection of files, just like Visual Studio or Visual Studio Code, and then allow us to commit and PR these files, etc.

**

[2020-08-24 17:47] #5116 closed, assigned to nobody

[2020-08-24 18:03] mdacemedia commented on #7301
Are there any updates on this timeline? It is ridiculous to be required to resort to such methods as creating markdown tables to display optional query params in published documentation.

[2020-08-24 19:44] CeterusMike commented on #8954
@vvs11 The sidebar movement feature is helpful, but it does require clicking the tab in order to figure out which is which. That ends up being the same process as what I mentioned, where I have to click into the tab and look at the endpoint. The only real difference is which part of the screen I look at after the click. I was hoping to be able to tell the tabs apart before clicking one.

I do see

[2020-08-24 19:55] CeterusMike commented on #8629
Really like this idea. I've got some requests with similar/identical names in a collection I use so I run into this a lot. If I could make a suggestion on this, maybe instead of showing on hover, the height of the tabs could be increase a little and it could be put above or below the tab title?

![image](https://user-images.githubusercontent.com/54405440/91089792-142d2180-e622-11ea-8a79-b72f1834af

[2020-08-24 22:34] JP-from-Postman commented on #6166
@DannyDainton I haven't seen this since filing this issue, so probably safe to close.

[2020-08-24 23:09] xk0der commented on #8962
Hi @AliciaLITP you would need to enable viewing of hidden files first.

Refer to these articles to make the hidden/system folder visible:
* https://support.microsoft.com/en-us/help/14201/windows-show-hidden-files
* https://support.microsoft.com/en-us/help/4028316/windows-view-hidden-files-and-folders-in-windows-10

If you were unable to rename/delete the Postman folders earlier, do give it a try a

[2020-08-25 00:42] GHAStVHenry opened #8967 "Empty Mock Server Call Log"
**Describe the bug**
Mock Server Call Log: Not displaying history (been 1hr and counting and not showing any calls)

**To Reproduce**
1. create a mock server
2. send calls
3. go to the call log

**Expected behavior**
See a history of the calls to the mock server

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does not contain any sensit

[2020-08-25 02:58] imwillhang commented on #7603
Nope still doesn't work

[2020-08-25 03:14] thetreythomas opened #8968 "History from a Team Workspace is showing "Something Went Wrong" or response data from another API"
**Describe the bug**
I've been having to look through the History to find information on an issue we are having. In doing so, I started running into issues with the History showing the correct response data,

One of the following will happen:
- It will show the correct response data
- Will display the error "Something Went Wrong"
- Will show response data from a different API that has been ran
- W

[2020-08-25 05:22] #6166 closed, assigned to nobody

[2020-08-25 05:26] Pavezlo opened #8969 "In tab "Headers" border between DESCRIPTION and VALUE don't attached."
**Describe the bug**
In tab "Headers" border between DESCRIPTION and VALUE don't attached.

**To Reproduce**
1. Create new GET;
2. Click on 'Headers'
3. Click border between Value and DESCRIPTION at the header level.
4. Slide border in the right.
5. Border main table don't move.

**Expected behavior**
I expected to see functionality like in other tabs.

**App information (please complete the follo

[2020-08-25 05:33] DannyDainton commented on #8969
Duplicate of #8918

[2020-08-25 05:33] #8969 closed, assigned to nobody

[2020-08-25 05:46] Ramya-From-Postman opened #8970 "Allow custom roles and permission with fork and merge feature."
It would be great if we have the ability to do the followings
1. Make the reviewer mandatory during the merge in the Team workspace branch / Fork.
2. Create an approver group within postman, so that it can be assigned as a reviewer.

[2020-08-25 06:02] Ramya-From-Postman commented on #8900
@duddukurimd @DannyDainton
The path file you see with "/" is a postman normalized file path that we store in order to maintain compatibility between different operating systems for collaboration and this shouldn't be a problem. Please refer to the following thread for more information: https://github.com/postmanlabs/postman-app-support/issues/8852#issuecomment-665603793

[2020-08-25 06:26] coditva commented on #5903
Hey everyone, with the new release (version `7.31.0`), you will be able to easily switch to working on request or response with just a scroll, similar to how you're used to! 🎉

Simply press and hold the `Alt` (or `⌥` on MacOS) key and scroll the request or response to resize it. You can also use `Win+Alt` (or `⌘ + ⌥` on MacOS) while scrolling (in case you have the `Alt` key bound to something else

[2020-08-25 06:30] pankajk07 commented on #4117
@andreypolyak With the new release (`v7.31`), we have added few settings to customize the editor, including the ability to change the indentation size. Please try it out. We would love to hear your feedback.

[2020-08-25 06:31] #4117 closed, assigned to vkaegis

[2020-08-25 06:32] pankajk07 commented on #4142
@Mibeon  With the new release (`v7.31`), we have added few settings to customize the editor, including the ability to change the font family. Please try it out and do give your feedback.

[2020-08-25 06:32] #4142 closed, assigned to a85, vkaegis

[2020-08-25 06:33] pankajk07 commented on #5519
@HaraldKorneliussen  With the new release (`v7.31`), we have added few settings to customize the editor, including the setting to disable auto-close for brackets and quotes. Please try it out. We would love to hear your feedback.

[2020-08-25 06:33] #5519 closed, assigned to vkaegis

[2020-08-25 06:35] coditva commented on #8781
Hey @sajad2176, with the new release (version 7.31.0), you will be able to easily switch to working on request or response with just a scroll, similar to how you're used to! 🎉

Simply press and hold the Alt (or ⌥ on MacOS) key and scroll the request or response to resize it. You can also use Win+Alt (or ⌘ + ⌥ on MacOS) while scrolling (in case you have the Alt key bound to something else).

![Scre

[2020-08-25 06:50] coditva commented on #8789
Hey everyone, with the new release (version `7.31.0`), you will be able to easily switch to working on request or response with just a scroll, similar to how you're used to! 🎉

Simply press and hold the `Alt` (or `⌥` on MacOS) key and scroll the request or response to resize it. You can also use `Win+Alt` (or `⌘ + ⌥` on MacOS) while scrolling (in case you have the `Alt` key bound to something else

[2020-08-25 06:51] #8789 closed, assigned to vvs11, coditva

[2020-08-25 07:02] DannyDainton commented on #8968
Hey @thetreythomas

Thanks for reporting this issue 🏆 - We're tracking this internally and will update this thread once we have more information.

[2020-08-25 07:08] DannyDainton commented on #8967
Hey @GHAStVHenry

We're currently investigating an issue with the call logs on Mock servers - You can track this here https://status.postman.com/incidents/b70rk6k2gvyp

We'll update this thread with more information soon.

[2020-08-25 07:40] coditva commented on #3088
Hey @loraxipam and @CuriousSecGuy,

We've improved the Request and Response editing/viewing experience to allow you to hide away a section when you don't need it, exactly how you described.

Please update the app (`7.28.0` or later) and resize the Request or Response panes to any size you prefer! 🎉

![Screen Recording 2020-08-25 at 13 07 01](https://user-images.githubusercontent.com/8445768/911461

[2020-08-25 07:40] #3088 closed, assigned to vkaegis

[2020-08-25 07:50] DannyDainton commented on #8967
The incident has been resolved. However, we'll continue to monitor the issue for a few hours.

@GHAStVHenry Would you be able to confirm on your end if you're now able to see the Mock server logs?

[2020-08-25 07:59] DannyDainton commented on #6634
Hey @javiergarval

I'm going to close out this issue for now, if this continues to be a problem for you or other users we can look to open it up again.

[2020-08-25 07:59] #6634 closed, assigned to nobody

[2020-08-25 08:50] DannyDainton commented on #5113
Closing this a duplicate of #8963

[2020-08-25 08:50] #5113 closed, assigned to nobody

[2020-08-25 08:56] xaviergm commented on #8612
I am also wondering if there are any updates.
In my case, I am calling two different (redundant) Tomcat servers with identical result.

`Error: write EPROTO 75436696:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:`

Postman for Windows Version 7.31.0 - win32 10.0.17763 / x64

The other thing I noted is that, despite being on

[2020-08-25 08:58] Garry14 commented on #8789
No.! I need old whole-area scrollbar.!
Do U get it?!

On Tue, Aug 25, 2020, 1:51 PM Utkarsh Maheshwari <notifications@github.com>
wrote:

[2020-08-25 09:26] pwyss0 commented on #8964
Hi Danny

Yes, I can confirm that the link set in the working directory points to the folder were the import files are.

[2020-08-25 09:31] DannyDainton commented on #8964
Is there any documentation that you could provide for the endpoint? Do you have a CURL example that could help us see the structure of the request?

Does the `key` for the filename need to be a specific value/name?

Is the file that you're importing, one of the extensions mentioned?

Without more details about the implementation of the API or that endpoint, it's going to be difficult to point out

[2020-08-25 09:46] saswatds commented on #8789
@Garry14 some constructive feedback will be really helpful to us to understand why this new interface is annoying to you.
The old vertical scroll bar caused the long standing double scrollbar problem which also annoyed a lot of people. Not having any easy solution made us complete rethink so that we can make UI better for everyone.

We would like know a few things
1. Was the double scrollbar that

[2020-08-25 10:41] stojan-jovic commented on #5903
This is great, thank you!
But wondering why not also give possibility to expose this behavior as a default (through the settings), so everyone can customize this functionality as they want? I will probably use existing solution with shortcut (I like it), but if it's not huge effort, please make it configurable.

[2020-08-25 10:51] arlemi commented on #7700
Hey @topshef , that info should be provided by GCP when you create the credentials on your developer console. If you're having issues finding them please ask the question on our [community forum](https://community.getpostman.com/) since this isn't really a problem with the app. :)

[2020-08-25 10:56] kirya-dev commented on #6078
You can just
[code]

[2020-08-25 10:58] DannyDainton commented on #1464
@vikiCoder Is this a valid issue?

[2020-08-25 11:39] DannyDainton commented on #7165
Hey @chrisdeso

Is this one still valid?

[2020-08-25 11:42] DannyDainton commented on #7116
Hey @Raj-postman

Is this still an issue in the latest version?

[2020-08-25 11:50] Raj-postman commented on #7116
Hi @DannyDainton - this works fine for me.

@nomadme are you still able to replicate this issue on v.7.30.1?

[2020-08-25 11:53] DannyDainton commented on #7047
@liuwenwubin I'm going to close this issue as it appears that you have solved the problem.

[2020-08-25 11:53] #7047 closed, assigned to numaanashraf

[2020-08-25 11:54] FCulig opened #8971 "Test case names in Collection Runner Run Summary showing wrong failed tests"
When I run my tests using Collection Runner, Run Results shows me tests that failed and this is correct. But when I click on Run Summary it shows wrong tests failing and red crosses and green checkmarks are also wrong.

**To Reproduce**
1. Run tests using the collection runner
2. After runner is finished compare test names in Run Results and Run Summary

**Expected behavior**
Tests names should no

[2020-08-25 12:32] loraxipam commented on #3088
:1st_place_medal:

Y'all rock, amigos!

[2020-08-25 12:38] kangel5 commented on #4687
I'm getting the same issue, any collection where it goes over 1,000 requests dies.  If I use Postman, it just kills itself and exits to desktop.

Windows 10 [Version 10.0.18363.657]
32GB RAM
500GB SSD

Postman desktop version: 7.31.0
If I use newman (v5.1.2) with the same collection, it exits after ~1400 requests.

It starts with:
 - CPU 32%
 - RAM 2GB
then slowely increases to
 - CPU 50%
 - RAM 4

[2020-08-25 12:51] DannyDainton commented on #8971
Hey @FCulig

It's a little difficult to see what's happening due to the reduced size of the images - are you able to expand those but still mask the sensitive details.

Are all the requests in the Builder saved, this might be impacting what you're seeing?

Have you confirmed that it's the right Summary for that run?

[2020-08-25 12:57] mccannt commented on #6762
This issue should now be resolved. Please let us know if this is still an issue and reopen.

[2020-08-25 12:57] #6762 closed, assigned to abhijitkane

[2020-08-25 13:33] pwyss0 commented on #8964
I think I found the root cause. The request is not updated with the selected filename. E.g. The file I have selected is called "wcdma_bulk_import_continue_on_error.xml". However, if I check the curl code, the filename "OLMP10_A_UTF-8_new.xml" is populated, see below. Therefore the error message <file missing>. The file mentioned in the code is indeed not available and is also not selected.

curl -

[2020-08-25 13:47] neothoms opened #8972 "Postman crashes when runner is stopped during a script execution"
**Describe the bug**
Since I upgraded to postman v7.31 this morning, the program crashes all the time. With the runner, with the main window. I don't have any error messages

Almost every time I try to pause or stop a collection runner execution it crashes all postman windows.

**App information (please complete the following information):**
Postman for Windows
Version 7.31.0
win32 10.0.19041 / x6

[2020-08-25 14:09] saswatds commented on #8972
Hi @neothoms , I tried reproducing this issue but was not able to reproduce this issue. I was able to stop and resume the run just file. Is there anything special that I should be looking out for during reproduction?

[2020-08-25 14:12] GHAStVHenry commented on #8967
Confirmed, it is logging!

[2020-08-25 14:14] neothoms commented on #8972
Hi @saswatds

I really don't know. What I can say is I have 2 main collections with 240 and 120 requests. The first collection is the one who is automated. We have more than 800 tests.

![image](https://user-images.githubusercontent.com/11428292/91185202-ced62600-e6ed-11ea-918f-9d075be0a522.png)

Is there a log somewhere that could give me an error message to help you ?

[2020-08-25 14:16] DannyDainton commented on #8967
Going to close this one out! Thanks for flagging this 🏆

[2020-08-25 14:16] #8967 closed, assigned to vvs11

[2020-08-25 14:19] DannyDainton commented on #8964
Are you able to send the request now or are you still seeing issues?

Is the filename not updating in the curl something that you can reproduce every time - Would you like adding the steps to reproduce it that's the case.

[2020-08-25 14:37] saswatds commented on #8972
So the logs are available in `View -> Developer -> View Log in Explorer`. But with what you have explained all window crash might not have any error log trace.

Ohkay I have a hunch. Does it crash each and everytime you press pause or stop, or does it crash when then run is about to end and you press stop or pause?

Maybe a video or GIF of the runner crashing might give me some cues as well.
Also

[2020-08-25 14:48] imenosd opened #8973 "Postman is synchronizing and I cannot share my collection"
Since this morning (new version 7.31.0) when trying to share a collection (updating a public link as I used to to before), the sync icon  remains blue, and it is not possible to share it.
![error_postman](https://user-images.githubusercontent.com/70215162/91189444-bddbe380-e6f2-11ea-8a5e-901a831238a7.png)

See file attached with the error displayed when clicking on "Share Collection" option.

[2020-08-25 14:49] neothoms commented on #8972
Here are my logs if you can help me find the source of all my problems

[code]

[2020-08-25 15:09] DannyDainton commented on #8973
Hey @imenosd

Are you also able to share the environment details of your machine?

Could you log in to your account on the web view and see if that's syncing the changes for you https://go.postman.co - If so, you can update and share the links from there.

Other options would be to quit and restart the app on your machine to establish the connection again.

[2020-08-25 15:27] saswatds commented on #8972
Thanks @neothoms, I have found the issue, it happening when we try to stop a run in-between when a test script is running. Taking this forward internally. Thanks for reporting, we will try to get it fixed ASAP. We were able to reproduce this issue till app version 7.29.0

[2020-08-25 15:46] snehatalluri93 opened #8974 "not running unless given as a admin account"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2020-08-25 16:02] rcodd opened #8975 "environment variables"
would be nice to enable a lock on certain values in the environment variables.
We add them to share across tests, but if new tests are made incorrectly these values are overridden, they cause failures.

[2020-08-25 17:21] vvs11 commented on #8975
@rcodd We have RBAC enabled on environments. You can assign roles editor or viewer roles to the users in your workspace. More documentation here: https://learning.postman.com/docs/sending-requests/managing-environments/#managing-environment-roles

[2020-08-25 17:21] vvs11 commented on #8974
@snehatalluri93 Could you share more information about the issue you're facing ?

[2020-08-25 17:35] snehatalluri93 commented on #8974
The app is saying something like kvoop and database mismatch issues.

[2020-08-25 18:30] forresthopkinsa commented on #5903
@coditva This is an excellent way to address everyone's concerns! Well done!

[2020-08-25 18:42] mohitranka commented on #8712
Closing the issue, with the assumption that variable resolution was the issue. @geoffturk please re-open this, if that is not the case.

[2020-08-25 18:42] #8712 closed, assigned to mohitranka, saswatds

[2020-08-25 19:09] shamasis commented on #5903
@forresthopkinsa thanks a tonne.

@stojan-jovic thanks for the support. We are heading in a direction with highly customisable "panes" and simplified workflows. The full height scrolling not just adds ambiguity in the way of doing a predictable design system, but also becomes hard to have rendering performance with scroll-in-scroll getting in the way. I'm sure, there are ways to retain scroll-in-s

[2020-08-25 19:10] dmarra opened #8977 "UI is not response 30 seconds after opening app since update to 7.30.0"
Upon opening up the app, after about 30 seconds the UI starts to become almost totally unresponsive. The issue persists in 7.31.0. I have since had to switch to a different product in the meantime because of how severe the UI issue is.

Unsure what else I can supply to help diagnose the issue. please advise.

[2020-08-25 19:24] stojan-jovic commented on #5903
@shamasis Ok, I think that I see what is the implication now when I checked how this new scrolling works exactly! Only way is to use old scroll-in-scroll behavior, but I understand that it's not easy to maintain together with the new implementation. All fine, keep good work and thanks one more time..

[2020-08-25 19:26] TeslaTaken commented on #5905
Yeah...not solved yet. I also have this issue.
This is just bad programming. Surprising that with such a quality software as Postman, they have this bug in there. Users should be able to specify their own ports. Not conform to leaving 8443 open. I'm using 8443 for other stuff...leave it alone Postman! And change the port to something else!

[2020-08-25 19:39] sweetnoods commented on #8959
Is there a way to simply disable the Postman script IDs? Depending on the collection, this can turn a single-line change in to 1000s of lines changed because of all the ID updates.

[2020-08-25 20:01] willcodeforfood commented on #5903
This "Alt+scroll to resize" behavior is awesome! It's the most useful feature I never knew I wanted until I had it. When I tried it today, I literally said out loud "woooah that's so cool!"

Now I'm going to be Alt+scrolling everywhere - wondering every other app with resizable panes doesn't implement "alt+scroll to resize". Perhaps some day maybe it'll be as ubiquitous as "Ctrl+Scroll to Zoom" or

[2020-08-25 20:09] olopezdeveloper commented on #7591
Same error here..

[2020-08-25 20:58] TeslaTaken commented on #5905
Here it is guys! The issue is on this file. It has the port 8443 hardcoded:
/opt/Postman/app/resources/app/services/electronProxy.js

Line 115:
hostport[1] = 8443;

Line 180:
var a = this.proxyServer_s.listen(8443, function (err) {

I believe you only need to change line 180 for it to work. I changed both just in case and it's capturing, no problem. I changed it to port 7443 so I wouldn't have to

[2020-08-25 22:09] ICeZer0 commented on #3518
It is not working with Interceptor

[2020-08-25 22:55] mccannt commented on #6446
Closing this.
If it is still an issue on the latest version, please feel free to reopen

[2020-08-25 22:55] #6446 closed, assigned to nobody

[2020-08-25 23:00] mccannt commented on #6448
Closing this. If this is still an issue with the latest version of the application, please feel free to reopen.

[2020-08-25 23:00] #6448 closed, assigned to nobody

[2020-08-25 23:04] mccannt commented on #6029
This appears to be an OS-level issue and not a product issue. Closing this out.
If there are further issues, please feel free to open an issue.

[2020-08-25 23:04] #6029 closed, assigned to nobody

[2020-08-25 23:14] eholley commented on #7373
Doesn't look like this ticket is getting much traction even after all of this time.

Here's the workaround I made (inspired by @skplunkerin, but adding to the modified date value back into the JSON):
`
...

{{#each response.schedule.scheduleList}}
    <tr>
        <td>{{_schedule_start_mdt}}
        <td>{{title}}</td>
    </tr>
{{/each}}

...

let json = pm.response.json();
for (let i in json.sche

[2020-08-25 23:31] danthemanvsqz opened #8978 "Sync is not reliable."
**Describe the bug**
We can not synchronize changes reliably. Typical workflow we merge a PR and then cannot sync the master fork locally. Revoking all sessions seems to fix this but the problem consistently reoccurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Fork make changes
2. Merge changes
3. Verify merged changes in parent fork.

**Expected behavior**
I should be able to sy

[2020-08-26 03:02] wangxicheng opened #8979 "search box to find request"
**Is your feature request related to a problem? Please describe.**
Whenever I want to find the request with the path part of the URL, I can't find it, I can only find it by name or folder name, but I can only remember part of URL

**Describe the solution you'd like**
I want to find the request in the search box through the path of the URL

**Describe alternatives you've considered**
It is best to

[2020-08-26 03:05] wangxicheng commented on #8979
In addition, the version is  7.31.0  win32 10.0.17134 / x64

[2020-08-26 03:46] edwardchew97 commented on #3358
+1

[2020-08-26 05:33] benknight commented on #8560
Any update on this? It's actually quite annoying when one single app doesn't follow the system default.

[2020-08-26 06:13] pwyss0 commented on #8964
It never works. You always get the same error message "file-is-missing" and in the curl code, there is always the same filename populated (OLMP10_A_UTF-8_new.xml). My work colleagues have exactly the same problem.

[2020-08-26 06:15] saswatds commented on #8964
Hi @pwyss0 , Do you see any error in your `Postman Console` when you are trying to send the request?

[2020-08-26 06:53] pwyss0 commented on #8964
Hi @saswatds, the only error message I see in the console is "{"totalCount":1,"errors":[{"type":"ERROR","code":"file-is-missing","message":"The correct import file must be supplied."}]}"  (Status: 422 Unprocessable Entity).

[2020-08-26 07:06] AliciaLITP commented on #8962
Dear Amit,

I was wondering if I do see postman logs in my roaming folder, will it help in the checking?

C:\Users\AppData\Roaming\Postman
[cid:image001.png@01D67BBA.6D6530D0]

Thank you.

Regards,

Alicia Lee
Executive  l  Online Learning (OLE)

[cid:image004.jpg@01D67BBA.83B9BE50]

Singapore University of Social Sciences
463 Clementi Road, Singapore 599494
t +65 6240 8810  l  suss.edu.sg<http://

[2020-08-26 07:50] DannyDainton commented on #8979
Adding the substring into the `Find and Replace` should allow you to search for that value in the Workspace and open in in the builder.

![lgLUo.png](https://user-images.githubusercontent.com/17089546/91276123-ff16d680-e778-11ea-99a4-ffc120e8b693.png)

More info in the Postman Learning Center:

https://learning.postman.com/docs/getting-started/navigating-postman/#find-and-replace

[2020-08-26 08:22] DannyDainton commented on #8968
Hey @thetreythomas

We've just released a new version (7.31.1) which includes a fix for this issue.

Would you be able to confirm that you can see your history after updating, please?

[2020-08-26 08:44] mrdulin commented on #5194
+1

[2020-08-26 08:53] DannyDainton commented on #2765
Closing this issue as it has now been resolved in version: 7.22.1

Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-08-26 08:53] #2765 closed, assigned to nobody

[2020-08-26 09:00] dfesenko commented on #2104
To change the size of the font you should use `Ctrl` + `+`, but not that `+` button that is located in the area of Num Lock, but that that is located near the `Backspace` or `Enter` buttons. This button has both `+` and `=` signs on it. For me, only this button works.

[2020-08-26 09:19] mostopalove commented on #8733
<img width="539" alt="Снимок экрана 2020-08-26 в 12 18 11" src="https://user-images.githubusercontent.com/49098339/91285811-511a2500-e796-11ea-8bd7-e6be5cd49c27.png">

[2020-08-26 09:47] DannyDainton commented on #3522
Hey @abhijitkane

Is this comment still valid or are we now in a position to close this issue?

[2020-08-26 09:48] DannyDainton commented on #4811
Hey @numaanashraf

Is this still a valid issue or could we close this?

[2020-08-26 09:54] smares opened #8980 "Don't create startmenu shortcut on update"
**Is your feature request related to a problem? Please describe.**
I am organizing program shortcuts in a custom way and like to have things grouped in folders by software category. It's always a PITA that Postman keeps creating the Postman\Postman.lnk on update.

**Describe the solution you'd like**
The program shortcut should be created once during the first installation. On update, don't create

[2020-08-26 09:56] DannyDainton commented on #8980
Hey @smares

Could you also provide details about the app version and your OS, please?

[2020-08-26 10:52] owaiskhalid95 commented on #256
wf

[2020-08-26 10:53] owaiskhalid95 commented on #256
Hey all
i want to get my own personal access link not the one showing document.postaman is there any way for this?

[2020-08-26 10:56] DannyDainton commented on #6096
Hey @kuceram

Is this still an issue that you're facing? If not can we look to close this out now?

[2020-08-26 11:17] wangxicheng commented on #8979
It's ok to find and open request  in the builder,  just not the simplest way to get result @DannyDainton . If possible, I would prefer to use this search feature in the filter box

[2020-08-26 11:43] VicKetchup opened #8981 "Postman 7.31.1 macOS Runner - Recent runs are out of order"
**Describe the bug**
When accessing runner in Postman 7.31.0 or 7.31.1 on macOS, the recent runs are out of order.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Runner
2. Look at the Recent runs
3. See the results being out of order

**Expected behavior**
Recent runs should be in order of the runs being triggered.

**Screenshots**
![image](https://user-images.githubusercontent.com/43

[2020-08-26 11:44] mccannt commented on #7043
This issue should be resolved. Please reach out and reopen if this is still an issue.

[2020-08-26 11:44] #7043 closed, assigned to nobody

[2020-08-26 11:49] mccannt commented on #7951
We have made many improvements around this recently. Closing this issue.
If issues persist, please feel free to reopen this issue.

[2020-08-26 11:49] #7951 closed, assigned to nobody

[2020-08-26 12:05] coditva commented on #8981
Hey, @VicKetchup Thanks for reporting. 🙌
I could reproduce this issue. Will update this thread with more info soon.

[2020-08-26 12:10] venkateshellaboina commented on #6078
If your Path also depends on variables

Example Request : **{{baseUrl}}/info**,  where _baseUrl_ = `http://facebook.com/user`.

After resolving variables, the URL will be `http://facebook.com/user/info`.

You can use this function to get the path:

[code]
output: /user/info

[2020-08-26 12:28] Hayk-S commented on #8176
Hi @VicKetchup , I was not able to reproduce this issue following the steps you described. Are you still facing this issue ?

[2020-08-26 13:06] ranchanarajasekaran commented on #6365
The issue has been fixed.
Please feel to reopen the issue to report any feedback on the same.

[2020-08-26 13:07] #6365 closed, assigned to dhineshwiz, Raja-Simha

[2020-08-26 13:15] ranchanarajasekaran commented on #6425
The issue has been fixed.
Please feel free to reopen the issue to report any feedback on the same.

[2020-08-26 13:15] #6425 closed, assigned to ratpik, Raja-Simha

[2020-08-26 13:15] VicKetchup commented on #8176
@Hayk-S It looks like some change was implemented, as the error now reads:
`{"error":{"name":"forbiddenError","message":"You don't have access to this monitor."}}`
However there are still monitors on API that are no longer present anywhere else.

[2020-08-26 13:16] VicKetchup commented on #8176
Shall I send email with all the IDs of the monitors that we are having issue with?

[2020-08-26 13:24] KarFan-FS commented on #4193
I also want this feature

[2020-08-26 13:45] ranchanarajasekaran commented on #7966
This issue has been fixed.

[2020-08-26 13:45] #7966 closed, assigned to godfrzero, Raja-Simha

[2020-08-26 13:51] ranchanarajasekaran commented on #7819
This behaviour is not reproducible.
Closing this for now, please feel free to reopen if you’re still facing this.

[2020-08-26 13:51] #7819 closed, assigned to godfrzero, Raja-Simha

[2020-08-26 14:00] ranchanarajasekaran commented on #7875
We show a tooltip for folder/request on hovering which displays the full name.
Closing the issue .

[2020-08-26 14:00] #7875 closed, assigned to vkaegis, Raja-Simha

[2020-08-26 14:08] ranchanarajasekaran commented on #7518
This issue has been resolved. Please reopen the issue to report any feedback on the same.

[2020-08-26 14:08] #7518 closed, assigned to Cazaimi, Raja-Simha

[2020-08-26 14:33] mccannt commented on #6424
@thetreythomas Is this still an issue for you in the most recent version of our app?
I just checked and it appears to be working as expected.
Please let us know.

[2020-08-26 14:41] ranchanarajasekaran commented on #6438
This issue has been fixed. Closing this card.
Please reply to this thread to report any feedback.

[2020-08-26 14:41] #6438 closed, assigned to Raja-Simha

[2020-08-26 15:05] Morgunov-Vitaly opened #8982 "Postman duplicates parameter for array type fields after Importing OpenAPI documentation"
**Describe the bug**
Postman duplicates parameter for array type fields.
If I specify in OpenAPI 'example' propertie two or more values, then all my values are displaing, and if I specify only one, then the postman duplicates value.

**Screenshot**
![Postman duduplicates parameter](https://user-images.githubusercontent.com/19765202/91320849-a706c100-e7c6-11ea-82e8-9d0f7ebd8727.png)

**Expected beh

[2020-08-26 15:33] Hayk-S commented on #7257
Closing this @labifrancis.

[2020-08-26 15:33] #7257 closed, assigned to nobody

[2020-08-26 15:54] qamib commented on #8977
Starting today (8/26/20) I am also experiencing a consistent Postman crash happening 5-to-30 seconds after launching.

[2020-08-26 17:08] Raj-postman commented on #8977
Hi @dmarra @qamib - may I know if you see the loading state of the app or are you able to send requests for the first 30 seconds?

Also, could you try installing Canary  [from here](https://www.postman.com/downloads/canary/) and let us know if that helps?

[2020-08-26 17:28] Hayk-S commented on #7040
@ankurdoshi87 are you still able to reproduce the issue ?

[2020-08-26 17:31] dmarra commented on #8977
I _can_ send requests and use the app; it's not a loading screen. I can use
it even with the unresponsive UI, its just _extremely_ jerky, like, 5
seconds go by and then I see it update jerky.

Installed Canary and it remains responsive.

On Wed, Aug 26, 2020 at 1:08 PM Kurmavathar <notifications@github.com>
wrote:

[2020-08-26 17:36] qamib commented on #8977
I also can post requests, and utilize Postman normally within the first 10-30 seconds of launching. Then it crashes.

I installed Canary as suggested and it appears to be functioning normally Canary does not crash.

[2020-08-26 18:20] ankurdoshi87 commented on #7040
Yes. Not its not working for both for Request and Response. It was very useful feature to select the json internal objects.

[2020-08-26 18:25] topshef commented on #7700
Thanks a lot, it's posted now via community https://community.postman.com/t/giving-access-to-gcp-localhost/15340

[2020-08-26 19:25] SabriH10 commented on #7967
Hey @alexszarko ,

Apologies for the late reply here on your inquiry. I just wanted to check if, perhaps the following feature could help. It's not in regards to the pre-request script, but if you're looking at testing different variable values for each iteration you could try using the Collection runner and importing a data file:
https://learning.postman.com/docs/running-collections/working-with-

[2020-08-26 20:35] rboren opened #8983 "For a collection I created in my Team Workspace, I suddenly no longer have access to Manage Roles/Merge/Pull/Fork"
I created all the collections for my team in a shared workspace. We had someone import an exported copy for several of those collections into the same team workspace as they mistakenly thought they were in their personal workspace.

Those that had permission to merge/pull from those collections no longer are able to do so.

![image](https://user-images.githubusercontent.com/70290573/91350900-5dfa4

[2020-08-26 20:42] SabriH10 commented on #8733
Hi @mostopalove ,

Could you try to clear the Postman folders first and then re-install postman as described here: support.getpostman.com/hc/en-us/articles/360025359014

If things still don't work, write to Postman support by submitting a ticket here: postman.com/support
Include Postman app logs and screenshots: support.getpostman.com/hc/en-us/articles/360047765713

[2020-08-26 21:16] slpenza commented on #1557
It appears the API Network wasn't able to incorporate Google APIs. Any possibility of reconsidering adding support for Google's API Discovery Services, or other suggestions? Thank you

[2020-08-26 21:57] vallme2003 opened #8984 "Generate Cypress Request code snippet"
**Is your feature request related to a problem? Please describe.**
Currently, We see Code snippets available for export as Nodejs/Javascript.

**Describe the solution you'd like**
It would really be great if we can add a section to generate a cypress Request code snippet from Postman

**Additional context**
Snippet Section : https://imgur.com/a/Q8niwxS
Reference for Cypress Request : https://docs.

[2020-08-26 23:51] andrew-jones commented on #8754
Run into this again, third time.  Starting to look for alternatives.

`
~ » postman
(electron) 'getName function' is deprecated and will be removed. Please use 'name property' instead.
Could not get the lock, quitting
Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"
`

[2020-08-26 23:57] mccannt commented on #8005
@jolsen71 This should be resolved in v.7.28+ of the app.
Can you try this and verify if this is now resolved for you?

[2020-08-27 00:02] mccannt commented on #6944
This issue should now be resolved. Please feel free to reopen if this issue persists.

[2020-08-27 00:02] #6944 closed, assigned to numaanashraf

[2020-08-27 01:31] abhidp opened #8985 "Sort Environment Variables alphabetically"
**Is your feature request related to a problem? Please describe.**
Its difficult to find environment variables when they are scattered randomly without any specific order. When you have 100s of environment variables, it wastes a lot of time scrolling up and down to reference/update environment variables

**Describe the solution you'd like**
Please provide an option to sort the environment variable

[2020-08-27 02:17] ankit-m commented on #8983
@rboren Can you email us the collection ID and workspace ID so that we can take a closer look at the issue? Email: help@postman.com

[2020-08-27 06:21] DannyDainton commented on #8982
Hey @Morgunov-Vitaly

Could you supply an example of your OpenAPI spec file so that we can recreate this issue locally, please?

[2020-08-27 06:25] DannyDainton commented on #8985
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3078

[2020-08-27 06:29] DannyDainton commented on #8984
Hey @vallme2003

All of the code snippets for the different languages are open source so if you wanted to take a look at this and submit a PR - it would be awesome. 🏆

Here's a link to the Code Generator repo:
https://github.com/postmanlabs/postman-code-generators

[2020-08-27 06:33] DannyDainton commented on #8917
Hey @sjkaiv,

This sounds very similar to https://github.com/postmanlabs/postman-app-support/issues/8972 where we have been able to replicate the runner crashing.

I'm going to close this issue and we will post any updated information on that thread.

Thanks for reporting. 🏆

[2020-08-27 06:33] #8917 closed, assigned to nobody

[2020-08-27 06:40] vallme2003 commented on #8984
@DannyDainton  Thank You for sharing the link. Of course, would be happy to help. Will take a look and submit a PR.

[2020-08-27 07:24] FFdhorkin commented on #4791
@vkaegis any updates? It's been 2 years since the last official update

[2020-08-27 07:33] ranchanarajasekaran commented on #7513
The collection was removed and not deleted . Closing this thread as it is not an issue .

[2020-08-27 07:33] #7513 closed, assigned to godfrzero, Raja-Simha

[2020-08-27 07:36] FCulig commented on #8971
Here are screenshots of the whole collection runner window:

(Some test results changed because we are actively developing the API)

![Run summary](https://user-images.githubusercontent.com/36075622/91411205-4ae48100-e848-11ea-8cbf-228c36ea2ca9.png)
![Run results](https://user-images.githubusercontent.com/36075622/91411208-4c15ae00-e848-11ea-822a-519ceb548abe.png)

I tried replicating bug with oth

[2020-08-27 07:57] coditva commented on #8971
Hey @FCulig, thanks for the info! I could reproduce the issue. Seems like the failing tests are getting mixed up in the summary view with the passing tests. I've marked this as a bug and will post all updates for this on this thread.

[2020-08-27 07:58] Raj-postman commented on #8977
@qamib Glad to know that helped! In that case could you please try to clear cache for the Postman app as per [this doc here ](https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-)and let us know if that helps?

[2020-08-27 08:04] Raj-postman commented on #8977
@dmarra Would it be possible for you to send a screen-record of this case to help@postman.com with the title `GH-8977`. I find (https://www.loom.com) to be helpful for the same.

Also, try tweaking the "Max response size" from settings to 100 MB and see if that helps.

[2020-08-27 08:12] Mibeon commented on #4142
@pankajk07 Well done guys, well done!

[2020-08-27 08:35] arlemi commented on #1557
@slpenza It is up to the API provider to add their APIs to the API Network since it also requires to be kept up-to-date over time. I'd recommend asking on the Google Forums whether they'd consider creating a Postman Collection for their APIs instead. 🙂

[2020-08-27 08:47] DannyDainton commented on #6915
Hey @JP-from-Postman

Is this still a valid issue in the latest version?

[2020-08-27 08:57] DannyDainton commented on #6386
Hey @JP-from-Postman / @kamalaknn

Is this still an issue with the latest versions?

[2020-08-27 10:50] ranchanarajasekaran commented on #4912
We have fixed this issue. Please feel free to reopen the ticket to report feedback on the same.

[2020-08-27 10:50] #4912 closed, assigned to godfrzero, sankalp0o, Raja-Simha

[2020-08-27 10:50] ranchanarajasekaran commented on #4244
We have fixed this issue. Please feel free to reopen the ticket to report feedback on the same.

[2020-08-27 10:50] #4244 closed, assigned to vkaegis, Raja-Simha

[2020-08-27 11:31] DannyDainton commented on #6330
@chrisdeso Is this is an issue in the latest app?

[2020-08-27 11:39] dharoda opened #8986 "Open API Response in a separate section"
Currently, API Response is displayed in a window merged to the bottom part of Postman screen. But, it would be better if the API Response could have its own, independent section besides "Body" section so that we do not have to adjust the window size every time.

[2020-08-27 11:42] DannyDainton commented on #6532
@Raj-postman Is this still a problem?

[2020-08-27 11:47] DannyDainton commented on #8986
Hey @dharoda

Could you expand on the details of this request please - Images showing what you're currently seeing versus what you would like to see.

Also include the environment details (App version / OS) so with know which platform you're referring too.

[2020-08-27 11:55] smares commented on #8980
Sure, OS is **Windows 10 x64 Version 2004** and Postman is currently at **7.31.1**, but I am having the mentioned "issue" since I am using Postman, so for at least a year.

[2020-08-27 11:58] DannyDainton commented on #6503
Hey @m3dbedb,

Is this still an issue that you're facing while using the latest version?

I tried to follow your steps but i'm unsure what the issue is or what it should be expected to do here - Would you be able to help?

<img width="1392" alt="Screenshot 2020-08-27 at 12 56 19" src="https://user-images.githubusercontent.com/17089546/91439471-e8e64480-e864-11ea-9e91-5acd8329b5a0.png">

[2020-08-27 12:04] DannyDainton commented on #6568
Hey @anishkny

Is this something that you're still seeing in the latest version of the app?

[2020-08-27 12:11] DannyDainton commented on #6570
Hey @benperiton / @JP-from-Postman

Is this still an issue on the latest version for you?

[2020-08-27 12:51] dharoda commented on #8986
Hi @DannyDainton , I am using Postman version - "Postman v7.30.1", OS = Windows 10, 62 bit
Please refer the screenshot below. Here, the response section, marked in Red is overlayed with the request section above. So, could it be possible to have an option to see this response section request section ?
![image](https://user-images.githubusercontent.com/70201894/91444111-e9490480-e891-11ea-8641-3014

[2020-08-27 12:58] DannyDainton commented on #8986
In the bottom right of that image, there an icon to place the view in '2 pane mode' which will place those next to each other.

[2020-08-27 13:02] iamshubhamjangle commented on #8574
Thanks the solution worked!!!!
just deleted files in local and roaming folder (delete only postman folder if exist);

[2020-08-27 13:28] dharoda commented on #8986
This (2 pane mode) does help in some cases. But, it would be also nice to have a Single Pane View with an individual Response section, such that we need not adjust the window size by dragging it up/down (for single page view) or left/right (for 2 pane mode).
Or what would also help is if we can expand/collapse this section like an accordion. Right now, the accordion concept works in a single page

[2020-08-27 13:45] coditva commented on #8986
Hey @dharoda, I see your problem with not being able to view Request or Response with full screen size unless you drag the pane up or down. For making this easier, we have added a shortcut to allow easier and faster resizing of panes (in version `7.30.0` and above).

You can now scroll over the Request and Response while pressing the `Alt` key to quickly resize the pane. You can use this interacti

[2020-08-27 14:01] Hayk-S commented on #7064
Hi @wajncn , could you please inform if you are still able to reproduce the issue ?

[2020-08-27 14:03] bruno-xo7 commented on #8180
Same in 7.31.1.

I created a client of my own to be able to work. So I had to use the AWS signature calculation and use a crypto library, CryptoJS. I encountered the following problem which could be the same as Postman's one. The CryptoJS library only takes a string as input and not a Buffer, so an implicit .toString() is made to utf8 which makes the signature invalid.

[2020-08-27 14:20] rboren commented on #8983
Will do and will send it from my team email account. Thanks!

[2020-08-27 14:28] mccannt commented on #6993
@techpeace @apokall Can you confirm this is still an issue for you in the most recent version of the app?
If so can you provide the requested information as outlined above?

[2020-08-27 14:31] Hayk-S commented on #7988
Closing this issue out. Please feel free to reopen if there are any issues with this.

[2020-08-27 14:31] Hayk-S commented on #7988
Closing this issue out. Please feel free to reopen if there are any issues with this.

[2020-08-27 14:31] #7988 closed, assigned to vvs11, dushyantchillale

[2020-08-27 14:47] mccannt commented on #7607
Just following up on this issue.
We currently have a request in with Snap to help address this issue.

For now, we ask you to download the app from our [website](https://www.postman.com/downloads/)
We will update when this is resolved.

[2020-08-27 15:05] mccannt commented on #7870
Thanks for the information everyone. We are constantly making performance improvements to the app, so keeping up with the latest version will hopefully help with situations like this.

We will keep everyone updated on further improvements.

[2020-08-27 15:20] mccannt commented on #8879
Thanks, @osowskit for the report.
We are currently investigating this and will reach out if we have any further questions.

[2020-08-27 15:29] mccannt commented on #7403
@Aaron-Browne Any update on this when using the new feature as outlined by @shreys7 above?

[2020-08-27 15:36] j0a0m4 commented on #2104
Thanks @dfesenko, I was also having the same issue.

[2020-08-27 16:17] jpatel-api commented on #7348
+1

This would be a great addition

[2020-08-27 16:35] vphe commented on #6351
+1

[2020-08-27 16:59] ed-mak commented on #4254
Just adding to the numbers here. I am also encountering this issue and it is very disruptive. We need either a workaround so we can implement a retry mechanic (which is a shoddy process already) or have it fixed. Or ideally both so we can save ourselves in the future if something similar to this occurs.

[2020-08-27 17:04] mccannt commented on #8287
This issue should now be resolved. We also will have some improvements that we are planning to make to the messaging on error, at a later time.

[2020-08-27 17:04] #8287 closed, assigned to codenirvana

[2020-08-27 17:48] mccannt commented on #8347
@avirinenin Apologies for not following up sooner. Can you confirm if this is still an issue for you?

I have tried this locally and I am not seeing the issue currently, we have made improvements in this area recently that may have resolved this for you.

[2020-08-27 17:49] jlevitt commented on #8619
I'm also experiencing this issue:

Postman for Windows
Version 7.30.1
win32 10.0.18362 / x64

[2020-08-27 17:50] avirinenin commented on #8347
I will check and get back to you. Thanks.

[2020-08-27 18:00] SummerShoohaw commented on #5040
+1

[2020-08-27 18:05] mccannt commented on #7808
Closing this issue out. @shleym if you continue to experience this problem on the latest version of our application, please do reopen this issue with any additional details you can provide.
Thanks.

[2020-08-27 18:05] #7808 closed, assigned to ritwijsinha

[2020-08-27 18:08] mccannt commented on #7501
@NikolayKozlov Can you confirm this is still an issue for you?
We have made improvements around this since the issue was logged and continue to.

[2020-08-27 18:17] mccannt commented on #7606
Thanks for logging this issue @alex-bolenok-centralreach
I was able to replicate the issue locally and we are investigating this. We will follow up when we have additional information.

[2020-08-27 18:29] nickwinsor commented on #8863
+1 we're seeing the same behaviour when trying to import our GraphQL schema as well.

We've tried exporting the schema in both SDL and JSON with the following tools, and all failed upon attempting to generate the collection with the same error mentioned above :
- [Apollo](https://github.com/apollographql/apollo-tooling)
- [GraphQL Export](https://github.com/oshosanya/graphql-export)
- [get-graphql

[2020-08-27 18:29] mccannt commented on #8116
@sulaimaan26 Can you confirm you are still seeing this behaviour?
We have recently made some improvements around the Runner and I am not seeing this issue currently.

[2020-08-27 18:33] mccannt commented on #7457
@cyrielle-hada We have made improvements to this flow. Can you review and close this out if you are satisfied with the solution?

[2020-08-27 18:36] andre-bohlsen opened #8987 "Custom domain with app.br TLD is bugged"
**Describe the bug**
A clear and concise description of what the bug is.
We were publishing one collection on the postman website and decided to put it on a custom domain. In brazil we can have app.br TLDs. So when we tried to register our domain. It didn't recognize our domain
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://XXXX.postman.co/settings/team/custom-domains
2. Click

[2020-08-27 18:42] mccannt commented on #8481
Thanks for reporting this.
We are currently investigating this issue and will let you know when we have any updates.

[2020-08-27 19:15] damian-sketch opened #8988 "'Could Not send request' Error!"
I am trying to run a GET request on Postman to this URL , https://codeserver-framework-{16571}.devfactory.com/api/v2/repositories/summary/?groupBy=day but I keep getting faced by this error

![postman](https://user-images.githubusercontent.com/63429298/91485000-9d9a5900-e899-11ea-98d6-c584d6bc8515.PNG)

[2020-08-27 19:25] alvinlin123 commented on #4209
For this feature, please please make sure [`credential_process`](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html) works.

[2020-08-27 19:28] DannyDainton commented on #8988
Hey @damian-sketch

Could you also include your environment details please?

[2020-08-27 19:38] jf-pelletier commented on #3272
Hi!

I'm new to Postman, but an old Perl fan who would love to see this feature coming soon. Any idea when this can be available?

Thanks!

[2020-08-27 19:54] damian-sketch commented on #8988
This is the environment http://10.69.11.89:16571/. Consider using a VPN to access it.

[2020-08-27 20:14] txrackack commented on #5827
Absolutely still happening as of v7.31.1  Problem is getting to the point if being unusable.  You can't navigate away from the app even or the loss of focus will have you waiting again for minutes at a time.  It's taking an otherwise great tool and making it pointless.  Here's an awesome car but you going to have to remove the doors to get in and you have to put them back on to drive it...

[2020-08-27 21:13] thetreythomas commented on #8968
@DannyDainton

I updated to 7.31.1, and I was not able to reproduce the bug. Looks fixed to me.

One extra question though...

How far back is this supposed to go? In this particular team workspace, I can see history going all the way back to August 19th. For August 19th and 20th, I see the API calls made in the history list, but no response. I suspect the "Save Response" toggle was not set until

[2020-08-27 21:15] ahcode0919 commented on #8987
Hi @andre-bohlsen , are you encountering an error with the TXT and CNAME fields being populated on the website? Or is it unable to verify the the domain after you've updated the DNS records?

[2020-08-27 21:24] DannyDainton commented on #8968
Awesome!! Glad it's solved the issue for you 🏆

I don't actually know the answer to that question so I may need to refer to either @ritwijsinha or @ankitjaggi who might be able to provide that information.

[2020-08-27 21:26] andre-bohlsen commented on #8987
Its unable to verify the domain. I'm trying to verify the domain
docs.mydomain.app.br. the site states:

TXT record on app.br

Add the following token as a TXT record associated with app.br
instead of mydomain.app.br

Hope it clarified your doubt.

Regards,

André

On Thu, Aug 27, 2020 at 6:15 PM A. Hinton <notifications@github.com> wrote:

[2020-08-27 21:36] thetreythomas opened #8989 "ECDHE-RSA-AES256-GCM-SHA384 and ECDHE-RSA-AES128-GCM-SHA256 cipher suites appear to not be working"
**Describe the bug**
Based on https://github.com/postmanlabs/postman-app-support/issues/8612, starting with 7.29.0 Postman only supports 18 cipher suites. My API also made some changes around the same time, so I was testing the few that we have in common.

- AES-128-GCM-SHA256
- AES-256-GCM-SHA384
- ECDHE-RSA-AES128-GCM-SHA256
- ECDHE-RSA-AES256-GCM-SHA384

The two AES work fine, but the ECDHE giv

[2020-08-27 22:24] DannyDainton commented on #8968
@thetreythomas as this solved your original issue, I'm going to close this out for now but I'm hoping we'll get you an answer to that question soon though.

[2020-08-27 22:24] #8968 closed, assigned to ritwijsinha

[2020-08-27 22:36] mccannt commented on #6761
@arushiprasad Can you tell us the version of the app and OS you are running? Also, is this happening for any endpoint you are hitting?

@rlfriedrichs @SamratDe Same question, what app version and OS as well as is this impacting all endpoints you are hitting?

[2020-08-27 22:42] mccannt commented on #7041
@danieleteti We are still investigating this issue further, as the fix could have other impacts and we want to ensure we do not impact other functions in the system.

We will share updates as they become available.

[2020-08-27 23:12] mccannt commented on #4375
We have been making continuous improvements to the performance of the application recently.
Are larger files still an issue for everyone? If so, what size?

We would like to gauge if the improvements are having the intended impact.

[2020-08-27 23:24] mccannt commented on #2418
@eysikal We have made some recent changes to resolve this.

What version of our application are you using currently?
Do you see this issue with any other endpoint that returns a 204?

[2020-08-27 23:57] mccannt commented on #6985
Issue has been resolved.

[2020-08-27 23:57] #6985 closed, assigned to nobody

[2020-08-28 00:13] mccannt commented on #7397
This issue should now be resolved.
If this is still an issue, please let us know or reopen this issue.

[2020-08-28 00:13] #7397 closed, assigned to abhijitkane

[2020-08-28 02:29] ShahinKohan opened #8990 "API documentation add the ability for the external reader to provide feedback on the documentation"
**Is your feature request related to a problem? Please describe.**
Currently there is no way for consumers of the API documentation to provide feedback. If there are enhancements or errors in the API document the read can't provide any feedback about it.

**Describe the solution you'd like**
Provide the ability for the reader to provide feedback on the document. This can be either private or publi

[2020-08-28 03:02] amirrh6 opened #8991 "Count of requests inside a folder"
Hi folks,

First of all, Thanks for keeping Postman great.

I would like to know if it is possible to count the requests inside a folder. I couldn't find it on my own.

If this is not available right now, label this as a kind feature request :)

Idea:
Display total requests count next to folder title. (similar to collection title)

![image](https://user-images.githubusercontent.com/65363030/915162

[2020-08-28 05:31] Niush commented on #2418
@mccannt After latest update it is working from Build View just fine.
But, still not working in **Pre-requests Script**.
While using `sendRequest` as below:

[code]
And console.log of response has **0 cookie and 0 header**. (Although, it does exist as it works from Build view)

I also tested with ``https://httpstat.us/204`` endpoint, and it works fine. So, it is might be with the way Laravel Sanct

[2020-08-28 05:57] thetreythomas opened #8992 "Multiple issues with adding a new Global Variable"
**Describe the bug**
I needed to add a new global variable, and when doing so Postman became unresponsive. Eventually, the window was active, but it was still somewhat laggy to respond.

If I wait long enough, I can remove these values being entered for me, and then I'm able to add a global variable like normal.

Once a global variable is added, this does not seem to happen on the 2nd line, just t

[2020-08-28 06:09] thetreythomas opened #8993 "Manage Environments window needs to be larger - 750px is not enough"
**Is your feature request related to a problem? Please describe.**
When you have the "MANAGE ENVIRONMENTS" window open to add variables, or add a new environment, the 750px width this is set to is not enough, especially if you are adding JSON data to either the initial or current values.

**Describe the solution you'd like**
Looking at the Developer Tools, you have the height set to 70vh, and the

[2020-08-28 06:11] thetreythomas commented on #6424
@mccannt I tried verifying this just now, and ran into issues with Global Variables. I created a bug report, #8992.

[2020-08-28 06:16] DannyDainton commented on #8352
Hey @fenoloco,

I'm going to close out this issue due to inactivity, please feel free to reach out to us if the problem persists in the latest version.

[2020-08-28 06:17] #8352 closed, assigned to preethammavin

[2020-08-28 06:19] DannyDainton commented on #8279
Hey @bensullivan,

Is this an issue that you're still seeing in the latest app version?

[2020-08-28 06:20] DannyDainton commented on #8189
Hey @ankit-m,

Is this still an issue in the latest version?

[2020-08-28 06:23] DannyDainton commented on #7584
Hey @jabbott-EDR,

Is this still causing you problems in the latest version of the app?

[2020-08-28 06:24] DannyDainton commented on #7321
Hey @xk0der,

Is this still an issue in the latest version?

[2020-08-28 06:26] saurabhChaubey commented on #6761
update has resolved the issue

[2020-08-28 06:28] DannyDainton commented on #6475
Hey @cyrielle-hada,

Has the original issue been resolved now? I see that @travisnguyen20 had raised a support request but not sure if it's the same issue or a different one.

[2020-08-28 06:35] DannyDainton commented on #8993
Duplicate of #3493

[2020-08-28 06:35] #8993 closed, assigned to nobody

[2020-08-28 06:38] Raj-postman commented on #6532
@DannyDainton I guess yes - with "auth": Error

![image](https://user-images.githubusercontent.com/47771757/91529375-cd437280-e926-11ea-9551-a8c70843c9a9.png)

Changing to "Auth": Works fine

![image](https://user-images.githubusercontent.com/47771757/91529432-eb10d780-e926-11ea-9828-e0670d940574.png)

Could you give it a try and see if it's true?

[2020-08-28 06:46] DannyDainton commented on #6532
Thanks for checking that - just to expand on what the issue is, am I correct in saying this is just something that you have see on the Postman API?

Does the same happen on the POST call when creating a new collection?

Is it just the `Auth` that's doing this and not case-insensitive?

As that's a collection JSON file, does a GET request for a collection with `Auth` set return the same or the expo

[2020-08-28 06:57] DannyDainton commented on #8988
Could you also please share an image of the Postman console output when this error occurs.

You should be able to navigate to it by pressing the 'View in Console' in the error message.

We still require some details about you OS and the app version that you're seeing this issue on.

Any other context and the endpoint itself would also be helpful as we try to debug what's happening for you.

[2020-08-28 06:59] DannyDainton commented on #8989
Hey @xk0der,

Are you able to provide some help here as I could see that you did some awesome research on the linked issue. 🏆

[2020-08-28 07:02] DannyDainton commented on #6988
@sankalp0o I need to reconfirm that this is still an issue as there has been a lot of work down with the import flow recently. Do you know if this was picked up as part of the work?

[2020-08-28 07:08] cyrielle-hada commented on #6475
@DannyDainton I wasn't able to reproduce the issue reported by @travisnguyen20 (it is the same one reported in this thread).

If this happens, the workaround, for now, is to duplicate the master collection and then create a fork from this duplicated collection to another workspace.

I would keep this open a bit longer, wait, and see if we get any other reports.

[2020-08-28 07:10] DannyDainton commented on #6475
Awesome, thanks for taking a look @cyrielle-hada 🏆

[2020-08-28 07:14] gaerfield commented on #5040
As workaround some scripting helps. I inserted the script of this [stackoverflow-answer](https://stackoverflow.com/a/53934401/5029667) as Pre-request Script.
Within the GET-Adress-bar I used an arbitrary page (google, health-endpoint, doesn't matter). Because I was testing publish/subscribe, I triggered additionally some URLs within Tests. The Console logged everything.

Basic setup:
![image](http

[2020-08-28 07:18] vizzyks commented on #3290
I am using Canary 7.26.3 and was expecting that this time postman runs with "SSL certificate verification" ON after I added the certificate(.PEM) to it. But it did not.
Looks like Postman is still not able to verify the Private certificate, whereas Chrome is able to.
From the discussion above it appears that this issue was taken care in Canary, is it otherwise?

[2020-08-28 07:41] dharoda commented on #8986
Thanks @coditva That helps !

[2020-08-28 07:41] #8986 closed, assigned to nobody

[2020-08-28 08:45] DannyDainton commented on #5813
Hey @phrederick

Are you able to show the details of the issue that you're facing and is this happening in the latest version of the app?

[2020-08-28 08:50] DannyDainton commented on #7553
Hey All,

Is this something that folks are having an issue with on the latest version?

[2020-08-28 08:54] DannyDainton commented on #5814
Is this still an issue for folks using the latest version?

[2020-08-28 08:56] cyrielle-hada commented on #7457
@mccannt way better like this! 💯
<img width="573" alt="Screenshot 2020-08-28 at 10 56 26" src="https://user-images.githubusercontent.com/47351631/91541769-c01d8800-e914-11ea-8312-04c67fe1cc83.png">
I'm closing this issue.

[2020-08-28 08:56] #7457 closed, assigned to abhijitkane

[2020-08-28 09:01] phrederick commented on #5813
Hey @DannyDainton,
It's been a while but IIRC, I was able to resolve the issue with a reinstall of Postman. It's not a a feature that I use very often and I'm unable to reproduce it now either. As a side note, I know it's totally unrelated to this ticket but I've noticed some funky behaviour with the request and response panes not resizing properly when maximising a restored window in your latest

[2020-08-28 09:02] DannyDainton commented on #6297
Hey @gervaisb

Is this still an issue for you with the latest version?

[2020-08-28 09:20] hgalai commented on #8754
It seems the issue is coming from a framwork (Electron V7.0.0) used to develop Postman.
In oct 2019 the release of version V7.0.0 made obsolete the use of 'getName' function. This one should be replaced in Postman's code by  'name'.
Thus 'app.getName() ' should be replaced by 'app.Name()'
Source: https://github.com/sindresorhus/electron-util/issues/22

@kamalaknn : do you think this could be the r

[2020-08-28 09:24] DannyDainton commented on #5813
Awesome - Thanks for the information regarding the original issue.

I'm unable to create the issue your seeing on my side but if you could get some reliable steps to reproduce that one, we can open a new ticket and take a look.

I'm going to close the main issue now but we can reopen if others are still seeing the problem in the new version.

[2020-08-28 09:24] #5813 closed, assigned to nobody

[2020-08-28 09:28] DannyDainton commented on #6216
Hey @sankalp0o,

Do you know if this something that was picked up in some recent changes?

[2020-08-28 09:40] xk0der commented on #7321
I was unable to reproduce this issue - closing, next!

[2020-08-28 09:40] #7321 closed, assigned to ankitjaggi

[2020-08-28 10:06] Morgunov-Vitaly commented on #8982
Hi!
I can only share the file with path description: https://yadi.sk/d/lsbGrJmVwKS0IQ

[2020-08-28 10:10] DannyDainton commented on #8518
Hey @laurie-dgit

I've not been able to reproduce this on my machine - I see the response text being placed into the services option that I select.

Is this still an issue for you in the latest version? Would you be able to provide some images or a screen recording that shows the problem, please?

[2020-08-28 10:21] DannyDainton commented on #7981
Hey @jcald1

Is this still an issue for you on the latest version on the app?

[2020-08-28 10:27] DannyDainton commented on #8235
Hey @bondezbond

As the app has changed and the Temporary Headers is no longer something that is part of the most recent versions, could you confirm that this is still an issue for you, please?

[2020-08-28 10:32] DannyDainton commented on #7036
Hey @PlanetPayDave

Is this something that you're still having an issue with on the latest app version?

[2020-08-28 10:54] DannyDainton commented on #8377
Hey @ash007-postman

Do we know if this is still an issue that the user is facing?

[2020-08-28 11:01] cassnapper opened #8994 "Account timed out and cannot get back in"
![postman](https://user-images.githubusercontent.com/69794856/91553980-2e1e7b00-e926-11ea-83e5-2cc33fbb3236.png)

[2020-08-28 11:05] DannyDainton commented on #7314
Hey @rofthedeep

Is this something that's still causing an issue of could we close this issue now?

[2020-08-28 11:09] DannyDainton commented on #7125
Closing this issue out as the issue has been resolved.

If users are still facing issues, we can look to open this again.

[2020-08-28 11:09] #7125 closed, assigned to nobody

[2020-08-28 11:16] m-urban commented on #8783
Dear Postman maintainers, @DannyDainton, @codenirvana,

Is there any progress on this regression? Not only is this bug a major annoyance but it renders the program unusable for me and others in our proxy-bound environments at the moment.

Let us know if we can help squashing this problem, e.g. by providing logs or anything.

Thanks,
Manfred

[2020-08-28 11:23] xk0der commented on #8989
Thanks for tagging me @DannyDainton 🙌

----

Hi @thetreythomas I tested by forcing my server to use a single cipher and `TLSv1.2` and things worked fine. Attaching screenshots showing the negotiated `Protocol` and `Cipher` for the API response in Postman app.

**ECDHE-RSA-AES256-GCM-SHA384**
<img src='https://user-images.githubusercontent.com/21366/91555056-648ae300-e984-11ea-8052-4ba2a03e99c4.png

[2020-08-28 11:29] codenirvana commented on #8783
As mentioned in https://github.com/postmanlabs/postman-app-support/issues/8783#issuecomment-660046721, is everyone facing this issue because of any special character in the username or password field?

@orlowski-ra @m-urban @stephan-tho @Rikysonic Can you provide the following details:
* Proxy Setting: Custom or System
* Proxy Type: HTTP, HTTPS or BOTH
* Any special character in username or passwo

[2020-08-28 11:38] sgrazvan commented on #6199
Would be awesome to buy extra domains on the Team plan. Or any plan.

[2020-08-28 11:51] yoransabern commented on #4375
I no longer have this issue, just tried with a 3.5GB file and the app did not go black. Version 7.31.1 windows 10 64 bit

[2020-08-28 11:59] vikiCoder commented on #1464
@DannyDainton Yes, it is valid. We are exploring some ways to enable these workflows

[2020-08-28 12:23] ghost opened #8995 "postman freezes while sending GET request"
I have tried to make a get request to my backend but postman continuously shows **sending request** forever. I thought it will take time to load & i waited for more than 1 hour for few bytes of data but still it kept showing _sending request_ .

I have tried to make get request [www.google.com](url) just to check whether anything comes up in screen but still it showed sending request.

So i create

[2020-08-28 12:55] Raj-postman commented on #6532
Yes, the same error during the creation of a collection.

auth:
![image](https://user-images.githubusercontent.com/47771757/91561989-106b0900-e95a-11ea-88b5-884aab18f7c3.png)

Auth:
![image](https://user-images.githubusercontent.com/47771757/91562100-44462e80-e95a-11ea-9f70-93b80a31a273.png)

If I remember this right - there was a user who faced this issue for one of his APIs as well and changing

[2020-08-28 12:57] rlfriedrichs commented on #6761
I am using v7.31.1 on a Windows 10 Pro machine.
It is only happening for a couple of endpoints, but others in my organization are able to connect to those endpoints with no issues.

Rob Friedrichs
Technical Solutions Architect
(800) 441-0380 ext. 2763

From: Trent M <notifications@github.com>
Sent: Thursday, August 27, 2020 5:37 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.g

[2020-08-28 13:02] SamratDe commented on #6761
@mccannt the issue is solved for me.

[2020-08-28 13:45] mccannt commented on #6761
Thanks for the response @saurabhChaubey and @SamratDe glad to hear things are working for you.

@rlfriedrichs The other members in your org that can hit these same endpoints, are they using the same version of Postman and OS as you?

[2020-08-28 14:18] jm252409 commented on #4671
Add as an optional setting??  Its super annoying to go through 50+ api requests and figure out which ones are

[2020-08-28 14:32] mccannt commented on #8992
@thetreythomas Thanks for reporting this issue.

Using your steps above I am not seeing any odd behaviour. I am able to add a global variable successfully without issue.
Is there a preexisting condition prior to doing the steps you outlined?

Specifically `Once you have been able to remove this data, create a global variable and save it.`
Is there a global you have created and then you are trying

[2020-08-28 14:39] mccannt commented on #6424
@thetreythomas Can you try doing something like the following and let me know what you get back?

`curl --location --request GET 'https://postman-echo.com/get?foo1=bar1&foo2=bar2' \
--header 'Cookie: sails.sid=s%3Aooi3TEbsQhpn6Gw7xTMRx9mFdtc6RO6C.jo7tn7GxY3iYX%2ByeZGMhNLsU8O7HRztvqqG2sWcmIDA'`

Add the following to the `Test` tab:
`
pm.globals.set("global_variable", pm.response.json());
console.lo

[2020-08-28 14:57] DannyDainton commented on #6983
Hey @eplewis89

I know it's been a while, apologies for that 🙏 - Just trying to find out if this is still an issue that you're facing with the latest app version?

[2020-08-28 15:04] DannyDainton commented on #7616
Hey @Andy-GetPostman

I believe that this has been fixed so I'm going to close it out - If that's not, we can open it back up again :D

[2020-08-28 15:04] mccannt commented on #2418
Thanks for the follow-up @Niush I agree that this does sound like an isolated issue with Laravel Sanctum as this appears to work as expected when hitting other valid endpoints that return a 204.

Closing this issue for the time being. If this is still an issue against endpoints other than Laravel Sanctum, please feel free to reopen with details on how to replicate this.

[2020-08-28 15:04] #2418 closed, assigned to shamasis, codenirvana

[2020-08-28 15:35] m-urban commented on #8783
Hi @codenirvana,

Thank you for looking into this. Regarding your question:

This only recently became a problem with v7.28, evidently on both macOS and also Windows (as mentioned by @orlowski-ra)

[2020-08-28 15:38] DannyDainton commented on #7716
Hey @kit-teguh / @jonathan-bos

Is this still an issue with the latest versions of the app for you?

[2020-08-28 15:44] mccannt commented on #7652
@Syslog2905 Is this still an issue for you on the latest version of our application?
I have not been able to successfully recreate this issue.

[2020-08-28 15:48] DannyDainton commented on #8994
Hey @cassnapper

Unfortunately, on that information alone it's going to be super difficult to help you.

Could you drop us a message to help@postman.com from your registered account email and I'm sure that we can take a look at what's happening there and get you all sorted.

[2020-08-28 15:51] DannyDainton commented on #7560
I believe that this has been sorted now @stcalica - Would you be able to confirm, please?

[2020-08-28 15:57] mccannt commented on #7530
@Ostapp Just following up on this issue.
Are you still having this issue on the latest version of our application?

[2020-08-28 17:23] mccannt commented on #7056
This does not appear to be an issue any longer.
I was able to download the `Linux 64-bit` version when VPN'ed into Isreal with no issues.

If this happens to still be an issue, please reopen and we can investigate.

[2020-08-28 17:23] #7056 closed, assigned to kunagpal

[2020-08-28 17:48] moberemk commented on #4117
@pankajk07 FYI, I just changed indentation to two space; it seems it seems like it works as expected in the `body` pane when you hit beautify immediately when you change the settings but it doesn't seem to take effect in the response pane's `Pretty` view until after you reload the app. Doesn't seem to be a major issue, likely just some bad caching, but something to note--feature works great otherw

[2020-08-28 17:50] mccannt commented on #8035
@xk0der This issue should now be resolved. Can you confirm?

[2020-08-28 18:47] mccannt commented on #6920
@zypA13510 Are you still experiencing this issue?

[2020-08-28 20:25] SwapnilSoni1999 commented on #4009
2020 and here we go

[2020-08-28 21:27] ahcode0919 commented on #8995
@borbhuiyagulsan this can happen if the Postman agent isn't connecting properly. Is the PostmanAgent updated to the current version and running?

If it is and you're still seeing the problem could you respond with your browser and its version so we can try to replicate the issue.

[2020-08-28 22:51] mccannt commented on #7488
@wheezymustafa Can you try this again on the latest version of our app?
I just tried doing the steps you outlined above and its working fine for me. Both within the app and also with the cURL that's generated.

Please let us know.

[2020-08-28 22:55] mccannt commented on #8834
@srinivasskc Thanks for this. We are making improvements in the Runner and will follow up when we have more to share.

[2020-08-28 23:01] mccannt commented on #7942
@ISDemidoff We have made some recent changes around this. Can you try with the latest version of the application and let us know if it has been resolved for you?

[2020-08-28 23:05] stephan-tho commented on #8783
Hi @codenirvana,

below you find the requested information:

Proxy Setting: Custom
Proxy Type: BOTH
Any special character in username or password: Yes "_" character

Unfortunately the workaround (setting password without special characters) doesn't work for me, because my corporate environment requires special characters.

[2020-08-28 23:06] mccannt commented on #7206
Closing out this issue as there has been no response on additional information and it is not reproducible.
Please feel free to reopen if you can reproduce this and provide us with additional information.

[2020-08-28 23:06] #7206 closed, assigned to nobody

[2020-08-28 23:28] mccannt commented on #7842
Thanks, @nenkie for the follow-up. We are investigating this.

[2020-08-29 01:56] ssuio commented on #1744
+1

[2020-08-29 02:49] borbhuiyagulsan commented on #8995
<img width="113" alt="Screenshot 2020-08-29 at 8 17 12 AM" src="https://user-images.githubusercontent.com/42679215/91626840-1dc2da80-e9d0-11ea-9a76-ded9debb7c50.png">

@ahcode0919 are you speaking about above details ?
If no, then could you please say me how to check the version on mac?

[2020-08-29 02:51] borbhuiyagulsan commented on #8995
@ahcode0919 Are you speaking about below details ?
If no, then could you please say me how to check version in mac?
<img width="173" alt="Screenshot 2020-08-29 at 8 17 12 AM" src="https://user-images.githubusercontent.com/42679215/91626876-6f6b6500-e9d0-11ea-80e1-11da7007a6db.png">

[2020-08-29 06:58] DannyDainton commented on #8344
Hey @kevyaugusto

I'm going to close this issue out for now, if this is still something that you're having a problem with we can open it up again.

[2020-08-29 06:58] #8344 closed, assigned to vikiCoder

[2020-08-29 07:04] DannyDainton commented on #7975
Hey @aamir-ahmed

Do you know if this is still an issue on the latest version of the app?

[2020-08-29 07:08] DannyDainton commented on #8044
Hey @brunohadlich / @802856294

Is this something that you're both still having issues within the latest version of the app.

[2020-08-29 07:12] DannyDainton commented on #7338
Hey @JSSAggie

Is this still an issue for you in the latest version of the app - If not, could we look to close this issue out, please?

[2020-08-29 07:23] DannyDainton commented on #8037
Hey @Swapnil-getpostman

Is this still an issue for you in the latest version?

[2020-08-29 07:25] DannyDainton commented on #7251
As this user account has been deleted and an update has been pushed in May, I'm going to closed this issue.

[2020-08-29 07:25] #7251 closed, assigned to numaanashraf

[2020-08-29 07:36] DannyDainton commented on #3661
Hey @AlenaRogacheva

I'm going to close out this issue for now but we can open it up again if you/other users are facing the same issue.

[2020-08-29 07:36] #3661 closed, assigned to abhijitkane

[2020-08-29 07:41] DannyDainton commented on #8169
Hey @kepikoi

I'm going to close this issue as it appears to be fixed - If you're still having an issue with it, would you be able to provide the `.ico` file so that we can take a look for our side.

[2020-08-29 07:41] #8169 closed, assigned to nobody

[2020-08-29 09:07] DannyDainton commented on #5335
Hey @kartikjain26

Is this still an issue with the latest version?

[2020-08-29 09:11] DannyDainton commented on #5747
Closing this issue out, for now, we can open again if it's still an issue.

[2020-08-29 09:11] #5747 closed, assigned to nobody

[2020-08-29 09:12] DannyDainton commented on #5812
Closing this issue as there was no response for the user to say that this didn't fix the issue. We can open again if this is not the case.

[2020-08-29 09:12] #5812 closed, assigned to nobody

[2020-08-29 09:15] Stone624 commented on #4222
Bump.
It's September 2020 and this is a bug from February 2018.

I used to use Postman for my previous job and found it wonderful for development. Doing some heavy API calls and thought I'd return to this for the first time in 2 years. Looks like it's progressed a lot, But It's unfortunately that this is literally one of the first things I ran into upon downloading the application for MacOS Catali

[2020-08-29 11:02] sankalp0o commented on #6988
No, this wasn't picked up. @vvs11 can you take a look, please?

[2020-08-29 12:56] sberthu opened #8997 "Improve UX interface"
Please, avoid to replace/add/move buttons at the different states of treatments.
Is is not better to simply disabled or enabled buttons dependening of the state of the app?
Now, when your test is over, the "STOP RUN" button is replaced by a "Retry" button and if you push button too late, you restart the test and lost your test data :(
Thank you for that and have a good day!

[2020-08-29 14:12] Swapnil-getpostman commented on #8037
@DannyDainton it works as expected now.

[2020-08-29 14:29] DannyDainton commented on #8037
Thank you for confirming.

I'm going to close this one out. 🚀

[2020-08-29 14:29] #8037 closed, assigned to nobody

[2020-08-29 15:41] slomil opened #8998 "Cannot upload video with upload file"
I am not sure how to upload video, since don't know if video formats are supported by Postman, and can't find that information anywhere.
Thank you in each case:)

[2020-08-29 17:32] DannyDainton commented on #8998
Hey @slomil

It's difficult to get the full context of your question with that details that you have provided.

If you're talking about uploading files for a specific POST request - That can done via the `form-data` option. This all depends on how the endpoint needs the data though.

https://learning.postman.com/docs/sending-requests/requests/#form-data

We have a Postman community fourm that seem

[2020-08-29 17:33] #8998 closed, assigned to nobody

[2020-08-29 17:37] DannyDainton commented on #8997
Hey @sberthu

It's hard to tell from this if it's a feature request or you're raising an issue. 😁

Could you expand on the areas that you feel need attention and provide screenshots and an explanation for each one please.

Also, which version of app are you using? This would be really helpful as we are continously upgrading and improving the app for our users.

[2020-08-29 20:47] MichaelLiss commented on #6682
+1

[2020-08-29 21:06] mccannt commented on #8389
Just a quick update for everyone. We are still investigating these issues on a case by case basis.
If anything is still experiencing an issue, I would encourage you to download the latest version of the application from [HERE](https://www.postman.com/downloads/)

[2020-08-29 21:13] mccannt commented on #4361
Thanks for the updates, everyone. We are constantly making improvements in the app and I would advise you to keep up with the latest version to ensure you get these performance updates.

[2020-08-29 21:22] mccannt commented on #5681
@sanjanarao31 I see you are running an older version of the application.
Can you try using the latest version of the app and let us know if this is still an issue?

Please see https://github.com/postmanlabs/postman-app-support/issues/5681#issuecomment-601673575 as well for additional information.

[2020-08-29 21:25] mccannt commented on #4687
Sorry to hear this is happening @kangel5 We are always looking into ways to make the application more performant and stable.
Please keep on the most recent version to get these updates, in the meantime, we are going to keep focused on improving your experience.

[2020-08-29 21:29] mccannt commented on #6723
Thanks, everyone for keeping us up to date on when you experience these issues. We are grateful for this information as this is not a common error.

Please keep up on the latest version of the application as we are continuing to make improvements all the time.

[2020-08-29 21:42] sanjanarao31 commented on #5681
Ya man issue was resolved....thanks!

[2020-08-29 21:56] mccannt commented on #5681
That is great to hear @sanjanarao31
Closing this issue for now.

If anyone experiences this issue again and the troubleshooting outlined in this thread does not work. Please feel free to reopen with any details you can provide.

[2020-08-29 22:33] KlaePlay opened #8999 "Surface Book requests I close Postman before I detach screen"
**Describe the bug**
Using a Surface Book, Postman is one of the apps the device requests to be closed down before using the 2-in-1 feature of detaching the screen.

**To Reproduce**
Steps to reproduce the behaviour:
1. Launch Postman
2. Click On Surface Book Detach systray icon
3. See Request to close the following apps before detaching screen
4. See Postman listed in that request.

**Expected be

[2020-08-30 06:17] DannyDainton commented on #6330
I'm going to close this issue as it looks like there's no active work happening - We can open it back up if it's still an issue for the user.

[2020-08-30 06:17] #6330 closed, assigned to numaanashraf

[2020-08-30 06:29] DannyDainton commented on #8936
Hey @babenkovitaliy

Were you able to find another endpoint to recreate the issue or is this something you're still seeing in the latest version?

[2020-08-30 07:47] abhijitkane commented on #8940
@therockstorm A few updates:

In the OpenAPI<->Collection module, we're working on two fixes:

1. The Authorization header for simple auth types (API Key / Bearer Token) should also show up in the example request headers (and by extension, in the generated documentation). We're working to get this out in production within a week.
2. Better Collection<>Schema validation in the Postman app. This sho

[2020-08-30 09:46] Garry14 commented on #8789
Thank you..
1. Not at all, because I can see the height of scrollbar, It's whole-windows-vertical..
Furthermore I'm helped by the double scrollbar..

2.  How about making in Postman Setting Configuration (Full Vertical Scrollbar: On / Off)?

3. Thank you, i think that's enaugh

[2020-08-30 11:01] alimlong opened #9000 "Add body form data via pre-request scripts is not effective"
**Describe the bug**
Add body form data via pre-scriptis is not effective

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new POST request.
2. Add some x-www-form-urlencoded format data in body.
3. Edit pre-request script, add a extra data to pm.request.body.
4. Send request.
5. Check request in pm console.

**Expected behavior**
All body data will send by request.

**Screenshots**

[2020-08-30 11:11] sberthu commented on #8997
Hello
thank you for your reply
I use the  v7.31.1 version, which is actually the last.
Here is a picture which can help you to better understand (see bottom).
When you start a job with the RUN button, you have the  red button under
your mouse cursor which is the "STOP RUN" button. perfect.
But if your script has a bug, you can stop the script pushing the "Stop
Run" button, that's ok.
But if you tr

[2020-08-30 11:48] harrymaurya05 commented on #8860
Just a some particular request are failing. I tried some of troubleshoot but nothing.

[2020-08-30 15:12] pompan129 commented on #8977
This was happening to me as well. Maybe 30 seconds and then slower than molasses. And often crashes.I noticed the spinner in the upper right corner continuously rotates even when not making a request.
![Screen Shot 2020-08-30 at 8 09 12 AM](https://user-images.githubusercontent.com/10966169/91662582-44e4df00-ea98-11ea-8b7c-5edd2aaf0e86.png)

I cleared the cache as suggested above. It did not help.

[2020-08-30 16:19] codenirvana commented on #5918
@nils-work Network details are not available in the test script at the moment.

[2020-08-30 16:50] therockstorm commented on #8940
Great to hear about the fixes and thanks for keeping me updated, @abhijitkane!

We follow the [json:api](https://jsonapi.org/) spec for our API, which requires clients to send all requests with the `Content-Type: application/vnd.api+json` header. I realize most APIs don't follow this spec so the code samples may work for them, but for APIs that require specific Content-Types for endpoints, all cod

[2020-08-30 21:06] nandyc opened #9001 "Export/Import collection v2 and v2.1 seems broken"
Hi Team,

I had to bulk update few URL's in my collection. I exported it first using the recommended Collection v2.1 method. Made changes and tried to import it again. Couple of URL's were updated but somehow most of the URL's still showed previous old parameters.
I repeated this process number of times. I even uninstalled the application, cleared Temp cache, cleared AppData/Roaming/Postman folder

[2020-08-30 23:54] amirrh6 commented on #8991
I appreciate your quick response and thank you for considering my feature request.

Can wait to see this in coming releases :)

[2020-08-31 01:03] thetreythomas commented on #8989
@xk0der I'm working on getting more information. Just wanted to give an update.

Question though...

Do the Postman supported ciphers only work with TLS 1.2? From #8612, you talked about how the cipher suites were taken from many --> few for better security. Did anything happen with the SSL and TLS communication protocols? I wouldn't think this would be my issue, as my API only works on TLS 1.2, b

[2020-08-31 01:58] garywade commented on #8366
I've found that this no longer works at all in 7.31.1 (7.31.1).  What good is the duplicate command if you have to fill in everything?

[2020-08-31 02:00] garywade commented on #8366
Here's a screen recording of it being even worse with the latest update.
[Screen Recording 2020-08-30 at 6.58.30 PM.zip](https://github.com/postmanlabs/postman-app-support/files/5147951/Screen.Recording.2020-08-30.at.6.58.30.PM.zip)

[2020-08-31 02:07] zypA13510 commented on #6920
Yes, it still happens, and the `StartupWMClass` fix above still works.

[2020-08-31 02:08] laurie-dgit commented on #8518
Postman Version 7.31.1 (7.31.1)
Mac OS version 10.15.6

Attached a screen recording.

Note that `Edit → Select All` menu option doesn't seem to work at all, either. So I was quad-clicking to select all the text in the response panel.

[Screen Recording 2020-08-31 at 12.03.19.mov.zip](https://github.com/postmanlabs/postman-app-support/files/5147960/Screen.Recording.2020-08-31.at.12.03.19.mov.zip)

[2020-08-31 02:18] saiudayakella commented on #6587
@codenirvana  @saswatds @a85 - I'm experiencing this issue with `postman.setNextRequest` when I run the collection (in which order of requests is set) using newman. When I run the same collection using the runner, it works.
Here is the snapshot of the issue with newman:
![image](https://user-images.githubusercontent.com/19469293/91676546-8900de00-eb83-11ea-81ea-0f6de28bf4b4.png)

@andreagubellini

[2020-08-31 03:45] jerryoptus commented on #1983
it happens when run a long request

[2020-08-31 04:10] mig8447 commented on #5391
I'd also love to see this happen

[2020-08-31 05:10] akash-shrestha opened #9002 "The window app auto installs to C drive"
When i install the postman app in windows machine. It auto installs to my C drive

[2020-08-31 06:38] codenirvana commented on #9000
@alimlong Request body can't be mutated via pre-request script at the moment, please follow #4808 for updates on this feature request.

Closing as duplicate of #4808

[2020-08-31 06:38] #9000 closed, assigned to codenirvana

[2020-08-31 06:48] mohitranka commented on #8988
@damian-sketch It appears that the url is not being resolved from inside of your VPN appropriately, and I cannot access the URL from the public network. Can you share if you are facing the problem on a publicly accessible URL?

[2020-08-31 07:03] DannyDainton commented on #9002
Hey @akash-shrestha

In order for us to take a look at this, we will need more details about your environment and. the version of Postman.

How are are you installing the version on your machine, via our downloads option on the website, via the update option in the app, a 3rd party package manager, etc?

Could you also provide some screenshots of what you're currently seeing, please?

[2020-08-31 07:35] DannyDainton commented on #6233
Hey @jimm-porch

Is this something that you're still having an issue with on the latest version?

[2020-08-31 07:51] DannyDainton commented on #8997
Hey @sberthu

Not sure if it's because you replied via email but the image didn't get uploaded to Github, are you able to share that view a browser?

I'm not sure I follow you about losing the logs or the data from the previous collection runs as those are stored in the Run Results.

[2020-08-31 08:22] Rikysonic commented on #8783
Hi @codenirvana,

I can confirm that the problem is related to special characters, because if I remove the domain from username, and so the backslash (from DOMAIN\USERNAME to only USERNAME), then the 407 error disappears and everything works normally.

Here's my configuration:

Proxy Setting: Custom
Proxy Type: BOTH
Any special character in username or password:
- Username has a backslash (DOMAIN\

[2020-08-31 08:41] blackhumors opened #9003 "Suggestions on export"
When I want to export requests in a folder of the collection, it is currently not supported.Currently only requests in one collection can be exported. Can you support it?

[2020-08-31 09:23] QAnders commented on #8612
We too where stuck on this after we had to update our certificate (due to expiry). The server requires Client Authentication and we previously had PEM files for the private (no passphrase) and public key.
Desperate and trying everything I instead added the PFX as cert and the passphrase for it and then it worked!

I've double checked that the keys are the same in the PEM and the PFX but clearly so

[2020-08-31 10:57] cyrielle-hada commented on #7553
@DannyDainton last time this issue was reported via the Support seemed to be in January 2020.

The issue was resolved by [clearing the local data](https://support.getpostman.com/hc/en-us/articles/360025359014). Doesn't seem like the issue was reported since then.

[2020-08-31 11:20] kangel5 commented on #4687
Cheers @mccannt , if you need any further data let me to help trouble shoot.

[2020-08-31 11:27] DannyDainton commented on #7553
Thanks @cyrielle-hada - I'm going to close this one them and we can open it again if more issues are reported.

[2020-08-31 11:27] #7553 closed, assigned to kamalaknn

[2020-08-31 14:05] Mechanicalkeyboard commented on #6501
Unable to reproduce this in the current version of the app (7.31.1). Please feel free to reopen if this is still an issue.

[2020-08-31 15:20] jimm-porch commented on #6233
@DannyDainton thanks for following up. Unfortunately I don't really have any new information on this since I stopped using Postman for these kinds of batch processes after all that trouble back in 2019.  (I still use it on a daily basis for ad-hoc requests.)  Feel free to close the ticket if nobody else is experiencing this anymore.

[2020-08-31 15:26] nandyc commented on #9001
Hi Danny,

Thank you for your prompt response. I am using  v7.31.1 on a Windows 10 machine.
I will not be able to share a collection due to legal issues as it's client proprietary. But I can walk you through the steps, and please refer to attached screenshot for few details.

**My use case** :
I have a collection of API's that uses a {{base_url}}**/test/**"some_endpoint". And there were around 250

[2020-08-31 15:46] DannyDainton commented on #9001
In the image with number 2 on it, I can see that the `path` array still has the value 'test' - does it remove that from the final URL if that's also removed?

[2020-08-31 17:55] nandyc commented on #9001
Hi Danny,

No, it remains intact as I was particularly replacing only `'forward-slash'test'forward-slash'` string.

[2020-08-31 18:20] DannyDainton commented on #9001
I understand that but where you have replace that with the URL, there is a
path array below that with that value still there. As it's still there, the
URL will remain the same after the import.

I checked the same locally and saw both what you were seeing when removing
just from the URL and the desired behaviour when removing both values.

On Mon, 31 Aug 2020, 18:55 Nandan Chhabra, <notifications@

[2020-08-31 18:34] nandyc commented on #9001
Ohh, now I got your point !!!
If I need to update URL I need to remove it from path array too. That's some extra work :(. Am I correct.
And this was missing in v1 schema.

![image](https://user-images.githubusercontent.com/8313016/91754188-a0bd7e00-ebe6-11ea-9c37-efdb5f618bc5.png)

[2020-08-31 18:38] DannyDainton commented on #9001
I'm not sure what you're use case is and the need to replace those values away from the app. There is a global find and replace option in the app.

I wouldn't recommend using v1 for any export and it's not supported.

Can you confirm that removong both values gives you the desired outcome?

[2020-08-31 18:47] nandyc commented on #9001
Hi Danny,

Thanks I just found the 'find and replace' option in the app itself, didn't know about this earlier. I might use this going forward !
And yes, I tried removing both the values, i.e. from URL and from PATH array and it is now importing correctly.

[2020-08-31 18:59] DannyDainton commented on #9001
It's a great feature!! 🚀

As you're all sorted, I'm going to close this issue. 🏆

[2020-08-31 18:59] #9001 closed, assigned to vvs11, saswatds

[2020-08-31 20:14] SabriH10 commented on #8994
hey @cassnapper ,

Just wanted to follow up here. Were you able to reach out to help@postman.com for us to help investigate?

[2020-08-31 20:19] ahcode0919 commented on #7310
@KONEY Are you still seeing this issue in the latest version of postman (7.31.x)?

[2020-08-31 23:14] fcheadle commented on #5812
Hello hello! Sorry for being absent so long. I can confirm that I am no longer in the team. Thanks, guys!

[2020-08-31 23:24] mahirk opened #9004 "Open API Security Headers not respected in documentation and collection generation"
**Describe the bug**
Postman API to Collection generation does not support the global level security header, or the API specific security level headers as Auth strategies. The strategies are described here: https://swagger.io/docs/specification/authentication/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Browse"
2. Click on "Create new API" with "Open API 3.0"
3. Enter test names a

[2020-08-31 23:41] garywade commented on #8366
I did some more playing around, and once I closed all my tabs, doing a save when asked (I eventually had to do a force-close since some tabs wouldn't close otherwise; some were marked as DELETED), I was then able to do a duplicate on any request and get the actual data duplicated.  I guess the UI is not intuitive enough for my needs to see the tabs that were opened, and I had a lot, and the grayed

[2020-09-01 00:33] fernandokbs commented on #3518
I solved using the domain without http

[2020-09-01 01:10] xk0der commented on #8962
@AliciaLITP
Yes, the logs under `C:\Users\<username>\AppData\Roaming\Postman` is what we are looking at
The folder may also be opened from the Postman app by navigating to: `View > Developer > View Logs in ...`

Now that these folders are accessible for you, do try renaming both the Postman folders and then re-install the Postman app, that should fix it!
- `C:\Users\<user>\AppData\Local\Postman` a

[2020-09-01 01:23] AliciaLITP commented on #8962
Dear Amit,

I think I managed to figure out the problems. There were 2 issues. It should be fixed already as I was able to test run 1 time without any problem.

Thanks for your help. ☺

Thank you.

Regards,

Alicia Lee
Executive  l  Online Learning (OLE)

[cid:image003.jpg@01D68041.799425B0]

Singapore University of Social Sciences
463 Clementi Road, Singapore 599494
t +65 6240 8810  l  suss.edu.s

[2020-09-01 01:27] xk0der commented on #8962
That's great news! 🎉  Thanks for letting us know 🙌

Enjoy using Postman and feel free to reach out to us via https://www.postman.com/support if you face any issues!

[2020-09-01 01:27] #8962 closed, assigned to nobody

[2020-09-01 01:40] tominflux commented on #4581
I am having this issue currently. (Ver 7.31.10). Cookie is set when secure is set to false, but no cookie appears to be set when secure is set to true, even though in both cases the "Set-Cookie" header is present in the HTTP response.

[2020-09-01 03:38] borbhuiyagulsan commented on #8995
@ahcode0919  It's been 4 days there is no update from your end ?

[2020-09-01 04:47] xk0der commented on #8995
@borbhuiyagulsan I think @ahcode0919 meant to ask you about the Browser version, so if you are on Chrome, that would be `Chrome > About Google Chrome`
<img width="309" alt="Screen Shot 2020-09-01 at 4 44 02 PM" src="https://user-images.githubusercontent.com/21366/91795666-58e43880-ec72-11ea-99e6-d2cda4a5dc3e.png">

If you are using Safari by any chance, do try out other browsers to make sure it's

[2020-09-01 05:41] saumendrabehura commented on #2126
403Forbidden
28 ms
483 B
1234567

[2020-09-01 05:41] saumendrabehura commented on #2126
403Forbidden
28 ms
483 B
1234567

[2020-09-01 05:58] meetSuraj commented on #8994
@cassnapper Could you tell what is happening when you are trying to log back in?

[2020-09-01 05:58] sankalprao opened #9005 "Feature Request - Java RestAssured support in Code Snippet Generator"
# Feature Request - Java RestAssured
Feature request for Java RestAssured Library support while generating Code Snippets just like the existing Java-OKHttp and Java-Unirest.

[2020-09-01 06:06] peterlembke commented on #1066
This was not a problem until we started using Postman for real with teams. A test suite for each end point. Hundreds of end points for different APIs. We use a lot of variables and 10 environments. We are looking at tests. We also capture requests.

## Can
It is possible to create collections, and we can create folders in collections. Folders can be dragged and dropped within a collection. It is a

[2020-09-01 06:17] Vipisanan commented on #5803
that option is not available for version 6.7.6. so what I do?

[2020-09-01 06:20] mehmet-erdogdu opened #9006 "I wanna search something on Environment Quick Look page"
I am using a lot of variables. I need to search.

[2020-09-01 06:22] ramith opened #9007 "Ability Share/embed a collection via postman api"
**Is your feature request related to a problem? Please describe.**
We are working on a product which want to allow users to host their applications/apis.
And then allow users to create postman collections/requests run them against the application/api.
However, to make surrounding user experience seemless I was looking at the possibility of invoke postman-api to embed/share a collection. apparently

[2020-09-01 06:24] serhiikartashov commented on #8179
I'm interested in this feature! Would it be possible implement this in Postman as soon as possible? I would even pay some money if it speeds up :)

[2020-09-01 06:25] DannyDainton commented on #9006
Duplicate of #3561

[2020-09-01 06:25] #9006 closed, assigned to nobody

[2020-09-01 06:32] DannyDainton commented on #9003
Hey @blackhumors

Would you be able to expand on this information please and describe your usecase.

Who would be the people receiving the folder of requests?

The Collection is the exported unit and you can decide what's contained with that. The format and structure on that Collection file allows other to easier import that into thier own instance of Postman or run these in a CI/CD environment us

[2020-09-01 06:39] DannyDainton commented on #9007
Hey @ramith

Would you be able to elaborate more on what the current functionality of the `Run In Postman` button, isn't doing right now.

https://learning.postman.com/docs/publishing-your-api/run-in-postman/introduction-run-button/

Just trying to establish the full context of your feature request. 😁

[2020-09-01 06:45] blackhumors commented on #9003
I am a server-side developer. When passing the exported informations with front-end developers, different developers only need the requests in one folder. At this time, I can only delete the redundant ones manually.

[2020-09-01 08:46] DannyDainton commented on #4359
Is this still an issue that people are facing on the latest version?

[2020-09-01 08:48] DannyDainton commented on #7078
Hey @ortizd

Was this issue resolved for you in the latest version?

[2020-09-01 08:58] VShingala commented on #9004
@mahirk Thanks for reporting your issue, We were already in process of fixing issue. While converting from OpenAPI definition to collectionm current behaviour was to add header/query mentioned in `apiKey` security scheme to all requests. And PR mentioned above will add support to include it as Request Auth.

[2020-09-01 09:03] miklosgergely opened #9008 "Setting global variable value automatically from response"
**Is your feature request related to a problem? Please describe.**
Currently I can't channel some data from the response automatically to a global variable.

**Describe the solution you'd like**
It would be great to have something like be able to declare that the response for this call would be a json, and the value of the field xxx should be the new value of the global variable yyy.

**Describe a

[2020-09-01 09:26] DannyDainton commented on #6559
Closing this issue and it has been fixed in a later version.

[2020-09-01 09:26] #6559 closed, assigned to vkaegis

[2020-09-01 09:39] DannyDainton commented on #7731
@lansalot Is this still an issue with the latest version?

[2020-09-01 09:48] DannyDainton commented on #9008
Hey @miklosgergely

Are you able to expand on and explain your usecase in a bit more detail, please?

What's currently not working for you?

[2020-09-01 10:11] miklosgergely commented on #9008
Hi @DannyDainton

A typical use case is this: I'm sending out a post request, and the response is a json, that looks like this:

`{
    "session_id": "9f5c3efcda26e54498ca38e7ea966e8d"
}`

Now I can select the session_id value, right click on it, and in the Set: Globals menu item I can assign this value to the global variable sessionId, which I'm referencing in other calls. It would be nice though

[2020-09-01 10:13] aktur commented on #3466
+1 for this option. I've asked for this on a webinar and was directed to this thread. It shouldn't be too hard to get it done in the next sprint? Listen your customers, please ;)

[2020-09-01 10:16] CriggerMarg opened #9009 "Postman does not reflect in UI if file used in form-data no longer exists"
**Describe the bug**
When using form-data Postman does not detecting if file passed as argument no longer exits

**To Reproduce**
Steps to reproduce the behavior:
1. Open new query tab
2. Paste some actual endpoint which accepts multipart form-data
2. Open "body" param tab
3. Choose "form-data" option
4. Add parameter for file, name as you want it.
5. Select type of attachment as File and select f

[2020-09-01 10:20] DannyDainton commented on #9008
From the `Tests` tab for that request - By adding this, it would automatically store that value as the variable:

[code]

[2020-09-01 10:36] xk0der commented on #8035
Thanks, @mccannt! This has been resolved, hence closing this issue.

[2020-09-01 10:36] #8035 closed, assigned to vvs11

[2020-09-01 11:44] miklosgergely commented on #9008
Thank you @DannyDainton , it is working fine!

In my opinion you should consider renaming Tests, as it was not suggesting to me that I could place a command there to fill a global variable.

[2020-09-01 11:50] DannyDainton commented on #9008
The main purpose of that tab would be to add `Tests` to your request's response but it can also be used to do several other _post_ request sending actions like setting variables.

I'm going to close this issue out as this seems to be doing what you're feature request is referring too.

[2020-09-01 11:50] #9008 closed, assigned to nobody

[2020-09-01 11:55] Hayk-S commented on #7064
Closing this issue. Please feel free to reopen if there are any issues with this.

[2020-09-01 11:55] #7064 closed, assigned to nobody

[2020-09-01 13:27] pss-miracle commented on #8878
Hello, is there a workaround for this?

[2020-09-01 13:32] xak2000 commented on #6294
It would be very useful feature!

I have many collections with subfolders (sometimes several levels of depth) that contains multiple requests.

Every time I run Postman, all collections with subfolders are collapsed. But usually I have a tab or two with last executed requests from last used collections. With such "Focus button" or hotkey I will be able to click it or press it while tab with desire

[2020-09-01 13:35] Archimedyz commented on #8878
There's no workaround that I am aware of.

It seems like the setting is properly saved. It's just not properly reflected in the UI.

[2020-09-01 13:52] va-vessels commented on #4636
+1 for unique per collection; even better unique per collection and folder unless inherit is selected.

Thanks!

[2020-09-01 14:17] Allsimon commented on #2906
The workaround provided by @entimaniac seems OK for me. It doesn't remove every id though. Here is an updated version that removes all id in my collection:

[code]

[2020-09-01 14:23] arlemi commented on #5803
@Vipisanan I'd highly recommend updating Postman to the latest version. 🙂

[2020-09-01 15:28] atkawa7 commented on #5194
+1

[2020-09-01 16:10] mahirk commented on #9004
Thank you @VShingala. I noticed the prior issue closed but missed the PR, thank you for referencing them!

[2020-09-01 16:47] daarong opened #9010 "Non-admin Windows users unable to entirely uninstall Postman Agent"
**Describe the bug**
Postman Agent-win64-0.2.0-Setup.exe is not entirely uninstallable. After using standard Win10 uninstall process through Apps & Features, the application files are mostly removed (not entirely) but the Apps & Features still lists "Postman Agent-win64-0.2.0"

**To Reproduce**
Steps to reproduce the behavior:
1. Log into Win10 as non-admin user
2. Install Postman Agent-win64-0.2.

[2020-09-01 17:57] kublermdk commented on #8934
I'm having pretty much the same issue.
I've been using the Web version of Postman, but just submitted a support request as the web version isn't currently saving my local environment variables into anything long term. A refresh of the page clears them, making dealing with APIs which have authentication a nightmare.

[2020-09-01 19:56] danialgoodwin commented on #2906
To brainstorm a possible 'easier' fix... instead of automatically changing all IDs on import. Is it possible for Postman to know all IDs in all collections and only change imported IDs if they are the same? Is this something that would fix 95%+ of use cases?

[2020-09-01 20:10] vvs11 commented on #2906
We have this in our roadmap. Will share an update on this soon .

[2020-09-01 20:16] vvs11 commented on #4636
The fix for this is in progress. Will share an update on this soon

[2020-09-01 20:25] vvs11 commented on #8954
Thanks for the input @CeterusMike I will mark this as duplicate and let's keep the conversation going on the other issue

Duplicate of #8629

[2020-09-01 20:25] #8954 closed, assigned to vvs11

[2020-09-01 20:55] KONEY commented on #7310
Great!
What I see now:

WIN7 no issue
WIN10 still the issue

If it helps: fonts are still somehow custom, not the ones from OS settings.

[2020-09-01 21:38] xk0der commented on #8821
Hey, @hengjt1! was this fixed for you, or are you still facing this issue?

[2020-09-01 22:14] Smolations commented on #8179
+1 on this!

[2020-09-02 03:53] xiaomaolver opened #9011 "Our business process needs to add parameters dynamically before request"
Our business process needs to add parameters dynamically before request.
At present, there is no way to realize this function.

Here is the demo
![image](https://user-images.githubusercontent.com/47557223/91930117-9b5d5200-ed12-11ea-87ec-99b5741725dd.png)
![image](https://user-images.githubusercontent.com/47557223/91930244-ed9e7300-ed12-11ea-942d-f8a1256859d3.png)

[2020-09-02 05:15] DannyDainton commented on #9011
Hey @xiaomaolver

Request body can't be mutated via pre-request script at the moment, please follow #4808 for updates on this feature request.

Closing as duplicate of #4808

[2020-09-02 05:15] #9011 closed, assigned to nobody

[2020-09-02 07:21] borbhuiyagulsan commented on #8995
@xk0der   @ahcode0919

<img width="448" alt="Screenshot 2020-09-02 at 12 49 56 PM" src="https://user-images.githubusercontent.com/42679215/91943876-e24f4580-ed1a-11ea-9623-1396c17fa653.png">

[2020-09-02 07:36] ramith commented on #9007
Happy to explain!
Currently, if someone wants to make a collection available for `Run In Postman` she has to manually share/embed it postman GUI and then embed the javascript (or markdown). This workflow is intended (and is fine) for an end-user of a postman.
On the other hand, our product will allow its users to host an API. At some point, the user may choose to create postman collection(s) for h

[2020-09-02 08:28] PNat01 opened #9012 "unable to use self signed cert during mutual tls authentication. the cert is self signed with local with subaltname value being 127.0.0.1"
![image](https://user-images.githubusercontent.com/58553892/91957866-824aa600-ecfe-11ea-8447-866f4aec6819.png)

[2020-09-02 09:13] ramith opened #9013 "Ability to filter the response of get all collections api endpoint."
**Is your feature request related to a problem? Please describe.**
When I make a request to `https://api.getpostman.com/collections` it give me all the collection that user has access to.
However there seems noway I could filter the response by workspace.
This seems an omission given that when I creating a collection I could pass a `workspace id` as a query parameter.

**Describe the solution you'

[2020-09-02 09:54] PaperBag42 opened #9014 "Cannot update environments to have more than 500 variables using the Postman API"
**Describe the bug**
After struggling with #5827 for some time, I resorted to editing environments through the Postman API. Once my environment reached 500 variables, Attempting to add another resulted in an error saying an environment should not have more than 500 items. However, this limitation only exists in the API, and I can still add more variables using the native app.
Is this behavior is a

[2020-09-02 09:59] bytnar commented on #8040
+1

[2020-09-02 10:20] cranium44 commented on #8656
I have the same issue and i am using Postman 7.31.1, Ubuntu 20.04 LTS. I get the error when making POST requests to certain third party APIs.

[2020-09-02 10:36] DannyDainton commented on #7565
@VadimKlimov Is this something that you're using and having issues with?

[2020-09-02 10:43] DannyDainton commented on #6532
I'm not sure what the actual behaviour should be here - @ankitjaggi Is this something that you could help with? 🙏

[2020-09-02 10:50] VincentChen1212 opened #9015 "Change Variables Order is Very Slow"
When I Change the Order for Variables / Global Variable,
if items a little much, it is very very very slow.
Sometimes crash.

[2020-09-02 10:54] DannyDainton commented on #9015
Hey @VincentChen1212

Could you fill out the following template with as many details as you can please:

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Sc

[2020-09-02 10:58] DannyDainton commented on #9012
Hey @PNat01

Could you fill out the following template with as many details as you can please:

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots

[2020-09-02 11:02] ArjunSingh-PM commented on #6648
@chrisdeso Could you please confirm that the issue is resolved for you. Thanks!

[2020-09-02 11:02] #6648 closed, assigned to nobody

[2020-09-02 11:45] damian-sketch commented on #8988
hey @mohitranka @DannyDainton. I realized I have been using the wrong environment format the whole time.
![postman](https://user-images.githubusercontent.com/63429298/91977153-dd928d80-ed2a-11ea-9f54-8c186fe7e2d5.PNG)
This should work now.

[2020-09-02 11:47] mikej0hnst0n commented on #8656
Just to be clear on the solution which works for me, permanently. I have set SYSTEM environment variable NODE_OPTIONS to --max-http-header-size=16384. That's on Windows 10.
![nodeopt](https://user-images.githubusercontent.com/66929227/91977318-15aec600-ed55-11ea-9263-57d06559daa8.JPG)

[2020-09-02 11:51] damian-sketch commented on #8988
Hey @mohitranka @DannyDainton
![postedit](https://user-images.githubusercontent.com/63429298/91977469-64e00100-ed2b-11ea-9952-92683b96d812.PNG)
. The problem was actually caused by using the wrong environment name in the URL.

Replacing the current URL with http://codeserver-framework-qa.devfactory.com/api/v2/repositories should work.
Also, set these headers:
 Accept: application/json
Content-Type

[2020-09-02 11:52] PNat01 commented on #9012
i got it working. Sorry about the bother.

[2020-09-02 11:52] #9012 closed, assigned to nobody

[2020-09-02 11:53] DannyDainton commented on #8988
Are we good to close this out now @damian-sketch ?

[2020-09-02 11:53] damian-sketch commented on #8988
Yeah sure

[2020-09-02 11:53] #8988 closed, assigned to nobody

[2020-09-02 12:14] ctrl-plus-w commented on #5301
Hello, I am trying to install Postman version 7.31.1 and face this issue :

`
2020-09-02 13:32:47> Program: Starting Squirrel Updater: --install .
2020-09-02 13:32:47> Program: Starting install, writing to C:\Users\lukas\AppData\Local\SquirrelTemp
2020-09-02 13:32:47> Program: About to install to: C:\Users\lukas\AppData\Local\PostmanCanary
2020-09-02 13:32:47> CheckForUpdateImpl: Couldn't write ou

[2020-09-02 13:13] jwong-konrad commented on #7294
This actually helps TREMENDOUSLY, thank you for the suggestion. Even Postman Canary is still a resource hog, I don't know how **_Chrome_** is reigning in Postman's _resource consumption_ but I'll take the win.

[2020-09-02 13:16] mccannt commented on #6920
Thanks for letting us know @zypA13510
We will investigate this issue further and let you know if there is anything else we need.

[2020-09-02 13:28] hengjt1 commented on #8821
Hello @xk0der

Unfortunately this issues persist and I really don't know what to do.
Nowadays I'm using my personal Mac (there I can use the Postman normally), in my Dell (work laptop) I'm using the Chrome Postman extension :/ .

[2020-09-02 13:34] tonydamata commented on #4255
I just ran into this issue as well (Its why I joined).  I understand the issue, but its frustrating as we built a lot of our tests to user pre-request variables to make quick changes to large requests.  Not having the ability to move those variables into a curl statement is going to be painful

[2020-09-02 13:48] FCulig opened #9016 "Text overflowing and circles becoming ellipses in collection runner run results window"
**Describe the bug**
In the collection runner window under run results, response code text overflows to other tests, and circles become ellipses when the window is narrowed. (See attached images for better understanding)
![text overflow in run results in collection runner - smaller window](https://user-images.githubusercontent.com/36075622/91991571-5564b600-ed33-11ea-8129-2c6100485d64.png)
![text

[2020-09-02 14:10] paulsmith-717 commented on #6351
+1

[2020-09-02 15:00] coditva commented on #9016
Hey @FCulig, thanks for writing in!
If you're bothered by this (I was too), then you may like the changes that we're doing to Runner. You can try these out in [Postman Canary](https://www.postman.com/downloads/canary/). We have integrated the whole Runner window inside a tab and made significant updates to the UI.

![image](https://user-images.githubusercontent.com/8445768/92000105-c4a1d080-ed5a-1

[2020-09-02 15:16] steven-gruverman opened #9017 "Ability to debug pre-request and test scripts"
**Describe the solution you'd like**
I'd like to be able to debug Javascript in the Postman as you can in browser Dev Tools: set and run to breakpoints, step through code one line at time, inspect variables etc.

[2020-09-02 15:30] SabriH10 commented on #9003
Hi @blackhumors ,

Instead of deleting the redundant ones manually, you could create a new collection, then create a duplicate of the sub-folder you want to export, drop it into the newly created collection and export that collection instead.

[2020-09-02 15:48] ellioh-thoto commented on #8040
+1

[2020-09-02 15:50] ggrant-gps commented on #8652
I second this and would also like a keyboard shortcut for the environment quick look

[2020-09-02 16:03] nagendra-UTM commented on #6723
Any update on this issue. I am getting the same error on xfce 20.04

[2020-09-02 16:41] svarshney2311 opened #9018 "Can shared public link be sceured"
Hi,

I have shared my collection using 'GetPublicLink' like below. Can this be secured within our Teammates only? I dont want this link to be for public use as it has some sensitive data.

https://www.getpostman.com/collections/XXXXXXXXXXX.

Thanks,
Shailendra

[2020-09-02 17:03] DannyDainton commented on #9018
You can share collections with other team members and work collaboratively on them, right from the Team Workspace.

https://learning.postman.com/docs/collaborating-in-postman/collaboration-intro/

If you did want to use a link, the best, easiest and most secure way to share you collections would be to use the Postman API with an API Key.

https://documenter.getpostman.com/view/631643/JsLs/

This g

[2020-09-02 17:22] VadimKlimov commented on #7565
@DannyDainton, yes, the issue still remains. The issue was identified accidentally, when one of callers was tested against the Postman Echo service and the header Content-Type was omitted (although in normal circumstances, callers would normally set the content type header).

[2020-09-02 17:53] mccannt commented on #6723
@nagendra-UTM Sorry to hear that you are experiencing this.
Have you tried the steps outlined in this support document? - https://support.postman.com/hc/en-us/articles/360025359014

We are still investigating this issue but can be challenging as its not easily reproducible.
Please let us know if this did not help.

[2020-09-02 18:23] ahcode0919 commented on #7310
@KONEY Thank you for the update. Will look into this further.

[2020-09-02 19:22] chrisdeso commented on #7165
@DannyDainton Nope – closing it out, thanks!

[2020-09-02 19:22] #7165 closed, assigned to abhijitkane

[2020-09-02 19:35] mccannt commented on #8123
@B4st13n @pcbl @Yawnder @PiotrCzajkowski Can you confirm this is still an issue on the latest version of the app?

[2020-09-02 20:25] svarshney2311 commented on #9018
Hi,
 I have created a API-key and stored in collection without passing actual value, but still I am able to execute the API without 401 error.Please suggest me what I am missing here. I did not save API key in any environment varaiable or anywhere

![image](https://user-images.githubusercontent.com/66395814/92032956-e4c09800-ed38-11ea-844b-e9757a1f39da.png)

![image](https://user-images.githubuser

[2020-09-02 20:37] DannyDainton commented on #9018
I'm not really sure what you're trying to call with the URL you have in that image.

If you got the Postman API Key from https://go.postman.co/settings/me/api-keys you would be able to use it with _https://api.getpostman.com/collections_ for example.

As this is not a functional issue with the app, I'm going to close this out and suggest you raise this question over in the community fourm.

https:

[2020-09-02 20:37] #9018 closed, assigned to nobody

[2020-09-02 20:50] svarshney2311 commented on #9018
Hi,
I got the API key  and added to header with avariable, but still I am not getting unauthorized errror as I did not save api key anywhere in the environment.

Url -  I passed url in prereq.so this is fine.

[2020-09-02 23:34] mccannt commented on #8598
@birnbuazn We are still digging into this to determine the underlying issue that is causing this. We will keep you informed on a resolution.

[2020-09-02 23:41] mccannt commented on #8656
We are still looking into this, I believe we the resolution identified and it shouldn't be too much longer before we have this resolved for everyone.

[2020-09-02 23:44] mccannt commented on #5814
This should now be resolved. Closing this out as there are no current issues confirmed.
Please reopen if this is still an issue for any users with the latest version of the app.

[2020-09-02 23:44] #5814 closed, assigned to ankitjaggi, Ghusar

[2020-09-02 23:47] mccannt commented on #4375
Great, thanks for the follow-up.
I am going to close out this issue for the time being. If this is still an issue for anyone on the most recent version, please feel free to reopen with additional details.

[2020-09-02 23:47] #4375 closed, assigned to numaanashraf

[2020-09-02 23:56] mccannt commented on #4919
We have made some performance improvements in the past few months.
Can anyone having issues please try the most recent version of the application and let us know if they are still seeing an issue?

[2020-09-03 02:57] xiaomaolver commented on #4808
Many developers want this feature

Me too.

[2020-09-03 03:14] alimlong commented on #4808
need to modify request body via pre-request script

[2020-09-03 04:59] rakshitjain25 opened #9019 "Multiple Selection and Movement of Http Requests within a Folder in a Collection"
Problem Statement : Need to Move Http Requets to a new Folder from Multiple Existing Folders within a Collection.

For example, I have a Collection named C1 having 3 Folders named F1,F2 and F3. With Each folder having 5 Http requests each..

Now, I have a requirement to collate the selected Http Requests into a New Folder named F4 within C1. Lets 2 requests from F1,3 Requests from F2 and 1 Request

[2020-09-03 05:40] abhijitkane commented on #8043
@Quigley-Brendan We're closing this due to inactivity. Feel free to open a fresh issue if you continue facing this problem.

[2020-09-03 05:40] #8043 closed, assigned to nobody

[2020-09-03 05:45] DannyDainton commented on #9019
Duplicate of #1066

[2020-09-03 05:46] #9019 closed, assigned to nobody

[2020-09-03 07:22] lbenedetto commented on #2906
Will you also fix the id changing when I export from a fork of the main collection?
We export our fork and then create a pull request, and the diff is really annoying to read.

[2020-09-03 08:33] ea-smith opened #9020 "Raw text when saved as request message body has new line characters ("\n") appended after each carriage return"
With earlier versions of Postman the formatting of body text was not changed on saving a request.
With the latest version when message body to be sent contains text across multiple rows then Postman reformats the text to append "\n" new line characters after all carriage returns ("\r" characters).

For context these are HL7 messages used within the healthcare industry which cannot accept new line

[2020-09-03 09:27] avraham0 opened #9021 "Interceptor for Firefox"
Are you planning to create an Interceptor Firefox add-on anytime soon?

[2020-09-03 10:35] cassnapper commented on #8994
This is all good now Suraj thanks

From: meetSuraj <notifications@github.com>
Sent: 01 September 2020 06:58
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Bartlett, Darren C <darren.bartlett@cgi.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/postman-app-support] Account timed out and cannot get back in (#8994)

EXTERNAL SENDER: Do not click a

[2020-09-03 10:38] #8994 closed, assigned to nobody

[2020-09-03 11:10] andreypolyak commented on #4117
@pankajk07 I set indentation count to 2:
![image](https://user-images.githubusercontent.com/7446762/92107789-07ad8380-edef-11ea-8823-288fd6af0428.png)
But for some reason when I try to beautify XML I get 4 spaces.
Before beautifying:
![image](https://user-images.githubusercontent.com/7446762/92107901-2f9ce700-edef-11ea-9a80-1435a4de3916.png)
After:
![image](https://user-images.githubusercontent.co

[2020-09-03 11:26] DannyDainton commented on #9020
Hey @ea-smith,

I've been able to recreate this issue locally and I'm going to raise a bug internally so that the team can take a look.

We'll update this issue with any new information.

As a workaround, you could add something like this to the `Pre-request Script`:

[code]

And then add this as the request body:

[code]

[2020-09-03 11:41] Dastano opened #9022 "Sync History with Computers?"
**Describe the bug**
Logged into Postman on fresh formated Computer, but sadly the History is only loaded partially, the main history, stays only available on the WEbsite Browse -> History

**To Reproduce**
Login to new Account and wait for History to be synced.

**Expected behavior**
Sync my whole history to the Desktop app or make it possible to export it.

**App information (please complete the

[2020-09-03 12:04] DannyDainton commented on #9022
Hey @Dastano

Would you be able to show us an example of this, please?

Are you seeing the same thing in the web version of the app -  https://go.postman.co/build ?

[2020-09-03 12:22] zoranbgd commented on #2906
@lbenedetto Isn't that the whole purpose of ID-less export "feature"?

[2020-09-03 12:33] lbenedetto commented on #2906
@zoranbgd Yes, just wasn't sure if that was the solution you were going with. A possible solution that wouldn't work for me would be to make the IDs consistent across exports, but perhaps not across forks.

[2020-09-03 12:47] lbenedetto commented on #2906
Export A to file a.json. Fork A to make B. Export B to file a.json.

All the IDs are now different.

At no point do I import.

[2020-09-03 12:55] ManiacDC commented on #2906
I guess I was more saying it's possibly the fork is doing an implicit import. Regardless, fork is changing IDs.

[2020-09-03 13:07] svarshney2311 opened #9023 "Tests for empty response body"
Hi ,
I have below test:

[code]

for some situation we get valid response but in some situation, we get empty response . So I wanted to test "name" value should not be null in the response. When the response is Not null, in this case my tests Passed. But when get empty response, in this scenario, I am getting below error:

This is not a ideal test report. Instaed of this I wanted someting like tha

[2020-09-03 13:23] DannyDainton commented on #9023
Hey @svarshney2311

This seems like more of a question for the Postman community, could you raise this one on there, please?

https://community.postman.com

I'm going to close out this one and see you over there 😄

[2020-09-03 13:23] #9023 closed, assigned to nobody

[2020-09-03 13:45] pankajk07 commented on #4117
@andreypolyak Thanks for reporting this issue. We are able to reproduce it and tracking this internally.

[2020-09-03 13:55] pankajk07 opened #9024 "Formatting of XML in the text editor not respecting the indentation settings set"
**Describe the bug**
The beautifying process for XML is not respecting the General indentation settings but instead adding 4 space every time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to General Settings
2. Set Indentation Count to 2
3. Switch to Raw Body Editor and change the type to XML
4. Add some XML content
5. Click on Beautify button

**Expected behavior**
The XML should be f

[2020-09-03 14:12] DannyDainton commented on #8279
Hey @bensullivan

I'm going to close this one out, if it's still an issue, we can open in back up and take a look at any new information you might have.

[2020-09-03 14:12] #8279 closed, assigned to ankit-m, preethammavin

[2020-09-03 14:12] pankajk07 commented on #5461
@joneldiablo We did few changes in the code editor and now the duplicate keys will no longer be reported as an error but will be reported as a warning. Moreover, the complete document will be reviewed and the errors(if any) will be reported.

[2020-09-03 15:38] sahilrajput03 commented on #6906
Great!!!!!!!!!!
I have been thinking from past 2-3 months that postman isn't supported by windows 8.1, its just amazing that you guys roll out the canary versions, now it works just amazing!
Earlied my problem was on loading postman, a ballon used to get up in system tray, saying Graphical Driver stopped responding, etc., like that!! I installed graphics card driver but it didn't help, now I just

[2020-09-03 15:38] sahilrajput03 commented on #6906
Cool.

[2020-09-03 15:40] sahilrajput03 commented on #6906
Only canary vesion seems to work on my maching with windows 8.1, now I'm happy though.
Just to let you guys know, stable version isn't bug proof, it was just saying graphics card stooped responding in system tray when I tried to install last month.
Thanks.

[2020-09-03 15:41] sahilrajput03 commented on #5433
Installing canary version seems to work good for me.
Thanks.

[2020-09-03 17:55] mccannt commented on #6761
Closing this issue until we get further information.
Please feel free to reopen if this is an issue still, with the required information.

[2020-09-03 17:55] #6761 closed, assigned to kamalaknn

[2020-09-03 18:09] kevinswiber commented on #9017
Hi @steven-gruverman,

This is a great request!  Today, outside of the Postman application, it is possible to debug Postman scripts using newman and a little Node.js debug magic.  I put together a repo demonstrating how: https://github.com/kevinswiber/newman-debug.  If you try this approach and have questions, feel free to file an issue associated with that repo.

Thanks!

[2020-09-03 18:48] steven-gruverman commented on #9017
Thanks, sounds interesting. I will check it out.

Steve Gruverman | Application Developer II
IDEXX Laboratories, Inc. | Steven-Gruverman@idexx.com<mailto:Steven-Gruverman@idexx.com>
Phone: + 1 207 556 6981
Mobile: + 1 207 798 2893

From: Kevin Swiber <notifications@github.com>
Sent: Thursday, September 3, 2020 2:10 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc:

[2020-09-03 18:53] mccannt commented on #8934
Closing this out as we are tracking this issue on an existing thread -https://github.com/postmanlabs/postman-app-support/issues/4361

[2020-09-03 18:53] #8934 closed, assigned to nobody

[2020-09-03 18:57] mccannt commented on #4719
Closing out this issue.
If you are still experiencing this problem, please feel free to reach out or reopen.

[2020-09-03 18:57] #4719 closed, assigned to nobody

[2020-09-03 19:02] mccannt commented on #4881
@Krgopal We have pushed some recent performance upgrades since this issue was logged.
Can you try this with the most recent version of the application and let us know if this is still impacting you?

[2020-09-03 19:06] mccannt commented on #5008
Closing this issue for the time being as there is no confirmation that this is still an issue.
Please feel free to reopen if this continues to happen with the most recent version of the application.

[2020-09-03 19:06] #5008 closed, assigned to numaanashraf

[2020-09-03 19:08] mccannt commented on #5122
We have pushed Electron changes in the app over the past few months that should help with this issue.
No confirmation on this specific issue. Closing this for now but feel free to open if this continues to be a problem.

[2020-09-03 19:08] #5122 closed, assigned to harryi3t, twitharshil

[2020-09-03 19:15] mccannt commented on #5830
@lhyla Apologies for the late response. Are you still facing this issue?
Our teams have not been able to replicate this, but we may be missing something as part of this.

That being said we have made many improvements in the application since the time of this issue. Please try it on the most recent version and let us know.

[2020-09-03 19:21] mccannt commented on #6005
@m3dbedb We have made improvements to the application since the time this was logged.
Can you confirm that this is still an issue for you on the most recent version of the application?

[2020-09-03 19:25] mccannt commented on #6015
Thanks for letting us know @Andrewsuares and we are sorry for your experience.
We are always looking at improving the performance of the application so please keep updated to the most recent version.

We will keep you updated as things progress.

[2020-09-03 19:26] mccannt commented on #6339
@JP-from-Postman Can this be closed out?

[2020-09-03 19:27] mccannt commented on #6297
Closing out this issue for now.
If anyone is still experiencing this issue, please let us know.

[2020-09-03 19:27] #6297 closed, assigned to nobody

[2020-09-03 19:56] rohanahata commented on #5692
This issue keeps coming back.

[2020-09-03 20:25] rohanahata opened #9025 "[CONFLICT] appears on original tab if a duplicated tab has changes"
**Describe the bug**
[CONFLICT] appears on original tab if a duplicated tab has changes

**To Reproduce**
Steps to reproduce the behavior:
1. Duplicate a tab
2. Try to change the name of the new tab
3. [CONFLICT] appears in the first tab.
4. See error

**Expected behavior**
Expect to be able to save duplicated tabs independently without links to the original.

**App information (please complete th

[2020-09-03 20:33] DannyDainton commented on #9025
Hey @rohanahata

Just some context about how duplicating a tab works within the app.

You might need to duplicate the request, from the Collection sidebar to achieve what you want.

https://learning.postman.com/docs/getting-started/navigating-postman/#tabs