[2020-05-29 20:48] #7957 closed, assigned to saswatds

[2020-05-29 20:50] codenirvana commented on #7692
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:50] #7692 closed, assigned to vikiCoder

[2020-05-29 20:51] codenirvana commented on #7651
Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 20:51] #7651 closed, assigned to vikiCoder

[2020-05-29 20:52] codenirvana commented on #7502
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-29 22:10] vunguyen18 commented on #8550
thank you!!! This fixed the bug and now my code snippets are back to normal

[2020-05-30 08:51] manuelwaldner commented on #5302
I still got problems with it. The menu bar itself is now dark, but the window bar is still white, even though windows 10 (Version 2004) is set to dark mode. As you can see on the picture, on the left there is Canary, on the right the stable version and in the mit bottom there is the Windows Explorer in dark mode.

![image](https://user-images.githubusercontent.com/43695452/83324141-6d73f780-a263-1

[2020-05-30 09:23] shahidcodes commented on #4359
This worked for

[2020-05-30 09:52] godfrzero commented on #4716
Example response headers are visible in both the public & private documentation now:

<img width="894" alt="Screenshot 2020-05-30 at 3 21 42 PM" src="https://user-images.githubusercontent.com/2700229/83325341-46302100-a289-11ea-9c08-3670aef54282.png">

[2020-05-30 09:52] #4716 closed, assigned to sankalp0o, Raja-Simha

[2020-05-30 11:57] sanekyy commented on #1687
same problem

[2020-05-30 14:43] mt4work commented on #2861
Yes i still see the issue in the runner on 7.25

[2020-05-30 15:15] someshkoli commented on #7817
@prsolucoes When we append \ at the end of line, wouldn't that alter the actual body of the request ? like i tested out what you were trying to explain and got this.
![image](https://user-images.githubusercontent.com/41543649/83331912-2cf19980-a2b6-11ea-9c23-0258862b8f4b.png)
Checkout the data property of the response, it has extra \\. Let me know if my request is wrong in anyway

[2020-05-30 22:33] a85 commented on #8021
@KristianAtVsp @oheydrew Just thought I'd drop a note to thank you for helping us improve this functionality. Comments like yours help us move things super fast.

[2020-05-31 00:15] mjwaddell1 commented on #8557
Our vendor has updated their server to remove the extra data. I cannot reproduce now. Thanks for your help.

[2020-05-31 00:15] #8557 closed, assigned to codenirvana

[2020-05-31 05:56] freerider7777 commented on #6351
New version is also without this feature... How to Save to file from Postman Console?

[2020-05-31 15:23] ZAJDAN opened #8565 "TLS v1.0 and v1.1 are not supported on Postman v7.25.1"
Until yesterday all worked and after today update to Postman v7.25.1 ...I am not able send login via JSON.
[code]

[2020-05-31 15:59] codenirvana commented on #8565
@ZAJDAN Thanks for reporting this issue.
With Postman v7.25.1, we upgraded our underlying SSL library which might be the cause of this.

At first glance, it looks like you are using an older version of TLS protocol which is not supported by the SSL library.

But to help us debug this issue better could you send this request using curl using `-v` flag and share the verbose info (remove the sensitiv

[2020-05-31 18:21] ZAJDAN commented on #8565
curl -v https://myserver.com/Login ..returns:
` TCP_NODELAY set
 Connected to 192.168.21.128 (192.168.21.128) port 41000 (#0)
 ALPN, offering h2
 ALPN, offering http/1.1
 TLSv1.2 (OUT), TLS handshake, Client hello (1):
 TLSv1.2 (IN), TLS handshake, Server hello (2):
 TLSv1.0 (IN), TLS handshake, Certificate (11):
 TLSv1.0 (OUT), TLS alert, Server hello (2):
 SSL certificate problem: self signed ce

[2020-06-01 00:48] likeer opened #8566 "webservice interface return xml is code statemented"
<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <soapenv:Body>
        <ns1:submitDataTResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://control.kernel.midplat.lis.sinosoft.com">

[2020-06-01 02:05] archfish commented on #6354
@bernardodesousa  Sorry to hear that i have no idea.

[2020-06-01 05:17] ArjunSingh-PM commented on #6924
Hi @TinaBasinger, please reopen this ticket in case you are still experiencing this issue. We tested setting a distribution group for monitoring failure notifications and were successfully notified for the same.

[2020-06-01 05:17] #6924 closed, assigned to godfrzero, charlie-postman

[2020-06-01 06:34] godfrzero commented on #8199
Closing this ticket for now, will reopen if we get additional information or new reports.

[2020-06-01 06:34] #8199 closed, assigned to Raja-Simha

[2020-06-01 06:56] jiangdai27 opened #8568 "Cannot open postman with WIN10"
**Describe the bug**
i cannot open postman even if i reinstalled it. (version 7.25.0)
it still pop-up same error

main error "Main~AppEvents - Shared window boot failed",{"adapterMethodName":"find",
"cause":{"adapterMethodName":"find","message":"Malformed error from adapter: Should always be an Error instance, but instead, got:\n```\n
[OpenFailedError: UpgradeError Dexie specification of currently

[2020-06-01 07:02] ankurdengla commented on #8568
Hey @jiangdai27 !

Inconsistencies in the underlying storage of the app can sometimes prevent the app from launching. You can unblock yourself by following this troubleshooting guide - https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

We are already tracking this issue here - #6723

Closing this as a duplicate.

[2020-06-01 07:02] #8568 closed, assigned to nobody

[2020-06-01 08:14] atlanteh opened #8569 "Referenced global variables not interpolated in prerequest-scripts"
**Describe the bug**
`pm.environment.get` doesn't resolve referenced global variables in pre-request scripts

**To Reproduce**
Steps to reproduce the behavior:
1. Create a global variable admin=myadmin
2. Create an env variable called user={{admin}}
3. Create a request and set a prerequest script as `console.log(pm.environment.get('user')`
4. Run request and open postman console

**Expected behavi

[2020-06-01 08:35] atlanteh commented on #8569
Actually just found the solution in this comment: https://github.com/postmanlabs/postman-app-support/issues/2922#issuecomment-527101679

[2020-06-01 08:35] #8569 closed, assigned to nobody

[2020-06-01 09:08] programwindow commented on #3344
I am able to resolve this issues.   Issue was in the redirect url that i had defined in the 'registered App on Azure portal".

Aftrer changing redirect url to it to "https://:localhost"  ,   I did not get the javascript  error again.

Note
- My app is for "desktop and mobile client applications"
- My app is Not for Web Apps

[2020-06-01 09:47] 1trackprojects1 commented on #3013
Exactly

[2020-06-01 10:23] harryi3t commented on #8565
@ZAJDAN
Postman v7.25.1 doesn’t support TLS v1.0 and v1.1. This is a regression and is being addressed in an upcoming patch release v7.25.2. Until this patch release is available, please use the manual workaround detailed below to restore support for TLS v1.0 and v1.1 in Postman v7.25.1

The workaround includes passing an additional environment variable NODE_OPTIONS=--tls-min-v1.0 to Postman while

[2020-06-01 11:03] starkast1c commented on #4009
+1

[2020-06-01 12:28] dustytrinkets commented on #6969
I logged out and in again and it stopped happening

[2020-06-01 14:28] HarisVugdalic opened #8570 "Ability to disable search page indexing of Postman documentation."
**Is your feature request related to a problem? Please describe.**
We currently host our public API documentation via a custom URL using Postman.

**Describe the solution you'd like**
We would like the ability to edit the /robots.txt file to disable crawling.

**Describe alternatives you've considered**
An ability to disable indexing via the site administration panel.

**Additional context**

[2020-06-01 15:17] manoelagonzaga commented on #2906
Any updates about this issue? The GUID changes is difficulting a lot the evaluation of real tests changes.

[2020-06-01 16:31] daceves commented on #8269
I'm having some slowness with PostMan as well. I was wondering if there was a way to enable a debug mode or where can I find logging as to what PostMan is doing. At times I suspect its not PostMan but rather my connection. However, there are enough instances where its clearly PostMan "hanging" and not responding.

Here are specifically the type of things I would love to get some help with finding:

[2020-06-01 17:00] GioPan04 commented on #4009
This comment is useless but +1

[2020-06-01 17:25] kamalaknn commented on #8566
@likeer Could you give us more information about the issue you are facing?

Could you describe more what you mean by `code statemented` and what you would expect as the right behavior?

If you could attach screenshots of the issue you are seeing, that would be useful too.

[2020-06-01 18:02] dwiyatci commented on #8322
@hungdao-testing @vvs11 I suppose the "Beautify"/"Prettify" feature for GraphQL query would be a great addition to Postman. I'd +:100: that! :)

[2020-06-01 18:06] sivcan opened #8571 "Code-gen in documenter becomes illegible with darker background colors"
**Describe the bug**
The code generation feature becomes illegible when a darker background color has been selected for the documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://documenter.getpostman.com/view/3407886/RWgp1fB5
2. Click on the nut icon to open the code-gen feature.

**Expected behavior**
The text should be legible and the font color should adapt to the b

[2020-06-01 18:09] ryekerjh commented on #4581
I also am having this issue again. I have latest (Version 7.25.0). The cookie is returned from the server, but then it doesn't get sent to the server upon subsequent requests.

[2020-06-01 18:12] JulianChow94 commented on #5302
@manuelwaldner looks like thats just a problem with your Windows OS Color config as I am unable to reproduce on 2004 with Windows dark mode.

![image](https://user-images.githubusercontent.com/5642774/83439899-fa5cb380-a411-11ea-9bbc-7fff31a22cbb.png)

[2020-06-01 20:52] SabriH10 commented on #8530
Duplicate of #6562

[2020-06-01 20:56] SabriH10 commented on #8530
@KristianAtVsp I believe there's an existing request for this feature. In the meantime, a colleague built this tool that _may_ alleviate some of the hassle. It can be found here: https://github.com/kevinswiber/postmanctl, and there's a script that allows you to search iterate all environments with a key: https://github.com/kevinswiber/postmanctl/blob/master/examples/iterate-over-environments/find-

[2020-06-02 00:41] streamlinenz opened #8572 "301 redirect doesn't respect HTTP method"
**Describe the bug**
301 redirect doesn't respect HTTP method

**To Reproduce**
Create a new method that will trigger server-side 301 response.
If the original config is anything other than GET the call will fail as Postmane will call the new redirected URL using GET methos

**Expected behavior**
301 redirection should respect original method

**Screenshots**
Output from CloudWatch for affected ca

[2020-06-02 01:09] xk0der commented on #8572
Hey @damianmk

I believe this is intentional!

Quoting from: https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections

I tested a redirect using 307 and 308 response code from a test server and in both cases, the HTTP method was preserved.

I will nevertheless leave this open for the Postman engineers to qualify.

[2020-06-02 01:30] donguseo commented on #2851
+1

[2020-06-02 02:19] kikyou93 commented on #6722
+1 for this

[2020-06-02 06:27] codenirvana commented on #8572
@damianmk I hope enabling "Follow original HTTP Method" request setting will fix your issue.

<img width="910" alt="Screenshot 2020-06-02 at 11 55 36 AM" src="https://user-images.githubusercontent.com/4865836/83487099-099e3880-a4c8-11ea-88d7-a0e9cdf9c9fa.png">

[2020-06-02 08:30] arlemi commented on #8269
@daceves Here's info on where to find the Postman logs: https://support.getpostman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-

Can you check if you have a lot of history saved in the app? (in the `History` sidebar)

[2020-06-02 08:36] Ratatinator97 opened #8573 "Snap Postman Custom Proxy not working"
**Describe the bug**
Postman Snap : Porxy setting not working.

When I launch Postman with : `postman --proxy-server=127.0.0.1:3128` it works perfectly but when I configure the custom proxy inside postman it does not !

**To Reproduce**
Steps to reproduce the behavior:
1. Install snap on ubuntu 18.04
2. Install Postman via snap
3. launch postman
4. Go to params > proxy settings > Custom proxy > ad

[2020-06-02 08:42] codenirvana commented on #8573
@Ratatinator97 Did you encounter this after upgrading or has this issue always been there?

Also, are you using the proxy for just sending requests though Postman or to connect to Postman online services?

[2020-06-02 10:27] jarlarntzen opened #8574 "ffmpeg.dll was not found"
Running the 64-bit Windows installer for Postman Canary results in this error.
![image](https://user-images.githubusercontent.com/2108412/83509514-d8276c00-a4cb-11ea-8a5b-95aa2099298b.png)

**Reproduce**
1. Download canary 64-bit for Windows
2. Start the installer
3. Halfway through the installation, the above error message appears. Not possible to continue after that.

Windows 10
PostmanCanary-wi

[2020-06-02 11:15] Ratatinator97 commented on #8573
I just have installed it on a Virtual Machine (ubuntu 18.04),
1) I want to use the proxy for both (postman online services in order to sync my workspace with my team and Requests through postman to test some APIs)
2) Yes I am able to send some requests, so the proxy is working on requests
3)
![2020-06-02 13_15_06-LIVE18  En fonction  - Oracle VM VirtualBox](https://user-images.githubusercontent.co

[2020-06-02 11:26] ZAJDAN commented on #8565
thank You

[2020-06-02 11:41] ankurdengla commented on #8573
Hey @Ratatinator97 !

The custom proxy settings are under the `Proxy configuration for sending requests` section. This means that currently these only apply to sending requests and not for Postman online services such login, syncing etc.

For other Postman online features, we currently only support your system's default proxy settings. So the ways to use your custom proxy for these are -
* Setting

[2020-06-02 11:50] bharatramawat28 commented on #3489
Is there any way to automate or setting send and download permanent for some requests for chaining?

[2020-06-02 11:59] Ratatinator97 commented on #8573
Okay my bad, thanks for that :)

[2020-06-02 11:59] #8573 closed, assigned to nobody

[2020-06-02 13:26] lucasmaffazioli commented on #6757
Also, regression or bug fixes that create more bugs are still prone to happen. No system is perfect. Today Postman updated itself and voila, can't use a certain SSL api.

[2020-06-02 14:22] numaanashraf commented on #8565
@ZAJDAN We've pushed out v7.25.2 which resolves this issue and you wouldn't need the manual workaround anymore. Thanks for your patience.

[2020-06-02 14:22] #8565 closed, assigned to nobody

[2020-06-02 14:33] openBackhaul opened #8575 "Allow customising syntax highlighting for code editors"
Light theme shows wrong syntax highlighting while scripting tests.

Light theme should show syntax highlighting of ace-eclipse, but actually shows ace-monokai.

Postman for Linux
Version 7.25.1
linux 4.15.0-101-generic / x64
on Ubuntu 18.04, but same version for Windows has same bug on Windows 8.1.

[2020-06-02 15:46] kamalaknn commented on #8575
Hey @openBackhaul

Could you share screenshots of the issue you are seeing?

It would help if you could share steps to reproduce the issue to help us investigate this issue.

[2020-06-02 15:51] giorod3 commented on #8565
I am now getting an error saying 'certificate has expired'.

[2020-06-02 15:53] openBackhaul commented on #8575
Screenshot:
![image](https://user-images.githubusercontent.com/46722892/83541090-75e56000-a4f9-11ea-9624-7b90bae30f0b.png)
e.g. Strings should be blue and so on.

Steps to reproduce:
Open any existing Pre-request Script or Tests script in the Postman application script editor.

[2020-06-02 16:02] sjoller commented on #8476
I get the same missing header, but only for the examples in the generated documentation, though. For me clicking, `code` shows the inherited authorization header.

Only difference between my collection and the one described above, is that I have requests nested in folders (which also inherits authorization)

Native app, v7.25.2, win 10

[2020-06-02 16:05] kamalaknn commented on #8575
hey @openBackhaul

We have replaced the underlying editor from Ace to [Monaco](https://microsoft.github.io/monaco-editor/) in the recent version. We have matched the Monaco themes to give similar look and feel on Postman's light and dark themes.

We are tracking some improvements to syntax highlighting as part of this change here #8463.

If you'd like the ability to customize the syntax highlighti

[2020-06-02 16:10] openBackhaul commented on #8575
There must have gone something wrong during matching the Monaco themes, because both the light and the dark are now using the Monokai coloring scheme,
while the light theme used the Eclipse coloring scheme before.

I would be glad, if the colors would be like before.
Customization would also be ok, if entire schemes could be chosen from a list of pre-defined.

[2020-06-02 16:14] hgorina opened #8576 "Possible memory leak"
**Describe the bug**
was trying to run more then 5000 iterations,
iterations were run successfully to 16%, then stalled and memory leak started. For an hour memory usage kept climbing while iterations stopped.
I had to kill application in task manager
No record of that run in the collection runner

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down t

[2020-06-02 16:19] crelinae commented on #7502
I'm facing a very similar issue where identical REST POST query on SoapUI is working, but on Postman my service is responding with the default message.

I say identical, and that's as far as I can see all settings and the query itself is the same.

Not sure how much I can share of the logs or other data as this is work-related, but please ask the good questions to pinpoint the problem. I have no P

[2020-06-02 16:28] codenirvana commented on #8565
@giorod3 I am assuming this is happening after the upgrade. Is there any public API endpoint that we can use to reproduce this issue?

If it's private, you can share it with us on help@getpostman.com as well.

[2020-06-02 16:39] giorod3 commented on #8565
@codenirvana I am using the bespoken tools for nodejs.

[2020-06-02 17:41] chrisdeso opened #8577 "Profile image upload overlaid on stock profile image"
**Describe the bug**
After uploading a transparent profile image – there's a black background in the in-app notifications or the transparent image is overlaid onto the stock image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `go.postman.co/settings/me`
2. Upload a profile picture with a transparent background
3. See black background around image in in-app notifications or the trans

[2020-06-02 18:31] vvs11 commented on #8324
similar to #8517
@vladyslovestepanov could you follow the steps mentioned in the above issue and see if it is resolved?

[2020-06-02 18:33] vvs11 commented on #8272
Closing for now. Please feel free to reopen if you're still seeing the issue. You can also post queries on our community: http://community.getpostman.com/  to get quick response

[2020-06-02 18:33] #8272 closed, assigned to vvs11

[2020-06-02 18:35] vvs11 commented on #7502
reopening the issue

[2020-06-02 20:02] rfmartorelli opened #8578 "Write to File"
Issue: When running large collections via the collection runner, although I can see the responses there is no easy way within postman to write them to a file.  Additionally, I would like to write the console output to a file.  For testing, I do a lot of parsing and output to easily see the important information from my responses so this information is sometimes more valuable to me than the actual

[2020-06-02 20:03] rfmartorelli opened #8579 "Link two postman accounts"
A co-worker and I each pay for our own Postman subscriptions, but we can't link them into a team.  We'd like this functionality so we can continue to pay our own bills, but more easily share our content.

[2020-06-02 20:40] pearsontophergopher commented on #1744
It's been 4 years - this would be invaluable to us to have natively. We're using 3rd party tools, but it would be so slick to have another export option

[2020-06-02 21:21] xk0der commented on #8572
Thanks for the help, @codenirvana ! 🎉

Closing this, as there is a per-request setting to get the required behaviour.

[2020-06-02 21:21] #8572 closed, assigned to nobody

[2020-06-03 01:02] kenvis commented on #6354
I had the same Issue I solve it going to: File->Settings->General -- SSL Certificate Verification OFF
![Postman SSL Certificate](https://user-images.githubusercontent.com/1036909/83584167-88649700-a503-11ea-9714-2db6a1a0a584.png)

[2020-06-03 02:14] AddisonG commented on #8481
Definitely a big issue for me - The strange select cursor is very ugly and distracting, besides being difficult to see where the point is.

[2020-06-03 02:18] mdunn-bluefox opened #8580 "Auth Header not in Generated Code"
Version 7.25.2
OS X 19.5.0 / x64

Selected the generate code button and everything displays except the auth header.
This was working but suddenly stopped in the past 7 days.

[2020-06-03 02:27] automagiq opened #8581 "Collections and sets of environment variables are duplicated"
Postman Version 7.25.2. OS X 19.5.0 / x64
After I created Postman Account and added a new workspace and now when I switch to Personal workspace I  see that some of my collections and set of environment variables are duplicated.

How to resolve this?

[2020-06-03 03:15] Diluka commented on #6719
if it can autocomplete queries without creating APIs just using dynamic introspection on endpoints, if support, will be great! @umeshp7

[2020-06-03 05:02] pquy1008 commented on #5803
Same here.
I need to test an ajax function

[2020-06-03 05:46] shreys7 commented on #8580
Duplicate of #8550

[2020-06-03 05:46] #8580 closed, assigned to nobody

[2020-06-03 06:44] aamir-ahmed opened #8582 "Allow "-" in the domain name for the Identity Provider Issuer field on Postman SSO configuration"
**Is your feature request related to a problem? Please describe.**
User see's a client-side validation message 'Please enter a valid URL'  when they add in the Identity Provider Issuer with a "-" in the domain name during Postman SSO configuration.
Example: "https://idp-issuer.team.com/idp/SSO.saml2"

**Describe the solution you'd like**
User should be allowed to enter a "-" in the domain name for

[2020-06-03 08:49] arlemi commented on #7153
Closing this issue as we didn't get any clarification on the use case.

[2020-06-03 08:49] #7153 closed, assigned to sankalp0o

[2020-06-03 08:51] arlemi commented on #8022
We're tracking a similar request in [Reuse the same request inside several collections #1535](https://github.com/postmanlabs/postman-app-support/issues/1535), admittedly it has been open for a while but any update regarding the feature will be provided there.

Closing this one.

[2020-06-03 08:51] #8022 closed, assigned to shamasis, vvs11, sankalp0o

[2020-06-03 08:57] bharatramawat28 opened #8583 "Chaining of Send and Download."
I need to save the response in files. but the data is in octet stream so i have found no other way.
I want to chain send and download feature so that the files can be downloaded directly to my pc.

[2020-06-03 09:05] bharatramawat28 commented on #8521
There is no response on community page also

[2020-06-03 09:49] arlemi commented on #5803
This is a duplicate of #2646, please subscribe there to get updates when there is any.

[2020-06-03 09:51] arlemi commented on #8583
As said in #8521, this is a question for the community forum as this is not a bug or a request feature.

[2020-06-03 09:51] #8583 closed, assigned to nobody

[2020-06-03 10:37] DannyDainton commented on #8581
Hey @automagiq

Would you be able to provide a details example of what you're seeing, please? This will allow us to investigate what's going on here.

[2020-06-03 10:42] DannyDainton commented on #8578
Hey @rfmartorelli,

This has been recently asked over on our [community site](https://community.postman.com/t/how-to-download-file-while-running-collection-runner/13080)

The response provided in the thread includes a solution that should help you achieve that when working with the Collection Runner.

[2020-06-03 11:08] cosimochellini commented on #5302
same in 1909
![image](https://user-images.githubusercontent.com/24718181/83629977-57d03c00-a59b-11ea-8ae8-82ed3d1f863c.png)

[2020-06-03 11:26] manuelwaldner commented on #5302
I fixed that, but it's only the case if i use the accent-color on the title and menu bars and also set the following registry item

[HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\DWM]
"AccentColorInactive"=dword:01010100

This registry-key is making the bars black, if not focused, if focused, the color is the accent color which in my case is orange.

[2020-06-03 11:37] sivcan commented on #8578
There's a [workaround suggested in the community](https://community.postman.com/t/need-to-capture-response-body-of-each-iteration/3657/2) that you can follow and achieve this.

[2020-06-03 11:55] racinmat opened #8584 "Postmain fails to display plaintext response"
**Describe the bug**
Postman fails for following request:
here is the request saved in collection
[code]

**To Reproduce**
Run the query.

**Expected behavior**
When it's ran as curl command which is generated from the Postman, I obtain desired response:
[code]
but postman fails to show this because there are missing headers, the server returns just this single row as response.
Is it possible to u

[2020-06-03 12:23] jimmy0699 commented on #7370
on recent macos as well

![Zrzut ekranu 2020-06-3 o 14 22 24](https://user-images.githubusercontent.com/3270903/83636134-bac6d080-a5a5-11ea-8b21-f018ba0c4320.png)

[2020-06-03 12:25] QA-automation-engineer commented on #4598
I still have this issue on Postman 7.25.0

[2020-06-03 12:42] LukasV commented on #7150
This is big issue for us. I've got a PRO license myself and I convinced my client to buy one as well. Only to realize we can't actually share a workspace? I know I should have red the conditions better but still this is pretty ridiculous. How do other freelancers (working for multiple clients) deal with the situation? Probably with some other tools, right? Shame. :(

[2020-06-03 12:43] hb20007 commented on #5286
I was having the same issue and I realized that Chrome Version 83.0.4103.61 (the latest version at the time of writing) was giving a wrong cURL command in my case when using the "Copy as cURL" feature in the Network tab. I tried to copy the same request as cURL using Firefox and I was able to successfully import it into Postman.

[2020-06-03 12:59] codenirvana commented on #8584
@racinmat It looks like that the requesting server is responding with `Content-Encoding: gzip` response header but plain text data.

[2020-06-03 13:09] racinmat commented on #8584
And is there a way to force postman to ignore the wrong encoding?

[2020-06-03 13:18] codenirvana commented on #8584
I am afraid there's no way to disable that (since `Content-Encoding` is present) at the moment.

[2020-06-03 13:20] racinmat commented on #8584
I see, thanks, I will report it then as an issue to the server.

[2020-06-03 13:20] #8584 closed, assigned to codenirvana

[2020-06-03 13:35] paulodetarsofm commented on #4142
@ZooDoo4U, follow the instructions here: https://www.codepicky.com/hacking-electron-restyle-skype/

[2020-06-03 14:24] ZooDoo4U commented on #4142
Awesome thanks a lot.   The instructions given at codepicky.com worked great, only thing for postman to get in the browser's devtools as suggested didn't need to press the magical {CTRL}+{SHIFT}+{ALT}+D,   just needed to use the menu postman View::Developer.  After that we all should know what to do.   I'm wondering, but not sure expanding the asar as this does and renaming the release version, if

[2020-06-03 14:33] carlosescom commented on #4666
Hey guys it's may 2020, I'm having the same problem with v6.7.6. What's the deal, seriously? Why is this issue closed???

[2020-06-03 14:44] carlosescom commented on #8389
Here are my logs. Can you guys help me? @avani-n @preethammavin

[code]

[2020-06-03 14:46] arlemi commented on #4666
@carlosescom The latest version of the app is 7.25.0. v6.7.6 is ~a year old, I would recommend updating it.
If you're a team user, you can find detailed information about how to migrate from v6 to v7 in the Learning Center: https://learning.postman.com/docs/administration/migrating-to-v7/

[2020-06-03 14:55] carlosescom commented on #4666
Nowhere in the dashboard can I see such a thing as "Migrate my team to v7".

Also, there is nothing along the lines of "Check for Updates." in Settings > Update. All I see is:

[2020-06-03 15:46] hossam-96 commented on #6757
Please consider that the user can decide if he wants the latest security and bug fixes now or just when he can connect to a WIFI !

[2020-06-03 16:04] ashishraman commented on #7415
Can someone tell me which port is being used so I can request my ISP to unblock it.

[2020-06-03 16:17] carlosescom commented on #4666
For anyone still having this ungodly issue by 2025 or beyond: just remove and reinstall using, like this
[code]

[2020-06-03 16:50] ArunSNambiar commented on #1632
[
    {
        "client_code": 29,
        "known_as": null,
        "title": "Ms",
        "forename": "Audrey",
        "surname": "Murphy",
        "date_of_birth": "1972-04-19T00:00:00Z",
        "gender": "Female",
        "has_photo": false
    },
    {
        "client_code": 40456,
        "known_as": null,
        "title": "Dr",
        "forename": "Arun",
        "surname": "Nambiar",

[2020-06-03 17:19] doransmestad commented on #5920
Wow, yep.  This got me as well.  I've been using Postman for years and just thought it was broken until I finally got annoyed enough to go and open a bug ticket.  Turns out, it's just unintuitive behavior.   +1 to the proposal by @MrTrick.

@numaanashraf  Looks like this ticket was closed a year ago - is there a new feature enhancement ticket (or something) we should be commenting on instead of th

[2020-06-03 17:54] cache-sk commented on #5628
We are now in the middle of year 2020 and TLS 1.3 is still not supported. Since our security folks pushed our backend servers to use TLS 1.3 only, we can't use postman for development anymore.

I had to return to old deprecated chrome app, which is very sad, because it works...

Error: write EPROTO 4816:error:1409442E:SSL routines:ssl3_read_bytes:tlsv1 alert protocol version:c:\users\administrator

[2020-06-03 17:58] ArunSNambiar opened #8585 "How to Identify the random required node value from a response"
[
{
"client_code": 29,
"known_as": null,
"title": "Ms",
"forename": "Test",
"surname": "Client",
"date_of_birth": "1972-04-19T00:00:00Z",
"gender": "Female",
"has_photo": false
},
{
"client_code": 40456,
"known_as": null,
"title": "Dr",
"forename": "Arun",
"surname": "Nambiar",
"date_of_birth": null,
"gender": "",
"has_photo": false
.
.
.
}
]

This is the response from a postman. I want to identif

[2020-06-03 18:01] codenirvana commented on #5628
@cache-sk We've added support for TLS 1.3 in Postman app v7.25.2 which will be available for everyone (_phased rollout_) soon. Till then you can use our [Canary app](https://www.postman.com/downloads/canary/) which already supports TLS 1.3.

[2020-06-03 20:29] mdunn-bluefox commented on #8550
This workaround solved my problem.

[2020-06-04 05:14] alagu-chandran opened #8586 "Text is not rendered as string in collection Runner"
Error
I try to import the CSV file, with data contains string and number. When seeing the Preview (Screenshot 1), string is enclosed in the double Quotes. But when collection runner plotted in the request body, it didn't surround by the quotes(Screenshot 2). and even it doesn't consider this as a String.

To Reproduce
Steps to reproduce the behavior:
1. Import the csv file in the collection runner

[2020-06-04 06:01] saialekhya-postman commented on #8489
@Raj-postman Added an input field where users can enter their `ownerName/repositoryName` if the repository name is not available in dropdown.
This fix is out in production.

[2020-06-04 06:11] smalltide commented on #8489
This fix my issue, Thanks

[2020-06-04 06:14] #8489 closed, assigned to saialekhya-postman

[2020-06-04 07:41] John-Dormevil commented on #6236
Hi, I'm waiting this feature to

[2020-06-04 08:41] arlemi commented on #4598
@QA-automation-engineer See the post above. Can you please give examples of how you're using path variables and how they are resolved for you? This will help us understand in which case this doesn't work and let us reproduce the issue if possible.

[2020-06-04 08:42] arlemi commented on #7370
@jimmy0699 Please post in #7294 . 🙂

[2020-06-04 08:48] arlemi commented on #1632
@ArunSNambiar Please ask this question on the community forum: https://community.postman.com/

[2020-06-04 08:55] jimmy0699 commented on #7294
Postman Version 7.25.2
MacOS Catalina 10.15.4 (19E287)

![83636134-bac6d080-a5a5-11ea-8b21-f018ba0c4320](https://user-images.githubusercontent.com/3270903/83736366-d4bded00-a651-11ea-8103-742099a75540.png)

[2020-06-04 09:00] itsjef commented on #8537
I'm having this issue too. It happens specially when uploading a file whose name contains non-ASCII character (blue circle). Uploading from web-form or command line (using cURL or httpie) is fine.

![image](https://user-images.githubusercontent.com/1902587/83736584-0fd51600-a67c-11ea-90e0-a800a7ced5c9.png)

App info:
* Postman for windows desktop
* Postman Version: v7.25.2
* OS: Windows 10

[2020-06-04 09:13] itsjef commented on #8537
Looks like it happens specially to Flask and libraries built on top of it (Eve, Flask-RESTFul...). I created another server with Sanic and the filename returned correctly. :)

[2020-06-04 09:40] codenirvana commented on #8537
@itsjef As mentioned in https://github.com/postmanlabs/postman-app-support/issues/8537#issuecomment-635225864, Postman implements [RFC 6266](https://tools.ietf.org/html/rfc6266) which introduces this new `filename *` disposition parameter for Non-ASCII file names.

A lot of body-parsers don't support this yet but if you check the `Content-Disposition` header set by Postman, it includes both `filen

[2020-06-04 09:44] pranaya94 commented on #8335
@mustela You should now be able to match bodies for header `'Content-Type: application/json; charset=utf-8'`.

[2020-06-04 10:11] arlemi commented on #5920
@doransmestad #2838 tracks improvements to the two different duplicate mechanism we have in the app. You may want to add your feedback there.

[2020-06-04 10:25] VicKetchup commented on #8197
Is there any update on this issue? Now this is happening even for the runs where a few tests failed, so it's really hard to keep track of and understand the issues.
![image](https://user-images.githubusercontent.com/43671684/83745878-25374980-a656-11ea-9eb7-a5ec5fc34f75.png)

[2020-06-04 10:26] arlemi commented on #8585
@ArunSNambiar Please ask this question on the community forum: https://community.postman.com/

[2020-06-04 10:26] #8585 closed, assigned to nobody

[2020-06-04 10:28] Telmah opened #8587 "Add posibility to configure max-http-header-size"
there is no possibility to specify maximum allowed header size. for node JS is was dropped to 8kb in some of latest releases, so it's not possible to get answer from server if header size is more that 8Kb. Workaround solution is to specify global variable for nodejs like NODE_OPTIONS=--max-http-header-size=800000 or similar, but it could be better to have possibility to set and save it globally

[2020-06-04 10:29] shashvattrip commented on #7399
Hey the problem i still present in 7.25.2. Anyways, I've bought a new laptop so dont have this problem on the new laptop

[2020-06-04 10:33] arlemi commented on #5302
Seeing the same as @manuelwaldner on Windows 10 Pro N, version 1903.

![image](https://user-images.githubusercontent.com/5029719/83746488-0eddbd80-a657-11ea-96a8-e659f6c810e6.png)

Playing around with accent-colors could possibly fix it but I would expect dark mode to default to black for the title bar.

[2020-06-04 10:47] bitcoder commented on #422
likewise :(

[2020-06-04 11:06] mccannt commented on #5543
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-04 11:06] #5543 closed, assigned to numaanashraf

[2020-06-04 11:57] Laurence-Walpole opened #8588 "Add Network Throttling Setting to Postman"
**Is your feature request related to a problem? Please describe.**
Postman is great for testing APIs in a sandbox environment. However, it is not great for testing them in a simulated environment. Firefox and Chrome both have built in "Network Throttling" settings, which simulates a poor network connection. Postman does not have this.

**Describe the solution you'd like**
The ability to add a netw

[2020-06-04 12:06] codenirvana commented on #8588
@Laurence-Walpole Thanks for the feature request but we are already tracking a similar feature request #3777.

This will be a great addition and we will try to prioritize this as soon as possible.
Closing this, Please follow #3777 for more updates on this.

[2020-06-04 12:06] #8588 closed, assigned to nobody

[2020-06-04 12:18] sabuncu commented on #4690
Right click on a tab and select "Duplicate Tab".  The new tab will only have the request, and the response panel will be empty.

![2020-06-04 15_14_09-Postman](https://user-images.githubusercontent.com/6242253/83755657-8ec75000-a676-11ea-8d1f-ef3ce4704f34.png)

[2020-06-04 12:19] essteebee commented on #4546
as a workaround you can set authorization to "no Auth" and add your Auth Information manually to tab Headers, eg.  "Authorization" -> "Bearer .... ".
in this case the setting "retain headers when clicking on links" helps to retain auth information :)

[2020-06-04 13:02] timsamart commented on #2646
We are currently implementing Okta into our pipeline. This is basically the biggest player in User-Authentication in the world. Without this feature we are not able to reliably test Authentication. I would suspect that many of the big players who also use Okta either:

1. use an old version of Postman or
2. are not using Postman

It would be cool to implement this. Thanks.

Also anyone who has the

[2020-06-04 13:26] charlesritchea commented on #4546
Please prioritize this @vvs11 @saswatds

[2020-06-04 13:36] dcatcendyn opened #8589 "Postman Reports Certificate Expired for Sectigo Chains"
**Describe the bug**
Certificates signed by Sectigo and trusted through USERTrust are reporting the error "Error: certificate has expired".  This is related to https://www.namecheap.com/blog/sectigo-ssl-certificate-root-expiration-issue

In this case the operating system and browser select the correct chain but Postman appears to have its own chain validation and incorrectly fails on the first cha

[2020-06-04 13:43] codenirvana commented on #8589
@dcatpegs can you share a testing endpoint with us on help@getpostman.com?

[2020-06-04 14:03] MukeshMM commented on #8589
i am also getting same issue after updating postman

[2020-06-04 14:07] codenirvana commented on #8589
We are investigating this issue till then anyone who's facing this issue please disable the "**SSL certificate verification**" setting to unblock yourself.

<img width="711" alt="Screenshot 2020-06-04 at 7 34 57 PM" src="https://user-images.githubusercontent.com/4865836/83766835-854fdf00-a69a-11ea-9658-907d1db2daa9.png">

[2020-06-04 15:33] #5332 closed, assigned to harryi3t, twitharshil

[2020-06-04 15:33] #6071 closed, assigned to nobody

[2020-06-04 15:33] #7393 closed, assigned to nobody

[2020-06-04 15:33] #7700 closed, assigned to numaanashraf

[2020-06-04 15:33] #7723 closed, assigned to twitharshil

[2020-06-04 15:33] #8135 closed, assigned to numaanashraf

[2020-06-04 15:33] #8452 closed, assigned to nobody

[2020-06-04 15:42] #8578 closed, assigned to nobody

[2020-06-04 15:43] giorod3 commented on #8565
@codenirvana Sorry for the delayed response. this was the output:
`depth=3 C = GB, ST = Greater Manchester, L = Salford, O = Comodo CA Limited, CN = AAA Certificate Services
verify return:1
depth=2 C = US, ST = New Jersey, L = Jersey City, O = The USERTRUST Network, CN = USERTrust RSA Certification Authority
verify return:1
depth=1 C = GB, ST = Greater Manchester, L = Salford, O = Sectigo Limited,

[2020-06-04 16:01] automagiq commented on #8581
<img width="1679" alt="Screen Shot 2020-06-04 at 9 56 24 AM" src="https://user-images.githubusercontent.com/49632874/83780364-4eea7380-a64a-11ea-923f-e8801e53c195.png">

[2020-06-04 16:20] xaviergm commented on #4690
The response panel is not the console. The console we are discussing in this thread is the additional window that comes up if you go to View >> Show Postman Console or press CTRL+ALT+C.

[2020-06-04 16:50] numaanashraf commented on #8565
@giorod3 This seems to be related to the recent Sectigo root expiry. We are tracking this at #8589 and there is a known workaround detailed on that thread - https://github.com/postmanlabs/postman-app-support/issues/8589#issuecomment-638872269

[2020-06-04 16:55] giorod3 commented on #8589
that workaround worked well thank you!

[2020-06-04 18:19] poshizzle commented on #8252
I had a similar issue, and when I reinstall, it works...for a while...then starts hanging/crashing again.  After various troubleshooting, I was able to determine that was the database files in the "IndexedDB" folder that are not being properly cleaned up by the app.  My DB files (in total) grew to almost 2 GB, with 1,300 DB files.  When I deleted the "file__0.indexeddb.leveldb" folder and restarte

[2020-06-04 21:05] Hugobox commented on #8480
👀

[2020-06-05 00:55] dbethel opened #8591 "Unable to recover archived collection"
I was using a shared collection and when I saved a new request, the entire collection got archived and I am no longer able to access any of the requests. I understand that it is a free account and it is limited, but archiving the collection in this manner is absurd and cannot possibly be the intended action.  I could see an error saying that I am past my limit and cannot save anymore or something

[2020-06-05 01:51] danielmhanover commented on #8536
@umeshp7 has this been fixed yet?

[2020-06-05 04:52] Raj-postman commented on #8591
Hi @dbethel

In the latest version of the application - we have added a prompt message that warns users at regular intervals when they are about to hit the free limits. But we do understand the confusion around the archiving flows and our team is working towards making it more intuitive. We are currently tracking this request on this GitHub link here: https://github.com/postmanlabs/postman-app-sup

[2020-06-05 06:02] EngrMikolo commented on #6354
This worked for me. Thanks.

[2020-06-05 06:55] Atishay4294 commented on #8558
Hi @clarkritchie - We have this feature in our roadmap and we'll be going live in a few weeks.
We'll keep you posted on this when we have more updates.

[2020-06-05 07:14] amrbadawy commented on #4361
I've the issue, the only way to fix it for me is to follow https://github.com/postmanlabs/postman-app-support/issues/4361#issuecomment-522616177
Thanks @angrimer

[2020-06-05 07:23] guneyozsan commented on #8075
It is becoming common to have apps follow OS setting so that we can adjust for the conditions we are working multiple times a day. (Not just day and night because lighting conditions may differ greatly in every location).

What's postman's approach to this?

[2020-06-05 08:18] arlemi commented on #2646
Hey @timsamart, appreciate the support for the feature request, though we would not recommend for everyone to post here, unless there's useful information around the use case that can be added. Posting "+1"s and "me too"s only sends unnecessary notifications to everyone and doesn't add any value for the engineers when trying to implement the feature. 🙂

To show your support, add a 👍 on the first p

[2020-06-05 10:45] timsamart commented on #2646
Hey @arlemi yes it would be better to just add the thumbs up 🙏

[2020-06-05 10:46] bitcoder commented on #4471
this problem still happens and is quite annoying. please reopen the bug.
this happens with latest version (7.25.2) on MacOS 10.15.4

![image](https://user-images.githubusercontent.com/553801/83867891-0bfbcf00-a722-11ea-936a-ba77a867896f.png)

[2020-06-05 11:18] JurRutten commented on #1744
+1

[2020-06-05 11:43] pleasedontbelong commented on #7280
+1 on this....

[2020-06-05 14:21] arlemi commented on #4471
@bitcoder Please open a new ticket and mention #4360. 🙂

[2020-06-05 14:43] arlemi commented on #6786
This issue was resolved with the user through the support desk, closing.

[2020-06-05 14:43] #6786 closed, assigned to nobody

[2020-06-05 14:44] arlemi commented on #6564
#6560 and #6563 were resolved, we're tracking a feature request for being able to disable minor updates in #6999. Closing this one. 🙂

[2020-06-05 14:44] #6564 closed, assigned to nobody

[2020-06-05 14:46] arlemi commented on #7944
This is a duplicate of #6999, sorry for not noticing earlier! Closing this one. 🙂

[2020-06-05 14:46] #7944 closed, assigned to nobody

[2020-06-05 14:54] cyrielle-hada commented on #6050
The error is likely due to a networking issue as the error in the DevTools indicates that a domain name can’t be resolved.

Whitelist the following domains on the network firewall to allow WebSocket connections for Postman should solve the issue.

*.getpostman.com
*.postman.co
*.pstmn.io
*postman.com

[2020-06-05 14:54] #6050 closed, assigned to nobody

[2020-06-05 15:05] cyrielle-hada commented on #6521
@m3dbedb @pigubaoza did the workaround suggested in this thread help?
- [Removing the local data](https://github.com/postmanlabs/postman-app-support/issues/6521#issuecomment-494890917)
- [Opening the app with different compatibility](https://github.com/postmanlabs/postman-app-support/issues/6521#issuecomment-568481304)

[2020-06-05 15:33] #6935 closed, assigned to codenirvana

[2020-06-05 16:04] cyrielle-hada commented on #8400
Closing the issue as a fix has been released.

[2020-06-05 16:04] #8400 closed, assigned to abhijitkane, vvs11

[2020-06-05 16:09] #7748 closed, assigned to Raja-Simha

[2020-06-05 16:12] travisroyal-smithtech commented on #7105
Encountered this issue on v7.25.0 win32 10 / x64 using grant type of auth code. temporarily resolved using loopback ip address for callback url.

[2020-06-05 16:13] DannyDainton commented on #8581
Hey @automagiq

Are these showing as duplicates in the `Browse` mode? The mode switcher can be found in the bottom right of the application.

Would you also be able to check these on the Dashboard in a Browsers - https://go.postman.co/

Just trying to gather more information 😄

[2020-06-05 16:17] rvit34 opened #8592 "Problem with CryptoJS function. Syntax Error"
**Describe the bug**
It seems functions from cryptoJS library are not available in pre-request script.

**To Reproduce**
Steps to reproduce the behavior:
1. Create request to any webserver endpoint
2. Go to Pre-request script tab
3. Add a call to library function. For instance: `const​ hash = CryptoJS.HmacSHA256('msg', 'secret');`
4. See syntax error in the console

**Expected behavior**
CryptoJS

[2020-06-05 17:48] bitcoder commented on #422
I would see this implemented as follows:

- general setting to define the behaviour of line breaks in raw body content
- per request setting to define the behaviour of line breaks in raw body content

This seems quite feasible, doesnt it?

[2020-06-05 17:52] bitcoder opened #8593 "resolve synch conflicts popup keeps appearing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. use Postman for a while with a logged in account
1. create some requests

**Expected behavior**
No synch errors should appear.

**Screenshots**
![image](https://user-images.githubusercontent.com/553801/83907450-53538100-a75d-11ea-8237-b1449bb8c758.png)

**App information

[2020-06-05 18:01] bitcoder opened #8594 "support variables in file-based form-data body parameters"
**Is your feature request related to a problem? Please describe.**
I was trying to overcome another problem related to the usage of raw body content and newline handling which is hardcoded :( and limits usage in custom multipart requests :(

**Describe the solution you'd like**
Postman should replace variables if the file content have mentions to them.
Sometimes we have content for variables that

[2020-06-05 18:12] bitcoder opened #8595 "ability to customize "filename" attribute on form-data body parts using text fields"
**Is your feature request related to a problem? Please describe.**
Kind of. Each part of multipart should be able to customize the filename.
This is also related to the problem that Postman doesnt support replacing variables in file-based content as mentioned in #8594

**Describe the solution you'd like**
Postman should provide another column so that the user can customize the filename; this could

[2020-06-05 18:12] recurse-id opened #8596 "Encoding ✓ incorrectly in code view"
**Describe the bug**
versions tested: 7.24 and 7.25

When ✓ is a value in one of the url parameters. If you go to the code view you will see that the check mark is encoded as %u2713

**To Reproduce**

Steps to reproduce the behavior:
Add ✓ as a value to a url parameter.
Click the code button.
You'll see the ✓ encoded as %u2713
**Expected behavior**
✓ should be encoded as %E2%9C%93

[2020-06-05 20:00] varun508 commented on #4581
I'm having the same issue.
Postman for Linux
Version 7.25.2
linux 5.3.0-53-generic / x64

[2020-06-06 00:52] bberliner opened #8597 "Code view not including Headers for curl (and probably others)"
**Describe the bug**
With Version 7.25.0, the "Code" view (whether using "New Code Generation Mode" or not) will not include all of the Headers you have enabled for your request, if the request already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Find an *existing* request that includes some pre-selected Headers
2. Press the "Code" button to see the curl command (I've only tested

[2020-06-06 06:39] codenirvana commented on #8592
Looks like there's a Unicode character '[ZERO WIDTH SPACE](https://en.wikipedia.org/wiki/Zero-width_space)' in-between `const` and `hash`.

<img width="494" alt="Screenshot 2020-06-06 at 11 57 41 AM" src="https://user-images.githubusercontent.com/4865836/83937764-4a11f500-a7ed-11ea-8f5d-1a3bbe4fffbb.png">

The following script with zero width space will always fail:
[code]

And, without zero width

[2020-06-06 08:31] tareqdayya commented on #7596
+1

[2020-06-06 09:25] shreys7 commented on #8597
duplicate of #8550

[2020-06-06 09:25] #8597 closed, assigned to nobody

[2020-06-06 09:56] rvit34 commented on #8592
Thank you. It's really the reason of the issue.
And yeah, please make output of script evaluation more friendly.
Now it does not point even the line the syntax is broken.
It I have 100 line script I have no idea where it's.

[2020-06-06 09:58] #8592 closed, assigned to nobody

[2020-06-06 10:53] vsarunov commented on #7754
Seeing the same thing as @TomLaMantia and did the recommendations. Though my postman request are very huge in payload, and there are multiple tabs open. It started crashing when There where to many tabs with too big requests. Now as soon as I try to open postman it shows all the tabs open and does not allow to close them just crashes.  Last log line in renderer-shell is '[21168][1591440372798][she

[2020-06-06 12:49] harryi3t commented on #8589
@dcatpegs @MukeshMM @giorod3
We have identified the issue and have pushed a fix on our canary channel which can be downloaded from https://www.getpostman.com/downloads/canary

We will be pushing the fix on the stable channel soon.

[2020-06-06 13:44] dcatpegs commented on #8589
Thanks!  I have tested Canary and it was successful.  I will test stable when its released.

[2020-06-06 18:50] numaanashraf commented on #8589
We've released v7.25.3 on stable which includes a fix for this.

[2020-06-06 18:50] #8589 closed, assigned to nobody

[2020-06-06 21:14] obfusk commented on #8537
Actually, I think it *is* a bug in postman. Looking at the example:

[code]

And looking at the relevant RFCs (https://tools.ietf.org/html/rfc6266 & https://tools.ietf.org/html/rfc5987), I notice that `filename*=` does not support `quoted-string` values -- only percent-encoding -- whereas the example combines both. When removing the non-RFC-compliant quotes, the example seems to work just fine wit

[2020-06-06 22:20] SergeyShidlovsky commented on #3466
A lot of development teams in Ukraine are ROLFing  across absence of the "Autosave" Feature

[2020-06-07 15:28] ArjunSingh-PM commented on #8285
This issue is resolved.

[2020-06-07 15:28] #8285 closed, assigned to ArjunSingh-PM

[2020-06-07 15:29] ArjunSingh-PM commented on #7802
Closing this ticket as this issue is resolved.

[2020-06-07 15:29] #7802 closed, assigned to elssar, ArjunSingh-PM

[2020-06-07 16:29] meetSuraj commented on #8034
@JP-from-Postman What do you mean by SAML token hash? Do you mean ability to sign AuthNRequest (Authentication Request) using SHA-256 algorithm?

[2020-06-07 16:31] meetSuraj commented on #1684
@ArjunSingh-PM We now support SAML2 authentication and should close this issue. cc @elssar

[2020-06-07 21:01] tristandenyer commented on #8285
@ArjunSingh-PM Was the link in the app updated?

[2020-06-08 00:10] marionzr commented on #6712
Hi @kamalaknn
Yes. I checked the schema (refresh 2x to make sure) and the schema was exported via Graphql Playground.

The autocomple works only to Query type and Mutation Type but not to the nested/child types

[2020-06-08 03:26] conradpronto commented on #1070
@Cazaimi what's the good word heading into this week?  Is this the big week where re-ordering examples update is released?   The collective Postman community is pretty excited!!!

[2020-06-08 05:56] ArjunSingh-PM commented on #8285
@tristandenyer, not yet. There is a Jira ticket open for that.

[2020-06-08 06:02] meetSuraj commented on #1684
@ArjunSingh-PM  Sorry I was talking about postman authentication. This ticket relates to saml support in runtime.

[2020-06-08 08:32] arlemi commented on #4581
If you're having issues keeping/sending cookies with your requests, make sure that the "disable cookie jar" setting is set to off.

![Annotation 2020-06-08 092654](https://user-images.githubusercontent.com/5029719/84009116-b9612380-a96a-11ea-8684-7380c13844f7.png)

We're also tracking an issue where cookies are not being added when the url is set using a variable in #8348.

If your issue isn't any

[2020-06-08 08:33] arlemi commented on #8057
@tyd We're tracking this in #8348. Closing this one as this has been resolved. 🙂

[2020-06-08 08:33] #8057 closed, assigned to nobody

[2020-06-08 08:42] kamalaknn commented on #6712
Hey @marionzr

Could you share a screen-recording of the issue you are seeing? If you could share a sample schema where you are seeing this issue that would be great too.

Here's a screenshot of autocompletion for a property at second level on the latest Postman app, where it starts listing properties after I type the first character.

![Screenshot 2020-06-08 at 2 06 51 PM](https://user-images.git

[2020-06-08 08:51] Raja-Simha commented on #1070
@conradpronto We are working on showing auth info in documentation right now. This is the next priority item on our list. We will keep you posted.

[2020-06-08 08:58] #2588 closed, assigned to vkaegis, sankalp0o

[2020-06-08 10:00] bloubloed84 opened #8598 "Request execution error: PKCS8 routines:OPENSSL_internal:UNKNOWN_ALGORITHM"
**Describe the bug**
Openssl error when trying to call secure service

**To Reproduce**
Steps to reproduce the behavior:
1. Setup certificate and key under certificates.
2. SSL verification disabled
3. Call to secure service

**Expected behavior**
Service call returns a 200 with data. This worked under previous versions of postman but since the latest upgrade it started failing with below

**Scree

[2020-06-08 10:24] debjeetsarkar opened #8599 "Generated cURL code doesn't contain the client certificates"
**Describe the bug**
Generated cURL code doesn't contain the client certificates added as part of the curl command

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Certificates -> Client certificates -> Add certificate
2. Return to builder and generate curl code for the same domain for which cert is added.

**Expected behavior**
The curl command generated should have the cer

[2020-06-08 10:33] bloubloed84 commented on #8598
Reinstalled below version and https working again -

![image](https://user-images.githubusercontent.com/66618447/84021014-20d79d00-a984-11ea-8b6a-57109245096c.png)

[2020-06-08 11:12] rionalab opened #8600 "Empty Request URL when importing (json) collection from link"
Im trying to update my collection through url (json), i can see the url value in the json but it goest empty after i import it to postman, ive tried to delete my collecton then import it again, and re-import it again still got the same result, what can possibly wrong here ?
thanks in advance

 - App Type : Native
 - Postman Version [7.25.3]
 - OS: win10 64bit

[2020-06-08 11:23] codenirvana commented on #8598
@bloubloed84 With Postman v7.25.3, we upgraded our underlying SSL library which might be the cause of this. To help us debug this issue, can you confirm the following:

1. The request is working fine with v7.25.0?, Download from:
Win32: https://dl.pstmn.io/download/version/7.25.0/win32
Win64: https://dl.pstmn.io/download/version/7.25.0/win64

2. Are you using a PFX certificate or CRT + KEY combina

[2020-06-08 12:33] shaunmcilroy commented on #6351
+1

[2020-06-08 12:48] bloubloed84 commented on #8598
1. Works with 7.25.0
2. crt + key combo with passphrase
3.
![image](https://user-images.githubusercontent.com/66618447/84032014-f6dba600-a996-11ea-826d-5308f74bf8a1.png)

[2020-06-08 13:06] cyrielle-hada commented on #8596
@recurse-id I didn't seem to be able to reproduce your issue in Postman version 7.25.3 using the code generator. The checkmark seems to be encoded correctly as `%E2%9C%93`.

![Screenshot 2020-06-08 at 13 59 54](https://user-images.githubusercontent.com/47351631/84033159-56828300-a990-11ea-9a25-0b7632b995ed.png)

![Screenshot 2020-06-08 at 13 59 11](https://user-images.githubusercontent.com/4735163

[2020-06-08 13:21] avani-n commented on #8389
Hey @carlosescom could you send the logs to help@postman.com and also the information about the Postman App version you are using?

[2020-06-08 13:26] mccannt commented on #7233
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-08 13:26] #7233 closed, assigned to kamalaknn

[2020-06-08 13:28] mccannt commented on #6252
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-08 13:28] #6252 closed, assigned to numaanashraf

[2020-06-08 13:31] mccannt commented on #8550
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-08 13:31] #8550 closed, assigned to nobody

[2020-06-08 13:34] mccannt commented on #6115
Closing this issue as it has now been resolved.
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-08 13:34] #6115 closed, assigned to numaanashraf, vkaegis

[2020-06-08 13:35] arlemi commented on #8595
This seems like a duplicate of #8203, could you confirm? If so, let's close this one and keep the discussion going there.

[2020-06-08 13:52] bitcoder commented on #8595
Well, not exactly. This is related to the filename attribute of the Content-Disposition  header that is added automatically by Postman. Postman adds the info attribute automatically based on the key name; however, it does not  allow you to configure the filename attribute that is also missing here.

[2020-06-08 13:57] bitcoder commented on #8595
Nota: of course if you had the ability to enforce the content disposition header, it would indirectly address this

[2020-06-08 14:10] bhreinb commented on #7254
Is their any further progress on this? We can't import a swagger file to postman that is password protected which is a real limitation.

[2020-06-08 14:11] kamalaknn commented on #5604
@JacobCarrell This should be fixed in the latest version of Postman 7.26.

[2020-06-08 14:11] #5604 closed, assigned to nobody

[2020-06-08 14:27] samfry opened #8602 "Postman shuts down automatically when running a collection"
**Describe the bug**
I have a collection of 80 api GET calls. They all have variables in the body to collect the data and a test script. When i run in the runner, at around 80% everytime my postman closes down and no error log is produced in the console. I have looked at the event viewer and can see the below:

Faulting application name: Postman.exe, version: 7.26.0.0, time stamp: 0x5edb407a
Fault

[2020-06-08 14:32] SabriH10 commented on #6990
Hi @joled,
I just wanted to reach back out following the issue you observed here. Judging by the elapsed time since, are you still encountering this intermittent issue? As Chris inquired, were you able to reproduce this issue when using cURL or just while with Postman?

Finally, could you confirm if you are running the latest version of Postman and if so, does this problem still show up intermitte

[2020-06-08 14:47] Abdelilah00 commented on #3331
try this
![image](https://user-images.githubusercontent.com/32691012/84044121-0ced6480-a99f-11ea-82b3-44aabc80265f.png)

and my DTO look like
![image](https://user-images.githubusercontent.com/32691012/84044288-44f4a780-a99f-11ea-8337-81eb5e3ec8b7.png)

[2020-06-08 15:33] spacentime opened #8603 "Locating a single request in the Collections tree views"
While working with many Postman request and navigating through the tabs , there is no way to see where a single request which is now an open tab is located in the Tree view, so you don't really know where it belongs - even when using properly naming convection it is not a easy to do task especially when you have multiple versions of a similar request.

Visual Studio has a feature to locate the act

[2020-06-08 15:36] kamalaknn commented on #8603
Hey @spacentime

Thank you for your feedback. We are tracking this request in #7099.

I'm closing this as a duplicate. Please follow the original thread for updates.

[2020-06-08 15:36] #8603 closed, assigned to nobody

[2020-06-08 15:45] pankajk07 commented on #5658
We have fixed this as part of v7.26. Please try it out and let's us know if you find any other issues.

[2020-06-08 15:46] #5658 closed, assigned to saswatds

[2020-06-08 17:16] joled commented on #6990
Hello,
Yes I am still getting the message. I gave up trying to figure out what is causing the issue. It is a Postman thing. Thanks you for checking back.

Regards,

Joe Ledva
Famous Smoke Shop
jledva@famous-smoke.com<mailto:jledva@famous-smoke.com>
610-559-7000 x118

From: SabriH10 <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Monday, June 8, 2

[2020-06-08 17:19] kamalaknn commented on #6982
This should be fixed in the latest version of Postman

[2020-06-08 17:19] #6982 closed, assigned to nobody

[2020-06-08 17:24] kamalaknn commented on #7987
@vdespa We've updated the editor for request body in the latest version. You should now see validation errors for these inputs 😄

[2020-06-08 17:24] #7987 closed, assigned to nobody

[2020-06-08 17:31] mdunn-bluefox commented on #8550
Verified fixed with 7.26

[2020-06-08 17:32] pankajk07 commented on #7709
@Yuri-Harel  we have made changes to the editor which fixes this issue. Please update the app and try it out.

[2020-06-08 17:32] #7709 closed, assigned to nobody

[2020-06-08 17:34] pankajk07 commented on #6493
@allanrodriguez , this has been fixed as part of `v7.26`. Please update the app and try it out.

[2020-06-08 17:34] #6493 closed, assigned to nobody

[2020-06-08 17:36] pankajk07 commented on #4313
This is fixed as part of `v7.26`. Please update your app and try it out.

[2020-06-08 17:36] #4313 closed, assigned to nobody

[2020-06-08 17:37] pankajk07 commented on #2985
This has been fixed as part of `v7.26`. Please update your app and try it out.

[2020-06-08 17:37] #2985 closed, assigned to nobody

[2020-06-08 19:51] TGSurf opened #8604 "Trying to install first time on mac but it keeps crashing when trying to open"
**Describe the bug**
After downloading the Mac version of Postman, once it is installed and then moved to the Applications folder, the application just hangs and goes in to a non-responding status.  I have tried to delete the initial installation, cleaned out all of the files/folders and tried it again, but with no luck.

**To Reproduce**
After performing the installation, i am asked to move it to

[2020-06-08 21:35] jeffepic commented on #7603
Seeing this issue on Mac 7.26.0. Makes the app pretty much unusable for me

[2020-06-09 03:32] pratnala opened #8605 "Add setting to control Postman's use of discrete or integrated GPUs"
**Describe the bug**

Postman is using the discrete NVIDIA GPU that is present on my laptop

**To Reproduce**

Steps to reproduce the behavior:
1. Open Postman
2. Check NVIDIA GPU Activity
3. You will see Postman listed as using the GPU

**Expected behavior**

NVIDIA GPU is generally used by games or other graphically intensive programs. I would expect Postman to use the integrated GPU as it is no

[2020-06-09 04:39] lflucasferreira opened #8606 "Variables | Move Global Variables to an Environment, vice versa."
**Is your feature request related to a problem? Please describe.**
There is no problem with this request.

**Describe the solution you'd like**
Well, I needed to move some global variables to a specific environment, and I thought this could be a new feature to be included in future releases.

**Describe alternatives you've considered**
The user could select the global/environment/collection variab

[2020-06-09 05:08] insomniac12 commented on #8330
This has been fixed in app 7.26.

[2020-06-09 05:08] #8330 closed, assigned to sankalp0o

[2020-06-09 05:15] numaanashraf commented on #8605
@pratnala Postman uses the discrete GPU by default for better UI rendering performance. There is a flag that can be set to control this - instructions are [here](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621).

[2020-06-09 05:16] numaanashraf commented on #8605
Converting this to a feature request to expose this as a configuration/setting within the application instead of a flag.

[2020-06-09 05:19] pratnala commented on #8605
Curious why it uses the discrete GPU by default? Many apps render fine using the integrated GPU, right?

[2020-06-09 05:22] pratnala commented on #8605
I can confirm that adding the environment variable works. And I don't see any downgrade in Postman's graphical performance. Thanks! 👍

[2020-06-09 05:43] bharatramawat28 opened #8607 "not syncing properly"
the sync icon always rotating while not doing any changes. and also data is lost after closing postman.

[2020-06-09 07:38] Raj-postman commented on #8591
@dbethel Hope you were able to recover the archived collections via reference. Do let us know if you face any issues with the same.

[2020-06-09 07:38] #8591 closed, assigned to Raj-postman

[2020-06-09 07:52] batmahir commented on #6242
+1 for enable specifying http protocol version

[2020-06-09 08:08] harryi3t commented on #8604
@TGSurf What happens when you open the app manually the next time (after it has crashed while launching the first time)? Does it crash again?

Also, while we are looking into the issue, can you try to move the application manually to the `/Applications` directory before launching it?

The exact steps would be
 - Delete the existing Postman app from `/Applications`
 - Download the latest Postman ap

[2020-06-09 08:11] mr-simonski opened #8608 "Postman generated docs: please make example more prominent"
Hello,

When using Postman to document an API and publishing the API documentation we use more than one example per resource if needed. Unfortunately this is not well visualized in the out coming documentation as colleagues and customers oversee this drop down field:

![image](https://user-images.githubusercontent.com/9415181/84122897-673b0380-aa39-11ea-8ec6-082594941722.png)

Would it be possible

[2020-06-09 10:07] #3517 closed, assigned to vkaegis

[2020-06-09 10:07] #5609 closed, assigned to nobody

[2020-06-09 10:12] arlemi commented on #6242
This issue is about giving the option to specify the protocol, not the implementation itself. Any news regarding support for HTTP2 will be given in #2701.

[2020-06-09 11:40] tomaszwojciechowski opened #8610 "creating snipper for http.client in Python doesn't truncate protocol from from parameter for http.client.HTTPSConnection()"
**Describe the bug**
When I generate snippet for http.client in Python and would like to use https protocol for endpoint's url, then in generated snippet I see:
`http.client.HTTPSConnection("https://example.com")`
while there should be just:
`http.client.HTTPSConnection("example.com")`
(without protocol in string).

**App information:**
 - App: Native App
 - Postman Versio: 7.26.0
 - OS: Windows 1

[2020-06-09 13:12] ratpik opened #8611 "cURL code for AWS SigV4 generates incorrect signature when environment variable is used in the URL"
**Describe the bug**
A clear and concise description of what the bug is.

Two similar requests with the only difference being one uses an environment variable in the URL and the other does not. When cURL code is generated for this, the request that uses the environment variable fails to authorize due to invalid AWS Signature.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AWS Auth

[2020-06-09 13:31] marcelom56 commented on #8267
Same problem here, with fresh installation (macOS and Postman).

Postman: Postman-osx-7.26.0.zip
macOS: 10.15.5

[2020-06-09 13:40] wiffelwicht commented on #208
In need for WDSL import here too, would be great to get away from SoapUI

[2020-06-09 14:08] thetreythomas opened #8612 "Request execution error: SSL routines:OPENSSL_internal:SSLV3_ALERT_HANDSHAKE_FAILURE [v7.25.1+]"
**Describe the bug**
When making an API request, I receive the error below:

Error: write EPROTO 2771201016:error:10000410:SSL routines:OPENSSL_internal:SSLV3_ALERT_HANDSHAKE_FAILURE:../../third_party/boringssl/src/ssl/tls_record.cc:587:SSL alert number 40 2771201016:error:1000009a:SSL routines:OPENSSL_internal:HANDSHAKE_FAILURE_ON_CLIENT_HELLO:../../third_party/boringssl/src/ssl/handshake.cc:588:

[2020-06-09 14:08] tomaszwojciechowski opened #8613 "Functionality of adding environment for all variables used in specific collection"
It would be useful to have functionality of creating an environment with all variables for values currently used in specific imported collection.

[2020-06-09 14:12] codenirvana commented on #8612
@thetreythomas is the requesting server requires SSLv3 protocol?

To verify this, could you send this request using curl with the `-v` flag and share the verbose info (remove the sensitive details)?
e.g, `curl -v https://postman-echo.com/get`

[2020-06-09 14:24] codenirvana commented on #8598
@bloubloed84 we are not able to figure out the root cause of this issue.
At first glance, this looks like a client certificate issue, primarily how they are generated.

Can you share the steps which we can use to produce this issue internally?

If possible, you can share the endpoint and the required certificate with us at help@getpostman.com.

[2020-06-09 14:32] thetreythomas commented on #8612
I am making these request to ESXi 6.5 U3, 6.7, and 7.0 machines, and the app serving the APIs is TLS 1.2. Checking on the SSLv3 information.

`*   Trying 100.80.152.109...
* TCP_NODELAY set
* Connected to 100.80.152.109 (100.80.152.109) port 8086 (#0)
* schannel: SSL/TLS connection with 100.80.152.109 port 8086 (step 1/3)
* schannel: checking server certificate revocation
* schannel: using IP addr

[2020-06-09 14:47] gone-skiing commented on #1321
Thanks to the postman team, @codenirvana, for working through this. API consumers of newman should now be able to use socks proxies:
https://github.com/postmanlabs/newman#using-socks-proxy

[2020-06-09 14:50] mccannt commented on #8508
@friedrich-brunzema Thx for the suggestion. We are currently tracking this [here](https://github.com/postmanlabs/postman-app-support/issues/2361) check back for updates.

[2020-06-09 14:50] #8508 closed, assigned to nobody

[2020-06-09 14:53] codenirvana commented on #8612
@thetreythomas With Postman v7.25.3, we upgraded our underlying SSL library which might be the cause of this.

But, I am confused that the request was working fine for you in v7.25.3 but failing in v7.26.0.

Is it possible for you to share the endpoint which we can use to reproduce this issue?
You can also share it with us at help@getpostman.com.

[2020-06-09 15:07] harryi3t commented on #7852
@oscarmrom Is the latest version of Postman on snap, this is done by the app itself. So, the users won't have to do this anymore 🎉

[2020-06-09 15:08] thetreythomas commented on #8612
@codenirvana My thoughts exactly, why does it work in 7.25.3, but not 7.26.0.

Unfortunately, these are all internal lab machines that can access the internet, but are protected by a firewall.

I VPN in, connect to a jump box that is running Postman, that is on the same network as all my test servers. And there are no apps like ngrok that work on ESXi.

[2020-06-09 15:09] harryi3t commented on #7534
In the latest version of Postman (on snap), the app does this by default now.

[2020-06-09 15:12] thetreythomas commented on #8612
The user who reported this to me, he wasn't sure what version he was running before updating to 7.26.

I had him reinstall 7.25,0 and it works. I then had him install 7.25.3, and it gives the same error as 7.26.

[2020-06-09 15:44] friedrich-brunzema commented on #2361
The discussion above seems to point to pointing to the well-known endpoint to get info about the IDP url's.   But I think what is needed is a way to exchange the username/password (possibly client secret) for an auth token without UI, so this can work in a headless (newman) way.  I have written such a utility that works against keycloak.  Internally it impersonates a web browser, parses the HTML a

[2020-06-09 16:44] harryi3t commented on #8273
@beruic It would be a different issue if the app is not opening. This is only tracking the outdated version being shown on the Ubuntu Software.

Can you try updating to the latest version: v7.26.0? In this, we have fixed an issue where Postman was not launching on the Linux system using the Wayland protocol. If that still does not fix the issue, please create a new one for that.

[2020-06-09 16:46] asi-postman commented on #6707
@ankurdengla We have a user that is experiencing a similar issue with their install. They have tried the latest stable & canary version as an administrator.

Below is a screen recording of the behavior when trying to locate the log files.

https://www.loom.com/share/6ca80e777e7f4b53811e7f4c68e13e35

![image](https://user-images.githubusercontent.com/52974659/84176339-ecfc8600-aa1c-11ea-8a23-ed7625

[2020-06-09 16:58] drowhunter commented on #6719
to be clear, you shouldn't need to do anything special manually for postman to gather the schema, all post man has to do is run the following query the second you put the url in to your graphql endpoint.

I would expect a refresh schema button that when clicked would run this query again, as when i'm developing i am constantly changing the schema.

here is an example of the introspection query all

[2020-06-09 17:24] arlemi commented on #8267
@marcelom56 Have you tried the link given by @cyrielle-hada above?

[2020-06-09 18:03] apporto commented on #7292
Exact same problem on Linux Mint 18.2

[2020-06-09 18:07] mccannt commented on #8563
Closing. If this is still an issue please re-open with the requested details and we will investigate.

[2020-06-09 18:07] #8563 closed, assigned to nobody

[2020-06-09 18:28] mccannt commented on #8576
@hgorina Just checking on on this as we have been making regular performance improvements.

Have you updated to the most recent version of the app and tried this again?

[2020-06-09 18:41] vvs11 commented on #8613
@tomaszwojciechowski could you elaborate a little more on the feature request? Which values are you talking about here? This will help us design a better solution

[2020-06-09 19:29] vdespa commented on #7987
The error is now "Expected comma" which is still confusing but at least there is an error. Thanks for looking into this.

[2020-06-09 19:54] SabriH10 commented on #8574
Hi @jarlarntzen ,
Thank you for reaching out, happy to help troubleshoot here. Usually, this can be fixed by clearing the local data and re-installing Postman Canary. I believe it should be the following on Windows:

[code]

You can make a copy of the local files just in case ( if you don't want to lose any Data- I'm guessing this shouldn't apply here considering you're unable to install Canary )

[2020-06-09 20:12] dbethel commented on #8591
Thank you, I was able to recover most of what I had lost.  I just wanted to let you guys know what a terrible user experience this was and how much time/work I lost due to the poor user experience.

[2020-06-09 20:18] deeTEEcee commented on #7495
fyi, another issue i hit with the interceptor script was that its assuming that it's moving from file to file but the old `~/.postman/<interceptor>` location seems to have been a directory instead. also, at this point the docs dont provide me a link to the bridge installation.

[2020-06-09 21:48] nrshapiro commented on #6967
+1

[2020-06-09 23:29] deanlyoung opened #8614 "Publish Collection with multiple sets of Environment Variables"
**Is your feature request related to a problem? Please describe.**
I would like to publish multiple Environment Variables to the public docs page. Right now I can only select one via the dropdown.

<img width="1046" alt="79293263-1dde9580-7e88-11ea-8c9e-333a1114cd5f" src="https://user-images.githubusercontent.com/2523456/84210551-d894a980-aa6d-11ea-94da-1d21a322254c.png">

**Describe the solution

[2020-06-10 00:14] ccyeh0901 commented on #6967
please....

[2020-06-10 04:20] codenirvana commented on #8423
@JerryGoyal Looks like you are missing the required [Authentication](https://developer.waveapps.com/hc/en-us/articles/360018856751) by the wave API.

[2020-06-10 06:32] Waog commented on #3414
I had the same problem. My problem was caused by an empty _current value_ in the environment variables. Resetting _current value_ to _initial value_ solved it for me.

:x:  ![image](https://user-images.githubusercontent.com/5098472/84234365-687d3680-aaf4-11ea-9154-bcb36ce503b8.png)

:heavy_check_mark: ![image](https://user-images.githubusercontent.com/5098472/84234382-73d06200-aaf4-11ea-9c2e-3b519

[2020-06-10 06:46] Raja-Simha commented on #8614
@deanlyoung can you explain how publishing multiple environments help your documentation consumers? We would like to understand this use-case better

[2020-06-10 07:05] tomaszwojciechowski commented on #8613
@vvs11 It would be useful if there will exist generator of environment with all variables used in collection- I mean e.g. {{name}} etc, and user would just type values for them, without need to check all requests for used variables.

[2020-06-10 07:44] tomaszwojciechowski opened #8615 "Funcionality to zoom in and zoom out for response body"
It would be useful to have functionality to zoom in and zoom out for response body, similar like it works in IntelliJ IDEs where you can achieve it by using mouse's scroll.

[2020-06-10 07:48] dantench commented on #6102
yes this... very very much need this!

How has this been around since March 2019? for postman to become a tool that can be properly utilized by companies around the globe they need urgently to add in permissions and management of users, just like any other tool their users are likely using or their competitors offer.

[2020-06-10 07:51] twitharshil commented on #7723
@RobinTTY @seanocali @MeromTh @lkiii
We’ve pushed the updates in our stable app v7.25.1 that should fix this issue 🎉.
Feel free to reopen the issue if you are still facing this problem on Postman v7.25.1 onwards.

[2020-06-10 08:04] twitharshil commented on #8135
Hi,
We’ve pushed the updates in our stable app v7.25.1 that should fix this issue 🎉.
Feel free to reopen the issue if you are still facing this problem on Postman v7.25.1 onwards.

[2020-06-10 08:08] twitharshil commented on #8452
Hi @thejorro
We’ve pushed the updates in our stable app v7.25.1 that should fix this issue 🎉.
Feel free to reopen the issue if you are still facing this problem on Postman v7.25.1 onwards.

[2020-06-10 08:11] twitharshil commented on #5332
Hi @murtaza-asar-cox @Jaggle
We’ve pushed the updates in our stable app v7.25.1 that should fix this issue 🎉.
Feel free to reopen the issue if you are still facing this problem on Postman v7.25.1 onwards.

[2020-06-10 08:13] twitharshil commented on #8329
Hey @carboneater
We’ve pushed the updates in the latest canary app that should fix this issue and the same is available in stable app v7.25.1 onwards 🎉
Feel free to reopen the issue if you are still facing this problem on Postman v7.25.1 onwards.

[2020-06-10 08:14] #8329 closed, assigned to harryi3t

[2020-06-10 08:17] twitharshil commented on #7393
Hey @Redsandro
We’ve pushed the updates in our stable app v7.25.1 that has upgraded Electron v7.2.x 🎉.
Feel free to reopen the issue if you are still facing this problem on Postman v7.25.1 onwards.

[2020-06-10 08:42] jarlarntzen commented on #8574
@SabriH10 Thanks for getting back to me. PostmanCanary did install properly it seems, despite the error message.

My main agenda here was to mention that the error message popped up during installation and also, partly, to ask what ffmpeg.dll has to do with Postman? I've only used ffmpeg to transcode video etc in the past.

[2020-06-10 08:42] #8574 closed, assigned to chrisdeso, SabriH10

[2020-06-10 09:33] arlemi commented on #6967
We're already tracking this in #8195, locking this issue. 🙂

[2020-06-10 09:36] zigszigsdk opened #8616 "Incorrect {{var}} highlight in example response json-body with escaped characters"
Description:
The highlight linter doesn't colorize {{variables}} correctly in example json-body responses (possible elsewhere too) with escaped characters. The highlight is early by the number of escaped characters before the {{variable}} and short by the same amount.

Screenshot: https://prnt.sc/sx34hw
![download](https://user-images.githubusercontent.com/4865836/84253460-9632a180-ab2d-11ea-94be-

[2020-06-10 09:42] arlemi commented on #7292
@apporto Please open a new issue with as many details as possible so we can reproduce the issue. If you can't share the details of the request on a public tracker then please reach out directly to our support on `help@postman.com`.

[2020-06-10 09:46] arlemi commented on #8615
You can already:
- zoom in using Ctrl + or CMD + on the whole app
- change the font size by going to the app settings and changing the font-size

Would that solve your issue?

[2020-06-10 09:51] numaanashraf commented on #8574
@jarlarntzen Postman's Desktop Apps is build on [Electron](https://www.electronjs.org/) which internally bundles a version of Chromium to render the UI. `ffmpeg.dll` is a dependency of Chromium.

[2020-06-10 09:55] rkarol123 commented on #8602
hello, i have got the same. With newest Postaman.
here is log( in Polish):

Nazwa aplikacji powodującej błąd: Postman.exe, wersja: 7.26.0.0, sygnatura czasowa: 0x5edb407a
Nazwa modułu powodującego błąd: ntdll.dll, wersja: 10.0.19041.207, sygnatura czasowa: 0xcad89ab4
Kod wyjątku: 0xc0000005
Przesunięcie błędu: 0x00000000000a0007
Identyfikator procesu powodującego błąd: 0x4378
Godzina uruchomienia

[2020-06-10 09:57] ArjanKranenburg commented on #5246
Is there any progress on this?
Just found out that the 'Beautify'-button does the same with the input. Perhaps the 'Pretty' tab from the output re-uses the same code, then the Beautify button is easier to reproduce.
It's also annoying because it took me a while that it had actually changed the values, not just indentations and such.

[2020-06-10 10:02] numaanashraf commented on #8602
@samfry @rkarol123 Could you share your OS version and build numbers?

[2020-06-10 10:03] codenirvana commented on #8612
@thetreythomas Looks like a part of the curl log is missing in https://github.com/postmanlabs/postman-app-support/issues/8612#issuecomment-641336498.

To help us debug this issue better could you share the verbose log (remove the sensitive details) for the following commands:

1. `curl -v -k https://postman-echo.com`
2. `openssl s_client -state -connect postman-echo.com:443 | openssl x509 -text`

[2020-06-10 10:05] samfry commented on #8602
@numaanashraf mine is as per the below:
version: 1809
OS Build: 17763.1158

[2020-06-10 10:22] laurilarjo opened #8617 "Authorization value from env-variable does not get updated to requests"
**Describe the bug**
A big amount of time wasted debugging code, when actual reason was postman not working correctly. The updated environment variable is not getting used in the Authorization header.

**To Reproduce**
I have a collection which sets the Authorization to be "Bearer Token", and uses Token {{access_token}} which is an environment variable, following this guide: https://blog.postman.c

[2020-06-10 10:27] codenirvana commented on #8598
@bloubloed84 To help us debug this issue better could you share the verbose log (remove the sensitive details) for the public certificate details using the following command:

`openssl x509 -inform der -in fv_prod.cer -noout -text`

The above command will list down the `X509v3 extensions` and the `Signature Algorithm` used.

Also, similar to the curl log you shared before, can you try connecting u

[2020-06-10 10:39] marcelom56 commented on #8267
Hey @arlemi  , yes, I tried those steps, but with no success.

The Postman didn't open in the first launch, so there are no local files to be deleted neither a new version to download.

[2020-06-10 10:57] Yuri-Harel commented on #7709
Great, thanks :)

[2020-06-10 11:09] 06MasonG opened #8618 "Windows header / title bar styling"
It seems to be a common occurance for electron developed applications where by the header / title bar has default styling.

Very minor in terms of actual functionality but it's frustrating to see an un-styled header when the rest of the app looks so clean and styled.

Is it possible to apply styling to the header / title bar? Perhaps this package would help - https://www.npmjs.com/package/custom-e

[2020-06-10 11:31] dzykovic commented on #8593
I have the same issue, clicking sync or reset does not help, it hides dialog for a while and then it comes again. I am working alone on collection from a single pc, any update conflicts are not expected. I noticed that when I export collection and compare changes after sync - only field order changed in some places in the json file, values not changed. Also, I noticed that sync is quite slow, can

[2020-06-10 11:48] beruic commented on #8273
@harryi3t I can confirm that the newest snap runs under Wayland on Ubuntu 19.10.

[2020-06-10 12:47] #8618 closed, assigned to nobody

[2020-06-10 15:09] tparikka opened #8619 "Performance Issues When Sorting Variables In Manage Environments Window"
**Describe the bug**
When trying to sort/reorder variables in the Manage Environments window, the entire application locks up. The window lags seconds behind mouse making actually organizing variables nearly impossible. My environment has only about 36 variables in it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Manage Environments window
2. Try to drag/drop an environment varia

[2020-06-10 15:27] ducka opened #8620 ""Failed to generate some collections" on import/openapi while importing Open API specification"
**Describe the bug**
Recently it appears the `import/openapi` endpoint on Postman's API has started failing when our build pipeline attempts to generate collections for our APIs. When we attempt to upload a valid OpenApi specification to the `import/openapi` endpoint the endpoint responds with a HTTP 200, and a response body that states **Failed to generate some collections** for the specification

[2020-06-10 16:55] emzyme20 opened #8621 "Shared Requests Limit Showing every time"
**Describe the bug**
I created a Team workspace and attempted to share a collection. It warned me that I had shared more than the 25 allowed requests. I deleted the collection as I was not in a position to upgrade my plan. I am now back to using just a personal workspace and every time I open Postman it warns me that I have exceeded my sharing allowance.

I no longer have the collection. I have be

[2020-06-10 17:01] xs2bharat opened #8622 "Client Certificate not working. Getting Error: read ECONNRESET or OPENSSL_internal:TLSV1_ALERT_UNKNOWN_CA"
**Describe the bug**
Sometime getting Error: read ECONNRESET  and sometime error message is Error: write EPROTO 1168586488:error:10000418:SSL routines:OPENSSL_internal:TLSV1_ALERT_UNKNOWN_CA:../../third_party/boringssl/src/ssl/tls_record.cc:587:SSL alert number 48

I am using lot of other collections with different client certificates (self-signed as well as public CA) without an issue. But in thi

[2020-06-10 18:53] arena-fh opened #8623 "One in three requests hanging on send"
At my company we use POSTMAN a lot for developing Rest APIs.

Since about 3-4 months ago (around early 2020) POSTMAN requests started hanging when clicking "send". When that happens we need to cancel and re-try. Usually the re-try send the request fine. Other times I need to close the POSTMAN tab and re-open it. Sometimes we get the error "error socket hang up".

I have troubleshooted quite a bit

[2020-06-10 19:17] garipov opened #8624 "Freezes on scrolling"
**Describe the bug**
After scrolling a response result the app freezes and nothing is working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the macOS app.
2. Create new request
3. Paste some url, for example https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=439d4b804bc8187953eb36d2a8c26a02 (the url has been copied from [example](https://openweathermap.org/

[2020-06-11 02:14] ufosaga commented on #2086
I suppose Postman should add a config for this since this is quite useful.

[2020-06-11 02:17] thetreythomas commented on #8612
This is from the curl -v -k
[code]

[2020-06-11 02:29] thetreythomas commented on #8612
From the `openssl s_client -state -connect postman-echo.com:443 | openssl x509 -text`

[code]

[2020-06-11 02:35] marcojsa opened #8625 "msg"
Hi all,

I'm trying to send an API request to Zoho CRM using Postman. Zoho uses the OAuth2.0 Authentication method, and it's very easy to get the access token through Postman using the Zoho CRM Collection, but when I try to make a request a msgbox appears with the following message:

"There was an error in evaluating the Pre-request Script:  undefined: access-token is empty or expired"

I found in

[2020-06-11 04:49] alagu-chandran commented on #8586
@mccannt
Thanks for reaching out, thing is when collection runs from data set it renders payload as following
[code]

The problem is "text1" is not rendered as text in the collection runner for the first field itself. That's the problem we are trying to eliminate

[2020-06-11 05:33] harryi3t commented on #8604
@shaney-mdsol The Postman app available from `brew` is not official and is not maintained by us.

Can you try the steps mentioned in the comment above? If the app still becomes unresponsive, please share the logs at `help@getpostman.com` with the Github Issue ID (8604) in the subject line. You can get the logs from:
- In Postman, click on `View -> Developer -> View logs in Finder`, or
- manually o

[2020-06-11 06:15] pratnala commented on #8319
I am also facing this issue. When I checked the box to authorize using browser, I guess it changes the callback URL? The app complained of differing callback URLs and rejected the auth request.

[2020-06-11 06:52] Ramya-From-Postman commented on #8319
@pratnala,

Upon selecting this option "**_authorize using browse"_**, we will automatically set the callback URL to https://oauth.pstmn.io/v1/callback and you can't change this callback URL as this is necessary to return the generated token information back to the Postman app on successful authentication. So you'll have to whitelist this URL to be used as callback in your respective OAuth provide

[2020-06-11 06:56] pratnala commented on #8319
@Ramya-From-Postman Thanks for replying. I don’t have control to change the callback URL in the app I am calling. I would like it to work without using that option

[2020-06-11 07:22] pranaya94 commented on #8549
@scb-haukland Can you confirm if you have the header `Content-Type: application/xml` set in both:
1. The request sent to the mock server
2. The example request

[2020-06-11 07:48] GcfWarDelicacies opened #8626 "Encode plus sign in query parameters automatically"
**Describe the bug**
failed to encode URL component

**Screenshots**
all turn on
![image](https://user-images.githubusercontent.com/59929978/84358738-2807e080-abfa-11ea-8a7f-bfcc7b0a1201.png)

when I encode URL component manually, it's ok
![image](https://user-images.githubusercontent.com/59929978/84358835-4e2d8080-abfa-11ea-988e-a682fc0fcde4.png)
but when I do not, it's not ok
![image](https://us

[2020-06-11 08:08] codenirvana commented on #8626
Looks like the query processor used in the requester server treats `+` as `spaces`.
According to the URL Standards, `+` is a safe character and does not require mandatory percent-encoding.

This is similar to every other client and browsers. Are you expecting Postman to automatically encode `+` in query parameters?

[2020-06-11 08:15] pythoneer commented on #2985
@pankajk07 can confirm, this fixed it for me – thank you very much to all involved!

[2020-06-11 08:16] tmladenovWL opened #8627 "Postman isn't syncing collections (duplicated, imported, etc) from v7.26.0"
**Describe the bug**
Starting around the 04th of June, I or anyone on my team, we are having issues creating / duplicating / importing and then syncing to Postman's cloud any collections via Postman GUI to be visible for everyone on team's workspaces. The 'update' button is turning all the time but no collection appears on Postman's portal, or appears after a huge amount of time, meaning that ther

[2020-06-11 08:24] arlemi commented on #7754
@TomLaMantia @vsarunov Could you try the suggestions from that page? https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

[2020-06-11 08:27] garipov commented on #8624
Tried to update my OS to macOS Catalina 10.15.5. But nothing changed :(

[2020-06-11 08:35] scb-haukland commented on #8549
Thank you @pranaya94, this solved my isuue

[2020-06-11 08:35] #8549 closed, assigned to nobody

[2020-06-11 08:36] dmoryani opened #8628 "POSTMAN closed all of a sudden. Unable to Launch. Its been more than 25 minutes."
**Describe the bug**
Unable to launch POSTMAN ( Application).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
It should launch faster.

**Screenshots**
![image](https://user-images.githubusercontent.com/31031890/84363492-6654ce00-ac01-11ea-8569-95f3ee3ff906.png)

POSTMAN version: 7+
MacBook Pro versio

[2020-06-11 08:55] arlemi commented on #8621
Are you still seeing this today? The message may take a little while to go away.

If you're still seeing it, could you double check you do not have another team workspace?

[2020-06-11 09:10] Sofianio commented on #2086
@ufosaga you're Wong ... 😂  😂

[2020-06-11 09:29] GcfWarDelicacies commented on #8626
@codenirvana
yes, I want postman to encode every param
I try in chrome
![image](https://user-images.githubusercontent.com/59929978/84369108-f5b1af80-ac08-11ea-9d49-e294fcba5f05.png)
same problem

[2020-06-11 10:22] arlemi commented on #2086
When comparing two **opened** requests, switching between tabs shouldn't be reverting to the Params tab.

![keepbody](https://user-images.githubusercontent.com/5029719/84374371-ce8dba80-abd5-11ea-8ce6-91b1030a99c9.gif)

[2020-06-11 10:26] labifrancis commented on #8579
@rfmartorelli Collaboration only works with members on the same team at the moment there is no way to link two different teams and collaborate.  However, we have an open request where you can create guest accounts - https://github.com/postmanlabs/postman-app-support/issues/6232

[2020-06-11 10:32] avinash-postman commented on #6096
Hi @kuceram, I see you are using github to share your collection and environments now, I imported them and created a RIP button using that, which seems to be working, try
[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/fa1d593f968f74fc2eda#?env%5Bamio%5D=W3sia2V5Ijoic2VydmVyX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9hcGkuYW1pby5pbyIsImVuYWJsZWQiOnRydWV9LHsia2V5Ij

[2020-06-11 10:45] emzyme20 commented on #8621
It's still there. This happened 2 weeks ago and I deleted the shared collection immediately when I realised that I couldn't use the feature on basic plan. Everyday I get that message and I think it's because I can't delete the workspace as it's the default one even though it has nothing in it anymore.

![image](https://user-images.githubusercontent.com/3832400/84376451-13672080-abd9-11ea-85a0-58c6

[2020-06-11 10:54] rfmartorelli commented on #8579
I'm aware.  Hence the enhancement request

On Thu, Jun 11, 2020, 6:26 AM Labi Francis <notifications@github.com> wrote:

[2020-06-11 11:08] arlemi commented on #8621
@emzyme20 Can you check if any collections are showing when you access that link? https://go.postman.co/team/elements?type=collection

[2020-06-11 11:17] emzyme20 commented on #8621
Yes, I see my personal workspace collections and I have circled the 2 collections that I created in the team workspace but have subsequently deleted..

![image](https://user-images.githubusercontent.com/3832400/84379233-6347e680-abdd-11ea-9a37-8dc6e4aa8d03.png)

There is no option to delete from here either. If I click on the links, I get taken to a page that has no requests in it,

[2020-06-11 11:56] codenirvana commented on #8622
@xs2bharat To help us debug this issue better could you share the following details:

1. Did you encounter this recently (after the upgrade), or has this bug always been there?
2. Is this request fails every time with either `ECONNRESET` and `EPROTO ` error, or does is ever respond successfully?
3. Is this request fails even after disabling the "**SSL certificate verification**" global setting?
4.

[2020-06-11 12:05] marionzr commented on #285
![alt text](https://media.tenor.com/images/4dee19256934d8136f48146aef35f7b8/tenor.gif)

[2020-06-11 12:11] glnemeth commented on #6465
So there is still no solution for this? Postman 7.26 freezes for me if I output larger debug data. I downloaded a version 7.23 which works perfectly, but it auto updates itself to the buggy 7.26 version instantly. So next time I have to get 7.23 again to use it until I restart it.
This is very annoying.

[2020-06-11 13:03] CLannadZSY commented on #6465
Yes, it will still be updated automatically.
Maybe you can open a new issue and hope to attract the attention of the development team to fix it

[2020-06-11 13:11] arlemi commented on #6465
We're already tracking this as a feature request here https://github.com/postmanlabs/postman-app-support/issues/6999

[2020-06-11 13:20] jwbanning opened #8629 "I can't tell what Collection (or Folder) a given request is for"
**Is your feature request related to a problem? Please describe.**
I deal with a lot of open tabs (requests) at times. Unless I have the related Collection and Folder (if any) open already and  scroll up/down the navigation of the Collections, I can't tell what Collection (or Folder) a given request is for. I need to  look at the request and start opening Collections and Folders to find where "its

[2020-06-11 13:26] gagantk opened #8630 "Files not selected after choosing the file in form-data file value field"
**Describe the bug**
Select Files button in form-data options is not accepting any file to be selected there. I have tried several times and with several file extensions too. The file doesn't appear in Postman after I select from File Explorer popup. I have tried uninstalling and reinstalling Postman. But none of these worked.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on New Requ

[2020-06-11 15:47] arlemi commented on #8621
Looks like you ran into a rare case of orphaned collection! Can you try sharing these collections to one of your workspace (either personal or team), then make sure you use the `Delete` entry and not `Remove from Workspace`.

Let us know if that solves it!

[2020-06-11 16:01] emzyme20 commented on #8621
Yes, that solved my issue - thanks so much. I moved it to a personal workspace and deleted as you suggested.

[2020-06-11 16:01] #8621 closed, assigned to arlemi

[2020-06-11 16:13] xs2bharat commented on #8622
1. Yes, i encounter this recently after auto-upgrade because i remember making successful calls prior to 7.26.0.

2. The call always failed mostly with ECONNRESET but sometimes with EPROTO error.

3. Yes, i have disabled global SSL certificate verification setting

4.will email logs at help@getpostman.com

[2020-06-11 16:33] venkatcc commented on #2985
Yes!! It indeed is fixed!! Thanks.

[2020-06-11 17:12] ernestm opened #8632 "Postman Monitor Intermittent Environment Variable Parsing Failure"
**Describe the bug**
Postman monitors occasionally seem to just fail in their ability to parse variables in and the monitor fails, and then it gets its act together and recovers.  But the pages torment our engineers.

**To Reproduce**
I have some monitors hitting our /ping endpoint over time to monitor them.  But sometimes, for example today at 10:16 AM CT, the monitor starts throwing errors parsi

[2020-06-11 17:15] mccormack-colin commented on #4636
BUMP. Need this functionality

[2020-06-11 17:26] garycsebastian opened #8633 "After update doesnt connect to publish API"
We worked through a proxy and it all worked fine until it stopped connecting to publish an API.

![image](https://user-images.githubusercontent.com/25212475/84419669-8fb03280-abde-11ea-86e8-aa13dfef6b87.png)

it appears and I dont know for what...

Theres a new port that you using lately?

[2020-06-11 18:24] zipzapp commented on #8620
Perhaps related to this issue, I can no longer Generate a collection from a valid openAPI 3.0 JSON schema. I'm seeing a similar error message to "Failed to generate some collections" but at the end I believe it says "returned undefined". Where can i find a the error message log? I can post more details but I'm not sure where to look. This is a big part of our workflow, we need to generate collecti

[2020-06-11 18:42] Raja-Simha commented on #8614
Duplicate of #4818

[2020-06-11 18:42] #8614 closed, assigned to Raja-Simha

[2020-06-11 18:55] Raja-Simha commented on #8476
@chaffeqa @sjoller We are aware of this limitation in documentation. We are looking into a solution to this. I will keep you guys posted.

[2020-06-11 19:17] chaffeqa commented on #8476
thx @Raja-Simha !

[2020-06-11 19:22] zionitcorp commented on #4009
+1

[2020-06-11 19:24] fvalmeida commented on #1854
The comments in the issue (#6987) clarified some concepts for me, Postman seems to do the right thing:

[2020-06-11 19:25] zionitcorp commented on #5040
+1

[2020-06-11 20:12] FelixButzbach commented on #3917
I just experienced the same problem. I deleted all of the examples for one request and added new ones (without the mock server api key) but the old example requests are still appearing with the x-api-key header.
The new examples are there, too, but after the old examples.
Do you need any other information for debugging this?

[2020-06-11 20:42] shaney-mdsol commented on #8604
Hi - tried pulling down releases from https://dl.pstmn.io/download/version/<n.nn.n>/osx64
![image](https://user-images.githubusercontent.com/10455704/84436976-5093d880-ac02-11ea-8412-3e68e394069c.png)
7.0.6 thru 7.23.0 work
7.24.0 hangs requires force quit

[2020-06-11 20:52] Joennuh opened #8634 "Postman 7.26.0 64-bit installer doesn't create shortcuts"
**Describe the bug**
I'm a first time user of Postman and installed the 64-bit version of Postman 7.26.0 on my laptop with Windows 10 Home version 1903. After installation I played around a little bit with Postman en close the application. When I needed Postman again I discovered I can't find it anywhere on my desktop or startmenu.

**To Reproduce**
1. Install Postman 7.26.0 64-bit version on  Win

[2020-06-11 21:32] umeshp7 commented on #8620
@zipzapp @ducka Sorry you are facing these issues.
We have identified the issue and working on a fix to get the import working as soon as possible.
We'll have an update for you soon.

[2020-06-11 22:01] olivoil commented on #8536
I'm also getting `Maximum call stack size exceeded` using the postman app and `graphql-to-postman` when trying to import a graphQL file

[2020-06-11 22:16] tomharel opened #8635 "Support the JSON:API standard as a JSON content type"
**Is your feature request related to a problem? Please describe.**
When using Postman to publish API docs with the [JSON:API](https://jsonapi.org/) standard, we have to specify:
```Content-Type: application/vnd.api+json```

This leads to Postman weirdly formatting example requests as text (i.e. not understanding that the body is actually a JSON object), which makes it hard for implementers to copy

[2020-06-11 23:28] mccannt commented on #8586
@alagu-chandran
The preview screen, when working with a data file, assumes a type based on what it sees in the field. This is not necessarily absolute and assumed everywhere.

So when you make your calls, if you are expecting a type = string for the field "text1". My advice would be to wrap it in quotes to avoid this from happening and then you can ensure that it will be treated as a string, much

[2020-06-12 01:45] joel-wenzel commented on #7870
Same thing happened to me. 2 processes were running in the background consuming 100% of ram.
Postman version: v7.26.0

[2020-06-12 02:41] lflucasferreira commented on #4193
I would really appreciate this feature. Today I needed it. So, I am trying to make one working around.

[2020-06-12 02:59] codenirvana commented on #8626
Considering this as a feature request.
Note: Since this is non-standard, this feature will be enabled via a per-request setting.

[2020-06-12 03:02] LuomingXu commented on #8626
I think this feature will be very useful.

[2020-06-12 04:35] wildan3105 commented on #8195
please also consider to develop this in the near future. would be very helpful for developers. thank you.

[2020-06-12 05:29] twitharshil commented on #8634
@Joennuh Thanks for reporting this issue to us. Could you share the **SquirrelSetup.log** file which is present at **%LOCALAPPDATA%\SquirrelTemp\SquirrelSetup.log** to help us identify the issue
![squirrel_path_app_directory](https://user-images.githubusercontent.com/25850676/84468087-918bfb80-ac9b-11ea-8832-fbbd2cf7392a.PNG)
Also please share  the **SquirrelSetup.log** which is present at **%LOCA

[2020-06-12 05:57] srikanta72 opened #8636 "Deprecated notice in Node request code and introduce node-fetch code"
Node request API has been deprecated since Feb.

So could you guys please show "deprecated" notice in Node "request-module" code and introduce the "node-fetch-module" code.

I am not able to add the screenshot. Let me know if I am not clear. I will add more info.

[2020-06-12 06:13] srikanta72 opened #8637 "Node native code not working or missing some part"
The below code is shown as part of node native code but does not work as part of node script.
I guess the import might need a change.
[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what

[2020-06-12 06:15] srikanta72 commented on #8637
The below code started working. Please change the feature accordingly.

[code]

[2020-06-12 06:22] srikanta72 commented on #8637
The use of **_var_** is not recommended in Node js and should be used **const** at least at import level while using _require()_.

[2020-06-12 06:44] srikanta72 commented on #8637
Please use the native api examples as given in
https://nodejs.org/en/knowledge/HTTP/clients/how-to-create-a-HTTP-request/

[2020-06-12 08:25] shreys7 commented on #8637
For generating the snippets using `const`, `let`, etc. you can use the option `Enable ES6 features` for Nodejs Native. Enable it and the snippets will be using the declarations as you mentioned. Click on the Settings icon and the options will appear as shown below
![image](https://user-images.githubusercontent.com/20665864/84481793-416d6300-acb4-11ea-82e0-4a99e30c11d3.png)

[2020-06-12 09:41] anudeepmedicharla commented on #7649
Just to make sure I understood this right. We're talking about the ability to customize the recipients for daily summaries and probably also for weekly summaries right?

[2020-06-12 09:42] luto65 commented on #2906
I use SMART Json Editor in order to modify postman collections.
Perhaps one could use also Atom or Eclipse.

[2020-06-12 09:51] labossieresr commented on #8629
Another possible solution is when you click on the tab (request), open the collection, folder(s) and highlight the request in the navigation pane that the tab (request) is for.

[2020-06-12 10:09] akashgkrishnan commented on #4094
[code]

test
[code]

This works fine on normally hitting the API
but on using the collection runner gives out an error

`TypeError: Cannot read property 'id' of null`

[2020-06-12 10:38] GranitBerisha opened #8638 "Favorite Collections unfavorited if you reimport it"
If I have a collection that I imported and favorited, after I reimport, it will be removed from favorites and I have to favorite it again.

Its a small issue but wanted to have this resolved thanks :)

[2020-06-12 11:42] jayarjo commented on #4423
This issue is still actual

[2020-06-12 11:45] jayarjo commented on #8302
How many times this bug has to be reponed?

[2020-06-12 12:02] srikanta72 commented on #8637
I could not see this ES6 option. Could you please confirm this is from the latest update else I will check the latest version and comment here.

[2020-06-12 12:08] shreys7 commented on #8637
Can you see if the setting `New Code generation mode` is enabled in the global settings as shown below? I am on the latest version of postman App - 7.26.0

![image](https://user-images.githubusercontent.com/20665864/84501077-7937d300-acd3-11ea-8b0a-04b4181d71e1.png)

[2020-06-12 12:11] srikanta72 commented on #8637
Thank you for the confirmation. I will check and get back to here.

[2020-06-12 12:30] arlemi commented on #8638
Any imported entity is considered as a new one by Postman (it will have a different ID etc.). Therefore it can't star it automatically.
I'd recommend having a look at Version Control instead: https://learning.postman.com/docs/postman/collections/version-control-for-collections/

[2020-06-12 12:30] #8638 closed, assigned to nobody

[2020-06-12 12:31] sonalezops opened #8639 "Postman Collection export Collection variables even after deletion"
**Describe the bug**
Postman collection while creating defined collection variables but later on deleted collection variables and still in collection export has the variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' Postman and create a collection
2. Define collection variables in request pre-script and set the value
3. Now define the same variable and value in Environmen

[2020-06-12 12:32] recrsn opened #8640 "Feature Request: Showing request headers and body after variable substitution"
**Is your feature request related to a problem? Please describe.**
Using variables like `guid` in the request headers & body is absolutely a great feature. However, it's not really clear what was sent to the server after the substitution has taken place. The only way to currently determine is to look inside the Postman console. While bulk-running requests from a collection it becomes confusing.

*

[2020-06-12 12:56] brown057 opened #8641 "After importing collections Postman deletes all collections including what was just imported"
**Describe the bug**
After most recent update, any collections I import will be deleted about a min or two after they were imported as well as any collections that were currently in postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Import 1 or more collections from file explorer.
2. Send a request from imported collection

**Expected behavior**
I expect the collections I import to not

[2020-06-12 13:12] GranitBerisha commented on #8638
Not sure what you mean but considered new? We have a dialog that tell us that this collections is already here, and with a message do you want to replace or make a copy!.

So we know that we have another collection just want to add this favorite attribute too, but as I said this is not a big issue thanks

[2020-06-12 13:34] ash007-postman opened #8642 "Browsing folders via Collection Runner is very slow"
**Describe the bug**
**User** : Browsing folders via Collection Runner is very slow, results in slowing down the ability to test effectively.

**To Reproduce**
Created a collection which has 2000 plus request and folder navigation slowness can be replicated via Collection Runner.

**Expected behavior**
Should navigate the folders without any delay

**App information (please complete the following

[2020-06-12 13:36] recurse-id commented on #8596
Oh yes, it's not a problem for all languages. Please check for it where the filter language is Python.

[2020-06-12 14:11] fawbfico opened #8643 "Application is freezes when multipart text type have more than 4500 lines"
Application is freezes when multipart text type have more than 4500 lines

Steps to reproduce:
1. Select request type as POST
2. Select form-data under body
3. Have text type key-value set with more than 4500 lines in value
4. Observe application freezes

[2020-06-12 14:16] #8643 closed, assigned to nobody

[2020-06-12 14:54] dy20082250 opened #8644 "using flask as server,let chrome and postman go to visit the service postman can not get response"
the server code using python and flask

`import hashlib
import hmac
import json
import random
import string
from functools import wraps

from flask import Flask, make_response, request

SECRET_KEY = "DebugTalk"

app = Flask(__name__)

""" storage all users' data
data structure:
    users_dict = {
        'uid1': {
            'name': 'name1',
            'password': 'pwd1'
        },
        'uid2

[2020-06-12 14:57] gone-skiing commented on #1321
@codenirvana and postman team, any interest in bringing newman types up to date?
I added requestAgents. Anything else changed since 4.5?
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/45436

[2020-06-12 15:41] curiousdev opened #8645 "Navigation from test-result failure to the Test"
**Is your feature request related to a problem?**
We have large test-suite files. Navigation is becoming difficult. Specifically, when navigating from a test-failure back to the implementation of the test's expectation.

**Describe the solution you'd like**
Just like in an IDE, you can right-click 'go to definition' to see an source implementation. I'd like to navigate from a test result failure t

[2020-06-12 15:45] brown057 commented on #8641
Issue was resolved by reinstalling postman.

[2020-06-12 15:45] #8641 closed, assigned to nobody

[2020-06-12 15:56] inmanity-us opened #8646 "Read A File In Pre-Execute Script"
I am testing a series of restful calls that stream files from place to place and I need to be able to emulate the NoSQL aspects of this effort by retrieving a file during pre-execute and then passing that stream to the POST.  One example can be found here - https://docs.cask.co/cdap/develop/en/reference-manual/http-restful-api/stream.html

Is there any way to support this type of functionality?

[2020-06-12 16:02] jgalvacky-bt commented on #2906
+1 Any update on this? This has become quite the pain point while using any versioning tools.

[2020-06-12 16:17] cpmoore opened #8647 "Text Block Support for JSON"
Sometimes it's necessary to send a large payload in JSON (with new lines and embedded quotes) that can look nasty inside the payload, therefore I'm proposing an implementation of text blocks for JSON payloads.
They would work by using triple quotes to surround the payload, after this all internal quotes would be automatically escaped

For instance
[code]

[2020-06-12 16:23] arlemi commented on #8638
New as we assign it a new Collection ID, new Request IDs etc., and do not copy anything over. All that Postman detects is that you're importing a collection with the same name, which isn't enough to conclude that this is the same collection (see gif below).

![import](https://user-images.githubusercontent.com/5029719/80374083-02af5500-888e-11ea-854b-7172d6ef8200.gif)

Would updating the text in th

[2020-06-12 16:26] sneed424 commented on #6543
Is there an update on this bug getting fixed. Our team just migrated to the shared collections and our bearer tokens are being overwritten by the last person that updated the collection with a new token

[2020-06-12 17:46] El-Glory commented on #4401
Same here. Been acting this way for a while now

[2020-06-12 17:51] numaanashraf commented on #4401
@El-Glory Could you let us know the following details?
1. Your Postman version
2. Your OS and its version
3. Are you using any proxies or behind any corporate firewall or VPN?

[2020-06-12 17:57] El-Glory commented on #4401
Version 6.7.6
OS - Ubuntu, Linux 18.04.4 LTS

On Fri, Jun 12, 2020 at 6:51 PM Numaan Ashraf <notifications@github.com>
wrote:

[2020-06-12 18:03] numaanashraf commented on #4401
@El-Glory Could you try installing the latest version via Snap? https://snapcraft.io/postman

[2020-06-12 18:14] vincenzo-scia commented on #8619
Same behaviour here,

    App Type: Native App
    Postman Version 7.26.0
    OS: MacOS X 10.15.5 / x64

Thank you

[2020-06-12 21:38] asi-postman commented on #4254
Hi team, We another user that is experiencing the same type of issue.

When running collections in collection runner, Randomly few of the requests are failing.
When I compare with the same successful request, failed request is missing “Content-Length” header.

![image](https://user-images.githubusercontent.com/52974659/84548320-0c0b4a00-aca1-11ea-825d-0325fb868016.png)
![image](https://user-images

[2020-06-12 23:39] gotexis commented on #412
could we have a feature that allows *automatic* transformation from single quotes / no quotes to double?

[2020-06-13 00:18] bc-lparsons commented on #4780
+1

[2020-06-13 02:00] nicorodrigues commented on #4009
+1

[2020-06-13 12:55] bnnsz opened #8648 "Importing From swagger doc not working"
**Describe the bug**
Am trying to import my swagger docs, But when I copy and paste rawtext or link and click the
continue button, nothing happens

**To Reproduce**
Steps to reproduce the behavior:
1. Click on import on the top left ''
2. Select the rawtext tab
3. Paste the raw api-doc json
3. Click on continue
4. Nothing happens

**Expected behavior**
A new collection of apis should be created

*

[2020-06-13 14:37] panmanphil commented on #1180
I'll add to this request. We have existing scripts that create bearer tokens we can use for local testing, but the best I've been able to do is have those scripts load to the clipboard so I can manually paste into an environment variable. Would love to be able to read from a system environment variable, or a file. Or the clipboard, or shell out to run a script. anything!

[2020-06-13 14:46] #8454 closed, assigned to preethammavin

[2020-06-13 14:52] #7590 closed, assigned to anudeepmedicharla, preethammavin

[2020-06-13 15:54] alagu-chandran commented on #8586
@mccannt

It's working as expected. thanks for clarifying us.

[2020-06-13 15:54] #8586 closed, assigned to mccannt

[2020-06-13 16:05] Dip686 opened #8649 "Prescript / test JS Syntax validator"
**Is your feature request related to a problem? Please describe.**
I am working on the pre-script/test section of the postman app. I forgot to declare a variable and used it in multiple lines. I got to know about it from the postman console  when I triggered the request and it failed. It is more painful when the request can only be run consuming output of other requests.

Cost: getting to know abo

[2020-06-13 16:10] Dip686 opened #8650 "Common Function declaration:"
**Is your feature request related to a problem? Please describe.**
Postman variable reuse feature helped me a lot. But I am stuck in case of reusing functions. For example I was using a random number generator function in my collection. Which is used across different requests. There may be some hacky way to use it though. But it would be great if we can get common function declaration option that

[2020-06-13 16:14] Dip686 opened #8651 "PreScript Executor"
*Is your feature request related to a problem? Please describe.**
I have heavy scripts/operations written in prescript, I want to run prescript to figure out everything is working fine. To know about the pre-script is working is coming  at a cost of hitting apis multiple times and consuming users time when it is a dependent request (will only execute getting response of previous request). Users wi

[2020-06-13 17:06] umeshp7 commented on #8620
@ducka @zipzapp
We have added a possible fix to this issue. Could you please try importing your schema through the Postman import API and see if it works now?

[2020-06-13 17:31] ducka commented on #8620
Awesome @umeshp7, it looks the issue has been resolved. Our deployment pipeline is generating postman collections again.

[2020-06-14 01:05] abhidp opened #8652 "Close 'Environment quick look' window by hitting Esc key"
**Is your feature request related to a problem? Please describe.**
No. Its not a problem. Its a nice to have and improves productivity by minimising mouse clicks.

**Describe the solution you'd like**
After editing the Environment variables via the `Environment quick look` window, I want to quickly close/dismiss this window by pressing the `Escape` key from the keyboard, rather than clicking outsi

[2020-06-14 08:38] itinance opened #8653 "Postman will loose all collections after running into an API error"
**Describe the bug**

After upgrading to latest version 7.26.0 I experience the following bug:
Collections will be removed automatically without any further notice when one of them caused a failure due running.

**To Reproduce**
Steps to reproduce the behavior:

1. import collections (we have 3 e.g.)
2. run one of them in Postman Runner, expecting that a specific API call in this collection will c

[2020-06-14 08:39] itinance commented on #8653
Btw, is there a place where we can download older versions? I'd like to test this behaviour with older versions and would give feedback here

[2020-06-14 10:34] marson77 opened #8654 "The blurred window of the Postman"
**Describe the bug**
When the window of Postman is opened it is blurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Postman
2. See the blurred window

**Expected behavior**
The window of Postman is clear

**Screenshots**
![Новый точечный рисунок (2)](https://user-images.githubusercontent.com/60729600/84590981-8247b200-ae43-11ea-85df-11acd4ab6c99.png)

**App information (please

[2020-06-14 12:26] vvs11 commented on #8629
similar to #8486

[2020-06-14 12:30] vvs11 commented on #8630
@gagantk I am able to see the file in form-data.
Could you share a video where this is happening in your system?

<img width="1114" alt="Screenshot 2020-06-14 at 5 59 59 PM" src="https://user-images.githubusercontent.com/4140290/84593248-dfa22a00-ae68-11ea-87f9-2a9187043bca.png">

[2020-06-14 12:34] vvs11 commented on #8627
@tmladenovWL could you write to help@getpostman.com? We will be able to help you better there

[2020-06-14 12:44] vvs11 commented on #8639
@sonalezops I am not able to reproduce this. Could you add a video where we can see this happening?  It will help us in figuring out the steps that we are missing.

[2020-06-14 14:33] gagantk commented on #8630
While reporting this issue I was on 7.25, now I'm on 7.26 but still this issue exists with me.

@vvs11 I have attached a video of my issue, please check below.

![video (1)](https://user-images.githubusercontent.com/41661218/84596221-0ddc3580-ae7a-11ea-9204-61b1e5fa12fa.gif)

[2020-06-14 14:41] ruwanka commented on #6134
@arlemi Thank you. It would be great if these two were first class features in postman.

[2020-06-14 15:53] Joennuh commented on #8634
Here is the log for Postman:

[code]

[2020-06-14 18:19] theoden-dd commented on #5273
It does not work at least with **snap**. Tested today on **Ubuntu 18.04** and **20.04**.

1. The button perfectly generates postman://app/collections/import/... link.
2. _Firefox_ browser shows a window to choose a program, with Postman selected by default.
3. User presses "OK" and... nothing. Tested with Postman launched before and without one. The same result.

Bonus: _chromium_ isn't aware of "

[2020-06-14 20:18] lyzkov commented on #8098
It will be nice to get any clues about validation issues. Without them, this feature is nearly useless.

[2020-06-14 23:38] bensullivan commented on #8642
Hi - just to clarify - problem is not large number of collections or folders but a single collection with 3000 requests for various workflow tests we have.

[2020-06-15 02:05] mikej0hnst0n opened #8656 "Parse Error: Header overflow"
Since Version 7 of Postman I am experiencing an issue with header size from Some Huawei cloud service APIs. The error manifests itself with Postman as '**Error: Parse Error: Header overflow**'. Deeper inspection using curl shows that there is an element in the response header 'X-Subject-Token' which is just over 8Kbytes in length. This authorisation token is required in the header of subsequent AP

[2020-06-15 02:52] codenirvana commented on #8656
@mikej0hnst0n Thanks for reporting this issue. This is a regression introduced in Postman v7.25.0 and will be fixed as soon as possible.

Till then, please use the manual workaround detailed below to specify the maximum HTTP header size (in bytes)

The workaround includes passing an additional environment variable `NODE_OPTIONS=--max-http-header-size=16384` (16KB) to Postman while launching. Here’

[2020-06-15 03:07] lkaratun opened #8657 ""Unknown type 'String'" error in GraphQL request body editor"
**Describe the bug**
Getting an error `Unknown type 'String'` in GraphQL request body editor

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new endpoint, go to body editor
2. Change body type to "GraphQL"
3. Enter the following in the "Query" panel:
[code]

4. See red squiggly line with error `Unknown type 'String'`

**Expected behavior**
No error

**Screenshots**
![image](https://

[2020-06-15 03:33] okayabc opened #8658 "HTTPS request sending error: EPROTO public key routines:OPENSSL_internal:DECODE_ERROR"
Error: write EPROTO 85141464:error:06000066:public key routines:OPENSSL_internal:DECODE_ERROR:../../third_party/boringssl/src/crypto/evp/p_rsa_asn1.c:96:
The postman version is 7.26.0.

[2020-06-15 03:46] codenirvana commented on #8658
@okayabc Can you share more details about the request.

Is this happening for the requests which require the client certificates? If yes, what's the certificate format used?

[2020-06-15 03:57] okayabc commented on #8658
Where to execute this command?
And the captured packet is displayed here:
![postman](https://user-images.githubusercontent.com/4360696/84616695-496d1300-aeff-11ea-9bac-54c690ea04ff.png)

[2020-06-15 04:02] okayabc commented on #8658
* Rebuilt URL to: https://172.16.70.47:8200/
*   Trying 172.16.70.47...
* TCP_NODELAY set
* Connected to 172.16.70.47 (172.16.70.47) port 8200 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* TLSv1.2 (OUT), TLS handshake, Client hello (1):
* TLSv1.2 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshak

[2020-06-15 04:05] okayabc commented on #8658
* Rebuilt URL to: https://172.16.70.47:8200/
*   Trying 172.16.70.47...
* TCP_NODELAY set
* Connected to 172.16.70.47 (172.16.70.47) port 8200 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* TLSv1.2 (OUT), TLS handshake, Client hello (1):
* TLSv1.2 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshak

[2020-06-15 04:43] ankurdengla commented on #8628
Hey @dmoryani !
Sometimes inconsistencies in the underlying storage of the app can prevent the app from launching. User can unblock themselves by following this troubleshooting guide - https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

We are tracking this here - #6723

Closing this as a duplicate.

[2020-06-15 04:43] #8628 closed, assigned to nobody

[2020-06-15 07:27] pss-miracle commented on #675
Hello,
Came across this one - this is also a feature we would like to vote for; custom templates would help us maintain better code quality

[2020-06-15 07:54] andreaippo commented on #5827
Hi, this issue still exists and is impacting my daily work considerably, and I am sure that many other users feel the same way, so I don't understand why it has been closed without further explanation.
My postman installation (v7.26.0) on Windows 10 is painfully slow when loading the list of variables for an environment (a hundred of variables maybe, some of them are relatively big Json strings).

[2020-06-15 08:28] mohitranka commented on #5827
@andreaippo Sorry about the issue you are facing. The team has picked up the issue internally, and I am expecting it to be available for 7.30.0 or earlier. We will keep you posted.

[2020-06-15 08:35] stephyswe commented on #6616
Cant you CHANGE or rather SOLVE this on other ways?

Adding a pre-script, changing environment varible ?

?

[2020-06-15 08:52] tmladenovWL commented on #8627
Hello vvs11,

Thanks for your reply. I have just sent an email to this email address as you advised.

Best Regards,
Tihomir

[2020-06-15 09:27] edamreed commented on #8246
Hi, I agree with the original reporter.
The Free Team features are great (I'm not ungrateful) but I have to keep deleting the History as it quickly reaches the limit (I'm running the same requests over and over).
Not having the option for me to switch off Shared History on a Team Workspace is a pain.

I want to share the request definitions amongst the team, I don't want/need to share the History.

[2020-06-15 10:44] tomaszwojciechowski commented on #8615
Yes. Thank you.

[2020-06-15 10:45] arlemi commented on #8098
@lyzkov We're working on improvements for validating collections against schema, hoping to release a new version sometime this month, more info in #6722 .

[2020-06-15 10:46] #8615 closed, assigned to nobody

[2020-06-15 10:47] tomaszwojciechowski opened #8659 "Functionality of filtering requests in collections by methods"
It would be useful to have functionality of filtering requests in collection by methods (GET, POST etc.).

[2020-06-15 11:13] mccannt commented on #8582
Closing this issue as it has now been resolved in version: Dashboard v2.29.0
Please feel free to reopen with the steps to reproduce if the issue persists.

[2020-06-15 11:13] #8582 closed, assigned to ArjunSingh-PM

[2020-06-15 12:04] cyrielle-hada commented on #8619
@vincenzo-scia @tparikka Would it be possible [to raise a support ticket](https://go.pstmn.io/help-center-signin-newrequest) and send [your logs](https://support.getpostman.com/hc/en-us/articles/360033270134-Where-can-I-find-logs-for-the-Postman-app-) as well as a screen record that shows how to replicate the behavior?

[2020-06-15 12:27] zomby22 commented on #412
I cant remember why I post my previous comment, but double quotes works. In my case I am using adodb.command to write my columns with html and using the json array.

example: Select CASE WHEN dblang='e' THEN '<a href=""a

[code]

[2020-06-15 13:30] cyb3rs4pi3n opened #8660 "postman freezes in mac"
**Description**
Version 7.26.0 (7.26.0)
Mac OS: 10.14.6
App Type: Desktop App

**Reproduce**
Open postman
1. Sign in
2. Hit APIs
3. Freezes intermittently

This is happening after the update. Have to force close it and restart after about 2-3 API request.

[2020-06-15 13:43] pankajk07 commented on #8660
We are tracking this here - https://github.com/postmanlabs/postman-app-support/issues/8624.
Closing this issue as a duplicate.

[2020-06-15 13:43] #8660 closed, assigned to nobody

[2020-06-15 13:46] suresh12391 opened #8661 "Provide or load API response JSON schema from a file"
Currently, the response schema configured in the test script section. If we move that to a file for request level or collection level. That will help lot more people.

Even, I'm trying to find out a workaround for myself.

[2020-06-15 14:08] avinashgupta-gep opened #8662 "Tool does not holds imported collection."
**Describe the bug**
When we import the collection or variables JSON file into Postman, it vanishes. I am using latest version "v7.26.0"

**To Reproduce**
Steps to reproduce the behavior:
1. Import existing collection/variable file.
2. After few seconds, the tool wont show imported files.

**Expected behavior**
The imported files should be available in the tool.

**Screenshots**
NA

**App informat

[2020-06-15 14:25] volphy opened #8663 "Generating Postman collection from imported OpenAPI 3.0 definion does not generate authorization config"
**Describe the bug**
I have tried to import a valid OpenAPI 3.0 compliant API definition and generate a Postman collection to test this API.
My API included API Key specification as defined in OpenAPI:
https://swagger.io/docs/specification/authentication/api-keys/

API key was defined to be used by all operations:
[code]

Generated collection did not include any authorization configuration.

**To

[2020-06-15 15:23] minakshi-goel commented on #8662
I am seeing same issue with newly created collection. It just disappeared in a while. I tried importing from the from the backup I had but this collection with 300 requests keeps disappearing. Sync with online account is also not helping, this collection is not seen when I log into postman.co

[2020-06-15 16:00] ZacharyKearns opened #8664 "Slowdown of desktop app"
**Describe the bug**
The desktop app feels much less responsive after the latest update. I use the app on both Windows 10 and macOS High Sierra. The CPU usage is normal when the app is open but not being used but spikes to between 50-75 % when trying to do even simple things in the app like send a request.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Open request
3. Select env

[2020-06-15 16:23] mohitranka commented on #5766
This issue has been fixed with the release of Environment RBAC.

[2020-06-15 16:23] #5766 closed, assigned to nobody

[2020-06-15 16:29] chrisivens commented on #8484
Having a logo per team seems particularly short-sighted when many teams produce multiple products - often with their own logo/branding.

[2020-06-15 16:29] numaanashraf commented on #8664
@ZacharyKearns Would it be possible to record and share a performance profile? It'll help us triage the issue and resolve as soon as possible.

Here's the how-to on recording a profile: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

[2020-06-15 16:30] numaanashraf commented on #8660
@cyb3rs4pi3n Would it be possible to record and share a performance profile? It'll help us triage the issue and resolve as soon as possible.

Here's the how-to on recording a profile: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

[2020-06-15 16:30] numaanashraf commented on #8624
@garipov Would it be possible to record and share a performance profile? It'll help us triage the issue and resolve as soon as possible.

Here's the how-to on recording a profile: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

[2020-06-15 17:48] numaanashraf commented on #8654
@marson77 Could you try disabling GPU & hardware accelerated rendering via [these instructions](https://github.com/postmanlabs/postman-app-support/issues/4594#issuecomment-391601621)?

[2020-06-15 18:18] thetreythomas commented on #8612
@codenirvana - Just checking in, seeing if you need anything else from my side.

Any idea what could be causing this?

[2020-06-15 18:42] molteninjabob commented on #8468
I'm also seeing this behavior.

[2020-06-15 20:09] j-fbriere commented on #8664
I have witnessed the same change after the last update on my machine.
Everything feels sluggish with the UI of the desktop application.
For instance, modifying a variable from an environment is very slow.

On Postman for Windows Version 7.26.0
On Windows 10 Pro Version 2004

[2020-06-15 20:31] marionzr commented on #8664
Same version same problem.
https://www.loom.com/share/6d6cf94869aa4c63ab5ca4f0b6d35041

[2020-06-15 21:44] mblakesley commented on #4636
I also need this!

As a workaround I'm adding separate token endpoints with a post-request script (in the "tests" tab) to save the token received in the response as an environment var. :D

[2020-06-16 01:33] nmgod commented on #1066
Have a collection with 1400 endpoints I need to move, RIP without this.

[2020-06-16 03:34] numaanashraf commented on #8664
@j-fbriere @marionzr Could you share a performance profile as well? It'll help us triage the issue and resolve as soon as possible.

Here's the how-to on recording a profile: https://www.loom.com/share/01e103f8511549ec93e22ff2afb2769e

[2020-06-16 03:40] numaanashraf commented on #8633
@garycsebastian Could you write to us at help@postman.com? We'll help you get this issue resolved.

[2020-06-16 04:13] ZacharyKearns commented on #8664
[Profile-20200616T000858.json.zip](https://github.com/postmanlabs/postman-app-support/files/4784332/Profile-20200616T000858.json.zip)

[2020-06-16 04:32] j-fbriere commented on #8664
I profile the modification of a variable from an environment.

On Postman for Windows Version 7.26.0
On Windows 10 Pro 64-bit Version 2004, 32 GB RAM, Core i7-8750H

[Profile-20200616T002703.json.gz](https://github.com/postmanlabs/postman-app-support/files/4784366/Profile-20200616T002703.json.gz)

[2020-06-16 04:32] kamalaknn commented on #8664
Hey @ZacharyKearns

Thanks for the performance profile. We are investigating the issue.

It looks like there is performance degradation with the Two Pane layout. While we continue to investigate this issue, could you switch to the Single Pane layout to continue with your workflows?

[2020-06-16 04:44] ZacharyKearns commented on #8664
@kamalaknn I just tried single pane and the performance is much better, will use that for now.

[2020-06-16 05:52] kamalaknn commented on #8664
Hey @j-fbriere

From your profile, I could see that you are facing performance issues when loading Manage Environments dialog. We are tracking this in #5827.

[2020-06-16 08:08] jagatheeshkumara commented on #8598
@bloubloed84 got the same issue. what was the fix please? or just install prior version?

[2020-06-16 08:10] arpanbag001 opened #8665 "Provide option to clear activities"
I'm unable to clear my activities from postman workspace page.
Sometimes I might not want some activities to persist. At least owners should have the ability to clear such activities. As of now, there is no such way.

It'll be very helpful if we can clear activities like we clear history in postman workspace page.

As a workaround, I can only think of deleting account and creating a fresh one, ass

[2020-06-16 08:47] sankalp0o commented on #8665
Hey @arpanbag001, thanks for posting here!

I'm trying to understand your requirement so we can design a better experience. What do you normally use the workspace activity for? Why do you want to clear it? Unlike history (which has actual data), activity is just a log and has no use other than to display information about what happened.

[2020-06-16 08:54] numaanashraf commented on #8598
@jagatheeshkumara Could you share the endpoint and the required certificate with us at help@getpostman.com?

[2020-06-16 09:30] AhsanHasan opened #8666 "Postman raw option disabled"
![Screenshot 2020-06-16 at 13 49 59](https://user-images.githubusercontent.com/28825229/84776970-e8b20900-afd8-11ea-9b2b-30a170777d3b.png)
Hi! I am facing an issue while choosing RAW under body tab while sending a POST request. I could not figure this out the reason why it is disabled.
Help will be much appreciated!
POSTMAN Information
Postman for Linux
Version 7.26.0
linux 5.3.0-55-generic / x64

[2020-06-16 09:54] arpanbag001 commented on #8665
Thanks for replying!

As for use case, my primary use case will be to remove certain audit trails, as activity includes detailed date and time information.
I don't want to have a permanent record of what I was doing at a certain time of a certain day!
It just feels odd to have any data in the internet, which is not user deletable.

Hope you understand.

[2020-06-16 10:29] qabandlab opened #8667 "getting error on team workspace when request has fileStream"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
A request is sent: POST some url/attachments with body below:
filestream: some audio (file type)

<img width="679" alt="image" src="https://user-images.githubusercontent.com/57613912/84763505-e4004b80-affe-11ea-9bb2-5809223a051d.png">

It is working in personal workspace but not on team workspace. It is throwing 500 error. But

[2020-06-16 11:14] erdogany commented on #8664
`It looks like there is performance degradation with the Two Pane layout. While we continue to investigate this issue, could you switch to the Single Pane layout to continue with your workflows?`

Came to file this issue and this fixed the problem. Let me know if you need my profiling too.

[2020-06-16 11:59] bloubloed84 commented on #8598
Not resolved yet. I installed 7.25 mentioned above and working again but need to disable auto upgrade. I suspect the problem is postman not catering for sha256WithRSAEncryption. I think this issue might be similar as its using the same algorithm.
https://github.com/postmanlabs/postman-app-support/issues/8612

[2020-06-16 12:33] kamalaknn commented on #8664
Hey @erdogany

It would be great if you can share the profile. It will help us verify the cause.

[2020-06-16 12:45] arlemi commented on #8666
Hey! Could you provide a screenshot of what you're seeing?

[2020-06-16 12:55] AhsanHasan commented on #8666
Thanks for replying, just uploaded a screenshot. I am not getting anything I am able to choose form or any other option but not raw.

[2020-06-16 12:58] tparikka commented on #8619
@cyrielle-hada I have opened a support ticket, ID #52525, with the support team and provided my logs.

[2020-06-16 12:58] kamalaknn commented on #8666
@AhsanHasan Could you check if you are seeing any errors in the DevTools?  You can open them from `View -> Developer -> Show DevTools (Current View)`)

[2020-06-16 13:01] AhsanHasan commented on #8666
Failed to load resource: the server responded with a status of 403 (Forbidden) that's the only one

[2020-06-16 14:35] eborel-yseop commented on #4808
Also interested to have a timeline or a definitive answer on this matter. It is most frustrating :slightly_frowning_face:

[2020-06-16 14:43] berk-can commented on #8664
using single pane mod really helped me thank you so much for the idea @kamalaknn
Knowing that this app is open-source, I can be very OK with using in single pane mode, I wish you find problem easily, thanks again for the amazing tool postman team

[2020-06-16 15:27] kamalaknn commented on #8664
Thanks @berk-can @erdogany @ZacharyKearns for the confirmation. We are working on a fix for this and will be released on the stable channel soon.

The [Canary](https://www.postman.com/downloads/canary/) channel has this fix and some improvements to pane layout as well if you'd like to give it a try.

[2020-06-16 15:31] okj579 opened #8668 "CData section breaks XML code folding"
**Describe the bug**
Code folding doesn't work around CData sections in XML mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request with an XML response
2. Click Body -> Pretty -> XML/Auto
3. Open and close XML tags that contain a CData section

Code folding stops abruptly at the second line of the CData section. The parser / UI interprets the CData section as closing all curren

[2020-06-16 15:35] okj579 commented on #8668
As a workaround, the HTML mode pretty printing works pretty well for XML., presumably because it doesn't parse CData and treats it as plain text.

[2020-06-16 16:49] harrisrobin commented on #7150
🤦‍♂️

[2020-06-16 16:50] harrisrobin commented on #7150
Surprised this is not possible.

this gets a +1 from me as well!

[2020-06-16 21:13] sanchitgarg2 commented on #363
+1

[2020-06-16 21:22] thetreythomas commented on #8598
@bloubloed84 - Unchecking the auto-update won't keep Postman from taking you from 7.25 to 7.26. Reading through the open issues, that is for disabling major version changes, like 7.x to 8.x. This should work for both minor and major updates, as this is a PITA installing 7.25.0, and then it updating in the background to 7.26.0 again.

I found that you have rename the squirrel.exe file in the C:\Use

[2020-06-16 21:57] sredxny opened #8669 "Group by endpoint and show average time per endpooint - API benchmarking for collection runner"
**Is your feature request related to a problem? Please describe.**
Currently Postman offers the ability to run multiple requests via "collection runner", this is a great tool! however, would be nice if after running all the requests it shows some statistics, particularly am interested in having an average of time taken for each endpoint, it should be quite easy as we already have the time taken by

[2020-06-16 23:48] iyerusad commented on #4391
Spent too many years(!) thinking I was doing something wrong here, finally spent some time to debug the postman produced token and realized same issue (scope parameter =/= resource)

Workaround from @jkewley
--

Folder level Auth:
---
**Auth:** None/No Auth
**Pre-Request Script:**
[code]
Scripting ref: https://learning.postman.com/docs/postman/scripts/postman-sandbox-api-reference/

Requests withi

[2020-06-17 00:22] gfinlay commented on #3684
@lucasdclopes If postman does not currently support "Transfer-Encoding: chunked" on http POST requests currently, can you please specify what tool you are using that does support this?

[2020-06-17 01:34] bensullivan commented on #8642
Hi @ash007-postman

Please can we have an estimate of when this issue will be resolved.  Thanks

[2020-06-17 04:20] #6572 closed, assigned to nobody

[2020-06-17 06:23] bloubloed84 commented on #8598
Hi. Yes I just updated the shortcut to not have update flag in it which then resolved the update problem. Can also temporarily rename the update.exe file until the ssl library is resolved

[2020-06-17 07:10] Nasirkhan-259 opened #8670 "I am Trying to set time out to zero but automatically it changes to 300 or something unable to set timeout to zero"
I am trying to set timeout to zero but sometimes the settings window not showing, or i am unable to set time out to zero, strange behaviour
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/40949696/84867364-7d2d7180-b094-11ea-966c-f196f5385adf.gif)
Some strange behaviour

[2020-06-17 09:32] nielszz commented on #4636
This missing 'feature' is my greates annoyance with postman! Also I sometimes use the environment variables to migitate this, but this scales poorly..

[2020-06-17 10:06] Gibbo3771 opened #8671 "Can't sign in on Manjaro Linux"
**Describe the bug**
Clicking "Sign in" on the Postman app takes me to an infinite loading screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman from AUR
2. Try to Sign In via the app

**Expected behavior**
Not sure, is it supposed to be a popup? Browser link with callback? Embedded view?

**Screenshots**
The app is stuck here:
![stuck-postman](https://user-images.githubuse

[2020-06-17 10:42] arlemi commented on #7035
Hey @Montago

We've pushed layout updates on [Postman Canary](https://www.postman.com/downloads/canary) that should make it easier to navigate between different sections of the app builder.

You can read more about it (and provide feedback 🙏) on our community forum: https://community.postman.com/t/new-layout-in-postman-canary/13450

[2020-06-17 10:44] #6898 closed, assigned to tristandenyer

[2020-06-17 10:48] arlemi commented on #5903
Hey everyone!

We've pushed changes to the layout of the app in [Postman Canary](https://www.postman.com/downloads/canary/) which we hope will help you navigate in between different panes. Please try it out and let us know what you think either here or [on our community forum](https://community.postman.com/t/new-layout-in-postman-canary/13450).

Here's a quick preview:
![canary-sliding](https://us

[2020-06-17 10:49] zoranbgd commented on #2906
+1 Is this going to be implemented soon? We are considering other options - editing JSON is in editor is not good idea if you have a large collection.

[2020-06-17 10:50] arlemi commented on #5203
Hey!

We've pushed changes to the layout of the app in [Postman Canary](https://www.postman.com/downloads/canary/) which removes the case where two scrollbars are next to each other. Please try it out and let us know what you think either here or [on our community forum](https://community.postman.com/t/new-layout-in-postman-canary/13450).

[2020-06-17 10:52] arlemi commented on #3601
Hey!

We've pushed changes to the layout of the app in [Postman Canary](https://www.postman.com/downloads/canary/) which allow to collapse different section of the app as you please. Please try it out and let us know what you think either here or [on our community forum](https://community.postman.com/t/new-layout-in-postman-canary/13450).

Here's a quick preview:
![canary-sliding](https://user-ima

[2020-06-17 10:55] Montago commented on #7035
THANKS - I LOVE IT !

[2020-06-17 10:55] #7035 closed, assigned to vkaegis

[2020-06-17 11:15] ash007-postman commented on #8642
@bensullivan Unfortunately we don't have an estimate as to when this will be fixed but this is been escalated to the respective team. If there’s anything else I can help you within the meantime, please let me know. cc: @ritwijsinha

[2020-06-17 11:35] bensullivan commented on #8642
Hmm - so the collection runner is borderline unusable.  Can you explain how this fix will be prioritised given we are a paying customer?
@ritwijsinha

[2020-06-17 11:43] rs-renato commented on #3379
Algo here!!

[2020-06-17 11:45] rs-renato commented on #3379
exact the same, it was annoying

[2020-06-17 11:56] saswatds commented on #8642
Hi @bensullivan we are actively working on this problem.

The current level of optimisation ensures that a large number of collection within the workspace are listed efficiently.
The thing still under works is the aspect when the collection itself if too large. This is especially a difficult problem at hand right now because of how the collection as a data structure has been implemented internally

[2020-06-17 12:54] sebastiancretu opened #8672 "Cannot view content of body tab when we select GraphQL in body"
**Describe the bug**
When we create a new request and we select the body to be a GraphQL request, we will receive an error: Something Went Wrong
Postman has encountered an error. If this problem persists, contact us at help@postman.com

**To Reproduce**
Steps to reproduce the behavior:

1. open postman
2. click on new
3. select collection
4. set a name for the collection
5. click create
6. click o

[2020-06-17 13:26] kamalaknn commented on #8672
Hey @sebastiancretu

Thanks for reporting this. We have identified the cause for this and will be releasing a fix for this on the stable channel in the next release.

We have also pushed this fix on the [Canary](https://www.postman.com/downloads/canary/) channel already.

[2020-06-17 13:27] sebastiancretu commented on #8672
Great. Thanks.

[2020-06-17 13:55] kntmr commented on #5203
The scrolling operations in each pane are separated, so I think this version is easier to use than older one.

[2020-06-17 14:01] tparikka commented on #8619
Support suggested trying the Canary build, which has not addressed the issue. They are continuing to look into it.

[2020-06-17 14:11] eraymond-bt commented on #2906
Hoping you can please fix this ASAP. Running a diff across versions in source control is so painful with a large collection now. The diff is filled with hundreds of "id" mismatches that I don't care about, making the changes I do care about much harder to see.

![image](https://user-images.githubusercontent.com/66840463/84908307-4fd7c800-b082-11ea-89c5-5f192a5eaaf2.png)

[2020-06-17 14:19] ManiacDC commented on #2906
@eraymond-bt

You can fix BC using this, then toggle minor differences as needed:
![image](https://user-images.githubusercontent.com/1823305/84909530-ce813500-b083-11ea-885b-258718de4323.png)
![image](https://user-images.githubusercontent.com/1823305/84909573-da6cf700-b083-11ea-933a-b12f801e877b.png)
![image](https://user-images.githubusercontent.com/1823305/84909593-e2c53200-b083-11ea-8b5e-c9a77f

[2020-06-17 14:28] garipov commented on #8624
Hm... I tried to do that but the performance tool froze also.
And then It didn't appear any more.

I'll observe on it. If it doesn't happen again, I'll close the issue.

[2020-06-17 14:39] paulmdavies opened #8673 "Postman Echo replaces https:// with http:// in response url"
**Describe the bug**
Postman Echo replaces https:// with http:// in response url.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "https://postman-echo.com/get"
2. The "url" in the response is "http://postman-echo.com/get"

**Expected behavior**
The "url" in the response should be "https://postman-echo.com/get"

**Additional context**
We have some automated tests which perform a get li

[2020-06-17 14:49] eraymond-bt commented on #2906
Thanks @ManiacDC. I'll give that workaround a try. It may work for me on my machine, but the file I commit will still have the "id" changes, which could impact my teammates if they do not have this BC configuration, or if they're using another diff tool. Thank you for the suggestion!

[2020-06-17 14:59] ManiacDC commented on #2906
@eraymond-bt I work around this by keeping two copies of the file. I import/export my file NOT in the working copy, then I use BC to move the changes to the file in my WC. I move only the IMPORTANT changes. Then I'm not cluttering my commit with IDs. If you want to sync up the two files, you can just copy the file from your WC and overwrite the other copy, or turn minor differences back on and cop

[2020-06-17 15:16] zoranbgd commented on #2906
@ManiacDC There are many workarounds, but proper solution is to remove IDs when collection is exported from Postman. This can be optional (checkbox, for example) on export screen.

[2020-06-17 15:21] jagatheeshkumara commented on #8598
After downgrading from 7.26.0 to 7.25.0, I lost all my collections. Is there a way to get those collections back?

[2020-06-17 15:25] cyrielle-hada commented on #8619
@tparikka thank you for updating this thread. We were able to reproduce the issue and experience the same lag when re-ordering the environments when there is large text in cells.

We confirm the bug in the "Manage Environments" modal. We're re-prioritizing this right now to get it addressed more quickly. We'll keep you posted as updates materialize!

[2020-06-17 15:26] ManiacDC commented on #2906
@zoranbgd of course? That's why my post above is a workaround. It's a ton of work that wouldn't be needed if we simply could export without IDs.

[2020-06-17 15:32] Prashansa-K commented on #8673
Hey @paulmdavies
This issue is now fixed. Please, let us know if any other problem arises related to the fix.

[2020-06-17 17:01] codenirvana opened #8674 "Escape quotes in the generated code"
**Describe the bug**
Quotes in domain and path parameters of the URL are not escaped in a few of the languages.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable `New Code Generation Mode` in settings
2. Enter the following URL: `localhost'.com/'1'/2`
3. Generate `Code`, language: `cURL`

**Expected behavior**
Quotes should be escaped, wherever needed.

**Screenshots**
<img width="789"

[2020-06-17 18:38] oliveiradep commented on #8491
I have the same problem here. Only fixed values ​​in environment variables can be used among different collections.

[2020-06-17 19:36] eladcandroid commented on #8657
I'm facing the same problem, also with predefined types from GraphQL schema

[2020-06-17 20:18] conradpronto commented on #1070
@Raja-Simha we're planning for our next sprint and had originally planned to work in reordering examples.  I would be grateful if you could provide any guidance on revised timing.  Thank you

[2020-06-17 20:53] davidtimmsinshur opened #8675 "Persist selected highlight in history side bar when navigating inside request/response"
**Is your feature request related to a problem? Please describe.**
There is currently a highlight that appears on mouse over of the items in History. When selected, a very pale highlight is shown. As soon as you click in the opened tab to inspect the request, the highlight on the history bar disappears. I think the highlight should persist until you close or change tab.

**Describe the solution yo

[2020-06-17 21:21] markbullock-mbo opened #8676 "Share Collection - You do not have permission to share this collection"
**Describe the bug**
Error when attempting to Share Collection

**To Reproduce**
Steps to reproduce the behavior:
1. In a team workspace, duplicate a collection
2. Try to share the new collection
Actual behavior: You do not have permission to share this collection

**Expected behavior**
I think a dialog where I can set permissions for the shared collection.

**Screenshots**
If applicable, add scre

[2020-06-17 21:26] davidtimmsinshur opened #8677 "On History tab, group and collapse daily entries by month and year to help organisation"
**Is your feature request related to a problem? Please describe.**
I have only been using Postman around 9 months, already I have a problem. I want to keep maybe the last 2 months max of history, I definitely want to keep the last few days worth. That is a painful process to delete all those individual daily entries, to the point that I am never going to do it. It is also difficult to navigate in

[2020-06-17 22:50] salememd commented on #1983
happened to me today,  I did exactly what @liwei78  said

[2020-06-17 23:23] karx commented on #3121
Where are we on this?
It is sad to this state of this issue here.

@zersiax thanks a ton for pointing those resources out.
I too recommended Insomnia to a low sighted friend to test after he faced issue on Postman. After exploring myself, the vscode extension seems like the way to go, kindof gives more power to the dev. The quick code navigation tools would really help as well.

Cheers.

[2020-06-18 00:27] KDAdams commented on #8223
Does anyone have a status update on this bug?

[2020-06-18 02:27] devraw opened #8678 "Visualize escape regex slash"
**Describe the bug**
 Visualize escape regex slash

**To Reproduce**
Put the script in Tests, send request then inspect visualization.
[code]

**Expected behavior**
Slash should not be escaped.

**Screenshots**
![image](https://user-images.githubusercontent.com/46481086/84970308-fab4b880-b14c-11ea-8777-18178daaa947.png)

**App information (please complete the following information):**
 - App Type

[2020-06-18 02:55] marcoaleixo commented on #8657
same problem here

[2020-06-18 03:08] bensullivan commented on #8642
That's good engineering efforts are in place to solve this.  In terms of remediation, are we talking, days, weeks or months?

[2020-06-18 03:57] Faiz1201 commented on #1632
`[
{
"gender": "male",
"name": "adi"
},
{
"gender": "female",
"name": "lisa"
},
{
"gender": "male",
"name": "michael"
},
{
"gender": "female",
"name": "michele"
}
]`

How to count the length by filtering only count on gender male. Please help.

[2020-06-18 04:53] eysikal commented on #2418
I ran into this same issue today and it cost me a few hours thinking it was my code that was the issue.

I encountered the issue when trying to set up Lavavel Sanctum and hitting the /sanctum/csrf-cookie route, which returns a 204 with no content and 2 cookies.

macOS 10.15.4 running Laravel Valet.

[2020-06-18 05:10] #8673 closed, assigned to nobody

[2020-06-18 05:55] codenirvana commented on #8666
@AhsanHasan are you not able to switch between request body modes?

Can you share a gif/video to show the problem you are facing or steps we can use to reproduce this issue locally?

[2020-06-18 06:03] cto-pripeljisi commented on #3358
+1

[2020-06-18 06:05] trta2352 commented on #3358
+1

[2020-06-18 06:46] odrade commented on #7852
Same issue with the latest version of Postman on snap (download today). DISABLE_WAYLAND=1 snap run postman work.

[2020-06-18 06:51] acmor commented on #8633
Same here. Yesterday I updated Postman on Windows to 7.26.0 and since then the API and the synchronisation are offline. The Postman requests still work (Settings / Proxy / Proxy configurations for sending requests).

I'm on a corporate network and must use a proxy server to connect to the internet. I can't use the "normal" system proxy server settings, I have to configure a special proxy server.
U

[2020-06-18 08:13] russellg commented on #2861
Not sure if this will help anyone.

I have some code that I put in pre-request to deal with null values being pulled from a data file.

`
let iterationData = pm.iterationData.toObject();

Object.keys(iterationData).forEach(function (key) {
  if (data[key] === null) {
    pm.variables.set(key, "null");
  } else if (data[key].toString().match(/.+/gm)) {
    pm.variables.set(key, JSON.stringify(data[

[2020-06-18 08:16] arlemi commented on #1632
Since these are not feature requests or bugs, please direct these questions to [our community forum](https://community.postman.com/). I'll lock this thread for now. :)

[2020-06-18 08:23] matejskubic commented on #7150
Please move this issue upper in priority line as this feature is crucial to work wit multiple teams without complication generating multiple user accounts.

[2020-06-18 08:48] bitcoder commented on #6719
this is a must for working with GraphQL.
GraphQL is introspective as mentioned above, so there is no need for actual configuration IMO.

[2020-06-18 08:54] Sophos06 opened #8679 "Delete all function for the Trash"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to release some space in my trash. I doubt anyone will upgrade their postman account just for trash space extension.

**Describe the solution you'd like**
There should be a checkbox column on the left of items list to select which items we want to definitely remove, with a "Select all" option.
Dele

[2020-06-18 09:04] oxygenecore commented on #2392
+1 for `postman.skipNextStep()`. We are generating collections to be run in newman, and would like this feature to be purely a feature of collections or steps, not some external runner.

[2020-06-18 09:28] robertatcd commented on #6681
I've just completed documenting a private-use API in Postman, only to find that I apparently can't share that documentation without making it completely public — very disappointing.

I think Postman really needs a way to export the documentation so that it can be used elsewhere, by whatever private means the API creator needs.

[2020-06-18 09:36] MasterGroosha opened #8680 "Allow to create API without sign in"
**Is your feature request related to a problem? Please describe.**
I'm using an offline Linux VM for my educational purposes and Postman doesn't allow me to create an API (either from scratch or from collection) without signing in.

**Describe the solution you'd like**
Allow to create API without having to sign in. There is no reason for restricting "anonymous" users from doing this.

[2020-06-18 09:51] kamalaknn commented on #8664
This fix is now available in the stable channel as well in the latest version 7.26.1.

[2020-06-18 09:51] #8664 closed, assigned to nobody

[2020-06-18 09:56] pankajk07 commented on #8672
Hey @sebastiancretu, we have released a fix as part of `v7.26.1` in the stable channel. Please update the app and try out the new version. Do let us know if you find any other issues.

[2020-06-18 10:16] #8672 closed, assigned to nobody

[2020-06-18 11:33] ritwijsinha commented on #8535
Hey @seizir,

Thanks for reporting this. We have fixed it in the latest version of Postman (`v7.26.1`).
Please update your app!

Cheers! 🎉

[2020-06-18 11:33] #8535 closed, assigned to vvs11, coditva, ritwijsinha

[2020-06-18 15:30] avinashgupta-gep commented on #8662
Hi Team,
Do we have an ETA for this?

Thanks!

[2020-06-18 15:43] mehrad-meraji commented on #2030
+1

[2020-06-18 17:55] Millais commented on #3517
Syntax highlighting and variable autocompletion makes for a truly awesome update – thank you @arlemi!

[2020-06-18 19:15] jkurb opened #8681 "Visualizer: ability to search on Visualize tab"
**Is your feature request related to a problem? Please describe.**
Sometimes need to search text on Visualize tab like we have for Pretty/Raw tabs.

**Describe the solution you'd like**
Ctrl+F hotkey should open search box the same way as it's implemented for Pretty tab.

[2020-06-18 20:51] chrisdeso commented on #5091
Closing this for now

[2020-06-18 20:51] #5091 closed, assigned to ankitjaggi

[2020-06-18 20:56] #5418 closed, assigned to abhijitkane, vkaegis

[2020-06-18 23:10] onigor commented on #6926
+1 for folder names as variable

[2020-06-18 23:51] kvarela commented on #3171
+1

[2020-06-19 04:33] ArjunSingh-PM commented on #8671
@Gibbo3771 Thank you for reporting this issue. Could you please provide more details on how you are trying to log in - are you using an email/password combination, signing in from Google or trying out our browser interface to authenticate?

[2020-06-19 05:41] q30 commented on #6526
I am seeing it the other way round. When/if the api response isn't correct, Postman monitors don't register it as a failure. (In the second screenshot you can see it as 0% failures)

<img width="1154" alt="Screenshot 2020-06-19 at 10 18 50 AM" src="https://user-images.githubusercontent.com/4234926/85100211-328b3100-b21d-11ea-8fde-9190c1992444.png">
![1](https://user-images.githubusercontent.com/42

[2020-06-19 06:17] godfrzero commented on #6526
@q30 The logs you've attached show errors, but not failures. A monitor fails when it has failing test assertions. As far as I can tell from the logs, the execution runs into exceptions (possibly due to a non-JSON input being used in JSON.parse) before it reaches the test assertions.

If you're expecting a JSON response, you should add an assertion to test whether the API response is JSON parseable

[2020-06-19 07:26] kappaj2 commented on #8231
With the different providers, this will be absolute gold to be able to select which of the tokens to use. PLEASE PLEASE Postman!!

[2020-06-19 09:06] q30 commented on #6526
@godfrzero Thanks for the details.

Could you give an example of how to test that? Because in my case I test for status to be 200 as my first test case, and interestingly while the response of these apis was 500, the test never executed.

Another reason to ask is, I am planning to use the below style of code at the beginning of the test:

[code]

So I'd love to know if there are any other patterns

[2020-06-19 09:14] godfrzero commented on #6526
The snippet you've attached should work. If you need to repeat this across multiple requests, I'd recommend placing this in the folder or collection pre-request script so that it executes before every request within that folder/collection.

[2020-06-19 09:36] michahell commented on #3418
When working with multiple (Swagger / openAPI generated) collections in postman, and each collection having a different {{baseUrl}}, this is a bit of PITA:
For users to be able to easily switch between each microservice, I'd to create an environment for each of the services,
just to have a `{{baseUrl}}` variable that works for that microservice :/

Why can this not just be an import option?
Have t

[2020-06-19 10:06] prithwirajbose commented on #7746
Is there any permanent solution for this issue available? I am facing the same problem. Basically I am trying to open Postman from a system which is behind the proxy and the proxy requires authentication. My system Proxy settings is configured properly. Seems like Postman is looking for a file at /AppData/Roaming/Postman/Postman_config/proxy and is unable to find it. Hence it is getting stuck at t

[2020-06-19 10:24] arlemi commented on #3517
@Millais Glad you like it! Switching our editors to Monaco allows us to do much more with it, and you can expect some more improvements around this in future releases. 🙂

[2020-06-19 10:25] arlemi commented on #7746
@prithwirajbose I would also recommend contacting the support team and providing your logs on help@postman.com.

[2020-06-19 10:27] arlemi commented on #3418
@michahell Have you tried using [Collection Variables](https://learning.postman.com/docs/postman/variables-and-environments/variables/#defining-collection-variables) to set the `baseUrl`? That way you can keep the same environment for all collections and have their base url set up at the collection level.

[2020-06-19 10:28] shreys7 commented on #8170
I followed the steps to reproduce and can see the cookie value being added only once in the generated cURL snippet. Can you check whether the setting `New Code Generation Mode` is enabled in global settings and you are on the latest version of the App?

![image](https://user-images.githubusercontent.com/20665864/85123211-7d20a380-b245-11ea-9ba8-c4d53071bf5d.png)

[2020-06-19 10:38] michahell commented on #3418
@arlemi Ah, this might work indeed! I would need to modify the collection programmatically, but I'm already doing that for authentication. can collection variables themselves contain references to global variables?

So, could I create a variable like this:

key: `baseUrl` value `microservice-name-{{environment}}`

this way, the collection knows what it's `{{baseUrl}}` should be even based on which

[2020-06-19 11:42] alenpokos opened #8682 "Display merged changes after a pull requests changes to status Merged"
**Is your feature request related to a problem? Please describe.**
Once a pull request is merged, Changes tab shows message ie. "merged by username xx days ago.".
This makes it hard to review what changes were mada using certain pull request.

**Describe the solution you'd like**
Show actual changes that were merged to destination collection, similar how it is in other version control systems such

[2020-06-19 12:37] cyrielle-hada commented on #8559
@eborey Thanks for flagging this! We were able to replicate the issue.

It seems like the request sequence occurs in a way that does not create logs in the expected sequence to populate test results.

We're actively working on a solution and hope to have a fix in place soon, and we'll update you here once we have.

[2020-06-19 13:19] AmandaGBolton opened #8683 "Postman spontaneously deleting starred collection folders"
**Describe the bug**
Yesterday and again today, while working in the Postman app, my starred collection folders in the current directory spontaneously disappeared. They do not appear in the app, in the web service, or in the trash on the web service. I have tried quitting and restarting, signing out and in again, but they are still gone. I was working on some code for a call at the latest time, no

[2020-06-19 14:11] arlemi commented on #3418
@michahell I'd never tried that but it turns out it works! 😄 See GIF below:
- Collection variable `{{baseUrl}}` set to `https://postman-echo.com/get?userid={{id}}`
- Environment variable `{{id}}` set to `55`
- Sending a request to {{baseUrl}} resolves to `https://postman-echo.com/get?userid=55`

![variableception](https://user-images.githubusercontent.com/5029719/85141624-f799f500-b23e-11ea-99cc-0

[2020-06-19 15:27] vvs11 commented on #8683
@AmandaGBolton could you write to us at help@getpostman.com? we will be able to provide better support to you

[2020-06-19 15:33] vvs11 commented on #8370
closing this for now. Please feel free to reopen if you are still having issues

[2020-06-19 15:33] #8370 closed, assigned to vvs11

[2020-06-19 15:36] vvs11 commented on #8418
@neetgupta7 closing this for now. Please feel free to reopen if you are still facing issues. Also, we have a very active community that can solve your problem quickly http://community.getpostman.com/

[2020-06-19 15:36] #8418 closed, assigned to vikiCoder

[2020-06-19 15:46] michahell commented on #3418
Brilliant @arlemi !

[2020-06-19 15:46] vvs11 commented on #8520
@jizuzqui closing this for now. Please feel free to reopen this if it's still not working for you. You can also post queries on our community community.getpostman.com to get responses quickly

[2020-06-19 15:46] #8520 closed, assigned to nobody

[2020-06-19 16:47] cyrielle-hada commented on #8670
@Nasirkhan-259 I was able to reproduce the issue. I then quitted the app and reopened it, and I don't seem able to replicate again ever since. Would you try that and see if this helps?

[2020-06-19 16:49] jonscheiding opened #8684 "Intermittent "Parse Error" with a 204 response"
**Describe the bug**
Our API returns 204 responses for certain requests.  When we execute these requests in Postman, we almost always get a "Parse Error".

Unfortunately, we don't have a URL we can share as the API is private.

Postman gives this error most of the time:

![Screen Shot 2020-06-19 at 12 40 20 PM](https://user-images.githubusercontent.com/7999269/85158442-77699480-b22a-11ea-825e-fb64

[2020-06-19 16:58] cyrielle-hada commented on #8662
@avinashgupta-gep @minakshi-goel The behavior you're experiencing may be related to a known issue we are tracking.

Initial reports mentioned that they were able to solve the problem by completely uninstalling the version of Postman they had, and installing the latest version - https://www.postman.com/downloads/. Would you please try that and let us know how it goes?

[2020-06-19 17:47] vvs11 commented on #8644
@dy20082250 could you write to us at help@getpostman.com ? We will be able to help you better there

[2020-06-19 20:35] mvd7793 commented on #8170
Looks like this was fixed sometime between 7.9.0 and 7.26.1. Thanks!

[2020-06-19 20:35] #8170 closed, assigned to abhijitkane

[2020-06-20 08:37] tygore587 commented on #8612
I have the same issue trying to access the api of one of my websites. It is public facing, so maybe I can help so you can debug the issue more?

[2020-06-20 08:50] numaanashraf commented on #8612
@tygore587 It’d be great if you could share this endpoint and request with us at help@postman.com with any additional details like client certificates, if applicable.

[2020-06-20 09:02] tygore587 commented on #8612
Oh I checked again (because google brings me here), I have another issue with requests, not the same sorry :/ But I also can send you an email with this issue or should I open a new issue with it?

[2020-06-20 09:07] numaanashraf commented on #8612
@tygore587 We recommend filing another issue here.

[2020-06-20 10:03] PhuSanh commented on #3358
+1

[2020-06-20 10:25] tygore587 opened #8685 "Getting Error while trying to talk to api (EPROTO 2635394872)"
**Describe the bug**
I try to run a GET request to an api and got an error in your ssl library.

**To Reproduce**
1. GET from `https://censordPage`
2. Got Error:
[code]

**Expected behavior**
Get a Response from  the website api.

**App information (please complete the following information):**
 - App Type Website
 - Postman Version 7.26.1
 - OS: Windows 10 2004

**Additional context**
The request

[2020-06-20 15:29] Mazyod opened #8686 "Cannot import from link (Error while importing: format not recognized)"
**Describe the bug**
Trying to import a collection from a link which resides on a server using self-signed certificate files, even though in preferences I have turned off SSL verification.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Click on 'import'
3. Click on 'Link'
4. Paste `https` link on a server with self-signed certificate
5. Click 'import'
6. See error

*

[2020-06-20 16:25] cksachdev commented on #1946
Able to reproduce.
Postman Version 7.26.1 (7.26.1)
OS: macOS Catalina 10.15.5

Any possible workaround?

[2020-06-20 18:55] Amandeepsinghghai commented on #8630
@gagantk I was facing a similar issue. In my case, the popup was not opening in **Version 7.26.0**.

I upgraded to **Version 7.26.1** and that seems to have fixed the issue.

[2020-06-20 20:01] Paramood commented on #8481
https://github.com/bitwarden/desktop/issues/81
Related

[2020-06-20 20:38] jonscheiding commented on #8684
Figured out that this was because our server was sending content with the 204 response.

[2020-06-20 20:38] #8684 closed, assigned to nobody

[2020-06-20 21:17] AlexLombry commented on #4193
I don't understand really why in Postman we cannot send via Pre Request Script a Postman request without searching a kind of Hack to do it.

It seems that it's a feature a lot of people want.

In my case i need to retrieve a Token that change on each request.
I just want to use something like that :

[2020-06-21 05:51] sopaul opened #8687 "To validate the contents in the request body"
Is there a way to validate the contents in the request body before we send the request.
for example
1. To validate if a particular xml tag appears twice.
2. To check if a particluar xml value is present in xml

Postman version : win64-7.25.0

[2020-06-21 09:53] ericvruder opened #8688 "Characters that apear after a variable have incorrect syntax highlighting."
**Description**
Whenever I utilize a variable as part of a request body, any characters that trail that variable are incorrectly colored. This incorrect coloring will affect all characters on that line, after that variable.

**To Reproduce**
1. Create a request
2. Go to body.
3. Select raw and then JSON
4. Type in a variable (for example {{username}}), and then keep typing.
5. Start a new line to

[2020-06-21 09:54] #8688 closed, assigned to nobody

[2020-06-21 09:55] ericvruder commented on #8688
This was fixed in an update that I downloaded while I was creating the issue. I apologize, I would delete this if I could.

[2020-06-21 10:20] middiu commented on #8657
same problem for me...

[2020-06-21 11:42] #8152 closed, assigned to vvs11

[2020-06-21 11:49] 18853477039 commented on #8152
Thanks for all, I think this bug had been fixed.  What I want to say is  the position of the cursor I see does not match the actual position of the cursor, such as this is "1234|"   ,use | for cursor,   when I backspace  it may be "13|4"   instead of  "123|" . Now, I can't reproduce also. Finally, I wish you all good health

[2020-06-21 13:07] harryblam commented on #3981
For visibility for future onlookers, I've used the updated syntax as below which I got from the [test examples here](https://learning.postman.com/docs/postman/scripts/test-examples/).

`pm.expect(content.arrayData).to.be.an('array').that.is.not.empty;`

[2020-06-21 14:11] syedhasanabbaszaidi opened #8689 "HTTP POST is selected but GET is passed in request"
**Describe the bug**
While making a POST request, POST is selected in drop down, the request goes with a GET request.
Version 7.26.0

**To Reproduce**
Steps to reproduce the behavior:
I have number of API calls , all of them are POST calls, I keep navigating between them and making calls. Once I am on my last call in the list request are going with GET while POST is selected in drop down.

Restart

[2020-06-21 15:23] suneelsharma1612 commented on #3331
can you please explain to me, I have to upload three different doc file with three browse button, using spring boot

[2020-06-21 15:27] trnchawla commented on #8444
carry on liking your own comments and disliking my comments.

[2020-06-21 15:27] #8444 closed, assigned to saswatds

[2020-06-21 15:31] trnchawla commented on #8444
Please, You can create your own issue and work on it.

[2020-06-21 16:57] dmytro-me commented on #8689
Same problem. Postman Console displays that my POST is actually a GET request.

[2020-06-21 19:46] artmac commented on #2678
Could this feature request be prioritised to higher level?

Currently exposed crypto-js is very limited. There are no AES GCM, RSA encryption methods which are commonly used in enterprise.
Exposing Web/API/SubtleCrypto or Node/crypto library would solve many use cases

[2020-06-21 21:32] DannyDainton commented on #8689
Hey @syedhasanabbaszaidi

Could you confirm that you're still seeing the same behavior, when all the request tabs are saved (without the orange dots) please?

Have you used duplicate tab at all when creating the different requests?

Would you also be able to include an image of what you're seeing in the console for the request that's failing please?

Just trying to gave more information at this st

[2020-06-21 21:35] DannyDainton commented on #8687
Hey @sopaul 👋🏻,

This seems like a great question that could be opened as a thread, over on the community forum.

https://community.postman.com

Members of the wider Postman community will be able to help you with a  solution 🏆

[2020-06-21 22:24] jaytekwani opened #8690 "The native app crashes a few seconds after I open it"
**Describe the bug**
The native app crashes a few seconds after I open it. This happens across all the versions of Postman so I am guessing there is some settings issue on my end but I cannot figure out what it is. One online solution recommended opening it through admin command prompt by issuing 'start /affinity 1 C:\Users\{userName}\AppData\Local\Postman\app-7.25.0\Postman.exe' and that fails as

[2020-06-22 03:25] srinivasskc commented on #8657
I see the same problem. But it does not impact my request to proceed.

[2020-06-22 03:41] mani0588 opened #8691 "Unable to perform any actions in the model box"
**Describe the bug**
When i'm trying to share a collection, the share / cancel buttons are hidden and unable to click on them.

I faced this problem in many of the modal boxes in postman native app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Share Collections'
2. Click on 'To a workspace'
3. Scroll down to 'bottom'
4. See the button which is not shown in screenshot

**Expected be

[2020-06-22 03:44] mani0588 commented on #8691
Even if i'm trying to scroll to perform an action not possible. This is an issue in most of the PM modal boxes

[2020-06-22 05:11] vikiCoder commented on #8364
It looks like it was SameSite cookie problem (as in https://github.com/postmanlabs/postman-app-support/issues/7777) which was fixed with the Electron upgrade. I am closing this issue. Feel free to reopen if you face the same issue again.

[2020-06-22 05:11] #8364 closed, assigned to vikiCoder

[2020-06-22 05:54] DannyDainton commented on #8687
I can see that a new topic has been created over on the community so I'm going to close out this issue.

https://community.postman.com/t/how-to-validate-the-contents-in-the-request-body/13566

[2020-06-22 05:55] #8687 closed, assigned to nobody

[2020-06-22 07:02] sujayvenaik commented on #8691
@mani0588 Can you try zooming out a bit so that modal comes in complete view and then try?
We have seen a case at out end where the modal if not in complete view then the scroll does not work.

[2020-06-22 07:19] sothri opened #8692 "Postman error:13000077:PKCS8 routines:OPENSSL_internal:UNKNOWN_ALGORITHM"
**Describe the bug**
I have used postman for a while. Abruptly it started giving error. I googled to find any previous case and solution. There was no luck. So I am posting the error, wishing to get some help.

Could not send request
Error: error:13000077:PKCS8 routines:OPENSSL_internal:UNKNOWN_ALGORITHM

I did not change any settings which were working.

**To Reproduce**
Steps to reproduce the be

[2020-06-22 07:22] numaanashraf commented on #8692
@sothri It’d be great if you could share this endpoint and request with us at help@postman.com with any additional details like client certificates, if applicable.

[2020-06-22 08:33] arlemi commented on #1104
This is tracked in https://github.com/postmanlabs/postman-app-support/issues/8203, please subscribe to the issue there to be notified when there are any updates. 🙂

[2020-06-22 08:43] arlemi commented on #2678
@artmac Have you tried looking at this in the meantime? https://github.com/matt-ball/postman-external-require

[2020-06-22 08:47] coro101 commented on #8657
I imported the schema, and there is the same problem. However, auto-completion works well.

[2020-06-22 08:52] dmytro-me commented on #8689
May I respond instead?

<img width="1259" alt="Screenshot 2020-06-21 at 19 05 02" src="https://user-images.githubusercontent.com/2362207/85267396-82fccb80-b475-11ea-8dd1-18a773f4681d.png">

Despite User-Agent string says, I'm on Postman Version 7.26.1 (7.26.1).

I can duplicate an issue with a single unmodified request opened in Postman.

I noticed that in my case if I target localhost services, P

[2020-06-22 08:57] Cryssa10 commented on #8690
I have a similar problem. When I start the application it hangs with the following error on my Event Viewer:

Log Name:      Application
Source:        Application Error
Date:          6/22/2020 11:48:51 AM
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Computer:      ECD01-TST-04.ecdc.europa.local
Description:
Faulting application name: Pos

[2020-06-22 09:03] dmytro-me commented on #8689
Just one more thing: my localhost service is on http, but remote accessible via http and https.  You may notice on screenshot that first POST tries http and then GET https:// . In my request I had

```POST {{stat_host}}/URI```

In Environment I had stat_host specified without protocol (expect http).  When I specify protocol (https://myapi....com) everything works fine and POST is POST.  If I remov

[2020-06-22 10:28] syedhasanabbaszaidi commented on #8689
Yes, i can also confirm that it has to  do to with https.
Initiallly I was working on http localhost, later I changed to my server but with only http not https. On console I can see https request but with GET . once I made my call to https in URL section correct POST was sent out.

![image](https://user-images.githubusercontent.com/13048828/85277492-20212980-b4a1-11ea-8f61-df5de48c91ac.png)

[2020-06-22 12:03] deshmanedr opened #8693 "Error is not displaying when you check non existing field - to.be.not.null"
**Describe the bug**
Error is not displaying when you check non-existing field - **to.be.not.null**

**To Reproduce**
1. Add the following API
`https://postman-echo.com/get?foo=bar`
2. Add following **Test** to the API

[code]

Actual Result -
1. Field - **testFieldError** is not present in the response but the **Test** is passing.

**Expected behaviour**
1. An error message must get shown when we

[2020-06-22 12:56] SergioBarbero commented on #4009
+1

[2020-06-22 13:09] olegkorol commented on #2819
Are there any news here?
Thanks a lot in advance!

[2020-06-22 13:13] DannyDainton commented on #8693
Hey @deshmanedr

The `pm.expect(resp.testFieldError).to.be.not.null` statement is referencing a property that is `undefined` so it's not `null`. That would be, from what I can see, the reason why the test passes.

[code]
This test would fail with the error `AssertionError: expected undefined not to be undefined`

[2020-06-22 13:19] garipov commented on #8624
Well, I didn't catch that anymore. 🤷‍♂️ Close issue.
Could be opened if something changes.

[2020-06-22 13:19] #8624 closed, assigned to nobody

[2020-06-22 14:04] bibAtWork commented on #8683
Same problem here, occurs when importing a postman_dump.

**Steps to Reproduce:**
1. Import a random postman dump file
2. Wait until postman sync has finished

**Expected Behavior**
Successful import should be durable and persistent.

**Actual Behavior**
Postman dump is imported successfully and is getting deleted during the postman device sync.

**App information (please complete the following in

[2020-06-22 14:11] benjaminaudet commented on #8657
I have the same problem. It's probably a parsing problem, because the request is working, it was not doing that in the previous version (7.25)

[2020-06-22 14:26] dem commented on #4808
It will be quite usable feature when implemented.

Especially for cases when you are dealing with encryption, signature and converting original body.

Hit into this problem today.

[2020-06-22 14:46] jackpeeples opened #8695 "CircleCi Newman Integration Broken"
On CircleCi, I want to run a suite of postman tests, from a collection, in my pipeline. When I attempt to use the newman orb (postman/newman@0.0.2) I get the error: "Either git or ssh (required by git to clone through SSH) is not installed in the image"
This only occurs when attempting to use a local json version of the collection - not when using the sharable link. The problem lies in circleCi no

[2020-06-22 15:21] appurva21 commented on #8689
Hey guys!!
I see your initial requests are getting redirected with 301 status code and according to the RFC [here](https://tools.ietf.org/html/rfc7231#section-6.4.2), it is the expected behavior.

      method from POST to GET for the subsequent request.  If this
      behavior is undesired, the 307 (Temporary Redirect) status code
      can be used instead.

So, to preserve the HTTP method on red

[2020-06-22 15:27] DannyDainton commented on #8695
Hey @jackpeeples

Could you try running it with this config:

[code]
I saw a similar question around this in a different forum and the missing `build` step was to blame - might be worth giving it a go, to rule it out.

[2020-06-22 15:42] jackpeeples commented on #8695
I have tried it, and it did not solve the issue. "build:" is the keyword for the job name in circleCi.I have a different job name but tried both adding it under the job name and replacing the job name with "build" and both failed, unfortunately. Thanks for the suggestion, however!

[2020-06-22 15:52] mohitranka commented on #783
This has released in the latest Postman app v7.27. Please upgrade and give it a go !

[2020-06-22 15:52] #783 closed

[2020-06-22 15:53] mohitranka commented on #1240
This has been released in the lastest Postman app V7.27. Please upgrade and give it a go!

[2020-06-22 15:53] #1240 closed, assigned to a85, coditva

[2020-06-22 15:54] mohitranka commented on #283
This has been released in the lastest Postman app V7.27. Please upgrade and give it a go!

[2020-06-22 15:54] #283 closed

[2020-06-22 15:55] mohitranka commented on #4727
This has been released in the lastest Postman app V7.27. Please upgrade and give it a go!

[2020-06-22 15:55] #4727 closed, assigned to nobody

[2020-06-22 15:55] mohitranka commented on #6616
This has been released in the lastest Postman app V7.27. Please upgrade and give it a go!

[2020-06-22 15:55] #6616 closed, assigned to vikiCoder

[2020-06-22 15:57] mohitranka commented on #8469
This has been fixed in the lastest Postman app V7.27. Please upgrade and let us know if it works fine for you!

[2020-06-22 15:57] #8469 closed, assigned to codenirvana, saswatds

[2020-06-22 15:58] mohitranka commented on #8493
@SelinMaryK This has been fixed in the lastest Postman app V7.27. Please upgrade and let us know if it works fine for you!

[2020-06-22 15:58] #8493 closed, assigned to codenirvana

[2020-06-22 16:13] helmus commented on #8469
It works! Thank you so much!  😄

[2020-06-22 16:26] akashDash458 opened #8696 "CollectionRunner - Progress Percentage NaN%"
**Describe the bug**
When the number of iterations that are set is not a number, the progress bar shows NaN%.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Runner'
2. Select your tests and environments
3. Set number of iterations as a string, ex: '13b'
4. Click on Run
5. Progress bar shows NaN% and Progress shows 'Running 13b iterations'
6. Test run stops after 1 iteration.

**Expec

[2020-06-22 16:29] shimonacarvalho commented on #3789
Any word on smart card support?

[2020-06-22 16:49] dmytro-me commented on #8689
Nice finding! However, in case of Postman, the API tester, I suppose this is wrong behaviour, especially since sent GET request looks malformed for me. While body of the request is kept, the Content-Type and Content-Length headers are missing.

Probably for historical reason you need to keep this, but at least some kind warning should be provided.

[2020-06-22 16:58] arlemi commented on #8348
This was fixed in the latest version of the app, please update and let us know if this is still not working!

[2020-06-22 16:58] arlemi commented on #8406
This was fixed in the latest version of the app, please update your app and let us know if this is still not working!

[2020-06-22 16:59] arlemi commented on #8313
This was fixed in the latest version of the app (7.27), please update and let us know if this is still not working!

[2020-06-22 16:59] #7117 closed, assigned to vkaegis, appurva21

[2020-06-22 16:59] #6950 closed, assigned to vikiCoder

[2020-06-22 16:59] #7194 closed, assigned to abhijitkane

[2020-06-22 16:59] #8282 closed, assigned to vvs11, appurva21

[2020-06-22 16:59] #8313 closed, assigned to vvs11

[2020-06-22 16:59] #8348 closed, assigned to vvs11

[2020-06-22 16:59] #8406 closed, assigned to vkaegis, coditva

[2020-06-22 16:59] #8555 closed, assigned to sankalp0o

[2020-06-22 17:01] arlemi commented on #7442
We've added a zoom menu item in Postman 7.27, please update or [download the latest version of the app](https://www.postman.com/downloads/). 🙂

[2020-06-22 17:01] #7442 closed, assigned to nobody

[2020-06-22 17:03] arlemi commented on #5265
This was added in Postman 7.27, please update or [download the latest version of the app](https://www.postman.com/downloads/). 🙂

[2020-06-22 17:03] #5265 closed, assigned to nobody

[2020-06-22 17:03] arlemi commented on #3356
This was added in Postman 7.27, please update or [download the latest version of the app](https://www.postman.com/downloads/). 🙂

[2020-06-22 17:03] #3356 closed, assigned to vikiCoder

[2020-06-22 17:20] arlemi opened #8697 "Trigger an update to the collection from Postman API"
**Is your feature request related to a problem? Please describe.**
As of now, you have to use the Postman UI to update a collection generated from an API Schema. I'd like to be able to trigger a validation/update from the Postman API so I can integrate it in my CI/CD pipeline.

**Describe the solution you'd like**
A new endpoint in [the Postman API](https://api.postman.com/) that allows to trigger

[2020-06-22 17:23] arlemi commented on #6722
Hey everyone!

We've just released this feature in Postman 7.27, update your app (or [grab the latest version here](https://www.postman.com/downloads/)) and give it a try! You can find the full documentation in our Learning Center:
https://learning.postman.com/docs/postman/design-and-develop-apis/validating-elements-against-schema/

If you have any additional feedback please add it here or on[ the

[2020-06-22 17:56] yashraja commented on #4193
I really really wanted this :-)
This would help me in lot of ways to simplify problems.

[2020-06-22 19:32] matibat commented on #4009
It woud be great!

[2020-06-22 19:49] syedhasanabbaszaidi commented on #8689
Absolutely, from the postman's interface, it looks like it is a POST (as selected in the dropdown) but console shows a GET. Either a warning or change to the dropdown method has to come.

[2020-06-22 19:49] gustavovendramini commented on #6722
Thanks guys, excellent feature.

Testing here, and for me, the new one's methods/actions added in API doesn't appear to include on updating the collection

[2020-06-22 21:17] tostinni commented on #6378
Similar problem with 7.26 on Windows, no crash but the history is not deleting, later I upgraded to 7.27.0 and after various retries I was able to delete the history.

However I guess the main problem is the fact that interceptor can be enabled with no filter and thus start catching all traffic and one might not find out until it has pilled up.

[2020-06-22 21:50] nagireddy51 commented on #3525
I don't think that this issue is fixed. I see the same issue with v7.27.0.

[2020-06-23 00:06] anaw4804 opened #8698 "Won't Verify Account"
-Pulling up postman and go to Dashboard
-Side bar Pops up with account completion status
-Says I need to verify my email
-Click to resend email
-Open link and I Finishing verifying my account
-When I return to my dashboard it still says I need to verify my account
-Ive tried multiple times on different devices, still won't work

Summed up my verification is not being processed. I'm trying to creat

[2020-06-23 03:17] MinaAndLuoXia opened #8699 "It is recommended that I be prompted to save automatically or copy and move"
It is recommended to prompt me to save when automatically saving or copying and moving. I moved the item when I didn't save, but the data was lost, and now I am crashing