[2021-01-04 05:19] shashankawasthi88 commented on #9394
@sreelekha3399 can you please add more details to this request. FIlling out each component of the template will help us understand your request better.

[2021-01-04 05:22] shashankawasthi88 commented on #9392
@dmbe11 can you please add more details to the request? Filling out the template would give us an understanding of your workflows and what you are trying to achieve with this Integration.

[2021-01-04 05:25] shashankawasthi88 commented on #9383
@tester-xm we use GitHub to track user issues and new requests. The "How to" questions are more suited for Postman Community - https://community.postman.com/.Feel free to start a discussion over there for the same.

Closing this for now, feel free reopen it if you have more details on the bug or new request

[2021-01-04 05:25] #9383 closed, assigned to abhijitkane

[2021-01-04 06:48] godfrzero commented on #9370
@danurahadi Does this error ever show up in incognito as well (with extensions disabled?).

[2021-01-04 07:51] lucifercr07 commented on #8257
@mvv-acc  issue is not reproducible in current builds of postman, hence closing the ticket. Please let us know if further assistance is required regarding this.

[2021-01-04 07:51] #8257 closed, assigned to nobody

[2021-01-04 08:02] sankalp0o commented on #9323
@inland-rob if you use Postman on the web, you should just be able to copy the URL to the API request that you see in the address bar. Can you try it out and let us know if this solves what you are looking for? We will improve the experience of the desktop app to include this as well.

[2021-01-04 08:14] sankalp0o commented on #8990
Hi @ShahinKohan, we recently released public workspaces where you can share your collections and have people comment on individual requests. Does this solve your use case? Which parts of the documentation are you looking to get feedback on?

[2021-01-04 08:22] avvaiyanban commented on #1066
+1

[2021-01-04 10:24] tafia commented on #7596
+1

[2021-01-04 10:37] SuperHuman12 commented on #4143
Guys , postman documentation is userfriendly but to entice users we need to make it nice looking and fun.
i am trying to my part by adding as many fun elements to send a clear and friendly message across.

![image](https://user-images.githubusercontent.com/25829699/103526372-d204ce00-4ea6-11eb-83f5-134d2a97bc84.png)

But due to limited options around styling, its becoming an issue, only if you cou

[2021-01-04 11:39] ravindranathM opened #9395 "Need text coloring and background coloring support through markdown"
What I understand is that markdown itself doesn't have inbuilt support for coloring (or background coloring) the portions of text.  But this can be achieved indirectly by inserting span element as below.

    <span style="color:green"> This is green text </span>

But this kind of embedding of html isn't supported for postman's version of markdown.  I request for this feature because,
- it helps th

[2021-01-04 14:45] darrencapner opened #9396 "Schema Validation not working when Path Templating and Fixed Paths overlap"
**Describe the Issue**

I am trying to define an Openapi spec where I have the following paths:

/{id}
/lookups
When I perform a validation on the collection within the API Designer the API Designer Collection validator does not understand a fixed path where there exists a path with a wildcard. The merge window evaluates both paths as one and the suggested merge is nonsensical.

**Steps to Reprodu

[2021-01-04 14:59] syedqadeer opened #9397 "POSTMAN Sync does not work."
Hi All,

The postman sync does not work, all the time I am getting the "RED" sync button. When I click on it nothing is synced online.

![image](https://user-images.githubusercontent.com/5575310/103548204-7cd0b880-4eb6-11eb-8307-3764c75dc435.png)

When I signed out, I lost all my work and there is no way to recover it. Please help me with this sync issue.

[2021-01-04 15:54] SANiMirrorOfLight commented on #2701
+1

[2021-01-04 16:08] Hrafnkellos opened #9398 "When editing a collection, authorization variables are behind the collection popover"
**Describe the Issue**
The intellisens autocomplete helper is located in a layer behind the popover so its hard to use properly.
![image](https://user-images.githubusercontent.com/2863090/103554471-e6e16180-4ea6-11eb-9810-d9da26957985.png)

**Steps to Reproduce**
Try to create a variable and using it in the authorization tab of a collection.

[2021-01-04 16:17] Hrafnkellos opened #9399 "When minnimizing input variables for OAuth2, the button is collapsed as well."
**Describe the Issue**

When I'm requesting a new token for my collection the "Configure new token" collapse must be open for me to request a new token, even though i have no reason to edit the fields, i just need to use the button to refresh my token.

![image](https://user-images.githubusercontent.com/2863090/103555059-bcdc6f00-4ea7-11eb-9003-27484cd03f26.png)

I created this sweet mockup to sho

[2021-01-04 17:50] jwbanning opened #9400 "Private Collection published to the Private API network should be only available to those indicated in the Private colletion"
**Is your feature request related to a problem? Please describe.**
When creating a Private collection and sharing with a set on team members I cannot publish that collection to my Private API network. It appears only team workspaces, not private collections, can be published to the Private API network.

**Describe the solution you'd like**
I would like to be able to publish a Private Collection to

[2021-01-04 18:41] modestoartur commented on #8301
AFTER doing the fix provided by @FloLaco I had to create NativeMessagingHosts folder with:

`cd ~/.config/google-chrome`
 `mkdir NativeMessagingHosts`

 ..to get  everything working.

[2021-01-04 18:56] LeOndaz commented on #7083
bump

[2021-01-04 20:04] tophil commented on #9390
This is also happening for us. In Postman, we are seeing a 503 status code for these calls now. Error shown is:
Error: tunneling socket could not be established, statusCode=503

[2021-01-04 21:06] bellet663 commented on #8612
Is there a solution for this?  Still getting "EPROTO 513935640:error:10000412:SSL routines:OPENSSL_internal:SSLV3_ALERT_BAD_CERTIFICATE:../../third_party/boringssl/src/ssl/tls_record.cc:587:SSL alert number 42"
Version 7.36.1
Thanks!

[2021-01-04 21:07] bellet663 commented on #8612
Any word yet.  Any help would be greatly appreciated.  Getting this with Version 7.36.1

[2021-01-04 21:18] neo00 commented on #6638
@shamasis , it looks like everyone keeps forgetting that postman collections often needs to be shared with other people. One common approach is to use version control. But do you want the secrets to be persisted in plaintext into source version control? People do stupid mistakes all the time, such as pushing private repos to public github repo, or sharing collections by email with the wrong audien

[2021-01-04 21:21] neo00 commented on #6639
This is definitely a critical feature or those of us who work in enterprises that have strict security requirements. I hope this gets a higher priority than what it is at right now.

[2021-01-05 03:05] mattgen88 commented on #3777
Being able to throttle network requests would be extremely useful for testing behavior of APIs if network connectivity is slow (e.g., .NET Core will return an error to the user if their upload is considered too slow), as well as debugging.

[2021-01-05 03:51] hupo376787 commented on #5923
I have found a website which can do this thing, just paste your son, and double click it.
[https://www.bejson.com/explore/index_new/](https://www.bejson.com/explore/index_new/)
![image](https://user-images.githubusercontent.com/14960168/103604557-637a4b80-4f4c-11eb-9dd9-3b6dcb783d3d.png)

[2021-01-05 08:01] adarshkr commented on #9390
Any workaround available for callback url?

[2021-01-05 08:17] PhilLikesGit commented on #9390
For me **https://www.example.com/oidc_callback** works as redirect URL

[2021-01-05 09:55] DannyDainton commented on #9398
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8819 but on a different modal.

[2021-01-05 09:55] #9398 closed, assigned to nobody

[2021-01-05 11:46] Raj-postman opened #9401 "Feature Request - to import Newman results into Postman Runner"
**Is your feature request related to a problem? Please describe.**
Unable to import Run results from Newman into Postman.

**Describe the solution you'd like**
Be able to import the exported json summary results from Newman into Postman Runner using the "Import Runs" feature.

**Describe alternatives you've considered**
At the moment we use reporters to view and send run results to other users.

*

[2021-01-05 15:04] jotsarup commented on #9401
@Raj-postman This is great. Do you happen to have more details around this. What is the use case users want to solve?

[2021-01-05 18:27] bellet663 commented on #8612
Hello, has this been resolved? Thanks

[2021-01-05 18:49] pdev23 commented on #5502
The use case is completely valid and specially you share the collection or test case with your colleagues

[2021-01-05 22:13] henrychancalabrio commented on #1535
In my company we are using "Postman as a REST Service"
I wrote an REST endpoint that takes in a collection as a param as well as a param or POST body for an environment.
If anyone is interested in what I did, let me know.

Cheers,
Henry

[2021-01-06 07:27] corwestermaniddink commented on #1535
I'm interested, but let do that out of this topic ;-)

[2021-01-06 07:52] Aditya94A opened #9402 "How to disable shared history?"
The constant pop-ups about shared history limits are a bit annoying considering I don't really care about sharing history in the first place.

Any way to disable this?

[2021-01-06 08:00] DannyDainton commented on #9402
Hey @AdityaAnand1

Could you provide some more context, please?

- Are you using the Web or Desktop App?
- Are you using Team Workspaces?
- Are you the only member of the Team?
- Have you been making requests in those Workspaces to activate the history limits?
- If you clear the History from the Team Workspaces, does that remove the banner?

[2021-01-06 09:14] AdityaAnand1 commented on #9402
* Behavior on web/desktop both is the same
* Yes, team workspace (free right now)
* Two members in the team
* Yes, making the requests in the workspace
* Yes, clearing the history removes the banner (but doing that every few seconds is annoying and feels like a dark pattern nudge to pay up)

![image](https://user-images.githubusercontent.com/13274079/103750957-8cbed880-502d-11eb-9dd3-5b4a4bc805d6.

[2021-01-06 09:26] ritwijsinha opened #9403 "Send and Download does not work on Postman Web"
**Describe the Issue**
"Send and Download" option does nothing when clicked.

**Steps to Reproduce**
1. Enter a URL
2. Click on "Send and Download"

**Environment Information**

 - Platform Type: Postman On The Web
 - Postman Version: Version 8.0.0-210105-0552
 - Operating System: Chrome 87 / Mac OS 11.1.0

[2021-01-06 10:36] DannyDainton commented on #9402
Hey @AdityaAnand1

Thanks for the additional information.

A dark pattern would suggest that we're trying to "trick" users into something, which is not the case here, our usage levels for items shared in **Team** Workspaces are displayed in a number of different areas for users to know exactly what the current state is in their accounts. The image you post gives you the opportunity to see this by

[2021-01-06 10:37] AdityaAnand1 commented on #9402
Is there any way to disable sharing history?

[2021-01-06 10:48] DannyDainton commented on #9402
If you are using Team Workspaces and are sharing items and making requests within them, the limits will apply and you will see the notifications if you've created a Free Team. Upgrading to the Team licence would remove the limits but you wouldn't be able to 'disable' anything and make everything unlimited as a Free Team user.

You can work within Personal Workspaces, make requests and share items

[2021-01-06 12:25] DannyDainton commented on #9402
@AdityaAnand1 I'm going to close this issue out for now - Feel free to open up a thread in our Community Forum for any more questions that you may have regarding the sharing limits.

https://community.postman.com/

[2021-01-06 12:25] #9402 closed, assigned to nobody

[2021-01-06 13:40] joanashehaj01 commented on #9373
This url is on the postman site, I know that the problem is the 'h' but this is a mistake from the postman not from my side.

[2021-01-06 13:45] DannyDainton commented on #9373
As you didn't mention the actual page that you were on, I was looking at the footer on `https://www.postman.com/` and not `https://learning.postman.com/` these are 2 different sites. :D

The Issue https://github.com/postmanlabs/postman-docs/issues/2756 has now been fixed.

[2021-01-06 13:46] joanashehaj01 commented on #9373
@DannyDainton  yes I saw, thank you by the way. :)

[2021-01-06 15:03] sirj77 commented on #3845
+1

[2021-01-06 16:40] okebaja commented on #2022
Had precisely the same problem on Linux Mint 20 Ulyana. Click the app icon, nothing happens except a spinning mouse cursor for some time. It never even showed the orbiting planets. Installed it through Software Manager and reinstalling it through that did not work either. Finally installed it directly through the downloaded app from the site, and now it works again. It may be some flatpak issue?

[2021-01-06 22:55] taehoshino opened #9404 "Generating test suites from OpenAPI 3.0 schema results in schema validation errors due to random numbers"
**Describe the Issue**

Generating test suites from OpenAPI 3.0 schema results in schema validation errors due to random numbers being appended to path variables.

**Steps to Reproduce**
- Import OpenAPI 3.0 schema (JSON format) to create a new API
- Create test suites - In advanced settings, select `Example` for both `Request parameter generation` and `Response parameter generation`.
- Test fails

[2021-01-07 00:06] tarekahf commented on #8612
I am getting this error only when I test the POST request from Postman for web:

Error: write EPROTO 2038819368:error:100000f0:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL:../../third_party/boringssl/src/ssl/handshake_client.cc:581:

POST https://testforms.nationwideappraisals.com/soap/services/AppLib/Processes/CalcDistanceByGoogle?wsdl
Error: write EPROTO 2038819368:error:100000f0:SSL routi

[2021-01-07 02:19] jim-obrien-orig opened #9405 "Postman web app: duplicating a request creates invisible request"
**Describe the Issue**

Duplicating a request by clicking "..." and "Duplicate", creates a duplicate request that instantly becomes invisible. However, if you export the collection, the request will be in the json at the bottom.

**Steps to Reproduce**

Click on "..." next to a request, and choose "Duplicate"

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Postman on the

[2021-01-07 03:54] tarekahf commented on #8565
This solution solved my problem. In my case, the POST request was working from the Desktop App, but not working from Postman for Web. So, I quite the Agent, set the variable as indicated, and restarted the agent, then it worked.

So what is going on? Does this mean the web version is behind the desktop app (I mean has less support)?

Tarek

[2021-01-07 03:58] taehoshino opened #9406 "TLSv1 is not supported in desktop agent"
**Is your feature request related to a problem? Please describe.**
Desktop agent is not supporting TLSv1 and returns the below error when requests are sent from web dashboard.
`Error: write EPROTO 2038819368:error:100000f0:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL:../../third_party/boringssl/src/ssl/handshake_client.cc:581:`

**Describe the solution you'd like**
Add support for TLSv1.
The

[2021-01-07 05:45] Raj-postman commented on #9401
Hi @jotsarup User wanted to perform this action as mentioned on our Docs and I have now raised for a correction [here](https://github.com/postmanlabs/postman-docs/issues/2778)  :)

[2021-01-07 06:00] tarekahf commented on #9406
Thank you for creating this issue. I am looking forward to the resolution.

[2021-01-07 07:52] danurahadi commented on #9370
@godfrzero yes, i've tried that and the API Docs cannot be loaded.
sorry for my slow response

[2021-01-07 11:25] KrishAmal commented on #350
+1

[2021-01-07 12:24] godfrzero commented on #9370
Got it, thanks for letting me know @danurahadi. The reason I asked is because the error mentioned in the original description isn't coming from code we're shipping. We've also been unable to reproduce the issue with the API docs link. `content.js` is a file commonly present in Chrome extensions (https://developer.chrome.com/docs/extensions/mv2/content_scripts/).

Does this error show up in other b

[2021-01-07 14:12] fernandojmartin commented on #8509
Hi there.
Just to add up: I got the same error message.
It's also confusing the first import screen as it doesn't lists JSON as a valid format file to be loaded.
Just copy/pasted the json string as "raw text" and it worked fine (parsed and imported the whole collection).
The json was perfectly valid.

![image](https://user-images.githubusercontent.com/722826/103902242-0069ef80-50d9-11eb-93be-f1973

[2021-01-07 14:35] sinamna opened #9407 "postman crashes when sending a file which doesn't have access to"
**Describe the Issue**
postman crashes when i try to send a sudo-created file (for example text) in multipart/form-data post request

**Steps to Reproduce**
create a text file with `sudo touch test.txt`
send created file in form-data body with post request

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: Postman v7.36.1
 - Operating System: Ubuntu 20.04.1 LTS

[2021-01-07 14:52] Radio commented on #5819
The issue is still there in v7.36.1

[2021-01-07 15:39] darrencapner opened #9408 "Contract testing response from Collection Request using API Designer Component Schema from API Spec"
**Is your feature request related to a problem? Please describe.**
The feature request is related to the ability to validate a collection's request in tests without duplicating and manually converting the API Designer component schema in OpenAPI 3.0 to JSON Schema and storing it as an escaped string in an environment variable. This causes duplication, manual effort on each change, and easy potenti

[2021-01-07 19:11] inland-rob commented on #9323
Thank you. Looking forward to using deep links in Postman.
While I'm at it I'll (hopefully) look forward to adding JS style comments to JSON in Postman. Super helpful during development phase. Can be stripped out for production. I realize JSON does not have comments, but who cares when it's inside Postman. Delight your users!!

[2021-01-07 20:37] iyosayi commented on #8747
Is there a fix for this issue now? I tried setting the `NODE_OPTIONS` env in Windows 10 but didn't work. In my case, I was able to make a successful `GET` request. When I tried it the second time, I started getting this same exact error, is that the responses are being cached somewhere?

[2021-01-07 21:22] pteki345 commented on #3774
Thanks, saved.

[2021-01-07 21:42] drew-smithies commented on #452
@thn929 Now it's just a text link that says "code" below the Save button. No need to open the dev console.

![image](https://user-images.githubusercontent.com/5829521/103948130-e3e0ae00-50fe-11eb-9e64-765cfd756f9a.png)

[2021-01-07 23:24] chai2 commented on #2906
Thanks a lot, @arlemi for the announcement. Just tried and works like a charm!!

[2021-01-08 07:51] Tviljan commented on #3777
I am guessing this will never happen?

[2021-01-08 08:02] damithsj opened #9409 "OAuth 2.0 with PKCE still requires client secret"
I'm trying to get an access token with PKCE flow and it still requires client secret.
According to PKCE protocol flow, client should use the code_verifier instead of client secret.

[https://tools.ietf.org/html/rfc7636](https://tools.ietf.org/html/rfc7636)

How to recreate:
In the Auth tab, select OAuth 2.0 from dropdown.
In the Configure token section, select Authorization Code (with PKCE)
Notice

[2021-01-08 08:22] danurahadi commented on #9370
@godfrzero Yes, the error also show up on Firefox & Edge. Other members in my team also got this error on their browser, Chrome & Firefox. I don't know if that error is caused by some browser extensions or not.

I just wanna reporting that sometimes the API Docs can be loaded properly, and sometimes not. Also, the performances of the API Docs is too slow.

Thanks for your reply

Regards, Argi

[2021-01-08 09:12] vikiCoder commented on #8771
Closing this as duplicate of https://github.com/postmanlabs/postman-app-support/issues/6746

[2021-01-08 09:12] #8771 closed, assigned to nobody

[2021-01-08 14:01] FCulig opened #9410 "Variable dropdown in edit collection screen showing behid the screen"
**Describe the Issue**

On the edit collection  `Authorization` tab when starting to type variable into basic auth username or password, a dropdown of variables is shown behind the edit collection window.

**Screenshots or Videos**

![variable dropdown behind winow](https://user-images.githubusercontent.com/36075622/104023623-39ca5a00-51c2-11eb-9312-e83419986878.png)

**Environment Information**

[2021-01-08 14:06] DannyDainton commented on #9410
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8819

[2021-01-08 14:06] #9410 closed, assigned to nobody

[2021-01-08 14:34] eirjens commented on #8701
Still no fix for P12 certificates?

GET https://postman-echo.com/
Error: BAD_PKCS12_DATA

Windows 10, Postman Desktop v7.36.1

[2021-01-08 14:41] Zenegrad commented on #5040
+1

[2021-01-08 14:46] JaswantBB commented on #7983
Again facing same issue

[2021-01-08 14:52] JaswantBB commented on #7895
instead of --data-row use --data-binary will work

[2021-01-08 15:04] jpriebe opened #9411 "Can't get OAuth2 token with PKCE on MacOS (Okta)"
**Describe the Issue**

When attempting to get an access token (grant type "Authorization Code (with PKCE)"), I am prompted for my username, then I see a flash of the Okta logo, and then the login window goes white and just hangs indefinitely.

**Steps to Reproduce**

We use Okta an an identity provider.  Not sure if that's relevant

- set up the authorization form as shown in screenshot
- click "

[2021-01-08 16:01] w-i-n-s commented on #2801
+1

[2021-01-08 16:15] rheasunshine commented on #8502
Apparently, pre-request scripts are not executed for mock server requests. I wish!

[2021-01-08 17:45] astoykovych commented on #3171
+1
Do we have at least any workaround on this problem?

[2021-01-08 19:02] stamminator commented on #4671
It's 2021, come on!

[2021-01-08 19:09] deefdragon commented on #9379
This has become increasingly frustrating as I use postman/newman for my end-2-end test via github actions.
Having to constantly export makes running the tests locally while I am building them very frustrating.
Anything that makes testing frustrating is likely to make testing less likely to happen at all, which is not ideal.

[2021-01-08 19:11] deefdragon commented on #8195
This has caused me to chase phantom problems and waste time on multiple occasions.
The ability to auto save is part of any modern application now.

[2021-01-08 19:27] deefdragon commented on #4671
Just for reference, it appears that this issue is duplicated between here and #8195

[2021-01-08 20:07] andrewschouten commented on #5502
Ah I saw this from 2018 and was hoping it was implemented. We have the same basic use case. A shared collection and would like to retrieve the logged in user and pass this as a header to help us track down who may have made the request.

[2021-01-08 20:43] eraymond-bt commented on #8486
I would also like to see the sidebar reflect the currently selected tab, even if the folders in the sidebar were collapsed. Without this feature, it's time consuming to find and expand the folder where the current tab lives. Are there any updates for this enhancement request? Thank you!

[2021-01-08 20:44] eraymond-bt commented on #8629
I would also like to see the sidebar reflect the currently selected tab, even if the folders in the sidebar were collapsed. Without this feature, it's time consuming to find and expand the folder where the current tab lives. Are there any updates for this enhancement request? Thank you!

[2021-01-08 23:29] 4selin commented on #8656
the same for me

workaround works
I'm on Linux
`export NODE_OPTIONS=--max-http-header-size=16384`

[2021-01-09 03:47] praveendvd opened #9412 "Environment variables are not set from script ( Postman Canary 8.0.0)"
**Describe the Issue**

pm.environment.set("key","value") , is not setting value to environment variable

**Steps to Reproduce**

- Add the line to test or pre-requisite session : pm.environment.set("hi",22)
- Check the environment and see if variable "hi" was created or updated
- Observes that environment varaible was not updated or created

**Environment Information**

 - Platform Type: [e.g. Na

[2021-01-09 09:35] alfken commented on #4665
Direct link explaining how to become a single user again - https://community.postman.com/t/archived-collection/2679/6.

[2021-01-09 15:03] MariaCobretti commented on #9409
I have been wondering for an hour if I was understanding something wrong with the Authorization Code PKCE flow before I found this post.. So it is not supposed to need a client secret

[2021-01-09 17:02] savalik commented on #9412
pm.globals.set not working too.

[2021-01-09 21:00] debuglevel commented on #8076
I would suggest to show the user a notice about what you described, @kevinswiber.
e.g. `Server sent 102 Processing... waiting for request to finish`

[2021-01-09 23:57] deefdragon commented on #4009
If nothing else, would it be possible to get [ws](https://www.npmjs.com/package/ws) or some other client library added to the available NodeJS libs?
Also: +1

[2021-01-10 00:28] siredwin commented on #4009
I have a fully functioning websoket tester if you need it. Websokets end to end

[2021-01-10 00:59] tominaus commented on #9406
Cheers for adding this I too am looking forward to a resolution

[2021-01-10 02:37] singleseeker opened #9413 "Set global variable does not work"
With the version update to Version 8.0.0-canary01 (8.0.0-canary01)

[code]

It doesn't work anymore~

[2021-01-10 02:38] #9413 closed, assigned to nobody

[2021-01-10 02:38] singleseeker commented on #9413
Duplicate of #9412

[2021-01-10 02:55] icnocop commented on #8656
Setting `NODE_OPTIONS=--max-http-header-size=32767` broke Visual Studio 2017's extension updates and causes it to crash.

See https://superuser.com/questions/1397470/visual-studio-crashes-when-opening-project

[2021-01-10 20:20] DjSt3rios commented on #9390
Same issue here :-(

[2021-01-11 05:03] woodspring commented on #6647
CentOS 8.3.211 get the same issue. Postname version : Postman-linux-x64-7.36.1.tar.gz
Can't start Postman :+1: A JavaScript error occurred in the main process
Uncaught Exception:
Error: Cannot find module 'circular-json'
Require stack:
- /opt/postman/Postman/app/resources/app/main.js
-
    at Module._resolveFilename (internal/modules/cjs/loader.js:717:15)
    at Function../lib/common/reset-search-

[2021-01-11 06:25] shubhpy commented on #4818
Any update here in 2021?

[2021-01-11 07:01] ztzsws1 commented on #1535
Sounds great and do you have any release plan about this?

[2021-01-11 07:27] waropdebeeck opened #9414 "GetNextRequest("path to folder"; "name of request")"
At the moment there is a lot of copy pasting going on. The only place to create global functions is the pre-request script of the collection. For the start of clean up this is good, but after a while the pre-request script can be pretty full. So not very readable anymore.

GetNextRequest("path to folder"; "name of request") where you offcourse go to a different folder and set the request. After th

[2021-01-11 09:39] tominaus commented on #9390
I have got it running now in the app. With a different URL. This won't work in the web version you have to use a different URL  You are going to have to bear with me and I might sound like a dummy hear as I have only been doing this for a few weeks. But this is what I did

I have 4 APIs some were working on the web app and some were working on the desktop app it was a pain so to get them all worki

[2021-01-11 10:07] DannyDainton commented on #9412
Thank you for reporting this issue @praveendvd :D - We have identified the problem and are working on a fix.

We will be updating this thread when we have more information.

[2021-01-11 10:38] niecore opened #9415 "Importing raml 1.0 spec with resourceTypes does not generate requests in collection"
**Describe the Issue**

When creating a collection from a raml 1.0 spec which includes `resourceTypes` like this example ([https://github.com/raml-org/raml-examples/blob/master/resourcetypes/simple-resourcetype.raml](link)) no requests in the collection are generated.

I expect that `postman` would create 2 requests in the collection for the linked example but none is created.

**Steps to Reproduc

[2021-01-11 11:52] nkvaratskhelia commented on #2701
+1

[2021-01-11 12:04] idkw opened #9416 "Missing collections when using PostmanCanary-linux-x64-8.0.0-canary01"
**Describe the Issue**

When opening PostmanCanary-linux-x64-8.0.0-canary01 some of my collections are missing, only a few of them are displayed

**Steps to Reproduce**

Open PostmanCanary-linux-x64-8.0.0-canary01 and look at the list of connections. Only 7 of them are displayed.
If i switch workspace and switch back to the original workspace, all the collections are now displayed correctly.
So th

[2021-01-11 12:17] numaanashraf commented on #9416
@idkw Thanks for reporting this. This has been resolved internally and the fix will be available in today's canary release.

[2021-01-11 14:20] robsonrosa commented on #3174
Is there an update on this requirement?

[2021-01-11 15:11] idkw commented on #9416
@numaanashraf As there are other blocking errors that prevent me to work on the 8.0.0 I'd like to download the latest canary version on the 7.x branch, where can I find that ? Thanks

[2021-01-11 16:01] numaanashraf commented on #9416
@idkw Could you share more details on which errors are blocking you from working on v8.0.0 canary?

[2021-01-11 16:37] coditva commented on #8981
@babenkovitaliy Sorry to hear that. Can to try out the latest [Postman Canary](https://www.postman.com/downloads/canary/)?

[2021-01-11 18:47] tophil commented on #9390
I was able to get it to work by turning on Capture requests using Postman's built-in proxy. Then under Settings -> Proxy, instead of using the system proxy, use a custom proxy that's pointed at localhohst:5555.
I still see a DNS lookup failure because it's still looking for fhbjgbiflinjbdggehcddcbncdddomop.chromiumapp.org, but I still get a valid token back.

[2021-01-11 18:57] idkw commented on #9416
@numaanashraf this is very random and happens rather a lot so of various different screens
For example when editing authorization on a colleciton, instead of showing the page, postman display an error screen which says to send a mail to the support. I'm not sure how to give you more information than that because I can't share the affected collection publicly.

For now, because there are too much b

[2021-01-11 19:41] byrdman commented on #6841
This would be quite useful, our automation also utilizes a sizeable number.  I've been manually sorting them but that's a pain.

[2021-01-11 23:15] asmusz-adobe commented on #9412
Having same issue here.  Thanks guys for all the hard work!

[2021-01-12 02:20] n3nikita commented on #4919
Windows 10. Core i7 and 16GB of RAM.
Postman lags so much.

![image](https://user-images.githubusercontent.com/22433209/104261125-24388700-5485-11eb-8e55-d8fe7fa40ff2.png)

[2021-01-12 06:34] raghav19 opened #9417 "Unable to publish to API network or as an API template via publish docs options for collections in Postman"
**Describe the Issue**

**Steps to Reproduce**

* Create a fresh dummy collection
* Click Publish docs option
* In the web link, check "Collection Discovery" option after "Styling"
* Actual: The Collection discovery option does not show any options to publish the collection for a user

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/21075059/104278200-35f24c80-54ce-11e

[2021-01-12 07:34] dmoryani opened #9418 "Lost All Collections in Teams Workspace and My Workspace on Logout of POSTMAN"
I had signed out of Postman as my forked collection was not displayed in My Workspace. After which I lost all the Collections in my workspace, Environments , as Well as Teams Workspace.

**Steps to Reproduce**

1. Sign-out and try to login back with the credentails used to create all collections.
2. Its blank - No environments, No collections and No Collections in Teams Workspace.

Adding screensh

[2021-01-12 07:38] dmoryani commented on #9418
![Uploading image.png…]()

[2021-01-12 07:39] dmoryani commented on #9418
![image](https://user-images.githubusercontent.com/31031890/104284023-59c48b00-54ec-11eb-8e50-4fb7577cd332.png)

[2021-01-12 09:36] tushar-accenture commented on #7292
Facing the same problem in MacOS Catalina

[2021-01-12 09:50] dmoryani opened #9419 "Unable to remove null from Workspace error on removing a collection from Teams Workspace"
1. Try to remove a collection from teams workspace. Right click on Collection - "Remove from Workspace" option.
2.
![image](https://user-images.githubusercontent.com/31031890/104298105-90a39c80-54fe-11eb-8359-c7e07d1d787f.png)

Environment:
![image](https://user-images.githubusercontent.com/31031890/104298147-9b5e3180-54fe-11eb-87bd-0a476127d69c.png)

[2021-01-12 09:50] DrSensor commented on #9097
Is there a setting to prevent web.postman.co polling https://localhost:10533/knockknock ?
I think this causes my browser to hang/laggy when opening multiple workspaces in multiple browser tabs.
(also bit afraid if there is a bad daemon listening to HTTP port 10533)

[2021-01-12 10:01] jorgifumi commented on #2209
also interested in this feature

[2021-01-12 10:28] DannyDainton commented on #9419
Hey @dmoryani

Thanks for flagging this issue - We have investigated this on our side and have found where the issue is :(

We'll update this thread once we have more details to share.

[2021-01-12 11:16] DannyDainton commented on #9412
Hey folks,

A new version of the Canary app has been released, which includes a fix for this issue. 🏆

Would you be able to update your app and confirm that it has resolved the problem from your side, please? 😄

[2021-01-12 12:18] dmoryani commented on #9418
The sync icon is red. Clearly the sync not happening. Attached is the log for reference
[logs.zip](https://github.com/postmanlabs/postman-app-support/files/5801979/logs.zip)

[2021-01-12 12:22] yogesh1140 commented on #9412
worked for me

[2021-01-12 12:33] martijnvanschie commented on #5583
UPVOTE.

Environment and Global Variables editor are not user friendly. Real hope this is picked up. Insomnia has a very nice JSON editor for variables which not only makes the editing really easy it also allows for easy textual comparisons between environments using for instance WinMerge.

[2021-01-12 12:44] martijnvanschie commented on #6052
UPVOTED.
I really think this is an underestimated feature request. I see a lot of these issues reported.
The editor is not user friendly at the moment.

[2021-01-12 12:49] praveendvd commented on #9412
Its working , checked collection , environment and local variable set and unset

[2021-01-12 12:49] #9412 closed, assigned to nobody

[2021-01-12 12:54] martijnvanschie commented on #4898
@tomhundt just tried this and it is currently the most workable version of managing environments. Unfortunate importing an updated environment (so the same file and the same id still creates a new one instead of overwriting the same environment.

[2021-01-12 12:56] DannyDainton commented on #6052
Hey @jiimaho / @martijnvanschie

We have just updated the Canary Channel to V8 which brings in a whole host of new and improved items, including a change to the way you can manage your environment variables. The environment will now open in a full tab view, much the same as the way requests do.

![image](https://user-images.githubusercontent.com/17089546/104316923-1874b100-54d5-11eb-9b6d-e0d23dd60

[2021-01-12 13:43] #8698 closed, assigned to ArjunSingh-PM

[2021-01-12 15:53] Aomaf commented on #8455
im using node.js with express.js and this one solve it for me
[code]

[2021-01-12 17:07] codebymattllc commented on #6452
Yes please add this feature! It's 2021 and literally every account I have is MFA except postman which is very important to me.

[2021-01-12 19:02] bellet663 opened #9420 "Cerificate not working, previous cert worked fine"
**Describe the Issue**

Renewed server certificate from DigiCert SHA2 Secure Server CA     to    DigiCert TLS RSA SHA256 2020 CA1

WAS8.5.513 server

Cipher order
TLSv12 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
TLSv12 TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
TLSv12 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
 TLSv12 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

**Steps to Reproduce**

Added new client cert pfk f

[2021-01-12 20:02] Ephesoft-Stitus opened #9421 "Sync from Collection to Open API Spec"
We can currently sync changes from a definition in the API builder, but we cannot sync from a collection back to the definition.

This causes workflow challenges when a team wants to rapidly prototype using Postman collections as they don't want to update the Open API spec constantly.

Ideally, you would be able to backwards sync from a collection to an API definition.

[2021-01-12 21:31] JAlonsoHdz commented on #8656
Yes sir, this worked for me.

[2021-01-12 21:35] digetl commented on #4598
I'm still seeing this issue but with JSON:

Imported Swagger JSON uses the wrong path variable syntax

Imported:
"/api/v1/accounts/{globalUserId}/details"

Expected:
"/api/v1/accounts/{{globalUserId}}/details"

Actual:
"/api/v1/accounts/:globalUserId/details"

Postman Mac App v 7.36.1 and Postman web via Mac Chrome

[2021-01-12 23:01] xephtar commented on #3174
I think this feature won't come

[2021-01-13 01:36] xk0der commented on #9338
For folks on MacOS - Check out this thread and see if the solution mentioned there helps: https://community.postman.com/t/postman-native-app-doesnt-work-on-apple-macbook-m1-chip/18990

For Windows 10 - check to see if Postman Canary works: https://www.postman.com/downloads/canary else reach out at Support so that we can help figure out what's going on!
----
I'm closing this - as we have a solution

[2021-01-13 01:36] #9338 closed, assigned to nobody

[2021-01-13 01:43] postman-support commented on #9418
@dmoryani while we check the logs, do checkout here to see if your collection/environments etc show up (You will have to sign in): https://go.postman.co
If you are able to confirm that your data is available and synced online - you may follow the steps here https://support.getpostman.com/hc/en-us/articles/360025359014 to rename the local Postman folder and then re-install Postman and see if that h

[2021-01-13 02:05] izagood commented on #2701
+1

[2021-01-13 03:23] minhthong095 commented on #5222
+1

[2021-01-13 04:50] alxtr1bal commented on #9416
Issue is still there on latest canary (v8.0.0-canary03) : Message "Couldn't load collections).
Windows 10  (Insider build 21286)

[2021-01-13 05:06] anudeepmedicharla commented on #3174
We're planning few features this year that will help address this. We'll get some clarity in a couple of months to share further details regarding this :)

[2021-01-13 07:05] abdurrahmanriyad commented on #3777
Eagerly waiting for this.
Certainly, an excellent feature to test API in different network circumstances.
@postman-support please keep us updated.

[2021-01-13 07:42] jcmertz commented on #4525
I'd also be really happy if this was an option.

[2021-01-13 07:51] dmoryani commented on #9418
Hi Team,

Thank you for getting back to me. I had tried reinstallation before I had
raised this concern. Also i see the sync is working as below :
Just curious to know if the* non payment would have caused this sync to
stop *in my Teams Workspace in Postman application?

Please confirm.

[image: image.png]

On Wed, Jan 13, 2021 at 9:44 AM Postman Support <notifications@github.com>
wrote:

[2021-01-13 08:25] kasvith commented on #2270
this is much needed

[2021-01-13 09:12] Churakovmike commented on #4009
+1

[2021-01-13 09:36] Tithugues opened #9422 "When starting the app, pre-selected environment is not fully loaded (Postman v8.0.0-canary03)"
When an environment is selected, close and reopen Postman. The environment is still selected (in the list), but:
* clicking on the eye beside the environments list shows "No Environment variables" message
* opened requests show variables as "red" (as unknown)

Still, running the requests "works".

**Reproduce**

* select an environment
* open a request with environment variables
* see that environ

[2021-01-13 09:37] Tithugues opened #9423 "After starting Postman, the pre-selected environment is not fully selected (Postman v8.0.0-canary03)"
When an environment is selected, close and reopen Postman. The environment is still selected (in the list), but:
* clicking on the eye beside the environments list shows "No Environment variables" message
* opened requests show variables as "red" (as unknown)

Still, running the requests "works".

**Reproduce**

* select an environment
* open a request with environment variables
* see that environ

[2021-01-13 09:37] #9422 closed, assigned to nobody

[2021-01-13 10:13] DannyDainton commented on #9423
Thank you for reporting this issue @Tithugues 🏆  - The team is going to take a look at this and see what might be causing this issue.

We will be updating this thread when we have more information.

[2021-01-13 10:16] postman-support commented on #9418
@dmoryani Thank you for your message.

Looks like the attached image did not come through.

Non-payment would lock the team till payment is made.
Since this looks to be an account related issues, do reach out to us at our support portal: https://www.postman.com/support and we can check your account status to make sure everything is in order, plus help you with the next steps.

Do mention this GitH

[2021-01-13 13:13] sankalp0o commented on #9421
@Ephesoft-Stitus this is on our minds! What kind of changes would you want to sync to the schema?

[2021-01-13 13:34] jofrev commented on #5220
Do you have any plans for fixing this yet?

Cost me some time as well to figure out what caused some broken authorization headers.
Even completely clearing the value in Quick Look editor and entering it again won't remove pending newlines.

[2021-01-13 13:58] rajahaidar commented on #2801
+1

[2021-01-13 14:25] iamkarlson opened #9424 "Link in the console doesn't seem to look clickable"
**Describe the Issue**

When outputing some url in the console it would be superuseful to them clickable

**Steps to Reproduce**
1.
[code]
2. open the console
3. look the link is not clickable

there's also a question on stackoverflow https://stackoverflow.com/questions/51176245/postman-console-output-clickable-url

[2021-01-13 15:01] mnuzzo-datto commented on #8534
I agree - requiring that users modify the system under test to send these headers is sub-optimal and risks introducing further bugs.

[2021-01-13 16:23] Ephesoft-Stitus commented on #9421
@sankalp0o - In a perfect world we would have the Open API spec file there when we need it, but wouldn't spend any resources on creation or maintenance.

I think to start a workflow would look like this (just initial thoughts):
1. A user switches on the 'Sync to API definition' setting and confirms that this will cause an overwrite of the existing definition (if a definition isn't present one will

[2021-01-13 17:25] #4700 closed, assigned to ratpik, vvs11

[2021-01-13 17:26] jameshd commented on #4700
@vvs11 has answered this now.

[2021-01-13 18:12] diego-ramos commented on #5920
I had the same issue ( duplicate a request only creates an empty one ), but after read this post I found the tabs ( didn't notice them before ) and that they can ( and needed to ) be saved; after you saved the tab you can duplicate your request and the new one will have the data that you had saved before on the original request.

[2021-01-13 18:50] Sam-Automation-2021 opened #9425 "Postman and Slack integration issue - postman monitoring result location - created monitoring collecting is not reflecting"
Hi All,

Describe the bug

We are working on Postman monitoring and slack integration, When even our schedule build is triggered need to get the status notification in our slack channel.                                                                                                                                                                                                          I have creat

[2021-01-13 20:21] postman-support commented on #9418
@dmoryani I was able to locate the internal ticket and found that the issue has been resolved and you are now unblocked :)

I will be closing this ticket next, feel free to reach out directly over at our support channel for account related issues.

via @xk0der | Postman Support

[2021-01-13 20:29] #9418 closed, assigned to nobody

[2021-01-13 20:39] jrichardsz commented on #8255
@xk0der thank you!!

On Linux

Backup this folder and then delete it:
[code]

If the new postman is empty and you want to restore your workspace, follow these steps:

Paste or override these folders from older to new ~/.config/Postman folder:

- databases
- Local Storage
- Postman_Config
- Session Storage
- storage

[2021-01-13 21:37] lauxjpn commented on #5920
@numaanashraf It has been **9 months** since I asked about the status of this issue for the first time. I then asked again 4 months ago, and have not gotten any response either. Is anybody still monitoring this issue? If not, it looks like I have to create a new issue about the fact that comments on wrongfully closed issues do not get any support by the team and reference this issue here in it.

[2021-01-13 22:07] postman-support commented on #9425
### GitHub Issue: #9425 - Logged by: @Sam-Automation-2021
_Make sure to check the complete github thread before responding_
Existing comment count: `0`
* * *
Hi All, Describe the bug We are working on Postman monitoring and slack integration, When even our schedule build is triggered need to get the status notification in our slack channel.

[2021-01-13 22:18] postman-support commented on #9425
Hey @Sam-Automation-2021 Thanks for reaching out.

Sorry about the last message, that was our automation acting up.

When you say "monitor is not not reflecting", do you mean the monitor that you have created isn't showing up?
Or is the monitor not working as expected?
Are you looking to receive monitoring updates using the slack integration - and is that failing for you?

Do provide us with more

[2021-01-14 01:40] ikari7789 commented on #5827
Still having major issues re-ordering environment variables in 7.36.1.

[2021-01-14 01:42] argarner commented on #6796
The session variables ("INITIAL VALUE") implementation does not go far enough with security and is inadequate. There is nothing preventing a user from accidentally adding sensitive credentials to this field and syncing credentials with the server.

Possible solution: All variables should have the option to set its state to "secret", disabling the "INITIAL VALUE" field entirely (maybe changing it d

[2021-01-14 04:11] ArjunSingh-PM commented on #9316
@drorwb Are you still experiencing any issues with tests in Monitors?

[2021-01-14 04:26] ArjunSingh-PM commented on #9104
@Sayusuli Are you still facing this issue? If yes, could you please check if you have different versions of this collection (test-p1-users) or have any other collection with the same name? Also, did you see any 'errors' for the monitor run?

[2021-01-14 04:46] godfrzero commented on #8358
This is available now within an "activity log" pane on all platforms.

[2021-01-14 04:46] #8358 closed, assigned to godfrzero, anudeepmedicharla, charlie-postman

[2021-01-14 06:24] Sayusuli commented on #9104
Hi,
I figured it out. it was due to some syncing issues in postman.
I locally had different set of requests in different order.
Why tha happened i have no idea, but that caused it.

[2021-01-14 06:24] #9104 closed, assigned to godfrzero, charlie-postman

[2021-01-14 06:45] ash007-postman opened #9426 "$isoTimestamp doesn't work in Monitoring"
**Is your feature request related to a problem? Please describe.**
Users looking to bring {{$isoTimestamp}} to the Monitor environment. At the moment it's not supported. Could be considered as a Feature Request.

**Describe the solution you'd like**
Monitors don't seem to support the same feature set as whatever platform is running "normal" requests.

**Describe alternatives you've considered**
Fo

[2021-01-14 08:17] jibiabraham commented on #9416
@alxtr1bal could you post more information on the issue you are facing? Specifically,

1. Is the collection visible on your sidebar, but this message shows up when you attempt to open it
2. If so, could you post the ids of the workspace, and the affected collections?

[2021-01-14 11:37] Brent7788 commented on #9097
This was also my problem. Thy should be more clear about Postman desktop and the Agent one!

[2021-01-14 13:53] m-kratochvil commented on #5819
On the current version 7.36.1 the error `Warning: Unable to verify the first certificate` is still there even with SSL verification under `Settings > General` disabled.

[2021-01-14 14:55] pawel1981 opened #9427 "Exporting collection with unsaved requests."
**You can export collection with unsaved requests**
I had collection of 15 requests, they were opened, and not saved. I exported them to json, then removed collection from workspace.
Then, I have imported collection from json on the same machine but different workspace. All my work has gone since I forget to save things before export.

**User should be informed that he has unsaved requests**
There

[2021-01-14 18:35] kamalakannanv commented on #1066
+1

[2021-01-15 00:27] rhaddan opened #9428 "Auto-scaling of licensing"
Our organization uses Azure Active Directory for single sign-on to Postman. The ability for domain users to auto-join Postman is great, but I still have to manually add licenses when we onboard new employees or hold unused licenses open.

This request to to auto-scale licenses (similar to Atlassian's model) as new users are approved for addition.

[2021-01-15 02:35] taehoshino commented on #7301
Another report on the community: https://community.postman.com/t/parameters-from-json-openapi-3-0-schema-not-displaying-in-postman-api-documentation/19139

[2021-01-15 06:44] Aziiiz commented on #4009
+1

[2021-01-15 08:14] ifaridjalilov commented on #7301
Any update for this ?

[2021-01-15 08:31] Miguel-c-s commented on #1066
+1, would be very useful

[2021-01-15 09:06] alxtr1bal commented on #9416
@jibiabraham , i can't see any collections at all.

<img width="602" alt="Postman_Coll" src="https://user-images.githubusercontent.com/10094922/104704660-33cffe00-5719-11eb-9d0c-4a39f5629d38.png">

[2021-01-15 09:12] alxtr1bal commented on #9416
@jibiabraham , i think this log extract is related :

[code]

[2021-01-15 10:19] xk0der opened #9429 "Postman desktop app doesn't launch on fresh install of macOS BigSur"
_This is being logged by Postman, based on a couple of reports we have had of the following issue as we investigate further_

## Describe the Issue

Postman app fails to launch, on a fresh install of macOS BigSur.
After unzipping the downloaded archive from here: https://www.postman.com/downloads/ and then clicking on the `Postman.app` file nothing happens.

You may see the Postman icon bobbing in

[2021-01-15 10:25] coditva commented on #9416
@alxtr1bal Thanks for the info! This helped a lot. We're working on fixing this asap.

[2021-01-15 10:35] xk0der commented on #9338
We are investigating the MacOS BigSur issue here: #9429

[2021-01-15 10:58] gdrugan commented on #2082
using v7.36.1 and I get random name instead of name in content disposition.

[2021-01-15 12:14] oliver-90 commented on #8366
Thank you, it seemed closing those tabs worked on my side as well.

using MacBook Pro M1 13"inch 8gig ram

[2021-01-15 14:10] HxxH5 opened #9430 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-01-15 16:28] robojukie commented on #7301
+1

[2021-01-15 17:26] celsooliveiraTBDE commented on #9390
updating the URL did the trick.  thanks @tominaus

[2021-01-15 18:52] cdolan92 commented on #1070
I've had to go ahead and delete all non-200/Success examples. Otherwise our documentation defaulted to showing random errors (forbidden, etc)...

[2021-01-15 18:57] alexprest commented on #1070
Yeah it's really frustrating and super error prone. Also you might have to do that again in the future because the order *might* get randomized when new samples are added.

We've been waiting for this fix forever and the age of the threads attests ☹️ @Raja-Simha

[2021-01-15 18:59] cdolan92 commented on #1070
Right and if it does randomize them in the future, the only option is to procedurally delete and re-add the examples to keep the right index.

[2021-01-15 19:38] conradpronto commented on #1070
it's an abomination and frankly unacceptable for a mature platform like Postman

[2021-01-15 19:46] cdolan92 commented on #4818
Disappointed this isn't an option. Without it, we have to share our staging baseURL in the documentation body or some other subpar answer.

[2021-01-15 19:51] cdolan92 commented on #1070
Is there a public dev timeline that postman publishes? I spent all day learning the new web interface and getting a collection organized to publish, only to find out there are more holes in what I'd consider to be basic functionality (for example, you can't publish API docs with more than 1 environment. This is a big drawback because we support a staging and production URL, see issue #4818).

I as

[2021-01-15 20:17] summersjc commented on #350
+2

[2021-01-15 20:20] johndpope commented on #350
might help (in relation to Charles software) - Acquisitions - how to take over another company https://www.unbiased.co.uk/life/small-business/acquisitions

[2021-01-15 22:44] willroyMyles opened #9431 "Replace collection test with request level test"
##Problem
After I've written a collection test and the collection grows, the test may go out of scope or not alley to all test

##Solution
It would be nice if in the local request test I could overwrite the collection and folder test by either giving it the same name or a command to skip these tests

[2021-01-16 00:13] hunterjackson-keebo commented on #5194
+1

[2021-01-16 07:11] coditva commented on #9416
@alxtr1bal We've fixed this issue in the latest Postman Canary `v8.0.0-canary07`. Can you please try it out and confirm if it's fixed for you?

[2021-01-16 07:14] alxtr1bal commented on #9416
@coditva Confirmed working now, thank you.

[2021-01-16 07:29] #9416 closed, assigned to nobody

[2021-01-16 19:48] #6398 closed, assigned to nobody

[2021-01-16 20:05] hg13190 commented on #363
This functionality is really needed...

[2021-01-16 20:25] mccannt commented on #6707
Thanks for reporting this @gjd6640

[2021-01-17 08:05] redmikegit commented on #8455
I'm having the same problem too. I'm getting blank data.

[2021-01-17 16:41] ghost opened #9432 "Unable to access collections in scratch"
Might be me (probable), but i upgraded Canary to

Version 8.0.0-canary07
linux 5.8.0-38-generic / x64

But I am unable to see any of my collections in scratch - i can see the environments ok and the history but its says i have 14 collections but when i select doesn't do anything. It does say I can perhaps see them in Workspaces and gives me dialogue box to sign in - go to sign in lets me see in on

[2021-01-17 21:18] postman-support commented on #9425
Hey @Sam-Automation-2021, we haven't yet heard back from you yet, hence I'm moving to close this issue next.

Feel free to log a new issue, referencing this one, once you have more information.

via @xk0der | Postman Support

[2021-01-17 21:19] #9425 closed, assigned to nobody

[2021-01-17 22:26] dfaliush commented on #8747
the same issue: Error: Parse Error: Invalid header value char

[2021-01-18 00:04] mccannt commented on #5827
@ikari7789 Can you try our Canary version and let us know if this has any impact? https://www.postman.com/downloads/canary/

[2021-01-18 00:11] #7429 closed, assigned to appurva21

[2021-01-18 02:47] ikari7789 commented on #5827
Seems to be working great in the Canary version. I didn't know this existed. Thanks.

[2021-01-18 04:17] coditva commented on #9414
@waropdebeeck Thanks for writing in. We're tracking this as a feature request. Will post any updates on this thread.

[2021-01-18 04:23] coditva commented on #9424
@iamkarlson Thanks for writing in. This is the expected behaviour since Postman Console acts as a tool for debugging and all messages that are logged as treated as strings.
But I see where you're coming from so I'll track this as a feature request. Will post any updates on this thread.

[2021-01-18 04:26] coditva commented on #9427
@pawel1981 Sorry that this happened to you, but this is the expected behaviour. Postman cannot export the data until it is saved. I'm closing it out but please feel free to reopen if you feel otherwise.

[2021-01-18 04:26] #9427 closed, assigned to nobody

[2021-01-18 04:28] coditva commented on #9431
@willroyMyles Thanks for writing in. We're tracking this as a feature request and will post any updates on this thread.

[2021-01-18 05:04] godfrzero commented on #9370
@danurahadi We haven't been able to reproduce the problematic behavior on any environments. Would you mind shooting us an email at help@postman.com so we can take a closer look?

[2021-01-18 06:10] tonghoang196 commented on #4009
+1

[2021-01-18 09:06] mbraidy opened #9433 "Sorting of examples"
The examples in the documentation are sorted differently than the sorting in the collection.
 Moreover, I can't sort the examples in the collection with drag & drop.

Any help?

[2021-01-18 10:16] drognisep commented on #8933
This is exactly what I was looking for to address the same use-case, but it looks like this isn't possible yet.

@vvs11 Will this be addressed in the near future? I'd like to use Postman to test my API, but requiring this much manual settings adjustment (and potential user errors) between environments makes it a non-starter.

[2021-01-18 13:10] limoneren commented on #4897
Had the same issue today and uninstalling/installing didn't work, but this worked.

[2021-01-18 13:24] simonschllng commented on #5848
In v7.36.1 Postman still crashes in runner. Now it's not crashing on close of the runner but when opening it again afterwards.

[2021-01-18 13:41] mccannt commented on #5827
@ikari7789 This is great news, we should have this improvement in our main application in the very near future. Thanks for confirming.

[2021-01-18 15:37] vdespa opened #9434 "Postman web: losing work when editing the documentation"
**Describe the Issue**

It is too easy to lose a lot of work while editing the markdown in the request documentation.

**Steps to Reproduce**

- open the documentation and click the pencil to edit
- make a small change
- navigate to a different tab
- when you come back, the editor is closed and your changes have to been saved.
- no warning has been issued about the possible changes that will get l

[2021-01-18 16:56] mikeelston commented on #9346
Any update on a native or universal build for apple silicon?

[2021-01-18 18:45] Raja-Simha commented on #9434
@vdespa thanks for reporting. We will try to get this fixed soon. Meanwhile, you could use the complete documentation view to edit documentation. Unsaved changes are preserved in the complete collection documentation tab.

[2021-01-18 19:42] timbochamp commented on #8834
@srinivasskc This should now be fixed this issue in the latest Postman Canary application (v8.0.0-canary09), as well as in Postman for Web. Can you please try it out and confirm if it's fixed for you?

[2021-01-18 19:50] timbochamp commented on #8971
@FCulig This should now be fixed this issue in the latest Postman Canary application (v8.0.0-canary09), as well as in Postman for Web. Can you please try it out and confirm if it's fixed for you?

[2021-01-18 19:57] timbochamp commented on #7865
@oktay89 @jamespavett Performance should now be much better in the latest Postman Canary application (v8.0.0-canary09), as well as in Postman for Web. Can you please try it out and confirm if it's fixed for you? I tried a couple collections with iteration counts of 5000+ and was able to get through them without crashes/unresponsiveness.

[2021-01-18 20:25] baohouse commented on #4808
My use case is injecting an "extensions" key into a GraphQL query request (yes, I realize that is not mentioned in the GraphQL spec; "extensions" is part of response, but not request). If we want to use Postman's GraphQL editor, then the workaround mentioned above will not allow us to do so. For now, my workaround is running a local Express.js proxy server that transforms request bodies before sen

[2021-01-18 20:48] ulayera commented on #3312
This only works if the url has no variables, as they are being interpolated just before the request is sent.

Here if anyone gets to this issue just as me, let's say url is `https://{{myVar}}/someUri`
[code]

[2021-01-19 03:05] yuzd commented on #9274
+1

[2021-01-19 03:24] TonyLi2013 commented on #4193
It's been five years, for five years...Do you know how have I been doing for five years without this feature!!!

[2021-01-19 03:28] elazar commented on #4193
Duplicating defined requests a lot because you couldn't just reference them?

[2021-01-19 03:30] mcha-dev commented on #4193
☝️ we have a winner 🏆

[2021-01-19 03:36] TonyLi2013 commented on #4193
OK, I see, just a kidding, don't mind.

[2021-01-19 05:04] mohitranka commented on #9423
@Tithugues This issue has been fixed in the latest canary version - `8.0.0-canary09` . Please do upgrade and let us know if you face any issues.

[2021-01-19 05:04] #9423 closed, assigned to nobody

[2021-01-19 05:14] danurahadi commented on #9370
@godfrzero okay, we can move this issue to help@postman.com. thanks so much for your support.

[2021-01-19 07:36] leidong-xiy commented on #5990
Guys, was it due to the `Sync your API requests across devices`?

[2021-01-19 08:55] ijlalbm commented on #8455
You can add Content-Type with value application/json in headers, as well as uncheck Content-Type with text/plain value. It works for me.
<img width="369" alt="postman_issue" src="https://user-images.githubusercontent.com/33796834/105010739-0ebff000-5a77-11eb-8540-adf1de8283fc.PNG">

[2021-01-19 09:20] Tithugues commented on #9423
It works now! Thank you!

[2021-01-19 09:46] yangxikun opened #9435 "When syncing, the app is so stuck."
**Describe the Issue**

![image](https://user-images.githubusercontent.com/3364160/105016822-12a34080-5a7e-11eb-843a-669f1b306e1a.png)

When syncing, the app is so stuck.

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version: 7.36.1 (7.36.1)
 - Operating System: macOS Catali

[2021-01-19 10:24] jacquesndl opened #9436 "Import from OpenAPI URL failed"
Hello,

I try to import a collection on Postman v7.36.1 from an OpenAPI URL v3.0.2 and Postman display a failed notification without information.

You can find the json below :
[code]

![postman](https://user-images.githubusercontent.com/4654503/105019778-c5f04300-5a46-11eb-8c71-06caa3b162ea.png)

I don't know if its a bug or not, but the json seems valid to me because it's use on other applicatio

[2021-01-19 10:32] abhijitkane commented on #9436
@jacquesndl Can you validate the schema at https://editor.swagger.io/? I see invalid characters in component names that might be causing this.

[2021-01-19 11:38] mrbenjoi commented on #1757
How about this? This might be an easy solution for assembling tests into chains that depend on each other.

At the top of each test script, put this function as a replacement for `pm.test(...)`:

[code]

And then, below this function, put tests that depend on each other together into a try-catch-block:

[code]

If you have multiple test-chains that are independent to each other but within each of

[2021-01-19 12:04] jacquesndl commented on #9436
Thanks @abhijitkane.
Indeed, there are several errors in the json.

[2021-01-19 12:04] #9436 closed, assigned to nobody

[2021-01-19 13:32] chughmayank commented on #8371
Hey @JoeNyland ! Are you still facing this issue? We pushed a couple of fixes in interceptor and you can check them out in the latest version of interceptor. You can use the learning doc to find how to update the interceptor here: https://learning.postman.com/docs/sending-requests/capturing-request-data/interceptor/#updating-interceptor

[2021-01-19 14:44] VijitCoder commented on #6236
This repo has over 1700 opened issues now. Trust me, this one is the biggest problem of this software :)

[2021-01-19 16:40] hobailey opened #9437 "@specifiedBy is not "valid schema" for graphQL"
**Describe the Issue**
We have something in our graphQL schema which is valid graphQL but the Postman schema validator is failing (and therefore autocomplete for that schema is failing)

[code]

**Steps to Reproduce**
Add the above to your graphQL schema and it will show as invalid

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/1564439/105064630-eafbaa80-5a74-11eb-80

[2021-01-19 18:04] nitrocode opened #9438 "When certs are updated on the file system, the certs are removed from Postman but not re-added"
**Describe the Issue**

After adding a client certificate for mTLS, all our requests are working correctly. After 24 hours, our zero trust provider updates our local certificates after reauthenticating with our SSO provider. This deletes our local client certificates and adds new ones.

In the Postman app, our login-cacert.pem CA certificate path will persist however our Client Certificate will ha

[2021-01-19 18:18] lflucasferreira commented on #4193
I believe I'm gonna die and this feature will never be implemented. It's already in Insomnia but Postman. Nevertheless, I'll not leave Postman behind.

[2021-01-20 02:19] paulcruse-syn commented on #6102
I too would like to see this implemented.

It's kind of weird that this is not already implemented given how teams operate in real life.

How can I be an admin of a team and not be able to delete something from within that team? If a team member leaves my team I am unable to administer their workspace? Seems a bit odd...

[2021-01-20 06:00] Raj-postman commented on #9280
Hi @wildintu and @Aronpd1 - The issue should now be resolved.
Can you please try this flow in the latest version of the application (v.7.36.1) and let us know if that helps?

[2021-01-20 06:48] mbraidy opened #9439 "Bulk editing response example header"
**Is your feature request related to a problem? Please describe.**
I was trying to edit response example header used for mocking

**Describe the solution you'd like**
To be able to bulk edit the saved response example header

**Describe alternatives you've considered**

**Additional context**
This is how it looks now
![Screenshot from 2021-01-20 07-38-15](https://user-images.githubusercontent.com/

[2021-01-20 07:04] JoeNyland commented on #8371
Hey @chughmayank . I've not had this issue recently, so I'm happy to say this looks to be resolved. Sorry I've not communicated that until now 🤦 .

[2021-01-20 07:04] #8371 closed, assigned to abhijitkane

[2021-01-20 08:44] AxyLm opened #9440 "语言切换功能 - Language switching function"
用户量巨大的postman却仅有英文，太不友好了，可否在设置选项添加多语言支持。

[2021-01-20 08:49] Raj-postman commented on #8213
Our team checked on this further after the comment @Bysmyyr - may I know if it helped?

@galbarm We haven't heard back from you on the ticket. Just checking to see if the recent improvements helped?

[2021-01-20 09:11] galbarm commented on #8213
Hi,
I can't tell if it helped because my workaround was to delete-create the whole collection for each update instead of using the update API, and this is how my system currently works.
This is not perfect because a failure after delete but before the creation is dangerous, but I had no other option.

[2021-01-20 09:52] ruowan opened #9441 "How to download postman collection and env from workspace via rest api?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I want to download postman collection from workspace via rest api?

**Describe alternatives you've considered**
A clear and concise descripti

[2021-01-20 10:05] DannyDainton commented on #9441
Hey @ruowan

This seems like the perfect question to as over on the Postman Community Forum, They are folks on there who can walk you through the process. 🏆

https://community.postman.com/

Additionally, The Postman API Collection can also be found in our Public Workspace which will give you the details to download the different entities that are part of your user account.

https://www.postman.com

[2021-01-20 10:05] #9441 closed, assigned to nobody

[2021-01-20 10:46] jotsarup commented on #9430
@HxxH5 Can you please tell us the details of the integration that you are looking for.

[2021-01-20 12:38] martinvilche98 commented on #6269
When is this going to be implemented?
It's been opened since 2019 and there still isn't even a minimal functionality to recover an environment. The comment above me is from Dec 3 2020.
Even after having a payed team workspace, the trash tab only allows collections to be restored.

How long can you take to make this work?

[2021-01-20 12:40] modestoartur commented on #7607
+1

[2021-01-20 13:52] mbraidy commented on #8614
This can serve both the documentation and the sandbox at the same time.
A client can choose one environment to see our server API request url and chose another environment to see the sandbox request.

[2021-01-20 13:53] mbraidy commented on #4818
This is a very useful feature.
+1 from me
This can serve both the documentation and the sandbox at the same time.
A client can choose one environment to see our server API request url and chose another environment to see the sandbox request url.

[2021-01-20 14:35] ashishvd1 opened #9442 "newman 5.2.1 is running 0/0 iterations for any export from postman 7.36.1"
**Describe the Issue**

newman does not recognize any request in the postman export.
newman always runs 0/0 iterations.
This started once I upgraded to latest postman. There is some issue in postman export. Quick comparison, I see the ID attribute is missing in export.

**Steps to Reproduce**

Create postman collection in 7.36.1
Export collection in the collection 2.1 format
Run collection using n

[2021-01-20 14:38] DannyDainton commented on #9442
Hey @ashishvd1

Could you please create this issue on the Newman repo - https://github.com/postmanlabs/newman

Going to close this one out from here.

[2021-01-20 14:38] #9442 closed, assigned to nobody

[2021-01-20 15:43] mattpangaro commented on #7455
This would be great. Really the certs could/should be chosen with the request/collection, like other settings, to allow this to be flexible. If you could just import the certs to be available for selection and given aliases, then choose which to use for each request, that would be ideal. If not, at least importing multiple to each URL, and allowing the choice of those.

[2021-01-20 16:26] andrewwardell opened #9443 "Certificates not adding correctly"
Recently, when I attempt to add a certificate, it is showing up differently than prior certificate additions, and I get a "proper client ssl certificate was not presented" error when I try to use it.

I have 4 domains that use the exact same certificate/key pair.  These all worked fine until recently.  I recently removed the certificate for the 4th domain as part of testing, and when I re-add it,

[2021-01-20 18:37] KoenZomers commented on #7414
Stumbled upon the same here. Some of the variables do seem to be copied over to current value automatically and some don't. The URL variables fall into the don't category which also left me to scratch my head. Thanks for sharing your finding here. It helped me as well :)

[2021-01-20 19:27] CaptainStealthy commented on #8231
Is there any other workaround for this? I'm trying to test my Azure AD OAuth app with Postman, and the fact that Postman doesn't even show me the id_token is ridiculous. This is making it impossible for me to even use Postman at this point. :|

[2021-01-21 01:48] postman-support commented on #9443
Hey @andrewwardell 👋 - May I request you to check under the Postman Console log to verify if the right client certificates are being sent?

You can access the Postman console by clicking on the icon located at the bottom left in the Postman app:
​ ![](https://postman.zendesk.com/attachments/token/9A8vLiygAc5pPHao0yClyEW1J/?name=Screen+Shot+2021-01-21+at+2.40.53+PM.png)​

Alternatively, from the Po

[2021-01-21 02:40] ruowan commented on #9441
Great! The public workspace api is what I am found.

[2021-01-21 05:07] JaixTim commented on #3517
@arlemi You closed this issue but there is still no tooltip support for showing values of variables in the body as per other fields in the app. Is there a separate issue for that or do I need to raise one?

[2021-01-21 13:38] andrewwardell commented on #9443
The error is in the Console is “Error: proper client ssl certificate was not presented”.  These are known good certificates, and worked before I removed/readded.  I can use the same certificate in another environment (where I didn’t do the remove/re-add) without issue.

I believe that Postman is not sending the certificate at all.  This seemed to be the case the last time this issue showed up.

Re

[2021-01-21 14:29] andrewwardell commented on #9443
This seems to have spontaneously corrected itself.  I appreciate the time/effort, but I think we can close this.

Regards,
[cid:image001.gif@01D6EFD7.DF481AA0]<https://www.adp.com/>
Andrew Wardell
NAS Tech Support Advisor
NAS - Field Support Services

99 Jefferson Road, Parsippany, NJ 07054
T: 973 974 6181   C: 781 548 1374

andrew.wardell@adp.com
[cid:image002.gif@01D6EFD7.DF481AA0]<https://www.l

[2021-01-21 14:32] morrison147 commented on #5580
I'm having issue upgrading Postman x64 on a Windows 2012 R2 RDS server from version 6.7.4 to version 7.36.1. Attached are screenshots of the update error message, the DevTools errors, and the squirrel setup log.

[updateFailedMsg.zip](https://github.com/postmanlabs/postman-app-support/files/5849945/updateFailedMsg.zip)

[2021-01-21 16:23] pwaterz commented on #5273
I believe the issue in Ubuntu when installed via a snap is that apparmour is blocking it
[code]
I believe the snap needs to include an apparmor configuration file. I just disable apparmor.

[2021-01-21 17:23] pwaterz commented on #5273
Update I reinstalled not using snap store and apparmor no longer block the xdg link.

[2021-01-21 18:00] Jan1torEarl commented on #4253
+1
How is this not a thing??

[2021-01-21 19:29] s3YwCf2ZbfJG4SHAfjQMAjtsf commented on #1137
I tried the NTLM option within Postman and couldn't get it to work.   Using Fiddler Classic in the background with Automatically Authenticate, I could test NTLM situations.

[2021-01-21 19:48] postman-support commented on #9443
@andrewwardell great to hear that the issue is now resolved for you! I appreciate you letting us know.

Do not hesitate to reach out to us in the future!

via @xk0der | Postman Support

[2021-01-21 19:49] #9443 closed, assigned to nobody

[2021-01-21 21:49] akbbhatt opened #9444 "Monitoring: Error occured while fetching versions"
If I try to create a monitor  on my  collection then I get this error: "Error occured while fetching versions"

my postman version is:  Postman v7.36.1

ps: There is also a typo in the error message, please fix that as well.

[2021-01-21 22:23] molteninjabob commented on #4193
@shamasis @a85 @preethammavin - Why does this feature request continue to get ignored?

[2021-01-21 23:06] MkFoster opened #9445 "Prompt the user to fill in missing variables"
Public workspaces may contain collections/requests that require a variable to be filled in such as an API key.  If the user doesn't do this we are dependent on the API to tell them they are missing something.  New Postman users might not realize where they need to go to fill in the variable value even if they know it is required.

It would be cool if you could mark a variable as required.  If the

[2021-01-22 02:39] gbhipolitoglyph commented on #363
same here. version 7.36.1 in mac. thanks

[2021-01-22 05:35] kadirselcuk opened #9446 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-01-22 05:47] santoshkar opened #9447 "Cannot close window that appears everytime on launching postman"
I am using Windows 10. When I open Postman, it opens a window after launching postman with 3 tabs - Create New, Templates, API Network.
The problem is, I cannot close that window. None of my mouse click responds there. And I am not able to use the postman.
![postman_error](https://user-images.githubusercontent.com/1926004/105451868-410c6000-5cb8-11eb-86a1-6d1f47fa1b2d.jpg)

[2021-01-22 06:52] jotsarup commented on #9446
@kadirselcuk can you mention the details of the integration that you want

[2021-01-22 09:01] Antonhansel commented on #8203
Hello @codenirvana

I'm facing the same issue when using Google Apis upload methods where sending metadata along the content is required, for example: https://developers.google.com/display-video/api/guides/how-tos/upload#multipart
As explained in the doc, two `content-type` headers need to be set for different parts of the request.

[code]
Thank you for your time.

[2021-01-22 09:17] postman-support commented on #9444
Thanks for pointing out the typo in the error message.

By default, Postman Monitors access APIs from dynamic IP addresses and it seems you're trying to access the APIs behind a restricted firewall. Would you please confirm if this is not the casel?

via @ | Postman Support

[2021-01-22 09:51] rdenisi opened #9448 "Favorite requests in collection"
**Is your feature request related to a problem? Please describe.**
In a long list of API in a collection you cannot see at glance a particular API.

**Describe the solution you'd like**
It would be useful to be able to mark a single API as favorite so that it stands out in a list. To make it clear there might be something like a star on the right side of the title.

[2021-01-22 10:00] DannyDainton commented on #9447
Hey @santoshkar

That looks like a very old version of the app - When did you download this one?

[2021-01-22 11:07] nttlorand commented on #3360
Any news about this issue? It was created in 2017 and several years have passed already. If this is not going to be fixed ever due to the "Low" priority then maybe a professional could give us a pertinent solution. Thanks!

[2021-01-22 12:30] kadirselcuk commented on #9446
I'm collecting several tags for mailer lab users' requests for a new feature included in integrations that aren't in the app market
So do you think that our new product requests, which we can use in the mailer lab, will contribute to the idea of enriching postman applications?

[2021-01-22 12:59] Swapnil-getpostman opened #9449 "Removing "view more" button from the published documentation"
**Is your feature request related to a problem? Please describe.**
Removing the "view more" button from the published documentation. It would be good to have over the same page.
<img width="840" alt="view_more" src="https://user-images.githubusercontent.com/52168965/105493648-acb5f380-5cdf-11eb-9d94-60306cd02db6.png">

**Describe the solution you'd like**
It would be good to have the option "click

[2021-01-22 13:13] githugt commented on #5039
I think I found out at least one possible way this happens.
In my case, I had a part where I was cleaning up at the start. Here I would try to clear cookies for the 127.0.0.1, but since the whitelisted domain wasn't right, scripts past that would actually run, but the context of it was not available.

What does mean?
Basically, After the cookie clearing script, I was setting a few collection varia

[2021-01-22 13:20] githugt opened #9450 "Collection variable propagation. Confusing script execution,"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

Here's a collection that can explain the problem.
[Postman variable propagation error.postman_collection.json.zip](https://github.com/postmanlabs/postman-app-support/files/5856015/Postman.variable.propagation.error.postman_collection.json.zip)

![error screenshot](https://user-images.githubusercontent.com/8955849/105494845-

[2021-01-22 13:32] santoshkar commented on #9447
@DannyDainton Thanks for responding. Actually I’m working for a bank and they have software center from where we can only download authorised softwares. But I think yes, it could be an old version. Any workaround available for it? I think the lagging issue is because of it’s searching for updates and it’s not responding till it get a response.

[2021-01-22 13:35] DannyDainton commented on #9447
I'm not sure about your current restrictions are in terms of downloads but you can access the latest version using a web browser.

https://go.postman.co

[2021-01-22 16:06] strawp commented on #8612
Based on this it seems the issue is with the implementation of TLS 1.3 used by Postman?

In my case, I was talking to an API which required client certs for authentication (which were added to Burp), Burp was carrying out the requests fine but in most (but not all) cases PM wasn't able to parse the response which Burp served. In a lot of cases, if I kept hammering the "Send" button then every so o

[2021-01-22 20:27] elipinska commented on #3820
This would be a really awesome feature to have, it's a shame this issue (and https://github.com/postmanlabs/postman-app-support/issues/3007) got closed with no real solution.

[2021-01-22 23:05] JanBorupJakobsen commented on #8490
You could check out:
https://github.com/jbjakobs/Postman/wiki

[2021-01-23 10:51] abhisek3122 opened #9451 "Could not send request Error: ENOTFOUND"
**Describe the Issue**

The connection in perfect and hosted on localhost, The request is working with curl and check, Why is postman failing to send request?

**Environment Information**
 - Platform Type: Postman Web

[2021-01-23 10:58] DannyDainton commented on #9451
Hey @abhisek3122

Can you check the type of Postman Agent that you're using, please?

![f99ba0bc56595eaded9adf7374385329fd762aac.png](https://user-images.githubusercontent.com/17089546/105576325-dfa4c980-5d69-11eb-9d4c-b8e24fbddfe5.png)

If you're making requests to a local server that you would need to use the Desktop Agent - I suspect that it's currently on `Auto-Select` and it's currently using

[2021-01-23 11:03] abhisek3122 commented on #9451
Okay I will ping, Once I change and test it

[2021-01-23 11:32] abhisek3122 commented on #9451
Could you tell me, steps to change to desktop agent?

[2021-01-23 11:37] mohitranka commented on #9451
@abhisek3122

* Turn off `Auto-Select`
* Select `Desktop Agent`

If you have Desktop Agent installed and running, it will automatically connect to it - otherwise download it by clicking the button. Following the instructions there should set you up.

[2021-01-23 11:52] DannyDainton commented on #9451
What @mohitranka said 😁 - I included an image of where that's located in the Web view. 😁

[2021-01-23 11:58] abhisek3122 commented on #9451
I changed to browser agent, and its working now!
Thank you

[2021-01-23 11:59] abhisek3122 commented on #9451
Thanks for awesome fast support, This issue can be closed

[2021-01-23 12:01] halfluke commented on #8612
if it was only with Burp I would say that somehow java and tls 1.3 do not get along well so far, but if it's also with Postman without Burp, no idea...

[2021-01-23 12:08] #9451 closed, assigned to nobody

[2021-01-23 15:21] praveendvd opened #9452 "Postman interceptor / Proxy save to collection doesn't show all the requests in native app"
**Describe the Issue**

Captured request count is different in postman web and postman native app

**Steps to Reproduce**

1. in native app set postman capture as proxy and set save requests to collection
2. Set firefox proxy as localhost and port we set in postman capture proxy
3. navigate to http://www.kociesprawy.pl/magazyn/czytelnia_artykuly_w_kocich_sprawach/koty_i_ludzie/kocie_blogi_-_w_krai

[2021-01-23 18:37] a85 commented on #9428
We are working on this.

[2021-01-23 23:16] kadirselcuk opened #9453 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-01-23 23:17] kadirselcuk opened #9454 "devapi"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-24 07:04] vicampuzano commented on #9346
I can't get postman working on my new Macbook Pro 13 16Gb Ram with Apple Silicon. Lucky to have Postman web but it's not a long-term solution.

Any updates about native support?

Thanks!

[2021-01-24 09:27] #9454 closed

[2021-01-24 17:39] dimmduh commented on #6681
Any changes? It should be default feature.

[2021-01-24 21:00] bhdrk commented on #2801
+1

[2021-01-24 21:20] ipranjal opened #9455 "Unable to view public workspace in Desktop application"
**Describe the Issue**

I am unable to create or view public workspace from my Postman Desktop application . I can create a team workspace and when I convert it to public workspace I can no more open that workspace on my desktop application.

**Steps to Reproduce**

1) Open postman application
2) Goto create new workspace

Boom, there is no option to create public workspace !

1) Create a team wor

[2021-01-24 21:28] mohitranka commented on #9455
@physcocode Public workspaces should be accessible with the latest 8.x version, which you can download from https://www.postman.com/downloads/

[2021-01-24 21:32] physcocode commented on #9455
Weird, postman showed no updates available :(
@mohitranka thanks for the help, it works on 8.x version :)

[2021-01-24 21:32] #9455 closed, assigned to nobody

[2021-01-25 00:56] ahdung opened #9456 "Add allow trailing commas option for json check"
![image](https://user-images.githubusercontent.com/12094247/105649371-f1fa4100-5eea-11eb-9a5b-d5af599939c0.png)

[2021-01-25 04:46] chengwah1 commented on #5194
+2

[2021-01-25 05:23] taehoshino opened #9457 "Export option on web platform is not obvious"
**Is your feature request related to a problem? Please describe.**
_Feature request filed by Product Support._

On web platform, "Export" option is moved from the context menu (on left pane) to the menu on the central window (as below):
![web-menu](https://user-images.githubusercontent.com/55820883/105664569-1d9c1c00-5f29-11eb-8863-78b52e23448e.png)
![web_export](https://user-images.githubusercont

[2021-01-25 05:30] mohitranka commented on #9457
@taehoshino Users will get the same web ui experience with the upcoming major version of the app - Check it out at https://www.postman.com/downloads/ and we look forward to your feedback! :)

[2021-01-25 07:38] ankit-m commented on #7474
We have launched Postman v8 (available for direct downloads as of now) which loads all workspace elements instantaneously.

[2021-01-25 07:38] #7474 closed, assigned to nobody

[2021-01-25 10:15] DannyDainton commented on #9419
Hey @dmoryani - Is this still causing you an issue?

[2021-01-25 10:16] kolya182 commented on #9457
@mohitranka This docs outdated, no way i can locate `Code` button here https://learning.postman.com/docs/sending-requests/generate-code-snippets/. As https://github.com/taehoshino mentioned i can't export individual query from:
<img width="1014" alt="Screen Shot 2021-01-25 at 2 15 48 AM" src="https://user-images.githubusercontent.com/3277207/105692392-379b1780-5eb3-11eb-8145-93dd12efd384.png">

[2021-01-25 10:17] DannyDainton commented on #9239
Hey @dzmitry-kakaruk-webjet,

Is this still causing you an issue?

[2021-01-25 10:22] Odirb commented on #4009
+1

[2021-01-25 10:28] DannyDainton commented on #9457
Hey @kolya182

That code snippet generator is now located in the right side context bar, along with various other options. The docs with been getting updated to reflect all the changes very soon.

![image](https://user-images.githubusercontent.com/17089546/105693455-a8642300-5ef7-11eb-83af-aa7e3a112186.png)

More of the new changes can be found here - https://blog.postman.com/introducing-postman-d

[2021-01-25 10:42] HonungsH commented on #8612
Hello,
I am facing the same issue.
I simply removed a certificate from the list of certificates in Postman and added it again with the exact same credentials and now I get:
Error: write EPROTO 1216298392:error:10000410:SSL routines:OPENSSL_internal:SSLV3_ALERT_HANDSHAKE_FAILURE:../../third_party/boringssl/src/ssl/tls_record.cc:587:SSL alert number 40

Pls fix asap as this is very blocking!

[2021-01-25 11:03] ninoDagdag opened #9458 "Postman Issue connecting when signing in to Authentication Services"
**Describe the Issue**
Unable to Sign with below messages:

_Something went wrong!_
_We're having some difficulties connecting to our authentication service. Try again after some time._

**Steps to Reproduce**
1. Install Postman v.8.0.1 in 64-bit Windows
2. Open Postman
3. Click Sign In
4. Postman is loading
5. Message shown:

_Something went wrong!_
_We're having some difficulties connecting to o

[2021-01-25 12:12] #9080 closed, assigned to VShingala

[2021-01-25 12:37] dpoetzsch commented on #8837
Still happens with 7.36.1.

Very annoying for us because we cannot use this feature as an empty string results in "Invalid scope" error for newer versions of keycloak.

[2021-01-25 12:59] brandon1024 commented on #8612
I've got a bit more information to add that might help PM developers.

I'm making requests against an OpenADR VTN. The OpenADR spec requires TLS v1.2 with the following cipher suites:
- `TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256`, or
- `TLS_RSA_WITH_AES_128_CBC_SHA256`

To establish a connection with the VTN, the client needs the following certificates and key:
- trusted root CA certificate (OpenADR

[2021-01-25 13:14] ninoDagdag commented on #6780
Can we reopen this issue. I encountered this on the following:
Postman Versions:
7.36.1
8.0.1
Windows 64-bit

[2021-01-25 15:23] frog9001 commented on #6516
Sorry to bring this up again, but i'm running v7.36.1 and this fix it's not working for me if i run the request in the Collection Runner.

The only solution i've found is to enable "Allow reading files outside working directory", but it's not ideal.

Any help?

Thank you very much

[2021-01-25 17:21] simibac opened #9459 "Close Tab to the Right"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to close a subset of all my open tabs.

**Describe the solution you'd like**
Let users close tab to the right just like in any modern browser.

**Describe alternatives you've considered**
Right click on the tab and select "close tabs to the right"

**Additional context**
Add any other context or sc

[2021-01-25 18:23] codemaster101 commented on #5194
@vvs11 Do you have any updates on this feature, or if you are still considering it?

[2021-01-25 18:47] silverbullettruck2001 opened #9460 "Pull Request Dashboard"
It would be great to have a single dashboard view into all the PRs that are open at the workspace level.  So I can see all the PRs that are open and need to be reviewed.  Also, on the dashboard it would be nice to be able to filter the PRs shown to be either wide open and show all PRs or filter by reviewers to only show the ones that a certain user is assigned to review.

[2021-01-25 20:18] pR13S7 commented on #3845
Collection runner is completely useless with this bug, It`s a pretty strange to have this bug for a more than 2 years since it was reported.

[2021-01-26 03:52] tony-hizzle opened #9461 "Forward And Back Buttons"
**Is your feature request related to a problem? Please describe.**
I find myself losing track of where I want to be when jumping between tabs or collection items.

**Describe the solution you'd like**
Add a Forward and Back button to navigate to previously visited tabs, similar to IntelliJ or Slack.

[2021-01-26 04:39] sankalp0o commented on #9323
@inland-rob have you tried using the comment feature inside Postman? It lets you annotate different parts of the request, including json bodies, headers, etc. They are not JS style, but built in the interface, so that you can tag other team members, reply to comments, resolve them when they aren't needed.

[2021-01-26 06:18] inland-rob commented on #9323
Yes...but that is not my point. Inline comments have the benefit of being
both proximally contextual and informative. They are on the same line as
the key:value pair. No need to 'point over there' to a comment AND when you
publish APIs for customer/partner consumption you can provide meaning in a
very simple way. Of course we make mention to partners that the comments
are stripped out at runtime.

[2021-01-26 06:50] danmutblix commented on #4249
1. Go to settings -> data -> export all your data to json
2. Uninstall Postman
3. Delete %APPDATA%\Postman
4. Install Postman
5. Go to settings -> import your dump

[2021-01-26 07:46] sankalp0o commented on #9323
Inline comments this way can be contextual (up to the exact letter, not just the line), and informative (affording use of markdown, discussion threads, and more). For example,
<img width="622" alt="Screenshot 2021-01-26 at 1 06 55 PM" src="https://user-images.githubusercontent.com/7601762/105814402-601c3200-5fd7-11eb-93ef-77fe0f0d2b18.png">

We'd think more about how json comments help solve use c

[2021-01-26 08:09] inland-rob commented on #9323
Ok.
But you still have to click to see the comment. That is more work tha the comment being right there ‘on the page’ as it were.

[2021-01-26 08:22] fclante commented on #8769
@jotsarup Hi I would like to hear how far you are with implementing this much anticipated feature?
It's of vital importance if we are to keep on using postman as a tool in our organization that we can have bitbucket server integration.

[2021-01-26 08:29] Barolina opened #9462 "I have Error: connect ECONNREFUSED by http2"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [ Native Desktop App]
 - Postman Version:v7.36.1
 - Operating System: Windows10

**Additional Context**

[2021-01-26 08:44] Andreas-Scholz commented on #7350
The issue still exists in `v7.36.1`

[2021-01-26 09:05] danadri commented on #8366
Postman Version :  v8.0.2
OS : Windows 10
Same issue

[2021-01-26 09:51] denisvmedia opened #9463 "Importing a valid OpenAPI 3 document fails"
**Describe the Issue**

When I try to import an OpenAPI 3 document generated by [API Platform](https://api-platform.com),

**Steps to Reproduce**

When I try to upload [this document](https://pastebin.com/raw/xZGV10mJ), I get "There was an unexpected error. Please try again later".

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/5462781/105829087-33125400-5fc4-11eb-8

[2021-01-26 10:03] DannyDainton commented on #9463
Hey @denisvmedia

It looks like you need to have a name in the "title" rather than an empty string - If you use the `Raw text` option and paste the Schema, add a name and hit Continue.

![image](https://user-images.githubusercontent.com/17089546/105830614-9d73c600-5fbd-11eb-8d6f-a66881b5d56c.png)

You will see that value in the `Name` section:

![image](https://user-images.githubusercontent.com/17

[2021-01-26 10:20] DannyDainton commented on #9453
I'm going to close this out as it appears that is was created unintentionally - Can reopen again if you provide the full details of your request @kadirselcuk

[2021-01-26 10:20] #9453 closed

[2021-01-26 10:22] denisvmedia commented on #9463
It worked. Thank you!

[2021-01-26 10:43] KyryloKuchuk opened #9464 "Tests don't have directory path information in the runner"
Environments:
Postman for Windows
Version 8.0.2

Preconditions:
- Create a collection with three directories inside
Steps to reproduce:
- Run collection in the runner
- Move focus to any test to display a tooltip with the full request's directory path.

Expected result:
Tooltip displayed as in previous 7.x.x version

Actual result:
Tooltip doesn't display.
![image](https://user-images.githubuserco

[2021-01-26 11:47] dzmitry-kakaruk-webjet commented on #9239
I'm afraid yes :(

[2021-01-26 12:27] VV-55 commented on #2906
This update looks useful in version control in postman. But where could i find export option in version 8.0 postman?

[2021-01-26 13:56] denisvmedia commented on #9463
@mccannt @DannyDainton I'm just wondering, if we can't have a better error reporting for this issue.

[2021-01-26 13:59] mccannt commented on #9464
Thanks for the report @KyryloKuchuk we are looking into the cause of this.

[2021-01-26 14:20] bodograumann opened #9465 "Postman tries to auto-update when installed system-wide"
**Describe the Issue**

Since version 8, postman tries to auto-update and fails, because it is installed system-wide on arch.

**Steps to Reproduce**

Install postman with:
[code]

Then start postman.

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/1223583/105855973-f3119800-5fe8-11eb-9274-a2dcb95bb03a.png)

![image](https://user-images.githubusercontent.com/1223583/

[2021-01-26 14:23] mccannt commented on #2906
@VV-55 You can find it by opening up the collection in a tab (clicking on the collection name in the left nav) and then clicking on the ellipsis and then Export.

![image](https://user-images.githubusercontent.com/14275144/105857270-84b8df80-5fc0-11eb-978f-4aa3e6a0a013.png)

[2021-01-26 14:29] DannyDainton commented on #9463
👍  I agree the message doesn't really tell you _why_ it failed or how you _could_ recover from this scenario.

I'm going to raise an internal issue to track this. Any updates will be added here.

[2021-01-26 17:59] Ragnar-Oock opened #9466 "DNS Lookup really long on localhost"
**Describe the Issue**

When sending a request to localhost:8080 the DNS lookup time is always around 500-550ms, even repeating the request does not trigger the use of the DNS cache and the DNS lookup keeps stagnating around 500ms. Using 127.0.0.1:8080 as a host work around the issue.

**Steps to Reproduce**

1. send a request to a localhost webserver with `localhost:[some port]` as base url
2. lo

[2021-01-26 18:04] michabbb commented on #4739
2 years later... i would be happy to see this too, it makes no sense to configure a proxy only global....
actually, it needs to be set by collection and even by request to override it in case the call is special....
[code]

[2021-01-26 18:10] delroyh commented on #7821
I'd like to +1 this feature request (instead of creating a new issue/request)

When using postman for enterprise software (manual api testing, automated testing, etc) sometimes environments contain many many env vars, with delimited names for the sake of organization. These "enterprisey" names tend to be very long in the tooth

when viewing environment variables through the "Environment quick look

[2021-01-26 18:32] abarazal commented on #4009
We really need this

[2021-01-26 19:25] olsonhost commented on #5396
Ditto @gardwired from 2019.

[2021-01-26 19:48] orinwalker commented on #4968
This is a feature that I very much desire

[2021-01-27 03:55] haoj-loy opened #9467 "Postman mock server unable to handle request with payload bigger than ~ 1134046 bytes"
Postman for Mac
Version 7.36.1
OS X 20.1.0 / x64

Postman mock server is returning 400 Bad Request for the request with payload content-length: "1134046" but it is working fine when the request payload is smaller (e.g: content-length: "998144")
![Screen Shot 2021-01-27 at 1 32 50 pm](https://user-images.githubusercontent.com/73458540/105939888-36820a00-60ae-11eb-8d90-1a22ac036c57.png)

[2021-01-27 04:55] larsm6 commented on #3221
I just encountered the same problem. It actually seems to be related to a wrong implementation of the "+"-key binding. I'm using a german keyboard and had to find the position of the "+" sign of an engl keyboard (ctrl + shift + 0). That did the magic ;)

[2021-01-27 06:45] matvi commented on #4193
Adding my +1

[2021-01-27 06:46] godfrzero commented on #9426
$isoTimestamp should be working correctly within monitor now.

[2021-01-27 06:46] #9426 closed, assigned to nobody

[2021-01-27 10:27] kenander commented on #3684
Would really appreciate this feature as well.

[2021-01-27 11:07] Brilbroeder opened #9468 "Feature Request : Copy - DragDrop a request"
I have multiple collections, each collection has multiple folders, each folder has multiple requests.
In my case a folder groups all requests related to one entity f.e. book, author, ....
In each folder I have a create, read, read/id, update/id, delete/id request

Given the request for a given entity all look the same, if would be easy if I could just drag/drop copy a request from one folder to an

[2021-01-27 11:09] Brilbroeder opened #9469 "Featurerequest : allow multi-select to dragdrop requests"
When moving request from one folder to another, it has to be done one by one.
It would be nice to hold shift down, select multiple and than dragdrop the selected ones.

If possible in combination with the copy/dragdrop ;-)

[2021-01-27 12:49] lukashoferdev commented on #8038
Please is there an update on this feature request? The 401 error occurs when NTLMv2 is used.

[2021-01-27 12:53] s3huber commented on #5908
The request ID can be retrieved via the web client. When viewing a request the URL looks like `…/request/111111-fdc31f9c-b34b-54fb-98n8-e7c7170ddac7`.

The `fdc31f9c-b34b-54fb-98n8-e7c7170ddac7` is the request ID part.

The `111111` seems to be the collection ID.

(Changed the IDs before posting them.)

[2021-01-27 12:58] numaanashraf commented on #5908
IDs are available under the info section on the new Postman Interface (Postman for Web and Postman for Desktop v8.0)

<img width="1493" alt="Screenshot 2021-01-27 at 6 26 16 PM" src="https://user-images.githubusercontent.com/3295568/105994186-54ab3280-60cd-11eb-8d44-0c42cfec73ad.png">

[2021-01-27 13:04] pierskarsenbarg opened #9470 "Multi-level inherit auth from parent doesn't share variable values"
**Describe the Issue**

I have a collection level variable called `Token` which contains an API key
The API I'm targeting uses the following as the authorisation header: `Authorization: token ${token}` (where `${token}` is the value in the variable.

I have a folder that inherits the auth from the collection.
In the folder I have an API request that inherits auth from the folder.

However, when I

[2021-01-27 14:04] m3dbedb opened #9471 "Postman 8.0 lacks collection export option"
Option to export collection missing

**Steps to Reproduce**

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: 8.0
 - Operating System: windows 7 64 bits

[2021-01-27 14:08] m3dbedb commented on #9471
I found the option but now it is hidden here: click on the collection, press ... on the top on uppeared collection info window,
I ask to change the issue to feature request to add export option to be able to fast export collection.

[2021-01-27 14:38] ManiacDC opened #9472 "Postman 8.0 Vertical Space Usage"
**Describe the Issue**

Postman 8.0 uses too much vertical space, especially when NOT signed into a workspace.

**Steps to Reproduce**

Launch Postman. To see the exacerbated issue, ensure you are NOT signed into Postman.

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/1823305/106006324-1b4dd500-6083-11eb-94e1-e8724172dde4.png)

**Environment Information**

 - Platfo

[2021-01-27 14:47] ManiacDC opened #9473 "Postman 8.0 runner enhancement"
**Is your feature request related to a problem? Please describe.**
Postman 8.0 moved the runner(s) to be in a normal tab. These get easily lost when many request tabs are also open.

**Describe the solution you'd like**
On the left sidebar, a new option for Runner, probably right above History or below Collections. This would also utilize a separate set of tabs.

**Describe alternatives you've con

[2021-01-27 14:58] vvs11 commented on #9470
@pierskarsenbarg I am not able to reproduce this with the steps you mentioned. Could you share a recording of what you're trying to do? Also, could you check if there is a value in "current value" section in the collection variable "Token"?

[2021-01-27 15:07] pierskarsenbarg commented on #9470
I've uploaded a screen recording here: https://youtu.be/gspmyk-qCkY

[2021-01-27 15:40] mccannt commented on #9471
@m3dbedb Thanks for reaching out.
We are looking into this currently as we have received feedback from others as well. We will keep you updated on this.

[2021-01-27 16:20] timbochamp commented on #7865
I'm going to close this out but please feel free to reopen again if you encounter the crashes/unresponsiveness with high iteration counts in our Postman Version 8.0.2 app or on Postman for Web.

[2021-01-27 16:20] #7865 closed, assigned to codenirvana, saswatds

[2021-01-27 16:23] timbochamp commented on #8971
I'm going to close this out but please feel free to reopen again if you encounter wrong failed tests in the run summary view in the Postman Version 8.0.2 app or on Postman for Web.

[2021-01-27 16:23] #8971 closed, assigned to coditva

[2021-01-27 16:25] timbochamp commented on #8834
I'm going to close this out but please feel free to reopen again if you encounter this different iteration number highlighting in our Postman Version 8.0.2 app or on Postman for Web.

[2021-01-27 16:25] #8834 closed, assigned to coditva

[2021-01-27 17:00] iagxferreira commented on #4009
+1

[2021-01-27 18:23] IgPugliese opened #9474 "When exporting collection variables are modified"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Additional Context**

[2021-01-27 18:30] #9474 closed, assigned to nobody

[2021-01-27 18:50] darrencapner commented on #8920
I believe this issue I opened without seeing this one and would like to link them given the similarities.
[Contract testing response from Collection Request using API Designer Component Schema from API Spec](https://github.com/postmanlabs/postman-app-support/issues/9408)

[2021-01-27 18:53] bknowles opened #9475 "Where is the code generation button?"
**Describe the Issue**

I'm trying to take my existing collection and get code generated for me based on the steps in the collection

**Steps to Reproduce**

1. Open collection
2. Go to first step in the collection
3. Try to find the button that says "Code" so that I can use the generator
4. Fail

**Screenshots or Videos**

Every screenshot or piece of documentation I've found says that there shou

[2021-01-27 19:49] DannyDainton commented on #9475
Hey @bknowles

The code snippet generator can be found in the right side context bar. If you open a request, you should see this option along with several other items, depending on the saved state of the request.

Could you post a picture of your app's interface so we can see what you can see please?

[2021-01-27 19:49] ManiacDC opened #9476 "Postman 8.0 Runner performance issue"
**Describe the Issue**

After running my collection, Postman froze up for a couple minutes. It then unfroze, but started responding very slowly. Memory usage was almost 2GB. About 5 minutes after that, it started running normally and memory usage dropped down to about 1GB. My collection has about 1000 requests and over 2.5k assertions. I did have save responses checked off.

This did not happen wi

[2021-01-27 19:57] ManiacDC commented on #9464
Thanks @mccannt . Noticed this as well and this functionality is pretty important for us.

[2021-01-27 20:12] puremana commented on #9091
On Windows 10 I was having the same issue. Running Postman from the start menu or shortcut didn't do anything, it didn't even seem to open a process when checking task manager. Going to the installation folder (in my case, `C:\Users\USER\AppData\Local\Postman`) the `Postman.exe` still failed to work but going into the app-7.31.0 folder and running the `Postman.exe` in there did open correctly.

[2021-01-27 20:45] KarlaDiaz199 opened #9477 "Postman keeps saying You seem to be offline. Data in this workspace might not be up to date."
Postman website and desktop app says I do not have a connection but by other apps are working. It does not allow me to upload my collections- it says I have 9 but only 5 are displayed and if I refresh the page or restart the app the collections are not shown
<img width="1680" alt="Screen Shot 2021-01-27 at 2 45 29 PM" src="https://user-images.githubusercontent.com/69685740/106051642-53b6d880-60ae-

[2021-01-27 20:50] bknowles commented on #9475
The two links above are screenshots from the app on my machine.  But I can directly post them here, too.

Here's the one showing that the button does not exist on my machine in the location where it is shown on all the other screenshots I've seen:

<img width="510" alt="Screen Shot 2021-01-27 at 12 34 57 PM" src="https://user-images.githubusercontent.com/1151895/106052137-ddff3c80-60ae-11eb-9c29-4

[2021-01-27 20:51] chrisdeso opened #9478 "Allow collection-level folders to be reorganized"
**Is your feature request related to a problem? Please describe.**
It would be great to have full control over the organization of collection-level elements – requests and folders. Right now, folders that are added to collections, or sub-folders, can't be moved from the top of the folder structure

**Describe the solution you'd like**
The ability to organize requests and folders however we see fit

[2021-01-27 21:04] tjmcdonough opened #9479 "Add configurable option for entire request and response to be visible and remove view more button"
**Is your feature request related to a problem?**
Postman documentation UI is beautiful but the standard height of the request and response frame is so small. It is annoying having to click view more to then view the entire JSON body and hide the fabulous three-column structured design. I have a huge description for an endpoint in markdown explaining each parameter and property, but the request an

[2021-01-27 21:09] timbochamp commented on #8927
Hi @Zinnurka, this should now be resolved with our latest Postman version 8 app release, as well as on Postman for Web! I'm going to close out this issue, but please feel free to reopen if you're still encountering this issue after updating.

[2021-01-27 21:09] #8927 closed, assigned to nobody

[2021-01-27 21:12] DannyDainton commented on #9475
In the image where you have circled the cookies, you will see the `code` icon in the right side context menu next to it with the documentation, comments and info options.

![app image](https://i.ibb.co/Y2DQ8Wf/Screen-Shot-2021-01-27-at-12-34-57-PM.png)

[2021-01-27 21:22] bknowles commented on #9475
Ahh, so this is a documentation bug?  There is no longer a red button that says "Code" that sits right next to the red button labeled "Cookies"?

[2021-01-27 21:25] bknowles commented on #9475
And does that icon only work if you're logged into a Workspace on the web site?  Because I tried using all those icons on the right hand side of the screen for the Documentation mode, the Comments mode, and the Information mode, and none of them worked so long as I was in a private Scratchpad.

[2021-01-27 21:29] timbochamp commented on #8819
Hi @InnaMakhova, this should now be resolved with our latest Postman version 8 app release, as well as on Postman for Web! I'm going to close out this issue, but please feel free to reopen if you're still encountering this issue after updating.

[2021-01-27 21:29] #8819 closed, assigned to nobody

[2021-01-27 21:38] DannyDainton commented on #9475
The whole documentation is in the process of getting updated to match the new V8 layout.

The right context menu will show in the Web view and in the app - I'm not sure what you were seeing, when you couldn't access these items.

Could you provide an example of this, please?

As it's a context menu, the entity that you're currently viewing in the tab will have different options to suit the context

[2021-01-27 22:13] bknowles commented on #9475
Taking the Workspace version of the work I've done and re-importing it back to the Scratch Pad, I find that "Comments" and "Info" can only be used while in Workspace mode.

Screenshots:
<img width="444" alt="Screen Shot 2021-01-27 at 4 10 38 PM" src="https://user-images.githubusercontent.com/1151895/106060881-41db3280-60ba-11eb-83f3-421f9c05a330.png">
<img width="443" alt="Screen Shot 2021-01-27 a

[2021-01-27 22:14] seanlandis commented on #5141
We were bit by this too. It seems the best approach would be to allow someone with Admin role, to reassign owners.

[2021-01-27 22:34] DannyDainton commented on #9475
None of the code snippets would show the pre-request or tests code, as those are very contextual to Postman itself.

I'm going to close this issue out as it was to do will being able to locate the code snippet itself and it seems like you have not found that in the app. 😁

[2021-01-27 22:34] #9475 closed, assigned to nobody

[2021-01-27 22:42] mohitranka commented on #9471
@m3dbedb Export option would be available in the upcoming Postman 8.0.3 with collection action menu dropdown, and right-click as well, same as v7 :)

[2021-01-27 22:43] timbochamp commented on #8283
@c-minus @anibal-acosta I believe this should now be resolved in our latest Postman version 8 app release, as well as on Postman for Web! I did save both my R1 and R2 requests before duplicating them to see the keys duplicate successfully with R3 inheriting R2's changes.

I'm going to close out this issue, but please feel free to reopen if you're still encountering this issue after updating.

[2021-01-27 22:43] #8283 closed, assigned to nobody

[2021-01-27 22:46] bknowles commented on #9475
Thanks for helping me locate the "</>" menu!  That at least gets me part of the way to where I need to be.

[2021-01-27 22:56] praveendvd opened #9480 "Documentation is hanging if content is huge"
**Describe the Issue**

https://www.postman.com/crimson-sunset-709132/workspace/public/documentation/8296678-8b22cd36-d1de-4299-8381-f6a438151663

This is my submission for hackathon , but as the examples are huge the documentation is hanging .

Is there a limit for documentation size

postman v8 , issue is there both in app and web

**Steps to Reproduce**

**Environment Information**

 - Platform

[2021-01-27 23:39] timbochamp commented on #7603
Text boxes to add a cookie for localhost with port suffixes (`localhost:####`) and for `https://` prefixes, although we strip out these suffixes and prefixes respectively for the valid input mentioned above. This is both on Postman for Web and on the Postman version 8 app as of writing this.

I'm going to close out this issue, but please feel free to reopen if there's still problems occurring with

[2021-01-27 23:39] #7603 closed, assigned to codenirvana, vikiCoder

[2021-01-28 02:22] SamZhangQingChuan commented on #4671
come on!

[2021-01-28 02:53] charlie-postman commented on #7826
@domsom

Hi Dominik, can you please elaborate on what "raw" log info you expect to see on a Monitor dashboard? Are you able to see the "raw" logs somewhere in Postman?

[2021-01-28 05:08] nmfzone commented on #2418
@eysikal Now, you need to pass `Accept` header as `application/json` to avoid this issue in `Laravel Sanctum 2.9.0`.

[code]

[2021-01-28 05:14] pranav08 commented on #6681
It is surprising, they don't have this feature!

[2021-01-28 07:27] qqk1011 opened #9481 "[Postman v8.0] Sync/WS Connection Issue"
After installation of the newest version of Postman (8.0.2) and opening the app I received blank screen with following sentence:

**Unable to load data as you're offline
You can view your work and data once you’re back online.**

The same issue I noticed on the web page of postman.

![Capture](https://user-images.githubusercontent.com/78137263/106104313-95915e80-6142-11eb-90d0-196de5bb8219.PNG)

[2021-01-28 08:44] 15678871232 opened #9482 "什么时候加上国际化多语言i18n功能啊！"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-28 08:53] DannyDainton commented on #9482
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9440

[2021-01-28 08:53] #9482 closed, assigned to nobody

[2021-01-28 09:38] einhorneyal opened #9483 "[Feature Request] Use Windows certificate store as a source for client certificate"
**Is your feature request related to a problem? Please describe.**

Our problem is how to use client certificate that contain private key in a secure way (such as imported certificate in the windows certificate store) instead of file that located in the filesystem.

**A clear and concise description of what you want to happen.**

Unfortunately the only way to use a client certificate is with file

[2021-01-28 10:10] Samgrocock commented on #3466
+1

[2021-01-28 10:19] stefanluchian commented on #6757
@Postman guys: Why are you insisting to do force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing

[2021-01-28 10:22] stefanluchian commented on #6999
@ Postman guys: Why are you insisting to force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing u

[2021-01-28 10:23] stefanluchian commented on #7074
@ Postman guys: Why are you insisting to force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing u

[2021-01-28 10:23] stefanluchian commented on #6564
@ Postman guys: Why are you insisting to force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing u

[2021-01-28 10:23] stefanluchian commented on #8259
@ Postman guys: Why are you insisting to force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing u

[2021-01-28 10:24] stefanluchian commented on #7944
@ Postman guys: Why are you insisting to force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing u

[2021-01-28 10:24] stefanluchian commented on #6465
@ Postman guys: Why are you insisting to force us to update, even on minor updates?
This is no way to win new users! And you might lose existing ones.
We simply don't want automatically minor updates! Is it so hard to understand it?
We are not some mobile-app-freaks who just want to have the latest thing.
Just let us decide if and when we want minor updates!
This is really annoying!
Stop forcing u

[2021-01-28 10:32] DannyDainton commented on #9471
Version 8.0.3 is now available for folks to update.

![image](https://user-images.githubusercontent.com/17089546/106125425-1147d700-6154-11eb-8a20-1dae5e5b2812.png)

[2021-01-28 10:32] #9471 closed, assigned to vvs11

[2021-01-28 11:58] IainStevenson commented on #8966
I use postman almost exclusively to test secured WebApi's in Visual Studio .NET Core and would like the postman collections I associate with that Visual studio solution to be source controlled 'live' with the overall solution via this requested files approach.

Currently I am (appear to be) forced to export the collection to a single file somewhere in my github repo folder after I make and test ch

[2021-01-28 12:14] arlemi commented on #6999
@stefanluchian As mentioned by @preethammavin above, minor updates should not break your workflows, and are here to make sure you have the latest security updates and bug fixes.

You can disable major updates in your app settings, and if you'd like to stay on v7 for now please reach out to help@postman.com and they'll help you revert to it.

P.S: I've removed your comment from the other issues as

[2021-01-28 12:37] DinoSourcesRex opened #9484 "[Postman v8.0] Sync connection error"
**Describe the Issue**

Sorry for the poor form bug report but my colleague showed me this when he experienced it but he was too lazy to log it (his words not mine :D)

He upgraded to the latest postman version today (v8.0.3 I believe).

When he did this his cloud sync was disconnected. He clicked it and tried to reconnect however nothing happened.

When looking in dev tools (View -> Developer ->

[2021-01-28 12:44] DannyDainton commented on #9481
Hey @qqk1011

If you fully quit the app and load it again, does that recreate the connection. I know it's the classic switch it off and on again but sometimes that's what is needed :D

Are you using a VPN or behind a company firewall etc?

[2021-01-28 13:02] xflihaibo opened #9485 "Why does postman not support concurrent testing"
Why does postman not support concurrent testing

[2021-01-28 13:19] ShahAnuj2610 opened #9486 "New Integration Request - OpsGenie"
**Describe your current workflow**
We monitor our APIs through Postman for our site onequince.com

**Describe your ideal workflow**
I want to integrate with OpsGenie to receive calls whenever API is down

**Describe alternatives you've considered**
Not any as of now

**Additional context**
https://docs.opsgenie.com/docs/bitbucket-connection

[2021-01-28 13:25] #7939 closed, assigned to charlie-postman

[2021-01-28 13:33] DannyDainton commented on #9484
Hey @DinoSourcesRex,

Would it be possible to send over the logs to help@postman.com so we can take a look at what's going on, please?

You can find the logs at `View -> Developer -> View logs in Finder/Explorer.`

Feel free to reference the GH Issue number in the subject line of the email.

[2021-01-28 13:37] DannyDainton commented on #9485
Hey @xflihaibo

This feels like a great question to post over on our Postman Community forum - The question is a little light on details so be sure to expand on the context and provide some examples of your use case. 🏆

You can find the Community forum here - https://community.postman.com/

I'm going to close this issue for now.

[2021-01-28 13:37] #9485 closed, assigned to nobody

[2021-01-28 13:38] DinoSourcesRex commented on #9484
@DannyDainton I've asked my colleague to do so.

[2021-01-28 13:41] bluechiperic commented on #9470
I am having a similar issue.  I have a an API collection where I am setting OAuth2 Authorization.  It worked before I upgraded to v8.03 (From v7).  Now, if I set the auth in the API, it works, but if I inherit from the collection it does not.

[2021-01-28 14:09] dhruvrnaik commented on #7350
Why is this not a top priority!

[2021-01-28 14:38] ManiacDC commented on #9476
Also noticed today that after running a collection, CPU usage seems to never drop:
![image](https://user-images.githubusercontent.com/1823305/106153426-88796d00-614c-11eb-9d81-a576ed839cb5.png)

Even after closing the runner tab:
![image](https://user-images.githubusercontent.com/1823305/106152138-17858580-614b-11eb-8258-2a23af924037.png)

[2021-01-28 15:14] jotsarup commented on #9486
@ShahAnuj2610 We are currently building OpsGenie integration and you should see in the next week. Will keep you posted.

[2021-01-28 15:16] Rab815 opened #9487 "Connection Error to sync data with your servers... account based"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**
original gmail account sign in
![2021-01-28_8-44-27](https://user-images.githubusercontent.com/6784505/106158197-1e12fd80-6149-11eb-93ec-150174aeddef.png)

new gmail account sign in...
![2021-01-28_9-14-39](https://user-images.githubusercontent.com/6784505/106158393-4bf84200-6149-11eb-8c39-dc26d297fbd8.png)

**Environment In

[2021-01-28 15:22] DannyDainton commented on #9487
Hey @Rab815

Would it be possible to quit the app completely, sign in with your previous email and if your problem still occurs - send over the logs to help@postman.com so we can take a look at what's going on, please?

You can find the logs at View -> Developer -> View logs in Finder/Explorer.

Feel free to reference the GH Issue number in the subject line of the email.

Are you able to login to

[2021-01-28 15:26] Rab815 commented on #9487
will do sending over every log that has todays date on it now.

[2021-01-28 15:49] bjpayne opened #9488 "Disable Working locally in Scratch pad warning"
**Describe the solution you'd like**
Add ability to toggle the warning to off for users who don't want to create an account.

![image](https://user-images.githubusercontent.com/8144159/106162727-6ab10580-6156-11eb-8909-292e00b29c5e.png)

[2021-01-28 16:00] dhruvkb opened #9489 "Support ligatures in fonts"
**Is your feature request related to a problem? Please describe.**
Support ligatures in fonts. Postman has font-customization but ligatures are not supported.

**Describe the solution you'd like**
Turn on ligatures in the code editor.

**Describe alternatives you've considered**
There are none.

**Additional context**
<img width="669" alt="Screenshot 2021-01-28 at 9 30 00 PM" src="https://user-ima

[2021-01-28 16:39] WafflesMcDuff commented on #7994
Me too

[2021-01-28 17:08] bryanbarnard opened #9490 "Add support for publishing and subscribing to MQTT brokers to Postman"
**Describe the solution you'd like**
I'd like to use Postman, which I've used for developing and tesing HTTP APIs to also be able to test my interactions with Pub/Sub systems specifically using MQTT. The transport protocol is different but Pub/Sub to MQTT presents many of the same challenges as HTTP APIs. Authentication, Payload Format, Response Validation, ETC. With more integrations and systems

[2021-01-28 17:50] SabriH10 opened #9491 "Feature-Request: Ability to update/edit Fork Labels"
**Opened on behalf of a user**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, Fork labels cannot be updated or changed once a collection is forked.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It would be nice to be a

[2021-01-28 18:30] Valentyna commented on #8612
I just want to add that I'm seeing this issue when making repetitive requests with different cipher suits. Even when repeat request with the same suit - it could work at first, but then started showing the error

[2021-01-28 18:36] jdelamare commented on #4009
+1

[2021-01-28 20:04] daokrajaih opened #9492 "Postman 8.0.3 crashes after moving requests between folders and collections"
**Describe the Issue**

**Steps to Reproduce**

1) Open app
2) Update several requests inside collection
3) Duplicate request
4) move requests to different folder within and between collections
5) App show a pulsing line instead of the name of request - even after more than 5 mins, it does not get resolved

![request being moved does not get moved properly](https://user-images.githubusercontent.co

[2021-01-28 22:19] mohitranka commented on #9157
Release with App version 8.0.3

[2021-01-28 22:19] #9157 closed, assigned to lucifercr07

[2021-01-28 23:02] Hipatija2904 commented on #6548
This would be an amazing feature, I am surprised this is not already a feature and it is not getting more buzz. Pleeeease make this happen

[2021-01-28 23:32] Hipatija2904 commented on #6548
Just realized it is possible to duplicate examples if we access from browser...

[2021-01-29 02:09] ablomberg commented on #8929
Have you tried seeing if you can modify/use the test method that stops subsequent requests from running in runner? Example from a test I use to stop subsequent requests from being executed in a runner folder/collection if one of the dependency requests fail:

[code]

I'd think you could swap out pm.reseponse.to.have.status(200); to use a loop, no? I'm pretty new to postman, but something to chew o

[2021-01-29 02:31] KylinChan opened #9493 "Postman 8.0.3 for mac can not duplicate current tab"
### Describe the Issue

###
Environment Information
* Platform Type: Postman app fot mac
* Postman Version: v8.0.3
* Operating System: MacOs 10.15.7

### Steps to Reproduce
1. Open app
2. Create a new POST request tab.
3. Attempt to copy current POST tab.
4. Postman created a new GET tab with no content, But I want to create a tab that is exactly the same as the current tab, just like the previous

[2021-01-29 05:45] aniruddhasm commented on #9481
@DannyDainton I am also facing the same issue. Fully quit the app and restart not working. I am using my company VPN.

[2021-01-29 06:23] rohithmiryala opened #9494 "Feature to delete all requests in a collection"
**Is your feature request related to a problem? Please describe.**
While i am using postman proxy and capturing requests, i capture requests in a collection. It is bombarded with a lot of requests and i want to clear the requests and check the flow for a particular scenario. There is no option to delete all requests in a collection. SO i have to delete the collection and create collection again.
P

[2021-01-29 06:30] jyeros commented on #6999
@arlemi I agree that minor updates should not break user workflows and they provide users with the latest security updates and bug fixes, it is really useful. But this applies not only to the Postman app, it applies to every software we use, it doesn't care if it is a simple calculator or an entire operating system. Following your comment all software must force users to update, and it doesn't hap

[2021-01-29 07:25] mohitranka commented on #7606
@alex-bolenok-centralreach The fix is now is available in the latest app versions 7, 8 & web.

[2021-01-29 07:25] #7606 closed, assigned to codenirvana, saswatds

[2021-01-29 07:32] moto83 opened #9495 "Ctrl+S and Ctrl+Shift+S not working"
**Describe the Issue**

**Steps to Reproduce**

**Environment Information**

Postman for Windows
Version 8.0.3
win32 10.0.18363 / x64

[2021-01-29 07:38] moto83 commented on #9495
**Disappered after restart**
Too many steps done, if can make it appear constnatly, reopen.

[2021-01-29 07:38] #9495 closed, assigned to nobody

[2021-01-29 07:59] numaanashraf commented on #9481
@aniruddhasm Could you write to us at help@postman.com? It'll help us verify few things regarding your account at our end and also we'll be able to help you better troubleshoot this issue at your end.

[2021-01-29 08:56] debjeetsarkar opened #9496 "Documentation not accessible in browser"
**Describe the Issue**

**Steps to Reproduce**

- Open postman app.
- Select View in Web.
- Browser tab opens up and shows error.

**Screenshot**
<img width="1680" alt="Screenshot 2021-01-29 at 2 24 35 PM" src="https://user-images.githubusercontent.com/6427574/106253656-c609f300-623d-11eb-8eca-4fdfedac7437.png">

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version:

[2021-01-29 09:21] eavdmeer commented on #9481
Exactly the same issue since yesterday. Working through a company VPN as well

[2021-01-29 09:58] DannyDainton commented on #9481
Hey @eavdmeer

Could you send over the logs to help@postman.com so we can take a look at what's going on, please?

You can find the logs at View -> Developer -> View logs in Finder/Explorer.

Feel free to reference the GH Issue number in the subject line of the email.

[2021-01-29 10:27] eavdmeer commented on #9481
I have just downgraded to 7.36.1 and got everything back online. The logs I have will be for the downgraded version as I uninstalled 8.0.3.

[2021-01-29 11:17] DannyDainton commented on #9493
Hey @KylinChan

The original looks like it's in an unsaved state and has never been saved to a Collection - Duplicating the tab in that scenario would just be copying an empty tab.

If you were to save it to a Collection and then Duplicate the tab, it would bring those changes to the tab.

For added information, duplicating the tab is not the same as duplicating the request.

[2021-01-29 11:40] ravisarojEbix commented on #9481
Facing the same issue for the last 2 days

[2021-01-29 12:04] DannyDainton commented on #9481
Hey @eavdmeer

The logs are preserved between v7 and v8 so those would still be super useful if you could send them over to us 🙏

[2021-01-29 12:09] DannyDainton commented on #9481
We're aware that some users are facing this issue, the best thing to do in this situation is to send us over the logs as mentioned here:

https://github.com/postmanlabs/postman-app-support/issues/9481#issuecomment-769704719

By doing this it will give us a better understanding of the issue and help to investigate the route cause. 🙏

[2021-01-29 12:16] lbs-rodrigo commented on #9496
I have the same problem

[2021-01-29 12:47] vdcardenas commented on #9464
Yeah, I came to report this too. In collections with thousands of requests, this functionality is essential to identify the failed test.
Getting back to functionality would be great news.

[2021-01-29 13:08] eavdmeer commented on #9481
@DannyDainton when you say logs, which ones do you mean? All of these? Some are rather large:

![image](https://user-images.githubusercontent.com/26708574/106278660-6579b680-623b-11eb-8ce5-db08f9ea2d6f.png)

[2021-01-29 13:13] DannyDainton commented on #9481
Yep, all of those, please. 🏆

[2021-01-29 13:24] eavdmeer commented on #9481
This definitely doesn't look great:
[code]
It is correct in that the directory does not exist:
[code]

[2021-01-29 13:27] robross0606 commented on #6999
The arrogance of these statements is that the word "should" keeps being thrown around.  The fact is, we're all human.  Humans make mistakes.  People should have the _right_ to stick with a particular version that they _know_ is stable and update on _their_ terms.  Not when you deem it necessary and then accidentally push a breaking bug.  We've already seen how this works out when you "fix" somethi

[2021-01-29 13:52] ZooDoo4U commented on #6999
Agreed,  most programs "SHOULD" allow users the ability to work as they desire.  Programmers "SHOULD" remember they are the ones providing a service to what users need.   Seems like such an easy solution here?  "SHOULD" be a pretty simple question before updating...  "SHOULD"  ask "Would you like to update "Yes/No"?  The program "SHOULD" honor a users choice and back out.

It seems like this "SHOU

[2021-01-29 14:54] RezaRahmati opened #9497 "Response is not formatted correctly in postman 8"
**Describe the Issue**

Json responses are not formatted correctly in version 8

**Steps to Reproduce**

Send any request that response is json

**Screenshots or Videos**
**v8**

![image](https://user-images.githubusercontent.com/10086092/106289324-26d20500-6217-11eb-941e-07d8b9374fc1.png)

**v7.28**

![image](https://user-images.githubusercontent.com/10086092/106289978-e9ba4280-6217-11eb-9dbc-e1f

[2021-01-29 15:03] DannyDainton commented on #9497
Hey @RezaRahmati

I'm not seeing this on my side for requests made to https://postman-echo.com/bytes/500/kb?type=json

![Screenshot 2021-01-29 at 14 58 57](https://user-images.githubusercontent.com/17089546/106290738-b0e39300-6242-11eb-8dc6-ef2d4d6fbb01.png)

Are you seeing the same on your side for this URL? If not, is there anything specific about the request you're making that could just us som

[2021-01-29 15:48] RezaRahmati commented on #9497
@DannyDainton I don't know what had happened, seems now working correctly

![image](https://user-images.githubusercontent.com/10086092/106296372-95b35c00-621f-11eb-9790-c9975c5befae.png)

[2021-01-29 15:55] DannyDainton commented on #9497
Ah cool! That's good news! 🏆

I'm going to close this issue but if you see this issue again we can reopen it! :D

[2021-01-29 15:56] #9497 closed, assigned to nobody

[2021-01-29 15:56] GuillaumeDesforges commented on #2790
Visualizer is cool, support for jq querying would still welcome

[2021-01-29 16:00] wangh47 opened #9498 "Ability to minimize sidebar in Postman v8"
**Is your feature request related to a problem? Please describe.**
I have tests with long names describing the purpose of the tests. In Postman v8, the new side bar has taken too much space and the collections pane become smaller. This has reduce the legibility of the test names as they are truncated. See https://community.postman.com/t/postman-8-feedback/19660/3.

**Describe the solution you'd li

[2021-01-29 16:36] jameslgarrett commented on #4193
I would love to see this feature as well!

[2021-01-29 17:43] reseto commented on #9472
For me there is a small X button to close that yellow bar which solved this issue.

[2021-01-29 17:45] reseto commented on #9498
I wholeheartedly support this feature request.
Having the ability to navigate collections while the icons don't get in the way would be fantastic.
Such huge *ss icons are totally unnecessary. Thanks.

[2021-01-29 18:14] ManiacDC commented on #9472
That is new with 8.0.3. That definitely solves most of the issue. I think the space could still be optimized by combining the traditional menu with the home/workspaces/reports/explore/search bar, so I'll leave this open for now.

[2021-01-29 18:20] ManiacDC commented on #9472
Also, the yellow bar comes back with each restart... I would think it should retain the state of the bar.

[2021-01-29 18:21] ManiacDC commented on #9492
I had this happen when trying to move a request into an empty folder. To workaround it, I first created a request in the folder, then moved the request in, and deleted the original request.

[2021-01-29 18:24] ManiacDC commented on #9488
Somewhat related to #9472

[2021-01-29 18:42] debjeetsarkar commented on #9496
This seems to have resolved now. Closing this :)

[2021-01-29 18:42] #9496 closed, assigned to nobody

[2021-01-29 19:00] vbeaudoin19 opened #9499 "Problems - Remarks following update to version 8.0"
Hello,

I would like to bring you some remarks that we have quickly noticed with the new version 8 of Postman in our work.

We can no longer see directly from the collection the number of requests it contains. I have searched your website, but I haven't seen anything that would allow us to retrieve this information. This is really important for us!

When we run (RUN) the whole process of our tests

[2021-01-29 19:09] RusimbiPatrick opened #9500 "After several minutes without using postman on Ubuntu 20.04, the Icon disappears from the dock"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

![bug](https://user-images.githubusercontent.com/54870069/106316783-f8374700-6275-11eb-8544-d20e6d5d06b1.jpg)

**Environment Information**

 - Platform Type: Postman for Linux
 - Postman Version: 7.36.1
 - Operating System: Ubuntu 20.04

**Additional Context**

[2021-01-29 19:20] silverbullettruck2001 opened #9501 "Request Names w/ fork names cut off"
When we have a fork on a collection and the fork name is longer, it takes up all the room and you cannot see the name of the collection.

This is also due to the limited ability to widen the left-hand navigation pane. It would be nice have the collection names and even the request names in the left nav wraparound so that the entire text can be seen rather than restricting it to a single line and a

[2021-01-29 19:22] silverbullettruck2001 opened #9502 "mouseover bubble for request/fork name not consistently displayed"
Because the mouseover bubble that comes up when you mouseover the request name/fork name determines its position on the screen based on the end of the fork name text, the bubble displays in the middle of the screen instead of next to the collection name in the left nav.  It would be nicer if it was displayed in a fixed location at the right side of the left-hand nav.

You can see in the attached p

[2021-01-29 19:26] DannyDainton commented on #9502
Hey @silverbullettruck2001

Could you complete the rest of the issue template please so we can see the versions you're using and a visual example of the UI issue you're describing.

I think I know what you mean but it's better than us misunderstanding where you mean in the app. 😁

I see that you have also raise another issue, could you add an example to that one too, please. 🙏🏻

[2021-01-29 21:40] epopisces commented on #9487
I have this same issue--was about to demo the product to some new team members, realized they were downloading the new version and did likewise.  Went from working just fine on version 7 to not working at all on the version 8 desktop client.  Wondering if the new Postman desktop client is using a different protocol to connect to the backend servers, and our firewall is blocking it perhaps?  We don

[2021-01-29 22:17] vikebone opened #9503 "Feature Request: Information on Security Response Headers"
![SecurityHeaders](https://user-images.githubusercontent.com/78236924/106331919-0029c380-6243-11eb-8714-b2323de517fc.PNG)

It would be nice to have the RFC approved security headers have a small blurb when hovering over the i image on the headers tab of the response.  This has already been done for a few, but not all.  The ones that seem to work are X-Frame-Options, X-Content-Type-Options and X-Xs

[2021-01-29 22:47] Rab815 commented on #9487
I put it on a personal machine connecting through my phone. So i wasn’t
even going through my router. Same problem.

On Fri, Jan 29, 2021 at 4:40 PM epopisces <notifications@github.com> wrote:

[2021-01-29 23:31] ivnakov commented on #9498
+1 here. The sidebar is taking too much space.

[2021-01-29 23:46] ivnakov opened #9504 "[Feature request] Postman 8.0 - Show runs passed/failed results in history and add icons for better visualization of results."
**Is your feature request related to a problem? Please describe.**
In the old version of postman, when you open the runner you had the results of recent runs like <15 failed> (in red circle). IMO this was very useful since I was able to recognize what type of run I executed (was it full run of all tests, did I just selected a couple requests from the whole collection).

**Describe the solution you

[2021-01-30 00:02] praveendvd opened #9505 "Visualization for black text is not visibile in Dark mode"
**Describe the Issue**

Visualization with  html element without background and black text is not visiblle in dark theme

**Steps to Reproduce**

[code]
Run this in test script

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/45095911/106339290-0f822e80-628e-11eb-885f-e6668161759d.png)

**Environment Information**

 - Platform Type: [ Native Desktop App, Postman On Th

[2021-01-30 09:57] Stevemoretz commented on #6999
I hope this doesn't come off rude.

But I **don't care** what you want for now, All I know is that I don't want my data to be wasted on something that I don't wanna have.So I either delete it and use an alternative or do a workaround.

Here's my workaround add these to your hosts file:

[code]

If you have a better one please **do** tell us.

[2021-01-30 16:12] NateJSchmidt commented on #9487
I'm also having this problem.  I'm not sure if this is a weird side effect or not, but all of my local collections were gone as well (and I don't think they are recoverable since I had not sync'ed them).

Thinking that something maybe got corrupted in the upgrade to v8.0.3, I completely uninstalled Postman (including deleting both the AppData\Local\Postman and AppData\Roaming\Postman directories.

[2021-01-30 16:30] tjmcdonough commented on #9479
![image](https://user-images.githubusercontent.com/71598973/106362025-7a784780-6318-11eb-977d-58bc39a6a83a.png)

Look at all of this wasted space

[2021-01-30 16:40] tjmcdonough opened #9506 "Configuration option to hide the top configuration bar in published documents"
**Is your feature request related to a problem? Please describe.**
In the published documentation there are HTML elements with the classes config-bar and top-bar which includes a run with postman button and the ability to select an environment. These features make it hard for me to use Postman for our external API documentation. These feel like a developer has designed it. Users can change environ

[2021-01-30 16:40] DannyDainton commented on #9487
@NateJSchmidt

Were your old collections etc in the scratch pad view?

You can get to this via `Settings > Scratch pad`

[2021-01-30 16:43] tjmcdonough commented on #9085
Completely disagree. These options are critical in creating documentation.

[2021-01-30 17:47] alem5001 commented on #9487
Same problem here. After the update to 8.0.3 all collections in my workspace are gone (scratchpad included).
I'm on Mac, logged in with my account just as before, no proxy needed: icon says Connection error (establishing websocket).
It seems in the postman work dir there is still what appears to be a json export backup from last month: I hope at the very least to be able to reimport this one. Fran

[2021-01-30 18:17] KylinChan commented on #9493
Thank you for your reply. There are many similar questions. I want to copy or open a new tab from a saved collection , but no matter how I operate, I can't achieve the expected effect.

As shown in the figure below,
I want to open a new tab again, but there is no change after right clicking and clicking. Or I create a new tab and click the post request that I need to open, but the original get req

[2021-01-30 18:21] mohitranka commented on #9493
@KylinChan Thanks for the report. This is a known issue, which is being fixed, and will be out with the next release of Postman app.

[2021-01-30 19:52] DannyDainton commented on #9484
Similar issues have been raised on the repository and to try and keep the flow of information in a central place, I'm going to close this issue and kindly ask that you follow the thread, on the issue below, for more information.

https://github.com/postmanlabs/postman-app-support/issues/9481

[2021-01-30 19:52] #9484 closed, assigned to nobody

[2021-01-30 19:53] DannyDainton commented on #9487
If you have experienced the issue and you haven't done so already, please send all of the log files to help@postman.com.

It will help us to investigate the root cause of the problem.

You can find the logs at `View -> Developer -> View logs in Finder/Explorer.`

Similar issues have been raised on the repository and to try and keep the flow of information in a central place, I'm going to close thi

[2021-01-30 19:53] #9487 closed, assigned to nobody

[2021-01-30 19:54] DannyDainton commented on #9477
Please send all of the log files to help@postman.com.

It will help us to investigate the root cause of the problem.

You can find the logs at `View -> Developer -> View logs in Finder/Explorer.`

Similar issues have been raised on the repository and to try and keep the flow of information in a central place, I'm going to close this issue and kindly ask that you follow the thread, on the issue bel

[2021-01-30 19:54] #9477 closed, assigned to nobody

[2021-01-30 20:37] NateJSchmidt commented on #9487
@DannyDainton
Sorry to pull you back to this closed thread, but I figured this was for my specific case and isn't really relevant to the larger discussion.  I did have a look in `Settings -> Scratch pad`, but I didn't see anything.  I suspect I blew everything away when I did my clean install and the Scratchpad space might still be helpful for other developers to recover their lost collections.

F

[2021-01-30 21:26] jpop32 commented on #4454
Electron now has arm64 support: https://www.electronjs.org/blog/electron-11-0 so it would seem possible to build a linux/arm64 version.

[2021-01-30 22:59] nthdeveloper commented on #7294
I have updated the app to v8.0.3 but the situation still the same. My CPU fan goes crazy when I run Postman and does not stop until I close it. Tried to delete settings, database, backup... files but nothing changed.

[2021-01-31 02:46] victorbello commented on #8612
I don't know if this could help anyone at all, but I was battling this issue and came across this thread. After much fighting, I figured out it was my internet provider's advanced security blocking my request (Xfinity). I went into their app and turned it off momentarily to be able to do what I needed to do, it worked like a charm. Hope this helps someone.

[2021-01-31 12:45] cjmakwana commented on #501
I am not sure whether it is resolved, but it is quite annoying to work on the laptop devices without mouse. Not sure what purpose it serves to have tiny, think scroll bars, which causes mis-clicks multiple times.

[2021-01-31 13:18] cglacet commented on #4340
I have a similar experience, for example:

[code]

Does pass.

The code you provided also passes:

[code]

[2021-01-31 13:39] maxim-raychev opened #9507 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-01-31 14:25] DannyDainton commented on #9507
Hey @maxim-raychev

Could you please also provide the details of the request. 😁

[2021-01-31 16:23] IvanBarayev commented on #9493
its not only in MAC, in windows OS is same issue on same version...

[2021-01-31 16:31] DannyDainton commented on #9493
It will be the same issue across all the available platforms.

As @mohitranka mentioned, this is being fixed and will be released soon.

[2021-01-31 17:34] AllenEllis commented on #4727
Hi, how exactly was this implemented? I'm trying to use Postman with an API that expects the keyword `Token` instead of `Bearer`. As of Postman App version 8.0.3 I see no way to customize this, and [the documentation](https://learning.postman.com/docs/sending-requests/authorization/#bearer-token) indicates it is still not possible:

[2021-01-31 18:42] alanwales opened #9508 "Generate collection from schema options via api"
We are facing a similar issue from other people that whenever we update our api specs and create a new collection via api that we cannot set any of the advanced options e.g.

* Request / Response parameter generation (schema vs example -> seems schema is the default when we want example)
* Folder organization (paths vs tags -> seems also via api that path is default but we want tags)

If there was

[2021-01-31 18:58] cglacet commented on #6719
@hobailey not everyone has a schema available, for example if the schema is generated dynamically then using an endpoint on the server to retrieve the schema looks like a solution that would suit anyone (that's the good part of having a standard 😄).

[2021-01-31 18:58] Pushpalathahareesh opened #9509 "error in response section"
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try
	again.</p>

how to resolve above error.

request format
method: used POST
url:http://localhost:5000/init
body-raw-JSON
{
"id": "dm:342341231233",
"paragraph": "There are rats in

[2021-01-31 19:05] aleksandrs-ledovskis commented on #9470
Same issue as @bluechiperic has - after upgrade to Postman v8 the "Inherit auth from parent" (parent has "OAuth 2.0") is misbehaving badly. It seems to cache somehow(?) the old/expired `Bearer` token and stubbornly refuses to use new one from parent (no matter if root/collection's level or just a folder one level above some API).

When forcing "OAuth 2.0" for specific API entry, it works.

[2021-01-31 19:09] AradAral commented on #4009
2021 and still waiting...

[2021-01-31 19:12] DannyDainton commented on #9509
Hey @Pushpalathahareesh

This is a response that's coming from your server and it's not an issue with Postman.

I would check the route you've given against the implementation to see if they match, a 404 response code suggests that there isn't a resource at the URL you entered.

I'm going to close this issue as there isn't anything that we can really do to help here.

[2021-01-31 19:12] #9509 closed, assigned to nobody

[2021-01-31 19:50] guillep2k opened #9510 "Working directory setting is ignored"
**Describe the Issue**

Even when I store my files in the folder set as "working directory" and I attempt to use them as source data for a request, they show up with the warning _"This file isn't in your working directory"_.

**Steps to Reproduce**

With default settings:

- Go to Settings, General, Working Directory, check that the Working Directory is set by default to my user's home directory (

[2021-02-01 02:58] calvinit opened #9511 "Code snippet: cURL settings: there is a problem with unchecking the 'Use long form options' option"
**Describe the Issue**

![s](https://user-images.githubusercontent.com/27403411/106409380-5f721880-647b-11eb-9d6c-6dd069a31b66.png)

![c](https://user-images.githubusercontent.com/27403411/106409375-5da85500-647b-11eb-8500-154793652819.png)

![p](https://user-images.githubusercontent.com/27403411/106409378-5f721880-647b-11eb-98cf-5c4ca556d55e.png)

**Environment Information**

 - Platform Type: Na

[2021-02-01 03:27] sojimaxi commented on #6999
Honestly speaking it is absolutely rude to force your ideas on your users. I should have the freedom to choose when I want to update. Your part is to notify us that there is an update available in whatever version (Major, Minor or Patch).

For instance when am out of the office I set my data to metered but your application doesn't respect that either.
Let us know an update is available `Update to

[2021-02-01 05:47] erigglem commented on #8625
If you open a new tab in Postman, this will work without the error. Took me hours to finally figure this out.

[2021-02-01 05:58] shashankawasthi88 commented on #9446
Closing this for now as this is not related to a new Integration request

[2021-02-01 05:58] #9446 closed

[2021-02-01 05:59] shashankawasthi88 commented on #9430
@HxxH5 closing this for the lack of details. Please feel free to open when you have more details for the Integration requirement.

[2021-02-01 05:59] #9430 closed, assigned to abhijitkane

[2021-02-01 06:00] shashankawasthi88 commented on #9394
Closing this for lack of details.

[2021-02-01 06:00] #9394 closed, assigned to abhijitkane

[2021-02-01 06:01] shashankawasthi88 commented on #9392
Closing this for the lack of details. @dmbe11 please feel free to reopen with additional details on the Integration

[2021-02-01 06:01] #9392 closed, assigned to abhijitkane

[2021-02-01 06:03] taehoshino opened #9512 "Test - Please ignore"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Additional Context**

[2021-02-01 06:04] shashankawasthi88 commented on #9384
@s3audi gentle reminder. Can you fill out the other parts of the request template as well ? It helps us define the Integration better for the users.

[2021-02-01 06:13] shashankawasthi88 commented on #9352
@clarkritchie sorry for the delayed response. This helps a lot. We are looking into adding GitHub backup at the workspace level and will get back to you on this once we have something solid.

On the collection not being backed up due to the expiration of the token, we try to bring upfront the status of the Integration run on the Integrations home page itself now `Home > Integrations`. Do you belie

[2021-02-01 06:32] shashankawasthi88 commented on #9327
Closing this for the lack of details. @Nosipho93 please feel free to reopen with more details on the Integration required.

[2021-02-01 06:32] #9327 closed, assigned to abhijitkane

[2021-02-01 06:41] shashankawasthi88 commented on #9335
@Veridis - we have addressed this issue now. You should be able to fetch more than 100 projects now. We have increased the limit significantly and users should not face this issue anymore.

[2021-02-01 06:41] #9335 closed, assigned to vinitshahdeo, shashankawasthi88

[2021-02-01 08:36] remcolam opened #9513 "Postman 8.0.3, not loading all history"
Postman is not loading in the history, it is only loading a few days, and only once you scroll to the end, will it continue loading the next few days.

When you search, it will not find any requests that have not yet been loaded. So trying to get to a request from a month ago, takes you several minutes of scrolling and then finally you can start searching for it.

However, as soon as you restart p

[2021-02-01 08:43] DannyDainton commented on #9513
Hey @remcolam

Could you provide a short recording of this issue please?

[2021-02-01 08:49] remcolam commented on #9513
Here it is, very short, in a small screen, to stay under the 10 mb...

https://user-images.githubusercontent.com/11367055/106435109-bb846f00-6472-11eb-8a50-a5f6ce7ddb82.mp4

[2021-02-01 08:54] DannyDainton commented on #9513
While this is loading, is the sync status still 'syncing' - You should be able to see this if you click/hover over the sync icon.

[2021-02-01 08:56] remcolam commented on #9513
No, it is green.

![image](https://user-images.githubusercontent.com/11367055/106435888-b8d64980-6473-11eb-8d48-cb43c539f93b.png)

and the tooltip says:

![image](https://user-images.githubusercontent.com/11367055/106435925-c4297500-6473-11eb-8235-7a6abfa48dae.png)

[2021-02-01 09:16] ds-arb commented on #9449
Hi,
     by when can this issue be fixed? We are not able to rollout postman docs because of this.

Thanks,
Sukumar

[2021-02-01 09:24] s3audi commented on #9384
Thank you for your reply.
I want to use Airtable as database for static websites
There is an option named Airpress that works on wordpress but it is more complicate
Think about an HTML website, maybe hosted on Github.com, but all the contents can be edited by Airtable
It will be so good to have an option :)

[2021-02-01 10:53] Envek commented on #8180
Same here. Can't POST `multipart/form-data` to Lambda function behind API Gateway.

It looks like that currently authorization of form data requests left unimplemented in the assumption that it is only used to do uploads directly to S3. See the relevant comment in the source code here: https://github.com/postmanlabs/postman-runtime/blob/451e9aa3ce563b6ae9529633151d4f934cdba9e0/lib/authorizer/aws4.

[2021-02-01 11:00] UncleBravado commented on #6999
@arlemi I'm a bit speechless, frankly. You have quite a lot of reports, plenty of arguments from different users, dozens of samples how it turned wrong. From your side, I'm sorry guys, there is nothing but repeated "should".

I see no single **real** reason not to implement PROPERLY that bloody option in your app.
Do you really want us to do tricks with limiting your app connectivity? You know tha

[2021-02-01 11:44] rbailen opened #9514 "Postman 8.0.3, not multi tab option available"
Hi guys,

Is it possible to open more than one tab at the same time without doing any change in the resource?

The button "Open in new Tab" is not working.

[2021-02-01 11:55] DannyDainton commented on #9514
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9493

[2021-02-01 11:55] #9514 closed, assigned to nobody

[2021-02-01 11:57] pravinkharche opened #9515 "import multiple curl request with title to save"
This is new enhancement in postman not at all bug.
it is nice to have a feature for bulk import so that someone can automate the request creation from jenkins build or CI/CD env.

in this requirement i will be happy if below is supported
1) currently from folder location i can import multiple curl request. but all imported request with same name I cant differentiate between them.
2)i can import bu

[2021-02-01 13:34] Rab815 commented on #9481
Something else I noticed about this issue is logging into the web based client, where connectivity is not an issue, I can make a change to the name of a collection and when I open the desktop client the change is reflected even though it says my connection is broken... but it's only on opening the desktop client that the change is reflected.  If I make another change in the web based version it's

[2021-02-01 13:50] kepikoi commented on #4044
What about supporting multiple API keys in the header?
The `pre-request` script solution is not applicable when generating collections from an imported oas3 (due to https://github.com/postmanlabs/openapi-to-postman/issues/158)

[2021-02-01 14:19] vollyimnetz opened #9516 "connection error and console with "pm.syncManager.forceConnect is not a function""
**Describe the Issue**

After upgrading to Postman 8 (Windows App) i had several problems. My old collections were lost (could only recover them cause i found that _%AppData%\Roaming\Postman_ had serveral backup files of the data from before the upgrade).

Since then, Postman shows the "Connection Error" icon. The "Retry connection" seems to have no effect.

When i try to open an saved request, th

[2021-02-01 14:22] DannyDainton commented on #9516
Please send all of the log files to help@postman.com.

It will help us to investigate the root cause of the problem.

You can find the logs at `View -> Developer -> View logs in Finder/Explorer.`

Similar issues have been raised on the repository and to try and keep the flow of information in a central place, I'm going to close this issue and kindly ask that you follow the thread, on the issue bel

[2021-02-01 14:22] #9516 closed, assigned to nobody

[2021-02-01 14:26] silverbullettruck2001 opened #9517 "Enhance Move Request Functionality"
I am using the new version 8, and I have instances where I want to move a request from one collection to another.

Since we have a lot of collections it's a pain to drag and drop because you have to find the right place on the screen to have the right-hand navigation window to make it scroll down to find the destination collection.

It would be nice if you could right-click on a request and have a

[2021-02-01 14:26] bcc1 commented on #9470
Same issue as the 2 comments above - In the previous version you neede to do an 'update' after the 'use token'. This 'update' no longer exist (and is perhaps the reason that the childs auth. values are no longer updated)

[2021-02-01 14:39] sankalp0o commented on #9317
@JulienM28 with the release of V8 of Postman, it becomes possible to switch between collection versions in the app as well -
<img width="484" alt="Screenshot 2021-02-01 at 8 04 24 PM" src="https://user-images.githubusercontent.com/7601762/106472454-b0f4c480-64c8-11eb-9477-1b9ce14cdf2c.png">

We understand that version management is not an easy process and we're introducing some new ways for you to

[2021-02-01 14:42] daokrajaih commented on #9517
I would like this improvement as well.

[2021-02-01 15:39] silverbullettruck2001 opened #9518 "Mouseover on variables not displaying values"
When I put a collection variable into a request body and I mouseover the variable, the variable is displaying in orange, so it is recognized as a valid variable, but it does not provide a popup to display the current value/initial value/scope as it does for other areas.

I have tried the following to get this to display as it worked in previous versions:
1. double click the variable name to select

[2021-02-01 16:29] CainDS commented on #9397
I'm getting the same issue and so is everyone in my team, we've tried updating, downgrading, uninstalling and clearing postman files but nothing works. When looking at the logs I get the following:

`["CloudProxyManager~init: Error while reading proxy configuration from user data - ",{"errno":-4058,"code":"ENOENT","syscall":"open","path":"C:\\Users\\USER\\AppData\\Roaming\\Postman\\Postman_Config\

[2021-02-01 16:30] silverbullettruck2001 commented on #9517
I just realized this is duplicate of request [https://github.com/postmanlabs/postman-app-support/issues/6040](6040)

[2021-02-01 16:30] #9517 closed, assigned to nobody

[2021-02-01 16:39] eyalgrossdev opened #9519 "[8.03] [Mac] There was an error importing this collection. Please try again."
**Describe the Issue**

Getting _There was an error importing this collection. Please try again._ using version 8.0.3 on Mac. Same collection on an older version of postman works.

**Steps to Reproduce**

Click _Run in Postman_ here - https://apidocs.awardforce.com/

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/41741388/106488799-5d787b80-64b4-11eb-90a8-1650a340a2c

[2021-02-01 17:01] falk0069 commented on #9355
I had the exact same problem but with the collectionVariables in the pre-request script.  After upgrading to v8.0.3, the problem went away.

[2021-02-01 17:07] ZooDoo4U commented on #6999
@UncleBravado Have to agree with you about the "Security Issue".  Considering my use case with Postman, 99.99999% of the time I’m hitting my own end point for development.  Normally the only thing I want is json, that's it.   And json is or should be text and read only?  No reason to be executing anything with it.

If not giving a “Disable Updates” is a "security issue" first question is why is Po

[2021-02-01 17:18] Stevemoretz commented on #6999
Force update for security makes not that much sense.
What kind of security are we talking about here?
Even if this is about security that makes sense to happen on big updates not minor ones.

@ZooDoo4U @UncleBravado
Here's a workaround to turn off your updates though which worked for me:
https://github.com/postmanlabs/postman-app-support/issues/6999#issuecomment-770186680

[2021-02-01 17:26] DannyDainton commented on #9519
Hey @eyalgrossdev

Thanks for raising this against the app - We'll take a look and update the thread once we have more information for you. 🏆

As a workaround, you can import this Collection with Postman on the Web, you should see that as an option in the `Run In Postman` import flow.

[2021-02-01 18:29] GalaxyZpj opened #9520 "[8.03] [Mac] Import popup works only once after launching Postman."
**Describe the Issue**

After a fresh launch of Postman, the Import pop (Cmd + O on Mac) works fine for the first time. On opening it the second time, nothing happens, no error, it just won't show up.

**Steps to Reproduce**

- Launch Postman
- Open import popup from File -> Import (or Cmd + O for Mac).
- It should show up as usual. Close it.
- Now try opening it again, nothing happens.

**Screens

[2021-02-01 20:30] randy-ja commented on #5222
+1

[2021-02-01 22:53] MahalakshmiMasilamani opened #9521 "collection listed with additional empty/blank space"
**Describe the Issue**
I have updated my collection from the previous collection. During copy and drag, it worked. The whole folder dragged and copied to the new collection. Inside the new collection, I could see an empty space.

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman

[2021-02-01 23:01] MahalakshmiMasilamani commented on #9521
I thought it is due to the internet issue. Close and reopen the postman. API's are working fine. However, the blank space is still visible.

[2021-02-02 00:02] cen1 commented on #9355
I will give it a try. Fingers crossed.

[2021-02-02 00:56] fcosanabria opened #9522 "Unable to Sign In from Linux Desktop App"
Hello team,

Basically I'm just trying to sign up un my linux desktop app, but it does not open any tab in order to validate session.
Here the steps:

- Clicking on the Sign In or Create Account.
![image](https://user-images.githubusercontent.com/37163970/106536430-0b3c5800-64be-11eb-8271-ae338934c752.png)

- After few minutes of the following screen, it just go into a time out screen.
![image](ht

[2021-02-02 01:26] mpagadala-cs50 opened #9523 "Custom JavaScript Functions Creation"
**Is your feature request related to a problem? Please describe.**
If there is a common JavaScript function to execute in Pre Request Scripts and Tests in multiple requests, folders or collections , there is no way to define functions in single place and invoke them wherever it's required.

**Describe the solution you'd like**
There should be a UI to define Global custom JavaScript functions.

**D

[2021-02-02 01:34] taehoshino opened #9524 "Content in "Example Request" is incomplete for request with large payload"
**Describe the Issue**
On documentar page, the content of "Example Request" is incomplete for requests with large payload, e.g.
https://documenter.getpostman.com/view/13023420/TVYCBLki#bdf9424d-f556-489f-880a-69be1e3934b7

There is no issue when copying the content from the icon below - the whole content can be copied.
![Screen Shot 2021-02-02 at 12 25 49 pm](https://user-images.githubusercontent.

[2021-02-02 03:09] #9512 closed, assigned to nobody

[2021-02-02 05:50] relyimah commented on #285
+1 for this feature (and wow - almost 8 years?!)

Variables are great, but this would absolutely be the icing on the cake, especially for GET requests where the URL is made up of a variable value.

[2021-02-02 07:25] intsilence opened #9525 "v8.0.3 does't have the auto generated cookie in header when turned on cookie interceptor"
**Describe the Issue**
postman v8.0.3 does't have the auto generated cookie in header when turned on cookie interceptor

**Steps to Reproduce**

**Screenshots or Videos**
in v8.0.3, interceptor status is green, and cookie are captured correctly in cookie manager, but no generated cookie
![image](https://user-images.githubusercontent.com/2546758/106565689-25337480-656a-11eb-868f-b9f3d7a557b3.png)

[2021-02-02 07:49] meenakshi-dhanani opened #9526 "Ability to resolve comments on requests"
**Is your feature request related to a problem? Please describe.**
I was working in a workspace that I recently moved to public. It had a few comments that were private so I wanted to be able to resolve them like I would resolve inline comments, but there isn't an option to resolve comments on the request. Now that the workspace is public I expect more comments, and I'd like to be able to resolve

[2021-02-02 07:50] meenakshi-dhanani commented on #8865
I wanted to clean up a workspace before it goes public to remove all private comments. The API would be really useful in that case

[2021-02-02 08:47] Sergius92 commented on #9481
I am having the same error after the Postman update.
I am using Postman through a VPN from my company.
Do you need extra log details?

[2021-02-02 08:53] DannyDainton commented on #9481
If you have experienced the issue and you haven't done so already, please send all of the log files to help@postman.com.

It will help us to investigate the root cause of the problem.

You can find the logs at `View -> Developer -> View logs in Finder/Explorer.`

[2021-02-02 09:04] Sergius92 commented on #9481
I've sent an email with full logs.

[2021-02-02 09:35] tomilagom commented on #3719
Looking after this one! :)

[2021-02-02 09:48] TienTran1112 opened #9527 "Runner collection is missing folder contains"
Hello, I use new postman UI and runner collection. But after run, I cannot find the folder contains my POST request (when hovering mouse in old UI). I try to change many thing in setting. It waste my time during regression test today. Could you please help me?

[2021-02-02 09:57] DannyDainton commented on #9527
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9464

[2021-02-02 09:57] #9527 closed, assigned to nobody

[2021-02-02 10:08] DannyDainton commented on #9520
Hey @GalaxyZpj

I've been able to replicate this issue on my side and I've raised an internal issue with the team - Thank you for flagging this problem. 🏆

We will update the thread when we have more information.

[2021-02-02 10:24] prdemelof commented on #6999
I'm felling a bit guilty because I've been keeping this to myself but, here it goes: found another way to completely and totally disable the dreaded auto updates. Be it minor, major or whatever. Bit of a cheat though, but it gets the job done until the team fixes it. Navigate to "C:\Users\USERNAME\AppData\Local\Postman". In this folder you will find and delete everything that has "update" && ".exe

[2021-02-02 10:30] Stevemoretz commented on #6999
Your solution isn't cross platform.
But gives me an idea there is probably the same update executable inside /Application/Postman

Which via deleting it the same thing happens on macos.

Haven't tried it yet.
Hosts solution is working for me for now.

But opera browser has the same updater executable and deleting that disabled the updates.

[2021-02-02 10:36] prdemelof commented on #6999
@Stevemoretz Oh yeah you're right. I should have mentioned my solution was for Windows. 😅

[2021-02-02 11:29] KristofNalesnyik opened #9528 "v8.0.3 after importing collection, shortcuts don't work"
**Describe the Issue**
After importing a collection, shortcuts, like ctrl+W, ctrl+Enter do not work. (alt + scroll works)
I have not tried every shortcut. I only imported collection.

**Steps to Reproduce**
Import a collection.
Open a request. Press ctrl + W to close it.

**Environment Information**
 - Platform Type: Native Desktop App
 - Postman Version: 8.0.3
 - Operating System: win32 10.0.1836

[2021-02-02 11:47] paul-uz commented on #4785
@sankalp0o since when does remove = move?

That's a terrible name.

Why can't you just implement a simple "move" feature?

[2021-02-02 13:24] wischi-chr commented on #7716
I'm not sure if my problem was the same (I found this issue after googling _"postman uninstalls itself"_). My PC is basically always on and it looks like that postman uninstalled itself (worked fine yesterday).

Are there any logs I can provide which would help you diagnose the problem?

[2021-02-02 14:06] m3dbedb commented on #6670
it looks like the feature is implemented

[2021-02-02 14:06] #6670 closed, assigned to vkaegis

[2021-02-02 14:35] NiklasBr opened #9529 "Text has too low contrast, to the point of being fuzzy"
**Describe the Issue**

It is hard to read the contents of the user interface. Please allow me to use sharp text with high contrast so that it is readable.

**Steps to Reproduce**

1. Open the app.
2. Use a 1:1 pixel monitor (i.e. no "retina" screens)
2. Be >30 years old ;)

**Screenshots or Videos**

Example location, and with Windows settings to compare:

![image](https://user-images.githubuserc

[2021-02-02 14:51] m3dbedb opened #9530 "Ability to run selected folders or break point for runner"
**Is your feature request related to a problem? Please describe.**
Sometimes one need to run first half of a collection, and there are two ways to do it:

- temporary add postman.setNextRequest(null); in the step you want to be last one

 or

- check 50+ steps you need to run.

**Describe the solution you'd like**
I propose to add ability to mark folders you want to run (currently you may drag to

[2021-02-02 14:56] sufisaid commented on #8154
Is "Use next generation URL processing" mandatory from version 8 because I don't see an option for disabling it? I'm using "{}" in my queries and now that I can't disable this option, requests can't pass through AWS API GW.
Do you have in plan to bring back this option so we could have control over it and enable/disable it when required?

[2021-02-02 14:57] thiemakr commented on #9525
Suffering from the same issue.
Postman Version v8.0.3
OS: Windows 10

[2021-02-02 14:59] m3dbedb commented on #6503
Yes, the issue presents in 8.0.3 for windows:
I add the code above in test section, and the output appeares at a time (I suppose "1" to appear before pause, and '2' after pause):

console.log('1');
var t = new Date().getTime();
while (new Date().getTime() < t + 10000);
console.log('2');

'1'
'2'

[2021-02-02 15:01] m3dbedb commented on #6257
currently i don't see the issue in version 8.0.3 for windows

[2021-02-02 15:01] #6257 closed, assigned to nobody

[2021-02-02 15:02] m3dbedb commented on #6005
Yes now it works good!

[2021-02-02 15:02] #6005 closed, assigned to vkaegis

[2021-02-02 16:14] orithena commented on #7952
Requesting to reopen this issue: In Postman 8.02 and 8.03 on windows, this problem came up again.

[2021-02-02 16:31] MariuzM opened #9531 "Remove white space characters from JSON request body and response"
In the previous version (V7) of postman I did not have these characters but now I see them added, could not find an option to remove them.

Could an option be added to remove the visual dot indentations?

<img width="133" alt="Screen Shot 2021-02-02 at 16 31 13" src="https://user-images.githubusercontent.com/36937039/106630911-29fd2600-6574-11eb-9df3-c6e66a95db3b.png">

[2021-02-02 16:33] solsticesurfer commented on #5222
+1. I have collections with 100s of entries. Manually sorting through drag-and-drop is difficult and time-consuming. Hell, make it a premium feature if you must but sorting is sorely needed.

[2021-02-02 16:40] orithena opened #9532 "Cannot delete cookies gathered during OAuth2 authentication"
**Description**

If I want to test an OAuth2 authorization flow, I cannot reproduce everything without restarting Postman, because I cannot delete all cookies I received during OAuth2 authorization.

**Steps to Reproduce**

* Create a new request
* Under "Authorization", use type OAuth2 and enter configuration for your test server. Do not enable "Authorize using browser".
* Click "Get New Access T

[2021-02-02 17:08] aarsan commented on #6583
Would love to have this!

[2021-02-02 18:12] cyberjetx opened #9533 "Ability to persist response type under Pretty"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Ability to persist/save response type under Pretty to minimize having two addl clicks.  Assuming you have chosen [Pretty]. When testing endpoints and getting JSON response you have to click the dropdown and then click JSON every time.  It would be awesome if it could persist our chosen drop

[2021-02-02 18:22] KittyGarrison commented on #4193
We still want this 🥺🙏

[2021-02-02 21:49] camellia commented on #1070
+1

[2021-02-02 22:54] DannyDainton commented on #9533
In the settings, there is an option to auto choose the response language. JSON is the option - Is that what you're after?

It's currently on Auto so it should pick up the Content-Type from the Headers, is that sent with the response?

[2021-02-03 05:25] pankajk07 commented on #9528
@nalesnyik We were able to reproduce this issue and are looking into it.

[2021-02-03 06:08] ArunRajMony opened #9534 "eTag for examples/samples for mock server not changing even when the payload of the example is updated"
**Describe the Issue**

**Steps to Reproduce**

1. Create a mock server collection.
2. Create a GET request and save as an example (with payload as JSON).
3. Postman generates a eTag for the payload in the example and it also sends back the etag when this GET call is made.
4. now update the saved example's payload.
5. call the GET request, postman still serves the old etag, the etag has not been u

[2021-02-03 06:56] bonaluo opened #9535 "Can not use placeholder in header name"
can not use placeholder in header name

version 8.0.3

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/27731323/106709713-e2d46b00-662f-11eb-983e-732cc9fa2f82.png)

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version:
 - Operating System:

**Addit

[2021-02-03 09:38] benmcm1994 commented on #9459
To the left would also be good!

[2021-02-03 09:56] Brilbroeder opened #9536 "File | Import does nothing"
File | Import a first time works fine
I import a swagger file by pointing to a url. Works fine.
File | Import second time, does nothing

Closing postman, opening postman.
File | Import works fine again for only one import.

[2021-02-03 10:00] alex-piccione commented on #9481
I manually created a "proxy" file and it complained because it wasn't a valid JSON.
I deleted it.
Now the warning is gone and the proxy file is created by the application itself but seems to contain only 4 invalid characters.
I played with the Settings/Proxy without luck.
I have this problem on 2 machines, the company one (we use CheckPoint, not sure if I'm behind a Proxy) and my personal PC, no p

[2021-02-03 10:01] DannyDainton commented on #9536
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9520

[2021-02-03 10:01] #9536 closed, assigned to nobody

[2021-02-03 10:26] eavdmeer commented on #9481
Interesting parallel here is that I also use Checkpoint for the company VPN. May be significant

[2021-02-03 10:40] numaanashraf commented on #9481
@alex-piccione @eavdmeer Are you facing similar issues while accessing [Postman for Web](https://go.postman.co) via Checkpoint?

[2021-02-03 11:11] alex-piccione commented on #9481
I tested the company pc. I can open the website. Sync is OK. I imported the collections.
Website is ok for me.
The impossibility to connect is only from the desktop app.

[2021-02-03 11:19] DannyDainton commented on #9535
Hey @bonaluo

Could you elaborate more on the issue please and provide some steps to recreate what you're seeing?

![image](https://user-images.githubusercontent.com/17089546/106739858-9417d880-6611-11eb-8b66-6606ad1ec5eb.png)

If you are talking about adding Descriptions to the `auto-generated headers`, this is not something that can be done and the description of the header can be found when the

[2021-02-03 11:33] DannyDainton commented on #9521
Hey @MahalakshmiMasilamani

It's not clear what you mean here - Are you still facing this issue after quitting and reopening the app?

If so, could you create a short video showing the issue you're seeing, please?

[2021-02-03 12:13] gitThingsDone commented on #8533
Closing this ticket as we have moved the collection discovery option away from the publish flow

[2021-02-03 12:13] #8533 closed, assigned to ratpik, Raja-Simha

[2021-02-03 12:15] gitThingsDone commented on #6216
Closing this ticket as we have removed the collection discovery option from the publish flow.

[2021-02-03 12:15] #6216 closed, assigned to preethammavin

[2021-02-03 13:00] Rab815 commented on #9481
@alex-piccione @eavdmeer   I don't use checkpoint... I have this problem on a pc for work while I'm behind a vpn, I still have it while the firewall is disabled.  I also tested this with the profile I'm having the issue with on my personal computer.  Then I thought perhaps it was something with my router so I tethered it to my phone and disabled wifi and still had the problem.  Is anyone having an

[2021-02-03 14:29] esanchezaxa commented on #7052
+1

[2021-02-03 14:54] Hayk-S commented on #8552
@thiagobxc  the issue is not reproducible for me, could you please confirm if this still exists or it is already resolved ?

[2021-02-03 14:55] MesaSantiago96 commented on #7466
I revive this issue because I can't find a solution to my problem.
That error you posted appears directly to me: Parse Error: The response headers can’t include “Content-Length” with chunked encoding.
And I understood that the description of the problem is very explanatory, but I can't understand what that means.
So my question is, what should I correct so that this error stops appearing, or at le

[2021-02-03 15:20] alex-piccione commented on #9481
I can confirm, a new account just works fine (Sync on, requests visible and working). No other changes.
My work PC (under Checkpoint).

[2021-02-03 15:30] kking124 opened #9537 "Cannot install on Windows 10 2020H2 64-Bit"
**Describe the Issue**

I cannot install Postman 8.0.4 through any installer available (32 bit standalone, 64 bit standalone, 64 bit web agent)

**Steps to Reproduce**

1. Download the installer
2. Run the installer

**Screenshots or Videos**

Logs:
[code]

Run As Administrator Logs:
[code]

Although the app **appears** to install, it cannot be run, giving the following error:

![image](https://us

[2021-02-03 16:08] valtlfelipe commented on #1647
After upgrading to postman v8, it kind of requires me to use a workspace, but there is no option to move or export the history from the scratch pad to my workspace.

Any ideas how to proceed?

[2021-02-03 16:28] Quaternions commented on #9532
I have a similar problem.

Since the Postman callback URL (https://oauth.pstmn.io/v1/callback) isn't a valid call back URL in our IDP, I'm don't get my access token with the Authorize using browser option selected.

When I get an access token, and since I have all my endpoints inherit from the parent, I can see the bearer token being added to each header when I send a request.  I even see the auth

[2021-02-03 17:01] bgrabar opened #9538 "Request to collapse or hide the left-hand bar"
Can you add a way to collapse or even hide the left-hand bar that contains tiles for Collections, APIs, Environments, etc?

The left-hand bar and collections pane together take up more real estate than I'd like. I don't want to fully collapse the collections pane as I access it often.

In the screenshot below, I've reduced the collections pane as much as possible without collapsing it, but the com

[2021-02-03 17:10] DannyDainton commented on #9538
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9498

[2021-02-03 17:10] #9538 closed, assigned to nobody

[2021-02-03 17:10] anthonyChaussin-d4e commented on #9280
Hi @Raj-postman , I'm in  Postman v7.36.3 and I experiencing the same issue

[2021-02-03 17:48] drormik opened #9539 "when using - "duplicate tab" - it no longer duplicate the URL and headers"
**Describe the Issue**

**Steps to Reproduce**

1. do a GET request and enter a URL and some headers
2. right click on the current tab and hit "duplicate"
a new tab will be added ,  But the headers and URL fields are blank in the new tab

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]   Native Desktop App Windows
 - Postman Version: Vers

[2021-02-03 18:56] shawnhooper opened #9540 "Cursor loses focus when tabbing out of and then back into the application"
**Describe the Issue**

Cursor loses location/focus when tabbing out of the application and back.

**Steps to Reproduce**

1. Open a new request
2. In the Params tab, put your cursor into the Value field of the first parameter.
2. Tab away from Postman (Command + Tab on Mac)
3. Tab back into Postman
4. Cursor is gone.

**Screenshots or Videos**

Video: https://www.loom.com/share/aaf0b34572034e5ba5

[2021-02-03 18:58] alexayers commented on #9532
How I've worked around this is:

1  I intentionally supply a bad Callback URL this causes the call to fail leaving the postman authentication window open.
2. Then I open up developer menu, "Show Dev Tools (Current Shell)."
3. Select Application Tab
4. Click "Clear site data"
5. Close postman
6. Open postman
7. Now I can reauthenticate with a different username

[2021-02-03 18:59] bgrabar commented on #9498
The solution @wangh47 proposed (https://community.postman.com/t/postman-8-feedback/19660/8) would work well.

[2021-02-03 19:17] vali-craciun commented on #8929
I think the feature refers to skip current request, not the subsequent ones

[2021-02-03 21:24] hereiznoy opened #9541 "Not All Expected Interceptor Cookies are Being Sent"
**Describe the Issue**

Cookies being captured by Interceptor at the `domain.com` level are not being sent by Postman in requests to `sub.domain.com`. (Any cookies set at the `sub.domain.com` level are sent as expected.) Cookies at both levels are present when inspected via the *Manage Cookies* dialogue. But when inspecting the sent request (I used Fiddler), only the cookies for `sub.domain.com` a

[2021-02-03 23:55] adiachenko commented on #6712
I don't even understand how GraphQL schema or importing schema in Postman is supposed to work.

Try https://graphql.anilist.co for example. Both Insomnia and Paw generation show documentation for it after typing the link. On the other hand, Postman just says "No schema". I am pretty new to GraphQL so maybe I am an idiot here but when virtually any other client handles this seamlessly for me someth

[2021-02-03 23:58] xk0der commented on #9444
Hey @akbbhatt checking to see if you are still getting the error when trying to create a monitor? If yes, do create a ticket here: https://www.postman.com/support/ and provide the following details, so that we can troubleshoot this further:

- Collection name and UUID - You can find this from the web-app: https://go.postman.co/build and open the Collection and copy the URL
- Postman app logs https

[2021-02-04 02:06] GaneshUma commented on #4320
i am facing this issue when i run through jenkins how to handle this

[2021-02-04 03:27] kotot commented on #9541
me too

[2021-02-04 04:26] codenirvana commented on #9541
@hereiznoy @kotot Can you share steps to reproduce this issue?

Here's what I tried (without Interceptor):
* Request `domain.com`, responds with `Set-Cookie: foo=bar; Path=/; Domain=domain.com`
* Request `domain.com` again, cookie `foo` is sent
* Request `sub.domain.com`, cookie `foo` is sent

Is this happening only with Interceptor?

[2021-02-04 05:43] gitThingsDone commented on #7654
@xk0der Happy to share that we have introduced the ability to select a workspace while importing a collection using Run In Postman. This is available in the latest version of the Postman App https://www.postman.com/downloads/

[2021-02-04 05:43] #7654 closed, assigned to nobody

[2021-02-04 05:48] gitThingsDone commented on #7629
@Millais Users can now create a public workspace and add an environment there to share it publicly.
https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/creating-workspaces/#creating-a-public-workspace
Any environment they share to a public workspace will also get a public link like https://www.postman.com/postman/workspace/postman-public-workspace/environment/5922408-6d01dd

[2021-02-04 05:51] gitThingsDone commented on #9400
Thanks for sharing this @jwbanning!
We are looking into adding this to our roadmap 😄

[2021-02-04 06:46] bonaluo commented on #9535
First create two global environment variables.
![image](https://user-images.githubusercontent.com/27731323/106855173-7ae95780-66f7-11eb-86da-ef6536d4595b.png)
Second use them as header name and header value in the placeholder way.
![image](https://user-images.githubusercontent.com/27731323/106855293-a79d6f00-66f7-11eb-96b1-7d1b470f82f6.png)
Third execute request and failed.

[2021-02-04 06:50] bonaluo commented on #9535
But it dose work in a new workplace.

[2021-02-04 06:51] jiuli commented on #3489
how to use java Implementation sendAndDownload function?

[2021-02-04 07:13] bonaluo commented on #9535
I test for several times, the placeholder in header name must be non-global variable

[2021-02-04 07:46] dan-lind commented on #9470
Having the same issue, just wanted to encourage everyone to +1 the original post by @pierskarsenbarg for increased visibility.

[2021-02-04 09:21] ningma007 opened #9542 "Can not get Token from browser shows "Error: OAuth 2.0 request timed out. Please try again." about after upgrade 8.04 Ver."
Hi team,
 I upgraded Postman from 7.36 to 8.04, then Postman can not get Token form browser  shows "Error: OAuth 2.0 request timed out. Please try again."

 No settings was changed Postman and browser, browser pop-ups as normal, however, Postman looks can not get the token from browser

 However, if downgrade to 7.36, everything return to normal.

Thanks.

[2021-02-04 09:25] umeshp7 commented on #9511
@calvinit Hey thanks for reaching out.

We are aware of this and this special handling was added for raw bodies only. Using `-d` assigns special meaning to some characters which was not desirable for raw bodies.
We will be working on handling this better and come up with a fix soon.

Which version of `curl` are you on? Since `--data-raw` was added in `curl 7.43.0`. If you are on a version higher t

[2021-02-04 09:48] calvinit commented on #9511
@umeshp7 Hi, I checked that I am currently using version `7.29.0`. But in fact, there may be more than one version because there is usually not only one application server machine. Wouldn't it be more common for us to use the "-d" short form option? Generally speaking, the higher version of the syntax is compatible with the lower version.

[code]

[2021-02-04 09:52] DannyDainton commented on #9539
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9493

[2021-02-04 09:52] #9539 closed, assigned to nobody

[2021-02-04 10:03] mareklinka commented on #9542
Having the same issue - the redirect from browser happens and the main log shows that it received it:

`[28208][1612429118344][main][info]["ProtocolHandler~handleOpenUrl: postman://app/oauth2/callback?code=...&state=&session_state=..."]`

However, the popup `Authenticate via browser` remains open and eventually times out.

[2021-02-04 11:23] Xanvial commented on #9498
+1
Sidebar should be resizeable/collapsible or even better can be hidden separately

[2021-02-04 12:22] Raja-Simha commented on #9524
@taehoshino you can scroll horizontally to view the content. Do you think it is not obvious?

We could provide an option to wrap and improve the experience around it.

[2021-02-04 12:40] umeshp7 commented on #9511
Yes that makes sense, and I understand your concerns. We will be fixing this issue soon and I have labeled it as bug to track it faster. You could try using curl v7.43 or higher as a workaround till we have a fix.
Will update this thread as soon as we have released that fix.

[2021-02-04 12:47] mariooooo commented on #9522
The same problem on Windows10

**Environment Information**

- Platform Type: Windows Desktop app
- Postman Version: v8.0.4
- Operating System: Windows 10 Pro, version 20H2, build 19042.685

[2021-02-04 12:59] Aemilivs opened #9543 "Save request hotkey doesn't raise an event."
**Describe the Issue**

Given a postman request with recent changes to it
When I hold ctrl+s combination
Then nothing happens
And request remains unsaved

**Steps to Reproduce**

1. Create request
2. Introduce any changes
3. Hold ctrl+s

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: v8.0.4
 - Operating System: Windows 10 x64 (10.0.19042, Build 19042)

[2021-02-04 13:19] mstaalesen opened #9544 "Feature request: Option to disable logging while running a collection from Postman"
**Is your feature request related to a problem? Please describe.**
When running a large collection (over 100 requests), Postman is really slow after it is finished running. To my surprise, it seems that the reason for this is that Postman is busy logging all the requests to the Postman Console. I assume this is a key feature in how things are done, but it would be very nice if we could have an opt

[2021-02-04 13:25] mstaalesen commented on #9476
Can you check if Postman keeps logging to Postman Console even after the collection has executed all the requests? I believe that is the issue for me at least.

[2021-02-04 13:40] mariooooo commented on #9522
@piktonus97m
this is help me try
https://github.com/postmanlabs/postman-app-support/issues/8717#issuecomment-654905138