[2021-02-04 14:28] durimjusaj opened #9545 "If I have exceeded sharing limit, don't archive collections."

[2021-02-04 14:59] hereiznoy commented on #9541
@codenirvana Yes, only happening with Interceptor. As in, the browser has the cookie(s) I need sent with the request I am sending from Postman. So expected behavior:

1. Acquire cookies in the browser (where Interceptor is installed and connected) for `domain.com` and `sub.domain.com`
2. Send request to `sub.domain.com` from Postman
3. See cookies from both `domain.com` and `sub.domain.com` sent w

[2021-02-04 15:00] Starmel opened #9546 "Import cURL from app-link"
Postman application is support opening of itself by custom protocol - `postman://`

Allow opening app with automatic import of cURL request from app-link.

Example:
[code]

That link immediately open app if required and imports a cURL from the payload.

It's will be helpful for logs systems if required often to reproduce requests. Or to share fast-link to open requests with postman to other users.

[2021-02-04 15:50] mbopp commented on #9397
I would be incredibly grateful for a workaround or anything that would allow me to use the app as I am experiencing the same issue. I was able to recover my collections from a backup, but am still unable to use the app. Logs describe the same 'proxy' issue detailed above.

[2021-02-04 15:57] codenirvana commented on #9541
@hereiznoy Thanks for the information. Let's scope down this problem.

Can you share the exact cookie string (from Cookies manager) of one of the `domain.com` cookie which was supposed to be sent with `sub.domain.com` request?

e.g, `foo=bar; Path=/; Domain=domain.com; Secure; Expires=Sat, 06 Mar 2021 15:55:41 GMT;`

_Remove all sensitivity information from the cookie string._

[2021-02-04 16:55] jstallm opened #9547 "Request tab no longer visible after updating to 8.0.4 win32 10.0.18363 / x64"
**Describe the Issue**

After auto updating today to
Postman for Windows
**Version 8.0.4
win32 10.0.18363 / x64**

Clicking on an existing collections request no longer opens up request details. Instead, black screen persists

**Steps to Reproduce**

Update to
Postman for Windows
**Version 8.0.4
win32 10.0.18363 / x64**

Click request

**Screenshots or Videos**
![image](https://user-images.githubu

[2021-02-04 16:59] DannyDainton commented on #9547
Hey @jstallm

Is this still happening if you quit the app and then restart it?

It's hard to get a feel for what's happening with a static image, are you able to provide a quick recording?

[2021-02-04 17:02] DannyDainton commented on #9545
Hey @durimjusaj

I'm not sure if this is a question or a statement. Could you elaborate on this, please?

[2021-02-04 17:03] DannyDainton commented on #9544
Hey @mstaalesen

Are you experiencing this problem in the new V8 or web version of Postman?

[2021-02-04 17:06] DannyDainton commented on #9543
Hey @Aemilivs

Could you please provide a short recording of this behaviour, please?

Is the request already saved to the Collection or a new unsaved request?

[2021-02-04 17:35] JoeUX commented on #2701
What's the word on this? It's been four years since this was opened, and as far I can tell there's not been any update, comment, or substantive response of any kind from the Postman team at any point.

Moreover, the Postman development [roadmap on Trello](https://trello.com/b/4N7PnHAz/postman-public-roadmap) does not appear to mention HTTP/2 at all. (Though the search function on Trello seems brok

[2021-02-04 17:45] rodmaz commented on #2701
Perhaps it is time to evaluate alternatives, like Insomnia. They already support HTTP/2.

https://github.com/Kong/insomnia/issues/997

[2021-02-04 18:22] hereiznoy commented on #9541
@codenirvana So in the cookie manager, the cookie string value is: `foo=bar; path=/;`.  The `Domain` key-value pair is not specified, as I would expect it to be (the cookie itself is under the **domain.com** grouping in the cookie manager). If I edit that cookie in the cookie manager to include `Domain=.domain.com`, the cookie gets sent with the request to `sub.domain.com` as expected.

If I send

[2021-02-04 18:28] ActionJackson86 commented on #4009
bumpity bump bump

[2021-02-04 18:50] jstallm commented on #9547
@DannyDainton , have you tried to reproduce using the steps to reproduce provided? The issue is still present. Try using the same version I am, click on a collection request, and see if the details of the request show for you. You can even post a screenshot of what you see. Stopping and restarting postman did not resolve. If you are unable to reproduce, please let me know and I'll literally reinst

[2021-02-04 18:55] axelitus opened #9548 "Option to skip Host header validation"
**Is your feature request related to a problem? Please describe.**
When trying to test services that are not yet published through a DNS record, that are behind a proxy that's shared for multiple sites, the Host header validation returns the following error: `Error: getaddrinfo ENOTFOUND not-published.domain.test` and does not execute the request.

**Describe the solution you'd like**
A way to ski

[2021-02-04 18:56] jstallm commented on #9547
You can see it more clearly here. ![image](https://user-images.githubusercontent.com/6054668/106941402-a0666900-66d7-11eb-8e05-2455aa760ecc.jpeg)

[2021-02-04 18:57] DannyDainton commented on #9547
Yep, everything is opening as I expected it too. 😁

The Overview page that's in your screenshot, shows the correct information. Closing that tab, shows the button to open the Overview.

Selecting a request from the collection opens this up in a tab.

The other thing to try is logging out and logging back into the app again?

[2021-02-04 18:59] bdiaz-gapsi opened #9549 "Open in New Tab does not always work"
When you right-click on a request in order to open it in a new tab, nothing happens.

[2021-02-04 19:05] DannyDainton commented on #9549
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9493

[2021-02-04 19:05] #9549 closed, assigned to nobody

[2021-02-04 19:09] jstallm commented on #9547
There is just something strange going on with the tabs and clicking on existing postman collection requests. The tab is not showing after I click for existing requests, Which is very unfortunate because I am completely unable to use those requests. I noticed that I can create a brand new request and there's no issues if I create a brand new request, but existing requests and existing old collectio

[2021-02-04 19:29] syedsouban commented on #4009
Hey, why don't you share it with us

[2021-02-04 19:41] DannyDainton commented on #9547
Are you able to use those requests in the Web view?

https://go.postman.co

If those can be viewed and run from there, it might not suggest any kind of schema validation issue.

[2021-02-04 19:45] spencerhuang-oracle commented on #6639
I understand that this feature request does not constitute real security. However, sometimes we need to use Postman while recording zoom demo, and not having the ***** on the UI could create accidental leak of password values. It's a low-hanging fruit imho.

[2021-02-04 19:46] spencerhuang commented on #6639
I understand that this feature request does not constitute real security. However, sometimes we need to use Postman while recording zoom demo, and not having the ***** on the UI could create accidental leak of password values. It's a low-hanging fruit imho.

[2021-02-04 19:47] jstallm commented on #9547
Sign off sign on resolved! Thank you.

[2021-02-04 19:55] DannyDainton commented on #9547
Awesome. That was a weird one - glad it's all done.

I'm going to close this one out. 🏆

[2021-02-04 19:55] #9547 closed, assigned to nobody

[2021-02-04 21:12] crashspringfield commented on #9072
I'm running into this on Ubuntu 18

[2021-02-04 21:27] DannyDainton commented on #9072
@crashspringfield

Which version of app are you using? Is this the case on V8?

[2021-02-04 21:27] walker-ken commented on #8003
Regardless of this setting, should right-clicking on a saved request and selecting "Open in new tab" not open the request in a new tab?

[2021-02-04 21:36] Sophos06 commented on #8929
I don't think so. At pre-request script stage, the body is not even sent.
Should be easy to jump straight to end of test script stage on a certain command.

[2021-02-04 21:55] micka190 opened #9550 "8.0.4 Bootcamp "Environment variables" lesson breaks when opening new request tab"
**Describe the Issue**

When going through the "Environment variables" lesson, once I reach the "Open new request tab" step (47% completion), no popups appear once I open a new request tab, and the lesson hangs there indefinitely.

The "Continue learning" button on the bottom also does nothing once this happens, and manually selecting the "Resume" option from the bootcamp overview simply takes me

[2021-02-04 22:25] andersjj opened #9551 "Allow to hide only sidebar tabs, not all of sidebar"
right now when toggling the sidebar, the sidebar tabs as well as the tab content is toggled.

It would be valuable to be able to toggle the sidebar tabs as well as the content independently.   I use Postman collections a lot and it would be nice to hide the sidebar tabs, but still be able to view the tab content, in my case, the collections that have been setup.

Granted, the tabs only occupy a re

[2021-02-04 23:07] #9507 closed, assigned to abhijitkane

[2021-02-04 23:09] DannyDainton commented on #9551
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9498

[2021-02-04 23:09] #9551 closed, assigned to nobody

[2021-02-05 00:17] taehoshino commented on #9524
@Raja-Simha
Even scrolling horizontally, in this case the content is getting cut off. Please see the demo link here:
https://www.loom.com/share/cf94a0a27a6342e38d3c175d75fede22

[2021-02-05 00:31] Hayk-S commented on #8552
Closing issue as it is not reproducible.

[2021-02-05 00:31] #8552 closed, assigned to charlie-postman

[2021-02-05 04:19] taehoshino opened #9552 "[FR] Add flexibility to the aspect ratio on logo in published doc"
**Is your feature request related to a problem? Please describe.**
A recent change to team logo imposes aspect ratio of 1:1 when uploading image to https://go.postman.co/settings/team/general
This also limits the image being used in published doc and needs to comply with 1:1 aspect ratio.

**Describe the solution you'd like**
Add flexibility to aspect ratio, or to allow user to upload/select a dif

[2021-02-05 04:20] codenirvana commented on #9541
@hereiznoy You're right, cookies imported via Interceptor are missing the `Domain` attribute making them HostOnly.

Thanks for reporting this, will let you know once this issue is fixed.

[2021-02-05 04:21] taehoshino commented on #9552
@godfrzero

[2021-02-05 04:57] smile-magic opened #9553 "duplicate tab not work"
duplicate tab not work

Platform Type: Desktop App
Postman Version: 8.0.4
Operating System: macOS 11.2

[2021-02-05 06:22] DannyDainton commented on #9553
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9493

[2021-02-05 06:22] #9553 closed, assigned to nobody

[2021-02-05 06:41] qqk1011 commented on #9481
I have additional problem. In my desktop app I can normally sign out, but when I try to do this on the web page, it seems to be impossible.

![image](https://user-images.githubusercontent.com/78137263/106998916-8f743100-6785-11eb-906f-37d49112a331.png)

[2021-02-05 08:14] satyavh commented on #9542
Same here, 8.04 has this issue. Prev version was working fine.

[2021-02-05 08:42] Aemilivs commented on #9543
Hi @DannyDainton 👋

Seems like the reboot of the PC helped and issue is gone now 🤷‍♂️
The request was already saved to the Collection

[2021-02-05 08:42] #9543 closed, assigned to nobody

[2021-02-05 08:44] chris-rl commented on #4808
this would be very helpfull. I would like to use this to remove comments from the json request body. (because this isn't possible as well, see https://github.com/postmanlabs/postman-app-support/issues/3358 )

But I really don't like the workaround to put all the request data in the pre-request-script and just set the body from a variable. It is good to have this workaround, but it still is just a

[2021-02-05 09:07] Jakartoine opened #9554 "URL Encoding does not work anymore"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/27675999/107012916-f4d21d00-6799-11eb-8f67-ea1d131b7788.png)

**Environment Information**

 - Platform Type: Native Desktop App (MacOS or Windows)
 - Postman Version: 8.0.4
 - Operating System: MacOS 10.15.7

[2021-02-05 09:27] mstaalesen commented on #9544
This is in v8.0.4 (was also present on 7.x) on Mac.

[2021-02-05 09:36] DannyDainton commented on #9544
Could you provide some examples of the cpu usage you described, please?

[2021-02-05 09:48] vvs11 commented on #9467
@haoj-loy The maximum size of request body that you can send is 1 MB on mock servers

[2021-02-05 09:51] pawel-tomkiel commented on #8245
@shashankawasthi88 - our use case is like we have services in Github on custom domain and would love to keep those in sync with Postman collections for testing purposes. Would be great to see this feature planned on roadmap :)

[2021-02-05 09:58] jotsarup commented on #8245
@pawel-tomkiel we currently have integration to backup collections to Github on custom domain
https://learning.postman.com/docs/integrations/available-integrations/github/#backup-collections-to-github-on-custom-domain

If you workflow is not achieved with us, please let us know.

[2021-02-05 10:01] pkarny commented on #6639
@postman-support I really love your work and I see that you are quickly implementing new features.

We adopted postman to our workflows pretty quickly but I was really surprised that the only way of keeping the value of keys/passwords/variables secure is to **remember** that you can **only** fill the "current value" field in variables.

You may think the solution is good enough, but **no**! Please

[2021-02-05 10:02] pawel-tomkiel commented on #8245
We want it exactly other way around (and I understood that this ticket is about it) :) we have services with openapi definitions, and we want Postman to automatically update collections basing on changed JSON files in GitHub repo on custom domain.

[2021-02-05 10:11] DianaLaa opened #9555 "Double click = open permanently"
**Is your feature request related to a problem? Please describe.**
All tabs in PostMan are opened in some sort of temporary mode, where the title bar is italic. If you click something new in the pane on the left, your italic tab is replaced. This is really frustrating, especially if you just started running a request. I clicked that thing, just stay open! I often want to run multiple requests at t

[2021-02-05 10:12] AlekseiBorsenko commented on #7083
Bump

[2021-02-05 10:16] Raj-postman opened #9556 "Extract part of the API schema into scripts as variable for testing"
**Is your feature request related to a problem? Please describe.**
Usually, for the testing cases. When users want to check if their response matches a schema but do not want to have to duplicate parts of the API schema in the different tests across collections. To have 2 sets of response schemas defined for each endpoint (one in the API schema, another in each test area) feels icky, would like to

[2021-02-05 10:16] jotsarup commented on #8245
@pawel-tomkiel I get your point. While we have 2 way **schema sync** integration on Github, but we don't support custom domain on **schema sync**. We are actively working and will let you know :)

[2021-02-05 10:19] DannyDainton commented on #9555
Hey @DianaKoenraadt

Do you have the "Always open requests in new tab" enabled?

![image](https://user-images.githubusercontent.com/17089546/107021007-83936980-679b-11eb-812d-62b4c91ba019.png)

[2021-02-05 10:30] DannyDainton commented on #9554
Hey @Jakartoine

Are you able to provide an image of the Console log for the request with it enabled and disabled?

When I run the requests - I see it encoding the URL:

![image](https://user-images.githubusercontent.com/17089546/107021976-b68a2d00-679c-11eb-83cc-492ec5136321.png)

The 400 Error code is returned from the server and not really something that's going to happen on any request, as men

[2021-02-05 10:48] phillipmara commented on #7083
yes please up the priority for this issue! It would be a great enhancement to your testing environment, by allowing a more sustainable test development for GraphQL based Develoments! Using your software helped us alot to increase our test coverage, so this feature would be a great additon, in terms of reducing their mainteance. As a paying customer i really would like to see the implementation of

[2021-02-05 11:04] rooch84 commented on #9470
Same issue here.  Does anyone have a link to a v7 download?  I don't seem to be able to downgrade with `brew`.

[2021-02-05 11:31] d-schmidt opened #9557 "Disable or fix the spell checking in the description editor"
**Is your feature request related to a problem? Please describe.**
The system is de-DE, we write English so everything is red.

**Describe the solution you'd like**
English text is not red.

**Describe alternatives you've considered**
Add an option, add a locale chooser.

**Additional context**

![grafik](https://user-images.githubusercontent.com/3226483/107028549-002f4380-67ae-11eb-9e2d-014b36cd6

[2021-02-05 12:26] vdespa commented on #7952
@orithena I can't replicate this issue in Postman 8.0.4

[2021-02-05 12:34] d-schmidt opened #9558 "Remember Runner settings"
**Is your feature request related to a problem? Please describe.**
Every single time I have to click all 4 checkboxes in the runner. Can this tool please remember my choice?

**Describe the solution you'd like**
Next runner has the same settings as the last.

**Describe alternatives you've considered**
There are none, this is such basic feature.

**Additional context**
I always use these, default

[2021-02-05 12:37] MiroslavGrozdanovski commented on #7052
+1 from me.

As the order is most important when the collection starts executing, I don't see a reason why this wouldn't be supported. Compared to file systems where showing folders at the top makes sense, the order in Postman is crucial and having this constraint does not give any value.

[2021-02-05 12:52] Samgrocock opened #9559 "Automated schema validation for API-linked test collections"
**Is your feature request related to a problem? Please describe.**
We're looking to automate the validation of responses against the defined API schema for individual requests in an API-linked test collection. Currently one can manually validate the requests but somehow there is no way of automating this feature which seems odd. The only alternative I can see is manually inserting each endpoint's

[2021-02-05 12:54] Samgrocock commented on #9559
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9556 but I've added more info here.

[2021-02-05 13:43] vvs11 commented on #7704
@PedroBernils closing this issue. Please let us know if you're still facing this problem

[2021-02-05 13:43] #7704 closed, assigned to vvs11, vkaegis

[2021-02-05 14:19] niccolomineo opened #9560 "Mac Os 11 (Big Sur) icon style"
Hi, it would be nice if you added the support for the Mac Os 11 (Big Sur) icon style, as per the new Apple's guidelines and resources: https://developer.apple.com/design/resources/

[2021-02-05 14:24] x3ro commented on #350
+1

[2021-02-05 14:33] LeOndaz commented on #7083
@phillipmara for the mean while, you can have a look at [altair graphql client](https://altair.sirmuel.design/)

[2021-02-05 15:25] kking124 commented on #9537
Any suggestions on how to resolve? I still cannot install.

[2021-02-05 16:15] upwardweb commented on #9021
Please an  Interceptor Firefox would be great since chrome sucks

[2021-02-05 16:27] Omkaragrawal commented on #9505
Yep,
For me too, it's the same.

[2021-02-05 16:40] kooper100 commented on #9554
Hi! I'm having a similar issue with encoding '%' in my get parameters now.
If I replace '%' with '%25' manually in the url then it works.

First three queries are with 'Encode URL automatically' enable, next two are with it off, and the last is me manually entering '%25'

![example](https://user-images.githubusercontent.com/10172265/107061761-8cd60380-67a6-11eb-831d-d3edd96f7dce.jpg)

[2021-02-05 17:35] DannyDainton commented on #9559
Could you please add your use case to the other open ticket, so the feature request is not across 2 separate issues?  That would really help keep the information centralised.

I'm going to close this one out as you have already mentioned that it's a duplicate issue.

[2021-02-05 17:35] #9559 closed, assigned to nobody

[2021-02-05 17:47] Jakartoine commented on #9554
Hey @DannyDainton,

You are right, I probably did not give enough information about the issue.

It seems the encoding is working but not as before with this new version.

The value part of a query parameter is not well encoded and you already can notice it in your sample.
Braces should encoded as before, without that, some APIs are not able to decode it perfectly and it causes
some bad request err

[2021-02-05 18:02] DannyDainton commented on #9558
Hey @d-schmidt 👋

Each time a new Runner tab is opened, it will revert back to the default setting state - If you have just run a Collection and you hit the `New` button in the Runner tab, it will store the same settings.

If you take a look in the `History` you will be about to see the previous Collection Runs, these will also have the setting information set for that run when you hit the `New` b

[2021-02-05 18:25] romanleshko opened #9561 "Postman lets you import the same environment twice"
**Describe the Issue**

When you import an environment that you already imported, Postman doesn't detect that it's a duplicate so you end up with two identical environments.

**Steps to Reproduce**

1. Import an environment .json file
2. Import it again

**Screenshots or Videos**

![Screenshot 2021-02-05 at 18 19 58](https://user-images.githubusercontent.com/14238237/107073051-c460a200-67de-11eb-8

[2021-02-05 18:46] cen1 commented on #9355
Looks like something was indeed fixed in v8. No conflict errors today. Closing.

[2021-02-05 18:46] #9355 closed, assigned to nobody

[2021-02-05 18:52] d-schmidt commented on #9558
Yeah I'm also wondering why these are not the default settings. Having the Runner not interact with my workspace seems way better. But maybe it is because i'm mainly using it for integration tests.

[2021-02-05 19:29] Ephesoft-Stitus commented on #9552
This is a recent issue that was introduced when the ability to select part of an image to use was introduced.

This feature would be very helpful for our team because it would allow our public facing documentation to look more professional.

[2021-02-05 19:34] Ephesoft-Stitus opened #9562 "Allow user to select banner or logo for published documentation"
Currently, only the logo is used for public documentation.  However, it would be very helpful if the team could use a banner for published documentation.  Providing the banner helps the page be more on-brand for our organization.

This could look like an option on the publish documentation page to select either the logo or banner as the image shown at the top-left of the documentation page.

[2021-02-05 21:47] Ephesoft-Stitus opened #9563 "PR Submitter Not Getting Emailed On PR Comments"
**Describe the Issue**

According to ankit-m on [feature request issue 8021](https://github.com/postmanlabs/postman-app-support/issues/8021), a pull request submitter should receive an email notification for each comment left on their pull request.

However, we are finding that the submitter is only getting emails if @mentioned in the comments.  This is not expected so our team is missing vital co

[2021-02-06 03:48] fredrickace opened #9564 "Editing the description doesn't save"
**Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: 8.0.4
 - Operating System: macOs BigSur 11.1

[2021-02-06 14:03] DianaKoenraadt commented on #9555
Huh, I never associated that "opening in new tabs" with "tabs won't close on you". Does the trick though, thanks!

[2021-02-06 14:29] DannyDainton commented on #9555
Nice to see that it's what you need. 🏆

I'm going to close out this issue.

[2021-02-06 14:29] #9555 closed, assigned to nobody

[2021-02-06 16:07] mstaalesen commented on #9544
Right, tried to figure out how to get a good log of this. But kind of new to mac, so using htop and timing manually.

Restarting Postman v8.0.4, cpu is at around 0% CPU:
<img width="1662" alt="image" src="https://user-images.githubusercontent.com/14194793/107122658-44e3d900-6899-11eb-89c7-96c43c6ce33c.png">
Postman is responsive and working as it expected. (Transition from Linux to Mac was extreme

[2021-02-07 02:14] moiniqbal205 commented on #4043
Just found this thread - this is probably a bit too obvious a solution, but did you guys try keeping the terminal/command prompt open by running `php artisan serve`? Post requests should work while having this running.

[2021-02-07 18:15] sagewall commented on #8665
I would also like to be able to clear workspace activity.  Users are unable to delete their default "My Workspace" workspace to remove it.  I would preferably like to have the ability to completely turn off logging activity and history in the applications settings.  I work independently so having any of this logging is unnecessary and raises privacy concerns.  I actually deleted my entire Postman

[2021-02-07 19:38] AngeloD2022 commented on #4009
+1

[2021-02-07 20:33] thetimetraveler opened #9565 ""code" button no longer there"
The [documentation describes ](https://learning.postman.com/docs/sending-requests/generate-code-snippets/#generating-code-snippets-in-postman) how Postman can be used to generate code snippets (e.g. curl command) by clicking a "code" button right next to the cookies button. However with the latest update, this button is no longer there. I also can not find it anywhere else.

[2021-02-07 20:38] DannyDainton commented on #9565
Hey @thetimetraveler

The code option has been moved into the right side context menu, the comment and thread below will show you what this can be located.

https://github.com/postmanlabs/postman-app-support/issues/9475#issuecomment-768580478

All the documentation is in the process of getting updated, as you can appreciate, with the amount of changes to the UI in V8 this can take a little bit lon

[2021-02-07 20:38] #9565 closed, assigned to nobody

[2021-02-07 20:40] thetimetraveler commented on #9565
oh wonderful. thank you so much for the fast response.

I got a little nervous as that's my most used feature

[2021-02-07 20:46] DannyDainton commented on #9565
It's still very much there, we love it too 😍

[2021-02-07 22:10] rahul-sundaresan commented on #5206
Adding on to this thread;  postman using IPv4 (which is not ideal in this year ) is causing issues for me. Any way to fix?

[2021-02-08 03:03] meyrick119 commented on #9481
I'm having the same problem when I installed the latest version.

[2021-02-08 04:27] vivekpatel111 opened #9566 "History loading each time after opening Postman 8.xx 🐞"
**Describe the Issue**

- I've recently upgraded to Postman 8.x version, which has brought way many features then previous versions. However one downside to this update was like, history tab was always fetching requests when I open Postman.
- Due to this issue, I was not able to find my previous requests (even consider request from last 2 days - not even considering last 2 weeks request) which was

[2021-02-08 04:34] vivekpatel111 commented on #9566
As a developer, I feel Postman is great product which is helping quite a lot in day to day activities. As we're using it on daily basis, it's very useful for us to go through on history for digging older requests.

Here's possible solutions (which I think can be used) :

1. Use scratchpad instead of web version (this means no data will be synced across devices)
2. Store history data locally for we

[2021-02-08 05:54] shashankawasthi88 commented on #9021
@upwardweb we are actively looking at the interceptor for Firefox will be updating this thread as and when we have a solid timeline.

[2021-02-08 06:09] santhosh2512 opened #9567 "Environment variable not set inside .then"
In prerequest script:

[code]

In the above example, it is printing the console.log but when I check the environment variable file the variable 'OAuth' does not exist. Because of this, I am not able to pass this variable value required for the API request header.

[2021-02-08 06:26] mazyi commented on #9481
You guys should not make the basically function that dependency internet, your sync server is so terrible that always make tool can't use, sometimes I only need send a request but I have to wait sync complete, this is a very bad idea and will make user leave.

[2021-02-08 06:48] shashankawasthi88 commented on #8143
@denizoztreves are you still experiencing this issue with the latest updates? In the current app version, I can see that we get a clear message when the port is already occupied.
Which version of app are you currently using?

[2021-02-08 07:04] dlavor commented on #8366
Same here. W10, Postman v8.0.4

[2021-02-08 07:26] Raja-Simha commented on #9564
@fredrickace thanks for reporting and we are looking into this. I'll keep you posted.

[2021-02-08 08:07] Samgrocock commented on #9556
Original user's submission:

Is your feature request related to a problem? Please describe.
We're looking to automate the validation of responses against the defined API schema for individual requests in an API-linked test collection. Currently one can manually validate the requests but somehow there is no way of automating this feature which seems odd. The only alternative I can see is manually i

[2021-02-08 08:09] Samgrocock commented on #9559
This is a shame as Raj’s submission doesn’t really reflect my original request. I’ve added my closed ticket as a comment.

Sam Grocock
Software Developer, Earthsense
+44 (0) 7795 298307 or +44 (0) 116 296 7460

From: Danny Dainton <notifications@github.com>
Sent: 05 February 2021 5:36 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Samuel Grocock <sam.grocock@ea

[2021-02-08 08:11] Samgrocock commented on #9556
Please note that I'm requesting **either** the ability to automate request validation against the API schema **or** to be able to import parts of the schema into the test env.

[2021-02-08 08:28] denizoztreves commented on #8143
The version that the problem was appearing It is stated on the description of the issue. I think this bug is fixed down the line, since it is not a problem anymore for me.

[2021-02-08 08:28] #8143 closed, assigned to abhijitkane

[2021-02-08 08:54] ankit-m commented on #9563
@Ephesoft-Stitus currently, we only send notifications when someone is tagged in comments. However, we do recognize the need for sending notifications to reviewers without explicitly tagging them. This is being actively worked upon and you can expect an update soon. I will comment on this thread once the feature has been deployed.

[2021-02-08 09:00] kcharecki opened #9568 "Environment variable tokens are not replaced when sending the request"
**Describe the Issue**
Environment variables don't provide the variable.

**Steps to Reproduce**
- Create new collection
- Create new Environment
- Add Environmental variable {{baseUrl_E}}
- Create new request
- Use baseUrl_E variable e.g. in url
- Verify if the token is replaced

**Screenshots or Videos**
So I have this variable:
![image](https://user-images.githubusercontent.com/12718806/1071968

[2021-02-08 09:37] Sergius92 commented on #9481
I've installed other tool already.

[2021-02-08 10:08] hamidrezaabroshan opened #9569 "PostMan's GUI is not accessible for blind developers that are using screen reader to work with computer."
Hi,
I'm a blind java developer and wanted to test some rest api and find
out that the Ui of this app is not accessible for me.
I'm using nvda an open source project to work with computer and you
can download a coppy from [nvda project](https://www.nvaccess.org/)
This app reads every thing that appears on the screen and I can tell
it that which part of Screen I want to be read by using shortcut.
I'

[2021-02-08 10:29] jotsarup commented on #5963
@dave-pollock @clarkritchie @ashish235 @loringelato @timothyclifford @antonik @fsanzdev @viartemev @Holayn @Ramya-From-Postman

We have added Opsgenie integration. Please check it out here https://go.postman.co/integrations/browse?category=all
Users should now be able to send monitor run failures as alerts to Opsgenie.
The Opsgenie API key to be used can be created here https://docs.opsgenie.com/d

[2021-02-08 10:30] bubblekovrik commented on #9481
Except for the original disabling sync issue, it also dumped the collections data on my local machine and created a new backup file (empty). I had to restore my collections using a backup that was saved 2 weeks ago and lost some data. No backups are created before the update?

[2021-02-08 10:31] jotsarup commented on #9486
@ShahAnuj2610

We have added Opsgenie integration. Please check it out here https://go.postman.co/integrations/browse?category=all
Users should now be able to send monitor run failures as alerts to Opsgenie.
The Opsgenie API key to be used can be created here https://docs.opsgenie.com/docs/api-integration

Do let us know about any feedback or improvements

[2021-02-08 10:43] Zangetsu-GPO commented on #9481
It is a mess. Here my log on version 8.0.4

[15600][1612780809313][requester][info]["SyncManagerNew~_onConnectError",{"type":"TransportError","description":{"isTrusted":true},"name":"Error","message":"websocket error","stack":"Error: websocket error\n    at WS.6430.Transport.onError (file:///C:/Users/_{SOME_USER}_/AppData/Local/Postman/app-8.0.4/resources/app.asar/js/requester.js:46161:13)\n    at

[2021-02-08 11:48] DannyDainton commented on #9568
@kcharecki

Variable names are added into the different scopes without the `{{}}` so in your case, you would just need to add `baseUrl_E`.

As you can see with the last image, it's trying to resolve a variable that is just `baseUrl_E` as you have added the `{{}}` around it.

![Unresolved](https://user-images.githubusercontent.com/12718806/107196911-87212d80-69f3-11eb-8140-8ea41dc7d471.png)

If you

[2021-02-08 11:53] DannyDainton commented on #9567
Hey @santhosh2512

Could you please complete the rest of the issue template to include the app version and more context around the custom `sendGetRequest` function that you have written, please?

---

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Versi

[2021-02-08 12:28] vasmancs commented on #4009
+1

[2021-02-08 13:38] OnlyOneBDS commented on #8656
I'm also getting this error using Postman v8.0.4

[2021-02-08 14:31] arneesh opened #9570 "Postman App Address Bar Issue : Editing issues in long url"
**Describe the Issue**

When a long URL with a couple of variables like {{host}}, {{user_id}} and a query parameter like api_key is used, it gets really annoying to edit it, 2-3 words can't be selected together using shift and erased at once, often I have to delete 1 character at a time.

Also, when the URL is long and contains a few query parameters like filters then even copying stuff has issues

[2021-02-08 15:32] Ephesoft-Stitus commented on #9563
@ankit-m  - That is great news, thanks for the update!

[2021-02-08 16:31] BryanVision commented on #8747
I can't believe this is still an issue and postman is still broken for me and that I can't find an answer.

[2021-02-08 17:26] SamCritch opened #9571 "See delta when closing a tab you have changed and being asked to save or not"
I have a set of standard requests in collections and mostly use environment variables to populate request parameters. However, some I change manually depending on which request I'm using. I also make changes and improve requests.

When I close a tab I have changed, I'm prompted "Do you want to save?" and then given the option not to save, to cancel, or to save changes. However, at this point my ta

[2021-02-08 17:49] HobbyProjects opened #9572 "Prompt the user to populate the necessary variables after forking a collection"
**Is your feature request related to a problem? Please describe.**
At DocuSign we want our developers to be able to use our Postman collection to quickly interact with our APIs. The issue right now is that after they fork our collection, they will need to populate a range of variables before they can send a successful Postman request.

I would be useful if a pop up could prompt the user and show t

[2021-02-08 17:59] lflucasferreira opened #9573 "Release New Postman v8 to the Ubuntu snap tool"
I would like to see the new Postman v8 version available in the snap command

[code]

[2021-02-08 20:13] praveendvd opened #9574 "Open API example is not set correctly for parameters"
**Describe the Issue**

A valid Open API v3 definition is not setting example correctly in Postman

**Steps to Reproduce**

**valid definition:**

[code]

**Validate it at :**

https://editor.swagger.io/

**Screenshots or Videos**

**Output in swagger editor:**
![image](https://user-images.githubusercontent.com/45095911/107275503-c24e4b80-6a49-11eb-848d-cfa0a9d50ffa.png)

**Output in Postman**
![i

[2021-02-08 21:26] colbyjayallen commented on #8502
@rheasunshine Do you know if Test scripts are run using Mock Server requests? I'm starting to think know, I can get them to trigger when hitting my server endpoint locally, but not when one of my Monitors hits it. Thanks!

[2021-02-08 22:00] mccreathbecky commented on #8502
@colbyjayallen I'm fairly sure test scripts / pre-request scripts are only run locally, or using a framework like Newman. e.g. if you were sending a request to a mock server from an external system to postman (e.g. from a mobile app, anything not in postman itself) than the scripts don't run.

[2021-02-08 23:18] bboynton97 commented on #7134
Just chiming in that I'm struggling to find any decent CoAP testing clients and I already love Postman, so it'd be really cool to see this feature implemented

[2021-02-08 23:31] ahaq0 commented on #9180
Would be a great addition

[2021-02-09 00:09] ImDP opened #9575 "Linux app appearance request"
Think it would be possible to update the menu bar in the dark theme to match the rest of the app?

![Screenshot from 2021-02-08 19-08-12](https://user-images.githubusercontent.com/13486748/107297300-0852e180-6a41-11eb-9a62-3a5563ebe9d4.png)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...

[2021-02-09 00:10] ImDP commented on #9575
FYI I'm running Ubuntu 20.04 LTS...

[2021-02-09 05:38] annapurnaTechmojo commented on #7055
pkill -9 Postman - worked for me.  thanks
ubuntu 18version

[2021-02-09 07:35] harsh-reality opened #9576 "Invite User Links Issue"
**Is your feature request related to a problem? Please describe.**
The current link generated to invite users has a limit of 30 people accessing it and there's no product messaging that states the same. The error state msg also isn't very apt (it currently says, invite link expired instead of saying something like it exceeded the limit)

**Describe the solution you'd like**
- Display a total/remai

[2021-02-09 07:45] harsh-reality opened #9577 "Sending bulk invitations to users needs Improvement"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to invite bulk users is through uploading a csv from a workspace in Postman. This requires an admin to navigate to a workspace just for bringing in users onto Postman (which is not discoverable or mentioned in manage team page where the invitation option exists)

**Describe the solution you'd like**
- Have t

[2021-02-09 09:10] #5963 closed, assigned to ankitjaggi, ArjunSingh-PM, jotsarup, charlie-postman

[2021-02-09 09:18] gvsandeep2647 opened #9578 "Keyboard shortcuts are not working"
**Describe the Issue**

**Steps to Reproduce**

**Environment Information**

 - Platform Type: Mac Desktop App
 - Postman Version: Version 8.0.4 (8.0.4)
 - Operating System:  macOS Big Sur v11.2

[2021-02-09 09:25] grab-a-byte opened #9579 "Duplicating Tabs does not carry information"
**Describe the Issue**

- Open Postman for Windows 8.0.4
- Add in headers/URL etc
- Right click and click duplicate Tab
- URL not moved over unlike previous versions.

**Screenshots or Videos**
https://user-images.githubusercontent.com/30392071/107342900-b352b200-6ab8-11eb-9046-5d15bfaf5b8b.mp4

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashbo

[2021-02-09 09:29] kamalaknn commented on #9578
Hey @gvsandeep2647

Would you mind restarting your app and sending a screen recording of the issue you are seeing? Could you also share your logs from `View -> Developer -> View logs in Finder` to `help@postman.com` ?

[2021-02-09 09:31] DannyDainton commented on #9579
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9493

[2021-02-09 09:31] #9579 closed, assigned to nobody

[2021-02-09 09:50] BrambleRamble commented on #4320
@GaneshUma I use a different CI toolset but run Postman collections with Newman. In the exported collection, we have set the `src` like this:

[code]

We run the collection from its location, so the `relative_path_to_file_to_use` is relative to both the collection and the execution location.

I hope that helps. It's been a while since I looked closely at this aspect of Postman's behaviour.

[2021-02-09 10:06] DannyDainton commented on #9570
Hey @arneesh

All the query params you are editing in the URL, are also in the `Params` tab of the request, which _should_ make it easier for you to change:

Key-Value Edit

![image](https://user-images.githubusercontent.com/17089546/107346010-1abe3100-6abc-11eb-942a-109691a15e46.png)

Bulk Edit

![image](https://user-images.githubusercontent.com/17089546/107346087-36293c00-6abc-11eb-8bf9-4a2f34ac

[2021-02-09 10:45] Soldier2003 opened #9580 "Open in new tab doesn't work"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/78794669/107352240-a942aa80-6adc-11eb-8233-0420f2794723.png)

**Environment Information**

 - Platform Type: Desktop App
 - Postman Version: 8.0.4
 - Operating System: Windows 10

[2021-02-09 10:47] DannyDainton commented on #9580
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9493

[2021-02-09 10:47] #9580 closed, assigned to nobody

[2021-02-09 10:51] DannyDainton commented on #9493
Quick update - The new version of the `Canary` build contains fixes for the duplicate tab and open in a new tab issues.

You can grab the version here:

https://www.postman.com/downloads/canary/

[2021-02-09 11:00] Hrafnkellos opened #9581 "When a variable is empty it is automatically removed after sending request."
**Describe the Issue**

When i'm using an empty environmental variable.
In my case **port** is empty in all scenarios except when working on localhost.
The variable disappears from my environment when left empty.

**Steps to Reproduce**

Create a variable with and empty value.
Try sending one request, then the variables should be removed from your environment.

![image](https://user-images.githubu

[2021-02-09 11:08] arneesh commented on #9570
Hey @DannyDainton
Ya of course that how I manage my static query params. I am talking about dynamic query params here. Those query params can be anything from a huge range of combinations - I will provide a bit more context.

I have an analytics platform with complex filters. There are around 30 filters and each filter has at least 4 operators -> such as "is, is not, between, equals, not equals, i

[2021-02-09 11:11] DannyDainton commented on #9493
It's now been released on the main app build 🎉

Update your app to grab the latest! 🏆

[2021-02-09 11:16] GaneshUma commented on #4320
Thank you so much this issue is got resolved when I place the collection file and data file in node machine.

[2021-02-09 11:34] DannyDainton commented on #9570
Can you also provide some images of the things you're explaining, as those are UI based elements, it would clear up any misunderstanding by seeing them 😄

[2021-02-09 11:52] DannyDainton commented on #9581
Hey @Hrafnkellos

Which version of the app are you seeing this issue happening?

I just tried this on the latest version of the app and couldn't recreate the issue. Do you have the `port` variable referenced somewhere in the collection or have any scripts that might be doing something like `pm.environment.unset('port')` etc.

It would be great if you could provide a short recording of the problem

[2021-02-09 12:17] Hrafnkellos commented on #9581
hi you are correct there is a port unset 😅sorry this is a non issue then.

[2021-02-09 12:17] #9581 closed, assigned to nobody

[2021-02-09 12:18] DannyDainton commented on #9581
That's all good - It seemed strange to have it completely cleared like that from sending a request 😄

Glad to see you're all sorted 🏆

[2021-02-09 12:53] appurva21 commented on #9532
Hey @orithena @Quaternions @alexayers!

We have released a fix for this issue with the latest release of Postman App (`v8.0.5`). We have introduced a new `Clear cookies` option in the OAuth 2.0 window itself so that you can effortlessly clear all the cookies from the previous OAuth 2.0 sessions!

![Screenshot 2021-02-09 at 6 11 51 PM](https://user-images.githubusercontent.com/24985700/107365581-ff

[2021-02-09 12:53] #9532 closed, assigned to nobody

[2021-02-09 13:25] gvsandeep2647 commented on #9578
Sent. Restart has solved the problem though

[2021-02-09 13:25] #9578 closed, assigned to nobody

[2021-02-09 13:41] pankajk07 commented on #9578
@gvsandeep2647 Good to know that restarting the app solved the problem. Would like to know the detailed steps to reproduce the issue and fix the issue at its core. Please share the detailed steps to reproduce the issue.

[2021-02-09 13:43] drulia opened #9582 "Postman comes from background to foreground after update"
At some times Postman comes from background to foreground all by itself. It just happened once again and I suspect it did it right after downloading a minor update to 8.0.4.

**Steps to Reproduce**

Just leave Postman running in the bakcground and at some point it will come up to the foreground.

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: 8.0.1
 - Operati

[2021-02-09 13:47] daokrajaih commented on #9492
I've updated to v8.0.5 and I'm still experiencing the app crashing at least 5 times a day.  Since I move requests and use duplicate to create more requests throughout the day (and other activities), I have to review all previous changes after reopening the app.  Is there a crash log that I should attach to this ticket to help investigate the issue?

[2021-02-09 13:58] lflucasferreira opened #9583 "Feature Request: Code Snippets using right-click button"
Hi guys!

I would like to request a code snippet feature where I can create my snippets and populate them in the pre-request, body, and test tabs.

It would work like Visual Studio Code Snippets [[see here](https://code.visualstudio.com/docs/editor/userdefinedsnippets)]. I just need to create a JSON file and put in the snippets I want to use every time I need it.

![WivkSTi](https://user-images.gi

[2021-02-09 14:00] numaanashraf commented on #7158
@JockDaRock Postman is on the Web now - https://go.postman.co. Do check it out and we'd love to hear your feedback and thoughts on how this helps with your remote workflows.

https://blog.postman.com/announcing-postman-for-the-web-now-in-open-beta/

[2021-02-09 14:02] gvsandeep2647 commented on #9578
I didn't do anything particular to generate the issue. It happened somehow. Restarting worked. I have sent the logs via mail on the e-mail id and have tagged this issue in that.

[2021-02-09 14:06] stefanos-stefanou commented on #4671
Much needed feature indeed

[2021-02-09 14:24] jorgv commented on #4727
You can now use API Key option and then use "token" or any other prefix
![image](https://user-images.githubusercontent.com/32174909/107377010-cc745680-6aea-11eb-94e5-39d7483401e0.png)

That will work the same as the bearer but with any prefix you want to use.

[2021-02-09 14:38] elahens88 commented on #9573
waiting

[2021-02-09 14:59] Quaternions commented on #9532
@appurva21 Thank you very much.  I've verified that the new version works.  Much appreciated, you just made my life that much simpler.

[2021-02-09 15:20] mikeoshea opened #9584 "Postman changing line endings when exporting JSON collection file from CR LF (Windows) to LF (Unix)"
**Issue**
Postman is changing line endings when exporting a JSON collection file from CR LF (Windows) to LF (Unix) and this is a causing Warning when I try to commit the file to git.

**Steps to Reproduce**

- Ensure Postman collection JSON file has CR LF (Windows) line endings using Notepad++ as shown in screen grab 1
- Import Postman collection file to Scratchpad Workspace
- Make a small change

[2021-02-09 15:45] tiffanypatek opened #9585 "Merge and pull changes generates error although operations are successful"
Native desktop app version 7.36.1
Mac OS Catalina 10.15.7

When I generate a pull request, clicking **pull changes** or **merge** both result in an error "_Something went wrong with the server_." Both operations are successful though. Even with the error, both **pull changes** and **merge** work as expected.

My co-worker is also getting the same error with **pull changes** and **merge**. Both ope

[2021-02-09 15:54] Dastano commented on #9022
Yeah or just partially. Lets see.

[2021-02-09 15:57] augsteyer commented on #5817
is it possible to consider this to be placed on the feature board with at least lowest priority? It's very inconvenient to switch this twice a day. If it's a tricky task to do, maybe consider adding a shortcut for this theme switch toggle?

[2021-02-09 16:09] VShingala commented on #9574
@praveendvd Thanks for reporting this issue. We are already working on this issue as part of this [discussion](https://github.com/postmanlabs/postman-app-support/issues/9080#issuecomment-712899314). The fix is done on our open-source module and will be available on App around next week.

[2021-02-09 18:08] sunnyttravers commented on #9103
This is still a bug and I'm frustrated that it isn't fixed yet. This has been happening for 6 months now. I can't remember which version caused this. I've been using Postman for years. This bug is definitely most frustrating. I've learned to ignore it.
It's frustrating to see all these updates being pushed out with all these lovely new features. How about fix some existing bugs! This is a pretty s

[2021-02-09 19:17] Fliko commented on #4009
+1

[2021-02-09 19:31] mgrofsky opened #9586 "Ability to Supress Changelogs from showing in Public Workspace"
**Is your feature request related to a problem? Please describe.**
Sometimes mistakes are made when modify and saving collection or API information and unwanted data is exposed.
When this occurs that exposed data is shown in the changelog if the workspace/collection is public.

**Describe the solution you'd like**
It would be nice to be able to completely suppress changelogs from being shown publi

[2021-02-10 01:15] JorgeJMartins commented on #9481
Installed 8.0.5 and still not working behind company's VPN, proxy and z-Scaler crap!
Uninstalled and installed 7.36.1 again and I'm back to normal!

[2021-02-10 06:18] godfrzero commented on #9480
Closing as this has been fixed now. Let me know if you're still seeing this problem and we can reopen it.

[2021-02-10 06:18] #9480 closed, assigned to godfrzero, Raja-Simha

[2021-02-10 06:20] vivekpatel111 commented on #9566
Final solution : Downgrade Postman to 7.x or later versions 😢

[2021-02-10 08:01] leiha commented on #9470
Same issue here
Fix it please it's really boring :(

[2021-02-10 08:30] kivals commented on #4009
+1

[2021-02-10 09:09] labifrancis commented on #6102
Another user wants to have these rights as an admin.

Use case:
1. They have a master collection
2. Developer A has no write-access to this master collection
3 Developer A creates a fork and uses that one to add some new calls
4. Once finished, developer A creates a pull request
5. Developer B (who has full access to the master collection) accepts the pull request and merges the changes from the f

[2021-02-10 09:12] superole commented on #6316
I have another use case that might relate to this:
I have forked a collection, made several changes, and now I need to merge ONE(or potentially an arbitrary subset) of those changes back to the origin. When I choose merge I get a preview of the diff, but there is no way to select which changes I want to merge.
I can create a new fork and redo the changes I want to merge there and then merge that f

[2021-02-10 10:15] DannyDainton commented on #9419
Closing this issue as we have had no further response about the connection issue - If you're still unable to remove the collection from the Workspace in the latest version, we can open this up again.

[2021-02-10 10:15] #9419 closed, assigned to nobody

[2021-02-10 10:20] #9486 closed, assigned to abhijitkane, jotsarup

[2021-02-10 10:29] dmoryani commented on #9419
Hi Team,

Not facing this issue anymore.
Thank you for the support.

Thanks,
Divya

On Wed, 10 Feb 2021, 18:15 Danny Dainton, <notifications@github.com> wrote:

[2021-02-10 10:46] praveendvd opened #9587 "Variable values set through pre request script are not reflected in mock server for first request"
**Describe the Issue**

The updated variable value is reflected in the mock server, only in the second request.

**Steps to Reproduce**

create a mock server with a response as

[code]

Update the environment variable value from prerequest script as:

[code]

**Environment Information**

 - Platform Type: [e.g. Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version: 8.0.5
 - Ope

[2021-02-10 11:12] shashankawasthi88 commented on #9205
@kplatis thanks for confirming. I am closing the ticket as the installation can be done with the fox provided.

[2021-02-10 11:12] #9205 closed, assigned to nobody

[2021-02-10 11:31] shashankawasthi88 commented on #5905
Hi @GeorgeFlorian and others, we have implemented a fix for this. a) We are ensuring that the app doesn't crash if the port we are trying to connect to is already reserved and show an appropriate message b) We are not statically reserving 8443 port and try to generate a random port and retry if it is already reserved. The app should no more be crashing now.
Ill go ahead and close this ticket, plea

[2021-02-10 11:31] #5905 closed, assigned to nobody

[2021-02-10 11:39] shashankawasthi88 commented on #3793
Hi, @mliq @Pictor13 @geoffrothman do let us know your experience with the latest version of the app. If the interceptor/ proxy is accessible and easy to understand or not.

[2021-02-10 11:47] rPawel commented on #8560
It is a killer feature, especially these days when we work from home with different lighting conditions and at different times of the day. I often switch between dark and light modes on my mac to accommodate such different lighting conditions. Postman is the last app I use that does not respect the OS selector.

[2021-02-10 12:58] shamasis commented on #1938
Postman had added support to show SSL in response area. And added feature to see SSL errors even when SSL validation has been turned off.

If there are cases of SSL errors that are not captured and we have missed it, please let us know by filing a new issue.

See screenshots below:

<img width="905" alt="image" src="https://user-images.githubusercontent.com/232373/107512687-32390f00-6bcd-11eb-9f41

[2021-02-10 12:58] #1938 closed, assigned to shamasis

[2021-02-10 13:05] #632 closed

[2021-02-10 13:09] ujwal-jain opened #9588 "Font doesn't adjust in Postman Preferences"
**Describe the Issue**

**Steps to Reproduce**

**Environment Information**

 - Platform Type: Desktop App - Postman for Mac
 - Postman Version: v8.0.5, just updated
 - Operating System: OS X 19.6.0

**Additional Context**

Please fix I can't see such small font :D

[2021-02-10 13:52] praveendvd commented on #9480
The documentation section is not scrollable using keyboard should i raise a separate bug or re open this ?

[2021-02-10 14:25] DannyDainton commented on #9588
Hey @ujwal-jain

Would you be able to share an image of which _Title_ that you're referring too?

Do you mean this section in the settings?

![image](https://user-images.githubusercontent.com/17089546/107522205-5be13e80-6bab-11eb-9fec-c1a77c9b8b49.png)

This only relates to the _Editor Settings_, anything in the Pre-request Scripts and Tests tab - This would not change any of the other items on th

[2021-02-10 14:46] DannyDainton commented on #8728
Hey @jesse-msp

Hate to sound like a broken record 😬  - Is this still happening for you in the V8 release of the app - The split view of Personal/Team workspaces has now been changed and I was wondering if this original issue is still present?

[2021-02-10 14:51] julien-boucly-needone commented on #4009
+1

[2021-02-10 14:59] sweetnoods commented on #2672
Surprised to see this is still an issue in Postman 8.0.

If console.time() was a supported function it would be easier to get the runtime from the UI.

[2021-02-10 15:45] jesse-msp commented on #8728
Hi @DannyDainton  - Sorry about that, I lost track of this. I retested it and I still have the issue.

Postman version:  v7.36.4

Error from the console:

`Refused to connect to '<zscaler>' because it violates the following Content Security Policy directive: "connect-src https://*.getpostman.com https://*.postman.co wss://*.getpostman.com https://sentry-app.postmanlabs.com https://www.google-analy

[2021-02-10 16:00] davidtimmsinshur commented on #9578
I have also experienced this, and restarting the app fixed the issue. This was a clean install (not an upgrade) and I am on Catalina 10.15.7/ Postman 8.0.3
I am also unaware of at what point the shortcuts stopped. I am new to mac after using Windows and so I am still learning the new shortcuts.

[2021-02-10 16:04] patrickweaver commented on #7355
If you're here and haven't double checked that you have JSON set as the response format instead of HTML (maybe you are on a new computer), that was my issue.

[2021-02-10 16:46] JulienM28 commented on #9317
Thank you for your message.
If I can help, it's ok for me.

[2021-02-10 17:05] ManiacDC commented on #9476
@mstaalesen that appears to be the case for me as well. Nice find.

[2021-02-10 17:55] ManiacDC commented on #9476
Yep, after the console *finally* finished logging everything, the CPU usage went down. It appears the console is lagging way behind the actual requests.

[2021-02-10 18:08] jonkrantz commented on #9473
Yes - Please bring back the runner popping out in its own window.	This is a huge deal – Postman already had the issue of “too many tabs” and now we have added another tab.  The use of a separate window for the runner was ideal, it uses less monitor real estate than opening a second postman and allows working through failed collection much easier.

[2021-02-10 18:21] jonkrantz opened #9589 "Test Runner % Progress is missing"
**Is your feature request related to a problem? Please describe.**
I upgraded to Postman 8.0.5 - The Test Runner % Progress is not longer available.  This was useful when running a test to know how much longer the test had to complete and it was very useful in letting the user know if the test failed before all requests had completed.

**Describe the solution you'd like**
Add the % Progress back t

[2021-02-10 18:32] jonkrantz opened #9590 "Add a count of skipped requests to the Test Runner"
**Is your feature request related to a problem? Please describe.**
The Test Runner does not display a list of skipped tests.

**Describe the solution you'd like**
Within the header of the Test Runner - Add a Skipped Test Tab.  It would function and be used just like the passed/failed tabs.
This would help balance the expectation that every test that you expected to run, did run.

My main concern i

[2021-02-10 19:12] martijnvanschie commented on #6052
The new V8 release is very nice. The editor is much better now. UI is also more user friendly.
Keep the good updates coming :)

[2021-02-10 19:15] praveendvd opened #9591 "Documentation is not scrollable using keyboard in postman app and web"
**Describe the Issue**

**Steps to Reproduce**

use this documentation: https://www.postman.com/crimson-sunset-709132/workspace/public/documentation/8296678-8b22cd36-d1de-4299-8381-f6a438151663

**Environment Information**

 - Platform Type: [e.g Native Desktop App, Postman On The Web, Web Dashboard]
 - Postman Version: v8.0.5
 - Operating System: wind 10

**Additional Context**

User should be ab

[2021-02-10 19:25] stcalica opened #9592 "Quickly saving responses to environment variables"
Creating on behalf of user.
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Defining an environment variable to a response key and quickly being able to update per response.

**Describe alte

[2021-02-10 19:26] Plinqy commented on #8909
@Satheskumar89 Issue is occurring again.

On Mac Command-enter does NOT submit again. v8.0.5
OS Catalina 10.15.7

[2021-02-10 19:27] Plinqy commented on #8909
@sujayvenaik sujayvenaik @Satheskumar89 Command-Enter not working again.

Also, Command-W is not closing tabs.

[2021-02-10 19:30] #9592 closed, assigned to nobody

[2021-02-10 20:32] worlebird commented on #7350
Issue still exists. Please fix.

[2021-02-10 20:34] worlebird commented on #4463
You say this is desired behavior - this is NOT desired behavior. This behavior is useless, confusing, and nonsensical. Plus, the desired behavior (namely, duplicating all of the contents of an existing tab into a brand new tab unconnected to the original) doesn't seem to be supported in anyway that I can find.

[2021-02-10 20:35] worlebird commented on #4463
RE-OPEN THIS ISSUE. This is not fixed, so it should not be closed.

[2021-02-10 20:39] sonuame commented on #4463
This should be reopened

[2021-02-10 21:13] jlroth051785 commented on #2115
Hello  @sobtiankit , can you help explain why the last statement tests["Posts length is " + body.length && body.length] = true; gives you the number of items in your array? I tried this with my array and it worked, but I am only getting the number 27 which is the number of objects in my array. I guess I am wondering why body.length; isn't sufficient.

Thanks,
Joe

[2021-02-11 05:02] AbhishekPathania commented on #7426
This issue should be reopened, as intenser has said, VS Code gives you the open to configure cross button.
Please provide a configuration at least.

[2021-02-11 06:54] michaltajchertdev commented on #8245
Would be great to make it work with BitBucket.

[2021-02-11 07:56] Pricilla09 opened #9593 "Resize the request tab to see the description above, after reaching the bottom, unable to adjust the request window."
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

https://user-images.githubusercontent.com/71498483/107612591-87365d00-6c81-11eb-9d4c-bf1241ca2eae.mp4

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: v7.36.4
 - Operating System: Windows

[2021-02-11 10:07] arlemi commented on #4463
You can duplicate a request, collection, or folder in the sidebar:
![image](https://user-images.githubusercontent.com/5029719/107623198-e0d26380-6c50-11eb-927c-23448c4a243d.png)

Improvements to the UX will be posted in  #7867.

[2021-02-11 10:41] Swapnil-getpostman opened #9594 "Total number of records under each tab on the sidebar - Collections, APIs, Environments, Mock Servers, etc."
**Is your feature request related to a problem? Please describe.**
In the v8 for both App & Postman on Web - I can't view the total number of collections that are present under the collection tab, APIs under the API tab, total number of Env under Env tab, etc.

**Describe the solution you'd like**
It would be good to have a total number of records each sidebar tab contains. As the below screenshot

[2021-02-11 11:16] Swapnil-getpostman opened #9595 "Confirmation tab before deleting the Workspace by typing the "Workspace Name" itself."
**Is your feature request related to a problem? Please describe.**
Sometimes accidentally the workspace gets deleted with just 2 clicks.

**Describe the solution you'd like**
It would be a good feature to type the "workspace name" before deleting it. Same as GitHub & AWS does while deleting the repo & S3 bucket respectively.
<img width="823" alt="delete_bucket" src="https://user-images.githubuserc

[2021-02-11 11:24] sdsraju commented on #9594
@Swapnil-getpostman and adding one more thing to this, It would be great to have a total number of endpoints in each collection.

Ex: C1(23)

[2021-02-11 11:31] MirekSaska commented on #9481
I have the same issue on 8.0.5

[2021-02-11 11:53] Swapnil-getpostman commented on #9594
@sdsraju Adding requests/endpoint count under the collection is something we are tracking internally and it's being worked on by our team. Thanks for sharing your feedback though.

[2021-02-11 11:55] JacekKijewskiGelato opened #9596 "Importing cURL once blocks next imports"
**Describe the Issue**

Importing cURL once block next imports.

**Steps to Reproduce**

I click File > import and paste cURL as raw. The cURL goes to the proper collection and works. I click File > import again and nothing happens.

No information on terminal (where I start the app)

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Native Desktop App
 - Postman Version: v

[2021-02-11 11:56] Samgrocock commented on #9556
Looks like this kind of functionality has been requested for a while now: https://github.com/postmanlabs/postman-app-support/issues/798#issuecomment-293562269

[2021-02-11 12:25] stefan123t commented on #3684
As described above I used the CURL command generated in Postman and added the -H 'Transfer-Encoding: chunked' option. I have verified the transaction by tracing and indeed CURL does switch to chunked encoding.

curl -ivsS --trace --request POST 'http://server:1234/service/endpoint' --header 'SOAPAction: process' --header 'Content-Type: text/xml; charset=utf-8' -H 'Transfer-Encoding: chunked' --dat

[2021-02-11 12:35] mstaalesen commented on #9476
I created a feature-request to have them disable the logging: https://github.com/postmanlabs/postman-app-support/issues/9544#issuecomment-774499873

[2021-02-11 12:40] shashankawasthi88 commented on #8635
@tomharel This should be fixed in the latest Postman version. `application/vnd.api+json ` should now be treated as JSON.

[2021-02-11 12:40] #8635 closed, assigned to abhijitkane, Raja-Simha

[2021-02-11 14:14] timbochamp commented on #8909
Hi @Plinqy , this sounds similar to #9528 if you want to follow the resolution there? This should hopefully be addressed in our next update. For now, restarting the app or using Postman for Web are possible workarounds.

[2021-02-11 14:29] SagarInvenio opened #9597 "Response Body display is truncated for one entity but shown for another entity of the same OData service"
**Describe the Issue**
I am testing an Odata service which I need to expose to an external system. In the Odata service, I have 2 Entities. Postman is clearly "Get" ing the content of the first Entity in the Response body, but is not "Get" ing the content in the Response body of the second service.

**Steps to Reproduce**
1. Open POSTMAN, enter the URL for the Service - http://******:****/sap/opu/

[2021-02-11 15:55] timbochamp commented on #9596
Hi @JacekKijewskiGelato, I checked and this should be addressed in the fix for #9528 if you want to follow the resolution there. A workaround for now would be to use the Import button in the attached screenshot instead of the File > Import or the Import keyboard shortcut which are both affected by this issue
![Screen Shot 2021-02-11 at 11 52 49 AM](https://user-images.githubusercontent.com/4521134

[2021-02-11 15:55] #9596 closed, assigned to nobody

[2021-02-11 15:57] Panda885 commented on #4009
+1

[2021-02-11 17:42] DeanHristov commented on #7414
I still have the problem with **v8.0.5**. I couldn't find reason why this issue is closed?
<img width="1556" alt="Screenshot 2021-02-11 at 19 41 32" src="https://user-images.githubusercontent.com/3283991/107675875-3171ad00-6ca1-11eb-9076-8fbbdab3a44b.png">

[2021-02-11 19:34] stcalica opened #9598 "Restore of Postman window does not restore to original position"
Filling out for user

**Describe the Issue**

**Steps to Reproduce**

1. Launch Postman native app in Windows
2. Tile it to the left half of my screen
3. Then minimize and restore the window, it does not place the postman window back to the right spot

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/5624835/107688932-10876880-6c5d-11eb-9fcf-aea121d3a5c6.png)

**Enviro

[2021-02-11 22:44] mtwomey commented on #2452
+1 Getting pushback in my group on the lack of this capability (specifically in the case of auth code grant flow).

[2021-02-12 03:27] jbevarts commented on #3466
Are you an engineer?  Have you ever built a project and wanted to test it? Have you ever lost data from working on several APIs at the same time because you didn't save each one individually?  Do you ever want to gut postman your workflow when you realize save all isn't an option?  Do postman engineers use postman to test?

Yes.

[2021-02-12 03:33] 4nif commented on #4193
any good news on this feature request?

[2021-02-12 05:14] phaseOne commented on #6565
I'd like to reopen this, as I share the need to restore an accidentally deleted request in the history that I captured using Postman Interceptor.

[2021-02-12 05:51] Petruciu opened #9599 "Tab is not shown/displayed properly when selected. Old bug #5840"
**Describe the bug**
When I click on a request in the collection, the request details are not displayed on the right-hand side.

**Steps To Reproduce**
Steps to reproduce the behavior:

1. Go to any request in the collection
2. Click on any request
3. Nothing is shown on the right-hand side
4. Expected behavior
5. Show request details

Right click on request > Open in tab don't work (

Also Enviro

[2021-02-12 05:57] ramith commented on #9163
any updates on this?

[2021-02-12 05:58] ramith commented on #9007
@DannyDainton any updates on this?

[2021-02-12 05:59] ramith commented on #9013
@vvs11 any updates on this?

[2021-02-12 06:12] gvsandeep2647 commented on #9578
Although restarting the app helps, but this happens very frequently. Please try to fix this.

[2021-02-12 06:28] kamalaknn commented on #9578
@gvsandeep2647 @davidtimmsinshur We have pushed a fix recently that addresses issues with shortcuts after going through import flows. Could you update to the latest version 8.0.6 and confirm if you are still seeing this issue?

[2021-02-12 07:43] DannyDainton commented on #9007
Hey @ramith

No current updates on this feature request at the moment.

[2021-02-12 08:32] DannyDainton commented on #9599
Hey @Petruciu

Sounds a bit too basic but could you sign out and sign back in again - sometimes it's the simple things that do the trick. 😅

There was an issue with the `Open in tab` option but this was fixed in 8.0.5, which it looks like you're using. 🤔

[2021-02-12 09:01] mmeloni commented on #3466
This thread gathers all the war wounded

[2021-02-12 10:43] veve90 commented on #4009
+1 This would be great!!

[2021-02-12 10:44] Petruciu commented on #9599
i deleted folder "Postman" from Roaming
%appdata%/postman.
and reinstalled the Postman.
and all is Ok

[2021-02-12 10:45] #9599 closed, assigned to nobody

[2021-02-12 12:50] VaishnaviChallaPostman opened #9600 "Confirmation e-Mail on Postman Account Deletion"
**Is your feature request related to a problem? Please describe.**
How do a user get confirmation on their Postman account deletion?

**Describe the solution you'd like**
When a user deletes their postman account, a confirmation e-mail regarding the same would be a great solution that the account has been deleted as most of the users expect a proper notification about the same.

**Additional conte

[2021-02-12 13:46] nithish-knetworks commented on #5040
+1

[2021-02-12 15:08] kinlane commented on #9163
@ramith I know it is being worked on, and is in the road map. No new timelines to be shared. I'l leave to the product manager to chime in on that.

[2021-02-12 15:23] minakshi-goel commented on #9554
Hello,
I am having similar issue where I see % characters at the end of URL and so the response is always 404. i guess the characters represent new line.  I have "Encode URL automatically" setting enabled. I am on windows 10, postman 8.0.4
I expect postman to ignore/trim those characters and process the request. when you have 100s of requests already running, passed in earlier versions, correcting

[2021-02-12 15:34] khanakia commented on #8905
I also need this features. It's very basic feature and way useful. I have hundreds of collections and it's very tiring to search something.

Please add this feature.

[2021-02-12 15:51] markymark292 commented on #7790
I have had this issue through v7+ and now in v8+. The variables at folder level stay for me, but when I export the collection, they are being lost and thus when someone imports them, they now do not have these essential variables.

[2021-02-12 16:53] sanster9292 commented on #7210
Any updates on this issue??

[2021-02-12 17:41] hfsrazzimonti opened #9601 "Ability to configure the User Interface"
**Is your feature request related to a problem? Please describe.**
- We don’t need feature like Server mock, API monitoring, and Environments, we would like an option to disable all those stuff, we just need a simple, very simple IDE to send API requests and see responses, that’s ALL we need.

**Describe the solution you'd like**
- More settings to disable all these extra features we don't need.

[2021-02-12 17:45] hfsrazzimonti opened #9602 "Slow to start"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Windows 10 laptop
 - Postman Version:8.0.5
 - Operating System: Windows 10

**Additional Context**

[2021-02-12 18:51] landonvg opened #9603 "Not all environment variables get synced or exported"
**Describe the Issue**
Not all environment variables get synced or exported.

**Steps to Reproduce**
With one or more environments with several values, try syncing to a different machine or exporting the environment(s).  Check the values on the synced machine or exported file(s).

**Screenshots or Videos**
Source data:
![image](https://user-images.githubusercontent.com/3535272/107809496-6e34b700-6

[2021-02-12 19:00] DannyDainton commented on #9603
Hey @landonvg

Are the same values in the `Initial Value` too, can only see the `Current Value` in the image.

Any value _only_ in the `Current` field wouldn't be part of the export file or syncd anywhere outside of that machine.

[2021-02-12 19:02] landonvg commented on #9603
Ah, that's it--only the fields with an initial value are exported.  Why is that?  Now I have to go populate all those missing initial values.

[2021-02-12 19:03] KamilPacanek commented on #6723
Are you doing that each time the error occurs?

[2021-02-12 19:26] DannyDainton commented on #9603
Those are session variables that only you see and are not seen by team members etc.

https://learning.postman.com/docs/sending-requests/variables/#sharing-and-persisting-data

There should be an option in the environment section to move those to both using a button click. 😁

[2021-02-12 19:31] DannyDainton commented on #9603
I believe that this solves the problem that you're facing so I'm going to close out this issue. 🏆

[2021-02-12 19:31] #9603 closed, assigned to nobody

[2021-02-12 20:15] landonvg commented on #9603
@DannyDainton Using "Persist" solved part of the problem.  The initial values are now synced up, but they are not getting used.  When I mouse over the placeholder, it shows the initial value, but when I submit the request, it isn't getting used.
![image](https://user-images.githubusercontent.com/3535272/107818097-ed77ba00-6d2b-11eb-9c07-b93f2375bfe6.png)

[2021-02-12 20:17] DannyDainton commented on #9603
The `prod` environment still has unsaved changes - is it still not working after saving?

[2021-02-12 20:19] landonvg commented on #9603
Right--still not working.  How can you tell there were unsaved changes?

[2021-02-12 20:21] DannyDainton commented on #9603
There's an orange dot on the tab - that would signify that changes have been made but haven't been saved yet.

[2021-02-12 20:24] landonvg commented on #9603
Here it is with the saved environment; still same behavior:
![image](https://user-images.githubusercontent.com/3535272/107818993-498f0e00-6d2d-11eb-86aa-3f2a187bd16f.png)

[2021-02-12 20:26] landonvg commented on #9603
You can reproduce this by deleting the current value of a variable and sending a request that uses that variable.

[2021-02-12 20:27] stoplion opened #9604 "Postman renders HTML with CSS by default"
I'd like to GET a page. See it's HTML render **WITH** CSS.

I'm switching from Insomnia, which renders the JS and CSS by default.

Is it possible for Postman to do this?

If it requires some sort of complicated setup, I'd like to make a feature request to make this the default.

[2021-02-12 20:40] DannyDainton commented on #9603
I believe that it needs to either be in both fields or just the `Current Value` field for it to resolve in the request.

I'm away from my machine so I'm currently going off the top of my head 😂

[2021-02-12 20:42] landonvg commented on #9603
If that's the case, then the behavior of syncing and exporting just the initial values is not much help, as I still have to go copy and paste every single initial value to the current value.  The behavior should be to use the initial value of the current value is empty.  This feels like a bug.

[2021-02-12 20:56] DannyDainton commented on #9603
Did you try either of the `Persit All` or `Reset All` to do that?

You can also use the option in the general settings to Persit all variables.

[2021-02-12 21:03] landonvg commented on #9603
Yes, I persisted all of the variables on the source computer, then synced to the target computer, which pulled in the initial values only, leaving the current values blank, hence the problem with those variables.

[2021-02-12 21:05] landonvg commented on #9603
Oh, I see that I needed to use Reset All on the target environment--that did the trick.  I assumed Reset All would clear everything.  Thanks for your help and explanations.

[2021-02-12 21:20] DannyDainton commented on #9603
You're very welcome 🏆

[2021-02-13 00:01] praveendvd opened #9605 "Postman form file shows tool tip sayying file is not in working directory"
**Describe the Issue**

After setting working directory and if a file is switched from that directory , user still gets tool tip warning saying file is not in working directory

**Steps to Reproduce**

Goto settings set working directory as d:/testfolder

in formdata choose the file d:/testdata/somefile.csv

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/45095911/107

[2021-02-13 00:21] praveendvd opened #9606 "If variable value is set as null in json file then its not getting reflected"
**Describe the Issue**

variable value not reflected if value is set as null in data json file in non script sections

**Steps to Reproduce**

create json file as :

[code]

url: https://reqres.in/api/users?page={{id}}

run it in collection runner with the above json file as **data**

**Observation**

the value gets correctly in script section  data["id"]

but in non script section the variable re

[2021-02-13 03:50] ManojSatishkumar commented on #9346
I'm looking for Apple silicon build for postman app.
Please built It fast and change our experience.

[2021-02-13 05:32] numaanashraf commented on #9346
@vicampuzano Could you share your logs with help@postman.com? Both Postman v7 and Postman v8 is tested and certified to work with Apple Silicon (M1) hardware. We'd love to understand any issues you are facing at your end and help you troubleshoot.

<img width="1390" alt="Screenshot 2021-02-13 at 10 58 33 AM" src="https://user-images.githubusercontent.com/3295568/107842645-e499ed80-6dea-11eb-8139-8

[2021-02-13 08:13] vicampuzano commented on #9346
You're right @numaanashraf . I don't know what happens but it's working fine now.

Congratulations from my side. Postman v8 looks pretty nice and works fine! ;) 🙌🙌🙌

I can't wait to see the new apple silicon native version!

[2021-02-13 23:32] mohitranka commented on #8365
Hello! 👋  This issue was fixed along with #2906 . Please let us know if you continue to face any issues.

[2021-02-13 23:32] #8365 closed, assigned to codenirvana

[2021-02-14 00:44] ViktorBash commented on #4009
+1

[2021-02-14 07:16] yusufdonmez opened #9607 "No offline view"
**Is your feature request related to a problem? Please describe.**
Please provide offline mode, When I have no interne I cant see my collection, and examples.
And Postman after 8.0 very very slow.
I have to downgrade to 7.35 again if I can.

It seem 8.0 as Web site loading for a couple of seconds up to 10sec sometimes.
8GB ram win 10 PC running. with 8th gen intel i5

**Describe the solution you'd

[2021-02-14 21:02] lflucasferreira opened #9608 "Environment export option in sidebar menu"
Hi guys,

I know there is an export option within the environment tab (almost hidden). But I believe it must be also available in the Environment list. In this case, I do not need to open the environment to export it.

I would love to see it back, thanks!

![Screen Shot 2021-02-14 at 17 58 09](https://user-images.githubusercontent.com/5920654/107888965-c2899380-6eee-11eb-9711-75eea2007cc4.png)

[2021-02-14 21:46] om8n opened #9609 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-02-14 22:49] jongio commented on #4391
FYI.  I have a blog and walkthrough updated for 2021.

Azure REST APIs with Postman
https://aka.ms/azurerestblog
https://aka.ms/azurerestvideo

I believe the problem is in the code that calls the /token endpoint.  As the client_id and client_secret are not included in the body of the request:

This shows what is sent in the body, even though I have client_id and client_secret set in the OAuth Post

[2021-02-14 23:33] ningma007 commented on #9542
Hi team,

I updated the latest verison v8.0.5 today, this issue looks was not solved yet.
Dose anyone has same case?

Warm regards,

[2021-02-15 03:10] tduek commented on #8560
+1, please implement! I switch the theme in the Postman app manually every day when macOS switches automatically (mine auto switches to dark at night and light during the day). Please enable an option for it to follow the system. Most other apps I use already do this. We're one of the only ones that don't.

[2021-02-15 03:11] tduek commented on #8075
+1, please implement! I switch the theme in the Postman app manually every day when macOS switches automatically (mine auto switches to dark at night and light during the day). Please enable an option for it to follow the system. Most other apps I use already do this. We're one of the only ones that don't.

[2021-02-15 03:13] tduek commented on #8459
+1, please implement! I switch the theme in the Postman app manually every day when macOS switches automatically (mine auto switches to dark at night and light during the day). Please enable an option for it to follow the system. Most other apps I use already do this. We're one of the only ones that don't.

[2021-02-15 05:13] shashankawasthi88 commented on #9609
@om8n can you add more details about the Integration request. Filling the template would help us plan the Integration better.

[2021-02-15 05:20] #2160 closed, assigned to a85, vvs11, vkaegis

[2021-02-15 05:25] j-c17 opened #9610 "Postman will replace the last couple of chars with "0" when running Runner with CSV file containing long String"
**Describe the Issue**

Data driven testing by feeding a CSV file containing long String using Runner - Postman will replace the last couple of chars to "0"

**Steps to Reproduce**

- Prepare a CSV file with these values

CustomerNumbers,Codes,CustomerId
1230007656662,7531901110010000431,12345

- Open Runner
- Select the requests that need to be fed by the data from the CSV
- Iterations -- Change

[2021-02-15 08:05] jonasfrid commented on #7596
+1

[2021-02-15 08:29] codenirvana commented on #9567
@santhosh2512 This is a known issue, script execution doesn't wait for all the promises to resolve. Some workarounds are already mentioned in #4131.

Closing as duplicate of #4131

[2021-02-15 08:29] #9567 closed, assigned to nobody

[2021-02-15 08:38] DannyDainton commented on #8728
Hey @jesse-msp

I know it's been mentioned before but could you try with the latest V8 Canary channel?

Version 8 comes with lots of different changes and one to the Switcher that presents all Workspaces together, rather than Personal/Team.

If it's not working with that version, it might well be related to zscaler, I just wanted to rule all things out first 😁

[2021-02-15 09:15] NicolasMassart commented on #4888
Adding a Google Analytics or a Google Tag Manager would be very appreciated.
We are currently using both doc systems as an experiment, our own API doc and Postman doc.
But ours provides stats and not Postman. We can't decide which one suits users best.
Long term, if Postman is not able to provide this basic feature, we will have to choose between just a nice Postman UI and a site that enables us t

[2021-02-15 09:34] VicKetchup commented on #3171
An idea I mentioned to Postman team member back in November, posting it here for some feedback and maybe a nudge to get this resolved:
"If this issue is being delayed due to running costs, can I suggest allowing users to go over 5 minute limit if they desire, but every 5 minutes will be charged as a monitor run. So for example, our monitor complets in 6 minutes > we get charged as for 2 monitor ru

[2021-02-15 09:39] bavulapati commented on #9481
@MirekSaska @JorgeJMartins @Zangetsu-GPO
Please help us investigate the root cause of the problem with the logs. We request you to share the additional network log information for understanding the issue better. We suggest you to use canary application, so that your existing application and data is not impacted.

Please find the following instructions for generating the logs.
**Windows users**

1.

[2021-02-15 09:51] NicolasMassart commented on #5706
I understand UUIDs are useful as they enable to rename the elements without breaking links in the API doc.
But having a human readable anchor is also important, plus it's nice for search engines.
We usually link to specific requests from our tutorials and having only UUIDs does't help preventing mistakes. Having a human readable anchor would help knowing exactly what we link to.
As an element can'

[2021-02-15 11:25] Raj-postman opened #9611 "Monitors are lost upon upgrade"
**Describe the Issue**

Unable to view monitors on the Web nor against each collection. For the only monitor that can be viewed, it appears to be currently locked in spite of having Editor access over the collection as it's in the Personal workspace.

When switched to Browse from application (v.7.x), can see the below details:

![image](https://user-images.githubusercontent.com/47771757/107940186-

[2021-02-15 11:37] bkcummins opened #9612 "Store multiple request body (json) objects"
It would be very helpful to be able to store multiple request body (json) objects for a saved endpoint so that you could toggle between them for test data.

There is a similar option in AWS Lambda to store incoming test events. Thx in advance!
https://aws.amazon.com/blogs/compute/improved-testing-on-the-aws-lambda-console/

I accomplish this now by saving the same endpoint configuration multiple t

[2021-02-15 12:43] #9403 closed, assigned to nobody

[2021-02-15 12:49] izza-rashid opened #9613 "New Integration Request - <Test>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-02-15 13:29] shashankawasthi88 commented on #9613
Hi @izza-rashid can you add more details to the new Integration request.

[2021-02-15 13:29] vvs11 commented on #9518
<img width="624" alt="Screenshot 2021-02-15 at 6 59 08 PM" src="https://user-images.githubusercontent.com/4140290/107952530-e4068000-6fbf-11eb-825d-8b3bab75c274.png">
@silverbullettruck2001 I am able to see this. Could you try relaunching the app?

[2021-02-15 13:31] vvs11 commented on #9523
@mpagadala-cs50 This is something that is on our roadmap. Will keep you posted on this

[2021-02-15 13:33] vvs11 commented on #9530
Tracking this as a feature request. We will post the updates here

[2021-02-15 13:44] vvs11 commented on #9570
@arneesh Could you share some screenshots of your use-case? It'll help us understand the issue better

[2021-02-15 13:51] vvs11 commented on #9604
@stoplion Can you try switching to Preview tab in the response section and see if it solves your problem?

[2021-02-15 15:31] sujayvenaik commented on #9239
@dzmitry-kakaruk-webjet We had a potential bug at our end which we patched up. Can you try once if you still face this?

If yes, can you provide with the app version as well as the screenshot of the app screen. That would be helpful.

[2021-02-15 15:50] vaibhavpacharya commented on #7596
+1

[2021-02-15 16:17] rhollander73 commented on #4033
I think I will do the same. Or I will switch to Intuit Karate.

[2021-02-15 16:56] kDurg opened #9614 "Hide Example Responses From Sidebar"
**Is your feature request related to a problem? Please describe.**
No, it is new functionality added to the most recent release that is crowding the sidebar. Previously for example responses, I could access them with a small button next to the send request button, but now that all the examples are in the sidebar, I find myself getting lost more often when trying to make calls.

**Describe the solu

[2021-02-15 16:59] lflucasferreira commented on #9612
Maybe this would work like saved examples. In this case, we could create multiple examples and use them in the body request.
I work with an API with a lot of conditional fields and it is very annoying to create multiple requests for the same endpoint.

[2021-02-15 17:04] lflucasferreira commented on #9601
Or at least allow us to hide the left panel without hiding the items you highlighted. Working as a floating show/hide menu.

[2021-02-15 17:15] lflucasferreira opened #9615 "Feature request: Group tabs by their kind [requests, environments, ...]"
In order to keep the application organized and clean, I would suggest an additional configuration in the settings menu that would group all tabs by their kind.

If I open 10 tabs of requests -> then they will be in the Requests tab.

Maybe could have the possibility of grouping just by dragging the tab to a specific group as Google Chrome is doing currently.

[2021-02-15 18:13] bkcummins commented on #9612
Super basic screenshot, but here's a rough idea.

![01](https://user-images.githubusercontent.com/6819212/107981128-84907c00-6f8f-11eb-9602-6cc7642859e3.jpg)

[2021-02-15 18:14] bkcummins commented on #9612
Super basic screenshot, but here's a rough idea.

![01](https://user-images.githubusercontent.com/6819212/107981203-a853c200-6f8f-11eb-8039-c7e31a9a90ac.jpg)

[2021-02-15 19:22] sakthivelraja commented on #3777
I see that postman is chromium based, If I can use a network conditioner in chrome to simulate different network speeds I believe there should be a way to use it in postman as well.

Postman shows browser console and it has network conditioner in it. I just can't make postman use the network conditioner settings to send requests.

@postman-support is there a way to make postman use the underlying

[2021-02-16 00:43] dzmitry-kakaruk-webjet commented on #9239
Looks good now. Thanks heaps :)

[2021-02-16 00:43] dzmitry-kakaruk-webjet commented on #9239
Great work :)

[2021-02-16 00:43] #9239 closed, assigned to sujayvenaik

[2021-02-16 01:09] ShadowfootNZ commented on #9614
Yes, please allow us to have these hidden unless we specifically ask to see them. Do not have them automatically open when I click on a request that I want to run. They making navigating a large collection unwieldy, with the need to close them every time.

[2021-02-16 01:36] royparsaoran commented on #9602
My Postman Version 8.0.5 issue:

1. Slow when opening
2. Sometimes error not loading any env
3. Sometime error cannot use shortcut

[2021-02-16 03:54] danishjoseph commented on #4671
come on dude !!

[2021-02-16 03:56] gvsandeep2647 commented on #9578
Occurring frequently in this version as well: **Version 8.0.5 (8.0.5)**

[2021-02-16 05:34] coditva commented on #9593
@Pricilla09 Thanks for writing in! We've fixed this bug in the latest Postman app version 8. You can get it from the [download page](https://www.postman.com/downloads/). You can also try it in your web browser: https://go.postman.co/build

[2021-02-16 07:44] syedqadeer commented on #9397
There is an update and i am not even able to update to the latest version.

![image](https://user-images.githubusercontent.com/5575310/108032659-df83ab00-7043-11eb-8dfe-cc60472f6f35.png)

I am afraid, if download the latest version and install it, I might loose the history again which I cannot afford.

[2021-02-16 08:05] tirth055 commented on #9390
As mentioned by @tominaus the older callback url at https://www.postman.com/oauth2/callback has been deprecated.
If you'd like to get this working, please upgrade to the latest version of the Postman desktop app.

In case you're unable to upgrade, please change the callback urls to the following:
`• If you're using the desktop app use - https://oauth.pstmn.io/v1/callback
• If you're using the web

[2021-02-16 08:05] #9390 closed, assigned to nobody

[2021-02-16 08:50] MoriTanosuke commented on #8728
I have the same request and the same CSP directive errors, also with the canary application.

I noticed the following message in my log output:

[code]

Zscaler is implemented in a captive-portal style in my organization. Application state is the same: No workspaces loaded, my profile image is missing (although the sign-in via browser did work and my username is displayed), and the update popup is

[2021-02-16 08:58] sabrina-biersack-smit commented on #9542
Same behavior for me. Checked my browser and set it so it allows all popups, no change.

[2021-02-16 11:16] fransf-wtax commented on #9605
Same issue here. I've set my working directory to /Users/myuser/..../dir and my file is inside that directory, but I still get the error message.

[2021-02-16 11:36] timothyk0908 opened #9616 "OpenAPI 3.0 Keywords not recognized/used properly ( oneOf, anyOf, ... )"
**Describe the Issue**
I'm using POSTMAN as a tool to monitor, test and define our APIs, my issue is that using oneOf, anyOf, and other keywords that meet OpenAPI 3.0 standards, throw issues.

If for example, I have a property that is either
oneOf:
- type: number
- type: string

If the first condition that Postman finds isn't true ( in this case, if the property isn't a number but a string ), it's

[2021-02-16 11:37] m3dbedb commented on #9492
I confirm the issue on postman Postman v8.0.1 - v8.0.5 under windows 7 64. Request, moved to the end of collection's root blinking forever (as daokrajaih stated). It's a good luck the app did not crush.

[2021-02-16 12:05] megadix opened #9617 "Send Request shortcut is ignored"
**Describe the Issue**

The shortcut for "Send Request" is ignored.

**Steps to Reproduce**

- Open or create a request
- edit headers, parameters, body, etc.
- hit "Send Request" shortcut (CTRL ENTER under Windows)
- **Error**: request is not sent

**Screenshots or Videos**

Not applicable

**Environment Information**

 - Platform Type: Native Windows App
 - Postman Version: 8.0.5
 - Operating Sy

[2021-02-16 13:04] VicKetchup commented on #9230
@codenirvana If there is no way to support old behaviour, I think the workaround is good enough and ticket can be closed.

[2021-02-16 13:50] silverbullettruck2001 commented on #9518
I agree that it works correctly in the "URL builder" part of the app, but
the issue that I posted states this is with the 'request body'.

If you change your request to 'Post' instead of 'Get', then go to the
'Body' of the request, change it to 'raw' and build a request body in JSON
format and put a variable in the request it could look something like this:

[image: image.png]

You will see that i

[2021-02-16 13:55] edouardGT commented on #9614
I agree, very annoyed by this feature.

[2021-02-16 15:46] commadelimited opened #9618 "UI text size is very small in Postman 8.0.5 for Ubuntu 18.04"
**Describe the Issue**

I'm using Postman 8.0.5 on Ubuntu 18.04 and I wanted to report a significant UI issue. The application itself works flawlessly. However the UI is quite small and extremely hard to read as you can see in the attached screenshot. Here are some additional pieces of information that might help.

Resolution: 1920 x 1080
Chrome version: Google Chrome 87.0.4280.88 (Official Build)

[2021-02-16 15:51] arlemi commented on #9618
Hey @commadelimited - what happens if you use the "zoom in" option in the Edit menu?

[2021-02-16 16:17] DannyDainton commented on #9618
Hey @commadelimited 👋

The `Editor Settings` only relate to the `Pre-request Scripts` and `Tests` sandbox and not the main apps font-family / font-size.

![image](https://user-images.githubusercontent.com/17089546/108089917-01942200-7072-11eb-91e6-6fad7e990f57.png)

[2021-02-16 17:09] jngibert commented on #9409
Agreed. Use of the Authorization Code with PKCE Flow should never requiring use of the client secret.
But if the client secret is left blank in the Postman UI, then Postman is sending client_secret = "" (an empty string) which causes the last step of the flow (exchanging the code for a token) to fail.
It's been over a month since this was reported as a bug; any ETA for resolution?

[2021-02-16 18:00] mjhaghparast commented on #4009
❤

[2021-02-16 19:38] lfox91 opened #9619 "Pre-request script inheritance"
**Is your feature request related to a problem? Please describe.**
I recently ran into an issue with nested folders (collection).

When I created a pre-request script, I expected the script to be run on the nested requests. This was not the case. I didn't label this as a bug because this may be the expected behavior to avoid potential conflicts with scripts. If not then this should possibly be a b

[2021-02-16 19:57] lecamarade commented on #8966
We use Postman for integration tests. Our current process involves running the collection for each PR to be merged. The only problem is that the updated tests for the new endpoint can't be submitted as part of the same PR.

I want to edit the collection locally and run it locally.

[2021-02-16 20:03] franco9700 commented on #7994
Me too. The old version of postman do not cause this problem for me but it is not as good as the new version.

[2021-02-16 20:24] CyberDracula commented on #9481
I have the same issue with Postman 8.0.5 behind VPN and proxy.  If open the app without the VPN everything looks fine and if i keep the app running and connecting to the VPN it will still work.
![image](https://user-images.githubusercontent.com/1976475/108117475-9cf2ba80-70a5-11eb-866d-47853070f47a.png)

[2021-02-16 20:59] Lofaloa commented on #8717
I just have encountered this issue. I have allowed popups on `oauth.pstmn.io` but the popup does not show up. I do no even get the dialog asking me to open it.

I ended up using the Postman embedded popup (unchecked "*Authorize using browser*" box).

My environment is the following:
- Postman Version 7.36.4
- OS: Ubuntu 20.04.1 LTS
- Browser: Google Chrome Version 87.0.4280.141 (Official Build) (6

[2021-02-16 23:11] lflucasferreira commented on #4690
It looks like nobody cares... so simple to create a method `.clear()`.

[2021-02-17 05:11] mohitranka commented on #9597
@SagarInvenio Can you

1.) Confirm that the data is also truncated in the 'raw' tab?
2.) share scenario where it can be reproduced without sensitive/private data?

[2021-02-17 05:40] bavulapati commented on #9481
@CyberDracula
Can you please help us with the investigation of the issue by providing insights on the kind of VPN, proxy you are using?
Also please share the logs by following the steps mentioned on previous [comment](https://github.com/postmanlabs/postman-app-support/issues/9481#issuecomment-779095220)

[2021-02-17 05:48] bavulapati commented on #8728
@MoriTanosuke
Please help us investigate the root cause of the problem with the logs. We request you to share the additional network log information for understanding the issue better. We suggest you to use canary application, so that your existing application and data is not impacted.

Please find the following instructions for generating the logs.
**Windows users**

1. Download and install the l

[2021-02-17 06:45] MoriTanosuke commented on #8728
@bavulapati I sent two logfiles to the given email address, one from the official application and one from the canary application. Both show the same workflow:

# Opening Postman (Canary)
# Waiting a couple seconds for the update window to pop up
# Starting the download
# Waiting a couple seconds more with no progress
# (The canary application showed a timeout error window, the official applicatio

[2021-02-17 06:49] harsh-reality opened #9620 "Give default editor access to users in a workspace"
**Is your feature request related to a problem? Please describe.**

- In my current workflow, I'd like to have all the users in a workspace to have editor access to the collections. Not having this is a pain point.
- There's no easy way to assign permissions at for a group as well (either in product or through the API)

**Describe the solution you'd like**
- Everyone in a workspace should be able

[2021-02-17 06:54] Lincimary opened #9621 "Import from (file->import) do not work."
**Describe the Issue**
When I import a file to my application from File<import works for the first time and then does nothing over the second attempt.
The short-cut key (cmd+o) also did not work.

**Steps to Reproduce**
1.Open the postman app
2.Try to import file from File<import without not using the import button.
3.Pop-up for import files open for the first time, close and try re-opening from F

[2021-02-17 07:12] MoriTanosuke commented on #8728
Forgot to mention the version numbers:

- Canary 8.0.6-canary01
- Official  7.31.1

[2021-02-17 07:14] DannyDainton commented on #9621
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9528

[2021-02-17 07:14] #9621 closed, assigned to nobody

[2021-02-17 07:39] LoloIrie commented on #7318
@shamasis Any chance to see the option for content type "text/xml" back in the dropdown menu ?
it would be really helpful

[2021-02-17 07:49] shamasis commented on #7318
@LoloIrie the drop-down is an indicative helper alone. It will prevent you from making a failed request if you missed adding the right header your API needs. If I recall correctly, sometime mid last year, we added feature that neatly allows you to override default values with your own.

Here is a screenshot below showing the same in action
<img width="1008" alt="Screenshot 2021-02-17 at 1 15 45 PM

[2021-02-17 07:58] Swapnil-getpostman commented on #8728
@MoriTanosuke As we couldn't locate any logs shared over "help@postman.com", could you reshare us, please?
Also do let us know the email ID from which you are writing us at help@postman.com. You can also open a new request using this link - https://www.postman.com/support/

[2021-02-17 08:14] MoriTanosuke commented on #8728
I opened new support request 68091 with my company account.

[2021-02-17 08:45] pankajk07 commented on #9617
@megadix We have pushed a fix recently that addresses issues with shortcuts and is available in the latest version `8.0.6` . Could you update and confirm if you are still seeing this issue?

[2021-02-17 08:46] pankajk07 commented on #9528
@nalesnyik  We have pushed a fix recently that addresses issues with shortcuts and is available in the latest version `8.0.6` . Could you update and confirm if you are still seeing this issue?

[2021-02-17 08:50] pankajk07 commented on #9578
@gvsandeep2647 We have pushed a fix recently that addresses issues with shortcuts and is available in the latest version `8.0.6`. Could you update and confirm if you are still seeing this issue?

[2021-02-17 08:53] zd-dalibor commented on #8728
Hi, are there any news about this. I also cannot use postman behind zscaler proxy. Postman even cannot load the interface in this case.

[2021-02-17 09:17] LoloIrie commented on #7318
Thanks for the answer, really appreciated !!!
I know about this option to overwerite the Content-Type Parameter and use it, but earlier there was both options in the dropdown menu and it was really easier/faster to use/switch. No way to get this feature back ?

[2021-02-17 09:29] nalesnyik commented on #9528
@pankajk07 Thanks for the fix, it works properly.

[2021-02-17 09:40] #9528 closed, assigned to nobody

[2021-02-17 09:46] VShingala commented on #9616
@timothyk0908 Thanks for reporting the issue. We were able to reproduce this issue and are looking into it.

[2021-02-17 10:20] megadix commented on #9617
Updated to version `8.0.6`, shortcuts now work as expected. Good job!

I'm closing the issue

[2021-02-17 10:20] #9617 closed, assigned to nobody

[2021-02-17 11:01] umeshp7 commented on #9520
Hey @GalaxyZpj! Thanks for reporting this.

We have fixed this in the latest version of the app v8.0.6. Now you'll be able to use the shortcut and the option from the File menu more than once.

cc @shashankawasthi88 @DannyDainton

[2021-02-17 11:01] #9520 closed, assigned to umeshp7

[2021-02-17 11:49] SagarInvenio commented on #9597
Hi Mohit,

1. Yes I can conirm that the data is truncated in 'raw' tab as well.
2. Although the data itself is not sensitive, the server details and the login details required to access the service are proprietary. Is there a way to share the authentication information privately. Do not want to share the information here since this is a public forum...?

Thanks and Best Regards,
Sagar Ogale

[2021-02-17 12:00] mohitranka commented on #9597
@SagarInvenio You can reach out to postman.com/support and create a ticket.

[2021-02-17 12:01] deDwarf commented on #6351
+1

[2021-02-17 12:27] SagarInvenio commented on #9597
Thank you Mohit. I have raised a ticket for the same.

[2021-02-17 12:27] #9597 closed, assigned to vvs11

[2021-02-17 13:10] LiudmylaHabit commented on #5194
+1

[2021-02-17 13:31] timothyk0908 commented on #9616
Awesome, waiting for your feedback ! Thank you

[2021-02-17 13:53] ivanrgo opened #9622 "Bitbucket Integration - Schema version"
**Is your feature request related to a problem? Please describe.**
As it is right now, the Bitbucket integration always syncs the collections with the 2.0.0 version of the schema. In the app you recommend using 2.1.0 so it would be nice to have the possibility to choose which version to sync to (or even sync them all?).
As I'm writing a tool to convert Postman collections to Artillery scenario fil

[2021-02-17 14:08] jonarmstrong commented on #6102
My organization also needs this feature. The organization can't have governance of it's data without the ability to actually administrate and control that data from the top. We need a `super-user` role which will allow a user to add/remove members from any workspace. We need to be able to restrict the ability for new workspaces to be created.

[2021-02-17 16:00] macino opened #9623 "JSON syntax highlighting on Mac"
**Describe the Issue**

The syntax highlight for json in body or javascript in pre req script and formatting and syntax highlight does not work.

**Steps to Reproduce**

Request:
- Open request
- write some body or pre req script
- RESULT: syntax highlight is not used

Response:
- Send a request
- json response is not highlighted or formatted

**Screenshots or Videos**

![Snímka obrazovky 2021-02-

[2021-02-17 18:00] jlbaez2 commented on #9498
Also when forking a collection and adding a label, depending on the length of the collection name and label it can sometimes truncate the collection name .
![image](https://user-images.githubusercontent.com/78964999/108247025-82155a00-7128-11eb-8a6b-fb7c69e1d7f8.png)

[2021-02-17 18:23] keeleyt83 commented on #7685
@saswatds just saw you added the "feature" tag to this back in 2020. As being able to copy the console was working prior to 7.11.0, I don't see how it could be considered a feature. This is a bug.

Its 2021, version 8 has been released, and this is still unresolved. Could we get an update on where this bug stands?

[2021-02-17 18:39] nabil-alhfz commented on #4009
++++

[2021-02-17 18:50] Super-Net-Ops commented on #7685
I agree that this is a bug and should be fixed, but a much, much better option would be to support writing the console output to a text file.

[2021-02-17 18:51] Super-Net-Ops commented on #7685
To a degree, but if there is too much information you can't zoom out enough to capture all of it.

[2021-02-17 20:30] lflucasferreira opened #9624 "Remove Check Usage notification bar"
Hi guys,

Could you remove this unnecessary notification from the top bar? It just takes space and is still showing up even after removing the person I added accidentally to the team.

This is really annoying. Thanks (not in advance), but after removing this thing.

![2021-02-17_172939](https://user-images.githubusercontent.com/5920654/108264013-bd725180-7145-11eb-833c-eff4aa2fc9ed.png)

[2021-02-17 21:17] xenophero commented on #9607
This has made postman unusable for me, I have to do work in a production environment with no outside internet access against internal servers and this new version is impossible to use without offline view.

[2021-02-17 21:24] jesse-msp commented on #8728
I retested the scenario using PostmanCanary-win64-8.0.6-canary01-Setup.exe - same behavior as described above.

I also re-installed 7.6.0 - the team workspaces are available in that version.

For what it's worth, I found this article about zscaler authentication and cookies:

https://help.zscaler.com/zia/about-user-authentication-frequency#:~:text=Choosing%20Only%20Once%20as%20the,once%20to%20set%

[2021-02-17 23:01] commadelimited commented on #9618
@arlemi View > Zoom In addresses this issue. This is the same interface zoomed three levels.

![image](https://user-images.githubusercontent.com/563460/108278812-315e2b00-7141-11eb-9ab4-22333f78b8a0.png)

1) This definitely addresses the issue and makes Postman FAR more usable for me.
2) This introduces a few UI issues when zooming in too far, but that's the same as a standard browser app.
3) It w

[2021-02-17 23:10] sylveon commented on #9488
This please! I don't see why what amounts to me as a glorified curl needs an account to the point of pestering me each time I boot it up.

[2021-02-17 23:13] DannyDainton commented on #9618
Glad to see that working for you! 🏆

We do have open FRs regarding a more wider set of font sizes for the whole app as well as many other accessibility improvements. ❤️

Closing this issue out for now.

[2021-02-17 23:14] #9618 closed, assigned to nobody

[2021-02-17 23:48] nickAdlard opened #9625 "dynamic variable for `timeZone`"
**Is your feature request related to a problem? Please describe.**
Not really a problem, it's more that there are a number of unsupported `faker` data, for example `address.timeZone`.

**Describe the solution you'd like**
Specifically I'm after a dynamic variable for a random time zone, like `$randomTimeZone`. In one runner execution, I need to be able to create multiple unique items with differen

[2021-02-18 02:34] xk0der commented on #9613
Hey @izza-rashid I'm closing this since we did not hear back from you, feel free to log a new integration request once you have more details 👍

[2021-02-18 02:34] #9613 closed, assigned to abhijitkane

[2021-02-18 03:01] gusandrioli commented on #5222
Also, It'd be great to have a sort for JSON data inside each request too.

[2021-02-18 03:05] kamalaknn commented on #9623
@macino Could you confirm that this issue exists even after you restart your app? If you continue seeing this issue can you share a screenshot of any errors you see in `View -> Developer -> Show DevTolls (Current View)`?

[2021-02-18 03:38] ldiebold commented on #2773
It would be nice if we could just "hide" the tabs section entirely.
Postman is an electron app right? Why not just have an option that sets the tabs menu to `display: none;`?

For those that want this functionality, here's what I did:
- **ctrl + shift + i** in postman to open the developer console.
- **ctrl + shift + c** to enable the selector
- select the section where all the tabs are (the one w

[2021-02-18 04:07] postman-support commented on #9610
Hi @j-c17!

Thanks for getting in touch and for the detailed information!

I could reproduce the behaviour and it looks like this is due to how JavaScript handles large integers.

As a workaround, you can use double-quotes "" in your csv file:

    "CustomerNumbers","Codes","CustomerId",,,,
    "1230007656662","7531901110010000431","12345",,,,

Then in the pre-request script, you can convert to Bi

[2021-02-18 07:02] Pricilla09 opened #9626 ""Environment Quick Look" not working."
**Describe the Issue**

When trying to have a quick look of environmental variables, nothing changed. The "Eye" icon just displays the tooltip and no response.

**Steps to Reproduce**

**Screenshots or Videos**

![2021-02-18_15-01-04](https://user-images.githubusercontent.com/71498483/108318121-3f23b700-71fa-11eb-9d08-9046ba55a831.gif)

**Environment Information**

 - Platform Type: Native Desktop

[2021-02-18 07:06] froyo2 commented on #7210
I need to calculate the file md5 before calling the api, so I really need this feature, any updates on this issue?

[2021-02-18 07:49] pekcheey commented on #9481
I was getting the error and rolling back the version to 7.36.1 works.

[postman-debian10-20210218.tar.gz](https://github.com/postmanlabs/postman-app-support/files/6001047/postman-debian10-20210218.tar.gz)
I'm on debian10.

after the downgrade, I tried opening version8.0.6 and it opens. though most of the previous tabs are gone.

[2021-02-18 07:54] giridharvc7 commented on #2573
This is now fixed in app version 8.

<img width="1392" alt="Screenshot 2021-02-18 at 12 55 54 PM" src="https://user-images.githubusercontent.com/1040583/108320439-cec06a00-71e8-11eb-88b4-e029fcb4d374.png">

[2021-02-18 07:54] #2573 closed, assigned to vkaegis

[2021-02-18 08:10] tester-xm opened #9627 "The export of the globals and environment, the value is empty."
**Is your feature request related to a problem? Please describe.**
When I use the globals file, I need to rewirte json file.

**Describe the solution you'd like**
I want the value of the export is equal to postman.

**Describe alternatives you've considered**
None

**Additional context**
![image](https://user-images.githubusercontent.com/60353008/108325255-dd684a80-7203-11eb-8455-7662577401b7.png)

[2021-02-18 08:15] DannyDainton commented on #9627
Hey @tester-xm

Are all the Global variables placed in the `Current Value` and not in the `Initial Values`?

Variable values will only be exported if they are in the `Initial Value` field.

[2021-02-18 08:17] DannyDainton commented on #9626
Hey @Pricilla09

Is this also happening after you quit the app and restart it?

[2021-02-18 08:20] Pricilla09 commented on #9626
Hi @DannyDainton I tried to close and restart the app, still facing the same issue. I suspect this should be after the restart of my system.

[2021-02-18 08:34] umeshp7 commented on #9520
Similar to #9528

[2021-02-18 08:49] macino commented on #9623
@kamalaknn So I went a bit longer road. As I restarted the app it was back in 7.36.5 version (don't know how). The update in application failed so I downloaded the new version and replaced the old one in apps.

As the new one started, syntax highlight is ok on both sites. Tried restarting the app and it's still on version 8.0.6 with everything working as I am concerned. So maybe the issue was in t

[2021-02-18 09:27] Rydgel commented on #9541
I confirm having this issue since upgrading from 7.x to 8.x.
I usually use a collection pre-script like that to set the value of a CSRF cookie to a variable.

[code]

This doesn't work anymore, even with the cookie domain being `.mydomain.local`.

[2021-02-18 09:28] ZekLouis opened #9628 "Cannot read cookies since Postman v8 (working when forcing the sub domain)"
**Describe the Issue**

With Postman v8 we're not able to get cookie from the response in the "Tests" script meanwhile we could before. In our case, we are calling an endpoint called "csrf-cookie" to get a csrf token and put it as an ENV variable. We didn't change anything on our side and now it's not working. We got an error  `There was an error in evaluating the test script:  TypeError: Cannot r

[2021-02-18 10:36] samuelgfeller commented on #7637
This is so frustrating. I wanted to use Postman to make tests with pre-saved requests to see if the site displays the error messages correctly.
@shamasis which other github thread if I may ask? I found only this one, #2948 and #1048, but they are all closed.

[2021-02-18 10:50] samuelgfeller commented on #9604
@vvs11 it doesn't unfortunately. The issue is that the resources with relative links are not loaded in the preview tab as reported almost 6 years ago for the first time (#1048) and shutdown by @shamasis in #7637 without much of an explanation.

[2021-02-18 11:01] bonaluo commented on #9535
![image](https://user-images.githubusercontent.com/27731323/108347677-c170a300-721b-11eb-8aaf-e0169e86a7a4.png)

[2021-02-18 11:08] samuelgfeller commented on #2948
I'm not sure if I understand well @vkaegis, is there a setting that makes Postman prepend the base url to the relative resources (css) link? Because that would allow us to have a styled render in the Preview tab.

Basically I have a set of requests (with a specific body) and need to preview the styled result, is that possible with Postman, and if yes how?

[2021-02-18 11:09] SebastianJust opened #9629 "Version: 8.0.6 - OAuth - 2.0 - No cookies were returned by the server"
Hi,
I've just upgraded to version 8.0.6:
![image](https://user-images.githubusercontent.com/24389114/108347915-6c17a000-71e1-11eb-9fbb-468fdfbc6281.png)

For authorization i'm using Type: OAuth 2.0 with grant type Authorization Code (Cookies). Before upgrading the cookies was stored and the request worked just fine.

Now after pushing: Clear cookies and 'Get New Access Token', no cookies are store

[2021-02-18 11:10] SebastianJust commented on #9628
Hi,
I've expired the same issue with OAuth 2.0:
https://github.com/postmanlabs/postman-app-support/issues/9629

[2021-02-18 11:35] DannyDainton commented on #9628
Hey @ZekLouis

That looks like it's returned in the response header and you have the older sandbox syntax there, will this work for you?

[code]
![Screenshot 2021-02-18 at 11 32 38](https://user-images.githubusercontent.com/17089546/108351175-10e3ae80-71dd-11eb-960b-7b065335ac6c.png)

[2021-02-18 11:55] SebastianJust commented on #9629
****WORKAROUND****

As a workaround until the issue is fixed, you can use **interceptor**: https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/

And 'Add Domain':
![image](https://user-images.githubusercontent.com/24389114/108353402-670a1f00-71e8-11eb-9df8-36ef36dab31c.png)

For localhost, you just add: localhost.

[2021-02-18 12:02] DannyDainton commented on #9535
Hey @bonaluo

I'm using v8.0.6 of the app and can resolve a Global variable in the header when using the placeholder

![image](https://user-images.githubusercontent.com/17089546/108354122-f14e8500-71e0-11eb-818d-fea4fd877f91.png)

[2021-02-18 12:28] DannyDainton commented on #9625
Hey @nickAdlard

If you're using Newman primarily, could you use that as a library and bring in `faker` to use anything that module has to offer?

[code]

![image](https://user-images.githubusercontent.com/17089546/108356923-a6367100-71e4-11eb-9892-9b37b9236f04.png)

[2021-02-18 12:44] andrejmarinic opened #9630 ""Set as variable" Popup"
When selecting any text in the Body editor a popup appears saying "Set as variable".

Can this be disabled? I am not using it and it is obstructing the values above which is quite annoying. Have to click somewhere each time I want to remove the popup.

[2021-02-18 12:47] DannyDainton commented on #9619
Hey @lfox91

Would you be able to provide some visual examples of where this is currently failing for you?

A basic example of scripts added to the Collection Pre-request Script and running against a request within a folder:

![image](https://user-images.githubusercontent.com/17089546/108358878-278f0300-71e7-11eb-8709-a46a13d04755.png)

Just trying to get a better understanding of what's happening

[2021-02-18 13:10] Swapnil-getpostman opened #9631 "Cannot remove Environment from Workspace were it got shared"
**Describe the Issue**
I cannot remove the environment being the only member in the team workspace.

**Steps to Reproduce**

1. I created an environment in my personal workspace say "abc" and share it over my team workspace with me only the member in the team workspace.

2. I tried to remove the environment "abc" from my team workspace and I couldn't remove it and gets an error message as below, t

[2021-02-18 14:13] ZekLouis commented on #9628
Hey @DannyDainton,

It could work but we have multiple "set-cookie" headers and using your method I won't get the one I need. It looks like the header SetCookie is not setting any cookie into postman.

[2021-02-18 14:34] VLEESDOEKJE commented on #9554
I can confirm that { and } are not encoded.
![image](https://user-images.githubusercontent.com/12599327/108372127-c70bc000-71fe-11eb-91ba-9ed0a9cfc293.png)

[2021-02-18 14:55] nickAdlard commented on #9625
@DannyDainton ooo this is very cool and will help, thanks.

I'll add this context to my request as well: I have a runner setup to create multiple items with various attributes(like timezones, lists of strings, integer amounts), it then does some work with them, updates them, destroys them. It checks the state of these items and their attributes along the way. Passing in an env var only gives me 1

[2021-02-18 15:17] milindrao opened #9632 "Hide white space special characters in the body and response in Postman 8"
I updated to Postman 8 and I find the white space characters (dots for spaces and arrows for tabs) in the body and response very distracting.  I can't find a way to disable it.  Am I missing something in the settings?

[2021-02-18 15:39] postman-support commented on #9624
Hi @lflucasferreira,

So sorry for the hassle here. Would you please submit a request via the link below and we'll be happy to assist further:

- https://support.postman.com/hc/en-us/requests/new/

via @labifrancis | Postman Support

[2021-02-18 15:54] stcalica opened #9633 "Ability to collapse sidebars"
Filing on behalf of user.

**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/5624835/108383237-74121880-71be-11eb-8a13-4402016f28d9.png)

**Describe the solution you'd like**
Collapsing the sidebars might be a good solution for the user.

[2021-02-18 16:00] schefbi commented on #8743
Please add  TLS v1.3 to "protocols that are disabled during handshake". This would help us a lot so that we can monitor our test and production environment again.
![image](https://user-images.githubusercontent.com/41326409/108379858-9d569700-7206-11eb-9285-122061943d8c.png)

 Thanks a lot

[2021-02-18 16:02] DannyDainton commented on #9633
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/9601

[2021-02-18 16:02] #9633 closed, assigned to nobody

[2021-02-18 17:08] amanvaid commented on #2345
Ubuntu => ctrl + alt + v

[2021-02-18 17:39] Davi-DeGanne commented on #3171
I found this in the Monitors FAQ, and it's amazing how antithetical this statement is:

You have full control over the behavior of your monitors. Not only can you determine which of your API endpoints are called, you can also determine how many and how often they are called. In addition, Postman restricts each monitor’s total run time to 5 minutes, to limit the number of requests it can perform.

[2021-02-18 19:46] RichFlickstein opened #9634 "Cannot Manage Roles for Environment after update to v8.0.6"
1. Log into Postman as a member of a Team
2. Create an environment
3. Select the environment
4. Click the Eyeball
5. Click Edit
6. Click Share and select the workspace to share the environment
6. Click the three dots
Observe the Manage Roles option is grayed out
If you hover over it, you see “You need to be signed-in to a team to perform this action”
![image](https://user-images.githubusercontent.

[2021-02-18 21:04] lfox91 commented on #9619
It ended up being an asynchronicity issue upon closer inspection of the script in question. Thank you for the quick response. I'm not sure why the bug only became visible when nesting collections but that is something I can debug on my own time.

Figured I'd post a screenshot all the same.
![Screen Shot 2021-02-18 at 12 55 27 PM](https://user-images.githubusercontent.com/12665157/108421178-a4bb778

[2021-02-18 21:04] #9619 closed, assigned to nobody

[2021-02-18 23:13] lflucasferreira commented on #9624
I fixed this by leaving the team I was in, and only me. But I still believe this top bar should not be present when reaching the limit. It will not force me to pay for something that bothers me. I will simply stop using it if this kind of approach is recurrent.

[2021-02-18 23:13] #9624 closed, assigned to nobody

[2021-02-19 00:06] postman-support commented on #9634
Hi @RichFlickstein

Thank you for submitting this issue and providing screenshots, it certainly made it easier to reproduce and escalate internally. We have enough information to move forward internally and will update this ticket as we make progress.

via @asi-postman | Postman Support

[2021-02-19 05:22] Pricilla09 commented on #9626
Its working now, maybe some glitch :-) Shall I close this? or some investigation in-progress?

Will post the further comments if I face any issue again with this quick look!!

![image](https://user-images.githubusercontent.com/71498483/108461148-20362b00-72b5-11eb-8322-bd377348bf05.png)

[2021-02-19 05:30] FedorOvchinnikov commented on #6682
Any progress?

[2021-02-19 05:43] CHANist commented on #1180
+1 in year 2021, really want to use local external js file, so that multiple collection / APIs can reuse the same set of function, without duplicating any functions in each collections.

[2021-02-19 05:48] tester-xm commented on #9627
Ok, thanks. You're right~

[2021-02-19 05:48] #9627 closed, assigned to nobody

[2021-02-19 06:13] Raj-postman opened #9635 "Environments do not load when publishing docs (Native App)"
**Describe the Issue**
When trying to publish documentation from the Postman desktop client, the environments do not load up.

**Steps to Reproduce**

 - Open Postman desktop application
-  Select any Workspace with available environments
-  Try to publish documentation for any collection
-  You will be redirected to the web app, but environments will not load.

**Screenshots or Videos**

![image]

[2021-02-19 06:56] DannyDainton commented on #9626
Ah that's great. 🏆

A few of us on different machines were trying to reproduce the problem but couldn't see the same behavior.

I'm going to close this now but we can reopen if it happens again.

[2021-02-19 07:30] Pricilla09 commented on #9626
@DannyDainton Sure!!! Probable I did nothing, its working after some rest :-)

[2021-02-19 07:52] suifengshiqu commented on #9481
the same error ,Unable to load data as you're offline
![Snipaste_2021-02-19_15-49-26](https://user-images.githubusercontent.com/1124208/108474472-6c3f9a80-72ca-11eb-93b0-d6c9ae845cd1.png)

[2021-02-19 08:55] Ocsidot commented on #1180
Personally, as many of you I suppose I use the trick to save a module inside the global and load it with eval().

It is working but I have to rebuild my global on every Jenkins run to ensure to always have the latest version from my colleagues. Moreover, we cannot have  tests on the functions delivered this way which may sometimes be a problem.

Hope this feature will come some day

[2021-02-19 09:49] DenysZvarychDEEP opened #9636 "The Postman cannot send the attachments ( .wav )"
**Describe the Issue**
* The Postman cannot send the attachments ( .wav ). `File: undefined.`

**Pre-conditions:**

1. Open Postman App.
2. Create your own account.
3. Sign in.
4. Open Postman settings
5. On the General tab activate "Allow reading files outside working directory"

**Steps to Reproduce**

1. Create the [ POST ] request which includes in the Body -> form-data: file (required) with t

[2021-02-19 10:03] MaruthiSikhakolli commented on #1066
Even after 4 years, its not implemented and people are in need of this feature.

P.S. Even I came here in search of the solution to this problem.

[2021-02-19 10:18] jooleeanh commented on #3976
Any update on this ? Felt the need again on another project.

[2021-02-19 10:43] aliradd commented on #4450
Hi @S-J-D-13 can you please explain how you achieved this in more detail please? we also have a requirement for this.
@dhineshwiz @charlie-postman any updates on this feature request please? Are you able to provide a rough ETA for it please? Are you aware of any work arounds while we wait for this feature? Thanks.

[2021-02-19 10:54] S-J-D-13 commented on #4450
Hi @aliradd, I actually had to change my method in the end as zapier wasn't reliable enough for my use case.

In the end what I did was create two monitors, one with my endpoint tests the other was purely a trigger.

Then I wrote a simple node.js application that when triggered (using the second monitor) it used postman's api to run the endpoint tests monitor and store the response in a database.

[2021-02-19 10:58] aliradd commented on #4450
Hi @S-J-D-13 thank you very much for your quick reply. Are you by anychance in a position to share this work? of course I completely understand if not. have a good day and thanks again for the update.

[2021-02-19 11:09] knarf94 commented on #9542
Same issue for me... waiting for a fix.
FYI, there is a way to downgrade to the older version until there is a fix, by downloading and installing https://dl.pstmn.io/download/version/7.36.5/win64 (WARNING - collections and variables will be deleted by downgrade)

[2021-02-19 11:36] styordanov commented on #9237
Hey team, any update on this?
Having such a feature would expand even more the Visualizer benefits

[2021-02-19 11:49] Abdelkrim opened #9637 "I have lost all my configurations!"
**Describe the Issue**

1. It has been a long time since I used Postman and my collections are empty for no reason

**Steps to Reproduce**

2. I opened it, postman asked me to download the latest version

3. I continued the opening of Postman

**Now, I have lost all my collections!**

**Screenshots or Videos**

![Screenshot from 2021-02-19 12-43-20](https://user-images.githubusercontent.com/791663

[2021-02-19 12:07] postman-support commented on #9637
Hi,

It looks like you are using the very old version of the application due to which you are unable to view the data. Can you navigate to the below link and see if that helps you locate your collections?

- Postman Web: http://go.postman.co
- All Collections: https://go.postman.co/me/collections
- All Environments: https://go.postman.co/me/environments

Looking forward to your response.

via @Raj

[2021-02-19 12:12] krishna2095 commented on #8717
same issue with me
OS: Ubuntu 20.04.1 LTS
Browser: Google Chrome

[2021-02-19 12:15] twitharshil commented on #9481
@suifengshiqu Could you share the logs with us by following the steps mentioned in this [comment](https://github.com/postmanlabs/postman-app-support/issues/9481#issuecomment-779095220). It would be nice if you can share a screen recording of your user authentication process on the v8 application. Please mask any sensitive information on the recording. It will help in narrowing down the issue for u

[2021-02-19 12:23] krishna2095 commented on #8717
how did you solve this

[2021-02-19 12:23] krishna2095 commented on #8717
what's remedy for this problem ?

[2021-02-19 13:02] prasob-cs commented on #5302
Any update?

Though it looks like very small *feature its kind of prominent.
When working with all dark themes, switching to postman for testing is like horrible - (I'm blinded by the lights....!)

[2021-02-19 13:45] ms666 opened #9638 "Environment color"
Hello
A little suggestion for you to consider:
adding the possibility of specifying a color for the environment, and marking the currently selected color with this color - combobox in the upper right corner.
I think a few basic colors are enough, for me three are enough: red, green and none :)
I thought of it yesterday when I accidentally ran a method on a production environment :(

Greetings
Pawe

[2021-02-19 15:17] timbochamp commented on #9493
Where the duplicate tab and open in new tab issues are resolved here, I'm going to close the ticket. Please feel free to reopen if you encounter issues on v8.0.6!

[2021-02-19 15:17] #9493 closed, assigned to nobody

[2021-02-19 16:07] kool79 commented on #2678
+1 for asymmetric encryption, for JWE support

[2021-02-19 16:49] StrohmyerTR commented on #4682
I would like for this to apply to _any_ console log statements, so I can dynamically build a clickable URL which points to my team's error logging application.

[2021-02-19 17:00] DannyDainton commented on #9638
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8260

[2021-02-19 17:00] #9638 closed, assigned to nobody

[2021-02-19 17:38] kbping opened #9639 "creating apis in api builder from a collection"
**Is your feature request related to a problem? Please describe.**
I know it's the inverse of your design, but folks that start with a collection, then realize they need to have a single source for apis used by multiple collections, need a way forward.

**Describe the solution you'd like**
I'd like to be able to copy/import into api builder the entire set of apis in a collection.

**Describe alter

[2021-02-19 17:51] DannyDainton commented on #9636
Hey @DenysZvarychDEEP

I've tried to recreate the issue locally and using a .wav file but I'm unable to see the same behaviour.

<img width="1634" alt="Screenshot 2021-02-19 at 17 47 24" src="https://user-images.githubusercontent.com/17089546/108541686-aa44ba80-72da-11eb-8d1a-36ffb5f77911.png">

Are there any other contextual information that could result in this happening?

[2021-02-19 18:45] eroaespinosa commented on #9573
snap info postman
name:      postman
summary:   API Development Environment
publisher: Postman, Inc. (postman-inc✓)
store-url: https://snapcraft.io/postman
contact:   https://github.com/postmanlabs/postman-app-support/issues
license:   unset
description: |
  Postman is the collaboration platform for API development, used by 8 million developers and
  400,000 companies worldwide. Postman is an eleg

[2021-02-19 18:56] TheAndrey opened #9640 "Version 8.0.6 – New font"
I have updated to the new version.
I really didn't like the new interface font. It looks blurry on a normal monitor with 100% zoom. Most people haven't Retina/4K screens to make your new design font look great.
The previous version v7 used a normal pixel-perfect font. Please return it.

### Examples
* Version 7 font
  ![font_v7](https://user-images.githubusercontent.com/6772452/108548419-7b3b4280-

[2021-02-19 19:26] mrkprdo commented on #7210
If this feature is going to be implemented, READ/WRITE External file, I'm going to devote my devops career to use Postman, till something will surpass its functionality.

But for now, sticking to native testing frameworks, currently using Rest-Assured.

[2021-02-19 20:37] postman-support commented on #9607
Hey @yusufdonmez,

Thank you for reaching out and happy to help. V8 has a scratchpad feature that allows you to work offline. You can find it by going to the settings:
 ![](https://postman.zendesk.com/attachments/token/lISzYdX9Dy08GuKBkR2SbXGx4/?name=inline-1382685818.png)

 ![](https://postman.zendesk.com/attachments/token/4WMitsM3OV1qNplDbHeUMewSB/?name=inline-1383850183.png)​

You will, however

[2021-02-19 20:53] wesleyschlenker commented on #8404
@VShingala I am in a similar situation to @rodrigolj . I would like to be able to import multiple environments in one file to save myself the trouble of creating 100+ json files. I am trying to import data that wasn't previously in postman, so I have to create the JSONs myself.

Additionally, being able to dump all of my environments into a single export file at would be helpful.

[2021-02-19 21:21] benlind opened #9641 "Allow pinning right sidebar"
Postman version: 8.0.3

We heavily document our requests. In the new Postman UI (8.0.3), there is now a right-hand sidebar where you can see documentation. This is better than the previous location, but 1) it doesn't auto-expand, 2) there is no way to pin it open, 3) there is no keyboard shortcut to toggle this right-hand sidebar, and 4) if I open the docs for one request and then switch to anothe

[2021-02-19 22:41] kool79 opened #9642 "Script editor: "Invalid or unexpected token" is not visible in editor."
Script Editor generates error  _Invalid or unexpected token_ without details about error location.
Sometimes this cause unexpected behavior when we have non-printable unicode characters in source code. (For example, when we copy examples from guides/tutorials.)
For example, code below generated error.
![Screenshot - 20 02 2021 , 00_30_31](https://user-images.githubusercontent.com/4625317/108568516

[2021-02-19 22:41] kool79 commented on #8592
This happens for me also when I copied examples from CryptoJS site.
I removed lines of code one-by and code started to work when I removed line with comment!
Reopened this issue as #9642

[2021-02-19 23:21] healarconr commented on #2086
This feature would be helpful.

Add a thumbs up to [the first comment of the issue](https://github.com/postmanlabs/postman-app-support/issues/2086#issue-156938781) and a comment to show that you would like to have this feature too. Hopefully it would help to rank this issue higher.

[2021-02-20 00:04] slw07g commented on #2086
I wonder if this is the better place to report feature requests:

https://support.postman.com/hc/en-us/requests/new/

[2021-02-20 01:15] popeeyy commented on #8195
This needs to be added. The save button is in such an obscure location I didn't even notice it existed until I was told by a support agent. Never do I not want to save my work, and it gets annoying when duplicating requests because you have to save them each time before duplicating or else there's a chance their values are lost in the duplicated request.

[2021-02-20 01:16] popeeyy commented on #4671
Why isn't this a thing!?!?!? You can release a new version but not make a simple AUTOSAVE FEATURE!?!

[2021-02-20 03:30] aomsweet commented on #5302
Like vscode, the menu bar and window title bar are integrated. I think it's perfect.

[2021-02-20 08:08] kamalhm commented on #8195
for those who wants an alternative with autosave features, check out insomnia!

[2021-02-20 08:24] acebelowzero commented on #4009
+1

[2021-02-20 14:49] sromano88-svc commented on #5431
I am facing this issue with:
- Native App
- Ubuntu 20.04
- Postman for Linux
- Version 7.36.4
- linux 5.8.0-43-generic / x64

It is really annoying to hard-reboot the machine and loose not saved work.

[2021-02-20 15:56] DannyDainton commented on #6535
Hey @sivcan 👋🏻

With the monitors now being part of the left sidebar in V8, is this still an issue?

[2021-02-20 15:58] DannyDainton commented on #8632
Hey @ernestm

Is this still an issue that you're facing in the latest version?

[2021-02-20 16:02] DannyDainton commented on #9316
As it's been several months since the last response, I'm going to close this issue for now.

We can reopen if the problem still persists in the latest version.

[2021-02-20 16:02] #9316 closed, assigned to charlie-postman

[2021-02-20 16:05] DannyDainton commented on #9444
@xk0der

Was this issue resolved in the end? Are we able to close this out?

[2021-02-20 16:56] mistralbkru commented on #7349
- App Type: Desktop
- Postman Version: v8.0.6 x64 for Linux

same behaviour.
It is really sad

[2021-02-20 16:58] mistralbkru commented on #7349
Left Alt + Left Shift get file menu, but if i press  Left Shift first (Left Shift+Left Alt) it is ok, language switched

[2021-02-20 21:52] jkennaly commented on #3466
for(var i=0;i<tabs.length;i++) {
 tabs[i].save();
}
Maybe something like that?

[2021-02-21 13:22] chopswil15 opened #9643 "Publish Fails To .Net Core Web API After Postman Call"
I've got a Postman (8.0.6) call to my .Net Core 3.1 Web API on my local IIS
I run the Postman call successfully.
I then make a change to my service and try redeploy the service to my local IIS.
The publish fails with lots of this "The file is locked by: "w3wp.exe (24116)".
I shut down Postman.
I redeploy the service again and it succeeds.
I realize w3wp.exe is IIS .

Why is Postman blocking deploy

[2021-02-21 20:09] prateek-jain14 commented on #1066
+1

[2021-02-22 03:48] handhikadj commented on #4687
![image](https://user-images.githubusercontent.com/22522638/108654545-7c8a8c00-74fb-11eb-9a95-6156edacde1a.png)

this is on my Mac M1

[2021-02-22 04:30] codenirvana commented on #8154
@sufisaid Yes, this is the default since Postman v8.

We've seen a lot of [similar reports](https://github.com/postmanlabs/postman-app-support/issues/8791#issuecomment-661813107) _(check linked issues in this thread)_ regarding the query parameters encoding ever since we made this change. Sadly there's no common URL encoding standard that every client and programming language follows and being a d

[2021-02-22 04:30] #8154 closed, assigned to codenirvana

[2021-02-22 04:33] #8775 closed, assigned to codenirvana

[2021-02-22 04:37] codenirvana commented on #9554
This is a duplicate of #8808.

@Jakartoine `{`, `}`, and `:` are not reserved characters that require automatic encoding, refer https://github.com/postmanlabs/postman-app-support/issues/8154#issuecomment-783070482 for more details.

[2021-02-22 05:06] mohitranka commented on #9056
@bhavnaberi We are working on making access token management easier for OAuth2. Closing this ticket,

[2021-02-22 05:06] #9056 closed, assigned to vvs11, vikiCoder

[2021-02-22 05:30] antrikshjain opened #9644 "Assign color to postman tabs"
I like to propose one small but really helpful enhancement: "Assign color to postman tabs".

Typically a user opens 10-20 tabs while working on different environments.

To search a particular tab is difficult as tab size becomes small. It is bit annoying to search for a particular tab. Also sometime it ends up in calling a particular API by mistake which may belongs to critical environment (like p

[2021-02-22 06:28] MoriTanosuke commented on #8728
@bavulapati I attached the screenshot to my support ticket 68091

[2021-02-22 07:23] DivyaMoryani opened #9645 "Unable to Merge Forked Collection to Master"
Steps to Reproduce:
1. Collection with APIs.
2. Fork the Collection.
3. Add/Modify the collection APIs.
4. Merge the Forked to the destination ->Unable to merge -> Something went wrong with the server error is displayed
![image](https://user-images.githubusercontent.com/65155227/108675517-dc942900-7521-11eb-909f-7da0d8e41940.png)

[2021-02-22 07:24] DivyaMoryani commented on #9645
![image](https://user-images.githubusercontent.com/65155227/108675620-04838c80-7522-11eb-9bc6-a80677e63e8c.png)

[2021-02-22 07:30] DivyaMoryani commented on #9645
And I lost all the data i was working on since morning :( , tried sign-out , sign-in

[2021-02-22 07:56] Lofaloa commented on #8717
I did not solve the issue. I was able to make it work using the embedded Postman popup though. I have simply unchecked the box under the Callback URL field: _Authorize using browser_.

Redirecting from the browser to Postman still does not work for me.

[2021-02-22 08:23] DannyDainton commented on #9645
Hey @DivyaMoryani

Could you expand on the information about the Collections you're using, please?

- Are there Collections that you created yourself?
- Was this a fork from a Team Collection?
- Were there any sync connection issues before trying to merge?

Adding a recording of the issue being reproduced will also help us to investigate what is going on here.

[2021-02-22 08:28] DannyDainton commented on #9643
Hey @chopswil15

Can you provide some screenshots or a recording of where you are seeing this error with Postman blocking what you're doing.

Does this same action work correctly if you perform it with a Curl request from the CLI - You can use the code section in the right side context menu to generate the code snippet for the request.

[2021-02-22 08:55] DollarAkshay commented on #9531
Please add this option. Thank you.

[2021-02-22 10:40] arlemi commented on #8697
We've added a new endpoint to the Postman API that allows you to sync an API Element with an OpenAPI 3.0 spec:
`https://api.getpostman.com/apis/:apiId/versions/:apiVersionId/:entityType/:entityId/syncWithSchema`

You can see an example of it in the [Postman API documentation](https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-17971d1e-8f4f-46cf-8f60-1868b85596f0),

[2021-02-22 10:40] #8697 closed, assigned to nobody

[2021-02-22 10:59] DivyaMoryani commented on #9645
Are there Collections that you created yourself? - No , by another team member.
Was this a fork from a Team Collection? - No, But i tried forking from Teams Workspace also- I get the same error.
Were there any sync connection issues before trying to merge? - No. but forking took a while.

Tried uploading the video, it always > 10 MB :(

[2021-02-22 11:59] chopswil15 commented on #9643
I don't have anything that shows Postman  blocking
all I'm seeing is this
1) run Post man call to my service on IIS - This succeeds and data is returned in Postman
2) try to publish to that IIS service - Fail
3) shutdown Postman
4) Publish to that IIS service -Success

everytime.

Do you want a recording of all these steps occurring?

[2021-02-22 12:16] sabrina-biersack-smit commented on #9542
I figured out another workaround:
Uncheck the "Authorized using browser" and set "https://oauth.pstmn.io/v1/callback" to the Callback URL.

[2021-02-22 12:27] DannyDainton commented on #9643
Does it work if you send the first request with the `Connection: close` header?

There is an auto generated `Connection: keep alive` that is sent with the request, adding a new one will overwrite this header.

If you could send a recording, that would be great. The more information the better. 😄

[2021-02-22 12:33] chopswil15 commented on #9643
Changing the header Connection did the trick.

It's there a way to universally turn this off?

[2021-02-22 12:35] surajsadasivannair opened #9646 "Github shows special character's on UI for space or tab"
The recent release of git shows special character's for space or tab in the UI.
While this is not a concern for executing the requests, but it confuses when we sent screen shots to others.

It will be better if there is a toggle feature to display or not

[2021-02-22 12:38] DannyDainton commented on #9643
You could add something like this to the Collection `Pre-request Script` to ensure that header is used:

[code]

[2021-02-22 12:47] chopswil15 commented on #9643
I didn't realize keep-alive was a default.
Issue resolved for me.

Thank you for your help.

On Mon, Feb 22, 2021 at 5:39 AM Danny Dainton <notifications@github.com>
wrote:

[2021-02-22 12:47] #9643 closed, assigned to nobody

[2021-02-22 13:46] giridharvc7 commented on #4932
This is now fixed in v8. Clicking on edit in the quick view `eye` icon takes you to a new tab with environments.
You can edit and save here and switch back to your request tab.
<img width="1101" alt="Screenshot 2021-02-22 at 7 16 38 PM" src="https://user-images.githubusercontent.com/1040583/108716733-7ec40900-7542-11eb-9a42-4676384b572f.png">

[2021-02-22 13:46] #4932 closed, assigned to shamasis, vkaegis

[2021-02-22 13:47] eugene-rockspoon commented on #9160
Cannot reproduce it with `Version 7.36.5 (7.36.5)`

[2021-02-22 13:47] #9160 closed, assigned to nobody

[2021-02-22 13:51] DannyDainton commented on #9646
Hey @surajsadasivannair

In order for us to better understand what you're referring too - Could you please complete the issue template:

---

**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

Ensure that the screenshots/videos do not contain any sensitive information such as API keys or Access Tokens.

**Environment Information**

 - Platform Type:
 - Postman Version:
 - O

[2021-02-22 13:53] lukasherman commented on #9481
Reproduced on both Canary and NativeApp, logs shared to support email.

[2021-02-22 14:51] SolidSnake-Drive commented on #6418
I experience this as well.
To be precise, the environment variables seem to be updated only when the collection runner is successfully *completed*.
So if you use the collection runner to loop a request infinitely until you manually press stop, it will never be updated.

However it seems the runner has its own local environment during the run, as my loop requires the response from a starting reques

[2021-02-22 16:44] bean5 opened #9647 "Update snap version"
The snap version is pretty far behind at this point. Have you chosen not to support it or is it intentionally lagged? It would be nice if the latest version of postman was listed as edge version in snap. Right now, all channels point to the same version (see image).

This lead to confusion last week when a coworker started using new functionality that the snap version didn't even come close to hav

[2021-02-22 16:45] bean5 commented on #9647
Duplicates #9573. Sorry.

[2021-02-22 16:45] #9647 closed, assigned to nobody

[2021-02-22 16:46] bean5 commented on #9573
I'm seeing similar results. Latest version is 7.35.5 and not even edge provides option to use the latest. :(

For now I'm forced to download and install another way so I can have v8 functionalities that coworkers are now using.

[code]

[2021-02-22 16:48] bean5 commented on #9573
So the patch version has been ticking up, but not minor or major versions.

[2021-02-22 16:59] bean5 commented on #9573
See also #6888. Is there an automatic process to update snaps or do we need to get a particular team member's attention?

@numaanashraf ?

[2021-02-22 17:03] bean5 commented on #8326
@postman-support this is technically a bug (albeit a small one).

Version 8 defaults to flash of white. Version 7 was defaulting to a "tan/beige" color until it loads configurations. So technically the app regressed.

[2021-02-22 17:04] DannyDainton commented on #9573
Hey folks 👋 ,

We are currently in the process of rolling out V8 to all users and all distributions channels.

Snap is currently being worked on and should be available in the next few weeks.

[2021-02-22 17:22] GennadiiSvichinskyi commented on #9628
the same issue. My pre-script tries to authorize via https://login.microsoftonline.com/ with Authoriztion_Code flow. Before update it worked perfectly. But now I've got an error
![image](https://user-images.githubusercontent.com/23657874/108744947-d3fc1c80-753a-11eb-90ab-0917bb86a851.png)
It seems that something is wrong with cookies

[2021-02-22 18:17] KWottrich commented on #9488
My organization does not allow the use of workspaces with Postman, so I'm stuck being warned about this every time I open Postman.  Please either add an option or only warn me once!

[2021-02-22 18:32] cherlo commented on #7804
Postman is about to have a major mass-exodus if it already hasn't with the new quota restrictions.  Not having a no-prem version is a boned headed decision.

[2021-02-22 18:37] gkizior commented on #350
+1

[2021-02-22 18:41] SebastianJust commented on #9628
@GennadiiSvichinskyi for a work around you can use interceptor: https://github.com/postmanlabs/postman-app-support/issues/9629

[2021-02-22 23:12] kotx commented on #350
+1

[2021-02-22 23:13] kotx commented on #350
@a85 Any update?

[2021-02-23 00:11] xk0der commented on #9444
We didn't get further information to be able to troubleshoot this. Closing next!

@akbbhatt feel free to log a new issue with the requested information if you face this issue again. 👍

[2021-02-23 00:11] #9444 closed, assigned to charlie-postman

[2021-02-23 01:25] cs12110 opened #9648 "When disconnect internet, can't use `Collections` any more."
**Describe the Issue**

When I upgrade the postman version7 to version8, I got problem with the internet was broken, postman doesn't show `Collections` any more. But version7.0 is work fine on disconnect with internet(only local env). It was really annoying. Can you guys fix this, plz?

**Steps to Reproduce**

First: disconnect the internet

Second: open postman(v1.8.0)

**Screenshots or Videos**

[2021-02-23 04:13] postman-support commented on #9637
@Abdelkrim Just checking to see if you were able to locate the collections using the link?

via @Raj-postman | Postman Support

[2021-02-23 06:26] giridharvc7 commented on #5220
This is now fixed in v8. Please check and let us know if our solution solves your problem(s)
<img width="1084" alt="Screenshot 2021-02-23 at 11 55 47 AM" src="https://user-images.githubusercontent.com/1040583/108809075-1458aa80-75ce-11eb-9060-20a580d5d230.png">

[2021-02-23 06:56] giridharvc7 commented on #5340
Plese let us know if this solves your problem.
<img width="1059" alt="Screenshot 2021-02-23 at 12 15 56 PM" src="https://user-images.githubusercontent.com/1040583/108810946-479d3880-75d2-11eb-9030-6e71552fc645.png">

[2021-02-23 06:56] #5340 closed, assigned to vkaegis

[2021-02-23 08:56] jofrev commented on #5220
Thanks for implementing this so fast, with v8 I would have been able to resolve my issue a lot faster!

I really like the visual indicator for newlines in the Environment editor, this helps a lot spotting leading and pending newlines, and I would love to see this (or something similar) added to the Quick Look editor as well.
Also, it's possible now to delete (pending) newlines in Quick Look editor

[2021-02-23 09:20] jooleeanh opened #9649 ""File" in menu bar not displaying correctly when window is snapped to top left corner of second monitor on Windows"
**Describe the Issue**
The "File" menu does not display properly when window is snapped to top left corner of second monitor on Windows

**Steps to Reproduce**
- Plug second monitor and arrange it to be at the right of main monitor (no bug when second monitor is on the left)
- Place Postman window on second monitor and snap to top left corner (full-screen or small window)
- Click on menu bar > Fil

[2021-02-23 10:26] RaffaelaHiess commented on #9620
We are also interessted in this feature. It should be possible, that all members of a workspace have editor access for all collections by default.

[2021-02-23 11:06] surajsadasivannair commented on #9646
![image](https://user-images.githubusercontent.com/79456187/108835245-35ed6e00-759d-11eb-81ca-d4664ad90cd5.png)

[2021-02-23 11:35] postman-support commented on #9610
Hi @j-c17!

I hope the above workaround was useful.

We also have an open feature request for this issue - 6746
Please feel free to contribute to the thread.
via @labifrancis | Postman Support

[2021-02-23 11:42] DannyDainton commented on #9646
Currently, there isn't a toggle to disable this from view but you could the 'beautify' option or `CMD + B` to make those spaces and tabs consistent.

[2021-02-23 11:58] tahayassine commented on #5194
+1

[2021-02-23 11:58] jasseemallybokus commented on #5194
+1

[2021-02-23 12:42] AndrewTseZhou opened #9650 "Slow start-up!!!"
Why is my workspace uploaded to the cloud??? fuck!!! This causes the startup speed to become very slow!!!!

[2021-02-23 12:50] DannyDainton commented on #9650
@AndrewTseZhou

We can appreciate the frustration this may cause but there is absolutely no need to use that language to describe it.

[2021-02-23 12:50] #9650 closed, assigned to nobody

[2021-02-23 14:00] fsamwel opened #9651 "Jump from test assertions in runner result to exact line in test scripts of the request"
**Is your feature request related to a problem? Please describe.**
If I run a test with many folders, requests and tests (validations) then going from the runner result to that request and that specific testscript  is now not as easy as can be. The only way I can see is pointing the mouse over the path to see the path to the request and then use the sidebar to find the request. Next finding  the t

[2021-02-23 14:00] VaishnaviChallaPostman commented on #8656
[code]

[2021-02-23 14:09] Chris-Loughnane commented on #7210
... why is this still not available? I have found posts from 5~6 years ago with people asking for it. I'm tired of generating JWT tokens in my CLI and then manually updating my postman environment. Let us access system environment variables or let us load from a file.

[2021-02-23 14:31] silverjohnes commented on #3358
+100

[2021-02-23 14:56] chrisj-ifs commented on #9614
Agreed!  My entire development team contacted me about this feature...too much clutter... give us a way to toggle it off if we want to!!

[2021-02-23 14:57] bodograumann commented on #8837
In the current version 8.0.6 of postman you can define a scope to use. So I think this issue is fixed.

[2021-02-23 16:20] carlosezam commented on #3716
for a specific jwt in just one request

[2021-02-23 17:35] tbrownSpecialized commented on #6102
We also need this role.  We were unable to modify a monitor so that we can run it manually.  During an outage, we had to create a brand new monitor off the collection to be able to manually re-run it and hope that we had the right environment etc...  This should be a standard feature of any tool that is going to allow teams and organizations to use it.  Someone has to have true admin privledges.

[2021-02-23 18:35] postman-support commented on #9607
Hey @yusufdonmez,

Just following up here. Let me know if you have any questions or concerns following my last response.

via @SabriH10 | Postman Support

[2021-02-23 19:16] stereoheart commented on #8622
Hi,
Facing the same error while calling a web API with SSL certificate.
Please suggest.

[2021-02-23 19:29] stereoheart opened #9652 "Request throws ECONNRESET with SSL Certificate"
Hi,

I am using an ASP.NET WEB API.
Hosted on Windows 2019 IIS 10 server.
I am able to call the web API successfully using Postman 8.0.6.
But after adding the SSL certificate I am getting the below error.
![image](https://user-images.githubusercontent.com/19296270/108896772-efb6ff80-75da-11eb-88b8-6bee56799233.png)

I tried disabling the SSL certificate verification but I am receiving the same err

[2021-02-23 19:32] nasouhmr commented on #6239
same issue on 23-02-2021 (Win 10 /  x64)

[2021-02-23 20:04] mlwanw2020 commented on #4770
c:\curl\bin\curl.exe -H "Content-Type: application/json; charset=UTF-8" -H "Authorization: UsersJwt %Token%" "Cookie: ServerID=1028" -k -L -X GET "https://baylor-b4.bioraft.com/jsonapi/node/chemical_container?include=field_chemical_type,og_audience,field_chemical_space,field_chemical_manufacturer" -d "&filter[lab1][condition][path]=og_audience.title&filter[lab1][condition][value]=Wood Lab&filter[l

[2021-02-23 20:05] mlwanw2020 commented on #4770
I am having problems with this curl command for a drupal API.  This is the get request with the curl switches  what am i doing wrong guys

c:\curl\bin\curl.exe -H "Content-Type: application/json; charset=UTF-8" -H "Authorization: UsersJwt %Token%" "Cookie: ServerID=1028" -k -L -X GET "https://baylor-b4.bioraft.com/jsonapi/node/chemical_container?include=field_chemical_type,og_audience,field_chemic

[2021-02-23 20:05] revzman123 commented on #3897
Still the only solution! Thanks!

[2021-02-23 20:06] revzman123 commented on #3897
they blame it on squirrel (same with discord) yet, obviously, that's not the case

[2021-02-23 20:17] KellenRenshaw opened #9653 "Postman not using DNS round-robin if server fails."
**Describe the Issue**
Postman doesn't try the next server in a DNS round-robin when the first fails. In the case I ran into, the first server in the round-robin returns ECONNREFUSED, while the second works as expected. There are only two IPs in the round-robin record.

The browser(s) connected to the server as expected, but Postman will repeatedly connect to the broken server without trying the a

[2021-02-23 20:31] diegosiao opened #9654 "A "Time elapsed" label with a real time counter of the request while it is being processed"
**Is your feature request related to a problem? Please describe.**
I understand that requests take milliseconds, in general, but there are exceptions where heavy processing is made by APIs.
In our case, we have executions that take several minutes and not seeing the time elapsed is really frustrating.

**Describe the solution you'd like**
Why not a grayed label with a small font and an elegant ico

[2021-02-23 22:18] Abdelkrim commented on #9637
@raj-postman I have deleted the old version of postman; my comments remain.

thank you

[2021-02-23 22:18] #9637 closed, assigned to nobody

[2021-02-23 23:44] postman-support commented on #9634
Hi Support​,

Thanks for reaching out! I am more than happy to assist you with your inquiry.

From what I can gather, you may leverage our built-in oAuth (1.0 & 2.0) for this. If you happen to have any questions on how to implement I suggest posting on our community forum.
https://learning.postman.com/docs/sending-requests/authorization/#oauth-20

We want to reserve this Support Channel for break-

[2021-02-24 00:04] Pricilla09 commented on #7568
Seems like the same issue exists when you are trying to publish the Docs, and the "Learn more about version tags" link is broken as well.

Environment Information

Platform Type: Native Desktop App
Postman Version: Version 8.0.6
Operating System: Win 10

https://user-images.githubusercontent.com/71498483/108924947-a7e5b600-7676-11eb-918e-40ecdab2c2d0.mp4

[2021-02-24 00:47] taehoshino opened #9655 "[FR] Bookmarking feature to star a public workspace"
**Is your feature request related to a problem? Please describe.**
Currently, there is no feature to bookmark favourite public workspaces, so if user wants to come back to a specific workspace, they will need to search for it again or fork the collection.

**Describe the solution you'd like**
Bookmarking feature that enables starring a public workspace (and have a starred list) would help users to

[2021-02-24 02:57] hello2mao commented on #8658
+1
![image](https://user-images.githubusercontent.com/8265961/108940847-0880ed00-768f-11eb-84de-e05dd98552f8.png)

[2021-02-24 03:39] bwibt commented on #6780
I also encountered the same problem, how can I solve it?

[2021-02-24 03:55] wulfn2000 commented on #7301
Any update on this?

[2021-02-24 04:44] fappaz commented on #8701
Same for me on Version 8.0.6, win32 10.0.19041 / x64.

My pfx certificate works on curl and SoapUI.

[2021-02-24 05:16] saswatds opened #9656 "Postman web does not remember collapse/expanded state of sidebar"
**Describe the Issue**
On `postman-web` the application does not remember the last collapse state of the sidebar. Reloading the page always expands the sidebar.

**Steps to Reproduce**
1. Open postman on web `<teamdomain>.postman.co`
2. Open any workspace of your choice
3. Click on `Hide Sidebar` button on the bottom left corner
4. Reload the page/ Cmd or Ctrl + R
5. Observe the sidebar open again

[2021-02-24 09:47] rufreakde commented on #3312
Tried to use @ulayera sugestion but it did not seem to work in my scenario:
url: `{{myVar}}/test/discovery?entityID={{myVar}}`

[code]
In the end I constructed the url myself with string template literals.

pm.request.url was somehow always empty `""`

[2021-02-24 10:21] jeromemeichelbeck commented on #6719
I mean... this is tha basics of GraphQL: schema introspection.
How can this issue be opend for this long?

[2021-02-24 10:29] micheljung commented on #3789
"Authorize using browser" only exists for OAuth

[2021-02-24 10:40] cosmo0 commented on #8179
[Apparently](https://community.postman.com/t/setting-headers-for-entire-collection-folder/708/37) we need to "upvote" this, so, +1

[2021-02-24 11:04] shashankawasthi88 commented on #9609
Closing this for now. @om8n please reopen with more details about the Integration.

[2021-02-24 11:04] #9609 closed, assigned to abhijitkane

[2021-02-24 11:16] willnaoosmith commented on #8040
Any update on this?
Insomnia does it!

[2021-02-24 11:45] RGlanville commented on #4009
+1

[2021-02-24 11:52] johnnyce commented on #7301
Happy 2021 Everyone :)

I'm not looking to cause any trouble, but I felt it was important to pass on the fact that .NET Core 3 / 5 have built in support for Swagger (aka Swashbuckle), NSwag, and Open API. Just Google it and MS will probably be your result. These products support dynamic URL Parameters and if PostMan is going to be an Open API tool then it should too... But please don't make the ch

[2021-02-24 12:15] zLounym commented on #8195
I've been using Insomnia for a long time. I switched recently to Postman because it is widely used in my new job. The tool is so far very good and comparable with Insomnia. But I was so surprised when I saw those red dots. I am just used to have saved any change I do. Is there any plan to implement auto-save?

[2021-02-24 13:39] AlexanderKaran commented on #6681
Any update on this? Really need this feature one of the reason we invested in post. Very sad to find out it is not possible.

[2021-02-24 13:47] AradAral commented on #6719
It's almost embarrassing to still ask for this in 2021... Such a basic feature... Yet still no luck...

[2021-02-24 14:03] eya62 commented on #9652
Hello,

Are you running this with CI newman? if yes you can add --secure like this
newman run collection.json -e environment.json -g globals.json  --insecure

[2021-02-24 14:23] jacox02 opened #9657 "Postman slows down my pc"
**Describe the bug**
When I open Postman app, my pc slows down to a crawl

**To Reproduce**
Steps to reproduce the behavior:

- Open Postman app

- Expected behavior

- I expect postman to not slow down my PC

App information (please complete the following information):

App Type Windows EXE
Postman Version: v8.0.6
OS: Windows 10 20H2
RAM: 8GB

[2021-02-24 15:28] DannyDainton commented on #9657
Hey @jacox02

Could you provide some images from the resource monitor or the Activity Manager, please? Also, any information about your Postman usage (rough number of Workspaces, Collections, Environments, etc.)?

As you can appreciate, it's very difficult to reproduce what's happens on your machine given all the other variables that could also cause it to be less performant - The more specific de

[2021-02-24 16:36] Elsewhere42 commented on #9481
Same issue here.  I open Postman v8.0.6 and all I see is "Unable to load data as you're offline You can view your work and data once you’re back online."

Postman is now effectively useless for me.  I already tried to uninstall, reboot and reinstall.

Does anyone have a link to download an older version of Postman that still works?

[2021-02-24 16:57] eavdmeer commented on #9481
@Elsewhere42 I have the MacOS version [7.36.1](https://dl.pstmn.io/download/version/7.36.1/osx64) link only

[2021-02-24 17:20] Elsewhere42 commented on #9481
@eavdmeer Thanks... however I need the Win64 version.  The Postman support provided the following links to install v7.x

macOS: https://go.pstmn.io/dl-macos64-v7-latest
Windows 64-bit: https://go.pstmn.io/dl-win64-v7-latest
Linux 64-bit: https://go.pstmn.io/dl-linux64-v7-latest

[2021-02-24 18:03] kool79 commented on #9657
It happens also for me also about 7 days ago. Unfortunately I did not collect any data and I have only one screenshot from task manager (see below) Postman occupied about 25..30% of CPU resource ( Intel Core i7-8565U with 4cores/8logical processors)
I found high CPU usage when I leave my working place and then back in ~5hours. It was _permanent_ load with 100% usage of one of the logical processor

[2021-02-24 18:09] sankalp0o commented on #9323
I'm closing this issue since the original request is solved. If you have more inputs on how request links can be improved, please let us know!
I understand that interface-based commenting features require additional interaction as compared to code comments. However, this direction lets us build a consistent commenting experience across everything in Postman. I'd, however, keep this feedback in min

[2021-02-24 18:09] #9323 closed, assigned to nobody

[2021-02-24 18:15] sankalp0o commented on #7629
Hey Patrick, I hope that you've had a chance to try out public workspaces. Do they solve your use case of sharing environments publicly?

I'm closing this ticket, but please reach out if you can think of any way we can make this experience better for you and your collaborators!

[2021-02-24 18:15] #7629 closed, assigned to vvs11, Raja-Simha

[2021-02-24 18:17] sankalp0o commented on #8758
Hey @D4ITON , we've added different icons for workspaces with different visibility, very similar to what you had suggested. Do give our recent versions (v8+) a try and tell us what you think. The same experience is also available on the web. In the meantime, I'll close this ticket, but do let us know how we can improve this experience.

[2021-02-24 18:17] #8758 closed, assigned to sankalp0o

[2021-02-24 18:22] sankalp0o commented on #8052
Hi @spencerrichardhenry. If you've seen the comment notifications recently, they include a hyperlink to the exact request and the request opens directly in your app without redirecting you to the web view. I'm very curious if this has improved your experience of working with comments. If not, what's missing?

[2021-02-24 18:54] inland-rob commented on #9323
ok
for now we are adding comments in the value example of the key:value pair.
Sucks, but works for today.
Maybe survey your user base to see what they want and how important this is.

On Wed, Feb 24, 2021 at 10:09 AM Sankalp Agarwal <notifications@github.com>
wrote:

[2021-02-24 19:19] jwbanning opened #9658 "Support the Open API securitySchema "description" in the Postman collection and application UI"
I would like to have a text field to help end users better understand Authentication security schemas in Postman.

**Describe the solution you'd like**
The text field should be read or pulled from the Open API specifications when available. If not using a specification, the user should be able to add context in the Authentication selection.

**Additional context**
Postman internal movie: https://d

[2021-02-24 19:23] kool79 opened #9659 "Version 8.0.6 – RequestsTree (sidebar) enhansments"
Version 8.0.6
I want to report about issues/ask for few enhansments when working with RequestsTree.

**_Issue#1_**: We have too many tabs with requests. Every time when I click item in requests tree I have +1 opened tab.  But sometimes I want just to select (highlight) item in the tree without openeing it. For example, I do that before I scroll the tree to not loose my context. **Proposed solution

[2021-02-24 19:47] stcalica commented on #9498
Another user reported that they would like to just have the icons on the left hidden, but keep the collection browser.
![image](https://user-images.githubusercontent.com/5624835/109056971-04a49900-7696-11eb-8d92-99bde475c6bc.png)

[2021-02-24 19:58] stcalica commented on #9498
Another user would like the icons to stay minimized as they click them and have the explorer still open.

[2021-02-24 20:19] haydenhancock commented on #8038
I wouldn't really consider this "few in numbers." Any Windows environment that respects security has NTLMv2. We cannot use Postman because this feature is broken.

[2021-02-24 20:24] kool79 opened #9660 "Postman app Console : collapsed sub-items for network requests are expanded automatically"
**Given** I have 3+ network logs in console
**When** I try to analyze network logs in console and expand/collapse sub-item(s) inside  one request-log (Request Headers,Request Body,Response Headers,Response Body)
**Then**  other logs should not be affectes
**But** sub-item in another logs is expanded also

**_Steps:_**
  1. clear console, ensure "Hide network" is disabled, make 3 api calls (GET htt

[2021-02-24 21:03] estiventhneira commented on #6682
Nothing here?

[2021-02-24 21:24] timbochamp commented on #9660
Hi @kool79, thanks for flagging this! I'm able to reproduce and will forward this along to be addressed.

[2021-02-24 21:29] kool79 commented on #9640
@TheAndrey
Did you try to incrase zoom via postman app? From MainMenu> View > ZoomIn. This should help to save your eyes until this will be fixed (
Or you can try another "hack":  Actually issue is caused by "Inter" family of fonts. You can investigate that via View-Developers>Show DevTools (current shell). "Inter" is a web-font which is not installed (by default) on my machine with win10.
And bec

[2021-02-25 02:18] Pricilla09 commented on #9626
I faced this issue again today. Restarting the app didn't help!!

https://user-images.githubusercontent.com/71498483/109093066-ae496000-7752-11eb-8a85-ca36dd881502.mp4

[2021-02-25 03:02] aniltv06 commented on #6351
+1 please provide an option to export postman console logs

[2021-02-25 04:11] hingarn commented on #8560
+1 Please add this feature. The light theme is great during the day but too bright at night. And dark theme doesn't have enough contrast during the day. Making it switch automatically will make my life a bit easier :)

[2021-02-25 07:11] shashankawasthi88 commented on #9379
@ChocolateLoverRaj thanks for posting the query.
You could backup your collection directly to GitHub using the GitHub Integration (https://learning.postman.com/docs/integrations/available-integrations/github/)
The files present in GH can also be directly imported into Postman using the import from the repository (https://learning.postman.com/docs/getting-started/importing-and-exporting-data/#impor

[2021-02-25 07:37] deefdragon commented on #9379
@shashankawasthi88 so basically because it allows you to sell a product, you don't want to add the ability to save to an external location? great. Good product. I am starting to understand why other things like websocket integration have sat undone for years.

Seriously tho, No. I explicitly don't want to use the postman API. I'm not paying to access my tests. I also don't want to have to rely on

[2021-02-25 07:38] klemens-u commented on #6351
Hi OP here, after nearly 2 years and 27 "Thumbs Up", could this feature request be please considered? Thanks a lot!

[2021-02-25 07:48] franz-at-dns commented on #9488
100% agreed.
it's completely okay to inform about your more advanced features - but please don't annoy us with it all the time. if i didn't want it the first time, i won't want it the 42nd time.

[2021-02-25 07:54] abhijitkane commented on #9379
@deefdragon The [Postman API](https://learning.postman.com/docs/developer/intro-api/)is available in the free plan - there's no payment required to access your collections. This is the recommended way to access up-to-date versions of tests in your Newman / GH actions runs.

Postman is a collaborative, cloud-first platform, and being able to "save" files to disk is something that would hamper a lot

[2021-02-25 08:16] deefdragon commented on #9379
Free plan: **25** shared requests. Because I can test my stuff in 25 requests.
(also, morally, I refuse to pay for a product that has Single Sign On (SAML) as a purchased product feature, not as a built in. It shows that postman does not put security first.)

Postman is the goto tool for external api testing, learning, sandboxing, and architecting. All of these things are often done by individuals

[2021-02-25 08:30] charlie-postman commented on #8908
@cyrielle-hada Thank you so much for your input!

Just an update that we have solved the first specific issue called out in the ticket. Users today have access to and permissions for the monitors originally in their personal workspace after they join a team.

The second issue, "Monitoring history cannot be recovered", is to be resolved.

[2021-02-25 10:02] bkonetzny commented on #9626
Same here with Postman v8.0.6 (native desktop app) on Windows 10 (Version 10.0.19042.844), clicking the Eye (Quick Look) button for the environments does nothing. Restart of Postman didn't help. Nothing to see in the DevTools or Postman Console.

[2021-02-25 10:28] Pricilla09 commented on #9626
@bkonetzny finally its not only for me :-) I was so confused with this behavior.

[2021-02-25 10:30] ash007-postman opened #9661 "Collection Runner in a separate window"
On behalf of a user:

**Is your feature request related to a problem? Please describe.**
In the latest v8 version, test runs in the same window making it difficult for the users in terms of debugging. Earlier there was a possibility to toggle between fail test and actual test with the help of a separate window.

**Describe the solution you'd like**
It would be great to have a Runner opened in a  s

[2021-02-25 11:08] ritwijsinha commented on #9661
We still have the option to see the all/failed/passed tests in Runner, it's just that the view is different now.

V7:
![image](https://user-images.githubusercontent.com/19693841/109144920-d30bfa80-7787-11eb-8a7b-2c64d862d2de.png)
![image](https://user-images.githubusercontent.com/19693841/109144938-d7381800-7787-11eb-9c56-fa707cd2ea5d.png)
![image](https://user-images.githubusercontent.com/1969384

[2021-02-25 11:12] ritwijsinha commented on #9652
@stereoheart is the endpoint publicly accessible? It would be great if you could help us reproduce this issue.

[2021-02-25 11:33] knottronix commented on #9661
Hi guys, I am the user who reported this issue. I think this below best explains what the issue is and how it could easily work a lot better and save a huge amount of mental cross-referencing between windows or tabs:

It really would be useful to be able to link from a failed test back to the request and test code that failed.
At the moment I have to take a note of which test (in a big collection)

[2021-02-25 11:34] knottronix commented on #9661
In fact, this was not logged correctly - I will log this a new feature request.

[2021-02-25 11:37] oznecniV97 commented on #4009
+1

[2021-02-25 11:38] knottronix opened #9662 "Link a failed test from collection run back to the request to view test code and the response that caused the failure."
It really would be useful to be able to link (click a hyper link) from a failed test back to the request and test code that failed.
At the moment I have to take a note of which test (in a big collection) failed in the test run window – I take down the name of the request and which collection folder it’s in.
Then I switch to the collection window, scroll down the folders to find the right folder, t

[2021-02-25 11:39] knottronix commented on #9661
Done- here it is https://github.com/postmanlabs/postman-app-support/issues/9662

[2021-02-25 12:13] pazfelipe opened #9663 "Duplicated tab override another ones"
**Describe the Issue**
When I try to save a duplicated tab, the original tab is override with duplicated tab's information,

**Steps to Reproduce**
Create a tab, put some content in it and save it.
Duplicated it, put some content in the duplicated tab and save it. Both tabs will get same content, title, method.

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/19727571

[2021-02-25 12:59] DannyDainton commented on #9663
This is the intended behaviour when duplicating a tab - You would need to duplicate the request from the sidebar to get a different copy.

https://learning.postman.com/docs/getting-started/navigating-postman/#tabs

[2021-02-25 13:07] saswatds commented on #9661
Hey @knottronixm, thanks for reaching out. Your feature request is exactly in line with what we intend to do in the next iteration. Having the Runner in a different window was one of the major hindrances in term of integration with the rest of the postman ecosystem. Our first step was to get the runner into a tab within the main window, now as that's done in the V8 version of the app, over the nex

[2021-02-25 13:07] #9661 closed, assigned to nobody

[2021-02-25 13:20] DannyDainton commented on #9663
Closing this one as it appears to be working as intended.

[2021-02-25 13:20] #9663 closed, assigned to nobody

[2021-02-25 14:49] alexs20 commented on #7294
The same issue on Linux Mint
I feel like this app is running crypto mining on background...

[2021-02-25 15:07] kalinakp commented on #9481
Same problem with both Postman 8.0.6 and Postman canary. I am in VPN, but with connectivity to the internet (proxy settings are set to system). Send logs over to help@postman.com.

[2021-02-25 15:21] rodrigolj commented on #8404
In case someone needs a workaround, here's one: https://vim.fandom.com/wiki/Save_each_line_in_separate_numbered_files

Kind of silly this is still an issue, but this 29 year old product helps.

[2021-02-25 15:29] mcarberry-bc commented on #6351
+1

[2021-02-25 15:33] jacox02 commented on #9657
Hello guys, I hope you are all well, well, in my case I have a gaming laptop and it has an ultra energy saving mode that, as its name says, saves energy at all costs, and as it happened it got slow when I opened postman, but **this is not a postman issue**, sorry for the inconvenience.

[2021-02-25 16:17] DannyDainton commented on #9481
We really appreciate all the logs file that you have all sent to us - We're still investigating things from our side and will update the thread with more information, once we have more to share. 🙏

[2021-02-25 16:21] tyrelcraig commented on #7399
This was happening to me on Postman 8.06.
But I was able to fix it.

On Mac:
Close Postman
Go to Finder (Cmd+Opt+Space) > Go to folder (Shift+Cmd+G) > Paste ~/Library/Application Support/Postman  > hit return > Delete the files.
Reopen Postman and it should work again.

[2021-02-25 16:32] phalverson commented on #7210
Waiting for this as well, I want to read AWS authorization credentials (key, secret, session token) from a local `.aws/credentials` file that changes very frequently (SSO timeouts), instead of constantly having to copy and paste values into workspace environment variables.

[2021-02-25 17:02] D4ITON commented on #8758
Hi, I'm grateful to have contributed, It seems useful, if someone else think there is a better option it could be welcome, so much thanks postman team!

[2021-02-25 17:57] stcalica commented on #9491
multiple users report fork labels cover collection names

[2021-02-25 18:28] yh-automation opened #9664 "Inconsistency in running Pre-request scripts and Tests scripts for Collection and Request levels"
Unexpected sequence of running Pre-request scripts and Tests scripts for Collection and Request levels;

**Steps to Reproduce**
1. Create a collection with one request;
2. add in Pre-request Script for Collection: **console.log("Collection Pre-request-Script running");**
3. add in Tests for Collection: **console.log("Collection Tests-Script running");**
4. add in Pre-request Script for Request: **

[2021-02-25 19:57] timbochamp commented on #9664
Hi @yh-joseph , thanks for spotting this! I'm able to see the same thing with the collection-level test script triggering before the request-level test script. I'll forward this along to be investigated.

[2021-02-25 20:35] timbochamp commented on #9664
@yh-joseph I spoke to our development team, and this run order is by design actually - my mistake. In https://learning.postman.com/docs/writing-scripts/intro-to-scripts/ and https://assets.postman.com/postman-docs/execOrder.jpg , the collection-level test script will precede the request-level test script.

At the same time, I'll raise with our Product team that the wording in the collection-level

[2021-02-25 21:02] davmillar opened #9665 "Postman appears to hang after updating on Linux"
**Describe the Issue**
Postman appears to hang after updating on Linux. After clicking the prompt to restart, the app will update in the background, relaunch, and get stuck on the screen with the orbiting graphic and never transition into the main app. After using the terminal to pkill postman and relaunch it, it behaves normally.

**Steps to Reproduce**
Wait for an update prompt, follow it.

**Sc

[2021-02-25 21:11] DannyDainton commented on #9657
Thanks for getting back to us @jacox02

@kool79 I'm going to close this one for now but we can always reopen it again if you notice any more issues with V8.

[2021-02-25 21:11] #9657 closed, assigned to nobody

[2021-02-25 22:11] greygatch commented on #7355
Restarting the Mac application worked for me.

[2021-02-25 22:30] Major-Mike commented on #8612
For what it is worth, wanted to share I am on 8.0.6 and this is occurring, here is the error:

I have read all the comments and I can add that it is not an HTTP vs. HTTPS issue and it is not a provider issue, tested on multiple. TIA.

[2021-02-25 22:31] timbochamp commented on #6623
I'm unable to reproduce this when using a couple collections, deleting them, and importing/exporting them by following the steps listed. I'm on the latest v8.0.6 app and on Postman for Web. I'm going to close this out but please feel free to reopen if you're still encountering this issue!

[2021-02-25 22:53] awachat commented on #2096
Hey Team,

Our team uses PyCharm as a preferred IDE for working with code. We recently moved to PostMan as a preferred IDE for working with APIs. Our devs are used to the shortcuts on PyCharm, making it hard to use Postman API to write API definitions, review them, or discuss API design.  The most annoying part is code folding and unfolding. The shortcuts are different for PyCharm and Postman API

[2021-02-25 23:46] davidkhardwick commented on #9344
We are excited about this improvement as well.  Looks like it is up 'Next' in the development cycle based on the last notification here.

[2021-02-26 00:03] webdevnerdstuff commented on #8163
Any update on this? This would be a GREAT feature to add, for all the reasons @jsooter mentioned.

[2021-02-26 05:46] afefer commented on #4009
This would also be super useful for testing GraphQL subscriptions.

[2021-02-26 06:09] itsknk commented on #4009
This would be insanely useful for testing the GraphQL subscriptions.

[2021-02-26 07:42] lucaNationwide commented on #2281
Looking forward to a solution for this issue

[2021-02-26 09:04] ijcnvv commented on #8301
there is `~/snap/chromium/common/chromium` in my case

[2021-02-26 09:26] Kallb123 opened #9666 "Allow local workspaces without being signed in"
**Is your feature request related to a problem? Please describe.**
We cannot store our project work off premise. Therefore we cannot sign into Postman as data is automatically synchronised. Postman without an account lacks basic features (mainly workspaces).

**Describe the solution you'd like**
It should be possible to create local workspaces so that it's easy to switch between different APIs and

[2021-02-26 09:37] ccvermeulen opened #9667 "Created and Imported Collections disappear after exiting postman app"
After importing, or creating a sample collection everything works as expected.
![image](https://user-images.githubusercontent.com/10669909/109282597-0600cd80-781e-11eb-869c-7ed68ae9f977.png)

However, after restarting postman, everything disappears from view and even open calls cant be reopened.
![image](https://user-images.githubusercontent.com/10669909/109282787-49f3d280-781e-11eb-898d-34527b5e2

[2021-02-26 10:00] nasco-a opened #9668 "Change the behaviour of the undo[CMD+Z] when working with Form-Data"
**Is your feature request related to a problem? Please describe.**
If you are working with form-data behavior is observed when you try to undo changes(CMD+Z/CTRL+Z).

the undo option will clear any input in one step, instead of undoing only the latest changes it will actually clear everything in just a single step.

**Describe the solution you'd like**
Configure the undo option in form-data to beh

[2021-02-26 10:14] Najtu commented on #675
+1 Could be very usefull

[2021-02-26 10:58] Corcioli commented on #4079
+1
3 years already!

[2021-02-26 11:13] vAdyar commented on #4079
+1

[2021-02-26 11:55] j-bjorne commented on #1470
I am on Postman v8.0.6 and when I import a collection with:
[code]

I still need to manually go into the collection and change the key and value as they are empty upon reporting. You said this was fixed in release v7.33, is it somehow broken again or is it supposed to act this way?

[2021-02-26 12:14] vmburdParl commented on #8826
Have just encountered this issue as I have been using Postman for testing cPanel/WHM API calls. Unfortunately, as from release 88, cPanel has removed support for Internet Explorer 11.  This means I can't use Postman anymore for testing/development.

Following url refers  blog.cpanel.com/internet-explorer-11-end-of-support-in-cpanel-version-88/

[2021-02-26 12:22] morsaPT commented on #7294
Using 8.0.6 version I got the same high CPU usage on Windows 10. The solution provided by @Ragnoroct worked for me.

[2021-02-26 12:27] hiradhu commented on #8911
@DannyDainton  - Any update on this issue? Is the workaround still needed?

[2021-02-26 12:41] mreis1 commented on #9564
Hey @Raja-Simha , don't know if the bug was solved or not.
In my case, edit works if we create a new request, but if we clone an existing request with a description on it, save doesn't work.

[2021-02-26 13:20] DannyDainton commented on #8911
Hey @hiradhu

Are you able to fully explain and show the information of what you're currently seeing. The more detail the better.

As you're using the updated version, I want to ensure its not something else you're seeing.

[2021-02-26 15:40] postman-support commented on #9607
Hey @yusufdonmez,

I'm going to close this ticket as we haven't heard back, and given the information provided. Feel free to reach out if you ever have any questions or concerns. We'll be happy to help.

Have a great day!
via @SabriH10 | Postman Support

[2021-02-26 16:02] smali-kazmi commented on #6516
i got this error after updating my Postman to latest version reason behind was that i have to remove file and reselect it issue was resolved!

[2021-02-26 16:36] d1820 commented on #8207
I agree, This is the only app I have that I just can not run in DarkMode. It needs a better contrast palette that uses softer colors. Maybe refer to the VSCode theme Dark+  has a good contrast set
![image](https://user-images.githubusercontent.com/377631/109327902-12812800-7816-11eb-9d50-1fd66a5e2167.png)

[2021-02-26 16:37] postman-support commented on #9667
Hi @ccvermeulen,

Thank you for reaching out, and happy to help. Looking at your screenshot, it looks like your app isn't syncing to our servers which would most likely explain this behaviour:
 ![](https://postman.zendesk.com/attachments/token/INPT1UuHS7tzrGhlbOJqVrmM9/?name=inline732008860.png)
For reference: https://learning.postman.com/docs/getting-started/syncing/#states

Could you reach out t

[2021-02-26 19:07] natenho commented on #9176
I'm getting the same error, simulating an empty request situation:

![image](https://user-images.githubusercontent.com/4236481/109343631-67d82c00-784c-11eb-8468-51983087bc81.png)
`Parse Error: The server returned a malformed response`

![image](https://user-images.githubusercontent.com/4236481/109343660-73c3ee00-784c-11eb-86da-30cfed5afc85.png)
`Error: Parse Error: Expected HTTP/`

Here are the fu

[2021-02-26 20:57] BwL1289 commented on #8180
commenting to track this

[2021-02-26 21:05] ghost opened #9669 "Error while importing WADL: TypeError: Cannot read property 'push' of undefined"
I receive this error when trying to import a WADL file, or import via the raw text.

This is on the latest version, v8.0.6

[2021-02-26 22:51] timbaileyjones commented on #3843
@MrGlenThomas --- constrast is terrible on MacOS too.

I'm INSIDE on a 43-inch monitor and still cannot see the `</>` (Code) icon without MacOS's zoom/accessibility feature.
Light gray on white, or dark gray on black, depending on theme.

How about adding a "high-contrast theme", next to the light / dark ones?

[2021-02-27 13:01] ChocolateLoverRaj commented on #9379
I am working on a project that is in a github repository, and I keep a file called `api.postman_collection.json`. I don't have any postman tests, just use the collection for manual tests. I want to commit changes I make to the postman collection with other code.

[2021-02-27 13:04] ChocolateLoverRaj commented on #9379
@deefdragon there already is a way to export and import collections. It's a button called `Export`. Its just inconvenient because I have to open the file picker every time.

[2021-02-27 14:50] SantoshSrinivas79 commented on #3893
Any update on this?

[2021-02-27 16:07] mhowes82 commented on #3731
Please add support for Custom CSS! We would love for our Postman docs to match our company branding/style guide.

[2021-02-27 16:26] bwosborne2 commented on #6999
I am running postman 7.x and have no interest in Postman 8 which is a major update.

I see no reasonable way to disable the notifications even though I do not want it. Auto download is turned off but it still notifies every time I run the app.

[2021-02-27 16:42] mouselabsio commented on #4671
I just lost HOURS of work assuming that Postman (like every other app younger than 15 years old) does auto-save by default. Additionally, the changelog history itself brilliantly only corresponds to MANUALLY SAVED edits so no help there. You've got to be kidding me. This is a really simple hook to implement. I really struggle to understand how you guys don't find the 5 minutes it would take to squ

[2021-02-27 16:48] nkalra0123 commented on #8231
Auth0 authentication needs the audience,

Token Name | Any name you like

Grant Type | Authorization Code
Callback URL | https://www.getpostman.com/oauth2/callback
Auth URL | https://{{auth0_domain}}/authorize?audience={{auth0_audience}}
Access Token URL | https://{{auth0_domain}}/oauth/token
Client ID | {{auth0_client_id}}
Client Secret | {{auth0_client_secret}}
Scope | openid profile email
State

[2021-02-27 18:55] JaggedJax commented on #9564
In my case, the edit looks like it doesn't work, but actually does work. The UI just serves up an old cached version making it look like the save failed. If I wait some amount of time and reload (minutes?), then the content that I edited will show up.

However if I try and edit it again before that happens, the edit is lost because the edit screen will show the old cached content.

[2021-02-27 20:51] rubydr opened #9670 "endless verification of syncing work when update to postman v8.0, not able to update to v8.0"
**Describe the Issue**
endless verification of syncing work when update to postman v8.0.
Not able to upgrade to v8.0. My current version is **Version 7.36.5 (7.36.5)**

btw, **I tried this scenario with our corp VPN and without corp VPN (internet at home), both didn't work**

**Steps to Reproduce**
1. Click "setting" icon on right top menu in Postman application on Mac OS.
![image](https://user-im

[2021-02-28 02:48] ambition-consulting commented on #6538
Still broken for all kinds of multiple examples: https://swagger.io/docs/specification/adding-examples/

[2021-02-28 06:30] Aleks-Ya commented on #6888
The same problem with v7 and v8:
Direct downloading from Postman web-site - v8.0.6
Snap version ("latest/stable") - 7.36.5 ("snap refresh" was done)
Could you publish new releases to Snap without long delays?

[2021-02-28 06:59] Workom2016 opened #9671 "Monitoring Internal APIs"
I want to be able to define a Monitor on Internal APIs via Postman Monitors Tab.

My current suggestion is that this Monitor should be able to run on my local machine or on some internal Host where Postman also installed and logged in as part of the Team.

[2021-02-28 07:43] DannyDainton commented on #9669
Hey @maximm98

To be able to replicate this behaviour on our side and see the same error, we would need to use the same file.

Could you attach a copy of this to the issue please.

[2021-02-28 09:23] aaginsa commented on #9659
Agree with issue#3, auto expand examples when click on request inside collection are really annoying

[2021-02-28 14:44] kool79 opened #9672 "Cannot select timezone and time format in Monitor"
We use monitor for monitoring our severs located in US (GMT-5) while we located in timezone GMT+2.
It is very inconvinient to convert time in every case when outage occurs. (need this to analyze logs on server). Especially difficult to convert in period when we have different dates in different timezones.
Also it is not trivial to convert from AM/PM mode to 24h mode for people who usually use "lin

[2021-02-28 19:28] 80avin commented on #9149
I don't know why this is taking so much time. It requires only a one-line change and here's an example of such implementation.
https://github.com/CvX/caprine/commit/0bb690f54110b012e373093201956bcfb43f0e8e
Please consider it ASAP.

[2021-02-28 23:47] postman-support commented on #9670
Hi @rubydr,

Thank you for reaching out! I am more than happy to help!

Looking at your screenshot as well as by analysing the log files, it looks like there is some problem with web socket connection.

You mentioned that the issue persists even without VPN. Do you use proxy, firewall or antivirus applications on your device, or would there be any corporate device management software being install