[2017-09-06 12:39] SamvelRaja commented on #884
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:39] #884 closed

[2017-09-06 12:41] SamvelRaja commented on #2744
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:41] #2744 closed, assigned to nobody

[2017-09-06 12:42] SamvelRaja commented on #2768
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:42] #2768 closed, assigned to nobody

[2017-09-06 12:42] SamvelRaja commented on #3229
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-06 12:42] #3229 closed, assigned to sdnts

[2017-09-06 12:46] bpaczkowski commented on #3202
Yes, it does persist in 5.2 as well. I can't reopen the issue if someone else closed it.

[2017-09-06 12:56] tagyoureit commented on #2831
Just tried... still seeing the same error.

[2017-09-06 15:29] RangerDan commented on #2726
Looks good to me (Linux Chrome app and Electron for good measure)

[2017-09-06 15:32] bhalothia123 commented on #3407
You can see in the attachment, While I am clicking on the upper side on the
scroll bar then it doesn't goes up. Same thing happens while I clicks on
down

On Wed, Sep 6, 2017 at 3:45 AM, Numaan Ashraf <notifications@github.com>
wrote:

--
sandeep kumar

[2017-09-06 16:21] gregarrayent commented on #3491
@madebysid -- you are correct -- it has either been added recently or I'm a moron -- you chose :-)

[2017-09-06 17:53] ipshing commented on #2858
I am no longer seeing this in the Windows Postman client.

[2017-09-06 18:17] kustuntas commented on #482
I had the same issue. Fixed it by downloading the latest version of Postman.

[2017-09-06 19:36] marcelogaray commented on #2694
I have the same question, please.

[2017-09-06 21:50] brendankeane commented on #3480
I would still like to see this. I have the native app and I can see a pre-request script start, and while it is processing, the main postman request is made before the pre-request finishes.  Since I am calling a remote service, and parsing the response in the pre, it takes a couple hundred ms.  The main does not wait, and errors as the env variable is null due to the pre still processing.  If ther

[2017-09-07 01:30] forrest-akin commented on #697
Very interested in this feature; I'm trying to authenticate a Cognito User Pool user in a pre-request script in order to send an authenticated request to an API Gateway route that has a cognito user pool authorizer. Would be nice not to have to manually generate these tokens for api testing! (not quite sure how to do this without the amazon-cognito-identity-js package yet)

[2017-09-07 03:21] stramel commented on #697
@madebysid Can I use the response from the pre-request in my request?

[2017-09-07 04:01] aceport commented on #1104
+1

[2017-09-07 04:45] TheRealMilagro commented on #1973
this would be great. I also need to see the full raw http-request AND response. The only way i know which is near what i want is the postman-console (alt+ctrl+c). But unfortunately it also show request/response in kind of a pretty view, esp. if response is json. Please add possibility to switch into a raw-display mode as well. Thank you :)

[2017-09-07 04:54] TheRealMilagro commented on #119
but unfortunately the console does not have possibility to switch display mode to raw :(
It is using kind of a pretty view, but sometimes a raw-view is desired.

[2017-09-07 05:27] lukeholder commented on #119
@TheRealMilagro is right, it still is not the full raw http request that is able to be copied and pasted.

Looks like I will be switching to https://paw.cloud/

[2017-09-07 05:31] Dil-nlaycock opened #3496 "Code generation for cURL omits parameters for imported requests"
## App Details:

[code]

## Issue Report:
This issue seems similar to previously fixed bug 2883
If I craft a request within Postman, then generating a cURL command from that request seems to work fine. However, if I export the collections and then import it into postman on another machine, then the generated cURL is missing some or all of the parameters.
These parameters are present when I select

[2017-09-07 05:49] SamvelRaja commented on #3484
@poisa  @cyeagerkarmak We released the fix with our canary build 5.3.0-canary01, kindly confirm the fix from your end.

Just download and install the app according to your os.
NOTE: Backup the data in current app using Settings -> Data -> Export for *additional security*.

https://dl.pstmn.io/download/channel/canary/osx_64
https://dl.pstmn.io/download/channel/canary/windows_32
https://dl.pstmn.io/

[2017-09-07 05:54] SamvelRaja commented on #3291
@josslamberti  It will be very much useful if you can provide me a screencast 😄
I am having a hard time in reproducing the issue you are facing.

[2017-09-07 05:59] sdnts commented on #119
We're working on an actual raw view in the Console, and a build is supposed to hit our Canary channels tonight. I'll let you guys know here when it is out.

[2017-09-07 06:01] sdnts commented on #3491
@gregarrayent Haha it was added recently, and it isn't really documented anywhere yet, so it's definitely not your fault :D

[2017-09-07 06:08] sdnts commented on #3471
@will-beta The symbol gets "lost" because it is treated as a space, since `+` is reserved for that. We've visited this multiple times, the problem is, there's no way for us to determine if a `+` symbol was added as a space or the actual symbol. So, the app imitates browser behaviour, and treats it as a space.

Unfortunately, I'd have to suggest you manually encode it to make sure it gets sent corr

[2017-09-07 06:10] chimit commented on #2086
Any updates on this?

[2017-09-07 06:10] #3471 closed, assigned to SamvelRaja

[2017-09-07 06:14] sdnts commented on #697
@stramel This will work the way you should be used to, save the response (or just the useful info) in an environment variable and use wherever :D

Closing as this should be possible on our stable versions as well, starting from v5.2.0

If you guys have any questions, you can join our [Slack Community](https://getpostman.com/slack-invite) for quicker responses!

[2017-09-07 06:14] #697 closed

[2017-09-07 06:14] prashantagarwal commented on #3255
@daugustus Can you please update the Postman app to latest version and verify if you are still facing this issue. Thanks

[2017-09-07 06:15] #2787 closed, assigned to nobody

[2017-09-07 06:17] sdnts commented on #3480
@brendankeane The pre-request scripts do respect timers and async actions (only on Native apps, though), when a request is made using `pm.sendRequest`
Maybe we need to investigate this. Can you supply a pre-request script that behaves this way?

[2017-09-07 06:20] ghost commented on #3480
The problem occurs also in native app. Checked for:
Postman for Windows
Version 5.2.0
win32 10.0.10586 / x64

thx, it works faster

 But in other cases of long pre-request scripts (like @brendankeane  have mentioned) the issue is still actual. Need to make Postman waiting for all pre-request scripts to be done before making request.

[2017-09-07 06:22] prashantagarwal commented on #2772
@yelena1 Can you update to the latest postman app and verify if you are still seeing this issue.

@mpereira-dev responseBody is string. You need to parse it and than you can access status property.

[2017-09-07 06:22] #2772 closed, assigned to nobody

[2017-09-07 06:25] sdnts commented on #2694
Just to verify, you guys are looking for a nested structure in the data files in the Collection Runner, correct?

This is a little inconsistent right now. While nested structures ARE supported in the pre-request / test scripts, they do not get resolved anywhere else (URL, headers etc.). So if you data file looks like:

[code]

In test scripts, you would be able to do a `console.log(data.nested.pat

[2017-09-07 06:25] prashantagarwal commented on #2471
@AlexandraColdea I believe this issue is fixed in Postman app. Please verify this in latest version of Postman app. If you are still seeing this feel free to reopen the issue.

[2017-09-07 06:25] #2471 closed, assigned to nobody

[2017-09-07 06:27] SamvelRaja commented on #2966
We are unable to reproduce this issue in our latest 5.3 version of the app. Kindly provide a screencast if the problem still persists.
Closing this for now, kindly feel free to open if you face it again 😄

[2017-09-07 06:27] #2966 closed, assigned to nobody

[2017-09-07 06:28] sdnts commented on #482
Guys, the certificates tab is available ONLY on the native apps, you can download them [here](https://getpostman.com/apps)

[2017-09-07 06:28] prashantagarwal commented on #3215
@misha-kotov Was this issue resolved for you. You can drop a mail to help@getpostman.com if you are still facing any issue.

[2017-09-07 06:28] #3215 closed, assigned to numaanashraf

[2017-09-07 06:29] jehof commented on #3099
I have a similar problem. Exporting to CollectionV2 format results in an empty collection, while exporting to CollectionV1 format works. I´m on 5.2.0 on Win10

[2017-09-07 06:29] SamvelRaja commented on #2505
@Iamxiaoxiong  @LeonardoGentile are you guys still facing the issue?

Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-07 06:29] #2505 closed, assigned to nobody

[2017-09-07 06:30] prashantagarwal commented on #2805
@ressabrimirakl Can you please update to the latest version of Postman app and verify if you are still facing this issue.

[2017-09-07 06:31] SamvelRaja commented on #3193
Since there is no activity in this issue, we are closing this now, feel free to reopen it if needed.

[2017-09-07 06:31] #3193 closed, assigned to SamvelRaja

[2017-09-07 06:46] prashantagarwal commented on #3380
@abirstolov We were unable to reproduce this on our end. If you are still facing this issue, feel free to reopen this.

[2017-09-07 06:46] #3380 closed, assigned to sdnts

[2017-09-07 06:48] prashantagarwal commented on #3189
@sbialobok @null9beta If you guys ares till facing this issue, please drop a mail to help@getpostman.com. Our support team will help you out in recovering your collections.

[2017-09-07 06:48] #3189 closed, assigned to kamalaknn

[2017-09-07 06:57] prashantagarwal commented on #2845
@souravndp Can you switch to Postman native apps and verify if you are still facing this issue

[2017-09-07 07:04] lukeholder commented on #119
thanks @madebysid will take a look.

[2017-09-07 07:08] prashantagarwal commented on #3263
@mardann Can you do couple of things here.
- Update your app to the latest postman version.
- Check that you are not setting the same variable using pre-request or test scripts.

[2017-09-07 08:05] rasik210 commented on #1137
+1

[2017-09-07 08:11] murat commented on #2319
Hi, is this resolved? Same issue is happening on my Linux desktop.

OS: Linux Mint 18 Cinnamon x64
Chromium: Version 60.0.3112.113 (Developer Build)
Postman: Postman for Linux Version 5.2.0 linux 4.10.0-33-generic / x64

Console output:

[code]

Note: What's interesting is: the chrome app is running normally. :thinking:

[2017-09-07 08:23] arci commented on #1104
+1

[2017-09-07 08:23] peturh commented on #1944
The internal Chrome DNS was fucking with me.

Go to: `chrome://net-internals`

Click DNS in the left menu and then "Clear host cache"

This solved it for me.

[2017-09-07 08:52] TheRealMilagro commented on #430
This is also related/similar #119
Postman console (alt+ctrl+c) is showing http-request and response with headers and body but unfortunately there is no possibility to choose/switch display to raw-mode.
@madebysid is promising that something to address this is coming in 5.3. This would be great!

[2017-09-07 09:18] sankalp0o commented on #1755
I just checked it on the latest version and this is no longer the case, hence closing this. Feel free to open this if needed.

[2017-09-07 09:18] #1755 closed, assigned to nobody

[2017-09-07 09:35] sdnts commented on #2319
We had to do an unscheduled maintenance on our servers. Can you try again in a couple of hours? Thanks for the patience.

[2017-09-07 10:03] Bella1977 opened #3497 "Although I am logged in I cannot sync"
Postman for Windows
Version 5.2.0
win32 6.1.7601 /x64

## Issue Report:
 1. Since this morning I can login but I cannot sync. It does not connect and re-tries after a certain time or stays Offline. Sync is not deactivated.
2. Collection is accessible via the postman online, but cannot be synched.

[2017-09-07 10:09] sdnts commented on #3497
Hi @Bella1977, we had to undertake some unscheduled maintenance on our servers, which is why you're seeing this. You can rest assured though, all work that you do will be automatically synced when our servers come back online (which should be a couple of hours).

You can track status [here](https://status.getpostman.com)

[2017-09-07 10:45] sdnts commented on #3493
Hi @abhimassive! Thanks for the suggestion! We will take a look at this. I'm guessing being able to move all modals around is what you're looking for, correct?

[2017-09-07 10:46] sdnts commented on #3490
Hi @gregarrayent, I'm assuming you're running into this when closing multiple tabs, right? We've been looking into tab management, will take this into account :)

[2017-09-07 10:47] sdnts commented on #3495
@arnaldop Thanks for the feature request! I can definitely see value in this. We will look into this.

[2017-09-07 10:48] abhidp commented on #3493
Absolutely correct @madebysid

[2017-09-07 12:14] josslamberti commented on #3291
As soon as I can reproduce it, I'll provide a recording.

[2017-09-07 12:21] Bella1977 commented on #3497
Thank you...I really hope it is coming back soon..The link does not work for me (Unable to connect) As I did log out yesterday and now I do not have access to my collection. Is there another way of accessing. I noticed that not all my collections have an individual link. So I assume this is something I have to invoke in postman before. I am looking at https://app.getpostman.com/dashboard/collectio

[2017-09-07 12:49] crowcoder opened #3498 "Original request name overwritten by the duplicate"
Noticed after updating to 5.20.

Duplicate a tab that is part of a collection.
Edit the duplicate's name/title.
The original name is changed to match the duplicate.

Postman for Windows
Version 5.2.0
win32 6.1.7601 / x64

[2017-09-07 13:50] jamieps commented on #3497
It's http://status.getpostman.com - it's not being served over HTTPS.

[2017-09-07 14:00] sdnts commented on #3497
@Bella1977 @jamieps Can you guys try now? Sync is up now

[2017-09-07 14:31] gdlxn-ibm commented on #285
+1 I would like this enhancement as well; in particular for prompt of basic auth id and password.

[2017-09-07 17:28] poisa commented on #3484
I can confirm that this is solved in the linked canary release.

[2017-09-07 18:08] jamieps commented on #3497
@madebysid Thanks, it was slow to initially sync but it is working now.

[2017-09-07 18:12] rygood commented on #3480
Yes, this seems to be a regression in 5.2.0. I and another developer on my team are having the same issue with the native app.

Postman for Mac
Version 5.2.0
Mac OS 10.12.6

[2017-09-07 19:23] brentryan opened #3499 "FeatureRequest: Automatic de-activation of team members based on inactivity"
Would it be possible to setup a process to “automatically” de-activate/remove users from our account if they haven’t been active for 90 days?  We manage a large postman pro account of 150+ people where people come and go all the time.  It's a PIA to have to manage removing people manually all the time just so we don't keep increasing our licensing costs for postman pro when people aren't even usin

[2017-09-07 19:25] godfrzero commented on #3464
@djbf I've pushed out a new version with a fix for this, can you take a look and let me know if it's working as expected now?

[2017-09-07 20:26] djbf commented on #3464
Much improved! Thanks, Vivek!  All the request types are colored consistently now. The only lingering issue I'm seeing now is that they aren't all uppercase.  In the page code, interestingly, it seems like the GET, PUT, etc. are natively uppercase rather than being made that way by a text-transform property.

![image](https://user-images.githubusercontent.com/694161/30183352-f2863240-93ce-11e7-9e9

[2017-09-07 20:38] godfrzero commented on #3464
Yep, I've queued that up for the next release which should be out around this time next week. I'll update this thread when it's out.

In the meantime, if you want to fix the formatting issue before that, duplicating the request should fix it. The problematic requests were created using an older version of the app which messed up the casing.

[2017-09-07 20:49] VinLau commented on #2724
+1, fetch is the way to go!

[2017-09-07 21:46] davingreen commented on #2811
+1 on v5.2.0 Windows x64
Can we just have an option to not include state parameter?

[2017-09-07 22:03] djbf commented on #3464
Thank for that tip and thanks for your work!

[2017-09-07 22:09] ralfieri commented on #3497
I just lost hours of work closing Postman not realizing it was still syncing after 10 minutes. I'm NOT a happy camper. Why wouldn't my local store be protected?

[2017-09-07 22:32] aminhotob commented on #327
Have same issue with macOS application  5.2.0 PostmanRuntime/6.3.2

[2017-09-08 00:26] abrahambosch commented on #1607
+1 for asymmetric cryptography

[2017-09-08 01:33] Dave76 commented on #2811
+1 v5.2.0 on Windows x64. Maybe it would be better to just let us define the entire auth and token requests?

[2017-09-08 02:55] volcaniczone commented on #285
+1

[2017-09-08 03:48] 7omasz commented on #3262
I have the same issue. `GET`/`POST` tests fail with duplicated parameters in collection runner and monitors unless I uncheck parameters, which then breaks the manual tests.

Postman for Mac
Version 5.2.0 (5.2.0)

[2017-09-08 04:16] reydi commented on #2978
+1

[2017-09-08 07:06] jacek-s commented on #3472
Is there any progress on this issue?

[2017-09-08 07:10] kunagpal commented on #3472
Hey, @Jacek445, we'll update this thread when any progress occurs. Thanks! 😄

[2017-09-08 07:13] nonnenmacher commented on #697
Congratulations for this 3 years old FR ;-)

I use the canary version, since I discovered it, in this thread and I love it, nice work guys.

[2017-09-08 08:06] krogold opened #3500 "Problem with Chai assertions"
## App Details:
Postman for Windows
Version 5.2.0
win32 10.0.15063 / x64

## Issue Report:
 1. Seen today, sytematic
 2. I expect having my assertion result in the Tests tab, PASS or FAIL
 3. No relevant console log
 4. No relevant screenshot

Description:

Hi, I encounter a weird problem with postman test function
I used to do tests like this:
`    tests["Status code is 200"] = responseCode.code

[2017-09-08 08:31] krogold commented on #3500
I tried some more tests:
- to check if the problem is to end with a digit:
[code]
=> it works
- to check if it is linked to the position of code 200 (I removed the final "l" of "nominal"):
[code]
=> it fails
- from this observation I tried inserting one or more blank spaces before "200":
[code]
=> it works
**whatever the number of preceding spaces** before "200", the display in Tests tab is the fo

[2017-09-08 08:52] jbauerrfid commented on #3488
:+1: yes I mean test requests in the folder tree
Currently you need pixel accurate mouse positioning to relocate them...

[2017-09-08 09:32] ghost opened #3501 "x-www-form-encoded header doesn't detach/"
Under body section where the content type is set to form-data by default, if the developer clicks on x-www-form-encoded, it attaches a header of content type. The problem is when you switch to other content type like raw, form-data or binary, it never detaches/removes the header content  type x-www-form-encoded. It should be detached as soon as one switches from x-www-form-encoded to other.

Postm

[2017-09-08 11:24] sdnts commented on #3499
@brentryan This is an interesting idea, let us look into this!

[2017-09-08 12:25] prashantagarwal commented on #3501
@thapliyalshivam Thanks for letting us know. Will get this fixed in upcoming release.

[2017-09-08 12:26] sdnts commented on #3500
@krogold Thanks for the detailed report! This is definitely weird, I'll investigate and get back to you!

[2017-09-08 12:26] #3497 closed, assigned to sdnts

[2017-09-08 12:39] ghost commented on #3501
Leaving this reopened for you people to close it when done.

[2017-09-08 13:25] vibin opened #3502 "Collection changelog isn't helpful for tracking new examples"
Hi, is there way to easily track the most recently added/updated examples for requests in a collection?

In the activity feed, I see "User created a response {response_name} added in the {collection_name} collection.", but it's super unhelpful as it doesn't tell which request the response belongs to.

[2017-09-08 13:59] nchaluse commented on #2849
Hello, that feature would be very welcomed...
- a certificate linked to either a request (preferred), or collection
and/or
- a certificate linked to an environment

[2017-09-08 14:10] namrata18s opened #3503 "Could not get any response"
I am getting this following error on postman ,My server is also running

Could not get any response
There was an error connecting to https://localhost:3000/product.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General

[2017-09-08 14:37] nlaslett commented on #2082
Bump.  I'm seeing this in Postman for Windows 5.2.  The filename is there in the Content-Disposition but Postman always wants to save the file as "download.pdf".

That's when I use the API that returns a download link.  When I use the API the returns the in-line content stream it wants to use "response.pdf", but that API call isn't returning Content-Disposition filename, so I can't blame Postman t

[2017-09-08 15:12] QAautomatedNI commented on #3225
Is there a known workaround for this?  Tried removing properties with null values from the data object.   Then created environment variables and set them to null in a pre-request script.  However, the request appears to be executing before the environment variables are set (issue 3480).

[2017-09-08 15:20] cajund opened #3504 "Regular Syncing Issues"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

This has started recently - any changes made to the collection (either with creating a new endpoint, saving, or simply reordering the endpoints) results in the "sync issue" dialog.

 2. Expected behaviour:

No errors, of course! ;-)

 3. Console logs (http://blog.getpostman.com/2014/01

[2017-09-08 15:36] i8beef commented on #697
Thanks, this helps a lot. One question though: I've noticed that any "throw" error checking in the sendRequest callback do NOT stop further execution. Is there a pattern for that we can use from the callbacks? I know i can do it with the collection runner, but I'm trying to simplify this for my QAs.

[2017-09-08 16:44] e-g-hategan commented on #2849
I would also value this feature. Often times the server acts differently based on the authenticated client.
In my case, I need to switch certificates between subsequent requests within the same environment.

[2017-09-08 20:53] dipakbachhav commented on #3137
I am using postman collection runner to upload images. I have already created environment and able to use collection runner for other api but while uploading image I am failed. Is postman collection runner supports image upload operation and can i run multiple iteration for image upload?Can you please help me?

[2017-09-09 00:21] flyinprogrammer commented on #2369
edit: turns out idk what i'm doing. /etc/hosts works just fine on postman v5.2.0 ubuntu 17.04
real annoying :cry:

[2017-09-09 08:13] pdrolima commented on #1723
Bad. I got this problem at this moment! :(

[2017-09-09 10:04] adeleusiere opened #3505 "[Command]+R should resend request"
## App Details:
[code]

## Issue Report:
It would be very natural to have [Command]+R resending request from the active tab.

[2017-09-09 10:21] prashantagarwal commented on #3505
@adeleusiere Thanks for the suggestion, Actually we already have `Cmd + ENTER` as a shortcut to send the request. I don't think we will have another shortcut for the same action.

[2017-09-09 10:21] #3505 closed, assigned to nobody

[2017-09-09 17:30] Alex-Torres commented on #1137
+1

[2017-09-09 19:58] mazgagan opened #3506 "Ctrl+Z (Undo) is very slow"
## App Details:
Postman for Chrome
Version 5.2.0
OS X / x86-64
Chrome 60.0.3112.113

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
       From past month or so
 2. Expected behaviour: No slowness
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac ap

[2017-09-09 22:46] ginere commented on #1180
+1

[2017-09-10 03:02] machinshin opened #3507 "variables become url-encoded"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Yes

 2. Expected behavior: {{host}}
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)
https://www.dropbox.com/s/mqdvrtj6y1zjtfz/Screenshot

[2017-09-10 07:02] noman404 commented on #1508
@mbirtwistle thanks for the tips :)

[2017-09-10 14:11] georgesamy commented on #739
This issue is 3 years old, can anyone suggest an alternative to postman for performing grant_type password?

[2017-09-10 16:04] Structed commented on #739
@georgesamy no - but it's easy to get it with the [solution](https://github.com/postmanlabs/postman-app-support/issues/739#issuecomment-82885634) from @darrynten above

[2017-09-10 16:11] Structed commented on #739
It's easy to get it:

* create a login request in Postman
  * ![image](https://user-images.githubusercontent.com/29922/30250693-34cb6af4-9653-11e7-853e-0d3fadad6e07.png)
  * ![image](https://user-images.githubusercontent.com/29922/30250680-0d0e6b88-9653-11e7-9e76-caf997b7df17.png)
  * Add this test script:
[code]

This sets a token parameter. You can use it in subsequent requests like this:

![ima

[2017-09-11 03:15] hendrys commented on #3274
Plus 1 vote

[2017-09-11 04:39] vaibhav-plackal commented on #3503
Same Problem here. Exact same. Except that my version is:

**Version 5.2.0 (5.2.0) on macOS 10.12.6**

It does not wait for me to debug the application. Why is it that with every release, something which was previously working gets screwed up. How ironic, that the company which allows others test their products doesn't test theirs? 😕

[2017-09-11 07:34] giangnd2508 opened #3508 "Data of Body (method POST) has been reset after save example"
## App Details:
Postman for Chrome
Version 5.2.0
win / x86-64
Chrome 60.0.3112.113

## Issue Report:
 1. I found it when I try to update Document (this is the first time I use this feature).
 2. Expected behaviour:
Just update the information which has changed, not other infor.

Steps to reproduce the problem:
1. Fill the infor: url, data param of body.
2. Add new example: Request example, Respons

[2017-09-11 07:54] SamvelRaja commented on #3503
@namrata18s  @vaibhav-plackal  can you guys kindly provide further details on the issue?

Can you guys check what was the response in Postman console?

Open Postman console by View  -> Show Postman Console before sending the request and check the result after sending it.

and send us the screenshot of it? this would help us in debugging much faster and resolve the issue.

[2017-09-11 08:05] SamvelRaja commented on #3502
@vibinr  thanks for bringing this to our notice, we shall keep you posted on the progress.

[2017-09-11 08:27] ji50180 commented on #2392
We have about a hundred occurances of a certain pretty expensive test in several collections, in different places. We need the collection one time per day with, and several times without this request
It would be sweet if we could start newman or the postman runner with different environments,
where only the variable "ignore_request_x" is changed to either true or false. That way we would put somet

[2017-09-11 10:14] sdnts commented on #3506
@mazgagan Can you elaborate a little? Where are you doing the `Cmd+Z`?

[2017-09-11 10:17] sdnts commented on #3508
Hi @giangnd2508 I was able to replicate this on my end. Ideally, this should not happen. We will get this fixed as soon as possible. Thanks for reporting!

[2017-09-11 10:20] sdnts commented on #3507
Hi @machinshin Can you tell me what steps you followed to make it so? I'm unable to reproduce.

Also worth noting is the fact that you can select an environment in your documentation page to populate variables from that environment.

[2017-09-11 11:12] #1769 closed, assigned to nobody

[2017-09-11 11:15] abhijitkane commented on #2356
@ceottaki The current version of the Windows app supports specifying system/global proxy configurations. Feel free to re-open if you're still seeing this.

[2017-09-11 11:15] #2356 closed, assigned to SamvelRaja

[2017-09-11 11:16] abhijitkane commented on #3428
@Faz540 This has been fixed in 5.2.0.

[2017-09-11 11:16] abhijitkane commented on #2852
@rendion Fixed in the latest version. Feel free to re-open if you're still seeing this.

[2017-09-11 11:16] #2852 closed, assigned to nobody

[2017-09-11 11:18] abhijitkane commented on #3328
@skyfloyd Fixed in the latest version. Feel free to re-open if you're still seeing this.

[2017-09-11 11:18] #3328 closed, assigned to sdnts

[2017-09-11 11:18] abhijitkane commented on #2870
@MXYMIN Fixed in the latest version. Feel free to re-open if you're still seeing this.

[2017-09-11 11:18] #2870 closed, assigned to nobody

[2017-09-11 11:18] abhijitkane commented on #2379
@siwatpru Fixed in the latest version. Feel free to re-open if you're still seeing this.

[2017-09-11 11:18] #2379 closed, assigned to nobody

[2017-09-11 11:20] abhijitkane commented on #3228
@skumarcse Fixed in the latest version. Feel free to re-open if you're still seeing this.

[2017-09-11 11:20] #3228 closed, assigned to kamalaknn

[2017-09-11 11:23] abhijitkane commented on #3416
@cpttripzz Can you check https://www.getpostman.com/docs/postman/sending_api_requests/debugging_and_logs for the actual request/response?
In case your server needs client-side certs, these can be set at https://www.getpostman.com/docs/postman/sending_api_requests/certificates.

Feel free to re-open if you still see this with all other endpoints too.

[2017-09-11 11:23] #3416 closed, assigned to nobody

[2017-09-11 11:23] #2253 closed, assigned to harryi3t

[2017-09-11 11:23] sdnts commented on #2242
Guys, can you try updating to 5.2.0? Native apps now support configuring a custom proxy for all requests made through the app. You should be able to set a custom proxy by heading over to `Settings > Proxy` and get this working.

Do note that this is only possible on the [native apps](https://getpostman.com/apps), not on the Chrome app, as there is no support for this on the chrome platform.

[2017-09-11 11:24] abhijitkane commented on #2324
@chuck-wood Can you try updating to 5.2.0? Native apps now support custom proxy configurations (Settings > Proxy).

[2017-09-11 11:24] #2324 closed, assigned to SamvelRaja

[2017-09-11 11:25] abhijitkane commented on #3123
@hertzigger Feel free to re-open if nested variables aren't working for you.

[2017-09-11 11:25] #3123 closed, assigned to numaanashraf

[2017-09-11 11:34] abhijitkane commented on #1968
@aqyblitz Newman supports exporting reporter output (https://www.npmjs.com/package/newman). Also, if you're using the CLI reporter, you can pipe stdout directly to a file.

[2017-09-11 11:34] #1968 closed, assigned to nobody

[2017-09-11 11:37] abhijitkane commented on #697
This has been released into production as well :).

@i8beef You'll need to use `postman.setNextRequest(null);` at any point if you want to stop the run.

[2017-09-11 11:40] abhijitkane commented on #1038
@thizanetti @Afbcary with the latest version of Postman (5.2.x), you can simply add a `setTimeout(function(){}, 2000);` anywhere in your test script to add a 2 second delay before the next request.

[2017-09-11 11:40] #1038 closed, assigned to shamasis

[2017-09-11 11:40] #1633 closed, assigned to nobody

[2017-09-11 11:41] abhijitkane commented on #2219
@JamesLeon This is available in Postman 5.2+.

[2017-09-11 11:41] #2219 closed, assigned to nobody

[2017-09-11 11:42] abhijitkane commented on #1383
@abtiddle @wirsingj Can you confirm this fixed in the latest version of Postman and Newman?

[2017-09-11 11:43] abhijitkane commented on #2777
@KumG Postman v5.2+ has support for async scripts.

[2017-09-11 11:43] #2777 closed, assigned to nobody

[2017-09-11 11:44] abhijitkane commented on #2549
@cadaniel @JohnArrowwood @tariqghalib Postman v5.2+ has support for async scripts. Postman will wait for all callbacks to return (or hit the global timeout limit) before executing the next request.

[2017-09-11 11:44] #2549 closed, assigned to nobody

[2017-09-11 11:44] abhijitkane commented on #2424
@shmup This is available in the latest versions of Postman.

[2017-09-11 11:44] #2424 closed, assigned to nobody

[2017-09-11 11:50] abhijitkane commented on #3393
@dmladek `null` from your CSV file is treated as a string. `null` in a JSON response is treated as the JS null object. You'll need to add special handling for `"null"`.

[2017-09-11 11:50] #3393 closed, assigned to sdnts

[2017-09-11 12:01] will-beta commented on #3471
@madebysid
It seems like the Postman just simply combined the params entered into the URL.
I think it would be more appropriate to encodeURIComponent the params first, and then combine the result value into the URL.

[2017-09-11 12:14] sdnts commented on #3504
Hi @cajund, Do you have a set of steps that I can take to reproduce this?

When you say you use GitHub, do you mean you're using the GitHub integration?

[2017-09-11 12:21] kamalaknn commented on #2566
@robertkuhar can you try this out in our latest version `5.2.0` and let us know if it still exists?

[2017-09-11 12:25] kamalaknn commented on #2907
@mcleane can you try out our native apps `5.2.0` and let us know if you are still having issues? You can find the download link for your platform [here](https://www.getpostman.com/apps).

[2017-09-11 12:35] harryi3t commented on #2755
@dealharris can you try this on the native app and let us know the API you are using, the error message and the console logs

[2017-09-11 12:41] kamalaknn commented on #2199
@kubah this should be fixed the latest version of the app(`5.2.0`). Could you update your app and lets us know if you are still seeing this.

Closing this issue now. Please do let us know if it still persists.

[2017-09-11 12:41] #2199 closed, assigned to nobody

[2017-09-11 12:43] harryi3t commented on #2565
duplicate of https://github.com/postmanlabs/postman-app-support/issues/2296
as a workaround follow the instructions as mentioned here https://github.com/postmanlabs/postman-app-support/issues/3357#issuecomment-322816409

[2017-09-11 12:43] #2565 closed, assigned to SamvelRaja

[2017-09-11 12:45] harryi3t commented on #2856
@jaskarangump We are fixing this bug. But for now, I can suggest you a workaround.
 Can you try __un-checking__ the `Request access token locally` <img src= 'https://user-images.githubusercontent.com/5207331/29372418-aa89146a-82c8-11e7-9965-75dbdda990c0.png' height=500px/>

When it's checked the App makes the second request using both authentication methods
When it's unchecked our server is used w

[2017-09-11 12:56] harryi3t commented on #2523
@mike69d We are fixing this bug. But for now, I can suggest you a workaround.
 Can you try __un-checking__ the `Request access token locally` and let us know if that works?

 <img src= 'https://user-images.githubusercontent.com/5207331/29372418-aa89146a-82c8-11e7-9965-75dbdda990c0.png' height=500px/>

Marking this as possible duplicate of https://github.com/postmanlabs/postman-app-support/issues/2

[2017-09-11 13:01] harryi3t commented on #2898
@meswanholm
Can you try __un-checking__ the `Request access token locally` and let us know if that works for you?

<img src= 'https://user-images.githubusercontent.com/5207331/29372418-aa89146a-82c8-11e7-9965-75dbdda990c0.png' height=500px/>

[2017-09-11 13:04] abhijitkane commented on #2612
@mattusey-zimperium I'm able to send the Referer header through Postman once the Interceptor is enabled. Can you try with the latest versions of Postman (5.2.0) and Interceptor (0.2.23)?

[2017-09-11 13:04] #2612 closed, assigned to nobody

[2017-09-11 13:05] #1978 closed, assigned to shamasis

[2017-09-11 13:07] abhijitkane commented on #2659
@espiatsundiogroup Are you still seeing this with v5.2.0 of the app?

[2017-09-11 13:09] abhijitkane commented on #1113
This is not part of our immediate roadmap. You can use Newman as a workaround: http://blog.getpostman.com/2014/11/15/using-newman-to-run-collections-with-file-post-requests/

[2017-09-11 13:09] #1113 closed, assigned to nobody

[2017-09-11 13:11] abhijitkane commented on #717
Postman's native apps (https://www.getpostman.com/apps) allow you to configure a proxy, and save all captured requests to a collection.

Docs: https://www.getpostman.com/docs/postman/sending_api_requests/capturing_http_requests

[2017-09-11 13:11] #717 closed

[2017-09-11 13:15] abhijitkane commented on #1561
@cameronoxley As a workaround, you can store JS in environment variables, and use `eval()` in your scripts to get some reusability of test scripts.

We'll soon be introducing collection-level scripts.

[2017-09-11 13:15] #1561 closed, assigned to nobody

[2017-09-11 13:19] giangnd2508 commented on #3508
Thanks and hope that this feature will be fixed on the next release.

[2017-09-11 13:21] abhijitkane commented on #2024
@bricker Starting version 5.2.0, you can use `pm.response.stream`:

[code]

[2017-09-11 13:21] #2024 closed, assigned to shamasis

[2017-09-11 13:22] abhijitkane commented on #1970
@alowenst You can try xml2Json (https://www.getpostman.com/docs/postman/scripts/postman_sandbox) if the response is well-formed XML.

If not, you'll need to write custom code to parse HTML.

[2017-09-11 13:22] #1970 closed, assigned to nobody

[2017-09-11 13:23] #2859 closed, assigned to nobody

[2017-09-11 13:24] abhijitkane commented on #1520
A response diff view isn't on our roadmap as of now. As a workaround, you can save the previous response to the environment with postman.setEnvironmentVariable(), and compare each response to the previously stored response.

[2017-09-11 13:24] #1520 closed, assigned to nobody

[2017-09-11 13:26] abhijitkane commented on #1212
@jetpacksfan A workaround would be to use Newman (https://github.com/postmanlabs/newman), and write custom code to write to a file when the "request" event is fired - check the "newman.run~events" section.

[2017-09-11 13:26] #1212 closed, assigned to nobody

[2017-09-11 13:30] selch opened #3509 "{{$timestamp}} dynamic variable doesn't work in saved examples"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been there
 2. Expected behavior: The {{$timestamp}} variable would display current timestamp when used in an example
 3. Reproduce: Replace a timestamp in a saved example with {{$timestamp}} dynamic variable. When the example is returned you'll just see "{{$timestamp}}" instead

[2017-09-11 13:31] abhijitkane commented on #2280
@manishagr83 Setting the filename isn't supported right now.
For 1., Postman simply treats the response as an Arraybuffer when you click 'Send and Download'.

You'll need to reference your Java library's docs for more on how to read the file in your application.

[2017-09-11 13:31] #2280 closed, assigned to nobody

[2017-09-11 13:32] #2741 closed, assigned to nobody

[2017-09-11 13:33] abhijitkane commented on #798
A workaround for now is to start a local server (https://www.npmjs.com/package/simplehttpserver), and use a Postman request and test script to load the response into an environment variable.

Since we need to support collections in the cloud as well, this isn't on the immediate roadmap.

[2017-09-11 13:33] #798 closed

[2017-09-11 13:48] abhijitkane commented on #1490
Our native apps emulate the Chrome app, which always makes a GET call to follow a redirect, irrespective of the original request method.

We'll probably add a config for this once the Chrome app is deprecated.

[2017-09-11 15:05] antonioatt commented on #3449
Hi, any update on this?

[2017-09-11 15:44] dealharris commented on #2755
apologies, but this was awhile ago and not sure why my original request didnt include the API request. This had to do with the common oauth2 authorization...e.g request for Auth code with SSO login (https://login.microsoftonline.com/common/oauth2/authorize) then using Auth Code make request for Access token (https://login.microsoftonline.com/common/oauth2/token).

[2017-09-11 15:49] babaorum commented on #2232
Hi, I am having the same problem.

One of my suprises was that there was not real custom authorization part.
Maybe we should dig this way to find a good solution.
This would allow us, to use whatever way we want. For example I would be ok to just be able to give a script which would return the data. Or an url which would get the data by himself and return it. But I won't change for Oauth2 just for

[2017-09-11 16:03] andrewwburns opened #3510 "Collection Runner Hangs when starting"
## App Details:
Postman for Windows
Version 5.2.0
win32 10.0.10240 / x64

## Issue Report:
1. After latest update, when loading the Collection Runner, it gets stuck showing electrons orbiting.
2. Expected behaviour is that it should finish loading and allow collections to be run.

To reproduce:
- Open Postman (this works fine)
- Click Runner
- Collection Runner opens, but then gets stuck showing o

[2017-09-11 17:16] GeekMustHave commented on #1475
+1 More if I could

[2017-09-11 17:20] rubenjleon commented on #2219
Awesome, Thanks!

[2017-09-11 18:20] quicksketch commented on #1228
Although it's not perfect, in some cases you might be able to manually set the `Cookie` header to wipe out a cookie value. This may result in multiple Cookie headers being sent to the server, but the application reading the cookies may read the blank cookie instead.

![image](https://user-images.githubusercontent.com/100206/30290113-234c28b4-96e3-11e7-832a-56aede14ac2b.png)

This work-around has w

[2017-09-11 19:12] i8beef commented on #697
@abhijitkane I mean stopping the pm.sendRequest() chain. E.g., if you throw in a pm.sendRequest() callback during a pre-request script, it doesn't seem to stop the main request from executing. Not stopping a "Collection runner" chain, which I believe you are referring to.

[2017-09-11 20:10] GeekMustHave commented on #882
_+1

[2017-09-11 20:44] alexthornton commented on #2978
+1

Even if this problem is not fixed, it would be very helpful if the GitLab integration documentation were updated.

[2017-09-11 23:25] tredmon opened #3511 "Parse Error not helpful"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: I recently changed servers and noticed this error.
 2. Expected behaviour: Postman Console should provide information about the parse error. (What was postman trying to parse that produced the error?)
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tool

[2017-09-12 05:35] xin-zhang opened #3512 "User-Agent setting not working when Interceptor is off"
## App Details:

[code]

## Issue Report:
`User-Agent` header setting doesn't work. Default Chrome User-Agent is used instead.

If turned Interceptor on, the issue goes away.

## Steps to reproduce the problem

1. Set up a request according the following curl command
[code]

2. Set up chrome proxy to go through 127.0.0.1:8888, and set up Fiddler to monitor traffic

3. Send the request. Fiddler cat

[2017-09-12 06:23] abhijitkane commented on #1302
@mnimer The CSV/JSON files are for substituting variables for different iterations. To send files with requests while running a collection, you'll need to use Newman - http://blog.getpostman.com/2014/11/15/using-newman-to-run-collections-with-file-post-requests/.

[2017-09-12 06:23] #1302 closed, assigned to nobody

[2017-09-12 06:23] #1208 closed, assigned to nobody

[2017-09-12 06:25] abhijitkane commented on #2560
@stamtesteng To send files with requests while running a collection, you'll need to use Newman - http://blog.getpostman.com/2014/11/15/using-newman-to-run-collections-with-file-post-requests/. Supporting file uploads through Postman's runner isn't on our immediate roadmap.

[2017-09-12 06:25] #2560 closed, assigned to nobody

[2017-09-12 06:25] giriakshay commented on #235
The resource identified by this request is only capable of generating responses with characteristics not acceptable according to the request "accept" headers

I am getting this error can you help me out please

[2017-09-12 06:26] abhijitkane commented on #3137
To send files with requests while running a collection, you'll need to use Newman - http://blog.getpostman.com/2014/11/15/using-newman-to-run-collections-with-file-post-requests/. Supporting file uploads through Postman's runner isn't on our immediate roadmap.

[2017-09-12 06:26] #3137 closed, assigned to a85

[2017-09-12 06:29] abhijitkane commented on #1346
@wirsingj We're aiming to keep the runner as predictable as possible. Extra iterations can be done using the last row each time, or by looping over the data file, or by using null values. We've received requests for each of these solutions, and are going with the last one for now. Closing this for now.

[2017-09-12 06:29] #1346 closed, assigned to nobody

[2017-09-12 06:31] #2798 closed, assigned to nobody

[2017-09-12 06:33] abhijitkane commented on #3060
@d-insig Not part of our immediate roadmap. We're working on making our web-app responsive and more capable - that should solve this to an extent.

Closing this for now.

[2017-09-12 06:33] #3060 closed, assigned to a85

[2017-09-12 06:34] #2796 closed, assigned to nobody

[2017-09-12 06:36] abhijitkane commented on #3179
@labossieresr The latest versions of Newman should support the same API that Postman does. The complete docs are at https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference and https://www.getpostman.com/docs/postman/scripts/postman_sandbox.

[2017-09-12 06:36] #3179 closed, assigned to shamasis

[2017-09-12 06:43] abhijitkane commented on #3072
@tvpsh2020 Can you confirm this fixed in the latest versions of Postman (5.2.0) and the Interceptor (0.2.23)? Feel free to reopen if not.

[2017-09-12 06:43] #3072 closed, assigned to numaanashraf

[2017-09-12 06:44] abhijitkane commented on #2321
@shartvig We have docs on client certs here - https://www.getpostman.com/docs/postman/sending_api_requests/certificates.

[2017-09-12 06:44] #2321 closed, assigned to nobody

[2017-09-12 06:52] abhijitkane commented on #2323
@soundstep There's nothing we can do from in the application to prevent this. I'd recommend switching to our native apps (https://www.getpostman.com/apps).

[2017-09-12 06:52] #2323 closed, assigned to nobody

[2017-09-12 07:03] abhijitkane commented on #1418
@A570343 Are you still seeing this? If so, can you send a screenshot of this happening in the latest  version of Postman too?

[2017-09-12 07:10] ankitbko commented on #2452
+1 Bump. Almost going to be a year, any plans for this?

[2017-09-12 07:12] abhijitkane commented on #2841
@InfobyteTarun Not able to reproduce this. Are you still seeing this with v5.2.0 of the app?

[2017-09-12 07:12] abhijitkane commented on #2878
@shrutiSS You can refer to relevant docs here - https://www.getpostman.com/docs/postman/sending_api_requests/requests

[2017-09-12 07:12] #2878 closed, assigned to nobody

[2017-09-12 07:17] abhijitkane commented on #2638
@jazoom @matthewsommer The Postman Chrome app doesn't do any resolving of its own - it uses Chrome's XHR API to send the request. Can you check our native apps (https://www.getpostman.com/apps) and see if those work for you? I'm able to hit *.localhost subdomains in my Postman instance.

[2017-09-12 07:19] abhijitkane commented on #1972
@bgraw3 The latest versions of the app support custom folder orders.
@gregorypease280 On Postman, the order of requests changes the way the collection runs for all users of the team - we aren't considering automatic ordering of requests at the moment.
Closing this for now.

[2017-09-12 07:19] #1972 closed, assigned to nobody

[2017-09-12 07:20] jazoom commented on #2638
This was a long time ago but I'm pretty sure I was using the native app then. I axed the Chrome app soon after the native app was in beta.

[2017-09-12 07:22] abhijitkane commented on #2638
@jazoom The app's proxy settings (Settings > Proxy) might help. Try toggling the system proxy setting - that might be interfering with the IP lookup.

[2017-09-12 07:25] jazoom commented on #2638
I only occasionally use Postman so I might not be the best person to help you debug this issue. I don't think I even have it installed at the moment.

[2017-09-12 07:26] bhawna2109 commented on #1650
@wzup This is now supported in the app.

[2017-09-12 07:26] #1650 closed, assigned to nobody

[2017-09-12 08:45] ghost opened #3513 "[Feature Request] Multi-screen mode"
## Feature Request

**Summary:** I would like the ability to detach and reattach the response window from the main window.

**Details:**

- Provide a button that says "Detach Response pane into a separate window."
- The behaviour expected is as per the above line, the `response` pane moves into a separate window.
- I can then move this window to another monitor.
- The behaviour between the two win

[2017-09-12 08:59] emcence opened #3514 "Not active header is blocking rest of active headers"
If having more than one header and uncheck one of them, rest headers in the list are not taken in consideration when request is send

[2017-09-12 10:00] tiagomsmagalhaes commented on #3506
@madebysid I also found this issue on Windows. For example, when inserting an url. if I wan't to go back, i have to do ctrl+z twice

[2017-09-12 12:25] RodrigoGroener commented on #2523
+1

[2017-09-12 12:27] milancheck opened #3515 "[BUG] Minimize/Maximize Postman's window - Postman won't open!"
## App Details:
Postman for Windows
Version 5.2.0
win32 10.0.14393 / x64

## Issue Report:
 1. This bug always been there
 2. I don't know why, but anytime I want to connect my laptop on screen projector or on big screens with touch panel in our meeting rooms, I'm not able to open Postman and basically any interaction is not possible. I experience this weird behavior only on certain "display devic

[2017-09-12 12:59] SamvelRaja commented on #3515
Thanks for bringing this to our notice. We are tracking this here, so this would be a possible duplicate of #2833

[2017-09-12 12:59] #3515 closed, assigned to SamvelRaja

[2017-09-12 13:16] Workom2016 commented on #1744
+1

[2017-09-12 13:21] SamvelRaja commented on #3513
@damien-hawes  have you checked out our PostmanConsole (View - Show PostmanConsole)? that is actually a detached window from the app, you can see the response there as well.
Anyhow, I will move this to feature request and forwarding to our UI/UX team for suggestions and feedback.

[2017-09-12 13:27] SamvelRaja commented on #3510
@andrewwburns  that's odd, can you provide us the log from the dev tools of runner window.

Once you opened up the runner, focus on the runner windows and click view ->Show dev tools

This would help us in identifying what's going wrong.

[2017-09-12 13:33] abhijitkane commented on #3512
@xin-zhang This is expected behavior. Chrome's XHR API doesn't allow certain headers to be set.

You'll need to enable the Interceptor, or use our native apps (http://getpostman.com/apps).

[2017-09-12 13:33] #3512 closed, assigned to nobody

[2017-09-12 13:36] mpergament opened #3516 "Runner Test Script problem: ReferenceError | blob is not defined"
## App Details:

[code]

![image](https://user-images.githubusercontent.com/13856387/30328505-d423beb2-97cf-11e7-864e-18250dcfd108.png)

After executing it I see following error in Console:
ReferenceError | blob is not defined

Imho the problem is due to the dash in config-blob as same script works just fine on all objects which do not have dash:
var response = JSON.parse(responseBody),
    objuui

[2017-09-12 14:13] xin-zhang commented on #3512
Hmm... You should definitely write it somewhere in a document or an FAQ page, or if you can remind people in Postman when they try to set User-Agent it would be really nice.

I tried [Advanced Rest Client](https://www.google.co.jp/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiGotCH6Z_WAhUMhbwKHf46DQEQFggoMAA&url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadvanced-r

[2017-09-12 14:25] mpergament commented on #3516
Solved it

[2017-09-12 14:25] #3516 closed, assigned to nobody

[2017-09-12 14:35] jamesaspence commented on #1465
I hate to do the dreaded +1 here but, since this hasn't been updated in a very long time, I feel the need to. I would expect that postman's pretty view would send the exact same format through as the raw JSON, and this completely surprised me when I noticed this behavior.

I would argue that, despite JSON not seeing a difference between 1.5 and 1.50, for example, postman should nonetheless retain

[2017-09-12 14:51] kamalaknn commented on #3511
@tredmon Thanks for reporting this issue. We should definitely add more information in the console error message. We'll add it to our coming versions.

Although I am not completely sure if we can detect and ignore wrong `Content-Length`. This might not be ideal for everyone. Some would want to see the error if it did.

[2017-09-12 15:55] anglisc commented on #3484
**Also Confirmed Fixed:**

**Issue** : _Duplicating a folder does not copy the request Body #3484_
**Verified on Version :** _v5.3.0-canary01_
**Issue Description :** _When duplicating folders, raw request body data of the requests within that folder is not being duplicated. Leaving the request body empty in the duplicated request in the duplicated folder._

[2017-09-12 15:59] abhijitkane commented on #3484
Thanks @poisa @anglisc

[2017-09-12 17:07] wheavin commented on #2030
+1

[2017-09-12 17:33] saikatmohajan commented on #3232
Any update on this issue. I am having the exactly issue. It appears that  there is no way to do a binary upload to the api gateway.

[2017-09-12 19:01] kbuzby opened #3517 "Variable Support in Raw Body Editor"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: seems like it's been there
 2. Expected behaviour: normal variable support in the raw body editor

In a POST request:
- Go to the Body
- Change to Raw Edit
- Change Type to XML (applicaiton/xml)

When using the raw editor you can use environment and global variables, but you don't get t

[2017-09-12 21:26] nehemiahjason9 commented on #3178
![image](https://user-images.githubusercontent.com/31903889/30349034-148225c8-97d7-11e7-9040-e8da931e6e54.png)

[2017-09-12 21:27] nehemiahjason9 commented on #3178
I'm having the same problem sending the .csv file. How do i need to fix this?

[2017-09-12 21:39] nehemiahjason9 commented on #3115
![image](https://user-images.githubusercontent.com/31903889/30349496-ccc4a66e-97d8-11e7-964e-cbd2530e8f79.png)

I'm having this problem, is there any solution to this? let me know

[2017-09-12 21:42] OneEyedSi commented on #208
I agree this would be nice in Postman.  It would save having to learn another tool like SoapUI.  The only functionality required would be to generate an XML request body from a WSDL like SoapUI does, with placeholders for each element value.

By the way, the Soap client mentioned in previous comments, http://ditchnet.org/soapclient/, is now at http://www.thevrway.com/soapclient/ .  This client is

[2017-09-12 22:49] janzenz opened #3518 "Postman doesn't add cookies to localhost domain."
Postman for Mac
Version 5.2.0
OS X 10.12.6

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:

 2. Expected behaviour:

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):

 4. Screenshots (if applicable)

<img width="733" alt="screen shot 2017-09-

[2017-09-13 01:57] skubot opened #3519 "Folder delete issue"
## App Details:
Postman helps you develop APIs faster
Postman for Mac
Version 5.2.0
OS X 16.7.0 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I have not seen this before.

 2. Expected behaviour:
eg: Child folder is moved from Parent 1, to Parent 2 folder.
When I delete the empty Parent 1 folder... Postman deletes the child folder inside Parent 2 f

[2017-09-13 02:00] tvpsh2020-zz commented on #3072
Yes, now it is behave normally, thanks for help :)

[2017-09-13 02:34] RichardForshaw commented on #1535
+1

As a suggestion, perhaps providing a synchronous way to execute another script by name in a pre-request script, such as `postman.executeRequest(RequestName)`? (Or even better a collection name).

This would allow common setup to take place for collections.

Thanks for the great tool so far!

[2017-09-13 03:23] RichardForshaw commented on #727
+1

This would be ideal, or some doco on being able to serialize a JSON structure as one of the key-value values.

[2017-09-13 04:07] ntonyho commented on #3506
Yup
You have to do it twice
Super annoying

[2017-09-13 05:47] SamvelRaja commented on #3519
Thanks for bringing this to our noticed, I tried reproducing the issue from my end, couldn't reproduce the same.
I am attaching a gif of the flow I followed, am I missing any flow?
![folderdelete](https://user-images.githubusercontent.com/5114052/30361095-b59e7f1a-9872-11e7-9974-668d66cbe3cf.gif)

[2017-09-13 07:45] krogold opened #3520 "Cannot sign in into Postman APP"
Postman for Windows
Version 5.2.0
win32 10.0.15063 / x64

## Issue Report:
 1. systematic from today

 2. Expected behaviour:
Use postman echo for tests
Sign-in in my postman app and recover my current work

 3. no console log - just a "something went wrong message"

4.
I tried to use postman echo services => timeout
I tried to sync => not sync (no message, just still trying)
I tried to sign-out/s

[2017-09-13 08:17] pardeepmillipixels opened #3521 "proxy tab is not displayed in setting and interceptor is also installed in postman."
![proxy](https://user-images.githubusercontent.com/31564222/30366814-f9912fd0-9889-11e7-8869-e7678fd94021.png)

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for

[2017-09-13 08:34] numaanashraf commented on #3521
@pardeepmillipixels Custom Proxy is available only on our Desktop apps and are not currently available in Postman Chrome Apps. You can download the Desktop app for your OS from www.getpostman.com/apps.

[2017-09-13 08:34] #3521 closed, assigned to numaanashraf

[2017-09-13 08:37] numaanashraf commented on #3520
Hi @krogold, could you send us a screenshot of the Console and Network tabs in the apps DevTools? (View > Show DevTools).

[2017-09-13 08:39] numaanashraf commented on #3518
Hi @janzenz, thanks for reporting this. We were able to replicate this issue at our end and will be working on getting a fix out in the coming releases.

[2017-09-13 08:42] krogold commented on #3520
Yes, here they are

![image](https://user-images.githubusercontent.com/29147722/30367976-142e41f8-9870-11e7-8c63-b2248d23acce.png)

and

![image](https://user-images.githubusercontent.com/29147722/30367992-1e59f82a-9870-11e7-8ad7-b1daa562c125.png)

tell me if you need further screenshots

thank you

[2017-09-13 08:43] krogold commented on #3520
sorry, I screwed up the network one, here it is:
![image](https://user-images.githubusercontent.com/29147722/30368087-641e9ac8-9870-11e7-9c8f-c5a6135a2a35.png)

[2017-09-13 08:44] numaanashraf commented on #3517
Thanks for the suggestion @kbuzby. We are constantly working on improving the ease of using variables and your feedback helps a lot.

[2017-09-13 08:46] numaanashraf commented on #3514
@emcence Thanks for reporting this. We are not able to replicate this at our end. Could you let us know your app version and a sample request?

[2017-09-13 08:49] numaanashraf commented on #3509
@selch Thanks for reporting this. We are tracking this issue internally and will let you know of any updates.

[2017-09-13 09:09] kamalaknn commented on #3509
@selch could you give more context as to when you expect the variables to be resolved? Are you using this example as part of a mock response?

[2017-09-13 09:12] emcence commented on #3514
Version 5.2.0 (5.2.0)
PUT/POST request which has headers Accept, Content-Type, Authorization
(which is inactive, unchecked but exist) another random header which is
also checked as Content-Type.

On Wed, Sep 13, 2017 at 10:47 AM, Numaan Ashraf <notifications@github.com>
wrote:

[2017-09-13 10:07] valamelkor commented on #2479
Same issue here. Postman hangs up with responses over 15mb

[2017-09-13 10:50] emcence commented on #3514
Additional info, even if there is no inactive header, added header is not
taken in consideration.

On Wed, Sep 13, 2017 at 11:12 AM, Emilija Petreska <emcence@gmail.com>
wrote:

[2017-09-13 11:19] jschram commented on #2920
Same issue here; typing anything anywhere is painfully lagging

Postman 5.2.0 (standalone version)
Mac OSX 10.12.6

Checkout my timeline export from the dev tools: https://gist.github.com/jschram/41be00df5f033905185d53e979a47714

There's a lot of delays around keypress events

[2017-09-13 11:26] fbatiga commented on #1947
+1

[2017-09-13 11:47] krogold commented on #3520
Strange ... I can sign in online. I think I'm up to date with the version, there must be something with my network connection ...

[2017-09-13 12:18] krogold commented on #3520
Can I do a wireshark capture ? which ip should I seek ?

[2017-09-13 12:54] rafaelkarst commented on #812
I agree, it has been 4 years and this still not available, i agree with the solution for a public url to hold files, that should be enough to test with runner.

[2017-09-13 13:34] #3323 closed, assigned to ratpik

[2017-09-13 13:35] #3246 closed, assigned to ratpik

[2017-09-13 15:26] chucktestar commented on #1850
[code]
I can confirm this is still present in 5.2.0. @soufian044's [workaround](https://github.com/postmanlabs/postman-app-support/issues/1850#issuecomment-261722907) is still effective as well.

[2017-09-13 18:10] evanextreme commented on #1475
+1, keeping the dream alive

[2017-09-13 20:35] spati-java commented on #1104
@postman-admin  team please help, it seems million of us need this feature. Please fix this issue.

[2017-09-13 21:03] alohaninja commented on #1498
this is definitely a requirement for us - I hope to see this feature done soon, can't be too difficult to implement.

Supposedly the [desktop postman app used to work](https://chocolatey.org/packages/postman), but I couldn't get it to use a custom content type (e.g. [you must download the standalone postman app as the chrome extension does not fully support this feature yet](https://github.com/pos

[2017-09-13 21:38] PerthCharern opened #3522 "Swagger import does not populate hostname correctly when path starts with mixture of string literal and variable e.g. "/v{version}""
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Not sure. Most likely has always been there.
 2. Expected behaviour: Hostname should be populated correctly.

## Repro Step:

- Get a swagger v2 file. The pet store should work http://petstore.swagger.io/v2/swagger.json

- Change the first path from `/pet` to `/pet{aaaaa}`.

- Import in

[2017-09-13 23:21] Stephen3443 opened #3523 "Feature Request: Multiple Concurrent Send Requests"
It would be extremely useful if you could select multiple saved requests in the left pane and send them at the same time concurrently. It would mean we could simulate real world situations where we have users accessing features at the same time and causing concurrency issues.

[2017-09-14 04:55] walterpinson opened #3524 "Get New Access Token results in HTTP 404 after login - Auth0"
## App Details:
[code]

## Issue Report:
When attempting to get a new **OAuth 2.0** access token via the *Get New Access Token* button, the process ends in an HTTP 404 error.

 1. Did you encounter this recently, or has this bug always been there:

I've successfully used this feature quite some time ago on a different project.  But most recently, this is the only behavior that I'm seeing on my cur

[2017-09-14 06:58] DavydeVries opened #3525 "Variables in token name not working"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently, but I think it's always been there.
 2. Expected behaviour: replaces variables in token name
 3. Console logs: doesn't apply
 4. Screenshots (if applicable): see below

## Steps:
1. Manage environments, add a environment
2. Add some variables
3. Request a OAuth2 access token,

[2017-09-14 07:56] karolpyrek commented on #1885
+1

[2017-09-14 08:14] numaanashraf commented on #3523
@Stephen3443 Thanks for the suggestion. We'll take this into consideration as we plan our roadmap. You can find our current roadmap here - https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers

[2017-09-14 08:29] krogold commented on #3520
Hi, I tried logging on someone else's computer and it worked. His version is 4.10.7 though ...
I guess it may not be linked to postman but more linked to my network connection.
However, I don't have any problem to access to internet. did you manage to find something out of the printscreens ?
Would it be worth reinstalling the APP ?
will I lose my collections  ?

[2017-09-14 08:42] rianwouters commented on #2681
Same problem here.
Quite surprised that a bug as impactful as this one persists so long in a tool like this....
I will try to find a fix.

[2017-09-14 09:09] krogold commented on #3520
I'm definitely not an expert in Windows. Restarting my machine was not enough, I had to restart my ethernet card. Now I can sign-in and use postman-echo for tests (thank you Michel !).
I just hope that syncing will give me back my collections !
Thanks for your time.
Alexandre

[2017-09-14 09:09] #3520 closed, assigned to numaanashraf

[2017-09-14 09:55] ligol commented on #492
Any news on this issue? I got the same problem, I need to send the id_token return by auth0 not the access_token

[2017-09-14 09:56] numaanashraf commented on #3524
@walterpinson Thats odd. I just tried the steps you had provided and I was able to get a new token from Auth0. Could you try again and let us know if you are still facing this issue?

[2017-09-14 11:16] ZedoAditi commented on #3508
Hi siddhant,
My issue is similar to the mentioned above.
When I try to drag a subfolder from the collection folder to another collection folder, the json from the body section becomes blank from all the requests(POST/PUT).

Please check.
Thanks.

[2017-09-14 11:18] ZedoAditi commented on #3508
Postman for Windows
Version 5.2.0
win32 10.0.15063 / x64

[2017-09-14 11:19] cawoodm opened #3526 "Remember Collection between Saves"
Every time one saves a request, postman forces you to select a collection.

Even if you "Save As" an existing request from Collection A you have to re-select Collection A (the scrolling selection is actually pretty hard to use - oversensitive to mouse scrolling).

It would be much better if the last collection was remembered. The user can select another one but the last chosen collection is offere

[2017-09-14 11:21] cawoodm opened #3527 "Close All Tabs: No to all option"
When one selects close all tabs and there are 20+ tabs open you have to say "Don't" save 20 times. Should be a "No to all" option.

![ss](https://user-images.githubusercontent.com/498834/30427302-91b637ea-994f-11e7-9ca2-08d96e553a4a.png)

[2017-09-14 12:06] walterpinson commented on #3524
Thanks for such a quick response, @numaanashraf.  The fact that this works for you provides more data to my troubleshooting efforts.  Could you please confirm for me that the 404 screen that I included above is a Postman screen and not an Auth0 screen?

[2017-09-14 12:14] prashantagarwal commented on #3527
@cawoodm We are already tracking this issue here #2195 . I am closing this as duplicate issue.

[2017-09-14 12:14] #3527 closed, assigned to nobody

[2017-09-14 12:15] prashantagarwal commented on #3526
@cawoodm we are already tracking this issue here #3467 . I am closing this as duplicate issue.

[2017-09-14 12:15] #3526 closed, assigned to nobody

[2017-09-14 12:21] walterpinson commented on #3524
I repeated the steps with the same result.  Clearly, the configuration for the authorization URL is correct because I am redirected to the Authorization Service and am allowed to login.  The request is either failing at one of the callback URLs or the Access Token URL.  Since the console and dev tools aren't picking up the network traffic for this request, I'm flying blind.

[2017-09-14 12:41] kamalaknn commented on #3525
@DavydeVries thanks for sending your feedback. We are working on improvements to the OAuth token generation flows.

We are planning on adding more information to the token outside of the token name like the timestamp and provider by default. Would that help? Is there something you would want from the environment?

[2017-09-14 15:00] poisa commented on #3502
Let me add to this that having a diff with what the API had before and what it has now would be absolutely wonderful.

[2017-09-14 15:05] poisa opened #3528 "Activity Feed shouldn't track non-shared collections"
## App Details:
[code]

I don't think the team activity feed should show things you do outside shared collections. In my workflow I usually do all sorts of tests and I don't want team members to have to see them. Think of it as using git; every time you hit the save button on the endpoint, you are making a commit. Whatever you do outside a shared collection should not be commited.

Currently if yo

[2017-09-14 15:08] si-net opened #3529 "Empty/null values in CSV-Files are resolved to variable name"
## App Details:

[code]

## Issue Report:
 1. Recent problem
 2. Context: Collection Runner, Submitting raw Json Bodies with the use of Data-variables.
 3. When a csv files contains empty values these will not resolve to an empty value in the request body. But instead the name of the data-variable will be placed in the request.

## Steps to reproduce the problem

Have csv-file that contains an emp

[2017-09-14 16:03] si-net commented on #3529
Problem was resolved. To produce empty strings one has to input: "" into the csvfile via a texteditor

[2017-09-14 16:17] sebastian-serfe commented on #1947
+1

[2017-09-14 20:42] obenshaindw commented on #2479
I am having a similar issue posting a 38 MB CSV file (88298 lines) as raw data. Postman readily returns a response from the service; however the application then crashes and becomes unresponsive.

I thought this might have to do with the postman Sync feature so I disabled it. Then copy/pasted my 38MB of text, saved, and ran my request.  With the Sync feature disabled, it works as expected.

[2017-09-14 21:56] rylanb commented on #156
In Postman 5.2.0 for Mac I am not seeing a size set anywhere, just the time and status. :(

[2017-09-15 05:38] gbataille commented on #903
👍

[2017-09-15 06:32] wysow commented on #2681
@rianwouters requests sent through the app are using headers as you set them so all working, only exported code is affected by this, what is exactly the problem your facing?

[2017-09-15 10:28] zchazc commented on #3126
So desired.
And why not use "_locales" file(localization setting of Chrome)?

[2017-09-15 12:25] #3529 closed, assigned to nobody

[2017-09-15 12:55] miezel commented on #2088
Workaround didn't do it for us. If we don't check this we get message 'Could+not+make+access+token+request'

We are using OpenAM which is very strict so access token request with client id/client secret in both auth header and request body is rejected.

We are more than happy to use the newest version but this is blocking for us.

Hoping for a quick fix on this.

Regards,
Michel

[2017-09-15 13:11] rianwouters commented on #2681
@wysow I deleted my comment. We found out that the problem is not in postman. Sorry for bothering you, we just concluded too fast the we were facing the issue described above.

[2017-09-15 14:44] reggi commented on #364
Would love a programatic way to wipe the cookies after a request in the Test.

[2017-09-15 14:56] wysow commented on #2681
@rianwouters sure no problem! Have fun with Postman!

[2017-09-15 15:40] eightyeighteyes commented on #2195
I really really want an option to disable this prompt when a tab is closed.  I often work with a lot of temporary requests that I don't mind throwing away.  When I do accidentally close one, it's pretty easy to recover through the request history.

I just tried 'Close all tabs' and it prompted me for every open tab.  Closing one window appears to close EVERY Postman window (which seems like a diff

[2017-09-15 16:16] maciekdragan commented on #2195
If people want to lose their work by closing tabs without prompt, why not allow them to do so? Give them an option in settings, they're programmers, IT guys, they know what they are doing ;)

Nevertheless, I believe that the best solution already exists. It's implemented in Chrome browser:
ctrl + w  [close tab]
ctrl + shift + T  [restore tab]

Postman could save tab data before closing them, and r

[2017-09-15 17:00] kbuzby opened #3530 "Collection Runner Statistics Page Should Show Environment"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Encountered Today
 2. Expected behaviour: It would be nice to at the very least see the environment name the collection ran against when a run is selected in the statistics view.

In Collection Runner:
You can see part of the environment the collection ran against in the "Previous Runs

[2017-09-15 19:35] bquack commented on #1383
+1 experiencing the same issue with Postman v5.2.0 and Newman v3.8.1

[2017-09-15 19:47] BrianKilby commented on #1383
+1 experiencing the same issue with Postman v5.2.0 and Newman v3.8.1

[2017-09-15 20:02] bhartsfield commented on #1383
+1 experiencing the same issue with Postman v5.2.0 and Newman v3.8.1

[2017-09-15 21:07] hwerner-rms commented on #3498
Same on MacOS X. The request string is overwritten, too :(

[2017-09-15 22:54] luqmansungkar opened #3531 "Request send hang when run with tests"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **`just recently`**
 2. Expected behaviour: **`Request sent, test run, the response showed, test result showed`**
 3. Console logs:
[code]
[code]
## Steps to reproduce the problem:
* Create usual request, write anything in tests tab (even a simple console log or anything from the snippe

[2017-09-16 11:41] cacothi opened #3532 "Social Login"
## App Details:
[code]

## New Feature:
Hi guys,

I was wondering if would be nice to have on the pre-request the possibility to trigger some social logins and on the callback set an global variable with the credentials to run the end-points.

As Facebook login doesn't change often, for example, would be even nicer if the users could input their facebook app ID and scope and the postman handles th

[2017-09-16 15:19] nottyo commented on #1885
+1

[2017-09-16 16:56] DannyFeliz commented on #1947
+1

[2017-09-16 22:31] poisa opened #3533 "Feature request: Edit variables directly in popup window"
When you hover over a variable a small popup window appears with the variable's value. It would be great if you could edit it right from that window instead of having to go through the menues to do so.

[2017-09-16 23:57] ozbillwang commented on #327
Thanks, @madebysid

Seems it is fine on my mac with this native apps `version 5.2.0`. I can set headers `Content-Type` to `application/json`, and `GET` works.

But when I test `POST` request and set body with `format data` (several key-values),  for example,

[code]

It always reports

[code]
I have to set with raws data with below json format directly

[code]

Now it works. But why it doesn't wor

[2017-09-17 00:07] mrccnt commented on #2701
+1 We also need to check our own and some external HTTP/2 APIs

[2017-09-17 09:05] zabbarob commented on #3127
I had the same issue. It was caused by a newline at the end of the "Authorization" header's value, which I had set manually by copy-pasting the bearer token (which accidentally contained the newline at its end)

[2017-09-17 11:32] abhishek-raj commented on #166
+1 MERGE

[2017-09-17 21:07] fsck-mount opened #3534 "Request is not proper when Accept-Encoding is set!"
I tried to send request to NodeApp with header `Accept-Encoding` and the value set to `gzip, deflate, br`. Unfortunately i'm getting the body as empty.

[code]

Here is the sample server code to test this.

[code]

Make **post** request with the following headers set and JSON data in body.

[code]

and make one more request without the header. In the above case you can't see the body. But by remov

[2017-09-18 06:57] scenage opened #3535 "Sync issue - ordering of requests is not being synced"
## App Details:
Postman for Windows
Version 5.2.0
win32 10.0.15063 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: **Recently**
 2. Expected behaviour: Creating requests in postman and then shifting the ordering is not being reflected in the postman pro call. This is happening for multiple requests.

This is the ordering of the requests in my postman

[2017-09-18 07:25] cawoodm commented on #1228
My 2 cents: it should be a simple yes/no option under settings to enable/disable cookies. Most APIs and Webservices are stateless and cookies just make problems.

Today, I had requests working until I switched my user (Authorization header). Then everything stopped working with 401 bad credentials. Reason: cookies! The server thought I was still in the session of the old user.

[2017-09-18 07:30] scenage commented on #3535
The ordering matters when we are running newman through powershell.

[2017-09-18 07:47] candyan opened #3536 "post mac client connecting always"
<img width="1281" alt="2017-09-18 3 36 20" src="https://user-images.githubusercontent.com/1287252/30532735-79463016-9c88-11e7-86a1-150c20a114c1.png">

<img width="1425" alt="2017-09-18 3 45 22" src="https://user-images.githubusercontent.com/1287252/30532741-809f36be-9c88-11e7-9d1f-d62ffaefc98e.png">

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug alw

[2017-09-18 08:02] bhawna2109 commented on #2195
@eightyeighteyes @maciekdragan Thanks for all the inputs. Improving this behavior is part of our next release - please stay tuned for updates on this!

[2017-09-18 08:03] numaanashraf commented on #3536
@candyan We had a momentary network outage, which should be resolved now. Could you check and let us know if you are still facing this issue?

[2017-09-18 08:08] bhawna2109 commented on #3533
@poisa Thanks for the feature request. This is actually on our roadmap and we're tracking this issue here- https://github.com/postmanlabs/postman-app-support/issues/763 We'll update the thread once we have this feature out.

Closing this one as duplicate.

[2017-09-18 08:08] #3533 closed, assigned to bhawna2109

[2017-09-18 08:13] numaanashraf commented on #3534
@gowtham-sai We are not able to replicate this issue with the sample you had provided (refer screenshot below)

<img width="831" alt="screen shot 2017-09-18 at 1 40 57 pm" src="https://user-images.githubusercontent.com/3295568/30533476-22561df4-9c77-11e7-8eee-6f20be35fa26.png">

Could you send us screenshots of the error you are receiving at your end?

[2017-09-18 08:16] numaanashraf commented on #3531
@luqmansungkar Thanks for reporting this. This seems to be a URI parsing error. Could you share a sample request to replicate this issue at our end? It'll help us a lot in triaging this issue.

[2017-09-18 08:32] candyan commented on #3536
resolved for me now! thx @numaanashraf

[2017-09-18 08:33] #3536 closed, assigned to numaanashraf

[2017-09-18 09:06] GingerMoon opened #3537 "Does POSTMAN support eBay OAuth2.0 token?"
## App Details:
Version 5.2.0
win / x86-32
Chrome 60.0.3112.113

## Issue Report:
Not able to get eBay OAuth2.0 token via POSTMAN.
Steps to reproduce the problem
[reproduce steps.xlsx](https://github.com/postmanlabs/postman-app-support/files/1310158/reproduce.steps.xlsx)

The document of eBay OAuth2.0:
https://developer.ebay.com/api-docs/static/oauth-user-token.html
Not very sure whether POSTMAN h

[2017-09-18 09:11] RakeshMadhavan opened #3538 "Capture input values and store it into variables"
Hello,

Is there a way to capture the values I pass as input and store it into variables? For example, I pass a value name=abc as the input. The response gives me values similar to abc but not exactly abc. The name I pass is dynamic and will be different for different requests. So, I need to save these input values somewhere. Is there a way to do it?

Regards
Rakesh

[2017-09-18 10:04] luqmansungkar commented on #3531
Sample request:

[code]

Sample tests script:
[code]

Expected response:
[code]

Is that enough?

[2017-09-18 10:34] kamalaknn commented on #3531
@luqmansungkar we're not able to reproduce this with any of our API endpoints. It appears to be working for both JSON and non JSON responses.

Could you share a sample of actual response you received that broke the request?

[2017-09-18 10:39] harryi3t commented on #3537
@GingerMoon
I checked their docs and found this
![image](https://user-images.githubusercontent.com/5207331/30538168-54c98b00-9c8a-11e7-92b8-ae8bebb06c3e.png)
Correct me if I am wrong here,
They require that the `redirect_uri` to be the `RU-name-value` (a string generated from their UI, for me it was `Harendra_Singh-Harendra-Postma-xxxxxxxx`)

But according to the [RFC](https://tools.ietf.org/html/

[2017-09-18 11:13] miralpopat opened #3539 "Duplicating folders deletes the body in the copied folder request"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently
 2. Expected behaviour: should keep the request as after copying the folders
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

1.

[2017-09-18 11:17] miralpopat commented on #3506
agree its very slow

[2017-09-18 11:18] abhijitkane commented on #3539
@miralpopat Not able to reproduce this. Can you attach a screencast/gif of the bug?

[2017-09-18 12:02] abhijitkane commented on #3539
@miralpopat Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3484. This has been fixed internally - we'll push out a public fix soon.

[2017-09-18 14:20] ccrreed commented on #2851
+1

[2017-09-18 15:58] reggi commented on #1473
⌘(CMD) + b

[2017-09-18 18:30] krich commented on #3537
Hi Harry,

There's not much we can do about using our in-house generated RuName value for the **redirect_uri** value.

We issue the following redirect URL, with query parameters, to get the 3p-permissions, and I am wondering how to set up this redirect URL in Postman:

`/* URL redirects a user to the apps Grant Application Access page */
  https://signin.sandbox.ebay.com/authorize?
    client_id=<

[2017-09-18 18:43] workabyte opened #3540 "Would like to see some extended functionallity on monitor notifications"
would love to see the following implemented to monitor notifications

- ability to define levels of alerts based on
-- specific tests failing
-- consecutive fails
- i would like to have some level of integration from tests to notifications.
-- something like setting up the tests but setting up notifications that could then have custom messages / subjects / recipients defined by logic in the test

[2017-09-18 20:26] JohnPelletier commented on #278
@a85, any sample implementation you can show of the chrome.socket integration with postman? Would really help.

[2017-09-18 20:31] dperconti commented on #2617
Having this issue as well

[2017-09-18 22:05] gareth-a-jones commented on #3338
Seems like it and its compatriot should have the auth label too?

[2017-09-18 22:05] gareth-a-jones commented on #3337
Seems like it and its compatriot should have the auth label too?

[2017-09-19 03:19] GingerMoon commented on #3537
@harryi3t
Hi Harry, thank you very much for looking into this issue, I really appreciate it.
"So postman will send the redirect_uri as https://www.getpostman.com/oauth2/callback which is pre-configured
But their server is expecting the string they generated (the RU-name-value)"

You are right that eBay's server is expecting the RU-name-value string. Actually, the according to this string, eBay ser

[2017-09-19 03:53] tapyokka commented on #2476
+1

[2017-09-19 07:43] harryi3t commented on #3103
@DraakUSA Reading file from test scripts is not supported in Postman.
But, you can always use Runner + data file for this.

create a file data.csv having all the values
[code]

open runner and click on `select file`, pick the file created above
![image](https://user-images.githubusercontent.com/5207331/30581072-80e810dc-9d3c-11e7-92c8-5a58b1c765f4.png)

Verify the details are correct by clicking o

[2017-09-19 07:49] harryi3t commented on #3103
Also, can you let me know how these values are updating?

[2017-09-19 07:51] luqmansungkar commented on #3531
Yes, I also confused because the same endpoint with the same code, failed in my dev machine, but worked in the prod environment. It worked before in my dev machine.

What I share before is the actual response from my dev machine. Here's another example of the same endpoint
[code]

If try the request while opening the Postman Console, it showed these:
* Request Headers
[code]
* Response Headers
[co

[2017-09-19 08:36] josslamberti commented on #3291
@SamvelRaja I have reproduced the issue and have a recording of it. How do you want me to share it privately with you?

[2017-09-19 08:48] peter-wangxu commented on #3469
We are not encoding the url in the http response due to other limitations in our backend.

Can you please escalate this and make it available in a future release?

Thanks
Peter

[2017-09-19 09:43] miralpopat commented on #3484
thanks it works

[2017-09-19 10:11] SamvelRaja commented on #3291
@josslamberti kindly post it here.

[2017-09-19 11:13] SamvelRaja commented on #3291
@josslamberti Received your screencast thanks for it 👍

[2017-09-19 12:13] Mark90 commented on #2489
I had the issue of the update not even downloading, with the error message being "Please retry later". This happened on 5.0.0 when I wanted to update it to 5.1.3, and also on 5.1.3 when wanting to update to 5.2.0.

Just now, I started 5.1.3 through the terminal -as described by @SamvelRaja- in order to get logs, but for some reason this caused it to update without problems!

[code]

[2017-09-19 14:44] clintfidel commented on #1762
make sure what you are passing in is in the right json format.....
it should be like this
{
"title": "coding"
"author": "clintfidel"
}
i solved my own error like this

[2017-09-19 16:31] blikblum commented on #3300
I can reproduce the issue with PostMan for windows 5.2 (newman also shows the same behavior)

[2017-09-20 03:16] KeynesYouDigIt commented on #1227
@abhijitkane @a85 I am having a critical issue with this problem - subfolders are not syncing, eventhough everything else is like the collection name and documentation

Is there a known issue with subfolder sync in the new versions?

[2017-09-20 06:36] NeerajAduri opened #3541 "We can post a data and a file, for data I need to use a raw and JSON and for file I have to use Binary data, so I am achieveing this now by making 2 API calls. Can I do it with one API call? can I use raw->JSON and somehow make sure that attachment is also uploaded?"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-09-20 07:42] numaanashraf commented on #3540
Thanks for the suggestion @workabyte.

[2017-09-20 07:42] #3539 closed, assigned to SamvelRaja

[2017-09-20 07:45] numaanashraf commented on #3538
@RakeshMadhavan I'm afraid I don't understand your use-case. Could you please give a detailed explanation?

[2017-09-20 07:58] numaanashraf commented on #3541
Hi @NrjAr, this is not supported in the UI yet. We are tracking this issue at #1104. I'm closing this as a duplicate.

[2017-09-20 07:58] #3541 closed, assigned to numaanashraf

[2017-09-20 08:00] NeerajAduri commented on #3541
Yeah please! I will follow 1104 then, thanks for the response.

[2017-09-20 12:07] harryi3t commented on #2941
@medjai MD5 does work
![image](https://user-images.githubusercontent.com/5207331/30642481-b411024c-9e28-11e7-9f68-de2765355fd1.png)
Let me know if you have issues with MD5. (Also in next release we are supporting auto-detection of nonce and realm from the server response, so the user would have to fill the username and password only and it will just work)

@kota65535  About MD5-sess, from what I t

[2017-09-20 12:52] muehan commented on #2292
+1
there is a useful workaround here: https://stackoverflow.com/a/40544245/4383425

[2017-09-20 15:04] AI-debug commented on #2392
```+1```

[2017-09-20 16:01] poisa opened #3542 "Environment variable becomes "unchecked" if duplicated"
## App Details:
[code]
## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Just encountered this in the last version (don't know if it was there before)

 2. Expected behaviour:
Send the same request multiple times without having to go to the Environment panel and enable (or select) the desired variable.

 3. Console logs (http://blog.getpostman.com/2014/01/27/

[2017-09-20 19:05] IcarusCodes opened #3543 "Modify Generated Save File"
Hello,

I would like to choose what gets saved in the exported file(the one you get from Runner > Statistics > save external file). I am going over an API and I require 83332 iterations. 1000 iterations generate 500k lines in the external file, and i cannot manipulate it due to its size.(~200mb)

Is there a way I could choose what gets saved in the generated file? I would only require the response

[2017-09-20 19:09] #1418 closed, assigned to abhijitkane

[2017-09-20 19:09] #1490 closed, assigned to nobody

[2017-09-20 19:10] #1753 closed, assigned to nobody

[2017-09-20 19:14] IcarusCodes commented on #3543
Running all 80k requests would estimately generate 42 millions of lines, which would be roughly 12GB, was bored and did some math since this is a showstopper for me till I sort out how to customize the save file.

[2017-09-20 21:07] jordaaash commented on #2621
+1. We have essentially the same use case as @rolfmadsen. We have access tokens for different roles, and templates other for request variables, and want to be apply to compose them together for requests.

[2017-09-20 22:32] dperconti commented on #2857
Any update on this ticket?

[2017-09-21 00:14] oyeanuj commented on #1744
@a85 Curious if this is on the short-term radar?

[2017-09-21 05:50] sdnts commented on #3532
@cacothi Have you taken a look at `pm.sendRequest`? You can send requests from within pre-request & test scripts using this. [Here](https://gist.github.com/madebysid/b57985b0649d3407a7aa9de1bd327990) are some examples.

I'm closing this, but please feel free to reopen if you face problems :)

[2017-09-21 05:50] #3532 closed, assigned to sdnts

[2017-09-21 08:00] prashantagarwal commented on #3542
@poisa Thanks for reporting this. We are looking into this issue.

[2017-09-21 08:10] prashantagarwal commented on #3543
@IcarusCodes We don't have this currently. But I can tell you a very simple work around which you can modify according to your use case. You can create a local node server and expose a POST endpoint from that. Then you can start sending your API response to this POST request and on the server side just write this received response to a file. This is a [blog post](http://blog.getpostman.com/2017/09

[2017-09-21 08:10] #3543 closed, assigned to nobody

[2017-09-21 09:01] chelovekdotcom opened #3544 "Make a configurable option in Settings like "Create separate tab on each call" with default = "false""
## App Details:

[code]

## Issue Report:
Working with PostMan I make about 20-50 REST calls every day.
At the end of the day I find out that I have opened >30 tabs. I need to close them one by one because the 'Close all tabs' menu item confirms at each tab.
That's why I propose to make a configurable option in Settings like "Create separate tab on each call" with default value = "false".
So user

[2017-09-21 09:13] prashantagarwal commented on #3544
@chelovekdotcom I don't think we will have support this. But that being said we do understand the pain of closing tabs one by one and getting that confirm box. In upcoming release we are fixing this to force close all tabs. I hope that will help in your workflow.

[2017-09-21 09:13] #3544 closed, assigned to nobody

[2017-09-21 09:38] karanthakral commented on #2724
Any updates?

[2017-09-21 10:47] Moily commented on #1137
Can we be given an ETA for this feature, at the very least?  It would be great to be able to return to Postman.

[2017-09-21 11:11] RobbyDeLaet commented on #1137
I have contacted support and they promised NTLM authentication in the mid-end October release (this year).

I would have liked that someone from Postman made this reply though.

[2017-09-21 11:12] harryi3t commented on #1137
The [PR for NTLM](https://github.com/postmanlabs/postman-runtime/pull/390) is merged in runtime
This will be released with Postman 5.3 🎉

[2017-09-21 11:16] Thrilok3 commented on #3503
i got the same issue
(https://user-images.githubusercontent.com/32164325/30693224-3b1eadf2-9eec-11e7-93fb-2e50d8940a6b.png)  that is the referenced screen shot,please give me the solution

[2017-09-21 11:16] prashantagarwal commented on #3542
@poisa We have fixed this bug internally. This will be fixed in next release.

[2017-09-21 11:22] Faz540 commented on #3457
Just reproduced this on version 5.2.0 on Windows.

To be fair, this is the first time I've encountered it this week.

[2017-09-21 11:28] abelsromero commented on #1104
+1 I think this should be implemented.
Also, it seems weird to me, that even if you add the content-type into a form field, it its ignored by Postman, BUT! when using the `code` -> `curl` feature, the command generated includes it and works fine.

[2017-09-21 11:36] prashantagarwal commented on #3503
@Thrilok3 Can you provide me some details.
 - What request you are trying to hit (GET, POST etc).
 - Is it to a local server or any other service.

[2017-09-21 11:41] Thrilok3 commented on #3503
post method, it is in server machine

[2017-09-21 11:42] prashantagarwal commented on #3503
@namrata18s @vaibhav-plackal @Thrilok3 Can you guys also do one favour. The request for which you are not getting any response, can you generate a curl code using Postman code snippet generator and try sending this request from terminal. Let me know if you see any error.

[2017-09-21 11:47] Thrilok3 commented on #3503
(https://user-images.githubusercontent.com/32164325/30694202-a1aeead8-9ef0-11e7-85bf-d5c1fab842dc.png)   in local host is working fine that is the error i got

[2017-09-21 11:49] prashantagarwal commented on #3503
@Thrilok3 ok did you tried it with curl also ? You can generate by using Code generator on the right side.

[2017-09-21 11:52] Thrilok3 commented on #3503
i tried in my site and postman only not tried in curl.

On Thu, Sep 21, 2017 at 5:19 PM, Prashant Agrawal <notifications@github.com>
wrote:

[2017-09-21 11:55] prashantagarwal commented on #3503
Ok Thrilok I am guessing this might not be related to Postman. So I am guessing when you are sending this post request some error is happening on the server, which is not handled by the server. As a result of which the server is not returning any response. Also in the first screenshot that you posted I can see error ECONNRESET which is generally caused by the same issue. If you could try sending o

[2017-09-21 12:27] gzur commented on #2030
+1

[2017-09-21 13:00] Thrilok3 commented on #3503
on that request we request the google analytics api also,please give me the
solution for that.

thanks,
Thrilok.

On Thu, Sep 21, 2017 at 5:25 PM, Prashant Agrawal <notifications@github.com>
wrote:

[2017-09-21 13:08] prashantagarwal commented on #3503
@Thrilok3 I am sorry but I will not be able to help if the issue is not in Postman.

[2017-09-21 13:08] #3503 closed, assigned to numaanashraf

[2017-09-21 16:01] jamesajones commented on #2626
I use a two step process in which I copy the values from Www-Authenticate into the Digest fields. Sorry but haven't mastered scripting yet.

[2017-09-21 16:08] jamesajones commented on #932
From the beginning I have used a two step process with Digest Authentication build the request build the request from Firefox extensions and send it and get the 401 copy the nonce and sometimes the opaque into the digest fields and resend for success.

[2017-09-21 16:27] davorpeic commented on #3127
We also had similar issues, and it was really strange because on my mac it was working fine, and on other mac it was giving "Could not get any response", both same 5.2.0 version.

So I think the issue was that I was using independent postman.app downloaded from website, and other mac was using Google Apps version as that versions doesn't have Postman Console in the View. We downloaded standalone a

[2017-09-21 16:34] LKI commented on #2458
+1 as a thirsty user.

[2017-09-21 18:23] nilskp opened #3545 "No SSL/certificate tab/fields to be found anywhere in 5.2.0"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just started using Postman, the Windows download.
 2. Expected behaviour: Per the documentation, and screenshots seen, I'm expecting to find either/both an SSL setting in the General tab, or a Certificates tab. Neither are present.
 3. Console logs (http://blog.getpostman.com/2014/01/2

[2017-09-21 18:36] jpete-ksc commented on #3232
Same exact issue for me. I have created api gateway methods for downloading and uploading files to S3. Downloading files using Postman and the api gateway GET method works just fine. However, uploading a binary file using the PUT method does not work when I select an attachment to upload:

    "message": "The request signature we calculated does not match the signature you provided. Check your AWS

[2017-09-21 21:10] mjkraner opened #3546 "Body goes missing when I copy tests"
## App Details:
Version 5.2.0
win32 6.3.9600 / x64
[code]

[2017-09-22 00:01] Arijit1234 commented on #2256
Hi ,
I just installed postman last week. It was working when I installed but stopped working from second day. The post will load the UI when I start it but within 2 min, it turn into a white screen. I am using Windows 10, i7, 16 GB ram.
![image](https://user-images.githubusercontent.com/32181945/30723802-f72b21c0-9f7c-11e7-961d-9f54be0b39a8.png)
![image](https://user-images.githubusercontent.com/3

[2017-09-22 05:41] SamvelRaja commented on #3546
@mjkraner  seems to be a duplicate of #3484, kindly confirm from your end.

[2017-09-22 06:27] cawoodm opened #3547 "Authorization Header Lost"
## App Details:

[code]

## Issue Report:
Recently moved to the windows (not chrome) app. Whenever I change the credentials on the Headers tab to a variable value:
![auth1](https://user-images.githubusercontent.com/498834/30731706-408e9328-9f6f-11e7-84e7-4de07692b2f8.png)

they get changed back to whatever is on the Authorization tab when the request is sent
![auth2](https://user-images.githubuser

[2017-09-22 07:24] prashantagarwal commented on #3545
@nilskp Those tabs are there in our native postman apps. I am guessing that you are using chrome app.

[2017-09-22 07:24] #3545 closed, assigned to nobody

[2017-09-22 07:26] kamalaknn commented on #3547
@cawoodm this is because the `Authorization` will always override your header. If you want to use a different `Authorization` header, you would have to do by setting `Authorization` to `No Auth`, which you have noticed.

However, Postman should not automatically replace or add a `Header` to the request itself. We will be fixing it in the next version.

I'll update this thread when this fix is roll

[2017-09-22 08:07] emcence commented on #3514
Find out that header was depended from another one, so if both are used
than having expected outcome. Described behavior above is not a postman
issue.

On Wed, Sep 13, 2017 at 12:50 PM, Emilija Petreska <emcence@gmail.com>
wrote:

[2017-09-22 08:27] dannyhajj commented on #3291
Very sorry for the late reply, but I just wanted to let you know that my problem went away on its own before even updating to v5.2.0-canary02 (I was still on 5.1.2).
I had thought I'd open the DevTools and see if there are any logs that would show up while rearranging the requests. But nothing showed up, and everything was working fine. I never had any problems since.
Not sure if I had done anythi

[2017-09-22 08:33] prashantagarwal commented on #3514
@emcence Is this a bug in Postman app ?

[2017-09-22 08:34] emcence commented on #3514
No. Not a bug.

On Fri, Sep 22, 2017 at 10:33 AM, Prashant Agrawal <notifications@github.com

[2017-09-22 08:35] prashantagarwal commented on #3514
Oh cool. Closing this issue.

[2017-09-22 08:35] #3514 closed, assigned to numaanashraf

[2017-09-22 09:03] #3084 closed, assigned to harryi3t

[2017-09-22 09:04] #3064 closed, assigned to numaanashraf

[2017-09-22 09:07] kunagpal commented on #2232
This is now possible in Postman v5.2.0 and above, with `pm.sendRequest`. See https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference#pmsendrequest for a working example.

[2017-09-22 09:07] #2232 closed, assigned to shamasis

[2017-09-22 09:31] #3069 closed, assigned to kamalaknn

[2017-09-22 09:47] wizardnet972 opened #3548 "postman with oauth2 and nodejs response"
Hello. I'm building auth2server with nodejs. and I need some help to understand what Response should I return to postman..
I have route:
[code]

When I click on "Request token" button (in postman) new window is popup, with the test (from the route) as content.
What I missing here what I need to do to Postman that give him access_token?

I want to skip the login screen for now.

I'm not sure what d

[2017-09-22 09:52] prashantagarwal commented on #3548
@wizardnet972 I am sorry but we use this repo to only keep a track of bugs and feature requests. I think a better place for your query would be our slack community or stackoverflow.

[2017-09-22 09:52] #3548 closed, assigned to nobody

[2017-09-22 09:56] prashantagarwal commented on #1595
@mstaalesen Were you able to reproduce this on any of our native app as well ?

[2017-09-22 10:01] #2225 closed, assigned to numaanashraf

[2017-09-22 10:03] #2898 closed, assigned to harryi3t

[2017-09-22 10:03] #2566 closed, assigned to czardoz

[2017-09-22 10:06] #3167 closed, assigned to sdnts

[2017-09-22 10:07] #3405 closed, assigned to kamalaknn

[2017-09-22 10:28] prashantagarwal commented on #2466
@enotramone Can you update to 5.2.0 and verify if this issue is fixed. Also I just tried your example
and `https://example.url/foo?bar=parameter==` was shown as `https://example.url/foo?bar=parameter%3D%3D` which I believe is correct.

[2017-09-22 10:28] #2466 closed, assigned to sdnts

[2017-09-22 10:31] prashantagarwal commented on #2495
@vamsisk Can you update to 5.2.0 and verify if you are still seeing this issue.

[2017-09-22 10:41] prashantagarwal commented on #2550
Guys this is already fixed in current Postman version. If you are still seeing this feel free to reopen this issue.

[2017-09-22 10:41] #2550 closed, assigned to nobody

[2017-09-22 10:45] prashantagarwal commented on #2604
@tariqghalib Can you update to latest version of Postman app and verify if you are still seeing this issue.

[2017-09-22 10:48] #2551 closed, assigned to sdnts

[2017-09-22 10:51] prashantagarwal commented on #2615
@rajcybage Can you update to 5.2.0 and verify if you are still seeing this issue.

[2017-09-22 10:55] #2655 closed, assigned to nobody

[2017-09-22 10:57] harryi3t commented on #2941
### Update:

I can confirm that `MD5-sess` does not work. Tested with `passport-http`
expected to be fixed in Postman 5.3

[2017-09-22 11:07] prashantagarwal commented on #2689
@adkathuria are you on Postman native app or Chrome app. Also can you provide me with the version number of your Postman app.

[2017-09-22 11:14] #2755 closed, assigned to harryi3t

[2017-09-22 11:14] #2805 closed, assigned to nobody

[2017-09-22 11:19] #2845 closed, assigned to nobody

[2017-09-22 11:24] #2894 closed, assigned to nobody

[2017-09-22 11:27] #2901 closed, assigned to nobody

[2017-09-22 11:31] prashantagarwal commented on #2825
we are already tracking this issue here [#793](https://github.com/postmanlabs/postman-app-support/issues/793). Closing this as duplicate

[2017-09-22 11:31] #2825 closed, assigned to numaanashraf

[2017-09-22 11:35] prashantagarwal commented on #2652
Can you update to the latest postman app and verify if you are still seeing this issue.

[2017-09-22 11:36] angeldalberici opened #3549 "Postman Pro - Unacceptable synchronization issue - Request's body is empty or shared Environment is empty"
Team of 10; we shared around 20 collections and 15  environments.

Sometimes a team member will open a Shared Collection and the Collection has requests with empty bodies.
Then, every team member has to check if they have the issue, often one person has a backup (file) or the bug for some reason is not happening in their  local synchronized postman.

The same has happened to environments.

Around

[2017-09-22 11:51] prashantagarwal commented on #3011
@heatherita are you using `Run in postman` button on this [page](https://developer.okta.com/docs/api/getting_started/api_test_client.html) . I just tried importing the collection and it redirected me to page where it asks if I want to import this to chrome app or native app. Can you let me know what scenario you are facing.

[2017-09-22 11:52] prashantagarwal commented on #3021
@ocallm1 Can you switch to our Postman native apps and see if you are still facing the same issue.

[2017-09-22 11:59] #3105 closed, assigned to kamalaknn

[2017-09-22 12:03] prashantagarwal commented on #3127
Guys I am closing this issue because I think the bug is not related to Postman. If you feel its a bug in Postman feel free to reopen this issue.

[2017-09-22 12:03] #3127 closed, assigned to numaanashraf

[2017-09-22 12:04] #3133 closed, assigned to kamalaknn

[2017-09-22 12:10] prashantagarwal commented on #3409
@nongfumemequan we are already tracking this #3162. I am closing this as duplicate.

[2017-09-22 12:10] #3409 closed, assigned to prashantagarwal

[2017-09-22 12:12] #3176 closed, assigned to prashantagarwal

[2017-09-22 12:18] #3201 closed, assigned to sdnts

[2017-09-22 12:21] prashantagarwal commented on #3207
Can you update to the latest native postman app and verify if you are still seeing this issue.

[2017-09-22 12:21] #3207 closed, assigned to numaanashraf

[2017-09-22 12:24] #3255 closed, assigned to kamalaknn

[2017-09-22 12:50] numaanashraf commented on #3549
@angeldalberici Sorry to hear that you are having synchronisation issues. Please write to us at `help@getpostman.com` and we'll get this rectified.

[2017-09-22 12:57] petermarcoen commented on #3482
This issue cause my OAuth 1.0 request to not work with Curl while it did work for Postman

[2017-09-22 13:27] ValeSauer commented on #3484
Thanks for fixing this. Canary works fine.

[2017-09-22 13:42] nilskp commented on #2512
It seems that Postman doesn't even understand that `application/vnd.api+json` is of type `application/json`, since formatting is listed as just `Text`.

[2017-09-22 13:49] mstaalesen commented on #1595
@prashantagarwal Not able to reproduce right now, but that might be because every time i send a request it takes 1-3 seconds for the response to be shown. Even though the request itself took 5ms or less. Postman is too sluggish at the moment to confirm that this is solved or not :\

[2017-09-22 13:59] medjai commented on #2941
Harendra and All,

Am i testing this incorrectly? I should expect this 401 error initially but
the Realm and Nonce should be sent again from that 401 reply and I should
be authenticated and see my intended response. Is this not the case?

[image: Inline image 1]

On Fri, Sep 22, 2017 at 6:57 AM, Harendra Singh <notifications@github.com>
wrote:

[2017-09-22 16:34] arcseldon commented on #2722
Same problem. Interceptor is enabled, automatically follow redirects is disabled. Doesn't work, still follows the redirects. :(

[2017-09-22 16:37] arcseldon commented on #1490
As reported [here](https://github.com/postmanlabs/postman-app-support/issues/2722) the Chrome  postman extension on Mac does not work even with the interceptor enabled, and  automatically follow redirects toggled OFF.  :(    This has been a constant source of weakness with the offering.

[2017-09-22 17:32] ms-OrionCox commented on #2214
Turn off SSL Certificate Verification in Settings>General

[2017-09-22 20:22] cadeparker-civitas commented on #3166
+1 to toggle old behavior

[2017-09-22 22:31] tdb-alcorn commented on #2169
+1 I'm still seeing that Interceptor causes image previews to break. When Interceptor is off image preview works fine. This makes working with APIs difficult. Can we re-open this issue or should I make a new one?

[2017-09-23 00:56] MikeCook9994 commented on #2494
@madebysid Is there an update on this feature? It's been nearly a year and it's exceptionally annoying to perform the work around.

[2017-09-23 01:23] joehanko commented on #2811
@jasonwcfan just contacted Postman support and one of their amazing engineers actually [documented](https://documenter.getpostman.com/view/2542471/slack-weekly-pageview-report/6thxLUw) this completely.

### tl;dr Try changing your Auth URL and Access Token URL to 3 & 4 below.

Assuming you've already enabled the proper credentials in Google APIs console, added the correct callback URL from Postman

[2017-09-23 04:05] prashantagarwal commented on #3247
Can you update to the latest postman app and verify if you are still seeing this issue.

[2017-09-23 16:27] #3413 closed, assigned to SamvelRaja

[2017-09-23 16:28] #3415 closed, assigned to nobody

[2017-09-23 16:28] #3419 closed, assigned to sdnts

[2017-09-23 16:31] #3440 closed, assigned to sdnts

[2017-09-23 16:32] #3430 closed, assigned to sdnts

[2017-09-23 16:36] #3487 closed, assigned to sdnts

[2017-09-23 21:31] pipe01 commented on #2523
+1

[2017-09-23 21:38] efulmo commented on #3283
I was able to replicate the issue with desktop Postman v5.2.0. I exported my requests to a file, logged out (all requests were deleted from the app), then imported the whole collection back. However, all the request data disappeared! I had a lot of JSON samples there. I am still able to find JSON request bodies in the backup file though. It looks like the data is lost somehow during the import pro

[2017-09-24 09:39] ifdattic commented on #1228
I agree with @cawoodm that it should be a switch to enable/disable cookies. Working on a token based authentication with a cookie fallback for legacy makes it very hard to test un-authorized request (constantly deleting cookies before each request gets annoying).

[2017-09-24 12:38] joelcolucci commented on #2185
The main inhibitor to using Postman is lack of support to execute local scripts. A local script could be used to seed a database. From there tests can be run.

Creating an HTTP service to seed the database is not an option because that's another layer of complexity/abstraction that could fail just the same as the API.

How are people testing READ (/widget/<id>) resource endpoints without relying o

[2017-09-24 17:25] #2081 closed, assigned to nobody

[2017-09-25 01:11] S0im commented on #3178
As I  said, you can open the .csv files with a txt editer，such as notepad++. Then delete the extra line break at the end line.At last, save it as .csv file. Now,reload it in the runner,preview ,the '\r' is gone.

[2017-09-25 01:15] a85 commented on #2185
@joelcolucci While this seems logical to do, it introduces a level of coupling with databases that will make tests harder to replicate and execute. You CAN use local scripts if you use newman (postman's command line tool). I'd recommend writing a separate script to set up your database structure and then using newman purely for tests. Within Postman, we plan to introduce the ability to write plug-

[2017-09-25 01:42] joelcolucci commented on #2185
@a85 Thank you for your thorough reply. I'll dig into Newman a bit more. I appreciate your time and assistance.

[2017-09-25 06:43] harryi3t commented on #2523
@mike69d @pipe01 @RodrigoGroener
Just to make sure I understand this issue correctly, the `resource` parameter which is missing is not actually part of the RFC?

According to the [rfc#6749 section-4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3) these are the parameters that the server requires in the token endpoint

If this is true then it's a feature request and a not a bug, right?
Plea

[2017-09-25 06:53] harryi3t commented on #2941
@medjai
I see what's happening.
Right now Postman does not support any interactivity in the auths.
By `interactivity` I mean, from the response to the first request, making the second request and so on (like the browsers).
Right now Users have to fill the details manually.
For digest auth, it means you need to fill the `realm` and `nonce` manually.

But the good news is, we are shipping Postman 5.

[2017-09-25 07:40] harryi3t commented on #2846
@LS-Kai Was trying to register on yelp for so long and it was always showing

Then read on a blog post that they check the IP address and throw this error on mismatch 😆

Anyway, I confirm the bug. Yelp requires the credential in the body and we are sending it in the header.
Also, you are putting the URL in the wrong input box, it must be in the `Access Token URL` and not in the `Auth URL` See http

[2017-09-25 07:50] harryi3t commented on #2811
@joehanko Thanks a ton Joe 👍
@jasonwcfan Could you confirm if this works for you?

[2017-09-25 07:52] wowi42 commented on #3390
Some news?

[2017-09-25 10:19] bbrdaric commented on #166
@edthorne @shayangz @graphex Can anyone tell me what is `LIST` method? Is it a part of some standard or what?

[2017-09-25 10:51] ahghatol commented on #1947
+1

[2017-09-25 13:42] pinfrederic commented on #1104
+1

[2017-09-25 14:29] mjkraner commented on #3546
Yeah seems the same, weird cause I searched for something before i logged it and didn't come up with that one!

[2017-09-25 14:29] #3546 closed, assigned to SamvelRaja

[2017-09-25 14:55] abirstolov commented on #3380
I got version 5.2 and it still happens.
I'm getting different calls run from different folders
in one it runs 1 out of 15
in another 1 out of 8
and in another 4 out of 4
and in another one also 4 out of 4

What information can I send you to duplicate it?

[2017-09-25 15:45] javiergarval opened #3550 "Can't write tildes (~) on the URL input on Windows app."
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
Encountered recently.
 2. Expected behaviour:
Writing tildes in the URL input.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)
![Imgur](ht

[2017-09-25 18:17] ek-akqa commented on #1667
I also could not find a way to prevent the redirects in the native app. In chrome I used the interceptor for that purpose

[2017-09-25 18:21] ek-akqa commented on #2907
@kamalakhn I could not reproduce a similar issue in the macOS native app. The latter lacks the interceptor though, so I really hope the Chrome app will get its fix soon.

[2017-09-25 18:28] kamalaknn commented on #2907
@ek-akqa in the long term the native app is a better solution to bet on because Google has announced plans to deprecate support for Chrom apps.

Could you elaborate on your workflow with the interceptor that is blocking you from migrating to the native apps, so that we could try to support it?

[2017-09-25 19:38] jblayter opened #3551 "Order folders and Documents alphabetically"
When right clicking on a folder have the ability to sort the documents or sub folders alphabetically

[2017-09-25 20:00] gregsdennis opened #3552 "Chrome opens without pinned tabs"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
    I'm not sure when the behavior was introduced, but I've only noticed it recently.

 2. Expected behaviour:
    Chrome should open with my pinned tabs.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->

[2017-09-25 20:58] sophiekruijt commented on #3518
Is there any workaround for this issue? I'm trying to send a request locally and need to add a cookie to the request.

[2017-09-25 21:04] kavithaj110 opened #3553 "Duplicate attribute is not being displayed in the Pretty format of Response Body"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
I'm not sure when the behavior was introduced, but I've only noticed it recently.
 2. Expected behaviour:
Postman Should display the same response body in the Pretty format that is displayed in the Raw.

 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-

[2017-09-25 21:17] medjai commented on #2941
Thank you for the clarification! This is exactly what I've been looking
for!

On Sep 25, 2017 2:53 AM, "Harendra Singh" <notifications@github.com> wrote:

[2017-09-25 22:44] gregsdennis commented on #3552
For completeness, I've logged an [issue with Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=768582) as well

[2017-09-26 05:13] licatherine opened #3554 "password could not found"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2017-09-26 05:21] SamvelRaja commented on #3554
@licatherine  can you provide me more details on the issue you are facing?

[2017-09-26 05:27] licatherine commented on #3554
1. When i type my username and password, it reminded me wrong password, but actually it is right.
2. When i click forgot password,  there is no space to reset the password.
Details please see below pictures:

![fo](https://user-images.githubusercontent.com/10595747/30843940-ed85c4c8-a2be-11e7-9bd5-e2c654494161.png)
![re](https://user-images.githubusercontent.com/10595747/30843942-f31cd408-a2be-11e

[2017-09-26 05:32] licatherine commented on #3554
@SamvelRaja I have added the details, please review it.
Could you give me a solution?

Thanks

[2017-09-26 05:36] SamvelRaja commented on #3554
@licatherine clicking **Trouble signing** in will take you to the forgot password flow.
We are facing a small glitch in the handover from app to web login, we are looking into it right now.

[2017-09-26 05:44] licatherine commented on #3554
I tried as you mentioned. there is no response when clicking Trouble signing

[2017-09-26 05:48] SamvelRaja commented on #3554
@licatherine You can directly go to [Trouble Signing in](https://identity.getpostman.com/trouble-signing-in) page.

[2017-09-26 05:59] licatherine commented on #3554
directly go to this page could not resolve the password.

[2017-09-26 06:05] abhijitkane commented on #3554
@licatherine Can you contact us at help@getpostman.com with from your registered email address?

[2017-09-26 06:06] #3554 closed, assigned to SamvelRaja

[2017-09-26 06:35] harryi3t commented on #2452
This is in our roadmap for Postman 5.4

[2017-09-26 06:39] harryi3t commented on #2975
@sivakrishnajee
This should be fixed in Postman 5.4

This is happening because the endpoint is certificate protected.
As of now, we don't support certificate authentication for OAuth-2 flows.

Renaming the title...

[2017-09-26 06:49] APrasser commented on #3386
100% agree with this feature request.

[2017-09-26 07:38] alkemann opened #3555 "Please add Github Enterprise option to the Github Integration"
Just tried out the GitHub integration and is a very nice way to sync collections down to a repository for the purpose of newman running acceptance tests, but much of my company's code lives in a GitHub Enterprise (hosted elsewhere than GitHub.com).

Hopefully adding the option to the GitHub integration (thanks for the great option already there, the detail of branch is particularly nice "extra" op

[2017-09-26 07:47] harryi3t commented on #3537
@GingerMoon @krich
We are making some UI changes for auths in Postman 5.3
As part of this, we are making some changes to the Oauth-2 modal as well.

I have tested locally that if we make the callback URL an input box (right now it's fixed to ` https://www.getpostman.com/oauth2/callback`) and put the RuName string in it, then it works!

The following works for me (local build)
![image](https://user

[2017-09-26 08:01] ek-akqa commented on #2907
hey, @kamalaknn, thanks for the support, but essentially, please ignore my reply above as I found the option to disable redirects in the native app, and it doesn't actually require the use of the interceptor! So all's working for me now in the native app. Thank you!

[2017-09-26 08:03] kamalaknn commented on #2907
@ek-akqa Great!

I am closing this issue as this feature is supported in the latest version of our Native apps.

[2017-09-26 08:03] #2907 closed, assigned to czardoz

[2017-09-26 08:24] hamza-tumturk commented on #166
@bbrdaric `LIST` is actually a non-standard custom HTTP method.
Example: [Hashicorp Vault - LIST](https://www.vaultproject.io/api/secret/cubbyhole/index.html#list-secrets)

[2017-09-26 08:36] ratpik commented on #3555
@alkemann - Would you happen to know if your enterprise github account is hosted in way that makes it publicly accessible on the internet (like github.com)? Or is the enterprise github endpoint behind some kind of a corporate firewall?

[2017-09-26 08:44] KajKandler opened #3556 "OSX (MacOS), Postman does not separate from Chromium"
Postman on OSX, is hard to use together with Chromium.

When I have Postman and Chromium open half the OS thinks Postman is Chromium.

For example, When I have focus on Postman, and try to switch to another app via keyboard (Command+Tab), the current app is Chromium and the next app is Postman.

MAC OS 10.12.4/ x64
I have no idea about the postman version, Postman does not provide an About Menu en

[2017-09-26 09:00] numaanashraf commented on #3556
@KajKandler This is a long standing issue in Chrome packaged apps on Mac. Since Chrome apps are being deprecated by Google, we don't expect this issue to be fixed in the Chrome platform. We recommend moving to our desktop apps - https://www.getpostman.com/apps

[2017-09-26 09:00] #3556 closed, assigned to numaanashraf

[2017-09-26 09:03] KajKandler commented on #3556
@numaanashraf Thanks for the quick response. I thought I already had upgraded to the Desktop App. Now I realized I had not. did now. Issue seems to go away.

[2017-09-26 09:06] numaanashraf commented on #3553
Hi @kavithaj110, Pretty mode expects a valid JSON and does preliminary validation and sanitisation before showing a pretty-fied output, hence it will auto drop any duplicate keys. We'll take your suggestion into consideration when we roll out improvements to the Pretty response feature.

[2017-09-26 09:09] numaanashraf commented on #3552
@gregsdennis This is a Chrome issue. Postman Chrome app is launched by Chrome and this is outside the control of Postman. Thanks for filing this issue with Chrome.

[2017-09-26 09:09] #3552 closed, assigned to numaanashraf

[2017-09-26 09:11] numaanashraf commented on #3551
Thanks for the suggestion @jblayter. We'll take a look at this when we work on improvements to collection/folder organisation.

[2017-09-26 09:14] harryi3t commented on #3367
@appraveen
I thought 2f2 is only for websites (e.g Google, FB, Amazon, etc) and not for APIs
Can you give me an example of the API that you are using which requires 2f2?

[2017-09-26 09:17] gregsdennis commented on #3552
@numaanashraf I posted here because Postman launches Chrome and didn't know if that was part of the issue.  Thanks though.

[2017-09-26 09:40] harryi3t commented on #3001
Postman does not support opening dilog boxes like browsers
But it does support cookies!

### Postman Chrome App
It can use cookies from the chrome browser. You need to use [postman-interceptor](https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo/related) (install the extension in chrome and then turn it on in the Postman app)
![image](https://user-images.

[2017-09-26 09:41] harryi3t commented on #3001
let me know if this works

[2017-09-26 10:55] alkemann commented on #3555
Hey. No it is not behind a firewall, but it is behind an identity authentication  (Okta). Presumably you use the APIs, so you need a token?

[2017-09-26 11:18] harryi3t commented on #2994
@davidwallen Could you provide more details?
Are you on a native app or chrome app?
Also, I don't recognise this example request JSON format

I tried the same using environment variables, and it works for me
![image](https://user-images.githubusercontent.com/5207331/30857705-6a020744-a2da-11e7-9ccb-3de75e472678.png)

Are you doing something different?

[2017-09-26 11:38] kamalaknn commented on #2332
@crunchytom you can view the OAuth 1 signature and the Header by opening the Postman console. `View -> Show Postman Console` should open up the console for you.

Is there something that is not part of the request information in Console that you are looking for in particular?

[2017-09-26 12:27] DavydeVries commented on #2116
This can be done like this:

![schermafbeelding 2017-09-26 om 14 26 55](https://user-images.githubusercontent.com/7860305/30860235-c5bfdd40-a2c6-11e7-921d-74e48ee5aacf.png)

[2017-09-26 12:27] #2116 closed, assigned to nobody

[2017-09-26 14:13] harryi3t commented on #2666
@maciekdragan could you help me reproduce this issue.
I am not able to generate the pre-signed URL
I tried to follow the docs (using golang) but could not get it working.
How are you generating yours?

[2017-09-26 14:20] harryi3t commented on #2296
This is in our roadmap for Postman 5.3 (will be released around next week)
We are adding an option to specify where should the credential go (header/body)

Marking this as a `feature `and removing the label `bug`, since the credentials were not missing. They were always passed in the header.

[2017-09-26 15:15] ek-akqa commented on #2401
Friendly IDs are not ready yet (5.2.1), are they?

[2017-09-26 16:20] amnoman opened #3557 "Environment variable deleted instead of throwing undefined variable error when by mistake tried to assign with wrong data variable name"
## App Details:

Postman helps you develop APIs faster
Postman for Windows
Version 5.2.0
win32 10.0.15063 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: previously it was replacing the
 environment variable name with the undefined data variable name but now its deleting the variable from the environment.
 2. Expected behaviour: Suppose to throw an e

[2017-09-26 17:48] ratpik commented on #3555
Thanks for providing that information! The custom identity provider should ideally not affect this integration. We do have this feature on our roadmap. We post regular updates to our [community](https://www.getpostman.com/community) channels and will have one for this too once we roll it out.

[2017-09-26 20:03] mgaruccio commented on #1475
+1 this would be amazingly helpful

[2017-09-26 20:14] cendrizzi commented on #156
As Rylanb said, I've been looking for this too. I see it in the docs, then saw this issue after doing a search, but can't find it anywhere in the client.

I am also using the mac version and this feature would be really useful.

Maybe a new issue needs to be created...

[2017-09-26 21:46] ebrooks-anaplan opened #3558 "SSL Certificate Verification setting has been removed from Mac app 5.2.1"
## App Details:

[code]

## Issue Report:
My Postman version updated from 5.2.0 to 5.2.1 this morning and now I can no longer send requests to https endpoints that use a private cert.  I get a connection failure with the error that the certificate chain is invalid.  When I went to Settings to disable the "SSL certificate verification" setting, I discovered that it was no longer there.  After downl

[2017-09-26 22:05] j-damsgaard commented on #3558
Hi has the same issue, no certificate tab in my settings window..
<img width="717" alt="screen shot 2017-09-26 at 23 56 09" src="https://user-images.githubusercontent.com/32313423/30886490-760127cc-a317-11e7-887f-77e91405692a.png">

[2017-09-26 22:07] j-damsgaard commented on #3558
Or it seem's to bee a related issue...

[2017-09-26 22:14] sdnts commented on #3558
Hey guys, looks like you're on the Chrome apps. Certificate support is only available on our [native apps](https://getpostman.com/apps)

@j-damsgaard As your about screen says, you're on the Chrome app
@ebrooks-anaplan Did you open the Chrome app by accident? Visually they look similar. Heading over to Settings > About should confirm this.

[2017-09-26 22:14] #3558 closed, assigned to nobody

[2017-09-26 23:12] ebrooks-anaplan commented on #3558
@madebysid I'm using the same shortcut in the dock that I've always used for the native app, but after the upgrade I'm now seeing Postman for Chrome in the settings tab.  I downloaded the latest native app and now the setting is back.  Perhaps the bug is with the automatic updater pulling the wrong update file and installing Postman for Chrome instead of Postman for Mac?

[2017-09-27 00:54] wtchangdm commented on #3506
Can confirm on macOS 10.12/10.13, no matter I edit in URL or request body.

[2017-09-27 01:03] wtchangdm commented on #2949
I think I encountered this on macOS as well. Would like to provide information if needed.

[2017-09-27 03:58] jusdeleon commented on #1947
+1

[2017-09-27 05:49] sdnts commented on #3558
Huh, that seems unlikely, since Chrome app updates are handled by Chrome, while native app updates are handled by our own service.
This is super weird since you say you used the same shortcut. Using macOS's Spotlight can make this happen, but the dock shortcut shouldn't. I'll see why this might be happening.

[2017-09-27 06:11] dnesterov opened #3559 "Runner - "=" added in the GET request to variable value"
App Details:

Postman for Windows
Version 5.2.0
win32 6.1.7601 / x64

## Issue Report:
 1. Not sure if this was there as I'm new to the postman, however, this definatelly looks like an issue
 2. Expected behavior:
"=" shouldn't be added to GET request on its own when running the "Runner"
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the

[2017-09-27 07:53] emilva commented on #3555
👍

[2017-09-27 08:11] whotakekajibu commented on #1104
+1

[2017-09-27 08:11] kilisinovic commented on #2096
Is there any progress on this? I have problem where ctrl+alt+v is key combination for "@" on my keyboard and it bothers me that it changes from dual to single panel every time i try to enter email address.

[2017-09-27 08:16] whotakekajibu commented on #1104
[Uploading multiple files each with their own Content-Type is not supported yet.](https://www.getpostman.com/docs/postman/sending_api_requests/requests)

[2017-09-27 09:21] davegough commented on #2392
+1

[2017-09-27 10:05] miralpopat commented on #3506
I dont have i tried on Windows only

[2017-09-27 10:31] dips1995 opened #3560 "How check load time of api calls"
I want to check Load time and DOMcontentedLoaded time in postman of Api calls.
Please tell me about this if possible to check these in postman.

[2017-09-27 10:44] SamvelRaja commented on #3484
All, we patched up the fix in 5.2.1 version of the app. Kindly update and confirm from your end 😄

[2017-09-27 10:44] #3484 closed, assigned to sdnts

[2017-09-27 11:01] slilie commented on #3290
I am having this issue as well, I tried installing the root cert from mmc into Postman but my request continues to fail with "UNABLE_TO_GET_ISSUER_CERT_LOCALLY".

[2017-09-27 11:02] harryi3t commented on #2737
@kidager This will be fixed in Postman 5.3
It will be generated by Postman if the field is left empty.
Any field that has a user input will not be overridden by Postman. This will be true for all auths

[2017-09-27 11:14] harryi3t commented on #2697
We are adding NTLM support in Postman 5.3
Please refer the original issue https://github.com/postmanlabs/postman-app-support/issues/1137 for updates
Marking this as duplicate and closing.

[2017-09-27 11:14] #2697 closed, assigned to harryi3t

[2017-09-27 11:15] harryi3t commented on #2292
We are adding NTLM support in Postman 5.3
Please refer the original issue https://github.com/postmanlabs/postman-app-support/issues/1137 for updates
Marking this as duplicate and closing.

[2017-09-27 11:15] #2292 closed, assigned to harryi3t

[2017-09-27 11:16] numaanashraf commented on #3290
@Comradin @etzlers1 @robert-mendoza @sridevicherukuri Custom CA is not supported in Postman Desktop apps yet. This is on our roadmap but we don't have an ETA at the moment. We'll post updates here when we start working on this.

[2017-09-27 11:19] numaanashraf commented on #3560
@dips1995 `load` and `domcontent` timing are browser related functionality that are outside of Postman's current scope.

[2017-09-27 11:20] #3560 closed, assigned to numaanashraf

[2017-09-27 11:21] numaanashraf commented on #3557
@amnoman Thanks for reporting. We are looking into this.

[2017-09-27 11:24] numaanashraf commented on #3559
@dnesterov Hey. Thanks for reporting. This is a known issue that was originally reported and tracked at #3181. Closing this as duplicate.

[2017-09-27 11:24] #3559 closed, assigned to numaanashraf

[2017-09-27 12:24] harryi3t commented on #2049
This is very much possible and we are considering this for Postman 5.4
Let me know which adds more usability:
1. A single button to clear session/cookies for all the sites
2. A button which will only clear the session/cookie for the domain of the Auth URL

[2017-09-27 13:25] samakshjain commented on #2049
In my opinion option 2 should be the way to go. I wouldn't like to have to go with the OAuth2 process again for all other domains.

[2017-09-27 14:24] leozilla commented on #2096
+1 for changing shortcuts (no need for custom ones for me at least)

[2017-09-27 14:55] grinderX19 opened #3561 "Filtering variables in Environment quick look"
Every now and then I need to check the value of some variable (global or environment one) after my scripts run. I believe it would be quite convenient for many users if there was a **quick filter** searching for substrings in both variable names and values for **Environment quick look** and **Manage environments** (Edit Environment and Globals).

For example:

Steps:
1. click the "eye" icon to ope

[2017-09-27 15:33] ravshansbox opened #3562 "Standard JSON editor uses 4 space indentation where beautifier (Cmd+B) uses 2 space indentation. The two should be consistent."

[2017-09-27 15:41] numaanashraf commented on #3562
@ravshansbox Thanks for reporting this. We'll roll out a fix for this in the coming releases.

[2017-09-27 15:43] numaanashraf commented on #3561
@grinderX19 This sounds great. We'll take this into consideration as we work on improving the variables feature.

[2017-09-27 15:44] numaanashraf commented on #3550
@javiergarval Thanks for reporting this.

[2017-09-27 15:45] mhosman commented on #1411
Improvements are obvious but... the UI takes up to 20 seconds or more in a very powerful machine to get started (fastening seatbelts, etc......). This app must be faster.

[2017-09-27 17:25] ravshansbox commented on #3562
thank you for support 👍

[2017-09-27 18:04] prmichaelsen opened #3563 "Native git integration"
## Feature Request
Our team uses Postman for quick sanity testing of our APIs and for populating data into various environments to allow us to test certain UI workflows. While we appreciate Postman’s cloud services for managing collections, we would much rather use tools like git to keep our tests and API calls with our central repo. Currently there is good support for CLI testing of collections w

[2017-09-27 18:41] podfish commented on #2185
I'm digging into postman, and from a CI/CT perspective, i see this is a tool primarily for development of test suites that are then deployed in another environment that has richer toolchains.I too would love to be able to build queries in postman based on other results facilitated by js includes and access to external libraries, because in my environment, we're not just testing APIs, we're testing

[2017-09-27 18:55] makimb2 commented on #3329
Also, similar to this if you pass a parameter that has a "#" in it, postman won't read it and will delete it and any trailing characters.

so for example if you have a endpoint:    https://domain/info/username=testName&password=testrun#this

"#this"  will be deleted and not read once you click send

Thanks

[2017-09-27 19:15] numaanashraf commented on #1411
@mhosman We are actively looking into app's launch performance and have more improvements planned for this on our roadmap.

[2017-09-27 20:42] Pacerier opened #3564 "Buffering considered Harmful"
Why would Postman even buffer? How can it be disabled?

[2017-09-27 21:49] dmladek commented on #3393
Thank you for the update. Will try that.
Cheers,
-d

[2017-09-27 23:39] kenvifire opened #3565 "Cannot edit cookies with same name under the same domain but has different path"
## App Details:
Version 5.2.0 (5.2.0)
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there
     Recently
 2. Expected behaviour:
     Should be able to edit cookies with same name under the same domain but has different path, only can see one of them.

[2017-09-28 00:09] sengopal opened #3566 "Support proxy authentication"
## App Details:
Postman for Mac
Version 5.2.1
OS X Sierra / x64

## Issue Report

1. Setting up system Proxy usage was always a problem with Postman. However, with the new System Proxy setting (Toggle to use the system proxy), the hope was the proxy from the system configuration can be made to function.
2. However, the system proxy has an authentication (Basic base64(username:password)) which need

[2017-09-28 03:21] GingerMoon commented on #3537
@harryi3t Thank you very much! Looking forward to this version!

[2017-09-28 03:21] #3537 closed, assigned to harryi3t

[2017-09-28 05:06] agrawalankit29 opened #3567 "Export variable values during runtime to external file"
E.g. https://www.getpostman.com/docs/postman/collection_runs/working_with_data_files (https://www.getpostman.com/docs/postman/collection_runs/working_with_data_files) this link talks about fetching values from an external file, similarly how can I store a specific variable value to an external file while running our collections.
## App Details:

[code]

## Issue Report:
 1. Did you encounter this

[2017-09-28 06:30] RobbyDeLaet commented on #1757
I use the following code in my scripts. Just one extra line of code to add.

[code]

[2017-09-28 07:21] numaanashraf commented on #3567
@agrawalankit29 Thanks for writing in. This is not supported at the moment. Could you explain why you'ld want to export data to file while running the collection? It'll help us a lot in understanding your use-case and suggest any possible workarounds.

[2017-09-28 07:25] numaanashraf commented on #3565
@kenvifire Thanks for reporting this.

[2017-09-28 07:26] numaanashraf commented on #3564
@Pacerier I'm afraid I don't understand this issue. Please elaborate.

[2017-09-28 07:32] wzup opened #3568 "Plugin doesn't keep order of received elements. How to fix?"
Looks like the plugin breaks order of received elements.

I request a set of items from some API url. Items are ordered by date. So their PRIMARY `id` order doesn't have any order which is the right behavior. But Postman breaks correct date order and sorts items by `id`. Which is wrong.

This is order of items received from API. Ordered by date, not `id`:
[code]

Then I iterate items to make an ob

[2017-09-28 09:02] cafferata commented on #2978
+1

[2017-09-28 09:13] msmpeteclark commented on #3327
I'm having a very similar issue. I click the "Sign In with Google" button, a window pops up and lets me put in my google details, which then authenticate. The window disappears but I am still left on the standard login page.

[2017-09-28 09:54] urn046 commented on #3331
![err](https://user-images.githubusercontent.com/32358258/30960511-d8b53af8-a460-11e7-9317-3ae5d80228c9.PNG)

I am facing problem while sending POST request that contains xml file and json data.
It is showing bad request format
how should i resove it?

[2017-09-28 11:44] AlbertoP64 commented on #213
_(will have added +1 here, but now the things have moved...)_

@snarglefarg
Sorry but no, seems still not already implemented (and mind that your request dates from 2013...)

Now this issue has been merged into **<kbd>Workspaces: #3205 Issue</kbd>**....
It is also **second place** in **Planned list (not yet worked nor considered!!)** into the NEW awesome Postman Roadmap (see below) with **ONLY 6 v

[2017-09-28 11:47] AlbertoP64 commented on #3205
@a85 @madebysid, no flames but, to explicitly advertise on each closed merged issue, about the Trello moving affair, would have been a great idea IMHO 😉
I've done it on #213

[2017-09-28 12:01] dannyhajj opened #3569 "[Feature Request] Allow integration with a self-hosted GitLab installation"
I was trying to use the GitLab integration, but it currently doesn't allow us to input a URL, so I assume it only allows integration with gitlab.com.

Is it possible to add a feature which allows us to integrate with a self-hosted GitlLab installation?

[2017-09-28 12:05] ratpik commented on #2978
The feature to allow users to specify their custom gitlab hosted domain is part of our product roadmap. We will post an update to our [community](https://www.getpostman.com/community) channels when we release this.

[2017-09-28 12:53] tkaria commented on #3498
It's not only the request string but the body as well. OSX 10.12.6 Postman 5.2.1

[2017-09-28 13:08] Slemgrim commented on #213
+1

[2017-09-28 13:59] AndriiStepura commented on #2392
I'm resolve this by "empty" first GET request with test code which contains counter for iterations (# of run ), as example here js code if you want start from "Request name if not first run" all iterations except first:

[code]

[2017-09-28 15:31] gampasandeep commented on #3331
@urn046  the json object that you are trying to send is not a valid format.

Try giving your json object key as key parameter and value as value parameter in the form-data.

[2017-09-28 16:27] amnoman opened #3570 "postman.setNextRequest function searching request from bottom to top instead of looking backward from current request"
[setNextRequest.zip](https://github.com/postmanlabs/postman-app-support/files/1341614/setNextRequest.zip)

## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently after update.

 2. Expected behaviour: Previously it searched and matched the request from current request to backward but right now searching started from end of the req

[2017-09-28 16:43] workabyte opened #3571 "It would be preferable to allo partial publications of collections"
this feature requests is based on 2 collections we currently maintain for a single API.
one collection is focused on testing overall functionality and the other if for creteing a public place for documentation.

ALL calls in the public collection exists in the test collection and then have to be maintained individually.
the test collection has additional calls that are used to validate a handful o

[2017-09-28 16:43] bobderrico opened #3572 "Response body not displaying correctly when Response Content Type is application/json and response body is a number"
## App Details:

[code]

I am running into an issue testing an endpoint that sets a response header `Content-Type` as `application/json`, but the response body is just a single number (in this case... `1`). My understanding of JSON is that a JSON literal on its own is considered valid JSON. For example, `JSON.parse(1)` works without any issues (tested this in Chrome, Safari, Firefox, and IE).

In

[2017-09-28 17:57] krich commented on #3537
@harryi3t, Thanks for this great news!

By any chance is there time frame for when Postman 5.3 is expected to be released?

[2017-09-28 17:59] aidanhb opened #3573 "OAuth2.0 token error"
## App Details:

[code]

## Issue Report:
I'm trying to make requests to my BigQuery project. In order to do so I need an OAuth2.0 access token, which I've been trying to obtain with Get New Access Token. I filled out the form with all the information I have. A screenshot of the information I entered is below.
<img width="493" alt="screen shot 2017-09-28 at 10 49 31 am" src="https://user-images.gi

[2017-09-28 18:24] harryi3t commented on #3537
Yes! it should be released  around end of the next week

[2017-09-28 19:52] amnoman opened #3574 "Not able to Import Test Run throwing error "Could not import test run. Please check the format of the file.""
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Always been there
 2. Expected behaviour: Should able to import the test run which exported before.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

Steps

[2017-09-29 00:36] joristirado opened #3575 "pm.globals.set(key, value) does not work if `value` is a CryptoJS object"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
First time using the `pm.globals.set()` method as of today, before I was using `postman.setGlobalVariable()` which works as expected, so I can't say

 2. Expected behaviour:
`pm.globals.set('md5', CryptoJS.MD5('string'))` should set the global variable `md5` to the MD5 hash of `string`

[2017-09-29 04:43] Pacerier commented on #3564
Eg re https://stackoverflow.com/a/9728519/632951
See: postman shows no output before script end.

[2017-09-29 08:31] gqy117 opened #3576 "Collection Runner Doesn't Parse Negative Number and Bool Columns in CSV Data Files Correctly"
## App Details:
[code]

## Issue Report:
 1. I encounter this recently
 2. Expected behaviour:
 When using a CSV data file in Collection Runner, it should parse the **negative number** and **bool** columns correctly.
 3. Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/5887800/31007332-bdd8db7a-a55c-11e7-872c-ea63d792af15.png)
![image](https://user-images.githubuserco

[2017-09-29 08:36] Huiziryuu commented on #3331
@madebysid  I'm using Jersey REST in servlet. Since the request sent from PostMan doesn't contain content type for JSON form data parameter, Jersey read it as String rather than a JSON object.
The request content from post man is:
`Cache-Control: no-cache
Postman-Token: 5241a928-78e9-2b70-637a-96a68775c85b
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW

------Web

[2017-09-29 11:09] nutharsh opened #3577 "2-panel view in beta needs more work."
url holder should not be merged with request panel. it has to be separated from both request and response panel.

[2017-09-29 11:14] nutharsh commented on #3577
[snapshot url](https://github.com/nutharsh/uploads/blob/master/postman-2-panel-view.png)

[2017-09-29 12:35] prashantagarwal commented on #3577
@nutharsh Thanks for suggesting this. We are already tracking this here. #2716 . Closing it as duplicate.

[2017-09-29 12:35] #3577 closed, assigned to nobody

[2017-09-29 12:39] prashantagarwal commented on #3568
@wzup. You are converting an array of object into a hash map like data structure. Hash maps will not guarantee the order and in most of the scenarios sort automatically.  So I don't think there is anything that Postman app can do here. But just out of curiosity why do you want to have some order in an object, if you want so why not let them be in array itself.

[2017-09-29 12:39] #3568 closed, assigned to nobody

[2017-09-29 12:41] prashantagarwal commented on #3569
@dannyhajj we are already tracking this here #2978 . Closing this as duplicate.

[2017-09-29 12:41] #3569 closed, assigned to nobody

[2017-09-29 12:59] nutharsh commented on #3577
Thanks for looking into this.

[2017-09-29 14:08] #2652 closed, assigned to nobody

[2017-09-29 18:48] wzup commented on #3568
I can access data directly by some key. With an array of objects I can't. I need to iterate an array to find an object I need. Not very productive.

Not exactly.  Objects keep order how you populate them.
But generally I agree. I already googled the issue and have learned it. It's ES issue, not Postman's.

[2017-09-29 18:49] MedveDomg commented on #1263
+1

[2017-09-30 04:33] Honye opened #3578 "move item to another folder is not easy"
When the list is too long, it's not easy to move item to another folder. Could you add the option to move it?

[2017-09-30 08:14] numaanashraf commented on #3578
Thanks for the suggestion @Hongye567

[2017-09-30 08:15] numaanashraf commented on #3576
@gqy117 Thanks for reporting this

[2017-09-30 08:18] numaanashraf commented on #3575
Thanks for reporting this @azefiel. We're looking into this discrepancy.

[2017-09-30 08:24] numaanashraf commented on #3573
Thanks for reporting this @aidanhb. We are looking into this.

[2017-09-30 11:57] randalb1991 opened #3579 "Code genetared for swift 4 doesn't work"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour: The code generated  should to work for swift4
 4. Screenshots (if applicable)

[2017-09-30 11:57] andrepolo commented on #843
Have the same issue that @Kid-Binary mentioned. Any solution in sight?

[2017-09-30 15:12] harryi3t commented on #3573
@aidanhb I have few quentions

1. Which variant of OAuth-2 are you using? If `Client Credentials` grant then you need to pick this from the dropdown and second, you need to put that URL in the `access token URL` and not `auth URL`
2. If you are using `Authorization Code` grant then you need an `Access Token URL` also. But in the screenshot, I see that the `Access Token URL` is empty. Is it just in

[2017-09-30 17:26] krismeister commented on #3142
@musamamasood We've not solved this. One we're considering is [slate](https://github.com/lord/slate) which looks pretty easy to impliment.

You pretty much make [markdown documents of the api](https://github.com/lord/slate/blob/master/source/index.html.md) and it outputs this: https://lord.github.io/slate/#introduction

I'd really like a 100% postman solution however, but we need the password prot

[2017-09-30 22:56] joelcolucci commented on #3073
@kamalaknn

**UPDATE START**
I re-installed Postman and cheerio is now working as expected
**UPDATE END**

When adding`html = cheerio(responseBody);` to the Tests section the following error is displayed `There was an error in evaluating the test script: cheerio is not defined`.

I don't see any reports of this bug/error in usage. I can put together an issue report if needed. If I'm forgetting som

[2017-10-01 04:42] maicss opened #3580 "Under same config, postman app and postman chrome extension give two response"
Mac OS 10.13
chrome: 61
postman app: 5.2.1

for convenience, I copy curl code each of them:

chrome extension:
[code]

postman app:
[code]

completely same!!!

and even my local server response 200, the postman app says got nothing...
[code]

I disabled the system proxy, and trusted self signed cert both system and (import) postman app.

[2017-10-01 09:47] kamalaknn commented on #3073
@joelcolucci `cheerio` and other libraries are not included in our `Chrome` apps.

You can download our native apps from https://www.getpostman.com/apps. Here's our [blog](http://blog.getpostman.com/2017/03/14/going-native/) on why you should consider our Native apps over our Chrome app

[2017-10-01 10:21] kamalaknn commented on #3575
@azefiel There are two parts to this issue.

First the `postman. setGlobalVariable` was doing an implicit string conversion before setting to a global variable. That is why you were seeing it as a string always. The `pm.globals.set` tries to retain the type of the value.

However, Postman does not support viewing/editing values as objects yet, although the scripts support it. That is why you are s

[2017-10-01 10:26] joelcolucci commented on #3073
@kamalaknn thank you for reply.

I had thought I had the native Mac app installed all along. I suppose my "re-install" was the first install. 😐

Regardless thanks again :)

[2017-10-01 10:45] joelcolucci commented on #2185
@podfish

In terms of integration testing it takes a change of mindset. I came from a background of TDD where you'd set up `beforeEach` and `afterEach` calls for each test in a suite. Each test would be a call to an endpoint in isolation.

With Postman the approach has changed to testing full business paths with a chain of API calls. For example, chaining together CREATE, READ, UPDATE, DELETE call

[2017-10-01 11:48] maheshambiga commented on #1630
I encountered the same issue. However, after adding the following as **scope** it started working.

https://www.googleapis.com/auth/userinfo.email

Because the client id is created for specific scope.

[2017-10-01 18:16] prashantagarwal commented on #3572
@bobderrico Thanks for reporting. Can you do me a favour and provide a screenshot of the Postman console after you send this request. Follow these steps.
- Open Postman console (View -> Show postman console)
- Send this request
- See that the received response is displayed in the Postman console.
- Take the screenshot of the received response in Postman console.

[2017-10-01 22:24] musamamasood commented on #3142
Thanks, It required much effort but quite an impressive tool as well.

[2017-10-01 22:44] gregsdennis opened #3581 "Feature Request"
## App Details:

[code]

## Feature:
I'd like to reorient the request body and response in a vertical split so that the panes are side-by-side rather than one on top of the other.

With the horizontal split, there is a lot of wasted real estate to the right side of the application.  A vertical split would utilize this space.  It would also show more of the response without having to scroll.

[2017-10-01 23:16] magasea commented on #2214
close your interceptor

[2017-10-02 00:32] okonomiyaki3000 commented on #2369
How can a bug like this go unfixed for a year?

[2017-10-02 02:51] blikblum opened #3582 "Implement JSON Schema chai assertion"
## App Details:

[code]

## Feature request:

Implement JSON Schema chai assertion like `pm.response.to.match.jsonSchema` or `pm.response.to.match.jsonSchema`

The new [test API](https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference) comes with predefined chai assertions but is missing one for test if the response matches a JSON schema

There's already http://chaijs.com/plu

[2017-10-02 07:30] tobeorla commented on #2369
@okonomiyaki3000 Author uses linux for development, so gives a fuck on other "supported" platforms

[2017-10-02 09:12] erezico333 commented on #3266
I'm on 5.2.1 - both windows and chrome app - issue still exists.

[2017-10-02 10:58] maicss commented on #3580
figure out ssl error……，enable by default……

[2017-10-02 10:58] #3580 closed, assigned to nobody

[2017-10-02 11:37] Skeen commented on #1180
+1

[2017-10-02 11:52] numaanashraf commented on #3581
@gregsdennis This is already supported. Head to Settings > General and toggle Two-pane view under User Interface.

[2017-10-02 11:53] numaanashraf commented on #3582
@blikblum Thanks for the suggestion. 😃

[2017-10-02 11:55] numaanashraf commented on #3570
Thanks for reporting this @amnoman. We are looking into this.

[2017-10-02 11:58] kunagpal commented on #3582
@blikblum This is being worked on in https://github.com/postmanlabs/postman-sandbox/pull/104

[2017-10-02 16:07] akutruff commented on #3480
Running into this issue as well with sendRequest async handler in pre-request.  It appears that the main request for the test starts executing before the pm.sendRequest() is completed.  Here's a simple example that gets a token and tries to set an environment variable.

[code]

[2017-10-02 17:16] mkamoski opened #3583 "How to default to XML for all requests and responses? Cannot change to XML view? Etc?"
Dear TabbedPostman Extension --
Please.
I am using the latest TabbedPostman extension on the latest Chrome on Windows 7.
Cannot change to XML view.
Cannot default responses to XML.
Clicked button for XML and JSON still appears.
Sent header as content-type = application/xml but no luck.
I need to send and receive XML for all testing.
Is there a trick?
Please advise.
Thanks.
-- Mark Kamoski

[2017-10-02 19:21] bobderrico commented on #3572
Attached is the screenshot. Thank you!
<img width="963" alt="screen shot 2017-10-02 at 3 20 09 pm" src="https://user-images.githubusercontent.com/22890947/31095058-67ebfc44-a785-11e7-99a4-27a1e54f0746.png">

[2017-10-02 19:32] j27lee opened #3584 "Support for zero width joiners in emojis"
So far postman has been an amazing tool and has worked incredibly well for me. I'm currently working with emojis and ran into an issue today around Zero Width Joiners. Some emojis are combinations of other emojis with a zero width joiner in between them. Browsers take the 2 emojis and combine them for the user.

The API response through postman shows the emojis with the zero width joiner in betwee

[2017-10-02 22:45] npadhya commented on #3367
@harryi3t  2FA are common for any sites, just like @appraveen  I also have some internal applications required 2FA and calling this application's API need me to pass the 2FA to get proper response.

[2017-10-02 22:45] Free1man commented on #1947
+1

[2017-10-03 04:47] ansharfirman commented on #2385
It's will be Awesome. Make it real, Please..

[2017-10-03 06:25] numaanashraf commented on #3584
Thanks for the suggestion @j27lee

[2017-10-03 06:42] harryi3t commented on #3367
@npadhya Exactly, 2FA is for __websites__. It can't be used directly on the APIs, although the result of the authentication could be used. For eg, after the 2FA is successful, the server might set a cookie or send a token or something else that could be used to make the further API calls.

I think you can authenticate yourself on a browser using 2FA, and then manually copy the cookies/token to Pos

[2017-10-03 07:55] gregsdennis commented on #3581
I see that is the functionality I was looking for.  However, it seems that "Two-pane view" may be a poor name for this feature given that the default orientation also has two panes.

[2017-10-03 07:57] numaanashraf commented on #3581
@gregsdennis Thanks for the suggestion. 😃

[2017-10-03 07:57] #3581 closed, assigned to numaanashraf

[2017-10-03 08:34] Rigler01 commented on #2992
This happened to me yesterday when i connected remotely to my work machine (which does have multiple monitors, in case that's the relevant thing). I'm using version 5.2.1 and Windows 7.

The manual fix re the requester.json file worked (once I'd permanently deleted it from the recycle bin)  - thanks very much for this, it saved my evening...as sad as that sounds!

[2017-10-03 08:49] sirjoe commented on #3518
Same question as @stefankruijt . @numaanashraf could you please advise when the next release is scheduled to be out?

[2017-10-03 12:24] kunagpal commented on #1693
@sethbattin This is now possible with the all-new pm API, like so:
[code]

More details here: https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-10-03 12:24] #1693 closed, assigned to nobody

[2017-10-03 15:00] Faz540 commented on #3457
Just reproduced on version 5.2.1 on Windows

[2017-10-03 20:27] jisooh commented on #1180
+1

[2017-10-04 06:41] 7OH opened #3585 "UREncode Values"
## App Details:
[code]

## Feature request
Need to get ability for URLEncode param values.
Maybe by checkbox right after value.
Maybe in pre-request script.

Now it works by right click of mouse, but encoded values hard to read and after each change need to be right clicking to encode.

[2017-10-04 09:01] Mardoxx commented on #3506
@madebysid Each action require three executions of undo. This is across the whole application. Edit -> Undo shortcut is also broken.

[2017-10-04 09:10] k3davis commented on #2992
Simply exiting Postman, renaming the file, and starting it again worked for me (on Windows). I look forward to this getting fixed because I frequently switch between 1 and 2 monitor scenarios and forget to move Postman to my primary screen before doing so.

[2017-10-04 10:56] Pacerier opened #3586 "App lang"
Postman is Electron app?

[2017-10-04 11:37] numaanashraf commented on #3586
@Pacerier Yeppp! 😃

[2017-10-04 11:39] numaanashraf commented on #3585
@7OH Thanks for the suggestion.

[2017-10-04 11:42] numaanashraf commented on #3583
@mkamoski Postman tabbed extension has been deprecated for over 2 years and we no longer maintain or provide support for it. Please use our Desktop apps - https://www.getpostman.com/apps

[2017-10-04 11:42] #3583 closed, assigned to numaanashraf

[2017-10-04 11:43] numaanashraf commented on #3579
Thanks for reporting this @randalb1991

[2017-10-04 12:48] urosjarc commented on #3207
Postman app is still crashing...

[2017-10-04 14:12] kamalaknn commented on #3570
@amnoman the order of match for `postman.setNextRequest` for multiple requests with the same name is not documented and guaranteed. If you are unable to rename your requests to unique ids, I would recommend using request id for `postman.setNextRequest` instead of the request name.

Also, I could see in your collection you are using the `setNextRequest` request as a delay, you can try out our delay

[2017-10-04 16:28] labbati commented on #3531
Exact same issue here, I can add a few things to what @luqmansungkar wrote. I even tried to reproduce with public APIs like wikipedia and similar but I cannot reproduce.

[code]

A few more observation that can help:
1. The problem is not related to the specific test code @luqmansungkar posted. It can be replicated even if you just write `// some comment` in the test with no other code at all.
2.

[2017-10-04 18:26] profporridge commented on #2845
I switched to the postman app and I am getting the CORS error

[2017-10-04 18:39] #3586 closed, assigned to numaanashraf

[2017-10-04 18:56] amnoman commented on #3570
Thanks for the reply. I will go for unique ids.
For delay I have a special scenario where need to wait 10 sec to 180 sec to get updated status. Instead of waiting 180 sec I just check the status and call for more delay if required.  Moreover, currently there is no way to put delay like SoapUI between two request without exhausting CPU.

[2017-10-04 20:49] loraxipam opened #3587 "Feature Request: Add DTD ENTITY support"
## App Details:
Postman for Windows
Version 5.2.1
win32 6.1.7601 / x64

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This may have always existed. I never tested this until today. When using an application/xml document in the POST body, ENTITY instances that are defined in the document do not render, even though they seem to be parsed. Each referenced en

[2017-10-04 21:20] ocmyhome commented on #3127
I'm running into this same issue.  I've tried the solutions provided above, but none work.  vers. 5.2.1

From what I can tell, it's specific to Postman, as I have to rely on Fiddler to actually see the response coming back from our app.

Here's the response, captured by fiddler, that isn't displayed in Postman.  Maybe something sticks out...

HTTP/1.1 200 OK
Cache-Control: no-store, no-cache, max-

[2017-10-04 21:38] johnnorton commented on #3386
+1

[2017-10-04 22:03] jjenkinsapx opened #3588 "Use Custom Highlight Color for "Run in Postman" Button on Documentation"
## App Details:
[code]

## Feature Request:
We have used the basic customization functions in order to change the highlight color in our published Postman documentation, as well as uploading our logo onto the page. When we view the page, the "Run in Postman" button still appears in the Postman-branded orange.

I'd like to request that this button display in whatever color the configured highlight

[2017-10-05 00:21] waltmoorhouse opened #3589 "The maximum length for the response text is too small."
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: recently encountered, but might have always been there.
 2. Expected behaviour: Allow me to save an Example of my API output even when it is large.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle De

[2017-10-05 06:17] numaanashraf commented on #3589
Thanks for the feedback @waltmoorhouse.

[2017-10-05 06:18] utezduyar opened #3590 "Digest authentication example doesn't work with apache 2.4.25"
## App Details:

[code]

## Issue Report:

Digest authentication example coming with postman doesn't work with apache 2.4.25. Successful apache authentication requires $opaque field to be passed on the request too and the only way to make apache echo this value is to actually make a digest authentication attempt.

Following is the console for successful authentication:

[2017-10-05 06:18] numaanashraf commented on #3588
Thanks for the suggestion @jjenkinsapx

[2017-10-05 06:21] numaanashraf commented on #3590
@umuttl Thanks for reporting this. We are working on a lot of improvements to the Auth feature at the moment.

[2017-10-05 06:29] numaanashraf commented on #3587
Thanks for the suggestion @loraxipam.

[2017-10-05 06:40] ram3shyadav opened #3591 "Change Split view design"
## App Details:

[code]

## Feedback:
 Please update the split view design for the chrome like below

![untitled](https://user-images.githubusercontent.com/4143650/31213851-2d9cdc00-a9c6-11e7-9862-4c0a8bb053e9.jpg)

[2017-10-05 06:52] harryi3t commented on #3590
@umuttl I am happy to inform you that [this issue](https://github.com/postmanlabs/postman-runtime/pull/411/files#diff-0363496618ed0af9394c70423f7ee91eR174) is already fixed in [runtime](https://github.com/postmanlabs/postman-runtime).

This will be released with Postman 5.3 in the next couple of days.

[2017-10-05 07:00] numaanashraf commented on #3591
Thanks for the feedback. We are tracking this request at #2716. Closing this as duplicate.

[2017-10-05 07:00] #3591 closed, assigned to numaanashraf

[2017-10-05 07:06] harryi3t commented on #1463
The fix will be released with Postman 5.3 in the next couple of days
From now on, sending a request will not add any header to the request. It will be shown as temporary headers in the App.
It will look something like this
![image](https://user-images.githubusercontent.com/5207331/31214615-9a8e69fc-a9c9-11e7-95ed-f9135d6a94ec.png)
![image](https://user-images.githubusercontent.com/5207331/31214625

[2017-10-05 08:51] kamalaknn commented on #3480
@akutruff the main request will always wait for any asynchronous scripts to complete in the pre-request script.

Can you share a collection or a request where you are not seeing this?

[2017-10-05 09:42] dannyhajj opened #3592 "Assertion wrongly fails if asserting with to.not.be before asserting with to.be"
When asserting with `pm.response.to.not.be.*` before `pm.response.to.be.*`, the second assertion wrongly fails. However switching their order makes the tests correctly pass. Also, using `to.be.not` instead of `to.not.be` makes the tests work as well.

## Examples:

The following 2 snippets work with a `PASS` result:
[code]

[code]

However, the following assertion always fails:
[code]
The last scr

[2017-10-05 09:51] guptarajatkn opened #3593 "Schema Validation Passes even if Difference in Property Name in an Object"
## App Details:

[code]

## Issue Report:
The schema validation is passing always. Even when you have a different property inside the schema than your data object. (or vice versa) the postman test passes always.
Ideally Schema validation must capture the difference in the properties in data vs schema in test.

 var data = {
    "id": 17,
    "logoURL": "http://abcdefgh.org/logotest",
    "name": "

[2017-10-05 10:25] numaanashraf commented on #3592
Thanks for reporting this @dannyhajj. We are looking into it.

[2017-10-05 10:34] fernandocvlopes commented on #285
+1

[2017-10-05 10:53] agrawalankit29 commented on #3567
Hi Numaan,
Thanks a lot writing back and taking the effort to understand my
requirements. I really appreciate this.

The reason I want to export data while running the collection is that I am
working on a embedded system front end of which is based on REST APIs. Now
we have created collections of postman requests which are serving us as a
automated test script, so when I am sending requests there

[2017-10-05 12:05] utezduyar commented on #3590
Thanks!

[2017-10-05 12:22] prashantagarwal commented on #3593
@guptarajatkn To strictly match the properties defined in your schema you can use a combination of
`required` and by setting `additionalProperties ` to false.

something like this

[code]

[2017-10-05 12:22] #3593 closed, assigned to nobody

[2017-10-05 12:37] utezduyar commented on #3590
@harryi3t What does new postman mean for me? Currently I make 2 DigestAuth requests and the first one has only bogus data. I assign the global variables on the first one with following code. Does new runtime mean that I don't have to do this?

[2017-10-05 12:45] akutruff commented on #3480
@kamalaknn I'm having trouble reproducing this, but we switched our auth servers which return almost instantly.  It seems that this is an issue in other cases per @rygood.  The above example was the case where I was seeing async issues.

Also, this blog post adds confusion to the issue:
http://blog.getpostman.com/2017/10/03/send-asynchronous-requests-with-postmans-pm-api/

That post makes it sound

[2017-10-05 12:46] harryi3t commented on #3590
@umuttl In the new version of Postman that is coming out in the next few days, Postman will do the populating of `nonce`, `realm`, `opaque`, etc for you if left empty.

In the new version, you can remove the global variables for the `nonce`, `realm` and `opaque`,  and can also remove the extraction and retry logic.

[2017-10-05 12:58] kamalaknn commented on #3480
@akutruff Any asynchronous script in the `pre-request` script will wait to complete before the main request starts. This holds true for `sendRequest` in the callback of another async function as well.

If you see that requests do not wait for the pre request scripts to complete, please report to us with a reproducible collection and we'll take a look.

[2017-10-05 13:46] guptarajatkn commented on #3593
Thanks a lot. I was missing something surely ;) can this be added to POSTMAN Tests Documentation as well would be helpful to many out there.

[2017-10-05 15:07] medjai commented on #2941
Harendra,

Do you have any timeline on Postman 5.3 release? Would you let me know if
this has been delayed?

On Mon, Sep 25, 2017 at 5:17 PM, Kyrillos Mossad <kmossad@gmail.com> wrote:

[2017-10-05 15:23] chrisron95 opened #3594 "Add file download ability to runner"
## App Details:
[code]

## Feature Request:
I think a great feature that would be very helpful for me and my team along with a lot of other people I’m sure would be to be able to download files from the runner. For example, our company generates reports. Now, I have a runner set up that will do what it has to do and generate a report, then it gets the report in our three formats: HTML, JSON, and P

[2017-10-05 15:29] chrisron95 commented on #3594
Similar to this feature request #3489

[2017-10-05 18:34] zodeus commented on #3079
Any movement on this? Seems like a fairly straightforward fix. The issue doesn't appear in the postman app. Just the publish hosted docs

[2017-10-05 21:12] godfrzero commented on #3079
@zodeus Fixes for the additional slash, and the duplicate protocol, have already been pushed out. Are you still running into this issue?

[2017-10-05 21:36] zodeus commented on #3079
It's fixed in the App, but in the hosted version (cloud?) It's still broken
![image](https://user-images.githubusercontent.com/238219/31253666-8c2c2cc6-a9da-11e7-9346-b92de44e78c0.png)

[2017-10-05 21:54] tomershay commented on #2392
+1

[2017-10-05 22:10] staticvoidmaine opened #3595 "Saving Example Requests Is Slow"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Reasonably quick/responsive UI
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

I'm not sure if this is

[2017-10-05 22:10] saiudayakella commented on #3592
+1

[2017-10-05 23:22] kicksmackbyte commented on #675
+1

[2017-10-06 09:46] drake1979 opened #3596 "Hard coded shortcuts conflicting with my (possibly many) keyboard layouts"
Hard coded shortcuts are very annoying when using hungarian layout for example.
To type the @ sign you have to press Ctrl+Alt+V which is a Postman shortcut toggling the split view.
To type the & sign you have to press Ctrl+Alt+C which opens the console...

Nice feature to have shortcuts, but without the ability to disable them, or customize them this feature is a drawback for many of us.

[2017-10-06 09:55] gabipetrovay opened #3597 "Global variable (setGlobalVariable) not persisted/saved if the pre-request script throws an error"
## App Details:
[code]

## Issue Report:
 1. I switched to a new environment and the global variables set in the pre-request script are not persisted if the pre-request script throws an error (intentionally, because I want to interrupt the request if some validation is violated)
 2. Expected behaviour: regardless of the way the pre-request script exits, I still want to save global variables (in my

[2017-10-06 11:22] marsie84 commented on #2030
+1

[2017-10-06 11:28] Architmantry opened #3598 "I want to get the last href response from the response log"
I want to get the value for " "href": "https://fu"," from the response which is at the bottom of the response

 {
    "ImportActivityId": 300100112643991,
    "Name": "RevDemo",
    "Description": null,
    "ObjectCode": "Account",
    "AttachmentObjectCode": null,
    "DecimalSeparator": ".",
    "DateFormat": "ORA_ZCA_US_FORMAT",
    "ImportMode": "CREATE_RECORD",
    "TimestampFormat": "ORA_ZCA

[2017-10-06 12:35] BrianKilby opened #3599 "postman.setNextRequest fails w/o error when using non existent step name"
The postman.setNextRequest method ceases the runner and does not report any failure when a non-existent step name has been provided.  This easily happens as steps can be renamed but then those postman.setNextRequest references are not updated.

Steps to recreate:
Create step 1 named "Step 1"
Create step 2 named "Step 2" with postman.setNextRequest("Step 1")
Create step 3 named "Step 3"
Rename "Ste

[2017-10-06 12:41] bhartsfield commented on #3599
+1

It certainly seems like it would make more sense to throw an error if setNextRequest() contains anything other than NULL and that step doesn't exist.

As it stands, the only way around it in Newman is to add a unique, generic message to the end of every collection that you can look for in the run results and say, "Yes, this collection reached the end".

[2017-10-06 12:43] swheeler1974 commented on #3599
+1 agreed

[2017-10-06 12:44] msilkroad commented on #3599
+ 1 Agreed

[2017-10-06 13:05] bhartsfield commented on #2401
Friendly Ids would HELP with this issue as well: https://github.com/postmanlabs/postman-app-support/issues/3599 . It certainly wouldn't be a replacement but the two together would be great for people who find themselves renaming requests often.

Is that still on the roadmap?

[2017-10-06 13:06] tvvignesh opened #3600 "Enable suggestions for environment variables in url"
## App Details:
[code]

## Feature Request:
When I type in the name of an environment variable in Headers, I get suggestions to add but if I try the same in the URL bar, the suggestions do not come up but the environment variable works.

Would be a nice addition to provide suggestions in URL bar as well.

Great work by your team by the way with Postman and I am loving every minute of development w

[2017-10-06 13:08] shamasis commented on #3599
@kamalaknn - in runtime, we can add an event that is triggered whenever there is an SNR requested (or simply add params to `item` callback) from sandbox and a flag that is returned as true in the event when the order is changed from default and another flag if target item is not found? This can be consumed in a number of ways in newman and postman app to build desired UI / reporting features.

[2017-10-06 13:12] bhartsfield commented on #3599
sorry if I am not following but wouldn't that mean we would have to code for every setNextRequest() response in our collections? Wouldn't it make everyone's life easier if setNextRequest() just failed the collection when it hit a step name that wasn't found? (except for NULL of course).

[2017-10-06 13:40] sandeepstw commented on #1441
i just wanted to upload image
i follow all above steps..but not working..
what logic should be there in controller and model for image collection

[2017-10-06 16:22] ivanbell2012 opened #3601 "UI Enhancement: Collapsible Sections"
## App Details:
[code]
Could you please add an option to collapse the sections in the right section of the UI?  In order to maximize my results view, I used to choose "Authorization" tab in the 2nd vertical section (this yielded the most real estate in the results view).  With the current version (just updated today), it seems all of those tabs are now a fixed height and reduce my results visibili

[2017-10-06 16:56] judomu opened #3602 "Feature Request - Add 'request body' to mock server matching algorithm"
Currently the matching algorithm does only consider few request variables (see https://www.getpostman.com/docs/postman/mock_servers/matching_algorithm), therefore the mocking solution can't be used in complex cases.

For example: If I want to use the postman test and mocking stack as a system testing solution to verify that

`[Internal System] --> [External System]`

works correctly, I would creat

[2017-10-06 17:35] harryi3t commented on #2941
@kota65535 @medjai
Postman 5.3 is released 🎉  I need at-least one confirmation that this has fixed the issue.
Can you guys please check it

[2017-10-06 17:42] GeekMustHave commented on #2656
I have tried Newman and in some cases, the tests that work in Postman and show up in runner do not show up at all in Newman.  It does 3 of the 10 test and just stops displaying the test results at all.

I've tried to go back and figure out what test is causing the problem and after a few hours gave up.

[2017-10-06 18:04] kamalaknn commented on #3601
Hi @ivanbell2012

Thanks for your suggestion. We have tried our best to bring a lot of new enhancements to the Authorization tab and hence the difference in the new version. We'll try to optimize the view for response viewing.

For now, you can use our `Two Pane` view to split the request section into two and bring your response to your right.

You can use the `cmd + opt + v`(if you are on macOS)

[2017-10-06 19:48] ghost opened #3603 "ENH Request: Enable direct write to ENV variables with Oath2"
## App Details:

[code]

## Issue Report:
After working with support we determined that what I need is an enhancement.

Instead of having to run through these steps (http://blog.getpostman.com/2017/05/27/not-your-grandmas-postman/) to set a token for subsequent requests. It would be good to be able to set the ENV directly.

[2017-10-06 20:45] mpearson commented on #2773
Completely agree. Tabs can be useful but it is extremely frustrating having to constantly close 20 tabs when I had no desire to create more than one. If I want a new tab, I'll create one myself.

[2017-10-06 20:50] mathewrg commented on #2401
Currently, setNextRequest looks for the last request in the collection that matches the given name.
is it possible for the setNextRequest to be modified to look for the last request with the given name in the current folder, and if not present, look for the last request in its parent folder and continue all the way up till the root?
This will give the developers a little more control with the loop

[2017-10-06 21:32] godfrzero commented on #3079
@zodeus In your case, this seems to be happening because the environment variable value has a leading space.

[2017-10-06 22:24] medjai commented on #2941
Harendra,

I see that this does work now but sometimes it fails and I have to send the
command again not sure why

On Fri, Oct 6, 2017 at 1:35 PM, Harendra Singh <notifications@github.com>
wrote:

[2017-10-06 23:25] arctouch-douglaskazumi commented on #2213
Additionally, a second combo box could be added to select environments(dev, prod, qa...) for a certain app.

[2017-10-06 23:37] arctouch-douglaskazumi commented on #2032
This could be very powerful if combined with something like [Environment folders](https://github.com/postmanlabs/postman-app-support/issues/2213), so you could add/edit variables in a certain folder only.

[2017-10-06 23:41] arctouch-douglaskazumi commented on #1451
@ailjushkin I agree that editing variables in the popup would be nice but in your case, you can do even better if you set up a script to your auth request that updates the environment with the token in the response.

[2017-10-07 01:24] S33G commented on #285
+1!

[2017-10-07 06:17] ailjushkin commented on #1451
Hi, it's 2yrold question, postman grew up alot since I asked it) but thanks
for the answer!

[2017-10-07 06:40] bhawna2109 commented on #2773
Hi guys, ability to force close all tabs is now supported in our latest version [(V 5.3.0)](https://www.getpostman.com/apps#changelog). 🎉  Clicking on the three dots next to the '+' icon brings up a dropdown with options to manage the tabs you're currently working with.

The last option in the dropdown -  'Force close all tabs' - will close all the tabs without prompting to save each time -
![imag

[2017-10-07 07:25] jbrinkle opened #3604 "Oauth2 authorization form not working when using identical information to previous version"
## App Details:

[code]

#### 10/27 Update:
No longer throwing errors, and don't know about other ID providers, but the one being used (Okta) for some reason causes redirect-with-auth-code step to instead redirect back to login page. But only for versions 5.3.1+. Previous version 5.2.1 still works flawlessly.

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there

[2017-10-07 07:41] harryi3t commented on #2941
@medjai I will be more than happy to assist you in resolving the issue.
Could you provide me with some more details around when it fails?
1. Please open the `postman console` (view -> Show postman console) and clear any logs, if present.
2. Send the request (having digest auth)
3. take a screenshot of postman console
4. expand all the logs and each section and copy the content
5. Send this info ei

[2017-10-07 07:50] harryi3t commented on #3604
Thank you for reporting this.

Please note that the console mentioned in the toast is not the `postman console` but the `devTools console`.
Could you provide me with that error details? (Menu -> View -> Show devTools)

### Sample error
![image](https://user-images.githubusercontent.com/5207331/31305941-e8f632e2-ab62-11e7-9b36-fa40f5f01081.png)

[2017-10-07 09:27] harryi3t commented on #3604
@jbrinkle Could you try changing the `Client Authentication` drop-down field to `Send as basic auth header`

![image](https://user-images.githubusercontent.com/5207331/31306496-2f6998d4-ab6f-11e7-9008-9db15dbf38f6.png)

Earlier we were sending the credentials in the body and the header. But this was not RFC compliant and many users were complaining.
So we made this configurable.

I think your serv

[2017-10-07 10:48] techpeace commented on #2627
If I have a variable that is meant to be a string, then it needs to be enclosed in quotation marks in the environment itself or it will come out as a JSON error, as it gets embedded into the JSON body without quotation marks:

[code]

If I need to use that user ID in a URL segment, then I need a version of it that isn't enclosed in quotation marks. The workaround here seems to be creating two envi

[2017-10-07 19:03] thorgch commented on #285
+1

[2017-10-07 22:55] rohtakdev commented on #6682
+1 on SSE events support on postman.

[2017-10-08 03:11] JaimeLynSchatz commented on #3229
Still an issue. Please reopen. @SamvelRaja
Running Postman v5.3.0
Windows 10 Pro, 10.0.14393 Build 14393

[2017-10-08 06:15] westover commented on #3232
Also appears to be a problem with raw input

[2017-10-08 14:47] vastbinderj commented on #2790
@a85 @shamasis

Do you think instead of using postman, we could use newman with jq if we wanted to script tests?

Thoughts?

[2017-10-08 14:48] jbrinkle commented on #3604
I tried both ways and it failed both times.

Send as header
common.js:154441 POST
https://vivint.oktapreview.com/oauth2/ausc2qa98kEkjuPKE0h7/v1/token 403
(Forbidden)send @ common.js:154441ajax @ common.js:153922requestToken @
xml.js:22(anonymous function) @ xml.js:22onBrowserLoginCallback @
xml.js:22wrapper @ common.js:28347handleInternalMessage @
common.js:155368handleElectronMessage @ common.js:

[2017-10-08 14:48] jbrinkle commented on #3604
P.S. Thanks for the fast follow up and suggestion. Happy to help any way I
can.

On Sun, Oct 8, 2017 at 8:47 AM Jason Brinkle <jason.brinkle@gmail.com>
wrote:

[2017-10-08 15:10] slavafomin commented on #1983
I'm not sure what's triggering this, but I'm also encounter this behavior sometimes. Maybe it's related to the fact, that I'm pausing request handling by using IDE to debug the Node.js code.

[2017-10-09 03:40] GuryYu opened #3605 "Suggestions for format body content and body description."
## App Details:

[code]

## Suggestions:
1. Hope to support JSON or XML Body content format code.
2. Hope to support body content line based description, It will be usefull for JSON or XML HTTP body parameter. Example Is below:
![image](https://user-images.githubusercontent.com/4480596/31324539-463d7656-ac79-11e7-8341-ba4cee7e24ce.png)

[2017-10-09 03:41] khanhtdbse commented on #1947
+1

[2017-10-09 03:44] hungapl opened #3606 "Username and password not reset after changing Authorization Type to 'No Auth'"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
_Encountered recently_

 2. Expected behaviour:
_Change Authorization Type to 'Basic'
Enter username and password
Click Send, username and password are sent with the request
Change Authorization Type to 'No Auth'
Click Send, no credential should be sent with the request_

 3. Console l

[2017-10-09 03:49] a85 commented on #3602
@julmuell Thanks for the input. More complex matching is something we are looking at and gathering feedback from everyone. This will be part of a future update to Postman mocks hopefully soon!

[2017-10-09 04:48] devjack commented on #3604
Hi folks,
I've just reproduced this with my colleagues. It appears that the `client_secret ` param is not being POST'ed for the second leg of OAuth. I successfully see `grant_type`, `code`, `client_id` and `redirect_uri` but not `client_secret`.

This field is definitely configured in the UI/dialog for Oauth but is not included in the POST payload when attempting to exchange the access code for an

[2017-10-09 07:00] bhawna2109 commented on #3600
@tvvignesh This is supported in the app - you need to type an open curly bracket to bring up the autocomplete in the URL bar.
![image](https://user-images.githubusercontent.com/14976346/31327543-a1d35444-aced-11e7-9c8c-eae91640f748.png)

[2017-10-09 07:07] Eli-Goldberg commented on #2931
@Graham42 this is awesome. Thank you !

@numaanashraf Bumping this. I think this is important, could really use this repository,
plus this would keep everyone up to date with your latest updates.
Thanks.

[2017-10-09 07:12] bhawna2109 commented on #3316
Hi guys, ability to force close all tabs is now supported in our latest version [(V 5.3.0)](https://www.getpostman.com/apps#changelog). 🎉 Clicking on the three dots next to the '+' icon brings up a dropdown with options to manage the tabs you're currently working with.

The last option in the dropdown - 'Force close all tabs' - will close all the tabs without prompting to save each time -
![image]

[2017-10-09 07:12] bhawna2109 commented on #3386
Hi guys, ability to force close all tabs is now supported in our latest version [(V 5.3.0)](https://www.getpostman.com/apps#changelog). 🎉 Clicking on the three dots next to the '+' icon brings up a dropdown with options to manage the tabs you're currently working with.

The last option in the dropdown - 'Force close all tabs' - will close all the tabs without prompting to save each time -
![image]

[2017-10-09 07:12] bhawna2109 commented on #2195
Hi guys, ability to force close all tabs is now supported in our latest version [(V 5.3.0)](https://www.getpostman.com/apps#changelog). 🎉 Clicking on the three dots next to the '+' icon brings up a dropdown with options to manage the tabs you're currently working with.

The last option in the dropdown - 'Force close all tabs' - will close all the tabs without prompting to save each time -
![image]

[2017-10-09 07:34] kamalaknn commented on #3604
Hi @devjack,

While trying to reproduce this, we found that `client_secret` is actually being sent with the request. Since you are not seeing the same behavior this should be specific to one of your configuration options or the OAuth provider.

Could you share a screenshot of the `Get new access token` dialog with the values filled so we can investigate it?

Also, could you open `Developer Tools`

[2017-10-09 07:54] kamalaknn commented on #1463
Hi all,

This enhancement is out in `5.3.0` version of Postman. In this version `Authorization` headers generated by Postman are not saved with the request. Also, all the data in the `Authorization` tab is saved by default with the request.

For requests saved in the older versions, you may have to manually remove the `Authorization` headers or any headers/params added by Postman. Rest assured Pos

[2017-10-09 07:54] #1463 closed, assigned to shamasis, harryi3t

[2017-10-09 07:56] harryi3t commented on #3590
@umuttl Postman 5.3.0 is out. Could you try it again with this updated version?

[2017-10-09 07:57] prashantagarwal commented on #3542
@poisa This issue is fixed in 5.3.0. Can you please update your app and verify if you still facing this issue. Feel free to reopen this is so.

[2017-10-09 07:57] #3542 closed, assigned to prashantagarwal

[2017-10-09 07:58] prashantagarwal commented on #3066
@tgourley01 @nuriyevn We have fixed this issue in 5.3.0 release. Can you guys please update your chrome app and verify.

[2017-10-09 07:58] kamalaknn commented on #3606
Hi @hungapl

Could you verify if this is because `Authorization` header is saved with your request?

If the header is saved with your request, you should see a warning like this,

![screen shot 2017-10-09 at 1 25 45 pm](https://user-images.githubusercontent.com/8401064/31328999-913aa38c-acf5-11e7-8de4-e7c6e4a455db.png)

If you see a warning like

![screen shot 2017-10-09 at 1 26 26 pm](https://use

[2017-10-09 08:02] harryi3t commented on #2846
@LS-Kai Postman 5.3.0 is out. It now supports an option for configuring where the client credentials should be sent (in the body or in the header)

I have personally tested it out with Yelp and it works. Could you try it again with the latest version and let me know if this fixes the issue.

[2017-10-09 08:13] harryi3t commented on #2811
Hi, everyone

Postman 5.3.0 is out with an extra field for `state` as requested.
Now you can just leave the field empty and Google will stop complaining about it

![postman](https://user-images.githubusercontent.com/5207331/31329355-547ee10e-acf7-11e7-9b77-78e69dbfdffa.png)

I have tested this, can someone confirm that it works?

Thanks

[2017-10-09 08:16] harryi3t commented on #3458
Hi, Brandon

Postman 5.3.0 is out with the fix. Now you can omit the username field and it should just work fine.
 Please re-open if the fix is not working for you. I will be more than happy to assist you.

Thanks

[2017-10-09 08:16] #3458 closed, assigned to harryi3t

[2017-10-09 08:17] kamalaknn commented on #3547
Hi @cawoodm

Starting from `5.3.0` Postman will not add or replace the headers saved with your request. Postman will also warn if you have a header that might be overridden by Postman like this

![screen shot 2017-10-09 at 1 25 45 pm](https://user-images.githubusercontent.com/8401064/31329514-21bcd2ac-acf8-11e7-83af-8c8c1b07c521.png)

This should make sure the header you added was not lost while s

[2017-10-09 08:17] #3547 closed, assigned to kamalaknn

[2017-10-09 08:18] harryi3t commented on #1137
Hi, everyone

Postman 5.3.0 is out with support for NTLM!
Can someone please confirm that this is working as expected?

Thanks

[2017-10-09 08:19] wang6771264 opened #3607 "Suggestions create environment for parameters while body is json"
While request body is json or form, use environment varaible manage parameters!

{
  "orderId": 3240541,
  "token": ${test_token}$,
  "appCode": 101
}
instead of
{
  "orderId": 3240541,
  "token": "74972cb24c217c5fddf2b6eea0fb5e11",
  "appCode": 101
}

Sorry, my English is bad, maybe you can't understand mine.

[2017-10-09 08:26] harryi3t commented on #2296
Hi, everyone

Postman 5.3.0 is out with an extra option to configure where the client credentials should be sent.
Please choose `Send client credentials in body` from the dropdown
![postman](https://user-images.githubusercontent.com/5207331/31329794-5774f86a-acf9-11e7-824d-8721b6908bfe.png)

Thanks

[2017-10-09 08:26] #2296 closed, assigned to harryi3t, sdnts

[2017-10-09 08:47] RobbyDeLaet commented on #1137
A test with a WorkstationID on my personal PC works fine.
I will test with a Domain account asap. I have to request a software update on my clients PC (which can take some time).

[2017-10-09 10:00] asmeikal opened #3608 "OAuth 2.0 token not added to Headers"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
  - Bug showed up after updating to 5.3.0
 2. Expected behaviour:
  - After successfully obtaining an OAuth 2.0 token, and selecting "Request Headers" as "Add authorization data to" in the "Authorization" tab, I expect Postman to actually add the token to the headers.
 3. Console logs

[2017-10-09 10:27] kamalaknn commented on #3608
Hi @asmeikal thanks for reporting the issue.

We are having trouble reproducing this. It would be great if you could give us more detail.

1. Are you seeing the access token in the input box or is the input empty?
2. Are you seeing the same if you select `Add authorization data` to `Request URL`?
2. Could you try saving the request and sending it again?

[2017-10-09 10:42] asmeikal commented on #3608
1. The token appears in the `Access Token` box, in the `Authorization` tab.
2. If I select `Request URL`, there still is no token in the request. Also, `Preview Request` gives the same error (`Could not update authorization data.`)
3. I tried, no change. I'll try to reinstall Postman and see if anything changes.

[2017-10-09 10:55] agelbess opened #3609 "Refuses to show response from request to secure site with hostname in "Certificate Subject Alt Names" (hostname NOT in "Certificate Subject")"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: It is the first time I tried it
 2. Expected behaviour: When requesting from a secure HTTPS site with extended validation certificate and domain that does NOT match the "Certificate Subject CN" but the "Certificate Subject Alt Name", postman refuses to show the response, but the reques

[2017-10-09 10:55] Billy- opened #3610 "Trello road map is very vague"
Some extra information and notes on the cards in your Trello road map board would be very much appreciated. Just a short description perhaps and a link to somewhere to track in more detail (e.g GitHub Issue) the discussion and/or progress would be ideal.

Kind regards,
Bill

[2017-10-09 11:12] asmeikal commented on #3608
Reinstalling Postman fixed the problem.

[2017-10-09 11:24] kamalaknn commented on #3608
@asmeikal Good to hear.

We'll continue to investigate why the update was not working for you.

I'll post updates to this thread.

[2017-10-09 11:51] norcino commented on #2030
+1

[2017-10-09 12:07] Zuhayer commented on #3542
This issues was bugging me irksomely. Thanks for reporting @poisa and thanks for fixing @prashantagarwal.

This issue is resolved for me in version 5.3.0.

[2017-10-09 13:04] krmr commented on #3608
I am afraid that I am experiencing the same problem under Windows (Version 5.3.0, win 32 10.0.15063 / x64):

Steps:
1. Successfully request an OAuth2.0 token (grant type is 'Client Credentials', the token received has token_type 'Bearer')
2. In the request select the token to use
3. Click on 'Preview Request'

Result:
1. A message is shown 'Could not update authorization data'
2. There is no autho