[2021-06-12 18:00] Ritish-Madan commented on #9346
Maybe no, as @twitharshil said that it is a canary version and has not been rolled out in production yet. So maybe, you need to download and install it manually. But that's much faster and smoother than Intel Version.

[2021-06-13 12:26] Yachint commented on #9346
Thanks for the update, I was just on the brink of finding an alternative but then I saw this thread 👍

[2021-06-13 14:07] effyteva commented on #8126
I still face this issue as well

[2021-06-13 15:01] rbandla-graincorp commented on #7973
Hi,

I got a collection of size 16MB and it is failing. I have tried multiple times but still the same.
When I created a new collection it worked fine. I am on windows PC with enterprise account.

Ram

[2021-06-13 15:11] oprogramador commented on #6289
It's fixed in 7.36.5:

![image](https://user-images.githubusercontent.com/8701039/121812889-f5a81d80-cc69-11eb-8e05-26b3ffd5650e.png)

[2021-06-13 16:13] shirshak55 commented on #4009
looks like its not implemented properly. Like I need to go to new and click on websocket? Why not just new tab and check if url has ws:// or wss://? Like how do new user literally discover how to use websockets?

And second we cannot save? Like if there is multiple message if we disconnect and reconnect we lose all the message? I hope this will be fixed once beta is over. But closing this issue wi

[2021-06-13 16:13] shirshak55 commented on #4009
looks like its not implemented properly. Like I need to go to new and click on websocket? Why not just new tab and check if url has ws:// or wss://? Like how do new user literally discover how to use websockets?

And second we cannot save? Like if there is multiple message if we disconnect and reconnect we lose all the message? I hope this will be fixed once beta is over. But closing this issue wi

[2021-06-13 19:37] CarrieRaglan commented on #7833
Our Developers and QA need to review new documentation daily.
The current documentation workflow if we want to use Postman:

1. Open Postman
2. Send a request to get the latest openAPI specification
3. Copy the response body
4. Click to Create a New API
5. Enter a name and a version, and select schema type JSON
6. Click Create API
7. Go to the Define tab for the new API
8. Select all the default J

[2021-06-14 06:34] shashankawasthi88 commented on #10019
@laad-shikha can you please add more details to the Integration request.

[2021-06-14 06:44] shashankawasthi88 commented on #9021
@parulgarg123 @GayanSandaruwan can you try using Postman Proxy instead (https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/). As Abhijit mentioned, we have added the support for HSTS enabled endpoints. Can you let us know if any of your use cases are not possible via Proxy?

[2021-06-14 06:49] fabienberdah opened #10021 "Text in input box too clear in dark mode"
**Is your feature request related to a problem? Please describe.**
In darkmode, when adding description, the text is a very light grey on a white background which makes it almost illegible.

**Describe the solution you'd like**
make the input box background darker   or darken the input text

**Describe alternatives you've considered**
I've switched back to the light mode because I can really read

[2021-06-14 06:49] shashankawasthi88 commented on #9995
@isainiesta closing this for now. Please reopen by adding more details to the ticket

[2021-06-14 06:49] #9995 closed, assigned to abhijitkane

[2021-06-14 06:51] shashankawasthi88 commented on #9963
Please reopen by adding more details to the ticket!

[2021-06-14 06:51] #9963 closed, assigned to abhijitkane

[2021-06-14 06:52] shashankawasthi88 commented on #9895
@fernadodemitropulos Can you please add more details about your exact use case and how you believe the Integration would help you achieve it?

[2021-06-14 06:54] shashankawasthi88 commented on #9872
@mmci2468 can you please elaborate upon what use case are you trying to achieve and how the Integration might be helpful in the same

[2021-06-14 09:53] Sti2nd opened #10022 "Postman steals focus when update is available"
**Describe the Issue**

An open Postman window steals focus at random times, ruining my workflow. I believe it is the notification of a new update that is the problem.

**Steps to Reproduce**

1. Have a Postman window open on another screen or next to another window
2. Write continously on your keyboard in another window than Postman
3. When an update is available in the Postman window the focus i

[2021-06-14 09:58] arlemi commented on #4009
@shirshak55 You can access previous requests/message history from the History tab (left sidebar). The feature is still in beta and we'll be building on top of the feedback we receive here.

[2021-06-14 10:00] arlemi commented on #9481
@skaria-cloud This is not something we can do for you, please visit the GitHub issue and click `unsubscribe` on the right-hand side.

[2021-06-14 10:02] arlemi commented on #8686
@kaq527 Can you please provide more details, and steps to reproduce the issue?

[2021-06-14 12:19] DartMen commented on #8605
A year has passed, and still no descent solution.

@georgealar 's method needs to be adjusted after every single postman update as the postman dev decided it would be smart to have the version number written in the filename...

[2021-06-14 13:30] timbochamp commented on #9228
This should be fixed in the latest version of the app, as well as on Postman for Web. Please feel free to reopen if the issue is persisting at the same time!

[2021-06-14 13:30] #9228 closed, assigned to nobody

[2021-06-14 16:20] cy-lhe commented on #6682
+1

[2021-06-14 16:22] aamirencodes commented on #4751
Facing the same issue @dsschapira , I'm not sure if its the issue with the postman or my large byteArray response.

[2021-06-14 17:15] shamasis commented on #4009
@shirshak55 ... thank you for the feedback. @arlemi answered one of your questions.

In the grand scheme of API lifecycle, there is a lot more to do for WebSockets and the current implementation enables the core constructs as described in this issue. https://github.com/postmanlabs/postman-app-support/issues/4009#issuecomment-845165504

We are tracking all subsequent bugs and feature requests separ

[2021-06-14 18:23] Warlock-9000 commented on #4581
The error is still present. Windows 10, Postman v8.6.2
Because of this, I had to use crutches and bicycles. Here it is
Add this to the test section where you plan to receive cookies in the request
`javascript
let headers = []
for (const [key, value] of Object.entries(pm.response.headers.all())) {
  if (value.key == 'Set-Cookie') headers.push(value.value)
}
let cookieString = ''
for (i in headers){

[2021-06-14 18:58] HolisticDeveloper commented on #283
I'm now able to get my OAuth1.0a flow working in Postman. Thanks!

[2021-06-14 20:16] danielfigueiredo commented on #6719
After so long waiting I, unfortunately, started looking at insomnia because Postman does not support this feature. Most of my company's API calls are GraphQL, having to export to JSON for every single update and import it on postman is essentially impossible at this point 😞

[2021-06-14 23:20] deepal opened #10023 "HTTP3/QUIC Support"
**Is your feature request related to a problem? Please describe.**
It would be amazing to see HTTP3 support, now that it's widely available via many CDNs, supported by Chrome by default, and being rolled out by Firefox  at the time of the writing. [Curl also has experimental support for HTTP3](https://github.com/curl/curl/blob/master/docs/HTTP3.md) if built from source.

I might be definitely too

[2021-06-15 00:13] appurist commented on #7221
I just ran into the same issue with Postman 8.6.2. I'm not using any obvious proxy (but I'm testing against a Netlify local dev server). While debugging my endpoint, which was being hit successfully, Postman would time out even with a 0 in the settings. (I don't think I ever set that though, it was just already set to 0.)

It was always a 10-second timeout, so I just changed the setting to 60000 m

[2021-06-15 05:44] postman-support commented on #10006
Hi @ed-sparkes,

I'll be closing this next on our end as we haven't heard back. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support ​so we can investigate further.

Have a nice day.

via @Raj-postman | Postman Support

[2021-06-15 05:47] #9887 closed, assigned to nobody

[2021-06-15 05:47] #10006 closed, assigned to nobody

[2021-06-15 05:49] #9905 closed, assigned to nobody

[2021-06-15 05:51] #9690 closed, assigned to nobody

[2021-06-15 05:52] #9740 closed, assigned to nobody

[2021-06-15 05:53] #9962 closed, assigned to nobody

[2021-06-15 06:46] parulgarg123 commented on #9021
@shashankawasthi88 It's not a clean solutions as compared to Interceptor also need to configure multiple things, as a developer If I am using third party things for my work then I expect that they will work on fly with 0 configuration. Kinda Plug and Play

[2021-06-15 07:34] blinkofaneye commented on #8413
Any update on this ?

[2021-06-15 07:35] JAELatDHI commented on #5735
Has --compressed been added since? I am having a similar issue.

[2021-06-15 07:36] JAELatDHI commented on #4079
+1

[2021-06-15 07:45] #9949 closed, assigned to nobody

[2021-06-15 07:45] #9914 closed, assigned to nobody

[2021-06-15 07:46] #9903 closed, assigned to nobody

[2021-06-15 07:47] #9686 closed, assigned to nobody

[2021-06-15 07:48] #9855 closed, assigned to nobody

[2021-06-15 07:52] numaanashraf commented on #10007
@stcalica This is resolved in `v8.6.2`

[2021-06-15 07:52] #10007 closed, assigned to nobody

[2021-06-15 07:54] numaanashraf commented on #10005
@aescolastico Thanks for raising this request! Could you help us understand which features of Postman you use on mobile?

[2021-06-15 08:01] carbisb opened #10024 "New Integration Request - Azure DevOps"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-06-15 09:21] theon commented on #4660
Not sure if this has moved recently, but mine was under `/Partitions` in a UUID directory. E.g.

[code]

[2021-06-15 09:30] daanpape opened #10025 "How to send raw bytes in websocket request"
Hello,

It's great to see websocket support in Postman. We use our own binary subprotocol but I cannot find how to send raw binary bytes via Postman. I have selected 'Array Buffer' with 'Uint8Array' but whatever I'm entering in the message box it always gets transformed to ASCII encoding instead of my hex bytes.

[2021-06-15 09:33] william-eth opened #10026 "Documentation table markdown "Click to Expand" button is not showing up sometimes."
I used the postman document feature to write a table markdown to describe API request parameters. Sometimes the table was huge, it will show the  **"Click to Expand"** button to view the whole table.

But in some situations the "Click to Expand" button will disappear.

For one case is if I clicked the "X" button to close the document and open it again, the table "Click to Expand" button will disap

[2021-06-15 09:51] SandraMarszalek commented on #8455
Run on the same problem today.
Body contains a model like
"MyArgs":[ {
"arg1": "val1",
"arg2: "val2"
}]

I can see in console it's a valid model but on API side I can't get those valuse - they are both null.

[2021-06-15 10:33] obroomhall opened #10027 "Save WebSocket requests to collection"
**Is your feature request related to a problem? Please describe.**
If a server supports both HTTP requests and web socket requests, it should be possible to save both types into a collection which can then be shared with a team.

**Describe the solution you'd like**
To be able to save web socket requests to collections, allowing for the use of the same collection features expected from saved HTTP

[2021-06-15 10:43] vgolovin-vi commented on #7399
The problem is still here (Version 8.6.2, linux 5.8.0-55-generic / x64).

[2021-06-15 10:51] ranchanarajasekaran commented on #9564
This is not occurring in the latest version of the app.
 Please feel free to reopen the issue, if you still face this.

[2021-06-15 10:51] #9564 closed, assigned to godfrzero, Raja-Simha

[2021-06-15 11:40] Raja-Simha commented on #10026
@yaohsien thanks for reporting this issue. We are working on a fix for this and the fix should be out soon.

[2021-06-15 11:42] ranchanarajasekaran commented on #8987
We have fixed this. Please feel free to reopen if you still face any issues

[2021-06-15 11:42] #8987 closed, assigned to godfrzero, Raja-Simha

[2021-06-15 11:57] floriankraemer commented on #4660
We have several huge collections and I would like to clean all of them up from Postman *without* having to click over 100 times the confirm dialogue... This is horribly annoying and I don't understand why this is not getting implemented. Several people request this feature for years.

[2021-06-15 12:50] neilstudd opened #10028 "Unresolved variables no longer appearing red in query params"
**Describe the Issue**

As mentioned in [this forum topic](https://community.postman.com/t/unresolved-variable-highlighting/24854), when a variable cannot be resolved, it normally appears in the Postman UI in red, making it visually clear that there is a problem.

However, in recent builds (observed in 8.6.1 and 8.6.2) the text is not red when it appears within query params or path variables - it'

[2021-06-15 13:08] nk-gears commented on #9397
Now it's stuck in "Preparing your workspace" for the last few days, going for ever.
![image](https://user-images.githubusercontent.com/897323/122058060-e0b5c080-ce08-11eb-9679-3f21140a0a87.png)

[2021-06-15 14:51] MartinDevillers commented on #7978
Alternatively: if you guys don't want to clear the response automatically, could you at least add an action somewhere in the UI called "Clear Response" so I can clear the response manually. I know I can get it cleared by closing the request and opening it again, but that also forces me to save or discard any changes. Being able to clear the response is useful to me when I give a presentation or ma

[2021-06-15 15:04] khandelwalneeraj commented on #8021
Not sure if this thread is being watched by I hope it is.

One thing that doesn't work UX wise is that the forked collection has to be shared with the team's workspace. Doing so have crowded the team's workspace with personal forked collections, making it difficult to navigate.

My understanding with fork is that I should be able to create the PR without having to give access to my personal collec

[2021-06-15 15:37] tpagett opened #10029 "Multi-line find and replace"
**Is your feature request related to a problem? Please describe.**
There are times when I want to do multi-line search/replace in Postman. It's very frustrating that I can't do this in the postman app, when every modern text editor has this support.

For example, if I have the same function pasted into multiple pre-request tests, but I need to update that function, I have to copy those lines of co

[2021-06-15 17:12] Juli-Bk commented on #6556
Hello! I noticed that after I changed the working directory by Settings->General trying to configure Newman. It is impossible now to set it back to ~/Postman/files (with ~ sign), it shows the absolute path. I cant send files using form-data. Not one file, nor an array of them. In Postman console I can see "undefined" for the request body in "product-images" key.
I have copied sending files into th

[2021-06-15 17:53] dallenbaldwin opened #10030 "Mismatched Cursor on HiDPI display"
**Describe the Issue**
On Postman for Linux v8.5.1 Snap, using a 3000x2000 display, the cursor does not match the system cursor and is _very_ small.

**Steps to Reproduce**
1. Download Postman for Linux v8.5.1 via the Snap Store
2. Select a different system cursor
3. Open Postman
4. Behold the ultra tiny cursor that doesn't match the system cursor

**Screenshots or Videos**
![Screenshot from 2021-

[2021-06-15 17:54] syedqadeer commented on #9397
Here is what i did.

1. Logout from Existing account
2. Login with another account
3. VOILA!!! Sync started to work!!

Ofcourse, i lost all the history once i logged out.

[2021-06-15 18:15] aescolastico commented on #10005
PWAs bring with them native-like features such as offline viewing, robust caching for faster performance, push notifications (not really relevant for postman) and background sync. Overall it would allow you to deliver postman web as a native-like application on devices like the iPad. iPad development is currently an immature, but evolving workflow. Postman on the web is one of those things that's

[2021-06-15 18:40] debargharoy commented on #9782
I understand that it's not a priority from a functionality standpoint but given the damage, it's causing to user experience, is there an ETC for this? Not sure how many people are bothered by it, but as already said by @johndanek it's annoying to close the banner every time we start the app.

[2021-06-15 19:12] Juli-Bk commented on #6556
**I fixed it this way for my project:**

<img width="1009" alt="Снимок экрана 2021-06-15 в 22 07 10" src="https://user-images.githubusercontent.com/56931989/122109514-22089900-ce26-11eb-9523-8a75e662fd84.png">

<img width="755" alt="Снимок экрана 2021-06-15 в 22 09 02" src="https://user-images.githubusercontent.com/56931989/122109758-672ccb00-ce26-11eb-8147-b5f2889e0f2f.png">

<img width="939" alt

[2021-06-15 19:58] lexcraw4d commented on #8455
Did you try my method from screenshot?

[2021-06-15 19:59] ipatalas commented on #9911
Same problem today with another update.
Moreover today I was able to observe the same behavior on my teammate's machine so I'm definitely not alone with this problem.

[2021-06-15 20:20] Angryrocket789 commented on #5301
Make sure that you have enough space in LOCAL DISK C .

[2021-06-15 20:52] s-codebyte opened #10031 "Summary overlaps when you run a collection for multiple iterations using csv file"
After running a collection using data file(.csv), some part of summary of 2nd iteration is overlapped.

![img](https://user-images.githubusercontent.com/61634585/122121584-a89a8780-cde0-11eb-90a8-65ce9c279f4a.PNG)

[2021-06-15 21:46] etiennenoel commented on #8179
+1

[2021-06-16 02:04] arpitpattewar opened #10032 "No http response information is shown for response code 377"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type: Desktop
 - Postman Version: 8.2.3
 - Operating System: mac (10.11.6)

**Additional Context**

![Screen Shot 2021-06-16 at 7 31 55 AM](https://user-images.githubusercontent.com/22489071/122146670-1a241580-ce75-11eb-814f-3f555e424a95.png)

[2021-06-16 02:30] codenirvana commented on #10032
That's because `377` is not a [standard response code](https://datatracker.ietf.org/doc/html/rfc7231#section-6) but, I think it should still show a generic 3xx description.

[2021-06-16 02:34] romit7 commented on #9845
Same issue here..before v8 on windows10 large collections loading and syncing was fine. Now I have to wait for more than 30mins to go to my workspace

[2021-06-16 03:26] Skyler1017 commented on #2801
+1

[2021-06-16 06:12] giridharvc7 commented on #2934
@ShawnFumo @jwineinger Sorry for the inconvenience, while we are working on a fix, please keep using audience in the AuthURL for the PKCE Grant type. Seems this grant type, in Auth0, expects audience in AuthURL.

[2021-06-16 06:15] giridharvc7 commented on #2452
We will start works on this soon. I'll update the roadmap here as things get solid.

[2021-06-16 07:59] rafiahmad16 commented on #9407
Same issue with me. I used snap to install postman:7.36.5 it hangs a lot in ubuntu20.04

[2021-06-16 08:52] yoedy108 commented on #4031
Any chance this will be dealt with soon? :)

[2021-06-16 12:27] tamal-sen commented on #6134
Would love to see this as a first-class feature in Postman +1

[2021-06-16 12:55] DodgeDeBoulet opened #10033 ""Encode URL Automatically" Not Working"
**Postman version:** 8.6.2

**Issue:** "Encode URL Automatically" request configuration option does not seem to do anything with query params in GET operation

**Steps to reproduce:**

1. Verify "Encode URL Automatically" is enabled
2. Create query param key and value, the latter with slashes, spaces, whatever would normally be encoded
3. Click Send
4. 400 error response makes you sad
5. Select pa

[2021-06-16 13:01] DannyDainton commented on #10031
Hey @s-codebyte

Are you able to share more information about those requests or a cut-down Collection that we can use to recreate the issue, please?

Which version and which platform are you using here?

[2021-06-16 13:45] jolsen71 commented on #6291
### Feature request add-on 1:

Please also include the selected environment in the title. I now find myself having two windows both open to the same workspace but with different environments selected, so I can easily interactively compare the results of an endpoint call between environments.

### Feature request add-on 2:

It would be even nicer to be able to add a short bit of custom text per win

[2021-06-16 13:55] mihaiPopia opened #10034 "Unable to open requests on single/double clicking on the request from a collection from the Collections Tab"
Unable to open requests on single/double clicking on the request from a collection from the Collections Tab. However, if I right-click on the request and open in a new tab, then the request opens up properly.

1. Go to Any collection
2. Click on any request
3. Nothing happens

 - Postman Version: 8.6.2
 - Operating System: Win10

https://user-images.githubusercontent.com/83951130/122236158-f4bff78

[2021-06-16 14:15] DannyDainton commented on #10034
Hey @mihaiPopia

Are you able to create a short video of the app showing this behaviour, please?

[2021-06-16 14:20] mihaiPopia commented on #10034
Hello @DannyDainton

I added the video above logs

[2021-06-16 14:22] kasharaylo opened #10035 "JWT/Header tokens is not syncing between devices on the same Postman Account"
I'm using two different devices and the same Postman account.
I set up requests with Bear/JVT/Header tokens and they are not syncing between devices.
This is the big deal for me. I can't switch between devices to test all my things.

Could you please fix this?

[2021-06-16 14:29] DannyDainton commented on #10034
Thank you - It looks like a similar thing as this one https://github.com/postmanlabs/postman-app-support/issues/9951

Could you try signing out and in again to see if that helps out here?

[2021-06-16 14:32] mihaiPopia commented on #10034
Funny how i tried reinstalling but didn't think about logging out.
That worked, thank you!

[2021-06-16 14:35] DannyDainton commented on #10035
Hey @kasharaylo

Could you expand on this, please?

Are the tokens hardcoded in the collections/requests or are you using variables? Which versions and platform are using?

The more details that you can provide the easier it will be for us to assist you with the issue.

[2021-06-16 14:37] DannyDainton commented on #10034
Awesome, I'm going to close this one out for now.

[2021-06-16 14:37] #10034 closed, assigned to nobody

[2021-06-16 14:41] kasharaylo commented on #10035
Hi @DannyDainton
I'm using hardcoded tokens in requests of my collections.
macOS 11.4, Postman 8.6.2.

[2021-06-16 14:45] kasharaylo commented on #10035
<img width="912" alt="Screenshot 2021-06-16 at 17 44 50" src="https://user-images.githubusercontent.com/17513326/122240640-99900400-ceca-11eb-8295-bac3cadfa70c.png">
<img width="949" alt="Screenshot 2021-06-16 at 17 45 24" src="https://user-images.githubusercontent.com/17513326/122240677-a1e83f00-ceca-11eb-915f-e81bcad5443e.png">

[2021-06-16 15:05] DannyDainton commented on #10035
Without syncing the token, it's only within that session. Postman doesn't sync the token by default so it wouldn't be available elsewhere.

You would need to action that from the UI using the orange sync icon.

[2021-06-16 15:08] kasharaylo commented on #10035
@DannyDainton Thanks
It works

[2021-06-16 15:08] thoffmann-fms opened #10036 "Please allow color-coding of the active Environment on the top right of the window"
**Is your feature request related to a problem? Please describe.**
Not a problem if I'm careful.

**Describe the solution you'd like**
I have many environments.  Some are Production, some are Development, and others Test/QA.  I'd like to have an Environment property to configure an in-your-face color mechanism to quickly ID Prod vs Dev (or other, obviously) in case I get forgetful about where I'm

[2021-06-16 15:10] DannyDainton commented on #10035
Awesome, I added the blog post to my comment that would explain this better than I just did. 😄

Going to close this out now.

[2021-06-16 15:10] #10035 closed, assigned to nobody

[2021-06-16 17:05] nebbles commented on #6719
Have to say that I followed the same pattern and have since moved the team away from using Postman. It's not worth the struggle of no GraphQL first-class support when our primary company API is GraphQL. Moved to insomnia.

[2021-06-16 17:24] edu791 commented on #4823
3 years have passed since this issue and still it's not possible to publish multiple collections in one URL

[2021-06-16 18:21] timbochamp commented on #9983
This should now be addressed on Postman for Web, and has been added to our next app release! Please feel free to reopen if you're still encountering the issue on the web client or next v8.7.0 app version once released

[2021-06-16 18:21] #9983 closed, assigned to appurva21

[2021-06-16 19:22] lukewis opened #10037 "Warning for multiple consecutive '/' in url"
**Is your feature request related to a problem? Please describe.**
Several times I've been frustrated when accidentally including extra slashes in the url.  This happens most often when using variables such as
[code]
In this scenario, if the BaseUrl variable ends with a trailing '/', then the full request will end up being
[code]
The additional slash can cause the request to fail, and it's not imm

[2021-06-16 20:34] rameyroad opened #10038 "Not parsing variables in URL"
We script most of our request using variables because we have multiple environments (local, QA, Stating, & PROD). This includes the base URL and extended routes as those change between environments. Starting a couple of updates back, the client will sometimes not parse the variables in the URL and instead throw an error that the route cannot be found.

Example:
(GET) {{ApiGatewayBaseUrl}}{{UserSub

[2021-06-17 01:09] rbandla-graincorp opened #10039 "GitHub integration doesn't work for a collection of 16MB"
**Describe the Issue**
Collection of size 16MB does not sync to the Github.

**Steps to Reproduce**
Create a Github integration with a Github personal token for a collection of size 16MB.
The initial sync works fine.
Make a change to one of the requests in the collection.
The sync keeps running for more than 2-3 mins and fails.
Delete one of the major folders in the collection and then the sync wo

[2021-06-17 06:52] s-codebyte commented on #10031
Hi @DannyDainton,

I have created a simple collection that has 39 GET requests which are using API Key authorization. I am running this collection using postman runner for 2 iterations with the help of a Datafile that has 2 rows and 2 columns.

I have Postman v8.6.2 installed.

[2021-06-17 08:12] srinivas-iosdev opened #10040 "Providing static dropdown variable values for GET query parameters."
Can we have a dropdown list of static values to choose for a GET request query parameters?

[2021-06-17 08:41] DannyDainton commented on #10040
Hey @srinivas-iosdev

Could you expand on the details of this request and give examples of what's currently not working for you and how this new feature would solve it?

[2021-06-17 08:45] DannyDainton commented on #10038
Hey @rameyroad

Could you provide examples of the failing variable in the environment, please?

Are all the scoped names consistent? `UserSubRoute` vs `usersubroute`.

[2021-06-17 10:42] csbako-gl opened #10041 "groovy script support"
Hi!

We need groovy script supporting and syntax highlighting in raw mode like Javascript or XML.

Thanks,
Csaba Bako

[2021-06-17 11:45] jbaris commented on #1066
+1

[2021-06-17 11:56] Tostau commented on #6643
I confirm that turning it off and on solved this issue as well

[2021-06-17 12:00] rameyroad commented on #10038
Tried to reproduce this morning after a restart and could not. Will reopen if I encounter again.

[2021-06-17 12:00] #10038 closed, assigned to nobody

[2021-06-17 12:49] miracle0930 opened #10042 "Select File button not working on postman desktop"
When I was using Postman runner, I cannot click the 'Select File' button on the Data field.

**Describe the Issue**

The Select File Button is not working.

**Steps to Reproduce**

Click Runner, on the bottom-right;
Select any API from Collections;
Click Select File button you then the bug appears

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/15270493/122399454-64a

[2021-06-17 12:50] DannyDainton commented on #10042
Hey @miracle0930

Can you please complete the full issue template and include the environment and platform details.

[code]

[2021-06-17 12:54] miracle0930 commented on #10042
Thanks, the issue has updated

[2021-06-17 13:08] DannyDainton commented on #10042
Thanks for updating the issue - Is it opening the finder if you click the button twice? 🤔

[2021-06-17 13:11] miracle0930 commented on #10042
The problem disappeared after I restarted the postman. So wired.  🤔

[2021-06-17 13:15] DannyDainton commented on #10042
The way the pointer cursor appears doesn't seem right to me but it was also quite slow to open the file explorer window on my machine. 😢

[2021-06-17 13:17] lanzelotik commented on #9541
I have this issue in Postman Version 8.6.2. For both cases (with inspector and with manually added cookies)

**Steps to Reproduce**

1. Add new GET request http://my.domain.org/testurl
2. Open Manage Cookies and add cookie for domain domain.org
3. Request was sent without cookie
4. Change request url to http://domain.org/testurl
5. Cookie was sent as expected

[2021-06-17 13:25] miracle0930 commented on #10042
Yep, the hover cursor is not correct but at least I can upload the data file. lol

[2021-06-17 13:29] lanzelotik commented on #9541
UPD.
By default cookie creates without domain attribute, so after I change value to
`Cookie_5=value; Path=/; Domain=domain.org; Expires=Fri, 17 Jun 2022 13:23:52 GMT;`
It works correctly

But.
For domain name `domain.local` I still have the issue. So the additional issue is with .local top domain.

[2021-06-17 14:11] yurii-github opened #10043 "Does not properly work with dd() from Laravel"
- Platform Type: desktop
 - Postman Version: v8.6.2
 - Operating System: linux
- Laravel Framework: 8.32.1

When run dd in Laravel preview does not show detailed debug data, data exists when you click on raw tab

## Reproduce

1. run simple dd in Laravel controller
[code]
2. see in response
![image](https://user-images.githubusercontent.com/1162656/122411450-70847780-cf8d-11eb-8a22-37fa1cde78b8.pn

[2021-06-17 14:36] ortizman commented on #1066
+1

[2021-06-17 14:52] ivnnv commented on #350
wow, almost 10 years and still no HAR importer, this is what fast iterating looks like 😆

[2021-06-17 15:08] joshuawootonn opened #10044 "Auto Archiving of entities to help remove unused bloat"
**Is your feature request related to a problem? Please describe.**
My team has many entities(workspaces, collections, requests, environments). Depending on what workspace you are in there can be up to 100ish envs and 300ish requests. As I have onboarded this has made postman a steep hill to climb.

**Describe the solution you'd like**
My proposal for this problem is an auto-archiving feature that

[2021-06-17 15:25] timbochamp commented on #10042
I logged a bug for the hover cursor; thanks for the report!

[2021-06-17 17:03] mrehal13 commented on #3529
Did we got any workaround to pass null in csv? Currently null in csv file it is treated as string i.e. "null"

[2021-06-17 18:42] mulyi opened #10045 "OpenApi readOnly schemas are included in PATCH request body"
Hi,

Imported into Postman an OAS3.0 API in YAML format. The schema was validated.
Among other things, the API definition contains read-only schemas (readOnly keyword of OAS3.0).
The read-only schemas are included by Postman in the example PATCH request body.
The correct behavior is to include the read-only nodes only in example GET response and exclude them for PATCH example request body.

<img w

[2021-06-17 19:13] shirshak55 commented on #4009
Actually history is not that good tbh. Because after testing one or two endpoint and updating messages there are hundreds of history and I don't know what are the changes. I think it will be improved in future.  Can't we just save the request just like other http get/post etc.

I understand ws is different beast but I wished ws would get more focus. Web is no longer just http1.1.

[2021-06-17 20:25] epopisces commented on #3019
I second the need for this, an MSI is something that would make deployment/management much easier for our enterprise.

[2021-06-17 23:16] FredaXin opened #10046 "[Version 8.6.2][Mac] There was an error importing this collection. Please try again"
**Describe the Issue**

Getting There was an error importing this collection. Please try again. using Version 8.6.2 on Mac.

**Steps to Reproduce**
Click _Run in Postman_  [here on the Shopify Collection. ](https://documenter.getpostman.com/view/3800273/SWLk55pF)

**Screenshots or Videos**
<img width="1777" alt="Screen Shot 2021-06-17 at 5 30 13 PM" src="https://user-images.githubusercontent.com/4

[2021-06-18 01:56] deathemperor commented on #9958
it only happens when "Options => All Desktops" is check.

![image](https://user-images.githubusercontent.com/4255482/122494160-0e6e5580-d013-11eb-925a-2a4b4ceb1660.png)

[2021-06-18 03:55] k-byun commented on #9118
this task of checking totally slipped my mind.  let me set a time tmrw to go through this.

[2021-06-18 06:57] ggree1 opened #10047 "Pre-requests-Script is not working properly - v8.6.2"
I'm using same workspace at home and office.
I use collections with pre requests script like below.

[code]
But after upgrading to 8.6.2 at home, the authorization header value in request is just blank. (but Tests prints value fine.)
At the same time, in my office, I use 8.6.1 and it works fine.

Is there anyone who has same issue like me?

[2021-06-18 08:30] DylanDelobel commented on #350
I would love to see HAR support 👀

[2021-06-18 09:46] giridharvc7 commented on #2523
Can you please try this and let us know if this solves @jongio @bneumann @123dev

[2021-06-18 09:46] #2523 closed, assigned to a85, codenirvana

[2021-06-18 09:49] giridharvc7 commented on #4391
We've added an option to specify audience and resource. You can give this a try by updating postman to the latest version or by using the web app . Let us know what you think!
![image](https://user-images.githubusercontent.com/1040583/122542670-9753b400-d048-11eb-975c-7cc7554086d2.png)

[2021-06-18 09:49] #4391 closed, assigned to preethammavin

[2021-06-18 10:08] AskMeAgain opened #10048 "[FeatureRequest] Dropdown/Toggle for request variants"
**Is your feature request related to a problem? Please describe.**
Currently we have a request which sends "data1" to a rest endpoint. Sometimes we need to send "data2" to this endpoint for testing purposes. After this request, we issue multiple other requests automated.

**Describe the solution you'd like**
A simple dropdown, for each request, with prefilled data, would allow us (and our project

[2021-06-18 10:20] AskMeAgain opened #10049 "[FeatureRequest] Let us execute multiple folders sequentially in a runner"
**Is your feature request related to a problem? Please describe.**
We have multiple folders which all automate a specific part of our application. Now if we want to execute a specific run, we need to execute folder 1, folder 2 and folder 6 for example. These folders are all grouped in different levels of the application as they are business wise grouped.
For other scenarios we want to execute Fold

[2021-06-18 14:05] bsredbeard opened #10050 "Preserve whitespace when rendering diffs of markdown in Pull Request"
**Is your feature request related to a problem? Please describe.**
When reviewing changes in a collection's markdown documentation via the Pull Request interface, all text is rendered as a single line. This makes it very difficult for reviewers to understand the actual changes being proposed in markdown fields with lists, headings, or other markdown formatting syntax which relies on line-breaks.

[2021-06-18 14:20] AskMeAgain opened #10051 "[FeatureRequest] Default "ViewMode" for each Request"
**Is your feature request related to a problem? Please describe.**
I have a restcall which just displays some values from the environment via pm.visualize. The restcall itself goes to google.com and iam not interested in the answer, but only on the "Visualized" Response. _The user has to manually click on "Visualize" everytime, sometimes the user doesnt even know that you can Visualize the Respons

[2021-06-18 14:21] cw-dos commented on #6001
Same issue, struggled with this for hours, I thought I was going crazy. The fix for me was deleting the environment entirely and re-adding the variables and magically they worked.

[2021-06-18 15:15] octocat-mona commented on #6323
@preethammavin Had quite some collections stored but got so annoyed by the banner that says that you need to sign in that I finally did that.
But after signing in all my collections are gone, and they are not coming back even after the sync completed.

![image](https://user-images.githubusercontent.com/538170/122578915-a3457300-d054-11eb-9a2e-9caa74e2d9f3.png)

Luckily enough I was able to restore

[2021-06-18 16:09] LoLFactor commented on #9541
Can confirm issue on current version (`8.6.2`), and it seems @lanzelotik nailed it. I was also using a `.local` domain for developing an application locally.

**Setup:**
 - Server setting cookies running on `<level2>.<domain>.local`
 - Cookie being set with domain attribute `.<domain>.local`

**Behaviour:**
 - Postman receives cookie with proper domain attribute (`.<domain>.local`) and saves it, i

[2021-06-18 16:42] focher commented on #9346
Is it preferred that issues are reported separately on their own? I have experienced timeouts on some calls that work fine from 8.x running under Rosetta 2 but other calls work fine. Just want to report the problem properly.

[2021-06-18 18:06] jviotti commented on #9346
@focher Let's keep the discussion in this issue, so its easier for us to manage how the M1 build is doing until we do a stable release!

Any details would be appreciated! Mainly if its something we can reproduce from our side too (I have an M1 too).

[2021-06-18 19:29] BeansAcquired commented on #8179
+1

[2021-06-18 23:04] jongio commented on #2523
Thanks you!

[2021-06-19 06:12] ssinha737 opened #10052 "Postman is marking the test passed even if the loop fails"
**Example Response :**
[code]
**My code**

[code]

Now Postman is marking this test as passed even though it is not coming inside the loop. So here response.fixtures.length=0
So ideally the test should be marked as failed but it is showing passed  Please check

OS : Windows 10

![Github](https://user-images.githubusercontent.com/77795769/122632929-61b7d500-d0f3-11eb-85c3-659946576311.PNG)
![Test m

[2021-06-19 17:42] mzixu commented on #8195
I googled how to auto save my postman requests and ended up here...

[2021-06-20 01:19] hayyaun commented on #8195
Ok guys I moved to new app called FireCamp, they - are going to make it open source and the new version is being released this week.

[2021-06-20 15:50] camellia commented on #8865
Another use case for this: I'd like to be able to maintain a record of the commentary. For example, I could pull a summary of all comments on a collection rather than navigating through all requests to find comments for each.

[2021-06-21 05:46] mattneub opened #10053 "why does the Swift code generated by Postman use semaphores?"
Start with a simple GET request in Postman, and then ask Postman to generate the code for the corresponding Swift equivalent using URLSession. You'll get something with this form:

[code]

This is wrong. One should basically never use semaphores, and certainly there is no need for them here. The correct answer to the question that we're asking Postman, how to perform this same request in Swift, is

[2021-06-21 09:24] Jopaul-John commented on #1066
+1

[2021-06-21 11:24] kumar-stv opened #10054 "Not working"
**Describe the Issue**

**Steps to Reproduce**

**Screenshots or Videos**

**Environment Information**

 - Platform Type:
 - Postman Version:
 - Operating System:

**Additional Context**

[2021-06-21 11:25] #10054 closed, assigned to nobody

[2021-06-21 11:40] nilicule commented on #9346
How do we get updates for this? The download from the [canary page](https://www.postman.com/downloads/canary/) seems to result in non-arm64 versions.

[2021-06-21 11:49] shanujha commented on #4660
Just to let new viewer's know, If you have a Cloud/Synced account, deleting the IndexedDB route may not delete your collections permanently...

[2021-06-22 03:34] #10047 closed, assigned to nobody

[2021-06-22 04:11] codenirvana commented on #10025
@daanpape Thanks for the feedback, I agree that the existing `Array Buffer` implementation is confusing as it sends the ASCII as binary.

How would you prefer authoring binary? I can think of:
1. Hex bytes
2. Base64
3. File upload

[2021-06-22 04:21] codenirvana commented on #10033
@DodgeDeBoulet, `Encode URL Automatically` is working as expected.

This confusion is probably because Postman follows the WHATWG URL standard (Ref #8154) which only encodes the following characters: `SPACE`, `"`, `#`, `&`, `'`, `<`, `=`, `>`.

Anything outside this has to be manually encoded.
Can you share the characters you are expecting to encode automatically?

[2021-06-22 06:19] georgealar commented on #8605
finally, got that update today, thanks @postman-support 🙏

[2021-06-22 06:38] giridharvc7 commented on #10048
Hey, have you tried using Environments and variables for this?

[2021-06-22 07:04] adam-arold commented on #3897
This is not a feature, but a bug. **Postman takes up 3GB of space on my system folder and I cannot do anything with it** if I want to keep using the product. If I had 10 apps like this they would take up 30GB that I cannot delete. Oh wait, I have more than 10 apps like this. 😒 I would have uninstalled this a long time ago, but unfortunately I have to use it for work because we have some collection

[2021-06-22 07:12] adam-arold commented on #3897
We're a t 4 years now.

[2021-06-22 07:26] WhiteAutumn commented on #3897
Since postman uses the squirrel installer and they themselves have refused to add an install location option I find it unlikely that this feature will ever be implemented.

This leads me to the only option left which is to find an alternative. For those that use VS Code there is an extension that has many of Postman's features. https://www.thunderclient.io/

[2021-06-22 07:27] adam-arold commented on #3897
The problem is that I have to use a gazillion of collections that are stored in postman. Does this app support importing / synchronizing postman collections?

[2021-06-22 07:37] kasugaicrow commented on #4791
@vkaegis any updates?

[2021-06-22 07:37] WhiteAutumn commented on #3897
Looking at their GH page they claim it does support importing postman collections

[2021-06-22 07:46] adam-arold commented on #3897
I'll check!

[2021-06-22 09:15] bitcoder opened #10055 "New Integration Request - Xray"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

We, at the Xray team, are aware of several customers using Postman and Xray (https://www.getxray.app/) together. We have been asked about how to integrate (and I think you also have been) both tools.
We also use Postman internally to help validate our APIs.

**Describe your

[2021-06-22 09:18] bitcoder commented on #10055
Note: I've also made available for free some Postman collections that have been helpful for Xray customers to easily try out our own API, using Postman; this has been quite helpful as many users use Postman for API testing or for trying out API calls:
 https://github.com/Xray-App/xray-postman-collections

[2021-06-22 09:26] RosePuff commented on #9932
If the default is not UTF-8, what is the default encoding format of postman's raw request JSON format？

[2021-06-22 09:51] chenkunyun commented on #7350
Works perfectly fine on v8.6.2.
This issue can be closed now

[2021-06-22 10:14] DodgeDeBoulet commented on #10033
Here's an example of a value that is not being encoded:
![image](https://user-images.githubusercontent.com/4532366/122907250-ed627900-d320-11eb-977a-37d28d5aa2eb.png)

The spaces,  double quotes, and equal signs are not being encoded with "Encode URL Automatically" enabled.

[2021-06-22 11:00] Drachenfels opened #10056 "X-Amz-Content-Sha256 is always static when generating wget/curl code"
**Describe the Issue**

When working with hmac signature as described by Amazon in this document:

https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html

I am sending API calls to our endpoints, it works fine. But as soon as I ask Postman to generate wget or curl version of such a request it sets X-Amz-Content-Sha256 to one specific string: beaead3198f7da1e70d03ab969765e082

[2021-06-22 11:19] AskMeAgain commented on #10048
yes, but this is just not scalable, as the moment you have more then 4 different requests, each with 2 variants, would result in 2⁴ environments. Not even considering "real" environments like int, sandbox, develop etc.

Also using variables here (that is what we are doing currently) is just not really user friendly as our pms now need to edit request bodies so they do what they want.

It would jus

[2021-06-22 11:31] nikita-fuchs opened #10057 "Fileuploads in Multipart Request not working after restarting Postman"
**Describe the Issue**

Closing and reopening Postman will cause file uploads not to be sent along with requests.

**Steps to Reproduce**
1. Set up a simple POST request with a file upload, like this:
![image](https://user-images.githubusercontent.com/11761828/122916758-8a430780-d35d-11eb-8754-acf2e06d7578.png)
2. Send the request to make sure the upload is working.
3. Save the request and restart

[2021-06-22 11:44] iamchughmayank commented on #8716
@jizhihaoSAMA as mentioned above, did you try this out?

[2021-06-22 11:45] chughmayank commented on #8716
@jizhihaoSAMA   as mentioned above, did you try this out?

[2021-06-22 12:40] jomalla123 commented on #5040
+1

[2021-06-22 13:06] zvereva commented on #10016
Hi guys, thank you for labeling. I have attached csv file we are trying to use.

[2021-06-22 13:08] idkw commented on #9823
This should be considered as a bug because the behavior is radically different between the two scenario.

[2021-06-22 13:12] zvereva commented on #10016
MSISDN,MSISDN_VoIP
790000000,326000000
0790000000,0326000000
4179000000,41326000000
+4179000000,+41326000000

[2021-06-22 13:23] sviatoslav-bordovski commented on #7607
Anyone?

[2021-06-22 17:19] Xor-el commented on #9346
@nilicule , you need to use the direct link posted by @twitharshil some comments above.
[Postman M1 Canary](https://dl.pstmn.io/arm64/PostmanCanary-osx-8.6.0-canary210608-1405.zip)

[2021-06-22 17:22] nilicule commented on #9346
I'm aware, but that's a much older version than the latest canary, hence the question where we can find future updates

[2021-06-22 17:35] VaishnaviChallaPostman opened #10058 "Find and Replace issues"
**Describe the Issue**

1.Find & Replace > Collections > Open in Builder > {Select anything in right pane}, doesn't open up as expected.

2.Find and replace filter results having "Open in builder" option if "Request Name" contains the find string, but doesn't if "Folder Name" contains the find string.

**Steps to Reproduce**

1.Screen record of replication :  https://www.loom.com/share/cc42984d910

[2021-06-22 18:41] jviotti commented on #8605
@DartMen

We would need to double-check this, though. Chromium heavily uses the GPU for various tasks, and disabling the GPU might mean a lot more work on the CPU, which could end up resulting in more battery consumption! The performance boost on hardware acceleration can also be significant depending on the machine. Apps like Google Chrome do enable it by default.

[2021-06-22 18:42] jviotti commented on #8605
I'm closing this ticket as resolved! Thanks a lot for all the great feedback!

[2021-06-22 18:42] #8605 closed, assigned to nobody

[2021-06-22 20:58] micahhausler opened #10059 "Postman repeatably fails to import Redfish OpenAPI 3 schema"
**Describe the Issue**
Attempting to import the Redfish OpenAPI schema repeatably, consistently yields this error: "There was an unexpected error. Please try again"

**Steps to Reproduce**
* Open Postman in browser or macOS application.
* Attempt to import the following URL in a workspace: http://redfish.dmtf.org/schemas/v1/openapi.yaml

**Screenshots or Videos**
<img width="332" alt="Screen Shot

[2021-06-22 21:03] sequoiaKozak commented on #8804
Is there any built-in way to set the script to only run once though?

[2021-06-22 22:29] andres07a commented on #4253
This may help someone
[code]

[2021-06-23 01:31] rochanram commented on #10059
Tried this issue and it shows the same msg as shown above but it imports the schema.

![image](https://user-images.githubusercontent.com/41307588/123020938-fcc8dd00-d387-11eb-9a49-b0263bf37890.png)

[2021-06-23 07:12] Ronnie-J commented on #8413
I second this. I used a lot of time understanding this implementation in Postman as well. I would suggest following the method implemented in swagger ui as well.

[2021-06-23 07:27] sweethuman commented on #8844
I'm wondering why this doesn't have so more traction behind it. Is GitLab not used that much?

[2021-06-23 08:03] smartmark-pro opened #10060 "20 min long request can't receive the response, it will always keep "Sending request""
**Describe the Issue**

20 min long request can't receive  the response, it will always keep "Sending request"
**Steps to Reproduce**

it can be reproduce by referring this [link](https://github.com/benoitc/gunicorn/issues/2597)

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/28584805/123059497-6dc9cc80-d43c-11eb-9404-66c62e9fdd0a.png)
meaningless
**Environment Infor

[2021-06-23 08:25] twitharshil commented on #9346
@nilicule Until we have a stable release for arm64 based application, you can find the updated builds from this thread itself. We will continue to post updated builds if any issues are reported which are specific to arm64 based application

[2021-06-23 08:35] wvteijlingen commented on #6639
This is a very important request imho. The current recommended way of dealing with secrets is just too easy to mess up.

In additional to the original request: it would be very nice if these "secure" variables would be excluded from the "Persist all" button. Postman now suggests using the 'current value' of an env var to store secrets, but it's just to easy to accidentally persist them

[2021-06-23 08:38] twitharshil commented on #9346
@focher Can you share some more details around the issue that you are facing? Also, since we are tracking this thread for issues that are particular to arm64 based application, would you mind giving a try to our x64 arch-based canary application [link](https://dl.pstmn.io/download/channel/canary/osx_64) & see if the issue still reproducible for you?

[2021-06-23 09:44] sakthi-saravana-ext opened #10061 "Read all sheets data in csv in postman collection"
My project requires to read all sheets data in csv in postman collection. I know how to read first sheet data by simply attaching file to collection data files. It will be great if we have the capability to be able to read multiple sheets in a single file

[2021-06-23 09:46] #10061 closed, assigned to nobody

[2021-06-23 09:49] sakthi-dev opened #10062 "Read multiple sheet in a single file in postman collection"
My project requires to read all sheets data in csv in postman collection. I know how to read first sheet data by simply attaching file to collection data files. It will be great if we have the capability to be able to read multiple sheets in a single file

[2021-06-23 10:27] jiwtir commented on #10004
@timbochamp yes, that works. Thank you! 🍻

[2021-06-23 10:35] daanpape commented on #10025
Hello @codenirvana, thank you for your response. In the first place I would prefer a hex-editor like experience as this would allow one to write a binary message directly.

Maybe out of scope for this issue would be the following idea. When one uses the binary message format, most of the time this means that a subprotocol is used. For example MQTT, or in my case our own REST-like websocket protoco

[2021-06-23 11:13] mtudor opened #10063 "Open saved version of a request in new tab when an edited/unsaved version is already open"
**To Reproduce**
1. Open a saved request in postman and make changes to the request (e.g. alter the pre-request script or body).
2. Assume you do not want to save the changes made in (1), as they are transient, but you need to keep it open. How do you now open a second tab alongside the first, _from the saved version, without your edits made in (1)_?
3. My hypothesis is that you cannot.

**Previou

[2021-06-23 11:30] mtudor commented on #10063
I wonder if the reason that this was removed is down to the risk of losing changes because of having multiple tabs open from the same request, all with different changes.  Previously Postman used to mark these with [CONFLICT] but perhaps this was deemed undesirable.

If so, maybe the solution is to have the option to "Open as New Request" which opens the saved request as an "Untitled Request", bre

[2021-06-23 13:18] jwausle opened #10064 "Request OAuth2 "Authorization Code" with additional url-parameter e.g. login_hint=username"
As user I want to request a token over a OAuth2 (OpenID) endpoint (grant_type=Authorization_code) where the login form has a pre-filled username.

[code]

The idea is that the login form(username, password) can pre-fill the username with the given `login_hint`.  This is a feature of [OpenID](https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#auth_request).

I

[2021-06-23 14:08] masx200 commented on #2701
Shock!  In 2021, postman doesn't even support http2!

[2021-06-23 14:19] petr-hybler commented on #4272
same here 8.3.0 ... still missing :( what a shame

[2021-06-23 14:21] HenrikHolmIT commented on #4272
I not even using v8 anymore. Downgraded to v7.
v8 is not a good version. Hope they fix all usability problems by v9.

Oh this feature isn't in v7 but I'm tons more productive with v7 than with v8.

[2021-06-23 14:55] petr-hybler commented on #4272
what bothers u in v8?

[2021-06-23 15:09] carrrson opened #10065 "No error message when uploading a profile picture above the size limit"
**Describe the Issue**
When uploading a picture that above the size limit, I did not receive a message that it had exceeded the max size, and it appeared that the upload was successful. I think I had received this type of message for other pictures I tried to upload, so it was unclear why the picture was not persisting on my workspace page until I thought to look at the image size myself.

**Steps

[2021-06-23 16:00] zhiyong-ft opened #10066 "Conflict with NVDIA driver then causing BSOD on Windows 10?"
**Describe the Issue**

I have been fighting this BSOD problem on my laptop with I7-1165G7 + GeForce MX450. BSOD happens once every couple of days, and all were traced down to NVIDIA's driver module (Nvlddmkm.sys)via WinDbg. At first I thought this was purely a driver issue on NVDIA's part or overheat of graphic card IC. Then I recall for the last 3 times, BSOD all happened when I tried to switch

[2021-06-23 17:03] zhiyong80 commented on #8848
Please let me know what information you need. I think I am running into the same issue now, can help gather whatever information you guys need.

[2021-06-23 17:22] Makesh-Gmak commented on #7294
I observed Postman always consuming 10-15%, even its in idle mode. After I restart, I saw upgrade notification and there after CPU is < 1%.

[2021-06-23 17:26] zhiyong80 commented on #10066
Just forwarded developer logs to help@postman.com and timestamp of BSOD. Hope this will help somehow. Cannot believe I spent so much time on this but I guess this is part of life.

[2021-06-23 18:32] fxlepoutre opened #10067 "Error while importing WSDL: Cannot find protocol in those namespaces"
Hello,

I was thrilled to see in release notes 8.4.0 and 8.6.0 that Postman has now a way to import WSDL specifications and convert it to a sample request. This is the only feature that would let me uninstall completely SoapUI and use Postman instead.

However, I have trouble uploading the WSDL specifications given by my SOAP provider.
I always get the error message “Error while importing WSDL: Ca

[2021-06-23 21:55] yannvr commented on #1066
+1

[2021-06-23 22:00] yannvr commented on #1066
I think Insomnia looks like a great alternative although I didn't try it myself. It can import Postman collections.

[2021-06-23 22:01] yannvr commented on #1066
I think Insomnia looks like a great alternative although I didn't try it myself. It can import Postman collections.

[2021-06-23 23:46] zhiyong80 commented on #10066
At this point, I am quite sure the BSODs were caused by Postman. It just happened right in front of my eyes minutes ago. The moment I clicked on Postman in taskman to bring it front, the UI started to black out then BSOD. Well played, Postman team. Well played indeed.

[2021-06-23 23:47] mtaylorSF commented on #9997
require support for `graphql-ws` as well.  thank you in advance.

[2021-06-24 02:07] zhiyong80 commented on #10066
I just happened again. I am uinstalling Postman.

[2021-06-24 03:39] feeeei opened #10068 "Inconsistent export and import behavior of cURL for form-data requests"
**Describe the Issue**
Requests of the form-data category are exported to cURL format, which adds quotes to the value.

But this cURL is imported by raw text, which brings in this quotation mark

**Steps to Reproduce**
1. Export request selection cURL format
2. Import cURL requests via raw text format

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/8032930/123198904-7

[2021-06-24 04:00] jonycheung commented on #5373
We had resolved the case for VersionError and we are not seeing the errors anymore. Please reopen this ticket if this is still an issue.

[2021-06-24 04:00] #5373 closed, assigned to jonycheung

[2021-06-24 06:51] jerrycp commented on #1066
+1

[2021-06-24 07:22] HenrikHolmIT commented on #4272
Many things. One is the fact that response examples have been added as child nodes to requests and clicking a request expands the request node. You can collapse it again but every click will expand it.
The UI for running tests totally changed. There is zero overview with the new UI.
The list is very long and I'd happily go to v8 and compile a list but I fear nothing will happen. The Expand/Collaps

[2021-06-24 09:00] rhomber commented on #9498
Not sure if this has already been mentioned above, but the sidebar doesn't let me resize it to the size I need to display my request names (they get cut short, so I can't see the most important part of them and only the start of the URL).

So I request:

- The side bar shouldn't be limited in how wide it can be made.
- I agree with the above suggestion to hide the large drawer/icons ("Collections"

[2021-06-24 10:22] appurva21 commented on #9729
Hey @maccer83!

We have released a fix for this in our latest app release ([v8.7.0](https://www.postman.com/downloads/)). Please feel free to reopen in case you are still encountering this issue on the latest version of the app or web client.

[2021-06-24 10:22] #9729 closed, assigned to nobody

[2021-06-24 10:58] appurva21 commented on #9997
Hey folks!

We have enabled support for subprotocols in the latest release. With this, you should now be able to use the `Sec-WebSocket-Protocol` header to negotiate the subprotocol with the server.

![image](https://user-images.githubusercontent.com/24985700/123251329-b484f880-d508-11eb-98cc-927ddd1bfb40.png)

We are also actively working on adding dedicated support for few of the common subproto

[2021-06-24 11:51] osharaki commented on #9997
Awesome! I can now connect with `v12.stomp` as the desired subprotocol. The only thing I'm missing right now is the how to add the [null octet](https://stomp.github.io/stomp-specification-1.2.html#STOMP_Frames) after the message body in the STOMP frame.

[2021-06-24 16:33] mtaylorSF commented on #9997
Thank youu, `graphql-ws` is working in 8.7.0

[2021-06-24 18:17] jviotti commented on #7294
@Makesh-Gmak

That's interesting information. Thanks for sharing this. We are in the process of evaluating the auto-update technology we use for Windows and see if we can make progress and all these issues in one batch. Stay tuned!

[2021-06-24 22:18] kiyokodyele commented on #9021
+1 coz chrome is not developer friendly than firefox.

[2021-06-24 22:26] kiyokodyele commented on #9021
the interceptor has big advantage than the proxy option, it capture everything. as @parulgarg123 mention, it works right out of the box after installing. I tried using proxy in firefox but I have to deal with non secure https connection errors.

[2021-06-24 22:41] t-higgs-qa commented on #6719
@a85 Just adding that I too would like this feature.

If you look at the GraphQL ecosystem, many many tools are not requiring a schema to "live somewhere" instead, you define your models and then use attributes or other code and your schema is automatically generated. This is the case with [Hot Chocolate](https://chillicream.com/docs/hotchocolate), [Prisma](https://www.prisma.io/), and others.

Ad

[2021-06-24 23:46] rteabeault commented on #6134
👍  +1

[2021-06-25 03:47] geekerzhou commented on #9881
+1

[2021-06-25 08:29] o-omalik opened #10069 "IBM API Connect"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?
Create an API specification in postman
Submit the API specification to IBM API Connect
Publish the draft API specification in a target catalog.
**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your e

[2021-06-25 09:28] meizhuhanxiang commented on #8195
What a self-righteous product manager. Its 2021. come on!

[2021-06-25 13:57] 7nolikov commented on #6294
It was implemented years ago - https://blog.postman.com/speeding-up-workflows-with-keyboard-shortcuts/
Please return this feature, and also please use more convenient combination for this frequently repeated operation

[2021-06-25 14:46] rakete opened #10070 "Can't generate collection from schema with nested list types in field resolver arguments"
**Describe the Issue**
When importing our API into postman I encountered a problem where postman would be able to import the API, but not be able to create a collection from it. It always fails with the error:
[code]
<img src="https://user-images.githubusercontent.com/64121/123440560-37728580-d5d3-11eb-91d8-2c0b4ee367be.png" width="300"></img>

I narrowed the problem down to our usage of nested li

[2021-06-25 15:15] codenirvana commented on #8879
@osowskit It took us a while but, we've finally fixed the URL encoding issue with OAuth 1.0 in Postman v8.7.0.
 Can you update your app and confirm if this fixes your issue?

[2021-06-25 16:42] osowskit commented on #8879
I was able to confirm this works correctly. Thanks for the help.

On Fri, Jun 25, 2021, 8:15 AM Udit Vasu ***@***.***> wrote:

[2021-06-25 16:56] #8879 closed, assigned to codenirvana

[2021-06-25 17:12] VaishnaviChallaPostman opened #10071 "Use selection for Find shortcut to NSPasteboard in macOS"
**Is your feature request related to a problem? Please describe.**
In macOS it is very common for developer tools (and more and more apps in general) on macOS to have a "Use Selection for Find" menu item, with Command+E as the keyboard shortcut, that takes the currently-selected text and enters it into the text search field. A well-behaved app does this system-wide (so all apps now have this searc

[2021-06-25 18:36] danielfigueiredo commented on #6719
We have more 200 engineerings and more than 130 micro-services, it is essentially impossible to be retrieving and uploading JSON files for every schema change

[2021-06-25 20:16] iMplode-nZ commented on #6682
What is the reason why people aren't working on this?

[2021-06-25 21:16] k-byun commented on #9118
I've finally had gone thorough the Bootcamp and was able to successfully complete it to 100%.  There were a few bugs I noticed but I was able to complete the Bootcamp.  - thanks

[2021-06-25 21:16] #9118 closed, assigned to prashantagarwal

[2021-06-26 08:07] shopdstok opened #10072 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-06-26 12:09] letowebdev commented on #9193
I solved the issue by just going to the postman directory, than chose a previous version and it worked like a charm, so if that did it for you then you may want to add a shortcut to your desktop

[2021-06-27 22:33] samirageb commented on #9877
This is a big deal for us and I can't locate it on any of the roadmaps; it's effectively a blocker to some of docs initiatives. It's kind of amazing that it's not supported given how PostmanLabs was touting their [joining the OAS initiative](https://blog.postman.com/postman-joins-openapi-initiative/) to migrate people to OAS yet they don't even support the spec themselves.

If someone can point me

[2021-06-28 02:26] ashharzubair opened #10073 "Count of number of requests in collection"
Unable to see the count of number of requests inside a folder in a collection in the new version. In the previous version it was available and was very helpful.

[2021-06-28 04:40] taehoshino commented on #9776
@iyvinjose

Thanks for getting in touch!
So that we can look into your case closely, would you please submit a request from the following link?
https://support.postman.com/hc/en-us/requests/new

We are looking forward to hearing from you!

[2021-06-28 04:47] iyvinjose commented on #9776
it looked like a low-bandwidth issue, that day there were some bandwidth issues with my internet connection, but the browser was working fine, postman failed to load both collections and environments,

But the next day it worked, the only difference I could notice is this slow internet that day.

[2021-06-28 04:58] shashankawasthi88 commented on #10072
Closing this for now. @shopdstok feel free to reopen by adding more details here.

[2021-06-28 04:58] #10072 closed, assigned to abhijitkane

[2021-06-28 07:10] yamin8000 commented on #4091
I think this issue should be fixed and reopened, I'm using postman 8.7.0, when response is compressed in brotli, data is loaded correctly but size of data is equal to uncompressed data even though Accept-Encoding is set to gzip, deflate, br by default and in response headers Content-Encoding is equal to br. I tried same request using browser and in browser it's compressed and has lower size/conten

[2021-06-28 07:38] sbrfarhadi opened #10074 "All my information has been deleted"
I wanted to download a 500 MB video to test
I went to settings and changed the max response size in MB to 5000
It was downloading when suddenly my postman was restarted and I realized that none of my information is available, including all collections.

![image](https://user-images.githubusercontent.com/24922779/123598037-beef0d00-d7fc-11eb-8806-062f760930c6.png)

**Environment Information**

 - P

[2021-06-28 08:00] postman-support commented on #10074
Hi @sbrfarhadi,

Sorry to hear that, happy to help!

May I know if you are using postman offline or were you logged in to the application? If you are using the application with the account, logging back should sync back all of your data.

If not a _possible_ workaround would involve importing local backups, but this isn't guaranteed to work. If it does work, the backups imported usually aren't ent

[2021-06-28 08:36] Sascha-69 commented on #9488
There are several reasons to avoid storing data or code in the cloud. Please respect and support users' choices.

[2021-06-28 10:42] sbrfarhadi commented on #10074
Thanks for your prompt reply
I use the offline version
I checked all the parts (also the collection), unfortunately it seems to be back to factory settings

------------------------------------------------------

According to your recommendation, I re-entered the settings and set the value to 5000 and started the download operation
A strange but good thing happened, that my postman was closed agai

[2021-06-28 10:45] sbrfarhadi commented on #10074
My problem is solved

If you have no questions, I will close the request

[2021-06-28 10:54] postman-support commented on #10074
@sbrfarhadi Awesome! Glad to know you're requests are back :)

Would recommend logging into an account to avoid and loss of data or create regular backups as per this link here: https://learning.postman.com/docs/getting-started/importing-and-exporting-data/#exporting-data-dumps.

We see that there is an issue on similar lines raised here #9739 - hence we will track the same there. You may close th

[2021-06-28 11:00] sbrfarhadi commented on #10074
tanks

[2021-06-28 11:00] #10074 closed, assigned to nobody

[2021-06-28 13:45] thomaslaurent-ma opened #10075 "Run Documentation in Postman not working since Postman v8.7.0 release"
Hi,

Since the latest Postman update, I can't run the documentation in Postman desktop app.

Thank you for checking

[2021-06-28 14:29] rtritean commented on #9659
+1 for https://github.com/postmanlabs/postman-app-support/issues/3

[2021-06-28 16:33] timbochamp commented on #10052
Hi @ssinha737 , thanks for logging this. I think we need a bit more information to investigate. Are you able to provide a sample curl or provide the Body section of what you're sending in the request?

[2021-06-28 16:41] saucedbeacon commented on #9857
I've installed openSSL and the certificate isnt showing after restart.
Postman v8.7.0, Win86

[2021-06-28 17:51] JorisDebonnet commented on #9641
I also miss this! Hoping it will soon be considered, feels like an enhancement with relatively low effort but high value :)

[2021-06-28 18:07] postman-support commented on #10075
Hi @mastolo,

Sorry for the hassle here, but happy to help! Could you kindly provide a bit more context/detail about the issue you're reporting? Are you referring to the Run in Postman (https://learning.postman.com/docs/publishing-your-api/run-in-postman/introduction-run-button/) no longer working for v8.7.0? Do you have any URL to a published collection for which you're observing this behaviour?

[2021-06-28 21:42] CarrieRaglan opened #10076 "Documentation only shows one Authorization method at the operation level, although OpenAPI allows for defining multiple security types."
REST APIs support several authentication types, documented within OpenAPI through the security schemes. Security is an array of hashmaps, where each hashmap contains one or more named security schemes.

Postman's documentation only shows one Authorization method, and also does not display the securities name or description.
https://spec.openapis.org/oas/v3.0.3#fixed-fields-22

**Steps to Reproduce

[2021-06-28 23:09] Morac2 opened #10077 "NTLM: Server did not send NTLM type 2 message error, but server did"
I'm running Postman 7.21.1 in my work environment.  I'm trying to get it to do NTLM authentication, but it keeps failing with a "**runtime-ntlm.auth: there was an error validation auth: ntlm: server did not send NTLM type 2 message**" error in the console.

The problem is that the server did sent a type 2 message.   This is the header the server sent:

[code]

I believe the problem is with the [li

[2021-06-28 23:40] Morac2 commented on #10077
Just as an update, for a site where NTLM works, I see that the header with "NTML " in it is "Authorization:", not "WWW-Authenticate:".

[2021-06-29 00:38] taehoshino commented on #9857
Hey @saucedbeacon,
Thanks for getting in touch!
So that we can assist you further, would you please submit a support request from the following link?
https://support.postman.com/hc/en-us/requests/new

[2021-06-29 02:06] tonystewart commented on #5706
I'd love to see this feature for definable human readable links on folders and requests etc.

[2021-06-29 06:34] m3dbedb commented on #6503
I expect string above pause should be executed without delay
The app dalays command above pause statement, and I report such behaviour as an issue.

[2021-06-29 07:03] haiduc32 commented on #9614
Same here.

[2021-06-29 07:53] giridharvc7 commented on #10064
Can you try adding `login_hint` to your `Auth URL` directly?

[2021-06-29 09:14] d-schmidt commented on #9818
Welcome to forever paying a SASS to access your data. Maybe. The obnoxious yellow "Working locally" warning is there for a reason. You can't it and I assume they will at one point in the future disable offline, local work.

[2021-06-29 09:20] d-schmidt commented on #9782
They want to lock in our data and then have us pay for it. I doubt they will remove this greedy banner. There is no reason for it to return every start.

[2021-06-29 09:46] lzeee commented on #3146
I have the same problem. The chrome extention and postman seem to be working properly, but they are not.

[2021-06-29 11:35] postman-support commented on #9932
Sorry for the delayed response. We have raised this internally to the respective team. I Will update you as soon as I have more information on the reported query.

Thank you!

via @ash007-postman | Postman Support

[2021-06-29 11:56] ghost opened #10078 "Add ability to hide/unhide Collections and Environments from Workspace"
**Is your feature request related to a problem? Please describe.**
As a Developer Advocate, I create a ton of video tutorials using Postman. Unfortunately I am unable to hide/unhide certain Collections, APIs or Environments from my workspace. So the only I have is to export/delete them whenever the ones I don't want to show are (temporarily) unwanted.

**Describe the solution you'd like**
Add the

[2021-06-29 14:31] kirillrocks commented on #9566
@vivekpatel111 Hey, we are suffering from the issue as well, it is impossible to use the history as it is. Can you share the link to version 7 for Windows?

Thanks in advance!

[2021-06-29 14:37] samirotiv commented on #7021
Seems to be happening again!

[2021-06-29 14:42] samirotiv opened #10079 "Something went wrong in fetching the status of the team on API Network"
**Describe the Issue**
When I try editing the team name, it shows: Something went wrong in fetching the status of the team on API Network

**Steps to Reproduce**
1. Create new account
2. Create team
3. Edit team profile
4. Change team name & url
5. Save

**Screenshots or Videos**
![image](https://user-images.githubusercontent.com/4405935/123817529-dec62400-d915-11eb-8ca9-e7b5cbf19966.png)

**Envir

[2021-06-29 15:47] Outwise commented on #5039
Had this same problem, my env variable wasn't recognized, though I could use the pre-made variables in postman.
When I explicitly set the "current value" and re-saved the Env [as first mentioned here](https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-479398872), it works!
This should probably automatically happen since it auto-populates, and wouldn't be expected to need t

[2021-06-29 16:00] timbochamp commented on #10079
Hi @samirotiv , I think this is due to the performance degradation we're experiencing in our API network platform. Apologies for the inconvenience here.

You can follow the resolution at https://status.postman.com/ . Please feel free to reopen this issue if you're still experiencing problems post fix at the same time!

[2021-06-29 16:00] #10079 closed, assigned to nobody

[2021-06-29 18:39] Djelibeybi commented on #5645
Hey folks, if you still need testers, I'm keen. I'm in the developer adoption team at Oracle Cloud Infrastructure and would love to take this for a spin.

[2021-06-29 20:53] 4islam commented on #3694
Is it still missing?

[2021-06-29 21:36] tolgahanakgun opened #10080 "KeePass Integration"
**Is your feature request related to a problem? Please describe.**
It is very disappointing that postman cannot be integrated with password managers like keepass. I do not want to store any of my credentials as plaintext in any application or any place including postman local storage or postman cloud storage (I know the things mentioned about cloud encryption in [postman/security](https://www.post

[2021-06-29 21:57] NickBarrett commented on #9965
This seems to be fixed in 8.7.0

[2021-06-30 00:27] eugeniopacceli opened #10081 "Can not upload any file inside working dir on Windows, desktop error dialog shows up instead."
**Describe the Issue**
When I try to upload a file to serve as the binary body of a request or as a file input inside some form-data, I get an odd error window and the upload button halts on the loading animation.

**Steps to Reproduce**
0 - On Windows 10;
1 - Rename "%USERPROFILE%\Postman Agent" to "%USERPROFILE%\Postman" so you can have the accessible file upload folder;
2 - Place png file insid

[2021-06-30 00:28] eugeniopacceli commented on #10081
Each time the upload fails a new folder with random name is created at "%USERPROFILE%\Postman\files".

[2021-06-30 02:52] xuxingqiang opened #10082 "On Mac OS, postman app consumes a lot of memory"
![image](https://user-images.githubusercontent.com/28783649/123894619-0dcdab80-d991-11eb-807e-fe4151a2bb32.png)

As shown in the figure above, the memory usage is close to 1g. I don't think the memory is released after the tab is closed

[2021-06-30 03:21] johnmiroki commented on #4193
This is much needed and doesn't seem to require too much effort to implement. No?

[2021-06-30 06:00] kamarton commented on #4079
+1

[2021-06-30 06:21] postman-support commented on #10075
@mastolo Just checking back to see if the issue persists?

Please share the requested details as in my earlier response and we will check this further.

via @Raj-postman | Postman Support

[2021-06-30 06:41] vivekpatel111 commented on #9566
@kirillrocks You can download latest 7.x windows version from [here](https://dl.pstmn.io/download/version/7.36.4/win64)

[2021-06-30 08:30] sergodeeva commented on #7399
Having same problem on v8.7.0, macOS Catalina 10.15.7

[2021-06-30 09:10] ZhangLianda opened #10083 "Chinese Language Support"

[2021-06-30 09:10] waropdebeeck commented on #9414
@coditva Any updates yet on when your starting on this feature?

[2021-06-30 09:40] siggemannen commented on #8626
This problem seems to persist in the newest version as well

[2021-06-30 09:48] siggemannen commented on #9860
This happens on windows 10 as well for long GET urls. What's funny is that there aren't any alternatives to run the request, so you're stuck

![postman](https://user-images.githubusercontent.com/6099273/123939944-fbf00680-d998-11eb-9293-f59361fefd9c.png)

[2021-06-30 10:02] pisten commented on #7348
Great feature, I hope it will be implemented 'soon' :)

[2021-06-30 10:39] OguzhanUlucay commented on #1066
+1

[2021-06-30 10:56] akamaimike commented on #6639
+1, I make a ton of video tutorials which showcase a set of 4 API credentials for my employer. Scrolling through Environment Variables shows them, even if I moved those variables all the way to the bottom. If there was an option to hide these and show ******, it would make my life (and those who work at my company) a lot easier.

[2021-06-30 13:18] pifpaf1 opened #10084 "Could you please add ability to grouping folders and request together in structure"
Could you please add ability to grouping folders and request together in structure
i mean groping requests without folder in the middle and folder on top and folder on bottom?
i mean how can i group folders and request in order 1,2,3,4

![Screenshot_27](https://user-images.githubusercontent.com/20091940/123967200-c3fbba00-d9be-11eb-9ead-32c21a67f7c4.png)

[2021-06-30 18:16] simplenotezy commented on #3694
I also find it a really weird design decision to remove the send button from the example snippet. Why, whyyy? 😄

[2021-06-30 21:33] szaitsev commented on #7558
Is there any plan to fix the bug? It is really major issue with whole testing framework inside the Postman.

[2021-07-01 00:06] mtaylorSF opened #10085 "ERROR: Couldn’t add documentation to the API Could not generate collection."
**Error Message: Maximum call stack size exceeded when generating Documentation from API**

Error message seen when generating Documentation from an API

**Message Shown:**
[code]

**Steps to Reproduce**
1. From API - add your graqhql schema (format: GraphQL SDL)
2. Advance to Develop and click "Add Documentation", then Create New
3. Provide a name and then click "Create Documentation"

**Screensh

[2021-07-01 04:22] Markc1488 commented on #9297
Also looking for a feature such as this. I am wanting to test my site by creating multiple accounts then once a day preferably morning gather each accounts bearer token. Is there a simple way to perform this

[2021-07-01 06:53] gluip commented on #8195
+1 plz fix..this makes Postman very annoying to work with. I constantly need to press save everywhere

[2021-07-01 08:33] MohammedAlmeshal commented on #1066
+1

[2021-07-01 09:00] vdespa opened #10086 "Postman Console: confusing representation of nested objects"
**Describe the Issue**
Loggin a more complex JavaScript object produces log entries which are hard to understand.

**Steps to Reproduce**
Send a POST request with the following raw JSON body:

[code]

Go in the Pre-request Script and add the following code:

console.log(pm.request.body);

**Screenshots or Videos**
Compare the log entries from Postman, with the Chrome DevTools.

### Initial log ent

[2021-07-01 09:05] sim1986 opened #10087 "New Integration Request - Azure DevOps Repos"
**Describe your current workflow**
We write our tests in postman and manually move them into our Azure DevOps repos

**Describe your ideal workflow**
Postman connects to Azure DevOps repo of choice on a branch of choice. From postman changes in tests can be committed to the branch

**Describe alternatives you've considered**
Use a webhook to call a workflow tool to commit the code to the Azure Dev

[2021-07-01 09:45] thomroger commented on #10075
Hi,
@postman-support, here's the url : https://documenter.getpostman.com/view/8153187/SVfKwAcs?version=latest

[2021-07-01 11:15] postman-support commented on #10075
@thomroger Thank you for sharing the file. I am able to replicate this issue from my end.

We will check this further and update the thread as soon as we have any further details. Appreciate your patience!

via @Raj-postman | Postman Support

[2021-07-01 11:48] leonardopn commented on #8195
+1

[2021-07-01 12:19] postman-support commented on #9932
Hi,

We have tried sending a request to postman echo (https://learning.postman.com/docs/developer/echo-api/ ) with your body data and there is no issue parsing the JSON body provided. Can you please check if you can reproduce this for Postman Echo API?

It would be great if you can share your endpoint so that we can test the same from our end. You can provide these details via https://postman.com/

[2021-07-01 13:48] scascalesageinfoes opened #10088 "Order collections and folders inside collection alphabetically"
Hello
Any plans to automatic order collections alphabetically?
And another action button/option/menu to automatic order folders alphabetically inside a collection?
Thx

[2021-07-01 15:18] ZooDoo4U commented on #6999
This may not be a fix, but found a useful work around.  Been starting to use VS Code, and found there iis a VS like plug-in that will do all what i need without postman without issues.  Simple clean and avoids postman altogether.  Works for me.

[2021-07-01 16:46] coder0028 commented on #8480
@ArjunSingh-PM is this feature added ? Thanks in advance.

[2021-07-01 17:58] craigz commented on #9346
I just downloaded this 'update' as it appears to be newer than the 8.6.0 canary build I have been running. Get Info suggest this is not in fact an Apple Silicon build, has the download been replaced since the link was posted?
<img width="264" alt="postmanInfo" src="https://user-images.githubusercontent.com/1929275/124169595-688c0380-da74-11eb-8d07-c651bd88ed38.png">

[2021-07-01 18:39] amnporter commented on #9487
Same as everyone above, web works fine BUT app doesn't sync. On mac Catalina, Postman app Version 8.7.0 (8.7.0)

[2021-07-01 18:50] elwaxoro commented on #9881
+1
its a minor annoyance, but would be really nice as an option in preferences maybe? or go back to keeping previous state?

[2021-07-01 19:12] IonelLupu commented on #7350
@chenkunyun I am on 8.7.0 and the issue still exists: duplicating a saved request and updating the duplicated one will make the original request get updated as well (eg. changing the name of the request)

[2021-07-01 20:37] jviotti commented on #8848
Does the issue remain if you disable "Hardware Acceleration" from the "Help" menu? If you can't manage to access this setting before it crashes, can you run `setx POSTMAN_DISABLE_GPU 1` on a `cmd.exe` instance and then run the application?

[2021-07-01 23:32] kendarkfire commented on #3953
it still happens in my windows 10 OS, mouse over the task icon and right click on the preview, the "Maximize‘’ option is grayed out, now I cannot move it or resize the window

[2021-07-02 05:50] CannibalVox commented on #9628
Same issue, request is to:

https://api.mari.one/tte/accounts/login
Response header:
Set-Cookie: MarionetteSession=1CF9CB9C56A8450FB7DD97FD6D699B9A; Path=/session; Domain=mari.one; HttpOnly; Secure; SameSite=Lax

Request domain is determined by variable which I know has been a problem in the past.

Cookie is not showing up in cookie jar or anything else.  "Disable Cookie Jar" is off.

I don't real

[2021-07-02 05:55] maheshvarpandey opened #10089 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-07-02 09:14] OculiViridi commented on #9881
The problem still persist on Postman v8.7.0.

[2021-07-02 09:26] PMExtra opened #10090 "Bug about break line (\n) in body when import cURL command."
Import:
[code]

Expected body:
[code]

Actual body:
[code]

Postman App V8.7.0

[2021-07-02 11:42] Rabindra184 opened #10091 "The Runner is going to infinite loop when the user run the collection of 3 request"
**Describe the Issue**

The Runner is going to infinite loop when running the collection in a sequence using postman.setNextRequest() method

**Steps to Reproduce**

Step-1: Create a collection and then add 3request with Tests as given below.
![image](https://user-images.githubusercontent.com/46239257/124268519-3bfce800-db57-11eb-91df-b2c4a9917efe.png)
![image](https://user-images.githubuserconten

[2021-07-02 12:48] natan88 commented on #9487
I created another user account. With this new account everything worked fine.

[2021-07-02 13:14] amnporter commented on #9487
I also deleted and re-created my acct which seemed to fix things. I believe it may have had to do with logging in via google.

[2021-07-02 14:25] Redhunt2013 opened #10092 "Clear Previous Response"
**Is your feature request related to a problem? Please describe.**
A simple feature request to add a "Clear Response" option.  This helps me greatly when I keep running requests in Postman. I often make the mistake of not sending the request, and I thought I did send the request, and I accidentally look at the response from the previous request, potentially skewing my tests.

**Describe the soluti

[2021-07-02 16:47] gagarine opened #10093 "SOAP Mock Server reply do not match the correct example response made in the collection"
**Describe the Issue**
From a SOAP collections I created a mock server. When I run the example request the mock server always reply with the same answer. For SOAP, It's not very clear how the match is done in the collection between request and example answer.

**Steps to Reproduce**

- Create a collection with two post request method
- Create an example for each
- Mock the SOAP server
- Try to que

[2021-07-02 17:36] endrx opened #10094 "Collection authorization parameter is duplicated in request on save (if other parameters exist)"
When "Query Params" method is used in Authroization in collection: on request save, inherited from collection Authorization parameter is duplicated as ordinary parameter (if other ordinary parameters exist).

1. Create collection
2. Add Authorization to the collection with type "API key"
3. Fill Key, Value fields with something
4. Select "Query Params" in "Add to" field.
5. Add new request to the

[2021-07-02 18:49] xsimo commented on #9115
There has been many improvements since that request was opened. The synchronization between the tree highlighted request and the current active main request window is only "suspended" after search request dismissal. The synchronization restarts operating when we change the active tab. So its a plus, but as i suggested, it is not yet as good as it could be. Dismissing a search should restore the co

[2021-07-03 01:29] CannibalVox commented on #9628
Bah, the path was wrong, it's right there in my reply.  Sorry!

[2021-07-03 06:53] thanhphuocdang commented on #2734
I'm stuck on this after a thousand years.
Any better solution now?

[2021-07-03 06:54] imclint21 opened #10095 "System dark mode"
Hey,

Why you don't integrate system theme like many apps now, if system is in dark mode app switch to dark mode and so on

Thank you

[2021-07-03 13:14] dirablue commented on #9487
thank you so much. it works for me.

[2021-07-04 01:34] alexis-janero commented on #1066
+1

[2021-07-04 11:14] srbiotik commented on #4193
@arlemi  If I understand correctly, most of the people here want this feature so they can authenticate before calling other requests.
This can be achieved using a Pre-request script on a collection or a folder and although it solves the problem of getting and setting an auth token it would still generate a new one every time and I see some use cases which would require the same token used across s

[2021-07-04 13:40] elazar commented on #4193
Unfortunately, it's not that simple. Some people want it to be able to call multiple requests in sequence, e.g. in tests, without basically having to completely redefine the request in code.

[2021-07-04 16:43] sathyarajagopal opened #10097 "Unable to open Postman v8.7.0 in Mac OS"
**Describe the Issue**
Unable to install Postman in Mac.

**Steps to Reproduce**
1. Download v8.7.0 from https://dl.pstmn.io/download/latest/osx
2. Unzip and double click "Postman" to install
3. Following error is thrown:
_Postman can't be opened because Apple cannot check it for malicious software. This software needs to be updated. Contact the developer for more information._

**Environment Info

[2021-07-04 16:57] sathyarajagopal commented on #10097
I raised this because everytime I had to change the security preferences to enable Postman.

[2021-07-04 17:05] marciobarcellos commented on #5039
Postman v8.7.0 client on Ubuntu. Collection variable partially working: don't know why, but only my 'refresh_token' variable is not being replaced. If I replace it with it's content, it works. But I'm using 4 more variables at the same call, and they are working properly. Maybe because refresh_token is a really loooong string.

[2021-07-05 00:09] rafmsou commented on #1066
+1

[2021-07-05 05:38] appurva21 commented on #10084
Duplicate of [#7052](https://github.com/postmanlabs/postman-app-support/issues/7052)

[2021-07-05 05:38] #10084 closed, assigned to nobody

[2021-07-05 05:41] appurva21 commented on #10088
Duplicate of [#7341 ](https://github.com/postmanlabs/postman-app-support/issues/7341)

[2021-07-05 05:41] #10088 closed, assigned to nobody

[2021-07-05 06:04] codenirvana commented on #10077
@Morac2 can you share request and response headers for all three NTLM handshake requests?

From the headers shared above, it looks like the server is responding with negotiate-message instead of an NTLM challenge.

[2021-07-05 10:34] DannyDainton commented on #10095
Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8075

[2021-07-05 10:34] #10095 closed, assigned to nobody

[2021-07-05 10:44] DannyDainton commented on #10091
Hey @Rabindra184

It's difficult to see the saved state of the different request tabs you have open in the images that you have provided - This saved state impacts what is run in the Collection Runner.

Did you previously have something in the Tests section of the Login Request?

Are you able to share the collection file with us so that we can see what's contained in the Collection?

[2021-07-05 10:50] DannyDainton commented on #10094
Hey @endrx

Thanks for raising this issue, the team are taking a look at this to investigate what's happening.

We'll update this thread once we have some new information. Thanks again 🏆

[2021-07-05 10:54] DannyDainton commented on #10090
Hey @PMExtra

Are you able to provide us with more context for this issue, please?

[2021-07-05 10:56] DannyDainton commented on #10089
Hey @maheshvarpandey

I'm going to close out this issue for now as it looks like it was raised by mistake, if this was not the case, please provide the additional details for the integration request.

[2021-07-05 10:56] #10089 closed, assigned to abhijitkane

[2021-07-05 10:58] DannyDainton commented on #10083
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2021-07-05 10:58] #10083 closed, assigned to nobody

[2021-07-05 11:09] PMExtra commented on #10090
Sometimes, I copy a request from Chrome Dev Tools and import to Postman.
The body may contains `\n`, but Postman can't import it correctly.

[2021-07-05 11:09] DannyDainton commented on #10062
Hey @sakthi-dev

This looks like a feature request, are you able to expand on the details here and provide some visual examples of your use case, please?

[2021-07-05 12:10] dennisnel commented on #6926
+1

[2021-07-05 12:24] Rabindra184 commented on #10091
[WithWorkflow.postman_collection.zip](https://github.com/postmanlabs/postman-app-support/files/6764144/WithWorkflow.postman_collection.zip)
I have attached file collection file .Please check and let me know.

[2021-07-05 17:23] sathyarajagopal commented on #8231
+1

[2021-07-05 18:23] eborey commented on #7307
I experienced the same issue several times. The only workarounds I found were :
 - Manually change and save each request (painfull)
 - Use Postman collection API to GET, change and PUT collection (will have issues with variables that will be replaced by their value...)
 - Export collection, make replacement in file and then re-import (but cannot use a forked collection, I experienced issues after

[2021-07-05 23:44] taehoshino opened #10098 "[Postman API] Collection Update endpoint returns 500 error"
**Describe the Issue**
Using Postman [API PUT endpoint to update collection](https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-a42a1615-4b04-44e9-b2ea-e94729d5f4d6) returns a 500 response with the message "Something went wrong with the server" but the collection actually shows that it was updated a few seconds later.

**Steps to Reproduce**
1. Create a Test collec

[2021-07-06 02:55] cyopen1987 commented on #8747
terrible mistake to upgrade, same issue, @viananicolas 's solution works .

[2021-07-06 05:47] gorsash commented on #8459
Absoultely agree.
Also on windows it can be implemented pretty simply:
1. listen for the WMSettingChange event
2. check `message.section == "ImmersiveColorSet"`
3. if it's true, then set theme according to the value `AppsUseLightTheme` in the Windows registry at the path `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize\`

[2021-07-06 07:19] appurva21 commented on #10081
Hey @eugeniopacceli! Thanks for reporting this.

We have released a fix for this, you can try it out by updating your Postman Desktop Agent to its latest version ([v0.3.8](https://www.postman.com/downloads/)).

[2021-07-06 07:19] #10081 closed, assigned to nobody

[2021-07-06 07:21] charlie-postman commented on #8480
@coder0028 Thanks for following it up. The feature is not added (implemented) yet. We'll provide an estimated delivery date soon and update the ticket.

[2021-07-06 13:31] Soni-Prince opened #10099 "Sorting of environment variables"
Add an option to sort environment variables by name because it's too hard to find a variable by name when you have a large number of variables.

[2021-07-06 14:11] VicKetchup opened #10100 "[Feature request] Common/Reusable code for all collections"
**Is your feature request related to a problem? Please describe.**
Postman allows to put common code for requests and/or folders on either folder or collection levels, which is really helpful in reducing code duplicating and making it easy to expand on the automation, but if you want to use the same code in multiple collections (there are many reasons why more collections may be created) you have

[2021-07-06 16:44] TradesmenServiceAccount commented on #4079
+1

[2021-07-06 18:32] nathzi1505 commented on #7766
Follow these steps:

**Step 0**
--------
Prepare your API request.

**Step 1**
--------
Insert this script in *Tests* part of the request window
---
[code]

**Step 2**
--------
Click Send

**Step 3**
--------
Go to the "Visualize" tab in the result window

**Step 4**
--------
Right click and click "Inspect Visualization"

**Step 5**
--------
Click on `<svg ...>` and hit the "Delete" key of the key

[2021-07-06 22:03] timbochamp commented on #10058
Hi @VaishnaviChallaPostman , can you break the second point into its own issue please? Let's track the first one here where they're distinct issues

[2021-07-06 22:19] timbochamp commented on #10099
Hi @Soni-Prince , thanks for the report! This is being tracked in #982 . Closing this as a duplicate, but feel free to reopen if your issue is separate from this.

[2021-07-06 22:19] #10099 closed, assigned to giridharvc7

[2021-07-07 02:30] wentutu-pass commented on #6987
Can I use id_token/refresh_token as a variable in Pre-request script?
Actually, I found how to use Access Token as a variable.
pm.request.auth.oauth2.get('accessToken')
but I can’t find way to use id_token/refresh_token as an variable in Pre-request script.
Is there no way?

[2021-07-07 05:00] tarekahf opened #10101 "Not all pm methods and properties show up while typing using IntelliSense."
**Describe the Issue**
When you write code in the script tab, not all methods and properties show up by IntelliSense.

**Steps to Reproduce**
For example, type this code, and notice that there is no Intlliesense, why?:

`pm.environment.values.substitute(...)`

[2021-07-07 07:04] twitharshil commented on #9696
@Pricilla09 Thanks for sharing the application logs with us, could you also share the SquirrelSetup log file available at the local application directory? This will help in further narrowing down the root cause of the problem.

![Squirrel](https://user-images.githubusercontent.com/25850676/124714390-53edb680-df1f-11eb-8241-fa859dd43808.PNG)

[2021-07-07 07:40] pepjo commented on #3820
I must agree with the people who as for this issue to be re-opened. You guys built a great UI, let us use it to set the resulting token as a variable!

[2021-07-07 08:13] postman-support commented on #9932
Hi,

We haven’t heard back from you. As requested before can you try sending a request to postman echo and let us know if you are able to reproduce the issue.

via @ash007-postman | Postman Support

[2021-07-07 09:06] sp1971 opened #10103 "URL https://zozowallet.com/api/payout/transfer?api_token=MzXmLcFmaxzHrRt3rSGvwgkCeL20B8kxKdPau8m1BQSBzhoaoeSYCKfZ5FZn&beneficiary_name=beneficiary_name&account_number=account_number&ifsc=ifsc&mobile_number=mobile_number&amount=amount&client_id=client_idNew Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-07-07 09:07] #10103 closed, assigned to abhijitkane

[2021-07-07 09:15] verschuur commented on #3438
Our use case is roughly the same as @followben posted on 18 Mar 2020. We need to be able to share our documenation with a set of clients. For legal and security reasons, we cannot add them all to a team, and having a public link is a risk factor. We need to be able to either generate HTML docs and host them on our own server, or generate a document which we can share.

[2021-07-07 10:43] zeetabit commented on #8075
+1

[2021-07-07 12:22] Roehit2001 opened #10104 "postman not updating"
![image](https://user-images.githubusercontent.com/67734478/124758215-fb80de00-df4b-11eb-8a05-da0a2a2c63dd.png)

This is the error i m getting while updating

[2021-07-07 12:34] #10104 closed, assigned to nobody

[2021-07-07 13:30] pogilvieCB commented on #4318
I have a vision diaability and the low contrast of the default themes make postman unpleasant to use.   I would use postman more if I could increase the contrast.

[2021-07-07 13:31] SeriousLee13 commented on #1066
+1

[2021-07-07 13:51] Napan0s commented on #6682
4 years without a response, this must be a record. Also I'll add myself to the list of people interested on this feature

[2021-07-07 13:54] shamasis commented on #6682
Don't loose hope. We are making this happen. We just released beta support for WebSockets. See #4009. Once we settle in on the UX of the same and figure out how to overlay it on HTTP/2 without making things complex, we will do SSE.

[2021-07-07 14:00] shamasis commented on #4009
Keep your eyes on our Twitter and release notes. More on ws will keep coming in more often. Socket.io support and collection integration (in some limited scope though.)

[2021-07-07 15:47] Chealer commented on #4066
Thank you for this request
This was solved by the addition of an "API Key" type.

[2021-07-07 16:34] smrpn commented on #5194
+1

[2021-07-07 17:38] hfmm99 commented on #2390
Is there any plan to support template literals for formatting graphQL queries in pre-request strings, like this?

let query = gql`
query thomas {
  author
}`;

And make this looks like this?

![image](https://user-images.githubusercontent.com/3942700/124804750-e1c5a380-df17-11eb-9854-d1d68bc4cb62.png)

Thanks

[2021-07-07 18:30] arsal123 commented on #7113
This works for me
[code]

[2021-07-07 21:25] akormilin commented on #3019
And here comes another bump.
It doesn't seem you care much about this thread, but can you just give us the installation option we're used on corporate MS env, please?
It doesn't seem either we're gonna stop asking)

[2021-07-08 02:57] numaanashraf commented on #3019
Hey everyone, we are actively looking into this now. We'll share an update soon on our early access & stable release timelines.

[2021-07-08 03:46] simoncpu commented on #9346
I thought there was something wrong with my setup. The "Import" feature doesn't work on my Macbook Air M1.

[2021-07-08 04:06] mseankelly commented on #6682
+1

[2021-07-08 04:17] postman-support commented on #10075
@thomroger I just wanted to let you know that the issue has been escalated and our team is looking into the same, and I haven't forgotten about you. I'll be sure to provide you with an update here as soon as I get one :)

Feel free to let us know if you have any questions or concerns.

via @Raj-postman | Postman Support

[2021-07-08 05:08] andrew-jones commented on #4898
What about sort keys and diff against another env?  It's currently a nightmare with 4 environments with ~50 keys.  Also devs can sync over collections/environments with old data and its impossible to tell what was changed, when and by who.

[2021-07-08 05:09] andrew-jones commented on #4898
It would be great to store our environments and collections in git.

[2021-07-08 06:12] k4lli commented on #6639
+1, i can't believe this is still a problem. Have to record a quick guide and have to edit the entire video to obfuscate my passwords. and not only that - I am demo-ing a tool that shows passwords in cleartext in the UI - I'm very uincomfortable rewcommending this to anyone. no other software does that. I wasted a couple of hours looking for the option as I believed I must have done it wrong and n

[2021-07-08 07:35] rdpravin1895 commented on #8606
Any idea when this will be available? I have a bunch of variables to be moved to global from an env, looks like currently copy-pasting is the only available solution

[2021-07-08 09:30] franz-at-dns commented on #9488
is there any progress on this?
i mean: implementing it should be trivial.
and not implementing this is a design choice that's basically a big, fat middle finger to you user base.

[2021-07-08 10:02] thatbrainiac commented on #9612
Any news on when this may be implemented? :)

[2021-07-08 10:27] francisLee777 opened #10105 "Auto Save Response"
After the requesting, we can save the response as a file or example. But we should support settings for saving response automatically. This is very convenient for users.

[2021-07-08 11:27] pberggreen opened #10106 "Error importing export file"
Steps to reproduce:

1. Open Postman
2. Open Settings/Data
3. Click "Export Data"
4. On the web page choose both collections and environments and click "Request Data Export"
5. Wait for the export file to be generated
6. Download the generated export file
6. Then click "Choose files" under "Import Data"
7. Choose the export file and click "ok"
8. An error is displayed: "Error while importing: form

[2021-07-08 13:48] luibass commented on #8626
The problem still occurs on postman v8.7.0

[2021-07-08 17:11] timbochamp commented on #10105
Hi @genggengyuhuai , thanks for the suggestion! I think this falls under #9210 , but please feel free to reopen this if your feature request is different

[2021-07-08 17:11] #10105 closed, assigned to nobody

[2021-07-08 22:24] philsturgeon commented on #9168
Heads up, examples in OpenAPI are bonkers and there's a lot of similar but different approaches. https://phil.tech/2020/openapi-examples/

[2021-07-09 04:09] MatteoInfi opened #10107 "Postman web broken"
**Describe the Issue**
I am trying to use postman but after login it does not load anything

There are so many error in the console:

[code]

[code]

[code]

[code]

[code]

**Steps to Reproduce**
- Login to postman
- try to load a route

**What I have already tried**
- Logout and login again
- Clear site data, reload
- Logout, clear site data, login again

**Screenshots or Videos**
![postman_brok

[2021-07-09 07:27] boris-simeonov-swi commented on #4341
Hello, any update on this? This should be a basic feature and still is not implemented :/

[2021-07-09 08:37] p8b commented on #4968
This would be very useful.

[2021-07-09 09:32] ValkyrieIOW commented on #8455
I struggled with this for over a day. Eventually, after trying all of the suggestions above with no success, it turned out to be something wrong with my json, which I had copied and pasted from our API guide.  Although it looked fine, there seemed to be something different about the curly braces causing it not to be accepted.  I hope this helps someone.

[2021-07-09 09:43] DannyDainton commented on #10106
Hey @pberggreen

I'm not sure which part of the app you're talking about in number 7 - Was it this modal that you were using to import the data dump file back into the app?

![image](https://user-images.githubusercontent.com/17089546/125058679-6e03d200-e0a2-11eb-948d-aa2dd3346fa5.png)

Which version of the app are you using that on which platform?

[2021-07-09 09:48] pberggreen commented on #10106
I have updated the description.
I am using Postman 8.7.0 on Windows 10.

[2021-07-09 09:49] DannyDainton commented on #10101
Hey @tarekahf

Just to get a clearer picture of your current use case, could you provide an example of where you're using that method?

[2021-07-09 09:50] DannyDainton commented on #10106
Can you provide a short video or some visual examples of what you're seeing, please?

[2021-07-09 09:55] SandraMarszalek commented on #8455
Yes I did. It didn't worked. I downloaded lower version of Postman and it works fine.

[2021-07-09 09:58] DannyDainton commented on #10106
I believe I have been able to reproduce the same thing locally, I'm going to raise this with the team to have a look and see what's happening here.

![image](https://user-images.githubusercontent.com/17089546/125060489-562d4d80-e0a4-11eb-90b0-820a8105c6b4.png)

I will keep this thread up to date with any new information.

[2021-07-09 10:01] postman-support commented on #10107
Hi @MatteoInfi,

Thank you for reaching out. Few more details to help us check further:

1) When you say "try to load a route" - does it mean you are trying to click on a request or collection here?
2) Do you have any type of VPN or proxy in use that could impede a connection to Postman? If so can you disable them or try switching to another network as a test to see if that affects anything?

via

[2021-07-09 10:47] MatteoInfi commented on #10107
Hello

1. trying to click on a request
2. No VPN or proxy

[2021-07-09 11:49] louagej commented on #6639
Yes, please provide masking variables in the postman UI

[2021-07-09 13:29] iShotFT commented on #9437
Still broken and a blocker our side for using Postman in our team

[2021-07-09 13:54] dstarkowski commented on #8605
@jviotti
Either the setting is named wrong, or it's not fixed. This issue is not about disabling hardware acceleration.

I'm running Edge, Chrome, VS Code, Azure Data Studio and Postman on my machine. All chromium based, all use hardware acceleration. Only Postman forces use of **discrete** GPU. All others are **hardware accelerated** using **integrated** GPU.

[2021-07-09 14:11] 2020-abhilash commented on #256
Is there any way to delete a public link that was shared and we do not have access to the account that it was shared from?

[2021-07-09 14:34] kevinjgraham commented on #9020
I get a similar problem, but the \n is popped at the end of my environment variable.

[2021-07-09 14:40] postman-support commented on #10107
@MatteoInfi Thank you!

This looks very similar to an ongoing issue we are tracking internally. I believe this happens randomly in every other workspace right?

If possible could you please share the HAR logs to us by submitting a ticket here: https://postman.com/support

Steps to follow:

1. Go to the Postman Web app: https://go.postman.co/home
2.

Open DevTools (View > Developer > DevTools)

3.

[2021-07-09 16:10] c0rnonthec0bb commented on #4671
Just lost a year of documentation work because I figured in 2021 this would be standard :(

[2021-07-09 16:26] chrisdeso commented on #9817
Hey @shalltears - that sounds great! We'll close this issue in the meantime but feel free to reopen it if you have any further feedback 👍🏽

[2021-07-09 16:26] #9817 closed, assigned to postman-staff

[2021-07-09 16:36] arnaldoperez commented on #4454
Still I don't see a Postman build for raspberry pi. I'm currently coding in Vscode on my raspberry pi with ubuntu, and with no problem..... so electron shuld be pretty stable in arm by now! Should this issue be reopened??

[2021-07-09 17:01] tarekahf commented on #10101
Thanks, Danny,

I am using this function to replace the variables with the values as per the selected environment variables.
See the snapshot below:

![Postman substitue function](https://user-images.githubusercontent.com/20842027/125112784-a1039100-e0b5-11eb-82b5-6dd4f48c33d8.png)

[2021-07-09 17:38] DannyDainton commented on #10101
That's for that example @tarekahf 👍🏻

Maybe it's just that I'm seeing a tiny part of that script but I'm still not sure I fully understand using that over say `pm.environment.set('your_var_name', pm.request.url)`

[2021-07-09 17:42] BenjaminEHowe commented on #4454
I think #5816 is the place to track arm64 support.

In terms of Raspberry Pi support, [it's been possible to run electron applications on a Raspberry Pi since at least November 2015](https://www.hackster.io/10674/electron-on-raspberry-pi-c8bce1), so I think it's a simple case of not wanting to support the additional architecture.

[2021-07-09 17:59] Dilan15 opened #10108 "New Integration Request - <product name>"
**Describe your current workflow**
How do you use Postman with the rest of the tools in your stack to achieve your use-case?

**Describe your ideal workflow**
How would you want Postman to integrate with specific products/tools to simplify or enhance your experience?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-07-09 18:05] tarekahf commented on #10101
The use case is as follows:
I need to access the request URL, and replace the variables with there values. I am using `pm.environment.values.substitute()` for this purpose. I then want to check certain parts in the URL to decide I need to run authentication for this particular request.

I figured out later that there is another approach using `pm.variables.replaceIn()` function, but I didn't try t

[2021-07-09 18:14] anilsoni85 commented on #8701
I have noticed that Postman gives error when PFX file contains chain of CA certificates. I used openssl to export only client certificate from .p12 file (PKCS12 format) to pem format and key using below commands

openssl pkcs12 -in certificate.p12 -clcerts -nokeys -out certificate.crt
[Enter p12 password when prompted]

openssl pkcs12 -in certificate.p12 -nocerts -out certificate.key
[Enter p12 pa

[2021-07-10 05:14] eugeniopacceli commented on #10081
Cheers!

[2021-07-10 16:24] DavidJRobertson commented on #7134
I have also been looking for a postman-like tool for CoAP and found nothing.

[2021-07-11 02:52] bxcodec commented on #4193
Let's make it a decade of waiting? 🤔  Hang in there bro...

[2021-07-11 09:32] shaibaz02 commented on #7171
From yesterday onwards I'm also facing the same issue unable to login to postman account when click on sign in.
![image](https://user-images.githubusercontent.com/79316992/125190077-fdeb7c80-e258-11eb-8bbe-363677cddfe1.png)

[2021-07-11 09:34] shaibaz02 opened #10109 "From yesterday onwards I'm also facing the same issue unable to login to postman account when click on sign in."
From yesterday onwards I'm also facing the same issue unable to login to postman account when click on sign in.
![image](https://user-images.githubusercontent.com/79316992/125190077-fdeb7c80-e258-11eb-8bbe-363677cddfe1.png)

_Originally posted by @shaibaz02 in https://github.com/postmanlabs/postman-app-support/issues/7171#issuecomment-877769629_

[2021-07-11 14:09] #10108 closed, assigned to abhijitkane

[2021-07-11 16:39] mcha-dev commented on #4193
A 2nd pandemic might hit us before this feature does :(

[2021-07-12 04:25] postman-support commented on #10109
Hi there,

Thanks for reaching out and sorry to see you are facing issues logging into your Postman account.

To troubleshoot further we will need app logs and other details. If you are still facing the same issue then we would like to investigate further. Could you open a new ticket on our Support channel using this link - https://www.postman.com/support/, please? Also, do add this GitHub issue n

[2021-07-12 06:42] shaibaz02 commented on #10109
Hi Swapnil,
As you have said to check with these two links is not working on my wifi network but when I switched with my mobile data everything goes to normal and everything working fine so I can't figure out what is the problem. I google the problem but could not figure out I not be able to authenticate postman links using wifi network but changing to the mobile network works fine. So can you tel

[2021-07-12 08:00] chungonion commented on #2209
bump +1
Still pretty nice if it is supported

[2021-07-12 08:28] VaishnaviChallaPostman opened #10110 "Custom Auth Methods Usage limit"
**Is your feature request related to a problem? Please describe.**
Resource usage modal and page shows that "You have reached the monthly usage limits of your plan." though teams have not hit any limits except for the SSO limit, which is expected. This is creating confusion.
(As teams can have only 1 custom auth.)

**Describe the solution you'd like**
To see if the SSO operation limit can be taken

[2021-07-12 09:49] cpilson commented on #2701
Good to know. This thing seems dead, and as much as I like Postman ... well, I like protocol support, too. :/

[2021-07-12 09:50] cpilson commented on #2701
You may be able to export that to OpenAPIv3 (OAS3), or just annotate your code and pull from OAS3 into a tool like Postman or Insomnia or similar.

[2021-07-12 11:03] postman-support commented on #10109
Hi there,

Thanks for writing back.

Just want to check - are you behind any Corporate proxy for having any firewall or VPN installed over your system?

May I know have you tried, renaming the Postman installation folder? It generally resolves this issue and you can find full instructions for doing so in the below article. Hope this helps!

- https://support.postman.com/hc/en-us/articles/360025359

[2021-07-12 11:45] shaibaz02 commented on #10109
Hi Swapnil,
Thanks for your effort in resolving my issue but I figured that the issue is with my wifi ISP and hence I sorted it out with help of them and now the postman working fine. Once again thanks.

[2021-07-12 11:45] #10109 closed, assigned to nobody

[2021-07-12 11:50] nasco-a opened #10111 "Restart causes test results duplication"
**Describe the Issue**
Restarting the application right after executing a collection run, might lead to the test results being duplicated.
It seems to be occurring randomly, and it seems to be rather inconsistent

**Steps to Reproduce**
1) Create a new collection
2) Add a few requests there (Add any random test to each of the request)
3) Run the collection using the collection runner
4) Close Post

[2021-07-12 12:05] postman-support commented on #10109
That's great and thanks for the update.

I'm going ahead and closing this conversation for now and you can also open a new ticket on our Support channel using this link - https://www.postman.com/support/. Hope this helps!

via @Swapnil-getpostman | Postman Support

[2021-07-12 14:55] corwin01 commented on #1066
Just to add, I'm dealing with another issue where one of my teammates left the Postman Interceptor turned on and has flooded our Collection with thousands upon thousands of captured requests to the point that the collection will not load any request or let me export it so I can prune these requests.  My only workaround at the moment is to move these to a different collection... one by one... My co

[2021-07-12 17:54] thomroger commented on #10075
Hi @postman-support,

Any news from this issue ?
Thom

[2021-07-12 20:33] semangard commented on #9713
All the fields into the blue areas should be available as var in order to use them from JS scripts

![image](https://user-images.githubusercontent.com/57065741/125352087-23fc4400-e361-11eb-9d47-bba131bce096.png)

[2021-07-12 20:40] semangard opened #10112 "Auto update/refresh of OAuth2 access tokens"
**Problem**
As recommanded by security best pratices,
our access tokens are <= 5 min
BUT this means each 5 min we have to get a new access token and ask postman to use the new one

**Solution wished**
Postman gets 2 tokens:
- the access token
- the refresh token
Postman should refresh automatically the access token thanks to the refresh token
Postman should use the latest access token retrieved by

[2021-07-12 21:05] semangard commented on #10112
It seems Insomnia has this feature
https://insomnia.rest/blog/oauth2-github-api
![image](https://user-images.githubusercontent.com/57065741/125355648-9111d880-e365-11eb-9bfb-b3719aa80a3f.png)

[2021-07-13 02:26] tonyairwallex commented on #1066
+1

[2021-07-13 03:11] glapoyeu commented on #4791
Mi solucion
`if((pm.request.method === "POST" || pm.request.method === "PUT" || pm.request.method === "DELETE" ) && (pm.environment.name === "PRD1" || pm.environment.name === "PRD2")) {
    console.warn("Precaucion la solicitud se esta haciendo a produccion");

    if(pm.globals.get("prd") === 0){ //Aqui debe colocar el valor generado
        prd = Math.floor(Math.random() * 5)
        pm.globals.

[2021-07-13 05:34] charlie-postman commented on #9954
Hi @ynouri! Thank you so much for the feedback and the feature request. This is a feature parity that we are aware of. We do want to enable the capability in the future. However, we don't have a concrete timeline yet at this point. We'll update the ticket once we have a plan. Thanks again!

[2021-07-13 06:08] nicovv44 commented on #1744
+1

[2021-07-13 06:08] #9302 closed, assigned to abhijitkane, jotsarup

[2021-07-13 06:08] abhijitkane commented on #9302
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9131

[2021-07-13 06:09] abhijitkane commented on #10024
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9131

[2021-07-13 06:09] #10024 closed, assigned to abhijitkane

[2021-07-13 06:09] abhijitkane commented on #10087
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9131

[2021-07-13 06:09] #10087 closed, assigned to abhijitkane

[2021-07-13 06:09] abhijitkane commented on #9940
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/9131

[2021-07-13 06:09] #9940 closed, assigned to abhijitkane

[2021-07-13 06:10] #9975 closed, assigned to abhijitkane

[2021-07-13 06:10] #9992 closed, assigned to abhijitkane

[2021-07-13 06:10] #10019 closed, assigned to abhijitkane

[2021-07-13 06:10] #9985 closed, assigned to abhijitkane

[2021-07-13 06:11] abhijitkane commented on #10039
Thanks @rbandla-graincorp - we'll post here when we have an update to share.

[2021-07-13 06:12] abhijitkane commented on #10055
Thanks @bitcoder - we'll look into this and get back to you.

[2021-07-13 06:13] abhijitkane commented on #10069
Thanks @o-omalik. We'll look into this.

[2021-07-13 07:04] postman-support commented on #10075
Sorry, not yet @thomroger - I'm waiting for an update from the team on this and will let you know as soon as I hear back from them.

via @Raj-postman | Postman Support

[2021-07-13 07:40] NishargShah opened #10113 "Control Always Select Open File in Collections Sidebar"
Hello Team Postman, I just updated the postman and it looks great and I noticed many functionalities are changed and it's good but one functionality I don't like it and I want control of it somewhere like in settings.

**Problem**

When I click on one of the Request tabs, in a collection sidebar that request is automatically selected and collapses my whole collection and sometimes it's irritating.

[2021-07-13 08:45] Fireblade954 commented on #7294
Same here continues high cpu (10-15%) in idle, Closed postman, started it again and got notification of successful update to new version and cpu usage is down again.

[2021-07-13 12:08] postman-support commented on #10107
@MatteoInfi Could you please provide us below details by submitting a ticket here: https://postman.com/support to assist you further on this?

via @Raj-postman | Postman Support

[2021-07-13 14:24] pchatzou commented on #4581
Having the issue for Linux:

Postman for Linux
Version 7.36.5
linux 5.4.0-77-generic / x64

Disable cookie jar setting is set to off as advised and still secure cookies are not being saved.

[2021-07-13 14:47] jeanrp commented on #9409
Any update?

[2021-07-13 16:53] jmichalka opened #10114 "Allow for importing of same name variables"
**Is your feature request related to a problem? Please describe.**
I've been making greater use of the global variables recently and noticed that while I am able to save two variables of the same name (one enabled/one disabled) and that the json file gets exported appropriately. When attempting to import said json file, only one set of the variables comes through.

**Describe the solution you'd li

[2021-07-13 17:17] bergamin opened #10115 "Postman web should keep track of what tabs I had left open"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When closing the browser or refreshing the page, Postman only keeps open the current tab. If it kept track of what tabs my last session had open, it would make my morning easier.

Could be a toggle in the settings too.

**Describe alternatives you've considered**
Using the desktop app, but I

[2021-07-13 17:44] SM2DevLLC commented on #9346
@twitharshil Can you update this channel when the main build is updated to work with the M1, so we can know when to switch off the canary build?

[2021-07-13 19:58] dmrickey commented on #1066
You should be able to open the collection in vscode or notepad++ (or whatever other text editor you prefer) and delete all of the non-relevant stuff)

[2021-07-13 20:32] autofi-bnapky commented on #8793
@Caaalabash saved me some time today :)

[2021-07-13 20:47] mickmcbride opened #10116 "Pre-request GET with JSON body results in “error”:“No query parameter provided”"
I'm trying to do a GET in Pre-request that contains a body. It fails with a 400 error, `{"error": "No query parameter provided"}`. If I do the request normally with the { "email": email } set in the Body and raw JSON set it returns with a 200 and data. I'm not sure why it is having an issue when it is sent in the Pre-request.

Other GETs to the same API that don't have the Body work correctly in t

[2021-07-13 23:10] mjlucca commented on #7775
Any news on this? I have the same issue. No matter if I run the collection using postman or using newman CLI, in both cases it only runs a fraction of the requests.

[2021-07-14 04:49] Marchccc opened #10117 "internationalization"
Please consider multilingual support

[2021-07-14 05:24] ramith commented on #9163
Any updates @kinlane ?

[2021-07-14 05:24] ramith commented on #9007
@DannyDainton any updates?

[2021-07-14 05:25] ramith commented on #9013
@vvs11 any updates?

[2021-07-14 07:08] codenirvana commented on #10101
@tarekahf Thanks for reporting this, we'll update the type definitions used to generate these IntelliSense.

Also, I will recommend using the `replaceIn` helper methods instead of directly accessing the `values` property for this use case.

[2021-07-14 07:09] smrnv commented on #2678
Definitely need for SubtleCrypto support for digital signatures

[2021-07-14 08:07] lexcraw4d commented on #8455
Man, sorry to hear that glad you found a resolution! Happy Coding!

[2021-07-14 08:23] DannyDainton commented on #9007
Hey @ramith,

No additional updates for this feature request - The thread will be updated once more information is available.

[2021-07-14 11:39] DannyDainton commented on #10117
Closing as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/3126

[2021-07-14 11:39] #10117 closed, assigned to nobody

[2021-07-14 11:59] DannyDainton commented on #10114
Hey @jmichalka

Could you provide an example of the global file where the duplicate keys were not imported, please? I think I can recreate the scenario but I wanted to use your data.

I created, exported and imported this sample environment and it appears to work as expected but the Globals appear to be different:
[code]

[2021-07-14 12:51] postman-support commented on #10116
Hi,

Can you please if the endpoint needs the query parameter?

via @ash007-postman | Postman Support

[2021-07-14 13:24] joandervieira commented on #8195
+1

[2021-07-14 13:24] jmichalka commented on #10114
[code]

[2021-07-14 13:56] semangard commented on #10112
Hi @chrisdeso : do you have any idea of ETA ?

[2021-07-14 14:31] esoinila opened #10118 "Send button is missing."
There is no Send-button to to press to actually make the request. Here tested with Twitters Postman samples recent tweets samples.

![image](https://user-images.githubusercontent.com/70575390/125638857-501a7192-341a-49ea-8242-5e9db0a95c9d.png)

**Steps to Reproduce**

![image](https://user-images.githubusercontent.com/70575390/125639217-afdc4818-8d82-4c8b-a58e-e5898e1546a4.png)
**Environment Infor

[2021-07-14 14:35] DannyDainton commented on #10118
Hey @esoinila 👋🏻

This is the `example` of the request, it's used in the documentation and for setting responses for the Mock Servers.

The `GET Recent search` request looks like the one you would need.

[2021-07-14 14:45] petersierra1280 commented on #9794
Still happening on version `8.8.0`
![image](https://user-images.githubusercontent.com/12283532/125642307-84c74dd2-acfb-496a-9507-076d9f5f34de.png)

[2021-07-14 14:48] heriberto-delgado opened #10119 "Upload file button for raw body requests"
Please implement an "Upload file" button for the Body of a request in the same vein as the "Save Response" button already present in the tool, when the type of the Body is "raw". This should save us all quite some valuable time since we won't need to open an existing file in another editor, copy and then paste the contents into the tool.

[2021-07-14 15:00] esoinila commented on #10118
I am not sure what you are saying so I am going to show it with images:
![Bug1](https://user-images.githubusercontent.com/70575390/125644543-c8d6025e-a905-4a57-a350-f7d0814f6017.png)
![Bug2](https://user-images.githubusercontent.com/70575390/125644552-90e16c48-758e-433e-a8e8-7066c22089b0.png)
See here circled in red is where I expect to find the send button. In previous old test I see it (included

[2021-07-14 15:08] mickmcbride commented on #10116
The endpoint does not take any query parameters or path variables.

[2021-07-14 15:08] esoinila commented on #10118
Oh that was confusing UI :-D

[2021-07-14 15:10] DannyDainton commented on #10118
The first image is an `example` tab (The tab icon is different to an HTTP method). You can see that highlighted on the left, under the actual request. You would use this to create an example request for your documentation or you would use these with Mock Servers as the request to a matching request.

The second image is an actual HTTP request, which has the `Send` button. Much the same as if you w

[2021-07-14 15:28] Raphyo5 commented on #8178
Did someone work on that?

[2021-07-14 19:06] jansche commented on #9186
Hey there,
This issue is still reproducing in the current version of Postman app (8.8.0) on MacOS Big Sur (11.4).
Experienced it in Bootcamp, and brought to attention here on the forums:
https://community.postman.com/t/bootcamp-continue-learning-resume-does-nothing/11371/8?u=jansche
Thanks!

[2021-07-14 19:37] sajidmohammed88 opened #10120 "Postman 8.8 not working on WIndows 8.1"
**Describe the Issue**
Postman 8.8 not working on WIndows 8.1

**Steps to Reproduce**
1 - Update postman to V8.8 (for me it's updated automatically)
2 - Launch postman
3 - A gray screen stay displayed.

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/5097315/125681936-7df057c5-9d86-471d-99dc-422fa6c4d78b.png)

**Environment Information**

 - Platform Type: Windows
 -

[2021-07-14 22:23] DannyDainton commented on #10118
I'm going to close this is out for now. I have made an internal request with our design team to see how we can improve this user experience.

Thanks for raising the issue. 🏆

[2021-07-14 22:23] #10118 closed, assigned to nobody

[2021-07-15 02:05] Iatbzh opened #10121 "Postman Not converted as required during code conversion"
**Describe the Issue**
Not converted as required during code conversion

**Steps to Reproduce**

For example, I remove the user agent from the header, and I do not remove the user agent from the curl in the code conversion

**Screenshots or Videos**

![image](https://user-images.githubusercontent.com/28798107/125716534-d05c615d-55be-440b-8245-2a6a094c8f9f.png)
![image](https://user-images.githubus

[2021-07-15 03:22] jeanhall commented on #1066
+1

[2021-07-15 03:43] Marchccc commented on #3126
Four years have passed and IntelliJ IDEA has Chinese. I hope that postman can support Chinese. The working community that supports translation after the language pack will provide help.
thank.

[2021-07-15 05:46] umeshp7 commented on #5832
Hey @JP-from-Postman @stcalica @ryparker @Lucretiel !!

We have made some fixes around unwanted characters in JS/Node and Python codegens as mentioned above. Could you please try the latest version postman app and see if you still face these issues?

[2021-07-15 05:57] postman-support commented on #10107
@MatteoInfi PLease share the files if at all the issue persists and we will check this further from there.

via @Raj-postman | Postman Support

[2021-07-15 06:14] ariellevi commented on #5832
Thank you the fixes are working grate , did you continue to another  language  like C#

[2021-07-15 07:42] postman-support commented on #10116
Hi,

We are unable to replicate the issue. Looks like the error `"No query parameter"` is coming from your API. Can you share the screenshot of the error?

Also would like to inform you that for How-To questions, our community is the best place: Postman Community - its is a vibrant community frequented by industry experts and our engineers alike for queries that are API-specific or any implementat

[2021-07-15 08:51] sangeethnandakumar opened #10122 "Variables Not Converting Into Values On Collection Level OAuth 2 Request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Variables set in a collections are not substituting while sending OAuth requests

### Steps To Reproduce

1. Create a collection
2. Define a variables like USERNAME='sangeeth'
3. Select Authorization and choose type OAuth v2
4. On any field use an already defined variable like {{USERNAME}}

[2021-07-15 08:59] praveendvd opened #10123 "Adding BA and non technical folks to the test automation space"
**Is your feature request related to a problem? Please describe.**

There is push to use Gherkin approaches like cucumber , spec etc or wiki approach like fitnesse table where we can use BA , PO etc to define the use cases . IT would be great if postman provides a portal like fitnesse wiki , http://fitnesse.org/FitNesse.UserGuide.WritingAcceptanceTests.SliM.DecisionTable

 where we can define the

[2021-07-15 09:13] funregis commented on #1066
+1

[2021-07-15 09:18] coditva commented on #10046
@FredaXin This is fixed in the latest Postman app and the web version. Please try it out and let us know how it goes. 🎉
I'm closing this issue but feel free to re-open if you still have issues importing the collection. 🙂

[2021-07-15 09:18] #10046 closed, assigned to coditva

[2021-07-15 09:55] Kingdutch opened #10124 "Show OAuth2 error_description on Postman console"
**Is your feature request related to a problem? Please describe.**
Colleagues were debugging OAuth2 authentication and got cryptic errors. The error on the Postman console (which is the suggested place to look provided very limited info). When diving into this myself I saw the same error information and the Postman callback URL showed the following image

![image](https://user-images.githubusercon

[2021-07-15 10:06] DannyDainton commented on #10121
Hey @Iatbzh

Could you please update the issue with additional steps to reproduce the issue? It's a little difficult to understand what's happening here, with the steps provided.

[2021-07-15 10:17] postman-support commented on #10120
@sajidmohammed88 Sorry to hear about this experience.

I believe the issue here is due to update and it should be resolved by clearing local cache as per this document here: https://support.postman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-

Do try the same and let us know if that helps. You may also install Postman Canary prior to this, to confirm that the

[2021-07-15 12:51] fawcao commented on #4818
@sankalp0o any update about this?

[2021-07-15 13:14] Forinil commented on #9653
I have the same issue with DNS round-robin containing 3 IPs. I'm using Postman Desktop v8.7.0 on the latest version of Windows 10.

[2021-07-15 13:50] shoglu commented on #9971
@DannyDainton Hey Danny, I am closing this, since the issue is no longer exists.

[2021-07-15 13:50] #9971 closed, assigned to nobody

[2021-07-15 14:19] postman-support commented on #9932
Hi,

Just letting you know that I'm going ahead and closing this conversation. If you still need help, just respond to this ticket to re-open it. Otherwise, please feel free to reach out again later!

Have a great day!

via @ash007-postman | Postman Support

[2021-07-15 14:32] #10121 closed, assigned to nobody

[2021-07-15 15:55] dmtomczyk opened #10125 "Pre-request script failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

**Postman pre-request script GET request is failing even when the same request succeeds as a 'proper' postman request.**

I have a GET endpoint on my API (Node, Express, NGINX) that is used for returning a JWT for a given user. This request functions properly in several applications and pos

[2021-07-15 16:18] DannyDainton commented on #10125
Hey @dmtomczyk

Does it work if you were to just send the basic details through in the `pre-request script` rather than the full output of `pm.request`?

[code]

[2021-07-15 16:37] dmtomczyk commented on #10125
Hey @DannyDainton, thanks for the prompt reply.

Unfortunately, that doesn't work either. A console.log shows `req.body = { }`

[2021-07-15 16:52] DannyDainton commented on #10125
In the Postman Console, are you seeing that async request being sent?

You should need to console log anything as it will just be placed in the like the main request.

[2021-07-15 17:00] dmtomczyk commented on #10125
@DannyDainton Ah, sorry. My message was really unclear.

I've got this on my api route, server-side, that I was mentioning in my previous reply.
[code]
Server-side, The output of that inside my terminal is
[code]

Client-side, I do see the request being sent in the Postman console. The response sent by the server is still indicating an invalid username/password, because I access those properties w

[2021-07-15 17:08] DannyDainton commented on #10125
Is the correct request send through the Postman script?

Are you still seeing the issue in the Postman Console or is it now that your API isn't receiving anything?

Just trying to figure out where the Postman specific issue is 😁

[2021-07-15 17:19] dmtomczyk commented on #10125
The only difference between this picture and the functional request is that the functioning request has a `Content-Length` header.

_Screenshot of the non-functional request in Postman's Console_
![image](https://user-images.githubusercontent.com/26173452/125829727-1b27ed13-e064-47bf-afd3-6db4f7373e15.png)

[2021-07-15 17:30] kounelios13 opened #10126 "Postman fails to open after upgrading to PopOS 21.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Hello. I have installed postman using snap in pop os 20.04 . I upgraded pop os to 21.04 and now postman wont start

If i try it from a command line i get the following error

[code]

### Steps To Reproduce

1. Use PopOS 20.04 and install postman as a snap
2. Update PopOS 20.04 to 21.04
3. O

[2021-07-15 17:38] bellaj commented on #4891
a workaround would be :
"{{$randomAlphaNumeric}}{{$randomAlphaNumeric}}{{$randomAlphaNumeric}}{{$randomAlphaNumeric}}"

[2021-07-15 18:09] joeldelvalle commented on #7399
This problem continue in version 8.8.0 on mac

[2021-07-15 19:51] LeonidKokhnovich opened #10127 "Allow search/filter env variables by text string in Environment quick look panel"
### Is your feature request related to a problem?

Currently, the Environment quick look panel is displaying just a list of env variables. If there are many of them, it's hard to find the one needed so the user has to manually scroll through the full list and read each variable name.
When the panel gets closed and reopen, it resets the scroll position so you have to find it again manually.
<img wi

[2021-07-15 20:27] dsims-Incomm commented on #9750
This issue is happening to me on version 8.8.0

[2021-07-15 20:53] jvbutera commented on #6242
Any update on this request?

[2021-07-15 21:53] DanielLaberge commented on #8231
We need to use the id_token to test our APIs. We won't purchase a Postman subscription until this is supported.

You're already so close! All you're missing is an option to specify which token to use (access_token vs id_token).

[2021-07-16 05:31] postman-support commented on #10075
@thomroger Just received an update from the team on this - If possible can you try to unpublish and republish this collection with the same environment and let us know if that helps?

If you do not have access to the original collection, you may try duplicating/ forking the collection and then try publishing the same. Once done try importing the collection/Environment via the "Run in Postman" butt

[2021-07-16 06:55] giridharvc7 commented on #5280
Duplicates #2452

[2021-07-16 06:55] #5280 closed, assigned to giridharvc7

[2021-07-16 07:30] sankalp0o commented on #4818
@Raja-Simha might be able to help here, I'm no longer involved in the project.

I'd suggest making a public workspace with your collections and multiple environments. This is not the exact thing being asked here, but has a couple of upsides
- You can share not just multiple environments, but multiple collections, mock servers, etc in a single link.
- Public workspaces can help run these requests d

[2021-07-16 07:45] danrich0 commented on #6102
Yep, agree this is madness. I manage paid licensing for my team at my company and not being able to change and assign workspace, collection and environment permissions and the default not being set to allow my whole team Editor is a headache.

[2021-07-16 09:54] shashankawasthi88 opened #10128 "New Integration Request - Try"
### Describe your current workflow

Try

### Describe your ideal workflow

Try

### Describe alternatives you've considered

Try

### Additional context

Try

[2021-07-16 09:55] shashankawasthi88 commented on #10128
Trial!

[2021-07-16 09:55] #10128 closed, assigned to abhijitkane

[2021-07-16 09:55] DannyDainton commented on #10128
We'll try and do this... ;)

[2021-07-16 10:36] postman-support commented on #10126
Hi there,

Thanks for reaching out and sorry to see you are having trouble using the Postman app installed using snap.

To troubleshoot further we will need App logs, your email ID & other details. Since GitHub being a public platform it is not good to get those details on this thread from you for security reasons.

Could you open a new ticket on our support channel using this link - https://www.p

[2021-07-16 10:58] mpasquini commented on #7261
Another point about how is useful this feature would be, my case.
I've collection runners that need to used data to iterate tests over a set of data.
I need to be consistent with:
- tester that apply "run"
- developers that update the tests
- developers that apply for newman

[2021-07-16 12:05] thomroger commented on #10075
@postman-support,
Everything seems to be working.
Many thanks,
Thom

[2021-07-16 12:24] postman-support commented on #10075
@thomroger Awesome! Glad to know that helped :)

via @Raj-postman | Postman Support

[2021-07-16 12:48] #10075 closed, assigned to postman-staff

[2021-07-16 13:13] DanielLaberge commented on #8231
Our team is giving up on postman based on this. I'm writing this as a warning for other devs finding this through Google.

Turns out that this [issue](https://github.com/postmanlabs/postman-app-support/issues/1854) has been [reported](https://github.com/postmanlabs/postman-app-support/issues/6987) as far [back](https://github.com/postmanlabs/postman-app-support/issues/1464) as [2014](https://githu

[2021-07-16 14:49] kounelios13 commented on #10126
Hi. I am using linux. How can I get app logs

[2021-07-16 16:34] jgraham8524 opened #10129 "New Integration Request - Azure DevOps Git"
### Describe your current workflow

We store our Endpoints in Collections within our Postman team.

### Describe your ideal workflow

We use Azure DevOps for our deployments and would like to automate testing using our collections during our build & deployment processes.

### Describe alternatives you've considered

Nothing yet other than manually exporting and importing collections into our Azure

[2021-07-16 16:57] DanielLaberge commented on #8231
I was about to give up on postman since it turns out that this [issue](https://github.com/postmanlabs/postman-app-support/issues/1854) has been [reported](https://github.com/postmanlabs/postman-app-support/issues/6987) as far [back](https://github.com/postmanlabs/postman-app-support/issues/1464) as [2014](https://github.com/postmanlabs/postman-app-support/issues/492) with no commitment ever given.

[2021-07-16 20:26] mickmcbride commented on #10116
Hello,

The error is being returned from our API because it is not getting the correct data with the request.

When I send it in a normal request using Postman, curl, etc in Datadog it shows:
`I, [2021-07-16T19:49:19.757553 #65]  INFO -- : []   Parameters: {"email"=>"case-2-s_damiani@migration-example-icloud.com", "user"=>{"email"=>"case-2-s_damiani@migration-example-icloud.com"}}`

When I send it

[2021-07-16 20:40] giridharvc7 commented on #10112
This is on our roadmap, will share ETAs soon.

[2021-07-16 21:12] orubel commented on #6102
@danrich0 yes but they do not understand that 'roles' are directly associated with endpoints; that an endpoint can have multiple roles associated with it to create the resource in different ways. And as a result, OpenApi directly violates OWASP API3:2019 and API6:2019

[2021-07-17 08:56] SonNg2k opened #10130 "[Bug] URL query param used for authorization defined at the collection level is automatically duplicated and inserted every time a new change for the request is saved"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

1) I define an API key at the collection level in the 'Authorization' tab. This API key is then added to all requests within the collection as a query param `access_token` in the URL.

2) Everytime I make a change to any of the query params for a particular request inside the collection, th

[2021-07-17 15:11] timbochamp commented on #10130
Hi @SonXuanNguyen2k , thanks for the report! I think this is a duplicate of #10094 if you can follow the resolution there? I'll mark this as closed, but feel free to reopen if you feel your issue is different

[2021-07-17 15:11] #10130 closed, assigned to nobody

[2021-07-17 17:23] Dauthjan opened #10131 "Postman Web Sign-in using IE"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

Postman Sign-In from App uses default browser to sign-in. Currently, due to policy constrains, I'm bound to use IE 11 although has Chrome and Edge available (no permission to change default browser).

IE doesn't support "[sendBeacon](https://developer.mozilla.org/en-US/docs/Web/API/Navigato

[2021-07-18 06:38] KimzInc commented on #7994
For me, everything stops and the only solution is to forcefully restart my PC, I am using Linux OS, Ubuntu

[2021-07-18 06:57] AvirupDas commented on #285
+1

[2021-07-18 15:11] postman-support commented on #10120
@sajidmohammed88 Just checking to see if our previous response helped? Do you also see issues with Canary?

via @Raj-postman | Postman Support

[2021-07-18 15:14] postman-support commented on #10107
Hi @MatteoInfi,

I'll be closing this next on our end as we haven't heard back from you. If the issue persists, please reach out to us by submitting a ticket here: https://www.postman.com/support ​so we can investigate further.

Have a nice day.

via @Raj-postman | Postman Support

[2021-07-18 15:14] #10107 closed, assigned to postman-staff

[2021-07-19 00:26] trailerzone opened #10132 "Make graphql queries have autocomplete"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It is not related to a problem, more so efficiency.

### Describe the solution you'd like

If devolopers are able to use autocomplete they can build better queries using postman without having to manually go to the graphql interf

[2021-07-19 01:52] tyleroconnell commented on #5817
@a85 is there anything the community can do to help make this feature a reality?

[2021-07-19 02:39] IamXFL commented on #8195
+1

[2021-07-19 03:46] erich5168 commented on #4318
+1 or just an option where you can add a background image and have the abiliity to adjust opacity... ( Seen on Intellij IDE)
![image](https://user-images.githubusercontent.com/31515782/126099868-1b9bb166-11dd-49f2-b204-067590c26929.png)

I have multiple chrome windows... Sometimes when it gets hectic its hard to find POSTMAN.

[2021-07-19 05:59] postman-support commented on #10126
Hi there,

Thanks for writing us on our support channel and will respond to you on the support ticket.

As of now, we will move ahead and close out this thread.

via @Swapnil-getpostman | Postman Support

[2021-07-19 07:27] h-h- commented on #4791
This solution can set the variable "prd" to the same value again. So in these cases there is no warning shown.
You could change the line
`prd = Math.floor(Math.random() * 5`
to
`prd = pm.globals.get("prd") + 1;`
so it always increases.

[2021-07-19 07:28] CIDROY-Tek commented on #9614
+1
Would be great if we could get this thing fixed soon!

[2021-07-19 08:13] MarkusSeb commented on #9614
our whole company is using version 7.36.5 until this bug/feature/issue is fixed.
its very annoying

[2021-07-19 08:34] jbevieux commented on #9505
Can be closed now I guess ? (Shipped in v8.8.0)
![image](https://user-images.githubusercontent.com/43568012/126126464-be23a5c0-baf3-4fd1-a2a4-fee32ae962b6.png)

[2021-07-19 08:35] praveendvd commented on #9505
will test today and revert , thansk for looking into this

[2021-07-19 08:58] postman-support commented on #10116
Thanks for reaching back.

I reviewed the Pre-request script you use to send the GET request, and it doesn’t seem that there’s anything wrong with it. I have tested it on my end and it looks like it’s working successfully, and the body seems to be carrying a JSON payload same output can be seen if you send the request in a JSON format and providing a body to it. Can you please try opening Postman’

[2021-07-19 09:18] ponmuthu5990 opened #10133 "Feedback/Request For Simplification In A Collection Runner"
Hi,

This is duplicate of request 80044.

I Apologize in advance for the lengthy feedback, Couldn't find any simple way to explain this. Also I had put some of the content repeatedly, apologize for that too. Happy reading!!

Let's start with simple collection runner for CURD. For example, A tester going to test CURD APIs with collection,

 So, A tester can test all the APIs in single button click,

[2021-07-19 10:22] VaishnaviChallaPostman commented on #10110
This feature is now implemented and live <3
So, Closing this thread here :)

[2021-07-19 10:22] #10110 closed, assigned to nobody

[2021-07-19 10:56] sajidmohammed88 commented on #10120
it's not work for me, i have checked the canaray postman too and i have the same issue just 8.8 version.

[2021-07-19 11:29] DannyDainton commented on #10132
Closing this as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6719

This issue mentions the request to have autocomplete/introspection for GraphQL.

[2021-07-19 11:29] #10132 closed, assigned to nobody

[2021-07-19 12:47] WayneEld commented on #6681
Also looking to implement a similar feature.

[2021-07-19 14:20] sunnyttravers commented on #9119
Yes! Please add this feature

[2021-07-19 14:28] glapoyeu commented on #4791
Muchas gracias por la correccion

[2021-07-19 15:08] dmtomczyk commented on #10125
More info:

I tried sending the request to https://postman-echo.com/get to get some more info. I sent the same request to the same endpiont, with the only different being the medium (Pre-request script vs. Proper request) in Postman.

**Request 1 (Pre-request script):**
Notice the empty `"args": {}` in the response body here, compared to Request 2.
![image](https://user-images.githubusercontent.co

[2021-07-19 15:15] mickmcbride commented on #10116
I just tested using the postman-echo endpoint as you demonstrated and it is not sending the "args" in the pre-request request either, the same as I am having with this issue. Please see the attached screenshot of the difference between a normal request and pre-request request. If you still need screenshots from my API I can attach them as well.

![Screen Shot 2021-07-19 at 8 52 05 AM](https://user

[2021-07-19 18:30] ManiacDC commented on #1535
We're running into technical limitations with postman and newman since this feature is not available. We have a collection of tests with approximately 1800 requests in it.

The collection is broken up into folders, where each folder is unrelated to the other folders; however, there is a common setup and cleanup folder that runs before and after each of the other folders. We use setNextRequest to n

[2021-07-19 18:51] corwestermaniddink commented on #1535
Some thoughts:

1. If you have that amount of requests in 1 collection, then:
a. Your test is taking to long for use in a CI/CD release strategy as quality gate in a pipeline.
b. Your testobject is one huge old dragon, instead of scs/microservices => architectural finding
c. You have too much testauto on the api level in your total testauto strategy.
d. The way you setup and organized your Collect

[2021-07-19 18:54] charlie-postman commented on #8908
@syedsanahassan  I am sorry to hear that. Can you please submit a support ticket (https://www.postman.com/support/) with some details? We can investigate your case and see if we can recover the monitor history.

[2021-07-19 18:56] fp-jcorriveau commented on #5713
+1 Would be nice to assign a Role Type as default in a workspace

[2021-07-19 19:32] bradthurber opened #10134 "Collection Request Name editing and mouse selection when dragging out unselects and turns off edit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

For testing, I will often duplicate a request (Ctrl-D) and then rename the first or last part of the name of the duplicate request by typing Ctrl-E, then I click-drag the mouse over the characters I want to change.  This ticket is regarding the mouse click drag behavior. As long as I stay w

[2021-07-19 19:37] charlie-postman commented on #6456
Hey @chrisdeso ! Do you see the issue happening?

[2021-07-19 19:53] ramGit22 commented on #8612
I changed https protocol to http while sending request and the problem was solved.

[2021-07-19 19:53] ramGit22 commented on #8612
I changed https protocol to http while sending request and the problem was solved.

[2021-07-19 20:01] charlie-postman commented on #8117
We have updated our documentation. Closing the ticket.

[2021-07-19 20:01] #8117 closed, assigned to charlie-postman

[2021-07-19 20:27] charlie-postman commented on #9671
Same as https://github.com/postmanlabs/postman-app-support/issues/5610

[2021-07-19 20:29] narpetri commented on #1744
+1

[2021-07-20 02:49] #9935 closed, assigned to abhijitkane

[2021-07-20 03:31] StevenR152 commented on #2819
I'd love this feature too, it's almost a dealbreaker for our team.

We want to define a bunch of shared folders of functional components, and then be able to call them in different other collection workflows.

[2021-07-20 03:46] postman-support commented on #10120
Thank you for letting us know @sajidmohammed88.

Would you try disabling GPU as per this document here: https://support.postman.com/hc/en-us/articles/360026088854-Postman-window-is-blank and see if that helps?

If the issue persists, please provide the logs as explained in this article: https://support.postman.com/hc/en-us/articles/360047765713-Where-can-I-find-logs-for-the-Postman-Application- by

[2021-07-20 06:07] meetSuraj commented on #10131
@Dauthjan Hi, we have looked into the issue and have deployed the fix for it. You should be able to use IE now, Sorry for any inconvenience caused.

[2021-07-20 06:34] Dauthjan commented on #10131
@meetSuraj Thanks, that worked!
Thanks a lot team.

[2021-07-20 06:34] #10131 closed, assigned to ArjunSingh-PM

[2021-07-20 13:17] ManiacDC commented on #1535
We don't have CD (yet)

We definitely have some improvement on the roadmap for how and what we test

Unfortunately, that's not it. Our requests/responses are relatively small, nothing should really be more than 1KB. I did do some profiling of newman yesterday, though. I checked a few times when memory was around 500MB, 700MB, 1GB. The (string) allocations were over 1/3 of the memory usage and the

[2021-07-20 13:17] scollovati commented on #10112
I am an Insomnia user and the lack of this feature is astonishing. Actually, I have found that this was causing some of my automated tests to fail due to this error.

[2021-07-20 13:29] d-schmidt commented on #9558
Once again I tried to punch postman for reverting back to the subjectively false default settings every single time I run a collection. Noo I don't want to keep the test cookies. No I don't want to keep variables from tests. Please, fix this.

[2021-07-20 13:37] postman-support commented on #10116
Hi,

Thanks for sharing the screenshots. We have tested this again, also checked it with the respective team and it looks like as per the workflow you can't send a body with the following methods `get, copy, head, purge, unlock` using with the pm.sendRequest API which means we handle it via the configuration in the application but that is not possible with the pm.sendRequest API.

I hope this clar

[2021-07-20 14:51] mickmcbride commented on #10116
Hello,

A GET request with a JSON body is a valid request. The pm.sendRequest API not supporting all valid requests is an issue.

[2021-07-20 16:29] numaanashraf commented on #4282
This is now available in Postman v8.7.0 and above.

[2021-07-20 16:29] #4282 closed, assigned to numaanashraf

[2021-07-20 17:25] DeepakDani7 commented on #8660
Also Facing same issue in mac , postman hanging issue version 6.7.4 , tried to troubleshoot but not resolved
Please provide solution for this

[2021-07-20 17:30] DeepakDani7 opened #10135 "Postman Freeze after 2-3 Operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Description
Version 6.7.4
Mac OS: 10.13.6
App Type: Desktop App

Reproduce
Open postman

Sign in
Hit APIs
Freezes intermittently
This is happening from last 10 days . Have to force close it and restart after about 2-3 API request. again its freeze . Please provide solution for this

### Ste

[2021-07-20 18:02] Netmisha commented on #7399
This problem continue in version 8.8.0 on mac

[2021-07-20 19:37] corwestermaniddink commented on #1535
I really think this is more a Newman issue then Postman related.

a. Raise a ticket at https://github.com/postmanlabs/newman/ to get this analyzed.
b. Their is a feature request at Newman about restricting the memory usage: https://github.com/postmanlabs/newman/issues/2632

[2021-07-20 20:35] steresi commented on #4818
@sankalp0o thanks for the advice here. A Public Workspace would let a client play around with your Collection within the Postman web UI (or I suppose the Postman app also).

However just to confirm... if you create a Public Workspace, say with two Environment Templates ("test" and "production"), that doesn't actually affect the generated documentation page, though, right? The documentation page wi

[2021-07-20 21:04] sajidmohammed88 commented on #10120
@postman-support it works again by disabling the GPU.
Thank you.

[2021-07-21 03:05] christianZambrano commented on #3588
Does anyone know how to change the color of send button in postman?please

[2021-07-21 06:39] sellithy commented on #8195
+1

[2021-07-21 07:14] DeepakDani7 commented on #10135
please do the needful ASAP

[2021-07-21 07:18] Serge-N opened #10136 "v8.8.0 unable to detect internet connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Postman is unable to load data because , it says am offline.

### Steps To Reproduce

1. Open Postman v8.8.0

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/51508252/126447213-de633ed7-32b8-4afa-a736-a68e010cade7.png)

![image](https://user-images.githubuserco

[2021-07-21 07:27] ilian-n commented on #10136
It same problem for me!
- Operating System: macOS 11.4
- Platform Type: Native App
- Postman Version: 8.8.0

[2021-07-21 07:28] SWRHARD commented on #10136
same error

[2021-07-21 07:30] rvulpescu commented on #9481
I have OpenVPN system installed but not active. This seems to confuse Postman (v 8.8.0).
I don't need postman app's private requests go through VPN.

As mentioned by Paladinhanxiao: Issue fixed by disabling Proxy configurations -> Use the system proxy

![image](https://user-images.githubusercontent.com/221531/126449023-a488c1fd-4442-4c1a-90ce-d519fd8ec06f.png)

[2021-07-21 07:33] SamriddhaBanik commented on #10136
Same in linux.

Operating System: Ubuntu 18.04
Platform Type: Native App
Postman Version: 8.8.0

[2021-07-21 07:37] brankopajic commented on #10136
Same here.
![image](https://user-images.githubusercontent.com/14924709/126449978-c249fad7-570f-4391-9537-1092b5df7b7f.png)

Postman Version: 8.8.0
OS: MacOS Big Sur 11.4
Platform type: Native app

[2021-07-21 07:39] ashish425 commented on #7021
yes it seems to be happening again

[2021-07-21 07:47] FTC5 commented on #10136
Same
Postman Version: 8.7.0. and 8.8.0 (Two minutes ago got update)
OS: Windows 10
Platform type: Native app

[2021-07-21 07:49] ivanbogomoloff commented on #9487
Hello all. I have same problem today.
I fixed this by sign out in desktop app and then i changed password in my acct and then login in desktop app and it works.
I hope that problem is seldom thing , otherwise i will plan to migrate

[2021-07-21 07:49] minimum91 opened #10137 "Nothing happens when invoking "Import existing file""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Just downloaded Postmac for the first time. Fresh macOS Mojave 10.14.6 installation from just a couple months back. Clicking **Import an existing file** or invoking **File > Import** just does not work. Nothing happens.

### Steps To Reproduce

1. Open Postman
2. Login
3. Click **Import an

[2021-07-21 07:52] ManeStepanyan commented on #7021
Same issue here

[2021-07-21 07:53] HuuPhuc-HPIT commented on #9481
Logout then sign in => Everything normally

[2021-07-21 07:55] DannyStaub commented on #10136
Same here:
Postman Version: 8.8.0
Postman for Windows
win32 10.0.19042 / x64

From the DevTools (Current View)
[code]

[2021-07-21 07:58] HakunamatataLeo commented on #5194
+1

[2021-07-21 07:58] podplatnikm commented on #10136
Same here
Postman version: 8.8.0
OS: Mac OS Big Sur 11.4
Platform type: Native app

[2021-07-21 07:59] agburov commented on #10136
Same issue here.

Operating System: macOS Mojave (version 10.14.6)
Platform Type: Native App
Postman Version: 8.8.0

[2021-07-21 08:01] tomhuy commented on #7021
the same issue

[2021-07-21 08:03] postman-support commented on #10136
Hello,

Sorry to see you are facing issues with using Postman, our team is now investigating the incident with higher priority.
Our status page has been updated to reflect the issue, our team will communicate any updates there -  https://status.postman.com/

I will also update that thread once there's an update, apologies for the inconvenience caused, we really appreciate your patience.
via @nasco

[2021-07-21 08:04] wuai1024 commented on #10136
+1

遇到同样问题了，现在已经没法使用了

[2021-07-21 08:12] thilina01 commented on #903
+1

[2021-07-21 08:36] nakulBageja commented on #7021
Working now 👍

[2021-07-21 09:26] postman-support commented on #10136
Our team has released a fix, and the issue should now be mitigated.
Can you please restart Postman, and see if it works as intended for you?

We are also actively monitoring the outage and we will continue providing any updates on our status page

Apologies for the inconvenience caused.
Many thanks for your patience.

via @nasco-a | Postman Support

[2021-07-21 10:10] poddubitskya commented on #4058
Come on guys, for a powerful tool like Postman this must've been done like yesterday

[2021-07-21 10:41] #10136 closed, assigned to nobody

[2021-07-21 10:46] DannyDainton commented on #10137
Hey @minimum91

Are you still seeing this issue?

We're seeing elevated error rates in some services around the time that this was raised.

[2021-07-21 10:52] MrBirdJesus commented on #8455
I ran into this issue today and it's been a pain in my side all morning. I noticed that the body wasn't making it server-side for whatever reason and began digging into it.

I sent a POST request to `https://postman-echo.com/post` with the failing body and noticed that the endpoint was returning an escaped string rather than the JSON I was expecting. I tried manually setting the application type t

[2021-07-21 10:54] GrayedFox opened #10138 "Pre-request script doesn't resolve environment variables in url object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Pre-request scripts don't resolve environment variables inside the `pm.request.url` object.

For example, if I have set an environment variable called `apiUrl` to the value `www.example.com` and use that as the base of a request like so: `{{apiUrl}}/some.path.here` then I would expect `pm.r

[2021-07-21 11:15] neilstudd commented on #10138
Hi @GrayedFox,

Thanks for such a detailed description, it's extremely helpful!

The good news is, it's intentional behaviour that can be overridden very easily.

By default, the pre-request script will echo-back its variables exactly as stored; if you want to resolve variables within, you can do so by wrapping the variable name with `pm.variables.replaceIn()`.

For example:
`console.log("Host: "

[2021-07-21 12:38] GrayedFox commented on #10138
Great, than I will close this since it was just me not understanding this behaviour, thanks for the quick reply

[2021-07-21 12:38] #10138 closed, assigned to nobody

[2021-07-21 12:50] praveendvd commented on #9505
![image](https://user-images.githubusercontent.com/45095911/126491215-5bc16e83-e511-4499-a570-5168867f65b2.png)

if there is no visualization then text i nvisualization is not visible
@jbevieux

[2021-07-21 12:51] praveendvd commented on #9505
in non dark mode out put is

![image](https://user-images.githubusercontent.com/45095911/126491403-d9e9f22f-da01-4fb6-a4a7-3bfb477ce7e9.png)

[2021-07-21 14:16] ManiacDC commented on #1535
I don't think it's a newman issue, but probably one (or more) of the underlying libraries such as postman-runtime. The memory usage is that high in both postman and newman. I will open an issue though, thanks.

[2021-07-21 14:30] timbochamp commented on #9505
Thanks for pointing this out, @praveendvd ! I'm able to reproduce as well, and will report back to my team to address this

[2021-07-21 15:21] jkonrath-postman commented on #8605
PR for Learning Center docs change: https://github.com/postmanlabs/postman-docs/pull/3220

[2021-07-21 23:23] #9932 closed, assigned to postman-staff

[2021-07-22 01:42] joelrozen commented on #9566
Any word on a fix for this yet? It only started for me after updating Postman, and some days I make so many requests that I can't even search for something I made yesterday!!!! It takes me 10+ minutes of scrolling to be able to search for requests I made a month ago, and I tried downgrading back to 7.x but that would only load the last 48 hours of requests and nothing else at all.

Please there ha

[2021-07-22 03:50] postman-support commented on #10120
@sajidmohammed88 Awesome! Glad to know that helped :)

Have a nice day.

via @Raj-postman | Postman Support

[2021-07-22 03:50] #10120 closed, assigned to postman-staff

[2021-07-22 04:01] postman-support commented on #10135
Hi there,

Thanks for reaching out and sorry to see you are having trouble using Postman.

The latest version of the app is v8.8.0 and from the description, you've provided I can see you are on v6.7.4. Could you update the app to the latest version (settings->update) or you can also download the app from our downloads page - https://www.postman.com/downloads/.

Meanwhile, to get you unblocked coul

[2021-07-22 04:38] OmgImAlexis commented on #6719
I made an account just so I could use this only to find out this doesn't even work properly. Why would I want to copy in a schema manually when introspection exists? 😞

[2021-07-22 06:19] outwrq opened #10139 "Swift generated code for multipart/form-data - video upload does not work from device/simulator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Uploading a video using the generated code via device/simulator causes a nil value to be hit at this line (in the conversion from data to string):

   let fileContent = String(data: fileData, encoding: .utf8)!

It seems like the fileData being converted to a string so it can be passed in th

[2021-07-22 07:43] krishnanandps1 commented on #9705
^ Why? It's a completely different issue altogether.

Also, it's July and this hasn't been fixed yet; please increase the priority for (what, for me personally, is certainly an...) issue!!!

[2021-07-22 07:45] czjxy881 commented on #4079
+1

[2021-07-22 08:02] 007slm commented on #8195
+1

[2021-07-22 09:20] VicKetchup commented on #6025
Just realised that amount of "skipped" tests (when using pm.test.skip) are not reported on anywhere, maybe this endpoint would be a good place to start, which hopefully will open up opportunities to resolve other issues around this, like:
https://github.com/postmanlabs/postman-app-support/issues/8512

Would also be good to add skip tests count to the Slack Integration messages (let me know if you

[2021-07-22 09:31] asarkar commented on #6242
Good thing you didn’t ask me to hold my breath.

[2021-07-22 09:34] VicKetchup opened #10140 "Slack integration not reporting warnings correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The Slack integration is reporting 0 warnings, however when I go to the monitor and check the logs, there are 2 warning messages there.

### Steps To Reproduce

1. Create Slack integration with monitor that has some warnings
2. Run the monitor
3. Observe the integration report 0 warnings

#

[2021-07-22 09:52] VicKetchup opened #10141 "Enhancement: Add error and warning messages to Slack integration"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

In order to see the error and warning logs that contain information on the issues we had during the run, you have to go to Monitoring page and scroll through logs to find them.

### Describe the solution you'd like

Slack integra

[2021-07-22 09:54] VicKetchup commented on #6025
If possible, include array of error and warning logs, which hopefully should help with https://github.com/postmanlabs/postman-app-support/issues/10141

[2021-07-22 13:55] alvarotroya commented on #8195
+1

[2021-07-22 15:53] VyacheslavGarshin commented on #8195
postman programmers are loosers! =P can't add a simple thing

[2021-07-22 21:46] Elip-tdlr commented on #8231
This seems like such a simple change. Just support configuration for the attribute name. Why has this been an issue for like 7 years! Not being able to auth using OIDC with B2C or other providers with `id_token` is ridiculous.

[2021-07-23 02:06] xxp520 opened #10142 "Pre-request Script"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Pre-request Script

### Describe the solution you'd like

I want to set Pre-request Script for all collections

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-23 05:55] kappaj2 commented on #8231
Man - I wish I could just move my work out like this...
`saswatds moved this from Pending triage to Later in Runtime Triage and Development on 21 Jul 2020`
So a year later and still no feedback, no new feature, nada, nothing....
Postman being our tool of choice for running tests with Newman and testing e2e.
Please guys - just this one change!!!!!! Beg you guys!

[2021-07-23 06:00] kappaj2 opened #10143 "Postman and OAuth tokens"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Yes - we need to be able to select id_token or access_token when talking to AWS API Gateway when using OAuth authorizers.
PLEASE!!!

### Describe the solution you'd like

A simple check box/radio button to select which one of the

[2021-07-23 06:19] DannyDainton commented on #10143
Hey @kappaj2

Could you provide a link to the issues you have noticed where people have asked for this feature, please?

[2021-07-23 06:34] shashankawasthi88 commented on #10129
@jgraham8524 have you tried using the Postman APIs to fetch the collection while running these tests rather than manually exporting (https://learning.postman.com/docs/running-collections/using-newman-cli/continuous-integration/).
Your usecase should work using the APIs. We are considering adding support for Azure DevOps in future releases.

[2021-07-23 07:04] kappaj2 commented on #10143
Good morning.
Sure - here are 4 that I could find quickly...
https://github.com/postmanlabs/postman-app-support/issues/1854
https://github.com/postmanlabs/postman-app-support/issues/6987
https://github.com/postmanlabs/postman-app-support/issues/1464
https://github.com/postmanlabs/postman-app-support/issues/492

[2021-07-23 07:13] DannyDainton commented on #10143
Closing this as it's a duplicate of https://github.com/postmanlabs/postman-app-support/issues/8231

[2021-07-23 07:14] #10143 closed, assigned to nobody

[2021-07-23 07:52] kappaj2 commented on #10143
Comment: The other stories/issue are not getting any traction. So this is closed, just another paper in the wind?

[2021-07-23 08:31] nndevstudio commented on #6761
In my case response body was not displayed until I changed the request to do  GET to the simplest "return OK() only API method".
After that, a "problematic" response is shown.
Tried restarting, uninstalling... maybe luck, maybe something else :-)

[2021-07-23 08:39] thepeej-pwhite6 opened #10144 "<title>"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have a regular hourly automated test that runs really well.  I use newman.  A number of times a week a get an ECONNRESET from an endpoint being call by the test.   The test will then fail, causing a team to look into the reason

[2021-07-23 09:52] DannyDainton commented on #10142
@xiaoxiaopeng520 Could you please provide more context about the request and an example of the use case?

[2021-07-23 09:56] DannyDainton commented on #10137
@minimum91 I'm going to close this issue, for now. I've not been able to recreate the issue and I suspect those might have been happening during a recent service outage.

We can also reopen this issue if this is not the case.

[2021-07-23 09:56] #10137 closed, assigned to nobody

[2021-07-23 10:56] giridharvc7 commented on #8231
We will take this as a part of our roadmap to enabling Open ID connect in OAuth2.

[2021-07-23 11:04] kappaj2 commented on #8231
Great stuff guys - this will be an amazing feature!

[2021-07-23 11:45] Karmalakas opened #10145 "Visualizer on dark theme is still white"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

After so called fix on 8.8.0 (which actually is just a workaround) visualizer background is now white. This defeats the purpose of dark theme. A proper default styling should be implemented to support both themes. Also there should be some root CSS classes available for custom styling, eg.:

[2021-07-23 12:57] ellisd82 opened #10146 "Collection variables not recognising Global or Environment variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

Within my collection variables I have been referencing global and environment variables.

I have found this morning that references to those variables have been deleted/are now empty, and when I type in the environment variable back in I'm finding it doesn't find them, and the 'variable fin

[2021-07-23 13:41] timbochamp commented on #10145
Thanks for reporting, @Karmalakas ! We're going to address this under the initial fix in #9505 if you can follow the resolution there

[2021-07-23 13:41] #10145 closed, assigned to nobody

[2021-07-23 13:44] wigglytuff-tu commented on #9910
@komape did u find a solution to it? I am facing the same problem

[2021-07-23 15:59] bteamsoftware commented on #4361
This is still an issue.  A few days ago postman did an update.  This morning I was doing some testing with an API while on a conference call and the call was choppy.  I thought it might be an internet performance issue and ruled that out.  Next I brought up task manager (Win10 pro) and the CPU was pegged at 100% with postman consuming ~45% while completely idle.  Did some searching and found this

[2021-07-23 22:54] Yash-Singh1 opened #10147 "Header Count includes overriden headers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

The Header count next to the `Headers` tab (e.g. `Headers (7)`) also contains overridden headers. For example, if I add a `Accept` header, it will also count the:

[code]

That was generated by default and is being overridden.

### Expected

Header count: 6

### Actual

Header count: 7

###

[2021-07-24 06:22] praveendvd opened #10148 "Postman desktop agent is not working behind firewall"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

*My question*:

I am trying to use postman web with desktop agent, but i get below error as per main.log

[code]

### Steps To Reproduce

Run the agent behind a corporate firewall with self signed certificate

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/450

[2021-07-24 06:26] DannyDainton commented on #10147
Hey @Yash-Singh1

Can you also include these, please.

- Operating System:
- Platform Type:
- Postman Version:

[2021-07-24 08:43] kumarvipin1983 opened #10149 "Postman Updates are disabled but still updates are being downloaded and installed automatically"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

While working on API testing, last week we noticed that there was a problem with version 8.8 that is once installed automatically. When we restarted postman it restarted with udpates installed automatically. we were in middle of

[2021-07-24 08:48] DannyDainton commented on #10149
Hey @kumarvipin1983

That setting only disables the Major version updates, the Minor and Patch version updates are still enabled.

[2021-07-24 08:59] DannyDainton commented on #10149
Closing as this is a duplicate of https://github.com/postmanlabs/postman-app-support/issues/6999

[2021-07-24 08:59] #10149 closed, assigned to nobody

[2021-07-24 09:06] DannyDainton commented on #10148
Hey @praveendvd

Could you update the issue with a new set of images please, seems like these were not uploaded correctly.

[2021-07-24 09:10] praveendvd commented on #10148
@DannyDainton done

[2021-07-24 17:31] baek-sang opened #10150 "Support System tray"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

.

### Describe the solution you'd like

On Windows 10/11 support system tray icon.

### Describe alternatives you've considered

.

### Additional context

https://www.electronjs.org/docs/api/tray

[2021-07-24 17:37] baek-sang opened #10151 "Native title bar"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Look bad.

### Describe the solution you'd like

![postman](https://user-images.githubusercontent.com/69100154/126876684-02dc3f8f-b392-46e4-9f37-ba975c5a3a8a.png)

Support vscode style native title bar.

### Describe alternatives

[2021-07-24 20:30] Yash-Singh1 commented on #10147
Done

[2021-07-25 05:59] dl748 commented on #4396
Confirmed still a bug in 8.9.0

[2021-07-25 12:45] Anuragtech02 commented on #10092
Hey, @giridharvc7 I'd like to give this try! Can I work on it?

[2021-07-25 15:55] silverboots commented on #3466
+1

[2021-07-25 17:31] praveendvd opened #10152 "Add Version control feature to postman changelog section"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Currently we have to depend on version control systems like git to make sure we don't mess up collection. The changelog feature in postman doesn't allow to reset back to the previous version

### Describe the solution you'd like

[2021-07-25 19:33] DannyDainton commented on #10152
Hey @praveendvd

Most of the change log version control features and the ability to restore the collection back to a certain point, is available in the Team, Business and Enterprise plans.

https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/changelog-and-restoring-collections/#restoring-collections-and-folders

Is that the versioning ability that you are referring too?

[2021-07-25 19:34] praveendvd commented on #10152
Yes I didn't know it was already available for buissness version thank you Danny

[2021-07-25 19:59] praveendvd commented on #10152
You can close this thank you

[2021-07-25 20:12] #10152 closed, assigned to nobody

[2021-07-26 02:00] dwagon commented on #5778
Adding to this: we would like to programatically know which users are registered (and consuming a license) so we can reconcile them against our internal user databases.

[2021-07-26 02:10] dwagon commented on #5778
We would also like to know how many licenses we are consuming, programatically, so we organise more as required

[2021-07-26 03:08] DOCHIS commented on #5052
i want it

[2021-07-26 05:22] shashankawasthi88 commented on #5164
@mfulton26 with the latest release (v 8.9.1) of the Postman App, you now have the ability to save the responses along with the corresponding request via Postman Proxy. This shall help you automate the process of creating a mock.
Additionally, we have added the ability for you to organize the captured traffic based on 'Domain Name' and 'End Point' in the Collection. This shall help you organize the

[2021-07-26 05:22] #5164 closed, assigned to vvs11, sankalp0o, preethammavin, shashankawasthi88

[2021-07-26 05:25] shashankawasthi88 commented on #8856
@tiago-oliveira-trustly  @jzyrobert @RogerMichel  with the latest release (v 8.9.1) of the Postman App, you now have the ability to save the responses along with the corresponding request via **Postman Proxy**.  You should now see the requests and the corresponding responses for the traffic captured via Proxy in the History or Collection based on your selection.

Additionally, we have added the ab

[2021-07-26 06:00] Meowzz95 commented on #9845
Same issue here, large collection takes forever to load in both Mac App and web version.

[2021-07-26 06:13] giridharvc7 commented on #10122
@sangeethnandakumar just wanted to make sure if you saved your collection after initializing the variable. For your variable values to be reflected on parts of the application, they have to be saved in their context (environments/collections)

[2021-07-26 06:39] RyanJMoore10 opened #10153 "Bootcamp: 'Add Match' POST request unauthorized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I followed the instructions described in part 1.2 (add match) to the letter, and it is not continuing the training as in previous requests. Instead, it is giving the 'unauthorized' response, which is the same response as it gave before adding my email as a variable and following the rest of

[2021-07-26 06:45] postman-support commented on #10135
Hi there, 

Since I did not hear back from you for a while, so just letting you know that I'm going ahead and closing this conversation for now, but I’m still here so feel free to respond back to me on this thread if you have any further queries :)

Alternatively, feel free to submit a new ticket on any matter and at any time using this link - https://www.postman.com/support/  and will be happy to

[2021-07-26 06:49] shashankawasthi88 commented on #9881
@OculiViridi @elwaxoro @geekerzhou is intended to safeguard users from accidentally capturing the traffic while restarting the app or switching the workspace. But as suggested we can look into adding preferences to allow this.

On this note though, we would like to understand what are the use case that you need to have 'capture the traffic' always?  If you could walk through why and how do you use

[2021-07-26 07:02] OculiViridi commented on #9881
@shashankawasthi88 I was using Interceptor to get auth cookies, necessary to be able to call the APIs I was implementing and testing. I'm on development of such APIs for several weeks per year, so it is a bit annoying to always have to open the panel and set the Cookies Interceptor to ON each time I need to use Postman. Of course, in my case, everything is done in a testing environment, so even if

[2021-07-26 07:25] shashankawasthi88 commented on #9340
@NewUserHa while we are looking into this, we now support capturing HTTPS traffic via Postman Proxy that should help you with the current use case that you have. Following the steps [here](https://learning.postman.com/docs/sending-requests/capturing-request-data/capturing-http-requests/#capture-https-traffic-with-postmans-built-in-proxy) to enable capturing of HTTPS traffic via Postman Proxy.

[2021-07-26 07:52] awangku92 commented on #6682
+1

[2021-07-26 08:13] catvn commented on #8195
+1 for saving my "s" button

[2021-07-26 08:55] marioaae opened #10154 "PDF viewer shows overflowed/truncated text"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

In PDF documents I have generated, when text overflows a specific field/cell of the PDF, the overflowed text is not rendered in order to not go beyond the limits/margins, instead, the overflowed text is hidden/truncated. That works properly when the PDF is opened in Adobe Acrobat Reader.

W

[2021-07-26 09:02] MatteoGioioso opened #10155 "Cannot load collections"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

It has been a couple of days that both the webapp and the desktop app are not working for me.

I will show you what my main screen looks like:

![image](https://user-images.githubusercontent.com/43592430/126962569-6be1f5c7-6570-4719-b5df-8e5001ad5d10.png)

Unfortunately I am not able to tel

[2021-07-26 09:21] AmitFidler commented on #5110
This feature could definitely help us as well,
we use postman heavily within our teams,
and this feature could help us to store the secrets outside the postman env vars,
in a much more secure way like accessing aws parameter store or secret manager.

[2021-07-26 09:33] jzyrobert commented on #8856
Thank you!

[2021-07-26 09:39] Swapnil-getpostman opened #10156 "Team Admin should be able to view Private Workspaces."
### Is there an existing request for this feature?

- [x] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There is no way for a Team Admin to list the total "Private Workspaces" created within the team. As of now, the team admin can only view all the Team and Public workspaces at "https://go.postman.co/workspaces".

### Describe the

[2021-07-26 14:41] yuhaowin commented on #8255
@xk0der It is very useful ,it saved my life! think you! 😊

[2021-07-26 15:37] nikosath commented on #9233
Need this one!

[2021-07-26 16:32] elreydetoda commented on #8754
I installed postman from a snap on Ubuntu 21.04 ( technically Pop-OS, but still Ubuntu ), but I tried all the suggestions above ( and I don't remember seeing this suggested ) and nothing worked.

So, I ran postman in snap's strace mode ( `snap run --strace postman` ) and noticed that it was saying it couldn't find a .Xauthority file. So, I just copied my .Xauthority file into the snap ( `cp ~/.Xau

[2021-07-26 18:08] timbochamp commented on #10154
Thanks for the report, @marioaae ! I'm able to reproduce this on Windows and will log something to be addressed to not have that text overflow problem

[2021-07-26 19:03] marioaae commented on #10154
Thanks, @timbochamp! if there's a place  where I can follow up on this issue, please let me know.

[2021-07-26 20:43] Yash-Singh1 opened #10157 "Autocomplete in folder editor for tests appears behind modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

When editing the tests for a folder the window for autocorrect appears behind the modal.

### Steps To Reproduce

1. Create a folder inside a collection
2. Edit the folder
3. Open up the tests tab
4. Type in something like `String.`
5. Notice how you can't see the autocomplete window
6. If

[2021-07-27 03:26] Sriram1404 opened #10158 "Can't compare the object in json array by deleting some fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the Issue

I have tried to compare the expected Json response with the actual Json response by deleting the id field. But getting Test result as `AssertionError: expected [ Array(2) ] to have the same members as [ Array(2) ]`

[code]
### Steps To Reproduce

1) Use an endpoint that returns an array of

[2021-07-27 03:47] postman-support commented on #10155
Hey @MatteoGioioso,

Really sorry to hear you are facing an issue with loading collections in your workspace.

Also thanks for giving us the details and clarifying you are not behind proxy or VPN and even tried connecting to another network to rule out network issues.

- Are you seeing this issue only for a specific workspace or it happens to all of your workspaces (even a workspace with only a sm

[2021-07-27 07:46] shashankawasthi88 commented on #9872
Closing this for now. Feel free to reopen while adding more details.

[2021-07-27 07:46] #9872 closed, assigned to abhijitkane

[2021-07-27 07:47] shashankawasthi88 commented on #9861
@tofunk can you add more details to this ticket? Filling up the template would help us understand the use case better.

[2021-07-27 07:48] shashankawasthi88 commented on #9789
Closing this for now. Feel free to reopen by adding more details to the ticket.

[2021-07-27 07:48] #9789 closed, assigned to abhijitkane

[2021-07-27 07:50] shashankawasthi88 commented on #9684
Closing this for now. Feel free to reopen by adding more details.

[2021-07-27 07:50] #9684 closed, assigned to abhijitkane

[2021-07-27 08:06] DannyDainton commented on #10153
Hey @RyanJMoore10

This appears to be an issue you're having with the Student Expert Training - Can I ask that you raise a new thread on the Postman Community Forum, under the `Training` category and the folks on there will be able to guide you through this training.

https://community.postman.com/c/training/38

I'm going to close out this issue for now.

[2021-07-27 08:06] #10153 closed, assigned to nobody

[2021-07-27 08:26] DannyDainton commented on #10158
Hey @Sriram1404

This doesn't feel like a product bug, from what I can see in your code, it looks more like a javascript syntax issue.

Can I ask that you create a new thread on the Postman community site and the folks there will be able to help with a solution.

https://community.postman.com/

[2021-07-27 08:26] #10158 closed, assigned to nobody

[2021-07-27 08:28] DannyDainton commented on #10142
Closing this issue, we can reopen once more context has been provided.

[2021-07-27 08:28] #10142 closed, assigned to nobody

[2021-07-27 09:41] tomaszwojciechowski opened #10159 "Ability to highlight Environment variables which aren't used in current Collection"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

When Environment is being used with updated Collections, some variables may be deprecated.

### Describe the solution you'd like

This ability will make maintaining Environment easier.

### Describe alternatives you've considered

[2021-07-27 11:17] pozil opened #10160 "Maximum call stack size exceeded error when generating collection from WSDL"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the Issue

Salesforce exposes some WSDL files for generating integrations. I tried to import such a file in Postman to try out the WSDL support. I was able to import the API but I got a "Maximum call stack size exceeded" error when trying to generate a test collection from the API.

### Steps To Repro

[2021-07-27 11:32] DannyDainton commented on #10159
Hey @tomaszwojciechowski

Could you expand on the details of the feature request and add examples of what you're currently seeing, please?

[2021-07-27 13:34] ffffionn opened #10161 "Use variable for Authentication for imported collections"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

Time consuming and annoying changing of auth header on each request.

### Describe the solution you'd like

When I import an OpenAPI document as a Collection (where the requests use Bearer token auth), the token value is set to `

[2021-07-27 14:42] raghuramratan commented on #9390
Both Desktop and Web App redirect Url's are not working for me

[2021-07-27 15:17] andrewzuk commented on #9481
I can't even disable the proxy.  Every time I do, then try to sign out/in again, the setting is just re-enabled.  I can't get syncing to work, and today I turn on my computer and all my local data was lost, because apparently it was never syncing properly.  This is costing me time and money.  It's ridiculous.  Are there any updates on this issue?  A quick google seems to show that lots of people a

[2021-07-27 15:18] andrewzuk commented on #9481
Does anyone in the comments here have any suggestions for Postman alternatives?  I don't really trust that my data is safe anymore w/ Postman and I don't want to risk dealing with this data loss again in the future.

[2021-07-27 15:22] charlesritchea commented on #9349
I would really like the ability to pin both Globals and specific environment tabs, right now, it's either/or which is a PITA

[2021-07-27 15:44] mrpjones commented on #3174
Hi there, any update on this one?  Being able to run a data-driven monitor under the same conditions as a collection is certainly something that would be hugely valuable, instead of having to create a huge number of individual requests manually, which I'm now about to do.  Is there an alternative to this perhaps that I'm missing?

[2021-07-27 16:48] VaishnaviChallaPostman opened #10162 "API endpoint to fetch Billing data of Postman"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

There is no API endpoint to fetch a teams billing data programatically.

### Describe the solution you'd like

An API endpoint to fetch a teams billing data programatically.

### Describe alternatives you've considered

Currenlty

[2021-07-27 18:59] timbochamp commented on #10154
@marioaae you can follow the resolution here when we have updates. I logged the severity of this as relatively low, but we'll report back as we address this!

[2021-07-27 23:10] natekwilson commented on #4823
This would make publishing public documentation so much easier. I'd be very excited if we could nest all the collection-docs we want under one domain. Especially since our pay-tier prohibits us from having more than one custom domain. Ease of documentation/share-ability is one of Postman's weaknesses compared to SwaggerHub/openAPI

[2021-07-28 02:18] brianivie opened #10163 "Collection Level Scripts"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

It would improve the speed of running a collection if I could have authentication code that gets a JWT token run only once, and then use this token for every request in the collection.

### Describe the solution you'd like

I wou