[2018-10-05 19:06] numaanashraf opened #5316 "Desktop apps on ChromeOS via Crostini"

[2018-10-05 19:18] ghost opened #5317 "In collection runner, selecting "Persist Variables" causes pm.environment.set to change initial(environment) values, leaving it unselected changes current(session) values"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.
In collection runner, selecting "Persist Variables" causes pm.environment.set to change initial(environment) values, leaving it unselected changes current(session) values

Runner is persisted, look at "locationList" as its values change to Robert.

h

[2018-10-05 20:42] steresi commented on #3161
I have this very same problem on Mac OS, running the latest version of Postman. Command-Return does not always activate the Send button. I can reproduce the problem because it happens so often.

To solve the problem, I have to hit tab, try again, hit tab, try again, etc... until I have tabbed into whatever field Command-Return works in (there is no indication which field is in focus)!

[2018-10-05 22:28] zorner opened #5318 "Export data using mixed formats"
Using Postman Version 6.3.0 Desktop - Windows, not logged into postman cloud

**Describe the bug**
From what I can see in the Exported Data JSON, is a mixed up collection v1 and collection v2 or v2.1 formats.

      The collection attribute looks to be v1 - lots of ids.
      The environments attribute looks more like v2.
      The environments attribute has "My Workspace - globals" with my global

[2018-10-05 22:44] chrisdeso commented on #5273
Closing as the comment above resolved the issue.

[2018-10-05 22:46] Pictor13 commented on #2140
Yes, but Chrome Apps are deprecated and will be removed. So we need a way to make Interceptor work with the native app.
Interceptor is the reason why I use Postman rather than other tools; when Chrome apps won't work anymore I will have to leave Postman too.

[2018-10-06 02:21] harryi3t commented on #4581
@ne0c0de can you post a screenshot/screen-recording of the steps?

[2018-10-06 02:24] harryi3t commented on #5275
@DivyaKallu you can try it in an incognito window :) Also, it will confirm whether the credentials are correct.

[2018-10-06 04:41] dresean commented on #1983
I have this same problem, the POST request is happening twice every time I send a request to my database, for one request, the results are correct. In the other request (I didn't make), the results are null. Then when attempting a GET request, the response is not showing the correct data, it's returning the null results from the second POST request (I didn't make) and skipping the correct results.

[2018-10-06 07:57] emizuki commented on #3874
Without Postman Interceptor, Postman is just another web debugging proxy, like Charles, Burp Suite, Fiddler... I think there is a lot of people not using Postman to develop API. Postman is the best web debugging proxy ever with Interceptor. Make your software different.

[2018-10-06 15:03] elgplayer commented on #3874
I mainly use for scraping, as it is superb!

[2018-10-06 15:08] Sraw commented on #3874
That's true. Without interceptor, there is no core difference between Postman and others.

For scraping? There are maaaannnnny other tools 1000x better than Postman. Postman definitely doesn't focus on scraping.

[2018-10-06 17:16] Postman-Gabriel opened #5319 ""Learn about tests" link directs to unreachable page"
**Describe the bug**
When clicking on the "learn about tests" link in the native postman app, it directs you to a unreachable page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to test page on any request
2. Click on 'learn about tests'
3. See error

**Expected behavior**
Expected to see a full page

**Screenshots**
![image](https://user-images.githubusercontent.com/40899145/46573927-e

[2018-10-07 12:05] elgplayer commented on #3874
What other tools can automatically capture get and post request, set the correct headers and cookies and instantly export the request to python code?

[2018-10-07 18:08] mechbullgt opened #5320 "Capturing API requests, target collection shows wrong requests counts."
I'm trying to capture API requests but the target collection shows requests count for even an empty collection.

Please find below screenshot for the same.
![emptycollection_shows_count](https://user-images.githubusercontent.com/23336355/46585112-203d8380-ca8a-11e8-9c9b-a69290ec8d3e.png)

[2018-10-08 02:29] raymondpdurkin commented on #3874
So much noise. Can we just agree that it's an important feature and can someone please link to the work item that's going to implement this? Postman team must have this on their plate as a showstopper right?

[2018-10-08 02:56] jasonycw commented on #5160
Beside auto export, also hope there will be a feature that will auto sync with a specific local JSON file where I can batch update with text editor and Postman will auto import and update.

[2018-10-08 04:00] DivyaKallu commented on #5275
hmmm... even in incognito window mode, application is not popping out window for credentials. It is automatically taken care.

[2018-10-08 04:28] michael-upton97 commented on #4296
I know that no fix has been announced yet, but I am still experiencing this issue. Often returning to the Collection Runner primary tab and running the tests from the blue button will allow for the response body to be visible, However this doesn't always work, and occasionally I can still get a response body when using the retry button.

Can we be expecting a fix soon or is this not something that

[2018-10-08 07:13] Yarandi opened #5321 "Postman show the previous response"
Hi,
I have installed postman app on ubuntu 18.4,
I have a problem with response , After change the code in Phpstorm IDE  the  response dose not change,
I have cleared storage cache in Devtools but the issue still exist ,
How can i solve this?

[2018-10-08 07:17] grafikri commented on #3137
+1

[2018-10-08 07:19] numaanashraf commented on #5321
@Yarandi Could you check the response Postman received from your server in the Postman Console - https://learning.getpostman.com/docs/postman/sending_api_requests/debugging_and_logs/#network-calls-with-postman-console.

[2018-10-08 07:21] numaanashraf commented on #5320
@mechbullgt That's odd. Do you remember the steps you took to cause this? It'll help us triage this issue faster.

[2018-10-08 07:22] numaanashraf commented on #5319
Unable to replicate this issue. Page correctly redirected to https://www.getpostman.com/docs/v6/postman/scripts/test_scripts.

[2018-10-08 07:23] numaanashraf commented on #5319
@Postman-Gabriel Please share the browser version the link had opened in. Is this issue still happening?

[2018-10-08 07:28] Yarandi commented on #5321
@numaanashraf
Postman Console is empty.

Sometimes my response return but many times dose not return and show previous result,
And i have found that it will return updated response after about 5 minutes changing my code!!!

[2018-10-08 07:30] numaanashraf commented on #5321
@Yarandi That is odd. Could you attach a screenshot of the Postman Console? Also, it'll help if you could try the request with cURL and verify the server is returning the right response.

[2018-10-08 07:35] Yarandi commented on #5321
Now I have an error in console
![screenshot from 2018-10-08 11-03-56](https://user-images.githubusercontent.com/1158575/46596589-003dac80-caea-11e8-9138-b5e8aa304060.png)

[2018-10-08 07:43] Yarandi commented on #5321
Also after reserve my project on Artisan console (laravel framework console) the response update,
is it possible this problem is about my backend?

[2018-10-08 07:45] numaanashraf commented on #5321
@Yarandi There is a possibility that this might be an issue with the backend.

[2018-10-08 07:46] numaanashraf commented on #5321
@Yarandi It seems like you had provided the DevTools screenshot. Could you open the Postman Console and send us a screenshot of the responses there?

"How to open Postman Console"
Head to View in the application menu, and click on "Show Postman Console" or use the keyboard shortcut (CMD/CTRL + ALT + C). Similar to DevTools, every call along with its headers and payloads will be logged to the Postm

[2018-10-08 07:48] harryi3t commented on #5321
@Yarandi
Which version of Postman are you using?

[2018-10-08 07:49] Yarandi commented on #5321
@numaanashraf
![screenshot from 2018-10-08 11-24-37](https://user-images.githubusercontent.com/1158575/46597391-c7eb9d80-caec-11e8-8deb-92a4a5beced6.png)

[2018-10-08 07:54] cisolarix commented on #4009
+10086

[2018-10-08 07:59] Yarandi commented on #5321
6.3.0

[2018-10-08 08:10] numaanashraf commented on #5321
@Yarandi Please verify from the console if the response Postman received is the one you expected. If the responses are the same, then it might be an issue on the backend.

[2018-10-08 08:23] ankit-m commented on #5277
A fix for this has been pushed.

[2018-10-08 08:23] #5277 closed, assigned to ankit-m, preethammavin

[2018-10-08 08:26] Yarandi commented on #5321
@numaanashraf unfortunately not,
I expected this response :
![screenshot from 2018-10-08 11-53-41](https://user-images.githubusercontent.com/1158575/46598483-1c911780-caf1-11e8-97e8-c1d45589bcac.png)

but Postman receive this in console :

![screenshot from 2018-10-08 11-53-10](https://user-images.githubusercontent.com/1158575/46598503-2e72ba80-caf1-11e8-94a4-0c226e40d6a7.png)

[2018-10-08 08:43] harryi3t commented on #5275
@DivyaKallu I am not sure if I know how that works. Maybe it uses the windows credentials. Are the credentials you are using in Postman, same as your account credentials that you use for logging in your system (Windows password)?
If you happen to have a Linux VM, you can test out the endpoint on that.

[2018-10-08 08:48] harryi3t commented on #5321
@Yarandi As @numaanashraf has mentioned, it looks like an issue with your backend. Is the response that you see in Postman console is not the one that you expect, that means that the backend server is not sending the intended response.
You can verify this by generating a cURL request and then running on your terminal. If the response still is not that you expect, please contact your backend team r

[2018-10-08 08:52] harryi3t commented on #5321
@Yarandi As @numaanashraf has mentioned, it looks like an issue with your backend. If the response that you see in Postman console is not the one that you expect, that means that the backend server is not sending the expected response.
You can verify this by generating a cURL request and then running on your terminal. If the response still is not that you expect, please contact your backend team r

[2018-10-08 09:01] Yarandi commented on #5321
@numaanashraf  and @harryi3t  I checked with curl and the result is not that i expect, as you mentioned this is probably caused by backend and framework,

[2018-10-08 09:18] numaanashraf commented on #5321
@Yarandi We are closing this issue as it does not seem to be related to Postman.

[2018-10-08 09:18] #5321 closed, assigned to harryi3t

[2018-10-08 09:24] Yarandi commented on #5321
@numaanashraf  and @harryi3t

Yes You Are Right , I found the problem ,
The issue is about php. I have enabled opcache in php 7.2 recently and I did not think it will cause this problem and after disable it problem solved.

So , Thank you for your good supports

[2018-10-08 09:49] harryi3t commented on #5321
@Yarandi Thanks for the quick clarification.
Closing this ticket

[2018-10-08 11:14] VicKetchup opened #5322 "Monitors running multiple times"
**Describe the bug**
Sometimes monitors run twice or get duplicated.

**To Reproduce**
Not sure what causes this behavior, as some days none of the monitors get duplicated. First time occurrence seems to be on September 26th.
This may be caused by Slack Integration, as in majority of cases the duplicate run is only shown there, however in some cases it also may be visible in the monitor run histor

[2018-10-08 11:21] sujayvenaik commented on #5247
Hey @JP-from-Postman,
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:21] #5247 closed, assigned to sujayvenaik

[2018-10-08 11:22] sujayvenaik commented on #5228
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:22] sujayvenaik commented on #5038
This issue has been fixed and is available on the stable channel (v6.4.x). Now one cannot create an example without a name.
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:22] #5038 closed, assigned to sujayvenaik

[2018-10-08 11:23] sujayvenaik commented on #5009
Hey @SolarSailor15
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:23] #5009 closed, assigned to sujayvenaik

[2018-10-08 11:24] sujayvenaik commented on #4869
Hey @anudeepmedicharla
We have addressed this feature and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:24] #4869 closed, assigned to sujayvenaik

[2018-10-08 11:25] sujayvenaik commented on #4768
Hey @robertoibarra
This has been addressed and is available on the stable channel (v6.4.x).
Now one cannot save example with media type responses.
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:25] #4768 closed, assigned to sujayvenaik

[2018-10-08 11:25] sujayvenaik commented on #4640
Hey @massenz
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:25] #4640 closed, assigned to sujayvenaik

[2018-10-08 11:25] sujayvenaik commented on #4513
Hey @Celadora
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:25] #4513 closed, assigned to sujayvenaik

[2018-10-08 11:28] sujayvenaik commented on #4941
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:28] #4941 closed, assigned to sujayvenaik

[2018-10-08 11:30] sujayvenaik commented on #4511
Hey @gpattersonm ,
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:30] #4511 closed, assigned to sujayvenaik

[2018-10-08 11:31] sujayvenaik commented on #2919
Hey @bbrosius ,
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-08 11:31] #2919 closed, assigned to sujayvenaik

[2018-10-08 11:39] sujayvenaik commented on #2082
Hey
This issue has been addressed and is available on the stable channel (v6.4.x).
You can update the app to the latest version. Do try it out and let us know.

Thanks again for writing in and reporting this issue.

[2018-10-08 12:07] bbrosius commented on #2919
@sujayvenaik Thanks so much for getting this fixed, works much better now.

[2018-10-08 12:19] sivcan commented on #5204
This has been fixed in the latest version of the Postman App (6.4)

[2018-10-08 12:19] #5204 closed, assigned to sivcan

[2018-10-08 12:19] sivcan commented on #4976
This has been fixed in the latest version of the Postman App (6.4)

[2018-10-08 12:19] #4976 closed, assigned to sivcan

[2018-10-08 12:19] sivcan commented on #4812
This has been fixed in the latest version of the Postman App (6.4)

[2018-10-08 12:19] #4812 closed, assigned to sivcan

[2018-10-08 12:20] sivcan commented on #3240
This has been fixed in the latest version of the Postman App (6.4)
You can now hover over long test names to see the tooltip with the complete name.

[2018-10-08 12:20] #3240 closed, assigned to sivcan

[2018-10-08 12:46] steffenschebesta commented on #5209
@godfrzero any updates on this?
The "Run in Postman" button is still not working and purging the variables is not an option as the URLs break:
![image](https://user-images.githubusercontent.com/1621569/46609672-fbd4bc00-cb08-11e8-85b3-5778763a3c4c.png)

[2018-10-08 12:58] dan-cooke opened #5323 "Cookies not saving 6.3.0 Mac OS"
**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. Create a request
3. Click the 'Cookies' button
4. Add a domain
5. Add a cookie to the domain
6. Add a new property to the cookie , e.g `AJAXTimeoutLimit=5;`
7. Click **Save**.
8. Open the Cookies modal again.

**Expected behavior**
New property of cookie `AJAXTimeoutLimit=5` should be visible in the text box, where it was entered

[2018-10-08 12:59] dan-cooke commented on #4581
https://github.com/postmanlabs/postman-app-support/issues/5323

[2018-10-08 13:00] dan-cooke commented on #5323
https://github.com/postmanlabs/postman-app-support/issues/4581#issuecomment-427267786

[2018-10-08 13:07] MatthewOBoyle commented on #3171
+1

[2018-10-08 13:07] ne0c0de commented on #4581
here it's: http://recordit.co/8hRGOY7ywJ

[2018-10-08 13:50] Fincodr commented on #1535
+1

[2018-10-08 14:08] chrisron95 opened #5324 "Including call type in tab hides tab name when multiple calls open"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Since the new update to 6.4.2, the type of call (e.g. `GET`, `POST`, etc.) are included in the tab. This is great, however when several tabs are open and the tabs shrink, now pretty much all you can see is the method and the fir

[2018-10-08 14:43] Haveanawesomeday commented on #4718
Thank you for the screenshots. I am selecting the env with the right variables. The one causing me trouble, {{phrase}} is the one I extract from the JSON data file in the runner. Is it because all variables come either from an env OR from data files but not both? SHould I specify all env variables in the data file as new keys even if they do not change from one iteration to the next ?

HEre are sc

[2018-10-08 14:49] godfrzero commented on #5322
Thanks for letting us know! Could you shoot us an email at help@getpostman.com with the monitor ID? I'll have to do some digging to get to the bottom of this.

[2018-10-08 18:16] jamesmehorter commented on #3274
+1

[2018-10-08 18:28] JP-from-Postman opened #5325 "Typo in save dialogue: "Save these changes to avoid _loosing_ your work.""
1. Have open, unsaved tab
2. Try to close tab, save prompt appears
3. Dialogue text says "Save these changes to avoid _loosing_ your work."

Should be "losing".
![capture](https://user-images.githubusercontent.com/43283131/46626781-34669c80-caed-11e8-9205-f500c6eb469e.PNG)

[2018-10-08 18:41] ghost commented on #3331
Did anyone get the question? The OP wanted to send the data as JSON body as the application is designed to accept JSON post body(again not as a key JSON file). Or if that is already possible, it's not clear in any of the answers. Probably someone from postman team should take responsibility and give a clear answer and a link to the documentation.

[2018-10-08 20:27] bmcdaniels commented on #3797
Thirded ^, this would be very helpful

[2018-10-08 20:27] bmcdaniels commented on #493
^  Thirded, this would be very helpful

[2018-10-08 21:46] JP-from-Postman opened #5326 "Add support for client certificates in generated code snippets (PHP cURL)"
Generated code snippets for PHP cURL don't appear to currently support client certificates. Worth adding for PHP and other languages as well?

Filed on behalf of @frankmichelin

[2018-10-08 21:48] frankmichelin commented on #5326
Love it :) so I suppose if someone posts a solution I will be notified?

On Mon, Oct 8, 2018 at 5:46 PM JP-from-Postman <notifications@github.com>
wrote:

[2018-10-09 00:37] grantyb commented on #2082
This works for me now (v6.4.2) 😃 . Thanks @sujayvenaik!

[2018-10-09 03:44] anudeepmedicharla commented on #5171
@sankalp0o A few users also requested this feature during the workshop.

[2018-10-09 05:30] sujayvenaik commented on #5324
Duplicate of #5310

[2018-10-09 05:30] #5324 closed, assigned to nobody

[2018-10-09 05:34] deepakpathania-zz opened #5327 "New window should respect the current screen"
Opening a new window of the app, say by switching account, does not open it in the same screen in which the current window is. The new window opens in the primary screen, which I have to then drag to the intended screen.

Ideally, I would like it to open in the same screen from which the intent to open the new window came.

[2018-10-09 05:51] sivcan commented on #5327
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5101

[2018-10-09 05:51] #5327 closed, assigned to nobody

[2018-10-09 06:03] #5228 closed, assigned to sujayvenaik

[2018-10-09 06:13] sujayvenaik commented on #4870
This issue has been fixed and is available on the stable channel (v6.4.x).
You can update the app to the latest version.

Thanks again for writing in and reporting this issue.

[2018-10-09 06:13] #4870 closed, assigned to vkaegis, sujayvenaik

[2018-10-09 06:23] steffenschebesta commented on #4912
@godfrzero
any updates on this issue? are you working on it?

[2018-10-09 06:28] vkaegis commented on #5236
@ben-eichler-abcs Thanks for writing in! I can see how this can be super useful, marking it as a feature request for now. We've been working on improvements to the tab interface over the last few versions and still have some in the pipeline. Will keep you updated!

[2018-10-09 07:28] Broutard commented on #4631
+1
I have to modify the host used in all requests because I have imported my api from swagger and the host is not set.

[2018-10-09 09:47] deepakpathania-zz opened #5328 "Allow opting out of script inheritance for specific requests"
Currently, if you specify a collection or folder level pre-request or test script, it gets executed for each request in that entity. Authorization is something that one can override at request level so that the top level authorization doesn't take effect but something like this is not possible for pre-request and test scripts.

Here is my use case to describe things better.
- I have a collection w

[2018-10-09 10:41] sup-fmarais opened #5329 "Allow tooltips on hover for collections"
**Feature Request:**

Please allow for the display of tooltips when hovering over a collection item. Alot of the time my collection names does not fit into the available space so I cannot view the complete name without increasing the sidebar size. This is very time consuming sometimes.

_Thanks for the awesome app guys!_

[2018-10-09 11:32] pkgajulapalli commented on #1473
stopped working in mac after updating to 6.4.2

[2018-10-09 11:55] florimon commented on #3312
+1 Please implement this! Not having this hinders automation of a postman collection.

[2018-10-09 13:36] prgx-erodri02 commented on #2086
+1
Definitely vote for this one. When developing APIs, the Body tab is by far the most useful one to have open

[2018-10-09 13:38] tejkweku commented on #4852
I have had this issue since downloading the Debian package from `getpostman.com`.
Specs:

- Postman for Linux
- Version 6.3.0
- linux 4.9.0-8-amd64 / x64
- No account

I have cracked my head for more than two (2) weeks only to use a different REST client and find this bug around for OAuth 1.x request.

[2018-10-09 13:57] joeharrison714 commented on #771
+1

[2018-10-09 14:10] shashikiran797 commented on #1669
+1

Eagerly waiting for graphql support on postman

[2018-10-09 14:36] ash007-postman opened #5330 "Data-binary at a Example Request in Postman Collection V2"
I documented my API that has a file on Body as a Binary.
but, I noticed it lack information like a "--data-binary @abc.txt" in curl.
I think it is incomplete as an Example Request.

can I display --data-binary in Example Request?
does Postman Collection have an alternative way of writing?
I would like to know this solution.

[2018-10-09 15:08] headwinds commented on #3795
We'd also like this feature. For now, I right-clicked and duplicated the entire collection, renamed it API Public and simply removed the end points I didn't want to make public. It was super easy once I knew what to do. Then our developers can keep working in the private version and I can manage the public release version.

Still I think I would like both options to really protect experimental & i

[2018-10-09 17:15] varmalx commented on #2667
is there any one able get it

[2018-10-09 17:48] DDriggs00 commented on #1475
+1, Any updates?

[2018-10-09 18:07] snake404 opened #5331 "Get MD5 from raw image response"
Hi, I'm using postman version 6.4.2 in MacOS mojave 10.14, chrome version 69.0.3497.100.

I'm migrating my test from soapUI to postman and I have an script in groovy to get the MD5 of an image and then compares that md5 with another one but in postman I'm not getting the same MD5, I followed the answer from this issue https://github.com/postmanlabs/postman-app-support/issues/2024 but I'm still not

[2018-10-09 19:06] renanwillian commented on #4079
+1

[2018-10-09 20:00] Offlein commented on #5093
Experiencing this in Ubuntu 18.04 and `libcanberra-gtk-module` does not fix it for me.

[2018-10-09 20:29] mtcherni95 commented on #3344
I have a problem with GET, meaning on some website it works and in others it does not. however the problematic website works on chrome.
With the problmatic website I get error 503 on postman, while, again, it works on postman

[2018-10-09 20:56] hongaar commented on #3731
Postman documentation is starting to look a bit outdated and the lack of custom CSS is making us look at other solutions now. The feature is on the Trello board since the beginning of 2017, but still in the _planning_ phase (least priority).

@godfrzero @sankalp0o any update on this would be appreciated.

[2018-10-09 21:06] cweinberger commented on #5063
Same with **Postman 6.4.2** on **macOS 10.14**.

[2018-10-09 21:44] murtaza-asar-cox opened #5332 "[Mac Native App] Stuck "preparing your workspaces...", username has .asar in it"
**Describe the bug**
After entering a username/password, the mac postman native app is stuck "preparing your workspaces...".

**To Reproduce**
I believe this is because of my username on this machine, ie. "murtaza.asar"
[code]

**Expected behavior**
Succesful login.

**Screenshots**
<img width="401" alt="screen shot 2018-10-09 at 5 37 26 pm" src="https://user-images.githubusercontent.com/44007218/

[2018-10-09 21:44] murtaza-asar-cox commented on #5332
I can add full logs if needed

[2018-10-09 22:35] ShavaShav commented on #4687
I'm also on Windows 10, with 12 GB RAM. Postman regularly uses over 3GB for me. Even with a clear history and no collections.

![postman](https://user-images.githubusercontent.com/17697598/46702621-c8ba2780-cbf1-11e8-9eb8-0b999a715422.png)

[2018-10-09 23:09] seantcanavan commented on #3518
I couldn't get cookies to load for 127.0.0.1 but I could get them to load for localhost.

Postman 6.4.3 Ubuntu 18.04.1

[2018-10-09 23:18] axemaster opened #5333 "support multiple instances on Mac."
Request is to reveal the New Window button or to remove the block on mac's native multiple instance support.

I read the issue comment regarding multiple instances on Windows, and the answer was to use the New Window button in the upper left. However I am using the native postman app for Mac and there is no such button. Or at least I can't find it.  Please support multiple instance on Mac or point

[2018-10-10 00:51] J-A-M-E-5 commented on #1473
Can confirm, this was driving me crazy as I always used this feature and it is now broken with latest OSX release 6.4.2

[2018-10-10 01:17] godfrzero commented on #4912
The docs have already been updated to show the "lock" icon for inherited auth. As for displaying the actual information in the UI, we're still working on figuring out how to display it properly. It should be noted however, that when the collection is actually imported by anyone using the Run in Postman button, it will include the correct auth information.

CC @sankalp0o

[2018-10-10 02:32] Sirsksk commented on #3117
Hi!
I'm trying to document a raw-XML body... I don't know if there is a solution for that.. yet just asking :)

[2018-10-10 04:30] napestershine commented on #4687
@numaanashraf  Looks like many people have this trouble. can you guys take on serious note please ?

[2018-10-10 07:46] Magador commented on #4083
Postman v6.4.2
Windows 7 (6.1.7601) x64
`AltGr` + `e` triggers `Ctrl` + `Alt` + `e`, rendering impossible to type `é` with US-International keyboard.

Since many AltGr-modified keys are to type extra characters, an idea would be to trigger the shortcut only when no input field are focused, allowing to write those characters in these fields

[2018-10-10 07:51] Magador commented on #2707
Postman v6.4.2
Windows 7 (6.1.7601) x64
`AltGr` + `e` triggers `Ctrl` + `Alt` + `e` instead of write `é` in an US-International keyboard layout

Since many AltGr-modified keys are to write characters, an idea would be to not trigger the shortcuts when the user is focusing a input field, allowing them to write the character.

[2018-10-10 07:56] benjefferies commented on #4707
Any updates on the fix @numaanashraf?

[2018-10-10 08:54] grimsqueek commented on #4898
I agree wholeheartedly with the others saying bring back bulk-edit. I have a similar workflow to panagath, where a lot of environment variables change often. To account for this I use a script to generate the variables and put them in my clip-board ready for insertion into Postman.
This is no longer possible.

Copying variables between environments is really not something I do at all, as every tes

[2018-10-10 08:54] harryi3t commented on #5333
@axemaster That button is moved as an option in the `Open New` dropdown
![postman](https://user-images.githubusercontent.com/5207331/46724486-c14d5980-cc97-11e8-9142-a9603838b6cd.png)

You can use the `Postman Window` option or the keyboard shortcut `Cmd + Shift + N`

[2018-10-10 09:05] axemaster commented on #5333
Thanks for the info! But please do realize this is not intuitive.  So this request is to simplify the UI with a single New menu or to break out the new windows option capability  in a more obvious manner.

And do unblock the native multiple instance support in OSX.  I understand that Windows users can be confused by multiple instances but as mac natively limits to a single instance without explici

[2018-10-10 09:08] fredrickreuben commented on #4009
+1

[2018-10-10 09:16] me89 commented on #4009
maybe we should scream here:
https://community.getpostman.com/c/feature-requests

[2018-10-10 09:17] sankalp0o commented on #5253
@godfrzero We should make this change. Seems reasonable.

[2018-10-10 09:24] waahhhh opened #5334 "Many versions of Postman after using it a while"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
It looks like Postman clones itself many times. Everytime Postman starts it download itself and extract the new version. After a while I got many versions of Postman.
In my settings (under Update) the option "Automatically downl

[2018-10-10 09:26] sankalp0o commented on #5278
Thanks for the feedback @VicKetchup. That is an interesting workflow. Tags/severity for individual tests is not something in our immediate roadmap but we'll look into this. I'll let you know when we make any progress on this.

[2018-10-10 10:01] SamvelRaja commented on #5334
Tracking in #5034

[2018-10-10 10:01] #5334 closed, assigned to nobody

[2018-10-10 10:41] harsh-reality opened #5335 "GitLab Integration not working"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Set up the Postman- GitLab integration [https://learning.getpostman.com/docs/postman_pro/integrations/gitlab/?_ga=2.46685799.1391770307.1538974094-148920403.1535954785](url) but don't see any pushes on GitLab repo.

**Expected b

[2018-10-10 11:48] SamvelRaja commented on #5332
@murtaza-asar-cox  We can reproduce the issue you are facing.
We are using electron internally which is having the issue (https://github.com/electron/electron/issues/1658)
We will update the thread on the alternative way soon.

[2018-10-10 12:37] njuro commented on #2761
+1

[2018-10-10 13:34] DiegoSuzuki opened #5336 "Big response are not rendered in the GUI."
Postman for Linux
Version 6.4.2
linux 4.15.0-36-generic / x64
Ubuntu 18.04 LTS

**Describe the bug**
Big response are not rendered in the GUI.

**To Reproduce**
Steps to reproduce the behavior:

1. With the console open, send a request to this end-point: GET
http://wscert.ntk.com.br/api/Domicilio/99?key=M0ZouShPjUsoQXVdATaC6irUgIwJg%2flHuY7T%2bMJwfifuAWAgHN6D206pZjsl2RwuSen5QtB538mMJugh2cYf7g%3d%3

[2018-10-10 13:46] sujayvenaik commented on #5336
Hey @DiegodeOliveira

I tried hitting the same URL you requested above and response rendered for me.
[![kapture 2018-10-10 at 19 13 02](https://user-images.githubusercontent.com/11532114/46740542-b8bd4900-ccc0-11e8-97dc-602f167881c3.gif)](url)

Can you try once again?
Also, if you still face the issue again can you send the logs from View -> Developer -> Show DevTools(Current VIew)

[2018-10-10 13:51] me89 commented on #4009
maybe we should ask here:
https://community.getpostman.com/c/feature-requests

[2018-10-10 14:13] supermacro commented on #4009
Also, see roadmap (which sadly doesn't have any mention of websockets).

https://trello.com/b/4N7PnHAz/postman-roadmap-for-developers

Would be nice if the postman team would communicate why websockets seem to be such a low priority.

[2018-10-10 14:18] DiegoSuzuki commented on #5336
Hi @sujayvenaik

The error still persists. What is your hardware and software configuration?

Are these logs? If not, can you give me the instructions to collect this log?

[main.log](https://github.com/postmanlabs/postman-app-support/files/2465029/main.log)
[renderer-console.log](https://github.com/postmanlabs/postman-app-support/files/2465030/renderer-console.log)
[renderer-requester.log](https:

[2018-10-10 14:33] sujayvenaik commented on #5336
Hey @DiegodeOliveira
Thanks for these, can you also provide the logs from View -> Developer -> Show DevTools(Current VIew). Send the request once and after that get the logs.

![getlogs](https://user-images.githubusercontent.com/11532114/46743751-5ca9f300-ccc7-11e8-941a-b76fd3127e61.gif)

[2018-10-10 14:40] DiegoSuzuki commented on #5336
When I boot, it displays this:

`vendor-shared.js:111985 Initializing the global config
vendor-shared.js:52416 Could not find on WorkspaceStore. Missing or invalid parameter.
find @ vendor-shared.js:52416
requester.js:6725 App updater event Object
vendor-shared.js:52416 Could not find on WorkspaceStore. Missing or invalid parameter.
find @ vendor-shared.js:52416
2vendor-shared.js:52416 Could not f

[2018-10-10 14:49] DiegoSuzuki commented on #5336
@sujayvenaik the same request in postman for Windows works.

[2018-10-10 14:56] sujayvenaik commented on #5336
@DiegodeOliveira
Can you send the configuration of the system on which you were not able to receive the response?

We will look into it further then.
Thanks.

[2018-10-10 15:10] MackeyG commented on #2694
+1 for this, extracting out the elements and storing them in a variable is painful.

[2018-10-10 15:21] DiegoSuzuki commented on #5336
@sujayvenaik this is it?

![captura de tela de 2018-10-10 12-19-21](https://user-images.githubusercontent.com/3594572/46747166-f8673f00-cc86-11e8-9e78-7bb1c611c10b.png)

[2018-10-10 17:12] StringKe opened #5337 "Let postman support Chinese"
I would like to help you translate postman's Chinese.

[2018-10-10 18:05] csm-noahjahn commented on #4940
Hi,
Is there an update on this issue?
Thank you.

[2018-10-10 18:07] canales commented on #724
Looking for a simple way to do this as well! + 1

[2018-10-10 18:10] matthew-auto commented on #1603
+1

[2018-10-10 18:59] cpjeanpaul commented on #1560
![image](https://user-images.githubusercontent.com/7806714/46759284-a4635700-cc94-11e8-8921-60eb7543a363.png)

[2018-10-10 20:00] intonarumori commented on #724
Finally came up with the following.

By putting `{{url}}/users/:user_id/` into the URL where `{{url}}` is the API base URL coming from an environment variable, I can set `:userid` as a path parameter by clicking on the `Params` button at the end of the URL field.

[2018-10-10 20:12] loopDelicious opened #5338 "Optimize search experience in Postman docs"
Currently there are commonly searched topics that either aren't covered in the [Postman docs](https://learning.getpostman.com/docs/postman/launching_postman/installation_and_updates) OR they aren't indexed properly in the search.

**Example**
When someone searches for `jwt` in the Postman docs, they see zero results. However, we can add a JSON Web Token (JWT) example under the Bearer Token Auth he

[2018-10-10 20:50] MateuszPrasal commented on #4687
I have same problem in my Ubuntu 18. Postman is eating too much RAM :(
Postman 6.3.0

[2018-10-10 21:18] dustinh123 commented on #5181
I second this bug: Also occurs in Postman 6.4.2 on Windows 10.

[2018-10-10 21:48] axemaster commented on #5333
closing with workaround. but do make this easier to find please.

[2018-10-10 21:48] #5333 closed, assigned to harryi3t

[2018-10-11 03:21] harryi3t commented on #5317
You can turn off the setting `Auto persist variable values` which applies globally to the app (even to Runner as well)

You can find the relevant [docs here ](https://www.getpostman.com/docs/v6/postman/collection_runs/using_environments_in_collection_runs)

[2018-10-11 03:21] #5317 closed, assigned to nobody

[2018-10-11 05:59] gerektoolhy commented on #1973
P.s. There is a 'raw' and 'pretty' tabs in postman console. `Raw` will give full request/response data unmodified.

[2018-10-11 06:09] bartdk-be commented on #2050
@a85 : This thread is still open I guess ? Seems like a must have for many people. I'm wondering why no default implementation is available (thread +2years old ?)

[2018-10-11 06:21] godfrzero commented on #5253
Clicking on the link using the native OS shortcut for open-in-new-tab should still work. We'll look at whitelisting the `target` attribute in the meantime. The main reason we *hadn't* whitelisted it earlier was to avoid having to deal with tabnabbing attacks, though now that I think about it, it'll probably be safer to include `noopener noreferrer` properties in all the links by default anyway.

[2018-10-11 07:00] ash007-postman opened #5339 "Apimatic integration doesn't convert to correct format, can't remove the integration"
I tried converting from postman to Swagger 2.0 YAML format.  It converted to JSON format instead.
I can't remove the integration, tried using the YAML conversion on their website and it isn't good enough for our purposes.
<img width="1314" alt="screen shot 2018-10-11 at 12 12 51 pm" src="https://user-images.githubusercontent.com/41741228/46786031-447eb600-cd51-11e8-810d-0f196f9b3719.png">

[2018-10-11 07:10] Przemek625 commented on #3760
There is still this annoying problem.

[2018-10-11 07:20] sgalopin commented on #2701
+1

[2018-10-11 07:37] kamuranakcay opened #5340 "I can't run folders directly in the collection runner. Each subfolder must have a working property."
**Is your feature request related to a problem? Please describe.**
Not a problem; but it will greatly facilitate my work.

**Describe the solution you'd like**
I cannot run each folder individually. Currently, I can run the Collection in the ‘Collection Runner’. But; I want to be able to run the folders directly in the collection. I should be able to run a single folder under the Collection.

**Ad

[2018-10-11 07:39] ash007-postman opened #5341 "Code snippets pane re-opens on every new tab even after closing once"
Since updating to 6.4.2 I have two really annoying bugs with the code pane(s).

Firstly the code snippets panel keeps popping open on all new tabs and it's driving me nuts. This has never been a problem before, once closed it usually stays closed.

Secondly, I use a vertical pane layout as I find it more convenient. Now when I resize the code and response panes, the code doesn't wrap and is just e

[2018-10-11 07:44] kamuranakcay opened #5342 "I should be able to search the Manage Environment"
**Is your feature request related to a problem? Please describe.**
Not a problem; but it will greatly facilitate my work.

**Describe the solution you'd like**
I cannot search in the Manage Environment. I have to be able to search the variable in the vicinity environment.

**Additional context**
![3](https://user-images.githubusercontent.com/34373724/46788295-848a6c80-cd42-11e8-8559-d8dde6042d30.j

[2018-10-11 08:06] malith-gammanpila commented on #1656
Still having same problem in Postman v6.4.2 "Switching tabs reverts the format to the default for the content type".

[2018-10-11 09:00] trastle commented on #798
This is sorely needed for short lived tokens etc.
Manually copy pasting a token into postman every time my tokens expire is nuts.

Even something simple like use a JSON file for the environment of a folder would be a huge improvement.

[2018-10-11 09:07] sankalp0o commented on #4823
@godfrzero

[2018-10-11 09:15] chickez commented on #3555
Hi, any updates on this? Would be great to have it

[2018-10-11 09:29] harsh-reality opened #5343 "Bug with opening requests- when the "Always open requests in new tab" is set to off"
**Describe the bug**
- When the "Always open requests in new tab" is set to off, the request when taken from a collection does not consider the last 'already opened tab'. Rather, the request is updated in an existing tab.

**To Reproduce**
1. Always open requests in new tab set to OFF
2. Select a request from a collection
3. Click the + to get a "new tab"/"Untitled Request"
4. Select a different s

[2018-10-11 09:32] vkaegis commented on #5340
@kamuranakcay Thanks for writing in! If you go to the collection runner, you can drill down into a selected collection and select the folder that you want to run individually. You can do the same from the collection browser as well, just select the folder you want to run and hit the Run button.

![run folder](https://user-images.githubusercontent.com/6038010/46794938-89f9ae00-cd66-11e8-9cd4-0b6dd6

[2018-10-11 09:42] VicKetchup commented on #5146
Completely agree with this approach and would like to see this option being **off** by default, as any new user in our Team has to be informed about this being the case.
With our APIs, testers change the values quite frequently on their own machines to test different scenarios and don't want to push the change to everyone or change what monitors are using!

[2018-10-11 10:11] harsh-reality commented on #5343
Realised there's a concept of Preview and Normal tab. Closing this!

[2018-10-11 10:11] #5343 closed, assigned to nobody

[2018-10-11 11:10] kamuranakcay commented on #5340
Hi @vkaegis ,
Yes yes it can be operated in this way. However, there must be a run button next to each folder, as in the screenshot below. It makes it easier to use.
In this way, I'll be able to run the folder quickly.

![screenshot_2](https://user-images.githubusercontent.com/34373724/46799939-cfb27880-cd5e-11e8-9960-1085ccc1e22f.png)

[2018-10-11 11:39] judgej commented on #1687
Just had this, scratching my head for ages. Turned out the URL I was using was [inadvertently] `http` and the server was redirecting to `https`. Postman was not making this redirect even slightly transparent.

[2018-10-11 11:53] kamuranakcay opened #5344 "I should be able to select all requests and move them to the bottom of the folder"
**Is your feature request related to a problem? Please describe.**
Not a problem; but it will greatly facilitate my work.

**Describe the solution you'd like**
I constantly want to select all the requests and move them under the folder. But I cannot select all requests with the mouse. I want to select and move all request at the same time by pressing ‘Ctrl + Mouse click’ key. The screenshot link s

[2018-10-11 12:20] adadouche commented on #5144
Hi @Ramyasri1212

Before upgrading to 6.4.2 (Native App), i was able to get the file paths in the cURL command along with the Authorization header. But now it's gone :-(

Is there a way to get these back in the generated code?

[2018-10-11 12:32] prashantagarwal commented on #5144
@adadouche Hey, are you referring to generated code inside app or on Postman dashboard ?

[2018-10-11 12:41] sandman202 opened #5345 "Version 6.4.2 hangs"
Sending GET request with one parameter to pull user information.
It hangs on "Loading..." It does not timeout. There are no errors in log file.
Using v6.4.2 Windows.

It works properly in the browser. Also works on older v5.5.3 Chrome app.

[2018-10-11 12:41] chiga17 commented on #1552
+1

[2018-10-11 13:40] sujayvenaik commented on #5345
Hey @sandman202

Can you go to View -> Developer -> Show Dev Tools (Current View) and send us the logs from that console.

Also, can you generate the cURL command for the request and test if you are able to receive the response for it?
You can get cURL command for the request by using the `Code` feature which is present below the send/save button.

[2018-10-11 13:44] adadouche commented on #5144
Hi @prashantagarwal, the one in the in the app. I downgraded back to 6.3.0, and now I got back the Authorization and form data files included in the cUrl code.

[2018-10-11 14:00] sandman202 commented on #5345
Hey sujayvenaik!
Thanks for the quick reply. After I created this issue, I figured out the cause through reading a post on disabling Syncing.

On the 6.4.2 version, I was logged in, which tries to sync. The post said 6.x version no longer have the ability to disable syncing. Instead, it said to log out. This will prevent syncing. The company I work for, doesn't want anything stored in the cloud. B

[2018-10-11 14:00] #5345 closed, assigned to nobody

[2018-10-11 14:14] kszafran opened #5346 "Markdown Inside Tables Rendered Incorrectly"
**Describe the bug**
In some cases, markdown is not rendered inside tables.

**To Reproduce**
1. Import the following collection into Postman:
[code]
2. View the documentation in web.

**Expected behavior**
Both tables should look the same.

**Screenshots**
<img width="664" alt="screen shot 2018-10-11 at 17 08 33" src="https://user-images.githubusercontent.com/3056812/46810174-bf0efc00-cd78-11e8-8

[2018-10-11 14:34] kamalaknn commented on #5144
Hey @adadouche

Thanks for reporting this, we've identified a regression where file paths are not included in the generated code snippets.

We're working on fixing this. We'll push the fix in the upcoming releases.

[2018-10-11 14:50] adadouche commented on #5144
Hi @kamalaknn. Thank you. I'll continue using 6.3.0 in the meantime.

[2018-10-11 14:58] nikitasius opened #5347 "UI ruined during saving examples"
**Describe the bug**
When you save output as an example. UI goes crazy.

**To Reproduce**
* Send a request
* get 404 error (or probably any data)
* save as example

**Expected behavior**
* as in previous version, guess it happends because:
  * you changed method how we swappend examples: before it was arrows, now there are droplist.
  * before it was in same window, now it's in separated

**Screen

[2018-10-11 15:02] nikitasius opened #5348 "Missing settings for deletion confirmations"
**Describe the bug**
When you want to delete, app ask you to confim it. There are **no option to disable it**.

**To Reproduce**
Try to delete any example.

**Expected behavior**
Settings where you can choose "autoconfirm" or "do not ask confirmations for deletions"

**Screenshots**
![image](https://user-images.githubusercontent.com/3670331/46813488-144a0e00-cd77-11e8-89e0-293835a11201.png)

**App

[2018-10-11 15:38] sujayvenaik commented on #5348
Duplicate of #3386

[2018-10-11 15:38] #5348 closed, assigned to nobody

[2018-10-11 15:42] sujayvenaik commented on #3386
Hey, I would like to push an update here.
We have brought this feature to our short-term roadmap and would be coming out soon.

[2018-10-11 15:46] GetafixIT commented on #2494
+1

[2018-10-11 15:54] sujayvenaik commented on #5347
Hey @nikitasius

We have made certain changes to the way tabs behave with the new v6.4.2 so that user's don't lose data.

If you have a dirty tab, and you are trying to open another request/example then it will now open in a new tab.

Also, I noticed in the screenshots that the test in the Save Example button is a bit off, we will get a fix for that.

[2018-10-11 16:05] JTBlum commented on #2729
Thank you! The work-around isn't working for me, and I'd like to not have to switch products.

[2018-10-11 18:18] sujayvenaik commented on #4438
Hey @EgorZotov

I tried this on the latest v6.4.2 app, and this seems to work fine.
Could you try updating to the new app and see if you are still facing this issue. ?

[2018-10-12 03:45] owaisafaq commented on #2847
Would be good to have this.

[2018-10-12 05:07] sujayvenaik commented on #4850
Hey @jperucello @chrisdeso

Can you update to the latest app v6.4.2 and check once.
I am unable to reproduce this.

[2018-10-12 05:24] CanYouProgram commented on #4594
If you go to your Postman.Exe and right click > Properties > Compatibility > Set compatibility to windows 8

This resolved the issue for me .

[2018-10-12 06:02] nileshyeole opened #5349 "pm.sendrequest() function is not verifying json response key and values"
I was trying to verifying specific values from JSON response for request which is triggered by pm.sendrequest() function. However below are my two observations:
1. I am not able to verify the values from json response. I can verify only status code and its text.
2. I cannot use that response (i.e. json) outside pm.sendrequest() function.

Postman version - 6.4.x

Below is complete scenario step wi

[2018-10-12 08:57] WillemKeesman commented on #4092
Ran into this issue as well. And finally found what caused it.
The bearer token was set automatically as an authorization header in Postman. Newman can not process it for the first POST call and therefore the whole collection will fail.

How i solved it:
manually created a Bearer token in  the authorization header of the 1st Post call.. Note that the token can still be fetched from an environment

[2018-10-12 09:15] malafaya opened #5350 "It's not possible to browse tabs beyond currently visible ones"
With new version 6.4.2, it's not possible to scroll through the open tabs. Selecting a partially visible tab does not automatically scroll all tabs left to make the selected tab separator totally visible.
By using Ctrl + 9, you indeed select the last tab, and its contents becomes visible, but the tabs do not scroll, and thus you cannot select for instance the tab before last if it's not visible. (

[2018-10-12 09:20] malafaya commented on #5350
I found that I can use the mouse wheel to scroll through the tabs as a workaround. But still Ctrl + 9 should have the tabs scroll to the last tab separator automatically. Identical behavior would be expected when clicking on a partially visible tab, by scrolling one whole tab.

[2018-10-12 09:27] sujayvenaik commented on #5347
@nikitasius
Closing this issue and will track the UI changes in the example view in a separate issue.

Thanks for writing in and reporting this.

[2018-10-12 09:27] #5347 closed, assigned to sujayvenaik

[2018-10-12 11:11] abhijitkane opened #5351 "Query parameters no longer show up in a collection's web view"
Seen on October 12, 2018

These show up in the published docs - https://documenter.getpostman.com/view/583/spotify-playlist-generator/2MtDWP#9ed307cd-e8a2-28f3-8051-f227e36e8ec2

See screenshot:
<img width="1265" alt="screen shot 2018-10-12 at 16 37 24" src="https://user-images.githubusercontent.com/681190/46866026-5b023b80-ce3d-11e8-8ade-164a1f6aa1a6.png">

[2018-10-12 11:25] bartdk-be commented on #2209
Would like to request new tokens during our newman tests. Any timeframe on this one ?
*bump* :)

[2018-10-12 11:30] abhijitkane opened #5352 "Unable to view documentation for a collection"
The Documentation tab at https://<team_domain>.postman.co/collections/<cid>?workspace=<wid> page shows a "Something went wrong" message.

On checking the WebSocket logs, the WS request to `GET /api/documentation/<coll-uid>?` returns a 500: `body: {code: 500, message: "Oops, something went wrong. Please contact us at help@getpostman.com."}`

Seen on October 12, 2018

[2018-10-12 12:19] sivcan commented on #5349
Hey @nileshyeole ,
Couple of things I'd like to point out:

1. The `tests['some test'] = Boolean` format is an old format and I wouldn't recommend you using that. The only reason it still works in the latest apps is legacy support.
Since you're using the powerful feature `pm.sendRequest`, you'll have to use the `pm.test` API to get your verification working.
I advise you to always use `pm.test` fr

[2018-10-12 12:19] #5349 closed, assigned to nobody

[2018-10-12 13:11] jsamr opened #5353 "Sending a request with `If-None-Match` header resulting in 304 response fails with "Parse Error"."
**Describe the bug**
Sending a request with `If-None-Match` header resulting in 304 response fails with "Parse Error".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request to a valid endpoint supporting ETag caching
2. Add `If-None-Match` header
3. Click "send"
4. Server must respond 304
5. Postman claims it "Could not get any response"
6. Postman console shows a "Parse Error"

*

[2018-10-12 13:17] jsamr commented on #5353
As a side note, it just reveals another bug: `include-*` should not be included in request as they are grayed out in headers editor.

[2018-10-12 14:57] paolocarrasco commented on #3312
+1

[2018-10-12 18:33] bhowley commented on #2209
bump :)

[2018-10-12 19:55] bartdk-be commented on #2209
@kamalaknn : Any idea how we can automate the token retrieval ? It's working fine using the user interface, but we are unable to use this, since the token will expire evere n-minutes. Would be great to have a solution / workaround. Thanks !

[2018-10-12 20:53] MJGTwo opened #5354 "Request sending does not complete when globals object is missing"
**Describe the bug**
Regardless of the IP, Postman hangs on all requests. I have deleted the app and reinstalled it on my Mac and still no dice.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postman
2. type in `http://echo.getpostman.com/get` into the request URL
3. Set type to GET
4. Click Submit
5. Hangs

**Expected behavior**
I expect the app to successfully connect with http://ech

[2018-10-12 21:15] MJGTwo commented on #5354
I found the main.log file and received this error when I press Send:

`[10475][1539378842771][main][error]["Main~handleUncaughtError - Uncaught errors",
{
"name":"TypeError",
"message":"Cannot read property 'environment' of undefined",
"stack":"TypeError: Cannot read property 'environment' of undefined\n    at Object.startRun (/Applications/Postman.app/Contents/Resources/app/services/RuntimeExecut

[2018-10-12 22:06] kallen11 commented on #2559
Possible Solution:  The issue might be related to the "No Environment" drop down at the top right of the Postman page.  I've occasionally had success by clicking on the field and/or re-selecting No Environment from the drop down.  The problem reappeared today, so I created a new environment (using the eyeball icon to the right of the environment dropdown).  I didn't include any environment variabl

[2018-10-13 02:23] rbtyang opened #5355 "The response example supports comments"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
- Through postman, I can easily provide response example for my colleagues .
- But telling colleagues what a field means is time consuming and easy to forget .

**Describe the soluti

[2018-10-13 03:53] thuris commented on #3897
Was excited to try the app but I'm uninstalling before I even open it due to the, as someone called it, "rude" installer.

[2018-10-13 07:47] libdefi commented on #4009
+1

[2018-10-13 09:41] raghav19 commented on #2851
+1

[2018-10-13 09:41] raghav19 commented on #2819
+1

[2018-10-13 09:41] fahu commented on #2336
In case somebody comes across this issue when having troubles to use collection variables when creating a new request:
**You need to save the request to the belonging collection before you can use it!**

[2018-10-13 10:42] bcatalin commented on #3780
I have the same issue. Backend is express. I am using the latest version 6.4.2

[2018-10-13 16:22] Postman-Gabriel opened #5356 "Postman Crashes at launch (Error: Could not open Postman)"
**Describe the bug**
At Launch, the app provides an infinite loading screen on the smaller window, then offers a popup that says something went wrong and to contact Postman Support

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. See error

**Expected behavior**
Expected to be able to open the app no problem

**Screenshots**
![image](https://user-images.githubusercontent.com/40899

[2018-10-13 16:26] chforsb commented on #5310
+1

[2018-10-13 16:35] valeriabarros commented on #1667
Looking forward for this feature!

[2018-10-13 20:50] 1990prashant commented on #4009
+1

[2018-10-13 20:53] MJGTwo commented on #5354
Found out about `NODE_DEBUG=request` so I ran `NODE_DEBUG=request /Applications/Postman.app/Contents/MacOS/Postman` and got the following output (same thing basically)

[code]

Basically saying that the parameter `variable` of `Object.runtime` is undefined, which corrosponds to the call using the variable `message.data.variables`

[2018-10-13 21:32] MJGTwo commented on #5354
I found that `~/Library/Application Support/Postman` stayed around between uninstalls. I deleted it, uninstalled Postman, and reinstalled it. This fixed my issue. Closing.

[2018-10-14 03:25] godfrzero commented on #5162
@bneut We've pushed a release which should've fixed this issue, could you verify and let us know?

[2018-10-14 03:26] #5162 closed, assigned to nobody

[2018-10-14 10:50] fmiqbal commented on #3161
Same problem with me,
my Env :

Postman for Linux
Version 6.4.2
linux 4.18.12-arch1-1-ARCH / x64

- Ctrl tab seems to always work to switch tab, but ctrl 1 /2 /3/ 4 after ctrl tab doesnt seems to work
- Ctrl + Number works once, then it lost focus to nowhere and cant ctrl + number again (except ctrl + tabs, it always work)
- it happen in any UI option, with/without sidebar, two pane/single pane
-

[2018-10-14 14:45] shirshak55 commented on #1473
not working :(

I was madly pressing cmd +b and nothing was happening. Above reply should be hidden :(

[2018-10-14 15:13] antonalechnovic opened #5357 "There is no fine granularity for Postman variables, missing request scope and scenarios"
**Is your feature request related to a problem? Please describe.**
Scenario: public API with single entry point. Complex POST request to send JSON. Requests to the same path can be different based on "type" JSON field. Different authentication details with different payload and different type of secret (so need to test across users as well).  Parameterization requirement is across several dimensio

[2018-10-15 04:36] 3rdstage commented on #4009
+1

[2018-10-15 05:28] godfrzero commented on #5352
This should be fixed now, @abhijitkane could you verify and let me know?

[2018-10-15 05:41] abhijitkane commented on #5352
@godfrzero Yep, the end-user reports this fixed.

[2018-10-15 05:41] #5352 closed, assigned to godfrzero

[2018-10-15 05:49] ankit-m commented on #4856
A fix for this has been deployed.

[2018-10-15 05:49] #4856 closed, assigned to godfrzero

[2018-10-15 06:10] kamalaknn commented on #5354
Hi @MJGTwo

I walked through the code and found a possibility where this error might have happened.

It looks like there is no `globals` container for your workspace. Even if you do not have any values in your `globals` the container should always exist.

I have fixed the code flow while sending the request to continue working even if `globals` container is missing. We'll push it out in the next r

[2018-10-15 06:32] Sainath77601 opened #5358 "Console Tab Search field is not allowing users to paste copied text through mouse."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Unable to Paste Copied Text into Search Field in Console Tab through Mouse.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the 'Console Tab'
2. Go to 'Search field'
3. Right Click through mouse
4. Click on Paste Opti

[2018-10-15 06:41] Witti opened #5359 "Unable to get working pdf file in v6.4.2"
**Describe the bug**
Getting back a application/pdf as response destroys the pdf file. (Worked with v 6.3, doesn't work with v 6.4.2)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Build
2. Enter URL for an endpoint responding with application/pdf
3. Check the pdf (for me it contains all pages but without content)

**Expected behavior**
A working pdf file.

**App information (please c

[2018-10-15 08:02] ankit-m commented on #5351
A fix for this has been deployed.

[2018-10-15 08:02] #5351 closed, assigned to ankit-m

[2018-10-15 08:37] Thota-Chaitanya commented on #2086
+1

[2018-10-15 08:58] godfrzero commented on #5209
You don't have to remove it completely, I was thinking more along the lines of replacing it with something shorter because I see that the current values are almost sentences.

As for the long-term fix for this issue, it's more complex than it may seem at first because the fix isn't just in the button. We'll have to expose a "public" url for environments, enable URL-based imports in the app (which

[2018-10-15 09:02] steffenschebesta commented on #5209
Tried using shorter descriptions but didn't help in the end since we are using the placeholders in the URLs. So it makes sense there to use e.g. `{{list_id}}` to clarify that this is the id that has to be used.

[2018-10-15 09:08] steffenschebesta commented on #5209
@godfrzero is there at least another workaround?
if the error happens, could you show a message explaining how else the user can import the collection?

[2018-10-15 10:59] Ramya-From-Postman opened #5360 "Unable to view the monitors under Monitors tab on the Web dashboard"
**Describe the bug**
There are a couple of monitors created on the postman app which I can see them under "https://go.postman.co/team/elements?type=monitor" but they don't show up under Monitor tab on the web dashboard.

**To Reproduce**
1. Create a monitor for any collection
2. Login to the Web dashboard,
3. Navigate to monitors tab of the relevant team workspace & it says "**Looks like this work

[2018-10-15 11:10] Ramya-From-Postman opened #5361 "Export a different environment filename per iteration"
I’m using Newman and want to do the following: I want Newman to export the environment filename with a timestamp for each iteration. I can't seem to get this to work using the params. Here is my command which I thought would work. I’m on a mac running this command on my machine. Newman is only creating 1 filename with the timestamp. It’s not creating a unique filename for each run.

newman run fil

[2018-10-15 11:17] numaanashraf commented on #5338
Moved to docs repo: https://github.com/postmanlabs/postman-docs/issues/1452

[2018-10-15 11:17] #5338 closed, assigned to nobody

[2018-10-15 11:26] abhijitkane commented on #5361
Opened accidentally

[2018-10-15 11:26] #5361 closed, assigned to nobody

[2018-10-15 11:27] numaanashraf commented on #5356
@Postman-Gabriel do we have any logs or additional information? Right now there isn't enough information to debug this.

[2018-10-15 11:30] numaanashraf commented on #5353
Thanks for writing in. Looks like Postman is not able to parse the response received. Could you retry the request with cURL and let us know whether you receive the response?

[2018-10-15 12:15] jsamr commented on #5353
@numaanashraf Please take note that I disabled TLS checks in Postman, **but** I could reproduce with my server host in HTTP.
Bellow is my attempt (I obfuscated Bearer token). I made few other inferences:

- I can confirm it's a response parsing issue since **the request is logged server side**.
- I don't think it's related to `/` parsing in header anymore since **I could reproduce with slash-free

[2018-10-15 12:19] vkaegis commented on #5340
@kamuranakcay Ah, thanks for the clarification. I'm marking this as a feature request. We have a bunch of improvements around running collections in our short-term roadmap, will keep you updated!

[2018-10-15 13:19] malafaya commented on #5350
@numaanashraf, feature? Ok, but in the previous version it worked fine. I would consider it a bug.

[2018-10-15 13:33] numaanashraf commented on #5350
@malafaya My bad. I've changed it to a regression.

[2018-10-15 14:12] BurlySlayerFan commented on #4567
+1 for scenarios where you need a cookie for an "admin" type user and an "end" user. I find getting a cookie for the first user (end user), "almost" gets overwritten by the second user (admin) e.g. I can only see the second user cookie but it doesn't have the access rights that an admin should have. I then have to manually delete the cookie and get a new cookie for the admin user.

It would be nic

[2018-10-15 15:03] zlatinejc commented on #771
+1

[2018-10-15 15:38] Postman-Gabriel commented on #5356
Hi Numaan,

The user just followed up saying that the problem was magically resolved. I have been receiving some sparse reports that 10.14 and 6.4.2 has been having problems. At this point, more important to keep that in mind than solving this exact issue.

[2018-10-15 17:20] merritta87 commented on #2978
+1 looking for progress report on this.

[2018-10-15 17:33] scousino commented on #758
Any update on this? It looks like the necessary data is already calculated and stored in the exported results JSON.

[2018-10-15 17:52] EvilJordan opened #5362 ""loosing" should be "losing" in dialogue"
![screen shot 2018-10-15 at 1 50 32 pm](https://user-images.githubusercontent.com/1364262/46968579-8f663980-d081-11e8-8935-1d4d0aec406c.png)

[2018-10-15 18:42] dacloutier commented on #3251
I'm having the same issue in 6.4.2

[2018-10-15 21:24] supermacro commented on #4009
Hey can we stop with the +1's?

I feel partly to blame for this. But it's not adding to the conversation and I'm sure the postman team doesn't appreciate it.

Also, I'm sure everyone else in this thread is getting annoyed of seeing the blue notification bubble on github light up because of a meaningless "+1" comment.

[2018-10-15 21:33] funketyme opened #5363 "Response not rendered on preview tab of body correctly for some cases"
## App Details:
[code]

## Issue Report:
 1. This issue started occurring after upgrading to Postman 6.4.2.
 2. Requests returning the attached HTML (and similar HTML) would render fine in the "Preview" tab after  a request completed.  This is standard "dump" HTML returned by Adobe CF, Railo, Lucee, etc.
[dump.zip](https://github.com/postmanlabs/postman-app-support/files/2480639/dump.zip)
 3. The

[2018-10-15 23:54] godfrzero commented on #5322
FYI, I'll be pushing an update which should fix this issue in a couple days.

[2018-10-16 02:23] sujayvenaik commented on #5362
Duplicate of #5325

[2018-10-16 02:23] #5362 closed, assigned to nobody

[2018-10-16 02:49] godfrzero commented on #5297
Updates to a custom domain can take ~5 minutes to reflect. A fresh publication will reflect immediately. Are you still seeing this issue?

[2018-10-16 02:49] Holinc19 opened #5364 "Unable to beautify request body in highlight while setting content-type with “application/json;charset=UTF-8”"
Request body would chang to ‘Text’ pattern while setting content-type with “application/json;charset=UTF-8”，and it could not be beautifying in highlight.

Postman Version 6.4.2
win32 6.1.7601 / x64

![image](https://user-images.githubusercontent.com/28728567/46989773-f7278d80-d130-11e8-8eee-96d56adc81c7.png)
![image](https://user-images.githubusercontent.com/28728567/46989756-e37c2700-d130-11e8-96

[2018-10-16 03:05] neekfenwick commented on #4862
Hopefully the same behaviour here, wanted to add my experience.  I'm on Fedora 28 and have exactly the same duplicate "My Workspace" as @Darko-git screenshotted earlier, and the same 'cannot save or make env changes' as described above on my primary My Workspace.  I used Postman heavily a couple of years ago and can see my 20+ collections in the primary read-only My Workspace.  Switching to the se

[2018-10-16 03:31] neesonqk opened #5365 "Postman unable to read the full response from self created http server."
**Describe the bug**
Send a request via Postman to a self-created http server, got `Error: read ECONNRESET` exception from its console, however, this never happened if request from a browser, furthermore, I tested through from code snippets (Java OK HTTP) which generated by postman, it doesn't have this issue as well.

I create a [Stackoverflow ticket](https://stackoverflow.com/questions/52810480/

[2018-10-16 05:01] MJGTwo commented on #5354
Hi @kamalaknn

I was signed in with my Google account. Every time I reinstalled the app, I would promptly log back into my account. The last time I uninstalled, I did a `find` search via my terminal and found the config folder in `~/Library/Application Support/Postman` as stated above and deleted it entirely. Consequently, this also removed all logs from Postman during the time that I had this iss

[2018-10-16 05:21] sujayvenaik commented on #5364
Hey @Holinc19
We have identified this, and would be rolling out a fix for this in the next patch release

[2018-10-16 06:04] ghost commented on #4391
+1
Whould be very good for making Azure API request easier to generate!

[2018-10-16 07:42] kamilwlf commented on #4605
I have this issue again

[2018-10-16 08:09] rezanid commented on #3692
In previous versions of Postman (with manual proxy support in UI) one workaround which actually worked was to set the proxy address and port manually in the File > Settings [Proxy] tab and then in you requests add a header called "Proxy-Authentication" and then for the value you first needed to base64 encode your username and password written in the following format.
Domain\Username:Password
which

[2018-10-16 08:15] VicKetchup opened #5366 "Monitor summary email even on the days the monitors don't run"
**Describe the bug**
Our monitors are setup to run "every weekday", meaning that no monitors are run on Saturday and Sunday, however Monitor Summary emails come for Saturday and therefore the comparison between the amount of healthy monitors and so on are not meaningful on Monday.

**To Reproduce**
Setup a monitor to run every weekday, the summary email will come on Saturday and Monday will compar

[2018-10-16 10:15] SDixit1 opened #5367 "Parameterised SOAP(xml) request"
Hi want to run my request multiple time with different data. Is it possible in POSTMAN?
For Example in below xml I want to sent request multiple time with different {{CPWN}}

soapenv:Header/
soapenv:Body
ipt:confirmOrder
ipt:in0
mes:CPWNRef{{CPWN}}</mes:CPWNRef>

[2018-10-16 10:50] codenirvana commented on #5367
@SDixit1 Can be done using the data files: https://www.getpostman.com/docs/v6/postman/collection_runs/working_with_data_files

Closing this issue since it doesn't follow our [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues).

Postman also has extensive documentation that you can refer to quickly unblock yourselves from issues such as this. Visit: http

[2018-10-16 10:50] #5367 closed, assigned to nobody

[2018-10-16 11:17] dsouzawilbur opened #5368 "Bug with loading multiple requests in a postman collection - v6.4.2"
Hi Team,
When we have multiple requests in a collection, if we trigger one request and switch to the next request quickly while the previous request is loading, the previous request output shows up in the current request

**To Reproduce**
Steps to reproduce the behavior:
1. Open a collection with multiple requests
2. Click on one request, request_1, and do a submit
3. while the request, request_1,

[2018-10-16 11:27] godfrzero commented on #5209
For now, I can try releasing a version of the run button which would remove the environment entirely if the URL ends up being too long. This would allow at least the collection to be imported. There's no way to reliably display an error since some browsers essentially nullify the URL action itself.

[2018-10-16 11:44] kamalaknn commented on #5368
Hi @dsouzawilbur

Thanks for reporting this. We'll take a look at this.

[2018-10-16 12:03] rabashani commented on #903
+1

[2018-10-16 12:29] sujayvenaik commented on #5363
Hey @funketyme

I created an example with the response you sent, and the correct preview was rendered.
Screenshot attached
![screen shot 2018-10-16 at 5 57 37 pm](https://user-images.githubusercontent.com/11532114/47016382-2e1b9480-d16d-11e8-834d-27cf8d8c0a0f.png)

Can you send the response headers that you are receiving with this request?

[2018-10-16 12:31] Ramya-From-Postman opened #5369 "Unable to create an environment with more than 100 variables via API"
Currently, it is not possible to create an environment variable if it contains more than 100 variables in it.
If you take a look at the documentation in the JSON schema for POSTing environments, it says maxItems: 100 https://docs.api.getpostman.com/#152d94ab-a94d-f5fc-c8db-73c61a56f4ce

And since we can’t just PUT additional items to the list (we have to PUT the complete environment record) there’

[2018-10-16 13:40] xsedlak opened #5370 "Expanding environment variable doesn't work for bigger content-length recursively"
**Describe the bug**
When the content-length is greater than approximately 2000 characters then environment variables didn't expand.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a request where are two environment substitutions, the content-length is not greater than 1900
2. Select an environment in the drop down, where are used environment variables recursively
[code]
3. Click on

[2018-10-16 14:31] ramyaduttuluri opened #5371 "Previous request in the preview tab is displaying under body preview"
Postman for Windows
Version 6.4.2
Windows 10
https://user-images.githubusercontent.com/9086020/47023746-36b5a000-d158-11e8-91c8-539e3ec8eb7f.png

[2018-10-16 14:34] Keoven commented on #3706
+1 on this

[2018-10-16 15:05] lukeocodes commented on #2934
@ramanbuttar

I can confirm adding audience to the URL does work.

<img width="640" alt="screen shot 2018-10-16 at 16 03 01" src="https://user-images.githubusercontent.com/956290/47026292-06bccb80-d15d-11e8-92da-637388dd938d.png">
<img width="820" alt="screen shot 2018-10-16 at 16 03 45" src="https://user-images.githubusercontent.com/956290/47026382-35d33d00-d15d-11e8-95a6-d7d0ec329a72.png">
<img

[2018-10-16 15:14] chrisjohnson commented on #5369
This was my issue. It's problematic because you can do this in the GUI postman tool but the schema for the API is limited. Either a mechanism to PUT additional variables or removing teh 100 item restriction would work for me here

[2018-10-16 16:38] agrinevsky opened #5372 "Incorrect handling of multiple headers with different capitalization"
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Just encountered it recently
 2. Expected behavior: When I send request with multiple headers of the same name, all of them should be present in the exact same order, regardless of capitalization
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-in

[2018-10-16 19:03] rgasioro commented on #3312
Still in need of this feature... any update from the dev team?
Several users have already mentioned it, this is hindering test automation since a) there are situations where you don't want to send cookie, especially when re-running tests, b) old, expired cookies cause problems

[2018-10-16 19:10] funketyme commented on #5363
The headers are below and indicate a .json response, however it will not render HTML even if I manually select HTML in the pulldown next to the pretty/raw/preview link.  It has always rendered HTML correctly even if the headers indicate .json.
![image](https://user-images.githubusercontent.com/2416326/47040783-03651800-d13c-11e8-8183-1d8e4d68ccf1.png)

I discovered something else that I think will

[2018-10-16 20:29] jlauu opened #5373 "App stuck on loading: "OpenFailedError: VersionError""
**Describe the bug**
Desktop application does not load past this screen:
![image](https://user-images.githubusercontent.com/2280157/47045139-1558b200-d160-11e8-8b17-53c4e1417be5.png)

I was able to use this but then I accepted the Mac OS "have application move itself to application folder" and it hasnt loaded since.

I use the chrome app version for now.

Logs below:
**App information (please comp

[2018-10-16 21:12] loopDelicious opened #5374 "Self-publishing more than 1 template"
**Describe the bug**
A clear and concise description of what the bug is.
Cannot successfully publish a second template without first re-logging in to the dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish first template in the dashboard
2. Publish second template in the dashboard
- the description is pre-populated with the first template's description
- the categories are pre

[2018-10-16 21:24] digitalmedia34 commented on #5201
This is for native app

[2018-10-16 21:24] nbolser commented on #771
+1

[2018-10-16 21:29] digitalmedia34 commented on #5201
I think its the same issue they are having here but this is on a windows machine https://github.com/postmanlabs/postman-app-support/issues/4701

[2018-10-16 21:31] JP-from-Postman opened #5375 "Embedded "Run in Postman" button creates duplicates"
Summary: @ashawasthi reported that clicking the embedded Run in Postman buttons causes duplicate collection to be imported.

Attached zip:
[run-in-postman-dupe.zip](https://github.com/postmanlabs/postman-app-support/files/2485002/run-in-postman-dupe.zip)
Contains:
- Console_logs.log: DevTools Shared logs
- Duplicate calls.png: Console screenshot of duplicate import calls
- Postman-Bug.mp4: Screen

[2018-10-16 22:55] allyn-psyonix commented on #4296
I was seeing this issue in 6.3, but just updated to 6.4.2 and it went away.

UPDATE: Still experiencing the issue, just seems to be intermittent. Saw it again on 6.4.2 and now on 6.5.2 as well.

[2018-10-17 00:45] elementlipeng opened #5376 "Navigating back to Request from Examples can land you in the wrong Request"
**Describe the bug**
When viewing examples of a request, you can click on the name of Request on top left of the pane to navigate back to that request. Sometimes that navigates you to the wrong request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any request, let's call it request1, and click on one of its examples to navigate to that example
2. Without leaving the example window,

[2018-10-17 01:38] ashansu-qainfotech commented on #4594
@InnovationGB Thanks mate. This was a good one. Helped solve the problem :+1:

[2018-10-17 02:52] godfrzero commented on #4823
@postmanpp This is already possible using the Postman API (just that it's not a feature available straight out of the box). Each of your teams can work on separate collections, and the "master" collection which is a collated version of the individual collections, can be updated via the Postman API. You can carry out the collation on a daily basis or something using Postman Monitors, or you can use

[2018-10-17 06:27] sankalp0o commented on #5366
@VicKetchup Thanks for pointing this out. We are working on building better reporting functionality and we will take this into account.

[2018-10-17 07:07] salman240 commented on #1060
Thanks Man!

[2018-10-17 08:24] TehBakker commented on #4751
Same issue with setting up global variable with base64 large value.
I can't even browse my variable anymore ...
But if I put the very large base64 in my body, it make the json unreadable ...

[2018-10-17 10:37] dhineshwiz commented on #5374
hey @loopDelicious thanks for reporting the issue. I could able to reproduce it, It look like the previous state is not being unset. we will fix this soon and keep you updated.

[2018-10-17 10:49] sivcan commented on #5376
@elementlipeng Can you upgrade to the latest version of the postman app _viz._ **v6.4+** ?

We've done some major improvements to the tabs and fixes around example views too and the issue that you've pointed out.

Let us know if you're still facing this issue after upgrading.

[2018-10-17 11:02] numaanashraf commented on #1556
Not reproducible in Postman Desktop Apps - https://getpostman.com/apps

[2018-10-17 11:02] #1556 closed, assigned to nobody

[2018-10-17 11:06] Ramya-From-Postman opened #5377 "Terms of Use link on account creation page is broken"
**Describe the bug**
On the account creation page, when clicked on the "**Terms of Use**" link it is navigating to the page "https://www.getpostman.com/licenses/postman_base_app/" which is throwing 404 not found error. Please fix this.

**To Reproduce**
1. Go to the link https://identity.getpostman-beta.com/signup?addAccount=1 & click on "Terms of Use"

**Expected behavior**
When clicked on "Terms

[2018-10-17 11:09] numaanashraf commented on #5376
@elementlipeng We had fixed this as part of 6.4. Do let us know and feel free to reopen if you are still facing this issue in v6.4

[2018-10-17 11:09] #5376 closed, assigned to nobody

[2018-10-17 11:21] Ramya-From-Postman opened #5378 "Monitor response time in the graph isn't rendered properly"
Monitor response time in the graph isn't rendered properly, The response in time graph is completely flat. Also, the Y-axis reading shows zero seconds (0s).
![image](https://user-images.githubusercontent.com/40994626/47082930-d6446280-d22c-11e8-810e-7054f7861bd5.png)

[2018-10-17 12:04] Cazaimi opened #5379 "Team and Personal Workspaces get mixed up on first time login."
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Description**
On loging in/signing up in the app (after the associated user data has been deleted/is not present), the personal and team are both displayed in the Team Workspace modal.

**To Reproduce**
You must have a couple of team workspaces an

[2018-10-17 12:56] paulsson commented on #4209
I'll just keep using awscurl for now so I can use profile names from my aws credentials file.
https://github.com/okigan/awscurl
Specifying aws creds directly is a PITA, bad for security reasons, and just not necessary.

[2018-10-17 14:56] numaanashraf commented on #5373
@jlauu Thanks for reporting this. Do you remember the steps you took before this happened? It seems like you might have a newer version of the app installed or opened before.

[2018-10-17 15:15] sujayvenaik commented on #5364
Hey @Holinc19
We have fixed this and it is available on the latest v6.4.4.

You can update the app.

Thanks for writing in and reporting this issue.

[2018-10-17 15:15] #5364 closed, assigned to sujayvenaik

[2018-10-17 15:16] sujayvenaik commented on #5325
Hey @JP-from-Postman
We have fixed this and is available on the latest v6.4.4.
You can update the app.

Thanks for writing in and reporting this issue.

[2018-10-17 15:16] #5325 closed, assigned to sujayvenaik

[2018-10-17 15:53] abhijitparida commented on #2086
+1 please implement

[2018-10-17 16:01] GeoKnR commented on #5310
+1

[2018-10-17 16:05] jaxley opened #5380 "Make generated curl commands functional in bash"
**Is your feature request related to a problem? Please describe.**
The ability to get a curl command to reproduce a request/response outside of Postman is an invaluable feature.  However, Postman is not currently encoding all of the necessary values in the generated command to allow it to work properly in Bash.

I specifically had an issue (using the Jenkins API) where square brackets were not enc

[2018-10-17 16:06] kamalaknn commented on #5379
Duplicate of #4948

[2018-10-17 16:06] #5379 closed, assigned to nobody

[2018-10-17 16:16] max-schulkin commented on #3999
same issue with postman version 6.4.2 on macOS High Sierra 10.13.6

[2018-10-17 19:34] GregoryPellegrin commented on #3385
I have the same warning with this in Tests Tab

[code]

[2018-10-17 19:36] GregoryPellegrin commented on #3385
![image](https://user-images.githubusercontent.com/2473943/47111745-5addb380-d222-11e8-9861-d721ab9585eb.png)

[2018-10-17 22:28] JP-from-Postman opened #5381 "(macOS) Save dialog does not expand correctly"
Found on macOS High Sierra 10.13.6 (17G2307)

Steps to reproduce:

1. Right click collection, select Export
2. Leave default radio button checked for Collection v2.1, click Export
3. Click chevron to the right of file name text field
4. dialogue UI starts to bug out, unable to expand view to select directory

Attached recording shows result
[export_collection_dialogue_bug.mov.zip](https://github.c

[2018-10-18 02:42] mindfocus commented on #4009
Postman Makes API Development Simple.
Websocket support CAN makes API Development Simple.
so why not?

[2018-10-18 05:21] sujayvenaik commented on #5371
Hey @ramyaduttuluri
This may be the case if you sent another request in the same tab previously and was on the preview tab at the end before sending another request.

If you sent one request and was on preview tab before sending another request in the same tab, so the next response that you receive by default will have the preview tab selected.

[2018-10-18 05:22] sujayvenaik commented on #5363
Hey @funketyme

We have identified a possible fix for this and will be rolling out in the next release.

[2018-10-18 06:33] sujayvenaik commented on #5371
Duplicate of #5368

[2018-10-18 06:33] #5371 closed, assigned to sujayvenaik

[2018-10-18 06:38] srinkumar2000 opened #5382 "pm.expect(...).to.be.a('number') fails for number value"
I'm trying to test the value of the ssn returned in the json response is number with this code:

//ssnLast4 is a json attrib in the json response returned
pm.test("Valid SSN", function () {
   pm.expect(jsonData.ssnLast4).to.be.a('number');
   });

The above code works as expected (by failing the test) if the value returned is NOT number. But, the above code also fails if the value returned in ssn

[2018-10-18 06:39] kamalaknn commented on #5354
@MJGTwo Thanks for the info, we'll continue investigating the root cause.

In the meanwhile we have released a fix to unblock the request sending flows in the `6.4.4` version of Postman

[2018-10-18 06:39] #5354 closed, assigned to kamalaknn

[2018-10-18 07:07] darkworks opened #5383 "Windows Postman Bulk Edit mode add spaces to form data"
**Describe the bug**
when we copy form data from **bulk edit** section then postman add one space to the values , lets say i copy form data from bulk edit section and then paste it again or send to someone else who will paste the data in bulk edit section when he switch to "**Key Value Edit**" then values will have one space which effect the testing as each value have one space

**To Reproduce**
S

[2018-10-18 07:13] sivcan commented on #5382
@srinkumar2000 Looks like `jsonData.ssnLast4` is infact a string rather than a number.
You can refer the following example:
![image](https://user-images.githubusercontent.com/12631777/47136930-cbdca400-d2d2-11e8-84f8-a4d7ed335210.png)

Script used:
[code]

Postman uses a fork of Chai and here's the repo: https://github.com/postmanlabs/chai-postman

[2018-10-18 10:13] slim-hmidi opened #5384 "Query parameter was converted from string to numeric value"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I create an api and I'm trying to debug it using postman. My api is:
[code]
The parameter that I put are strings.

**Expected behavior**
collectionName should contain the value `helloo` but I got `collectionName=1`. When I tried

[2018-10-18 10:18] mohit-sentieo commented on #3475
@madebysid  One problem with using sync directly is that we are not able to review changes to the collection. The normal github pull request -> code review flow works great with this. Would be great if there is even a sync button where postman can resync from a specific location on disk.

[2018-10-18 10:36] RidgeA opened #5385 "Postman app fails to show response body"
**Describe the bug**
Postman fails to process a response body.

**To Reproduce**
Steps to reproduce the behavior:
1. Create  new request GET `https://postman-echo.com/get`
2. Click on 'Send'
3. In the response field see "Loading..."

In Postman console you can see that request finished successfully.

**Expected behavior**
See response body in the app

**App information (please complete the followi

[2018-10-18 11:12] kamalaknn commented on #5385
It looks like your installation is corrupt. This might happen sometimes when you try to update the app by extracting the newer version in the location as the older version without removing the older version.  This will merge the contents of both the packages leading to corrupted installations.

I suggest moving to an installation method that uses the supported auto update from Postman over manual

[2018-10-18 11:22] RidgeA commented on #5385
Yeah, my bad.
Fresh install solved the issue.

[2018-10-18 11:22] #5385 closed, assigned to nobody

[2018-10-18 11:59] Vasilis-7 commented on #4382
I had the same issue.
For the last 3 days i couldn't launch Postman.
I removed the folder postman from roaming folder, in my desktop folder.
Postman opened, but it was empty.
I closed it, and i copied from my desktop's folder, postman, the folders databases, IndexedDB, Local Storage and Postman_Config and replaced with them the corresponding folders in the new postman folder in roaming.
I launched

[2018-10-18 12:00] numaanashraf commented on #5384
@slim-hmidi I'm afraid I don't your issue. Could you explain with screenshots and sample request?

[2018-10-18 12:04] slim-hmidi commented on #5384
@numaanashraf
<img width="795" alt="q1" src="https://user-images.githubusercontent.com/31925861/47153036-a9508800-d2de-11e8-8da5-7e41631b4c5c.PNG">

[2018-10-18 12:07] slim-hmidi commented on #5384
@numaanashraf  I write:
[code]
However when I put a numeric value in `collectionName=123245689` I got the same value that I put. The collectionName accepts numeric value and alphanumeric value will be converted to 1.

[2018-10-18 12:20] XaWin commented on #5263
Completely agree. Also reported that to the support today and was re-directed here.

[2018-10-18 12:29] XaWin opened #5386 "Folders hierarchy in documentation is not consistent with title hierarchy in markdown"
**Describe the bug**
When creating folders to create a hierarchy in the documentations, I noticed that all folders have the same markdown/HTML title tag, which is `<h2>`. This breaks the logical hierarchy of

- Collection name -> h1
- Folder -> h2
- Subfolder -> h3 (is h2 too now)

**To Reproduce**
1. Create a collection,
2. Add several folders and nested folders and give them titles
3. Click on "

[2018-10-18 12:31] igorsmaciel commented on #5339
Same thing here

[2018-10-18 13:02] XaWin commented on #3731
Fully agree with all the above, customization is really limited presently.

[2018-10-18 13:11] XaWin opened #5387 "Resizing image inserted in markdown"
Hello,
Some version of markdown allows for image to be resized. At the moment, the image seems to span on the entire middle panel.

Is there any plan to support this in the future in Postman Documentation ?

[2018-10-18 13:28] numaanashraf commented on #5384
@slim-hmidi is this at your server end?

[code]

[2018-10-18 13:37] slim-hmidi commented on #5384
@slim-hmidi  yes, it is.

[2018-10-18 13:44] numaanashraf commented on #5384
@slim-hmidi Looks like this might be an issue at the server side. We tried replicating this and Postman sends string values correctly.

<img width="914" alt="screenshot 2018-10-18 at 7 13 03 pm" src="https://user-images.githubusercontent.com/3295568/47158756-f26a0180-d309-11e8-8695-0bb94e130141.png">

[2018-10-18 13:45] numaanashraf commented on #5384
@slim-hmidi You could also verify the request sent by Postman via the Postman Console (Menu > View > Show Postman Console)

[2018-10-18 13:45] #5382 closed, assigned to nobody

[2018-10-18 13:53] spanitz commented on #5040
👍

[2018-10-18 14:32] nidkil commented on #3312
Any chance this will be added soon?

[2018-10-18 14:35] PetrKnedlik commented on #3516
How have you solved it? @mpergament

[2018-10-18 14:53] #5384 closed, assigned to nobody

[2018-10-18 15:43] cegprakash commented on #3109
When we have more than 50 tabs open, the 3 dots button is not visible. And as there is no scrollbar, it is very hard to make it visible again. I had to close each tab at the end manually (also had to respond to the alert box for each tab) until the 3 dots menu is visible.

Shall we reopen this please..

[2018-10-18 15:59] bhargavkaranam commented on #3109
Hi @cegprakash,
This issue has been addressed in the latest version of the Postman app. Along with this, there are a bunch of other improvements that have been made to the way tabs work in Postman. Please update your app to the latest version.

[2018-10-18 16:11] ironicnet commented on #1684
Is there any update on this? It's really annoying to keep updating the headers of all the requests...

[2018-10-18 17:04] science695 commented on #4823
@sankalp0o My use case would appear to split from postmanapp.

I am interested in what you referenced with:

We have multiple clients, and often build custom apis for them. We would find it very useful to be able to publish multiple collections with different uris on the same domain:
www.your-domain.com/special-client-a-import
www.your-domain.com/special-client-b-import
www.your-domain.com/normal-

[2018-10-18 18:39] funketyme commented on #5363
I mistakenly commented that 6.4.4 had resolved the issue.  Sorry for the confusion.  The issue is present in 6.4.4 still.

[2018-10-18 18:54] mtwomey commented on #4079
+1

[2018-10-18 19:21] d1820 commented on #4898
My team also has a great need for bulkEdit, even if is just swapping the table view for a JSON editor that we can easily copy paste into. We use it to do mass partial test case scenario workflows where its faster to update a batch of values, versus having to manage and track against many duplicated environments, or doing import/exports or variables all the time.

[2018-10-18 19:34] zjrunner commented on #4458
FYI I have some pull requests going over to [swagger2-postman2](https://github.com/postmanlabs/swagger2-postman2/issues/19) as a workaround if the core doesn't get fixed.  I'm doing other swagger/postman merges and processing so needed the helper anyway.

[2018-10-18 19:56] bizzard4 commented on #3137
+1

[2018-10-18 21:02] loopDelicious opened #5388 "Duplicating a folder doubles the requests in the new copy"
**Describe the bug**
Duplicating a folder results in 2x the number of requests in the new copy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' for a folder, and select Duplicate.
2. There is a new copy of the folder, but every request is listed twice.
3. If I duplicate the copy (creating a third folder), the requests are doubled again.
4. If I drag the copy of the folder over to

[2018-10-19 00:42] nidkil commented on #4058
@shamasis I'm sorry, but I cannot see any example in the provided link how to use variables and eval to reuse code. Can you please point it out?

[2018-10-19 01:25] boojack opened #5389 "Change Learning Centre to Learning Center"
**Describe the bug**
右下角工具栏的 ’learn centre‘ 应该是 'learn center'

![image](https://user-images.githubusercontent.com/24653555/47192639-ec633780-d380-11e8-8b33-56b1a4ab8ddc.png)

[2018-10-19 05:59] sivcan commented on #4058
@nidkil Hey, on opening the documentation just click on 'Run In Postman'
![image](https://user-images.githubusercontent.com/12631777/47200059-11ac7180-d392-11e8-9bba-295492132d69.png)
 and then the collection should get imported in the postman app.
Then you'll be able to see the pre-request scripts as written by @shamasis in the app.

Like so:
![image](https://user-images.githubusercontent.com/126

[2018-10-19 07:01] kalashnikof commented on #4412
Same issue here.
Postman 6.4.4
Linux 4.15.0-36-generic / x64

[2018-10-19 07:57] mangatinanda commented on #348
Pretty useful feature, Not working in Version 6.4.2. Please fix.

[2018-10-19 08:05] numaanashraf commented on #348
@mangatinanda This should be addressed in 6.4.4. Do update and let us know.

[2018-10-19 08:50] Bheemaanil commented on #1947
any update on this?

[2018-10-19 09:53] bulat-gab commented on #4636
I faced the same problem. Two apps use different authorization urls and I have to rewrite configurations each time I switch the app. Are there any ways to overcome it while we are waiting for the feature?

[2018-10-19 10:07] nidkil commented on #4058
Cool thx. Just to double check: Is this a temporary hack until the functionality is implemented properly?

[2018-10-19 11:54] achesco commented on #6682
+1

[2018-10-19 12:50] #5039 closed, assigned to harryi3t

[2018-10-19 13:03] fatestapestry commented on #5039
If installing  on Ubuntu 18.04 with `snap`, you  will face the same problem... also permissons issue as installed with root under `/snap/`

[2018-10-19 13:10] DannyFeliz commented on #1947
I ended up using [insomnia](https://insomnia.rest) instead, allow me to do this and is pretty extensible and allow me to import my postman collections. Very recommended.

[2018-10-19 13:47] VicKetchup opened #5390 ""pm.response.to.not.have" causing subsequent "pm.response.to.have" to fail"
**Describe the bug**
Having "pm.response.to.not.have" before a "pm.response.to.have" will cause the latter one to fail as it is now expecting the header to be missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Test the response to NOT have a header
2. Add tests afterwards expecting headers to be present (regardless of being in separate or same test function)
3. Run the request and all

[2018-10-19 13:49] kunagpal commented on #5390
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/3592

[2018-10-19 13:49] #5390 closed, assigned to nobody

[2018-10-19 14:13] BeatriceThalo commented on #4514
installing from the software center instead of the tar works on ubuntu 18

[2018-10-19 14:30] jlauu commented on #5373
I think the most relevant aspect is that I got a "Postman can move itself to Applications folder" dialogue, and accepted it, and now it gets stuck like this every time.

[2018-10-19 14:57] BeatriceThalo commented on #4862
Yeah similar. I had 14 unsaved requests open, not signed into Postman Ubuntu 16. I'm moving machines to Ubuntu 18, so made a free (not google) account on the new machine. Then on the old machine with my request tabs open I signed in, and tried to save my requests but the save request dialog's save button remained grayed out and any attempts to create a collection did not create any collection obje

[2018-10-19 15:14] Ma11hewThomas commented on #4891
+1

[2018-10-19 18:08] deeg commented on #5178
@numaanashraf, is there any update on this? Is this only a paid feature?

I'm currently looking into buying postman for my team and having this type of version control over our documentation would be necessary. I am also not seeing it work on my shared collections with my team.

[2018-10-19 20:03] bpringe commented on #4167
I am experiencing this issue as well. Sometimes the app loads the UI, other times it just stays on the loading screen (I've left it for several minutes). I see multiple postman threads running, but no UI. I have to force stop the postman processes, and try again. It usually works after force stopping processes once. But as far as when it happens initially, I don't think it happens every time I try

[2018-10-19 22:37] tylerpalmerdev commented on #4171
+1, this makes the desktop app virtually unusable for our use case. There are various scenarios where we need certain characters to _not_ be encoded in the URL. Agree this could be a simple setting flag, e.g. "Do not auto-encode requests" .

Is there a workaround for this in the desktop app until the Postman team offers it as a setting?

[2018-10-19 22:40] tylerpalmerdev commented on #4171
Chrome apps are deprecated so using it in lieu of the desktop app is not a viable solution.

[2018-10-19 23:46] chrisdeso opened #5391 "Dynamically Generate a Run in Postman Button"
**Is your feature request related to a problem? Please describe.**
It would be great if it were possible to generate a run in postman button dynamically. Leveraging the [API](https://docs.api.getpostman.com/) to create collections/environments is great but requires manual work to share via the RIP button.

**Describe the solution you'd like**
An API endpoint for generating a run in postman button.

[2018-10-20 08:14] rajibr79 opened #5392 "Is there any way to set not to save Cookies? Saved cookies are causing issues while I am trying to run my test suite."
## App Details:

[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
 2. Expected behaviour:
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

[2018-10-20 09:38] rajmantechnology opened #5393 "Pdf Download"
Hello,

When i hit the below code in postman then we get the error. I want to download pdf with data.
var request = require("request");

var options = { method: 'GET',
  url: 'https://api.fortnox.se/3/invoices/31/preview',
  headers:
   { 'Postman-Token': 'aa8f701d-e4e0-40fa-836d-a623f8072281',
     'cache-control': 'no-cache',
     'Content-Type': 'application/json',
     'Client-Secret': 'Mz9Yy3

[2018-10-20 16:51] timworx commented on #2950
There may have been a regression.
Version 6.4.4 (6.4.4) on High Sierra seems to exhibit this.

1. Make a request that returns an HTML page (in this case it a 404 Django debug error page)
2. Subsequent request succeeds with a 201 and no response.
3. Preview still has the HTML page (causing me to think that I haven't fixed my routes).

[2018-10-20 17:02] kamalaknn commented on #2950
Hey,

We were able to reproduce this. We will push out a fix for this in the next release.

[2018-10-20 17:31] timworx commented on #2950
Jeez @kamalaknn , that was quick! 💥

[2018-10-21 06:15] omnipotentkrishna commented on #4193
https://github.com/postmanlabs/postman-app-support/issues/4193#issuecomment-417131032
Hi All,
I am new to Github. I have question. As above mentioned I have used pre-request script where I have formed request and sent, however i am getting response but my question is how we can store or use response which we are getting from pre-request-Script? I have tried pm.response.json() but as per API doc th

[2018-10-21 09:17] vvscode commented on #5392
https://www.getpostman.com/docs/v6/sending_and_viewing_responses/interceptor_cookies

[2018-10-21 12:41] harryi3t commented on #4581
@ne0c0de Apologies for the delayed response
I saw the screen-recording, you are adding the `key=value` in the end instead of in the beginning
<img width="718" alt="recordit__record_screencasts_fast___free__with_gif_support_" src="https://user-images.githubusercontent.com/5207331/47267063-22104800-d55c-11e8-8520-df7c1a519551.png">

I have made a recording to help you
![kapture 2018-10-21 at 18 10 5

[2018-10-21 14:39] Priultimus commented on #4009
+1

[2018-10-21 17:07] jamatsui commented on #974
+1

[2018-10-21 17:24] nilskp commented on #4552
Any progress on this?

[2018-10-22 03:17] Chirag-Nexonia commented on #4320
any update on this?

[2018-10-22 03:17] Chirag-Nexonia commented on #4320
any update on this?

[2018-10-22 05:27] acandylevey opened #5394 "Add support to set proxy details from the script"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**
It is frustrating when dealing with proxies if where we have a couple of different ones we use, and not all requests are required to use them.

**Describe the solution you'd like**
T

[2018-10-22 05:34] Jeeva-Rathinam commented on #3846
@antonioribeiro Did you solve your issue?

[2018-10-22 06:07] sujayvenaik commented on #5393
Duplicate of #5359

[2018-10-22 06:07] #5393 closed, assigned to sujayvenaik

[2018-10-22 06:08] sujayvenaik commented on #5393
Duplicate of #5359

[2018-10-22 06:55] sivcan commented on #4715
@chrisron95 Hey, we've updated the app with a fix around this. (v6.4+)
The sync icon now shows an animation when it's syncing and stays orange once it has finished syncing.

![sync icon - animate - ease-out](https://user-images.githubusercontent.com/12631777/47280718-656ac500-d5f5-11e8-9675-ff31f15fd221.gif)

[2018-10-22 06:55] #4715 closed, assigned to sankalp0o

[2018-10-22 06:57] sivcan commented on #4715
@chrisron95 We've updated the app with a fix around this.
The sync icon now shows an animation when it's syncing and turns orange once it's done syncing.

![sync icon - animate - ease-out](https://user-images.githubusercontent.com/12631777/47280806-c5fa0200-d5f5-11e8-80f3-2d03a9eefa48.gif)

[2018-10-22 06:58] sivcan commented on #4715
Hey @chrisron95, we've updated the app with a fix around this. (v6.4+)
The sync icon now shows an animation when it's syncing and turns orange once it's done syncing.

![sync icon - animate - ease-out](https://user-images.githubusercontent.com/12631777/47280806-c5fa0200-d5f5-11e8-80f3-2d03a9eefa48.gif)

[2018-10-22 07:02] sivcan commented on #4715
@chrisron95 We've updated the app with a fix around this.
The sync icon now shows an animation when it's syncing and turns orange once it's done syncing.

![sync icon - animate - ease-out](https://user-images.githubusercontent.com/12631777/47280806-c5fa0200-d5f5-11e8-80f3-2d03a9eefa48.gif)

[2018-10-22 07:16] 241989himjain opened #5395 "SSL certificate verification"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Option of "SSL certificate verification" is not there in the Postman, earlier it used to have

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Under General section, there is no option for SSL certificate

[2018-10-22 07:53] phillip-haydon opened #5396 "Duplicate tab warns of 'conflicts' and wont go away."
**Describe the bug**
After updating for the first time in... 4 months, I have an annoying popup about conflicts in a duplicated tab that shouldn't appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request
2. Right click and duplicate tab
3. Modify either tab
4. Get annoying popup about conflicts that doesn't go away cos if you hover near the tab it pops up then disappears then

[2018-10-22 08:01] roni-magisto opened #5397 "variable values that are set with collection pre-request script are not replaced/overriden by csv data during iteration run"
**Describe the bug**
I have a collection-level pre-request script that sets a variable (the bug happens even if the script is set at the request-level):

`pm.variables.set('primary_color', '#'+Math.floor(Math.random()*16777215).toString(16));`

in one of my request folders, I have a request that sends the desired variable to the server:

`{ "primary_color": "{{primary_color}}" }`

when I run the r

[2018-10-22 08:17] rafiron commented on #1463
Wouldn't it be better to have a configurability somewhere in the app for this feature. For a lot of folks definitely this feature will be useful. But I many times also use postman to quickly compose curl requests which also require to add auth headers.

Forcing it as temporary header prevents it from coming in the curl request body being composed by postman.

It would be much better to have a conf

[2018-10-22 08:17] rafiron commented on #1463
Wouldn't it be better to have a configurability somewhere in the app for this feature. For a lot of folks definitely this feature will be useful. But I many times also use postman to quickly compose curl requests which also require to add auth headers.

Forcing it as temporary header prevents it from coming in the curl request body being composed by postman.

It would be much better to have a conf

[2018-10-22 08:18] rafiron commented on #1463
Wouldn't it be better to have a configurability somewhere in the app for this feature. For a lot of folks definitely this feature will be useful. But I many times also use postman to quickly compose curl requests which also require to add auth headers.

Forcing it as temporary header prevents it from coming in the curl request body being composed by postman.

It would be much better to have a conf

[2018-10-22 08:25] rafiron opened #5398 "Configurability in marking the auth headers as temporary"
In the newer versions of Postman, authentication headers come as temporary headers and don't come when you try to export them - creating collections or in the `code` section of the application.
More details here [https://github.com/postmanlabs/postman-app-support/issues/1463](url)

I would really like to have a configurability on this. So that when I want to use authentication headers in the reque

[2018-10-22 09:12] numaanashraf commented on #5395
@241989himjain `SSL certificate verification` is only available on our Desktop apps.

[2018-10-22 09:12] #5395 closed, assigned to nobody

[2018-10-22 09:12] numaanashraf commented on #5395
@241989himjain `SSL certificate verification` is only available on our Desktop apps.

[2018-10-22 09:15] numaanashraf opened #5399 "form-data file src not added to generated code"
form-data file src is not added to generated code

[2018-10-22 11:38] leightonthomas opened #5400 "A 204 No Content does not update the Preview tab"
**Describe the bug**
If you've already made a request that had a preview then it won't update when making another request that results in an empty response (204 No Content)

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request to an endpoint that has a preview-able response
2. Click on the "Preview" tab in the Response section
3. Make another request to an endpoint that returns 204

[2018-10-22 12:00] sivcan opened #5401 "History in browse view doesn't refresh"
**Describe the bug**
The history tab in browse view doesn't refresh

**To Reproduce**
Steps to reproduce the behavior:
1. Send a few requests so that history has some data
2. Switch to Browse View (Cmd + .)
3. Click on History (You should be able to see the history's data)
4. Switch back to Build View and click on 'Clear All' and clear the history
5. Switch to Browse View and go to History tab
6.

[2018-10-22 12:58] kamalaknn commented on #5400
Hey, thanks for reporting this.

We have identified this and have a fix ready for this internally. We will push it out as part of the next release.

I'm closing this issue because this is a duplicate of #2950 You can follow the original thread for updates.

Thanks

[2018-10-22 12:58] #5400 closed, assigned to nobody

[2018-10-22 13:24] hardcorenik commented on #1678
PLEASE COME ON! Implement this feature :)

[2018-10-22 13:42] harryi3t opened #5402 "Creating a new collection gets removed automatically if the App was in syncing state"
**Describe the bug**
When App is in syncing state, creating new collections or environments get removed automatically. This only happens only the first time after opening the App.

**To Reproduce**
Steps to reproduce the behavior:
1. have a team workspace shared with another member
2. quit your app in that team workspace (so that next time it will open in that workspace)
3. ask your team member to

[2018-10-22 13:57] maclir opened #5403 "Curl code does not include Auth header"
**Describe the bug**
I have auth setup on my request to use the bearer token and when I want to copy the curl code, it does not include the auth header. It only includes the headers which are explicitly listed under headers.

**App information (please complete the following information):**
 - App Type: Native app
 - Postman Version: Version 6.4.4 (6.4.4)
 - OS: macOS Mojave

[2018-10-22 15:49] dallyingllama opened #5404 "imported numeric value different then the value being imported"
## App Details:

[code]
## Issue Report:
I have noticed the following problem when importing a specific value from a csv file to use in a data driven test.

### CSV File
The csv file is simple. The maximum valid value for my test is java long, which is
9223372036854775807 so this is what is in my csv file.

![csvdata](https://user-images.githubusercontent.com/10049458/47301910-66651c00-d620-11e8-9

[2018-10-22 16:09] dupiesdupreez commented on #4763
+1

[2018-10-22 17:03] chrisdeso commented on #5189
@SamvelRaja Friendly bump :)

[2018-10-22 18:36] JoaoGFarias commented on #5199
I don't know if you can do it with Postman, but calling a shell script would be sufficient to leverage your favorite tool to run the DB scripts (A Python/Java script, e.g.).

[2018-10-22 19:06] sujayvenaik commented on #5403
Hey @maclir
I can confirm this as a bug, and have worked out a fix for this internally which will be rolled out with the next release.

Thanks for writing in and reporting this.

[2018-10-22 20:21] mehdichati commented on #3117
+1 , for this feature , for any assumed professional API (required/ optional) input field is mandatory.

thanks for your help.

[2018-10-22 20:21] JP-from-Postman opened #5405 "Data Export via Settings > Data is using v1 schema instead of current"
(Reported by @kanaskik)

Exporting user data via Collections > Export supports v2.1 schema (_expected)) as well as older formats

Exporting via Settings > Data exports only in v1 schema (_not expected_)

@kanaskik reported issues importing v1 schema into v6.4.4 (stable), but was able to workaround it by reverting to v5.3.2, importing, and then updating to v6.4.4.

[2018-10-22 20:36] rscadrde commented on #4355
You can use https://github.com/quaddy-services/escape-from-intranet
in your app you specify "localhost" as proxy and escape-from-intranet forwards to the corporate proxy adding the credentials.

[2018-10-22 21:35] mehdichati commented on #3142
+1 for me too

[2018-10-22 23:41] emanuelhonorio commented on #2096
my "?" is **alt gr + w** and it closes the tab in postman, so every time i try to pass a parameter in a url it closes...

[2018-10-23 00:16] JP-from-Postman opened #5406 "Deleting a workspace makes associated monitors inaccessible in dashboard"
When a workspace is deleted: any monitors that were associated with it still run, but are no longer accessible in the Postman dashboard (https://go.postman.co/me/monitors) and can only be deleted.

Clicking on an "orphaned" monitor in the dashboard lands on an error page specifying that the monitor is not a part of any workspace. This does not appear to be a user-recoverable state via either the D

[2018-10-23 08:17] maclir opened #5407 "Generated cURL uses unselected variables from environment"
**Describe the bug**
When you select **code** to get the curl equivalent of the request, and you are using a variable (e.g. endpoint). If you have multiple variables with the same name but have the lower indexed one unselected, it still uses the one that is positioned in the list, even if it is unselected.

**App information:**
- App Type: Native app
- Postman Version: Version 6.4.4 (6.4.4)
- OS:

[2018-10-23 08:49] numaanashraf commented on #5405
@kanaskik could you share what issues you faced importing v2 schema in v6.4.4?

[2018-10-23 08:55] numaanashraf commented on #5397
@roni-magisto This is intended. `pm.variables.set` sets variables in a local scope which has more precedence than data variables coming from csv. Ref: https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables#variable-scopes

[2018-10-23 08:56] #5397 closed, assigned to nobody

[2018-10-23 09:30] numaanashraf commented on #5392
@rajibr79 This is not supported yet. We are tracking this suggestion at #1228.

[2018-10-23 09:30] #5392 closed, assigned to nobody

[2018-10-23 09:32] numaanashraf commented on #5388
@loopDelicious are you able to replicate this with any collection? or only with Postman Echo?

[2018-10-23 09:36] Karnauj opened #5408 "Data Driven Testing through Array input values"
**Need**
I have a test for which I have parameterized the values of the request. That test would be needed to be re-executed in a Data Driven approach.

**Current situation**
Currently, that situation might be completed using the following approaches, without having to copy and paste the test (which would not fulfill DRY principles)
    - Alternatives:
1. - **Several Runners or commands through Ne

[2018-10-23 10:15] Sofianio commented on #1678
Apparently, adding a little "get" & "post" colored tags to the tab bar along with 999 other trivial changes are more important than the count of array children which we actually care about.
... Disappointed

[2018-10-23 10:23] QAQblinks opened #5409 "Postman Console not launching after switching account"
**Describe the bug**
If the Postman Console is opened while switching account in app, the console disappear and unable to re-open.

**To Reproduce**
1. Open Postman Console
2. Switch account
3. Postman Console disappear and neither the ui button on bottom left nor the opt+cmd+C shortcut is able to re-open it

**Expected behavior**
Postman Console should be able to be open after account switching.

[2018-10-23 11:28] harsh-reality opened #5410 "Postman app screen goes black"
**Describe the bug**
Postman is usually unusable as it goes completely black when switching between windows. Sometimes, it also freezes the window when doing something like double-clicking on a text field.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Switch between any other open window on screen
3. Try going back tot he Postman app, it throws a blank screen
4. Error:
- More d

[2018-10-23 11:36] rajmantechnology commented on #5393
Hello,

We are using this code to download the pdf file but we are getting problem.
i want when i hit this route then pdf file will download.
But when i hit this api in postman and click on the download button then
pdf file download. So i wnat to download the pdf file with data.

router.get('/demo',function (req,res){
async function getinvoicelist(){

 var chunks = [];
 var options = { method: 'GE

[2018-10-23 12:33] ohbibi-glacava opened #5411 "No HTTP response status code displayed on custom error code"
**Describe the bug**

Until v6.3, all http response status code was displayed on Postman
Since 6.4.4, only succes or generic error code ( like 401,404...etc) was displayed. All other status code wasn't displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request which return a custom error code ( like 600, 601, 602....)
2. Click on 'Send'
3. Watch de status of the response
4.

[2018-10-23 12:48] DonnaAnnIssac commented on #6682
+1

[2018-10-23 13:13] YOU54F commented on #675
Ola @kunagpal - What is the latest update on this?

I was looking at using Postman/Newman for enterprise level testing 4 years ago however the inability to add custom test snippets, means test script maintenance is an absolute nightmare and we had to move to other frameworks.  (Each postman saved request stores the test script in a single key/value pair in the json file)

It is a huge blocker, and

[2018-10-23 14:06] abrahamduran commented on #1678
What's really funny is how they removed the `Usability` label 😂
If this is not a good fit to be used, then I don't know what it is.

[2018-10-23 14:17] amedhat3 opened #5412 "[HELP] Postman data are all gone due to clicking on another version of the app by mistake"
Using Mac OS Mojave, Postman Version 6.4.4, I had the application working fine, clicked on an old version of the Postman app (5.4.1) by mistake, then suddenly all of my collections and history are gone, I don't have the sync on, is there any way to get my data back?

If there is no way to retrieve my data back, can you please fix this issue?

[2018-10-23 14:50] ivanh03 commented on #4552
it would be really useful

[2018-10-23 15:04] bojannyc opened #5413 "POST request works from browser but not from postman"
I have post request (http://localhost:3000/api/customer/new?name=test&addressdf=test)  that works fine from the browser, but POstman returns 404 not found. Any idea?
Note: this is nodejs seneca based service to add a new customer to Mongdb

The GET request (http://localhost:3000/api/customer/list) works fine from Postman

[2018-10-23 15:46] yapily-gkatzioura opened #5414 "Importing example with body displays empty body when re-importing"
I create an example for one of the requests of my postman collection. Then I export the collection. By importing the collection again the body is empty.

**Steps to reproduce**
Create a collection
Create a POST request with a raw body.
Add an example with a raw body different from the original.
Export the collection.
Import the collection from the json file.

**Expected behaviour**
Example display

[2018-10-23 15:53] GregoryPellegrin commented on #4142
we really need this guys, add a Monospaced font please

[2018-10-23 16:44] JP-from-Postman commented on #5405
@numaanashraf just clarifying / making sure: reported issue was with importing v1 schema, not v2.

[2018-10-23 17:59] JP-from-Postman commented on #5406
Same issue @Ramyasri1212 reported here: https://github.com/postmanlabs/postman-app-support/issues/5360

[2018-10-23 18:49] aaron-sua commented on #971
While having external API setup to generate data, having this built in to Postman/Newman would be much better for me.  Working on building out infrastructure to do performance testing and generating data for more than 1000 requests a second.  Having a server I need to performance test to get to running performance tests seems ... overly complicated.

[2018-10-23 19:09] ansorensen opened #5415 "Environment variable not being resolved while sending the request"
I the same issue when i execute "{{endpoint}}/api/sequences/"

Could not get any response
There was an error connecting to %7B%7Bendpoint%7D%7D/api/sequences/.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL certificate verification' in Settings > General
Prox

[2018-10-23 19:34] cwdcwd commented on #4186
6.4.4 on mac. Same issue. removing the no-cache and postman tokens didn't help for me with AWS API gateway

[2018-10-23 19:40] davidbeers opened #5416 "Setting to "Automatically persist variable values" does not do so"
**Describe the bug**
We are using Postman on Ubuntu 16.04 in a team environment. We have a very large suite of tests that were created with Postman version 5.3.2. Running with latest (6.4.4) the suite has problems with persisting environment variables from. Have tried toggling Persist Variables in the settings per [this support issue](https://github.com/postmanlabs/postman-app-support/issues/4357)

[2018-10-23 20:13] a85 commented on #5416
5.3.2 is not supported any more. However, all tests are backward compatible. So is the "Persist variable setting to make things backward compatible with people who rely on coupled tests across collections - which they ideally should not be doing but anyway. Execution of the test suite itself does not have to do anything with the setting. Please clarify what exactly is the problem what the persisti

[2018-10-23 20:26] AkshataNH commented on #3895
I am seeing the same issue in my Postman and I have version 6.4.4, and I guess this is the latest version.

[2018-10-23 21:00] kurtkanaskie opened #5417 "6.4.4 does not load 5.3.2 backups correctly"
Upgraded to 6.4.4, local data was purged because I wasn't logged in (separate issue).
Importing backup from 5.3.2 doesn't load correctly, drops collections and almost all raw data for POST requests is gone. My backup is 16 meg.
Going back to 5.3.2 un-synced, really disappointed.

[2018-10-23 21:34] red1laref commented on #1475
+1

[2018-10-23 21:37] chrisdeso opened #5418 "Add XML/XSLT to Code Generation in-app/documentation"
**Describe the solution you'd like**
Please add XML/XSLT to the code generation feature.

[2018-10-23 22:30] JP-from-Postman opened #5419 "Web documentation view doesn't parse tables if bullet list comes after"
User report:

Support notes:

The above markdown table renders as shown in the attached screenshot. Removing the two bullet points trailing the table allows the table to render correctly.

![postman_wrong_parse_table](https://user-images.githubusercontent.com/43283131/47394560-37aa7c80-d6d8-11e8-9551-8c01e7557eac.jpg)

[2018-10-23 23:52] mashimaroa15 commented on #4009
Without the number of +1, how can Postman team know which feature that is important to their fans? Although it depends also many other aspects like workforce, feasibility regarding existing code structure... In short, it's not meaningless for me

+1 for this feature

[2018-10-23 23:54] jhpratt commented on #4009
@mashimaroa15 Use the "reactions" feature, where you can add a thumbs up on the original post. You don't need a separate comment.

[2018-10-24 03:54] kntmr commented on #5203
I think that the scrollbar of the main window is not necessary. It might be better to fix the response-pane in the main window.

For example:
![postman](https://user-images.githubusercontent.com/1657438/47405617-5fa7e780-d78d-11e8-8caa-e7d457fc6d5c.png)

[2018-10-24 04:24] lirenwang commented on #3813
@AnkitKabra20 I am also experiencing the same problem. Have you already got a solution?

[2018-10-24 06:46] kamalaknn commented on #3895
Hi @AkshataNH, I just tried this flow again. I could see that user specified header is overridden by the Authorization helper added by Postman, which is the expected behavior as explained by the messaging.

Are you not seeing this work as expected? Could you give a screen recording or a collection that would reproduce this issue?

[2018-10-24 07:40] sivcan commented on #5415
@ansorensen This issue looks similar to https://github.com/postmanlabs/postman-app-support/issues/5039

Can you follow the [instructions](https://github.com/postmanlabs/postman-app-support/issues/5039#issuecomment-415727976) as mentioned by @harryi3t and you can read along  in the thread if your issue is the same.

Feel free to reopen incase your issue is different.

[2018-10-24 07:40] #5415 closed, assigned to nobody

[2018-10-24 07:43] numaanashraf commented on #5413
@bojannyc You can use the Postman Console to troubleshoot your issue - https://learning.getpostman.com/docs/postman/sending_api_requests/debugging_and_logs#network-calls-with-postman-console

[2018-10-24 07:46] numaanashraf commented on #5417
@kurtkanaskie We do not recommend going back to 5.x versions after you update to a 6.x version. The data we store locally in your system is not compatible across moving back Postman versions. Please share your backup file to help@getpostman.com and we can take a look at why the 5.x backup is not working correctly for you in 6.x apps.

[2018-10-24 07:51] numaanashraf commented on #5408
@Karnauj Thanks for writing in. Have you tried running multiple iterations via Runner driven by data from a data file? https://learning.getpostman.com/docs/postman/collection_runs/working_with_data_files

[2018-10-24 07:53] numaanashraf commented on #5412
@amedhat3 Do you have a postman account and is all your data synced?

[2018-10-24 08:30] kamalaknn commented on #5414
Hi @yapily-gkatzioura

Thanks for reporting this. We've identified the root cause of this in the example request having inconsistent data with `form` body and `raw` body.

We'll push out a fix for this in the next release.

[2018-10-24 08:56] pineapplemachine commented on #5323
I am having a similar problem. I am testing a web application that provides a login endpoint (which creates a cookie) and endpoints which require authentication (i.e. that cookie).

I am running postman on OS X 10.9.5.

This old version of postman works as expected. The cookie is saved and authentication with the server is successful.

[code]

This current version of postman does not work.

[code]

[2018-10-24 09:12] Nyjaski commented on #3312
+1

[2018-10-24 09:50] Karnauj commented on #5408
@numaanashraf Thanks for the quick reply. I understand that I could perform this strategy with the Runner (or Newman) -like I explained in point 1- but the test maintenance could get very messy very quickly, specially if independent files and runners need to be maintained for each of this executions.

I believe Runner approach is more similar to that of a performance tool, rather than a functional

[2018-10-24 09:57] ykz89 opened #5420 "Body of a response with status code 204 contains strange characters"
**Describe the bug**
I created a route in Lumen which responds with status code 204 and no content.
When I send this request in Postman v6.4.4 however I receive a body
[code]
**Expected behavior**
An empty body

**Screenshots**
https://imgur.com/a/Ayjjusq

**App information (please complete the following information):**
 - Lumen Version 5.4
 - Postman Version 6.4.4
 - OS: Windows 10 Pro

**Additio

[2018-10-24 10:04] sujayvenaik commented on #5420
Hey @ykz89
Can you confirm me that this was working in 6.3 version?

Also, can you send a screen recording of the complete flow you had, or send the response headers?

[2018-10-24 10:13] SoulElle opened #5421 "Addressing folders with the same name in newman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Problem**
My collection has folders and subfolders as follows
* /endpointA
** POST
** GET
* /endpointB
** POST
** GET

Now, I'd like to run requests from folder /endpointA/POST and /endpointB/GET using newman which appears to be impossible since w

[2018-10-24 10:20] codenirvana commented on #5421
@SoulElle Multiple folders can be specified by using `--folder` multiple times.

In your case, since the folder name is not unique you can use the following options:
`--folder <UUID of endpointA/POST --folder <UUID of endpointB/GET>`

[2018-10-24 10:42] ykz89 commented on #5420
[These](https://imgur.com/a/eV5caNo) are the response headers.
I am unable to confirm if this was working in 6.3 since I only tried this is the latest version.

[2018-10-24 10:46] gdomo commented on #2263
Still able to reproduce
Postman 6.4.4
Ubuntu 18.04.1 LTS

http://{{host}}{{port}}/api/v3/queries/абвгдеёжзийклмнопрстуфхцчшщьыъэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЬЫЪЭЮЯ

turns in
GET /api/v3/queries/012345Q6789:;<=>?@ABCDEFGHILKJMNO !"#$%&'(),+*-./ HTTP/1.1

![image](https://user-images.githubusercontent.com/38424025/47425485-19ee1d80-d793-11e8-90eb-2bf668378fae.png)

[2018-10-24 10:50] gdomo commented on #3778
Postman 6.4.4
Ubuntu 18.04.1 LTS

 `абвгдеёжзийклмнопрстуфхцчшщьыъэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЬЫЪЭЮЯ`

turns in
`012345Q6789:;<=>?@ABCDEFGHILKJMNO����������������� !"#$%&'(),+*-./`

Example:
![image](https://user-images.githubusercontent.com/38424025/47425582-70f3f280-d793-11e8-9302-a39699a9a2f3.png)

[2018-10-24 10:51] numaanashraf commented on #5323
@pineapplemachine Could you give us more information regarding the problem? Are the cookies not saved to the app after the first login call? (you can check this via Manage Cookies dialog). Or the saved cookies are not sent in the subsequent call?

[2018-10-24 10:54] jentyk commented on #4009
+1

[2018-10-24 10:57] SoulElle commented on #5421
@codenirvana Hmm, last time I checked, Postman doesn't have UUIDs for folders.
At least the exported collection.json doesn't have the id property for folders or am I missing something? In other words, how can I find out the folder's UUID?

[2018-10-24 11:24] mohit-sentieo opened #5422 "Default Values in API when running in collection runner in Runner"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
When we are using a data file to run tests while in the collections runner, we use variables in our code like ` {{name}} `which come from the data file. However when running this api in the Build window there is no way to supply

[2018-10-24 11:33] bpconfigit commented on #5396
I have the same issue, when duplicating a tab, it seems that it still works on the same entity, and every change in different tabs, leads to changes in the original entity.

As a workaround, I have started to duplicate from my collections, and then opening the tabs, which does work (the differences seem to be that the title gets the `Copy` appended when duplicating from the collections, but duplic

[2018-10-24 11:41] kurtkanaskie commented on #5417
I'm using my Oct 1st backup which was done with 5.3.2.
I'm not able to share the file for security reasons.
I'll try to isolated the issue with a subset.

[2018-10-24 11:44] Ramya-From-Postman opened #5423 "Team Workspace showing some of the duplicate collection of my personal workspace"
Extra collection folders from my Personal workspace are showing up in my Team workspaces until I restart app.

Starting in the Team workspace with a single collection "Collection Before Bug" image. I then move into my personal workspace, where the bug shows some collections duplicated above my favorites. These duplicated collections then show up in every workspace until I restart the app.
I'm runn

[2018-10-24 12:52] kurtkanaskie commented on #1066
+1

[2018-10-24 13:23] jasonye opened #5424 "Error while importing cURL with --compressed option"
failed to import raw text from Charles Request.

Example:
[code]

[2018-10-24 13:45] codenirvana commented on #5421
@SoulElle You are right, `id`s are not added in the exported `v2` collection formats 😞.

As of now, you can either rename your folders to have a unique name or add UUIDs manually in the exported collection.

[2018-10-24 14:20] lloydmoran commented on #2734
Would love to see a fix for this.

[2018-10-24 14:42] jc-vogel commented on #1667
when will the interceptor be implemented? The chrome extension is still available, but the app only gives the opportunity to use the proxy.

[2018-10-24 15:33] ryanharmaning commented on #2366
Any further update on this? We also spent a couple hours debugging our app to find this was the issue. We have a manual work-around, but it prevents us from automating a test suite for our particular scenario.

Currently running  Postman 6.4.4 Mac (High Sierra)

[2018-10-24 15:58] mattmiddlesworth commented on #5423
signing out and signing in has currently fixed this issue for me.

[2018-10-24 16:11] vgaddavcg commented on #2494
+1

[2018-10-24 16:12] erichurkman commented on #3302
Just hit this too. If the console isn't an accurate representation of what's actually being sent, what use is it? Being able to see the raw request being sent should be a basic thing.

[2018-10-24 16:17] AkshataNH commented on #3895
Thats fine you can resolve this issue

On Wed, Oct 24, 2018, 2:46 AM Kamalakannan <notifications@github.com> wrote:

[2018-10-24 17:40] avasenin opened #5425 "recaptcha v3 doesn't work on oauth2 login in postman native app"
**Describe the bug**
We are using OAuth2 as an authorization to get access token. To get token in OAuth2 you open /authorize endpoint first, perform login flow, get tokens in redirect url.

In our login flow we are using a reCaptcha v3. reCaptcha works in all tested browsers but doesn't work when we open login flow in Postman.

Postman can not load the all JavaScript related to reCaptcha v3 web wo

[2018-10-24 17:40] drmcclelland commented on #4594
This same workaround by @InnovationGB worked for me - I was having this same issue with Postman 6.4.4 installed on Windows Server 2012 R2 box that I have to connect to using Remote Desktop.

[2018-10-24 17:52] jpoints commented on #1014
Delete All Collections would be nice, I like to clear my workspace from time to time. I feel the UI gets clunky when there are too many collections. Also, I go back and forth between postman and newman, so my collections are officially stored within the newman code base. So I am not worried about lost data.

Workspaces might solve it, but I might have a workspace setup the way I like, but I may wa

[2018-10-24 17:53] gintautassulskus opened #5426 "Import with "schemes":["http","https"] always results in "https""
**Is your feature request related to a problem? Please describe.**
Importing a swagger scheme with `"schemes":["http","https"]` always results in a hardcoded `https`, e.g. `GET https://localhost/endpoint`. There is no built-in option to switch from `https` to `http`.

**Describe the solution you'd like**
Add protocol part as a variable, e.g.
`GET {{protocol}}://localhost/endpoint` which could then

[2018-10-24 19:23] ayZagen commented on #2701
this should be planned

[2018-10-24 19:34] NPM8 commented on #1475
+1, still no update?

[2018-10-24 20:32] LaikaFusion commented on #4703
I can confirm that postman-bin works as @sahalsaad said. I am also on Manjaro (4.14.78-1-MANJARO)

[2018-10-24 20:34] slaman75 commented on #4677
Do you have an update for when this will be released?

[2018-10-24 21:52] JP-from-Postman commented on #5419
Reported by: @rjpcomputing

[2018-10-24 23:04] me89 commented on #4009
What a rebellion here. Stand up and fight for this feature :D

[2018-10-24 23:23] a85 commented on #4009
Folks, We use websockets as well and need Postman for Websockets to test Postman. I don’t have an update right now but we are building plans for supporting this.

Also, we are hiring and expanding fast. So if any of you are interested in helping us build this, let me know! ;)

[2018-10-24 23:45] JP-from-Postman opened #5427 "Some monitor runs are delayed by up to a few hours"

[2018-10-25 02:15] ADaniel-dev commented on #798
i need postman read my large of test cases from csv, the csv filles contains URL, header, body and expeccted responses to assertion.  i hope pm can make it.

[2018-10-25 02:53] JChinoz commented on #4790
Having this same issue. Unable to remove existing user

[2018-10-25 03:29] jaypozo commented on #5093
I'm having the same issue on Ubuntu 16.04. I've downloaded the latest files and still have the issue.

[2018-10-25 05:03] mohit-sentieo commented on #1180
+1 on this

[2018-10-25 05:29] chrisdeso commented on #4142
Bump – we'd love to see the ability to change font size and colors as well.

[filed by postman]

[2018-10-25 05:45] #2082 closed, assigned to a85, sujayvenaik

[2018-10-25 07:31] pineapplemachine commented on #5323
@numaanashraf Here is a series of screenshots as I go through the process.

Initial state: No cookies.

![image](https://user-images.githubusercontent.com/7266412/47482925-93901500-d840-11e8-92a3-e48582ee5c4c.png)

Login request is successful. A cookie comes back in the response.

![image](https://user-images.githubusercontent.com/7266412/47482963-b0c4e380-d840-11e8-904b-4c4730cef78d.png)

"Manage

[2018-10-25 08:33] pernielsentikaer commented on #5286
I have the same issue - trying to import this:
`curl 'https://test.dk' -H 'Origin: https://test.dk' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: en-US,en;q=0.9,da-DK;q=0.8,da;q=0.7,mt;q=0.6' -H $'Cookie: CookieTestConsent={stamp:\'tzfBqDpUsH4NEDbuq3dfjNxmrefdsfdsFSDFb3Q9ueTrxDHcoRErUYgsonbCRNQcLA==\'%2Cnecessary:true%2Cpreferences:true%2Cstatistics:true%2Cmarketing:true%2Cver:1}; _

[2018-10-25 08:34] mohit-sentieo commented on #2401
+1 for friendly ids

[2018-10-25 09:04] emilianobonassi commented on #5335
any updates?

[2018-10-25 09:13] ankit-m commented on #5335
@emilianobonassi We are working on this. I will post updates on this thread. Apologies for the delay in response.

[2018-10-25 09:27] Ramya-From-Postman opened #5428 "Unable to remove card if the payment fails while upgrading to paid plan"
Hi,
While upgrading from a free to paid plan, after adding the card details if the payment is failed for some reason. It is not possible to go back & remove the card as it says "I don't have permission to access the billing page. Please fix this behavior.

![image](https://user-images.githubusercontent.com/40994626/47490327-22635880-d866-11e8-8cd8-d1f601c67e73.png)

[2018-10-25 09:39] m4rcinkowski commented on #5410
Thanks for addressing the issue. If you ever need additional help with debugging it remotely, just mention me and I'll do my best.

[2018-10-25 09:40] galbarm commented on #5029
This happens again in 6.4.4.
Take the json from above, import it, the request body of the example is empty.

[2018-10-25 10:05] ghost commented on #2559
I have this issue with version 6.4.4, creating dummy environment didn't help...
Removing it and installing again fixed it. No need to change anything in ${HOME}/.config/Postman

[2018-10-25 11:14] harsh-reality commented on #5410
Certainly, @szoper. Either me or someone from our team will reach out for help if needed while debugging this!

[2018-10-25 12:43] robertpiska commented on #3306
Hi @kamalaknn, you have marked all the sorting requests as duplicate of another request and no one is done

[2018-10-25 13:28] dromer commented on #2452
Since I'm currently unable to make the pre-request script work for refresh-tokens I'd also like to emphasize the importance of this in the oauth2 workflow.

[2018-10-25 14:37] chandranmarimuthu opened #5429 "Existing Collection request not renaming with changed URL"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Collection'
2. Click on 'saved request url'
3. Change request URL
4. Click save
5. Request URL changing at back-end

[2018-10-25 15:30] Bauerna commented on #5391
Hello!

This would be a really awesome addition for us, we have several use cases where we would like to generate that interactive button dynamically 👍

[2018-10-25 15:36] prashantagarwal commented on #5391
@Bauerna I would like to know about your use case. Postman's generated documentation already has one 'Run In Postman button' which is already upto date with you latest version of collection. Is there any other use case that can't be solved using this.

[2018-10-25 16:03] GregoryPellegrin commented on #3574
This problem is still active on 6.4.4

[2018-10-25 16:04] GregoryPellegrin commented on #2228
This problem is still active on 6.4.4

[2018-10-25 16:04] GregoryPellegrin commented on #373
This problem is still active on 6.4.4

[2018-10-25 16:58] a85 commented on #1429
Folks, we found some issues in the previous implementation so this had to be taken out of the production builds. Good news is that this is finally done and coming out in 6.5. Releasing over the next 2 weeks!

[2018-10-25 16:58] a85 commented on #166
Everyone: this is going to be out in 6.5 soon releasing over the next 2 weeks!

[2018-10-25 16:58] a85 commented on #2729
Everyone: this is going to be out in 6.5 soon releasing over the next 2 weeks!

[2018-10-25 17:00] a85 commented on #622
Everyone: this is going to be out in 6.5 soon releasing over the next 2 weeks!

[2018-10-25 17:02] #5064 closed, assigned to vkaegis, kamalaknn

[2018-10-25 17:02] a85 commented on #1710
Everyone: this is going to be out in 6.5 soon releasing over the next 2 weeks!

[2018-10-25 17:16] harryi3t commented on #131
This is out on our [latest canary](https://www.getpostman.com/canary) channel and will be released with the next production version 6.5.0

[2018-10-25 17:52] davidbeers commented on #5416
Sounds like I misunderstood and that the intention is to maintain 100% compatibility of old tests to new versions of the runtime. So, thank you for that! I don't remember where I read the comment that gave me this false impression.  But I do think I've found the problem with the new runtime that is giving us trouble.

Our application involves two services that share a database: one is write-only a

[2018-10-25 18:00] gpattersonm opened #5430 "Request text not wrapping when changing pane size"
## App Details:
[code]

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Recently
 2. Expected behaviour: Request Body tab contents should adjust when changing the Request/Response pane width (two pane view).
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for

[2018-10-25 18:09] davidbeers opened #5431 "Native Linux Postman freezes up Ubuntu system"
**Describe the bug**
After running Postman for a while (usually an hour or more) the screen begins to break up with odd video artifacts. Usually I'm not able to interact with the OS at this point and must perform a forced reboot of the system to get back to work.  This only happens when Postman is running. If I'm using Postman throughout the work day it usually occurs about twice a day. I've watch

[2018-10-25 18:28] harryi3t commented on #166
For users who would like to try this feature out early, it's available on our [canary channel](https://www.getpostman.com/canary)
![ezgif com-optimize](https://user-images.githubusercontent.com/5207331/47521835-adb60b80-d8b1-11e8-9752-889aff49415e.gif)

[2018-10-25 18:56] akshitzaveri commented on #4101
+1

[2018-10-25 19:17] DiegoSuzuki commented on #166
Esta ferramenta está ficando perfeita!

[2018-10-25 19:18] josezeta commented on #2240
Is there any deadline or something for this feature?

[2018-10-25 21:32] gnunes76 commented on #5410
Hi people. Thank you for addressing this issue. I hope this is corrected soon. Thank you all.

[2018-10-25 22:53] Ramin-Bateni commented on #4594
I had the same problem on **Win 8.1** with **Postman 6.4.4** and adding the **POSTMAN_GPU_DISABLE = false** solved my problem too.

[2018-10-26 04:19] harryi3t commented on #166
@DiegodeOliveira Did a quick google translate
Loved your comment (I hope the translate was correct 😄)

<img width="634" alt="esta_ferramenta_esta_ficando_perfeita__translate_-_google_search" src="https://user-images.githubusercontent.com/5207331/47544281-cc44f280-d903-11e8-87cc-ea638f2e4d80.png">

[2018-10-26 04:28] DiegoSuzuki commented on #166
Está correta
Use novamente o Google Translate XD, comentar em português foi um pequeno estimulo ;D Há muitos brasileiros utilizando esta ferramenta. Parabéns pelo trabalho!

Há alguma forma de utilizá-la para testes de carga? Algo equivalente ao Jmeter?

[2018-10-26 04:29] godfrzero commented on #5322
The fix was pushed out, but it was causing some performance issues. I've rolled it back for now, and I'm working on something else I can push out to address this issue. I'll update here once it's ready to go with an ETA.

[2018-10-26 04:33] kamalaknn commented on #622
Hey everyone,

This feature is now available for early access on our canary channel - [link to download](https://www.getpostman.com/canary).

Do try it out and let us know. We would appreciate feedback on this.

[2018-10-26 05:15] Dil-nlaycock commented on #4898
The loss of this feature is also impacting me a lot. I used to be able to use bulk edit to easily copy environment config, find and replace (either by eye, as I could see all the values, or CTRL+F find) and then I have my new environment config.
Now I either do it painfully within the UI, clicking each value to look for my replacements, or export as json and edit it externally before importing as

[2018-10-26 06:43] mattmiddlesworth commented on #5423
The issue came up again since signing out and in. I've sent @Ramya-From-Postman the logs when it happened.

[2018-10-26 07:25] millan-QL commented on #2859
To save response of an API request to a `CSV` file or a `.txt` file, **newman run** solution:

`newman run your_collection_file.json --export-environment ./output.txt`

_Here is a bit more loaded version of above command_

`newman run your_collection_file.json -e env.json -d input_data.csv --export-environment ./output.txt`

collection file: `your_collection_file.json`
Environment file: `env.json`

[2018-10-26 07:28] sivcan commented on #2859
@millan-QL This is a great explanation!
Also, here's a Postman app solution to write responses to file (file extensions can be changed - project tested with CSV and JSON) and it's very easy to integrate with everyday workflow.
https://documenter.getpostman.com/view/3407886/RWgp1fB5

[2018-10-26 07:56] cedx commented on #4800
Same issue here. No idea how that happens (like @dennisslavid , this happens randomly).
More annoying : if I delete one of the duplicated request, on the next app start, the two requests are deleted!

I use two instances of the Postman app : a Windows one at my work, a Linux one at my home. It seems that this issue occurs when I create a request on one of the two apps, and the sync is triggered on

[2018-10-26 09:47] abhijitkane commented on #5423
@mattmiddlesworth This might be due to ID clashes in the "Postman Echo" collection - can you check if this is solved by asking your team members to remove this collection from their workspaces? This was a legacy collection that we used to insert into Postman to help showcase its capabilities, but isn't needed anymore.

[2018-10-26 09:58] amedhat3 commented on #5412
@numaanashraf unfortunately no

[2018-10-26 12:17] ajijshaikh opened #5432 "on sending post request with json data with multiple global variable json content shown as null"
PFA collection url - https://www.getpostman.com/collections/e1ca0fb2894cb6390c16

**Describe the bug**
I have created 2 global variables - 1. randomId ,  2. token_name but when  I pass that in the body for  post request then it shows json : "null"

[2018-10-26 13:03] harryi3t commented on #5416
@davidbeers You mentioned several (but related) issues. Let me answer your queries one by one

### 1. Problem with sharing state between requests

If you would like to share some state between requests and do not want to persist it, I would recommend using local variables instead of environment variables.

So, Instead of
[code]
You can use
[code]

### 2. The checkbox `Keep variables` in Runner has

[2018-10-26 15:05] pankajbsn opened #5433 "Postman 6.4.4 not opening on Windows 8.1 64 bit"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
Postman 6.4.4 not opening on Windows 8.1 64 bit

**To Reproduce**
1. Install postman 6.4.4. It will open after some time.
2. Close postman and then launch it again
3. Postman blank window launches but then it gets stuck forever.

[2018-10-26 15:26] gioccher commented on #2182
Hi, are there any updates on this?
I'm trying to override the Host header, and Postman v6.4.4 and v6.5.0-canary01 on Windows are ignoring it.
Thanks

[2018-10-26 15:40] steckdev commented on #4353
Can we either re-open this issue or create another issue for this  behavior. Please update this ticket properly. Unless there is a known work around for this.

[2018-10-26 15:47] mattmiddlesworth commented on #5423
@abhijitkane removing the shared collections from my personal workspace and adding them back looks to have fixed the issue. Thanks!

[2018-10-26 16:21] pc-rshetty commented on #1667
i am going back to the chrome plugin since without the interceptor this native app is useless

[2018-10-26 16:35] BrandonCopley commented on #1667
+1

On Fri, Oct 26, 2018 at 11:21 AM pc-rshetty <notifications@github.com>
wrote:

--
--
[image: Giftnix]

Brandon Copley

Founder & CEO

t: 512.784.6060 <(512)%20784-6060>

e: copley.brandon@gmail.com

[2018-10-26 18:50] dbkaynor commented on #4898
ME TOO!!!!!!

On Thu, Oct 25, 2018 at 10:15 PM Dil-nlaycock <notifications@github.com>
wrote:

--
Douglas B Kaynor
doug@kaynor.net

[2018-10-26 19:42] jpoints commented on #4320
Can we be allowed to use variables from the environment for the file path, and save the variable to src. That is where we store tokens and passwords, so I do not see how that can be any less secure.

That will also allow it to be used with newman without storing the path to the collection.

[2018-10-26 20:21] mcready85 opened #5434 "eBay API Token Type of User Access Token not allowed"
I've followed other threads on how to set up eBay API in Postman using OAuth 2.0 authentication type but upon clicking "Request Token" button a token is generated but I am unable to select "Use Token" button. Token Type is highlighted in red and reads "Only bearer token types are supported."

Does this mean Postman does not work with eBay's API? I am using Native App on Windows 10.

![capture](htt

[2018-10-26 21:17] chrisdeso commented on #5212
Friendly bump!

[2018-10-26 22:09] AnkitKabra20 commented on #3813
no. you cannot send it using postman script.

On Wed, Oct 24, 2018, 12:24 AM lirenwang, <notifications@github.com> wrote:

[2018-10-26 23:01] sebadiaz-arg commented on #3302
Hi, in the initial post I see it is reported for Postman running in Windows. In MacOS I've same problem, Versión 6.4.4. It could be great if you can solve it. Thanks!

[2018-10-27 01:32] jkewley commented on #3142
Consider that some of your customers are consultants who develop APIs and integrations based on APIs for clients and who would like to provide a well documented, usable Postman collection as a deliverable. Being able to secure access to published docs would be a huge win for those consultants, and could easily provide justification for PM Pro and Enterprise investments.

[2018-10-27 02:00] jkewley commented on #4391
Have you tried using `https://login.microsoftonline.com/[tenant_id]/oauth2/token?resource=[application_id]` for the token url?

[2018-10-27 03:29] abhijitparida commented on #3312
+1 please implement

[2018-10-27 03:44] robert-krikey opened #5435 "Environment variable not being injected properly into request URL"
**Describe the bug**
When I try to make a request that interpolates an environment-level variable, the injected value is blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an environment
2. Create a variable in the environment called `foo`
3. Try to make a request to `http://{{foo}}`

**Expected behavior**
I expect the value of `foo` to be injected into the URL.

**Screenshots**
I

[2018-10-27 04:27] diegoernestofarias commented on #4499
Hi, @a85 @abhijitkane @numaanashraf
Is there any update for this problem?
Automatically populate the parameters descriptions is a really useful feature!

[2018-10-27 06:33] bhargavkaranam commented on #5435
Hi @robert-krikey,
This is an expected behaviour. Postman uses the current value of the environment variable during execution. Here, since your current value is empty, Postman is considering the empty value during request execution. You can read more about initial and current values in Postman from [here](https://www.getpostman.com/docs/v6/postman/environments_and_globals/sessions)

Closing this i

[2018-10-27 06:33] #5435 closed, assigned to nobody

[2018-10-27 08:16] sivcan commented on #4353
I was able to reproduce this on Windows, reopening this.

[2018-10-27 08:48] sivcan commented on #5422
@mohit-sentieo You can definitely work around with this.
You can access the data variables in the script using `data`.

So, in your request URL, you can refer to an environment variable instead of the data variable.
So instead of `name={{name}}` you can use `name={{correctName}}` where `correctName` is an environment variable.

Now,
in your pre-request script you do the following:
![image](https:/

[2018-10-27 09:01] sivcan commented on #5422
@mohit-sentieo
 The variables being set in the pre-request script are local variables and they definitely take precedence over the data file variables.

However, I am sure you'll be able to do this:
![image](https://user-images.githubusercontent.com/12631777/47601886-510f3980-d9f4-11e8-96cb-77c8d1102410.png)

[code]

So you can check if the variable exists in the data file, it does then use that v

[2018-10-27 09:01] #5422 closed, assigned to nobody

[2018-10-27 10:27] maccurt commented on #5313
I updated to 6.4 and it now works

[2018-10-27 10:27] #5313 closed, assigned to nobody

[2018-10-27 17:18] davidbeers opened #5436 "Request: a function for while loops: pm.repeatRequest()"
**Is your feature request related to a problem? Please describe.**
We use pm.setNextRequest(`request name`) in our test suite dozens of times for while loops that need to be executed with an indeterminate number of iterations. We have to be careful to give each such looped request a unique name and make the string passed to setNextRequest identical to that name or the loop behaves unexpectedly. Wh

[2018-10-27 17:38] davidbeers commented on #5416
Thanks for the thorough reply, @harryi3t.

Question about local variables: what "container" are these local to? Requests in the same folder? Requests in the same collection? Requests in the same run executing multiple collections?  I can't find anything in the documentation about variable scope that explains this, only information about how variables that share a name override each other.

Thanks

[2018-10-27 17:39] davidbeers commented on #5431
For tracking purposes, this issue broken out from https://github.com/postmanlabs/postman-app-support/issues/5416, which unhelpfully bundled different problems into one issue. I have noted @harryi3t's suggestion to run Postman from the command line for a while and pipe the output to a file to see if we can get some diagnostic info on this problem.

[2018-10-27 20:06] sashalinder commented on #1663
Hey,
using 6.4.4, trying to invoke custom API (execute-api) getting the same issue.
tried alekseyl-aurea  workaround above, didn't solved it for me.

"The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.\n\nThe Canonical String for this request should have been\n'POST"

Tha

[2018-10-27 20:13] yoavprat commented on #350
+1

[2018-10-27 23:23] Dil-nlaycock opened #5437 "Collections and environments lost after upgrate to 6.4.4"
Postman for Windows
Version 6.4.4
win32 10.0.16299 / x64

I normally take the updates quite quickly, so I assume I was upgrading from 6.4.2 - once opened I had no collections or environments. I do not sign into the cloud service.

I have another win10 PC with very similar set of collections and environments which upgraded fine.

[2018-10-28 01:11] pabx06 commented on #3312
+10

[2018-10-28 11:45] tonystewart commented on #1070
+2, any update?

[2018-10-28 16:07] mturner commented on #2559
I too am having this problem, strangely it seems that when I post a json payload it fails, but when i remove the payload and simply post it works just fine.  Reinstalling has had no impact for me.  OSX 10.14 w/ Postman 6.4.4 osx app.

I am intermittently getting data in the developer tools and have seen nothing meaningful to report around the hangs.

[2018-10-28 19:03] drxw commented on #2559
I experienced this issue because I was not handling my POST request correctly.

Simple JSON post request to `/car` endpoint in Postman:
`{ "car": "honda", "year": 1992}`

My router:
[code]

I could see my request on my server console, but the SEND process would _hang_ on Postman.

If you made a trivial mistake like me, I fixed this by just sending a response within the router:
[code]

[2018-10-28 23:34] Cakarena commented on #5182
Has an answer been found yet?

[2018-10-28 23:36] Cakarena commented on #5182
One of our dojo members found this workaround:
The error was generated at the cURL option "--data-binary". The value for this option is input JSON file with its inherent formatting and it looks like when we copy the cURL command, the formatting characters are converted to C0 control codes such as ^[, ^\, ^], ^^ etc.
So find and remove all of these caret (^) from the cURL command, then it will get

[2018-10-29 04:06] botjaeger commented on #450
hey, issue still persist.

testing route without trailing slashes, using http only

[2018-10-29 05:48] ghost commented on #4391
Just tried. You obtain a token, but when using it this is the respone:

`{
    "error": {
        "code": "InvalidAuthenticationTokenAudience",
        "message": "The access token has been obtained for wrong audience or resource '00000002-0000-0000-c000-000000000000'. It should exactly match with one of the allowed audiences 'https://management.core.windows.net/','https://management.core.windows.

[2018-10-29 06:56] jaydipsensussoft commented on #974
+1

[2018-10-29 07:29] harryi3t commented on #5416
@davidbeers

It's local to the collection being executed execution. So that would mean any request within the collection can access them. But, if you have multiple executions running of the same collection, they don't share the local variables.

@ArifPMan Could you make sure that the above mentionedpoint is well explained in our docs?

I think this is well explained on our docs here. I am attachin

[2018-10-29 07:33] harryi3t commented on #5431
Thanks @davidbeers
Once you have that output, please share with us. Please make sure that the log does not have any sensitive information. If you prefer, you can share the log by emailing us on help[at]getpostman.com
Please do mention the GitHub issue number (5431), if you are sharing the log via email.

[2018-10-29 07:57] galbarm opened #5438 "Response body of examples losts during import in 6.4.4"
https://github.com/postmanlabs/postman-app-support/issues/5029#issuecomment-432984902

[2018-10-29 08:31] zootyzoot opened #5439 "Binary file upload sends empty body when using collection runner"
**Describe the bug**
When issuing a POST PUT request with a binary file body, the file is only uploaded when the request is performed stand-alone.
When performed in the context of the collection runner, file size sent is 0kb

Steps to reproduce the behavior:
1. create a POST PUT request and attach a binary file to the body.
2. save the request into a collection
3. run the collection with postman c

[2018-10-29 09:39] marcodafonseca commented on #2406
Same issue here. Not sure what I'm doing wrong.

[2018-10-29 10:15] judgej commented on #3498
Is there a decent page of documentation that explains just what these relationships are between the "things" the tabs and the duplicates that may be duplicates and may not be duplicates?

I'm constantly getting the message "this request has been modified in another open tab" when saving, and it makes *absolutely no sense to me whatsoever*. I can *see* no links between tabs. I *made* no links betwe

[2018-10-29 10:39] hanno-jonlay commented on #4320
Just posting my workaround here in case it's useful for anyone else facing the same (frustrating) problem.

I configure all form-data requests with a duplicate key:

![image](https://user-images.githubusercontent.com/1898889/47644568-73c15f80-db66-11e8-9d0a-7ba8137965f3.png)

I then run a regex search/replace on the stringified Postman collection file, prior to running this through newman:

[code]

[2018-10-29 13:39] EderCascaes opened #5440 "PUT does not serialize"
Pós inserir um objeto utilizando o POST
Faço uma cópia do conteúdo do body e colo no body do PUT
faço algumas alterações , para enviar para o Update do meu sistema
Mas não serializa o objeto chega null
como se houvesse algum erro no arquivo json enviado
mas é igual o do POST insere

[2018-10-29 13:40] numaanashraf commented on #5437
@Dil-nlaycock Could you open View > Developer > DevTools (Shared) and give us a screenshot of the Console tab there?

[2018-10-29 13:43] numaanashraf commented on #5433
@pankajbsn Could you disable gpu acceleration detailed at https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates#troubleshooting-postman-updates and let us know if the issue is resolved?

[2018-10-29 13:46] numaanashraf commented on #5432
@ajijshaikh Could you check the Settings > General > Automatically persist variable values?

[2018-10-29 14:26] harryi3t commented on #5434
@mcready85 The [RFC for Oauth2](https://tools.ietf.org/html/rfc6749#section-7.1) talks about two most commonly used `token_type`: `bearer` and `mac`
Since we do not support `mac`, we had put this check. But the issue here is that different providers are using a different non-standard token types but they behave like `bearer`.

But I think we can relax this requirement and allow using the `access_t

[2018-10-29 14:36] SDixit1 opened #5441 "XML/SOAP schema validation"
Is there any method to validate xml/soap schema.

[2018-10-29 14:47] dwiyatci opened #5442 "DevTools: Current View vs Current Shell vs Shared vs Shared Shell"
## App Details:

[code]

## Issue Report:
 View->Developer
There are:
1. Show DevTools (Current View).
2. Show DevTools (Current Shell).
3. Show DevTools (Shared).
4. Show DevTools (Shared Shell).

How do the four differ:question: :thinking:

[2018-10-29 14:51] Karnauj commented on #5408
@numaanashraf Any news on this feature analysis? Could I help somehow?

[2018-10-29 15:04] stellis commented on #3390
@rhuanbarreto That's a good suggestion. However, it looks like "improvements to tab management" (whatever that means) has 2 votes and is "short-term," while OAS 3 support has 81 votes and is "mid-term." It's been mid-term since May of last year, so I guess mid-term = never.

This is a disappointing way to handle requests for the latest version of the most popular API spec format. There doesn't eve

[2018-10-29 15:25] xtevezerickx opened #5443 "Presets bug autocomplete [object Object]"
**Describe the bug**
Presets are not correctly displayed when using the autocomplete

**To Reproduce**
Steps to reproduce the behavior:
1. Create a preset (or use some old preset)
2. Start typing the preset and use the autocomplete (click or use the arrows)
4. See error

**Expected behavior**
Display the correct preset

**Screenshots**
![01](https://user-images.githubusercontent.com/2366359/476602

[2018-10-29 15:56] MrTact commented on #1611
Collection pre-request and test scripts don't actually do what the OP requested. They were looking for  a way to do scripts that run once prior to/after an entire collection run. This would be incredibly useful for, for example, bootstrapping library functions into your test environment, which you probably don't want to do before every single test.

[2018-10-29 16:01] neilgoldman commented on #3694
I do not think these are the same issues, In 3630, OP can still send requests after pressing the back button, it sounds like a quality of life feature.

For me, when using the Examples feature, that request is basically gone. I have a tab with it, but I cannot send any requests and I cannot save the Example (I get "The example could not be saved since it's parent request has been deleted.") I have

[2018-10-29 16:09] a85 commented on #3694
@neilgoldman I'll reopen this. Rather than having a "Send" button in examples, we'll look at ways to copy over the saved request from an example into the current tab. @vkaegis Let's review this flow once.

[2018-10-29 17:07] jonismobile commented on #4898
Please put it back, the removal of this feature, slows development and is cause to look at other tools

[2018-10-29 19:18] davidschwab commented on #4347
I'd like to see a "super global" type approach implemented where these globals span all workspaces. Using collection variables will not work as the same variable is duplicated in every collection. I want a single place (source of truth) to update my variables that span across all my workspaces.

[2018-10-29 19:30] numaanashraf commented on #5429
@chandruprakash This is expected. Request names are not tied to request url. We recommend giving meaning names to your requests when saving to a collection.

[2018-10-29 19:30] #5429 closed, assigned to nobody

[2018-10-29 19:34] philsturgeon commented on #3390
It really seems like this issue is not going to happen. For some reason OpenAPI support is just not a priority.

Adding good OpenAPI import (and sync - ongoing reimporting to keep things up to date) could really open up a lot of use-cases. At [WeWork we are OpenAPI-first](https://engineering.wework.com/our-api-specification-workflow-9337448d6ee6), and we mirror back to Postman so folks have the be

[2018-10-29 20:10] MarcosEich commented on #4666
Hey guys, version 6.4.4 here and still getting this issue.

[2018-10-29 21:18] briancmoore commented on #2086
+10 I have 493 requests I need to change and I'm going crazy having to click over to body every time.

[2018-10-30 01:01] cuzzlor commented on #4578
Thank you @harryi3t !!

[2018-10-30 01:23] forge10 opened #5444 "Option to turn off Monitoring during a fix time period"
My organization has scheduled maintenance every Sunday for a few hours. During this time, i get a lot of false positive notifications.

Is there a way to automatically pause it during a predefined window?

I don't think it makes sense to start and stop the monitoring every week during the scheduled maintenance window?

[2018-10-30 04:30] shawkyGalal commented on #4687
We suffer from the same problem ... is there any fix or work around ? please support.

[2018-10-30 06:30] t-pankajkumar opened #5445 "Issues with URL contain hyphen"
**Describe the bug**
When we try to access an URL which contains '-' it is encoded with some special characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://payout­-gamma.cashfree.com//payout/v1/authorize'
2. See error

**Expected behavior**
It should not convert the URL to some encoded format

**Screenshots**
![image](https://user-images.githubusercontent.com/8513424/4770

[2018-10-30 08:44] francesco1119 opened #5446 "Can retrieve data from browser but not from Postman"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
If I access this URL from browser I can see the JSON:

http://overpass-api.de/api/interpreter?data=[out:json][bbox];node[amenity=cinema];out;&bbox=7.0,50.6,7.3,50.8

From Postman I receive `Could not get any response`

**To Repr

[2018-10-30 10:26] ash007-postman opened #5447 "Docs and application/vnd.api+json"
Currently, postman treats "application/vnd.api+json" as text and causes documentation to look pretty awful. The issue is that the mime type "application/vnd.api+json" isn't seen as JSON.

Are there any plans to map "application/vnd.api+json" to just "json"?

[2018-10-30 10:52] ScarellaDev opened #5448 "Application freezing on launch with black screen on Xubuntu 16.04"
**Describe the bug**
Everytime I launch the application, it freezes and displays a black screen and I can't do anything.

To avoid that, I have to open the DevTools (Current view) which pauses the excecution before "potential out-of-memory crash".  The paused execution occurs 2 to 3 times and after that I'm good to go.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the application

**

[2018-10-30 10:58] natarajjk opened #5449 "Proxy configuration affecting Postman launch"
I have tried restarting postman after configuring the proxy settings. Now i can only see empty postman screen, with blinking cursor.

Version : 6.4.4

![postman](https://user-images.githubusercontent.com/33055966/47713545-92a41c80-dc60-11e8-90d1-e05f41ef683f.png)

Note : API which i am testing needs proxy connections.

[2018-10-30 11:01] NeilAttewell opened #5450 "Online Documentation - Request Sample code missing when saving example"
**Describe the bug**
When documenting an API - it gives sample request code (cURL), but when I save the response in an example...the sample request code disappears.

**To Reproduce**
1. From the APP, create a POST request with the body set to type form-data
2. Add a file parameter (and give it a value by selecting a file)
3. Save and open online documentation:  request sample code is present.
4. E

[2018-10-30 11:17] AxonDivisionDev commented on #3117
This should be a huge priority, ability to visual showcase the validity of a field quickly is incredibly important. The entire logic of a program can be shifted based on whether an attribute exists or not.

[2018-10-30 11:37] hpfs74 commented on #1667
Looking forward for this feature!

Please implement, because otherwise is not possible to use the proxy in https

[2018-10-30 12:29] GeethaDevaramani commented on #882
Hello,

My requirement is, i have to run collection file through java application. Have got one library called postman runner but when its reading collection file it's throwing "pm is not defined".
org.mozilla.javascript.EcmaError: ReferenceError: "pm" is not defined. (---------------------> POSTMAN test: #1)

Please can anyone do the needfull.

[2018-10-30 15:25] numaanashraf opened #5451 "Collection variables not resolved while generating code"
_Internally reported_

[2018-10-30 15:25] numaanashraf opened #5452 "Collection variables not resolved while previewing auth"
_internally reported_

[2018-10-30 15:50] Marak commented on #971
It would be great to not be using the hook.io hosted service for this and instead use faker.js directly

Please let us know over at faker.js if there is anything we can do to help.

We are planning to release a new major version soon and would love to see it included in Postman.

[2018-10-30 15:53] zulhfreelancer opened #5453 "Postman v6.4.4 (Mac) Doesn't Include HTTP Basic Auth"
**About the bug**

When I clicked on Code button in the Postman app, the HTTP Basic Auth username and password doesn't get added into _cURL_ and _Shell cURL_ code.

**To reproduce**

Steps to reproduce the behavior:
1. Using Postman app, make GET request to `https://postman-echo.com/basic-auth`
2. In the Authorization tab, select Basic Auth and set Username to `postman` and Password to `password`

[2018-10-30 16:20] CloudCray opened #5454 "Github integration sync stopped working"
**Description**
Postman no longer syncs to github repo.

Last successful repo sync was Oct 5; has not synced to repo since 6.4.2 release.

Confirmed that app is still syncing correctly with web-based workspace, documentation, and other team members.

Tried with:
- Existing repo, existing collection
- New repo, added existing collection
- New repo, updated old collection
- New repo, new collection

[2018-10-30 17:20] BenBK commented on #4898
+1

[2018-10-30 17:43] drod3763 opened #5455 "Data file variables in Prerequest Scripts and Tests"
Given that the collection runner can accept JSON and CSV files why can't we use the data in those files for Pre-request and Test scripts? It would allow me to generate a CSV with a Pairwise application and just shove it in a test run while having everything figured out already.

Let me know if this is mentioned in another issue. I couldn't find anything.

[2018-10-30 19:16] eduandrade commented on #3312
+1

[2018-10-30 19:26] rgasioro commented on #3312
Is anyone from the development team reading this? No matter how many +1 we add, there's no response.

[2018-10-30 19:31] abhijitparida commented on #3312
Keep +1ing 😆

[2018-10-30 19:59] regisbsb commented on #3312
@kunagpal

[2018-10-30 20:02] #5027 closed, assigned to harryi3t

[2018-10-30 20:16] kunagpal commented on #3312
Hey folks! We're currently in the midst of tracking/organizing all such runtime feature requests to better understand and prioritize changes. A better view of the same can be seen from our GitHub project board here: https://github.com/postmanlabs/postman-app-support/projects/32#card-13099109. In the meantime, feel free to express interest in the feature request of your choice by leaving a 👍against

[2018-10-30 20:26] govindrai commented on #4186
Also experiencing this same issue running 6.4.4

[2018-10-30 21:06] regisbsb commented on #3312
@kunagpal having said that all the other proposals don't look as simple as a this request and gather much less attention from the public. This one also tracks back a year plus ago.

[2018-10-30 21:09] mcready85 commented on #5434
Thanks @harryi3t Do you know when this bug will be resolved?

[2018-10-30 22:07] davidpanofsky commented on #2458
+1 please!

[2018-10-30 22:10] jwwicks commented on #2621
+1.  For inheritance. I tend to break out my collections by API which have endpoints, client credentials etc... Then depending on the project I have Develop, Test/Staging and Production environments. With inheritance you override a parent variable in the child environment.

I do like the way Runscope handles this with a Shared Environment and then an inherited one in each bucket/test.

Backward co

[2018-10-30 23:45] taylour-k commented on #5454
I'm experiencing the exact same issue. I just tried setting up our first integration today and couldn't figure out why it wasn't working.

Postman v6.4.4, running native app on macOS 10.13.6

**Update**: Sync to github began working as expected late this morning.

[2018-10-31 02:18] alexgman commented on #2889
from what i understand a collection of environments is related to a specific thing that you are testing, whether it be an API or an application or some RESTful node server.

for example, i have a Repricing API with multiple environemnts: dev, qa, prod.

but i also have a completely unrelated application, let's say Yo Mama's Pizza Shop, which similarly has dev, qa, prod.

_yet the variables are com

[2018-10-31 04:18] avles opened #5456 "Export Collections with Environment Configuration"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Is your feature request related to a problem? Please describe.**

In my postman requests, I have parameterized server and port values through Environment Values. If I have multiple environments, it is easy to select an environment and run a test o

[2018-10-31 05:45] hanikhan commented on #5222
This would definitely be a great feature to have

[2018-10-31 07:08] kamalaknn commented on #5456
Have you tried exporting the environment? Is there a particular flow that would be better solved with exporting collections with variables resolved than importing the environment?

[2018-10-31 07:23] jayarjo commented on #4413
But what if one wants to add multiple headers (exact number is not known beforehand)?

[2018-10-31 07:57] kjozsa commented on #4186
broken on linux with 6.4.4 too.. that's a pretty bad joke for a commercial customer

[2018-10-31 08:43] kartikjain26 commented on #5335
@emilianobonassi  This issue could not be reproduced at our end. However I would advise you to initialise your repository while creating a new project by clicking on the checkbox at bottom on project setup screen. We saw that if project was not initialised, the integration failed to backup that collection.
<img width="978" alt="screen shot 2018-10-31 at 2 09 32 pm" src="https://user-images.githubu

[2018-10-31 10:37] BorysFursov commented on #2701
I think it is really important feature. +1

[2018-10-31 10:37] kartikjain26 commented on #5335
@emilianobonassi  Let us know if you consistently face this issue and steps leading to reproduce this.

[2018-10-31 11:41] eyalzoref opened #5457 "Archived Items in Free Team Account can't be deleted"
**Describe the bug**
We are working in Free Team Account.
We have a team that people have shared collections and all got archived due to usage limit.
I want to delete and leave 2 collections - it should fit the limit, but I can't.

 https://fujiteam.postman.co/usage/archive

**To Reproduce**
Steps to reproduce the behavior:
1. Click on https://fujiteam.postman.co/usage/archive
2. See "MyRequests"

[2018-10-31 11:41] gbertoncelli commented on #2724
+1

[2018-10-31 12:32] rgasioro commented on #3312
Thanks for the reply and ditto to what @regisbsb wrote.

[2018-10-31 13:28] haevensk opened #5458 "Unsaved Changes Warning Misspelling of "losing""
The word "losing" is misspelled as "loosing".

Steps to reproduce the behavior:
1. Go to a request
2. Attempt to close it out without saving
4. See misspell in the message it gives you

It should be spelled "losing".

 - Native App
 - 6.4.2
 - OS X 18.0.0 / x64

[2018-10-31 13:44] MatiasBarboza commented on #2086
+1, I'm pretty new to this but I'm definitely willing to move forward :). This feature would be really helpful for my daily job troubleshooting Web Services for consumers of the services offered by my employer.

Cheers!

[2018-10-31 15:42] jamakal opened #5459 "Save OAuth2.0 New Access Token parameters with collection"
When exporting a collection, the 'Get New Access Token' headers (found by clicking "Get new access token" in the 'Authorization' tab when the type is OAuth2) are not saved in the collection. This means that a new user importing the collection is unable to generate access tokens unless they enter them manually, and I don't believe there is another way to export these headers in the UI.

![image](ht

[2018-10-31 17:51] JP-from-Postman opened #5460 "API documentation page loads incorrectly on iOS: Chrome, Safari"
Reported by @ypolishetty

**Issue:**
URLs for specific APIs on user's published documentation page load incorrectly when accessed from either Chrome or Safari on iOS 12.x.

When accessing deep-links (i.e. `company.domain.com/#f8678e1a-910f-4938-94ba-834add9c5f59`), page jumps to a scroll position well below the intended target.

@ypolishetty reported issues with deep-links when accessed with:
- Us

[2018-10-31 19:35] chaodoze commented on #4636
+1 each collection should remember Get New Access Token differently

[2018-10-31 19:52] joneldiablo opened #5461 "ignore duplicate key "//" on json body request"
I would like to be able to disable the validation of repeated keys, specifically the "//" key, to be able to comment on the data that I am sending and to continue validating the rest of the json object

![image](https://user-images.githubusercontent.com/13206502/47814601-bc6a4b80-dd13-11e8-89d9-d619b151cae8.png)

after the _Duplicated key "//"_ nothing is reviewed, for example a missing comma

![i

[2018-10-31 20:10] JP-from-Postman opened #5462 "docs.postman-echo.com uses old API URL for some example requests"
Search "echo.getpostman.com" on [docs.postman-echo.com](https://docs.postman-echo.com/).

A few generated requests examples should show up that use this URL, instead of the current one: https://postman-echo.com/

[2018-10-31 20:40] JP-from-Postman opened #5463 "Spamming Duplicate creates orphaned requests, shown only in docs page"
**Docs page:**
https://documenter.getpostman.com/view/5392110/RzZ3N3Uc#5ea6b10c-997d-4791-949e-f61c92635e12

**Issue:**
On the left-hand nav sidebar, the two requests not in folders do not appear in my Postman app:
`GET Example request Copy Copy`
`GET Example request Copy Copy Copy`

<img width="267" alt="screen shot 2018-10-31 at 1 13 03 pm" src="https://user-images.githubusercontent.com/43283131

[2018-10-31 23:41] chrisdeso opened #5464 "Activity Feed's "Restore" action not working"
**Describe the bug**
The **Restore** action within the activity feed isn't working.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a collection's activity feed
2. Click on 'Restore'
3. See nothing happen

**Expected behavior**
The collection should roll back to a previous state.

**Screenshots**
![image](https://user-images.githubusercontent.com/4734306/47824777-ac5e6600-dd2b-11e8-90b4

[2018-10-31 23:55] rsweis62 commented on #5464
Another bug i noticed is that the `Last Modified` label is stuck on `Just now` even though the last time something was changed was over an hour ago. Also before the restore button stopped working it deleted half of my requests in my collection.

[2018-11-01 02:51] chrisdeso opened #5465 "Allow the Run in Postman Button to be disabled on documentation"
**Describe the solution you'd like**
Allow users to disable the run in postman button on published documentation

**Describe alternatives you've considered**
A setting on the documentation page or on the collection level

**Additional context**
[filed by Postman]

[2018-11-01 03:33] jasonycw commented on #4193
+1
Is there any news of how to do that?

Was preparing some API collections for testing create, edit and delete APIs
It will be great to be able to call the create/delete API before the edit one and reusing another saved API will be helpful for initiate those global variables like IDs.

This can make the integration tests with Runner and newman to run much more smoothly.

[2018-11-01 03:33] phunguyen19 opened #5466 "UI hides a part of content on Two Panes View on Mac"
**To Reproduce**
Steps to reproduce the behavior:
1. Switch to Single Pane View
2. Open new tab with POST method
3. Pass a long content to body with format `raw` `application/json`, the content need to long enough to see the scrollbar on request body
4. Switch to Two Panes View
5. See error

**Expected behavior**
See the full content in Body Request Pane

**Screenshots**
![Postman Error](https://i

[2018-11-01 03:42] raynaldgirard opened #5467 "Additional WebKitFormBoundary in JSON requests"
I am not able to do a simple POST with postman while it works very well with curl.

Here is my curl that works well:

curl -X POST -H "Content-Type: application / json" -d '{"value": "hi"}' https: // localhost: 44399 / api / values -k

and with postman it gives:

POST / api / HTTP / 1.1 values
Host: localhost
Content-Type: application / json
{"Value": "hello"} ------ WebKitFormBoundary7MA4YWxkTrZu

[2018-11-01 04:48] kamalaknn commented on #2950
Hey @timworx

We've pushed the fix for this on our [Canary channel](https://www.getpostman.com/canary). The fix has also been pushed to the stable channel. We will open the rollout over the coming week.

[2018-11-01 05:41] ahdung commented on #1973
@a85 Desktop app can't intercept, need this feature on chrome app, please reopen.

[2018-11-01 06:50] mrenoe commented on #1687
@judgej this comment just resolved hours of debugging. Thanks for posting this and yes please Postman make this slightly more obvious.

[2018-11-01 08:40] dthompsonza commented on #4075
I tried importing swagger.json into Postman for the first time today, and the first thing I found was that it was hard to find the requests I needed - everything is in the api folder...

Any idea when/if this feature will get done?

![image](https://user-images.githubusercontent.com/769513/47841470-67d1d980-ddc2-11e8-8760-8011113533c7.png)

Thank you

[2018-11-01 08:52] JojoWu19 commented on #5109
This is not a bug of postman. In the nginx, when request headers include "Accept-Encoding: gzip", the etag is weak format. The reason is POSTMAN sends request with "Accept-Encoding: gzip ..." by default and doesn't display this header in the Code so using CURL without "Accept-Encoding" will get a correct etag header.
Close this.

[2018-11-01 08:52] #5109 closed, assigned to numaanashraf

[2018-11-01 11:17] ghost opened #5468 "Postman's entry on Windows Control panel has Setup file's name"
### Describe the bug
Why **Postman** app installation details are so ugly on _Windows 10_? Is there a possibility to fix that in future release? Please take a look and compare **Postman** to other apps. Name should be just "Postman", company details should be added on the second row, there should be an icon also.

### Screenshots
![capture](https://user-images.githubusercontent.com/30025319/478488

[2018-11-01 11:40] sanesai commented on #2494
We will be glad to have this feature +1

[2018-11-01 13:33] jhoopmann commented on #2701
+1

[2018-11-01 15:37] adidaslevy opened #5469 "Postman 6.4.4 for Windows through RDP shows black screen"
Right after installing Postman 6.4.4 on a remote machine through RDP, postman opens, but I get black screen after the screen flickers.

Steps to reproduce the behavior:
See Bug Description.

**Expected behavior**
Postman is able to start, as at my local Windows machine

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/6

[2018-11-01 15:44] TikunAPI opened #5470 "Token Generator issue"
I have three APIs to access to retrieve data from a platform. Before hitting these APIs, I need to generate a Token by calling another API and the same Token will be used in all API calls as Bearer Token. I too have tried OAuth 2.0; but the main problem arises when the token expires.

When I call the whole collection, I have to manually insert the new Bearer Token in each API.

Hence, I am trying

[2018-11-01 15:49] TikunAPI commented on #5470
For Token Generator:
Auth:
Baisc Auth
Username/Passoword
Headers:
Content-Type = application/x-www-form-urlencoded
Body:
raw
grant_type=client_credentials

For API (POST) calls:
Auth:
Type: Bearer Token
Body:
raw
application/json

[2018-11-01 16:39] tparikka opened #5471 "Crash On Timing Out Endpoint"
When connecting to a SOAP endpoint and making a request that times out on the server side, Postman crashes:

Crashing Application: C:\Users\tparikka\AppData\Local\Postman\app-6.4.4\Postman.exe

Exception: Unhandled exception at 0x00007FF6C983590B in Postman.exe: 0xC0000005: Access violation writing location 0x0000000000000000. occurred

Steps to reproduce the behavior:
1. Make a POST request to a

[2018-11-01 21:16] mkarajohn commented on #5373
I am having a similar issue, though due to a different reason, likely?

The Postman native app fails to initialise on my machine (macOS Mojave, 10.14) with the error:

[code]

[2018-11-01 21:18] Hamitamaru commented on #492
Any update on this, this is a problem for AWS Cognito authorized API Gateway calls as mentioned here : https://github.com/postmanlabs/postman-app-support/issues/1854

[2018-11-01 22:21] avles commented on #5456
Thanks.  Regarding exporting the environments, the environments in my workspace may not be relevant to the BA who is testing the collection. I would rather prefer keeping the environment definition self-contained with my collection in this case.  Also variables wont help, for example,  my url is like http:{{server}}:{{port}}.   In this case, single variable cannot hold different environment addres

[2018-11-01 22:42] Hamitamaru commented on #3825
Any update on this?

[2018-11-01 22:53] kamalaknn commented on #5456
Ah got it.

Have you tried variables at collection level? That would contain both the declaration and the values within the collection?

[2018-11-02 05:13] abhijitkane commented on #3892
@joshuawoodward @mshimao This was actually a decision we made while working on the Swagger->Postman conversion. A few areas where Postman differs w.r.t tags:

1. Swagger lets you have multiple tags per operation, allowing a request to show up in multiple folders. This is currently forbidden in Postman. We'll need to take a deeper look at our folder/request structure, but I don't see this changing

[2018-11-02 05:57] jgroom33 commented on #3892
An acceptable implementation for the use cases I've encountered would be to use the first tag noted in the request.  This would allow people to reorder the tag list for each request to achieve the desired outcome.

[2018-11-02 06:04] p00j4 commented on #1667
+1 need interceptor on Desktop app

[2018-11-02 06:31] GauthamBanasandra commented on #1048
I'm facing this issue too. I've a simple go http server which responds with `Content-Type: image/png` when I hit this endpoint from Postman, I just see the image but unable to view the raw response.

[2018-11-02 06:39] sujayvenaik commented on #1048
Hey @GauthamBanasandra
We do not show the raw response for media type responses, what I can do is go ahead and create a feature request for you for this.

[2018-11-02 06:41] seperman opened #5472 "Upgraded to Postman 6.4.4 on Mac. Responses are not shown anymore"
**Describe the bug**
Send any JSON POST or GET request, response is not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a POST request or GET request with body type of json.
2. Doesnt show anything in return
3. This happened as soon as I upgraded to 6.4.4 a few minutes ago. Restarting the postman app didn't help.

**Expected behavior**
Show responses.

**Screenshots**
<img width=

[2018-11-02 06:55] numaanashraf commented on #5442
@dwiyatci These are debugging tools for multiple processes Postman runs and relies on. Postman runs 6 processes internally, including view processes (for UI), shell processes (for data partitioning and security) and shared (for shared services like sync).

[2018-11-02 06:55] #5442 closed, assigned to nobody

[2018-11-02 07:02] sujayvenaik commented on #5472
Hey @seperman
This seems weird and should not happen.

Can you hit the same request with cURL and check the response?
Also, can you check in the Postman Console when you send the request for response body?

[2018-11-02 07:06] cw-kritipoddar commented on #5469
I am facing the same issue on my Windows 8.1 Pro with above specifications

[2018-11-02 07:45] numaanashraf commented on #1196
Reopening this as detailed assertion failure is not yet available for Collection Runner.

[2018-11-02 08:32] andreyvolodko1996 commented on #3312
+1

[2018-11-02 08:41] GauthamBanasandra commented on #1048
@sujayvenaik I think it'll be really useful. Thanks.

[2018-11-02 08:50] slavenantic commented on #727
Any news regarding this?

[2018-11-02 09:11] slavenantic commented on #2694
Any news regarding this?

[2018-11-02 11:26] novalic commented on #450
Using version 6.0.10  (i know it's not updated) I face the same issue when trying to send a DELETE request to a Django app. Testing it a bit, I found out that what it sends is a GET request.
**I solved this by adding a trailing slash.**

[2018-11-02 11:39] numaanashraf commented on #450
Postman automatically changes POST to GET when it follows redirects. We do this to stay compliant with vendors and browsers. You can prevent the auto-follow of redirects by turning off "Automatically follow redirects" in Settings > General.

[2018-11-02 11:42] numaanashraf commented on #5448
@ScarellaDev could you share your system specs, including CPU and RAM?

[2018-11-02 11:44] numaanashraf commented on #5469
@adidaslevy @cw-kritipoddar This looks like a GPU related issue. Please turn off GPU acceleration in Postman by following the steps here - https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates#troubleshooting-postman-updates and let us know if that resolves your issue.

[2018-11-02 11:58] adidaslevy commented on #5469
Thanks! I'll give it a try

[2018-11-02 13:21] andreyvolodko1996 commented on #3312
this issue was created more than a year ago.
and there are a lot of problems because of this issue.
why developers do nothing... I just cannot understand.

[2018-11-02 13:27] valeriuzdrobau commented on #1667
+1 need interceptor on Desktop app

[2018-11-02 13:28] ghost opened #5473 "Window: Title Bar Style"
### Describe the solution you'd like
**Postman** should have a custom style title bar! This will underline application appearance. Also the app will not look like a "template electron app".

![vs-code](https://user-images.githubusercontent.com/30025319/47917713-a0e57900-deaa-11e8-9570-8dc9e3a088aa.PNG)
![github-desktop](https://user-images.githubusercontent.com/30025319/47917716-a3e06980-deaa-11e8

[2018-11-02 13:41] rgasioro commented on #3312
I agree, this is the ONLY thing that prevents me from fully automating my tests. Real pain and inconvenience.

[2018-11-02 13:54] andreyvolodko1996 commented on #3312
yea. I wrote to postman support a lot of times, but it's still not resolved.

On Fri, Nov 2, 2018 at 4:41 PM rgasioro <notifications@github.com> wrote:

[2018-11-02 15:55] Bauerna commented on #5391
@prashantagarwal, we want to generate the button within the API. We are currently building an application that automatically generates a Postman collection. With this automatically generated collection, we want to expose the collection to users, specifically through the "Run in Postman" button. This is not currently possible explicitly through the API because the generated collection is not immedi

[2018-11-02 18:24] TheKeymaster commented on #1667
+1 need interceptor on Desktop app

[2018-11-02 19:02] jengwood commented on #4331
@numaanashraf POST and PUT requests are coming through as a GET in the new version

[2018-11-02 19:18] seperman commented on #5472
@sujayvenaik I just upgraded to Mac OS Mojave and it works again.
Thanks/

[2018-11-02 19:18] #5472 closed, assigned to sujayvenaik

[2018-11-02 19:25] vghung81 commented on #4276
Any others way that just generate the html report with failed test cases only?I have to run over 1000 test request and it's taking a lot of times to review each test failed

[2018-11-02 20:07] mkrell commented on #3386
@sujayvenaik YESS! This popup is very annoying.

[2018-11-02 23:54] joelgetaction commented on #1669
I would be willing to pay for this ... Any updates or ETA?  :-)

[2018-11-03 00:46] Rick-Anderson commented on #4726
Could you exempt localhost from this rule? All or none isn't a secure approach for those who  need to test locally and test/production endpoints. Perhaps you could whitelist domains that allow self signed certs.

[2018-11-03 00:50] Rick-Anderson commented on #4726
The instructions should say **File > Settings > General tab** not **Settings > general**

[2018-11-03 12:38] sivcan commented on #5466
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5430

[2018-11-03 12:38] #5466 closed, assigned to nobody

[2018-11-03 12:39] sivcan commented on #5430
Hi @gpattersonm,
We've released a fix for this on our Canary channel: https://www.getpostman.com/canary

Please try it out in the Canary version and let us know if you continue to face the issue.
Will update the thread once we release the fix on our stable channel.

[2018-11-03 13:03] jaywhar opened #5474 "Cookies not persisting in Postman for subsequent domains in the same request."
I have an app that uses an authentication server (app-accounts.some.domain.com) to set cookies to authorise access to the main app (app.some.domain.com). I access the authentication server in a pre-request script, and as part of these calls some cookies get set and one of the calls returns the login for the main app. Logging in to the main app should then set some cookies that I can use in other c