[2016-03-30 17:32] randomInteger commented on #682
I just want to say that I love Postman and I'm using it (happily) for rest api test automation, and having the ability to reorder folders in a collection (specifically so the folder order can drive test run order in the Runner) is something that would make my life a lot easier.  I tried manually reordering the collection JSON but that did not reflect in the order when I re-imported that collection

[2016-03-30 17:49] abhijitkane commented on #1948
@ObviouslyGreen Can you mention the Postman version you're on? The latest version is 4.1.2.

[2016-03-30 21:09] ElonGated commented on #854
@abhijitkane I'm having the same issue using v4.1.0 on mac. Was there any resolution to this issue?

[2016-03-30 22:35] VictorK commented on #854
In my case the call I was making was dependent on a previous call completing which took about 5-9sec, I put a "sleep" statement in the pre-request script area of the 2nd call and all is well, not the ideal solution but it works.

On Wed, Mar 30, 2016 at 2:09 PM -0700, "ElonGated" notifications@github.com wrote:

@abhijitkane I'm having the same issue using v4.1.0 on mac. Was there any resolution t

[2016-03-30 22:40] abhijitkane commented on #854
@ElonGated If you have Sync enabled, can you try signing out, signing back in, and then trying?

[2016-03-31 00:11] aaronweatherall opened #1949 "User ACL & Orphaned Collections"
Hey Team,

We're trialling the cloud and LOVE IT! But we're having a lot of issues with people overwriting collections and then not being able to write when required.

What we'd love to see is ACL (Access Control Lists). That way an admin can grant write access to specific members.

**Use case:**
User 1 administers a LARGE collection of integration tests.
User 2 & 3 (QA) regularly run it to test f

[2016-03-31 00:14] abhijitkane commented on #1949
@aaronweatherall Thanks! Access control lists is something we're working on, and hope to have out soon.
For the orphaned collections - a quick fix for now would be having someone else duplicate the collection and share it with a different name (append `(new)`, for example). This has been a frequent feature request, and is on our roadmap too.

[2016-03-31 00:37] aqyblitz opened #1950 "[Bug] Syntax error indicated where there is none"
The context is while chaining JSON response data between two API requests; my goal was to take the entirety of the response data from the first request (GET) and pass it as the body for the second request (POST).

To do this, I stored the response data of the first request as an environment variable and passed it to the second request via the {{variable-name}} syntax in the "Body" tab, under "raw.

[2016-03-31 00:44] abhijitkane commented on #1950
@aqyblitz This is a limitation of sorts with the component we use to render the request body. `{{payload}}` by itself is invalid JSON. It's only valid when replaced with the variable value. The component can only see the `{{payload}}` part, and thinks it's an error.

We're working on a way to get around this, but it shouldn't hamper usability in any way.

[2016-03-31 00:47] aqyblitz commented on #1950
Yeah, that's what I had figured. It definitely still works, just thought I'd log the bug in case the Postman team wasn't aware of it. Thanks for the prompt response.

[2016-03-31 04:03] ObviouslyGreen commented on #1948
I was running 4.1.0. I updated and it seems to work now. Thanks!

[2016-03-31 04:03] #1948 closed, assigned to nobody

[2016-03-31 05:04] ssahni30 commented on #1942
Postman Version: 0.8.4.8 and i am using OS X version 10.11.4 (El Capitan)

[2016-03-31 05:24] anyone-can-test commented on #1013
+1
Also, I like "Open source the API that you use for storing collections".

[2016-03-31 07:30] bbsimonbb commented on #1830
Show the address bar ?

[2016-03-31 07:31] calebrepkes commented on #1772
After updating to MacApp 4.1.1
OS X 15.3.0 / x64

I dont see this fixed when im calling getSandbox localhost. But I do see it fixed when calling the below part:
GET /cookies HTTP/1.1
Host: echo.getpostman.com
Cookie: foo5=bar5
Cache-Control: no-cache
Postman-Token: 5b8b6d9f-ad81-f196-022f-0ca9a7382d8b

So when I echo and put in the header the cookie. It is also returned and I see it in the respons

[2016-03-31 07:55] zvercheto commented on #1905
@abhijitkane Has the fix been pushed and how can I get it?

[2016-03-31 08:02] ruiwen commented on #1752
@abhijitkane Any further thoughts on this though? I've not been able to get my collections back at all

[2016-03-31 09:44] designorant opened #1951 "Bulk edited Headers preset causes Body content type defaulting to Text"
Step by step screenshots below. Notice how Body content type changes from JSON to Text in the process.

![postman1](https://cloud.githubusercontent.com/assets/87477/14171856/0bc4bda2-f72d-11e5-87c7-900153d855b0.png)
![postman2](https://cloud.githubusercontent.com/assets/87477/14171859/0bd4dbf6-f72d-11e5-817a-73db23305e64.png)
![postman3](https://cloud.githubusercontent.com/assets/87477/14171858/0b

[2016-03-31 11:34] numaanashraf commented on #1055
@tonycody Fixed in versions 4.0+

[2016-03-31 11:34] #1055 closed, assigned to nobody

[2016-03-31 11:39] #1121 closed, assigned to nobody

[2016-03-31 11:48] abhijitkane commented on #1752
@ruiwen Sorry, there's nothing we can do in case of IndexedDB corruption. If you didn't have Sync enabled, there's no way that we know of to recover your data.

[2016-03-31 11:58] abhijitkane commented on #1905
@tojagrut @zvercheto We just released the Chrome app - you can update by going to `chrome://extensions, enable 'Developer Mode', click Update extensions now`

[2016-03-31 12:09] abhijitkane commented on #1772
@calebrepkes The underlying API has an issue with 'localhost' as a domain. If you make all requests to 127.0.0.1 instead, (while setting the cookies too), it should work.

[2016-03-31 12:10] abhijitkane commented on #1830
@bbsimonbb This functionality is not exposed by the API that Chrome provides - https://developer.chrome.com/apps/identity#method-launchWebAuthFlow

[2016-03-31 12:21] SamvelRaja commented on #1826
@Atomixx Can you cross check and close it ?

[2016-03-31 13:01] benmalinowski commented on #1947
I second the need for this. I think there might have already been a request made for this but I'm not sure. In older versions of postman I was able to do this sort of which was one of the reasons I held out on upgrading for so long.

[2016-03-31 13:19] numaanashraf commented on #1947
@benmalinowski Did you mean header presets in the previous app?

[2016-03-31 13:24] benmalinowski commented on #1947
I mean when I go to a new item in my collection, my header was already applied to the next api call and I could make an api call without having to go to Authorization tab and selecting basic each and every time.

[2016-03-31 13:28] benmalinowski commented on #1947
This could be solved if I saved my basic auth header for every call (currently using over 500 different api calls) but I don't want to do that as I export my collection and send to other members of my team.

[2016-03-31 15:10] mstaalesen commented on #1929
4.1.3: Preview Request is gone (intended?) and New Tab is now ctrl + T, and new window is now ctrl + n.

Closing this.

[2016-03-31 15:10] #1929 closed, assigned to aditikul

[2016-03-31 15:16] mstaalesen opened #1952 "Search and Replace dialog box dissappears when clicking "Replace" and "All""
When using Search / Replace on e.g the Tests in Postman, the dialog box disappears when I click the Replace button. Not a huge thing, but rather annoying when I want to replace more than 1 thing:

![animation3](https://cloud.githubusercontent.com/assets/14194793/14180646/3d814176-f764-11e5-8715-0153742bfbde.gif)

[2016-03-31 16:31] abhijitkane commented on #1878
@mahendranv We've changed this behaviour in the latest release (4.1.3) - opening a saved request will no longer replace the URL/headers/request body. Can you confirm?

[2016-03-31 16:32] abhijitkane commented on #1873
@brianpowell We've changed this behaviour in the latest release (4.1.3). Can you confirm?

[2016-03-31 16:57] numaanashraf commented on #1952
Thanks for reporting this @mstaalesen. We'll include a fix in the next release.

[2016-03-31 17:02] #1655 closed, assigned to nobody

[2016-03-31 17:07] willrichboa opened #1953 "Postman not saving values of AWS signature helperAttributes "Service Name""
I never got a response after you closed https://github.com/postmanlabs/postman-app-support/issues/1821.

Create a new request or use an existing one.
Under the "Authorization" tab: select type of "AWS Signature".
Update, "AccessKey", "SecretKey", "AWS Region", and "Service Name" to any values.
Select the checkmark on the "Save helper data to request" so that it is checked.
Save the request to a ne

[2016-03-31 17:19] abhijitkane commented on #1821
@willrichboa Thanks for reporting this. We've fixed this internally, and will push the fix in the next release.

[2016-03-31 17:22] abhijitkane commented on #1953
@willrichboa Thanks for reporting this. We've fixed this internally, and will push the fix in the next release.

[2016-03-31 17:23] afollestad commented on #838
Doesn't work in the latest version. I need interceptor on for cookies, which makes file uploads not work,

[2016-03-31 17:24] abhijitkane commented on #838
@afollestad What version are you on? In v4.1.3, I'm able to upload files with the Interceptor on.

[2016-03-31 17:31] afollestad commented on #838
@abhijitkane hmm, 4.1.2. Is that recent release? I'd expect Chrome to auto update it.

[2016-03-31 17:33] abhijitkane commented on #838
Chrome's update works in weird ways. chrome://extensions -> Enable 'developer mode' > Update extensions now.

Does your filename have a space? Filenames without spaces should work in 4.1.2 as well.

[2016-03-31 18:14] afollestad commented on #838
`Update extensions now` got it, thanks!

Files with spaces still don't work, the file is uploaded but the `Content-Length` is 0. However it worked when I removed spaces from the name.

[2016-03-31 18:15] dave-hickson opened #1954 "POST request using Interceptor hangs"
I'm using Postman 4.1.2 on a Windows 8.1 pc.  I'm issuing a POST request with a raw JSON body and a Content-Type of application/json.  The request works fine with Interceptor switched off.  When I switch on Interceptor then the request hangs indefinitely.  I am using Interceptor because I want to view any cookies returned by the server.  Can anyone suggest an alternative way of grabbing the cookie

[2016-03-31 18:21] abhijitkane commented on #1954
@davehickson Can you try disabling and re-enabling the Interceptor from chrome://extensions and see if that helps?
If not, are there any errors in the Postman console - http://blog.getpostman.com/2015/06/13/debugging-postman-requests/?

[2016-03-31 18:25] dave-hickson commented on #1954
Disabling and enabling the extension in Chrome did the trick!  Many thanks.

[2016-03-31 18:42] brianpowell commented on #1873
I can confirm that this is fixed in 4.1.3 - Thank you!

[2016-03-31 18:43] #1873 closed, assigned to abhijitkane

[2016-03-31 19:13] nadim opened #1955 "Can't access cookies from native mac app inside Chrome"
Cookies aren't shared between the native mac app and Chrome. I've tried using interceptor for this and enabled the toggles in both interceptor and the native mac app:

Interceptor:
![image](https://cloud.githubusercontent.com/assets/24093/14187797/ffe4f2d0-f741-11e5-97fb-f5820133e06e.png)

Postman Native Mac App:
![image](https://cloud.githubusercontent.com/assets/24093/14187882/6b5c8d70-f742-11e5

[2016-03-31 20:07] tpaivaa commented on #1137
+1

[2016-03-31 21:12] ElonGated commented on #854
@abhijitkane Thanks for the reply! That doesn't seem to have helped. What I have determined is that if the collection has a failure at any point, when I try to run again the Runner will pick up at that failed call. So if I have a collection that goes [1, 2, 3, ...] and call #5 fails, when I try to run the collection again (without restarting collection runner) it'll pick up again from #5. If I res

[2016-03-31 22:27] mitchellgordon95 commented on #131
+1 elasticsearch

[2016-03-31 22:31] toanqc opened #1956 "GUI issue - pointer problem in "body -> raw" section"
Hello,
Thanks for the great work. I have an issue with the pointer location when I try to write json by myself in the raw section of the body.

For example, I have the following line:
`{
emailBody: "Customer Services Comments and Questions"
}`
When I come to this line and press `End` key. The pointer is jumped into the middle of `n` and `s` of the word `Questions` instead of end of the line and af

[2016-03-31 23:35] richfoxton commented on #971
+1

[2016-04-01 05:10] rnair32 opened #1957 "Issue with Data driving [Postman & Newman]"
[Raising as mentioned by Abhinav Asthana]

Web service under test:

METHOD:POST
Request:
{
"levelDataList":"level":1,"value":"INDIA"}]
}

**_My Aim is to use the same as_** - > "levelDataList":[{"level":"{{Level}}","value":"{{Country}}"}]

I am trying to data drive the testing with CSV file with different values for Level & Country. I have created a CSV file with 8 possible combinations in UTF-8 (

[2016-04-01 05:11] rnair32 commented on #1957
In Newman, all values are substituted and working fine with JSON instead of CSV.

[2016-04-01 06:54] aditikul commented on #1889
Thanks for reporting this! This should be fixed in the next update. Arrow keys will now work for the collection selector.

[2016-04-01 06:56] aditikul commented on #1864
Hi! Thanks for reporting this. Can you share a screenshot of what exactly you are seeing for saved response? Will help us better understand the issue.

[2016-04-01 06:59] aditikul commented on #1901
We've added a bunch of shortcuts so you can discard changes, cancel, or save changes when you get that modal. Should be pushed out soon. Stay tuned!

[2016-04-01 07:13] aditikul commented on #1912
Thanks for reporting this! We will definitely add a shortcut for toggling the environment preview popover. Stay tuned for updates.

[2016-04-01 07:17] aditikul commented on #1904
Hi! Thanks for reporting this. Can you share screenshots of how this looks like for you? This is a known issue and we are looking into fixing this so that it works properly for all screen sizes and resolutions.

[2016-04-01 07:25] aditikul commented on #1856
Hi! Totally understand your concerns. The main issue we faced was that Enter did not work consistently as a shortcut for sending a request. It could not be used to send request if you are editing the pre-request script or tests or doing bulk edit, and would have got in the way when we try to bring in more inline editing functionality in the future. Ctrl/Cmd+Enter made it more consistent. We will d

[2016-04-01 07:31] aditikul commented on #1808
You can now open a request in a new tab with the shortcut Cmd/Ctrl+Shift+click if you click on the request in the left sidebar. Hope this helps. Cmd+click will be used for multiple select later.

[2016-04-01 07:44] aditikul commented on #1582
We've fixed the bug which made the triple points button disappear if the request name was long. Are you still facing this issue? Please let me know which version you are using. The context menu appearing on right click is a good idea, we will take this into consideration for future updates. Thanks!

[2016-04-01 07:45] ruiwen commented on #1752
@abhijitkane Is there a way to avoid having the IndexDB getting corrupted next time though? What are the potential causes of corruption?

[2016-04-01 07:46] aditikul commented on #1784
Thanks for reporting this :) We are working on an update to the presentation mode based on a bunch of feedback we have collected. Stay tuned!

[2016-04-01 07:49] aditikul commented on #1585
Hi! Thanks for reporting this. Totally makes sense and we are working on an update to manage environments in an easier way.

[2016-04-01 08:02] aditikul commented on #1696
Thanks! Glad you like our products :) We're looking into better ways to manage and update your links. The Cloud plan (paid plan) is related to this since it keeps everything in sync automatically. Stay tuned for updates to the app.

[2016-04-01 08:07] abhijitkane commented on #1752
We're investigating possible causes, but documentation around this isn't comprehensive.

You can 1. Enable Sync, which will keep all your data in Sync with your account, or 2. Take regular backups (Settings > Data > Export) to your filesystem.

[2016-04-01 08:12] aditikul commented on #1797
Hi! Can you share screenshots of the window so we can better understand the issue and how the response pane should be resized based on your screen size/preferences. Unfortunately there is no easy fix for the scroll within a scroll issue in the builder area, though we understand it can be troublesome.

[2016-04-01 08:13] aditikul commented on #1951
Thats weird. Looks like a bug. Thanks for reporting it, we are looking into this.

[2016-04-01 08:16] prusswan opened #1958 "Importing your own link should add a collection that will continue to sync to that link"
Right now if the collection is deleted (but not the link associated with it), there is no way to reuse that link url, even for other collections belonging to the same user.

[2016-04-01 08:19] jonathanmorr opened #1959 "Pretty output sorts Json"
The "Pretty" output of a received JSON orders the elements from low to High. I tested the order function i implemented in my code and thought it would not work, but in "Raw" mode the elements are ordered as expected. There should be an option to let the user choose if the results in "Pretty" mode should be reordered.

[2016-04-01 08:20] aditikul commented on #1606
Thanks for sharing your feedback on this. We are looking into a better management of variables and improving the entire manage env and quickview section. However there is no ETA on this yet. We will update this thread when that happens.

[2016-04-01 08:28] abhijitkane commented on #1568
@stephenliberty @deardooley @cameronoxley We're working on a way to order folders. Meanwhile, we have a new feature to control request flow - http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/

[2016-04-01 08:38] aditikul commented on #1911
Hi! By default the shortcut cmd+\ for the notification center is turned off in OSX as far as I know so it shouldn't clash. We will look into this further, thanks for suggesting the change.

[2016-04-01 08:40] aditikul commented on #1796
Hi! Thanks for suggesting this new feature. Can you tell us a bit more about how this can help you, for example is there any specific use case due to which you have this preference?

[2016-04-01 08:41] aditikul commented on #1798
Thanks for reporting this, totally makes sense. We are working on making description editing a lot easier within the app however there is no ETA on this yet. Stay tuned for updates.

[2016-04-01 08:44] abhijitkane commented on #1957
@rnair32
Can you import this collection - https://www.getpostman.com/collections/1a2082643774af380c63
and this CSV: https://gist.githubusercontent.com/abhijitkane/4ad9630b60bd48c12ef691df047067e9/raw/1382cb5b7fe599cb1fceefa15151ea7efcafd2f0/data.csv

Run this in the runner setting Iteration: 4. All 4 tests should pass.

[2016-04-01 09:03] rnair32 commented on #1957
In my scenario, the variables needs to be substituted in body. Will you be able to import the reference (Attached in issue) and advice ? Also a few queries:

1) We need to specify Iterations in order to execute with different data set ? I.e if my CSV contains 50 data combinations, then should i specify 50 as Iteration or will it run depending on the no: of rows in CSV ?
2) How can we access the CS

[2016-04-01 09:14] wspringer commented on #1943
Having exactly the same issue.

[2016-04-01 09:29] abhijitkane commented on #1957
Yes, you'll need to specify 50 in the iteration field to run 50 iterations (even if the CSV file has 50 rows).

In the test script or pre-request script, `data.Level` and `data['Level']` will both work.

The CSV file I sent was a modified version of your file. The `\n` in the CSV file might cause problems while parsing.

[2016-04-01 09:30] abhijitkane commented on #1943
@Aaargh20318 @wspringer What versions of Postman are you using?

[2016-04-01 09:31] Aaargh20318 commented on #1943
I'm using 4.1.2

[2016-04-01 09:33] rnair32 commented on #1957
Thanks for the quick support. I will re-check and get back to you.

[2016-04-01 09:35] abhijitkane commented on #1943
Can you update to 4.1.3 (chrome://extensions > Enable Developer Mode > Update extensions now)? I'm able to download images using Send and Download properly.

[2016-04-01 09:56] Aaargh20318 commented on #1943
4.1.3 works.

[2016-04-01 10:00] AlexJozwicki commented on #1464
I'm working with Microsoft Azure AD as an OAuth provider, and they also use id_token as the actual JWT.
But they also provide the access_token, meaning that it would never fall back to id_token.

I think this issue really bogs down to implementing OpenID in Postman

[2016-04-01 10:22] tuantmdev commented on #1891
Please check your inbox

[2016-04-01 10:58] #1920 closed, assigned to nobody

[2016-04-01 10:59] ghost commented on #1920
Fixed in Postman Version 4.1.1 (4.1.1) for mac.

[2016-04-01 11:47] mfulton26 commented on #1796
Yes, as it is right now if I edit the request body and send the request the response body is only partially shown. If I start scrolling down the response body starts scrolling but I'm still only seeing the upper half of the response. It isn't until I've scrolled all the way to the bottom of the response body that the scrollable area containing the request and response bodies finally scrolls down t

[2016-04-01 12:07] chadcampbell commented on #1904
@aditikul Sure thing. I've attached a screenshot of Postman after I've executed a request.  Please notice that area that has

[code]

is as small as I can make it. I'd like to be able to make this area smaller. As you can see, I can't see any of the results of my request without having to scroll down on the window. This becomes very repetitive when you run the same request multiple times.
![postma

[2016-04-01 13:29] ajsager commented on #1856
Thanks @aditikul.  That makes total sense.  I have not utilized the pre-request/tests sections yet, so I had no other reason to ever hit Enter while in Postman other than to send the request.  I appreciate your response, and now that I know the reason behind the change, it makes me feel better about having to hold Ctrl/Cmd while pressing Enter.

[2016-04-01 14:03] johnhenderson commented on #1808
Thank you! I can do two suggestions to next version:
1. Allow change the shortcut in Settings->Shortcuts
2. Re-Add option to always open the request in new tab

[2016-04-01 18:32] mfulton26 commented on #1797
![image](https://cloud.githubusercontent.com/assets/5588957/14216343/e23933a0-f80d-11e5-9ae3-e900aa313ad6.png)
![image](https://cloud.githubusercontent.com/assets/5588957/14216350/e7ffdd66-f80d-11e5-81b3-e0e382b137c9.png)
![image](https://cloud.githubusercontent.com/assets/5588957/14216356/ebbdc652-f80d-11e5-840c-d7baa34b24a5.png)
![image](https://cloud.githubusercontent.com/assets/5588957/1421635

[2016-04-02 06:59] #1943 closed, assigned to nobody

[2016-04-02 06:59] #1954 closed, assigned to nobody

[2016-04-02 07:01] a85 commented on #1958
I don't see the need for this. The collection ID is dependent on the collection. A new API will let users manage collection links more easily pretty soon.

[2016-04-02 07:01] #1958 closed, assigned to nobody

[2016-04-02 07:02] a85 commented on #131
Reiterating: For people posting about Elastic: You can replace GET with POST and ElasticSearch will work as expected. We are replacing the underlying networking stack in Postman so that we can have more control than XHR. This is still some time away.

A new Node.js based networking stack will be available soon that will help us add bodies for GET calls.

[2016-04-02 07:02] #131 closed

[2016-04-02 07:03] #628 closed

[2016-04-02 07:06] #1207 closed, assigned to nobody

[2016-04-02 07:07] a85 commented on #1692
Postman is not designed to work with database drivers. It can only work with software that expose an HTTP API.

[2016-04-02 07:07] #1692 closed, assigned to nobody

[2016-04-02 07:09] a85 commented on #1568
Folder reordering will be available soon inside Postman but won't be part of the Collection Runner ordering flow.

[2016-04-02 07:11] a85 commented on #1934
Can't do anything on the Chrome app and honestly pretty frustrated with the Chrome platform. Closing this. We'll have Windows/Linux native apps soon.

[2016-04-02 07:11] #1934 closed, assigned to nobody

[2016-04-02 07:13] a85 commented on #1933
The 3.x proxy was not for sending requests but for capturing requests which was buggy and not used at all. The proxy feature is not available in the Mac app but again limited to capturing requests. To send requests, you can always set up your OS proxy that'll route all traffic.

[2016-04-02 07:17] a85 commented on #1921
Folks. We can't keep up with changes in the Chrome platform every 6 weeks for the legacy app that we deprecated a year ago. We will see if we can push an update but I'd recommend upgrading.

[2016-04-02 07:17] #1921 closed, assigned to nobody

[2016-04-02 07:19] uda commented on #1856
Thanks @aditikul, I agree, before when auto completing a header and hitting enter, it would send the request...

[2016-04-02 07:21] #1926 closed, assigned to nobody

[2016-04-02 07:21] #1870 closed, assigned to nobody

[2016-04-02 07:21] #1871 closed, assigned to nobody

[2016-04-02 07:25] #1806 closed, assigned to nobody

[2016-04-02 07:46] a85 commented on #1955
Sorry. Cookies are not supposed to be shareable between the Mac app and the Chrome app. We can build a bridge somehow between them but it's not easy. I'd recommend managing cookies within the Mac app. The toggle in the Mac app is for the proxy. We should change this to avoid confusion though.

[2016-04-02 07:46] #1955 closed, assigned to nobody

[2016-04-02 08:29] a85 commented on #1936
Replies below:
1. Environment auto switching: This is a tricky issue. We don't want coupling between environments and collections but in some cases this is desirable.
2. Again. Same issue. Coupling creates problems.
3. Chinese: We'll fix this. Must be a problem with unicode support.
4. Runner: You can chose either a folder or a collection. We are working on flows to improve this.
5. Grouping colle

[2016-04-02 08:29] a85 commented on #1936
For 9. Thank you! :D

[2016-04-02 08:35] #1839 closed, assigned to nobody

[2016-04-02 08:35] #1840 closed, assigned to nobody

[2016-04-02 08:36] #1810 closed, assigned to nobody

[2016-04-02 09:11] prusswan commented on #1958
Not sure if you understand. The problem is that if I delete the collection locally by mistake, I can't restore it by importing the link and keep it synced with that link, so the link becomes useless as well.

[2016-04-02 13:44] bsapot opened #1960 "Import Swagger and Update Collection"
I have a collection that was created from a swagger import. As services are added I would like the ability to re-import the swagger file and have it add the new services. This a possibility?

[2016-04-02 13:46] bsapot opened #1961 "Service Testing Coverage"
I would love a feature that would quickly show you what requests in a collection don't have tests. Right now, I think, the only way to see this is looking at each request. Let me know if I'm missing something.

[2016-04-02 13:50] a85 commented on #1961
@bsapot That's a great idea.

[2016-04-02 14:15] mstaalesen commented on #1961
+1

[2016-04-02 14:40] mstaalesen opened #1962 "Not possible to modify tests after using replace all."
If I use search / replace and then do replace all, it is not possible to modify the tests without clicking outside the Textbox and then clicking back in the box to keep editing the tests.

An animation to attempt to explain the problem
![animation5](https://cloud.githubusercontent.com/assets/14194793/14226969/385b4edc-f8f2-11e5-8a41-05e9cbd41220.gif)
(After clicking "All" it's not possible to ente

[2016-04-02 14:46] mstaalesen commented on #1962
It seems to be affecting "Body"-editing of a request too.

[2016-04-02 15:56] jkrenge opened #1963 "Errors within test code are not caught in the collection runner"
Following setup: I execute the collection runner with a run of 41 tests, where I e.g. check one endpoint with this test code:

[code]

Which works, unless the endpoint doesn't return valid JSON: So in my instance the request failed, and the endpoint returned `404` and no JSON, but only a string `Not found.`.

The first test failed, which is good, the second test code crashed. So there was an error

[2016-04-03 07:28] mstaalesen commented on #1963
While I agree with your point that the rest of the collection should not be blocked by 1 unexpected event (causing errors), there are workarounds for this issue.

By asserting that you get the expected Status-code before parsing JSON, you will not have this problem. Something like this:

if (responseCode.code === 200) {
var jsonData = JSON.parse(responseBody);
tests["Length of result"] = jsonData.

[2016-04-03 09:05] jkrenge commented on #1963
Good idea, thanks.

[2016-04-03 13:45] joanrodriguez opened #1964 "Add application/graphql in headers dropdown"
There is already an issue here: https://github.com/postmanlabs/postman-app-support/issues/1669

I suggest to simply add "application/graphql" in the content-type dropdown of POST requests as a quick win for the time being

[2016-04-03 20:06] Atomixx commented on #1826
Successfully tested

[2016-04-03 20:06] #1826 closed, assigned to nobody

[2016-04-04 04:14] a85 commented on #1496
We don't maintain Collections ourselves. Working on a public API directory that hopefully companies like Twitter will contribute to. :)

[2016-04-04 04:14] #1496 closed, assigned to nobody

[2016-04-04 08:41] ChrissiFi opened #1965 "Testing grandchild nodes"
I have an OData API that I need to interrogate down to the third level.  My URL (with nested node expands) returns the expected results in the Body panel but my tests error with "There was an error in evaluating the test script:  Cannot read property 'TelephoneNumbers' of undefined".  There's nothing else showing in the debug console.  Is there a way to pick up data from this node in tests or is i

[2016-04-04 09:26] ChrissiFi commented on #1965
Problem resolved.

[2016-04-04 09:26] #1965 closed, assigned to nobody

[2016-04-04 09:36] aguetat commented on #1257
+1

[2016-04-04 11:43] davenewza opened #1966 "Running multiple collections in Collection Runner"
The Collection Running currently only has the ability to run one collection at a time. It would be advantageous to be able to select and run multiple collections in the test run.

In the Runner, the collection list view could be amended to be a multiselect list view:

![image](https://cloud.githubusercontent.com/assets/6212830/14247055/b9e1df5a-fa6b-11e5-88be-d3f57e632b52.png)

[2016-04-04 11:59] ghost commented on #1911
Hmm, you might be correct, though right now I turned off OS X Notification Center Shortcut in system preferences, unfortunately sidebar shortcut in Postman still have no effect.

[2016-04-04 14:45] ChrissiFi commented on #1137
+1

[2016-04-04 17:27] joshlrogers commented on #1944
Is there some more information I can provide around this to help determine root cause?  We would really like to get these tests going and be able to trust them.

[2016-04-04 18:00] abhijitkane commented on #1944
@joshlrogers Can you click on the red `1234999` request in the Network tab, and attach a screenshot of that? We've tried to reproduce this with the response headers you mentioned, but couldn't see the problem.

[2016-04-04 19:06] emattheis opened #1967 "can't avoid following redirects in Mac app"
With the Chrome app and the interceptor plugin there was the option to avoid automatically following redirects. This is great for validating API responses that are expected to result in a redirect. Unfortunately, it doesn't seem to be an option in the standalone Mac app.

[2016-04-04 19:45] joshlrogers commented on #1944
This is the screenshot:
![image](https://cloud.githubusercontent.com/assets/6315573/14260963/dc0ce0f4-fa73-11e5-84eb-9f6b60e79d69.png)

[2016-04-04 20:06] abhijitkane commented on #1944
What about the "Console" tab - any errors there?

[2016-04-04 20:08] joshlrogers commented on #1944
Just what you can see above in my first screenshot that the api actually returns a 404.  But it seems the resource.js file isn't "catching" it and is just waiting.

[2016-04-04 20:13] abhijitkane commented on #1944
Is the Interceptor enabled in Postman?

[2016-04-04 20:14] joshlrogers commented on #1944
It is not.

[2016-04-04 20:18] abhijitkane commented on #1944
How about this endpoint (returns the same headers as your URL) - http://demo1863006.mockable.io//404test

What's the response body? (some body might be present even for a 404 - screenshot attached)
![screen shot 2016-04-05 at 01 47 43](https://cloud.githubusercontent.com/assets/681190/14261892/792cde1e-fad0-11e5-8800-9163f15c5c88.png)

[2016-04-04 20:24] joshlrogers commented on #1944
I get a hello.

There are really only two differences between the tests that I can tell.  Besides obviously talking to a different API.

1.) The test that fails is using an HTTPS endpoint
2.) The test that fails is also using an authorization header. It is in the format of Bearer {random string sequence}

Beyond those two differences there aren't really differences in the test themselves.  Here ar

[2016-04-05 03:25] DimitriGilbert commented on #752
I have this issue too with my implementation of oauth2 (using http://oauth2.thephpleague.com/ ) if i comment lines checking the redirect_uri when issuing the token, no problem (this is not really a solution though).

[2016-04-05 04:08] aqyblitz opened #1968 "[Request] Summary from Node.js invocation"
I was wondering if it was possible to have the nice folder-based summary results that the command-line invocation of Newman (newman -c collectionname ...) generates printed to stdout & captured in the output file from the Node.js invocation (aka Newman.execute(....)).

I'm not sure if this is a feature yet or not, but nothing turned up when I dug through the source. I could always manually generat

[2016-04-05 10:04] ghost opened #1969 "Can't disable prompt to save on Mac"
Hi,

this bugs me as this use to be a feature but whenever i modify one of my saved requests to alter parameters it marks the tab as altered.
This means that whenever i click on another stored request it auto opens a new tab and whenever i close a tab that is altered i have to click 'don't save' every time. I used to be able to disable in settings when i was using windows but i have not been able

[2016-04-05 10:09] ChrissiFi commented on #1966
I'm also finding that the Collection Runner does not always run all the tests in my collection - I have a collection with over a dozen folders, each containing multiple gets (each with an average of about 6 tests).  When I started using Postman I could run the whole collection with no problems.  Now only the first few folders are run through and sometimes I only get the first few tests from a sele

[2016-04-05 10:10] ChrissiFi commented on #1963
I'm also finding this plus my tests to check for a code 401 which run fine in the builder are failing in the runner as it is picking up a 400 not a 401.

[2016-04-05 10:11] abhijitkane commented on #1966
@ChrissiFi Can you confirm the Postman version you're on? Also, are there any errors in the console (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)? (Right click on the runner > Inspect element)

[2016-04-05 10:26] ChrissiFi commented on #1966
I'm on 4.1.3.  I've just chosen to run an entire collection and have
circled where the runner finished (well under a quarter of the way
through).  All but one of the tests highlighted as fails at the bottom
succeed when run in the builder.
[image: Inline image 1]

On Tue, Apr 5, 2016 at 11:11 AM, Abhijit Kane notifications@github.com
wrote:

[2016-04-05 10:54] abhijitkane commented on #1966
@ChrissiFi I can't see the image. Can you try attaching it again or sending a dropbox link?
A screenshot of the console would be helpful too.

[2016-04-05 11:25] ChrissiFi commented on #1966
Hopefully this will work better.  I selected to run all tests in the
collection, I've circled the last one it ran (seems to terminate correctly
and reactivates the start test button but just doesn't run all the tests).
Interestingly the test that failed with 400 and 403 succeed when run
through the builder (they're actually both checking that those errors are
given).

On Tue, Apr 5, 2016 at 11:54

[2016-04-05 11:31] abhijitkane commented on #1966
@ChrissiFi Still can't see the image. Can you attach a dropbox link?

[2016-04-05 12:00] ChrissiFi commented on #1966
Try https://www.dropbox.com/s/gkphe13gao993l0/Console.png?dl=0

Chrissi

On Tue, Apr 5, 2016 at 12:31 PM, Abhijit Kane notifications@github.com
wrote:

[2016-04-05 15:38] vhanded commented on #884
After I rebooted my computer, it works fine, but it came back again later.

[2016-04-05 16:13] alowenst opened #1970 "How do I parse html to json?"
Hello!!

Is it possible to transform an html response to json and run tests on it? I couldn't find anything around this item.
There are some references saying "yes, you can do it" but nothing beyond that..

Thanks!

[2016-04-05 16:55] elevenE commented on #430
Any updates on this? Is there any way to view/copy the raw response (not just the body)?

[2016-04-05 19:39] mstaalesen commented on #1963
If it is picking up a 400, your server returned 400. You should use console.log() on the responsebody to get the return, since you won't get it from the collection runner.

[2016-04-05 19:42] mstaalesen commented on #1966
You have an error in your test, because you are getting a return from the server that you are not expecting. This is (99% certain) the reason not all of your tests are executed. Postman Collection Runner stops on errors.

[2016-04-05 19:43] jhalterman opened #1971 "Content-Length header must be manually deleted after content changes"
Edited this issue based on @czardoz's clarification:

After changing the content for a request, such as form params, the content-length header (if one exists), must be manually deleted before sending the request so that one can be recreated.

It would be much better if `content-length` was auto-generated after changing request arguments. Similarly, though unrelated, it would be great if AWS auth c

[2016-04-05 19:44] mstaalesen commented on #1970
Could you show some examples on what you need to parse?

Perhaps: http://stackoverflow.com/questions/12980648/map-html-to-json can help you?

[2016-04-05 19:57] czardoz commented on #1971
Content length is recalculated when the request is sent, so you shouldn't not have to hit the update request button at all :)

[2016-04-05 20:08] jhalterman commented on #1971
Edited

@czardoz It looks like a content-length header is added, but only if one doesn't exist. So each time the content is changed, you have to manually delete the header before making your request or hitting `update request`.

[2016-04-05 20:11] jhalterman commented on #1971
...it might help to make this issue a bit more broad. Really, it would be nice if headers were automatically updated without having to delete them. Another place this comes up is when I open a saved request, I have to hit the `update request` button to generate a new `X-Amz-Date` header.

[2016-04-06 06:08] alowenst commented on #1970
I have a very simple HTML that returns from one of our Spark applications. it just has application IDs, state, number of workers etc. very straightforward and simple. here's the sample file - [spark-dashboard.txt](https://github.com/postmanlabs/postman-app-support/files/205852/spark-dashboard.txt)

what i'm interested here is the "Running Applications" and "Workers" sections, all columns.
hope thi

[2016-04-06 06:57] zookz commented on #285
+1

[2016-04-06 07:25] hekailiang commented on #976
I have the same issue. When interceptor is enabled, and POST request header contains "Accept-Language:zh-CN,zh;q=0.8,en;q=0.6,zh-TW;q=0.4", the "Cookie:{{my-cookies}}" will not be attached to the request. (Disable "Accept-Language" then everything works fine.)

Postman:  4.1.3
Postman Interceptor: 0.2.18

[2016-04-06 09:36] mahendranv commented on #1878
Sorry for the delay.

It works fine. Thank you.

Regards,
Mahendran V
On Mar 31, 2016 10:01 PM, "Abhijit Kane" notifications@github.com wrote:

[2016-04-06 13:43] pellicano opened #1972 "Collection items cannot be ordered properly"
I cannot order by name items inside a collection.

[2016-04-06 15:34] winkelsdorf opened #1973 "Raw Response Headers"
Hi,

Postman is great! The only thing I really miss is: Raw Response Headers.

Don't get me wrong, presenting them with those arrows is nice. But I am really used to see plain text. For me it takes more time to get through this visually nice list than having a bunch of raw headers.

Feature request: Add showing raw response headers :)

Cheers,
Frederik

[2016-04-07 00:38] JohnPelletier opened #1974 "Better support for matrix parameters in GET"
I can't seem to find a way to use matrix parameters in a nice readable format like the query parameters have. I love Postman, but without that easy-to-read feature for matrix parameters, it will be hard for me to use this tool for anything in our API. Seems like it would be easy to add, just put a semicolon instead of the original "?", and don't insert &'s in the formatting.

For example, for matr

[2016-04-07 03:16] GabbyChangSH commented on #1395
Support point 3 very much! For now, we have to write setup/teardown code in each collection. Once these setup/teardown cases needed to be changed, I have to update them in every collection, which costs me a lot of effort.It's better for user if the setup/teardown code can be called/included in other collection.
Thanks!

[2016-04-07 05:48] ruiwen commented on #1752
@abhijitkane Data loss happened again today. If it's any help to you guys, it happened after my Mac hung and required a reboot. I lost all collections and history again, despite having it been saved previously. Though, it seems like it might be happening in conjunction with Chrome upgrades on the dev channel.

[2016-04-07 14:15] davenewza opened #1975 "Accompany changelog with release dates"
The changelog available [here ](https://www.getpostman.com/apps#changelog-chrome-app)doesn't indicate when these features and updates were released.

This is handy for developers who find themselves having to troubleshoot strange bugs. Always check if your software or tools have updated!

[2016-04-07 16:27] pjohnkeane opened #1976 "Runner: Data load from CSV doesn't seem to work with nested elements"
I'm working with a few API calls that use nested elements in their bodies -- i.e. in this sort of shape:

[code]

These can be processed fine by specifying the data to use on a case-by-case basis when running via Postman, but I get failures when executing via Runner from a CSV data file when it hits one of these requests (typically returning **422 Unprocessable Entity**).

I can appreciate that th

[2016-04-07 16:28] pjohnkeane commented on #1976
Previously also noted by someone else in the comments on [Using CSV and JSON data files in the Postman Collection Runner](http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/#comment-2398413656)

[2016-04-07 16:41] aubm commented on #204
Hello :) In addition to the tools that you mentionned, you might be interested by this one I'm currently working on: https://github.com/aubm/postmanerator.

Don't hesitate to have a look if you will, and feel free to submit issues if you have questions or you have ideas that could make it better :)

[2016-04-07 17:48] sharpedavid commented on #979
What do you mean you "haven't been able to reproduce the issue"? There is nothing to "reproduce". The issue is that the font-size is damn small on high resolution monitors (e.g. laptop monitor with 1920x1080) and can't be _changed_. Maybe when you say you can't "reproduce" it you just mean "it looks big enough to us"? If so you are missing the point, or I am...

![image](https://cloud.githubuserco

[2016-04-07 17:53] a85 commented on #979
@sharpedavid No. We don't mean that it's not big enough for us. We like interfaces that are clear and legible and we have every resolution from 800x600 to 4K monitors plus testing on TVs and projectors. Something gets fucked up somewhere as there are several layers below Postman. We don't write pixels on the screen on the GPU layer using HTML and Javascript. Can you give me a side-by-side comparis

[2016-04-07 18:00] mbcollins commented on #979
@sharpedavid

Don't even bother. People have been trying to tell them this for a
loooooonnnnnnng time. They cannot get their shit together to replicate
the standard environment that their customers are using. Their business
process regarding testing around screen resolution and usability are
broken BEYOND REPAIR.

Use it like it is or find something else. Don't waste our time and
aggravation on it

[2016-04-07 18:06] a85 commented on #979
@mbcollins Thanks for chiming in again. I am locking this thread because you are not going to help us debug this anyway.

[2016-04-07 18:06] #979 closed

[2016-04-07 18:06] sharpedavid commented on #979
I understand your frustration, mbcollins, but I don't relate. I'm not a customer; I'm using a free tool. Overall I'm impressed that the tool exists, it's free, and they're engaging us at all without paying for support. It's not as if I'm going to take my "business" elsewhere.

Here's a side by side comparison, but I don't think it proves anything. I routinely increase the font size of _all_ my app

[2016-04-07 18:07] a85 opened #1977 "Tiny font issue"
Creating a new issue because of unnecessary spamming on #979.

[2016-04-07 18:10] a85 commented on #979
@sharpedavid We'll be tracking this here: https://github.com/postmanlabs/postman-app-support/issues/1977

If you are using the Chrome app and you have to increase the font sizes of web pages by 125% then you'd need to increase this in the Chrome app too which is what I wanted to know.

The problem is that Chrome apps don't work like web apps but like native apps.

[2016-04-07 18:26] sharpedavid commented on #1977
For me the problem is that I routinely increase the font size of _all_ my applications to about 125%, sometimes more. Here a side-by-side screenshot comparing Google Chrome to the Postman Chrome app. In it, I've increased Chrome's font size to 125% and the Postman "Response Font Size" to 18. I can easily read Postman's response window, but I have to squint and lean to read the rest of the font, es

[2016-04-07 18:31] a85 commented on #1977
@sharpedavid Thanks. This is what I wanted to know. Will get back here with comments.

[2016-04-07 20:07] ohadmuch opened #1978 "Runner - delay between collection iteration"
Hi.
I'm using the OS X app.
In the Runner I can set a delay between the collection requests calls, it's great but I want another delay configuration for the whole collection iteration.
So if I have 3 requests in the collection with delay of 10 seconds between them,  I want that when all 3 are finished to start the next iteration of the collection in delay of 1 minute.

Thanks.

[2016-04-07 21:12] tahakarimagcocorp opened #1979 "Didnt pull up the whole collection on subscription"
I have 83 requests in my collection but it failed to pulled it out, only showing 9 request, I did unsubscribe my collection and restart postman several times but it didn't work
Please if anyone have any suggestions it would be appreciated

Thanks

Taha

[2016-04-07 21:13] abhijitkane commented on #1979
@tahakarimagcocorp Can you send us an email at help@getpostman.com with your username and Postman version?

[2016-04-08 01:03] Bachmann1234 opened #1980 "Undefined Bearer token when saving oauth2 tokens from fitbit"
This sound similar to https://github.com/postmanlabs/postman-app-support/issues/1449 but the behavior is slightly different and its been a while so I figured I would post it separately.

When I authenticate with Fitbit's oauth2 apis Postman Stores the token, but when I use it the token is saved as "undefined"
<img width="579" alt="screen shot 2016-04-07 at 9 02 36 pm" src="https://cloud.githubuser

[2016-04-08 01:08] Bachmann1234 commented on #1980
I understand that this is likely because fitbit is doing something slightly unexpected with the oauth response. But can you give me a sense of what is different about Fitbit's flow?

Any suggestions for a workaround?

[2016-04-08 04:32] brian-stinar commented on #292
Yeah, I'd LOVE this. I always have to spend a bunch of time translating between my postman requests and curl.

[2016-04-08 09:01] shamasis commented on #979
@sharpedavid - finally! Somebody gave me the direction to at least perceive the issue. Thanks a bunch.

[2016-04-08 12:17] qmacpit commented on #1942
The same thing:
- Chrome Canary Version 51.0.2703.0 canary
- Win 10
- Postman - REST Client 0.8.4.16

[2016-04-08 12:23] abhijitkane commented on #1980
@Bachmann1234 It seems that the second call (to the access token URL exchanging the Authorization code for the access token) needs an Authorization header. We've patched this, and this should be available in the next release.

[2016-04-08 14:27] Bachmann1234 commented on #1980
@abhijitkane score! thanks

[2016-04-08 14:48] ghost opened #1981 "UI - Enable Header icon"
Recently faced a stupid issue. I was testing some api with a special header and got an error from a server. The problem was that I haven't enabled this header. But at first look, it was not clear that it is disabled. Icon color is the same as remove and drag icons, the icon is a check mark. It is a little bit confusing. It will be good if for example the icon will be different for disabled headers

[2016-04-08 17:44] dtw45 commented on #1257
+1

[2016-04-08 18:56] ghost commented on #1228
+1 to have the option to send a request without cookies.

[2016-04-08 20:39] thomasvdbossche opened #1982 "PUT request only works with first version with of postman"
I have installed both the first version of postman (https://github.com/postmanlabs/postman-app-support/wiki) and the latest as a chrome extension. After importing my collection, all requests work normally, except for the PUT request, for which I receive a 404 error. All settings (headers, URI, parameters) are identically.

Since the URIs are confidential, I cannot post them here.

[2016-04-08 20:40] abhijitkane commented on #1982
@thomasvdbossche Are you able to make a PUT request to http://echo.getpostman.com/put?
Does the imported PUT request work through cURL?

[2016-04-08 20:52] thomasvdbossche commented on #1982
A PUT request to http://echo.getpostman.com/put works.
However, the PUT request through cURL gives also throws a 404..

Op 8 april 2016 bij 22:40:52, Abhijit Kane (notifications@github.com) schreef:

@thomasvdbossche Are you able to make a PUT request to http://echo.getpostman.com/put?
Does the imported PUT request work through cURL?

—
You are receiving this because you were mentioned.
Reply to t

[2016-04-08 21:02] gogonutsss commented on #1783
I cannot believeit that this setting has been removed,  together with fact that collection runner does not give a way to see the responses it gives the impression we have to memorize responses or smell our nails!  Come on guysss!

[2016-04-08 21:03] gogonutsss commented on #1945
Any news on thisss?

[2016-04-08 21:06] gogonutsss commented on #1745
This seems tobe pretty obviousin terms of importance,  any update?

[2016-04-08 21:17] abhijitkane commented on #1982
Is some sort of authentication required? You might need to use the Interceptor - http://www.getpostman.com/docs/interceptor_cookies

[2016-04-10 18:42] panicou commented on #932
any news on this one ?
I can still not use digest without having to rewrite the values

[2016-04-10 19:11] dominikhajduk commented on #739
+1 for the grant type for password

[2016-04-10 19:12] shark0der commented on #739
I'd really like to have this functionality implemented. Right now I'm manually updating environment variables using the post-request scripts.

[2016-04-10 20:18] joshlrogers commented on #1944
Has there been any activity toward locating the issue here?

[2016-04-11 06:13] bilalshahid10 commented on #1257
+1

[2016-04-11 09:09] balabanmario opened #1983 "POST request sent twice"
Hello, I think there is an issue with Postman Chrome Extension ver 4.1.3: It sends the POST request twice. Here is the raw POST I'm trying to execute:

[code]

The post generates a pdf file that is returned to the caller.
I have tried the same request with  other REST client and the request is sent only once.
OS: osx yosemite
Chrome Version 49.0.2623.110 (64-bit)
Thanks.

[2016-04-11 13:02] bbednarek commented on #697
+1

[2016-04-11 14:46] boonep commented on #884
Same issue here. Ubuntu 14.04 LTS

Postman: 4.1.3
Interceptor: 0.2.18

Also, getting this on simple GET requests without any headers as well.  If I switch off interceptor, I get immediate responses.

[2016-04-11 18:08] antong314 commented on #156
+1

[2016-04-11 22:38] hernandcb commented on #1783
+1

[2016-04-12 02:11] piglei opened #1984 "Requests in collection strangely disappeared"
Some saved requests disappeared in my collection, but the number is still correct(I assume).

![screen shot 2016-04-12 at 10 09 52 am](https://cloud.githubusercontent.com/assets/731266/14447914/c21768f8-0096-11e6-893b-254ada99e920.png)

Only 12 requests in list but the number says "20 requests".

[2016-04-12 02:24] redkhalil commented on #1137
+1
Any update on this? I tried to login via Chrome first but it's not working. Right now I'm left to using curl.

[2016-04-12 06:36] rbawachkar610 opened #1985 "Get Collection URL is not working"
When we click on Share >> Get Link for particular collection, it will show "Fetching Link" ....

but nothing happens after that. We can not see link generated for this collection.

pls help us to sort out this. we need collection link, in order to run the APIs in Newman.

[2016-04-12 06:41] rbawachkar610 commented on #1985
![postman_get collection link](https://cloud.githubusercontent.com/assets/18414034/14451810/9b082f8e-00a7-11e6-9b50-4306a914fe57.jpg)

[2016-04-12 06:51] RobWin commented on #1973
+1

[2016-04-12 08:39] RobWin commented on #166
+1 for REPORT method

[2016-04-12 09:40] abhijitkane commented on #1985
@rbawachkar610 We're looking into why this might be happening. Can you try restarting your app and then trying?

[2016-04-12 09:46] abhijitkane commented on #1984
@piglei Can you try signing out and signing back in? We're looking into how this may have happened.

[2016-04-12 10:50] rbawachkar610 commented on #1985
Already tryout with restart option. problem is still there after restart.

[2016-04-12 10:51] abhijitkane commented on #1985
@rbawachkar610 Can you check the Network tab in the DevTools window and send a screenshot? (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)

[2016-04-12 11:05] piglei commented on #1984
@abhijitkane  This missing requests showed up after signing out and signing back in.

Thanks.

[2016-04-12 12:20] TheIcemanCometh opened #1986 "Collections pointing to localhost:8080 no longer working"
We use a series of collections in Postman Cloud, and we use environment settings to easily switch between environments, to include local development machines using localhost:8080.  On Friday this past week, my collections completely stopped working when pointing to localhost:8080 although they work fine when pointing to other environments.  The same collections appear to work fine for others - the

[2016-04-12 12:22] abhijitkane commented on #1986
@TheIcemanCometh Can you attach a screenshot of the DevTools' Network tab?
Also, are there any errors in the DevTools' console?

[2016-04-12 12:24] TheIcemanCometh commented on #1986
![screen shot 2016-04-12 at 8 24 02 am](https://cloud.githubusercontent.com/assets/1135824/14459782/f5d8a63e-0087-11e6-8381-44e3ed9bf0c7.png)
![screen shot 2016-04-12 at 8 23 34 am](https://cloud.githubusercontent.com/assets/1135824/14459781/f5d62d32-0087-11e6-81a2-2e008fbb7082.png)
![screen shot 2016-04-12 at 8 24 47 am](https://cloud.githubusercontent.com/assets/1135824/14459794/0da6e492-0088-11

[2016-04-12 12:25] abhijitkane commented on #1986
How about the Headers tab (instead of Response)?

You can try installing Chrome Canary (https://www.google.com/chrome/browser/canary.html) and install Postman there.

[2016-04-12 12:28] TheIcemanCometh commented on #1986
![screen shot 2016-04-12 at 8 26 25 am](https://cloud.githubusercontent.com/assets/1135824/14459874/8aabcebc-0088-11e6-8f10-458102f579df.png)

[2016-04-12 12:32] TheIcemanCometh commented on #1986
I tried installing Canary, and while it does install, it crashes every time I try to start it.  I have also tried uninstalling and reinstalling Chrome itself and that does not seem to have affected anything either.

[2016-04-12 13:36] Christilut commented on #884
Just had the same problem.
Postman about:
4.1.3
linux / x86-64
Chrome 48.0.2564.116
(not sure how to see interceptor version)
Ubuntu 15.10

[2016-04-12 13:39] abhijitkane commented on #884
@Christilut To see the interceptor version, head to `chrome://extensions`, and enable 'Developer Mode'.
You should see the version for the Interceptor listed here. Does clicking on `background.html` show any errors in the console?

[2016-04-12 14:28] Christilut commented on #884
Hm maybe I uninstalled Interceptor a while ago, can't find it under extensions. Could that be the reason for this bug? Maybe Postman doesn't know Interceptor is gone and thats why it hangs indefinitely?
Postman still thinks it has Interceptor, it doesn't tell me I should install it. The toggle was enabled too.

[2016-04-12 14:28] abhijitkane commented on #884
Yes, if you try to toggle the Interceptor off and on again in Postman, it'll show you a warning.

[2016-04-12 14:30] Christilut commented on #884
Yeah it does show the warning now. So maybe what I said in my last post could be reason for this bug..

[2016-04-12 14:32] abhijitkane commented on #884
Yes, that is correct. Postman has no way of identifying when the Interceptor was uninstalled.
We can check whether the Interceptor is installed each time Postman loads.

[2016-04-12 14:32] kobelobster commented on #884
I just got the same error. When having intereceptor activated in postman it's loading and loading. As soon as I disable it (no restart or sth. else) the response comes instantly.

Is there something I can check for you so you can get more details? I can't click on "About Postman" on OS X though because it is greyed out.

[2016-04-12 14:33] abhijitkane commented on #884
@tzfrs To see the interceptor version, head to chrome://extensions, and enable 'Developer Mode'.
You should see the version for the Interceptor listed here. Does clicking on background.html show any errors in the console?
Can you try disabling and enabling the Interceptor from `chrome://extensions`?

[2016-04-12 14:38] kobelobster commented on #884
I'm an idiot. I'm on a different working machine which doesn't have the Interceptor extension installed... Sorry for taking your time  😆

[2016-04-12 18:42] BrakTalk commented on #1910
So, I wouldn't have to provide a complete block?  Just a part of it?

[2016-04-12 21:28] abhijitkane commented on #1910
No, just enough so we can reproduce the problem.

[2016-04-13 02:07] ArunMonySpin commented on #1969
I had also reported the issue on your twitter channel, and was promised a fix pretty soon, but it has been a month already. Why remove something which gives an option to the users ?  I mean why remove a feature which was already there ? Honestly this bug is irritating to me to the extent that I have started to explore for postman like tools.

[2016-04-13 03:29] GabbyChangSH commented on #882
+1

[2016-04-13 05:21] GabbyChangSH commented on #1535
+1
And does there any other workaround to solve these problem?
@abhijitkane, how to add one request in the environment variable? Can you give one example?

[2016-04-13 05:51] GabbyChangSH opened #1987 "{{$timestamp}} doesn't work well in request body"
While I use "postingDate" : "{{$timestamp}}" in the request body, it pops error message with "Invalid format: \"1460526578\" is malformed at \"8\"". Why timestamp returns 1460526578?

[2016-04-13 05:53] rbawachkar610 commented on #1985
![dev tool](https://cloud.githubusercontent.com/assets/18414034/14483969/24624d10-016a-11e6-825f-5e2f93a8052f.jpg)

[2016-04-13 08:02] abhijitkane commented on #1987
@DaisySu Can you try sending a POST request to http://httpbin.org with this payload:

[code]

Screenshot attached.
<img width="850" alt="screen shot 2016-04-13 at 13 31 03" src="https://cloud.githubusercontent.com/assets/681190/14486724/1ccbfada-017c-11e6-95ae-451e6b4c18fb.png">

[2016-04-13 08:02] abhijitkane commented on #1985
@rbawachkar610 How about the Console tab (instead of Network)?

[2016-04-13 08:57] GabbyChangSH commented on #1987
Yes, I have send it. And it return the data as your screenshot. But I don't understand what to do to resolve this issue.
![image](https://cloud.githubusercontent.com/assets/17960591/14488056/d28c7f54-0198-11e6-8dc8-6cdf32a9804e.png)

[2016-04-13 09:15] abhijitkane commented on #1987
@DaisySu $timestamp is supposed to return the current time in the Unix timestamp format (http://www.getpostman.com/docs/environments)

Where are you seeing the "malformed" error? If it's in the server response, you might need to check the server logs, and confirm what the server expects.

[2016-04-13 09:51] GabbyChangSH commented on #1987
Yes, it's server response. The server accept format including "2016-03-27T16:00:00.000Z", "2016-03-27". That means I should convert the $timestamp to the above format before using in the request body.

[2016-04-13 09:54] abhijitkane commented on #1987
That's correct - we include SugarJS in the sandbox (http://sugarjs.com/dates), which should let you convert between formats easily.

[2016-04-13 09:57] GabbyChangSH commented on #1987
OK, Thank you very much.

[2016-04-13 09:57] #1987 closed, assigned to nobody

[2016-04-13 10:09] aditikul commented on #1969
@cpotter91 @ArunMonySpin We've added shortcuts that should help speed up the flow for the save modal. Enter to save, esc to cancel and space for "don't save." Please update to the latest version and let me know if it works for you. Thanks.

[2016-04-13 10:11] aditikul commented on #1904
@chadcampbell Thanks for sharing the screenshot, it helps a lot. Makes sense and this should be fixed soon - you should be able to resize the request area for a smaller height. Stay tuned for updates.

[2016-04-13 10:12] aditikul commented on #1911
@danielpigan That's odd, this is working for me. Can you let me know which version you are on in Chrome app or Mac app?

[2016-04-13 10:18] mstaalesen opened #1988 "Not possible to move a request to the bottom of a folder"
Currently it is not possible to move a request to the bottom of the folder that it is currently residing in. The only way of doing it is to move it to the second to last from the bottom and then moving the item at the bottom above it:

![animation7](https://cloud.githubusercontent.com/assets/14194793/14490204/cdc6715e-0171-11e6-90e9-2f1f27cd3805.gif)

[2016-04-13 10:20] mstaalesen opened #1989 "Selecting text in "Edit Folder" and dropping the mouse outside the Dialog closes the window"
If you try to edit a folder, or a request and select all the text with the mouse and then release the click of the mouse outside the dialog box for "Edit folder", the dialog box will close itself.
This does not happen as long as the mouse is released inside the dialog box itself:

![animation6](https://cloud.githubusercontent.com/assets/14194793/14490246/114c22de-0172-11e6-90f4-d5933a2b783c.gif)

[2016-04-13 11:29] ArunMonySpin commented on #1969
I am not sure, how is this going to help much.  I basically want the options in the settings page via which I can tell postman to open only one request window at a time and discard the previous window regardless of whether it has changes pending or not.

Thanks,
Arun Mony
Head Of Engineering
http://getspini.com

+91-963-282-9988

[2016-04-13 11:55] a85 commented on #1969
I don't think we'll have that option. The reason for that is pretty simple and I am not sure why this is so hard to understand: discarding changes automatically makes people lose their fucking work. Go through other issues on the tracker here to see the scope of the problem before demanding features.

We'll look at other flows but I am closing this issue right now.

[2016-04-13 11:55] #1969 closed, assigned to aditikul

[2016-04-13 12:29] Mathiou04 commented on #156
+1

[2016-04-13 12:35] a85 commented on #1783
Cmd+Shift+click on mac, ctrl+shift+click on win/linux works as a shortcut now for opening a request in a new tab from the sidebar.

[2016-04-13 12:35] #1783 closed, assigned to nobody

[2016-04-13 12:55] facundoolano commented on #1263
+1

[2016-04-13 13:57] jonasa84 opened #1990 "Pushing changes in team collection to collection URL link only possible for owner"
Hi,

Our team has a team collection with API tests that we run in newman by specifying the collection url.

The problem is that if any team member makes changes to the collection, these changes aren't reflected in the file downloaded from the url. And only the owner of the collection can push the changes to the file by clicking Share -> Update link. This option is not available for the rest of the

[2016-04-13 14:18] herbertpimentel commented on #1977
+1

[2016-04-13 15:13] numaanashraf commented on #1988
@mstaalesen Hey! Thanks for reporting this. We are looking into this.

[2016-04-13 15:42] cruisencode commented on #1719
I'm having the same issue as well.

[2016-04-13 16:26] robolivable commented on #767
I'm seeing this happen with requests to bad URLs. For example, specifically to my use case, after changing the URL (and protocol to HTTPS) of my server, accidentally sending a request to the old URL hangs the application. The only fix is to restart Chrome as slavafomin mentioned above.

[2016-04-13 17:59] aditya-mittal opened #1991 "Sending multipart/form-data content with Postman Chrome extension"
Hi,

I am trying to send a multipart-form data request through POSTMAN, but the request fails giving a HTTP 500 response.
Although the curl request works for me, but somehow from POSTMAN it fails.

It seems the request from POSTMAN doesn't works because the ContentType of file being uploaded as part of request is treated as "application/octet-stream" and not "application/json".

For more informati

[2016-04-13 19:46] boonep commented on #884
@abhijitkane no errors from me in background.html

Postman begins working correctly after a restart of my Ubuntu VM, but at some point this error starts cropping up again.  I haven't found the exact steps to recreate.  Trying to keep track.  Let me know if you have any other suggestions for things I can look at to help debug.  Thanks!

[2016-04-14 03:15] bh-rat opened #1992 "Re-ordering of json response in pretty mode."
Postman is automatically changing the order of my response json elements in pretty mode.
Here's the pretty v/s raw output :

![pretty](https://cloud.githubusercontent.com/assets/3863850/14516070/0f7d8816-021d-11e6-84a8-a4030c14b1f1.png)

![raw](https://cloud.githubusercontent.com/assets/3863850/14516071/0f7e6f2e-021d-11e6-8c6d-fea55e94f0f5.png)

As you can see the id's of the output are different.

[2016-04-14 04:21] ghost commented on #1783
Verified and thank you.  Can this key combination be documented somewhere?

[2016-04-14 04:42] a85 commented on #1783
Yeah. Going in the next version.

[2016-04-14 07:48] rbawachkar610 commented on #1985
![console tab](https://cloud.githubusercontent.com/assets/18414034/14520665/5ca1e8b4-0243-11e6-9389-3111dc4d4188.jpg)

[2016-04-14 07:58] bh-rat commented on #1992
Just saw #1959 so closing this one.

[2016-04-14 07:58] #1992 closed, assigned to nobody

[2016-04-14 08:04] FredrikTamm opened #1993 "Forcing Postman to choose specific certificate"
I have several client certificates installed and want to be able to choose the appropriate certificate for my specific api-request. Is there a way to do this? I am using the MacApp.

[2016-04-14 08:37] lasselehtinen commented on #1910
I have the same issue. I have nothing confidential in the XML, so i've [provided a gist here](https://gist.github.com/lasselehtinen/87e9c79228b03a4624f430ea9c6da659) for the raw output.

![image](https://cloud.githubusercontent.com/assets/1290186/14522019/3e90dc94-0235-11e6-8246-defc4156fd90.png)

![image](https://cloud.githubusercontent.com/assets/1290186/14522024/42d7a1c0-0235-11e6-851a-7eee0ede

[2016-04-14 09:24] grifx opened #1994 "Add warning message when trying to set a header "Cookie" or "cookie"."
Hey guys,

Could we add a warning when using a header with the key: "Cookie" or "cookie"?
It's not explicit at all that we should use the interceptor while sending the request.

Thanks

[2016-04-14 09:57] GabbyChangSH commented on #675
+1

[2016-04-14 11:49] TheIcemanCometh commented on #1986
Any updates here?  Is there any other information I can provide for troubleshooting purposes?

[2016-04-14 11:51] TheIcemanCometh opened #1995 "[Feature Request] Setting default option for Generate Code"
As someone who always prefers to use cURL when testing service calls from a command line, I'd like an option in the general Settings to allow me to define which Generate Code Snippet option is selected by default.

[2016-04-14 12:21] sunshineo commented on #1441
+1 I cannot believe this does not work. I have a simple curl for upload files which works, but I just cannot do the same in Postman.

[2016-04-14 12:21] Redsandro opened #1996 "POSTman killing CPU"
Somewhere along the way this POSTman new version started to idle using ~55% of my CPU. (Just about one core + overhead I guess.) Not always, but often. This is making my laptop very hot and draining my battery. Killing the app and using an alternative is my current workaround. But I'm not a fan. :sunglasses:

POSTman 4.1.3 (but I reckon it happens for multiple versions now)
Google Chrome Version 4

[2016-04-14 12:37] numaanashraf commented on #1996
@Redsandro That's odd. Does CPU usage spike only when you perform specific actions or is it always idling at 55%?

[2016-04-14 13:17] dan-searle commented on #1737
I'm also encountering this issue, and it's seriously limiting what we can use Postman for.

[2016-04-14 13:27] Redsandro commented on #1996
Not always. Only on the first start when I do nothing. I have a script that starts a bunch of apps including POSTman for developing projects.

`exec chromium-browser --app-id=fhbjgbiflinjbdggehcddcbncdddomop`

I just noticed that I can restart POSTman after closing it, and then it doesn't idle at 55%. Perhaps it has something to do with the sync function of request data, or the way it's started.

[2016-04-14 14:52] drywolf commented on #361
I am also looking for a native solution to be able to store postman files / workspaces in my local git repositories more easily.

Any news on the native electron version ? :smile: :+1:

[2016-04-14 15:16] numaanashraf commented on #361
@drywolf We do have a native Electron app for Mac. You can find the download link [here](http://www.getpostman.com/apps).

[2016-04-14 15:23] drywolf commented on #361
Thanks for the quick response ... I'm developing on Windows 10 though, do you have plans to release electron versions for Windows/Linux as well ?

[2016-04-14 15:30] numaanashraf commented on #361
@drywolf Yep! They are in the works. 😃  Unfortunately we don't have an ETA for them yet.

[2016-04-14 16:16] zigacernigoj commented on #1977
Everything in Postman is tiny on my FullHD 15" display and I'm getting headaches about this. Why would I need to change "default" font size in Chrome if it's made so that Postman is running in "independent" window? For me it's not bug, it's a FAIL.

[2016-04-14 16:30] TheIcemanCometh commented on #1986
OK, some further troubleshooting.  I completely uninstalled and re-installed Chrome and that had no effect.  If I paste a test URL into the Chrome browser, I get the following error page:

## The localhost page isn’t working

### localhost didn’t send any data.

ERR_EMPTY_RESPONSE

whereas is I do the same in Firefox, I get an error response from my application like I would expect.

The only thing

[2016-04-14 16:40] sebastian121212 opened #1997 "Basic Auth in collections bug"
Running a collection with different basic authorisations makes all requests to use the first request auth, ignoring the following request auth configurations.
This can be easily reproduced using the default Postman Echo collection:Auth Others, just adding a request with wrong credentials will make all the others ones to fail.

[2016-04-14 17:46] abhijitkane commented on #1986
@TheIcemanCometh Can you disable all Chrome's extensions from chrome://extensions/, and see if that helps?

[2016-04-14 19:00] prsh9 opened #1998 "[Feature Request] Building an Environment by selecting environments"
To execute any API we take 2 inputs host and port. These are defined in an environment and used as http://{{host}}:{{port}}/.
As we have X numbers of machines and the Y numbers of ports with which we want to execute the API we have to define X*Y environments (one for each combination). For example we have 5 servers and 3 ports. Hence we need to define 15 environments and execute specific API again

[2016-04-14 19:28] trayburn opened #1999 "BUG : Import CURL body that contains single-quote"
There is a bug in the **Import** feature of Postman that fails on valid data parameters which contain a single-quote inside of double-quotes:

[code]

This fails to import, and that does not change if you instead make it `"this isn'\''t \" a test"` for the JSON value.  Removing the single quote in the middle altogether and making it `"this isnt \" a test"` allows it to proceed correctly

[2016-04-14 19:31] trayburn commented on #1270
This is the export side equivalent of the import problem mentioned in #1999

[2016-04-14 20:35] Redsandro commented on #1996
Something I noticed today.

![image](https://cloud.githubusercontent.com/assets/1702193/14542237/3bf21706-028e-11e6-8daf-b4c63d67ca98.png)

The first entry looks like the browser, but it starts at the same time as Postman. When I end the process, both Postman (and the killed process) alleviate the CPU. At the same time I get a chrome popup "GoogleDrive has crashed. Click here to restart."

It's im

[2016-04-14 23:07] who commented on #1995
+1

I'm always using cURL as well. It would be nice to choose a default.

[2016-04-15 08:44] numaanashraf commented on #1996
@Redsandro Could you check Chrome's task manager and let us know how much resource Postman is consuming?

![chrometaskmanager](https://cloud.githubusercontent.com/assets/3295568/14556128/2e43d082-0314-11e6-84fa-60ed68737333.gif)

[2016-04-15 09:26] Redsandro commented on #1996
Yeah I tried that before. `shift` + `escape`. But it doesn't show up in there. There are extensions, tabs, GPU, browser, but no POSTman background page. I'm probably missing a step.

[2016-04-15 09:30] Redsandro commented on #1996
Update:

I noticed that although my default browser is Google Chrome Version 49.0.2623.112, the Postman app is running on Chromium Version 49.0.2623.108. Can I change this somewhere?

[2016-04-15 12:37] czardoz commented on #1996
@Redsandro how do you have multiple versions of Chrome on your system?

I'm guessing one is Chromium Browser and another is Google Chrome. Is that correct?

[2016-04-15 12:48] Redsandro commented on #1996
Yes. I have Chrome and Chromium. I use Chrome, but I guess when I installed Postman I installed it from Chromium.

[2016-04-15 13:28] czardoz commented on #1996
Do you see high CPU usage with Google Chrome too?

[2016-04-15 14:09] Redsandro commented on #1996
Yes, I see high usage among all three processes, and they all stop if I kill either the Postman app, or the Chrome/ium instance that does the Google Cloud syncing.

Also, I need to figure out how to run/install Postman from Chrome rather than Chromium.

[2016-04-15 14:24] numaanashraf commented on #1996
You can install Postman on Chrome by visiting this URL: https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop

(You'll have to open the URL in Chrome)

[2016-04-15 14:33] czardoz commented on #1996
To add to that, once you install Postman on Chrome, do the following:
1. Open Chrome browser
2. Enter `chrome://extensions` in the URL bar, and hit enter
3. Click on "Postman"
4. Hit `Shift+Esc` to bring up the Chrome's Task Manager
5. Take a screenshot and post it here

This will help us to check Postman's resource usage :-)

[2016-04-15 17:35] tribou opened #2000 "[Feature Request]: Setting to Allow Prompt for New Route Name when Duplicating"
I duplicate routes all the time, and it would be great if Postman would prompt me for the new route name automatically instead of manually going in to edit and rename afterwards.  This feature could be enabled by a switch in the settings menu.

[2016-04-17 11:02] Janpot opened #2001 "svg preview broken"
Trying to fetch an svg, the image in the preview window is broken:

<img width="971" alt="screen shot 2016-04-17 at 13 01 09" src="https://cloud.githubusercontent.com/assets/2109932/14586568/9e5eac8c-049c-11e6-91c7-b3cf7f8b54d1.png">

[2016-04-17 19:27] abhijitkane commented on #1997
@sebastian121212 What's the exact sequence of steps you follow?
In the "Auth: Others" folder, I added another request (called Failing Basic Auth) which uses Basic Auth with username=postman1, password=password1, and saved it.

Sending the Failing Basic Auth request results in an "Unauthorized" response, while sending the original "Basic Auth" request results in a successful response.

[2016-04-18 05:08] ssonibj commented on #366
+1

[2016-04-18 06:21] rudnitskih opened #2002 "Missing colon in url when generate request to javascript"
When we add headers with link like "http://googe.com", after generate to any javascript code we get "http//googe.com"
![capture](https://cloud.githubusercontent.com/assets/8848858/14595293/bda918f2-0546-11e6-9b20-6fd0403f8cf4.PNG)
![untitled](https://cloud.githubusercontent.com/assets/8848858/14595292/bda8f4d0-0546-11e6-9ff5-4435514bacbc.png)

Version: 4.1.3
win / x86-64
Chrome 47.0.2526.80

Thank

[2016-04-18 07:20] abhijitkane commented on #2002
@rudnitskih Thanks for reporting this! We've fixed this internally, and will push out a release soon.

[2016-04-18 09:12] ghost commented on #1911
Sure.
OS X version: 10.11.4 (15E65)
Postman Mac App version: 4.1.1; OS X 15.4.0 / x64

[2016-04-18 11:23] davenewza commented on #851
+1.  This seems like obvious behaviour and would be a quick win.

[2016-04-18 11:25] turchinc commented on #1893
this feature is back in my current build

4.1.3
win / x86-32
Chrome 49.0.2623.110

Thanks

[2016-04-18 11:25] #1893 closed, assigned to nobody

[2016-04-18 11:38] Redsandro commented on #1996
It only seems to happen the first time I start Postman after I've rebooted.

I've been busy. I know rebooting only takes a minute. You know this thing where you're working on a project and you only put your laptop in sleep mode otherwise you have to open all the programs and sessions you've been using again. Some call it lazy, others call it clever. I will get back to this. :smiley:

[2016-04-18 11:47] czardoz commented on #1996
Sure!

I'm pretty sure this has nothing to do with Postman though. Linux has had notorious problems with suspend/hibernate for a long time (My own laptop cannot resume if suspended for a long time). It's a functionality that comes from the Kernel in conjunction with a number of device drivers. Postman has no control over these unfortunately.

[2016-04-18 12:21] rick-nu commented on #804
+1

[2016-04-18 12:30] Jayuda commented on #1831
+1

[2016-04-18 13:19] tribou opened #2003 "New tab upon switching routes is gone"
The option to have Postman open a new tab when selecting a new route from a collection is gone with the latest update.  Please, bring it back as it saves many headaches from accidentally editing the wrong route in the same tab.

[2016-04-18 13:20] tribou commented on #2003
Just saw #1945... closing.

[2016-04-18 13:20] #2003 closed, assigned to nobody

[2016-04-18 13:22] tribou commented on #1945
I thought this option had been implemented previously, but it's now gone in the latest version.  Are there plans to bring it back?  The current functionality of editing multiple routes in the same tab is extremely error-prone causing the wrong routes to be changed.

[2016-04-18 14:33] boonep commented on #884
Found out the issue on my end was caused by a really long request in combination with the "Cancel Request" button not working.  Looks like this has been addressed here: https://github.com/postmanlabs/postman-app-support/issues/767

[2016-04-18 14:40] boonep commented on #767
Any update on this?  I am able to reproduce in Postman with Interceptor enabled:
1. Utilities -> Delay Response
      GET https://echo.getpostman.com/delay/10 (this appears to be maximum delay allowed)
2. Immediately Press "Cancel Request"
3. Utilities -> Response Status Code
      GET https://echo.getpostman.com/status/200
4.  Second request doesn't return until the first delay request is complet

[2016-04-18 19:09] ghost commented on #1977
+1

[2016-04-18 20:10] ghost commented on #366
The only thing i cannot understand is why it's blocked to not open as a separate application just like other extensions:

![screen](https://cloud.githubusercontent.com/assets/13694007/14618194/aa035e96-05b1-11e6-9e20-3a39fd0d00f4.png)

As you can see there is no chrome windows, feedly has icon group in menu on it's own. Postman, instead, opens as one of chrome windows (under it's icon group in men

[2016-04-18 21:04] hernanBeiza commented on #576
@albertdev How did you manage to run postman and form-data?

[2016-04-19 07:55] yanpeipan opened #2004 "How to set Body with Get ?"
curl -X GET \
  -H "X-Parse-Application-Id: ${APPLICATION_ID}" \
  -H "X-Parse-REST-API-Key: ${REST_API_KEY}" \
  -G \
  --data-urlencode 'where={"playerName":"Sean Plott","cheatMode":false}' \
  https://api.parse.com/1/classes/GameScore

[2016-04-19 09:44] jaingajendra opened #2005 "Getting server couldn't send a response with the latest Postman client"
I have latest Postman installed in my system. and following are the version taken from the postman.

4.1.3
win / x86-32
Chrome 49.0.2623.112

Problem is All the requests(POST OR GET OR PUT) does not works sometimes. We get the following message

This seems to be like an error connecting to http://192.168.0.10:11880/positions/abc

Why this might have happened:
The server couldn't send a response:
E

[2016-04-19 13:21] lucasgranberg commented on #1796
This would be usefull when working with big screens and for example elasticsearch queries.
As you can see from the screenshot there is a lot of screen-estate unused and I can only see part of the response and the request.
![image](https://cloud.githubusercontent.com/assets/1225253/14640516/8abcdeba-064a-11e6-85bf-bbf8f8e7aed4.png)

[2016-04-19 15:19] abhijitkane commented on #2005
@jaingajendra Can you check the Network tab in the DevTools window - https://blog.getpostman.com/2015/06/13/debugging-postman-requests/ ?
You'll be able to see the raw request/response payloads here.

[2016-04-19 19:38] albertdev commented on #576
@hernanBeiza

Badly. I simply tested my API with some custom code as a client instead.

[2016-04-19 22:15] kurtfm commented on #1014
I don't see what the big deal about a delete/reset everything... when you work on multiple projects, different environments, postman can easily become super cluttered.  You don't really know what  you screwed up.  Then you start wishing you could just maintain these stupid tests in regular JSON files and run newman without the pretty UI.... that's a diff topic.

What about...
Use some kind of 'pro

[2016-04-20 00:04] ronteddu commented on #1728
I had the same issue @mayank-sethi and the resolution to this was that Postman processes request even when there is no header information that server wants, not the command line Newman. With Newman, it has to specifically tell the server about the header that the server wants.

In our case I had to add this header: Accept with a value: application/json in Postman, save this and run it again in New

[2016-04-20 02:29] guilhermeando commented on #1137
+1

[2016-04-20 04:45] Scottsuen opened #2006 "Suggestions for improvement of Collection download"
1. having a Keyboard shortcuts for Collection-download would be convienent.
2. if have a setting for default download file, then I need not to select a target file every time
3. downloaded collection name is like this : collection_name.json.postman_collection, why not collection_name.postman_collection.json. For a json document can be syntax highlighted with many editors.

[2016-04-20 07:10] rhpatel99 commented on #367
+1 For for uploading to getpostman.com

[2016-04-20 08:10] ChrissiFi commented on #1137
I'm working on other projects at the moment so unable to return to this for
a while but maybe you can follow this up with Guilherme who says he's
seeing the same thing?

On Tue, Apr 12, 2016 at 3:24 AM, Khal!l notifications@github.com wrote:

[2016-04-20 10:15] alexgoldstone commented on #285
My use case for this is:
1. Make API request to create new user
2. API sends verification code by email
3. I should manually look at email and enter the code into Postman before tests can continue

I am using the Mac version of the Postman software but my colleagues use the Windows (Chrome) version so implementation would need to support both clients.

[2016-04-20 11:22] boblindman commented on #1545
Agree, either letting me decide what to sync or giving me control of the encryption password (so your team has "zero-knowledge" of my password) could solve this issue.  Until then, I can't use sync

[2016-04-20 14:07] sebrandon1 commented on #1257
+1

[2016-04-20 14:47] lee5i3 opened #2007 "Feature Request: Variable at cursor"
Currently we have a bunch of different environments, and each have a list of variables.

It would be really nice if we looked in the "Eye" and clicked on a variable it could create the {{variable}} on our cursor so we don't need to type it in or copy and paste the name, makes it easier for our QA who aren't very knowledgeable on postman

[2016-04-20 15:15] Macoshark commented on #2004
I have a similar request. Currently Postman doesn't allow you to send a body in a GET request. This is not commonly done, but as I've understood it isn't forbidden by the HTTP spec.

I ran into this issue when trying to test Elastic Search queries. Elastic Search queries can contain a body in a GET request and because I can't test them with Postman I've had to look elsewhere.

[2016-04-20 15:26] abhijitkane commented on #2004
@Macoshark This is currently blocked by the XHR object. Most Elasticsearch APIs should work if you just change the GET to POST and keep the URL the same.

[2016-04-20 15:38] Macoshark opened #2008 "Bring back the browser-tab version of Postman"
I don't like running Postman as a standalone app. I have a couple of issues with it.
1. The two embedded scroll areas on the main view are difficult to deal with. When I issue a request and get a response its very hard to scroll the page. The scrolling behaviour in OSX is such that at first the entire page scrolls when swipe or scroll with my mouse. Then the mouse cursor goes ontop of the response

[2016-04-20 15:48] rjlouro commented on #1196
I had the same problem and ended up implementing logic to set the tests array differently depending on the result of a validation.

The following example is for checking JSON Schema:
`var data = JSON.parse(responseBody);`
`var valid_schema = tv4.validateResult(data, schema).valid;`
`if (valid_schema){`
`tests["JSON Response has valid schema"] = true`
`}else`
`{`
`tests["JSON Response has invalid s

[2016-04-21 04:29] dineshk-qa opened #2009 "Group failed test together"
When a collection is run and it has some failed tests, it would be great if the user can have a list of failed tests along with number (currenlty available).
I have a collection with 300 tests and sometimes I have ~30 tests failing but I have to scroll all the way to identify the failed test.
It would be great we have a dedicated section for failed tests in the runner

[2016-04-21 06:06] yanpeipan commented on #2004
The params left send button solved my problem.

[2016-04-21 06:06] #2004 closed, assigned to nobody

[2016-04-21 07:32] roeschjohannes commented on #1973
Hi Frederik,

couldn't you use "request.headers"?

Regards,
Johannes

[2016-04-21 07:48] roeschjohannes opened #2010 "Feature-Request: External Collections"
It would be great to have "external collections" which will be stored on hard disk.

We need to store our collections in a git repo to integrate them in a continuous integration pipeline. We always have to import the collections, make our changes and export them again. Then we can commit them. It would be better to have a collection which is automatically stored in a defined folder an we only need

[2016-04-21 08:13] winkelsdorf commented on #1973
Hi Johannes,

you likely mean _"response.headers_", don't you? This feature request is about the _response_ headers.

What I am asking for is a raw display in the response panel, as this large line spacing and the arrows make it slower _for me_ to see the information I'm looking for. At least if you're used to see the headers in plaintext in your browser, console (curl) etc, you'll know what I'm t

[2016-04-21 08:20] drywolf commented on #361
@numaanashraf Very cool, I'm looking forward to it :+1:

[2016-04-21 09:25] roeschjohannes commented on #1973
Ok. I understand. Yes you are right. That would be a nice Feature.

[2016-04-21 09:30] winkelsdorf commented on #1973
No problem, already thought that this was just a misunderstanding!

Glad, so that's 3 upvotes now :)

[2016-04-21 10:30] gukoff commented on #156
+1

[2016-04-21 12:38] AMEYCHAVAN commented on #1744
+1 for postman to swagger
https://apitransformer.com/ does postman to swagger . but it  doesn't add custom headers .

[2016-04-21 15:22] vivaladan commented on #1607
This would be a really useful feature for me.

[2016-04-21 15:33] bradobro commented on #855
I'd like to see test script exceptions also show up as failures in the UI. Right now there is a momentary message box that there was a script problem and the test is ignored. You'll see 3/3 passing instead 3/4 passing if one has a logic or syntax error.

[2016-04-21 15:49] Fr4ncis opened #2011 "Newman collection"
The following collection
https://www.getpostman.com/collections/1d61540636161b64d1e7

works fine running in postman (e.g. try folder "featured") but in newman it seems to be temperamental when updating the collection, it stopped working. folder "featured cache" now seems to be working for comparison.

[code]

[code]

it is frustrating as we're relying on postman / newman for end-to-end tests (and

[2016-04-21 16:24] mikehedman commented on #1963
I'm going to somewhat disagree with @jkrenge that the real problem is that the rest of the test is not run.  While I agree that having the ability to proceed after a fail is a worthy desire, the two issues are just that - two separate issues.
Yet another issue is that the results panel gives no indication that something failed at all.  In my current collection, I have 8 items (and the last one is

[2016-04-21 19:36] misog opened #2012 "Pretty / Preview depending on HTTP status code"
Hi, it would be great to automatically switch tabs Pretty or Preview depending on HTTP status code.
For example, when working with JSON REST API, when the code is 200 (OK) I want to show Pretty format of JSON response, but if the code is 500 (Server error) or 404 (Not found) I want to render the page - usually the server/framework formats the error with html and css.

...maybe a checkbox or textar

[2016-04-21 20:11] jkrenge commented on #1963
Yes, I agree with @mikehedman. This is the best solution.

[2016-04-21 20:57] jhnlsn commented on #1749
I believe a bug that I am experiencing might be related to this as well?

if either clientId or clientSecret have a `#` value, it is turned into `%23`

fore example:

[code]

my auth server decodes the base64 hash as

`client1:Password%231`

[2016-04-21 21:11] #1835 closed, assigned to nobody

[2016-04-22 03:59] sryze commented on #1950
It still works but can hide real JSON syntax errors behind these sort-of-errors. One workaround I found is to put them in quotes so they become strings, however this may not work for other APIs (I think).

[2016-04-22 07:44] ChrissiFi commented on #1963
I would far prefer all the tests to run and then to deal with the fails
than the run truncating.  I want to get to the point where I can schedule
my tests to run outside working hours and the last thing I want is to find
that the tests stopped after only running 10%, especially as I know that
some of the earlier tests in my suite are currently failing due to
outstanding software changes and preven

[2016-04-22 08:07] deepal opened #2013 "Feature Request: Client Side Encryption"
Hi, I am using postman for a long time and I would appreciate if I can encrypt sync data (postman requests, environments, authorization credentials etc.) from the client side. This way I can make sure my sync data is more secure rather than relying on server side encryption.

[2016-04-22 10:39] czardoz commented on #2011
Thanks for sending the environment, Francesco! It helped me debug the issue faster :)

I've fixed the issue in Newman v2.0.9, you can update by running:

[code]

[2016-04-22 23:09] chforsb opened #2014 "Remember window position on Mac"
Thanks for a great app, but on Mac it doesn't remember the position from the last session (always start in the middle of the screen), and it's kind of standard that an app remember the window position and size between runs.

[2016-04-23 12:56] Redsandro commented on #1996
![image](https://cloud.githubusercontent.com/assets/1702193/14761476/0fb88d10-0963-11e6-8848-e11b0ca7ed06.png)

![image](https://cloud.githubusercontent.com/assets/1702193/14761489/5ed3f812-0963-11e6-9df3-117e869c6bd6.png)

Perhaps it has nothing to do with Postman per se, but it happens exclusively when I start Postman for the first time after a reboot. Could it have something to do with the brow

[2016-04-23 15:27] kams-mash commented on #1198
+1

[2016-04-23 23:48] romnycristopher opened #2015 "Resize on Mac change the output from json to HTML"
If you are using the the chrome app on mac and you select the pretty view option with the output in JSON if you resize the window the output change from JSON to HTML

[2016-04-25 02:49] Kenblair1226 commented on #739
+1, need grant type = password. And maybe make it collection scope so other tests can reuse the same token.

[2016-04-25 05:21] pshirishreddy commented on #697
+1

[2016-04-25 06:29] ArunMonySpin commented on #1014
I guess the postman team thinks , that all its users are novice and can't take care of such "high risk" buttons if they provide one

[2016-04-25 06:38] wimphy commented on #1389
I meet the same issue again with version 4.1.1, any idea?
4.1.1
OS X 15.4.0 / x64

[2016-04-25 10:07] bcraig83 commented on #2002
Same issue when generating C# (RestSharp) code snippets.

![image](https://cloud.githubusercontent.com/assets/5794182/14780672/ee9fcfca-0ad5-11e6-971a-118ecef08f9c.png)

[2016-04-25 12:24] therealmikz commented on #166
In Varnish documentation there's also BAN method, it's not available in Postman.
Here's link: https://www.varnish-cache.org/docs/trunk/users-guide/purging.html

[2016-04-25 14:49] mdellerie commented on #770
@a85 thanks man 👍

[2016-04-25 16:54] jeanmartin commented on #337
This is still not possible it seems (4.1.3). Would be tremendously helpful.

[2016-04-25 18:29] srbangre opened #2016 "Global search feature in Postman"
Hi,
I have 158 requests inside 21 folders in postman. in one of the request i am setting a value of variable in property. i need to search which request i am doing that. How can i find out?
the normal search option in postman searches only the name of the request

[2016-04-25 22:12] aishas11 commented on #1983
I encountered the same issue today with a route that pipes a pdf response. tried the same route with DHC and it only sent request once.

[2016-04-25 23:29] darrylkuhn opened #2017 "Any way to track changes?"
We keep running into sync issues (collections re-ordered, requests re-ordered or missing, etc...) Is there any way to track who last changed a collection, and what the changes were?

[2016-04-25 23:42] abhijitkane commented on #2017
@darrylkuhn We're introducing a team activity feed really soon. This should help the team keep track of who changed what.
For the missing requests - can you mail us at help@getpostman.com with the owner/collection name? We should be able to restore the request.

[2016-04-25 23:44] abhijitkane commented on #2016
@srbangre Have added this as a feature request. For now, here's a quick hack:
Download the collection as JSON (click on ... next to the collection name > Download).
Search the downloaded file for your variable name. You should find it in the `tests` property of one of the requests. The request name will appear as a `name` property in the same request.

[2016-04-25 23:45] abhijitkane commented on #2015
@romnycristopher I'm not able to reproduce this. Are you facing this every time?
Could you attach/link to a screen recording?

[2016-04-25 23:57] abhijitkane commented on #2011
Fixed in Newman. Closing this.

[2016-04-26 00:03] romnycristopher commented on #2015
Hi @abhijitkane, of course, here is the link:
https://drive.google.com/a/dotspixelstudio.com/file/d/0B09Ziuf54h4qMU9lOWNmc3VPUzg/view?usp=sharing

[2016-04-26 00:05] abhijitkane commented on #2010
@roeschjohannes Chrome apps don't give us the ability to read files without user intervention. We could potentially do this in our OSX app, but that would mean considerably spitting the codebase. We soon plan to offer versioning as part of our Cloud offering - https://www.getpostman.com/pricing

Closing this as non-actionable for now.

[2016-04-26 00:05] #2010 closed, assigned to nobody

[2016-04-26 00:14] abhijitkane commented on #2006
@Scottsuen
#1 is tricky - the collection needs to be selected for the shortcut to work, and there's no "collection selected" state right now.

#2 isn't possible in Chrome. Due to a chrome restriction, the app cannot save files without showing the Save File dialog box.

Agree about #3. Will try to push this soon.

[2016-04-26 00:25] anyone-can-test commented on #1611
I would like this feature in the future too.

[2016-04-26 00:37] anyone-can-test opened #2018 "Add the collection/folder name to test name in xml result."
I run collection in Jenkins.
Test name is only request name in xml result (like JUnit).
If I have several folders and requests, then tests is not structured like class/method.

So, I want that test name has request and folder name.
For example.
[collection name].[folder name].[request name]

Thank you.

[2016-04-26 00:49] abhijitkane commented on #2018
@czardoz Can you move this to Newman? Might belong there.

[2016-04-26 00:55] abhijitkane commented on #2002
@numaanashraf Fixed in internal commit 32742af
@bcraig83 - We'll fix this in the next release

[2016-04-26 00:57] abhijitkane commented on #2000
@aditikul

[2016-04-26 01:05] abhijitkane commented on #1998
@prathamshah9

For now, you can use the following setup:
Have one env with the following variables (X+Y rows)
host-1: host.com
host-2: host2.com
port-1: 80
port-2: 8081

Your URL can then be http://{{host-{{hostnumber}}}}:{{port-{{portnumber}}}}

You can then define hostnumber and portnumber in your globals.

[2016-04-26 01:07] abhijitkane commented on #1997
@sebastian121212 Thanks for reporting this. We'll be pushing a fix for this in the next release.

[2016-04-26 01:16] abhijitkane commented on #1995
@who @ThelcemanCometh
Thanks. In the next release, we'll push stickiness for the selected language. Opening the code generation modal will remember the last language you had selected.

[2016-04-26 01:24] abhijitkane commented on #1993
@FredrikTamm Not that we know of. We're looking at an easy way to manage certificates - will try and update this thread soon.

[2016-04-26 01:26] abhijitkane commented on #1991
@aditya-mittal We're not able to support the legacy Postman app anymore. There have been a lot of changes to the Chrome platform. Can you try installing the latest Postman app from https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en and check if it works?

[2016-04-26 01:27] abhijitkane commented on #1990
@jonasa85 - Currently - yes, only the owner can update the link. We'll soon be releasing a Cloud API, which will remove the need to use getpostman.com/collection style links. You'll have a link that is always up-to-date.

[2016-04-26 01:30] abhijitkane commented on #1985
@rbawachkar610 How many requests exist in the collection? Can you try duplicating the collection and sharing that?

[2016-04-26 01:31] #1984 closed, assigned to nobody

[2016-04-26 02:06] abhijitkane commented on #1983
We might have a fix for this - will try to push this out soon.

[2016-04-26 02:08] abhijitkane commented on #1982
@thomasvdbossche Did the Interceptor help?
If the Interceptor is off, you can check the Network tab (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/) for more info on the 404.

[2016-04-26 02:09] abhijitkane commented on #1979
Followed up on email. Closing issue.

[2016-04-26 02:09] #1979 closed, assigned to nobody

[2016-04-26 02:10] abhijitkane commented on #1978
@ohadmuch
For now, you can add a single request to httpbin.org/delay/10 to the end of the collection for a 10 second delay. We're working on a new collection format which should enable this.

[2016-04-26 02:13] abhijitkane commented on #1973
@aditikul Might make sense to add a pretty/raw option in the response headers as well. Pretty shows the current UI, Raw shows a textarea with the raw response headers.

[2016-04-26 02:14] abhijitkane commented on #1972
@pellicano You can manually drag-and-drop requests to change the order.  The 'sort by name' is only for collections. Postman cannot (and should not) automatically change the order of requests in a collection.

[2016-04-26 02:18] abhijitkane commented on #1971
@jhalterman - we've fixed the content length issue in our internal build, and will push out the fix in the next release.
@czardoz Also being tracked at Zendesk#4392

[2016-04-26 02:20] abhijitkane commented on #1967
@emattheis
Agree. The XHR object auto-follows redirects. We're trying to work around this, but it's still at an experimental stage.

[2016-04-26 02:23] pellicano commented on #1972
So, "cannot (and should not) is a requirement? There's a possibility to
even consider add sorting request by its names in future?

Thanks.

Em segunda-feira, 25 de abril de 2016, Abhijit Kane <
notifications@github.com> escreveu:

##

Regards,
Marcelo Pellicano de Oliveira.

[2016-04-26 02:24] abhijitkane commented on #1972
Not till there's a way to revert changes. Accidentally clicking sort-requests-by-name could mess up the entire collection.
And then users would expect auto-sort-on-rename etc, and a slew of other features. Not marking this as a feature request for now.

[2016-04-26 02:27] abhijitkane commented on #1964
@joanrodriguez  Are you talking about the auto-complete list for header values?

[2016-04-26 02:37] abhijitkane commented on #1963
@ChrissiFi @jkrenge - Hm...I guess there will be mixed opinions on this. There will certainly be users who do not want the run to continue if there's an error (or even a failure). We'll try to add a warning for JSON.parse (one of the most common types of runtime errors) in the UI that encourages users to surround it with a try..catch, or an explicit check like @mstaalesen suggests.

@mikehedman Wa

[2016-04-26 02:39] abhijitkane commented on #1960
@bsapot If you have not renamed the collection after importing, you should see a 'replace/copy' option when you re-import the Swagger file. Choosing replace will add the new services.

[2016-04-26 02:45] abhijitkane commented on #1944
@joshlrogers We've tried to reproduce this on multiple APIs across different versions of Postman - but we always see the Failure state. Is there any publicly-accessible API that you can reproduce this problem with?
If not, not really sure how to debug this.

[2016-04-26 02:46] abhijitkane commented on #1935
@jheld If you download a collection, the test scripts are included in the `tests` property for each request.

[2016-04-26 02:47] #1930 closed, assigned to nobody

[2016-04-26 02:48] abhijitkane commented on #1919
@funsterisdafunniest Can you give an example of the sort of snippet you're talking about?

[2016-04-26 02:50] #1905 closed, assigned to nobody

[2016-04-26 02:53] joshlrogers commented on #1944
We haven't ran into this issue except with this one API but we all experience it.  I will see what I can do about finding a way to replicate this for you.  Thank you for continuing to try.

[2016-04-26 02:53] abhijitkane commented on #1903
@owentin Can you check the latest version of the app (4.1.3)?

If you have two keys (both named myarray), request.data.myarray will be an array in the prerequest script.

[2016-04-26 02:55] mikehedman commented on #1963
@abhijitkane - I was speaking specifically about an error.  My interest is for there to be a record of the error/message.
As for continuing to run after a fail (or an error) - most test frameworks continue after a failure (I'm thinking of PHPUnit, and Jasmine).  This makes it easier to debug, rather than run to the fail, fix, run to the next fail, fix...

[2016-04-26 02:58] abhijitkane commented on #1963
@mikehedman Noted. Will try to have a persistent message for errors. @aditikul

The difference is that Postman collections are not tests without side-effects. If you're using a collection of 3 requests to automate a certain task, running request 3 if request 2 failed/errored out might cause problems.

[2016-04-26 02:59] pellicano commented on #1972
I see your point, but why collections can be "messed up" by the current
order button and requests not?
Another point that I see: what's the average number of collections users
normally have? For example, I don't see this been useful for ordering 5
collections but I do see usage for ordering 20/30 requests within each
collection.
Users may expect auto-sort-by-name depending on their UX.
Anyways, th

[2016-04-26 03:36] mikehedman commented on #1963
@abhijitkane - yes, I see the difficulty.  I think there are really two different use cases.  For me, I **am** using this capability for scripting.  I do have 'tests', but really just to check for 200 codes so I know if my script ran correctly.  But if I was using Postman as a testing framework, my needs would be different.

[2016-04-26 04:46] anyone-can-test commented on #2018
I didn't know about Newman github.
Ok. I move this issue to Newman.

[2016-04-26 04:46] #2018 closed, assigned to nobody

[2016-04-26 05:49] borbamartin commented on #414
This does not work with the Mac App :(
Using the latest version (4.1.1) on OsX 10.11.4

Upcoming fix anytime soon @a85 ?

[2016-04-26 06:19] SamvelRaja commented on #1900
@joshboley Can you update the app and check the same from your end. The fix went in on our `4.1.3` itself.

[2016-04-26 06:45] abhijitkane commented on #1944
@joshlrogers Feel free to open another issue if there's another API you face this with. Closing this issue as non-actionable for now. Thanks.

[2016-04-26 06:45] #1944 closed, assigned to abhijitkane

[2016-04-26 06:46] #1878 closed, assigned to abhijitkane

[2016-04-26 06:47] nickpestov opened #2019 "Support for emoji in the folder names"
If I have emojis in the names of folders under a collection, the emoji does not show up on the sidebar. However, if I expand the details of the Collection from the sidebar and then click on the folder name, it will show up there.

P.S. Emojis do show up within Collection names in the Sidebar, but not in the folder names within the Collection.

[2016-04-26 06:47] abhijitkane commented on #1877
@tonycode What version are you on? 4.1.3 is the latest version.

[2016-04-26 06:53] jonasa84 commented on #1990
Ok sounds great, thx.

[2016-04-26 06:54] abhijitkane commented on #1879
@mirszy The sandbox includes CryptoJS (https://www.getpostman.com/docs/sandbox). Does this have the encryption/encoding functionality you need?

[2016-04-26 06:54] abhijitkane commented on #1876
@tonycody This is planned, but there's no timeframe yet.

[2016-04-26 06:56] abhijitkane commented on #1876
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/907

[2016-04-26 06:56] #1876 closed, assigned to abhijitkane

[2016-04-26 06:57] abhijitkane commented on #1875
@prih  Can you check if this is fixed in the latest version?

[2016-04-26 06:57] joanrodriguez commented on #1964
Yes

On 26 avr. 2016, at 04:27, Abhijit Kane <notifications@github.com<mailto:notifications@github.com>> wrote:

@joanrodriguezhttps://github.com/joanrodriguez Are you talking about the auto-complete list for header values?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHubhttps://github.com/postmanlabs/postman-app-support/issues/1964#issuecomme

[2016-04-26 06:58] abhijitkane commented on #1869
@EvanPurkhiser can you confirm this fixed in the latest version?

[2016-04-26 07:01] abhijitkane commented on #1866
@Fr4ncis can you confirm if this is sill happening in the latest version? We made a number of fixes to the OAuth1 flow.

[2016-04-26 07:03] #1767 closed, assigned to nobody

[2016-04-26 07:04] #1766 closed, assigned to nobody

[2016-04-26 07:06] abhijitkane commented on #1555
@gotoraghu
Postman currently supports JSON files with only one level of nesting. "person" has to be an atomic value.
You can use JSON.stringify to create the JSON file, and JSON.parse in your pre-request script.

[2016-04-26 07:06] #1555 closed, assigned to nobody

[2016-04-26 07:10] #1683 closed, assigned to nobody

[2016-04-26 07:13] #2011 closed, assigned to abhijitkane

[2016-04-26 07:17] abhijitkane commented on #1964
@joanrodriguez Got it. Will include this in the next release.

[2016-04-26 07:43] ChrissiFi commented on #1963
@abhijitkane https://github.com/abhijitkane - thanks - JSON.parse is the
source of all my errors at the moment as I'm just checking API gets in my
phase 1 project (API posts will be following in phase 2 so will result in
more complex tests).

On Tue, Apr 26, 2016 at 4:36 AM, Mike Hedman notifications@github.com
wrote:

[2016-04-26 08:21] abhijitkane commented on #448
@numaanashraf The issue here is that entering "a\nb" in the input field gives a string "a\nb", which is correct. One solution would be to offer a "multiline" mode, similar to text and file, that replaces the value `<input type="text">` with a textarea.

[2016-04-26 08:22] #552 closed

[2016-04-26 08:22] abhijitkane commented on #642
@SulivanDotEu @andrew-hochstetler-blackboard Are you still facing this issue with the latest version of the app?

[2016-04-26 08:24] #658 closed

[2016-04-26 08:25] #666 closed

[2016-04-26 08:25] #698 closed

[2016-04-26 09:21] #766 closed

[2016-04-26 09:51] abhijitkane commented on #767
@robolivable What does the Network tab show (http://blog.getpostman.com/2015/06/13/debugging-postman-requests/)?

@boonep - This seems to be a separate issue. Your issue is due to the Interceptor being "single-threaded". We'll take this up sometime soon.

[2016-04-26 09:54] #1206 closed, assigned to nobody

[2016-04-26 09:56] abhijitkane commented on #1284
@cjarrett-hipwood Are you still seeing this in the latest version of the app?

[2016-04-26 09:56] #1295 closed, assigned to nobody

[2016-04-26 10:14] abhijitkane commented on #1891
@tuantmdev Confirmed as resolved. Closing issue.

[2016-04-26 10:14] #1891 closed, assigned to nobody

[2016-04-26 10:22] #1340 closed, assigned to nobody

[2016-04-26 10:22] abhijitkane commented on #1349
@aravindkk Are you still seeing this issue?

[2016-04-26 10:22] #1354 closed, assigned to nobody

[2016-04-26 10:24] abhijitkane commented on #1391
@A570343 Are you still seeing this?

[2016-04-26 10:25] abhijitkane commented on #1399
@numaanashraf  The } in the response payload seems to be affecting AceEditor.

[2016-04-26 10:26] abhijitkane commented on #1447
@ichabodcole Are you still seeing this?

[2016-04-26 10:27] abhijitkane commented on #1457
@ichabodcole Can you confirm this fixed in the latest version (4.2.1)?

[2016-04-26 10:42] abhijitkane commented on #1459
@raygig Can you confirm this working now?

[2016-04-26 10:42] #1488 closed, assigned to nobody

[2016-04-26 10:52] abhijitkane commented on #1514
@OscarGarciaPeinado @esbenboye The latest version of the app exports the folders in alphabetical order as well (same as the running order)
@KumG manually ordering folders is still some time away.

[2016-04-26 10:56] abhijitkane commented on #1458
@raygig Apologies for the delay on this. We've fixed this in our internal build, and will be pushing the fix in the next release.

[2016-04-26 11:05] abhijitkane commented on #1617
@mverma-va Can you confirm this fixed in 4.1.3?

[2016-04-26 11:07] abhijitkane commented on #1620
@aimer1124 Are you still seeing this?

[2016-04-26 11:08] #1630 closed, assigned to nobody

[2016-04-26 11:11] abhijitkane commented on #1644
@mpurdon Can you confirm this fixed in the latest version of the app?

[2016-04-26 11:12] abhijitkane commented on #1663
@sanmarco @kams-mash Is this working in v4.1.3?

[2016-04-26 11:14] abhijitkane commented on #1666
@Gutbuster That was a regression in the app. Should be fixed now.

[2016-04-26 11:19] abhijitkane commented on #718
Added in the latest versions.

[2016-04-26 11:19] #718 closed

[2016-04-26 11:59] kams-mash commented on #1663
This  is working now, thank you for the fix.

[2016-04-26 12:01] A570343 commented on #1391
Nope, this feature is working for me in v4.1.3.

[2016-04-26 12:01] #1391 closed, assigned to nobody

[2016-04-26 12:45] abhijitkane commented on #1779
@dmaselbas Can you confirm this fixed in the latest version?

[2016-04-26 12:46] abhijitkane commented on #1788
@jonahpatriarche Are you still seeing this in the latest version?

[2016-04-26 12:46] abhijitkane commented on #1776
@zvilich
This is currently a limitation of the Chrome platform - we store the file reference.

[2016-04-26 12:49] abhijitkane commented on #1773
@creynders This is a limitation of Chrome's XHR object - it doesn't allow this header to be set. We're working on moving away from XHR, but there's no timeframe on that yet.

[2016-04-26 12:52] abhijitkane commented on #1764
@dcc635 @paolobiavati Can you confirm this fixed in the latest version?

[2016-04-26 12:53] abhijitkane commented on #1760
@Fr4ncis @sumeetfefar Are you still facing these issues?

[2016-04-26 12:53] Fr4ncis commented on #1760
Not at the moment

On Tuesday, 26 April 2016, Abhijit Kane notifications@github.com wrote:

[2016-04-26 12:54] abhijitkane commented on #1959
@jonathanmorr Can you give an example of a raw response for which the pretty view is ordered differently?

[2016-04-26 12:56] abhijitkane commented on #1918
@kyle7johnson @SherifRefaat  Can you confirm this fixed in the latest version?

[2016-04-26 13:14] abhijitkane commented on #1910
Thanks @lasselehtinen. Our parser seems to be detecting an extra newline after certain closing tags. We'll push a fix in the next release.

[2016-04-26 13:28] abhijitkane commented on #1908
@synotna Can you confirm this fixed in 4.1.3?

[2016-04-26 13:29] abhijitkane commented on #1896
@thirtified Can you confirm this fixed in the latest release?

[2016-04-26 13:37] abhijitkane commented on #1898
@Schweigi Can you confirm this fixed in the latest release?

[2016-04-26 13:39] abhijitkane commented on #1894
@praveenps071 Can you confirm this fixed in 4.1.3?

[2016-04-26 13:41] abhijitkane commented on #650
@gregory-chapman Are you still seeing this with the latest version of the app?

[2016-04-26 13:41] abhijitkane commented on #752
@DimitriGilbert @encaf @eli-b Can you confirm this fixed in the latest version of the app?

[2016-04-26 13:47] abhijitkane commented on #802
@davves Hm..not sure how better to auto-detect the content type. Apart from hard-coding the hundreds of image mime-types, i.e.

[2016-04-26 13:48] abhijitkane commented on #938
@mdabbagh If you're still seeing this, can you file this issue at https://github.com/postmanlabs/newman/issues?
Closing this issue.

[2016-04-26 13:49] #938 closed

[2016-04-26 13:49] #952 closed

[2016-04-26 13:50] abhijitkane commented on #1093
@nlwillia Are you still seeing this in 4.1.3?

[2016-04-26 13:50] #1141 closed, assigned to nobody

[2016-04-26 13:52] abhijitkane commented on #1399
@jbjumbojb This is an issue with AceEditor. Can you try filing an issue here - https://ace.c9.io/#nav=support?
Closing this issue here.

[2016-04-26 13:52] #1399 closed, assigned to nobody

[2016-04-26 13:53] #1729 closed, assigned to elssar

[2016-04-26 13:53] davvves commented on #802
@abhijitkane  Perhaps matching the string "image/" instead of "image" would be more appropriate, since image mime types have that prefix. Otherwise any custom content type, like "myapplication/image-metadata" even if it's JSON or other text, will render as an image.

[2016-04-26 13:54] abhijitkane commented on #802
Agree. We'll push a fix for this in the next release.

[2016-04-26 14:00] abhijitkane commented on #1736
@piotrowski Are you still seeing this?

[2016-04-26 14:01] abhijitkane commented on #1770
@Fr4ncis Are you still seeing this issue?

[2016-04-26 14:03] mpurdon commented on #1644
Confirmed that this bug is now resolved in the latest version of the app. Thanks!

[2016-04-26 14:03] #1644 closed, assigned to nobody

[2016-04-26 14:03] abhijitkane commented on #1800
@mfulton26 Are you still seeing this?

[2016-04-26 14:03] abhijitkane commented on #1803
@atkawa Are you still seeing this?

[2016-04-26 14:04] abhijitkane commented on #1828
@andreassiegelrfid Can you confirm this fixed in the latest app?

[2016-04-26 14:04] #1829 closed, assigned to nobody

[2016-04-26 14:05] #1838 closed, assigned to nobody

[2016-04-26 14:05] abhijitkane commented on #1841
@sosuke3 This has been fixed in the latest version. Can you confirm?

[2016-04-26 14:05] abhijitkane commented on #1842
@Wijnko Can you confirm this fixed in the latest release?

[2016-04-26 14:06] abhijitkane commented on #1850
@soufian044 Are you still seeing this?

[2016-04-26 14:18] soufian044 commented on #1850
@abhijitkane yes the bug still exist , if you want the body to be included in the generated code you have to click bulk edit and submit without editing anything only then it's included in the generated code otherwise it's just null as i demonstrated in the gif animation

[2016-04-26 14:27] rkilcoyne commented on #1137
+1

[2016-04-26 14:40] paolobiavati commented on #1764
Yes! it works in chrome and mac version!  thanks

[2016-04-26 14:41] #1764 closed, assigned to nobody

[2016-04-26 14:56] oi-io commented on #1889
So is it not in 4.1.3 yet?

[2016-04-26 14:56] dendle commented on #650
Its working fine for me now :)

[2016-04-26 15:02] cpoblete opened #2020 "Support enter/return key at the URI box"
After typing the URI at the URI box, you have to mouse over and click the Send button. To save the mouse over and click action, it would be really nice to just press ENTER or RETURN key to act as "send".

[2016-04-26 15:15] dmaselbas commented on #1779
Some quick tests look good to me. Thanks again, this will help a lot.

[2016-04-26 15:15] #1779 closed, assigned to nobody

[2016-04-26 16:00] thirtified commented on #1896
@abhijitkane Confirmed to work on 4.1.1 (Mac) and 4.1.3 (Chrome) – thanks!

[2016-04-26 16:03] andreassiegel commented on #1828
Looks good! The context menu is back. Thanks! :)

[2016-04-26 16:03] #1828 closed, assigned to nobody

[2016-04-26 16:16] mfulton26 commented on #1800
@abhijitkane I am.

[2016-04-26 16:17] praveenps071 commented on #1894
Issue is fixed and it is working as expected. The values are reflecting even after closing and opening the request.

[2016-04-26 16:17] #1894 closed, assigned to nobody

[2016-04-26 16:27] LucasES commented on #1263
+1

[2016-04-26 16:30] jlubeck opened #2021 "My collection is missing some requests"
It shows that there are supposed to be 7, but I can only see 2. There should be 7

![Image of bug](https://monosnap.com/file/uQh69U3rK3HJQhCcHiZ33RLtEmS8O5.png)

[2016-04-26 16:44] nlwillia commented on #1093
The Pretty and Raw formats seem to be interpreting newlines the same now in 4.1.3.  I returned `["\n"]` from a test service and Postman rendered the literal as `"\n"` in both cases as expected.

[2016-04-26 17:29] huysentruitw commented on #448
Indeed, with the previous version of Postman, I could use dev-tools to replace the text input with a textarea and everything went smoothly. Shouldn't be that hard to implement.

[2016-04-26 17:37] Fr4ncis commented on #1770
Did not notice any issues!

On Tuesday, 26 April 2016, Abhijit Kane notifications@github.com wrote:

[2016-04-26 20:01] dmitry-saritasa opened #2022 "Postman is not starting (reinstall doesn't help)"
1. Postman was working and then start to complain that certain files missed and now it's not even opening properly
2. Chrome Version 50.0.2661.75 (64-bit)
3. Reset chrome flags to default
4. Removed and installed again the postman through google app store. Didn't help
5. When I try to run it - simply nothing happens, no window open. Doesn't work if I run it as the app or inside Chrome apps launchb

[2016-04-26 20:48] encaf commented on #752
@abhijitkane I haven't been working on the OAuth project for a while but I tested the scenario today with the latest version (4.1.3) and the URI looks good:

The subsequent authorization and fetching of the token also works fine.

[2016-04-26 20:48] #752 closed

[2016-04-26 21:47] dorth commented on #718
Wow, a long time coming, but much appreciated!

[2016-04-26 22:07] Schweigi commented on #1898
@abhijitkane It works. Thx a lot!

[2016-04-26 22:30] jonahpatriarche commented on #1788
@abhijitkane Looks like it. I've mostly stopped using Collection Runner, but I ran that same collection a few times today and noticed a couple of things:
- a lot of the problematic requests are ones that I made using "duplicate" in the sidebar
- when I navigate through the side by and use the "Run" button to launch Collection Runner, my requests are mostly executed in order, but If I launch Collec

[2016-04-26 22:38] #1898 closed, assigned to nobody

[2016-04-26 22:38] #1770 closed, assigned to nobody

[2016-04-26 22:38] #1093 closed, assigned to numaanashraf

[2016-04-26 22:39] abhijitkane commented on #2021
@jlubeck What version of Postman are you using? Can you try logging out and logging in? This should restore the 5 missing requests.

[2016-04-26 22:39] #1896 closed, assigned to nobody

[2016-04-26 22:40] #650 closed

[2016-04-26 23:00] atkawa7 commented on #1803
@abhijitkane  yes I am still seeing the same error

[2016-04-26 23:02] abhijitkane commented on #1803
@atkawa7 Can you check the Network tab of the DevTools window (see http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ if you need help viewing the console) for any errors when you send your request?

Also, is the Interceptor enabled?

[2016-04-27 08:31] #1953 closed, assigned to abhijitkane

[2016-04-27 08:37] abhijitkane commented on #2022
@saritasa Can you attach a screenshot showing the error message about the missing file?
Also, you can try installing Chrome Canary and installing Postman there.

[2016-04-27 11:18] pylover commented on #166
+1 for any custom method

[2016-04-27 11:35] tpkelly commented on #1137
+1 especially for Newman support

[2016-04-27 11:35] Wijnko commented on #1842
Hi abhijitkane, yes, I can see the PUT messases again, thanks a lot! :+1:

[2016-04-27 11:55] sosuke3 commented on #1841
The March 31st release? Yes that seems to have fixed it. Thank you.

[2016-04-27 11:55] #1841 closed, assigned to nobody

[2016-04-27 12:07] #1842 closed, assigned to nobody

[2016-04-27 14:25] zvilich commented on #1776
Hi,
The reference for the file is not saved... i.e.
The link or the path. I dont mean the file itself.
Isn't postman only run under chrome?

בתאריך יום ג׳, 26 באפר׳ 2016, 15:47, מאת Abhijit Kane ‏<
notifications@github.com>:

[2016-04-27 15:00] IPWright83 commented on #1180
I want to be able to do this - but I want to do this for the **Tests** rather than the pre-request script. I've put together a JavaScript snippet that mimicks Jasmine syntax to allow for a richer set of tests to be built (and will automatically include additional information in the test name if it fails) - but it's a lot of code to paste at the end of each test case.

I've also tried to use jQuery

[2016-04-27 16:15] IPWright83 commented on #1180
@johnnavarra I just read your comment about the tester_sandbox.html - that's incredibly useful, thanks! I've managed to include some custom scripts and now have a lovely testing interface. If I can I'll try and share the code to do this later:

![image](https://cloud.githubusercontent.com/assets/1374775/14859321/9041f5ee-0c9b-11e6-9752-228c3143a256.png)

[2016-04-27 17:50] frank0000 opened #2023 "Is there any way to restore a collection I accidentally deleted"
I meant to delete a single REST call under the collection but apparently deleted the whole collection.  The "undelete" notification hovered for about 3 seconds - just long enough for me to realize my mistake but disappeared before I could click it.  Is there anything I an do to restore my collection at this point?

[2016-04-27 18:16] sobtiankit commented on #2023
@frank0000 Do you have Sync enabled? If yes, can you email help@getpostman.com with your account details and we'll help you out.

[2016-04-27 18:36] bricker opened #2024 "Access to raw response in test scripts?"
Hello, I'm using the Mac app (version 4.1.1) on OS X 10.11.5.

I have a response which is encrypted and sent to me as raw bytes. I am trying to decrypt this response from within the test script, and in order to do this I need access to that raw response. But, it seems that the `responseBody` string is being converted to a string which is losing some data.

I am currently inspecting the bytes with

[2016-04-27 19:00] frank0000 commented on #2023
oh cool thanks @sobtiankit, I'll do that. As a workaround, I was able to restore a bit from History too.

[2016-04-27 20:01] abhijitkane commented on #2023
Following up over email. Closing this.

[2016-04-27 20:01] #2023 closed, assigned to nobody

[2016-04-27 20:03] gotwilk890 commented on #1257
+1

[2016-04-27 20:07] abhijitkane commented on #1776
Postman does not have access to the path of the file either (only the filename).
It's also impossible to set the value for a file selector element.
This won't be possible to do till we move out of Chrome.

[2016-04-27 20:44] kurtkanaskie commented on #1752
I had Sync enabled and lost a couple days of work since I rebooted. Any advice?

[2016-04-27 22:32] abhijitkane commented on #1752
@kurtkanaskie Did you reboot your app or logout of Postman? You can view the server-side state of your data here - https://app.getpostman.com/dashboard/collections/private?expand=1
If this isn't accurate, you can mail us at help@getpostman.com

[2016-04-27 23:04] kurtkanaskie commented on #1752
Its strange, I have 2 personas, "personal" and "work" that I manage in Google. I launch Postman from Google Apps, signed in as my "personal" persona and I see SYNCING with a blue background and I notice things are missing from the past few days. At one point, after I saw things missing, I launched and postman showed me all my stuff and IN SYNC with an orange background. I quickly downloaded everyt

[2016-04-28 04:29] a85 commented on #856
This will be fixed with collection-v2: https://github.com/postmanlabs/postman-collection

[2016-04-28 04:30] a85 commented on #932
This will be fixed with collection-v2. https://github.com/postmanlabs/postman-collection

[2016-04-28 05:26] shamasis commented on #1180
Hi, the presently suggested way to include external script is by using a request to fetch its content. See - http://blog.getpostman.com/2015/09/29/writing-a-behaviour-driven-api-testing-environment-within-postman/ and https://github.com/BigstickCarpet/postman-bdd

In this way, you'll be safe from breakage caused by future changes to internal app architecture or Chrome platform changes.

[2016-04-28 05:35] davenewza commented on #1966
This has gone completely off topic.

[2016-04-28 06:07] mstaalesen commented on #2020
Ctrl + Enter will do what you want.

[2016-04-28 06:38] aubm commented on #1070
+1 it would be nice indeed :)

[2016-04-28 06:58] jonathanmorr commented on #1959
Hi!

Sorry for the late reply, i dont check my emails every day. You can see it
if you make a get request to our API. I created you an apikey with the
rights to retrieve some fake apps.
Request GET

https://v25-stage.app-arena.com/api/v2/apps?exclude=all&orderdesc=appId

with a header entry 'Authorization' => 9KaeDYdeku53DWHSSMqF and you will
see that in the raw output app 11511 is the first entry

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:06] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:07] Scottsuen commented on #2006
@abhijitkane Thanks! About #3, also with the environment download.

[2016-04-28 07:54] anyone-can-test commented on #1393
I have the same problem.
So, If I have to use big integer beyond javascript, what should I do?

[2016-04-28 07:57] jonathanmorr commented on #1959
This is the ouput of a request, ordered by 'appId' descending.

![requestexample](https://cloud.githubusercontent.com/assets/16762981/14879098/7c86702a-0d27-11e6-8ac9-7f12dab752f6.png)

The Raw (or Preview) output is in the right order while the pretty shows a ascending order.

[2016-04-28 08:41] IPWright83 commented on #1180
@shamasis Thanks for that - looks like a useful way of doing it.

[2016-04-28 09:13] anyone-can-test commented on #1393
Can't save big integer as a environment variable, using postman.setEnvironmentVariable

[2016-04-28 09:42] anyone-can-test commented on #666
Is this issue fixed?

[2016-04-28 11:51] johnnavarra commented on #1180
@Shamasis this is FANTASTIC! Thank you!

On Thu, Apr 28, 2016 at 1:27 AM, Shamasis Bhattacharya <
notifications@github.com> wrote:

##

AIM: obliviouslyaware
ICQ: 5147787
googletalk

[2016-04-28 14:32] geraldchecka commented on #1137
+1
Desperately need this feature to test one of my service.

[2016-04-28 15:02] jlubeck commented on #2021
4.1.3
OS X / x86-64
Chrome 49.0.2623.110

Yup, signing out and back in made it work. Thanks! I left it open though as this would be a workaround to fix the issue, but it shouldn't really happen right?

[2016-04-28 15:39] goldbergjeffrey opened #2025 "Postman doesn't prompt for client certificate with latest chrome 50"
Postman used to prompt for client cert when making first https connection to a resource.  Now it is not prompting at all.  I have to open Chrome and log into resource first with windows auth in order for my session to be honored.

Looks like this change happened after updating to chrome 50 two days ago.

Thank you for your help.

[2016-04-28 15:40] a85 commented on #2025
Can you tell me the app version number?

[2016-04-28 16:00] goldbergjeffrey commented on #2025
I'm closing it.  The issue was mine.  Truly sorry.

[2016-04-28 16:00] #2025 closed, assigned to nobody

[2016-04-28 16:23] lukasoppermann opened #2026 "[Feature] additional shortcuts"
Please add an additional shortcuts for

**edit selected Request** maybe (cmd + r for rename?)

This should trigger for the request currently highlighted on the left (sidebar)

[2016-04-28 16:42] shamasis commented on #1180
I'm so glad. We're also working towards getting to a more elegant solution to this and work around Chrome platform restrictions to get there. Will post an update when there's something interesting.

[2016-04-28 17:32] keeper3000 opened #2027 "Project Folder or Working Directory Support"
We have a web project with a Postman module where everyone checks in their postman scripts and postman test cases.  If anyone checks in changes into this directory than we have to be mindful and "re-import" the directory into our postman application.

Instead we would like our Working Directory to be the directory of truth so any changes made there are reflected into our Postman application. In ad

[2016-04-28 20:42] cpoblete commented on #2020
Although just "Enter" would be awesome, the additional keystroke would suffice.

[2016-04-28 20:42] #2020 closed, assigned to numaanashraf

[2016-04-28 21:08] dmitry-saritasa commented on #2022
Unfortunately right now - it doesn't display anything. I run the app - and nothing happens, no errors at all. It doesn't start, nothing. What can I do?

[2016-04-29 04:26] m11y opened #2028 "Genetate Code add Markdown support!"
As a programer, we always need to write interface documents, but we also hate to do that.
If postman can generate markdown, we _at least_ can copy parameters to document, making writing docments easier.

Or, gonging further，will postman generate documents with the help of something like DSL, metadata tag etc.

[2016-04-29 05:50] ghost opened #2029 "Confirmation Pop up before deleting a collection or a request (Feature Request)"

[2016-04-29 08:27] RandolphBurt commented on #1984
I had the same issue.  I use Postman on multiple machines so this may be a contributing factor.  However, logging out and then signing back in solved it so all is good. :)  Cheers.

[2016-04-29 08:42] Moulde commented on #1137
+1

[2016-04-29 09:56] jimonthebarn opened #2030 "Feature Request: Open link in default browser"
When clicking links in postman the current default behaviour is to open a new tab with the request url pointing to the link location.

What I really would like to be able is to open the link in the default browser instead. To not break existing behaviour maybe by using an modifier key like CTRL + click.

Motivation:
A couple of API's we are developing at our company generate redirect urls and retu

[2016-04-29 13:38] stramel commented on #697
+1

[2016-04-29 14:35] stevenmilstein opened #2031 "setNextRequest & Environment Variables"
I try setNextRequest based on the example in http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/ & understand see it being triggered by responseCode.code.

However, I'm unable to trigger them by Environment Variables. Is it me, or, a limitation?

Thanks

[2016-04-29 14:53] janpio commented on #1736
No. With activated and deativated Interceptor the test both times succeeds.

Did you fix it or did it fix itself?

[2016-04-29 16:12] eric-newton commented on #2017
Our team has employed the checkin-to-git repo approach: periodically "download" the collection into a file, then checkin to git.

Would like to see this feature (inaddition to) team activity feed.  A lot of times it more neccesary to "go back to the working copy" then it is to be notified via team acitivty that user B changed something that was incorrect, but how does user A recover it?

[2016-04-29 16:17] eric-newton commented on #1601
leaving comment as this account too.  this is a neccesary feature.  any word on release of this?

basically you couple the variables to a particular collection, instead of them being "postman global environments".  You could preserve this feature and add the collection features, and the priority should be variables within the collection supersede any global variables.

[2016-04-29 16:18] abhijitkane commented on #1736
We made a release of the Interceptor two weeks ago with the fix.

[2016-04-29 16:18] #1736 closed, assigned to nobody

[2016-04-29 16:19] abhijitkane commented on #697
@pshirishreddy @stramel @bbednarek We have a feature that should help with this - http://www.getpostman.com/docs/workflows, https://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/

[2016-04-29 16:21] abhijitkane commented on #2028
@wizwjw The current 'generate code' section shows snippets to actually make the request in a number of languages. Not sure what role markdown can play here.
Postman could, in theory, generate a specific format of markdown for a collection. There's already a auto-documentation service for Cloud users (https://www.getpostman.com/docs/creating_documentation)

[2016-04-29 16:28] priyaaank commented on #1374
I have a related issue. When using interceptor, all cookies are appended. So if in browser the value for Cookie is tokenId=abcd and in postman I send the cookie value as Cookie:tokenId=pqrs then I recieve on server.

`Cookie: tokenId=abcd;tokenId=pqrs`

This causes an error in the sense that a stale cookie is often picked up. I would have assumed that cookie explicitly sent from PostMan would over

[2016-04-29 16:30] abhijitkane commented on #2022
@saritasa Did Chrome Canary not help?

[2016-04-29 16:31] abhijitkane commented on #2031
@stevenmilstein Not sure what you mean by "triggered by responseCode.code". Calling postman.setNextRequest("requestName") will cause <requestName> to be the next request that'll be executed. You'll need to use the runner to run the whole collection.

[2016-04-29 16:49] stevenmilstein commented on #2031
On a GET's _Tests_ script;

[code]

works as expected.

I could avoid the GET, if I condition on an environment variable in a previous Step;

[code]

But it doesn't seem to work.

[2016-04-29 16:49] darrylkuhn commented on #2017
@eric-newton We also check into git as you describe... the problem is when you go to do a diff it's damn near impossible since all the UUIDs change. Our test suite is comprised of nearly 500 requests and over 2000 tests. It's a large set so while we can rollback to a previous version, finding out what we changed and "replaying" those changes takes significant time and is quite prone to human error

[2016-04-29 18:54] stramel commented on #697
@abhijitkane Unless I misunderstood what you posted, I think people are looking for this request needs to have login ran before it is.

[2016-04-29 19:04] abhijitkane commented on #697
That's possible with setNextRequest. You can have a single login request (RL), that's run before every request.

Just add `postman.setNextRequest("RL");` in the test script section of each request. You can use environment variables to store some sort of state and decide what request to run after RL. Not the most elegant method, of course, but a lot of our own use cases have been solved with this.

[2016-04-29 22:07] dmitry-saritasa commented on #2022
I'm on Linux, and Canary is not available yet on Linux

[2016-04-30 11:26] aditya-mittal commented on #1991
@abhijitkane I tried installing latest POSTMAN app, as suggested by you, but sadly that too doesn't works as expected.
It would be appreciable if this is fixed with upcoming releases of POSTMAN.

[2016-05-01 03:33] evanpurkhiser commented on #1869
Will confirm this coming week. Thank you @abhijitkane !

[2016-05-01 11:33] atzmon commented on #1800
I'm experiencing the same issue.

Here's a screenshot of a very simple XML that demonstrates what the link looks like on mouseover. Notice the blue underline contains the end "URL" tag:

![postman_xml_link](https://cloud.githubusercontent.com/assets/1856275/14941588/5acd3854-0fa9-11e6-88b6-59002f7cfa97.png)

[2016-05-01 18:12] bricker opened #2032 "Feature Request: Add an environment variable to all environments at once (not global variables)"
## The Problem

The normal use case for environment variables is that you set a variable in each of your environments, with a different value for each one. In other words, it's rare that you set an environment variable for only one environment. In general you want your environments to be completely in sync, in terms of which variables are available.

Personally I have about a half-dozen environmen

[2016-05-01 19:14] abhijitkane opened #2033 "Large integers aren't represented correctly when replaced"
Pre-request script: postman.setEnvironmentVariable("bigNum", 9098774238709471234);

Use `{{bigNum}}` in the request body. What's actually sent is 9098774238709471000.

Reported in https://postman.zendesk.com/agent/tickets/4555

[2016-05-02 04:54] #1666 closed, assigned to nobody

[2016-05-02 04:54] #1918 closed, assigned to numaanashraf

[2016-05-02 04:54] #1900 closed, assigned to SamvelRaja

[2016-05-02 04:54] #1617 closed, assigned to nobody

[2016-05-02 04:55] #1459 closed, assigned to nobody

[2016-05-02 06:54] appcrazyprateek commented on #884
can postman interceptor be enable only particular URL , as postman is intercepting all the websites i m browsing because of which its history is increasing resulting in slowness

[2016-05-02 08:45] heyyoyo commented on #1942
Any update on this issue ? Or way to upgrade to new version without loosing history and collections ?

[2016-05-02 08:48] htunlogic commented on #2022
I have the same issue on Ubuntu 15.10. Never worked at all. I have just updated chrome and tried installing again, but same thing. It displays icon on launcher, but window does not open.

[2016-05-02 09:13] heyyoyo commented on #1921
I have the same issue, but will I keep my history and my collections if I upgrade ?
After installing the Postman 3 and now upgraded to 4.1.3, collections and history were empty.

[2016-05-02 09:15] heyyoyo commented on #1942
In the google chrome console I have the following error:

But it seems to be a duplicate to this issue:
https://github.com/postmanlabs/postman-app-support/issues/1921

But it is already closed. I hope the developpers of this really nice extension will make a last patch for this version.

[2016-05-02 18:33] ghost commented on #1193
+1 .  As an addendum, a command to delete -ALL- environment variables -- e.g. postman.deleteAllEnvironmentVariables() -- would be helpful.

[2016-05-02 21:17] dmitry-saritasa commented on #2022
At the same time I can say that on my home fedora 23 it works just fine. But at the office PC - it stopped working recently. Any suggestions/ideas. We have paid plan with you guys.

[2016-05-03 06:10] NathanHazout opened #2034 "Shared collection links should render page instead of raw JSON"
In Postman, click Share > Copy URL.

Paste that URL in Chrome (https://www.getpostman.com/collections/63aa4b29c44c5e65ddce).

Expected behavior: Page asking me if I want to open the Postman app.

Actual behavior: Shows me a raw JSON file.

[2016-05-03 06:11] abhijitkane commented on #2034
@nasht00 Are you using the Postman mac app or Chrome app?
The page asking if you want to open Postman will only show up if you use the run button (https://www.getpostman.com/docs/run_button).

[2016-05-03 06:18] NathanHazout commented on #2034
Chrome app.
Maybe you are right, for some reason I assumed that sending a direct link to someone would behave the same way.

Feature request maybe?

[2016-05-03 06:33] hyunil-shin commented on #1395
setup/teardown folders.. good!!!
Without setup/teardown, it is very difficult to test a scenario.

[2016-05-03 08:58] dekz commented on #2013
We are also not using sync for a similar reason.

Alternatively, we would prefer to self host our collections (security and version control reasons), having support in the Run Button from this as well (more so than just environments).

[2016-05-03 11:26] spudmashmedia commented on #1464
Hey guys, can report that Auth0's is also using id_token for storing the JWT.
Any updates with this?

[2016-05-03 11:31] dekz commented on #1013
I'd like to see just a generic pull from url, read only, no write.

Syncing changes across multiple users is difficult, I'd like to see reads be easy for now.

Even allowing Postman App to support URL file handlers would be a step forward.

[code]

[2016-05-03 16:53] pstricker opened #2035 "Request Body Not Updating After Save"
Postman Version: 4.1.3
OS: Windows 10
Chrome: 50.0.2661.94

I have ran into an issue where I can not edit the body of requests after initial send. I have done a fair amount of searching but have not run into any other threads on the issue. Steps to reproduce are as follows:

Step 1: Send a Postman request that includes a x-www-form-urlencoded body
Step 2: Modify body of Postman request in the edit

[2016-05-03 17:56] seangates opened #2036 "Postman is considered a Chrome window"
Currently, when I have Chrome open and Postman open, Postman is treated as a Chrome window. When doing a `command + [back tick]` it is cycled as one of the Chrome windows. This doesn't happen with any other apps created with Electron (e.g. Slack).

Also, when doing a `command + tab` it acts as though it's part of the Chrome window group, which it should not be.

Please fix this so that it works as

[2016-05-04 10:36] abhijitkane commented on #2036
@seangates Are you using the Postman Mac app? If so, this should not occur. Command+` is not handled by Postman's Mac app at all.

If you're using Postman's Chrome app, then you'll see the issue. This a Chrome issue (https://bugs.chromium.org/p/chromium/issues/detail?id=339239), and there's nothing we can do about it for now.

[2016-05-04 11:29] ghost commented on #285
+1. For two factor authentication this would be awesome.

[2016-05-04 14:35] seangates commented on #2036
Okay. Let me confirm. I have at one point downloaded both.

[2016-05-04 15:27] adenysenko commented on #119
+1

[2016-05-04 15:49] oblogic7 opened #2037 "Cannot override Origin header"
I have an origin header specified on my request, but my server is receiving `file://` as the header value instead of the value I set.

![image](https://cloud.githubusercontent.com/assets/453840/15019968/c41b2698-11e5-11e6-84de-bc7870c23ca4.png)

If I copy the curl request, it works as expected, but is broken when request is executed via Postman.

[2016-05-04 19:09] abhijitkane commented on #2037
@oblogic7 This is currently a limitation in the Postman app. The XHR object doesn't allow the Origin header to be set (https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name). In our Mac app, we'll soon be introducing a workaround for this.

[2016-05-04 19:10] oblogic7 commented on #2037
Great. Thanks for the update.

[2016-05-04 19:10] #2037 closed, assigned to nobody

[2016-05-04 19:18] dfmartin opened #2038 "Shared collections not syncing between team members"
Our team is using postman with shared collections and environments.  I have created a collection and shared it.  Others have added some requests.  On each of our machines we are seeing that there are 7 requests.  I am only seeing 2 while another member is seeing 4.  No one is seeing all 7.  One member got all 7 by unsubscribing and resubscribing.  However, as the owner I do not have that open. I h

[2016-05-04 19:21] abhijitkane commented on #2038
@dfmartin No, the request count should always match the number of requests that show up. We're aware of one issue that causes this - this will be patched up in the next release of the app.
Could you email us at help@getpostman.com with your username or team-name, so we can check if there were any errors specific to your account?

[2016-05-04 19:37] zubairk-net opened #2039 "Unable to delete cookie"
Once I get a cookie back from server I am not able to delete it. I tried deleting cookie for same url in Chrome but it didnt get rid of cookie in Postman. I was under assumption that they might be sharing the cookies but thats not the case. Please let me know how to remove a cookie.

[2016-05-04 20:29] abhijitkane commented on #2039
@zubairk-net To control cookies, you'll need to enable and send requests through the Interceptor (enable via the satellite icon in the navigation bar, install from https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en).
You'll then be able to control cookies from chrome://settings/cookies

[2016-05-04 22:27] bartpowers opened #2040 "cannot use postman.getResponseCookie in Newman"
Hello,

I would just like to stay updated on the issue that this function is not supported via newman.

`postman.getResponseCookie is not a function 200 137ms https://...`

Please let me know if this will be addressed or if i need to work on a different platform to handle these requests.

Thanks!

[2016-05-05 01:30] dmitry-saritasa commented on #2022
any news @abhijitkane ?

[2016-05-05 10:26] abhijitkane commented on #2022
@saritasa We've tried a variety of linux machines, including Fedora 23, but we've yet to reproduce the issue. Can you share a screenshot of the "some files are missing" error?

[2016-05-05 10:28] abhijitkane commented on #2035
@pstricker Can you check if the `Send Postman Token Header` setting is enabled?

[2016-05-05 10:35] teaboxshiv commented on #366
+2

[2016-05-05 11:11] simonccarter opened #2041 "Nested folders"
Feature request. Seems there can only be a single level of folders within a collection currently. Thanks.

[2016-05-05 11:28] Loobs40 opened #2042 "Team collection not synchronising?"
We are two users sharing a collection using the Cloud. When I update a request  the other user sees the changes immediately. When they update a request I do not see   the changes.  Postman is a new application for us, so can you advise on what the issue may be

thanks

[2016-05-05 11:31] abhijitkane commented on #2042
@Loobs40 If they update a request, you'll have to close the request if it's open in the builder, and re-open  it from the sidebar. Can you ask your team-member to update the name of the collection or request and see if that's updated in your sidebar?
If not, can you try signing out and signing back in?

[2016-05-05 11:37] Loobs40 commented on #2042
Hi,

It has made no difference.

If I change the name of a request the other user sees the change immediately, but not vice versa. Could this be something to do with profiles ? It may be a coincidence but I have recently changed laptop, would that have an effect ?

thanks

From: Abhijit Kane [mailto:notifications@github.com]
Sent: 05 May 2016 12:32
To: postmanlabs/postman-app-support postman-app-s

[2016-05-05 11:38] abhijitkane commented on #2042
@Loobs40 Can you tell me the your username, name of the collection, and name of the request?

[2016-05-05 11:55] Loobs40 commented on #2042
User=loobs40, collection name is Phase1b and I am dealing with requests in folder ‘IDS Intergration Test’. The request name  is Phase1b-SIMH_FMS_Refer_008.  I am still seeing it as Phase1b-SIMH_FMS_Refer_0088 ,

Values have been changed in the request but I am not seeing them . Below is what I see, but the ‘asdf’ has been updated by the other team member to another string

<DataAttribute>
      <N

[2016-05-05 12:13] abhijitkane commented on #2042
@Loobs40 I think your app will have two collections called Phase1b (One which you own - this will be with a gray icon, one which the other user owns and you have subscribed to - this will be with an orange icon). Can you check the other collection?

[2016-05-05 12:39] Loobs40 commented on #2042
I have renamed the one in grey which is owned by me  to ‘phase1b-old’ so It does not confuse

The other team member and I should only be working on the ‘Team’ collections so we can collaborate with updating . Is that correct ?

Me team member has changed the name  of the request so the last characters  to 00888 but I am still only seeing 0088

From: Abhijit Kane [mailto:notifications@github.com]
S

[2016-05-05 12:44] abhijitkane commented on #2042
Hm..the name of the request in our records seems to be Phase1b_SIMH_FMS_Refer_0088. Can you ask your team member to log out, log back in, and then make the change?

[2016-05-05 12:54] Loobs40 commented on #2042
She logged out and logged in and now when she makes updates I can see them. Unfortunately  as a result all updates she has been making this morning have been lost as seemingly her updates were not being saved.

Do you know why this could have happened ? She did not receive any error messages while being logged in to warn her that her updates were not being saved to the cloud

From: Abhijit Kane [m

[2016-05-05 13:25] abhijitkane commented on #2042
@Loobs40 We've identified two possible causes for this, and will be patching them up in the next release of the app.

[2016-05-05 15:16] umasenthil commented on #569
I lost the collections in my POSTMAN too.
Could you please let me know how get the backup in mac?
Thank you!

[2016-05-05 15:25] sdnts commented on #2035
Hey @pstricker, from the screenshot, it looks like you are still in `Bulk Edit` mode after modifying the request body. As of right now, you need to actually click `Submit` to apply these changes to the request. (You'll see the familiar key-value pairs again with your updates)

We've made changes in our internal build that makes this step unnecessary, and will roll this out in the next update.

[2016-05-05 15:46] umasenthil commented on #569
Ignore my previous comment. But if anyone this issue in MAC, a simple solution which might randomly work... Close the postman and open it. I did it couple of times and I see the collections the second time.

[2016-05-05 16:57] pstricker commented on #2035
@abhijitkane The `Send Postman Token Header` setting was not enabled. Enabling seems to have resolved the problem. Thank you!

[2016-05-05 16:57] #2035 closed, assigned to nobody

[2016-05-05 17:58] ianomad opened #2043 "Feature to close multiple tabs like in Chrome"
Feature to close multiple tabs like in Chrome.

Basically it would be really nice to have it like in Chrome (middle mouse to close/close all other tabs/close all tabs on right-left, etc.)

[2016-05-05 18:25] macpie opened #2044 "Mac Application cookie access from tests snippet"
Hi,

This is a feature request.
It would be real useful if the `postman` object (in the tests snippet) could have access to the cookies.
So that before or after a request I can add/remove/edit a specific cookie.

A concrete example would be to remove a cookie after a logout request.

Thank You!

PS: Love Postman

[2016-05-05 18:43] mdaloia commented on #1945
I have lost unsaved opened tabs that I was using because of this annoying usability issue because it replaces the tab without any warning and you can undo it.

[2016-05-05 19:56] mdaloia commented on #1412
In Mac OS it's really odd that hitting Cmd+Q by mistake trying to use Cmd+W to close a tab and see Postman being closed without any warning.

As a user I expect that my information is not lost, and if I have temporal unsaved state be warned that I will lost it if I continue closing the app.

Google Chrome resolved this issue adding the setting "Warn Before Quitting" where you need to hold Cmd+Q to

[2016-05-05 20:04] cuencacigars commented on #1213
<p>Hey!</p>

<p>ShippingEasy, the software I use to print all my labels with the best USPS discounts, offers a FREE month to friends of current subscribers (me). All you do is click the link and it will automatically give the first month FREE. I recommend it!</p>

<p>LINK FOR FREE MONTH: http://shippingeasy.com/easyreferral?c=Z9ZE5A68&amp;_s=M</p>

Regards,
ShippingEasy Support
support@shippingeas

[2016-05-05 23:48] dmitry-saritasa commented on #2022
the video:
https://www.dropbox.com/s/c7jlvu4z67vy7wd/video_2016_05_05_uu7utnfu.ogv?dl=0

[2016-05-06 02:04] detarmstrong commented on #448
I'm trying to send CSV data with Postman and this is really a silly limitation. Is there any known workaround?

[2016-05-06 10:32] yomr commented on #2015
Facing the same issue! I am on EL Capitan!

[2016-05-06 10:38] abhijitkane commented on #2015
@romnycristopher @yomr We've fixed this internally, and will be pushing a fix out in the next release. Thanks for reporting this.

[2016-05-06 10:39] yomr commented on #2015
Cool!

[2016-05-06 11:03] mstaalesen commented on #2032
+1

[2016-05-06 11:52] lrozenblyum opened #2045 "Auth -> No auth :: doesn't remove header"
SCENARIO:
Send a request using Basic Auth
Change Authorization type --> No auth
Send a request

EXPECTED:
No 'Authorization' header is sent when 'No auth' is selected

ACTUALLY:
Old 'Authorization' header is sent

[2016-05-06 15:17] dhoyt opened #2046 "Team "Owner" Capabilities"
As Team "Owner" I want complete control over the team library. Who can and cannot add to the library and being able to delete anything I want from the team library regardless of who put it out there.

[2016-05-06 15:24] risingfish opened #2047 "Ability to view the full raw HTTP transaction."
This is essentially a re-request of the following ticket: https://github.com/postmanlabs/postman-app-support/issues/119 . That functionality, which is very very useful, seems to of been left out of the the new Postman client. It is especially important now that you can't open a web inspector window in the new client.

[2016-05-06 15:40] wcandillon opened #2048 "Bug in swagger import"
The following swagger files:
https://dl.dropboxusercontent.com/u/1487285/swagger-aggregated.json

Give the following output:
https://www.dropbox.com/s/sd591bl7m5hq0an/Screenshot%202016-05-06%2017.38.57.png?dl=0

There is one slash too much: `http:///`

[2016-05-06 16:03] javabudd commented on #1263
+1

[2016-05-07 10:11] RonakThakkar commented on #1852
Thanks for fixing that.

[2016-05-07 10:15] RonakThakkar opened #2049 "SignOut button beside Request Token button in OAuth2.0"
I have scenario where I would like to test my API using 2 users in OAuth2.0 flow.

I clicked "Request Token" button which opens login screen where I entered login credentials which returns token back. This works well.

Now I would like to test same API using another user. I again click the "Request Token" but this does not open login windows instead gets token for previous user.

It would be bette

[2016-05-07 10:19] abhijitkane commented on #2049
@RonakThakkar We agree. However, most OAuth2 "logouts" function differently - Github, for example, needs a POST to `github.com/logout`, Google needs a GET to a different URL. We're looking at ways to consistently do this across OAuth2 providers.

We might be able to do this in our native Mac app, though (by clearing the cache). Will look into this.

[2016-05-07 10:24] RonakThakkar opened #2050 "Get Request Token dynamically when running a collection of API using Collection Runner"
Hi,

I have several API's in my project that are that are secured using OAuth2.0. I use OAuth2.0 in Postman to call those API's. These works fine when I call them individually in postman and add token by clicking saved token.

But, I have created a collection of those API in Postman. Now problem is that when I run that collection using collection runner, how do I get Request Token dynamically and

[2016-05-07 10:25] abhijitkane commented on #2050
The OAuth2 tokens are not tied to a request. Once you get the token, you can manually save it into an environment, and then use the variables in the requests.

There's no way to start the manual OAuth2 process during an automatic collection run.

[2016-05-07 11:09] RonakThakkar commented on #2050
It would be good if there is a possibility to trigger OAuth2 process in some pre-request scripts.

I was thinking to create a first dummy request in collection where I can invoke OAuth2 process in pre-request script and then enter login credentials in window that opens and then save returned token in Global Variable called Authorization which can be used in subsequent request.

It would also be a

[2016-05-07 21:13] nickdbush commented on #1893
Am I missing something or is there no option to do this in 4.1.3? It would be great if I can as it save so much time when working with services like Parse! Thanks

[2016-05-08 07:00] wcandillon opened #2051 "REST API to publish the documentation?"
We would like to automatize the process of publishing the API documentation.

[2016-05-08 11:50] dewdad opened #2052 "Please support hyperlinking from response headers."
I the case of async response the location for the response is usually included in a header. Currently we have to manually copy it over to a browser and wait until the response is ready in the server by repeatedly refreshing the request in the browser. It would be great if Postman had an answer for this.

[2016-05-08 23:29] philals commented on #1228
+1

[2016-05-09 05:07] abhijitkane commented on #2052
@dewdad We support linking from the 'Link' response header. What other response headers are you using to include links in?

[2016-05-09 05:22] dewdad commented on #2052
'Location' and 'X-Raw-Location'. I suppose though there may be other custom
cases.
On May 9, 2016 8:07 AM, "Abhijit Kane" notifications@github.com wrote:

[2016-05-09 05:36] abhijitkane commented on #2048
@wcandillon Thanks for reporting this. We'll try and push a fix for this soon.
This only happens when the url begins with `{{`. Node's url.resolve function treats `{` and `}` as special characters.

[2016-05-09 05:37] abhijitkane commented on #2047
@risingfish Are you talking about the Mac app? You can go to View>Toggle Dev Tools to open the DevTools window.

[2016-05-09 05:38] abhijitkane commented on #2045
@lrozenblyum Hm..the auth helpers only add headers. Once a header has been added, the 'Auth helpers' section cannot remove it. But I see what you mean - we'll try and improve the UX around this.

[2016-05-09 05:44] abhijitkane commented on #2044
@macpie Can you try the `postman.getResponseCookie("cookieName")` method? You should get an object with the following keys: `"name", "value", "domain", "hostOnly", "path", "secure", "httpOnly", "session", "expirationDate"`

[2016-05-09 05:46] abhijitkane commented on #2040
@bartpowers Can you file an issue on the Newman issue tracker - https://github.com/postmanlabs/newman/issues?

[2016-05-09 05:46] #2040 closed, assigned to nobody

[2016-05-09 05:48] abhijitkane commented on #2031
@stevenmilstein Calling `setNextRequest` in a pre-request script of request A will just set the _next_ request. Request A will always be executed.
To avoid sending request A, you'll need to put this check in the request that's run _before_ request A.

[2016-05-09 05:51] abhijitkane commented on #2021
@jlubeck Nope - we'll be pushing a fix for this in the next release.

[2016-05-09 07:33] czardoz commented on #2022
@saritasa can you run this in the terminal and paste the output here?

[code]

[2016-05-09 10:17] ghost opened #2053 "Error while evaluating the Pre-request Script: Failed to execute 'postMessage' on 'Window': An object could not be cloned"
### Error Details

Having issue with the latest update, the Pre-request Script bellow was working well for several weeks but suddenly stopped execution by showing this error:
`Error while evaluating the Pre-request Script: Failed to execute 'postMessage' on 'Window': An object could not be cloned`
It seems more like an internal postman error just happens before starting the Pre-request script:
###

[2016-05-09 10:19] abhijitkane commented on #2053
Change `guid` to `guid()`. In the first line. Environment variables cannot be set to to function definitions.

[2016-05-09 13:14] samakshjain commented on #2049
If logout button is an issue, can we have a button to clear the log-in session/cookies.
I have been breaking my head trying to log out postman and log-in from a different account.

[2016-05-09 15:17] eduardosponda commented on #869
When is the new version going to be released?

[2016-05-09 17:17] macpie commented on #2044
This is working for the chrome app but not for the native osx application. The native app as a cookie manager so I was wondering if the `postman` object could include function to manipulate the cookies, a `get` / `delete` should be enough.

[2016-05-09 20:04] dmitry-saritasa commented on #2022
(phind) [dmitry:~/Projects/phind](develop)$ google-chrome --app-id=fhbjgbiflinjbdggehcddcbncdddomop --profile-directory=Default
Created new window in existing browser session.
(phind) [dmitry:~/Projects/phind](develop)$

[2016-05-09 21:39] seangates commented on #2036
@abhijitkane You are correct. Apparently, my icon in the dock did not get updated when "installing" the native Postman. Maybe that could be part of an install script from you folks?

[2016-05-09 21:39] #2036 closed, assigned to nobody

[2016-05-10 06:05] abhijitkane commented on #2044
@macpie It should work for the native app too. Can you attach a screenshot of the cookie as shown in the cookie manager?
What's the URL of the request in whose test script you're making the postman.getResponseCookie call?

[2016-05-10 06:58] czardoz commented on #2022
@saritasa
Can you close all the chrome windows and run that command again? I specifically want to see logs for what happens when the app is launched.

[2016-05-10 09:27] BlueInt32 commented on #2026
+1
Dealing with a lot of requests duplications and renaming makes edition quite tedious.

Why not add
**duplicate selected request** also ?

[2016-05-10 09:29] lukasoppermann commented on #2026
True @BlueInt32, but should it not rather be **duplicate and edit selected request**?

[2016-05-10 09:31] lukasoppermann opened #2055 "[Feature] let user change shortcut keys"
Hey,

I think it would be very helpful if a user could change the keys for shortcuts, as some people might use other features more often than others.

If you would make the keys customisable in the **Settings > Shortcut** it would be a huge improvement.

[2016-05-10 10:40] rfyiamcool opened #2056 "Please support for POST of file in message body with Content-Type application/octet-stream"
Thanks

[2016-05-10 15:09] mikaey opened #2057 "Feature Request: Track expires_in for OAuth2 access tokens"
Hello,

I'm running Postman 4.1.3 as a Chrome app.

My company serves up a REST app which is OAuth2-compliant.  When requesting an access token, the response contains a property named `expires_in`, which contains the number of seconds until the access token expires.  It would be nice if Postman had an option to automatically remove access tokens that had expired from the "PREVIOUSLY USED" list (on

[2016-05-10 15:25] mikaey opened #2058 "No "Save helper data to request" option for OAuth 2.0"
1. Postman version: 4.1.3
2. App: Chrome app
3. OS details: OS X 10.11.4
4. Is the Intercepter on and enabled in the app: No
5. Did you encounter this recently, or has this bug always been there: As far as I can tell, it's always been there
6. Expected behaviour: "Save helper data to request" checkbox is shown when the "Type" drop-down is set to "OAuth 2.0" on the "Authorization" tab, allowing OAu

[2016-05-10 15:59] benmalinowski opened #2059 "HTML Tags such as Bold should continue to be supported inside the collection names"
It would be nice for Postman to continue supporting HTML tags inside the collection. In the original postman I was using the bold tags to distinguish between different categories under the collection. See my screenshot below. I read that basic support would be in 4.10 but it doesn't appear to be working for the bold tag.

Please include the following:
1. Postman Version: 4.13
2. App (Chrome app or

[2016-05-11 08:02] abhijitkane commented on #2059
@benmalinowski That was a bug in the app. The request name is a simple string, and does not support markdown or HTML. You can use the request description for richer markdown-based formatting.

You can also use folders to categorize requests.

[2016-05-11 08:02] #2059 closed, assigned to nobody

[2016-05-11 08:05] abhijitkane commented on #2058
The OAuth2 helper doesn't need to 'compute' a signature from the request at runtime (unlike OAuth1 etc.). But it might make sense to store the Oauth2 access token + refresh token with the request, so that the request can be sent with the updated access token each time. Will look into this.

[2016-05-11 09:34] rplees opened #2060 "How It supports multi-threading, stress tests"
Mac app How It supports multi-threading, stress tests？

[2016-05-11 14:12] dovy commented on #884
Turned it off and boom it worked for me.  :(

[2016-05-11 15:22] risingfish commented on #2047
Ahh, no I am talking about the Chrome plugin. Did I put this ticket in the wrong place?

[2016-05-11 16:02] fstr opened #2061 "Remember file paths in the request builder"
When working with form-data and the file fields, buggy behavior occurs. See below how to reproduce.
1. Postman Version:
   4.1.3
2. App (Chrome app or Mac app):
   Chrome 50.0.2661.94
3. OS details:
   OS X / x86-64 10.11.4 (15E65)
4. Is the Interceptor on and enabled in the app:
   Yes
5. Did you encounter this recently, or has this bug always been there:
   Just encountered recently. Don't know

[2016-05-11 18:05] BlueInt32 commented on #2026
Sure, that could be a way.

[2016-05-11 19:56] #1933 closed, assigned to nobody

[2016-05-12 02:47] coxymla opened #2062 "Warn about malformed JSON (feature request)"
I'm the idiot who just spent a number of hours trying to debug my app  when the problem was that I had used `=` character rather than `:` in my Body.

It's my own damn fault but it would be a good feature if Postman could warn the user that what they are trying to send is malformed.

[2016-05-12 05:49] sankety commented on #1441
Facing the same issue in which I am able to upload file using CURL but not through postman.

[2016-05-12 07:04] mstaalesen commented on #2062
If you have a '=' instead of a ':', Postman will let you know by a Red Square with a white X inside it, on the line that the problem is.

You have to have selected "JSON (application/json)", which is an option above the Body for the request itself.

[2016-05-12 07:05] mstaalesen commented on #2060
As of right now, it doesn't. I think they have said that this is something that they are working on implementing. But I don't work for Postman, so I guess it would be best if they confirmed it too :)

[2016-05-12 07:16] coxymla commented on #2062
Thanks for that; guess I should have hovered over it.

[2016-05-12 07:16] #2062 closed, assigned to nobody

[2016-05-12 08:09] abhijitkane commented on #2047
@risingfish No, you can view the DevTools for the Chrome app too - http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/

[2016-05-12 15:01] davenewza commented on #851
Issue also on Newman https://github.com/postmanlabs/newman/issues/399

[2016-05-12 17:12] jcampbellco commented on #1263
+1

[2016-05-12 19:45] kkalmbach opened #2063 "Have oauth2 "token name" field honor variables"
Please include the following:
1. Postman Version:4.1.3
2. App (Chrome app or Mac app): Chrome
3. OS details: Mac
4. Is the Interceptor on and enabled in the app:
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: when I use a variable name in the "token name" in the oauth2 authentication screen, it de-references the variable
7. Console logs (http:/

[2016-05-12 20:16] Bachmann1234 commented on #1980
@abhijitkane This seems to work for me after downloading the newest version. Thank you. I am still poking it but just wanted to send a thumbs up 👍

[2016-05-12 20:16] abhijitkane commented on #1980
@Bachmann1234 Great!

[2016-05-12 20:16] #1980 closed, assigned to abhijitkane

[2016-05-12 22:14] stevemcmillen commented on #1737
This issue is 100% blocking fo is impacting our use of POSTMan

On Mac App:
Origin: file://

On Chrome App
Origin: chrome://extension...

Can we cause POSTMan to stop sending origin header?   Can this be done for Mac App?  For Chrome App?

[2016-05-12 23:21] macpie commented on #2044
The `postman.getResponseCookie('sess')` is returning null.

<img width="493" alt="screen shot 2016-05-12 at 16 19 25" src="https://cloud.githubusercontent.com/assets/778101/15233422/6f0fa97a-185d-11e6-9fb8-6e84f26e007f.png">

But it is showing up here:

<img width="701" alt="screen shot 2016-05-12 at 16 19 39" src="https://cloud.githubusercontent.com/assets/778101/15233424/724c35d6-185d-11e6-9aec-

[2016-05-13 06:16] BlueInt32 commented on #1945
+1 The tabs and requests being edited in postman currently do not behave like tabs in any other application that make use of tabs (IDE, internet browsers, ...), but we can see it's being improved.
Anyway we are so used to the "hard" link between the tab and its content that it makes postman quite disconcerting. It comes from the fact that a new tab is opened only if the current tab has unsaved cha

[2016-05-13 08:53] lgilz commented on #2022
I have the same problem on Ubuntu

[2016-05-13 10:53] mderazon commented on #156
How does Chrome inspector calculate that ?

http://stackoverflow.com/questions/8072921/chrome-dev-tools-size-vs-content

[2016-05-13 11:25] numaanashraf commented on #156
@mderazon Chrome Inspector has access to the lower level network information via the Chrome Debugging Protocol. Postman Chrome App doesn't have access to this information.

http://chromedevtools.github.io/debugger-protocol-viewer-1.1/Network/#event-dataReceived

[2016-05-13 13:47] stevenmilstein commented on #2031
OK, that works. IMO, it would've been nice to keep the logic encapsulated within each request's Pre-request Script, so I could move them around, or, reuse them more freely.

But it works, so that's pretty good!

Thanks

[2016-05-13 13:47] #2031 closed, assigned to nobody

[2016-05-13 17:14] dhoyt commented on #2051
This is something that me and my CTO were discussing the other day and were saying it would be great to have this. As soon as Jenkins get done with the build and deploy, we would love to auto publish the API.

[2016-05-13 18:24] mliq opened #2064 "Send restricted HTTP headers in Mac app?"
Please include the following:
1. Postman Version: 4.2
2. App (Chrome app or Mac app): Mac App
3. OS details: OSX 10.11.4
4. Is the Interceptor on and enabled in the app: I do not see how to enable it in this app.
5. Did you encounter this recently, or has this bug always been there: Just tried using the Mac app
6. Expected behaviour: Enable Interceptor and work, like in the Chrome app.
7. Console

[2016-05-13 19:15] gukoff commented on #156
Can't the application ask for permission to access this information? Or show the dev tools window itself?

[2016-05-13 21:05] yogamaha commented on #156
+1

Recently we had an issue due to Service not compressing the response.
I was looking for a way to see the response size with Compression enabled/disabled.
Having this feature to see the size would have helped me.

I see there is feature in Advanced REST client - to show the Timing information (Wait Time, Receive Time) available in Chrome Developer Tools.  If this can be embedded into Postman, i

[2016-05-14 12:12] rodgeve commented on #383
This is a deal breaker.  I am championing the Postman tool to my company and we're ready to go prime-time on it but not being able to use SCM effectively on Postman collections will look really bad and be very painful to work-around.

I've tried the Team Collaboration tool and there seems to be no way of doing code-review on changes to Collections.  If a collection is shared then anyone can update

[2016-05-15 16:59] acelot opened #2065 "Cyrillic characters are displayed incorrectly in profile selector"
1. Postman Version: 4.2.1
2. App (Chrome app): 50.0.2661.102
3. OS details: Windows 10 64-bit
4. Is the Interceptor on and enabled in the app: false
5. Did you encounter this recently, or has this bug always been there: always
6. Expected behaviour: Cyrillic characters are displayed correctly
7. Console logs: n/a
8. Screenshots
   ![postman-cyr-chars-issue](https://cloud.githubusercontent.com/asse

[2016-05-15 17:35] chadcampbell commented on #1904
@aditikul - I just got an update for Postman on my machine. I noticed this change was in there. It looks great and works well. Thanks for tackling this!

[2016-05-15 17:35] #1904 closed, assigned to aditikul

[2016-05-15 23:21] 2x2xplz opened #2066 "very long text field freezes Postman and spikes CPU"
Postman 4.2.1
win / x86-32
Chrome 50.0.2661.102
I'm on Win7/64-bit with 8gb RAM.
Interceptor installed but not on

When I paste very long text into a Postman form-data field (i.e. submitting very long text input), Postman freezes, CPU usage spikes, and I can't actually send any HTTP requests.

Simple example, create a new request, POST to www.example.com. Click "body," in the first field set "key"

[2016-05-16 08:07] abhijitkane commented on #2065
@acelot Can you head to https://app.getpostman.com/dashboard/edit, and re-enter your name?
A subsequent app restart should solve this.

[2016-05-16 08:08] abhijitkane commented on #2064
@mliq We'll soon be releasing a version of the Mac app which doesn't have this restriction. For now, using the Chrome app + Interceptor is the only way to send restricted headers.

[2016-05-16 08:10] #2053 closed, assigned to nobody

[2016-05-16 08:21] #2047 closed, assigned to nobody

[2016-05-16 08:23] abhijitkane commented on #2042
@Loobs40 Can you confirm this working in the latest version of the app?

[2016-05-16 08:31] aditikul commented on #1904
@chadcampbell  Good to know! Glad we could help :)

[2016-05-16 08:36] Loobs40 commented on #2042
Do we need to install a new version of Postman ?

From: Abhijit Kane [mailto:notifications@github.com]
Sent: 16 May 2016 09:23
To: postmanlabs/postman-app-support postman-app-support@noreply.github.com
Cc: Goddard, Lucy Lucy.Goddard@sky.uk; Mention mention@noreply.github.com
Subject: Re: [postmanlabs/postman-app-support] Team collection not synchronising? (#2042)

@Loobs40https://github.com/Loobs4

[2016-05-16 09:35] abhijitkane commented on #2042
What version are you currently on? The version should show up in Settings (wrench icon in the top-right) > About.

[2016-05-16 09:36] abhijitkane commented on #1995
@who @TheIcemanCometh Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:37] abhijitkane commented on #1964
@joanrodriguez Added in v4.2.1

[2016-05-16 09:37] #1964 closed, assigned to abhijitkane

[2016-05-16 09:37] abhijitkane commented on #2006
@Scottsuen Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:38] abhijitkane commented on #1458
@raygig Can you confirm this fixed in the latest version of the app (4.2.1)?

[2016-05-16 09:38] abhijitkane commented on #802
@davvves Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:38] abhijitkane commented on #1910
@BrakTalk @lasselehtinen Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:38] abhijitkane commented on #2015
@romnycristopher @yomr Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:41] abhijitkane commented on #2002
@rudnitskih @bcraig83 Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:42] abhijitkane commented on #1997
@sebastian121212 Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:42] abhijitkane commented on #1971
@jhalterman Can you confirm this fixed in the latest version of the app?

[2016-05-16 09:43] #1869 closed, assigned to nobody

[2016-05-16 09:43] #1908 closed, assigned to nobody

[2016-05-16 09:44] abhijitkane commented on #1923
@willrichboa Can you confirm this fixed in the latest version of the app (4.2.1)?

[2016-05-16 09:44] Loobs40 commented on #2042
4.2.0
win / x86-64
Chrome 50.0.2661.102

From: Abhijit Kane [mailto:notifications@github.com]
Sent: 16 May 2016 10:35
To: postmanlabs/postman-app-support postman-app-support@noreply.github.com
Cc: Goddard, Lucy Lucy.Goddard@sky.uk; Mention mention@noreply.github.com
Subject: Re: [postmanlabs/postman-app-support] Team collection not synchronising? (#2042)

What version are you currently on? The ver

[2016-05-16 09:44] abhijitkane commented on #2042
That should have all the fixes too. Are you still seeing the issue after logging out and logging in?

[2016-05-16 09:45] Loobs40 commented on #2042
We’ll check today as we use it

From: Abhijit Kane [mailto:notifications@github.com]
Sent: 16 May 2016 10:45
To: postmanlabs/postman-app-support postman-app-support@noreply.github.com
Cc: Goddard, Lucy Lucy.Goddard@sky.uk; Mention mention@noreply.github.com
Subject: Re: [postmanlabs/postman-app-support] Team collection not synchronising? (#2042)

That should have all the fixes too. Are you still s

[2016-05-16 09:46] abhijitkane commented on #2048
@wcandillon Can you confirm this fixed in the latest version of the app (4.2.1)?

[2016-05-16 09:49] wcandillon commented on #2048
@abhijitkane I cannot get 4.2.1 yet: "You are up to date! Postman v4.2.0 is the latest version."

[2016-05-16 09:51] abhijitkane commented on #2048
@wcandillon Ah - that's the Mac app. 4.2.0 should have the fix too.

[2016-05-16 09:52] wcandillon commented on #2048
doesn't work on my side, I see a triple slash

On Mon, May 16, 2016 at 11:51 AM, Abhijit Kane notifications@github.com
wrote:

[2016-05-16 13:50] TheIcemanCometh commented on #1995
It is working as I would expect.  Awesome, and thank you !!

[2016-05-16 13:50] #1995 closed, assigned to abhijitkane

[2016-05-16 14:13] hanyghazal opened #2067 "in the last version of postman, the globals variables not saved and shown in the globals variables screen when run script from collection runner"
in the last version of postman, the globals variables not saved and shown in the globals variables screen when run script from collection runner, but when run request by request in postman itself it is created and can see it in the globals screen, please this issue effect my tests and my time, can this issue solve as soon as possible because I'm pending
1. Postman Version: 4.2.1
2. App (Chrome app

[2016-05-16 14:40] acelot commented on #2065
@abhijitkane Thanks! Problem solved.

[2016-05-16 14:40] #2065 closed, assigned to abhijitkane

[2016-05-16 14:48] davvves commented on #802
@abhijitkane Confirmed, just tested.

[2016-05-16 15:07] psaswat commented on #2067
I am also facing a similar issue. I have my tests in various folders and the global variables seem to work for the folder .  Was a change made to the scope of the global variables? Also as mentioned by @hanyghazal  the UI for global variables is  not getting updated with the values. Any pointers would be helpful. Thanks!

[2016-05-16 15:22] #802 closed

[2016-05-16 16:07] open-mdm commented on #2067
I got this response from Postman regarding the same issue:

"We made this change in the latest release, with the aim of preventing side-effects from a run. Selecting a collection+environment, and clicking start run should have the same result each time."

I don't know what exactly they mean by this. I assume someone at Postman has the  notion that environment variables should have the same value a

[2016-05-16 17:22] a85 commented on #2067
@open-mdm If you persist environment variables then you can't run the suite again with the same values. Which is why every test suite system has a setUp and teardown function. Your collections need to be shared in their entirety and run in the exact same order by every single person and will break for someone else who does not run it in the same order.

Considering that now Postman has made this m

[2016-05-16 17:51] open-mdm commented on #2067
If there are env variables that must stay static  for everyone on our team, then we create our own conventions (e.g. naming with "_<name>" -- we haven't had to do that however).

But we MUST have variables that can be used as intermediate values between collections as they are run in sequence -- these values will be different  from person to person -- and it is understood by the team these are tre

[2016-05-16 17:54] a85 commented on #2067
It's wrong for several reasons which I won't communicate here. Data persistence and global state are known evils and entire books have been written about it - check anything written on Javascript. The problem that I pointed out in my previous comment are severe and you are going to run into them when you try to automate this. Most Postman users avoid this and which is the whole reason for having C

[2016-05-16 17:58] open-mdm commented on #2067
And the bigger mistake to just take it out without warning.  You have a real product now and customers don't appreciate being treated like they don't matter.

[2016-05-16 18:00] a85 commented on #2067
Yeah. Sorry about that. This will be back in a future version and you can go back to the older way.

[2016-05-16 18:20] open-mdm commented on #2067
Np... good to hear. I too do not want to get into a comp sci philosophical debate but if we want to potentially shoot ourselves in the foot, then that is our prerogative.

Great product btw :^)

[2016-05-16 18:28] a85 commented on #2067
Oh people have blown their heads off and then blamed us. We are not perfect. We make mistakes - which is why this issue tracker exists.

Thanks for being patient.

[2016-05-16 18:45] psaswat commented on #2067
I went through the comments above. I guess my question is what is the scope of global variables?  Just a description of our test setup . We have similar tests grouped in folders . The earlier tests in the workflow set some global variables which are used by the tests in the next or subsequent folders. After the last update here is the issue which we are seeing . The tests in the same folder where

[2016-05-16 18:52] a85 commented on #2067
@psaswat They have global scope. Should work across folders. Is this inside the Collection Runner?

[2016-05-16 19:00] psaswat commented on #2067
Yes .

[2016-05-16 19:02] abhijitkane commented on #2067
@psaswat Are you selecting individual folders to run in the runner? Or are you selecting the whole collection?

[2016-05-16 19:05] lasselehtinen commented on #1910
@abhijitkane Fix confirmed on my end. XML looks good as it can get.

[2016-05-16 19:06] #1910 closed, assigned to abhijitkane

[2016-05-16 19:09] psaswat commented on #2067
Tried both. Earlier, it used to work for both single folder and entire collection .  Outside the collection runner it seems like its working the way it used to before .

[2016-05-16 19:14] abhijitkane commented on #2067
@psaswat Can you import this collection - https://www.getpostman.com/collections/b5798ce48bc636a82dd7, and run it _only_ in the runner?
The request in the first folder sets a global variable which is used by the request in the second folder. Both tests should pass.
<img width="805" alt="screen shot 2016-05-17 at 00 44 29" src="https://cloud.githubusercontent.com/assets/681190/15300876/89e76986-1bc

[2016-05-16 19:40] psaswat commented on #2067
The entire collection works. I ran our tests too and for the entire collection, they are working . But if I run the folders one at a time they fail.

[2016-05-16 20:35] bruno-lopes commented on #1434
Very interesting. Waiting for it.

[2016-05-16 21:01] bruno-lopes commented on #697
@abhijitkane, I tried what you said, but it didn't work. My case is exactly what @stramel said. I tried in Runner, and in Postman, in test and in pre-request script sections. Could you please help me?

[2016-05-17 02:39] stramel commented on #697
@bruno-lopes @abhijitkane  Wasn't able to accomplish it either.

[2016-05-17 09:57] thirtified commented on #1899
Seems to be working, thanks!

(Tested on 4.2.0 on Mac)

[2016-05-17 09:58] #1899 closed, assigned to nobody

[2016-05-17 12:28] Wuaner opened #2068 "HTTP Redirect is not supported?"
I am using the latest Postman for Chrome.

When I send a PUT request to a URI that update specific resource and return a redirect URL, the response that I got was always

rather than the redirected page that I expected.

Is I do something wrong, or HTTP Redirect is not supported by Postman?

Thanks for this awesome tool.
Bests.

[2016-05-17 14:17] bruno-lopes commented on #1966
I think the original request (Running multiple collections in CollectionRunner) is very valuable. @a85, are there any plans to implement this feature?

[2016-05-17 15:26] abhijitkane commented on #2068
@Wuaner

[code]

Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/319

[2016-05-17 15:26] #2068 closed, assigned to nobody

[2016-05-17 15:44] Wuaner commented on #2068
Hi, @abhijitkane,

Thanks for prompt response.

I already install Interceptor you mentioned.
After I disable "Automatically follow redirects" on Settings, the page that I redirected to was not show up, But HTTP code became `302 Found`(although `Request method 'PUT' not supported` is still show up on my server log).
Is this the right behavior?

Bests.

[2016-05-17 16:24] ghost opened #2069 "Import collection from json changes GUIDs"
Using Postman 4.2.1 on Chrome App

If you download a collection to json, then import that collection, postman recognizes that it's the same collection and prompts you to overwrite or create a new collection. If you overwrite and then export again, all of the guids are changed. GUIDs should not be changed when importing, especially when overwriting a collection with the same GUID.

[2016-05-17 18:47] #1874 closed, assigned to nobody

[2016-05-18 02:31] romnycristopher commented on #2015
@abhijitkane the problem is solved! Thanks for the fix!

[2016-05-18 02:31] #2015 closed, assigned to nobody

[2016-05-18 02:56] wshm7366298 opened #2070 "run "pmproxy" throw an error"
Please include the following:
1. Postman Version: 4.2.1
2. App (Chrome app or Mac app): Chrome app
3. OS details: win 10
4. Is the Interceptor on and enabled in the app: yes
5. Did you encounter this recently, or has this bug always been there: yes
6. Expected behaviour:
7. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View-

[2016-05-18 05:31] BlueInt32 opened #2071 "Feature request : Postman cloud modification history"
Team work on postman cloud is great until we need to rollback or just check a mistaken modification made by one of the team member.
Currently it is possible to version control the collection json files with git for example but it's kind of redundant and we constantly need to import/export collections.
What about having a collection modification history on the cloud, so that we can track who modifi

[2016-05-18 06:09] sobtiankit commented on #2071
@BlueInt32 very valid points and this is something we are actively working on. On the website, we already have an Activity Feed (https://twitter.com/postmanclient/status/732283654173495296) that lets users who modified what when. This will make it's way into the app in the next release.

That said, what we also have in the works is Revision History, where you'll be able to view/rollback in time to

[2016-05-18 06:36] hirenrojasara opened #2072 "Can not search with CAPITAL letter in collection search."
I am having one request with TITLE " Authorization POST".

When i am searching with POST, it does not showing any requests in search results.
But when i type post, it is showing results.

Althought i try to find search  with 'a', which mostly included in all requests, it gives results.
But when i search with capital 'A', it does not showing any results.

Please include the following:

Chrome 49.0.

[2016-05-18 07:57] SamvelRaja commented on #1888
@coolidm  Can you check the same from your end.. This had been fixed in the latest version

[2016-05-18 08:57] filipw commented on #710
FWIW, the HTTP specification explicitly mentions this behavior as **wrong** (RFC2616, 10.3.2)

[code]

[2016-05-18 09:39] abhijitkane commented on #2072
@hirenrojasara Right. We've fixed this in our internal build, and will be pushing the fix in the next release.

[2016-05-18 09:39] abhijitkane commented on #2069
@bpeikes-tl The issue here is that the IDs are not stripped while exporting. The GUIDs only make sense inside the Postman ecosystem.

We'll soon be supporting a new collection format that doesn't include IDs when exporting.

[2016-05-18 09:41] icyrizard commented on #884
I sometimes encounter the same issue. Something that worked for me was quickly uninstalling and installing Postman Interceptor.
Working on Mac OS X El Captian 10.11.1,
Postman Version: 4.2.1
Postman Interceptor Version: 0.2.18
Chrome Version: 50.0.2661.102 (64-bit)

[2016-05-18 09:53] whiteboxcode commented on #1475
- 1 on this for me too.  Would be a great feature.

[2016-05-18 11:06] dlucian commented on #362
Not working. Turned on Interceptor, found the request in Postman's History. Replayed it. Got '401 Unauthorized back'. Have been going at it for 2 hours now. Good bye Postman.

[2016-05-18 12:36] voxon2 commented on #1257
+1

[2016-05-18 14:22] willsthompson commented on #814
Huh? `multipart/mixed` and `multipart/form-data` are not the same, and Postman defaults to the latter with no apparent way to toggle to `mixed`. If it's possible, please explain how to do it; otherwise, I think you should reopen this ticket.

[2016-05-18 14:27] willsthompson commented on #814
FYI, if you give curl form data via `-F` _and_ specify mixed in the header with `-H "Content-Type: multipart/mixed"`, it will still add the boundary identifiers automatically, but it will also overwrite the content type to be mixed. Postman ideally would just emulate that behavior.

[2016-05-18 15:48] thibaultmeyer commented on #930
Hi,

What's up about Opera or browser agnostic versions ?

[2016-05-18 17:48] ruisilva450 commented on #930
Any state change on this?

[2016-05-18 18:32] borbamartin commented on #1678
👍 +1 on this one! Really helpful for me!

[2016-05-18 18:40] pabloz commented on #1678
:+1:

[2016-05-18 18:40] diegueus9 commented on #1678
:+1:

[2016-05-18 18:53] fclarat commented on #1678
:+1:

[2016-05-18 18:55] borbamartin commented on #1678
Lots of support on this one @abhijitkane & @a85 !
Do you think it will be possible to include this one on the next update? :)

[2016-05-18 20:58] vkelman opened #2073 "Cannot complete Postman installation"
Please include the following:
1. Postman Version: 4.2.1.
2. App (Chrome app or Mac app): Chrome
3. OS details: Windows 7 64 bit
4. Is the Interceptor on and enabled in the app: n/a
5. Did you encounter this recently, or has this bug always been there:  always

I cannot install Postman. Chrome asks me to allow installation then displays "Checking" indefinitely.

[2016-05-18 20:59] abhijitkane commented on #2073
@vkelman Can you attach a screenshot? Also, can you try installing the staging version - https://chrome.google.com/webstore/detail/postman-rest-client-packa/mgicbpdmnpnfckafakeoiomkjcplfcld, and check if that works?

[2016-05-19 02:49] cpoblete commented on #2020
As of now, the latest version is accepting just "Enter". This is awesome. Thanks!

[2016-05-19 04:26] chiragpurohit71085 commented on #1011
Hi

I am facing account synching issue. Event I tried login/logout but some of the apis are not synching at all.

Regards,