[2019-12-31 09:40] kartikjain26 commented on #7682
@elssar  This is out in production.

[2019-12-31 10:12] KacperDrapala commented on #492
Any update?

[2019-12-31 10:26] mensoh commented on #3466
I enjoy using Postman quite a bit, but like the others here the amount of time spent on double checking if my changes across 25 open tabs have been saved is becoming really quite painful 😢
Is there any reason this hasn't happened yet?

[2019-12-31 11:17] cbreddy11 commented on #1066
+1

[2019-12-31 12:37] dcalliste opened #7859 "Tables are not displayed correctly in Postman documentation"
**Describe the bug**
Since a few weeks tables in documentation done with Postman are not displayed correctly:
- Button to see table in fullscreen is missing
- Full table is displayed by default instead of a preview for big tables
- Tables in folder description overlap the right panel in documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman
2. Create new collection
3. Cr

[2019-12-31 12:39] thealiraza commented on #6707
I am also facing the same issue and could not find postman folder in local app data
![hgh](https://user-images.githubusercontent.com/37246697/71621938-608ba300-2bf4-11ea-9f0e-d1a195578e27.PNG)

[2019-12-31 13:20] bigbigmo commented on #4296
I have the same issue. It's a terrible situation...

[2019-12-31 16:55] thealiraza commented on #6707
I have found a solution.
1. Install 7zip software.
2. Extract Postman.exe.
3. There will be a folder with unpkg extension. Extract that as well with 7zip.
4. Open the extracted folder, goto lib folder and then net45 folder. You will find Postman app there.

[2019-12-31 21:22] iDiogenes commented on #6614
What @andrewshawcare is proposing is the real win. The schema as defined in the APIs tab should be directly accessible in the postman tests to ensure the schema is being followed. Once the schema has to be defined in multiple places maintenance becomes a real problem.

[2020-01-01 02:05] Hansanshi opened #7860 "PathVariable not support Chinese"
The version of postman is Postman for Mac Version 7.14.0.
It will remind me with sentence like "Could not get any response There was an error connecting to "，while I can open url correctly on Firefox or Chrome, or just remove Chinese.

[2020-01-01 03:21] sankalp0o commented on #7661
Thanks @VicKetchup for the detailed explanation! I agree that this can get quite messy. We do not have plans to add manual sorting capabilities right now but I'll keep this in mind and see if this can be solved by something else on our roadmap. Until then, I can leave you with some suggestions to manage this.

- We've seen some people work exclusively in personal workspaces. Therefore, in any spri

[2020-01-01 03:27] sankalp0o commented on #6445
Thanks @nagarjun! I get why this can be a problem. We have plans on allowing sharing of history requests in this year, I'll keep you updated when that gets picked up.

[2020-01-01 03:49] mrz1836 commented on #7859
Unless I'm doing something wrong...

Centering a table is not working as well:

[code]

The middle column should be centered, yet it's still left aligned.

[2020-01-01 03:51] mrz1836 commented on #6779
Would be nice! Just noticed all my tables with center align are not showing... :-(

[2020-01-01 03:51] mrz1836 commented on #6779
[code]

The middle column should be centered, yet it's still left aligned.

[2020-01-01 15:42] alainbelez commented on #7852
i'm also unable to launch snap version 7.13.0 on ubuntu 18.04. i forgot which version i was using before, but it was running fine before.

[2020-01-01 16:03] mukulsharma9118 commented on #7852
Same with me i was able to launch the app via /snap/postman/97/usr/share/Postman/Postman

[2020-01-01 16:07] levyblue commented on #3641
It would be great o see this added. Its been 2 years since the suggestion. Hopefully, it will be added at some point....

[2020-01-01 16:07] mukulsharma9118 commented on #7852
There was no error message, Terminal waits for some second and then nothing happens,
I moved to the flatpak version and hence closing this issue

[2020-01-01 16:07] #7852 closed, assigned to ankurdengla

[2020-01-02 04:53] specialtactics commented on #7851
Same here, I tried using both incognito and a different browser, same outcome.

[2020-01-02 07:18] #7309 closed, assigned to abhijitkane

[2020-01-02 07:45] sankalp0o commented on #6614
Thanks for the feedback everyone! We are currently working on validating sent (history) requests as well as collections against the schema defined in the API tab. I'll update this thread when we have it out in production.

For us to design this better, what are the kind of issues you are looking to find from a validation like this? This will inform us on what to prioritise.

[2020-01-02 08:08] ArjunSingh-PM commented on #7851
@pazfelipe Thank you for reporting this issue. We have identified the root cause for the same and are working to resolve it.

[2020-01-02 08:12] shreys7 commented on #7633
Hey, @conradpronto In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'New Code Generation Mode' flag enabled in Postman's global settings.

This particular problem has been solved in the new codegen mode.
![Screenshot 2020-01-02 at 1 40 19 PM](https://user-images.gith

[2020-01-02 08:21] shreys7 commented on #7559
Hey, @software-opal In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'New Code Generation Mode' flag enabled in Postman's global settings
This particular bug is fixed in new code generation mode. Here I have selected the body mode as GraphQL.
![Screenshot 2020-01-02

[2020-01-02 08:28] Raja-Simha commented on #7859
@dcalliste we are investigating this issue.

[2020-01-02 08:31] distologyProgrammer commented on #7741
That seemed to work thank you.

[2020-01-02 08:31] #7741 closed, assigned to nobody

[2020-01-02 09:32] meetSuraj commented on #7851
@specialtactics Can you provide us exact error message that you are getting, is it `You did not fetched handover early enough` or `You cannot fetch handover more than once` error.

Can you provide us the exact step you took for logging in?

[2020-01-02 09:54] shreys7 commented on #7250
Hey @abhijitkane In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'New Code Generation Mode' flag enabled in Postman's global settings.
This bug has been fixed with new code generation mode.
![Screenshot 2020-01-02 at 1 40 19 PM](https://user-images.githubusercontent

[2020-01-02 09:55] apurvaj1204 opened #7861 "Stuck in infinite loop while starting Postman app on Windows 10 Pro"
**Describe the bug**
The Postman application runs into infinite loop while starting it up from Windows 10 Pro. It gives a message for preparing the workspaces. Please see the attached image for your reference.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Postman desktop application
2. Run the downloaded exe file.

**Actual behavior**
The postman runs into infinite loop.
**Expecte

[2020-01-02 09:56] shreys7 commented on #7675
Hey, @tomjoht The list is present there but it has become x-scrollable. You need to scroll on the x-axis to get the nested list for the javascript snippets.
We are working on fixing this. Meanwhile, an alternative solution can be to switch the App to full-screen mode, and then the nested list would be displayed on hovering.

[2020-01-02 10:03] VicKetchup commented on #6614
@sankalp0o Hopefully this will help with the design, we use https://www.jsonschemavalidator.net/ even after using tv4.validateMultiple results, as it is missing a crucial bit of information - path at which validation has failed.

[2020-01-02 10:05] #7250 closed, assigned to nobody

[2020-01-02 10:27] cyrielle-hada commented on #7861
@apurvaj1204 We recommend clearing your local data. You can find the full instructions in [this article](https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-).

Closing in favor of https://github.com/postmanlabs/postman-app-support/issues/7746

[2020-01-02 10:27] #7861 closed, assigned to nobody

[2020-01-02 11:43] JonnyBooker commented on #5480
@tparikka @sghoshpods Did you manage to get any further with this? Having the same issue myself

[2020-01-02 11:52] mennodehaas commented on #6614
I am using [Stoplight Studio](https://stoplight.io/studio/) to create the OAS and JSON models as writing the OAS by hand is cumbersome and error prone.

[2020-01-02 12:06] shreys7 commented on #3213
Hey @neilghosh In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'New Code Generation Mode' flag enabled in Postman's global settings
This particular bug is fixed in the new code generation mode. It supports file upload via multipart/form-data.
![Screenshot 2020-01-02

[2020-01-02 12:08] shreys7 commented on #2469
In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the 'New Code Generation Mode' flag enabled in Postman's global settings
This particular bug is fixed in the new code generation mode. It supports file upload via multipart/form-data.
![Screenshot 2020-01-02 at 5 33 47 PM]

[2020-01-02 12:11] shreys7 commented on #7774
Hey @geoteo, can you try enabling the `New Code Generation Mode` flag in Postman app's global settings and see if you still face this issue? In Postman 7.2.1, we've introduced bug-fixes, support for two new languages (JS-Fetch and Powershell), and the ability to configure certain aspects of the generated snippet with the `New Code Generation Mode` flag enabled in Postman's global settings.

[2020-01-02 12:32] ankurdengla1996 commented on #6707
@thealiraza From the screenshot it seems that you are in `SquirrelTemp` directory. Could you try typing `%LOCALAPPDATA%\Postman` in the explorer and check if there is the `SquirrelSetup.log` file. Alternatively you can try going to the path `C:\Users\{username}\AppData\Local\Postman`.

![Postman](https://user-images.githubusercontent.com/26045713/71667172-e7be4f80-2d89-11ea-83b5-be8172539671.gif)

[2020-01-02 12:43] #7843 closed, assigned to nobody

[2020-01-02 12:44] dkim5150 commented on #7843
Just got a notification about an update today, so I updated, and now I'm on version 7.14.0. Not sure how my app stayed behind so many updates, but the issue doesn't seem to be an issue now that I'm up to date.

[2020-01-02 14:21] developer-keev opened #7862 "POSTMAN unusual behavior: Got a response from the browser but not from postman"
**Got a response from the browser but not from postman**

The DELETE API created using Django rest framework and return response code 204

**Browser Screenshot:**
![Screenshot from 2020-01-02 19-43-13](https://user-images.githubusercontent.com/56814613/71671167-47235c00-2d98-11ea-8f76-0023d133b76a.png)
![Screenshot from 2020-01-02 19-43-32](https://user-images.githubusercontent.com/56814613/716711

[2020-01-02 14:39] dmku commented on #1744
+1

[2020-01-02 14:54] pdebuitlear commented on #6682
+1

[2020-01-02 16:19] sankalp0o commented on #7858
Hey @ankit-m can you provide us more info as we are unable to reproduce this. Maybe a screenshot of what you're seeing on the screen.

[2020-01-02 19:12] tparikka commented on #5480
I was able to connect to one of my WCF driven SOAP endpoints using the JS pre-script provided by another user in #2762 but only for the WCF service that requests the credentials to be sent in the SOAP request body, see that issue for details. There is a differently configured SOAP endpoint that I cannot connect to because it requires three different request/responses:

- Connect to endpoint, provi

[2020-01-02 19:17] vlad88sv commented on #7851
I'm getting the same on Ubuntu 9.10, Postman 7.13.0

Tried incognito tab, etc.

[2020-01-02 20:00] recordstuff commented on #6525
My collection has 193 requests.  Ran it fine on this same postman version just a few days ago.  Now it crashes every time on the same request maybe 10 requests in. 7.14.0

[2020-01-02 23:14] ashscool opened #7863 "[Feature] Enhance postman dynamic variables to include randomFoodName"
**Description**
From the documentation for postman sandbox reference, I don't see any option to provide random food name(https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/). Kindly enhance postman dynamic variables to include randomFoodName

**Expected behavior**
Need a way to use postman dynamic variables to insert random food names (random food image is already a

[2020-01-03 02:51] specialtactics commented on #7851
@meetSuraj

1. Start postman app (linux, fedora)
1. Log in option
1. Sign in using google
1. Launches a link which looks like this `https://identity.getpostman.com/client-auth/start?auth_challenge=XXXXXXetc` in my browser (chrome, but I also tried firefox, and private windows for both as I said)
1. Error: **You cannot fetch handover more than once.**
1. Then I try and click the link from postman,

[2020-01-03 03:16] meetSuraj commented on #7851
@specialtactics So for the first time when the link opened up in your browser as soon as you click on `Sign in with Google`, What error does it throw then? When you say you tried in other browsers, did you mean you copied the link and pasted it in another browser and incognito window to try?

[2020-01-03 03:18] specialtactics commented on #7851
@meetSuraj The first time it shows **You cannot fetch handover more than once.**

Yes, correct.

[2020-01-03 03:20] meetSuraj commented on #7851
@specialtactics Meanwhile you can follow the step @vlad88sv took, you can reset your password and login normally without google.

1. Go to identity.getpostman.com
2. Click trouble signing in
3. Enter your email
4. On your mail password reset link will come
5. Click it and set your password
6. Login without google using that password

[2020-01-03 03:34] specialtactics commented on #7851
Thanks @meetSuraj that worked, I can access postman gain without google auth.

[2020-01-03 03:39] conradpronto commented on #7633
That sounds great.  How to update to 7.2.1?  Current response when trying to do so:  You are up to date! Postman v7.14.0 is the latest version

From: Shrey Shah <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Thursday, January 2, 2020 at 03:12
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: Pronto <conrad.caplin@p

[2020-01-03 04:34] zarub2k opened #7864 "404 error"
https://www.getpostman.com/resources/infographics/galaxy-tour-2020/

I tried to fill some information for requesting the tour to my city. But I am getting 404 error.

[2020-01-03 05:22] Raj-postman commented on #7864
@zarub2k Thank you for bringing this to our attention. It looks like the link for the page under resources is no longer available. Can you try to fill out the information from the link below and let us know if that helps.

- https://www.getpostman.com/galaxy-tour-2020

[2020-01-03 07:55] meetSuraj commented on #7851
@vlad88sv Were you also facing the `You cannot fetch handover more than once` initially, as soon as the browser opened when you clicked on `Sign in with Google`? Are you able to reproduce it?

[2020-01-03 08:32] ash007-postman commented on #7805
@preethammavin
**User**
The whole issue is…
User A generates an API key
That API key is used to connect to the collection in our build pipeline and run the ‘integration tests’ created in that postman collection
Build pipeline runs, integration tests throw an error
User B notices an issue with the code in those test, and he makes an update to the script in the postman collection
The build pipeline

[2020-01-03 08:57] oktay89 opened #7865 "Collection runner hanging with 5000+ iterations"
**Describe the bug**
Collection runner hangs (becomes "not responding" tab). Sometimes it crashes completely the POSTMan App.

**To Reproduce**
Steps to reproduce the behavior:
1. Create HTTP request with pre-request script (calculating next hexadecimal value) and test - expecting http response to be a json
2. Pre-request script reads/writes the current hexadecimal in collection variable on every

[2020-01-03 09:49] Ramya-From-Postman opened #7866 "Form-Data file is displayed in code section of API Documentation"
The form-data file in the request is available in the code section of the documentation.  Ideally, the upload file should not be available there as the file that we're uploading in the request is local to our system.

**Steps to reproduce the behavior:**
1. Create a request in a collection using form-data as a body type
2. publish the collection & you will see the file being available in the code

[2020-01-03 09:52] cyrielle-hada opened #7867 "UX improvement for difference between duplicate tab and request"
**Is your feature request related to a problem? Please describe.**

Duplicating a tab works differently from duplicating a request.

**Duplicate a tab**
<img width="383" alt="Screen Shot 2020-01-03 at 10 34 25" src="https://user-images.githubusercontent.com/47351631/71716353-b2ab0f00-2e14-11ea-9a79-35cc4e4be9f4.png">

**Duplicate a request**
<img width="258" alt="Screen Shot 2020-01-03 at 10 34 33

[2020-01-03 10:05] ditrytus commented on #5194
+1

[2020-01-03 11:08] carltondickson commented on #6712
Autocomplete only works in the sense that I have to start typing a value to see it displayed.
Insomnia works by ctrl + space and I see all type properties which is what I would expect personally...unless I'm pressing the wrong key for autocomplete 🤷‍♂

[2020-01-03 12:40] vlad88sv commented on #7851
@meetSuraj yes, I signed out and and retried, same result.

![image](https://user-images.githubusercontent.com/91489/71723880-e6297180-2df3-11ea-9ebe-b373d0c439e2.png)

[2020-01-03 12:44] vlad88sv commented on #7851
Additional info:

- Installed via Snap
- I get these messages on console on start (even if I have xdg-mime available):

[2020-01-03 13:12] luuksommers commented on #7777
Here is also some Microsoft documentation how to handle it in the meantime:

https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

[2020-01-03 13:20] deepaks-idnow commented on #4823
This feature would be really helpful for the companies who have multiple products and would like to show the documentation of these products in one custom URL. Folders is not the right solution as it is a single page and if users want to search specific text in one product's documentation then they end up going to the next product's documentation because of the same collection.

[2020-01-03 13:21] ValeriyDP opened #7868 "Not all dynamic variables are resolved"
**Describe the bug**
Not all dynamic variables are resolved

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any request tab
2. Use any of the variables from the list above
3. See error `Uresolved Variable`

**Expected behavior**
All variables from the list above should be resolved according to this guide https://learning.getpostman.com/docs/postman/variables-and-environments/va

[2020-01-03 13:22] deepaks-idnow commented on #4823
A good example is Postman documentation itself - https://learning.getpostman.com/docs/postman-pro/what-is-pro/
Postman, Postman-Pro, Postman-Enterprise and Postman for Publishers are 4 different products but all of them can be seen in the same tree in the left panel but all of them are different pages. I would like to do the same for our products

[2020-01-03 15:05] remi-blaise opened #7869 "Authorization headers doesn't appear in the generated doc"
Good afternoon!

**Is your feature request related to a problem? Please describe.**
Like [this user](https://stackoverflow.com/questions/50940489/postman-collection-authorization-not-present-in-documentation-headers) on Stackoverflow, I have been surprised to see that Bearer token set in the Authorization tab doesn't appear in the doc. I am then forced not to use the tab and to manually repeat the

[2020-01-03 17:35] rockitseller commented on #4009
+1

[2020-01-03 17:42] haydenhancock commented on #4594
Adding the POSTMAN_DISABLE_GPU=true did not work for me.

OS
- OS Microsoft Windows 10 Pro
- Version 10.0.18362 Build 18362
- Intel(R) Core(TM) i7-5820K CPU @3.30GHz
- 64 GB RAM

GPU
- GeForce GTX 980 Ti
- Driver version 441.66

Postman
- Version 7.14

[2020-01-03 17:51] JonnyBooker commented on #5480
@tparikka Thank you for your response. I will investigate this further when I get the chance.

[2020-01-03 20:17] vlang265 commented on #2833
Just encountered this problem when I added two more monitors. I'm running Windows 10, Postman v7.14.0.

[2020-01-03 20:22] aelesia opened #7870 "Postman rapidly consuming 18GB of RAM despite not being open"
**Describe the bug**
- Postman application was closed 2 days ago. (clicked the X button on Windows)
- Firefox and Webstorm suddenly crashed 3 times in a row
- Each time they crashed, screen went black for 3 seconds
- Opened Task Manager to check. Postman was rapidly consuming RAM despite not being actively open.
- Postman RAM usage went up from 15GB to 17.8GB within 20 seconds.
- Ended the process

[2020-01-03 20:52] paladan-fractal commented on #2934
+1
Please add this! I was looking forward to using the OAuth2 auth feature but also need to provide an audience.

[2020-01-03 21:11] hfsrazzimonti opened #7871 "Downloads greater than 20Mb make Postman just quit"
**Describe the bug**
Calling a filedownload API method POST download the file but if file is more than about 30Mb in size, when done postman just exits. However postman is still in memory and consuming 50% CPU and memory, I have to end task.

**To Reproduce**
Steps to reproduce the behavior:
1. try download a large file from an API, no matter the type of file

**Expected behavior**
Either display

[2020-01-03 21:58] jkewley commented on #3367
I think you guys should reconsider this. Enterprise APIs for LOB applications commonly use Active Directory accounts and OAuth endpoints provided by AAD or ADFS. Your current OAuth 2.0 option for authorization is very opinionated in that it requires a client id / secret approach which is application-centric rather than user-centric. As an example, we have some APIs which only allow users in specif

[2020-01-04 06:44] davidmw opened #7872 "Microsoft Teams Integration Team Activity Feed posts Personal Workspace activity"
**Describe the bug**
Team members working in Personal Workspaces are finding that activity is posted to Teams via this integration. This problem surfaced on or before Dec 26 2019 and wasn't previously occurring with this established connector. I've deleted and recreated the integration - same problem exists. All Personal Workspace activity is posted to the webhook.

**Expected behavior**
Only Team

[2020-01-04 16:20] mef13 commented on #4009
+1

[2020-01-05 05:27] WinterJake commented on #5803
@nikandlv thank you very much for your solution. however, i am unable to use it as i use Windows.
Is there any ETA by which you are planning to release your solution for Windows?
again, thank you!

[2020-01-05 06:31] lubainaz commented on #5803
B

On Sun, 5 Jan 2020 at 06:28, WinterJake <notifications@github.com> wrote:

[2020-01-05 10:44] xrn commented on #7534
@harryi3t I have exactly same issue - using your command Postman is starting.

Debian 10
Postman for Linux
Version 7.13.0
linux 5.4.0-1-amd64 / x64

[2020-01-05 12:25] ShadabFaiz opened #7873 "Postman showing response only after response stream is end"
**BUG**
I'm not sure if this can be called a bug, but it is something. I'm using nodejs with express js. I'm writing the data to the response (just writing and not ending the response). Normally, I would expect to see the responses being added on the postman in real-time but it shows the response only after the response ends. However, if the request is made from the browser, then the response are

[2020-01-05 22:03] jarrydkeir commented on #7010
Using this method presents a 403 error
![image](https://user-images.githubusercontent.com/20943739/71786749-3fe3a300-3063-11ea-8a71-750b3f8c927a.png)

OS: KDE Neon

[2020-01-06 00:14] alexandrendb commented on #6723
Any updates? I am still having the same issue. I've tried Postman and Postman Canary, but it is stuck when I try to log in. And I have to login as I share a collection with my team. So I don't have a choice here. I have to make it work somehow. I would appreciate any help. Thanks

[2020-01-06 02:16] mP1 opened #7874 "Interceptor > chrome plugin settings > site access denies "simple" site urls."
Im trying to use interceptor and postman to capture some local traffic on a internal host called "abc", without any dot com etc.

The interceptor site access section allows three options

- On click
- On specific sites
- On all sites

The dialog wont allow me to enter simply "http://abc", if i add a "<dot> com" i can finish the add process.

![image](https://user-images.githubusercontent.com/72697

[2020-01-06 04:11] meetSuraj commented on #7010
@jarrydkeir Are you behind some proxy in browser? This happens when your browser is behind some proxy, try disabling your extension and see if that works for you.

[2020-01-06 04:16] godfrzero commented on #7010
We're tracking issues related to browser-based login and proxies here: https://github.com/postmanlabs/postman-app-support/issues/7851

[2020-01-06 04:52] coditva commented on #7868
@ValeriyDevPro The list you mentioned is outdated. We're working on updating the list. In the meantime, you can use this list as a reference: https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/#dynamic-variables

Sorry for the confusion!

Ref: https://github.com/postmanlabs/postman-docs/issues/2054
cc @arlemi @kaustavdm

[2020-01-06 04:52] #7868 closed, assigned to nobody

[2020-01-06 04:58] ValeriyDevPro commented on #7868
Ok, but why in the new list there are no variables for zipCode and country?

[2020-01-06 06:15] coditva commented on #7868
We're using `faker.js` library to support our dynamic variables as of now. There were some issues with it only generation zip codes and counties for US. So, we decided to remove them for now.
That being said, we might add more dynamic variables in the future when we are able to find a good solution that works for everyone and not just US.

BTW, you can use `$randomCountry` to generate random count

[2020-01-06 06:23] ValeriyDevPro commented on #7868
Thanks, for the clarification.
I know about faker.js, US specific zips and states are OK for me, that why I thought there is a bug. I believe, in documentation there wold be enough to add a note that some random data is US specific and do not remove this functionality.
But anyway thanks.

Regards.

[2020-01-06 07:08] shreys7 commented on #7360
Hey @bzmw I tried importing the `Public.yaml` file you provided with the following cURL command
[code]
It ran successfully by responding with a 200 code and returning the id of the collection created. Can you try again once to see if it works now?

[2020-01-06 07:09] shreys7 commented on #7360
Hey @phebus Can you provide the file you have been trying to import as well as the exact curl command you ran?

[2020-01-06 07:10] shreys7 commented on #7360
Hey @pdonorio, one thing I noticed is you have provided type as 'json', but you have passed the value as `OPENAPI_JSON_SPECS_STRING` for the input parameter. Can you provide the JSON object itself and not the string to see if it works now?

[2020-01-06 09:35] harryi3t commented on #7870
Related to https://github.com/postmanlabs/postman-app-support/issues/7870 with the difference that here the App was closed.

[2020-01-06 09:43] sroettering commented on #7740
I updated postman to 7.14 and tried to import my schema file again and it still shows the toast message in the bottom right corner that it could not be imported. However, I do not get any console messages anymore, so I can't tell why it failed.
Loading the schema into https://editor.swagger.io/ works fine without any errors. So I guess the file is valid.

[2020-01-06 09:49] abhijitkane commented on #7740
@sroettering Can you attach a file you're seeing this error for? You can also email the file to help@getpostman.com.

[2020-01-06 10:00] coditva commented on #7868
@ValeriyDevPro I see your point. But Postman is used everywhere in the world and keeping some variables just US specific is not the way we would like to move forward. Also, changing the behaviour of variables later would become more difficult too as people would depend on the previous behaviour. I hope you understand. :)

[2020-01-06 10:32] FlackMonkey commented on #7839
Hi! It now ends up with 400 (Request invalid or expired)  on sign in from app using google sign in
Ubuntu 18.04

@preethammavin

[2020-01-06 10:47] Raj-postman opened #7875 "Unable to read text for Longer Request/ Folder names"
**Is your feature request related to a problem? Please describe.**
Currently, when we have a longer Title/Folder name the text gets cut off which makes it difficult for users to read the documentation.

![text](https://user-images.githubusercontent.com/47771757/71811609-278f7a80-309b-11ea-9e8c-f127edccff79.gif)

**Describe the solution you'd like**
Be able to format the title text or scroll throug

[2020-01-06 11:21] numaanashraf commented on #4363
Closing this as we now always update to the latest version.

[2020-01-06 11:21] #4363 closed, assigned to nobody

[2020-01-06 11:26] numaanashraf commented on #5793
@Anakin-Hao We now support 'Delete all' in the Collection Runner window. 😃

[2020-01-06 11:26] #5793 closed, assigned to nobody

[2020-01-06 12:55] ArjunSingh-PM commented on #7010
To resolve this issue the "Sign in with Google" button directs the users to the web browser for signing in.

Also, the app has an option for users to sign-in via the browser directly using the "Try on a web browser" option.

[2020-01-06 12:55] #7010 closed, assigned to elssar, numaanashraf, ArjunSingh-PM

[2020-01-06 13:53] somyata opened #7876 "Not able to integrate Postman PRO with Gitlab"
**Describe the bug**
I am trying to integrate GITLab with Postman PRO by following the instructions given on Learning site - "https://learning.getpostman.com/docs/postman-pro/integrations/gitlab/".

I went until Add integration button. It does not give me any error

**To Reproduce**
Steps to reproduce the behavior:
I am trying to integrate GITLab with Postman PRO by following the instructions give

[2020-01-06 14:31] sroettering commented on #7740
Sent an email with the file. Hope it helps.

[2020-01-06 15:14] Ali4Dev commented on #6723
I am having the same problem. Please I would appreciate your help. Thanks

[2020-01-06 16:21] Scarsrcool10 commented on #285
Really wish they'd make this a feature. Coming from Insomnia to Postman, this is frustrating.

[2020-01-06 16:30] phmiller commented on #1066
+1

[2020-01-06 17:09] Ragnoroct commented on #6967
@a85 Can you tell us where that is being tracked?

[2020-01-06 17:33] pdonorio commented on #7360
Hi @shreys7, thanks for replying.
I did a couple of tests today, with the string `OPENAPI_JSON_SPECS_STRING` as it was and with the equivalent JSON with no luck.

Then I did a new debug of the whole workflow step by step
and found out that for POST calls with python library `requests`
sometimes need to dump the JSON payload.

This one did the trick and finally, the collection is created from the i

[2020-01-06 17:40] jstutson commented on #7010
Getting the exact same issue as @jarrydkeir

I'm not sure what you mean by "try disabling any extension of your related to this"

I haven't done anything explicitly to setup a proxy.  I'm VPN'd onto my office machine from home.  The office machine will be using whatever our default proxy is if there is one.

Is there any way to sign in with google without using the browser?

[2020-01-06 18:13] joegr commented on #5681
I fixed the issue by rm -rf the following Windows directories:

rm -rf C:\Users\<user>\AppData\Local\Postman
rm -rf C:\Users\<user>\AppData\Roaming\Postman
Using the same latest x64 download which was causing the error, I double clicked to run and it finally worked.

This one and giving access to %LocalAppData% worked for me. Thanks

This solution doesn't seem to work on PC, as rm is a unix comman

[2020-01-06 18:16] payneWeave commented on #7010
I am getting the same issue as @jarrydkeir as well. I turned off my work's vpn and have the same issue. I don't have any other proxies set up. I can sign into getpostman.com but if I try to do the oauth flow for the app I get the 403 error. I am unable to use the postman app at the moment.

[2020-01-06 18:21] bytestream commented on #5681
@joegr I ran it in Git console (bash), but convert it to the Windows commands and it should do the same thing. Think it's just `rmdir` on Windows.

[2020-01-06 18:58] joegr commented on #5681
I am unable to remove the directory because it thinks the app is in use, but cannot find the process running anywhere on my machine. :/

[2020-01-06 19:13] gtxistxgao commented on #7569
Thanks! Works for me. I clicked "Try on a web browser", which is Chrome and which has already login with my Google account. Without any further typing, the pops out windows shows I am logged in.

[2020-01-06 19:13] seandcoleman commented on #7764
I talked with a co-worker who had a similar issue and they found that a postman app cookie was being added when they removed it the issue went away.  I too was getting that cookie added but the issue remains when I remove the cookie.

[2020-01-06 19:42] bytestream commented on #5681
@joegr reboot and try again or search for some "delete on reboot" software

[2020-01-06 21:06] roshansukur opened #7877 "Postman crashes when a run collection is interrupted by STOP"
Postman crashes when a RUN collection is interrupted by STOP

**Initial Setup**
1. Create a collection (e.g: abc)
2. Add 2 folders to the collection. ( Folder 1 & Folder 2)
3. Add 5 api's to each folder in the collection.

**Steps to reproduce the behavior**
1. Go to collection abc
2. select option RUN
3. In the Collection Runner, provide Iteration count as 15
4. Select data file as "text/csv" opt

[2020-01-06 23:06] locofocos commented on #4968
I'd really like this too. My company is moving towards using more environments (dev, staging, on-prem prod, AWS east, AWS west, etc), and I'm getting involved in multiple projects, so I'm looking at more like 10x5 environments to really use postman everywhere I need to. My environments list is getting unwieldy, and it's annoying to realize "oh, I don't have an environment for service X in environm

[2020-01-06 23:38] dev6james commented on #6333
Postman needs this feature. It's a no-brainer.

[2020-01-07 01:02] softboy99 commented on #2801
+1

[2020-01-07 04:07] bezugla opened #7878 "Content-Type header override not working when used with multipart/form-data file upload"
**Describe the bug**
Content-Type header override not working when used with multipart/form-data file upload

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request with file upload
2. Choose any file
3. Select header "Content-Type: blah"
4. Send request

**Expected behavior**
Postman sends a request with "Content-Type: blah"

**What I see**
Postman sends request with correct (

[2020-01-07 06:44] sankalp0o commented on #7783
@CookieMonitor This has been fixed in the latest Postman app. I'm closing this issue but please feel free to reopen it if you can't get it to work.

[2020-01-07 06:44] #7783 closed, assigned to sankalp0o

[2020-01-07 06:48] meetSuraj commented on #7010
@payneWeave @jstutson To normally login without google, you can follow these steps.

Go to identity.getpostman.com
Click trouble signing in
Enter your email
On your mail password reset link will come
Click it and set your password
Login without google using that password

This error is caused when IP address of your browser is different from that of your app. If you are using some VPN extension in

[2020-01-07 06:54] meetSuraj commented on #7851
@vlad88sv Can you disable all your extensions in browser and try again, I suspect some extension is reloading the page, which causes this error.

[2020-01-07 07:20] #7672 closed, assigned to nobody

[2020-01-07 07:32] ShajilJohn opened #7879 "Postman runner crashes on requests >10k"
**Describe the bug**
we are running postman runner for 10K iterations, but the requests fail after some 60% execution. The postman collection has some 4 requests and time delay set set to 100ms.

[renderer-shared.log](https://github.com/postmanlabs/postman-app-support/files/4029369/renderer-shared.log)

[2020-01-07 08:27] kiwkiwrobotz commented on #3822
+1234567890

Bump Bump

[2020-01-07 08:56] sankalp0o commented on #6669
We've fixed the copy in the tooltip as well as solved the original issue. I'm closing this issue but feel free to reopen this if you face more problems.

We're also making improvements to the Workspace activity feed which will now show events for collection deletions, as well as who deleted them, this should be out this month!

[2020-01-07 08:56] #6669 closed, assigned to vkaegis, ankitjaggi

[2020-01-07 09:02] YogiReddyY opened #7880 "How to acehive test automation for login end point"
Scenario : Trying to test login end point.  First time when user trying to logging in, which results login html. How do we provide the user credential and submit login form.

[2020-01-07 09:13] #4852 closed, assigned to vikiCoder

[2020-01-07 11:57] Morons opened #7881 "Postman does not start in Ubuntu 19.04"
Installed postman with 'snap install postman'
Once installed I try and start it from the " Start Application"  screen by clicking on the Icon
no syslog entries when I start

my syslog reported! 'cat /var/log/syslog |grep postman'
`Jan  7 12:58:48 vostro snapd[1169]: api.go:952: Installing snap "postman" revision unset
Jan  7 12:58:56 vostro systemd[1]: Mounting Mount unit for postman, revision 97.

[2020-01-07 13:58] IanKemp commented on #4845
`Later` = "never going to be worked on" apparently.

[2020-01-07 13:58] nikita-fuchs commented on #3822
Holy crap, we should crowdfund this or something ?

Am Di., 7. Jan. 2020 um 09:27 Uhr schrieb Adi Kurnia <
notifications@github.com>:

[2020-01-07 14:06] bzmw commented on #7360
Hey there. We can close this.
I ended up deciding to convert my file locally to postman spec and then upload the postman collection through the API instead.

[2020-01-07 14:06] #7360 closed, assigned to nobody

[2020-01-07 14:48] vlad88sv commented on #7851
Oh! I think I've found the issue.

On Kubuntu, when postman tries to open the Gmail's SSO URL it calls kio-slave, it prefetches the URL to open the appropriate app based on the output.

So, when kio-slave founds it's HTMl it opens the browser, but the link is already invalid.

[2020-01-07 14:59] mickeysden commented on #7607
Any update on this? I am facing the same issue

[2020-01-07 16:54] vdespa commented on #6614
@VicKetchup consider using the ajv validator. tv4 is really not very good.

[2020-01-07 17:29] VicKetchup commented on #6614
Didn't realise this was added! Thanks for pointing this out :)

[2020-01-07 17:30] hugoblanc commented on #6015
Recently moved from windows to ubuntu and it seems even worse on linux ... Also seriously considering moving to other alternatives ...

[2020-01-07 17:49] gpmind commented on #7585
I don't see why this bug was closed, it's still very prominent that the signature method just produces the wrong string.

`AWS4-HMAC-SHA256 Credential=AKIAS2YWPRSVJGP2SBNC
/20200107/ca-central-1/sqs/aws4_request, SignedHeaders=;content-type;host;x-amz-content-sha256;x-amz-date, Signature=170d242d349eb5a7e52c451c48d62638e344c5d3aae89a09fd5b4187f81db723`

There's a newline at the wrong place and Pos

[2020-01-07 17:58] gpmind opened #7882 "AWS Signature is Invalid"
**AWS Signature Authorization Headers are invalid**
When generating Authorization headers with AWS Signature, the signature generated is invalid and Postman doesn't even perform the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the Authorization tab under a request
2. Select AWS Signature
3. Enter AccessKey and SecretKey
4. Click Preview Request
5. Click Send
6. Postman doe

[2020-01-07 18:12] gpmind commented on #7882
There's a newline character after the AccessKey in the Credential header, when removing it, Postman sends the request fine, but AWS still answers with an invalid signature error.

[2020-01-07 20:45] javedmshah commented on #373
and still active on v7.14.0

[2020-01-07 21:43] jarrydkeir commented on #7010
Yes - I am behind a proxy, unable to turn it off though.

I will give this a try as well.

[2020-01-07 22:15] princeneil commented on #4296
Still an issue. Very important for resolving test issues

[2020-01-07 23:44] loopDelicious opened #7883 "Access collection run results more easily"
If there's a collection selected in the collection runner, it's unclear in the current runner window how to view historical collection run results, or even that the results are something that I can view in aggregate.

<img width="1392" alt="Screen Shot 2020-01-07 at 3 36 23 PM" src="https://user-images.githubusercontent.com/17693714/71938233-9f28dc80-3163-11ea-9efc-44d2808041a3.png">

To access th

[2020-01-07 23:56] specialtactics commented on #7851
@vlad88sv  That maybe makes sense, because I'm using KDE as well.

[2020-01-08 01:11] vlad88sv commented on #7851
Well I think I can confirm that's the cause
![2020-01-07_19-04](https://user-images.githubusercontent.com/91489/71941871-ea051d00-3180-11ea-932d-e1c1a78f503a.png)

KIO slave log:

[code]

...followed by a long http exchange between google and kio-client, which resulted in `Emitting mimetype  "text/html"` that causes Chrome/browser to open.

This can be verified by using this guide:
https://communi

[2020-01-08 02:49] traylewin opened #7884 "Documenter collections showing error in Safari"
**Describe the bug**
When using Safari and visiting a doucmentor page, instead of seeing the Postman Collection, there is only this error = "Could not load examples for this collection"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://documenter.getpostman.com/view/3606954/S1TR3ewq?version=latest
2. See error

**Expected behavior**
Should see the collection

**App information (p

[2020-01-08 06:03] vikiCoder commented on #7882
Hi @gpmind,

It possible that you have entered a newline character in AccessKey while entering credentials in the authorization tab. This is a common error we've seen when user copy-pasts things (AWS credentials in your case) from somewhere else. Please make sure that there are no newline/white space characters at the beginning or end of any fields of AWS auth. Let us know if the request still fai

[2020-01-08 06:33] zhonghuasheng commented on #610
while, when we use [Hello](url), this will go to the url in current tab, but I want to open in anther tab, how can i do this? i research that some one said using [Hello](url){:target="_blank"}，but it will render to text in Github

[2020-01-08 07:03] muhammad-shafique opened #7885 "API Documentation doesn't support to document error codes for an API."
**Is your feature request related to a problem? Please describe.**
I need to add supported error codes that a specific API can return in response.

**Describe the solution you'd like**
There must be an option to document error codes description under Postman API documentation.

**Describe alternatives you've considered**
I couldn't find any alternative yet.

[2020-01-08 07:58] klemens-u commented on #4296
Please fix this. Very annoying. Otherwise great product.

[2020-01-08 08:22] IanKemp opened #7886 "Is it possible to force built-in random variable values to be generated on declaration, not when referenced?"
The content I'm sending to my API looks like this:

[code]

I have setup the following pre-request script so that a random password is generated every time the API is invoked:

[code]

The problem is that `$randomPassword` and friends are evaluated **when referenced**, not **when declared**. The result is that `password` and `confirmPassword` end up having different values, thus the API call fails

[2020-01-08 08:47] DMCTowns commented on #285
+1

[2020-01-08 09:00] froh42 opened #7887 "It is possible to copy-paste a linefeed into an HTML Header and waste 2 hours searching for the problem"
**Describe the bug**
While I can't (as should) enter a linefeed into a header field I can _**copy-paste**_ it into a header field. This makes the request fail with a generic error message and enables me to waste an hour or two wondering why my request won't work when I enable the Authorization header.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple get request, add an Authori

[2020-01-08 09:24] loicginoux commented on #7052
This is definitely needed.
I would expect to have a structure like this:

[code]
Instead I don't have any choice but to do something like the following which is not a way I would expect, as a reader, to have the information presented:

[code]

[2020-01-08 11:49] elstari commented on #6015
@preethammavin @kamalaknn
Can you give us a status update of the progress or planning on this?

Right now not only the memory usage is outrageous but I have also experienced Postman processes silently running at 75% CPU after I closed the app.

Although real native apps are the way to go (imho), using web techniques for a "native" app can be done without these problems. For example look at Bracket

[2020-01-08 12:23] ValeriyDevPro commented on #7868
@coditva  Sorry, but I have one more question, you have said:

If I will use `country: {{$randomCountry}}` and `state: {{$randomState}}` faker will take a random country, and random state, without dependency on the selected country ex. `country: France` and `state: Alabama` or, in case when it will be implemented whenever, state from any other country.

But if you'll plan to implement a random cou

[2020-01-08 13:53] elzdave commented on #7851
Same here, using Postman on Fedora 31

[2020-01-08 14:01] IanKemp commented on #1014
It's rare to see this type of idiocy from an application development team, but what else can you expect from Electron "developers"?

[2020-01-08 14:02] kedarnag138 commented on #4634
I have tried the above and it's the same, Postman starts and after a few seconds goes blank.
<img width="572" alt="Screenshot 2020-01-08 at 10 01 02 PM" src="https://user-images.githubusercontent.com/5475397/71983788-86532080-3262-11ea-85dd-fb85b198c14a.png">

[2020-01-08 14:08] hsa-embedded commented on #4009
+1

[2020-01-08 14:22] Joshmamroud opened #7888 "Typo"
There's a typo in this notification:
![image](https://user-images.githubusercontent.com/5224187/71985267-45bebd00-31f8-11ea-980c-9e45bfc474c0.png)

[2020-01-08 14:26] waaromikniet commented on #6723
I have the same issue. I have a dev environment without an internet connection. It seems V7 can not be used without internet. The only thing that works is going back to V6.7.4.

[https://dl.pstmn.io/download/version/6.7.4/win64](https://dl.pstmn.io/download/version/6.7.4/win64)

[2020-01-08 14:57] gpmind commented on #7882
Yes, so? It's still a bug. Just chomp the input either when crafting the signature or when focusing out of the box. Should be a trivial fix.

[2020-01-08 16:45] Aeroverra commented on #2030
Why is this closed? It doesn't work.

[2020-01-08 16:49] bartholomew1 opened #7889 "Postman takes almost 70% of CPU"
**Describe the bug**
After some time postman, started taking almost 60% of my CPU. I tried reinstallation with manual delete of postman files that are left in the App data folder.
**To Reproduce**
Steps to reproduce the behaviour:
1. Open Postman

**Expected behaviour**
Postman is not taking 60% of my CPU while in idle state and does not open additional processes.

**Screenshots**
![Postman](https

[2020-01-08 17:13] loicginoux opened #7890 "describing parameters is not complete enough"
The way postman let us describe all parameters is not complete enough. Only having a "description" fields to explain every details related to a parameter seems not enough.

I miss fields like "optional/mandatory",  "restricted values", a "default value" field, and a "type" field.
So because of that I didn't see another way than to create a markdown table in the endpoint description, see how it is

[2020-01-08 17:49] rsquarev opened #7891 "Provide ability to use postman theme in visualizer templates"
It would be nice and seamless if I could use postman theme for my visualizer template. Right now, I could do this by creating styles same as postman theme. But when I change theme, I have to update styles in theme. So, if I could get the theme information using something like pm.theme object, this could be used in styles. This way my visualizer dynamically change its styles according to postman cu

[2020-01-08 18:55] JP-from-Postman opened #7892 "(Specific Collection) Change log won't load in app or browser, crashes browser tab"
**Describe the bug**
Team reports that the change log for a **specific collection** doesn't load in either in the application or browser. Loading the change log for this specific collection in the browser causes the tab to crash.

Collection in question is fairly large (130 requests).

**To Reproduce**
Steps to reproduce the behavior:
_(Support unable to reproduce)_
1. Open change log in app for s

[2020-01-08 19:19] SaubereSache commented on #1104
+1. Content-Disposition needed

[2020-01-08 20:52] loopDelicious commented on #6694
In addition to the URL, format any variable string substitution in params, body, etc.

[2020-01-08 21:03] MG-CDS commented on #5611
This is still an issue. My OS is Windows 8.1 64-bit, and I'm using the desktop version of Postman v7.14.0. The "You seem to be offline. Any changes made while offline might not sync properly with other members of this workspace." message several times per day. While this message is displayed, I am unable to access any of my Workspaces. This issue usually last more that 5-10 seconds, but sometimes

[2020-01-08 21:12] adamskijl commented on #7834
I hoped I was clear.

I have to look in server logs for the time entry of API's that I test. When
I use Postman to run a test I can see the time entry in the headers and the
time is always in UMT. For example, it's now 1:06 PM on the West Coast, my
servers are on the East Coast +3 hours (4:06 PM) and the headers in your
application tell me the current time is 8:06 pm UMT ( the time in Great
Britai

[2020-01-08 23:28] farukciber commented on #7294
I had the same issue with Version 7.14.0 on MacOS X 18.6.0 / x64. The requests took way too long to execute and the whole app froze for a few seconds.

Apparently removing 2 environments which only had around 10 variables each improved performance greatly.

[2020-01-09 00:19] nery commented on #3646
+1

[2020-01-09 00:48] rsweetland opened #7893 "Request description is deleted when visibility is toggled"
If the request description is accidentally toggled while editing, changes are lost:

![2020-01-08 16 44 33](https://user-images.githubusercontent.com/81267/72028094-32cadd80-3236-11ea-889a-6ca921ab0efb.gif)

Autosave would be nice. Simply storing the content in a temporary variable would solve the pain.

As a workaround, one can always write markdown elsewhere and copy / paste.

Postman Version 7.

[2020-01-09 04:33] avani-n commented on #7837
@artchen Is the issue still happening? If yes, could you please write to us at help@getpostman.com with the workspace id so that we can take a closer look.

Please include the GitHub issue number - 7837 in the email.

Thanks

[2020-01-09 06:25] swastikmu commented on #5990
Hi , I read all comments however the issue not yet fixed. it helps me a lot in API testing but it is very slow sometimes. Canary is much more slower than previous ones.

[2020-01-09 06:26] dmutende commented on #4009
+1

[2020-01-09 06:27] harryi3t commented on #4634
@kedarnag138
There is a separate GitHub ticket where the Postman UI goes blank because of the high memory usage.
Just to confirm whether you are facing the same issue, try opening the app using the following command (make sure you quit any already running Postman application)
[code]
This would create a new fresh directory for the user data and act as a fresh installation. If this does not work, I

[2020-01-09 06:45] meetSuraj commented on #7851
@elzdave That link which gets opened in browser is one time link, and it is somehow getting requested to before it is open in browser, that is why you are getting that error, other people that are facing the same issue, problem was that in KDE, link gets fetched before to check the mime type and based on mime-type application is opened, in case of `text/html` it is browser. Can you see if it is th

[2020-01-09 06:49] artchen commented on #7837
The issue still persists. Could you lemme know how to find the workspace id, and do you refer to "My Workspace"? I don't have any team workspace under my account as for now.

[2020-01-09 07:29] 1440530275 commented on #3438
+1

[2020-01-09 07:34] HenningBertsch commented on #6926
I also would appreciate the folder names to be accessable from tests and pre-request scripts. We needed to export the folder names into the test result file: https://community.getpostman.com/t/get-folder-names-of-a-collection/9516/2 and managed it by using a manual (potentially error prone) workaround.

[2020-01-09 08:23] Riya1823 opened #7894 "How to login using SSO oauth 2.0 and then storing token to run all other API from postman automation script?"
I am not able to automate postman script for this procedure:
1.Open postman then in authorization tab select type->OAuth 2.0, Add authorization data->Request Headers and Access token->Get Access Token Filled fields-Token Name, Grant Type->Authorization Code, Callback URL, Auth Url, Acess Token Url, client Id, Scope, State, Client Authentication->Send as basic Auth header
![Auth0](https://user-imag

[2020-01-09 09:18] harryi3t commented on #7881
@Morons
1. Can you try to start the app from the terminal and let us know what logs do you see on the terminal
[code]
2. In case you get the log `could not get the lock, quitting` there might be another instance already running in the background. Try killing it from the system monitor or from the terminal by running `pkill Postman`

[2020-01-09 09:58] ankurdengla1996 commented on #7889
Hey @bartholomew1 !
We are tracking issues related to high CPU usage in this thread - https://github.com/postmanlabs/postman-app-support/issues/7294

I'm closing this issue as a duplicate. Please follow the original thread for updates.

[2020-01-09 09:58] #7889 closed, assigned to nobody

[2020-01-09 10:01] codes-zain commented on #7828
I'm facing the same issue did you solve it ?

[2020-01-09 10:05] lepirlouit commented on #7893
also the save indicator flag is not toggled in tab

[2020-01-09 10:13] wrssmi opened #7895 "Import > Paste Raw Text cURL --data-raw not import to bodyraw"
Body - raw not filled with data after import

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Import > Paste Raw Text cURL'
2. Use following curl
`curl --location --request POST "https://sample.com" --header "Content-Type: application/json" --data-raw "{ \"details\": { \"id\": \"11\", \"sample\": { \"name\": \"ankit\" } } }"`
3. Body is not filled (see Screenshot)

**Expected behavior*

[2020-01-09 10:14] HenningBertsch commented on #6714
Would love this too. I know that variables should be self explanatory, but this is not always easily possible and it would be helpful to write some descriptive text for this cases.

[2020-01-09 10:22] CrackofWorld commented on #1744
+1

[2020-01-09 10:33] bartholomew1 commented on #7294
![Postman](https://user-images.githubusercontent.com/59235448/71997401-1e8ade80-323e-11ea-845f-6fe3fe3523cc.PNG)
![Potman](https://user-images.githubusercontent.com/59235448/72056090-3d37b680-32cc-11ea-8267-6d2906f14528.PNG)
App Type Native App
Postman Version 7.14.0
OS: Windows 10 Enterprise 1803 (64x)
Additional Info:
Fix from similar tickets seams to not be working in my case.

[2020-01-09 10:38] martinszeltins commented on #5302
I am also looking for a way to hide the menubar (maybe with alt?)

[2020-01-09 10:58] ivliskot commented on #7895
Yeah, we have noticed that as well :(

[2020-01-09 11:44] Ramya-From-Postman opened #7896 "Unable to authorise Github application while generate Oauth token"
Recently, I have noticed that the authorize button has been grayed out in the process of generating Oauth 2.0 token for Github application.

**Steps to reproduce the behavior:**
1. In the postman app, navigate to Authorization tab & select the type as Oauth2.0
2. Click on "_Get New Access Token_" --> Fill in all the necessary information & hit _Request token_
2. You will be prompted to sign-in to

[2020-01-09 11:52] ash007-postman opened #7897 "Postman App: Sign-In with Google not working"
**Describe the bug**
**The user reported the following:**
I am Facing Sign In Issue while accessing My Postman Application, it hangs trying to sign-in with Google.
But in chrome it is displaying “you’re signed in - Just open up the postman app and you will be good to go” However it hangs trying to sign-in with Google.

**To Reproduce**
Attached the doc with the sequence of steps taken.

**Expected

[2020-01-09 12:42] Morons commented on #7881
No Nothing happens! even in the Syslog

[2020-01-09 12:44] Morons commented on #7881
I think to break it you need to upgrade from 18.10 with the GUI once is force you - reason that 18.10 is not supported anymore (its not LTS)

[2020-01-09 13:11] Cazaimi commented on #7884
@traylewin, tried hitting the public documentation link with Safari, but could not reproduce this issue. Is this happening only for a particular language? If so, could you post that information here? Thanks!

[2020-01-09 13:12] AdemolaAdigun commented on #5441
How can i do that, do you have an example i can take a look at?

[2020-01-09 14:22] EmreSURK commented on #2086
+1

[2020-01-09 14:41] anomaly2104 commented on #4968
This is really a must have feature. I tried this in paw and it was really helpful. Can we please have it in postman.

[2020-01-09 16:01] sankalp0o commented on #6614
Hey @mattlock83 @VicKetchup @vdespa @andrewshawcare ! We just released a feature which does validation of collections and requests which are linked to a OAS3.0 spec through an "API". Will be updating this thread with a link to docs soon, but here are the rough steps which you can follow.

1. Create a new "API" in Postman
2. Add your OAS3 specs to the API version
3. Link your collection to the API.

[2020-01-09 16:12] wooger opened #7898 "Error when importing a valid OpenAPI 3.0 API file"
**Describe the bug**
Importing valid OpenAPI 3.0 / swagger files into postman fails with the error "Error while importing OpenAPI 3.0:
Could not import."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.swaggerhub.com/apis/Delta-FS/Members/0.1 and export the API in JSON or yaml format
2. Switch to Postman, click on the 'import' button and then the 'choose files' button
3. Se

[2020-01-09 16:22] vomc commented on #6761
I am finding this too. I suppose its similar to what I am seeing which is that when my API (in express) returns `res.status(400).send('Some message');` then I would expect Postman (console) to show also the message not just the 400 code. Right now all I see is the HTTP response (i.e. `Bad Request` )

[2020-01-09 17:47] joegr commented on #5681
Rebooted multiple times. Deleted all postman files after uninstall. Looks to be an issue where the app is stuck running at startup, and I can't stop it from doing so because I made the mistake of asking it to not run on startup while the files weren't there--so it is stuck thinking it is running on startup, regardless of whether or not there is an labeled process.

[2020-01-09 17:50] joegr commented on #5681
Mine also originally attempted to install to the Slack directory, like the error above, first time around. Is there a possibility this is a security issue? I also am getting an access denied when the setup script tries to tear down `Users\<usr>\AppData\Local\Postman`.

[2020-01-09 18:24] tarrball commented on #2302
+1

[2020-01-09 18:55] rajkumardoosan commented on #3845
This would be appreciated too. In our case we have a test that returns text instead of JSON, this means postman throws an exception when we call pm.response.json(). We are then forced to wrap this in a try catch, to continue running the other tests, e.g.

var jsonData;
try { jsonData = pm.response.json(); } catch(e) {}

pm.test("response body has 4 items", function () {
    var numberOfItems = Obj

[2020-01-09 19:02] eylvisaker commented on #3327
Thanks @ojblass - that fix worked for me.

[2020-01-09 20:11] cwm22 commented on #4036
What was the final determination regarding this?  I believe I am running into this same issue.  I can see the response perfectly fine in fiddler.

[2020-01-09 20:21] andrewshawcare commented on #6614
This is great. Really appreciate the changes. I'm currently unable to see the actual validation messages, however. When I enter the following specification:

[code]

I add an empty collection and see:

![Screen Shot 2020-01-09 at 3 16 22 PM](https://user-images.githubusercontent.com/54861/72101866-b0085800-32f3-11ea-96b8-aa58f8aeb494.png)

When I click on the, "View details" link, I see:

![Screen

[2020-01-09 21:08] twallgren commented on #4791
I think it should be possible to enable/disable this through the pre-request script and also via environmental variables. We might only want the popup for specific environments or if the request contains specific criteria.

[2020-01-09 22:14] seanocali commented on #7723
This doesn't solve it at all and you were right the first time it's a bug. All Electron apps had this problem, many were fixed like VS Code.

[2020-01-09 22:43] SamuelTissot commented on #2030
broken for me as well
Pop!_os19.10 (Ubuntu)

[2020-01-10 00:19] alpharoux commented on #7551
I tried using the callback URL = https://app.getpostman.com/oauth2/callback which will sometimes (2/10) bring me to the login page but most of the time just the blank screen.

If the login screen has been successfully loaded, after I have provided my credentials the login screen becomes blank - the access token details are not displayed.

This was working with me last December 2019.

[2020-01-10 02:06] skn91111557 commented on #7294
I have same problem.
Just exec the postman, after too high cpu consumption. really too slow.

Postman ver : 7.14.0
Os : Windows 10 (64)

[2020-01-10 08:18] Raja-Simha commented on #7893
@rsweetland thanks for reporting this. We will fix this.

[2020-01-10 08:43] Redsandro commented on #7393
I'm missing the sync from Postman. Boostnote [upgraded from Electron 3 to Electron 4](https://github.com/BoostIO/Boostnote/pull/3322/commits/7fef070dfdd39647a21ca12e0023a377761062d2), and it fixed the critical issue of crashing on AMD Picasso hardware that Postman also suffers from.

All they did is increase a version number. Can we fix this issue with Postman now? This is not some feature request

[2020-01-10 08:53] lmindwarel commented on #7897
I have similar issue:

When I try to sign in with google, browser open and I have 403.

[2020-01-10 08:59] meetSuraj commented on #7897
@lmindwarel Do you happen to use VPN in browser, or are you behind some proxy, can you once verify that IP address in your browser and in app is same? You can check the IP address used in app by sending GET request to `https://postman-echo.com/ip using postman` and on browser you can search for `What is my IP`. We are tracking similar issue here https://github.com/postmanlabs/postman-app-support/i

[2020-01-10 09:08] ravindran2454 commented on #3358
Badly want the commenting in the body request itself, I need to mark some of the tests with different body requests and I have no way to communicate to the other testers. Kindly consider.

[2020-01-10 11:13] elzdave commented on #7851
@meetSuraj yes, exactly as you stated above, the problem was caused by KDE. Followed your proposed method and managed to login manually with new password works for me, thank you

[2020-01-10 11:19] lmindwarel commented on #7897
I do not use VPN, nor proxy. I have this issues on 2 differents computer, on different network.
I have checked, same IP on postman and browser.
Thanks for your help

[2020-01-10 11:40] anudeepmedicharla commented on #7888
Thanks for the catch @Joshmamroud !
cc: @BrandonGordon126

[2020-01-10 12:19] surajmrana commented on #5990
we are facing dead slow performance issue in postman. Pls rollback the version to 13v. or older. if we download old version then also it automatically update to 14v. Once everything is tested then you can roll out to latest.

How to stop updating automatically. pls help. @numaanashraf @Postman Team.

[2020-01-10 12:30] bothyculture opened #7899 "I cannot see how many tests are failing until the end of the iteration"
When running a large test collection in the Collection Runner I cannot see whether the tests are passing unless I scroll downwards continuously as the tests are running.

I would prefer it if I could see some feedback on how many were passing. If a large number start to fail then I can cancel the run.

It would be better if the green and red circles were visible and updated all the time during the

[2020-01-10 12:41] saswatds commented on #5990
@surajmrana Can you provide us with a small screen-recording clip showing the slow behavior. Jusy to confirm you are experiencing this behavior in app v7.14.0

[2020-01-10 15:00] qa-eng commented on #1066
+1

[2020-01-10 15:54] RangerComputers commented on #6521
Same problem as above - tried suggestion from @labifrancis - worked fine by telling Windows to make compatible with XP Service pack 3 and to run as Admin

[2020-01-10 15:54] Fyrilin commented on #7294
If it helps, I was having the same problem on 7.14 and 7.15 under Windows 10 64bit: >50% CPU usage while idle.
I downloaded 7.12 and it's working fine at ~0.2% while idle!

I noticed that, in 7.12, I only have "Postman" subprocesses but under 7.15 I had the same "Registry Console Tool" and "Windows Command Processor" subprocesses as @bartholomew1

I'm using the personal version with a single works

[2020-01-10 17:00] waynebsx commented on #1535
half a decade almost past and still no way to reuse a set of request in a DRY fashion. I find this the most frustrating thing with postman, means introducing repeated request and soon becomes unmaintainable. I've seen and tried working around with test hooks and eval func but that is a real hack.

[2020-01-10 18:29] barrcodes commented on #7844
Same exact issue.
OS: Mac Catalina
CPU: 2.6 intel i7
Mem: 16 gb
Postman: 7.15.0

[2020-01-10 19:22] jcherniak commented on #7828
I ran into this same issue, and it occurred because our OAuth endpoint was not working properly.  In our case, it was returning a 200, with a content of "null".

I would guess, based on this, the error appears to lie with error handling in the OAuth token calls in Postman.

@codes-zain Hit your OAuth endpoint manually and make sure it's working to spec to work around the issue.  Note: hitting it m

[2020-01-10 19:44] tonypaolucci commented on #3703
Are there plans to make this a global setting and not per request? We have a system that is now redirected based on what region of the world made the call. The tests we use to exercise the system must be updated to account for this.

[2020-01-10 21:06] ValGashi commented on #7553
So I was just struggling through this error on my mac. I was able to fix it by first moving Postman to my applications folder and then opening the app (after uninstalling and reinstalling).

[2020-01-11 04:04] sankalp0o commented on #6614
@andrewshawcare An empty collection will give out issues. We will work on a better empty state. Try having an actual request in there to see the validation happening.

[2020-01-11 07:40] RobinTTY commented on #7723
I'm not knowledgeable on this subject so I can't say if this should be considered a bug or not. In my case at least one other app was behaving in the same way (Chromes built in pdf viewer) and after changing the SDR content apperance it was fixed for me without the colors being off so I considered it fixed.

[2020-01-11 09:17] hupo376787 opened #7900 "Show array's length number"
Hi, when the response data contains arrays, how to know the array's length quickly?
![image](https://user-images.githubusercontent.com/14960168/72202036-c5b58300-3495-11ea-99f7-8722d98d94a0.png)

Currently we have to check and count, this is annoying.

Can you guys show a number at the array root like below?

![image](https://user-images.githubusercontent.com/14960168/72202072-280e8380-3496-11ea-9

[2020-01-11 10:19] omoomoniyi commented on #6443
I have been experiencing same issue as the topic stated. The F11 key did the magic

[2020-01-11 13:04] ziadloo opened #7901 "A leading dot is added to the domain of the cookies without a subdomain"
**Describe the bug**
A leading dot `.` is added to the beginning of the domain for cookies set without any subdomain.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request (in my case I sent a POST) to a URL that returns `Set-Cookie: name=value; path=/; domain=example.com; expires=Sat, 11 Jan 2020 00:00:00 GMT;` in its response headers (`example.com` is the same domain as your URL).

[2020-01-11 15:09] bensullivan commented on #2086
+1

[2020-01-11 16:43] udayakr opened #7902 "user level usage"
**Is your feature request related to a problem? Please describe.**
There is no way to get usage report from postman. We have been using postman since 4 years. Now our development team size grown to 40 members team. We have license for 30 developers and remaining 10 users doesn't have license. We do not know the usage of these 30 developers. We are not seeing a way to generate usage of these 30 use

[2020-01-11 20:28] afitzgerald commented on #4785
The current behavior is terrible...

I added an existing collection to a new workspace, deleted it from the original....what? it's magically deleted from both, yeah for the trash.

I finished moving a bunch of collections into a central workspace, deleted the other workspaces (without the above delete of the collection), perfect......that is until I notice the Environments didn't come along.......

[2020-01-12 02:08] iron9light commented on #2701
+1

[2020-01-12 04:42] Jorgehn1995 commented on #1380
any update on this in 2020

[2020-01-12 06:17] ihao56 opened #7903 "postman login wrong.tips: something the wrong."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'open postman'
2. Click on 'sign in'
3. tips 'something went wrong'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the

[2020-01-12 06:31] sankalp0o commented on #4785
Thanks for the feedback everyone! I agree while "moving" a collection/environment is possible, it takes too many steps. We'll work on a better experience, possibly by introducing a "Move" action like everyone suggested.

Stan tuned, I'll update when we have made progress on this.

[2020-01-12 06:42] Gunjan4542 commented on #7903
@lailuohao Could you check after sometime, a planned maintenance is going on. [Check here](https://status.getpostman.com/?_ga=2.163915391.1140212892.1578811273-1445113031.1573631831)

[2020-01-12 06:51] #7682 closed, assigned to nobody

[2020-01-12 06:58] ankit-m commented on #7088
Closing this due to inactivity. As @sankalp0o mentioned the Changelog gives you the history of changes made to your collection (and who made them).

If this does not address your concern or you would like to propose a different feature, feel free to reopen this issue.

[2020-01-12 06:58] #7088 closed, assigned to nobody

[2020-01-12 07:50] TheVivekGowda commented on #5611
I have multiple postman accounts and getting same message 'You seem to be offline' error everywhere. I got this message earlier also, but its was fine after some 10-15 seconds. But this time after few hours also issue persists.

[2020-01-12 13:44] vvs11 commented on #7247
@matt-ball can you take this forward?

[2020-01-12 16:14] andalike commented on #7553
The Data was recovered? I Mean the Data in history was present? As per my deductions it was lost and no support update helped me.

    On Saturday, January 11, 2020, 2:37:01 AM GMT+5:30, ValGashi <notifications@github.com> wrote:

So I was just struggling through this error on my mac. I was able to fix it by first moving Postman to my applications folder and then opening the app (after uninstallin

[2020-01-12 20:48] belangervince commented on #4361
Same issue with version 7.14.0, even after I closed the application, 3 processes were still running and eating RAM and CPU.

[2020-01-13 01:58] cburkhardtBB commented on #3953
This might help some Mac users that have reached this page while looking for a solution.

I had this same issue on my MacBook Pro (not Windows). The window just disappeared completely when I minimized it and I could not locate the window to open it again. The way I got it back was by doing the following:

1. Left click the Postman icon so you see the Postman toolbar at the top of your screen
![Scr

[2020-01-13 02:01] JohnArrowwood commented on #1535
Word of warning: other tools will soon support this feature.  If Postman
does not find a way to support it, it may find itself replaced by a newer,
more feature capable tool.

On Fri, Jan 10, 2020 at 12:00 PM Wayne <notifications@github.com> wrote:

[2020-01-13 04:38] kamalaknn commented on #7900
Duplicate of #5923

[2020-01-13 04:38] #7900 closed, assigned to nobody

[2020-01-13 05:11] hupo376787 commented on #5923
So, how is the progress going on, guys?

[2020-01-13 05:29] subrat-mishra commented on #4079
+1

[2020-01-13 06:03] sankalp0o commented on #7902
Thanks for the feedback @udayakr! What kind of usage are you looking for?

[2020-01-13 06:27] sujayvenaik commented on #7872
@davidmw Can you confirm once that the activity feed for the collection/postman entities that you are getting while being in the personal workspace is not present in any team workspace?

[2020-01-13 06:53] newmangreen commented on #7575
OK, fixed the problem.
For sharing for those having similar problem:
In Servlet,  I had set as request.setCharacterEncoding("UTF-8").
But when reading with request.getInputStream() that is not enough, we have to convert incoming string to "UTF-8" again.

[2020-01-13 06:55] Roscoe93 commented on #4272
Version 7.14.0,still missing

[2020-01-13 07:31] avani-n commented on #7837
Hi @artchen

Our support team has received required information at help@getpostman.com from you and would be following up with any additional questions required to resolve this issue.

[2020-01-13 07:35] davidmw commented on #7872
There are no integrations installed in my personal workspace and I've not shared the collection with others or the team. Every update of my personal collection is getting added to the team activity feed. So, yes.

[2020-01-13 07:47] muhammad-shafique commented on #7885
Dear Raja-Simha,
Thank you for picking up this as feature.

Eagerly waiting for this feature to be used for our product documentation. :)

[2020-01-13 07:54] sujayvenaik commented on #7872
Ok, we have reproduced this at our end. I'll keep this thread updated as soon as we release a fix for this.

[2020-01-13 08:21] zonetw commented on #3472
This issue still alive with the latest version.
The path of api is http://localhost:**8081**/api/test whose method is **GET**

When I have two local http servers with different port(8080, 8081)
The 8080 one get the http request, not the 8081 one

When I have only one http server with port 8081
I get message from postman like: "Could not get any response"
But I can get correct response in browser.

[2020-01-13 08:37] dlorych commented on #3825
+1

[2020-01-13 09:26] meetSuraj commented on #7897
@lmindwarel Can you tell us the error message that you are getting, are you able to reproduce it?

[2020-01-13 11:47] christhomas commented on #4296
Tomprogers says exactly what we all are thinking. How can this be a serious TESTING tool, when it's unreliable for it's most basic TESTING functionality.

To quickly knock up some API requests and execute them, Postman is great. But this whole testing stuff means you lost me as a user for this functionality until something is done about it

[2020-01-13 11:51] lmindwarel commented on #7897
![image](https://user-images.githubusercontent.com/34281254/72253693-6b860080-3602-11ea-93e7-2ae726667386.png)
Here is the link opened in browser: https://identity.getpostman.com/client-auth/start?auth_challenge=0ed5c884bca3292c85bf011bd4a1e3ca468293b44fed30a6534f127a2af4321a&auth_device=app_native

I've fresh install of Postman. When clicking on "sign in via google", the first opened link work, b

[2020-01-13 11:55] kavithasub commented on #3489
Hi, Seems that both issues #3594 and #3489 pointing each other, but no solution updated for the requirement.
For my scenario, it is need to download an attachment from the response using newman run, just like 'Send and Download' in postman.
**Do you guys have any update on this requirement may be in latest release?**

[2020-01-13 13:10] Paulo-Sensedia commented on #7845
Any help?

[2020-01-13 13:14] meetSuraj commented on #7897
@lmindwarel Were you able to login when the link opened for the first time? Did you see the success page in your web browser?

[2020-01-13 13:23] akshaygoyal opened #7904 "Postman capitalizing "charset" header"
**Describe the bug**
"charset" header is getting capitalised while sending the request via postman. Whereas with curl it is sent as it is. I found it while testing an API where header validation was case sensitive.

**To Reproduce**
Steps to reproduce the behavior:
Just pass charset in lower case in your api and print the headers.
Check it with curl and see the difference

![image](https://user-im

[2020-01-13 13:42] codenirvana commented on #7904
@akshaygoyal Looks like you are using a very old version of the Postman app.
Check if updating to the latest version fixes the issue.
https://www.getpostman.com/downloads

[2020-01-13 15:19] lmindwarel commented on #7897
Yes it was working on my laptop with the home page link
But I tried again on my other computer and it does not work from the link on the home page, nor from the second link "open your browser"...
Maybe because my google account was already used on my other computer ?

[2020-01-13 16:23] vit100 commented on #7138
Any update on this issue?

[2020-01-13 16:41] mattshenton opened #7905 "Postman showing 200 status code instead of 302"
I am using Postman to test my ruby on rails app locally.  The route I am calling responds with a redirect link.  I understand that when *automatically follow redirects* is set to on in settings, it should automatically open the link in your default browser.  However, Postman is saying that the status code is 200, so it is not redirecting anywhere.  When I make the same request with cURL, it correc

[2020-01-13 18:00] cyrielle-hada commented on #6102
@sankalp0o a super admin role would also allow assigning a `billing` role to another user in the event that the team is left with only one billing team member - who is unable to perform the action (for example, if the billing user left the organization).

This specific case-scenario was reported here: https://github.com/postmanlabs/postman-app-support/issues/6742

[2020-01-13 18:04] matt-ball commented on #7247
Hey @captain-kark ,

I've been working on a CLI very similar to what you are describing. It's in the very early stages but would appreciate if you could give it a go and raise any feedback via an issue over there:

https://github.com/matt-ball/postman-cli

Thanks,
Matt

[2020-01-13 18:27] diaakasem commented on #4454
It will be great if you can provide an ARM version ... I use my Raspberry PI 4 on the go,, when I dont need to carry the laptop ... and Postman is an important app in for my work ...

Thank you for the crazy good app.

[2020-01-13 18:34] mrz1836 commented on #7819
Any update on this @Raja-Simha ? It seems it's only getting worse... and it's becoming annoying that I can't sort the requests (making it harder for the users reading documentation)

[2020-01-13 19:23] arturhaddad commented on #2030
Still inconsistent on Ubuntu 18.04.3 LTS + Postman v7.14.0.
Using CTRL + Click, sometimes it opens on browser and sometimes it opens on a new tab of Postman.

[2020-01-13 19:42] TheSalarKhan commented on #6682
+1

[2020-01-13 20:00] AisoRed commented on #7905
If your goal is to stop at the redirect status code, uncheck the **Automatically follow redirects** setting.

[2020-01-13 20:17] Ebtoulson opened #7906 "Show fork name in runner"
**Is your feature request related to a problem? Please describe.**
After forking a collection and making changes, I'm unable to see which collection is the original and which is the fork in the runner.

**Describe the solution you'd like**
Please include the fork name beside the collection name in the runner.

**Describe alternatives you've considered**
None. Running both may not always work in ev

[2020-01-13 20:33] bartholomew1 commented on #7294
@Fyrilin thank you it helped to solve my problem now I have 0,2 % of usage when idle, computer working normally. 👍 Something is not ok with most recent 7,14 version

[2020-01-13 23:03] loopDelicious opened #7907 "Persist language selection in code gen settings in web documentation"
In the web documentation, I can select a language in the dropdown, and then clicking the settings icon pre-populates the selected language.

<img width="1512" alt="Screen Shot 2020-01-13 at 3 03 42 PM" src="https://user-images.githubusercontent.com/17693714/72299554-0a682800-3616-11ea-9822-c32f5a38824c.png">

On the other hand, under the code gen settings icon, I can select a language and either c

[2020-01-14 03:00] raypanjaitan opened #7908 "Postman shows different application with the browser application"
**Describe the bug**
I have multiple projects. Using XAMPP and customized domain.
For instance I have 2 laravel projects, A and B. Whenever I try to open the application using A's domain name from my browser it shows application A, but when I access the domain from postman it shows application B.

**Expected behavior**
It shows application A from the postman

**Additional context**
I am using lara

[2020-01-14 03:24] ArjunSingh-PM commented on #7512
Thanks for writing to us @aterreno. Presently, there isn't a way to skip endpoint in a monitor run.

[2020-01-14 05:49] kadlugan commented on #4555
I recently came across an issue where white spaces in xml payloads were seemingly being converted from %20 to %C2%A0 when you request **prettify** the payload

- You can test by copying whitespace text from the **raw** and the **pretty** versions of xml payloads and pasting into an excel cell.
- Then by running =ENCODEURL(text) and it shows %C2%A0 as the whitespace value.
- Heres a link to what th

[2020-01-14 06:34] kedarnag138 commented on #4634
@harryi3t Thanks. It worked!

[2020-01-14 06:38] levensailor opened #7909 "Environment Variables dialogue should be draggable"
When creating an environment to add variables, I have to write down the variable names used in the collection, ie: {access_token}, {mytoken}, {usertoken} {access-token} so I reference the names when adding environment variables.

Ideally the window in the foreground would be draggable so that I can drag it out of the way and see the name of the variable i the tab loaded in the background

[2020-01-14 07:17] ophthal commented on #7039
You should put a note on your Mac version download page - "Unzip with Archive Utility".  I nearly abandoned trying Postman until I found this page because i-zip is my default utility for opening zip files and it failed when Archive Utility worked...

[2020-01-14 07:39] gohalien commented on #2992
Opening the window file and setting isFullScreen to false (instead of true) solved the problem

[2020-01-14 08:27] seongwon-kang opened #7910 "Glitch character appears when write hangeul character in "Collections>Request Descriptions""
Glitch character appears when write hangeul character in "Collections>Request Descriptions"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Collections"
2. Make a Collection and a Request
3. Click on 'Edit Request Description'
4. Write random Hangeul(가-힣, U+AC00-U+D7AF) with keyboard layout "Hangeul Keyboard(101 Key) Type 1"
5. some unexpected character appears (but disappears when cu

[2020-01-14 08:47] captain-kark commented on #7247
I'll redirect any updates on this issue to that repository until there's enough momentum to justify making a first-class feature inside of Postman proper.

The readme appears to hit every bullet point of my issue! I'm excited to try it out sometime.

[2020-01-14 08:47] #7247 closed, assigned to shamasis

[2020-01-14 08:55] Raj-postman opened #7911 "Add warning message while deleting collection of larger sizes"
**Is your feature request related to a problem?**
Currently, when a collection is deleted - the deleted collection is not found on the trash and hence cannot be recovered. This is as per the designed workflow, where the collections of size 30Mb and above are not provided an option to be recovered.

**Describe the solution you'd like**
Add a warning message while deleting the collection something l

[2020-01-14 09:03] harryi3t commented on #4634
@kedarnag138 This command only changes the director where the user data is stored (collections, requests, etc). The default location is `~/Library/Application\ Support/Postman/`

If the app is working fine with a newer location, try logging into the same account. If this recreates the issue again then it the performance issue I was talking about earlier otherwise, you can delete the original direc

[2020-01-14 09:27] ArjunSingh-PM commented on #7362
@wzdbsss Did checking the "Keep me signed in" checkbox while signing in solve the issue for you?

[2020-01-14 09:31] wzdbsss commented on #7362
yeah, it works after updating my postman version. everything goes well right now, thanks very much.

[2020-01-14 09:32] #7362 closed, assigned to elssar, ArjunSingh-PM

[2020-01-14 09:47] vvs11 commented on #7886
@saswatds @codenirvana Could you help here?

[2020-01-14 10:14] aimar115 commented on #7615
Got my sccm deployment working following this guide: https://www.prajwaldesai.com/deploy-microsoft-teams-using-sccm/

both install and uninstall are working.

[2020-01-14 10:34] ankurdengla1996 commented on #7294
Hey @bartholomew1 @Fyrilin @skn91111557 !
Could you send us the app logs in order to help us debug this issue better? The logs can be found using the View menu in the app - `View -> Developer -> View Logs in Explorer`. Please send all the logs located in this directory to help@postman.com with the subject as `Logs for Github issue #7294`.

[2020-01-14 11:21] niikoo commented on #3919
Do you have an ETA?

[2020-01-14 12:04] cyrielle-hada commented on #6368
Reporting here on the behalf of a team.

**Describe the bug**
- This team's large collection (112 requests) is not syncing across instances once it is updated - it does sync but after a while (a couple of days). Example of edits that are not updated on another instance:
- Missing or incorrect Keys showing in the environment quick look.
- Incorrect parameters in some requests.
- Incorrect order of

[2020-01-14 12:05] AnkitPandoh commented on #4361
same issue with the latest version

[2020-01-14 13:43] trirashmiambedkar opened #7912 "CR: Whether Request is save or unsaved that bubble should be displayed at side bar"
Expecting
![image](https://user-images.githubusercontent.com/38806712/72349080-d36f4080-3701-11ea-861a-c0f0249e63b4.png)

[2020-01-14 14:20] trirashmiambedkar opened #7913 "CR: Requesting New feature to be added"
1. Allow CSV file to be added and store in postman and user can view it
2. Allow CSV to be added folder level as well
3. Please add intellisense for chai assertion to be displayed in Tests Tab
4. Point 1 and 2 with JSON file, so user can do quick comparsion
5. Response window should be maximum to full screen
6. Should be allowed to a generic functions as a utility which can be ustiltised in call f

[2020-01-14 15:28] atallon commented on #7895
Seeing the same on Version 7.15.0 w/ OS X 18.7.0 / x64

[2020-01-14 15:31] PhilRB commented on #7553
I had the same issue after doing a rollback/restore on my windows machine to a point before I updated Postman, after that I wasn't able to run/open Postman application and reinstalling it with the same version (latest version 7.14.0) produced the error mentioned in the title.

Renaming my **AppData\Roaming\Postman** directory to **Postman.old** as mentioned above also resolved the issue for me.

[2020-01-14 15:35] 4selin commented on #350
+1

[2020-01-14 18:05] TomLaMantia commented on #7754
I am also experiencing this problem with Postman 7.14.0 on Windows 10 .

Setting the appropriate env var to disable GPU usage and running in compatibility modes as suggested in other threads does not do the trick for me.

[2020-01-14 19:05] jsooter opened #7914 "Headers missing from documentation code examples when collection is generated from OpenAPI 3 schema"
**Describe the bug**
When a header is included as part of the securitySchemes in OpenAPI 3.0 it is correctly added to a collection generated from that schema. However, documentation generated from that collection does not include the header in code examples as it should.

Headers ARE included in documentation code examples for collections that are not generated from API schema.

**To Reproduce**
S

[2020-01-14 21:26] costerman commented on #5194
+1 Can we expect to see this hit the Postman roadmap?

[2020-01-14 22:54] HELSIS666 commented on #4009
+1

[2020-01-15 00:48] loopDelicious opened #7915 "UX suggestion while updating user roles"
Team Management UX suggestion

When I update a user's role within my team, I don't see that I need to save my choices (or take any additional action). The notification to do this is at the top and out of view.

<img width="1533" alt="Screen Shot 2020-01-14 at 4 11 08 PM" src="https://user-images.githubusercontent.com/17693714/72395186-871a0580-36ed-11ea-8afe-378a6e2fe505.png">

I would need to scr

[2020-01-15 04:00] diwakar-s-maurya commented on #7897
I am also facing the same problem - 403. I am using "Postman for Linux - Version 7.15.0 - linux 5.0.0-38-generic / x64"

[2020-01-15 04:11] preethammavin commented on #7818
@atulTrip can you give more details on your workflow and the use case for us to better understand the request.

[2020-01-15 04:32] davepatel95 commented on #7553
I'm still encountering this problem on my Mac, uninstalling/reinstalling is not solving it either. Any solutions?

[2020-01-15 05:19] rburnham52 opened #7916 "Add a tab to manage all effective variables for a request"
**Is your feature request related to a problem? Please describe.**
While developing an API it is useful to setup postman for manual testing. parameters such as ID's can change depending on what you want to test.

It makes sense to set ID's up as variables but currently it is a bit painful to see and override what the values are for your current request

**Describe the solution you'd like**
Add a U

[2020-01-15 06:29] serendipity30 opened #7917 "Remapped control keys (paste, undo, redo) does not work in Mac using Windows Keyboard"
Remapped keys in Mac does not work when using Windows keyboard in Postman.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to System Preferences... / Keyboard / Shortcuts...
2. Add separate shortcuts for Cut, Copy, Paste, Undo, Redo & use keyboard keys Ctrl+X, Ctrl+C, Ctrl+V, Ctrl-Z, Ctrl-Y respectively to map them. Ensure that mapping is applicable for all applications. No changes are do

[2020-01-15 07:30] Arneoldenhave commented on #7553
Same here, it suddenly started giving me this error

[2020-01-15 08:14] meetSuraj commented on #7897
@lmindwarel As you said that it is not working on the other computer, on that computer have you tried to check the IP on both app and browser, if it works in one of your PC and not other one, other one may have some proxy extension installed in web browser, which is causing this issue.

[2020-01-15 08:15] meetSuraj commented on #7897
@diwakar-s-maurya Have you installed any proxy/VPN extension in browser?

[2020-01-15 09:25] lmindwarel commented on #7897
This issues was the same as #7851 . I'm on KDE too.
I follow the steps you give (reset pass etc.) and it's working.
But so strange because sign in with google work 1/2 month ago.
Thanks for your help

[2020-01-15 09:58] PylotLight commented on #2689
This was still being considered in mid 2019 is that right?
Is this setting still being worked on?
Look at this mess generated by the temporary headers:
 sessionid=e798ac6bbb62db95b9f3bc4a69e338f0; sessionid=7dbd00b00a4b418b5ab3c4555a93835c

[2020-01-15 10:14] spaceemotion opened #7918 "Missing "set collection" variable from response in context menu"
**Is your feature request related to a problem? Please describe.**
I have an API that creates nested resources (`POST invoices`) and would like to use that ID in another request (`POST invoices/<id>/payments`). Using collection variables I am able to have dynamic URLs, but there is no option to easy set an ID from the context menu from within the response as there is for "local" variables.

**Desc

[2020-01-15 10:59] bendeitch commented on #6682
+1

[2020-01-15 11:52] LaurieBrownBulkhead commented on #2086
+1
I can't believe this has been left for so long without any resolution. It makes using postman so frustrating and comparing the bodies of multiple requests tedious. The Params tab is almost useless to me so defaulting to it is very annoying.

[2020-01-15 12:12] HenriLangenhoven commented on #3825
+1

[2020-01-15 14:46] neillindberg opened #7919 "Support Sorting Environments"
**Problem**
I'm always frustrated when my QA team member points hands me a big wad of collection and environment and I need to go change some environment value, but the keys aren't sorted in the editor pane. I find myself scrolling through gigantic lists of unsorted added-as-needed environment values. Here is a snippet of what I'm talking about:
![image](https://user-images.githubusercontent.com/1

[2020-01-15 15:30] johanlunds opened #7920 "Google login with a 2nd account does not work"
**Describe the bug**

I have 2 Postman accounts (1 work, 1 personal). Both have Google/Gmail addresses. Using "Login with Gooogle" I can only login with my personal Gmail address. I never get an option to login with my work Google email.

**To Reproduce**
Steps to reproduce the behavior:

1. Create 2 Postman accounts, both created using "Login with Google" and 2 different Google accounts
1. Log ou

[2020-01-15 16:22] swagulkarni commented on #7294
Is there any fix for the performance issues with Postman? I am using 7.14 on Windows 10 and it annoyingly slow. The postman takes up almost entire CPU once started and won't let me do any actions on the app.

[2020-01-15 16:47] jeotte commented on #7553
I'm encountering this as well, on mac with the latest version of postman

[2020-01-15 17:19] stcalica commented on #7553
Users reporting issue. One on Mac and another on Windows.

Try clearing the cache to see if this resolves the issue.

**PLEASE BACK UP DATA BEFORE DOING THIS!**
Instructions below.
https://support.getpostman.com/hc/en-us/articles/360025359014

[2020-01-15 17:28] SamuelDuke commented on #7553
Postman help center has a guide for how to correct the issue for Mac, Windows, and Linux.

[https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error-](url)

[2020-01-15 18:23] perez0711 commented on #4171
+1

[2020-01-15 19:02] wspencer commented on #2086
I suspect the postman development team has become so 'agile' they can't get anything simple done anymore.  This is a glaring usability issue.

[2020-01-15 19:14] meetSuraj commented on #7920
@johanlunds Are you logged in with both personal and work account in google? If you have only logged in your personal account in google, then when our application ask google to authenticate you, google automatically uses the account logged in and not provide option to login with different account, but if you have multiple google account logged in, then it takes to account chooser page.

[2020-01-15 20:00] bmoeskau commented on #3994
Doesn't seem like this answered the fundamental question about properly supporting the ":" character within the path of a URL. We also use the Google syntax guidelines, specifically the [Custom Methods](https://cloud.google.com/apis/design/custom_methods) recommendation of using a colon to separate custom `name:verb` resource names (e.g. separating `POST /foo` (create) vs `POST /foo:search` (to su

[2020-01-15 21:47] mikesigs commented on #7797
I just got bit by this today. The docs aren't updated yet, so I thought I'd provide a longer list of dynamic variables from the docs that don't produce a result.

[code]

[2020-01-15 22:20] jhicksrowmark commented on #4171
+1 Need this option as well! I use a Pre-request Script that needs the exact URL that will be sent. For now I was able to get by with a workaround:
[code]

[2020-01-15 22:50] rgmembreno commented on #7569
@CundyTech
My session expired and I can't log back in via Google; the "Sign in via web browser" link only works if your default browser has your Google account.  When I copy the URL and try to open it in my sync'ed Chrome browser I get 400/403 errors saying the link is either invalid or already expired.  Can you increase the time that the link is valid, or give us an option to open our browser of

[2020-01-15 23:04] thrixton commented on #7553
Correct link [How to resolve the Could not open Postman error?](https://support.getpostman.com/hc/en-us/articles/360025359014-How-to-resolve-the-Could-not-open-Postman-error)

[2020-01-16 01:34] diwakar-s-maurya commented on #7897
@meetSuraj Yes, I am also using KDE (Plasma v5.15.4). I followed the of reset password and it's working now.

[2020-01-16 02:05] coditva commented on #7797
@mikesigs You can see this updated list for a reference: https://learning.getpostman.com/docs/postman/scripts/postman-sandbox-api-reference/#dynamic-variables

[2020-01-16 04:24] preethammavin commented on #7853
@akelesis if works in Postman, would use our code generator to generate the request code in the language you prefer and try testing it out.

For further support, you can open a thread in our community which is pretty active in helping and will also ensure others benefit from the responses.

[2020-01-16 04:24] #7853 closed, assigned to nobody

[2020-01-16 04:28] sankalp0o commented on #6945
Hi @Diuda , thanks for reporting this! The issue is fixed in the latest Postman app, please let us know if you still face the same problem.

[2020-01-16 04:29] preethammavin commented on #7860
@Hansanshi any chance you can provide the request that you are trying to access? if not can you create a dummy request with the Chinese characters for us to test it out?

[2020-01-16 04:32] #7864 closed, assigned to nobody

[2020-01-16 05:21] Raj-postman commented on #7876
Hi @somyata

If you have followed the documentation, you should be able to commit your collections on GitLab. Can you try adding a new request and check if the same is committed on GitLab (This helped me when I couldn't find my integration committed)?

Also, below are my details on Integration:
- Can you try adding a Directory for you to identify the same.

![Details](https://user-images.githubuse

[2020-01-16 06:03] kartikjain26 commented on #7876
@somyata  Also make sure if you're using custom domain gitlab integration, you're not behind an internal vpc which prevents us to push to gitlab projects.

[2020-01-16 07:46] Diuda commented on #6945
@sankalp0o This is still happening. I'm not able to create a workspace after I leave the team.
![teamleave](https://user-images.githubusercontent.com/12708871/72503710-6b843b80-3862-11ea-957d-05b0a4cb1907.gif)

[2020-01-16 08:41] eduardboamba commented on #7350
On version v7.15.0 and issue is still there. Thanks @ryankeener for the workaround.

[2020-01-16 09:29] dhd0004 commented on #4498
I am having the same problem

[2020-01-16 09:55] IanKemp commented on #1180
In slightly more than 6 months' time, this feature request will be half a decade old. As such I think it's safe to say Postman is never going to implement it.

[2020-01-16 10:20] Zsolti1989 opened #7921 "Duplicated request doesn't use the same environment variable"
**Describe the bug**
If you duplicate a request which uses an environment variable, the duplicated request doesn't use the same variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Have multiple environment variables
2. Duplicate a request which uses an environment variable in the URL
3. Check the environment variable in the duplicated request

**Expected behavior**
They should use the

[2020-01-16 10:31] fgustovo commented on #4009
After years we are still waiting for you with our tears :(

[2020-01-16 10:57] jonathan-s commented on #4009
For people reading this issue, just use firecamp -> https://firecamp.io/ it supports websockets.

[2020-01-16 11:01] aamir-ahmed opened #7922 "Allow users to embed a "View Documentation" button on a landing page for published collections, similar to how we allow users to embed the "Run in Postman" button"
Is your feature request related to a problem? Please describe.
User wants to document all the published collections on a single landing page, instead of having to share the URL for each collection to the end users.

Describe the solution you'd like
Allow the user to Embed a "View Documentation" button onto our Website/Web Portals pages, in order to allow end users to navigate to the published docu

[2020-01-16 11:44] OlgaUtochka opened #7923 "Docs: Additional nesting levels in the "Contents" sidebar"
**Is your feature request related to a problem? Please describe.**

I couldn't find an option to create several nesting layers in the contents menu on the left part of the page. We're creating our docs in Postman and give information not only about API but also about a web interface of our product. So, I'd like to divide the whole docs into two parts (the web interface and API). At the same time,

[2020-01-16 11:54] OlgaUtochka opened #7924 "Docs: inserting a sample request/example in different parts of documentation"
**Is your feature request related to a problem? Please describe.**
We find sample requests and responses generated by Postman very convenient. However, all the requests are given only in the end of documentation.

**Describe the solution you'd like**
It would be useful to have an option to place a direct link to a request or the request itself in the "text part" of documentation.

**Describe alter

[2020-01-16 12:58] zeljkot commented on #4009
They are not very clear about the pricing:

If I understood correctly, beta is free forever.

[2020-01-16 13:53] gitbs commented on #2086
sigh... +1

[2020-01-16 15:38] peval27 commented on #3825
+1

[2020-01-16 15:54] jsparksaac commented on #4361
Having the same issue here. Started with version 7.14.0 and still occurs with 7.16.0. Occurs on our Windows 10 machines running 1809, but not earlier versions of Windows 10.

Process Explorer shows cmd.exe launching reg.exe with REG QUERY HKCU\Software\Google\Chrome\NativeMessagingHosts\com.postman.postmanapp over and over again, pinging the CPU to 100%.

<img width="393" alt="Postman7 14CPU" src=

[2020-01-16 17:05] ArjunSingh-PM commented on #7569
@rgmembreno Thank you for writing to us. We are working on resolving this issue.

Meanwhile, you can either login at the sign-in page that opens on your default browser or directly use your Postman accounts credentials at the Postman app.

[2020-01-16 17:17] vinitshahdeo commented on #7294
@bartholomew1 @Fyrilin @skn91111557
Do you have Interceptor connected while facing a high CPU consumption issue? If not, try installing Interceptor Bridge and restart the Postman App once the installation is finished and check if there's a decrease in CPU usage.

Note: You can install Interceptor Bridge either from the Capture Cookies tab or Request tab with source toggled to Interceptor.

<img wi

[2020-01-16 17:33] tuxtor commented on #6682
+1

[2020-01-16 18:13] stcalica commented on #7553
@thrixton  PLEASE BACKUP DATA BEFORE DOING THIS!
Same article as I posted above.

[2020-01-16 18:15] johanlunds commented on #7920
That worked. I had been logged out of my 2nd Google account. Sorry about that. Closing.

[2020-01-16 18:15] #7920 closed, assigned to nobody

[2020-01-16 18:16] shubham-dota commented on #6730
Just change the permission of the folder to 777 and then export.

[2020-01-16 18:28] Fyrilin commented on #7294
@vinitshahdeo It looks like that fixed the problem!  Mine is hovering around 0.7% CPU after installing the bridge in the Postman application and the extension to Chrome.  It seems like the interceptor has to be connected, though.  I didn't see improvement until I had both the settings/installation in the app and the browser extension installed.  Once it showed as connected and I restarted the app,

[2020-01-16 18:31] abhijitkane commented on #7294
Thanks for confirming that @Fyrilin - we're investigating the CPU usage issue seen when the Interceptor isn't connected, and hope to have an update soon.

[2020-01-16 19:21] vinitshahdeo commented on #4361
@jsparksaac Can you please try installing Interceptor Bridge and see if there is a decrease in CPU consumption?

<img width="955" alt="Screenshot 2020-01-16 at 10 41 30 PM" src="https://user-images.githubusercontent.com/20594326/72555754-3a882300-38c3-11ea-8674-d5884775f3c3.png">

<img width="850" alt="Screenshot 2020-01-16 at 10 45 34 PM" src="https://user-images.githubusercontent.com/20594326/72

[2020-01-16 19:42] demvin opened #7925 "Windows: postman keeps spawning cmd.exe while using 100% CPU"
**Describe the bug**
Right after launch, Postman will continuously spawn cmd.exe subprocesses while using 100% cpu.
The subprocesses are all trying to run "C:\WINDOWS\system32\cmd.exe /d /s /c "REG QUERY HKCU\Software\Google\Chrome\NativeMessagingHosts\com.postman.postmanapp""

**To Reproduce**
1. Launch Postman

**Expected behavior**
Postman starts, doesn't use 100% cpu and is usable,

**Screensh

[2020-01-16 19:49] wizangzing opened #7926 "Do not use special chars in backup filenames so OneDrive can copy the files."
**Is your feature request related to a problem? Please describe.**
Microsoft OneDrive cannot copy Postman backup files to cloud storage because the filenames contain special characters. If you view these files in the Mac Finder the names appear like
`backup-2019-12-29T20/24/45.576Z.json`
however if you use the `ls` command in a terminal, the names appear like
`backup-2019-12-29T20:24:45.576Z.json`

[2020-01-16 20:04] wlarch commented on #4602
I had the same issue becuase I launched Postman with root privileges. The solution is gto set permissions and ownership correctly for my user :

`$ sudo chown -R user:user /home/user/.config/Postman/`

[2020-01-16 20:38] vinitshahdeo commented on #7925
@demvin Users are facing the CPU usage issue when the **Interceptor isn't connected.**
We're investigating the root cause and hope to have a fix soon. Please try to install Interceptor Bridge and restart the app after the installation is finished. Please let us know if CPU usage is reduced after the installation is completed and Interceptor is connected.

<img width="955" alt="Screenshot 2020-01-1

[2020-01-16 21:12] wizangzing commented on #7926
![OneDrive-Error-Notice](https://user-images.githubusercontent.com/28404496/72563088-e8231400-387a-11ea-8349-fc8bc1930356.jpg)

[2020-01-16 21:58] JP-from-Postman commented on #5681
@joegr If Postman is running at startup, you should be able to stop it by going to Task Manager > Startup on Windows 10 (or running msconfig on earlier versions of Windows) and disabling. An alternative would be booting your machine in safe mode and trying the same, plus the step below:

Have you tried using `rmdir -Force` in the command prompt or Power Shell to delete the local files at `\AppData

[2020-01-16 22:46] kennethlombardi opened #7927 "Warn users that "Persist All" in "Manage Environments" will leak all private variables"
When clicking "Persist All" when managing environments any current variable value will be moved to the initial value field and persisted to postman servers.

When exporting the collection after accidentally selecting "Persist All" the values of all variables are persisted to disk in plain text.

**Is your feature request related to a problem? Please describe.**
This feature request is related to a

[2020-01-17 03:41] unmultimedio opened #7928 "Path parameters not ignoring path extensions"
**Describe the bug**
Some APIs support extensions to retrieve the results in a specific format:
- https://some.server/some/path/resource/resourceID.json
- https://some.server/some/path/resource/resourceID.xml

That returns the same info, but in different formats, but if we want to treat `resourceID` as a path `:variable` it will grab the extension as part of the variable name.

**To Reproduce**
St

[2020-01-17 07:10] sourabh7775 commented on #5194
+1

[2020-01-17 07:48] OCram85 commented on #4137
Same issue here. My current workaround:
- Set the focus on the retry button
- Press enter
- Be quick with hitting the link below the retry button

💣 💣 💣 💣 💣 💣 💥

[2020-01-17 10:55] ankurdengla1996 commented on #7515
The fix fo this issue has been released as part of Postman v7.16.0.

Please feel free to reopen the issue if the issue still persists.

[2020-01-17 10:55] #7515 closed, assigned to ankurdengla

[2020-01-17 12:00] DimatiBart commented on #4009
still no support 😔😢

[2020-01-17 12:25] umeshp7 commented on #6719
As of 7.15 we have added support for collection generation from GraphQL schema. You can either use a `GraphQL SDL` or the `retrospection query result JSON` and import it as a collection. This can also be done using the ‘Generate Collection’ button inside the API tab for GraphQL schemas.

Feel free to get back to us with suggestions and concerns regarding the same.

[2020-01-17 12:26] umeshp7 commented on #7024
As of 7.15 we have added support for collection generation from GraphQL schema. You can either use a `GraphQL SDL` or the `retrospection query result JSON` and import it as a collection. This can also be done using the ‘Generate Collection’ button inside the API tab for GraphQL schemas.

Feel free to get back to us with suggestions and concerns regarding the same.

[2020-01-17 12:55] aquiporras commented on #4079
+1

[2020-01-17 13:38] demvin commented on #7925
Thanks for the info. Is there another way to install the interceptor bridge than from within the app ? It always fails to download.  Probably the corporate network, but since automatic updates works, I'm not sure.

![image](https://user-images.githubusercontent.com/1210081/72616218-6d9ed680-3904-11ea-92d4-40017267ec42.png)

[2020-01-17 14:56] Italosayan commented on #4435
Any updates on support for generic Avro?

[2020-01-17 15:17] unel commented on #4009
some news?..

[2020-01-17 15:37] mrtarkhan commented on #2209
any update for hybrid flow?

[2020-01-17 15:52] ivan-uqido commented on #7852
Create an empty file on the desktop and paste the following text in it, save and launch!

[code]

[2020-01-17 16:12] unisev commented on #6418
I'm experiencing this also !
How to re-open ?

[2020-01-17 16:31] woodstoke opened #7929 "'Close All Tabs' don't save any changes"
Steps to reproduce:
1. Create few requests and change something
2. Close one of them and choose 'do not ask me again + save changes'
3. Click 'Close All Tabs' from the context menu on any tab
4. Congratulations! You lost all your changes.

Postman Version [7.14.0]
OS: [10.0.18362 / x64]

Six months ago, as far as I remember, the behavior was the same, but it's ridiculous...

[2020-01-17 16:38] arlemi commented on #7458
@augar5 Closing as we're already tracking this issue in #3126. :)

[2020-01-17 16:38] #7458 closed, assigned to nobody

[2020-01-17 16:51] arlemi commented on #5311
Closing this issue since this is a duplicate of the following in the postman-docs repository:
https://github.com/postmanlabs/postman-docs/issues/2057

We'll update on the advancement there.

[2020-01-17 16:51] #5311 closed, assigned to sankalp0o, Raja-Simha

[2020-01-17 16:54] arlemi commented on #3755
Closing this since it is a duplicate of #3126.

Please add your input on which language you'd like to see added in the other issue so it's easier for us to track. :)

[2020-01-17 16:54] #3755 closed, assigned to numaanashraf, vkaegis

[2020-01-17 18:18] arlemi commented on #7515
@ankurdengla1996 Is the expected behaviour now that nothing happens? If so can't we grey out the button?

[2020-01-17 18:44] cyrielle-hada opened #7930 "OAuth 2.0 Token Request failing"
Filed on the behalf of a user.

**Describe the bug**

Requesting a new auth token or manage existing auth tokens throws a Something went wrong error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Authorization tab > Get New Access Token
2. Fill all fields
3. Click Request Token
4. See error

<img width="676" alt="Screen Shot 2020-01-17 at 18 39 57" src="https://user-images.github

[2020-01-17 19:50] eborey commented on #7884
It may help. I recently had the same issue with my collection. I was accessing the doc. with Safari from a pinned tab. We found that the issue was only within the pinned tab (maybe some cache problem or bad URL). Just unpin it and pin it again.

[2020-01-17 20:54] joegr commented on #5681
On the first point,
<img width="422" alt="Capture" src="https://user-images.githubusercontent.com/13323388/72645135-80cb9980-3938-11ea-9647-1f4f0688ea7e.PNG"> the app is not found but there is a ghost program where Postman used to be that will not disable - even when disabled, on the next startup, it persists.

On the second point, I have, but I get permission denied, or the install still fails.

[2020-01-17 21:33] JP-from-Postman opened #7931 "Save Responses as pretty JSON"
**Is your feature request related to a problem? Please describe.**
When saving a JSON response to file, the text in the file is concatenated and difficulty to read without opening in an application that support pretty JSON.

Exported Collection JSON files, by comparison, already save prettified.

**Describe the solution you'd like**
When saving a JSON response to the computer, save as pretty JSON.

[2020-01-18 05:54] numaanashraf commented on #7447
Thanks again for reporting this @singhravi1. We've resolved this issue in Postman v7.16.0.

[2020-01-18 05:54] #7447 closed, assigned to nobody

[2020-01-18 07:04] sankalp0o commented on #6945
Hey @Diuda , thanks for letting us know. We are looking into why it's not resolved for you. Will keep you updated!

[2020-01-18 08:20] Elverslane commented on #5194
+1

[2020-01-18 09:48] vinitshahdeo commented on #7294
@bartholomew1 @Fyrilin @skn91111557 @swagulkarni

Please try using Postman Canary(`v7.16.0-canary01`). We've shipped a fix to reduce the CPU usage. Please confirm if this update helps.

**You can download Postman Canary from [here](https://www.getpostman.com/downloads/canary).**

[2020-01-18 09:55] vinitshahdeo commented on #4361
@jsparksaac Please try using Postman Canary(`v7.16.0-canary01`). We've shipped a fix to reduce the CPU usage. We're still working on improving performance and hope to have a stable release soon. Please confirm if the Postman Canary app helps to solve the CPU usage issue faced by you.

[2020-01-18 10:03] vinitshahdeo commented on #7925
@demvin Please try using Postman Canary(`v7.16.0-canary01`). We've shipped a fix to reduce the CPU usage. Please confirm if this update helps.

- **You can download Postman Canary from [here](https://www.getpostman.com/downloads/canary).**

- Please follow the [troubleshooting guide](https://go.pstmn.io/interceptor-installation-troubleshooting) if you face any issues while installing Interceptor B

[2020-01-18 10:10] barelnir commented on #5194
+1

[2020-01-18 14:46] vdegenne opened #7932 "Focus URL textfield on new tab."
**Is your feature request related to a problem? Please describe.**
When creating a new tab `ctrl+t` the URL textfield is not focus.

[2020-01-18 21:22] brentminder commented on #2209
What is everyone else using in the meantime for hybrid flows? This thread is 3.5 years old.

[2020-01-18 23:21] Aeroverra commented on #4690
Definitely need this QOL update!

[2020-01-19 01:55] sebastienbarre commented on #6719
Could you please provide more details? Or quick walkthrough? Where would I put my GraphQL endpoint for Postman to generate the collection from? Thanks

[2020-01-19 03:13] Hansanshi commented on #7860
the url for test
`http://127.0.0.1:8080/api/中文`

The error msg of postman is
`Could not get any response
There was an error connecting to http://127.0.0.1:8080/api/%E4%B8%AD%E6%96%87.`

please note, dircetly copy this url and paste into postman, the url may be converted into `http://127.0.0.1:8080/api/%E4%B8%AD%E6%96%87`, and problem disappear.
@preethammavin

[2020-01-19 03:15] dreamleilei commented on #4009
need this feature

[2020-01-19 23:50] gbweber opened #7933 "Issue with Postman Installation"
When installing the application, it appears a message saying that I have used another version of Postman and that i need to download the latest version. Well, there is only version to download for window 32 bits.

[2020-01-20 01:21] dave-pollock commented on #5963
This is the only thing preventing us from using Postman Monitoring.

[2020-01-20 02:29] fengyangdi opened #7934 "Postman's window is not show when open the app"
1. Postman Version: 7.16.0
2. App (Chrome app or Mac app): Mac App
3. OS details: macOS Catalina 10.15(19A603)
4. Is the Interceptor on and enabled in the app: n/a
5. Did you encounter this recently, or has this bug always been there: Upgrade the postman to 7.16.0  in two days, then it occurs

only can show this window
![WeWork Helper20200120102737](https://user-images.githubusercontent.com/866825

[2020-01-20 03:59] DragonMeme opened #7935 "Placement of welcome screen is off for dual monitor laptop."
**Describe the bug**
A technical bug that renders placement of the starting window that is placed half cut on to the combination of the two screens.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a second screen display via HDMI cable.
2. Start Postman.
3. The starting screen will be shown half on Screen 0 and the other half on screen 1.

**Expected behaviour**
The starting screen shou

[2020-01-20 04:37] numaanashraf commented on #7932
Hey! Thanks for reporting this. We are tracking this at #4282.

[2020-01-20 04:37] numaanashraf commented on #7932
Duplicate of #4282

[2020-01-20 04:37] #7932 closed, assigned to nobody

[2020-01-20 05:27] sarunprasath commented on #7700
Is there any update on this bug ???

[2020-01-20 05:29] Raja-Simha commented on #7819
@mrz1836 Changes to request order will not be reflected within public docs immediately but it should in some time once the changes are synced and they bypass cache. Could you please let me know if that is not the case.

[2020-01-20 05:31] numaanashraf commented on #7933
Hi @gbweber, could you try downloading the latest version again from our website? We just noticed that the download link on website was serving the previous version and we have resolved this issue.

[2020-01-20 05:58] numaanashraf commented on #7071
@gokceng This is an out of memory related error and we have made a lot of memory & performance improvements on the Runner in Postman v7.16.0. Do update and let us know if you are still facing this issue.

[2020-01-20 07:32] mrz1836 commented on #7819
@Raja-Simha  No that one folder is fubar. The sort/order does not work at all in the "users" folder. Let me know if you want to chat or DM I can show you.

[2020-01-20 07:51] Raja-Simha commented on #7819
@mrz1836 Sure. Let's chat.

[2020-01-20 07:54] clembones opened #7936 "PostmanConsole - copy of "SelectAll" does only copy the part visible in the Console, not the entire "selectAll" part"
**Describe the bug**
in postman console, run a Collection with lots of output -
wanting to copy/paste ALL of it, I do - SELECT ALL,
and copy it - pasting it elsewhere, it only did paste the "visible" part in the Console, whilst SELECT ALL, did correctly select all the Console output,
thx

[2020-01-20 08:16] swods commented on #7895
any suggestions?

[2020-01-20 08:39] umeshp7 commented on #6719
@sebastienbarre
Hi. As I mentioned in the previous comment. For now you can only import using
`GraphQL SDL` or `Introspection query result JSON`. This can be done using the IMPORT button on the top left corner.
Here is an example using an SDL file:
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/31915995/72711082-5f63eb00-3b8e-11ea-83d1-a136fe12bf4b.gif)

This can also be do

[2020-01-20 08:48] ankurdengla1996 commented on #7935
We are tracking this issue here - https://github.com/postmanlabs/postman-app-support/issues/7251

[2020-01-20 08:48] ankurdengla1996 commented on #7935
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/7251

[2020-01-20 08:48] #7935 closed, assigned to ankurdengla

[2020-01-20 09:31] crendsist opened #7937 "Collection runner seems not to recognise text file anymore"
**Describe the bug**
After update to version 7.16 in the collection runner we could not upload anymore the very same csv text file (type 'Text Document'), we get "Could not determine format of data file".

**To Reproduce**
Steps to reproduce the behavior:
1. Select a request from a collection in order to open the collection runner
2. Click on 'Select file' and upload the text file
3. Select 'Data

[2020-01-20 09:53] mhkarimi commented on #2801
+1

[2020-01-20 10:47] pavelsaman commented on #7895
I see the same issue in version 7.16.0, app for Windows OS x64

[2020-01-20 10:48] ash007-postman opened #7938 "Discrepancy in Monitor Usage information"
**The user reported the following:**

**Describe the bug**
There is a Discrepancy in  Monitor Usage under Usage Overview page. Monitor usage shows a different number than Monitoring usage details (Once you click on Monitoring usage)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Usage Resource usage
2. Click on View Detailed Monitoring Usage
3. Next page (Monitoring Usage Details) sho

[2020-01-20 10:59] shivam-postman commented on #7938
In the details page, we have an option to select the timeframe. Is the time period same on overview and details page?

[2020-01-20 11:23] ArjunSingh-PM opened #7939 "If Monitor name is too long, the monitor listing page doesn't show it's status"
**Describe the bug**
If Monitor name is not short enough, the monitor listing page doesn't show it's status

**To Reproduce**
Create a monitor with a long name and pause the same. At the monitor listing page, the status (PAUSED) of the monitor will not be visible

**Expected behavior**
The status of the monitor should be visible at all times

[2020-01-20 11:31] ritwijsinha commented on #7937
Hey @crendsist

We're able to reproduce this on our end, and are fixing this ASAP.

Meanwhile, just rename your data file from `*.txt` to `*.csv` to continue working with your data.

Cheers!

[2020-01-20 12:12] ash007-postman commented on #7938
@shivam-postman Yes, the time frame is the same for both the pages.

[2020-01-20 12:43] gaberlungi opened #7940 "Collection Run details is not showing variable resolved URL instead shows the variable name"
**Describe the bug**
After updating to v7.16.0 there is some missing info in the detail popup of the link of every requests in the collection runner, specially:

- "Response body was not logged" in Response Body
- Request URL shows variable name instead of value (example: {{URL}})

This information was previously there

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Collection Runn

[2020-01-20 13:19] ihasaKAROT-nl commented on #1535
Im with @JohnArrowwood and @waynebsx here. Im currently testing around 100 endpoints with endpoints, end-to-end, bdd-scenarios and miscelaneous tests in seperate folders and flows. Each folder also has a pre- and post-folder. This comes down to over 700 tests just for these endpoints, so on average I HAVE to duplicate every request about 7 times.

The big problem is that I have atleast 500 endpoin

[2020-01-20 13:58] hbertsch opened #7941 "Run Result Export in Version 7.16"
**Describe the bug**
Since version 7.16 in the run report the runtime of each request is not listed seperatly any longer for each run. Before i had a list in there that looked something like:

`"times": [
				"313",
				"200",
				"221",
				"215",
				"354",
				"274",
				"210",
				"214",
				"306",
				"211",
				"214",
				"201",`

not there is only one number left, no mater how often the req

[2020-01-20 14:27] arlemi commented on #7940
Showing variable names instead of values was also reported by a user on Discourse:
https://community.getpostman.com/t/environment-variables-are-not-displayed-at-collection-runner-after-update-postman-to-version-7-16/10209

[2020-01-20 14:44] DeanMauro commented on #4818
@sankalp0o, are there any updates to share on this feature?

[2020-01-20 15:04] rockthis13 commented on #4709
Hello! and what about monitor? does it handle run without cookies? my code that runs without problem in collection runner falls, I think it is because of cookies. Am I right, that code that use cookies will not work in your monitor section, because it handels different, configuration is distincs from what I can set in collection runner, seems nice feature, but it didn't works. with the same code t

[2020-01-20 15:39] mrz1836 commented on #7819
@Raja-Simha  You can find my email or twitter handle from [my website](https://mrz1818.com)

I can share you my collection and documentation and you can see/test it.

[2020-01-20 15:57] gbweber commented on #7933
Hi
I still have the issue. I downloaded the latest version, but was not able to install it. Now the message says: "Not able to open Postman".  Please find below the attached file.
    El lunes, 20 de enero de 2020 02:31:08 GMT-3, Numaan Ashraf <notifications@github.com> escribió:

Hi @gbweber, could you try downloading the latest version again from our website? We just noticed that the download li

[2020-01-20 16:29] Matt-VL commented on #7666
@ankit-m I resolved this by deleting my entire Postman folder in AppData/Local and AppData/Roaming

[2020-01-20 16:29] #7666 closed, assigned to nobody

[2020-01-20 18:40] Fyrilin commented on #7294
I tried installing it and got the same installation error as mentioned in https://github.com/postmanlabs/postman-app-support/issues/5681 .

[2020-01-20 19:02] Exitare commented on #4751
Postman is just crashing after clicking send to get the response. The response body is ~32MB.

Postman installed:

Version 7.16.0
 OS X 19.2.0 / x64

[2020-01-20 19:12] Vegeta86 commented on #7569
Thaaaaaanks!!! <3

[2020-01-20 19:28] shamasis commented on #7822
@pcarrollsbr - just to be on same page, you’re specifically referring to this being an issue in Postman Console and not in the response rendering in the builder window? I’m confirming since we’ve recently ensured that response is shown as-is without JSON parsing in the response view.

Console on the other hand might need some work from our end.

[2020-01-20 20:08] mccannt commented on #7941
Thanks for reporting this issue @HenningBertsch
We have logged an issue for this to investigate and resolve.

[2020-01-20 20:17] AnaGoulart23 commented on #7940
I have the same problem

[2020-01-20 20:34] DavidSonoda commented on #7934
Same problem here.
Postman Version: 7.16.0
OS version: MacOS Catalina 10.15.2
It seems that after I updated the postman Version to 7.16.0. It occurs.

[2020-01-20 20:35] gbweber commented on #7933
Yes, that part was fixed, now I am able to download the latest version, but the app doesn't open when it is installed. There is a black square (the app trying to open) and after several seconds, the message box appears saying: "Not able to open Postman".

[2020-01-20 22:21] mcmessina commented on #4690
In the interim, duplicating the tab and deleting the original tab is another way to clear your console.

Just right-click your tab and select "Duplicate Tab"

[2020-01-21 05:21] seongwon-kang commented on #7933
Install [Everything](https://www.voidtools.com/en-us/), search "Postman" and delete all related folder and retry install

[2020-01-21 06:11] saswatds commented on #7940
Hi, the response logging is now controlled behind setting when you start a run, turning it on will show the headers and body details.
![Screenshot 2020-01-21 at 11 38 15 AM](https://user-images.githubusercontent.com/8796447/72779677-c0e59180-3c42-11ea-9740-71368cbe01aa.png)

Meanwhile, we will get the URL not resolving issues fixed.

[2020-01-21 07:30] iufd commented on #4424
This is becoming a must in a microservice environments. @a85 any chance this will get done? If not is there a way we can somehow generate configuration for all ports?

[2020-01-21 07:42] gaberlungi commented on #7940
Thank you.

[2020-01-21 08:09] ISDemidoff opened #7942 "UI: "Body" tab doesn't clear when HEAD request sending."
**Describe the bug**
"Body" tab doesn't clear when HEAD request sending.

**To Reproduce**
You should have correctly working server with GET/HEAD contract (HEAD should return same headers (and only headers!) as GET on resource). My case is file provider.

![HEAD_request_bug_postman](https://user-images.githubusercontent.com/20634742/72786199-92c27a80-3c5f-11ea-95b7-c1d1dffdba2b.gif)

1. Drop GET r

[2020-01-21 08:33] xaviergm commented on #4690
How is this simpler than the existing clear button?

[2020-01-21 09:17] gshakir125 opened #7943 "TypeError: Cannot read property 'responseTime' of undefined"

[2020-01-21 09:55] HenningBertsch commented on #7941
A similar issue exists for the "allTests" section too:

* expected result:
`"allTests": [
				{
					" must respond with HTTP 200": true,
					" must respond with an access token": true,
					" must respond with the scope you've requested": true
				},
				{
					" must respond with HTTP 200": true,
					" must respond with an access token": true,
					" must respond with the scope you've requeste

[2020-01-21 10:04] hbertsch opened #7944 "Disable auto update of minor versions"
Postman is automatically updating  to the next version (e.g. 7.15 to 7.16) and there is no way to prevent this. I have switched off the "Auto Major Update" option but this won't do the trick.

Since there are bugs in the newer versions that prevent working properly for us this is a troubling issue.

**Is your feature request related to a problem? Please describe.**
Related to this problem, since i

[2020-01-21 10:24] #7943 closed, assigned to nobody

[2020-01-21 10:28] gshakir125 commented on #7943
Thank you sir for your  response, i have removed the  detailed  content about the  issue  because there was a misconception to me but i resolved the issue myself, that's why i have removed the content.

[2020-01-21 10:58] ritwijsinha commented on #4690
I'm unable to reproduce this on my system. Could you help me with the exact steps you're following to clear your Console this way?

[2020-01-21 12:31] mccannt commented on #7941
Thanks again @HenningBertsch
We have added this to the issue as well.

I am curious, can you tell us how exactly you are using this information from the runs as part of your CI/CD systems?

[2020-01-21 14:27] Tr3yb0 commented on #7867
I think it would be clearer to users to just rename the duplicate functionality to something else. I think the current functionality is valuable, but it is confusing when called duplicate, to me at least. I was expecting something more along the lines of a Save As than what happens when I duplicated the tab. Not to mention the divergence in functionality dependent on where i click. Fork or somethi

[2020-01-21 14:58] dsicari commented on #675
2020 here \o/
Would love to see this feature!

[2020-01-21 15:01] vincentq opened #7945 "Scripting: pm.request.url inconsistent treatment of disabled params in toString() versus getQueryString() and getPathWithQuery()"
**Describe the bug**
In pre-request scripts (and likely test scripts, but I haven't tested this scenario myself), the behaviour of `pm.request.url.toString()` is different to `pm.request.url.getQueryString()` and `pm.request.url.getPathWithQuery()` when there are disabled (unchecked) GET parameters in the Postman UI.

_My use case: Using pre-request scripts to calculate a HMAC-SHA1 signature again

[2020-01-21 15:19] hvitis commented on #5215
+1

[2020-01-21 15:26] vincentq commented on #7945
Relevant source snippet: https://github.com/postmanlabs/postman-collection/blob/develop/lib/collection/url.js#L279
[code]

There is reference to deprecated functionality for the `encode` but does not address `ignoreDisabled`, and the implementation in `toString()` simply implements as follows:
[code]

A more sensible default here would be to add `ignoreDisabled: true` to `getQueryString` and `getP

[2020-01-21 15:51] CreepyGnome commented on #6023
This is still an issue in the latest version of Postman.

[2020-01-21 15:59] mccannt commented on #7780
@Quietbeat Can you verify if this is still an issue in the latest version of the application?

[2020-01-21 16:08] tosulc commented on #363
+1

[2020-01-21 17:40] marshallr12 opened #7946 "Manage Tokens Produces Error Dialog"
**Describe the bug**

Selecting "Manage Tokens" produces error message every time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any collection and  'Edit'
2. Click on 'Authorization' Tab
3. Click 'Available Tokens' dropdown
4. Scroll to 'Manage Tokens' and select.
-Error dialog opens

**Expected behavior**
The manage tokens dialog should open.

**App information (please complete the

[2020-01-21 17:52] tomershay commented on #4128
@sanduhrs, I'm happy to update that since upgrading to the last Canary version, this issue was resolved. Will keep you posted in case it will come back in the future. Thank you!
For reference, I'm currently using: version 7.16.0-canary01 (7.16.0-canary01)

[2020-01-21 18:46] Quietbeat commented on #7780
Yes this is an issue, you need to allow users to 'reset the runner' without backing out (it's not intuitive that you have to do this and a waste of time).

[2020-01-21 18:56] stcalica commented on #7940
reported by user.
blocking their release pipeline.

[2020-01-21 20:10] dcaleymt opened #7947 "Need ability to execute a folder of requests and continue from *current* request"
**Is your feature request related to a problem? Please describe.**
We have a large unit testing environment which multiple developers work in. We sometimes have to add some "batch" type work in a helper folder that happens after a given request executes. After that helper folder executes, we want to continue processing requests from where we left off.

_Main Folder_
RequestA - after this request f

[2020-01-21 21:55] rv-lrodrigues commented on #4079
+1

[2020-01-21 22:02] pcarrollsbr commented on #7822
Yes, I was more concerned about the disconnect between raw and formatted within the console. As you can see in the builder, there may be lingering affects from really big numbers.

----------------------------------------
 From: "Shamasis Bhattacharya" <notifications@github.com>
Sent: Monday, January 20, 2020 2:28 PM
To: "postmanlabs/postman-app-support" <postman-app-support@noreply.github.com>
Cc

[2020-01-21 23:21] kgonyon commented on #7024
I have started using the `Generate Collection` with our new graphql api and the only issue I have found is the queries generated don't include fields that are not scalar types. For example we have a schema that includes
[code]
but the generated query only includes
[code]

Basically only fields that are scalar types. I am not sure if this is the intended behavior or not, but it would be nice it if

[2020-01-22 00:59] Veraxus commented on #2302
+1 also due to JIRA. I can't believe such a fundamental auth feature has been open and unaddressed since 2016.

[2020-01-22 01:56] danielcifuentes54 commented on #2701
+1

[2020-01-22 05:20] ArjunSingh-PM commented on #7479
We have not been able to gather logs from the user as the user had cleared their local directory. Presently, we can not proceed further to identify the root issue and resolve the issue.

Closing the issue due to lack of information.

[2020-01-22 05:20] #7479 closed, assigned to ArjunSingh-PM

[2020-01-22 07:02] ankit-m commented on #6368
@cyrielle-hada I tried to reproduce this issue with a large collection (~500 requests with large descriptions and example - 40MB JSON). The collection did sync in about a minute. Same goes for importing a large collection.

Could you tell me more about the collection? Was there anything specific about this collection - like large descriptions, multiple saved examples, etc.

[2020-01-22 07:09] ankit-m commented on #7905
Like @AisoRed said, you can find the settings by clicking on the wrench icon in the top bar. Feel free to re-open this issue if you need more help.

[2020-01-22 07:09] #7905 closed, assigned to nobody

[2020-01-22 07:27] ankit-m commented on #7435
API now returns a `fork` object for forked collections.

[2020-01-22 07:27] #7435 closed, assigned to nobody

[2020-01-22 07:28] ankit-m commented on #6913
Postman API now supports merging forks.

[2020-01-22 07:28] #6913 closed, assigned to ankitjaggi, preethammavin

[2020-01-22 07:35] ankit-m commented on #7841
@arlemi This is a limitation of our current implementation. Changes to this are on our roadmap. Will update this issue once we start work on it.

[2020-01-22 08:10] ankit-m commented on #7805
I am able to reproduce this issue and have created an issue on our internal tracker to fix this. Will update this thread once it is fixed.

[2020-01-22 08:26] ankit-m commented on #7773
@stcalica I have not been able to reproduce this issue. Would it be possible for you share a screen recording?

[2020-01-22 08:37] VShingala commented on #1906
Hello Everyone,

We have added support for importing RAML 1.0 definitions in Postman App v7.16.0. You can head over to Import in top left corner of App and select appropriate flow for importing.

This also includes support for importing API definition with multiple files having external file references using `!include` tags under Import Folder flow.

We've also open-sourced this converter at [raml

[2020-01-22 09:24] ankit-m commented on #7119
Issue closed after email conversation.

[2020-01-22 09:24] #7119 closed, assigned to ankitjaggi, preethammavin

[2020-01-22 11:43] richardkarlsen commented on #3825
Ping 😄

[2020-01-22 13:49] levi217 commented on #2934
In the same boat. Using `client_credentials` grant type without an audience option gives me `Non-global clients are not allowed access to APIv1` errors. The query-string trick doesn't work for `client_credentials` grant type unfortunately. It would be great if an audience box was added.

[2020-01-22 15:54] HenningBertsch commented on #7941
Hi @mccannt, sure.
The APIs we use are numerous and hidden behind various API gateways. Also we do not have full insights into their logs and telemetry data (for a variety of reasons). We use the json export of our test results mainly to see which endpoints act reliably and to track their response times for certain use cases.

E.g. if a team wants to know how a set of services and operations (for

[2020-01-22 16:02] nagu commented on #7383
Autohide should be disabled by default and need a config to set it.

[2020-01-22 16:12] renearias commented on #6682
+1

[2020-01-22 16:15] Nmirontsev commented on #4817
@prashantagarwal , I see this issue now on my Catalina Mac. I can't open console for the last at all. Not even once.

[2020-01-22 16:30] Hack-N-Coded commented on #1630
Hello, I have the same problem here. Anybody help?

[2020-01-22 17:05] Hack-N-Coded commented on #7569
THanks

[2020-01-22 17:08] chrislentz commented on #4912
Any updates on this? @godfrzero @sankalp0o @Raja-Simha

It has been close to 2 years since originally reported. If I set authorization at the collection level and set all of my requests to "Inherit auth from parent", the auth headers don't show in the documentation at all.

[2020-01-22 17:14] Hack-N-Coded commented on #7010
I will try too

[2020-01-22 17:27] aelesia commented on #7870
Happened again today.

1) Postman was closed many days ago.
2) Screen went black and multiple apps crashed.
3) Postman had 3 processes open, consuming 20GB+ in total.
4) Took a screenshot but the picture wasn't saved. Possibly ran out of RAM.
5) Ended all 3 processes.
6) Took a second screenshot of the aftermath. You can see CPU, RAM, Disk 0 I/O & WiFi I/O spiking to >90%.

I'm uninstalling this s

[2020-01-22 17:33] meetSuraj commented on #7010
@Hack-N-Coded Are you behind some proxy too, what error message did you see when you try to login?

[2020-01-22 18:46] JP-from-Postman commented on #5681
@joegr What about using a utility like [CCleaner](https://www.ccleaner.com/) to cleanup any messed up registry entries and possibly uninstall the "ghost app"?

[2020-01-22 19:03] mccannt commented on #7941
@HenningBertsch Great! This is much appreciated and very much makes sense how it would work in your use case.
Thanks for sharing that with us.

We are actively looking into this so stay tuned :)

[2020-01-22 20:04] umeshp7 commented on #7024
@kgonyon Awesome to hear that you have started using the feature.
We are aware of this problem and we are working on getting configurable options while importing a schema.
In this case, this issue will be solved by the `depth` option. By default, we have kept the depth to which the query be generated to `1` (which is only the scalar types). A depth of `2`, will fetch all of the immediate types alo

[2020-01-22 23:13] CrunchyTechieGuh opened #7948 ""Content-Type is present" script is failing in 7.16.0"
When using the "Content-Type is present" snippet to verify that a response is Content-Type application/json, the test will fail saying Content-Type is Json | AssertionError: expected response to have header with key 'application/json'. This did not fail in previous versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request that will return a Json response.
2. In tests tab, fi

[2020-01-22 23:28] CrunchyTechieGuh commented on #7948
I have reproduced this with a binary/octet-stream type response also.

[2020-01-23 03:02] saswatds commented on #7941
Hey @HenningBertsch this issue has been fixed from our end and should be out with the next release of the app.

[2020-01-23 04:01] nickm8 commented on #4287
Using version 7.16.0 this has been fixed in the runner.
It now uses the same datafile when using the retry button.

The only issue I see is that it shows the Environment Name as "No Environment" after a retry.
This doesn't actually impact the environment variables used for the run.

It might be better to track that in a different ticket as this is now resolved.

[2020-01-23 07:49] HenningBertsch commented on #7941
Hi @mccannt  & @saswatds, thanks a lot for investigating this issue! Hope to get my hands on the new version soon :)

[2020-01-23 08:10] Dracer5 commented on #7348
It would be nice, if I could choose not only request within the collection, but also folders. For instance, I would create folder "Tests" containing folders "Ping - every hour" and "Full integration - every day" to achieve goals:
1. ping all services or methods inside every hour
2. run integration tests with my logic every day to be sure that logic works as it should be.
And then I might create 2

[2020-01-23 08:15] ritwijsinha commented on #4817
@Nmirontsev

How are you trying to open Postman Console? Like @prashantagarwal mentioned, if you have apps like Spectacle which have conflicting shortcuts (⌘⌥C) then you won't be able to open Postman Console with the shortcut.

[2020-01-23 09:25] EladWeinson commented on #7867
What is the benefit of having 2 requests that are linked?
If it is wanted, at the very least, the save functionality should change to something more clear. Currently, you save a request and a tab == request (or at least that is how the UI is built). It is misleading to think that saving changes unselected tabs

[2020-01-23 09:36] milititskiy opened #7949 "Postman v.7.16.0 crashes when a run request in collection is interrupted by CANCEL button."
Initial Setup

**Create a collection (e.g: abc)**

1. Add 3 folders to the collection.
2. Nest 3 folders with chaining requests to the lowest  folder.

**Steps to reproduce the behavior**

1. Go to created Collection.
2. Run request from the lowest folder in the ierarchy.
3. Press "Send" button.
4. Wait until Cancel  button appears near HTTP status line.
5. Press appeared Cancel button.
6. Postman

[2020-01-23 10:10] Zakir99458 commented on #2656
Is it resolved? I mean it is an old issue and still, I am not able to generate an HTML report using Postman directly. I have to use Newman instead.
Please let me know.

[2020-01-23 10:45] DannyDainton commented on #7948
Hey @CrunchyTechieGuh ,

That error is saying that the `Key` is incorrect as that would be `Content-Type`. The value of the key would be 'application/json' or the type of response header for your request.

The snippet in the app takes a second argument for the value of the key `pm.response.to.have.header(key:String, optionalValue:String)`.

In the test, that would look like this:
[code]

More info

[2020-01-23 12:40] gerab commented on #7100
still broken v 7.16.0 MacOs

[2020-01-23 12:57] Kocicak commented on #7534
Working command: `DISABLE_WAYLAND=1 snap run postman`

I have just edited .desktop file (/var/lib/snapd/desktop/applications/postman_postman.desktop) - added that env variable and now it is OK. We just need to wait for postman / electron devs add support for wayland.

Or maybe we should stick to X11 for another year or so, it just works.

[2020-01-23 14:08] itsmoirob opened #7950 "Postman crashing when sending any request, "request.size" is not a function"
**Describe the bug**
When I try to make a request in Postman the app just stops and closes. Logs show a `Uncaught errors",{"name":"TypeError","message":"request.size is not a function","stack":"TypeError: request.size is not a function\n    at Function.response (/usr/share/Postman/app/resources/app/services/RuntimeExecutionService.js:415:38)\`

**App information (please complete the following info

[2020-01-23 14:39] augustocb23 commented on #7740
Any progress?
[Link swagger](https://sandbox.simboxplay.com.br:5001/index.html)

I'm with the same problem. The model `Jogo` haves a reference to `UltimaVersao`, of `VersaoJogo` type, that haves a reference to `Jogo` again.

[2020-01-23 15:09] NicholasSimons commented on #4058
This is something I would like to have as well!!! :) :bird:

[2020-01-23 16:01] dwaite498 commented on #7940
I am having the same issue and I have a growing list of API runs that need to happen. Is there any idea as to when this issues will be resolved?

[2020-01-23 17:48] gonensh opened #7951 "UI hangs when sync is in progress"
**Describe the bug**
Whenever I open a team workspace, the UI hangs until the downstream sync is complete.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman App
2. Click on 'My Workspace'
3. Select a team workspace that will sync from the cloud
4. The UI becomes progressively unresponsive and hangs until the downstream sync is complete

**Expected behavior**
Two expected behavior

[2020-01-23 18:01] vdespa commented on #7551
I have just tested again an OAuth2 using Postman version 7.16.0 and it worked. For that reason, I will be closing this issue.

If you still encounter issues with this, please create a new issue and describe your problem there.

[2020-01-23 18:01] #7551 closed, assigned to nobody

[2020-01-23 18:11] vdespa opened #7952 "OAuth2 helper: Postman console does not log all requests"
**Describe the bug**
It seems that the Postman console does not log all the requests that are being sent out.
When the popup window opens, the HTTP traffic is not recorded.

**To Reproduce**
Steps to reproduce the behavior:

- Go to Authorization
- Select OAuth 2.0
- Click "Get new access token"
- Select Grant Type "Client credentials" (or Authorization Code)
- Fill in some data
- The error appear

[2020-01-23 19:06] shashankaholic commented on #5789
@vkaegis @Raja-Simha Do we have any ETA on this fix ? Is there a out-of-box workaround to show `click to expand` meanwhile ?

[2020-01-23 20:25] konstad commented on #7777
i am also experiencing this issue :(

[2020-01-23 21:34] katt0050 commented on #285
+1

[2020-01-23 22:31] CrunchyTechieGuh commented on #7948
I suspected this, exact thing, just didn't know how to change it. So why did it only start to fail recently?

[2020-01-24 05:32] ankit-m commented on #7951
@gonensh could you tell me how many collections and environments exist in your team workspace?

[2020-01-24 08:33] stloc commented on #7055
`killall _Postman`

[2020-01-24 09:01] Blacksmiss commented on #7934
Similar issue - Postman shows a blank screen only.
Postman Version: 7.16.1
OS Version: Win10, Version 1903 (Build 18362.592)
Issue came up after update.
![PostmanBlank](https://user-images.githubusercontent.com/57681944/73056689-faf7a300-3e8f-11ea-9245-49c01cb6aca8.png)

[2020-01-24 09:10] Aravindsaivellappat opened #7953 "Postman using 28-45% CPU while being in background"
**Describe the bug**
Postman running on macOS Mojave consuming about 28-45% CPU on average while in minimized state and without running any tasks.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman.
2. Hit a couple of API requests (can be any).
3. Leave it idle for some time.
4. Try checking the activity monitor.
5. Minimize the application.
6. Again verify the CPU usage in activit

[2020-01-24 10:36] Ramya-From-Postman opened #7954 "Changelog doesn't reflects information about published/unpublished documentation"
Currently, there is no way to know who published/unpublished the documentation of a shared collection in the team. So, it will be good if the following features are added pertaining to this.

1. While unpublishing a shared collection, users should be prompted to add the reason for unpublishing the collection in the comment section
2. A person who unpublished the collection along with the reason sh

[2020-01-24 12:12] muhammad-shafique commented on #7885
Hi Postman Team,

Is there any chance to get this feature implemented please? Actually we need to document our product documentation if this could help us, else we need to move to any other alternative.

Would appreciate your response on this, thanks!

[2020-01-24 12:17] jguay opened #7955 "Error while importing Swagger 2.0: (Patchable) path parameters must be required:true"
**Describe the bug**
Postman Import as collection returns :
[code]

Example payload :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Import
2. Click on 'Paste Raw Text'
3. Paste payload in v2 swagger with path `"required": false`
4. See error

**Expected behavior**
No error on importing the collection

**App information (please complete the following information):**
 - App Type

[2020-01-24 12:20] godfrzero commented on #7885
@muhammad-shafique Is there a reason why these error codes can't be documented using the freeform request/folder descriptions? We've seen people use markdown tables or lists to cover this use case.

[2020-01-24 12:23] RuggeriLuca opened #7956 "R"
Hello,
We have the below case :
1 - Create a collection on postman using Pre-Request Script and Tests scripts .
2 - Export the collection
3 - use the below command line to run the collection for 100 iteration :slight_smile:

newman run C:\temp\004_L10_Orchestrator_L10_UAT_V4.0.postman_collection.json -g C:\temp\Euro_globals.json -e C:\temp\UAT-L10-WagerOperations.postman_environment.json --folder

[2020-01-24 12:39] jackielii commented on #4775
OIDC defines that in the implicit grant, for response_type, if token is specified, either id_token or code must be specified: https://openid.net/specs/openid-connect-core-1_0.html#Authentication

![image](https://user-images.githubusercontent.com/360983/73069787-91cf5a00-3ea6-11ea-895d-798719ebca70.png)

[2020-01-24 13:58] jguay commented on #7955
Nevermind https://swagger.io/docs/specification/2-0/describing-parameters/#path-parameters does mention required true is mandatory, closing this sorry

[2020-01-24 13:58] #7955 closed, assigned to nobody

[2020-01-24 14:32] av1m commented on #6096
One solution is to use the site https://explore.postman.com/ in order to press the button "Run in Postman" which has worked from this site.

[2020-01-24 15:07] muhammad-shafique commented on #7885
Can you please provide any example or screenshot? I tried but couldn't find where to document possible error code for a  particular web response.

[2020-01-24 15:34] togakangaroo commented on #350
When doing something like qraphql which contains `\n` inside a json field. When copying as cURL and pasting into postman (on a mac at least) those come across simply as `n` dropping the back slash.

[2020-01-24 15:50] stevemk14ebr commented on #7072
please! This is really hard to get right manually as the query blob is json-ified with string escapes for quotes. Ex form:

form-data:

operations: `{ "query": "mutation($file: Upload) { manualUpload(file: $file input: { sample: { filename: \"test\"} }) { sample { md5}} }", "variables": { "file": null }}`
map: { "0": ["variables.file"] }
0: test.bin (file type upload from postman selector)

[2020-01-24 16:09] #7948 closed, assigned to nobody

[2020-01-24 16:44] appurva21 commented on #7940
Hey!!
We have fixed the issue from our end and should be out with the next release of the app.

[2020-01-24 17:32] arlemi commented on #6659
From a [user on Discourse](https://community.getpostman.com/t/how-do-collection-editors-get-notified-when-a-collection-viewers-create-a-merge-request/10305):

[2020-01-24 18:13] roslowry opened #7957 "If header name is incorrect in single REST call and then corrected, an error will still be thrown when running collection"
*****PREFACE******
I believe the below details should be sufficient for replicating and resolving this bug. I will not be closely following this thread, as I have found that restarting Postman solves the problem at hand, though you are welcome to reach out to me if you want.

**Describe the bug**

If header name is incorrect in single REST call and then corrected, the request will succeed. However

[2020-01-24 18:40] gonensh commented on #7951
We have ~114 collections of varying sizes in our shared workspace.

[2020-01-24 21:29] kgonyon commented on #7024
We have a node package that generates our schema so I was able to integrate this with that package and import into our workspace. This worked great. The only other issue I feel we have is the query variables. The default values are usually not useful, but I am not sure how this could be dealt with. Maybe only updating a collection so the queries change, but the variables stay the same?

[2020-01-24 21:50] traturne commented on #5194
Yeeeeees!

[2020-01-24 22:02] vellala2000 commented on #4525
This feature would be helpful

[2020-01-25 05:54] gshakir125 opened #7958 "Check for a JSON value"
What's Wrong with the following test script code to check a Json value in response in postman, I am getting following.
**Error:**
Check for a JSON Value in response | JSONError: Unexpected token '-' at 10:1 ----------------------Request------------------------------- ^)

**Test Script Code**
pm.test("Check for a JSON Value in response",function(){
    var data = pm.response.json();
    pm.expect(d

[2020-01-25 06:48] amodmahajan2016 opened #7959 "Postman 7.16.1 has a major bug in Collection Runner"
Collection Runner is not able to read values from data files.

Steps to reproduce:-
1. Create a Collection.
2. Add a paramterised request to it.
3. Create data file.
4. Run using collection runner.

Expected:- Should run successful.
Actual:- Variables are not replaced with actual values. But Postman console shows correctly.

![image](https://user-images.githubusercontent.com/20769876/73117508-a676

[2020-01-25 08:37] RainerGoermann opened #7960 "Enhance schedule possabilities like execution range using cron like functionality"
**Is your feature request related to a problem? Please describe.**
On the "Edit monitor" page in the area "Schedule" it is at the moment only possible to set the type of timer (houerly, weekly, ...) and the frequence (Every x minutes).
This way it is unfortunately not possible to either add a range where the monitoring should be executed or be paused, like only execute between 0800 and 1400 or exe

[2020-01-25 15:22] akaustav commented on #5580
A similar behavior seems to occur in Microsoft Windows 10 when updating to Postman version 7.16.1
(win32 10.0.18363 / x64).

## Pre-requisites
* Microsoft Windows 10
* Have a version of Postman native application installed which is NOT the latest version.
* Under **Settings** > **Update**, I have **Automatically download major updates** turned on.

## Steps to reproduce
1. Launch the older version

[2020-01-26 11:55] arlemi commented on #7959
Hey @amodmahajan2016, we're currently tracking this in #7940, it should be fixed in the next release.

Closing this one.

[2020-01-26 11:55] #7959 closed, assigned to nobody

[2020-01-26 13:12] Arneoldenhave commented on #7553
I've tried to the steps, but error persists. Postman asks the user to put itself in the applications folder if you say yes it starts throwing this error. There might be an issue there

[2020-01-26 13:12] moonkop commented on #4009
still waiting?

[2020-01-26 13:51] pwae opened #7961 "Issues with syncing - probably related to constant HTTP 429 - Too many request errors"
I apologies in advance if this issue should have been posted in community, but it does not seem like a using the application issue, but instead an issue potentially with my account.

**Describe the bug**
Whenever i try to set up sync, or whatever; with any of the postman sync api's, i see in the developer console that I get a Too many requests HTTP Error (429). Screenshot below.

I've had this acc

[2020-01-26 22:26] javieru commented on #2813
It is totally necessary to have multiple windows on Postman. Sometimes you're working on two projects at the same time and you need a set of tabs open in one window and another set in a different window. Please develop feature.

[2020-01-27 01:14] ThaiRodrigues7 commented on #7700
I am currently facing the same problem, MacOS Catalia 10.15.2, Postman Version 7.16. Is there any updates on this matter or maybe any workarounds while we wait for the solution?

Thank you!

[2020-01-27 01:35] neuronflow commented on #3822
+1

[2020-01-27 02:58] MeromTh commented on #7723
just start with `Postman.exe --force-color-profile srgb`

[2020-01-27 07:41] aslamanver commented on #7055
`pkill -9 Postman`

It works

[2020-01-27 08:24] ankurdengla1996 commented on #7953
Hey @Aravindsaivellappat !

Thank you for reaching out and reporting this issue. We are tracking issues related to high CPU consumption in this thread - #7294 .

I'm closing this as a duplicate. Please follow the original thread for updates. It would also be helpful if you could tell us how much data you have in the app (i.e. number and size of collections, number and size of environments etc.)

[2020-01-27 08:24] #7953 closed, assigned to nobody

[2020-01-27 08:25] ritwijsinha commented on #7848
Hey @vdespa,

I'm unable to reproduce this bug. This is what happens when I follow your steps (tried deleting using `fn + delete` too):

![Github7848](https://user-images.githubusercontent.com/19693841/73159302-3c948200-410c-11ea-93ce-4ad143a33f6a.gif)

Are you reliably able to reproduce this? If yes, it would be awesome if you could help us reproduce this!

Cheers.

[2020-01-27 10:45] namrata66sharma opened #7962 "error while importing: format not recognized in postman"
**Describe the bug**
Whenever I go to import and inside paste raw text https://any-api.com/rottentomatoes_com/rottentomatoes_com/docs/Movie_Lists/BoxOfficeMovieLists and click on import, the error message is displayed "error while importing: format not recognized"

Steps to reproduce the behavior:
1. Go to postman
2. Click on import -> click on paste raw text
3. Click on import in the import box
4

[2020-01-27 11:36] anudeepmedicharla commented on #7802
@ArjunSingh-PM I was able to replicate this issue. The app should show the "Skip signing in" button but in this case, the button changes to "Sign in through email instead". This should be a bug and not a feature.

![image](https://user-images.githubusercontent.com/16399370/73171631-36f86580-4127-11ea-99db-9c8495460302.png)

[2020-01-27 12:06] pcbl commented on #7777
same issue on my end. We have done the update to .Net Core 3.1 and IdentitityServer4  and since then cannot use postman to get the token. Not so keen on add code to handle the SameSite on my end.

[2020-01-27 12:23] Cazaimi commented on #7054
@preethammavin , this issue has been solved. Tested manually too, and I'm able to access shared environments on Public Documentation.

@Raja-Simha , please mark this as closed.

[2020-01-27 12:30] U31664 commented on #3290
unable to get local issuer certificate

Any update with this?

You are up to date! Postman v7.16.1 is the latest version.

[2020-01-27 12:53] webcat12345 commented on #5373
This solution works :+1

[2020-01-27 13:57] breathermachine commented on #2489
I just want to add that Postman doesn't let you update if it doesn't reside in either `~/Applications` or `/Applications`

[2020-01-27 14:37] abhijitkane commented on #6782
@osya

We have added support for importing RAML 1.0 definitions in v7.16 of the Postman app. You can head over to Import in top left corner of App and select appropriate flow for importing.

This also includes support for importing API definition with multiple files having external file references using `!include` tags under the Import Folder flow.

[2020-01-27 14:37] #6782 closed, assigned to raghumurthy-jayandran

[2020-01-27 14:42] abhijitkane commented on #822
Hi everyone -  We've added support for importing RAML 1.0 definitions in v7.16 of the Postman app. You can head over to Import in top left corner of App and select appropriate flow for importing.

This also includes support for importing API definitions with multiple files (with external file references using `!include` tags) under the Import Folder flow.

This feature is in active development - w

[2020-01-27 14:51] hackley2 commented on #6659
Thank you @arlemi for directing me here from Discourse! I'll elaborate on @yossarian123 's questions and what functionality we think would lead to a great "collection management and collaboration" workflow.

1. @preethammavin The ability to request review would be great, but would really only be useful after merge requests already automatically notified Collection Editors that there was a merge re

[2020-01-27 15:19] hlubovac commented on #1854
This problem is back, evident with v7.16.1

[2020-01-27 16:49] AnaGoulart23 commented on #7959
quando será lançada a próxima version?

[2020-01-27 17:28] jadamita opened #7963 "Popup dialog blocking field value"
**Describe the bug**
When clicking on a request body, (ex: a form-data value of a field, it displays a list of different #values like "#guid", "#randomInt"). This display box should be set to a toggle, or this little box shouldn't be displayed at the top left of the box. My JSON body is smaller then the size of this popup, so it makes it extremely tedious to modify the values with this display pop

[2020-01-27 18:04] ro6 commented on #6008
I just experienced this as well. Trying fixes now.

[2020-01-27 19:36] jonathan-bos commented on #7716
I have this issue too. I noticed it last Friday Jan. 24th 2020 and postman app had auto-updated January 16th at 4:14am. Seems to be only an issue after this update from Jan 16.
I was able to use it on January 16th during my work day (after the update) and Jan 24. is the next time I tried to use the app again.
This is the icon I see on my dock for postman once I drag it to the applications folder
<

[2020-01-27 22:35] OwenVey commented on #3825
+1

[2020-01-27 23:05] Arametheus commented on #7700
I have the same issue.  same setup as ThaiRodrigues7

[2020-01-28 00:24] ArjunSingh-PM commented on #6016
This issue is resolved. Static IP regions are visible via the app.

[2020-01-28 00:24] #6016 closed, assigned to ankit-m

[2020-01-28 08:19] itsmoirob commented on #7950
So I couldnt wait for a response.

I tried 7.16.1, but still the app crashes when trying to do anything with the same `"request.size" is not a function` error

So I renamed my Postman files, deleted 7.16, installed 7.15, and the app works fine.

[2020-01-28 08:24] coditva commented on #7848
@vdespa Do you have a collection variable with value as an object? And do you see any logs in the Chrome Developer Tools?

This might be similar to https://github.com/postmanlabs/postman-app-support/issues/7759

[2020-01-28 08:36] codenirvana commented on #7950
@itsmoirob Looks like there's some issue updating the dependencies on the Linux platform.
Can you verify if the issue persists on fresh installing the v7.16?

Maybe try installing it into a different directory.

[2020-01-28 08:59] arlemi commented on #7959
@AnaGoulart23 It is planned to be released on the 29th of January.

[2020-01-28 09:21] itsmoirob commented on #7950
@codenirvana  I only ever manually download from getpostman.com/downloads/

I done as suggested, and deleted the app and tried a fresh install of 7.16.1 and it seems to doing requests fine, ie not crashing. I can close this now.

[2020-01-28 09:21] #7950 closed, assigned to nobody

[2020-01-28 09:47] Wotuu commented on #7435
Awesome! Thank you so much, I'll get to work on integrating this right away.

[2020-01-28 10:44] elyaell opened #7964 "Downgrade to postman 7.15.0"
1. Postman Native App
2. Version 7.15.0
3. Windows 10

Since the upgrade to 7.16.0/1, members of the team can't synchronized their postman application.
Tried to downgrade the version to 7.15.0 to check if the problem exists in this version too (and rules out postman for the possible cause of the bug), but after the installation, postman seems to detect that a more recent version has been used on t

[2020-01-28 13:08] svwsim commented on #3897
This is really annoying, especially where you have to install it as one user with admin privileges but need  to use a standard user for development due to policies.
Makes using it difficult!

[2020-01-28 14:26] sneighborsparamount commented on #4009
+1

[2020-01-28 14:47] Fyrilin commented on #7294
@vinitshahdeo it looks like version 7.16.1 has fixed the issue for me, even with the interceptor disconnected.  Well done, all!

[2020-01-28 15:26] #7903 closed, assigned to elssar, ArjunSingh-PM

[2020-01-28 15:27] sparecycles opened #7965 "Nested variable expansion doesn't work with dots in the host only"
**Describe the bug**
A complex variable expansion with dots does not expand fully when used in the *host* part of the URL.

E.g. `{{a.dotted.{{param}}}}` with `param=value` and `a.dotted.value=dotted` ends up trying to connect to the domain `{{a.dotted.value}}` rather than its expansion `dotted`.

in contrast `{{a-hyphenated-{{param}}}}` with `param=value` and `a-hyphenated-value=hyphenated` ends

[2020-01-28 15:28] cyrielle-hada commented on #6368
@ankit-m the syncing issues were occurring for a shared collection - when Params and Authorization sections would be edited. Sorry, I don't have more context for now. The issue doesn't seem to happen anymore, I will let you know if this re-occurs and will try to give more info.

[2020-01-28 15:29] preethammavin commented on #7897
Closing the issue for now, as we have deployed stability fixes for the same. Please do let us know if the issue continues to persist.

[2020-01-28 15:29] #7897 closed, assigned to ArjunSingh-PM

[2020-01-28 15:32] preethammavin commented on #7839
Hi, we have pushed few stability fixes can you confirm if the issue is fixed or you continue to see the same issue pop up.

[2020-01-28 15:33] #7762 closed, assigned to elssar, ArjunSingh-PM

[2020-01-28 17:55] mccannt commented on #7949
@milititskiy I am trying to replicate this but not seeing the same behaviour.
Is this the setup that you have?

![image](https://user-images.githubusercontent.com/14275144/73291074-57223600-41b4-11ea-8792-d685ecaa6eb9.png)

[2020-01-28 19:20] AnaGoulart23 commented on #7940
have a die to launch an update? @appurva21

[2020-01-28 19:59] jwbanning opened #7966 "'View in Web' rendered docs do not resolve environmental variable for first request"
**Describe the bug**
When generating documentation from the 'View in Web' button on the collection call out
![viewInweb](https://user-images.githubusercontent.com/2584258/73299680-3f0ede80-41d5-11ea-9e51-f1c74442ae37.png), the rendered code sample documentation does not resolve the environmental variable for the first request.

<img width="1762" alt="Screen Shot 2020-01-28 at 1 55 07 PM" src="http

[2020-01-28 20:07] gblikas commented on #6354
I am still having this problem. Is it possible that it also depends on the type of SSL Certificate installed on the server?

[2020-01-28 20:29] elMestre commented on #4009
Well, I solved my project years ago and... well, not sure if at the end will be done, or not.... but at this point I'm subscribed to this request only for the laughs.

(Anyway... it reeeally would be a nice feature)

[2020-01-28 20:30] sneighborsparamount commented on #4009
Yeah thought I would put the +1 there just to keep annoying them…

From: Carlos Mestre <notifications@github.com>
Reply-To: postmanlabs/postman-app-support <reply@reply.github.com>
Date: Tuesday, January 28, 2020 at 3:29 PM
To: postmanlabs/postman-app-support <postman-app-support@noreply.github.com>
Cc: "L. Shane Neighbors" <sneighbors@paramountsoft.net>, Comment <comment@noreply.github.com>
Subje

[2020-01-28 20:31] tkore commented on #4009
I'm just here for the +1's

[2020-01-28 20:58] alexszaarko commented on #4500
Hi can you then use these variables to iterate a request?  Ie parsing the variables into a request, using them to assert in the response?

[2020-01-28 21:05] alexszarko opened #7967 "Create iteration variables in prerequisite script"
Is it possible to create a set of multi-iteration variables in the pre-req script so that when running the collection or request it can iterate using those variable in the request or test on the response?  If so any hints on syntax?

[2020-01-28 21:20] danieladougan opened #7968 "Error: unable to verify the first certificate - only in the Runner"
**Describe the bug**
When running the Runner in our testing environment, in the Postman console, I get:

**Error: unable to verify the first certificate
Warning: This request did not get sent completely and might not have all the required system headers**

And the Runner stops. This is the first route in that collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Postman Runne

[2020-01-28 22:42] sakhtar1979 commented on #2452
Any updates on this?

[2020-01-28 23:18] elMestre commented on #4009
I would have paid for it, unfortunately, also not mentioned on the <a href="https://blog.getpostman.com/2020/01/06/announcing-updated-postman-plans-and-pricing"> paid plans</a>
I can understand how they don't want to deal with WS: incoming connections, dealing with it opened... Lot more things to deal.
Well... ¯\_(ツ)_/¯

Anyway, you can always connect and redirect it yourself via express or simila

[2020-01-28 23:25] siredwin commented on #4009
At this rate, I will get my own Web-based WebSocket client to the market in about 1-2 months. I can understand why they don't want to do it. It is a pain to put together a WebSocket client that actually allows you to use headers. 99% of all clients out there are Javascript based and not very good. Also, many people don't use WebSockets.

[2020-01-28 23:41] elMestre commented on #4009
Sorry for my previous comment: late night bravata. 0:30AM here. I was thinking on some shabby thing. Kinda ‘works in my system’ and if lucky throws errors trough CLI

You are right on both things. Is not a weekend project and is a pain to deal properly.

[2020-01-28 23:55] siredwin commented on #4009
@elMestre, there are a few out there like "FireCamp", etc. But you won't be able to test authorization headers with them. That is actually why I built my own.

[2020-01-29 00:22] Raja-Simha commented on #7966
@jwbanning could you make sure that you selected an appropriate environment through the dropdown. Your screenshots suggest that you have not selected an environment through the environment dropdown.

[2020-01-29 05:32] j9d opened #7969 "Incorrect status code name for HTTP 418"
**Describe the bug**
The description for HTTP 418 reads "Client Error (418)" where the official name is "I'm a teapot"

**To Reproduce**
Steps to reproduce the behavior:
1. Run a request that returns HTTP 418
2. Note the response

**Expected behavior**
HTTP 418 should be returned with the name "I'm a teapot" as per [RFC 2324, section 2.3.2](https://tools.ietf.org/html/rfc2324#section-2.3.2)

**Scr

[2020-01-29 07:02] systemdice commented on #7125
Thank you so much @tsasioglu . You saved my time.

[2020-01-29 07:40] #5686 closed, assigned to nobody

[2020-01-29 08:00] milititskiy commented on #7949
@mccannt Yes,the structure is right. But the request is POST and inside pre-request and test tabs on every level there is also a GET/POST request written in code(pm.sendRequest()).It is a chain of mixture of get and Post requests.
It fails on the latest version of Postman, but works fine on 7.9.0 ( had to downgrade because of the issue).
I can also provide video of the issue if you will not be abl

[2020-01-29 09:43] jpaquit commented on #2851
As a workaround, just put a test at first position in your folder and query it thanks to postman.setNextRequest.
Use OPTIONS HTTP method, and query a fast responding HTTP server (I use a local node.js stub) to make it as lightweight as possible in your scenario
![image](https://user-images.githubusercontent.com/59684082/73344671-0cbbba80-4283-11ea-8867-75d6e19e511f.png)

[2020-01-29 10:07] milititskiy commented on #7964
You need to Physically delete the folder of the 7.16.version.To do that You have to go to the root folder in the system :C:\Users\{{your_username_here}}\AppData\Local\Postman amd delete the folder with name app-7.16.0/1.

[2020-01-29 11:17] DimaOrdenov opened #7970 "Cannot connect using proxy"
**Describe the bug**
I am trying to use global and manually-set proxy settings of my corporate network, but have problems connecting to postman servers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Postman -> Preferences -> Proxy
2. Check "Use System Proxy" and check "Respect HTTP_PROXY, HTTPS_PROXY, and NO_PROXY environment variables"
3. Restart Postman app and get message "You see

[2020-01-29 11:26] jemyto commented on #3358
+1

[2020-01-29 13:56] demvin commented on #7925
Canary fixes it, thanks.

[2020-01-29 13:56] #7925 closed, assigned to nobody

[2020-01-29 14:47] StacySiz commented on #4375
same problem with latest postman version and mac os

[2020-01-29 14:50] fippu82 commented on #4854
Can't believe postman can't do this. I would see it as most important feature of a mock server.

[2020-01-29 15:01] jpaquit commented on #7969
418 is HTCPCP related, not HTTP ;)

[2020-01-29 15:05] thryyy commented on #7075
Agreed, it would help me get rid of dummy requests I use for this purpose.

[2020-01-29 16:29] jwbanning commented on #7966
Here is the updated images >
![environ](https://user-images.githubusercontent.com/2584258/73375914-2e687200-4282-11ea-80aa-72a27613f064.png)

[2020-01-29 16:58] christopher-nash commented on #7958
You are having this issue because of the API you are calling. It is because of the `pm.response.json()` you are using. It is trying to turn the _entire_ response body into JSON, but there are characters in the response body which are invalid JSON.

The full API's response body
[code]

Everything after the line
[code]

[2020-01-29 17:12] mccannt commented on #7949
@milititskiy If you could provide a video clip of this that would be fantastic!

[2020-01-29 20:29] anishkny commented on #2657
Workaround for anyone stumbling on this:

1. Click on filter text box (top left)
1. Enter some character (e.g. "a")
1. Delete it.
<img width="1202" alt="Screen Shot 2020-01-29 at 12 28 18 PM" src="https://user-images.githubusercontent.com/357499/73394706-f0c01500-4292-11ea-96c3-1841a9355376.png">

This collapses all folders. Checked on Postman Version 7.16.0 (7.16.0)

[2020-01-29 20:29] anishkny commented on #6355
Workaround for anyone stumbling on this:

1. Click on filter text box (top left)
1. Enter some character (e.g. "a")
1. Delete it.
<img width="1202" alt="Screen Shot 2020-01-29 at 12 28 18 PM" src="https://user-images.githubusercontent.com/357499/73394706-f0c01500-4292-11ea-96c3-1841a9355376.png">

This collapses all folders. Checked on Postman Version 7.16.0 (7.16.0)

[2020-01-29 21:39] tele-bird commented on #7328
The rationale for having a postman mobile app for iOS/Android goes much farther than merely for convenience!   Mobile devices account for more global internet traffic than desktop, and mobile app developers need to test API's **on the devices where mobile apps run**!

There *are* differences between mobile platforms, and so APIs need to be unit tested.

When a mobile app has trouble with one parti

[2020-01-29 22:11] j9d commented on #7969
HTCPCP is an extension of HTTP. The code is supported in Postman, its name should at least be correct.

[2020-01-29 22:12] m4nu56 commented on #6614
@sankalp0o this sounds fantastic will try it tomorrow. Will it be runnable via Newman too ?

[2020-01-30 02:32] godfrzero commented on #7966
1. If you reorder the requests so that this request is second, does the problem still persist?
2. Would it be possible to share the published URL for this collection so we can take a closer look?

[2020-01-30 05:49] sankalp0o commented on #6614
@m4nu56 Not as of yet. If it were, how would you want to use it?

[2020-01-30 06:40] godfrzero commented on #7851
We've tweaked the login flow a bit to address the issues mentioned in this thread. @elzdave @pazfelipe Can either of you confirm that the browser-based login flow works as expected for you now?

[2020-01-30 07:17] m4nu56 commented on #6614
I followed your instructions to create the API but nothing seem to be happening.
![Screenshot from 2020-01-30 08-12-47](https://user-images.githubusercontent.com/330472/73428017-59150200-4338-11ea-8548-ae9ea95d628f.png)
The collection I added as a Test Suite have the same endpoints as defined in the open api 3.0 spec I added to the Define tab:
![Screenshot from 2020-01-30 08-14-15](https://user-im

[2020-01-30 07:49] samsamm777 commented on #1535
Postman is not fit for purpose without this feature. I cannot comprehend having to create 100s of duplicate requests for each test scenario to workaround this inadequacy. Please implement this feature.

+1

[2020-01-30 08:57] arlemi commented on #6614
@m4nu56 The validation is done automatically and if any issues are found it'll show next to the collection in the `Develop` or `Test` tabs like this:
 ![https://user-images.githubusercontent.com/5029719/72075557-eb068d80-32eb-11ea-8845-96b1afa3ed8e.gif](https://user-images.githubusercontent.com/5029719/72075557-eb068d80-32eb-11ea-8845-96b1afa3ed8e.gif)

The full documentation for this feature is a

[2020-01-30 09:00] milititskiy commented on #7949
@mccannt hI! I have uploaded the video to my google drive. Can you check it?

https://drive.google.com/file/d/1IDzAg20Fyt2r-lHK5XSBaxXvBtwJN5hd/view?usp=sharing

[2020-01-30 10:50] JohnyCape opened #7971 "Clearing local storage when log out"
**Describe the bug**
NOT SYNCED COLLECTIONS ARE LOST WHEN LOGOUT!

**To Reproduce**
Steps to reproduce the behavior:
1. Open postman without loging into.
2. Add collection.
3. Sign in.
4. Log out.
Result: Lost all collections. This is crazy...

**Expected behavior**
Shouldn't clear local storage if it's not synced.

**Screenshots**
-

**App information (please complete the following information):*

[2020-01-30 11:21] paprikati commented on #2302
+1 for xero

[2020-01-30 13:01] Raj-postman opened #7973 "GitHub integration doesn't work for collection of size 30 Mb and more"
**Describe the bug**
Unable to sync collections of size 30 MB or greater to Github

**To Reproduce**
Steps to reproduce the behavior:
1. Create a GitHub integration for a collection of size 30Mb
2. See if the collections are committed on Github
3. Try adding a request/wait for a couple of minutes and see if that helps
4. Yet the collection doesn't commit to GitHub

**Expected behavior**
Be able to

[2020-01-30 13:41] kevcam4891 commented on #4727
Any update on this?

[2020-01-30 15:18] Carl-Hugo commented on #7150
Having the possibility for Pro accounts to join multiple teams would be great, indeed, especially joining different organizations. Implementing this could be as simple as _securing workspaces_ (so less impact on billing and teams code; I guess):

- One user (team) owns a Workspace
- Other team members can join (based on whatever policies are configured using the existing features)
- External Pro a

[2020-01-30 15:55] mccannt commented on #7949
@milititskiy I am able to view it. Thank you so much for this, it will help us in replicating and debugging this issue.

[2020-01-30 16:21] elzdave commented on #7851
@godfrzero I did logout and login again using "Sign in with Google" options and it worked perfectly as expected. Thank you for addressing this issue

[2020-01-30 18:20] jstoiko commented on #1906
@VShingala: this is amazing, great news!

I see that there are some [important limitations](https://github.com/postmanlabs/raml1-to-postman/blob/master/README.md#notes) , specifically the lack of support for RAML Libraries, Overlays/Extensions and anything around inheritance including ResourceTypes and Traits. Those are major features that people use today with RAML so I am afraid that not support

[2020-01-30 18:39] jwbanning commented on #7966
@godfrzero I know more about this now and would like to either share a video about it or get on a call so i can share my screen. In the mean time here is the URL: **https://cs-demo.postman.co/collections/9963739-18a93420-48b1-42b2-8901-aee728044615?version=latest&workspace=fb4665a7-aff7-4245-9203-f278214de410**

[2020-01-30 19:10] clounie commented on #350
1. Perform action(s) in browser
2. Copy HAR so you can "replay" the actions in postman
3. Import HAR as a postman collection
4. Run all in a row, or individually, in postman, to debug issue

[2020-01-30 19:26] Lukazar commented on #3646
+1

[2020-01-30 20:51] filipehb commented on #1535
+1

[2020-01-30 21:13] clayt666 commented on #7937
I am not having a problem getting the file recognized (I am using .csv), but the data isn't coming in. I have double and triple checked that the parameter name matches, but the url always contains "{{variableValue}}" rather than the value out of the file.

[2020-01-30 21:19] harryi3t commented on #7964
@FaithFeather Could you provide us more details about the issues you or your team members faced on v7.16.x?

[2020-01-30 22:39] bruce-palmer opened #7974 "Postman API error at Get Single Monitor endpoint"
We have an in-house .NET utility to run monitor collections via Newman. This utility has been working for several months.

In the last week or so the utility has failed. Specifically, when it attempts to retrieve the details of a monitor it gets a 400 error.

I have tested the API call in Postman and get the same error.

Sample call:
https://api.getpostman.com/monitors/2173985-1e82297a-2d1e-41b0-9

[2020-01-30 22:58] Sourtoast commented on #6583
Yes I'm looking forward to arm64 builds

[2020-01-31 01:12] godfrzero commented on #7966
I was able to reproduce the bug using a similar collection. It looks like this happens when there is no example specified. @Raja-Simha Can you tag this one as a bug?

[2020-01-31 01:20] godfrzero commented on #7851
Awesome, thanks for confirming @elzdave. I'm closing this ticket then.

[2020-01-31 01:20] #7851 closed, assigned to elssar, ArjunSingh-PM

[2020-01-31 02:01] ankurdengla commented on #7970
Hey @DimaOrdenov !
Thank you for reaching out to us. The `Proxy` settings in the Settings modal only affects the request sending feature of Postman. It does not apply to features such as sync, checking for updates etc.

Currently, we do not have support for accessing Postman's cloud features (like sync, updates etc.) through a proxy server that has authentication. We are already tracking this as a

[2020-01-31 02:01] #7970 closed, assigned to nobody

[2020-01-31 02:04] ankurdengla commented on #7963
Hey @jadamita !
Could you provide us screenshot(s) of the issue in order to help us understand it better?

[2020-01-31 03:16] dmttuan commented on #3825
+1

[2020-01-31 06:25] Diuda commented on #6945
@sankalp0o You can close this issue. I tried this recently and the issue seems to be fixed.

[2020-01-31 06:49] aamir-ahmed opened #7975 "SSO Login via ADFS fails specifically on the Mac Application"
**Describe the bug**
**SSO Login via embedded browser on Postman Mac Application**:- Users get a "Something went wrong" error message after they click on "Enterprise Sign-in" and select ADFS as the Authentication method
**SSO Login via Browser on Postman Application**:- User appears to be logged in on the Browser, but the Login status is not reflected on the Postman Mac Application

**To Reproduce

[2020-01-31 10:57] m3dbedb commented on #6521
same issue under windows 7 32 bits and postman 7.16.1

[2020-01-31 11:07] m3dbedb opened #7976 "variables quick look opens behind collections side bar"
**The bug description**
In small resolution (1280x1024 and lower) variables quick look menu opens covered by collection side bar

**To Reproduce**
Steps to reproduce the behavior:
1. Set desktop resolution to 1280x1024
2. Open site bar (ctrl \)
3. Open environment quick look
4. See error

**Expected behavior**
On monitors with low resolution sede bar closes itself, and it is annoying to close it e

[2020-01-31 14:46] jeevananthank opened #7977 "Pm.cookies.jar could not find cookies with secure=true"
**Describe the bug**
I have a list of cookies in my response that has secure=true which is not accessible by the pm.cookies.jar()

This results in an issue where i wanted to clear all the cookies under a domain, which does not happen with the below code on the secure cookies.
Issue opened after the comments from : https://stackoverflow.com/questions/60001892/pm-cookies-jar-could-not-find-cookies-w

[2020-01-31 15:45] clementcur commented on #3825
While waiting for the official implementation in Postman, I've developped a quick&dirty workaround with pre-request scripts and tests. Here is an example with **Keycloak** as the OPID Provider. Tokens content is outputed to the Postman Console (at request 3).

- collection variables:
  - AUTHENTICATION_URL: https://domain.com/auth/realms/myrealm/protocol/openid-connect/auth
  - TOKEN_URL: https://

[2020-01-31 16:09] cmpickle commented on #7434
For anyone else running into this problem I was able to resolve it by fixing my /etc/fonts/local.conf. The problem was the lines
[code]
This makes it Noto Sans a legal match for all font types. After removing this line postman started to correctly use monospace fonts.

[2020-01-31 18:06] #6945 closed, assigned to sankalp0o

[2020-01-31 18:25] slavafomin opened #7978 "Clear previous response when issuing new request"
Hello!

Thank you for this amazing tool!

However, right now, when you issue a new request by clicking on a "Send" button or pressing Enter, the app continues to show you the previous response even if the request is still being processed.

It would be much better if Postman would clear the previous response right before issuing a new request. This will really help with interactive debugging of the

[2020-01-31 20:23] numaanashraf commented on #7723
Re-opening this issue to investigate further. There should be a way for us to detect this and auto apply any workarounds that's needed.

[2020-01-31 20:23] sarangjaiswal commented on #7977
I am facing the similar issue. I am unable to access the secure cookie via cookieJar and unable able to clear it.

[2020-01-31 20:26] sarangjaiswal commented on #5215
Is there an update on this issue/feature and when will this be fixed?

[2020-01-31 20:53] dante2130 commented on #7844
Reproduced on 3 macOS machines with different hardware. i7 16 Gb Catalina 10.15.1-10.15.2

[2020-01-31 22:38] cooperthompson commented on #5570
Any update on this?  I've also been dealing with Postman being a little too helpful with URL encoding.  Would be nice to turn that off, or at least be able to trust the postman console.

[2020-01-31 22:52] ypolishetty opened #7979 "Edit Current Version Name or Ability to change the version order in the published documentation"
Team,

When I have multiple versions published for documentation, Is there any way I could edit the name of my current version in the published docs? I just want to append a small string to the end like: "Current - SP7".

Thanks,
Yash

[2020-02-01 00:06] JP-from-Postman commented on #6618
Additional thought: allow users to opt out of individual monitor notifications they are subscribed to, beyond weekly summaries. This should be accessible from the email itself.

Currently, if a user is set to receive notifications for a monitor, the only means of opting out is to remove them in the monitor configuration. Actual example of why this can be problematic:
- User A, on Team A, creates a

[2020-02-01 01:18] jcald1 opened #7980 "Postman Pro API: You are not authenticated by the server."
The Postman Pro API Documentation at https://docs.api.getpostman.com/?version=latest#authentication should mention that for custom domains, you should still use `https://api.getpostman.com` instead of your custom domain, otherwise you will get a `{"error":{"name":"authenticationError","message":"You are not authenticated by the server."}}` error.

[2020-02-01 02:06] jcald1 opened #7981 "Postman Pro API Collection Names With Trailing Space"
The following collection comes back to the Postman Pro API client application with trailing space in the name.  However, there is no trailing space in the UI client or web.

{
      id: '64084678-a735-4b2e-9292-163bccfe6eca',
      name: 'BW Media Platform API ',
      owner: '7337586',
      uid: '7337586-64084678-a735-4b2e-9292-163bccfe6eca'
    }

[2020-02-01 05:26] jcald1 opened #7982 "Postman Pro API Support for Getting Global Variables"
There's no API definition in `https://docs.api.getpostman.com/?version=latest#96c34392-1e36-d1cb-af89-1c95365184ab` for submitting a GET to retrieve global variables.  I'm not sure if this is an oversight in the documentation or it needs to be a new feature.

[2020-02-01 12:43] hyp530 commented on #6356
Hi. Have you fixed this issue? I have the same issue on x-mock-request-body for application/json.
It works fine on Postman, but it failed when the request was sent from my web app. I already checked for several times that the body is matched. Not easy to identify the reason.

[2020-02-01 14:20] virenpawar commented on #4716
I came across this issue today because I was facing same. But here's no update since Aug 2018.

[2020-02-01 18:21] kevin-postman commented on #2353
I am happy to report that this issue has been resolved in today's release of 7.17. Please update and give it a try.

[2020-02-01 18:21] #2353 closed, assigned to nobody

[2020-02-02 03:50] Eden-Harris commented on #4009
####  `websocket` API and graphql's `subscription` can not  use,  It ’s already 2020, and I ’m looking forward to supporting websocket.

[2020-02-02 18:16] DRN88 commented on #4687
Don't worry. They are just mining bitcoin... :smiley: (joke)
Same issue here btw. 100% CPU when postman is IDLE.
Even after I close it. I have to kill it from task manager. wtf?

[2020-02-03 04:44] bruce-palmer commented on #7974
I've tried again today and have the same problem as reported above.

In addition I now get an empty list when asking the Postman API for a list of monitors (previously the list was fully populated). I can see the monitors in the Postman UI.

And when I ask the Postman API for a list of workspaces I get a truncated list, not including the ones I belong to. But I can see all of them in the Postman U

[2020-02-03 05:04] shivam-postman commented on #7974
Hi @bruce-palmer, are you still getting the same error message (`Invalid Job filter: user_id`) or a different one?

[2020-02-03 05:12] bruce-palmer commented on #7974
Hi @shivam-postman,

When I try to get the details of a monitor, as per the original post, today I get the following response:

{
    "error": {
        "name": "forbiddenError",
        "message": "You do not have access to this monitor."
    }
}

When I try an get a list of monitors with this call:

https://api.getpostman.com/monitors?apikey={{postman-apikey}}

I get the following response:

{

[2020-02-03 05:35] glglak commented on #5373
same issue still happening
OS:  Windows 10 64
Postman version: app-7.16.0
Troubleshooting:
1- tried deleting local files at local temp folder/re-installing the app
2- tried different versions of postman desktop
3- tried installing postman canary and the problem also happens to it
4- tried to restart OS

from the terminal when I try to start it the error is

`n    at getErrorWithStack (file:///C:/U

[2020-02-03 06:58] #6152 closed, assigned to dhineshwiz, Raja-Simha

[2020-02-03 07:55] corwestermaniddink commented on #1535
In Jmeter you can do this for along time now. With the so called Module Controller and also through a user-interface.

I like the schema way, because then you could also implement a "given-when-then" scenario's in to Postman, what supports the business to understand which testcoverage is in place.

In this topic I read different requests:
1. Just a way to put all requests in main collection(s) and

[2020-02-03 08:14] jpaquit commented on #7969
418 is only available with BREW (or POST) method :)

[2020-02-03 08:26] shivam-postman commented on #7005
@stcalica, any updates from the user?

[2020-02-03 09:01] pro-react233 commented on #6556
Hello,
I am using postman(v7.7.3) and I have got a follow warning when I upload the file to send the body as a form-data.
"This file isn't in your working directory. Teammates you share this request with won't be able to use this file. To make collaboration easier you can setup your working directory in Settings."
How can I solve it?

![pathError](https://user-images.githubusercontent.com/56240288

[2020-02-03 09:10] ptolemys opened #7983 "Curl imports with --data-row will not import the body"
**Curl imports with --data-row will not import the body**

- Curl imports with body specified using -d will get imported successfully
- Curl imports with body specified using --data-row will get imported **without the body**

**To Reproduce**
1. Go to 'Import > Paste Raw Text'
2. Paste a sample curl which contains body specified with --data-row, for example :

    curl --location --request POST 'h

[2020-02-03 09:18] ptolemys commented on #7962
Hi @namrata66sharma -

The link you are using :
https://any-api.com/rottentomatoes_com/rottentomatoes_com/docs/Movie_Lists/BoxOfficeMovieLists
is simply a URL that can open on browser using GET protocol. This is not a valid curl format which Postman recognizes for imports.

You should try importing the following :

`curl -X GET 'https://any-api.com/rottentomatoes_com/rottentomatoes_com/docs/Movie_

[2020-02-03 10:08] shivam-postman commented on #7605
Hi @spatil-scandilabs, the issue should've been fixed now. It'd be great if you could confirm.

[2020-02-03 10:14] #7605 closed, assigned to godfrzero, charlie-postman

[2020-02-03 10:15] #7238 closed, assigned to godfrzero, charlie-postman

[2020-02-03 10:15] appurva21 commented on #7940
Hi @AnaGoulart23,
The fix is available in latest version of the postman app.
You can update your app or can download the latest version from here: https://www.getpostman.com/downloads/

[2020-02-03 10:58] aytchell commented on #6611
This sounds like [multipart/related](https://tools.ietf.org/html/rfc2387) to me which I too would love to see in postman.

[2020-02-03 12:04] marekmueller commented on #7607
+1

[2020-02-03 12:48] vinayakthakar opened #7984 "FTP Access through Postman"
**Scenario:-** I am posting one request to run API through postman and the file is getting created at the FTP server. I am checking the existence of a file on the FTP server location using the WinScp application manually.
**Output:-** The requested run is successful and the file is created on the FTP server on a specified path. We checked this using WinScp.
**Issue:-** I am trying to write a test

[2020-02-03 13:19] VShingala commented on #1906
@jstoiko  Sorry for the confusion.

I have updated [README.md](https://github.com/postmanlabs/raml1-to-postman/tree/feature/readme-update) with your concerns. And `raml1-to-postman` module does have support for ResourceTypes and Traits.

As for the support for Libraries, Annotations  and Overlays/Extensions needs much work.

For now use of Includes may solve some use cases where Libraries might be

[2020-02-03 13:38] ObaidShahid commented on #3418
@leobrines above mentioned solution kept on giving me undefined. See below,
`undefined/api/login`
Here is URL created in pre-request script
`pm.request.url = pm.globals.get("BASE_URL") + pm.request.url;`
Please help.

[2020-02-03 13:43] omarw commented on #4355
These are the headers
![image](https://user-images.githubusercontent.com/6384312/73657935-457fd900-4661-11ea-887d-cab24d20f9fb.png)

[2020-02-03 14:03] ArjunSingh-PM commented on #7237
This feature is available for Enterprise users.

[2020-02-03 14:03] #7237 closed, assigned to charlie-postman